[2019-09-05 15:10] faraimupfuti opened #24469 "cant upload logo & favicon on magento 2.3.2"
**Summary of the issue,**
- i am struggling to upload logo and favicon on my localhost magento 2.3.2

**Information on your environment,**
- i am currently using xampp running on php 7.2 , windows 7

I went straight to the **design_config_form** file and the below lines have the correct formElement values (ImageUploader). eg **field name="head_shortcut_icon" formElement="imageUploader"** AND **fie

[2019-09-05 15:21] JensBourgeois opened #24470 "Out-of-stock options for configurable products are showing up in search and layered navigation results"
### Preconditions (*)
1. Magento version: 2.2.9

### Steps to reproduce (*)
1. On a category page, let's say we are filtering on a certain attribute, size 39 for example.

When clicking on 1 of the resulting products, we cannot see size 39 as one of the options because that simple product is out of stock (or disabled)

### Expected result (*)
1. I expect the resulting product to have the size "39"

[2019-09-05 15:27] JensBourgeois commented on #24470
@magento give me 2.2.9 instance

[2019-09-05 15:27] magento-engcom-team commented on #24470
Hi @JensBourgeois. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-09-05 15:28] faraimupfuti commented on #24469
**Summary of the issue**
- Cannot upload logo on magento 2.3.2

 **Information on your environment**
- WampServer Version 3.1.9 64bit
-Apache 2.4.39
- PHP 7.2
- MYSQL 5.7.26
- localhost
- windows 7

 **Steps to reproduce**
Magento Admin panel -> content -> configuration ->  Luma Theme edit -> Header -> select logo

 **Expected and actual results**
_"A technical problem with the server created an e

[2019-09-05 15:32] simiMart26 commented on #22246
This is issue is still happening on magento 2.3.2

[2019-09-05 15:40] Ashnetn opened #24473 "Error occured when creating new page and entering configurations in magento 2.3.2"
### Summary (*)
Unable to unserialize value. Error: Control character error, possibly incorrectly encoded

### Examples (*)
Error log record number: 873206708532

### Proposed solution

[2019-09-05 15:42] Ashnetn commented on #24473
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-05 15:42] magento-engcom-team commented on #24473
Hi @Ashnetn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-05 15:42] magento-engcom-team commented on #24473
Hi @Ashnetn, here is your [Magento instance](https://i-24473-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24473-2-3-develop.instances.magento-community.engineering/admin](https://i-24473-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 15:48] Ashnetn commented on #24473
vanilla magento instance is not showing any error at all

[2019-09-05 16:00] magento-engcom-team commented on #8020
Hi @hacheni.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [814d849b006b0f94890b4a998820087f70b5e824](https://github.com/magento/magento2/commit/814d849b006b0f94890b4a998820087f70b5e824)
 - [ee9b46dbe7d8653ce770d06e97b6a31016092bc0](https://github.com/magento/magento2/c

[2019-09-05 16:00] #8020 closed, assigned to nobody

[2019-09-05 16:22] magedevel opened #24474 "Method getGroupSortedChildNames when sort_order is not specified on block definition take the last only"
### Summary (*)

If we have a grouped block and we do not specify an order with argument sort_order, only the last block is rendered.
If we specify the same  sort_order for grouped blocks only the last is rendered.
### Envirorment (*)
Magento CE 2.3.1
Nginx
PHP 7.1
Valet +

### Examples (*)

Suppose we have in catalog_product_view.xml a definition like this:
[code]

In our Magento_Catalog::product

[2019-09-05 16:38] shikhamis11 commented on #24448
hello @charliecc07
Thank you for your report Please correct the format of the issue you can check
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-09-05 16:38] shikhamis11 commented on #24469
@magento give me 2.3-develop instance

[2019-09-05 16:38] magento-engcom-team commented on #24469
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-05 16:39] magento-engcom-team commented on #24469
Hi @shikhamis11, here is your [Magento instance](https://i-24469-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24469-2-3-develop.instances.magento-community.engineering/admin](https://i-24469-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-05 16:47] shikhamis11 commented on #24469
hi @faraimupfuti
thank you for you report , It seems this issue is already fixed on the 2.3-develop branch
you can check commit ba69bfec127bed8c39c7d9e7b73d10b54449b158

[2019-09-05 16:47] #24469 closed, assigned to shikhamis11

[2019-09-05 16:50] daniel-ifrim commented on #23357
A basic example of join on table to get the rows in the first table that are not in the second table.
This will demonstrate the bug.

[code]

MySQL dump of the 2 example tables.

[code]

Thank you

CC @hostep

[2019-09-05 16:52] daniel-ifrim commented on #23357
@hostep We should add `AND u.redirect_type=0` too as a `WHERE` condition.
I updated at the end the description of this task.

More than this maybe SQL query performance should be rechecked.

Thank you

[2019-09-05 16:54] shikhamis11 commented on #24473
hi @Ashnetn
Thank you for your report .
can you explain more about the issue you are facing ,with current description of issue I am not able to understand the issue .

[2019-09-05 17:04] allanpaiste commented on #24443
Hi,

The report refers to using Bionic Beaver distribution of Ubuntu which ships with 7.2.X, why you'd use any other version in the context where OS is specified is beyond me.

I guess I should have specified the PHP version that this distribution ships with (7.2.19).

Could we have a discussion about the issue before deciding to close them? There are other tickets that have pointed out the same e

[2019-09-05 17:12] allanpaiste opened #24475 "The php7 feature of using 'self' as return type results in fatal error (on seup:di:compile)"
_(Re-reporting [an issue](https://github.com/magento/magento2/issues/24443) with even simpler steps)_

This report addresses an issue that has been talked about before, but has not yet received a solution that would be viable in the long run as the focus has been mostly on making sure that Magento2 code does not use certain PHP7 features rather than making Framework fully capable of supporting all

[2019-09-05 17:13] allanpaiste commented on #24443
Changed scenario and added more details to the step. Would have gladly updated the steps on this issue if I had a chance before it got moved to DONE.

[2019-09-05 17:17] hostep commented on #23958
@arion-p: if there is no issue tracking your problem, I would suggest you open one 😉
This issue here is indeed something different and not related.

@zw1111: your issue also doesn't sound related, you might find more help here: https://github.com/magento/magento2/issues/23450#issuecomment-520134243

[2019-09-05 17:50] ryanjavens commented on #23159
@ron-jomashop I'm noticing a similar bug on one of my sites as well. For search queries that are still working on your site, did you notice any inconsistent search results before upgrading to 2.3.1? Trying to determine if my two issues are related or not. Thanks!

[2019-09-05 17:55] hostep commented on #17186
@frostblogNet: I can still reproduce this on Magento 2.3.2

Steps:
1. Setup vanilla 2.3.2
2. Create a single category with name 'Category' (in my case it had ID 3)
3. Create an integration with permissions to update categories, activate it and store the authorization key: `abcd` (as an example)
4. Execute:
[code]

Expected:
- To only see the category name updated on the store view level
- To only

[2019-09-05 18:57] mediadiv commented on #14709
I have the same problem with the B2B installation:
Get following message:
 composer require magento/extension-b2b

  [InvalidArgumentException] Could not find a matching version of package magento/extension-b2b. Check the package spelling, your version constraint and that the package is
   available in a stability which matches your minimum-stability (stable).

require [--dev] [--prefer-source] [-

[2019-09-05 20:02] dbroeders commented on #18148
I have the same problem with Mollie no success with updating order status.
Payment Status = Paid --  and the --  Order Status = Pending Payment
I try to change ( $state = Order::STATE_PROCESSING; ) but untill now no success.
Magento 2.3.2 - Mollie 1.5

[2019-09-05 20:24] arion-p commented on #23958
@hostep: there was an issue tracking my problem: this one but it was closed. I may be missing something here but here are the facts:
- @duckchip posted this https://magento.stackexchange.com/a/283837/39637 in response to this thread in magento stackexchange: https://magento.stackexchange.com/questions/281723/magento-2-bulk-actions-not-starting
- Then he created this ticket and the related PR.
- Th

[2019-09-05 21:01] hostep commented on #23958
@arion-p: I can't reproduce the issue from stackexchange or the community forums on a vanilla 2.3.2 installation with a working cronjob and working message queue consumers.

This issue here is for custom written bulk actions, not for the ones included in Magento by default.

So what I suspect is that something is preventing the message queue consumers to spawn somehow, can you read https://github.

[2019-09-05 22:48] magento-engcom-team commented on #24436
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#24437 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [c413b69322f3793313e899df210219a474f0d284](https://github.com/magento/magento2/commit/c413b69322f3793313e899df210219a474f0d284)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-05 22:48] #24436 closed, assigned to eduard13

[2019-09-05 22:48] magento-engcom-team commented on #24387
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24397 by @edenduong in 2.3-develop branch
Related commit(s):
 - [24c022ec67c70ea60dca7e8c9f0b2ed0eada27fd](https://github.com/magento/magento2/commit/24c022ec67c70ea60dca7e8c9f0b2ed0eada27fd)
 - [aaa737920ee5f0d7f2ae6b587d1321ebd2ffcb8f](https://github.com/magento/magento2/commit/aaa737920ee5f0d7f2ae6b587d1321eb

[2019-09-05 22:48] #24387 closed, assigned to edenduong, shikhamis11

[2019-09-05 22:48] magento-engcom-team commented on #2228
Hi @luckyraul. Thank you for your report.
The issue has been fixed in magento/magento2#24336 by @sergey-solo in 2.3-develop branch
Related commit(s):
 - [de8028e3db97d85705500e7c14dd629a40ae08af](https://github.com/magento/magento2/commit/de8028e3db97d85705500e7c14dd629a40ae08af)
 - [781e7bba3d7cd4a90d6b15b6a767f48c1154f0d5](https://github.com/magento/magento2/commit/781e7bba3d7cd4a90d6b15b6a767f4

[2019-09-05 22:48] #2228 closed

[2019-09-05 23:00] arion-p commented on #23958
In my case cron and the consumers are running.
What I did is similar to the stack exchange issue:
- I selected some products in the product grid
- in the actions menu selected 'update'
- updated an attribute and clicked 'save'

This resulted in an entry added in `magento_bulk` but nothing in `magento_operations`. A message is also added in `queue_message'.
Note that I am not using RabbitMQ.

Looki

[2019-09-05 23:44] VivekShingala commented on #20460
Hi @hiren0241

How did you fix this?

[2019-09-06 01:43] olivercastro commented on #8198
@johnny-longneck I've replicated the issue on version 2.2.8. The issue seems to be caused by the zend framework library that is being used that causes the "$" symbol to be used by SGD currency.

[2019-09-06 04:26] ajijshekh123 commented on #24468
Give me @magento give me 2.3-develop instance

[2019-09-06 04:26] magento-engcom-team commented on #24468
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-06 04:27] magento-engcom-team commented on #24468
Hi @ajijshekh123, here is your [Magento instance](https://i-24468-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24468-2-3-develop.instances.magento-community.engineering/admin](https://i-24468-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-06 05:02] ajijshekh123 commented on #24468
@edenduong - I have verified this issue in Magento 2.3 Instance. Please see attached the video:
![Magento Issue](https://user-images.githubusercontent.com/24711761/64401710-c2495f80-d08f-11e9-904e-eae92630e244.gif)

Please let me know if any issue missing in my side. Currently, I don't have to reproduce this issue.

[2019-09-06 05:14] mani513 commented on #24463
Yes, I'm able to reproduce the issue on vanilla Magento instance.

**Preconditions (*)**
In Magento 2.3.2 opensource version, run unit tests with the fresh installation.

**Steps to reproduce**
In Magento 2.3.2 opensource version, run unit tests with the fresh installation.
vendor/bin/phpunit --verbose -c dev/tests/unit/phpunit.xml.dist

**Expected result (*)**
All tests should pass

**Actual resu

[2019-09-06 05:22] RohanHapani commented on #8868
#distributed-cd

[2019-09-06 05:28] edenduong commented on #24468
@ajijshekh123 : Please Check **"Use Auto Generation"** -> after that,  Scroll to Manage Coupon Codes , Export the Coupon Grid

[2019-09-06 05:40] ajijshekh123 commented on #24468
@edenduong - It displays the '404 Error', Functionality should be working as expected result.
**See screenshot:**
![2019-09-06](https://user-images.githubusercontent.com/24711761/64403627-e9eff600-d096-11e9-99c5-694446843f87.png)

[2019-09-06 05:41] magento-engcom-team commented on #24468
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19907` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-06 06:06] edenduong commented on #24468
@ajijshekh123: Yes. Because in this Magento instance, it disable the form key, so 404 error. If the form key is enabled , the error "Redirect to the dashboard" will happen.

[2019-09-06 06:27] tuyennn commented on #12572
@magento give me 2.3-develop instance

[2019-09-06 06:27] magento-engcom-team commented on #12572
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-06 06:28] magento-engcom-team commented on #12572
Hi @tuyennn, here is your [Magento instance](https://i-12572-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-12572-2-3-develop.instances.magento-community.engineering/admin](https://i-12572-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-06 06:32] magento-engcom-team commented on #24468
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19907` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-06 08:12] wltprgm commented on #23001
How is this going? I see that it's at Ready for Dev at Community Backlog

Can you give me an idea how to solve it as a temporary solution?

By the way, why are you being unassigned by @engcom-Bravo ?

[2019-09-06 08:13] wltprgm commented on #13466
I have tried your code, but it is not working. However, I do not know how to debug your code either.

[2019-09-06 08:14] devidas-magento opened #24480 "Rest API error 401 authorization required in magento2 ?"
I am trying to use the Magento 2.3 Rest API, using token authorization. when I try to GET data back from one of the endpoints using the token in an Authorization Bearer heading, I get an HTTP 401 Basic Authentication error. The problem is that the server requires Basic Authentication. In my local project API is working but live site not work API.

### Expected result
All category related array

##

[2019-09-06 08:29] ioweb-gr opened #24481 "email sent using php mail() is sent as domain's system user"
### Preconditions (*)
1. Magento 2.3.0, 2.3.1

### Steps to reproduce (*)
1. Configure email sending but don't use SMTP to send emails. Use php mail() function which is set by default in Magento 2.
2. Create an order
3. Send confirmation mail

### Expected result (*)
1. The email is sent as the email address defined in configuration: for example <sales@example.com>

### Actual result (*)
1. The em

[2019-09-06 08:51] sippsolutions opened #24483 "Parameter $requiredAttributeIds of getUsedProducts() on configurable product type is not used, custom attribute loading does not work"
### Preconditions (*)
1. Magento Version 2.3.2

### Steps to reproduce (*)
1. Try to load custom attribute's value from \Magento\ConfigurableProduct\Model\Product\Type\Configurable::getUsedProducts()
Parameters are $product, $requiredAttributeIds

### Expected result (*)
1. The attributes in $requiredAttributeIds get loaded and their values are accessible after loading

### Actual result (*)
1. Yo

[2019-09-06 09:13] shyam100379 commented on #22243
@engcom-backlog-nazar regarding "HI @Julen10 thank you for you report, this is expected behavior, MC-11034: Enable Paypal Credit option should be disabled/greyed out when a non-US merchant is chosen - Fixed review comments fixed in this commit."
--- I have tried and its not working like that. If we select merchant as US we do have option to disable credit funding option. Since i am from UK, mercha

[2019-09-06 09:14] magento-engcom-team commented on #17186
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19908` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-06 09:19] magento-engcom-team commented on #23512
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19909` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-06 09:36] engcom-Charlie commented on #10087
Hello @ihor-sviziev
Yes, you are right. This issue is fixed(tested on 2.3-develop).

[2019-09-06 09:40] bst2002git opened #24484 "sitemap image URLs has wrong cache path"
I've search into the database for the cache (ID) path and onto the filesystem,
but ID 3e7668b51c2d31ea41d3695bfbe7fa89 is not found

### Preconditions (*)
Magento ver. 2.3.2 & 2.3-develop

### Steps to reproduce (*)
Create sitemap.xml File

### Expected result (*)
https://shop.local/pub/media/catalog/product/cache/394c582e6ac26a409e94a110e9356eac/1/1/1125.main_1.jpg

### Actual result (*)
<url>
	<

[2019-09-06 10:00] bst2002git commented on #24484
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-06 10:00] magento-engcom-team commented on #24484
Hi @bst2002git. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-06 10:00] magento-engcom-team commented on #24484
Hi @bst2002git, here is your [Magento instance](https://i-24484-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24484-2-3-develop.instances.magento-community.engineering/admin](https://i-24484-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-06 10:02] ihor-sviziev commented on #10087
@engcom-Charlie, thank you!
I’m closing this issue

[2019-09-06 10:02] #10087 closed, assigned to nobody

[2019-09-06 10:19] Swahjak commented on #7597
Wow, sad to see that such a critical (framework) issue has been completely ignored since 2018. Especially since the 'preferred' way to use the database is through repositories, which introduce more complex transactions levels. @engcom-Alfa @engcom-Bravo @engcom-Alfa

[2019-09-06 10:23] bst2002git commented on #24484
Image Path in sitemap.xml:
https://i-24484-2-3-develop.instances.magento-community.engineering/pub/media/catalog/product/cache/209978c07816454757b5fa037e09ce14/w/t/wt09-white_main.jpg

Image included in website:
https://i-24484-2-3-develop.instances.magento-community.engineering/pub/media/catalog/product/cache/1d7f890985ae0797e578c8c1324cec15/w/t/wt09-white_main.jpg

[2019-09-06 10:38] Swahjak commented on #7597
We're currently trying to mitigate this issue by using plugins. Warning: these are very early stage tests. This code is by no means meant for a production environment and we don't know what possible other issues / effects this might have.
[code]

[code]

[code]

[2019-09-06 10:43] robert-schmidt commented on #23336
Just to bring this up again, maybe someone else is trying desperately to set up a non-working functionality.

Here's a reply we got from addressing this SSL related issue to your support team (on our Commerce subscription + gold support):

[2019-09-06 10:45] ludwig-gramberg commented on #7597
the rebuilt it, they rushed it and cut one to many corners and now it has come to this.
i'm done with mage2, apart from the framework-level absurdities the frontend is a mess and the pivot to spa wont save it.
complexity on mage2 has gone through the roof and I don't see the payoff for my clients.

[2019-09-06 10:48] allanpaiste commented on #24475
If this one also gets closed, then I'll give up :)

[2019-09-06 10:52] robert-schmidt commented on #23336
@engcom-Delta please reopen this. Thanks.

[2019-09-06 11:09] arion-p commented on #23958
Further update:
I cannot reproduce this on clean 2.3.2 with sample data.

On my normal installation it occasionally works but usually it does not. When it works `magento_operations` is updated much later (probably upon processing the queue message?). I don't know if that makes sense.

I cannot figure out the conditions when it fails and logging is a bit slim. This is clearly something else. I will

[2019-09-06 11:22] magento-engcom-team commented on #24484
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19910` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-06 11:47] engcom-Bravo commented on #24462
Hello @frostblogNet. Probably this issue has been fixed in the develop version. Here is the result we've got while trying to reproduce Your issue:
![api](https://user-images.githubusercontent.com/51680745/64425649-fb47fb00-d0b4-11e9-8a87-6de32eda551c.png)
Would You please try to reproduce the issue on 2.3-develop version too. Thank You.

[2019-09-06 11:58] engcom-Charlie commented on #24475
@allanpaiste i confirm this issue, thanks for contributing!

[2019-09-06 11:59] magento-engcom-team commented on #24475
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19911` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-06 12:04] AndyJAllen commented on #23837
I believe there are multiple issues with the Payment module that need resolved to account for Internet Explorer as well.... For example, in Magento_Payment\templates\transparent\iframe.phtml  its using window.location by itself; but its known that in certain versions of IE it needs to be within an anonymous function to work properly. I've been getting a surprising amount of customers that keep exp

[2019-09-06 12:31] sufyaniksula opened #24486 "Country code coming empty during checkout"
### Preconditions (*)

1. Install Magento version 2.1.8

### Steps to reproduce (*)

1. Select United Arab Emirates as default country
2. Select Saudi Arabia and  United Arab Emirates as allowed countries
3. Register a new user
4. Go to checkout and select a payment method to place an order

### Expected result (*)

1. Order successfully placed

### Actual result (*)

1. Error message comes as "An

[2019-09-06 12:39] engcom-Bravo commented on #24132
@PatrickVisserNZ, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-09-06 12:39] #24132 closed, assigned to engcom-Bravo

[2019-09-06 12:41] Andreabont opened #24487 "Performance degradation using plugins"
## Summary
Hi,

We developed a job that massively create orders, and we had to change the behavior of the core for these orders, so we chose to use the plugin system.

But we had experience a strange performance degradation related to the duration of the job: the speed gradually slow down.

We had try to re-implement the modification with an extension of the core class and a preference statement i

[2019-09-06 13:16] engcom-Bravo commented on #24486
Hello @sufyaniksula, Thanks for applying. Probably this issue has already been fixed in later versions as we can not reproduce it on 2.3-develop version:
![uae](https://user-images.githubusercontent.com/51680745/64430569-34866800-d0c1-11e9-9f44-93459cf49eb4.gif)
Or probably we do miss something when trying to reproduce it? Also would you please try to reproduce it Your self on 2.3-develop version

[2019-09-06 13:19] #24208 closed, assigned to serhiyzhovnir

[2019-09-06 13:25] engcom-Bravo commented on #24208
@dmytro-ch, please create a new feature request issue with the Expected result You are talking about if deem necessary. Thank You.

[2019-09-06 13:35] edenduong commented on #23924
Resolve in PR https://github.com/magento/magento2/pull/23925

[2019-09-06 13:35] #23924 closed, assigned to edenduong

[2019-09-06 13:49] llapgoch opened #24488 "Truncated Values when Indexing Product Attribute as "Multiselect" & Backend Type "Text""
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Create an attribute programatically of backend type text and type multiselect, visible in product listing;

[code]
2. Create a lot of attribute options for this attribute - around 300.
3. Assign all of these attributes to a product.
4. Turn on flat catalog
5. Reindex catalog_product_flat

### Expected result (*)

1.

[2019-09-06 14:42] magento-engcom-team commented on #24430
@rani-webkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-06 15:03] qasimali786 commented on #2815
Save Config Button Not work in magento 2

[2019-09-06 15:04] qasimali786 commented on #2815
All Chages Configuration Button not save

[2019-09-06 15:53] rob-gonz commented on #22094
@engcom-Charlie, I am seeing this issue on Magento 2.3.2 when running the integration unit tests. `dev:run:tests integration` produces:

[code]

[2019-09-06 17:03] iget-master opened #24490 "Broken custom attributes rendering on Shipping Address renderer"
### Preconditions (*)

1. Using Magento 2.3.2
2.Have a Custom Attribute to Address as suggested by https://devdocs.magento.com/guides/v2.3/howdoi/checkout/checkout_new_field.html

### Steps to reproduce (*)
1. Go to checkout, create an address with the custom attribute filled
2. See the rendered address on address list

### Expected result (*)
1. It should print the custom attribute as it used to

[2019-09-06 17:30] rob-gonz commented on #19597
I can also confirm this is an issue with Magento 2.3.2.  The database is AWS Aurora (MySQL 5.6 Compatible).  This is preventing zero-downtime deployments.

[2019-09-06 17:45] muhammedv commented on #5321
I think the core of this issue is lies under `UrlInterface::URL_TYPE_MEDIA` case of `Magento\Store\Model\Store::getBaseUrl` method. It combines **different types** of paths. While `$this->getBaseUrl(UrlInterface::URL_TYPE_WEB, $secure)` is returning a **URL**, $this->filesystem->getUri(DirectoryList::MEDIA) is returning a **file path**.

We need an implementation like `$this->url->getUri(PathList:

[2019-09-06 20:07] andrew-ebsco opened #24491 ""Clear Shopping Cart" button not working in Internet Explorer"
### Preconditions (*)

1. Magento Commerce 2.3.2
2. PHP 7.2.21

### Steps to reproduce (*)

1. Open Magento 2 site in Internet Explorer
2. Add item to the cart
3. Click `Clear Shopping Cart` button

### Expected result (*)

1. All items are deleted from the shopping cart
2. The cart page is refreshed showing no items

### Actual result (*)

1. The page refreshes and all cart items are still in the

[2019-09-06 20:37] ryandiamond23 commented on #24486
@magento give me 2.1.18 instance

[2019-09-06 20:37] magento-engcom-team commented on #24486
Hi @ryandiamond23. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-09-06 20:38] ryandiamond23 commented on #24486
@magento give me 2.3.2 instance

[2019-09-06 20:38] magento-engcom-team commented on #24486
Hi @ryandiamond23. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-09-06 20:38] magento-engcom-team commented on #24486
Hi @ryandiamond23, here is your [Magento instance](https://i-24486-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24486-2-3-2.instances.magento-community.engineering/admin](https://i-24486-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-06 20:49] andrew-ebsco commented on #24491
@magento-engcom-team give me test instance

[2019-09-06 20:50] andrew-ebsco commented on #24491
@magento give me 2.3-develop instance

[2019-09-06 20:50] magento-engcom-team commented on #24491
Hi @andrew-ebsco. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-06 20:51] magento-engcom-team commented on #24491
Hi @andrew-ebsco, here is your [Magento instance](https://i-24491-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24491-2-3-develop.instances.magento-community.engineering/admin](https://i-24491-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-06 20:58] andrew-ebsco commented on #24491
I was able to confirm the issue in a vanilla Magento instance using the `Magento Blank` theme. The Luma theme removes the `Clear Shopping Cart` button.

[2019-09-06 22:14] wd7080 commented on #24317
I have the same problem on Magento 2.3.2. I tested this myself and I found out this:
1. Under my orders, the order appears as complete.
2. Under my downloadable products, the order remains pending and the customer cannot get a download link.

Below is all the related configurations I am currently using and it is in line with Magento 2 documentation.
![Btree1](https://user-images.githubusercontent.

[2019-09-06 23:08] magento-engcom-team commented on #17828
Hi @Sunil-Nethues, @milindsingh.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-95039` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other

[2019-09-06 23:08] #17828 closed, assigned to milindsingh

[2019-09-07 05:56] webkul-deepak commented on #24422
@magento give me 2.3-develop instance

[2019-09-07 05:56] magento-engcom-team commented on #24422
Hi @webkul-deepak. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 05:56] magento-engcom-team commented on #24422
Hi @webkul-deepak, here is your [Magento instance](https://i-24422-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24422-2-3-develop.instances.magento-community.engineering/admin](https://i-24422-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 05:57] webkul-ramakant commented on #24450
@magento i am working on it.

[2019-09-07 05:59] prabhatrawat-webkul commented on #24483
@magento I am  working on this.

[2019-09-07 06:00] prabhatrawat-webkul commented on #24483
@magento give me 2.3-develop instance

[2019-09-07 06:00] magento-engcom-team commented on #24483
Hi @prabhatrawat-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 06:01] magento-engcom-team commented on #24483
Hi @prabhatrawat-webkul, here is your [Magento instance](https://i-24483-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24483-2-3-develop.instances.magento-community.engineering/admin](https://i-24483-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 06:18] prabhatrawat-webkul commented on #24484
@magento i am working on it.

[2019-09-07 06:32] anujwebkul commented on #23447
@magento give me 2.3-develop instance

[2019-09-07 06:32] magento-engcom-team commented on #23447
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 06:33] magento-engcom-team commented on #23447
Hi @anujwebkul, here is your [Magento instance](https://i-23447-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23447-2-3-develop.instances.magento-community.engineering/admin](https://i-23447-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 06:33] vishalverma279 commented on #24365
@magento i am working on it.

[2019-09-07 06:39] prabhatrawat-webkul commented on #24450
@magento give me 2.3-develop instance

[2019-09-07 06:39] magento-engcom-team commented on #24450
Hi @prabhatrawat-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 06:39] magento-engcom-team commented on #24450
Hi @prabhatrawat-webkul, here is your [Magento instance](https://i-24450-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24450-2-3-develop.instances.magento-community.engineering/admin](https://i-24450-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 06:43] MrGangola-Webkul commented on #24409
@magento give me 2.3-develop instance

[2019-09-07 06:43] #24409 closed, assigned to sunilit42

[2019-09-07 06:43] magento-engcom-team commented on #24409
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 06:44] magento-engcom-team commented on #24409
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-24409-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24409-2-3-develop.instances.magento-community.engineering/admin](https://i-24409-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 06:44] webkul-ramakant commented on #24060
@magento i am working on it.

[2019-09-07 07:13] Tripuresh-Kumar-Pandey commented on #23833
@magento give me 2.3-develop instance.

[2019-09-07 07:13] magento-engcom-team commented on #23833
Hi @Tripuresh-Kumar-Pandey. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 07:14] magento-engcom-team commented on #23833
Hi @Tripuresh-Kumar-Pandey, here is your [Magento instance](https://i-23833-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23833-2-3-develop.instances.magento-community.engineering/admin](https://i-23833-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 07:25] anujwebkul commented on #22662
@magento give me 2.3-develop instance

[2019-09-07 07:26] magento-engcom-team commented on #22662
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 07:26] magento-engcom-team commented on #22662
Hi @anujwebkul, here is your [Magento instance](https://i-22662-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22662-2-3-develop.instances.magento-community.engineering/admin](https://i-22662-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 07:31] MrGangola-Webkul commented on #15191
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-07 07:31] magento-engcom-team commented on #15191
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 07:32] magento-engcom-team commented on #15191
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-15191-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15191-2-3-develop.instances.magento-community.engineering/admin](https://i-15191-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 07:40] vishalverma279 commented on #14012
@magento give me 2.3-develop instance

[2019-09-07 07:41] magento-engcom-team commented on #14012
Hi @vishalverma279. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 07:41] magento-engcom-team commented on #14012
Hi @vishalverma279, here is your [Magento instance](https://i-14012-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14012-2-3-develop.instances.magento-community.engineering/admin](https://i-14012-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 07:49] MrGangola-Webkul commented on #23938
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-07 07:49] magento-engcom-team commented on #23938
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 07:49] magento-engcom-team commented on #23938
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-23938-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23938-2-3-develop.instances.magento-community.engineering/admin](https://i-23938-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 08:12] MrGangola-Webkul commented on #22820
@magento-engcom-team give me 2.3-develop instance

[2019-09-07 08:12] magento-engcom-team commented on #22820
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 08:12] magento-engcom-team commented on #22820
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-22820-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22820-2-3-develop.instances.magento-community.engineering/admin](https://i-22820-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 08:14] MrGangola-Webkul commented on #23907
@magento give me 2.3-develop instance

[2019-09-07 08:14] magento-engcom-team commented on #23907
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 08:15] sagarwebkul commented on #23889
give me 2.3-develop instance

[2019-09-07 08:15] magento-engcom-team commented on #23907
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-23907-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23907-2-3-develop.instances.magento-community.engineering/admin](https://i-23907-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 08:16] sagarwebkul commented on #23889
@magento-engcom-team give me 2.3-develop instance

[2019-09-07 08:16] magento-engcom-team commented on #23889
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 08:16] sagarwebkul commented on #23881
@magento-engcom-team give me 2.3-develop instance

[2019-09-07 08:16] magento-engcom-team commented on #23889
Hi @sagarwebkul, here is your [Magento instance](https://i-23889-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23889-2-3-develop.instances.magento-community.engineering/admin](https://i-23889-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 08:16] magento-engcom-team commented on #23881
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 08:17] magento-engcom-team commented on #23881
Hi @sagarwebkul, here is your [Magento instance](https://i-23881-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23881-2-3-develop.instances.magento-community.engineering/admin](https://i-23881-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 08:29] maheshWebkul721 commented on #24259
@magento give me 2.3-develop instance

[2019-09-07 08:29] magento-engcom-team commented on #24259
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 08:30] magento-engcom-team commented on #24259
Hi @maheshWebkul721, here is your [Magento instance](https://i-24259-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24259-2-3-develop.instances.magento-community.engineering/admin](https://i-24259-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 08:33] MrGangola-Webkul commented on #23907
Hello @engcom-Bravo , please look into this issue once again.
After completing above steps, please proceed the following steps and let me know the issue exists or not.

Steps to regenerate (After using coupon once, with checkout with multiple address):
1. Add some items in the cart.
2. Apply the same coupon on the cart.
-- It would not apply as already used once as per "Uses per Customer" limit.
3

[2019-09-07 08:37] maheshWebkul721 commented on #24259
@itwebdev2 @engcom-Bravo , i have followed the same steps, i am not able to reproduce this issue:
1. https://prnt.sc/p2zb2m
2. http://i.prntscr.com/Ftts5I6_R8_pQZlp4o9DtA.png
3. http://i.prntscr.com/NFLBIhEVSc2LYcEH5ekh5g.png

Please check again, and reopen this issue again.
Thanks

[2019-09-07 09:38] ashutoshwebkul commented on #23736
I think this issue is fixed since I am not able to reproduce it then why it is still in open state

[2019-09-07 09:59] MrGangola-Webkul commented on #22841
@magento give me 2.3-develop instance

[2019-09-07 09:59] magento-engcom-team commented on #22841
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 10:00] magento-engcom-team commented on #22841
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-22841-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22841-2-3-develop.instances.magento-community.engineering/admin](https://i-22841-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 10:28] anujwebkul commented on #14645
@magento give me 2.3-develop instance

[2019-09-07 10:28] magento-engcom-team commented on #14645
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 10:28] magento-engcom-team commented on #14645
Hi @anujwebkul, here is your [Magento instance](https://i-14645-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14645-2-3-develop.instances.magento-community.engineering/admin](https://i-14645-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 10:34] anujwebkul commented on #14645
It's working fine with the 2.3-develop branch.

[2019-09-07 10:35] MrGangola-Webkul commented on #22841
Hi @donniesg @amitvishvakarma @vishalsingh777,
I've worked on the reported issue and found out that these fields are appearing on Customer Address Form and shouldn't appear on Customer Registration Form.
As, the fieldset title also says "Name and Address Options", which refers to Customer Registration and Customer Address Options.
@donniesg , As per documentation, its not written that enabling the

[2019-09-07 10:37] MrGangola-Webkul commented on #22820
Unable to regenerate the issue.

[2019-09-07 10:37] #22820 closed, assigned to gulshanchitransh, GovindaSharma

[2019-09-07 11:09] ghost opened #24496 "configurable product's associate are not selected by default for attributes default values"
### Preconditions (*)
Magento 2.3.*

### Steps to reproduce (*)

Create a new attribute
Set "Catalog Input Type for Store Owner" to Dropdown
Set "Scope" to Global.
Add two options to the attribute and set any one among them default.
Create a new configurable product and add new configurations to the product, based on the attribute you've just created.

Go to the product page and you will see that

[2019-09-07 11:29] prabhatrawat-webkul commented on #23205
@magento give me 2.3-develop instance

[2019-09-07 11:30] magento-engcom-team commented on #23205
Hi @prabhatrawat-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 11:30] magento-engcom-team commented on #23205
Hi @prabhatrawat-webkul, here is your [Magento instance](https://i-23205-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23205-2-3-develop.instances.magento-community.engineering/admin](https://i-23205-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 11:36] MrGangola-Webkul commented on #24184
@magento give me 2.3-develop instance

[2019-09-07 11:36] magento-engcom-team commented on #24184
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 11:37] magento-engcom-team commented on #24184
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-24184-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24184-2-3-develop.instances.magento-community.engineering/admin](https://i-24184-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 11:39] donniesg commented on #22841
@MrGangola-Webkul

The documentation clearly states this:-

"The customer account settings determine the **information that is collected during customer registration**, and the experience that customers have during the process. Customer configuration settings include:

Account Scope
Login Landing Page
New Account Options
Name and Address Options
Password Options
Customer Session Lifetime"

In toda

[2019-09-07 11:47] MrGangola-Webkul commented on #22841
@donniesg ,
Please read the documentation properly :
"The customer account settings determine the information that is collected during customer registration, and the experience that customers have during the process." It never states that all the data will be fetched during Customer Registration process.

I also accept that the mobile number should be added to Customer Registration Form. In my cou

[2019-09-07 11:53] Tripuresh-Kumar-Pandey commented on #24417
@magento I am working on it.

[2019-09-07 11:59] dmytro-ch commented on #24250
Closing the current issue, considering it is not relevant since the refactoring of `MailAddress` and `MailAddressConverter` design has been provided:
- 3a90a0f61e953c8b943b8242525e77477cee8455
- 7fd2dc8581ac1722ed5f51671d12a8bc50a63aa2
- 3aabe1926b5b2555200118b73a432ac0c68f9b93

Thank you!

[2019-09-07 11:59] #24250 closed, assigned to nobody

[2019-09-07 12:01] vishaljakhmolawebkul commented on #20413
@magento-engcom-team give me 2.3-develop instance

[2019-09-07 12:01] magento-engcom-team commented on #20413
Hi @vishaljakhmolawebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 12:01] magento-engcom-team commented on #20413
Hi @vishaljakhmolawebkul, here is your [Magento instance](https://i-20413-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20413-2-3-develop.instances.magento-community.engineering/admin](https://i-20413-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 12:04] akashwebkul commented on #24199
@magento give me 2.3-develop instance

[2019-09-07 12:04] magento-engcom-team commented on #24199
Hi @akashwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 12:05] magento-engcom-team commented on #24199
Hi @akashwebkul, here is your [Magento instance](https://i-24199-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24199-2-3-develop.instances.magento-community.engineering/admin](https://i-24199-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 12:07] sagarwebkul commented on #23870
@magento-engcom-team give me 2.3-develop instance

[2019-09-07 12:07] magento-engcom-team commented on #23870
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-07 12:08] magento-engcom-team commented on #23870
Hi @sagarwebkul, here is your [Magento instance](https://i-23870-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23870-2-3-develop.instances.magento-community.engineering/admin](https://i-23870-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-07 12:18] donniesg commented on #22841
@MrGangola-Webkul

Yes. As you have stated, it is about collection of this data during registration. To collect the data during customer registration, the fields have been displayed first. Isn't that what this issue is about in the first place? If the phone number field does not display in the registration form when it is suppose to, the phone number cannot be collected and it is a bug. Don't you

[2019-09-07 12:29] MrGangola-Webkul commented on #22841
@donniesg
The phone number field does not display in the registration form, its appearing on customer address form.
The last 3 options (Telephone, Company and Fax) which are not displaying on registration, as per your raised issue, are used to appear on the Customer Address Form as per configuration settings.

[2019-09-07 12:43] donniesg commented on #22841
@MrGangola-Webkul

The fields appearing in customer address form has nothing to do with the fields are not appearing in the registration form. They are 2 different forms to serve different purposes.

As explained in the issue when I first raised it. The "Name & Address" configurations clearly affects the fields in the registration form. Only the 3 fields does not response correctly. This is eviden

[2019-09-07 12:48] magento-engcom-team commented on #23907
@MrGangola-Webkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-07 13:41] MrGangola-Webkul commented on #22841
@donniesg,
As I commented above, the fieldset title also says "Name and Address Options", which refers to Customer Registration From and Customer Address Form Options both.

The above fields are for Customer Registration form, while below last 3 fields are for Customer Address Form.
Making changes for last 3 options would reflect on Customer Address Form.

[2019-09-07 14:02] benlau87 opened #24507 "After upgrading from Magento 2.2.3 to 2.3.2 some categories are broken in the backend"
### Preconditions (*)

1. Magento Version 2.3.2 (after update)

### Steps to reproduce (*)

1. In Admin Panel click on Catalog -> Categories -> a specific category

### Expected result (*)

1. See Category information and options

### Actual result (*)

1. (only for some categories) error is thrown: "Cannot use string offset as an array"

So it seems that during the update some categories have bee

[2019-09-07 14:31] rani-priya opened #24509 "Not able to update decimal quantity from cart details page."
### Preconditions (*)

1. Magento 2.3.2
2. Php 7.2.12
3. Browser: Chrome

### Steps to reproduce (*)

1. create a product
2. set "Qty uses decimal" to yes
3. add product to cart
4. navigate to cart page and try to update decimal qty

### Expected result (*)

1. quantity should be updated

### Actual result (*)

1. Qty not updating..
![decimalqty](https://user-images.githubusercontent.com/44425160/

[2019-09-07 14:32] konarshankar07 commented on #24507
Hello @benlau87 ,
I think this issue is regarding `url_rewrite` table and not an issue of magento. Please search the `url_rewrite` table for the mention category id (35)
Thanks

[2019-09-07 15:05] edenduong opened #24511 "Click "What 's this" link scroll to the top of page"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend, Store->Configuration, Customer, Persistent Shopping Cart, Enable Persistence to Yes.
2. Go to Frontend, Sign In
3. In Remember me, click "What's this?" link

### Expected result (*)

1. No scroll

### Actual result (*)

1. Scroll to the top of the page

[2019-09-07 15:40] benlau87 commented on #24507
Thanks @konarshankar07 .
I deleted the duplicate entry in the url_rewrite and It fixed the indexing problem. But the described problem here with the category page in the admin panel still persists.

[2019-09-07 16:10] magento-engcom-team commented on #24152
Hi @sudheer-gajjala. Thank you for your report.
The issue has been fixed in magento/magento2#24359 by @Nagamaiah333 in 2.3-develop branch
Related commit(s):
 - [785cdcdfaa618ed77d896dcda5658b17514c61c8](https://github.com/magento/magento2/commit/785cdcdfaa618ed77d896dcda5658b17514c61c8)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-07 16:10] #24152 closed, assigned to sudheer-gajjala, Nagamaiah007

[2019-09-07 16:10] magento-engcom-team commented on #24440
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#24449 by @edenduong in 2.3-develop branch
Related commit(s):
 - [4314d4b10baf74219c1caa8554a4fec50fba7191](https://github.com/magento/magento2/commit/4314d4b10baf74219c1caa8554a4fec50fba7191)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-07 16:10] #24440 closed, assigned to edenduong

[2019-09-07 16:10] magento-engcom-team commented on #23567
Hi @dyuk1987. Thank you for your report.
The issue has been fixed in magento/magento2#24160 by @sunilit42 in 2.3-develop branch
Related commit(s):
 - [1666ce89abb376adf3fbc445d1ed2e868c34ad5c](https://github.com/magento/magento2/commit/1666ce89abb376adf3fbc445d1ed2e868c34ad5c)
 - [5ac00d12a04a07645d61836ec4a8e7a765c34b61](https://github.com/magento/magento2/commit/5ac00d12a04a07645d61836ec4a8e7a76

[2019-09-07 16:10] #23567 closed, assigned to sunilit42, konarshankar07

[2019-09-07 16:10] magento-engcom-team commented on #24441
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#24451 by @konarshankar07 in 2.3-develop branch
Related commit(s):
 - [25a90fbf6befadd85b093d0df9cf804112e9a7ce](https://github.com/magento/magento2/commit/25a90fbf6befadd85b093d0df9cf804112e9a7ce)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-07 16:10] #24441 closed, assigned to konarshankar07

[2019-09-07 16:10] magento-engcom-team commented on #24310
Hi @konarshankar07. Thank you for your report.
The issue has been fixed in magento/magento2#24399 by @edenduong in 2.3-develop branch
Related commit(s):
 - [38cf8d61b3cca8d7e522f92601feccafbb0107b6](https://github.com/magento/magento2/commit/38cf8d61b3cca8d7e522f92601feccafbb0107b6)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-07 16:10] #24310 closed, assigned to edenduong, konarshankar07

[2019-09-07 16:10] magento-engcom-team commented on #24306
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24308 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [b6f2b5cb0a35ade677fb281b488882edd4fc783e](https://github.com/magento/magento2/commit/b6f2b5cb0a35ade677fb281b488882edd4fc783e)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-07 16:10] #24306 closed, assigned to rani-priya

[2019-09-07 16:10] magento-engcom-team commented on #23990
Hi @sdzhepa. Thank you for your report.
The issue has been fixed in magento/magento2#24318 by @konarshankar07 in 2.3-develop branch
Related commit(s):
 - [5f7029d71e06e96d8e5c8a6197ef9343c0151c17](https://github.com/magento/magento2/commit/5f7029d71e06e96d8e5c8a6197ef9343c0151c17)
 - [bd5a0122f9b7bc20f8e236f030b2ca2ced01adb2](https://github.com/magento/magento2/commit/bd5a0122f9b7bc20f8e236f030b2c

[2019-09-07 16:10] magento-engcom-team commented on #5246
Hi @hungvt. Thank you for your report.
The issue has been fixed in magento/magento2#24489 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [e7fb5d79b9ca5559ffc987aed3748aec7bc4f377](https://github.com/magento/magento2/commit/e7fb5d79b9ca5559ffc987aed3748aec7bc4f377)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-07 16:10] #23990 closed, assigned to konarshankar07

[2019-09-07 16:37] tcmax76 commented on #23908
We're experiencing this on our sites, as well. The database solution @sbrendtro fixed our problem accounts for now, but we'd really like a more permanent solution.

[2019-09-07 16:58] magento-engcom-team commented on #24511
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19933` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-07 18:47] seyuf commented on #22353
What worked here:
1. Try to alter `customer_group_id` type to **int(10)** from mysql or your database manager gui.
 Sql should show the origin of the issue i.e (the foreign key preventing the update).
Mine was due to amasty `Cannot change column 'customer_group_id': used in a foreign key constraint 'AMASTY_FPC_LOG_CUSTOMER_GROUP_CUSTOMER_GROUP_CUSTOMER_GROUP_ID' of table 'db.amasty_fpc_log' 2x:xx:

[2019-09-07 19:13] magento-engcom-team commented on #24491
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19934` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-07 21:51] dbartelmus commented on #22043
1. Path to folder is (composer installation):
`vendor/magento/module-offline-payments/etc/config.xml
`
2. Make changes 0 to 1 to activate payment method ex.
`<banktransfer>
  <active>1</active>
   ...`

Then launch command to apply changes:
[code]

Done.

[2019-09-08 01:13] krishprakash commented on #24509
@magento give me 2.3-develop instance

[2019-09-08 01:13] magento-engcom-team commented on #24509
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-08 01:13] magento-engcom-team commented on #24509
Hi @krishprakash, here is your [Magento instance](https://i-24509-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24509-2-3-develop.instances.magento-community.engineering/admin](https://i-24509-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-08 01:19] magento-engcom-team commented on #24509
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19936` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-08 02:13] donniesg commented on #22841
@MrGangola-Webkul

When a user register for an account, what they see on the frontend IS the customer registration form. The documentation describes how the user see the system on the frontend. When the configuration sets that a phone number, company or fax field is to be shown and collected, the correct behavior of the system is to do so for all the collection points of customer information.

As

[2019-09-08 04:30] magento-engcom-team commented on #24490
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19937` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-08 05:19] mateisuica commented on #11028
@haimarlboro just switch back to equalize price ranges.
Equalize product counts causes this error in Magento 2.3.2 with Elasticsearch.

[2019-09-08 07:08] mugua opened #24515 "Warning!!! Taiwan is a region of China, NOT a Country!!! Pls fix this BUG!!!"
As I know, M2.3.2 is shows Taiwan is a Country in List, BUT Taiwan is a region of China, NOT a  Country!!! Pls fix this BUG!!!

[2019-09-08 08:15] magento-engcom-team commented on #24474
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19938` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-08 08:17] dannydamsky opened #24517 "SEO: Category URLs aren't being properly generated for Multi-Store Multi-Language websites."
### Summary (*)
When we insert a category to Magento all of its data gets saved correctly.
When running $category->getData() we can see the correct url_key and url_path properties.
But when we run $category->getUrl() we get the default Magento URL.

This only happens in some categories, and only for some stores.
The data is there, so I don't know what could lead to this issue, but it seems to me t

[2019-09-08 08:56] mugua commented on #24515
You should be: Taiwan, China...

[2019-09-08 09:42] riconeitzel commented on #23628
I do have libsodium 1.0.16 installed and can't run the 2.3.2 installer

[code]

[2019-09-08 15:06] edenduong opened #24518 "API "V1/attributeMetadata/customerAddress/attribute/prefix" and "V1/attributeMetadata/customerAddress/attribute/suffix" can not get options"
API "V1/attributeMetadata/customerAddress/attribute/prefix" and "V1/attributeMetadata/customerAddress/attribute/suffix" can not get options

The reason because Prefix and Suffix **get the Option from SYSTEM CONFIG**, not in SOURCE

### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend, Store->Configuration. Customer Configuration.

In "Name and Address Options

[2019-09-08 16:45] magedevel opened #24520 "Method _saveLinks on class Magento\CatalogImportExport\Model\Import\Product remove all links not only the related, upsell, crossell"
### Preconditions (*)

1. Magento 2.3.2
2. Php 7.2
3. Local Env with Nginx and Valet + on Mac Os 10.14.6

### Steps to reproduce (*)

1. Create grouped product with simple associated
2. Add related product to the grouped product
3. Create and export CSV using the Magento export functionality
4. Change the grouped product description
5. Import the exported CSV with the Magento import functionality

[2019-09-08 17:33] dmytro-ch commented on #24518
@magento give me 2.3-develop instance

[2019-09-08 17:33] magento-engcom-team commented on #24518
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-08 17:34] magento-engcom-team commented on #24518
Hi @dmytro-ch, here is your [Magento instance](https://i-24518-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24518-2-3-develop.instances.magento-community.engineering/admin](https://i-24518-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-08 17:40] magento-engcom-team commented on #24518
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19939` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-09 06:37] engcom-Charlie commented on #22094
Hello @rob-gonz !
I can't reproduce your issue on Magento 2.3.2.
My result(test in module-catalog-inventory):

[code]

[2019-09-09 07:18] svitja commented on #23205
@prabhatrawat-webkul @shikhamis11 The internal issue MC-17790 - already fixed and waiting for delivery.

[2019-09-09 07:24] shikhamis11 commented on #24448
@charliecc07 I am closing this issue due to inactivity ... feel free to reopen this after correcting the issue description

[2019-09-09 07:24] #24448 closed, assigned to shikhamis11

[2019-09-09 07:39] grosoasap opened #24521 "Product Details Page Image not showing after changes in breadcrumbs too"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-09-09 07:47] Sental opened #24522 "Cannot Create Credit Memo On Order With No Postal Code"
### Preconditions (*)
1. Magento 2.3.2
2. An order created using a country that does not require a postcode. ie. Ireland

### Steps to reproduce (*)
1. Create an order from a country without the postcode requirement, for example Ireland
2. Omit the postcode when creating/choosing the addresses for the order
3. Proceed through the system in the admin console to create a credit memo.

### Expected r

[2019-09-09 07:52] shikhamis11 commented on #24522
@magento give me 2.3-develop instance

[2019-09-09 07:52] magento-engcom-team commented on #24522
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-09 07:52] magento-engcom-team commented on #24522
Hi @shikhamis11, here is your [Magento instance](https://i-24522-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24522-2-3-develop.instances.magento-community.engineering/admin](https://i-24522-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-09 07:53] grosoasap commented on #24521
![Capture](https://user-images.githubusercontent.com/54885657/64512890-0002ee00-d305-11e9-9cca-f3eb1abbe683.PNG)
Not showing product image

[2019-09-09 07:54] shikhamis11 commented on #24521
hello @grosoasap
Thank you for your report. Please correct the format of the issue you can check
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-09-09 08:04] shikhamis11 commented on #24522
Hi @Sental
Thank You for reporting the issue, I checked on magento 2.3-develop instance and placed order with check/Money order and after invoice tried refund , but I am not able to reproduce the issue. Can you confirm are you getting this issue on 2.3-develop instance.

also Please update issue description if it require any additional steps to reproduce the issue .

[2019-09-09 08:05] Sental commented on #24522
@magento give me 2.3-develop instance

[2019-09-09 08:06] magento-engcom-team commented on #24522
Hi @Sental. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-09 08:06] magento-engcom-team commented on #24522
Hi @Sental, here is your [Magento instance](https://i-24522-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24522-2-3-develop.instances.magento-community.engineering/admin](https://i-24522-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-09 08:17] Sental commented on #24522
I am not able to reproduce this on the develop instance. Possibly this was fixed in develop and has not been added to the currently released branch yet.

[2019-09-09 08:17] #24522 closed, assigned to shikhamis11

[2019-09-09 09:05] Naberdz opened #24524 "Category path error"
### Preconditions (*)

1. Magento 2.3.2
2. php 7.2

### Steps to reproduce (*)

1.Create sub category, click add new sub category and so on... so basicaly you create sub sub sub sub sub category
2.Drag last created category to it's parent sub

### Expected result (*)

1. Category path should change based on position of category
2.<img width="258" alt="Schermafbeelding 2019-09-09 om 10 58 42" src="

[2019-09-09 09:10] PathToLife commented on #18148
This is was my fix at the start of the year:
https://github.com/magento/magento2/pull/20870/commits/8c26699dcf9a659c6976fb66329a46781657d90a

@@ -298,6 +298,8 @@ protected function _registerPaymentCapture($skipFraudDetection = false)
$this->_order->setStatus($this->_order->getConfig()->getStateDefaultStatus(
            \Magento\Sales\Model\Order::STATE_PROCESSING));

No sure why travis failed on

[2019-09-09 09:11] shikhamis11 commented on #24524
@magento give me 2.3-develop instance

[2019-09-09 09:11] magento-engcom-team commented on #24524
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-09 09:12] magento-engcom-team commented on #24524
Hi @shikhamis11, here is your [Magento instance](https://i-24524-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24524-2-3-develop.instances.magento-community.engineering/admin](https://i-24524-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-09 09:13] huuquyasb opened #24525 "Cannot load and execute third party .js in .phtml"
### Preconditions (*)
1. Magento 2.3.2  & 2.3-develop
### Steps to reproduce (*)
 1 .Added  into `header.phtml`
`<div class="zalo-share-button" data-href="https://magento.com/" data-oaid="579745863508352884" data-layout="2" data-color="blue" data-customize=false></div>`
And
`<script src="https://sp.zalo.me/plugins/sdk.js"></script>`

### Expected result (*)
1. Iframe created
for example:
https://c

[2019-09-09 09:14] Naberdz commented on #24524
from what i understand problem lies within:
catalog_category_entity_varchar table field value is not updated.

table catalog_category_entity has correct path.

[2019-09-09 09:15] anajoomi commented on #24517
missing  info is added in original message.

[2019-09-09 09:15] magento-engcom-team commented on #24517
Hi @anajoomi. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-09 09:16] magento-engcom-team commented on #24517
Hi @anajoomi, here is your [Magento instance](https://i-24517-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24517-2-3-develop.instances.magento-community.engineering/admin](https://i-24517-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-09 09:21] shikhamis11 commented on #24524
@Naberdz Thank you for your report.
I checked the issue at 2.3-develop instance but not able to reproduce there can you recheck and confirm the issue on 2.3-develop instance . also If possible please share screenshots

[2019-09-09 09:27] engcom-Charlie commented on #24515
Hello @mugua !
Both the ROC and the PRC still officially (constitutionally) claim mainland China and the Taiwan Area as part of their respective territories. In reality, the PRC rules only Mainland China and has no control of but claims Taiwan as part of its territory under its "One China Principle".
https://en.wikipedia.org/wiki/Taiwan,_China
Taiwan is an independent state.
So i close this issue.

[2019-09-09 09:27] #24515 closed, assigned to engcom-Charlie

[2019-09-09 09:31] Naberdz commented on #24524
Yes tested it in new developer version and it seem to be working fine.. in my case it doesn't create redirect.

<img width="920" alt="Schermafbeelding 2019-09-09 om 11 23 42" src="https://user-images.githubusercontent.com/37579149/64519822-3173bd80-d2f5-11e9-82ed-4a973ea39af3.png">
<img width="1190" alt="Schermafbeelding 2019-09-09 om 11 24 29" src="https://user-images.githubusercontent.com/375791

[2019-09-09 09:38] shikhamis11 commented on #24524
It seems this issue is already fixed in latest magento 2.3 version or It is caused by any custom development at your end.

[2019-09-09 09:47] Naberdz commented on #24524
i guess it's fixed in latest .. as it seem i have 2.3.1 thought i have it updated to 2.3.2.

[2019-09-09 09:47] #24524 closed, assigned to shikhamis11

[2019-09-09 10:13] engcom-Bravo commented on #24496
Works fine on Backend.

[2019-09-09 10:25] magento-engcom-team commented on #24496
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19940` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-09 10:26] ghost opened #24526 "quote_item.applied_rule_ids not updated after disabling cart price rule"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Create new rule
2. Add product to cart
3. Disable rule
4. Reload cart

### Expected result (*)

1. quote_item.applied_rule_ids should be NULL

### Actual result (*)

1. quote_item.applied_rule_ids contains disabled rule ID

[2019-09-09 10:43] engcom-Bravo commented on #24520
Hello @magedevel. This issue seems to have already been fixed as we can not reproduce it in the latest develop version. Would You please try to reproduce it Yourself on 2.3-develop version. Thank You.

[2019-09-09 10:47] priti2jcommerce commented on #24526
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-09 10:47] magento-engcom-team commented on #24526
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-09 10:47] magento-engcom-team commented on #24526
Hi @priti2jcommerce, here is your [Magento instance](https://i-24526-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24526-2-3-develop.instances.magento-community.engineering/admin](https://i-24526-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-09 10:58] Priya-V-Panchal commented on #11526
Has anyone found a permanent solution of this issue?

[2019-09-09 11:05] engcom-Bravo commented on #24526
Sometimes applied_rule_ids are annulled but only after one has proceeded to payment method page. Though even in that case the annulment happens not always.

[2019-09-09 11:05] magento-engcom-team commented on #24526
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19941` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-09 11:27] engcom-Bravo commented on #23908
@santhoshnsscoe, do I miss something:
![order](https://user-images.githubusercontent.com/51680745/64527114-bff43900-d30d-11e9-9454-da61e46761b9.gif)
? Thank You.

[2019-09-09 11:28] avoelkl commented on #8754
I can confirm this is still an issue in Magento 2.3.2

Field separator: ;
Multiple value separator: |

With this combination configurable attributes are not imported correctly.

[2019-09-09 11:34] Kipperlenny commented on #23156
Please don't forget the wrongly closed ticket https://github.com/magento/magento2/issues/8754 with a similar problem (Pipe Seperator)

[2019-09-09 12:00] mdruguet opened #24527 "Base Image Labels are not being imported in multiple store view Magento CE & EE 2.3.x"
### Preconditions (*)

1. Magento EE 2.3.x & 2.3.x CE

### Steps to reproduce (*)

1. Create multiple store view
2. Create a csv file to import base images associated to a product and their labels (each label image must be different by store view, for example label 1 for store uk, label 2 for store fr)
3. Import

### Expected result (*)

1. Each image label must be different by store view

### Act

[2019-09-09 12:40] engcom-Charlie commented on #24481
Hello @ioweb-gr !
I can't reproduce this issue on Magento 2.3.2 & 2.3-develop.
My result:
![image](https://user-images.githubusercontent.com/51680850/64531392-0c447680-d318-11e9-80da-16f97b6b7df9.png)
So i have to close this issue.

[2019-09-09 12:40] #24481 closed, assigned to engcom-Charlie

[2019-09-09 12:47] Akki-8388 commented on #23517
Hello @sdzhepa ,

Is there any update regarding this issue, I get same issue when i upgrade site from 2.2.0 to 2.3.2?

[2019-09-09 12:51] dankhrapiyush commented on #24385
@ajijshekh123 Please read the issue first.
I confirmed the issue in Magento 2.3.2 as well.

The problem is under **My Downloadable Products** section, the status remains 'Pending' instead of 'Available'.

[2019-09-09 12:53] mani513 commented on #24463
Hi @magento-engcom-team ,
Can you please help me to resolve my above errors.

[2019-09-09 12:54] ajijshekh123 commented on #24385
Sorry @dankhrapiyush, It was my mistake. Let me check again and verify the issue.

[2019-09-09 12:55] ajijshekh123 commented on #24385
Give me @magento give me 2.3-develop instance

[2019-09-09 12:55] magento-engcom-team commented on #24385
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-09 12:56] magento-engcom-team commented on #24385
Hi @ajijshekh123, here is your [Magento instance](https://i-24385-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24385-2-3-develop.instances.magento-community.engineering/admin](https://i-24385-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-09 12:57] magento-engcom-team commented on #24525
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19942` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-09 13:06] ioweb-gr commented on #24481
@engcom-Charlie OK that's very interesting because I have seen it in at least 5 different PLESK and CPanel installations using the default magento installation. I would like to detect the reason this is happening so we could troubleshoot further and reproduce it.

Could you provide me some info on the test environment you used?
What type of OS is used to host the instance and which MTA was used?

[2019-09-09 13:23] ajijshekh123 commented on #24385
@dankhrapiyush - I have verified 'My Downloadable Product' Page, I have followed the same steps which you are added.
Place an Order using Paypal and Check Money order.

See the attached screenshot:
![2019-09-09 (1)](https://user-images.githubusercontent.com/24711761/64534391-027c3c80-d333-11e9-941f-ebddba25253a.png)
![2019-09-09](https://user-images.githubusercontent.com/24711761/64534393-0314d300

[2019-09-09 13:23] #24385 closed, assigned to ajijshekh123

[2019-09-09 13:33] engcom-Charlie commented on #24481
@ioweb-gr my environment: Ubuntu 16.04, PHP 7.2, Postfix .
probably this issue is fixed in 2.3.2 and lastest version of magento( i can't confirm issue if it’s not for 2.3.2 & 2.3-develop).

[2019-09-09 13:34] magento-engcom-team commented on #24517
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19943` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-09 13:38] ioweb-gr commented on #24481
OK so it should be similar environment. I will try with 2.3.2 and confirm if it persists on a Debian 9 system so we can retake a look at  this.

[2019-09-09 13:43] engcom-Charlie commented on #24481
@ioweb-gr okay.

[2019-09-09 14:30] fsw commented on #24475
I have no time to properly test this, but I am 99% sure this would fix this issue:
https://github.com/magento/magento2/issues/22769#issuecomment-499387177

[2019-09-09 14:54] delgor opened #24528 "Mail line length too long, breaks DKIM signature"
E-Mails sent by Magento are generated with too long lines for HTML content, which leads to further problems during processing by an DKIM-enabled E-Mail stack.
The maximum line length for a mail is defined in http://www.rfc-editor.org/rfc/rfc5322.txt

### Preconditions (*)

1. Magento CE 2.3.2
2. A DKIM-enabled E-Mail setup. I've used sendmail-mta together with opendkim. Setup instructions can be f

[2019-09-09 15:13] tcmax76 commented on #23908
We had three more records show up in the quote table since Saturday marked with 1 for "customer_is_guest" but also had a customer_id entered (which seems to cause the error). I don't know if this makes a difference, but all three of them had more than an hour between the quote's 'created_at' datetime and the quote's 'updated_at' datetime.

[2019-09-09 15:34] engcom-Charlie commented on #22094
@rob-gonz thanks, I know(uploaded the wrong screenshot). After this i run integration test aтв there was no mistake.

[2019-09-09 15:34] philippeaellig opened #24531 "Line length is too long in emails"
# Preconditions (*)
Magento 2.2.8 in production mode. Use production mode to reproduce this bug, because only in this case, less code will compiled and minimized to one line.

### Steps to reproduce (*)
Send an email with the default magento header.
vendor/magento/module-email/view/frontend/email/header.html
Have a look at the source code of the mail.
The line with the rendered css from css/email.

[2019-09-09 15:50] rakeshdonga commented on #15209
hello
i have same issue facing any update?
Thanks!!!

[2019-09-09 15:57] tcmax76 commented on #23908
Actually, there seems to be a correlation between these quotes that are erroring and having the 'is_persistent' column checked. We don't have a whole lot of quotes marked 'is_persistent', but all of the ones that include a customer_id while also marked 1 for 'customer_is_guest' (ie, the ones that seem to be causing this error) are marked as 'is_persistent'.

[2019-09-09 18:29] chlignell commented on #21456
We are experiencing the same issue. Shipping tax is not discounted when using a discount code. Have anyone solved this one yet?

[2019-09-09 19:06] MichaelThessel opened #24535 "Negative prices in layered navigation"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Re-reporting https://github.com/magento/magento2/issues/14443 as this has been closed but is not fixed.
2. Multi store setup, different discounts for different stores.

### Expected result (*)

1. Layered navigation shows correct price ranges

### Actual result (*)

1. Layered navigation shows negative price ranges
![20190909_115604](

[2019-09-09 19:44] ioweb-gr commented on #24481
@engcom-Charlie yes it seems it's not existent in 2.3.2 . Thanks for taking a look at it

[2019-09-09 20:04] dbroeders commented on #18148
I have had a nice talk with a expert from Mollie today - and now it works like a charm.

https://redirectdetective.com  -- check if your website is redirecting good. (that is in 1 hop)

Our nginx redirected www to non www -- and afterwards redirect again to https.
The webhook return from Mollie fails if there are too many redirects.

[2019-09-09 21:17] slavvka commented on #22388
Guys, according to the response from our PO this is not a bug:

[2019-09-09 21:17] #22388 closed, assigned to GovindaSharma, hiren0241

[2019-09-10 00:23] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-09-10 00:23] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-10 00:24] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-10 00:32] qwerty7869 commented on #24463
Hi @magento-engcom-team

I am also facing this same issue. Could you please help us to resolve this issue.

[2019-09-10 03:52] WinstonN commented on #5724
@magento-engcom-team could you post an update on this issue please
As of 2.2.9 default if I set my locale in my admin account, to dd/mm/YYYY and using the date picker in the grid filters, filter by a date, the date that the picker populates in the input is right, but the filter on the collection is wrong. Filters by mm/dd/YYYY instead of dd/mm/YYYY

[2019-09-10 04:15] santhoshnsscoe commented on #23908
I checked with base Magento installation, it is working fine. So, there is some problem in either external modules or some settings. Will test completely and will update here.

[2019-09-10 05:46] mertgokceimam commented on #23908
Make sure to enable persistant cart

[2019-09-10 06:09] s00071609 commented on #15545
Any solution found so far?
Version 2.3.1 & 2.3.2 seem to have this issue. The serach_temp_xxxx query never completes.

[2019-09-10 06:31] magento-engcom-team commented on #24266
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20081` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-10 07:08] engcom-Charlie commented on #24507
Hello @benlau87
We are not able to reproduce this issue(about errors in category pages) on the lates 2.3-develop branch by provided steps.
So i close this issue.
Thanks for your report!

[2019-09-10 07:08] #24507 closed, assigned to engcom-Charlie

[2019-09-10 07:14] soundararajanm1990 commented on #21885
@kevinvuillemin  Your code not working in Magento version : 2.3.1

[2019-09-10 07:17] kevinvuillemin commented on #21885
Working with 2.3.2

[2019-09-10 07:19] soundararajanm1990 commented on #21885
yes we used 2.3.1 not working

[2019-09-10 08:08] Asifjalil99 opened #24536 "when i add product in magento 2 from iphone the product image change to landscape"
### Preconditions (*)
1. Using magento 2.3.0(reproduced on 2.3-develop) login to admin and adding products image take live from iphone camera
2. save it.
3. the product image is sudden change to landscape

### Steps to reproduce (*)
1. checked fotorama.js but not working
2. uploaded save image to product is ok, but when take direct from iphone camera its rotated to landscape and if added landscape

[2019-09-10 08:16] magento-engcom-team commented on #24430
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20082` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-10 08:18] engcom-Charlie commented on #24536
@magento give me 2.3-develop instance

[2019-09-10 08:18] magento-engcom-team commented on #24536
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-10 08:19] magento-engcom-team commented on #24536
Hi @engcom-Charlie, here is your [Magento instance](https://i-24536-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24536-2-3-develop.instances.magento-community.engineering/admin](https://i-24536-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-10 08:43] bhavik43 opened #24537 "Remove tax rule popup not same as per other default popup"
Remove tax rule popup not same as per other default popup.

### Preconditions (*)
Magento 2.3.2

### Steps to reproduce (*)
1. Admin -> Store -> Taxes ->  Tax Rules -> Add new Tax Rules
2. Tax Rate -> Click on Delete icon any tax rule
3. Review the popup

 ### Expected result (*)
Remove popup design should same throughout the back end

### Actual result (*)
![image](https://user-images.githubuserc

[2019-09-10 08:45] krishprakash commented on #24537
@magento give me 2.3-develop instance

[2019-09-10 08:45] magento-engcom-team commented on #24537
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-10 08:45] engcom-Charlie commented on #24536
Hello @Asifjalil99
I can't reproduce this issue on fresh 2.3-develop instance.
Did you tried in this instance?
**My results(iphone):**
**1. In admin:**
**wysiwyg editor:**
![image](https://user-images.githubusercontent.com/51680850/64597798-25ecc900-d3bf-11e9-9c61-a5a12bc595c4.png)
**product image:**
![image](https://user-images.githubusercontent.com/51680850/64597822-38ff9900-d3bf-11e9-8f3d-a0e41

[2019-09-10 08:45] magento-engcom-team commented on #24537
Hi @krishprakash, here is your [Magento instance](https://i-24537-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24537-2-3-develop.instances.magento-community.engineering/admin](https://i-24537-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-10 08:56] magento-engcom-team commented on #24537
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20083` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-10 08:57] Asifjalil99 commented on #24536
can you just tel me the file path then i can fix it by my self :) i need only file location

[2019-09-10 09:10] Asifjalil99 commented on #24536
@engcom-Charlie check this i have taken photo from iphone and added and check the result its change to landscape.
![image](https://user-images.githubusercontent.com/35948773/64600523-b4b81080-d3d4-11e9-81c1-73c3a3c812c3.png)

[2019-09-10 09:13] magedevel commented on #24520
ok i will check @engcom-Bravo

[2019-09-10 09:37] engcom-Charlie commented on #24536
@Asifjalil99 jush click "inspect the element" into img and you will see path to your img:
![image](https://user-images.githubusercontent.com/51680850/64602547-a9aab380-d3c7-11e9-8aeb-6751df309de2.png)

[2019-09-10 09:44] pradeepnew commented on #15545
I am using magento 2.3.2 and I have removed query in mysql using kill process but after some time its showing again query search_tmp_xxxx.
Please update any solution for this

[2019-09-10 09:49] Asifjalil99 commented on #24536
@engcom-Charlie i am not talking about image path, i am talking about coding file path, because this picture is taking in Portrait style and when added to product its automatic changed to landscape i want to fix this, so that the Portrait image show in Portrait style and Landscape should show in landscape, Just try to add a new product and try to add image direct taken from iphone camera in portra

[2019-09-10 10:03] magento-engcom-team commented on #23907
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20084` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-10 10:27] Asifjalil99 commented on #24536
i thing the problem is in EXIF metadata magento 2 not ready it correctly

[2019-09-10 10:44] gwharton commented on #24531
Fixed in 2.3-develop

[2019-09-10 10:47] gwharton commented on #24528
Already fixed in 2.3-develop. Scheduled for 2.3.3 release

[2019-09-10 10:47] #24528 closed, assigned to delgor

[2019-09-10 10:48] gwharton commented on #24531
Will be in 2.2.10 release

[2019-09-10 10:48] #24531 closed, assigned to edenduong

[2019-09-10 10:51] gwharton commented on #24528
See PR #23649

[2019-09-10 10:51] gwharton commented on #24531
See PR #23650

[2019-09-10 11:12] engcom-Bravo commented on #24259
@maheshWebkul721 if You want to reproduce the issue take a fresh vanilla install of Magento and just follow steps to reproduce. You may add the product via admin. Do not create categories at all. Here is what I've got for an instance just has been cloned from GitHub 2.3-develop version and installed.
![wrongurl](https://user-images.githubusercontent.com/51680745/64608925-66a30d00-d3d4-11e9-80d7-77

[2019-09-10 11:13] magento-engcom-team commented on #24259
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-10 11:13] magento-engcom-team commented on #24259
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20085` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-10 11:20] engcom-Charlie commented on #24536
@Asifjalil99 ok, i understand you. Please update your issue(use it:https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and i will confirm it.

[2019-09-10 11:25] fluential commented on #24428
I am having similar issue when upgrading from 2.2.3 db to 2.3.2, the issue is that
vendor/dotmailer/dotmailer-magento2-extension/Setup/InstallSchema.php is not invoked during `setup:upgrade` similar issue here https://stackoverflow.com/questions/37745246/magento-2-installschema-not-being-executed @fanglexue

[2019-09-10 11:33] Asifjalil99 commented on #24536
@engcom-Charlie  i already updated my issue with screenshot please i need urgent solution of this its very very urgent. many thanks

[2019-09-10 11:45] magento-engcom-team commented on #24536
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20086` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-10 11:50] Asifjalil99 commented on #24536
respected magento team
how much time it will take to resolve the issue, as this is very urgent work and i need this to done today waiting for your positive response :)
many thanks

[2019-09-10 12:11] DominicWatts commented on #11913
I've got this error on a dev box after manually hacking `store_website` db table and setting multiple as `is_default` = 1

[2019-09-10 12:22] AlexWorking commented on #22820
@singhabhinay, I have rechecked the issue. It is easily reproduced on, for example, 2.3.2 (You reported it on 2.3) but in the latest develop version it is reproduced no more. You can check it Yourself. So most likely the issue has been fixed.

[2019-09-10 12:25] vk-chts commented on #2666
Your image name should not have space or any special character to make it upload

[2019-09-10 13:01] vishnunath-krs commented on #24433
@engcom-Bravo  which is shown correct. but i am facing the error on shipment page. should i need to pull your code?

[2019-09-10 13:55] dhvanit121288 commented on #16867
Have anyone find solution ? i am facing this issue in magento 2.2.4

[2019-09-10 13:56] ryandiamond23 commented on #24537
@magento give me 2.3.2 instance

[2019-09-10 13:56] magento-engcom-team commented on #24537
Hi @ryandiamond23. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-09-10 13:57] magento-engcom-team commented on #24537
Hi @ryandiamond23, here is your [Magento instance](https://i-24537-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24537-2-3-2.instances.magento-community.engineering/admin](https://i-24537-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-10 14:10] llapgoch commented on #24488
@magento give me 2.3-develop instance

[2019-09-10 14:10] magento-engcom-team commented on #24488
Hi @llapgoch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-10 14:11] magento-engcom-team commented on #24488
Hi @llapgoch, here is your [Magento instance](https://i-24488-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24488-2-3-develop.instances.magento-community.engineering/admin](https://i-24488-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-10 14:30] sdzhepa commented on #24426
@magento give me 2.3-develop instance

[2019-09-10 14:30] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-10 14:31] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-10 14:31] bartoszkubicki commented on #19712
Ok, we have workaround for this, but is it safe? @orlangur @magento-engcom-team ?
I understand, that we disable csrf validation, so it always passes, but how should we protect in such case? How to work for example with some payment provider? For example we should build it some custom hash on server side send it with our request to external site and receive it back with coming-back request?

[2019-09-10 14:40] chris-pook commented on #19710
Here is a breakdown of the reason this is happening from a code perspective. From what I can see the root cause is the change to the way the product image URL cache hash is generated. In Magento version 2.3 the way the hash is generated has changed and it is NOT backwards compatible. It seems this should have been mentioned in https://devdocs.magento.com/guides/v2.3/release-notes/backward-incompat

[2019-09-10 15:03] hostep commented on #19710
@chris-pook: this sounds so familiar, basically they learned nothing from [their mistake](https://github.com/baldwin-agency/magento2-module-magento-216-image-resize-migration-helper) made in Magento 2.1.6 which was then luckily reverted again in 2.1.7 🙁

Is it then also so that when requesting non-existing files, they aren't getting generated on the fly anymore? You actually need to manually gener

[2019-09-10 15:18] AlexWorking commented on #22841
@MrGangola-Webkul I may agree with You there is no strict bug by the logic - there is nowhere in User Guide sad which fields exactly should get to registration form. But anyway there's quite a considerable bug in UI/UX. Please look once more at this:
![fields](https://user-images.githubusercontent.com/27814011/64618896-cce65a80-d3e9-11e9-81ce-f02957fdad07.png)
All of these fields represent the ent

[2019-09-10 15:34] magento-engcom-team commented on #22841
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20089` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-10 15:41] chris-pook commented on #19710
Hi @hostep , the images should re-generate on the fly (albeit not ideal). What I've written above is just the reasoning for the image not being served direct from where it has been cached since before the upgrade. It does seem that numerous merchants with missing images are having issues with the auto regeneration in conjunction with this hash issue. I suspect most of these boil down to server con

[2019-09-10 15:45] magento-engcom-team commented on #24366
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#24380 by @GDauer in 2.3-develop branch
Related commit(s):
 - [48ae1fcf80d4b39df2e0699fcc3442f35bf3b299](https://github.com/magento/magento2/commit/48ae1fcf80d4b39df2e0699fcc3442f35bf3b299)
 - [cc78567557c3dedd20c26039b59c041e6c3321d2](https://github.com/magento/magento2/commit/cc78567557c3dedd20c26039b59c041e6c33

[2019-09-10 15:45] #24366 closed, assigned to nobody

[2019-09-10 15:45] magento-engcom-team commented on #23890
Hi @katesuykovskaya. Thank you for your report.
The issue has been fixed in magento/magento2#24077 by @arushibansal013 in 2.3-develop branch
Related commit(s):
 - [7170102b50c589b4bc92ca4125afd906dcf4e559](https://github.com/magento/magento2/commit/7170102b50c589b4bc92ca4125afd906dcf4e559)
 - [87732f34eb8ee030147c7f12d6ee66f3044493a1](https://github.com/magento/magento2/commit/87732f34eb8ee030147c

[2019-09-10 15:45] #23890 closed, assigned to arushibansal013

[2019-09-10 15:45] magento-engcom-team commented on #16852
Hi @zeeshan2523806. Thank you for your report.
The issue has been fixed in magento/magento2#21424 by @novikor in 2.3-develop branch
Related commit(s):
 - [e79e57be45d798763728e4449443616df07cda5a](https://github.com/magento/magento2/commit/e79e57be45d798763728e4449443616df07cda5a)
 - [a8ec393227a5aeca1ba9aca5c33064cd6e3d9a61](https://github.com/magento/magento2/commit/a8ec393227a5aeca1ba9aca5c3306

[2019-09-10 15:45] #16852 closed, assigned to novikor

[2019-09-10 16:03] est1986ad opened #24540 "Call to a member function count() on boolean in \Magento\Sales\Model\Order::hasCreditmemos()"
### Preconditions (*)

1. 2.3.2
2.

### Steps to reproduce (*)

1.call  \Magento\Sales\Model\Order::hasCreditmemos()
2.

### Expected result (*)

1. return boolean
2.

### Actual result (*)

1. Uncaught Error: Call to a member function count() on boolean
2.

[2019-09-10 16:17] skapin commented on #21885
@soundararajanm1990 I thin they change the Product class for the release of Magento 2.3.2.

The easier is to upgrade (maintenance & safety)

[2019-09-10 17:06] sjohn2016 opened #24541 "Shopping Cart gets cleared after Password Reset"
### Preconditions (*)

1. Magento Open Source 2.3.1
2. Issue Produced in a site with actual loaded client data

### Steps to reproduce (*)

1.  Add a Product to Cart in a Non Logged In State in the Magento Site
2. Click On `Sign-in` Link
3. Click on `Forgot Password` Link
4. Fill our the Form and submit it
5. Go to your email and Click the Reset password link which takes you back to the site and a

[2019-09-10 17:32] sdzhepa commented on #24426
https://github.com/magento/magento2/pull/24538

[2019-09-10 17:59] ryanb945 commented on #22161
Any status update on this?

[2019-09-10 19:11] hostep commented on #22161
Is this related to https://github.com/magento/magento2/issues/23077 & https://github.com/magento/magento2/pull/23294?
- If yes, then it was fixed by https://github.com/magento/magento2/commit/eec9c26a44f3a62ef426f9ac326ff36269a77d7b (my guess is it will be included in Magento 2.3.4, but don't take my word for it)
- If no, then ignore me :)

[2019-09-10 19:15] hostep commented on #23077
I think we can close this since https://github.com/magento/magento2/commit/eec9c26a44f3a62ef426f9ac326ff36269a77d7b was merged in `2.3-develop`.
If I'm mistaken, let me know!

(I'm not sure if we should also close https://github.com/magento/magento2/issues/15939 though?)

[2019-09-10 19:15] #23077 closed, assigned to sebastien-kathmandu

[2019-09-10 19:38] ryanb945 commented on #22161
It was related to #22161. Was that moved to those two ticket numbers you referenced?

[2019-09-10 19:49] HenKun opened #24543 "Merging of definition.xml fails on DOM elements with multiple children"
_Example: Adding a new export format to ExportButton._
It is not possible to add another export format to ExportButton by extending the defintion.xml.

### Preconditions (*)
1. Magento Version 2.3.2 & 2.3-develop
2. Fresh install

### Steps to reproduce (*)
1. Create a new module
2. Add `{vendor}/{module}/view/base/ui_component/etc/definition.xml` with following content:

[code]

3. Add controller

[2019-09-10 20:11] fmjrey commented on #14592
This is a duplicate of #13952
I can confirm this also happens with successful payments.

[2019-09-10 20:18] fmjrey commented on #13952
Hi, I'm no Magento developer, just a knowledgeable user of a web site that uses Magento and I've seen this this bug happening. Basically my paypal payment on that web site resulted in two orders created on their backend. I prefer not to give the details of the web site, but I can confirm this bug also happens from a single successful payment (I can see the payment on my bank app), no need for a co

[2019-09-10 21:14] magento-engcom-team commented on #24509
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#24510 by @rani-webkul in 2.3-develop branch
Related commit(s):
 - [06a1aa1b1b5830ccc17c2ebb2fdc713892d22d59](https://github.com/magento/magento2/commit/06a1aa1b1b5830ccc17c2ebb2fdc713892d22d59)
 - [4bf8bfdb7e148847c4c74c90bc90c5407b3ab8ae](https://github.com/magento/magento2/commit/4bf8bfdb7e148847c4c74c90bc90

[2019-09-10 21:14] #24509 closed, assigned to rani-priya

[2019-09-10 21:14] magento-engcom-team commented on #24410
Hi @gibbotronic. Thank you for your report.
The issue has been fixed in magento/magento2#24502 by @ashutoshwebkul in 2.3-develop branch
Related commit(s):
 - [114ac4b39a5818df2f1c91c07fd9b27cc97de7b1](https://github.com/magento/magento2/commit/114ac4b39a5818df2f1c91c07fd9b27cc97de7b1)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-10 21:14] magento-engcom-team commented on #23205
Hi @moloughlin. Thank you for your report.
The issue has been fixed in magento/magento2#24501 by @prabhatrawat-webkul in 2.3-develop branch
Related commit(s):
 - [1f597119af94c46d1a5d6a052393f91edca46904](https://github.com/magento/magento2/commit/1f597119af94c46d1a5d6a052393f91edca46904)

The fix will be available with the upcoming 2.3.4 release.

[2019-09-10 21:14] #24410 closed, assigned to nobody

[2019-09-10 21:14] #23205 closed, assigned to nobody

[2019-09-10 21:14] magento-engcom-team commented on #21610
Hi @webkul-ramakant. Thank you for your report.
The issue has been fixed in magento/magento2#24482 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [7fac8a3038b473a5db1d7ec97e7bb8e2552788ce](https://github.com/magento/magento2/commit/7fac8a3038b473a5db1d7ec97e7bb8e2552788ce)
 - [3f87c97ac9ba14fb93656150db22a0609b743bd3](https://github.com/magento/magento2/commit/3f87c97ac9ba14fb9365615

[2019-09-10 21:14] #21610 closed, assigned to Bartlomiejsz

[2019-09-10 21:25] dalvan03 opened #24544 "Magento Setting Up Cron “Error during saving of crontab: sh: line 6: crontab: command not found”"
### Preconditions (*)

1. Magento 2.3.0
2. Professional Cloud Server from Hostinger

### Steps to reproduce (*)

1. I installed Magento
2. I followed the steps of the official magento website. [This link.](https://devdocs.magento.com/guides/v2.3/install-gde/install/post-install-config.html#post-install-cron)

### Expected result (*)

1. Magento Cron Works

### Actual result (*)

1. Error during sa

[2019-09-10 21:28] orlythatscool commented on #9214
The expected behavior of the  "Maximum Qty Discount is Applied To" field is that the number placed in that field is the maximum cart quantity that the rule may effect.

For example, if a rule is created, which may apply a discount on four different SKUs AND that field is set to 1 ... the discount will be applied to just one of those SKUs (usually the most expensive) even if they are all added to c

[2019-09-10 22:09] zw1111 opened #24545 "Configurable Product with Non-Default MSI Stock/Source displays $0.00 if "Display Out of Stock Products" set."
### Preconditions (*)
1.  Fresh install of Magento 2.3.2
2.  All Multi-Source Inventory (MSI) modules enabled
3.  PHP 7.2
4.  Apache 2.4

### Steps to reproduce (*)
1.  In Magento Admin, set  "Display Out of Stock Products" to "Yes" under Stores > Configuration > Catalog > Inventory > [Stock Options]

2.  Create Two new MSI sources called "Main Source" and "Dropship Source"

3.  Create a new MSI S

[2019-09-10 22:16] Januszpl opened #24546 "Translate attribute in html files doesnt work when using colon as part of the value"
### Preconditions (*)
Magento 2.3.1 (possible 2.3.2)

### Steps to reproduce (*)
1. Add product to cart
2. Open mini cart (no errors in console)
3. Edit minicart/content.html in Magento Checkout module  and add here
`<span class="text" translate="'My Cart'"/>`
colon sign as part of value for translate attribute
`<span class="text" translate="'My Cart:'"/>`

### Expected result (*)
1. show translat

[2019-09-10 22:21] bradjones1 commented on #12124
It's worth noting the above work-around for 5.7 isn't applicable if you are needing to run in high-availability mode. That said, Google Cloud have announced that later this month, they are moving from MySQL replication to regional persistent disks for the HA backing infrastructure, so it's possible that opens up some additional possibilities here.

[2019-09-10 22:56] superclean1212 commented on #10485
Hello I found a solution online and This is how you fix it

/hosting root/your sitre/vendor/magento/framework/Stdlib/DateTime/Timezone.php
Invalid input datetime format of value '3/01/2019'
find this code
332.	$date .= " 0:00am";
and replace it
with the following one:
$date .= ' 00:00';

l hope that helps

[2019-09-10 22:56] diegosucaria commented on #12124
@bradjones1 where did you read that? I missed it.

[2019-09-10 23:02] uabassguy commented on #15115
issue still persists on 2.3.2

[2019-09-10 23:31] bradjones1 commented on #12124
Received this June 26:

It's worth noting there's no documentation on this at the moment on the Cloud SQL second gen docs, however this change does more or less mean the HA mechanism for MySQL instances will match the current model for PostgreSQL.

[2019-09-11 02:54] Adel-Magebinary commented on #15545
Looks like this has something to do with price index running.

1587    bivouac 192.168.130.76:44296    Query   259     Sending data    INSERT INTO `catalog_product_index_price` (`entity_id`, `customer_group_id`, `website_id`

It some locks things up.

[2019-09-11 03:08] nikoskip opened #24547 "Magento\Customer\Model\Account\Redirect::setRedirectCookie() not properly working"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

Call method ``Magento\Customer\Model\Account\Redirect::setRedirectCookie()``

    $this->accountRedirect->setRedirectCookie($this->urlBuilder->getUrl('checkout'));

### Expected result (*)

Cookie ``login_redirect`` created

### Actual result (*)

The cookie is sent to the browser, but not properly. All the cookie params are miss

[2019-09-11 04:21] cys2best opened #24548 "API returns quote totals data for a specified cart not properly working"
Hello,

I'm using rest API of Magento to develop a mobile app base on Reactjs

# Preconditions (*)

1. Magento ver. 2.2.8
2. PHP 7.1.32

# Steps to reproduce
1. Place order via API (carts/mine/payment-information)
2. Create a new quote (carts/mine)
3. Add product to cart (carts/mine/items)
4. Get totals data of new quotes (carts/mine/totals)

This issue just comes from first time add a product to

[2019-09-11 04:48] MrGangola-Webkul commented on #23907
@magento give me 2.2-develop instance

[2019-09-11 04:48] magento-engcom-team commented on #23907
Hi @MrGangola-Webkul. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-09-11 04:55] MrGangola-Webkul commented on #22841
@AlexWorking I totally agreed with your point of view.
 I would rather opt for an appropriate clarifying description for those options in the official documentation or a different section for Customer Address Fields.

[2019-09-11 05:02] ihor-sviziev commented on #11322
Hi @DavidLambauer,
Thank you for raising this issue, I hope it's described good enough in my comment https://github.com/magento/magento2/pull/24533#issuecomment-530219625

[2019-09-11 05:40] gaurangpadhiyar007 commented on #24487
:+1:

[2019-09-11 06:05] engcom-Charlie commented on #24544
Hello @dalvan03
I can't reproduce this issue on Magento 2.3-develop.
**Manual testing scenario:**
1. Install magento
2. `php bin/magento cron:install`
3. `crontab -l`
**Result:**
Crontab exist:
![image](https://user-images.githubusercontent.com/51680850/64672036-0020fc00-d473-11e9-9a84-42154855e45b.png)

So i have to close this issue.
Thanks for your report!

[2019-09-11 06:05] #24544 closed, assigned to engcom-Charlie

[2019-09-11 06:08] shikhamis11 commented on #24521
@magento give me 2.3-develop instance

[2019-09-11 06:08] magento-engcom-team commented on #24521
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-11 06:09] magento-engcom-team commented on #24521
Hi @shikhamis11, here is your [Magento instance](https://i-24521-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24521-2-3-develop.instances.magento-community.engineering/admin](https://i-24521-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-11 06:10] engcom-Charlie commented on #24487
Hello @sdzhepa !
This issue looks like a feature request.
Can you transfer this issue to the feature requests repository?

[2019-09-11 06:22] MrGangola-Webkul commented on #24541
@magento give me 2.3-develop instance

[2019-09-11 06:22] magento-engcom-team commented on #24541
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-11 06:22] magento-engcom-team commented on #24541
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-24541-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24541-2-3-develop.instances.magento-community.engineering/admin](https://i-24541-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-11 06:26] engcom-Charlie commented on #24543
Hello @HenKun !
Your issue for magento inventory modules.
Please duplicate this issue in [Magento Inventory repository](https://github.com/magento/inventory/issues).
Thanks for your report!

[2019-09-11 06:30] engcom-Charlie commented on #24545
Hello @zw1111 !
Your issue for magento inventory modules.
Please duplicate this issue in [Magento Inventory repository](https://github.com/magento/inventory/issues), for advice or general discussion about this issue.
Thanks for your report!

[2019-09-11 06:30] #24545 closed, assigned to engcom-Charlie

[2019-09-11 06:39] engcom-Bravo commented on #24541
Hello @sjohn2016. Seems like this issue has been fixed:
![reset](https://user-images.githubusercontent.com/51680745/64673644-61e36500-d477-11e9-9b14-63f841e09d39.png)
(Don't pay attention to "admin" with password filled in to form. It was been done by Chromes Autofill immediately after the page had been reloaded.)
So would You please try to reproduce Your issue on the latest develop version (i.e.

[2019-09-11 06:48] ralphgarrison commented on #24547
@magento give me test instance

On Wed, Sep 11, 2019, 2:42 AM m2-assistant[bot] <notifications@github.com>
wrote:

[2019-09-11 06:48] rakeshdonga commented on #12124
Hello
any updates of this issue i have same issue facing in magento 2.3.1
also i can install below extension but not working still
[](https://github.com/bangerkuwranger/Magento-2-GTID-Safe-URL-Rewrite-Tables)
Thanks!!

[2019-09-11 07:07] magento-engcom-team commented on #24547
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20107` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-11 07:21] engcom-Charlie commented on #24548
Hello @cys2best

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this is

[2019-09-11 07:21] #24548 closed, assigned to engcom-Charlie

[2019-09-11 07:38] s00071609 commented on #15545
Hi,
I think its being caused due to search_tmp table being stuck. Rest of the pending or missed issue is due to this as this process never completes. Some in the thread has suggested that its due to Search Bots, like google bot crawling the layered navigation with urls ............com?color=red which never end and runs in loop. I have blocked bots from crawling these pages, via robot.txt file. I d

[2019-09-11 08:18] engcom-Bravo commented on #24535
Hello @MichaelThessel. We are not able to reproduce Your issue. We've got data like this:
![tiers](https://user-images.githubusercontent.com/51680745/64679912-60209e00-d485-11e9-89e9-742401e5e7e1.png)
Probably the issue has already been fixed. So let us ask You to try to reproduce it on a clear Magento installation of the latest develop version (2.3-develop). If You are still able to reproduce the

[2019-09-11 08:34] krishprakash commented on #23981
@sdzhepa can you please transfer this issue to EE.
Thanks

[2019-09-11 08:47] pizzo90 commented on #15427
Same issue here
confirmed on 2.2.8

Any updates?

[2019-09-11 08:59] VaD1ke opened #24550 "ElasticSearch doubled indices in alias trouble if exception was thrown"
### Preconditions
1. Magento 2.2.* - 2.3.* (open-source and commerce editions )
2. Catalog search engine is Elasticsearch

### Steps to reproduce
1. Make your catalogsearch index invalid (I make it right in DB for testing)
2. Wait cron until it creates few pending cron jobs
3. Now we need to get an catchable error during index saving. For reproducing I do it in code \Magento\Elasticsearch\Model\In

[2019-09-11 09:01] manojvfx opened #24551 "shop"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-09-11 09:03] cys2best commented on #24548
Hi @engcom-Charlie. Thank you for spend time with my issue.
It's too sad when heard Magento no longer support on v2.2. BTW, do you have any suggestions with my issue, I will fix it by myself

[2019-09-11 09:05] shikhamis11 commented on #24551
hi @manojvfx, Please correct the format of the issue you can check and update descriptions
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-09-11 09:05] #24551 closed, assigned to shikhamis11

[2019-09-11 09:19] Asifjalil99 commented on #24536
any have have fix for this please i need this

[2019-09-11 09:24] engcom-Bravo commented on #24540
Hello @est1986ad. Thanks for applying. The issue ether has been fixed or we've missed some essential detail while trying to reproduce it. We have created two orders with id 1 - has a credit memo and id 2 - hasn't. Then we created a simple CLI command where hasCreditmemos() was called. Please look what we obtained.
![orderhasCM](https://user-images.githubusercontent.com/51680745/64685128-1b016980-d

[2019-09-11 09:39] edenduong commented on #24540
Seems it failed when call the hasCreditmemos() without load().

[2019-09-11 09:44] ahentea commented on #23808
@Dzhus111 , same problem for me and it worked!

@nikhil91100 make sure that the replaced filed is generated in the pub/static/ folder otherwise you will still be loading the old version of that file. To be sure delete the static folder content, clear caches and try again.

[2019-09-11 09:50] engcom-Bravo commented on #24540
Does that method have any sense to be used without load @edenduong?

[2019-09-11 09:54] edenduong commented on #24540
@engcom-Bravo : I don't think we should call it without load(), so I think it is not an issue. But it can improve by check the condition (it is not really useful now)

[2019-09-11 09:59] engcom-Bravo commented on #24540
I agree with You @edenduong. So lets wait yet what the reporter has to say to that.

[2019-09-11 10:37] dukir commented on #21367
Magento 2.3.0 - same issue. Any solution?
![image](https://user-images.githubusercontent.com/20892405/64690557-5d2fa880-d499-11e9-91a6-24e22f851a40.png)

[2019-09-11 10:50] MartaTelescopic opened #24553 "REST API returns wrong customer extension attribute information if multiple custom attributes are added"
### Preconditions (*)
1. Magento v2.3.0

### Steps to reproduce (*)
1. Have two different custom modules i.e. `app/code/CustomModule/Module1` & `app/code/CustomModule/Module2`
2. In each add custom attributes:
in `Module1/etc/extension_attributes.xml`
[code]
in `Module2/etc/extension_attributes.xml`
[code]
3. For both modules, update the `Setup/InstallData.php` to add the fields in the admin panel

[2019-09-11 11:18] MartaTelescopic commented on #24553
Yes I confirm that I added all the steps and I was able to reproduce in vanilla Magento instance

[2019-09-11 11:18] osa85eg opened #24554 "[ERROR] Magento\Framework\Setup\Exception: Failed to set ini option "session.cookie_lifetime" to value "3600"."
### Summary

This error message occur while installing Magento 2.3

`Installation is incomplete.
Check the console log for errors before trying again.`

**Console Log**

`[ERROR] Magento\Framework\Setup\Exception: Failed to set ini option "session.cookie_lifetime" to value "3600". mkdir(): File exists in /public/mamajit.com/vendor/magento/framework/Setup/Patch/PatchApplier.php:167
Stack trace:

#0

[2019-09-11 11:47] engcom-Charlie commented on #24548
@cys2best Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-09-11 11:50] engcom-Charlie commented on #24554
Hello @osa85eg !
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

[2019-09-11 11:50] #24554 closed, assigned to engcom-Charlie

[2019-09-11 11:51] sergiuionescu commented on #14881
I can confirm the same issue occurs on 2.2.9. Is this something that is being addressed?

Thanks.

[2019-09-11 12:34] magento-engcom-team commented on #23032
@Den4ik Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-11 12:34] magento-engcom-team commented on #23032
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20114` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-11 12:55] toxix opened #24555 "Compare Function stop working for not salable products (magento 2.3.2)"
### Preconditions (*)
Magento 2.3.2 upgraded from Magento 2.3.1.

### Steps to reproduce (*)
1. Having a product that is visible in the product catalog but not salable
2. Add the product to the compare list with a post request to catalog/product_compare/add/ controller.

### Expected result (*)
Behavior in Magento 2.3.1:
1. The product is added to the compare list
2. Page got reloadad and shows th

[2019-09-11 13:11] magento-engcom-team commented on #24555
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informati

[2019-09-11 13:11] magento-engcom-team commented on #24555
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-11 13:12] magento-engcom-team commented on #24555
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-11 13:13] magento-engcom-team commented on #24555
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20115` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-11 13:58] yatintheoctopustech commented on #23802
Yes its a validation issue in advanced inventory

[2019-09-11 14:00] an4rei commented on #15545
@s00071609 which pages exactly have you disallowed? Thanks!

[2019-09-11 14:06] s00071609 commented on #15545
I have put these in robot.txt,
Disallow: /*?p=*
Disallow: /*&p=*
Disallow: /*?*

It will disallow all the urls created by selecting items on layered navigation, eg colour, size, brand etc.

[2019-09-11 14:07] hypershopbv commented on #22094
We also got this issue after disabling MSI in 2.3.1. Disabling Magento_Elasticsearch and Magento_Elasticsearch6 did the trick.

[2019-09-11 14:26] sudheer-gajjala commented on #7472
@magento-engcom-team give me 2.2.7 instance

[2019-09-11 14:26] aepod opened #24558 "Newline Missing from Reports in var/reports"
### Preconditions (*)
1. Any Magento 2 version

### Steps to reproduce (*)
1. Create an exception
2. Notice the report generated lacks a newline at the end of the report.

### Expected result (*)
1. var/report files should have newline at the end of the json output.

### Actual result (*)
1. var/report files do not have a newline at the end of the json output

This newline seems like a cosmetic is

[2019-09-11 15:50] nikoskip commented on #24547
BTW, the ``clearRedirectCookie`` is not working either. You also need to configure the cookie params to properly delete it.

I had to override this methods to get this to working. Here is my code if someone needs it, hope it helps!

[code]

[2019-09-11 16:52] ci2014 commented on #17634
Same here

[2019-09-11 17:44] lewisvoncken commented on #17634
I think I have fix. I will create a PR asap

[2019-09-11 17:54] magento-engcom-team commented on #13411
Hi @developer-vtnetzwelt, @abhi-ranosys.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-20025` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of oth

[2019-09-11 17:54] #13411 closed, assigned to abhi-ranosys

[2019-09-11 18:04] lewisvoncken commented on #17634
Thanks to @adrian-martinez-interactiv4  have created a PR
https://github.com/magento/magento2/pull/24560

[2019-09-11 19:03] sjohn2016 commented on #24541
Looks like 2.3.2 release has fixed this issue. I see it in the release notes now. I will need to upgrade my application...along with the extensions involved..to see this change.

Appreciate the really fast response !

[2019-09-11 19:03] #24541 closed, assigned to edenduong

[2019-09-11 19:25] magento-engcom-team commented on #22792
Hi @jonesio.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-09-11 19:25] #22792 closed, assigned to nobody

[2019-09-11 20:33] harperruss commented on #10591
Still an issue on 2.3.2....

[2019-09-11 20:58] sdzhepa commented on #24292
Hello @web-pro and @engcom-Charlie

It seems this behavior has been discussed multiple times on GitHub, forums etc
And additionally has been discussed with Magento Product Managers/Owners and was confirmed it is not a bug but expected behavior, this requirement covered by internal test case.

Please see for more details https://github.com/magento/magento2/issues/16069

[2019-09-11 22:08] Leandry commented on #24256
Thank you @magedevel for the update. I will close the issue

[2019-09-11 22:08] #24256 closed, assigned to nobody

[2019-09-11 22:29] magento-engcom-team commented on #24488
Hi @llapgoch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-11 22:30] magento-engcom-team commented on #24488
Hi @llapgoch, here is your [Magento instance](https://i-24488-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24488-2-3-develop.instances.magento-community.engineering/admin](https://i-24488-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-11 22:40] sdzhepa commented on #24426
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It described in [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and it is a part of the issue report template:

[2019-09-11 22:44] sdzhepa commented on #24426
Hello @engcom-tester

Thank you for contribution and collaboration!

I moved this issue into Magento Commerce private repository where it could be fixed and delivered.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It desc

[2019-09-11 22:53] Torbear commented on #21705
We've got this same issue using 2.2.6.  22GB of wasted disk space because of these temp tables.

[2019-09-11 23:01] Leandry commented on #22857
Hello @qsolutions-pl

The current repository and issue tracker aimed at Magento Open Source version only and the main focus is community contribution/collaboration. It described in[ Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and it is a part of the issue report template:

Also, I was not able to reproduce the issue on the latest stable vanilla

[2019-09-11 23:01] #22857 closed, assigned to Leandry, amitvishvakarma

[2019-09-11 23:09] MichaelThessel commented on #7231
The fact that this is still a problem in 2019 shows that handling dev and production static asset compilation in 2 different ways has been one of the worst design decisions in M2. Unifying this should be a focus of one of the next releases. Working with M2 in it's current state is a massive pain.

[2019-09-12 00:15] jesse-thomas opened #24561 "Product Gallery - Magnifier and Breakpoints not affected by view.xml"
According to several sources editing the view.xml file should allow you to enable the magnifier on the product view image gallery but making the change
<var name="enabled">true</var>
does not enable the magnifier, checking the html source shows that magnifierOpts is set to false.

### Preconditions (*)
composer version 2.3.2
data imported from M1

### Steps to reproduce (*)
edit the view.xml file

[2019-09-12 05:45] ghost opened #24562 "Choose to create a shipping invoice at the same time from the invoices page, the following error message appears: "We cannot create an empty shipment.""
### Preconditions (*)
1. Originally Magento CE 2.2.6.
2. I have upgraded from Magento CE 2.2.6 to Magento CE 2.2.9.

### Steps to reproduce (*)
1. Buy Simple Product that is tied to Configurable Products.
2. Select the respective order from the order list.
3. Click the Invoice button in the upper right corner of the order page.
4. Create a shipping invoice at the same time on the invoices page.

#

[2019-09-12 06:00] engcom-Charlie commented on #24292
@sdzhepa thanks for contributing!
So i close this issue.

[2019-09-12 06:00] #24292 closed, assigned to engcom-Charlie

[2019-09-12 06:50] engcom-Charlie commented on #24562
Hello @HironobuHiga

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

If you still faced this

[2019-09-12 06:50] #24562 closed, assigned to engcom-Charlie

[2019-09-12 07:24] Luuk-Meijer opened #24563 "Account customer/account/index/ not active in sidebar"
### Preconditions (*)
1. Magento 2.3.x

### Steps to reproduce (*)
1. Create a customer account
2. Login in that customer account

### Expected result (*)
1. In the sidebar the "Account" item gets an active class

### Actual result (*)
1.  Because the url is customer/account/index/ and not customer/account/ the sidebar gets no active

The "my-account-link" block does go to customer/account and the

[2019-09-12 07:27] DeLuuk commented on #24563
@m2-assistant I can confirm this happens on a vanilla Magento 2.3.2 instance. I'm sure it happens on 2.3.x though.

[2019-09-12 07:28] caitanya89 opened #24564 "Captcha not shown on contact form"
### Preconditions (*)

1. Magento ver. 2.3.2
2.

### Steps to reproduce (*)

1. Create custom contact page using this tutorial https://docs.magento.com/m2/ce/user_guide/stores/contact-us.html

### Expected result (*)

1. Custom contact us page with captcha
2. here is the url default contact form
https://erbede.com/contact/index/index/
![default](https://user-images.githubusercontent.com/6948757/64

[2019-09-12 07:31] shikhamis11 commented on #24563
@magento give me 2.3-develop instance

[2019-09-12 07:31] magento-engcom-team commented on #24563
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-12 07:31] magento-engcom-team commented on #24563
Hi @shikhamis11, here is your [Magento instance](https://i-24563-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24563-2-3-develop.instances.magento-community.engineering/admin](https://i-24563-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-12 07:32] micwallace commented on #22927
I can confirm this patch works as expected. The code is obviously semantically incorrect and doesn't really need verification. Please include patch in the next release.

[2019-09-12 07:33] ageffray opened #24565 "Admin order creation wrong address on collectRates"
### Preconditions (*)

1. Magento EE B2B 2.3.2 & 2.3-develop
2. Custom carrier
3. Multistore

### Steps to reproduce (*)

1. Create order from Admin
2. Use customer with default billing / shipping address
3. Add one or more product
4. Click on "get shipping methods and rates"
5. Use your custom carrier
6. Change field (postcode, city, region, ...) on billing adress (make sure "Same as billing addr

[2019-09-12 07:34] ageffray commented on #24565
@magento give me 2.3-develop instance

[2019-09-12 07:34] magento-engcom-team commented on #24565
Hi @ageffray. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-12 07:35] magento-engcom-team commented on #24565
Hi @ageffray, here is your [Magento instance](https://i-24565-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24565-2-3-develop.instances.magento-community.engineering/admin](https://i-24565-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-12 07:41] shikhamis11 commented on #24563
hello @DeLuuk
thank you for your report , I checked the issue at magento 2.3-develop instance . It seems this is already fixed at 2.3-develop branch. Please check at magento 2.3-develop instance and update if it still persists

[2019-09-12 07:44] DeLuuk commented on #24563
Hey @shikhamis11 I see!

Oke very good then.
It will be fixed in 2.3.3 then I presume.

Thanks for looking into this.

[2019-09-12 07:54] #24563 closed, assigned to shikhamis11

[2019-09-12 07:57] magento-engcom-team commented on #24564
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20128` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-12 09:15] #24222 closed, assigned to nobody

[2019-09-12 09:17] #24561 closed, assigned to engcom-Charlie

[2019-09-12 09:42] vseager opened #24566 "Fatal error when creating invoice for order which includes a bundle product with fixed price & sku"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Create a bundle product. `Dynamic Price` and `Dynamic SKU` must be set to **No** .
2. Please an order which includes the bundle product using payment method "Purchase order".
3. Manually create an invoice for the new order via Magento admin

### Expected result (*)

1. Invoice is created

### Actual result (*)

1. 500 server e

[2019-09-12 13:05] #24190 closed, assigned to nobody

[2019-09-12 13:14] #24480 closed, assigned to engcom-Charlie

[2019-09-12 13:15] grosoasap opened #24570 "Catalog Products not updating showing an error of "The stock item was unable to be saved. Please try again.""
### Preconditions (*)

1. Magento Version 2.3.1
2.Staging Website

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. Expect to update the products module like increase quantity and all

### Actual result (*)

1. The stock item was unable to be saved. Please try again. When trying to update the product

2. ![Capture](https://user-images.githubusercontent.com/54885657/64787047-7e71c100-

[2019-09-12 13:44] rani-priya opened #24571 "Configurable associated product image not showing"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. create a configurable product based on _**Text Swatch attribute**_
2. check it at frontend

### Expected result (*)

1. product image should be change as per selected configuration

### Actual result (*)

1. product image not showing as per selected configuration

**Example**:
https://github.com/magento/magento2/issues/2

[2019-09-12 14:00] #24537 closed, assigned to eduard13

[2019-09-12 14:00] #24349 closed, assigned to wwwadminwww

[2019-09-12 14:00] #24319 closed, assigned to rani-priya

[2019-09-12 14:00] #22880 closed, assigned to ihor-sviziev

[2019-09-12 14:00] #24031 closed, assigned to shikhamis11, mahesh-rajawat

[2019-09-12 16:01] #24518 closed, assigned to edenduong

[2019-09-12 16:02] #24491 closed, assigned to edenduong

[2019-09-12 19:00] #24558 closed, assigned to aepod

[2019-09-12 19:38] hostep opened #24572 "Cleaning up quotes removes inactive quotes instead of active quotes"
### Preconditions (*)
1. Magento 2.2.x, 2.3.x, 2.3-develop
2. Make sure you understand the difference between an **inactive** and **active** quote: https://magento.stackexchange.com/q/99224/2911
3. Read the documentation around the "Quote Lifetime" field: https://docs.magento.com/m2/ce/user_guide/sales/cart-quote-lifetime.html - notice that this is about **active** quotes

### Steps to reproduce (

[2019-09-12 20:20] gwharton opened #24573 "Cannot cancel a CreditMemo"
### Preconditions (*)
1. 2.3-develop

### Steps to reproduce (*)
\Magento\Sales\Model\Order has a canCancel() function, has a possible state of STATE_CANCELED and an implementation of the cancel() function
https://github.com/magento/magento2/blob/88d78b232184d329dd0af6b06e717a140422e744/app/code/Magento/Sales/Model/Order.php#L1224-L1234

\Magento\Sales\Model\Order\Invoice has a canCancel() functio

[2019-09-12 21:19] rpss2 opened #24574 "The value you set has already been locked. To change the value, use the --lock-env option"
I trying change Base URL for Static View Files and Base URL for User Media Files by Magento CLI, but this message always appear, when I don't use --lock-env or --lock-config flag: "The value you set has already been locked. To change the value, use the --lock-env option". In Magento Admin, these fields are locks. I only get change by command: magento-cli config:sensitive:set --lock-env web/unsecur

[2019-09-12 21:26] #7165 closed, assigned to nobody

[2019-09-12 23:46] iproger opened #24575 "Replace nested arrays in the layout processor in favor of using Array Manager"
### Summary (*)
There are several places with verbose code of checking and setting layout data that can be reduced.

### Examples (*)
Magento\Checkout\Block\Checkout\LayoutProcessor
[code]

### Proposed solution
[code]

[2019-09-13 03:31] mlambley opened #24576 "Filter groups not applying correctly for customer search"
### Preconditions (*)
magento/product-community-edition 2.3.2

### Steps to reproduce (*)
I'm trying to modify the customer filters. See `<backend>/customer/index/index`, click Filters, change a value and click Apply Filters. I'm trying to say "for this particular filter, also search for null values".

The documentation for `\Magento\Framework\Api\Search\FilterGroup` says that it "Groups two or mo

[2019-09-13 04:52] rani-priya opened #24579 "Downloadable selected links price not added to product main price on cart configure page."
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.19

### Steps to reproduce (*)

1. Create a downloadable product with some downloadable links
2. Select link and add to cart
3. edit that product from cart

### Expected result (*)
![downloadable-expected](https://user-images.githubusercontent.com/44425160/64838272-10221280-d610-11e9-814d-6dacefef9a33.png)

### Actual result (*)

![downloadable](h

[2019-09-13 06:01] tzyganu opened #24581 "MIssing unique key on eav_attribute_label table"
### Summary (*)

Magento 2.4-develop

The table `eav_attribute_label` should contain a unique key constraint on the (`store_id`, `attribute_id`) pair.
Version:
 - Identified on 2.3.2 Magento Open Source
 - Checked table structure for version 2.2.6, key is still missing.
 - Didn't check versions prior to 2.2.6, but most probably it has been there since the beginning of time.

_Also layered navigati

[2019-09-13 07:26] sunilit42 commented on #24579
@magento give me 2.2.6 instance

[2019-09-13 07:26] sunilit42 commented on #24579
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-13 07:26] magento-engcom-team commented on #24579
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-13 07:27] magento-engcom-team commented on #24579
Hi @sunilit42, here is your [Magento instance](https://i-24579-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24579-2-3-develop.instances.magento-community.engineering/admin](https://i-24579-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-13 07:45] simonmaass commented on #5863
@chrisbadley hey Chris :) Would love to know what you did to solve the problem!

[2019-09-13 08:24] gwharton commented on #24573
Yes. I see the issues. It just struck me as odd that a call to cancancel returns true.

[2019-09-13 08:32] sudheers-kensium opened #24582 "Remove compare product option is not working for out of stock products in magento2.3.2"
### Preconditions (*)

1. Magento 2.3.2
2.

### Steps to reproduce (*)

1. Create simple product in admin
2. Go to frontend and add product to compare list
3. Change product stock status from In Stock to Out Of Stock and save
4. Change admin configuration "Display Out of Stock Products" to "Yes" under Catalog -> Inventory -> Stock Options
5. Go to frontend compare list, **_reload the page_**, and

[2019-09-13 08:32] magento-engcom-team commented on #24582
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-13 08:45] engcom-Bravo commented on #24571
Hi, @ihor-sviziev. Thank You for Your contributing to this issue. With the aforementioned setting set to Yes everything works fine. Maybe we really ought to close this issue. But one thing still bothers me - is it just an inaccuracy in the settings comment or not: "Filtering by this attribute will update the product image on catalog page". Usually filtering is associated with the layered navigatio

[2019-09-13 09:04] magento-engcom-team commented on #24582
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20141` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-13 09:08] magento-engcom-team commented on #24483
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20142` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-13 09:11] magento-engcom-team commented on #24576
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20143` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-13 09:18] engcom-Bravo commented on #7472
High there. The issue is not reproducible on the latest 2.3-develop version:
![TR](https://user-images.githubusercontent.com/51680745/64851687-92b2ce00-d620-11e9-95f6-34a8df342012.gif)
So I'm closing it for now.

[2019-09-13 09:18] #7472 closed, assigned to nobody

[2019-09-13 09:31] orlangur commented on #7231
@hostep thanks for sharing! https://www.google.com/search?q=lessphp only showed me `oyejorge` and `leafo`, both unmaintained.

@MichaelThessel, sure, I see. Materializing compiled files somewhere is really robust, could be used even for generated PHP code.

[2019-09-13 09:35] devamitbera commented on #10088
@sidolov

Just start  work with option seems it not possible to implement using **`adding parameters in the constructor for WebAPI interfaces`**

It wills broken at  [Magento\Framework\Webapi\ServiceInputProcessor::_createFromArray](https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Webapi/ServiceInputProcessor.php#L258)

**At line:**
https://github.com/magento/mag

[2019-09-13 09:37] Vinai commented on #2924
@vtransy From your original post my guess would be that you have the caches turned off. Try running `php bin/magento cache:status` to see if that's the case. If so, turn them all on. With a warmed up config cache Magento should be a lot faster.
Also follow the tips @r-martins wrote.

If it isn't the cache, I guess you are using some kind of docker or vagrant setup.
The main issue with any kind of

[2019-09-13 09:39] engcom-Bravo commented on #24574
Hello @rpss2. Thanks for applying. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-09-13 09:39] #24574 closed, assigned to nobody

[2019-09-13 09:40] devamitbera commented on #10088
@sidolov

**Here my Modified:**  `Magento\Catalog\Model\Ctegory`

[code]

[2019-09-13 09:55] MartaTelescopic commented on #24553
I actually found what the problem was, so I can close this issue!

[2019-09-13 09:55] #24553 closed, assigned to nobody

[2019-09-13 10:26] vseager commented on #24566
@magento give me 2.3-develop instance

[2019-09-13 10:26] magento-engcom-team commented on #24566
Hi @vseager. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-13 10:27] magento-engcom-team commented on #24566
Hi @vseager, here is your [Magento instance](https://i-24566-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24566-2-3-develop.instances.magento-community.engineering/admin](https://i-24566-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-13 10:27] aholovan commented on #14451
Hello @engcom-backlog-nazar,
It's pretty weird that ticket was closed because looks like it's still an issue even with 2.3.1 version. I've got the same behavior of the checkout button doing the same steps as described.
Sugested fix that in #12900 doesn't work when payment form defined correctly!
Please, take a look once more and recheck taking in account 4, 5 stepts carefully.
By my opinion, agree

[2019-09-13 10:28] gwharton commented on #23625
@maderlock You either need the php_posix extension installed, or a version of the command line ps command that supports the "-p" command line argument. Either will do.

[2019-09-13 10:43] vseager commented on #24566
@magento give me 2.3.2 instance

[2019-09-13 10:43] magento-engcom-team commented on #24566
Hi @vseager. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-09-13 10:44] magento-engcom-team commented on #24566
Hi @vseager, here is your [Magento instance](https://i-24566-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24566-2-3-2.instances.magento-community.engineering/admin](https://i-24566-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-13 11:16] vseager commented on #24566
Thanks, I can't reproduce on 2.3 or 2.3-develop.

[2019-09-13 11:17] #24566 closed, assigned to krishprakash

[2019-09-13 11:36] oguz-yilmaz commented on #16531
if changing mime type doesn't work, you can change the return value of the following function.That is the actual function causing this issue.

Magento/Framework/File/Uploader.php:
[code]

[2019-09-13 12:46] rajatkar104 commented on #7472
The shared screenshot is related to frontend. We are facing issue while creating Magento Admin with multi store. Please check the issue title "TableRates shipping amount not being displayed in Order Creation from admin backend"

[2019-09-13 13:02] klict opened #24584 "Create new store with existing stores with config.php"
### Preconditions (*)

1.Magento 2.3.2
2.php7.2
3.have few stores installed with products and categories

### Steps to reproduce (*)

1. Create or modify config.php file

[code]
3. run `bin/magento setup:upgrade`

### Expected result (*)
[code]

### Actual result (*)

1. I get following message `Import failed: Validation Failed`
2. From exception.log file:

### Useful notes
The `app:config:import`

[2019-09-13 13:13] engcom-Bravo commented on #7472
Here You are @rajatkar104:
![backend](https://user-images.githubusercontent.com/51680745/64864328-85590c00-d63f-11e9-89f4-944b437330da.gif)
Do You take into consideration You need to load csv for each website separately? For example, I had  loaded csv only for Main Web Site. So if I tried to create an order with the customer on another website I wouldn't have Table Rate shipping method being displ

[2019-09-13 13:31] chrisbadley commented on #5863
Simon, List the extensions you have installed and I can tell you which one could potentially be causing the problem.

[2019-09-13 14:13] hostep commented on #24572
After thinking on this for a while, I'm wondering why quotes should even be kept at all, even if they are inactive? All data is copied over to the order, so there is not much use anymore after an order was created for quotes?

So maybe we should just delete all quotes after the lifetime is expired?
Thoughts?

[2019-09-13 14:30] sunilit42 commented on #24579
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-09-13 14:30] magento-engcom-team commented on #24579
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-13 14:30] magento-engcom-team commented on #24579
Hi @sunilit42, here is your [Magento instance](https://i-24579-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24579-2-3-develop.instances.magento-community.engineering/admin](https://i-24579-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-13 15:03] MackieeE commented on #21885
@kevinvuillemin They moved the issue #14398 onto a new phase - does this mean your PR is ready for Testing on the next Dev version?

[2019-09-13 15:08] sunilit42 opened #24585 "Shipping address and shipping method lost when refresh payment step"
### Preconditions (*)

1. Latest Magento 2.3
2. Customer has login
2. Customer contain at least two address

### Steps to reproduce (*)

1.  login as customer
2. add two address
3.  add product into cart
4. configure one payment with wrong details e.g authorize.net Deprecated or braintree and use card details
5 select other than default address
6.  go to next step (payment page)
7.  select that pa

[2019-09-13 15:09] djamps commented on #15427
We haven't gotten a DB deadlock on orders in over a month since doing two things (not sure which is more affective)

1.  Switch to async order grid in admin
2.  And in my.cnf:
transaction-isolation = REPEATABLE-READ

However, we still have some uncaptured paypal express orders.   It looks like these are caused by missing state/province as that's what they all have in common at this point.

[2019-09-13 16:40] ed007m opened #24586 "Catalog Price Rule - wrong product price in multi-stores site."
### Preconditions (*)

1. Magento 2.2.5 CE installed. (But issue present in all Magento versions and Magento commerce as well).
2. Create additional website `Website1` with own store and store view.
3. Navigate to  Stores->Configuration->Catalog->Catalog and set Catalog Price Scope : Website
4. Create a product which will be available in two websites(Default and New one).
4.1. Put product price fo

[2019-09-13 17:12] scne commented on #22094
so this issue is related to elastic search?

[2019-09-13 18:26] DrewML commented on #7231
Thanks for the good discussion, y'all.

Just to be incredibly clear from my side on behalf of Magento, I consider this to be a bug. Styles (without a code change) should not change between dev and prod.

We should be using 1 compiler, period. Whether it's the PHP or the JS version is slightly less important.

For the short-term, until we can address this at a code level, we need to make it super c

[2019-09-13 18:33] facetimer commented on #22587
@mertgokceimam do you have any bug with this patch?
@Maddesto  do you resolve your issue?

Where we can find this patch?

[2019-09-13 18:59] C008 commented on #19710
I had this exact same problem with Magento 2.3.2

For me it was product thumbnail images that had the wrong cache hash path. Product and category images were correct, but thumbs URL was incorrect and showing the std Magento image placeholder.

I was using a custom theme.

When using SHH "php bin/magento catalog:images:resize" - what was happening? The images were being generated using the Luma the

[2019-09-13 19:37] iproger commented on #24575
Yes, I would like.

[2019-09-13 19:54] tzyganu commented on #24581
@engcom-Charlie Steps to what?
There are no steps. There is just an explanation.
One attribute should only have one single label on one store view.  But the `eav_attribute_label` allows multiple labels for the same attribute for a single store view.
This can lead to errors when loading an attribute collection.
I know that duplicate labels  cannot happen via admin UI, but it can still happen. (happ

[2019-09-13 20:58] bkvargyas commented on #5980
So we've been researching this, and we believe it may be related to a module we're running called Unirgy Dropship, and the fact that it's not clearing the stock information in the cache when it's updated.   I'll post more details as I find them.   We have several developers looking at this to see if we can find the source of the issue.

[2019-09-14 06:51] shikhamis11 commented on #24521
hello @grosoasap
I am closing this issue due to inactivity , please update description and message her to reopen the issue.

[2019-09-14 06:51] #24521 closed, assigned to shikhamis11

[2019-09-14 06:52] shikhamis11 commented on #24473
hello @Ashnetn
Please update the description and message here to reopen the issue

[2019-09-14 06:52] #24473 closed, assigned to shikhamis11

[2019-09-14 06:56] shikhamis11 commented on #24290
@magento give me 2.3-develop instance

[2019-09-14 06:56] magento-engcom-team commented on #24290
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 06:57] magento-engcom-team commented on #24290
Hi @shikhamis11, here is your [Magento instance](https://i-24290-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24290-2-3-develop.instances.magento-community.engineering/admin](https://i-24290-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 07:43] stevetnt commented on #5980
We are not using that module and have the same exact issue.

On Fri, Sep 13, 2019 at 5:00 PM bkvargyas <notifications@github.com> wrote:

[2019-09-14 08:28] prabhatrawat-webkul commented on #23826
@magento give me 2.3-develop instance

[2019-09-14 08:28] magento-engcom-team commented on #23826
Hi @prabhatrawat-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 08:29] magento-engcom-team commented on #23826
Hi @prabhatrawat-webkul, here is your [Magento instance](https://i-23826-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23826-2-3-develop.instances.magento-community.engineering/admin](https://i-23826-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 11:11] ihor-sviziev commented on #24571
It really looks confusing, it’s better to change the comment. Anyway it
looks separate issue and another actual & expected results.
Also need to check if this option affects any other places (according to
name it shouldn’t, but according to comment - it might.

On Fri, Sep 13, 2019 at 11:46 Alexander Potoky <notifications@github.com>
wrote:

[2019-09-14 13:25] tiagooctp commented on #22479
#tiagooctp

[2019-09-14 13:38] tiagooctp commented on #22692
#mm19br

[2019-09-14 13:38] magento-engcom-team commented on #22692
@tiagooctp thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 13:40] tiagooctp commented on #22692
@magento-engcom-team give me 2.3-develop instance

[2019-09-14 13:40] magento-engcom-team commented on #22692
Hi @tiagooctp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 13:41] magento-engcom-team commented on #22692
Hi @tiagooctp, here is your [Magento instance](https://i-22692-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22692-2-3-develop.instances.magento-community.engineering/admin](https://i-22692-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 13:55] marciomaciel commented on #5322
I am working on this issue at #mm19br

[2019-09-14 13:55] magento-engcom-team commented on #5322
@marciomaciel thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 13:57] thurow commented on #23473
#mm19br

[2019-09-14 13:57] magento-engcom-team commented on #23473
@thurow thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 13:58] MaxSouza commented on #3594
#mm19br

[2019-09-14 13:58] magento-engcom-team commented on #3594
@MaxSouza thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 14:02] Martinsl commented on #23182
#mm19br

[2019-09-14 14:02] magento-engcom-team commented on #23182
@Martinsl thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 14:04] marciomaciel commented on #5322
@magento I am working on it

[2019-09-14 14:05] emotaphp commented on #24400
#mm19br

[2019-09-14 14:05] magento-engcom-team commented on #24400
@emotaphp thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 14:10] cristhianss commented on #24582
#mm19br

[2019-09-14 14:10] magento-engcom-team commented on #24582
@cristhianss thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 14:12] tiagobnu commented on #23955
#mm19br

[2019-09-14 14:12] magento-engcom-team commented on #23955
@tiagobnu thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 14:23] brunoroeder commented on #23846
#mm19br

[2019-09-14 14:23] marcelo011982 commented on #24546
#mm19br

[2019-09-14 14:23] magento-engcom-team commented on #24546
@marcelo011982 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 14:23] magento-engcom-team commented on #23846
@brunoroeder thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 14:25] miguelfep commented on #22479
#MMBR19
@magento I am working on it

[2019-09-14 14:27] Tduartw commented on #23473
@magento I am working on it

[2019-09-14 14:41] cristhianss commented on #24582
@magento give me 2.3-develop instance

[2019-09-14 14:41] magento-engcom-team commented on #24582
Hi @cristhianss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 14:41] magento-engcom-team commented on #24582
Hi @cristhianss, here is your [Magento instance](https://i-24582-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24582-2-3-develop.instances.magento-community.engineering/admin](https://i-24582-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 14:49] alefemafra commented on #23502
@magento I am working on it

[2019-09-14 14:50] alefemafra commented on #23502
@magento I am working on it

[2019-09-14 14:55] aneeqtariq143 commented on #3917
I have installed visibilitygrid, It shows "Is visible in Category => No" for New Products. when I check  New products on Edit page, Visibilty Set to Catelog, Search. What should i do?

![Screenshot_7](https://user-images.githubusercontent.com/2074726/64909747-8e260c80-d729-11e9-91a8-72a7a6fede9f.png)

[2019-09-14 15:03] cristhianss commented on #24582
Hi guys,
I used the instance created to reproduce the problem, but i can't reproduced.
I followed all the steps, in the step four the result is different.

When i go to the comparison page, the following message appears:
[ https://imgur.com/a/7zNA5AC ](url)

[2019-09-14 15:26] cristhianss commented on #24128
@magento give me 2.3-develop instance

[2019-09-14 15:26] magento-engcom-team commented on #24128
Hi @cristhianss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 15:27] magento-engcom-team commented on #24128
Hi @cristhianss, here is your [Magento instance](https://i-24128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24128-2-3-develop.instances.magento-community.engineering/admin](https://i-24128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 15:29] emotaphp commented on #24418
#mm19br

[2019-09-14 15:30] tiagobnu commented on #23955
Resolved in https://github.com/magento/magento2/pull/24237

[2019-09-14 15:55] rschulerdh commented on #23515
@magento I am working on it

[2019-09-14 16:06] LucasCalazans commented on #22964
I'm trying to get a solution to this issue.

#MM19BR

[2019-09-14 16:18] thurow commented on #19925
Looks like this issue is already fixed. As you can see in the screenshot below, theres not an overlapping anymore.
Firefox:
![Captura de Tela 2019-09-14 às 13 14 41](https://user-images.githubusercontent.com/14911960/64910916-f2c57500-d6f1-11e9-9d64-c2e7e38b0e9b.png)
Chrome:
![Captura de Tela 2019-09-14 às 13 13 02](https://user-images.githubusercontent.com/14911960/64910917-f35e0b80-d6f1-11e9-9

[2019-09-14 16:18] #19925 closed, assigned to nobody

[2019-09-14 16:24] cristhianss commented on #24393
@magento give me 2.3-develop instance

[2019-09-14 16:24] magento-engcom-team commented on #24393
Hi @cristhianss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 16:25] magento-engcom-team commented on #24393
Hi @cristhianss, here is your [Magento instance](https://i-24393-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24393-2-3-develop.instances.magento-community.engineering/admin](https://i-24393-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 16:34] bl82 commented on #19710
@C008 Thanks for your workaround. Exactly like this I solved my problem.

[2019-09-14 16:35] miguelfep commented on #22479
I follow the steps but i can't reproduce in 2.3

[2019-09-14 16:37] cristhianss commented on #24393
Hi @magento-engcom-team, this issue has already been fixed.
I will close this issue.

[2019-09-14 16:41] jorgehs91 commented on #23876
#mm19br

[2019-09-14 16:41] magento-engcom-team commented on #23876
@jorgehs91 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 16:51] mahsn commented on #24565
#mmbr19

[2019-09-14 16:57] mahsn commented on #24565
#mahsn

[2019-09-14 16:59] mahsn commented on #24565
#mm19br mahsn

[2019-09-14 16:59] magento-engcom-team commented on #24565
@mahsn thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-14 17:00] j-robin-hunter opened #24594 "actions.js does not support callbacks"
### Preconditions (*)

1. version 2.3.2 CE
2. Similar to #1527 but suggested approach will not work for actions.js

### Steps to reproduce (*)

1. Define a ui grid actionColumn for example:
`<actionsColumn name="actions" class="name\module\Ui\Component\Listing\Product\Column\PostActions">
	<argument name="data" xsi:type="array">
		<item name="config" xsi:type="array">
			<item name="resizeEnabled"

[2019-09-14 17:02] j-robin-hunter commented on #24594
Confirmed as behaviour in vanilla 2.3 release

[2019-09-14 17:05] cristhianss commented on #17705
@magento give me 2.3-develop instance

[2019-09-14 17:05] magento-engcom-team commented on #17705
Hi @cristhianss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 17:06] magento-engcom-team commented on #17705
Hi @cristhianss, here is your [Magento instance](https://i-17705-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-17705-2-3-develop.instances.magento-community.engineering/admin](https://i-17705-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 17:08] #18847 closed, assigned to nobody

[2019-09-14 17:34] MaxSouza commented on #23051
#mm19br

[2019-09-14 17:39] MaxSouza commented on #23051
@ArnoVDC

After customer group change, did you make logout on storefront? Because customer group id is in session of browser.

[2019-09-14 17:52] #23955 closed, assigned to nobody

[2019-09-14 18:07] rschulerdh commented on #20502
@magento I am working on it

[2019-09-14 18:10] xandithurow commented on #15060
@magento I am working on it

[2019-09-14 18:12] LucasCalazans commented on #23460
@magento give me 2.3-develop instance

[2019-09-14 18:12] magento-engcom-team commented on #23460
Hi @LucasCalazans. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 18:12] LucasCalazans commented on #23460
I'm working on this issue

#MMBR19

[2019-09-14 18:13] magento-engcom-team commented on #23460
Hi @LucasCalazans, here is your [Magento instance](https://i-23460-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23460-2-3-develop.instances.magento-community.engineering/admin](https://i-23460-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 18:26] kalpmehta commented on #3594
I don't think this is a valid issue. We don't have enough real estate in cart totals box to show full description, and I have seen merchants use Shopping Cart rule's Description field for internal comments as well. Though this could be a nice feature for some of the merchants, I am not sure if this should be rolled out to everyone.

[2019-09-14 18:39] LucasCalazans commented on #22840
@magento give me 2.3-develop instance

[2019-09-14 18:39] magento-engcom-team commented on #22840
Hi @LucasCalazans. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-14 18:40] magento-engcom-team commented on #22840
Hi @LucasCalazans, here is your [Magento instance](https://i-22840-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22840-2-3-develop.instances.magento-community.engineering/admin](https://i-22840-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-14 18:45] luanalves commented on #24584
@klict I try your issue, but i don't find this problem.
I think the problem is because the information about previously created websites and stores has changed. By default this information should be.

`'scopes' => [
        'websites' => [
            'admin' => [
                'website_id' => '0',
                'code' => 'admin',
                'name' => 'Admin',
                'sort_order'

[2019-09-14 18:48] magento-engcom-team commented on #23966
Hi @sshymko. Thank you for your report.
The issue has been fixed in magento/magento2#24333 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [3acfc94d0d6d0dfa544c2317d26daab5978e9193](https://github.com/magento/magento2/commit/3acfc94d0d6d0dfa544c2317d26daab5978e9193)
 - [48b48dd46f09762fab3dff6f81d12969070a8f00](https://github.com/magento/magento2/commit/48b48dd46f09762fab3dff6f81d1296

[2019-09-14 18:48] #23966 closed, assigned to p-bystritsky

[2019-09-14 18:48] magento-engcom-team commented on #4506
Hi @VegasJames. Thank you for your report.
The issue has been fixed in magento/magento2#24506 by @hostep in 2.3-develop branch
Related commit(s):
 - [41ef34feca73eea48f3dd1744bce529d36909c91](https://github.com/magento/magento2/commit/41ef34feca73eea48f3dd1744bce529d36909c91)
 - [cbe25f4960b59feed344eebee25e3dbe2f3efaaa](https://github.com/magento/magento2/commit/cbe25f4960b59feed344eebee25e3dbe2f

[2019-09-14 18:48] magento-engcom-team commented on #13558
Hi @karangar. Thank you for your report.
The issue has been fixed in magento/magento2#24506 by @hostep in 2.3-develop branch
Related commit(s):
 - [41ef34feca73eea48f3dd1744bce529d36909c91](https://github.com/magento/magento2/commit/41ef34feca73eea48f3dd1744bce529d36909c91)
 - [cbe25f4960b59feed344eebee25e3dbe2f3efaaa](https://github.com/magento/magento2/commit/cbe25f4960b59feed344eebee25e3dbe2f3e

[2019-09-14 18:48] magento-engcom-team commented on #14357
Hi @cannycookie. Thank you for your report.
The issue has been fixed in magento/magento2#24506 by @hostep in 2.3-develop branch
Related commit(s):
 - [41ef34feca73eea48f3dd1744bce529d36909c91](https://github.com/magento/magento2/commit/41ef34feca73eea48f3dd1744bce529d36909c91)
 - [cbe25f4960b59feed344eebee25e3dbe2f3efaaa](https://github.com/magento/magento2/commit/cbe25f4960b59feed344eebee25e3dbe2

[2019-09-14 20:54] engcom-Bravo commented on #24582
@cristhianss I can't really understand why You closed the issue. Look once more at the actual result: "Product not removed from compare list". And that's true. The message You are talking about ("You have no items to compare.") is a bit lying and that just proves the bug. Why lying? - because the product to compare is still there:
![compare](https://user-images.githubusercontent.com/51680745/64913

[2019-09-14 20:55] magento-engcom-team commented on #24582
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-14 20:55] magento-engcom-team commented on #24582
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20161` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-14 20:59] engcom-Bravo commented on #24393
Hi @cristhianss. Would You please provide a reference to the PR that fixes this issue. Thank You.

[2019-09-15 00:09] phaelfp commented on #2291
#mm19br

[2019-09-15 00:09] magento-engcom-team commented on #2291
@phaelfp thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 10:45] krisdante commented on #24582
#mm19pl

[2019-09-15 10:48] VladimirZaets commented on #24594
#mm19pl

[2019-09-15 10:53] pierzakp commented on #24376
"#mm19pl"

[2019-09-15 10:54] krisdante commented on #24484
#mm19pl

[2019-09-15 10:57] yrobag commented on #23014
#mm19pl

[2019-09-15 10:57] magento-engcom-team commented on #23014
@yrobag thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 11:06] krisdante commented on #24582
Tuns out this is not on the #mm19pl list so I am unassigning myself for now.

[2019-09-15 11:06] Jarzebowsky commented on #8171
#mm19pl

[2019-09-15 11:06] magento-engcom-team commented on #8171
@Jarzebowsky thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 11:08] henryk-zaborowski commented on #21179
#mm19pl

[2019-09-15 11:08] magento-engcom-team commented on #21179
@henryk-zaborowski thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 11:09] pawel989 commented on #8171
pawel989 #mm19pl

[2019-09-15 11:09] magento-engcom-team commented on #8171
@pawel989 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 11:12] nmalecki commented on #9486
nmalecki #mm19pl

[2019-09-15 11:12] magento-engcom-team commented on #9486
@nmalecki thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 11:40] mazurekiza commented on #24191
mazurekiza #mm19pl

[2019-09-15 11:40] magento-engcom-team commented on #24191
@mazurekiza thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 11:51] mateuszkwik commented on #15065
mateuszkwik #mm19pl

[2019-09-15 11:51] magento-engcom-team commented on #15065
@mateuszkwik thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 11:54] Yupik commented on #23880
#mm19pl

[2019-09-15 12:01] krzysztofjasniok commented on #12889
#mm19pl

[2019-09-15 12:01] magento-engcom-team commented on #12889
@krzysztofjasniok thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 12:23] miwol commented on #24594
#mm19pl

[2019-09-15 12:23] magento-engcom-team commented on #24594
@miwol thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 12:26] nmalecki commented on #9486
looks like this issue is already fixed in 2.3-develop

[2019-09-15 13:01] soniaandrianow commented on #24468
#mm19pl

[2019-09-15 13:01] magento-engcom-team commented on #24468
@soniaandrianow thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 13:25] rani-webkul commented on #24393
Issue still exists in magento 2.3-develop branch

[2019-09-15 13:46] #12889 closed, assigned to nobody

[2019-09-15 13:51] mateuszkoscielniak commented on #22841
#mm19pl

[2019-09-15 13:51] mateuszkoscielniak commented on #22841
#mm19pl

[2019-09-15 13:52] Nekoozu commented on #14971
#mm19pl

[2019-09-15 13:52] magento-engcom-team commented on #14971
@Nekoozu thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 14:10] krisdante commented on #5321
#mm19pl

[2019-09-15 14:19] keyurshah070 commented on #21153
I cannot reproduce this issue on Magento 2.3-develop, Please check below Image,

<img width="289" alt="Screenshot 2019-09-15 at 16 18 47" src="https://user-images.githubusercontent.com/17308601/64922902-a4d56d80-d7d4-11e9-8d79-8e787948aac9.png">

[2019-09-15 14:25] krisdante commented on #5321
This is now (2.3.2) duplicate of #24484 as the reason of 404 is different.
There is no pub directory in the URL anymore as of 2.3.2.

See the sitemap below:

[code]

The 404 problem is fixed by #24605

[2019-09-15 14:44] krisdante commented on #4511
#mm19pl

[2019-09-15 14:53] PiotrKorzeniec95 commented on #23853
#mm19pl

[2019-09-15 14:53] magento-engcom-team commented on #23853
@PiotrKorzeniec95 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 14:56] 052b-dev commented on #15043
#mm19pl

[2019-09-15 14:56] magento-engcom-team commented on #15043
@052b-dev thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 15:13] nmalecki commented on #23853
#mm19pl

[2019-09-15 15:23] keyurshah070 commented on #23137
#mm19pl

[2019-09-15 15:32] henryk-zaborowski commented on #21179
This is not a Magento 2 bug, but an apache2 one.
By default apache should not allow encoded slashes in url without use of "AllowEncodedSlashes", (for security reasons) but sometimes it does.
If You really need to use "/" in SKUs then configure apache with "AllowEncodedSlashes On" directive. (not recommended)

Instead of looking for workaround for this case, Magento should not allow for usage of sl

[2019-09-15 15:32] #21179 closed, assigned to henryk-zaborowski

[2019-09-15 15:38] Yupik commented on #23880
Hello @Linek - as far as i can see, method \Magento\Framework\Encryption\Encryptor::decrypt() on branch 2.3-develop is fully supported (there's not any deprecated content). It's true, that Magento uses this method after clearing cache, but there's nothing wrong (it decrypt's username and password stored in database).

Right now Magento should go inside this method until PayPal module is active. Pl

[2019-09-15 15:45] krzysztofjasniok commented on #12889
Unable to reproduce on Magento 2.3 with given steps. Tested with flat rate as well as tablerates

[2019-09-15 15:48] krzysztofjasniok commented on #23254
Issue not reproducible on 2.3-develop.

[2019-09-15 16:37] manish0592 commented on #23828
#mm19pl

[2019-09-15 16:38] magento-engcom-team commented on #23828
@manish0592 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-09-15 17:26] hostep commented on #9486
Yeah, this was fixed in 2.2.6 I believe, let's close this since nobody is able to provide steps to reproduce the problem.

[2019-09-15 17:26] #9486 closed, assigned to nobody

[2019-09-15 22:28] r-martins commented on #2924
@Vinai Never heard about Valet+. Sounds to be an incredible alternative to Mamp and has support the http/2. Thanks for the hint.

[2019-09-16 05:41] engcom-Charlie commented on #24575
@iproger okay, i confirm this issue.

[2019-09-16 05:42] magento-engcom-team commented on #24575
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20163` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 05:46] magento-engcom-team commented on #24581
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-09-16 05:47] magento-engcom-team commented on #24581
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20164` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 06:34] dsaha1656 commented on #20684
this one also worked for me,

[2019-09-16 06:37] engcom-Charlie commented on #22094
@scne is not.

[2019-09-16 07:18] magento-engcom-team commented on #23319
Hi @eshwilk.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [a774aad16f4a26fe6fa535abf70af948634195be](https://github.com/magento/magento2/commit/a774aad16f4a26fe6fa535abf70af948634195be)
 - [0ad43ac5682d94f791c38ebaa590eb7f7372f432](https://github.com/magento/magento2/c

[2019-09-16 07:25] magento-engcom-team commented on #22479
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20165` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 07:51] knro commented on #22187
Is there any update on this?

[2019-09-16 08:00] josefbehr commented on #3594
@kalpmehta I have had many merchants who desperately needed to show their customers which specific discount was applied, instead of just showing the percentage. We definitely need to show the description there, real estate or not. Using the description for internal comments is not a good practice, as the description is displayed in the frontend further down the checkout anyways (unless you remove

[2019-09-16 08:12] magento-engcom-team commented on #24463
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20166` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 08:23] scne commented on #22094
@engcom-Charlie but I've still this problem with elastic search as indexer and 'Save on Update' strategy. I try to switch from elastic to mysql but the issue is the same

[2019-09-16 09:05] klict commented on #24584
Hey @luanalves, thank you for your message.

I still have  issue on my vanilla Magento instance. I took the following steps:

1. create new stores manually in Magento
2. make sure that config.php aligns with existing stores.
3. Modified config.php to create new stores:
[code]
4. Run `bin/magento setup:upgrade`

Result
`bin/magento setup:upgrade` : Import failed: Validation Failed
But when I run `b

[2019-09-16 09:09] IanFiretoys commented on #5980
we are also not using that module and have this issue as well.

[2019-09-16 09:47] engcom-Bravo commented on #24393
@magento give me 2.3-develop instance

[2019-09-16 09:47] magento-engcom-team commented on #24393
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-09-16 09:48] magento-engcom-team commented on #24393
Hi @engcom-Bravo, here is your [Magento instance](https://i-24393-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24393-2-3-develop.instances.magento-community.engineering/admin](https://i-24393-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-09-16 09:49] engcom-Charlie commented on #22500
Hello @gody01
I am closing this PR now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2019-09-16 09:49] #22500 closed, assigned to nobody

[2019-09-16 09:56] engcom-Bravo commented on #24393
Hi @cristhianss. I can't really guess why You close reproducible issues. Here is the screenshot obtained on the just deployed instance from above:
![order](https://user-images.githubusercontent.com/51680745/64949161-42867680-d881-11e9-9c33-257078d3e13b.png)
Please next time be more carefull when closing an issue. Thank You.

[2019-09-16 09:57] magento-engcom-team commented on #24393
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20167` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 10:12] TomashKhamlai opened #24617 "Product Compare doesn't work for products with OUT_OF_STOCK status even when Display Out of Stock Products is enabled"
### Preconditions (*)

1. Sample Data
2. Display Out of Stock Products is set to Yes

### Steps to reproduce (*)

1. Find the product in the admin panel by SKU: MH01 and open it
2. Expand Configurations tab
3. Click **Edit Configurations** > **Next** > **Next**
4. Under **Quantity** enable **Apply single quantity to each SKUs** and set it to 0
5. Click **Next** > **Generate Products**
6. Save the

[2019-09-16 10:29] sudheers-kensium commented on #24617
hello @TomashKhamlai Thanks for your report, this issue is already confirmed you can check #24555

[2019-09-16 10:53] adamlavery commented on #23154
This has been closed without any resolution published.

@yashjain87553 - we are getting this too. Worked fine on 2.2.8 but now also getting this 404 error on 2.3.1. Did you find a solution?

[2019-09-16 11:23] engcom-Bravo commented on #24585
Hi, @sunilit42, thanks for applying. Please specify what do You mean under: "in sidebar you can see default shipping address..."? You are supposed to stay on the Payment page "after get error msg from payment & reload that page". And if You are still on the Payment Page there is no shipping address on it but only the billing address - the address You haven't changed and therefore it remains the de

[2019-09-16 11:55] mertgokceimam commented on #22587
@facetimer no it works accurate for us, if you are EE customer contact support and request following  patch MDVA-20708_EE_2.2.9_v1.composer.patch

[2019-09-16 12:02] speedupmate opened #24618 "Magento_Braintree/js/view/payment/method-renderer/paypal.js accessing undefined variables"
### Preconditions (*)

1. Magento 2.2. * - 2.3.2

### Steps to reproduce (*)

1. initiate paypal payment method when shipping address object is  not filled with data

### Expected result (*)

1. no js errors on frontend
2. more checks on getShippingAddress method is needed to validate the address object before usage https://github.com/magento/magento2/blob/de0fc3b767838384df35424bc747fed98bb56453/

[2019-09-16 12:11] luanalves commented on #24584
@klict
I did as you said, created a new website, then ran the command bin / magento app: config: dump, it generated another app file / etc / config.php and then put another store in this file and ran the command bin / magento setup: upgrade.
Were these steps you used?
My tests consist of Magento 2.3.2, sample data and Luma theme.

[2019-09-16 12:20] TomashKhamlai commented on #24617
@sudheers-kensium, yeah it almost a duplicate. Issue #24555 shows that it is reproducible after upgrading and this issue shows the problem on a clean install. My issue will be referenced to another project. We need detailed step-by-step scenarios to show different aspects of the problem. I believe that somebody from maintainers team will close this as duplicate as soon as the processing of the PR

[2019-09-16 12:33] arendarenko opened #24619 "Elasticsearch category page issues when 1 column layout is used"
### Preconditions (*)

1. Magento 2.3.2 CE and 2.3-develop
2. Installed & configured Elasticsearch 6.5

### Steps to reproduce (*)
1. Choose category with products and set 1 column design to it (Catalog -> Categories -> Edit Category -> Design -> Layout -> "1 column"
2. Save category
3. Flush cache
4. Open this category on website and change sort order to "Price"
5. Go to page 2

### Expected resu

[2019-09-16 12:38] TomashKhamlai opened #24620 "Display Out of Stock Products configuration option has an impact on Product Compare functionality"
### Preconditions (*)

1. Sample Data
2. Display Out of Stock Products is set to No (System Default value)

### Steps to reproduce (*)

1. Find the product **Chaz Kangeroo Hoodie** (SKU: MH01) from the Storefront and add to compare
2. Login to Admin
3. Find the product in the admin panel by SKU: MH01 and open it
4. Expand Configurations tab
5. Click **Edit Configurations** > **Next** > **Next**
6.

[2019-09-16 12:45] TomashKhamlai commented on #24620
The problem with removing items from the comparison list is already described in #24582. This issue is about products visibility in the context of Product Compare functionality.

[2019-09-16 12:56] ihor-sviziev commented on #24619
Similar issue we had with MySQL search long time ago in https://github.com/magento/magento2/issues/12860

[2019-09-16 13:05] engcom-Bravo commented on #23254
Hi @krzysztofjasniok. The issue is still reproduced on the latest develop version. If You haven't manage to reproduce it that's only because You missed something in the order of reproduction. In fact the issue comes not from the website's id=1 but from the setting of Default Website. The confusion origins from after You install a fresh instance the default website is the one with id=1.
First the b

[2019-09-16 13:05] magento-engcom-team commented on #23254
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20168` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 13:06] parekhreena commented on #19230
The issue still happens with Guest Users. The issue originates from \Magento\SalesRule\Model\Coupon\UpdateCouponUsages::updateCustomerRuleUsages and this line $ruleCustomer->save(); was causing the issue.

[2019-09-16 13:23] magento-engcom-team commented on #24617
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20169` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-09-16 13:27] sunilit42 commented on #24585
Hello @engcom-Bravo
Thanks for checking
1) go to the checkout
2) select other than the default shipping address
3) select any shipping method
4) click on next
5) select any payment method
6) https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Checkout/Model/PaymentInformationManagement.php#L84
add
throw new CouldNotSaveException(
                __('A server error stopped your or