[2015-09-28 14:47] bigappleinsider commented on #1578
@adragus-inviqa awesome, can you push this fix?

[2015-09-28 14:47] danielc1234 opened #1973 "No Swap out Swatches for 2.0?"
Unless I am missing it, I do not see the configurable swatches options for configurable products in Magento 2.0 like what was added in 1.9.  Will this be something that will be incorporated or am I just not seeing it?

[2015-09-28 14:49] voleye commented on #1968
Hi @sunilit42 , could you please specify which Magento version do you use?

[2015-09-28 15:00] dfediuk opened #1974 "The «i18n:collect-phrases» command wrongly handles PHP string concatenation"
An example of wrongly handled string: https://github.com/magento/magento2/blob/077584c99ebb8007cad176c3b9a0144a05c259cd/app/code/Magento/Catalog/Block/Adminhtml/Product/Attribute/Set/Main.php#L132-L133

A more detailed bug description: https://mage2.pro/t/93

[2015-09-28 15:24] mazhalai commented on #1968
@sunilit42 did you run `composer update` after adding ` "magento/sample-data": "~1.0.0" `

[2015-09-28 15:48] dfediuk opened #1975 "Admin renaming product template group dialog: an input box height does not match the input text size"
![magento2-15](https://cloud.githubusercontent.com/assets/83204/10140662/5b4a63de-6611-11e5-8ebd-799b9f499287.png)

The latest Google Chrome browser.

[2015-09-28 16:14] dfediuk opened #1977 "Admin menu: why «Rating» is placed to the «Attributes» section?"
![magento2-16](https://cloud.githubusercontent.com/assets/83204/10141413/1490c3da-6615-11e5-887d-24f55ea77dd7.png)

[2015-09-28 16:15] adragus-inviqa commented on #1836
I think this has the same cause as https://github.com/magento/magento2/issues/1578

[2015-09-28 16:28] amenk commented on #1967
okay, but it should also be mentioned in http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_mode.html

I actually will try `grunt` now ... might be a much better option

[2015-09-28 16:45] dfediuk opened #1978 "The diagnostic message «An attribute code must be fewer than %1 characters.» is semantically wrong"
It is wrong because the high bound is acceptable.
A right phrase could be "not more than..."
A detailed description here: https://mage2.pro/t/94

[2015-09-28 17:07] sakiss commented on #1969
Thanks for the feedback.
I followed that carefully but now i am getting some errors.
It report file asks me to run the setup:upgrade which i do.

At the end of the setup messages it gives me that:
*Please re-run Magento compile command*

Visiting the site gives me another message:
*exception 'Magento\Framework\Exception\LocalizedException' with message 'Can't create directory /var/www/html/magento

[2015-09-28 17:20] orlangur commented on #1893
@sakiss, surely, if you faced with a problem which you believe could be handled using error log, please provide steps to reproduce it.

For example, in most cases `Fatal Error` could not be logged by application while `Recoverable Error` could.

[2015-09-28 17:29] orlangur commented on #1978
Could you prepare a pull request then? :wink:

What is the reason of placing detailed description on separate site?

[2015-09-28 17:31] mazhalai commented on #1969
@sakiss please give your `var/generation`  folder write access.

[2015-09-28 17:31] orlangur commented on #1972
Nice catch :+1: "Product template" must be used everywhere instead of "attribute set", looks like "We can't delete this set right now" message was not updated.

[2015-09-28 17:33] sakiss commented on #1969
all the files and folders have rw (permissions)

[2015-09-28 17:39] mazhalai commented on #1969
Did you follow permissions based on [http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html]

[2015-09-28 17:46] sakiss commented on #1969
Thanks for the feedback.

It's a local installation where everybody has read-write-execute (777) permissions

I think it's not a permissions issue as this was a working installation.
I just upgraded it by fetching the latest files from github and then upgraded the db-schema (setup:upgrade)

[2015-09-28 19:42] CRYX2 commented on #1963
Sure, i've edited the Mask for meta title:

![senza-titolo-2](https://cloud.githubusercontent.com/assets/5001801/10146497/7ca24908-6629-11e5-8d5b-ead4361daf9c.jpg)

After, I've create a new product with a Color attribute:

![senza-titolo-3](https://cloud.githubusercontent.com/assets/5001801/10146507/89af7f76-6629-11e5-8255-607d8399c2fd.jpg)

And after save, i've checked the frontend, and my Meta t

[2015-09-28 19:43] sunilit42 commented on #1968
@voleye latest version just uploaded it
@mazhalai yes i run 3 times. same thing happen.

[2015-09-28 19:58] mazhalai commented on #1968
@sunilit42 please clearing you `var` folder and try again

[2015-09-28 20:01] CRYX2 commented on #1964
Ok thanks, those modifications will be applied before the GA?

[2015-09-29 02:08] nguyetnguyen commented on #1471
hi @asemenenko, is this issue resolved? I also got it when importing product csv though my data is not duplicated.

[2015-09-29 08:05] okorshenko commented on #1848
@afroz92 , thank you for reporting. Please, let us know if you still have an issue

[2015-09-29 08:05] #1848 closed

[2015-09-29 08:50] ffrodoe opened #1979 "Cannot select next year from calendar picker"
Calendar picker offers years from 1915 to 2015. For example how can I select next year date for catalog price rule "to" field?
![screen_000042](https://cloud.githubusercontent.com/assets/12183505/10159328/46ac9c0a-66a0-11e5-9277-0fd453c23e45.jpg)

[2015-09-29 09:15] voleye commented on #1973
Hi @danielc1234 , "Swatches" module is available in "develop" branch.

Once you install Magento from "develop" branch you can create an attribute with frontend type "Visual Swatch" or "Text Swatch".

Also, do not forget to set "global" scope in "Advanced Attribute Properties" section

[2015-09-29 09:35] sakiss commented on #1969
Don't know if this helps but when i change again permissions the initial messages disappear and i am getting:
*Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:.......*

When i run the *bin/magento setup:upgrade* at the end i am getting the message:
*Please re-run Magento compile command*

Visiting the site i am getti

[2015-09-29 09:37] MomotenkoNatalia commented on #1975
Internal reference: MAGETWO-43387 Thanks for reporting this issue!

[2015-09-29 09:42] okorshenko commented on #1825
@Tomouse55 , Please, let us know if you still have an issue

[2015-09-29 09:42] #1825 closed

[2015-09-29 10:21] ffrodoe opened #1980 "Product attributes' labels are not translated on product edit page"
For example try to translate "Meta Keywords" attribute label.
![screen_000043](https://cloud.githubusercontent.com/assets/12183505/10161459/f6bee416-66ac-11e5-997e-e6e0fb56b311.jpg)

[2015-09-29 10:23] sakiss commented on #1969
I re-install it from scratch so can be closed

[2015-09-29 10:23] #1969 closed

[2015-09-29 10:56] dfediuk commented on #1980
Same as https://github.com/magento/magento2/issues/1909
My fix: https://mage2.pro/t/73

[2015-09-29 11:28] okorshenko commented on #1451
@markoshust Thank you for reporting. Currently we can't reproduce this issue.
Some details:
CE: cbf24e37edfc941013cb152a4e13132f67f3d39e
SD: https://github.com/magento/magento2-sample-data/commit/e9eeaa069db29b9e747bbb4539bb5cd9b8374ef6

### Installation:

To deploy sample data from repository, use:
 - Clone the sample data repository. For example, git clone https://github.com/magento/magento2-sam

[2015-09-29 11:28] #1451 closed

[2015-09-29 11:35] markoshust commented on #1451
I think this was related to my previous build not properly generating static assets correctly from node (grunt refresh). I fixed this with an updated version of node (4.x).

[2015-09-29 12:43] rklerck commented on #1836
Checked it, and indeed has the same cause as #1578 ! It works when changing code locally.

[2015-09-29 12:43] #1836 closed

[2015-09-29 13:57] danielc1234 commented on #1973
@voleye I switched over to the deveop branch and now have massive errors. Is there a way to just get the develop branch to begin with? Mine was set to master.

Here is the lastest error I have tracked down.

a:4:{i:0;s:206:"SQLSTATE[42S22]: Column not found: 1054 Unknown column 'failures_num' in 'field list', query was: UPDATE `admin_user` SET `failures_num` = ?, `first_failure` = ?, `lock_expires

[2015-09-29 14:56] jebaraj253 commented on #815
Hi,

    installation incomplete while install magento2 in ubuntu 12.04

    when install the  module it is  asking  upgrade Module 'Magento_Customer and it is keep on upgrading but the process will not complete.

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Modul

[2015-09-29 15:08] jebaraj253 commented on #815
![cgcfcdee](https://cloud.githubusercontent.com/assets/14868833/10168347/fe78c93c-66e9-11e5-927b-119d0c8c16db.jpg)

[2015-09-29 15:10] jebaraj253 commented on #815
Hi,

installation incomplete while install magento2 in ubuntu 12.04

when install the  module it is  asking  upgrade Module 'Magento_Customer and it is keep on upgrading but the process will not complete.

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magen

[2015-09-29 15:29] voleye commented on #1973
@danielc1234 If it is not a problem to re-install Magento from scratch it probably would be the easiest way

In this case do the following:
 - drop the database and create new one
 - run the command in magento root `rm -rf ./var/* ./pub/static/* ./app/etc/config.php ./app/etc/env.php` please be sure that  you do not have any important files in these directories
 - go through Setup Wizard steps

[2015-09-29 16:36] chicgeek commented on #1970
Arg, that seems to have solved it. Thanks for looking.

[2015-09-29 16:36] #1970 closed

[2015-09-29 17:06] danielc1234 commented on #1973
@voleye Thanks, I was able to reinstall from scratch, however not able to add sample data and when trying to create a new product, it will not save. Just spins and spins. Can't seem to get anything working.

How often to you guys update to the master branch with updates?

[2015-09-29 17:26] danielc1234 commented on #1973
@voleye nevermind on the saving issue, I was able to resolve that. However for some reason on configurable products, when I try to save  modifications, it says that I have to select a color, but yet the color options are grayed out.

![image](https://cloud.githubusercontent.com/assets/1151357/10172503/ab25b36c-66ad-11e5-8fe7-de23b2e411e0.png)

[2015-09-29 17:30] danielc1234 commented on #1973
The value of attribute "color" must be set is the exact message

[2015-09-29 18:02] voleye commented on #1973
@danielc1234, you may made the color attribute as "not required".

Also check does this attribute has values?

[2015-09-29 18:15] danielc1234 commented on #1973
@voleye Yes, set as required. Seems to be working, except swap out is not working on product page only on category page. But no big deal at this point, just trying to get fundamentals going.

What I was hoping to do is; as an example..., let's say we sell a chair that comes in 12 different colors. These chairs would have an optional 'cushion' if they wanted to add it to the chair order. There are

[2015-09-29 19:04] amenk opened #1981 "Better grunt workflow / local theme.js"
When installing a new theme, I would add it to

`dev/tools/grunt/configs/themes.js`

(according to http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html#grunt_prereq)

But this file is in the standard git ignore and would be overwritten when doing a composer update (if Magento is installed via composer)

How can we fix this?

Maybe an additional file custom_themes.js

[2015-09-29 19:37] johnbendi commented on #1968
I'm having the same issue. Clearing the `/var` folder does not help.

[2015-09-29 19:53] amenk commented on #1981
see PR https://github.com/magento/magento2/issues/1982

[2015-09-29 20:00] johnbendi commented on #1968
what is the difference between `magento/sample-data` and `magento/module-sample-data` ?

[2015-09-29 20:04] sunilit42 commented on #1968
Before some time they added into setup folder, now a days he provide as magento core module.

But we tried to add into composer and download it, it comes old version. does not include all the files with latest commit.

Check below one:
https://github.com/magento/magento2-sample-data

download it and manually install manually it will works.

[2015-09-29 20:56] danielc1234 commented on #1968
I've been trying for hours to get the sample data into the develop version with no luck. Seems like it imports, but nothing shows on the front end. Very frustrating.

[2015-09-29 21:01] mazhalai commented on #1968
@danielc1234 did you try to install via composer or via git repository?

[2015-09-29 21:08] danielc1234 commented on #1968
@mazhalai
I tried both. I can see the cms blocks with images in admin, but looks like they lost their links in the category sections.
What is the best way to add sample data with the develop branch? Is there any docs that we should be following?

Thanks

[2015-09-29 21:09] danielc1234 commented on #1968
but if I do it via setup wizard within magento, the sample data is grayed out.

[2015-09-29 21:14] mazhalai commented on #1968
If you want to use `develop` branch please install sample-data via the git repository. See the readme [here](https://github.com/magento/magento2-sample-data)
Also, are there any errors in the browser's console?

[2015-09-29 21:48] danielc1234 commented on #1968
@mazhalai I did use the git repository, which says it was updated, however in the wizard setup, the sample data cannot be checked off cause it is grayed out.

[2015-09-29 22:06] mazhalai commented on #1968
@danielc1234 can you check your `/app/etc/config.php` file. Does it have sample data? if not please run `bin/magento setup:upgrade`, check `config.php` again to confirm sample-data exists and then run the wizard

[2015-09-29 22:23] mazhalai commented on #1968
@danielc1234 @sunilit42 @johnbendi we have created ticket MAGETWO-42770 to investigate.

[2015-09-29 22:24] johnbendi commented on #1968
@danielc1234 use the git repo as follow the second instruction for installation on the readme. It will output something like:
[code]
after the script is run. Then use the command line style of installation to proceed as normal.

[2015-09-30 00:11] mage2pro opened #1983 "Product attribute labels in admin attribute grid and admin attribute view are not translatable (and my fix)"
![magento2-20](https://cloud.githubusercontent.com/assets/83204/10181439/c58105d6-6720-11e5-80cc-e0f23c35d116.png)

The issue is similar to (but not the same as) https://github.com/magento/magento2/issues/1909 and https://github.com/magento/magento2/issues/1980

My fix with plugins: https://mage2.pro/t/96
Surely the possibility to translate product attributes should be in the core.

![magento2-18]

[2015-09-30 06:52] bassdr commented on #1734
I am having similar issues, and it seems to be related with javascript files not found.
Note that I chose French Canada at installation time, and it seems like it tries to open a file in the localization folder (pub/static/adminhtml/Magento/backend/fr_CA/tiny_mce/tiny_mce_src.js), the file is
at lib/web/tiny_mce/tiny_mce_src.js

I am not using apache, but nginx, I carefully followed the nginx.conf

[2015-09-30 08:10] vladimir-k commented on #1259
Hi, @sivajik34. This bug has already been fixed. Please, let us know if you still have an issue. Thanks!

[2015-09-30 09:04] LifeAsBook opened #1984 "when add custom attribute to customer which the backend New Customer is now show"
class UpgradeData implements UpgradeDataInterface
{

    /**
     * @var CustomerSetupFactory
     */
    protected $customerSetupFactory;

    /**
     * @var AttributeSetFactory
     */
    private $attributeSetFactory;

    /**
     * @param CustomerSetupFactory $customerSetupFactory
     * @param AttributeSetFactory $attributeSetFactory
     */
    public function __construct(
        Customer

[2015-09-30 09:24] antonkril commented on #1734
Did you run static files materialization? Magento 2 stores static files in module and theme folders and copies them to pub/static folder on request in dev mode. So if on one request the browser tries to load a lot of new static files, some of these requests will fall off by timeout (especially on windows systems). Reloading page usually fixes the problem. But there is also view file materializatio

[2015-09-30 11:04] voleye commented on #1973
@danielc1234

Unfortunately, you can`t create configurable product without creation the set of variations (that are simple products).

But these simple products are "Not Visible Individually" so you will not have any issues on the frontend. Also, you need not set the color for each of simple product it is enough to set the color for attribute values, so it should not be a routine job

[2015-09-30 11:42] vladimir-k commented on #1293
Hi everyone,
Magento Team made some improvements in Sample Data including performance and errors processing. Now all these changes are available on **develop** branch of magento2-sample-data repository. Please, pay attention: it can be installed with magento2 **develop** version only.
We would really appreciate your feedback!

[2015-09-30 12:11] vladimir-k commented on #1506
@dfediuk, this issue is fixed and delivered (internal reference: MAGETWO-42939). Could you please verify the fix?

[2015-09-30 12:18] sunilit42 opened #1986 "Trying to create admin controller but getting below error"
Hello,

Fatal error: Class MageArray\Slider\Controller\Adminhtml\Slider contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (Magento\Framework\App\Action\Action::execute) in D:\wamp\www\mageArray\magento2\app\code\MageArray\Slider\Controller\Adminhtml\Slider.php on line 59

[2015-09-30 12:26] dfediuk commented on #1506
Yes, it works now.

[2015-09-30 12:26] #1506 closed

[2015-09-30 12:30] vladimir-k commented on #1511
@wigman, internal ticket is closed and delivered. Please, let us know if you still have an issue. Thank you!

[2015-09-30 12:30] #1511 closed

[2015-09-30 12:46] admin123 opened #1987 "Order View page add custom button using Events"
I have uses "adminhtml_block_html_before" events to add button in order view page.
I have print button list in tohtlm I got my custom button there but in backend It not displayed.

[2015-09-30 12:47] vladimir-k commented on #1559
@ikk0, internal ticket is fixed and already available in develop branch. Please, check the fix, and if something doesn't work for you, feel free to reopen this issue. Thank you for collaboration!

[2015-09-30 12:47] #1559 closed

[2015-09-30 13:25] mazhalai commented on #1968
Yes CLI with `--use-sample-data` flag works perfectly. The fix for web setup is in progress.

[2015-09-30 14:05] BaDos commented on #1671
Hello, @nagno!

How did you create a CMS page?
You can see the sample code to create page in the next file: https://github.com/magento/magento2/blob/develop/app/code/Magento/Cms/Setup/InstallData.php

I created simple module and added creation of CMS page in setup script.
Ran bin/magento setup:upgrade
New module was installed and new CMS page was created.

[2015-09-30 14:52] okorshenko commented on #1986
@sunilit42 , Could you, please, show content of your controller?

[2015-09-30 15:49] vladimir-k commented on #1774
@ajzele, fix has been delivered to develop branch. If something still doesn't work for you, feel free to reopen this issue. Thank you for helping us make Magento better!

[2015-09-30 15:49] #1774 closed

[2015-09-30 16:08] #1529 closed

[2015-09-30 16:08] #1941 closed

[2015-09-30 16:40] mazhalai commented on #1910
@Flyingmana we have created MAGETWO-43502 to investigate.

[2015-09-30 17:15] choma828 opened #1989 "Keep Image Aspect Ratio"
I'm working with Magento 2 Category Page.

But I couldn't know how to keep the product image aspect ratios.

In magento 1.x, I can get the image src to use below code.

<?php
    echo $this->helper('catalog/image')
    ->init($_product, 'small_image')
    ->constrainOnly(FALSE)
    ->keepAspectRatio(TRUE)
    ->keepFrame(FALSE)
    ->resize(300);
?>

But in magento 2, I can set the image sizes in

[2015-09-30 17:33] xcomSteveJohnson commented on #1753
See also: http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-uninstall.html#instgde-install-magento-update

[2015-09-30 17:45] danielc1234 commented on #1753
It always seems this breaks the site. I followed the instructions on the link above and killed the whole site.
Now getting this error...

a:4:{i:0;s:62:"Setup version for module 'Magento_SampleData' is not specified";i:1;s:2227:"#0 /Projects/magento2/lib/internal/Magento/Framework/Module/DbVersionInfo.php(56): Magento\Framework\Module\DbVersionInfo->isModuleVersionEqual('Magento_SampleD...', '2.0.

[2015-09-30 18:53] mazhalai commented on #1974
Thank you for reporting, we have ticket MAGETWO-43435 to investigate a fix.

[2015-09-30 18:54] mazhalai commented on #1942
@wojtekn we are unable to reproduce this error.  Have you tried clearing you `var` directory and trying again? Also, can you please give us more details about PHP version, server configuration etc.

[2015-09-30 18:56] mazhalai commented on #1902
@sumanparihar can you please provide more details: version of magento, which branch are you using, master or develop, PHP version, and server details.
Have you introduced any custom modules?

[2015-09-30 20:09] amenk commented on #1981
I am not so happy with my pull request. I was thinking about auto-detecting the installed themes for grunt.
But I am not sure if we also can auto detect the locale which is needed for less generation.
What do you think?

[2015-09-30 20:18] dfediuk commented on #1646
Today I faced the bug again:

1. I created a simple product using the default product template.
- I created a new product template with a custom dropdown attribute.
- I open the product, changed it template to the new and saved the product.
- After saving the page is reloaded and here is the bug.

My fix still works: https://mage2.pro/t/48

[2015-09-30 22:04] xcomSteveJohnson commented on #1753
Currently, sample data works with the master branch only. We're still waiting on a fix for that.

[2015-10-01 01:30] dfediuk opened #1990 "Bug: A value of a custom dropdown attribute is formatted incorrectly (with leading comma) in admin product grid (and my fix)"
![magento2-01](https://cloud.githubusercontent.com/assets/83204/10210858/0990d04c-67f5-11e5-991e-06d097f02839.png)

A detailed description and my fix: https://mage2.pro/t/98

[2015-10-01 02:03] bassdr commented on #1734
Hi antonkril,
Thank you very much for your quick reply. I was able to fix the problem. If someone has the same issue, here is what I did:

First thing I realized when running bin/magento script, my .../magento/etc folder was not writable by my nginx user, that is the first thing I fixed (will care about security later). After that, from magento's bin folder, I've run:
* `sudo -u nginx ./magento ma

[2015-10-01 07:04] sunilit42 commented on #1986
Controller Index File :+1:
<?php
namespace MageArray\Slider\Controller\Adminhtml\Slider;
class Index extends \MageArray\Slider\Controller\Adminhtml\Slider {
	/**
     * @return void
     */
    public function execute()
    {
        echo "Gg";exit;
    }
}
Slider.php file

<?php

namespace MageArray\Slider\Controller\Adminhtml;
use Magento\Backend\App\Action;
use Magento\Backend\App\Action\Contex

[2015-10-01 07:44] okorshenko commented on #1898
@dfediuk , thank you for reposting the issue.
We was able to reproduce this issue by the following steps:

1 Checkout merchant beta release https://github.com/magento/magento2.git *master* branch
2 Install Magento instance
3 Update code base with latest changes from develop branch  https://github.com/magento/magento2.git *develop* branch
4 Clean caches
5 run bin/magento setup:upgrade
6 Go to admin

[2015-10-01 08:23] nagno commented on #1671
Hi @BaDos,
I would like to highlight, we are using the merchant beta version (beta 3), not the simple beta version. Have you tried with that?
The simple beta version doesn't have the VersionCms module, which causes the issue.

We have a code like this:
[code]

[2015-10-01 08:29] nagno commented on #1671
I think, this issue was reported before we started to log the issues to the partner portal. Do you want me to report it on the partner portal instead of github?

[2015-10-01 10:48] adragus-inviqa opened #1991 "[Proposal] - Easily create backend-readonly attributes"
I tried to create Customer attribute which renders as readonly in the backend, but couldn't find an easy way to do it.

"Easy" for me means a new flag when creating an attribute (like `label`, `frontend_class` etc.) - say `adminhtml_readonly` - which changes the way its default renderer displays the input - exactly the way it renders when the attribute is `locked()`.

Although the classes that ren

[2015-10-01 11:51] himssri opened #1992 "Namespace and DI in Magento/Framework/App/Action (lib)"
Hi, i got stuck on a point that there is three classes inside "Magento\Framework\App\Action"
Action.php, AbstractAction.php and Context.php.

All three files are under same namespace "Magento\Framework\App\Action" defined on the top of each three files.

now my confusion is:
In Action.php in contructor is look like:
public function __construct(Context $context)
    {
       // some code
    }
And

[2015-10-01 12:22] stasleo opened #1993 "Design is broken in firefox if hide mass-action from new grid"
We are making a new grid in our extension, and we don't need any actions for items. We disabled mass-action, and now design is broken in Firefox. Chrome OK.
![74b5bfea5632de70cb6d6fa5d1a1c68e33e29ede21d21c17d0 pimgpsh_thumbnail_win_distr](https://cloud.githubusercontent.com/assets/3024248/10220422/0623a2e4-6850-11e5-9bbf-6517c1be1c67.jpg)

[2015-10-01 12:22] adragus-inviqa commented on #1992
They both work. The first is relative to the current namespace and the latter, albeit being a bit redundant, is absolute. The second could've been very well set to `Context` instead of the full-qualified name and it still would've worked.

[2015-10-01 12:28] himssri commented on #1992
Yes i made a change to second as 'Context' it was working, i would have been digging that is inside magento 2  standard library they used both way with same moto. i think it is only just like.
correct?

[2015-10-01 12:31] stasleo opened #1994 "Feature Request: grid bookmark improvements"
We want to use Bookmarks in new M2 Grids, but we have faced some issues.
First - there is no confirmation when I accedentally click on 'delete' icon.
Also we can't just save current bookmark after some changes (I need to create new one).
We also want to display list of bookmarks always somehow (buttons bar for instance), so that we could access it in just one click. There is also an idea to displa

[2015-10-01 12:55] voleye commented on #1980
Hi @dfediuk,

It is not exactly an issue because there is no such agreement that says that attributes should be named in English. The fix would not works in case when somebody calls attribute in French, for example.

Thank you for this comment! We will discuss it and get back to you once we agreed on it.

[2015-10-01 12:57] voleye commented on #1983
Hi @dfediuk

Thank you for helping us make Magento better! We will discuss it and get back to you once we agreed on it.

[2015-10-01 13:13] adragus-inviqa commented on #1992
Not sure I understand what you're saying, but this is a consistency thing, and a small at that.
If you want, you could submit a PR, changing the `AbstractAction.php`'s constructor type hint to the more succint `Context`, instead of `\Magento\Framework\App\Action\Context`.

[2015-10-01 13:18] himssri commented on #1992
Sure, Thanks to you!

[2015-10-01 13:34] dfediuk commented on #1980
There is **no big problem** with non-standard attributes: an administrator enters them manually and can set them any title he wants.
There is **the problem** with the standard attributes, and their titles are always in English. The problem is there are 43 standard attributes and now they should be translated manually for each new Magento installation: this is a lot of manual work.

[2015-10-01 13:40] #1992 closed

[2015-10-01 16:00] voleye commented on #1980
@dfediuk

I agree with you, but in general when you see in the code `__('Some Phrase')` this 'Some Phrase' from translation mechanism of view is nothing else as 'key'.

Attribute label does not meet this pattern because it is not a 'key' (In case of French, for example).

[2015-10-01 16:52] sdzhepa commented on #1865
Hi @footman

We have verified it on current "develop" branch: 02e18015cfbb1872fdca35e43c923ba17f6ce05a from https://github.com/magento/magento2.git repo.

We can’t reproduce this issue for now. Could you please verify whether this issue still present?

[2015-10-01 21:11] alexhlynskyy opened #1996 "Password Reset doesn't work."
I receive email but it redirects to login page.

[2015-10-02 01:09] dfediuk opened #1998 "«Admin» store title is untranslatable on admin attribute edit page neither by a dictionary nor manually (and my fix)"
![magento2-01](https://cloud.githubusercontent.com/assets/83204/10237510/220d2d16-68bb-11e5-9721-eeb16d525095.png)

I fixed the problem with a plugin: https://mage2.pro/t/99

![2015-10-02_4-04-47](https://cloud.githubusercontent.com/assets/83204/10237531/4ddc92e2-68bb-11e5-97e7-17db3ba35cfd.png)

[2015-10-02 03:04] kassner opened #1999 "Grid columns don't have identifiers"
Hi,

The new grid system that was rolled out some weeks ago does not have any identifiers in the DOM, like a `id`, a `class` or a `data-*` attribute that allows us to know which data each column holds.

In that way, some useful resources for functional tests like [retrieving invoice IDs of an order](https://github.com/magento/magento2/blob/b4d2cb55f565a4a15921d976b067128803cc7246/dev/tests/functio

[2015-10-02 05:24] skjethva commented on #1891
Hello
I am using window 7 and i am facing the same issue.
Please help

[2015-10-02 06:24] sanjayjethva opened #2000 "Magento Installation Issue"
I am trying to installing the magento 2 but in step6 i facing below error.
tarting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':
Installing schema..
[ERROR] exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1062

[2015-10-02 06:55] darshanb87 commented on #1891
Hi sanjayjethva,
Follow my comment mentioned above. Open firebug in mozila and you can easily enable next button.

[2015-10-02 07:10] admin123 commented on #1987
Please give me some solution, is It bug ?

[2015-10-02 07:10] SasiKiranK commented on #1958
Hi Team

Kindly share if any update in this ticket.
added @vkorotun

Thanks

[2015-10-02 08:33] sunilit42 commented on #1590
one more question:

if i want to do some small changes into cssm then how i can do directly and test.

Because in magento2, that working based on saas, so it merge all css and creating css file, so much time consuming, how we can do quickly.

[2015-10-02 08:49] okorshenko commented on #1824
@rlieser thank you for reporting. Please, let us know if you still have an issue

[2015-10-02 08:49] #1824 closed

[2015-10-02 08:50] asemenenko commented on #1924
@MaxYaroshenko
Billing address can initiate total amount update, thus needs to be saved before render the payment form. Reloading the payment form every time user update any of the field is not a considered as a best UX practice. Especially for iFrame based payment integrations.

[2015-10-02 08:53] okorshenko commented on #1625
@sivajik34 , Please, let us know if you still have an issue

[2015-10-02 08:53] #1625 closed

[2015-10-02 08:53] okorshenko commented on #1632
@FireKirin , Please, let us know if you still have an issue

[2015-10-02 08:53] #1632 closed

[2015-10-02 09:38] dvamst opened #2001 "When i try to run integration tests, i receive error 'There are no commands defined in the "cache" namespace.'"
Steps to reproduce:
[code]

Error message:

[code]

Tested on the latest Magento develop branch.

[2015-10-02 10:47] VLCSolutions opened #2002 "Magento2 SOAP API"
How to create a SOAP API in magento2

[2015-10-02 11:02] zanilee commented on #1989
Hi, @choma828!

Try to add ```<aspect_ratio>true</aspect_ratio>``` to your image configuration like this:
[code]
See http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-images.html for details

[2015-10-02 11:37] wojtekn commented on #1942
@mazhalai thanks for checking this. Finally I found a way to reproduce and it looks it's not an issue.

I'm able to reproduce this error when I try to reinstall Magento 2 after removing following:
* `var/*`
* `app/etc/config.php`
* database content

I can't reproduce it when I also remove `app/etc/env.php`.

Now I see manual recommends using `bin/magento setup:uninstall` to uninstall Magento and t

[2015-10-02 12:31] choma828 commented on #1989
Thanks for your reply.

How can I do it based on admin configuration values?

[2015-10-02 12:43] okorshenko commented on #2002
Hi @VLCSolutions , please look at [API Documentaion](http://devdocs.magento.com/guides/v2.0/extension-dev-guide/service-contracts/service-to-web-service.html). If you have additional questions, please, let us know

[2015-10-02 12:45] VLCSolutions commented on #2002
If possible could you please elaborate with a example please

[2015-10-02 12:51] mage2pro opened #2003 "Bug: «Please wait...» spinner text is untranslatable on admin pages"
A detailed bug description: https://mage2.pro/t/101

[2015-10-02 12:55] okorshenko commented on #2002
@VLCSolutions, to create new SOAP API you need to declare interface (for example: https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/Api/GroupRepositoryInterface.php) and configure it in webapi.xml (for example: https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/etc/webapi.xml#L12). This logic will be available in REST and SOAP API. For more details

[2015-10-02 13:01] VLCSolutions commented on #2002
@okorshenko thanks for reply, where we define the elements or attributes for the request and response elements like how we defined in wsdl.xml file in magento1.
Please bear me...

[2015-10-02 13:06] okorshenko commented on #2003
@dfediuk, thank you for reporting of untranslatable issues. Analyzing all issues that you have already reported, I can notice that you have already fixed most of these issues on your side. It would great, if you can merge all your fixes from [reported issues](https://github.com/magento/magento2/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+author%3Adfediuk+untranslatable+in%3Atitle) into one Pull R

[2015-10-02 13:21] choma828 opened #2004 "Set the page layout dynamically based on admin configuration"
I want to know how to set the page layout dynamically based on an extension's admin configuration values.

I found how to change the page layout in the layout xml file, http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/xml-manage.html#layout_markup_columns, but couldn't find to do it based on admin configuration values.

In magento 1.x, I can do it.

    <catalog_category_default>

[2015-10-02 13:38] luckyraul opened #2005 "Nginx install"
using nginx sample
I got this configuration
[code]

On opening http://demo2.magento/setup/index.php
Page is loading with 200 OK, angular js 200OK, app.js and others - 403 with link
http://demo2.magento/setup/pub/magento/setup/app.js

[2015-10-02 13:43] mazhalai commented on #2000
@sanjayjethva did you have a previous installation of Magento? Looks like your database is not empty. You might want to use `bin/magento setup:upgrade` instead.

[2015-10-02 13:46] mazhalai commented on #2001
@dvamst did you install magento before running tests? tests rely on some CLI commands to clean cache, and some CLI commands do not work unless magento is installed.

[2015-10-02 13:47] mazhalai commented on #1942
@wojtekn thank you for your follow up. I am closing this issue. Please feel free to open a new one.

[2015-10-02 13:47] #1942 closed

[2015-10-02 13:50] dvamst commented on #2001
Yes, i did. Magento is installed and frontend is working fine.

[2015-10-02 14:17] okorshenko commented on #2002
@VLCSolutions , currently you don't need to configure attribute separately. Your interface return object (let's say, customer group https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/Api/GroupRepositoryInterface.php#L32).  \Magento\Customer\Api\Data\GroupInterface has declared getter that will be transformed to response attributes. (https://github.com/magento/magento2/blob/

[2015-10-02 14:57] deniswhite8 opened #2006 "Export form element"
`\Magento\Framework\Data\Form\Element\AbstractElement\Export` it's _common_ data form element, but includes carriers_tablerate logic:
https://github.com/magento/magento2/blob/develop/app/code/Magento/OfflineShipping/Block/Adminhtml/Form/Field/Export.php#L48-L53

[2015-10-02 14:59] #2006 closed

[2015-10-02 15:07] mazhalai commented on #2001
@dvamst Please try cleaning your  root `var` folder and the `tmp` directory inside integration tests.

[2015-10-02 15:20] eddielau commented on #2005
Currently, this sample configuration is set up to use public entry point. However, setup application does not work in this setting. Please change "root $MAGE_ROOT/pub;" (just below server_name demo2.magento;) to "root $MAGE_ROOT;" to disable public entry point.

We also have ticket MAGETWO-40533 to track this issue. However a quick fix will be changing "location ~ /setup/(?!pub/)." to "location ~

[2015-10-02 15:34] luckyraul commented on #2005
Well, It helped for setup. After admin works fine, frontend - not

[2015-10-02 15:35] danielc1234 commented on #2005
I'm very interested in this topic cause our production servers all us nginx. Is anyone on this thread from #nginx from irc? There are some very smart guys over there that could probably figure this out in no time.

[2015-10-02 15:39] luckyraul commented on #2005
Ok, I got it with /pub for frontend

[2015-10-02 15:49] dvamst commented on #2001
@mazhalai Done. Still see the same error.

[2015-10-02 16:02] rabee3 commented on #763
I dont see `dev/tools/Magento/Tools/View/deploy.php` there. am on master branch.

[2015-10-02 16:23] eddielau commented on #2005
@luckyraul Thanks for reporting issues with frontend. Tracking ticket number MAGETWO-40533

[2015-10-02 16:40] mazhalai commented on #2001
@dvamst `composer install` in root? in addition to above cleaning of folders.

[2015-10-02 16:56] dfediuk opened #2007 "The commit «PCF: removing grouped price» from 2015-10-02 breaks Magento schema upgrading with the exception: «there can be only one auto column and it must be defined as a key» (and my fix)"
https://mage2.pro/t/102

[2015-10-02 16:58] piotrekkaminski commented on #1996
Internal issue MAGETWO-43608

[2015-10-02 17:01] piotrekkaminski commented on #1993
Internal issue MAGETWO-43610

[2015-10-02 17:08] dfediuk commented on #2007
My fix: https://mage2.pro/t/topic/102/2

[2015-10-02 17:12] piotrekkaminski commented on #1937
Internal issue MAGETWO-43612

[2015-10-02 17:12] piotrekkaminski commented on #1998
internal issue MAGETWO-43612

[2015-10-02 17:17] piotrekkaminski commented on #1886
@comunidademagento Can you confirm you did the following:
- translated the phrases in Crowding
- exported the translated source.csv file from Crowding
- packaged the translation http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-i18n.html#config-cli-subcommands-xlate-dict
- copy it to app/i18n and check if it is picked up by Magento

and it failed?

[2015-10-02 17:23] piotrekkaminski commented on #647
This should be fixed now and soon be available on github.

[2015-10-02 17:23] #647 closed

[2015-10-02 18:00] piotrekkaminski commented on #1121
Internal issue: MAGETWO-43616

[2015-10-02 18:20] MaxSavich commented on #2000
@sanjayjethva, before launch the installation process - please make sure that Magento is not already installed. You can run php -f bin/magento setup:uninstall to make 100% sure that it is completely uninstalled, also try to do the composer update.

[2015-10-02 18:37] piotrekkaminski commented on #931
@fooman we started working on migration tools to help with move from 1.x. It should be on github in the next few days.

[2015-10-02 18:39] mage2pro opened #2009 "The title «Store Design Schedule» above the admin design changes grid is untranslatable (and my fix)"
https://mage2.pro/t/104

![magento2-01](https://cloud.githubusercontent.com/assets/83204/10254705/0cc38c0a-694e-11e5-8d6c-38ef733055ee.png)

[2015-10-02 19:05] dvamst commented on #2001
@mazhalai yes, sure. Frontend is running fine.

[2015-10-02 19:13] piotrekkaminski commented on #1252
@milanstojanov do you still have issues with it?

[2015-10-02 19:17] piotrekkaminski commented on #1257
This issue is caused be extensive use of caching and will probably not be resolved for now.

[2015-10-02 19:17] #1257 closed

[2015-10-02 19:36] piotrekkaminski commented on #1304
This issue should be fixed now.

[2015-10-02 19:36] #1304 closed

[2015-10-02 20:05] piotrekkaminski commented on #1333
Closing as no response from issue author

[2015-10-02 20:05] #1333 closed

[2015-10-02 20:08] piotrekkaminski commented on #1339
Closing as no comments from the original author.

[2015-10-02 20:08] #1339 closed

[2015-10-02 20:11] mazhalai commented on #2005
@luckyraul Thank you for your comments. I am closing this issue. If you or @danielc1234 have more issues, please feel free to open a new ticket.

[2015-10-02 20:11] #2005 closed

[2015-10-02 20:12] piotrekkaminski commented on #1351
This issue should be already fixed. Please reopen if persists.

[2015-10-02 20:12] #1351 closed

[2015-10-02 20:14] piotrekkaminski commented on #1449
This change was implemented and should be already on github or available soon.

[2015-10-02 20:14] #1449 closed

[2015-10-02 20:21] piotrekkaminski commented on #1446
The issue was fixed.

[2015-10-02 20:21] #1446 closed

[2015-10-02 20:22] piotrekkaminski commented on #1442
This issue should be fixed already.

[2015-10-02 20:22] #1442 closed

[2015-10-02 20:26] piotrekkaminski commented on #1432
Reopened  MAGETWO-39604

[2015-10-02 20:30] piotrekkaminski commented on #1427
The issue should be already fixed.

[2015-10-02 20:30] #1427 closed

[2015-10-02 20:34] piotrekkaminski commented on #1417
The original issue should be fixed already.

[2015-10-02 20:34] #1417 closed

[2015-10-02 20:37] piotrekkaminski commented on #1413
Ticket is closed. deprecated either removed or alternative method documented.

[2015-10-02 20:37] #1413 closed

[2015-10-02 20:37] piotrekkaminski commented on #1408
This should be closed already.

[2015-10-02 20:37] #1408 closed

[2015-10-02 20:51] piotrekkaminski commented on #1388
@keithbentrup can you follow up on @dsikkema question? we are going to close it otherwise.

[2015-10-02 21:02] choukalos commented on #1914
Yes you can install on a shared server.

Your host needs to support MySQL 5.6 along with PHP 5.5+ .

In addition if you do not have command line access to your server you'll need to use git to get the code on your development machine, do a composer install and then zip up that directory structure to upload to your shared host.

[2015-10-02 21:02] #1914 closed

[2015-10-02 21:06] piotrekkaminski commented on #1369
We couldn't reproduce this issue.

[2015-10-02 21:06] #1369 closed

[2015-10-02 21:10] choukalos commented on #1833
Hi @rklerck when you're doing index update by schedule what happens when the scheduled indexing happens?  Does the product then show up on the front end ( that would be expected behavior )?

[2015-10-02 21:12] #1883 closed

[2015-10-02 21:21] choukalos commented on #1892
if you use the search API you only get product id not sku, yet we only exposed the catalog api's that take sku.  Work around is as suggested do a getlist for search condition on id.  Team is tracking internally as a bug - (MAGETWO-43185) to address.

[2015-10-02 21:24] piotrekkaminski commented on #1592
internal issue MAGETWO-43620

[2015-10-02 21:26] choukalos commented on #1903
Created a bug - tracking internally ( MAGETWO-43621 )

[2015-10-02 21:27] piotrekkaminski commented on #1589
This should be fixed now.

[2015-10-02 21:27] #1589 closed

[2015-10-02 21:27] piotrekkaminski commented on #1588
Closing as no response from original author.

[2015-10-02 21:27] #1588 closed

[2015-10-02 21:28] choukalos commented on #1789
We haven't given a specific public date because we want to make sure we're addressing the communities and our beta merchant's feedback. We plan on releasing Magento 2.0 GA this quarter.

[2015-10-02 21:28] #1789 closed

[2015-10-02 22:17] MaxSavich commented on #1999
@kassner Thank you for the report, the internal ticket MAGETWO-43622 has been created.

[2015-10-03 07:03] bgkavinga opened #2010 "Unable to get customer data from customer session"
I have DI in constructor to inject customer session to my class \Magento\Customer\Model\Session $customerSession, But the injected session object does not contain customer id or customer reference.I also checked the injected session on Magento\Catalog\Block\Product\View it also does not contain customer id or reference
[code]

[2015-10-03 07:10] cermat opened #2011 "Assets cache on develop branch not exist?"
I just work on develop branch, but i can't see "Index Management" and assets cache(css/js) on "Cache Management".

This is normal or there something wrong with my enviorment?

I was work on "master" branch before, Index Management and Assets cache exist there.

Thanks

![screen shot 2015-10-03 at 2 06 54 pm](https://cloud.githubusercontent.com/assets/14008673/10261870/8f1312b8-69d8-11e5-9181-a2a7c

[2015-10-03 16:47] dfediuk opened #2012 "Why does «Manage Stock» setting have the GLOBAL scope? Need set it per website."
Two different websites could  have totally different kind of products: virtual for a one and physical for another.
What was the sense to make the scope of «**Manage Stock**» option global?

![2015-10-03_19-33-53](https://cloud.githubusercontent.com/assets/83204/10263923/ffc555ba-6a06-11e5-9663-ba1279da161d.png)

[2015-10-03 17:36] dfediuk opened #2013 "A failure while creating a configurable product: «URL key for specified store already exists»"
Surely, while autogenerate simple variants of a configurable product the system need to check whether an autogenerated url key conflicts with an already existed product.

https://mage2.pro/t/107

[2015-10-03 17:38] piotrekkaminski commented on #1571
This should be closed now.

[2015-10-03 17:38] #1571 closed

[2015-10-03 17:39] piotrekkaminski commented on #1566
@pengting is it resolved? Please reopen if you still have issues with it.

[2015-10-03 17:39] #1566 closed

[2015-10-03 17:40] piotrekkaminski commented on #1560
Please reopen if you still have this issue.

[2015-10-03 17:40] #1560 closed

[2015-10-03 17:42] piotrekkaminski commented on #1549
If someone still have this issue, please reopen the report.

[2015-10-03 17:42] #1549 closed

[2015-10-03 17:44] piotrekkaminski commented on #1547
It should be fixed now.

[2015-10-03 17:44] #1547 closed

[2015-10-03 17:46] piotrekkaminski commented on #1540
It should be fixed now and available on github already or soon.

[2015-10-03 17:46] #1540 closed

[2015-10-03 17:47] piotrekkaminski commented on #1536
This should be fixed now.

[2015-10-03 17:47] #1536 closed

[2015-10-03 17:47] piotrekkaminski commented on #1522
@miguelbalparda do you still have this issue?

[2015-10-03 17:55] piotrekkaminski commented on #1520
internal ticket MAGETWO-40683

[2015-10-03 17:57] piotrekkaminski commented on #1515
internal issue MAGETWO-43625

[2015-10-03 18:04] piotrekkaminski commented on #1500
@sivajik34 can you still reproduce this error on the latest version?

[2015-10-03 18:09] piotrekkaminski commented on #1722
This should be fixed now.

[2015-10-03 18:09] #1722 closed

[2015-10-03 18:10] #1710 closed

[2015-10-03 18:10] piotrekkaminski commented on #1705
This is fixed and should be published soon.

[2015-10-03 18:10] #1705 closed

[2015-10-03 18:12] piotrekkaminski commented on #1704
It should be fixed now and published soon.

[2015-10-03 18:12] #1704 closed

[2015-10-03 18:12] piotrekkaminski commented on #1699
This is fixed and should be published soon.

[2015-10-03 18:12] #1699 closed

[2015-10-03 18:15] piotrekkaminski commented on #1679
It is fixed and should be published now.

[2015-10-03 18:15] #1679 closed

[2015-10-03 18:16] piotrekkaminski commented on #1676
@shausol any luck with that?

[2015-10-03 18:18] piotrekkaminski commented on #1675
internal issue MAGETWO-43626

[2015-10-03 18:19] piotrekkaminski commented on #1674
It is fixed and should be published soon.

[2015-10-03 18:19] #1674 closed

[2015-10-03 18:21] piotrekkaminski commented on #1658
@keithbentrup do you still have this issue?

[2015-10-03 18:22] piotrekkaminski commented on #1653
This should be fixed now.

[2015-10-03 18:22] #1653 closed

[2015-10-03 18:23] piotrekkaminski commented on #1648
Closing due to no response.

[2015-10-03 18:23] #1648 closed

[2015-10-03 18:23] piotrekkaminski commented on #1647
@davidalger is it working now?

[2015-10-03 18:23] #1647 closed

[2015-10-03 18:26] piotrekkaminski commented on #1646
internal issue MAGETWO-43627

[2015-10-03 18:27] piotrekkaminski commented on #1640
@tanya-soroka can you look into that?

[2015-10-03 18:28] piotrekkaminski commented on #1636
This should be fixed now.

[2015-10-03 18:28] #1636 closed

[2015-10-03 18:29] piotrekkaminski commented on #1633
Internal issue: MAGETWO-34880

[2015-10-03 18:33] piotrekkaminski commented on #1610
It should be fixed now.

[2015-10-03 18:33] #1610 closed

[2015-10-03 18:33] piotrekkaminski commented on #1609
internal ticket: MAGETWO-35679

[2015-10-03 18:35] piotrekkaminski commented on #1990
internal issue: MAGETWO-43611

[2015-10-03 18:36] piotrekkaminski commented on #1939
It should be fixed now.

[2015-10-03 18:36] #1939 closed

[2015-10-03 18:37] piotrekkaminski commented on #1898
This issue was fixed and should be published soon.

[2015-10-03 18:37] #1898 closed

[2015-10-03 18:39] piotrekkaminski commented on #1846
This is fixed and should be available soon.

[2015-10-03 18:39] #1846 closed

[2015-10-03 18:40] piotrekkaminski commented on #1786
This is fixed and should be published soon.

[2015-10-03 18:40] #1786 closed

[2015-10-03 18:41] piotrekkaminski commented on #1777
@ajzele we cannot reproduce - can you provide example file?

[2015-10-03 18:43] piotrekkaminski commented on #1765
We are unable to reproduce this issue @markoshust. Can you provide steps leading to this error?

[2015-10-03 18:44] piotrekkaminski commented on #1764
We cannot reproduce it @markoshust. Can you provide steps how to reproduce?

[2015-10-03 18:44] piotrekkaminski commented on #1759
This is fixed, should be available soon.

[2015-10-03 18:44] #1759 closed

[2015-10-03 18:46] piotrekkaminski commented on #1725
..It might be caused by too small value of max_execution_time (or too slow system) so static resources generation fails with messages "Fatal error: Maximum execution time of XXX exceeded". It can be found in apache's error_log.

Please reopen if this does not help.

[2015-10-03 18:46] #1725 closed

[2015-10-03 18:52] piotrekkaminski commented on #1250
@pccomfrank do you still have issue with it?

[2015-10-03 18:52] #1250 closed

[2015-10-03 19:57] amenk opened #2014 "Discussion: Setting MAGE_MODE in app/etc/env.php?"
Why don't we set the MAGE_MODE in app/etc/env.php ? By doing so the setting could be used consistently by the webserver and console.

And there would not be two points to change configuration.

[2015-10-03 20:30] piotrekkaminski commented on #1146
@buskamuza is it being addressed?

[2015-10-03 20:36] piotrekkaminski commented on #1429
It should not be replaced anymore so closing for now.

[2015-10-03 20:36] #1429 closed

[2015-10-03 20:38] piotrekkaminski commented on #1384
This is a functionality available only in Enterprise Edition of Magento.

[2015-10-03 20:38] #1384 closed

[2015-10-03 20:40] piotrekkaminski commented on #1367
@dccampbell it works for us now. Please reopen the ticket if you still have this problem.

[2015-10-03 20:40] #1367 closed

[2015-10-03 20:41] piotrekkaminski commented on #1362
@hillzzz did you try changing the locale in your account settings? I think there is an option for that and it should be persistent.

[2015-10-03 20:41] #1362 closed

[2015-10-03 20:43] piotrekkaminski commented on #1349
If this is a problem for others, please reopen the issue.

[2015-10-03 20:43] #1349 closed

[2015-10-03 20:49] piotrekkaminski commented on #1275
@needmoretoday do you still have this issue? please check the latest version and reopen if required.

[2015-10-03 20:49] #1275 closed

[2015-10-03 20:52] piotrekkaminski commented on #1534
This is resolved and should be published soon.

[2015-10-03 20:52] #1534 closed

[2015-10-03 20:53] piotrekkaminski commented on #1519
There are significant changes in this area coming from an update for loading Magento from vendor directory that will be published soon.

[2015-10-03 20:55] piotrekkaminski commented on #1538
@RanzigeMilch any update on this one?

[2015-10-03 20:58] piotrekkaminski commented on #1629
All mentioned above stories were closed and should be published soon.

[2015-10-03 20:58] #1629 closed

[2015-10-03 20:58] piotrekkaminski commented on #1616
It was fixed and should be published soon.

[2015-10-03 20:58] #1616 closed

[2015-10-03 21:56] dfediuk opened #2015 "Bug: the system requires to set a configurable option of configurable (not simple) product"
https://mage2.pro/t/108

![magento2-01](https://cloud.githubusercontent.com/assets/83204/10265272/b7cefe38-6a32-11e5-9f03-6e9a88f7dca8.png)

![magento2-02](https://cloud.githubusercontent.com/assets/83204/10265273/bbc92144-6a32-11e5-8ca4-6c1e79d3a03e.png)

[2015-10-03 22:10] dfediuk opened #2016 "BUG: the product general attributes (name, sku, price, quantity) are wrongly in "Images and Videos" section now"
![magento2-03](https://cloud.githubusercontent.com/assets/83204/10265303/b6aa8700-6a34-11e5-8d4e-4fd35dfb821b.png)

[2015-10-03 22:17] dfediuk opened #2017 "After resaving a configurable product the system makes it simple (not configurable)"
Related to: https://github.com/magento/magento2/issues/2015
See the screenshots from there.
The system wrongly requires to set configurable attributes to configurable product.
After setting them and saving the product becomes simple, not configurable.

[2015-10-03 23:25] dfediuk opened #2018 "Typographical error: «do not add grops without attributes»"
https://github.com/magento/magento2/blob/12955b1c7e43c560dc1060c136858531d403c682/app/code/Magento/Catalog/Block/Adminhtml/Category/Tabs.php#L146

[2015-10-04 01:03] davidalger commented on #1647
@piotrekkaminski It is, yes, and we have not run into the issue since Aug.

[2015-10-04 03:55] dfediuk opened #2019 "«Argument 1 passed to Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\ChildTab::setTab() must implement interface Magento\Backend\Block\Widget\Tab\TabInterface, instance of Magento\Framework\DataObject given» while opening a simple product in admin"
The bug description: https://mage2.pro/t/110
Related to https://github.com/magento/magento2/issues/1646
My fix is the same.

[2015-10-04 04:33] dfediuk commented on #2016
The cause of the bug: https://mage2.pro/t/topic/111/2

[2015-10-04 05:08] dfediuk opened #2020 "Attribute group code generation algorithm is incorrect because it returns null for an attribute group with non-Latin name"
A detailed description: https://mage2.pro/t/112

[2015-10-04 05:10] dfediuk commented on #2020
This leads to the bugs:
- https://github.com/magento/magento2/issues/1646
- https://github.com/magento/magento2/issues/2019

[2015-10-04 05:21] dfediuk commented on #1646
Attribute group code generation algorithm is incorrect because it returns null for an attribute group with non-Latin name: https://mage2.pro/t/112

[2015-10-04 05:41] dfediuk opened #2021 "Admin product tab generation is incorrect for configurable, downloadable, bundle and grouped products because it depends on «product-details» tab which could be absent"
https://mage2.pro/t/113

[2015-10-04 05:43] dfediuk commented on #2021
Related bugs: https://github.com/magento/magento2/issues/2015, https://github.com/magento/magento2/issues/2017

[2015-10-04 06:18] bgkavinga commented on #2010
After some investigation we found that Magento/Customer/Model/Layout/DepersonalizePlugin.php::afterGenerateXml() is clearing the data from customer session when cache is enabled
[code]

[2015-10-04 13:25] xcomSteveJohnson commented on #2014
Nowadays you can; in fact, there's a fairly new CLI for it: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html

[2015-10-04 14:46] amenk commented on #2014
Interesting. Where does it store the mode? And is this the reason for removing the static content deploy command?

[2015-10-04 15:50] andreymoskvenkov commented on #1928
After the latest release of Magento2 EE it works now on the Server (Ubuntu Linux), but still does not work locally on Windows. Seems that the problem is reproduced only on Windows developer's machines.

[2015-10-04 19:13] mage2pro opened #2022 "Why does the default product quantity on the frontend is 0, not 1?"
![magento2-06](https://cloud.githubusercontent.com/assets/83204/10269589/05b099ce-6ae5-11e5-98c8-a2db82899521.png)

[2015-10-04 19:55] chrom opened #2023 "error when try install"
SQLSTATE[HY000] [1045] Access denied for user 'root'@'localhost' (using password: NO)
#0 public/vendor/magento/zendframework1/library/Zend/Db/Adapter/Pdo/Mysql.php(111): Zend_Db_Adapter_Pdo_Abstract->_connect()
#1 public/lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php(332): Zend_Db_Adapter_Pdo_Mysql->_connect()
#2 public/vendor/magento/zendframework1/library/Zend/Db/Adapter/Abstract.php(86

[2015-10-04 20:14] nevvermind commented on #2022
I bet you have more than one website setup: https://github.com/magento/magento2/blob/b67a5e02e520683ddd0083bf388e87186501a65b/app/code/Magento/CatalogInventory/Model/StockRegistry.php#L88 :)

[2015-10-04 20:54] dfediuk commented on #2022
Yes. But what is the sense to suggest a customer to order 0 items by default? Why is not 1?

[2015-10-04 21:04] mage2pro opened #2024 "Inconsistency in the config section ACL resource handling: a non-existent ACL resource is always allowed but access to a config section without a resource is always forbidden"
https://mage2.pro/t/114

[2015-10-04 23:00] andrewkett opened #2025 "Varnish purge does not work with bin/magento CLI tool."
We have got varnish set up and running and using the admin UI are able to clear varnish by doing a full cache flush or by refreshing the full page cache. When doing this I can see the PURGE request coming through the varnish server, everything works as expected. However when using the CLI to purge, e.g magento cache:flush —all or magento cache:flush full_page, I cannot see a PURGE request happenin

[2015-10-05 00:24] nevvermind commented on #2022
I wasn't suggesting that it's correct behaviour. It's just that the functionality doesn't seem to be there yet, is all.

[2015-10-05 02:36] iio7 opened #2027 "Step 2: Add a Database - "Next" doesn't work."
Testing Magento 2 installation.

During "Step 2: Add a Database" the "Next" button doesn't work. It doesn't matter what data is entered into the different fields, right or wrong, pressing the "Next" button doesn't do anything. No error messages, no confirmation, nothing.

I can use the "Back" button, but get stranded on "Step 2: Add a Database", cannot continue.

[2015-10-05 08:00] dvamst commented on #2001
@mazhalai I have reinstalled magento from scratch. Now tests are working. I'll close the issue.

[2015-10-05 08:00] #2001 closed

[2015-10-05 08:13] hillzzz commented on #1362
Hi I did change the locale and it did not make a difference however this is now rather out of date and so i will try again on the latest version.
Hillary
07919 488425
zen71001@zen.co.uk

[2015-10-05 11:20] gordonknoppe commented on #1146
+1 this issue needs attention.  We should be able to use pub/ to serve from production.

To clarify what I found:

**sitemap.xml:**

By setting up my sitemap.xml to generate into the pub/ directory I was able to place a file in the sub-directory fine and the resulting XML doesn't have any issues with pub/ in paths the file.

**robots.txt:**

I see two issues here: Magento will always write to the

[2015-10-05 11:29] daim2k5 commented on #2027
Can you give more informations? "develop" branch from today? Browser?

[2015-10-05 11:39] flancer64 commented on #1333
"Encrypted" error message is still got on CLI errors:

    Autoload error: An abstract factory could not create an instance of magentosetupconsolecommandconfigsetcommand

I have disabled error masking in ./bin/magento (as discribed in @Flyingmana [fix](https://github.com/magento/magento2/pull/1323)) and have got an actual error message that pointed me to a reason of the my problem.

[2015-10-05 11:52] daim2k5 commented on #2023
You use the root mysql-user without password? Is this correct?
What happend when you try "mysql -uroot"

[2015-10-05 11:58] VLCSolutions commented on #2002
What is difference between https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/etc/webapi.xml#L113toL118 and https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/etc/webapi.xml#L140toL148

[2015-10-05 13:55] ahofstetter commented on #447
class Pageable_Varien_Data_Collection extends Varien_Data_Collection
{
    /**
     * Load data
     *
     * @param   bool $printQuery
     * @param   bool $logQuery
     *
     * @return  Pageable_Varien_Data_Collection
     */
    public function load($printQuery = false, $logQuery = false)
    {
        if ($this->isLoaded()) {
            return $this;
        }
        $this->_renderLimit();

[2015-10-05 14:31] mazhalai commented on #1640
@frehner we are working on this. Ticket # MAGETWO-43385

[2015-10-05 14:52] xcomSteveJohnson commented on #2014
The static content command is still there. See https://github.com/magento/magento2/commit/857221f70af2aedcd6192a2e00655f4abdf6083a#commitcomment-13593500

Mode is stored in env.php.

[2015-10-05 15:22] lijithmg commented on #1500
I do replicated this issue today.

[2015-10-05 15:39] andreymoskvenkov opened #2029 "LocalStorage is not the same on HTTP and HTTPS hosts"
LocalStorage database is completely different between HTTP and HTTPS hosts. As the result: if I call a JavaScript code like: "customerData.invalidate(['cart']);" from HTTPS page, it will set "cart" value only into HTTPS localStorage. But HTTP LocalStoraeg object will still contain old values and will not know about any keys, which need to be reloaded from the server.
We get such issue on our store

[2015-10-05 15:56] mazhalai commented on #2027
@iio7 are there any javascript errors on your browser?

[2015-10-05 16:13] chrom commented on #2023
No in dev machine i use pass for user root and socket for connect

[2015-10-05 16:54] piotrekkaminski commented on #2029
internal issue MAGETWO-4365

[2015-10-05 17:04] mazhalai commented on #2023
@chrom what did you do to reproduce this error?

[2015-10-05 17:16] piotrekkaminski commented on #1430
We are unable to reproduce this error.

[2015-10-05 17:16] #1430 closed

[2015-10-05 17:27] alankent commented on #2014
See also http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html - it documents the CLI command etc to change the mode.

[2015-10-05 17:41] choukalos commented on #2014
It was stored in the config.xml file when the CLI changed mode.  Team's going to refactor it so it'll only be stored in env.php when the CLI makes a change.  Note that if the shell's environment is set that'll take precedence.

[2015-10-05 17:44] choukalos commented on #2002
the /me means that you only get your information ( authorized with a customer token ) - you can't use that web api to get any other customer from the system like you can with the first web api ( which requires an admin token ).

[2015-10-05 20:53] cspruiell commented on #939
The DesignEditor module no longer exists, so this issue is obsolete.

[2015-10-05 20:53] #939 closed

[2015-10-05 20:53] iio7 commented on #2027
Development branch from the day I filed the report. Problem exists in both Firefox 41.0.1 and Chrome 45.

05.10.2015, 13:29, "Damian Luszczymak" <notifications@github.com>:

[2015-10-05 20:54] iio7 commented on #2027
No. I get no errors at all.

05.10.2015, 17:56, "mazhalai" <notifications@github.com>:

[2015-10-05 20:57] alankent commented on #1051
Very sorry, I missed this in my email flood!  I am not sure what you mean by "composer autoloader will be 100% unhindered". Let me say the code we have today is on GitHub. We are doing some work to try and leave more stuff under 'vendor' by GA, but that will be progressive (not a full solution by GA). We plan to keep working on this over time.

And we have a solution for XSDs using paths relative

[2015-10-05 21:07] frehner commented on #1640
Thanks, glad to know!

[2015-10-05 21:37] piotrekkaminski commented on #1583
@kandy do you know if this was refactored?

[2015-10-05 21:38] #1643 closed

[2015-10-05 21:46] piotrekkaminski commented on #1644
internal issue MAGETWO-43682

[2015-10-05 21:51] piotrekkaminski commented on #1651
@chaluvadiswamy do you still have this issue? On what kind of server are you installing it?

[2015-10-05 21:55] piotrekkaminski commented on #1660
@buskamuza hey, did the recent changes solved this issue?

[2015-10-05 23:17] piotrekkaminski commented on #1561
We are working on improving it (or restoring lost functionality). It will allow per module translations which should solve most of the use cases
Internal issue id: MAGETWO-43683

[2015-10-05 23:17] piotrekkaminski commented on #1661
We are working on improving it (or restoring lost functionality). It will allow per module translations which should solve most of the use cases
Internal issue id: MAGETWO-43683

[2015-10-05 23:27] alankent commented on #1583
@Zatara7 I may be missing something, but is there a reason you don't accept the PageFactory in the constructor and save that to the property, as commented out?  Your previous code sample I think had an error in that the constructor used type 'Page' instead of 'PageFactory', which would have caused "strange things" to happen. The DI framework would give you a Page (not a PageFactory), which you the

[2015-10-05 23:43] tanya-soroka commented on #408
Agree with @tzyganu , it is not an issue. It is ability to sell 2.5 kg of the candy, as an example.
p.s. Please verify the minimum QTY number on the shopping card.

Closed.

[2015-10-05 23:43] #408 closed

[2015-10-05 23:48] piotrekkaminski commented on #524
Translations will be available separately. If you want to contribute, please go to https://crowdin.com/project/magento-2

[2015-10-05 23:48] #524 closed

[2015-10-05 23:53] oucart opened #2030 "not loaded CSS"
![qq 20151006074658](https://cloud.githubusercontent.com/assets/4326820/10296814/ed19d09a-6bfe-11e5-9055-cf69a159ae62.png)

Successful installation,
But not loaded CSS  ？

[2015-10-05 23:58] dfediuk commented on #1661
In my experience (I have translated Magento 1.x to Russian and am translating Magento 2 to Russian now) a per module context is not sufficent.
It would much better to have per request action context at least (I have already implemented it for myself as my custom module but it would be great to see such feature in the core).

[2015-10-06 00:08] piotrekkaminski commented on #1661
@dfediuk do you have this custom module available for Magento 2?

[2015-10-06 00:21] dfediuk commented on #1661
Yes, but I have no plans to distribute it now.
My dictionary format sample is below (with fallback to the standard core dictionary):
[code]
Actually it is more complex, because my extension supports an individual translation not only for request actions but also for blocks, components, eav attributes, forms and so on.
In my exprerience, for 90% cases transation per request action is sufficient and

[2015-10-06 00:25] mazhalai commented on #2030
@pengting are you using apache? do you have `mod_rewrite` turned on? Also, what [mode](http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html) are you operating in? If you are in `production` mode you need to run `bin/magento setup:static-content:deploy` in the CLI

[2015-10-06 01:47] pengting commented on #2030
use nginx

run bin/magento setup:static-content:deploy

Successful

Displayed a picture
But not loaded CSS

[2015-10-06 02:13] ctubio commented on #524
so sad.. https://crowdin.com/project/magento-2 says that you only need translations for a few languages.. ca_ES not included.

anyway, thanks for give us an answer.

[2015-10-06 03:12] xanka opened #2031 "Error when install magento2 1.0.0 beta ?"
Console log show  error
Module 'Magento_Customer':
Installing data..
[ERROR] exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '0' for key 'PRIMARY'' in C:\localhost\magento2-1.0.0-beta\vendor\magento\zendframework1\library\Zend\Db\Statement\Pdo.php:228 Stack trace: #0 C:\localhost\magento2-1.0.0-beta\vendor\magento\zendframework1\library\

[2015-10-06 04:32] dfediuk opened #2032 "Wrong class name in a comment: «\Magento\Customer\Block\Adminhtml\Edit\Tab\View\Status\PersonalInfo»"
https://github.com/magento/magento2/blob/1270ddb2ba5f5a3159c621047fc7a4af0825d219/app/code/Magento/Customer/view/adminhtml/templates/tab/view/personal_info.phtml#L10

Need to be changed to the right class name: `\Magento\Customer\Block\Adminhtml\Edit\Tab\View\PersonalInfo`

[2015-10-06 07:10] davefarthing opened #2033 "Soap API Fails once DI is compiled"
Hi,

I can call and use the Soap API fine until I run `bin/magento setup:di:compile` then all Soap Interface stop working.

After the DI is compiled as Soap Interfaces return with
[code]

Tracing through it seems that DI does not see the arguments required by the SoapServer construct. There are no di preferences/arguments that I could find for the SoapSever class and presumably reflection fails to

[2015-10-06 08:13] chrom commented on #2023
i just install magento

[2015-10-06 08:41] NadiyaS commented on #2031
Hi @xanka,
looks like you try to install Magento on not empty database.
After pulling the resent Magento version you do not need to reinstall it. You may run `bin/magento setup:upgrade`.
Or if you want to reinstall it anyway you need to run `bin/magento setup:uninstall` to be sure that all data is uninstalled and then install Magento in the way you prefer

[2015-10-06 09:17] jkchan opened #2034 "Installation error"
Hi,

Can anyone help me with this issue, This is my first time installing magento and I have been trying to look for a solution for this.

The installation stops at 68% and at the console log it only says...

Module 'Magento_Customer':
Installing data.. Upgrading data..

Then I tried doing it from the CLI, and the last part is just

#66 /opt/local/apache2/htdocs/magento2/vendor/symfony/console/Sym

[2015-10-06 09:40] VLCSolutions commented on #2002
@okorshenko , @choukalos : how to create multiple customers at a time, for example \Magento\Customer\Api\Data\CustomerRepository save method accepts only one customer details at a time to save, but i want to create multiple customers on one API request.

[2015-10-06 09:41] royduin opened #2035 "Exclude pages, products or categories from the sitemap generation"
It would be nice if there where options in the backend to exclude pages, products or categories from the sitemap generation.

[2015-10-06 09:55] xanka commented on #2031
Yes I thing so. I have tried but failed.
I don't know the installation process is stopped repeatedly. It is related to mysql in my computer file import supper slow computer.

[2015-10-06 10:36] eug123 commented on #2030
Hi,
Seems you pub/static folder is not available - logo image is absent too, please check folder content and permissions.

[2015-10-06 11:11] slavvka commented on #1996
@alexhlynskyy, I couldn't reproduce the issue on the latest code. I have created an account, then logged out and opened 'Forget Your Password?' link. I entered my email, then got a letter with recovery link. I clicked on the link and got to Set a New Password form. After entering a new password awas redirected to log in page with 'You updated your password.' message. Please provide more details on

[2015-10-06 11:23] royduin commented on #2030
Ran `bin/magento setup:static-content:deploy` with your selected language code? For example: `bin/magento setup:static-content:deploy nl_NL`

[2015-10-06 11:24] royduin opened #2036 "Google Tag Manager support?"
Currently I only find Google Analytics in the backend.

[2015-10-06 12:13] NadiyaS commented on #2032
Thanks @dfediuk,
internal issue was created MAGETWO-43710

[2015-10-06 12:40] SchumacherFM opened #2038 "Routers over satisfy the interface RequestInterface"
As digging thru the code, I've seen usages of methods which are not implemented in the interface of `\Magento\Framework\App\RequestInterface`. In other programming languages that would not compile/execute ...

https://github.com/magento/magento2/blob/develop/app%2Fcode%2FMagento%2FCms%2FController%2FRouter.php#L94 `getPathInfo()` not implemented.

https://github.com/magento/magento2/blob/develop/a

[2015-10-06 13:05] NadiyaS commented on #2020
Thanks, @dfediuk
internal issue was created MAGETWO-43717

[2015-10-06 13:14] danielsun174 opened #2039 "jsTree not working as expected."
[code]

should make a valid folder-tree like the [demo-page](http://luban.danse.us/jazzclub/javascripts/jquery/jsTree/reference/_examples/1_datasources.html)

Instead it results in the following html which is just an empty list:
[code]

[2015-10-06 13:32] mazhalai commented on #2034
@jkchan thank you for reporting this issue. Can you please post the entire stack trace?

[2015-10-06 13:37] mazhalai commented on #2023
@chrom have you provided `--db-password` for the database as specified [here](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html)

[2015-10-06 13:39] mazhalai commented on #2031
@xanka thank you for reporting this issue. Did @NadiyaS's  suggestions also give you errors? What about `uninstall`?

[2015-10-06 13:42] mazhalai commented on #2030
@pengting for nginx, please check this sample configuration as [here](https://github.com/magento/magento2/blob/develop/nginx.conf.sample). Also, you did not specify which mode Magento2 is running on.

[2015-10-06 13:43] choukalos commented on #2002
We only support single entity APIs; there's no plan to support bulk API calls in our framework.

For higher volume integrations we'll be enhancing scheduled FTP's to be more like a feeds system where you can configure  scheduled FTP/SFTP transfer via XML as part of your extension.  Likely this will be in the later half of 2016.  Thinking behind that is it'll allow transfer for very large catalogs,

[2015-10-06 13:47] antonkril commented on #2029
Why do you use mixed mode (HTTP&HTTPS)?

[2015-10-06 13:49] andreymoskvenkov commented on #2029
Because Magento allows it. Magento has "secure_base_url"  and "unsecure_base_url" settings. I am using them.

[2015-10-06 13:50] wkaminsk opened #2040 "Stock issues"
Hi,
I started playing with Magento2 and have some issues with it.
I've created simple product, named test product, qty = 1000, I've gone to its product page and... product is *out of stock*. Why is that ?

Next thing, the same product, I've gone to Advanced Inventory. Set "Manage Stock" to *No*, save and still see  Manage Stock to Yes with all options.

Regards.

[2015-10-06 13:52] xcomSteveJohnson commented on #2030
Also, make sure the Base URL you specified is correct.

[2015-10-06 13:54] VLCSolutions commented on #2002
@choukalos , thanks for reply. Please help me on getting XML request structure for SOAP API.
Like CustomerRequest able to request from SoapUI.

[2015-10-06 13:55] ihor-sviziev commented on #2036
:+1:

[2015-10-06 13:57] vzaporozhets commented on #1979
Will be merged soon: MAGETWO-43231. Thanks for reporting.

[2015-10-06 14:12] patruvlad commented on #2030
@pengting do as @royduin said, check the nginx settings as @mazhalai said and if after this you still have problems set corect permissions for the magento directory

[2015-10-06 14:15] danielsun174 commented on #2039
Closed.
Only seems to work when all plugins are loaded and another scope surrounds the jstree-call.

[code]

[2015-10-06 14:15] #2039 closed

[2015-10-06 14:43] antonkril commented on #2029
I was curious what are the reasons to chose mixed mode over full HTTPS. Mixed mode does not protect against MITM attacks.

[2015-10-06 14:51] andreymoskvenkov commented on #2029
Yeah, let's discuss about sense of life in this ticket instead of just fixing a problem...

Magento 2 has 2 settings: "secure_base_url" and "unsecure_base_url". These settings are not working  if you put there not same URLs. Therefore maybe a reason is to make one setting: base_url?
I think the question about the reason of usage multi-protocol mode is out of scope of this ticket. This ticket was c

[2015-10-06 14:56] piotrekkaminski commented on #2029
@antonkril the mixed mode is used for compatibility with existing sites. There are SEO implications of switching to full-HTTPS and it is not something all companies are willing to do right now. If this feature exists and it doesn't work - it needs to be fixed.

[2015-10-06 15:09] Zatara7 commented on #1583
Sorry @alankent I was only learning when I wrote that code. Please disregard it I'm sure it's full of mistakes. I thought by posting it, I may be able to help the original poster.

[2015-10-06 15:10] piotrekkaminski commented on #2036
Google Tag Manager is available in Enterprise Edition. The version published on github is Community Edition.

[2015-10-06 15:10] #2036 closed

[2015-10-06 15:11] craigcarnell commented on #2036
@piotrekkaminski Who would I speak to about getting the Magento 2 Ent Beta? We are a customer

[2015-10-06 15:59] antonkril commented on #2029
Issue is already processed by team and I'm not trying to argue the validity of the issue.

The mixed mode feature is present in Magento 2 because of the reasons described by @piotrekkaminski. But I want to make sure that you are aware of the security issues of mixed mode and if yes, are your reasons to use it the same as describe by Piotr.

[2015-10-06 16:14] craigcarnell commented on #2005
@eddielau Changing it to location ~ ^/setup/(?!pub/). worked for me

[2015-10-06 16:15] craigcarnell commented on #1897
@vpelipenko fails for me with nginx and php 7.0 RC4

[2015-10-06 16:26] mazhalai commented on #1897
We closed MAGETWO-43039 as it was a duplicate of MAGETWO-43385

[2015-10-06 16:28] andreymoskvenkov commented on #2029
No, my reason is only to make the product better.
We are fine in switching the entire store to HTTPS for now.

[2015-10-06 16:33] lijithmg opened #2041 "Braintree MyAccount pages are not resposive"
My Account >> "My Credit Card" links are not responsive.

[2015-10-06 16:38] royduin commented on #2036
Support for GTM is recently added in Magento CE 1.9.x.x and not in Magento 2?

[2015-10-06 17:14] joanhe commented on #771
This issue is fixed with pull request #1416

[2015-10-06 17:14] #771 closed

[2015-10-06 18:53] safwkhan commented on #1017
Hi @slirx, we contributed the fixes for this issue. Can you please try to reproduce it with latest code, and let us know your feedback?

[2015-10-06 23:37] miguelbalparda commented on #1522
Not while using mobile, I will check desktop as seen as I can get a computer.

[2015-10-07 00:03] pengting commented on #2030
my configuration
user www www;
worker_processes auto;

error_log /home/wwwlogs/error_nginx.log crit;
pid /var/run/nginx.pid;
worker_rlimit_nofile 51200;

events {
    use epoll;
    worker_connections 51200;
    }

http {
    include mime.types;
    default_type application/octet-stream;
    server_names_hash_bucket_size 128;
    client_header_buffer_size 32k;
    large_client_header_buffers 4 32k

[2015-10-07 00:04] pengting commented on #2030
pub/static   777

[2015-10-07 03:01] piotrekkaminski commented on #1663
@tkacheva are you tracking this?

[2015-10-07 03:02] #1668 closed

[2015-10-07 03:03] piotrekkaminski commented on #1669
@shanethehat we have updated the packages and introduced Symfony dependency checker into our CI process to make sure we stay up to date on dependencies in the future.

[2015-10-07 03:03] #1669 closed

[2015-10-07 03:25] piotrekkaminski commented on #1671
@nagno do you still have this issue in the latest version?

[2015-10-07 03:25] piotrekkaminski commented on #1673
@buskamuza are there any changes here?

[2015-10-07 03:29] piotrekkaminski commented on #1687
I cannot reproduce it @nhc can you check on latest version?

[2015-10-07 03:39] piotrekkaminski commented on #2012
@mbrinton01 please check this one

[2015-10-07 07:33] VLCSolutions commented on #2002
@okorshenko , @choukalos Please help me on getting WSDL XML structure for any API request in magento2. In magento1 i could able to get the WSDL XML structure in SOAPUI or storm by giving SOAP URL, But in magento2 i'm not able to get WSDL XML structure, please help me on this.

[2015-10-07 08:27] chrom commented on #2023
yes:

./magento setup:install --base-url=http://magento2.local --db-host=/var/run/mysql/mysql.sock --db-name=magento2 --db-user=root --db-password=root --admin-firstname=admin  --admin-lastname=admin --admin-email=user@example.com --admin-user=admin  --admin-password=admin123 --language=en_US  --currency=USD --timezone=America/Chicago --use-sample-data --use-rewrites=1

SQLSTATE[HY000] [1045] Acce

[2015-10-07 08:29] daim2k5 commented on #2023
Hi,
--db-host=/var/run/mysql/mysql.sock is wrong

please use --db-host=localhost

[2015-10-07 08:34] chrom commented on #2023
./magento setup:install --base-url=http://magento2.local --db-host=localhost --db-name=magento2 --db-user=root --db-password=root --admin-firstname=admin  --admin-lastname=andrey --admin-email=user@example.com --admin-user=admin  --admin-password=admin123 --language=en_US  --currency=USD --timezone=America/Chicago --use-sample-data --use-rewrites=1

SQLSTATE[HY000] [1045] Access denied for user 'r

[2015-10-07 08:42] chrom commented on #2023
if you need extended data, just tell me

[2015-10-07 08:46] chrom commented on #2023
strange in documents written:
--db-host :
localhost (default) if your database server is on the same host as your web server.
UNIX socket; for example, /var/run/mysqld/mysqld.sock

[2015-10-07 08:52] craigcarnell commented on #1897
[code]

[code]

[2015-10-07 08:56] arkadiych commented on #1424
@fooman, The class with excessive parameters mentioned here:

has already been refactored and the parameters list has been fixed in https://github.com/magento/magento2/blob/develop/app/code/Magento/Email/Model/Template.php#L375
in commit https://github.com/magento/magento2/commit/42af021fc56a255e5264612050a4560966a73d9f .
There are no other usages of this method with multiple parameters.

[2015-10-07 09:15] craigcarnell commented on #1897
I solved my own issue, it was report_memleaks = Off fixed the issue in php.ini

[2015-10-07 09:31] SchumacherFM commented on #2038
Same goes with the [`ResponseInterface`](https://github.com/magento/magento2/blob/develop/lib%2Finternal%2FMagento%2FFramework%2FApp%2FResponseInterface.php#L10)

https://github.com/magento/magento2/blob/develop/lib%2Finternal%2FMagento%2FFramework%2FController%2FResult%2FJson.php#L67 `representJson()` not implemented

https://github.com/magento/magento2/blob/develop/lib%2Finternal%2FMagento%2FFra

[2015-10-07 09:57] alankent commented on #2002
Are you saying fetching WSDL does not work, or you do not know how to do it? Have you had a look at http://devdocs.magento.com/guides/v2.0/soap/bk-soap.html ?  That lists lots of end points for fetching WSDL. If it is not working, could you provide more details on what error messages etc you are getting? Thanks!

[2015-10-07 10:00] whizkid79 opened #2042 "Problem running setup:upgrade"
I experienced the same issue descriped here and the solution worked for me.
https://mage2.pro/t/topic/102

using branch develop, on commit 86d5abe5adf8f452e52e5876c1ba2008aa0e6e30

[2015-10-07 10:03] VLCSolutions commented on #2002
@alankent I want to get XML request for customerrepository API,
For this i have used http://192.168.0.183/NewMagento2/soap?wsdl&services=customerCustomerRepositoryV1  in SOAPUI tool and i'm getting error

http://192.168.0.183/NewMagento2/soap?wsdl&services=customerCustomerRepositoryV1
loading http://192.168.0.183/NewMagento2/soap?wsdl&services=customerCustomerRepositoryV1
Acquiring the wsdl...
Res

[2015-10-07 10:41] craigcarnell opened #2043 "Composer file not found with symlinked vendors folder"
[code]

[2015-10-07 11:13] craigcarnell opened #2044 "Segfaults with PHP 7.0 RC4"
PHP will segfault on Ubuntu 14.04, no output in logs other than the segfault itself :)

[2015-10-07 11:23] tkacheva commented on #2016
@dfediuk, please provide steps to reproduce the bug

[2015-10-07 11:25] NadiyaS commented on #2007
Hi @dfediuk,
thanks for your report. Internal issue was created MAGETWO-43755

[2015-10-07 11:29] tkacheva commented on #2022
@dfediuk what product type have you configured?

[2015-10-07 12:00] NadiyaS commented on #2042
Hi @whizkid79 ,
internal issue was created MAGETWO-43755.
Problem was already described in issue [2007] (https://github.com/magento/magento2/issues/2007)

[2015-10-07 12:37] NadiyaS commented on #2018
Hi @dfediuk ,
thanks for notice. Internal issue was created MAGETWO-43768

[2015-10-07 12:50] motorlesha opened #2045 "Warning: Expiry date cannot have a year greater than"
I tried to set session time more that 9999

Warning: Expiry date cannot have a year greater than 9999 in /var/www/sources/motorny/magento2/lib/internal/Magento/Framework/Stdlib/Cookie/PhpCookieManager.php on line 124
#0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2, 'Expiry date can...', '/var/www/source...', 124, Array)
#1 /var/www/sources/motorny/magento2/lib/internal/Magent

[2015-10-07 13:25] kandy commented on #2044
May be better to post bugs to php bug tracking system?

[2015-10-07 13:26] mazhalai commented on #2044
@craigcarnell What are you trying to do, installation? Have you checked `max_execution_time` setting?

[2015-10-07 13:29] mazhalai commented on #1734
@RawPhunky Please see this response https://github.com/magento/magento2/issues/1725#issuecomment-145277196. Closing ticket for now. Please feel free to open a new ticket in case of any issues.

[2015-10-07 13:29] #1734 closed

[2015-10-07 13:32] mazhalai commented on #2043
@craigcarnell can you please give more details as to what was symlinked and how to reproduce this error?

[2015-10-07 13:54] craigcarnell commented on #2043
@mazhalai The /vendor folder in the root of the application is symlinked to another folder e.g. /var/www/vhosts/magento2-capistrano/shared/vendors

I was running the magento 2 readiness check

[2015-10-07 13:54] craigcarnell commented on #2044
@mazhalai Readiness check

[2015-10-07 14:17] maghamed commented on #2016
Internal ticket to fix this problem created

[2015-10-07 14:48] dfediuk commented on #2022
Configurable. All the simple variants are in stock.
And I saw the same problem with virtual products too.

[2015-10-07 14:49] xcomSteveJohnson commented on #2023
@daim2k5 We're curious why you say mysqdl.sock is "wrong". Is it based on your experience and knowledge or MySQL? Would you mind elaborating?

[2015-10-07 14:54] dfediuk commented on #2016
Just look at the code: it is definitely wrong and I have decribed it by the reference above.
The bug can be reproduced by `bin/magento setup:upgrade`.

[2015-10-07 15:11] daim2k5 commented on #2023
@xcomSteveJohnson what i learn is when you say connect to "localhost" php try to connect via socket (default one) and when you type "127.0.0.1" php use TCP

[2015-10-07 15:13] daim2k5 commented on #2023
See http://php.net/manual/en/function.mysql-connect.php first note

[2015-10-07 15:21] craigcarnell opened #2046 "Custom theme requires registration.php"
My custom theme does not show up unless I add registration.php. This is not mentioned in the video or docs.

[2015-10-07 15:27] mazhalai commented on #2043
Custom vendor support ticket is MAGETWO-42262

[2015-10-07 16:03] mazhalai commented on #2046
@craigcarnell I'm told: we are working on docs intensively :)

[2015-10-07 16:08] tanya-soroka commented on #2040
Hello @wojkam.
Could you please check the stock value for the first issue.
Second issue has been confirm and internal MAGETWO-43780 ticket has been created.

[2015-10-07 16:10] tanya-soroka commented on #2035
@royduin would you like to share the business use-case in the this request?
Thank you in advance.

[2015-10-07 16:12] alankent commented on #2046
Let me guess - you got a fairly new code drop?  The team just pushed some code allowing 'module in vendor' which was achieved using a registration.php script (it reports the directory the package is in).  The devs are keeping the docs team busy for sure!

[2015-10-07 16:20] tdobbs commented on #2046
@craigcarnell we're planning on updating docs for this feature by the end of this week.

[2015-10-07 18:19] niranjanleanswift commented on #1923
@asemenenko I have facing the problem in windows is that specific to the OS . and I faced the issue in the developer branch

[2015-10-07 21:29] piotrekkaminski commented on #1670
This is fixed now and should be already published.

[2015-10-07 21:50] piotrekkaminski commented on #1701
@mbrinton01  tagging you regarding B2B need

[2015-10-07 21:52] piotrekkaminski commented on #1489
This issue is resolved and should be published soon.
@asemenenko tagging you to make sure the PayPal integration uses latest list.

[2015-10-07 21:52] #1489 closed

[2015-10-07 21:52] piotrekkaminski commented on #1706
This issue is resolved and should be published soon.
@asemenenko tagging you to make sure the PayPal integration uses latest list.

[2015-10-07 21:52] #1706 closed

[2015-10-07 21:59] piotrekkaminski commented on #1702
Internal issue MAGETWO-43788 was created to address this problem.

[2015-10-07 22:02] piotrekkaminski commented on #1717
@LifeAsBook can you provide more information what is still enabled? do you see wishlist on the front-end? back-end?

[2015-10-07 22:05] piotrekkaminski commented on #1721
@SLv99 @ardhitama can you check on latest version? we could not reproduce it.

[2015-10-07 22:18] piotrekkaminski commented on #1728
Hello. We decided against this one and also remove existing cascades for performance reasons wherever we could.

[2015-10-07 22:18] #1728 closed

[2015-10-07 22:20] piotrekkaminski commented on #1732
Internal issue MAGETWO-43790

[2015-10-07 22:21] piotrekkaminski commented on #1735
This was fixed and should be published soon.

[2015-10-07 22:21] #1735 closed

[2015-10-07 22:35] piotrekkaminski commented on #1740
@DRAJI do you still have this issue?

[2015-10-07 22:35] #1740 closed

[2015-10-07 22:44] piotrekkaminski commented on #1744
Do you still have this issue @LifeAsBook ?

[2015-10-07 22:44] #1744 closed

[2015-10-07 22:44] piotrekkaminski commented on #1743
@miguelbalparda @aricwatson what is the correct format?

[2015-10-07 22:44] tanya-soroka commented on #1736
@syilmaz thank you for reporting the issue.
Internal ticket has been created MAGETWO-43791.

[2015-10-07 22:46] piotrekkaminski commented on #1743
internal issue: MAGETWO-43792

[2015-10-07 22:47] piotrekkaminski commented on #1746
@matinict feel free to provide  this as a pull request.

[2015-10-07 22:48] piotrekkaminski commented on #1748
@wax000 was your issue resolved by running cron?

[2015-10-07 22:48] #1748 closed

[2015-10-07 22:50] #1749 closed

[2015-10-07 22:51] #1757 closed

[2015-10-07 22:53] piotrekkaminski commented on #1763
@alankent can you chime in here? should adopt a policy to have specific sort order range?

[2015-10-07 22:54] piotrekkaminski commented on #1778
@mad0house did you have a chance to check it again on latest version?

[2015-10-07 22:54] #1780 closed

[2015-10-07 22:55] #1782 closed

[2015-10-07 22:56] piotrekkaminski commented on #1788
@godban can you put in the comments the Jira issue?

[2015-10-07 23:06] piotrekkaminski commented on #1795
internal issue MAGETWO-43793

[2015-10-08 02:01] #1717 closed

[2015-10-08 03:35] mage2pro opened #2047 "Bug: the customer name showed twice in the top right corner"
What is the sense to show the customer name twice?
The first block is welcome message. The second block is the customer menu.
Please note that the welcome message for authenticated customers can not be changed or disabled in admin panel.

![magento2-01](https://cloud.githubusercontent.com/assets/83204/10357058/8f2011fa-6d86-11e5-8198-dfa7e80c9119.png)

[2015-10-08 04:45] dfediuk opened #2048 "Bug: the mouse cursor has wrong type ("text") while it is above a customer's name in the right top corner (the type need to be "pointer")"
![magento2-02](https://cloud.githubusercontent.com/assets/83204/10357890/5e374c84-6d90-11e5-9ee7-534d51da34cc.png)

![magento2-05](https://cloud.githubusercontent.com/assets/83204/10357894/63cf28c4-6d90-11e5-8d80-3e5e74a2a680.png)

[2015-10-08 04:59] Stuperfied opened #2049 "dissapointments"
I apologize in advance as I could not find any other way of guaranteeing this would actually reach the developers.

2 big disappointments. The following (what should be default features) are missing.

Price: POA  - common and very useful shopping cart feature
Sometimes its just easier if the customer calls but you don't want to put zero price. Price should however appear as zero in schema.org as g

[2015-10-08 06:15] Stuperfied commented on #1987
Please be patient, developers here are very busy and don't have time to troubleshoot possible errors when there are so many confirmed actual errors to be fixed. Sorry for being blunt but this section is for you to tell developers about bugs, not get help with your code. If you are in a hurry, please use a 3rd party source such as the magento section in stack exchange and report back here if you ca

[2015-10-08 07:17] zanilee commented on #2047
Thank you for reporting the issue.
Internal ticket: MAGETWO-42900

[2015-10-08 07:18] zanilee commented on #2048
Thank you for reporting the issue.
Internal ticket: MAGETWO-42900

[2015-10-08 08:55] nagno commented on #1671
Hi @piotrekkaminski,
Could you please let me know, why did you close the ticket?

[2015-10-08 08:56] craigcarnell commented on #2044
@mazhalai I think this most likely a PHP bug so will close for now. They are not likely to look at it however, as Magento 2 is not exactly a small bit of code to reproduce the issue

[2015-10-08 08:56] #2044 closed

[2015-10-08 08:57] craigcarnell commented on #2046
Thanks :+1:

[2015-10-08 09:09] tapantechno2007 opened #2050 "Cannot add product in backend"
I am trying to add a product through backend interface but the process never completes, the spinning image shows up and never goes and the product is not added at all.

I have a fresh version of master branch and have no customized code inside my setup, neither I have made any changes to any configuration except that I have enabled developer mode through htaccess.

[2015-10-08 09:11] kandy commented on #2044
link to php bug https://bugs.php.net/bug.php?id=68781

[2015-10-08 09:22] craigcarnell commented on #2043
@mazhalai I've adjust my jenkins job to pull the vendors down before deployment, so | am going to close this as I no longer require the feature. Thanks!

[2015-10-08 09:22] #2043 closed

[2015-10-08 10:55] craigcarnell commented on #2044
@kandy  Thanks

[2015-10-08 10:56] craigcarnell opened #2051 "Data Migration tool for EE 1.14.2.2"
Hi,

I need this! Where is it please? :)

[2015-10-08 11:04] craigcarnell commented on #2051
If not at least some way of exporting products, attributes and categories from EE into Magento 2

[2015-10-08 11:50] royduin commented on #2035
For example I don't want the contact and cookie information page indexed by any search engines. I can disallow them by adding custom XML to set a robots meta tag*, but why should they be present in the `sitemap.xml` if I don't want them indexed?

* Now I'm thinking about this any further, it would be nice too to have a dropdown on every page, product and category with the possibility to change the

[2015-10-08 12:41] Michal-sk commented on #1728
No problem, im actually removing it from other projects as well.

[2015-10-08 13:02] craigcarnell opened #2052 "Class Magento\Tax\Model\Calculation\Proxy does not exist"
Ran the re-index process as requested.. then after that the front end is broken.

php bin/magento indexer:reindex
[code]

In the front end:
[code]

[2015-10-08 13:04] craigcarnell commented on #2052
Worked after clearing the cache

[2015-10-08 13:11] craigcarnell opened #2053 "After creating a product in the backend.."
I get on the frontend..

[code]

[code]

This was on php 7.0 RC4. If I switch over to HHVM instead I get:

[code]

[2015-10-08 13:46] craigcarnell commented on #2053
Disabled zend opcache... damn PHP 7 is awfully unstable

[2015-10-08 13:50] #2053 closed

[2015-10-08 13:50] #2052 closed

[2015-10-08 13:51] craigcarnell opened #2054 "Video is not playable on product page"
I added a youtube video to the Magento  back end under product. On the product page all I see is an image with no video controls/playback

[2015-10-08 13:52] choukalos commented on #1702
Clarification - 43788 is for a very simple solution.  @vinai digg the thoughts for conversion - will update MAGETWO-36345 and let @ilol know.

[2015-10-08 13:56] choukalos commented on #2051
Hi @asemenenko where's the EE migration tool - isn't it in the partner portal?  The CE tool is in our public Github:  https://github.com/magento/data-migration-tool-ce

[2015-10-08 14:24] craigcarnell commented on #2054
Also on my server when I try to add a new product I get:

[code]

[2015-10-08 14:33] choukalos commented on #2002
Internally tracking - MAGETWO-43797

[2015-10-08 14:37] mazhalai commented on #1670
MAGETWO-41517 was closed in favor of MAGETWO-40320

[2015-10-08 14:40] mazhalai commented on #1167
Hello @zbych, in scope of other work, the Magento_Log module has been removed. There will be other functionality added in scope of story MAGETWO-39109. Hence, closing this ticket. Please feel free to open a new ticket if you still have issues.

[2015-10-08 14:40] #1167 closed

[2015-10-08 14:52] mazhalai commented on #2027
@iio7 can you please clean your browser cache as well as `var` and try again?

[2015-10-08 14:52] mazhalai commented on #2027
@iio7 can you please clean your browser cache as well as `var` and try again?

[2015-10-08 15:53] choukalos commented on #2049
No worries.  We're pretty active on Twitter (I'm Blue_Bovine) along with pretty easy with handing out email addresses.

Since this is Github will you send in a pull request (PR) for these improvements?

[2015-10-08 16:16] amenk opened #2056 "Translation in html files using $t() broken?"
I use beta4 and switched the store language to de_DE. While many strings are just not yet translated to DE, there is a translation in `app/code/Magento/Checkout/i18n/de_DE.csv` for example for

    "Shipping Address",Lieferungsadresse

If I am getting it correctly, this is referenced in `app/code/Magento/Checkout/view/frontend/web/template/shipping.html:8`

    <div class="step-title" data-bind="t

[2015-10-08 16:53] wojkam commented on #2040
Hi,
Attached screenshots for virtual product (same issue).
![screen shot 2015-10-08 at 18 51 14](https://cloud.githubusercontent.com/assets/7458051/10373418/97e27046-6ded-11e5-9db3-44b2b1357572.png)

![screen shot 2015-10-08 at 18 49 38](https://cloud.githubusercontent.com/assets/7458051/10373403/7b5dae0e-6ded-11e5-89d7-d0a21181c876.png)
![screen shot 2015-10-08 at 18 49 12](https://cloud.githubus

[2015-10-08 17:07] chicgeek commented on #2056
Just want to add another example where I've experienced the same issue, though the string is not in a template file. In my case trying to translate a string in a core JS file (no override):

     app/code/Magento/Catalog/view/frontend/web/js/catalog-add-to-cart.js

String example:

    $t('Adding...')

Translation in `app/design/frontend/Project/default/i18n/en_GB.csv` as:

    "Adding...","foo…"

[2015-10-08 17:22] adragus-inviqa opened #2058 "Logging to a custom file and replacing a DI-injected array argument"
I want to log to a new file other than the default ones, but still use the `\Psr\Log\LoggerInterface` type hint.

For this, I created a new virtual type that wraps the original logger implementations, adding a new handler. My problem is that it's _adding_ the handler, instead of _replacing_ the originals. This happens because DI array arguments are merged.

Let's take for example the case of `Mage

[2015-10-08 18:38] adragus-inviqa commented on #2058
I managed to log to a different file by making my own logger *and* handler, logger which passes only the said handler to the parent.

Feels hackish though:
[code]
[code]
My questions still stand though. :)

[2015-10-08 18:44] antonkril commented on #1763
In general plugins should not know about each other or order of execution, so ext developer should not set their sort order explicitly. But that is mostly true only for non-conflicting plugins (before-, after- or around- with unconditional `$proceed()` call).

Usually conflicting plugins are:
- *conditional*, that call to `$proceed` only when some condition is true (action authorization plugin pro

[2015-10-08 18:52] xcomSteveJohnson commented on #2051
The Magento 2 data migration tool works for both CE and EE: http://devdocs.magento.com/guides/v2.0/migration/migration-overview-supported.html

[2015-10-08 21:02] piotrekkaminski commented on #1804
internal id MAGETWO-43853

[2015-10-08 21:12] dfediuk opened #2059 "Bug: Magento tries to disable autocomplete for the backend login form but it does not work (and my fix)"
![magento2-02](https://cloud.githubusercontent.com/assets/83204/10380077/726371da-6e1a-11e5-9952-58f83f876d55.png)

A detailed description and my fix: https://mage2.pro/t/123

![magento2-01](https://cloud.githubusercontent.com/assets/83204/10380082/7c59c5fe-6e1a-11e5-87fe-251cba7aac92.png)

[2015-10-08 21:29] vancoz commented on #781
Hello @maskeyarun, @eskaliert  and @michaeltimm81

I have tried to reproduce the issue, used localhost, 127.0.0.1, magento.loc and different db connection settings (and I would like to assure you that connection settings can not impact authentication, if you application able to connect and have access to DB). And I can not reproduce this issue (except localhost case).

So problem with localhost de

[2015-10-08 21:43] piotrekkaminski commented on #1816
@vishal6714 can you let us know the following:
- browser and operating system version
- are you use any blocker extensions (AdBlockers, PrivacyBadger etc)

[2015-10-08 21:51] piotrekkaminski commented on #1832
@RanzigeMilch @teemingpl were your problems resolved?

[2015-10-08 22:07] fooman commented on #1763
Thanks @antonkril for chiming in.

You are mentioning two types of changes that are being done through the plugin system - conflicting and non-conflicting. However the plugin system itself does not have a mechanism to carry this information so I don't think it should necessarily be part of this discussion (maybe something on the wishlist for plugin system 2.0).

This statement here

I don't unders

[2015-10-08 22:17] piotrekkaminski commented on #1841
@asemenenko please review

[2015-10-08 22:17] piotrekkaminski commented on #1840
@asemenenko please review

[2015-10-08 22:18] piotrekkaminski commented on #1839
@asemenenko please review

[2015-10-08 22:19] piotrekkaminski commented on #1838
@asemenenko please review

[2015-10-08 22:25] piotrekkaminski commented on #1844
internal issue : MAGETWO-43857

[2015-10-08 22:27] piotrekkaminski commented on #1849
Hey @markoshust I got info we can no longer reproduce this issue. Can you check and let us know if fixed?

[2015-10-08 22:27] #1849 closed

[2015-10-08 22:53] piotrekkaminski commented on #1850
internal issue MAGETWO-43858

[2015-10-08 23:04] piotrekkaminski commented on #1856
internal issue MAGETWO-43859

[2015-10-08 23:17] dfediuk commented on #2059
I fixed it for myself with my extension «Backend Login Autocomplete» https://mage2.pro/t/124

[2015-10-08 23:17] #2059 closed

[2015-10-08 23:25] piotrekkaminski commented on #1863
Internal issue /MAGETWO-43860

[2015-10-08 23:27] piotrekkaminski commented on #1865
@fooman can you check it now?

[2015-10-08 23:27] #1865 closed

[2015-10-08 23:33] piotrekkaminski commented on #1866
@xddhaibo do you still see this issue?

[2015-10-08 23:33] #1866 closed

[2015-10-09 02:18] markoshust opened #2060 "Rename admin sidebar Products to Catalog"
![screen shot 2015-10-08 at 10 16 51 pm](https://cloud.githubusercontent.com/assets/437029/10384514/59658818-6e0a-11e5-936d-747d8354ca36.png)

I find it odd that the main sidebar item is named Products, with Catalog as a sub item. Shouldn't it be the other way around, with Catalog as the main sidebar item, and Products as a sub item?

Categories and Products are both sub items of Catalog, no?

[2015-10-09 02:22] markoshust commented on #2060
There is further evidence this should be changed once following the "Catalog" link. The URL is prefixed `catalog/product`, denoting that catalog is a higher-level item. There is also a big "Add Product" button on the Catalog page, leading to further confusion.

![screen shot 2015-10-08 at 10 19 46 pm](https://cloud.githubusercontent.com/assets/437029/10384563/f93c9516-6e0a-11e5-9dc5-51c911f2c608.p

[2015-10-09 04:35] chaluvadiswamy commented on #1651
@piotrekkaminski  Still the issue is existing and also loading time is taking more compare the existing magento version 1.9.2

[2015-10-09 06:04] dmitry-fedyuk opened #2061 "The browser form autocompletion is wrongly enabled for the admin config settings (and my fix)"
![magento2-11](https://cloud.githubusercontent.com/assets/83204/10386878/bec8614e-6e64-11e5-95da-0e5b76770c4b.png)

My fix: https://mage2.pro/t/125

[2015-10-09 06:12] kandy commented on #2058
You can not replace an array using a DI (mainly because it conflicts changes) and your code is correct for your case.

[2015-10-09 06:59] dmitry-fedyuk opened #2062 "Bug: «General» → «Design» → «Title Prefix» option is wrongly used for the Backend, need to be enabled for the Frontend only (and my fix)"
![magento2-01](https://cloud.githubusercontent.com/assets/83204/10387727/71686ab8-6e6c-11e5-8dd1-815d8565c5a6.png)

My fix: https://mage2.pro/t/126

[2015-10-09 07:43] bbraspenning opened #2063 "REST Sales OrderStatusHistoryAdd orderCommentAdd doesn't send mail"
Using the REST Sales OrderStatusHistoryAdd orderCommentAdd webservice to change the order status, doesn't send an email even when "is_customer_notified" is set to true.

When logging in with admin console and using orders submit comment (same functionality), you do get an email "order update" with "your order 999999 has been {orderstate}.

How can you trigger the same email through the REST call?

[2015-10-09 08:02] dfediuk opened #2064 "[Bug?] \Magento\Framework\App\Config::getValue() behavior is inconsistent with Magento 1.x Mage::getStoreConfig() method"
Magento 2 by default returns a config option value for the default scope while Magento 1.x by default returns  a config option value for the current store scope.
A detailed analysis here: https://mage2.pro/t/128
May be it is assumed but it looks like a bug and I do not understand the reason why the behavior was changed.

[2015-10-09 08:15] craigcarnell commented on #2051
@xcomSteveJohnson In that case can it be updated to support EE 1.14.2.1?

[2015-10-09 08:32] craigcarnell commented on #2046
Latest develop branch

[code]

[2015-10-09 08:36] #2046 closed

[2015-10-09 08:45] adragus-inviqa commented on #2058
Alright. Thanks for letting me know. At least now I know what to do.

[2015-10-09 08:45] #2058 closed

[2015-10-09 08:48] craigcarnell opened #2065 "Cannot read contents from file pub/static/adminhtml/Magento/backend/en_US/mage/requirejs/mixins.min.js"
When minification etc is all turned on in back end developer options

[code]

[2015-10-09 08:53] adragus-inviqa opened #2066 "Exceptions on login are not logged"
Is there a reason for _not_ logging them? Because I think they should definitely be logged.

https://github.com/magento/magento2/blob/4985acecc2a9204712531ba25b0c867ef09a4667/app/code/Magento/Customer/Controller/Account/LoginPost.php#L101-L103

[2015-10-09 09:01] craigcarnell opened #2067 "Unable to add product to backend using HHVM"
[code]

[2015-10-09 09:04] antonkril commented on #1763
Magento Core does not use conflicting unconditional plugins (at least does not actively use them). They are for Extension developers. But Magento Core uses conditional plugins that stop execution flow only if some condition is not met. They do not substitute implementation and should not be considered problematic for extension developers. But they usually want to be executed first (low sort order,

[2015-10-09 09:14] adragus-inviqa opened #2068 "The Topmenu class looks procedural"
https://github.com/magento/magento2/blob/4985acecc2a9204712531ba25b0c867ef09a4667/app/code/Magento/Theme/Block/Html/Topmenu.php

Could we please use more templates for rendering the markup? You can't easily change the HTML/menu without having to rewrite the whole class. I'm talking especially about the `_getHtml()`.

[2015-10-09 09:29] adragus-inviqa commented on #2064
Being different than M1 does not make it a bug, but I whole-heartedly agree that the default scope should not be `DEFAULT`, but `STORE`.

The lowest scope should be used, as that's what usually people want. Besides, I think the `STORE` scope falls back to `DEFAULT` anyway, whereas `DEFAULT` doesn't.

[2015-10-09 10:01] arunkasyakar opened #2069 "Not able to get order details fails with exception"
{
    "message": "Internal Error. Details are available in Magento log file. Report ID: webapi-56178c6a16ecb"
}

[2015-10-09 10:09] johnbendi opened #2070 "bin/magento setup:di:compile throws InvalidArgumentExcepton"
After installing a module the cli says to run the compile command. The only compile command I can see is `setup:di:compile`.

Running it returns this:
[code]

[2015-10-09 10:44] gordonknoppe commented on #2051
There is an internal ticket to complete support for the latest edition of EE and it is in code review.  @craigcarnell it should be out shortly

[2015-10-09 11:00] antonkril commented on #2064
In Magento 2 Scoped config is part of Framework, and stores are part of ECommerce Application. ECommerce Application is built on top of framework, so Framework parts can not know about Application parts.

`Magento\Framework\App\Config` is Framework level object that does not know about stores (and can not know about current store). So when you ask for config you should specify which scope you want

[2015-10-09 11:42] alena-marchenko commented on #2069
Hi arunkasyakar,

Please provide exact steps to reproduce the issue and webapi-56178c6a16ecb report for us to be able to investigate the issue.

[2015-10-09 12:30] guz-anton commented on #1871
Hi Ravi,
Looks like on your personal instance old revision of Magento2 is installed. And now you don't have mentioned issue.
But in current mainline such issue still exist. It has internal ticket MAGETWO-43263. The fix is already done and on way of delivery. I'll notice here when we when it will be done.

Thanks for your attention!

[2015-10-09 12:30] sanjayjethva opened #2071 "Regarding magento catalog and category type attribute"
Hello Friends,
I am creating the InstallSchema.php file and when i run this file from the extension then it throws the error.
Actually i am creating one catalog product type attribute and one category type attribute.

Thanks for your help in advnace.

[ErrorException]
  Argument 1 passed to Magento\Eav\Setup\EavSetup::__construct() must impleme
  nt interface Magento\Framework\Setup\ModuleDataSetu

[2015-10-09 13:00] mslabko commented on #2067
Hello, @craigcarnell
Thank you for reporting the issue.
Internal ticket has been created.

[2015-10-09 13:31] ulianakostur commented on #1850
Is "Enabled Chart" setting enabled in admin?
![09-10-2015 16-25-16](https://cloud.githubusercontent.com/assets/11276363/10394943/fdff6536-6ea2-11e5-9272-fcb0ecf64748.png)

[2015-10-09 14:21] craigcarnell opened #2072 "Class Magento\Catalog\Model\Resource\Category\Attribute\Collection does not exist"
Latest develop. Do you guys even test stuff? ;)

[code]

[2015-10-09 15:31] miguelbalparda commented on #1743
Format is ok as it is @piotrekkaminski, the issue here is the extra yyy after the year.

[2015-10-09 15:53] orlangur commented on #2072
In order to achieve PHP7 strict compatibility `Resource` occurrences as part of namespace were replaced with `ResourceModel`.

`git grep -i 'Magento\\Catalog\\Model\\Resource\\Category\\Attribute\\Collection'` shows there are no occurrences of class you mentioned in code.

But, `git grep -i 'Magento\\Catalog\\Model\\ResourceModel\\Category\\Attribute\\Collection'
app/code/Magento/Catalog/Setup/Cat

[2015-10-09 15:56] orlangur commented on #2050
Please enable `display_errors` and look into server response in `Network` tab of developer tool of your choice. Most likely there is some fatal error instead of proper JSON response.

[2015-10-09 16:05] orlangur commented on #2071
I didn't try your code in action but it seems to me that attributes must be added in `InstallData`, not in `InstallSchema`. You can see working example of adding attribute in https://github.com/magento/magento2/blob/develop/app/code/Magento/Msrp/Setup/InstallData.php

[2015-10-09 16:21] orlangur commented on #2070
I observed another error running `php -f bin/magento -- setup:di:compile`:
[code]

but it disappeared after `composer install`.

Could you provide a example of module which causes problem for compilation after install?

[2015-10-09 16:26] orlangur commented on #2068
Nice try on refactoring this class was performed in https://github.com/magento/magento2/pull/1123.

[2015-10-09 16:43] choukalos commented on #636
Update on this issue:
- Currency Conversion rates are stored as decimal (24,12) in the table
- We still have the database using decimal (12,4) in the system ( prices, orders, tax ) but in reality as @barbazul pointed out we're rounding to 2 digits before storing.  As I understand from our core dev there are only a few places now in the code that have that hard coded rounding.
- Looks like near ter

[2015-10-09 17:08] dfediuk commented on #2072
Looks like the Magento team does not test the code on friday's evenings. Here is the critical bug from the last friday: https://github.com/magento/magento2/issues/2007

[2015-10-09 20:39] piotrekkaminski commented on #1837
Do you still have this issue @MaxYaroshenko? Feel free to reopen the issue if still a problem.

[2015-10-09 20:39] #1837 closed

[2015-10-09 20:40] #1875 closed

[2015-10-09 21:09] piotrekkaminski commented on #1908
This issue is resolved and should be published soon.

[2015-10-09 21:09] #1908 closed

[2015-10-09 21:13] piotrekkaminski commented on #1901
Can you try again on the latest version? We cannot reproduce it.

[2015-10-09 21:14] piotrekkaminski commented on #1933
@vishveskrish closing this ticket as we haven't received any response. Please reopene if you still have this issue.

[2015-10-09 21:14] #1933 closed

[2015-10-09 23:35] alankent commented on #1763
If I try to explain in different words, the scores are a way of controlling relative priority. There was a separate discussion somewhere on the best way to do this (might have been an in person discussion in a partner meeting - I think in Austin). Scores we have today, but maybe it should really be "I want to go before module X (if present)". That is what is really trying to be achieved.

Sometime

[2015-10-10 00:48] dfediuk opened #2073 "Inconsistency: an attribute code maximum length validation does not conform to the database field maximum length"
A detailed analysis here: https://mage2.pro/t/129
See also another bug with attribute code length validation: https://github.com/magento/magento2/issues/1978

[2015-10-10 00:49] dfediuk commented on #1978
See also another bug with attribute code length validation: https://github.com/magento/magento2/issues/2073

[2015-10-10 02:21] alankent commented on #2046
You opened and closed this a few times - is it working for you now? Here is a sample registration.php file for a theme (from the blank theme): https://github.com/magento/magento2/blob/develop/app/design/frontend/Magento/blank/registration.php

If there is still a problem please let us know!

[2015-10-10 03:01] cfcnn opened #2074 "I got an error after normal installation magento2"
Hello,

My environment: centos 6.7, php 5.5.25, nginx 1.8.0, mariadb 10.0.17,
In VirtualHost, I installed magento2 according to the user guide,

I cloned the Magento GitHub repository  git clone -b master git@github.com:magento/magento2.git
copied all magento2 files to /var/www/html/www.domain.com/
then I used "chown" and "chmod" ,changed owner & permission of all files & directories( as user guid

[2015-10-10 04:49] sanjayjethva commented on #2071
Hello @orlangur
Thanks for your answer and can you please give an example of category attribute creation.
Thanks in advance.

[2015-10-10 04:50] sanjayjethva commented on #2000
I have run the bin/magento setup:upgrade command and my problem get resolved.
Thanks for your answer.

[2015-10-10 04:50] #2000 closed

[2015-10-10 08:00] antonkril commented on #2068
One thing to consider here is performance. If Topmenu is refactored incorrectly (every item is separate template) on some installations this will result in hundreds of template inclusions (more than rest of the page). But if this will be done with one template for whole menu, all logic from class will move to that template, and there will be no noticeable complexity reduction.

[2015-10-10 08:12] antonkril commented on #2072
As @orlangur explained system requires re-install after the Resource renaming story. But re-install requirement is issue itself.

[2015-10-10 08:32] antonkril commented on #2038
General idea is to abstract application from HTTP request, so application can serve different requests. Also setDispatched/isDispatched is legacy method of request processing flow control (plugins can be used for this). Whole code is not refactored yet (not high priority), but not having those methods on interface is a way to tell developers not to use implementation specific methods.

Extending i

[2015-10-10 08:38] antonkril commented on #2024
Whitelisting approach was used to make sure developers do not forget to add resource to allow store admin manage access to section. But I agree that there are inconsistencies:
- resource attribute might be obligatory or
- non-existing section should be forbidden by default

[2015-10-10 08:57] antonkril commented on #2010
Can this issue be closed?

[2015-10-10 10:13] aman91u opened #2075 "how to import customers in magento-2 ??"
I am trying to import customers using csv in magento-2 . I have fill all coloum and row according to need , But i am always getting this error,"1. Please make sure attribute "firstname" is not empty. in rows: 1". Please help me ..

[2015-10-10 10:20] biotech commented on #1803
Here is first one :) https://github.com/ibnab/magento2-delete-orders

[2015-10-10 10:21] biotech commented on #1749
@okobchenko fixed now , thanks

[2015-10-10 10:21] biotech commented on #1735
Great job thanks !

[2015-10-10 11:05] amenk commented on #2056
Translation seems to run via `static/frontend/Vendor/theme/de_DE/js-translation.json` - some strings are just not there. Have to find out, how this is generated.

[2015-10-10 11:07] orlangur commented on #2071
Just another entity constant: https://github.com/magento/magento2/blob/7dcac823e102042d9052304b40c79b16efc56399/app/code/Magento/CatalogUrlRewrite/Setup/InstallData.php#L44

[2015-10-10 11:40] sanjayjethva commented on #2071
Hello @orlangur
Thank you very much for your help.

[2015-10-10 11:43] #2010 closed

[2015-10-10 12:24] pengting opened #2076 "Background error message , I do not click on the left menu bar."
![1](https://cloud.githubusercontent.com/assets/4326820/10411062/593a34fa-6f8c-11e5-94c0-7f69b4ce7db9.png)

The Admin  background display error message,

I do not click on the left menu bar.

view system.log

[2015-10-10 11:07:08] main.CRITICAL: Broken reference: the 'global_notices' element cannot be added as child to 'global.notices', because the latter doesn't exist [] []
[2015-10-10 11:07:08]

[2015-10-10 12:51] amenk commented on #2056
Translation is fetched in `\Magento\Translation\Model\Js\DataProvider::getData` and `\Magento\Translation\Model\Js\DataProvider::getPhrases`. Magento fetches a list of all JS files and then does a preg_match for  currently only the pattern `~\$\.mage\.__\([\'|\"](.+?)[\'|\"]\)~`.
What has to be fixed:

* include `.html` templates to the list of files
* match also for `$t('...')`

[2015-10-10 13:00] amenk commented on #2056
I will try to make a PR...

[2015-10-10 13:30] pengting commented on #2076
root@iZ94bm9pbjsZ:/home/wwwroot/default/magento2# magento cron:run --group="default"
Ran jobs by schedule.
root@iZ94bm9pbjsZ:/home/wwwroot/default/magento2# cd var
You have new mail in /var/mail/root

---------------------------------------------------------------------------------
view root

From root@iZ94bm9pbjsZ  Sat Oct 10 21:27:01 2015
Return-Path: <root@iZ94bm9pbjsZ>
Received: from iZ94bm9pb

[2015-10-10 13:54] amenk commented on #2056
It is already fixed in the `develop` branch by a commit from July https://github.com/magento/magento2/blob/develop/app/code/Magento/Translation/Model/Js/DataProvider.php#L96 - I am wondering why this is not yet in master.

[2015-10-10 14:13] serkia commented on #1491
Just want to point out that enabling
LoadModule access_compat_module modules/mod_access_compat.so
fixed my error 500

running on win 10, and the latest apache 2.4,, php 5.6, mysql

[2015-10-10 14:43] vishal6714 commented on #1816
Hello Team,

Yes, sure.

We are using mozilla firefox & google chrome in windows 7 license version.

We not use any extensions.

Also we are working on Magento2 beta 1.0.0

We also have some list of bugs which we create in github in few days.

Let us know if you have any questions further more.
On Oct 9, 2015 3:14 AM, "piotrekkaminski" <notifications@github.com> wrote:

[2015-10-10 15:47] #2071 closed

[2015-10-10 16:13] markoshust commented on #1849
Sure, about to fire up new m2 copy from develop to check this and some other things out. Will let you know. Thanks -M

[2015-10-10 17:14] serkia opened #2077 "Admin page just a white box and black background"
I'm at a dead end. Result is the same with chrome, firefox, and the latest IE on windows 10

running on apache 2.4, php 5.6

screenshot
http://prntscr.com/8pvods

[2015-10-10 18:35] piotrekkaminski commented on #1920
internal issue MAGETWO-43911

[2015-10-10 18:36] piotrekkaminski commented on #1884
Closing as we did not hear any response. Please reopen if you can provide more details.

[2015-10-10 18:36] #1884 closed

[2015-10-10 18:42] piotrekkaminski commented on #1954
internal issue MAGETWO-43912

[2015-10-10 19:06] amenk opened #2078 "[question] From which code are packages.magento.com packages derived?"
There is a 1.0.0-beta4 package on packages.magento.com (http://packages.magento.com/_packages/magento_framework-1.0.0-beta4.zip). From which git branch / commit is this derived? There is no such tag on GitHub.

[2015-10-10 20:12] piotrekkaminski commented on #1966
internal issue MAGETWO-43914

[2015-10-10 20:32] piotrekkaminski commented on #1940
internal issue MAGETWO-43915

[2015-10-10 21:49] daim2k5 commented on #2077
https://github.com/magento/magento2/issues/1491#issuecomment-147092719 so you can close this issue?

[2015-10-10 22:32] serkia commented on #2077
no...unfortunately I thought I was in the clear, but I was wrong. The front end works, the backend doesn't.

The previous post fixed an install issue I had. I belive I'm past the install at this point and there is a setting in apache or maybe php.ini that I can't figure out. Or just something in magento??? Driving myself nuts trying to figure this out

[2015-10-11 00:38] dfediuk opened #2079 "Naming inconsistency: mixed ResourceModel and ModelResource usage for the same thing"
- a `ModelResource` usage example: https://github.com/magento/magento2/tree/1d97cd9ddee038c9b93c43b74c8e318702a70a33/lib/internal/Magento/Framework/Model/ModelResource/
- a `ResourceModel` usage example: https://github.com/magento/magento2/tree/1d97cd9ddee038c9b93c43b74c8e318702a70a33/app/code/Magento/Catalog/Model/ResourceModel/

[2015-10-11 06:37] dfediuk commented on #2072
I do not know why is it rocket science for Magento team to do proper upgrade script so I have done it by myself: https://mage2.pro/t/130
The bug looks like an [ordinary](https://github.com/magento/magento2/issues/2007) Magento team friday's laziness.
The advice to just drop database and reinstall looks crazy too because surely there are tens of developers who have already insvested hundreds (and t

[2015-10-11 12:29] dfediuk commented on #2077
Yes, admin interface is broken now.
It is not a technical problem, it is the management problem: Magento 2 team regularly do low quality commits with critical bugs on fridays (https://github.com/magento/magento2/issues/2007, https://github.com/magento/magento2/issues/2072).

[2015-10-11 13:36] cfcnn opened #2080 "I can not install magento2"
My environment: centos 6.7, php 5.5.30, nginx 1.8.0, mariadb 10.0.17,

I cloned the Magento GitHub repository git clone -b master git@github.com:magento/magento2.git

There's no error comes out when run " composer install ", everything's normal.
Please see the process:
http://i.imgur.com/ZersO22.gif
[code]

When run " magento setup:install ", error occurs, please see the process:
http://i.imgur.co

[2015-10-11 13:53] serkia commented on #2077
Thank you for clearing up my weekend.

[2015-10-11 15:19] dmitrii-fediuk commented on #2077
_Removed by moderator_

[2015-10-11 15:56] adragus-inviqa opened #2081 "Environment-based Dependency Injection"
Since we now have the DI system creating the objects and the system being tight to the environment, do you think it's worth having an environment-aware DI system?

Is there something in the current codebase that handles such "conditionals"?

It would facilitate custom object creation along the pipeline. Some examples:
 - different log object for develoment (DEBUG, text), CI (info, text) and produc

[2015-10-11 15:56] #2074 closed

[2015-10-11 16:29] dfediuk opened #2082 "«Argument 1 passed to Magento\Framework\View\Xsd\Reader::addHeadChildIntoParent() must be an instance of DOMElement, null given» (and my fix)"
https://mage2.pro/t/133

[2015-10-11 17:03] antonkril commented on #2081
Agree that it should be easy to configure different behaviors for system for different environments, but performance is critical for ObjectManager because it's called thousands times per request. So we try to keep feature set of OM minimal.

This environment-dependent feature has limited scope (not so many things should be different for dev and prod) so it will be used for 3 to 20 classes (~0,03%)

[2015-10-11 17:41] nevvermind commented on #2081
I don't. Even if I did, I don't think my list would've been complete, considering the large audience here.

This, too, is an option. Anything but a blind DI system.
I did look at the `init_param` arg type and I'm assuming it's planned for further changes, because now it's a more or less a `const` arg type, unless I missed something.

Also, it doesn't all have to be at runtime. The DI compiler coul

[2015-10-11 17:49] antonkril commented on #2081
Init_param is different from const. It receives name of the constant that contains name of argument in init parameters of application (env.php, $_SERVER). So if you want to inject some of application's init_params to object you use init_param argument type in di.xml.

As for using compiler to fix performance, it's possible but it will increase complexity of both OM and compiler.

By the way in som

[2015-10-11 18:18] nevvermind commented on #2081
Wait a nanosecond!

So [this](https://github.com/magento/magento2/blob/1d97cd9ddee038c9b93c43b74c8e318702a70a33/app/etc/di.xml#L197) argument maps to [this](https://github.com/magento/magento2/blob/1d97cd9ddee038c9b93c43b74c8e318702a70a33/lib/internal/Magento/Framework/App/State.php#L15) constant, and that `MAGE_MODE` is fetched from whatever options the app was initialized with (like you said, `e

[2015-10-11 18:53] antonkril commented on #1583
@markoshust can we close this issue?

[2015-10-11 19:30] xcomSteveJohnson commented on #2080
You can try removing var/cache/*, var/generation/*, var/di/*, var/page_cache/* and trying to uninstall again.

You can also try cloning again into an empty directory and trying the install again.

[2015-10-11 19:31] XedinUnknown opened #2083 "Using parts of Magento in other software"
Hi,

First of all, I would like to express appreciation for this amazing project. I have been developing for Magento for over 4 years now, and have come to admire it as the greatest PHP work ever written; it opened my eyes to PHP. In fact, I like it so much that I use many practices common to Magento in other software I write. And this brings up a question...

I would like to use some parts of Mag

[2015-10-11 19:39] restaurantsupply opened #2084 "Braintree - PayPal issue"
Hello,

I am using Braintree and it lets you use PayPal within the API. I activated my paypal with Braintree but the paypal logo to click to pay does not show. Does anyone solution to this issue??

[2015-10-11 23:58] alankent commented on #2072
We have upgrade scripts between officially supported releases, as we have done for years. We don't currently do this for every single GitHub push due to the overhead it creates. Grabbing the latest code from 'develop' GitHub is not recommended for production sites (and never will be). Production sites should use official releases.  After GA is out (Real Soon Now), we will move to quarterly officia

[2015-10-12 00:12] alankent commented on #2062
I am curious. If you are creating fixes, why do you not create a pull request? With pull requests your name gets associated with the code in our repo - if we copy a fix you make, that acknowledgement of contribution is lost. It's really appreciated help identify problems and make the product better for everyone, but is there something about our normal process that is making it too painful?

[2015-10-12 01:58] dfediuk commented on #2062
I have no motivation to do pull request.
"GitHub code repository acknowledgement" is not motivation for me: I work for money.
I am interesting for:
1) bugs to be fixed (because good Magento 2 core makes my paid work easy).
2) know all about Magento 2 (this is why I try to fix by myself every bug I found)

If a bug will be fixed by the core team fast - it is good for me.
If the bug will be fixed by

[2015-10-12 05:09] chaluvadiswamy commented on #1651
@piotrekkaminski  Still i have same  issue, i have installed in the local by using XAMPP

[2015-10-12 07:30] ilagno89 commented on #1694
@Zaylril, internal ticket is fixed and already available in develop branch. Please, check the fix, if something doesn't work for you, feel free to reopen this issue.

[2015-10-12 07:31] ilagno89 commented on #2029
@andreymoskvenkov, internal ticket is fixed and already available in develop branch. Please, check the fix, if something doesn't work for you, feel free to reopen this issue.

[2015-10-12 07:32] ilagno89 commented on #2020
@dfediuk,  internal ticket is fixed and already available in develop branch. Please, check the fix, if something doesn't work for you, feel free to reopen this issue.

[2015-10-12 07:34] #2020 closed

[2015-10-12 07:34] #2029 closed

[2015-10-12 07:35] #1694 closed

[2015-10-12 07:58] Flyingmana opened #2085 "Allow running cron jobs by code"
To make debugging cronjobs a lot easier, it would be great if I can execute them directly via CLI

[2015-10-12 08:33] craigcarnell commented on #2046
@alankent Slight issue with my net connection, it's ok now thanks

[2015-10-12 08:40] craigcarnell commented on #2072
@alankent I can appreciate the code changing frequently, but it seems there is just issue after issue with something broken. Closing for now.

[2015-10-12 08:40] #2072 closed

[2015-10-12 09:31] antonkril commented on #2085
Also you can (should) write integration tests for them.

[2015-10-12 09:39] amenk opened #2086 "Backend: page.loader template admin/loader.phtml is missing"
The template referenced here https://github.com/magento/magento2/blob/develop/app/code/Magento/Backend/view/adminhtml/layout/default.xml#L68 (`Magento_Backend::admin/loader.phtml`) seems to be missing.

[2015-10-12 10:05] fooman commented on #1865
Thanks it works for me now as well.

[2015-10-12 10:19] zanilee commented on #2084
Hi, @restaurantsupply!
Could you please provide more information about your Braintree configuration: did you set "Display on Shopping Cart" select in the "PayPal through Braintree" panel to "yes"?

[2015-10-12 11:00] andreymoskvenkov commented on #2029
Thanks! The fix looks good to me. We will check this fix if our client will want to switch the store to mixed mode. For now he is ok to use HTTPS-everywhere solution.

[2015-10-12 11:11] arunkasyakar commented on #2069
when i am calling the api http://myhost/rest/default/V1/orders?criteria[filter_groups][0][filters][0][field]=status&criteria[filter_groups][0][filters][0][value]=complete, and if complete state has some value then i am getting this issue, same thing is happening with the processing and pending status of order

[2015-10-12 11:12] arunkasyakar commented on #2069
and same issue i am getting with the api call http://myhost/magento2/rest/default/V1/orders/2
the error message is  "message": "Internal Error. Details are available in Magento log file. Report ID: webapi-561b9563df59c"

[2015-10-12 11:15] arunkasyakar commented on #2069
error log are:

[2015-10-12 11:13:23] main.CRITICAL: exception 'Exception' with message 'Report ID: webapi-561b95d3396b1; Message: Notice: Array to string conversion in /var/www/html/magento2/lib/internal/Magento/Framework/Reflection/TypeCaster.php on line 34' in /var/www/html/magento2/lib/internal/Magento/Framework/Webapi/ErrorProcessor.php:194
Stack trace:
#0 /var/www/html/magento2/lib/internal/

[2015-10-12 12:07] vasuscoin commented on #1590
Hello,
Que: How "grunt watch" will work for newly created theme?

I installed Magento ver. 1.0.0-beta.

I have cloned from luma theme as child theme under /app/design/frontend/Vendor/lumaDark
Grunt is installed and its working fine.

If I change something from  /app/design/frontend/Vendor/lumaDark/Magento_Checkout/web/css/source/module/_minicart.less file. it doesn't showing under Grunt watch from

[2015-10-12 12:24] eug123 commented on #1590
Hello, @vasuscoin

Have you added your theme (Vendor/lumaDark) to the themes list grunt configuration file
`dev/tools/grunt/configs/themes.js`?

http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html#grunt_prereq

[2015-10-12 12:35] vasuscoin commented on #1590
Hey @eug123
Sorry for delay.
I have added them to `dev/tools/grunt/configs/theme.js` as well as added to  `dev/tools/grunt/configs/less.js`

[2015-10-12 12:38] okorshenko commented on #896
@wojtekn , thank you for reporting the issue. Internal ticket: MAGETWO-33028 has been closed and merged to develop branch. Please, let us know if you still have an issue

[2015-10-12 12:38] #896 closed

[2015-10-12 12:39] okorshenko commented on #1435
@bvdooren, thank you for reporting the issue. Internal ticket: MAGETWO-39658 has been closed and merged to develop branch.  Please, let us know if you still have an issue

[2015-10-12 12:39] #1435 closed

[2015-10-12 12:40] vasuscoin commented on #1590
@eug123
I have attached theme.js & less.js screenshot.
![less](https://cloud.githubusercontent.com/assets/648859/10428074/822253bc-710c-11e5-9fa4-00c8e400ea68.png)

[2015-10-12 12:41] okorshenko commented on #1423
@fooman, thank you for reporting the issue. Internal ticket: MAGETWO-39430 has been closed and merged to develop branch. Please, let us know if you still have an issue

[2015-10-12 12:41] #1423 closed

[2015-10-12 12:48] zanilee commented on #1959
@dfediuk thank you for reporting the issue. Internal ticket: MAGETWO-43298 has been closed and merged to develop branch. Please, let us know if you still have an issue.

[2015-10-12 12:57] gordonknoppe commented on #2056
Internal issue MAGETWO-43935

[2015-10-12 13:21] eug123 commented on #1590
Sorry, @vasuscoin

Have skipped info about your magento version.
There is an issue in beta - system creates copies of less files instead of symlinks, so changes in sources are not visible for watcher.
There is a discussion [about it](https://github.com/magento/magento2/issues/1787)
And here is a patch to fix symlink issue in beta - https://gist.github.com/godban/8cb178f9a84ed85f1eac

[2015-10-12 13:24] mage2pro opened #2087 "Parameter type for \Magento\Customer\Model\Customer::setStore() should be \Magento\Store\Api\Data\StoreInterface, not \Magento\Store\Model\Store"
https://github.com/magento/magento2/blob/3a72e6eeda90d6f19c0ee5ca807028b8447bc4fe/app/code/Magento/Customer/Model/Customer.php#L958

[2015-10-12 13:36] mage2pro opened #2088 "Method setStoreId() need to be added to the PHPDoc declaration of the class \Magento\Customer\Model\Customer"
An example of usage: https://github.com/magento/magento2/blob/4d5990adea0b49ade3794b8a1dde793d25103d35/app/code/Magento/Customer/Model/Customer.php#L960

[2015-10-12 13:39] dfediuk opened #2089 "Method \Magento\Customer\Model\Customer::setWebsiteId() has wrong PHPDoc declaration"
https://github.com/magento/magento2/blob/4d5990adea0b49ade3794b8a1dde793d25103d35/app/code/Magento/Customer/Model/Customer.php#L25

Need to be `@method Customer setWebsiteId($value)`

[2015-10-12 13:43] xcomSteveJohnson commented on #2023
Thanks, updated the documentation: http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html

and http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-subcommands-deployment.html

(look for db-host)

[2015-10-12 14:01] Vinai commented on #2062
Gosh, I certainly don't see any contradiction in working for money and also giving back to Magento in form of pull requests.

[2015-10-12 14:10] okorshenko commented on #1966
@kirillkorovkin, thank you for reporting the issue. Internal ticket: MAGETWO-43914 has been closed and merged to develop branch. Please, let us know if you still have an issue

[2015-10-12 14:10] #1966 closed

[2015-10-12 14:17] NadiyaS commented on #1743
hi @miguelbalparda and @aricwatson,
do you still have the same problem on the latest version? or can you provide us more detailed information about reproducing this bug? and what exactly Chinese locale do you use (e.g. zh_Hans_CN)?

[2015-10-12 14:25] miguelbalparda commented on #1743
We were able to reproduce this in the merchant beta, locale is zh_Hans_CN. You can reproduce this issue by going to http://magento2-demo.nexcess.net/admin - Sales - Orders and selecting Chinese in the footer dropdown.

[2015-10-12 14:42] dfediuk opened #2090 "\Magento\Framework\App\DeploymentConfig::get() method is declared with wrong PHPDoc return type"
https://github.com/magento/magento2/blob/fa9c56951a16070661a89de73c2cbb10949eb32e/lib/internal/Magento/Framework/App/DeploymentConfig.php#L68

`@return array|null` is wrong because the method can return also a string.

[2015-10-12 14:54] serkia commented on #2077
That code worked to bring up a user name and password boxes, but I"m getting a message

I even reset the password in phpMyAdmin under the table "admin_user". Added a MD5 functioin to convert the plain password. Still same thing. So I'm sure I'm not getting the u/p incorrect.

Thanks for the help Dmitry

[2015-10-12 15:33] dfediuk opened #2092 "\Magento\Eav\Model\Config::getAttribute() method is declared with wrong PHPDoc return type"
https://github.com/magento/magento2/blob/fa9c56951a16070661a89de73c2cbb10949eb32e/app/code/Magento/Eav/Model/Config.php#L421

The declaration `@return  \Magento\Eav\Model\Entity\Attribute\AbstractAttribute|false` is wrong because the method unable to return false.

[2015-10-12 16:24] Zatara7 commented on #1850
@markoshust Hello, I believe the reason it isn't showing is because the order that you placed (or your customer placed) is not marked complete. It will only show up in those statistics if that is true. To make it marked complete you need to make sure you process the shipping and the invoice for the order. Please let us know if that worked for you.

[2015-10-12 16:25] acharrex commented on #1964
I've the same issue / problem.

@alankent: Can you provide us more information about the scope of the new CMS?

[2015-10-12 16:30] restaurantsupply commented on #2084
Yes.. I did both of these. I also set up the Paypal through Braintree.

They said every thing is set up correctly on the braintree side. They are
not sure why the PayPal logo is not showing up on the checkout. My domain
is IceMaker.com.

You will see once you add the item to the checkout a Credit card Option
that works and a PayPal option and when you select PayPal the PayPal logo
does not show.

[2015-10-12 19:05] thomasnordkvist opened #2094 "Group Price missing in developer branch"
Group Price is missing.
Just installed at commit 6fa09047a6d4a1ec71494fadec5a42284ba7cc1d and the Group Price function in Advanced Pricing is no longer there.
Why is it removed?

[2015-10-12 19:09] acharrex opened #2095 "CMS roadmap?"
Hi, I'm working on a CMS extension for Magento 2, and I would know if major improvements will be released soon on this part of Magento? (see note https://github.com/magento/magento2/issues/1964#issuecomment-143597629)

[2015-10-12 19:12] alankent commented on #2095
Sorry! I missed your question on the other thread. This is a question for the product managers however. I will make sure they see this.

[2015-10-12 19:22] acharrex commented on #2095
Thanks a lot Alan.
I'm looking forward to getting their feedback.

[2015-10-12 19:52] Flyingmana commented on #2085
Can I find documentation or an example for a integration test of cron?

I tried custom cron groups, but I can not rerun a job multiple times in less then a minute.

Also, I dont deploy phpunit to production environment, so I cant run the job there again to see, if the failing is random or reproducable, or just rerun it after changing a setting I forgot.
Are this enough reasons to have this?

[2015-10-12 20:00] Flyingmana commented on #1021
I take the "separate Git repo" approach and now have a dirty but usable first draft.

https://github.com/Cotya/QueueModule

[2015-10-12 20:06] alankent commented on #2085
Do you mean more than 'magento cron:run'?  You want to select the specific code to run? Maybe add a command line option to the existing command?

[2015-10-12 20:13] Flyingmana commented on #2085
yes, the specific code, and then having this one job directly running.
A command line option would be probably enough for this.

[2015-10-12 20:14] antonkril commented on #2094
Because of functional intersection with tier prices

[2015-10-12 21:43] alankent commented on #1964
I don't think much more is coming for CMS for 2.0 GA (that I know). GA really finishing off last bits of work for what is there, then testing testing and more testing. Post 2.0 we have a backlog, and do have CMS work on that backlog. I passed the question on to the PM who owns that area. I think is better that they share what is planned rather than me guess!

I was personally looking into the rela

[2015-10-12 21:46] ktomk commented on #1051
@alankent

Regarding your question about the composer autoloader: by  *"composer autoloader will be 100% unhindered"* I just wanted to write that `vendor/autoload.php` is required and those autoloaders registered by it aren't hindered. I hope this makes it more clear. And I hope that's covered by what you coined "composer friendly".

[2015-10-12 21:53] dsikkema commented on #1520
@dfediuk I'm unable to reproduce this so far. Can you provide the detailed steps you went through to get that stack trace?

I went into app/code/Magento/Checkout/etc/adminhtml/system.xml, placed tab characters everywhere, and was able to access and modify store configuration.

[2015-10-12 22:16] buskamuza commented on #2077
Hi @serkia , please, try command `./bin/magento admin:user:unlock <username>` in case the account is locked.

[2015-10-12 22:38] buskamuza commented on #1051
Hi @ktomk , `vendor/autoload.php` is already used by Magento application - https://github.com/magento/magento2/blob/develop/app/autoload.php#L17
Could you, please, clarify what exactly is wrong with the current implementation? Thanks.

[2015-10-12 22:45] Stuperfied commented on #2049
Thank you for the quick reply. I'm new to GitHub and so still learning what a pull request is. I think you are asking me if I can write the code and request a merge.

if so, I can but will take a long time as i'm still playing catch up from magento 1.9.0.1. I am happy to do this but if anyone gets to it before me, I wont object. ;)

[2015-10-12 22:54] buskamuza commented on #1651
@chaluvadiswamy , do you have xDebug enabled? It may slow-down the application significantly.

[2015-10-13 01:19] Stuperfied commented on #2049
My first thought for "POA" is to add it as a separate form field as all pricing seems strictly bound to Integer. This would also allow for additional options to be added such as "Coming Soon". Immediately thats a new database entry with sql to do the setup on install. Would also need a ..... Ok, is there a discussion forum somewhere?

[2015-10-13 05:53] thomasnordkvist commented on #2094
Makse sense, same result can be achived with less code maintenance.

[2015-10-13 05:53] #2094 closed

[2015-10-13 06:21] arunkasyakar opened #2096 "rest api's are not working"
any of rest api is not working for category, i tried for the api calls:
1. http://MYHOST/magento2/rest/default/V1/categories
2.http://MYHOST/magento2/rest/default/V1/categories?searchCriteria[filter_groups][0][filters][0][field]=categoryId&searchCriteria[filter_groups][0][filters][0][value]=3

    and various other search criteria but in all cases it returns only the first record of the categories

[2015-10-13 07:24] vasuscoin commented on #1590
@eug123
I tried to install patch. Unfortunately `app/code/Magento/Developer/Test/Unit/Console/Command/CssDeployCommandTest.php` file not found.

Where from I will received this file?

[2015-10-13 07:54] ktomk commented on #1051
@buskamuza: *Wrong* is such a broad term, where should I start where should I end? And so profound. Let's just call *nothing* wrong at all and just imagine you want to add your own requirements to Magento 2 (and those requirements are inheriting from Magento 2 components) as composer requirements. AFAIK this straight forward operation ain't yet possible.

[2015-10-13 08:38] eug123 commented on #1590
Hi,
Merchant beta version of this file in the master branch
https://github.com/magento/magento2/blob/master/app/code/Magento/Developer/Test/Unit/Console/Command/CssDeployCommandTest.php

[2015-10-13 09:30] gputignano commented on #2077
I also got the same problem.

[2015-10-13 09:58] chaluvadiswamy commented on #1651
@buskamuza yes xDebug is enabled , if we disable that it will work

[2015-10-13 10:04] thomasnordkvist opened #2097 "Product import only adds image to last product."
When i try to import products with images, only the last product in the import-file gets the images attached correct. Thumb shows in the admin product grid but no images are visible on product edit page.

The magento installation is from commit 6fa09047a6d4a1ec71494fadec5a42284ba7cc1d from 2015-10-12.

[2015-10-13 11:20] johnbendi opened #2098 "Disable module does not remove it from setup_module table"
Disabling a module does not remove it from the setup_module table.

[2015-10-13 11:45] markoshust commented on #1583
@antonkril @alankent can you confirm this is the "correct" way of implementing this update?

[code]

[2015-10-13 11:46] markoshust commented on #1850
Let me retest, seems lots of code updates since I last tested this.

[2015-10-13 11:53] arunkasyakar opened #2099 "Attribute with attributeCode"
with any of GET request for product related search getting the message

{
    "message": "Attribute with attributeCode \"%1\" does not exist.",
    "parameters": [
        "rating"
    ]
}

[2015-10-13 12:20] antonkril commented on #1583
Not exactly. Generic factory should be used in controllers and, `loadLayout` call is not required, you can just return result.

[code]

Also we plan to modify actions slightly so that extending from `\Magento\Framework\App\Action\Action` will not be required and will be discouraged. Action will only have to implement `\Magento\Framework\App\ActionInterface`.

[2015-10-13 12:21] mad0house commented on #1901
As of today works ok on a fresh install,

[2015-10-13 12:22] mad0house commented on #1778
Testing this now, been a little snowed under.

[2015-10-13 12:28] markoshust commented on #1583
Great, thanks

[2015-10-13 12:28] #1583 closed

[2015-10-13 12:51] vasuscoin commented on #1590
In which branch we have to work after cloned from `https://github.com/magento/magento2` ? develop or master ?
I observed that there are some files & folders are missing in Master Branch.

[2015-10-13 12:57] vasuscoin commented on #1590
I got answer for my query at `http://devdocs.magento.com/guides/v2.0/install-gde/install/composer-clone.html#instgde-prereq-compose-clone`
Thank you.

[2015-10-13 13:40] sunilit42 commented on #1590
Hello,

i am trying to use grunt watch command, in screen showing waiting command only.
![image](https://cloud.githubusercontent.com/assets/2923438/10456271/1d555f38-71de-11e5-9f44-dd74eef1190c.png)

[2015-10-13 13:42] sunilit42 commented on #1590
When i am using grunt watch command,it showing waiting screen only:
![image](https://cloud.githubusercontent.com/assets/2923438/10456289/4136ac36-71de-11e5-8ecf-1320159637a3.png)

[2015-10-13 13:57] Lewiscowles1986 opened #2100 "Folder structure"
This is an enhancement proposal to change Magento 2 folder structure, to use a more sensible folder structure At present /pub should be the ***only web root***, but it's not, and that means that there are a number of folders that do not need to face the web, potentially facing the web. This also seems to lead to a // being my store-front during my install when using nginx setup
***might be a good

[2015-10-13 14:06] mazhalai commented on #2070
@johnbendi are you installing a custom module? Can you please check your custom module for references to missing classes?

[2015-10-13 14:12] Lewiscowles1986 opened #2101 "Backup Enhancements"
It's fantastic that you can take backups in Magento 2 for the three different areas, I have some suggestions I believe would make this more professional solution

 * Ability to backup automatically to a schedule (not just when installing plug-ins)
 * Default to exclude media from system backups
 * Default to put system into maintenance mode during backup
 * Ability to launch all three backups with

[2015-10-13 14:21] SerhiyShkolyarenko commented on #2072
@craigcarnell anyway we took this bug in progress to prevent other users reinstalling.

[2015-10-13 14:48] Lewiscowles1986 opened #2102 "composer --no-dev kills magento setup:install"
so running

[code]

works

but running

[code]

does not. Just something to keep in mind

[2015-10-13 14:59] mazhalai commented on #2080
@cfcnn can you please try @xcomSteveJohnson's suggestion and let us know if that helped?

[2015-10-13 15:00] adragus-inviqa opened #2103 "Undeclared dynamic property gets leaked in public space"
I'm talking about this: https://github.com/magento/magento2/blob/e5dedb8b75cfe46eb9e68b5d55c983e8b5ce3c55/app/code/Magento/LayeredNavigation/Block/Navigation.php#L62

There is no `\Magento\LayeredNavigation\Block\Navigation::$renderer` member, so it becomes public.

[2015-10-13 15:10] mazhalai commented on #2098
@johnbendi if you require to completely remove a module, please use `bin/magento module:uninstall` instead.

[2015-10-13 15:15] mazhalai commented on #2101
@Lewiscowles1986 thank you for your suggestions. However, could you expand on why this is required?
`Default to put system into maintenance mode during backup`

[2015-10-13 15:17] mazhalai commented on #2102
Thank you @Lewiscowles1986, we are working on this as it is related to #1690

[2015-10-13 15:18] mazhalai commented on #2102
Closing as duplicate.

[2015-10-13 15:18] #2102 closed

[2015-10-13 15:58] alankent commented on #1051
Sorry, I still don't quite understand. Could you provide a concrete illustration of what you think cannot be done today that you want to do?  "Inheriting from Magento 2 components" - your module can declare a dependency on a M2 module, and you can then inherit from classes or interfaces in that module. Hence you can extend M2 with additional functionality. There is also dependency injection, plugi

[2015-10-13 16:18] markoshust opened #2104 "replace grunt with gulp"
Grunt has a very slow building process. Gulp should replace Grunt as the recommended method for building static assets.

This would also be a good time to decouple PHP calls from the nodejs build process. Any PHP calls from nodejs should be moved to `./bin/magento` so node/js code is kept node/js only, and PHP scripts are only called from PHP. This will help streamline the deployment process.

[2015-10-13 16:42] markoshust commented on #1849
Yes, this seems to have been fixed in develop.

[2015-10-13 16:49] markoshust commented on #1850
@Zatara7 yes I believe you are right, order wasn't complete. All working now.

[2015-10-13 16:49] #1850 closed

[2015-10-13 16:50] buskamuza commented on #1051
@ktomk , thanks for the response. So, as I understand, you have a module "ktmok/module-a", which depends on Magento 2 core module "magento/module-catalog" and you want in your Magento installation to make dependency (require) to your module "ktmok/module-a" in Composer configuration.
I'm not sure why you can't do it. Or maybe you have different example.
In your module "ktmok/module-a" you add requ

[2015-10-13 18:09] Lewiscowles1986 commented on #2101
Hi @mazhalai :smile:

It's an enhancement so that resource locking will not affect the backup for large sites.

It's also not a requirement, just an enhancement idea that would be nice if there is time. To be honest it's the least valuable of the enhancements listed, supporting formatted strings for backups and having scheduled backups are much more important.

[2015-10-13 18:51] Zatara7 commented on #2056
Is this the part that wasn't being translated? @amenk If so, then it still hasn't been fixed because this is the latest develop and we still need to fix it. If it isn't the part you're talking about then could you please point out how to get there?
Also, if it's been fixed in develop then please use develop for now until the next release when we merge everything to master.

![screen shot 2015-10-1

[2015-10-13 19:00] amenk commented on #2056
I did not followup this. But I checked the js-translate.json and it looked good. I can currently use develop, because I use composer and do not want to mess with that process at the moment. I hope there will soon be another composer release?

[2015-10-13 19:05] Zatara7 commented on #2056
@amenk Yes there is going to be a release soon. But could you please confirm if my screenshot is looking at the correct place in the frontend where you were having this issue?

[2015-10-13 19:09] amenk commented on #2056
Should roughly be the correct place. But I am using the blank theme and I think there is no such popup.

[2015-10-13 19:10] Zatara7 commented on #2056
Okay let me switch themes and try again

[2015-10-13 19:12] Zatara7 commented on #2056
Popup still there with the new theme. We'll get the translation fixed for the popup. Thanks

[2015-10-13 19:18] ktomk commented on #1051
Thanks for the feedback of you two and thanks for your concrete examples, it would require me to bring one up, too, which I currently am not able to due to time constraints. Also I don't want to hijack this older issue, so it's then perhaps better placed in an issue of it's own. I'm also glad to see your commitment.

[2015-10-13 19:20] buskamuza commented on #1051
Thanks, @ktomk . Feel free to post a new ticket with your use case.

[2015-10-13 20:02] WelliSolutions opened #2106 "Is the hash function slow enough?"
The code for creating a hash uses a salt, but as far as I can see, it applies the SHA256 algorithm only once. Is that slow enough or should this be repeated a few times?

    public function getHash($password, $salt = false)
    {
        if ($salt === false) {
            return $this->hash($password);
        }
        if ($salt === true) {
            $salt = self::DEFAULT_SALT_LENGTH;

[2015-10-14 02:24] piotrekkaminski commented on #1926
internal issue MAGETWO-44048

[2015-10-14 02:27] piotrekkaminski commented on #1905
internal issue MAGETWO-44049

[2015-10-14 02:28] piotrekkaminski commented on #1965
@kirillkorovkin Please reopen this issue if the proposed solution does not work for you.

[2015-10-14 02:28] #1965 closed

[2015-10-14 02:35] piotrekkaminski commented on #1936
Internal issue MAGETWO-44051

@danielc1234 do you know approximately how much time you had to wait for it to happen? Did you experience lost session (ie lost cart contents or were logged out)?

[2015-10-14 02:42] danielc1234 commented on #1936
Seemed to happen immediately. That was a while back, so can't remember exactly. I am waiting for some more development before updating and working with 2.0

[2015-10-14 02:43] piotrekkaminski commented on #1951
internal Issue ID MAGETWO-44053

[2015-10-14 02:47] piotrekkaminski commented on #1952
internal issue MAGETWO-44054

[2015-10-14 02:47] piotrekkaminski commented on #1953
internal issue MAGETWO-44054

[2015-10-14 02:48] piotrekkaminski commented on #1971
internal issue MAGETWO-44055

[2015-10-14 02:50] piotrekkaminski commented on #1947
@comunidademagento can you try now? Which branch did you try (development branch could be temporarily broken). Please reopen if you still have this issue and provide more information like PHP version

[2015-10-14 02:50] #1947 closed

[2015-10-14 02:55] piotrekkaminski commented on #1975
This was fixed and should be published soon.

[2015-10-14 02:55] #1975 closed

[2015-10-14 02:56] piotrekkaminski commented on #1984
@LifeAsBook can you provide more information what were you trying to do and specific issue you have problems with?

[2015-10-14 02:57] piotrekkaminski commented on #1968
Closing as no recent comments.

[2015-10-14 02:57] #1968 closed

[2015-10-14 03:23] piotrekkaminski commented on #1962
internal issue MAGETWO-44057

[2015-10-14 03:25] cfcnn commented on #2080
@xcomSteveJohnson's suggestion is not working. I think I might find the solution, I need more time to test, I'll update later.

[2015-10-14 03:26] piotrekkaminski commented on #1986
@okorshenko can you look at the provided code?

[2015-10-14 03:38] piotrekkaminski commented on #1924
@MaxYaroshenko @asemenenko can I close this issue?

[2015-10-14 03:54] piotrekkaminski commented on #2013
internal issue MAGETWO-44058

[2015-10-14 03:58] piotrekkaminski commented on #2021
internal issue MAGETWO-44059

[2015-10-14 04:00] johnbendi commented on #2098
`bin/magento module:uninstall` doesn't handle the case where a module is not installed with composer.

Sample output:
[code]

[2015-10-14 04:01] piotrekkaminski commented on #2033
@choukalos FYI

internal issue MAGETWO-44060

[2015-10-14 04:05] piotrekkaminski commented on #1788
@tkacheva can you look into it?

[2015-10-14 04:05] johnbendi commented on #2100
Follow the instructions here for your nginx setup:
https://firebearstudio.com/blog/magento-2-nginx-configuration.html

That's a starting point you may need to update it to with more recent settings that you can find on the web.

[2015-10-14 04:06] piotrekkaminski commented on #2098
@tanya-soroka please review

[2015-10-14 04:08] piotrekkaminski commented on #2104
@tkacheva can you look into it?

[2015-10-14 04:09] piotrekkaminski commented on #2103
@antonkril  can you look into this and decide on priority?

[2015-10-14 04:13] johnbendi opened #2107 "PHP message: PHP Fatal error: Call to a member function getValue() on boolean in"
I get this error when I try to load the magento2 home page. I also attached a screenshot of how home page looks like when it renders with this error situation:

[code]
![magento2home](https://cloud.githubusercontent.com/assets/1025834/10474773/d996d16e-7232-11e5-8331-159d8756484c.png)

[2015-10-14 04:15] #1901 closed

[2015-10-14 04:18] piotrekkaminski commented on #2097
internal issue MAGETWO-44061

[2015-10-14 04:20] piotrekkaminski commented on #2089
internal issue MAGETWO-44062

[2015-10-14 05:08] alankent commented on #2098
Does your module have a composer.json file?  You should always have a composer.json file, even when not installed via composer.

[2015-10-14 05:29] johnbendi commented on #2098
@alankent the module didn't have a `composer.json`. I included it and it made no difference since if you are not installing via composer you would only have to do module:enable. After adding `composer.json` and disabling module, it is still listed in `setup_module` table.

[2015-10-14 06:03] dfediuk commented on #1984
Here is my code to add a custom attribute to the customers: https://mage2.pro/t/118
It work nice.

[2015-10-14 06:09] dfediuk commented on #1743
Looks like the same as https://github.com/magento/magento2/issues/1926

[2015-10-14 06:14] dfediuk commented on #2076
This is not an error. This is a system message to administrator.
Looks like you did not work with Magento 1.x.

[2015-10-14 06:32] dfediuk commented on #1660
For now a custom extension can reside in the `vendor` folder but it does not work for translation packages because the system looks for them in `app/i18n` folder.

[2015-10-14 06:53] CRYX2 commented on #2104
+1 for this improvement

[2015-10-14 07:00] Vinai commented on #1293
Hi @vladimir-k , trying to test the changes in the sample data.
To add the develop branch as a requirement, I've done the following in the Magento install:
1. `git checkout develop`
2. `git pull origin develop`
3. Set `minimum-stability` to `dev` in the Magento `composer.json` file.
4. `composer require magento/sample-data:dev-develop`

Expected result: installation of the sample data package, dev

[2015-10-14 07:30] quynhvv commented on #1293
Hi Vinai Kopp,

There isn't a sample data with dev-develop version come from Magento.
You can see this at : http://packages.magento.com/

Regards,

On Wed, Oct 14, 2015 at 2:00 PM, Vinai Kopp <notifications@github.com>
wrote:

--

Best regards, Quynh Vu Van.
<http://www.magentocommerce.com/certification/directory/dev/1639183/>
-------------------------------------------
Skype:  quynh.vv
Mobile:  0

[2015-10-14 07:35] antonkril commented on #2103
It's low priority, but we should create static test to catch such cases. They allow unreliable implementations of extensions and make instantiation of such classes bit slower.

[2015-10-14 07:37] tzyganu commented on #1644
@piotrekkaminski This looks like it's fixed now. Thank you for this. I will close the issue now.

[2015-10-14 07:37] #1644 closed

[2015-10-14 07:40] Vinai commented on #2070
Same issue here. No custom module involved. Current develop branch.

[2015-10-14 08:31] antonkril commented on #1986
Class is declared abstract, so php should not trigger this error. Does it still reproduce?

By the way, creating abstract controller for group of controllers in module is bad practice (especially if that controller only receives some arguments).

[2015-10-14 10:07] orlangur commented on #2106
It's a big surprise to me that having PHP 5.5 as a minimum required version Magento 2 does not use the [new hashing API](https://wiki.php.net/rfc/password_hash).

After looking into http://www.php.net/manual/en/function.password-hash.php:

The salt option has been deprecated as of PHP 7.0.0. It is now preferred to simply use the salt that is generated by default.

I believe contemporary answer to

[2015-10-14 10:20] sunilit42 opened #2108 "Trying to upgrade version but getting error"
Hello,
i am trying to upgrade version but getting below error:
 Class Magento\Customer\Model\Resource\Address\Attribute\Collection does not exist

[2015-10-14 10:27] orlangur commented on #2108
There was a backward-incompatible change which require re-install with clean DB, see https://github.com/magento/magento2/issues/2072#issuecomment-146909469 for more details.

[2015-10-14 11:38] daim2k5 commented on #1293
I had the same issues this morning. The solution is:

https://maxyek.wordpress.com/2015/09/15/magento-2-branches-composer-packages-and-sample-data/

At the bottom "...In order to provide sample data for developers, who are using develop branch and latest code via github, we have opened sample date code and published in into github sample data repo. In Readme.MD file there is complete instruction h

[2015-10-14 11:43] Vinai commented on #1293
@quynhvv The `dev-` prefix tells composer to use look for a branch name with whatever comes after the `dev-` prefix. So `dev-develop` tells composer to use the `develop` branch instead of a tagged version (see https://getcomposer.org/doc/02-libraries.md#branches)

[2015-10-14 11:48] daim2k5 commented on #1293
"Don't install it using composer, just run the cli command"

[2015-10-14 12:11] orlangur commented on #1293
@Vinai, as there is no `dev-master` release on http://packages.magento.com/#magento/sample-data, the only way to obtain sample data from `dev-develop` branch is to specify its repository explicitly in `composer.json`: http://vvv.tobiassjosten.net/php/have-composer-use-development-branches/

I see `dev-master` release available for Magento packages on Packagist though: https://packagist.org/package

[2015-10-14 12:23] bojjaiah opened #2109 "Duplicate values binding in system configuration in Magento 2"
In my module have customer (Create and Update) setup system configuration. From that I have stored some values and it's saved (table `core_config_data`) correctly.

And Rendering also correctly but displaying duplicate i.e., displaying last setup values. see screen shot & logs below.

**Create Setup Log**

`Array
(
    [0] => Array
        (
            [element] => Magento 1
            [field] =

[2015-10-14 12:59] Vinai commented on #1293
Arg! Not using composer - wouldn't have guessed, and was in too much of a rush to read the blog post! Thanks @daim2k5, just goes to show it is good to take time to read the links you post I guess.

[2015-10-14 13:28] cfcnn commented on #2080
My tests were based on VMware 11, Centos 6.7 , nginx 1.8.0 & 1.9.0, php 5.5.25, 5.5.30,5.6.9, 5.6.14, mysql 5.6, mariadb 10.0.17, 10.0.21. No matter under what combination, it occurs the same error.  All Magento2 installations failed even I kept changing the values of Centos, nginx, php.ini, my.cnf .

Magento 2 was installed successfully in production environment.

I have no idea what the problem

[2015-10-14 13:40] orlangur commented on #2080
@cfcnn, this problem does not seem to be env-specific.

Do you try clean Magento 2 installation or there are some additional modules? With latest `develop`, cleaned up `var/*` and database, executed `composer install` in advance does it show the same result now?

[2015-10-14 13:45] orlangur commented on #2080
Hmmm, very interesting, there is quite old similar issue also: #462 So, could be something related to PHP Reflection behavior differences.

[2015-10-14 14:17] cfcnn commented on #2080
In order to keep all procedures pure, I reinstalled Centos, nginx, php, mysql,magento2.
Every magento2 installation was  cloned by "git clone -b master git@github.com:magento/magento2.git" , it's supposed to be the latest version.
Before installation,  the var/* directory is checked and confirmed clean,

The production environment : centos 6.4, nginx 1.8.0, php 5.6.14, mariadb 10.0.21.
I zip the m

[2015-10-14 14:44] orlangur commented on #2080
I see. Don't know what else could be done here except debugging the code in action.

https://github.com/zendframework/zend-code/blob/3da502f243df7a189b9c1cfc70a96944ef111957/src/Generator/ClassGenerator.php#L751
So, with xdebug breakpoints or some additional temporary `var_dump`s needs to be tracked all `$this-->methods` property modifications during generation, to see, how the `offsetUnset` passe

[2015-10-14 14:58] buskamuza commented on #2080
Hi @cfcnn .
Could you, please, provide your `phpinfo()`/`php -i`? Thanks.

[2015-10-14 15:03] mazhalai commented on #2107
@johnbendi Can you please specify your environment, what mode magento runs in. Also The red boxes on your screen shot show up because you have profiling turned on.

[2015-10-14 15:06] mazhalai commented on #2070
@johnbendi can you please try solutions mentioned by @orlangur and @Vinai

[2015-10-14 15:25] cfcnn commented on #2080
https://mega.nz/#!rUJQnZoQ!5qLAaO_F8VG_MfVwpa0BPFWDZBNj9H0qL-dzSW9gUGQ

[2015-10-14 15:57] markoshust opened #2110 "replace less with stylus"
I understand the reasoning behind picking less over sass. It made sense. However, if the files were converted to stylus, it would provide the ability to use many other css code styles for development (indentation, brackets vs no brackets, eliminating semicolons, etc.), as well as pick up a lot of additional math functions & additional functionality. I think this update would be very welcomed by th

[2015-10-14 16:17] markoshust commented on #1765
This now seems to be fixed in develop

[2015-10-14 16:17] #1765 closed

[2015-10-14 16:18] markoshust commented on #1764
This appears to be fixed now in develop

[2015-10-14 16:18] #1764 closed

[2015-10-14 16:18] orlangur commented on #2110
The main reasoning to prefer Less over Sass for Magento 2 was existence of PHP pre-processor.

Is https://github.com/AustP/Stylus.php (or any other PHP pre-processor for Stylus, if it exists) production ready?

[2015-10-14 16:23] markoshust commented on #2110
Can you provide a sample area of where PHP is pre-processing Less? That sounds like an area that would better be handled in the nodejs build/dev process (grunt/gulp) rather than PHP, in which case we have access to the npm package. We should never be doing preprocessing in production as that should always work with just the post-processed css files.

[2015-10-14 16:39] pboisvert commented on #1921
comment makes sense (label is not helpful) but also low priority overall

[2015-10-14 16:42] orlangur commented on #2110
Why? Such pre-processing is now possible due to usage of LessPHP library. It was decided to not make `nodejs` a mandatory dependency at some point.

I personally suggested to use more flexible solution which allows both NodeJS-based/PHP-only variants:
https://github.com/kriswallsmith/assetic/blob/master/src/Assetic/Filter/StylusFilter.php
https://github.com/kriswallsmith/assetic/blob/master/src/As

[2015-10-14 17:16] alankent commented on #2110
We are unlikely to release 2.0 with Less, then immediately switch to a different preprocessor that we officially support as core. However, I believe the pipeline is pluggable - you can register other converters in addition. I recall that someone had hooked up Sass that way (??). I would suggest tracking that down to copy from it. (We probably don't document how to plug into the pipeline, but the c

[2015-10-14 17:21] tanya-soroka commented on #335
@sverdier  the features has been implemented. Do you agree to close this ticket?

[2015-10-14 17:24] robert198222 commented on #335
yes

From: Tanya Soroka [mailto:notifications@github.com]
Sent: den 14 oktober 2015 19:22
To: magento/magento2 <magento2@noreply.github.com>
Cc: robert198222 <robert198222@hotmail.com>
Subject: Re: [magento2] Simple Configurable Products (#335)

@sverdier <https://github.com/sverdier>  the features has been implemented. Do you agree to close this ticket?

—
Reply to this email directly or view it

[2015-10-14 17:34] alankent commented on #2098
Hmmm. I am going to have to leave this one for the developers working in this area. The code looks like it is checking two sources to work out if module is known - I don't the subtleties of how it works. @mazhalai .

[2015-10-14 18:02] dougkm commented on #1967
@tkacheva - Can you take a look at this issue?

[2015-10-14 18:09] dougkm commented on #1514
@vpelipenko - Is there an internal Jira ticket for this issue?

[2015-10-14 18:10] dougkm commented on #1500
@tkacheva - Please take a look at this issue

[2015-10-14 18:25] dougkm commented on #1361
@buskamuza - Has this issue been resolved?

[2015-10-14 18:28] RawPhunky opened #2111 "Current dev branch: static content deploy gives error: Undefined offset: 2>"
Installed current dev branch on Windows XAMPP.
Trying to deploy static content or set mage mode to production give error Undefined offset: 2>

None admin or front page works...

![image](https://cloud.githubusercontent.com/assets/2244332/10493413/ac17f7b8-72b9-11e5-9877-430395fc6440.png)

![image](https://cloud.githubusercontent.com/assets/2244332/10493548/73f9f98e-72ba-11e5-9fd7-3f2eb1e1220a.png)

[2015-10-14 18:41] johnbendi commented on #2070
@mazhalai It will take a while before I get around to this issue. I'm currently updating to latest develop and getting dfferent issues. I'll report progress when I get to use this command again.

[2015-10-14 18:43] tanya-soroka commented on #2108
@sunilit42 thank you for reporting the issues. Could you please confirm that recommendation from the #2072 help you?

[2015-10-14 18:49] johnbendi commented on #2107
@mazhalai I'm on ubuntu, nginx, php 5.6 and magento is running in developer mode. And yes the red boxes are intentionally turned on me.

[2015-10-14 18:53] vnagara commented on #1361
@buskamuza For me it has been resolved. Some one show me good command to clean up all caches. It's resolved this stopping. Don't remember exact but smth lile: rm cache/* (here should be list of temporary dirs).

[2015-10-14 19:00] tanya-soroka commented on #2099
@arunkasyakar  thanks for reporting the issue. Internal ticket has been created MAGETWO-44070.

[2015-10-14 19:07] mazhalai commented on #2098
@johnbendi `module:uninstall` is intended to be used only if you are absolutely certain it wont be used any longer. However, other modules may have dependencies on the module that is to be removed. Hence we use `composer remove`, which calculates dependencies, to remove code of the module from the file system.
In module enable/disable, the code is never removed from the filesystem, so that it can

[2015-10-14 19:09] amenk opened #2112 "Allow installation of GitHub branches via Composer"
Please allow installation from the GitHub repository via Composer

Benefits:

* enables installation of arbitrary branches, for example dev-develop
* enables installation of any forks via Composer aliasing
* allows `composer install --prefer-source` with having access to the Git -> So it is easier to create Pull Requests

[2015-10-14 19:11] amenk commented on #1981
I updated my PR #1982 and I am more happy with it now :) - please have a look

[2015-10-14 19:22] buskamuza commented on #2080
Thanks. Could you, please, try to disable opcache and see if it helps?

[2015-10-14 19:35] acharrex commented on #1964
Thanks a lot for your feedback!

[2015-10-14 19:41] mazhalai commented on #2111
@RawPhunky did you have a previous instance and you have updated to the latest code? Did you run `composer update` after getting the latest code?

[2015-10-14 19:43] mazhalai commented on #2107
@johnbendi thanks for the update. One more question, do you have sample data installed?

[2015-10-14 20:02] mazhalai commented on #2107
@johnbendi we have created MAGETWO-44074 to investigate and fix.

[2015-10-14 20:04] buskamuza commented on #1361
`rm var/*` can be helpful.

[2015-10-14 20:13] tanya-soroka commented on #1978
Internal ticket has been created MAGETWO-44070.

[2015-10-14 20:13] tanya-soroka commented on #2073
Internal ticket has been created MAGETWO-44070.

[2015-10-14 20:20] buskamuza commented on #1660
@dfediuk , could you, please, point to the code that searches in `app/i18n`? Thanks.

[2015-10-14 20:22] tanya-soroka commented on #2060
@markoshust Thank you for the report. Would you like to provide a pull request to change this?

[2015-10-14 20:25] tanya-soroka commented on #2050
@tapantechno2007 did you get any error ( see the previous comment form Vlad)? Could you please share with us it?

[2015-10-14 20:37] buskamuza commented on #815
@jebaraj253 , do you still have this issue?
Could you, please, clarify what means "the process will not complete"? Do you wait for a long time and nothing happens or it stops with some error?
I would assume that it can be a timeout, especially, if you have xDebug enabled (it may slow-down the application significantly).
Or there may happen some error, which is not displayed by the wizard.

I'd sug

[2015-10-14 20:52] markoshust commented on #2110
@orlangur It seems really awkward to do pre-processing on production, and it seems very inefficient. You're left with a visitor on the site who will wind up 'hanging' on a page reload while the pre-processing is taking effect (this is why a lot of the site 'crawlers' started showing up to prime the site after a deployment -- I never liked that). It's much more efficient to preprocess the files in

[2015-10-14 20:54] markoshust commented on #2060
@daim2k5 has the hot hands :)

[2015-10-14 21:06] tanya-soroka commented on #2017
@dfediuk we are using one template for few product types: configurable, downloadable, virtual and simple. So if you won't provide the correct infroamiton for the configurable ( like configuration option), system will identify this product as a simple.

Could you please confirm that you have setup configuration list and after saving the product still become as a simple product?

[2015-10-14 21:07] tanya-soroka commented on #2015
@dfediuk , This issue should be fixed in new versions. We will verify it.

[2015-10-14 21:12] mazhalai commented on #2111
@RawPhunky we do have a fix for it in ticket MAGETWO-43774. As a temporary solution you can replace line 51 with `self::$paths[$type][$componentName] = str_replace('\\', '/', $path);`  in  https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Component/ComponentRegistrar.php#L51

[2015-10-14 21:26] maksek commented on #2078
hi @amenk, the packages are increment patches/fixes for Merchant Beta program release.
Basically it is separate branch starting 1.0.0-beta, and targeted only for Merchant Beta program team. Develop branch is much more ahead, and developers must use it for development. We didn't publish the merchant_beta branch yet, due it will be deprecated after GA. But we may publish it just for reference.

[2015-10-14 21:39] xcomSteveJohnson commented on #1361
@vnagara You can also look at a general reference: http://devdocs.magento.com/guides/v2.0/howdoi/php/php_clear-dirs.html

[2015-10-14 21:40] mazhalai commented on #1761
@jclyons52 can you please try temporary fix provided here https://github.com/magento/magento2/issues/2005#issuecomment-145916079 to see if it solves your problem

[2015-10-14 21:47] alankent commented on #2110
I believe it can all be done with bin/magento today. (If not, we have a bug.) Grunt was because it was brought up by frontend developers that our CLI approach was too clunky - they wanted file watchers to regenerate whenever a file is saved - no manual steps. (It might also be faster?)  So grunt is useful, not mandatory.

Regarding preprocessing before being pushed to production, yes we need to su

[2015-10-14 21:50] piotrekkaminski commented on #1751
We are closing this issue as there are no new comments. If you still experience this issue, please create a new issue.

[2015-10-14 21:50] #1751 closed

[2015-10-15 00:15] markoshust commented on #2110
How does one execute the php equiv of the `grunt refresh`? A sample installation didn't render correctly until I ran that. Perhaps it was just an older version. I like the preprocessor plugin route, makes things more declarative on needs.

Lmk if you want me to create another ticket for preprocessing before deployment. This would greatly help in standardizing a recommended deployment process.

[2015-10-15 00:15] #2110 closed

[2015-10-15 00:17] choukalos commented on #1700
Tagging Forum and sharing with our marketing org via email.

[2015-10-15 00:31] licentia opened #2115 "Save Paypal fee Amount for transaction"
Magento should save the fee charged by Paypal for the transaction. This is very useful when trying to calculate Customer Equity & LTV. We have precise values and not approximate ones.

Check this doc: https://developer.paypal.com/docs/classic/api/merchant/GetTransactionDetails_API_Operation_NVP/ and the FEEAMT field.

FEEAMT should be added to the

[code]
in
[code]
And stored in the

[2015-10-15 01:08] alankent commented on #2112
Hi. We have thought about this a number of times internally, but the only way I know how to achieve this is to have one repository per module (per composer package). We are not going to do this for now. Have a read of http://alankent.me/2015/10/02/magento-2-version-numbering-update/ for more information.

The problem is Composer assumes one repo per composer package. Magento modules don't follow t

[2015-10-15 01:13] lepe commented on #2106
Agree. Perhaps using PBKDF-2 or bcrypt instead of SHA256?

[2015-10-15 01:31] LifeAsBook commented on #1984
@dfediuk @piotrekkaminski  this bug on 1.0.0 beat master

[2015-10-15 05:31] kandy commented on #2112
Maybe best way to improve developer experience is improve composer and add support of multi module repository

[2015-10-15 06:22] jebaraj253 commented on #815
Hi  buskamuza,

                     I found the solution,  Thanks for your reply

[2015-10-15 06:24] sunilit42 commented on #2108
every time drop table not possible, you need to make some script for that

[2015-10-15 07:08] thomasnordkvist opened #2116 "[Suggestion] REST API: Consistent naming of search parameters"
It would be nice if all rest call parameters to \Magento\Framework\Api\SearchCriteria would be named the same in all places.

Right now it's searchCriteria[][][][][] in some places and criteria[][][][][] on others.

After a quick (not complete) check it seems like criteria is used in the sales module, and the rest of the places use searchCriteria.

/Thomas

[2015-10-15 07:57] thomasnordkvist commented on #1573
@robert198222 , @tkacheva , @choukalos , @ilol

This would be a good feature for us.

It's common for B2B merchants to want to sneak in a fee for some kind of handling.

And also adding a fee if total cart is below some amount/quantity is quite common,
often used to compensate for orders with small values/quantities.

/Thomas

[2015-10-15 08:52] antonkril commented on #2106
We're looking at it. I will let you know when we have solution.

[2015-10-15 09:04] craigcarnell opened #2117 "Feature Request - Take payment by instalment"
Hi,

It would be useful to add an option to pay for a product by instalments.

For example, you could pay for a product at £200 over 4 months at £50 a month. A cron script would have to run to take those payments.

As we are a EE customer I wouldn't be against this being a EE feature.

[2015-10-15 09:26] cfcnn commented on #2080
I disabled opcache before you told, it didn't help.
The file phpinfo.txt is what I used in both test environment and production environment.
Just now I test based on php 7.0.0RC4, in docroot, execute "composer install", error occurs:

Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Your requirements could not be resolved to an i

[2015-10-15 09:28] bojjaiah commented on #2109
@magento-team If different section it's working fine. If both groups are same section columns id should be different then it will be working fine otherwise it's not working.

Is it a bug?

[2015-10-15 09:51] SidneyBilliet opened #2118 "Mincicart show 1 product but cart is empty"
I tested this on Magento ver. 1.0.0-beta
1. I logged in to my account
2. I added 1 product to the cart
3. I went to the checkout
3. I refreshed the browser on checkout on step 2 (review & payments)
4. I was redirected tot the shopping cart (stating that the shopping cart is empty) but the mnicart is still showing 1 item in the basket (see screenshot).

Note that this problem doesn't occur every ti

[2015-10-15 10:06] amenk commented on #2112
What would be so wrong about splitting the repo up to it's modules?
Then also there would be separate issue trackers and every thing is well ordered.
There could be proper git tags per composer version.

There still could be a main repo to gather not yet categorized issues.

The splitting should be possible using git filter-branch retaining the commit data.

The splitting could be done with the co

[2015-10-15 10:16] Vinai commented on #2112
Having modules in separate repositories adds quite a bit of management overhead in my experiences.
For example, assume we are refactoring the `\Magento\Framework\App\ActionInterface`.
If all implementations are in the project, PHPStorm can easily do most signature changes. If the modules are in separate repositories, things get more complicated. If all modules are checked out under vendor, it woul

[2015-10-15 10:18] victorgugo commented on #1958
Hello, @SasiKiranK .
Thank you for reporting the issue. We created interal MAGETWO-44095 to resolve the problem

[2015-10-15 10:38] daim2k5 commented on #2112
@Vinai :+1:

[2015-10-15 11:16] amenk commented on #2112
PhpStorm actually has pretty good multi-git functionalities.

[2015-10-15 11:26] Vinai commented on #2112
I have to admit I might be totally talking out of my backend here, as I really have no idea about the internal processes of the core team. The above are just a bunch of assumptions based on past projects with a multitude of clients.
I haven't found PHPStorm can properly take into account all business requirements in regards to multi-git projects, but of course I might be totally mistaken there, to

[2015-10-15 11:30] orlangur commented on #2112
@alankent,

It's pretty easy.

@amenk,

Unnecessary overhead as to me, at least till the moment Magento 2 will consist of loosely coupled components.

@Vinai,

No overhead at all if done properly. Currently there is a lot of overhead already with separate CE/EE/zf1/sample-data/etc repos. It could be avoided.

### Solution
There is no need to reinvent the wheel. [Git subtree](http://stackoverflow.c

[2015-10-15 11:53] Vinai commented on #2112
Thanks @orlangur, I haven't thought or having read only repositories using `git subtree`. That makes it a lot easier.
From a quick try, the master and the develop branches have to be split independently for each module and both have to be pulled into the new repository for each module.
The whole process would have to be automated so that the module repositories are updated on each push.
I would co

[2015-10-15 11:59] guz-anton commented on #1936
Hi @danielc1234,
Issue not reproducible any more: we eliminate use of `lib/web/gallery.js` mentioned in issue.

Fill free to reopen issue in case it is still reproducible on fresh mainline.

[2015-10-15 11:59] #1936 closed

[2015-10-15 12:22] amenk commented on #2112
Sounds very interesting. Why do the branches have to be split separately? How do Symfony and Send handle this?

[2015-10-15 12:22] SidneyBilliet opened #2119 "Checkout as guest Intraunion Tax calculation"
Tested on Magento ver. 1.0.0-beta

For intra union tax EU regulation I have enabled Automatic Assignment to Customer Group
Default group = Retailer
Group for Valid VAT ID - Intra-Union =  Valid VAT Customer group

I have two tax rules
Tax Rule 1: Customer With VAT 21 = Customer tax class: Customer with VAT and Product Tax class = taxable goods
Tax rule 2: Retail Customer 21 = Customer tax class: R

[2015-10-15 12:33] Vinai commented on #2112
I didn't spend a lot of time on it, but it looks like git subtree extracts a folder of the current branch into a new branch. So for example "take `app/code/Magento/Theme` and put only those files into the new branch `magento-module-theme`. That new branch only seems to include the commits of the one branch from which I made the split.
After splitting both the master and develop into `module-master

[2015-10-15 12:38] orlangur commented on #2112
Yes, initial preparation will require some cycle of work. After that any push to main repository to whatever branch is just reflected in dependent component repositories.

[2015-10-15 12:55] amenk commented on #2112
I pinged @fabpot on twitter https://twitter.com/s3lf/status/654641466317369344 - maybe Magento could just use the Symfony script?

[2015-10-15 12:55] oshanrube opened #2120 "sample data installation guide is out of date"
i was following the guide given [here](http://devdocs.magento.com/guides/v2.0/install-gde/install/sample-data.html). but it seems to be out of date for 2 reasons
* installing the wizard does not install the sample data
* theres no such command `sampledata:install admin` and `sampledata:deploy` loads non-existing repos such as `magento/module-downloadable-sample-data`. which are shown [here](http:/

[2015-10-15 13:26] xcomSteveJohnson commented on #2120
Thanks for letting us know. From the standpoint of documentation, we're aware of this. If you follow us on Twitter, we'll announce when the instructions are updated.

[2015-10-15 13:37] mazhalai commented on #2080
@cfcnn some package's composer's were not updated. We are working on it. Can you tell us which exact package gave this error?

[2015-10-15 13:46] Lewiscowles1986 commented on #2100
https://gist.github.com/Lewiscowles1986/f68dbf82b532838a76ed

It already is working... I was not reporting a problem using, I was proposing an enhancement to simplify the folder structure :wink:

[2015-10-15 14:24] kalenjordan commented on #1700
Thanks @choukalos !

[2015-10-15 14:47] krlecarp commented on #1700
My 2 cents.  What about having the community fund it through
crowdfunding "spend $10/$50/xx now get $50/$100/xxx later" credit on
the new connect.  Managing and distributing the funds fairly could be
tricky, but if Magento backed and promoted concept it would reduce their
out of pocket for the suggested compensation and it would push M2 exposure,
new connect exposure, and push extension developmen

[2015-10-15 14:56] mazhalai commented on #2119
@SidneyBilliet Thank you for reporting, we have created a ticket for it: MAGETWO-44122

[2015-10-15 15:42] dsikkema commented on #1520
@dfediuk can you try with the latest code? It might have already been fixed by now.

[2015-10-15 15:55] ivanweiler commented on #2111
Same problem here on Win, posted fix did the trick, thx.

[2015-10-15 16:37] alankent commented on #2112
We have been looking at what other projects do, and we may do it at some time. We have also discussed the one repo vs many a number of times internally. It is just not on the short term roadmap - we are going to get to GA, get a bit more practical experience, then move on once we have more feedback. There is lots of other stuff to do in the mean time.

So this is not "no", just "not yet".

[2015-10-15 16:40] choukalos commented on #2116
Logged as bug, Internal ticket:  MAGETWO-44134

[2015-10-15 16:45] kost08 opened #2121 "Category Layered Filter Issue"
When you search for something, using sample data for example, a '**bag**' no category filters are displayed. That happens because category filters are only rendered if Category in `$categories` has no children categories. In [`Magento\CatalogSearch\Model\Layer\Filter\Category`](https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogSearch/Model/Layer/Filter/Category.php) in `::_g

[2015-10-15 16:59] adragus-inviqa opened #2122 ""Api" folder as the module gateway"
I just wanted to clarify if I'm going against M2's convention regarding the `Api` folder here.

The [docs](http://devdocs.magento.com/guides/v2.0/extension-dev-guide/module-file-structure.html) say that the `Api` folder `contains any PHP classes exposed to the API`.

Mainly, this folder has interfaces in it, which is a good thing.

But currently I'm experimenting with this folder as being a sort o

[2015-10-15 17:09] choukalos commented on #2095
Hey Olena can you share some insight with @acharrex on our near term CMS improvements?

[2015-10-15 17:53] amenk commented on #2112
Alright then. Thanks for the productive discussion.

[2015-10-15 17:56] alankent commented on #2122
The goal of the Api directory is to list service contracts. Service contracts are interface definitions.  (At one stage it was called "Services", but it got renamed - we won't rename it back.)

At the moment, our convention is to put @api annotations only anything that others should be able to depend on. I would rather not mix that into the Api directory. We hit issues like plugins - if we want to

[2015-10-15 18:04] guz-anton commented on #1999
Hi Rafael,
 1. As about storing info in DOM:
   - using `class` or even `id` is the worth decision that could be
   - using `data-*` attribute is make more sense. But.. It has limited number of usecases.
 2. From JS side you can access to any data that originated mentioned markup. Try in browser console on Products grid inside Admin area:
[code]
You can find that when we talk about some **cell** i

[2015-10-15 18:04] #1999 closed

[2015-10-15 18:17] sydekumf opened #2123 "Backend Catalog: Change status of products does not work"
It is not the same as https://github.com/magento/magento2/issues/1559
Because the fix is already in there and I am on the develop branch.

If you click on "Change status", nothing happens. There is some javascript being executed in tree-massactions.js, but I don't know what does not work there.

[2015-10-15 19:05] antonkril commented on #2122
We don't have another standard directory for non-service api.

Also we avoid making implementations public because modules should only communicate by interfaces, Implementations should be private to discourage inheritance from implementations.

[2015-10-15 19:22] adragus-inviqa commented on #2122
Thanks for clarifying. Interfaces in `Api`, and `@api` for everything else (hopefully none).

[2015-10-15 19:22] #2122 closed

[2015-10-16 03:16] markoshust commented on #2060
still need to update the main page titles for each page

[2015-10-16 06:53] MageArray opened #2125 "After Successful installation Admin stuck to login box without fields"
i have successfully installed magento2 on my local server. also i have tried with another system too but it shows just white box in admin and no fields to login in to admin as well.

here is screenshots.
Back End:
![image](https://cloud.githubusercontent.com/assets/15083969/10535446/a72207a6-7400-11e5-8afd-ee284b4e0ed9.png)

Front End:
![image](https://cloud.githubusercontent.com/assets/15083969/1

[2015-10-16 07:48] dfediuk commented on #2125
It is broken from the past Friday.
https://github.com/magento/magento2/issues/2077

[2015-10-16 07:52] asemenenko commented on #2115
Hi @bvboas

Are you building reporting solely on data in Magento? The reason i ask is the fact that you can query PayPal as a master data for this information using *PayPal Transaction Detail Report* that provides accurate state of all transactions and fee associated with them in the desired period of time while Magento may not have all transactions (say you initiated reference transaction on PayP

[2015-10-16 09:07] zanilee commented on #2084
Hello, @restaurantsupply!
I can't reproduce it, could yo please provide steps to reproduce?

[2015-10-16 10:27] Manashvi opened #2126 "error while setup:upgrade"
I downloaded the stable magento version from here https://github.com/magento/magento2/archive/master.zip.

Now the issue comes when i try to update the setup after installing a module.
I am trying to upgrade the setup from the magento root directory using :-
php/bin magento setup:upgrade

But i get this error
Autoload error: An abstract factory could not create an instance of magentosetup
consolec

[2015-10-16 11:10] jahvi commented on #2104
:+1:

[2015-10-16 11:11] sunilit42 commented on #2125
Download master version and check it.

[2015-10-16 11:13] Vinai commented on #2126
Did you run `composer install` after unpacking the ZIP archive?

[2015-10-16 11:18] Manashvi commented on #2126
Yes i had. Now when i run `composer install` from the magento root folder. i get below issue :

Warning: This development build of composer is over 60 days old. It is recommend
ed to update it by running "C:\ProgramData\ComposerSetup\bin\composer.phar self-
update" to get the latest version.

  [RuntimeException]
  The lock file does not contain require-dev information, run install with th
  e --n

[2015-10-16 11:24] Vinai commented on #2126
I would suggest updating composer as the message says and then trying again with with `update` instead of install.
I must admit, so far I have never installed using the ZIP archive download, only a git clone or the repository, but I guess it should work the same.

[2015-10-16 11:30] Manashvi commented on #2126
can you suggest how to update composer ?

[2015-10-16 13:25] Vinai commented on #2126
`composer self-update`
See https://getcomposer.org/doc/03-cli.md#self-update

[2015-10-16 13:25] mazhalai commented on #2126
@Manashvi `composer self-update`

[2015-10-16 13:28] mazhalai commented on #2125
@MageArray do you have any errors on browser? Can you please give more details about your environment? Also, what mode are you operating in?

[2015-10-16 13:49] Manashvi commented on #2126
i have updated the composer successfully.! still the same issue continues. PS i would like to mention here that i tried to disable a module and then this error occured,

[2015-10-16 13:56] Vinai commented on #2126
How long ago did you download the ZIP from github?