[2021-10-18 14:50] #34259 closed, assigned to engcom-Lima

[2021-10-18 21:03] salehawal opened #34373 "Calling and initializing JavaScript | '0' is not a valid selector : lib/web/mage/apply/scripts.js@processElems"
### Preconditions (*)

1. magento 2.4
2. a new module with added script lines in *.phtml template file

### Steps to reproduce (*)

0- read : https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_init.html
1. open : app/code/Magento/Customer/view/frontend/templates/form/register.phtml
2. add the below code at the end of the file:
 <script type="text/x-magento-init">
    $('#fi

[2021-10-18 21:06] github-jira-sync-bot opened #34374 "Update pelago/emogrifier to v6.x"
Currently Magento depends on

"pelago/emogrifier": "^5.0.0",

 which does not support PHP8.1. Support of PHP8.1 added in v6.x

 

AC:
* upgrade constrain in composer.json to install pelago/emogrifier  v6.x
* make related changes in magento codebase if needed
* verify with PHP7.4 and PHP8.0(manual & automated tests)

[2021-10-18 21:44] edward-simpson opened #34375 "Unable to create credit note, "Please enter positive number in this field." validation error for adjustment fields"
### Preconditions (*)

1. M2.4.3
2. Order with online or offline payment, and invoice

### Steps to reproduce (*)

1. Navigate to invoice, create credit note
2. Refund Shipping, Adjustment refund, Adjustment fee all 0

### Expected result (*)

1. Credit memo gets created successfully

### Actual result (*)

1. Unable to submit credit note, each of the above fields gets a validation error "Please e

[2021-10-18 21:55] github-jira-sync-bot opened #34376 "Check codebase compatibility with PHP 8.1 using static checks"
In order to better understand scope of changes required for PHP8.1 support in magento we need to run static check\tests

 

To Do
* Use latest available PHP8.1 build or docker image with required extensions
* Include Inventory, PageBuilder, SecurityPackage, Adobe Stock, Adobe IMS
* Add PHP8.1 to root composer.json (for tests only. Not need to be delivered)
* Attempt to install dependencies using l

[2021-10-18 22:04] github-jira-sync-bot opened #34377 "Check codebase compatibility with PHP 8.1 using unit tests"
In order to better understand scope of changes required for PHP8.1 support in magento we need to run static check\tests

 

To Do
* Use latest available PHP8.1 build or docker image with required extensions
* Include Inventory, PageBuilder, SecurityPackage, Adobe Stock, Adobe IMS
* Add PHP8.1 to root composer.json (for tests only. Not need to be delivered)
* Attempt to install dependencies using l

[2021-10-18 22:05] xmav commented on #34358
Please use value from nginx.conf.sample for max_execution_time in .htaccess

[2021-10-18 22:09] xmav commented on #34377
depends on
https://github.com/magento/magento2/issues/34374
https://github.com/magento/magento2/issues/34356

[2021-10-19 00:18] github-jira-sync-bot opened #34378 "Fix failed MFTF test"
StorefrontPOWorkflowVerifyApprovalFlowTabTest constantly fails in B2B suite with PHP8.0
[code]

[2021-10-19 01:34] #34214 closed, assigned to konarshankar07

[2021-10-19 01:34] #34242 closed, assigned to konarshankar07

[2021-10-19 03:40] engcom-Echo commented on #27559
@mflott The issue has been resolved on **2.4-develop** branch.

Thank you!

[2021-10-19 04:59] emson-softound opened #34379 "Issue with upgrading magento v 2.2.0 to v 2.4.3 via composer"
### Preconditions (*)

1. Magento Version 2.2.0
2. Composer 2.1.9
3. PHP version 7.4.24
4. Mysql-Server 8.0.26
4. Os - Ubuntu Server 20.04 LTS

### Steps to reproduce (*)

**Trying to upgrade magento 2.2.0 directly to 2.4.3 with the following set of commands,**

-   su magento  #(login as non root-linux user)
-   php bin/magento ma:e
-   composer require magento/composer-root-update-plugin=~1.0 --

[2021-10-19 05:07] #34244 closed, assigned to engcom-Lima

[2021-10-19 05:09] #34227 closed, assigned to engcom-Lima

[2021-10-19 05:49] chandru-199 commented on #34363
@magento I am working on this

[2021-10-19 07:04] KiranLankapalli commented on #3879
Hi,
Not displaying the customer name and welcome message when open hambuger menu.
Module Amasty_MegamenuLite:web/template/components/header.html

`<p class="ammenu-menu-header"
   data-bind="
        style: {
            background: color_settings.category_hover_color
        },
        scope: 'customer'">

        <span class="ammenu-message -welcome" data-bind="i18n: 'Welcome'"></span>
        <

[2021-10-19 07:08] wahidnory commented on #27450
Will get back to you on this.

[2021-10-19 07:12] engcom-Alfa commented on #33401
Since there is a PR active, and the given steps are also good enough to reproduce, we have to reproduce it. Hence re-opened the issue

[2021-10-19 07:28] Morgy93 opened #34380 "Warning: A non-numeric value encountered in vendor/magento/module-checkout/Controller/Sidebar/UpdateItemQty.php on line 69"
### Preconditions (*)

Magento 2.4.3

### Steps to reproduce (*)

1. Open https://domain.com/checkout/sidebar/updateItemQty/?item_qty=error
2. See 500 error

### Expected result (*)

No 500 error

### Actual result (*)

`Warning: A non-numeric value encountered in /vendor/magento/module-checkout/Controller/Sidebar/UpdateItemQty.php on line 69`

---
Please provide [Severity](https://devdocs.magento

[2021-10-19 07:35] Morgy93 commented on #34380
Works flawless: https://154f4b7285936dc3490238c6f0d5b01d-2-4-develop.instances.magento-community.engineering/checkout/sidebar/updateItemQty/?item_qty=error

Reproduced in latest 2.4-develop

[2021-10-19 07:35] #34345 closed, assigned to engcom-November

[2021-10-19 08:24] emiliatereanu commented on #33749
@magento give me 2.4-develop instance

[2021-10-19 11:13] cena4438 opened #34382 "about us and customer service not show as active issue"
about us and customer Service not show as active issue

### Preconditions (*)
1.Magento 2.4

### Steps to reproduce (*)
1. Open the About Us or Customer Service page
2. Check the footer links which is not active

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)
It should show as active as pr the Privacy and Cookie Policy cms pages links
![image](https://user

[2021-10-19 11:15] #34382 closed, assigned to krishprakash

[2021-10-19 11:25] ihor-sviziev commented on #34373
@salehawal, you merged the declarative and imperative declaration of the js.
You can read about it here: https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_init.html#init_script

[2021-10-19 11:25] m2-assistant opened #34383 "[Issue] [MFTF] AdminApplyTierPriceToProductTest refactoring"
This issue is automatically created based on existing pull request: magento/magento2#33406: [MFTF] AdminApplyTierPriceToProductTest refactoring

---------
This PR is to refactor AdminApplyTierPriceToProductTest according to the best practices

[2021-10-19 11:31] engcom-November commented on #34320
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
Steps performed:
Created Cart Price Rule for Guest User - No Coupon , Priority: 2
Condition: If subtotal greater than 699 and less than 1399
Action: Fixed Amount Discount for Whole Cart
Discount Amount : $100
Created another Cart Price Rule for Guest User - Specific Coupon - 10OFF , Priority 1, Condition: If catego

[2021-10-19 11:45] m2-assistant[bot] opened #34384 "[Issue] Improve cls pdp screen"
This issue is automatically created based on existing pull request: magento/magento2#33265: Improve cls pdp screen

---------

### Description (*)

Some improvements on details page. Try to reduce as much as possible for CLS layout. Previously this page layout become shift when page loading or being initialized
### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<i

[2021-10-19 12:00] m2-assistant opened #34385 "[Issue] Reduce async console logger"
This issue is automatically created based on existing pull request: magento/magento2#33850: Reduce async console logger

---------

### Description (*)

Draft test
path
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Ui/view/base/web/js/lib/logger/console-logger.js
Out of curiousity do we actually need log always load at all page? Should have config allow we on/off load this

[2021-10-19 12:37] engcom-Delta commented on #34304
Hi @PromInc ,
We have tested this issue on Magento 2.4 Develop latest branch , observed comments ordered by created_at and entity_id.
Kindly review once.
![comments_Order](https://user-images.githubusercontent.com/51681379/137910373-daafbcee-d4a0-4ee4-9cde-7f841f6105f0.JPG)
![comments_History](https://user-images.githubusercontent.com/51681379/137910548-86f8d7e1-3f13-4633-bf25-89b5b9d1b7cf.JPG)

[2021-10-19 12:38] tuyennn opened #34386 "Messages from customerData should be unique before displaying to frontside"
### Preconditions (*)

1. Magento 2.4.x
2.

### Steps to reproduce (*)

1. Try to do something could show message to frontside as an ajax function for multiple times, actually same action for multiple times
2. Observe the messages on frontend

### Expected result (*)

1. Same Messages should not be duplicated, should be unique and be displayed as 1 message if they are duplicated
2.

### Actual res

[2021-10-19 13:37] spignataro commented on #31109
So will this ever become a thing? I have to continually update the di.xml to support 10.5 mariaDB. Would love to have this fixed.

[2021-10-19 14:07] #33856 closed, assigned to ihor-sviziev

[2021-10-19 14:43] pdeboolw commented on #34371
[Error 84711 Invalid customer address id.docx](https://github.com/magento/magento2/files/7374249/Error.84711.Invalid.customer.address.id.docx)

I don't know why you got that error.  The other thing to note is that even though the order never got to the Confirm Purchase page, the order still went through.  It also still shows that it is in the cart.

[2021-10-19 15:12] denis-zyk opened #34390 "Dependency version audit plugin doesn't respect locked versions (magento/composer-dependency-version-audit-plugin)"
### Preconditions (*)

1. PHP 7.4
2. Magento 2.4.3-p1
3. composer v1
4. magento/composer-dependency-version-audit-plugin 0.1.1
4. Some dependency available in both private and public package repositories (e.g. `shipperhq/module-shipper`), where public repo version is higher than private repo version (e.g. `20.45.6` vs. `20.45.5`)

### Steps to reproduce (*)

1. Lock module in question to a specifi

[2021-10-19 18:17] shikhamis11 commented on #34266
@cpartica

[2021-10-19 19:49] bjornmeat commented on #34334
@nadroj467 Can it be that the set beresp.grace  Varnish grace took effect during your upgrade, and then served stale content?

[2021-10-19 20:27] pmonosolo commented on #31007
Having the same issue with "leasing" URL. Even though I have deleted the URL rewrite from the list, the URL still works and I am still unable to save the page.

Its really strange that this thing happens. This is a bug, NOT a feature.

[2021-10-20 03:14] KZNcode commented on #34348
Yup... Tested and verified functional...

************************************

*****

Roman Zhalybin (Customer Care Team)
Oct 18, 2021 12:06 PM
Hello,

Sorry for the trouble you have.

We have fixed this issue and released the new 1.0.21 version of the Order Management extension. Please update the extension.

best regards,
Roman
Bad
Ok
Great
Maria Antoshkiv (Customer Care Team)
Oct 18, 2021 10:26

[2021-10-20 07:23] Danish34 opened #34391 "SometimesGetting Blank/Incomplete shipping addresses in admin when order placed in Magento 2.3.3"
### Preconditions (*)
    Magento 2.3.3

### Steps to reproduce (*)
1. Add product to cart.
2. Place Order.

### Expected result (*)
1. Shipping address should be collected by Magento either in order tables or quote tables.
2. In admin order view, shipping address should complete & available.

### Actual result (*)
1. Sometimes Shipping Address empty/incomplete .
2. Order tables & quote tables hav

[2021-10-20 08:12] engcom-Delta commented on #26960
We have noticed that this issue has not been updated for 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-10-20 08:12] #26960 closed, assigned to engcom-Delta

[2021-10-20 08:14] engcom-Delta commented on #34222
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-10-20 08:14] #34222 closed, assigned to engcom-Delta

[2021-10-20 08:14] #34218 closed, assigned to engcom-Delta

[2021-10-20 08:20] #34250 closed, assigned to engcom-Delta

[2021-10-20 08:31] engcom-Delta commented on #34268
We have noticed that this issue has not been updated for 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-10-20 08:31] #34268 closed, assigned to engcom-Delta

[2021-10-20 08:32] #34267 closed, assigned to engcom-Delta

[2021-10-20 09:01] miguelangeloalmeida commented on #11262
@MagestyApps Thank you! This solution worked.

[2021-10-20 10:34] TysvdHeuvel opened #34393 "Adding an image via REST API throws 'The product can't be saved'."
This is something which worked perfectly well with all previous versions of Magento we and our customers have used.
Our software allows ERP systems to create products in Magento and to add images as well.
We are simply posting an entry to the /products/SKU/media API endpoint. This has worked until we now upgraded to 2.4.3.
I have also tested this on multiple fresh instances of Magento 2.4.3. But w

[2021-10-20 10:54] engcom-Lima commented on #33674
Hi @DaddyDomi,

Looks like you got the fix based on your approach. But since this is deprecated functionality and there is an alternate way to achieve this, we are closing this issue. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-10-20 10:54] #33674 closed, assigned to engcom-Lima

[2021-10-20 11:17] ihor-sviziev commented on #34373
Hi @salehawal,
If you still have some questions - feel free to ask them at https://magento.stackexchange.com/.
I'm closing this as not an issue

[2021-10-20 11:17] #34373 closed, assigned to ihor-sviziev

[2021-10-20 11:51] TysvdHeuvel commented on #34393
Thank you for processing this so quickly!

[2021-10-20 11:58] engcom-Lima commented on #34324
Hi @Green2Matter,

You have to Enable “trust this device” option from Admin Panel. I am able to add trusted device as expected. Please check Docs [here](https://docs.magento.com/user-guide/v2.3/stores/security-two-factor-authentication.html) for doing it correctly.

If you are still facing same issue, can you please provide more detailed 'Steps to reproduce' for same so that I can try and reproduc

[2021-10-20 12:39] Danish34 commented on #34391
Issue is on Magento 2.3.3

**Steps to reproduce :**

1. Go to the store front.
2. Add products to the shopping cart.
3. Proceed to checkout as a guest.
4. Fill in your shipping address, choose shipping options, and continue to secure payment.
5. Double check that you see the shipping address in the Ship to section.
7. Refresh the page.

[2021-10-20 15:31] DmitryFurs opened #34394 "migrateDataFromAnotherTable() does not work for declarative schema"
### Preconditions
1. Magneto Community Edition 2.4.3-p1

### Steps to reproduce
1. Create a table using a declarative schema
2. run setup:upgrade
3. Add rows to the created table
4. Rename the table using migrateDataFromAnotherTable() in the declarative schema
5. run setup:upgrade again

### Expected result
1. Table with a new name has been created
2. Data from the table with the previous name is

[2021-10-20 20:12] karyna-tsymbal-atwix commented on #34374
@magento I am working on this

[2021-10-20 20:56] JamesFX2 commented on #33965
Yeah, I just put a plugin on Magento\Catalog\Model\Product

[code]

[2021-10-21 02:16] #34358 closed, assigned to SilinMykola

[2021-10-21 02:58] #34056 closed, assigned to SilinMykola, karyna-t

[2021-10-21 03:24] live4soccer7 commented on #26840
This appears to not be fixed in 2.4.3-p1. I still have this issue with a default magento checkout.

![image](https://user-images.githubusercontent.com/62921422/138206188-f1fb4100-3a4b-4eb3-b90d-ac6a9243f69e.png)

[2021-10-21 05:09] chequille commented on #28092
Little bit confused now!!!!
Just made a few orders on my site with firefox and did not get the error anymore.
My firefox is version 93.0
Could it be tht firefox changed something?

[2021-10-21 06:11] engcom-Delta commented on #34077
We have noticed that this issue has been resolved So  we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-10-21 06:11] #34077 closed, assigned to engcom-Delta

[2021-10-21 06:12] engcom-Hotel commented on #33479
Hello @Meberem,

We request you to please try to reproduce the issue in Magento 2.4-develop branch and let us know if you are able to reproduce it in the same.

Thanks

[2021-10-21 06:32] hostep commented on #31656
It looks like Adobe is planning to move to [Opensearch](https://www.opensearch.org/) according to [the roadmap](https://devdocs.magento.com/release/roadmap.html) they released yesterday.

[2021-10-21 07:58] baljinderimpinge opened #34395 "Some categories and products urls giving 404 error"
1. Magento CE 2.4.0  and has 372 categories and 13k products
2) Staging site url: https://stage.mcfeelys.com/
3) Frontend Access details:
tgrote@mcfeelys.com
CarafeWandTiarasBetted

Steps to reproduce
Please open this url and then click on first subcategory (CABINET SCREWS)
https://stage.mcfeelys.com/screw-fastener-web-store/shop-screws-by-application.html

Expected result:
Category page should be

[2021-10-21 09:28] bgorski opened #34397 "Changing customer email changes that customer's orders with CUSTOM emails."
When you create an order for a registered customer, the email field comes pre-filled with that customer's email. Usually you won't change it when creating the order. Then, if it turns out that the customer calls the customer service and wants to change their email (maybe there was a typo when they registered, maybe they use a different email now etc.), it can be done on the customer edit page. It

[2021-10-21 09:55] engcom-Hotel commented on #34220
Hello @Revengance1024,

We have tried to reproduce the issue on Magento 2.4-develop, but we are getting another error, not the same you are getting. Please have a look at the below screenshot:
![error](https://user-images.githubusercontent.com/51681618/138254632-fad23d10-c068-40b3-a3a2-d4363240abc9.jpg)

Please find attached the custom module, we have made in order to reproduce the issue:
[Magz_Co

[2021-10-21 10:03] draper87 opened #34398 "Bulk API requests endpoint "rest/all/async/bulk/V1/products/bySku/media" fail due to Magento\Framework\Webapi\ServiceInputProcessor::process() error"
### Preconditions (*)
1. Magento 2.4.3 (works as expected on 2.4.2)

### Steps to reproduce (*)
With previous version of Magento (2.4.2) to import images we used to call the bulk endpoint here below mentioned. It used to return the bulk result as shown down here on expected result. Now, with Magento 2.4.3, when we try to call the API endpoint, Magento return an exception, like the one shown on Act

[2021-10-21 10:51] onlinebizsoft commented on #13225
Sometime we get empty minify JS cached on cloudfront (path is located at /pub/static/_cache) so ideally deploy-static process should build these ready

[2021-10-21 11:40] hostep commented on #32252
@ihor-sviziev: could you remove the label "progress: PR in progress" again? I think the automation accidentaly added it just because I referenced this issue from [a PR](https://github.com/magento/magento2/pull/34361) that doesn't solve this.

[2021-10-21 11:43] denis-zyk commented on #31351
Just to double check with you guys - the fix for GraphQL translations hasn't been integrated yet to any of Magento versions, correct? If so, then we'll stick with patching approach using the proposed code changes from @rikwillems comment.

[2021-10-21 12:42] cena4438 opened #34401 "Show/hide editor and insert veriable seems mismatch"
Show/hide editor and insert veriable seems mismatch

### Preconditions (*)

1. Magento 2.4
2.

### Steps to reproduce (*)

1. Admin - Newsletters templates - add new
2. Click show/hide editor

### Expected result (*)
![image](https://user-images.githubusercontent.com/92792212/138278276-583fe475-bf8b-4f40-b6d3-18338e24c3fe.png)

### Actual result (*)
![image](https://user-images.githubusercontent.c

[2021-10-21 12:44] engcom-Bravo commented on #33826
@speedupmate Can you please help us from where billing address with missing street fields is added.
As street field is required field.
<img width="780" alt="Screenshot 2021-10-21 at 6 11 21 PM" src="https://user-images.githubusercontent.com/51680745/138279785-526da0e9-a6bb-492b-8c36-ff9c700d13fe.png">

[2021-10-21 13:23] engcom-Hotel commented on #34035
Hello @giedriusmarkevicius,

We have tried to reproduce the issue in Magento 2.4-develop branch with the Stripe payment method. But we are unable to reproduce the same.

Can you please tell us which payment method you have used when you get this issue?

Thanks

[2021-10-21 13:24] engcom-Hotel commented on #34158
@magento give me 2.4-develop instance

[2021-10-21 13:44] kkhebbar89 opened #34402 "User can place duplicate orders using Paypal Express Checkout"
1. Magento Version 2.4.3
2. Paypal Express Checkout

Steps to reproduce:
1. Add a product to cart and proceed to checkout
2. In Checkout select "Paypal Express Checkout", click "Paypal" button, proceed with Paypal Login and click pay now.
3. Paypal window closes and user can once again click on "Paypal" button and repeat the step 2 and place multiple duplicate orders.

Expected result
1. If the ab

[2021-10-21 13:59] engcom-Hotel commented on #34158
Hello @ia-gaurav,

We have checked this issue on the cloud instance, but we are unable to reproduce the issue. The issue you mentioned in the description is not visible on both desktop and mobile reports. Please have a look at the below screenshot:
**Desktop**
![Desktop-1](https://user-images.githubusercontent.com/51681618/138291277-c432a08b-2a90-4ba8-bb8a-ec8cc6386d7c.png)
![Desktop-2](https://us

[2021-10-21 15:06] #34063 closed, assigned to vovsky

[2021-10-21 15:06] #33900 closed, assigned to ihor-sviziev

[2021-10-21 15:06] #33843 closed, assigned to gowrizrh

[2021-10-21 15:06] #34166 closed, assigned to nobody

[2021-10-21 15:06] #32636 closed, assigned to bgorski

[2021-10-21 15:06] #23156 closed, assigned to engcom-Charlie

[2021-10-21 15:06] #33809 closed, assigned to kirmorozov

[2021-10-21 15:10] HenKun opened #34404 "Click Handler executes on Initialize instead of on Click"
https://github.com/magento/magento2/blob/ac88ad9d5642d7d634fa802ff53bd3dfcc14d95b/app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html#L60

The click handler must be given as anonymous function:

[code]

In the current implementation the `closeMinicart` function is executed as soon as the element gets initialized.

[2021-10-21 15:12] HenKun opened #34405 "Minicart is closed on element initialization instead of on element click"
https://github.com/magento/magento2/blob/ac88ad9d5642d7d634fa802ff53bd3dfcc14d95b/app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html#L60

# Summary of the issue
In the current implementation the `closeMinicart` function is executed as soon as the "Proceed Checkout Button" gets initialized, instead of when it is clicked.

# Information on your environment
Magento 2.4.1, but

[2021-10-21 15:13] #34404 closed, assigned to nobody

[2021-10-21 15:17] live4soccer7 commented on #26840
I have bypassed varnish as well for checkout. I thought maybe it was a caching issue, but the cookie issue still persists.

[2021-10-21 20:37] lilbumblebear opened #34406 "AddProductsToCart with File Upload Custom Option"
*As a merchant I want to allow customers to upload an image with a product so that it can be customized.*

### AC
* When you upload an image this should be passed as a base64 encoded string to the server
* Server should save the file
* Custom option should be saved for the cart item

### Approved Schema
* ?

[2021-10-21 21:19] #34378 closed, assigned to andrewbess, SilinMykola, anzin

[2021-10-22 05:15] #34216 closed, assigned to engcom-Lima

[2021-10-22 07:14] #34276 closed, assigned to ajijshekh123, engcom-Hotel

[2021-10-22 07:17] #30128 closed, assigned to engcom-Hotel

[2021-10-22 07:21] andrewbess opened #34407 "Check compatibility with PHP 8.1"
### Description (*)

We need to check compatibility of the codebase with PHP 8.1 according to RFC provided below
- [ ] [Disable autovivification on false](https://wiki.php.net/rfc/autovivification_false)
- [ ] [Pure intersection types](https://wiki.php.net/rfc/pure-intersection-types)
- [ ] [Add IntlDatePatternGenerator](https://wiki.php.net/rfc/intldatetimepatterngenerator)
- [ ] [Deprecate impli

[2021-10-22 11:44] #34200 closed, assigned to engcom-Lima

[2021-10-22 15:06] #34374 closed, assigned to anzin, karyna-t

[2021-10-22 15:12] #34348 closed, assigned to nobody

[2021-10-22 18:44] #34356 closed, assigned to andrewbess

[2021-10-22 21:03] NicholasRoge opened #34411 "TypeError when loading UPS shipping rates if no allowed shipping methods selected"
### Preconditions (*)

1. Magento version 2.4.3
2. Admin - Stores - Configuration - Sales - Shipping Methods - UPS shipping method is set up with no "Allowed Methods" selected
3. cache clear
4. Front end - Login as customer - Add a product to Cart
5. Proceed to checkout - Enter Shipping Address
Issue: No other shipping methods are displayed and error is displayed on UI. Unable to proceed with paym

[2021-10-22 22:48] Thelatinlabel opened #34412 "Paypal Payment issue"
I am trying to make a payment with PayPal and place the order, at the link paypal/express/placeOrder/ is showing me this issue:

Uncaught TypeError: Argument 2 passed to Magento\InventorySales\Plugin\Sales\OrderManagement\AppendReservationsAfterOrderPlacementPlugin::afterPlace() must implement interface Magento\Sales\Api\Data\OrderInterface, null given, called in ...

This is the code on line 119:

[2021-10-23 13:48] mrlerch opened #34413 "M 2.4.3-p1 - TypeError: htmlspecialchars() expects parameter 1 to be string, null given in vendor/magento/framework/Escaper.php:417"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Debian GNU/Linux 9.13 (stretch)
PHP 7.4.24, 5.7.34
MySQL Community Server
Server version: Apache/2.4.25 (Debian)
Server built:   2021-10-02T13:27:55

### Steps to reproduce (*)

1. Magento Store Frontend: add an item to the cart
2. Log in to a Magento customer account profile
3. Go to Shopping Cart page as logged in customer

### Expected result (*)

1

[2021-10-23 15:03] #32991 closed, assigned to DmitryTsymbal

[2021-10-23 15:03] #33783 closed, assigned to kate-kyzyma

[2021-10-23 15:03] #34316 closed, assigned to kate-kyzyma

[2021-10-24 04:26] #33788 closed, assigned to kate-kyzyma

[2021-10-24 04:26] #31379 closed, assigned to mrtuvn

[2021-10-24 04:26] #30828 closed, assigned to nobody

[2021-10-24 04:26] #31019 closed, assigned to dani97

[2021-10-24 04:26] #33773 closed, assigned to Usik2203

[2021-10-24 04:26] #33774 closed, assigned to kate-kyzyma

[2021-10-24 04:26] #33144 closed, assigned to DrJohnM

[2021-10-24 04:26] #32615 closed, assigned to khrystynastolbova

[2021-10-24 04:26] #33984 closed, assigned to jasperzeinstra

[2021-10-24 04:26] #30948 closed, assigned to nige-one

[2021-10-24 04:27] #25076 closed, assigned to fredden

[2021-10-24 04:27] #29258 closed, assigned to fredden

[2021-10-24 11:56] m2-assistant[bot] opened #34414 "[Issue] Replace repetitive actions with Action Groups in AdminCreateDuplicateCategoryTest and AdminCreateDuplicateProductTest"
This issue is automatically created based on existing pull request: magento/magento2#34410: Replace repetitive actions with Action Groups in AdminCreateDuplicateCategoryTest and AdminCreateDuplicateProductTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Tests are refactored according to the best practices followed by MFTF.

### Manual testing scenario

[2021-10-24 18:11] simonmaass opened #34415 "M 2.4.3-p1 - TypeError in AdminSessionsManager.php:338 (strtotime() expects parameter 1 to be string, int given)"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. When I try to login with SSO...

### Expected result (*)

1. Login works

### Actual result (*)

[code]

magento2/app/code/Magento/Security/Model/AdminSessionsManager.php

[code]

In this file the line https://github.com/magento/magento2/compare/2.4.3...2.4.3-p1#diff-24fbc4a93c8c25f9ee036f3bf353c3dfca22ee7ff35d0797b6d1c1d7d

[2021-10-25 00:18] live4soccer7 commented on #26377
@salehawal Do you have cookie restriction mode enabled? I do not and I am wondering if maybe that needs to be enabled for the cookies to have the proper attributes assigned.

[2021-10-25 05:02] #34286 closed, assigned to engcom-Lima

[2021-10-25 10:01] #34398 closed, assigned to engcom-Delta

[2021-10-25 10:29] timpea opened #34416 "Admin - place order for out of stock product"
### Description (*)
Add the ability to place Admin orders for out of stock products.

### Expected behavior (*)
Setting in configuration that allows Admin orders the ability to place an order for an out of stock product.

### Benefits
The current work around is:
1. Change the Product Stock Status from "Out Of Stock" to "In Stock",
2. Place an order in the Admin for the product,
3. Change the Produ

[2021-10-25 13:04] mohanwbsofttech opened #34417 "not able to add product to admin order"
after updating magento from 2.4.2 to 2.4.3 using manually file uplode we found that when we are creating order in admin when we select the product and click on button to add selected product to order the product is not adding into the order. Also the add product button is disappear after this.

[2021-10-25 13:13] #34417 closed, assigned to krishprakash

[2021-10-25 14:10] minhluan259 opened #34420 "Pagebuider encode html"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

1. Add a new CMS block/page
2. Add HTML code in PageBuilder and Save
`<h2>text</h2>`
3. Check table cms_block / cms_page in database:
The content was encoded to:
`<div data-content-type="html" data-appearance="default" data-element="main">&lt;h2&gt;text&lt;/h2&gt;</div>`
4. Disable all Magento Pagebuider modules and use default t

[2021-10-25 14:25] trunglv opened #34421 "Magento-2.4.3- Backorders – Add to cart button does not show"
### Preconditions (*)
Magento 2.4.3

### Steps to reproduce (*)

1.
2.

### Expected result (*)
A product has is_saleable’s value is TRUE and Add to cart button is shown on a product page

### Actual result (*)
I can’t see a button “Add into cart” on a frontend. A product has is_saleable’s value is FALSE

It may be a bug and another problem: There is an inconsistency that a class reference for int

[2021-10-25 15:29] m2-assistant[bot] opened #34422 "[Issue] Replace repetitive actions with Action Groups in CreateProductAttributeEntityWithReservedKeysTest"
This issue is automatically created based on existing pull request: magento/magento2#34419: Replace repetitive actions with Action Groups in CreateProductAttributeEntityWithReservedKeysTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Tests are refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
Run test local

[2021-10-25 21:23] flashtechusa opened #34424 "I am having almost the exact same issue in 2.4.3 when an order i being place in the admin order area, if the stored payment method is selected then we get the "Order saving error: Public hash should be defined""
I am having almost the exact same issue in 2.4.3  when an order i being place in the admin order area, if the stored payment method is selected then we get the "Order saving error: Public hash should be defined"

If i login as the customer on the front end the stored payment method works.

_Originally posted by @flashtechusa in https://github.com/magento/magento2/issues/32943#issuecomment-95134317

[2021-10-25 22:35] github-jira-sync-bot opened #34426 "Update Third Party library: jquery.parsequery"
* Update Third Party library: lib/web/jquery/jquery.parsequery
* Check which is the latest version available and replace the current one.

[2021-10-25 22:36] github-jira-sync-bot opened #34427 "Update Third Party library: jquery.cookie"
* Update Third Party library: lib/web/jquery/jquery.cookie
* Confirm that it is used across Magento (adminhtml/frontend)
* Check which is the latest version available and replace the current one.

## Related issues
[Migrate to new js cookie](https://github.com/magento/magento2/issues/33477)

[2021-10-25 22:36] github-jira-sync-bot opened #34428 "Update Third Party library: jquery-ui-timepicker-addon"
* Update Third Party library: lib/web/jquery/jquery-ui-timepicker-addon
* Confirm that is used across Magento (adminhtml/frontend)
* Check which is the latest version available and replace the current one.

[2021-10-26 02:50] manhtranisobar opened #34429 "Import Scheduler run multiple times when use more web nodes"
### Preconditions (*)

1.Magento 2.4.1
2.PHP 7.4
3.Setup 2 web nodes and enable cronjob for both

### Steps to reproduce (*)

1.On the Admin sidebar, go to System > Data Transfer > Scheduled Import/Export.
2.Add a daily Scheduled Import for Advanced Pricing at 01:02

### Expected result (*)

1. Import scheduler run one times at 01:02
2. Received one email if import file does not exist

### Actual

[2021-10-26 05:44] in-session opened #34430 "tailwindui css layout support - colon is not accepted by the pattern"
I would like to use tailwindui for a project, but unfortunately it is currently not possible because no colon is allowed within the htmlClass.

[code]

`
<referenceContainer name="header-wrapper" htmlClass="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl" htmlId="header" />
`

`Element 'referenceContainer', attribute 'htmlClass': [facet 'pattern'] The value 'page-wrappe

[2021-10-26 05:53] alikhani97 opened #34431 "Issue: Magento import limited to 100 records"
Hi, It's been two weeks since I'm facing `Registry key "movement_data" already exists` error while importing a csv file greater than 100 records. My Entity type is Products and import behavior is Add/Update. there wasn't any problem before and I don't know how to debug this error or where should I look for solution. I'd be appreciated for your help.

### Preconditions (*)

1. Magento ver. 2.3.5-p2

[2021-10-26 06:28] m2-assistant[bot] opened #34432 "[Issue] [MFTF] AdminAddBundleItemsTest refactoring"
This issue is automatically created based on existing pull request: magento/magento2#33526: [MFTF] AdminAddBundleItemsTest refactoring

---------
This PR is to refactor AdminAddBundleItemsTest according to the best practices

[2021-10-26 06:35] m2-assistant opened #34433 "[Issue] Add integration test to prove #28387 issue"
This issue is automatically created based on existing pull request: magento/magento2#34339: Add integration test to prove #28387 issue

---------

### Description (*)

This PR just adds an integration test that to prove pretense of  #28387 issue:
**AUTO_INCREMENT grows on every INSERT ... ON DUPLICATE on InnoDB tables**

[code]

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes m

[2021-10-26 06:45] m2-assistant[bot] opened #34434 "[Issue] Don't try to update with an empty price"
This issue is automatically created based on existing pull request: magento/magento2#34403: Don't try to update with an empty price

---------
When trying to update a product price according to the tier price, skip the product update when no tier price is found.
### Description (*)
When no tier price was found the system still tried to update the price with an object of
[code]
This caused configur

[2021-10-26 06:56] m2-assistant[bot] opened #34435 "[Issue] Replace repetitive actions with Action Groups in AdminSimpleProductSetEditContentTest,AdminCreateAndEditSimpleProductSettingsTest, AdminCreateAndEditVirtualProductSettingsTest and AdminConfigurableProductBulkUpdateTest"
This issue is automatically created based on existing pull request: magento/magento2#34302: Replace repetitive actions with Action Groups in AdminSimpleProductSetEditContentTest,AdminCreateAndEditSimpleProductSettingsTest, AdminCreateAndEditVirtualProductSettingsTest and AdminConfigurableProductBulkUpdateTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant

[2021-10-26 07:11] m2-assistant[bot] opened #34436 "[Issue] Fix to take the real customer store id when subscriber is created fro…"
This issue is automatically created based on existing pull request: magento/magento2#33219: Fix to take the real customer store id when subscriber is created fro…

---------
…m API

### Description (*)
When subscribers are created via customer API call, they are saved with always with the default store_id, eaven if in the customer API call' data the store_id is specified.
The fix uses the real cus

[2021-10-26 08:00] #33065 closed, assigned to engcom-Alfa

[2021-10-26 08:05] ghost opened #34437 "\Magento\Catalog\Model\CategoryList::getList gets cached objects if iterating over stores"
### Preconditions (*)

1. Magento 2.4.2 - community

### Steps to reproduce (*)

1. Iterate over stores like so: `foreach ($this->storeManagerInterface->getStores() as $store) {`
2. Set the active store in store manager or emulate
3. Load a list of categories by \Magento\Catalog\Model\CategoryList::getList for each store
4. Echo/output an attribute value that differs on store views - e.g. name.

#

[2021-10-26 08:18] #34235 closed, assigned to engcom-Hotel

[2021-10-26 08:19] #34275 closed, assigned to engcom-Hotel

[2021-10-26 09:07] #33816 closed, assigned to engcom-Hotel

[2021-10-26 10:29] abidhasanpintu opened #34438 "Catalog price rule not applying when product price is zero but custom option has price"
### Preconditions (*)

1. Magento 2.4.2 - community

### Steps to reproduce (*)

1. Create a product: Set product price zero($0.00). Create Customizable Option by dropdown field. Add an option with any price. For example $100.00
2. Create a catalog price rule.(Marketing - Catalog Price Rule) Set apply as percentage of original and  set discount amount to 50.00. Save and apply

### Expected result

[2021-10-26 11:51] m2-assistant[bot] opened #34439 "[Issue] Fix method signature"
This issue is automatically created based on existing pull request: magento/magento2#33859: Fix method signature

---------
### Description

`curl_setopt` accepts `mixed` as value. I get an invalid type when calling these methods in the `Magento\Framework\HTTP\Client\Curl`:

[code]

### Manual testing scenarios

1. Run psalm/phpstan against a class that calls `Magento\Framework\HTTP\Client\Curl::s

[2021-10-26 12:00] m2-assistant[bot] opened #34440 "[Issue] Enforce array type in DesignTheme config processor"
This issue is automatically created based on existing pull request: magento/magento2#34092: Enforce array type in DesignTheme config processor

---------

### Description (*)

Without the type check, an empty config node like `<my_store />` in a `config.xml` breaks installation, as `null` is passed to the private method.

### Related Pull Requests

none

### Fixed Issues (if relevant)

none (can b

[2021-10-26 12:07] #34336 closed, assigned to engcom-Delta

[2021-10-26 13:15] karyna-t opened #34441 "Fix Unit tests to be compatible with PHP8.1"
Fix Unit tests to be compatible with the upcoming PHP 8.1 release.
Need to run all unit tests on PHP8.1 environment and fix all issues (e.g. problems with Deprecation)

### Expected result (*)
Unit Tests build is green on PHP 7.4, 8.0, and 8.1 environments
Magento related issues fixed on PHP 8.1

### Actual result (*)
Errors and failures on PHP 8.1. env

[2021-10-26 15:03] nbennett25 opened #34443 "setIsPickupLocationActive() method not found"
### Preconditions (*)

1. Magento 2.4.2-p2

### Steps to reproduce (*)

1. Open store page, or

1. Go to pdp, add product to cart

### Expected result (*)

1. Store loads, or

1. Product is added to cart

### Actual result (*)

1. Store does not load, or

1. Product is not added to cart

Technical notes:
Multiple MSI modules are calling `setIsPickupLocationActive()` which is not defined. Stack tra

[2021-10-26 15:17] #33445 closed, assigned to iGerchak

[2021-10-26 15:19] #31428 closed, assigned to nobody

[2021-10-26 15:21] #33673 closed, assigned to nobody

[2021-10-26 20:47] brudev opened #34448 "Missing product_id on is_salable filter for wishlist"
### Preconditions (*)

1. Magento 2.4.1
2. Magento_Wishlist enabled

### Steps to reproduce (*)

1. Create 2 products of any kind.
2. Add those two products to a customer wishlist.
3. On adminhtml, edit the customer and access "Manage Shopping Cart".

### Expected result (*)

1. Adminhtml cart management screen.
![Screenshot from 2021-10-26 17-47-19](https://user-images.githubusercontent.com/92681

[2021-10-26 23:51] #33387 closed, assigned to nobody

[2021-10-27 05:35] #34296 closed, assigned to engcom-Delta

[2021-10-27 06:21] #34310 closed, assigned to engcom-Lima

[2021-10-27 06:22] #34297 closed, assigned to engcom-Lima

[2021-10-27 06:23] #34285 closed, assigned to engcom-Lima

[2021-10-27 06:26] #34303 closed, assigned to anzin, engcom-Lima

[2021-10-27 06:27] #34273 closed, assigned to alena-marchenko, engcom-Lima

[2021-10-27 08:14] #34125 closed, assigned to engcom-Delta

[2021-10-27 08:38] #34083 closed, assigned to engcom-Lima

[2021-10-27 09:41] SimonGSGmbH opened #34449 "after update from 2.3.5-p1 to 2.4.3-p1 customers cant login anymore"
### Preconditions (*)

1. Magento CE updated to 2.4.3-p1
2. Nginx
3. PHP 7.4
4. Redis Cache

### Steps to reproduce (*)

1. update Magento including Modules and Extensions from 2.3.5-p1 to 2.4.3-p1
2. go to customer/account
3. Exception thrown "main.ERROR: User Deprecated Functionality: Session ID is not used as URL parameter anymore. in /var/www/clients/client1/web12/web/magento/vendor/magento/fr

[2021-10-27 11:51] m2-assistant[bot] opened #34451 "[Issue] Remove casting to int on increment ID which can be prefixed by a string"
This issue is automatically created based on existing pull request: magento/magento2#33369: Remove casting to int on increment ID which can be prefixed by a string

---------
### Description (*)
- Remove casting to int on increment ID which can be prefixed by a string

### Manual testing scenarios (*)
1. Configure a string prefix to invoice increment IDs
2. Submit an order
3. Create an invoice
4.

[2021-10-27 12:00] davidandersson1 opened #34452 "Order confirmation email sent twice- Magento 2.4.3-p1"
Hello,

We noticed when order placed, order confirmation email sent twice so duplicate issue.

### Preconditions (*)
1. Magento 2.4.3-1
2. klarna checkout - https://marketplace.magento.com/klarna-m2-checkout.html
3. configure dotmailer

### Steps to reproduce (*)
Place order with any item.

### Expected result (*)
1. Order confirmation email sent twice

### Actual result (*)
1.  it should sent onl

[2021-10-27 13:47] ghost opened #34455 "The calendar won't work with some sections"
### Preconditions (*)

1. The calendar at the section "vrijgezellenfeest" at our website www.tsjechiexperience.nl wont work
2.

### Steps to reproduce (*)

1. Go to the website www.tsjechiexperience.nl and at the menu click "vrijgezellenfeest"
2. Click on a product (doesnt matter which one) and click to "voorkeursdatum" (that meand date in Dutch). It opens an agenda, but the data cant go further t

[2021-10-27 13:58] #34407 closed, assigned to andrewbess, SilinMykola, anzin, karyna-t

[2021-10-27 14:21] #34377 closed, assigned to nobody

[2021-10-27 14:33] stradd opened #34458 "Upgrade ca-bundle to 1.3.0 in Admin Clean Cache issue"
### Preconditions (*)

2.4.3-p1 and 2.3.6

### **Steps to reproduce (*)**

composer update
ca-bundle Update from 1.2.11 to 1,3,0

Go to Admin clean or flush Cache

### Actual result (*)
Exception #0 (Exception): Warning: realpath(): open_basedir restriction in effect. File(/etc/ssl/certs/ca-certificates.crt) is not within the allowed path(s): (/var/www/vhosts/saitenhandel.com/:/tmp/) in /var/www/v

[2021-10-28 00:07] #33870 closed, assigned to karyna-t

[2021-10-28 02:09] #33680 closed, assigned to reense

[2021-10-28 02:09] #33760 closed, assigned to marvinhinz

[2021-10-28 02:09] #32930 closed, assigned to engcom-Kilo

[2021-10-28 02:09] #32954 closed, assigned to ihor-sviziev

[2021-10-28 02:17] mkawachi opened #34460 "State/Province Sorting of Magento2-jp in Admin/Sales doesn't work as expected."
Preconditions (*)

Magento CE/Community 2.3.6 later with sample data is installed
Install https://github.com/magento/magento2-jp (Japanese feature extension)

Steps to reproduce (*)

1. Go to admin site. Select Sales> Orders -> Create New Order -> Create New Customer”
2. Choose Japan from Country list.
3. See the State/Province list.

Actual result:
The shown sort order is not expected. It seems t

[2021-10-28 08:37] salehawal opened #34461 "admin | Some cookies are misusing the recommended “SameSite“ attribute"
### Preconditions (*)
1. php 7.4.3
2. magento 2.4-develop

### Steps to reproduce (*)
1. install latest magento 2.4-develop
2. add ssl to yoru site
3. login to backend

### Expected result (*)
1.
![Screenshot from 2021-10-28 10-34-51](https://user-images.githubusercontent.com/3238761/139219035-bff2a738-20dc-4623-ba0f-c34b71b430e9.png)

### Actual result (*)

1.
![Screenshot from 2021-10-28 10-32-4

[2021-10-28 09:07] SinpietruAdrian opened #34463 "New admin account is disabled after a login attempt is made if the account's expiration date is greater than 2038"
**Preconditions**

    Magento 2.4.3-p1 CE

**Steps to reproduce**

    Create an admin user (System - All Users - Add New User)and set the Expiration Date greater than the year 2038
    Try to login in the admin area with the newly created user

**Expected result**

    You are able to login in the admin area

**Actual result**

    You get an error stating the account doesn't exist / has been di

[2021-10-28 09:41] #34284 closed, assigned to engcom-Hotel

[2021-10-28 10:10] ilnytskyi opened #34464 "Bug in DI generation: array arguments got replaced instead of merging when modified from different area"
### Preconditions (*)

1. Create a configurable object or virtual type e.g. composite
2. It's impossible to add new items into array argument for different area.
3. Related problem was reported here: https://stackoverflow.com/questions/34635615/magento-2-how-to-add-new-value-to-the-array-on-di-xml

Other should areas extend di configuration from global, or override only changed items/arguments. Bu

[2021-10-28 10:22] dev-ajaysaini opened #34465 "function discouraged issue"
### Summary (*)

Getting base64_decode() / base64_encode() is discouraged issue while fixing Magento coding standards but there is no alternative found in magento to overcome this.
### Examples (*)

### Proposed solution
There should be an interface in Magento which can be used to encode and decode.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributi

[2021-10-28 10:46] cena4438 opened #34466 "Admin: Word should not broken to next line"
Admin: Word should not broken to next line

### Preconditions (*)

1. Magento 2.4
2. Screen resolution: 1920 x 1080

### Steps to reproduce (*)

1. Admin -> Widgets -> Add new
2. Next form -> see the word **Theme** break to next line
3. this happens in most of the forms

### Expected result (*)
Wording should not be break
![image](https://user-images.githubusercontent.com/92792212/139238135-45d173

[2021-10-28 10:51] #34127 closed, assigned to engcom-November

[2021-10-28 11:36] m2-assistant[bot] opened #34467 "[Issue] Resolve height modal issue on iOS"
This issue is automatically created based on existing pull request: magento/magento2#34290: Resolve height modal issue on iOS

---------

### Description (*)

This problem can reproduce in case we have modal form with enough long content at mobile screen (iOS Devices)
If we add action (cta) button at bottom/footer of the modal. User will not able to click to proceed to next step update/edit. Make

[2021-10-28 12:39] #34458 closed, assigned to engcom-Hotel

[2021-10-28 12:54] AartiJogiya opened #34469 "Re-validate google reCAPTCHA if user response token expired"
Google reCAPTCHA has token restrictions that is user response token expires after two minutes and to create new token we need to re-run reCAPTCHA varification. Refer [Google reCAPTCHA document](https://developers.google.com/recaptcha/docs/verify#:~:text=status%20returns%20successful.-,Token%20Restrictions,re%2Drun%20the%20reCAPTCHA%20verification.). On the customer create account page, it should r

[2021-10-28 13:13] #34274 closed, assigned to engcom-Delta

[2021-10-28 14:39] AristaLiv opened #34471 "I am not able to add more coupon codes to the bulk discount code on magento. I have tried create a new bulk but it still doesn't work, how would I fix it to be able to add more codes?"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-10-28 14:39] #34471 closed, assigned to nobody

[2021-10-28 17:30] live4soccer7 opened #34472 "Samesite Cookie = Lax on 2.4.3-p1 for Payflow Pro"
### Preconditions (*)

1. 2.4.3-p1
2. Production, not been able to reproduce in sandbox Payflow

### Steps to reproduce (*)

1. Checkout with CC payment in chrome based browser (Edge, Chrome, Brave) and cookie is set to LAX, Secure instead of None, Secure. This allows the redirect and response for the gateway to not work and the "spinner" is never ending because the requests can never finish. This

[2021-10-28 18:17] #33741 closed, assigned to nobody

[2021-10-28 21:29] PelirrojosinAlma opened #34474 "Error in massive change order status [2.4.0]"
### Preconditions (*)

1. Magento 2.4.0
2. Installed on Litespeed Server with LiteMage installed.

### Steps to reproduce (*)

1. Go to SALES/(Under Operations) Orders
2. Select two or more order with "Processing" status.
3. Click on "Actions", then select "Change Order Status" and select a custom status (with unassign state)
4. Wait until magento response.

### Expected result (*)

1. Successful

[2021-10-28 21:43] salehawal opened #34475 "This page uses the non standard property “zoom” | Consider using calc()"
### Preconditions (*)
1. php 7.4
2. apache 2
3. magento 2.4-develop

### Steps to reproduce (*)
1. install magento
2. open catalog > category

### Expected result (*)

1. page loaded

### Actual result (*)

1. spinner forever loop
2. console error on F12 Debug
![Screenshot from 2021-10-28 23-40-01](https://user-images.githubusercontent.com/3238761/139340511-1a87492f-acb5-491c-8e02-b3d88d8b729b.png

[2021-10-28 21:48] salehawal opened #34476 "admin | spinner keep loading forever in all areas"
### Preconditions (*)
1. php 7.4
2. apache 2
3. magento 2.4-develop

### Steps to reproduce (*)

1. install magento 2.4-develop
2. login to admin

### Expected result (*)

1. normal page load

### Actual result (*)
1.
![Screenshot from 2021-10-28 23-45-11](https://user-images.githubusercontent.com/3238761/139340957-144fdd79-3bf3-49bd-8413-c917af7d8cd2.png)
2.
![Screenshot from 2021-10-28 23-45-24]

[2021-10-29 04:05] github-jira-sync-bot opened #34477 "Add PHP 8.1 compatibility to magento/magento-composer-installer"
Add PHP 8 compatibility to magento/magento-composer-installer
### What needs to be done:
 - Review the dependencies of the  magento/magento-composer-installer and update to PHP 8 compatible versions (composer.json)
 - Use static analysis tools and plain search to find incompatibilities and fix code
 - Test the library with PHP 8
  * Check for (error) messages during installation (there should not

[2021-10-29 07:07] #34215 closed, assigned to engcom-November

[2021-10-29 07:09] #34340 closed, assigned to engcom-November

[2021-10-29 07:19] #34243 closed, assigned to engcom-Hotel

[2021-10-29 08:42] hostep opened #34478 "Review the use of timestamp fields in the database, consider replacing them with datetime fields in order to avoid issues with the year 2038 and beyond"
### Preconditions (*)
Read the [mysql documentation](https://dev.mysql.com/doc/refman/8.0/en/datetime.html) around the usage for datetime and timestamp field types
Especially these sections are important:

Be aware of the difference in timezone handling between these type of fields, that might be important, but it's hard to predict without proper testing how they will behave within Magento

### St

[2021-10-29 10:09] MeCapron opened #34479 "Flat catalog cannot be used with addAttributeToFilter OR condition"
### Preconditions (*)

1. Magento 2.4.2-p2
2. see https://github.com/magento/magento2/issues/29219

### Steps to reproduce (*)

To reproduce this problem you can simply try this code having the flat catalog enabled.

[code]

It will push in your entity a Flat resource model :

[code]

Then in `vendor/magento/module-eav/Model/Entity/Collection/AbstractCollection.php`

It will run

[code]

-> `vendo

[2021-10-29 12:19] mateuszadd opened #34480 "Price cart rules problem"
Hi,
i have a problem with price cart rules.

I mean, i have general discount connected with multi buy.
If customer buy 3 or more products get 10%, if 5 of more 20% and if 10 or more 30%.
Another discount based on code "XYZ" and offer 50% for buy 10x specific product.
I want to disable general discount after using discount based od code XYZ.
How can i do that?

[2021-10-29 12:49] snez opened #34481 "jwt_auth_revoked doesn't exist"
In an integration test, I get the following error:

`>>> SQLSTATE[42S02]: Base table or view not found: 1146 Table 'm2_integration_tests.jwt_auth_revoked' doesn't exist, query was: INSERT  INTO `jwt_auth_revoked` (`user_type_id`,`user_id`,`revoke_before`) VALUES (?, ?, ?) ON DUPLICATE KEY UPDATE `user_type_id` = VALUES(`user_type_id`), `user_id` = VALUES(`user_id`), `revoke_before` = VALUES(`revok

[2021-10-29 18:20] m2-assistant[bot] opened #34483 "[Issue] Fix accessibility errors on cart and checkout pages"
This issue is automatically created based on existing pull request: magento/magento2#33851: Fix accessibility errors on cart and checkout pages

---------
### Description (*)
This PR fixes Accessibility errors reported by Lighthouse module (Available in Chrome dev tools) on the shopping cart and checkout pages.

### Manual testing scenarios (*)
1. Open _Stores > Configuration > Sales > Sales > Gif

[2021-10-29 19:55] lbajsarowicz commented on #33765
I encountered such an issue in our Staging environment:
![image](https://user-images.githubusercontent.com/1639941/139494267-3d8fcffc-ff02-43ab-9c68-519a8dbcf36d.png)

Not sure what are the steps to reproduce the issue, however:
1. The Customer Address entity exists and it's correctly assigned to the Customer
2. Customer account exists and is active.

[2021-10-29 20:20] lbajsarowicz commented on #23908
I'm currently testing the solution from https://github.com/magento/magento2/issues/23618

[2021-10-29 21:14] live4soccer7 commented on #34472
For now, we have had to result in changing payment gateways since payflow pro doesn't work properly. I would still like to see this resolved though.

[2021-10-30 03:06] NguyenXuanNam commented on #5301
- Not working on browser mobile.

[2021-10-30 05:03] krishprakash commented on #34480
Hi @mateuszadd. Thank you for your report.
Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or magento [stack exchange](https://magento.stackexchange.com) for general discuss about this problem

[2021-10-30 05:03] #34480 closed, assigned to nobody

[2021-10-30 07:06] #34431 closed, assigned to nobody

[2021-10-30 09:59] n2diving-dgx opened #34485 "reCAPTCHA V3 Invisible badge missing 'Privacy' and 'Terms' links when Position = Inline"
The reCAPTCHA V3 Invisible badge is missing 'Privacy' and 'Terms' links when Position = Inline, which is a violation of Google usage guidelines for reCAPTCHA https://developers.google.com/recaptcha/docs/faq

Install M2.4.3-p1 and Luma Store from scratch (note also reproduced on M2.3.7-p1)

Configure reCAPTCHA in backend
Navigate to Admin> Stores> Configuration> Security> Google reCAPTCHA Storefron

[2021-10-30 10:01] speedupmate commented on #34125
@sgeleon since OneStepCheckout  is a 3rd party extension  try to report such issues to support@onestepcheckout.com directly

[2021-10-30 12:59] shikhamis11 commented on #34195
@magento give me 2.4-develop instance

[2021-10-30 14:07] engcom-Delta commented on #28051
Hi @navarr,
Verified this issue on Magento 2.4 Develop latest branch. getting different error while "Add selected products to order" at step # 11.
Kindly request to confirm the error displayed.
![Error got](https://user-images.githubusercontent.com/51681379/139536163-8255c04f-11b6-4192-b341-1fdb436f0dd6.JPG)
![ApplyTaxon_precondition](https://user-images.githubusercontent.com/51681379/139536168-f5

[2021-10-30 16:02] Triloworld commented on #5301
First, try other methods that are provided and update Magento, it should fix error even on mobile.
Pleas create new issue regarding your problem, add this as reference and add all required details as this is required by core team to fix that issue (check reply and reopen there issue - https://github.com/magento/magento2/issues/10107#issuecomment-330776636). Your response is on 2016 topic where las

[2021-10-30 16:08] hoangngo-calvin opened #34486 "Admin area: function getUsedProducts of Configurable always return children with salable true(even child already out stock)"
### Steps to reproduce (*)
1. Magento Open Source 2.4.3-p1 with sample data
2. 'Display Out of Stock Products' is set to "Yes"
3. Go to product has id: 54(child of 68), set stock to Out Stock(qty still 100).
4. Get children products of a configurable product in **Admin** area by using function getUsedProducts()
5. Get children products of a configurable product in **Frontend** area by using functi

[2021-10-30 17:17] NguyenXuanNam commented on #10107
i'm already added this line before that's why it works fine in desktop, but I don't know why it didn't work on mobile devices(not emulator)

[2021-10-31 05:36] hopeseekr commented on #31109
Come on :-/

[2021-10-31 09:35] sphinxstores commented on #34355
which one
/bitnami/magento/var/log$ ls -1
connector.log
cron.log
debug.log
exception.log
magento.cron.log
system.log

[2021-10-31 09:36] sphinxstores commented on #34355
which file
/bitnami/magento/var/log$ ls -1
connector.log
cron.log
debug.log
exception.log
magento.cron.log
system.log

[2021-10-31 11:03] mrtuvn commented on #34355
you can see exception or system log

[2021-10-31 13:19] salehawal commented on #34475
ok let me check in another browser and see

[2021-10-31 13:21] salehawal commented on #34476
the only difference is:
1- i never installed the demo data
2- i remove these modules below:
bin/magento module:disable Magento_Elasticsearch Magento_Elasticsearch6 Magento_Elasticsearch7 Magento_AdminAnalytics

[2021-10-31 15:09] sphinxstores commented on #34355
this is exeption file

[2021-10-14 11:58:18] main.ERROR: Unable to send mail: Unknown error {"exception":"[object] (Laminas\\Mail\\Transport\\Exception\\RuntimeException(code: 0): Unable to send mail: Unknown error at /bitnami/magento/vendor/laminas/laminas-mail/src/Transport/Sendmail.php:304)"} []
[2021-10-14 17:54:40] main.CRITICAL: Class Magento\Store\Model\StoreManagerInterface\Proxy does not

[2021-10-31 15:56] Thelatinlabel commented on #34412
Dear All,

please find below what you need. Awaiting for the resolution of this issue
the soonest possible

*reconditions (*)*

1.- Magento 2.3.9-developer -> Previously Magento 2.3.4
2.- Clean Version with MGS Template
3.- PHP 7.4
4.- PayPal Express Checkout

*Steps to Reproduce (*)*

1.- Enable PayPal
2.- Add any product to cart
3.- Go to checkout
4.- Select PayPal as Payment Method
5.- You're g

[2021-10-31 16:57] vipin12117 commented on #31758
Issue still exists in 2.4.3.

[2021-10-31 16:58] vipin12117 commented on #31758
Still issue exists

[2021-10-31 23:32] salehawal commented on #34476
i did the following:
1- installed mysql legacy search engine from this source:
[code]

2- build and flush
[code]

and still not resolved?

[2021-10-31 23:33] salehawal commented on #34475
yes confirmed, it only show in Firefox i am suing version 93.0

[2021-10-31 23:33] #34475 closed, assigned to engcom-Hotel

[2021-10-31 23:47] salehawal commented on #34476
do i need to install the demo data? it is still not loading all data-grid related pages ( orders - customers - catalog .. etc)

[2021-11-01 10:04] devchris79 commented on #31758
@magento give me 2.4-develop instance

[2021-11-01 10:23] devchris79 commented on #31758
The issue does appear to now be fixed in the latest 2.4 develop instance.

My 2.4.3 site works with my earlier post on a change to the setCollection function, although that function doesn't appear to be changed in the 2.4 develop code. I expect something has been corrected/changed in the collection that is sent to the function.

[2021-11-01 10:29] salehawal commented on #30768
this is related to this issue as well #34461

[2021-11-01 10:43] vipin12117 commented on #31758
Can you tell me a file which I can i check and fix ?

On Mon, Nov 1, 2021 at 3:53 PM devchris79 ***@***.***> wrote:

--
Thanks & Regards,
Vipin Garg
Mobile: +91 9785118324

[2021-11-01 10:53] devchris79 commented on #31758
@vipin12117

I have commented the file changes instead of removing them so you can see the changes.

vendor/magento/module-catalog/Block/Product/ProductList/toolbar.php at line 221

[code]

[2021-11-01 10:54] vipin12117 commented on #31758
tried but sort still being pass empty to elasticsearch

![image](https://user-images.githubusercontent.com/7281181/139661015-71a6b8b7-307c-4f63-aab8-587431731aa0.png)

[2021-11-01 10:55] vipin12117 commented on #31758
<html>
<body>

Array
--
  | (
  | [index] => sketchbubble_product_1
  | [type] => document
  | [body] => Array
  | (
  | [from] => 0
  | [size] => 9
  | [stored_fields] => Array
  | (
  | [0] => _id
  | [1] => _score
  | )
  |  
  | [sort] => Array
  | (
  | )
  |  
  | [query] => Array
  | (
  | [bool] => Array
  | (
  | [must] => Array
  | (
  | [0] => Array
  | (
  | [term] => Array
  | (
  | [

[2021-11-01 11:07] vipin12117 commented on #31758
updates ?

[2021-11-01 11:45] ioweb-gr commented on #32754
@engcom-Hotel it's my understanding that disabling the locking mechanism can result in race conditions and severe session data loss in high traffic websites. Why did you close this issue when in reality disabling the locking mechanism is a workaround to the real issue and not a solution? The underlying issue is that multiple simultaneous requests like ajax requests on the checkout will cause huge

[2021-11-01 11:53] GuiltyNL commented on #32754
@ioweb-gr I can confirm that there are no issues at al when you disable the locking. I've tested it during Black Friday resulting in 180 to 300 orders per hour. With no issues at all.

[2021-11-01 11:58] ioweb-gr commented on #32754
@GuiltyNL I've actually had issues when disabling session locking \Magento\Checkout\Model\Session:getLastRealOrderId() would sometimes return null after redirection
It didn't happen with files storage or with locking enabled  :(

[2021-11-01 12:53] m2-assistant[bot] opened #34490 "[Issue] Replace repetitive actions with Action Groups in AdminCreateInactiveFlatCategoryTest and AdminUpdateFlatCategoryAndAddProductsTest"
This issue is automatically created based on existing pull request: magento/magento2#34470: Replace repetitive actions with Action Groups in AdminCreateInactiveFlatCategoryTest and AdminUpdateFlatCategoryAndAddProductsTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

Tests are refactored according to the best practices followed by MFTF.

### Manual te

[2021-11-01 13:17] GuiltyNL commented on #32754
:( Shoot! Strange that it is running without issues on our server. :(

[2021-11-01 14:08] xmav commented on #34477
Current issue
[code]

[2021-11-01 14:30] ioweb-gr commented on #32754
yeah I know it's a bummer :( I thought it would solve it quickly for us too

[2021-11-01 14:44] m2-assistant[bot] opened #34493 "[Issue] Bug Fix: Missing region on shipping with some saved addresses"
This issue is automatically created based on existing pull request: magento/magento2#34482: Bug Fix: Missing region on shipping with some saved addresses

---------

### Description (*)
When shipping using a saved address outside of the US/CA the `dest_region_code` is empty.   For example a saved address in the UK will expose the problem. I traced the issue back to the Customer\Model\Address\Abstr

[2021-11-01 15:21] ericerway commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-11-01 15:24] ericerway commented on #30835
@magento give me 2.4.2 instance with edition b2b

[2021-11-01 15:26] ericerway commented on #30835
@magento give me 2.4.1 instance with edition b2b

[2021-11-01 17:04] Any-Documentation-Would-be-Great opened #34494 "Deleting Addresses From Customer Doesn't Delete Them"
I delete an address from a customer. I hit save customer. The page reloads and the deleted addresses are back. Every time I do this for the last 2 months. The addresses are NOT duplicated in our ERP. They are only duplicated in magento, and magento refuses to do what it says it does. I would like my customer to not have to rifle through 300 duplicate addresses to place an order.

### Preconditions

[2021-11-01 18:15] nbennett25 opened #34495 "Send Welcome email select not populating in admin"
### Preconditions (*)

1. Magento 2.4.2-p2
2. Account Sharing: Global

### Steps to reproduce (*)

1. Go to Configuration > Customers > All Customers > Add New
2. Enter first name, last name & email address (Note that there are no options in the Send Welcome Email From select):
3. Click Save & Continue

### Expected result (*)

1. Customer record is saved

### Actual result (*)

1. Error is shown

[2021-11-01 18:22] nbennett25 commented on #34495
Note - this looks like a copy paste error, changing the field name on the UI element in the `vendor/magento/module-customer/view/base/ui_component/customer_form.xml` at least partially resolves the issue:

From:
[code]

To:

[code]

[2021-11-01 18:29] nbennett25 commented on #34495
@magento give me 2.4.2-p2 instance

[2021-11-01 18:32] salehawal commented on #34476
@engcom-November
i did pull the latest update now from 2.4-develop branch and still it is not working?

[2021-11-01 18:35] nbennett25 commented on #34495
Seems that removing the filter on the UI component from `vendor/magento/module-customer/view/base/ui_component/customer_form.xml` resolves the broken population:

From:
[code]

To:

[code]

[2021-11-01 18:39] nbennett25 commented on #34495
@magento I was not able to reproduce this on the provided 2.4.2-p2 instance. It must be something local.

[2021-11-01 18:39] #34495 closed, assigned to nobody

[2021-11-01 18:57] salehawal commented on #25294
same problem here :
Unable to apply data patch Magento\CatalogRuleSampleData\Setup\Patch\Data\InstallCatalogRuleSampleData for module Magento_CatalogRuleSampleData. Original exception message: Rolled back transaction has not been completed correctly.

[2021-11-01 20:15] maximilianmikus commented on #28200
/push

please set this to higher prio 🚀

[2021-11-01 20:25] jsamhall commented on #33675
Chiming in as this issue has impacted our production environment, and becomes somewhat severe when the payment processor relies on REST API to update orders. In our case, we use Bolt for payment processing and it uses webhooks / Magento REST API to manage order status according to payment status at the processor.

In our case, we have become inundated with "Request Timeout" from Bolt, but it is of

[2021-11-01 20:47] ihor-sviziev commented on #33675
@jsamhall, I'm not the author of the klaviyo extension, but looks like this issue is fixed in version 3.0.8

https://github.com/klaviyo/magento2-klaviyo/compare/3.0.7...3.0.8

[2021-11-01 22:51] #34101 closed, assigned to anzin

[2021-11-01 23:33] Alainvdz99 commented on #13829
I dont know if this helps but they added the class attribute back in October 2018 with this commit https://github.com/magento/magento2/commit/ea894480d45be5a976a14a1a61410a1669166d3f.

[2021-11-02 03:51] github-jira-sync-bot opened #34496 "Add PHP 8.1 compatibility in magento/composer"
Add PHP 8.1 compatibility for <https://github.com/magento/composer/>

 

What needs to be done:
* Review the dependencies of the  magento/composer and update to PHP 8.1 compatible versions (composer.json)
* Use static analysis tools and plain search to find incompatibilities and fix code
* Test the library with PHP 8.1
* Update magento/composer version in magento2 root composer.json(OpenSource, Co

[2021-11-02 05:57] github-jira-sync-bot opened #34497 "Adjust code with new deprecations in PHP8.1"
There is list of new deprecations in PHP 8.1 - [https://wiki.php.net/rfc/deprecations_php_8_1]()

**ToDo:**
* Revise code for deprecated functions:
- [ ]  date_sunset and date_sunrise functions 
- [ ]  key(), current(), next(), prev(), and reset() on objects 
- [ ]  strftime 
- [ ]  mhash 
- [ ]  ctype_*() functions 
- [ ]  FILTER_SANITIZE_STRING

* Add static check if possible

* Check in 
- [ ]

[2021-11-02 06:04] github-jira-sync-bot opened #34498 "Add return type declarations for internal methods"
In PHP 8.1, an E_DEPRECATED notice would be raised for each method which has an incompatible return type with its overridden internal method. In PHP 9.0, incompatible return types would always trigger a fatal error

**ToDo:**
* Add sniff to `magento-coding-standard` - [https://github.com/magento/magento-coding-standard]() - currently inposible
* Fix all detected places in

- [ ]  [https://github.c

[2021-11-02 06:10] github-jira-sync-bot opened #34499 "Disable autovivification on false"
Auto-creation of arrays from false value is not allowed since PHP 8.1 - [PHP RFC: Deprecate autovivification on false](https://wiki.php.net/rfc/autovivification_false)

**ToDo:**
* Fix all detected places in

 - < ] [https://github.com/magento/magento2]
 - [ ] [https://github.com/magento/partners-magento2ee]
 - [ ] [https://github.com/magento/partners-magento2b2b]
 - [ ] [https://github.com/magent

[2021-11-02 06:17] engcom-Hotel commented on #34359
Dear @JKair ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-02 06:17] #34359 closed, assigned to engcom-Hotel

[2021-11-02 06:32] github-jira-sync-bot opened #34500 "Verify WebAPI tests with PHP8.1"
In order to better understand scope of changes required for PHP8.1 support in magento we need to run WebAPI check\tests

 

To Do
* Use latest available PHP8.1 build or docker image with required extensions
* Include Inventory, SecurityPackage (use B2B)
* Add PHP8.1 to root composer.json (for tests only. Not need to be delivered)
* try to run REST, SOAP, GRAPHQL tests for

  * Catalog, Customer, S

[2021-11-02 06:43] github-jira-sync-bot opened #34501 "Verify MFTF tests with PHP8.1"
In order to better understand scope of changes required for PHP8.1 support in magento we need to run MFTF tests

 

To Do
* Use latest available PHP8.1 build or docker image with required extensions
* Use MFTF from develop branch - <https://github.com/magento/magento2-functional-testing-framework> (it contains PHP8.1 related changes)
* Include Inventory, PageBuilder, SecurityPackage, Adobe Stock,

[2021-11-02 07:40] engcom-Hotel commented on #34469
Hello @hoangoclan,

Please provide us the steps to reproduce the issue.

Thanks

[2021-11-02 08:10] engcom-Hotel commented on #34120
Hello @memen45,

We have tried to reproduce this issue in Magento 2.4-develop branch, but this is not reproducible for us. We have followed the steps mentioned in the main description as well as below one:
1. Install Magento 2.4-develop branch with sample data.
2. Setup cron by running command `bin/magento cron:install`.
3. Run command `bin/magento c:f` to flush the cache.
4. Wait until the cache

[2021-11-02 08:40] engcom-Delta commented on #34271
Hi @mklooss ,
We tried to replicate it on Magento 2.4 Develop latest branch. Unfortunately we could not find the zip-codes which provided in the ticket.
Link# https://en.wikipedia.org/wiki/Postal_codes_in_Portugal.
Hence request to review it once again.

[2021-11-02 08:48] memen45 commented on #34120
Thanks for your reply. Did you check the group owner? The issue is not with the user, it is correct and expected to be the deploy user, as deploy creates the cache files during cron. However, the apache2 user requires access to those cache files. Therefore, the owner group should be www-data and the full owner of the cache files should thus be
`deploy:www-data`, or in your case `abhinav:www-data`

[2021-11-02 08:50] engcom-Alfa commented on #34183
We have to reproduce it from our end once before confirming the issue! Hence moving back to the pervious stages.
Thanks for your patience!

[2021-11-02 09:00] engcom-Delta commented on #34393
@magento give me 2.4.3 instance

[2021-11-02 09:22] engcom-Alfa commented on #34463
It needs to be re confirmed by internal team as well.
Thanks for raising the issue, and your collaboration & contribution!

[2021-11-02 09:26] khnaim commented on #29945
Hello,

I have the problem on **Magento ver. 2.3.4-p2**, I did not find the patch to apply to fix this problem

Could you give me the link/commit of this patch please ?

With kind regards

[2021-11-02 09:49] mklooss commented on #34271
@engcom-Delta just take a look at the list on wikipedia: "Postal regions (first digit of postal code)" -> "9. (brown) - Madeira Islands and Azores" and also at the Image on the right side of the article: https://en.wikipedia.org/wiki/Postal_codes_in_Portugal#/media/File:Postal_Codes_of_Portugal.png
There you can found the data, of this postal codes.

[2021-11-02 09:49] engcom-Alfa commented on #33417
Thanks for retrying to reproduce the issue @engcom-Delta .
The issue is reproducible with Microsoft Edge only!
Navigate to Admin > Product >Images and Videos > Thumbnail.
Click on the video clip in-between of it. (Not on the play icon of the video).
Issue: First time, if we click, video doesn't play. After re clicking again, video plays well.

This issue is not identified in other browsers.
Hence

[2021-11-02 10:08] engcom-Delta commented on #34393
Hi @engcom-Alfa ,
Verified on Magento 2.4.3 ,getting different error with response code 400.Kindly find the attached screenshot.
![Error_different_400](https://user-images.githubusercontent.com/51681379/139826973-24e51911-5e74-4b5c-9c4c-e65410abfda1.JPG)
Response:
{
    "message": "One or more input exceptions have occurred.",
    "errors": [
        {
            "message": "\"%fieldName\" is req

[2021-11-02 10:12] engcom-Delta commented on #34278
Hi @ia-gaurav,

Kindly provide clear issue description , steps to reproduce, expected results & actual results.

Thanks

[2021-11-02 10:23] engcom-Alfa commented on #34393
As per [above-comment](https://github.com/magento/magento2/issues/34393#issuecomment-957294348) , we have the same issue in 2.4.3 version as well.
Hi @TysvdHeuvel As per your description, there was no issue till 2.4.2 version only, and started facing issue with 2.4.3 version. Is my understanding correct here?
If so, we have check the same scenario once in 2.4.2 version and then we can set the prio

[2021-11-02 10:31] engcom-Alfa commented on #34003
The issue is existing for EUR currency type as mentioned in description.
It will be good if are going to notice in with any other currencies as well. Accordingly the procedure to fix the issue may change!

[2021-11-02 10:35] engcom-Alfa commented on #34119
Since there are discussions going on about this issue, moving back to the previous status!
Thanks for your patience!

[2021-11-02 10:37] Eddcapone commented on #25684
I have this issue in 2.4.2 Enterprise.

[2021-11-02 10:37] engcom-Alfa commented on #34288
Since there is a need identifying the column data impact, and the analysis in progress. Hence moving the ticket status back to previous one!

[2021-11-02 10:39] engcom-Alfa commented on #10674
Till the completion of analysis from @engcom-Hotel on this ticket, keeping the ticket back to previous state.
Thanks for your patience!

[2021-11-02 10:42] kanhaiya5590 commented on #34415
Very similar problem issue found in Magento v2.4.3-p1 or can say same issue what @hostep found in Magento v2.3.7-p2

 `main.CRITICAL: TypeError: strtotime() expects parameter 1 to be string, null given in /home/developer/UAT-GAF/vendor/magento/module-security/Model/AdminSessionInfo.php:136`

 This not allow to access admin panel. and in PRODUCTION mode getting **An error has happened during applic

[2021-11-02 10:58] onlinebizsoft commented on #34003
@engcom-Alfa it happens with ANY currency which is different from the base currency

[2021-11-02 11:01] engcom-Delta commented on #34393
Hi @TysvdHeuvel ,
We tried once again on Magento 2.4 Develop latest branch & 2.4.3 version as well.
it works fine , getting successful response code.
Here is attached snapshots for reference.
Magento 2.4 Develop:
![2 4 Develop_SuccessfulResponse](https://user-images.githubusercontent.com/51681379/139834030-2bd8eee1-a3b4-4b99-a2a9-adb3a5ee2273.JPG)

Magento 2.4.3
----------------
https://2c833ad1e4

[2021-11-02 11:19] vipin12117 opened #34502 "Magento 2.4 catalog products sort by position is not working"
**Steps To Reproduce:**
1. Install AC. **CE without EE** with Elasticsearch.
1. Create category.
1. Create following products in it:
 !screenshot-1.png|thumbnail!
1. Open category on Storefront and sort **by position DESC**:
 !screenshot-2.png|thumbnail!

**Expected Result:**
Order should be following:
first>eighth>seventh>sixth>fifth>fourth>third>second.

When sorting "By position DESC", products

[2021-11-02 11:33] vipin12117 commented on #34502
Information on your environment:

Linux, php 7.4, elastic search 7 and magento 2.4.3

[2021-11-02 11:36] engcom-Delta commented on #33994
Hi @fm-cl,
Just tried to test it on Magento 2.4.3, it works fine but i could not upgrade from  Magento 1.9.1.0.
![2 4 3_productCreated](https://user-images.githubusercontent.com/51681379/139839115-e22a3c8e-12db-4348-8864-d1830792641e.JPG)

![2 4 3_productCreated](https://user-images.githubusercontent.com/51681379/139839281-17ba0e6b-954f-435f-95dc-5e559a4a5326.JPG)

[2021-11-02 11:39] jsamhall commented on #33675
@ihor-sviziev  thank you very much for the thoughtful response! I sincerely appreciate it! Cheers

[2021-11-02 11:49] Kerlitek commented on #33741
Just a link for those looking for the actual SOLUTION [https://github.com/magento/security-package/pull/302/commits/d25432de3b33946b88e93ddcfd01f5e898510a15]

[2021-11-02 11:54] engcom-Hotel commented on #34120
Hello @memen45,

For me in both cases group is coming as `admin`.

Thanks

[2021-11-02 12:03] devchris79 commented on #34502
Repeat of #33252

The develop instance appears to have the issue fixed now, although not with the change to 2.4.3 that I posted to correct my site.

[2021-11-02 12:06] vipin12117 commented on #34502
Magento 2.4.2 does not allow login Error 404 Page Login #33252

please check subject before closing the issue. Both are different.

[2021-11-02 12:07] vipin12117 commented on #34502
I have downloaded latest version and issue still there.

[2021-11-02 12:10] devchris79 commented on #34502
Sorry, it was #32522

[2021-11-02 12:12] vipin12117 commented on #34502
I have tried but it is solving by https://github.com/magento/magento2/issues/32522. You must check again. In elastic query sort order field is not being pass.

Please triple time check.

[2021-11-02 13:10] onlinebizsoft commented on #34055
Any news @engcom-Lima ?

[2021-11-02 15:53] karyna-t opened #34505 "Add fixes Magento to run on PHP 8.1"
Need to fix Magento codebase to be able to launch it on PHP 8.1

### Preconditions (*)
Use PHP 8.1

### Expected result (*)
Successfully launch Magento on PHP 8.1 (and basic CLI commands).

### Actual result (*)
Fatal errors when trying to launch magento

[2021-11-02 16:18] simonmaass commented on #34415
@kanhaiya5590 I dont think your patch fixes this error in total in AdminSessionsManager...

As far as I can see `$this->getCurrentSession()->getUpdatedAt()` returns an int if not null..
`TypeError: strtotime() expects parameter 1 to be string, int given`

[2021-11-02 16:28] IanFiretoys commented on #34204
worth noting that while this seems to only occur using **saved addresses** for logged in users with a blank region, freshly entered ones work fine. (it was mentioned to save the address in the reproduction steps, but not explicitly anywhere else in the body)

also someone should include the JS error in this issue as text somewhere so it's not so hard for anyone else with the same issue to find. sc

[2021-11-02 16:44] multipasko commented on #30128
The problem is still there on Magento 2.4.3

[2021-11-02 16:46] salehawal commented on #34461
it is also related to this issue : #34476
tried to remove "Magento_AdminAnalytics" but it is still not working, to confirm and checkedout 2.4.3 branch and install it and it is working great .. one thing i notice is that when i login in admin area, it asked me for a security question to allow user and i allwed and continue working

[2021-11-02 16:52] ihor-sviziev commented on #34415
@kanhaiya5590, could you create a pull request?

[2021-11-02 16:52] ericerway commented on #30835
@magento give me 2.4.3 instance with edition ee

[2021-11-02 16:57] ericerway commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-11-02 17:05] samcleathero opened #34507 "$_item->getChildren() returns empty array for parent cart items when cart is paginated"
### Preconditions (*)

1. PHP 7.4
2. Magento 2.4.3-p1 (also replicated in 2.3.5-p1 and 2.4.2)

### Steps to reproduce (*)

1. Override cart item renderer template (Magento_Checkout/cart/item/default.phtml).
2. Add `$_item->getChildren()` to get child items of configurable products - I am using this to get stock levels for child products when a configurable product is added to the cart. **For demo

[2021-11-02 18:12] stupachenko opened #34508 "Page Cache is not cleared for the parent product on the child product save"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Admin Panel > System > Index Management and set Index Mode = Update By Schedule for all indexes.
2. In the Admin Panel create a new configurable product with one simple product.
3. Open this product on the frontend and select options.
4. In the Admin Panel update the price for the simple product.
5. Return to the f

[2021-11-02 18:16] slavvka commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-11-02 18:20] stupachenko commented on #34508
@magento give me 2.4-develop instance

[2021-11-02 18:41] ericerway commented on #30835
@magento give me 2.4.1 instance with edition ee

[2021-11-02 18:42] ericerway commented on #30835
@magento give me 2.4.1 instance with edition b2b

[2021-11-02 20:18] salehawal commented on #34461
i have resolved the issue by downloading the file "https://assets.adobedtm.com/a7d65461e54e/37baabec1b6e/launch-177bc126c8e6.js" and move it under /pub directory ad updating caller url with the new url of edited file as follow:
1- save and edit the file adding "secure" in code to force all cookies to be secure
[code]
2- update the file call url in "/app/code/Magento/AdminAnalytics/view/adminhtml/l

[2021-11-02 20:22] salehawal commented on #34476
update...

samesite cookie issue #34461 is not the cause of the problem and we fixed, now the real cause of the problem is not found yet?
![Screenshot from 2021-11-02 22-07-11](https://user-images.githubusercontent.com/3238761/139946353-6d86ac44-8273-4b7c-a4e7-225d028362b6.png)
![Screenshot from 2021-11-02 22-06-58](https://user-images.githubusercontent.com/3238761/139946357-a613dc3d-541b-4bb7-b36

[2021-11-02 20:37] andrewbess opened #34509 "Add new sniff `Magento2.PHP.ArrayAutovivification` into magento-coding-standard"
### Description (*)
Auto-creation of arrays from false value is not allowed since PHP 8.1 - [PHP RFC: Deprecate autovivification on false](https://wiki.php.net/rfc/autovivification_false)

**ToDo:**
Add sniff to [magento-codding-standard](https://github.com/magento/magento-coding-standard)

### Related issues (*)
1. Parent issue - magento/magento2#34499

[2021-11-02 21:20] hostep commented on #27559
@multipasko, it's probably this one: https://github.com/magento/magento2/commit/c90edaa7fbfb8bcd0098de1981e4e022a79a8c13 (the commit has the same ticket number as [referenced above](https://github.com/magento/magento2/issues/27559#issuecomment-905302374))

[2021-11-02 21:43] hostep commented on #34379
Sorry, I have no experience with that eway module, maybe contact the people from eway to help you further? It might be that you are using the wrong Magento marketplace credentials in composer and maybe it can't find that eway module if you are using access keys from an account that hasn't 'purchased' that module.

[2021-11-03 05:40] davidandersson1 commented on #34452
Now i confirmed, with disabled mode of klarna/kco + Magento_Paypal + Magento_PaypalGraphQl modules, still duplicate order confirmation email on order placed (even from admin order place) so klarna/kco or paypal doesn't matter here. means possibly issue from any other core module.

[2021-11-03 06:01] m2-assistant[bot] opened #34510 "[Issue] Replace repetitive actions with Action Groups in AdminCreateInactiveInMenuFlatCategoryTest"
This issue is automatically created based on existing pull request: magento/magento2#34418: Replace repetitive actions with Action Groups in AdminCreateInactiveInMenuFlatCategoryTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Tests are refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
Run test locally

###

[2021-11-03 06:08] m2-assistant[bot] opened #34511 "[Issue] Replace repetitive actions with Action Groups in AdminConfigurableProductAddConfigurationTest, AdminConfigurableProductDisableAnOptionTest, AdminConfigurableProductRemoveAnOptionTest, AdminConfigurableProductRemoveConfigurationTest"
This issue is automatically created based on existing pull request: magento/magento2#34400: Replace repetitive actions with Action Groups in AdminConfigurableProductAddConfigurationTest, AdminConfigurableProductDisableAnOptionTest, AdminConfigurableProductRemoveAnOptionTest, AdminConfigurableProductRemoveConfigurationTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues

[2021-11-03 06:09] m2-assistant[bot] opened #34512 "[Issue] Replace repetitive actions with Action Groups in AdminAddInStockProductToTheCartTest"
This issue is automatically created based on existing pull request: magento/magento2#34298: Replace repetitive actions with Action Groups in AdminAddInStockProductToTheCartTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

Test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)

### Questions or comments

[2021-11-03 06:42] tuanpht commented on #34375
Hi, as my research so far, this is related to PHP Intl NumberFormatter => https://stackoverflow.com/a/63108846/6595322.

But I haven't found what different between my local docker environment and server yet:

Test script:
[code]

Result on my local docker environment ([dockerfile](https://github.com/sun7pro/docker-library/blob/master/magento2-php-fpm/7.4-composer2.Dockerfile))

![image](https://us

[2021-11-03 06:44] m2-assistant[bot] opened #34513 "[Issue] Guard Magento_Catalog JavaScript from lack of minicart"
This issue is automatically created based on existing pull request: magento/magento2#34185: Guard Magento_Catalog JavaScript from lack of minicart

---------
### Description
When the mini-cart is removed, or during the checkout, `Magento_Catalog::js/product/storage/ids-storage-compare.js` throws an error. The error is masked during checkout because there is a DOM element with `id="checkout"` which

[2021-11-03 06:47] swallowli66 commented on #13823
You have to set the Root category to Anchored -> 'Yes'. If it is set already as 'Yes', you have set it again to 'No' and  'Save' and then again into 'Yes' -> 'Save'.  This should resolve your problem.

This is a known issue in Magento2.

[2021-11-03 07:26] IanFiretoys commented on #34375
this appears to have been related to the disappearing currency symbols etc, and was fixed with this patch for us: https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde

[2021-11-03 07:59] tuanpht commented on #34375
So this line https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde#diff-09a839078aa6453eb8fb437430724140207e2aa7214c3bb98bc7ced29fe39927R440-R443 fixed this issue by remove all special character
[code]

But still don't know why there's difference in the results of PHP Intl NumberFormatter https://github.com/magento/magento2/issues/34375#issuecomment-958687958

[2021-11-03 08:43] kanhaiya5590 commented on #34415
Thanks as i was got issue for null but *i updated the patch file* with an extra condition check` is_numeric($lastUpdatedTime)`, hope this will solve your concern.

Please do share the feedback.

[2021-11-03 09:21] samcleathero commented on #34507
@magento give me 2.4-develop instance with extensions samcleathero/m2-item-render-test

[2021-11-03 09:32] samcleathero commented on #34507
Welp, that didn't work. Hopefully somebody a bit more knowledgeable can figure out what I was trying to do!

[2021-11-03 09:40] sivaschenko commented on #30863
@hostep agree, priority increased to P2. However, it's still currently targeting 2.5 due to BIC nature of the fix

[2021-11-03 09:48] TekniskSupport opened #34515 "Too much memory consumption when Klarna is doing maintenance on table klarna_logs"
Hi,

When the cron job Klarna\Core\Cron\UpdateApiLog is run it creates a collection from the table klarna_logs and sets the result to class variable, this loads the entire table into memory, as it contains a lot of JSON, the result is it consumes a lot of RAM.

`Klarna\Core\Cron\UpdateApiLog`
[code]

From method getList  in
`Klarna\Core\Model\LogRepository`
[code]

In our case this routine was usi

[2021-11-03 09:57] andrewbess opened #34516 "Verify Integration Tests with PHP 8.1"
### Description (*)
In order to better understand scope of changes required for PHP 8.1 support in Magento we need to run Integration Tests

**To Do**

Use latest available PHP 8.1 build or docker image with required extensions

Include the next core sources:
- CE https://github.com/magento/magento2
- EE https://github.com/magento/partners-magento2ee
- B2B https://github.com/magento/partners-magen

[2021-11-03 10:04] andrewbess opened #34517 "Verify Integration Tests with PHP 8.1 (for core sources only)"
### Description (*)
In order to better understand scope of changes required for PHP 8.1 support in Magento we need to run Integration Tests

**To Do**

Use latest available PHP 8.1 build or docker image with required extensions

Include the next core sources:
- CE https://github.com/magento/magento2
- EE https://github.com/magento/partners-magento2ee
- B2B https://github.com/magento/partners-magen

[2021-11-03 10:14] andrewbess opened #34518 "Launch WebAPI tests with PHP 8.1"
### Description (*)
In order to better understand scope of changes required for PHP 8.1 support in Magento we need to run WebAPI Tests on environment with PHP 8.1

**To Do**

Use latest available PHP 8.1 build or docker image with required extensions

Add PHP8.1 to root composer.json (for tests only. Not need to be delivered.).

Create pull request (PR) with fixes for launching WebApi Tests on env

[2021-11-03 10:29] moElwan commented on #28509
For me the solution was to set the values `recaptcha_frontend/type_recaptcha/public_key`, `recaptcha_frontend/type_recaptcha/private_key` to null in db and flushing the caches including redis

[2021-11-03 10:49] affirmative-pl commented on #14642
also an issue in Magento ver. 2.3.5-p2

[2021-11-03 11:36] hans-vereyken opened #34521 "increment_id column in sales_order table too short?"
While testing a marketplace integration we stumbled upon the fact that the 3rd party extension is expecting the increment_id to be 50 characters. It tries to save an increment_id of > 32 characters into the sales_order column. It's an easy workaround, but it feels like an oversight in the Magento core code:
Looking at all increment_id columns and there length, only sales_order.increment_id has a l

[2021-11-03 12:05] jordanvector commented on #34151
@chattertech great find!  This was the answer to a lot of what seemed like unrelated admin issues we were having after the 2.4.3 update.  They were all related to this setting, and setting to 0 fixed the issues for us.

[2021-11-03 13:17] hoangoclan commented on #34469
Hi @engcom-Hotel ,
I see it appear in exception.log on the product, but I have not been able to reproduce it. I'm just trying to give everyone more information that this issue seems to appear in Magento 2.4.2, reCAPTCHA v3 Invisible on the storefront.

[2021-11-03 14:09] m2-assistant[bot] opened #34523 "[Issue] Fixed typo in tracking.phtml - renamed JS-functions "currier" to "carrier""
This issue is automatically created based on existing pull request: magento/magento2#33414: Fixed typo in tracking.phtml - renamed JS-functions "currier" to "carrier"

---------
### Description (*)

While implementing a custom shipping carrier I mentioned some typos in the JS-handler-functions used in the Magento_Shipping/view/adminhtml/templates/order/tracking.phtml:

- bindCurrierOnchange
- curr

[2021-11-03 14:11] m2-assistant[bot] opened #34524 "[Issue] Fix language in cookie_status.phtml"
This issue is automatically created based on existing pull request: magento/magento2#33742: Fix language in cookie_status.phtml

---------
The cookie disabled message contains a poorly-worded sentence. This is a suggested fix to the sentence. Dropped "in the case".

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual

[2021-11-03 14:18] m2-assistant[bot] opened #34525 "[Issue] Bug Fix: Missing region on shipping with some saved addresses"
This issue is automatically created based on existing pull request: magento/magento2#34482: Bug Fix: Missing region on shipping with some saved addresses

---------

### Description (*)
When shipping using a saved address outside of the US/CA the `dest_region_code` is empty.   For example a saved address in the UK will expose the problem. I traced the issue back to the Customer\Model\Address\Abstr

[2021-11-03 15:24] kolaente commented on #22824
It looks like this is happening again. This time it seems related to customer sessions instead of caching. Not directly in Magento but [here](https://github.com/colinmollenhour/php-redis-session-abstract/blob/master/src/Cm/RedisSession/Handler.php#L562).

It's not 30-45 seconds bad, but an initial load still takes ~3 seconds. Subsequent requests are faster, but pagespeed visits your site usually o

[2021-11-03 17:48] mzenner1 opened #34527 "Page Builder module has very broad slider css rule that overrides all buttons on the site"
### Summary (*)
vendor/magento/module-page-builder/view/frontend/web/css/source/content-type/slider/_default.less
This file has an un-nested less rule for "a.button" which conflicts with all anchor tags with a class of button on an entire website (not limited to just page builder pieces).

### Examples (*)
Line is highlighted below
& when (@media-common = true) {
    div[data-content-type='slider'

[2021-11-03 18:51] andrewbess commented on #32252
Hello there.
Try to run tests from directory `dev/tests/integration`.
It works for me.

cc @delyriand @bgorski

[2021-11-03 18:54] minhluan259 commented on #19737
Simple solution:
Change in file vendor/magento/module-cms/Helper/Wysiwyg/Images.php
[code]
to
[code]

Result:
[code]

[2021-11-03 19:11] vivekchoudhari commented on #33869
Probably this is not an issue, but the way checks for Payment Method need to be added is bit different?

The checks of Payment Method is also handled using the interface
```Magento\Payment\Model\Checks\SpecificationInterface ``` and ``` Magento\Payment\Model\Checks\SpecificationFactory```

So we need to add a custom mapping and pass this as an argument in di.xml

So something like below
[code]
Our

[2021-11-04 00:42] multipasko commented on #30128
@gregorybesson thanks for your code. How is it going to work if product out of stock wants to get back to be "in stock".
It seems your code would clear the cache only when getting to out of stock and not do it again when the inventory gets back positive.

[2021-11-04 06:36] ihor-sviziev commented on #34415
@sidolov FYI I set priority to P1 as this issue prevents logging in to the admin

[2021-11-04 06:39] ihor-sviziev commented on #34472
@sidolov FYI I set priority to P1 as this issue prevents placing an order using PayPal Payflow Pro

[2021-11-04 07:12] engcom-Delta commented on #34521
Hi @hans-vereyken,
Could you please specify the 3rd party extension which you had tried to reproduce this issue?

In fact , I checked in Data base for the columns specified with respect to table names.

![order_grid_table](https://user-images.githubusercontent.com/51681379/140272103-68ba1692-7ccc-4ad4-a72c-bc517886b017.JPG)
![sales_order](https://user-images.githubusercontent.com/51681379/14027211

[2021-11-04 07:14] engcom-Hotel commented on #34220
Dear @Revengance1024,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-04 07:14] #34220 closed, assigned to engcom-Hotel

[2021-11-04 07:15] engcom-Hotel commented on #34035
Dear @giedriusmarkevicius,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-04 07:15] #34035 closed, assigned to engcom-Hotel

[2021-11-04 07:34] hans-vereyken commented on #34521
It's the Phoenix Media Tradebyte Connector module (Phoenix_TradebyteConnector), but it's proprietary, so I can't provide you the code.
The module takes the CHANNEL_ID from an order in Tradebyte (tb.one) and places it in the sales_order.increment_id field. Such a CHANNEL_ID can be 50 characters and is used as an identifier for syncing further order updates (payment, invoicing, shipment, credit memo

[2021-11-04 07:43] ilnytskyi commented on #34394
Faced similar issue, when wanted to add new items in different area
https://github.com/magento/magento2/issues/34464

[2021-11-04 07:57] engcom-Delta commented on #34508
Hi @stupachenko,
We have observed that Sku price is not reflecting on frontend with updated price in Admin portal(Backend) .
Scenario 1:
1. Create a configurable product with different prices for color sku's
2. Observe that price is not reflecting on frontend as we configured in backend.

Hence marking that issue is reproducible on Magento 2.4 Develop.
Please find the attached video for reference.

[2021-11-04 08:04] andrewbess commented on #34518
Closed due to the WebApi Tests are launched

[2021-11-04 08:04] #34518 closed, assigned to andrewbess, karyna-t

[2021-11-04 08:04] andrewbess commented on #34500
Closed due to the WebApi Tests are launched

[2021-11-04 08:04] #34500 closed, assigned to nobody

[2021-11-04 09:30] engcom-Hotel commented on #34183
Hello @proseLA,

We have tried to reproduce the issue in Magento 2.4-develop branch but for us, this is not reproducible. Please have a look at the below video for reference:
https://user-images.githubusercontent.com/51681618/140289752-f5b31864-bda0-488f-a02e-f0e5f96b5cdd.mov

Please let us know if we missed anything in order to reproduce the issue.

Thanks

[2021-11-04 09:34] engcom-Hotel commented on #34502
Hi @vipin12117,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4.3 but the category page position sorting works as expected, it sorts the product as per the position set to the products.

Steps followed to reproduce issue:
1. Go to Catalog -> Category -> Select Category/Sub Category.
2. Go to the “Products In Category” tab and set the position as per your need

[2021-11-04 09:38] engcom-Hotel commented on #34494
Hi @Any-Documentation-Would-be-Great,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-develop but the delete address functionality is working as expected and it is deleting the user address on delete activity.

Steps followed to reproduce issue:
1. Visit the Customer->All Customer-> (Select any customer)-> Go to Address tab.
2. Add a new address if it does not

[2021-11-04 09:51] Aurinho97 opened #34530 "Uncaught Error: [object Object]"
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. Scenario performed in b2b
2. Mobile display using Firefox browser
3. Log in to account
4. Company account page displayed
5. Add product to cart
6. Go to checkout page
7. Make an order
8. When page starts to refresh, the console error occurs (Uncaught Error: [object Object])

### Expected result (*)

1. No error in console wind

[2021-11-04 09:51] vipin12117 commented on #34502
I have to add one line in fulltext collection in render before filter to
fix that in vendor folder directly.

$this->setSearchOrder('position', 'asc');

Can you try to set 0 for 2 products and possibly to sort by first by
position asc and then product id desc like MySQL was doing in 2.3?

On Thu, 4 Nov 2021, 3:05 pm Abhinav Pathak, ***@***.***>
wrote:

[2021-11-04 10:27] pmzandbergen opened #34531 "Backend throws PHP Fatal TypeError when session storage is empty"
**Description**
When the admin session storage is empty, a PHP Fatal TypeError occurs:
[code]
Please note that line numbers might be different in the current version, the problem however still exists.

**Since**
_Introduced with MC-34197:_
https://github.com/magento/magento2/commit/67fae82c6278827f2c9b0f63083486a9d7740366
_Specific:_
https://github.com/magento/magento2/blob/6b196b5df43f63c7364f7e1

[2021-11-04 11:09] ChameleonDevil commented on #33101
I see alot of downvotes, basically because: What you actually inadvertently do when you disable the module, is to completely disable a new security feature created by Magento core, from the official documentation a better explanation than I can:

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/security/content-security-policies.html

Perhaps you should try to look at re-enabling `Magen

[2021-11-04 11:23] andrewbess opened #34532 "Fix Magento custom error handlers to ignore Deprecations for PHP 8.1"
### Description (*)
We have a lot of errors when running Integration, WebApi and other tests due to https://wiki.php.net/rfc/deprecations_php_8_1.
Also, a lot of Magento features are broken in PHP 8.1.
We need to fix this problem using fix of the Magento custom error handlers in `bootstrap.php` files.

[2021-11-04 11:58] ihor-sviziev commented on #34532
Hi @andrewbess,
I think hiding deprecations might introduce security issues. I strongly NOT recommend doing so.

[2021-11-04 12:12] simonmaass commented on #34531
related... https://github.com/magento/magento2/issues/34415

[2021-11-04 12:53] andrewbess opened #34533 "Add fixes to make `elasticsearch/elasticsearch` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `elasticsearch/elasticsearch` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/elastic/elasticsearch-php).

[2021-11-04 12:58] andrewbess opened #34534 "Add fixes to make `jms/metadata` composer dependency compatible with PHP 8.1."
### Description (*)
Some problems have been found in `jms/metadata` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/schmittjoh/metadata).

[2021-11-04 14:25] MrBlueEyez opened #34535 "Typo for catalogpermissions_category indexer batchsize in env.php"
When trying to adjust the indexer batch_size for the catalogpermissions_category index I walked into the following issue.
The file `Magento\CatalogPermissions\Model\Indexer\Product\IndexFiller` tries to use the value set by [this guide](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/indexer-optimization.html#setting-batch-size-with-environment-variables), however in the code there is

[2021-11-04 15:30] Any-Documentation-Would-be-Great commented on #34494
I'll attach a video of my process but what the hell is number 2 talking about? "Verify the logged issue for PHP/Env and try to delete the address after resolving the PHP/env issue."

Do you guys have an actual support system anywhere in existence? Why are we paying for a service that hosts it's "Ticket System" on GITHUB? Seriously. You should be able to know exactly what environment I'm running. Y

[2021-11-04 15:45] live4soccer7 commented on #34472
That's great to hear. I look forward to seeing the resolution. We have had to switch payment gateways until this is resolved.

[2021-11-04 16:03] gvasilakiss commented on #33101
@magento give me 2.4-develop instance

[2021-11-04 16:13] andrewbess opened #34538 "Add PHP 8.1 compatibility to `magento/semver`"
Add PHP 8.1 compatibility to magento/semver
### What needs to be done:
 - Review the dependencies of magento semver <https://github.com/magento/magento-semver>
 - List the dependencies that are not compatible with PHP 8 (`composer why-not php:8.1`)
 - Update dependencies to PHP 8 compatible versions (composer.json, composer.lock, code changes if necessary)
 - Test the library on PHP 8.1 and 7.4
 -

[2021-11-04 16:15] andrewbess commented on #34517
Closed due to a change in strategy

[2021-11-04 16:15] #34517 closed, assigned to andrewbess, SilinMykola, anzin, karyna-t

[2021-11-04 16:15] andrewbess commented on #34516
Closed due to a change in strategy

[2021-11-04 16:15] #34516 closed, assigned to andrewbess, SilinMykola, anzin, karyna-t

[2021-11-04 16:18] andrewbess commented on #34499
Closed due to a change in strategy

[2021-11-04 16:18] #34499 closed, assigned to anzin

[2021-11-04 16:21] andrewbess opened #34539 "Add fixes to make `league/flysystem` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `league/flysystem` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/thephpleague/flysystem).

[2021-11-04 16:31] pmathbliss commented on #19710
I fixed a 2.2 by commenting out the first is_array of an or in Magento\Catalog\Model\Product;\Image::isCached()

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Model/Product/Image.php

Does any one know what isCached means in this context? Does it mean the url/uri is a cached path? The hash will always be a hash since it includes the configurations.
Should the file e

[2021-11-04 16:55] SilinMykola commented on #34534
@andrewbess On branch master this module already have needed changes.

[2021-11-04 17:10] SilinMykola commented on #34539
@andrewbess I made a [PR](https://github.com/thephpleague/flysystem/pull/1374)

[2021-11-04 17:38] millennialdeveloper commented on #33157
What shipping address are we supposed to set via setShippingAddressesOnCart?
The customer sets the shipping and billing address through Paypal, doesn't Magento have access to them?

[2021-11-04 18:47] binbee opened #34540 "GraphQL returns wrong product image URL"
**Preconditions(*)**
1. Magento CE 2.4.3 installed with template
2. Created the category, products and all details
3. Test the category products and images in website. All are working fine in website
4. Tested the GraphQL with Altair and all products were returning with all images.
5. Update the product images with new image.
6. Website is working fine and all updated images are displaying in webs

[2021-11-04 20:41] lewisje commented on #31753
@MirkoHuff, I've tried [a later PR](https://github.com/magento/magento2/pull/31769/files) by gcampedelli, putting the patched file into `Magento_ProductVideo/web/js/` inside of a custom admin theme.

[2021-11-04 20:44] lewisje commented on #31759
@andy-aware, put the patched file from [this PR](https://github.com/magento/magento2/pull/31769/files) by @gcampedelli into `Magento_ProductVideo/web/js/` inside of a custom admin theme, to fix your problem.

[2021-11-04 21:05] sidolov commented on #32821
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32792 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [716ee723402491a503f07c5d9390d83c279ab3b6](https://github.com/magento/magento2/commit/716ee723402491a503f07c5d9390d83c279ab3b6)
 - [3f0219e606af27c47226ccd15981ac2cc62a8793](https://github.com/magento/magento2/commit/3f0219e606af27c47226ccd15

[2021-11-04 21:05] #32821 closed, assigned to Usik2203

[2021-11-04 21:05] sidolov commented on #34315
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34022 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [865bf66c8955f18d86052bc8d9d0e6e517b4f25a](https://github.com/magento/magento2/commit/865bf66c8955f18d86052bc8d9d0e6e517b4f25a)
 - [0919deb92ceff2d7cebfa0d58ac429986b12d09e](https://github.com/magento/magento2/commit/0919deb92ceff2d7cebfa0d58

[2021-11-04 21:05] #34315 closed, assigned to AnnaAPak

[2021-11-04 21:05] sidolov commented on #34317
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34256 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [72d76fcd3005722bda9f167f163363ee486c3947](https://github.com/magento/magento2/commit/72d76fcd3005722bda9f167f163363ee486c3947)
 - [aafadcfc6549a043ba9208cce097c5e652a613be](https://github.com/magento/magento2/commit/aafadcfc6549a043ba9208

[2021-11-04 21:05] #34317 closed, assigned to kate-kyzyma

[2021-11-04 21:05] sidolov commented on #34314
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34110 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [1d178a9e4cf8559ee74bd0033c5b02595712f87c](https://github.com/magento/magento2/commit/1d178a9e4cf8559ee74bd0033c5b02595712f87c)
 - [efe3d45b21dbe0f9b822fddf1c63e191786232a1](https://github.com/magento/magento2/commit/efe3d45b21dbe0f9b822fd

[2021-11-04 21:05] #34314 closed, assigned to kate-kyzyma

[2021-11-04 21:05] sidolov commented on #34313
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34099 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [a38ed7e586a5fedccc498def60aae49fbd436f81](https://github.com/magento/magento2/commit/a38ed7e586a5fedccc498def60aae49fbd436f81)
 - [d063a3478928cd4fa0e2327490193e68cc4576a3](https://github.com/magento/magento2/commit/d063a3478928cd4fa0e232

[2021-11-04 21:05] #34313 closed, assigned to kate-kyzyma

[2021-11-04 21:05] sidolov commented on #34311
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34051 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [1c355743de1052d9cdbb989669be8edf0e8284f0](https://github.com/magento/magento2/commit/1c355743de1052d9cdbb989669be8edf0e8284f0)
 - [2742d8344156811c89c3143cd95ce7a82526b2a3](https://github.com/magento/magento2/commit/2742d8344156811c89c314

[2021-11-04 21:05] #34311 closed, assigned to kate-kyzyma

[2021-11-04 21:05] sidolov commented on #34312
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34075 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [36ad6b75064d924cdcc7efd3533a10528e1f4f5c](https://github.com/magento/magento2/commit/36ad6b75064d924cdcc7efd3533a10528e1f4f5c)
 - [76a5004953c4335a47f0ed843011c8818adeb893](https://github.com/magento/magento2/commit/76a5004953c4335a47f0ed

[2021-11-04 21:05] #34312 closed, assigned to kate-kyzyma

[2021-11-04 21:05] sidolov commented on #33531
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33530 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [fafdb234186d92b2e00df4ad562b85fc91d091d7](https://github.com/magento/magento2/commit/fafdb234186d92b2e00df4ad562b85fc91d091d7)

The fix will be available with the upcoming release.

[2021-11-04 21:05] #33531 closed, assigned to sergiy-v

[2021-11-04 21:52] xmav commented on #34533
@magento export issue to Jira project AC as story

[2021-11-04 22:06] github-jira-sync-bot opened #34541 "[Magento OS] Update declared PHP version"
* Update root composer.json / metapackage and composer.json file for each module - set required php version to 
[code]

* <https://github.com/magento/magento2]
* Update required dependencies
* Create a temporary branch for Framework if needed, see [https://github.com/magento/partners-magento2-infrastructure/commit/823fd5c053b4767d6359b6ae05450a79d8a272a2#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49

[2021-11-04 22:11] github-jira-sync-bot opened #34542 "PHP 8.1 support for magento-infrastructure codebase"
ToDo
* Analyze source code and fix PHP8.1 compatibility issues
* Update PHP version in composer.json from "<sub>7.4.0||</sub>8.0.0||~8.1.0"
* Update dependencies to versions supporting PHP 8.1 in composer.json. Ensure the project can be installed by the composer on both PHP 8.1 and PHP 7.4 environments.
* dependencies for infra-tools and mchi updated to latest version and in sync with root compose

[2021-11-04 22:21] #34501 closed, assigned to nobody

[2021-11-04 22:24] xmav commented on #34441
Please exclude issues with "Deprecation Notice" from the scope of this ticket

[2021-11-04 22:35] #34376 closed, assigned to nobody

[2021-11-04 22:42] #34509 closed, assigned to anzin

[2021-11-04 22:53] xmav commented on #34505
Postponed till appropriate way for resolving issue with passing null to non-nullable arguments discovered
Deprecation notice will be suppressed for tests branches only for now

[2021-11-04 23:04] github-jira-sync-bot opened #34543 "Update laminas/laminas-code composer dependency to the latest version"
Update laminas/laminas-code composer dependency to the latest version with support of PHP 8.1

[2021-11-05 02:01] xmav commented on #34532
@ihor-sviziev Thats will not be merged to mainline. Thats temporary solution to unblock rest of the PHP8.1 related tasks. Eventually those deprecation notices will be fixed

[2021-11-05 02:22] cpartica commented on #34266
That will work. Plz link that Pr to the issue when you have it.

[2021-11-05 02:34] cpartica commented on #31351
It is somehow similar but not the same.
The #27600 purpose was to add query in GQL so you could translate a phrase.
This one is different because the phrases we return are not properly translated.

It is true that we want translations on the frontend application, but that's done through error codes. Until we reach that phase, and we're far from it graphql schema wise, we need these phrases to be l

[2021-11-05 03:20] binbee commented on #34540
Self assigned this

[2021-11-05 06:49] ihor-sviziev commented on #34543
Hi @xmav,
In the 2.4-develop branch we have dependency to the latest available version.
https://github.com/magento/magento2/blob/2b598554720fe15017dbae64c24d778e206e94db/composer.json#L40
https://github.com/laminas/laminas-code/releases/tag/4.4.3

[2021-11-05 08:26] tuanpt-0634 commented on #30214
Hi @HenKun @dtamajon @ia-gaurav
FYI, I think it is fixed by this commit https://github.com/magento/magento2/commit/aa38466d5222ea0923a339922a185098a661b490

[2021-11-05 08:53] mcapronextzodiofr opened #34544 "deleted"

[2021-11-05 08:54] #34544 closed, assigned to nobody

[2021-11-05 08:55] MeCapron opened #34545 "PHP Version error do not send a proper code error"
### Summary (*)

If the PHP version is not the one needed by Magento 2, we only get a message and a return code 200.

### Examples (*)

[code]

It slows down the potential tracking of issues when multiple servers are involved. Health tracking tools will not see the error because the response is a 200.

I know that this is an infrastructure related issue but it could happen on misconfigured servers

[2021-11-05 09:26] Hexmage opened #34546 "[GraphQl] Cart error messages are faulty"
### Preconditions (*)

1. Magento 2.4.2+

### Steps to reproduce (*)

1. Create a cart
2. Add 2 products to the cart with at least 4 quantities each.
3. Set the quantity of added products below the quantity in the cart.
4. Retrieve cart through graphql
[code]

### Expected result (*)

1. A error message which tells me which item in the cart causes the error. So that we can give correct feedback to

[2021-11-05 10:26] andrewbess opened #34547 "Add new sniff `Magento2.Functions.DeprecatedFunction` into `magento-coding-standard`"
### Description (*)
The RFC proposes to deprecate the listed functionality in PHP 8.1 and remove it in PHP 9 - [PHP RFC: Deprecations for PHP 8.1](https://wiki.php.net/rfc/deprecations_php_8_1)
We need to add new sniff for functions
- mb_check_encoding() without argument
- get_class(), get_parent_class() and get_called_class() without argument - if it needed

**ToDo:**
Add sniff to [magento-coddin

[2021-11-05 10:36] andrewbess opened #34548 "Add functions to sniff `Magento2.Functions.DiscouragedFunction` of the `magento-coding-standard`"
### Description (*)
The RFC proposes to deprecate the listed functionality in PHP 8.1 and remove it in PHP 9 - [PHP RFC: Deprecations for PHP 8.1](https://wiki.php.net/rfc/deprecations_php_8_1)
We need to add deprecated functions into sniff `Magento2.Functions.DiscouragedFunction` for functions from RFC exclude of
- mb_check_encoding() without argument
- get_class(), get_parent_class() and get_cal

[2021-11-05 11:23] karyna-tsymbal-atwix commented on #34533
possible fix https://github.com/elastic/elasticsearch-php/pull/1175

[2021-11-05 13:06] xmav commented on #34543
Hi @ihor-sviziev!
let me update this ticket to make it more clear what need to be done.

[2021-11-05 14:02] malero opened #34550 "Magento session ends after making a GraphQL request"
### Preconditions (*)
1. New issue when upgrading one of our sites from 2.3 to 2.4
2. The following commit has caused the issue
[937a3e2d16183c3e9dd9220ce383e578a2dff50e](https://github.com/magento/magento2/commit/937a3e2d16183c3e9dd9220ce383e578a2dff50e)

### Steps to reproduce (*)
1. Login to a Magento store and start a session
2. Make a GraphQL request. I'm not sure if all queries are affected

[2021-11-05 14:35] bas-hendriks opened #34551 "Mobile and desktop image showing at 768px when using pagebuilder"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Add an image to a page using the pagebuilder

### Expected result (*)

1. Show the mobile version of the image

### Actual result (*)

1. The mobile and desktop version of the image is shown on 768px, since this is a very common width (iPad portrait) this should be fixed
2. As shown in the screenshots below the 768px media

[2021-11-05 14:37] rossparachute commented on #18838
Hey folks,

**Issue Still Persists**
For what it's worth, we've encountered this issue today:
- Magento v2.3.6
- Magento Paypal v100.3.6.

**Possible Causes**
The why isn't really 100% clear but it could be related to the order's "email_sent" attribute not being set properly. Which other modules should check for before sending the e-mail via the order sender classes.

Possibly the other code sendi

[2021-11-05 15:46] sidolov commented on #34435
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34302 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [67c83d9f2b6d4ea44ab8e38711adb92d53b4e6c6](https://github.com/magento/magento2/commit/67c83d9f2b6d4ea44ab8e38711adb92d53b4e6c6)
 - [f550f195db5b616eac28d6f4d3f6ff1d01bc6898](https://github.com/magento/magento2/commit/f550f195db5b616eac28d6

[2021-11-05 15:46] #34435 closed, assigned to kate-kyzyma

[2021-11-05 15:46] sidolov commented on #34512
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34298 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [90e3b3a555e4a78b6a001850de9e5a009d47d145](https://github.com/magento/magento2/commit/90e3b3a555e4a78b6a001850de9e5a009d47d145)
 - [8710edf8487cc31bf72efe63253f6eef2dc02229](https://github.com/magento/magento2/commit/8710edf8487cc31bf72efe

[2021-11-05 15:46] #34512 closed, assigned to kate-kyzyma

[2021-11-05 15:46] sidolov commented on #34511
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34400 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [2d2a20a4fd7bae5adb1095248a71d3b33acd068a](https://github.com/magento/magento2/commit/2d2a20a4fd7bae5adb1095248a71d3b33acd068a)
 - [3f45e23a43d807fadbdccc53f9d59dbaf3fda394](https://github.com/magento/magento2/commit/3f45e23a43d807fadbdccc

[2021-11-05 15:46] #34511 closed, assigned to kate-kyzyma

[2021-11-05 15:46] sidolov commented on #34510
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34418 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [94a7cdc71175841cabea52d597fe6d45edea716f](https://github.com/magento/magento2/commit/94a7cdc71175841cabea52d597fe6d45edea716f)

The fix will be available with the upcoming release.

[2021-11-05 15:46] #34510 closed, assigned to kate-kyzyma

[2021-11-05 15:46] sidolov commented on #34414
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34410 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [9972de05b32557998674a528c7b32c3f82dde0b5](https://github.com/magento/magento2/commit/9972de05b32557998674a528c7b32c3f82dde0b5)
 - [c934b510419356b9e369c185bb3b69d055e18897](https://github.com/magento/magento2/commit/c934b510419356b9e369c1

[2021-11-05 15:46] #34414 closed, assigned to kate-kyzyma

[2021-11-05 15:46] sidolov commented on #34513
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34185 by @fredden in 2.4-develop branch
Related commit(s):
 - [209b24bcb9e449123689817512e65d8e9eda32e0](https://github.com/magento/magento2/commit/209b24bcb9e449123689817512e65d8e9eda32e0)
 - [bdfd02ae0d06943a9aa440f3da6e489019ca77b0](https://github.com/magento/magento2/commit/bdfd02ae0d06943a9aa440f3da

[2021-11-05 15:46] #34513 closed, assigned to fredden

[2021-11-05 15:46] sidolov commented on #34422
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34419 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [ec0e64904fe0b4795fa3059f89f45c867870d3a5](https://github.com/magento/magento2/commit/ec0e64904fe0b4795fa3059f89f45c867870d3a5)
 - [2377b2fc4f860a1f9f6c7f0bd0905d9c1ccf679c](https://github.com/magento/magento2/commit/2377b2fc4f860a1f9f6c7f

[2021-11-05 15:46] #34422 closed, assigned to kate-kyzyma

[2021-11-05 15:46] sidolov commented on #34483
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33851 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [6c1807be1904232b877dabaadff8e6a810d16b30](https://github.com/magento/magento2/commit/6c1807be1904232b877dabaadff8e6a810d16b30)
 - [a35ee4e05f591c9ab9cf28326ffdaa55c541a01f](https://github.com/magento/magento2/commit/a35ee4e05f591c9ab9cf28

[2021-11-05 15:46] #34483 closed, assigned to vovayatsyuk

[2021-11-05 16:03] michaellehmkuhl commented on #34324
It appears that the switch from MSP_TwoFactorAuth to Magento_TwoFactorAuth removed the "Trust this device" functionality. There is no config setting to allow for it, and no checkbox present in any of the 2FA templates in Magento 2.4.3-p1.

Also, `module-two-factor-auth/Setup/Patch/Schema/CopyTablesFromOldModule.php` seems to migrate the old `msp_tfa_trusted` table to `tfa_trusted` and then promptl

[2021-11-05 16:55] aelmizeb commented on #33770
`main.CRITICAL: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '30307912' for key 'PRIMARY', query was: INSERT  INTO `catalog_url_rewrite_product_category` (`url_rewrite_id`,`category_id`,`product_id`) VALUES (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?, ?, ?), (?,

[2021-11-05 17:03] vincen2b commented on #25221
Looks like a possible fix [MC-42758](https://github.com/magento/magento2/commit/0de4f962b654f73959c5cc0fe05b3867092377f5) was [merged](https://github.com/magento/magento2/commit/943cd753879ceccff38adc30d129715b68b909ba) on August 10, the same date 2.4.3 was released.

The branch 2.4-develop is up-to-date with the fix, but not the 2.4.3 release branch.

I don't know much about Magento releases. Sho

[2021-11-05 18:27] marcelloinfoweb commented on #5356
Some problem in Magento 2.4.3

[2021-11-05 19:23] ankitsaini00 opened #34553 "This page builder is not working properly"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-11-05 19:26] ankitsaini00 commented on #34553
pagebuilder

[2021-11-05 20:46] #30692 closed, assigned to yogeshkarodiya

[2021-11-06 20:30] bjornmeat commented on #34553
Hi @ankitsaini00 - Provide a set of clear steps to reproduce the issues you face, so it is possible to understand.

[2021-11-06 20:37] bjornmeat commented on #32754
@GuiltyNL Have you tried tuning the parameters for:

session-save-redis-max-concurrency

https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-session.html

[2021-11-06 20:46] bjornmeat commented on #34515
Hi @TekniskSupport - I believe this issue should be directed to Klarna. https://marketplace.magento.com/klarna-m2-checkout.html#product.info.details.support

[2021-11-07 06:28] vipin12117 commented on #34502
Did you try and get a solution for this?

On Thu, 4 Nov 2021, 3:21 pm Vipin Garg, ***@***.***> wrote:

[2021-11-07 09:10] ioweb-gr commented on #32754
The recommendation is to set to 10% of the php processes of the server. For me with about 90 fpm processes concurrently I raised from 6 to 9

Then just for kicks raised to

15 and 30. The issue remains, in certain page loads it would take 1.5 to 5 seconds longer waiting on the redis session to start. I profiled with blackfire and other profilers continuously

I could only mitigate this by offloadi

[2021-11-07 11:42] ioweb-gr commented on #23251
I'm just writing here my experience regarding this.

In our websites without running

`composer dump-autoload -o --apcu`

we're getting 1.5 seconds slower execution speeds due to file loading by composer.

By running just

`composer dump-autoload -o`

we're getting errors like above.

It seems in devdocs  https://devdocs.magento.com/guides/v2.4/performance-best-practices/deployment-flow.html there

[2021-11-07 19:28] ebanolopes commented on #23262
Hello, this is an old one, but I had some issues with images on my store on this scenario: when the resized image was not on images cache, then the first time it was requested an empty image was returned. The second request and on everything was working. But we had a CDN caching images, so, many times the empty images end up cached on CDN.

The issue was a PHP file with two leading spaces at the t

[2021-11-08 02:43] bettymch opened #34561 "Embeded videos on Product Pages not appearing on mobile devices"
### Preconditions (*)

1. 2.2.2
2.

### Steps to reproduce (*)

1. All embedded videos on product pages across our entire website are not visible to users when viewing the website from their mobile devices, iPhone or android.
2.

### Expected result (*)

1. We'd like the embedded videos to display within the mobile version's product pages.
2.

### Actual result (*)

1. There is simply no embedded

[2021-11-08 05:09] webgility-amazonapi commented on #34178
Hi @engcom-November ,

One more customer is facing the similar issue. Now this issue has started trending. Here are the details:
Description:
We are getting the option in order response but we are not getting the option in product response from this client store to map the proper value for the option.

**Order Response:**
API URL: https://www.lectronfuelsystems.com/rest/V1/orders/21332
Method: GET

[2021-11-08 06:52] krishprakash commented on #34391
Hi @Danish34. Feel free to reopen once you confirm that issue reproduce on latest 2.4 develop instance.
Thanks.

[2021-11-08 06:52] #34391 closed, assigned to krishprakash, engcom-Delta

[2021-11-08 06:55] krishprakash commented on #34320
Hi @nafees1988. Feel free to reopen once you confirm that issue reproduce on latest 2.4 develop instance with all reproducible steps.
Thanks.

[2021-11-08 06:55] #34320 closed, assigned to krishprakash, engcom-November

[2021-11-08 07:38] andrewbess commented on #34539
Changes have been delivered

[2021-11-08 07:38] #34539 closed, assigned to SilinMykola

[2021-11-08 07:40] andrewbess commented on #34534
Hello @SilinMykola
Thank you for update
Issue closed due to update above

[2021-11-08 07:40] #34534 closed, assigned to nobody

[2021-11-08 07:54] engcom-Hotel commented on #34561
@magento give me 2.4-develop instance

[2021-11-08 07:55] engcom-Hotel commented on #33479
Dear @Meberem,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-08 07:55] #33479 closed, assigned to engcom-Hotel

[2021-11-08 07:57] engcom-Hotel commented on #27450
Dear @wahidnory,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-08 07:57] #27450 closed, assigned to engcom-Hotel

[2021-11-08 07:59] engcom-Hotel commented on #32700
Dear @Eddcapone,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-08 07:59] #32700 closed, assigned to engcom-Hotel

[2021-11-08 08:11] Green2Matter commented on #34324
So, is "trusted device" functionality going to be restored? If not, I'll remove this module and/or install 3rd party module or  simply grant access to admin folder by IP address...

[2021-11-08 08:11] engcom-Hotel commented on #34561
Hello @bettymch,

We have tried to reproduce this issue on Magento 2.4-develop, but we are unable to reproduce this issue. We have tried it for the Vimeo video (https://vimeo.com/253989945) and it is working as expected.

Please have a look at the below screenshot for reference:

![WhatsApp Image 2021-11-08 at 1 37 16 PM](https://user-images.githubusercontent.com/51681618/140706184-a73d8e30-9123-4

[2021-11-08 08:15] engcom-Hotel commented on #34553
Hello @ankitsaini00,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-11-08 08:16] t-heuser opened #34562 "magento/magento2-base module dependency issue"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Use [roave/security-advisories](https://github.com/Roave/SecurityAdvisories) to check for vulnerabilities in your dependencies

### Steps to reproduce (*)

1. Run `composer require --dev roave/security-advisories:dev-latest` or `composer update --dry-run roave/security-advisories` (if package already installed)

### Expected result (*)

1. The process

[2021-11-08 08:16] m2-assistant[bot] opened #34563 "[Issue] Add loading lazy for also for ko templates"
This issue is automatically created based on existing pull request: magento/magento2#34558: Add loading lazy for also for ko templates

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has

[2021-11-08 08:25] m2-assistant[bot] opened #34564 "[Issue] Add preload support for images/fetch via XML/Priority Hints Support"
This issue is automatically created based on existing pull request: magento/magento2#34560: Add preload support for images/fetch via XML/Priority Hints Support

---------
fetch: Resource to be accessed by a fetch or XHR request, such as an ArrayBuffer or JSON file. If a critical area is made via Ajax call, it can also be triggered earlier via perload. This can affect different pages, so this shoul

[2021-11-08 09:20] engcom-Hotel commented on #34551
Hello @bas-hendriks,

We have tried to reproduce the issue in Magento 2.4-develop, but the issue is not reproducible for us. Please have a look at the below screenshot for reference (For iPad Portrait mode):
<img width="1424" alt="Screenshot 2021-11-08 at 2 47 51 PM" src="https://user-images.githubusercontent.com/51681618/140715800-32fspecific 06-a980-40f3-8041-79fe2fc32206.png">

For us the singl

[2021-11-08 09:33] Jilco opened #34565 "Magento 2.4.3 add minimum qty to wishlist"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Admin - Catalog - Products - Edit - Quantity - Advanced Inventory  - Minimum Qty Allowed in Shopping Cart - 0.5 ,  Qty Uses Decimals - Yes  (Set 0.5 minumum qty in product)

2. Front end - add product to wishlist with minimum qty (by default sets to 0.5)

### Expected result (*)

1. 0.5 added to wishlist

### Actual result

[2021-11-08 09:35] Jilco commented on #34565
@magento give me 2.4.3-p1 instance

[2021-11-08 09:53] Jilco commented on #34565
Confirmed
![Naamloos](https://user-images.githubusercontent.com/23727130/140720892-eba47bbd-4166-49ee-a362-da5d8af5912d.jpg)

[2021-11-08 10:06] engcom-Hotel commented on #34562
Hello @oneserv-heuser,

Thanks for posting this issue!

The issue is reproducible for us and I agree with your point. So we are confirming this issue.

Thanks

[2021-11-08 10:16] 1si11cs122 opened #34566 "Connection "default" is not defined"
getting Connection "default" is not defined when we run magento setup:upgrade in dockerfile. Below is my dockerfile

FROM bitnami/magento:2.4.2
WORKDIR opt/bitnami/magento
COPY . .
RUN composer require --no-update --dev magento/ece-tools magento/magento-cloud-docker
RUN composer update
RUN composer install
RUN magento module:enable --all
RUN magento setup:upgrade
RUN magento setup:di:compile

Plea

[2021-11-08 10:36] engcom-Hotel commented on #34566
Hello @1si11cs122,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-11-08 10:42] norgeindian commented on #27474
@sdzhepa , this is still a bug. Please be so kind and open this ticket again.

[2021-11-08 10:48] andrewbess opened #34567 "Fix Integration Tests to be compatible with PHP 8.1"
### Description (*)
We run builds on PHP 8.1 and have results provided below:
- Failed 298
- Broken 1672
- Passed 9915
- Skipped 179

We need to fix all failed and broken tests.

### Related issue (*)
- https://github.com/magento/magento2/issues/34568
- https://github.com/magento/magento2/issues/34569

[2021-11-08 10:50] norgeindian commented on #29734
Still an issue in 2.4.3-p1

[2021-11-08 10:53] andrewbess opened #34568 "[Magento OS] Fix fixtures for Integration Tests to be compatible with PHP 8.1"
### Description (*)
We run builds on PHP 8.1 and have results provided below:
- Failed 298
- Broken 1672
- Passed 9915
- Skipped 179

Some problems related from wrong fixtures

### Related issue (*)
- Parent issue - magento/magento2#34567

### Expected result (*)

1. The count of failed and broken tests should be less then provided in description

### Actual result (*)

1. Current count of the fai

[2021-11-08 10:55] andrewbess opened #34569 "Fix Magento OS codebase for Integration Tests to be compatible with PHP 8.1"
### Description (*)
We run builds on PHP 8.1 and have results provided below:
- Failed 298
- Broken 1672
- Passed 9915
- Skipped 179

A lot of problems related from the wrong types of returned data in codebase

### Related issue (*)
- Parent issue - magento/magento2#34567

### Expected result (*)

1. The count of failed and broken tests should be less then provided in description

### Actual resul

[2021-11-08 10:57] Hexmage opened #34570 "[GraphQl] Categories from root categories of other websites are returned."
### Preconditions (*)

1. Magento 2.4.2-p1
2. Two Websites with different root categories

### Steps to reproduce (*)

1. Create a product
2. Assign the product to both websites
2. Add the product to a subcategory of both root categories.
3. Request the product through GraphQl using the Store header of the first website.
[code]

### Expected result (*)

Only returns categories that are in the webs

[2021-11-08 11:01] engcom-Hotel commented on #34550
Hello @malero,

Thanks for posting this issue!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. Please let us know the specific version you upgraded. It helps us in the reproduction of the issue.

Thanks

[2021-11-08 11:14] andrewbess opened #34571 "Add fixes to make `webonyx/graphql-php` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `webonyx/graphql-php` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/webonyx/graphql-php).

[2021-11-08 11:19] andrewbess opened #34572 "Add fixes to make `vlucas/phpdotenv` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `vlucas/phpdotenv` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/vlucas/phpdotenv).

[2021-11-08 11:21] andrewbess opened #34573 "Add fixes to make `tomzx/php-semver-checker` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `tomzx/php-semver-checker` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/tomzx/php-semver-checker).

[2021-11-08 11:44] ghost opened #34574 "In-Store delivery: Unable to place order via PayPal through Braintree (by Gene)"
The issue is reproduced on Magento **CE/EE v2.4.3**
### Preconditions (*)

1. In-Store Delivery is enabled
2. Google Distance Provider is configured
3. Several sources with assigned stock are created and there:
- Use as Pickup Location  = Yes
4. PayPal through Braintree is enabled
5. Several items are created and assigned to the created sources

### Steps to reproduce (*)

1. Go to the Storefront

[2021-11-08 12:51] KCzaplinskaAcc opened #34576 "Admin - Filters are not applied on grids after refresh page"
### Preconditions (*)
1. Magento 2.4.2-p2
2. It happens only in our environments - not in the local Magento 2.4.2-p2 instance.

### Steps to reproduce (*)
1. Go to the admin panel.
2. Go to Catalog -> Products  (it also can be other pages with grid, like customers, pages, block, etc)
3. Set filter (no matter which filter)
4. Apply the filter.
5. The products show correctly.
6. Go to another page (

[2021-11-08 12:54] ajijshekh123 commented on #34576
@magento give me 2.4-develop instance

[2021-11-08 13:01] kolaente opened #34577 "Unable to add another product to cart when one with qty = 1 is already in cart"
As a customer, it is impossible to add a product to cart when another product with a qty = 1 is already in the cart.

Magento version 2.4.2

Maybe related to https://github.com/magento/magento2/issues/25675

### Preconditions (*)

1. Have at least two products
2. Set one in the admin panel to stock qty = 1:
![image](https://user-images.githubusercontent.com/13721712/140745933-de03ea74-6703-4bd8-be

[2021-11-08 13:02] kolaente commented on #34577
@magento give me 2.4-develop instance

[2021-11-08 13:21] kolaente commented on #34577
It looks like the issue was cause by a third party module in the shop. Not an issue in Magento Core.

[2021-11-08 13:21] #34577 closed, assigned to nobody

[2021-11-08 14:00] ajijshekh123 commented on #34576
Hi @kczaplinska,
I have reproduced the issue on the below steps:
1. Login Admin > Filter the product throw the SKU
2. Review the CMS (Block & Pages) grid.
3. Again navigate the Product page > The Product grid is showing properly with the proper filter method.
4. After a few minutes, Session is completed and The system is logout.
5. Again Login with the same credentials > Navigate the Catalog > Pro

[2021-11-08 14:17] engcom-November commented on #34570
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
Only categories that are in the website's root category are returned - No issue:
![image](https://user-images.githubusercontent.com/60198231/140757531-2d9a6031-b2fc-43bb-80a0-653868f84df7.png)

![image](https://user-images.githubusercontent.com/60198231/140757486-5b4a897a-3449-4d36-9b2f-b1c0bdb79b1b.png)
@Hexmage k

[2021-11-08 14:19] Hexmage commented on #34570
@engcom-November
Your test is exactly what is wrong.
It shouldn't show both default and france. It should only show either default or france based on which website your storeview is in.

[2021-11-08 14:42] m2-assistant[bot] opened #34579 "[Issue] Replace repetitive actions with Action Groups in CatalogProductListWidgetOperatorsTest"
This issue is automatically created based on existing pull request: magento/magento2#34491: Replace repetitive actions with Action Groups in CatalogProductListWidgetOperatorsTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

Tests are refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)

### Questions or commen

[2021-11-08 14:44] engcom-November commented on #34565
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

![image](https://user-images.githubusercontent.com/60198231/140761302-2382cee0-52fd-4799-bbb7-56001c06f94b.png)
![image](https://user-images.githubusercontent.com/60198231/140761369-0c392ecc-9d28-4f73-8bd4-ea6ea52fc1a5.png)

Expected behavior:
![image](https://user-images.githubusercontent.com/60198231/140761460-d076c

[2021-11-08 14:46] engcom-Delta commented on #34455
Hi @TsjechieXperience,
We tried to retest it , in fact we observed that issue is reproducible .we are not able to select beyond the current month from the calendar widget. Unable to move to next month or previous month from the calendar widget.
Please find the attached video for reference and added the label 'Issue confirmed'

https://user-images.githubusercontent.com/51681379/140762324-7afb2a20-c

[2021-11-08 14:58] sdzhepa opened #34580 "TEST ISSUE"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-11-08 15:11] engcom-Delta commented on #34421
Hi @trunglv,
Kindly provide steps to reproduce the issue .

Thanks

[2021-11-08 15:18] engcom-Delta commented on #34201
Hi @pdeboolw,
is this issue resolved ? Please confirm.

Thanks

[2021-11-08 16:11] anzin commented on #34541
@magento I am working on this

[2021-11-08 16:20] HarmonyDumas opened #34581 "Problem of displaying configurable product page and allocated store different."
### Preconditions (*)
Following the update of magento 2.4.3.
We have a configurable product.
Some categories on some countries, went up empty on our site. We understood that this problem was due to the configurable product.

### Steps to reproduce (*)
On my configurable form I have 3 simple products open on 10 Stores.
On one of the 3 simple products, I do not have the same number of open Store bec

[2021-11-08 16:24] trunglv commented on #34421
I will do it as soon as possible.

On Mon, Nov 8, 2021 at 10:11 PM Penchalaiah K ***@***.***>
wrote:

--
Trung, Luu Van
01206-004-222* - Skype: mr.trunglv *
*https://www.fixbugs.xyz <https://www.fixbugs.xyz>*
*https://www.betagento.com <https://www.betagento.com>*

[2021-11-08 16:25] trunglv commented on #34421
Hi @engcom-Delta : I will do it as soon as possible.

[2021-11-08 17:02] SilinMykola commented on #34571
@andrewbess On branch master this module already have needed changes.

[2021-11-08 17:16] gregorybesson commented on #30128
Hello @multipasko you're fully right, this use case should be taken into account. It's not the case in the fix I've proposed

[2021-11-08 17:53] madonzy commented on #30508
Hello guys, I'm interested, could I do the same with Magento 2.3.5? I'm aware of invalidating the cache after product disappears or appears on the storefront.

[2021-11-08 18:24] wasimbajwa9 commented on #34427
@magento I am working on this

[2021-11-08 18:25] wasimbajwa9 commented on #34427
@magento add to contributors team

[2021-11-08 18:29] wasimbajwa9 commented on #34427
@magento I am working on this

[2021-11-08 18:53] nbennett25 opened #34583 "2.3.5-p2 Elastic Search does not asc/desc position sort products on category page"
### Preconditions (*)

1. Magento 2.3.5-p2
2. Elastic Search installed and enabled
3. Sample data installed

### Steps to reproduce (*)

1. Go to Category page (Women's > Jackets)
2. Click descending sort

### Expected result (*)

1. Products are desc sorted by product id/created at

### Actual result (*)

1. No changes to product order

---
Please provide [Severity](https://devdocs.magento.com/gu

[2021-11-08 18:54] nbennett25 commented on #34583
@magento give me 2.3.5-p2 instance

[2021-11-08 18:59] nbennett25 commented on #34583
@magento give me 2.3.5-p2 instance

[2021-11-08 19:05] nbennett25 commented on #34583
@magento give me 2.3.5-p2 instance

[2021-11-08 22:33] pmonosolo commented on #31993
Have you figured this issue out? I'm getting a similar issue - cached image on a Amasty XSearch plugin sometimes generate, sometimes not.

[2021-11-08 23:36] bytes-max opened #34584 "Unable to unlink child product from parent product via LinkManagementInterface"
### Preconditions (*)

1. have products assigned to a configurable product
2. these child products have 0 qty in stock
3. Magento 2.4.3

### Steps to reproduce (*)

1. handle the simple products in code
2. try to get the parent product
3. try to unlink products via `LinkManagmentInterface` based on parent SKU and Simple SKU

### Expected result (*)

1. the product is unlinked from its parent
2.

#

[2021-11-09 03:18] xmav commented on #34572
Please check that dependency still installed(use latest MFTF from develop branch in Magento)

[2021-11-09 03:25] davidduong90 commented on #21452
I used Magento 2.4.2 and I have the same issue.

[2021-11-09 04:23] 1si11cs122 commented on #34566
Hello  @engcom-Hotel,
Please find the below details. Please help me in fixing it.
Summary of the issue: Connection "default" is not defined when we run magento setup:upgrade

Information on your environment : i am trying it in my local and in future this will pushed into git for CI/CD pipeline and also The image build will be used kubernetes

Steps to reproduce: Try to build the below dockerfile f

[2021-11-09 06:24] engcom-Alfa commented on #34508
We have re-test the same scenario in the cloud env.

[2021-11-09 06:25] engcom-Delta commented on #34583
Hi @nbennett25 ,
We have verified on Magento 2.4 Develop latest branch(frontend).it works fine , we could see the changes to product order.
Hence added the label 'Needs update'.
Please find the attached snapshots for reference.
![Before DescendingSort](https://user-images.githubusercontent.com/51681379/140873123-223a5b75-33da-4471-ae1f-7e12574515d2.JPG)
![After DescendingSort](https://user-images.

[2021-11-09 06:35] engcom-Alfa commented on #34455
Thanks for your contribution @TsjechieXperience
Please provide me any additional steps that are missed in the description; for eg- Have you created any custom widget to enable the calendar as such?
HI @engcom-Delta Kindly test the same scenario in the Magento 2.4-develop instance. Before confirming the issue, that should be reproducible on Magento 2.4-develop instance!

[2021-11-09 07:29] engcom-Hotel commented on #32970
Dear @colyield ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-09 07:29] #32970 closed, assigned to engcom-Hotel

[2021-11-09 07:31] engcom-Hotel commented on #34551
Hello @bas-hendriks,

Thanks for the update. As per your last comment, it seems that this issue has been fixed in Magento 2.4-develop branch. So we are closing this issue.

Thanks

[2021-11-09 07:31] #34551 closed, assigned to engcom-Hotel

[2021-11-09 07:35] engcom-Hotel commented on #33122
Hello @convenient,

The issue is reproducible in Magento 2.4-develop branch. So we are confirming this issue.

Thanks

[2021-11-09 08:11] qlhu opened #34585 "Persistent cart causes "Invalid state change requested" error"
### Preconditions (*)
1. Persistent Shopping Cart is enabled and Persistent Lifetime is configured longer than Cookie lifetime
2. Redis is configured for session and disable_locking = 1
3. Only a payment method is enabled

### Steps to reproduce (*)
1. Add a product to cart
2. Log in an account
3. Delete all cookies which will be expired no later than PHPSESSID
4. Visit checkout page and shipping

[2021-11-09 08:14] engcom-Alfa commented on #34508
As per the scenario 2 here, what does _sometimes_ means here. Is it _after sometime of the price update_?

[2021-11-09 08:18] wilfriedwolf opened #34586 "Wrong Tax calculation on Creditmemo (under certain circumstances)"
### Preconditions (*)

1. 2.4.3
2. Create Creditmemo in Backend
3. Sometimes they can not be displayed as there is an Exception in the template (see below)

### Steps to reproduce (*)

1. Hard to reproduce, anyhow: If you have mainly zero tax articles and create creditmemos they can not be displayed (Exception in the template), if the order with the same ID as the creditmemo contains articles with

[2021-11-09 08:30] ihor-sviziev commented on #24245
This issue was closed due to the lack of attention from the community - it looks like not so many people are getting it. It also wasn't fixed in 2.4.x

[2021-11-09 08:49] andrewbess commented on #34571
Closed due to reason described above

[2021-11-09 09:17] engcom-Hotel commented on #34455
Hello @TsjechieXperience,

We have tried to reproduce this issue in Magento 2.4-develop branch but this is not reproducible for us. For us, the date picker is showing and we can navigate the date picker for any date. Please have a look at the below video for reference:

https://user-images.githubusercontent.com/51681618/140896308-1e7339ed-c0ae-4304-9274-6ff424bb1f51.mov

We have followed steps to

[2021-11-09 09:17] BrentRobert commented on #30085
@sidolov can we reopen this? As it's still an ongoing issue.

[2021-11-09 09:27] braders commented on #34202
I have also faced this issue on Magento EE 2.4.3. It seems to affect sites that have the CheckoutStaging module enabled (which is the default) and who are using custom extension attributes for addresses. Custom extension attributes for addresses are documented at https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_new_field.html, and so should be something Magento fully supports.

For

[2021-11-09 09:28] densen45 opened #34588 "When removing a Simple Product from a Grouped Product, the first product is moved near the end of the list"
### Preconditions (*)

1. Magento 2.4.2-p2

### Steps to reproduce (*)

1. Create a Grouped Product and add at least four Simple Products
2. Save the Grouped Product
3. Edit the Grouped Product and remove one of the Simple Products (not the first one at position 0)

### Expected result (*)

1. The Simple Product is removed
2. The order of the other products doesn't change

### Actual result (*)

1

[2021-11-09 09:28] densen45 commented on #34588
@magento give me 2.4-develop instance

[2021-11-09 09:43] densen45 commented on #34588
I was able to reproduce this issue on the provided vanilla Magento instance.

[2021-11-09 09:55] anzin opened #34589 "Fix disable autovivification on false"
Auto-creation of arrays from false value is not allowed since PHP 8.1 - PHP RFC: Deprecate autovivification on false.

ToDo:

Fix all detected places in
 - [x] https://github.com/magento/magento2
 - [x] https://github.com/magento/partners-magento2ee
 - [x] https://github.com/magento/partners-magento2b2b
 - [x] https://github.com/magento/partners-magento2-infrastructure
 - [x] https://github.com/ma

[2021-11-09 09:59] densen45 commented on #34588
This issue is caused in the `dynamic-rows.js` in the function `_updateData` at lines 955 ff.
https://github.com/magento/magento2/blob/f3e8f25987c7748d432cbe9d0fa2c54ff2a097bb/app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows.js#L955-L958

After saving the Grouped Product the first Simple Product gets the position 0 (before saving the position is 1). When removing a Simple Product the

[2021-11-09 10:18] ihor-sviziev commented on #33445
@engcom-Hotel, could you add more details about what PR you are talking about? Was this issue fixed? Where can we find related changes?
Now I see the only one PR linked to this issue that still not merged yet https://github.com/magento/magento2/pull/33902

[2021-11-09 10:22] engcom-Hotel commented on #34584
Hello @nopenopenope,

We have tried to reproduce the issue in Magento 2.4-develop branch but we are unable to do so. We have used class `app/code/Magento/ConfigurableProduct/Model/LinkManagement.php` and call function `removeChild` to unlink the child from the configurable product. We are able to unlink the product successfully.

Please try it in this way and let us know if this can resolve your p

[2021-11-09 10:42] daancart2quote commented on #33964
After updating from 2.3.5-p2 to 2.3.7-p2, we found the same issue.

`\Magento\CatalogInventory\Model\Quote\Item\QuantityValidator\Initializer\quoteItem:123`
[code]

This multiplies the quoteItem qty (the bundle) with each qty of a bundle option. The last option qty remains the multiplier of the resulting qty of the bundle.

Indeed the module `Magento_Inventory` is disabled.

Finding this has cost

[2021-11-09 11:04] daancart2quote commented on #33964
Investigating this further, this line was changed in the last release by this commit: https://github.com/magento/magento2/commit/dac067c9e8c056e5aedeba62cf3d58b10bc90d8e

[code]

The note "if option's qty was updates we also need to update quote item qty" and the line `$quoteItem->setData('qty', (int) $qty);` were there since Magento 2.0.0.0-dev66, and `$qty` has indeed the correct value.

The ori

[2021-11-09 11:05] engcom-Delta commented on #34588
Hi @densen45,
We tried to reproduce the issue  on Magento 2.4 Develop latest branch and found that issue is reproducible.
Please find the attached video for reference. Added the label 'Issue confirmed'

https://user-images.githubusercontent.com/51681379/140912867-6881ea38-271a-4e25-8054-923836d7b602.mp4

Thanks

[2021-11-09 11:05] engcom-Hotel commented on #34545
Dear @MeCapron,

Thanks for posting the issue!

I agree with your point hence confirming this issue.

Thanks

[2021-11-09 11:18] nopenopenope commented on #34584
Hi @engcom-Hotel, were these products with stock? I am only able to reproduce my issue with children that have 0 stock.

[2021-11-09 11:56] srsathish92 commented on #24245
Temporary fix:

[code]

[2021-11-09 12:10] fredden commented on #34562
For reference, there are several security issues listed here affecting version 3.4.7 of tinymce: https://snyk.io/vuln/npm:tinymce

[2021-11-09 12:37] doninAtwix commented on #32805
@magento I am working on this

[2021-11-09 12:49] devchris79 commented on #34583
This issue appears in quite a few open issues for 2.4, it appears to now be fixed in the 2.4 develop code branch.

I posted a while back for 2.4.3 #32522 and came up with a change to the setCollection function to get my ordering to work. The current develop code doesn't implement the same change though, so I am guessing the root cause was fixed rather than my cover up.

[2021-11-09 12:50] engcom-Alfa commented on #32590
Needs to be re-tested once in 2.4-develop, as the patch has been given as per above comments.

[2021-11-09 13:05] doninAtwix commented on #32805
@magento add to contributors team

[2021-11-09 13:07] Axel29 opened #34590 "Invalid quote shipping address data when switching address"
### Preconditions
1. Customer with at least two addresses in its address book

### Steps to reproduce
1. Login to a customer account
2. Create at least two addresses: one with a company as default shipping address + one without company
3. Go to the checkout
4. Switch to the address without company

### Expected result (*)
1. The `$shippingAddress` variable in `\Magento\Quote\Model\ShippingMethodMa

[2021-11-09 13:10] doninAtwix commented on #32805
@magento I am working on this

[2021-11-09 13:37] simonmaass commented on #16779
i can confirm this issue in 2.4.3-p1

[2021-11-09 14:03] simonmaass commented on #19230
can still confirm this issue in 2.4.3-p1

[2021-11-09 14:07] andrewbess opened #34591 "Add fixes to make `fgrosse/phpasn1` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `fgrosse/phpasn1` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/FGrosse/PHPASN1).

[2021-11-09 14:09] andrewbess opened #34592 "Add fixes to make `allure-framework/allure-php-api` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `allure-framework/allure-php-api` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/allure-framework/allure-php-api).

[2021-11-09 14:16] daancart2quote commented on #33964
For anyone that needs a quick patch for this. (Presumably users on 2.3.7-p2, 2.4.2-p2, and 2.4.3)

`composer.json require:`
[code]

`composer.json extra:`
[code]

`[root]/patches/composer/33964-bundles-multiply-with-inventory-disabled.diff`
[code]

[2021-11-09 14:17] simonmaass commented on #34337
can also confirm in 2.4.3-p1

[2021-11-09 14:18] SilinMykola commented on #34591
A PR with necessary changes have been made [https://github.com/fgrosse/PHPASN1/pull/87](https://github.com/fgrosse/PHPASN1/pull/87)

[2021-11-09 14:26] nbennett25 commented on #34583
Thx @engcom-Delta  - but as noted in the preconditions of the issue, the Magento version should have been 2.3.5-p2, not 2.4. Nice to hear that it's fixed in 2.4 though.

@devchris79 I tried applying your patch to a clean 2.3.5-p2 install, and no luck - the asc/desc still does not change the product order.

@magento give me 2.3.5-p2 instance

[2021-11-09 14:29] SilinMykola commented on #34592
A PR with necessary changes have been made [https://github.com/allure-framework/allure-php-api/pull/81](https://github.com/allure-framework/allure-php-api/pull/81)

[2021-11-09 15:29] enl commented on #34318
@ihor-sviziev, you can try to pass last `$info` reference to `idn_to_ascii`, it can will contain `results` key.

[code]

And `info` looks like this after execution (I json-encoded it for readability):

[code]

Although, as you can see, the result does not contain trailing hyphen, so the solution definitely needs some more black magic.

`errors` is a bitset of IDNA_ERROR_* constants, as described h

[2021-11-09 16:14] Hanhan1989 commented on #30168
The problem still exists in Magento 2.4.2-p1.  The problem appears when you enable Page builder, and click on select from media Gallery button. See attached image please

![image](https://user-images.githubusercontent.com/11807165/140961761-00d3b382-8c5c-4f0a-b265-03c4a0a9d94b.png)

[2021-11-09 16:34] hostep commented on #34324
@nathanjosiah: do you know the answer to this question? For me it's also one of the reasons to always throw out the built-in TFA module from Magento, that I need to repeat my two factors every single time I login to the backend of a shop and it's insanely annoying. Having the option back to allow to "trust this device" would be a good solution here.

[2021-11-09 16:42] srsathish92 commented on #24245
@magento I am working on it

[2021-11-09 17:40] nathanjosiah commented on #34324
This was intentionally removed and we currently have no plans to re-add it. In general security controls are annoying and affect performance/flexibility/etc in some way so it's usually a tradeoff. In our case we removed this feature.

And since we're on the topic I feel like I need to disclaim: We do not recommend to disable 2fa. Keep in mind that many merchants blindly follow advice like "just di

[2021-11-09 17:54] kandy commented on #23251
I don't think that "Expected result" is proper.
Based  on [composer documentation](https://getcomposer.org/doc/articles/autoloader-optimization.md#autoloader-optimization)

and "setup:di:compile" command certainly falls under this definition

So, maybe best way to document this behavior on devdocs (https://devdocs.magento.com/guides/v2.4/performance-best-practices/deployment-flow.htm we recommend

[2021-11-09 18:31] Green2Matter commented on #34324
@nathanjosiah whats/was the issue with "trusted devices" option. It's good "convenience vs security" trade off. Banks also do apply similar policy and I can't see a reason why not to do it in online shop. I'm going to remove magento 2fa and install 3rd party extension providing "trusted devices" option...

[2021-11-09 18:40] nathanjosiah commented on #34324
We may be able to make an argument for restoring some version of this behavior but this isn't something we could fit into our planning internally at this point. Just so you have context, I don't have the exact number in front of me but something like 80% of compromised stores are due to compromised credentials. Basically this is the most serious security concern outside of not keeping stores updat

[2021-11-09 19:22] hostep commented on #34324
Security implementation is indeed always a compromise between usability and strict security, but if feel like Magento always prefers strict security over usability. Unfortunately this sometimes annoys their users so much that they are willing to workaround the security measures completely in order to have an efficient way of working with their shop software.
I think Magento needs to gently introdu

[2021-11-09 20:25] emrahuyanik opened #34594 "ReAdding configurable Item to cart"
### Preconditions (*)

1. Magento version 2.4.3 ( might be lower version )
2. At least one Configurable product should be in the cart.
3. Magento\Checkout\Model\Cart::save method should be triggered twice.

### Steps to reproduce (*)

1. Add configurable items to the cart.
2. Trigger an endpoint which is saving cart 2 times.

**Note for below**: I couldn't find any double cart saving at the same r

[2021-11-09 20:42] jsamhall commented on #33565
Chiming in here to share that I too am experiencing this same bug.

In our case, the REST request is:
`https://www.storeurl.com/index.php/rest/V1/customers/search?searchCriteria%5Bfilter_groups%5D%5B0%5D%5Bfilters%5D%5B0%5D%5Bfield%5D=updated_at&searchCriteria%5Bfilter_groups%5D%5B0%5D%5Bfilters%5D%5B0%5D%5Bvalue%5D=2021-10-09+06%3A55%3A20&searchCriteria%5Bfilter_groups%5D%5B0%5D%5Bfilters%5D%5B0%

[2021-11-09 22:27] andrewbess commented on #34496
Closed due to fixes have been delivered

[2021-11-09 22:27] #34496 closed, assigned to SilinMykola

[2021-11-09 22:51] nopenopenope commented on #27898
Seems like the same behaviour is existing in Magento 2.4.3 - and its pretty annoying, because we have to touch all categories and hide them with a fix from our Navigation afterwards. Jesus! Magento2, what are you doing?!

[2021-11-10 00:24] ioweb-gr commented on #23251
Regarding this if I don't add --apcu I still get errors during execution. It only seems to work with apcu enabled.

[2021-11-10 07:59] Raffail commented on #28320
Hi!
Magento 2.4.3-p1 still has this issue with missing reply-to header.
Is there a fix that can be implemented by user with low programming skills, please?
Thank you.

[2021-11-10 08:16] engcom-Delta commented on #34594
Hi @emrahuyanik ,
Kindly provide more clarity on step# 2 which says endpoint, it would be great if you can specify the endpoint details.

Thanks

[2021-11-10 08:23] in-session opened #34595 "Standardisation of JavaScript libraries and integration of necessary functions also for the later creation of a theme"
I would now like to raise a fundamental question: Would it not make sense to better standardise the modules in the future?
Perhaps the community could also be involved a little more in the development or survey.

As a small example for the slides:
Pagebuilder uses slick slider, 50% per module developer use owl or swiper.

I therefore ask myself why, in this case, one doesn't decide in favour of th

[2021-11-10 09:01] #34541 closed, assigned to anzin

[2021-11-10 09:05] in-session opened #34596 "Integration of a default lazyload library"
The other question about the adaptation is whether it would not make sense to integrate a Lazyload libary? 99% of the lazyload libary triggers the images with the img class name lazyload and data-src. I would also suggest lazysizes here in combination with Pagebuilder. We have had the best experience with this, also because it is not dependent on jquery.
It also works automatically in conjunction

[2021-11-10 09:21] engcom-Hotel commented on #34590
Hello @Axel29,

We have tried to reproduce this issue in Magento 2.4-develop but we are not able to do the same. For us after changing address `company` is set to `null` and `address_id` is showing correct id i.e. 7 for our case, please refer to the below screenshot for reference:

![141085150-eb5e08a8-1bd3-4492-b028-b06b804cf9ab](https://user-images.githubusercontent.com/51681618/141085776-0c638a

[2021-11-10 09:22] Green2Matter commented on #34324
@hostep fully agree! @nathanjosiah if I may suggest: wouldn't have been better to restore 2fa "trust this device" option but with limit of max. days to trust, let's say 14 days...?

[2021-11-10 09:30] ihor-sviziev commented on #34596
Hi @sidolov @xmav @kandy,
Could you take a look on this feature request? What do you think about it?

[2021-11-10 09:30] ihor-sviziev commented on #34595
Hi @sidolov @xmav @kandy,
Could you take a look on this feature request? What do you think about it?

[2021-11-10 09:58] engcom-Hotel commented on #34535
Hello @MrBlueEyez,

Thanks for posting this issue!

The issue is reproducible, it will create an issue in line no. 102 in file `CatalogPermissions/Model/Indexer/Product/IndexFiller.php`, and verifying other files as well, they have `/` in it. You can refer to the below files for this:

- `Catalog/Model/Indexer/Category/Product/Action/Full.php`
- `Catalog/Model/ResourceModel/Product/Indexer/Price/B

[2021-11-10 10:29] engcom-Delta commented on #33943
Hi @onlinebizsoft,
Thank you for raising an issue , Kindly provide issue description, steps to reproduce , actual results and expected results.

Regards,

[2021-11-10 11:37] emrahuyanik commented on #34594
Hi @engcom-Delta

Thanks for the reply. It is really a rare case but it is causing data lost.

I provided 2 alternative ways for reproducing the issue.

[2021-11-10 11:50] murtadha-ahmed opened #34597 "Could Not Parse Elasticsearch URI"
### Preconditions (*)

1. Magento Community V2.4.3-p1 hosted on AWS EC2
2. AWS OpenSearch V1

### Steps to reproduce (*)

1. Create OpenSearch Service in AWS
2. Configure OpenSearch to use master user and password
3. In Magento Configuration, set up the ElasticSearch Configuration to:
[code]
4. Click on `test connection`

### Expected result (*)

A Success Message

### Actual result (*)

Message B

[2021-11-10 12:09] engcom-Hotel commented on #34530
Dear @Aurinho97,

We have tried to reproduce this issue in Magento 2.4-develop with B2b installed, but for us, the issue is not reproducible. Please refer to the below-recorded video and let us know if we missed anything:

https://user-images.githubusercontent.com/51681618/141110396-7d5009ff-e31b-4a98-8f19-210ab8f8c112.mp4

Thanks

[2021-11-10 12:21] TomashKhamlai opened #34598 "Wrong return type in PHPDoc of fetchOne() method in"
### Preconditions (*)

1. You have access to Magento code from IDE (PhpStorm, VSCode, NetBeans)
2. This [line](https://github.com/magento/magento2/blob/ca1b5b6fe9479950e581d13f7ee8659f1fc32fa3/lib/internal/Magento/Framework/DB/Adapter/AdapterInterface.php#L601) can be opened in the IDE on latest 2.4-develop

### Steps to reproduce (*)

1. Use fetchOne() to get row from sales_order in your custom c

[2021-11-10 12:31] modryk opened #34599 "Wrong url rewrite for store view after update category by native magento importer"
Magento 2.3.5 p2 has problem with rewrites on multiple store views after update category product by native importer. We have noticed, that after product category has been updated by native importer, magento cron has create rewrite for each store views which redirect old_ulr_key to default_store_view_url_key.

**This problem does not exist when we update category manualy by admin panel.**

### Prec

[2021-11-10 12:36] anzin commented on #34589
@magento I am working on this

[2021-11-10 13:56] nitindotsquares opened #34600 "Randomly product disappear from search and category on frontend"
We are facing the product disappear issue on magento 2.4.0 version

Magento version 2.4.0

Total catalog size - 2.5 lekh product
category - 1000
store - 7
order - 2 lekh
customer - 5 lekh

we are adding the products everyday on the website

We facing the random product disappear issue on category page becasue of deadlock

some time it happend when indexing in middle

anyone have solution to preven

[2021-11-10 13:59] andrewbess commented on #34547
Fixes have been delivered into magento-coding-standard

[2021-11-10 13:59] #34547 closed, assigned to anzin

[2021-11-10 14:00] andrewbess commented on #34548
Fixes have been delivered into magento-coding-standard

[2021-11-10 14:00] #34548 closed, assigned to anzin

[2021-11-10 14:26] engcom-Hotel commented on #33588
Adding labels again to create a JIRA ticket

[2021-11-10 14:45] engcom-Hotel commented on #34508
@magento give me 2.4-develop instance

[2021-11-10 15:03] engcom-Hotel commented on #34508
Hello @stupachenko,

We have rechecked the issue in Magento 2.4-develop cloud instance and the issue is reproducible for us. We have followed the exact same steps mentioned in the main description. The latest price is not reflected for us as well.

But after clearing cache, and refreshing the frontend, the latest price is reflected. So confirming the issue.

Thanks

[2021-11-10 16:06] warngard commented on #30794
We are experiencing this without migrated data and also without "Account Sharing Options=Global" enabled.

However we are creating customers with the API so this is probably why they don't have the same created in and associated with.

[2021-11-10 16:54] davidduong90 opened #34601 "Advanced Reporting 404 message Magento 2.4.2"
Feedback on page: [/guides/v2.4//reports/advanced-reporting.html](https://docs.magento.com/user-guide/reports/advanced-reporting.html)

### Preconditions (*)
1. Magento 2.4.2
2. Cron work fine

### Steps to reproduce (*)
I have configured advanced reporting for my sub domain https://magiccart.io/tpcm2/

![Screenshot_2](https://user-images.githubusercontent.com/39608917/141154772-7c4d3609-5364-4e60

[2021-11-10 16:56] preeteshtavant opened #34602 "Remember Me Not working"
Magento 2.4.1 remember me not working

### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. Enable persistent cart and enable remember me
2. go to sing in page
3. click on remember me checkbox
4. enter credentials and login
5. after successful login, click on logout
6. again click on sign in

### Expected result (*)

1. It should show username and credentials auto fill, no need

[2021-11-10 17:00] andrewbess opened #34603 "Revert changes added for temporary ignoring Deprecations in PHP 8.1"
### Description (*)
We temporary added fixes in bootstrap files to ignore deprications in PHP 8.1 according to https://wiki.php.net/rfc/deprecations_php_8_1.
It have been made in https://github.com/magento/magento2/issues/34532
However it should be reverted after fully fix all problems.
The list of changed files:
- app/bootstrap.php;
- dev/tests/api-functional/framework/bootstrap.php;
- dev/tests/

[2021-11-10 17:01] hostep commented on #34596
Does this make sense now that [native support to browsers](https://caniuse.com/loading-lazy-attr) for the `lazy` attribute is slowly rising?
Magento should get fewer js libraries now that more and more functionality is added natively to browsers, not more js libraries I believe.

But your question is not only about lazy loading images or iframes and about those other things I have no knowledge.

[2021-11-10 17:06] hostep commented on #34597
Be aware that official OpenSearch support is not included in Magento yet. It's on [the roadmap](https://devdocs.magento.com/release/roadmap.html) though... (that doesn't mean it won't work, it probably means it wasn't fully tested yet)

But good to hear you got it working!

[2021-11-10 17:12] iba-1 commented on #33046
I'm encountering the same error on a clean instance in 2.4.1, could it be possible? Maybe this issue should be reopened?

While I was logged in:
[code]

Got this response:
[code]

[2021-11-10 17:25] andrewbess opened #34604 "Update `phpstan/phpstan` composer dependency to v1.x"
Currently Magento depends on
"phpstan/phpstan": "^0.12.77",

AC:
* upgrade constrain in composer.json to install "phpstan/phpstan"  v1.x.x
* make related changes in `dev/tests` if needed
* verify with PHP7.4 and PHP8.0 (manual & automated tests)

[2021-11-10 17:49] sdzhepa opened #34605 "TEST INTEGRATION"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-11-10 21:37] vacla commented on #34521
@engcom-Delta I don't have access to this issue but I was the one who found this originally, could it be possible to remove "Issue: needs update" with the above answer as answer for your question

[2021-11-11 02:22] engcom-Delta commented on #34602
Hi @preeteshtavant,
We tried to reproduce the issue on Magento 2.4 Develop latest branch. issue is reproducible.
Please find the attached screenshot for reference. added the label  'Issue confirmed'.
![Enable_PersistantRememberme](https://user-images.githubusercontent.com/51681379/141225789-98bb3f87-00af-45fd-b372-6a5cb23dfcfe.JPG)
![RemeberMechecked](https://user-images.githubusercontent.com/5168

[2021-11-11 06:41] engcom-Hotel commented on #34449
Dear @SimonGSGmbH,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-11 06:41] #34449 closed, assigned to engcom-Hotel

[2021-11-11 06:44] engcom-Hotel commented on #34465
Dear @webkul-ajaysaini,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-11 06:44] #34465 closed, assigned to engcom-Hotel

[2021-11-11 06:55] #34597 closed, assigned to nobody

[2021-11-11 06:57] engcom-Hotel commented on #34355
Hello @sphinxstores,

After looking at the logs it seems that the Magento instance is unable to connect with database, as per below logs:

We request you to please check it once and let us know in case you are facing the issue.

Thanks

[2021-11-11 07:34] engcom-Hotel commented on #34600
Hello @nitindotsquares,

Please let us know if you have any errors in the error log file.

Thanks

[2021-11-11 08:14] agubarev-ifuelinteractive opened #34607 "PayPal Payflow Pro 500 Internal Server Error"
The issue https://github.com/magento/magento2/issues/30541#issue-724450589 is still replicated on Magento ver. 2.4.3-p1.
Please review.

[2021-11-11 08:48] cmuench commented on #31428
@sidolov Any chance to publish an official quality patch for that issue?

[2021-11-11 08:48] engcom-Hotel commented on #33770
Hello @burgh8wp,

Thanks for posting this issue!

We have tried to reproduce the issue after upgrading from 2.4.2-P1 to 2.4.3. Below are my findings:

- Previously in Magento 2.4.2-P1, in table `catalog_url_rewrite_product_category` there is not primary key. So rows can be duplicated. Please refer to the screenshot of the table structure in Magento 2.4.2-P1:
<img width="1424" alt="Screenshot 2021-

[2021-11-11 09:04] Thundar commented on #33770
Hello @engcom-Hotel , I found rows are duplicated by the use of this function: https://github.com/magento/magento2/issues/33770#issuecomment-924837177

It can be replicated by the use of Smart Rules for categories, feature from the Adobe Commerce version.

[2021-11-11 09:26] engcom-Hotel commented on #34199
Hello @carloricci84,

Thanks for posting this issue!

The issue is reproducible in the Magento 2.4-develop branch by looking into codebase only. I am attaching a screenshot of the file `app/code/Magento/QuoteGraphQl/Model/Cart/GetCartForUser.php` below for reference:

![image](https://user-images.githubusercontent.com/51681618/141272908-b5cb1972-938f-48a1-a3f1-27da1e2d73f2.png)

`setStoreCurrencyC

[2021-11-11 09:33] engcom-Hotel commented on #34334
Hello @nadroj467,

As per your below comment, it seems that this issue has been resolved. Can we close this issue?

Thanks

[2021-11-11 09:45] leonhelmus commented on #33770
Hey Magento,

Could this change be implemented that @Thundar https://github.com/magento/magento2/issues/33770#issuecomment-924837177 has written. it resolved our issues with duplicate entries. Please at this to the core.

[2021-11-11 10:52] engcom-Hotel commented on #34607
Hello @agubarev-ifuelinteractive,

We have tried to reproduce this issue in Magento 2.4-develop branch but it is not reproducible for us. We request you to help us with the specific condition on which this issue occurs, if possible then screenshot/video as well.

Thanks

[2021-11-11 10:53] puntable commented on #8348
Can confirm this is still happening on M2.4.3

[2021-11-11 12:04] engcom-Hotel commented on #34390
Hello @denis-zyk,

We have tried to reproduce the issue in Magento 2.4.3-p1 version with mentioned steps. But for us, the issue is not reproducible. The whole process is running successfully. Please refer to the below screenshot for reference:
![image](https://user-images.githubusercontent.com/51681618/141294954-f0de1105-2bd5-4165-a37d-d579f37aa4b1.png)

Let us know if we missed anything.

Thanks

[2021-11-11 12:36] andrewbess opened #34609 "Update declared PHP version for Magento Extensions"
* Update composer.json files for each module of the Magento Github Extensions - set required php version to 
[code]

* [https://github.com/magento/partners-magento2b2b]()
* [https://github.com/magento/inventory]()
* [https://github.com/magento/adobe-stock-integration]()
* [https://github.com/magento/security-package]()
* [https://github.com/magento/security-package-b2b]() - community has no permis

[2021-11-11 12:37] anzin commented on #34609
@magento I am working on this

[2021-11-11 13:41] jorgb90 commented on #11692
@rou9e Thanks that helped! Got probe working now instead of removing it! 👍

[2021-11-11 13:47] denis-zyk commented on #34390
Hello @engcom-Hotel,
Have you tried to that with an empty vendor directory, e.g. ```rm -rf vendor/* && composer update```?

[2021-11-11 14:00] Eddcapone opened #34611 "Load values in di.xml from a helper class"
### Summary (*)

Is it possible to load values in the di.xml from a helper class?

I [asked the community](https://magento.stackexchange.com/questions/349471/magento-2-use-helper-in-di-xml), but there is no one who can help me.

  [1]: https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/xml-instructions.html

### Examples (*)

Currently the template is defined like this:

**Company/

[2021-11-11 14:13] Bhavik-kumar commented on #23922
@magento-engcom-team
any plan when this issue will fix?

[2021-11-11 14:46] nbennett25 commented on #34583
@magento give me 2.3.5-p2 instance

[2021-11-11 15:01] #34605 closed, assigned to nobody

[2021-11-11 15:02] sdzhepa opened #34613 "TEST INTEGRATION"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-11-11 15:03] frostblogNet commented on #34248
@akovtun

In my opinion your patch does not fix the hole issue. The problem seems to be that the InputParamsResolver is merging Get parameters and the body. A quick solution for us was to skip get parameters using this code but it is also not a proper solution.

`diff --git a/vendor/magento/module-webapi-async/Controller/Rest/Asynchronous/InputParamsResolver.php b/vendor/magento/module-webapi-asyn

[2021-11-11 15:05] #34613 closed, assigned to nobody

[2021-11-11 15:24] rahimimo opened #34614 "Shipping Address email field is being replaced with the billing address email"
### Preconditions (*)

1. Reproducable on Magento CE 2.4.3-p1
2. Using REST API of magento

### Steps to reproduce (*)

When creating an order out of guest cart is being done, the shipping email is being replaced by the billing email.
1.  Create a guest Cart using a POST request to this endpoint `https://magento.test/rest/default/V1/guest-carts`
2. Add an item to creared the guest cart using this

[2021-11-11 15:57] danielleharvey commented on #15273
@bigbadbaz  did you figure it out? I cannot seem to find a way to do it.

[2021-11-11 16:04] Mavlyan commented on #3923
Still an issue in 2.4.3. Please fix this.

[2021-11-11 16:55] 0xMatt opened #34615 "Tier prices for group visible after logout"
### Preconditions (*)

1. 2.4.3-p1
2. PHP 7.4 - CentOS 8

### Steps to reproduce (*)

1. Log in as customer within a specific group that has tier prices(e.g wholesale)
2. See tier prices for specific customer group
2. Log out
3. Tier prices from specific group visible for NOT_LOGGED_IN customer

### Expected result (*)

1. Expect tier prices for specific groups to disappear when a customer logs ou

[2021-11-11 16:56] 0xMatt commented on #34615
@magento give me 2.4-develop instance

[2021-11-11 18:37] sdzhepa commented on #34494
Hello @Any-Documentation-Would-be-Great

Looking at the comments I assume it's some miscommunication is happened..which lead to the wrong expectation. Sorry for that. Let me try to shed more light on it and provide an explanation

First of all, you are absolutely right - this GitHub repository and tracker is not any kind of official Magento support portal.

**Official Magento support portal: https

[2021-11-11 19:06] ihor-sviziev commented on #34003
@sidolov @sivaschenko why this issue was closed without any comment?

[2021-11-11 19:36] 0xMatt commented on #34615
Doesn't seem reproducible in 2.4-develop.

What was being used for the page cache on this instance, filesystem? Can this be changed to redis?

[2021-11-11 19:38] Any-Documentation-Would-be-Great commented on #34494
Thanks @sdzhepa for giving me a real answer. I cannot submit a ticket still even after creating an account, but that is their problem now!

Nowhere in Magento itself is there any refence to that website for support, or that ticketing system. This is a MASSIVE failure on whoever is in charge of this design. "Report an Issue" Should link to your ticket system, not here. If this is a place for commun

[2021-11-11 19:40] sdzhepa commented on #27474
Hello @norgeindian

I asked the team to check it and provide details

cc: @engcom-Hotel

[2021-11-11 20:12] bigbadbaz commented on #15273
Only by getting this extension. You can create category groups and assign and remove categories at the same time.

https://magefan.com/magento-2-dynamic-categories

[2021-11-11 21:09] markshust opened #34618 "Type error when attempting to log in to admin with PHP 8.1"
### Preconditions (*)

1. Magento 2 on the `platform-health` branch (head at 6e8850bb54955ba911716954f727eafb9b37f5f2)
2. [docker-magento](https://github.com/markshust/docker-magento) running `markoshust/magento-php:8.1-fpm-develop` PHP image (based on `php:8.1.0RC5-fpm-buster`)

### Steps to reproduce (*)
1. Attempt to login to admin at /admin or appropriate admin URI

### Expected result (*)
1.

[2021-11-11 23:02] xmav commented on #34618
Hi @markshust
Please be informed that platform-health holds "work-in-progress" type of code. We are actively working on fixing PHP8.1 compatibility issues and stabilize tests on that branch. We don't expect to deliver changes from that branch to 2.4-develop until that work finished.
That specific issue from your report already fixed(along with a set of other issues) and is waiting for extra code r

[2021-11-11 23:58] #34618 closed, assigned to nobody

[2021-11-12 02:48] ashar01 commented on #33417
@magento give me test instance

[2021-11-12 02:48] ashar01 commented on #33417
@magento give me 2.4-develop instance

[2021-11-12 06:42] xmav commented on #34572
`vlucas/phpdotenv` is no longer in the list of dependencies

[2021-11-12 06:42] #34572 closed, assigned to nobody

[2021-11-12 06:48] engcom-Hotel commented on #34474
Dear @PelirrojosinAlma,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-12 06:48] #34474 closed, assigned to engcom-Hotel

[2021-11-12 07:31] #34604 closed, assigned to hostep

[2021-11-12 07:42] engcom-Hotel commented on #32981
Dear @nizarweb77,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-12 07:42] #32981 closed, assigned to nobody

[2021-11-12 07:50] andrewbess commented on #34609
Closed due to changes have been delivered

[2021-11-12 07:50] #34609 closed, assigned to anzin

[2021-11-12 07:51] andrewbess commented on #34532
Closed due to changes have been delivered to platform-health

[2021-11-12 07:51] #34532 closed, assigned to karyna-t

[2021-11-12 08:26] Nuranto opened #34621 "Unique constraint for attribute labels and option values"
### Summary (*)

When migrating data from M1, using the migration tool, I got duplicate rows for eav_attribute_option_value and eav_attribute_label, leading to front crash or wrong behaviours.

### Examples (*)

- add two rows in eav_attribute_option_value with same option and store ids
- add two rows in eav_attribute_label with same attribute and store ids

### Proposed solution

- Add unique con

[2021-11-12 08:47] webgility-amazonapi opened #34622 "Order download issue: getting access denied error"
### Preconditions (*)

1. Magento ver. 2.4.3
2.

### Steps to reproduce (*)

1. Download orders through order API. Use get method
2. API url used :  REMOVED as customer has security issues
3.  Request header: REMOVED as customer has security issues

### Expected result (*)

1.  Orders should get downloaded without any error.  [Screenshots, logs or description]
2.

### Actual result (*)

1.  Gettin

[2021-11-12 08:50] webgility-amazonapi opened #34623 "Payment method download issue"
### Preconditions (*)

1. Magento ver. 2.4.3
2.

### Steps to reproduce (*)

1. Download payment method. Use get method
2. Request : REMOVED as customer has security issues
3.  Request header : REMOVED as customer has security issues

### Expected result (*)

1. [Screenshots, logs or description]
2. payment methods should be downloaded successfully

### Actual result (*)

1. [Screenshots, logs or

[2021-11-12 09:56] engcom-Hotel commented on #34623
Hello @webgility-amazonapi,

As per the doc, the API endpoint `​/V1​/guest-carts`, used to enable a customer or guest user to create an empty cart and quote for an anonymous customer. Please have a look at below screenshot:

![image](https://user-images.githubusercontent.com/51681618/141447123-f6b07421-bded-417d-ab64-2bf3311b5be3.png)

You might look into `rest/all/V1/guest-carts/<cart-id>/payment

[2021-11-12 10:06] homecoded opened #34624 "API documentation does not match reality for /rest/default/V1/products/attributes/{attributeCode}/options"
### Preconditions (*)

1. Magento 2.4.3
2. PHP 7.4

### Steps to reproduce (*)

1. Check API documentation (esp. Response description) at https://magento.redoc.ly/2.4.3-admin/tag/productsattributesattributeCodeoptions#operation/catalogProductAttributeOptionManagementV1GetItemsGet
<pre>
// sample response for 200 OK
[
  {
    "label": "string",
    "value": "string",
    "sort_order": 0,
    "is_de

[2021-11-12 10:27] anzin commented on #34497
@magento I am working on this

[2021-11-12 10:47] andrewbess opened #34625 "Add a possibility to return data get from DB as string"
According to [this info](https://www.php.net/manual/en/migration81.incompatible.php#migration81.incompatible.pdo.mysql) integers and floats in result sets will now be returned using native PHP types instead of strings when using emulated prepared statements.
We need to add a possibility to change this behaviour.

**To Do**
1. Add additional option with default value into setup:install command
2. D

[2021-11-12 11:13] engcom-Alfa commented on #34154
Thanks for your thoughts on this @hostep; We are going to cross check in 2.4.3-p1 version too and will re-discuss about the consideration of it!
Thanks

[2021-11-12 11:19] davidduong90 commented on #22982
@dev-cogniter Do you find a solution for it?

[2021-11-12 11:24] engcom-Alfa commented on #27474
we are re-opening this issue to cross check again in the 2.4-develop.

[2021-11-12 12:39] mlaurense commented on #12776
I've been able to accomplish this using a before plugin on the prepareFavicon function in Magento\Framework\View\Page\Config\Renderer. You can add your SVG using the addRemotePageAsset function like this:
[code]
You cannot use the addPageAsset function as this will think the SVG is a font and will erroneously add `rel="preload" as="font" crossorigin="anonymous"` to it.

[2021-11-12 13:16] Iamwade opened #34626 "Page scrolling behaves strangely in safari browser"
### Preconditions (*)
1. Magento 2.4.3
2. Safari version 15  (16612.1.29.41.4, 16612)  (It is likely that this error can be reproduced in all safari browsers)

### Steps to reproduce (*)
1. Open project in the safari browser.
2. Add many items to cart (more than 9).
3. Open a mini cart.
4. Hover your cursor over the items in the mini cart and **quickly** scroll through them

### Expected result (*

[2021-11-12 14:06] agubarev-ifuelinteractive commented on #34607
Preconditions (*)
PHP 7.1.33 / PHP 7.3.16.
MySQL 5.7.31 / MariaDB 10.2.21.
Production mode is enabled.
PayPal Payflow Pro payment method is configured.
Debug mode in PayPal Payflow Pro configuration is enabled.

Steps to reproduce (*)
Navigate to storefront.
Login into customer`s account.
Go to the any product page.
Click "Add to Cart".
Open mini shopping cart and click "Proceed to Checkout".
Fill

[2021-11-12 14:23] tommi-martin opened #34627 "Sales Rule Coupons usage is incremented asynchronously but decremented Synchronously"
In Magento 2.4.3 a commit introduced asynchronous incrementation to the sales rule coupon usage system in task MC-29335. However this implementation did not modify the decrement logic, which can lead to database error when coupon usage is being decremented during order cancellation. I would expect that this error is quite rare on actual production servers, however it makes testing and developing p

[2021-11-12 14:51] ThisIsRuddy commented on #34154
Thisssss +1 - it's a bulk API endpoint not a standard one so it should have a lot higher default surely?

[2021-11-12 15:10] ioweb-gr opened #34628 "Duplicated product does not retain store view specific values"
### Preconditions (*)
1. Magento 2.4.2-p1
2. Multiple store views

### Steps to reproduce (*)
1. Create a second store view (e.g. GR)
2. Go to catalog product edit screen and open any product
3. Open the product in default store view
4. Switch to the second store view GR
5. Edit the product name in GR store view and change it.
6. Go back to default store view
7. Check the name and you'll see it's

[2021-11-12 15:10] ioweb-gr commented on #34628
@magento give me 2.4-develop instance

[2021-11-12 15:28] ioweb-gr commented on #34628
@magento give me 2.4.2-p1 instance

[2021-11-12 15:40] ioweb-gr commented on #34628
@magento give me 2.4.3 instance

[2021-11-12 15:47] ioweb-gr commented on #34628
I was able to reproduce up to 2.4.3 on the bot instances.

[2021-11-12 15:59] sidolov commented on #34154
@hostep agree with you, thank you for highlighting this!

[2021-11-12 16:09] DanielRuf commented on #32153
Same here with heredoc in phtml files. It seems we may have to downgrade or otherwise patch thise.

Compressing PHP code generally makes not much sense and leads to such issues. Removing newlines does not make the PHP interpreter faster.

[2021-11-12 16:12] DanielRuf commented on #32153
Is definitely better maintained by one of the core PHP maintainers (Nikita) but keep in mind that it will probably remove comments and a few other things. At least the parser by Nikita does not try to minify PHP code and does not remove newlines.

[2021-11-12 16:13] DanielRuf commented on #32153
Regarding the 7 commits, I will try to revert them locally with some patch files using composer-patches.

Dear Magento 2 devs, please do not reinvent the wheel with such a problematic minifier, regex is voodoo and should be properly tested.

[2021-11-12 16:30] Liv2BF opened #34629 "Magento ver. 2.3.6 Cart Emptying"
### Preconditions (*)

1. Magento 2.3.6

### Steps to reproduce (*)

1. Guest user and Member user
2. Add any product to the basket
3. Add an additional Item to the basket (Basket empties or original item disappears)
4. If you refresh the page it sometimes totally empties the basket

### Expected result (*)

1. Checkout basket with all items

### Actual result (*)

1. Basket removes original item

[2021-11-12 16:47] hostep commented on #32153
@DanielRuf: does https://github.com/magento/magento2/pull/33016 solve your issue?

[2021-11-12 16:53] DanielRuf commented on #32153
We should get rid of this weird template-minifier in general.

I'm currently testing this patch for `vendor/magento/framework`:

[code]

I will test this patch now and will look at the linked PR afterwards. But in general: stop doing this regex stuff, this is black magic and voodoo at the least.

[2021-11-12 16:58] DanielRuf commented on #32153
Thanks, I took a brief look. It seems only a part uses the parser from Nikita and this patch is bigger than I can currently test at the moment (not much time since I only work on the frontend side). Not sure if this will cover our issue (we use Hyva Theme, a child theme based on it and there we have heredoc statements for their modals in two template files).

"Improve template minifier" is not ver

[2021-11-12 17:15] DanielRuf commented on #32153
Still testing. Not sure if https://github.com/magento/magento2/commit/74727b2515d9b17f650bcf7a581d06a8c2358616 is also relevant in our case regarding heredoc statements.

[2021-11-12 17:20] #34058 closed, assigned to nobody

[2021-11-12 17:29] DanielRuf commented on #32153
Ok, seems we also have to revert this one too since the heredoc statements are still compressed / on one line.

[2021-11-12 17:58] DanielRuf commented on #32153
Ah, now I see. Hyva Themes uses inline style like this:

[code]

So there is no trailign semicolon since this is optional by design.

See https://www.php.net/manual/en/language.types.string.php#language.types.string.syntax.heredoc

![grafik](https://user-images.githubusercontent.com/827205/141513116-d323fd54-aa95-4216-b761-1fcd119a9611.png)