[2017-07-17 09:09] makoyfion opened #10257 "Compare products count issue"
After adding products to the compare list the count in the compare-products-link doesn't always show the right number. It looks like on not product(categories)-related pages the number is zero while on other pages including wishlist, login page etc. the number is correct.
How can I correct this?

Thanks

(Magento 2.1.1)

[2017-07-17 09:10] piavgh opened #10258 "Session-based authentication doesn't work"
### Preconditions

1. XAMPP for MacOS 5.6.31 / PHP 5.6.31
2. Magento 2.1.7
3. I followed guideline in this article: http://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-session.html

### Steps to reproduce

1. Create new customer at Magento 2 website
2. Login customer with email/password
3. On the same browser, open new tab
4. Go to http://<magento_host>/rest/V1/cust

[2017-07-17 09:16] webmasterdragon commented on #3917
The same issue here.
How can solve this issue correctly?

[2017-07-17 09:31] iamkdev commented on #5475
I got it in **CE 2.1.7**  as well.

[2017-07-17 09:34] Max-Johns commented on #3917
I have solution of ur issues

On Jul 17, 2017 2:47 PM, "webmasterdragon" <notifications@github.com> wrote:

[2017-07-17 09:46] dmanners commented on #9236
**Updated List of the components as of July**

\# | Component Name <br/> (total usages count) | Module Name | Usages Count
------------- | ------------- | ------------- | -------------
1|Zend_Json (total: 13)|Magento\Customer|1
&nbsp;|&nbsp;|Framework\DataObject.php|1
&nbsp;|&nbsp;|Framework\Controller|1
&nbsp;|&nbsp;|Framework\Json|2
&nbsp;|&nbsp;|Framework\Module|5
&nbsp;|&nbsp;|Framework\Webapi

[2017-07-17 09:46] pmjcreations commented on #9808
Hello @ArthurTransoftgroup, the problem here is not with the code and its implementation. The issue is, the Miscellaneous HTML section and Scripts and Style Sheets section are not pushing the code to the front end. So whatever I add to those sections, the changes aren't reflecting.

[2017-07-17 10:03] vityakopin commented on #8495
Thanks for reporting this issue. I could reproduce the issue only on device with touch screen. Internal ticket MAGETWO-70756 was created.

[2017-07-17 10:32] codekipple commented on #5475
The fix is tagged with 2.2.0-RC1.4 so it looks like it's coming with 2.2.0, I ended up just creating my own block for now instead of trying to use 'Magento\Catalog\Block\Product\ListProduct'

[2017-07-17 10:39] codekipple commented on #7095
I've fixed this issue for my site but it involved overriding the Invoice, Shipment and Creditmemo PDF classes.
I've tracked down the problem with the reversed Hebrew to be an issue with Zend Pdf. My fix currently is to try and detect Hebrew words and to primitively reverse the words so that when Zend Pdf does reverse them it is actually correcting them. It's pretty hacky.

[2017-07-17 10:42] hezide commented on #7095
Whatever solution you have is blessed, could you share it please?

[2017-07-17 10:46] codekipple commented on #7095
@hezide ok, I'll update this question https://magento.stackexchange.com/questions/150820/hebrew-words-in-pdf-invoice-are-reversed-and-currency-symbol-not-showing with my solution. Check back in a couple hours as I'm going to lunch first.

[2017-07-17 11:23] nobuttsalex commented on #6103
Having the same issue in 2.1.7, is there are workaround for the time being?

[2017-07-17 11:28] poojawebkul commented on #9768
@veloraven  thank you for update.

[2017-07-17 11:46] ArthurTransoftgroup commented on #9808
Unfortunately, I can't reproduce this issue, the way you described it. Please open the front end of your website and check your developer tools (browser console) and let me know if you have any errors there. Also, please let me know, what software are you using?  (your browser, extensions, etc.)

[2017-07-17 12:19] codedge opened #10261 "Jquery widget loses "change" event after applied Knockout view model"
When moving a Magento widget, i. e. [`mage.configurable`](https://github.com/magento/magento2/blob/develop/app/code/Magento/ConfigurableProduct/view/frontend/web/js/configurable.js) in to Knockout component, all the before applied `change` events get lost.

In my case I am moving the complete `product-options-wrapper` which holds the configurable product options into a `div` container with my own

[2017-07-17 12:28] pmjcreations commented on #9808
Yes, @ArthurTransoftgroup. For me this is strange. I have a test domain which produces the output as it should be. All changes are reflecting instantly.
Both my test domain and production domain is using the same theme and same version of Magento.
I guessed this might due to issues with any dependencies or the way I installed (I installed with Softaculous). But I have upgraded two version after th

[2017-07-17 12:28] singh190 commented on #3405
Hi, I am getting the same error, please tell me how to solve this issue.
Thank you

[2017-07-17 12:40] ArthurTransoftgroup commented on #9808
@pmjcreations Please provide us your errors from your developer tools (browser console), and if it's possible, attach a couple of screenshots, so we can work together with this problem.

[2017-07-17 12:55] Jeevachezhiyan commented on #7265
Hi,
     I am getting issue below like this but my credentials working fine in magento1.9 but in magento2 it's not working i configured in sandbox mode please check the error below.

<html>
   <head>
       <script>
                   window.location="http://xxxxx/authorizenet/directpost_payment/redirect/x_invoice_num/000000069/success/0/error_msg/Please enter a transaction ID to authorize this pa

[2017-07-17 13:06] Koc commented on #6671
@cpartica @buskamuza can you backport fix for this issue to 2.1.x branch also?

[2017-07-17 13:28] gman-1986 commented on #5836
I have been marking products out of stock in my magento store using the admin panel. These items are not being shown as out of stock on my store front until I run a reindex.

Sorry @romeof1980 I thought you had fixed this issue but there still seems to be a problem.

[2017-07-17 14:02] SanderJP opened #10263 "Cannot re-order Grouped product's children between pages."
### Preconditions
Magento 2.2 RC 1.4 and below
Php 7.0.20
MySQL 5.7.18

### Steps to reproduce
1. Install Magento.
2. Install Sample Data or create 21 simple products.
3. Create Grouped product and add all 21 simple products so you get 2 pages of associated products.
4. Try to re-order the simple product on page 2 to page 1.

### Expected result
A way to move the products between pages.

### Actua

[2017-07-17 14:06] drpit commented on #7624
@gediminaskv  It worked form me on 2.1.7
@joebordo I want to copy this file and put it in my custom theme. What path should I use?

[2017-07-17 14:07] SanderJP commented on #10238
Do you not see the pagination on the bottom of the page?
(clean 2.1.7 with sample data)

![image](https://user-images.githubusercontent.com/2470914/28271829-f91949f0-6b09-11e7-8a1c-7ca5982f11d3.png)

[2017-07-17 14:08] krutkoroma79911 commented on #7626
@oluijks Hi. Thanks for your feedback. The internal ticket was created MAGETWO-70769

[2017-07-17 14:26] SanderJP commented on #10251
@melwinVincent please read the guidelines (https://github.com/magento/magento2/wiki/Issue-reporting-guidelines), specifically: `Before creating an issue ...`. You can ask this question on something like the Magento stackexchange: https://magento.stackexchange.com/
If this problem exists on a clean Magento 2.1.7 instance, rewrite the report to re-produce the issue.

[2017-07-17 14:42] parksddd commented on #10238
I've done some additional testing and it seems to be stemming from a module included with the FreeGo theme called Solwin_SoldOut. Disabling this module will reenable the pagination controls. I'll try and contact the developer to make them aware.

[2017-07-17 14:45] spyrule commented on #7265
@Jeevachezhiyan it looks like your response URL is too long (unless you've modified it): "success/0/error_msg/**Please enter a transaction ID to authorize this payment.**/controller_action_name/directpost_payment/"

[2017-07-17 15:06] SanderJP commented on #10240
@noprobz09 I cannot re-produce this. When I create a product with a clean Magento 2.1.3 install, it'll make one URL rewrite only: `test-product.html >> catalog/product/view/id/1`.
If I add `.html` to the URL key on a product page, the URL becomes: `test-product2-html.html`, so not `.html.html`. Please provide more information if this is still an issue.

[2017-07-17 15:12] pmjcreations commented on #9808
Thank you so much for your promise @ArthurTransoftgroup. Will you find it more useful, if I shared the URL with you?
If yes, http://tshirtmacha.xyz/ is the test account. See the Messenger icon bottom right of the page.
https://threadly.store is the primary domain.

[2017-07-17 15:17] melwinVincent commented on #10251
@SanderJP Done.
https://magento.stackexchange.com/questions/184138/product-add-form-is-not-displaying-in-2-1-7

[2017-07-17 15:46] misha-kotov commented on #10247
Thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with system versions and config, steps to reproduce, actual result and expected result.

[2017-07-17 15:51] TomashKhamlai commented on #9846
Thank you for reporting!

I sent SOAP request with body message that you posted here. Got this
[code]

But when I created a new attribute that was created with attributeCode -135, and applied changes that were proposed by you, I was able to send the SOAP-request with message-body given below:
[code]

 Internal ticket MAGETWO-53431 is already in our bug-tracking system.

[2017-07-17 16:05] gboz17 commented on #6568
I'm having the same problem with 2.1.7.

It is showing up in the email and the customer account section.

[2017-07-17 16:06] romeof1980 commented on #5836
ehi @gman-1986 ,
it appears clear there is 2 different issues here: if you followed my indication checking and cleaning cron_schedule, before troubleshooting anything too complicated you could now try these simple steps as suggested by others in this post:
set the indexer on "update on save"
re-set them on "update on schedule"
`magento indexer:set-mode realtime && magento indexer:set-mode schedule

[2017-07-17 16:33] ashvinim0003 opened #10264 "Class Magento\Catalog\Model\Product\Attribute\Backend\Media does not exist"
On Product Save
Class Magento\Catalog\Model\Product\Attribute\Backend\Media does not exist
/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 93
Any idea ?

[2017-07-17 16:40] 20071313 commented on #4966
Same problem here

[2017-07-17 16:40] 20071313 commented on #4966
any update?

[2017-07-17 16:46] andidhouse commented on #10202
no - this bug is still present in 2.1.7.

The magento team knows this now over 1 year but does not fix this.

[2017-07-17 16:47] SanderJP commented on #10238
Ah good to know you figured it out.
If it isn't an issue anymore, you can close this ticket.

[2017-07-17 16:53] SanderJP commented on #10251
Nice, you can close this issue then.

[2017-07-17 16:54] andidhouse opened #10265 "URL key for specified store already exists - over 51 bugs reported - still not fixed"
Sry to write one more time here but what is happening here with bugreports?

Search for the bug: "URL key for specified store already exists"

Shows 20 open bugreports and 31 closed ones - AND the issue is still present in ALL magento2 versions including the latest release 2.1.7

I really do not know what is happening here?

[2017-07-17 16:58] #10238 closed, assigned to nobody

[2017-07-17 17:08] tjain90 commented on #10247
Hi Flyingmana,

It is due to this page

In Design Configuration :
pub/static/adminhtml/Magento/backend/en_US/Magento_Ui/templates/grid/controls/bookmarks/bookmarks.html/

There is some issue with text.min.js.

Is there any way i can update it or replace it with default.
Please help ! its really urgent.

[2017-07-17 17:55] misha-kotov commented on #10257
Thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with system versions and config, steps to reproduce, actual result and expected result.

[2017-07-17 18:09] timbaker1991 commented on #8532
For what it is worth, I think I have tracked this down as the route cause for some issues around gift message fields in basket not loading as the jQuery has an error. This doesn't explain why other elements do work - but fixing this solved the issue after a considerable amount of time looking in to it.

[2017-07-17 18:36] timbaker1991 commented on #6983
For what it is worth I have just been struggling with this, whilst I never _removed it_ from my custom theme, I had never added the Magento_GiftMessage/layout/checkout_cart_index.xml to the theme, adding this solved it for me.

I can only assume that is is because I had declared Magento_Checkout/layout/checkout_cart_index.xml and so it was looking in the same place for this, and failing as it coul

[2017-07-17 19:00] sammarcus commented on #4331
Still experiencing this on a fresh install of 2.1.7

@archae0pteryx you can try these steps as a (temporary) workaround: http://mccormicky.com/2056/trying-to-login-to-magento-2-dashboard-but-get-stuck-on-its-time-to-change-your-password-page/

[2017-07-17 19:57] batmike commented on #8375
@korostii - I just came across this fix so it hasn't been fixed yet in v. 2.1.7. I copied in the change from commit 1ab9b26 to vendor/magento/module-configurable-product/Pricing/Price/LowestPriceOptionsProvider.php and it worked for me.

[2017-07-17 20:05] henk-hypershop commented on #8375
@korostii You should not make changes in your vendor folder.

[2017-07-17 20:08] jupiter01 commented on #8184
Any update on this?

[2017-07-17 20:27] buskamuza commented on #6671
@Koc , there is an internal ticket for it as mentioned above. Unfortunately, I can't say anything about time line as it should be prioritized.

[2017-07-17 20:42] misha-kotov commented on #10263
Hi @SanderJP thanks for reporting this issue - I created an internal ticket for it: MAGETWO-70784. Have you come up with a work-around?

[2017-07-17 21:30] misha-kotov commented on #10205
Hi @sazzle2611 thanks for reporting this issue.
Do you mind adding some more details in accordance to our [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. It will help us reproduce and troubleshoot the issue.

[2017-07-17 22:14] okorshenko commented on #9277
Hi @osrecio Sure! I will assign it to you. Thank you

[2017-07-17 22:51] SanderJP commented on #10263
@misha-kotov an ugly one, I've changed the amount of children per page from 20 to 60, so that's not a solution.

From a UX perspective: once I start dragging, I would expect to be able to: (max. 20 products per page)
- drag an item to the bottom of page one and drop it into the 21st position, which switches out numbers 20 (first page) and 21 (second page).
- drag an item to the top of any page but

[2017-07-17 22:59] misha-kotov commented on #10263
Thanks for providing more context - this is definitely very helpful.

[2017-07-18 03:07] mcnamee opened #10266 "Product Attributes - Size 0"
### Preconditions

1. Magento ver. 2.1.7

### Steps to reproduce

1. Add new product attribute called 'Size'
2. `Catalog Input Type for Store Owner` : `Text Swatch`
3. Try adding a size of `0` (zero) in the `Admin` column

### Expected result

1. A size 0 (eg. the size of clothing for babies) should be available as an attribute option

### Actual result

1. Returns error of `Admin is a required fi

[2017-07-18 04:10] sabarivenkatesankrish commented on #10107
Hi all, I am also facing the same issue in Magento 2.1.7. Here is the video link for reproducing this issue. https://www.useloom.com/share/0c7a9812101c44a3b61f259fb0a3f39c

[2017-07-18 05:00] Jeevachezhiyan commented on #7265
@spyrule that one is default magento response url , i did n't change anything and one more thing in magento 1.9 working fine with http.

[2017-07-18 05:06] piavgh commented on #10258
I checked something, and it seems both token based and session based authentication is using a same checking mechanism, which goes through this function:

[code]
in class RequestValidator.php

So it seems session based authentication in Magento 2 is not implemented yet.

[2017-07-18 05:32] Jeevachezhiyan commented on #6258
Hello,
       I am using magento 2.1.0 the below issue is coming i configured correctly it's working fine in magento 1.9 but in magento2 it's not working.Please check the error below .

<html>
    <head>
        <script>
                    window.location="http://xxxx/authorizenet/directpost_payment/redirect/x_invoice_num/000000077/success/0/error_msg/Please enter a transaction ID to authorize th

[2017-07-18 06:24] IlnitskiyArtem commented on #7495
Hi, @Nym77. Internal ticket MAGETWO-{70803}, which tracks this GitHub issue, is in our issue backlog.

[2017-07-18 07:02] iamkdev commented on #5475
vendor/magento/module-catalog/Block/Product/ListProduct.php
Line #:112
if (! is_object($this->getCategoryId())) {

The above changes resolved the issue for me.

[2017-07-18 07:28] lfritsche opened #10267 "Layered Navigation: Configurable product price filter"
### Preconditions

1. Magento 2.1.6

### Steps to reproduce

1. Configurable Product with multiple variants and prices from 49$ to 199$
2. Within the Layered Navigation there are price steps each 50$

### Expected result

1. The Configurable Product should be displayed on each price-filter there is a simple product within range.

### Actual result

1. The Configurable is only selectable within the

[2017-07-18 07:31] giacomo96 opened #10268 "Create New Order in Default Store View not load"
Nella pagina per creare un nuovo ordine non mi funziona ne il bottone crea nuovo cliente ne la selezione dei clienti.

Magento 2.1.7

[2017-07-18 07:40] crealevant commented on #8202
Hi there, we had the same issue. The reason in our case was that one of the entries were entered twice. When removing the double entry we could save the attribute. Hope this helps.

[2017-07-18 07:50] MageAbhinav commented on #8202
In lower versions, there was a bug in which users were able to save duplicate data in CMS (Maybe validation wasn't working). Later, in version lower than 2.1.3, above mentioned error was popped as magento have resolved validation issue but not have resolved duplicate entry issue (duplicate entries were still there with different primary keys in db, however users were not able to insert NEW duplica

[2017-07-18 08:06] ArthurTransoftgroup commented on #9808
@pmjcreations I was wondering to ask you when you are trying to save the code (your HTML) do you have any errors in your admin panel? Or it's saving it without any errors and just not showing on the front end?

[2017-07-18 08:10] 1408sheva commented on #9766
Hi, @NikoAlexis. I cannot reproduce this issue. Please add more details to your description of the steps you followed when identifying this issue. Screenshots, video or logs would be helpful, too. Thank you!

[2017-07-18 08:38] gzchauhan opened #10269 "Theme set option not available in admin configuration"
### Preconditions

1. install latest magento 2.1.7

### Steps to reproduce

1. Store -> Configuration -> General -> Design

### Expected result

1. Not found theme select option

### Actual result

1. Theme set option should be thare.

[2017-07-18 08:43] 1408sheva commented on #10107
Hi, @sabarivenkatesankrish. Unfortunately, I could not reproduce the issue as you described it.

[2017-07-18 08:50] avoelkl commented on #10045
@piotrkwiecinski see last message :) guess the wrong piotr was notified :)

[2017-07-18 08:52] kikinbenshakib opened #10270 "Stock is not updating after changing the product quantity?"
Hello There,
I am using Magento 2.1.5 version.
Recently I am facing Magento 2.1.5 version is not changing the product stock after updating the product quantity. It was working fine yesterday but today I can't see any changes for new product and exist product. It's showing out of stock.

Please tell me the solution.

Thanks

[2017-07-18 08:54] smoskaluk commented on #9752
@jonathansayag I cannot reproduce this issue as described. Please provide the detailed steps to follow to reproduce this issue

[2017-07-18 08:57] sabarivenkatesankrish commented on #10107
Hi, @1408sheva. I just installed Magento 2.1.7 package from repo.magento.com through the composer. I have also installed sample data. Apart from this, I did nothing. I have disabled the cache for ensuring the cache issue. I changed the session storage to "db" instead "files". But Still this exist. As of my knowledge it might not be a cache related issue. It could be a session related issue.

[2017-07-18 08:59] vityakopin commented on #7480
Thanks for reporting. Unfortunately, I could not reproduce the issue as you described it. Please identify the version of curl (running 'curl --version' in your CLI). Also provide is it clean install of Magento or upgrade from  previous version?

[2017-07-18 09:13] TomashKhamlai commented on #9846
This bug MAGETWO-53431 is fixed now on Magento 2.2.0. There is no information about backports for earlier Magento releases.

[2017-07-18 09:15] pmjcreations commented on #9808
Hello @ArthurTransoftgroup, I tried to add something within the Miscellaneous HTML section. And I found an answer to the question, why the changes are not reflecting.
Please have a look at this [screenshot](https://prnt.sc/fx2ucq).

_Test Domain_
When I edit Miscellaneous HTML of the 1, the changes are getting saved to 1, 2 and 3. I hope this is the right output as I guess 1, 2 and 3 are sharing a

[2017-07-18 09:23] josefbehr commented on #6382
I'm also still experiencing this issue on 2.1.7. When will a fix be available publicly, @okorshenko ?

[2017-07-18 09:30] valugi opened #10272 "Magento_Amqp error when setup:install"
I am installing Magento 2 EE from command line:

My install does not do configure RabbitMq.  I do get the following error on Task 190:

Module 'Magento_Amqp':
Running schema recurring...

  Warning: stream_socket_client(): unable to connect to tcp://: (Failed to parse address ":") in /var/www/store-local/vendor/php-
  amqplib/php-amqplib/PhpAmqpLib/Wire/IO/StreamIO.php on line 101

I get the sourc

[2017-07-18 09:51] mowny commented on #10242
This is especially a problem when upgrading from Magento 1, and a pain to fix.

[2017-07-18 09:55] digitalredefned commented on #9633
I'm having the same issue as well on 2.1.7.

[2017-07-18 10:05] korostii commented on #8375
@batmike, @henk-hypershop,
Yes, please keep in mind everyone that patching `vendor` is _not_ a robust solution, since the fixes you place this way will get discarded with the very next version of CE you update to, and you'll have to re-apply them all over again!
However, it still by far the fastest end the most low-effort way to go around these (unless it's either okay for you to wait a few months

[2017-07-18 10:14] korostii commented on #10266
See also #9619

[2017-07-18 10:14] korostii commented on #9619
See also #10266

[2017-07-18 10:24] ArthurTransoftgroup commented on #9808
@pmjcreations Yes alway make sure that you are editing your current theme (store). I am glad that it worked out for you. We are closing this issue. If you will have any questions or issues in future, feel free to ask. Have a good day.

[2017-07-18 10:53] HemalAmbab commented on #2991
A  Major work arround for the solution
1) Create User Account
2) Create A Cart for User.  [POST] /rest/V1/carts/mine
2) Add product to cart   [POST] /rest/V1/carts/mine/items
3) Recall Create Cart For User. [POST] /rest/V1/carts/mine
4) Now Get the Totals   [POST] /rest/V1/carts/mine/totals

[2017-07-18 11:11] NanoCaiordo commented on #3209
We are having the same issue using custom Attribute sets, CE 2.1.7

[2017-07-18 11:23] orlangur commented on #10242
@mowny why? There will be no URL Rewrites collisions if data migration done properly.

[2017-07-18 11:27] ihor-sviziev opened #10275 "Admin global search - submit by enter doesn't work"
When I'm trying to submit search form from keyboard - it doesn't work, but if I just click to value in drop-down - it works as expected.

### Preconditions
1. Magento 2.1.7 installed via composer

### Steps to reproduce
1. Go to Magento 2 admin panel
2. Click "Search" icon in header
3. Put some query (as example 7029) in search field, wait for autocomplete
4. Select "\<your query\>"  in Products o

[2017-07-18 11:55] webmasterdragon commented on #5323
I am using magento 2.1.5
Same error occurs to go click on the checkout button.

[2017-07-18 11:58] scottcwilson opened #10276 "Product URL keys wrong in Products API"
With Magento 2.1.7 and the test dataset, I use the API

http://localhost:8888/mage_217/rest/V1/products/MS06-L-Blue

(This is for product 541, named "Zoltan Gym Tee-L-Blue".  The SKU is "MS06-L-Blue" as shown in the API call.)

I get back

...
            [10] => stdClass Object
                (
                    [attribute_code] => url_key
                    [value] => zoltan-gym-tee-l-blue

[2017-07-18 12:10] adbelkina commented on #4952
@AirmanAJK for soap I found this solution. Basically you should substitute parameter name 'storeView' with 'store'
https://www.nportais.org/blog/en/2015/01/25/magento-api-sore-and-not-storeview/#comment-73

[2017-07-18 13:09] coatesjonathan opened #10277 "Loader doesn't disappear when adding Product in Microsoft Edge"
The loading GIF doesn't disappear when you go to Products > Catalog > Add Product

This happens only when using the Microsoft Edge Browser, there doesn't seem to be any Errors appearing in console.

### Preconditions
1. Magento 2.1.5
2. PHP 7

### Steps to reproduce

1. Log in to Magento 2 Backend on Microsoft Edge
2. Go to Products > Catalog
3. Press "Add Product" in the Top Right

### Expected r

[2017-07-18 13:14] skast96 commented on #2619
Is this issue still there in Version 2.1.7 , cause it is pretty annoying.

[2017-07-18 13:17] #10277 closed, assigned to nobody

[2017-07-18 13:17] Andrii-Deineha commented on #7725
@alexpoletaev Hi, is this issue still actual? You have one Website or more? Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too. Thank.

[2017-07-18 13:23] IlnitskiyArtem commented on #8201
Hi, @OZZlE. Please specify the exact version of Magento you use.

[2017-07-18 13:24] igortregub commented on #7357
We have the same issue in Magento 2.1.7.
@malikt, this fix isn't correct because this list generates twice and better way to fix it is using around plugin.

[2017-07-18 13:56] orlangur commented on #10215
@ram10raj your bug report is brilliant but it is unlikely to be replied here.

GitHub is intended for Community Edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2017-07-18 14:00] orlangur commented on #10272
GitHub is intended for Community Edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2017-07-18 14:07] orlangur commented on #10265
They are closed for a reason. Most of such issues occur when database is filled directly with some migration scripts and after that products/categories appear in unmanageable state.

Here you can read about the difference in URL Rewrites behavior between Magento 1 and Magento 2: https://github.com/magento/magento2/issues/10242#issuecomment-315519353

Not closed ones are simply not processed yet. S

[2017-07-18 14:12] valugi commented on #10272
ok. Thanks

[2017-07-18 14:14] #10272 closed, assigned to nobody

[2017-07-18 14:21] andidhouse commented on #10265
@orlangur thanks for the feedback.

I am afraid i do not get your approach here.
The Github reports and google search results clearly show that there is a problem with the rewrites (importing, exporting, etc.).

I do not think your approach is right here just to say "it is a problem of some migration scripts" - you can read multiple posts where this occurs also by using the official magento2 migra

[2017-07-18 14:24] kamilszewczyk commented on #4096
Same issue still occurs on 2.1.7

[2017-07-18 14:31] krutkoroma79911 commented on #8957
@MarcoGrecoBitbull Hi. Thanks for reporting this issue. The internal ticket MAGETWO-70831 was created.

[2017-07-18 14:31] orlangur commented on #10276
This has nothing to do with API or URL keys. You won't find "Zoltan Gym Tee-L-Blue" in catalog on storefront as well.

If you check it's `visibility` attribute you'll notice it is "Not Visible Individually". This means only configurable product http://localhost:8888/mage_217/index.php/zoltan-gym-tee.html  is intended to be visible on storefront and not any of its child products.

[2017-07-18 14:39] igortregub opened #10278 "Product image is not shown in the gallery box on IOS and Mac OS on Safari on the product page"
I found that on some product pages on IOS and Mac OS on Safari don't show their images.
In this case the problem has caused on some product pages, where main image is not first on the list.
In cases when the main image is first on the list, everything works well.

### Preconditions

1. Magento version 2.1.7
2. PHP Version 7.0.19
3. Apache Version 2.4.10 (Debian)
4. MySQL 5.6.36
5. Redis server v=3

[2017-07-18 14:40] orlangur commented on #10265
"Bugs" regarding "URL key for specified store already exists" are only reported because of misunderstanding of how URL Rewrites behave in Magento 2 compared to Magento 1. There is nothing to "fix" with it and no simple fix exists at all.

In Magento 1 URL Rewrites were regenerated in background via indexer, it added random numeric suffixes in case of collision and DID NOT preserve previously gener

[2017-07-18 14:43] orlangur commented on #10269
It was moved to another place https://magento.stackexchange.com/a/122652

Shortcut to the new place from old config section wouldn't hurt though :)

[2017-07-18 14:45] scottcwilson commented on #10276
But I don't get 'zoltan-gym-tee' anywhere in the response to the product API request.  How can I build a URL to the product with the data I have (SKU, ID, url_key for child product) from an API client?

[2017-07-18 14:48] orlangur commented on #10278
Yeah, http://magento2-demo.nexcess.net/selene-yoga-hoodie.html image is scrolled to the very left right after load. Safari 10.1.1 in my case.

[2017-07-18 14:51] korostii commented on #10276
That sounds as a technical question, please use the community forums for those (Magento, Inc.'s official policy is that GitHub is used for bug tracking purposes only).
Here's one question there which is particularly similar to yours: https://community.magento.com/t5/Just-Ask-Alan/Using-REST-api-get-parent-configurable-item-of-a-child/td-p/36571

[2017-07-18 14:54] orlangur commented on #10276
For the "Zoltan Gym Tee-L-Blue" product you cannot build an URL as there is no separate page for this product at all (no matter, using API or not).

Building URL like http://localhost:8888/mage_217/index.php/zoltan-gym-tee.html from API response is not a reliable way. The only proper approach for now is using `\Magento\Catalog\Model\Product\Url::getUrl` I believe.

According to https://magento.sta

[2017-07-18 15:01] orlangur commented on #9619
This was fixed in https://github.com/magento/magento2/pull/7701 but not backported to 2.1.x yet.

[2017-07-18 15:03] scottcwilson commented on #10276
@orlangur Doesn't that mean that the url_key returned by the API should really be "zoltan-gym-tee"?  What's the point of returning a url_key that doesn't work?  To me, this seems like a bug.

[2017-07-18 15:07] orlangur commented on #10264
From quick search https://github.com/magento/magento2/issues/2790#issuecomment-220233773 may help. Looks like Magento code and sample data versions are not in sync on your instance.

[2017-07-18 15:11] orlangur commented on #10276
`url_key` is just a product attribute. If you change visibility of "Zoltan Gym Tee-L-Blue" product to "Catalog & Search", the http://localhost:8888/mage_217/index.php/zoltan-gym-tee-l-blue.html URL will start to work.

No, it is an `url_key` of http://localhost:8888/mage_217/rest/V1/products/MS06 product which is a parent of http://localhost:8888/mage_217/rest/V1/products/MS06-L-Blue.

[2017-07-18 15:23] scottsb opened #10279 "Cron may double schedule jobs in edge case"
### Preconditions
Magento 2.1.3 (but I can see problem code has not changed in develop branch)

### Steps to reproduce
These are a fairly artificial set of steps to reproduce the issue consistently, but the same situation can happen "in the wild" if the timings line up just right:
1. Identify a cron job that takes a while to run (over a minute).
2. Watch for selected job to run.
3. While selected

[2017-07-18 15:26] scottcwilson commented on #10276
OK, let me take a different approach.

Doesn't it seem like a bug that you can't deduce the product's URL from the response to the product API?  Doesn't this seem like a huge oversight?  Whether you do it by SKU, id or whatever, I just want something that works.

[2017-07-18 15:40] orlangur commented on #10276
Again: for http://localhost:8888/mage_217/rest/V1/products/MS06-L-Blue product no such URL as you want exists at all.

Regarding product URL absence in response: obviously, it does not seem to be a bug but rather a feature request. Some use cases were provided in StackOverflow question I posted but generally it does not seem to be a highly requested feature.

What is your use case, by the way?

[2017-07-18 15:43] korostii commented on #10265
`URL key for specified store already exists` is merely an error message. Most errors you see in real life (as opposed to doing development) are an adequate response to user actions which are considered inappropriate or impossible (as, in this case, having duplicate entries in a column having a unique constraint).

It would only be a bug if you're saving, in fact, a unique entry.
..or if Magento2 w

[2017-07-18 15:46] scottcwilson commented on #10276
I'm writing a little client to display information (name, description,
price) on a product, and want to link back to the store.

[2017-07-18 15:52] korostii commented on #8837
Has it been four months already? Unbelievable.
It would be nice to see some official response from @magento-team, for a difference.

[2017-07-18 15:56] orlangur commented on #10276
Technically you can use URLs in form `/catalog/product/view/id/547`. But if you need SEO-friendly URLs you'll need to extend API so that it involves `\Magento\Catalog\Model\Product\Url::getUrl`.

[2017-07-18 15:59] orlangur commented on #8837
@m7ble83 @korostii from the presentation I read recently we should use reactions to make issues more visible to Magento crew ;)

[2017-07-18 16:00] mowny commented on #10242
@orlangur Only if the magento 1 database was clean in that regard. We still run into this problem with old (even deactivated) products that have once been duplicated, and the source of the problems is a pain to locate.

[2017-07-18 16:06] andidhouse commented on #10265
Ok - this may be right - but i think if even your team with the official magento2 data migration tool fails to understand the new logic how can a external developer get it?

The solution for this problem and any problem regarding URLs and URL rewrites is quite simple in my opinion.

--> Include a script which first deletes all URL generated data an 2nd regenerates the data from scratch on.

There

[2017-07-18 16:08] scottcwilson commented on #10276
The trouble is, I can't get "547" from the products API.  I get the API of the child product, which is 541.  And `/catalog/product/view/id/541` doesn't work.

[2017-07-18 16:18] freddallica commented on #8837
I confirm that Google has become strict about the position of that script. Now it is an important issue for Analytics.

[2017-07-18 16:30] orlangur commented on #10276
There is no page for product with ID 541 in your instance :) Until you change `Visibility` to something different from "Not Visible Individually".

[2017-07-18 16:32] Radiergummi commented on #4159
@alyhugo with all due respect for the Magento team, I've given up any hope for a timely fix. Of you are like everyone else and have projects due, move on and try to solve it by yourself. This may be unacceptable for an enterprise software product, but I don't have time to wait another year with a project due next month.

[2017-07-18 16:33] misha-kotov commented on #10258
The session based authentication functionality was restricted to only allow for AJAX calls and not direct browser requests due to security vulnerabilities. This is why the docs mention you must do this via a JS widget to invoke the `self` endpoints.
The use case is for an extension or a developer to be able to create a custom storefront widget that can issue requests without additional authenticat

[2017-07-18 16:33] #10258 closed, assigned to nobody

[2017-07-18 16:42] korostii commented on #10265
This sounds disastrous from SEO perspective. Unless you provide generate accompanying 301 redirects, you'll lose the traffic to these pages from the search engine results.
IMHO Such a behavior shouldn't be the default. You should only do something like that if you know what you're doing, or if it's a website still in development where it doesn't matter at all.

BTW There's some reassuring feedback

[2017-07-18 16:42] misha-kotov commented on #10276
I can confirm we do have this feature in our backlog but it has (obviously) not been implemented yet. I will be closing this issue since it's not a bug, but feel free to continue discussion.

[2017-07-18 16:42] #10276 closed, assigned to nobody

[2017-07-18 16:47] andidhouse commented on #10265
Not at all. 301 redirects should normally be placed not inside magento or any database. Also if 301 are in the magento database they simply can be ignored by a script.

The script just enjures that the settings in the backend (like category urls/ product urls etc) are generated properly.

If you place 301 redirects via the magento interface you should overthink your seo strategy at all ;-)

[2017-07-18 16:47] scottcwilson commented on #10276
Thanks @misha-kotov.  Thanks for your insights, @orlangur - I see your point, but the trouble is, this is a SKU based API, so if I query the parent product (547), the price is 0.  So I guess I have to code this myself.

[2017-07-18 16:51] orlangur commented on #10265
It means the data is invalid and contains some collisions which needs to be resolved. You can try `2.2.0-preview` branch in action which contains improvements related to #6671 to see where the problem is.

[2017-07-18 16:56] misha-kotov commented on #10264
@ashvinimarwal
Do you mind adding some more details in accordance to our [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. It will help us reproduce and troubleshoot the issue.

If the previously provided answer helped solve your issue, please close this ticket.

[2017-07-18 17:05] misha-kotov commented on #10197
The GitHub issue tracker is intended for reporting only bugs. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for help with technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Fe

[2017-07-18 17:05] #10197 closed

[2017-07-18 18:00] ashvinimarwal commented on #10264
@misha-kotov
i have migrated magento data from 1.9.x to fresh magento 2.1.7 and now when i save new product it ive the following error
Class Magento\Catalog\Model\Product\Attribute\Backend\Media does not exist
/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php
![issue](https://user-images.githubusercontent.com/5154042/28332101-1f778c4e-6c11-11e7-95c9-45bc656df73f.JPG)

[2017-07-18 18:07] martinzca commented on #1471
Hi all. I've got the same error and in my case the reason of getting it was different dashes in the name of the product. Some of the my items were with longer dash "–", the majority with "-".
Once the longer dashes were replaced I've successfully imported the csv.
Magento 2.1.7
BR
Martin

[2017-07-18 18:28] okorshenko commented on #7741
Here is a ticket MAGETWO-70797 to track the issue progress

[2017-07-18 19:12] danielasy commented on #7403
This is the faulty regex: `~\$\.mage\.__\((?s)[^'"]*?(['"])(.+?)\1(?s).*?\)~`

It is defined here: [https://github.com/magento/magento2/blob/develop/app/code/Magento/Translation/etc/di.xml#L63](https://github.com/magento/magento2/blob/develop/app/code/Magento/Translation/etc/di.xml#L63)

[code]

It is also the root cause of #5509, #5820 and #9967, which are basically strings concatenated using `+`

[2017-07-18 21:16] kevinak941 commented on #4966
Same issue, solution from @caesarcxiv worked. Had a module with a cacheable="false" on a default.xml.

[2017-07-18 21:38] okorshenko commented on #8059
Backport ticket for 2.1-develop: MAGETWO-69708

[2017-07-18 21:47] okorshenko commented on #5877
Internal ticket for the fix in develop branch: MAGETWO-56487

[2017-07-18 21:51] okorshenko commented on #5242
Backport ticket for 2.1-develop: MAGETWO-57410

[2017-07-18 22:03] okorshenko commented on #9619
Fix for develop: MAGETWO-66160
Fix for 2.1-develop: MAGETWO-70838

[2017-07-18 22:04] okorshenko commented on #10266
Fix for 2.1-develop: MAGETWO-70838

[2017-07-18 22:07] rtroncoso commented on #8867
I'm experiencing this same issue using a Magento 2.1.7 install. I found that in my case this was produced by the "Multiple Value separator" in the products import form, which was set by default as a comma instead of a pipe character ( **|** ).

Changing the text field to use a pipe instead of a comma as the separator fixed this issue for me. Will be gathering more information and try to reproduce

[2017-07-18 22:13] okorshenko commented on #9619
Fix for 2.1-develop: MAGETWO-70838

[2017-07-18 22:13] okorshenko commented on #10266
Fix for develop: MAGETWO-66160

[2017-07-19 01:10] r-martins commented on #4280
I was having this problem locally, and solved by disabling full_page cache.

[2017-07-19 02:07] piavgh commented on #10258
Hi @misha-kotov
Thank you for your response.

I'm using Postman chrome extension with Interceptor (which mean Postman uses the same cookie as Chrome browser) to make request. This is similar to an AJAX call of JS widget in my opinion.
But the result is the same, I can not access the "self" endpoint.

Do I have to use a real JS application which calls AJAX (jquery, angular,...) to verify that "self

[2017-07-19 03:42] mcnamee commented on #10266
I created an extension with the code shown in the pull request, and it has worked.

[2017-07-19 03:42] #10266 closed, assigned to nobody

[2017-07-19 04:29] ashvinimarwal commented on #10264
i used this [Tool](https://github.com/magento/data-migration-tool) and i have completed migration without any error.

[2017-07-19 04:53] Chuvisco88 commented on #6610
In Magento 1.X this bug occurs if you are living in a timezone which is more than +01:00 from GMT. The default cronjob is running at 01:00 and is using GMT time to set the `rule_date`.
In said case the date will be "yesterday" so there would be no price rule for the current day.

Example:
[code]

But as far as I can see https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogRule/

[2017-07-19 05:32] IlnitskiyArtem commented on #8245
Hi, @flnative. I'm reproduced your issue by updating my store from 2.1.2 to 2.1.3, but after updating to latest 2.1.7 Magento version everything works fine. Can you confirm that this issue is still relevant or provide more information to reproduce it on latest releases?

[2017-07-19 06:07] eldonbite commented on #10103
Seems related to issue #10009

[2017-07-19 06:25] impunkj commented on #1817
I am also facing this issues ,
one function comparing dates and echo value but it will stick to first echo value. If i changed value in Back end than there are also stick with the first load time.
After flushing cache it will show on frontend.
Please if anyone have any idea.

[2017-07-19 06:27] mattias commented on #9875
Getting the same issue on many centos7 servers right now.
On one redis had been working for months and after I refreshed the caches it stopped working with this particular issue.
On another, I just tried to do a "magento setup:backup --db" and I got the error only there but the site was working, haven't tried clearing all the caches on that one yet.

All servers do have autoupdating on and I have

[2017-07-19 07:07] adriansavuosf commented on #8851
Hi,

We have the same problem as described in the ticket by kevin-carroll-cl  . In order to reproduce it you need to have a store that already have inside a lot of customer (our import doesn't work after 100k users and memory limitation of 256 MB). When you are trying to import new customers after a specific number of customers are already imported, you will not be able to import even 1 more custo

[2017-07-19 07:09] OZZlE commented on #8201
@IlnitskiyArtem I reported it for 2.1.1 but it's relevant for 2.1.7 also, I know that you have implemented parallell static deployment which helps a bit but it's still not useful work and disk space when the site uses the same theme across all stores.

[2017-07-19 07:14] iamkerly opened #10283 "USPS Shipping Rates to Canada not showing."
[2017-07-19 06:33:35] main.DEBUG: array (
  'request' => '<?xml version="1.0" encoding="UTF-8"?>
<IntlRateV2Request USERID="****"><Revision>2</Revision><Package ID="0"><Pounds>5</Pounds><Ounces>1.7008</Ounces><MailType>All</MailType><ValueOfContents>158.55</ValueOfContents><Country>Canada</Country><Container>VARIABLE</Container><Size>REGULAR</Size><Width/><Length/><Height/><Girth/></Package></Intl

[2017-07-19 07:19] mattias commented on #9875
I found the issue.
2017-07-18 04:22 there was an automatic update for php-redis.
Package php-pecl-redis.x86_64 0:3.1.2-1.el7.remi.7.0
upgraded to
Package php-pecl-redis.x86_64 0:3.1.3-1.el7.remi.7.0

Maybe this only happens to systems running the remi repository on centos7?

I downgraded php-pecl-redis and now it works again.

[2017-07-19 07:20] rzinnatullin opened #10284 "Admin login suddenly stopped working"
### Preconditions
1. Magento 2.1.7
2. Ubuntu 16.04.1
3. PHP 7.0.15
4. Apache 2.4.18
5. MySql 5.7.18

### Steps to reproduce
1. Go to `http://hostname/magento/admin`
2. Enter admin's credentials
3. Click Sign In

### Expected result
1. Should open admin dashboard

### Actual result
1. Stays in the login page w/o any error message

This happens only on concrete browser instance (the browser is Firef

[2017-07-19 07:32] msliman commented on #8853
@coleHafner I am facing the same problem and i rebuilt the indexes in vain. Can you suggest another solution?

[2017-07-19 08:02] farior commented on #10142
@joni-jones @alena-marchenko Any updates on this ticket? I think it's pretty major issue

[2017-07-19 08:16] tools-utrecht-hh opened #10285 "M2 API won't save relations of configured products that have custom options"
### Preconditions
1. Magento 2.1.7
2. PHP 7.0.21
3. Nginx 1.10.3
4. Ubuntu 16.04.2 LTS
5. mysql  Ver 14.14 Distrib 5.7.18, for Linux (x86_64) using  EditLine wrapper

### Steps to reproduce
1. Save a configurable product with custom options and relations using the REST API:
PUT products/40067-1
2. Save the relations using the REST API:
POST products/40067-1/links
and
items =>
array(2) {
  [0]=>

[2017-07-19 08:18] AlexWorking commented on #8184
Hello @kfriend. Based on Your issue an internal issue were created - MAGETWO-70849. You'll be informed immediately after the issue is fixed. Thanks for reporting.

[2017-07-19 08:19] experius-nl commented on #10285
Also, this may be related to issue #9851

[2017-07-19 08:28] orlangur commented on #10285
Does it work as expected if you do it via Admin UI?

[2017-07-19 08:33] orlangur commented on #10264
Did you do http://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-upgrade.html#upgrade-cli-upgr also? (the most important part is `php bin/magento setup:upgrade`).

[2017-07-19 08:35] ivan-krechko commented on #4952
Hi @adbelkina,

thanks for your comment. But I have no clue, how you used it.

[code]

Regards,
Ivan

[2017-07-19 08:57] OleksPetrina opened #10286 "FireFox - Confirmation message is cached and shown a few times on a product details page"
**Preconditions:**
1. Magento ver. 2.1.6
2. FireFox 54.0.1 (32-bit)

**Steps to reproduce:**

1. move to the product detail page (simple or configurable)
2. click 'Add to Cart' button 3-7 times while page is loading
3. ensure if a single confirmation message is displayed on the product details page

**Expected result:**

Single confirmation message is displayed on the product details page after hi

[2017-07-19 08:58] koenner01 commented on #9923
Why is this issue marked as 'needs update'. This is clearly still an open issue and has been described perfectly to standards

[2017-07-19 09:00] ludwig-gramberg commented on #8001
oh boy... we're using prefix and suffix to have a unified way to store title and gender and a relation in between, displaying them both doesnt make any sense so we need to customize this too.

@andreaskoch did you end up implement a custom renderer?

[2017-07-19 09:25] andidhouse commented on #10265
@orlangur thanks - this is clear so far but where does our developer now get the exact function how the url and url-rewrites are generated in magento2. Which tables are included in the generation and how exactly are the url generated. Without this information it takes hours or days to try to suggest what is happening.

[2017-07-19 09:26] akiuni commented on #10138
Hello, same issue here.

- CentOS
- Linux release 7.3.1611 (Core)
- PHP 7.1.7 (fpm-fcgi) (built: Jul 13 2017 16:38:15)
- Zend Engine v3.1.0, Copyright (c) 1998-2017 Zend Technologies

Installation settings :
- Timezone : GTM(UTC)
- Language : French
- Currency : Euro

@ebanolopes suggestion worked fine for me too

[2017-07-19 09:37] ludwig-gramberg commented on #7499
@chrisgan turns out i didn't have suffix/prefix configured as required fields as I did originally, now that i changed it the behaviour is as before

[2017-07-19 09:39] #10286 closed, assigned to nobody

[2017-07-19 09:44] korostii commented on #10284
This is an old known issue. Basically, the cookies don't get stored because the host name you use on your local machine is considered invalid.

The host name _must_ have at least one `.`(dot) in it.
Try using `magento.dev` or similar as your local host instead - that should resolve your issue.

See [this article](https://www.yireo.com/tutorials/magento/magento-administration/651-unable-to-login-in

[2017-07-19 09:48] ludwig-gramberg commented on #7499
@chrisgan btw if you set it to optional but you define a list of values you basically have the desired behaviour, the client not leave the field empty since its a select. only thing to consider is that a person could craft a request where the data is missing...

[2017-07-19 10:11] chrisgan commented on #7499
@ludwig-gramberg thanks for the feed back on this.

Actually I am not including the semi-colon at the start of the options, but the drop down still starts empty.

There is also the problem with customers with existing accounts, I think these customers should be required to update their details, but only in a friendly way during checkout.

And of course, having it not shown as required is not a goo

[2017-07-19 10:12] jonathan-martz commented on #4549
This is still an issue in 2.1.7

[2017-07-19 10:45] kandarp26 commented on #6384
Added have same issue

Solution : vendor\magento\module-catalog\Model\Product\Option\Type\File.php line no 451

Before

`if (!$this->_rootDirectory->isFile($quotePath) || !$this->_rootDirectory->isReadable($quotePath))  `

add below 2 lines

[code]

[2017-07-19 10:45] krutkoroma79911 commented on #10103
@eldonbite #10009 Issue is about catalog price rule, but this issue is about cart price rule and it is not reproducible on clean instance.

[2017-07-19 11:57] reindert-vetter commented on #4145
The problem still occurs in Magento version 2.1.7

[2017-07-19 13:03] AlexWorking commented on #4299
Hello @sammarcus. We were not able to reproduce this issue on develop versions, neither on 2.0.x, nor on 2.1.x. Probably the issue has already been fixed. If You are still experiencing it please let us know. Thanks for applying.

[2017-07-19 13:16] krutkoroma79911 commented on #6055
@springimport Hi. Thank you for feedback. The internal ticket was created MAGETWO-70855 to address this issue.

[2017-07-19 13:26] IlnitskiyArtem commented on #8304
Hi, @ksiamro. Internal ticket MAGETWO-70856, which tracks this GitHub issue, is in our issue backlog.

[2017-07-19 13:32] IlnitskiyArtem commented on #5863
Hi, @kayintveen. Internal ticket MAGETWO-64295, is in our issue backlog.

[2017-07-19 13:56] michel334 commented on #7724
fix not working on 2.1.7

[2017-07-19 13:58] krutkoroma79911 commented on #5269
@sheldonli999 Hi. Unfortunately, I could not reproduce the issue as you described it. I was check it on clean instance. Can you please recheck it on clean instance, too?

[2017-07-19 14:02] sanjeshsodha commented on #9307
Using your preferred database editor, navigate and find the table **eav_attribute_option_swatch**

Magento will store a row for each of the swatches you have configured in the Magento Admin.
Pay attention to the **option_id** select each row you want to remove as a swatch not forgetting to remove any other associated rows which contain the same option_id.

Once deleted. Head over to your Magento a

[2017-07-19 14:14] angelo983 commented on #9497
The problem persists in 2.1.7. It's going to be hard to manage a lot of lost sell

[2017-07-19 14:29] 1408sheva commented on #9894
Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-07-19 14:36] bertonha opened #10287 "Creation of shipments does not update the order update_date"
### Preconditions
1. Magento 2.1.7 running on docker php:7.0-apache
2. MySQL 5.6.23 also docker

### Steps to reproduce
1. Create a order, with multiple items
2. Create the invoice
3. Create a parcial shipment

### Expected result
1. the update_date of the order should be the same time when you create a shipment

### Actual result
1. update_date of the order does not change

[2017-07-19 15:47] Igloczek commented on #3754
It will be released with 2.2.0 unless someone will create a backport for 2.1.x.

[2017-07-19 15:54] nei commented on #8504
Is there a way I could change this for just one Controller? I want to keep SAMEORIGIN for all except a controller that I am exposing to be used inside an iframe.

[2017-07-19 16:21] grantkemp commented on #10278
confirmed for me too

[2017-07-19 16:38] gboz17 commented on #9307
Thanks @sanjeshsodha !!

I can confirm this works.

[2017-07-19 17:06] ashvinimarwal commented on #10264
Hi @orlangur ,
I tried this also but still facing the same issue.

[2017-07-19 17:13] orlangur commented on #10252
Seems like this can be closed now. Thanks for the fix!

[2017-07-19 17:13] #10252 closed, assigned to nobody

[2017-07-19 17:15] orlangur commented on #10287
Did such behavior exist in Magento 1? Invoice, order, shipment are different entities thus I'm not sure expected behavior is reasonable.

[2017-07-20 03:06] alyhugo commented on #5279
Facing the same problem in 2.1.6 version. Error whenever the payment method is paypal.

[2017-07-20 03:24] ajpevers commented on #10252
@orlangur you are right. Thanks for handling this ticket fast.

[2017-07-20 05:45] wildcard27 commented on #9307
Thanks @sanjeshsodha your solution worked for us.
@magento-team is there any update as to why this happens and when it will be fixed?

[2017-07-20 06:08] tegos opened #10289 "addExpressionFieldToSelect with group by"
### Preconditions
1. Magento ver. 2.1.2
2. MySQL  5.6.35

### Steps to reproduce
1. Creating collection
2. using `->addExpressionFieldToSelect('g_total', 'SUM({{total}})', 'total');`
3. adding grouping `->getSelect()->group('group_id');`

### Expected result
example:
data in row
total **83.3**

### Actual result
`["g_total"]=>   string(17) "83.30000305175781"`

[2017-07-20 06:35] aasim110 commented on #9578
Issue fixed after upgrade version 2.1.7

[2017-07-20 06:35] #9578 closed, assigned to nobody

[2017-07-20 06:36] aasim110 commented on #9833
@btwq  Yes exactly

[2017-07-20 06:43] enrico69 opened #10290 "Question about the session cookie: proper way to set the "secure" flag"
### Preconditions
1. In the back-office of Magento 2, there is an option enabling to set the HTTP Only flag to the session cookie. However, I didn't find one to set the secure flag

However this seems to be handled, as we can see the below code in __Framework\Session\Config.php__ :

Is there and option to enable it from the back-office? If not, what would be the proper way to add this one?

[2017-07-20 07:31] NagarajuKasa opened #10291 "Magento 2 Loading custom option dropdown issue"
## Preconditions
1. Magento 2.1

## Steps to reproduce
1. Log in to admin
2. Go to Catalog -> Products and start to create new product
3. Add Customizable Options with next steps:
    * Select Drop-down Option Type.
    * Click the 'Add value' button to add an empty row, leave it empty.
    * Select a different Option Type (doesn't matter which).
    * Select 'Drop-down' Option Type again.

## Exp

[2017-07-20 07:41] Parceti commented on #4299
Problem still persists (2.1.7, using Chrome). Steps to reproduce:
1) Navigate to Products -> Catalog
2) Change products per page to 999
3*) Import products (14k in my case)
4) Navigate to Products -> Catalog

Main page elements are loaded, but disabled (waiting for products grid). In my case products grid usually loads before Chrome crashes, but all rows are empty. Chrome Task Manager displays 100

[2017-07-20 07:50] IlnitskiyArtem commented on #5172
Hi, @cgaffney099. I tried to reproduce your issue on latest develop branch and observed strange behavior, don't know was it my fault or something else. Firstly I'm added simple products by hand, then imported your csv (but just with first 5 products). In result, my simples just earn new categories, any configurable were created. Same result with importing simples based on your csv. Can you provide

[2017-07-20 08:06] avoelkl commented on #10138
Installation settings :
Installation settings could be interesting as well, thanks for the heads up @akiuni
Mine were:
Timezone : Central European Time (Vienna)
Language : German (Germany) or English (tried it 2 times)
Currency : Euro

[2017-07-20 08:10] korostii commented on #9307
@wildcard27, well, I could tell you why it happens is this scenario: https://github.com/magento/magento2/issues/9923#issuecomment-310601303

But an official fix might take a couple more months to get implemented and released, speaking optimistically.

[2017-07-20 08:23] bertonha commented on #10287
About Magento 1 I am not sure, but in my point of view if you create a shipment or an invoice, it should progress the order one step further to completion. In a perfect business case scenario, order is the parent and other instances like shipments and invoices are the children. When a child is updated the parent should retrieve this information and perform an update as well, at least on a field th

[2017-07-20 08:35] irinikp commented on #4190
This should not be closed, as it is still an issue in Google Chrome Version 59.0.3071.115

[2017-07-20 09:21] KevinMace commented on #1146
I raised the issue of not being able to set a custom maintenance page when using pub as the document root https://github.com/magento/magento2/issues/6403 with EE support over a year ago, yet it's still not been resolved by them.

It's not acceptable that such an issue should still be outstanding over 12 months later, especially when you've got to put your site in to maintenance mode to do a deploy

[2017-07-20 09:57] shubhamagarwal862 commented on #2991
This issue of getting 0 or null in add to cart API is fixed now after taking below steps -
( Note : This is for magento 2 or later version. )
1. Open file 'vendor/magento/module-quote/Model/QuoteManagement.php'.
2. Find function 'createEmptyCartForCustomer'.
3. Add below code inside try{}, around line number 235
$quote->getBillingAddress();
$quote->getShippingAddress()->setCollectShippingRates(tru

[2017-07-20 10:02] fwegberts commented on #10162
Same problem here, any solution for this?

[2017-07-20 10:06] franckgarnier21 commented on #5289
Same problem on Magento 2.1.7

[2017-07-20 10:38] amoskvenk commented on #10002
This is exactly an issue, which we have faced on our product after upgrading to 2.1.6. The root cause of the issue is in the class "\Magento\Config\App\Config\Type\System": there is a code, which checks, are the config records present in Cache storage by checking the availability of another record ("SYSTEM_CACHE_EXISTS") in Cache storage. :-D
As the result: on Production, which has a lot of concur

[2017-07-20 10:51] koenner01 commented on #9067
probably a bit related https://github.com/magento/magento2/issues/9002

[2017-07-20 11:13] andrewhowdencom opened #10292 "The deployer tool does not handle symlinks correctly, fails silently."
### Preconditions

1. 2.1.7
2. php7.0

### Steps to reproduce

1. Clone an existing site, having previously been installed and committed to vcs, but without the vendored dependencies.
2. `rm -rf` media, and create a symlink that points to `/tmp/thisdoesnotexist`
3. Try and install the application

### Expected result

1. The application install fails critically

### Actual result

1. The applicati

[2017-07-20 11:15] smoskaluk commented on #8862
@albertixcom Please try to add to your API call value "all" , like (domain)/rest/all/v1/products/(sku) and in body instead of empy value " " for special price attributes put there value **null** like:
`{
  "product":{ "custom_attributes":[
{
"attribute_code": "special_price",
  "value": null
},
{
"attribute_code": "special_from_date",
"value": null
},
{
"attribute_code": "special_to_date",
"value"

[2017-07-20 11:28] Jeevachezhiyan opened #10293 "Authorize.net is not working in Magento2.1.7 version but working fine in magento1.9 for the same credentials"
**Preconditions**

Magento 2.1.7
Ubuntu 14.04.1
PHP 7.0.15
Apache 2.4.18
MySql 5.7.18

**Steps to reproduce**
I have configured test credentials in magento2 back end and i made one order using test card but it throws error like **Unable to make Order** ,But in 1.9 same credentials working fine with out any errors,so i checked in console i got response like below,
`<html><head><script>  window.loca

[2017-07-20 11:35] IlnitskiyArtem commented on #5846
Hi, @jameswithers. Can you provide your csv file to reproduce your issue as it was in your case?

[2017-07-20 11:47] pankajok opened #10294 "Configurable Products Checkout Issue"
### Preconditions

1. Magento ver. 2.1.2
2. Browser: Any
3. Hosted on Nexcess

### Steps to reproduce

1. Create Any configurable product like in my case: Software 1 user, 3 users.
2. I can add the desired product to cart, but when i click on "Place Order Now" its doesnt redirect to payment gateway page.
3. Example: https://www.letsgocart.com/gdata-internet-security.html
4. Also "One Page Checkout

[2017-07-20 12:09] jameswithers commented on #5846
@IlnitskiyArtem I sent this to @dthampy nearly one year (!) ago. The problem is not in the file, it's in the code (which returns null, rather than throwing an exception if a batch of records couldn't convert to JSON). This issue is so old that the links in the opening post are now out of date.

[2017-07-20 12:27] pratikmage commented on #7366
I have same issue how to fix?

[2017-07-20 12:39] fahu commented on #7525
Experiencing the same issue on CE 2.1.7. Can anybody provide a workaround for that issue?

[2017-07-20 12:40] IlnitskiyArtem commented on #5846
@jameswithers I understand, but when tried to reproduce it on latest Magento branches (2.2.0, 2.1.7) I didn't observed this behavior. I will try it on 2.1.0 too.

[2017-07-20 12:59] jobsmartdesigner1507 opened #10295 "Upgrade fro 2.1.6 to 2.1.7 site broke"
Im not super familiar with Magento, so I would really appreciate any help that you can provide

### Preconditions

1. Magento 2.1.6
2.  PHP Version 5.6.30

### Steps to reproduce

1. I think the site is trying to auto update
2. There is also a third party plugin that I was trying to install that my boss needed to run some code for to get it active but we were never able to do that bc the site went

[2017-07-20 13:04] jameswithers commented on #5846
@IlnitskiyArtem The error is still present in the code:

https://github.com/magento/magento2/blob/2.2.0-preview/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L1539 stops product imports when it encounters a non-true value e.g. `null`. `null` is being entered into the import data tables by
https://github.com/magento/magento2/blob/2.2.0-preview/app/code/Magento/ImportExport/Model/Res

[2017-07-20 13:15] elghana commented on #7710
hi shavounet, i have been struggling with this. i cannot figure out how to implement your fix to try it out. i have a child theme (myfirsttheme) with Magento/blank as parent.
I have another child theme (mysecondtheme) with (myfirsttheme) as parent.
The problem is template files amended get parsed in frontend but the xml files do not. i am only seeking to amend the catalog_product_view.xml and it d

[2017-07-20 13:21] TomashKhamlai commented on #8020
Hi, @hacheni! Thank you for reporting! The internal ticket MAGETWO-70885 was created to address this issue.

Do you know that order has to be refunded to get the status 'Closed'?
But if the custom order status within the same state was created and then I will change its status we will have the similar situation as you described.

These links may help you in some way:
1. [What are the definitions o

[2017-07-20 13:21] dknzdesign commented on #7710
@elghana I have a module that you can add to your site that solves this problem using the solution above.
email me for details: info@dknzdesign.com

[2017-07-20 14:22] michel334 commented on #5985
I have the issue now on a clean 2.1.7 install. The issue gets triggered for me when some "Top destinations" (countries) are selected in Stores->configuration->General->General->Country Options->Top destinations

The issue can not be reverted by deselecting the Top destinations. Also, at least one Top destination remains active at all times, even after <ctrl> + click country (to deselect) and save

[2017-07-20 14:38] krutkoroma79911 commented on #5773
@arijit-insync Hi. Thanks for the feedback. The internal ticket MAGETWO-70891 was created to address this issue.

[2017-07-20 14:39] #9808 closed, assigned to nobody

[2017-07-20 14:41] driskell commented on #10206
Seeing exactly the same issue.

Due to a disabled child I believe, but haven't confirmed as such. The getProduct() returns null.

[2017-07-20 14:45] JosephLeedy opened #10296 "Exception thrown by order fixture when running integration tests"
### Preconditions
1. Magento 2.1.7
2. PHP 7.0.6
3. MariaDB 10.1.13
4. Magestead 2.2.2
5. PHPUnit 4.1.0

### Steps to reproduce
1. Create an integration test with at least one test method.
2. Add `@magentoDataFixture Magento/Sales/_files/order.php` annotation to PHPDoc for test method, e.g.:
[code]
3. Run integration test with PHPUnit

### Expected result
1. Test should run and pass or fail based o

[2017-07-20 14:55] OZZlE commented on #522
I debugged this and got this "Email template '23' is not defined."

[2017-07-20 14:58] franta79 commented on #7846
I have the same problem. Our site is very fast, but search is taking 15s. No long queries. Is there a solution to this? It's driving me crazy..

[2017-07-20 15:01] elzekool commented on #10002
@amoskvenk Is there a possibility that you share your rewritten file in a gist until the Magento team fixes it?

[2017-07-20 15:03] antboiko commented on #1961
@dmitry-fedyuk This is a correct behavior described by @krutkoroma79911 . Scope selector is not present on product creation page, and all values are being set on "All store views" (i.e. Default scope) level during product creation. Scope selector is available right after the product is saved, so user can set prices per website if Catalog Price Scope was set to "Website".

@korostii there is no aut

[2017-07-20 15:30] orlangur commented on #10296
There are a lot of integration tests using this fixture successfully passing on `develop`: https://github.com/magento/magento2/search?utf8=✓&q=Magento%2FSales%2F_files%2Forder.php&type=

You can try to debug them to see what's different compared to your test.

[2017-07-20 15:31] afavata commented on #4579
Issue is still present in 2.1.7.... please provide urgent update or work around.
Thanks

[2017-07-20 15:32] afavata commented on #6879
Issue still present in 2.1.7... Please provide urgent update or work around
thanks

[2017-07-20 16:20] heyepic opened #10298 "FedEx SmartPost Issue with International Orders"
### Preconditions
1. Magento 2.1.7
2. PHP 7 / Linux
3. PayPal as merchant, FedEx as shipping service.

### Steps to reproduce
1. Enable SmartPost for Fedex Account (account/meter/hub)
2. Choose countries that Fedex can ship to
3. Choose Ground, SmartPost, International, etc.

### Expected result
1. If domestic, show SmartPost and allows SmartPost to be used. In debug, it shows SmartPost being used

[2017-07-20 17:08] EthicalErik opened #10299 "Changing language on a product twice gives error: Requested store is not found"
### Summary
If you change the language twice in a store this system won't redirect you back to the right store. Instead it gives a server error with the message: Requested store is not found

(However This only happends on a product page. On the homepage this does not happen)

### Preconditions
1.  Magento 2.1.7
2.  Multiple store views on one store

### Steps to reproduce
1.  Setup 1 store with t

[2017-07-20 17:09] erik921 commented on #10295
Hey,

Have you tried running the upgrade from the command line interface?
Upgrading from the website never works for me however if I do the upgrade using the command line it always works perfectly fine.

[2017-07-20 17:23] matin73 commented on #4579
realy many bad bugs in magento 2 and nobody of core team is fixing it ... this is soooooooo bad!

[2017-07-20 17:34] jobsmartdesigner1507 commented on #10295
My boss always does the update through the command line, Ive never updated it through the website before

[2017-07-20 17:35] jobsmartdesigner1507 commented on #10295
My boss said the he gets the same error when he tries to run it in the command line, not sure if that helps

[2017-07-20 17:37] JosephLeedy commented on #10296
I tried to run several tests from those search results, but they each returned separate errors.

[code]

[code]

[code]

[2017-07-20 17:47] erik921 commented on #10295
Did he do it like:

composer require magento/product-community-edition 2.1.7 --no-update
composer update
php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy
php bin/magento setup:di:compile
php bin/magento indexer:reindex
php bin/magento cache:flush
php bin/magento cache:clean

And the setup the permissions again

[2017-07-20 17:50] jobsmartdesigner1507 commented on #10295
I dont know I will ask him

[2017-07-20 17:54] amoskvenk commented on #10002
Sorry, but the code I wrote belongs to my company and I cannot share it by NDA. I can only give some tips how to implement it: need to make changes only in the method "readFromCache". If a config record is not loaded from cache, then it is: broken or just never exist in a config tree. Therefore after reloading need to check: if your $pathParts[0] and $pathParts[1] keys are present in the loaded co

[2017-07-20 18:01] spyrule commented on #4579
@matin73 M1.0 went through a lot of teething problems too. I do agree that a monthly patch cycle would be more beneficial until 2.2 or 2.3 stable.

[2017-07-20 18:18] denisrpriebe commented on #5948
On 2.1.7 and still not resolved. I recommend the @magento-team should learn SOLID principles when it comes to writing code.

[2017-07-20 18:56] misha-kotov commented on #4432
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-20 18:56] #4432 closed, assigned to nobody

[2017-07-20 19:56] JosephLeedy commented on #10296
I think there is something wrong with my environment because these tests work on a clean install of M2 2.1.7 in another Magestead box.

[2017-07-20 19:56] #10296 closed, assigned to nobody

[2017-07-20 20:30] andidhouse commented on #2630
This should be escalated to the magento2 top management team now in my perspective. It looks like the m2 developers and m2 GitHub team are not handling bugreports properly since 1.5 years now.

There are hundreds of open bugs here never fixed. This one is also present in 2.1.7.

If you read on GitHub more and more people/developer/user are getting really more and more angry because the @magento-te

[2017-07-20 20:34] MattND commented on #9965
Yes that works  temporarily  but as soon as you reindex it breaks again. Any other update on this yes? Basically it stops all visbale swatches from working- we can't be the only ones here?

[2017-07-20 22:21] abolivar commented on #5105
Same error 2.1.5

- Clean install
- Create grouped product
- Place in order
- Invoice order
 -Resend email

Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder::getItemPrice() must be an instance of Magento\Sales\Model\Order\Item, instance of Magento\Sales\Model\Order\Invoice\Item given, called in /var/www/html/vendor/magento/module-sales/

[2017-07-20 22:32] apicht commented on #10002
@southerncomputer FWIW, we just finally got Varnish through staging, QA, and onto production. The same thing keeps happening with Varnish in place.

[2017-07-21 00:16] seanscott49 commented on #4579
Having the same issue and googled and found this. I am going to create my own country of manufacturer attribute and add in only the countries I need.

[2017-07-21 00:44] chaohe commented on #9875
We ran into the same problem after an automatic update to phpredis 3.1.3. @yatsukhnenko mentions over there that it was a purposeful change that caused side effects, may get removed in next phpredis. If not, may need an update in https://github.com/colinmollenhour/credis/blob/master/Client.php

[2017-07-21 01:07] lclghst commented on #6818
@xAvarice
Yep agree.

1. Find bug in production
2. Go to Github to report it
3. Find it was reported 12 months ago
4. Bug acknowledged and "fixed" 12 months ago
5. Apply fix manually

Things like the [devbox not working](https://github.com/magento/magento2devbox-web/issues/79) make me feel like Magento are trying to get the Community users to either move to Enterprise or solve issues themselves.

[2017-07-21 01:37] wildcard27 commented on #9307
@korostii So not as simple as programmatically deleting all of the entries in the eav_attribute_option_swatch table relating to the attribute being saved if the frontend type is changed? If so, this could be implemented in a plugin as a 'quick' fix for now.

[2017-07-21 01:52] seanscott49 commented on #6382
I added the following to my theme/etc/view.htm and CSS and it works. 2.1.7

`<image id="swatch_image" type="swatch_image">
                <width>50</width>
                <height>50</height>
            </image>
            <image id="swatch_thumb" type="swatch_thumb">
                <width>50</width>
                <height>50</height>
            </image>
            <image id="swatch_image_b

[2017-07-21 05:48] #10269 closed, assigned to nobody

[2017-07-21 06:11] matin73 commented on #4579
@spyrule: there are some realy major bugs in magento 2 - most of them known für more than 1 year! and it seems magento core team is ignoring most of them. i have already lost 2 customers and have bad reputation because they say i am selling rubish. Can i recommend magento 2? no, not at all ...

[2017-07-21 07:00] elzekool commented on #10002
@amoskvenk Thank you for your help. With your pointers I managed to create a patch myself. I can understand the NDA restrictions. If all works correctly I will share my patched file after the weekend

[2017-07-21 07:00] OZZlE commented on #522
![image](https://user-images.githubusercontent.com/893783/28452450-13df69c2-6df3-11e7-9926-884572cb6f1c.png)

[2017-07-21 07:07] andrewli-ca commented on #8875
I tried the sample mixin code in the dev docs (http://devdocs.magento.com/guides/v2.1/howdoi/checkout/checkout_new_step.html) but it didnt work out. turns out the sample code is missing a important line.

add the following line to the Vendor_Module/js/view/shipping-payment-mixin file:

this.isVisible = kko.observable(false)

payment.js uses the isVisible variable to store the value if the step sho

[2017-07-21 07:08] OZZlE commented on #522
Tried with a clean database and could not reproduce it then.. so it seems it's somehow related to the database.. maybe the migration tool..

[2017-07-21 07:46] lclghst commented on #4737
Another day another closed, unfixed bug.
Reported in 2016 and still not fixed. Why am I not surprised.

[2017-07-21 07:54] andidhouse commented on #5509
Still present in 2.1.7 - what does the magento team do here? Backport, internal ticket - this is now over 1 year reported and still not fixed. Magento team pls tell us why? What keeps you away from solving bugs here?

[2017-07-21 08:15] michaeldyl520 opened #10300 "Identifiers of specific pages not work"
### Preconditions

1. Magento2.1.7ce
2. PHP7.0.16-3
3.MYSQL5.7.17-1

### Steps to reproduce

![20170721162108](https://user-images.githubusercontent.com/4518013/28455166-a6c3bdfa-6e30-11e7-9e2a-e4119ec9c001.png)
![20170721162204](https://user-images.githubusercontent.com/4518013/28455205-c74e6f0c-6e30-11e7-80f4-3e04e18082ff.png)
![20170721161012](https://user-images.githubusercontent.com/4518013/2

[2017-07-21 08:29] atishgoswami commented on #10300
@michaeldyl520 you will need to use the url-key of the CMS page for the XML layout file.

![issue_cms_page](https://user-images.githubusercontent.com/2647377/28455429-b609442e-6e1c-11e7-96dc-483ffefd2b1d.png)

For example if you have a cms page with the URL Key `home` then you XML layout file would be `cms_page_view_id_home.xml`

Hope this helps!!

[2017-07-21 08:46] michaeldyl520 commented on #10300
@atishgoswami I try that,it goes work.Thanks,that`s the best sollution.

[2017-07-21 08:56] nntoan commented on #6671
@cpartica Can you provide a patch for 2.1.x ? Or backport it into 2.1.8 ?

[2017-07-21 09:00] doubouil commented on #9875
The error was solved for me with the lastest Credis Client @chaohe provided, thanks !

[2017-07-21 09:02] IlnitskiyArtem commented on #6522
Hi, @asrar7787. Tried to reproduce it as you told but still can't get this error message.
Can you provide the detailed steps we must follow to reproduce this issue?
Here is my steps:
1. Create several websites/stores/store views
2. Set up multidomains fr some of them
3. Create simple product and Save it
4. Assign it for other websites
5. Create Order from backend as a Guest Customer
6. Choose one

[2017-07-21 09:02] mageprince opened #10301 "Customer review report search Bug in 2.1.x, 2.2"
### Preconditions

1. Magento 2.1.5,2.1.6,2.1.7
2. PHP 7.0.17

### Steps to reproduce

1. Go to Reports -> By Customers
2. Enter customer name in search box
3. Click on serach

### Expected result

1. Retrive customer result

### Actual result

1. Fatal Error: Column not found: 1054 Unknown column 'customer_name' in 'where clause', query was: SELECT COUNT(DISTINCT detail.customer_id) FROM `review`

[2017-07-21 09:07] atishgoswami commented on #10300
@michaeldyl520 Please close the issue if you are satisfied with the answer.

[2017-07-21 09:17] Jeordy commented on #2619
@skast96 That's correct. However we turned off 'Use Categories Path for Product URLs' and now the canonical url is used. That works, but the strange thing is that half of the products have correct url's and the other half don't when enabling the option again. All our products are inserted by hand, so there should be no problem creating url keys.

[2017-07-21 09:26] MaximKitsenko commented on #9740
@dmitriyprime yes, the problem is actual. Moreover, i'm not alone
https://magento.stackexchange.com/questions/92976/installation-hangs-while-installing-data
https://magento.stackexchange.com/questions/156221/magento-2-install-stuck-at-73
https://stackoverflow.com/questions/35218372/magento-2-0-2-installation-on-shared-server-stuck-at-66/44071968#44071968
https://stackoverflow.com/questions/4152254

[2017-07-21 10:15] ihor-sviziev commented on #7629
@okorshenko @slavvka @maghamed I could prepare PR if idea that I described is good. Could you review it?

[2017-07-21 10:28] vityakopin commented on #5734
Thanks for reporting this issue. We've created internal ticket MAGETWO-70918.

[2017-07-21 10:42] bdandreas commented on #9667
@addxorsw Hi, I have the same issue you have and found out the store_id is the issue here.

I use the API rest call rest/V1/categories/{id} as documented in swagger.
On a Post request, all values are correctly updated and working properly on a newly created category.

However, when i do the same request as a Put and added some changes in the values on inserted, the only differences was store_id in

[2017-07-21 10:59] addxorsw commented on #9667
@bdandreas Hi, thank you for you comment.
Could you also leave the same message in referenced issue [here](https://github.com/magento/magento2/issues/9949). This problem was already acknowledged as bug and ticked created. You feedback might help developers to understand and solve problem if you report about it there.

[2017-07-21 11:41] raulvian commented on #9377
Same here
2.1.7

Old price is not showing in configurable products...

[2017-07-21 12:13] orlangur commented on #10296
Thanks for your investigation, although sometimes tests are failing when running separately due to implicit dependencies in your env it looks like contents of `/dev/tests/` and `/vendor/` correspond to different Magento versions.

[2017-07-21 12:22] SanderJP commented on #10291
I can reproduce this on a clean 2.1.7 installation with these steps:

1. Create or edit a Simple product.
2. Add Custom option.
3. Select 'Drop-down' Option Type.
4. Click the 'Add value' button to add an empty row, leave it empty.
5. Select a different Option Type (doesn't matter which).
6. Select 'Drop-down' Option Type again.

Result is a infinite loader and no javascript error message.

[2017-07-21 12:37] AlexWorking commented on #4299
Could You @Parceti please send me the file with products You imported. I tried to reproduce the issue on different versions of Magento, but result was the same: page was loading, sometimes up to 60 seconds, maybe even some more, but in the end it was successfully downloaded. And please specify Your CPU and RAM.

[2017-07-21 12:58] vishveskrish commented on #10301
Hey @prince108 ,

We are facing same issue ! let us know if you found any patch.

Thanks,
Vishves Shah

[2017-07-21 14:09] ifuents commented on #7298
In my case it was enough to set is_anchor=0 for root magento category (entity_id=1)

[2017-07-21 14:20] vityakopin commented on #8407
Yes, rule condition was on simple product, with name RED. Configurable product name was Test with configurations RED and BLUE. Cart Price Rule configuration is on attached screen. When to cart added 2 configurable product with option "blue" discount wasn't applied. When to cart added 2 configurable product with option "red" discount was applied 50% of products cost.

[2017-07-21 14:54] niners52 commented on #6176
Magento 2.1.7
Still having this issue.

[2017-07-21 15:08] okorshenko commented on #7629
I @ihor-sviziev sorry for the delay. I will review the issue ASAP and provide you feedback. Thank you

[2017-07-21 15:43] petrich commented on #9326
Same issue here.... does anyone have a workaround or "quick-fix"? Would be great.
Thank you in Advance

[2017-07-21 15:47] okorshenko commented on #9850
Hi @kumarshanu90 do you have any progress on that? Thank you

[2017-07-21 15:56] korostii commented on #9307
@wildcard27, That might break the actual swatch attributes that should _not_ look like dropdown, so be careful down that road. But yeah, that _might_ work.

Personally, I don't think there's a "quick" solutions here. I mean, there were [whole](https://github.com/magento/magento2/commits/436d046f75309df7005d6bea05d8274a252388c6/app/code/Magento/Swatches/Model/SwatchAttributeCodes.php) [classes](htt

[2017-07-21 17:39] byronlbailey commented on #8282
I encountered this problem today.  I checked the code, and the field is currently mapped from the csv field named out_of_stock_qty.  You can update that field to a non-null to get around the problem until the code is fixed.

[2017-07-21 17:58] antonkril commented on #10045
"Resolver" is not the best name here. "List" or "Provider" would be a better fit.

[2017-07-21 20:11] JosephLeedy commented on #10296
I tracked the issue down to a third-party extension that is overriding the Order model and causing the test order to not be saved correctly.

[2017-07-21 20:34] georgios-2317 commented on #2856
Faced the same issue myself today trying to move some database entries around.

Resolved by:

1. check admin_user table for correct entries
2. check authorization_role for correct entries
3. check authorization_rule for correct entries
4. clear var/cache folder
5. clear browser cache

With the tables worse case scenario (to give you control back) and assuming you have at least one valid admin user

[2017-07-21 20:37] valdislav commented on #7862
@veloraven
First language deployment is still overrides js-translation.json in all languages.
php bin/magento setup:static-content:deploy en_CA en_US
Got the canada js-translation.json in both static path.

[2017-07-21 20:41] sammarcus commented on #7570
I am also (still) experiencing this on 2.1.7 CE

[2017-07-21 21:16] travisdetert commented on #2881
"This issue doesn't seem to be magento related, but related to your server settings. Hence, closing this issue. Please feel free to open a new issue if problems arise."

Disagree - we're using your boilerplate .htaccess and nginx vhost configs and we continue to get this undesired behavior.

[2017-07-22 00:48] toanthree commented on #7298
I have struggled with this problem for almost a day.
And finnally i found out about this.

It is because of my data migrated from magento V1 to magento V2.
Some categories have the same url as products. And when we save categories. It throw mysql exception named URL_REWRITE_REQUEST_PATH_STORE_ID (request_path, store_id is unique)

There are my solutions:
**The firt one** : Clean up your database i

[2017-07-22 01:01] toanthree commented on #6671
Hi guys,

Let's try my solutions issue #7298.

Hope this help.
Thanks.

[2017-07-22 01:03] toanthree commented on #9290
Hi guys,

Let's try my solutions issue #7298.

Hope this help.
Thanks.

[2017-07-22 05:25] dev-Dhaval commented on #10301
**Its solved**

need to update two files

1. Update `_joinCustomers` function in
    `vendor/magento/module-reports/Model/ResourceModel/Review/Customer/Collection.php`

[code]
2. Update line no 43 to 53 in below file
`    vendor/magento/module-reports/view/adminhtml/layout/reports_report_review_customer_grid.xml`

[code]

[2017-07-22 10:23] prince108 commented on #10301
@dev-Dhaval thanks for your reply. But this will not work. I have debugged code and found the issue.
If you see below query by printing $this->_joinCustomers()  values.

`SELECT `detail`.`customer_id`, CONCAT_WS(' ', customer.firstname, customer.lastname) AS `customer_name`, COUNT(main_table.review_id) AS `review_cnt` FROM `bn0z_review` AS `main_table` INNER JOIN `bn0z_review_detail` AS `detail` O

[2017-07-22 10:36] dev-Dhaval commented on #10301
@prince108 , your query look like coming from cache. because in our updated code have not use `customer.lastname` and its showing in your query. can you please apply setup :upgrade command . because it's working from my side.

[2017-07-22 11:33] prince108 commented on #10301
@dev-Dhaval, I print this query in default Magento collection.php without changes. what I am trying to say that **$this->_joinCustomers() returns right query.**

I also try to run this query directly in phpmyadmin it's working fine. but at the time of search customer grid get columns (customer_name and review_cnt) from directly in tables without including this join query.

You can debug and share

[2017-07-22 16:08] andidhouse commented on #5596
I can confirm this is, again, not implemented in 2.1.7. Reported over one year ago - and not fixed. 5 shops left on magento2 for our company - 13 switched and running now on other ecommerce systems at the moment as the magento team does not get the job done in fixing bugs since over one year.

[2017-07-22 16:26] chamalC commented on #5999
I had the same issue with 2.1.7 EE , in my case we have upgraded our store from 2.0.15 EE to 2.1.7 EE and with 2.1.x versions I noticed that there is a new attribute Group called "Bundle Items" which wrapped "shipment_type" attribute.

So to resolve the issue I have manually "Bundle Items" group wrapped with "shipment_type" attribute to each custom Attribute sets and it resolved the issue

<img wi

[2017-07-22 21:13] skast96 commented on #2619
@Jeordy thank you for your answer, I have been thinking about this issue quiet a while, and came to the conclusion that i just load a collection with one particular product in it and call the addRewriteUrl function on it. It's the easiest way I thought of and it works really well. The best way would be adding this method to the product itself if someone, like me, just needs one particular product

[2017-07-22 21:45] renatolovato commented on #8267
Hi, guys!

The problem is, Magento for some reason hasn't set up the customer group id for the simple product correctly.

This is a quick fix that you can apply, until Magento devs solve this:

You need to change the file **vendor/magento/module-catalog/Model/Product/Type/Price.php**

**From:**

[code]

**To:**

[code]

[2017-07-22 22:31] storepeinture commented on #4148
I confirm that the issue also exists for me in 2.1.7
The Bill-to-Name is populated in Order Overview. But in Invoice Overview the Bill-to-Name column is empty for all invoices.

This is definitely not the worst issue, since customer names can be found through order overview, but it should be solved for convenience and usability.

Can anybody else confirm this issue?

[2017-07-23 10:34] enrico69 commented on #9201
If not completed or aleady assigned, I would like to contribute to this one.
I am keen on developers tools, I have developed a small module to list plugins, observers implementations and class overriding.

I think this new command is a good idea.

[2017-07-23 11:31] ronnybremer commented on #9448
@1408sheva sure, thank you for looking at the config. This is the list of files, I have only modified the catnp.conf:

ll /etc/httpd/conf.d/
total 44
-rw-r--r--. 1 root root 2926 Apr 12 23:03 autoindex.conf
-rw-r--r--. 1 root root 1008 Jul 11 11:13 catnp.conf
-rw-r--r--. 1 root root  401 Jun 10  2014 fcgid.conf
-rw-r--r--. 1 root root  295 Apr 12 15:50 manual.conf
-rw-r--r--. 1 root root 1017 Mar

[2017-07-23 11:33] ronnybremer commented on #9448
catnp.conf:

<VirtualHost *:80>
    ServerName          server.test.com
    DocumentRoot        /var/www/html/
 </VirtualHost>

 <VirtualHost *:80>
    ServerName          frontend.my.store
    ServerAlias            my.store
    DocumentRoot        /var/www/html/
    SetEnv MAGE_RUN_CODE "ws_mystore"
    SetEnv MAGE_RUN_TYPE "website"
 </VirtualHost>

 <VirtualHost *:80>
    ServerName          f

[2017-07-23 11:34] ronnybremer commented on #9448
All 5 DNS entires are pointing to the same IPv4 and IPv6 address.

I appreciate your assistance in that matter.

Yours,

Ronny

[2017-07-23 11:59] aliantech commented on #9965
using 2.1.7
i have the same problem, sometime it works, but after flush the cache or reindex it breaks again, it can not show swatch image, only show swatch words!!!!!!!

[2017-07-23 13:23] andidhouse opened #10303 "Configurabel products special price bug"
### Preconditions

1. Magento version 2.1.7 via download
2. Nginx, PHP7, varnish, redis

### Steps to reproduce

1. Create one configurable product with 3 size articles (simple products) under this article
2. Give the simple products /and or the configurable products a special price and also fill "special price from/to"

### Expected result

1. If you choose one of the size articles over the dropd

[2017-07-23 15:20] andidhouse commented on #8681
This is still present in 2.1.7 - Major bug for an commerce system but not answered or fixed since month. Wow!

[2017-07-23 16:03] bobbyn commented on #6718
https://github.com/magento/magento2/pull/9692/files
This fix worked for me. Thanks to JTimNolan

[2017-07-23 19:12] christopher-s commented on #6671
@cpartica I would also like to see a patch that we can apply to 2.1.x. This issue is causing no end of grief for my client's ecommerce site.

[2017-07-23 21:03] dharake commented on #6671
agreed, please guys, sort this out. SEO nightmare

On Sun, Jul 23, 2017 at 10:12 PM, Christopher Staley <
notifications@github.com> wrote:

[2017-07-23 21:51] onepack commented on #5670
I tried the fix/ workaround from https://github.com/magento/magento2/pull/6035 but without any luck.
The results are the same.
Anybody?

[2017-07-23 22:40] fooman commented on #2649
FYI for any one stumbling across this I have started https://github.com/fooman/magento2-dev-bootstrap to be able to use Magento 2's bootstrap process without needing to install a full Magento 2.

[2017-07-24 02:07] nikoelgatito opened #10304 "Backorders not working when product is marked as "Out of Stock" (Can't add product to cart)"
From the official Magento documentation both for the first edition and Magento 2 we can read the following very logical definition for **Out of Stock** products:

Source: http://docs.magento.com/m2/ce/user_guide/catalog/settings-advanced-advanced-inventory.html

### Preconditions

1. Magento 2.3.x
2. Edit/Create a product,
3. Set **Manage Stock** to "Yes",
4. Set **Qty** to "0",
5. Enable Backorde

[2017-07-24 02:25] erfanimani commented on #2247
This should be re-opened (or at least reevaluated). It's clearly not intended nor expected behaviour.. How can a layout update XML field not do the single most important thing you expect from it? Things like setting/unsetting values on blocks, changing templates, removing blocks, etc.

Besides, it seems to work fine if you wrap it in a dummy `referenceContainer` clause:

[code]

Also see https://m

[2017-07-24 02:34] erfanimani commented on #7510
Also see this ticket: https://github.com/magento/magento2/issues/2247

I'm surprised that wrapping the code inside a `referenceContainer` tag works - even if that container doesn't exist:

[code]

While this is clearly wrong from a coding standpoint, I'm not getting any warnings/errors in system.log or exception.log. It's also working visually.

Last ticket was closed because it wasn't a technical

[2017-07-24 06:04] Tonop opened #10305 "Newsletter Error 5.1.7 Bad address mailbox syntax."
### Preconditions

Magento: 2.1.6
PHP: 5.6.26
MySQL: 14.14 Distrib 5.7.15
### Steps to reproduce

1. Create Nesletter queue.
2. Send Nesletter queue.
![newsletter_sent](https://user-images.githubusercontent.com/2456408/28510118-1e2abb8a-704f-11e7-9340-21405a3663d5.jpg)

3. See Newsletter Problems Report

### Expected result

1. Users received email
2. No errors in Newsletter Problems Report

### A

[2017-07-24 06:12] SchumacherFM commented on #5596
It will never be fixed in any future 2.1 release. 2.1 receives only security fixes.
You shall upgrade to 2.2 ... which has lots of breaking changes but it's worth.

[2017-07-24 06:20] IlnitskiyArtem commented on #8201
Hi, @OZZlE. I've linked this GitHub issue to internal ticket MAGETWO-70950.

[2017-07-24 06:55] dank00 commented on #5038
@joni-jones any update on this? Finding this open issue has ruined my day somewhat.

[2017-07-24 07:07] hostep commented on #5596
@SchumacherFM: can you stop spreading such news, this is definitely not true. 2.1 still receives bug fixes, just look at what's going on on the [2.1.8-preview branch](https://github.com/magento/magento2/tree/2.1.8-preview), you'll see a lot of bug fixes. They just need to start releasing it very soon as it has been almost 4 months since the last bugfix release...

[2017-07-24 07:15] hostep commented on #8201
@IlnitskiyArtem: This was already sort of fixed in Magento 2.1.3, but a new bug was introduced due to those optimizations: https://github.com/magento/magento2/issues/7862, that last bug looks like was also already fixed on the develop branch, but I haven't checked it out yet...

[2017-07-24 07:28] SyedMuneebb commented on #8180
Create crontab.xml file in app/code/Magenticians/Mymodule/etc and copy this code:

`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Cron:etc/crontab.xsd">
<group id="default">
<job name="cron_name" instance="Magenticians\Mymodule\Cron\Run" method="execute">
<schedule>*/1 * * * *</schedule>-->
</job>
</gro

[2017-07-24 07:39] joni-jones commented on #5038
Hi, @dank00, I'm not sure if it will be done before Magento 2.3 release. This issue was converted to feature because requires refactoring of a lot of functionality which includes code auto generation, pluginization, etc.

[2017-07-24 07:50] 1408sheva commented on #10081
Hi, @noprobz09. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-07-24 07:59] joni-jones commented on #10298
Hi, @heyepic.

The current implementation doesn't check the difference between origin and destination countries and always tries to retrieve SmartPost rate.

Now, I see only one achievement - additional checks will reduce response time because only one request will be processed. But I'm not sure if it will give a significant profit.

[2017-07-24 08:14] joni-jones commented on #10283
Hi, @iamkerly, please, follow to [issue reporting guideline](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

Also, I've checked USPS integration on Magento 2.1.7 version, the rates for Canada are available. Please, update attached `debug.log` with request details and format the response because posted XML is broken and unreadable.

[2017-07-24 08:19] ArthurTransoftgroup commented on #9529
@wibbel We've created internal ticket MAGETWO-70951 to address this issue.

[2017-07-24 08:21] odhier commented on #3759
@antboiko Any updates to this issue?
same problem here with magento CE 2.1.7

[2017-07-24 08:24] joni-jones commented on #10293
Hi, @Jeevachezhiyan, please provide the response from Authorize.net `transact.dll` action (you can find it in the browser console log during place order flow on the payment step).

[2017-07-24 08:29] krutkoroma79911 commented on #6819
@kanduvisla Hi, can you please provide all your requests with following bodies?

[2017-07-24 08:32] zelgerj commented on #10051
Any news here? Thanks!

[2017-07-24 08:34] veloraven commented on #10270
@kikinbenshakib thank you for your feedback.
If you want to report an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If you are looking for some advice or discussion please refer to the [Community Forums](https://community.magento.com) or t

[2017-07-24 08:35] veloraven commented on #10268
@giacomo96 thank you for your feedback.
If you want to report an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Also please write it in English.
If you are looking for some advice or discussion please refer to the [Community Forums](https:/

[2017-07-24 08:39] veloraven commented on #10251
@melwinVincent thank you for your feedback.
Do I understand right that the problem was resolved and the issue can be closed?

[2017-07-24 08:40] mattgreenfield commented on #8532
I am also having this issue, does anyone know of a work around? Thanks.

[2017-07-24 08:45] veloraven commented on #10241
@chefbuitenhuis thank you for your report.
Given this issue is reported against Enterprise edition, please report via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
As pages hierarchy is present in EE only we can not treat this problem as an issue in GitHub. As GitHub is intended for Community edition reports only.

[2017-07-24 08:45] #10241 closed, assigned to nobody

[2017-07-24 08:45] joni-jones commented on #10154
Hi, @angelo983, if you are using sandbox PayPal account - it's expected behavior. By default, PayPal doesn't allow to process invoices with the same ID and if you are using the same PayPal account for different Magento installations (or even reinstall Magento few times) the invoice ID will duplicate.

To avoid this situation you need to login into [PayPal sandbox account](https://www.sandbox.paypa

[2017-07-24 08:46] veloraven commented on #10239
@ottybrad thank you for your feedback.
If you want to report an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If you are looking for some advice or discussion please refer to the [Community Forums](https://community.magento.com) or the [Ma

[2017-07-24 08:47] krutkoroma79911 commented on #10291
@NagarajuKasa Hi, thanks for your feedback. The internal ticket was created MAGETWO-70954 to address this issue.

[2017-07-24 08:51] TomashKhamlai commented on #9587
Hello! Thank you for your submission. I will try to reproduce this issue. In the 4-th step, after I cloned Magento from Github, the error appears. Please look:

[code]
Is this problem actual for you?

[2017-07-24 08:51] IlnitskiyArtem commented on #5846
@jameswithers I tried to reproduce it importing 100+ simple products about 20 times, each time changing price and quantity but still cannot cannot observe this behavior. Please, provide more information about your .csv's sensitive data, with my .csv everything works fine. Without reproducing the case i can't create internal ticket.

[2017-07-24 09:00] Jeordy commented on #2619
@skast96 We've solved the issue with some help. It seems we changed the dbStorage with a Github fix that isn't a fix. We reverted this 'fix' and used a module called: URL Rewrite Regeneration from ThLassche (https://marketplace.magento.com/thlassche-regeneraterewrites.html). Great module and I advise you to buy and use it. Great support too from ThLassche himself.

[2017-07-24 09:01] veloraven commented on #10220
@MagePsycho thank you for your feedback.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2017-07-24 09:05] victor-v-rad commented on #10221
@webmasterdragon Did you migrate "settings" before "data" ? It seems like 'stores' have not been migrated

[2017-07-24 09:08] krutkoroma79911 commented on #10301
@prince108 Hi. Thanks for your feedback. The internal ticket MAGETWO-70955 was created to address this issue.

[2017-07-24 09:09] korostii commented on #6522
Hi @IlnitskiyArtem, have you tried following the steps given by @alexpoletaev ?
https://github.com/magento/magento2/issues/6522#issuecomment-276027109
Those seem to be detailed enough.

[2017-07-24 09:24] elzekool commented on #10002
As promised, this is a patched version for System.php that fixes the Redis issue. Use this patched version as a temporary fix, I strongly advise you not to change core Magento files! Patch it in your own extension!

https://gist.github.com/elzekool/b3e77a48ff3010d082c94f98c3e3f0ea

[2017-07-24 09:28] 7ochem commented on #10002
@elzekool could you also provide a unified diff patch file? So I could see the actual changes and apply the patch to my own existing `System.php` file?

[2017-07-24 09:39] jameswithers commented on #5846
@IlnitskiyArtem the problem is not the file (I no longer have access to this as it was over a year ago), it's in Magento not raising an error. If you unit test this, you should be able to make `jsonEncode` return `null` once, and you will see the behaviour in action.

[2017-07-24 09:57] Gujarats commented on #7072
I'm having the same problem like this too. I solve the problem by the following command :

[code]
Now the error is gone. But not sure why this is happen though.

[2017-07-24 10:04] Jeevachezhiyan commented on #10293
@joni-jones  please find the request and response below
**Request :**
 `x_version:3.1
x_delim_data:FALSE
x_relay_response:TRUE
x_test_request:TRUE
x_login:2B68weVc
x_method:CC
x_relay_url:http://182.74.57.131/expotrade/expo/english/authorizenet/directpost_payment/response
x_type:AUTH_ONLY
x_fp_sequence:144
x_invoice_num:000000079
x_amount:45333
x_currency_code:USD
x_tax:0.00
x_freight:5.00
x_first

[2017-07-24 10:12] k4emic commented on #7588
Reproduced on 2.1.7 running apache with PHP 7.

[2017-07-24 10:14] tommybds commented on #5596
Same here, how can such a bug couldn't be solved more than a year after being noticed ?
Do anyone had tried with some cookie module with success ?

[2017-07-24 10:19] webmasterdragon commented on #10221
Thanks for your reply.
I used uber migration tools for migration.
I am not sure setting is migrated.
But I think setting was migrated.Database setting migration is step 1 to migrate.
How can i fix this?
Hope for your reply.
Best regards

[2017-07-24 10:41] krutkoroma79911 commented on #10222
@magentoprasad Hi. Thanks for your feedback. I was tried to reproduce your issue on the latest version of Magento 2 and see my result on screenshot.
![screenshot_3](https://user-images.githubusercontent.com/27814479/28519732-6c9f2924-7075-11e7-98a3-5da136633836.png)
As you can see all information is presented. Can you try to reproduce the issue on clean instance? If yes so tell us more details to

[2017-07-24 10:42] joni-jones commented on #10293
@Jeevachezhiyan, if you are using sandbox account, you must disable `Test Mode` in Authorize.net configuration.

Test Mode - `No`
Gateway URL - https://test.authorize.net/gateway/transact.dll
Transaction Details URL - https://apitest.authorize.net/xml/v1/request.api

[2017-07-24 10:53] iivashchenko commented on #6568
@irevdev, thank you for configuration settings which helped me to reproduce the bug. I've linked this GitHub issue to internal ticket MAGETWO-70958.

[2017-07-24 10:55] Jeevachezhiyan commented on #10293
@joni-jones I already tried it throw like below,
`<HTML><BODY><H3>The following errors have occurred.</H3>(13) The merchant login ID or password is invalid or the account is inactive.<BR></BODY></HTML>`

But in previous response you can see the invoice number returning from the site and i enabled the sandbox mode in authorize.net side.In magento 1.9 i just enabled test mode and i did't change the

[2017-07-24 10:58] joni-jones commented on #10293
The invoice number is provided by Magento because the order at first created on Magento side. Try to create another sandbox account. Sandbox accounts do not work with enabled `Test Mode` - this mode only for production accounts.

[2017-07-24 11:18] Jeevachezhiyan commented on #10293
@joni-jones payment working fine but something went wrong page is coming after that only it goes to the success page.Any time need to change in jquery?

[2017-07-24 11:23] veloraven commented on #10233
@SatishDubariya thank you for your report.
But I'm closing this issue as duplicate of #6323.

[2017-07-24 11:23] #10233 closed, assigned to nobody

[2017-07-24 11:54] underser commented on #5808
Hi!
Can enybody, please, explain me. How I can override **initialize** method (for add fix from @Crossmotion), that was defined in this file lib/web/mage/gallery/gallery.js. I try write mixin, but can't get this method in it.
All that I was found is this https://magento.stackexchange.com/questions/104324/how-to-extend-core-js-files-or-class-or-function-in-magento2

Thank you very much.

[2017-07-24 12:01] Jeevachezhiyan commented on #10293
@joni-jones now everything working fine thanks for your help...

[2017-07-24 12:01] #10293 closed, assigned to alena-marchenko

[2017-07-24 12:31] krutkoroma79911 commented on #10299
@erik921 Thanks for reporting this issue. Unfortunately, I could not reproduce the issue as you described it. Can you try to reproduce it on default theme and using clean instance? And also tell us, is your instance upgraded from previous version?

[2017-07-24 12:37] veloraven commented on #10219
@maazsherpao thank you for your feedback.

[2017-07-24 12:52] AlexWorking commented on #10275
Hello, @ihor-sviziev. Based on Your issue an internal ticket was created - MAGETWO-70961. As the issue is fixed You'll be informed. Thank You for reporting.

[2017-07-24 13:05] smoskaluk commented on #10305
@Tonop Unfortunately, I could not reproduce the issue as you described it. Please provide the detailed steps I must follow to reproduce this issue. In addition, identify the web server you are running, the versions of PHP and MySQL, and any other information needed to reproduce your issue.

[2017-07-24 13:22] veloraven commented on #10215
@ram10raj thank you for your report.
Unfortunately we can not treat it as an issue in GitHub as it is intended for CE issues only and split database functionality is present in EE only.
Please report it via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.

[2017-07-24 13:22] #10215 closed, assigned to nobody

[2017-07-24 13:24] Tonop commented on #10305
@smoskaluk ,
Server version: Apache/2.2.15 (Unix)
Server built:   Nov 15 2012 15:52:50

No specific steps to reproduce, default settings. Emails are set up correctly. When order is received, email are sent. What additional info do you need else?

[2017-07-24 13:26] Dukeofvampires commented on #6803
anyone were able to add an image to product programmatically?

[2017-07-24 13:29] Andrii-Deineha commented on #7504
@maderlock  Hi, thanks for reporting this issue. Internal ticket was created MAGETWO-70962.

[2017-07-24 13:34] tommybds commented on #5596
Used https://cookieconsent.insites.com/
Worked like a charm out of the box.

[2017-07-24 13:35] IlnitskiyArtem commented on #5846
@jameswithers Created internal issue MAGETWO-70963 to investigate and track this issue. Thanks for your help.

[2017-07-24 13:39] andidhouse commented on #5596
Hi @tommybds thanks for the link - i think we go for it too. The magento internal cookie notice is really crap.

Could you maybe tell the community how you implemented this?

Would be great!

Thanks!

[2017-07-24 13:41] TomashKhamlai commented on #9477
Hello! Thank you for reporting this issue! At first glance, it doesn't look like a bug.
Let assign a number for the ways of executing integration tests to simplify communication.
1. [PHPUnit &#9875;](http://devdocs.magento.com/guides/v2.0/test/integration/integration_test_execution_cli.html#running-only-a-custom-testsuite)
[code]
2. [Magento CLI &#9875;](http://devdocs.magento.com/guides/v2.0/conf

[2017-07-24 13:42] Andrii-Deineha commented on #8805
@ochnygosch Hi, unfortunately, I could not reproduce the issue as you described it. Describe in more detail about Steps 3 and 4, your removal requests in the database and how many columns to delete th attribute_id = 45 (Name) and store_id = 0(one or all). Screenshots would be helpful, too. Thank you

[2017-07-24 13:50] orlangur commented on #9477
Documentation states
`$ php ../../../vendor/bin/phpunit --testsuite "Third Party Integration Tests"`

It has nothing to do with `bin/magento dev:test:run integration --testsuite "Memory Usage Tests"`

So, obviously, this issue is not a bug but a feature request ("pass all arguments to PHPUnit").

As to me, I never used `bin/magento dev:test:run` and have no idea what's the reasoning behind its int

[2017-07-24 13:50] tommybds commented on #5596
Hello @andidhouse , you can generate a little script on my link, and choose the color or the text. Once you're done, copy the code and paste it in the html header of your website view in content->design->conf
You can see the effect here for exemple : https://tommy-bordas.fr/

[2017-07-24 13:52] VasylShvorak commented on #7653
@quienti  , thank you for your report.
Unfortunately I was not able to reproduce this issue.
Please describe all steps you have done in more detailed way.
And if you can attach screenshot or some logs it may help as well.

[2017-07-24 13:58] ArthurTransoftgroup commented on #6708
@XigenDominic Unfortunately, I could not reproduce the issue as you described it. Read this article from Google about "How to track transaction-specific values on a website" and let me know if it helped you https://support.google.com/adwords/answer/6095947

[2017-07-24 14:02] JacobDrummond commented on #6803
@Dukeofvampires,

Yes:
### 1
Install this: https://github.com/DIE-KAVALLERIE/magento2-product-image-fix

### 2
[code]

[2017-07-24 14:02] XigenDominic commented on #6708
On that link you sent

Part 3: Add or modify the tag in your website's code

Expand PHP: Hypertext Preprocessor (PHP)

Should see "To add conversion tracking code to PHP pages using your web page editor, look to the code below, then remove from your own code the lines that are crossed out,..."

[...]
if (<? echo $totalValue ?>) {
    var google_conversion_value = <? echo $totalValue ?>;
    var go

[2017-07-24 14:03] andidhouse commented on #10303
@veloraven thanks for flagging this.

Is this really a bug? I hoped it is a misconfiguration at our side so we can fix this quick.
If it is a bug is there a workaround?

Thanks for pointing this out!

[2017-07-24 14:06] XigenDominic commented on #6708
Part 3 point 5

(Optional) If you accept different currencies, add a line within the if statement to accept currency: var google_conversion_currency = $currency.  In the noscript section of the tag, be sure to add &currency_code= $currency

[2017-07-24 14:07] ArthurTransoftgroup commented on #6128
@mad4hit Thank you for your submission. Let us know if this code helped you and if this issue is still relevant for you. If you still have this issue, please describe each step of the procedure you followed.

[2017-07-24 14:09] Dukeofvampires commented on #6803
Thank you, this will do as a temporary solution.
But I generally don't like the idea of overriding product repository :(

Also how magento itself is saving uploaded images through admin?
I'm currently trying to debug, but with all those ajax calls it's taking longer then expected.

[2017-07-24 14:12] heyepic commented on #10298
Thanks for the reply. If provisioning can be set to check, it would help out quite a few folks I would imagine.

I also have shown this thread to Fedex Web Services and a Fedex rep we are working with - hopefully some progress can be made on this. Thanks again.

[2017-07-24 14:22] IlnitskiyArtem commented on #8851
@kevin-carroll-cl Internal ticket MAGETWO-70964, which tracks this GitHub issue, is in our issue backlog.

[2017-07-24 14:23] JacobDrummond commented on #6803
@Dukeofvampires, as with most issues on magento2, there's probably a year-old fix in develop branch that hasn't been pushed to release :(

I don't know how Magento admin gets round it. Due to time constraints, I gave up debugging and applied @eduard-kistner's patch.

[2017-07-24 14:25] 1408sheva commented on #10303
Hi, @andidhouse. I cannot reproduce this issue. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

![222](https://user-images.githubusercontent.com/22118443/28527987-05ea55da-7095-11e7-98d8-1cfd7643d369.PNG)
![111](https://user-images.githubusercontent.com/22118443/28527989-05ecbf46-7095-11e7-8bc6-a78ef9a78

[2017-07-24 14:30] andidhouse commented on #10303
hi @1408sheva thanks for the feedback.

Could you pls change the Virtual products into simple products - lets see if it works then.

Log files do not report anything here.

[2017-07-24 14:31] CatherineLearmonth commented on #7877
I wanted to alert you to what I think is a related issue.
When updating (remove then add) a product's images through the api, the images are written to catalog_product_entity_media_gallery_value with an incorrect store_id of 1. This is using the $magentoProduct->setMediaGalleryEntries([entries]) function in the API.  I can't see a way round this issue, to write the images to this table with a corr

[2017-07-24 14:33] Dukeofvampires commented on #6803
@JacobDrummond
As far as I understood, magento itself is using resourced directly. Probably this way saving is not affected by Repository bug.

That's a problem with M2 using deprecated methods in it's core.

So probably I would prefer using patch as well.

[2017-07-24 14:35] andidhouse commented on #5596
Hi @tommybds thanks - i just wondered if it would make more sense to implement this directly into the template - but your solution works like expected.

From SEO perspective i would not want to load two extra files (CSS and JS) from another server for the cookie notice. I try to get a developer today - i think it is simple to host both css and script on the magento server so this would be the best

[2017-07-24 14:36] ArthurTransoftgroup commented on #6708
@XigenDominic So in your case, the "if statement" doesn't work?

[2017-07-24 14:37] veloraven commented on #10187
@karthigesh thank you for your report.
Please specify which payment method is used.

[2017-07-24 14:39] XigenDominic commented on #6708
That example is from the google docs.  But okay, in my case the if statement doesn't exist.

[2017-07-24 14:39] veloraven commented on #6304
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-24 14:39] #6304 closed, assigned to nobody

[2017-07-24 14:45] JacobDrummond commented on #6803
@Dukeofvampires, not `ResourceModel->save()`, but [`Model->save()`](/magento/magento2/blob/2.1.7/app/code/Magento/Catalog/Controller/Adminhtml/Product/Save.php#L110). Which is still pretty bad, considering `AbstractModel->save()` [is deprecated](/magento/magento2/blob/2.1.7/lib/internal/Magento/Framework/Model/AbstractModel.php#L627).

I see this all the time throughout the codebase: Magento devs

[2017-07-24 14:49] Flamestyle commented on #8178
@Patruvlad, Could you write where exactly these lines were written?

[2017-07-24 14:50] tommybds commented on #5596
Hi @andidhouse If you find a way to simplify the css let me know :)

[2017-07-24 14:51] 1408sheva commented on #10303
@andidhouse okay))

![11](https://user-images.githubusercontent.com/22118443/28529242-b03cda8c-7098-11e7-9dbd-345cc3c44f2d.PNG)
![22](https://user-images.githubusercontent.com/22118443/28529241-b03a4f24-7098-11e7-9b95-5e3450a4607d.PNG)

[2017-07-24 14:51] veloraven commented on #10156
@Leonede thank you for your feedback.
If you want to report an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.
If you are looking for some advice or discussion please refer to t

[2017-07-24 14:51] VasylShvorak commented on #7674
@thdoan  , thank you for your report.
Unfortunately I was not able to reproduce this issue.Please describe all steps you have done in more detailed way.And if you can attach screenshot or some logs it may help as well.

[2017-07-24 14:56] AlexWorking commented on #10235
Hello @arvenzis. An internal ticket has been created - MAGETWO-70967 that is based on Your issue. As the bug is fixed You will be informed about it. Thanks for applying.

[2017-07-24 14:58] veloraven commented on #10152
I'm closing this issue as GitHub issue tracker is intended for technical issues only.

[2017-07-24 14:58] #10152 closed, assigned to nobody

[2017-07-24 15:01] andidhouse commented on #10303
@1408sheva can you pls set the price of the configurable product to 100 and not to 77 - this is the normal price not the special price ;-).

I am not shure what screenshots i should post here? Let me know which ones you need and i will post them.

[2017-07-24 15:19] Hopfrosch commented on #7510
I have nearly the same problem.
If I set a list.phtml for a category it wont show up.

`
<referenceContainer name="content">
<referenceBlock name="category.products.list">
    <arguments>
        <argument name="template" xsi:type="string">Magento_Catalog::product/list_souvenirs.phtml</argument>
    </arguments>
</referenceBlock>
</referenceContainer>
`

[2017-07-24 15:26] aaronsilber commented on #8184
Duplicate of #7959

Patched in develop branch and 2.2 as MAGETWO-69541

[2017-07-24 15:27] iivashchenko commented on #6258
@Jeevachezhiyan, it looks like your Authorize.net Direct Post payment is misconfigured. Please, open a new ticket for that issue and provide us your Authorize.net configuration, debug log and response from authorize.net/gateway/transact.dll, if possible.

[2017-07-24 15:33] tommybds commented on #7525
Found out that my translations problems were when I deploy files.

**with this :php bin/magento setup:static-content:deploy**
problem with CSS and JS

**php bin/magento setup:static-content:deploy -l en_US -l fr_FR**
Problems with some translations not working (due to overwriting)

**php bin/magento setup:static-content:deploy -l fr_FR**
No more problems

So final solution for me was to launch the

[2017-07-24 15:34] tommybds commented on #2951
Found out that my translations problems were because of deploying files.

**with this :php bin/magento setup:static-content:deploy**
problem with CSS and JS

**php bin/magento setup:static-content:deploy -l en_US -l fr_FR**
Problems with some translations not working (due to overwriting)

**php bin/magento setup:static-content:deploy -l fr_FR**
No more problems

So final solution for me was to lau

[2017-07-24 15:50] heyepic commented on #10298
How would I provide Fedex with the following:
The XML or Soap/XML transaction of the failed order

[2017-07-24 16:02] rotanev commented on #5301
Temporary solution (saves his time and nerves):

1. Make copy of `vendor/magento/module-theme/view/frontend/web/js/view/messages.js` file:
<pre>
[magento@server webhome]# cp vendor/magento/module-theme/view/frontend/web/js/view/messages.js \
app/design/frontend/&lt;VendorName&gt;/&lt;theme&gt;/Magento_Theme/web/js/view/messages.js
</pre>

2. Find next line:
<pre>
$.cookieStorage.set('mage-messages

[2017-07-24 16:04] rotanev commented on #5530
Temporary solution (saves his time and nerves):

1. Make copy of `vendor/magento/module-theme/view/frontend/web/js/view/messages.js` file:
<pre>
[magento@server webhome]# cp vendor/magento/module-theme/view/frontend/web/js/view/messages.js \
app/design/frontend/&lt;VendorName&gt;/&lt;theme&gt;/Magento_Theme/web/js/view/messages.js
</pre>

2. Find next line:
<pre>
$.cookieStorage.set('mage-messages

[2017-07-24 16:36] denisrpriebe commented on #8815
@erikhansen @AirmanAJK @Vedrillan Have you guys found a solution to this problem? Do you have any code I could try and implement? Thanks.

[2017-07-24 16:53] erikhansen commented on #8815
@denisrpriebe No, I don't have any patch or solution to share.

[2017-07-24 16:55] erikhansen commented on #8815
@denisrpriebe Actually, I do have a patch you could try, although I never tested it. If you want it, email me at erik@<domain listed in my Github profile>.

[2017-07-24 17:12] denisrpriebe commented on #8815
@erikhansen Cool, just shot you an email.

[2017-07-24 17:21] kirkmadera opened #10307 "Sample data setup:upgrade should fail if "base" website does not exist"
### Preconditions

1. Install Magento 2.1.7 ```composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition myproject && cd myproject &&
bin/magento setup:install --db-host=localhost --db-name=myproject --db-user=dev --db-password=password1 --base-url=https://local.myproject.com/ --timezone="America/New_York" --use-rewrites=1 --use-secure=1 --base-url-secure

[2017-07-24 17:32] Dukeofvampires commented on #6803
well, yes, thats what I meant. Technically  Model->save(); is a shortcut to $this->_getResource()->save($this)  ;)

I'm pretty sure most of this is present because lots of the code is ported from M1.

but it's better to stop flooding the issue. :)

[2017-07-24 18:37] angelo983 commented on #10154
Hello joni-jones, nor of the two scenarios for me; I see that carts are not emptied after buying the first order successfully.
I also already unlocked the Block accidental payments, otherwise I wouldn't sold anymore to my registered customer, but I noticed something strange in sales_quote table and in log:

[2017-07-15 15:04:22] main.CRITICAL: PayPal NVP gateway errors: A successful transaction ha

[2017-07-24 18:39] davidverholen commented on #6818
@magento-team I see there has been done something. Can we assume, that this is fixed in 2.1.8 and 2.2?

[2017-07-24 19:09] quienti commented on #7653
Unfortunately , I stopped work with Magento 2 since I have changed job
So, I can not test
I am sorry

[2017-07-24 20:17] johnny-longneck commented on #6018
I had the same problem and found out it was Paypal Express who blocked the loading.
In the backend there is a setting for the PayPal Express Button. Don't set it to "dynamic" -> Use "static".
Otherwise it makes a request to paypal and this is causing the problem.

At least it solved the problem for me.

[2017-07-24 21:02] tjgamble opened #10308 "Access Restriction field not disabled when "Use Default" is checked."
**Preconditions:**
**Version:** Magento 2.2.0-dev

We have a B2C site set as the default site, and have a B2B site set up as the secondary site.

**Expected Results:**
When the "Use Default" checkbox is checked upon page load, the input should be disabled.

**Actual Results:**
The "Use Default" checkbox is checked upon page load, but the input is not disabled.

**Steps to reproduce**
1. Log in to

[2017-07-24 21:21] GuiltyNL commented on #6018
Hmm I tried this immediately, but no effect for my site unfortunately.

I timed it and it is as slow as ever. I also don't use that Paypal plugin at all,  but still changed it do static, without any effect :(

My site has about 200 requests on one page. And the actual product image is still somewhere down the row, request 174.

[2017-07-24 22:00] GlobalOutsourcing opened #10309 "Please delete, thank you."
Please delete.

Thank you.

[2017-07-24 22:31] amnotafraid commented on #2713
Is there any update with this?  I am working with Magento ver. 2.1.7.
If I try  PUT  '/V1/carts/{cartId}/items/10 with this body:
[code]
I get
[code]
PUT '/V1/carts/70/items/10' with this body:
[code]
gets me this:
[code]
POST '/V1/carts/70/items/10' with this body:
[code]
gets me this:
[code]
So, basically, I haven't discovered a way to add an item to a cart.

[2017-07-25 00:23] #10283 closed, assigned to alena-marchenko

[2017-07-25 03:28] crantron opened #10310 "Multisite Store not showing products"
I have created a multistore in magento 2, the "base" store shows theme. categories, and all products fine while the second store, shows: theme, and categories but does not show products.

### Preconditions
CentOs 7.5
PHP 7.0.14
MySql 5.6.35
Apache 2.4.6
Magento 2.1.7

### Steps to reproduce
pub/index.php

[code]

![screen-shot-2017-07-24-at-8 18 11-pm](https://user-images.githubusercontent.com/385

[2017-07-25 04:34] GuerrillaCoder opened #10311 "Magento CE 2.1.6 product position not working"
I am currently hosting Magento CE 2.1.6 on cloudways.

I have gone to `catalog -> category -> <category> -> products in category` and changed the position numbers of the products.

After this I ran:

[code]

I have cleared the cache and the products still display in original order, the order is unchanged.

The drop down filter is set to `position`.  Theme used is Ultimo.  I have also tested on Lum

[2017-07-25 05:27] MathieuJJ commented on #6553
Hi BaDos,
Any news from this issue? I am working on Magento 2 EE 2.14 and my custom sample csv file cannot be downloaded.
Thank you!
Mathieu

[2017-07-25 05:27] joni-jones commented on #10154
The `Exception message: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '000000107-1' for key 'SALES_ORDER_INCREMENT_ID_STORE_ID'` error relates to issue mentioned by @okorshenko.

[2017-07-25 05:43] bondimedical3 commented on #5530
Your solution doesn't work. I am still seeing the same messages on every page.
![magento](https://user-images.githubusercontent.com/10808588/28557464-f65e1262-714f-11e7-98e8-5af4df4a7edf.jpg)

[2017-07-25 06:13] webspeaks commented on #3572
For me @100php 's solution worked. Customer name was not loading for me in top menu. So I added these lines in my JS file:
`var reloadsections = ['customer','cart','messages','directory-data'];
 this.reload(reloadsections,true);`

and it started working :)

[2017-07-25 06:15] rbncha commented on #10079
What it solved. Do we get a patch ?

[2017-07-25 06:25] veloraven commented on #10182
@amuizz thank you for your feedback.
If you want to report an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If you are looking for some advice or discussion please refer to the [Community Forums](https://community.magento.com) or the [Mage

[2017-07-25 06:30] IlnitskiyArtem commented on #5985
Hi, @michel334. Can you please specify some more settings of your store? I observed the faulty behavior of Top Destination, but still can't reproduce the main issue with missing country information on checkout page.

[2017-07-25 06:40] veloraven commented on #10172
I'm closing this issue as a duplicate.
@korostii thank you for link to corresponding issue.

[2017-07-25 06:40] #10172 closed, assigned to nobody

[2017-07-25 06:43] veloraven commented on #10169
@kishan7172 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please clarify steps, expected and actual result.

[2017-07-25 06:52] hostep commented on #10169
This is most likely a duplicate of https://github.com/magento/magento2/issues/6138, which should get [fixed](https://github.com/magento/magento2/pull/10131) in Magento 2.1.8

[2017-07-25 07:01] veloraven commented on #10311
@GuerrillaCoder thank you for your feedback.
If you want to report an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If you are looking for some advice or discussion please refer to the [Community Forums](https://community.magento.com) or t

[2017-07-25 07:20] MoschenBayern opened #10312 "Changed Values in Database - but changes are not showing in backend"
### Preconditions
1. Magento 2.1.7 on PHP 7.0.21
2. MySQL 10.0.30-0+deb8u2

### Steps to reproduce

1. In database table catalog_product_flat_1 we changes the values for "news_from_date" and "news_to_date" with the following sql-command:

Update 'catalog_product_flat_1'
Set 'news_from_date' = 'new date xxx'

2. No sql-errors
3. Data in database are changed

### Expected result

1. In Backend it sh

[2017-07-25 07:23] keyurshah070 commented on #8335
@OnTapKristjan Did you get the solution for this ?

[2017-07-25 07:30] MoschenBayern opened #10313 "Stock is not updating after changing the product quantity?"
### Preconditions

1.  Magento 2.1.7 with PHP 7.0.21

### Steps to reproduce

1.  A product has quantity 1 and status is "in stock"
2.  Change the quantity to 0 and save

### Expected result

1. Quantity should be 0
2. Stock status should be 0

### Actual result

1. Quantity is 0
2. Stock status not change to "out of stock"

Also if we manually change the stock status to "out of stock" and click t

[2017-07-25 07:37] 1408sheva commented on #10303
You can not change the price of the Configurable Product! She depends on children's (simple) products
![7](https://user-images.githubusercontent.com/22118443/28561002-508affa0-7125-11e7-80d5-78cb6ee5fae6.PNG)

[2017-07-25 07:47] veloraven commented on #6388
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 07:47] #6388 closed, assigned to nobody

[2017-07-25 07:48] veloraven commented on #4686
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 07:48] #4686 closed, assigned to mazhalai

[2017-07-25 07:48] veloraven commented on #7061
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 07:48] #7061 closed, assigned to BaDos

[2017-07-25 07:50] veloraven commented on #5344
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 07:50] #5344 closed, assigned to nobody

[2017-07-25 07:51] veloraven commented on #5832
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 07:51] veloraven commented on #7228
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 07:51] #7228 closed, assigned to olysenko

[2017-07-25 07:53] veloraven commented on #4980
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 07:53] #4980 closed, assigned to olysenko

[2017-07-25 07:59] veloraven commented on #8007
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
As there was no answers in responses I'm closing this issue.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/

[2017-07-25 07:59] #8007 closed, assigned to nobody

[2017-07-25 08:00] krutkoroma79911 commented on #10168
@DesignDesignInc Hi. Thanks for the feedback. We already know about this problem. The internal ticket already exist MAGETWO-69705 to address this issue.

[2017-07-25 08:01] veloraven commented on #6737
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
As there was no answer with the information which was asked for, I'm closing this issue.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://

[2017-07-25 08:01] #6737 closed, assigned to BaDos

[2017-07-25 08:02] andidhouse commented on #10303
Hi there,
first - we tested now on 3 brand new installed 2.1.7 systems - all with the same results.

Pls see screen attached - the price of the configurable product should be grayed out and not not be visible like in you screenshot right? And you can change the price - over attribute mass actions.
But what should be in the normal price of the configurable product?
a) nothing (like in your screensh

[2017-07-25 08:05] veloraven commented on #7302
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
As there was no additional information provided, I'm closing this issue.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magen

[2017-07-25 08:05] #7302 closed, assigned to nobody

[2017-07-25 08:05] #5396 closed, assigned to nobody

[2017-07-25 08:13] victor-v-rad commented on #10221
My guess was you used Magento Data Migration Tool

[2017-07-25 08:15] veloraven commented on #8159
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:15] #8159 closed, assigned to nobody

[2017-07-25 08:16] veloraven commented on #10000
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:16] #10000 closed, assigned to nobody

[2017-07-25 08:16] veloraven commented on #5159
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:16] #5159 closed, assigned to nobody

[2017-07-25 08:16] veloraven commented on #8750
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:16] #8750 closed, assigned to nobody

[2017-07-25 08:17] veloraven commented on #9708
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:17] #9708 closed, assigned to nobody

[2017-07-25 08:17] veloraven commented on #6223
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:17] #6223 closed, assigned to nobody

[2017-07-25 08:17] veloraven commented on #9947
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:17] #9947 closed, assigned to nobody

[2017-07-25 08:30] erikrijn commented on #10000
I will not be responding to any tickets anymore. Neither will I report bugs
in the future. Every ticket stays open for months, and after that I always
get the same response. Please provide more detailed information. In this
case you haven't even tried to reproduce my steps. They we're complete and
reproducible 100% of the time. Therefore I conclude that you don't care
about improving your product.

[2017-07-25 08:33] veloraven commented on #8465
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:33] #8465 closed, assigned to nobody

[2017-07-25 08:35] Andrii-Deineha commented on #10230
@minesh0111 Hi, I cannot reproduce this issue. Please add more details to your description of the steps you followed when identifying this issue(type of product, summ of minimum order quantity, price without cupon, cupon discount) . Screenshots or logs would be helpful, too. Thank.

[2017-07-25 08:39] veloraven commented on #10026
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:39] #10026 closed, assigned to nobody

[2017-07-25 08:39] #3225 closed, assigned to nobody

[2017-07-25 08:39] veloraven commented on #5786
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:39] #5786 closed, assigned to nobody

[2017-07-25 08:40] veloraven commented on #7521
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:40] #7521 closed, assigned to nobody

[2017-07-25 08:40] veloraven commented on #8323
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:40] #8323 closed, assigned to nobody

[2017-07-25 08:44] veloraven commented on #5593
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:44] #5593 closed, assigned to nobody

[2017-07-25 08:47] veloraven commented on #4907
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 08:47] #4907 closed, assigned to nobody

[2017-07-25 08:49] VasylShvorak commented on #10196
@sergeifilippov Thanks for the feedback. Unfortunately I was not able to reproduce this issue.
Please add more details to your description of the steps you followed when identifying this issue.

[2017-07-25 08:53] smoskaluk commented on #10229
@careys7 Please provide more detailed steps we must follow to reproduce this issue.

[2017-07-25 09:00] TomashKhamlai commented on #9633
Hello and thank you for your submission! Internal ticket MAGETWO-70986 was created to address this issue.

[2017-07-25 09:09] lancergr commented on #7426
Hi @ostmond @sydekumf
This should be solved in #8413 (already merged to develop) which covers Cron

[2017-07-25 09:13] lancergr commented on #9014
@JoostWan this is resolved in #8413 (already merged to develop) but as I can see is included only for Magento >= 2.2.0

[2017-07-25 09:18] orlangur commented on #7521
@IlnitskiyArtem which exact steps did you use trying to reproduce issue? Description is quite comprehensive and I didn't spot any logic introduced in mainline which could solve this problem.

[2017-07-25 09:27] veloraven commented on #10137
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 09:27] #10137 closed, assigned to nobody

[2017-07-25 09:34] orlangur commented on #10313
Exactly the same title as https://github.com/magento/magento2/issues/10270 but does not seem to be a duplicate :) Thanks for detailed steps here.

[2017-07-25 09:40] RishabhRkRai commented on #9123
See the exception.log for the more details. In my case this issue is related with the DB.

I just increase the **max_allowed_packet** to **524288000** and **wait_timeout** to **300** in the DB.

Use the query in DB with root previladge
SET GLOBAL max_allowed_packet = 5242889000
SET GLOBAL wait_timeout = 300

[2017-07-25 09:41] #9123 closed, assigned to nobody

[2017-07-25 09:50] rishabhrkrai opened #10314 "PHP Fatal error: Allowed memory size of 805306368 bytes exhausted (tried to allocate 23611506 bytes) while saving category"
### Preconditions

1. I have Magento 2.1.7, PHP 7.0, MySQL 5.7
2. Use nginx server

### Steps to reproduce

1. I have 9k products in multiple categories.
2. Each category have different number of products in each.
3. One subcategory have 4K products.
4. I make some change in it and trying  to save.

### Expected result

1. Category saved easily.

### Actual result

1. After some time it should thr

[2017-07-25 10:02] Jeroenll opened #10315 "Timeout during generating product urls after newly created store view"
### Preconditions
1. Magento v2.1.7
2. PHP v7.0.14
3. MySQL v5.6.33

### Steps to reproduce
1. Create 65K products (our use case).
2. Create new Store View.

### Expected result
1. Store View will be created and all products are assigned to that newly created Store View.

### Actual result
1. Store View will be created but not all products are assigned to that newly created Store View.

Exception

[2017-07-25 10:04] codedge commented on #7510
@erfanimani @duffner
While tackling the (probably same) problem I found out that updating the XML via admin seems to work only, if the `referenceContainer` has not been rewritten via a custom layout xml file.

So if you've rewritten the `<referenceContainer name="content">` in a copied `catalog_category_view.xml` (or a separate `default.xml` in your module) then the layout update via admin won't w

[2017-07-25 10:05] ArthurTransoftgroup commented on #6708
Thank you for your submission. If you are looking for some advice or discussion on that, please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site as  GitHub issue tracker is intended for technical issues only.
 Feature Requests and Improvements should be submitted to the new  [Magento 2 Feature Requests and Improv

[2017-07-25 10:14] reijervano commented on #9762
Hello,

I'm curious myself when this issue will be solved?

Kind regards,
Reijer

[2017-07-25 10:42] dmanners opened #10316 "Travis build "too many arguments""
### Preconditions
Magento version: develop branch

### Steps to reproduce
1. Run a build via travis

### Expected result

1. System completes without issues

### Actual result

1. Error "./dev/travis/before_install.sh: line 24: [: too many arguments",

https://travis-ci.org/magento/magento2/jobs/257087136#L647

[2017-07-25 10:45] IlnitskiyArtem commented on #5056
Hi, @peec. Internal ticket MAGETWO-70988, which tracks this GitHub issue, is in our issue backlog.

[2017-07-25 11:05] Radiergummi commented on #9552
Any progress on this issue?

[2017-07-25 11:15] melwinVincent commented on #10251
no @veloraven , still the issue is present.

[2017-07-25 11:23] amoskvenk commented on #10002
@elzekool Nice! Your code is almost like mine. Good job!

[2017-07-25 11:27] 1408sheva commented on #10303
@andidhouse. Unfortunately, I could not reproduce the issue as you described it.
![111](https://user-images.githubusercontent.com/22118443/28570024-ebc17afc-7144-11e7-9775-7c3c47d5e215.PNG)
![222](https://user-images.githubusercontent.com/22118443/28570023-ebc15996-7144-11e7-8b47-bd9ddb060dd3.PNG)
![000](https://user-images.githubusercontent.com/22118443/28570025-ebc5574e-7144-11e7-8106-730bcba13d

[2017-07-25 11:32] IlnitskiyArtem commented on #10171
Hi, @gilbertsohal. I reproduced this behavior but in my case it's a little bit different. Can you please specify your steps? How exactly do you add images to your configurable product? By adding them for each simple product generated with your configuration or in some other way?

[2017-07-25 11:32] andidhouse commented on #10303
Maybe anyone else could test it as well?

@1408sheva But i see you run into another bug. If your do not choose a value in the dropdown only the price 77 $ is displayed? There should be also the former price and the 77 as a special price? This is the "display none" bug i talked before.

Or what explanation is for that to just present the 77?

Can you also pls post a screen from your grid list of th

[2017-07-25 11:38] veloraven commented on #10232
@sabarivenkatesankrish thank you for your feedback.
But I'm closing this issue as a duplicate of #8470.

[2017-07-25 11:38] #10232 closed, assigned to nobody

[2017-07-25 11:43] nei opened #10317 "Region is being overridden when changing from a required-state country to one that is not required"
On Magento 2.1.7 the user change the country from EUA with region Alaska to Uruguay for instance the region dropdown is hidden and the region input text is showed with Alaska as value..

So, if you change to XXX and save Magento is still posting the region_id Alaska and on the backend we are now checking if the region_id exists and if it does we override the value of region.

This behavior was int

[2017-07-25 11:49] veloraven commented on #5110
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:49] #5110 closed, assigned to nobody

[2017-07-25 11:51] veloraven commented on #6880
@xAvarice thank you for your answer.
As there was not any answer from the reporter for more than two weeks and the issue seems to be fixed i'm closing this issue.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual

[2017-07-25 11:51] #6880 closed, assigned to nobody

[2017-07-25 11:54] veloraven commented on #8892
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:54] #8892 closed, assigned to nobody

[2017-07-25 11:55] veloraven commented on #8550
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:55] #8550 closed, assigned to nobody

[2017-07-25 11:55] veloraven commented on #8512
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:55] #8512 closed, assigned to nobody

[2017-07-25 11:55] veloraven commented on #8328
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:55] #8328 closed, assigned to nobody

[2017-07-25 11:56] veloraven commented on #10153
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:56] #10153 closed, assigned to nobody

[2017-07-25 11:56] veloraven commented on #9958
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:56] #9958 closed, assigned to nobody

[2017-07-25 11:56] veloraven commented on #3487
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 11:56] #3487 closed, assigned to nobody

[2017-07-25 11:58] veloraven commented on #6104
@zexperto thank you for your update.
I'm closing this issue then.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result and specify Magento version.

[2017-07-25 11:58] #6104 closed, assigned to nobody

[2017-07-25 11:59] osrecio commented on #9277
Hi @vrann and @okorshenko , I have question about this task:

In file: [app/bootstrap.php](https://github.com/magento/magento2/blob/develop/app/bootstrap.php#L52) `$_SERVER['MAGE_PROFILER']` is isset.
The problem of this that you can make:`SetEnv MAGE_PROFILER "html"` in your `.htaccess` but you can have another HTTP Server like `nginx`.

Can I move this Enviroment Variable to env.php like `MAGE_M

[2017-07-25 12:07] johnny-longneck commented on #10299
I can confirm this. Exact same behaviour after upgrading from 2.1.3 to 2.1.7
I expect Magento has made some changes in
\Magento\Store\Model\StoreManagerInterface $storeManager

[2017-07-25 12:10] veloraven commented on #8599
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:10] #8599 closed, assigned to nobody

[2017-07-25 12:10] veloraven commented on #4894
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:10] #4894 closed, assigned to nobody

[2017-07-25 12:10] veloraven commented on #8663
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:10] #8663 closed, assigned to nobody

[2017-07-25 12:11] veloraven commented on #10115
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:11] #10115 closed, assigned to nobody

[2017-07-25 12:11] veloraven commented on #10116
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:11] #10116 closed, assigned to nobody

[2017-07-25 12:11] veloraven commented on #10127
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:11] #10127 closed, assigned to nobody

[2017-07-25 12:12] #10135 closed, assigned to nobody

[2017-07-25 12:12] erik921 commented on #10299
We upgraded from 2.1.2 all the way up to 2.1.7

[2017-07-25 12:12] veloraven commented on #9897
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:12] #9897 closed, assigned to nobody

[2017-07-25 12:12] veloraven commented on #9907
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:12] #9907 closed, assigned to nobody

[2017-07-25 12:13] veloraven commented on #10023
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:13] #10023 closed, assigned to alena-marchenko

[2017-07-25 12:13] veloraven commented on #10042
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:13] #10042 closed, assigned to nobody

[2017-07-25 12:13] veloraven commented on #10077
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:13] #10077 closed, assigned to nobody

[2017-07-25 12:14] veloraven commented on #8566
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:14] #8566 closed, assigned to nobody

[2017-07-25 12:14] veloraven commented on #8492
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:14] #8492 closed, assigned to nobody

[2017-07-25 12:15] veloraven commented on #4826
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:15] #4826 closed, assigned to nobody

[2017-07-25 12:15] veloraven commented on #8806
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:15] #8806 closed, assigned to nobody

[2017-07-25 12:16] veloraven commented on #9607
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:16] #9607 closed, assigned to nobody

[2017-07-25 12:18] veloraven commented on #9460
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:18] #9460 closed, assigned to nobody

[2017-07-25 12:18] veloraven commented on #6632
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:18] #6632 closed, assigned to nobody

[2017-07-25 12:18] veloraven commented on #6672
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:18] #6672 closed, assigned to nobody

[2017-07-25 12:19] veloraven commented on #6064
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:19] #6064 closed, assigned to nobody

[2017-07-25 12:19] veloraven commented on #8466
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 12:19] #8466 closed, assigned to nobody

[2017-07-25 12:21] michel334 commented on #5985
Hello @IlnitskiyArtem. i upgraded to PHP Version 7.0.21 and i cannot reproduce the missing country issue anymore on a clean install using top destinations.

[2017-07-25 12:32] Tonop commented on #9460
Still actual.

[2017-07-25 12:38] MattDelac commented on #8366
Hello @vkorotun ,

Do you know when does this issue will be done ?
I open the ticket in February, thus 6 months ago

Thank you

[2017-07-25 12:39] 1408sheva commented on #10307
Hi, @kirkmadera. We've created internal ticket MAGETWO-70995 to address this issue.

[2017-07-25 12:39] xAvarice commented on #6880
Sorry, I am the reporter. I have a business and personal git account.

[2017-07-25 12:40] veloraven commented on #7311
Internal ticket MAGETWO-69574 was created for this issue.
I have linked it to this GitHub issue.

[2017-07-25 12:45] Hopfrosch commented on #7510
This is true.

But I still thinkthis is a bug.
It's strange that it still works for other elements in my `custom` theme like the ` <referenceBlock name="page.main.title">`.

I can change the "id" of this `page.main.title` within an update in the backend.
But Im not able to do this for the `category.product.list` if it is still inside my `custom` xml.

I have follow you'r instruction and it works b

[2017-07-25 12:46] krutkoroma79911 commented on #8777
@ddeppner Hi. Thanks for the feedback. The internal ticket MAGETWO-70996 was created to address this issue.

[2017-07-25 12:56] dmitriyprime commented on #10231
Hi, @minesh0111. Thanks for the feedback. We've created internal ticket MAGETWO-70997 to address this issue.

[2017-07-25 13:01] AlexWorking commented on #6895
Hello @hectornguyen. Based on Your issue an internal ticket was created - MAGETWO-71001. You'll be informed as the issue is fixed. Thanks for applying.

[2017-07-25 13:05] johnny-longneck commented on #10299
I have a custom Website Switcher Module which uses the storeManager to get the current url.
My temporary workaround for this, is to set $fromStore parameter to false, so the links are actually correct again.
$storeManager->getCurrentUrl($fromStore = false).

You can adapt this to the basic switcher, too - I guess.
I just wonder, why no one else is yelling that this is an issue.

[2017-07-25 13:11] duffner commented on #7510
Now the question is, how do we get a @magento-admin @veloraven 3 to get this resolved, or at least acknowledged.

[2017-07-25 13:12] erfanimani commented on #7510
Has anyone checked whether this bug still exists on 2.2RC? Often times I find myself looking up a bug that has already been resolved months ago, but hasn't made it into an official release.

[2017-07-25 13:15] Hopfrosch commented on #7510
I only checked it in the M2.1.7.
If I find the time I will check it but maybe someone is faster than me ;)

[2017-07-25 13:16] smoskaluk commented on #5261
Internal ticket MAGETWO-71000 created

[2017-07-25 13:18] duffner commented on #7510
@erfanimani and @Hopfrosch, don't you have a ton of extra time with how much faster front-end development is with M2? :| haha just kidding, well a little.   I can try and take a look this upcoming weekend but no promises.

[2017-07-25 13:22] veloraven commented on #7554
@Kentricks could you please provide more information then?
Please specify which versions of OS, web-server, PHP, MySQL you use.
Do you use any external extensions?
Do you use persistent shopping cart functionality?
Did you change value for Online Minutes Interval? (Stores > Settings > Configuration > Customers > Customer Configuration -> Online Customers Options)
Could you please provide a screens

[2017-07-25 13:23] krutkoroma79911 commented on #10267
@lfritsche Hi. Thanks for reporting this issue. I was tried to reproduce it, and in my case Layered Navigation take the lowest price from Configurable product and it`s work correctly.
![screenshot_4](https://user-images.githubusercontent.com/27814479/28574082-7de8b67e-7155-11e7-8196-bc1ffd289c9d.png)
![screenshot_5](https://user-images.githubusercontent.com/27814479/28574083-7e23fd7e-7155-11e7-986

[2017-07-25 13:25] orlangur commented on #10314
2G of memory may not be enough for some shops, depending on corner cases like 4k products in one subcategory in your case. You need to adjust PHP and, maybe, MySQL settings (like `max_allowed_packet`) according to needs of your shop.

[2017-07-25 13:25] Hopfrosch commented on #7510
Yes I have a bunch of time, that's why I'm here and can easy talk to you ;) thx magento!

[2017-07-25 13:26] veloraven commented on #6933
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:26] #6933 closed, assigned to nobody

[2017-07-25 13:26] veloraven commented on #5057
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:26] #5057 closed, assigned to nobody

[2017-07-25 13:26] veloraven commented on #8476
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:26] #8476 closed, assigned to nobody

[2017-07-25 13:27] #8900 closed, assigned to nobody

[2017-07-25 13:27] veloraven commented on #5076
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:27] #5076 closed, assigned to nobody

[2017-07-25 13:27] veloraven commented on #9736
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:27] #9736 closed, assigned to nobody

[2017-07-25 13:28] veloraven commented on #10110
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:28] #10110 closed, assigned to nobody

[2017-07-25 13:28] veloraven commented on #9316
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:28] #9316 closed, assigned to nobody

[2017-07-25 13:31] veloraven commented on #7978
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:32] veloraven commented on #9520
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:32] #9520 closed, assigned to nobody

[2017-07-25 13:32] veloraven commented on #10065
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:32] #10065 closed, assigned to nobody

[2017-07-25 13:33] veloraven commented on #8662
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:33] #8662 closed, assigned to nobody

[2017-07-25 13:33] veloraven commented on #8460
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:33] #8460 closed, assigned to nobody

[2017-07-25 13:33] veloraven commented on #9268
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:33] #9268 closed, assigned to nobody

[2017-07-25 13:33] veloraven commented on #8801
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:33] #8801 closed, assigned to nobody

[2017-07-25 13:34] veloraven commented on #5977
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2017-07-25 13:34] #5977 closed, assigned to nobody

[2017-07-25 13:41] ArthurTransoftgroup commented on #7513
@maximbaibakov @JerVoo We've created internal ticket MAGETWO-71005 to address this issue.

[2017-07-25 13:43] korostii commented on #10309
And hello to you, too.
You do know that this is not a help desk, right? If you're in a need of some timely customer support, you've come to the wrong place.

The error in question might be caused by a legitimate reason is is not necessarily symptomatic of a bug. It might be caused by conflicting requirements, lost configs or other server issues. However, the information you provide is not enough t

[2017-07-25 13:44] nei commented on #6498
__('0'); also fails.

[2017-07-25 13:49] VasylShvorak commented on #10195
@dankocherga Thanks for reporting this issue. Created internal issue MAGETWO-71006 to investigate and track this issue.

[2017-07-25 13:55] GlobalOutsourcing commented on #10309
Thank you, I will ask someone to resolve this I guess.

And allow the time allocated to this so they can look into other CE Magento 2 issues.

[2017-07-25 13:55] #10309 closed, assigned to nobody

[2017-07-25 14:17] IlnitskiyArtem commented on #7521
@orlangur at first, i tried to change indexer's status for valid manually in database, when they already were valid. Then tried to reset them and change the status for valid when they were invalidated. Also in both cases after changing indexers' status, in CLI and Mysql, i created store views to invalidate the indexers and every time checked their status in CLI, Admin Panel and Mysql. The next ste

[2017-07-25 14:18] lfritsche commented on #10267
Thank you for your response @krutkoroma79911
Could my issue be related to using special prices?
Due to the fact, that I'm using only special prices in my shop and also disabled the normal price attribute to be filtered in the layered navigation and replaced it with the special_price attribute filter, I haven't compared it to the normal price filter.

I now enabled the normal price filter and there

[2017-07-25 14:30] RishabhRkRai commented on #10314
@orlangur I change the memory_limit to 3G and max_allowed_packet to 524288000, but the problem not solve.

[2017-07-25 14:45] korostii commented on #10172
Sure, NP.
As far as I know, the limit [went up to 60](https://github.com/magento/magento2/commit/235ccff1e9afecb6a46e7cddc9acddfb7539efd7#diff-15304abf4bfa8fea00d5d541fbc5f002) on `develop` branch recently.

Still, it's a bit strange though that the automatic attribute code generation prevents you from having a longer label.

[2017-07-25 15:10] caleoroco commented on #6509
Since upgrading to 2.1.7 my fix for this (extending the xml) does not work.  This was a bug a few versions back that should have been fixed, it's not exactly a big job

[2017-07-25 15:17] dmanners commented on #9236
Just noticed I forgot to include the setup module in the list of places to change that has 5 occurrences.

[2017-07-25 15:18] korostii commented on #10312
Yeah, it's a bad idea to edit the `flat` tables directly since they are just used as indices.
Generally, editing Magneto's EAV values via raw SQL is a bad idea, it's too easy to perform destructive changes if you miss some join or where clause.
I'd highly recommend to do the whatever changes you intend to do via some Magento-style PHP code. Or at least read up on how EAV works in Magento first.

[2017-07-25 15:27] Culth commented on #5726
This bug is still in 2.1.7. Also other mails send from the backend have a similar issue. The fix mentioned above is already applied but doesnt make any sense, as far as i can tell, since the store id is only used to get the email identity identifier (e.g. General, Support, Sales).

I think the issue is in the \Magento\Framework\Mail\Template\TransportBuilder::setFrom() function called in \Magento\

[2017-07-25 15:31] amoskvenk commented on #10002
Aha. Sorry. Has found one issue in your code. You add empty array to the entire config array ($config). Then you save the entire config into Cache. This will lead to full cache reload problem every time, because each config record, which  is not present neither in the DB, nor in a default.xml file, will delete empty arrays of other such config records from the entire config object. So on the next

[2017-07-25 15:36] korostii commented on #6737
Note: duplicate of #7958

[2017-07-25 15:38] dmitriyprime commented on #9740
@MaximKitsenko, please confirm that you can reproduce this issue on a supported platform. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2017-07-25 15:46] dmitriyprime commented on #5722
Hi, @gewaechshaus. Browser cache issues can affect the success of your update. Did you clear your cache before installing the upgrade?

[2017-07-25 16:23] misha-kotov commented on #8493
Make sure you provide the `callback url` and the `identity link url`

[2017-07-25 16:29] korostii commented on #10303
Could you people please at least learn the name of the system you're testing (and also, name of the company you seem to be working for)? This is just embarrassing.

[2017-07-25 16:33] niners52 commented on #6671
Has anyone figured out how to apply MAGETWO-66480 to 2.1.7?

[2017-07-25 16:52] jordanbrauer commented on #10303
@andidhouse I don't have this _exact_ problem - however I do have a configurable product issue with pricing in regards to multi-currency stores. Perhaps it is related and can aid in figuring out this bug with configurable product prices? The issue is as follows,

The exchange rate is applied **twice** to a product on the catalog pages & product pages unless one of the following conditions are met:

[2017-07-25 16:56] Boyiko777 commented on #10303
@korostii Is this a solution to a problem.
About all I can tell you is that, just like the female of the species, cattle love to yammer and gossip or sulk.
You're probably one of them

[2017-07-25 17:03] orlangur commented on #10314
No need to change `max_allowed_packet` until it fails... 3G of memory is not too much. Could you try some 8G - 16G just to see if it is able to finish? I'm not saying 16G is acceptable as permanent solution, just trying to understand scale of the problem.

[2017-07-25 17:09] korostii commented on #3487
Hi @veloraven,
I couldn't help but notice: your responses on this ticket made no sense whatsoever (well, there's one exception: closing it was reasonable, but for totally unrelated reasons).
There was no information to request from the topic-starter and there's nothing to get reproduced. As if you didn't even read the discussion.

Who knows, maybe @veloraven _is_ just an account for the bot sendin

[2017-07-25 17:17] yonitjio opened #10321 "TypeError: <Array>.each is not a function in dynamics-rows-grid.js"
### Preconditions

1. Magento Version: 2.1.6
2. Devbox (Beta)

### Steps to reproduce

1. Create form (uiComponent) with related product modifier as reference:
[practice_document_customform.txt](https://github.com/magento/magento2/files/1174159/practice_document_customform.txt)

### Expected result

1. Should work like related product on create/edit product page.

### Actual result

1. Uncaught Ty

[2017-07-25 17:27] mudithae commented on #2010
It seems that this issue is still exist even in the 2.1.6. Any workaround is appreciated.
$_SESSION['customer_base']['customer_id'] is also null

[2017-07-25 17:27] orlangur commented on #3487
@korostii yeah, agree on that, generating this sort of responses manually looks like a waste to me. Mass closing tickets with "needs update" label automatically after 2 weeks would make more sense as to me and would not confuse.

@maxbucknell, hope you're satisfied with my answer? 😉

[2017-07-25 17:40] korostii commented on #10303
Yes, you're totally right. Sorry for that, not even sure myself why I snapped like that. Will think twice before posting next time.

Maybe I just overreacted when saw the good old boilerplate "are you able to reproduce the bug on a clean instance" response used for 1000th time in order to avoid investigating a bug.

By the way, I think the issue might actually be caused by a conflict of core JS fu

[2017-07-25 17:40] orlangur commented on #10290
There is no option for that, if you grep all over the code you may notice this flag is already used when reasonable:

[code]

[code]

Setting `session.cookie_secure` for more cases may lead to https://stackoverflow.com/a/25047234

I'm not sure why HTTP Only is an option in UI and not always enabled...

[2017-07-25 17:51] andidhouse commented on #10303
This is also shown wrong on the luma theme here - so i think this should be no template bug.

I suggested the magento team several times to setup test server for exact this cases. So we can login in these and have a exact look if this is also happening here.

This was declined every time by the magento team and now we have the "ping pong" going on again in every reported issue. What system do you

[2017-07-25 17:55] orlangur commented on #9740
[code]

The problem is with your server, not with Magento source code. Try to figure out why it happens on your server.

https://magento.stackexchange.com/a/156236 two links among four referenced stated `sudo` did the trick 🤣 So, obviously, something is not correct with file permissions.

[2017-07-25 17:59] Boyiko777 commented on #10303
@andidhouse Make a contribution to Magento (financial (magento enterprise edition)), and get round-the-clock support (24/7)!)

[2017-07-25 18:03] mudithae commented on #2010
Finally below workaround worked for me. (Clue from : https://github.com/magento/magento2/issues/3294  post by @saravananvelu)
` $customerSession = $this->_objectManager->create('Magento\Customer\Model\SessionFactory')->create();
        return $customerSession->getCustomer()->getId();`

[2017-07-25 18:14] jordanbrauer commented on #10303
Agreed @andidhouse. I have a couple of ideas/thoughts as to why the bug reporting and resolving is so horrible for Magento.

#### Process

Their bug flow reporting method is definitely less than optimal. I recall the Magento team saying awhile back that they had revamped their bug flow reporting process - which seems to me that the they've opted to reinvent the wheel instead of using a well docume

[2017-07-25 18:23] andidhouse commented on #10303
@jordanbrauer  i suggested also al lot of to speed up the process for all sites and also Allen Kent from the @magento-team promised that they improve the process - but for me it got worse and not better.

https://community.magento.com/t5/Just-Ask-Alan/Alan-When-will-there-be-a-really-stable-version-of-Magento2/td-p/56617

[2017-07-25 18:39] jordanbrauer commented on #10303
@andidhouse Haha wow. You just got brushed off with some PR bull shit right there.

Maybe it's time to jump ship then ... ¯\_(ツ)_/¯ Shitty thing is that there are not any good ecommerce systems. I'd argue that Shopify is your closest thing to "perfect".

[2017-07-25 19:08] enrico69 commented on #10290
` $isFullySecuredURL = $secureURL == $unsecureURL;`
` $this->setCookieSecure($isFullySecuredURL && $this->_httpRequest->isSecure())`

I agree but why would we not be able to force if from the UI, giving the admin user the total control over it?

I propose to add this option juste below the "Use HTTP only" one?

[2017-07-25 19:19] enrico69 commented on #9341
This would be an interesting feature. Recently I had to activate MySQL logs to filter what was going on.
I am volunteer to contribute.

[2017-07-25 19:20] hostep commented on #5977
@IlnitskiyArtem & @veloraven: this is probably a dupicate of https://github.com/magento/magento2/issues/4961, you can find a little bit of info over there about how to reproduce.

[2017-07-25 19:34] hostep commented on #7521
@IlnitskiyArtem: you aren't mentioning the 'working' status like @redboxmarcins was mentioning, did you test it with that status?

(I think we had a similar problem a couple of weeks ago, but I think it was with the 'mview_state' table instead of with the 'indexer_state' table. But not 100% sure anymore. Somehow updating of the materialized views had stalled and it was because some status got stuc

[2017-07-25 19:51] hostep commented on #10314
This might be related to https://github.com/magento/magento2/issues/4231, but I'm not very sure if saving a category also uses the 'Magento\Ui\Component\MassAction'.
We had some memory issues in the past caused by some actions we performed on products in the adminhtml, and applying https://github.com/magento/magento2/commit/ca93b75416e68d59316144825b5870f22dc30f1e fixed the memory issues for us.
W

[2017-07-25 20:40] dmanners commented on #9236
Current status

[code]

[2017-07-25 20:51] misha-kotov commented on #8023
The checkbox under the price fields refers to whether or not the value is inherited from the "all store views" scope value (store id=0). If the value is taken from the website scope, the checkbox will be unchecked. When you change the price on a store view level, it changes the value that is stored on the website level, and all other store views under the same website will update to the same value

[2017-07-25 22:01] younkim commented on #7470
Still happens on 2.1.3.

[2017-07-26 00:03] btwq commented on #2121
Having similar issues in 2.1.7

Valid subcategories are not appearing in layered navigation "Category" section of a parent category page

[2017-07-26 01:03] gabrielqs-redstage commented on #9587
That did not appear to me, not sure why... did you use amazon linux?

[2017-07-26 01:20] 1f47a opened #10323 "Updating quantity on multiple variants"
### Preconditions

1. Magento 2.1.7
2. Sample data installed

### Steps to reproduce

1. Edit a configurable product from catalog
2. Click Edit Configurations
3. Hit next until you have an editable table OR Apply unique quantity by attribute to each SKU
4. Change/update quantity
5. Save product

### Expected result

1. Quantity updated to new value

### Actual result

1. Quantity stays the same

[2017-07-26 03:12] mbelyamani opened #10324 "Magento 2 PUT to update customer info is returning 404 Not found"
Running Magento 2.1.7 and trying in postman to update customer with the following setup:
PUT      https://domain/index.php/rest/V1/customers/7

Headers:
Content-Type:application/json
Authorization:Bearer 0nmhlpx6euuqia9r7q44430hvcramnd0

Body:
{"customer": {"id": 7,"dob": "1972-08-20 00:00:00","firstname": "NewFirstName",
				"lastname": "NewLastName","middlename": "NewMiddleName",
				"email": "t

[2017-07-26 04:13] erikhansen commented on #8508
@tadhgbowe - I applied the changes you suggested in [your June 1st comment](https://github.com/magento/magento2/issues/8508#issuecomment-305417154) and it resolved this issue for me. It looks like this change has [not been made in the develop branch yet](https://github.com/magento/magento2/blob/99e85cbc45223baa3551e4c534b650c0d2c6358b/app/code/Magento/Translation/Model/Json/PreProcessor.php#L84).

[2017-07-26 04:44] gagandeep-cueblocks commented on #7470
The issue is related to modsecurity please get it fixed from the server team. I got it fixed the same way.

[2017-07-26 05:43] ghost opened #10325 "Add to Cart not working because getSubmitUrl returns empty"
Hi, Can anyone know why sometimes getSubmitUrl returns empty? Is this a bug?

/module-catalog/view/frontend/template/product/view/form.phtml Line 19

[code]

Since the $block->getSubmitUrl not working, the action returns nothing. So when the button is clicked, the page just refresh.

I found this after I created a new theme by myself. However when i change back to the default theme, the error is s

[2017-07-26 05:44] suthanalley commented on #2999
Magento 2 is not slow. Now you can make it fast following these steps.
Update Magento Version
Configure Memcached
Optimize Javascript and CSS
Use lightweight theme
Images Should be Fully Optimized
Server and System Requirements
Enable Varnish Cache
Enable Flat Categories and Products
Content Delivery Network
Bug-Free Extensions
You can also follow this guide https://magenticians.com/why-magento-2-