[2016-04-09 02:00] dmitrii-fediuk commented on #4068
https://github.com/magento/magento2/issues/2794, https://github.com/magento/magento2/issues/2962

[2016-04-09 02:07] dmitrii-fediuk commented on #4031
https://github.com/magento/magento2/issues/2295, https://github.com/magento/magento2/issues/1514

[2016-04-09 02:08] dmitrii-fediuk commented on #3951
https://github.com/magento/magento2/issues/4054

[2016-04-09 02:11] dmitrii-fediuk commented on #3964
https://github.com/magento/magento2/issues/4054, https://github.com/magento/magento2/issues/3951

[2016-04-09 03:22] npearson72 commented on #3651
+1

Having the same issue. When I minify merge the css, admin (and front end) run really slow. Have redeployed static content, flushed cache, etc. Still slow.

I'm on 2.0.4

[2016-04-09 03:49] npearson72 opened #4073 "Bullets or unordered lists in description breaks luma theme header"
See screenshot:

![2016-04-08 at 8 47 pm](https://cloud.githubusercontent.com/assets/1323414/14401598/68424960-fdcb-11e5-8fc0-16e6a2986bbe.png)

[2016-04-09 04:15] beejhuff commented on #4020
@astorm Alan, could you email me at bjh438-git@yahoo.com - I need your email address to send you the Slack invite.

[2016-04-09 04:18] astorm commented on #4020
@beejhuff http://alanstorm.com/contact -- bjh438-git@yahoo.com bounced.

[2016-04-09 04:26] beejhuff commented on #4020
Sorry - I had a typo on that first try.  I updated the comment but I don't
think github notifies you of that. Just used the form to shoot it over to
you.

Sincerely,

Bryan "BJ" Hoffpauir, Jr.
beejhuff@gmail.com

*Blog*: http://innovez.blogspot.com
*LinkedIn*: https://linkedin.com/in/bjhofpauir

*Online Calendar*: https://goo.gl/633Y13

On Fri, Apr 8, 2016 at 11:19 PM, astorm <notifications@github

[2016-04-09 04:27] Vinai commented on #4070
@alankent Same result in PHP 7.0.4

[code]

In fact, the same happens if I run this test with 7.0.3, 7.0.2, 7.0.1 or 7.0.0.
Before each run I do `rm -r dev/tests/unit/tmp var/generation var/cache var/page_cache var/di` to be on the safe side by the way. Leaving out that step makes no difference in the result though.

It seems like it's an issue in 2.0.4 with PHP7. The same tests succeed if I execu

[2016-04-09 06:34] rushvigajjarsilk opened #4074 "Configurable Products Add to Cart issue"
Hello,
I want to add each configurable products as separate line item. For example, if user selects any configurable products and set qty as 3 then 3 configurable products will be added into cart as separate line items with qty 1 into cart with same configuration.

To do this I have made customization in below two files as described,
vendor/magento/module-checkout/Controller/Cart/Add.php (Before C

[2016-04-09 06:34] parthviroja opened #4075 "Magento 2.0.0 : Notice: getimagesize(): Read error! in /home/parthv/www/magento-2-demo/vendor/magento/module-catalog/Model/Product/Image.php on line 949"
I have install magento 2.0.0.

now  i create my new theme [ parth-theme ] and create few required directory and file.

open magento admin.

set [ parth-theme ] from store -> configuration -> design

when i open any product and click on product detail page than this error is display..

[2016-04-09 06:36] alankent commented on #4070
Thanks! I will escalate internally.

[2016-04-09 06:39] thomvanderboon opened #4076 "Payment broken in Magento 2.0.4"
## Steps to reproduce
1. Install Magento 2.0.4 branch.
2. Configure Paypal or External payent plugin
3. buy a product, select a payment method
4. Circling wheel

Paypal is broken (See https://github.com/magento/magento2/issues/4064 ), Pay.nl plugin is broken, Multisafepay.nl plugin is broken
## Expected result
1. Go to payment on external site
2. ...
## Actual result
1. Wheel keeps circling for ev

[2016-04-09 06:44] MauroNigrele commented on #4070
Same here on php7.0.5 using either multi/single tenant more details [here](http://magento.stackexchange.com/questions/110061/magento-2-php-7-0-5-compilation-fails-in-production-mode)

Complemental Information:
- If you look at `var/di/relations.ser` you will find an empty serialized string {}
- and the compile process stops at Marketplace module.

[2016-04-09 06:54] bgabrovsek commented on #4076
Somebody should really provide a fix for this.
I have an online store and nobody can pay through it.

[2016-04-09 07:10] thomvanderboon commented on #4076
@bgabrovsek Did you upgrade Magento 2.0.2 -> 2.0.4 or 2.0.2 -> 2.0.3 -> 2.0.4 ?

[2016-04-09 07:27] vancoz commented on #4055
@Krapulat yes this is normal, project is something you installing only once (this is basically composer.json and update folder - skeleton), and it has dependency on magento/product-community-edition package, and version of this package is actual Magento version.

Regarding your languages issue, can you provide the package and clear steps to reproduce?

[2016-04-09 08:00] bgabrovsek commented on #4076
I am still on 2.0.2.

In the debug console:

**IE returns:**

[code]

**Chrome returns**:

[code]

**Mozilla returns:**

[code]

.. and all of them return a warning "jQuery.browser is deprecated".

[2016-04-09 08:29] floflock commented on #2695
Have the same problem as @riswit.
Cron log says always "Cron is already in progress..."

What can I do?

[2016-04-09 08:43] floflock commented on #2695
I have a solution now for me:
Theres a update_in_progress.flag in var/ folder.
I've removed and ran the update via console and composer...

[2016-04-09 09:16] Taral-Patoliya opened #4077 "Price on product view page becomes 0,00 when locale is changed to persian (iran)"
## Steps to reproduce
1. Install Magento 2.0.2/3/4/5.
2. Go to Store->Configurations in admin
3. Change locale to Persian(iran)
4. Open any product page
## Expected result
1. [Example] price should display like [currency symbol][price].
## Actual result
1. [Example] Price is displays like [currency_symbol][price] for some time but changes to [currency_symbol]0,00 or 0,00 [currency_symbol]

![scree

[2016-04-09 09:43] peterjaap commented on #3497
Same here.

[2016-04-09 09:52] yagneshponkiya commented on #4077
Same issue also persist in magento 2.0.4

[2016-04-09 12:48] parekhreena commented on #3966
@SerhiyShkolyarenko No it is not reproducible in magento 2.0.4.

[2016-04-09 12:48] #3966 closed, assigned to nobody

[2016-04-09 14:48] tigerx7 commented on #4073
This is related to the unescaped html tags that get added into the meta description block automatically when it's empty. The issue has been around for awhile (July 2015) but it seems a fix hasn't made it into any of the recent releases:

Same issue reported:
https://github.com/magento/magento2/issues/1514 https://github.com/magento/magento2/issues/2613 https://github.com/magento/magento2/issues/30

[2016-04-09 15:33] lutpiero commented on #3507
[code]

I am experiencing same issue, as a result the main menu in frontend not showing up

[2016-04-09 15:35] duffner commented on #4068
:100: Let's keep Magento's code quality moving forward!!!!  Definitely agree!

[2016-04-09 15:45] duffner opened #4079 "Category Page - "add to cart" button not functioning as expected"
## Steps to reproduce
1. Move your mouse towards the "add to cart" button from the bottom of a product
2. No add to cart button is populated
## Expected result
1. You should see the "add to cart" button
2. You should not have move all the way back to the top of the product to see the cart.
3. I should not be able to place my mouse pointer above the "add to cart" button without it showing.
## Actua

[2016-04-09 16:06] duffner opened #4080 "Admin - Cache Management Page, Select All check box does not work as exptected"
## Steps to reproduce
1. Go to Cache Management Page
2. Click on select all check box
3. Browser Google Chrome Max OSX 10
4. Firefox behaves similarly but slightly better.
## Expected result
1. Click exactly on select all checkbox, all cache items would would be selected
2. If you click above it, you will find it works.  but the checkbox itself should be what provides the dropdown.
## Actual resul

[2016-04-09 17:01] davidalger commented on #4020
@alankent / @piotrekkaminski There is one thing I would like to bring to your attention here while we're on the topic of easy access for developers / end-users alike. Something I haven't seen mentioned in the above outlines (unless I missed it) is the ease of actually _getting_ a copy of the software to begin with. The easiest method of _getting_ the software is cloning from GitHub, a practice whi

[2016-04-09 17:22] piotrekkaminski commented on #4020
@davidalger both of those points have pretty good reason behind them.
1) We assume one will later use Magento to download updates or extensions. Getting repo access first ensures the experience later is smoother.
2) It helps tremendously with security, it allows us to contact people who downloaded buggy or insecure versions.
Any idea how to solve for those 2 requirements?

[2016-04-09 17:37] joshuaswarren commented on #4020
@piotrekkaminski, @davidalger -

I think that the first point you make, Piotr, points to a bit of a fractured/contradictory approach here. Or maybe just a missing persona in your planning? I feel like a lot of assumptions have been made about the number of people who will be updating and upgrading via the web interface versus via an established dev workflow.

Given that Magento is open source, and

[2016-04-09 18:46] thomvanderboon commented on #4076
Just tested on development branch. Same problem. :(

[2016-04-10 09:25] lutpiero commented on #2843
I am having the same issue, some page on the backend not loading.

[2016-04-10 09:35] lgt commented on #2843
it seems to be a permission issue if I `chmod -R 777 pub` folder than everything works fine

[2016-04-10 09:53] lutpiero commented on #2843
I have successfully resolved this problems. I'am comparing the successful instalation in one of my box.
by adding a line on this file vendor/magento/module-theme/view/adminhtml/requirejs-config.js
the code was:

`"rjsResolver":          "mage/requirejs/resolver"`

[2016-04-10 14:16] ghost opened #4082 "Can Someone Explain How This Bug Reporting Process On Github Is Supposed to Work?"
At the bottom of every Magento 2.0.x admin page there's a link 'Report Bugs' which brings you to https://github.com/magento/magento2/issues/ (this page).

Because of that I would expect that this github page is the authoritative place  to report bugs, correct?

Given that, I would also expect that there'd be some underlying process to progress the reports, correct?

What are the different steps al

[2016-04-10 14:24] gagaxj commented on #3923
I have similar problem to import only two products on a freshly installed magento 2.0.4
1. Value for 'visibility' attribute contains incorrect value, see acceptable values on settings specified for Admin in rows: 1, 2

[2016-04-10 14:32] moe-kayali opened #4083 "Sign in modal overlay in checkout page (iPad 2)"
**Browser(s)**: Google Chrome (43), Safari
**OS:** IOS 8.3 (iPad 2)
**Magento Version**: 2.0.4 (stable)

---
## Description

Sign in modal overlay in checkout page prevents users from editing checkout form after opening then closing the sign in box.
## How reproducible

Always
## Steps to reproduce
1. Add X product to cart.
2. Navigate to the checkout page.
3. On the check out page, click on sign

[2016-04-10 16:52] virani06 opened #4084 "New Product Block ajax add to cart not working"
Using
vendor\magento\module-catalog\Block\Product\Newproduct
Block when i add product on home page ajax add to cart is not working

[2016-04-10 19:52] igrslv opened #4085 "Invalid option value when saving custom optons"
## Steps to reproduce
1. Add one custom option of drop-down Type
2. Add a row
3. Save the product
4. Add another row whithout filling in any data in it
5. Remove this row
6. Save product
## Expected result

Product must be saved without error messages.
## Actual result

Error message appears: "Invalid option value".

[2016-04-10 22:37] tseven commented on #3451
I'm seeing the same error but on a fresh install.
![n3x7](https://cloud.githubusercontent.com/assets/311287/14413538/0045dfa8-ff32-11e5-8b13-af0dd5a8ac1e.jpg)

This error occurs in development and production mode on multiple servers, apache and nginx.

[2016-04-11 00:52] OgreMHDW opened #4086 "Attributes not showing on product"
## Steps to reproduce
1. Create attributes with product visibility.
2. Add attribute to product set.
3. Edit attribute in product.
## Expected result
1. Attribute to show on product view.
## Actual result
1. Attributes on product appear to be missing on frontend.

![2016-04-10_174810](https://cloud.githubusercontent.com/assets/4369476/14414251/cf85c5be-ff44-11e5-9639-59919e33510d.png)
![2016-04-10

[2016-04-11 02:53] jacquesbh commented on #2476
Can we close then?

[2016-04-11 06:37] adamzero1 commented on #4025
Hi @vancoz,

Apologies on the late response.
Thank you for your time on the matter, I guess I will just have to wait an see how this pans out. Especially when the marketplace is 100% up and running.

Thanks again.
Adam

[2016-04-11 06:37] #4025 closed, assigned to nobody

[2016-04-11 06:43] vancoz commented on #4025
Hi @adamzero1, thank you. Anyway if you have more question or proposals - fell free to discuss.
Also I would recommend this place http://magento.stackexchange.com/ as platform for questions/discussions and proposals.

[2016-04-11 07:28] Bbbrinks commented on #3996
@paliarush What REST request are you running?  Using an "in" or "eq" requests

[2016-04-11 07:36] YevSent commented on #3797
Hi @CKUDG, unfortunately this fix is not merged into 2.0.4 version.

[2016-04-11 07:40] YevSent commented on #3797
Hi @Doability, what changes do you mean? Your issue is still reproducible on the latest mainline version?

[2016-04-11 07:40] ishakhsuvarov commented on #4068
Thank you for this proposal.
Actually we already have this in works, most of the strings are going to be converted to the `::class` notation and this change is going to be enforced with the static test.
I'll update this ticket with the internal issue ID and it's status in the nearest future.

[2016-04-11 07:47] SerhiyShkolyarenko commented on #3966
@parekhreena thank you for update.

[2016-04-11 08:02] adifucan commented on #4085
Hi @igrslv I created an internal ticket MAGETWO-51756 to make errors reporting more intuitive

[2016-04-11 08:05] YevSent commented on #4076
Hi @thomvanderboon could you provide more details? Something like browser error log, exception log,  debug log, etc, because we can't reproduce your issue.

[2016-04-11 08:14] ishakhsuvarov commented on #3773
@jaimestuardo Closing ticket for now. Please reopen if you have any additional questions regarding this.

[2016-04-11 08:14] #3773 closed, assigned to ishakhsuvarov

[2016-04-11 08:17] ishakhsuvarov commented on #2652
@SidneyBilliet Closing this ticket for now, as issues related to inline translation in checkout seem to be fixed. Please feel free to reopen if you have any questions.

[2016-04-11 08:17] #2652 closed, assigned to ishakhsuvarov

[2016-04-11 08:20] ishakhsuvarov commented on #2782
@pborges Closing the ticket for now as the issue seems to be already fixed in the `develop` branch. Please reopen if you have any additional questions.

[2016-04-11 08:20] #2782 closed, assigned to ishakhsuvarov

[2016-04-11 08:25] ishakhsuvarov commented on #3102
Closing this ticket, as the fix seems to be delivered with the commit [5590fd](https://github.com/magento/magento2/commit/5590fdc8ffd0e12f9a4ceea07d82ff72a489a5af).
Please reopen if you have any additional questions related to this.

[2016-04-11 08:25] thomvanderboon commented on #4076
What I also noted is that the moment this happens:

In my processes I see the following entries (ps aux):

Before:

root     12657  0.0  0.1 378272 15256 ?        Ss   10:19   0:00 /usr/sbin/httpd
apache   12659  0.0  0.0 378272  7772 ?        S    10:19   0:00 /usr/sbin/httpd
apache   12660  0.0  0.0 378272  7772 ?        S    10:19   0:00 /usr/sbin/httpd
apache   12661  0.0  0.0 378272  7792 ?

[2016-04-11 08:30] ishakhsuvarov commented on #2991
@degaray Closing this ticket, since the fix is already delivered with the linked commits. Please feel free to reopen if you have any additional questions regarding this.

[2016-04-11 08:37] ishakhsuvarov commented on #3423
@moe-kayali Sadly, `MAGETWO-49560` is not fixed yet, i'll update this ticket as soon as issue gets fixed.

[2016-04-11 09:07] ishakhsuvarov commented on #3589
@vipin-eglobeits Closing this ticket for now. Please reopen if you have any additional questions.

[2016-04-11 09:07] #3589 closed, assigned to ishakhsuvarov

[2016-04-11 09:08] thomvanderboon commented on #4076
A little more digging in the maillog

pr 11 10:52:08 shop postfix/postdrop[13312]: warning: mail_queue_enter: create file maildrop/800407.13312: Permission denied
Apr 11 10:52:18 shop postfix/postdrop[13312]: warning: mail_queue_enter: create file maildrop/800589.13312: Permission denied
Apr 11 10:52:28 shop postfix/postdrop[13312]: warning: mail_queue_enter: create file maildrop/800778.13312: Per

[2016-04-11 09:08] ishakhsuvarov commented on #3606
Closing this issue for now, please reopen if there are any additional questions.

[2016-04-11 09:08] #3606 closed, assigned to ishakhsuvarov

[2016-04-11 09:09] ishakhsuvarov commented on #3640
@degaray Closing this ticket, as the fix seems to be delivered with the linked commit. Please feel free to reopen if you have any additional questions.

[2016-04-11 09:09] #3640 closed, assigned to ishakhsuvarov

[2016-04-11 09:09] antboiko commented on #4079
Hello @duffner , kindly ask you to provide more details about your use case. The cursor on your screenshot isn't placed over the product.

"Add to Cart" button along with "Add to Wish List" and "Add to Compare" appears while hovering over the product.

Best,
Anton.

[2016-04-11 09:11] ishakhsuvarov commented on #3772
@jaimestuardo Closing this ticket for now, please reopen if you have any additional questions.

[2016-04-11 09:11] #3772 closed, assigned to ishakhsuvarov

[2016-04-11 09:19] ishakhsuvarov commented on #3960
@nobuttsalex
Hi, please try getting `Magento\Quote\Api\Data\ProductOptionExtensionFactory` instead of `Magento\Quote\Api\Data\ProductOptionExtensionInterface`.
Factory's `create` method will provide you with the valid extension attributes object.

[2016-04-11 09:22] igrslv commented on #4085
Hi @adifucan, consider this PR https://github.com/magento/magento2/pull/4089

[2016-04-11 10:10] shiftedreality commented on #3099
Fix merged with 9bf93a3fc6da720da989607916b92301e4af6a57
Closed

[2016-04-11 10:10] #3099 closed, assigned to nobody

[2016-04-11 10:11] shiftedreality commented on #3716
Fix merged with 9bf93a3fc6da720da989607916b92301e4af6a57
Closed

[2016-04-11 10:11] #3716 closed, assigned to antboiko

[2016-04-11 10:19] YevSent commented on #4076
Any errors in browser console when you click on `Continue to PayPal` button?

[2016-04-11 10:48] thomvanderboon commented on #4076
Please see above. 2 days ago post by @bgabrovsek

[2016-04-11 11:05] grasdaggel commented on #3923
Any updates on this? Its been a while..

[2016-04-11 11:49] avbinoy commented on #4069
I solved the issue by downloading Full Release with Sample Data (ZIP with sample data). Earlier, I used without sample data package and I downloaded sample data package separately from github mentioned above. I think, same issue will happen again if I follow the above steps (Hope those steps are correct, I am new to magento)

[2016-04-11 11:53] avbinoy opened #4090 "Magento Community Edition 2.0.4 with Sample Data.tar.bz2 (204 MB) download is not working"
Tried to download Magento Community Edition 2.0.4 with Sample Data.tar.bz2 (204 MB) (Third option of the dropdown) from https://www.magentocommerce.com/download and is not working. I tried from Chrome browser in Ubuntu. The archive downloaded with size 0.

[2016-04-11 12:06] Asitis opened #4091 "Backend layout seems broken/botched"
**Steps to reproduce**
- Magento 2.0.4
- Running developer mode
- Try to create/edit a page in the admin

**Expected result**
Get to edit the page normally

**Actual result**
![](http://i.stack.imgur.com/gzKuj.png)

I'm seeing a strange layout-error in my backend. I try to add a new Page and this is what I keep seeing : http://i.stack.imgur.com/NW3Zv.png (the content for each tab get's loaded in t

[2016-04-11 12:12] Manashvi commented on #1685
The same issue still continues in the ver. 2.0.4
I wonder if this bug is not resolved by the team.

[2016-04-11 12:19] AmerSej commented on #3865
I have the same problem. Is there a fix for that?

[2016-04-11 12:35] sergei-sss opened #4092 "Product Option's value price empty only if set '0.00' - bug or feature?"
Hi!

Magento 2.0.2/2.0.4 - default settings.
1) I've created one product option (type is drop-down / required - yes) with two values:
One (Name) / 10 (Price) / Fixed (Price type)
Two / 20 / Fixed
2) Ok, now I want set price to 0 for first value (One).
If I write empty string or 0 a product save without any errors, but I don't see any changes in the option's value price.
If I write 0.00 option's va

[2016-04-11 12:47] jaimestuardo opened #4093 "Product quantity appears even when there is no product in cart"
When I have no products in cart, mini cart component appears this way:

![image](https://cloud.githubusercontent.com/assets/9195659/14427242/2dbe57e2-ffca-11e5-9123-fae33856b39c.png)

This SPAN should not appear when no items exists in cart, or it could show a "0" in that location:

![image](https://cloud.githubusercontent.com/assets/9195659/14427292/664fd158-ffca-11e5-92a2-e184b530101f.png)

[2016-04-11 12:57] heldchen opened #4094 "Magento\User\Model\User::loadByUsername does not set _origData"
## Steps to reproduce

in magento 2.0.4, run the following code:

[code]
## Expected result

password hash remains unchanged

[code]
## Actual result

password hash is hashed again

[code]

the model checks `$_data` against `$_origData` to detect if the password needs to be encrypted, but loading the user through `loadByUsername()` does not populate the `$_origData` array.

[2016-04-11 13:02] quienti commented on #4093
https://github.com/magento/magento2/issues/3713#issuecomment-194833549

[2016-04-11 13:05] vzaporozhets commented on #3801
@rpmkhatri Did you try my advice above? Any changes?

[2016-04-11 13:19] chiranjit007 commented on #3906
hello i am new in magento and i have same problem .so what can i do..?

[2016-04-11 13:23] vzaporozhets commented on #3507
@lutpiero I noticed the same issue when installed M2 on Windows using "localhost" in the base URL. Adding any alias with domain part (ex. "magento.local") to "hosts"-file resolve this issue and M2 works just fine. But do not forget to use this alias for the base URL while installing Magento.

@werdlv Can you tell a bit more about store views configuration?

[2016-04-11 13:27] nobuttsalex commented on #3386
I got the same problem, need to be able to control the order they appear on the front-end (ideally with drag-and-drop from the attribute set page)

[2016-04-11 13:27] chiranjit007 commented on #3906
pls give an idea....

[2016-04-11 13:35] vancoz commented on #4090
Hello @avbinoy thank you for your report, we created internal ticket MAGETWO-51779 and will address this issue soon. As workaround please download zip or tar.gz archives.

Thank you

[2016-04-11 13:38] mslabko commented on #3306
Hello @thomasnordkvist,

Issue is not reproduced on develop branch. On stable release fix will be available in 2.1 version.

[2016-04-11 13:38] #3306 closed, assigned to nobody

[2016-04-11 13:40] jameswithers commented on #1471
I was getting this error because of trailing white spaces and different cases on category names. Once these were resolved, the file imported without error.

[2016-04-11 13:42] mazhalai commented on #4067
@rasmuswikman Thank you for reporting, we have created ticket MAGETWO-51780 to investigate and fix.

[2016-04-11 13:42] gplanchat opened #4095 "Could not change indexers mode"
## Steps to reproduce
1. Install Magento 2 EE on Amazon EC2, with MariaDB on Amazon RDS
2. Go to index management
3. Select all indexers
4. Execute action "Update by schedule"
## Expected result
1. Mode changes for all 11 indexers
## Actual result
1. Error message appears: "We couldn't change indexer(s)' mode because of an error.".

![image](https://cloud.githubusercontent.com/assets/152367/144289

[2016-04-11 13:43] mazhalai commented on #4072
@jamescowie How can we reproduce this issue?

[2016-04-11 13:44] mazhalai commented on #4041
@Vinai Thank you for reporting, we have created MAGETWO-51781 to investigate and fix.

[2016-04-11 13:48] mazhalai commented on #4056
@leonbrag please update your PHP version. Closing since this is not a bug.

[2016-04-11 13:48] #4056 closed, assigned to nobody

[2016-04-11 13:50] mazhalai commented on #4075
@parthviroja Can you please verify your version? This has been already fixed, see https://github.com/magento/magento2/issues/2276 and related commits.

[2016-04-11 13:51] mazhalai commented on #4094
@heldchen thank you for reporting, we have created MAGETWO-51783 to investigate and fix.

[2016-04-11 13:55] jaimestuardo commented on #4072
just set the frontend language to Spanish and do a purchase. Then analyze the confiirmation e-mail that arrives to customer.

Besides this problem, I have found also that in CSV file, links  are written using single quote, while in code, the texts are using double quotes. The result to this, is that text containing links are not translated either.

To solve the links problem by myself, I had to us

[2016-04-11 13:57] urielbeaupre opened #4096 "Product Duplication crash"
We currently have magento 2.0.4 installed on Linux server running nginx and php5, we also have it installed on another machine with php7 and this issue occurs in both instalations.

We have a fairly decent sized catalog list (5000) and are on the process of restructuring the catalog. To do this we are duplicating products and this is where the problem starts, when duplicating the product magento j

[2016-04-11 13:57] mazhalai commented on #4034
@flipflap any update?

[2016-04-11 13:58] mazhalai commented on #4024
@alisamohanty any update?

[2016-04-11 13:59] mazhalai commented on #4016
@ircsome we have created MAGETWO-51785 to investigate and fix.

[2016-04-11 14:02] mazhalai commented on #4001
@DonatelloNguyen closing since there has been no response.

[2016-04-11 14:02] #4001 closed, assigned to nobody

[2016-04-11 14:05] mazhalai commented on #4096
@urielbeaupre that is a debug log and not an error log. it just shows when cache is being invalidated. Do you have any details in `exception.log`?

[2016-04-11 14:07] vzaporozhets commented on #3480
Closing this issue as no update provided for a long time. @ArniXXX - do not hesitate to contact us if issue is still present.

[2016-04-11 14:07] #3480 closed, assigned to nobody

[2016-04-11 14:07] flipflap commented on #4034
No, not yet. Until now the new installation works. Maybe it will fail again when the next update notification comes in.

[2016-04-11 14:08] mazhalai commented on #3977
@smatric Can you try the following:
copy `~/.composer/auth.json` to `var/composer_home/auth.json` and try again?

[2016-04-11 14:11] mazhalai commented on #3970
@chloeefr that means js files are not loading. Please verify that you have a user as specified [here](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html) and permissions are as specified [here](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html).

[2016-04-11 14:12] urielbeaupre commented on #4096
On the exception log I have this
Next exception 'Zend_Db_Statement_Exception' with message 'SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: INSERT INTO `$

[2016-04-11 14:13] jaimestuardo commented on #4013
Meanwhile, is there a way to upgrade by bypassing that verification?

[2016-04-11 14:14] mazhalai commented on #4034
@flipflap OK, closing this issue for now. Please open a new issue if problems arise.

[2016-04-11 14:14] #4034 closed, assigned to nobody

[2016-04-11 14:16] mazhalai commented on #4013
@jamescowie I would suggest to either move the files out of magento root during upgrade, and then copy them back or give full write permissions(not recommended) but as long as you change it back as soon as upgrade is done.

[2016-04-11 14:21] paliarush commented on #3996
@sterfpaul "eq" one, that is specified in your original post.

[2016-04-11 14:24] paliarush commented on #3999
@jim5359 Thank you for the feedback, we will definitely improve the flow to eliminate described issue.

[2016-04-11 14:48] sevos1984 commented on #3831
Can't reproduce this issue as well, try clearing magento cache and your browser cache

[2016-04-11 14:50] andparsons commented on #4013
I'm getting the same error while trying to upgrade via the web interface.
I've moved the custom theme outside the root folder, but it seems to have cached the error as it still shows the same paths are an issue.
I've tried clearing the cache from the flush cache page, but to no avail.
Can you help me find where this would be being cached?

[2016-04-11 14:53] mazhalai commented on #4013
@andparsons there are a number of files created in the var directory that begin with `.` check `.update_cronjob_status` and remove it. Wait for cron to run again, or run the commands manually, and you should be able to continue.

[2016-04-11 14:56] quienti commented on #3831
Update to Magento 2.0.4 solve this problem
Sorry

[2016-04-11 14:56] #3831 closed, assigned to slavvka

[2016-04-11 15:24] ghost commented on #3958
Sorry for seeing this so late. This issue is hard to reproduce. When I see it, I log out of the Admin and manually clear directories under `var` and that fixes it.

[2016-04-11 15:35] jaimestuardo commented on #4013
This is very annoying. I have removed the cache after I move the folders out of Magento root, and I got more errors now: PHP Version Check, PHP Settings Check, etc and etc. All those checks were correct before, and in fact, all of them are correct. I have removed .setup_cronjob_status and .update_cronjob_status according to this page http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/com

[2016-04-11 15:38] joshdifabio opened #4097 "Allow a meaningful business attribute to be used to uniquely identify categories"
Products can be uniquely identified by their SKUs, which have meaning to a business, but for categories there is no such business attribute in Magento; categories can only be identified by their integer ID, which has no business meaning. In Magento 1, this poses issues when attempting to integrate Magento categories with other platforms, for example Akeneo, because there is no way of relating the

[2016-04-11 15:39] mazhalai commented on #4013
@jamescowie can you please very that are your cronjobs running as expected?  It should create new `.setup_cronjob_status` and `.update_cronjob_status` files.

[2016-04-11 15:41] mazhalai commented on #4009
@jamescowie thank you reporting, we have created MAGETWO-51790 to investigate and fix.

[2016-04-11 15:44] ghost commented on #4016
@mazhalai thanks!  how do I track the progress of MAGETWO-51785?

[2016-04-11 15:48] convenient commented on #4097
I've been bit by this problem quite a few times. Even [attempted to solve it in M1](https://github.com/convenient/CategoryCode).

Would love to see a proper solution baked into the core for M2.

[2016-04-11 15:52] mazhalai commented on #3967
@jhildreth Thank you for reporting, we have created MAGETWO-51791 to investigate and fix.

[2016-04-11 15:56] mazhalai commented on #4072
@jamescowie thank you for reporting, we have created ticket MAGETWO-51792 to investigate and fix.

[2016-04-11 15:58] mazhalai commented on #4016
@ircsome  Sorry that is our internal tracking, it is not available for the public. Once a solution is merged, the commits will be linked to this ticket.

[2016-04-11 15:59] mazhalai commented on #3880
@Lovnish any update?

[2016-04-11 16:16] gamort commented on #4068
Before rushing into using new[er] PHP features, please make sure you know what it is your doing.

The examples given are stupid.  Using `::class` is for when you are /outside/ of the class where you need the full name.  When you are inside the class, you should use __CLASS__
http://php.net/manual/en/language.constants.predefined.php

IE:
`$instanceName = ResultInterface::class;`
BAD BAD BAD

What

[2016-04-11 16:17] mazhalai commented on #2614
@Elsharif is this still an issue?

[2016-04-11 16:17] gamort commented on #4068
Dang markdown......  __CLASS__ should have 2 underscores before and after the word.

[2016-04-11 16:18] mazhalai commented on #2770
Closing since issue was resolved.

[2016-04-11 16:18] #2770 closed, assigned to nobody

[2016-04-11 16:19] mazhalai commented on #2648
@lanken has your issue been resolved?

[2016-04-11 16:27] mazhalai commented on #2827
@anaxmedia any update on this issue?

[2016-04-11 16:33] tseven commented on #3870
I agree with @kevando , a hung spinning loader is not helpful at all.

[2016-04-11 16:40] quienti opened #4098 "Event customer_data_object_login crash"
## Steps to reproduce
1. Install Magento 2.0.4.
2. Used this code  `$this->_eventManager->dispatch('customer_data_object_login', ['customer' => $customer]);`
## Expected result
1. Can use this event for custom login
## Actual result

`a:4:{i:0;s:78:"Invalid method Magento\Customer\Model\Address::isDefaultBilling(Array
(
)
)";i:1;s:11690:"#0 /home/magento2/www/vendor/magento/module-tax/Observer/Cus

[2016-04-11 16:41] gamort opened #4099 "Unit test failures"
What is the point of setting up unit testing if you break it and do nothing to fix it?

https://travis-ci.org/magento/magento2/builds

Over 2 weeks for develop.  Sure, it's just the integration tests - but if you are going to decide not to include them to do not include them, don't leave the thing running day in and day out making the whole report useless.

[2016-04-11 16:42] tseven commented on #4080
Magento ver. 2.0.4
This is also the case on the Index Management page.
This bug did not exist in the older 2.0.2 version.

[2016-04-11 17:25] samtay opened #4100 "CMS blocks are stripping 'placeholder=""' html attributes"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a cms block with content `<input name="test" placeholder="THIS TEXT WILL DISAPPEAR" />`.
3. Save the block.
4. ![2016-04-11-131432_1887x907_scrot](https://cloud.githubusercontent.com/assets/7246591/14435811/aa61f106-ffe7-11e5-931e-f84072631533.png)
## Expected result
1. Content saved normally.
## Actual result
1. Placeholder

[2016-04-11 17:31] samtay commented on #4100
Note: I believe this problem is resolved by disabling the wysiwig editor, which my team does by default, but that solution might not be viable for everyone.

[2016-04-11 17:32] magnetic5355 opened #4101 "Only Primary Image Updates on Swatch/Option change"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add configurable product and options with multiple images per option
3. View product page and select option.
## Expected result
1. All images swap to images of option selected
2. Thumbnails swap to images of option selected
## Actual result
1. Only primary (first) image swaps
2. Only first thumbnail swaps

[2016-04-11 17:37] jsakars commented on #3507
@vzaporozhets there is nothing specific about store views - `en`, `ru`, `lv` for example

[2016-04-11 18:24] mazhalai commented on #4099
The test that is failing is env specific. We test on Centos and it is fine, though travis runs on Ubuntu. We are in the process of fixing this. Related ticket MAGETWO-51715

[2016-04-11 18:27] mazhalai commented on #4080
@duffner @tseven thank you for reporting, we have created MAGETWO-51803 to investigate and fix.

[2016-04-11 18:39] tseven commented on #3870
Discovered one culprit (Excel on Mac) and solution.

## Steps to reproduce:
1. Export products using the admin UI.
2. Edit anything in the .csv in excel on a Mac.
3. Save .csv.
4. Import into Magento

This will cause the import to hang. Browser console shows the post failed with 503.

## Solution/Workaround

In excel save as "Windows Comma Separated (.csv)"

[2016-04-11 20:57] smatric commented on #3977
@mazhalai I copied the file (it's under a slightly different path on my installation):

`cp ~/.config/composer/auth.json ~/var/composer_home/`

Now I'm getting the same exception again: Zend\ServiceManager\Exception\ServiceLocatorUsageException

[2016-04-11 22:11] jaimestuardo commented on #4013
Only .update_cronjob_status:

-rw-r--r-- 1 depasa depasa    148 abr 11 19:09 .update_cronjob_status

[2016-04-11 23:33] rudik99 commented on #3942
Any short term work arounds?

[2016-04-11 23:55] dmitriyse opened #4103 "REST API endpoint: GET /V1/products/attribute-sets/{attributeSetId}/attributes does not works"
## Steps to reproduce
1. Install Magento 2.0.4 or 2.0.2 with sample data
2. Perform valid call to the endpoint: GET /V1/products/attribute-sets/{attributeSetId}/attributes
## Expected result
1. List of attributes belongs to the specified attribute set

Actual result
![image](https://cloud.githubusercontent.com/assets/10322215/14445945/4763ac9a-0062-11e6-8387-ef7b044911bc.png)

[2016-04-11 23:54:15

[2016-04-12 00:10] dmitriyse opened #4104 "REST API - Product categories always updated, even "category_ids" attribute not specified"
## Steps to reproduce
1. Install Magento 2.0.4
2. Create new product and specify some categories for it.
3. Update product but without "category_ids" custom attribute
## Expected result
1. Categories of the updated products are not updated
2. ...
## Actual result
1. All categories reseted
   ![image](https://cloud.githubusercontent.com/assets/10322215/14446189/5cca0000-0064-11e6-8e5b-a10a534f6c73.

[2016-04-12 00:14] dmitriyse opened #4105 "REST API endpoint: GET /V1/categories/{categoryId}/products sometimes returns wrongly empty list"
## Steps to reproduce
1. Install Magento 2.0.4
2. Create Root Category from REST API
3. Bind this category to some product
4. Perform request to the endpoint:  GET /V1/categories/{categoryId}/products for created category in the second point.
## Expected result
1. List of 1 product should be received
2. ...
## Actual result
1. Empty list received

[2016-04-12 00:43] colyield opened #4107 "Catalog search indexer process unknown error"
I have a website in production and tried to copy all the content to a local centos server for testing purpose.

The first time to reindex using command line on the testing server, there is an error occurred " Catalog search indexer process unknown error, Error while sending query packet, PID=44972". And "Catalog Search" index always shows "processing".

Tried to change the     value of catalogsear

[2016-04-12 00:53] ozgeekmum commented on #3102
HI
I just downloaded 2.0.4 zip and despite the commit being from October, the fix is not there.

[2016-04-12 02:43] AirmanAJK commented on #3196
In 2.0.4, when Captcha is enabled under customer configuration, the login page (among others) has window.checkout as undefined. When captcha is disabled, windows.checkout exists and no console errors occur.

<img width="661" alt="jsconsoleerr" src="https://cloud.githubusercontent.com/assets/18410935/14448399/10131476-002e-11e6-8a0d-8077a3d72214.png">

[2016-04-12 02:47] tomispepe opened #4108 ""Catalog Products List" includes "Out of Stock" products when "Quantity is In Stock" is a required condition of the widget and the products are given the quantity "Out of Stock" from within admin"
## Steps to reproduce
1. Install Magento version  2.0.0 or above.
2. Add the sample data
3. Create a new "Catalog Products List" widget
4. Add only 1 condition: "Quantity is In Stock"
5. Add this widget to the layout of cms homepage -> main content top
6. Save the Widget and Refresh the cache
7. Open the homepage and verify your list is displayed as expected
8. Note that this includes the "Joust D

[2016-04-12 03:32] vigentocommerce commented on #3651
too slow. Magento 2.0.4 on Xampp, 8GB ram, 250 GB SSD, server case.

[2016-04-12 03:41] eliv3n commented on #2648
Yes,
This solution worked for me,
I changed the database drive to a SSD hard drive to optimize the speed for installation, the installation progress become much faster and the error will not show anymore.

[2016-04-12 04:12] magedmik commented on #2412
+1

[2016-04-12 04:19] colyield opened #4109 "DHL and FedEx tracking not working"
We are using FedEx shipping module to quote the shipping cost. And we did not configure the DHL module but occasionally we will ship orders by DHL.

 For the order shipped by DHL, when click "track order" link on admin, The DHL tracking always show the message below and there's no further information.
Tracking Number:    111
Carrier:    DHL
Error:  Tracking information is currently not available.

[2016-04-12 07:36] grasdaggel commented on #4100
How to disable the WYSIWYG-Editor by default?

[2016-04-12 07:58] antboiko commented on #4092
Hi @sergei-sss , thanks for reporting this issue. I've created an internal ticket MAGETWO-51811 to track it.

Best,
Anton.

[2016-04-12 08:09] robversluis commented on #4070
acknowledged

[2016-04-12 08:47] alena-marchenko commented on #2904
Closing this issue due to no response, please reopen when you have an update.

[2016-04-12 08:47] #2904 closed, assigned to alena-marchenko

[2016-04-12 08:50] alena-marchenko commented on #3681
Closing this issue due to no response, please reopen when you have an update.

[2016-04-12 08:50] #3681 closed, assigned to alena-marchenko

[2016-04-12 09:02] f1ren commented on #3963
I got there after `bin/magento setup:di:compile` so I also had to:

[code]

[2016-04-12 09:11] nobuttsalex commented on #3960
@ishakhsuvarov Thanks, using the API I have managed to do it. The issue I have now is getting the quote id. This code works if an item has already been added to the cart

[code]

but for a new session $quote['entity_id'] is empty

[2016-04-12 09:12] zin-mi opened #4110 "Responsive not working with Device under 480px"
Hi Everyone.
I'm tried made Magento responsive for a device under 320 but it was not working.
here the my code:

[code]

Please let me know how to input code to only this device. I'm tried many time but it not success.

Many Thanks

Best Regards,
Ziven.

[2016-04-12 09:16] cusspvz commented on #2130
Same happens when generating static content on alpine, probably needs to be changed on `zend-stdlib`?

[code]

[2016-04-12 09:17] devhn opened #4111 "Layered navigation shows attributes within wrong categories"
We are experiencing strange issue with attributes within the layered navigation. It shows all attributes in the sidebar even tho they are not be assigned to certain type of products.

What we did:
1. Installed Magento community without sample data
2. Configured product attribute sets and attributes
3. Created 1.000+ products within Magento administration
4. Imported product's pictures (admin GUI)

[2016-04-12 09:32] rohitkundale commented on #3801
Yes, I have tried. Still same error comes.

[2016-04-12 09:53] adifucan commented on #4085
Hi @igrslv! I cannot reproduce this bug: neither on CE nor on EE fresh develop.

After I save simple product product with 1 option and 2 values, add another 3rd row without filling in any data in it, remove this row & save the product, I get only 2 values in \Magento\Catalog\Model\Product\Option\Validator\Select::validateOptionValue without 'is_delete' key.

Can you recheck if this issue still occ

[2016-04-12 10:12] adragus-inviqa commented on #4068
I was more refering to the first case. And for test classes mostly and for wherever it's fit, not saying we should use `::class` everywhere. Using _anything_ indiscriminately is just plain stupid.

PS: I think you can get your point across without having to use the word "stupid" so many times. We get it: it's stupid.
PPS: Use formatting:  `__CLASS__` and triple back-ticks: https://guides.github.co

[2016-04-12 10:47] bh-ref opened #4112 "Wrong parent category url_key in URL"
## Preconditions
* Magento 2.1 and 2.2

## Steps to reproduce

We have two frontend storeviews in Magento 2.0.4, a French one and a German one. But the **parent** category url_key in the URL rewrites is always the German one, for both, the german and the french storeview.
## Expected result

Expected URL rewrite for a sub-category:
https://example.com/fr/french-parent-category/french-sub-category/

[2016-04-12 11:04] sergei-sss opened #4113 "Error if CMS pages for different store views with identical URL Key"
## Steps to reproduce
1. Install Magento 2.0.2 / 2.0.4 with sample data.
2. Add store view to website 'Second Store View'.
3. Clear cache, run reindex process from CLI.
4. Create new CMS Page for DEFAULT Store View only -  "Test Default Store" with identifier 'test' - OK.
5. https://www.diigo.com/item/image/4wouz/0y1w
6. Create new CMS Page for SECOND Store View only - "Test Second Store" with ide

[2016-04-12 11:06] grasdaggel opened #4114 "PayPal doesn't clear Minicart but cart"
We have found a weird bug. If a customer is paying with PayPal the Minicart doesn't get cleared. However, the cart is empty, so if you click "go to cart" you see "there are no products in your cart".

Bug only occours when using PayPal out of sandbox mode.

How can we fix this? I was thinking about a session destroyer on the success.phtml but wasn't lucky to find a solution for this.

Any ideas? I

[2016-04-12 11:07] grasdaggel commented on #4114
We are using:
PHP7
Magento 2.0.4

[2016-04-12 11:10] grasdaggel commented on #1645
Bug occours on Magento 2.0.4 again. Wrote an issue about that: #4114

[2016-04-12 11:14] MicroKloon commented on #3991
ofcourse this is still valid, if Magento 2 supports php 7 it should work....

[2016-04-12 11:15] nobuttsalex opened #4115 "Options missing in Configuration > General > Design"
**Steps to reproduce**
I am on the develop branch with no extensions enabled, the only options under the Design menu is the Search Engine Robots section

**Expected result**
![design expected](https://cloud.githubusercontent.com/assets/9484573/14458300/25af019e-00a8-11e6-9e55-22e9fe17117d.png)

**Actual result**
![design actual](https://cloud.githubusercontent.com/assets/9484573/14458303/2839e460-

[2016-04-12 11:18] parthviroja commented on #4075
Thanks, mazhalai

[2016-04-12 11:24] grasdaggel commented on #1461
Same here, the problem still exists.

[2016-04-12 11:43] srbarba opened #4116 "Make email Subjects translatables [Improve]"
Right now, the subject email isn't translatable from "language.csv".
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Translate subject of email template at language CSV
3. Add simple product.
4. Create Order and Send New Order Email [For Example]
## Expected result
1. Subject translated
## Actual result
1. Subject isn't translatable
## Actual result

I suggest the next change(th

[2016-04-12 11:50] #4075 closed, assigned to nobody

[2016-04-12 11:57] dynamogold-bkre opened #4117 "State not removed in checkout altough state option set correctly"
**Steps to reproduce**
1) Go to _Stores > Configuration > General > General > State Options_
2) Remove _Austria_ from selection in _State ist Required_
3) Set _Allow to Choose State if it is Optional for Country_ to _No_

**Expected result**
In _Checkout > Delivery Address_ if _Country_ equals _Austria_ the dropdown for _State/Province_ should not be visible and also not required.

**Actual result

[2016-04-12 11:58] Krapulat commented on #4055
@vancoz I've used a test copy (using only an IP) and the same: it installs correctly Magento 2.0.4 via command line, but there is a problem with languages. With the IP (same URL for all languages) I've been able to login to admin. With a domain per language (different URL per language) I wasn't able to.

It changes the default language to english. And if I'm in a page and select another language,

[2016-04-12 12:03] parthviroja opened #4118 "Minicart : duplicate micart cart item display in multiple project's minicart on same local server."
I have install 2 project (Magento-CE.2.0.0) on my local server.

When i open **project("demo")**, and add 2 item in cart (minicart render with **2 item** perfectly).

When i open **project("test")** (minicart display **2 item** of project(demo).

I think issue with session / cache..

Anybody knows how i can fix / solve this problem ?

[2016-04-12 12:06] jordanbrierley commented on #3894
@babyasishhira Hi, I'm having the same problem with my theme, would you be able to tell me which file you had to replace or how you solved it as I'm guessing mines a similar issue? Thanks

[2016-04-12 12:15] parthviroja opened #4119 "TypeError: $.widget is not a function ( minicart , layered navigation not render )"
Many time when i open my project frontend site, minicart not render..

And sawing this error..

file location ->  ../pub/static/frontend/Magento/<theme>/en_US/mage/dataPost.js

[2016-04-12 12:58] igrslv commented on #4085
Hi @adifucan, the same steps as you described:
1. saved  the product with one drop-down option and two values
2. added another empty row and immediately removed it
3. saved the product once again

This is what a have as a dump of values in Magento\Catalog\Model\Product\Option\Validator\Select::validateOptionValue

[code]

<img width="1320" alt="invalidoptionvalue" src="https://cloud.githubusercont

[2016-04-12 13:31] mazhalai commented on #3977
@smatric this is a really strange error, can you verify that you have the class `Magento\Setup\Controller\SelectVersion`? Also, clean your Magento2 cache as well as browser cache and try again.

[2016-04-12 13:34] mazhalai commented on #4013
@jaimestuardo you need a total of [3 cronjobs](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html#config-cli-cron-bkg) `/bin/magento setup:cron:run` creates `. setup_cronjob_status` Can you verify it is running? You can try running the command manually too.

[2016-04-12 13:34] Vipul25 commented on #2614
Facing the same issue. Cleared cache and made all the changes suggested here but did not work.

Any body found any solution to this problem so far?

[2016-04-12 13:35] joebusby commented on #3942
With the right php settings, I have been able to add up to about 400 configured products (for one configurable product) going through the "Edit Configurations" process as long as I don't add any images to the products.  You then need to put the images in manually, one by one.   If you add images during the "Edit Configurations" process, I can only get about 125 products in or it bombs.  The "Add p

[2016-04-12 13:49] antboiko commented on #4115
Hello @nobuttsalex , thanks for your inquiry.

Theme Management functionality was moved to Admin >> Content >> Design >> Configuration.

I'm closing this ticket for now, please feel free to reopen if you have any additional questions.

Best,
Anton.

[2016-04-12 13:49] #4115 closed, assigned to nobody

[2016-04-12 13:52] antboiko commented on #3906
@chiranjit007 you can find Theme Management functionality by navigating to Admin >> Content >> Design >> Configuration.

[2016-04-12 14:00] orlangur commented on #4114
Since such blocks like Minicart are rendered on client side based on data stored in local storage, the fix is basically to specify actions which must invalidate particular sections of customer data: https://github.com/magento/magento2/blob/develop/app/code/Magento/Paypal/etc/frontend/sections.xml

So, probably some other actions than "paypal/express/placeOrder" and "paypal/payflowexpress/placeOrde

[2016-04-12 14:07] orlangur commented on #4099
@mazhalai the problem here is that Travis builds are not properly involved in Continuous Integration loop. It's just a fancy badge in README and nobody really cares whether it is green or not.

Just don't publish changes until all tests are passed on Travis CI. That's it.

[2016-04-12 14:26] Krapulat commented on #4055
I found it. Using multiple domains I added this custom code inside index.php:

$params[\Magento\Store\Model\StoreManager::PARAM_RUN_CODE] = $language;
$params[\Magento\Store\Model\StoreManager::PARAM_RUN_TYPE] = 'store';

And after upgrading, the code disappeared from index.php. I added the code again, and it works!

[2016-04-12 15:09] philippsander opened #4120 "No Error Messages displayed on /customer/account/create/"
When creating an account with an email that already exists, i should see an error message.

But the page just reloads and I don't see anything.

The message div is there. but empty.
module-customer/Controller/Account/CreatePost.php is not overriden
The Exception block which adds the error-message to the messageManger in CreatePost.php, is reached.

There's a Javascript error, when loading the page

[2016-04-12 15:17] mukdam commented on #1461
Please follow
http://magento.stackexchange.com/questions/100615/magento-2-how-can-refresh-minicart-cache-after-clear-cart-session-and-place-orde

[2016-04-12 15:19] shiftedreality commented on #3812
Fix delivered to develop branch.
Closed.

[2016-04-12 15:19] #3812 closed, assigned to shiftedreality

[2016-04-12 15:26] alejduin opened #4122 "File Permission Check "/var/www/html/magento/pub/static" writable directory permission."
Hello, I've been trying to install a Magento2 theme when I upload the files to the magento server an I go to http://<my server>/magento/themesetup I can see the theme setup landing page, then it realize a Readiness Check and there is when I get the error message.

To solve this I try this:

$ sudo chmod 777  /var/www/html/magento/pub/static

$ sudo chmod 777 -R /var/www/html/magento/pub/static

bu

[2016-04-12 15:32] benbor opened #4123 "Magento\Framework\Model\AbstractModel->save() is deprecated. What i should use instead of that?"
Hi guys. Since that https://github.com/magento/magento2/commit/02b9213e4468bfa765ecc38ee55657662554fd72 commit AbstractModel->save() method is deprecated. Please someone tell me, what i should use for save it ?

[2016-04-12 15:35] magebay99 commented on #2402
I got same problem but not solved by change permission. Is there other solution?
Magento 2.0.4

[2016-04-12 15:41] samtay commented on #4100
@kingalca Stores > Configuration > General > Content Management > WYSIWYG Options

[2016-04-12 15:42] magebay99 commented on #2402
---------------> solved after try again @tahiryasin  solution. Thanks

[2016-04-12 15:46] jaywilliams commented on #2984
As of Magento 2.0.4, this fix still hasn't been included. In the mean time, if you're running on PHP 7, you'll need to patch the Data.php manually.

Here's the patch: https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6

[2016-04-12 15:48] QuestionProGuy opened #4124 "No images Magento Admin Panel"
i don't see any image on my Magento Admin Panel , i hope anyone knows what the problem is .
![magentoerror](https://cloud.githubusercontent.com/assets/18424218/14466355/c3ce95e6-00d6-11e6-96ae-7d16e124fed5.JPG)
![magentoerror2](https://cloud.githubusercontent.com/assets/18424218/14466361/c9646882-00d6-11e6-9c4f-a5a85bf1b8e2.JPG)

[2016-04-12 15:53] philippsander commented on #4120
It's a problem with my installation. I can't access /customer/section/load/ while logged out.

[2016-04-12 15:53] #4120 closed, assigned to nobody

[2016-04-12 16:14] Krapulat commented on #3102
I'm using 2.0.4 and I also see the problem.

[2016-04-12 16:38] mslabko commented on #2315
Hello @matthewwiggins
Issue was fixed on develop branch (https://github.com/magento/magento2/commit/d58c63eb5915d6c460ccf3526cce1f8828d3f4ae) and will be available in 2.1 version
Thank you for reporting!

[2016-04-12 16:38] #2315 closed

[2016-04-12 16:51] mslabko commented on #3180
Hello @bbraspenning
Issue was fixed on develop branch (https://github.com/magento/magento2/commit/d58c63eb5915d6c460ccf3526cce1f8828d3f4ae) and will be available in 2.1 version
Thank you for reporting!

[2016-04-12 16:51] #3180 closed, assigned to yaronish

[2016-04-12 16:55] mazhalai commented on #4122
@alejduin Can you please give more details? You are installing a theme first and then Magento?

[2016-04-12 16:57] mazhalai commented on #4103
@dmitriyse thank you for reporting, we have created MAGETWO-51844 to investigate and fix

[2016-04-12 16:58] mazhalai commented on #4104
@dmitriyse Thank you for reporting, we have created ticket MAGETWO-51845

[2016-04-12 16:59] mazhalai commented on #4105
@dmitriyse thank you for reporting, we have ticket MAGETWO-51846 to investigate a fix.

[2016-04-12 17:03] mazhalai commented on #4107
@colyield what version of Magento? There were some issues with PHP 7 regarding indexers, which were addressed in https://github.com/magento/magento2/tree/2.0.1 related thread https://github.com/magento/magento2/issues/2750

[2016-04-12 17:04] alejduin commented on #4122
nop, I have a Magento2 running and then I try to install the theme, i upload the files via SFTP, then I go to  http:///magento/themesetup, there is where I see the theme landing page, but when the theme configuration checks the permissions it says: File Permission Check "/var/www/html/magento/pub/static" but i have no changed any permission.

[2016-04-12 17:04] mrtuvn opened #4125 "handle custom map requirejs scripts not loading"
[code]

Script called in PHTML like original

[code]

I already clear static files, caches , generation and re-deploy. After that magento still not load my script. How to make it work. Can i temporary disable original script productGallery for only in custom module?

[2016-04-12 17:17] mazhalai commented on #4116
@srbarba this has already been reported, closing as duplicate of https://github.com/magento/magento2/issues/4072

[2016-04-12 17:17] #4116 closed, assigned to nobody

[2016-04-12 17:22] mazhalai commented on #4122
@Not sure about this path. `http:///magento/themesetup` the right way to install a theme, is to go to `Admin->System-> Web Setup Wizard->Component Manager`  Add your credentials in "System Config", then follow instructions [here](http://devdocs.magento.com/guides/v2.0/comp-mgr/compman-main-pg.html) to install a component(in this case theme).

[2016-04-12 17:35] Toltar opened #4126 "Confused with the Documentation in creating custom components and modules"
Hello I am excited to start learning how develop within the Magento Framework. I just started Magento and got everything installed. Now I am wanting to customize Magento to what my work wants it to do. One example of these things is to create custom Reports from the admin panel. I have very carefully read your documentation and other online sources saying though one step is stumping me and I have

[2016-04-12 17:38] adifucan commented on #4085
Hi @igrslv!

I could not reproduce this bug because I tested it on https://github.corp.magento.com/magento2/magento2ce/tree/develop and you are talking about https://github.corp.magento.com/magento2/magento2ce/tree/2.0, right?

I do not mind to merge your pull request but you need to create it for branch 2.0 but not develop as on develop this bug is not reproduced. Or I can create pull request by

[2016-04-12 18:05] QuestionProGuy commented on #4124
Wait i solved the problem , all images are working now !

[2016-04-12 18:05] #4124 closed, assigned to nobody

[2016-04-12 18:10] mstumpf818 opened #4127 "Fatal error when page.messages block removed from xml"
## Problem

A fatal error occurs on /customer/account/edit/ when page.messages block is removed from xml.
Fatal error: Call to a member function setEscapeMessageFlag() on boolean in vendor/magento/module-customer/Controller/Account/Edit.php on line 83
## Steps to reproduce
1. Install stable Magento CE (we're using 2.0.2).
2. Remove page.messages block.  You can do this in the theme xml file app/de

[2016-04-12 18:10] colyield commented on #4107
@mazhalai As I mentioned, the magento version is 2.0.4. It was upgraded from 2.0.0. And I tried the php5.6 and php7, same issue. Is there a way to fix this?

[2016-04-12 18:46] alejduin commented on #4122
this is the some lines of the documentation of the theme

2.2. INSTALLING THEME AFTER MAGENTO IS PREPARED

This procedure doesn’t change core files of Magento
Step 1: Extracting file theme package on your computer and copy all files to your Magento folder. The theme folder after extracting, it should contain folders such as: app, pub.

Step 2: Using your FTP client upload all folders and files to

[2016-04-12 18:52] mazhalai commented on #4122
@alejduin where is this from?

[2016-04-12 18:59] alejduin commented on #4122
Extreme Magento Themes, it was inside the zip that I bought with the  em theme, I really thought that it would be like you wrote in the previous comment, but they documentation recommends that process. :-(

[2016-04-12 19:01] mazhalai commented on #4122
@alejduin I think you should take it up with them. Maybe they need to update their documentation.

[2016-04-12 19:44] mazhalai commented on #4122
Closing since this is not a bug.

[2016-04-12 19:44] #4122 closed, assigned to nobody

[2016-04-12 19:47] mazhalai commented on #4126
@Toltar how did you deploy Magento2? via git? composer create-project or downloaded a zip from magento.com?  If you used any other method other than git, yes, you do have to create a `code` folder under `app`. If you deployed via git, it should already be present.

@xcomSteveJohnson maybe documentation needs to be updated to specify that `code` needs to be created within `app`?

[2016-04-12 19:51] macknik commented on #4095
Also occurring on CE with MySQL db on Amazon RDS

[2016-04-12 19:55] redinn opened #4128 ""You cleared the comparison list" message does not disappear."
Preconditions
1. Magento 2.0

Steps to reproduce
1. Install Magento 2.0.4
2. Add products to compare.
3. Click "Clear All" to remove products from comprision list

Expected result
1. "You cleared the comparison list" message pop up only once.

Actual result
1. I continue to browse other pages on my site and "You cleared the comparison list" message does not disappear.

Could someone please have a

[2016-04-12 21:18] cusspvz commented on #2130
@okorshenko @mazhalai Already fixed it on `zend-stdlib`, could you please bump the version on [composer](https://github.com/magento/magento2/blob/develop/composer.json#L12) ?

[2016-04-12 21:23] cusspvz commented on #2130
@tvlooy do you mind to reopen since it is related to installation as well?

[2016-04-12 21:37] smaeder commented on #3999
@paliarush - do you know how soon you may be able to implement this improved flow so that your  OAuth process works with popup blockers?

[2016-04-12 23:10] salelsol commented on #4096
Same issue magento 2.0.4 when I´m tryed duplicate a product. I can´t finish action Save & Duplicate product always display "Please Wait", next I´m recived and message from server:  Our automated system has noticed that the disk of server is full. When I´m checked this abnormal behavior I have realized that the images of the product I wanted to duplicate had increased to fill the entire disk space

[2016-04-12 23:55] timtt-zz commented on #2628
When getting multiple orders in one call in 2.0.4, the shipping address is unfortunately incorrect. For a single order it works fine, but for multiple orders, the shipping address in extension attributes is the same for every order. If I have orders 1, 2, and 3, the shipping address for each of them will the one in order 3 - the last one in the call. Should this be filed as a separate bug?

[2016-04-13 00:49] colyield commented on #4107
@mazhalai Today I tried centos 6, apache 2.2, php5.6. mysql 5.6, the problem is still the same. Please help.

Do you think it is because the magento was updated from 2.0? But I tried new system files with the current database, got the same situation.

[2016-04-13 02:21] esiemens opened #4130 "Error 1001 on PayPal checkout using PHP 7 in Magento 2.0.4"
Magento version 2.0.4 with latest patches PHP 7

on paypal checkout i receive error 1001

if i downgrade to PHP 5.6 checkout works just fine

[2016-04-13 06:29] thomasnordkvist opened #4131 "Custom zip code mask not working in 2.0.4"
I tried to add a custom zip code mask by following the example from http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_zip.html

I'm using Magento 2.0.4

In system.log i get the following message:
`main.CRITICAL: More than one node matching the query: /config/zip [] []`

The checkout page gives an error report like this:

[code]

And it looks like more installations have this problem

[2016-04-13 06:38] yagneshponkiya opened #4132 "Magento 2.0.4 Layered Navigation Random Product Bug or Feature"
## Steps to reproduce
1. Disable Full Page Cache From Magento Backend.
2. Go to Any Product Listing Page
3. Select any option from layered navigation which has multiple products available.
4. After selecting refresh the page 3-4 of times.

Make sure you have Order by "Position" selected. and i have tested this for all the product having "position value 1 or same for all the products"
## Expected r

[2016-04-13 06:48] ghost commented on #4067
After some further investigation it seems that the strings were not picked up by the translation tool when I created the dictionary. Manually adding the missing strings to my language package resolved some of them.

Adding "item", "items" and "See Details" to the CSV did not help, they are still missing from the JSON.

Probably unrelated to these is "Phone Number" in the checkout forms. The only w

[2016-04-13 07:16] grasdaggel commented on #4114
Can you elaborate how to apply a fix here? Not sure if I want to change PayPal-core-files. :/

[2016-04-13 07:18] grasdaggel commented on #1461
Dear @mukdam, please elaborate this fix. Its not very clear how to apply this.

[2016-04-13 07:37] BorysMiller opened #4133 "Shopping cart page not loading"
Steps to reproduce

1.Add module with sequence of 'Magento_Checkout' module.
2.Go to '/checkout/cart': page not load (white screen).

[2016-04-13 07:45] gplanchat commented on #2786
Same issue on EE

[2016-04-13 07:57] sammarcus commented on #2457
(@deltab proposed in #4134)

[2016-04-13 08:06] karanbhomiagit commented on #2628
@timtt : Same thing happened for me too.
@davidalger , @choukalos : Can you please confirm and reopen this bug/tell us to create a new bug.

[2016-04-13 08:14] DavidLambauer commented on #2951
Is there any Update? We still have the problem that we cant translate titles correctly without a workarround.

[2016-04-13 08:19] srinivasanithin commented on #3307
@NadiyaS is there any ETA on this bug fix?

[2016-04-13 08:43] mjcutter opened #4135 "Account signin popup after adding discount coupon"
Steps to reproduce
1. Using Magento 2.02
2. Add product to cart. Go to checkout (not signed in to site)
3. Add discount coupon at first screen. Click Proceed to Checkout

Expected result
1. Arrive at next screen to enter email address and shipping address

Actual result
1. Popup modal to sign in to site or create new account if you click 'Proceed' button too quickly.
2. If you wait about 5 seconds

[2016-04-13 08:45] rudik99 commented on #3942
@joebusby be great if you could share your PHP tweaks ?

[2016-04-13 09:00] grasdaggel commented on #4100
Thanks mate

[2016-04-13 09:01] igrslv commented on #4085
Hi @adifucan, please create PR. You are right, I had to create it for 2.0 branch. Thanks

[2016-04-13 09:03] igrslv commented on #4085
@adifucan, according to foreach loop, this is actually another bug which is already fixed in the develop branch.

[2016-04-13 09:33] Igloczek commented on #2104
Are you going to remove grunt tools from `magento/magento2-base` and publish them as a separate package?

[2016-04-13 09:52] babyasishhira commented on #3894
Delete Mage_Checkout/layout folder from your theme

[2016-04-13 09:53] gavinlimely commented on #3784
any updates?

[2016-04-13 09:56] mrtuvn commented on #4125
FIxed. Problem come from wrong permission in pub/static/.htaccess file
I already modify file `requirejs-config` to simple and clear

[code]

[2016-04-13 10:21] thlassche commented on #4070
The igbinary implementation breaks as well on 7.0.x

[2016-04-13 10:43] devhn opened #4136 "Widget condition with unexpected character not preventing from saving"
## Preconditions
1. Magento 2.1

## Steps to reproduce
1. Install Magento from `community` branch.
2. Create a new widget via admin (Content -->Widgets)
3. Widget type: Catalog Products List
4. Layout update: Specific category
5. Widget options (conditions): Set product as new from date. Entered value: {TODAY}
## Expected result
1. It should display an error about unexpected character and not allo

[2016-04-13 10:54] mujtaba2012 commented on #3986
@owenhaynes You must mark atleast one item as shipped for the shipment to get created. Have a look [here](http://magento.stackexchange.com/questions/109844/how-do-i-create-a-shipment-via-rest-api/109995#109995) .

[2016-04-13 11:01] mujtaba2012 commented on #4019
This issue is also discussed [here](https://github.com/magento/magento2/issues/2628#issuecomment-209155333) and [here](https://github.com/magento/magento2/issues/3967). Seems to be a bug for sure.

[2016-04-13 11:15] owenhaynes commented on #3986
Will give this a shot later, but still unrelated to the mysql error, which is outputted

[2016-04-13 11:16] nobuttsalex commented on #4130
I had the same problem so switched to the develop branch, I'm guessing the fix will be in 2.0.5 or soon after

[2016-04-13 11:31] joebusby commented on #3942
I have:

max_input_vars -> 5000
max_execution_time = 600
memory_limit = 2048M

but I think the max_input_vars is the most important
You can try:

error_reporting = off

All in php.ini

I am using this on

Debian 8 up to date
MySQL version 5.6.28
OpenVZ 6 cores
PHP 5.6.17-0+deb8u1

so it may not be the same as your php 7.0.4

[2016-04-13 11:36] AntonEvers commented on #3573
Yes, confirmed. This fixes it. Now just a matter of time :+1:

[2016-04-13 11:57] joebusby commented on #3942
I have been having better luck with chrome than firefox on windows 10 for adding many configurable products

With chrome you may be able to avoid hitting the "wait" dialog by using:

"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-hang-monitor

in the windows shortcut properties

[2016-04-13 12:19] rushvigajjarsilk commented on #4074
Hello,

Can you kindly let me know if any update on this. I need to fix this asap. Awaiting for your reply.

Thanks,

[2016-04-13 12:57] mktudock commented on #2951
We also have this issue. We can't translate the title of the Contact page because it uses method 1 which is not translatable.

[2016-04-13 14:25] MicroKloon opened #4137 "product weight"
I have loads of products where the weight of each item is just a gram or even less. How can I add the proper weight?
Now the backend will not let me add a weight less then 10 grams.

[2016-04-13 15:02] MaxSavich commented on #2206
@VLCSolutions, I am not able to reproduce the issue on the latest code.
Could you please re-check.

[2016-04-13 15:25] heldchen commented on #2901
@katmoon do you have a fix for the forbidden ajax call with custom roles? getting the 403 error in v2.0.4 for a user who has only `Products/*` and `Stores/Attributes/*` enabled in Role Resources.

[2016-04-13 15:31] AirmanAJK opened #4138 "Incorrect CAPTCHA by user loses form entries."
## Steps to reproduce

Turn on CAPTCHA (Stores -> Configuration -> Customers -> Customer Configuration -> CAPTCHA)
Enabled: Yes
Forms: Contact Us
Displaying Mode: Always

Visit the Contact Us page on the front end.
Spend several minutes carefully writing a detailed message for the store owner.
Entering an incorrect CAPTCHA loses all the form data.

[2016-04-13 15:35] #3471 closed, assigned to nobody

[2016-04-13 15:57] Toltar commented on #4126
Yes I deployed Magento2 via composer and git. Thank you @mazhalai for clarifying about the code directory. I do agree that the documentation should be updated so there is less abstractions. Would you like me to as I go through the tutorial process and write comments on the issues of the documentation as I go along? Maybe I hope I can help by bringing up issues with the documentation.

[2016-04-13 16:02] Zaylril opened #4139 "Magento 2.0.4 Multiple Items added to Cart cause 0 shipping rates"
When adding more then 1 items or more than 1 of the same item to the cart, when visiting the checkout the shipping rates returned are $0

Steps to reproduce.
1. As a guest add an item to the cart and visit the checkout. You will see the shipping rates as Flat rate and Best Way (5 and 15 respectively).
2. Go back to the store and either add a new item to the cart or update the quantity of your orig

[2016-04-13 16:14] alena-marchenko commented on #3465
Hi Ian,

we've created MAGETWO-51868 internal ticket for this

[2016-04-13 16:37] Richardmaximun commented on #3989
]I have the same issue for backend/frontend

I did the @mazhalai suggestion but nothing happen .

You found a solution @amitbala?

Any other suggestion?

Regards

[2016-04-13 16:59] mikeweis commented on #3785
We are sorry, but we not able to reproduce this problem having no response from you.  Do not hesitate to contact us later if this problem is still present and provide requested details.

[2016-04-13 16:59] #3785 closed, assigned to mikeweis

[2016-04-13 17:02] Igloczek commented on #3963
When you remove `var` content, `di:compile` results are also removed... so just don't run them (works only for default or developer mode).

[2016-04-13 17:12] Richardmaximun commented on #4124
Hi @QuestionProGuy .

Want you share the solution? I have the same issue.

Thanks

[2016-04-13 18:17] mazhalai commented on #4126
@Toltar yes! You could also submit a PR to https://github.com/magento/devdocs

[2016-04-13 18:46] vincentg0612 opened #4140 "Add Product button missing from catalog"
When you go to add a product to magento there is no button to use.

[2016-04-13 18:58] Toltar commented on #4126
Great! I hope I can help make the documentation a big easier for first time users so it's attractive to more people to use. And thanks @mazhalai for the help, I hope to repay the favor. (0.0) :+1:

[2016-04-13 19:32] MarcelMaru commented on #2876
Magento 2.0.4 / Installed from tar.gz and command line
Apache 2 / Ubuntu

I got this bug too. Can't create the dropdown attribute.
![seleccion_026](https://cloud.githubusercontent.com/assets/4304919/14506637/6f73a7bc-0184-11e6-8aeb-8c6b182b1f4a.png)

[2016-04-13 19:35] blizam commented on #3101
+10 from me; important feature to have working correctly.

[2016-04-13 20:19] paales commented on #4097
We've run into this problem multiple times when importing categories with AvS_FastSimpleImport. Some sort of `external_reference`, `external_identifier` or `identifier` would be nice.

[2016-04-13 20:22] joanhe commented on #3120
@simkea With the latest decision, Multi-tenant compiler has been removed from Magento 2. The issue is no longer applicable any more.

[2016-04-13 20:22] #3120 closed, assigned to mazhalai

[2016-04-13 21:09] MagePsycho opened #4142 "Weird issue with custom shipping module"
Whenever you use the custom shipping method code to be `$_code = <vendor>_<module>`, you get an error:

 while placing an order (during checkout payment) page.

It working fine when you use the code to be `<module>` only.
Is this a bug? I would love to have the code to be `<vendor>_<module>` in order to avoid the conflict with other extensions.

[2016-04-13 21:17] doppiobrodo opened #4143 "StoreView redirect not working on url with more than one level"
## Steps to reproduce
1. Install Magento 2.0.4
2. Configure more than one storeview
3. Go on a page that have more one leve in the url. example: "http://www.magentostore.com/it/level1/level2"
4. Switch storeview
   example link url: "http://www.magentostore.com/en/level1/level2?___from_store=it"
## Expected result
1. redirect to http://www.magentostore.com/en/level1en/level2en
## Actual result
1.

[2016-04-13 21:20] samtay opened #4144 "Poor implementation of product methods"
1. [Product::isInStock](https://github.com/magento/magento2/blob/072a1ae2c9b0eb4be68950d63e4e5fa1b1a0b438/app/code/Magento/Catalog/Model/Product.php#L1687-L1695) is misleading. This does **not** check if product is in stock, but just checks if enabled.
2. [Product::getQty](https://github.com/magento/magento2/blob/072a1ae2c9b0eb4be68950d63e4e5fa1b1a0b438/app/code/Magento/Catalog/Model/Product.php#L

[2016-04-13 21:34] orlangur commented on #4114
Look into Network tab of Developer Tools during your scenario and note actions involved in the process.

If there are some missing in section invalidation config, add them similar to:

[code]

[2016-04-13 21:54] jaimestuardo opened #4145 "Notice: Undefined index: label in /vendor/magento/module-backend/Block/Widget/Grid/Column/Filter/Select.php on line 73"
Hello, when tried to go to Sales -> Transactions menu in backend, I got this error just after I clicked on it:

Notice: Undefined index: label in /home/depasa/public_html/vendor/magento/module-backend/Block/Widget/Grid/Column/Filter/Select.php on line 73
#0 /home/depasa/public_html/vendor/magento/module-backend/Block/Widget/Grid/Column/Filter/Select.php(73): Magento\Framework\App\ErrorHandler->han

[2016-04-13 22:24] jaimestuardo commented on #4072
Thanks.. I have patched it using the solution in that referenced post, but I needed to add this in es_ES.CSV file:

"Your %store_name order confirmation","Su confirmación de pedido en %store_name"

[2016-04-13 22:28] jaimestuardo opened #4146 "Error saving new order status in backend"
When going to order status page in backend, and then create a new status, I tried to add "Delivered" state, so I entered "delivered" in code and "Delivered" in label. After pressing "Save Status" button, this error is shown:

Warning: Invalid argument supplied for foreach() in /home/depasa/public_html/vendor/magento/module-sales/Controller/Adminhtml/Order/Status/Save.php on line 32
#0 /home/depasa

[2016-04-13 22:42] tinobruno commented on #2463
@cspruiell
![bug](https://cloud.githubusercontent.com/assets/18451739/14511652/b39825a0-01e1-11e6-8927-26263268d796.jpg)

to reproduce i click browse (sfoglia) in the logo file input , then i select a png file from my filesystem and after it finish uploading, i click on the SAVE CONFIG BUTTON and i get the "Cannot gather stats!... " message.

[2016-04-13 23:05] tinobruno commented on #2463
@cspruiell ... i solved creating a sym link inside the /tmp folder... the bug is related to a /tmp prefix that is erroneously put in the upload method.

[2016-04-13 23:05] jaimestuardo commented on #2463
Can you give more details about that symlink? Thanks

[2016-04-13 23:14] tinobruno commented on #2463
@jaimestuardo

the cannot gather stats error means that the path is not accessible or doesn't exist, this is due to a bug in the magento core that adds /tmp to the upload path...

let's assume that you have this error:
 "Cannot gather stats! Warning!stat(): stat failed for /tmp{{/path/to/php/tmp/folder}}"
you have to create a symbolic link into the /tmp folder and name /path , with target /path/to

[2016-04-13 23:42] davidalger commented on #3101
@zolthan / @blizam Would one of you mind opening a new issue with full steps to reproduce so that the core team can properly debug the issue? I'm going to close this one due to lack of information from the OP, so it would be great if you could do that so the team can chase it down!

[2016-04-13 23:42] #3101 closed, assigned to kandy

[2016-04-13 23:53] davidalger commented on #4055
Closing as it appears OP resolved the issue. Feel free to re-open with added detail if an issue persists.

[2016-04-13 23:53] #4055 closed, assigned to nobody

[2016-04-13 23:57] davidalger commented on #4024
Closing due to no response from OP.

[2016-04-13 23:57] #4024 closed, assigned to nobody

[2016-04-14 01:04] jaimestuardo commented on #2463
Thanks.. you have given me the clue. This was the error in my case: Cannot gather stats! Warning!stat(): stat failed for /tmp/home/depasa/tmpsite/phpE9dnbP.

I saw that /home/depasa/tmpsite is the right path, so I have created a symlink in /tmp with name "home" but pointing just to "/home". That way, the problem was solved.

[2016-04-14 01:25] jaimestuardo commented on #4010
I have found how to reproduce it.
1. Disable purchase of guests
2. Load frontend not logged in and add a product to shopping cart (just 1 of it)
3. The product is added to mini cart
4. Try to purchase. Shopping cart will be displayed telling that guest purchase is disabled
5. Go to login page and authenticate (in this page, you will see a 1 in the minicart indicator)
6. My account page will be loa

[2016-04-14 05:02] jackhuang89 opened #4148 "bill-to-name missing in invoice grid in admin"
Order is fine. have bill to name but invoice's billing_name is missing in database table
sales_invoice_grid

the payment method is Paypal sandbox.

![img_14042016_112046](https://cloud.githubusercontent.com/assets/3734296/14517510/e2ff1c90-0240-11e6-89b5-648acda0e6ae.png)

[2016-04-14 05:29] smatric commented on #3977
@mazhalai This is what grep finds:

[code]

I flushed Magento's cache, cleared static files' cache and my browser's cache but I'm still getting the same error (`The specified value "{{currentPage}}" is not a valid number. The value must match to the following regular expression: -?(\d+|\d+\.\d+|\.\d+)([eE][-+]?\d+)?`).

[2016-04-14 06:56] slavvka commented on #4127
Hi @mstumpf818, thank you for reporting the issue. The internal ticket MAGETWO-51887 has been created.

[2016-04-14 06:57] zanilee commented on #4110
Hi, @zivendesign!

Thank you for reporting this issue.
Internal ticket MAGETWO-51886. While the fix is delivered, you can do a quick-fix for your theme by [adding 320px breakpoint to your theme](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/responsive-web-design/rwd-breakpoints.html)

[2016-04-14 06:58] zolthan commented on #3101
Hi David,

I can't believe that the ticket is just closed?! In the first link on this page https://mage2.pro/t/topic/544 the problem is explained with screenshots.

And in the second link it is explained textually:

The probelm is, that the Group Prices were removed in Magento 2 and it is not possible to set a Qty-1 tier price for specific customer groups.

Best
Sebastian Wilhelm

[2016-04-14 07:00] #3808 closed, assigned to slavvka

[2016-04-14 07:02] slavvka commented on #3627
Hi, have you cleared the cache?

[2016-04-14 07:05] slavvka commented on #3503
Hi all, this is the known issue and we have the internal ticket MAGETWO-46014 to have this fixed

[2016-04-14 07:13] #2547 closed, assigned to slavvka

[2016-04-14 07:16] cs221313 commented on #3627
It's long time ago. I think I have solved this problem. But I can not remember how I solved it.

[2016-04-14 07:32] sinoning commented on #2878
i am facing the same problem, but my mangeto 2 no have lib/internal/Magento this folder, what to do?

[2016-04-14 07:53] yaronish commented on #2722
@techgh0st Currently we can't reproduce this bug neither for Magento 2 EE 2.0.4 nor Magento 2 EE develop branch. I'm going to close this issue but feel free to add some information or report if problem exists for you with latest released version.
Thanks.

[2016-04-14 07:53] #2722 closed, assigned to voleye

[2016-04-14 08:21] ishakhsuvarov commented on #4118
@parthviroja Do you have same domain for both projects? Mini cart contents are cached in browser's `localStorage` per domain.

[2016-04-14 08:22] ishakhsuvarov commented on #4133
@BorysMiller Hi, thank you for reporting. Is there anything else module from step 1 does? Any changes to database schema or data? Any plugins, etc?

[2016-04-14 08:31] katmoon commented on #3559
The issue has been fixed.
@lgarridoj, thank you for reporting it!

Thanks,
Kateryna.

[2016-04-14 08:31] #3559 closed, assigned to voleye

[2016-04-14 08:34] katmoon commented on #3559
Internal ticket was `MAGETWO-51832`

[2016-04-14 08:52] ishakhsuvarov commented on #3960
@nobuttsalex I am not in the context of your extension flow, but looks like Quote for the user it not created or saved yet. You may look into methods of `Magento\Quote\Api\CartManagementInterface` if you need to create one.

[2016-04-14 09:10] tvlooy commented on #2130
Requested by @cusspvz

[2016-04-14 09:24] ishakhsuvarov commented on #4040
@yetket Hi, thank you for reporting. Do you have any customizations installed? Have you tried with the clean Magento installation?

[2016-04-14 09:25] ishakhsuvarov commented on #4057
@MagePsycho Thank you for reporting this issue. Could you please provide preconditions and steps to reproduce the issue?

[2016-04-14 09:29] ishakhsuvarov commented on #3102
@ozgeekmum @Krapulat Thanks for update. Reopening the ticket for additional investigation on our side.

[2016-04-14 09:35] ishakhsuvarov commented on #2139
@gabriellecrossland @ch1oe Do you use exactly the same configuration as displayed in the first post?

[2016-04-14 09:54] Taral-Patoliya commented on #4077
AAr

[2016-04-14 09:56] vzaporozhets commented on #2896
This issue is reproduced. Unless Store View is visible - it is possible to scroll down page. However as soon as selector is going out of visible area - drop down disappears. Screenshots will be added to internal ticket.

[2016-04-14 10:50] MicroKloon opened #4150 "Argument 1 passed to Magento\\Framework\\Config\\Scope::__construct() must be an instance of Magento\\Framework\\App\\AreaList"
Magento 2.0.4

after following steps from https://github.com/magefan/module-blog

composer require magefan/module-blog

php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento setup:static-content:deploy

I get the following errors, I cleaned out the pub/static directory but no results.

==> /home/mag/logs/access_log <==
x - - [14/Apr/2016:12:46:54 +0200] "GET /admin_hs5ikv/

[2016-04-14 11:22] dynamogold-bkre commented on #4117
@ishakhsuvarov off topic: what does the label CS mean in this repo? I coudn't find any info on it or on any other label (MX, PS, ...)

[2016-04-14 11:30] ch1oe commented on #2139
All sorted now thank you.

[2016-04-14 11:34] mcjwsk commented on #4150
It's a duplicate of the issue #3963

[2016-04-14 11:46] apluzhnikov commented on #2607
Hi,

We are facing the same issue.
Does someone know why the order is still pending and doesn't want to be processing?
Also order shows against item only "Ordered 1", but didn't show "Invoiced 1"?????

Thank you in advance!

[2016-04-14 12:14] zolthan opened #4151 "Frontend wrongly shows a default price in a product list and a product view for a customer with a custom tier group price specified"
Copy from #3101

Magento2 no longer supports Group Prices. It is not possible to define and display a price for qty 1 that is not the default price.
## Steps to reproduce

See the Screenshots here: https://mage2.pro/t/544

or read this description: (from https://community.magento.com/t5/Just-Ask-Alan/Group-pricing-on-Magento-2/m-p/26734)

## Expected result

Display the correct price for Customer

[2016-04-14 12:20] zolthan opened #4153 "Price on category page for "Grouped Products" is not the minimal price if there are tier prices"
## Steps to reproduce
1. Create a grouped product and assign it to a category
2. Create a Simple Product
3. Add some tier prices to the Simple Product
4. Assign the Simple Product to the Grouped Product
5. Go to the category in the frontend
## Expected result
1. The displayed price of the grouped product should be the minimal possible price. ie. the minimal tier price.
## Actual result
1. The disp

[2016-04-14 12:26] MicroKloon commented on #4150
ok, thanks. Didn't show up with my initial search.

[2016-04-14 12:26] #4150 closed, assigned to nobody

[2016-04-14 12:44] sdzhepa commented on #4117
@dynamogold-bkre, We have tried, but could not reproduce this issue on the latest code from repo. (commit f93b8daf1db281820161).
On current version drop-down for 'State/Province'  is disappeared if it is not required and present if it is required (with '*' for required fields)
Probably you are using not latest code base or need clarification in steps/preconditions etc.

[2016-04-14 13:44] sdzhepa commented on #4010
@jaimestuardo, We have tried, but could not reproduce this issue on the latest code from repo. (commit f93b8daf1db281820161).
We use next steps(based on Your comment)

Preconditions:
- Latest Magento 2 version is installed
- Allow Guest Checkout = No (STORES > Configuration > Sales > Checkout > Checkout Options)
  (!) All other Magento 2 settings in default state as after install
- Simple product

[2016-04-14 13:52] moe-kayali commented on #3865
Same issue here on Magento 2.0.4
How Reproducible: Always.

[2016-04-14 14:07] stasleo opened #4154 "There is no abilitity to add a tab to product page at a desired position"
### Preconditions
Magento 2.2

### Steps to reproduce
Try to change the position of a tab on a product page in the code

### Expected result
Obviously, most store owners would like to have an ability to change the order of any tab on a product page. For example, they would prefer to make "Description" tab appearing first always, regardless names of modules that add tabs to a product page.

### Act

[2016-04-14 14:14] devhn commented on #4154
Same issue here - we also tried repositioning with after/before other tabs within the xml and it's not working either.

[2016-04-14 14:16] mazhalai commented on #4145
Can you please provide more details? Version of Magento 2 and how did you deploy? Also, was this with sample data?

[2016-04-14 14:23] jaimestuardo commented on #4145
Version 2.02 and I have installed it using web interface with no sample data. I have only created 2 products in catalog and did some purchases.

[2016-04-14 14:42] mazhalai commented on #4138
@AirmanAJK  Thank you for reporting, we have created ticket MAGETWO-51898 to investigate and fix.

[2016-04-14 14:44] shiftedreality commented on #4100
Hi @SamTay

I created internal issue MAGETWO-51899
Thank you for submision

[2016-04-14 14:45] ishakhsuvarov commented on #4117
@dynamogold-bkre Regarding labels: they are used to assign issues to domains, you may find more detailed information in [Magento DevDocs](http://devdocs.magento.com/guides/v2.0/contributor-guide/contributing.html#labels)

[2016-04-14 14:55] antonkril commented on #4123
For now, you should use `ResourceModel->save()`. Entity should not have persistence operations, so this method was deprecated.

[2016-04-14 15:01] ishakhsuvarov commented on #4131
@thomasnordkvist Thank you for reporting this issue.
Could you please provide a sample of `zip_codes.xml` which causes error?

[2016-04-14 15:02] ishakhsuvarov commented on #4119
@parthviroja Thank you for reporting. Could you please provide more clear preconditions and steps to reproduce the issue?

[2016-04-14 15:18] ishakhsuvarov commented on #4142
@MagePsycho Thank you for reporting. Could you please provide more information regarding names you use? Any special characters in `<vendor>` or `<module>` values?

[2016-04-14 15:22] Lreeseg opened #4156 "Category"
Magento 2.0.4

Trying to add multiple products to a category at once, but it does not seem possible. No products show up under product tab on category page even when "any" is selected.

Can anyone help?

[2016-04-14 15:22] Lreeseg opened #4157 "Category"
Magento 2.0.4

Trying to add multiple products to a category at once, but it does not seem possible. No products show up under product tab on category page even when "any" is selected.

Can anyone help?

[2016-04-14 15:26] mrkhoa99 commented on #4156
@Lreeseg Are there any errors on browser console log?

[2016-04-14 15:30] gfxguru opened #4158 "THIS IS NOT MAGENTO 2. THIS IS A WHOLE NEW PROJECT, and I believe I'm done!"
We are starting all over again from years ago and I'm not falling for this bullshit any longer. What a waste of time!

[2016-04-14 15:32] sdzhepa commented on #4058
@fhennessy Thank you for reporting this issue. We have created an internal ticket `MAGETWO-51903` to fix the problem.

[2016-04-14 15:41] Lreeseg commented on #4156
@mrkhoa99 Not that I'm aware of. I attached the screenshot. Shouldn't all products come up and be available to be checked when searching under "any"? But nothing's showing up. When I go into an individual item and change the category a number will show up next to the category but no products will ever show under this tab.
<img width="1019" alt="screen shot 2016-04-14 at 11 37 46 am" src="https://c

[2016-04-14 15:47] sevos1984 commented on #3887
Maybe this can help http://devdocs.magento.com/swagger/#!/customerAccountManagementV1/customerAccountManagementV1CreateAccountPost

[2016-04-14 15:50] astorm opened #4159 "Can't Access Component Manager"
The component manager page returns a 404 when Magento is installed using the more secure `/path/to/magento/pub` (vs. `/path/to/magento`) as the system web root.
##
1. Install Magento
2. Configure Web Root to point to Magento's `pub` folder
3. Navigate in admin to `System -> Web Setup Wizard`
## Expected result
1. Web Setup Wizard page displays
## Actual result
1. Standard Magento 404 (Whoops, our

[2016-04-14 15:50] astorm commented on #4159
/cc @tanya-soroka

[2016-04-14 15:53] piotrekkaminski commented on #4159
and cc @alankent as this is the MEC install model

[2016-04-14 16:05] sevos1984 commented on #2831
What do you mean by reindex in Admin panel?

[2016-04-14 16:12] sevos1984 commented on #3664
Not reproducible. Have you tried clearing cookies, magento var/ and pub/static/ folders?

[2016-04-14 16:14] sevos1984 commented on #3333
Internal ticket MAGETWO-51905

[2016-04-14 16:36] alena-marchenko commented on #3208
Viktor, did you set up currency rates at Stores > Currency Rates ?

[2016-04-14 16:47] alankent commented on #4158
Thanks for your feedback. Yes, we Magento 2 is bringing the framework inline with modern programming practices, consistent with many other platforms. There are changes as a result. There is also a lot of commonality - similar list of modules, similar data model, similar layout files. But there are a lot of change as well - PSR standards (namespaces), dependency injection, test automation, etc.

Th

[2016-04-14 16:47] #4158 closed, assigned to nobody

[2016-04-14 16:49] alankent commented on #4158
Oh, I forgot to say if you have a specific issue you are welcome to submit it and we will address it the best we are able. But this specific issue has nothing to respond to.

[2016-04-14 16:50] alena-marchenko commented on #3811
Hi Reena,

This issue is already resolved and https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6 fix is delivered to develop branch,

[2016-04-14 16:50] #3811 closed, assigned to alena-marchenko

[2016-04-14 16:54] gfxguru commented on #4158
Yes I do. WE"VE FIXED MOST OF THESE ISSUES YEARS AGO!

On Thu, Apr 14, 2016 at 9:50 AM, Alan Kent notifications@github.com wrote:

[2016-04-14 17:03] gfxguru commented on #4158
I can't believe the community is truly on board with is project any longer. You've bastardized and community driven project that's taken over a decade to build and now you mince buzz words instead of creating actual solutions. It's so sad and I hope the community will speak up and do something about this. Ebay has has not only ruined the largest OS ecosystem ever, they've totally turned me and I'm

[2016-04-14 17:13] gfxguru commented on #4158
If anyone else is behind me I think I'm done with Magento. I'm working with a forked project of 1.9.\* and looking for any of the ol timers that have been with magento for over a decade or more. I believe we along could build the Magento 2 that we know is robust, written for developers by developers and without the underlining cheap tactics to promote an organizations ulterior motives in the backg

[2016-04-14 17:16] alankent commented on #4158
We have received both negative and positive feedback. I always welcome specific negative feedback so we can try to fix them. I personally spent a lot of time of Imagine asking people for that feedback. I got feedback on a number of areas to improve. But I personally got more positive feedback than negative, even when I did not ask for it. (I always look for things to improve upon - that is my natu

[2016-04-14 17:19] FoxtrotOscar2 commented on #3307
This issue was closed with a reference to #3799 which references this one as duplicate? I also would like to know the status on this.

[2016-04-14 18:05] devdesco-ceo commented on #3208
Sure. My base currency is USD across all stores in multistore installation.
Sometimes, I mean 1 of 100 tries to get shipping rates, it goes through. For the rest the JSON UTF encoding error appears.
Also, since I do have USD as main currency, when the rates successfulle get fetched, these are fetched in CAD currency and do not get converted back to USD for a customer, who checks out in USD. I assu

[2016-04-14 18:17] hshar7 commented on #2786
@coolshot Could you please explain your observations a little further? The way were thinking about fixing this is very close to what @xhallix said. I am able to switch between store views without any problem after the fix. No redirection to default store view when switching from one to anther.

Take a look at patch: http://pastebin.com/s9anwxhv

[2016-04-14 18:31] abdel1220 opened #4160 "magenta 2.0.4 stuck during install"
Hello,
i'm trying to install magento 2.0.4 with the web installer, but it stuck in deferent install process percentage, some time stuck at 14% other time at 7%,  other one at 10%.

server information:
web server Microsoft-IIS/7.5
php version 5.5.34
mysql version 5.6.26
max_execution_time = 18000;
max_input_time = 6000   ;
memory_limit = 728M;

any idea :)

thank you.

[2016-04-14 18:43] mazhalai commented on #4160
@akacemy Please try setting Magento [mode](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html) to developer. Also, officially IIS is not supported.

[2016-04-14 18:44] MagePsycho commented on #4142
I am using `$_code = 'magepsycho_customshipping'`

And code being used as:
`$method->setCarrier($this->getCarrierCode());
$method->setMethod($this->getCarrierCode());`

[2016-04-14 19:03] jksimoniii commented on #4010
@jaimestuardo @sdzhepa @ishakhsuvarov

I am seeing the same issues on iOS devices

[2016-04-14 19:08] jksimoniii commented on #4010
I think we have drilled it down to an issue related to these lines of code in Magento_Checkout::cart/minicart.phtml.  summary_count results in undefined on Safari iOS while 0 in other browsers

[code]

[2016-04-14 20:01] minetteyou opened #4161 "Authorization failed when using SearchCriteria using REST API"
Similar questions have been posted here, but none provided the solution that worked for me.
## Summary

I authenticated with `/admin/token`, and was able to access `/products/:sku`. However, when I tried to do `/products?searchCriteria...`, I encountered an access error:

I checked the user roles in my admin site, and I belong to a user role with access to all resources. Can you tell me why I'm se

[2016-04-14 20:13] abdel1220 commented on #4160
Hello,
thank you for your replay.
what is the correct way to SetEnv MAGE_MODE "developer" in IIS. do have you any  idea.

thanks.

[2016-04-14 20:14] coolshot commented on #2786
@hshar7 gonna test it over the weekend and post feedback, thank you

[2016-04-14 20:54] gamort opened #4162 "Security Issue"
Php and resource files from dev/tests/functional are exposed and executable due to htaccess file:
dev/tests/functional/.htaccess

The simple solution is to rename it to something sane like testing.htaccess

Of course THAT will probably break a bunch more of the unit tests unless someone takes the time to fix it properly.  And since the unit testing has currently been broken for weeks, I assume no

[2016-04-14 20:57] robfico commented on #3958
ok, I found that having one file in the web root that is not writable (like a manual dump file or test file) will stop the readiness checks. Saw this in the var/.update_cronjob_status file

[2016-04-14 21:04] hshar7 commented on #2786
@coolshot awesome, thanks!

[2016-04-14 21:35] LoganGS opened #4163 "Cannot import passwords with Customer Main File"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a "Customer Main File" for importing, setting a password in the `"password"` column for the example customer
3. Go to `System > Data Transfer > Import`
4. Import the "Customer Main File"
## Expected result
1. The password for the imported customer will not be updated. This is evident because attempting to login with the new

[2016-04-14 21:37] gamort commented on #4099
As an update - after trying to setup Magento I realized why it fails.  It is not due to the environment[at least the original error is not...  Once fixed it may well be a lot of roaches will be uncovered.]

The issue is due to the change made to Magento Connect to require an OAuth token in order to update/download non-commercial packages - such as all the magento modules.

It's masked by the compl

[2016-04-14 21:54] LoganGS commented on #4163
Commit d7c65d7a9a8f0330bfe4da0e0ca457d39f70f5ba fixes this

[2016-04-14 21:54] gamort commented on #4099
@orlangur   I generally don't pay much attention to the Travis CI badge in the dev branch - just the release branch.

If there are new releases of an application system being made while the unit test badge is showing red - it's a good indication that the application being released has security issues and major bugs.

Honestly, I'm content with a vendor that simple 'hides' the issue by disabling th

[2016-04-14 21:56] mikeweis commented on #4077
@Taral-Patoliya Thank you for reporting. I have created internal ticket MAGETWO-51908 to track this issue.

[2016-04-14 22:18] mazhalai commented on #4099
@gamort @orlangur This is not the forum to discuss 'process', I would suggest to take it up in community.magento.com boards. This issue tracker is mainly for bugs.

PS: Unit tests are fine on Travis, it is integration tests that are broken.

[2016-04-14 22:19] goowai commented on #2619
I'm using Magento ver. 2.0.4,
Still the problem persists,
- To create new categories in magento works.
- If the categories were imported, not the rewrite avvine,
  how you can make a re-indexing?

If I try to change the category in the Key URL field, I get an error:

Notice: Undefined offset: 1 in /var/www/html/shop/vendor/magento/module-catalog-url-rewrite/Model/ProductUrlRewriteGenerator.php on

[2016-04-14 22:25] CKUDG commented on #3386
I'm having the exact same problem.. -.- Need to re-order attributes. But it doesn't take affect on front end... Any solutions to this?

Thanks much and best,
Chris

[2016-04-14 22:55] okorshenko commented on #3909
@yssource Unfortunately we can not reproduce this issue. Could you please provide full config for varnish, nginx and apache.

[2016-04-14 23:58] colyield commented on #4107
I figured out what the problem is. First, I found one of the file has readiness permission problem according to the file .setup_cronjob_status, so the cron job does not work well. After fix that, it shows "2006 MySQL server has gone away" when reindexing. Changed the max_allowed_packet for mysql to 64M, the problem is gone.

[2016-04-14 23:58] #4107 closed, assigned to nobody

[2016-04-15 00:23] colyield commented on #4109
I don't know what happened, but the Fedex tracking seems work now, for both my production website and a test website. The DHL tracking is still the same problem.

[2016-04-15 00:38] yssource commented on #3909
It is my fault, since I have one rule in my nginx configuration file, which causes this problem to me.
`if ($http_user_agent = "") { return 444; }`
After commenting this line out,  the script with "SOAP client" works for me now.

[2016-04-15 00:38] #3909 closed, assigned to nobody

[2016-04-15 00:40] alankent commented on #2104
Not for 2.1. I want to get a holistic plan together - map out the whole "developer experience" story a bit better. For example, I would like to have a supported way to run Gulp or Grunt (or {insert-next-gen-tool-here}) to generate CSS etc files, and have that incorporated into the deployment flow. (That is, going from dev to prod.) That indicates the need to have the Grunt/Gulp build files inside

[2016-04-15 00:55] forgeonline opened #4165 "sales_order_place_after not returning Order ID"
## Steps to reproduce
1. Create an event to run in sales_order_place_after
2. What I tried to do is Create Invoice when cach on delivery method after Order is placed.
3. get Order Id to process extra functions

<code>$order = $observer->getEvent()->getOrder()->getId();</code>

This dosen't return Order Id. However it return Increment ID

<code>$observer->getEvent()->getOrder()->getIncrementId();</

[2016-04-15 01:42] pantaoran commented on #3572
@sevos1984 thanks for this info. According to the official documentation, bcmath is only required for the enterprise edition, and I'm using the CE and the readiness check at installation said that I had everything I needed.

@sengaigibon , @devhn , @moe-kayali , I was able to get this to work now and want to share my observations. It appears to have something to do with the used OS.

I previously

[2016-04-15 02:22] yssource opened #4166 "REST script does not work for multi stores or multi language."
$temporaryCredentialsRequestUrl = "http://magentohost/oauth/initiate?oauth_callback=". **// this causes 404 error code**

$temporaryCredentialsRequestUrl = "http://magentohost/**_index.php/zh_cn_**/oauth/initiate?oauth_callback=" . **// this is OK.**
$accessTokenRequestUrl = 'http://magentohost/oauth/token'; **// this causes 404 error code**
$accessTokenRequestUrl = 'http://magentohost/**_index.ph

[2016-04-15 03:29] parthviroja commented on #4118
Yes, i m working on same local server Ex: 192.168.0.100/<project 1> , 192.168.0.100/<project 2>.

Any way to solve this issue ? , i am working as magento 2 extension developer, just guide me than i will try to fix this issue..

[2016-04-15 03:50] parthviroja commented on #4119
I have install ( **Magento CE 2.0.0 with sample data** ) on local server ( **192.168.0.100/magento-demo** ).

When i open Frontend in browser, mincart item counter not display,

when i check in error console in ( Firefox ) its display error message
![bug](https://cloud.githubusercontent.com/assets/9655554/14550946/20132df6-02eb-11e6-8ace-69e7029c6eed.png)

If any possibility to fix this issue with

[2016-04-15 04:04] parthviroja opened #4167 "Magento : A customer with the same email already exists in associate website."
**Magento CE 2.0.0 with sample data *\* on local server ( **192.168.0.100/magento-demo**  ).

i have register as customer using below emails, passwords

customer-1
            email : demo@gmail.com
             password : demo2016

customer-2
            email : custom@gmail.com
             password : custom2016

when i have open my account using this credential and goto [ Account Information ],

[2016-04-15 04:56] coolshot commented on #2786
@hshar7 i just tested, works well apparently, on the home page.
The issue that remains is that wherever you are, when you switch store view, it brings to the the home page instead of the original page version for the destination store view,

Real case example :
I set up one category named "_Components_", the name and url key for the views are
**en**-> _components_
**fr**-> _composants_
**it**-> _c

[2016-04-15 05:19] reidharry opened #4168 "Restyaboard integration"
I'm looking to integrate Magento with [Restyaboard](https://github.com/RestyaPlatform/board)

Can I get the integration document, if any?

[2016-04-15 05:59] thomasnordkvist commented on #4131
@ishakhsuvarov

To begin i placed it in an existing module that i have. When that didn't work i made a module for just this with only the below three files.

app/code/Netrix/ZipCodeMask/registration.php

[code]

app/code/Netrix/ZipCodeMask/etc/module.xml

[code]

app/code/Netrix/ZipCodeMask/etc/zip_codes.xml

[code]

[2016-04-15 06:41] ishakhsuvarov commented on #4118
@parthviroja Looks like you are experiencing this issue because mini cart contents are cached inside browser's localStorage per domain. Try using some local domains for each Magento installation to solve this.

[2016-04-15 06:44] ishakhsuvarov commented on #4010
@jksimoniii Looks like you are using the installation from `2.0` branch. There is a fix for that in `develop` branch. Any chance you could verify that?

[2016-04-15 06:44] VLCSolutions commented on #2206
@MaxSavich @alankent @KrystynaKabannyk

You can execute at any version (Magento 2.x.x).

Please copy and paste below code in your module and execute it to reproduce the issue.

**/app/code/Learning/Test/Block/Adminhtml/Form/Field/Config/Create/Configbody.php**

[code]

**/app/code/Learning/Test/etc/adminhtml/system.xml**

[code]

**/app/code/Learning/Test/etc/acl.xml**

[code]

**/app/code/Learnin

[2016-04-15 07:11] parthviroja commented on #4118
Thanks @ishakhsuvarov

[2016-04-15 07:11] #4118 closed, assigned to ishakhsuvarov

[2016-04-15 08:20] orlangur commented on #4156
Your screenshot looks like some CSS/JS files where not loaded properly, here is a proper-looking one:

![category-products- 4156](https://cloud.githubusercontent.com/assets/642698/14555539/d19584c4-02fb-11e6-9450-4010010a537c.png)

Check Network and Console tabs in Developer Tools during problematic scenario.

[2016-04-15 08:25] benbor commented on #4123
Big thanks.

[2016-04-15 08:25] #4123 closed, assigned to nobody

[2016-04-15 08:29] orlangur commented on #4099
Hi @mazhalai,

Are you trying to say that GitHub is not a right place to discuss a buggy GitHub usage process?

In my humble opinion, continuously red builds are a huge problem for developers trying to use Magento 2 and it should be solved in general. Not in reactive, always catching up way.

[2016-04-15 08:47] orlangur commented on #4162
Nice catch, there is no recommendation to remove `dev/tests` during deployment http://devdocs.magento.com/guides/v2.0/howdoi/deploy/deploy-to-prod.html#deploy-prod, so, it would be easily overlooked.

No, it can only affect functional tests, which are not even running on Travis.

To be precise, it is not actually broken, just not Travis-compatible.

All of tests are PHPUnit-based but not all of th

[2016-04-15 09:22] lanken commented on #4162
Created internal ticket MTA-3295

[2016-04-15 09:52] mihaimghn commented on #3642
Any solution to this problem, yet? All my mail settings are ok. Using MAgento 2.0.4.

[2016-04-15 09:55] BenGlassAtlas commented on #3863
I'm having similar problems with 2.0.4 in developer mode, even with all caches disabled (including Varnish) I have to clear pub/static to display my CSS changes. Even then it doesn't always update, I'm finding it extremely difficult to work with. I didn't have this issue on 2.0.0

[2016-04-15 09:59] OwenRay opened #4169 "Sql exception on sorting when attribute contains ".""
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create attributeset
3. Add attribute named 1.ABC (set sortable to yes)
4. Create product with attributeset
5. Go to the frontend
6. Order by attribute
## Expected result
1. Products are sorted
## Actual result
1. Sql exception (backticks are not added in ON statements)

Example output:
SELECT `e`.*, `price_index`.`price`, `price_in

[2016-04-15 10:13] jonsuburb commented on #2582
I am experiencing the same issue. I created a child theme (created theme.xml and registration.php).

If I set theme to the child in admin, the page tries to load the CSS files with 404 errors. Its expecting the parent's css files to be copied to the child theme folders in pub/static, but it doesn't exist.

Why are the files not being copied? Is it supposed to happen automatically? Its not behaving

[2016-04-15 10:24] alena-marchenko commented on #3916
Hi @middlegrey,

If the issue still persist, please provide us with exact steps to reproduce and specify magento version that you are using.

[2016-04-15 10:30] asemenenko commented on #3272
Hi @AndreyChorniy

Not all payment methods have a billing address to be asked from a customer - we control only shipping address to allow or disallow orders to be placed for a certain regions with a certain payment method, this is the most common scenario, especially when it comes to international shipping.

[2016-04-15 10:53] alena-marchenko commented on #4021
Hi @jaimestuardo,

Please provide us with exact steps to reproduce the issue and specify magento version that you are using for us to be able to investigate the issue.

[2016-04-15 11:05] Taral-Patoliya commented on #4077
@mikeweis  Thank you for Acknowledging the issue, can i know how much time can we expect is needed to fix this issue? because we are building multi-lingual site and its about to be launched but we can't launch it until this issue fixed.

[2016-04-15 11:06] alena-marchenko commented on #4063
Hi @lexuanchien,

When you are using PayPal Payments Pro or Payflow Pro solution first request sent to PayPal intended for account verification. Account verification, also known as zero-amount authorizations, are used for verifying the validity of customer credit card information. You can find more information at [PayPal documentation](https://developer.paypal.com/webapps/developer/docs/classic/pa

[2016-04-15 11:06] #4063 closed, assigned to alena-marchenko

[2016-04-15 11:07] wclansar opened #4170 "Magento2 Mini Cart Items Issue"
Hello ,
1. After login , i can not see items in minicart .
2. when i click on add to cart from home page widget products , mini cart not displaying add items .

Can you please help ?

Thanks

[2016-04-15 11:20] middlegrey commented on #3916
Hi Alena,

To get around the problem, I changed the external resource string in requirejs-config.js to https://js.braintreegateway.com/v2/braintree.js?nomin

And am currently using 2.0.2

[2016-04-15 11:33] shiftedreality commented on #4113
Hi @sergei-sss

I created internal issue MAGETWO-51921
Thank you for submission.

[2016-04-15 12:23] antboiko commented on #4153
Hello @zolthan , tier price is applicable if quantity is not less than N, so it won't be "Starting at" price as it will apply to certain simple product only if quantity is set >=N. Total price for that simple product will be equal N*Tier_Price (obviously it will not be the min price for most cases). However if you add some tier price with Qty = 1, it will be displayed as "Starting at" price if it'

[2016-04-15 12:24] Igloczek commented on #2104
So please change `package.json` to `package.json.sample` and will be easier to put here customized tools.

But ofc this have low priority, I'm just curious about future plans.

[2016-04-15 12:25] gplanchat commented on #164
For the record, there is natively the `trans` CMS directive, at least since version 2.0.0, eg :

[code]

or

[code]

[2016-04-15 12:54] Vinai commented on #4097
Adding a custom attribute is the usual way to solve the issue in Magento 1.
Custom attributes and extension attributes work okay over the API for products. I haven't tried them with Categories, but I would think they should work, too. If they don't, it is probably more due to a bug rather then by design.
Did anybody on this thread try category custom or extension attributes over the api?

[2016-04-15 13:04] cedcommerce opened #4171 "Class Magento\User\Observer\Backend\CheckAdminPasswordChangeObserver does not exist in Magento 2.0.4"
## Steps to reproduce
1. Open admin panel and Create new admin account
2. Edit created admin user
3. Fill "Your Password" and Click on save button
## Expected result
1. Account should be saved with success message.
## Actual result
1. Error : Class Magento\User\Observer\Backend\CheckAdminPasswordChangeObserver does not exist

[2016-04-15 13:06] neophyt3 opened #4172 "error... while installing the sample-data during upgrade"
## Steps to reproduce
1. download Magento-CE-2.0.4-2016-03-31-10-48-19.zip
2. install magento 2 through web
3. copy the sample data app/code and pub/media to magento_install_dir/app and magento_install_dir/pub
4. then run bin/magento setup:upgrade
## Actual result

Error:
  [ReflectionException]
  Class Magento\Catalog\Model\ResourceModel\Product\Gallery does not exist
##

[2016-04-15 13:11] adrok opened #4173 "Cron schedule bug"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. run bin/magento cron:run
## Expected result
1. With default configuration, generated 4 jobs for "newsletter_send_all" (every 5 minutes, ahead 20 minutes)
## Actual result
1. Generated one job

---

magento2/app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php wrong return statement (for cycle)

[code]

[2016-04-15 13:15] joshdifabio commented on #4097
To be clear, this is about _identifying_ categories by an attribute other than `entity_id`, not simply accessing and updating a custom attribute.

We are saying that it should be possible to perform category updates, deletes, etc., without knowing the `entity_id` of a category, instead using a business attribute to identify the category.

Are you saying that you think this is already possible?

[2016-04-15 13:16] ruby10 commented on #3630
I am also facing this issue , is there any update on it?

[2016-04-15 13:19] #1481 closed

[2016-04-15 13:20] #708 closed

[2016-04-15 13:41] ishakhsuvarov commented on #4170
@wclansar Thank you for reporting. Could you please provide more precise steps to reproduce? Which Magento version are you using? Any errors in browser console?

[2016-04-15 13:44] ansarhusain commented on #4170
Hello i am using magento 2.0.4

There is not error in console.

[2016-04-15 14:09] sebastian-enz commented on #1580
This will end in a mess with the new vertical Magento 2 menu. Extension developers should stop doing this.

![image](https://cloud.githubusercontent.com/assets/5671344/14563869/4a5fc414-0324-11e6-8520-6d49fb6f9e5c.png)

[2016-04-15 14:18] okorshenko commented on #3909
@yssource thank you for update.

[2016-04-15 14:21] mazhalai commented on #4172
@pradeepchauhan you need to run `composer install` after step 3.
BTW, there is an easier way than doing this, download the zip with sample data, or run `bin/magento sampledata:deploy` and then `bin/magento setup:upgrade`

[2016-04-15 14:29] mazhalai commented on #4160
Try `bin/magento deploy:mode:set developer` on  command line.

[2016-04-15 14:42] sdzhepa commented on #4170
Hello @wclansar and @ansarhusain, we tried to reproduce this issue by next case:
- Clone magento from GitHub: git clone https://github.com/magento/magento2.git (this is "develop" branch)
- Then switch branch to 2.0: git checkout -f 2.0
- Install Magento 2 (with default values during web installation, sample data is not used)
- After installation, login to admin
- Go to Products > Catalog and click

[2016-04-15 14:56] tanya-soroka commented on #4159
Hello @astorm . Thanks for reporting this issue. I have create a ticket for our team to review  it: MAGETWO-51929.

[2016-04-15 15:30] #3850 closed, assigned to nobody

[2016-04-15 15:40] AndreyChorniy commented on #3272
Hi @asemenenko
As I understand Magento team will not  fix this bug.

It is correct?

[2016-04-15 15:49] tanberry commented on #1580
Hi @ikk0, thanks for that [not so beautiful] example. We agree, we don't want a mess to be made of the Admin's primary navigation.

I'm happy to say that we finally have the first draft/proposal of the Best Practices Guide available! (Thanks for your patience, @wojtekn and everyone!)

We just published it last weekend, and are requesting feedback from the community. In the Introduction page you'll

[2016-04-15 15:59] mazhalai commented on #4091
@Asitis thank you for reporting, we have created MAGETWO-51933 to investigate and fix.

[2016-04-15 16:00] mazhalai commented on #4039
@AniAko thank you for reporting, we have created MAGETWO-51934 to investigate and fix

[2016-04-15 16:01] mazhalai commented on #4054
@esiemens thank you for reporting, we have created MAGETWO-51935 to investigate and fix.

[2016-04-15 16:20] yakivV opened #4174 "Multiple custom options update issue"
In `public function saveOptions()` (app/code/Magento/Catalog/Model/Product/Option.php), when saving the first option, its **storedData** property is empty, so it’s initialized from the database.
Then, when saving the next option, its **storedData** property doesn’t get updated. That happens because it’s initialized with the previous option’s data.

That leads to the issue that in the file `lib/int

[2016-04-15 16:32] alena-marchenko commented on #3257
Hi @mohinik-chetu ,

It's hard to suggest something since we don't know you flow details.
But if you want to make some validation before order processing you should extend Magento_Payment/js/view/payment/cc-form component and override placeOrder method.
Take a look at Braintree payment implementation https://github.com/magento/magento2/blob/develop/app/code/Magento/Braintree/view/frontend/web/js/v

[2016-04-15 16:32] #3257 closed, assigned to alena-marchenko

[2016-04-15 16:46] tigerx7 commented on #2961
I too can verify this behavior as well. Any update on this? I've been trying to trace what's happening. From what I can tell, a new search collection is built for the export and the page size isn't being specified.

For example, on the ajax request that updates the grid, there's a paging[pageSize] and a paging[currrent] parameter that is passed. However, on the ajax request that initiates the expo

[2016-04-15 17:05] mikeweis commented on #4077
@Taral-Patoliya Unfortunately I don't have a good estimate on when this issue will be fixed.  It is in our active "to do" queue.  What is the timeframe of your desired launch?

[2016-04-15 17:31] degaray commented on #4070
Any workaround for this error?

[2016-04-15 17:53] mazhalai commented on #4065
@redboxmarcins thank you for reporting, we have created MAGETWO-51936 to investigate and fix.

[2016-04-15 18:02] mazhalai commented on #4173
@adrok thank you for reporting, we have MAGETWO-51939 to investigate and fix.

[2016-04-15 18:14] jackiellowery opened #4176 "Nginx config pub location"
This is more of a question than an issue?  In this part of nginx.conf:

`location /pub {
    location ~ ^/pub/media/(downloadable|customer|import|theme_customization/.*\.xml) {
        deny all;
    }
    alias $MAGE_ROOT/pub;
    add_header X-Frame-Options "SAMEORIGIN";
}`

Shouldn't root be used instead of alias, per the official docs, since the location matches the last part of the directives v

[2016-04-15 18:39] neophyt3 commented on #4172
@mazhalai , thanks! it worked!
After step 2 I ran bin/magento sampledata:deploy and then bin/magento setup:upgrade

[2016-04-15 18:39] #4172 closed, assigned to nobody

[2016-04-15 20:20] abdel1220 commented on #4160
Hello,
thank you for your replay.
i figured out the issue, it was IIS FastCGI “Activity timeout” settings (default was 70) so increased it to 3600. and the install complete successfully.
But after the install to static content wasn't deployed so i run the command bin\magento setup:static-content:deploy. then every thing is good.

thank you for your help.
Have nice time.

[2016-04-15 21:42] jksimoniii commented on #4010
@ishakhsuvarov Great, thanks!  Looks like that will solve the problem we are having.  Will this be wrapped in the 2.1 release ?

[2016-04-15 21:43] ovekeryk opened #4177 "Add to cart issue"
### Preconditions
1. Magento 2.1

### Steps to Reproduce
1. Set "Qty Uses Decimals" field is set to "yes" for a product
2. Add product to cart with quantity "0"

### Actual result
1. "We don't have as many "xxx" as you requested."

### Expected result
1. Product is added to the cart

### Additional informaion
Better to use value from "Minimum Qty Allowed in Shopping Cart" field of inventory module

[2016-04-15 21:53] decormatters opened #4178 "cannot run composer install"
[RuntimeException]
  /Library/WebServer/Documents/magento2new/magento2/vendor/magento/magento-composer-installer does not exist and could not be created.

[2016-04-15 21:53] daim2k5 commented on #3991
so i reopen the issue because @janghwan and @MicroKloon maybe can add more details?

[2016-04-15 21:56] daim2k5 commented on #2077
@serkia can we close the issue?

[2016-04-15 21:58] daim2k5 commented on #2757
@redboxmarcins please don't comment on closed issues. If you know a better service maybe you can open a new issue (so we can discuss this) or even a PR?

[2016-04-15 21:59] daim2k5 commented on #2919
@chat2vignesh ok thx. So i close the issue

[2016-04-15 21:59] #2919 closed, assigned to nobody

[2016-04-15 22:24] orlangur commented on #4158
@gfxguru, you may be surprised how much derived from Magento 1 code is still contained in Magento 2. There are even hundreds of methods declared but not used anymore, not saying about methods with just cosmetic changes.

On the other hand, a lot of things significantly changed and will never return, even those to which all are accustomed in Magento 1. The biggest example is God Class `Mage`, let i

[2016-04-15 23:32] tanya-soroka commented on #4178
Hello @decormatters.
Please check you permission on this directory.

[2016-04-16 06:07] buskamuza commented on #4178
@decormatters , can you create the same directory manually from the same user?

[2016-04-16 06:13] buskamuza commented on #4171
@cedcommerce , do you have full exception log? Also, did you try to clean cache and `var/di`, `var/generation`?
If you had older version of Magento, some old generated class with reference to `CheckAdminPasswordChangeObserver` may still exist?

[2016-04-16 07:57] refaelgold commented on #2999
@alankent  do you believe its a good idea to use gulp instead grunt on M2?

[2016-04-16 08:21] alankent commented on #2999
Both work, but gulp appears to be a bit faster (at the moment - I heard Grunt was adding support for pipelines as well which may catch up with Gulp).

[2016-04-16 12:57] stefandoorn commented on #3333
@sevos1984 Connected PR's feedback has been completed.

[2016-04-16 12:58] ipragmatechadmin commented on #2429
yes Magento2 provide most of the APIs required to develop mobile app. There are a couple of APIs related to payments and my orders are missing but that can be developed easily. If you are looking for readily available solution then take a look at our app http://www.ipragmatech.com/products/android-magento-mobile-app/. Feel free to contact us if you have any question.

[2016-04-16 13:25] simonkguest commented on #4096
I am also getting the same sort of issue with 'save and duplicate' a product with magento 2.0.4 It just hangs and eventually times out with a 500 error.  I dont get the "Please Wait" message anymore, but i did yesterday when i was trying to duplicate a product.

[2016-04-16 13:50] MicroKloon commented on #3991
@daim2k5 Since I am in production I switched back to php 5.6
Sorry I can not help any further,

ps: I am a refuge from Prestashop and I am pleasantly surprised by the professialisme here. Ps tends to not care about bug-reports (and their open-source users)
Nice to know Magento does care about her users.

[2016-04-16 13:54] katmoon commented on #2901
Hi @heldchen
The issue is not reproducible in 2.1, so there's no special fix for it. However you can try this fix c3e3a0768dcdc97e , it can help.

Thanks,
Kateryna.

[2016-04-16 15:42] heldchen commented on #2901
thanks @katmoon , that seems to work.

[2016-04-16 21:21] astorm commented on #3248
@ktomk Thanks for being on top of this -- wish I'd stumbled across this thread on Thursday instead of late Friday night ;)  Data point of 1, but after updating composer and satis to the latest versions, and clearing out my composer cache, this fixed an empty directory issue for me.

Related: Do you (or does anyone else here) have any insight on this new issue https://github.com/composer/composer/i

[2016-04-17 07:12] hannaaaaah opened #4180 "Magento 2 Slow Loading Images In Firefox Mac"
Hi,

I am working on a Magento 2 store, it is in production mode. I'm just using it to tinker around and decide whether I want to develop my new store on version 1.9 or 2.

It is SO much faster than 1.9, but I am having some issues with images loading on the bundle product pages. Images load perfectly on all browsers, except firefox. On firefox, the images seem to load 3-4 seconds slower. I am usi

[2016-04-17 09:43] thomvanderboon opened #4181 ""Add to Cart" Button translation partly broken"
This is follow up to closed issue: https://github.com/magento/magento2/issues/2056

One issue still remains:"Add to Cart" Button translation is partly broken
## Steps to reproduce
1. Install Magento from `develop` branch.
2. cd <document_root>/var
3. get latest translationfile: wget http://107.170.242.99/var/Head/source_nl_NL.csv
4. cd ..
5. find . -name js-translation.json -exec rm -rf {} \;
6. p

[2016-04-17 12:42] nikolaevas commented on #2731
Hi there,

I have the similar problem. I'm trying to create new theme. But every time I reload the home page it is going to high CPU loading.

My Settings:
New theme has just one file:
_/app/design/frontend/Test/default/web/css/source/_extend.less_
Magento mode: **developer**
Front-end development workflow: **Server-side less compilation**
**Grunt is installed and configured**.

Activity monitor:

[2016-04-17 15:17] vrann commented on #4176
Hi, @jackiellowery, trying to understand more the difference between root and alias, one good explanation is done here: http://stackoverflow.com/questions/10631933/nginx-static-file-serving-confusion-with-root-alias
It seems to me that in our case whatever we chose result is will be the same. Are there strong arguments for one vs another?

[2016-04-17 20:43] manhao-chen commented on #3605
any ideas if this will be patch up in the next release?

[2016-04-18 01:07] ghost opened #4182 "Magento 2 compile/deploy mode with multiple PHP paths stuck crons/failures in php -f"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Have a server with multiple PHP versions, say PHP-FPM with a pool on 5.4 and one on 7.0, where the default /usr/bin/php is 5.4
3. Try to deploy production mode, it will partially fail at the part where it says "php -f .... ". This is because it tries to use PHP 5.4 (or whatever is /usr/bin/php) whereas if you have a custom setup yo

[2016-04-18 01:08] ghost commented on #4182
Note this also affects numerous cron jobs even when set correctly to run with a PHP 7 binary, it tries to sue whatever the environment default is. If this cannot be changed its a problem.

[2016-04-18 03:35] zerobrapsgiven opened #4183 "Readiness check shows missing PHP extensions and different PHP version"
So I'm running Magento locally on my machine using Mamp Pro in OSX. I'm running PHP 7, I'm able to do everything fine, but when I want to use the component manager and run the Readiness check, it tells me that I'm missing mcrypt and intl when I have those installed, and the PHP version says 5.5.31 when I'm running 7. I was able to install Magento and during that readiness check all was fine. Not s

[2016-04-18 03:40] vancoz commented on #4183
Hi @samleeiii, probably you have different version of php and extensions for your CLI.
Please check it - run "php -v" to check version and "php -m" to check installed extensions.

Thank you!

[2016-04-18 03:42] zerobrapsgiven commented on #4183
Yeap I've tried that and I get the below. So you can see it does says 7.0.0 and you can also see both mcrypt and intl in the list. It's very bizarre.

Sams-iMac:bin samsuke$ php -v
PHP 7.0.0 (cli) (built: Dec  8 2015 16:39:19) ( NTS )
Copyright (c) 1997-2015 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2015 Zend Technologies
You have new mail in /var/mail/samsuke
Sams-iMac:bin samsuke$ php

[2016-04-18 03:45] vancoz commented on #4183
What about your crontab (which runs updater/cron.php and bin/magento setup:cron:run)?
Probably it points to old version of php
BTW, I recommend you to install php 7.0.4 or 7.0.5

[2016-04-18 03:54] zerobrapsgiven commented on #4183
Ok I will update the PHP version.

Regarding the cron, how do I set what php version it uses? Do I need to set an environment variable or something else?

[2016-04-18 04:03] vancoz commented on #4183
@samleeiii when you set the command in crontab you can use full path to php version, for example /local/lib/php5/bin/php /var/www/html/update/cron.php
So even if your CLI does use correct version cron can point to old one.

[2016-04-18 04:16] zerobrapsgiven commented on #4183
That did the trick, thanks!

[2016-04-18 04:16] #4183 closed, assigned to nobody

[2016-04-18 05:07] eoghanobrien commented on #2151
Hi, I created the [reCAPTCHA extension](https://github.com/StudioForty9/Recaptcha) from the screenshots provided, I've just started work on the Magento 2 version (over 50% of the way there including unit tests)

The issue for me was always getting the reCAPTCHA widget to show up on the review and send to friend forms. The contact form recently got an additional info container (`form.additional.inf

[2016-04-18 06:05] martins-scandiweb opened #4184 "Configurable product is not added to cart, when using "add to cart" on category page."
In http://magento2-demo.nexcess.net/men/tops-men/jackets-men.html

if I choose size and color and then press "add to cart", then I get redirected to product detail page with message "You need to choose options for your item."

Expected result
1. Configurable product is added to cart and success message is shown and user stays on category page.

[2016-04-18 06:31] cedcommerce commented on #4171
@buskamuza   Yes you are right.
Thank You for your assistance

[2016-04-18 06:31] #4171 closed, assigned to nobody

[2016-04-18 06:48] enasibrahim opened #4185 "Can't export to excel or cvs"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-04-18 06:49] enasibrahim commented on #4185
can't export to excel or cvs, magento 2

[2016-04-18 07:34] fvschie commented on #4004
Any update?

[2016-04-18 08:30] lennartlott opened #4186 "Page messages are displayed on every page"
The page messages are displayed on every next page.
## For example:
1. Invalid password try
2. Error message is displayed on the login page
3. Go to hompage
4. The message is displayed again.

I tested the error on multiple devices and even on multiple websites (Official Magento Demo, Venroy, Solgirl, ...). On my installation and even on the official magento demo shop the message is displayed on e

[2016-04-18 08:32] devhn commented on #4186
We experienced the same issue (Magento 2.0.2 and 2.0.4).

[2016-04-18 09:12] owebia commented on #1691
Hi,

When a store sells only virtual products, the telephone is not required as there is no delivery.
So I think it is a good idea to make this field optional.

[2016-04-18 09:52] wclansar opened #4187 "Magento 2 checkout issue"
Hello ,

When i go in checkout page i am getting one error notice.

Recoverable Error: Object of class Magento\Customer\Model\Data\Region could not be converted to string in /var/www/html/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 2903

Can you please help to resolve that issue.

Thanks

[2016-04-18 10:04] alena-marchenko commented on #3465
Hi Ian,

We've resolved this issue and delivered the fix to develop branch.
Closing the issue.

[2016-04-18 10:04] #3465 closed, assigned to alena-marchenko

[2016-04-18 10:48] wclansar commented on #4187
Here you go for screen shot .
![checkout error](https://cloud.githubusercontent.com/assets/10025094/14601690/33a37702-0581-11e6-9d12-29857e23082b.jpeg)

[2016-04-18 10:54] kaleberegaurav opened #4188 "How to extend layout in Custome module"
I have extended module-catalog block in Test_Catalog(Test is my vendor name and Catalog is module name,in which i am extending block of module-catalog ). I want to add small table element on product view page for which i have created catalog_product_view.xml(location : root\app\code\Test\Catalog\view\frontend\layout\catalog_product_view.xml) But still its not displaying any content from test.phtml

[2016-04-18 10:57] BaDos commented on #4113
Hi @sergei-sss

I cannot reproduce this bug.
Which version of php are you using?

[2016-04-18 11:08] peec opened #4189 "Parameter validation failed, magento:config:set --http-cache-hosts when using hyphens."
Version: Magento CLI version 2.0.4

Seems that http cache hosts can not have hyphens, this should be allowed as it's a valid domain name.
WORKS:

[code]

DOES NOT WORK:

[code]

Result:

[code]

Hosting providers such as AWS uses hyphens in EC2 instances, so currently we can not set ec2 dns name which is similar to `ec2-xx-xx-xx-xx.eu-west-1.compute.amazonaws.com`.

[2016-04-18 11:30] peec commented on #4189
Seemes to be fixed in #7f200af39724800c247acee07263703d30fc0f6b , MAGETWO-46858 . Closing

[2016-04-18 11:31] #4189 closed, assigned to nobody

[2016-04-18 11:44] ishakhsuvarov commented on #4187
@wclansar Hi, thank you for reporting. Do you have any customizations on your Magento installation? Please provide more detailed preconditions and steps to reproduce.

[2016-04-18 11:45] jameshalsall commented on #4162
Isn't the best solution here to use the `pub` folder as the document root?

The .htaccess files are useless if you're running your store on nginx.

[2016-04-18 12:11] FermionInfo commented on #1740
I had created module which was running properly later after some time I deleted that from Neatbeans. Now whenever I creates new module it was throwing same errors as below:

a:4:{i:0;s:273:"Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:
Namespace_modulename

But I could resolved it:
-By deleting the previous delete

[2016-04-18 12:45] wclansar commented on #4059
I Also Having same issue when i change country in section "Estimate Shipping and Tax" .

Ajax is not working

Thanks

[2016-04-18 13:09] mnjongerius opened #4190 "Tooltip position in admin incorrect with select element"
Before:
<img width="552" alt="schermafbeelding 2016-04-18 om 15 07 58" src="https://cloud.githubusercontent.com/assets/4756828/14605114/632a5cb6-0577-11e6-85e2-f08e122c8c44.png">

Suggested solution:
`.accordion .config .value.with-tooltip select + .tooltip{margin-top:-24px;}`

After solution:
<img width="535" alt="schermafbeelding 2016-04-18 om 15 08 46" src="https://cloud.githubusercontent.com/a

[2016-04-18 13:32] mazhalai commented on #3693
@astorm @erikhansen minor changes related to issue have been contributed. Closing ticket.

[2016-04-18 13:32] #3693 closed, assigned to mazhalai

[2016-04-18 13:34] rip057 commented on #3897
why on earth is varnish the "go to" app when there is no ssl support? and +1 for my navigation bar not showing up, with or without the work around.  also someone should fix the "never return HTTP urls"
and the [simply replace "https" with "https"]  it is a little confusing.

[2016-04-18 13:50] shiftedreality commented on #4188
Hi @kaleberegaurav

You should use `<referenceContainer>` statement
Here is how it works for AdminNotification module:

https://github.com/magento/magento2/blob/develop/app/code/Magento/AdminNotification/view/adminhtml/layout/default.xml#L10

You can use before/after options to set position of your block.

[2016-04-18 14:08] #3863 closed, assigned to MomotenkoNatalia

[2016-04-18 14:10] mazhalai commented on #3298
@Amnonsha file owner can be set by `chown -R :<your web server group name> .` See [this](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html)

[2016-04-18 14:30] davidalger commented on #4070
@degaray The only workaround would be to remove the `var/di/relations.ser` file after the failed compilation so that the app continues to run. Obviously not a long-term solution since that is effectively nullifying the meta-data caching intended to speed up performance.

[2016-04-18 14:33] sammarcus commented on #3904
When the generic _"Attention. Something went wrong"_ appears, is there a conclusive location a more detailed error is written to a log? I am not finding it in any of the normal logs or reporting functions.

[2016-04-18 14:35] vrann commented on #4182
@sylink let me confirm did I understood you correctly. You are saying that if you  run
`/bin/magento/php70 -f bin/magento deploy:mode:set production`, it will fail because at some point it runs `php -f ...` and php get resolved to php54. Is that right?

[2016-04-18 14:57] ghost commented on #4182
Yes, in this case because the server/environment has the PHP version 5.4 as the binary for /usr/bin/php.

This might not be a bug as much as its a problem in environments with multiple PHP versions for different vhosts. Is this configurable in some way as a path in Magento 2 that I'm not aware of?

[2016-04-18 14:57] BaDos commented on #4188
Hello @kaleberegaurav

You can try to use the following xml code:

[code]

[2016-04-18 15:00] #4162 closed, assigned to lanken

[2016-04-18 15:17] odubovyk commented on #4190
Thank you for the request. In what browser do you experience the issue?

[2016-04-18 15:21] vrann commented on #4182
@sylink Thanks, this is a bug. PHP has a constant which defines path to currently executed php, accessible within the script: PHP_BINARY. It should be used for any internal execution of php scripts to ensure same version of the php.

Internal ticket number: MAGETWO-51983

[2016-04-18 15:28] bkristl opened #4191 "Can not change product attributes in Console\Command"
If **Google Analytics** is **enabled** and **Enable Content Experiments** is **enabled** in web administration (menu - stores->configuration->sales->Google API->Google Analytics), then you **can not change products attributes values** in Console\Command.

WHY ?

Because Google Analytics observer (**Magento\GoogleOptimizer\Observer\Product\SaveGoogleExperimentScriptObserver**) is run when an event

[2016-04-18 15:44] ghost commented on #4182
Ok, thank you! Is there any work around to this at all you can think of without modifying the code? Right now we just change out the PHP versions, which isn't a big deal so that the path it finds will always be PHP7.

[2016-04-18 15:46] magento2q commented on #2919
Hi @chat2vignesh, what core file(s) did you edit?

I'm having the same issue with 'NotEmpty' with a clean installation too, when going to checkout.

[2016-04-18 15:53] mazhalai commented on #4181
@thomvanderboon thank you for reporting, we have MAGETWO-51987 to investigate and fix.

[2016-04-18 16:39] erikhansen commented on #3897
@rip057 You can use a server like Nginx ([example config](https://www.digitalocean.com/community/tutorials/how-to-configure-varnish-cache-4-0-with-ssl-termination-on-ubuntu-14-04)) or Pound as an SSL terminator to pass through requests to Varnish so that HTTPS requests can still take advantage of Varnish's memory-based cache system. So while it doesn't natively support SSL, it can still work with

[2016-04-18 17:05] rip057 commented on #3897
I've decided to dive in to apache mod_mem_cache, and mod_file_cache, and
customize it.  it just sucks that magneto is kind of pointing you, me and
anyone who doesn't want to look around, towards something that is
inherently lacking right now.  I don't know a single website that doesn't
want a full green bar on their web link name.
On Apr 18, 2016 11:40 AM, "Erik Hansen" notifications@github.com wr

[2016-04-18 17:10] rip057 commented on #3897
Also sorry for being harsh, I just spent quite a lot of time getting
magneto 2.0 in,  then scratching and starting over, then again, only to
find out about varnish at the end, and the only reason I found out about
varnish is my effing navigational bar took a vacation, and I spent another
several hours trying to figure out if I caused it by disabling something.
Anyhow has anyone tried mod_mem_cache

[2016-04-18 17:13] adragus-inviqa opened #4217 "The Checkout UI Components JSON is ridiculously large and also quite big"
https://gist.github.com/adragus-inviqa/8c2496312760c122aefb390c66bf2419 (<-- your browser might crash opening this 💥 ).
That's a one liner copied from a response source and pretty-printed into 45587 lines. :trollface:

I hope you agree that those countries _desperately_ need a **single** global object.

[2016-04-18 17:15] erikhansen commented on #3897
@rip057 There is certainly a learning curve with Magento 2, but after having worked with it for ~9 months (after 7 years on M1), I think it is a great platform that will server merchants well for many years to come.

Magento 2 decided to ship with Varnish support natively as many merchants and solutions partners implemented Varnish on M1 to build highly scalable and performant sites. However using

[2016-04-18 17:52] leoquijano commented on #2264
Hi,

I'm having a similar problem when trying to use a LESS file from the `vendor/` directory. In my case, Im trying to use some mixins from the Bootstrap library in my theme file. So I have this in my theme's main.less file:

[code]

Now, I could use Bootstrap compiled CSS, but that wouldn't allow me to use variables and mixins from that deployment. If I try to copy Bootstrap files directly in th

[2016-04-18 18:12] mnjongerius commented on #4190
In Google Chrome. Do you need an exact version number?

Op ma 18 apr. 2016 17:18 schreef odubovyk notifications@github.com:

[2016-04-18 18:12] erikhansen commented on #2107
@vzabaznov Can you provide the commit hash where this was fixed? I'm experiencing this issue on 2.0.4 (only exhibits when using multiple websites) and would like to check whether the fix is present in 2.0.4 or is still pending a GA release.

[2016-04-18 18:12] shiftedreality commented on #2264
Hi @leoquijano.

You're correct. There is no possibility to import files from vendor directory.
We've added possibility to import files from standard Magento lib directory in
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/View/Design/FileResolution/Fallback/Resolver/Simple.php

via ././ to cover current case

If importing files from vendor directory still valuable

[2016-04-18 18:12] #2264 closed

[2016-04-18 18:18] leoquijano opened #4218 "No way for a theme or extension to import LESS files from vendor directory"
Hi,

As described in #2264, there's currently no way to import LESS files from a theme or extension directory to the vendor/ folder. This is particularly relevant for theme developers since most custom themes could include content from different LESS libraries, and those libraries are better maintained using Composer or Bower (Bower can be configured to also put packages inside vendor/).

So suppo

[2016-04-18 18:33] tanya-soroka commented on #2997
Hello, for the purchasing and installation extensions, please use https://marketplace.magento.com/.
if you want to submit the extension, please send email to marketplace@magento.com and team will be able to send you instruction.

[2016-04-18 19:12] inborntech opened #4219 "Magneto 2 .maintenance.ip file is not working"
.maintenance.flag is working fine but when I want to exempt my own machine ip, put the .maintenance.ip file in var with remote ip it's not working.

[2016-04-18 19:14] inborntech opened #4220 "after updating magento 2.0.4 from Magento 2 login popup is not working"
Site url is www.dilsedeal.com

[2016-04-18 19:55] dexterityzx opened #4221 "Wysiwyg can not insert more than two images"
Version 2.0.4
## Steps to reproduce
1.
   ![1](https://cloud.githubusercontent.com/assets/13892193/14617780/959a4836-057d-11e6-8938-c543c2e1cafd.png)
2.
   ![2](https://cloud.githubusercontent.com/assets/13892193/14617787/9d7c8794-057d-11e6-97bd-c6f304457211.png)
3.  insert the image
   ![3](https://cloud.githubusercontent.com/assets/13892193/14617793/a12ec730-057d-11e6-9dd0-b9a69620ff6b.PNG)
4. r

[2016-04-18 21:15] rip057 commented on #3897
But still you got no opinion on mod_cache?  It is also a memory cache, I
mean basically the same thing as varnish
On Apr 18, 2016 12:15 PM, "Erik Hansen" notifications@github.com wrote:

[2016-04-18 21:19] erikhansen commented on #3897
@rip057 Many people have discontinued using Apache in favor of Nginx, so if Apache isn't already a part of your technology stack, it would make more sense to use an application designed for the specific purpose of being a memory-based cache, rather than a module for a more general-purpose server.

Since Magento natively integrates with Varnish, I wouldn't spend my time investigating an alternative

[2016-04-18 21:38] vrann commented on #4220
@inborntech is it Customer login on the front page you are talking about? Is it customized on your site? Can you please check is there any errors in the logs

[2016-04-18 22:08] rip057 commented on #3897
Maybe, it probably like what flavor do you run kde or gnome, personal
choice I guess, I just have an affinity for apache.  They have done so much
for the world in general
On Apr 18, 2016 4:20 PM, "Erik Hansen" notifications@github.com wrote:

[2016-04-18 22:37] inborntech commented on #4220
@vrann

Screenshot link shared please check.

Magento 2.0.4 : http://prnt.sc/atybzi

Magento 2.0.2 : http://prnt.sc/atycr1

No errors log present.

[2016-04-18 23:16] zerobrapsgiven opened #4222 "How do you check if a user is logged in?"
I've tried the following and it seemed to work but seems inconsistent. All of a sudden it stops working. Is there a better way?

<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); $customerSession = $objectManager->get('Magento\Customer\Model\Session'); if($customerSession->isLoggedIn()) : ?>

Insert html here...

<?php endif ?>

[2016-04-18 23:25] sky4git commented on #2648
Yes its fixed. I needed faster server to finish this process.

[2016-04-19 00:36] adragus-inviqa commented on #4222
That seems ok to me. But just so you know ahead of time: your issue's going to be closed as "forum". You should ask questions on m2's forums or here: http://magento.stackexchange.com/

[2016-04-19 00:37] zerobrapsgiven commented on #4222
ah ok thanks!

[2016-04-19 00:37] #4222 closed, assigned to nobody

[2016-04-19 02:28] mrkhoa99 commented on #4221
@dexteritycc There are any errors log on browser console?

[2016-04-19 02:56] hshar7 commented on #2786
thank you @coolshot I made sure to take care of that case also. Fix should be up on develop soon!

[2016-04-19 04:03] srqdeveloper commented on #3901
The regular expression in Magento\TestFramework\DependencyPhpRule::getDependencyInfo was not matching the following class and module name pattern: \Magento\SomeModule\Any\ClassName

Changing the pattern to the following appears to pass all of the failed tests in this unit:

`$pattern = '~\b(?<class>(?<module>((' . implode(
            '|',
            Files::init()->getNamespaces()
        ) . ')[

[2016-04-19 04:18] AskBear opened #4223 "How magento2 calculate subtotal?"
### I was tried to change `price format` to like `NT$5`(non decision) by the following way:

file path: magento_dir/vendor/magento/zendframework1/library/Zend/locale/Data/zh_Hant.xml
I was changed `¤#,##0.00` to `¤#,##0`

[code]
### But some pages like product detail pages or checkout sidebar, still format by `.00`.

So I also add the code like below:
file path: magento_dir/vendor/magento/framewor

[2016-04-19 06:11] yagneshponkiya opened #4225 "Magento 2 Direction RTL Issue"
Magento provides facility to specify different locale for each store view from the backend. my question is if i assign locale Persian, Urdu or anything (RTL Locale). does that add "dir='RTL' to HTML tag ? or if i want to do that how should i  ?

[2016-04-19 06:31] mdmujassam commented on #1650
hi,
@kassner ,  did you achieve the joining the collection for sales/order/grid..
I can add the column but unable to join the collection, Help me if anybody have the solution..
I want to join the sales_grid_collection with my table to display the custom column data in sales order grid..

Thanks

[2016-04-19 06:59] BorysMiller commented on #4133
@ishakhsuvarov Hi, there are no other modules from step one, no changes in database...

I have checked it with simple module, that consists only of two file: 'registration.php' and 'etc/module.xml' with following content:

[code]

[2016-04-19 07:15] plentyhappy commented on #4130
Same with me except I had trouble with braintree - paypal and authorize.net - spent 4 days or so down with several developers not being able to fix.  On my own, I finally decided to install fresh magento 2.0 and if that did not fix the problem downgrade to 1.9 magento.

Luckily the fresh install did "not" work.  When my most excellent hosting company heard the fresh install did not work they downg

[2016-04-19 07:24] plentyhappy commented on #4054
We have this problem too.  Cannot install security update 2.0.4 so we are stuck with 2.0.2 until this is fixed :(

May be related to this:

https://community.magento.com/t5/Installing-Magento-2/Magento-2-installation-incomplete/m-p/33260#M1145

https://github.com/magento/magento2/issues/2437

[2016-04-19 07:43] spipu opened #4226 "Stock Item collection is not a collection object."
This is a*\* technical issue*\* about **CatalogInventory Stock Item** object.

There is a model and a resource model, but there is no collection object.

And the object name ResourceModel\Stock\Item\Collection exists, but it does not extends the good class, it is more a search result than a collection :

https://github.com/magento/magento2/blob/2.0/app/code/Magento/CatalogInventory/Model/ResourceM

[2016-04-19 08:09] antboiko commented on #3656
@IvanChepurnyi

Hello Ivan,

Following up on our discussion let me inform you that your proposals were approved. I would like to summarize on what we agreed regarding the future PR:

**1.    Scalability Problem.** This proposal makes sense as it will decrease the amount of records in DB. However it may cause the collision. Please make sure the solution covers this case as well and prevent occurren

[2016-04-19 08:13] dexterityzx commented on #4221
only warnings, and each time I insert the image will have two warnings, but I am able to use the wysiwyg editor again after the first two warning. The screen get frozen like below after I tried to insert the second picture.
![capture](https://cloud.githubusercontent.com/assets/13892193/14632304/f28b299e-05e5-11e6-82f2-93f0cd9e5a6d.PNG)

[2016-04-19 08:53] sammarcus commented on #2412
I'm glad I found this thread —being new to the platform I just assumed I was the only one struggling with this. Hassling with these ongoing musical chair permissions has single handedly been the biggest headache with my development in M2.

I have never experienced so many errors that can all be attributed back to insufficient permissions. Someone above recommend setting up a cron job to regularly

[2016-04-19 08:59] kanduvisla commented on #4173
Could this also be related with an issue I am having at the moment? I'm trying to schedule multiple jobs in one group, with the same instance, but different methods:

[code]

The result in the database table are crons for 5m, 10m and 15m and sometimes 30m. Could it be that Magento 2 thinks these are duplicate crons and thinks _'hey 5 minutes also fits in 10 and 15, so I don't need te re-schedule i

[2016-04-19 09:09] devhn commented on #2810
Same as issue [#4111](https://github.com/magento/magento2/issues/4111)

[2016-04-19 09:12] devhn commented on #4111
Any news on this? If it's a bug it's a major issue which should have a high priority.

[2016-04-19 09:26] vkublytskyi commented on #4186
@lennartlott, thank you for reporting this issue. We are currently working on resolving it. Internal ticket MAGETWO-46014

[2016-04-19 09:46] fooman opened #4228 "Semantic Versioning needs to be comprehensive"
I believe Semantic Versioning is meant to deliver the M2 product goal of easier upgrades.

And currently the only definition of what Magento considers to be versioned semantically is, according to [this](http://devdocs.magento.com/guides/v2.0/architecture/versioning.html), anything annotated with `@api`.

Unfortunately the `@api` coverage is not comprehensive. Case in point, as of 2.0.x, it is cur

[2016-04-19 09:48] fooman commented on #3936
I have added a proposal to make semantic versioning policy comprehensive here #4228

[2016-04-19 10:07] cgrechcw commented on #1817
same here

[2016-04-19 10:31] YevSent commented on #4130
@esiemens, thanks for your report. This issue already fixed on the develop branch, but not included to 2.0.4. You can try to use develop branch if possible.

[2016-04-19 10:51] YevSent commented on #4076
@thomvanderboon could you specify additional details, like browser call for this error or some additional configuration, we tried different test cases and configurations and issue is not reproducible.

[2016-04-19 11:18] jordanbrierley opened #4229 "Magento 2 Static Deploy Issue"
I have changed my local settings in the backend (store->config->general) all to the United Kingdom so my theme looks in the en_GB folder however the admin still looks in the en_US folder after deploying.

This creates a problem when it comes to running 'bin/magento setup:static-content:deploy' as it only deploys it to the en_US folder meaning only the admin displays correctly. I know you can use p

[2016-04-19 11:23] Vinai commented on #4228
Thanks @fooman!
In order to get comprehensive `@api` coverage breaking changes are required, for example to add new methods to existing interfaces.
Once comprehensive coverage is achieved, the SemVer policy could be changed.

[2016-04-19 11:32] asemenenko commented on #4076
@joni-jones, @thomvanderboon @bgabrovsek
issue is already resolved in MAGETWO-48387
It will be available with the next version update. Commit https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6

[2016-04-19 11:35] YevSent commented on #4109
@colyield, thanks for your report. Can you enable debug mode for DHL and post response from DHL in this issue.

[2016-04-19 11:40] thomvanderboon commented on #4076
Shall I close this issue?

[2016-04-19 11:47] asemenenko commented on #4076
@thomvanderboon you mentioned that it is reproduced on the dev branch, can you re-check?

[2016-04-19 11:48] fooman opened #4230 "Decouple version module number timing from project versioning"
## Expected result
1. When a new Magento 2.x version is released a merchant can upgrade immediately
## Actual result
1. When a new Magento 2.x version is released a merchant needs to wait for extension providers/ SIs to assess what changes have made it into this release

Currently it seems the only time a module's version number can change is when the Magento 2 project releases. From an external d

[2016-04-19 12:01] antonkril commented on #4217
Agree. And we have it in backlog (MAGETWO-40098). This ticket will influence the priority of the story.

[2016-04-19 12:22] ktruehl opened #4231 "mass actions slow with large number of articles"
## Steps to reproduce
1. Install version 2.0.4 of Magento
2. Create 15000+ articles
3. Select 1 product in the admin product grid
4. Choose "Update attributes" from the "Actions" dropdown
## Expected result
1. Since only one product was selected, the page for updating the attributes should load quickly.
## Actual result
1. Instead it will take an extraordinary long time (30-90 seconds, depending o

[2016-04-19 12:26] YevSent commented on #4109
Also, related to [DHL Tracking documentation](https://xmlpi-ea.dhl.com/) the `AWBNumber` should be 10 digits, you use 3 digits.

[2016-04-19 12:33] titechnologies commented on #824
+1 having the ability to re-index from the admin

[2016-04-19 13:07] YevSent commented on #4148
Hi @jackhuang89, could you specify what type of PayPal integration you use and attach debug logs?

[2016-04-19 13:16] maksek commented on #3936
@fooman, it makes complete sense to bump minor version for the module with the changes, after adding the interfaces. we have tool which scan modules for changes and identify type of change and do proposal which version must be bumped for next release. Also we simplified logic for patches, and do bump of all modules in 2.0.5, to resolve issues in our repo. We will continue work on our tool improvem

[2016-04-19 13:20] maksek commented on #4228
Thanks @fooman. Comprehensive coverage of Semantic Versioning may work in full throttle with complete module decoupling. In M2 we still have pretty wide dependencies between modules, and making major version change in one module, requires to update dependency version in another. Also Magento 2 has own versioning strategy 2.0.x, 2.1.x. in addition to each module version, and making patch for produc

[2016-04-19 13:36] mazhalai commented on #4219
@inborntech thank you for reporting, we have created MAGETWO-52040 to investigate and fix.

[2016-04-19 13:37] mazhalai commented on #4220
@inborntech did you regenerate static content? `bin/magento setup:static-content:deploy`

[2016-04-19 13:46] mazhalai commented on #4218
Thank you for reporting @leoquijano, we have created ticket MAGETWO-52044 to investigate and fix.

[2016-04-19 13:47] mazhalai commented on #4191
@bkristl thank you for reporting, we have created MAGETWO-52045 to investigate and fix.

[2016-04-19 13:49] NadiyaS commented on #4146
Hi @jaimestuardo ,

this bug is not reproducible on latest magento version. Please upgrade your magento version.
If you still have the same problem, please provide more detailed steps to reproduce.

Regards

[2016-04-19 13:56] fooman commented on #4228
As I understood it so far the product version number for Magento 2.x is only for Marketing purposes and can be ignored when talking about Semantic Versioning. However this comment here

seems to indicate that 2.0.x and 2.1.x patch releases are meant to include only patch level releases from your side.

I don' think you will be able to have it both ways. Either the Magento product version number is

[2016-04-19 13:56] akaplya commented on #4165
This event triggers after payment processed before the order has been saved to database. Id appears only after order was successfully saved to storage.
Please use after plugin for `Magento\Sales\Api\OrderManagementInterface::place`

[2016-04-19 14:07] jsakars opened #4232 "UTF-8 special character issue in widgets"
## Steps to reproduce
1. Install Magento 2.0.4
2. Add CMS Page Link or other widget type which accepts input parameters
3. Enter Latvian UTF-8 special characters `glāžšķūņu rūķīši` in input parameter
4. See [video](http://screencast.com/t/TNzgeDti2) for details
## Expected result
1. Widget is added correctly with UTF-8 characters
## Actual result
1. Widget is added but UTF-8 special characters are

[2016-04-19 14:09] mazhalai commented on #4054
@esiemens @plentyhappy Please check file permissions on `pub` folders, since upgrade is performed via composer, permissions are not preserved. Also, did you try to deploy your static content after upgrade? `bin/magento setup:static-content:deploy`

[2016-04-19 14:15] mazhalai commented on #2437
@magemind @iramlopez @aamnah Closing this issue, since there has been no activity. Please feel free to open new issues if they arise.

[2016-04-19 14:15] #2437 closed, assigned to nobody

[2016-04-19 14:37] inborntech commented on #4220
@mazhalai  same no changes after regenerate static content.

[2016-04-19 14:56] quienti commented on #3943
Same problem with Magento 2.0.4

[2016-04-19 15:39] mazhalai commented on #4220
@inborntech any errors on browser's console?

[2016-04-19 15:42] hungvt opened #4233 "Programming issue with \Magento\Framework\Api\DataObjectHelper"
Hi,
I'm getting a problem with transferring data from quote_item to sales_order_item.
I added my custom fields to the **fieldset.xml** (under etc folder)

[code]

But the value of this field is not  copied from quote_item to sales_order_item

I checked to the code and found the problem.
This is the method that convert the quote item to order item

[code]

I see the custom field is copied to orderI

[2016-04-19 15:58] sshrewz commented on #3800
@Deepthi57, since we have not heard back from you, we will go ahead and close this issue.  In case you have any updates, do feel free to reopen.

[2016-04-19 15:58] #3800 closed, assigned to mazhalai

[2016-04-19 16:31] inborntech commented on #4220
@mazhalai  Tried Google Chrome, Internet Explorer, Microsoft Edge, Mozila Firefox same issue..

All popups are working only "Login Popup" is not working.

[2016-04-19 16:48] davidalger commented on #3897
@rip057 One thing to keep in mind here is also that Magento 2 is designed to scale, and the web stack that's officially supported must keep that in mind. Varnish is a scaling tool. In a clustered deployment scenario, it's very common to terminate SSL in the load-balancer. In that situation, varnish lacking SSL termination support doesn't really matter since it's not needed in the reverse proxy lay

[2016-04-19 17:21] rip057 commented on #3897
So does anyone have any experience with both? Anyone have experience at all
with mod_cache or mod_socache_shmcb.  I get they are relatively new to the
release section of apache.  The whole navi bar, is the only reason for all
ofthis, although I'm sure there are other broken parts

[2016-04-19 18:12] leoquijano opened #4234 "404 when trying to display product view page (product.info.main container label is missing)"
Hi,

I'm developing a custom theme and I was stuck with a 404 error when displaying the product view page:

http://mystore.dev/some-product

I first thought that this was a problem with my own setup, but then I went in to debug some exceptions I was getting. Particularly this one:

[code]

Since I'm developing my theme on top of the `theme-frontend-blank` theme, I suspected that there was an issue

[2016-04-19 18:17] lennartlott commented on #1691
In some countries a telephone number is not required for shipping, but it drops the conversion rate. It is absolutely essential to disable the telephone number by need.

[2016-04-19 18:26] davidalger commented on #3897
@rip057 That is really a question better suited for the forums, as we need to keep the issue tracker on it's core focus, technical issues / bugs with the Magento 2 platform. I would recommend you take that over to  the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site. Thanks!

[2016-04-19 18:50] plentyhappy commented on #4054
Thanks for the response.

My hosting provider told me there are no permission issues. The deployment of static resources did not help. They think the issue stems from the fact that sample data was used for this store originally.

They also said this, "I'm guessing it's a bug in Magento, as we have upgraded a number of stores that did not have sample data initially, and all of those were fine. It's

[2016-04-19 19:03] ark99 commented on #4054
@plentyhappy, we have tried two times without success to recreate your issue.
1. Can you please share your steps to initially install the store and sample data. And then later to do upgrade.
2. Were you starting out with 2.0.2 initially or you had some prior version (2.0.1 or 2.0.0) installed initially that you had upgraded to 2.0.2?

Thanks!

[2016-04-19 19:03] mazhalai commented on #4099
@gamort a fix has been merged, hence closing this ticket. Please feel free to create a new issue if problems persist.

[2016-04-19 19:03] #4099 closed, assigned to nobody

[2016-04-19 19:06] mazhalai commented on #3940
@parekhreena this issue has been fixed and delivered to develop branch. Closing this issue. Please open a new one if problems persist.

[2016-04-19 19:06] #3940 closed, assigned to nobody

[2016-04-19 19:28] choukalos commented on #2628
Yes this should be filed as a separate bug - I see the linked github issue and will make sure there's a corresponding internal ticket filed under #4019.

[2016-04-19 19:50] robfico commented on #4054
For this store, it was initially installed as a 2.0.0 store with sample data with root web directory of pub. Upgrades are done via editing composer.json file, adjusting version, and then running "composer update". Mode of store is "default". Upon upgrading from 2.0.2 to 2.0.4, all non-sample product images are deleted from pub/media/catalog/product. No permission issues, as set up is per Magento r

[2016-04-19 20:04] rip057 commented on #3897
Word sorry, I just felt people that dont have a Wal-Mart.com traffic site
would find this page like I did cause of the navi bar
On Apr 19, 2016 1:27 PM, "David Alger" notifications@github.com wrote:

[2016-04-19 20:53] leoquijano commented on #4234
An additional item of information here. I just noticed that for some reason I had a `referenceBlock` in my `Magento_Theme/layout/default.xml` file:

[code]

(I was adding a CSS class to the block)

When I remove it (or move it to `catalog_product_view.xml`), the 404 error goes away, even without my core code changes. So this makes this issue less critical. But it may be a good idea to check anyway

[2016-04-19 21:15] lennartlott commented on #3503
Is this issue already fixed or in process?

[2016-04-19 21:58] kgvconsulting opened #4235 "Magento2 API Custom Cart with Braintree"
We are trying to integrate the magento2 with a custom cart for an app we are making, however we are stuck in trying to place the order (we are creating the cart, with items, quantity, and shipping method)

From the magento2 documentation this should be done with a POST to /payment-information but the rest is unclear in terms of the contents of the request.

From the braintree documentation in orde

[2016-04-19 23:30] magnetic5355 opened #4236 "As Low As Pricing Removes second select option"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add configurable product with color and size selector
3. Add variable priced configurations
4. View product with "As low as" pricing
   .
## Expected result
1. As low as pricing is active with color and size selectors visible
## Actual result
1. Only color selector is visible
2. Unable to add item to cart due to This is a required

[2016-04-20 04:57] Taral-Patoliya commented on #4077
@mikeweis We have already missed the deadline for the project, but managed to extend it till next week.

[2016-04-20 06:38] zolthan commented on #4153
Hi @antboiko,

thanks for your reply. That doesn't seem to be correct for me and our customers. If a product normally costs $10 and can be bought for $2 if you buy 100pcs, then the starting price should be $2. As a Magento developer I know the difficulties and prerequisites in the code. But logically it would be more correct to show the real minimal price, not a price that is higher than any price

[2016-04-20 08:13] AntonEvers opened #4237 "Cron times in the database have a double timezone correction"
The cron schedule times in the database are local datetimes and not UTC whereas the other datetimes in the system are saved as UTC in the database.

Is this something worth changing?

[2016-04-20 08:16] parekhreena commented on #3940
@mazhalai - Thank you !!

[2016-04-20 08:25] NadiyaS commented on #4019
Thanks for reporting this issue.
Internal ticket MAGETWO-52079  was created.

[2016-04-20 08:29] NadiyaS commented on #4062
Hi @Katerina1993 ,
thank you for reporting this issue. Internal ticket MAGETWO-52041 was created.

[2016-04-20 08:36] undefined-olha commented on #3972
@chloeefr, thank you for reporting this issue. Internal MAGETWO-52100 ticket has been created.

[2016-04-20 08:55] zanilee commented on #3754
Hi, @dnadle!

Thank you for reporting this issue.
Internal ticket MAGETWO-52102

[2016-04-20 09:05] vzaporozhets commented on #3801
@rpmkhatri, thanks for providing details - I have reproduced this issue with 2.0.4. However, it works fine with "develop"-version. But I can provide you with solution which works fine for both versions: try to use URL like: "http://magento.vg/customer/account/" and your acceptance criteria will be satisfied.
I'm going to close this issue unless workaround doesn't work for you for some reason.

[2016-04-20 09:15] ishakhsuvarov commented on #4010
@jksimoniii Yes, the fix should be included in the 2.1

[2016-04-20 10:41] nileshadiyecha opened #4238 "How to run Multiple Magento2 setup with Nginx"
I want to configure multiple Magento2 setup (like 3 setups) with single domain name. like..

If I browser the URL as below then it should load separate directory based on Nginx request.

So can anyone guide me to setup nginx virtual host configuration file which can fulfill my about requirement to load multiple Magneto2 setup over the single domain name.

Waiting for helping hand.

[2016-04-20 11:23] jsakars opened #4240 "Account settings password fields missing common style"
## Steps to reproduce
1. Install Magento 2.0.4
2. Go to Account Settings
## Expected result
1. Password fields are styled as all other fields
## Actual result
1. Password fields are missing common styling - http://screencast.com/t/ucdiU6R72
2. However if You edit another user(not Your own) - password fields are styled as expected

[2016-04-20 12:11] sergei-sss commented on #4113
Hi,
Here is screen phpinfo():
https://www.diigo.com/item/image/4wouz/r0nw

[2016-04-20 12:32] undefined-olha commented on #3972
@chloeefr, could you please check if this [folder](https://github.com/magento/magento2/tree/develop/app/design/frontend/Magento/blank/Magento_Checkout/web/css/source) is not overwritten in your custom theme? Especially this this [file](https://github.com/magento/magento2/blob/develop/app/design/frontend/Magento/blank/Magento_Checkout/web/css/source/module/checkout/_tooltip.less) which contains men

[2016-04-20 12:57] dnadle commented on #3943
I found that the save was throwing an exception because one of my custom attributes was set to input type 'checkbox'. When I changed it to 'text' the save was successful. Details here:

https://community.magento.com/t5/Technical-Issues/Customer-custom-attribute-with-checkbox-input-throws-exception/m-p/34737

[2016-04-20 13:15] YevSent commented on #4235
Hi @kgvconsulting, to get ClientToken you can use your custom implementation of
`\Magento\Checkout\Model\ConfigProviderInterface` and get token on a client side.

Also, you don't need to implement custom request to place order. The js component for your payment should extend `Magento_Payment/js/view/payment/cc-form` or `Magento_Checkout/js/view/payment/default` (depends of your payment).

You can

[2016-04-20 13:42] stasleo commented on #3575
@antboiko

**For the 5th:**
Yes, I mean bookmarks bar.
Make it responsive. If there is enough space - display them all as a bookmarks bar. If there is not enough space - display all of them in a dropdown list.

**For the 6th:**
Yes. Our extensions have built-in bookmarks for our clients. These bookmarks are used for different use-cases of the grid usage. We expect that some of the bookmarks will b

[2016-04-20 13:43] magentotejpal commented on #3885
Hi, i have install the magento 2 in my server. Front part is perfect runing . but when i go to admin part after login in admin panel js and css file not loading. show 403 error.

Can you please help me

[2016-04-20 13:48] mrkhoa99 commented on #3885
@magentotejpal You can take the screenshots about your issue. Try to run deploy command:
`php bin/magento setup:static-content:deploy`

[2016-04-20 13:49] mazhalai commented on #4240
@werdlv there is nothing in that screencast. Can you please repost?

[2016-04-20 14:12] OlaviSau opened #4242 "Request does not match any route:"
## Steps to reproduce

Exact:
1) Create an interface which uses `\Magento\Checkout\Api\PaymentInformationManagementInterface` in its methods(dependency injects it into the controller)
2) Call the method that uses `\Magento\Checkout\Api\PaymentInformationManagementInterface`
## Expected result

After that if the checkout is used(or any checkout related api call)  it will error with `Request does no

[2016-04-20 14:15] joost-florijn-kega opened #4243 "Not able to set time format of datetime picker to 24 hour notation"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add Date Form field to an Admin Form with time format 'HH:mm'.
## Expected result
1. Able to select time in 24 hour notation.
## Actual result
1. The time is always converted to the 12 hour notation.
   ![image](https://cloud.githubusercontent.com/assets/16535591/14677402/e1b2e166-0711-11e6-903d-c326d1fcaba8.png)

I have found why

[2016-04-20 14:23] magentotejpal commented on #3885
HI,
Thanks For Your Reply .
Right Now , show this error.

Autoload error
Vendor autoload is not found. Please run 'composer install' under application root directory.

[2016-04-20 14:34] PascalBrouwers opened #4244 "Catalog search index status is always processing"
After running the indexer for magento 2.0.4 catalog search, it's status is still processing
![magento2_search_index](https://cloud.githubusercontent.com/assets/17834386/14678839/a7994c44-0717-11e6-96cd-d4580f6e6d9c.png)

Note: search is working though.

[2016-04-20 14:37] odubovyk commented on #4190
Thank you, internal ticket MAGETWO-52115

[2016-04-20 14:43] mktudock commented on #4143
We have the same issue :(

[2016-04-20 14:54] gamort opened #4245 "Composer security issues"
The current documentation/implementation of composer allows for a large number of attack surfaces.

A "deployed" website[ie a website either installed using composer or a website which is installed from a downloaded zip file] should not have any need for the various development requirements - such as phpunit and other dev tools.   Instead of requiring installers to remember to pass --no-dev to the

[2016-04-20 16:00] jsakars commented on #4240
@mazhalai the image is there - double checked

[2016-04-20 16:17] gfxguru commented on #4158
Thank you so much orlangur for such insight, wisdom and information. I'm just so upset with the complete shift to 2 and I don't believe Magento 1.9.2.4 was or is stable, robust or secure in it's current state! And now to introduce a whole new set of issues and even a couple I swear we fixed a long time ago...lol so funny.
I cannot upgrade to 2.0 for a couple reason. Number 1) I don't believe in th

[2016-04-20 18:04] ihsanberahim commented on #2504
I found simple solution from here:
http://dltr.org/blog/magento/583/magento-2-setup-on-existing-vagrant-environment-using-browser

[2016-04-20 18:10] mazhalai commented on #3191
@ajzele this issue is considered fixed, since we have specific instructions for enabling maintenance when upgrade takes place. Please read http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/maint-mode.html for more information.

Please create a new issue, if problems persist.

[2016-04-20 18:10] #3191 closed, assigned to mazhalai

[2016-04-20 19:38] buskamuza commented on #4245
Hi @gamort , thanks for reporting it. We're looking into the issue and your suggestions.
Internal ticket is MAGETWO-52095

[2016-04-20 19:43] tanya-soroka commented on #2130
MAGETWO-52142 - has been created to merge the fix.

[2016-04-20 20:05] adragus-inviqa commented on #4233
I think you need to declare them as [an extension attribute](http://devdocs.magento.com/guides/v2.0/extension-dev-guide/attributes.html) (some examples [here](https://gist.github.com/nevvermind/155952b0b01773f4b42f)) or empty the `var/generation` folder so that the interface gets created again.

[2016-04-20 20:37] mazhalai commented on #4105
@dmitriyse can you please give us more details, we haven't been able to reproduce this issue.

[2016-04-20 21:09] maghamed commented on #4030
All that you need to do is to specify store code in your URL
So, instead of "http://[domain]/rest/V1/products"
you need to use
"http://[domain]/rest/<store_code>/V1/products"
Documentation could be found here http://devdocs.magento.com/guides/v2.0/rest/rest_endpoints.html
If store code is skipped (as in your case), Default store code is used.

[2016-04-21 00:19] joeNmass commented on #2412
I totally believe that Magento is the best shopping cart out there for the well experienced user and I totally agree with everyone on here that is dissatisfied with the permissions issues on Magento 2.0.#.
Because of issues like this (and others) I stopped recommending Magento to my clients because of the hurles that the shop owner will have to jump through each time they add new products. I don't

[2016-04-21 02:14] jpreed2 opened #4246 "Rest API Shipment Track Delete not working"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Send a DELETE request to the API to delete a shipment track (ex: /rest/V1/shipment/track/24323)
## Expected result
1. Tracking gets deleted in the system
## Actual result
1. Tracking does not get deleted.
2. No error returned.  Return value is just the shipment track id (ex: ["24323"])

[2016-04-21 04:50] magentotejpal commented on #3885
Hi ,
I have attach the image of the Please check.
![error-magento-2](https://cloud.githubusercontent.com/assets/18575839/14698259/a9a434a2-07aa-11e6-8566-b5fda33643eb.png)

[2016-04-21 05:08] patrickpeng2091 commented on #3885
chmod 777 -R  <magento path>

[2016-04-21 05:31] fetzi opened #4247 "getProductUrl does not allow to override the scope in backend context"
### Preconditions:

1. Magento instance with several websites
2. Each website has a specific domain (base url)

### Steps to reproduce:

1. Open a product page for a specific website in the admin area
2. Use the $product->getProductUrl() method to retrieve product url

### Expected result:

Returned product url relates to specified website

### Actual result:

Magento always uses the 'admin' scope

[2016-04-21 05:51] sourabh-ranosys opened #4248 "Validations not working on customer registration on DOB field."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. From Magento backend using store configuration set DOB in customer form as required.
3. Go to frontend on registration page and hit submit without filling any entry.
4. DOB field has an star mentioned as required but no validation messages is populating for this but working fine for other fields.
## Expected result
1. Error should

[2016-04-21 06:49] janakadombawela opened #4249 "Add option to easily remove default product gallery while keeping swatch functionalities. (Feature request)"
I wanted to remove the default product gallery (slider and zoom plugin: fotorama). So I tried to play around with: app\design\frontend\Mypackage\mytheme\Magento_Catalog\templates\product\view\gallery.phtml code:

`<script type="text/x-magento-init">
{
    "[data-gallery-role=gallery-placeholder]": {
        "mage/gallery/gallery": {
//the code
    }
}
</script>`

and

app\design\frontend\Mypackage

[2016-04-21 07:18] shiftedreality commented on #4138
Fix was delivered to develop branch.
Closed.

[2016-04-21 07:18] #4138 closed, assigned to nobody

[2016-04-21 07:18] xdoctordog opened #4250 "Warning: setcookie() expects parameter 3 to be integer, float given in"
## Steps to reproduce
1. Admin Area: Go to Stores -> Configuration -> Admin -> Security
2. Type really big value in Admin Session Lifetime (seconds) ( pic.1 )
3. Click 'Save Config'
## Expected result
1. Successful saving.
## Actual result
1. 'There has been an error processing your request'  page ( pic.2 )
2. In reports I see the error 'Warning: setcookie() expects parameter 3 to be integer, floa

[2016-04-21 07:29] davidnguyen2205 opened #4251 "Missing some functions in Stores > Configuration > Design page"
First, I installed Magento 2 with sample data by cloning from git:

[code]

Then it's working. However, when i go to Stores > Configuration > Design, i just see: Search Engine Robots and my Magento version is 2.0.0

After that, i setup a new Magento website with a package from https://www.magentocommerce.com/download
And i got more functions in that Design page: Design Theme, HTML Head, Header, Fo

[2016-04-21 08:10] yoavkutner commented on #4158
I think one of the biggest surprises is that Magento decided to create their own new framework redoing a lot of what modern frameworks like Symfony2 already do for years. As an example the dependency injection DI that was created once again in the new Magento framework. When we worked on Magento 1 we had a problem finding a framework that handled all our requirements and we ended up using ZF as a

[2016-04-21 08:24] vzabaznov commented on #2107
Hi @erikhansen commit hash is fa41dfd31dbb4bba36f2d22fcf89122d845f4a8a

[2016-04-21 08:40] jon-acker commented on #4158
@yoavkutner My thoughts exactly, I was pretty dumbfounded when I discovered M2 had reinvented DI containers given there are several tried and tested solution out there. I wrote an M1 Symfony DI bridge which we use extensively in my company and it works a treat.

(BTW, you're not _the_ yoav kutner from the radio are you?)

[2016-04-21 08:54] jameshalsall commented on #4245
The composer `--no-dev` flag is designed exactly for this purpose, saying that you shouldn't have to require the installer to pass that option when building for production is nonsense.

Example code in the vendor library isn't a security issue over HTTP unless you're including / executing it as part of your Magento store.

[2016-04-21 08:58] friizu commented on #3102
Hei, I also have same problem, i got it work when i added back line what was removed 5590fd

return [
            'display_subtotal_incl_tax' => (int)$this->taxConfig->displayCartSubtotalInclTax(),

/Tax/CustomerData/CheckoutTotalsJsLayoutDataProvider.php

using magento 2.0.4

Think there is a bit mess cause sometimes u need 'display_subtotal_incl_tax' and sometimes 'display_cart_subtotal_incl_tax

[2016-04-21 09:04] parekhreena commented on #4184
#2574

[2016-04-21 09:05] parekhreena commented on #4184
Same issue reported earlier here reference id - #2574

[2016-04-21 09:20] parekhreena commented on #4135
In Magento 2.0.2 it happens for me with as well as without discount. Issue details here #3966

[2016-04-21 09:47] armindoPR opened #4252 "Web Setup Wizard gives 401 after upgrade"
Hi,

i've installed Magento 2.0.2 (download it from the site and installed it on my server). and upgraded it to 2.0.4 via Web Setup Wizard.

Everything went fine and i can see on my backend the correct version, but when i try to access the Web Setup Wizard i get a 401 page

"Welcome to Magento Admin, your online store headquarters.
To use the Magento setup wizard sign into your Admin account and n

[2016-04-21 10:54] shiftedreality commented on #4100
Fix was delivered to mainline.
Closed.

[2016-04-21 10:54] #4100 closed, assigned to nobody

[2016-04-21 10:59] Vinai opened #4254 "Request: Add @api annotation to \Magento\Framework\Encryption\EncryptorInterface"
Please bless `\Magento\Framework\Encryption\EncryptorInterface` with the `@api` annotation.

Even though the method `\Magento\Customer\Api\AccountManagementInterface::getPasswordHash()` is marked as part of the stable `@api`, it would be great to be able to use the other methods in `\Magento\Framework\Encryption\EncryptorInterface` directly.

[2016-04-21 11:06] Yogesh7989 opened #4255 "Magento 2 + Migration from 1.7.0.2 Product view & category page giving 404 error"
Hello,

I have Migrate magento 1.7.0.2 to Magento 2.
( I have migrate site in local using CMD)

I have face Product detail page & Category page is giving 404 page. search is working fine.

When i console i get this Error

**### "NetworkError: 404 Not Found - http://localhost/<projectname>/<category>/"**

Below are list of system exception getting in log file.

[2016-04-21 11:03:04] main.CRITICAL:

[2016-04-21 11:25] Vinai opened #4256 "`\Magento\Customer\Api\CustomerRepositoryInterface::save` ignores `$passwordHash` for existing customers"
## Steps to reproduce
1. Install Magento from `develop` branch or version 2.0.4.
2. Create code to set a password for a customer using `CustomerRepositoryInterface::save`
3. Execute the code for an existing customer

[code]
## Expected result

The customer is able to authenticate with the given password.
## Actual result

The given password hash is ignored, the old password still is active.

As a

[2016-04-21 11:48] krishjun commented on #4158
@gfxguru I think this is why its called M2 and not M 1.9.2.3.233 :)

On Thu, Apr 21, 2016 at 2:10 PM, Jon Acker notifications@github.com wrote:

[2016-04-21 12:08] Vinai opened #4257 "Retrieving the current quote requires use of non-@api methods."
## Steps to reproduce
1. Create a class with a dependency on `\Magento\Quote\Api\Data\CartInterface`
2. Add a product to the cart
3. Execute the code within the same session
## Expected result
1. The `CartInterface` instance represents the current quote
2. `\Magento\Quote\Api\Data\CartInterface::getItems` returns the items in the cart
## Actual result

The injected `CartInterface` instance is empt

[2016-04-21 12:29] shiftedreality commented on #4039
Hi @AniAko

I was not able to reproduce this bug on latest 2.0.4 branch.
Also i see a lot of exceptions from 3rd-party extension in exception.txt
Is this bug reproducible for you on clean Magento 2 installation?

[2016-04-21 12:35] ajahongir commented on #2648
I had same issue. I went to `/var/log/apache2/error.log` and saw that was an error - `"Maximum execution time of 30 seconds exceeded in..."`.

solution:
go to your system shell and type this command

`sh# find / -name "php.ini"`
should give you next lines (it could variate depending on your linux distribution)

`/etc/php5/cli/php.ini
/etc/php5/apache2/php.ini`

I opened `/etc/php5/apache2/php.ini`

[2016-04-21 12:38] nobuttsalex commented on #3960
@ishakhsuvarov Thanks, you were right I had to create the quote and assign it to the cart when it didn't exist. Last issue I have come across is the minicart does not update when adding products to the cart using the API. If I go to the cart and then update the quantity the minicart does start to show the items.

**After adding item with API:**
![m2apiminicartbug-1](https://cloud.githubusercontent

[2016-04-21 13:08] vzaporozhets commented on #4093
@jaimestuardo - thanks for contacting us. I'm closing this issue as a duplicate. Please reply in related issue.

[2016-04-21 13:08] #4093 closed, assigned to nobody

[2016-04-21 13:18] AniAko commented on #4039
We had started on 2.0.2 and gone through an upgrade directly to 2.0.4.  I have however worked with an affiliate on a clean installation of 2.0.4 directly and the issue doesn't seem to be present.  Unfortunately, we have torn down our instance as we've moved away from a Magento solution (not because of this bug)  Thank you for investigating this for us.

[2016-04-21 13:18] #4039 closed, assigned to nobody

[2016-04-21 13:24] janakadombawela commented on #4229
Have you tried `setup:static-content:deploy en_GB` ? I'm currently developing same en_GB store and this is what I do. First deploy without `en_GB` and then use above command.

[2016-04-21 13:35] joni-jones commented on #4246
@jim5359, hi, thanks for your report, but current feature not available via API.

[2016-04-21 13:36] magentotejpal commented on #3885
Hi i have set the permission chmod 777 -R.

But same error.

[2016-04-21 13:39] HardRock88 opened #4259 "Block Catalog Category Tree - problem with loading tree nodes"
Class "Magento\Catalog\Block\Adminhtml\Category\AbstractCategory"
Method "getNode"

Magento 1.x in this method uses new tree resource model for every method call
$tree = Mage::getResourceModel('catalog/category_tree');

Magento 2.x has property that is used in this method

[code]

If you in Magento 2.x has some code, for example:

[code]

$root will be null, because \Magento\Catalog\Model\Resource

[2016-04-21 13:46] giafrata commented on #2989
Any news about this issue?

[2016-04-21 14:07] antonkril commented on #4158
@yoavkutner, @jon-acker I can not comment why Magento decided to build own framework back in 2007, but in Magento 2 all framework code was grouped and moved to Framework namespace. Probably that is the reason some people think that framework was introduced in Magento 2 (while it was just code re-grouping). While this re-arranging and cleanup made business code less dependent on specific implementa

[2016-04-21 14:23] choukalos commented on #3897
Hey @rip057 ; we purposely chose Varnish because our community proved to us it's the winning solution.  Trouble in M1 was the cost for most merchants to install/setup Varnish.  We've made that much easier in M2 ( out of the box; hosting partner support ) along with making our caching much more efficient.  Varnish is pretty impressive... with high cache hit ratios and M2's caching efficiency you ca

[2016-04-21 14:25] tkotosz commented on #4250
I have run into the same issue previously and I had to run `update core_config_data set value=9999 where path='admin/security/session_lifetime';` to fix the admin. I just forgot to report it.

[2016-04-21 14:36] jordanbrierley commented on #4229
Yeah that's what I've been doing but seems strange deploying it twice, once for the admin and once for the frontend, I thought it would just deploy to the correct ones set in the locale really so you just have to deploy once but if doing it twice is the only way that's no problem

[2016-04-21 14:42] kgvconsulting opened #4260 "Can't upgrade from 2.0.2 to 2.0.4 by the back-end "Web Setup Wizard""
Can't upgrade to v2.0.4 with Web Wizard. System Upgrade version PASS - showing current and new versions

Readiness
![screenshot 2016-04-21 10 34 17](https://cloud.githubusercontent.com/assets/11282348/14712829/b7ce3440-07ac-11e6-8b63-13e9b48b7795.png)
 check fail
- HOWEVER all Cron's are setup and run without issues

xxxxxxx@flowersvibe.com [~/folder/bin]# php magento cron:run
Ran jobs by schedule

[2016-04-21 14:48] Alkar778 commented on #4251
All design configurations were moved to **Content -> Design -> Configuration**

[2016-04-21 15:04] ntoombs19 opened #4261 "RequireJS configurations are loaded alphabetically instead of in order of module dependencies"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a module named A_Test. The vendor name "A" is to place the module before Magento in the module load order.
3. Create new JS file: `A/Test/view/frontend/web/js/catalog-add-to-cart.js`

[code]
4. Create a new RequireJS configuration file: `A/Test/view/frontend/requirejs-config.js`

[code]
5. Add the Magento_Catalog module as a

[2016-04-21 15:53] jameshalsall opened #4262 "Magento 2.0.4 community metapackage has missing dependencies in package.json"
## Steps to reproduce
1. Install Magento using `composer create-project --repository-url=https://repo.magento.com/ magento/project-enterprise-edition <installation directory name>`
2. Complete Magento installation steps through CLI or web installer
3. Run `npm install`
4. Run `./node_modules/.bin/grunt exec:luma`
## Expected result
1. Grunt's `exec:luma` task should complete without error
## Actua

[2016-04-21 16:09] mazhalai commented on #4240
@werdlv thanks, see it now! We have created MAGETWO-52177 to investigate and fix.

[2016-04-21 16:10] mazhalai commented on #4243
@joost-florijn-kega thank you for reporting, we have created MAGETWO-52178 to investigate and fix.

[2016-04-21 16:14] mazhalai commented on #4260
@kgvconsulting there are additional crons (total of 3) that need to be setup, please read http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

[2016-04-21 16:26] kgvconsulting commented on #4260
Hello @mazhalai Thank you for your respond, I have those 3 setup and running as well

Current Cron Jobs
Minute  Hour    Day Month   Weekday Command Actions
*/1 \*   \*   \*   \*   /xxx/bin/php -c /xxx/xxxx/bin/php.ini /xxxx/xxxxx/xxxx/bin/magento cron:run > /xxxx/xxxx/xxxxx/var/log/magento.cron.log&     Edit      Delete
*/1 \*   \*   \*   \*   /xxx/bin/php -c /xxx/xxxx/bin/php.ini /xxxx/xxxxx/xxxx

[2016-04-21 16:37] kgvconsulting commented on #4260
also here is my composer.json

{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.0.2",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "repositories": [
        {
            "type": "composer",
            "url": "https://repo.magento.com/"
        }
    ],
    "requi

[2016-04-21 16:48] magentotejpal commented on #3885
I have attach the image please check
![error-magento-3](https://cloud.githubusercontent.com/assets/18575839/14717397/f0922ca2-080e-11e6-9184-74abaa09e405.png)

[2016-04-21 18:09] AddoSolutions commented on #3283
+1 on this

[2016-04-21 18:35] hshar7 commented on #4067
Hi @rasmuswikman I just checked all of these phrases are translatable. I believe you might not be using develop branch with the latest and greatest fixes :)

[2016-04-21 18:35] #4067 closed, assigned to nobody

[2016-04-21 18:39] anton-huz commented on #4261
Thanks for reporting. We will continue working with issue under internal ticket MAGETWO-52188. Please stay in touch.

[2016-04-21 19:52] magentotejpal commented on #3885
/pub/static/adminhtml/Magento/backend/en_GB/extjs/resources/css/ytheme-magento.css

i have go to this path but i can't see en_GB Folder. can you please help.

[2016-04-21 19:56] colyield commented on #4260
I got the same problem before. It seems sometimes the cron task will not run automatically. I ran the command manually and the problem was gone.

[2016-04-21 20:00] kgvconsulting commented on #4260
Thank you @colyield , I did that a couple of times, unfortunately don't work still don't recognize that the cron is running. Really cant figure out what to do?

[2016-04-21 20:05] colyield commented on #4109
@joni-jones First of all, whatever the AWBnumber I input into the system, when I track the shipment, the tracking number shown on the page is always 111. I enabled debug, and here is  the error. I am not sure why the tracking shows 111. Do I have to set up the DHL shipping module in the system? As I mentioned, we did not configure the DHL module but occasionally we will ship orders by DHL.

`  're

[2016-04-21 20:05] mazhalai commented on #3885
@magentotejpal this means, you have permissions errors. Please see http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html and http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html

[2016-04-21 20:06] mazhalai commented on #4260
@kgvconsulting anything in you var directory? Any files beginning with `.`

[2016-04-21 20:07] colyield commented on #4260
Are you using the root account to run the command? You need to use the web user to run it and I think something wrong with file permission.

[2016-04-21 20:13] kgvconsulting commented on #4260
Hi @mazhalai

yes:

1st file - .update_cronjob_status
- text/x-generic .update_cronjob_status ( ASCII text )

{
    "readiness_checks": {
        "file_permissions_verified": true
    },
    "last_timestamp": 1461269403,
    "current_timestamp": 1461269463
}

2nd file - .htaccess

.htaccess ( ASCII text )

Order deny,allow
Deny from all

@colyield  - yes I run the cron jobs sign as account user no

[2016-04-21 20:15] snez opened #4263 "v2.0.4 Orders always get a status of Suspected Fraud in multi-currency store configurations"
## Steps to reproduce
1. Create a store view X and set its currency as something different than the base currency.
2. Switch to store view X from the front end.
3. Place an order as usual. Checkout with a payment method that can_authorize and implements an AuthorizeOperation.
4. Inspect the order status in the admin area
## Expected result

The order should have a status of Processing
## Actual re