[2021-04-09 14:28] alexlabarces commented on #25098
Thanks for your comment, I appreciate you getting back to me on this.

[2021-04-09 14:28] magento-engcom-team commented on #31019
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41836` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-09 14:35] jigar48 opened #32705 "Disallowed file type for XML - Store Configuration"
### Summary (*)

Magento 2.4.1
PHP 7.4.14
I have created store configuration for the custom file upload in custom module, I have allowed XML file type but it still showing error "Disallowed file type."

### Examples (*)

### Proposed solution

It should be allow the XML file to be uploaded as per backend_model function.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contrib

[2021-04-09 14:39] jigar48 commented on #32705
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-04-09 14:58] jigar48 commented on #32705
@magento how to access code ? I want to create store configuration for custom file upload to check issue

[2021-04-09 15:03] Axel29 commented on #24942
HI,

I'm having the same issue on a Magento 2.3.4 website with the following process:

* Multi store instance
* Enable Varnish full page cache
* Create a category and translate it's URL key in the second store
* Go to a category page in store A
* Use the store switcher to go to the store B => redirection is okay
* Use the store switcher to go back to the store A again => redirection triggers a 404

[2021-04-09 15:24] Axel29 opened #32706 "Store switcher gives 404 when logged in"
### Preconditions

1. Magento 2.3.4
2. PHP 7.2
3. Varnish cache enabled (not tested without it)

### Steps to reproduce

1. Create at least 2 store views (let's say store A and store B)
2. Create a customer account
3. Create a category
4. Change the URL key in the second store (store B)
5. Log in with the customer account created in step 2
3. Go to the category in frontend on store A
4. Use the st

[2021-04-09 15:36] Aquive commented on #3423
5 years later and still present on Magento 2.4.1. In my case it appears only in production mode. The strings are translated ok, until you click the add to cart. It then resets to default translations.

I tried @rudolf81 suggestion without any luck.

[2021-04-09 15:36] sidolov commented on #30012
@hostep , @ihor-sviziev  we will take a look on it and prioritize in case it' still reproducible

[2021-04-09 17:18] Eddcapone opened #32707 "Product Gallery Magnifier not working after overriding class Magento\Catalog\Block\Product\View\Gallery - if gallery has more than one image"
### Preconditions (*)

1. 2.4.2 EE
2. Developer Mode
3. The Bug is only reproducable if the product has mutliple visible gallery images

### Steps to reproduce (*)

0. **Make sure that the product gallery has multiple visible images. The magnifier still works if there is only one image.**

1. Make sure that you have enabled the gallery magnifier, see settings in your `THEME\etc\view.xml` file:

[c

[2021-04-09 17:32] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-04-09 19:24] leonhelmus commented on #30696
It seems to work if you add the variables, but it doesn't seem to work without even though you have most varaibles setup in env.php and php environment variables.

[2021-04-09 20:20] Eddcapone commented on #32707
It suddenly works for unknown reasons. I think some deep cache or browser cache was not cleared.

[2021-04-09 20:20] #32707 closed, assigned to nobody

[2021-04-10 06:38] ajijshekh123 commented on #32699
@magento give me 2.4-develop instance

[2021-04-10 07:40] ajijshekh123 commented on #32699
Hello @bohdan-berezhniy,
I have verified this issue as per your above steps, actual result and expected.
I have create a new product, upload image as per defined name, Flush Catalog Image Cache & Full Cache Management then review the same product on front end but Product image is not showing.

Product image is showing on backend product grid list but on front end product image is not showing.

Fro

[2021-04-10 07:42] magento-engcom-team commented on #32699
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41852` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-10 09:17] siliconalchemy commented on #20481
@cfarnleitner - You think that an obscure bug (or at least obscure undocumented handling) in an API is a good way to fix a major bug in an API?
The reason it's a 'ruff climate' in here is that it's business as usual for Magento - the people who man github seem to get paid on the numbers of issues they close, not on the quality of the product.  It took 3 github issues and 3 years to fix a simple bu

[2021-04-10 09:19] mrtuvn commented on #32700
The xml file contain page_layouts directive tag that  you put in wrong file name
The correct path should be

THEME\Magento_Theme\layouts.xml

The first file is correct and valid

[2021-04-10 09:38] mrtuvn commented on #32697
attribute title already set to optional in codebase !? Are you sure update magento version to more recently stable version ?
Refer this code below
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Acl/etc/acl.xsd#L51

[2021-04-10 09:39] mrtuvn commented on #32697
attribute title already set to optional in codebase !? Are you sure update magento version to more recently stable version ?
Refer this code below

https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Acl/etc/acl.xsd#L51

[2021-04-10 10:08] mrtuvn commented on #30656
This issue may can reproducible in latest codebase

[2021-04-10 14:31] iphigenie opened #32708 "Sorting on attributes of type "dropdown" or "swatch" use option_id in frontend product collection not the sorting order used everywhere else"
EDIT: changed the chosen products (not some next to each other) and chosen name so it is more different than default category order and there is no confusion. **screenshots made on April 14 on an instance supplied here**

If you have an order to options in a "single select" attribute that isn't the order they were created in, sorting by this attribute in listings will not produce the order you exp

[2021-04-10 14:43] groomershop-mt commented on #23908
We can also confirm that this problem still occur at Magento 2.4.2 CE - about 0,2% of records in our quote table has set customer_is_guest=1 for record having not null customer_id. This problems makes some clients unable to place an order, as it raise exception at:

/app/m/vendor/magento/module-quote/Model/QuoteAddressValidator.php in Magento\Quote\Model\QuoteAddressValidator::doValidate at line 7

[2021-04-10 15:41] iphigenie commented on #32708
This has been reproduced on 2.4.2 release vanilla instance

[2021-04-10 17:40] sivaschenko opened #32709 "Update colinmollenhour/php-redis-session-abstract to PHP 8 Compatible version"
Update colinmollenhour/php-redis-session-abstract to PHP 8 Compatible version (1.4.4)

[2021-04-10 23:22] mrtuvn commented on #30459
@magento give me 2.4-develop instance

[2021-04-10 23:35] mrtuvn commented on #30459
Firefox 87 show text without cutting at bottom
![Capture](https://user-images.githubusercontent.com/1908873/114287311-b0bdfb80-9a1a-11eb-927b-3bcf46e05545.PNG)

Testing System
Operating System: Windows 10
Architecture: x86-64

[2021-04-10 23:35] #30459 closed, assigned to nobody

[2021-04-10 23:36] magento-engcom-team commented on #30459
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38367` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-11 00:36] mrtuvn commented on #32667
Error happen because your date input missing button (date icon for pickup date) => Validate will miss to check
Here is demo date input in customer register form
![Screenshot from 2021-04-11 07-35-49](https://user-images.githubusercontent.com/1908873/114288290-96c2fe00-9a98-11eb-9a67-13b0998368f2.png)

[2021-04-11 10:06] #31607 closed, assigned to nobody

[2021-04-11 10:46] SimonasBudejis opened #32711 "Collection object not exposed to Dashboard Bar Totals"
### Summary (*)
I'm trying to extend the Block object, mainly the `protected function  _prepareLayout()` with an interceptor by adding a new total but I see no way of doing this. The function creates a new collection object in its own scope and then the totals are added by getting the totals of the collection.

I noticed that the superclass `AbstractDashboard` contains a `getCollection()` function

[2021-04-11 11:01] #32709 closed, assigned to sivaschenko

[2021-04-11 11:06] #31566 closed, assigned to nobody

[2021-04-11 20:09] gabrieldagama commented on #32647
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32646 by @engcom-Foxtrot in 2.4-develop branch
Related commit(s):
 - [5f93692b880f3ce622c468daa0cfa080317b748e](https://github.com/magento/magento2/commit/5f93692b880f3ce622c468daa0cfa080317b748e)
 - [bf6cd90d5d1e9df53574ced2c951b468bac61408](https://github.com/magento/magento2/commit/bf6cd90d5d1e9df5357

[2021-04-11 20:09] #32647 closed, assigned to engcom-Foxtrot

[2021-04-11 20:09] gabrieldagama commented on #32505
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32467 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [ea063e0271186d46794cd146689268f155a9f071](https://github.com/magento/magento2/commit/ea063e0271186d46794cd146689268f155a9f071)
 - [aacf9a23c1c88f96cbd903087135260b7cda9c09](https://github.com/magento/magento2/commit/aacf9a23c1c88f96cbd903

[2021-04-11 20:09] #32505 closed, assigned to kate-kyzyma

[2021-04-11 20:09] gabrieldagama commented on #32504
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32477 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [b37d542cd71215a4cd370b48885393710e319b9a](https://github.com/magento/magento2/commit/b37d542cd71215a4cd370b48885393710e319b9a)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #32504 closed, assigned to kate-kyzyma

[2021-04-11 20:09] gabrieldagama commented on #32583
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32524 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [feaed6b364731e39df95a898aa64928c1b8548ca](https://github.com/magento/magento2/commit/feaed6b364731e39df95a898aa64928c1b8548ca)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #32583 closed, assigned to kate-kyzyma

[2021-04-11 20:09] gabrieldagama commented on #32518
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32517 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [a4d981fea3591b81e2f9bf3472605a5992a42f3e](https://github.com/magento/magento2/commit/a4d981fea3591b81e2f9bf3472605a5992a42f3e)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #32518 closed, assigned to sergiy-v

[2021-04-11 20:09] gabrieldagama commented on #32507
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32463 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [eb772c17d28ae9c4612f581937de19a27763dc30](https://github.com/magento/magento2/commit/eb772c17d28ae9c4612f581937de19a27763dc30)
 - [e762b52ae64a7eb624ba59a2587da9b36097fdc9](https://github.com/magento/magento2/commit/e762b52ae64a7eb624ba59

[2021-04-11 20:09] gabrieldagama commented on #32569
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32463 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [eb772c17d28ae9c4612f581937de19a27763dc30](https://github.com/magento/magento2/commit/eb772c17d28ae9c4612f581937de19a27763dc30)
 - [e762b52ae64a7eb624ba59a2587da9b36097fdc9](https://github.com/magento/magento2/commit/e762b52ae64a7eb624ba59

[2021-04-11 20:09] #32569 closed, assigned to kate-kyzyma

[2021-04-11 20:09] gabrieldagama commented on #32502
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32498 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [920867a6d0e9cdcd38331793909b2e2b3299372f](https://github.com/magento/magento2/commit/920867a6d0e9cdcd38331793909b2e2b3299372f)
 - [1e4fcb1c545ca6622f10a14fdc2e5eb5dc95ed3c](https://github.com/magento/magento2/commit/1e4fcb1c545ca6622f10a1

[2021-04-11 20:09] #32502 closed, assigned to kate-kyzyma

[2021-04-11 20:09] gabrieldagama commented on #27411
Hi @stephan-cream. Thank you for your report.
The issue has been fixed in magento/magento2#32532 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [a369d5a510f7bbbdf790bfdeffcc5fc9126949e1](https://github.com/magento/magento2/commit/a369d5a510f7bbbdf790bfdeffcc5fc9126949e1)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #27411 closed, assigned to ihor-sviziev

[2021-04-11 20:09] gabrieldagama commented on #32525
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#32532 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [a369d5a510f7bbbdf790bfdeffcc5fc9126949e1](https://github.com/magento/magento2/commit/a369d5a510f7bbbdf790bfdeffcc5fc9126949e1)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] gabrieldagama commented on #32495
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32400 by @in-session in 2.4-develop branch
Related commit(s):
 - [59a5e8d5d4f8fe1e9e9b04b5d73e95e2750b75f9](https://github.com/magento/magento2/commit/59a5e8d5d4f8fe1e9e9b04b5d73e95e2750b75f9)
 - [f578f02d346379a8ff0c1f79732a9943a2d394be](https://github.com/magento/magento2/commit/f578f02d346379a8ff0c1f7

[2021-04-11 20:09] #32495 closed, assigned to engcom-Oscar

[2021-04-11 20:09] gabrieldagama commented on #32379
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32288 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [01c88601bd70cad521c70ecebb0344812debb0c8](https://github.com/magento/magento2/commit/01c88601bd70cad521c70ecebb0344812debb0c8)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #32379 closed, assigned to kate-kyzyma

[2021-04-11 20:09] gabrieldagama commented on #30860
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30823 by @thomas-kl1 in 2.4-develop branch
Related commit(s):
 - [8ed50820d60edbb108b5f31302394f5c47a3e33f](https://github.com/magento/magento2/commit/8ed50820d60edbb108b5f31302394f5c47a3e33f)
 - [8a569ee75ec3284b346980d45a6d23db40bd101e](https://github.com/magento/magento2/commit/8a569ee75ec3284b346980d

[2021-04-11 20:09] #30860 closed, assigned to thomas-kl1

[2021-04-11 20:09] gabrieldagama commented on #32644
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32639 by @hostep in 2.4-develop branch
Related commit(s):
 - [2cce0aa467329c5278280209085bd1dd303bb684](https://github.com/magento/magento2/commit/2cce0aa467329c5278280209085bd1dd303bb684)
 - [8c05b9cb401da843386013558d9cd5e821bb39af](https://github.com/magento/magento2/commit/8c05b9cb401da843386013558d9

[2021-04-11 20:09] #32644 closed, assigned to hostep

[2021-04-11 20:09] gabrieldagama commented on #32658
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32610 by @bgorski in 2.4-develop branch
Related commit(s):
 - [4a7159e43f24068f7aca856412d6376a81e1721c](https://github.com/magento/magento2/commit/4a7159e43f24068f7aca856412d6376a81e1721c)
 - [ef7009ea0781862e3ca54ed1564058db0e9baa55](https://github.com/magento/magento2/commit/ef7009ea0781862e3ca54ed156

[2021-04-11 20:09] #32658 closed, assigned to bgorski

[2021-04-11 20:09] gabrieldagama commented on #32578
Hi @fooman. Thank you for your report.
The issue has been fixed in magento/magento2#32612 by @bgorski in 2.4-develop branch
Related commit(s):
 - [7306e85cfabd31582c4c366ef90820aa85825963](https://github.com/magento/magento2/commit/7306e85cfabd31582c4c366ef90820aa85825963)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #32578 closed, assigned to bgorski

[2021-04-11 20:09] gabrieldagama commented on #32616
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32448 by @charles-tychons in 2.4-develop branch
Related commit(s):
 - [f55d9e65afd1e1a486360682c7c1d8a4be2b4e13](https://github.com/magento/magento2/commit/f55d9e65afd1e1a486360682c7c1d8a4be2b4e13)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #32616 closed, assigned to charles-tychons

[2021-04-11 20:09] gabrieldagama commented on #32577
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31938 by @ProkopovVitaliy in 2.4-develop branch
Related commit(s):
 - [98e089e2b3a29a481a999eac3f0e39815047e002](https://github.com/magento/magento2/commit/98e089e2b3a29a481a999eac3f0e39815047e002)
 - [4b0bf14cbaef041ae6dea0f6e341ef08a12c2b17](https://github.com/magento/magento2/commit/4b0bf14cbaef041ae6

[2021-04-11 20:09] #32577 closed, assigned to nobody

[2021-04-11 20:09] gabrieldagama commented on #32454
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32434 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [7e47efddd9df6ff0153365aa260ff2a0bdb3f565](https://github.com/magento/magento2/commit/7e47efddd9df6ff0153365aa260ff2a0bdb3f565)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #32454 closed, assigned to mrtuvn

[2021-04-11 20:09] gabrieldagama commented on #32671
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32298 by @Skullsneeze in 2.4-develop branch
Related commit(s):
 - [d6cba4773bdd25d603aa305d5fdd7c0672a9d8a5](https://github.com/magento/magento2/commit/d6cba4773bdd25d603aa305d5fdd7c0672a9d8a5)
 - [06412dc6f88dc5f43e27413b6755650a007d271c](https://github.com/magento/magento2/commit/06412dc6f88dc5f43e2741

[2021-04-11 20:09] #32671 closed, assigned to Skullsneeze

[2021-04-11 20:09] gabrieldagama commented on #19345
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#32254 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [c2b038e42c0e678440d151cc5f835e96eeb83e2f](https://github.com/magento/magento2/commit/c2b038e42c0e678440d151cc5f835e96eeb83e2f)
 - [8a90819df3ee53f9d0b45fb6aa1b5ac5e56cb769](https://github.com/magento/magento2/commit/8a90819df3ee53f9d0b45fb6aa1b5

[2021-04-11 20:09] #19345 closed, assigned to engcom-Charlie

[2021-04-11 20:09] gabrieldagama commented on #31140
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31080 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [67c2c71ab57cce413a5739d6ef059a2367c45085](https://github.com/magento/magento2/commit/67c2c71ab57cce413a5739d6ef059a2367c45085)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-11 20:09] #31140 closed, assigned to mrtuvn

[2021-04-11 20:09] gabrieldagama commented on #30788
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30695 by @fredden in 2.4-develop branch
Related commit(s):
 - [6bec772fd1e204b758c9ad27d596e53238888624](https://github.com/magento/magento2/commit/6bec772fd1e204b758c9ad27d596e53238888624)
 - [693e366eb9a60d3fdfe0c426277524270302e3f2](https://github.com/magento/magento2/commit/693e366eb9a60d3fdfe0c42627

[2021-04-11 20:09] #30788 closed, assigned to nobody

[2021-04-11 20:10] magento-engcom-team commented on #32518
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-11 20:11] magento-engcom-team commented on #32504
Hi @m2-assistant[bot], @kate-kyzyma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41587` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-11 22:25] mrtuvn commented on #32706
Seem the fix already delivered to 2.3.6 or 2.4.2 (Official release) And also available in 2.4-develop branch git
Have you check your scenario again in latest code ? Or issue still reproducible in specific cases

[2021-04-11 22:29] Axel29 commented on #32706
Hi, thanks for the answer, I didn't try it on a 2.3.6 or higher, do you have by any chance the fix for it?

Thanks!

[2021-04-11 22:31] mrtuvn commented on #32706
https://support.magento.com/hc/en-us/articles/360049869051
Also while dive in some link i found this

[2021-04-11 22:53] Axel29 commented on #32706
The [MDVA-30107](https://support.magento.com/hc/en-us/articles/360049869051) patch doesn't seem to define the same issue. In this patch, the user gets redirected to the home page, which is not my case, but I'll try it tomorrow to be sure.

[2021-04-11 22:56] mrtuvn commented on #32667
I don't think this is a bug! What do you think @eduard13

[2021-04-12 03:16] BahaDuganov commented on #32607
Having the same error with Windcave PxPayIframe
The in-Store delivery method is not active

[2021-04-12 05:04] eduard13 commented on #32667
Hi @pratikvs, after having a closer look, it seems that the code sample misses some configurations. Here you can find the whole list of available widget's configurations: https://jqueryui.com/datepicker/#icon-trigger.

Closing as a non issue.
Thank you.

[2021-04-12 05:04] #32667 closed, assigned to nobody

[2021-04-12 05:06] magento-engcom-team commented on #32667
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-12 06:24] engcom-Oscar commented on #32704
Hello @swap-994 !
Please check if you have enabled the url rewrite in your store configuration: Admin->Configuration->General->Web-> Search Engine Optimization-> "Use Web Server Rewrites". Then you need to do full reindex and flush cache.

[2021-04-12 06:36] oneserv-heuser commented on #18025
Still an issue which needs to be fixed.

[2021-04-12 06:48] aligent-lturner commented on #31866
This is a duplicate of #31643

[2021-04-12 06:53] kevinboerland commented on #31828
Yes, this issue is still relevant.

[2021-04-12 06:53] #31866 closed, assigned to aligent-lturner

[2021-04-12 07:26] nordcomputer opened #32712 "unnecessary spaces around inline-link widget"
### Preconditions (*)
Magento 2.4.2

### Steps to reproduce (*)
1. Place an inline-link (widget) into a site or cms-block inside of a text.
`This is a ,{{widget type="Magento\Catalog\Block\Category\Widget\Link" anchor_text="link" title="link" template="category/widget/link/link_inline.phtml" id_path="category/4"}}, to show the behaviour of inline-links.`

### Expected result (*)
The link should no

[2021-04-12 07:30] rb-ec commented on #18025
definitely still an issue that needs fixing. @engcom-Charlie  magento-engcom-team

[2021-04-12 07:30] wajihkm opened #32713 "Register Capture Notification for different Currency"
https://github.com/magento/magento2/blob/c46d9bfea43f6ce8fe572b4498e858f15b3319cb/app/code/Magento/Sales/Model/Order/Payment/Operations/RegisterCaptureNotificationOperation.php#L42

The payment gateway's partial_capture command captures the amount in "Order Currency [$order->getOrderCurrencyCode()]",
How to register a capture command in the Currency that is used to Place the Order?

[2021-04-12 07:43] WebWeave commented on #31828
Any update on this issue from @magento-engcom-team ?

[2021-04-12 07:53] magento-engcom-team commented on #24275
Hi @ysapoodle, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24004` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-12 07:53] #24275 closed, assigned to nobody

[2021-04-12 07:56] magento-engcom-team commented on #24275
Hi @ysapoodle.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24004` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-12 07:59] alex-james commented on #32697
Not acl.xsd, acl_merged.xsd - see: https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Acl/etc/acl_merged.xsd

[2021-04-12 09:27] Eddcapone commented on #32700
@mrtuvn Oh sorry, I accidentially pasted the wrong path :( I corrected the question

[2021-04-12 09:32] HenKun commented on #31555
Any more updates needed for this issue?

[2021-04-12 10:05] Eddcapone opened #32715 "Can't override knockoutjs template"
### Preconditions (*)

1. 2.4.2 EE

### Steps to reproduce (*)

I try to override the knockoutjs template `vendor\amasty\module-single-step-checkout\view\frontend\web\template\checkout\summary\item\details.html` from my own Theme.
The module `amasty\module-single-step-checkout` is registered as `Amasty_Checkout`

#### Attempt 1:

I copied the file into my theme at `THEME\Amasty_Checkout\web\templa

[2021-04-12 10:30] malafalx91 commented on #22841
Has anyone solved this problem? On Magento 2.4.2 there is still

[2021-04-12 10:36] engcom-Oscar commented on #32706
Hi @Axel29 !
Can you please check and confirm that issue not valid against 2-4-develop code (I was not able to reproduce it on 2-4-develop branch)

[2021-04-12 11:35] zakdma commented on #25947
@duckchip @taihuuho @pandurangbabar
Thank you for your messages.
We cannot reproduce it as we wrote above. There are several possible reasons that can cause this issue and most of them not on Magento side. Among them: too small heartbeat, load balancer between Magento and RabbitMQ that has too small connection timeout,
Please refer to this comment for full list with explanation
https://github.com/

[2021-04-12 11:46] taipt-0504 opened #32717 "Inline edit admin grid record while filter with conditions error."
### Preconditions (*)

1. Magento 2.3.5 EE, Magento 2.4.1 EE

### Steps to reproduce (*)

1. Go to Customer list screen and filter by some conditions. For example customer by group. Make sure results has only 1 total page.
![1customer](https://user-images.githubusercontent.com/49227466/114393096-d9352980-9bc3-11eb-8c3e-d983b8369795.PNG)
![2filter customer group](https://user-images.githubuserconte

[2021-04-12 12:26] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2021-04-12 12:32] #30315 closed, assigned to nobody

[2021-04-12 12:35] cundd commented on #25076
Ist there nobody that could take care of this?

[2021-04-12 13:13] magento-engcom-team commented on #32717
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41859` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-12 13:31] nuzil commented on #31213
Hey @hostep @itaymesh
this comment: https://github.com/magento/magento2/issues/31213#issuecomment-742697196

definitely in general architecture make sense to use interfaces. Cannot currently tell it was done like that, there could me some historical reasons for that. but if you have some ideas and willing to change this, feel free

[2021-04-12 13:38] engcom-Oscar commented on #32708
Hi @iphigenie ! Did you flush the cache after making changes with product's attribute? Because for me product's sorting working well - I tried to reproduce this issue on 2.4-develop branch.
![Screenshot from 2021-04-12 16-34-45](https://user-images.githubusercontent.com/60198413/114403295-5608d900-9bad-11eb-8192-fb9c7592e847.png)

[2021-04-12 13:41] timpea commented on #23964
@DJB95 We are having the same issue in 2.4.2 - I think it will be fixed in 2.4.3 - https://github.com/magento/magento2/issues/31063

[2021-04-12 13:59] chequille opened #32718 "Update to 2.4.2 is not possible with PHP 7.4.3"
### Preconditions (*)

1. Installed php version 7.4.3
2. Magento 2.4.1

### Steps to reproduce (*)

1. Use composer require magento/product-community-edition 2.4.2 --no-update
2.

### Expected result (*)

1. Should update composer.json
2.

### Actual result (*)

1. Could not find a Magento project package matching "magento/product-community-edition 2.4.2" for PHP version 7.4.3
2.

---
Please provi

[2021-04-12 14:06] ilnytskyi commented on #30151
Up

[2021-04-12 14:26] hostep commented on #16202
For the people interested, [MC-40371](https://github.com/magento/magento2/commit/2243b48d4dc1384a46845a2f998d319d324b8aec) fixed part of the problem, but it started breaking again after step 16. https://github.com/magento/magento2/pull/32598 then solved the remainder, and now the bug no longer occurs as far as I can see. All category url_path's (and url rewrites having to do with these) are being

[2021-04-12 14:35] katonahmike commented on #23908
We also have this issue after upgrading to Magento 2.4.2. Support is claiming it's related the 3rd party extensions. It is affecting all existing customers who make the mistake of logging-in.

[2021-04-12 14:47] mrtuvn commented on #32715
Add mixin for `Amasty_Checkout/js/view/checkout/summary/item/details` and place you custom js in module
`YourBrand_CustomAmastyCheckout/js/view/checkout/summary/item/details-mixin`

[2021-04-12 14:51] mrtuvn commented on #32715
This problem may suitable for magento stackexchange than git for purpose report bug. In my opinion this may not a bug

[2021-04-12 15:03] schensley commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-04-12 15:09] schensley commented on #30835
@magento give me 2.4.2 instance

[2021-04-12 15:21] iphigenie commented on #32708
definitely cache flushed, reindexed - done a few times. I still get white before turquoise.

[2021-04-12 15:22] iphigenie commented on #32708
@magento give me 2.4 instance

[2021-04-12 15:55] iphigenie commented on #32708
so yes, the issue happens on 2.4.2 release https://ad1bf489fc81b71d7ceb70130152bac4-2-4.instances.magento-community.engineering/gear/bags.html?product_list_order=color  I did clear the caches but no command line access to flush or reindex.

[2021-04-12 15:55] iphigenie commented on #32708
@magento give me 2.4-develop instance

[2021-04-12 16:32] #30174 closed, assigned to nobody

[2021-04-12 16:32] #28763 closed, assigned to nobody

[2021-04-12 16:33] magento-engcom-team commented on #30174
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-12 16:35] magento-engcom-team commented on #30174
Hi @aurquiel.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40378` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-12 16:40] #29052 closed, assigned to nobody

[2021-04-12 16:42] gabrieldagama commented on #30593
Hi @tykvasergey are you still working on this issue? If not, please unassign yourself. Thanks!

[2021-04-12 17:21] iphigenie commented on #32708
Hi @engcom-Oscar are you sure it is sorting there? Because that is the default category order and unless you have set colors on all the other products the two color products should not be in the middle

Magento 2.4.2 release instance requested here today

cache flushed via admin button

https://ad1bf489fc81b71d7ceb70130152bac4-2-4.instances.magento-community.engineering/gear/bags.html?product_list

[2021-04-12 18:43] sprankhub commented on #26210
I hate this bot :)

This is still relevant.

[2021-04-12 20:37] PromInc opened #32721 "Admin Loads and Saves Bundle Product Child Items Price if Set to $0 - Incorrectly Inflates Product Price"
### Summary of Issue
When a child item of a bundle product has a price of `$0.00`, editing the parent bundle product in the admin sets the child items as their product price.  Then when you save the parent bundle product, those child product prices are saved and overwrites the `$0.00` set to them.  This results in an undesired inflation of the parent bundle product price.

To avoid this you have t

[2021-04-12 20:38] PromInc commented on #32721
The bug is here:

[code]
The comparator should be just `<` - not `<=`.

So the code should be:

[code]

[2021-04-13 04:38] ajijshekh123 commented on #32712
Hello @nordcomputer,
This issue has been fixed and merged the code throw the below link:
https://github.com/magento/magento2/pull/32719

Thanks.

[2021-04-13 04:38] #32712 closed, assigned to mrtuvn, ajijshekh123

[2021-04-13 04:46] krishprakash commented on #32570
Hi @davirs. Thank you for your report.
This is done intentionally. You can refer issue #26054

[2021-04-13 04:46] #32570 closed, assigned to krishprakash

[2021-04-13 05:05] krishprakash commented on #32721
@magento give me 2.4-develop instance

[2021-04-13 05:12] magento-engcom-team commented on #31134
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41872` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-13 05:31] magento-engcom-team commented on #32721
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41873` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-13 05:51] mrtuvn commented on #27699
cc: @lbajsarowicz do you still able reproduce issue or catch up this issue

[2021-04-13 06:07] hostep commented on #29363
Still happening, not stale, it's not my fault that nobody wants to confirm this ...

[2021-04-13 06:10] vityakopin commented on #17591
Looks like a duplicate of #7065

[2021-04-13 06:12] ihor-sviziev commented on #25076
@sidolov @sivaschenko @gabrieldagama, I think this issue should have p1 priority as Magento's emails are not rendering correctly.

[2021-04-13 06:49] sandeep570 commented on #11252
@Akki8388  Did u get any solution on what you got the issue?? I got the same error. could u pls help me out?

[2021-04-13 06:56] #24475 closed, assigned to nobody

[2021-04-13 06:57] magento-engcom-team commented on #24475
Hi @allanpaiste.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24062` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-13 06:58] engcom-Kilo commented on #24475
Hello @allanpaiste
Thanks for report. This issue has been fixed in https://github.com/magento-tsg/magento2/commit/f374b9eb9271502adecb6cabafb1a572cab31526

[2021-04-13 07:15] cundd commented on #25076
Thank you guys for giving this another look!

[2021-04-13 08:01] tykvasergey commented on #30593
Hi, Gabriel da Gama.
I've unsigned. Thanks.

пн, 12 апр. 2021 г. в 19:42, Gabriel da Gama ***@***.***>:

[2021-04-13 08:11] magento-engcom-team commented on #29363
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-13 08:26] ZIPITRO commented on #27699
Also had this issue, but since version 2.4.2 this error didn't show up in my case, which version of Magento are you running currently?

[2021-04-13 08:31] magento-engcom-team commented on #29363
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41875` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-13 08:35] aboritskiy commented on #32668
we also having this issue on Magento Cloud 2.4.0 when Google Tag Manager is activated.
It happens for users that have their billing address saved before going to checkout.

[2021-04-13 08:36] engcom-Oscar commented on #27699
Hi @lbajsarowicz ! Thank you for your report.
May you please recheck if this issue reproducible on latest 2.4-develop code?

[2021-04-13 09:13] ZIPITRO commented on #32450
@magento give me 2.4-develop instance

[2021-04-13 09:25] engcom-Oscar commented on #32697
Hi @alex-james ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket. May you share more details in description, please. Do you use composer  version of Magento, or from git?

[2021-04-13 09:33] artttj commented on #32668
@magento give me 2.4.2 instance with edition ee

[2021-04-13 09:34] magento-engcom-team commented on #30151
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41877` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-13 09:35] alex-james commented on #32697
The project was composer installed, the fundamental issue here is that this file in the repo specifies title as required:
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Acl/etc/acl_merged.xsd

Yet a composer install of magento/module-inventory-in-store-pickup (v1.1.0) includes an /etc/acl.xml that does not contain title attributes.

[2021-04-13 09:42] ZIPITRO commented on #32450
In Vanilla Magento the label is not visible, but the KO code only shows items
`<span class="counter-label">

                1
                <span>items</span>

            </span>`

[2021-04-13 09:42] Eddcapone commented on #32715
@mrtuvn ok thanks, but are you sure that this is not a bug? You can override templates by placing them in your own theme. I also managed to do this with .phtml and .html but in this case it just does not work. Maybe because the template is hardcoded into the .js view model file? You can't even override it from a layout file.
This looks like a bug to me. It should get programmed properly, so that y

[2021-04-13 09:58] mrtuvn commented on #32715
I'm not sure maybe template process by jsLayout will different than normal template block (phtml) with fallback mechanism. Need to recheck

[2021-04-13 10:03] mrtuvn commented on #32715
Another approach you can try is use requirejs-config.js in custom theme to replacehtml

use map directive
'Amasty_Checkout/checkout/summary/item/details': 'Amasty_Checkout/checkout/summary/item/details-custom'

Amasty_Checkout/checkout/summary/item/details-custom create your own html file in theme

[2021-04-13 10:32] milanu13 commented on #32655
Hi, I was working using an IP address. After pointing to the real domain this issue is gone.  Thank You for your effort.

[2021-04-13 10:32] #32655 closed, assigned to shikhamis11

[2021-04-13 10:44] bselimb opened #32724 "Switching From One Store to Another - MYSQL Process Stuck at "Sending Data" State - Multistore Magento"
**Summary of Issue**

We have a Magento 2.4.1 setup with 8 stores, 8 websites, 16 store views.
We are using the theme Martfury (2.3 latest version as of today)
We've created another block for switching between stores as the theme only allows us to change language (storeview).
When I try to change from one store to another it gives me a 524 error and when I check MSYQL processes it shows this query

[2021-04-13 10:54] joshdavenport commented on #32310
@magento give me 2.4-develop instance

[2021-04-13 11:12] timpea opened #32734 "Catalog Price Rule with Condition Category Is Not One Of not applied to products without a category"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Create 3 products,
2. 1 product in a category "no discount"
3. 1 product in a category "10% off"
4. 1 product with no category
5. Create a Catalog Price Rule - 10% Original Price, in conditions add Category is not one of and select "no discount" category
6. Create an order with all 3 products

### Expected result (*)

1. The p

[2021-04-13 11:12] timpea commented on #32734
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-04-13 11:36] aleksejtsebinoga opened #32736 "Wrong Cart Price Rule calculation logic"
### Preconditions (*)
1. Magento CE 2.4.0
2. Vertex is disabled
3. Configure Tax calculation settings in Stores -> Configuration -> Sales -> Tax -> Calculation settings to -

![Screenshot 2021-04-13 at 15 20 17](https://user-images.githubusercontent.com/28878572/114551242-cc6c1080-9c6b-11eb-84de-aaaa64fc6e92.png)

### Steps to reproduce (*)

1. Create a Cart Rule with the TEST10P code and the acti

[2021-04-13 12:07] engcom-Oscar commented on #32736
Hi @aleksejtsebinoga ! Thank you for your report.
I try to verify this issue, but looks like we miss some preconditions, because I get different result. May you please update description of the ticket.
![Uploading Screenshot from 2021-04-13 15-06-30.png…]()

[2021-04-13 12:22] aleksejtsebinoga commented on #32736
@engcom-Oscar , I see that your Original Price is 899.
It seems like your installation is configured as Catalog Prices - Including Taxes.

In our case - it is different I moved the configuration preconditions from steps to reproduce into the Preconditions section and added the screenshot of the current configs we have.

Hope this will help.

[2021-04-13 12:44] PromInc commented on #32721
@magento give me 2.4-develop instance

[2021-04-13 12:55] PromInc commented on #32721
This issue can be closed as it has already been addressed in the 2.4-develop branch via commit acdefe469fbd242d66063a35f87aca202e884454

I have confirmed via the Magento instance the bug is resolved.

[2021-04-13 12:55] #32721 closed, assigned to nobody

[2021-04-13 12:57] magento-engcom-team commented on #32721
Hi @PromInc.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41873` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-13 13:56] engcom-Foxtrot commented on #30012
Hello, @gamort. I've checked this issue on the 2.4-develop branch and seems like it's already fixed. Could you please check it on the latest codebase?

[2021-04-13 14:08] nicolai-hoeks commented on #29050
Very much still relevant.
Managing images is a nightmare when managing multiple storeviews

[2021-04-13 15:07] Eddcapone commented on #32715
I already found a way to override the template via uiRegistry, but in this bug report I try to point out that it does not work the normal way. But thank you very much for your help attempt.

[2021-04-13 15:10] #32675 closed, assigned to mrtuvn

[2021-04-13 15:10] #32014 closed, assigned to vlmed

[2021-04-13 15:10] #32022 closed, assigned to mrtuvn

[2021-04-13 15:10] #32023 closed, assigned to vlmed

[2021-04-13 15:10] #32024 closed, assigned to mrtuvn

[2021-04-13 15:10] #32035 closed, assigned to mrtuvn

[2021-04-13 15:10] #32036 closed, assigned to mrtuvn

[2021-04-13 15:10] #32672 closed, assigned to mrtuvn

[2021-04-13 15:10] #32673 closed, assigned to mrtuvn

[2021-04-13 15:10] #32034 closed, assigned to mrtuvn

[2021-04-13 15:10] #32041 closed, assigned to vlmed

[2021-04-13 15:13] magento-engcom-team commented on #32036
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-13 15:20] mrtuvn commented on #32715
Good to know! Glad you find the way when we got many ways to get a job done. But imo i don't like XML way with crazy XML tree xmas. Hard to track. Hope it's should be improved someday

[2021-04-13 15:32] yiukamsum opened #32739 "Redirct to cart after place order"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Add a product to the cart
2. Go to checkout
3. Go to second step (payments)
4. Before selecting a pament method, open coupon code to be aible to enter a coupon code
5. Than select a pament method.
6. Place Order

### Expected result (*)

1. Go to Success Page

### Actual result (*)

1. Redirected to Cart Page
![image](https://

[2021-04-13 15:33] yiukamsum commented on #32739
@magento give me 2.4-develop instance

[2021-04-13 16:01] aboritskiy commented on #26375
seems like there is an official patch for this problem: https://support.magento.com/hc/en-us/articles/360058863531-MDVA-33289-Magento-patch-Javascript-in-address-at-checkout

[2021-04-13 16:01] aboritskiy commented on #32668
seems there is an official patch for this problem: https://support.magento.com/hc/en-us/articles/360058863531-MDVA-33289-Magento-patch-Javascript-in-address-at-checkout

[2021-04-13 16:30] gabrieldagama commented on #32651
Hi @shinesoftware, on public GitHub we are just accepting issues that are reproducible on 2.4-develop, if that is not the case we will close this issue. We recommend you to upgrade to the latest version to get this fix.

Hope that helps. Thanks!

[2021-04-13 16:30] #32651 closed, assigned to nobody

[2021-04-13 16:59] bartlubbersen commented on #32544
I just came across the same issue in a Magento 2.2 shop, not sure how much the code changed in M2.4/2.3 for the consumer part. But as far as I can see looking through the code, there are no changes that could solve this issue between these versions so probably it's the same issue.

After some research I came to the conclusion that for the shop I am working on it's due to the data caching in the Pr

[2021-04-13 18:21] bselimb commented on #32724
We found the issue, it turns out widgets on the homepage when set to show products that are best selling for the selected category causing the problem. We turned it to some random products and it worked smooth. I'm closing this issue.

[2021-04-13 18:21] #32724 closed, assigned to nobody

[2021-04-13 18:25] shiftedreality commented on #32285
DevDocs was updated with https://github.com/magento-commerce/devdocs/pull/2170

[2021-04-13 19:03] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-04-13 21:50] hostep commented on #32285
@shiftedreality: please link to publicly visible repositories, the link you put here is a private repository, thanks! 🙂

[2021-04-13 21:54] shiftedreality commented on #32285
@hostep thanks for noticing this, changed to link on DevDocs instead of private PR

[2021-04-13 23:16] mrtuvn commented on #32715
Amasty checkout module is more complex than normal so i don't think you can override with basic normal way. I don't dig too much in it but i think they create they stuff via php for init components. Component will be added via php array

[2021-04-13 23:38] mrtuvn commented on #32715
![Screenshot from 2021-04-14 06-37-22](https://user-images.githubusercontent.com/1908873/114634040-e9482880-9ceb-11eb-8302-d5fada5ea5ed.png)
Tested replace html app/code/Magento/Checkout inside theme luma

[2021-04-13 23:54] mrtuvn commented on #32715
![Screenshot from 2021-04-14 06-53-15](https://user-images.githubusercontent.com/1908873/114635073-1d244d80-9cee-11eb-9eee-9ba25e39ee0b.png)
This one demo override html via layout like your second attemp in description

[2021-04-14 01:55] tuyennn commented on #24798
The issue could be replicated on M2.4.1 @engcom-Bravo  @wilfriedwolf possible reopen the ticket

[2021-04-14 04:27] krishprakash commented on #32739
Hi @yiukamsum. Kindly provide more details/additional steps in which you face this issue.

[2021-04-14 05:24] pemann commented on #32739
@magento give me 2.4-develop instance

[2021-04-14 06:18] ihor-sviziev commented on #32609
Hi @maciej-orba,
Unfortunately, we didn't get any response from you for a long time, so I'll close this issue as fixed. In case if you still have this issue - please drop a comment here.

[2021-04-14 06:18] #32609 closed, assigned to ihor-sviziev

[2021-04-14 07:29] iphigenie commented on #32708
Hi again @engcom-Oscar I think your screenshot is just the default category order, not sorted by color?

![114403295-5608d900-9bad-11eb-8192-fb9c7592e847](https://user-images.githubusercontent.com/1055826/114670922-6a5aec00-9cfb-11eb-8ec8-4ba4e5f4422f.png)

[2021-04-14 07:32] iphigenie commented on #32708
@magento give me 2.4-develop instance

[2021-04-14 07:49] wilfriedwolf commented on #24798
Hi @tuyennn, actually I do not have the time to invest in this Bug and I do not know how to reopen the ticket. Anyhow, if @engcom-Bravo does, I'll happily discuss here with you :)

[2021-04-14 08:21] PiroozMB commented on #20974
Could you view this because Google is reranking websites based on their speed and magento2 mobile scores really bad. it's barely getting a score above 20.

[2021-04-14 08:23] m2-assistant[bot] opened #32740 "[Issue] Replace repetitive actions with Action Groups in NewProductsListWidgetTest"
This issue is automatically created based on existing pull request: magento/magento2#32702: Replace repetitive actions with Action Groups in NewProductsListWidgetTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the local environme

[2021-04-14 08:50] iphigenie commented on #32708
I have now reproduced this 3 times with deployments supplied here can someone please tag it?

[2021-04-14 09:26] VincentMarmiesse opened #32741 "Create an account when guest checkout is disabled redirects to customer dashboard"
### Preconditions (*)
1. Magento 2.4.2
2. Configuration Allow Guest Checkout : No
3. Configuration Redirect Customer to Account Dashboard after Logging in : No

### Steps to reproduce (*)
1. As a guest, add a product to cart
2. Go to shopping cart page and click on Proceed to checkout button
3. Click on Create an Account button
4. Create an account

### Expected result (*)
1. Customer should be re

[2021-04-14 09:27] VincentMarmiesse commented on #32741
@magento give me 2.4-develop instance

[2021-04-14 09:39] VincentMarmiesse commented on #32741
I confirm the issue on your vanilla Magento instance: when I click to Proceed to checkout and create an account, I am redirected to the dashboard.

[2021-04-14 09:39] magento-engcom-team commented on #32734
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41893` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-14 10:06] iphigenie commented on #31316
I have tried to re-enable the optimizer and had errors happen again.
Google optimizer, even if not configured and therefore not used, intercepts and triggers on URL

[2021-04-14 12:13] blowfish-ltd commented on #13526
for example we are creating japanese language

firstly download your language pack to magento roor path

then execute the following command

php bin/magento i18n:pack ja_JP.csv ja_JP -m merge -d -vvv

flush & clean cache it will work

check the path: lib/web/i18n/

it should contain your csv file

[2021-04-14 12:44] yiukamsum commented on #32739
I have updated the description. Please check it. Thanks for your help.

[2021-04-14 13:26] evs-xsarus opened #32743 "Support different store in CountryInformationAcquirer"
### Description (*)
The functions in \Magento\Directory\Api\CountryInformationAcquirerInterface get their data based on the current store. In custom exports to third parties, eg. and order export, one can inject this interface to get country information based on the shipping address. To get the correct information, the order's store should be used in the functions.

Currently, when eg, Spain isn't

[2021-04-14 13:26] evs-xsarus commented on #32743
@magento give me 2.4-develop instance

[2021-04-14 13:31] MJTheOne commented on #13128
Sometimes it really baffles me how broken Magento 2 is.. Everything I keep running into is an already existing issue for many people with no real solutions
Thx @daiduongvo18 !

[2021-04-14 13:47] Eddcapone commented on #32715
@mrtuvn yes I guess the bug is only caused if the template was already overriden by another module. like described in my question. There is a module called "Amasty_Checkout" which overrides the template. And I try to override the overriden template again. Do you understand?

[2021-04-14 13:49] engcom-Oscar commented on #32741
Hi @VincentMarmiesse  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket. Looks like we missing some precondition details. May you please recheck issue description and update it.

[2021-04-14 13:57] evs-xsarus commented on #32743
This diff works for me, could someone translate it to a PR?

[code]

[2021-04-14 14:35] VincentMarmiesse commented on #32741
@magento give me 2.4-develop instance

[2021-04-14 14:46] VincentMarmiesse commented on #32741
Hi @engcom-Oscar,

Here are the steps I just did to reproduce the issue on the vanilla instance:
1. Log in to the back-office
2. Go to Stores > Configuration > Sales > Checkout > Checkout Options and set Allow Guest Checkout to No.
3. Refresh configuration cache
4. On the front, add any product to shopping cart
5. Go to shopping cart, click on Proceed to Checkout, then Create an Account
6. Create

[2021-04-14 14:50] VincentMarmiesse commented on #32741
@engcom-Oscar here is a link to the video: https://www.awesomescreenshot.com/video/3380771?key=9d53c0138f2cf9d5ac0a904e8b3dbde9

[2021-04-14 14:53] andrewb49 opened #32745 "Magento 2.4.1 SQLSTATE[42S02]: Base table or view not found: 1146 Table 'xxx.catalog_category_product_index_store0' doesn't exist"
### Preconditions (*)

Get all categories by REST API Magento 2.4.1

### Steps to reproduce (*)

GET https://domain/rest/all/V1/categories/

### Expected result (*)

Get all categories

### Actual result (*)

In Exception Log: Message: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'xxx.catalog_category_product_index_store0' doesn't exist, query was: SELECT cat_index.category_id, count(

[2021-04-14 14:58] mikamarkus opened #32746 "Unique constraint violation found after saving CMS Page (subpage)"
This error occurs only when the page is added as other page's subpage in Page Hierarchy

### Preconditions (*)
Magento v2.4.2

### Steps to reproduce (*)
1. Create and save a new CMS Page
2. Add page as other page's sub page in Page Hierarchy
3. Go edit the page you created and try to save - Error occurs

### Expected result (*)

Page should be saved without error and user should be redirected bac

[2021-04-14 15:00] hunterallen opened #32747 "Admin user 2FA provider preference not saving"
### Preconditions (*)

1. Magento 2.4.2
2. Authy and U2F 2FA providers enabled

### Steps to reproduce (*)

1. Enable Authy and U2F in Stores > Configuration > Security > 2FA
2. Login to admin without U2F key

### Expected result (*)

1. Expected to be prompted with users default 2FA option.

### Actual result (*)

1. Users without U2F key prompted to re-configure Two-Factor Authorization.
<img wi

[2021-04-14 15:02] mikamarkus opened #32748 "Error while opening Media Gallery in any Page Builder image component"
### Preconditions (*)

Magento Commerce v2.4.2

### Steps to reproduce (*)

1. Drag Image component to page
2. Click Select from Gallery
3. Modal will open, but it only says "Insert images..." at the top and no content

### Expected result (*)

Media Gallery should be loaded and user should be able to select an asset

### Actual result (*)

Empty modal appears

Console warnings:

`DevTools failed

[2021-04-14 15:05] mrtuvn commented on #32715
![Screenshot from 2021-04-14 22-04-25](https://user-images.githubusercontent.com/1908873/114733273-6667b200-9d6d-11eb-92aa-9eb260585d71.png)
still work at my local

[2021-04-14 15:36] palviggi-flagbit commented on #24735
I'm too getting half sized images in the minicart on desktop now. was this tested?
i had to revert this one and  app/code/Magento/Checkout/view/frontend/web/template/summary/item/details/thumbnail.html (same problem, no ticket associated)

[2021-04-14 17:24] danieldespainTLS commented on #24735
We discovered that it was partly our fault.  The newer version of Magento updated the view.xml file to a value of 150 and then the .phtml file divides it (value from XML) in half.  We had modified the view.xml and still had the old value that was then divided by the phtml to result in tiny images.  If you haven't modified the xml or .phtml, then Magento works correctly "out of the box" but if you

[2021-04-14 17:36] sdzhepa commented on #28614
The issue confirmed based on a lot of complaints and confirmation in comments - it's still actual for the latest version.
I hope it speeds up escalation, investigation, and resolution in both community and internal backlogs

[2021-04-14 17:37] magento-engcom-team commented on #28614
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41908` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-14 18:11] arozmanroza commented on #23462
I had a similar experience.

composer dump-autoload -o

After this command, I could no longer go into developer mode!

I deleted the entire vendor magento and installed the new Megento 2.3.6

After that, the problems started. Reindex catalog products my server crashed. It took too much memory.
After one week I dont found problem and reverted the whole system for 10 days back.

Now works fine!
Prob

[2021-04-14 18:26] AndresSB2018 commented on #24942
how can I override the di.xml file in my presonalized module to comment out the line that is generating the error ?

[2021-04-14 18:35] Naberdz opened #32749 "Street Address {n} is double handled by localisation systems implemented in uiComponents"
### Preconditions (*)

1. Magento 2.4.2 php 7.4

### Steps to reproduce (*)

1. Create checkout module with the __("Street Address"), __("Street address 1") and so on
2. Create translation of your plugin with something like "Street Address","Street" "Street address 1","House number"

### Expected result (*)

1. translation should work

### Actual result (*)

1. right now we are getting translation

[2021-04-14 18:40] #32694 closed, assigned to ihor-sviziev

[2021-04-14 18:43] nans commented on #32694
Class updated in Magento 2.4.1, so the issue for the new version is not actual.

[2021-04-14 19:20] maciej-orba commented on #32609
yes i can confirm, fixed in installer 0.2.1

[2021-04-14 19:23] maciej-orba commented on #32609
PHP CodeSniffer Config installed_paths set to ../../magento/magento-coding-standard,../../phpcompatibility/php-compatibility

[2021-04-14 20:13] redati commented on #28614
I have the problem in 2.4.2

Could have option to activate invisible recaptcha in place order

[2021-04-14 20:15] milltu opened #32750 "unable to save new product in magento 2.4"
### Preconditions (*)

1. Am following the book Magneto 2 Explained pages 36-40 on creating a new product
2. Am in Magento 2.4.0

### Steps to reproduce (*)

1. I am following the exact steps as outlined in this book for how to create a new product. I have checked & double checked and am following the instructions exactly, but it doesn't work. The book was made with Magento 2.2 but the UI looks th

[2021-04-14 20:17] Grumag commented on #28614
There is no option to do this in Magento. Google `"best practices" doesn't
recommend putting invisible recaptcha or any recaptcha on payment pages.

There are 3rd party extensions that will allow you to do this, or you can
use CloudFlare to block repeat requests to the relevant URL. CloudFlare is
free.

The Magento team has finally acknowledged the serious problem and will
hopefully address it.

O

[2021-04-14 20:31] dpkdeshmukh12 commented on #28614
Until this issue is fixed it's better to enable captcha reCAPTCHA v2 ("I am not a robot") under Store > Configuration > Security > Google reCaptcha Storefront(Default feature present in 2.4.2). Enable it for the payment option. In my case, the invisible captcha was not working hence had to configure reCaptcha v2. It helped in restricting $0 submissions to payment gateway.

[2021-04-14 20:51] #31611 closed, assigned to kirmorozov

[2021-04-14 20:51] #31648 closed, assigned to aapokiiso

[2021-04-14 20:51] #31365 closed, assigned to nobody

[2021-04-14 20:56] sarron93 commented on #31882
I have created commit for fix this issue but nobody didn’t review this

[2021-04-14 21:42] #31991 closed, assigned to nobody

[2021-04-14 22:40] mrtuvn commented on #32746
I think this issue can able reproduce only with commerce version ! Page Hierarchy function not available in open source edition

[2021-04-14 22:44] mrtuvn commented on #32743
Can you create PR for this ?

[2021-04-14 23:51] mrtuvn commented on #32745
seem work in latest code base
![Screenshot from 2021-04-15 06-50-42](https://user-images.githubusercontent.com/1908873/114794609-faaa3700-9db6-11eb-9835-965275422b9f.png)
Have you try in 2.4.2 release

[2021-04-15 04:55] real34 commented on #31994
Hi!

@saphaljha did you have the opportunity to make some progress on this?

[2021-04-15 07:02] onlinebizsoft opened #32751 "Provide full backtrace in exception log"
### Summary (*)

Since Magento 2.2.x and newer, Magento do not provide a full backtrace for exception. Refer to this ticket https://github.com/magento/magento2/issues/13128

### Examples (*)

The issue can be seen whenever an exception happen. I know with xdebug and a test case then developer can get a backtrace on their local environment but in fact, bugs are hard to replicate sometime and when i

[2021-04-15 07:03] onlinebizsoft commented on #32751
@MJTheOne @daiduongvo18 @hostep @lbajsarowicz

[2021-04-15 07:57] rangerz commented on #28614
I made a module to add Google reCaptcha for place order against carding attack.
https://github.com/rangerz/magento2-module-re-captcha-checkout

It should support Magento 2.4.1 and above with braintree credit card payment.
I didn't test more cases. The module can work against [card attack script](https://gist.github.com/magenx/bdc56bf568caa3c23b2217055aef17b2)
Hope this can be helpful.

The module

[2021-04-15 08:33] lbajsarowicz commented on #32751
I'm not sure what feedback you expect?

Actually, it's not true, something you've noticed in the logs but you have no idea why this class was called. To investigate the issue, you need information about who called it and how.

[2021-04-15 08:34] engcom-Oscar commented on #32741
Hi @VincentMarmiesse !
I locally installed latest 2.4-develop branch of Magento 2 and failed again to reproduce this issue. Here my video
https://www.awesomescreenshot.com/video/3391054?key=237630c69c66ed29b882e71600381601

[2021-04-15 08:36] lbajsarowicz commented on #13128
@daiduongvo18 I really appreciate your investigation.
How about contributing your code change to Magento?

[2021-04-15 08:36] onlinebizsoft commented on #32751
I'm just tagging you here to follow up the new issue :) You know with xdebug and if you can replicate the issue locally then you can have backtrace information.

[2021-04-15 08:45] VincentMarmiesse commented on #32741
Hi @engcom-Oscar,

After seeing your video, I double checked and I found it works when you click on Proceed to checkout on the mini cart (like you did), but not from the shopping cart page (like I did).

Can you try these steps on a new session (private navigation for instance):
1. Add a product to cart
2. Go to shopping cart page
3. Click on Proceed to checkout button and create an account

Thank

[2021-04-15 09:26] magento-engcom-team commented on #32708
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41919` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-15 09:37] mateuszrusiecki commented on #12202
why this fix wasn't added to magento 2.3? WTF o_O? are you so fucking lazy?

[2021-04-15 10:17] engcom-Oscar commented on #32748
Hi @mikamarkus! Thank you for your report.
Unfortunately, I couldn't reproduce the issue on a fresh 2.4-develop by following steps from this ticket. May you please recheck if we not missing some preconditions here and update ticket description?

[2021-04-15 10:33] denis-zyk opened #32752 "Adobe Sensei (Product recommendations): renaming environment doesn't work"
### Preconditions (*)

1. Magento Commerce 2.4.1
2. Magento Product Recommendations 3.2.2
3. PHP 7.4.16

### Steps to reproduce (*)

1. Create & configure relevant API credentials under _STORES → Settings → Configuration → SERVICES → Magento Services_
2. Change "SaaS Environment" to one of "Testing" environments
3. Click on "Rename this Environment"
4. Enter a new value in "Environment Name" input

[2021-04-15 10:45] magento-engcom-team commented on #31177
Hi @sivaschenko, @sergeynezbritskiy, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39646` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-15 10:46] magento-engcom-team commented on #31177
Hi @sivaschenko, @sergeynezbritskiy, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41385` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-15 11:14] engcom-Kilo commented on #19069
Hello @avgust1111
Thanks for your report. I'm not able to reproduce this issue on 2.4-develop branch.
In case you still face this issue please feel free to create a new one.
![InvoiceBundleProduct](https://user-images.githubusercontent.com/60192090/114860543-ceada680-9df4-11eb-961c-569788a2fb97.gif)

[2021-04-15 11:14] #19069 closed, assigned to nobody

[2021-04-15 11:16] magento-engcom-team commented on #19069
Hi @avgust1111.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24505` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-15 11:27] makproductions commented on #10978
This needs to be a higher priority! issue is happening for us and customer billing address attributes at checkout disappear

[2021-04-15 11:54] engcom-Kilo commented on #19432
Hello @stephan-cream
Thanks for your report. I'm not able to reproduce this issue on 2.4-develop.
In case you still facing this issue please feel free to create new one.
![CustomerAutogroup](https://user-images.githubusercontent.com/60192090/114865149-872a1900-9dfa-11eb-975c-8c6d1e577750.gif)

[2021-04-15 11:54] #19432 closed, assigned to engcom-Kilo

[2021-04-15 11:56] magento-engcom-team commented on #19432
Hi @stephan-cream, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24500` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-15 12:20] engcom-Oscar commented on #32736
@aleksejtsebinoga Yes, as it written in the ticket - price of product is 899. Tax Calculation setting the same as in your description.
![Screenshot from 2021-04-15 15-17-37](https://user-images.githubusercontent.com/60198413/114867795-e178a900-9dfd-11eb-84a3-bdf16f5a3e00.png)
But result is still the same
![Screenshot from 2021-04-15 15-19-18](https://user-images.githubusercontent.com/60198413/1148

[2021-04-15 12:24] martasiewierska opened #32753 "Resizable knockout binding does not work on the frontend"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Add resizable knockout binding for UI Component template (for example minicart) as described in the documentation: https://devdocs.magento.com/guides/v2.4/ui_comp_guide/concepts/knockout-bindings.html#resizable

### Expected result (*)

1. There is a resizable element visible, with controls attached
2. No error in the console

[2021-04-15 12:28] vrielsa opened #32754 "Storing sessions in Redis causes longer loads"
### Preconditions (*)
1. Magento Community Edition 2.4.1
2. store sessions with redis
3. store cache with redis
4. varnish as fpc

### Steps to reproduce (*)
This is tricky, I haven't found a way to consistently reproduce this issue. But the behaviour **seems** a lot like what PR #22829 fixes. After receiving feedback from a customer we noticed that some steps in the checkout takes quite a bit of

[2021-04-15 12:41] mrtuvn commented on #32753
nice catch!

[2021-04-15 12:43] aleksejtsebinoga commented on #32736
Price Display Settings are Including Tax -

![Uploading Screenshot 2021-04-15 at 15.23.24.png…]()

[2021-04-15 13:39] alexiscl02 commented on #31007
Having the exact same issue as video posted by @CyberSecutor with Magento 2.4.2.

Maybe it was already present with a previous version and we didn't notice. We don't have much page with same URL key for different store view.

[2021-04-15 13:41] Serializator commented on #29403
@magento-engcom-team, I do not believe this issue should be closed because it is "stale", as such a comment so that it won't be closed. I think all information necessary is in the description of the issue. Please let me know if you need any more information!

[2021-04-15 13:43] textarea commented on #26582
anyone can take a look into this?

[2021-04-15 13:46] gwharton commented on #29859
Still not stale.

[2021-04-15 13:52] dverkade commented on #29457
Issues should not automatically close. Posting this comment to keep it active.

[2021-04-15 13:52] dverkade commented on #29806
Issues should not automatically close. Posting this comment to keep it active.

[2021-04-15 13:52] dverkade commented on #29975
Issues should not automatically close. Posting this comment to keep it active.

[2021-04-15 13:55] ihor-sviziev commented on #29806
@sidolov @gabrieldagama @sivaschenko could you take a look? It looks really important issue, probably should be P2

[2021-04-15 13:57] alex-james commented on #32697
@engcom-Oscar According to the XSD title needs to be present in ALL the <resource> nodes, your screenshot shows it only present in the final one.

[2021-04-15 14:01] ihor-sviziev commented on #29409
pls not close it

[2021-04-15 14:08] moranotcsos opened #32760 "Invoice Created Via /V1/order/:orderId/invoice Missing Items in Invoice Email"
### Preconditions (*)

1. 2.4.2

### Steps to reproduce (*)

1. Go to Marketing > _Communications_ > Email Templates.
2. Press Add New Template.
3. Load New Invoice template.
4. Add any Template Name.
5. Press Save Template.
6. Set the template you just created under Stores > Configuration > Invoice > Invoice Email Template.
7. Place order online.
8. Create invoice for the order via /V1/order/:ord

[2021-04-15 14:08] gabrieldagama commented on #29806
Hi @dverkade, thanks for reporting. Do you know if this issue is reproducible on 2.4-develop?

Thanks.

[2021-04-15 14:08] alex-james commented on #32697
@mrtuvn Agreed but the penultimate one <resource id="Magento_InventoryInStorePickupApi::inStorePickup> is surely unique to the Magento_InventoryInStorePickupApi module and this does not have a title

[2021-04-15 14:13] ioweb-gr commented on #28207
Not stale

[2021-04-15 14:14] ioweb-gr commented on #28119
not stale

[2021-04-15 14:34] magento-engcom-team commented on #32753
@mrtuvn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-15 14:36] magento-engcom-team commented on #32753
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41921` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-15 14:51] JMLucas96 commented on #8970
Same issue on Magento2.3.6 CE...

[2021-04-15 15:17] pratikvs opened #32761 "Product Recommendation Filters not working"
### Preconditions

1. Install Magento2 version 2.4.2
2. nstall Product Recommendations with latest version "^3.0". Follow this link (https://devdocs.magento.com/recommendations/install-configure.html).

### Steps to reproduce (*)

1. Log in into Magento admin. Go to Marketing > Product Recommendations.
2. Select the scope as Default Store View and click on create a recommendation
3. Add Recommenda

[2021-04-15 15:21] amenk commented on #28636
was this fixed?

[2021-04-15 15:41] Eddcapone commented on #32715
@mrtuvn ok I see you have a module called Amasty/CustomCheckout. Did you made any additional changes there to make it work?

[2021-04-15 15:47] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-04-15 15:53] ewheels70 opened #32763 "Payment denied option does not work"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-04-15 15:53] #32763 closed, assigned to nobody

[2021-04-15 16:02] ivanszabo commented on #28614
Located the attack, and they are calling the rest API for:

/V1/guest-carts/:cartId/payment-information
--

According to Cloudflare, 300K calls in a few minutes...

[2021-04-15 16:14] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-04-15 16:19] iphigenie commented on #32734
Hi

I was about to report a similar bug: the same thing happens with multiselect attributes - products which do not have the attribute set at all are not returned as matches for a "not one of" for a value of that attribute.

[2021-04-15 16:21] m2-assistant[bot] opened #32764 "[Issue] [MFTF] Check GoogleAnalytics rendering on the page."
This issue is automatically created based on existing pull request: magento/magento2#32762: [MFTF] Check GoogleAnalytics rendering on the page.

---------

### Description (*)

This test check if GoogleAnalytics was rendered on the pages

1. Enable GoogleAnalytics
2. Go to home page
3. Assert is GoogleAnalytics script present in code source.

[2021-04-15 16:24] mattyl commented on #28614
we got around this with rate limiting but are now suffering from more sophisticated attacks using thousands of IPs so rate limiting doesnt work. Its crazy this isnt fixed - there is no reason for a cart to need more than x attempts to pay - why cant someone clever come up with a solution to stop the same cart id being used more than a merchant defined x

[2021-04-15 16:25] iphigenie commented on #31316
@magento give me 2.4-develop instance

[2021-04-15 16:38] #31655 closed, assigned to nobody

[2021-04-15 16:40] YiffyToys commented on #31746
Still needed.
Brexit is still a thing.

[2021-04-15 16:54] m2-assistant[bot] opened #32765 "[Issue] Take required product attributes into account when caching used products"
This issue is automatically created based on existing pull request: magento/magento2#32698: Take required product attributes into account when caching used products

---------

### Description (*)
When calling `Magento\ConfigurableProduct\Model\Product\Type\Configurable::getUsedProducts()` with custom required attributes _after_ that method has already been called before, the collection doesn't lo

[2021-04-15 16:58] maureyz opened #32766 "Page Builder Error for Version 2.3.1"
### Preconditions (*)

1. Magento 2.3.1
2.PHP 7.2.3

### Steps to reproduce (*)

1.Go to Content
2.Then go Pages
3.Promotion
4.Edit a Product Promotion
5.Schedule a new update

### Expected result (*)

1. **This si what expect:**
![image](https://user-images.githubusercontent.com/82602868/114907584-d6635000-9de0-11eb-8ff2-c5a60a4141f8.png)

### Actual result (*)

1. **Instead of that is this:**
![

[2021-04-15 17:21] maureyz commented on #32766
I saw on this thread that this guy install a patch provided from you guys
https://github.com/magento/magento2/issues/31277
Thanks in advance!

[2021-04-15 17:46] hostep commented on #29457
@sidolov: can we get somebody to review this? This sounds quite important to me, thanks!

[2021-04-15 17:49] hostep commented on #31746
@sidolov: what would be status here?

Brexit happened 4 months ago and the 1st of July is not that far away anymore ...

[2021-04-15 17:57] maureyz commented on #32766
As the same directory about: `vendor/mageto/module-page-builder/view/adminhtml/web/js/page-builder.js` creates the pop up notifiation.

[2021-04-15 17:58] YiffyToys commented on #31746
We just had to refuse 3 more orders <135GBP because we can't set up the correct tax rules.

[2021-04-15 18:02] BooyaDirect commented on #28614
We are in USA and we literally had to block all traffic from all countries except the US in Cloudlare. All attackes seemed to be coming from outside the US. Go into Cloudflare and filter on path. Here is the paypal path that was being hit for us: /paypal/transparent/requestSecureToken. This should give you some idea of where the problem is originating. We also turned on Google recaptcha v3 invisib

[2021-04-15 18:10] mattyl commented on #28614
they are chasing us around - we blocked all countries except canada and us - so they moved to us only IPs - we blocked US they moved to canada only IPs, we are forced to captcha, now they are bombing our subscribe at checkout ..... its so frustrating that there is no recourse to law enforcement. Its costing us so much in time and reputation and there is no solution from magento.

[2021-04-15 18:16] milltu commented on #32750
So I can't ask a question? I filled out the form. If by "vanilla Magento instance" you mean Magento Open source, that's what I'm using. This was literally the first thing I tried to do in it. Now I'm somehow locked out of my account, so I can't even try to replicate this again today. So guess I'm just totally SOL.

[2021-04-15 18:16] BooyaDirect commented on #28614
Sorry to hear that mattyl. So extremely frustrating.

[2021-04-15 18:16] yutv commented on #27504
The issue still exists in vanilla Magento.
<details>
  <summary>See the screenshot.</summary>

![image](https://user-images.githubusercontent.com/1616522/114917032-2b798300-9e2e-11eb-9651-9b40e6e20e89.png)
</details>

Do I really need to confirm it exists each three months?

[2021-04-15 18:31] gwharton commented on #31746
Have you tried my module https://github.com/gwharton/autocustomergroup it's now on packagist too. It is beta, but better than nothing and seems fairly stable.

[2021-04-15 18:37] YiffyToys commented on #31746
Not yet. We've been busy fixing interoperability issues between Amazon and DHL plugins recently.

[2021-04-15 18:44] gwharton commented on #31746
Quick note to Magento core Devs. If you want to use any of the code from the module I have released, feel free to reach out. I'm more than happy to sign over the whole thing to Adobe for nothing.

[2021-04-15 18:49] sprankhub commented on #27849
This is still relevant.

[2021-04-15 18:49] sprankhub commented on #27341
This is still relevant.

[2021-04-15 19:17] PamelaPogorzelski opened #32767 "Magento Prod Stcuk"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1.  To be Unstuck

### Actual result (*)

1. It is Stuck
2.
![image](https://user-images.githubusercontent.com/82610991/114925856-a1b1c180-9dfd-11eb-81d0-94873d3b3f7f.png)

[2021-04-15 19:40] temptask commented on #32699
I am working on this issue

[2021-04-15 19:42] temptask commented on #32699
@magento I am working on this

[2021-04-15 19:42] temptask commented on #32699
@magento add to contributors team

[2021-04-15 19:43] temptask commented on #32699
@magento I am working on this

[2021-04-15 19:46] sourcebooks-webdev commented on #28614
Wow, sorry to hear this is hitting more folks. I posted way up on the thread, that I offered code to Magento for auto IP blacklisting that works with Cloud Commerce Enterprise version and Fastly. If folks would like to reach out to your Magento reps and point them back to this thread and beg/plead for them to add it to the core, I'd be more than happy to donate that code and make it available to t

[2021-04-15 19:48] sb-nick commented on #28614
Wow, sorry to hear this is hitting more folks. I posted way up on the thread, that I offered code to Magento for auto IP blacklisting that works with Cloud Commerce Enterprise version and Fastly. If folks would like to reach out to your Magento reps and point them back to this thread and beg/plead for them to add it to the core, I'd be more than happy to donate that code and make it available to t

[2021-04-15 21:02] ashvinimarwal commented on #25209
I'm also facing this issue on Magento 2.3.5 after migration from M1.

[2021-04-15 21:40] mrtuvn commented on #32715
No in last reploy that module not included/enable only module default of amasty and additional small in theme

[2021-04-15 21:49] okolesnyk commented on #32767
@magento give me 2.4-develop instance

[2021-04-15 22:01] cpartica commented on #27657
Fixed in https://github.com/magento/magento2/issues/28568

[2021-04-15 22:01] #27657 closed, assigned to nobody

[2021-04-15 22:03] mrtuvn commented on #32697
https://github.com/magento/inventory/blob/1.2-develop/InventoryInStorePickupApi/etc/acl.xml#L14
From codebase i see attribute title already here. Can you verify with your version

[2021-04-15 22:08] mrtuvn commented on #32767
Hello @PamelaPogorzelski ,
Please add your bugs in the below Magento Issue reporting guidelines.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Thank you

[2021-04-15 22:18] andrewb49 commented on #32745
@mrtuvn

Never tried it in 2.4.2 but it didn't work in 2.4.0 and 2.4.1.

Any patches for this?

[2021-04-15 22:31] mrtuvn commented on #32745
Both cases work fine with my test in latest code

[2021-04-15 22:47] mrtuvn commented on #22344
happy anniversary old buggy lolol

[2021-04-16 00:25] andrewb49 commented on #32745
@mrtuvn

It's single store website, but it isn't enabled. Do you think that cause the problem?

[2021-04-16 01:23] mrtuvn commented on #32745
dunno may not be that case! My test previously is single website no enabled single-mode

[2021-04-16 03:40] harshitmahendra commented on #30385
Still Not working on latest version of Magento.

[2021-04-16 04:19] krishprakash commented on #32767
@PamelaPogorzelski Kindly update issue description as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) with all steps in which you face the issue
Thanks

[2021-04-16 05:21] melnickforever commented on #31225
Do we have any updates?

[2021-04-16 06:11] Aiweline commented on #7932
因为新版本的app中di.xml依赖还未更新的问题
完整升级教程：https://bbs.aiweline.com/thread-120929.htm
此问题解决教程：
清空redis缓存
echo flushall | redis-cli
项目目录执行以下命令：
www@DEV# mkdir Magento236
www@DEV# cd Magento236
www@DEV# composer create-project --repository=https://repo.magento.com magento/project-community-edition=2.3.6 ./
www@DEV# rm -rf ../setup
www@DEV# cp setup ../       # 重要
www@DEV# cp -rf app ../     # 重要
www@DEV# cd .

[2021-04-16 06:40] bartoszkubicki commented on #26866
Still an issue.

[2021-04-16 07:28] engcom-Oscar commented on #32766
Hi @maureyz  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
So, we have to close this ticket.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on

[2021-04-16 07:28] #32766 closed, assigned to nobody

[2021-04-16 07:45] alex-james commented on #32697
Sorry @mrtuvn this is the line I am referring to that does not contain a title attribute:
<img width="389" alt="Screenshot 2021-04-16 at 08 44 07" src="https://user-images.githubusercontent.com/17109175/114990121-1b928b00-9e90-11eb-84b3-af4da7937b6c.png">
and yes, we are using version 2.4.2

[2021-04-16 07:47] ksaltik opened #32769 "229 364 Translated Words and Approved 419 only in crowdin"
### Preconditions (*)

1. Yes it is reproducable. If it is not not just 419 words will be approved.
2.

### Steps to reproduce (*)

1. 229 364 Translated Words and Approved 419 only
2. 229 364 Translated Words and Approved 419 only

### Expected result (*)

1. [Screenshots, logs or description]
2. 229 364 Translated Words and Approved 419 only

### Actual result (*)

1. [Screenshots, logs or descr

[2021-04-16 07:50] magento-engcom-team commented on #32017
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41929` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-16 08:12] magento-engcom-team commented on #32031
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41932` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-16 08:16] harrigo commented on #13225
Not sure if my issue is slightly different, im on 2.3.5-p1 and have locked my permissions down for those folders as per DevDocs and for just one module I have the following error sometimes generated in exception.log:

`[2021-04-16 08:08:58] main.CRITICAL: The path "/home/sites/magento/public_html/var/view_preprocessed/pub/static/frontend/Buzz/buzzluma/en_GB/Harrigo_CallForPrice/css/style.min.css"

[2021-04-16 10:20] magento-engcom-team commented on #32059
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41934` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-16 13:06] tprocter-ldg commented on #15427
Replicating on 2.3.5 - "The "xxxxxxxxxxx" order ID is incorrect. Verify the ID and try again."

[2021-04-16 13:18] magento-engcom-team commented on #32100
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41938` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-16 13:24] andrewb49 commented on #32745
@mrtuvn Can you test it out on 2.4.0 or 2.4.1?

[2021-04-16 13:26] PamelaPogorzelski commented on #32767
Oh I already fix it, so thanks anyway. But I’m ok!

[Pride]
Pamela Pogorzelski
Directora de Cuentas
—
Wunderman Thompson Chile
Ricardo Lyon 1262, Providencia
Santiago
Chile
—
T +56229409900
M +56957484599

De: m2-assistant[bot] ***@***.***>
Fecha: viernes, 16 de abril de 2021, 00:18
Para: magento/magento2 ***@***.***>
CC: Pamela Pogorzelski ***@***.***>, Mention ***@***.***>
Asunto: Re: [magento/m

[2021-04-16 13:37] krishprakash commented on #32767
Okay. Thanks for the update.
We can close this then

[2021-04-16 13:37] #32767 closed, assigned to krishprakash

[2021-04-16 13:45] PamelaPogorzelski commented on #32767
﻿Yes! Thanks anyway 😊

[Pride]
Pamela Pogorzelski
Directora de Cuentas
—
Wunderman Thompson Chile
Ricardo Lyon 1262, Providencia
Santiago
Chile
—
T +56229409900
M +56957484599

De: Prakash Prajapati ***@***.***>
Fecha: viernes, 16 de abril de 2021, 09:37
Para: magento/magento2 ***@***.***>
CC: Pamela Pogorzelski ***@***.***>, Mention ***@***.***>
Asunto: Re: [magento/magento2] Magento Prod Stcuk (

[2021-04-16 14:01] mrlerch commented on #31461
Any update on this? it seems weird to get this message on page load, and not when you are trying to process an order without checking the box. Please advise.

[2021-04-16 14:58] Eddcapone commented on #32715
@mrtuvn Ok thx for testing. I have no explanation for this then. I will close the issue and if I know how I can reproduce it everytime then I will open another issue. Thx!

[2021-04-16 14:58] #32715 closed, assigned to nobody

[2021-04-16 14:59] mrtuvn commented on #32715
If you need any further discuss please ping me or DMs to me on slack or skype (see my profile).

[2021-04-16 15:21] php4umagento commented on #15772
This isisue is still reproducable with 2.3.5

[2021-04-16 17:03] myst67 opened #32773 "Magento 2.4.1 Build error 'Use of undefined constant fileDriver...'"
After fresh Magento CE 2.4.1 installation, storefront and admin page is not working. Its redirect to report page with report ID.

'
Preconditions (*)

- Magento 2.4.1

- Fresh installation Magento 2.4.1 in localhost
- Run storefront and admin

Steps to reproduce (*)

- This occur every time after new magento installation

Expected result (*)
It should redirects to homepage or admin page

Actual re

[2021-04-16 17:25] Krouchy opened #32774 "Tier prices data should be array, but actually other type is received"
### Preconditions (*)

1. Magento 2.3.4
2.

### Steps to reproduce (*)

1.  import a advanced pricing csv under the product import
2. I know there was a issue very similar to this that was reported and closed but i cant seem to replicate the solution that was provided.
3.

### Expected result (*)

1.  I cannot change / modify any of the products that were on that advanced pricing sheet.
2.

### Ac

[2021-04-17 11:58] myst67 commented on #32773
Found a solution. In validator.php file adding adding new reference variable with the string_replce which need to be reference inside iteration.

$realPath = $this->fileDriver->getRealPath($path);
$newRealPath = str_replace('\\', '/', $realPath);
 foreach ($directories as $directory) {
          if (0 === strpos($newRealPath , $directory)) {
              return true;
          }
      }
   return

[2021-04-17 11:59] #32773 closed, assigned to nobody

[2021-04-17 14:48] joemstar opened #32776 "Amazon Sales Channel Intelligent Pricing beats your own Price"
### Preconditions (*)

1. PHP 7.4
2. MariaDB version 10.4.18
3. Magento 2.4.2
4. Amazon Sales Channel 4.3.0

### Steps to reproduce (*)

1. Create a new pricing rule in Amazon Sales Channel
2. Under Pricing Rule Actions, set Rule Type to Intelligent repricing rule and Competitor Price Source to "Use Lowest Competitor Price". Minimum Positive Feedback to "All Competitor's Prices and Minimum Feedbac

[2021-04-17 15:55] gwharton commented on #31745
FFS

[2021-04-18 00:27] jarbascerino commented on #23511
I have magento 2.3.3 running on php 7.2 and for me this solution solved the problem.

[2021-04-18 03:46] magejar commented on #26371
Any one has solved this issue?

[2021-04-18 10:37] pmarjan opened #32777 "Lack of consistency when pulling related items"
As part of Luma theme, the file

`Magento/Catalog/view/frontend/templates/product/list/items.phtml`

does provide a renderer for the various type of related products.

However, when deciding whether there is a content to display or not, slightly varied approaches are used.

Current implementation

a. for related items: `if ($exist = $block->getItems()->getSize()) {`
b. for upsell items: `if ($exis

[2021-04-18 12:07] php-app-dev opened #32779 "How to create my custom visual swatch color attribute in my own module Vendor/Module/Setup/Patch/Data/MyOwnColorAttribute?"
I take from [https://github.com/magento/magento2/blob/2.3/dev/tests/integration/testsuite/Magento/Swatches/_files/product_visual_swatch_attribute.php](https://github.com/magento/magento2/blob/2.3/dev/tests/integration/testsuite/Magento/Swatches/_files/product_visual_swatch_attribute.php) like example, but my own color attribute patch didn't create any options if I add color options. This is my cod

[2021-04-18 12:29] Delphn commented on #2981
As mentioned in the [docs](https://devdocs.magento.com/guides/v2.4/install-gde/composer.html#set-file-permissions), you need to set file permissions

[code]

[2021-04-18 16:14] antoniocarboni commented on #30277
Same error migrating from 2.4.1 to 2.4.2.
I solved with @peterjaap patch. (Thank you :)
However the inconsistency on the class position  is evident with a quick glance.
The error appears only if Magento_Swatches module is disabled. This module override the wrong template with his own (which is correct).

[2021-04-18 18:26] antoinekociuba opened #32780 "Too many 'clean cache by tags' actions, with same tags, when saving entities and/or running full reindex"
Hi there,

After digging on clean cache by tags mechanism from the back office (save product, category, CMS block and CMS page) and from the CLI full reindex, I have notice that `clean_cache_by_tags` event is dispatched multiple times, at different places, which could makes sense, but also triggers **many duplicated clean cache calls, with mostly same tag(s) to clean**, which becomes pretty useles

[2021-04-18 20:10] dverkade commented on #27039
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] dverkade commented on #31917
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] dverkade commented on #31871
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] dverkade commented on #31847
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] #29049 closed, assigned to nobody

[2021-04-18 20:11] #31743 closed, assigned to nobody

[2021-04-18 20:11] dverkade commented on #31842
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] dverkade commented on #31837
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] dverkade commented on #31832
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] dverkade commented on #31825
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:11] dverkade commented on #31820
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:12] dverkade commented on #29018
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:12] dverkade commented on #29254
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:12] dverkade commented on #29275
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:12] dverkade commented on #29681
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:12] dverkade commented on #30165
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:12] dverkade commented on #30582
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:12] dverkade commented on #30720
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:13] dverkade commented on #31818
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:13] dverkade commented on #31807
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:13] dverkade commented on #31763
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:13] dverkade commented on #31739
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:14] dverkade commented on #31496
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:14] dverkade commented on #31423
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:14] dverkade commented on #31051
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:14] dverkade commented on #30998
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:15] dverkade commented on #30927
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:15] dverkade commented on #30906
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:15] dverkade commented on #30893
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:15] dverkade commented on #30805
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:15] dverkade commented on #30753
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:15] dverkade commented on #28845
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:15] dverkade commented on #28698
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28617
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28543
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28424
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28406
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28384
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28367
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28337
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #28193
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #27477
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:16] dverkade commented on #27447
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:17] dverkade commented on #27139
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:17] dverkade commented on #27119
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:17] dverkade commented on #26880
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:17] dverkade commented on #26613
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:17] dverkade commented on #26482
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:17] dverkade commented on #26053
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:18] dverkade commented on #25894
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:18] dverkade commented on #21447
Posting a comment. Issues should not be automatically closed.

[2021-04-18 20:18] dverkade commented on #9537
Posting a comment. Issues should not be automatically closed.

[2021-04-18 23:40] chequille commented on #31917
I agree !!!!!
Magento is using the wrong approach in checkout. Main information for a sale is the customer who is paying. Second is where it has to be delivered and not the way Magento is doing it.
We have a lot of customers not understanding that they have to change the billing address if they putted in a delivery address before to send it as a gift to somebogy else.
All other shop systems do ask

[2021-04-18 23:58] Leland commented on #32764
@magento give me 2.4-develop instance

[2021-04-19 01:23] mrtuvn commented on #32780
cc: @Vinai may have solid knowledges on this area

[2021-04-19 03:27] ihor-sviziev commented on #29275
Hi @mlambley,
It looks like the issue was already fixed in the 2.4-develop branch in https://github.com/magento/magento2/pull/29885. Could you confirm that?

[2021-04-19 04:29] mlambley commented on #29275
@ihor-sviziev I'd have to have a closer look to confirm, but just looking at the code change I'd say not. The issue isn't that each cache context returns the same entities multiple times, rather, the function which actually flushes the cache has the same cache context passed to it multiple times. Therefore the fix would either be, remove each entity from the context as it is flushed, or ensure tha

[2021-04-19 05:22] m2-assistant[bot] opened #32781 "[Issue] [Checkout] Depend directives updated in failed payment email template"
This issue is automatically created based on existing pull request: magento/magento2#32511: [Checkout] Depend directives updated in failed payment email template

---------
### Description (*)
Updated the depend directives in the failed payment email template. If the order is virtual doesn't require showing the shipping address and the shipping method.

### Fixed Issues (if relevant)
N/A

### Manu

[2021-04-19 05:56] ihor-sviziev commented on #26880
@sivaschenko @gabrieldagama @sidolov I believe we should prioritize this issue to P1, even people saying that it's hard to reproduce the issue, it happens randomly, usually a few times a month.

[2021-04-19 06:16] ihor-sviziev commented on #32625
As we discussed with @gabrieldagama - the issues were reviewed and updated priority for those that are really important.
I'm closing this issue, as no action items left here.

[2021-04-19 06:16] #32625 closed, assigned to nobody

[2021-04-19 06:26] bjoern-flagbit commented on #27849
Is this not solved here: https://github.com/magento/magento2/pull/30419 ?

[2021-04-19 06:45] iphigenie commented on #32010
Hi @engcom-Bravo and @krishprakash

This has nothing to do with payment methods, it happens no matter the method if you have multiple taxes (eg: local sales tax and state/county tax and national value added tax) set for products and then some rare product class is exempt of all of them (books, children's clothes etc.). It takes longer to build all these tax rates and product types than it does to

[2021-04-19 06:50] iphigenie commented on #28183
This issue is still happening in the current branch

[2021-04-19 07:20] pratikvs commented on #32761
Hello, Any updates on this?

[2021-04-19 07:50] SilinMykola commented on #32105
@magento I am working on this

[2021-04-19 08:19] tuyennn opened #32782 "Login As Customer is always failed on 2nd times login from admin-end"
### Preconditions (*)

1. Magento 2.4.0-p1
2.

### Steps to reproduce (*)

1. Use login as customer from admin-end
2.

### Expected result (*)

1. Current admin is logged in on every single login as customer action from admin with customers
2.

### Actual result (*)

1. Even the result success message as admin was logged in shown, but it was always failed on every second times after first time it'

[2021-04-19 08:19] tuyennn commented on #32782
@magento give me 2.4-develop instance

[2021-04-19 08:25] Swahjak commented on #22196
@engcom-Charlie I don't see how this was fixed either, please re-open or provide insight into how this was fixed.

[2021-04-19 08:37] tuyennn commented on #32782
Close due cannot replicate on 2.4-develop

[2021-04-19 08:37] #32782 closed, assigned to nobody

[2021-04-19 09:42] Morgy93 commented on #30094
@magento give me 2.4-develop instance

[2021-04-19 10:01] Morgy93 commented on #30094
Still reproducible~

Tried it for discussion here https://github.com/magento/magento2/pull/30516#issuecomment-822343010

[2021-04-19 10:54] Eddcapone commented on #32715
@mrtuvn ok thank you very much for your offer :) very nice from you

[2021-04-19 11:22] ihor-sviziev commented on #32374
I'm closing this issue as duplicate of https://github.com/magento/magento2/issues/30094

[2021-04-19 11:22] #32374 closed, assigned to nobody

[2021-04-19 11:24] magento-engcom-team commented on #32374
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41168` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-19 11:25] avra911 commented on #8933
... the message keeps repeating `The fix will be available with the upcoming 2.X.X release.` over and over again since 2.3 up to 2.4.3.

This is particular interesting address my concerns about the support.

Where are the Adobe genius?

[2021-04-19 11:25] ihor-sviziev commented on #32374
Please note that the issue is still not fixed. It's just duplicating https://github.com/magento/magento2/issues/30094, that still open.

[2021-04-19 11:59] an4rei commented on #29293
Issue reproduced on magento 2.4.2. Fixed with @vmartins above.

[2021-04-19 12:00] iasthc opened #32784 "Malformed request body or parameters cause "Internal Server Error""
### Preconditions (*)

1. Magento CLI 2.4.2
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. [GET] /V1/bulk
	- query: ```searchCriteria[sortOrders][0][field]=string```
1. [GET] /V1/carts/licence/list
	- query: ```searchCriteria[filterGroups][0][filters][0][value]=string```
1. [GET] /V1/carts/search
	- query: ```searchCriteria[filterGroups][0][filters][0][field]=string```
1. [GET] /V1/cat

[2021-04-19 12:16] xpoback commented on #30809
Any hint when this is going to be done?
The request been there since 2015 https://github.com/magento/community-features/issues/208

[2021-04-19 12:34] shahriar-vdc opened #32785 "GraphQlAuthorizationException is thrown for guest carts even when the customers are not logged in"
### Summary
When requesting current cart via GraphQl, if cart customer id is 0 and current customer is a guest, but if somehow he has customer id set on the PHP session, then instead of getting the actual cart, it throws exception.
[code]

### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. Log in to an account in a Magento installation and then log out
2. Make sure the custome

[2021-04-19 12:43] engcom-Foxtrot commented on #30094
Hm... I've reordered the order with a failing invoice and the invoice for a new one is correct.

[2021-04-19 13:03] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-04-19 13:10] Morgy93 commented on #30094
The system went away for me just during my check😬

But I saw that `$_fullInfo` was not populated for your invoice, so the problematic code was not even executed.

Having two items with different tax class should work (or not work in this case 😅) for example 19% and 7% tax (like in Germany)

[2021-04-19 13:11] Morgy93 commented on #30094
@magento give me 2.4-develop instance

[2021-04-19 13:30] m2-assistant[bot] opened #32786 "[Issue] Catch php syntax errors (or other errors) in bin/magento and output the error instead of staying silent"
This issue is automatically created based on existing pull request: magento/magento2#32145: Catch php syntax errors (or other errors) in bin/magento and output the error instead of staying silent

---------
### Description (*)
When a PHP error occurs somewhere in code that is executed by `bin/magento` it should output that error instead of staying silent

### Related Pull Requests

### Fixed Issue

[2021-04-19 13:31] shahriar-vdc commented on #32785
@magento I am working on it

[2021-04-19 14:29] jgallup commented on #31007
We too are receiving this error after upgrading from v2.3.2-p2 to 2.4.2(.) In looking through this it appears that the one difference is that in @engcom-Bravo's example the "Add Store code to URLs" option is set to "Yes." In our case, this is set to "No" as the individual stores themselves exist on entirely different domains. i.e. we have www.url1.com setup with one store view and www.otherURL2.co

[2021-04-19 14:59] tiwarimukesh commented on #26031
@Eddcapone I am also facing same issue. Could you share information in which table you did the change?

[2021-04-19 15:16] sdzhepa opened #32787 "Test Confirmation process"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-04-19 17:19] maximecarey opened #32788 "NewRelic: Missing observer event for reporting Application handled exception"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Any cause of exception that is getting logged into exception.log

### Expected result (*)

1. The exception should appear in the error APM listing

### Actual result (*)

1. These exceptions aren't logged into New Relic

For whatever reason, it seems that the observer Magento\NewRelicReporting\Model\Observer\ReportApplicationH

[2021-04-19 17:31] #31319 closed, assigned to Nazar65

[2021-04-19 17:32] Eddcapone commented on #26031
@tiwarimukesh , you can remove the attribute from the magento backend

[2021-04-19 20:41] damienwebdev commented on #29980
Stop it. This isn't stale. You are a bad bot and should be ashamed of yourself.

[2021-04-20 04:14] tiwarimukesh commented on #26031
Hi @kin-allan

Could you share some more details like query how did you find out the issue and the fix.

[2021-04-20 06:49] reense commented on #32121
@redati have you managed to fixed the issue? We're still having this problem on 2.4.2.

[2021-04-20 07:04] DevAwesomeK commented on #32668
Patch is not displaying in list of Magento Quality Patches for Magento 2.4.2 EE version. Can anyone please link patch.txt file here. Thanks!

[2021-04-20 07:59] tiwarimukesh commented on #26031
@Eddcapone I do not want to delete the attribute. Is there any better solution available?

[2021-04-20 08:01] artttj commented on #32668
@DevAwesomeK Please see:
https://github.com/magento/quality-patches/blob/master/patches/commerce/MDVA-33289_2.4.1.patch
https://github.com/magento/quality-patches/blob/master/patches/os/MDVA-33289_2.4.1.patch

[2021-04-20 08:04] DevAwesomeK commented on #32668
Since patch is already available for this issue, closing the issue.

[2021-04-20 08:04] #32668 closed, assigned to nobody

[2021-04-20 08:17] Timothy-V commented on #31814
@jorgb90, did you ever find the solution for this problem? I'm experiencing the same thing with an automatic synchronisation program via api. Magento 2.4.1. This seems to be after I upgraded to the latest Magento version and upgraded the sql database.

Stopping Magento to Exact customer synchronizer. An error occured while getting a list of customers. Response: Internal Error. Details are availabl

[2021-04-20 08:34] 0-Sony commented on #4662
How this issue could have been closed ?? This issue is still present on 2.3.x and I am pretty sure that it's still on 2.4.x
The solution gave by @willstorm is not a solution.

[2021-04-20 08:41] milansimek commented on #4662
I agree with @0-Sony. It's not a solution at all.

Loading the customer model in the original event as outlined in the issue description would be a better, although not optimal, workaround. It's a workaround though and not a solution, and does not explain why this issue can be closed.

[2021-04-20 08:42] rani-webkul commented on #30740
@magento give me 2.4.2 instance
@magento give me 2.4.0 instance

[2021-04-20 08:48] rani-webkul commented on #30740
@magento give me 2.4.0 instance

[2021-04-20 09:05] rani-priya opened #32791 "Performance of products graphql query getting degraded in magento 2.4.2 version"
### Preconditions (*)

1. Magento version 2.4.0 and 2.4.2

### Steps to reproduce (*)

1. prepare two magento instances with 2.4.0 and 2.4.2 versions
2. compare the performance of products graphql query

### Expected result (*)

1. performance of products query should be not more than 2.4.0 version products query.

### Actual result (*)

Performance on Magento 2.4.0 version:
![Screenshot-2 4 0](ht

[2021-04-20 10:01] ihor-sviziev commented on #32668
Hi @DevAwesomeK,
FYI I created an issue for the missing quality patch for Magento 2.4.2 https://github.com/magento/quality-patches/issues/50

[2021-04-20 10:27] andy-igoo commented on #27867
Unless you're upgrading Magento (as outlined in the docs), `composer update` should never be run. Use `composer install` only to reinstall modules otherwise this can cause issues and the module versions are changed.

[2021-04-20 10:47] rikwillems opened #32793 "Attributes `has_options` and `required_options` are not available in GraphQL"
*As a customer I want to see the right CTA buttons that matches my product type.*

GraphQL does not return product attributes `has_options` and `required_options`. I'd like to use this to create a correct frontend interface when CTA buttons match the product type.

[2021-04-20 11:20] Usik2203 commented on #32061
@magento I am working on this

[2021-04-20 11:22] bartoszkubicki commented on #27904
Of course it is not resolved yet.

[2021-04-20 11:29] usman786cs commented on #16402
I'm facing same issue, any fix please?

[2021-04-20 11:49] SilinMykola commented on #32105
@magento give me 2.4-develop instance

[2021-04-20 11:50] engcom-Oscar commented on #28384
Hi @PivitParkour94 @darshanperpule
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket. Maybe we missing some important preconditions here, please recheck.

**Steps to reproduce:**
1. Create custom website, store and store view
2. Ensure the timezone for that website config is set to Use Default
![Screenshot from 2021-04-20 14-45-34](htt

[2021-04-20 12:10] OxCom commented on #32144
Any update on the issue?
There is invalid SQL query that make not possible to use ordering by price in API for default store.
[code]
The ```field = 0``` will be interpreted as as TRUE when the price is zero, and as we have no provided order direction then it will be sorted in ascending order by default.

[2021-04-20 12:12] Vinai commented on #32780
I've had issues in the past with Redis becoming unresponsive because of the number of cache clean requests generated by an import script. So in general I agree this issue exists when there are a large number of clean requests.

I heard from one colleague who also had issues and solved them by collecting cache clean requests instead of sending them to the backend immediately.
The a batch job (he us

[2021-04-20 12:23] engcom-Oscar commented on #31807
Hi @sushant2020 ! May you provide more details how to reproduce your issue, like your configuration settings , how you placed order and  etс, please?

[2021-04-20 12:24] murtuza1234 commented on #30575
@jissereitsma great mate your solution works like charm, a dozen thank you

[2021-04-20 12:38] Eddcapone commented on #26031
@tiwarimukesh , oh sorry. My answer was written in bad english. The problem was, that attributes were missing in the attribute group "Scheduled Design"

[2021-04-20 12:39] Eddcapone commented on #31952
This is still relevant.

[2021-04-20 12:46] SilinMykola commented on #32105
issue is not reproducible and can be closed.
![admin_configurable_product](https://user-images.githubusercontent.com/15772032/115398038-647b7400-a1ef-11eb-9b0d-361e6f44a4ae.jpg)
![admin_products](https://user-images.githubusercontent.com/15772032/115398041-66453780-a1ef-11eb-8298-37f95a61d1b8.jpg)
![product_in_web1](https://user-images.githubusercontent.com/15772032/115398044-66ddce00-a1ef-11eb-84

[2021-04-20 13:09] SilinMykola commented on #31353
@magento I am working on this

[2021-04-20 13:19] #31807 closed, assigned to nobody

[2021-04-20 14:11] marvinhinz commented on #26599
Happens on 2.4.2

[2021-04-20 14:28] MarcusSchwarz opened #32796 "LoginAsCustomer leaves admin backend unaccessible in multidomain-setup"
### Preconditions (*)

1. Magento 2.4.2
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Create a multi store, multi domain setup, for example

Domain | StoreView
-------|----------
test1.test | de_DE
test2.test | en_US
2. Configure Magento such as the StoreView must not be part of the url
3. Configure the backend such as it is available under one of these domains, eg test2.test/admin
4. Cre

[2021-04-20 14:33] john-rock commented on #32748
@mikamarkus I am experiencing the same issue. We recently upgraded from 2.3.2-p2 to 2.4.2 and none of our assets are showing in the Media Gallery.

![image](https://user-images.githubusercontent.com/46692803/115414153-cc1bca00-a1c3-11eb-9587-40997b315962.png)

[2021-04-20 14:39] #32026 closed, assigned to mrtuvn

[2021-04-20 14:39] SilinMykola commented on #28432
@magento I am working on this

[2021-04-20 14:52] jordanvector commented on #32796
same issue as well

[2021-04-20 15:00] Usik2203 commented on #32061
Hi @sivaschenko
i have question about `11. app/code/Magento/Store/Api/StoreResolverInterface.php: Deprecated since June 2018, has replacement` interface.

Should `\Magento\Store\Model\StoreResolver` class which implements `app/code/Magento/Store/Api/StoreResolverInterface.php` interface also be removed or not  ?

Thank you !

[2021-04-20 15:22] sivaschenko commented on #32061
Hi @Usik2203 , the replacement implementation does depend on StoreResolver, so I don't think it can be removed.

[2021-04-20 16:33] gabrieldagama commented on #32734
Hi @timpea, can you provide some PrintScreen with the details of the Catalog Rule configuration?

Thanks!

[2021-04-20 16:51] tiwarimukesh commented on #26031
@Eddcapone Thanks

[2021-04-20 16:55] gabrieldagama commented on #32593
Hi @cfarnleitner and @engcom-Oscar,

What happens if the request body contains the "value" field? As you mentioned, that value is required, if that is the case the request must specify it.

I believe the problem here could be related to wrong error handling instead.
Thanks.

[2021-04-20 18:34] kwiechmann commented on #20105
Hi,

As @Jammmmm reported, I have been experiencing problem accessing a similar problem. I am however using Magento 2.4.2 and loaded with bin/magento sampledata:deploy.

The browser (Firefox or Chrome) goes into an "endless" redirect loop (~20) before the browser notices the pattern and stops making the same request. The issue started after I added non-standard port 8443 to the base URLs of my HTT

[2021-04-20 19:54] cpartica commented on #31489
@KrishnaK-Z  @OleksiyOleksiyovych I tried to reproduce this on 2.4.1 and on 2.4-develop and I couldn't.
What version did you used when reporting this?
Can you see if it's still reproducible?

[2021-04-20 20:04] carlowens commented on #5332
Sorry just seen this.  I don't know.

[2021-04-20 20:04] magento-engcom-team commented on #32787
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41973` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-20 20:14] #32787 closed, assigned to nobody

[2021-04-20 20:16] magento-engcom-team commented on #32787
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-20 20:45] matias7 opened #32799 "Duplicated rows in csv export of Report Module"
### Preconditions (*)

1. You need to have several records in any of the Reports grids that have csv export feature
2. This happens in Magento 2.2.x, 2.3.x and also 2.4.x

### Steps to reproduce (*)

1. Log in in the admin dashboard
2. Go to Reports
3. Select any report (aka Abandoned Cart Report)
4. Create a filter (aka date filter)
5. Select Export button in csv

### Expected result (*)

1. The

[2021-04-20 21:28] Elmira9292 opened #32800 "Attention, Something went wrong"
After I logged every single time, I got this Alert, Attention , Something went wrong ,A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later. in my admin magento 2.3.6
Also this issue happened to me after I've been tried to change the logo of header from content>configuration.
![M A](https://user-images.githubuserco

[2021-04-21 05:55] VZeroCool commented on #32799
@magento give me 2.3-develop instance

[2021-04-21 06:59] engcom-Oscar commented on #32800
Hi @Elmira9292 !
Can you please add to ticket what errors you got in your system or exception logs and in the browser console,  when this Alert popup? Also, may you please specify - on which page/action this alert appear?

[2021-04-21 07:41] karyna-tsymbal-atwix commented on #32556
@magento I am working on this

[2021-04-21 08:15] engcom-Oscar commented on #32799
Hi @matias7  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket. May you please provide report csv file with duplicated rows (or screenshot of it) for more details?

[2021-04-21 08:46] MackieeE commented on #31888
I came across the very same error today after installing Magento 2.4.2 on PHP 7.4. Opening Categories page led to this PHP Warning call stack. Disabled any releavant third party modules that were mentioned in the Call stack (Like OP's `WeltPixel`) and still produced the same.

[2021-04-21 09:10] mrtuvn commented on #31888
Maybe some data in categories or some module integrate with categories cause this. You should recheck that

[2021-04-21 09:20] gabrieldagama commented on #32593
Hi @cfarnleitner, I've tried to reproduce this issue on `2.4-develop` and it seems to behave correctly to me.

I've managed to create a new attribute options using your request body, when tried to run it again (after the first option got created), I've received the exception that you mentioned, and that seems to be the same behavior as the admin.

If you try to create a new option with a label tha

[2021-04-21 09:29] engcom-Oscar commented on #26599
Hi @willtran !
I can confirm that tax calculation is not correct. Here my example with order with some different products with the same price, but taxes are different there. But I was not able to reproduce error for credit memo creation. Had you chance to check the issue if it reproducing for you on the Magento 2.4.2?
![Screenshot from 2021-04-21 12-28-49](https://user-images.githubusercontent.com

[2021-04-21 09:31] krishprakash commented on #32739
@magento give me 2.4-develop instance

[2021-04-21 09:33] krishprakash commented on #32662
Hi @vertic4l. Thank you for your report.
Feel free to reopen once you conform that issue reproduce on magento 2.4-develop instance
Thanks!!

[2021-04-21 09:33] #32662 closed, assigned to krishprakash

[2021-04-21 10:27] krishprakash commented on #32547
Hi @ebofi. Thank you for your report.
Feel free to reopen the issue once you confirm that it reproduce on latest magento 2.4-develop instance

[2021-04-21 10:27] #32547 closed, assigned to krishprakash

[2021-04-21 10:30] krishprakash commented on #32688
Hi @pdeboo. Feel free to reopen the issue once you update all the necessary details as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-04-21 10:30] #32688 closed, assigned to krishprakash

[2021-04-21 11:09] engcom-Foxtrot commented on #29457
Hello, @stephan-cream. Unfortunately, I can reproduce such an issue neither on the 2.4-dev branch nor on the 2.4.0 release. I've attached my test module. If you have some updates, please let me know.
[Example_Rewrite.zip](https://github.com/magento/magento2/files/6350320/Example_Rewrite.zip)

[2021-04-21 11:10] ThwQwirkyShop opened #32803 "Footer not showing on content pages"
Hi,

Version: Magento ver. 2.4.2

When I have created a new page via "Content > Pages > new page" - The footer does not show on these pages.

There is no footer on this page: https://qwirkyshop.com/terms-and-conditions

Please advise?

Thanks in advance.

[2021-04-21 11:20] Beachmeister commented on #22094
Hello, as Agila kaliyan on [stackoverflow](https://stackoverflow.com/questions/64647851/the-stock-item-was-unable-to-be-saved-please-try-again-magento-2-4-0/64674567#64674567) wrote,
"please change all indexer as update by 'Update by Schedule' mode in system->index management. "
that worked for me - and I could even save existing products!

[2021-04-21 11:30] matias7 commented on #32799
Hi @engcom-Oscar of course, I will give you an example. This issue is difficult to reproduce in a fresh install because the sample-data doesn't include data in this report but look at this:

![image](https://user-images.githubusercontent.com/40697104/115545790-971e7e80-a27a-11eb-9f33-cea685703e73.png)

This report has 1258 rows for the current website (Guatemala) but, if I export this I have this

[2021-04-21 11:34] willbrammer commented on #22196
The same still in 2.3.x latest and 2.4.x

Monitoring that relies on error codes won't pick this up

[2021-04-21 12:38] mrtuvn commented on #32803
In this case i don't think this is magento issue
Please check from your side
1/ Maybe page-footer block remove in page `terms-and-conditions`
2/ Some one accidently hide/remove it for specific page

[2021-04-21 13:06] marvinhinz commented on #26960
Still happens on 2.4.2

[2021-04-21 13:15] stephan-cream commented on #29457
It would seem to no longer be an issue, although it does seem several Lamias modules have been updated since the time of my report so perhaps this had been fixed there.

[2021-04-21 13:54] iphigenie opened #32805 "Catalog Price Rule with Condition Not / Is Not One Of / Does not Contain are not applied to products without a value - and there is no "undefined" condition"
When trying to use a negative condition on a promotional rule, it will not match any products which have no value for that attribute, even though one would expect it to. **As a result promotions do not apply to products that the people creating the conditions would expect them to apply to.**

The same happens to category conditions - see issue #32734 and I suspect it is the same query logic behind

[2021-04-21 14:03] iphigenie commented on #32734
hi @gabrieldagama i have illustrated it for multiselect on #32805 but it'd be the exact same for categories as I suspect it is the same query building logic in the back end.

The "is not one of" or "does not contain" options will not included undefined entries.

For a dropdown attribute, there is an "is undefined" condition so one can do "is not or is undefined" to get the "intuitive" result.

It

[2021-04-21 14:51] pdeboo opened #32806 "No option to search for specific order number."
### Preconditions (*)

1. Magento ver. 2.3.3-p1
2. https://master-7rqtwti-5xc2bzxuexzme.us-3.magentosite.cloud/sales/order/history/?limit=50&p=3

### Steps to reproduce (*)

1. I am looking on the orders page and I do not see anywhere that allows me to search for a specific order number
![Magento -  screen shot - no place to search specific order](https://user-images.githubusercontent.com/82110275

[2021-04-21 15:01] engcom-Foxtrot commented on #29457
@stephan-cream thanks for the fast answer. I'm closing this issue. Feel free to reopen if needed.

[2021-04-21 15:01] #29457 closed, assigned to engcom-Foxtrot

[2021-04-21 15:02] paugnu commented on #23908
Hi all,

I've found an important issue that could be related to what is happening here:

This is the scenario:
1. A guest customer adds products to the cart and proceeds to checkout
2. Introduces address data, selects shipping and payment methods.
3. Registration is mandatory, so the customer completes also password fields
4. Now clicks on 'Complete the order' and is redirected to the payment gate

[2021-04-21 15:34] Eddcapone opened #32807 "Change load order of custom page layout"
### Summary (*)

I created a new page layout, but I noticed that it does not get loaded last and it gets overridden from other layouts.

Is there a way to change the load order so that my custom page layout gets loaded last?

### Examples (*)

I have this simple layout where I create a new block which just shows the text `foobar123`. I move it after the **header.container**.

### THEME\layout\cata

[2021-04-21 16:17] mrtuvn commented on #8933
I'm not definitely geniues but this fix already confirm delivered to 2.4-develop branch via commit https://github.com/magento/magento2/pull/28007 by @driskell. It's will available in 2.4.3 release official  in October 2021
So this ticket should closed.
If you can reproduce issue with latest code or it's not work i'm very happy to reopen it again
In the mean time create composer patch if you need d

[2021-04-21 16:31] blowfish-ltd commented on #12527
this is not an issue with Magento , if you would like to use locales other than english and the price format is not as expected the you have to specify your format based on locale code.

file path vendor/magento/framework/Locale/Format.php
near the line 126

        $decimalSymbol = $formatter->getSymbol(\NumberFormatter::DECIMAL_SEPARATOR_SYMBOL);
        $groupSymbol = $formatter->getSymbol(\Num

[2021-04-21 16:56] mamsincl commented on #25778
same issue with M2.3.5-p2

https://github.com/magento/magento2/issues/25778#issuecomment-673228380 fixed the issue

[2021-04-21 17:27] #32774 closed, assigned to nobody

[2021-04-21 18:46] atwixfirster commented on #32105
@magento give me 2.4-develop instance

[2021-04-21 22:11] atwixfirster opened #32809 "Advanced Pricing does not work for multiple websites"
### Preconditions (*)

**1.** Magento `2.4.2` with a `sample data`
**2.** There are 2 websites:
<img width="1445" alt="01" src="https://user-images.githubusercontent.com/13585327/115626558-5704dd80-a306-11eb-8030-2e93098263c9.png">
**3.** Product **Joust Duffle Bag** (SKU = `24-MB01`) is available to both websites:
<img width="1661" alt="02" src="https://user-images.githubusercontent.com/13585327/

[2021-04-21 23:39] m2-assistant[bot] opened #32810 "[Issue] Load draggable and resizable jquery-ui chunks for dialog widget only if needed"
This issue is automatically created based on existing pull request: magento/magento2#32802: Load draggable and resizable jquery-ui chunks for dialog widget only if needed

---------

### Description (*)
As in our shops we often struggle with huge javascript files, and quite a big amount of unused code, which lowers speed test results, I looked for some opportunity to remove not used code. Magento

[2021-04-22 03:06] psydog-1101 opened #32811 "M241 MSI issues"
### Preconditions (*)
1. M2.4.1
2. MSI enabled
3. Developer mode
4. 2 Websites (VN and Main) [View image](https://imgur.com/k6FR9Zm)
5. 3 Source (Default, Source1, Source2)
6. 3 Stock (Default, Stock1, Stock2)

### Steps to reproduce (*)
1. Enable all three of source
2. Config source and stock like this [(source configuration)](https://imgur.com/kT1cXnz), [(stock configuration)](https://imgur.com/

[2021-04-22 04:39] #13234 closed, assigned to engcom-Kilo

[2021-04-22 04:39] #23645 closed, assigned to engcom-Kilo

[2021-04-22 04:39] #24350 closed, assigned to engcom-Kilo

[2021-04-22 04:46] krishprakash commented on #32806
Hi @pdeboo. Magento not provide search option in my order specific page as this by default

[2021-04-22 04:52] krishprakash commented on #32809
@magento give me 2.4-develop instance

[2021-04-22 05:25] magento-engcom-team commented on #32809
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41998` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-22 05:52] mrtuvn commented on #32807
Here is the order in which layout XML is merged default in magento. Order from top to bottom:
Module base files loaded
Module area files loaded
Sorted according to their module priority (array index of module’s position in app/etc/config.php)
If their priorities are equal, they are sorted according to their alphabetical priority.
Theme files (from furthest ancestor to current theme)
Layout files l

[2021-04-22 06:19] sanganb commented on #22860
Issue resovled?

[2021-04-22 06:37] sambohamdan commented on #2960
Hello after 2 years, any updates? xD

[2021-04-22 08:19] Eddcapone commented on #32807
@mrtuvn "Why this have to load last"
Because I need my page layout to override all other layouts.

[2021-04-22 08:58] babaxdz commented on #5404
try this
/rest/V1/carts/mine/items

[2021-04-22 09:18] magento-engcom-team commented on #32810
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42001` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-22 09:23] iphigenie commented on #32805
HI @engcom-Oscar

It is possible that this is the only reasonably efficient way that these conditions can work, but if it is the case a condition "attribute has no set value" and "no category set" should exist to allow for working around it.

For the dropdown attribute this exists as the condition "is undefined" - there is no equivalent for a multiselect as there is no "undefined" option.

If the

[2021-04-22 09:45] DmitryFurs commented on #31092
The ticket is still relevant.

[2021-04-22 09:45] DmitryFurs commented on #10805
Yes the ticket is still relevant.

[2021-04-22 10:58] webtekindo commented on #8126
I don't think this issue should be closed. As we cannot use Preload in header with that line:

 unset resp.http.Link;

What will be the impact to remove that line? And if not impact then we should removed it.

[2021-04-22 11:23] iphigenie commented on #28183
The issue also affects date fields - they are shown using the front end site locale settings and not shown in the same way as they are shown on the product admin

Admin display should be consistent, one shouldn't see it differently on edit form as in grid

[2021-04-22 11:29] iphigenie commented on #19221
For the record this still happens - there are assumptions made when populating the data for the product grid that break functionality and make it hard for the people actually using the admin to do work

- label for options in select/multiselect is the front end one not the admin one, this is a huge usability loss for people actually working on sites in admin as one cannot optimise admin labels for

[2021-04-22 11:31] iphigenie commented on #32010
not to forget the loss of confidence in the whole tax module - if a DIVISION BY ZERO is allowed to happen, what other basic mistakes are in there?

[2021-04-22 11:56] CeligoLabs opened #32812 "Unable to create a refund to store credit through API document."
Preconditions (*)

CE 2.4.2

Summary of the issue:
We are trying to create a refund to the customer's store credit with the API call "/V1/creditmemo".
We are mapping all the required fields in the post body, but the store credits are not reflecting in the customer account in Magento UI.

Steps to reproduce (*)

Create order in Magento UI.
Create an Invoice for that order.
with the help of API call

[2021-04-22 12:30] #32027 closed, assigned to Usik2203

[2021-04-22 12:30] #32032 closed, assigned to Usik2203

[2021-04-22 12:30] #32017 closed, assigned to Usik2203

[2021-04-22 12:30] #32018 closed, assigned to Usik2203

[2021-04-22 12:30] #32029 closed, assigned to Usik2203

[2021-04-22 12:30] #32033 closed, assigned to Usik2203

[2021-04-22 12:30] #32058 closed, assigned to Usik2203

[2021-04-22 12:47] magento-engcom-team commented on #32805
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42005` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-22 13:24] Leland commented on #32809
@magento give me 2.4-develop instance

[2021-04-22 13:37] omerts commented on #32522
@magento-engcom-team This is pretty critical is the order of products is critical to marketing needs

[2021-04-22 13:55] magento-engcom-team commented on #32784
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42007` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-22 14:53] timpea commented on #32734
@gabrieldagama @iphigenie

Correct, I have also just noticed we have a rule Manufacture is not Apple,  this rule doesn't apply to any products that don't have a manufacture applied.

[2021-04-22 16:14] m2-assistant[bot] opened #32817 "[Issue] Correct spelling of variables for customer address"
This issue is automatically created based on existing pull request: magento/magento2#32815: Correct spelling of variables for customer address

---------
### Description
These two templates are often overridden in child themes. Whenever they're copied over for modification, our code reviews tend to pick up the incorrect spelling of these variables. Let's get these fixed here so we don't have to ke

[2021-04-22 16:24] m2-assistant[bot] opened #32819 "[Issue] Fix a PHP error being thrown on a Magento error being thrown"
This issue is automatically created based on existing pull request: magento/magento2#32814: Fix a PHP error being thrown on a Magento error being thrown

---------

### Description (*)

I ran into a small problem with the product media (because my pub/media wasn't writable). But I did not get the actual error that is thrown, I got a PHP error because 'directory' was not set (as you can see by my f

[2021-04-22 16:35] m2-assistant[bot] opened #32820 "[Issue] gitignore everything in pub/media"
This issue is automatically created based on existing pull request: magento/magento2#32801: gitignore everything in pub/media

---------
### Description (*)
The current .gitignore file is not consistent as to how it deals with files uploaded from the admin area. Images/files uploaded are treated differently, based on which folder they are uploaded to. This means that images uploaded to existing fo

[2021-04-22 16:47] m2-assistant[bot] opened #32821 "[Issue] [MFTF] add StorefrontGiftMessageForOrderOnCheckoutCartPageTest"
This issue is automatically created based on existing pull request: magento/magento2#32792: [MFTF] add StorefrontGiftMessageForOrderOnCheckoutCartPageTest

---------

### Description (*)

This PR adds `StorefrontGiftMessageForOrderOnCheckoutCartPageTest`
1. allow gift message for order
2. add product to cart
3. go to cart page
4. input gift message for order
5. check gift message  on checkout cart

[2021-04-22 19:13] ericerway commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-04-22 19:46] schensley commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-04-22 19:49] schensley commented on #30835
@magento give me 2.4.2 ee instance

[2021-04-22 20:12] lucianopeluso10 commented on #30513
The patch is not working in 2.4.1

[2021-04-22 20:33] rmchale258 opened #32822 "SecureHtmlRenderer renderTag method renders incorrectly when provided 'null' content"
### Preconditions (*)

1. 2.4.* (2.4.1 and 2.4.2 verified)

### Steps to reproduce (*)

1. Attempt to use the `\Magento\Framework\View\Helper\SecureHtmlRenderer::renderTag` method in a template to render an empty script tag with an external script src:
[code]

According to the documentation of that method, the 3rd argument ($content) should be nullable, so you should be able to do the following:

[2021-04-22 20:35] rmchale258 commented on #32822
@magento give me 2.4-develop instance

[2021-04-22 21:18] chequille commented on #26280
I would say: if you are not willing to improve magento code, leave it as it is.

But a modal does have a title and therefore the modals from the agreements should have it as well.

My opinion !!!

[2021-04-22 21:52] mrtuvn commented on #32822
Seem problem already fixed in latest code (2.4-develop)

[2021-04-22 22:31] mrtuvn commented on #32822
renderTag work with purpose include inline script! I don't think it work with external script

For external the better way is include via layout instead

[2021-04-22 22:49] lmg-LL commented on #28182
I am facing a similar issue, was there a solution for it?

[2021-04-23 03:00] ericerway commented on #30835
@magento give me 2.4.1 instance with edition ee

[2021-04-23 05:10] sprankhub commented on #28153
Shame on you, stale bot!

This is still relevant.

[2021-04-23 06:40] magento-engcom-team commented on #32817
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42027` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-23 06:59] krishprakash commented on #32806
Hi @pdeboo. We can consider this as feature request not an issue as by default magento not provide such functionality.
But Yes this is goot to be add search box in my orders to search only order related data
So I can approve this as feature request

[2021-04-23 07:00] magento-engcom-team commented on #32806
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42028` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-23 07:18] crispyz commented on #32180
For now, I think the only solution to get the previous behavior, is to write a preference for `Magento\Catalog\Ui\DataProvider\Product\ProductCollection` and override the `getSize()` method:
[code]

[2021-04-23 07:57] ihor-sviziev commented on #32235
Hi @Div123chauhan,
Thank you for your report!

As @mrtuvn mentioned earlier, Magento 2.4.2 doesn't have a web-based installer anymore. That's why you have just links to documentation.
Also, Windows OS isn't supported by Magento. You can find the requirements here: https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html.

As both points are not an issue - I'm closing this issue

[2021-04-23 07:57] #32235 closed, assigned to ihor-sviziev

[2021-04-23 07:59] ihor-sviziev commented on #32345
@sivaschenko @gabrieldagama, can this issue be passed to the Digitalgroup bundled extension developers?

[2021-04-23 08:24] magento-engcom-team commented on #32821
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42030` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-23 08:26] hannanhaider opened #32823 "mini cart issue"

[2021-04-23 08:39] tuyennn commented on #30540
@krishprakash this was still reproduced on M2.4.0-p1

[2021-04-23 08:46] magento-engcom-team commented on #32144
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42031` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-23 08:50] engcom-Oscar commented on #32823
Hi @hannanhaider ! Do you have any errors in browser console and in logs? Can you please add them to your ticket?

[2021-04-23 09:44] niku0911 opened #32824 "Generated Associated Product Name and SKU have issue"
### Preconditions (*)
1. Magento 2.3.3
2. PHP 7.2

### Steps to reproduce (*)
1. Create Configurable Product
2. Add name Like "Test A&B"
3. Create Configuration and Add color Attributue than select any color
4. Generate Products

### Expected result (*)
No need to show extra "amp;" text in product name and sku
1. ![image](https://user-images.githubusercontent.com/50168477/115852663-f41a6000-a445-1

[2021-04-23 09:48] ajijshekh123 commented on #32824
@magento give me 2.4-develop instance

[2021-04-23 10:21] vseager commented on #31978
We are experiencing this issue on 2.4.1

[2021-04-23 10:30] vseager opened #32825 "Product price cannot be saved per website"
This is a copy of issue #31978. The issue still exists on Magento 2.4.1

1. Magento 2.4.1
2. The installation has multiple websites and store views

### Steps to reproduce (*)

1. Price Scope is set to "per website"
2. Create a product with price = 10
3. Switch to another StoreView than default
4. Remove "Use default" for price, set price = 20
5. Save the product

### Expected result (*)

1. Price

[2021-04-23 10:37] pemann commented on #32821
@magento give me 2.4-develop instance

[2021-04-23 10:38] sodhancha commented on #9280
Was this resolved on 2.4+ ?

[2021-04-23 10:41] tuyennn commented on #30194
Shame magento where is your solution? bugs fix

[2021-04-23 10:52] ajijshekh123 commented on #32824
Hi @niku0911,
This issue has been verified on Magento 2.4 Instance. Extra "amp" text is not required on Configuration sections. I have found extra "amp" text only on product name not on product sku.

![New Product _ Pr](https://user-images.githubusercontent.com/24711761/115861123-08635a80-a450-11eb-8123-e5611de61fe2.png)

Thanks.

[2021-04-23 10:54] magento-engcom-team commented on #32824
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42032` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-23 10:56] niku0911 commented on #32824
hi @ajijshekh123 ,

thanks to check this issue, can we fixed this?, i found this issue in Magento 2.3.3

[2021-04-23 11:32] atwixfirster commented on #32809
Configuration issue. To get the expected result the `Catalog Price Scope` option should be set to `Website`:

<img width="1325" alt="06" src="https://user-images.githubusercontent.com/13585327/115865257-c2eb6100-a440-11eb-80ad-4996a55cd196.png">

[2021-04-23 11:32] #32809 closed, assigned to nobody

[2021-04-23 11:34] magento-engcom-team commented on #32809
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-23 11:43] ajijshekh123 commented on #32824
Yes @niku0911 , You can fixed it.

[2021-04-23 11:55] engcom-Oscar commented on #32812
Hi @CeligoLabs  thank you for your report.
Could you add the example of API call you used (exact Message Body), please?

[2021-04-23 12:22] engcom-Oscar commented on #32825
Hi @vseager  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
**Actual Result:** :heavy_check_mark:
![Screenshot from 2021-04-23 15-17-44](https://user-images.githubusercontent.com/60198413/115869997-5162e100-a447-11eb-9e71-e27de584ee8d.png)
![Screenshot from 2021-04-23 15-17-32](https://user-images.githu

[2021-04-23 12:56] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-04-23 13:02] ericerway commented on #30835
@magento give me 2.4.1 instance with edition ee

[2021-04-23 13:02] oskar-olaussen opened #32828 "Settings "catalog/search/search_recommendations_count_results_enabled" or "search_suggestion_count_results_enabled" don't affect visibility of result count in autocomplete"
### Preconditions (*)

1. Magento 2.4.1.
2. Enable Search Suggestions set to true.
3. Show Results Count for Each Suggestion and Show Results Count for Each Recommendation disabled.

### Steps to reproduce (*)

1. Go to front page
2. Start inputting a string in search box so that autocomplete suggestion will appear.

### Expected result (*)

1. Suggestions appear without results count.

### Actual

[2021-04-23 13:55] ivanaugustobd commented on #32098
Same here, and regenerating the keys worked too. Just a question, why the hell the repo return 404 instead of 403 in those cases? That's confusing and frustrating, an "access denied" or even a "credentials expired" would much more intuitive..

[2021-04-23 13:58] ivanaugustobd commented on #32098
Seems to be a pretty old issue: https://github.com/magento/magento2/issues/2419

[2021-04-23 13:59] gabrieldagama commented on #32708
Hi @iphigenie, after speaking with the Product Owner, we don't believe this is an issue. The sort order of the attributes on the admin area has no relationship with the sort order that products will show on the listing page.

That is only relevant to how the options are displayed on the product page.

Hope that makes sense. A feature request may be created for such a case, but it would have to be

[2021-04-23 13:59] #32708 closed, assigned to nobody

[2021-04-23 14:00] magento-engcom-team commented on #32708
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-23 14:09] GuiltyNL commented on #32754
Read this:

https://objectsource.co.uk/magento-2-performance-issue-with-sessions/

[2021-04-23 14:15] GuiltyNL commented on #13229
More than three years have passed. This is never going to be fixed. 😎

[2021-04-23 14:22] rmchale258 commented on #32822
Hey @mrtuvn , I have tried
[code]

and I get the same result. And including in the head via layout xml wouldn't work in this case because as I said in my ticket description, the use case is:

The `link` node in layoutxml doesn't support the `if_config` attribute.

And as for whether "core team want this behavior or allow import external script with such purpose", there are tests in the codebase th

[2021-04-23 15:12] vrielsa commented on #32754
@GuiltyNL thank you, we've found that article as well.
We've disabled locking, which helps lots indeed.

[2021-04-23 16:03] schensley commented on #30835
@magento give me 2.4.2 instance

[2021-04-23 17:54] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-04-23 21:47] chelevich opened #32832 "Cannot create product "URL key for specified store already exists." - pure magento, no migration, no scripts, no categories"
### Preconditions (*)

1. Magento 2.4.0 (Enterprise Edition)
2. PHP 7.4

### Steps to reproduce (*)

1. Create two websites with a store for each website (website IDs: 1 and 2, store IDs: 1 and 2)
2. Create a product with URL Key "test" (product ID: 1)
3. Assign it to **both websites**
4. Observe two URL Rewrites created for both stores
- store 1, "test -> catalog/product/view/id/1",
- store 2, "t

[2021-04-24 01:15] mrtuvn commented on #30656
Reproducible case with luma theme setup with default sampledata

Product named "Joust Duffle Bag"
1.Go to admin -> Change
2.Create widget show products list type for blank theme and display only in product detail for "Joust Duffle Bag"
3.Clear cache
4.Go to frontend visit page product "Joust Duffle Bag"
5.See results

Actual
Widget not show (because magento still get theme luma default from initia

[2021-04-24 01:22] magento-engcom-team commented on #30656
@mrtuvn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-24 01:22] magento-engcom-team commented on #30656
@mrtuvn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-24 01:22] magento-engcom-team commented on #30656
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-24 01:23] magento-engcom-team commented on #30656
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42043` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-24 01:24] mrtuvn commented on #30656
Reproducible case with luma theme setup with default sampledata

Product named "Joust Duffle Bag"
1.Go to admin -> Change Schedule Design Update : New theme: Choose blank theme
2.Create widget show products list type for blank theme and display only in product detail for "Joust Duffle Bag"
2.1 Type: Catalog Products List
2.2 Assign to Store Views: All Store Views
2.3 Layout Updates: All product ty

[2021-04-24 01:37] magento-engcom-team commented on #32822
@mrtuvn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-24 01:40] magento-engcom-team commented on #32822
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42044` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-24 07:27] trunglv commented on #30540
Try my solution https://github.com/betagento/magento2_search_fixing

[2021-04-24 08:40] ilnytskyi commented on #189
When we removed entity ids from layout handles. We reduced used cache space significantly and it also improved overall page performance.
![Selection_639](https://user-images.githubusercontent.com/3192770/115952943-36e14400-a4e9-11eb-863f-b08a43a30edb.png)

[2021-04-24 08:40] ilnytskyi commented on #102
When we removed entity ids from layout handles. We reduced used cache space significantly and it also improved overall page performance.
![Selection_639](https://user-images.githubusercontent.com/3192770/115952943-36e14400-a4e9-11eb-863f-b08a43a30edb.png)

[2021-04-24 11:11] iphigenie commented on #32708
HI @gabrieldagama - the bug I reported is sorting being WRONG ON THE FRONT END - are you saying that the sorting one creates in admin is just for show, and it will not be used and this is not a bug?

[2021-04-24 11:43] iphigenie commented on #32734
@timpea

For manufacturer you can add "manufacturer is not Apple OR manufacturer is undefined" to get what a human would expect

We don't have an "is undefined" for categories or for multiselect, and I suspect the solution will be to add such criteria options and make it more obvious to humans in documentation what the computer logic is

Similar to how the difference between "contains" (has that o

[2021-04-24 14:23] shikhamis11 commented on #32832
@magento give me 2.4-develop instance

[2021-04-24 14:49] shikhamis11 commented on #32832
Hi @chelevich
I tried to reproduce the issue on 2.4-develop instance. It's working fine. At step 6 there is only 2 url rewrite exists related to the website the product is assigned.
So I am able to create new product on other website with previous product url key.

[2021-04-24 14:51] shikhamis11 commented on #32832
Can you confirm you are able to reproduce the issue on latest 2.4-develop instance?
Also let us know if require additional steps to reproduce the issue if any

[2021-04-24 15:51] chelevich commented on #32832
@shikhamis11 sorry, I cannot reproduce the issue in 2.4-develop.
Probably it's fixed by https://github.com/magento/magento2/pull/31106
I need to find a way to upgrade my 2.4.0

[2021-04-24 16:40] JorenRapini commented on #21870
Does anyone have a solution to this yet? Our store just started having this same exact issue. Just updated to the latest magento 2 version too and it's still happening.

[2021-04-24 18:07] larryflp commented on #21870
I believe there are captcha options you can enable in the latest versions of Magento that are supposed to prevent the carding issue.

We were affected very badly a couple of years ago and ended up just switching over to Stripe. Free to sign up and no monthly fees.

[2021-04-24 19:22] dverkade commented on #29439
This issue is caused because a varchar / text field is set to be filerable in search. I've resolved this by running the following query, then flushing the cache and doing a reindex again. This solved the issue for me.

`UPDATE catalog_eav_attribute SET is_filterable_in_search = 0 WHERE attribute_id IN (SELECT attribute_id FROM eav_attribute WHERE entity_type_id = 4 AND backend_type = 'varchar')`

[2021-04-25 06:11] shikhamis11 commented on #32832
Thanks for the update @chelevich
It seems that changes are not released yet maybe It will be there in 2.4.3.
I am closing this one as it is already fixed.

[2021-04-25 06:11] #32832 closed, assigned to shikhamis11

[2021-04-25 09:00] iphigenie commented on #28698
There really should be a "built in" way to extend the tinymce options as part of setting up a Magento 2 site.

Currently it warns that things like aria, role etc won't be allowed (why? I would like my CMS content to be as accessibility tagged properly!

And adding icons without having to nbsp them...

[2021-04-25 13:32] webrod opened #32833 "setup:di:compile issue"
### Preconditions (*)

1. magento 2.4.2
2. developer OR production mode
3. Load on the frontend (because the issue is linked to a race condition between frontend requests and CLI)

### Steps to reproduce (*)

1. bin/magento setup:static-content:deploy -f
2. bin/magento setup:di:compile
.

### Expected result (*)

1. Generated code and dependency injection configuration successfully.
2.

### Actual

[2021-04-25 15:09] JorenRapini commented on #21870
Ahhhh looks like that did the trick, thanks

[2021-04-25 16:04] theshreyas opened #32834 "GraphQL : Cannot update Bundle Product selected options quantity in cart"
Cannot update Bundle Product selected options quantity in cart
### **Preconditions**
1. Magento 2.4.1 / 2.4.2
1. GraphQl API
1. Bundle product with at least one option exists
  * The option must allow for "User Defined" quantities. This is only possible for options with input type "Drop-down" or "Radio Buttons".

### **Steps to reproduce**
1. Add the product with its required options to the cart u

[2021-04-25 17:41] webspot opened #32835 "bin/magento module:status showing "None" custom Modules"
I am newbie in Magento2.3.4.

### Issue
created new module by following [Create admin menu in magento 2](https://www.truecodex.com/course/magento-2-module-development/create-admin-menu-in-magento-2) but the command **bin/magento module:status** always show **None** for Disabled Modules

### Environment
Windows 10
Xampp
Magento2.3.4

### Steps to reproduce
For create New module followed  [Create ad

[2021-04-25 17:56] #32835 closed, assigned to nobody

[2021-04-25 23:35] iphigenie commented on #28698
Thanks to @danielpugh 's hints I dabbled a minimal implementation to integrate https://github.com/claviska/tinymce-iconfonts and at first glance it's working - though if I missed something someone please shout :)

my module is Alpine/AlpineCustom

js plugin files in lib/web/tiny_mce_4/plugins/iconfonts

a di.xml for adminhtml

`   <type name="Magento\Cms\Model\Wysiwyg\DefaultConfigProvider">

[2021-04-26 04:04] tuyennn commented on #14674
@magento-engcom-team what is the status of this ticket, was this released? could you provide the related pull request

[2021-04-26 06:08] hostep commented on #14674
@tuyennn: does [my comment above](https://github.com/magento/magento2/issues/14674#issuecomment-504473190) help?

These automated ticket updates by that bot are often incorrect, or maybe @sdzhepa can provide more info?

[2021-04-26 06:12] ihor-sviziev commented on #31513
let's keep it open

[2021-04-26 06:21] samy-m-dev opened #32836 "Varnish VCL prevent Link headers (for HTTP2 preload / server push)"
### Preconditions
Magento 2 (any versions) and Varnish enabled with default VCL

### Steps to reproduce
1. Default install of Magento (any versions)
2. Configure and enable Varnish with default VCL
3. Customize header to send HTTP2 preload/server push link like:

`Link: <https://magento2-domain.org/static/_cache/merged/89e1e4264a5da4c028da48f231925246.js>; rel=preload; `

### Expected result

Link

[2021-04-26 06:43] ihor-sviziev commented on #32833
Hi @webrod,
It really looks like a race condition issue between the CLI and some requests on the frontend - the CLI tries to remove all files and a directory, while the frontend at the same time creating new files there.
In order to prevent it - you can enable maintenance mode before running `setup:static-content:deploy`, and disable it once you're ready. This will also improve the experience for

[2021-04-26 07:27] chequille commented on #31105
It is a shame, that nobody is aible to fix this, as it is still within 2.4.x
Sorry guys, there must be somebody who can fix this!!! Or not?

[2021-04-26 07:28] an4rei commented on #30366
Issue is still relevant.

[2021-04-26 07:42] TheRealHunzik commented on #26172
I am facing this issue in Magento 2.3.4-p2 is there any solution?

[2021-04-26 08:00] Paulsky commented on #3923
Why is this issue closed?

[2021-04-26 08:22] braders opened #32837 "Password reset error message references hello@example.com which cannot be changed unless contact form is enabled"
### Preconditions (*)

1. Magento 2.4.1
2. Any environment. Cloud or self-hosted. Open source and Commerce.

### Steps to reproduce (*)

1. Disable the "Contact us" form from the admin area (Configuration -> General -> Contacts -> Enable Contact Us)
2. On the password reset route (/customer/account/forgotpassword/) request a password reset multiple times. Assuming out-of-the-box configuration you

[2021-04-26 08:39] Eddcapone opened #32838 "Preference override not working for method sendConfirmationRequestEmail of module-newsletter in 2.4.2"
### Preconditions (*)

1. Fresh 2.4.2 with Sample Data (composer update called on 26.04.2021 - 10:34 (Berlin, Timezone))
2. Linux Server (we are hosted on rackspeed)

### Steps to reproduce (*)

I try to override the method `sendConfirmationRequestEmail` from the *module-newsletter* Module in **vendor\magento\module-newsletter\Model\Subscriber.php**.

## 1.  Create app\code\Company\Newsletter2Go\r

[2021-04-26 08:43] lano-vargas commented on #32695
I get the same issue with when adding new column to an existing and all previous data row doesn't get rendered, not lost it still in core_config_data table but I assume because the new column isn't in the array it just won't rendered at all is this another issue can anyone confirm ? Thanks

[2021-04-26 08:44] an4rei commented on #6018
5 years later... same issue

[2021-04-26 08:49] GuiltyNL commented on #6018
Just buy Magic Zoom guys. It is really not worth waiting on fixes. Adobes priority clearly lies somewhere else.

https://www.magictoolbox.com/magiczoom/modules/magento/

[2021-04-26 08:58] #32838 closed, assigned to nobody

[2021-04-26 09:01] Eddcapone commented on #32838
It was my fault. I accidentially used `Magento\Subscriber\Model\Subscriber` instead of `Magento\Newsletter\Model\Subscriber`.
It would be cool if there would be an error thrown during setup:di:compile, saying that the **Class could not be found**.

[2021-04-26 09:07] Eddcapone opened #32839 "Show error on setup:di:compile if you attempt to override a class which does not exist"
### Description (*)

I was experiencing a bug where my class override attempt with precedence was not working.
It was entirely my fault and a bug caused by me.

I accidentially used Magento\Subscriber instead of Magento\Newsletter in the following di.xml:

[code]

However, `setup:di:compile` ran through without any errors. It would be nice if there would be an error showing, if the class could not

[2021-04-26 09:25] ihor-sviziev commented on #32839
@Eddcapone I think it's better to do some Static test for such a case. What do you think?

[2021-04-26 09:37] magento-engcom-team commented on #32837
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42053` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-26 09:41] TomMartensNL opened #32840 "Cannot mass update Qty values"
### Preconditions (*)

1. Magento version: 2.3.4
2. Using 296.124 items (13.584  configurable + 282.533 simple products) for a store

### Steps to reproduce (*)

1. Use admin backend and head over to `Catalog --> Products`
2. Select all products using the selector in a product grid (top left) and click on 'Select All'
3. Select 'Actions' --> 'Update Attributes'
4. Head over to 'Advanced Inventory'

[2021-04-26 09:48] magento-engcom-team commented on #32828
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42055` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-26 10:06] engcom-Oscar commented on #32803
Hi @ThwQwirkyShop ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
So, we have to close this ticket.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this iss

[2021-04-26 10:06] #32803 closed, assigned to nobody

[2021-04-26 10:40] AjayKrP commented on #29506
Do we have any patch for this?

[2021-04-26 10:40] gabrieldagama commented on #32708
Hi @iphigenie, thanks for sharing your thoughts.

What I meant is that this is not a behavior that the product organization expects and the code was never built to produce such behavior, so from our perspective that is not a bug.

Now, I've spoken with @engcom-Oscar and he has brought up a valid point, it seems that the attribute sorting (color) is actually being done by option id (as you describe

[2021-04-26 11:19] tim-breitenstein-it commented on #26960
Still happens on 2.4.2

[2021-04-26 11:45] vlmed commented on #32837
@magento I am working on it

[2021-04-26 11:49] iphigenie commented on #32708
Hi @gabrieldagama

Thanks for the update - this is exactly what my ticket said, that they are being sorted by "option id" and that made no sense.  It's obviously something you'd only start to notice after you've run a site a while and added new options.

Alphabetical I would have understood, or the order as set in admin (which is the order used for the swatches in layered navigation). Both of thes

[2021-04-26 11:57] vseager commented on #32825
Sorry I realise now in the original issue it said this was fixed in 2.4-develop.

[2021-04-26 11:57] #32825 closed, assigned to engcom-Oscar

[2021-04-26 12:01] SilinMykola commented on #32824
@magento I am working on this

[2021-04-26 12:44] Usik2203 commented on #30593
@magento I am working on this

[2021-04-26 12:53] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-04-26 12:54] TomMartensNL commented on #32840
@magento give me 2.4-develop instance

[2021-04-26 13:40] ksenia-zlotin commented on #29409
Hello, is there an update on internal ticket MC-40673? I am looking for a solution too - experiencing performance issue in the admin panel for products with many checkbox / select custom options. Additional dependencies cause more slowness.

[2021-04-26 13:43] vovsky commented on #32760
@magento I am working on this

[2021-04-26 14:20] mmansoor-magento opened #32842 "Investigate upgrade to the latest ChartJS"
### Overview

For the ChartJS library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in ter

[2021-04-26 14:20] mmansoor-magento opened #32843 "Investigate upgrade to the latest ExtJS"
### Overview

For the ExtJS library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in terms

[2021-04-26 14:20] mmansoor-magento opened #32844 "Investigate upgrade to the latest Fotorama"
### Overview

For the Fotorama library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in te

[2021-04-26 14:20] mmansoor-magento opened #32845 "Investigate upgrade/create POC to the latest LessCSS"
### Overview

For the LessCSS library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in ter

[2021-04-26 14:20] mmansoor-magento opened #32846 "Investigate upgrade/create POC to the latest modernizr"
### Overview

For the modernizr library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in t

[2021-04-26 14:20] mmansoor-magento opened #32847 "Investigate upgrade to the latest PrototypeJS"
### Overview

For the PrototypeJS library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in

[2021-04-26 14:20] mmansoor-magento opened #32848 "Investigate upgrade to the latest script.aculo.us"
### Overview

For the script.aculo.us library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependenc

[2021-04-26 14:20] mmansoor-magento opened #32849 "Investigate upgrade to the latest tinymce4"
### Overview

For the tinymce4 library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in te

[2021-04-26 14:20] mmansoor-magento opened #32850 "Investigate upgrade to the latest underscorejs/create POC"
### Overview

For the underscorejs library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency i

[2021-04-26 14:20] mmansoor-magento opened #32851 "Investigate upgrade to the latest es6-collections.js"
### Overview

For the es6-collections.js library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating depend

[2021-04-26 14:20] mmansoor-magento opened #32852 "Investigate upgrade to the latest FormData.js"
We need to continue investigation of the outdated Magento Core build-in 3rd party JS dependencies identified in scope of previous investigation <https://wiki.corp.magento.com/pages/viewpage.action?spaceKey=COREENG&title=Investigate<ins>Magento</ins>Core<ins>build-in</ins>dependencies<ins>on</ins>3rd-party+libraries>

Investigate only Core code

For FormData.js library we need to identify the follo

[2021-04-26 14:20] mmansoor-magento opened #32853 "Investigate upgrade to the latest legacy-build.min.js"
### Overview

For the legacy-build.min.js library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating depen

[2021-04-26 14:20] mmansoor-magento opened #32854 "Investigate upgrade to the latest moment.js"
### Overview

For the moment.js library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency in t

[2021-04-26 14:20] mmansoor-magento opened #32855 "Investigate upgrade to the latest moment-timezone-with-data.js"
### Overview

For the moment-timezone-with-data.js library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updat

[2021-04-26 14:20] mmansoor-magento opened #32856 "Investigate upgrade to the latest MutationObserver.js"
### Overview

For the MutationObserver.js library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating depen

[2021-04-26 14:20] mmansoor-magento opened #32857 "Investigate upgrade to the latest matchMedia.js"
### Overview

For the matchMedia.js library we need to identify the following additional details:

- If this library is used on Admin UI or Storefront Luma or both
- What exact functionality is using this particular library
- What is a preliminary scope of work to migrate to the new version.
- Is it possible to migrate without introducing BIC into Luma
- Level of the impact of updating dependency

[2021-04-26 14:20] mmansoor-magento opened #32858 "Research New Quality Tools"
Some of the tools listed [https://thevaluable.dev/code-quality-check-tools-php/](here) might be beneficial for Magento. For example, dePHPend,  churn-php , PhpCodeFixer , PhpMetrics, type checking statically with PHP Stan

Provide analysis for the most promising ones, which should include:
- Potential benefits
- Stability and level of support
- Any other important details

[2021-04-26 14:20] mmansoor-magento opened #32859 "Auto-fixer for PHP Compatibility Issues"
It should be possible to write a tool, which can be used to fix compatibility issues of Magento core modules and third party extensions with the new PHP versions. Such tool will decrease total cost of ownership (TCO) for merchants and partners.

It has to be extended when new PHP versions are released.

The goal of this ticket is to create HLD or PoC with high level architecture and implementation

[2021-04-26 14:20] mmansoor-magento opened #32860 "Headless Magento Distribution"
Merchants should have the ability to use Magento in headless mode.

To avoid unnecessary security risks and to reduce upgrade cost/complexity, merchants may benefit from being able to only install modules required for headless request processing.

Expected outcome:
- HLD describing the solution

[2021-04-26 14:20] mmansoor-magento opened #32861 "Programmatically identify end of life date for a dependency"
Currently, there is no way to identify when the specific dependency of Magento (or any other software) reaches it's EOL programmatically.

There have been ideas to add EOL to composer.json before https://github.com/composer/composer/issues/9113 but they didn't come through.

[2021-04-26 14:20] mmansoor-magento opened #32862 "Magento upgrades best practices"
The goal of this R&D task is to create guidance on Magento upgrades and publish it to devdocs.

### Topics to discuss

- Evaluation/estimation of Magento upgrades
- Preparation for the upgrade
- Upgrade process
- Tips and tricks

Internal tickets:
MC-41324
MC-41190

[2021-04-26 14:21] mmansoor-magento opened #32863 "Update webonyx/graphql-php dependency"
Depends on: magento/magento-coding-standard#206

Update webonyx/graphql-php dependency in https://github.com/magento/magento-coding-standard repository to the latest version (later update magento with new coding standard version and new webonyx/graphql-php)

### What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes

[2021-04-26 14:21] mmansoor-magento opened #32864 "Update phpseclib/phpseclib to the latest version"
Update phpseclib/phpseclib from 2.0.31 to 3.0.8

### What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (use automated tests if available)
 - Open

[2021-04-26 14:21] mmansoor-magento opened #32865 "Update phpseclib/mcrypt_compat to the latest version"
Update phpseclib/mcrypt_compat composer dependency to the latest major version 2.x.x

What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (use autom

[2021-04-26 14:21] mmansoor-magento opened #32866 "Update php-amqplib/php-amqplib to the latest version"
Update php-amqplib/php-amqplib from 2.10.1 to 3.0.0

### What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (use automated tests if available)
 - O

[2021-04-26 14:21] mmansoor-magento opened #32867 "Update pdepend/pdepend to the latest version"
Update pdepend/pdepend composer dependency to the latest major/minor version 2.x.x

What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (use automat

[2021-04-26 14:21] mmansoor-magento opened #32868 "Update monolog/monolog to the latest version"
Update monolog/monolog from 1.26.0 to 2.2.0

What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (use automated tests if available)
 - Open the pull

[2021-04-26 14:21] mmansoor-magento opened #32869 "Update guzzlehttp/guzzle to the latest version"
Update guzzlehttp/guzzle from 6.5.5 to 7.3.0

### What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (use automated tests if available)
 - Open the

[2021-04-26 14:21] mmansoor-magento opened #32870 "Update colinmollenhour/credis to the latest version"
Update colinmollenhour/credis from 1.11.1 to 1.12.1

### What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (use automated tests if available)
 - O

[2021-04-26 14:21] mmansoor-magento opened #32871 "Update colinmollenhour/cache-backend-redis to the latest version"
Update colinmollenhour/cache-backend-redis composer dependency to the latest minor version

 

What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency via composer
 - Perform the testing of affected areas after update (

[2021-04-26 14:21] mmansoor-magento opened #32872 "Add PHP 8 compatibility to magento/semver"
Add PHP 8 compatibility to magento/semver

### What needs to be done:
 - Review the dependencies of magento semver https://github.com/magento/magento-semver
 - List the dependencies that are not compatible with PHP 8 (`composer why-not php:8.0`)
 - Update dependencies to PHP 8 compatible versions (composer.json, composer.lock, code changes if necessary)
 - Test the library on PHP 8
 - Open a pull

[2021-04-26 14:21] mmansoor-magento opened #32873 "Validate backward compatibility for Web URLs"
See the issue in semver repository: https://github.com/magento/magento-semver/issues/60

[2021-04-26 14:21] mmansoor-magento opened #32874 "Mark interfaces and blocks as API on Adobe IMS"
Description provided here: https://github.com/magento/adobe-ims/issues/9

[2021-04-26 14:21] mmansoor-magento opened #32875 "Mark interfaces as API on Adobe Stock Integration"
Description provided here: https://github.com/magento/adobe-stock-integration/issues/1858

[2021-04-26 14:27] AndreyChorniy commented on #32875
@magento I am working on this

[2021-04-26 14:40] Eddcapone commented on #32839
@ihor-sviziev In my oppinion it would be much better if the setup:di:compile command would get extended to show an error or a warning in this case. A static test would not have helped either, since I would probably had the same bug in the static test (accidentially using Magento\Subscriber instead of Magento\Newsletter)

[2021-04-26 15:52] shikhamis11 commented on #32874
@magento I am working on this

[2021-04-26 16:12] shikhamis11 commented on #32874
https://github.com/magento/adobe-ims/pull/10

[2021-04-26 16:19] broadmargin commented on #15115
Is there a patch for previous versions of magento?  I see there are 7 commits with multiple modified files.  What is the complete solution for this regarding previous versions of magento?

[2021-04-26 16:27] ejnshtein opened #32878 "Mime.getMimeType method throws an error when supplied $path argument imageInfo is not available"
### Preconditions (*)

1. OS - Arch Linux (Manjaro)
 PHP version - 7.4.16
 Composer version - 2.0.12
 Magento version - 2.4.2
2. Working on adding support Magento 2.4.2 in [create-magento-app](https://docs.create-magento-app.com/) I faced an issue when requesting a file it throws the following error in `Magento/Framework/Filesystem/Driver/File` in [Mime class getMimeType method](https://github.com

[2021-04-26 16:28] magento-engcom-team commented on #32501
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42059` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-26 16:51] shikhamis11 commented on #32875
@magento I am working on this

[2021-04-26 17:15] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-04-26 17:15] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-04-26 17:15] ericerway commented on #30835
@magento give me 2.4.1 instance

[2021-04-26 17:16] ericerway commented on #30835
@magento give me 2.4.1 instance with edition ee

[2021-04-26 17:58] shikhamis11 commented on #32862
Along with the steps added in the dev doc for upgrade
I would like to mention some know issues related to Magento upgrades which can be found here
https://support.magento.com/hc/en-us/sections/360003869892-Known-issues-patches-attached-
also on the release note page of every version
for Example : https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-2.html#known-issues

I have expe

[2021-04-26 18:59] lenaorobei commented on #32787
@magento give me 2.4-develop instance

[2021-04-26 19:52] hostep commented on #32845
Following open PR is probably relevant to this issue: https://github.com/magento/magento2/pull/31618

[2021-04-26 20:17] hostep commented on #32862
For the tips & tricks part, the obvious tool to mention here is https://github.com/AmpersandHQ/ampersand-magento2-upgrade-patch-helper which I'm using for all Magento upgrades and is a very good and helpful tool in detecting certain customisations done to a shop that should be investigated after a Magento upgrade.

[2021-04-26 21:07] mikew-westlund opened #32879 "Paypal Payflow Advanced returnUrl response cookies SameSite=Lax"
### Preconditions (*)

1. Magento 2.3.6-p1
2. Apache2
3. PHP 7.3
4. Chrome 90.0.4430.85 or greater
5. Paypal Payments Advanced
6. URL method for Cancel URL and Return URL: GET

### Steps to reproduce (*)

1. add product to cart
2. checkout
3. proceed through checkout
4. select Paypal Payments Advanced payment method
5. submit payment

### Expected result (*)

1. redirected to /checkout/onepage/suc

[2021-04-26 21:32] TimQSO opened #32880 "Quote Lifetime works not like documented"
The documentation found here:
https://docs.magento.com/user-guide/sales/cart-quote-lifetime.html

Says that with the quote lifetime you are able to set an amount of days to protect the price of the products that are put in a cart.

So, if you set it to 3 days, the customer will be protected against price changes for the products that are in the cart. After those 3 days, the price of the items in t

[2021-04-26 21:50] mikew-westlund commented on #32879
As far as I can tell this problem began with Chrome 90.0.4430.72

[2021-04-26 21:54] mikew-westlund commented on #32879
I believe the solution for this would be to set those cookies to SameSite=None and secure

[2021-04-26 22:55] gabrieldagama commented on #32810
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32802 by @martasiewierska in 2.4-develop branch
Related commit(s):
 - [07024463f66f56c6348fdfeb1a2e8dd6bab8a88c](https://github.com/magento/magento2/commit/07024463f66f56c6348fdfeb1a2e8dd6bab8a88c)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-26 22:55] #32810 closed, assigned to martasiewierska

[2021-04-26 22:55] gabrieldagama commented on #32279
Hi @treestonemedia. Thank you for your report.
The issue has been fixed in magento/magento2#32353 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [3359cfa671573656d9a6754397160609389af365](https://github.com/magento/magento2/commit/3359cfa671573656d9a6754397160609389af365)
 - [706d2ec8829a8ab82d426a4b9447212ea80f293a](https://github.com/magento/magento2/commit/706d2ec8829a8ab82d426a4b9447

[2021-04-26 22:55] #32279 closed, assigned to Usik2203

[2021-04-26 22:55] gabrieldagama commented on #32568
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32539 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [95116a9cbbf50d5c96ff44e0672efa02805996b2](https://github.com/magento/magento2/commit/95116a9cbbf50d5c96ff44e0672efa02805996b2)
 - [c05e4c73f62953ba8bf3f5e5c5b8073737875f28](https://github.com/magento/magento2/commit/c05e4c73f62953ba8bf3f5

[2021-04-26 22:55] #32568 closed, assigned to kate-kyzyma

[2021-04-26 22:55] gabrieldagama commented on #32377
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32295 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [9551196c9878c666f9d56559f7ae0cccb3da7fed](https://github.com/magento/magento2/commit/9551196c9878c666f9d56559f7ae0cccb3da7fed)
 - [cc8f978d600a9c24e21fd40cc2337e52c334e54b](https://github.com/magento/magento2/commit/cc8f978d600a9c24e21fd4

[2021-04-26 22:55] #32377 closed, assigned to kate-kyzyma

[2021-04-26 22:55] gabrieldagama commented on #32501
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32499 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [4d5d656bfd9bf836dd16b968e71be554f0e5240d](https://github.com/magento/magento2/commit/4d5d656bfd9bf836dd16b968e71be554f0e5240d)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-26 22:55] #32501 closed, assigned to ihor-sviziev

[2021-04-26 22:55] gabrieldagama commented on #32506
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32465 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [3831d419620f4d4b04c4721d5f07397361d7ff0a](https://github.com/magento/magento2/commit/3831d419620f4d4b04c4721d5f07397361d7ff0a)
 - [1ba52ffcd6b78b4a6040a3f00d87c17991dff886](https://github.com/magento/magento2/commit/1ba52ffcd6b78b4a6040a3

[2021-04-26 22:55] #32506 closed, assigned to kate-kyzyma

[2021-04-26 22:55] gabrieldagama commented on #31984
Hi @erfanimani. Thank you for your report.
The issue has been fixed in magento/magento2#31985 by @erfanimani in 2.4-develop branch
Related commit(s):
 - [6316620cca1482d4f56fd4f1e5d3482e6b1f6deb](https://github.com/magento/magento2/commit/6316620cca1482d4f56fd4f1e5d3482e6b1f6deb)
 - [6da61dffbfd21df167192c9ae4a528ffe682024b](https://github.com/magento/magento2/commit/6da61dffbfd21df167192c9ae4a528

[2021-04-26 22:55] #31984 closed, assigned to erfanimani

[2021-04-26 22:55] gabrieldagama commented on #32100
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32099 by @engcom-Foxtrot in 2.4-develop branch
Related commit(s):
 - [dda7a4ccd07463464805228457857a6147af473e](https://github.com/magento/magento2/commit/dda7a4ccd07463464805228457857a6147af473e)
 - [e51e5b9ba633aed5f20152e27b62d5dfa7c644d2](https://github.com/magento/magento2/commit/e51e5b9ba633aed5f20

[2021-04-26 22:55] #32100 closed, assigned to engcom-Foxtrot

[2021-04-26 22:55] gabrieldagama commented on #32786
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#32145 by @hostep in 2.4-develop branch
Related commit(s):
 - [197f142c80717db006741ee81fbc882a811f6d66](https://github.com/magento/magento2/commit/197f142c80717db006741ee81fbc882a811f6d66)

The fix will be available with the upcoming 2.4.3 release.

[2021-04-26 22:55] #32786 closed, assigned to hostep

[2021-04-26 22:57] magento-engcom-team commented on #32568
Hi @m2-assistant[bot], @kate-kyzyma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41527` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-26 22:57] magento-engcom-team commented on #32377
Hi @m2-assistant[bot], @kate-kyzyma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41509` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-26 22:57] magento-engcom-team commented on #32506
Hi @m2-assistant[bot], @kate-kyzyma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41511` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-26 22:57] magento-engcom-team commented on #32100
Hi @m2-assistant[bot], @engcom-Foxtrot.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41938` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-26 23:31] mrtuvn commented on #32878
Can you create PR for this ?

[2021-04-27 00:59] Webalpha97 opened #32882 "On migration from Magento 1.9 to Magento 2.4.2 on category page it shows error We can not find products matching the selection."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-04-27 01:06] Webalpha97 commented on #32882
I had also tried reindexing,cache clean but no success.

[2021-04-27 02:27] mrtuvn commented on #32844
Seem we are using latest version

[2021-04-27 02:28] mrtuvn commented on #32844
https://github.com/magento/magento2/blob/2.4-develop/lib/web/fotorama/fotorama.js

[2021-04-27 02:31] mrtuvn commented on #32849
we updated to 4.9.10
9months ago

[2021-04-27 02:37] mrtuvn commented on #32850
current
https://github.com/magento/magento2/blob/2.4-develop/lib/web/underscore.js
latest 1.13.1

[2021-04-27 03:01] tuyennn commented on #32695
@lano-vargas The problem is the fields are not gonna send the values to database while it was disabled. For now I set another template based on vendor/magento/module-config/view/adminhtml/templates/system/config/form/field/array.phtml for the Block extended Magento\Config\Block\System\Config\Form\Field\FieldArray\AbstractFieldArray.

And remove the id from the `<table class="admin__control-table">

[2021-04-27 05:55] Webalpha97 commented on #32882
Can anyone help me out with this issue.

[2021-04-27 08:19] elaidomino commented on #28337
And FedEx pointed out too that they do not support 3rd-party extensions like what's pre-installed on M2.