[2016-03-29 02:58] sangatpedas commented on #3905
Why is this labeled "MX"? Sure it's a backend problem but shouldn't this be a high priority bug to fix? Not being able to edit products seems quite essential to me.

[2016-03-29 04:42] woei66 commented on #2797
@mazhalai

How do I know that the patch will be available for production if I install magento2 by below command:
composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2

thank you.

[2016-03-29 05:13] MorganGonzales commented on #2425
Solution: https://github.com/magento/magento2/issues/2523

[2016-03-29 06:32] sonalagr commented on #776
I also want to limit guest user to use coupon only once.I also want this feature. Does anyone have the solution?

[2016-03-29 06:41] seansan commented on #776
I agree - but think this is a new ticket. With its own argumentation.

[2016-03-29 06:45] sonalagr commented on #776
Hi Sensan,
    Can you provide any solution regarding limiting usage for guest user?

[2016-03-29 06:45] seansan opened #3918 "Limit guest user (actually all users) to use coupon only once"
Request: build in simple functionality to inlcude guest users (hence their email) in the check if a coupon code is already used. @sonalagr
## Steps to reproduce
1. Suppose we set-up a coupon code that can only be used once
2. Guest users can check out with 2 orders and the coupon is still valid
## Expected result
1. Second order the coupon code is invalidated (client already ordered with that user

[2016-03-29 06:50] ishakhsuvarov commented on #3902
@ahamedkislakci Thanks for the update. Closing this ticket for now, if you have any additional questions please feel free to reopen.

[2016-03-29 06:50] #3902 closed, assigned to ishakhsuvarov

[2016-03-29 06:53] sonalagr commented on #3918
I have seen all these links but they don't provide any solution.
What I want to check on email address for guest users,if email address already associated with any order and used the coupon code,then next time the coupon code won't be applied.

[2016-03-29 06:59] seansan commented on #3918
If you want to contribute to or report a missing feature you can do this
here. If you want other people to help you find a solution to a specific
problem and/or explain your problem and the steps you have taken to
investigate - maybe you can ask the question on stackexchange?
http://magento.stackexchange.com/.

On Tue, Mar 29, 2016 at 8:54 AM, sonalagr notifications@github.com wrote:

[2016-03-29 07:01] grasdaggel commented on #3877
Dear @mazhalai, I have no clue how to update to a dev branch within magento.

The Theme has a registration.php.

There is a respective row in the database for the newly installed theme, ID 5. The error contains this ID as well. Cite:
`a:4:{i:0;s:42:"Unable to load theme by specified key: '5'";i:1;s:11704:"#0 /home/ccsammelfiguren/public_html/stage/vendor/magento/module-theme/Model/View/Design.php(

[2016-03-29 08:42] cs221313 opened #3919 "2 tables in AbstractDb"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. In Magento/Directory/Model/ResourceModel/Region.php, it has 2 tables, one is directory_country_region, another one is directory_country_region_name.
3. But when we save new region, AbstractDb only save the main table which is directory_country_region.

I guess for the current version we need to inherit the class AbstractDb and rewr

[2016-03-29 09:06] rohitkundale commented on #3801
@vzaporozhets
This error is occurred in my localhost.
Is it required to define and use FQDN?

Please elaborate.

[2016-03-29 09:23] atishgoswami commented on #3657
@davidalger Ya sure will check this and get right back !

[2016-03-29 09:26] ishakhsuvarov commented on #3392
@PVoIWD Closing this ticket for now. Please feel free to reopen if you have any additional questions.

[2016-03-29 09:26] #3392 closed, assigned to ishakhsuvarov

[2016-03-29 09:37] atishgoswami commented on #3657
Its Working @davidalger

Thanks @duhon

[2016-03-29 09:49] dgunwin opened #3920 "(Suggestion) Provide method to translate only the storefront"
I am translating my Magento 2 website. I would like to keep English for the admin pages, but use another language for the storefront (i.e. the pages customers see). This should mean there will be far fewer phrases to translate, as the admin pages will remain in English.

I am using the Magento command-line tool to generate the translation dictionary:

`magento i18n:collect-phrases -o "/var/www/htm

[2016-03-29 10:30] antboiko commented on #3898
Hi @sameasterling , thanks for your inquiry. I've created internal ticket MAGETWO-51224 to cover this improvement and placed it into our backlog.

Best,
Anton.

[2016-03-29 12:02] devhn commented on #3572
Sure:

OS: Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u6 (2015-11-09) x86_64 GNU/Linux (debian 8.2 - jessie)
MYSQL: Ver 14.14 Distrib 5.7.10, for Linux (x86_64) using EditLine wrapper
PHP 5.6.14-0+deb8u1 (fpm) with with Zend OPcache v7.0.6-dev
WEBSERVER: nginx/1.8.0
built by gcc 4.9.2 (Debian 4.9.2-10)
built with OpenSSL 1.0.1k 8 Jan 2015
TLS SNI support enabled
configure arguments: --p

[2016-03-29 12:35] sevos1984 commented on #3572
MAGETWO-46014 is regarding delayed messages and will be delivered later, @pantaoran @bb8d I can't recreate your problem, looks like some issues with your environment

[2016-03-29 13:06] ankursachdeva11 opened #3921 "need an API to get parent product SKU using child SKU"
Here our scenario is :
We are updating any value of child product then on third party we need updated products so, there we need to find the configurable product sku of updated child product.

We are using /V1/products/:sku but it is not returning the sku of parent product.

Please let me know any way or suggestion, how we can get this without changing anything in magento2 and using standard rest

[2016-03-29 13:10] kevando commented on #3870
I get the same error and I see a 503 in the browser console log

validation.js:168 POST https://mymagento2store.com/admin/admin/import/validate/key/7c3d2a6d77a544f23394e62945bebd6a2f68fe828eac30ce4ad4581c7c9fe9cb/?form_key=gb1G71Sb3uFLmW2e 503 (Service Unavailable)

[2016-03-29 13:57] tejashp77 opened #3922 "Why does an order with virtual-only items have the "processing" status instead of "complete" after placing?"
It shows processing after order success.

it should be complete instead.

can anyone has same issue?

[2016-03-29 14:15] grasdaggel opened #3923 "Exporting and reimporting products out of the box creates massive CSV bugs"
Hi there,

we tried to export products from one store to another. This caused errors on ALL rows in the respective CSV.

We are using Magento 2.0.2

[code]

We did not modify the file nor did we have opened it. This problem should be reproduceable by exporting products without any further configuration and reimporting the very same file into another different Magento2 store.

Only thing is that th

[2016-03-29 14:22] vzaporozhets commented on #3801
@rpmkhatri It doesn't solve any problem but it's a common practice. You can easy modify your "hosts"-file with any FQDN-compatible alias what you want. But don't forget to use the same alias in base url while installing Magento.

[2016-03-29 14:29] grasdaggel commented on #3923
Problem already tracked down a little. Export throws in HTML content and uses linebreaks (probably \r\n) in the CSV which might create those bugs.

[2016-03-29 14:35] grasdaggel commented on #3923
It seems that this isnt't the problem, since HTML is correctly encapsulated in "'s. I've found out that class="NNN" references are in the CSV with class=""NNN"" (double "). This might be a problem. Replacing all the "" with \" or ' does not solve the problem, however.

[2016-03-29 14:44] grasdaggel commented on #3923
Heres the CSV: http://www33.zippyshare.com/v/ENnw16d2/file.html

[2016-03-29 14:57] jigneshthummar commented on #3920
i think good idea to gather strings of particular module as well so we can generate tranlsation file per module

[2016-03-29 15:30] JDavidVR commented on #3645
I have this issue too, its on magento2.0.2 ee, any update for this issue ?

I think this is a critical issue

thank you

[2016-03-29 15:34] redboxmarcins commented on #2757
fixer.io has very limited number of currencies - for example there is no AED

[2016-03-29 15:51] vzabaznov commented on #3569
@samleeiii thank you for reporting, functionality was changed, and i cannot reproduce this issue with fresh version, please feel free to write here or to reopen issue, if you think this it is reproducable

[2016-03-29 15:51] #3569 closed, assigned to voleye

[2016-03-29 16:10] arkadiych commented on #3449
Thanks for reporting this issue. Internal issue MAGETWO-51292

[2016-03-29 16:11] philipvandebriel commented on #2786
For me also same problem with Magento 2.0.2

[2016-03-29 16:37] mazhalai commented on #2786
Thank you all, we have created MAGETWO-51294 to investigate and fix.

[2016-03-29 16:40] mazhalai commented on #3919
Thank you @cs221313, we have created MAGETWO-51295 to investigate and fix.

[2016-03-29 16:44] mazhalai commented on #3858
@OnTapKristjan Thank you. We have created MAGETWO-51296 to investigate and fix.

[2016-03-29 16:46] mazhalai commented on #3350
Closing since issue has been addressed.

[2016-03-29 16:46] #3350 closed, assigned to nobody

[2016-03-29 16:47] mazhalai commented on #2326
#2323 has been merged, @Shop123admin have you checked on the latest develop?

[2016-03-29 16:51] mazhalai commented on #3901
@ksz2013 Thank you! We have created ticket MAGETWO-51298 to fix.

[2016-03-29 16:53] mazhalai commented on #2911
@adampmoss @GianniPDF  @ragum did @chapagain's suggestion help?

[2016-03-29 17:44] eworksmedia commented on #3713
Applying this patch to the five files results in

`knockout.js:3012 Uncaught ReferenceError: Unable to process binding "css: function (){return { empty:!!getCartParam('summary_count') == false} }
Message: getCartParam is not defined`

and the minicart fails to function properly now. After applying the patch both

`php bin/magento setup:upgrade`
`php bin/magento setup:static-content:deploy`

were r

[2016-03-29 18:03] dnadle opened #3924 "Edit of dropdown attribute with large option count changes layered nav values, breaks attribute edit/save"
I added a dropdown attribute with a little over 2,000 options and selected yes values for "Use in Layered Navigation" and "Use in Search Results Layered Navigation." Later, I edited the "Position" value and when I saved the attribute the layered navigation values were set to "No." If I edit the attribute again and attempt to change the layered navigation values back (or change any other values) th

[2016-03-29 18:26] mudithae commented on #2790
Hi @pantaoran,

Your point is valid. I will reopen the issue.

Regards,
Muditha

[2016-03-29 19:02] mazhalai commented on #3169
@stefandoorn sorry for the late reply, the session handler is being invoked not because the CLI is using sessions but since the CLI has an option for where sessions are saved: `--session-save`. See [Install options](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html)

Closing since this is not a bug.

[2016-03-29 19:02] #3169 closed, assigned to nobody

[2016-03-29 19:05] rohitgupta4 commented on #3018
@mikeweis This is awesome, thank you for the update. QQ: Will this be a part of 2.0.3 release & is there an ETA for the release? Plmk.

[2016-03-29 19:05] mazhalai commented on #3874
@sachinsancheti1 how did you deploy magento? via git or via composer create-project or via zip downloaded from magento.com?

[2016-03-29 19:07] mazhalai commented on #3086
@MichielTG sorry for the delay, has your issue been fixed?  Once composer has been updated, it does take a while for the code to be updated.

[2016-03-29 19:14] mazhalai commented on #3254
Thank you we have created MAGETWO-51319 to investigate and fix.

[2016-03-29 20:08] choukalos commented on #3760
Check out our dev docs page on search criteria ( recently renamed / moved to make it easier to find ) - [link](http://devdocs.magento.com/guides/v2.0/howdoi/webapi/search-criteria.html).

[2016-03-29 20:08] #3760 closed, assigned to vrann

[2016-03-29 20:10] choukalos commented on #3657
Closing since the fix resolved this issue.

[2016-03-29 20:10] #3657 closed, assigned to mslabko

[2016-03-29 20:15] choukalos commented on #2628
This should be addressed by the commits pushed on Feb 26th; closing.

[2016-03-29 20:15] #2628 closed, assigned to NadiyaS

[2016-03-29 20:47] #3113 closed, assigned to mazhalai

[2016-03-29 21:42] choukalos commented on #3924
Created MAGETWO-51328 to track internally.

[2016-03-30 05:48] cs221313 commented on #3919
I just worked around by adding a plugin function for save of ResourceModel/Region.

[2016-03-30 07:29] corbinu commented on #2130
I tried the PR on alpine linux and it fixed the original fail however setup still displays the error:
Use of undefined constant GLOB_BRACE - assumed 'GLOB_BRACE'>

The setup doesn't fail however the static content is not generated leaving magneno installed without it.

[2016-03-30 07:52] bpoiss opened #3925 "ACL not defined for Magento_Backend::web"
The resource defined in `magento/module-backend/etc/adminhtml/system.xml:440` (`Magento_Backend::web`) has no ACL. On the other hand there is an ACL defined for the resource `Magento_Config::web` that doesn't exist in `magento/module-config/etc/acl.xml:22`.

If you give some user role permissions for "Web Section" in the backend, the Web Section will not be visible for this user group.

[2016-03-30 10:47] YevSent commented on #3916
The Braintree module on the current develop branch require only minified version of sdk https://github.com/magento/magento2/blob/develop/app/code/Magento/Braintree/view/frontend/requirejs-config.js#L9 and https://github.com/magento/magento2/blob/develop/app/code/Magento/Braintree/etc/config.xml#L34

[2016-03-30 11:07] YevSent commented on #3922
@tejashp77 this is a correct behavior, the order will has `Complete` status after you will create invoices for all amount and shipments for all order items.

[2016-03-30 11:43] rapidmod commented on #2077
I have been installing via the command line and ran into this problem yesterday, after banging my head off the wall all day, I tried creating a new user via the cli "./bin/magento admin:user:create" and that’s when I noticed an error. I guess usually my random typing contains numbers....

The fix was to make sure there is 1 alpha character and 1 numeric character in the admin password. This should

[2016-03-30 11:54] robfico opened #3926 "Front-end Search and use of Varnish with 2.0.2"
When running 2.0.2 Enterprise with the standard built-in FPC enabled, front-end searches are fine, run quickly, run in parallel when tested concurrently, etc...

When switching to Varnish, the search becomes much slower, and even under parallel loads, only runs one search at a time, causing other search attempts to back up and wait for the ones in front of it to finish (siege tests back up and tim

[2016-03-30 12:08] MaximKitsenko commented on #3582
Hi, @MomotenkoNatalia,
I found the reason. [http://stackoverflow.com/questions/35711728/magento2-soap-sorting-error/35711729#35711729](http://stackoverflow.com/questions/35711728/magento2-soap-sorting-error/35711729#35711729)

[2016-03-30 13:34] Microstudioweb commented on #3870
Hello.
Unfortunately the issue come back again and this time persist.
I had tried the previous method, truncate table, but this time don't get any result.

[2016-03-30 13:44] gammyduck commented on #3870
Check your headers

[2016-03-30 13:54] kevando commented on #3870
For me it was the end line encoding. Opening the CSV in the text editor and changing that setting worked for me. Would be nice if there was at least some error output here. Extremely annoying that it just hangs.

[2016-03-30 14:15] alena-marchenko commented on #3382
Hi,
We've delivered your https://github.com/magento/magento2/pull/3384  fix.
Thank you for contribution!

[2016-03-30 14:15] #3382 closed, assigned to alena-marchenko

[2016-03-30 14:27] miguelbalparda commented on #2412
I just realized this was pushed a couple of days ago.
MAGETWO-50284: stop controlling FS permissions on application level
https://github.com/magento/magento2/commit/642127547acbc91f2cb864c3d4880ce4998a9bc4

[2016-03-30 14:57] brendanmckeown opened #3927 "REST API should be able to return codes outside of 400-599 range, such as 304"
This code prevents me from returning any HTTP status codes outside of the 400-599 range.  I specifically would like to return a 304 NOT MODIFIED status.

https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Webapi/Exception.php#L76

304 is a common return code used in RESTful API's, and should be allowed.

[2016-03-30 15:02] vkublytskyi commented on #3927
Exceptions should not be used to implement logic but only for error handling. According to HTTP specification only 4*\* and 5*\* status codes should be used for errors.

[2016-03-30 15:22] mstumpf818 commented on #2713
@ishakhsuvarov the documentation here http://devdocs.magento.com/swagger/index.html still says "Implementation Notes Add the specified item to the specified cart." for the PUT method

[2016-03-30 15:33] brendanmckeown commented on #3927
@vkublytskyi is it possible to return a 304 code?

[2016-03-30 15:34] akashrajguru opened #3928 "how can we add configurable product and bundle product to cart using past body"
what will the post body to add configurable product and bundle product into cart

[2016-03-30 15:46] choukalos commented on #3926
Hello @robfico can you provide some more details on your environment as we haven't seen this issue before.  Are you using DNS names ( perhaps there's an issue with them resolving? )?  What VCL file are you using?  What are you using for your web server - Nginx or Apache, what port is the web server running on?

Thanks,
Chuck

[2016-03-30 17:00] tanghia opened #3929 "Downloadable product - download link in order confirmation email"
## Steps to reproduce
1. Administrator creates a downloadable product
2. the customer creates new order
3. the system sends order confirmation email
4. Customer opens email and click on download link

Expected result
1. Go to correct link

Actual result
1. Go to admin login page.

![err01](https://cloud.githubusercontent.com/assets/7329746/14150474/5e119116-f6d3-11e5-9ecc-20b58bd7588f.jpg)
![err02

[2016-03-30 17:08] robfico commented on #3926
Sure. Sorry for the lack of details before. Just wanted to make sure it was not already known or addressed, in case my search missed something...

The M2EE 2.0.2 install uses an IP number, so no DNS issues. Environment is:
centOS 6, 64-bit OS
Apache 2.2.31 (port 8080 for Varnish support)
MySQL 5.6.25
PHP 5..5.33 using php-fpm with Zend OpCode cache enabled
Varnish 4.0.3 using varnish4.vcl generate

[2016-03-30 19:47] ghost opened #3930 "Rest API - Retrieve Attribute Set - Fatal Error: 'Class '' not found'"
## Steps to reproduce
1. Install Magento 2.0.2 with sample data.
2. Attempt to retrieve related attributes based on given attribute set ID either via url or programmatically.
- http://domain.com/magento/rest/V1/products/attribute-sets/11/attributes
- code

`$endpoint = $server_service.'/V1/products/attribute-sets/11/attributes';`
`$ch = curl_init();                          # create new cURL resou

[2016-03-30 21:54] jonsaf opened #3933 "Translate Inline for Admin"
## Steps to reproduce
1. Config, Advanced, Developer
2. Translate Inline
3. Enabled for Admin to Yes
4.  Click Saved
## Expected result
1. Can not then select Customers, Any customer Edit and have the fields available for editing.
2. Ultimately trying to change the name of VAT Number
## Actual result
1. Spins with no results that appear - see screen shot.
   <img width="1395" alt="screen shot 2016

[2016-03-30 22:00] jonsaf opened #3934 "Import Advanced Pricing"
## Steps to reproduce
1. Export Advanced Pricing
2. Open file and change a couple prices (using Apache Open Office, not Excel, but also does not work with Excel)
3. Attempt to import the updated file with and add/update the pricing.
4.  Press Check Data
5.  Spins with no outcome
## Expected result
1. Check data to go through its process and then to be able to import updated file
## Actual result
1

[2016-03-31 00:43] malaiselvan opened #3935 "Upgrade from 2.0.2 to 2.0.3 - Sorry, we can't take that action right now."
Installed Magento 2.0.2 few weeks before by downloading the ZIP file from magento website.

My System Config details are correct.

When I click the 'System Upgrade' it says *_'Sorry, we can't take that action right now.'
*_
My cron is working fine and running for every 5 minutes.

[2016-03-31 00:50] vancoz commented on #3935
Hi @malaiselvan, do you have generated public and private keys?
Have you logged in to marketplace inside Component Manager?
Please review this doc http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/were-sorry.html  I hope it will help you! Let us know if you still have this issue.

[2016-03-31 01:04] fooman opened #3936 "Magento_Sales released with wrong version number"
Magento 2.0.3 includes `magento/module-sales": "100.0.4",`

However the following functionality was added as part of this release

[code]

to follow semantic versioning I would expect the version number to be 100.1.0.

### Preconditions

1. Magento 2 code.

### Steps to reproduce

1. Observe /[Magento root]/app/code/Magento/Sales/etc/di.xml source code.
2. At least one of next dependencies is pres

[2016-03-31 02:38] POleszkiewicz opened #3937 "Cannot add products after changing bundle"
## Steps to reproduce
1. Install Magento 2.0.3
2. Add a bundle product.
3. Order this bundle product using user A
4. change the bundle product (remove some simple products and add other) and save
5. Order any product using user A

Expected result
1. you can order products using user A
## Actual result
1. When ordering using user A I get the error message: " The options you selected are not availab

[2016-03-31 04:52] davidalger commented on #2628
Delivered in version 2.0.3

[2016-03-31 05:14] POleszkiewicz commented on #3937
This is kind of critical, as the existing users cannot order anything else.......

[2016-03-31 06:04] tobi-pb commented on #3936
+1

[2016-03-31 06:12] alankent commented on #3936
Just noting this is being investigated internally. There are no existing interfaces modified. No client of the module is impacted. E.g. if you have an interface, and add a method, then if you call the interface you don't care about the extra method. If you implement the interface, you do care because your code would break. In this case neither situation has arisen (from what I can see). A new sepa

[2016-03-31 06:29] davidverholen commented on #3936
adding a new Interface adds new functionality and should trigger a minor version update.
Changing Interfaces would be breaking compatibility with external code using these Interfaces and should trigger a major version update

[2016-03-31 06:31] fooman commented on #3936
Yes

Maybe I read semantic versioning differently - one could of course argue that @api annotated methods/classes are really only the public api as per [item 1](http://semver.org/#spec-item-1) but in my view that contradicts one of the stated goals of M2 of better maintainability and stability.

For every code change I would go through the following questions:

Is it a breaking change (doesn't mat

[2016-03-31 06:56] Vinai commented on #3936
I can see how it makes sense to "educate" or "encourage" third party developers to stick to `@api` interfaces by using only `@api` changes for determining required version updates.

On the other side, for third party developers more frequent version updates reflecting changes to the implementations also would be more convenient.

This is true especially since the `@api` coverage isn't where it nee

[2016-03-31 07:07] davidverholen commented on #3936
maybe I got this wrong but I thought the Interfaces under Api directory are api by convention and the @api annotation is an addition for classes outside of the api directory

[2016-03-31 07:08] webspeaks commented on #3173
Readiness check is failing in case of upgrading from 2.0.2 to 2.0.3

Error:
Check Component Dependency
We found conflicting component dependencies. Hide detail
For additional assistance, see component dependency help .

I see that an AJAX call fails during readiness check. Please see below screenshots:
http://joxi.ru/Q2KpV7qI9J5Q7A
http://joxi.ru/p275O7Ec0gyker

[2016-03-31 07:12] karanbhomiagit commented on #3307
@NadiyaS Could you please tell which release would this be in? And any ETA on that release?

[2016-03-31 07:13] PaulBoss commented on #3786
I see the issues are fixed in CE 2.0.3. Thank you for fixing this in a relative short time span.

[2016-03-31 07:18] Vinai commented on #3249
Just experienced this issue again while upgrading from 2.0.2 to 2.0.3.
On a side note, the custom files `dev/tests/*/phpunit.xml` did not get deleted during the upgrade.

[2016-03-31 07:29] alankent commented on #3249
http://alankent.me/2016/03/31/m2-project-source-code-management-recommendation/ talks about this a bit as well (but probably does not add much to the above discussion).

[2016-03-31 08:01] dmanners opened #3938 "Contribution tools and help"
I have been working with Typo3 for a while and as part of their projects they have some post commit hooks that will run tests and code sniffer and fail if your commits do not match the standards or fail tests. There is also the commit template so that you know how to format your messages.

This is a big help with multiple people contributing to open source projects.

It can be found at https://git

[2016-03-31 08:02] flancer64 opened #3939 ""Magento ver. 2.0.2" is not changed in adminhtml after upgrade to 2.0.3"
I see that 2.0.3 version is used in composer.json:

[code]

but "Magento ver. 2.0.2" still appeared in the bottom of the adminhtml pages.

[2016-03-31 08:03] avoelkl commented on #3938
:+1:

[2016-03-31 08:36] daim2k5 commented on #3928
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-03-31 08:36] #3928 closed, assigned to nobody

[2016-03-31 08:54] akashrajguru commented on #3928
thank you Damian :)

[2016-03-31 09:03] kkrieger85 commented on #3939
Maybe it's due to

[code]

[2016-03-31 09:14] Microstudioweb commented on #3173
I have same problem of @arvind07
Tring to upgrade form system upgrade, but get error on check component dependency

[2016-03-31 09:16] hempienl commented on #3173
I've managed to fixed the Check Component Dependency by increasing my php_memory_limit from 256 to 512mb. I hope it helps anyone.

[2016-03-31 09:20] josepaitamala commented on #3905
Hi, I am having the same problem, I have updated Magento to the latest version 2.0.3 , running sudo composer update, Magento 2 has been updated but the problem is still there

[2016-03-31 09:25] parekhreena opened #3940 "Mage Class used in Magento2"
I think this line has been missed when converting from magento 1 to Magento2. Mage class has been entirely removed in magento2 but there are still some references of it in the code. It might throw an error as the code is not commented. Or is this for some sort of backward compatibility ? Here is one instance i found:

**File:** /vendor/magento/magento2-base/lib/internal/Cm/Cache/Backend/File.php

[2016-03-31 09:28] marvincaspar opened #3941 "Add custom attributes to any model"
I want to add custom attributes for any model, in this example I use the shipment
## Steps to reproduce
- Install Magento v2.0.2
- Override for example the shipment class and set the available custom attributes codes with `getCustomAttributesCodes()`

_di.xml_

[code]

_SalesShipment.php_

[code]
- Call api method, e.g. to create a shipment with the following data

[code]
## Expected result
1. The

[2016-03-31 09:29] mbrinton01 commented on #1564
Updated internal owner for this issue

[2016-03-31 09:31] webspeaks commented on #3173
@hempienl It did not work for me :(

[2016-03-31 10:11] rudik99 opened #3942 "Unable to Add Products Manually in Configurable Product"
## Steps to reproduce
1. Install Magento 2.0.3
2. Migrate or create a Configurable Product with 300 variations, save.
3. Go back into that product, press the "add products manually"
## Expected result
1. With products with smaller variation sets the functionality works
2. I have increased the LimitRequestLine to work around 414 (Request-URI Too Large) error (per issue #3495)
3. I have not been abl

[2016-03-31 10:20] Microstudioweb commented on #3173
@hempienl Thanks, it works for me.
@arvind07 Can you check via phpinfo(); if your server has incerease the memory limit? because on my case I have to modify a domain php.ini, not the global file.

[2016-03-31 10:42] designhunger commented on #3939
@kkrieger85 Yes, that's the reason. It seems as if this file is not updated within the upgrade to 2.0.3.

[2016-03-31 10:46] kkrieger85 commented on #3939
@designhunger Here on github, it seems, that this file is uploaded correctly: https://github.com/magento/magento2/blob/2.0.3/lib/internal/Magento/Framework/AppInterface.php

[2016-03-31 10:47] kkrieger85 commented on #3939
@flancer64 Did you use `composer update` after changing composer.json?

[2016-03-31 10:50] ishakhsuvarov commented on #3713
@eworksmedia Which version are you applying patch to?

[2016-03-31 10:54] nobuttsalex commented on #3939
Mine still says 2.0.2 bottom right even though I'm on version 2.0.3

[2016-03-31 10:55] sachinsancheti1 commented on #3874
Hi @mazhalai, i used the bitnami stack on azure. I realized i missed out a crontab task
   `*/1 * * * * /opt/bitnami/php/bin/php -c /opt/bitnami/php/etc/php.ini /opt/bitnami/apps/magento/htdocs/bin/magento cron:run`

thanks for the support

[2016-03-31 10:55] #3874 closed, assigned to mazhalai

[2016-03-31 11:06] webspeaks commented on #3173
@hempienl @Microstudioweb Thanks, ma bad!
I am running on nginx. And Magento's nginx.cong.sample has PHP memory limit set to 256M
`fastcgi_param  PHP_VALUE "memory_limit=256M \n max_execution_time=600";`
Thats why my php.ini changes were not reflecting. I updated the nginx.cong.sample and it worked.

[2016-03-31 11:07] kkrieger85 commented on #3939
@nobuttsalex How did you update your Magento?

[2016-03-31 11:11] webspeaks commented on #3173
However I bumped into another issue: Cannot allocate memory.
See: http://joxi.ru/RmzqekQfWNp7Yr

I have 1 GB RAM. I think that should be enough.

[2016-03-31 11:27] PingusPepan commented on #3939
I updated through Magento Setup Tool (Setup Wizard) and have the same problem.
Setup Wizard says that I have the 2.0.3 CE version and in update_status.log is:

[code]

and
`Composer update completed successfully`
so I think there was no problem while updating.

Instead it looks like the composer files were updated, but it still downloaded version 2.0.2 files. I checked magento\module-catalog modul

[2016-03-31 11:31] designhunger commented on #3939
So maybe the repo on repo.magento.com is corrupted with old files. Is there any chance to check this?

[2016-03-31 11:41] flancer64 commented on #3939
@kkrieger85 I have installed new instance

[code]

[2016-03-31 12:04] luciodiri opened #3943 "Custom customer attributes not saved"
## Steps to reproduce
1. Download Magento EE 2.0.2
2. Go to admin->Stores->Attributes:Customer and click "Add New Attribute
3. Add custom Customer attribute
4. Go to customer edit form and add value in new Custom field.
5. save
## Expected result
1. Custom attribute value is saved in database.
2. Custom attribute value is displayed in customer edit form.
## Actual result
1. Value not saved.
2. Val

[2016-03-31 12:11] designhunger commented on #3722
I'm facing the same problem on ver. 2.0.3 with german locale on backend. I installed Magento via composer and did not change anything to the core files. What else would you need to reproduce this issue?
Thanks!

[2016-03-31 12:12] mamof commented on #3822
Any chance we could get an update on this? We're trying to finish out our integration and creating products is a big roadblock.

[2016-03-31 12:36] nobuttsalex commented on #3939
@kkrieger85 I changed composer.json from 2.0.2 to 2.0.3 and ran a composer update

[2016-03-31 12:42] vesan-83 opened #3944 "SOAP doesn't not work in production mode"
## Steps to reproduce
1. Install Magento from `2.0` branch (2.0.3 version)
2. bin/magento deploy:mode:set production
3. bin/magento setup:di:compile
4. Send SOAP request
## Expected result

See expected-result.png in the attachment
## Actual result

See actual-result.png in the attachment
## Details

See line
`$soapServer = $this->_objectManager->create('SoapServer', ['wsdl' => $url, 'options' =>

[2016-03-31 12:53] hempienl commented on #3173
@arvind07 I also got errors during the installation, so i decided to update it using composer
http://magento.stackexchange.com/questions/99813/how-to-update-magento2-from-2-0-0-to-2-0-2

[2016-03-31 13:16] kkrieger85 commented on #3939
Well, I also updated via composer. In Backend it seems, I use 2.0.2 but there is the wrong version number in source code.

As @designhunger mentioned before, maybe their repo.magento.com is not up to date.

[2016-03-31 13:26] katmoon commented on #2855
@pynej thank you for posting the error.
Reindex of `catalog_index_refresh_price` failed and this blocks category products from being reindexed.
I created internal ticket `MAGETWO-51405` for further investigation.

Thanks,
Kateryna.

[2016-03-31 13:33] jamescowie commented on #3944
Thanks for the report. Ive been using I will see if I can replicate. Have you looked at how it might need to be fixed ?

[2016-03-31 13:47] afavata commented on #3939
I've just installed a fresh Magento 2.0.3 downloaded from [https://www.magentocommerce.com/download?_ga=1.89211352.2107838742.1459335729](url) and the admin's panel shows 2.0.2.

[2016-03-31 13:56] diegocam commented on #3939
I agree. I just downloaded the latest 2.0.3 version, but I still see "version 2.0.2" in the admin:

![image](https://cloud.githubusercontent.com/assets/4230798/14177939/8cb85b32-f726-11e5-8a81-dd3563cb8648.png)

I even tried doing it different ways (through composer, and manually through a zip) but still nothing. My local environment is windows running WAMP with PHP 5.5

 You would think its an ea

[2016-03-31 13:58] PingusPepan commented on #3939
@diegocam the problem is that if you see version 2.0.2 you actually are still on the 2.0.2 version.

[2016-03-31 14:04] mazhalai commented on #3939
@all thank you! We have created MAGETWO-51410 to fix this

[2016-03-31 14:07] mazhalai commented on #3935
@malaiselvan also any errors in the browser?

EDIT: I got the same error when my private and public keys were not saved. Click on system config and save your private and public keys and then it should work

[2016-03-31 14:14] KrystynaKabannyk commented on #3786
Hello @PaulBoss, yes, as you see the issue is fixed now. Thanks for finding and reporting the issue!

[2016-03-31 14:14] #3786 closed, assigned to choukalos

[2016-03-31 14:18] KrystynaKabannyk commented on #3719
Hello @spotlerbob, the bug is fixed now. Thanks for finding and reporting the issue!

[2016-03-31 14:18] #3719 closed, assigned to choukalos

[2016-03-31 14:23] diegocam commented on #3939
Hi @mazhalai What exactly does `MAGETWO-51410` mean? is that a bug code? How can we track it? Sorry, im new to this.

[2016-03-31 14:24] CKUDG commented on #3797
updated today to Magento 2.0.3 and it's still happening..

[2016-03-31 14:24] diegocam commented on #3939
@PingusPepan That may be the issue. Initially I thought it could just be that footer not being updated, but it may be deeper than that as you mentioned. Thanks for the followup.

[2016-03-31 14:24] mazhalai commented on #3939
@diegocam It is our internal tracking ticket, sorry it it not available publicly.

[2016-03-31 14:33] KrystynaKabannyk commented on #3233
Hello @scholtz, the issue is fixed now. Thanks for finding and reporting it!

[2016-03-31 14:51] karlsminton opened #3945 "'Insert Variable' in Hyperlinks"
When creating or editing CMS Pages/Blocks, I use the "base unsecure url" in hyperlinks.
When I save this reopen the Page/Block the hyperlink with the variable disappears, however it works on the frontend. I do all this with the editor hidden.

As a result, every time I try editing any text I have to re-add the links to the text.

If you need any additional information, just let me know

[2016-03-31 15:13] eworksmedia commented on #3713
Sorry, v2.0.2. However, I reverted the patch and the orange box went away and the minicart works again. Sometimes it happens and sometimes it doesn't. It seems to be random on any given refresh.

[2016-03-31 15:31] choukalos commented on #3921
Hi @ankursachdeva11 I'm not sure I understand the use case.  Who/What is driving the update of a child product ( is that merchandizing... aka changing description?  ).  Why is the parent config product SKU needed.  Can you provide more background?  Could a SKU naming convention for configurable products address this (aka shirt_bob is parent sku, then shirt_bob_small_red or shirt_bob_small_blue ...

[2016-03-31 16:03] akashrajguru commented on #2713
how can we add configurable or bundle product to cart ?

[2016-03-31 16:22] gabriellecrossland commented on #2139
Hi is there a resolution for this issue?

Still unable to check out as a guest

Thanks

[2016-03-31 16:26] ch1oe commented on #2139
Yes we're still experiencing issues with this.

Can anyone help?

Thanks

[2016-03-31 16:45] crantron commented on #2924
same

[2016-03-31 17:01] wbyrnetx commented on #2412
Here's a git patch for MAGETWO-50284 (6421275) commit that will work on the composer version of Magento2 (i.e. downloaded from magento.com). It's been tested on 2.0.2 only.

https://gist.github.com/wbyrnetx/a9849f756ee684a0a4a40526b0d3d92c

[2016-03-31 17:02] YevSent commented on #3797
@CKUDG do you have any errors in logs or browser console? Sounds strange, because we also tested Braintree with php 7.0.x

[2016-03-31 17:14] miguelbalparda commented on #2412
@wbyrnetx is this something official?

[2016-03-31 17:42] wbyrnetx commented on #2412
It's not an official Magento patch, I just took that commit you pointed out and adapted it for Magento 2.0.2 downloaded from Magento.com. Assuming that commit makes it into a final release version, then I guess it would become official at that point.

[2016-03-31 17:43] tdgroot commented on #2412
@wbyrnetx kind of bad practice, people would blindly install this and wonder why their shop crashes when this commit gets released.. Can you please remove your comment?

[2016-03-31 17:51] wbyrnetx commented on #2412
It was meant to just help people who know what they're doing and would know to revert it when they either upgrade or apply the Magento patch that has it. But sure, it's removed.

[2016-03-31 17:59] digimix commented on #3843
@voleye has this been resolved in the newest dev version or yesterdays release? Having the same problem.

[2016-03-31 18:30] mazhalai commented on #3933
@jonsaf Thank you! we have created ticket MAGETWO-41995 to investigate and fix.

[2016-03-31 18:37] hydra commented on #3349
me too.

[code]

[2016-03-31 18:44] hydra commented on #3349
seems to be related to this.

https://bugs.php.net/bug.php?id=53829

IMHO the readyness check should be updated OR a workaround should be put in place.

[2016-03-31 18:49] malaiselvan commented on #3935
@mazhalai mazhalai @vancoz
Yes, I do got a valid private and public keys.  I saved those keys under 'System Config'.  I could able to connect to the repo via component manager.  I.e, when I click the Sync in the component manager the system able to tell the New Updates as 110.

No JS or PHP errors found on the browser screen.

Below is my composer.json

[code]

Update: I guess the problem is I hav

[2016-03-31 18:52] hydra commented on #3349
this can be worked around by changing to call to `gzopen()` to `gzopen64()` in `/vendor/magento/framework/Archive/Helper/File/Gz.php`

[2016-03-31 21:30] alankent commented on #3935
2.0.3 got pulled from the site - 2.0.4 will be released shortly. Something went wrong with packaging - need to crank the handle again.

[2016-03-31 21:56] OgreMHDW opened #3946 "Bad credentials"
On the "Web Setup Wizard" there are two places to sign in:
1) Component Manager - via "Sign In" link.
2) System Config - via form.

Both forms ask for Public & Private Access Keys which I have generated as per the instructions here:
http://devdocs.magento.com/guides/v2.0/comp-mgr/prereq/prereq_auth-token.html

When I click "Sign In" button (on Component Manager page) or "Save Config" button (on Sy

[2016-03-31 22:44] Flyingmana commented on #3946
can reproduce the problem, old credentials did not work, and generating new ones does also not help.

Needs probably to get fixed on magento site. For having the previous release it may be possible to use packages.magento.com, but thats a deprecated repo as far as I know.

[2016-03-31 22:48] alankent commented on #3946
Can I get a copy of your keys and email address? Email me direct at akent at magento dot com. We will have a look why they are not working for you.

[2016-03-31 23:24] OgreMHDW commented on #3946
Alan, I sent you an email with the information requested.

[2016-03-31 23:33] OgreMHDW commented on #3917
This was resolved. I was able to assess that one index was stuck processing. I went into the database and found the indexer_state table. I followed the document http://magento.stackexchange.com/questions/93108/magento-ce-2-0-index-management-always-processing to set it to invalid and re-ran the indexing cron job. The site is now displaying the products.

[2016-03-31 23:33] #3917 closed, assigned to nobody

[2016-04-01 00:56] OgreMHDW commented on #3946
This appears resolved. Was something changed?

[2016-04-01 01:13] elenleonova commented on #3939
Hi, there was a packaging issue with 2.0.3. In order to fix that, we have issued the 2.0.4 release. Please, go straight to the new version.
I'm closing the issue, feel free to reopen it if you continue to see such issues.

[2016-04-01 01:13] #3939 closed, assigned to mazhalai

[2016-04-01 01:16] elenleonova commented on #3946
Hi, we have experienced the technical issues, thus, repo.magento.com wasn't available for a while. The problem should be resolved now. If doesn't please let us know by reopening the issue.

[2016-04-01 01:16] #3946 closed, assigned to nobody

[2016-04-01 02:58] svewap commented on #3935
@malaiselvan Remove the second repository and try it again. I think it's a bug.

[code]

[2016-04-01 03:05] ivansuharyadi opened #3947 "Customer Address Attribute"
im using magento 2.0.1, i trying to create customer address attribute and displard on checkout page like this below :
![checkout](https://cloud.githubusercontent.com/assets/4571528/14196677/1699e652-f7f1-11e5-8cf8-6a8f9002b6d4.png)

But on table magento_customercustomattributes_sales_flat_quote_address, this attribute always null.

![localhost-81 - 127 0 0 1 - webshop_sitepreview - mgep_magento_cu

[2016-04-01 03:08] quynhvv commented on #3947
@ivansuharyadi :
Let's upgrade your Magento core to 2.0.4. This issue was fixed.
Regards,
quynhvv

[2016-04-01 03:11] quynhvv commented on #3947
@ivansuharyadi
Let's see here: http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.0.4CE.html

[2016-04-01 03:12] ivansuharyadi commented on #3947
Nice, Thanks for your information :+1:

[2016-04-01 03:46] flancer64 commented on #3939
Yes, it works. "Magento ver. 2.0.4" is appeared on the bottom of the adminhtml pages. Thanks.

[2016-04-01 05:01] vancoz commented on #3935
Thank you @svewap this is good workaround.
@malaiselvan can you please use proposed workaround to upgrade Magento? Or use command line upgrade?

We created internal ticket to track and resolve this issue MAGETWO-51439

[2016-04-01 05:32] karanbhomiagit commented on #3018
@mikeweis Could you please tell which release would this fix be part of?

[2016-04-01 05:54] diabeeto076 commented on #3248
Magento 2.0.4 has been released today and this still hasn't been fixed.
Composer won't fix empty directories anytime soon either. i've created a PR where .keep files were added to empty directories when building the archive (not downloading as suggested in the post of Feb 2 of this issue).
https://github.com/JBleijenberg/composer/blob/keep-empty-directories/src/Composer/Package/Archiver/Archivable

[2016-04-01 06:01] designhunger commented on #3939
Thanks for the fast reaction! Works like charme ;)

[2016-04-01 06:21] vesan-83 commented on #3944
Yes, see the fix on the image
![selection_218](https://cloud.githubusercontent.com/assets/16537847/14199222/22febad6-f7eb-11e5-8843-3e65ef3ea8af.png)

[2016-04-01 06:38] ivansuharyadi commented on #3947
@quynhvv Dou you have same moment with image below, when upgrade magento 2 ?

![readiness check](https://cloud.githubusercontent.com/assets/4571528/14199475/f2bfdebc-f80e-11e5-9c90-8b2660853198.png)

[2016-04-01 07:07] ragum commented on #2911
its fine now, after update magento 2.0.2
and edit .htaccess on root folder unstag SetEnv MAGE_MODE developer

[2016-04-01 07:07] #2911 closed, assigned to nobody

[2016-04-01 07:12] ragum opened #3948 "Magento2 - The shopping cart items counter doesn't display 0 (zero) when there are no items in the cart after upgrade version to 2.0.2"
after I update magento 2.0.0 to magento 2.0.2, mya shopping cart items counter doesn't display "0" when there's no product/item selected. But if there is an item in shopping cart, the counter is working. No errors found in console and log.
Anyone can help? (please help me and sorry for the bad english)

[2016-04-01 07:22] devhn commented on #3879
Same as [#3572](https://github.com/magento/magento2/issues/3572)

[2016-04-01 07:51] canassa commented on #3411
@okorshenko I just tested it again with the 2.0.3 release but the "in" condition is still not working with the REST API

[2016-04-01 08:09] jahved opened #3949 "Functional tests not passing in 2.0.4 version"
Steps to reproduce
I have install the latest version of magento 2.0.4 today's new release and started running MTF again that instance

With Reference to ticket - Functional tests not passing in 2.0.2 version. #3577

Quote from okolesnyk

_In case that you mentioned about CreateBundleProductEntityTestVariation16, try to set \Magento\Bundle\Test\Block\Adminhtml\Catalog\Product\Edit\Tab\Bundle\Option

[2016-04-01 08:09] ayodio commented on #3173
Increasing the memory_limit worked for me too but I had to increase it to 600M (512M was enough).

[2016-04-01 08:20] zengliwei opened #3950 "RMA Authorize E-mail does not send in Magento EE 2.0.2"
## Steps to reproduce
1. Request return for an order at front-end
2. Edit the return record at back-end, change status of item(s) to `Authorized` and save
## Expected result
1. Customer of the order will receive an Authorize E-mail.
## Actual result
1. No E-mail will be sent.

[2016-04-01 08:32] zengliwei commented on #3950
Two things cause the issue:
- The model object being used to send E-mail in `\Magento\Rma\Model\Rma\Status\History` is NOT the same one created in `\Magento\Rma\Controller\Adminhtml\Rma::execute`.
- There is a bug in the code of setting `is_send_auth_email` flag in `\Magento\Rma\Model\Rma::_createItemsCollection`

[2016-04-01 08:39] zengliwei commented on #3950
Solution:

**in `\Magento\Rma\Controller\Adminhtml\Rma\Save::execute`**

find
`$model = $this->_initModel('rma_id');`,

change to
`$model = $this->_objectManager->get( 'Magento\Rma\Api\RmaRepositoryInterface' )->get( $this->_initModel('rma_id')->getEntityId() );`

**in `\Magento\Rma\Model\Rma::_createItemsCollection`**

find
`if ($itemModel->getStatus() === \Magento\Rma\Model\Item\Attribute\Source

[2016-04-01 08:48] devhn opened #3951 "Missing content from wysiwyg after upgrade"
Hi,

after upgrading from 2.0.2 to 2.0.4 all content within `pub/media/wysiwyg` is missing / deleted upon upgrade. Not sure if we have the right workflow for uploading media content but when we for example create a new page within Magento administration, upload pictures with wysiwyg editor they seem to be stored within `pub/media/wysiwyg` directory which get's deleted upon upgrading.

Not sure if

[2016-04-01 08:55] Sascha89 opened #3952 "Price including tax issue"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Configure price including tax within Magento configuration "Tax"
3. Enter a product price
## Expected result
1. The entered price (gross) is displayed on frontend (PDP, cart etc.)
## Actual result
1. Magento calculates the tax on top of the gross price (Impact on API json!

Backend:
![magento-issue-price-including-tax](https://clou

[2016-04-01 09:14] quienti opened #3953 "Vendor Module and Archive/Develop branch are differrent ?"
## Steps to reproduce
1. Upgrade from 2.0.2 from 2.0.4 with composer (Magento 2.0.2 is installed like this =>
   `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition <installation directory name>`
2. Look on develop branch here => `https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/view/frontend/web/js/view/payment.js#L56`
##

[2016-04-01 09:27] shireenn-mdev opened #3954 "Enterprise Edition: Split databse Issue on creating custom attribute for sales resource"
## Steps to reproduce
1. Create a new custom attribute for sales order resource through installer
## Expected result
1. The new attribute should be created in the OMS database
## Actual result
1. The new attribute is created in the main database

[2016-04-01 09:35] jernejh commented on #2131
Hi everyone.

I am using XAMPP 5.6.15 under Windows (Both Windows 2012 R2 Server and WIndows 10) and have the same problem for upgrading magento 2.0.2 to 2.0.4

Setting always_populate_raw_post_data to -1 in php.ini did not resolve my problem.

I installed magento using command line
- call composer create-project
- php bin\magento setup:install
- php bin\magento deploy:mode:set developer

I get th

[2016-04-01 09:40] vesviet opened #3955 "Table Rate and Flat Rate not display price on checkout page in ver 2.0.4"
## In checkout
1. Upgrade 2.0.4
2. shipping menthod not display price

[2016-04-01 09:44] okolesnyk commented on #3949
Hello, @jahved! Thank you for reporting this issue.
To fix issue with date/time you are able to cherry-pick this commit from develop branch [0a2086f](https://github.com/magento/magento2/commit/0a2086f).

With other issue please use hot fix:
`\Magento\Bundle\Test\Block\Adminhtml\Catalog\Product\Edit\Tab\Bundle\Option\Search\Grid::$selectItem = 'tbody tr .col-id input';`

[2016-04-01 09:48] shireenn-mdev opened #3957 "Enterprise Edtion : Split database issue for downloadable products orders"
## Steps to reproduce

1.Add downloadable product to cart
2.Place an order containing downloadable product
## Expected result
1. Order should be placed with no fatal errors
2. The product should be listed in my account->my dowloadable products section
3. Shipment, Invoice, Creditmemo or any actions on the order in the admin area should be done successfully
## Actual result
1. Below mentioned error

[2016-04-01 09:53] SudoCat opened #3958 "Every readiness check is failing during update attempts"
I am attempting to upgrade my Magento installation, currently version 2.0.2, however it is failing on every single step of the readiness check, which is very odd considering the site is running fine.

The site is running in a Vagrant VM using VirtualBox on OS X, PHP 5.6, installed using Composer. I can't find any clues in any of my errors logs

![image](https://cloud.githubusercontent.com/assets/5

[2016-04-01 09:55] vkublytskyi commented on #3927
@brendanmckeown sorry for delay with response.

You may implement after plugin on Magento\Webapi\Controller\Rest::dispatch to modify response object and set status code or caching headers appropriate for your project.

Around plugin for Magento\Webapi\Controller\Rest::dispatch may be used if you need **conditionally** replace default logic for handling requests to REST API and fill response object

[2016-04-01 10:12] jahved commented on #3949
@okolesnyk  Are you aware of any other issues which I need to address manually since
 I can see MTF failing.. This is really strange:

Starting test 'Magento\Catalog\Test\TestCase\Category\UpdateCategoryEntityTest::test with data set "UpdateCategoryEntityTestVariation4" (UpdateCategoryEntityTestVariation4)'.

E
Starting test 'Magento\Catalog\Test\TestCase\ProductAttribute\CreateAttributeSetEntityT

[2016-04-01 10:17] jernejh opened #3959 "Upgrading from 2.0.2 to 2.0.4 readiness check fails."
## Steps to reproduce

I am using XAMPP 5.6.15 under Windows (Both Windows 2012 R2 Server and Windows 10) and have the problem when trying to upgrade Magento CE from 2.0.2 to 2.0.4

I installed magento using command line:
- call composer create-project
- php bin\magento setup:install
- php bin\magento deploy:mode:set developer

Composer update and php bin\magento setup:upgrade worked without error

[2016-04-01 10:29] nobuttsalex opened #3960 "Cart addProduct combining different configurable variations to same row"
When using the addProduct function of cart to add different configurable variations to the cart they all combine to the first one added.

**Steps to reproduce**

[code]

[code]

**Expected result**
1 red and 1 blue t-shirt in cart

**Actual result**
2 red t-shirts in cart

If these two addProduct calls were made in 2 separate requests the cart would contain 1 red and 1 blue

[2016-04-01 11:24] woei66 opened #3961 "Can't upgrade from 2.0.2 to 2.0.4 by the back-end "Web Setup Wizard""
## Steps to reproduce
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2 (I installed version 2.0.2)
2. php bin/magento setup:install --base-url=http://load-balancer-domain/ --db-host=mysqldbhost --db-name=dbname --db-user=dbuser --db-password=dbpassword --admin-firstname=Magento --admin-lastname=User --admin-email=admin@email --admin-u

[2016-04-01 11:45] flipflap opened #3962 "jquery/jquery-storageapi.js missing (2.0.3 and 2.0.4)"
After fresh installation of Magento 2.0.3 and also 2.0.4 javascripts in frontend do not work.

jquery/jquery-storageapi.js is missing.

http://www.domain.ch/pub/static/_requirejs/frontend/Magento/luma/de_CH/requirejs-config.js
Is there but kind of empty.

I am using PHP 7.

![error](https://cloud.githubusercontent.com/assets/6672673/14205947/af88b884-f80f-11e5-904e-47e7b5fb93dd.gif)

[2016-04-01 11:48] joebusby commented on #3942
I have not been able to add products manually when there are many configured products since since the first version.  It's mentioned in thread #3228  and it might relate to this problem.

[2016-04-01 11:51] lernerValeriy commented on #3086
Good Day!
I have a similar problem. Command php ./magento cron:run give  [ErrorException] Undefined index: jobs. Logs are empty. PHP v7.0
Migration was from 1.7.0.2 to 2.0.2. I don't know if it works before migration on not.
I don't even know how I can debug this. Please, help

[2016-04-01 12:03] aswanthkumar opened #3963 "setup:upgrade is throwing PHP Fatal error"
I have downloaded installed a magento 2.0.2  CE (with sample data). I have played around with a sample plugin and got in to an error. so i have remove all plugins and run
`bin/magento setup:upgrade`
then
`bin/magento setup:di:compile`

but there is no "generate" folder created inside "var" folder

when i tried to open site in browser its showing 500 error
apache error log shows following error

`[

[2016-04-01 12:13] mazhalai commented on #3953
@quenti This is expected. Since 2.0.4 is only a patch version and what is in `develop` is WIP. Please check the version in [tag 2.0.4](https://github.com/magento/magento2/tree/2.0.4) and compare if it's the same.

Closing since this is not a bug.

[2016-04-01 12:13] #3953 closed, assigned to nobody

[2016-04-01 12:15] mazhalai commented on #3950
@zengliwei PLEASE do not post EE issues here. Please use the partner portal for reporting issues.

[2016-04-01 12:15] #3950 closed, assigned to nobody

[2016-04-01 12:22] vancoz commented on #3947
Hi @ivansuharyadi please configure crones http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

Also seems like your issue is not a bug, so I'm closing the bug, feel free to reopen it if you think it still valid.

Thank you.

[2016-04-01 12:24] #3947 closed, assigned to nobody

[2016-04-01 12:49] kayintveen commented on #3905
I have the exact same issue, when editing existing items. Adding a new product was without any problem.

For me it seems that its related to product images. I saw that ID 24 i got was the first image. after removing images and adding new one's i got:

[2016-04-01 13:08] kanduvisla commented on #3171
It seems that this bug still exists in Magento 2.0.4. I can only move one category at the time. I have to refresh the page after every move

[2016-04-01 13:35] mazhalai commented on #3963
@aswanthkumarks  what mode are you in?

[2016-04-01 13:37] mazhalai commented on #3961
@woei66 do you have the recommended [cron scripts](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html) set?

TO upgrade by command line:
1. `composer require magento/product-community-edition 2.0.4 --no-update`
2. `composer update`
3. Clean cache, and `di` and `generation` folders.
4. `bin/magento setup:upgrade`

[2016-04-01 13:43] mazhalai commented on #3944
@vesan-83 @jamescowie
Thank you for reporting, we have created MAGETWO-51451 to investigate and fix.

[2016-04-01 13:46] mazhalai commented on #3173
@arvind07 Please do not post on closed issues. We dont normally look at closed issues.

[2016-04-01 13:49] mazhalai commented on #3954
@shireenn2587 PLEASE do not post EE issues on github. To be properly addressed, they should be posted on the partner portal.

[2016-04-01 13:49] #3954 closed, assigned to nobody

[2016-04-01 13:50] mazhalai commented on #3957
@shireenn2587 this is for CE issues only. Please post in the partner portal.

[2016-04-01 13:50] #3957 closed, assigned to nobody

[2016-04-01 13:51] mazhalai commented on #3958
@SudoCat do you have [cron jobs](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html) set up as recommended?

[2016-04-01 13:53] mazhalai commented on #3962
@flipflap did you run `bin/magento setup:static-content:deploy`?

[2016-04-01 13:53] okorshenko commented on #3411
@canassa This issue was fixed in `develop` branch and will be available in the next minor release. Thank you

[2016-04-01 13:55] mazhalai commented on #3086
@lernerValeriy `cron:run` is not used during setup upgrade. You have to setup `update/cron.php` and `/bin/magento setup:cron:run`. Please see complete details [here](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html).

[2016-04-01 13:56] flipflap commented on #3962
Yes, now I am back on Magento 2.0.2 and PHP 5.6 and it works. But I am not sure if the Magento or PHP Version is the reason.

[2016-04-01 14:00] mazhalai commented on #3959
1. Officially, Magento only supports [Ubuntu and Centos](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html).
2. However, since many developers use Windows, we provide limited support, but it is no way intended to be run on production in Windows.
3. Since there is no ability of cron in windows, you could try something like [windows scheduler](http://stackoverflow.com/quest

[2016-04-01 14:00] #3959 closed, assigned to mazhalai

[2016-04-01 14:05] joebusby opened #3964 "Upgrade to 2.0.4 with 1100 products loses graphic files"
## Steps to reproduce

Add 1100 configurable products with .png product pictures in Magento 2.0.2 and the upgrade to 2.0.3 worked fine, but the upgrade to 2.0.4 does not.

Expected result

Graphics should show up for products
## Actual result

No graphics appear on the new site, missing in both the frontend and backend.

All graphics that were in ./pub/media/catalog/product  are now in  ./pub/medi

[2016-04-01 14:13] ghost commented on #3961
Hi @woei66 Working on documentation now. It'll be available soon; I'll let you know. Meanwhile, Maddy's steps should work.

[2016-04-01 14:14] mazhalai commented on #3964
@joebusby Have you checked file permissions of `pub/media` folder?

[2016-04-01 14:21] devhn opened #3965 "Category view shows only 6 random products"
After upgrading from 2.0.2 to 2.0.4 the category view shows only 6 products, randomly upon each refresh. For example:
- category has 200+ products
- on storefront the list shows only 6 random products after every refresh

I have disabled all the modules, refreshed all caches, disabled flat category and reindexed indexer. This happens on two M2 installations i have.

[2016-04-01 14:26] lernerValeriy commented on #3086
I don't need setup upgrade. I just want schedule indexer and newsletters. But it is not working

[2016-04-01 14:28] mazhalai commented on #3086
@lernerValeriy Please open a new issue instead of posting on old threads. This original thread was related to upgrade related cron.

[2016-04-01 14:29] brendanmckeown commented on #3927
Also confirmed here: http://magento.stackexchange.com/questions/108871/return-a-304-http-response-from-within-a-rest-api-method/108891#108891

[2016-04-01 14:29] #3927 closed, assigned to nobody

[2016-04-01 14:32] parekhreena opened #3966 "Cart Page asks for login even when user is already logged in(Session is NOT timed out)"
## Steps to reproduce
1. Login with default user roni_cost@example.com
2. Add a product to cart
3. Goto cart page
4. Click on Goto Checkout button
5. It will open a login window prompting the user to login again

I refreshed the cart page twice to check whether the session has timed out. But, that was not the case. User was already logged in, session was **NOT** timed out and yet it asked to login

[2016-04-01 14:57] joebusby commented on #3964
Yes,  permissions are correct before and after the upgrade. (I will double check).  I tried both firefox and chrome also

[2016-04-01 15:19] jhildreth opened #3967 "Sales Order extension_attributes"
There seems to be a problem with extension_attributes on the sales order object, as retrieved by the API. It seems that only one property is able to exist under extension_attributes for the order. I had this problem with some extensions in 2.0.2, but was able to test without any extensions added in 2.0.4.

For example:
1. Place an order, and retrieve it from the API (GET /orders/{order_id}). In 2.

[2016-04-01 15:25] katesuykovskaya opened #3968 "Incorrect price for wishlist item with custom options"
## Steps to reproduce
1. magento 2.0.2
2. create bundle product, price fixed (100$), with text paid custom option (+10$)
   ![bundle product without designer with custom option](https://cloud.githubusercontent.com/assets/10142848/14210395/7a177a9c-f831-11e5-82bf-7c59c45a150f.png)
3. create simple product price=123$ with custom option (price=1$)
   ![simple product without designer](https://cloud.g

[2016-04-01 15:34] jhildreth opened #3969 "Sales Order shipping address region_code"
The shipping address returned under extension_attributes on a sales order retrieved via the API in 2.0.4 seems to include the full state name for U.S. states in both the "region" and "region_code" properties.

I expected "region_code" to include the two-character state abbreviation ("VT" instead of "Vermont" for example).

[2016-04-01 15:50] mazhalai commented on #3966
@parekhreena thank you for reporting, we have created MAGETWO-51460 to investigate and fix.

[2016-04-01 15:59] Lreeseg opened #3970 "NO CSS Magento 2.0.4"
Just updated to Magento 2.0.4....
My CSS is not loading in either my webpages OR the magento backend. Everything is only shown html.

How do I fix this?

[2016-04-01 16:06] cedricblondeau opened #3971 "SQL error when setting a condition on attribute in Catalog Products List widget if Flat Catalog is enabled"
## Steps to reproduce
1. Install Magento from `develop` branch or install a stable Magento version (2.0.2, 2.0.3 or 2.0.4)
2. Enable "Use Flat Catalog Product" in admin (Stores -> Configuration -> Catalog -> Catalog -> Storefront)
3. Create a product with an attribute (e.g. color)
4. Create a new block
5. Insert a "Catalog Products List" widget
6. Set a condition on an atttribute (e.g. color=Red)

[2016-04-01 16:12] woei66 commented on #3961
@mazhalai
it works. thank you.
I write down my steps for users who has the same issue:

composer require magento/product-community-edition 2.0.4 --no-update
composer update
rm -rf var/di var/generation
php bin/magento cache:clean
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex

[2016-04-01 16:15] chloeefr opened #3972 "Update to 2.0.4 '@checkout-tooltip-icon__font-size is undefined' error, no custom CSS load"
## Steps to reproduce

Using custom theme with Magento/blank as parent, working fine before recent update.
1. Updated to 2.0.4 using Composer
2. Cleared pub/static/frontend & var folders
3. Grunt watch

Expected result
 --
Custom theme css load ok and continue working.
## Actual result
1. "NameError: variable @checkout-tooltip-icon__font-size is undefined" error appearing twice at top of page.
2.

[2016-04-01 16:16] mazhalai commented on #3970
Try `bin/magento setup:static-content:deploy`

[2016-04-01 16:20] Lreeseg commented on #3970
This is going to sound stupid.
Is this supposed to be done in a terminal?

On Apr 1, 2016, at 12:17 PM, mazhalai <notifications@github.com<mailto:notifications@github.com>> wrote:

Try bin/magento setup:static-content:deploy

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHubhttps://github.com/magento/magento2/issues/3970#issuecomment-204456

[2016-04-01 16:22] mazhalai commented on #3970
Yes.

[2016-04-01 16:32] chloeefr commented on #3970
This command runs fine for me but doesn't change the output on the frontend.

This is how I updated via Composer:

`rm -rf vendor/*`
Edit composer.js file to "version": "2.0.4" , and also under "require".
`composer update`
`php bin/magento setup:upgrade`
`php bin/magento setup:static-content:deploy`

No errors in terminal output after this ran, but same on Frontend with no CSS showing.

[2016-04-01 16:38] mazhalai commented on #3970
@chloeefr did you check your file permissions?

[2016-04-01 16:51] chloeefr commented on #3970
@mazhalai Checked and all seem correct - any specifics I need to be checking?

[2016-04-01 16:57] mazhalai commented on #3970
@chloeefr any error on browser console?

[2016-04-01 17:09] hcanning2014 opened #3974 "css not loading in magento admin...latest magento ce"
## Steps to reproduce
1. Install Magento from 2.0.4 zip CE to a subfolder

Expected result
Expecting css to load in site.com/admin

...white page with test only

[2016-04-01 17:10] chloeefr commented on #3970
@mazhalai

"Uncaught ReferenceError: Unable to process binding "text: function (){return element.label }"
Message: element is not defined"    .. knockout.js

Have attached system.log

[system-log.txt](https://github.com/magento/magento2/files/200025/system-log.txt)

[2016-04-01 17:16] justinblayney opened #3975 "magenta 2 product import won't import images"
Hello,

I am importing products using the built in CSV import (System - import - products)

All my data is imported fine, but i get an error
"Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in rows: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10"

in my css I have written the base_image path as
http://mywebsite.ca/pub/media/import/img/hose/jpg/Ach7938.j

[2016-04-01 18:26] mikeweis commented on #3952
I believe this is similar to (or a variation of) https://github.com/magento/magento2/issues/3832 ...
Can you try the following and report back if it worked for you?

[2016-04-01 18:55] malaiselvan commented on #3935
I removed the data migration repository from the composer.json and tried the upgrade. The system able to find the 2.0.4.  But it fails on the readiness check as below.

![image](https://cloud.githubusercontent.com/assets/5956639/14216981/43512b1a-f869-11e5-8468-b6fad870bebf.png)

Any ideas?

[2016-04-01 18:58] mazhalai commented on #3935
@malaiselvan your `var/composer_home` directory is not writable.

[2016-04-01 18:59] vancoz commented on #3935
Hi @malaiselvan please check your ownership and permission setting, look at
http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html and http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html#install-perms-set

Thank you.

[2016-04-01 19:01] malaiselvan commented on #3935
My bad... Yes. I set the file permission now and the script error has gone.  But still the component dependency is throwing the error.

[code]

Will there be any log file where I can check???

[2016-04-01 19:03] adilbenmoussa commented on #3850
@romeof1980 have you heard something from the Smartwave guys, i'm facing the same issue you mentioned, any progress yet?

thanx,
Adil

[2016-04-01 19:23] vancoz commented on #3935
@malaiselvan have you installed some modules from this repo?
 "data-migration-tool": {
            "type": "git",
            "url": "https://github.com/magento/data-migration-tool-ce"
        }

If yes, I recommend you to add this repo back to root composer.json and use CLI upgrade:
1. composer require magento/product-community-edition 2.0.4 --no-update
2. composer update
3. bin/magento setup:upg

[2016-04-01 19:27] aswanthkumar commented on #3963
@mazhalai  i am using default mode.
i have re created theissue with new installsion.
steps:
1. downloaded magento 2.0.2 compressed file from magento site
2. installed using frontend ui
3. Uncommented `SetEnv MAGE_MODE developer` in htaccess file
4. run `sudo bin/magento setup:upgrade`
5. run `sudo bin/magento setup:di:compile`
6. changed permission of magento root folder to 777
7. tried loading th

[2016-04-01 19:28] romeof1980 commented on #3850
hi @adilbenmoussa !
they answered and the problem is solved for us.

temporarily workaround: `php magento deploy:mode:set production --skip-compilation`

their answer:

guess that will help.
have a great day,
romeo

[2016-04-01 19:32] malaiselvan commented on #3935
@vancoz I never done this before.

I added the migration repository and tried the first 2 commands.  See as below

![image](https://cloud.githubusercontent.com/assets/5956639/14217904/709ba7b2-f86e-11e5-82b9-9dc2800f2711.png)

[code]

[2016-04-01 19:33] adilbenmoussa commented on #3850
thanx @romeof1980 for the quick reply and their answer, will try it out, hopefully they can fix the compilation issue it soon!

regards,
Adil

[2016-04-01 19:34] mazhalai commented on #3963
@aswanthkumarks thank you. We have created related ticket MAGETWO-51440

[2016-04-01 20:03] vancoz commented on #3935
@malaiselvan can you please run:
$ composer self-update
$ composer clearchache
and composer update again?

Thank you.

[2016-04-01 20:07] malaiselvan commented on #3935
@vancoz Now it is like below

[code]

I checked the auth.json and the keys are correctly stored.
Should I update the public & private key some where else???

[2016-04-01 20:28] vancoz commented on #3935
@malaiselvan you can update keys in ~/.composer/auth.json file

[2016-04-01 20:31] ktomk commented on #3248
@JBleijenberg: There is nothing in upstream composer to fix IMHO. Whether or not this needs a "fix" in M2 core I can't say, however I'd say that making use of the _.gitkeep_ like `.gitignore` files is not hurting at all. It's perhaps similar to placing `.htaccess`  files everywhere (with even some questionable settings but that's a different story). It would fix the issue you address.

The suggest

[2016-04-01 20:55] m0zziter commented on #3248
I've replied to @ktomk's comment on my pull request and will have time over the next few days to review it.

In the meantime, I would suggest taking a look at Toran Proxy https://toranproxy.com/. The most current version supports private composer repos. We've had a lot of success using this instead of Satis.

[2016-04-01 21:00] ktomk commented on #3248
@m0zziter: Toran proxy is a great help, but mentioning it here is distracting to a high degree. Also I have problems to understand why you need to review your own pull request. I mean you filed it in the first place and you just wrote you left out the first line by intention, so not that it looks like you entirely don't know what you're doing, it would be great you give a reason why I shouldn't ju

[2016-04-01 21:03] malaiselvan commented on #3935
@vancoz You are great... It started upgrading... Got a quick help at the below step

[code]

I have some custom configuration done on the data migration tool.  I do not want to overwrite them.... What should I give here?

[2016-04-01 21:08] vancoz commented on #3935
@malaiselvan this means that you have changed files in vendor directory (I would not recommend to do it in feature btw).
This is explanation of options:
y - discard changes and apply the update
n - abort the update and let you manually clean things up
v - view modified files
s - stash changes and try to reapply them after the update

Thank you

[2016-04-01 21:11] malaiselvan commented on #3935
@vancoz Thanks.  Since I got the backup of those files, I just gave `y` and proceeded...

I am just waiting for the upgrade to complete for success.... Thanks for the help so far... You are very helpful.

[2016-04-01 21:12] vancoz commented on #3935
@malaiselvan thank you for choosing Magento, have a good weekend.

[2016-04-01 21:13] malaiselvan commented on #3935
@vancoz It comes to the prompt as below

[code]

I logged in at back end and I am able to see the current version as 2.0.4 (Great)....
Should I do any post upgrade steps???

[2016-04-01 21:23] vancoz commented on #3935
@malaiselvan yes, this means that you are ready to run "php bin/magento setup:upgrade"

[2016-04-01 21:51] m0zziter commented on #3248
I apologize to anyone else who found my suggestion of Toran Proxy "distracting to a high degree", I was merely trying to provide help.

Writing your own pull request probably would be quicker than commenting here; I would say "I encourage anyone to submit a pull request" but I see you've already done that. Hopefully the double pull request will get Magento's attention.

[2016-04-01 22:18] Joshua34 commented on #3951
Same issue when upgrading from 2.0.0 to 2.0.4

[2016-04-01 22:36] smatric opened #3977 "Update to 2.0.4: The specified value "{{currentPage}}" is not a valid number."
## Steps to reproduce
1. Install Magento 2.0.2.
2. In admin panel, open "System" > "Web Setup Wizard" and select "System Upgrade"
## Expected result
1. Upgrade wizard
## Actual result

UI error:

Console warning:

Which comes from angular.js:8581:
`if ( ((startIndex = text.indexOf(startSymbol, index)) != -1) &&`

<img width="696" alt="screen shot 2016-04-01 at 15 30 41" src="https://cloud.githubus

[2016-04-01 23:04] blizam commented on #3961
EDIT: Apologies if this is out of place/off topic... I'm inexperienced with GitHub and this was the closest thing I could find...

Trying to upgrade from 2.0.2 to 2.0.4, auth keys in place, cron set up, but my System Upgrade screen just hangs with the Checking for a new version spinner going... so I thought I'd try the CLI listed here.

When I take the above steps I get:

Your requirements could n

[2016-04-01 23:07] versdivers commented on #1030
Is this already implemented? Can't find the option

[2016-04-02 01:33] wqcoder commented on #1011
Hi, I tried to generate docs with phpDocumentor yesterday.
`D:\pear>phpdoc run -d "E:\www\magento22\lib\internal\Magento\Framework" -t "D:\phpDoc"`

phpDocumentor version 2.8.5
windows7 Intel(R)Xeon(R)CPU E3-1231 v3 @3.40Hz RAM8GB
`D:\pear>php -v
PHP 5.6.16 (cli) (built: Nov 25 2015 18:51:26)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies`

It s

[2016-04-02 01:58] joebusby commented on #3964
I have tried several times with correct permissions, and clearing the browser and magento caches.  No good.  It turns out I have 2100 products.  I will see if things work after removing a lot of products and post again.

[2016-04-02 02:26] mazhalai commented on #3977
@smatric did you save your repo.magento.com keys in system.config? Also what OS are you on?

[2016-04-02 02:30] mazhalai commented on #3961
@blizam have you set you repository to point to [repo.magento.com](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator_install.html)? Also, have you saved the [private and public keys](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/connect-auth.html)?

[2016-04-02 02:38] blizam commented on #3961
/public_html/update/composer.json

has this:

[code]

And yes, in my backend admin, System > Web Setup Wizard > System Configuration -- I've got my public and private keys to my magento.com account saved

[2016-04-02 02:47] mazhalai commented on #3961
What about in Magento's root `composer.json` file? not the one in update folder. Also, have you set cronjobs to post to a log as [recommended](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html). Any errors in these logs?

[2016-04-02 02:52] blizam commented on #3961
there is magic in the air... I think my issue is with my cron settings... after manually running the cron commands I'm now able to proceed in the Web Setup Wizard

[2016-04-02 02:53] blizam commented on #3961
and yes, the root composer.json has the correct repo URL

[2016-04-02 08:31] iw0der commented on #3510
Yes,
I use even those;  I refer to individual files because the single file is unusable.

73s,
A.

[2016-04-02 08:59] ktomk commented on #3975
@justinblayney: Could you please elaborate which part of the error message is incomprehensible to you? I mean you write pretty much about this and that but I don't see in your analysis how that is related to HTTP connection timeouts or HTTP errors (which the error message is clearly about).

The URL you provide btw. is causing a redirect. to a non-image resource. Please check your report. If you n

[2016-04-02 09:03] malaiselvan commented on #3935
@vancoz Thanks.  The upgrade is complete now.  Thanks

[2016-04-02 09:07] ktomk commented on #3974
- Where did you obtain the zip-file from and which checksums does it have?
- Which commands did you run to install from that zip file?
- Which operating system are you using?
- Which webserver are you using?
- Which PHP are you using?
- How did you verify the install in the first place?

[2016-04-02 09:08] ktomk commented on #3972
IIRC from work, this issue could have happened already in 2.0.2, not 2.0.4 only. I've not checked if there are earlier reports. This is also not limited to CE edition.

[2016-04-02 09:13] ktomk commented on #3529
Just a little reminder that we need to file a request for this with Magento support.

[2016-04-02 09:45] manhao-chen opened #3979 "shipping address from SalesDataOrderInterface 2.0.4 ?"
following with the shipping address not coming back for orders when calling SOAP api when 2.0.2

i'm still unable to get the shipping address after updating to 2.0.4

i still only get billing/quote addresses, using SOAP salesOrderRepositoryV1

[2016-04-02 09:53] manhao-chen opened #3980 "2.0.4 - .NET - catalogInventoryStockRegistryV1PortTypeClient - product not found issue"
hi team,

i'm building a .net integration with magento 2, i noticed when i call the following code to get a product from magento 2,
1. if the sku exist in magento (ALL OK)
2. if the sku doesn't exist, the code will error cause the response from magento can't be serialized

`using (catalogInventoryStockRegistryV1PortTypeClient svc = new catalogInventoryStockRegistryV1PortTypeClient(SecureBinding(en

[2016-04-02 10:04] manhao-chen opened #3981 "2.0.4 - .Net soap endpoint references limit?"
hi guys

i'm trying to use the following modules and and just trying to login

integrationAdminTokenServiceV1,
storeStoreRepositoryV1,
customerCustomerRepositoryV1,
salesOrderRepositoryV1,salesOrderManagementV1,
salesInvoiceRepositoryV1,
salesInvoiceCommentRepositoryV1,
salesCreditmemoRepositoryV1,
salesCreditmemoCommentRepositoryV1,
catalogInventoryStockRegistryV1,
catalogProductRepositoryV1

`<?

[2016-04-02 10:59] hcanning2014 commented on #3974
Where did you obtain the zip-file from and which checksums does it have?
Magento.com. main download

Which commands did you run to install from that zip file?
Extracted the zip in cPanel file manager then ran setup

Which operating system are you using? Cloudlinux 6.7

Which webserver are you using?
Apache/2.2.31

Which PHP are you using?
5.6.19

How did you verify the install in the first place?

[2016-04-02 11:01] hcanning2014 commented on #3974
Trying to install to subfolder of that matters. E.g.  mywebsite.com/magento
On Apr 2, 2016 6:59 AM, "Howard Canning" hcanning2012@gmail.com wrote:

[2016-04-02 16:22] #3538 closed, assigned to nobody

[2016-04-02 16:37] mazhalai commented on #3961
Closing since @woei66 and @blizam 's issues have been resolved. Please feel free to open a new one if issues arise.

[2016-04-02 16:37] #3961 closed, assigned to nobody

[2016-04-02 16:58] ghost commented on #3086
@mazhalai Thank you for your reply. We are currently trying to fix it to update and install composer in the update subdirectory. I will let you know if this fixes the issue.

[2016-04-02 17:44] shuaiZend opened #3982 "jquery.js:248 Uncaught Error: no such method 'activeAnchor' for tabs widget instance"
## Steps to reproduce
1. Composer update Magento 2.0.2 to 2.0.4.
2. click Add subcategory.
3. can' save

and Display:
jquery.js:248 Uncaught Error: no such method 'activeAnchor' for tabs widget instance

[2016-04-02 19:35] ktomk commented on #3974
Sounds like you did not follow the installation instructions. Doing a chmod 777 also signals a misunderstanding on how to make use of file system permissions under *nix.

Please find the step-by-step guide here: [(Easy) Install the Magento archive on your server](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/zip_install.html). This is the method of installation you've chosen (from zip-

[2016-04-02 19:59] ktomk commented on #3248
Sorry for the distraction, I'm merely interested in what is behind the removal of the first line.

[2016-04-02 20:20] daim2k5 commented on #3935
@malaiselvan so we can close the issue?

[2016-04-02 20:28] #3935 closed, assigned to nobody

[2016-04-02 21:25] luc-anise opened #3983 "Update backup error PDOException"
I'm trying to update to the latest version of magento CE and when I get past the readiness check and to the backup stage this comes up. I have no idea what it means but I'd very much like to update ASAP.

Thanks!

`Fatal error: Uncaught exception 'PDOException' with message 'SQLSTATE[HY000] [2002] No such file or directory' in /home/shopstudioanise/public_html/vendor/magento/zendframework1/library

[2016-04-02 23:57] gagaxj commented on #3964
I have the same issue with only 5 products.

[2016-04-03 04:01] smatric commented on #3977
@mazhalai I have my GitHub key saved in composer.json, if that's what you're asking about:

[code]

The server is running Ubuntu 14.04.4.

[2016-04-03 05:04] jackie-keys opened #3984 "CPU's 100%"
## Steps to reproduce
1. Install Magento from 2.0.4
2. Cache Management Disabled
3. Install Theme  Payago
4. Content | Blocks....   CPU's climb and all sit at 100%....alarms go off.. :(  (almost anything in admin will produce the same result)
5. No blocks show

![image](https://cloud.githubusercontent.com/assets/18239905/14230826/7c03f3de-f9bd-11e5-8e6d-bcec89b92423.png)
## Expected result
1. Page

[2016-04-03 05:27] nestocabrera opened #3985 "admin view"
i have installed magento CE 2.0.4 + sample data, and the view of the admin, doesn't load well i attach an image of what is happening
![erroradminmagento](https://cloud.githubusercontent.com/assets/16739464/14230920/da5de092-f932-11e5-9f09-9306d168deca.png)

[2016-04-03 07:59] daim2k5 commented on #3984
@jackaroos what happend when you switch back to the default theme?

[2016-04-03 08:02] daim2k5 commented on #3985
@nestocabrera please check your file permission and make sure you are following the magento installation guide (http://devdocs.magento.com/)

[2016-04-03 09:28] owenhaynes commented on #3979
Shipment info is in the extension_attributes as shipping_assignments in the JSON api

[2016-04-03 09:37] owenhaynes opened #3986 "salesShipmentRepositoryV1 api sql error"
## Steps to reproduce
1. using Magento 2.0.4
2. Call the api at POST /rest/V1/shipment with data

`
{
    "entity": {
        "orderId": 1,
        "comments": [{
            "comment": "test"
        }]
    }
}`
## Expected result
1. Shipment created
## Actual result

`{
"message": "Could not save shipment"
}`

and in the magneto logs

[2016-03-06 18:07:10] main.CRITICAL: Zend_Db_Statement_Except

[2016-04-03 10:57] tiwarimukesh opened #3987 "A custom CMS page to display when site is in maintenance mode(feature request)"
Can we have an option in Magento admin so that when a site is in  maintenance mode customers should see a CMS page which can be easily customized in Magento admin.

So the site owners have a flexibility to show the customized page with custom messages to the customers.

[2016-04-03 11:24] jackie-keys commented on #3984
Hi

Changed to Luma

Saved Config

Cleared Cached

Same problem, alarms started going off and had to close browser to stop the problem:

Loading home page causes same issues

Kind regards

Jackie

From: Damian Luszczymak [mailto:notifications@github.com]
Sent: Sunday, 3 April 2016 8:01 PM
To: magento/magento2 magento2@noreply.github.com
Cc: jackaroos jackie@jamware.com
Subject: Re: [magento/magent

[2016-04-03 11:28] ktomk opened #3988 "Bump of Copyright Year"
I've just compared 2.0.3 and 2.0.4 and it came to my attention that in files without noteworthy copyright  changes (newline at the end of file was missing - if any change at all) the year of last release has been bumped without actually having changes (and a release).

Could you please verify with your legal department that you're absolutely sure to change the copyright year without actual changes

[2016-04-03 11:37] ktomk commented on #3984
Please enable debug logging in your Apache configuration and then reproduce again. It should shed some light what is going on.

Also from the description you give, this sounds like a problem with installing _Theme Payago_, you should contact the vendor of that software for your support options first. Please provide any feedback the vendor gives on the issue.

Next to that please keep in mind that

[2016-04-03 11:42] ktomk commented on #3987
@tiwarimukesh: This is already available as extension:
- [Magento 2.0 Custom Maintenance Mode Extensio](http://www.customerparadigm.com/magento-2-0-custom-maintenance-mode-extension-free/) 0$ CE/EE
- [Magento 2 Custom Maintenance Page](http://creatuity.com/magento/custom-maintenance-page-magento2.html) for 99$ CE / 299$ EE.

These should provide you an option similar to what you're asking for (I'm

[2016-04-03 12:07] ktomk commented on #3983
This is related to your database configuration, the Mysql error is (as you report):

2002 signals a connection issue from your database client to your database server. This normally signals a configuration issue on the system you're running the Magento2 software on. The good news is you're not the first one who is getting it and it's not specifically related to Magento at all. So a tremendous amou

[2016-04-03 12:12] MaximKitsenko commented on #3621
I faced with the same problem! I will try to add crutch for it.

[2016-04-03 12:21] manhao-chen commented on #3621
the only way i got around the issue is that you will have to override the soap message AfterReceiveReply & BeforeSendRequest events
do a replacement of the namespace of the soap xml

[2016-04-03 12:24] ktomk commented on #3108
@vancoz: Could you write about the rationale why it's preferable to mangle the composer home environment variable instead of just having `auth.json` next to `composer.json`? I still miss to see it and it would be great if you could enlighten me on this one.

[2016-04-03 12:37] ktomk commented on #3977
@smatric: That would be github oauth (for downloads) but these are not  your repo.magento.com keys. I dunno if you really need them for CE (the composer based install I just did, did not need them but I also might have some configured globally), but in case you're interested, they are offered within your account on magento.com: [Get your authentication keys (Magento2 Devdocs)](http://devdocs.magen

[2016-04-03 12:45] MaximKitsenko commented on #3621
Thank you!
I was going to add crutches for those methods inside custom behavior.

@katmoon
In previous magento versions there were no namespaces in wsdl, but in magento 2.0.2 we have namespaces linked to urls, we used for testing / developing :
`<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1:7777/magento-2-0-2-0-ce-2/

[2016-04-03 12:55] ayanni commented on #3985
Hi, i have the same problem, any help?

[2016-04-03 13:55] ktomk commented on #3981
An _"Extra content at the end of document"_ signals a parse-error of **DOMDocument** in PHP. It just means that after the document element of the XML document (the WSDL is such one) there is more data (but it should not).

You should be able to verify that by doing a HTTP GET request of the [WSDL-URI](http://localhost:8085/magento2/soap/default?services=integrationAdminTokenServiceV1%2CstoreStoreR

[2016-04-03 14:11] amitbala opened #3989 "Magento 2 css not loading."
Magento 2 is not loading properly, after fresh installation on server,
![11](https://cloud.githubusercontent.com/assets/16007533/14232817/e768a6ea-f9d3-11e5-9055-1a6ed715394d.PNG)

![12](https://cloud.githubusercontent.com/assets/16007533/14232818/ebef590c-f9d3-11e5-862a-706ffdb567ca.PNG)

[2016-04-03 14:52] vancoz commented on #3108
HEllo @ktomk, because composer home directory contains not only auth.json. It also has composer cache and configuration for Magento web server user. Also we can not use make Magento root directory as composer home.

[2016-04-03 15:24] ktomk commented on #3108
@vancoz: Thanks for your feedback. Indeed, that sheds some light, because it shows an entire misunderstanding what I'm writing about - which I can see is my fault as I haven't made clear how my concerns shifted. I'm recently first of all concerned about the authentication file named `auth.json`. There is no need to place it into the composer home at all (nor making the project directory the new co

[2016-04-03 16:14] mazhalai commented on #3989
@amitbala did you run `bin/magento setup:static-content:deploy`

[2016-04-03 16:35] nestocabrera commented on #3985
thanks @daim2k5 i was reading the installation guide, and it says that it can happen, but the solution offered is to enable teh server rewrite module, but the path of the files is from ubuntu  or centos installation, any clue how can i solve the issue in windows?

[2016-04-03 20:05] daim2k5 commented on #3985
@nestocabrera unfortunately no because i don't use windows. Also i'm not sure if magento 2 official support windows

[2016-04-03 20:06] daim2k5 commented on #3985
Did you run `bin/magento setup:static-content:deploy` ?

[2016-04-03 20:17] nestocabrera commented on #3985
yes and it don't recognize as and intern or extern comand

[2016-04-03 21:57] ktomk commented on #3248
@mc388: [Composer has been patched ca. 4 hours ago](https://github.com/composer/composer/pull/5144#issuecomment-205021044) and I've tested it with satis, archived packages do contain empty directories now.

Example path:

[code]

is in the zip (`magento-magento2-base-2.0.4.zip`) as empty directory.

I was not able to reproduce your original report (my Magento 2 setup via satis fails at a different

[2016-04-03 22:49] manhao-chen commented on #3605
do we have some sort of idea when this will be fixed and which release will have the fix?

[2016-04-03 23:50] theskillwithin commented on #2309
Ya I have the same issue,  I could see the luma theme after setting up static-content deploy,  however on apache php 5.6 I did not have to do this and everything worked perfectly.  I am experiencing this with php7 and nginx.

every page other than index.php returns a 404

[2016-04-04 01:57] joebusby commented on #3964
Reducing the product number did not seem to help.

Upon closer inspection,  only the product images I have added end up in /pub/media/tmp/catalog/product  all the "sample data" products end up in /pub/media/catalog/product  despite that I removed the sample products a while back.  (maybe this is normal)  Removing the product appears to not remove the images associated.

Should we be able to upgrad

[2016-04-04 02:25] vesviet commented on #3955
help me!

[2016-04-04 04:13] sangatpedas commented on #3905
Hi,

For me the issue is solved, after today's git pull all seems to work as supposed to.

Thank!

[2016-04-04 07:17] shiftedreality commented on #2593
Fix was delivered to develop branch.
Closed.

[2016-04-04 07:17] #2593 closed, assigned to voleye

[2016-04-04 07:58] AndreyChorniy opened #3990 "Checkbox works incorrect for Store Credit extension"
## **Steps to reproduce**
1. Install Magento Enterprise
2. Try to update store credit balance via admin panel with email notification.
   I get new balance. Good. But I cannot get email notification
   This checkbox doesn't work correct
   [ https://drive.google.com/file/d/0B2vGZI5KgHsdS1l5ejBPbWVBeVE/ ]
## **Expected result**
1. Email notifications after balance update, need to be sent
## **Actua

[2016-04-04 08:07] AndreyChorniy commented on #3990
I have change "checkbox" to "select,  'yes' & 'no' " and this works  well for me. Email has been sent. But this email is empty :( And I see the next Error in admin panel https://drive.google.com/file/d/0B2vGZI5KgHsdaWRob3Zsc2hYTDQ/

Please advise.
Thanks.

[2016-04-04 08:15] bh-ref commented on #3985
@nestocabrera the command begins with "php" --> `php bin/magento setup:static-content:deploy` or `php.exe bin/magento setup:static-content:deploy`

It is using the php cli tool.

[2016-04-04 08:15] #3955 closed, assigned to nobody

[2016-04-04 09:24] mcspronko commented on #3606
Hi Magento,

Gift Messages functionality does not work.
It throws error during HTTP POST request.
Error: 404 Not Found
URL: POST http://demo.theirishstore.com/rest/tis_english/V1/guest-carts/:cartId/gift-message 404 (Not Found)

It seems like :cartId is not populating with identifier.

[2016-04-04 09:29] sabei opened #3991 "Magento 2.0.4 Server 500 error in production mode in php 7.0.5"
Magento 2.0.4 Server 500 error in production mode in php 7.0.5

nginx -v

[code]

php -v

[code]

Switch to the mode of production

[code]

When I run the command

[code]

Results returned

[code]

[2016-04-04 09:49] adifucan commented on #2703
Current behavior is expected and is the same as on Magento version 2.0.0

To be able to add products manually user needs to select attribute first to generate product variations with this attribute.

For example, user starts to create product configurations. First he selects attributes or attribute (for example, color). Then he add only 2 values to this attribute (white & black) out of 4 values (r

[2016-04-04 09:53] shiftedreality commented on #2703
Appropriate comment added above.
Closed.

[2016-04-04 10:07] tadhgbowe commented on #2703
Hello guys. I'm sorry you've not understood the issue correctly. If you remove all the variants (because they were imported incorrectly) you suddenly can't choose a different product. The configurable product itself has reverted back to being a simple. Here are the steps:

Step 1: I import a new configurable product with 2 variant simple products. All three products are imported fine and the Confi

[2016-04-04 10:21] shiftedreality commented on #2703
Thank you for clarification.
Reopened, increased priority caused by incorrect import.

[2016-04-04 10:35] mujtaba2012 commented on #3018
Is this already released in patch or will come in future release?

[2016-04-04 10:50] ishakhsuvarov commented on #3606
@mcspronko Hi, issue you have described is already fixed in the `develop` branch with the commit [802411](https://github.com/magento/magento2/commit/8024119f0424fa792d2043db9cbfd520a3fee770) (issue #3804). This fix is likely to be delivered to the `2.0` branch in the future releases as well.

[2016-04-04 11:08] tiwarimukesh commented on #3987
@ktomk  I know that extensions exist for this feature but I it can be a part of magento core.It will also be helpful.

If this request seems not a good, it can be closed by Magento team.

[2016-04-04 11:20] tadhgbowe commented on #2703
Hello.
Thanks. Doing an incorrect import was only an example of how the real world sometimes messes up data. It could easily be somebody creating a new configurable product in the Admin Panel. Creating it initially works absolutely fine. It's when the user realises their mistake an unassigns all the simple variants first, maybe click save oh oh! the configurable has changed to a simple. Oops. Not

[2016-04-04 11:20] pansys opened #3992 "Unable to select Product template attribute set for configurable products"
Hello-

Installed Magento 2.0.4 today and while adding configurable product to catalog product template selection is disabled. Please find the screen shot attached.
![1](https://cloud.githubusercontent.com/assets/6678621/14246505/34d824e4-fa85-11e5-8325-a224a31d7b10.jpg)

Thanks,
Mathew

[2016-04-04 11:30] stanislav-zgr opened #3993 "Category Sort Order is not saved in Flat Table"
## Preconditions
Magento 2

## Steps to reproduce
1. Enable Flat Catalog
2. Change the order of subcategories within one parent category (by dragging them).

## Expected result
1. Position value is updated in Flat table for all affected subcategories of this level (where position has changed)

## Actual result
1. Only the subcategory which has been replaced is updated (plus parent categories)
2. T

[2016-04-04 11:32] #3511 closed, assigned to nobody

[2016-04-04 11:33] pansys commented on #3511
Permission and indexing issue. Nothing to do with Magento.

[2016-04-04 11:49] ksz2013 opened #3994 "2.0.4 customer registration login issue"
## Steps to reproduce

Hi,

In the latest version 2.0.4 after creating a customer, the customer is not logged and cannot log in with the credentials anymore. No error message is displayed. Is this a problem of the new release? on previous versions this was working?

Thanks,
Szabi

[2016-04-04 11:57] ktomk commented on #3987
I'm sure PR's for this are welcome - at least to decide about that.

[2016-04-04 11:57] ktomk commented on #3018
@fooman: Can you confirm this fixed?

[2016-04-04 12:11] zahmed-f3 commented on #3411
I am still getting this error. Has this issue fixed in 2.0.4 release?

[2016-04-04 12:15] zamboni084 opened #3995 "Getting SyntaxError: JSON"
Hi,

I hope someone can help. I was editing a static block and i saved the block the screen flashed and it reloaded but now it does not load the list of blocks and in the browser console i am now getting this

FireFox

SyntaxError: JSON.parse: unexpected non-whitespace character after JSON data at line 1 column 94501 of the JSON data scripts.js (line 86, col 16)

Google console

Uncaught SyntaxErr

[2016-04-04 12:20] ilol commented on #1030
@versdivers  not yet.

[2016-04-04 12:49] mcspronko commented on #3606
@ishakhsuvarov thank you for reply.

[2016-04-04 14:03] mazhalai commented on #3983
Thanks @ktomk. @z6tanker We are closing this issue, since it not a bug. Please feel free to open a new issue, if you continue to have problems.

[2016-04-04 14:03] #3983 closed, assigned to nobody

[2016-04-04 14:04] mazhalai commented on #3977
@smatric have you been able to try @ktomk suggestions?

[2016-04-04 14:06] mazhalai commented on #2309
@theskillwithin please do not comment on closed issues.

[2016-04-04 14:08] babyasishhira commented on #3894
There is was made some mistake on xml.. Fixed when i copy all code from vendor folder.

[2016-04-04 14:08] #3894 closed, assigned to ishakhsuvarov

[2016-04-04 14:16] nobuttsalex commented on #3934
I've got the same problem, I can see a javascript error in the console when clicking "Check Data"

validation.js:168 POST /admin/admin/import/validate/key/d4c95dda2…f1e068eb7ec1a3e5595335aac3eaac9bc6d90fcca869366/?form_key=uU0UpBFfV5DUnsbO 500 ()

[2016-04-04 14:29] Bbbrinks opened #3996 "REST: /rest/V1/orders doesn't return orders from multiple store ids"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a second store view
3. Place X orders on the default store view
4. Request  `/rest/V1/orders?searchCriteria[pageSize]=1&searchCriteria[currentPage]=2&searchCriteria[filterGroups][0][filters][0][value]=1&searchCriteria[filterGroups][0][filters][0][field]=store_id&searchCriteria[filterGroups][0][filters][0][conditionType]=eq&s

[2016-04-04 15:09] mazhalai commented on #3984
@jackaroos Officially, Magento only supports [Ubuntu and Centos](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html).  However, since many developers use Windows, we provide limited support, but it is no way intended to be run on production in Windows.

Closing, since this is not really a bug.

[2016-04-04 15:09] #3984 closed, assigned to nobody

[2016-04-04 15:10] mazhalai commented on #3996
@sterfpaul thank you, we have created MAGETWO-51500 to investigate and fix.

[2016-04-04 15:13] Bbbrinks commented on #3996
I found a work around by using the condition type "in" and posting both ids in one filter.

`/rest/V1/orders?searchCriteria[pageSize]=10&searchCriteria[currentPage]=2&searchCriteria[filterGroups][0][filters][0][value]=1,2&searchCriteria[filterGroups][0][filters][0][field]=store_id&searchCriteria[filterGroups][0][filters][0][conditionType]=in`

[2016-04-04 15:25] MomotenkoNatalia commented on #2582
@rdeelstra I am closing this issue due to no response, please reopen when you have an update

[2016-04-04 15:25] #2582 closed, assigned to MomotenkoNatalia

[2016-04-04 15:37] ktruehl opened #3997 "Persistent Shopping Cart: Customer logged back in after logging out"
## Steps to reproduce
1. Install Magento version 2.0.3 or 2.0.4.
2. Enable and configure the persistent shopping cart feature.
3. Set the "Clear Persistence on Sign Out" setting in the "Persistent Shopping Cart" section to "No".
4. Create customer
5. Clear sessions (delete var/sessions)
6. Log customer in
7. Log customer out
8. Wait for automatic redirect after logout
## Expected result
1. After l

[2016-04-04 15:53] okorshenko commented on #3411
Hi @zahmed-f3
This issue was fixed in `develop` branch which has target release 2.1.0

[2016-04-04 16:31] ksz2013 commented on #3997
Hi,

Aren't you having customer creation and login problems on 2.0.4? All the time i am being redirected to login page, without anu message.

[2016-04-04 16:46] ktruehl commented on #3997
No. Otherwise logging in and creating customers works as expected. And if the "Clear Persistence on Sign Out" system config parameter is set to "Yes", logging out works correctly as well.

[2016-04-04 16:51] ksz2013 commented on #3994
On previous versions this worked properly.

[2016-04-04 17:10] versdivers commented on #1030
I did it with the code above but i think this should be an option within magento to add fields to the registration. just seems so basic setup.

[2016-04-04 18:19] rtull opened #3998 "Display "Friendly" Identifiers in Admin Panel"
In the "rules" interfaces in the admin panel (see Customer Segments or Promotions) selected objects show their ID, not a friendly name. This makes it very difficult in the admin to assess what values have been selected in a rules section because the IDs shown are not comprehend-able. Without loading the full selection list / grid interface, an admin user has no idea which specific items they have

[2016-04-04 18:24] robfico commented on #3964
We saw the same issue with an upgrade from 2.0.2 to 2.0.3. Original 2.0 install was with sample data. Sample products and images were originally deleted. After upgrading, all product images were missing.

[2016-04-04 18:49] robfico commented on #3958
Seeing the same thing for 2.0.2 version, php and cron checks fail even though cron runs fine from command line, set up in cron, php 5.5.31 installed with intl support, etc...

[2016-04-04 19:01] SudoCat commented on #3958
I believe my cron jobs were setup correctly - they all seemed to be running as intended from CLI at least. I ended up just reinstalling everything and that seemed to fix it, however it did nothing to solve my confusion!

[2016-04-04 19:23] hshar7 commented on #3996
@sterfpaul why do you consider this to be a workaround? Is "in" not the correct conditionType?

[2016-04-04 19:33] hshar7 commented on #3998
Internal MAGETWO-51511 created to track this. Thanks, @rtull

[2016-04-04 19:37] hshar7 commented on #3994
@ksz2013 This could potentially be a big problem. Could you please provide more information? Did you clear cache and run
$bin/magento setup:upgrade
 and updatedb ?

[2016-04-04 20:32] jpreed2 opened #3999 "Integration Identity link URL not working"
## Steps to reproduce
1. Using latest Magento 2.0.4.
2. In Magento Admin: System > Extensions > Integrations click Add New Integration.
3. Enter an integration name, email address, callback url and identity link url.
4. Click API tab on the left and choose Resource Access All.
5. Click Save.
6. The new integration displays in the list of integrations.  Click the "Authorize" link for the new integr

[2016-04-04 21:13] #3995 closed, assigned to nobody

[2016-04-04 21:19] mikeweis commented on #3912
This issue has been resolved and merged to develop. Feel free to let us know if you encounter any other issues.

[2016-04-04 21:19] #3912 closed, assigned to mikeweis

[2016-04-04 21:23] fooman commented on #3018
@ktomk the code in develop looks good to me but haven't yet had a chance to test it as we have rewritten our code to use a collection for now

[2016-04-04 21:55] DonatelloNguyen opened #4000 "When the "region" is not saved after editing shipping/billing address"
Environment:
Installed through composer.
Magento ver. 2.0.2
## Steps to reproduce

1.) Create an order. (note you should see your state in the DB or in the order page)
2.) Edit shipping address
3.) Click save
4.) Look at the database "mage_sales_order_address" or look at the order page.

Expected:
see the state

Actual:
NULL in database and the state is missing in the order page.

Side Note:
Whene

[2016-04-04 21:58] jpreed2 commented on #3449
This problem breaks the Reauthorize.  i.e. If you have an existing integration that's been authorized and click the Reauthorize now your integration is broken because it says the consumer key is expired.  The only way to fix it is to delete the integration and create a new one from scratch.

[2016-04-04 22:04] DonatelloNguyen commented on #3600
There must be some mistake on my end, it seems to work now, I'll reopen if I'm able to reproduce it.

[2016-04-04 22:04] #3600 closed, assigned to nobody

[2016-04-04 22:11] DonatelloNguyen opened #4001 "Fatal Error on magento/setup"
I get an exception when trying to access the setup page.  There's another folk who experience this same problem Janurary but there's no response.

https://community.magento.com/t5/Technical-Issues/Fatal-error-magento-setup/m-p/26444#M335

ENV:
installed from composer
v2.02
## Steps to reproduce
1. Go to System >> Web Setup Wizard

Expected:
Working Page

Actual:
Exception Page

Fatal error: Uncaug

[2016-04-04 22:26] mikeweis commented on #3774
This issue has been resolved and merged to develop. Feel free to let us know if you encounter any other issues.

[2016-04-04 22:26] #3774 closed, assigned to mikeweis

[2016-04-04 22:46] smatric commented on #3977
@ktomk

`$ php -f vendor/bin/composer -- config  http-basic.repo.magento.com '<public_key>' '<private_key>'`

didn't work for me (I installed Magento from a ZIP file):

`PHP Warning:  require(.../m2/vendor/bin/../src/bootstrap.php): failed to open stream: No such file or directory in .../m2/vendor/bin/composer on line 8`

Adding auth.json to Magento's root directory resulted in an exception (Zend\

[2016-04-05 01:18] blizam opened #4002 "iconv extension required in PHP 7"
This page:

http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html

Should reference that in PHP 7 the iconv extension needs to be installed. I'm unsure if it's just defaulted in previous PHP versions but when I switched to PHP 7 recently I had to install the iconv extension for it separately in order for Magento 2 to function

[2016-04-05 02:30] Joshua34 commented on #3872
I am facing the same issue entering either "/" or leaving suffix blank.
URL rewrites are being setup by the system correctly in Admin > Marketing > URL Rewrite but not functioning.

[2016-04-05 03:38] sengaigibon opened #4003 "Status history items with same date/time"
## Steps to reproduce
1. Go to Backend, Sales -> Orders -> Click on an Order.
2. At the bottom, in "Order Total"/"Notes for this Order", add at least one comment.
## Expected result
1. A list of comments in the history with different date and time, according to creation time.
## Actual result
1. Same date and time on each comment added.
2. In fact, if you reload the page you'll notice that the dat

[2016-04-05 06:23] jissereitsma commented on #3991
I found this issue via google, don't have the same issue but am able to find the following: The `DriverInterface` would need a DI preference to be mapped to a real class (`Driver`). However, my own Magento 2.0.4 system does not have this preference defined, except for a dynamic mapping as part of the setup. My 50 cents.

[2016-04-05 07:05] Mani3101 commented on #815
Hello @ mrkhoa99 , mazhalai & amanuni,
I find a simple solution to rectify the css & js issues with help of my friend.
Here I want to share the knowledge what I get.
No need for command prompt and all to rectify the css & js errors what I posted 15days ago.

Check this link http://magento.stackexchange.com/questions/64802/magento-2-404-error-for-scripts-and-css/64808#64808

Only you have to follow

[2016-04-05 07:11] Bbbrinks commented on #3996
@hshar7 Yeah that's true. But I still expected the other way to work as well so that might be a bug? Or is it documented that you can only have on filter per field(name) in a filtergroup.

[2016-04-05 07:33] RoshanPrajapati commented on #2107
how i can solve my error :
this error show in Configurable Product in magento 2.0.2

Fatal error: Call to a member function getValue() on a non-object in /var/www/html/.../vendor/magento/module-catalog/Pricing/Render/FinalPriceBox.php on line 101

[2016-04-05 07:35] pantaoran commented on #3572
@sevos1984 what does that mean "MAGETWO-46014 will be delivered later"? How much later?

Regarding environment, I'm running this in Docker containers, so there isn't necessarily a single one OS, but all the official containers run debian 8 (jessie).

nginx: https://hub.docker.com/_/nginx/ (I'm using the nginx:1.9 image, version output says nginx/1.9.10)
php-fpm: https://hub.docker.com/_/php/ (I'm

[2016-04-05 08:21] lgt commented on #2843
is there a workaround for this having the same issue on backend/frontend

[2016-04-05 08:28] fvschie opened #4004 "Newsletter Subscriber create-date not set, and change_status_at broken"
## Steps to reproduce
1. Register a newsletter subscriber via the front-end, with no confirmation of email address needed.
2. Check database.
3. Unsubscribe user via admin interface.
4. Resubscribe user via admin interfa... oh wait, this option is missing. If you make a mistake (no confirmation dialog) you can't correct it without going into the DB.
## Expected result
1. After creation set change_

[2016-04-05 08:52] fvschie opened #4005 "Rest API for querying and updating Newsletter Subscribers missing"
There is no API for getting or setting newsletter subscription status. Such an API is necessary for integration with third-party systems, specifically mailing platforms.

This needs to be separate from customer API of course, although adding newsletter subscription status to Customers would be a welcome addition too.

[2016-04-05 09:06] quienti commented on #4003
Duplicate : https://github.com/magento/magento2/issues/3614 and https://github.com/magento/magento2/issues/3383
Pull request : https://github.com/magento/magento2/pull/3629

[2016-04-05 09:12] sabei commented on #3991
Give you 50 cents :)

I'm sorry for my English.

In the "default mode" and "developer mode", everything is OK.

Only "production mode", all magento command is not available, the front-end returns a 500 error.

This problem occurs after the latest updated version of php 7.0.5/magento2.04, I have tested in the local environment and Vps environment. (Ubuntu14, nginx1.9, php7.0.5, mysql5.6, varnish)

[2016-04-05 09:22] dickrogers commented on #1471
I too am running into this issue, in my case it's to do with configurable products. Each of the sizes (simple products) has the same product name as the parent (configurable) product, but module-url-rewrite doesn't increment a counter on the URL key to ensure they are unique. Is there an easy way to fix this without changing my data? Perhaps manually setting the URL key using a function, unknown t

[2016-04-05 09:36] kanduvisla opened #4006 "When saving configurable products while iterating a collection, dropdown-values get saved incorrect"
## Steps to reproduce:

Create a product collection, select no attributes, iterate and save:

[code]
## Expected result

That the products' dropdown values (manufacturer, color, etc) are not changed.
## Actual result

The products' dropdown values get set (or lost?) to the first value in the dropdown
## Workaround

Include all attributes when loading the collection:

[code]

This only seem to happ

[2016-04-05 09:37] duccanh commented on #2913
lol

[2016-04-05 10:07] atishgoswami opened #4007 "Testing"

[2016-04-05 10:07] #4007 closed, assigned to nobody

[2016-04-05 10:44] karishmadaffodil opened #4008 "Problem in Override theme layouts"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-04-05 10:58] jaimestuardo opened #4009 "Currency format inconsistent"
I have the issue with currency format. First, in order to configure my currency to have no decimal numbers, I have modified 3 files in /vendor/magento/zendframework1/library/Zend/Locale/Data: es.xml, es_ES.xml and es_CL.xml (the latter just in case, because locale set is es_ES)

In es.xml I have:
               `<currencyFormats numberSystem="latn">
                        <currencyFormatLength>

[2016-04-05 11:03] jaimestuardo opened #4010 "Minicart shows no product even when I have products in cart"
Sometimes, when I have products in cart, this is shown:

![image](https://cloud.githubusercontent.com/assets/9195659/14279634/a6830756-fb04-11e5-916f-0385c4df6ff6.png)

Then, I add 1 product, and the minicart started to show this new added product together with the old products in cart:

![image](https://cloud.githubusercontent.com/assets/9195659/14279666/e3710e74-fb04-11e5-8c9a-86f0e159e4ac.png)

[2016-04-05 11:15] karishmadaffodil commented on #4008
I am facing problem while overriding theme layout.
I want to override this file "vendor/magento/theme-frontend-blank/Magento_Checkout/layout/checkout_index_index.xml".
I created my theme and copied the file in following directory in my theme : "app/design/frontend/Magento/Mytheme/Magento_Checkout/layout/override/theme/Magento/Blank/checkout_index_index.xml".
I am following this tutorial :
http://d

[2016-04-05 11:38] kayintveen opened #4012 "Unable to Change existing products Item (Magento\Framework\DataObject) with the same ID already exists"
Steps to reproduce
I used a git clone install of magento2 (2.0.0), I tried upgrading to 2.0.4 but still the same issue occurs.
When i open a existing product and save it right away i get the error

"Item (Magento\Framework\DataObject) with the same ID "7" already exists."

When i try another product i get the message

"Item (Magento\Framework\DataObject) with the same ID "3" already exists."
It ha

[2016-04-05 11:47] kayintveen commented on #3905
For me not. @sangatpeda any clue which file change helped you out here?
Where you already on 2.0.4?

I opend my own issue to get it solved now. https://github.com/magento/magento2/issues/4012

[2016-04-05 11:52] jaimestuardo opened #4013 "Cannot upgrade to Magento 2.0.4"
When Trying to upgrade from 2.0.2 to 2.04 using system upgrade, I get the following errors in Readiness Check:

Check Cron Scripts

Cron script readiness check failed. Hide detail

Error from Updater Application Cron Script:
Found non-writable path(s):
/home/depasa/public_html/app/design/frontend/Desytec/depasa_v1/Magento_Checkout/web/template/cart/totals
/home/depasa/public_html/webpay/cgi-bin/ma

[2016-04-05 11:53] sangatpedas commented on #3905
Looks like in the git pull as seen in the screenshot below the change of the file ".../Catalog/Controller/Adminhtml/Product/Save.php" did the trick.

<img width="543" alt="screen shot 2016-04-05 at 6 49 24 pm" src="https://cloud.githubusercontent.com/assets/5317971/14280800/4142dee2-fb5f-11e5-9cb4-a2daf28f94c8.png">

[2016-04-05 11:54] sangatpedas commented on #3905
But, just to be clear, I use the develop version.

[2016-04-05 12:12] xdoctordog opened #4014 "Wrong elements in column 'Is default' when creating new attribute of the product."
## Steps to reproduce
1. Magento 2.0.4 CE |  Browser Chrome
2. Go to: Stores -> Product -> Add New Attribute
3. Choose in 'Catalog Input Type for Store Owner' tab : 'Multiple Select'
4. Click 'Add option'
5. Choose in 'Catalog Input Type for Store Owner' tab : 'Dropdown'
6. Choose in 'Catalog Input Type for Store Owner' tab : 'Yes / No'
7. Choose in 'Catalog Input Type for Store Owner' tab : 'Mult

[2016-04-05 12:29] okolesnyk commented on #3949
Hello, @jahved.

Currently we have functional acceptance test plan in which we decided to add high priority test scenarios and variations.

To run this test suite you are able to update value of `<env name="testsuite_rule" value="acceptance" />` in `<magento_root>/dev/tests/functional/phpunit.xml` file.

The list of test suites you are able to get from `<magento_root>/dev/tests/functional/testsuit

[2016-04-05 12:37] kayintveen commented on #3905
Seems like it indeed.
great... let me check.

[2016-04-05 12:57] jaimestuardo opened #4015 ""Go to checkout" button is not clickable"
I am having a big problem now. The fact is that the "Go to checkout" button, in both minicart and the shopping cart page is not clickable. I have tried everything, I have trying to find where the onclick event is placed, but nothing, I cannot find the solution. I have several weeks with this problem.

Please guide me to solve this problem by myself because I cannot wait for someone to solve this.

[2016-04-05 13:00] ishakhsuvarov commented on #4010
@jaimestuardo Thank you for reporting this issue. Could you please provide more information on the steps to reproduce the issue? Which way did you add products which are not shown?

[2016-04-05 13:02] ishakhsuvarov commented on #4015
@jaimestuardo Do you have any customizations installed on your store? Please try this scenario with the clean Magento installation.

[2016-04-05 13:25] ghost opened #4016 "Can't Get Token after Upgrade to 2.0.4 Rest"
## Steps to reproduce
1. Install Magento from release.

`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition /var/www/domain/magento/`
1. from terminal enter ...

`curl -X POST "http://domain.com/magento/index.php/rest/V1/integration/admin/token" \`
`-H "Content-Type:application/json" -d '{"username":"admin", "password":"admin123"}'`
## Expected res

[2016-04-05 13:32] keyurshah070 commented on #3912
@mikeweis Thank you for resolving this issue.

[2016-04-05 13:33] ishakhsuvarov commented on #3531
Hi @Katerina1993
We have investigated the problem you described with the `checkout_cart_product_add_after` event. Cart and item in question are not yet saved at the moment when the event is fired, leading to inconsistent price information at that moment, as the prices are calculated on cart save in the most of the cases. The main purpose of this event is to add additional information to the item.

[2016-04-05 13:43] mazhalai commented on #4013
@jaimestuardo so as suggested, did you check the file permissions? Looks like `pub/static` needs to be writable.  Not sure about the other files.

[2016-04-05 13:56] ishakhsuvarov commented on #3960
@nobuttsalex Hi, thank you for reporting this issue.
We are going to look into the issue you have described, in the mean time, please note that it is recommended to use Magento's API's when it is possible, in your case `\Magento\Quote\Api\CartItemRepositoryInterface::save` seems to be the most suitable.
If it is possible please try it and let us know of the results.

[2016-04-05 13:58] jaimestuardo commented on #4013
Of course. all permissions are correct, unless I have to set 777 permissions for all files and folders. Furthermore, what about app/design/frontend/Desytec/depasa_v1/Magento_Checkout/web/template/cart/totals? why that folder needs to be writable? it is my custom template.

And /webpay folder is a custom folder I am using with my own payment method. It contains CGI files that of course should not b

[2016-04-05 14:03] mazhalai commented on #4013
Yes I agree about the unnecessary files. Created MAGETWO-51544 to investigate and fix.

[2016-04-05 14:05] ishakhsuvarov commented on #3853
@valentinazhuk Thank you for reporting this issue. We have created an internal ticket `MAGETWO-51545` to investigate and fix the problem.

[2016-04-05 14:21] mazhalai commented on #4001
@DonatelloNguyen We are having trouble reproducing this, can you please give us more details? What is your OS? How did you install M2? via web or via CLI? Is it in production mode or developer mode? etc.

[2016-04-05 14:27] mazhalai commented on #4016
@ircsome after composer create-project, can you verify that you installed Magento2?

[2016-04-05 14:34] ghost commented on #4016
Yes ...

@mazhalai here are the rest of the installation steps I took after composer create-project ....

[code]

[2016-04-05 14:35] Devanshi-pachouli opened #4018 "Warning message when we click to view product from emailer"
## Steps to reproduce
1. Go and check and product
2. Add product to MyWishlist
3. Share the wishlist to any email id
4. Go to the inbox and check the email, click the image, prduct name link or view product link.

Expected result
1. The expected product should be displayed.
2. ...
## Actual result
1. It is giving Warning message.(Warning: Illegal offset type in isset or empty in /home2/kidsafet/pu

[2016-04-05 15:17] jaimestuardo commented on #4015
Yes.. a custom template base in Luma. Button code is:

[code]

I cannot know what is happening here. Magento is very abstract so there is a lot of hidden details, specially what is related to JavaScript.

Since the button code is the code from Luma template, why does the onlick does not work?

To patch the problem at the moment, I have just added an onclick attribute to the button. Why did not Mag

[2016-04-05 16:26] tw123 opened #4019 "2.0.4 salesOrderRepositoryV1GetList returns always the same shipping address for all orders"
The shipping address is always the same for all orders when I use getList.
Only when I fetch them individually the shipping address is correct.

Example:
Order A with Shipping address A
Order B with Shipping address B

Query for both orders returns
Order A with Shipping address A
Order B with Shipping address A(!)

[2016-04-05 16:40] joebusby commented on #3964
#robfico that's the problem I have.  I just upgraded anyway, and will re-attach the images on 2100 products one by one since generating > 150 configured products with images does not work.  See you next week. (grin).

[2016-04-05 16:40] #3964 closed, assigned to nobody

[2016-04-05 17:30] astorm opened #4020 "Feature Request: Simple, Standard, Seamless, PHP Install Option"
Tagging @piotrekkaminski, per his request, regarding the post quoted below.

The short version: Irrespective of other goals and plans form the product team, a user needs to be able to
- Navigate to https://www.magentocommerce.com/download
- Download the latest version of Magento 2
- Upload it to a quality shared host, VPS system, or copy it to a local LAMP stack setup (Stock OS X PHP, WAMP, MAMP,

[2016-04-05 17:30] astorm commented on #4020
First -- there's a significant number of DIY merchants **with** technical skills -- either their own, their employees, or their offshore networks -- who have deployed their own stores, and maintain them.  When these merchants take the current Magento 2 out for a spin and can't get it running, the platform is going to take a credibility hit.

[2016-04-05 17:31] astorm commented on #4020
Second, the stated goal of

is admirable, and a good long term goal, but is not realistic in the short and medium term.  The above scenario is rare with Magento 1. The extensions and themes that exist now for Magento 1 are great, but many still require small code changes, adjustments, and extensions to meet the business needs of store owners.  If extension and theme vendors need to tighten up thei

[2016-04-05 17:31] astorm commented on #4020
Third -- there's a gap in your developer profiling.  Between your Novice developer who can hack on Wordpress, and your Experienced developer with a CS background who can work with advanced OO concepts in frameworks like Symfony or Magento 2, there are a huge number of smart, hard working "full stack" PHP developers who do the yeoman's work of making systems run. "Intermediate  developer" is the HR

[2016-04-05 17:31] astorm commented on #4020
Fourth -- support for tools like docker and vagrant are great and important for long term platform growth and health, but for full stack PHP developers these tools are nice **add ons** to the already well established, industry standard, decade old practice of
1. Download archive of source code
2. Copy to apache based PHP server,
3. Run through GUI installer to set basic configuration/check permiss

[2016-04-05 17:32] astorm commented on #4020
Fifth -- getting hosting companies on board with 1-click installers is also great, and also something that will help platform growth.  However, if this is the only way to get a stable installation it greatly limits the number of people who will give Magento 2 a spin.  Offer someone a free giant bag of candy and they'll take it -- charge a quarter for that same bag and fewer will take you up on the

[2016-04-05 17:33] astorm commented on #4020
Sixth -- regarding numbers four and five above -- I'm sure you've noticed the huge challenges involved in getting Magento 2 up and running with web host's 1-click systems, or event on vagrant and docker.  I'll bet dollars to doughnuts that having a version of Magento that's an archive of source files that can be uploaded to a standard apache mod_php web server and easily installed would make every

[2016-04-05 17:33] astorm commented on #4020
Seventh -- Wordpress VIP is an interesting system to model -- but Wordpress VIP can get away with having a non-traditional installer process because people are already bought-in on **standard** Wordpess, which they can still install easily by uploading an archive of source files to a standard apache/php/MySQL hosting platform.

[2016-04-05 17:35] astorm commented on #4020
Wrap Up -- All the new developer initiatives Magento 2 brings to the table are super exciting, but it seems like a bad idea to assume these new technologies are going to be replacements for older, tried and true methods of installing PHP based software.

The best part? Making your software easy to install in the traditional-PHP-application-sort-of-way **makes adopting all these newer technologies

[2016-04-05 17:54] Doability commented on #3797
Hi  @joni-jones ,

I am also facing the same issue, below is the error I am getting in browser console:

`TypeError: this.messageContainer is undefined his.messageContainer.addErrorMessage({
`

Could you post the name of commit where you have placed related changes.

Thanks & Regards

[2016-04-05 18:02] piotrekkaminski commented on #4020
Thanks @astorm for the feedback. This is great stuff! The intermediate developers is a less visible group so thanks for pointing that out.

[2016-04-05 18:29] alankent commented on #4020
Agree with your executive summary at the top. There are ways to do it today, but we need to push them into the developer documentation so the installation instructions for a default new user are simple. E.g. make the Vagrant box we publish official, and in the docs. Any feedback on that Vagrant box is welcome. (For example, we have a Bar Camp session talking about using the Vagrant box with GoDadd

[2016-04-05 18:50] ksz2013 commented on #3994
Hi,

Issue is related to browser cache and cookie, It can be closed.

[2016-04-05 18:52] #3994 closed, assigned to nobody

[2016-04-05 19:36] sshrewz commented on #4000
Thanks for submitting this issue.  We have created MAGETWO-51582 for internal tracking.

[2016-04-05 19:49] jaimestuardo opened #4021 "Sometimes the call to payment information webservice returns error 500"
Hello,

This is very annoying... sometimes payment information can generate purchase order correctly and sometimes not.

This is what firebug reports:

![image](https://cloud.githubusercontent.com/assets/9195659/14295972/4c0e5dd0-fb4e-11e5-8d7d-23d153e3eff5.png)

Since this is a WebService, I cannot show the real error. Apache does not register anything in error_log file either.

Regards
Jaime

[2016-04-05 20:22] ktomk commented on #3977
I see, installing it form a zipfile then most likely does not conserve the composer installation. I've read somewhere in the docs that the zip-file has some kind of extra packaging, therefore my suggestion was not straight forward in your case. If you install composer locally, it should work (just was pointing to the source version as I thought it's available in any case, but you can just use the

[2016-04-05 20:45] sshrewz commented on #3974
@hcanning2014, can you confirm if @ktomk's suggestion worked for you?

[2016-04-05 21:07] kevando commented on #3317
Why doesnt reindexing fix this?

[2016-04-05 21:11] issnteacher commented on #3974
I tried multiple chmods 700 770 777 and it just became a pain. Stuff just didn't work. Links wouldnt work, css issues. 777 was most successful. Instling was too tedious. May try again in a month or so. Maybe create a screencast of a centos install. Thx

[2016-04-05 23:05] smatric commented on #3977
@ktomk thank you for your suggestions.

After running the command, [I get the same error](https://github.com/magento/magento2/files/205492/magento2_exception.txt) as when I added auth.json manually. It happens when I attempt to open `magento_URL/setup/index.php/select-version` URL:

[code]

[2016-04-06 00:09] mehh commented on #2412
Any update on this?  Having to flush cache and run scripts every single time an update is made in development is becoming a bit of a pain.

[2016-04-06 00:51] matthew-muscat commented on #3789
Seeing the same issue on our end here too - getDestCity is null and never contains a value in the carrier request.

An ajax request during checkout calls "rest/default/V1/guest-carts/KEY/estimate-shipping-methods
", however the city or street details are not passed over in the request payload

`{address: {country_id: "AU", region_id: "526", region: "Victoria", postcode: "3016"}}`

[2016-04-06 00:54] matthew-muscat commented on #3789
It should be noted that street level details are also not available.

This data can be useful in the carrier request - an example of it's usage could be for logic that may need to handle PO Boxes differently.

[2016-04-06 01:03] jpreed2 opened #4023 "Module creation of Integration does not work"
## Steps to reproduce
1. Followed the instructions here http://devdocs.magento.com/guides/v2.0/howdoi/webapi/integration.html
## Expected result
1. After installing and enabling the module the System->Extensions->Integrations lists the new Integration generated by the module.
## Actual result
1. New module shows as enabled.
2. New Integration does not get created and is not listed in the System->E

[2016-04-06 02:53] saderra commented on #4020
You mentioned Digital Ocean. But even on their system, things like upgrading between versions have proven completely unsuccessful. Permission issues. Every time an extension is installed, every time a deploy command is run, etc... The permissions for the site have to be manually updated because of new files created; otherwise Server 500 errors are thrown.

[2016-04-06 04:56] ktomk commented on #3977
okay, the dry-run should not have asked you for credentials then _if_ creation of auth.json would have successfully worked. sounds a bit like a configuration issue but is hard to say from the distance. I have not further clue on what to verify next, sorry. The exception at least shows you do have an underlying problem, but I guess you already knew :)

[2016-04-06 08:08] alisamohanty opened #4024 "Magento 2 Installation is incomplete. console log error."
![magento](https://cloud.githubusercontent.com/assets/18302927/14309916/c731ff36-fbfc-11e5-9401-f03ff9d9760f.PNG)

[2016-04-06 08:14] adamzero1 opened #4025 "Update Folder Location / Update Package"
Hi,

I'm not sure if this is the correct place to raise this as an issue, however I wanted to get the ball rolling.

Can the "/update" folder in the repo: https://github.com/magento/magento2-community-edition be moved into an external package e.g: magento2-update". This will allow people to get the updates without having to merge that repo back in to whatever they have.

If this is not the correct

[2016-04-06 08:29] medma-infomatix commented on #3514
Hi I having solution of the above problem.

open the terminal and navigate to magento web root

 $ cd /var/www/html/magento2
Step 1.

$ php bin/magento setup:static-content:deploy
Step 2.

$ php bin/magento indexer:reindex
Step 3.

make sure apache “rewrite_module” is enable and then restart the server

Step 4.

$ chown -R www-data:www-data /var/www/html/magento2
Step 5.

$ chmod -R 777 /var/www/h

[2016-04-06 08:34] sabei commented on #3991
I think this is a question about php 7, not a bug of magento2.

When I switch back to use php5.5, all work well. Please close this question, thank you!

[2016-04-06 08:53] jlee-sazze commented on #3991
I'm having the same issue. If I clear `var/di` directory, it works fine in production mode set.

[2016-04-06 09:02] jasonacres opened #4026 "Categories Not Displaying - Via Product Import"
Categories Not Displaying on front end Via Product Import
i think this is down to being 3 levels deep not to sure.

![mag1error](https://cloud.githubusercontent.com/assets/14318474/14311330/9aac511e-fbde-11e5-8876-9ed3da43992f.png)
![mag2error](https://cloud.githubusercontent.com/assets/14318474/14311329/9aab6042-fbde-11e5-81ba-53313265496a.png)

[2016-04-06 09:08] moe-kayali commented on #4018
Hello,

I was able to reproduce the same issue on Magento 2.0.4.
How Reproducible: Always.

Thanks,

[2016-04-06 09:14] CKUDG commented on #3797
Hi @joni-jones @Doability , sorry for the late answer... The following workaround/fix solves the problem, but i think it's still not marched into the latest version 2.0.3, right?

https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6

Best regards,
Chris

[2016-04-06 10:09] Nuranto opened #4027 "Final Price is displaying base price"
## Steps to reproduce
1. Create a frontend observer for 'catalog_product_get_final_price' event
2. Just use setFinalPrice([0-9]+) on product on that observer
## Expected result
1. On frontend, product view, price should be as defined in setFinalPrice()
## Actual result
1. Price displayed is base price

Location of problem :  Magento\Catalog\Pricing\Price\FinalPrice;

getValue returns explicitly th

[2016-04-06 11:02] versdivers commented on #1251
Does someone know if this is already created also for magento 2?

[2016-04-06 11:37] witold-prucnel commented on #3905
Confirm, I have the same issue, fresh installation.

[2016-04-06 11:42] kayintveen commented on #3905
@sangatpedas I just did the same as you, pulled the recent from develop. And no solution for me. Categories, products all have a issue
Categories its the url key that already exists.
and products has issues with the media gallery

[2016-04-06 11:59] gplanchat commented on #3963
Same issue here, using PHP 7.0

[2016-04-06 12:31] gzchauhan opened #4028 "Rest APIs for Review and Wishlist"
I didn't get for rest api for review and wishlist add/get. Can you help me for this APIs?

[2016-04-06 12:31] janghwan commented on #3991
I think this issue is still valid because magento 2 is officially support php 7.

[2016-04-06 12:57] kuldeeps3 opened #4029 "Need an updated category list using REST API."
If we are getting product list with updated date then we can do that using "http://[domain]/rest/V1/products" with search filters defining updated_at field for some last updated hour or any time.

Here we need list updated categories which are updated in last hour or some specific time.

We have used this API "http://[domain]/rest/V1/categories" here we got category tree.
but when we apply any sea

[2016-04-06 13:00] kuldeeps3 opened #4030 "Need product list using store in search filter"
We need to get product list using store ID by Rest WebAPI.
We have a API : http://[domain]/rest/V1/store/storeConfigs here we got stores which we use in website.

Just like we can pass status or any other field in "http://[domain]/rest/V1/products" API search filters part to get products according to status.

here we need to get product list for multi stores using different store id.

Our question

[2016-04-06 13:08] anvanza opened #4031 "Meta Description & Keywords not escaped"
## Steps to reproduce
1. Create a product
2. Add a double quote in the "Meta Description" or in "Meta Keywords" field
3. Save the product
   <img width="942" alt="schermafbeelding 2016-04-06 om 14 59 33" src="https://cloud.githubusercontent.com/assets/2848347/14317468/bd4a850e-fc08-11e5-8798-095bf245bcb8.png">
## Expected result
1. The Meta Description en Meta keywords return an escaped text in th

[2016-04-06 13:41] gg24 opened #4032 "Security Message Issue in magento admin"Your web server is set up incorrectly and allows unauthorized access to sensitive files. Please contact your hosting provider.""
I am facing the issue "Your web server is set up incorrectly and allows unauthorized access to sensitive files. Please contact your hosting provider." in magento admin,
It not shown on my local system(Apache server), and not even on Apache server,but when we moove the code on AWS with nginx, this issue occurs, I think this issue is related to nginx configuration on server .Can Anybody give me sugg

[2016-04-06 13:44] PascalBrouwers opened #4033 "table not found error when changing Category URL Suffix when using database prefix"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Make sure to use database prefix like 'mage_'
3. Change value of Category URL Suffix in Configuration -> Catalog -> Search Engine Optimalization
## Expected result
1. configuration saved
## Actual result
1. Error message appears: "base table or view not found url_rewrite".

[2016-04-06 13:47] PascalBrouwers commented on #4033
Nevermind, already fixed in 2.0.4

[2016-04-06 13:47] #4033 closed, assigned to nobody

[2016-04-06 13:49] mrkhoa99 commented on #4032
@gg24 You check your files permission and ownership? http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-04-06 13:50] vancoz commented on #4032
Hi @gg24  please use http://magento.stackexchange.com/ for configuration or any other kinds of questions.

[2016-04-06 13:50] #4032 closed, assigned to nobody

[2016-04-06 14:08] ferxtr commented on #2695
Dear I have similar error, but I deleted var/cache, and not solve..

[2016-04-04 13:58:03 EDT] Job "maintenance_mode {"enable":true}" has been started
[2016-04-04 13:58:03 EDT] Magento maintenance mode is enabled.
[2016-04-04 13:58:03 EDT] Job "maintenance_mode {"enable":true}" has successfully completed
[2016-04-04 13:58:03 EDT] Job "update {"components":{"magento/module-grouped-product-sample-da

[2016-04-06 14:09] mazhalai commented on #4024
@alisamohanty did you previously install sample-data and now you are attempting to install without sample data? If so, please make sure to clean your browser cache, and local storage and try again.

Similar issue and solution here: https://github.com/magento/magento2/issues/2891#issuecomment-173349882

[2016-04-06 14:18] mazhalai commented on #2695
@ferxtr please do not post on closed issues.
Can you verify that your [crons](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html) are running as expected?

[2016-04-06 14:22] flipflap opened #4034 "Switch language and notification messages breaks backend"
## Steps to reproduce
1. Switch language to Switzerland de_CH
2. After the first notification apears, in my case update to 2.0.3
## Expected result
1. Magento should still work
## Actual result
1. Magento Logins still works, but after login backend is broaken.
2. http://magento.stackexchange.com/questions/108738/magento-2-update-2-0-3-note-in-backend-fail/108977#108977

It happen already the secon

[2016-04-06 14:24] moe-kayali commented on #4018
It seems that the issue is related to store view.

If you have the default store view **ONLY**, then the error won't be found and you will be redirected to the product page view, and it works fine.

But, if you add a new store view whether it's enabled or disabled, the issue will appear and the error will be found.

Hope this will make it easier for you guys to find out what is going on.

Thanks,

[2016-04-06 14:26] mazhalai commented on #2725
@CNanninga This issue has been fixed by the commits referenced above.
Thank you for reporting this problem, please feel free to open a new issue if problems persist.

[2016-04-06 14:26] #2725 closed, assigned to nobody

[2016-04-06 14:30] mazhalai commented on #4016
@ircsome so to recap, you deployed via `composer create-project`, installed Magneto2, and then attempted to curl details from an integration? Did you follow steps to [create and configure an integration](http://devdocs.magento.com/guides/v2.0/howdoi/webapi/integration.html)?

[2016-04-06 14:32] ferxtr commented on #2695
Dear Mazhalai, where crons I need to running ?

[2016-04-06 14:34] mazhalai commented on #4034
@flipflap did you try `bin/magento cache:flush`

[2016-04-06 14:38] flipflap commented on #4034
I can't say it for 100% sure, but I spent a whole day with deleting caches and folders and setting modes before I setup the whole magento again. So I think yes. I can't try it now again as I already started to setup magento again.

[2016-04-06 14:39] Omitri opened #4035 "Import custom options type 'file' fails"
## Steps to reproduce

Create a product with a custom option type 'file'
Export the product
Import the CSV-file
## Expected result

Product is imported.
## Actual result

Error message appears: 1. Value for 'type' sub attribute in 'custom_options' attribute contains incorrect value, acceptable values are: 'dropdown', 'checkbox' in rows: 1

[2016-04-06 14:41] mazhalai commented on #2695
@ferxtr Please see link posted in my comment: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

[2016-04-06 14:42] vancoz commented on #4025
Hi @adamzero1 we have published magento/updater project (current version is 10.0.0). This project preinstalled in "/update" folder because we would like to make installation easy and avoid one more step in installation process (installation of updater).

BTW, you do not need to recreate Magento project, you can just delete update folder and run "composer create-project magento/updater --repository

[2016-04-06 14:49] ferxtr commented on #2695
Dear, I have crons running ok..

[2016-04-06 14:57] wsagen commented on #3789
The checkout shipping method rates request is passing through the getEstimatedRates function which limits the fields available in the request.
The full address needs to be available for use cases like table rates that are configured down to city/town/suburb level, PO box address logic (as mentioned above), logic to calculate nearest dispatch point for rate calculation.
I don't believe the cart est

[2016-04-06 15:07] SerhiyShkolyarenko commented on #3966
@parekhreena, is it reproducible for you on the latest version? We tried php-7.0.5, ubuntu-15.04, latest Magento CE develop branch and latest sample data, but didn't reproduce this issue.

[2016-04-06 15:14] mazhalai commented on #4002
@blizam Thank you for reporting, but how did you realize that `iconv` is required? did something break without it?

[2016-04-06 15:14] ishakhsuvarov commented on #3948
@ragum Thank you for reporting.
Mini shopping cart is not designed to display "0" by default, only values greater then "0".

[2016-04-06 15:15] sevos1984 commented on #3943
Internal ticket MAGETWO-51416

[2016-04-06 15:16] ghost commented on #4016
Did you follow steps to create and configure an integration?

@mazhalai - yes.  I am using Token Based Authentication as suggested in [these instructions](http://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-token.html).

I am developing a php module to access product data via the rest api (see attached for a couple of functions from this).

My primary use of curl fr

[2016-04-06 15:18] nobuttsalex opened #4036 "Extension/Ups Helper Class ignoring translation files in other locations"
**Steps to reproduce**
I am trying to translate the name of a UPS shipping option, in this case "UPS Standard". The names of the shipping options are defined in app\code\Magento\Ups\Helper\Config.php. My locale is set to en_GB therefore if I create the file app\code\Magento\Ups\i18n\en_GB.csv with the contents
`
"UPS Standard","Next-Day"
`
the shipping option is translated as it should. However, t

[2016-04-06 15:24] shiftedreality commented on #3940
Hi @parekhreena

Thank you for submission. Created internal issue MAGETWO-51633 to resolve this bug.

[2016-04-06 15:26] AndreyChorniy commented on #3990
Hey guys.
Any news about it ?

[2016-04-06 15:29] sshrewz commented on #3988
Thanks for raising this question, @ktomk.  To confirm, the copyright changes have been verified with our Legal Department.

[2016-04-06 15:29] #3988 closed, assigned to nobody

[2016-04-06 15:38] moe-kayali opened #4037 "Adding product to compare doesn't work."
## Steps to reproduce
1. Install Magento 2.0.4 with sample data.
2. Add product to compare.
3. Navigate to the category page to be able to check the compare list.
## Expected result
1. Confirmation message "You added product X to the comparison list" should appear.
2. The product should be added to the compare list on the side menu under the layered navigation within the category page.
## Actual r

[2016-04-06 15:39] sevos1984 commented on #3572
@pantaoran later after release. I have nginx1.8.1 and php7.0.6-dev. I see you don't have bcmath extension that is required.

[2016-04-06 16:25] blizam commented on #4002
Yeah... I wished I'd saved the error...

It was something like:

Undefined constant ICONV_IMPL in /vendor/magento/framework/Stdlib/StringUtils.php on Line 160

[2016-04-06 16:28] hshar7 commented on #2056
@thomvanderboon I tried this out and it worked correctly for me on latest develop branch. This thread is getting too broad with translation issues and the original issue with $t is already fixed. I will close this now. Please open new issue with specific translation examples if you find any. Thank you guys for reporting this!

[2016-04-06 16:28] #2056 closed

[2016-04-06 16:28] mazhalai commented on #4002
@blizam thank you, we have created MAGETWO-51641 to fix this issue.

[2016-04-06 16:29] hshar7 commented on #3771
Hi @jaimestuardo I have tried translations with latest develop branch and I can say almost all phrases are translated. Could you please use develop branch and let us know if this issue persists? Otherwise we can close :)

[2016-04-06 16:32] hshar7 commented on #4029
Hi @kuldeeps3 have you had a chance to look at http://devdocs.magento.com/swagger/ ?

[2016-04-06 16:34] hshar7 commented on #4028
Hi @gzchauhan could you please provide more info on what you're trying to do? Having the rest call here would greatly help us, to help you :)
Meanwhile please take a look at http://devdocs.magento.com/swagger/ which contains all of our APIs and how to use them.

[2016-04-06 16:34] KrystynaKabannyk commented on #4023
The internal ticket is created MAGETWO-51642.

[2016-04-06 16:35] KrystynaKabannyk commented on #3486
The internal ticket is created MAGETWO-51640.

[2016-04-06 16:38] kuldeeps3 commented on #4029
@hshar7 , but according to this we can not get the list of updated categories.

[2016-04-06 16:43] KrystynaKabannyk commented on #2206
Internal ticket is created MAGETWO-51643.

[2016-04-06 16:47] tkacheva commented on #3987
Thanks @ktomk  for the idea!
will do this in the scope of CMS update - MAGETWO-51644

[2016-04-06 16:55] ktomk commented on #3988
@snohe; That's great to hear, but I can hardly imagine your legal department suggested to bump the copyright year w/o further modifications of the file.

In any case, and for me much more interesting, is, if you would consider the suggestion to not change each file as this causes erosion with the files and bloats the version history. Unfortunately you have not left any comment about that aspect al

[2016-04-06 17:00] ferxtr commented on #2695
I try to delete and work, but the problem not solved, again:

[2016-04-06 12:57:04 EDT] Job "update {"components":{"magento/module-bundle-sample-data":{"name":"magento/module-bundle-sample-data","version":"100.0.5"}}}" has been started
[2016-04-06 12:57:04 EDT] Starting composer update...

[2016-04-06 17:59] hudson1985 commented on #3934
I'm having the exact same issue

[2016-04-06 18:08] hshar7 commented on #4029
What do you mean updated category? Like the name or category attributes have been updated (category name, etc..)? Or do you mean a product has been put into the category?

[2016-04-06 18:38] mazhalai commented on #2695
@ferxtr any error in you cronlogs?

[2016-04-06 18:39] astorm commented on #4020
@alankent, I have a tremendous amount of respect for what you've helped build with the engineering team, and can only guess and wince at the myriad challenges, pivots, and conflicting priorities you must deal with everyday.

But this

is just wrong -- or wrong enough from certain important points of view. It also tips towards the worst sort of developer machismo.

It **is reasonable** to expect an

[2016-04-06 18:49] alankent commented on #4020
Hi Alan, point taken. And community feedback definitely does help us drive internal priorities - its always welcome. I have been experimenting with a simpler flow for development on GoDaddy nodes (blog coming soon). I have it working, but there are definitely gotchas that I want to iron out. I think there is a good solid dose of fixing some rough spots then simplify documentation accordingly.

[2016-04-06 18:59] sameasterling commented on #3545
For a workaround, multi select will allow you to uncheck the default.

[2016-04-06 19:15] parekhreena commented on #3940
@shiftedreality - Thank you !!

[2016-04-06 19:17] sameasterling commented on #3545
For a workaround you can use the multi-select. It comes in to your product unselected by default.

[2016-04-06 19:34] alankent commented on #3988
(I am not sure, so should probably keep my mouth shut, but I could well imagine there are automated scripts involved so a single character change triggers a new release, which triggers a new copyright version number. E.g. I found a number of modules that had the copyright symbol broken (bad UTF-8 encoding), so to make things safe legally it was fixed.)  But yes I understand the pain.

[2016-04-06 19:42] alisamohanty commented on #4024
after cleaning all cache. installation is not-completing , it stuck at 3%.
![ffffffff](https://cloud.githubusercontent.com/assets/18302927/14330300/974cd636-fc5d-11e5-9d7c-438bd60de20c.PNG)

[2016-04-06 19:54] adamzero1 commented on #4025
Hi @vancoz,

Thank you for your response, I feel I may not have explained why I felt this was an issue correctly, however as the package is already available on repo.magento.com I think this will solve the issue I am having. So thank you for that, much appreciated.

I am curious as to how I can't find any documentation about this package anywhere, along with the fact that the list of packages on r

[2016-04-06 19:57] mazhalai commented on #4024
@alisamohanty this is strange. Any error in `var/log`? Can you please turn on developer mode via cli `bin/magento deploy:mode:set developer` and try again? It might show you more detailed errors.

[2016-04-06 20:03] vancoz commented on #4025
Hi @adamzero1, you are right updater and Magento 2.0.x requires different composer version.
But you should not require updater and/or add it to your composer.json - Updater is separate project, and to update updater you need to delete "update" folder from root directory and "create-project" using composer, please use this command (in root dir):
composer create-project magento/updater --repository-

[2016-04-06 20:05] joshuaswarren commented on #4020
I just want to mention that we had someone who plans to be at the Docathon at Imagine this weekend mention wanting to help develop a better guide for the exact process you outlined, @astorm. Specifically, this process:

They mentioned to me that they've been running through this exact series of steps on some basic shared hosts and documenting all the trials, tribulations and workarounds.

I think

[2016-04-06 20:21] adamzero1 commented on #4025
Hi @vancoz,
Apologies, I must have misunderstood. I thought the goal of using composer was to allow people to better manage the version of magento they have along with any added extras such as the updater.

It seemed to make sense to me that I would be able to create a project that required a certain versions of both (along with any other packages I desire), making it easier for me to manage exact

[2016-04-06 20:40] vancoz commented on #4025
Hi @adamzero1 thank you for your intention to help, we really proud of our community and really appreciate it. Let me explain to you background: Updater can not be Magento requirement - because this is tool which runs "composer update" to update Magento code (base package, modules etc...). So Updater it will be part of Magento requirement - during "System Upgrade" Updater will try to delete old ve

[2016-04-06 20:42] jpreed2 commented on #3073
I have the same problem.  Specifically I need to remove the var/di directory after a compile or I get the described NOTICE.

[2016-04-06 21:14] adamzero1 commented on #4025
Hi @vancoz ,
I appreciate that having a module that tries to update itself may cause issues, but your point is conflicting.
"main responsibility of Updater is manage(install/update/uninstall) Magento components"
You state that the magento/updater is not a component of magento, that it is a kind of firmware. If that was true then there would be no issue as the updater would never try to update itse

[2016-04-06 21:43] vancoz commented on #4025
Hi @adamzero1 if we will have Updater as part of Magento requirements, that means that autoload files, vendor directory etc will be shared. So we would not be able to manage Magento dependencies and keep Updater safe from failure, that's why we need to keep Updater as separate project.

Regarding managing multiple instances - completely agree with you, I'm sure that we need to make easy procedure

[2016-04-06 21:47] AniAko opened #4039 "Page content is causing some kind of error"
## Steps to reproduce
1. Install Magento 2.0.2 or 2.0.4
2. Add a Content Page
3. Add values to all necessary required fields in order to save the page with the exception of the content
4. Using the WYSIWYG editor, copy and past this following text into the box.

`11.          SUBMISSIONS.  If Customer or any user sends, transmits, posts, e-mails or otherwise conveys to Tyndale, whether at our requ

[2016-04-06 21:47] jpreed2 commented on #2671
What is the permanent solution for this?  It doesn't seem manually clearing out directories after a compile is a good solution.

[2016-04-06 21:52] mazhalai commented on #2671
@jim5359 it is not clearing our directories after a compile. Rather, cleaning it out before a fresh install or upgrade. We are aware of this and it will be addressed in ticket MAGETWO-50955

[2016-04-06 21:58] jpreed2 commented on #2671
Oh, perhaps I need to open a new ticket then.  I'm seeing this issue whenever I run:
bin/magento setup:di:compile

After running this I have to clear the var/di directory or else I get the Notice.  I'm guessing it's related.

[2016-04-06 21:59] mazhalai commented on #2671
@jim5359 do you change code and then run compile?

[2016-04-06 22:03] jpreed2 commented on #2671
Yes, after changing code in my extension I then run compile.  Is this unnecessary?

[2016-04-06 22:04] mazhalai commented on #2671
Well, if you are changing code, you should be in developer mode, so then you dont have to run compile every time.

[2016-04-06 22:05] jpreed2 commented on #2671
Ah, good to know.  I just started building extensions.  I guess this is less of an issue if I don't have to run compile.  Thanks!

[2016-04-06 23:02] cedricblondeau commented on #2758
I faced the same problem and here are my 2 cents on this.

Setting an image attribute (constrain or frame) to false in XML file does not work because "false" is converted as a string by `Magento\Catalog\Helper\Image::init()` (https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Helper/Image.php#L179) and is passed to `Magento\Catalog\Model\Product\Image::setConstrainOnly()` (h

[2016-04-07 00:39] piotrekkaminski commented on #4020
Sign me up for that! Who is that someone?

[2016-04-07 00:52] yetket opened #4040 "Onepage checkout issue - address form section not always loaded."
I always have issues with checkout.
I have upgraded magento to version: 2.0.4

Steps to reproduce
1. add item(s) to cart,
2. click go to checkout.

The problem step.
The "Address Form“ section (left section) does not always loaded up properly.

The screenshot as below...

![mco](https://cloud.githubusercontent.com/assets/9208596/14337180/c9c78bdc-fcae-11e5-8063-97d00b872249.JPG)

[2016-04-07 02:39] vivekadvsol commented on #3605
I am also having similar problem "Error in deserializing body of reply message for operation 'catalogProductRepositoryV1Get' " magento version 2.0.4. How do i fix this? could someone please help with this.

[2016-04-07 02:52] cedricblondeau commented on #3573
Looks like it has been fixed on develop branch : https://github.com/magento/magento2/commit/53eb7b7569d378c879456cc7e83e85acd6ffadf4#diff-88b36d43a34dcd4d0d151453c13871b6

[2016-04-07 04:49] Deepthi57 commented on #3630
Hi, can i get an update on this issue. Issue persists even in 2.0.2 version

[2016-04-07 04:59] gzchauhan commented on #4028
i want to add product in wishlist using rest api, also add product review by customer using rest api. I try to find those APIs in given docs but didn't get.

[2016-04-07 05:18] shinethazhava commented on #3744
Hi @voleye
When i try your patch file also getting the same error.

[2016-04-07 05:44] gg24 commented on #4032
Our, IT team set file permission and ownership according the above threads, while facing the same issue.

[2016-04-07 05:49] karanbhomiagit commented on #2628
@davidalger , @choukalos : I see that the shipping address is coming as part of response json to /rest/V1/orders GET call. Any particular reason the shipping address is coming under the "extension_attributes" section? Given that the "billing_address" comes as a separate section itself, would "shipping_address" be moved to a separate section, or would it always be under "extension_attributes" secti

[2016-04-07 06:05] Vinai opened #4041 "Add service contract API to set system configuration values"
Before going through the work to create a PR, I wanted to ask if this feature maybe already is being developed internally.

More details:
Currently there is no service contract API to manage the system configuration in the `core_config_data` table.

I am aware of the `\Magento\Store\Api\StoreConfigManagerInterface` and `\Magento\Store\Api\Data\StoreConfigInterface`, but having a more generic inter

[2016-04-07 06:09] cytracon opened #4042 "Malware found"
Malware found?

/XXX/pub/static/adminhtml/Magento/backend/de_DE/js/bundle/bundle0.js: Html.Exploit.CVE_2015_6073-1 FOUND

[2016-04-07 06:10] marvincaspar commented on #3248
@ktomk Thank you for your fix.

Currently I'm not able to test this but I will try asap.

[2016-04-07 06:45] piotrekkaminski commented on #4042
Hey @cytracon can you give us more info? can you paste the contents of this file here or send to security@magento.com?

[2016-04-07 06:51] cytracon commented on #4042
Hi, file is too big. I just sent it to security@magento.com. Cheers, Bernard

[2016-04-07 06:58] xiaogang87 opened #4043 "Use REST API to create new product can't save product custom options"
## Steps to reproduce
1. POST a new product with custom options to "/rest/V1/products"
## Expected result
1. a new product with custom options
## Actual result
1. a new product without custom options
2. After I debug it, I found wrong code may exist in the save function of "\vendor\magento\module-catalog\Model\ProductRepository.php".

In line 565, get a null $productOptions
In line 585, set the ri

[2016-04-07 08:19] PascalBrouwers commented on #2854
Stil have this issue in 2.0.4

[2016-04-07 08:50] kayintveen commented on #3905
@sangatpedas Could you open this issue up again? Issue still not solved. and its a big one

[2016-04-07 08:53] sangatpedas commented on #3905
Re-opened on request of @kayintveen

[2016-04-07 08:59] nobuttsalex commented on #3960
@ishakhsuvarov I don't think it's possible to do what I want with the API, possibly a bug? I was writing the code using the API and got this far:

[code]

The code breaks at trying to create a ProductOptionExtensionInterface with the error

[code]

Should I raise this as an issue on here?

[2016-04-07 09:00] kayintveen commented on #3905
Many many thanks

[2016-04-07 09:01] jasonacres commented on #4026
any update on this

[2016-04-07 09:03] sevos1984 commented on #3990
Internal ticket MAGETWO-51660

[2016-04-07 09:29] nobuttsalex commented on #4036
Update: It does work by adding a translation file to app\code\MyExtensions\MyExtension\i18n\en_GB.csv so maybe theme translations only change templates and extension translations change all files such as Helper classes.

[2016-04-07 09:44] moe-kayali commented on #3572
The same weird behaviour as @sengaigibon mentioned, here on Magento 2.0.4.
How Reproducible: Always.

[2016-04-07 09:47] moe-kayali commented on #3423
I can see the same issue here on Magento 2.0.4.

How Reproducible: Always.

[2016-04-07 10:06] adragus-inviqa commented on #4041
Could you give us some examples of that?

[2016-04-07 11:07] arkadiych commented on #3800
@Deepthi57, looks like you use 3rd party module for your purposes.
Try to check, if it works without 3rd party module.
- Set up email settings for your web server;
- Verify that you can send and receive email using php function "mail";
- Check Stores->Configuration-> Advanced->System->Mail Sending Settings. Email Communication is enabled.
- Check Stores->Configuration-> Sales->Sales Emails->Order

[2016-04-07 12:37] jameswithers opened #4045 "Category view collection uses search collection, ignores store stock settings"
## Steps to reproduce
1. Build custom theme.
2. Add Products to Category in Admin Panel.
3. Set Manage Stock to No (site wide in the Store Configuration).
4. Visit Category page.
## Expected result
1. See list of Products on Category page.
## Actual result
1. Product collection SQL shows that it's looking for stock. It also shows that it's trying to join with search results :

[code]

Removing the

[2016-04-07 13:26] jaimestuardo opened #4046 "placeOrderAction does not set order with the default status according to configuration"
I have created a new payment method. In configuration interface, I have set that the default order status is Pending Payment as the screenshot shows, however, when I call this js function, the new order is created in Processing status.

[code]

![image](https://cloud.githubusercontent.com/assets/9195659/14352410/cc23b346-fcaa-11e5-8bbe-b3ba6b3fdc01.png)

[2016-04-07 13:27] jameswithers commented on #4045
On the search table being joined, it's caused by the following code in `CatalogSearch/etc/di.xml`:

[code]

This means the product list on a page is a search result Product collection, not a standard Product. collection. Overriding this in my own module `di.xml` solves this problem.

Stock is added because `\Magento\CatalogInventory\Model\Plugin::beforePrepareProductCollection()` does not check th

[2016-04-07 13:45] Bartlomiejsz opened #4047 "No default placeholder for swatch_image type"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add new type of image to view.xml, using swatch_image type
3. Add product without swatch_image
4. Use your new type of image somewhere on storefront
## Expected result
1. Swatch image placeholder should be visible as for other types of images
## Actual result
1. Error message appears: "Notice: getimagesize(): Read error!".
   ![201

[2016-04-07 14:03] sevos1984 commented on #4018
I've got the same error when storeview is disabled. Internal ticket MAGETWO-51679

[2016-04-07 14:15] jameswithers opened #4048 "Group associated products not showing"
## Steps to reproduce
1. Visit Grouped Product page
2. Manage Stock is set to No in Store Configuration
## Expected result
1. Show all Associated Products
## Actual result
1. No Associated Products are shown, as the collection has a stock filter added. Possibly related to https://github.com/magento/magento2/issues/4045.

When Manage Stock is set to No, why are stock filters still being applied?

[2016-04-07 14:23] katesuykovskaya opened #4049 "Fatal error when reorder order with 2 bundle products"
## Steps to reproduce

1.magento 2.0.2
2. create bundle product with 2 or more options and 1 non-required custom option
![bundle product without designer 2 details fixed price products inventory products magento admin](https://cloud.githubusercontent.com/assets/10142848/14354280/5f28b47c-fce5-11e5-95e3-e22e1b6031ce.png)
1. add this bundle product to cart twice. First time without checking custom o

[2016-04-07 14:42] jameswithers commented on #4048
The error is only rectified when the product is set to Manage Stock, then set back to Use Config. In `cataloginventory_stock_item` all stock items show out of stock, which causes them not to display. These should be set to is_in_stock, or Magento should not be checking, if the Store Configuration has Manage Stock set to No

[2016-04-07 15:51] zahmed-f3 opened #4052 "Not getting an error while trying to create shipment of already shipped item"
## Steps to reproduce
1. Install Magento version `2.0.4`.
2. Create an order with single item having quantity one like below:
   ![order](https://cloud.githubusercontent.com/assets/10192530/14357291/95eafb7a-fd01-11e5-9346-fb84c29c379a.jpg)
3. Create a Shipment via Rest API like below:
   POST: /rest/V1/shipment/
   `{
   "entity" : {
       "orderId" : 5,
       "items" : [{
               "order

[2016-04-07 16:28] safwkhan commented on #4042
@cytracon we have yet not received any email from you. From high level, it doesn't look like vulnerability in Magento application, please see this https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2015-6073. Looks like it a Microsoft Broswer issue, using which this malware was deployed in your system. Please see the work around here: https://technet.microsoft.com/library/security/ms15-113

If y

[2016-04-07 16:42] samtay opened #4053 "Cannot create full datetime product attribute"
It appears to be impossible to add a complete datetime attribute, one that saves both date and time. I've created the attributes with `backend_type => 'datetime'` and included custom `frontend_input_renderers` to get a calendar picker that has both date and time. Unfortunately, the time is always stripped off due to the hardcoded force for `datetime` attributes to be filtered by date. This occurs

[2016-04-07 17:03] astorm commented on #4020
@joshuaswarren Happy to jump in an IRC or Slack channel if I can find the time (and such a thing exists).  Send me the detail zero and ones in some form :)

[2016-04-07 17:26] adderall commented on #3887
I am having this problem also:

[code]

[2016-04-07 17:42] ktomk commented on #3988
Hi Alan, well then hopefully it's possible to conclude that this shouldn't be necessary. Btw copyright year is the one of first release. Last time I checked, that was 2015 for Magento 2 :) . Good herding for the scripts and have fun with the Hackathon in Vegas.

[2016-04-07 17:45] adderall commented on #3887
Now it works with:

`curl -X POST "http://v2.website.com/index.php/rest/V1/customers" -H "Content-Type:application/json" -H "Authorization: Bearer xhfyo8cfvknpyd5dwuupe34uosh6tuhj" -d '{"customer": { "email": "person@email.net", "firstname": "First", "lastname": "Last", "storeId": 1, "websiteId": 1 }}' | json_pp`

However, can somebody help me add the default address information into this request?

[2016-04-07 17:53] alankent commented on #3988
This is where you ask lawyers and they give an opinion. Each module is downloadable separately ("distributed" separately) so needs an independent copyright notice (and date). Each patch is a new "release" and so we bump the number. I am not a lawyer, but no point paying them for an opinion and then not following it. ;-)

But we definitely should avoid unnecessary little changes in patch branches t

[2016-04-07 18:04] paliarush commented on #3996
@sterfpaul Please provide more details on how to reproduce the issue. I was unable to reproduce it on the latest `develop` code base when followed these steps:
- Created second store view
- Created 2 orders in default store view, 1 order in new store view
- Copied request URL from your post, added base URL
- Added Authentication headers
- Performed request, everything works as expected
- When chan

[2016-04-07 18:37] esiemens opened #4054 "After Update from 2.0.2 to 2.0.4 all images are erased"
After updating magento 2.0.2 to 2.0.4 with no errors reported all images are deleted from my site.

[2016-04-07 18:56] Krapulat opened #4055 "Check Component Dependency when trying to update from 2.0.2 to 2.0.4"
Hello,

I'm trying to upgrade Magento from 2.0.2 to 2.0.4 and I get "We found conflicting component dependencies.".

I attach the screenshot with console.

![error-magento](https://cloud.githubusercontent.com/assets/4441564/14363120/eba245c2-fd02-11e5-8cd9-92c399b9a69b.jpg)

[2016-04-07 20:46] Vinai commented on #4041
Sure. For example, just a few days ago I would have liked to add a little command to `bin/magento` like

`bin/magento system:config:set system/full_page_cache/caching_application 2` (enable varnish FPC)
I also was looking for a way to set sandbox values for payment modules on an integration host in a similar fashion.

Another useful application is setting system config values in setup scripts, so

[2016-04-07 20:50] leonbrag opened #4056 "Magento 2.0.4"
I have exact issue as this: https://github.com/magento/magento2/issues/3783  on  Ubuntu 14.04.4

Is this still an open issue?
Is there a workaround?

thanks

[2016-04-07 20:56] mazhalai commented on #4056
How did you deploy 2.0.4? via git, composer or zip from magento.com?
This fix is in the develop branch, so if you deployed via git, it should work.

[2016-04-07 21:31] ktomk commented on #3988
Oh, I was not speaking against the notice in itself. Not at all. But bumping the year only because of a new release is most often done in mistake from what I've seen over the years. And I should as well not talking that much, but we normally pay lawyers not for one but for more than one opinion (: .

And great to see you in avoidance of unnecessary code erosion. Thank your for your support!

[2016-04-07 21:44] choukalos commented on #3999
Noted this could be related to internal issue - MAGETWO-50878 .

[2016-04-07 21:50] mikeweis commented on #4027
Thank you for submitting this bug. I have created internal ticket MAGETWO-51696 to track this issue.

[2016-04-07 22:02] mikeweis commented on #3832
Another thought is if your indexers are on schedule, as opposed to on update, then there will be a delay in seeing your changes.  To speed things along:  bin/magento indexer:reindex

[2016-04-07 22:03] mikeweis commented on #3952
(I just updated #3832 with a thought about indexers, if that helps)

[2016-04-07 22:06] cspruiell commented on #3999
Yes, this was fixed by MAGETWO-50878 and pushed to the develop branch.

[2016-04-07 22:06] #3999 closed, assigned to nobody

[2016-04-07 22:40] cedricblondeau commented on #2758
Please note that setting boolean attributes to 0 in XML does not work either because `Magento\Catalog\Helper\Image::setImageProperties()` uses empty PHP function to check if the value need to be set in the image model.
`empty(0)` evaluates to `true`, so the value won't be set.
I assume this must have been intentional.

Surprisingly, `Magento\Catalog\Model\Product\Image\Cache::processImageData()` m

[2016-04-07 22:46] MagePsycho opened #4057 "/rest/default/V1/carts/mine/shipping-information 404"
During checkout in Magento 2.0.2, I am getting 404 error for /rest/default/V1/carts/mine/shipping-information request and which doesn't let me go to Payment step.
Any idea about this issue?

[2016-04-07 23:18] jpreed2 commented on #3999
I just installed the latest develop branch and tested this functionality.  It's still not working.  It never opens an iFrame of my identity link url and my access logs show that URL is never hit.  I've verified I have the latest develop branch because I now see a "Current User Identity Verification" field which wasn't there before.

Does the callback have to return something in order for the ident

[2016-04-07 23:45] fhennessy opened #4058 "File not repopulating when editing/reordering products with custom option in cart"
- Create a product with a required custom option file field
- Upload a file, add to cart
- Edit cart, edit product with file
- Submit product
- Cart throws an error, saying that one or more required fields were not submitted (the file does not get resubmitted/repopulated)

-same thing happens when customer tries to reorder a product with a required custom option file field from their account

[2016-04-08 00:15] leonbrag commented on #4056
I have re-installed from GIT. Now I got this error:
Magento supports PHP 5.5.22 or later. However I am running it on
PHP Version 5.5.9-1ubuntu4.14

Is not my 5.5.9 higher then needed 5.5.22?

[2016-04-08 00:42] alankent commented on #4056
5.5.9 (note the "9") is lower than 5.5.22 (note the "22"). Yes, it's 22, not 2.2, so 5.5.9 is older than 5.5.22.  (And if you are serious about development, I would jump to 7.0.4.)

[2016-04-08 01:02] jpreed2 opened #4059 "Cart shipping methods not updating when address changed"
### Preconditions
Magento `develop` branch

## Steps to reproduce
1. Install Magento from `develop` branch.
2. Enable UPS shipping method via admin.
3. Add an item to your cart from the store front end.
4. Go to checkout.
5. Shipping methods show "Sorry, no quotes are available for this order at this time"
6. Enter an address.
## Expected result
1. The shipping methods should update and list rates

[2016-04-08 01:40] vancoz commented on #4055
Hi @Krapulat, can you please provide us your root composer.json file?

Also may you please run following commands:

[code]

and provide output of commands here?

Thank you!

[2016-04-08 01:46] vancoz commented on #4025
@adamzero1 do you feel that explanation is helpful and we can close the issue?

[2016-04-08 05:37] samtay opened #4060 "SearchCriteria too limited in AND/OR filtering"
From what I understand, filters are combined with an OR logic within a particular filter group, and filter groups are combined with AND logic within search criteria. This is unfortunately not listed in documentation, but is what users on stackoverflow have discovered.

This is very limiting. For example, it is **impossible to filter the product repository by two date intervals**: suppose I want to

[2016-04-08 05:49] MauroNigrele opened #4061 "ACL Error - Admin user can't change the attributes set"
A backend user with permissions to **edit products** but not **attributes set** can't select/change the attribute set of the product that is creating/editing, since the ajax call to `http://magentohost/admin/catalog/product/suggestAttributeSets/` returns a **403 Forbidden** due to insufficient permissions
## Steps to reproduce
1. Log as Admin
2. Create a new attribute set
3. Create a basic backend

[2016-04-08 06:16] devhn commented on #3965
Any news on this?

[2016-04-08 08:17] tdgroot commented on #3592
Ran into the same problem and did a bit of investigation.

It seems like the problem occurs in the file `vendor/magento/framework/Translate.php`.
Go to the method called `_loadModuleTranslation()`. You'll see 2 calls to `loadModuleTranslationByModulesList()`:
- `$this->loadModuleTranslationByModulesList($allModulesExceptCurrent);`
- `$this->loadModuleTranslationByModulesList([$currentModule]);`

W

[2016-04-08 08:40] sunilit42 commented on #770
is there any way to create field programically?

i want to add each payment one fee text box.

[2016-04-08 08:48] kuldeeps3 commented on #4029
@hshar7 , Updated category means that if we have updated any category and changed the category name.
So, We want a list of categories updated in last hour or any mentioned time.

This is our scenario.
Please let me know.

[2016-04-08 09:01] katesuykovskaya opened #4062 "Incorrect re-order when items has different values of custom option"
## Steps to reproduce
1. magento 2.0.2
2. create simple product with custom option, type=TextField
3. go to product page, add this product to cart twice, so there are 2 items in cart:
   3.1. with "test1" value in custom option
   3.2. with "test2" value in custom option
4. place order with authorization (to have ability to re-order)
   ![order 000000045](https://cloud.githubusercontent.com/assets

[2016-04-08 09:18] Krapulat commented on #4055
The code is "magento/project-community-edition:2.0.4" or "magento/product-community-edition:2.0.4" ?

The composer.json is:

[code]

And the output of the command:

[code]

[2016-04-08 09:33] undefined-olha commented on #3254
Hello, @chicgeek !
Thank you for your interest in Magento.
According to [W3C](https://www.w3.org/TR/html401/struct/text.html#h-9.3.1) it is forbidden to using block elements in `<p>` tag. Search block in your case is a `<div>` and browser "tries" to render it in the right way. Please use `htmlTag="div"` or any other valid tag for your purpose.

[2016-04-08 09:35] lexuanchien opened #4063 "zero amount being sent to paypal Payflow"
Hi.
i'm testing Magento 2 to upgarade my website from 1,9, but i have problem when paypal Payflow. Why zero amount being sent to paypal Payflow. Request to Paypal i received from debug.log below:

i have see on issues: https://github.com/magento/magento2/issues/3509 .  I tried different users to no avail. Does anyone have this working? Ideas?
[2016-04-08 09:26:12] main.DEBUG: array (
  'request' =

[2016-04-08 09:35] bgabrovsek opened #4064 "paypal does not work,"
My paypal stopped working.

I have added an paypal express account, but on the checkout page when I click "Continue to paypal", the rotating wheel appears and goes on forever.
I have tried on different browsers, OSs and even reinstalled Magento2 on a different domain, but the problem persists.

In the web console I get:

[code]

Please advise!

[2016-04-08 09:41] MomotenkoNatalia commented on #3254
@chicgeek Internal ticket was closed as "Not a bug". Feel free to reopen this issue If you have any additional comment.

[2016-04-08 09:41] #3254 closed, assigned to nobody

[2016-04-08 09:43] chicgeek commented on #3254
@olgalytvynenko @MomotenkoNatalia : Is there now going to be internal ticket raised for this to update both the docs and the M2 error which implies `p` is supported?

[2016-04-08 09:54] shiftedreality commented on #4039
Hi, @AniAko

CMS components were completely rewritten. Could you please try to reproduce your issue on latest develop branch?

[2016-04-08 10:17] Pundidas commented on #3963
I had the same issue.
Deleting `var/generation`, `var/cache` and `var/di` solved it for me.

[2016-04-08 10:41] vkublytskyi commented on #2926
Issue [already fixed](https://github.com/magento/magento2/commit/76968a8)

[2016-04-08 10:43] redboxmarcins commented on #3066
Completely agree here
in my opinion it is dangerous that \Magento\SalesSequence\Model\Sequence::getNextValue() is
relaying on $this->meta->getSequenceTable() being always populated.

\Magento\SalesSequence\Model\ResourceModel\Meta::loadByEntityTypeAndStore() is feeding data to \Magento\SalesSequence\Model\Manager

getSequence() method should throw Exception if meta is not found

[2016-04-08 10:52] katmoon commented on #2926
Closing the ticket as fixed.

[2016-04-08 10:52] #2926 closed, assigned to yaronish

[2016-04-08 11:08] redboxmarcins opened #4065 "Sequence meta tables not created if store created programatically"
If you create stores programatically - lets say you have some install script which is creating whole project structure - then sequence tables are not created causing issues like https://github.com/magento/magento2/issues/3066

Looks like sequence creator is listening on

[code]

which is thrown only in `Magento\Backend\Controller\Adminhtml\System\Store`

[code]

I believe those tables should be al

[2016-04-08 11:53] undefined-olha commented on #3254
@chicgeek, sorry, probably I was not clear enough. There is no problem in Magento and information on devdocs is correct. If you look in source of your page (in Chrome you can do it by pressing `ctr+U`) you will see something like this:

![magetwo-51319](https://cloud.githubusercontent.com/assets/15153675/14382632/e62d7ec8-fd97-11e5-9758-616886c7fa26.png)

So the block was rendered correctly. But p

[2016-04-08 12:16] thomvanderboon commented on #4064
I have same issue (rotating wheel) with pay.nl payment plugin..... nothing in the exception log

[2016-04-08 12:57] ghost opened #4067 "js-translation.json not populating properly from language package"
For example "Email address" in checkout billing address form is not added to `js-translation.json` although it exists in the language package.

Manually adding it to the generated file makes it appear in checkout.

Other sentences not added are for example "You can create an account after checkout.", "Go to Checkout", "View and edit cart", "Order Summary", "Ship To:" and "Item in Cart".

For some

[2016-04-08 13:01] adragus-inviqa opened #4068 "Please start using PHP 5.5's "::class" instead of plain strings as FQCNs"
## Steps to reproduce
1. Browse https://github.com/magento/magento2, and look for `::class`
## Expected result
1. Find something.
## Actual result
1. Found nothing.

Even recent commits use plain strings. It's PHP 5.5+. Come on. Is there a reason why you haven't moved to using `::class`already? The more you use strings, the harder the change. I suggest you start using them in 3... 2... 1.

[2016-04-08 13:30] vkublytskyi commented on #2365
This issue has been [resolved](https://github.com/magento/magento2/commit/099ed19fca140878d1e21884abb51ba0c6f3e609).

[2016-04-08 13:35] avbinoy opened #4069 "Magento 2.0.4 Installation is incomplete with sample data"
## Steps to reproduce
1. Downloaded (not cloned)  https://github.com/magento/magento2-sample-data to magento2-sample-data folder
2. Change directory to /opt/lampp/htdocs
3. Downloaded latest version of magento (2.0.4) from https://www.magentocommerce.com/download (bz2 format) and extracted to /opt/lampp/htdocs/magento2 folder. After that executed php -f magento2-sample-data/dev/tools/build-sample-

[2016-04-08 13:39] Igloczek commented on #3409
Problem still exist and fixing them by removing package from vendor is good only for local development / testing purposes.

It looks like somehow composer/magento ignore autoload of `registration.php`, because when we add manually record to `theme` table, everything works fine...

[2016-04-08 13:40] jameswithers commented on #4048
Using the Import tool to set stock levels imports the values, but they are not set in the `cataloginventory_stock_status` table unless you go into each simple associated product of a group and save it manually

[2016-04-08 13:44] #4069 closed, assigned to nobody

[2016-04-08 13:50] jameswithers commented on #4048
Setting `product_websites` populates the `cataloginventory_stock_status` table

[2016-04-08 13:54] mazhalai commented on #4069
@avbinoy Since you closed this issue, can you please post how this was resolved? So that others who encounter this same issue can fix it too.

[2016-04-08 14:05] paliarush commented on #3999
@jim5359 Please make sure you have popup windows allowed in your browser, they are usually blocked by default.

[2016-04-08 14:20] magenx commented on #3337
our magento 2 server installation script works 20 out of 20 without any glitch. if you experimenting or pre-installing or mixing software packages  then any setup will fail badly..

[2016-04-08 14:23] comprensys commented on #2412
This fix is taking far too long!

[2016-04-08 14:25] magenx commented on #4032
this is because apache is reading .htaccess files by default in magento root and other folders, when you switch to nginx you need to configure every deny rule properly. thats it.

[2016-04-08 14:37] vancoz commented on #4055
@Krapulat I'm sorry, it should be product not project. Can you please run again and provide output?

[2016-04-08 14:37] #4042 closed, assigned to nobody

[2016-04-08 14:43] Krapulat commented on #4055
@vancoz The output:

[code]

I've tried again and I still get "We found conflicting component dependencies."

[2016-04-08 14:48] vancoz commented on #4055
Thank you @Krapulat, base on this output (which seems like not completed) I do not see any conflicts in packages.
Can you run:

[code]

Login to admin and make sure your Magento version is 2.0.4 now (right bottom corner)?

Thank you.

[2016-04-08 14:50] Krapulat commented on #4055
@vancoz After running the setup:upgrade, I'm seeing Magento ver. 2.0.2.

[2016-04-08 14:53] Igloczek commented on #2797
@mazhalai @slavvka @davidalger @alankent
Could you provide some "estimated release version" info marking issue as resolved by your internal ticket ID, to let us know when it should be released?

I spend a lot of time trying to figure out if that fix was released or not and still have no idea...
Official release notes also don't contains any info about resolved github/internal issues, so how we can

[2016-04-08 14:53] vancoz commented on #4055
@Krapulat sorry again, it was --dry-run output.

Please run:

[code]

And please, check version again, also provide output logs in case of failure.

Thank you.

[2016-04-08 14:53] ppKrauss commented on #745
+1 for this request!

PS: [PostgreSQL 9.5 have JSON and JSONB mature support](http://www.postgresql.org/docs/current/static/functions-json.html), so not need other "noSQL" support.

[2016-04-08 14:58] mazhalai commented on #4002
@blizam Did you deploy Magento via a zip from magento.com?

[2016-04-08 15:02] ppKrauss commented on #745
@alankent, how to start a _"task force"_ to start this "Doctrine or direct SQL adaptations"?

PS: even if slowly, we, the interest-group, can start something... Even if very slowly, will be better to do nothing!  ;-)

[2016-04-08 15:08] mazhalai commented on #2797
@Igloczek the fix is in the develop branch, but it hasn't been added to a release yet.

The way to tell if a fix is in a release version:
- Open a file on Github and click "blame", for example in this case  see https://github.com/magento/magento2/blame/develop/app/code/Magento/Theme/Model/Theme/Registration.php
- Look for the ticket number on the left hand side: MAGETWO-47999
- Now click on "Norma

[2016-04-08 15:10] davidalger opened #4070 "Magento 2.0.4 DI Compilation Breaks CLI Tool"
## Steps to reproduce
1. Install Magento 2.0.4 from composer packages
2. Change application mode to: production
3. Run `bin/magento setup:di:compile-multi-tenant`
4. Attempt using the `bin/magento` tool
## Failure encountered

Any attempt to run `bin/magento` fails until one manually removes the `var/di/relations.ser` file generated by the compile-multi-tenant process:

[code]
## Detailed example

[2016-04-08 15:29] Igloczek commented on #2797
Don't you think this is a ridiculous "solution" for tracking issues status?

[2016-04-08 15:40] Krapulat commented on #4055
@vancoz The update was fine. But now I can't access to admin panel. I had 3 languages (each one in different domains).

Now the main domain and language (which is not english) redirects me to the english one. And If I try to access to admin via english domain, I get "Too many redirects".

[2016-04-08 15:46] vancoz commented on #4055
@Krapulat can you please try to clear cache and generation directories in /var ?

Also have question - how did you install additional languages? I can not see it in your composer.json dependencies.

[2016-04-08 15:54] Krapulat commented on #4055
@vancoz I've cleared the cache and the /var directories and the same problem.

I installed the languages using magento i18n:pack

[2016-04-08 16:08] Krapulat commented on #4055
@vancoz And composer.json in root directory it shows:

[code]

Is it normal?

[2016-04-08 16:20] mazhalai commented on #2797
@Igloczek sorry we cannot share access to our internal tracking.

[2016-04-08 16:29] Igloczek commented on #2797
How about Github milestones and referencing Github issues in commit messages?

[2016-04-08 16:29] heldchen commented on #2797
@mazhalai can you at least shed some light on when the patch might make it into an official release? according to this ticket this bug was fixed mid january - since then 4 release versions happened...

[2016-04-08 16:36] mazhalai commented on #2797
@Igloczek yes I apologize for the Github issue in the commit message, but we do not track Github milestones in tickets.

@heldchen It was fixed in mid Feb and contributed in Mar, not Jan.  @elenleonova any comment on next patch release date?

[2016-04-08 16:54] saderra opened #4071 "Added-to-cart message appears on all pages."
## Steps to reproduce
- Installed a brand new digital ocean box with 2.0.4 / Ubuntu
- Switched to Blank Theme
- Added a simple product for testing
## Expected result
- Added the product to my cart once from the category page. Green notice of added to cart showed up.
## Actual result
- Any page viewed after this shows the same added-to-cart message, even the account pages.
- The issue also existed

[2016-04-08 17:09] AddoSolutions commented on #2813
+1

[2016-04-08 17:23] archetypeworks commented on #1319
how can I change file name jquery-cookie.js insted jquery.cookie.js in magento 2 (CE)
can you please explain setp by step.

I have changed here bellow but till now jquery.cookie.js  called insted jquery-cookie.js and given 404 error.

<magento root>\dev\tests\js\JsTestDriver\jsTestDriverOrder.php (1 hit)
    Line 18:     '/lib/web/jquery/jquery.cookie.js',
  <magento root>\dev\tests\js\JsTestDrive

[2016-04-08 18:06] jpreed2 commented on #3999
Ok, I disabled popup blocker and I got the popup.  As you stated, popups are usually blocked by default.  So shouldn't there be instructions that tell the user to disable their popup blocker before continuing?  Also, popups are not blocked if they are a direct result of user input.  So perhaps after calling the callback you could provide a link for the user to authenticate on their 3rd party syste

[2016-04-08 18:09] Vinai commented on #4068
:100:

[2016-04-08 18:34] choukalos commented on #3449
This fix is in review and will be merged to mainline soon; it's slated to be patched back into 2.0.x in an upcoming patch release.

[2016-04-08 19:18] aaronsturm commented on #2999
@alankent - After some testing, I found out that if I leave the Magento files in the container, and then only mount the folders I need from my machine, I can get it down to 18 seconds vs 5+ minutes. It's still not ideal, but way better than it was. Before I had the Magento files on my machine. I hope that makes sense. If you have any additional suggestions, do let me know! Thanks!

[2016-04-08 19:44] cspruiell commented on #2463
Can you confirm where in the admin panel you are seeing the error? In our current develop branch I am able to edit any configuration under Content -> Configuration and successfully update any of the available logos.

[2016-04-08 19:51] mazhalai commented on #3693
@astorm @erikhansen, I had trouble reproducing this issue, and it looks like this issue has been fixed in scope of another task. Please see https://github.com/magento/magento2/commit/aea3bd163ae8b25ab071b6a871167dec96bbeb62

Can you please verify? Will make the list of files easier to read in scope of this task.

[2016-04-08 20:01] alankent commented on #2999
@aaronsturm Yes, its the "vboxfs" in Virtual box that is a dog. I mount a subset like you say (but it rules out grunt/gulp file watching), or use fswatch/WinSCP-keep-up-to-date to copy inside the container, or more recently NFS/CIFS mount the drive via Samba (latest variation). http://alankent.me/gsd lists a few options I have tried.

[2016-04-08 20:16] erikhansen commented on #3693
@mazhalai At a glance, the code in that commit looks like it will display the files whose permissions are problematic, so as far as I'm concerned, you can close this ticket.

[2016-04-08 20:23] ghost commented on #4039
I'm seeing the same error. Don't need to paste anything into the box - just hitting either of the Save buttons throws the same error. Using 2.0.4.

[2016-04-08 20:31] jpreed2 commented on #4059
Note, a related issue on the current 2.0.4 release:  I installed my module that provides custom shipping methods and rates.  As long as I have one of the built in Magento shipping methods enabled (such as flat rate) then the Ajax calls work fine.  Changing the zip code triggers the Ajax call to to update the shipping methods and rates, as expected.  But if I have all the built in Magento shipping

[2016-04-08 20:33] blizam commented on #4002
Yes

[2016-04-08 20:36] JDavidVR commented on #2924
I'm havign performace problem too, when I enable profiler, loading magento takes like 35 secs, matching the routes another 15 sec, laoding layout 20 secs.

Is there any aditional configuration?

I'm using php 5.6.11, mysql 5.6.25, apache 2.4.17

[2016-04-08 20:36] mazhalai commented on #4002
@blizam thanks for confirming. In that case, MAGETWO-51369 has already fixed this issue.  Documentation will be fixed in MAGETWO-51641

[2016-04-08 20:38] jhon-wagento commented on #2924
+1 any tips are welcomed.. same configurations.. just on a LAMP environment

[2016-04-08 20:39] aaronsturm commented on #2999
Ok, I'll look into those. I didn't have these issues with Magento 1. I know it's different, just letting you know for a comparison.

[2016-04-08 20:43] dsikkema-magento commented on #4070
created internal ticket MAGETWO-51699

[2016-04-08 20:43] dsikkema-magento commented on #4070
@davidalger what's your php version? And do you get the same issue when running single-tenant compiler?

[2016-04-08 20:48] alankent commented on #2999
I suspect (I should go measure it) that M2 has more smaller files. Larger coarse grain files made it hard to decouple modules, which in turn makes upgrades a bigger effort in M1. That is where extension conflicts etc come from. M2 with one module per package sometimes means you have to get configuration from lots of locations on disk during development (we merge the smaller files in production mod

[2016-04-08 21:03] alankent commented on #2924
For Less files, I strongly recommend looking at Gulp - e.g. https://github.com/SnowdogApps/magento2-frontools. Much faster. I have a few different development approaches listed at http://alankent.me/gsd which have different pros and cons. We are looking to reduce this to "one approach to rule them all" (also known as a "default recommendation").

[2016-04-08 21:05] Vinai commented on #4070
Seems related, and might be an easy way to reproduce:

[code]

[2016-04-08 21:07] alankent commented on #4070
Could you try 7.0.4? There are reports of something breaking with 7.0.5. Not sure who's fault, but 7.0.5 is behaving differently in a way that impacts Magento.

[2016-04-08 21:09] aaronsturm commented on #2999
:+1: That makes sense, and I appreciate your educated theory. Hopefully with the upcoming native Docker client this won't be an issue any more (no more VirtualBox!). I'm going to call this "fixed" on my end.

[2016-04-09 00:15] jaimestuardo opened #4072 "<!--@subject Your {{var store.getFrontendName()}} order confirmation @--> is not translated"
It is impossible at the moment to translate that message into Spanish. I think this problem exists in all other templates:

This is at order_new.html template.

That message cannot be translated using the CSV file.

[2016-04-09 00:23] davidalger commented on #4070
The version I'm running is indeed 7.0.5. @alankent do you know off-hand what RPM I can use to install 7.0.4 readily? The stack setups I'm doing are using remi, which does not have the old versions present yet. I'll see what I can do to test this in 7.0.4

[2016-04-09 00:25] davidalger commented on #4070
@dsikkema The single-tenant compiler is broken such that the CLI tool will not work. There is an open issue here on GH for that already I believe, and is an error something to do with the area preferences.