[2018-07-05 14:08] lano-vargas commented on #16558
@engcom-backlog-nickolas  Apologies for the early issue report I was given a tour from the customer team as refund issue. after further investigation and disabling all extra module extension it seens to be working fine I just need the customer team to confirm and then I will find out which module is causing this issue. I'll update here. thank for the video appreciate.

Regards!.

[2018-07-05 14:17] rtplvaibhav commented on #16288
Hi Engcom,

Please find answers to your question below
1) How many websites do you have? ---- 3

2) If more than one, Mentioned products assigned to one website or to many, and they are out of stock on all websites, or just on additionals? ---- Product assigned to all website and are in stock. Actually all were in stock before upgrading but just after upgrading and reindexing it started showing as

[2018-07-05 14:22] jfain189 commented on #7441
I figured it out. You have to change your website to developer mode then switch it back to production. Once I did that I was able to control the configurable values.

[2018-07-05 14:32] middlegrey commented on #15557
The issue relates to https://github.com/magento/magento2/issues/12330

The following temporary solution suggested by @domeglic seems to fix the problem

- INSERT IGNORE INTO catalog_product_relation SELECT parent_product_id,product_id FROM catalog_product_bundle_selection
- Reindex stock and price indexes

[2018-07-05 14:35] maksymcherevko commented on #11314
Hi,

Magento CLI version 2.2.4
Issue still present.

[2018-07-05 14:41] maderlock commented on #14952
@paul-blundell Don't hold your breath. This is obviously a change of direction in order to monetise Magento. They've got to do it some how, and we as a community keep on creating extensions that make the enterprise features seem a little minimal for the fee.

In the meantime, it looks like the https://github.com/sashas777/bug-from-email module has been updated to allow the module to run in 2.2.5.

[2018-07-05 14:42] engcom-backlog-nickolas commented on #16558
@lano-vargas, thank you for feedback. I'm closing this issue, if you don't mind, until update. Feel free to reopen it if needed.

Best regards!

[2018-07-05 14:42] #16558 closed, assigned to nobody

[2018-07-05 14:46] mohsengit opened #16565 "2.2.3 to 2.2.5 Product Import- Stock on "Please wait""
**### Preconditions**
1.  Magento 2.2.3 - 2.2.5 (I have both versions on 2 different sites)

**### Steps to reproduce**
1.  Trying to import a CSV (Correctly Formatted)

**### Expected result**
1. It Should finish checking the data (Either Successfully or show the errors about the CSV)

**### Actual result**
1. I found the following errors (While the backend says "Please wait" forever

[03-Jul-201

[2018-07-05 14:46] magento-engcom-team commented on #16565
Hi @mohsengit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-05 14:59] engcom-backlog-pb commented on #16073
@leoquijano, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-05 15:01] engcom-backlog-nickolas commented on #16288
@rtplvaibhav, thanks for feedback. Unfortunately I'm not able to reproduce this issue in multi-website environment with gradual update through versions too. And until this issue will be reproducible on clean magento instance with clear steps, we cannot fix it. If you have any additional information, feel free to reopen this issue, and I'll try to reproduce it with new details.

[2018-07-05 15:01] #16288 closed, assigned to nobody

[2018-07-05 15:02] kanduvisla commented on #7778
Although #11721 status that this issue is fixed in 2.2 (haven't tested this yet), I temporarily fixed this in a Magento 2.1 shop by adding an interceptor before `\Magento\Customer\Block\Widget\Dob::setDate()`:

    public function __construct(
        \Magento\Framework\Stdlib\DateTime\TimezoneInterface $timezone
    ) {
        $this->timezone = $timezone;
    }

    public function beforeSetDate

[2018-07-05 15:10] AdminLinenStore commented on #16221
@engcom-backlog-nazar , Thank you for your reply. I still don't understand what do you meant by create own tax class? I have product tax class set for non-taxable product as "None" but what I am having an issue with is a shipping tax class is being calculated when only non-taxable item is in cart as Tax Class for Shipping can either be set for None or Taxable one way or another. In may case, shipp

[2018-07-05 15:38] EmilyPepperman commented on #8059
Issue is there in Magento 2.2.5 !!!!

[2018-07-05 16:15] dan-ding commented on #7931
@orlangur I can't put a vanilla magento 2 installation into production.
What is a different story? I constantly see this error on client sites and I am more than sure it comes from (or is connected to) the above code.

[2018-07-05 16:19] zetlen commented on #13685
That's right! I'm just stating on this thread our requirements for such a PR to merge. Thanks!

[2018-07-05 16:44] buskamuza commented on #15441
Hi @fooman , please run https://github.com/magento/magento2/blob/2.3-develop/dev/tools/UpgradeScripts/pre_composer_update_2.3.php before `composer update` during upgrade process.
We know about this issue and are working on the docs and blog post on this (not ready yet).
Sorry for the confusion.

[2018-07-05 16:47] dan-ding commented on #7931
@orlangur you can do this however with any magento 2 site:
use firefox
disable localstorage (about:config dom.storage.enabled == false)

browse around the catalog
while on a product listing page, identify a product that really is interesting to you.
open the product detail page in a new window/tab.
decide the product isn't for you and close the product detail window/tab
browse around some more.
on

[2018-07-05 16:55] magento-engcom-team commented on #16378
Hi @mohitka. Thank you for your report.
The issue has been fixed in magento/magento2#16521 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [386438dcec0f260fb7135332bbb6eb5f03190d6c](https://github.com/magento/magento2/commit/386438dcec0f260fb7135332bbb6eb5f03190d6c)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-05 16:55] magento-engcom-team commented on #15940
Hi @Stepa4man. Thank you for your report.
The issue has been fixed in magento/magento2#16492 by @michaelwylde in 2.3-develop branch
Related commit(s):
 - [2482579d2dc137c52b5902fbd20fc088acfb7fc7](https://github.com/magento/magento2/commit/2482579d2dc137c52b5902fbd20fc088acfb7fc7)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-05 17:36] alfonso-eusebio commented on #12426
Hi,

I'm struggling in this area as well.
As far as I can see, at least in some places, Magento uses the configurable/parent product's MSRP value, and not the child products'. However, you can't configure an MSRP for the parent product once it has associated products (children).

If in M2 configurable product pricing should be managed at the child product level, then all the internal logic should

[2018-07-05 18:40] nbennett25 opened #16567 "Shipping grid link redirecting to wrong Module name"
### Preconditions

1. Magento 2.1.7
2. PHP 7.0.3

### Steps to reproduce
1. Log in to admin
2. Click on Sales > Shipments
3. Select shipment record

### Expected result
1. Link to /sales/shipment/view/shipment_id/[id] shows shipment record

### Actual result
1. Magento 404

I tracked this down to `Mage\Sales\Controller\Adminhtml\AbstractShipment\View` line 49 - changing the `->setModule('admin')`

[2018-07-05 18:41] magento-engcom-team commented on #16567
Hi @nbennett25. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-05 19:15] dan-ding opened #16568 "local/session storage is mismanaged, particularly when it doesn't exist"
Essentially, users carts will disappear or they won't be able to login, or they'll be logged out or some other session related wackyiness.

creating here from https://github.com/magento/magento2/issues/7931 as @orlangur said to make a new one

There are multiple reasons why this is occurring -- the follow is the first way I've found to recreate an a problem easily.

https://github.com/julien-maure

[2018-07-05 19:15] magento-engcom-team commented on #16568
Hi @dan-ding. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-05 19:39] dan-ding commented on #16568
ya, any version of magento should do. start with 2.2.0!

[2018-07-05 20:55] SaintLuticriss commented on #16191
Well, surprise, surprise: This seems to have been a simple oversight on my part. :sweat_smile:

In case someone, somewhere, somehow hits a similar problem: here is something to check quickly.

### The Issue
My [custom] .htaccess file [in the root directory] was trying to enforce "HTTP**S**" while my [freshly] re-installed Magento's base URLs were set with "HTTP" at the beginning (the default setti

[2018-07-05 20:55] #16191 closed, assigned to nobody

[2018-07-05 21:02] Hawkmoon72 commented on #5364
This has just started happening to me after upgrading from Magento 2.2.3 to 2.2.5.    Have never had this happen before - and no tier prices in on our in development site.  Also happened when upgrading on a copy of the site too.  Have tried many of the workarounds published here and elsewhere - nothing seems to work.

[2018-07-05 21:42] chrom commented on #14018
It's may by retailed with NewRelicReporting configuration, in my trace i see too NewRelicReporting:

`
        Exception: Notice: Undefined index: websites in vendor/magento/module-config/App/Config/Type/System.php on line 248 in vendor/magento/framework/App/ErrorHandler.php:61
        Stack trace:
        #0 vendor/magento/module-config/App/Config/Type/System.php(248): Magento\Framework\App\Error

[2018-07-05 22:22] sindrepm commented on #15122
I am seeing this as well. Is it a confirmed bug or should it be doing this? I don't really see any reason why cron should be creating sessions.

[2018-07-05 23:55] Zyles opened #16572 "Trim whitespace on SKU when saving product"
### Preconditions

Magento 2.2

### Steps to reproduce

Save or update product in admin with a space at beginning or end.

### Expected result

Trim excessive whitespace at beginning and end of SKU

### Actual result

Whitespace SKU saved in DB.

### The actual problem

When you accidentally save a product with whitespaced SKUs it can become a future problem when syncing data, importing images, or

[2018-07-05 23:55] magento-engcom-team commented on #16572
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-05 23:57] Zyles commented on #16314
Ok I also solved it with `!important` spam in my CSS files.

[2018-07-06 01:37] dankoz51 commented on #14667
Ok so this issue is simply how the loader is designed, I have outlined why this is in the blog post. [https://xumulus.com/kill-the-loader-how-to-improve-your-magento-2-product-page-load-time/](https://xumulus.com/kill-the-loader-how-to-improve-your-magento-2-product-page-load-time/)

[2018-07-06 01:41] uk28881785 commented on #14667
Which Magento mode are you using? This could also have an effect....

[2018-07-06 01:53] rishabhchd19 commented on #14952
YES, it is confirmed that problem resolved by disabling Amazon Payment.

[2018-07-06 01:54] rishabhchd19 commented on #16355
Resolved Problem Disabling AMAZON PAYMENT.

[2018-07-06 02:50] buituanbg commented on #13952
@magento-engcom-team I got the same issue too. The quote is same ID but it created 5 orders today. So I appreciate any updates for this.

[2018-07-06 03:49] Jacob-Wilsons commented on #16231
I have exactly the same symptoms in magento 2.2.5

I'm not sure, if this issue is related to magento2-gmailsmtpapp extension or to magento core files

Preconditions
magento 2.2.5
magento2-gmailsmtpapp

Steps to reproduce

Upgraded magento to 2.2.5
Check Stores-> Advanced -> System -> Gmail/Google Apps SMTP Pro, all configurations are ok.
Click "Send test email", can receive test mail correctly.
Ca

[2018-07-06 05:43] mohitka commented on #16378
Thanks, @hitesh-wagento for fixing and @magento-engcom-team for the update.

[2018-07-06 05:48] DennisxCore opened #16574 "Catalog price rules not working Magento 2.2.4"
**Preconditions**
Magento v2.2.4
PHP 7.0.30 running on Plesk Server

**Steps to reproduce**
![reproduce1](https://user-images.githubusercontent.com/39742004/42361846-a771b2c4-80f0-11e8-959b-7eb9ff685b1c.JPG)
![reproduce2](https://user-images.githubusercontent.com/39742004/42361847-a78c7276-80f0-11e8-87ea-7b6e5e08b0d0.JPG)

My User is "Wholesale".

**Expected result**
Normally it should do -20% on

[2018-07-06 05:48] magento-engcom-team commented on #16574
Hi @DennisxCore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-06 05:59] DennisxCore commented on #16574
yes

[2018-07-06 06:14] engcom-backlog-nazar commented on #15979
Hi @CROSP Seems the problem in your magento, with clean install not have an error , do you provide more detail information to reproduce steps? I cannot reproduce with yours scenarios.

[2018-07-06 06:38] wclshashank opened #16575 "Amzone email issue magento2.2.4"
I am getting the issue through Amazon Pay. The issue is: After making an order getting mail from server name. Actually, need to get from admin configuration.
While I'll disable Amazon module issue resolved.
using php bin/magento module:disable Amazon_Core Amazon_Login  Amazon_Payment Aheadworks_Blog
And after this email sender is according to configuration.
Can anyone help on thisn?

Thanks,
shash

[2018-07-06 06:39] magento-engcom-team commented on #16575
Hi @wclshashank. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-06 06:50] orlangur commented on #16568
@dan-ding,

This is not a valid case. Additional safeguard should be added probably similar to the one appearing when JavaScript is disabled.

[2018-07-06 06:52] engcom-backlog-nazar commented on #15984
Hi @AF4Q  I cannot reproduce by your scenarious steps  in clean magento , can you provide more information ?

[2018-07-06 07:18] katmoon commented on #13229
Persistent shopping cart cookie is created only for a registered user. The cookie contains non-sensitive information and will be used when the user logs off or the session cookie expires.

[2018-07-06 07:21] GuiltyNL commented on #13229
Well it doesn't make sense to make this option available for registered users only. It should also work for guest users with an expiring session cookie.

[2018-07-06 07:23] hanzels opened #16578 "Magento 2.2.3 add to cart button hangs in keep adding"
I am new here and now a little about Magento. We currently run a Magento 2 Store with the Porto theme from Smartwave.

We use the TIG PostNL extension for shipping. After the latest update of this extension the add to cart button doesn't work anymore. The nice people at TIG checked it and said nothing is disturbing the process.

In the log files I found: [06-Jul-2018 05:30:15 UTC] PHP Fatal error:

[2018-07-06 07:23] magento-engcom-team commented on #16578
Hi @hanzels. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-06 07:32] orlangur commented on #16578
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

In your case `Smartwave_Dailydeals` module is causing the trouble.

[2018-07-06 07:32] #16578 closed, assigned to nobody

[2018-07-06 07:35] engcom-backlog-nickolas commented on #16572
Hello @Zyles, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 07:36] hanzels commented on #16578
Hi Orlangur,

Thanks for your reply.
Smartwave support says it also happens when the template is disabled.

I contacted them again and still waiting for an answer.

Any tips in narrowing down the issue?

Your advise is highly apreciated.

Thanks and warm regards,

Hans

[2018-07-06 07:39] orlangur commented on #16575
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

Amazon Pay module resides here: https://github.com/amzn/amazon-payments-magento-2-plugin

[2018-07-06 07:39] #16575 closed, assigned to nobody

[2018-07-06 07:43] engcom-backlog-nazar commented on #15958
HI @BenSpace48  thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sou

[2018-07-06 07:44] orlangur commented on #16578
@hanzels try disabling their module and check how it works. There could be another fatal but with different stack trace, not in this module, after that.

[2018-07-06 07:46] sanganinamrata commented on #16188
@xpoback This solution [Fix](https://github.com/magento/magento2/commit/a6f146cd9302fbbb6305df9613c7ce3eea7a05ae) works for Secure domain only.

[2018-07-06 07:48] ishakhsuvarov commented on #14018
@chrom Unfortunately this stack trace doesn't seem to be indicating the problem. It would be great if you included steps to reproduce and preconditions as well.

[2018-07-06 07:49] sanganinamrata commented on #15434
@dankhrapiyush @jignesh-baldha  Hello,

 I confirm the [Fix](https://github.com/magento/magento2/commit/a6f146cd9302fbbb6305df9613c7ce3eea7a05ae) provided by @xpoback is working for secure domain. (Issue still exists for an **Unsecured domain**.)

Thanks

[2018-07-06 07:49] ishakhsuvarov commented on #13264
Hi @cphl91
Closing this ticket now, as Customer entity does not have a predefined ID, therefore setting ID would not allow to create entity.

[2018-07-06 07:49] #13264 closed, assigned to willtran, zolat

[2018-07-06 07:51] attiquer commented on #13254
Same problem with Magento 2.2.4, I was able to create a configurable product with around 5000 variations but not anymore. Does it have to do with the increased size of db (150M), Now it won't even let me edit a prduct with 2000 variations (gatway times out after 15 mins).

Urgent issue I would say as this is fundamental of having an ecommerce store!

[2018-07-06 07:56] erfanimani commented on #2529
Indexing the items in the array as `0`, and `1` is a nice workaround in developer mode (in Magento 2.1.), it fails on production though: https://github.com/magento/magento2/issues/8803

[2018-07-06 07:57] ishakhsuvarov commented on #12776
@sanganinamrata @atishgoswami
According to https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/pinnedTabs/pinnedTabs.html this indeed seems to be an issue in validation.

[2018-07-06 07:59] engcom-backlog-pb commented on #16092
@flipflap, thank you for your report.
Unfortunately, this is not a bug, this is a feature of the search realization in Magento 2. We cannot change it because it will break compatibility with some supported databases.

[2018-07-06 07:59] #16092 closed, assigned to nobody

[2018-07-06 08:00] engcom-backlog-nickolas commented on #16567
@nbennett25, thank you for your report. Unfortunately I cannot reproduce this issue.
![peek 2018-07-06 10-53](https://user-images.githubusercontent.com/40755810/42366770-b9ed9d2c-810a-11e8-82f0-f3beb1299393.gif)
Could you please correct my steps?

[2018-07-06 08:01] magento-engcom-team commented on #12069
Hi @EdenCoder. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/76

[2018-07-06 08:01] #12069 closed, assigned to nobody

[2018-07-06 08:03] hanzels commented on #16578
Hi Orlangur,

That is what is frustrating. We don't use it and it is disabled.
Somehow it still throws errors.

If you need anything to take a deeper look, let me know.

[2018-07-06 08:12] orlangur commented on #16578
@hanzels disabled module does not affect application normally after you flush the caches. Try removing it physically then.

[2018-07-06 08:14] BenSpace48 commented on #15958
I believe this is a bug hence why I am raising it here, when users create a recently viewed widget there should not be admin files loading on the front-end. Recently viewed is also available in open source isn't it?

[2018-07-06 08:15] hanzels commented on #16578
@orlangur I considered it but am realy scared that I completely ruin the theme beyond fixable.
And the other thing is, that I don't know how to remove it. Never did this...

[2018-07-06 08:16] engcom-backlog-nazar commented on #15972
HI @hostep  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 08:16] BenSpace48 commented on #15958
@engcom-backlog-nazar if you refuse to resolve the issue can you at least explain why admin files are loading on the front-end?

[2018-07-06 08:23] engcom-backlog-pb commented on #16016
@nikidexa , thank you for your report.
"Payment method" Cart Price Rule condition is removed in actual Magento 2 versions.

[2018-07-06 08:23] #16016 closed, assigned to nobody

[2018-07-06 08:27] #16013 closed, assigned to nobody

[2018-07-06 08:28] Karlasa opened #16580 "Product gallery caption issue"
### Preconditions
Magento 2.2.5

### Steps to reproduce
1.  Add product images.
2.  change gallery caption to false under theme/etc/view.xml (Blank Theme is false by default)
3. Go to product page

### Expected result

1. Gallery is not showing product name as caption

### Actual result

1. Gallery is showing product name as caption

[2018-07-06 08:28] magento-engcom-team commented on #16580
Hi @Karlasa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-06 08:36] Karlasa commented on #16580
@magento-engcom-team give me 2.2.5 instance

[2018-07-06 08:36] magento-engcom-team commented on #16580
Hi @Karlasa. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-06 08:36] magento-engcom-team commented on #16580
Hi @Karlasa, here is your [Magento instance](https://i-16580-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16580-2-2-5.engcom.dev.magento.com/admin](https://i-16580-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-06 08:40] versdivers commented on #15509
Know that since the update the product page has its own breadcrumbs :

`vendor/magento/module-catalog/view/frontend/templates/product/breadcrumbs.phtml`

[2018-07-06 08:43] TreyTaylor1997 commented on #16013
@engcom-backlog-pb  which it is - the core issue is that base install of Magento version doesn't work in Linux Mint.

[2018-07-06 08:53] dv-denda commented on #16580
![image](https://user-images.githubusercontent.com/30828860/42369597-a470e1dc-8134-11e8-9bdf-d1899d8781c8.png).
It has an error with the product name has the same name as the caption ("36" x 26 "). I'm facing it

[2018-07-06 09:09] herod2k commented on #16538
Hello,

I've checked again following your devdocs, I made a new installation, using **test.test** as domain.
This is my virtualhost configuration:
[code]

It is very similar to what you suggest in your documentation:
![image](https://user-images.githubusercontent.com/3713164/42369899-3247d88a-8103-11e8-88d6-4144a00ad127.png)
The main differences are:
1. I'm using a ServerName
2. My document root i

[2018-07-06 09:10] engcom-backlog-nazar commented on #15964
Hi @jhill711 can you provide more informations? i cannot reproduce by your scenario's steps.

[2018-07-06 09:13] k4emic commented on #13765
Reopened due to the PR being rolled back: https://github.com/magento/magento2/pull/14314#issuecomment-400291235

[2018-07-06 09:16] archonkulis opened #16583 "Magento isn't saving attribute if up-sell products added with different attribute sets that doesn't include attribute for main product"
### Preconditions
1. Magento 2.2.4

### Steps to reproduce
1. Add attribute set with some multiple select attribute
2. Add another attribute set and include an attribute that doesn't exist in the first attribute set
3. Create a product with the attribute set from #2
4. Create another product with the attribute set from #1
5. Try changing the value for the multiple select attribute for the product

[2018-07-06 09:16] magento-engcom-team commented on #16583
Hi @archonkulis. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-06 09:16] emiprotech commented on #16580
Hello @dv-denda ,
Its because of breadcrumb. to solve this issue please replace your breadcrumb.phtml file located at `catalog/view/frontend/template/product/breadcrumbs.phtml`
Replace below code.
[code]
it will work for you.

[2018-07-06 09:30] tprocter-ldg commented on #14750
Also replicated on 2.2.3

[2018-07-06 09:37] #16014 closed, assigned to nobody

[2018-07-06 09:41] engcom-backlog-pb commented on #16011
@kishore-esfera, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-06 09:41] #16011 closed, assigned to nobody

[2018-07-06 09:49] engcom-backlog-nickolas commented on #16536
Hello @Gurdit, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 09:54] engcom-backlog-pb commented on #15977
@webcrew-au, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-06 09:54] #15977 closed, assigned to nobody

[2018-07-06 09:57] hanzels commented on #16578
@orlangur Removed de daily deals extension and add to cart functions.

Thanks for your moral support.

[2018-07-06 10:02] engcom-backlog-pb commented on #16013
@TreyTaylor1997 it is obvious you have misconfigured server. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice.

[2018-07-06 10:17] engcom-backlog-nazar commented on #15953
Hi @glwstor  The fix for this issue is already available in the 2.2-develop branch.

[2018-07-06 10:20] TreyTaylor1997 commented on #16013
@engcom-backlog-pb I followed the documentation on Magento 2 site - so I'm not sure where it goes wrong?

[2018-07-06 10:29] damien-lechopier opened #16587 "Reset password token expired when reset password by REST API"
Hi everybody,

### Preconditions
PHP 7.1
Version MySQL 5.6
MAgento v2.2.4

### Steps to reproduce
I'm want to send reset link for customer by REST API
For information I'm using Laravel Framework to do that

### Expected result
I'd like to send reset link to customers via PHP using the rest API of Magento

If I do that directly from magento backend using the "Reset password" option from customer da

[2018-07-06 10:29] magento-engcom-team commented on #16587
Hi @damien-lechopier. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-06 10:30] AshwinParmar commented on #14968
I experienced same issue,

I have checked the following file and modify code accordingly as follow:

`File: Magento\Email\Model\AbstractTemplate

public function setForcedArea($templateId)
{
	if (!isset($this->area)) {
		throw new \LogicException(('Area is already set'));
	}
	$this->area = $this->emailConfig->getTemplateArea($templateId);
	return $this;
}`

and Finally Its worked!

[2018-07-06 10:31] engcom-backlog-nickolas commented on #16580
Hello @Karlasa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 10:42] cbichis opened #16589 "Segmentation fault installing Magento 2.2"
Hi,

Trying to install Magento 2.2.5 CE on PHP 7.0.30, 5.6.39 on FreeBSD 11.2 is failing at:

[Progress: 248 / 466]
Module 'Magento_Catalog':
Installing data... Segmentation fault

The CLI command is

sudo -u myserveruser ./magento setup:install --admin-email email@domain.com --admin-firstname=Magento --admin-lastname=User --admin-user myuser --admin-password mypass --base-url https://domain.com -

[2018-07-06 10:42] magento-engcom-team commented on #16589
Hi @cbichis. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-06 10:49] DanielRuf commented on #14968
I guess you mean

[code]

[2018-07-06 10:58] Karlasa commented on #16580
Seems like #15040 messed it up.
@VladimirZaets Could you comment why that PR has gallery template changes?

[2018-07-06 10:59] webcreative24 commented on #11511
working on Magento 2.2

[2018-07-06 11:01] radhagobinda opened #16591 "How to disable saveParametersInSession in admin grid when I used ui Component?"
### Preconditions

1. Magento version: 2.1.4
2. PHP version: 5.6

### Steps to reproduce

Actually this is not a bug that I want to fixed it. This is kind of information that I want to know from this community.
I want to disabled saveParametersInSession in admin grid when I used Ui Component. I cannot find any elements that I could disabled this option. If any one knows that, Please share with us.

[2018-07-06 11:01] magento-engcom-team commented on #16591
Hi @radhagobinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-06 11:15] engcom-backlog-nazar commented on #15952
Hi @glwstor thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 11:29] engcom-backlog-nickolas commented on #16583
@archonkulis, thank you for your report. Unfortunately I'm not able to reproduce this issue by given steps. Could you please provide more detailed steps to reproduce?

[2018-07-06 11:31] engcom-backlog-nickolas commented on #16591
@radhagobinda, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-06 11:31] #16591 closed, assigned to nobody

[2018-07-06 11:51] engcom-backlog-nickolas commented on #16069
Hello @alexber88, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 11:53] engcom-backlog-nazar commented on #15950
Hi @saravananvelu  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 12:00] versdivers commented on #15490
I fixed this with my own module making sure that the Product page uses the same breadcrumbs phtml then the other pages and then with an after plugin on the execute of the product view class added the crumbs to the page. Its the only good fix in my opinion.

Not sure why Magento decided to use JS on the product page.

![image](https://user-images.githubusercontent.com/18028151/42377734-df057552-812

[2018-07-06 12:01] versdivers commented on #15490
If anyone needs the module fix you can ask me on skype : rob.conings.
I can not upload it to github under this account. I will create a company account and will comment on this github in the future with the fix that i did

[2018-07-06 12:07] engcom-backlog-nazar commented on #15939
Hi @erikhansen Which versions your tested ?

[2018-07-06 12:14] engcom-backlog-nazar commented on #15984
@AF4Q  seems like duplicate to this  -> https://github.com/magento/magento2/issues/15939

[2018-07-06 12:17] engcom-backlog-nickolas commented on #16057
@Kershrew, thank you for your report. User defined attribute means - admin user can specify values via UI or API. If your attribute has predefined source for values - it should be system one in order to prevent admin user to change values via UI or API.

[2018-07-06 12:17] #16057 closed, assigned to nobody

[2018-07-06 12:18] engcom-backlog-pb commented on #15999
@flipflap, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-06 12:20] Kershrew commented on #16057
@engcom-backlog-nickolas Thanks for your response, I didn't know that but doesn't it need to be user_defined for a configurable product to use it for creating configurations?

[2018-07-06 12:29] ilyasmuyiwa opened #16593 "Issue in response for extension attributes to check stock availability in rest/V1/carts/mine/items"
### Preconditions

PHP 7.1
Version MySQL 5.6
MAgento EE v2.1.6

### Steps to reproduce
1. Add new extension attribute

2) Create Plugin
[code]

3. Use the Plugin

[code]

### Expected result

1. I expected to get in rest/V1/carts/mine/items list of items like this,
    {
        "item_id": 1111111,
        "sku": "22222222",
        "qty": 2,
        "name": "AAAAAAAA",
        "price": 1111,

[2018-07-06 12:29] magento-engcom-team commented on #16593
Hi @ilyasmuyiwa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-06 12:30] Oreolek commented on #5309
Can confirm the problem on a clean Docker install (`alexcheng/magento2` image)

[2018-07-06 12:30] engcom-backlog-nazar commented on #15952
duplicate -> https://github.com/magento/magento2/issues/15849

[2018-07-06 12:31] engcom-backlog-pb commented on #14674
@mariamghalleb, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 12:35] engcom-backlog-nickolas commented on #16565
@mohsengit, thank you for your report. Could you please provide an example of csv file you've used for getting such error?

[2018-07-06 12:38] gwharton commented on #16580
PR #16594 created to fix my error.

[2018-07-06 12:39] engcom-backlog-nickolas commented on #16057
@Kershrew, yes it has to be user defined. But, you have to make up a workaround(Upgrade Data script for instance) to populate your attributes with values without using predefined source directly.

[2018-07-06 12:42] flipflap commented on #15999
Thanks for your reply, I made a screenshot of the 404 page after language switch in a 3th level category. Please check this https://webgarten.ch/temp/category.jpg

[2018-07-06 12:54] engcom-backlog-nazar commented on #15998
hi @DanielRuf  The fix for this issue is already available in the 2.2-develop branch.

[2018-07-06 12:56] DanielRuf commented on #15998
@engcom-backlog-nazar which PR / commit fixed it? =)

[2018-07-06 12:58] Kershrew commented on #16057
@engcom-backlog-nickolas so I would need to create the attribute in Magento using the GUI and the populate with my data from install script? I wanted to be able to keep all my attribute stuff in a single module with the creation of it and still use it for creating configurations.

[2018-07-06 13:01] engcom-backlog-nazar commented on #15998
@DanielRuf I cant find the PR/commit but on 2.2-develop branch, the margin set to your solution :)

[2018-07-06 13:02] mohsengit commented on #16565
Hi Nickolas,

Thanks for your reply. and Yes Of Course, Please see attached

Regards
Mohsen
[test2.zip](https://github.com/magento/magento2/files/2170567/test2.zip)

[2018-07-06 13:08] jacobchat commented on #14667
Thanks Dankoz!

I read your blog and it is an excellent explanation of this behaviour. Surprised that this issue has not been addressed by Magento themselves yet. ( I haven't tried V2.2.5 yet )

I will try the fast page load module you suggest.

[2018-07-06 13:08] DanielRuf commented on #15998
I just need the file in the current develop branch so I can see in the history and blame view which commit applied the change so I can refer to it and close the issue =)

[2018-07-06 13:09] chattertech commented on #14667
Thanks Dankoz!

I read your blog and it is an excellent explanation of this behaviour. Surprised that this issue has not been addressed by Magento themselves yet. ( I haven't tried V2.2.5 yet )

I will try the fast page load module you suggest.

[2018-07-06 13:18] engcom-backlog-nickolas commented on #16057
@Kershrew,  not necessarily. You may try to do something like:
[code]
Simply specifying attribute options like:
[code]
Or, you may try to add options later, after attribute has been created by using for instance Magento\Eav\Setup\EavSetup::addAttributeOption() directly.

[2018-07-06 13:20] engcom-backlog-pb commented on #15999
@flipflap, thank you, but we need more detailed steps to reproduce.

[2018-07-06 13:36] engcom-backlog-pb commented on #15656
@Fredwak, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 13:47] DanielRuf commented on #15998
There we would need the margin removal. I guess I'll create a screenshot of the issue to be more clear.

[2018-07-06 13:54] engcom-backlog-pb commented on #15994
@Juigeli, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-06 13:54] #15994 closed, assigned to nobody

[2018-07-06 13:56] engcom-backlog-pb commented on #16589
@cbichis, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-06 13:56] #16589 closed, assigned to nobody

[2018-07-06 14:02] engcom-backlog-pb commented on #16574
@DennisxCore, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-06 14:03] mam08ixo commented on #10210
@gwharton @magento-engcom-team

This is a backward incompatible change. Anyone who relied on `transport` being a `\Magento\Framework\DataObject` now receives a

 fatal error, potentially breaking checkout.

[2018-07-06 14:08] kemexyz commented on #4911
@magento-engcom-team

Please consider reopening this:

Installing via composer will create the required directories but leave them empty, this means that git will ignore these directories by default. While this might not be a Magento issue, the fix is rather simple. Just put a ".gitkeep" file or any file explaining the situation.

To reproduce:
Magento 2.2
PHP .0.30-0ubuntu0.16.04.1

Install using

[2018-07-06 14:10] #15882 closed, assigned to nobody

[2018-07-06 14:11] eugene-shab commented on #13254
The same problem with 2.2.5 and 2.3
I was not able to create a configurable product with around 5900 variations.

[2018-07-06 14:13] engcom-backlog-pb commented on #15900
@Kesquom, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-06 14:13] #15900 closed, assigned to nobody

[2018-07-06 14:24] mikehenze commented on #13929
Still have this problem on 2.2.5

[2018-07-06 14:40] engcom-backlog-nickolas commented on #16565
@mohsengit, thanks for feedback. Unfortunately I couldn't reproduce this issue with provided csv file.
Magento 2.2.5 clean installation, just added Accessories attribute set based on Default.
![peek 2018-07-06 17-38](https://user-images.githubusercontent.com/40755810/42384735-6f7547e8-8143-11e8-8134-39ebeb0e30af.gif)
Can you please correct my steps, or add more details about this issue?

[2018-07-06 14:41] gwharton commented on #10210
Ouch, yes you are right. Looking into it, prior to the changes implemented the events have inconsistent parameter types.

Event | Before   Parameter 1 | Before   Parameter 2 | After Parameter 1 | After Parameter   2 | After Parameter   3
-- | -- | -- | -- | -- | --
email_creditmemo_set_template_vars_before | Creditmemo/Sender/EmailSender | $transport array() | Creditmemo/Sender/EmailSender | $tran

[2018-07-06 14:46] engcom-backlog-pb commented on #15775
@springimport, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-06 14:47] herman-aka-wouter opened #16598 "Magento\SalesRule\Rule should implement RuleInterface"
Unable to use RuleRepository to save sales Rule.

### Preconditions

1. Create a `Magento\SalesRule\Rule` using `RuleFactory`
2.

### Steps to reproduce

1. Try to save `Rule` using `RuleRepository`
2.
3.

### Expected result

1. Rule should be saved

### Actual result

1. Expected instance of `RuleInterface` given `Rule`

[2018-07-06 14:47] magento-engcom-team commented on #16598
Hi @wouter-toppershops. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-07-06 14:49] dan-ding commented on #16568
@orlangur whhhaaa? come on. it's totally valid.

(a) comparing it to having javascript disabled makes as little sense as saying people can only use IE 10.
(b) disabling localstorage is the easiest means of recreating and testing an issue that is definitely occurring in the universe with unknown conditions.

if magento can't build a ecommerce store without relying on localstorage, they have some se

[2018-07-06 14:55] ishakhsuvarov commented on #16598
Hi @wouter-toppershops
`\Magento\SalesRule\Model\Data\Rule` seems to be the preference for the `RuleInterface`.  `RuleInterfaceFactory` seems to be the one to do the job

[2018-07-06 15:15] molovo commented on #16234
Just wanted to add, I've recently updated to 2.2.5, and the issue still persists.

[2018-07-06 15:19] engcom-backlog-nickolas commented on #16593
@ilyasmuyiwa, thank you for your report. You may try to rewrite your plugin to something like:
[code]
![peek 2018-07-06 18-17](https://user-images.githubusercontent.com/40755810/42386764-192b403a-8149-11e8-9ed1-cbdb36d937aa.gif)

[2018-07-06 15:19] #16593 closed, assigned to nobody

[2018-07-06 15:20] wouter-toppershops commented on #16598
Hi @ishakhsuvarov,
If I use `\Magento\SalesRule\Model\Data\Rule` the `setCouponCode` method is missing: `Call to undefined method Magento\SalesRule\Model\Data\Rule::setCouponCode()`

the `setCouponCode()` function is available in the `Rule` but not in the `RuleInterface`

 i looked into the default save method of magento of saving sales rules
`Magento\SalesRule\Controller\Adminhtml\Promo\Quote\Sav

[2018-07-06 15:21] Swahjak commented on #16598
So AbstractModel::save() is deprecated, RuleRepository::save() doesn't accept a `Model\Rule` how are we supposed to save a `Model\Rule`?

On a side note: Is `RuleInterfaceFactory` a thing? A interface can not be constructed? Magento 2 keeps amazing me...

[2018-07-06 15:34] ishakhsuvarov commented on #16598
@wouter-toppershops
`\Magento\SalesRule\Api\Data\CouponInterface` seems to have links to the `RuleId`. It makes sense to check if it works other way round, creating a rule, and then a coupon for that rule.

[2018-07-06 16:12] msawyers opened #16602 "Integrity constraint duplicated entry upgrading to Magento 2.2.5"
**Preconditions**

Installed version 2.2.4
PHP version 7.1.19

**Steps to reproduce**

Upgrade to magento 2.2.5
Run setup:upgrade

**Expected Result**

The upgrade should be successful

**Actual result**

Upgrading data....SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '4-General' for key 'EAV_ATTRIBUTE_GROUP_ATTRIBUTE_SET_ID_ATTRIBUTE_GROUP_NAME', query was: INSERT INTO `ea

[2018-07-06 16:12] magento-engcom-team commented on #16602
Hi @msawyers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-06 16:20] erikhansen commented on #15939
@engcom-backlog-nazar I tested it on Magento 2.2.4. I edited the task description just now to clarify that.

[2018-07-06 16:51] franconicolasocchi commented on #12655
Same issue v. 2.2.2, fixed with your module @flancer64 thank you!

[2018-07-06 16:53] franconicolasocchi commented on #2933
Same issue v. 2.2.2 , solved with the config change provided by @srynot4sale, thank you

[2018-07-06 17:02] magento-engcom-team commented on #16519
Hi @Mahenderpinakisoft Thank you for reporting.

Unfortunately Safari for windows is not supported according to the "Browser Support" [documentation](https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements_browsers.html).

We are closing this ticket now.

[2018-07-06 17:02] #16519 closed, assigned to nobody

[2018-07-06 17:11] ishakhsuvarov commented on #13865
Hi @krzksz
Are you still interested in preparing a PR for this case?

[2018-07-06 17:16] #10520 closed, assigned to nobody

[2018-07-06 17:37] dv-denda commented on #16580
Thank @emiprotech , it works fine.

[2018-07-06 18:35] digikeijs opened #16604 "Table rate shipment is taken from wrong website ID when creating an order through the admin"
**Summary of the issue**

When I create an order through the admin panel and select my shipping method table rate it takes the shipping rate table from the wrong website ID.

### Preconditions
magento 2.2.4, Linux, non sample data

### Steps to reproduce

1.  Setup multistore
2.  Setup different table rates per website
3.  Then through the admin create a new order for the second website/store
4.

[2018-07-06 18:35] magento-engcom-team commented on #16604
Hi @digikeijs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-06 18:37] digikeijs commented on #16604
@magento-engcom-team give me 2.2.4 instance

[2018-07-06 18:37] magento-engcom-team commented on #16604
Hi @digikeijs. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-06 18:37] digikeijs commented on #15846
@magento-engcom-team give me 2.2.4 instance

[2018-07-06 18:37] magento-engcom-team commented on #16604
Hi @digikeijs, here is your [Magento instance](https://i-16604-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16604-2-2-4.engcom.dev.magento.com/admin](https://i-16604-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-06 18:37] magento-engcom-team commented on #15846
Hi @digikeijs. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-06 18:38] magento-engcom-team commented on #15846
Hi @digikeijs, here is your [Magento instance](https://i-15846-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-15846-2-2-4.engcom.dev.magento.com/admin](https://i-15846-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-06 19:45] gwharton commented on #16509
PR #16461 fixes this issue.

[2018-07-07 07:44] eTonki opened #16610 "I would just like to decide the default direction of the products in the categories"
Good morning,
I know that the problem has already been posed in the past,
but the problems were closed without ever giving a definitive solution.
I would just like to decide the default direction of the products in the categories.
Officially how can you do it in Magento?

### Preconditions
Magento 2.1.x
PHP 7.0.18
MySQL 5.7.18

### Steps to reproduce
Upgrade from 2.1.x to 2.2.x

### Expected resul

[2018-07-07 07:44] magento-engcom-team commented on #16610
Hi @eTonki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-07 08:33] flipflap commented on #15999
Here is the code of the language phtml, it is based of the logic of Luma. I am sure it happen to any Magento Luma installation. Just make sure you are in the third level of a category and that the categories in different stores have different name to reproduce it. I hope this helps.
[code]

[2018-07-07 10:34] sidolov commented on #11717
Hi @HirokazuNishi. Thank you for your report.
The issue has been fixed in magento/magento2#15909 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [ea16687f3c6897d8b1cab96c9737d59903107c5d](https://github.com/magento/magento2/commit/ea16687f3c6897d8b1cab96c9737d59903107c5d)
 - [8a4d96645182c443477415f03ca609c30d1cc908](https://github.com/magento/magento2/commit/8a4d96645182c443477415f03

[2018-07-07 10:34] #11717 closed, assigned to nobody

[2018-07-07 13:02] hostep commented on #16531
I've seen this happening as well after upgrading to Magento 2.2.5.
But I've found the reason. We have a custom module which adds pdf files to the allowed file types to upload, and we've defined that like this in the `di.xml` file of our custom module:

[code]

But, this now conflicts with Magento 2.2.5 since they've changed that xml in the following commit: https://github.com/magento/magento2/comm

[2018-07-07 13:10] magento-engcom-team commented on #16479
Hi @Sathishkumar8731. Thank you for your report.
The issue has been fixed in magento/magento2#16537 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [4cb997aea6f7c4cf38a25d20ea0ec4dbd6b7f5ad](https://github.com/magento/magento2/commit/4cb997aea6f7c4cf38a25d20ea0ec4dbd6b7f5ad)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-07 13:10] magento-engcom-team commented on #16079
Hi @mageho. Thank you for your report.
The issue has been fixed in magento/magento2#16228 by @Karlasa in 2.3-develop branch
Related commit(s):
 - [abcded5aee17b30b3eb5b5da98c67e9bba79858f](https://github.com/magento/magento2/commit/abcded5aee17b30b3eb5b5da98c67e9bba79858f)
 - [988ef8956d03341280f3599ffb3bb5049cd4af56](https://github.com/magento/magento2/commit/988ef8956d03341280f3599ffb3bb5049cd4a

[2018-07-07 15:58] ghermans commented on #14968
Nice to see that you guys fixed this issue 👍
However i would like to ask if anyone can explain how you can fix this with a composer install?
in my current env i don't see a Magento folder in app/
i also did a search in the vendor directory but could not find it so any help is welcome :).

[2018-07-07 16:09] EzzyEcom commented on #14968
@ghermans you can accomplish this 2 or 3 different ways.

1. update directly the deployed core code located here,
- vendor/magento/module-email/Model/AbstractTemplate.php:535'ish

2. apply a git patch (I don't have the SHA for this option, but maybe someone @here could chime-in)

3. create a plugin yourself that will use dependency injection and setForcedArea like this
`
public function setForcedA

[2018-07-07 16:12] ghermans commented on #14968
Thanks for the quick response and detailed feedback.

[2018-07-07 16:12] hostep commented on #14968
Additional: from number 2 of @EzzyEcom, use this method: https://support.magento.com/hc/en-us/articles/360005484154 to apply [this commit](https://github.com/magento/magento2/commit/7019a0a1392095185505ff3ca7b97dd3e9cb4ef2) using composer.

[2018-07-07 17:03] rowneybury commented on #14968
Hi Guys, Sorry, am a real newbie but have just spent a fair bit of money on having a Magento site designed for me in 2.2.5 and now I find I can't make any basic changes like logo for example which makes my site useless?? Does this happen often in Magento? I came over from Sellerdeck and now wishing I hadn't :-(

[2018-07-07 17:14] EzzyEcom commented on #14968
@rowneybury most logos and images are database/admin configurations.
along with CSS styling being some of the easiest changes that will definitely be vital to your site's up-keeping.
Word of advice, retain an agency or a Magento2 freelancer fullstack dev on like 10 hours a month basis to work thru all those bits and pieces you find yourself frustrated over.

Sorry @everyoneelse I know this topic i

[2018-07-07 17:36] EzzyEcom commented on #14968
@rowneybury #15137 fix sounds like had a hiccup when it comes to being deployed on 2.2.5, but as mentioned previously in here, this will be automatically added by deploy bots on 2.2.6 in roughly about 2 months from now, if my math is right.

In the mean time, if your site was built leveraging Magento 2 modularity architecture by means of composer, then you can easily switch version from 2.2.5 to 2

[2018-07-07 17:44] rowneybury commented on #14968
Thanks again, I do appreciate the help. I think I need to speak to the company who installed my Magento and see if they can roll it back to 2.2.3, sounds like the easiest option.  I will click the link you provided for creating a patch but fear it will mean nothing to me! :-)

Enjoy the rest of your weekend.

[2018-07-07 20:52] dan-ding commented on #16568
What do you need to give this some deeper consideration?

[2018-07-07 23:15] Jacob-Wilsons commented on #15192
I can confirm, the issue with blank page on "Module Manager" is still in magento 2.2.5

[2018-07-08 05:00] ilyasmuyiwa opened #16614 "Magento Di Issue with Plugin in Rest Api"
### Preconditions

1. PHP 7.1
2. Version MySQL 5.6
3. Magento EE v2.1.6

### Steps to reproduce

1. Add New Extension Attributes
[code]
2.  Create Plugin
[code]

3. Use Plugin
[code]

### Expected result
1. The expected result response in rest/V1/carts/mine/items is
{
"item_id": 1111111,
"sku": "22222222",
"qty": 2,
"name": "AAAAAAAA",
"price": 1111,
"product_type": "configurable",
"quote_id": "11

[2018-07-08 05:00] magento-engcom-team commented on #16614
Hi @ilyasmuyiwa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-08 07:42] malikt commented on #11372
I found that for me it was happening due to email css files email.css and email-inline.css in my custom theme, instead of .less and the line that was causing this issue was at the top with the code:
`@import url("{{base_url_path}}frontend/Magento/luma/{{locale}}/css/email-fonts.css");
`
and found that the issue was due to the variable {{base_url_path}}  instead i changed the code to
 `@import url(

[2018-07-08 10:19] Ananth747 commented on #16013
@TreyTaylor1997 It is right the server configuration is missing something that needs to find out. Can we have remote desktop to resolve it?

[2018-07-08 10:36] matinict opened #16622 "magento 2 Export Product Name Not found exported csv for multi language Product Name"
magento 2 Export Product Name  Not found exported csv for multi language Product Name

### Preconditions

1. multi language
2. Different language For Same Product Name

### Steps to reproduce

1. Export Product CSV From Admin
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-07-08 10:36] magento-engcom-team commented on #16622
Hi @matinict. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-08 15:30] cadencelabs-master commented on #15156
Can existing versions not be patched by adding the proper ajaxPrefilter to the end of the jQuery file? This should emulate the fix for the CVE - users will still need to dispute / false positive on PCI scans.

[code]
After adding this patch, running the XSS check in the console turns up that it's no longer vulnerable:
`jQuery.get('https://sakurity.com/jqueryxss');`

[2018-07-08 16:14] salehawal commented on #14672
still issue not solved

[2018-07-08 20:11] lracicot commented on #11374
What's the status of this? I'm still having the problem with the default Magento 2.2.3 installation, a year later.

[2018-07-08 23:34] cscarfo opened #16633 "2.2.4 to 2.2.5 js-translation.json gets messed up"
I upgraded from 2.2.4 to 2.2.5 with language IT_IT set for back- and frontend.
I did it several times, from the wizard and CLI, following all instructions carefully.
Both ways I got many back and frontend text messages, tips, etc. messed up, enclosed in curly braces and repeated. Below you find a sample of it.
Finally I got down to the problem: the  js-translation.json files in pub/static/adminhtm

[2018-07-08 23:34] magento-engcom-team commented on #16633
Hi @cscarfo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-09 00:32] orlangur commented on #16568
They should be determined. It is obvious that with local storage disabled Magento will not function properly, check https://devdocs.magento.com/guides/v2.2/extension-dev-guide/cache/page-caching/private-content.html for instance.

[2018-07-09 01:57] orlangur commented on #16598
@wouter-toppershops,

You cannot use repositories to save something not included in data interfaces => you cannot just pass legacy models into repositories. Coupon is separate entity and needs to be persisted accordingly instead of mixing altogether in one model class.

[2018-07-09 01:57] #16598 closed, assigned to nobody

[2018-07-09 02:01] orlangur commented on #16610
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

Probably not including referenceBlock into referenceContainer can help.

[2018-07-09 02:01] #16610 closed, assigned to nobody

[2018-07-09 04:39] anish-cubet commented on #13530
The issue still exists on Magento 2.2.5. How long this will take to merge with master?

[2018-07-09 04:58] DanielRuf commented on #13530
@anish-cubet my patch will be in 2.2.6.

[2018-07-09 05:07] anish-cubet commented on #13530
Can I get the patch file please ?

[2018-07-09 05:38] dan-ding commented on #16568
Ok! Discussion --
There's dozens browsers, variants thereof, and even more plugins for them. All these may conspire to handle storage differently, for different reasons, and for reasons that people actually choose.  For example, private browsing is probably going to in continued use and browsers handle localstorage in that differently.
I'd ask how you think all these could be determined, but that'

[2018-07-09 05:50] Swahjak commented on #16598
@orlangur

I get what your saying here, but 'just legacy' models seems out of place. Looking at other models in Magento 2 suggest no such thing as 'legacy' models. `Magento\Catalog\Model\Product` extends `ProductInterface`, `Magento\Cms\Model\Page` implements `PageInterface`. Based on these core models I would say that saving a model trough the repository is exactly what we should be doing. That s

[2018-07-09 06:07] engcom-backlog-nazar commented on #15984
HI @AF4Q I checked this, the indexer oh state "UPDATE BY SCHEDULE" must be update partial and product may be changed. thank you for you report We've acknowledged the issue and added to our backlog.

[2018-07-09 06:08] DanielRuf commented on #13530
@anish-cubet see https://github.com/magento/magento2/issues/13530#issuecomment-397380139 and https://support.magento.com/hc/en-us/articles/360005484154

[2018-07-09 06:13] abhaykhatariya commented on #16556
Paypal Express checkout when shipping country is Russia not working

[2018-07-09 06:14] engcom-backlog-nazar commented on #15998
@DanielRuf  Hi i understand you, the block of margin-bottom:0px; need to be removed, they do not be a 0px; ?

[2018-07-09 06:16] DanielRuf commented on #15998
No, `.fieldset > .fields:last-child > .field {` needs `margin-bottom: 0px;` which is currently not the cause or I missed something.

[2018-07-09 06:28] engcom-backlog-nazar commented on #15998
But you says Expected result ->  there should not be any margins on the **last** fields / field,  and then actual result ->  there are still margins on the **first** field in a fields wrapper. which first or last field ?

[2018-07-09 06:35] mjoraid commented on #16355
1- I agree with others. Disabling Amazon Payment does fix the issue. I disabled payment, login, and core just for the sake of it and then enabled them again.
2- +kingyond solutions did fix the issue for me. Now order email is sent From as the I specified in my Admin - Sales - Sales Emails

[code]

Now I'm not sure what are the implications of removing

` share="false"`

[2018-07-09 06:35] Morgy93 commented on #8933
Same here - it locks my product images deletion
[code]
[code]

[2018-07-09 06:37] mritu19 commented on #16532
Hi @verklov .. I would request you to please look into above issue and please share your feedback.
Thanks !

[2018-07-09 06:41] engcom-backlog-nickolas commented on #16541
Hello @LouNik1984, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 06:41] EBotha1 commented on #16289
@magento-engcom-team @magento-devops @magento-admin Could  someone please assist with the issue?

[2018-07-09 06:48] engcom-backlog-nazar commented on #15937
Hi @jfain189 i cannot reproduce by yours scenarios steps, can you provide ,more information ?

[2018-07-09 06:49] chrcoluk commented on #16589
Some clarification please as to what is meant by vanilla and the best place to report this bug, pointing to generic support forums indexes isnt really helpful.

Also some clarification what a Magento Core technical issue is please.

Regards

Chris

[2018-07-09 06:49] DanielRuf commented on #15998
I will prepare a screenshot then, the code for the selector `.fieldset > .fields:last-child > .field` is needed in general.

[2018-07-09 07:12] magento-engcom-team commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#16564 by @dankhrapiyush in 2.2-develop branch
Related commit(s):
 - [873471a3064c831af1b2eb22e56af939e44e97a0](https://github.com/magento/magento2/commit/873471a3064c831af1b2eb22e56af939e44e97a0)
 - [9d84b2cc8a2cf2de7506b9809b035ed0077ac0eb](https://github.com/magento/magento2/commit/9d84b2cc8a2cf2de7506b9809b035ed

[2018-07-09 07:19] engcom-backlog-nazar commented on #15932
Hi @vasudevsundar i cannot reproduce by yours scenarios steps, can you provide ,more information ?

[2018-07-09 07:19] hiteshagrawal84 opened #16639 "Lowest and Highest price should be display for Product in api same as it is showing on storefront"
### Preconditions

1.  Magento 2.2.5 with Sample Data

### Steps to reproduce

1.  Hit the any products api for configurable and bundle products

### Expected result

1. Lowest and highest price should be display for configurable and bundle product

### Actual result

1.  0 price is coming in api.

[2018-07-09 07:19] magento-engcom-team commented on #16639
Hi @hiteshagrawal84. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-09 07:37] engcom-backlog-nickolas commented on #16604
Hello @digikeijs, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 07:39] Karanp13 commented on #12683
Please try to remove unnecessary data from .htaccess, You will defensively solved.

[2018-07-09 07:52] engcom-backlog-nazar commented on #15998
In my generated files in pub/static/frontend/Magento/blank/en_US/css/style-m.css have -> .fieldset > .fields > .field:last-child {
  margin-bottom: 0;
}

[2018-07-09 07:54] engcom-backlog-nickolas commented on #16602
@msawyers, thanks you for your report. Unfortunately I cannot reproduce this issue by provided steps. Can you please add more details or steps to reproduce to this issue?

[2018-07-09 07:56] engcom-backlog-nazar commented on #15992
HI @torhoehn which web browsers you used ? i cannot reproduce by your scenarios steps.

[2018-07-09 07:58] DanielRuf commented on #15998
I'll check it then.

@magento-engcom-team give me test instance

[2018-07-09 07:59] orlangur commented on #16598
@Swahjak product and CMS are legacy models as well and workability only guaranteed within ProductInterface/PageInterface. Check https://github.com/magento/magento2/issues/16598#issuecomment-403068907 for a way to go.

[2018-07-09 08:00] Akki-8388 commented on #14785
I have Same issue is there any one have solution? After select payment method when we payment its redirect on checkout/cart page
Magento 2.2.3
PHP 7.1

[2018-07-09 08:06] torhoehn commented on #15992
@engcom-backlog-nazar We tested with Chrome 67 on Android 7.1.1 and can still reproduce this issue.

[2018-07-09 08:10] engcom-backlog-nazar commented on #15883
hi @ronak2ram  seems like duplicate-> https://github.com/magento/magento2/issues/16507

[2018-07-09 08:11] TreyTaylor1997 commented on #16013
@Ananth747 indeed - but how can I debug? I've checked modules - all installed, I've set up my vhost so it works with PHP-FPM, checked all the server conf and everything seems ok .. and unfortunately not as it's an internal CentOS server - so no pub access - can post conf files if requested?

[2018-07-09 08:13] #15883 closed, assigned to nobody

[2018-07-09 08:51] digikeijs commented on #16604
Thanks a lot, if you have time can you please also look at below issue. Almost the same issue but then related to update qty but also using the wrong website id / store.

https://github.com/magento/magento2/issues/15846

[2018-07-09 09:09] engcom-backlog-nazar commented on #15992
@torhoehn  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 09:15] michael-sauerwald commented on #2816
I just replaced <link rel="stylesheet" type="text/css" media="all" href="{{MEDIA_URL}}styles.css" />
in CONTENT > Design > Configuration > Edit > HTML Head
with nothing - saved it - put it back - working...

[2018-07-09 09:22] bvboas commented on #4979
After manually deleting categories, make sure no existing category has a parent_id referencing a deleted one (don't forget to NOT delete the parent_id=0).

That fixed it for me.

[2018-07-09 09:27] #16614 closed, assigned to nobody

[2018-07-09 09:38] orlangur commented on #13696
@dY00Yb nothing has changed, you need to contact support.

[2018-07-09 09:44] engcom-backlog-nazar commented on #15910
hi @Oscar-Wagento can you recheck in 2.2-dev branch, when i tested it, i cannot reproduce, but randomly its 1 or 2 times reproduce

[2018-07-09 09:46] engcom-backlog-nickolas commented on #16262
@ersansan, thank you for your report. Unfortunately I'm not able to reproduce this issue.
![peek 2018-07-09 12-46](https://user-images.githubusercontent.com/40755810/42443347-db2fe1d0-8375-11e8-894e-43ac81fafc48.gif)
Can you please correct my steps, or add more details?

[2018-07-09 09:54] hiteshagrawal84 commented on #16639
Yes

[2018-07-09 10:02] engcom-backlog-nickolas commented on #15846
@digikeijs, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 10:16] engcom-backlog-nickolas commented on #15965
Hello @subbu1993, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 10:18] orlangur commented on #16568
This is _totally_ not silly, please try to be more constructive.

What would you suggest to use for fallback instead of cookies when local storage is not available for some reason?

I can say you more, you cannot turn this mechanism off. I do agree that it looks like cookies storage as fallback simply does not work.

What is the % of users having local storage disabled?

[2018-07-09 10:19] engcom-backlog-nickolas commented on #15963
Hello @CNanninga, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 10:32] engcom-backlog-nickolas commented on #16639
Hello @hiteshagrawal84, thank you for your report. If you mean for instance rest/V1/product/{product_sku} - it's admin endpoint. So, information provided by API is the same as from admin area UI and has no min and max prices as frontend has. You may try to calculate this prices from API response data the same way, as it;s done on storefront.

[2018-07-09 10:52] engcom-backlog-pb commented on #16531
@hostep thank you for investigation. Closing as not a bug.

[2018-07-09 10:55] Akif-dev opened #16649 "Google Analytics producing wrong data (Revenue & Conversion) not matching with magento 2"
### Preconditions

1. We are using Magento 2.2.5 version, recently moved from 2.1, google analytics were added via Google API.
2. It was working fine & showing matched & accurate data in magento 2.1

### Steps to reproduce

1.  Google analytics data were matching fine with magento in previous version, after updating from 2.1 to 2.2.5, we are seeing wrong Revenue & Conversion Data, difference of 85

[2018-07-09 10:55] magento-engcom-team commented on #16649
Hi @Akif-dev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-09 10:56] engcom-backlog-nickolas commented on #15934
Hello @yamenarahman, thank you for your report. Unfortunately I cannot reproduce this issue by provided details.
![peek 2018-07-09 13-55](https://user-images.githubusercontent.com/40755810/42446646-b978cdcc-837f-11e8-80fa-75e74b067e74.gif)
Could you please correct steps I did, or provide more details?

[2018-07-09 11:04] yamenarahman commented on #15934
It seems like the issue is solved! maybe it's my misunderstanding or code syntax.
Thanks for illustration.

[2018-07-09 11:04] #15934 closed, assigned to nobody

[2018-07-09 11:06] Akif-dev commented on #16649
@magento-engcom-team give me {$VERSION} instance

[2018-07-09 11:10] engcom-backlog-nazar commented on #15923
hi @vovsky  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 11:11] engcom-backlog-pb commented on #15999
@flipflap, thank you. Please try to reproduce this issue on clean Magento 2 installation.

[2018-07-09 11:12] pieal86 commented on #16531
I am facing this issue on Fresh Installation magneto 2.2.5

There is no custom module. Then how this is not a Bug?

[2018-07-09 11:13] Akif-dev commented on #16649
i have added the following line to the comment of of my raise issue topic

@magento-engcom-team give me {$VERSION} instance (I added this one)

@magento-engcom-team give me {2.2.5} instance (Do i have to add like this ?
)

please advise

thanks

On Mon, Jul 9, 2018 at 3:55 PM Magento Community Engineering <
notifications@github.com> wrote:

[2018-07-09 11:17] hostep commented on #16531
@pieal86 : I've tested this on a fresh installation of 2.2.5 and couldn't reproduce the bug.
In case you can, can you please clarify the exact steps you've taken.

Thanks! :)

[2018-07-09 11:44] engcom-backlog-nickolas commented on #15761
Hello @sebfie, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 11:54] engcom-backlog-pb commented on #16129
@mmenozzi, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-09 12:08] JoshuaFlood commented on #5490
@magento-engcom-team  I can confirm that this issue is still present for me using Magento 2.2.4 with table rates listed for all countries other than UK (I think there are about 15 available countries which we do not ship to), and free shipping available for UK only.

@TommyKolkman please could you annotate your answer? I'm still getting to grips with magento and I'm developing a custom theme which

[2018-07-09 12:18] engcom-backlog-pb commented on #15772
@dverkade, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 12:21] ihor-sviziev commented on #16568
Hi @orlangur on our website some customers also have this issue - OS: Android (including 7.1.1) + opened website in Facebook (in app) - as result - no local storage support.

Another example: Incognito mode on Safari iOS/MacOS - no local storage support

[2018-07-09 12:40] Sil-B commented on #15062
Same issue on 2.2.4.

[2018-07-09 12:43] kerlama commented on #15062
I can confirm that this is not working on 2.2.5 too.

[2018-07-09 12:56] engcom-backlog-nickolas commented on #15655
Hello @mattiasorgato, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 13:00] mattiasorgato commented on #15655
Thank you, waiting for your reply.

[2018-07-09 13:01] engcom-backlog-pb commented on #15568
@etcik1, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 13:03] engcom-backlog-pb commented on #15587
@melyancey, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-09 13:03] #15587 closed, assigned to nobody

[2018-07-09 13:17] Oscar-Wagento commented on #15910
Hi @engcom-backlog-nazar i don't get it, have you reproduced the error?

[2018-07-09 13:30] engcom-backlog-pb commented on #15596
@deva96, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-09 13:32] sebfie commented on #15761
Thank you

[2018-07-09 13:36] engcom-backlog-pb commented on #15509
@RishabhRkRai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![peek 2018-07-09 16-33](https://user-images.githubusercontent.com/40756187/42453722-484a4894-8396-11e8-8bf6-694d83973642.gif)

[2018-07-09 13:36] #15509 closed, assigned to nobody

[2018-07-09 13:38] springimport opened #16651 "Update memory limit"
### Preconditions
1. Increase PHP Memory limit.

### Steps to reproduce
1. Using [Required PHP settings](https://devdocs.magento.com/guides/v2.2/install-gde/prereq/php-settings.html) page set `memory_limit=2G` in `php.ini`.
2. `phpinfo();` in magento domain.

### Expected result
memory_limit | 2G
-- | --

### Actual result
memory_limit | 756M
-- | --

Problem with `756M` in [nginx.conf.sample](htt

[2018-07-09 13:38] magento-engcom-team commented on #16651
Hi @springimport. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-09 13:44] ronak2ram commented on #16651
Hello @springimport

Can you please try.
memory_limit=2048M

[2018-07-09 13:45] engcom-backlog-pb commented on #15476
@Userr017, thank you for your report. When "Asynchronous sending" is enabled, Sales emails are sent at predetermined, regular intervals.
https://docs.magento.com/m2/ce/user_guide/configuration/sales/sales-emails.html

[2018-07-09 13:45] #15476 closed, assigned to nobody

[2018-07-09 13:45] pacilondo commented on #8795
Hi. In case someone is still having an issue, I have found out that when on the grid view, there is a column saying "Websites" (If you can't see it, you can always add it by clicking on columns on the top right corner below "Add product" button). Check the name of the website and when navigating to the product details page, on the top left on the grey bar, there is a store view. If you change it t

[2018-07-09 13:51] fcmoto commented on #13053
hi @ishakhsuvarov, do you already have a feedback for me regarding the above issue? It is really complicate to handle the colors and other values for several store views.

Best to do it in a 2 column matrix like you can see in my screenshot above.

Thanks for your info

[2018-07-09 13:58] engcom-backlog-pb commented on #15455
@Toregam, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-09 13:58] #15455 closed, assigned to nobody

[2018-07-09 13:59] engcom-backlog-pb commented on #15456
@asimbyazid, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-09 13:59] #15456 closed, assigned to nobody

[2018-07-09 14:17] artskeem commented on #13553
Has there been any solution for this problem - I'm having the same issue with ~680,585 overhead :/

[2018-07-09 14:25] adityagaurin2018 opened #16652 "Spinning Loading Wheels appear over Catalog Section in CMS"
I have installed a Magento 2.2.4 Version without any Sample Data over the server. I have given a custom path of admin instead of generic admin one.

It was installed over the server successfully and CMS login very well.

But now after login when I browse to Catalog section, it keep showing the spinning wheels over the pages and won't allowed to do anything.

### Steps to reproduce
1. Install Magen

[2018-07-09 14:27] #16651 closed, assigned to nobody

[2018-07-09 14:30] adityagaurin2018 commented on #16652
@magento-engcom-team give me 2.2.4 instance

[2018-07-09 14:30] magento-engcom-team commented on #16652
Hi @adityagaurin2018. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-09 14:31] magento-engcom-team commented on #16652
Hi @adityagaurin2018, here is your [Magento instance](https://i-16652-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16652-2-2-4.engcom.dev.magento.com/admin](https://i-16652-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-09 14:33] dverkade opened #16653 "Not possible to create an invoice in Magento 2.3"
When testing the new Magento 2.3 Alpha version it found out it it's not possible to create a new invoice for an order. An error is thrown.

### Preconditions
1. Magento 2.3 Alpha installed
2. Create an order without an invoice attached to it.

### Steps to reproduce
1. Open the order and click the "Invoice" action to start creating an invoice

### Expected result
1. See the invoice screen, so that

[2018-07-09 14:33] magento-engcom-team commented on #16653
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-09 14:34] atsareva commented on #16219
Hi @engcom-backlog-pb ,
Yes, I can't reproduce this issue on the last version of magento... I'll continue investigation.
Thanks,
Alona

[2018-07-09 14:35] adityagaurin2018 commented on #16652
Hi,
It is not replicating over the above instance!

But it is happening over my installed version, and I have not touched any file and just install to follow the given instructions.

What do I next?

Thanks

[2018-07-09 14:37] engcom-backlog-nickolas commented on #15674
Hello @lucasgonzalez, thank you for your report. Unfortunately I cannot reproduce this issue by provided steps. If I produce some error during widget save on server side, I receive error in such way.
![screenshot_1](https://user-images.githubusercontent.com/40755810/42456868-9b3fe948-839e-11e8-96dc-2f81482e4f75.png)

Can you please add more detailed steps?

[2018-07-09 14:55] engcom-backlog-nickolas commented on #16653
Hello @dverkade, thank you for your report. Unfortunately I cannot reproduce this issue by provided steps.
![peek 2018-07-09 17-52](https://user-images.githubusercontent.com/40755810/42457811-1a0f3fd8-83a1-11e8-96e4-af14f7aceb9b.gif)
Can you please add more details?

[2018-07-09 15:17] engcom-backlog-pb commented on #15420
@Fredwak, please create the separate issue.

[2018-07-09 15:31] cralls commented on #8337
Same issue on 2.2.3 after migrating data from 1.9.2.2. @carfantasy solution does not work. Any other work arounds? This is a huge issue

[2018-07-09 15:32] dverkade commented on #16653
@magento-engcom-team give me 2.3.0-alpha instance

[2018-07-09 15:32] magento-engcom-team commented on #16653
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3.0-alpha instance for you

[2018-07-09 15:39] BezV8 commented on #15483
@phoenix128 Apologies for the delay in relying to this, I didn't get the email notification of a new comment. I'll try installing a fresh 2.2.5 site and report back on the fix.

[2018-07-09 15:51] jbownds opened #16654 "config:show output"
### Preconditions
1. Magento cloud build
2. php 7.1.13
3. mariadb 10.0.35
4. Magento CLI version 2.2.3

### Steps to reproduce

1. SSH to magento-cloud enviornment
2. Change directory to Bin
3. Run ./magento config:show

### Expected result
1.) A list of the configuration values in the following format:
web@4rlomlxl3j6y4a2hrpu2goapcq:~/bin$ ./magento config:show
web/unsecure/base_url - http://deve

[2018-07-09 15:51] magento-engcom-team commented on #16654
Hi @jbownds. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-09 15:57] dverkade opened #16655 "Block totalbar not used in invoice create and credit memo create screens"
In the following layout files the Magento\Sales\Block\Adminhtml\Order\Totalbar block is defined:
- sales_order_creditmemo_new.xml
- sales_order_creditmemo_updateqty.xml
- sales_order_invoice_new.xml
- sales_order_invoice_updateqty.xml

However up on investigation I found that this block doesn't do anything and seems to be deprecated. Even when it does render something there is no styling. All styl

[2018-07-09 15:57] magento-engcom-team commented on #16655
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-09 16:17] molovo commented on #16234
I've done some more research into this as I needed to launch the site on which I discovered the error, and uncovered the following:

* Typing the `+` character into the field in the widget form results in `+` being inserted into the WYSIWYG, and saved directly to the database.
* When you type `&plus;` into the widget field, the text `&amp;plus;` is being inserted into the WYSIWYG, which results in

[2018-07-09 16:20] nelero commented on #11895
hi, no news ?
just ran into this issue in 2.2.3.
after adding product attributes, or updating products with store view values

[2018-07-09 16:35] dverkade commented on #16653
@engcom-backlog-nickolas I see you are using a 2.3-develop instance. I was on the 2.3.0-alpha which was installed with composer. Can that be the difference? Also I tried the command to spin up a new clean environment of Magento 2.3.0-alpha but it's not giving me an instance.

[2018-07-09 16:49] smiso opened #16657 "REST API: catalogProductAttributeManagementV1 Get returns Array insted of Boolean for is_default"
The Get endpoint from catalogProductAttributeManagementV1 of REST API returns Array instead of defined Boolean for options: is_default. I think array would be fine but should also be defined correctly in Swagger definition.

### Preconditions
Magento 2.2.5
Linux
Apache 2.2.31 (Unix) mod_fastcgi
PHP 7.0.30
MySQL 5.6.23-72.1

### Steps to reproduce
Prerequsite: Installation with multiple Store Views

[2018-07-09 16:49] magento-engcom-team commented on #16657
Hi @smiso. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-09 16:58] dan-ding commented on #16568
And I firmly object to:

That is poor UX.
It's one thing to wave warnings with IE6. It's quite another to do it with the latest Chrome (or whatever).

And I have no idea what percentage of customers do what with their browsers. I do know that I see, or hear about, symptoms of this issue almost hourly, which has been slowly increasing over the year.

[2018-07-09 16:59] hiteshagrawal84 commented on #16639
@engcom-backlog-nickolas  It should come in api instead of separate calculation as this api can be used in 3rd party application like android app.

[2018-07-09 17:00] orlangur commented on #16568
It means only that you know nothing about FPC in Magento :)

I never said this is not an issue. Just that there are multiple approaches to circumvent this situation:
1) Forbid Magento usage without local storage (from information provided by Ihor it seems to be to restrictive)
2) Remove check for too many cookies
3) Remove fallback into cookie storage (this require a proper usability testing - whe

[2018-07-09 17:08] magento2pl commented on #15049
same in 2.2.5

[2018-07-09 17:23] Ananth747 commented on #16013
@TreyTaylor1997
Please check & fix the problem from below link:
https://stackoverflow.com/questions/25520212/this-webpage-has-a-redirect-loop-in-magento

[2018-07-09 18:44] Iuri-Bertto opened #16662 "Error trying create a button into system->config"
# Declaring my button into system.xml
`<field id="moip_reset_button" type="button" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redefinir Configurações</label>
                    <frontend_model>IcozWeb\Moip\Block\Adminhtml\Button\Reset</frontend_model>
                </field>`

#My Block
`<?php

namespace IcozWeb\Moip\Block\Adminhtml\Button;

class Reset exten

[2018-07-09 18:44] magento-engcom-team commented on #16662
Hi @Iuri-Bertto. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-09 19:51] jbownds commented on #16654
A native build of cloud from github, locally leverages CLI 2.2.5, which doesn't seem to have this command. I don't have a cloud sandbox that I can reproduce this in- The current build I'm using leverages Magento CLI version 2.2.3, so this is likely the problem.

[2018-07-09 20:44] robfico commented on #11002
Will there be a patch / fix for 2.1.x?

[2018-07-09 20:48] Scqualo71 commented on #16383
**Steps to reproduce**
Example:
- configurable product (name = Automontante apertura a Libro) : minimun order = 50,  Enable Qty Increments = Yes,  quantity increments = 10
![1_configurable_product](https://user-images.githubusercontent.com/29307582/42474297-6a9a9ef4-83c7-11e8-9e23-52a218db2a23.JPG)
- simple product (name = Barchetta-Avorio-NoAccessori-12x9x3, associated at configurable product wit

[2018-07-09 21:31] testmagento2 opened #16672 "magento 2 flush cache not working"
Hi
My issue is I have two duplicate website one for dev purpose and one is my live site.

When I change for example the theme color and flush the cache, Working perfect, color is changing.

But when I do the same thing on my Live site nothing change.

I tried to do all those command.

    php70 bin/magento setup:upgrade;
    rm -rf generated/*;
    rm -rf pub/static/*;
    rm -rf var/cache/*;

[2018-07-09 21:32] rosen4o commented on #15620
Same issue after update to 2.2.5
Some filter is run on this variable content but can't find which and how to prevent it

[2018-07-09 21:32] magento-engcom-team commented on #16672
Hi @testmagento2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-09 22:52] nmklong opened #16673 "Magento install cannot continue"
I'm trying to install magento2 through the web. I got stuck on this page and clicking next doesn't do anything

![screen shot 2018-07-09 at 15 50 05](https://user-images.githubusercontent.com/1017308/42479917-ea0b75ec-838f-11e8-85dc-d26ccaa38959.png)

I open the inspector and seeing this URL is returning 500
/setup/index.php/modules
![screen shot 2018-07-09 at 15 53 43](https://user-images.githubu

[2018-07-09 22:52] magento-engcom-team commented on #16673
Hi @nmklong. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-09 22:54] nmklong commented on #16673
@magento-engcom-team yes

[2018-07-10 00:10] mkmk2018 opened #16674 "Unable to process credit card payment via Braintree on Magento 2.2.2"
### Preconditions

1. API Credential input and all info required for configuration are correct.
2. Credit card transaction will not be processed on website and no error message.

### Steps to reproduce

1.  Go to website and enter all credit card details http://meek.com.au/meekauto
2.  Page will then stay the same and not going  anywhere
3. No error message

### Expected result

1. [Screenshots, l

[2018-07-10 00:11] magento-engcom-team commented on #16674
Hi @mkmk2018. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-10 05:56] engcom-backlog-nazar commented on #15910
@Oscar-Wagento No have no error, one time randomly it's not scrolling, be free to close issue.

[2018-07-10 06:16] engcom-backlog-nickolas commented on #16653
@dverkade, thank you for feedback and pull request.
I believe 2.3.0-alpha already outdated. And if you take a look at current 2.3-develop, this block still in use
![toolbar](https://user-images.githubusercontent.com/40755810/42492400-a194d942-8421-11e8-988b-b130eb16eace.png)
So, I'm closing this issue, if you don't mind. And our team will process your pull request. Feel free to reopen it if needed

[2018-07-10 06:16] #16653 closed, assigned to nobody

[2018-07-10 06:17] engcom-backlog-nazar commented on #15815
Hi @shater1990  in settings you need to Add Secret Key to URLs -> no

[2018-07-10 06:17] #15815 closed, assigned to nobody

[2018-07-10 06:32] lbajsarowicz commented on #16440
Thanks for the information about the fix.

[2018-07-10 07:01] opnpnt opened #16679 "Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Mail\Template\FactoryInterface"
I 've been getting the below listed exception. And also during reindexing from command cli same exception occurs.

### Preconditions

1.  Magento 2.2.4
2.  PHP 7.0.29
3. MySQL 5.7

### Steps to reproduce
1. Call http://gerard-paris.com
2.
3.

### Expected result
Frontpage should appear

### Actual result
Fatal error: Uncaught Error: Cannot instantiate interface Magento\Framework\Mail\Template\Fact

[2018-07-10 07:01] magento-engcom-team commented on #16679
Hi @opnpnt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-10 07:03] engcom-backlog-nazar commented on #15852
Hi @Daisy288 This issue has already been fixed in 2.2-develop branch

[2018-07-10 07:15] kervin commented on #14952
Yes mail is ok when Amazon Payment is disabled.

[2018-07-10 07:21] opnpnt commented on #16679
solved. The email module was deactivated.

[2018-07-10 07:21] #16679 closed, assigned to nobody

[2018-07-10 07:21] engcom-backlog-nazar commented on #15852
- "Flate Rate" shipping method is enabled and has default price = 5.00 (Store > Configuration > Sales > Shipping Method tab Flat Rate)
- Tax Rule based on new specific tax rate is created (Stores > Tax Rules)
- Tax Rate configuration
- Tax Identifier = New Tax Rate
- Zip/Post Code = *
- State = *
- Country = United States
- Rate Percent = 20
- Simple Product is created
- Tax has next configuration

[2018-07-10 07:41] wojtekn commented on #10258
This looks as not connected with CORS at all. This behavior was introduced in 2.1.7 by adding the \Magento\Webapi\Model\Plugin\Authorization\CustomerSessionUserContext plugin:

    public function afterGetUserId(
        \Magento\Customer\Model\Authorization\CustomerSessionUserContext $userContext,
        $result
    ) {
        return $this->request->isXmlHttpRequest() ? $result : null;
    }

T

[2018-07-10 07:43] Gurdit commented on #16536
Hello @engcom-backlog-nickolas , Thank you for the acknowledgement .

[2018-07-10 07:45] engcom-backlog-nickolas commented on #16654
@jbownds, thank you for your report. I wasn't able to reproduce this issue locally on Magento CE version.
Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Ma

[2018-07-10 07:45] #16654 closed, assigned to nobody

[2018-07-10 07:56] TreyTaylor1997 commented on #16013
@Ananth747 that's not applicable to me, it doesn't get passed setup, it has no core_config_data to read from ..

[2018-07-10 07:57] Swahjak commented on #16598
@orlangur I think we have a different definition of legacy. If I'm correct you are talking about the fact that 'setCoupon' is not part of the Interface 'contract', which I get. But what I do not understand is how to work with Repositories in combination with models if the model does not extend an interface. Are you trying to say that all future models will be in `Model\Data`?

[2018-07-10 07:59] engcom-backlog-nazar commented on #15652
Hi @bibiseb thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 08:02] engcom-backlog-nickolas commented on #16020
Hello @k4emic, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 08:04] engcom-backlog-pb commented on #16673
@nmklong, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-10 08:04] #16673 closed, assigned to nobody

[2018-07-10 08:05] xtremeperf commented on #16652
@adityagaurin2018 , can you install and try again using the latest release (2.2.5)?  A major bug was fixed between 2.2.4 and 2.2.5 that would have fixed this type of issue.  Please report back your findings.

Thanks

[2018-07-10 08:06] engcom-backlog-pb commented on #16672
@testmagento2, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-10 08:06] #16672 closed, assigned to nobody

[2018-07-10 08:07] xtremeperf commented on #16652
@magento-engcom-team give me 2.2.4 instance

[2018-07-10 08:07] magento-engcom-team commented on #16652
Hi @xtremeperf. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-10 08:07] magento-engcom-team commented on #16652
Hi @xtremeperf, here is your [Magento instance](https://i-16652-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16652-2-2-4.engcom.dev.magento.com/admin](https://i-16652-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-10 08:10] engcom-backlog-nickolas commented on #16674
Hello @mkmk2018, thank you for your report. Unfortunately I'm not able to reproduce this issue locally. Could you please provide more detailed steps to reproduce, or try to reproduce this issue on clean Magento installation, or latest release?

[2018-07-10 08:13] engcom-backlog-nickolas commented on #15938
Hello @orbitrod. Yes it's intended behaviour. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-10 08:13] #15938 closed, assigned to nobody

[2018-07-10 08:21] engcom-backlog-nickolas commented on #15641
Hello, @Gaboemmi, thank you for your report. Can you please specify, what browser do you use?

[2018-07-10 08:28] engcom-backlog-nazar commented on #15593
Hi @shakthivelp the fix for this issue has already fixed  in 2.2-develop branch.

[2018-07-10 08:42] #15593 closed, assigned to nobody

[2018-07-10 09:02] engcom-backlog-pb commented on #15403
@tristanisginger, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-10 09:06] TreyTaylor1997 commented on #16013
@Ananth747 @engcom-backlog-pb

I just succesfully installed Magento2 using command line - and everything else works, just the /setup url had the error - so doesn't look to be fully server conf issue, rather than a /setup path issue..

[2018-07-10 09:08] orlangur commented on #16598
@Swahjak in order to set coupon data you should find a proper contract-interface first and then use it. There is no need to think about underlying model at all.

If at some point legacy model will be replaced with a more lightweight one, your code following contracts won't break you may even not notice the difference.

[2018-07-10 09:51] enl commented on #13415
Hello @sidolov

As I can see from @julienanquetil code, it fixes only gift message related IDs. What about billing address form? Is it extracted in separate issue?

[2018-07-10 09:59] gaurid-iprogrammer commented on #2404
Hi,

I am new bee to magento, need help from you guys.
I am getting the issue after running following command
sudo php bin/magento setup:di:compile

error : [ReflectionException]
  Class Magento\Config\Model\Config\Reader\Source\Deployed\DocumentRoot does not exist

This is my local environment:
Magento: 2.1.10
Php: 7.0.30

[2018-07-10 10:11] engcom-backlog-nazar commented on #15446
Hi @jigardhaduk i  cannot reproduce this on 2.2-develop branch

[2018-07-10 10:17] engcom-backlog-pb commented on #15420
@etcik1, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 10:20] engcom-backlog-nickolas commented on #15630
Hello @SRaromicon, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 10:28] engcom-backlog-nickolas commented on #15626
Hello @dverkade, thank you for your report and pull requests. I'm closing this issue as pull requests already have been merged to mainline.

[2018-07-10 10:28] #15626 closed, assigned to nobody

[2018-07-10 10:35] dvcm commented on #12679
Magento  Version 2.2.5
PHP: 5.6.30
libmysql - 5.1.73
Version server: 5.6.32-78.1

why does the path add this? resource =

and why does the system exchange the script by file?

https://ilubrasileiro.com.br/pub/static/frontend/Magento/luma/pt_BR/Magento_Tax/js/view/checkout/cart/totals/tax.js/?resource=frontend/Magento/luma/pt_BR/Magento_Tax/js/view/checkout/cart/totals/tax.js

![screen shot 2018-07

[2018-07-10 10:35] adampmoss opened #16682 "Product textarea attribute using WYSIWYG - directive URL not replaced by actual URL"
This was resolved for CMS pages with images uploaded using the WYSIWYG here: https://github.com/magento/magento2/issues/12741

This same issue exists for textarea product attributes, the directive URL is used rather than the actual product URL.

### Preconditions
1. Checked on Magento version 2.2.3

### Steps to reproduce

1. Create a textarea attribute for a product with "Enable WYSIWYG" set to Y

[2018-07-10 10:35] magento-engcom-team commented on #16682
Hi @adampmoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-10 10:44] Detzler opened #16684 "Default tax region/state appears in customer & order data"
When a default region is set for tax calculation, then this region value gets saved in the customer, quote & order data, which is not a correct behaviour from my pov.

![bildschirmfoto 2018-07-10 um 12 18 08](https://user-images.githubusercontent.com/1556434/42504759-05eb564e-843d-11e8-80e2-873fc3e4812d.png)

My case was: I have disabled the region-field in the checkout shipping form, but still, t

[2018-07-10 10:44] magento-engcom-team commented on #16684
Hi @Detzler. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-10 10:49] Detzler commented on #16684
@magento-engcom-team give me 2.2.3 instance

[2018-07-10 10:49] magento-engcom-team commented on #16684
Hi @Detzler. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-07-10 10:50] magento-engcom-team commented on #16684
Hi @Detzler, here is your [Magento instance](https://i-16684-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-16684-2-2-3.engcom.dev.magento.com/admin](https://i-16684-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-10 10:58] adampmoss commented on #16682
I wasn't able to reproduce this on vanilla 2.2.2 so I'll close this for now.

[2018-07-10 11:00] #16682 closed, assigned to nobody

[2018-07-10 11:01] engcom-backlog-nazar commented on #15446
Hi @jigardhaduk , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 11:12] Akif-dev commented on #16649
@magento-engcom-team give me {2.2.5} instance

[2018-07-10 11:15] paul-blundell opened #16686 "REST API wildcard encoding issue since 2.2.4"
I started seeing the following issue after upgrading to 2.2.5, after reverting back I found the issue was introduced in 2.2.4.

### Preconditions
1. Magento 2.2.4
2. PHP 7.0
3. MySQL 5.7
4. Allow Anonymous Guest Access = Yes

### Steps to reproduce
1. Call the following rest API endpoint: `/rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=name&searchCriteria[filter_groups][0][f

[2018-07-10 11:15] magento-engcom-team commented on #16686
Hi @paul-blundell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-10 11:17] Jeeva-Rathinam commented on #7492
Does anyone get a solution?

[2018-07-10 11:26] #15617 closed, assigned to nobody

[2018-07-10 11:30] paul-blundell commented on #16686
@magento-engcom-team yes

[2018-07-10 11:31] magento-engcom-team commented on #16686
Hi @paul-blundell. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-10 11:32] magento-engcom-team commented on #16686
Hi @paul-blundell, here is your [Magento instance](https://i-16686-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16686-2-2-4.engcom.dev.magento.com/admin](https://i-16686-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-10 11:43] engcom-backlog-nickolas commented on #15609
Hello @viniciusbordinhao-redstage, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 11:59] Swahjak commented on #16598
@orlangur that's the part that I do get. I understand why we use interfaces.

What I do not understand is why there are 2 models. One which is the 'regular' Magento 2 model (`Model\Rule`) and why there is a secondary 'data' model `Model\Data\Rule`. And why only the second can be saved without using deprecated functions. Both models have the exact same purpose; persistence. From that perspective no

[2018-07-10 12:22] engcom-backlog-pb commented on #15424
@emiprotech , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

![1](https://user-images.githubusercontent.com/40756187/42509552-f830163a-8454-11e8-8462-972e1f81598d.gif)

[2018-07-10 12:32] Detzler commented on #16684
@magento-engcom-team, I could reproduce the issue. What now?

[2018-07-10 12:37] engcom-backlog-pb commented on #15295
@tschirmer,  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation. If you'd like to update it, please reopen the issue.

[2018-07-10 12:37] #15295 closed, assigned to nobody

[2018-07-10 12:38] kerlama commented on #14134
Hi,

any progress on this one, as this is not working on 2.2.5 too.

In fact, if you add configurable product to widget and then click on add to cart button, it will go to empty cart page.

[2018-07-10 12:39] BenSpace48 commented on #15062
Any update on this please @magento-engcom-team?

[2018-07-10 12:40] ihor-sviziev commented on #14968
FYI I created patch that can be applied on Magento 2.2.5. Just use following URL:
`https://github.com/ihor-sviziev/magento2/commit/e4ec8adef586c615cda168175ad8950c701b0874.patch`

[2018-07-10 12:47] Detzler commented on #16684
Beside this issue, I'd like to give feedback to the Magento Contributor Assistant:
Very nice tool. I was able to setup the instance easily. The problem is that the instance is empty. Some dummy data like products, etc. would be nice.

[2018-07-10 13:00] engcom-backlog-pb commented on #15273
@kamilmaliszewski, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 13:12] engcom-backlog-nickolas commented on #16686
Hello @paul-blundell, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 13:16] kilis opened #16692 "Quote returns incorrect product names in all Items Magento 2.2.3"
Magento 2.2.3 In Quote item returns incorrect product name. For example we have a multi store website with a Product A with different product Name in each store.
Store A(base store): Shoe
Store B: Schuh
Adding product to cart from store B and triggering a code to get product name form quote returns base store value for name.

### Preconditions
1.  Magento 2.2.3
2. PHP 7
3. Mysql 5.7

### Steps to

[2018-07-10 13:16] magento-engcom-team commented on #16692
Hi @kilis. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-10 13:20] engcom-backlog-pb commented on #15164
@Alex1844, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 13:29] orlangur commented on #16598
No, and you shouldn't even think about underlying implementation. In some cases interface was added to existing legacy models, in some cases new data models were introduced (I saw such approach in `Customer` module).

This is completely wrong. None of these models is able to persist itself. Persistance is responsibility of resource models, repositories, sometimes entity manager (see https://github

[2018-07-10 13:29] matin73 commented on #6585
Bug still exists in Magento 2.2.4 - will this bug be fixed soon?

[2018-07-10 13:34] kilis commented on #16692
Edited comment since i mentioned results other way around. Should be correct now.
### Expected result
1. Quote stores product name Schuh in database
2. getName returns Schuh

### Actual result
1. Quote stores product name Schuh in database
2. getName returns Shoe

[2018-07-10 13:45] dverkade commented on #16653
Hi @engcom-backlog-nickolas

As you can see in your screenshot the totalbar block is empty and not rendering anything (see highlight in my screenshot below). I could not find and screen where this was actually rendering something (See issue #16656). Also if it does render something there is no styling attached to it, so would look very weird as shown here: #16563#issuecomment-403501388

![image](h

[2018-07-10 14:00] engcom-backlog-nickolas commented on #16653
@dverkade, thanks for feedback and investigation. Still, issue described here not reproducible on 2.3-develop anymore, so I leave it closed for now.
You may create another issue with steps, actual and expected results which reflect more correctly current behaviour on 2.3-develop branch. It will help more easily process pull request to 2.3-develop branch.

[2018-07-10 14:05] arnoudhgz commented on #16652
The error message shows that it is trying to parse a text/html file. Probably that is a 404 page not found. Did you do all the default `bin/magento` calls, like `setup:upgrade`, `setup:di:compile`, `setup:static-content:deploy`?

[2018-07-10 14:08] arnoudhgz commented on #16574
@DennisxCore did you do a complete reindex with `bin/magento indexer:reindex`? Did you clean the appropriate caches?

[2018-07-10 14:10] eduard13 commented on #14248
I will work on it.

[2018-07-10 14:16] DennisxCore commented on #16574
Yes I tried everything. I cleared the cache in Magento 2, and I reindex all via the "bin/magento indexer:reindex" command.

[2018-07-10 14:21] adityagaurin2018 commented on #16652
Thanks for all your contribution.

This issue related with Issue number #13610
https://github.com/magento/magento2/issues/13610

[2018-07-10 14:21] #16652 closed, assigned to nobody

[2018-07-10 14:31] engcom-backlog-pb commented on #15226
@springimport, this GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-10 14:31] #15226 closed, assigned to nobody

[2018-07-10 14:34] engcom-backlog-nazar commented on #15417
Hi @nadeefit6  The fix for this issue is already available in the 2.2-develop branch.

[2018-07-10 14:51] DanielRuf commented on #7165
This still happens in some cases.
I guess this is some race condition and missing lockfile checks when an install / deployment and a cronjob access the setup at the same time.

[2018-07-10 14:53] engcom-backlog-pb commented on #15219
@msieprawski, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 15:02] engcom-backlog-pb commented on #15118
@gwharton, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-10 15:05] engcom-backlog-nickolas commented on #16692
Hello @kilis, thank you for your report. Unfortunately I cannot reproduce this issue.
![peek 2018-07-10 17-52](https://user-images.githubusercontent.com/40755810/42518912-90341038-846b-11e8-8bc1-1e815e801603.gif)
Could you please correct my steps, or add more details?

[2018-07-10 15:05] engcom-backlog-pb commented on #15120
@mariamghalleb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-10 15:05] #15120 closed, assigned to nobody

[2018-07-10 15:12] dan-ding commented on #16568
Haha so silly @orlangur

Yeah, you're right, I know nothing about magento or fpc.  Geez, I was going to suggest

4. Fix the code that is messing up the cookies when local/session storage isn't there.

How dumb is that idea, right?!

[2018-07-10 15:13] engcom-backlog-pb commented on #16383
@Scqualo71, please ask bot for instance and try to reproduce this issue on a clean installation. See instruction in this [post](https://github.com/magento/magento2/issues/16383#issuecomment-399957811)

[2018-07-10 15:13] DennisxCore commented on #16574
@arnoudhgz you mean the from (von) date or to (bis) date? Here are my full settings now.

![fireshot capture 016 - 20 fur handler _ katalogpreisregel __ - https___www koemo de_admin_1ifq04_](https://user-images.githubusercontent.com/39742004/42519570-9bafc83c-8464-11e8-88a1-aae9580bd78c.png)

[2018-07-10 15:15] Swahjak commented on #16598
I don't want to, but then

I have to. In some cases I have to use a Model, in some cases I have to use a Data Model. Sometimes you can save Models with a repository, sometimes you can't. Exactly my point.

Fair enough, I should have been more precise here. My point is that both models hold data destined for persistence.

[2018-07-10 15:17] Aerue commented on #15215
I just come accross this problem.
The CategoryFactory just should use the storeId passed in before calling storeManager to get the storeId.

Temporary fixed that by doing the following

    $categoryProto = $this->categoryFactory->create();
    $categoryProto->setParentId(2);
    $categoryProto->setIsActive(false);
    $categoryProto->setName('Admin name');
    $this->storeManager->setCurrentStore

[2018-07-10 15:21] oleksii-lisovyi commented on #15579
@engcom-backlog-nazar, in order to get No Payment Information required label you need to use "Custom Price" check mark with 0 value:
![image](https://user-images.githubusercontent.com/3918875/42520077-1405231e-846e-11e8-93fe-428170794228.png)
 and some free shipment method to have grand total = 0.

[2018-07-10 16:07] wintermute-84 commented on #15215
actually === is not an issue. We had a faulty patch that did that, so my bad.
But the store overwrite is still there.

[2018-07-10 16:11] cherednichenkoa opened #16696 "Question . Is it possible to report an issue or PR to EE version ?"
Hello, during Magento upgrade from EE 2.2.3 -> EE 2.2.5 I have noticed that several extensions, are not compatible with magento split database, I see it is 3rd party vendor
Modules below are not compatible with split database solution, I understand that modules from 3rd party vendors, but how is it possible that special feature of EE, do not assume compatibility with EE features ?

1. Vertex_Tax
2

[2018-07-10 16:11] magento-engcom-team commented on #16696
Hi @cherednichenkoa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-10 16:32] vegangirlthatcodes commented on #16587
I'm also experiencing this, but on the login page.

@magento-engcom-team give me 2.2.5

[2018-07-10 16:32] #16568 closed, assigned to nobody

[2018-07-10 17:57] cmuench commented on #16129
The issue occured today in my Magento Commerce 2.2.5 installation.

[2018-07-10 18:32] novikor commented on #15935
Already fixed in 2.2-develop (future 2.2.6): a892d87bc3b7fe2819ccdff01ef04b30a72fbe70, 70cbd3cf8b46d18824b316c55c93ea68ffbc47d3.

I will create a backport for Magento 2.1

[2018-07-10 19:19] ranjithtsims commented on #11708
Any update on this issue? @magento-engcom-team

[2018-07-10 19:56] dv-denda commented on #8018
@siment thank you, it worked for me

[2018-07-10 21:20] JRhyne opened #16703 "User Agent Rules table headers do match content of rows."
### Preconditions
1. Magento 2.2.4
2. PHP 7.1
3. MariaDB 10.1.33

### Steps to reproduce
1. Get to the page where you can edit a design configuration (change the theme)
2. Click on 'Add New User Agent Rule' under User Agent Rules

### Expected result
1. The headers of the user agent rules table should align with the content of the table's rows.

### Actual result
1. The headers of the user agent r

[2018-07-10 21:20] magento-engcom-team commented on #16703
Hi @JRhyne. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-10 21:21] JRhyne commented on #16703
@magento-engcom-team give me 2.2.4 instance

[2018-07-10 21:21] magento-engcom-team commented on #16703
Hi @JRhyne. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-10 21:22] magento-engcom-team commented on #16703
Hi @JRhyne, here is your [Magento instance](https://i-16703-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16703-2-2-4.engcom.dev.magento.com/admin](https://i-16703-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-10 22:28] orlangur commented on #16696
Hi @cherednichenkoa EE (currently known as Magento Commerce) issues are supposed to be reported via

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

There is a partner program which allows contributions for ee/b2b code.

As a workaround you can get rid of unneeded

[2018-07-10 22:38] orlangur commented on #11899
@PeteZero1 corresponding issue is still open.

[2018-07-10 23:14] orlangur commented on #14646
@kirmorozov GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-10 23:14] #14646 closed, assigned to nobody

[2018-07-10 23:19] orlangur commented on #14981
Feature suggestion looks pretty nice to me 👍

Small notes:
1) We should not forget about modularity, besides `Magento_Gpdr`/`Magento\Framework\Gpdr` there should be `Magento_CustomerGpdr` etc
2) What is PII and what is not is better to be defined in declarative manner (something similar to what we define as private data)

GitHub is intended for bug reports, please use https://github.com/magento/co

[2018-07-10 23:19] #14981 closed, assigned to brobie

[2018-07-11 00:21] orlangur commented on #16568
@dan-ding it's the same as

And I just suggested you to check how usable will be Magento with such removal.

[2018-07-11 01:59] baddwin commented on #7340
Hi, I got the same issue in M 2.2.4 sometimes, but with a custom shipping module.

the issue is occurred for logged in user, when adding a new address and **don't check the checkbox** to save it.
![screenshot_20180711_085050](https://user-images.githubusercontent.com/7449857/42546468-adda9d74-84e7-11e8-8843-02033f8f546c.png)

the issue still occurred after edit that address, and check the checkbox

[2018-07-11 02:42] BubblegumAnarchy commented on #8377
Just encountered this in 2.2.5 as well

[2018-07-11 03:24] #3936 closed, assigned to nobody

[2018-07-11 06:16] engcom-backlog-nickolas commented on #16703
Hello @JRhyne, thank you for your report and pull request.
We've acknowledged the issue and added to our backlog.

[2018-07-11 06:20] ishakhsuvarov commented on #16684
@Detzler Thanks for the feedback. We are looking to implement something like that in the future

[2018-07-11 06:27] #16696 closed, assigned to nobody

[2018-07-11 06:38] engcom-backlog-nickolas commented on #16622
Hello @matinict, thank you for your report. Could you please specify magento version you are using? And what do you mean by "Different language For Same Product Name"? Does your product have different names on different store views?

[2018-07-11 06:42] sheldmandu opened #16706 "Performance issues as catalog:images:resize cannot utilize multi-core CPU"
### Preconditions

1. Magento 2 installed (version doesn't matter) on an 8-core server
2. Catalog with 500 products with 4 high-res images each with size of 3888x2592 pixels
3. Image cache deleted

### Steps to reproduce

1. Run catalog:images:resize on command-line

### Expected result

1. It should be made possible to split processing between multiple CPU cores through use of parameters (e.g. ba

[2018-07-11 06:42] magento-engcom-team commented on #16706
Hi @sheldmandu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-11 06:48] Daisy288 commented on #15852
Thank you for your reply

[2018-07-11 06:49] kilis commented on #16692
@engcom-backlog-nickolas
Hmm...
We have Magento 2.2.3 EE version. I guessed it also affected Magento 2.2.3 CE.
My Suggestion for now try it like this (to be correct we have this implimentation).
1. Create Reminder Rule for EE that if customer forgets its item from cart it sends reminder email.
2. Reminder Rule passes Quote item and from that gets Product name as variable.
3. Passes that name varia

[2018-07-11 07:06] engcom-backlog-nazar commented on #15147
Hi @grichards the fix for this issue has already been available in 2.3-develop branch

[2018-07-11 07:21] engcom-backlog-nickolas commented on #16692
@kilis, thanks for feedback. GitHub is intended for Magento Open Source users to report on issues related to Open Source only. Could You please provide steps to reproduce for CE version, or You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account or If You are a Partner reporting on behalf of a merchant, use the Partner portal.

[2018-07-11 07:22] engcom-backlog-nickolas commented on #16706
Hello @sheldmandu, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 07:22] engcom-backlog-nazar commented on #15126
Hi @ray2095 the fix for this issue has already been in 2.2-develop branch.

[2018-07-11 07:40] Shijinmenon commented on #7198
Same issue is there in Magento ver. 2.1.9 for Australian zip codes

Country | Region/State | Zip/Postal Code | Order Subtotal (and above) | Shipping Price
-- | -- | -- | -- | --
AUS | * | 3000 | 200 | 200

[2018-07-11 07:52] engcom-backlog-nickolas commented on #16692
@kilis, I've tried to move store view to second website, still got correct product name.
![peek 2018-07-11 10-53](https://user-images.githubusercontent.com/40755810/42557941-7a2c3008-84f8-11e8-99ae-d244ee8dd642.gif)

[2018-07-11 07:53] vaso123 commented on #7171
And still exists in 2.2.5

[2018-07-11 07:58] sidolov commented on #7399
Hi @thdoan. Thank you for your report.
The issue has been fixed in magento/magento2#16665 by @mageprince in 2.1-develop branch
Related commit(s):
 - [4c53cafc638476cdb631f38919b0b795c15db627](https://github.com/magento/magento2/commit/4c53cafc638476cdb631f38919b0b795c15db627)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-11 07:58] sidolov commented on #10210
Hi @diybook. Thank you for your report.
The issue has been fixed in magento/magento2#16601 by @gwharton in 2.1-develop branch
Related commit(s):
 - [390fc2f6ed3369554618d965a45985fe332b982d](https://github.com/magento/magento2/commit/390fc2f6ed3369554618d965a45985fe332b982d)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-11 08:08] engcom-backlog-nazar commented on #15062
HI @kerlama  thank you for you report. the fix for this issue has already been in 2.3-develop branch

[2018-07-11 08:22] engcom-backlog-nazar commented on #15049
Hi @jsdupuis  the fix for this issue has already been in 2.2-develop branch
![selection_021](https://user-images.githubusercontent.com/40756439/42559429-bd4098da-84fc-11e8-921d-7d00979cdb3f.png)

[2018-07-11 08:23] engcom-backlog-nickolas commented on #15686
Hello @FreekVandeursen, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 08:23] #15049 closed, assigned to nobody

[2018-07-11 08:32] adamlavery commented on #12970
This issue can be resolved by setting the grouped product Manage Stock = No.

@magento-engcom-team, should grouped products be fixed to manage_stock=no? The grouped product is just a display container. There should never be any stock of the container to manage.

[2018-07-11 09:02] orlangur commented on #16706
GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-11 09:02] #16706 closed, assigned to nobody

[2018-07-11 09:03] orlangur commented on #16639
@hiteshagrawal84, but, with current API this logic is placed on client side.

GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-11 09:03] #16639 closed, assigned to nobody

[2018-07-11 09:05] orlangur commented on #15743
GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

You can use Update Attributes feature also.

[2018-07-11 09:05] #15743 closed, assigned to nobody

[2018-07-11 09:06] orlangur commented on #15869
GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-11 09:06] #15869 closed, assigned to nobody

[2018-07-11 09:10] Rann1 commented on #10454
Seems a similar issue : https://github.com/magento/magento2/issues/15047

[2018-07-11 09:10] matinict commented on #16622
Magento ver. 2.2.3
Store View:  ENG, ARABIC
Different language For Same Product Name:YES
Does your  different names on different store views:YES

[2018-07-11 09:21] JamesAllwood commented on #15743
@orlangur - you can't use the update attributes feature, as my example for barcode, they would be unique. As mentioned, it's a valuable feature of M1, so I'd personally still classify it as a bug that it's not available.

[2018-07-11 09:24] ghost opened #16710 "Unable to Recover Password - Reset password token expired"
### Preconditions
1. Magento 2.2.5
2. PHP 7.0.30

### Steps to reproduce
1. Upgraded magento store from 2.1.9 to 2.2.5
2. Go to Sign in > Forgot Your Password?
3. Add email and captcha
4. Open the email and click on "Set a New Password"

### Expected result
1. See the reset password form (resetforgottenpassword.phtml)

### Actual result
1. The user is redirected to the Forgot you password form wit

[2018-07-11 09:33] engcom-backlog-pb commented on #16684
@Detzler , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-07-11 09:39] orlangur commented on #15743
This could be a feature in M1 but still a missing feature in M2, requiring bigger efforts than just a bugfix.

[2018-07-11 09:45] engcom-backlog-nazar commented on #15047
@kinhcan this is dublicate to -> https://github.com/magento/magento2/issues/10454

[2018-07-11 09:51] Detzler commented on #16684
@engcom-backlog-pb thanks for the video.. Didn't you place the order? After that, you will see the state in the backend order view and also in the order confirmation mail

[2018-07-11 09:55] DanielRuf commented on #15869
Well, in general it is a bug ;-)

I'll create a PR then.

[2018-07-11 09:59] engcom-backlog-nazar commented on #15098
HI @maniram1804
You must include these request parameters in the Authorization header in the call: oauth_consumer_key ->
oauth_signature_method ->
oauth_signature->
oauth_nonce->
oauth_timestamp->
oauth_version

The response contains these fields:
oauth_token. The token to be used when requesting an access token.
oauth_token_secret. A secret value that establishes ownership of the token.

[2018-07-11 09:59] #15098 closed, assigned to nobody

[2018-07-11 10:09] faniuta commented on #15008
same issue in ver 2.2.5

[2018-07-11 10:19] mam08ixo opened #16712 "Config backend models are not populated with fieldset data"
In config backend models, it was possible to access all configured values from the current group. This is especially important for performing sanity checks/validation of _config value combinations_. A recent commit (faint suspicion: 4af80a2) broke that. All config values that are processed _after_ the current field can no longer be accessed via `\Magento\Framework\App\Config\Value::getFieldsetData

[2018-07-11 10:19] magento-engcom-team commented on #16712
Hi @mam08ixo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-11 10:46] engcom-backlog-pb commented on #15215
@wintermute-84, thank you for your report.
This is an intended behavior. Method "setStoreId" is absent in CategoryInterface, so you should not expect it to work. Please use "setCurrentStore" method of StoremanagerInterface.

[2018-07-11 10:46] #15215 closed, assigned to nobody

[2018-07-11 11:00] engcom-backlog-nazar commented on #15036
Hi @ipsperoteck The fix for this issue has already in 2.2-develop branch

[2018-07-11 11:04] engcom-backlog-pb commented on #16684
@Detzler, thank you for clarification.
We've acknowledged the issue and added to our backlog.

[2018-07-11 11:16] engcom-backlog-nazar commented on #15006
Hi @2base  colse issue by @tomekjordan  comment.

[2018-07-11 11:16] #15006 closed, assigned to nobody

[2018-07-11 11:21] vegangirlthatcodes commented on #16710
I've already tested in a clean instalation and was unable to reproduce. Only on an Upgrade.

@magento-engcom-team give me 2.2.5 instance so I can try on your environment.

[2018-07-11 11:22] magento-engcom-team commented on #16710
Hi @vegangirlthatcodes. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-11 11:22] magento-engcom-team commented on #16710
Hi @vegangirlthatcodes, here is your [Magento instance](https://i-16710-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16710-2-2-5.engcom.dev.magento.com/admin](https://i-16710-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-11 11:23] #16622 closed, assigned to nobody

[2018-07-11 11:33] engcom-backlog-nazar commented on #14969
Hi @bastc you need to click for next page, then again to first page, so after that you able to drag & drop elements

[2018-07-11 11:33] engcom-backlog-pb commented on #15208
@efimov-ivan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce. if it is possible, please record a video.

[2018-07-11 11:37] engcom-backlog-pb commented on #16710
@vegangirlthatcodes, thank you for your report. Seems like your problem is caused by custom modules. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.
If you'd like to update it, please reopen the issue.

[2018-07-11 11:37] #16710 closed, assigned to nobody

[2018-07-11 11:45] engcom-backlog-pb commented on #15481
@gitgiangalbe, thank you for your report.
As the problem is solved after updating Magento, we are closing this issue. If you'd like to update it, please reopen the issue.

[2018-07-11 11:45] #15481 closed, assigned to nobody

[2018-07-11 11:48] sanderjongsma commented on #6817
I fixed this issue by disabling the persistent shoppingcart. `Stores -> Configuration -> Customers -> Persistent Shopping Cart -> Enable Persistence`

I found it by debugging this Observer: `magento/module-persistent/Observer/CheckExpirePersistentQuoteObserver.php`. This observer is triggered by `controller_action_predispatch`. In this file is are a few checks and if they pass they will expire the

[2018-07-11 11:49] sanderjongsma commented on #12572
I fixed this issue by disabling the persistent shoppingcart. `Stores -> Configuration -> Customers -> Persistent Shopping Cart -> Enable Persistence`

[2018-07-11 12:13] OvalMedia opened #16714 "False memory limit error in update.log"
### Preconditions

1. PHP 7.1 fcgi
2. Magento 2.2.4

### Steps to reproduce

1. setup cron
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

Repeated entries in update.log:

It admits the limit is set to 2048M but complains it should be 756M or MORE.

[2018-07-11 12:13] magento-engcom-team commented on #16714
Hi @OvalMedia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-11 12:14] engcom-backlog-nazar commented on #15048
Hi @Bhavik-kumar the fix for this issue has already in 2.2-develop branch

[2018-07-11 12:20] engcom-backlog-nickolas commented on #15605
Hello @duckchip, thank you for your report. Unfortunately I wasn't able to reproduce it.
![peek 2018-07-11 15-19](https://user-images.githubusercontent.com/40755810/42570807-c2ebf8bc-851d-11e8-954c-ce01df118255.gif)
Could you please correct my steps, or add more details?

[2018-07-11 12:30] mmenozzi commented on #16129
@engcom-backlog-pb this IS a Magento Core technical issue.

[2018-07-11 12:36] sidolov commented on #7399
Hi @thdoan. Thank you for your report.
The issue has been fixed in magento/magento2#16664 by @mageprince in 2.3-develop branch
Related commit(s):
 - [76ae28f82032a0af152d3285bedc1ffa46ff2055](https://github.com/magento/magento2/commit/76ae28f82032a0af152d3285bedc1ffa46ff2055)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-11 12:36] sidolov commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#16640 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [6fd1eda49bb1da193d53eab7f0fe9dae1a04d605](https://github.com/magento/magento2/commit/6fd1eda49bb1da193d53eab7f0fe9dae1a04d605)
 - [f00c37a91d155f2cab74d747a5f819c3b408dede](https://github.com/magento/magento2/commit/f00c37a91d155f2cab74d747a5f819c3

[2018-07-11 12:36] sidolov commented on #10210
Hi @diybook. Thank you for your report.
The issue has been fixed in magento/magento2#16600 by @gwharton in 2.3-develop branch
Related commit(s):
 - [cdbd32412cd3497a9df8d961fda8c4ac386a33c7](https://github.com/magento/magento2/commit/cdbd32412cd3497a9df8d961fda8c4ac386a33c7)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-11 12:36] sidolov commented on #14593
Hi @apomili. Thank you for your report.
The issue has been fixed in magento/magento2#16623 by @mageprince in 2.3-develop branch
Related commit(s):
 - [0fdc0a87d96608380790f298343eb9ae7e0886ee](https://github.com/magento/magento2/commit/0fdc0a87d96608380790f298343eb9ae7e0886ee)
 - [07f7d83d3ec7658fe678a07e698d3ec2f6513cf4](https://github.com/magento/magento2/commit/07f7d83d3ec7658fe678a07e698d3ec2f

[2018-07-11 12:40] engcom-backlog-nickolas commented on #15848
Hello @DanielRuf, thank you for your report.
GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-11 12:59] engcom-backlog-pb commented on #15461
@Vossie1975, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 13:00] DanielRuf commented on #15848
This is an actual bugreport. There is a missing variable.

[2018-07-11 13:00] DanielRuf commented on #15848
I can also provide a PR then if no other developer wants to contribute to solve this easy issue.

[2018-07-11 13:01] OvalMedia opened #16719 "Error when putting a product into cart"
### Preconditions

1. PHP 7.1 fcgi
2. Magento 2.2.4
3. Production mode

### Steps to reproduce

1. Put a product to cart
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. Frontend error message: the product could not put into cart
2. Error in exception.log: [2018-07-11 12:58:17] main.CRITICAL: Notice: tempnam(): file created in the system's temporary director

[2018-07-11 13:01] magento-engcom-team commented on #16719
Hi @OvalMedia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-11 13:02] engcom-backlog-pb commented on #16719
@OvalMedia, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-11 13:02] #16719 closed, assigned to nobody

[2018-07-11 13:04] OvalMedia commented on #16714
The error goes away once I set the memory limit to exactly 756M.

[2018-07-11 13:06] OvalMedia commented on #16719
Yeah, that's easy...

[2018-07-11 13:13] serhiirepin commented on #7170
@magento-engcom-team same issue in 2.2.5

[2018-07-11 13:14] engcom-backlog-pb commented on #15406
@enrajatjain, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-11 13:14] #15406 closed, assigned to nobody

[2018-07-11 13:22] serhiirepin commented on #7170
[source](http://bit.ly/2NJTPhB) - can we skip `is_numeric` in line 1359 ?

[2018-07-11 13:29] serhiirepin commented on #7170
Temporary solution:
replace line 1359 in `module-eav/Model/Entity/AbstractEntity.php`
from:
`} elseif (!is_numeric($v) && $v !== $origData[$k] || is_numeric($v) && $v != $origData[$k]) {`
to:
`} elseif ($v !== $origData[$k]) {`

[2018-07-11 13:29] engcom-backlog-nickolas commented on #15533
Hello @qsolutions-pl, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
![peek 2018-07-11 16-20](https://user-images.githubusercontent.com/40755810/42574582-5bfb8492-8527-11e8-92cf-aa8aa12f7612.gif)
Could you please correct my steps or add more details.

[2018-07-11 13:34] orlangur commented on #16714
@OvalMedia please try to debug work of `\Magento\Framework\Convert\DataSize::convertSizeToBytes` on your environment further. At first glance it looks okay.

[2018-07-11 13:37] zachGirit commented on #8933
Got the same issue here on 2.2.5 i notice that after i re-index i can save only once before getting again a deadlock.
however, if i set a URL key i see i don't get deadlock on saving a product.

[2018-07-11 14:05] vlauria commented on #14236
With Magento 2.2.4 the issue is in Magento\Framework\Mail\Template\TransportBuilderByStore, after setFrom not reset header from.

Add this function:
[code]
and replace function setFromByStore with

[code]

[2018-07-11 14:07] engcom-backlog-nickolas commented on #15497
Hello @Orstio, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 14:09] heldchen commented on #14236
@vlauria this will still instantiate a new message each time setFromByStore is called, and as such break multiple sending. check the zip I've added a few comments above for a working patch.

[2018-07-11 14:31] david-kominek commented on #14236
@magento-engcom-team Could we have this re-reviewed or clarification added? It seems to be an actual issue with a fairly simple solution.

[2018-07-11 14:33] engcom-backlog-pb commented on #15419
@breg-13, thank you for your report.
Unfortunately, it's unclear what result are you expecting. Please update the issue.

[2018-07-11 14:41] engcom-backlog-nazar commented on #14909
HI @nicolai-hoeks I cannot reproduce by your scenarios steps can you provide more information about this ?

[2018-07-11 14:46] DigiBlooD opened #16722 "Facebook Social Integration fails to activate."
When i try to activate the Facebook Social integration the popup fails with en error message.

### Preconditions
1. Magento v2.2.5
2. PHP v7.1.19
	- bcmath
	- dba
	- dom
	- enchant
	- fileinfo
	- gd
	- imagick
	- imap
	- intl
	- json
	- ldap
	- mbstring
	- mcrypt
	- mysqli
	- mysqlnd
	- oauth
	- odbc
	- opcache
	- pdo
	- pdo_odbc
	- pdo_pgsql
	- pdo_sqlite
	- pgsql
	- phar
	- posix
	- pspell
	- sn

[2018-07-11 14:46] magento-engcom-team commented on #16722
Hi @DigiBlooD. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-11 14:49] hitesh-wagento commented on #15848
I am working on this PR

[2018-07-11 14:50] engcom-backlog-nazar commented on #15579
@oleksii-lisovyi  ok im reproduced it on 2.2-develop branch

[2018-07-11 14:53] DigiBlooD commented on #16722
@magento-engcom-team give me 2.2.5 instance

[2018-07-11 14:53] magento-engcom-team commented on #16722
Hi @DigiBlooD. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-11 14:53] magento-engcom-team commented on #16722
Hi @DigiBlooD, here is your [Magento instance](https://i-16722-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16722-2-2-5.engcom.dev.magento.com/admin](https://i-16722-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-11 14:57] engcom-backlog-nazar commented on #15579
@oleksii-lisovyi  this issue has already been fixed on 2.3-develop branch
thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 14:58] engcom-backlog-pb commented on #15311
@PierreLeMaguer, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 15:08] jeffb1a5 commented on #10454
Still problem in 2.2.4, is anyone working on this?

[2018-07-11 15:11] DigiBlooD commented on #16722
"Marketing" -> "Social" -> "Connect to Facebook" not available on the vanilla Magento instance generated therefore not able to test or confirm.

[2018-07-11 15:15] engcom-backlog-pb commented on #15155
@peterlembke,  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 15:17] kanduvisla commented on #15196
It turns out my little trick no longer works (perhaps the 2.2.5 update caused it to stop working).

Isn't there any way to disable certain modules for running integration tests on a local development setup? Anyone? Already spent way too much time on this one.

@magento-engcom-team : perhaps add an extra flag to `phpunit.xml` to opt-in for automatically enable all the modules for your integration t

[2018-07-11 15:17] TryPicks opened #16723 "Blocks (Content/Blocks) don't appear"
### Preconditions

1. Magento 2.2.5
2. FreeGo Theme (Solwin)

### Steps to reproduce

1. Admin page
2. Content
3. Blocks

### Expected result

1. All blocks appear like footer_links ...

### Actual result

1. No blocks appear (We couldn't find any records.)

[2018-07-11 15:17] magento-engcom-team commented on #16723
Hi @TryPicks. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-11 15:19] DanielRuf commented on #16723
I guess this is the issue here or where the issue occurs if all caches and the deployment task were executed.

[2018-07-11 15:20] engcom-backlog-pb commented on #15088
@DanielRuf, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-11 15:20] #15088 closed, assigned to nobody

[2018-07-11 15:20] TryPicks commented on #16723
Yeah... maybe... and how can I fix it? The footer links are in default, I need to change Urls and add some more info, like Contact information and more...

[2018-07-11 15:31] dan-ding commented on #16568
NO it's not the same. I ... I ...

@orlangur this is a ridiculous conversation which you seem incapable, and why I closed the ticket. You want to experiment, then YOU do it. Geezz, you want to talk about adding buggery code to show warnings or other nonsense -- yet that **already exists** in magento 😱  (and thankfully it can still be turned off).

----
For anyone else getting a headache reading th

[2018-07-11 15:31] engcom-backlog-nickolas commented on #15328
Hello @arijit-de, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-11 15:37] engcom-backlog-nickolas commented on #16723
Hello @TryPicks, thank you for report. As The GitHub issue tracker is intended for Magento Core technical issues only, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-07-11 15:37] #16723 closed, assigned to nobody

[2018-07-11 16:01] hostep commented on #15062
@engcom-backlog-nazar: if you post a message like that, it would also be very much appreciated if you could specify the commit where it was fixed, so people can try to backport it to 2.2, just saying :)

[2018-07-11 16:02] esiemens commented on #16531
I am seeing this issue as well after updating to 2.2.5

[2018-07-11 16:10] genyuk commented on #16454
The issue is still not resolved and got even worse in 2.2.5 preventing our store to change language on Product and Category pages. Basically it switches to the homepage instead of the Product or Category page.
for example:
http://prod.sportsvirtuoso.com/en/squash
try to switch to "Fr" language.
expected result:
switches to http://prod.sportsvirtuoso.com/fr/squash
real results:
switches to http://p

[2018-07-11 16:13] esiemens commented on #11821
I am seeing this issue on an install of magento 2.2.5, I think it is related to server settings, but do not know where to look.

[2018-07-11 16:37] Hawkmoon72 commented on #4945
I'm having this issue immediately after having upgraded from 2.2.3 to 2.2.5 - no tiered prices in place - showing on both the product page and category view page.  Very frustrating.

[2018-07-11 16:38] BenSpace48 commented on #15062
Agreed, I'm unable to find this fix.

[2018-07-11 16:41] dan-ding commented on #7266
@jsdupuis Magento Captcha seems to only be effective by messing with legitimate users. And on top of that, there is a backdoor (https://github.com/magento/magento2/issues/7266#issuecomment-379312482). The fastest thing you I think you can do is restricting the character length of the fields (like name can only be 30 characters or something). The limited fields aren't useful to spammers.

I believe

[2018-07-11 16:44] sermagnus commented on #12152
The error is due to the interruption of ajax calls originated from a quick change of page.

To solve it, the error callback must be interrupted also on xhr.readyState === 0

`function (xhr) {
            if (xhr.statusText === 'abort' || xhr.readyState === 0) {
                return;
            }
            ....[other code]...
}`

**File affected:**
- magento/magento2-base/lib/web/mage/backend/

[2018-07-11 16:58] tuyennn commented on #13929
Same this problem on 2.1.14

[2018-07-11 17:22] DanielRuf commented on #15088
The issue was not opened by me ;-)

[2018-07-11 18:47] genyuk commented on #16454
Please open this issue again

[2018-07-11 19:30] CliftonWLS commented on #16604
We are having the same issue. Tracked it down to the requestShippingRates() method in \Quote\Model\Quote\Address.php:

$request->setStoreId($this->storeManager->getStore()->getId());
$request->setWebsiteId($this->storeManager->getWebsite()->getId());

Where storeManager is not set with the store that was selected when creating the order. I have tried to override this method but have run into endle

[2018-07-11 19:38] sylink commented on #14952
We confirmed this with upgrade from 2.2.3 to 2.2.5

[2018-07-11 19:42] DanielRuf commented on #14952
So can we close this issue then?

[2018-07-11 19:47] gwharton commented on #14952
Id be tempted to leave this open for now. For aslong as the bug exists in the amazon module and the module is installed by default by magento, this remains an issue with the stock magento install. Others may disagree.

[2018-07-11 19:49] rishabhchd19 commented on #14952
yes, I agree...until amazon module problem is resolved, leave this open.

[2018-07-11 19:52] gwharton commented on #14952
To close this issue i would say one of the follwoing needs to happen.

1. Composer.lock is updated to point to a version of amazon module that has the fix applied.
2. Amazon module is removed from default install.
3. PR #16461 is merged.

[2018-07-11 20:23] DanielRuf commented on #14952
Ok.

[2018-07-11 20:32] arnoudhgz commented on #16574
@DennisxCore sorry, no my case was with the Scheduled Update. Can't help you out here :(

[2018-07-11 20:44] DennisxCore commented on #16574
Now everything working. I dont know why, I think because I setting from and to date. Thank you for your help @arnoudhgz !

[2018-07-11 20:44] #16574 closed, assigned to nobody

[2018-07-12 00:37] sylink commented on #14952
Magento isn't going to fix this until a future release unless you are paying them for EE

https://twitter.com/richbaik/status/1017151928701104128

[2018-07-12 02:16] sashas777 opened #16728 "When attribute attribute group name changed it not updates attribute group code"
When attribute attribute group name changed it not updates attribute group code. This code used by setup scripts to assign attribute to attribute group. This can be viewed at the eav_attribute_group table.

The issue comes when you have installation script which assign attribute to a attribute group and run bin/magento setup:upgrade.  Then you will see a error.

### Preconditions
1. Magento 2.2.4

[2018-07-12 02:16] magento-engcom-team commented on #16728
Hi @sashas777. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-12 04:11] jeffliu68 commented on #12356
Me too, in EE 2.2.2 only default store view exported. But import works if store_view_code is set.

[2018-07-12 04:31] ashan-r opened #16729 "Magento 2.2.5 Front Store User Creation Not working in Google Chrome"
Magento 2.2.5 New Customer Account Creation Not Working on Google Chrome. Works fine with Mozilla Firefox.

### Preconditions

1.  MySQL Version 7.0
2.  Magento Version 2.2.5
3.  Browser Version 67.0.3396.99 (Official Build) (64-bit)

### Steps to reproduce

1. Go to Create New Account
2. Fill the New User Account Information
3. Click the Create an Account Button

### Expected result

1. Newly Cre

[2018-07-12 04:31] magento-engcom-team commented on #16729
Hi @ashanrajapaksha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-12 04:49] matinict commented on #16622
Dear Thanks for updates faster & more frequently keep magento fittest.

[2018-07-12 04:56] emiprotech commented on #15424
Hello @engcom-backlog-pb ,
We have used Magento 2.2.4 with sample data. and still we are facing same  issue.

[2018-07-12 05:46] engcom-backlog-nazar commented on #15062
@hostep try reproduce this on 2.3-develop branch, i cannot reproduce, but where the fix for this issue or commit, i can't find

[2018-07-12 06:07] salehawal opened #16730 "Magento 2.2.3 | Cant Find "Search Synonyms" Under Admin->Marketing->SEO & Serch"
in my admin panel, i cant find the "Search Synonyms" in "Admin->Marketing->SEO  & Serch"

i even changed the search engine to "mysql", but still not showing up

any ideas on how to enable it?
![screenshot_2018-07-12 search terms seo search marketing magento admin](https://user-images.githubusercontent.com/3238761/42615457-a69e2134-85aa-11e8-9276-4c023813eefe.png)

[2018-07-12 06:07] magento-engcom-team commented on #16730
Hi @salehawal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-12 06:13] salehawal commented on #16730
| Summary of the issue
i cant find the "Search Synonyms" in "Admin->Marketing->SEO & Serch"

| Information on your environment
Centos Server | php 7 | mysql 5 | magento 2.2.3 upgraded from 2.2.2

| Steps to reproduce
i dont know (:

| Expected and actual results
to be able to show "Search Synonyms" under  "Admin->Marketing->SEO & Serch"

Note: i saw some tutorials on youtube like this one: "https:

[2018-07-12 06:47] engcom-backlog-nazar commented on #14913
Hi @Jakhotiya thank you for your report and pull request.
We've acknowledged the issue and added to our backlog.

[2018-07-12 07:06] engcom-backlog-nazar commented on #14912
HI @jasperzeinstra thank you for your report and pull request.
We've acknowledged the issue and added to our backlog.

[2018-07-12 07:19] DanielRuf commented on #14952
This is not completely true, I think you misunderstood this a bit. This is an opensource project so we need the help of contributors.

[2018-07-12 07:23] sashas777 commented on #14952
@DanielRuf

I think I tried to do PR for this but we couldn't agree with @RomaKis  if its a right way to fix the issue

[2018-07-12 07:30] akssaiyad commented on #13046
@AB Saiyad It'll Help you
https://magento.stackexchange.com/questions/154279/how-to-show-visual-swatch-color-on-product-listing-page-magento2

[2018-07-12 07:37] bibhuasish004 commented on #13889
Hi @ant-workaholic I am seeing similar issues with my instance.Could you please share the steps that you managed to resolve this issue .Thanks, in advance.

[2018-07-12 07:39] engcom-backlog-pb commented on #16730
@salehawal, thank you for your report.  "Search Synonyms" functionality relates to Magento Commerce. This GitHub tracker is intended for Magento Open Source only.

[2018-07-12 07:45] dyron commented on #14987
Unfortunately this seems not to be included in 2.2.5:

https://github.com/magento/magento2/blob/2.2.5/app/code/Magento/Catalog/view/frontend/web/js/product/breadcrumbs.js

[2018-07-12 07:48] engcom-backlog-pb commented on #16730
@salehawal, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-12 07:48] #16730 closed, assigned to nobody

[2018-07-12 08:01] salehawal commented on #16730
it is included in the CE Edittion ..  check here : https://docs.magento.com/m2/ce/user_guide/marketing/search-synonyms.html?Highlight=Search%20Synonyms

[2018-07-12 08:03] BenSpace48 commented on #15062
@magento-engcom-team give me 2.3-develop instance

[2018-07-12 08:03] magento-engcom-team commented on #15062
Hi @BenSpace48. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-07-12 08:03] magento-engcom-team commented on #15062
Hi @BenSpace48, here is your [Magento instance](https://i-15062-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-15062-2-3-develop.engcom.dev.magento.com/admin](https://i-15062-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-12 08:15] engcom-backlog-pb commented on #16129
@cmuench, please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only.

[2018-07-12 08:15] #16129 closed, assigned to nobody

[2018-07-12 08:17] tuyennn commented on #6497
I'm able to reproduce this issue on latest 2.1.14

[2018-07-12 08:21] engcom-backlog-nazar commented on #14818
Hi @akbaradeeb i cannot reproduce by your scenarios steps, i trys many times but no have an error

[2018-07-12 08:23] duckchip commented on #14456
same problem here in Magento2.2.3

[2018-07-12 08:33] vlauria commented on #14236
@heldchen Magento into Magento\Framework\Mail\Template\TransportBuilder after send message instantiate a new message, like my fix.
The problem is that magento use two transport for send mail, in TransportBuilder reset message istance.
In TransportBuilderByStore no.

[2018-07-12 08:36] waynetheisinger commented on #6497
@tuyennn Yes you will as @magento-engcom-team pointed out the fix has been backported only as far as 2.2.1

[2018-07-12 08:45] engcom-backlog-nazar commented on #14819
HI @eduard13  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 08:55] ask694 commented on #12866
Any solution for this issue?

[2018-07-12 08:55] engcom-backlog-pb commented on #15001
@IgorVitol, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 09:02] engcom-backlog-pb commented on #14920
@jayanta88, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-12 09:02] #14920 closed, assigned to nobody

[2018-07-12 09:19] cmuench commented on #16129
@engcom-backlog-pb I created a ticket in the Enterprise Support.
For documentation purposes I will update this ticket if I got an solution for the issue.
This issue is really annoying. So everyone with the same problem is in the loop.

[2018-07-12 09:34] engcom-backlog-nickolas commented on #15472
Hello @brideo, thank you for your report. Unfortunately I cannot reproduce this issue.
![peek 2018-07-12 12-03](https://user-images.githubusercontent.com/40755810/42625196-cc56a7be-85cf-11e8-9e50-faea6e6968e6.gif)
Could you please correct my steps, or add more details?

[2018-07-12 09:45] engcom-backlog-nazar commented on #14825
Hi @markoshust thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 09:50] aleksandrosadchiy commented on #12099
has a fix in https://github.com/magento/magento2/commit/01b546fe244246dbe033217918e4d0e6c294b2d2

[2018-07-12 09:53] duckchip opened #16736 "Importing Customers with custom attributes fails"
### Preconditions

1. Magento2.2.3

### Steps to reproduce

1.  Create a custom customer attribute like [here](https://www.mageplaza.com/magento-2-module-development/magento-2-add-customer-attribute-programmatically.html)
2. Export the customer Main file from System > Export , don't exclude any attributes
3. alter the customer main file
4. Import the customer Main file from System > Import

### Ex

[2018-07-12 09:53] magento-engcom-team commented on #16736
Hi @duckchip. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-12 09:54] micheleo commented on #10821
Reporting the same problem after upgrading from 2.2.3 to 2.2.5 on a dedicated server.

[2018-07-12 09:58] duckchip opened #16737 "Importing Customers with custom attributes fails"
### Preconditions

1. Magento2.2.3

### Steps to reproduce

1.  Create a custom customer attribute like [here](https://www.mageplaza.com/magento-2-module-development/magento-2-add-customer-attribute-programmatically.html)
2. Export the customer Main file from System > Export , don't exclude any attributes
3. alter the customer main file
4. Import the customer Main file from System > Import

### Ex

[2018-07-12 09:59] magento-engcom-team commented on #16737
Hi @duckchip. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-12 10:04] mirko1989 commented on #7769
@veloraven still an issue as of version 2.2.5

[2018-07-12 10:06] engcom-backlog-pb commented on #14916
@nirbhaimag, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/42626983-5c7d37c8-85d4-11e8-84de-b36b4fed0e0b.gif)

[2018-07-12 10:09] philippsander commented on #16736
no information and duplicate of https://github.com/magento/magento2/issues/16737

[2018-07-12 10:09] #16736 closed, assigned to nobody

[2018-07-12 10:10] engcom-backlog-nazar commented on #14826
Hi @markoshust  this is duplicat for -> https://github.com/magento/magento2/issues/14825

[2018-07-12 10:16] domeglic opened #16738 "Session closed prematurely due to pagecache after creating order"
### Preconditions

1.  Magento 2.2.5, redis, varnish 4
2. Have this Paypal plus module installed https://github.com/i-ways/magento2-paypal-plus

### Steps to reproduce

1. Create an order using paypal plus

### Expected result

1. After payment, land on checkout success

### Actual result

1. Land on empty cart after being redirected from success page

This started happening after updating from 2.

[2018-07-12 10:17] magento-engcom-team commented on #16738
Hi @domeglic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-12 10:21] engcom-backlog-nazar commented on #14780
HI @ifekaj  thi is duplicate for -> https://github.com/magento/magento2/issues/15984

[2018-07-12 10:21] engcom-backlog-nickolas commented on #15447
@jigardhaduk, thank you for your report. For hyperlink you may use something like:
{{trans 'Here goes test link <a href="www.example.com">example</a>' |raw}}
![peek 2018-07-12 13-24](https://user-images.githubusercontent.com/40755810/42627709-7b0bfc90-85d6-11e8-90d4-d2b1627cb783.gif)

[2018-07-12 10:21] #15447 closed, assigned to amittiwari024

[2018-07-12 10:29] sidolov commented on #15940
Hi @Stepa4man. Thank you for your report.
The issue has been fixed in magento/magento2#16585 by @mageprince in 2.1-develop branch
Related commit(s):
 - [efbe4ded5fab22146996ead87d64b3327f628f8a](https://github.com/magento/magento2/commit/efbe4ded5fab22146996ead87d64b3327f628f8a)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-12 10:30] engcom-backlog-pb commented on #16531
Please proceed to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-12 10:32] engcom-backlog-pb commented on #15424
@emiprotech, please provide more detailed steps or record a video.

[2018-07-12 10:42] wedob13 opened #16740 "Issue with compile after upgrade to 2.2.5 - Cannot instantiate abstract class of Block/Product/View"
Hello,
i recently upgrade to **2.2.5** from **2.1.9** and the e-shop is on production mode.

When i change something in .less i proceed with the following steps ( as always ) to see my reflected changes live.

**
- **bin/magento cache:clean ,**
- **bin/magento cache:flush ,**
- **bin/magento setup:upgrade,**
- **bin/magento setup:di:compile,**
- **bin/magento setup:static-content:deploy -f Languag

[2018-07-12 10:42] magento-engcom-team commented on #16740
Hi @wedob13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-12 10:59] cmuench commented on #16129
Enterprise support suggests:

[code]

In my case this solves the problem.
It is important that the composer.lock file will be commited.
If not in an environment the commands must be called.
In my case we run this in a docker container with an Magento 2.2.5 image.

[2018-07-12 11:02] yyevgenii commented on #16129
@cmuench have you seen the same instruction in this thread?
https://github.com/magento/magento2/issues/16129#issuecomment-400583192

[2018-07-12 11:08] quisse commented on #16129
`composer.lock` should **always** be commited.

[2018-07-12 11:19] emiprotech commented on #15424
### **Preconditions**
Magento Version 2.2.4 with **sample data**
PHP 7.1
### **Steps to reproduce**
1.Create required  custom option as Drop-Down in one of the product.
2.Go to front side and, select option and add that product in cart.
3. From mini-cart delete the added product from cart. (without page refresh)
4. Select another option and then add product in cart.

### **Result**
Product added i

[2018-07-12 11:34] mdesplenter commented on #16531
The comment from @hostep fixed my issue. There was indeed a module that allowed pdf's to be uploaded, and overwriting all allowed files in the new version of Magento. Thank you!

[2018-07-12 11:40] saeohioalpha opened #16744 "UPS API URL being retired"
I use Magento 2.1 with the UPS XML API for shipping.

According to an email I received the API URL used by us is being eliminated. They are moving all old API URLs to a new location as of 12/31/18.

Since I only use Magento for this connection, I assume it is that which they are notifying me about.

![screen shot 2018-07-12 at 7 39 47 am](https://user-images.githubusercontent.com/969559/42630978-c

[2018-07-12 11:40] magento-engcom-team commented on #16744
Hi @saeohioalpha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-12 11:43] engcom-backlog-nickolas commented on #16737
Hello @duckchip , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 11:45] saeohioalpha commented on #16744
### Preconditions
1. Magento 2.1.12
2. PHP v7.1.30
3. Ubuntu 16.04.04

### Steps to reproduce
1. Use UPS Shipping API

### Expected result
1. UPS doesnt email me about an unsupported API URL being used.

### Actual result
1. UPS does email me about an unsupported API URL being used.

![screen shot 2018-07-12 at 7 39 47 am](https://user-images.githubusercontent.com/969559/42631212-79f9d072-85a7-11e

[2018-07-12 11:50] cmuench commented on #16129
@quisse we always commit the composer.lock. It is only a hint for other ppl here.

@yyevgenii yes, but we need this information in the release notes of Magento 2.2.5. This is an problem for all developer who update from 2.2.4.

[2018-07-12 11:54] bastc commented on #14969
Hi @engcom-backlog-nazar, thanks for your reply. Your suggestion still doesn't allow me to drag an element from the second to the first page. I can only drag & drop the values from the second page to a different position inside the second page.

[2018-07-12 12:08] Karlasa commented on #16580
#15546 is fixing the same issue

[2018-07-12 12:14] dmytro-ch commented on #16555
I will handle this issue.

[2018-07-12 12:42] mbernabeu commented on #16074
Hi @ drew7721 I have the same problem.

Did you find a solution to the problem?

[2018-07-12 12:43] engcom-backlog-nickolas commented on #15434
Hello @TobiasCodeNull, thank you for your report. As being said in comment above, this issue already has been fixed on 2.2-develop and 2.3-develop branches.

[2018-07-12 12:43] #15434 closed, assigned to nobody

[2018-07-12 12:51] samuelgambs commented on #14968
what a shame.... I am considering migrating to django / python

[2018-07-12 13:03] ghermans commented on #14968
Nice to see that you created a patch for it @ihor-sviziev 👍
However this issue should be resolved with a "hotfix" release (at least that is my personal opinion).

[2018-07-12 13:05] engcom-backlog-nickolas commented on #15201
Hello @vijaymagento1, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 13:05] engcom-backlog-pb commented on #16744
@saeohioalpha, thank you for your report.
Could you please share your UPS configuration, steps to reproduce, etc?

[2018-07-12 13:39] engcom-backlog-nickolas commented on #15199
Hello @nei, thank you for your report. Unfortunately I couldn't reproduce this issue on 2.2.3 Community Edition.
![peek 2018-07-12 16-37](https://user-images.githubusercontent.com/40755810/42636617-e6afaf44-85f1-11e8-9388-88d967290539.gif)
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on beha

[2018-07-12 13:39] #15199 closed, assigned to nobody

[2018-07-12 13:46] ajay1987tiwari opened #16747 "Magento 2.2 Newsletter Subscription (on registration new customer) email sending wrong unsubscribed email"
### Preconditions
Magento 2.2 Newsletter Subscription (on registration new customer) email sending wrong unsubscribed email

1.  Register in magento 2.2. version
2. Check the newsletter subscribe checkbox
3. Click Submit
4- You will get unsubscription newsletter mail

### Steps to reproduce

1.
2.
3.

### Expected result

Get subscription mail on registration

### Actual result

1. [Screenshots, l

[2018-07-12 13:46] magento-engcom-team commented on #16747
Hi @ajay1987tiwari. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-12 13:46] ajay1987tiwari commented on #16747
Steps to reproduce
Register in magento 2.2. version
Check the newsletter subscribe checkbox
Click Submit
You will get unsubscription newsletter mail

[2018-07-12 14:06] Johan-Terpstra commented on #14667
I can confirm this is also happening for us, M EE 2.2.4. Upon loading a product detail page, we see the fotorama spinning icon and for some people, it takes extremely long before the image is shwon. According to the Chrome Network tab, banner/ajax/load/?sections hangs, I've seen myself for as much as 13 seconds, before the image displays. The header on the image says it's eventually fetched from b

[2018-07-12 14:07] navinbhudiya commented on #6350
@magento-engcom-team any update? any quick solution?

[2018-07-12 14:13] jakc3 opened #16749 "Magento 2.2.3 Product page leads to 404 on another store url (multistore website)"
I have two website setup with different domains that share the same products.

The issue is:

Product domain1.com/product1 -> works fine (default store)
Same product on domain2.com/product1 -> returns 404 (2nd store, different domain, same URL)
Same product on domain2.com/category/product1 -> works
Same product on domain2.com/product1NewUrl -> works

So, if there is a category path in the URL the

[2018-07-12 14:13] magento-engcom-team commented on #16749
Hi @jakc3. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-12 14:15] jakc3 commented on #16749
@magento-engcom-team give me 2.2.3 instance

[2018-07-12 14:15] magento-engcom-team commented on #16749
Hi @jakc3. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-07-12 14:15] magento-engcom-team commented on #16749
Hi @jakc3, here is your [Magento instance](https://i-16749-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-16749-2-2-3.engcom.dev.magento.com/admin](https://i-16749-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-12 14:20] fabianaromagnoli opened #16750 "Changing country in shipping page does not update payment method in payment &review page"
### Preconditions
1. Magento 2.2.5
2. PHP 7.1

### Steps to reproduce
1. Enable Bank Transfer payment method, only for one country. I enabled Italy.
2. Add a product to cart
3. Go to checkout page
4. Edit a shipping address and set Italy as country
5. Click the Next Button: you'll see both Bank Transfer and Check/Money Order (the latter is enabled by default for all countries)
6. Go back to the Sh

[2018-07-12 14:20] magento-engcom-team commented on #16750
Hi @fabianaromagnoli. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-12 14:22] engcom-backlog-pb commented on #14948
@vnaz, thank you for your report.
This issue is already fixed.

[2018-07-12 14:22] #14948 closed, assigned to nobody

[2018-07-12 14:25] engcom-backlog-nazar commented on #15898
Hi @hungpvdev thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 14:31] jakc3 commented on #16749
@magento-engcom-team I cannot create a multi domain environment on your instance to test it.

I should also note that the root category on the 2nd domain is different from the default website.

[2018-07-12 14:41] engcom-backlog-pb commented on #14958
@tim-bezhashvyly, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 14:41] hostep commented on #14968
@ghermans : Magento 2 doesn't do hotfix releases unfortunately.
However, they've released an official patch over here: https://magento.com/tech-resources/download (search for MAGETWO-93036)

[2018-07-12 14:46] versdivers commented on #9775
I will tell you where this is wrong.
![image](https://user-images.githubusercontent.com/18028151/42640405-861dabb2-85f2-11e8-89ce-cafe4d171034.png)

As you can see i have a discount and a shipping cost. To make it easy they are the same. As you can see the TAX is 32.01. But it should be 31.99!

Here an example with no discount and no discount
![image](https://user-images.githubusercontent.com/1802

[2018-07-12 14:48] versdivers commented on #9775
AND because it shouls the Discount amount in the subtotal AND within the products this is just confusing and wrong. Administration at my clients are so confused. Synchronize this with any accountant software and you have differences

[2018-07-12 14:55] engcom-backlog-nazar commented on #14750
Hi @al1357 i cannot reproduce this on 2.2-develop branch, but randomly  i was have the same result as your, can you try reproduce this on 2.2-develop branch ?

[2018-07-12 14:57] kanduvisla commented on #15196
So I seem to have "fixed" it once again with yet another dirty hack. Instead of having to copy/paste the original `config.php` before my tests, I had to dig deeper into the bootstrapping-context.

So I copied the original `framework/bootstrap.php` to my `etc.php` and edited as follows:

- I changed the `require_once __DIR__ ... `-statements to `require_once __DIR__ . '/../framework'` so all requir

[2018-07-12 14:59] engcom-backlog-nickolas commented on #15248
Hello @sergei-sss, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-12 14:59] sibi4586 opened #16751 "Add product attribute content area collides with footer section"
Hi,

I took my Magento 2.2.3 admin-panel for adding new product attributes with an drop-down options. That attribute has more than 20 options and I added one by one suddenly I can see that the content area colliding with footer div.

It shows design broken

I did not knew why it happened?

https://imgur.com/a/V4Fh18G

I hope this report will helps you and fix this in asap

Thanks

[2018-07-12 14:59] magento-engcom-team commented on #16751
Hi @sibi4586. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-12 15:07] duckchip commented on #15605
@engcom-backlog-nickolas You missed the attribute 'used for sorting in product listing'
As explained in point 2, This should be set to 'Yes'

[2018-07-12 15:07] nikidexa commented on #10821
For me the real problem was installation in dedicated server: same stuff in a standar and shared one worls perfectly, but when I move everything in dedicated one, many issue!

[2018-07-12 15:10] sidolov commented on #12081
Hi @jhruehl. Thank you for your report.
The issue has been fixed in magento/magento2#16720 by @sanganinamrata in 2.1-develop branch
Related commit(s):
 - [aa0e0514b167b3e9bd0c8c8ce15b4dcf348b08c9](https://github.com/magento/magento2/commit/aa0e0514b167b3e9bd0c8c8ce15b4dcf348b08c9)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-12 15:16] engcom-backlog-pb commented on #14930
@mwaheed92, thank you for your report.
This issue is already fixed. Please update your Magento instance.

[2018-07-12 15:19] Sathishkumar8731 opened #16752 "Password Strength Calculation issue - Magento 2.2.4"
### Preconditions
1.  Magento 2.2.4
2.  PHP 7.1.X

### Steps to reproduce

1. Open the site
2. choose signup
3. In Signup provide a password twice of same combination
Example: Welcome@123Welcome@123
4. The password changes from "Very Strong" to "Strong".

### Expected result
1. Combination of text should be Very Strong password only, It should not change it.

### Actual result

The password change

[2018-07-12 15:20] magento-engcom-team commented on #16752
Hi @Sathishkumar8731. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-12 15:34] engcom-backlog-nickolas commented on #15605
@duckchip, thanks for feedback. My bad. I've corrected attribute configuration, still cannot reproduce this issue.
![peek 2018-07-12 18-35](https://user-images.githubusercontent.com/40755810/42643575-22c106bc-8602-11e8-89b3-7b8f807f3b66.gif)

[2018-07-12 15:58] North15 opened #16754 "Issue installing extension: stalls on "Update is already in progress""
Hello,

### Preconditions
Magento 2.1.7
PHP 7

### **Summary of the Issue**
I am trying to install MailChimp on Magento 2.1.7 and when it gets to the Component Install phase it stalls after:   `./composer.json has been updated` and continues to print `Update is already in progress`

Here is a picture of the console log that Magento has up:
![info1](https://user-images.githubusercontent.com/3438643

[2018-07-12 15:58] magento-engcom-team commented on #16754
Hi @North15. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-12 16:16] nati08 commented on #13056
@allamsettiramesh Hi, did you find a solution for this?

[2018-07-12 16:30] ilievski commented on #16101
we have a very similar problem, however our steps are different:

Magento 2.19

Steps to reproduce:
1. Add to cart
2. Proceed to checkout
3. Log in
4. Select Shipping
5. Press Place order button

Expected result:
Order to be successfully placed and Thank you page to load

Actual Result:
Error :We cannot save the address. Email has wrong format .
(Please see screenshot :http://prntscr.com/k5p8tj)

[2018-07-12 16:33] intelsteel commented on #14456
Same issue here. custom attributes are not available in customer account. Please provide us solution

[2018-07-12 17:07] ywsw commented on #13627
@stefanguapa I am having this issue as well (discount code not working on checkout page) with magento 2.2.5. You write that enabling REST URLs should be "temporary". Why? If this is a security issue, is there a permanent solution we can use?

[2018-07-12 17:34] genyuk opened #16758 "Language switcher redirects to the homepage on Magento 2.2.5"
### Preconditions
Fresh Magento 2.2.5 install with just two test categories.

### Steps to reproduce
1. Go to any category or product page
http://goodolddisc.com/video-games.html

2. Switch to another language (let's say en->fr)

3. Switch the language one more time (fr->en)

### Expected result

1. Expecting to be on the same product or category page

### Actual result

1. Switcher redirects to t

[2018-07-12 17:34] magento-engcom-team commented on #16758
Hi @genyuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-12 17:44] sidolov commented on #11354
Hi @pmoreno1980. Thank you for your report.
The issue has been fixed in magento/magento2#16663 by @mageprince in 2.3-develop branch
Related commit(s):
 - [28167648ab16a1a8f18792420b33badbcc6423b6](https://github.com/magento/magento2/commit/28167648ab16a1a8f18792420b33badbcc6423b6)
 - [2d31c1d2dc7355bb9a31413cdc481e30d3d060f9](https://github.com/magento/magento2/commit/2d31c1d2dc7355bb9a31413cdc481

[2018-07-12 17:44] sidolov commented on #11717
Hi @HirokazuNishi. Thank you for your report.
The issue has been fixed in magento/magento2#16588 by @vkublytskyi in 2.3-develop branch
Related commit(s):
 - [e2c4acae5974c91e16a437e027b06affa4a97822](https://github.com/magento/magento2/commit/e2c4acae5974c91e16a437e027b06affa4a97822)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-12 17:44] sidolov commented on #14056
Hi @gnanasekaranl. Thank you for your report.
The issue has been fixed in magento/magento2#16562 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [1acd06f76508ecf46f87a477aff691e504549fb6](https://github.com/magento/magento2/commit/1acd06f76508ecf46f87a477aff691e504549fb6)
 - [2651be335ea19d68cdf0989694a35c70e44de45f](https://github.com/magento/magento2/commit/2651be335ea19d68cdf098969

[2018-07-12 18:42] oddyssey commented on #14097
I also ran into this issue. It seems to come from the following method on line 252:

[code]

The problem occurs if the `$conditions` variable is null. The `foreach` statement needs to be included in the `if` statement above it.

[2018-07-12 20:06] jakc3 commented on #16749
The issue was linked to Amasty module for Rich Snippets.

[2018-07-12 20:06] #16749 closed, assigned to nobody

[2018-07-12 20:50] SnowCommerceBrand commented on #10242
Something I found very Usefull was the comment from @mowny

"We still run into this problem with old (even deactivated) products that have once been duplicated, and the source of the problems is a pain to locate."

If you have folks on your team that disable a product then create a new one and enable that with the same url key you will get your {SEO url} + {Entity ID} This url key issue was notice

[2018-07-12 20:56] chequille commented on #14952
Oh my good!!!
All this discusions are driving me to think about Magento is the right solution to go with?
Is it OpenSource or not?
If yes, such mandatory functions/features must work.
If not, cncel the open source.

If I have a look at all issues here with problems and bugs, I really wonder if these are all solved in the EE version. I doubt, it is the case.

My opionion, but sorry, I can not and d

[2018-07-12 21:03] DanielRuf commented on #14952
It is a big project and there are also the enterprise editions of Magento.
There are many contributors, ecommerce is not (so) simple and Magento is a powerful ecommerce framework.

[2018-07-12 21:04] DanielRuf commented on #14952
Every software has bugs. Big projects often have more. This is not specific to Magento.

[2018-07-12 21:41] chequille commented on #14952
Yes, that is ok what you are saying in some point of view.
But as an Example: Typo3, a powerfull framework as you said about Magento, is Open Source since years and it does not have so many bugs as Magento. Sorry, this is the truth.
Specially bugs which occure after new releases as this one with the email sender and name and the Amazon stuff which I do not need!!!!!!!!!!!!!!!!!!!!!!!
Sorry, this i

[2018-07-12 21:47] larsroettig commented on #16758
@magento-engcom-team give me 2.2.5 instance

[2018-07-12 21:47] magento-engcom-team commented on #16758
Hi @larsroettig. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-12 21:47] magento-engcom-team commented on #16758
Hi @larsroettig, here is your [Magento instance](https://i-16758-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16758-2-2-5.engcom.dev.magento.com/admin](https://i-16758-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-12 21:55] chequille commented on #14952
I forgot to ask:
Are the bugs solved in the EE version?
Or let me ask: which of the 1284 issues are solved in the EE version?

[2018-07-12 21:56] DanielRuf commented on #14952
Sorry but I have to disagree. I work at a TYPO3 digital agency and they have many open bugs. Also take a look at contributor counts, ease of contribution, open/closed issue ratio, ...

Your point is not valid. Also enterprise CMS (TYPO3) !== eCommerce framework (Magento 2 / Varien).

[2018-07-12 21:58] DanielRuf commented on #14952
Regressions can always happen, in any software (eg Chrome and Firefox where I reported some).

Sorry but this is how opensource works, we are just humans. The enterprise edition has some extra modules but shares the same core and many of the same modules. It is one product in the end.

[2018-07-12 22:00] DanielRuf commented on #14952
Probably not.

As EE user you have some extra support, we can not answer this.

[2018-07-12 22:02] SamB-GB commented on #14952
To be fair this project is provided free so wether the bugs are quashed in the FREE version apposed to the paid version is pretty irrelevant, of course the EE customers are going to be looked after before OpenSource customers. Thing is I think you will find that the OpenSource version you will often get a patch or a workaround that someone else will contribute and this can often be much faster tha

[2018-07-12 22:04] DanielRuf commented on #14952
I created a PR / patch for it, it will land in 2.2.6.

[2018-07-12 22:05] SamB-GB commented on #14952
I disabled Amazon module for now as I understand that it was that causing it.

[2018-07-12 22:10] leoquijano commented on #4977
Hi @magento-engcom-team.

The fix seems to be available in ```2.2-develop``` but not in the ```2.2.5``` release. The files marked with the ```2.2.5``` tag weren't changed.

https://github.com/magento/magento2/blob/2.2.5/app/design/frontend/Magento/luma/etc/view.xml
https://github.com/magento/magento2/blob/2.2.5/lib/web/mage/gallery/gallery.less
https://github.com/magento/magento2/blob/2.2.5/lib/we

[2018-07-12 22:12] chequille commented on #14952
I never had a feature not working anymore in a new release of Typo3.
You might have to adapt extensions when fluid or vhs changed functionality, but mandatory functions are never broken ( on my sites definetely).

I just read the new comments while I am writing :-)
Of course we are all humans and as well software is never bug free. But at the moment, I see only problems with Magento. Maybe I am wr

[2018-07-12 22:18] larsroettig commented on #16758
Hi Community Team,
i can reproduce this Issue.

- Install Blank 2.2.5 install
- Create a new Storeviews set and assign this to **Main Website Store**
<img width="1318" alt="stores___settings___stores___magento_admin" src="https://user-images.githubusercontent.com/5289370/42662376-ab3b8baa-8631-11e8-8da2-0c2104391e32.png">
- Enable Stores - Configuration - General - Add Store Code to Urls
- Create