[2018-07-30 06:16] magento-engcom-team commented on #6960
Hi @schnappenberger

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #9373
Hi @lauriecrt

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #6731
Hi @lsv

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #4870
Hi @rhoerr

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #7842
Hi @reijervano

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #4464
Hi @sergei-sss

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #7557
Hi @AlexandreKhayrullin

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #3170
Hi @keithbentrup

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #8688
Hi @korostii

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #7421
Hi @tzyganu

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #7361
Hi @rosandrest

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #5458
Hi @spipu

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:33] wintermute-84 commented on #8086
what about internal ticket MAGETWO-69696?

[2018-07-30 06:39] jayanta88 commented on #16913
Hi,
Thanks for looking into it. Could you please give me the link of files you fixed for this. So that I can update this in my current version.

Thanks

[2018-07-30 06:44] aasim110 commented on #8640
@magento-engcom-team @nntoan @lano-vargas  any updates ?

[2018-07-30 06:56] JoshuaFlood commented on #13846
Thanks! I'll just stick with it. I'm already aware that this is an option, it just seems ludicrous to me that Magento would even suggest things like adding the `bin/magento` command as an environment variable or suggesting their dysfunctional 'two-user' setup. Ideally, I'd just like to find a solution which allows me to run magento commands in their standard format, or at least see some explanatio

[2018-07-30 07:16] DanielRuf commented on #13846
I do not fully understand. You just have to provide the PHP CLI options for the memory_limit parameter to increase it during the steps.

[2018-07-30 07:16] DanielRuf commented on #13846
In general your PHP CLI version has different settings than the version running your website.

[2018-07-30 07:17] DanielRuf commented on #13846
Did you try `php -d memory_limit=-1 bin/magento setup:upgrade`?

[2018-07-30 07:38] ronak2ram commented on #17174
@numan201 You right,
My solution is not working for a wishlist image.
We have to find some better solution for it.

[2018-07-30 07:42] numan201 commented on #17174
@ronak2ram, what're your thoughts on the potential solution I posted earlier?

[2018-07-30 07:51] engcom-backlog-nazar commented on #14541
Hi @Detzler thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-30 07:59] agorbulin commented on #11568
It's reproduced on 2.2.5
Any progress with the issue?
Could you provide version in which it will be fixed or some patch maybe?

[2018-07-30 08:09] engcom-backlog-pb commented on #17264
@Sylvesterx1, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/43385270-f0731eee-93e8-11e8-8747-59813e64d994.gif)

[2018-07-30 08:09] #17264 closed, assigned to nobody

[2018-07-30 08:20] engcom-backlog-pb commented on #17165
@A-1A please try to reproduce the issue on a clean Magento installation. If you succeed, please reopen the issue.

[2018-07-30 08:20] #17165 closed, assigned to nobody

[2018-07-30 08:30] engcom-backlog-pb commented on #16912
@Tofandel, the issue is reopened. But, as @hostep has mentioned, it seems like you have some custom modules. Please try to reproduce your issue on a clean Magento installation and update the steps to reproduce.

[2018-07-30 08:32] mad-develop commented on #17190
Thanks @hostep for your help. I've seen there is already a pull request for logging configuration #12349.
Maybe my problems will be solved in the near future.

[2018-07-30 08:40] engcom-backlog-pb commented on #14744
@stormbyte, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-30 08:40] #14744 closed, assigned to nobody

[2018-07-30 08:41] engcom-backlog-pb commented on #14720
@savadk00hi, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-30 08:41] #14720 closed, assigned to nobody

[2018-07-30 08:46] engcom-backlog-nazar commented on #15625
Hi @bendesignsweb thank you for you report, the fix for this issue has already in 2.2-develop and 2.3-develop branch

[2018-07-30 08:46] #15625 closed, assigned to nobody

[2018-07-30 08:53] ronak2ram commented on #17174
@numan201
Your solution does not work on cart page.
Please test this(#16843 ) issue with your solution.

[2018-07-30 08:54] ihor-sviziev commented on #16568
Hi @dan-ding,
FYI I reported issue that was acknowledged https://github.com/magento/magento2/issues/17195. So you can watch it

[2018-07-30 09:03] engcom-backlog-nazar commented on #14526
@n1cehua1991 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-30 09:03] #14526 closed, assigned to nobody

[2018-07-30 09:10] AgentGod commented on #11002
So,
I had a lot of pending jobs, deleted manually all of them and everything seems to be ok for day or two, but I started to receive the error like above again.
When I have checked, I had a lot of pending entries again at the end of the table, manually deleted them, for now it's ok

[2018-07-30 09:22] engcom-backlog-nazar commented on #14712
Hi @raymond62, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-30 09:39] engcom-backlog-pb commented on #17021
@wedob13 , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-30 09:39] #17021 closed, assigned to nobody

[2018-07-30 09:46] AdamReece-WebBox commented on #5423
This still doesn't work today. I've tried:

* Removal of all cache folder content (`pub/static`, `var/cache`, `var/generation`, `var/page_cache`, and `var/view_preprocessed`)
* Removal of all vendor folder content
* `composer update`
* `php bin/magento setup:upgrade`
* `php bin/magento setup:di:compile`
* `php bin/magento setup:static-content:deploy`

All ran successfully, but still no navbar.

It

[2018-07-30 09:58] engcom-backlog-nazar commented on #14685
Hi @darinda cron not run jobs only if you time is (0 0 1 * *) ? in my case i set to (12 35 30 * *) and jobs run.

[2018-07-30 10:03] UlliKah commented on #9292
@CompactCodeEU . If you are aware of the dev process of Magento than you'll know that they like to ""guinea-pig" test each development with the Open Source Version first and implement into the very expensive Enterprise once stable... which means... the Image insert is very likely not working in Magento Enterprise, well I know it isn't in Enterprise either... Magento Enterprise has a price Tag with

[2018-07-30 10:05] tuyennn commented on #8018
This is a major issue which still was replicated in 2.1.14.

[2018-07-30 10:06] tuyennn commented on #8018
This is a major issue which can be replicated in 2.1.14.

[2018-07-30 11:03] antokom opened #17269 "Can't update the Scripts and Style Sheets field in Head HTML"
Hello,
I'm trying to add the Google Tag Manager script in Content -> Design -> Configuration -> Store View -> Head Html -> Scripts and Style Sheets but when i try to save the code, the field doesn't update.

### Preconditions
1. Magento 2.2

### Steps to reproduce
1. Go to Content -> Design -> Configuration -> Store View -> Head Html
2. Add the script in Scripts and Style Sheets field
3. Save

###

[2018-07-30 11:03] magento-engcom-team commented on #17269
Hi @antokom. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-30 11:07] antokom commented on #17269
@magento-engcom-team give me 2.2.0 instance

Yes, i was able to reproduce the issue on vanilla Magento istance.

[2018-07-30 11:08] magento-engcom-team commented on #17269
Hi @antokom. Thank you for your request. I'm working on Magento 2.2.0 instance for you

[2018-07-30 11:08] magento-engcom-team commented on #17269
Hi @antokom, here is your [Magento instance](https://i-17269-2-2-0.engcom.dev.magento.com).
Admin access: [https://i-17269-2-2-0.engcom.dev.magento.com/admin](https://i-17269-2-2-0.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-30 11:17] antokom commented on #17269
Dear @magento-engcom-team, in the vanilla Magento instance seems it successfully works.

[2018-07-30 11:45] woutersamaey opened #17270 "Convert CMS pages into a EAV model"
We should convert the CMS pages into an EAV model, so fields like title, URL key and content can be overridden / translated on a per store basis. Doing so, also makes it possible to link multi-language content using "hreflang" and module developers can have more options to expand on CMS pages.

Why CMS pages are not EAV, is simply beyond me.

I'm willing to put in work for this (along with others)

[2018-07-30 11:45] magento-engcom-team commented on #17270
Hi @woutersamaey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-30 11:55] engcom-backlog-pb commented on #16556
@abhaykhatariya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please share your Paypal Express configuration.

[2018-07-30 11:59] engcom-backlog-pb commented on #17269
@antokom, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-30 11:59] #17269 closed, assigned to nobody

[2018-07-30 12:00] JoshuaFlood commented on #14803
After a little exploring on my existing server, it seems that the problem occurs when the 'virtual' column of the themes table is set to 1, although in previous versions I was able to assign a value of 0 and fix the problem. Now, when the value is changed, it gets reset to 1.

[2018-07-30 12:01] abhaykhatariya commented on #16556
@engcom-backlog-pb
abhaykhatariya1990-facilitator@gmail.com
Username:
abhaykhatariya1990-facilitator_api1.gmail.com
Password:
FVDZPZHBJNTKLLS8
Signature:
AFcWxV21C7fd0v3bYYYRCpSSRl31Au8EABYg81inPU5xS1aX9fURulXS

Here is my sandbox credential please use below address while checkout then only error will come
Svetlaya ul. Apt 191 (street name, house + apartment numbers)
Nizhnelunohodsk (city name)
Za

[2018-07-30 12:05] engcom-backlog-pb commented on #16556
@abhaykhatariya, please share full Paypal Express configuration, and remove your credentials.

[2018-07-30 12:05] matto910 commented on #7333
I tried to use Luckyduck's module on Magento 2.2.5 but this caused a problem in the Admin backend where under Customisable Options there would be no boxes to enter $ values.

To fix this, I edited:
Ui\DataProvider\Product\Form\Modifier\CustomOptions.php

Modify from line 25 onwards:

[code]

[2018-07-30 12:16] muckee opened #17271 "Magento 2.2.5: Console log - Refused to apply style/execute script because its MIME type ('text/html') is not a supported MIME type, and strict MIME checking is enabled."
### Preconditions
1. Ubuntu 18.04 LTS installed on a digitalocean droplet.
2. Apache 2.4 w/ mod_rewrite enabled
3. MySQL 5.7
4. PHP 7.1 using ppa:ondrej/php w/ OpCache enabled
5. Redis Server

### Steps to reproduce
1. Download Magento Community Edition 2.2.5 via Composer
2. Apply pre-installation permissions.
3. Install via command line (problem encountered with fresh install and connecting to ex

[2018-07-30 12:16] magento-engcom-team commented on #17271
Hi @JoshuaFlood. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-30 12:20] JoshuaFlood commented on #17271
@magento-engcom-team give me {2.2.5} instance

[2018-07-30 12:20] engcom-backlog-nazar commented on #14283
@sunilwebcreation Closing the  issue by @rheckart comment, If you'd like to update it, please reopen the issue.

[2018-07-30 12:20] #14283 closed, assigned to nobody

[2018-07-30 12:21] JoshuaFlood commented on #17271
@magento-engcom-team please let me know if I have misunderstood what you meant about commenting the instance. Thanks.

[2018-07-30 12:22] abhaykhatariya commented on #16556
@engcom-backlog-pb

Please do find below

Merchant Country : US

[2018-07-30 12:44] magento2dev opened #17273 "Set product website uncheck default values"
### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1. Create a new product (set only available in the default website)
2. After saving, make this product available in another website (ex : Website2)
3. Save product

### Expected result

1. Website2 product attributes should "Use Default Value"

### Actual result

1. Many product attributes "Use Default Value" are unchecked on Website2 sc

[2018-07-30 12:44] magento-engcom-team commented on #17273
Hi @anthony-jullien. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-30 13:11] engcom-backlog-pb commented on #16202
@hostep, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-30 13:15] sunilit42 commented on #9156
@Theenluck   any solution?

@magento-admin any solution with varnish?

[2018-07-30 13:29] sidolov commented on #11512
Hi @andrewhowdencom. Thank you for your report.
The issue has been fixed in magento/magento2#17241 by @mageprince in 2.1-develop branch
Related commit(s):
 - [5685d19c1535a2afee9ab731f73deeee817fbe8b](https://github.com/magento/magento2/commit/5685d19c1535a2afee9ab731f73deeee817fbe8b)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-30 13:31] quisse commented on #12371
@akaplya Can you point me in the right direction please?

[2018-07-30 13:37] engcom-backlog-nazar commented on #14451
HI @aniruddhadeshpande , thank you for your report. I cannot reproduce, see attachments

[2018-07-30 13:37] engcom-backlog-nazar commented on #14451
![frame-47d](https://user-images.githubusercontent.com/40756439/43400631-e1e10b60-9416-11e8-85ce-b37ab831e87e.gif)

[2018-07-30 13:47] engcom-backlog-nazar commented on #17166
Hi @magiumcommerce thank you for you report, did you try to this fieldset ->
   <fieldset name="Import">
                <argument name="data" xsi:type="array">
                    <item name="config" xsi:type="array">
                        <item name="collapsible" xsi:type="boolean">false</item>
                        <item name="label" xsi:type="string" translate="true">Import</item>

[2018-07-30 13:54] JoshuaFlood commented on #17271
Please see my updates to the original issue.

[2018-07-30 13:58] gnuzealot commented on #11002
There was another blocking query running at the same time it was doing a delete and it locked the table. Most likely it was the query that it uses to update job statuses. That query always runs long and if there's a several running it deadlocks.

Also is there any good reason why all the job codes need to be called out in that delete?

[2018-07-30 14:08] CompactCodeEU commented on #9292
@UlliKah Fixes and solutions on Magento we usually make an opensource project (like the breadcrumbs) that everyone can freely download or use. We only sell modules that have a certain added value to the opensource Magento platform. We also contribute or push changes to the opensource like everyone else does to make the base Magento as bug free as possible.

[2018-07-30 14:13] engcom-backlog-nazar commented on #14826
@markoshust  maybe just add expected/actial result to  ->_https://github.com/magento/magento2/issues/14825 , its very similar issue, and have one problem.

[2018-07-30 14:18] engcom-backlog-nazar commented on #17166
@magiumcommerce Unfortunately, I'm not able to reproduce this issue.
Also, it's not the best practice to use FileUploader component  in Magento 2. Please refer to ->
https://devdocs.magento.com/guides/v2.1/ui_comp_guide/components/ui-fileuploader.html
If you'd like to update this issue, feel free to reopen it.

[2018-07-30 14:18] #17166 closed, assigned to nobody

[2018-07-30 14:32] engcom-backlog-pb commented on #17271
@JoshuaFlood, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only. It's obvious your problem is caused by incorrect configuration.
Also, if you want to get test instance from bot, d

[2018-07-30 14:32] #17271 closed, assigned to nobody

[2018-07-30 14:38] magento2dev commented on #17273
Thanks @engcom-backlog-pb, do you have any idea when the 2.3.x will be released with this fix ? Or at least could you send me the commit fixing this issue ?

Thanks !

[2018-07-30 14:57] engcom-backlog-nazar commented on #15998
Hi @DanielRuf did you check on test instance ?

[2018-07-30 15:31] DanielRuf commented on #15998
Not yet, will try to do so today.

[2018-07-30 16:11] JacobDrummond opened #17276 "Cart sidebar currency format wrong in Magento 2.2.3 / jp_JP / GBP"
### Environment
* Ubuntu 16.04.3
* Nginx 1.10.3
* MySQL  5.6.35
* PHP 7.0.30
* Magento 2.2.3

### Steps to reproduce
1. Set locale to jp_JP
1. Set currency to GBP
1. Add item to cart
1. Go to /checkout/cart

### Expected result
* AJAX cart sidebar should show the GBP price for the only cart item, formatted according to JP locale.

### Actual result
* Thousands separator is correct, but price is th

[2018-07-30 16:12] magento-engcom-team commented on #17276
Hi @JacobDrummond. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-30 16:12] artskeem commented on #14850
this is not fixed in 2.2.5 fyi -sorry

[2018-07-30 16:33] goranhorvathr commented on #8115
This is still happening on 2.2.5

[2018-07-30 17:49] afirlejczyk commented on #7283
Hi @ishakhsuvarov
Yes, I am. I will make a pull request within two weeks.

[2018-07-30 19:05] allblued opened #17277 "Can't edit product or create new attribute set after migration"
Can't edit product or create new attribute set after migration
I used data-migration-tool to migrate my store from 1.9.2.2 to 2.1.14, but after the migration, I find I can't open "edit" page of any existing product. The following error message show up:

========================================================

There has been an error processing your request.

The configuration parameter "formEleme

[2018-07-30 19:05] magento-engcom-team commented on #17277
Hi @allblued. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-30 19:28] nadroj467 opened #17278 "Single store mode - non responsive changes to category attributes"
### Preconditions

1. PHP 7
2. Magento 2.2.1
3. Migrated from Magento 1.9.1 - with one store view

### Steps to reproduce

1. Unselect the check box 'Use Default Value' for category field 'Include in Menu' on store view mode
2. Disable 'Include in Menu' option on store view mode
2. Enable Single Store Mode
3. Enable 'Include in Menu' option

### Expected result

1.  Category is included in menu

#

[2018-07-30 19:28] magento-engcom-team commented on #17278
Hi @nadroj467. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-30 19:30] nadroj467 commented on #17278
@magento-engcom-team give me {2.2.1} instance

[2018-07-30 19:56] DanielRuf commented on #15998
@magento-engcom-team give me 2.2-develop instance

[2018-07-30 19:56] magento-engcom-team commented on #15998
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-07-30 19:57] magento-engcom-team commented on #15998
Hi @DanielRuf, here is your [Magento instance](https://i-15998-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-15998-2-2-develop.engcom.dev.magento.com/admin](https://i-15998-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-30 20:02] DanielRuf commented on #15998
Seems it is ok now and finally fixed.

[2018-07-30 20:02] #15998 closed, assigned to nobody

[2018-07-30 20:58] emosquito commented on #13229
Just so you guys know, Shopify keeps guest carts for 2 weeks. Sellers using Magento stores are at a severe disadvantage by not passing some sort of guest persistence.

[2018-07-30 22:29] alextricity commented on #2463
I can also confirm that this is STILL an issue with M2.3-Develop and believe it is because symlinking was disabled by a developer on my Windows site. Can anyone confirm? This error is showing for JS and CSS files also.

[2018-07-31 03:03] nguyetnguyen opened #17281 "Exception thrown by cron job staging_synchronize_entities_period"
### Preconditions
1. Magento EE 2.2.5
2. Php 7.0.28, Xampp, Windows and also on Linux

### Steps to reproduce
Re-run conjob php bin/magento cron:run

### Expected result

1. No error thrown

### Actual result

Exception logs
[code]

Debugging shows problem in detail like this:
`Repository should return instance of Magento\SalesRule\Api\Data\RuleInterface Magento\SalesRule\Model\Rule\Interceptor Ma

[2018-07-31 03:03] magento-engcom-team commented on #17281
Hi @nguyetnguyen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-31 03:32] numan201 commented on #17174
@ronak2ram My solution seems to be working fine on the cart page for me.

[2018-07-31 05:15] tschirmer opened #17282 "Change in Magento Server Paths breaks setup:di:compile"
Found that after changing $_SERVER Environment values, the cli setup:di:compile no longer works.
### Preconditions
1. php 7.0.30
2. apache 2.4.6
3. Centos 7.5.1804
4. Magento 2.2.4 (seen on Magento 2.2.5 as well)

### Steps to reproduce

1. Put Magento code into folder outside of public dir (/opt/magento2/2.2.4)
2. Add in environmental variables via a prepend_file containing the following:
[code]

[2018-07-31 05:16] magento-engcom-team commented on #17282
Hi @tschirmer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-31 05:26] melissakokel opened #17283 "Vat is not saved on storefront -2.2.5"
Magento version CE 2.2.5 , vat adress field is not saved on the edit address or checkout address.
The attribrutes are existing on the database
Admin show on storefront is set to true.
Can you please let me know what should I do to fix it?

### Preconditions

1. Magento 2
2. "Stores" > "Settings" > "Configuration" > "Customers" > "Customer Configuration" > "Create New Account Options" > "Show VAT N

[2018-07-31 05:26] magento-engcom-team commented on #17283
Hi @melissakokel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-31 06:17] sidolov commented on #11140
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#17243 by @mageprince in 2.1-develop branch
Related commit(s):
 - [c5d85e0cfbd7e38461a782c43eef69805a430b76](https://github.com/magento/magento2/commit/c5d85e0cfbd7e38461a782c43eef69805a430b76)
 - [f9696c964d21a3cfef60cffa6b23edf9a1a6be59](https://github.com/magento/magento2/commit/f9696c964d21a3cfef60cffa6b23edf

[2018-07-31 06:57] i95devdivya opened #17284 "Product attributes update in all store views is not working"
**Preconditions**
1.	Magento CE 2.2.5
2.	PHP 7.1
**Steps to reproduce**
1.	Create product using default Magento REST API /rest/V1/products with the string {"product":{"id":"","sku":"DTD-1","name":"DTD Descrption","price":45,"typeId":"simple","weight":"0.25","attribute_set_id":4}}
2.	Product created in Magento and provided attributes set for Default store view as well as All store views
3.	Now upda

[2018-07-31 06:57] magento-engcom-team commented on #17284
Hi @i95devdivya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-31 07:02] i95devdivya commented on #17284
**To help us process this issue please make sure that you provided the following information:**
We provided the following details in the initial comment only.
  Summary of the issue
  Information on your environment
  Steps to reproduce
  Expected and actual results

**@magento-engcom-team give me {$VERSION} instance**
We are using Magento CE 2.2.5 version.

**@i95devdivya do you confirm that you

[2018-07-31 07:04] edwinbos opened #17285 "Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) - Magento 2.3"
### Preconditions
* Magento 2.3-alpha57
* PHP 7.1.19
* MySQL 5.7

### Steps to reproduce
Magento 2.3 was working, but after upgrading to the latest alpha release Magento has the following error:
`Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in .../vendor/magento/framework/Filesystem/Directory/Write.php on line 35`

There is a question mark before PathValidatorInterfac

[2018-07-31 07:04] magento-engcom-team commented on #17285
Hi @edwinbos. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-31 07:28] edwinbos commented on #17285
@magento-engcom-team give me 2.3-develop instance

Installed a fresh Magento 2.2.5 and upgraded to 2.3 from there and used the update script that is provided by Magento.
I can confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce.

[2018-07-31 07:28] magento-engcom-team commented on #17285
Hi @edwinbos. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-07-31 07:28] magento-engcom-team commented on #17285
Hi @edwinbos, here is your [Magento instance](https://i-17285-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-17285-2-3-develop.engcom.dev.magento.com/admin](https://i-17285-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-31 07:29] engcom-backlog-nazar commented on #13955
Hi @bulbulagarwal896  i cannot reproduce by you scenario, see attachments. if you like to uodate the issue, please reopen the issue
![frame-fd](https://user-images.githubusercontent.com/40756439/43444520-975ca554-94ac-11e8-93f4-d1ae8542aec7.gif)

[2018-07-31 07:29] #13955 closed, assigned to nobody

[2018-07-31 07:54] DanielRuf commented on #17285
You mean nullable types in this line?
Can you try PHP 7.2.x?

[2018-07-31 08:03] UlliKah commented on #9292
In any case I think these issues with basic functionality shouldn't persist for nearly 2 years, especially with a system like Magento that claims to be the leading solution in its specialisation.
I have to say though that I'm glad that the osCommerce core team has decided to pick-up development of osCommerce again. It might not look as fancy on the back end but it does the job a lot better.

[2018-07-31 08:09] sunilit42 commented on #9156
Hello @mimarcel

Thanks for your suggestion, but some case section is not loaded on logout and local storage same so i update little bit js code

app/code/Vendor/Theme/etc/frontend/di.xml
[code]
app/code/Vendor/Theme/Block/Html/Header.php

[code]

app/code/Vendor/Theme/view/frontend/templates/html/header.phtml

[code]

app/code/Vendor/Theme/view/frontend/web/js/view/customer.js

[code]
app/code/Ve

[2018-07-31 08:39] adampmoss commented on #4703
Has anybody managed to make a patch for this in the meantime, or got a solid workaround? I'm thinking of using an observer on product_save_before and using setData() as described here: https://magento.stackexchange.com/a/229280/191

[2018-07-31 08:48] engcom-backlog-nazar commented on #13755
Hi @rigu12 I cannot reproduce you scenario, see attachments,  If you'd like to update it, please reopen the issue.
![frame-site](https://user-images.githubusercontent.com/40756439/43448797-7d327f54-94b7-11e8-87f7-c8678bc7650a.gif)

[2018-07-31 08:48] #13755 closed, assigned to nobody

[2018-07-31 08:49] nedge2k opened #17286 "2.2.4 to 2.2.5 - SQL error for featured products widget"
### Summary
After upgrade to 2.2.5 from 2.2.4, pages that contain a widget displaying featured products fail to load with an SQL error.

### Preconditions

1. PHP7
2. M2.2.5

### Steps to reproduce

1. Upgrade from 2.2.4 to 2.2.5
2. Have "featured products" in catalog
3. Have a widget on homepage with "featured products"

### Expected result

1. After upgrade (and cache:clean|flush, reindex, stati

[2018-07-31 08:49] magento-engcom-team commented on #17286
Hi @nedge2k. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-31 08:56] engcom-backlog-pb commented on #17283
@melissakokel, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-31 09:00] engcom-backlog-nazar commented on #13225
Hi @scottsb i cannot reproduce you scenario, which version of magento you've tested ?

[2018-07-31 09:02] engcom-backlog-pb commented on #17281
@nguyetnguye , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sour

[2018-07-31 09:02] #17281 closed, assigned to nobody

[2018-07-31 09:19] naren211 opened #17287 "404 page is not worling"
my magento 2 is showing mail not sent error instead of 404 error page

### Preconditions

1.
2.

### Steps to reproduce
no page opened for 404 error

showing processing error

written mail not sent

### Expected result

1. [Screenshots, logs or description]

this is the log we are getting

a:4:{i:0;s:21:"Unable to send mail. ";i:1;s:11016:"#0 /home/dentbaydemolocat/public_html/vendor/magento/frame

[2018-07-31 09:19] magento-engcom-team commented on #17287
Hi @naren211. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-31 09:39] mimrank opened #17288 "Installed magento swagger not run."
Hi,
i try to get swagger document of Magento ver. 2.1.6, but its how this error.

`500 : {"message":"Class \"array\" does not exist. Please note that namespace must be specified.","trace":"#0 \/home\/rangrasiya123\/public_html\/beta67556\/vendor\/magento\/module-webapi\/Model\/Config\/ClassReflector.php(103): Magento\\Framework\\Reflection\\TypeProcessor->register('array')\n#1 \/home\/rangrasiya12

[2018-07-31 09:39] magento-engcom-team commented on #17288
Hi @mimrank. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-31 09:40] jonathan-techtwo commented on #14677
Okay weird, I can still reproduce it.

However I added {UPDATE `quote_address` SET `customer_address_id`=NULL WHERE  ...} query in a plugin which resolves our problem.

I'll check the issue again once we update to 2.2 or higher.
For now you can close the ticket.

[2018-07-31 09:41] muckee opened #17289 "Magento 2.2.5: Year-to-date dropdown in Stores>Configuration>General>Reports>Dashboard"
### Preconditions
1. LAMP stack
2. Redis installed
3. Magento 2.2.5 installed

### Steps to reproduce
1. Go to `Stores > Configuration > General > Reports`
2. Click on the 'Month' dropdown of the `Year-to-date starts` section.

### Expected result
1. Numerical list appears of numbers 01 to 12.

### Actual result
1. Numerical list appears of following numbers: [01,03,03,05,05,07,07,09,09,10,10,11,1

[2018-07-31 09:41] magento-engcom-team commented on #17289
Hi @JoshuaFlood. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-31 09:45] engcom-backlog-pb commented on #17278
@nadroj467, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-31 09:45] #17278 closed, assigned to nobody

[2018-07-31 09:45] engcom-backlog-nazar commented on #17287
Hi @naren211  i'm not able to reproduce by you scenario, please provide more information on step to reproduce.

[2018-07-31 09:53] engcom-backlog-pb commented on #17276
Duplicate of #12527

[2018-07-31 09:53] #17276 closed, assigned to nobody

[2018-07-31 10:08] engcom-backlog-pb commented on #17289
@JoshuaFlood, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-31 10:14] engcom-backlog-pb commented on #17288
@mimrank, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-31 10:14] #17288 closed, assigned to nobody

[2018-07-31 10:18] engcom-backlog-pb commented on #17286
@nedge2k, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more info about your "featured products" widget.

[2018-07-31 10:40] zakgrindle commented on #8059
This issue also breaks Widget conditions in the admin panel if categories have an &amp; in the name

[2018-07-31 11:09] maderlock commented on #12414
Please can you provide a reference to the pull request/changed code so that those of us on 2.2.x can figure out a fix for this?

[2018-07-31 11:14] erfanimani commented on #13229
@emosquito you could always enable the session lifetime to 2 weeks

[2018-07-31 11:29] DanielRuf commented on #17061
As this is already in 2.2-develop I'llc lose this one.

[2018-07-31 11:29] #17061 closed, assigned to nobody

[2018-07-31 11:49] A-1A commented on #17165
After copy module-review code in app/code/Custom/review folder it working with same code.
Why it is not working with Magento_Review Name in vendor/magento/module-review/

[2018-07-31 11:52] engcom-backlog-nazar commented on #17164
Hi @carolineboivin thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-31 11:53] davoc opened #17292 "Rest API Access Token Denied For Admin User Who's Password Lifetime Has Been Reached"
When connecting to the admin via the Rest API with an admin user who has reached the 90 day limit for password expiration, the user cannot connect. However, with a user who has not reached the 90 day password expiration limit, the user can connect via the Rest API fine.

I have ensured that the setting in Stores > Configuration > Advanced > Admin > Password Change is set to "Recommended" and chang

[2018-07-31 11:53] magento-engcom-team commented on #17292
Hi @davoc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-31 11:56] naren211 commented on #17287
u can reproduct by dentbay.cpm/jmori

[2018-07-31 12:06] TBSMage commented on #16285
Hello Any update on this ? I'm having same problems with M2.2.5. Any workaround ?

[2018-07-31 12:26] AdamReece-WebBox commented on #5423
Hi @dvershinin,

It appears that the agency that gave us the project to deploy didn't tell us that Varnish cache was enabled in Magento's settings.

Switching this to use Magento's built-in cache resolved the issue. (ESIs process as intended now.)

[2018-07-31 12:27] aasim110 commented on #17119
@magento-engcom-team @engcom-backlog-nickolas Issue happens in parent category only, in sub categories seems working fine.

[2018-07-31 12:41] engcom-backlog-pb commented on #14518
@erichagz , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-07-31 12:41] #14518 closed, assigned to nobody

[2018-07-31 12:42] engcom-backlog-nazar commented on #17292
Hi @davoc I cannot reproduce your scenario see attachments

![frame-83d](https://user-images.githubusercontent.com/40756439/43460076-400713bc-94d8-11e8-95f7-c0488548639b.gif)

[2018-07-31 12:59] engcom-backlog-nazar commented on #16452
Hi @lbajsarowicz  , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2018-07-31 12:59] #16452 closed, assigned to nobody

[2018-07-31 13:00] zaibigits099 commented on #7171
following therool . I added this below this line in function `_prepareForm` of class `vendor/magento/module-checkout-agreements/Block/Adminhtml/Agreement/Edit/Form.php` but i did over-ride to avoid lossing it after upgrade.

`$model->setStores($this->_storeManager->getStore(true)->getId());`

and it worked on Magento 2.2.4 with me.

[2018-07-31 13:31] cosmomathieu commented on #10355
@adamsimonini I would have loved to try your suggestion, however, I no longer work on that project. Will try that in my next Magento site.

Thanks!

[2018-07-31 13:54] engcom-backlog-andrii commented on #14542
@ferrazzuk , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-31 14:12] JoshuaFlood commented on #14542
I am incredibly surprised that you can't reproduce this issue because it is reproducible on every magento version/distro that allows PayPal payments.

The PayPal API no longer handles addresses, so when you send an address it gets confused.

From what I have read, its possible to enable this by contacting the PayPal technical team, but addresses are never going to be parsed if magento is linked to

[2018-07-31 14:29] engcom-backlog-pb commented on #16165
@mihaifaget, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-31 14:40] engcom-backlog-pb commented on #14647
@chernenm, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-31 16:14] orlangur commented on #17287
@naren211 it looks like server misconfiguration on your side. Really doubt this issue is reproducible on a vanilla installation.

[2018-07-31 16:15] duffner commented on #16383
@magento-engcom-team This is still a valid issue

[2018-07-31 16:17] iRabi commented on #7447
@ragboyjr My page refreshing issue was solved by appending `/ `at end of checkout.

[2018-07-31 16:27] orlangur commented on #16383
@duffner what do you mean? Please provide clear steps where you believe Magento behavior is incorrect.

[2018-07-31 16:47] clockworkgeek commented on #13229
M2 works the same as M1 in this regard.  Guest quotes are never purged so they build up in the database, even if they contain no items.  Previously I wrote [an (M1 only) extension](https://marketplace.magento.com/clockworkgeek-clockworkgeek-guestcookies.html) to take advantage of this by generating a token to match each guest quote and saving it in a cookie.  This is a more scalable approach than

[2018-07-31 16:52] orlangur commented on #17270
GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-31 16:52] #17270 closed, assigned to nobody

[2018-07-31 16:53] orlangur commented on #17277
Thanks for bug report! However, problems with data migration from `1.x` must be reported in https://github.com/magento/data-migration-tool repository.

[2018-07-31 16:53] #17277 closed, assigned to nobody

[2018-07-31 17:12] ismaelvacco opened #17294 "Add extension_attributes in Product Custom Option Value interface"
Hi,

Would like to know why the ProductCustomOptionValuesInterface interface not have extension_attributes field and if exists in the backlog this issue.

[2018-07-31 17:12] magento-engcom-team commented on #17294
Hi @ismaelvacco. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-31 17:31] mohamed-karam opened #17295 "Search REST API returns wrong total_count"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Make a request to endpoint `GET /V1/search ` and provide `searchCriteria[pageSize]`.
2. Repeat the previous point with `searchCiteria[currentPage]` = 2

### Expected result

1. You will get a response with number of items equals `searchCriteria[pageSize]` in the first time
2. You will get a response with number of items <= `searchCrit

[2018-07-31 17:31] magento-engcom-team commented on #17295
Hi @mohamed-karam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-31 18:46] j0um opened #17297 "No children data for \Magento\Catalog\Model\CategoryManagement::getTree($categoryId) after first call."
The Magento implementation of the CategoryManagementInterface::getTree($rootCategoryId) does not provide a tree with children data after the first function usage.

### Preconditions
1. Magento 2.2.5
2. Php 7.1.15,  Percona Mysql 5.7.22-22

### Steps to reproduce
In a console script making use of \Magento\Catalog\Model\CategoryManagement, do the following :
$categoryId = 1;   // Any valid category

[2018-07-31 18:46] magento-engcom-team commented on #17297
Hi @j0um. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-07-31 19:04] sshymko commented on #8296
The issue is marked closed, but per the above it seems to be reproducible on the late Magento releases. Could you please reopen?

[2018-07-31 19:09] loibv5989 opened #17298 "We can't add this item to your shopping cart right now."
### Preconditions

1. Magento 2.2.5
2. Php 7.0.x,7.1.x, Percona Mysql 5.7, nginx

### Steps to reproduce
I have a mutiple store setup and I get an error when adding to cart.

### Expected result

1.
![image](https://user-images.githubusercontent.com/30828860/43481200-820a8a76-952f-11e8-9472-e194dfa41c97.png)
exception.log:
[2018-07-31 18:52:18] main.CRITICAL: ampromo_items is unknown type {"except

[2018-07-31 19:09] magento-engcom-team commented on #17298
Hi @dv-denda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-31 19:15] hostep commented on #9292
@ all complainers above: I completely understand your frustration, because it was fixed and then broken again and then fixed again. But as far as I'm aware, it is definitely fixed on the latest versions (2.1.14 & 2.2.5). Just to be sure, I've just tested those versions and can't reproduce the issue.

If someone is certain that he/she can trigger the problem using a non-customised store running the

[2018-07-31 19:24] jwundrak opened #17299 "Edit Address or Reorder in Multi-Store not possible if not Default Website"
### Setup
1. some linux (tested arch, centos and various debian based distros)
2. php 7.0-7.2 latest version

### Preconditions
1. Using Magento 2.1, 2,2 and 2.3 with develop-branch including sample-data
2. create a new website/store/store-view
3. set for default - store view in website scope: allowed country = US, default country = US
4. set for new website: allowed country = UK and default_count

[2018-07-31 19:29] j0um commented on #17297
@magento-engcom-team give me {2.2.5} instance

[2018-07-31 20:01] mbreckcabinets commented on #10555
Baffling.

[2018-07-31 20:06] mbreckcabinets commented on #7930
It's very discouraging that Magento can be this obtuse about this issue.

[2018-07-31 21:53] salehawal opened #17301 "watermark png alpha background turns black on "jpg" products images"
### Summary of the issue,
water mark alpha background turn black on jpg products images
![screenshot from 2018-07-31 23-10-17](https://user-images.githubusercontent.com/3238761/43489724-42d4f3a2-951e-11e8-8274-9416152cb3cd.png)

### Preconditions
magento 2.2.4 php 7

### Steps to reproduce
create a water marke and put opacity from 1 to 99

### Expected result
on jpg products images, watermark shou

[2018-07-31 21:53] magento-engcom-team commented on #17301
Hi @salehawal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-31 22:02] salehawal commented on #17301
i updated the issue text .. change the fail label please

[2018-08-01 02:01] alextricity commented on #15433
I get this same error on PHP 7.2 and mysql 8 on M2.3 when trying to upload a favicon or logo. Looking at chrome's developer tools (F12), it shows use of a depreciated javascript function (JQMIGRATE: deferred.pipe() is deprecated) so maybe that has something to do with it? I researched my particular error and it's been depreciated for a while and should not be called.

[2018-08-01 03:40] ayasoftware commented on #15117
I got the same error when I tried to edit a product.

Fatal error: Uncaught TypeError: Argument 3 passed to Magento\Framework\View\Element\UiComponentFactory::mergeMetadataElement() must be of the type array, null given, called in /home/efurniture/public_html/vendor/magento/framework/View/Element/UiComponentFactory.php on line 379 and defined in /home/efurniture/public_html/vendor/magento/framewor

[2018-08-01 05:53] abbasalibutt commented on #13524
@TerribleDeveloper I am also facing the same issue. Have you found it's solution?

[2018-08-01 06:13] AbdulKadir-Agoliya commented on #13801
Hi @magento-engcom-team
 I got same error
Magento 2.2.5
nginx server

I got Error Log :
I am Using Paypal Payments Pro Hosted Solution

8953: *6814 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Call to a member function getAdditionalInformation() on null in /www_users/xyz/vendor/magento/module-paypal/Controller/Hostedpro/Redirect.php:19

This is code on line 19
 $this->ge

[2018-08-01 06:27] AbdulKadir-Agoliya opened #17302 "Paypal HostedPro Issue: Call to a member function getAdditionalInformation() on null magento 2.2.5"
Paypal HostedPro Issue: Call to a member function getAdditionalInformation() on null

### Preconditions

1. Magento 2.2.5
2. nginx server
3. Using Paypal Payments Pro Hosted Solution

### Steps to reproduce

### Expected result

1.  order Should Place Successfully

### Actual result

1.   I got Error Log :
     8953: *6814 FastCGI sent in stderr: "PHP message: PHP Fatal error: Uncaught Error: Call

[2018-08-01 06:27] magento-engcom-team commented on #17302
Hi @AbdulKadir-Agoliya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-08-01 06:34] AbdulKadir-Agoliya commented on #17302
2.2.5

[2018-08-01 06:38] AbdulKadir-Agoliya commented on #17302
@victor-v-rad  can you Please help on this issue?

[2018-08-01 06:42] engcom-backlog-nazar commented on #17299
Hi thank you for you report.  @jwundrak Can you please provide a short video about actual result ?

[2018-08-01 06:53] engcom-backlog-nazar commented on #17298
Hi @dv-denda thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-01 06:53] #17298 closed, assigned to nobody

[2018-08-01 07:17] woutersamaey opened #17303 "Missing "use default" checkbox for product images when overriding on store view level"
### Preconditions
1. Tested in Magento 2.2.4
2. Have a product with images on it

### Steps to reproduce
1. Edit a product
2. Switch to a certain store view scope
3. Edit the primary image for the product
4. There is no "Use default" checkbox, to use the product images as entered on the global scope

### Expected result
1. Allow us to reset product images to the parent or global scope, just like a

[2018-08-01 07:17] magento-engcom-team commented on #17303
Hi @woutersamaey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-01 07:25] engcom-backlog-pb commented on #17294
@ismaelvacco, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-01 07:25] #17294 closed, assigned to nobody

[2018-08-01 07:46] nedge2k commented on #17286
Hi, so it's a Catalog Products List widget, set to display only on CMS homepage, with the condition of Featured = yes. Deleting or removing the layout options for the widget prevent the error but even if you delete it entirely and then make a new one exactly the same, the error returns.

[2018-08-01 07:52] gediminaskv commented on #9182
How did you solve this?

[2018-08-01 07:56] engcom-backlog-nazar commented on #17295
Hi @mohamed-karam I'm not able to reproduce this issue by following the steps you provided.
![frame-03f](https://user-images.githubusercontent.com/40756439/43508778-8594f0ce-9579-11e8-9d06-f293176c9cdd.gif)

[2018-08-01 08:08] engcom-backlog-nazar commented on #17295
@mohamed-karam  you need to use together, like this-> `&searchCriteria[current_page]=1&searchCriteria[page_size]=2`

[2018-08-01 08:20] #17301 closed, assigned to nobody

[2018-08-01 08:20] sibi4586 opened #17304 "Unknown error : Element 'script': The attribute 'src' is required but missing."
Hi

I am a newbie Magento2 developer and tried to develop shipping restriction country. So I created custom module which consists install data setup for creating custom product attribute. After that I had done the setup:upgrade and di:compile then static deploy too.

After that the error triggered

Now showing this error only not showing any php error to fix the issue

This is really unknown. I de

[2018-08-01 08:21] #17304 closed, assigned to nobody

[2018-08-01 08:27] northdakota commented on #13823
I have the same problem, in my case error is reproduced on search page with elastic search enabled.

[2018-08-01 08:37] engcom-backlog-nazar commented on #17297
Hi @j0um, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-01 08:38] AbdulKadir-Agoliya commented on #17302
@magento-engcom-team  give me 2.2.5 instance

[2018-08-01 09:01] engcom-backlog-nazar commented on #16098
@mcyrulik closing as duplicate of https://github.com/magento/magento2/issues/5321.

[2018-08-01 09:01] #16098 closed, assigned to nobody

[2018-08-01 09:05] engcom-backlog-nazar commented on #14649
@zach-allgood  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-01 09:05] #14649 closed, assigned to nobody

[2018-08-01 09:05] engcom-backlog-nazar commented on #14641
@ssmadsen  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-01 09:05] #14641 closed, assigned to nobody

[2018-08-01 09:06] engcom-backlog-nazar commented on #14582
@dinkeronline we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-01 09:06] #14582 closed, assigned to nobody

[2018-08-01 09:15] mohamed-karam commented on #17295
I think I need to elaborate more.
This is the request I send
`{{url}}/rest/V1/search?searchCriteria[pageSize]=10&searchCriteria[currentPage]=1&searchCriteria[requestName]=quick_search_container&searchCriteria[filterGroups][0][filters][0][field]=search_term&searchCriteria[filterGroups][0][filters][0][conditionType]=like&searchCriteria[filterGroups][0][filters][0][value]={search_query}`

If this sea

[2018-08-01 09:39] mohamed-karam commented on #17295
That isn't what happens with other endpoints that have searchCriteria. For example if you call this endpoint
`{{url}}/rest/V1/products?searchCriteria[pageSize]=10&searchCriteria[currentPage]=1&searchCriteria[filterGroups][0][filters][0][field]=category_id&searchCriteria[filterGroups][0][filters][0][value]=75&searchCriteria[filterGroups][0][filters][0][conditionType]=eq`
The total_count value will

[2018-08-01 09:49] jignesh-baldha commented on #17187
@evolbug I've fixed this issue and created PR.

[2018-08-01 10:01] engcom-backlog-nazar commented on #17255
Hi @vo1  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-01 10:16] NickvdMeij commented on #9292
@hostep , I just tested this out with 2.1.14 but it is still broken. It generated the following URL when i uploaded an image:
https://xxxxxxxx.com/admin_xxxxxx/cms/wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvSmF2YS1wcm9ncmFtbWVyZW4ucG5nIn19/key/8a8f8ecd7ed26270015b1440c7373391574fd287db0c2c6e2844069c80540791/

As you can see, the image still contains the admin slug and furthermore,

[2018-08-01 10:19] andrejavidovic opened #17306 "cart().subtotal_excl_tax and cart().subtotal_incl_tax are the same"
cart().subtotal_excl_tax and cart().subtotal_incl_tax are the same
i got the some price, how can I get the subtotal with including tax
<div class="amount price-container">

            <span class="price-wrapper" data-bind="html: cart().subtotal_excl_tax" style="color: blue;"></span>
            <span class="price-wrapper" data-bind="html: cart().subtotal_incl_tax"></span>

            <span class

[2018-08-01 10:20] magento-engcom-team commented on #17306
Hi @andrejavidovic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-01 10:20] UlliKah commented on #9292
@NickvdMeij Yes that is the insert directive which doesn't get converted into the actual image URL. Instead the system just inserts the convert directive / command and that doesn't work... The issue is ancient and hasn't been fixed neither in CE or EE version...

[2018-08-01 10:42] hostep commented on #9292
@NickvdMeij: it was in the product description. It was done on Magento 2.1.14 installed from scratch using composer.

If you would be so kind: can you list all the exact steps taken to trigger the problem?
It would also be nice if you can try to reproduce it on a clean Magento 2.1.14 as well, I still have the feeling it might be triggered by some sort of customisation done to your installation.

I

[2018-08-01 11:11] jwundrak commented on #17299
@engcom-backlog-nazar [Here is an example](https://drive.google.com/open?id=1pylLVhxn-QcWhsnRtnsJP7WlW7DPiEUf) on Magento 2.2.5 with a second website, there only Germany is the default country and the only allowed country.

[2018-08-01 11:12] simonmaass commented on #2989
I am having the same problem in magento 2.2.5

[2018-08-01 11:15] simonmaass commented on #2739
is there a solution yet - having the same issue in magento 2.2.5 - a configurable product with variations and if u try to create customizable options in the configrable product you get the following error:

![image](https://user-images.githubusercontent.com/32599710/43518598-e5a5fa22-958c-11e8-9013-8fb31bfb5689.png)

[2018-08-01 11:17] engcom-backlog-nazar commented on #17282
Hi @tschirmer i'm not able to reproduce by you scenario, see attachments,
 If you'd like to update it, please reopen the issue.

![selection_047](https://user-images.githubusercontent.com/40756439/43518535-11781fba-9595-11e8-8305-fa2ff6e92d35.png)

[2018-08-01 11:17] #17282 closed, assigned to nobody

[2018-08-01 11:33] engcom-backlog-pb commented on #17286
@nedge2k, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![default](https://user-images.githubusercontent.com/40756187/43519345-bc99fb0a-9597-11e8-96b6-057a60cf099f.png)

[2018-08-01 11:33] #17286 closed, assigned to nobody

[2018-08-01 11:35] engcom-backlog-pb commented on #17306
@andrejavidovic, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-01 11:35] #17306 closed, assigned to nobody

[2018-08-01 11:39] engcom-backlog-nazar commented on #17299
@jwundrak i'm not able to reproduce this on 2.3-dev and 2.3-dev branch see attachments

![frame-03a](https://user-images.githubusercontent.com/40756439/43519569-9f938160-9598-11e8-80eb-dfc8b651e5a3.gif)

[2018-08-01 11:51] rishabhrkrai opened #17307 "Estimate Shipping section is not retained when click on update shoppoing cart"
### Preconditions

1. Magento 2.1.7 to Magento 2.2.5
2. PHP 7, Nginx, MySQL 5.6.x

### Steps to reproduce

1. Upgrade magento from 2.1.7 to 2.2.5 via composer
2. Add a product to cart and go to cart page
3. Change shipping address(country, state and zip) under summary section
4. Click on Update Shopping Basket

### Expected result

1. After click on Update Shopping Basket, changed country remains.

[2018-08-01 11:52] magento-engcom-team commented on #17307
Hi @RishabhRkRai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-01 11:55] engcom-backlog-nazar commented on #17026
Hi @siniztr which version of magento you tested? and php version ?

[2018-08-01 12:07] engcom-backlog-nazar commented on #17295
@mohamed-karam , thank you for your report request.
We've acknowledged the issue and added to our backlog.

[2018-08-01 12:09] engcom-backlog-pb commented on #17307
@RishabhRkRai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-01 12:17] engcom-backlog-pb commented on #16950
@Ctucker9233, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Also, Magento 2.2 doesn't support PHP 7.0.

[2018-08-01 12:25] jwundrak commented on #17299
@engcom-backlog-nazar I rerun the same steps as in the video and in 2.2-dev it works.

I found the commit: c23480acc89026c890e2ab6ad809cb7a0d30f9b6

Sorry for reporting this already fixed bug!

[2018-08-01 12:25] #17299 closed, assigned to nobody

[2018-08-01 12:27] engcom-backlog-pb commented on #16375
@Shimon2, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-01 12:27] #16375 closed, assigned to nobody

[2018-08-01 12:30] engcom-backlog-pb commented on #16276
@Axel29, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps about custom varchar category attribute.

[2018-08-01 12:31] engcom-backlog-nazar commented on #17184
Hi @Felistas i'm not able to reproduce by you scenario, In my case -> `Customer is redirected to the order confirmation page always.`

[2018-08-01 12:44] engcom-backlog-pb commented on #16025
@sara-sadika, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-01 12:44] #16025 closed, assigned to nobody

[2018-08-01 12:48] engcom-backlog-pb commented on #15962
@springimport, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-01 12:48] #15962 closed, assigned to nobody

[2018-08-01 12:58] hostep commented on #16950
Yes it does, we run 2.2.x fine on 7.0.x ;)
See docs: https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

[2018-08-01 13:01] engcom-backlog-nazar commented on #16556
Hi @abhaykhatariya I'm not able to reproduce by your scenario, The problem in you side, please check your PayPal account settings

[2018-08-01 13:02] aasim110 commented on #3924
I'm getting same issue and have changed max_input_vars 100000 but still not working for me!!
Any ideas ?

_NOTE : I'm checking in magento 2.2.3 version._

[2018-08-01 13:06] abhaykhatariya commented on #16556
@engcom-backlog-nazar
I am 100% sure that if you do check with sandbox or live account into fresh magento 2 installation it will not work. currently i am facing same issue with magento 1.x and 2.x as well.

try to use below address while checkout as billing and shipping.

Svetlaya ul. Apt 191 (street name, house + apartment numbers)
Nizhnelunohodsk (city name)
Zabytaya oblast (region name)
877561

[2018-08-01 13:07] hostep commented on #16375
I've seen this behaviour a couple of times (very sporadic), but haven't found time yet to investigate, easiest solution is to just flush the cache, but that's not really the correct solution.

@orlangur:

Not everyone will be able to use Varnish unfortunately.
Maybe some kind of configurable limit should be added to Magento to keep the cache size under control somehow? I think that's how Varnish w

[2018-08-01 13:14] lewis-dan commented on #8170
Hi,
The issue is still there with Cloud version 2.1.9. Did not get any update on this specific error !! Its horrible experience.
Thanks,
Dan

[2018-08-01 13:17] alexbelkin opened #17308 "Unused variable collection, doubled instance"
Hello, I'm newbie at Magento, and looking for examples of code in core. I found that collection variable in that method is unused, and searchResult class is instantiated instead of returning collection with items. I checked it in my code, and can't find what are the benefits of using searchResults here instead of collection, items are the same.

https://github.com/magento/magento2/blob/50f974b0c8f

[2018-08-01 13:18] magento-engcom-team commented on #17308
Hi @alexbelkin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-01 13:18] orlangur commented on #16375
In Varnish this is builtin, for Magento it would be a feature request. I don't think such mechanism should be a part of Magento at all, as to me having some script monitoring disk usage and removing oldest cache entries is much more reliable.

[2018-08-01 13:21] #17308 closed, assigned to nobody

[2018-08-01 13:29] engcom-backlog-nazar commented on #16556
@abhaykhatariya Problem not in magento side is your account setting to paypal specific to Russia ->https://developer.paypal.com/webapps/developer/docs/classic/api/merchant/SetExpressCheckout_API_Operation_NVP/   So magento have no response out paypal.

[2018-08-01 13:34] engcom-backlog-nazar commented on #16556
@abhaykhatariya also see exception log why paypal rejected request.

[2018-08-01 13:47] engcom-backlog-pb commented on #15864
@hostep, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-01 13:47] engcom-backlog-nazar commented on #14656
Hi @qsolutions-pl   backend_model. It is used to handle the process of uploading the file: setting the upload directory.

[2018-08-01 13:47] #14656 closed, assigned to nobody

[2018-08-01 13:50] engcom-backlog-andrii commented on #10679
@densen45 , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-01 13:50] aeu opened #17309 "[2.2.5] Admin panel unresponsive in Chrome due to .js errors"
### Preconditions
1. Magento 2.2.5
2. PHP 7.1.19
3. CentOS centos-release-7-5.1804.el7.centos.2.x86_64
4. Chrome Version 67.0.3396.99

### Steps to reproduce
1. Install using Web wizard.  (I used https for storefront and admin but this may not be necessary)
2. After installation, using Chrome navigate to admin, then go to Stores->Configuration

### Expected result
1. Admin should work

### Actual

[2018-08-01 13:50] magento-engcom-team commented on #17309
Hi @aeu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instanc

[2018-08-01 13:51] abhaykhatariya commented on #16556
@engcom-backlog-nazar
Shipping address is invalid is the exception log but address is right.
It seems problem with shipping address ...instead of override customer shipping address on paypal
it is taking paypal shipping address which is used into account.

[2018-08-01 13:58] orlangur commented on #10440
Implementation approach described in https://github.com/magento/magento2/pull/11852#pullrequestreview-132885912

[2018-08-01 14:02] etcik1 commented on #15599
Hello @therouv

Here is screencast of our configurations and outcome: https://monosnap.com/file/jutJLdnwj65p6Di93tGYnDEviMm3XK

As You can see, Currency code in orders grid is AED, in both cases.

[2018-08-01 14:02] engcom-backlog-nazar commented on #16556
@abhaykhatariya , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-01 14:10] engcom-backlog-pb commented on #16950
@hostep, yes, you're right. Magento 2.2 supports PHP 7.0. I've got confused with Magento 2.3.

[2018-08-01 14:12] aeu commented on #17309
Screenshot of console (for this earlier)
![screen shot 2018-08-01 at 8 12 18 am](https://user-images.githubusercontent.com/2225377/43526934-569a1dae-9573-11e8-85c8-7169825dad11.png)

[2018-08-01 14:17] NickvdMeij commented on #9292
@UlliKah then how do you add an image? Furthermore, if its ancient and broken then why isn't it at least hidden from end-users?

@hostep I did basically the same as you, install through composer and just make a page and add a block  and use the WYSIWYG editor to add an image. There aren't more steps then that honestly

[2018-08-01 14:34] PeteZero1 commented on #14451
@engcom-backlog-nazar You are not replicating correctly.

1. Click "Place Order" before touching the T&C checkbox
2. Get alerted about T&C's not being checked
3. Check T&C's
4. "Place Order" button remains disabled

This ticket mentions this was fixed in 2.2.x, but we can still replicate it on 2.2.3?
https://github.com/magento/magento2/issues/12900

[2018-08-01 14:41] abhaykhatariya commented on #16556
@engcom-backlog-nazar
see this video which i have prepare with fresh magento installation
http://www.screencast.com/t/8TsVQpgGEH

[2018-08-01 14:50] emosquito commented on #13229
The solution that @clockworkgeek gives is a great solution, I would love to see that officially supported in M2.

@erfanimani enabling the session lifetime is not a great solution in general because the session lifetime also affects logged in customers. Keeping customers logged in for 2 weeks could be a security risk for an ecommerce website (Which is why persistent mode exists).

[2018-08-01 14:53] engcom-backlog-andrii commented on #16740
@wedob13 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided.Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

[2018-08-01 15:00] AykutCevik opened #17310 "session_start(): Failed to read session data: user (path: /var/lib/php/sessions)"
While viewing the orders page in the admin area and opening several orders I'm facing an error message.

### Preconditions
1. PHP 7.1.17-1
2. Redis server v=3.0.6
3. set redis as the session handler in env.php
3.1 see session config:
[code]
2. have orders in your system

### Steps to reproduce
1. Browse the order pages in the admin area
2. click on an order
3. go back to the order list
4. click on

[2018-08-01 15:00] magento-engcom-team commented on #17310
Hi @AykutCevik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-01 15:25] siniztr commented on #17026
I installed the latest version offered by both the website and github. PHP version and additional mods are posted in initial post. Tested on PHP7.1 at first, then with 7.2, and with (among others) fCGI, HTTP/2, OPCache, memcache and php-FPM. I am running test linux boxes on VMWare vsphere where I test installations on a "real" production level for clients, before actually purchasing a VPS server a

[2018-08-01 16:29] sidolov commented on #15009
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#16594 by @gwharton in 2.2-develop branch
Related commit(s):
 - [a012c45166619554619691b996d4474ed6278bfb](https://github.com/magento/magento2/commit/a012c45166619554619691b996d4474ed6278bfb)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-01 16:29] sidolov commented on #16580
Hi @Karlasa. Thank you for your report.
The issue has been fixed in magento/magento2#16594 by @gwharton in 2.2-develop branch
Related commit(s):
 - [a012c45166619554619691b996d4474ed6278bfb](https://github.com/magento/magento2/commit/a012c45166619554619691b996d4474ed6278bfb)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-01 16:29] sidolov commented on #16243
Hi @evktalo. Thank you for your report.
The issue has been fixed in magento/magento2#17192 by @gelanivishal in 2.1-develop branch
Related commit(s):
 - [1ed15d2b78df252a37d643bd59ea1a8bd61a3fff](https://github.com/magento/magento2/commit/1ed15d2b78df252a37d643bd59ea1a8bd61a3fff)

The fix will be available with the upcoming 2.1.15 release.

[2018-08-01 17:41] lsv commented on #6731
It can still be reproduced in master branch

[2018-08-01 17:42] kevinboerland opened #17311 "Region is always required when creating a new order in the Admin area"
### Preconditions

1.  Magento 2.2.5
2.  PHP 7.0.31
3.  MariaDB 10.1.29
4.  Apache 2.4.29
5.  Ubuntu 18.04

### Steps to reproduce

1. Have a clean Magento 2.2.5 install (composer create-project)
2. In the Admin area go to Sales -> Orders
3. Click "Create New Order"
4. Click "Create New Customer"
5. State/Province is mandatory as the selected country is United States
6. Change country to "The Neth

[2018-08-01 17:42] magento-engcom-team commented on #17311
Hi @kevinboerland. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-01 18:44] Felistas commented on #17184
@engcom-backlog-nazar the issue is persistent in Chrome only. Note: This is when stored card details are used for checkout.

[2018-08-01 19:10] magento-engcom-team commented on #14476
Hi @damiandawber. Thank you for your report.
The issue has been fixed in magento/magento2#17209 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [647f2fa5c3e55d84d494fe7ffc7442c04cdae3c1](https://github.com/magento/magento2/commit/647f2fa5c3e55d84d494fe7ffc7442c04cdae3c1)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-01 19:27] hostep commented on #16927
Confirmed.

Seems to be introduced by https://github.com/magento/magento2/commit/477252628beb7cd9a9d20f19405f5d10c48e3cb9

Since the files `swagger-ui-bundle.js` & `swagger-ui-standalone-preset.js` are already minified and the js minifier used by Magento seems to have problems with trying to minify already minified files, those files should probably be marked as to not be minified?

/cc @VladimirZ

[2018-08-01 19:41] hostep commented on #16927
Update: I goofed up testing, and upgrading `swagger-ui-bundle.js` to version [`3.17.6`](https://raw.githubusercontent.com/swagger-api/swagger-ui/v3.17.6/dist/swagger-ui-bundle.js) actually fixes the problem.

Another way of fixing the problem would be to copy those files with filenames `swagger-ui-bundle.min.js` and `swagger-ui-standalone-preset.min.js`, so Magento avoids minifying these files sin

[2018-08-01 20:02] hostep commented on #9292
@NickvdMeij : just tried a couple more times, still can't reproduce :(

But maybe something else you can try - if you haven't tried it before - is by clicking the 'Show / Hide Editor' button, then position your cursor on the place in the code where the image needs to go and then click the 'Insert Image...' button.
I've noticed in the past that inserting an image this way seems to give fewer issues

[2018-08-01 22:05] atishgoswami commented on #8170
@lewis-dan can you try applying the patch attached
https://github.com/magento/magento2/files/1710709/MDVA-2969_EE_2.1.0_v2_composer.patch.gz
and see if it works

[2018-08-01 22:35] iget-master commented on #2504
@webcretatechnologies The original issue causes 403 responses, not 404, so I think that my fix can't help.

I really don't understand why do magento team don't fix this with so many reports. using `cgi.fix_pathinfo = 0` is a recommendation from nginx itself and many other places...

[2018-08-02 00:44] ctadlock commented on #636
@magento-engcom-team Is this scheduled to be in in 2.3?

[2018-08-02 01:16] KSaho commented on #14977
I am not sure if this adds anything to the conversation but I will chime in anyway.

I changed all product title characters with multi-quotes to two single quotes.
i.e. 7" Cat becomes 7'' Cat.

This didn't alter URLs or anything other than the title and fixed the JSON issue.

A screenshot demonstrating the issue on a fresh Magento 2 install 2.2.5:
https://imgur.com/a/6tNrkUr

[2018-08-02 03:02] tuyennn commented on #9609
This issue was caused by your mysql version. I guess this is 5.6, try to upgrade to Mariadb or 5.7
Here the [ref](https://dev.mysql.com/doc/refman/5.6/en/multiple-column-indexes.html)

[2018-08-02 03:33] lombokindustries opened #17317 "Magento 2 Checkout Page is Blank"
Magento 2 Checkout Page is Blank after installing Payment custom module. But when I remove it, the checkout page still blank. I need that payment custom module for development.
The first test, it works until final order, but next, it doesn't..

Magento CE 2.2.5

module ref:https://www.classyllama.com/blog/how-to-create-payment-method-magento-2

[2018-08-02 05:54] RishabhRkRai commented on #17307
Hi @engcom-backlog-pb , this works on fresh magento installation and the upgraded magento for the stores set on the **US** locale.

But when I upgrade the stores on locale set to **AU** or **GB** then this issue occurs. Hope this would help you to reproduce the issue.

[2018-08-02 06:27] MaxMage commented on #16409
hi @magento-engcom-team, can you please describe which behavior should be on strategy replace? Should be images from simple product totally replace main configurable product image?

[2018-08-02 06:48] WebWeave commented on #17311
We are having this issue for a while already, its reproduceable on vanilla Magento 2.2.5.

[2018-08-02 07:29] engcom-backlog-pb commented on #17317
@lombokindustries, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-02 07:29] #17317 closed, assigned to nobody

[2018-08-02 07:43] engcom-backlog-andrii commented on #17309
@aeu , thank you for your report.We were not able to reproduce this issue by following the steps you provided.Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

[2018-08-02 07:55] buddsbuddy opened #17318 "Customer get order confirmation email before pay"
### Preconditions

1.  Magento 2.1.11v with Porto theme
2. Php 7

### Steps to reproduce

1. Visit my website https://buddsbuddy.com add any product to cart and select pay through paytm and press submit button. before you pay you will get Order confirmation Email.
2. after successfully pay through paytm it will redirect to failure page and order status will be Suspected Fraud.

### Expected result

[2018-08-02 07:55] magento-engcom-team commented on #17318
Hi @buddsbuddy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-02 08:14] buddsbuddy commented on #17318
Yeah, I provided all the process to reproduce the issue. I'm new to Magento so please let me know specific details if you guys needed.

[2018-08-02 08:20] engcom-backlog-nickolas commented on #17311
Hello @kevinboerland, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-02 08:25] onlinejitu opened #17319 "Google reCAPTCHA : Sometimes reCAPTCHA doesn't display"
### Preconditions

1. Magento 2.2.5
2. Google reCAPTCHA extension should be installed and configured to show on frontend 'Customer Login' form
3. Magento's default Luma theme should be activated

### Steps to reproduce

1. I have installed 'Google reCAPTCHA' in Magento 2.2.5, and configured it and then enabled it for frontend forms as well as for admin login.
2. I am using Magento's default Luma t

[2018-08-02 08:25] magento-engcom-team commented on #17319
Hi @onlinejitu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-02 08:25] engcom-backlog-nickolas commented on #17225
Hello @fooman, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-02 08:30] dnsv commented on #15846
Duplicate of #14869.

[2018-08-02 08:30] engcom-backlog-nickolas commented on #15533
@qsolutions-pl, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-02 08:30] #15533 closed, assigned to nobody

[2018-08-02 08:34] engcom-backlog-nickolas commented on #16303
@infocurci, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-02 08:34] #16303 closed, assigned to nobody

[2018-08-02 08:35] digikeijs commented on #14869
@sidolov issue is not solved yet, See new incident 15846

[2018-08-02 08:35] engcom-backlog-nickolas commented on #16587
@damien-lechopier, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-02 08:35] #16587 closed, assigned to nobody

[2018-08-02 08:36] engcom-backlog-nickolas commented on #16901
@bob7689, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-02 08:36] #16901 closed, assigned to nobody

[2018-08-02 08:37] engcom-backlog-nickolas commented on #16914
@mariamghalleb, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-02 08:37] #16914 closed, assigned to nobody

[2018-08-02 08:50] engcom-backlog-pb commented on #13858
@diadara, thank you for your report.
This issue is already fixed.
![default](https://user-images.githubusercontent.com/40756187/43573143-be3717ba-9649-11e8-93c5-1441c4c1ea6e.png)

[2018-08-02 08:50] #13858 closed, assigned to nobody

[2018-08-02 08:53] BezV8 opened #17320 "Product Export fails"
### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1. Generate 20,000+ products by performance toolkit.
2. Go to System -> Data Transfer -> Export
3. Select Products for Entity Type and CSV for Export File Format.
4. Click Continue

### Expected result

1. CSV file is exported.

### Actual result

1. Export fails.

[2018-08-02 08:53] magento-engcom-team commented on #17320
Hi @BezV8. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-08-02 08:54] BezV8 commented on #17320
@magento-engcom-team give me 2.2.3 instance

[2018-08-02 08:54] magento-engcom-team commented on #17320
Hi @BezV8. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-08-02 08:54] jimuld commented on #15008
+1

[2018-08-02 08:54] magento-engcom-team commented on #17320
Hi @BezV8, here is your [Magento instance](https://i-17320-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17320-2-2-3.engcom.dev.magento.com/admin](https://i-17320-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-02 09:11] 4443 opened #17321 "Prices decimals missing after price-box.js is loaded"
dsfsdfsdf

[2018-08-02 09:11] magento-engcom-team commented on #17321
Hi @4443. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-08-02 09:14] engcom-backlog-pb commented on #17320
@BezV8, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-02 09:17] BezV8 commented on #17320
@magento-engcom-team Can not reproduce issue on vanilla instance. Issue seems to being caused by the Entity Attributes grid never loading and thus not passing options to product export.

**Vanilla Instance:**
![screenshot_2018-08-02 export import export data transfer system magento admin](https://user-images.githubusercontent.com/33320744/43574847-1d79e930-963d-11e8-8e9c-0386b71179fe.png)

**Live

[2018-08-02 09:19] 4443 commented on #17321
sdf

[2018-08-02 09:19] #17321 closed, assigned to nobody

[2018-08-02 09:19] freshweb opened #17322 "Customer Can't Login Using Chrome - OK w/ Firefox Magento 2.2.4"
Using Chrome (67.0.3396.99 (64-bit) Mac) Customer login not working  - page just returns with empty fields.
Using Firefox (61.0.1 (64-bit)) login works as expected.
Using Safari ( 11.1.2) login works as expected.

### Preconditions

1. Magento CE 2.2.4
2. PHP 7.0.31
3. CentOS Linux 7.5.1804 (Core)‬
4. Proper domain name - co.uk
5. Magento setting - dev status
6. Cookie settings:
a) Cookie Lifetime

[2018-08-02 09:19] magento-engcom-team commented on #17322
Hi @freshweb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-02 09:21] keyurshah070 opened #17323 "form_key cookie contain leading dot"
### Preconditions

1. Fresh Magento 2.2.5 with sample data
2. Multiple websites with different domain

### Steps to reproduce

1. Change the configuration to set the cookie for specific domain
2. Login in the backend with valid details
3. Store > Configuration > General
4. Change the website view to save the configuration for only website wise
5. Web Default Cookie Settings > Cookie Domain set you

[2018-08-02 09:25] paulvandermeijs opened #17324 "When using a template for \Magento\Framework\View\Element\Messages $interpretationStrategy is inaccessible"
### Preconditions

1. Magento 2.2.0

### Steps to reproduce

1. Create a template
[code]
2. Update layout checkout_cart_index.xml to use this template in the cart for block checkout.cart.validationmessages
3. Generate an error (e.g. when an item is out of stock)

### Expected result

1. Messages are being displayed according to the template

### Actual result

1. An error is shown because `$interp

[2018-08-02 09:25] magento-engcom-team commented on #17324
Hi @paulvandermeijs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-08-02 09:28] engcom-backlog-pb commented on #17322
@freshweb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-02 09:28] #17322 closed, assigned to nobody

[2018-08-02 09:28] freshweb commented on #17322
@magento-engcom-team give me 2.2.4 instance

[2018-08-02 09:28] magento-engcom-team commented on #17322
Hi @freshweb. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-08-02 09:29] magento-engcom-team commented on #17322
Hi @freshweb, here is your [Magento instance](https://i-17322-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-17322-2-2-4.engcom.dev.magento.com/admin](https://i-17322-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-02 09:34] czettnersandor commented on #1146
Please note the sitemap url in the robots.txt is still wrong. I added this line to pub/.htaccess below the `RewriteEngine on` line:

[code]

Which made it work

[2018-08-02 09:46] lewis-dan commented on #7964
Hi,
Required :
We are assigning the size attributes to configurable products if we filter through size attribute on listing page then the configurable products that has size attribute and the assigned simple products is in stock in that case only it will be visible on frontend.

Current Result :
For Example
we filter the product by size attribute value say size=2.5 now the configurable products wh

[2018-08-02 09:54] lewis-dan commented on #8170
@atishgoswami I tried to implement the same patch with 2.1.9, however, getting the following errors -

W: error: patch failed: vendor/magento/module-catalog-inventory/Model/Stock/StockItemRepository.php:167
    W: error: vendor/magento/module-catalog-inventory/Model/Stock/StockItemRepository.php: patch does not apply
    W: error: patch failed: vendor/magento/module-configurable-product/Block/Prod

[2018-08-02 10:02] PierreLeMaguer opened #17325 "Wrong position for images used/shared by several produtcs"
### Preconditions

1. Magento CE 2.1.14

### Steps to reproduce

1. 2 simple products
2. these 2 products have to share the same image. In the media tables, it means :
in catalog_product_entity_media_gallery_value
[code]
and in catalog_product_entity_media_gallery
[code]
and in catalog_product_entity_media_gallery_value_to_entity
[code]
### Expected result

1. Images are displayed with the right p

[2018-08-02 10:02] magento-engcom-team commented on #17325
Hi @PierreLeMaguer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-02 10:13] lewis-dan commented on #7964
@igrybkov I checked your points, however, that solution is also NOT working !!

[2018-08-02 10:13] lewis-dan commented on #8170
@igrybkov I checked your points, however, that solution is also NOT working !!

[2018-08-02 10:27] hostep commented on #14977
Hi folks

There are two issues being discussed in here.

The first one from @heyepic, that one has a fix over here: https://github.com/magento/magento2/pull/16594/files

Fix is scheduled for Magento 2.2.7 (or 2.2.6, it's a bit unclear for me)

The other one from @erichagz & @KSaho, has a fix over here: https://github.com/magento/magento2/pull/16148/files
(the last one has already been superseded b

[2018-08-02 10:48] engcom-backlog-andrii commented on #17319
@onlinejitu , please refer to the [Community Forums](https://community.magento.com/)or the [Magento Stack Exchange](https://magento.stackexchange.com/) site foradvice or general discussion about this issue. The GitHub issue tracker isintended for Magento Core technical issues only.

[2018-08-02 10:48] #17319 closed, assigned to nobody

[2018-08-02 11:01] engcom-backlog-nickolas commented on #15956
Hello @bibiseb, thank you for your report. Unfortunately I cannot reproduce this issue.

![peek 2018-08-02 14-03](https://user-images.githubusercontent.com/40755810/43579951-71090b16-965c-11e8-87e6-7d2429e8af97.gif)

If you'd like to update it, please reopen the issue.

[2018-08-02 11:01] #15956 closed, assigned to nobody

[2018-08-02 11:06] sebastian-enz opened #17326 "Please reopen issue #14236"
It does not seem anyone of engcom has noticed there is a huge bug in email functionality here: https://github.com/magento/magento2/issues/14236

The issue was closed a while ago and since then it seems like engcom didn't take a look at it anymore even though many people have since mentioned @magento-engcom-team and requested it to be reopened.

This is a valid issue that should be fixed. There are

[2018-08-02 11:06] magento-engcom-team commented on #17326
Hi @ikk0. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-08-02 11:29] engcom-backlog-nickolas commented on #15922
Hello @michaeldyl520, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-02 11:34] CrowlaraZ commented on #9505
@magento-engcom-team Can you let us know which files this has been fixed? I am using 2.1.7, I cant upgrade, give some info for the files so i can fix them

[2018-08-02 11:35] CrowlaraZ commented on #11639
Can you let us know which files this has been fixed?

[2018-08-02 12:02] engcom-backlog-andrii commented on #17318
@buddsbuddy , thank you for your report.We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation and default theme luma or blank or latest release.

[2018-08-02 12:05] sidolov commented on #16529
Hi @sanganinamrata. Thank you for your report.
The issue has been fixed in magento/magento2#16856 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [b519270ced38296be5c44ce02b23020ecc1d4e35](https://github.com/magento/magento2/commit/b519270ced38296be5c44ce02b23020ecc1d4e35)
 - [9197c68bca1c6c166acca7d92eaf8c571c8de06d](https://github.com/magento/magento2/commit/9197c68bca1c6c166acca7d9

[2018-08-02 12:05] sidolov commented on #17225
Hi @fooman. Thank you for your report.
The issue has been fixed in magento/magento2#17268 by @mhauri in 2.3-develop branch
Related commit(s):
 - [90134aef95bdd3689f8236eab233b09e6c84a9a1](https://github.com/magento/magento2/commit/90134aef95bdd3689f8236eab233b09e6c84a9a1)
 - [0d5cb1e4d2f74eab03c637c68cb820e5adab75e0](https://github.com/magento/magento2/commit/0d5cb1e4d2f74eab03c637c68cb820e5adab75

[2018-08-02 12:05] sidolov commented on #16273
Hi @adampmoss. Thank you for your report.
The issue has been fixed in magento/magento2#17261 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [d1164548da45b9e2bb8ec22140061c1220748c23](https://github.com/magento/magento2/commit/d1164548da45b9e2bb8ec22140061c1220748c23)
 - [3a39a1674bf06d80d7df3969ecc78f84abd218c1](https://github.com/magento/magento2/commit/3a39a1674bf06d80d7df3969ecc78f

[2018-08-02 12:05] sidolov commented on #8131
Hi @DarkLanternMG. Thank you for your report.
The issue has been fixed in magento/magento2#17210 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [369b7bc5ad23f4f6eeda14cc24cd94f812aecf49](https://github.com/magento/magento2/commit/369b7bc5ad23f4f6eeda14cc24cd94f812aecf49)
 - [20a712431f597e90a2e4c8fd38dde9e1d68218b1](https://github.com/magento/magento2/commit/20a712431f597e90a2e4c8fd38dde

[2018-08-02 12:08] engcom-backlog-pb commented on #17325
@PierreLeMaguer, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-02 12:08] #17325 closed, assigned to nobody

[2018-08-02 12:11] vasilii-b commented on #16273
@magento-engcom-team , @sidolov hello!!!
there was already a PR created for 2.3-develop - https://github.com/magento/magento2/pull/16309, earlier than one already merged 17261. 😱 what is going on, guys ? Should we check first if issue/PR already created ? 🤦‍♂️

[2018-08-02 12:17] PierreLeMaguer commented on #17325
@magento-engcom-team give me 2.2-develop instance

[2018-08-02 12:17] magento-engcom-team commented on #17325
Hi @PierreLeMaguer. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-08-02 12:18] #17326 closed, assigned to nobody

[2018-08-02 12:18] magento-engcom-team commented on #17325
Hi @PierreLeMaguer, here is your [Magento instance](https://i-17325-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17325-2-2-develop.engcom.dev.magento.com/admin](https://i-17325-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-02 12:29] orlangur commented on #17324
@paulvandermeijs why you think `<?= $block->interpretationStrategy->interpret($message) ?>` is a valid code? Do we have such syntax somewhere in templates instead of just calling block method?

[2018-08-02 12:31] PierreLeMaguer commented on #17325
Can I have sql access ?

[2018-08-02 12:38] miguelbalparda commented on #12696
Reopening this, sorry about that.

[2018-08-02 12:43] crtl commented on #12602
I am having the same issue in Magento 2.2.4 CE.
Some cronjobs are scheduled 20 times.

[2018-08-02 13:16] avstudnitz commented on #12696
The problem with this behavior: I can add app/code/Magento to my `.gitignore `, but even if I do, and I call `bin/magento setup:upgrade` some time after running the integration tests, the modules are being added to `app/etc/config.php` which is not in my `.gitignore` (and shouldn't be).

[2018-08-02 13:32] sidolov commented on #16243
Hi @evktalo. Thank you for your report.
The issue has been fixed in magento/magento2#17191 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [ce5ac6e0c578900a2e9f92997a635d72c9643919](https://github.com/magento/magento2/commit/ce5ac6e0c578900a2e9f92997a635d72c9643919)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-02 13:32] #16243 closed, assigned to nobody

[2018-08-02 13:32] sidolov commented on #17193
Hi @delyriand. Thank you for your report.
The issue has been fixed in magento/magento2#17275 by @Karlasa in 2.2-develop branch
Related commit(s):
 - [5cfde8a4231203033d78452e3df64a26f0b8af19](https://github.com/magento/magento2/commit/5cfde8a4231203033d78452e3df64a26f0b8af19)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-02 13:32] #17193 closed, assigned to Karlasa

[2018-08-02 14:12] harrigo commented on #7874
I feel like this is an issue for me on 2.2.3 and 2.2.5 still. Saving a category can sometimes take like 4 mins. Other categories can save in 10 seconds. Not quite sure why some are effected and not others doesn't seem related to size particularly as root category had 11,000 products and was saving in 10-20 seconds where as a category with 800 products took 4 mins.

[2018-08-02 14:12] engcom-backlog-nickolas commented on #17310
Hello @AykutCevik, thank you for your report. I'm not able to reproduce this issue on 2.2-develop branch. Could you please specify magento version you use?

[2018-08-02 14:35] engcom-backlog-nickolas commented on #15239
Hello @rigu12, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-02 14:36] engcom-backlog-pb commented on #14236
@david-kominek, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-02 14:38] PaulWMF commented on #15043
Is there any update on this @engcom-backlog-nickolas ? We are experiencing this issue on a current M2C 2.2.3 build and need it solved before launch.

[2018-08-02 14:41] engcom-backlog-pb commented on #17324
@paulvandermeijs, thank you for your report.
You cannot call private block method from template.

[2018-08-02 14:41] #17324 closed, assigned to nobody

[2018-08-02 14:43] heldchen commented on #14236
this is turning into a farce. the issue is reproducible with the steps in the initial ticket, but you probably ignored *with **2** observer classes*

[2018-08-02 14:49] engcom-backlog-pb commented on #14236
@heldchen, you can always create new issue with more obvious steps to reproduce.
![default](https://user-images.githubusercontent.com/40756187/43591584-56b609ec-967c-11e8-9f9b-434ae7df739d.png)

[2018-08-02 14:54] BezV8 commented on #15427
@engcom-backlog-nazar Apologies for the delay in responding to this. I have not noticed a recurrence of this issue for some time now, so it ay have sorted itself out. It looks like others (gewaechshaus) may also be experiencing a similar problem.

[2018-08-02 14:55] engcom-backlog-pb commented on #14583
@rohittechmahinra, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-02 14:55] #14583 closed, assigned to nobody

[2018-08-02 15:06] antbates1991 commented on #12119
@magento-engcom-team I can replicate this on 2.2.2

It does appear to only happen on a few occasions, probably 1 in 10 times but it is an issue.

### Preconditions
1. Magento 2.2
2. PHP 7.0.10

### Steps to reproduce
1. Log in
2. Add item to cart
3. Go to checkout
4. If the checkout loads, empty the basket, sign out and repeate steps 1 -> 3 again.

### Expected result
1. Able to proceed through ch

[2018-08-02 15:40] engcom-backlog-nickolas commented on #15043
Hello @PaulWMF, as the configurable product price depends on price of it's children and has no own price, it should not have it's own special price too.
So, currently there is a bug when you converting simple product with special price to configurable, Special price remains on configurable product, which leads to confusion on category page, where you see configurable special price instead of optio

[2018-08-02 16:04] aeu commented on #17309
Hi @engcom-backlog-andrii

The release I used was the current was Magento 2.2.5 (Magento-CE-2.2.5-2018-06-26-09-20-19.tar.gz from your site).

I'm not sure what further information I can provide regarding steps to reproduce regarding reproduction, I did literally nothing other than run the web installer, and then click the button to go to the admin panel.

What did you try on your end?  Did you ve

[2018-08-02 16:06] EzraCharles commented on #13637
I just run the same command "composer create-project –repository-url=https://repo.magento.com/ magento/project-community-edition ." with sudo and it worked for me.

[2018-08-02 16:19] magento2dev commented on #9186
Hi @TomashKhamlai,
I follow all your steps but I'm still getting default values overwritten, you should make something different than us ? which Magento version do you use ?

Thanks a lot !

[2018-08-02 16:20] Ananth747 commented on #15164
@santhoshnsscoe Yes the "Checkout as Guest" phrase is confusing and misunderstood. Will think of an exact meaningful phrase soon. I didn't implement this captcha feature on checkout.

Secondly, to add captcha in payment pages like Credit card form you need to override their templates into your module or theme and add captcha code there. You need to check if captcha code is correct on "Place order"

[2018-08-02 16:35] gewaechshaus commented on #15427
Yes, actually we got 3-5 orders where it did happen . Currently we can't log the issue,

[2018-08-02 17:11] UrbanSurfers commented on #12612
same here in 2.1.9 and Braintree Gateway,
@hostep is there a way you share your full module or describe steps to create my own ? sorry for being to noob but this kind of tweak goes well beyond my skills...
according @jakoblundsted and @SannePetersNL your solution seems to work maybe they can help me also ??
Once again thanks in advance for your time.

[2018-08-02 17:33] Ananth747 commented on #17310
@AykutCevik  Can you tell us which link you followed to install Redis?

[2018-08-02 17:41] AykutCevik commented on #17310
@engcom-backlog-nickolas I'm using Magento CE 2.2.5.
@Ananth747 what do you mean by link and following it to install Redis?

[2018-08-02 18:06] Krapulat commented on #5596
I have the same problem on 2.2.2. Any solution?

[2018-08-02 18:28] hostep commented on #9186
@magento2dev: it's still an issue indeed, let's re-open this, so this issue is more visible.
This issue is about products, there is a very similar issue for categories: https://github.com/magento/magento2/issues/17186

We've got a support ticket with the Magento Cloud guys for 7 months around this issue, latest reply on that issue from a few days ago didn't sound very promising, is probably going

[2018-08-02 18:33] dverkade opened #17336 "Unable to run integration tests, core_config_data database error"
### Preconditions
1. Magento 2.3.0 Alpha
2. Magento MSI 1.0.0 Beta
2. Apache with PHP-FPM
3. PHP version 7.2

### Steps to reproduce
1. Leave all settings as factory default
2. Have the following `install-config.mysql.php` file
[code]
3. Run integration tests with the following command: `/usr/bin/php /var/www/html/src/vendor/bin/phpunit -c /var/www/html/src/dev/tests/integration/phpunit.xml.dist
`

[2018-08-02 18:33] magento-engcom-team commented on #17336
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-02 18:41] Ananth747 commented on #17310
Yes, the website you followed to install Redis.

[2018-08-02 19:27] umgeric commented on #13556
I have same problem on Magento 2.2.2, I added 2 files changed in this commit. But it did not fix my problem.

[2018-08-02 19:30] hostep commented on #12612
@UrbanSurfers : sorry, at the moment I can't remember and can't find the project where we've fixed this.
As for how to create a preference in a custom module in Magento 2, you can probably search for some tutorials: https://www.google.com/search?q=magento2+tutorial+preferences, but if you've never created a custom module before, it might be a bit complex...

Or maybe one of the other people in her

[2018-08-02 19:31] aeu commented on #7617
I am seeing the same issue, Magento 2.2.5, PHP 7.1.19.  Inspector shows:

VM6795:1 Uncaught SyntaxError: Unexpected token < in JSON at position 114
    at JSON.parse (<anonymous>)
    at Function.jQuery.parseJSON (jquery.js:9011)
    at Function.jQuery.parseJSON (jquery-migrate.js:235)
    at HTMLIFrameElement.iframeHandler (visual.js:364)
    at HTMLIFrameElement.dispatch (jquery.js:5226)
    at

[2018-08-02 19:56] magento2dev commented on #9186
Hi @hostep, thanks for reopened this ticket !
I'm hoping someone or magento team @magento-engcom-team will finally find a solution quickly it's a very important issue... Magento Cloud guys should be able to find a solution I don't think it's very hard the solve when you know the core files, I looked into some files but not able to find a good solution yet.

(yes sorry I updated my username few day

[2018-08-02 20:18] razorgamez commented on #12366
We've been seeing the same issue, as well as if you go back into your shopping cart, the cart is empty (if you are not logged into an account). Anyone else experience it? @kfriend  can you possibly share a screenshot of how it handles avs mismatch errors etc?

[2018-08-02 20:28] Vikram0811 opened #17340 "Magento 2 - Success / Error message not disappearing(auto hiding)"
**Preconditions**

- Magento Version - 2.2.2
- PHP Version - 7
- Environment - Magento 2.2.2 with sample data

**Steps to reproduce**

- When a user add a product to cart,
- When user adds a new address
- When a new user account is created

The success message does not disappear. It stays there until user reload the page. The same issue appears with error messages. Below is extended **messages.js*

[2018-08-02 20:28] magento-engcom-team commented on #17340
Hi @Vikram0811. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-02 20:52] orbitrod opened #17341 "Grand total in the new Credit memo view is not updated when amounts are changed"
This issue was originally reported here https://github.com/magento/magento2/issues/2386 but was labeled as a "Feature Requests and Improvements" and closed out.  However I believe this is incorrect.  This appears to be a bug in the Magento UI.  Because there is no obvious ability to refresh the grand total once the amount(s) in the `Refund Shipping`, `Adjustment Refund`, and/or `Adjustment Fee` fi

[2018-08-02 20:52] magento-engcom-team commented on #17341
Hi @orbitrod. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-02 21:04] hostep commented on #14236
Just commenting in here since I've seen other related tickets around this.
Most people in here metnion Magento 2.2.4, and in 2.2.4 the Amazon Payment module got included by default, which incorrectly made the `Magento\Framework\Mail\MessageInterface` non-shared. There is a pending fix over here: https://github.com/amzn/amazon-payments-magento-2-plugin/commit/b9e8dca407b9683ed58a6ad1a875a8c07dcd7c3

[2018-08-02 21:12] orbitrod commented on #17341
@magento-engcom-team give me 2.2.3 instance

[2018-08-02 21:12] magento-engcom-team commented on #17341
Hi @orbitrod. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-08-02 21:13] magento-engcom-team commented on #17341
Hi @orbitrod, here is your [Magento instance](https://i-17341-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17341-2-2-3.engcom.dev.magento.com/admin](https://i-17341-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-02 21:32] orbitrod commented on #17341
Yes I was able to reproduce the issue on a vanilla Magento instance.

[2018-08-02 22:12] david-kominek commented on #14236
The original issue is unrelated to the email issues introduced in 2.2.4. I've already got my solution for this issue which I mentioned in the original post. Since Magento team seems unable or unwilling to reproduce, hopefully this post will help those who come across the bug. It seems like it's not going to be resolved.

[2018-08-02 22:44] LiamKarlMitchell commented on #14952
Still a problem in 2.4.5
Going to try @sashas777 's work around will have to adjust verison, but I'm not installing via composer....
https://github.com/sashas777/bug-from-email

Using Magento2 SMTP module.
https://github.com/mageplaza/magento-2-smtp

[2018-08-02 23:04] yewtham opened #17345 "Authorized.net "Sorry, but something went wrong. Please contact the seller." - only happens when using Android"
after hitting the place order button at final checkout page on the default chrome browser in an Android Phone - error  "Sorry, but something went wrong. Please contact the seller."  But transaction does go through on Authorize. net and order number generates.

### Preconditions
Magento 2.2.5
PHP 7.0
MySQL 5.6
Any Android 6.0 - chrome browser

Expected result

Should see success landing page after

[2018-08-02 23:04] magento-engcom-team commented on #17345
Hi @yewtham. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-02 23:32] orlangur commented on #17336
@dverkade it looks like this issue is random, depending on order of modules.

Adding dependency on `Magento_Config` into sequence should solve the problem, isn't it?

[2018-08-03 00:03] yewtham commented on #17345
give me 2.2.5 instance

[2018-08-03 05:13] GregorVoelkl commented on #15116
Exactly the same issue to me after upgrading to 2.2.4 via command line.

[2018-08-03 07:26] engcom-backlog-pb commented on #17345
@yewtham, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. Your problem is caused by third-party modules. This GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-03 07:26] #17345 closed, assigned to nobody

[2018-08-03 07:28] mtcool112 commented on #17311
We are having this issue aswell, it should honor the settings

[2018-08-03 07:34] engcom-backlog-nickolas commented on #17336
Hello @dverkade, thank you for your report. I've run integration tests around dozen times and couldn't reproduce issue, you've described. Could you please add more details?

[2018-08-03 07:37] engcom-backlog-pb commented on #17323
@keyurshah070, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 08:13] engcom-backlog-nickolas commented on #14672
Hello @salehawal, thank you for your report. I cannot reproduce this issue. Could you please add more details?

[2018-08-03 08:18] paulvandermeijs commented on #17324
@orlangur `$block->interpretationStrategy->interpret($message)` comes from the standard markup which is hardcoded into the class.

https://github.com/magento/magento2/blob/5a04525cba48627836cb5a554b7f23d17cbaba57/lib/internal/Magento/Framework/View/Element/Messages.php#L270-L293

It makes no sense that there is an option to use a template if you lose this functionality or are required to introduce

[2018-08-03 08:34] engcom-backlog-nickolas commented on #14664
Hello @JeroenVanLeusden, thank you for your report.
We've acknowledged the issue and added to our backlog.

I've changed step 2 and 3 to website view scope, as enabling shipping methods have no store view scope in vanilla magento.

[2018-08-03 08:37] josephmcdermott commented on #17310
Agree with @AykutCevik we have this appearing in `var/report` every now and then, its very difficult to track down and/or replicate but is happening. We are also using Redis for session saves.

I was able to replicate using the view order > view order grid as @AykutCevik suggested, for a split second I saw the error on the Order view page, before being taken to the order grid.

Here is the stack t

[2018-08-03 08:53] engcom-backlog-nickolas commented on #14571
Hello @xi-ao, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 09:24] balwant20 opened #17349 "paypal express checkout not sync with magento 2.2.4"
1. When an Order is placed, registered notification about transaction complete on Paypal is not updated automatically in comment history.

2. Whenever we Refund the amount from Paypal, registered notification about refunded amount is not updated automatically in comment history.

3. If the order is in "Payment Review" status at the time order placing, then it should be automatically changed to "Pr

[2018-08-03 09:24] magento-engcom-team commented on #17349
Hi @balwant20. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-03 09:25] engcom-backlog-pb commented on #16074
@drew772, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 09:25] gwharton commented on #14236
@david-kominek Hopefully PR #16461 will be approved and merged soon. This will fix this issue, along with a host of other issues.

[2018-08-03 09:37] freshweb commented on #17322
Works as expect on Luna template - looks like this is a custom template issue.

[2018-08-03 09:55] onlinejitu commented on #17319
Hello @engcom-backlog-andrii

Thanks for this information, I will post it thos Community Forum or on Magento Stack Exchange

[2018-08-03 10:02] LouNik1984 opened #17351 "misleading documentation"
### Issue
Official documentation leads people to install a version of php which is not compatible with magento. Documentation should be changed to avoid this.

### Preconditions
Proceed to install magento on a server with ubuntu, php 7.0 and nginx by following official documentation (see pages https://devdocs.magento.com/guides/v2.2/install-gde/prereq/nginx.html and https://devdocs.magento.com/gui

[2018-08-03 10:02] magento-engcom-team commented on #17351
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-03 10:11] LouNik1984 commented on #17351
There's no need of a vanilla instance as it is an issue with the documentation, not magento per se

[2018-08-03 10:11] rip057 commented on #8504
I can report in magento 2.3.0-alpha that if you edit the env.php to say
    'x-frame-options' => 'DENY',
a look at the headers section in firefox developer tools shows both
    X-Frame-Options: DENY
    X-Frame-Options: SAMEORIGIN
![githubxframe](https://user-images.githubusercontent.com/10294642/43637619-4be6b20a-96db-11e8-99db-b0ad65174126.jpg)

[2018-08-03 10:26] cherednichenkoa commented on #16696
@navarr , vertex does not assume split database feature in Schema scripts, that should affect sales tables
at least 2.1.8 version does it

[2018-08-03 10:30] adamzero1 commented on #10331
We had a similar issue, where the ordering of modules changing was causing us problems, this is the solution we came up: https://github.com/zero1limited/magento2-PreserveModuleOrderingInProductionMode

[2018-08-03 10:32] adamzero1 commented on #8479
We had a similar issue, where the ordering of modules changing was causing us problems, this is the solution we came up: https://github.com/zero1limited/magento2-PreserveModuleOrderingInProductionMode, allowing it to change in development mode and when running anything other than setup:upgrade (as setup:upgrade is the only command that can change this and should be run on live)

[2018-08-03 10:35] adamzero1 commented on #16116
We had a similar issue, where the ordering of modules changing was causing us problems, this is the solution we came up with: https://github.com/zero1limited/magento2-PreserveModuleOrderingInProductionMode

[2018-08-03 10:50] tuyennn commented on #2069
@magento-engcom-team Which ref link for this fix? Could you provide the commit, merge ref

[2018-08-03 11:10] engcom-backlog-pb commented on #17351
@LouNik1984, thank you for your report.
Please create an issue [here](https://github.com/magento/devdocs/issues).

[2018-08-03 11:10] #17351 closed, assigned to nobody

[2018-08-03 11:24] engcom-backlog-pb commented on #14932
Duplicate of #16074

[2018-08-03 11:24] #14932 closed, assigned to nobody

[2018-08-03 11:40] cherednichenkoa commented on #16696
@navarr , it takes default connection instead of sales connection in schema scripts, so it gives fatal errors during setup upgrade

[2018-08-03 11:42] simonrl commented on #14802
@engcom-backlog-pb can you please link the commits for a backport?

[2018-08-03 11:42] bruno-serfe commented on #14951
Hi Guys, will this issue fixed in upgrade v2.2.6 ? thanks.

[2018-08-03 11:55] engcom-backlog-andrii commented on #17340
@Vikram0811,  thank you for your report.We were not able to reproduce this issue by following the steps you provided.Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

[2018-08-03 12:20] jspoe commented on #12594
I would suggest to change this into an ui-component with a proper data-provider instead of the old Grid-block method, to make it future proof and generic with the other grids.
This should fix this bug too.

[2018-08-03 12:23] engcom-backlog-pb commented on #16532
@mritu19, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 12:28] CelaenoBV commented on #16779
Hi,
We have the same problem with the cancel order cron. We did not have the time yet to research the issue though.

[2018-08-03 12:40] engcom-backlog-nickolas commented on #17349
Hello @balwant20, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 12:42] engcom-backlog-nickolas commented on #15148
@34cnk34, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-03 12:42] #15148 closed, assigned to nobody

[2018-08-03 12:43] engcom-backlog-nickolas commented on #15327
@BabliDey, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-03 12:43] #15327 closed, assigned to nobody

[2018-08-03 12:45] engcom-backlog-nickolas commented on #16958
@bedroomathletics, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-03 12:52] engcom-backlog-andrii commented on #17341
@orbitrod ,  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 12:56] MustafaElKhalifa commented on #3902
Thanks that works well

[2018-08-03 13:06] FreekVandeursen commented on #17336
Seeing the stack trace, the error is coming from the createCliCommands() function. Could it be related to https://github.com/magento/magento2/issues/16173 ?

[2018-08-03 13:12] balwant20 commented on #17349
hello @engcom-backlog-nickolas ,
thank you for your quick response, i am waiting for the solution of my problem

[2018-08-03 13:19] engcom-backlog-pb commented on #17307
@RishabhRkRai please record video. Your steps to reproduce are not obvious.

[2018-08-03 13:24] teamtaheny1 commented on #11116
@LiamKarlMitchell thank you.  Saved my sanity.

[2018-08-03 13:52] AykutCevik commented on #17310
May this be related to `max_concurrency` where the fallback is the default PHP session handling? 🤔
(https://devdocs.magento.com/guides/v2.1/config-guide/redis/redis-session.html)

[2018-08-03 14:00] svlauer opened #17354 "Thousands (no hyperbole!) catalogrule_ tables"
I just noticed that my magento 2.2.4 database (data migrated with data-migration-tool from 1.9) contains a whopping 4642 tables.

The unexpected 4000+ tables all have names starting with "catalogrule_" (eg. "
"catalogrule_group_website0ab22656", "catalogrule_group_website0afe2ee1" ... "catalogrule_product1faca6cd", "catalogrule_product1f136f8a" ... there probably is one table per product?

All the

[2018-08-03 14:00] magento-engcom-team commented on #17354
Hi @svlauer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-03 14:11] dvcm opened #17355 "?resource = frontend/Magento/luma/pt_BR/Magento_Ui/templates/form/element/helper/tooltip.html"
### Preconditions

1. Magento 2.2.5
2. php version 5.6.30
3. Mysql version 5.6.32-78.1

### Steps to reproduce

1. When i go to checkout https://ilubrasileiro.com.br/onepage/, this page not loading this script

2. Why does the script add this /?resource=

https://ilubrasileiro.com.br/pub/static/frontend/Magento/luma/pt_BR/Magento_Ui/templates/form/element/helper/tooltip.html/?resource=frontend/Mag

[2018-08-03 14:11] magento-engcom-team commented on #17355
Hi @dvcm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-08-03 14:11] svlauer commented on #17354
@magento-engcom-team give me 2.2.4 instance

[2018-08-03 14:11] magento-engcom-team commented on #17354
Hi @svlauer. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-08-03 14:12] magento-engcom-team commented on #17354
Hi @svlauer, here is your [Magento instance](https://i-17354-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-17354-2-2-4.engcom.dev.magento.com/admin](https://i-17354-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-03 14:17] svlauer commented on #17354
It is impossible for me to verify whether this issue can be reproduced, since the test instance does not give me access to the database tables.

The frontend and and backend of my installation work well (as does the test instance), the problem is with the creation of thousands of tables in the database.

[2018-08-03 14:29] dverkade commented on #17336
@engcom-backlog-nickolas Thanks. I have tested this again. With only Magento 2.3 alpha installed this works. When you install the MSI package on top of it, it fails. Here is the composer.json of the failing integration tests as above.

[code]
Don't know if this would be a bug in Magento as described in #16173 or a bug in the MSI project. Either way, they should be compatible with each other and ha

[2018-08-03 14:29] engcom-backlog-pb commented on #15559
@chipsmaster, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 14:42] PaulWMF commented on #15043
@engcom-backlog-nickolas we fixed this by:

Overriding `vendor/magento/module-configurable-product/view/base/templates/product/price/final_price.phtml`

1. Removed the condition to check is product isn't in a list

From:
[code]

To:
[code]

2. Removed 'no-display' class from regular price span

From:
[code]

To:
[code]

[2018-08-03 15:07] engcom-backlog-pb commented on #13164
@jaume-solis, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-03 15:07] #13164 closed, assigned to nobody

[2018-08-03 15:09] boche95 commented on #6326
This bug appear because method **Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer::setString($value)** decode content of widget. You can create before plugin for **Magento\Widget\Model\Template\Filter::generateWidget()** .

    public function beforeGenerateWidget(WidgetFilter $subject, $construction)
    {
        $construction[2] = urlencode($construction[2]);

        return [$cons

[2018-08-03 15:13] engcom-backlog-pb commented on #15545
@rsulym, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 15:16] paliarush commented on #2630
@BenSpace48 I understand that this is frustrating, unfortunately the only way to get these issues fixed is to report specific cases when translation does not work.

As far as I can see, the tickets you referred in previous comment have been triaged by @magento-engcom-team and will be fixed according to their priorities.

[2018-08-03 15:17] engcom-backlog-pb commented on #12683
@terrybakshi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-03 15:17] #12683 closed, assigned to nobody

[2018-08-03 15:19] orlangur commented on #8479
@adamzero1 please propose changes creating a pull request instead of posting some patch links.

[2018-08-03 15:20] orlangur commented on #10331
@adamzero1 please propose changes creating a pull request instead of posting some patch links.

[2018-08-03 15:23] engcom-backlog-pb commented on #12696
@Vinai, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-03 15:26] engcom-backlog-nickolas commented on #17310
@AykutCevik, thanks for feedback, and @josephmcdermott for details. I've tested on 2.2.5 with order view and order grid. Also I've been trying other different manipulation and still couldn't get described error on screen nor in logs.
Looks like we still missing some important steps or details, to replicate and therefore to fix this issue.
I'm leaving this issue open and if you guys have any detail

[2018-08-03 15:27] dvcm commented on #17355
To help us process this issue please make sure that you provided the following information:
  Summary of the issue
I am having problems in freight calculation, the installed script is not returning.
I do not understand why magento places this path /? Resource = frontend /

![screen shot 2018-08-03 at 11 59 11](https://user-images.githubusercontent.com/2445325/43651218-2afa2c42-9718-11e8-93eb-68e83

[2018-08-03 15:30] tgrantmartin commented on #15545
I found that this was occurring as a result of an SEO crawler trying to process layered navigation links in rapid succession. Some of the combinations didn't seem to make sense either. At any rate, my solution was to set no-follows on all layered navigation links, and ultimately to remove layered nav from our all products page which listed several thousand skus.

[2018-08-03 15:49] UlliKah commented on #9292
@NickvdMeij The issue with inserting images into content in Magento 2 is ancient not the editor. Its not hidden because its a function a user needs nearly everywhere in the system. That's why it's so lucrative to keep it broken because if you are not a developer you have to pay either an alternative plugin or a Magento expert to get it working. The only real solution here is to refuse paying extra

[2018-08-03 15:54] allblued opened #17356 "Fresh Magento 2.1.14, Readiness Check fail with conflicting component dependencies"
[Summary of the issue]

My Magento is 2.1.14, fresh new. I am trying to install my first extension (Stripe payment extension), and this error occur.

===========================================
Check Component Dependency
We found conflicting component dependencies. Hide detail

For additional assistance, see component dependency help .

===========================================

As it doesn't sh

[2018-08-03 15:54] magento-engcom-team commented on #17356
Hi @allblued. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-03 16:02] lewis-dan commented on #8170
Hi,
Still we have the same issue with Magento Cloud edition 2.1.9. Please suggest me any solution which will work.
Thank you in advance for your cooperation.
Thanks,
Dan

[2018-08-03 16:23] eralaz opened #17357 "Simple(not eav) abstract Collection getIdFiledName() issue"
### Preconditions

1. M2.2.2
2. Grid of simple entities (not eav)
3. One mass action on the toolbar

### Steps to reproduce

1. Take simple (not eav entity)
2. Create grid
3. Add mass action for example delete.
4. In your mass action use mass action filter class to get items of chosen lines on grid.
5. You will failed because of the missing id field name value. And there's no such place which init

[2018-08-03 16:23] magento-engcom-team commented on #17357
Hi @larylaz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-03 16:26] larylaz commented on #17357
@magento-engcom-team give me {$VERSION} instance

[2018-08-03 16:37] alextricity commented on #10290
The inability to conveniently control security settings for an E-COMMERCE site is an issue in many environments...

[2018-08-03 18:11] chris-pook commented on #17310
@AykutCevik I believe this is indeed due to the `max_concurrency` value in env.php under the session => redis section. Magento is failing to save/retrieve sessions from the redis backend based on the value of this config. However the error that's being reported here is stating that having failed to access Redis, the session also couldn't be accessed from the native PHP session directory (it may no

[2018-08-03 18:19] navarr commented on #16696
@cherednichenkoa I think I see where the problem can exist.  This is when installing Vertex on pre-existing split-database installs, correct?

If you have a log readily available I'd love to have it for reference - if not no worries, I think I know the issues and will try to resolve in a future version.

[2018-08-03 18:22] collinanderson commented on #2993
Shouldn't the AVS error be presented to the user?

[2018-08-03 20:16] navarr commented on #16696
@cherednichenkoa Thanks for your report.  I've created a fix.  It should be available no later than Magento 2.3 / Magento 2.2.7.

[2018-08-03 21:10] scottw-finao commented on #13961
Same issue with 2.2.4

[2018-08-03 21:33] zaximus84 commented on #7647
I experienced the inability to add or delete images after migrating M1 data to a 2.2.3 installation. My values in catalog_product_entity_varchar weren't empty or zero. After looking at some other Magento 2 installations (including 2.1.12 and 2.2.5), it appears that M2 doesn't store this attribute in the varchar table under normal circumstances. The backend type for the media_gallery attribute is "

[2018-08-03 23:54] ubedarab commented on #12777
Thanks @bastianhilto

[2018-08-04 03:36] ranjeet180 opened #17360 "Magento 2.2.5 Admin shipping View Page showing 404"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-08-04 03:36] magento-engcom-team commented on #17360
Hi @ranjeet180. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-04 06:38] AbdulKadir-Agoliya opened #17362 "Paypal HostedPro Issue: Call to a member function getAdditionalInformation() on null magento 2.2.5"
Paypal HostedPro Issue: Call to a member function getAdditionalInformation() on null

### Preconditions

1. Magento 2.2.5
2. nginx server
3. Using Paypal Payments Pro Hosted Solution

### Steps to reproduce

### Expected result

1.  order Should Place Successfully

### Actual result

1.   I got Error Log :
     8953: *6814 FastCGI sent in stderr: "PHP message: PHP Fatal error: Uncaught Error: Call

[2018-08-04 06:38] magento-engcom-team commented on #17362
Hi @AbdulKadir-Agoliya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-08-04 07:11] AbdulKadir-Agoliya commented on #17362
@magento-engcom-team  give me 2.2.5 instance

[2018-08-04 09:06] atsareva commented on #17112
Hi @engcom-backlog-nickolas ,
Yes, sorry..
**UPS Type** should be '**United Parcel Service XML**'.
Then I've just set clients Sandbox credentials into  'Access License Number', 'User ID', 'Password' fields and 'Mode' is 'Development'.

Thanks,
Alona

[2018-08-04 09:33] atsareva opened #17363 "Shipping Method for Multishipping orders isn't saved"
Hi guys,

I've found that all orders which have been created via multishipping checkout don't contain 'shipping_method' info.

### Preconditions
1. Magento 2.2.5 (with sample data)
2. Ubuntu 16.04 lts
3. PHP 7.0.30
4. mysql  Ver 14.14 Distrib 5.7.22
5. apache

### Steps to reproduce
1. Login in with - roni_cost@example.com / roni_cost3@example.com
2. Add some products to the cart
3. Go to multishi

[2018-08-04 09:33] magento-engcom-team commented on #17363
Hi @atsareva. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-04 09:35] atsareva commented on #17363
@magento-engcom-team give me 2.2.5 instance

[2018-08-04 09:35] magento-engcom-team commented on #17363
Hi @atsareva. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-04 09:36] magento-engcom-team commented on #17363
Hi @atsareva, here is your [Magento instance](https://i-17363-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17363-2-2-5.engcom.dev.magento.com/admin](https://i-17363-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-04 09:55] atsareva commented on #17363
Hi @magento-engcom-team ,
I can't properly reproduce this error on the test environment because
1. env. should be in developer mode
2. server should be configured to show all errors and notices
3. I don't have access to the db, so I can't check 'shipping_method' column
4. I don't get this error on live project due to mentioned configurations, but the column contains NULL, so we have some problems

[2018-08-04 16:15] profiVideos commented on #14952
Using Community Edition of 2.2.5 and my issue is fixed now!  Thanks @ralfblask !  and the original poster who I didn't mention - you know who you are.  :-))

Once again;
bin/magento module:disable Amazon_Core Amazon_Login Amazon_Payment

WORKED for me.

Cheers

[2018-08-05 07:37] arronmoss opened #17367 "Issue a Partial Credit Memo for only a Bundle Item order Completes Order"
### Preconditions

1. Fresh install of Magento 2.2.5
2. PHP 7.1

### Steps to reproduce

1. Configuration of some bundle products in Admin
2. Place an order for only a bundle
3. partial Ship
4. Attempt to credit the item but zero all products and attempt only to to a partial refund in the 'Adjustment Refund'. This is connected to another bug where entering zero for all bundle items causes the bund

[2018-08-05 07:37] magento-engcom-team commented on #17367
Hi @arronmoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-05 08:04] Jakhotiya commented on #17134
@engcom-backlog-nickolas @magento-engcom-team @adamlavery I can't reproduce this issue on M2.2.4 and above. Can you confirm?

[2018-08-05 12:26] arnoudhgz commented on #7778
Tested the current 2.2-develop branch, seems solved with this PR: https://github.com/magento/magento2/pull/15272

It is part of the 2.2.6 Milestone.

Thanks to @KaushikChavda  for creating the PR!!

@magento-engcom-team  I think this issue can be closed.

[2018-08-05 12:33] salehawal commented on #16929
@ronak2ram thanks it is working now on magento 2.2.4

[2018-08-05 19:33] gab4mad commented on #12255
It's not only a problem with Plesk - I use for development a Serversetup with several v-servers hosted on a debian-engine using qemu... - The ISP-Backend used on th v-servers is ispconfig and the problems are the same, and the solution is the same, very easy... - just adding the path to the zend library.
When using ispconfig 3.1 in the optional hosting settings -> individual php settings
It looks

[2018-08-05 19:34] gab4mad commented on #10821
It's not only a problem with Plesk - I use for development a Serversetup with several v-servers hosted on a debian-engine using qemu... - The ISP-Backend used on th v-servers is ispconfig and the problems are the same, and the solution is the same, very easy... - just adding the path to the zend library.
When using ispconfig 3.1 in the optional hosting settings -> individual php settings
It looks

[2018-08-05 22:29] troston opened #17373 "Customer not showing on backend on save. Must reindex each time. Currenly the customer registers and then I have to reindex the database from the cli indexer in order to see new customers"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-08-05 22:29] magento-engcom-team commented on #17373
Hi @troston. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-06 01:11] PivitParkour94 commented on #14774
Is there any information for this? It would be super useful

[2018-08-06 02:39] zugangxue commented on #9032
Same problem with CE 2.1.0

[2018-08-06 04:59] yosefkurniawan commented on #14931
hi, I think this is not a bug. Even in all other pages that use 1column layout also have the div `columns`.
homepage:
<img width="1440" alt="homepage" src="https://user-images.githubusercontent.com/6382194/43697682-01ff6910-9970-11e8-816d-6c62ef555017.png">

product page:
<img width="1440" alt="product page" src="https://user-images.githubusercontent.com/6382194/43697684-02319e08-9970-11e8-8131-16

[2018-08-06 05:27] simonworkhouse opened #17378 "URL rewrites not being generated - calls to doReplace() actually insert instead."
We have been experiencing an intermittent issue where entries into the url_rewrite table are not being generated automatically. I have noticed that this issue has been mentioned in the past but I believe that we have isolated the cause.

Magento\UrlRewrite\Model\Storage\DbStorage::doReplace(...) doesn't do a REPLACE but an INSERT, and errors for duplicate entries aren't throwing an AlreadyExistsEx

[2018-08-06 05:27] magento-engcom-team commented on #17378
Hi @simonworkhouse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-06 06:17] yosefkurniawan commented on #12286
Try this workaround: https://github.com/magento/magento2/issues/5835#issuecomment-259474472
It works for me by adding the configuration directly to database (table `core_config_data`) to exclude the js.
The one with modifying the config.xml might work too, I did try that but didn't work for me.

[2018-08-06 06:35] riorio123 commented on #12549
ANY UPDATE? (2)

[2018-08-06 07:10] yosefkurniawan commented on #14024
This should be related to another issue: https://github.com/magento/magento2/issues/3771
Agree with @krisztian-fekete , the cause is the js-translation.json is empty (not generated)

[2018-08-06 07:21] #17360 closed, assigned to nobody

[2018-08-06 07:28] engcom-backlog-pb commented on #17373
@troston , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-08-06 07:43] NickvdMeij commented on #9292
@UlliKah so to summarize your view, Magento 2 uses ancient technology, which is broken and won't be fixed because some people can make a quick buck off it by making a workaround plugin instead of just fixing it broken functionality? Good to know for the next time I need to set up an E-commerce website

[2018-08-06 07:48] yuliantoadi commented on #14595
I am working on this #mm18id

[2018-08-06 07:49] magento-engcom-team commented on #14595
@yuliantoadi thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-08-06 07:53] riorio123 commented on #16016
@engcom-backlog-pb I believe that "payment method" still needed as rule condition. In my case, I use it, I added "payment method" back. But I can see that ajax is working while condition is fullfilled.

[2018-08-06 07:57] indraraka commented on #16069
I am working on this #mm18id

[2018-08-06 07:57] magento-engcom-team commented on #16069
@indraraka thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-08-06 08:13] engcom-backlog-pb commented on #17378
@simonworkhouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-06 08:33] engcom-backlog-nickolas commented on #17112
@atsareva, thank you for feedback. I've used "United Parcel Service XML",
![ups](https://user-images.githubusercontent.com/40755810/43705737-16328cea-996c-11e8-8446-e0114ea855f8.png)
Apart from UPS configuration please make sure you have properly configured _Stores > Configuration > General > General > Store Information_ and _Stores > Configuration >Shipping Settings > Origin_.

[2018-08-06 08:42] engcom-backlog-nickolas commented on #17367
Hello @arronmoss, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-06 08:50] engcom-backlog-nickolas commented on #17336
@dverkade, thank you for your feedback. As I'm able to reproduce this issue only with MSI on board, could you please move this issue to https://github.com/magento-engcom/msi/issues ?

Best regards!

[2018-08-06 08:50] #17336 closed, assigned to nobody

[2018-08-06 09:09] sidolov commented on #15308
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#17379 by @gelanivishal in 2.1-develop branch
Related commit(s):
 - [ebdc7c3770a32cce2944344ecb73def07738b690](https://github.com/magento/magento2/commit/ebdc7c3770a32cce2944344ecb73def07738b690)

The fix will be available with the upcoming 2.1.15 release.

[2018-08-06 09:47] melissakokel commented on #17283
Yes I do confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

[2018-08-06 10:48] engcom-backlog-pb commented on #16779
@magefan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-06 10:48] #16779 closed, assigned to nobody

[2018-08-06 10:49] engcom-backlog-pb commented on #17362
Duplicate of #17302

[2018-08-06 10:49] #17362 closed, assigned to nobody

[2018-08-06 11:06] chris-pook commented on #17310
**Update on the above comment**

Having looked further in to this, I think potentially my above comment may not be completely accurate. The key being the code implementation of the function below:

`\Cm\RedisSession\Handler::read()`

This function implements the locking mechanism and appears to hold the lock per $sessionId. So this issue is not a problem globally across multiple sessions after all

[2018-08-06 11:18] ravikiranpullela opened #17386 "Magento 2 Export Button CSV and XML Catalog Product Problem"
Summary of the issue:
I am adding an export button in product_listing.xml file to get an export functionality in Product->Catalog in admin side.
I am adding like exportButton name="export_button" in product_listing.xml
But getting error like:
 a:4:{i:0;s:51:"A joined field with this alias is already declared.";i:1;s:7545:"#0 D:\xampp\htdocs\dilmah\var\generation\Magento\Catalog\Model\ResourceModel

[2018-08-06 11:18] magento-engcom-team commented on #17386
Hi @ravikiranpullela. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-08-06 11:19] ravikiranpullela commented on #17386
yes you can reproduce in vanilla magento instance

[2018-08-06 11:38] engcom-backlog-nickolas commented on #17363
Hello @atsareva, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-06 11:40] engcom-backlog-pb commented on #17386
@ravikiranpullela, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-06 11:40] #17386 closed, assigned to nobody

[2018-08-06 11:49] balwant20 commented on #17349
hello @engcom-backlog-nickolas ,
i got the solution of my problem by changing some settings in my paypal sandbox account.below i mentioned steps.

*Steps to Set-up IPN listener**
	*Step1:* LogIn with paypal business account at https://www.sandbox.paypal.com

	*Step2:* In the *Profile menu* on the top right, click *Profile and Settings* .

	*Step3:* click *My selling tools* .

	*Step4:* Click the U

[2018-08-06 11:57] balwant20 commented on #17349
hello @engcom-backlog-nickolas ,
i got the solution of my problem by changing some settings in my paypal sandbox account.below i mentioned steps.

**Steps to Set-up IPN listener**
	Step1: LogIn with paypal business account at https://www.sandbox.paypal.com

	Step2: In the Profile menu on the top right, click Profile and Settings .

	Step3: click My selling tools .

	Step4: Click the Update link in

[2018-08-06 11:58] engcom-backlog-pb commented on #17357
@larylaz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-08-06 12:16] engcom-backlog-nickolas commented on #17356
@allblued, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-06 12:16] #17356 closed, assigned to nobody

[2018-08-06 12:22] #14569 closed, assigned to nobody

[2018-08-06 12:28] siliconalchemy commented on #14667
This is the same issue that celebrated it's second birthday yesterday which was stupidly closed by @guz-anton and has thus languished ever since:
https://github.com/magento/magento2/issues/6018
This is a terrible, terrible bug in Magento frontend, I'm sure a lot of people would really appreciate it if you took it seriously and looked into it. Thank you!

[2018-08-06 12:34] engcom-backlog-pb commented on #14406
@rrybakshi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-06 12:49] engcom-backlog-pb commented on #15031
@magenx, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-06 13:54] engcom-backlog-pb commented on #13902
@thlassche, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-06 14:00] engcom-backlog-pb commented on #13683
@ldopierala, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-06 14:00] #13683 closed, assigned to nobody

[2018-08-06 14:04] engcom-backlog-nickolas commented on #14622
Hello @dariuszmaciejewski, thank you for your report. I cannot reproduce this issue on 2.2-develop.
Could you please add more details?

[2018-08-06 14:18] Floddy opened #17388 "CSV product export ignores stock filter"
### Preconditions
1. Magento 2.2.2
2. Product catalog with 'in stock' / 'out of stock' products

### Steps to reproduce
1. Go to system/data transfer/export
2. Chose entity type: products
3. In the 'quantity_and_stock_status' column, choose 'out of stock' / 'in stock', set checkbox.

### Expected result
The exported CSV excludes products that are out of stock / in stock.

### Actual result
The exp

[2018-08-06 14:19] magento-engcom-team commented on #17388
Hi @Floddy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-06 14:42] joinso opened #17390 "Featured Products on Catalog Product List Widget: Unknown column 'at_inchoo_featured_product_default.value' in 'where clause'"
When you add a widget of "Catalog Product List" on some page, using "Featured Product" as a condition, the page show this error:

2 exception(s):
Exception #0 (Zend_Db_Statement_Exception): SQLSTATE[42S22]: Column not found: 1054 Unknown column 'at_inchoo_featured_product_default.value' in 'where clause', query was: SELECT DISTINCT  COUNT(DISTINCT e.entity_id) FROM `catalog_product_entity` AS `e`

[2018-08-06 14:42] magento-engcom-team commented on #17390
Hi @joinso. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-06 14:53] engcom-backlog-nickolas commented on #14430
Hello @mrzaizai2233, thank you for your report. "optionsValue" should be "file".
You may try to use such body example:

[code]

[2018-08-06 14:53] #14430 closed, assigned to nobody

[2018-08-06 14:56] engcom-backlog-pb commented on #17390
@joinso, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-06 14:56] #17390 closed, assigned to nobody

[2018-08-06 14:56] engcom-backlog-nickolas commented on #16933
@gaurid-iprogrammer, we were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-06 14:56] #16933 closed, assigned to nobody

[2018-08-06 14:59] joinso commented on #17390
Is this not an issue?
This is related to feature of Magento...

Regards,
Jordi
JOINSO

[2018-08-06 15:01] engcom-backlog-nickolas commented on #14783
Hello @harshvardhanmalpani, thank you for your report. Unfortunately I wasn't able to reproduce this issue. Could you please add more details?

[2018-08-06 17:47] SigmaAndrei commented on #1735
Hello, I believe it is still an issue...
Processing configurations data from configuration file...
Import failed: Warning: SessionHandler::read(): open(${WEB_ROOT}/var/session/sess_cnkdti2mv2r35qc34n5qq2u5q6, O_RDWR) failed: No such file or directory (2) in /var/www/html/Magento2/vendor/magento/framework/Session/SaveHandler/Native.php on line 22
PHP Fatal error:  Uncaught Exception: Warning: Sessi

[2018-08-06 18:07] zestbeauty commented on #14667
Please, please can someone fix this, its killing my sales!!!

[2018-08-06 18:11] zestbeauty commented on #14667
This what google see's:

<img width="1422" alt="screen shot 2018-08-06 at 19 09 10" src="https://user-images.githubusercontent.com/11839463/43733388-5feb0eda-99ac-11e8-84a6-8e5258e5f9a2.png">

[2018-08-06 20:47] SigmaAndrei commented on #1735
Hey Guys, I fixed this issue, by providing correct path in php.ini:

'session' =>
   array (
     'save' => 'files',
     'save_path' => '/var/www/session', ** if directory does not exist please create one.**
),

Hope this helps someone.

[2018-08-06 22:46] enviengine opened #17397 "I get --> Deprecated Functionality: The each() function is deprecated. when run any magento command via ssh"
I get this Error when I run this code --> php bin/magento module:status
via ssh

Deprecated Functionality: The each() function is deprecated. This message will be suppressed on further calls in ../vendor/colinmollenhour/cache-backend-file/File.php on line 81

How to fixed it.

Magento version : Magento 2.2.5

@magento-engcom-team give me 2.2.5 instance
Best Regards.
Thank.

[2018-08-06 22:47] magento-engcom-team commented on #17397
Hi @enviengine. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-06 22:49] ttmuangkeo commented on #13553
I, too am having issues with upgrading (2.2.2 to 2.2.5).

Except for me, I am getting a max_execution_timeout of 300 seconds when I run
php bin/magento setup:upgrade.

I am using Cloudways and they said anything in .htaccess will not be used. To make changes would be in their PHP-FPM Settings. I added the following values below.

I restarted my server and looked into my phpinfo() and see that ever

[2018-08-06 23:48] georgios-2317 commented on #11951
I suppose no progress on this still?

[2018-08-07 00:41] georgios-2317 commented on #11951
Further investigation in this issue proved that the offending code is in `Product::removeMultipleByProductCategory`. If we switch to a table JOIN instead of using IN for the ids the SQL runs with index usage and performs as expected. However it seems that Zend doesn't support this and would break compatibility. Instead I went ahead and loaded the matching url_rewrite ids into memory (can not think

[2018-08-07 04:50] erfanimani commented on #9774
I agree with everyone saying that this is a bug. I don't want to manage stock **levels**, but still want the ability to mark a product as out of stock.

[2018-08-07 04:52] ewth commented on #9774
I believe this to be a bug too. Forcing stock management in order to able to flag an item as out of stock seems absurd; levels vs status seem like they should be independent?

[2018-08-07 06:15] engcom-backlog-andrii commented on #17355
@dvcm , thank you for your report. PHP 5.6.30 is not supported on Magento 2.2.x please check this Magento 2.2.x technology stack requirements
https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

[2018-08-07 06:16] #17355 closed, assigned to nobody

[2018-08-07 06:28] engcom-backlog-andrii commented on #17354
@svlauer , thank you for your report. For migration issue please use this repository
https://github.com/magento/data-migration-tool

[2018-08-07 06:28] #17354 closed, assigned to nobody

[2018-08-07 06:40] engcom-backlog-nickolas commented on #14297
Hello @rasmuswikman, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-07 06:43] tzy1992 commented on #13952
@magento-engcom-team Any update on this issue? The issue occur randomly and it created multiple order on my site mainly using Cash on Delivery payment method.

[2018-08-07 06:44] abcpremium commented on #17171
Same for me, also the URL is too long if I select more than 400 Subscribers (URL length exceeds 2000)

[2018-08-07 06:54] PierreLeMaguer commented on #17325
The issue is only present on Magento 2.1.X and was corrected on 2.2.X and 2.3.X .

[2018-08-07 07:54] engcom-backlog-pb commented on #17388
@Floddy, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-07 07:58] buituanbg commented on #13952
@tzy1992 I had a quick fixing solution. let me know if you want to view that.

[2018-08-07 08:12] tzy1992 commented on #13952
@buituanbg Please share me the fix. Thank you

[2018-08-07 08:36] engcom-backlog-nickolas commented on #14054
Hello @ju5t, thank you for your report.
We've acknowledged the issue and added to our backlog.

@orlangur, this bug introduced in https://github.com/magento/magento2/commit/0379ec65e08e2fb6e02739bc6149ecc4e6ab970b , by changing param name ":id" to ":customerId".
https://github.com/magento/magento2/blob/7621060f9c750de44f2229fcad837f57d62d780a/app/code/Magento/Customer/etc/webapi.xml#L131-L136

htt

[2018-08-07 08:38] sidolov commented on #15245
@esiemens , @jfgalano have you cleaned the cache after the upgrade? The fix was made in the configuration and cache should be flushed to take effect.

[2018-08-07 08:40] amir-prince commented on #12398
1. Copy `_extends.less` and `_theme.less` from `vendor\magento\theme-frontend-luma\web\css\source\` to `app\design\frontend\{Vendor}\{currentThemeName}\web\css\source\`

2. Clear the content of `pub/static` and `var/view_preprocessed` except `.htaccess`

3. Clean the cache: `php bin/magento cache:clean`

4. Compile : `php bin/magento setup:static-content:deploy -f`

[2018-08-07 08:43] #13358 closed, assigned to nobody

[2018-08-07 08:47] ZieClaw commented on #13152
This is probably because its using a virtual block, so the class name is diffrent?
<block class="Magento\CatalogSearch\Block\SearchResult\ListProduct" name="search_result_list" template="Magento_Catalog::product/list.phtml">

Which is defined here: <virtualType name="Magento\CatalogSearch\Block\SearchResult\ListProduct" type="Magento\Catalog\Block\Product\ListProduct">

So I added a preference for

[2018-08-07 08:48] engcom-backlog-nickolas commented on #14018
@duytran21, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-07 08:48] #14018 closed, assigned to nobody

[2018-08-07 08:54] engcom-backlog-nickolas commented on #13724
Hello @ankursachdeva11, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-07 08:55] engcom-backlog-andrii commented on #17397
@enviengine , thank you for your report.We were not able to reproduce this issue by following the steps you provided.Please provide more detailed steps to reproduce or try to reproduce this issue ona clean installation or latest release.

[2018-08-07 09:03] engcom-backlog-pb commented on #15523
@chipsmaster, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-07 09:06] kandarp26 opened #17403 "shipping information API validation"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Generate cart using POST rest/V1/guest-carts
2. Add product to cart POST rest/V1/guest-carts/[cart-id]/items
**REQUEST**
`
{
  "cartItem": {
    "sku": "[sku]",
    "qty": 1,
    "quote_id": "[cart-id]"
  }
}
`
3. Make a request to endpoint POST rest/V1/guest-carts/[:cart-id]/shipping-information
**REQUEST**
[code]

### Expected resul

[2018-08-07 09:06] magento-engcom-team commented on #17403
Hi @kandarp26. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-07 09:12] timbaker1991 commented on #13952
@buituanbg Please could you share it on here for us all to see if possible.

[2018-08-07 09:36] buituanbg commented on #13952
Hi @tzy1992  and @timbaker1991
I created an observer as below:
app/code/TB/FixDuplicateOrder/Observer/OrderPlacebefore.php
`<?php
namespace TB\FixDuplicateOrder\Observer;

use Magento\Framework\Event\Observer;
use Magento\Framework\Event\ObserverInterface;

class OrderPlacebefore implements ObserverInterface
{
	protected $_responseFactory;
    protected $_url;

    public function __construct(

[2018-08-07 09:37] engcom-backlog-nickolas commented on #13535
@ivoinov, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-07 09:37] #13535 closed, assigned to nobody

[2018-08-07 09:47] engcom-backlog-nickolas commented on #16904
@darabaig, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-07 09:47] #16904 closed, assigned to nobody

[2018-08-07 09:59] engcom-backlog-nickolas commented on #13148
Hello @aref-lazrek, thank you for your report. GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-08-07 09:59] #13148 closed, assigned to nobody

[2018-08-07 10:06] tzy1992 commented on #13952
@buituanbg Thanks for sharing the fix, for the event you are using `sales_order_place_before` ?

[2018-08-07 10:13] engcom-backlog-pb commented on #15376
@ankurAuriga, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-07 10:14] buituanbg commented on #13952
yes, I used sales_order_place_before event.

[2018-08-07 10:29] engcom-backlog-pb commented on #12880
@akbaradeeb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-08-07 10:29] #12880 closed, assigned to nobody

[2018-08-07 10:30] magento-engcom-team commented on #13445
Hi @JanisE. Thank you for your report.
The issue has been fixed in magento/magento2#15650 by @AndreaRivadossi in 2.2-develop branch
Related commit(s):
 - [c55a0411ab366e3837e98e010adffd4ca9b85584](https://github.com/magento/magento2/commit/c55a0411ab366e3837e98e010adffd4ca9b85584)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-07 10:30] #13445 closed, assigned to nobody

[2018-08-07 10:30] magento-engcom-team commented on #16653
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#16656 by @dverkade in 2.2-develop branch
Related commit(s):
 - [19bff300ecd22dca8966da691f01044ba9e5575b](https://github.com/magento/magento2/commit/19bff300ecd22dca8966da691f01044ba9e5575b)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-07 10:30] magento-engcom-team commented on #16655
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#16656 by @dverkade in 2.2-develop branch
Related commit(s):
 - [19bff300ecd22dca8966da691f01044ba9e5575b](https://github.com/magento/magento2/commit/19bff300ecd22dca8966da691f01044ba9e5575b)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-07 10:30] magento-engcom-team commented on #16302
Hi @BenSpace48. Thank you for your report.
The issue has been fixed in magento/magento2#16582 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [8653ba1fbe29acc37505b85adce1463d70e9cdf1](https://github.com/magento/magento2/commit/8653ba1fbe29acc37505b85adce1463d70e9cdf1)
 - [e0b09fdc6db266015b3296fe8a272db7c3ba7d3e](https://github.com/magento/magento2/commit/e0b09fdc6db266015b3296fe8a

[2018-08-07 10:30] #16655 closed, assigned to nobody

[2018-08-07 10:30] #16302 closed, assigned to hitesh-wagento

[2018-08-07 10:31] qualwebs commented on #6325
I've solved at-least or even more than 10 critical bugs myself after release of magento 2, having shipping and billing address on checkout is of core importance when it comes to an ecommerce site, I'm very sure the world's most robust and secure ecommerce CMS Magento 2 must have a solution for this but where is it ? please help to sort this issue or at-least accept that no solution till date has b

[2018-08-07 10:33] intelsteel commented on #12412
@jacobchat

Your Solution is working. Is there any permanent solution ?

[2018-08-07 10:51] xpedicion commented on #12412
@intelsteel
Well, mine is. :)

[2018-08-07 10:51] davemacaulay commented on #4154
I don't believe this is a new feature request and is indeed a bug, can we re-open.

[2018-08-07 11:25] michi-p commented on #17173
Thank you for your help @DanielRuf
For those of you struggling with the same problem:
I used the the jquery cookie library and set the cookie with the function `$.cookie('foo', 'bar');`
The result was a cookie with the domain `.example.shop.com`.
When I set an empty domain as parameter `$.cookie('foo', 'bar', { domain: '' });` I get a cookie with the domain `example.shop.com` and everything works

[2018-08-07 11:45] engcom-backlog-pb commented on #17378
@simonworkhouse, we believe that this issue exists. But we cannot add issue to our work backlog and fix it until we have obvious and 100% clear way to reproduce it.

[2018-08-07 12:19] engcom-backlog-nickolas commented on #17068
Hello @devgoku, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-07 12:20] #11210 closed, assigned to nobody

[2018-08-07 12:28] engcom-backlog-nickolas commented on #12602
Hello @atsareva, thank you for your report. The fix will be available with the upcoming 2.2.7 release.

[2018-08-07 12:28] #12602 closed, assigned to nobody

[2018-08-07 12:30] engcom-backlog-pb commented on #15187
@dnsv, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-07 12:36] engcom-backlog-nickolas commented on #17254
@boeserwolf91, thank you for your report. I'm closing this issue as duplicate #16425

[2018-08-07 12:36] #17254 closed, assigned to nobody

[2018-08-07 12:39] engcom-backlog-nickolas commented on #16974
@samidhat, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-07 12:39] #16974 closed, assigned to nobody

[2018-08-07 12:51] engcom-backlog-nickolas commented on #16662
Hello @Iuri-Bertto, thank you for your report. When you extending some class, block in your case, you should respect parent class constructor method.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core t

[2018-08-07 12:51] #16662 closed, assigned to nobody

[2018-08-07 12:59] engcom-backlog-pb commented on #15557
@middlegrey, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-07 13:12] airammateos opened #17411 "Magento 2.2.4 condition type "like" with integer values"
**Summary of the issue**
I'm starting to use Magento 2.2.4 API following the instructions defined [here](https://devdocs.magento.com/guides/v2.2/rest/performing-searches.html). Exactly I'm trying to build a logic OR statement to get products by sku or name.
If I search for sku with integer values, no data is returned despite the existence of the sku.

**Information on your environment**
Magento 2.

[2018-08-07 13:12] magento-engcom-team commented on #17411
Hi @airammateos. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-07 13:14] ZieClaw commented on #13152
@prateekkarki
I think you misunderstood, I meant why did they even implement 'virtual blocks' they don't really seem to add much besides confusion like what has happened here. Why would you want blocks to have fake names, as you can see it will only allow for even more bugs and confusion.

[2018-08-07 13:23] #17411 closed, assigned to nobody

[2018-08-07 14:12] seotarget opened #17415 "Method (...)__toString() must not throw an exception, caught Error: Call to a member function getOptionArray() on null"
I receive an error when going to Catalog->Categories:

Fatal error: Method Magento\Ui\TemplateEngine\Xhtml\Result::__toString() must not throw an exception, caught Error: Call to a member function getOptionArray() on null in /home/hubert09/domains/domadeco.com/public_html/vendor/magento/module-ui/Component/Wrapper/UiComponent.php on line 0

I found it after upgrade Magento from 2.2.0-rc to 2.2.5
I

[2018-08-07 14:12] magento-engcom-team commented on #17415
Hi @seotarget. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-07 14:19] devgoku commented on #17068
@engcom-backlog-nickolas, So there will be release on v2.1.4? Or I need to upgrade Magento version

[2018-08-07 14:37] engcom-backlog-pb commented on #15005
@georgios-2317, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-07 14:38] engcom-backlog-pb commented on #17415
@seotargetб please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-07 14:38] #17415 closed, assigned to nobody

[2018-08-07 14:58] dannynimmo opened #17416 "Product image zoom (magnifier) is broken in Safari"
### Preconditions

1. Magento 2.2.3
2. PHP 7.1
3. Theme which enables the magnifier in `etc/view.xml` (Luma does not)
4. Safari browser v11.1.2
5. Remote environment (issue does not exist on local environments)

### Steps to reproduce

1. Browse to product detail page with a large image
2. Click the image to open the fullscreen gallery
3. Click on the "zoom in" button

### Expected result

Image i

[2018-08-07 14:58] magento-engcom-team commented on #17416
Hi @dannynimmo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-07 15:30] engcom-backlog-nickolas commented on #17068
@devgoku, there definitely won't be fix for 2.1.4, as it already has been released.
The best solution is to upgrade you magento instance to released 2.2.x. Which is 2.2.5 currently.

[2018-08-07 15:51] joostvanveen commented on #17298
I encountered exactly the same issue.

In our case it happened in the following circumstances:

1. Data migration from M1 to M2
1. M1 store had Amasty Auto Add Promo Items extension
1. M2 store did **not** have the Amasty Auto Add Promo Items extension
1. Amasty Auto Add Promo Items promotion rules had also been imported, hence the 'ampromo_items'

Solution:
Delete all promotion rules in the new s

[2018-08-07 16:04] Orstio opened #17417 "Sales Order Create Load Block populates wrong reference container"
In vendor/magento/module-sales/view/adminhtml/layout/sales_order_create_index.xml, the "data" block:

<block class="Magento\Sales\Block\Adminhtml\Order\Create\Data" template="Magento_Sales::order/create/data.phtml" name="data">

Is directly beneath the "order_create_form" block.

In vendor/magento/module-sales/view/adminhtml/layout/sales_order_create_index.xml, the same block is under the "content

[2018-08-07 16:04] magento-engcom-team commented on #17417
Hi @Orstio. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-07 16:12] Orstio commented on #17417
As I said, it is probably not reproducable on a vanilla installation.  That does not mean that there is no bug, just that it is not noticable in the vanilla workflow.

What I am reporting is an inconsistency in the two XML files, sales_order_create_index.xml and sales_order_create_load_block.xml.  Any developer looking at this will immediately see the error.

This needs to be fixed for ease of thi

[2018-08-07 18:02] Kingball commented on #15115
I found the problem.
This happen if new customer have fail transaction payment on first time.
so the customer id and address id not connect.

how to reproduce :
- Change payment key (public key or private key) so, transaction always fail
- create new customer
- make transaction
- make payment -> result is fail
- Change back payment key
- make payment -> result success
- sign out (Error No such ent

[2018-08-07 18:45] chattertech commented on #14667
I actually think this may be the most serious bug that needs fixing in M2 asap.

[2018-08-07 19:07] hostep commented on #12602
@engcom-backlog-nickolas: any reference to a commit or PR for the fix in 2.2.7 you are referring to would be appreciated!

I was under the impression all big cron related issues got fixed in 2.2.5, but according to your comment, that's still not true?

[2018-08-07 19:42] navarr opened #17425 "Wrong tax is displayed in checkout for Virtual products"
Under certain scenarios the tax displayed in checkout for a virtual product does not match the address selected by the billing method

### Preconditions

1. Magento 2.2.6-dev installed
-- **Updated(09/19/2019):** Still actual on `2.3-develop`
-- **Updated(02/15/2021):** Modified for similar issue on `2.4-develop`
2. Default Tax rates configured (typical of a clean installation)
3. Addition of a Ta

[2018-08-07 19:42] magento-engcom-team commented on #17425
Hi @navarr. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-07 19:43] navarr commented on #17425
@magento-engcom-team give me 2.2-develop instance

[2018-08-07 19:43] magento-engcom-team commented on #17425
Hi @navarr. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-08-07 19:44] magento-engcom-team commented on #17425
Hi @navarr, here is your [Magento instance](https://i-17425-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17425-2-2-develop.engcom.dev.magento.com/admin](https://i-17425-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-07 19:45] ncunningham commented on #16469
I'm getting the exact same issue updating from 2.2.3 to 2.2.5.

[2018-08-07 19:57] amanuni commented on #15939
I am also facing same issue.

[2018-08-07 20:43] ncunningham commented on #16469
I was able to correct my upgrade issue by performing the following steps:

I rolled back to v2.2.3 and deleted the two Klarna tables from the database (created from the failed install that generated the initial mysql error):
`
klarna_core_order
klarna_payments_quote
`

I then entered the following commands:
`
bin/magento maintenance:enable
`
I had to completely delete the composer directory

`
rm

[2018-08-07 21:39] eugene-shab commented on #13254
@magento-engcom-team Any thoughts or updates?

[2018-08-08 01:14] patrickcavalheiro opened #17427 "Not update installment price on product configuration change (Product Page)"
I created a template to display the installment price of the product, on the product page. I need to update this price when the user clicks the configurable product option.

I created a preference for "Magento\ConfigurableProduct\Block\Product\View\Type\Configurable" to create a new price_type_code but debugging the product page does not pass through the getJsonConfig method.

I also created a pre

[2018-08-08 01:14] magento-engcom-team commented on #17427
Hi @patrickcavalheiro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-08-08 02:46] prateekkarki commented on #13152
@ZieClaw
I think they implemented that here to change the `catalogLayer` argument to `Magento\Catalog\Model\Layer\Search` cause layered navigations are different in search pages and in listing pages. But I get your point though there were better ways to implement it.

[2018-08-08 04:52] visahardik commented on #8189
I am facing same issue while upgrade 2.1.9 to 2.2.5.
Every categories page shows "We can't find products matching the selection."
and when accesign direct product its shows out of stock but in backend its already in stcok.

Any  idea ?

[2018-08-08 06:10] tuushay opened #17429 "Middle Mouse Button Scrolling"
### Preconditions

1. Magento 2.2.5 with sample data installed.

### Steps to reproduce

1. When you open up the Men -> Tops category page on front-end, you can't scroll by clicking and dragging the middle mouse button (autoscrolling option for firefox).
2. When you remove the layered navigation from the page, scrolling works again.
Code used for removing layered navigation :
`<referenceContainer

[2018-08-08 06:10] magento-engcom-team commented on #17429
Hi @tuushay. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-08 06:12] engcom-backlog-nickolas commented on #12602
@hostep, https://github.com/magento/magento2/pull/12497

[2018-08-08 06:42] engcom-backlog-nickolas commented on #16100
Hello @VivianWang1993, thank you for your report. I cannot reproduce this issue by provided steps. Could you please add more details?

[2018-08-08 06:55] hostep commented on #12602
@engcom-backlog-nickolas: correct me if I'm wrong but #12497 got included in Magento 2.2.5, see: https://github.com/magento/magento2/commit/f274f03a45f0fa230efd5c1b6ee8e37b03530e2e

[2018-08-08 06:59] engcom-backlog-andrii commented on #17417
@Orstio , Thank you for your report. Please refer to the [Community Forums](https://community.magento.com/)or the [Magento Stack Exchange](https://magento.stackexchange.com/) site foradvice or general discussion about this issue. The GitHub issue tracker isintended for Magento Core technical issues only.

[2018-08-08 06:59] #17417 closed, assigned to nobody

[2018-08-08 07:09] DanielRuf opened #17433 "feature request: make _calcHeight and _isOverflowed of minicart sidebar.js optional"
### Preconditions

1. add more than 6 items to the cart
2. open the minicart
3. all current Magento versions (2.2.4+, 2.3, 2.1.x)

### Steps to reproduce

1. open the minicart
2. the
3.

### Expected result

1. an option to disable both methods to prevent the calculated height / scroll

### Actual result

1. I can not disable these options without overwriting sidebar.js

I think it also makes sens

[2018-08-08 07:10] magento-engcom-team commented on #17433
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-08 07:14] daniel-ifrim opened #17434 "Upgrade to Magento 2.2.5 with patches in place. Area code is not set in Magento_Sales fillQuoteAddressIdInSalesOrderAddress"
### Preconditions

### Steps to reproduce

1. Upgrading a store via composer. Version Magento 2.2.2 to Magento 2.2.5
2. Run `composer update -vvv`
3. Apply 2 patches: CE-MAGETWO-93036-2018-07-02-07-06-53.patch and htdocs/CE-MAGETWO-93083-COMPOSER-2018-07-16-03-39-02.patch
4. Run `php bin/magento setup:upgrade`
5. When Magento_Sales upgrades, in `UpgradeData.php`, function `fillQuoteAddressIdInSale

[2018-08-08 07:14] magento-engcom-team commented on #17434
Hi @daniel-ifrim. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-08 07:16] engcom-backlog-andrii commented on #17403
@kandarp26 ,  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-08 07:28] swishhh commented on #16063
@hostep thanks a lot :)

[2018-08-08 07:36] daniel-ifrim commented on #17434
It seems, I will have to try to reproduce the issue on my system using vanilla Magento 2.2.2 and reproduce the steps.

[2018-08-08 07:57] daniel-ifrim commented on #17434
Btw, it looks to me like fillQuoteAddressIdInSalesOrderAddress() from UpgradeData should work with SQL queries $connection->update(), $connection->select() .. instead of accessing and saving data through entire models and classes. It modifies one column data in a table and updates old orders.
A patch can use alternate code than the usual heavy models / classes.
This is an opinion.

[2018-08-08 08:01] michaelrachlitz opened #17436 "Undefined variables during product save"
The issue reporting template does not provide guides for missing keys specifically. I have attempted to fit in the missing isset() checks I have noticed

### Preconditions
1. Magento CE 2.2.5

### Steps to reproduce

1. Create Configurable Product
2. Before saving the parent product, make sure that at least one configuration has a SKU that is longer than allowed.
3. Save and the validation will co

[2018-08-08 08:01] magento-engcom-team commented on #17436
Hi @michaelrachlitz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag