[2016-09-13 15:20] slavvka commented on #6097
The issue has been fixed and delivered to the mainline. It is also ported for 2.0 and 2.1 and will be delivered as a part of nearest patch releases.

[2016-09-13 15:20] #6097 closed, assigned to nobody

[2016-09-13 15:28] sevos1984 commented on #6578
This doesn't looks like bug but a feature actually. How can customer update attributes if he forgot password?

[2016-09-13 15:41] antboiko commented on #5885
Thanks for the link @commcad. We're working on that one as well. It should be soon available in a mainline and furher in one of nearest patch releases.

Thansk,
Anton.

[2016-09-13 15:46] tkacheva commented on #6596
Language switcher for CMS content has never been native Magento functionality. We are having this in CMS roadmap

[2016-09-13 15:47] sevos1984 commented on #6576
This is not native magento functionality

[2016-09-13 15:49] ktruehl commented on #4442
I wish it were so.

However, if the product, which determines the initial price shown on the detail page of a configurable product, does not have a special price itself, then my previous patch is still needed. Tested it and it makes logical sense, since the provided commits don't touch the problem handled by my patch.

In addition, the above commits do not completely fix the issue when swatches ar

[2016-09-13 15:53] OlgaBurtyka opened #6601 "After upgrade to 2.1.1 I can't set on product edit tab with Advanced Pricing"
### Preconditions

1. Magento 2.1.1
2. php 7.0.7
3. MariaDB
4. Nginx
### Steps to reproduce

1. Upgrade magento from 2.0.9 to 2.1.1 via composer update
2. Go edit product in admin - and can't see Advanced Pricing Tab
### Expected result

1. See Advanced Pricing Tab
### Actual result

1. [Screenshot, logs]
   Can't see Advanced Price tab in edit product
   ![apgrade](https://cloud.githubusercontent

[2016-09-13 15:54] heldchen commented on #6578
I'm not sure sure I follow - the customer has no chance to update his account and add the missing data himself when he's not able to recover his lost password: not getting the password recovery email prevents him from fixing the missing data. and not being able to fix the missing data will prevent him from getting the recovery email...

it seems the phone number was not mandatory in magento 1 cust

[2016-09-13 15:54] pboisvert commented on #6576
@antboiko can you check if this is a parity issue?

[2016-09-13 16:00] pboisvert commented on #6578
@ilol Illia--please check this scenario via data migration tool. I believe the comment is correct that this was not a required field in M1 but default but certainly could be made to be not required. If the field is set to required in M2 then this scenario will occur

[2016-09-13 16:03] ccasciotti commented on #1632
Doesn't work for me on 2.1.1, i have to use events to convert a custom attribute from quote to order

[2016-09-13 16:15] sevos1984 commented on #6573
Thanks for posting, Yurii. Internal ticket created MAGETWO-58351

[2016-09-13 16:19] choukalos commented on #5837
Hi @Cornoud,

How many products do you have loaded in the system?
Why do you have so many customer groups - are you using each group as a price book for one or more customers (B2B business)?

This looks like a bug - tracking internally as MAGETWO-58352

[2016-09-13 17:06] dmcmillin commented on #6512
for configurable products it shows 0 even after I goto advanced stock and change the quantity to any value. I saved the database and manually changed the qty to 1000.0000 as a check on this problem and it still doesn't show up on frontend. However, it shows up in the backend as having 1000.000 quantity.

[2016-09-13 17:19] jibrandlr commented on #6206
@sevos1984 that's correct, i'm closing this issue

[2016-09-13 17:19] #6206 closed, assigned to sevos1984, odubovyk

[2016-09-13 18:46] hostep commented on #4506
@Zaylril: that's exactly what we are seeing unfortunately. HTTP/2 makes little difference because the js files are being requested by other js files which in their turn also request other js files, and so on and so on (if I remember correctly, it has been a few months ago since I last looked at this).
So the js files aren't all being requested simultaneously, which makes using HTTP/2 not really he

[2016-09-13 20:07] heldchen commented on #6601
it's now a link in the top section:

![image](https://cloud.githubusercontent.com/assets/299636/18489604/7ad998e4-79fe-11e6-9bf4-231376fdeae0.png)

[2016-09-13 20:10] heldchen commented on #6583
seems related to #6388

[2016-09-13 20:22] mohammadkokash opened #6602 "Warning "Something went wrong" appears every time I try to enable a theme"
### Preconditions

1. Magento 2.1.0, php 5.6, MariaDB 10
### Steps to reproduce

1. when i press on Content  > Design > Configuration i get the error
### Expected result

1. list of themes to enable one of them
### Actual result

1. A pop up displays the warning: "Attention. Something went wrong."
2. and when i track the error i find this:

Warning: strtoupper() expects parameter 1 to be string, a

[2016-09-13 20:36] blizam commented on #5527
I can't reproduce in 2.1.1

[2016-09-13 20:37] hvstudio commented on #6588
`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition ./`
`php ./bin/magento setup:install --admin-firstname=*** --admin-lastname=*** --admin-email=*** --admin-user=*** --admin-password=*** --db-name=magento2 --db-user=homestead --db-password=secret --use-secure=1 --use-secure-admin=1 --backend-frontname=admin`
`bin/magento setup:static-content:deplo

[2016-09-13 20:48] dthampy commented on #6598
@kumarancontus , Can you please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) with steps to reproduce, actual result and expected result.
Please include the magento version that you are using along with the information regarding if it was an upgrade or not.
If you could screenshot along with the steps, that'd be

[2016-09-13 20:50] ghost commented on #5542
Experiencing the same issue in version 2.0.7.
See http://magento.stackexchange.com/questions/136139/shipping-failure-404-or-400-on-magento-2 for full details.

[2016-09-13 20:58] ghost commented on #6369
I''ll make it feature request, to append the --re-index for convenience purposes to ./bin/magento cron method

something like this

[code]

[2016-09-13 21:25] hvstudio opened #6603 "Catalog list - toolbar,paging,layered navigation, wrong numbers and information of products"
### Preconditions

1. Fresh install
### Steps to reproduce

1. Create 2 products 1 visible in "Catalog,Search" another only "Search" put them in same category
   ![image](https://cloud.githubusercontent.com/assets/15934350/18491633/8ee642fc-7a07-11e6-8f8a-1b2a8f9f6767.png)
### Expected result

1. Expecting 1 product
2. no paging
3. only 1 price range in layered navigation
### Actual result

1. 9 p

[2016-09-13 21:37] dexterityzx opened #6604 "Magento 2.0.7 - Best seller report issue"
When I tried to refresh the best seller statics, it shows the error message. But I can refresh other statistics.
### Preconditions
1. Magento 2.0.7
### Steps to reproduce
1. go to admin>report>refresh statistics
2. select "bestseller"
3. select "refresh lifetime statistics" on the top dropdown.
4. submit
### Expected result

Magento refresh the lifetime statics of bestsellers with message like bel

[2016-09-13 21:42] pboisvert commented on #6604
@dexteritycc going to need a bit more info to start an investigation. Please use the guidelines you see above to provide info useful to reproducing the info.

[2016-09-13 21:50] dexterityzx commented on #6604
@pboisvert I have updated the post. Thank you.

[2016-09-13 23:04] neilrd commented on #4785
@commcad

I've got the same issue that you initially highlighted. I am pretty inexperienced with MySQL. However I have logged into the MySQL monitor via SSH as the root user. What are the exact commands I need to run to solve this problem - please explain step by step.

I copied and pasted this command:

MariaDB [storedB]>

but the following error was flagged:
<img width="867" alt="screen shot 201

[2016-09-14 00:12] jvreeken commented on #5709
I also had a similar error that was only able to be resolved by turning off experiments..

Error:
Something went wrong while saving the category.

main.CRITICAL: exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '0-350-category' for key 'GOOGLEOPTIMIZER_CODE_STORE_ID_ENTITY_ID_ENTITY_TYPE

[2016-09-14 03:48] pantaoran commented on #3645
EDIT: I'm deleting what I wrote here before, it was not true and I was an idiot.

[2016-09-14 03:53] thdoan commented on #5685
@SerhiyShkolyarenko At the top you should have something like this:

[code]

[2016-09-14 04:34] Khaleel commented on #4506
This is not entirely true. Magento 1 still does this - they include all the prototype, language, and all JS files right at the top of the application and this casues it to be slow. It needs configuration out of the box and a CDN only helps half way.

It is so disappointing about the Front End Development architecture. Magento has outsourced all these European developers and you can see that they h

[2016-09-14 06:21] NikoAlexis commented on #5799
The same issue.
Migrated to 2.0.7, then updated from 2.0.7 to 2.1.0. It's ok if I create a new user, but when I try to edit the user and press "save" - blank page.
Magento cache is cleaned.

[2016-09-14 06:26] neilrd commented on #5902
Is the fix available in 2.1.1?

[2016-09-14 06:32] OlgaBurtyka commented on #6601
@heldchen Hi! Yes I know it. But I don't have price field. If I open browser debug - I can find Price and other price attributes - but they not display(. What can influence on it?
![apgrade2](https://cloud.githubusercontent.com/assets/4771407/18502155/171a69a4-7a5e-11e6-8714-63ea36a98d23.png)
![apgrade1](https://cloud.githubusercontent.com/assets/4771407/18502156/171fcfd4-7a5e-11e6-9637-ba6111a4c5

[2016-09-14 07:01] veloraven commented on #3513
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-14 07:01] #3513 closed, assigned to ishakhsuvarov

[2016-09-14 07:01] veloraven commented on #3416
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-14 07:01] #3416 closed, assigned to ishakhsuvarov

[2016-09-14 07:05] veloraven commented on #3290
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-14 07:05] #3290 closed, assigned to nobody

[2016-09-14 07:06] veloraven commented on #3125
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-14 07:06] #3125 closed, assigned to nobody

[2016-09-14 07:07] veloraven commented on #2936
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-14 07:07] #2936 closed, assigned to nobody

[2016-09-14 07:08] veloraven commented on #3857
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-14 07:08] #3857 closed, assigned to ishakhsuvarov

[2016-09-14 07:10] veloraven commented on #6395
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-14 07:10] #6395 closed, assigned to nobody

[2016-09-14 07:13] AVoskoboinikov commented on #5527
OK, thanks! I will close this issue then. Fill free to open new one if you will have any new questions.

Have a good day!

[2016-09-14 07:13] #5527 closed, assigned to nobody

[2016-09-14 07:16] BaDos commented on #4989
Hi @delyriand

Thank you for reporting.

This issue was fixed in [#1471](https://github.com/magento/magento2/issues/1471#issuecomment-246671265) and I cannot reproduce it now.
Please, reopen if you still can reproduce this issue.

[2016-09-14 07:16] #4989 closed, assigned to nobody

[2016-09-14 07:16] YevSent commented on #5902
This fix will be available in Magento 2.1.3 version.

[2016-09-14 07:19] neilrd commented on #5902
I am pretty inexperienced with MySQL. However I have logged into the MySQL monitor via SSH as the root user. What are the exact commands I need to run to solve this problem - please explain step by step.

I copied and pasted this command:

MariaDB [storedB]>

but the following error was flagged:
<img width="867" alt="screen shot 2016-09-14 at 00 00 23" src="https://cloud.githubusercontent.com/asse

[2016-09-14 07:41] sevos1984 commented on #6512
Configurable qty is ignored, it uses sub-products stock, this is by design. If you set all sub products in stock and add qty to them configurable will appear in store.

[2016-09-14 07:46] antboiko commented on #5775
Hi @mustdobetter , do you have an update on this?

Thanks,
Anton.

[2016-09-14 07:48] antboiko commented on #6303
Hi @mackelito , is there any update on this issue?

Thanks,
Anton.

[2016-09-14 07:52] veloraven commented on #3489
@Grohotun thank you for reporting.
Is this issue still actual?
Please close it if it is not.
Please specified Magento version if it is.

[2016-09-14 08:01] grusy commented on #6512
Adding stock to the configurable product itself added it back to the front end for me.

[2016-09-14 08:04] skovalenk commented on #6319
@bartek9007 You have problems only with JavaScript validation?

[2016-09-14 08:07] janhelleman commented on #5885
I don't want to pressure or anything but is there any form of estimate? We have multiple projects that depend on custom options heavily and right now everytime a product is saved things are rendered "useless". We can't estimate if we should roll out a custom fix ourselfs or wait for you guys to do so, and I guess others have similar challenges.

Thanks,
Jan

[2016-09-14 08:11] sevos1984 commented on #6356
https://github.com/magento/magento2/issues/6062 is not reproduced as well. Have you migrated your database from magento 1? What is your terms and condition content? Maybe it contains some special symbols?

[2016-09-14 08:12] mackelito commented on #6303
We have decided not to use magento api as it doesn't play nice with our expectations as frontend developers and will create custom endpoints.

[2016-09-14 08:12] #6303 closed, assigned to mbrinton01

[2016-09-14 08:14] OLTC-fperrin commented on #3754
Still an issue in 2.0.9. I had to create an empty test.js file in `app/design/adminhtml/[Package]/[Theme]/web` for the theme to deploy

[2016-09-14 08:23] skhell opened #6606 "URL Rewrite not working as expected"
### Preconditions

1. Magento 2.1.0
2. MySQL 5.6.30
3. PHP 7.0.6

After installing Magento and importing some products to test I have missed to enable the Catalog URL Rewrite option in stores-->configuration-->catalog-->catalog-->SEO-->Use Categories Path for Product URLs to YES

After enabling the option I made a rebuild of the index with the command

php bin/magento indexer:reindex

Right after

[2016-09-14 08:26] devhn commented on #4184
Any news on this? The error messages are also missplaced by showing below the add-to-cart button instead next to non-selected attribute.

[2016-09-14 08:27] BaDos commented on #4711
Hi @leoquijano

Thank you for reporting.
We've created the internal ticket MAGETWO-58375 to resolve this issue.

[2016-09-14 08:36] sevos1984 commented on #6593
Thanks for reporting, internal ticket created MAGETWO-58378

[2016-09-14 08:48] BaDos commented on #6383
Hi @BardiaAfshin

Did you run `./bin/magento setup:upgrade` after you had run `composer require bardiamodule/product-attribute`?

[2016-09-14 08:58] AVoskoboinikov commented on #5891
You are right, I've found possible issue in js/grid/columns/select.js and created internal ticket (#MAGETWO-58380) for fix. This issue will be closed after fix.

Thanks and have a nice day!

[2016-09-14 09:05] OlgaBurtyka commented on #6601
I find why it happend. See screen.
![apgrade_11](https://cloud.githubusercontent.com/assets/4771407/18506196/71407ad0-7a73-11e6-870b-ba46f6f6c5e6.png)

[2016-09-14 09:06] jvreeken commented on #5642
@dyushkin where might I find the actual fix for this problem without completely pulling the develop branch?  there are many bugs in v2.1.1 that I've already applied patches for to fix bugs that I don't want to have to go an repatch after pulling the latest develop... if you could let us know what exactly fixes the issue, that would be great.  thank you.

I think it might be that we are forcing ssl

[2016-09-14 09:07] jamescowie commented on #2671
Confirmed that this is still an issue on 2.1.0 release branch, Re-opened so we can take a look at this again.

[2016-09-14 09:09] jvreeken commented on #6474
same problem here... site is fully https, having the exact same issue with success not redirecting to success, failing to show real error messages of declined payments etc...  why is magento 2.1.1 so broken?

[2016-09-14 09:13] sevos1984 commented on #6594
Could you please paste your xml for custom widget here?

[2016-09-14 09:23] SerhiyShkolyarenko commented on #5685
@thdoan getRemoveParams() is very old method and annotations seems deprecated. Product model shouldn't contain info about wishlist item id. Please, try to pass wishlist item to getRemoveParams().

[2016-09-14 09:30] victor-v-rad commented on #6531
@beckindesigns
It is hard to figure out what is wrong in your case
You could share DB dump (remove all passwords before) of Magento 1 and send it through email (find it in my profile https://github.com/victor-v-rad)
We will try to migrate it.

[2016-09-14 09:37] BaDos commented on #5015
Hi @agoeurysky

Thank you for reporting.
The internal ticket MAGETWO-58382 was created to resolve this issue.

[2016-09-14 09:43] andimov commented on #6220
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:43] #6220 closed, assigned to nobody

[2016-09-14 09:43] andimov commented on #5594
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:43] #5594 closed, assigned to nobody

[2016-09-14 09:43] andimov commented on #5209
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:43] #5209 closed, assigned to nobody

[2016-09-14 09:43] andimov commented on #3466
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:43] #3466 closed, assigned to nobody

[2016-09-14 09:43] andimov commented on #3304
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:43] #3304 closed, assigned to nobody

[2016-09-14 09:43] thdoan commented on #5685
"Please, try to pass wishlist item id to getRemoveParams()" -- Sorry, I don't understand this. My original issue was in regards to using `getRemoveParams()` to retrieve the wishlist item id -- if I already have the id then I wouldn't need to pass it to `getRemoveParams()`.

Are you saying that my current workaround is the best method for getting the wishlist item id on the product page right now?

[2016-09-14 09:44] andimov commented on #6174
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:44] #6174 closed, assigned to nobody

[2016-09-14 09:44] andimov commented on #4552
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:44] #4552 closed, assigned to nobody

[2016-09-14 09:44] mbrehme commented on #5836
+1 This issue is critical for us

[2016-09-14 09:46] andimov commented on #6253
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:46] #6253 closed, assigned to victor-v-rad

[2016-09-14 09:46] andimov commented on #6154
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:46] #6154 closed, assigned to nobody

[2016-09-14 09:49] andimov commented on #4865
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:49] #4865 closed, assigned to nobody

[2016-09-14 09:50] andimov commented on #4460
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:50] #4460 closed, assigned to ishakhsuvarov

[2016-09-14 09:50] andimov commented on #4425
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:50] #4425 closed, assigned to nobody

[2016-09-14 09:51] andimov commented on #4276
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-14 09:51] #4276 closed, assigned to choukalos

[2016-09-14 09:54] andimov commented on #3834
@lgarridoj
Thank you! So, I’m closing this issue because it is a duplicate.

[2016-09-14 09:54] #3834 closed, assigned to nobody

[2016-09-14 10:02] Colir opened #6607 "Custom theme requirejs-config not loading custom javascript"
Hi.

I think i'm doing something wrong, but i did'nt see what and i'm going crazy.
I try to load a custom JS file on all my magento (2.1) page.

So, according to the doc, i put my js file in "web/js" of my theme, then i create a requirejs-config.js at the root of my theme.

My config file is correctly merge with all the the requirejs-config file.

But i don't know why : the js file specified did'n

[2016-09-14 10:06] sevos1984 commented on #6574
Not reproduced for me as well, try clearing your browser caches

[2016-09-14 10:26] serzhik commented on #5836
I use temporary solution.
Create pub/reindex.php:

[code]

Run http://example.com/pub/reindex.php to reindex.

Still waiting for solving of this issue.

[2016-09-14 10:32] ghost opened #6608 "Unable to send the cookie. Size of 'mage-messages' error message"
I'm not sure if this a magento error or because I have added a custom module. Basically we have a book shop and people can buy ebooks. We connect to a third party to get the ebook url. So I have a module that using a preference for Magento\Downloadable\Controller\Download\Link goes to my controller instead. I have everything the same as the original controller except i have some extra bits to conn

[2016-09-14 10:38] SahakTadevosyan commented on #6165
@piotrekkaminski @antboiko  Is this problem solved ?
I have the same problem when editing  the product.
My magento version is Magento CE 2.1.0
Thanks

[2016-09-14 10:41] artem-dryha commented on #2739
I facing that issue too. Now trying to set up custom options for configurable product and even with price type "fixed" I get the message "Invalid Option Value".

Currently using 2.1.1 version

[2016-09-14 10:51] patruvlad commented on #6382
So I guess still no update on this issue. Does somebody have a workaround?

[2016-09-14 11:14] jh-tom commented on #3545
Can you confirm this was fixed as part of 2.1.1 as I can't find any notification on this within the patch notes for 2.1.1?

[2016-09-14 11:25] andidhouse opened #6609 "Cache activated removes "active" class from main menue"
### Preconditions

1. Magento 2.1 via download, Nginx, PHP7, Varnish, Redis
### Steps to reproduce

1. Deactivate caching in admnin --> active class does appear on the main menue when clicking a category/subcategory
### Expected result

1. Activate caching: same active class for the main menue is applied
### Actual result

1. When activating caching (in our case varnish is installed) the "active"

[2016-09-14 11:26] BaDos commented on #5498
Hi @RG-1

Thank you for reporting.
The internal ticket MAGETWO-58385 was created to resolve this issue.

[2016-09-14 11:26] andidhouse commented on #6609
![caching](https://cloud.githubusercontent.com/assets/16196483/18510527/cdd495a0-7a7e-11e6-8eb9-88a0bb2113bf.png)
![no caching](https://cloud.githubusercontent.com/assets/16196483/18510528/cdd7222a-7a7e-11e6-8f43-7a715a13feda.png)

[2016-09-14 11:29] andidhouse commented on #5302
3 month later without an official bugfix of a major bug... i really do not know what is going on on magento side...

[2016-09-14 11:35] bobbyshaw commented on #5021
I have also been experiencing this with our Meanbee Royal Mail extension for Magento 2.

After adding a log line to  \vendor\magento\module-quote\Model\QuoteValidator.php. I also can see that a method code is fetched but no rate.

The logging suggests that the method code has been truncated and so when it tries to find a rate it is unable.

[code]

The code above should be "meanbee_royalmail_first

[2016-09-14 11:47] ludwig-gramberg opened #6610 "Catalog Price Rules disappear the next day, cron doesn't help"
When using Catalog Price Rules (without a start- and end-date) the cron does not write values into catalogrule_product_price only reindexing triggers that. Without a value for each day the rules stop to work the next day.
### Preconditions
1. Magento 2.4-develop
2. cron is enabled and running
### Steps to reproduce
1. Create a Customer Group
2. Create an active Catalog Price Rule:
   1. Assign the

[2016-09-14 11:48] ludwig-gramberg commented on #6610
i'm not sure wether or not this is caused by not defining a start-and enddate but either way it should work _or_ the admin-interface should not allow to chose parameters which make this not functioning.

[2016-09-14 11:53] ghost commented on #5302
It's pretty obvious, CE is not in the future.

[2016-09-14 12:03] SerhiyShkolyarenko commented on #5626
@acharrex thank you for reporting.
I tried current magento develop branch and release 2.1.3 but didn't reproduce this issue. Both in Firefox and Chrome all goods are displayed in persistent order.
Is it still reproducible for you on current develop? Could you hint the steps from the clean installation with sample data?

[2016-09-14 12:06] greg-hoarau opened #6611 "There's a way to add multiple dependences with the <depends>tag in widget.xml file ?"
### Preconditions

1. Magento CE ver. 2.1.0 with sample data.
### Steps to reproduce

1. I have a widget.xml file that work properly,
2. `<depends><parameter name="name1" value="1" /></depends>`
### Expected result

1. Need a way to use multiple dependences.
### Actual result

1. Can only use one dependence.

Thanx

[2016-09-14 12:06] korhan1 opened #6612 "HTML in Terms and Conditions breaks the editing view"
### Preconditions

1. Magento ver. 2.1.0
### Steps to reproduce

1. Go to Stores -> Term and Conditions
2. Create a new condition.
3. Style the text with HTML tags, (p, ul, etc)
4. Save the page
5. Try to open it again
### Expected result

1. You should get into an editing view, the same one you used to create the condition in the first place
### Actual result

1. This error page comes up:
   ![er

[2016-09-14 12:24] onakonechna commented on #5573
Target version is 2.1.3

[2016-09-14 12:25] commcad commented on #4785
Hey Neil

Change _pwd_ and database name (_magentodB_) with yours

From the Command Line Terminal:

$ sudo mysql -u root -p
$ _(enter pwd)_
$ USE _magentodB_;
$ ALTER TABLE sales_invoice_grid ADD base_grand_total decimal(12,4) AFTER grand_total;
$ quit
$ sudo service mysql restart

@neilrd

[2016-09-14 12:37] xmav commented on #6391
@flipflap

We've created internal ticket MAGETWO-58387 to address this issue.

Thanks,
Maksym

[2016-09-14 12:42] flipflap commented on #6391
Ok thanks, do I get feedback here if you have a solution for that?

[2016-09-14 12:57] duongdiep212 commented on #4896
Hi there,
I've get the same issue after run the php bin/magento setup:di:compile
Really, I don't know how I can fix the issue without delete var/di ?

Recoverable Error: Argument 1 passed to Magento\Setup\Module\DataSetup::__construct() must be an instance of Magento\Framework\Module\Setup\Context, instance of Magento\Framework\ObjectManager\ObjectManager given, called in /home/opumo/subdomains/de

[2016-09-14 13:21] SerhiyShkolyarenko commented on #5171
@shandyDev thank you for the report! We reproduced the issue and created internal MAGETWO-58388.

[2016-09-14 13:24] BaDos commented on #4784
Hi @punkstar

Thank you for reporting.
We've created internal ticket MAGETWO-58389 to resolve this issue.

[2016-09-14 13:28] lfritsche opened #6613 "Date & Time localized formatting - 09/14/2016 vs. 14.09.2016 (de_DE) doesn't work"
### Preconditions
1. Magento 2.0.7
2. Default Country: Germany
3. Backend and frontend translated to german
4. Backend-user default language: de_DE
5. Date sorting: Day / Month / Year
6. Adress and everything regarding the localization is set to Germany
### Steps to reproduce
1. Using Magento2 for a german setup I configured the Store with the settings (3. > 5.) mentioned above.
2. Comparing to Ma

[2016-09-14 13:33] neildavey opened #6614 "Configurable Products not saving"
Upgraded release at a time from 2.1.0 to 2.1.1
using bespoke theme on top of Luma theme. No modifications to core files
PHP7 Mysql 5.6.25 10.0.27-MariaDB linux 16.04.2 Apache 2.4.23

**Steps to reproduce**

Upgraded via wizard 2.1.0 to 2.1.1.
Go to Admin
Add Product. Add Configurable Products. Save.

**Expected result**

Configurable products showing after save

**Actual result**

Configurable pro

[2016-09-14 13:36] shires-boy opened #6615 "configurable_variation_labels not appearing on product page after 2.1.0 upgrade"
### Preconditions

Upgraded one release at a time from CE 2.0.7 to 2.1.1 the issue only shows on releases CE 2.1.0 and 2.1.1
releases CE 2.0.7 2.0.8 2.0.9 do not have this issue.
using the default Luma theme with no changes
PHP7 Mysql 5.7.13 ubuntu 16.04.2 Apache 2.4.18
### Steps to reproduce
1. Upgrade via cli composer from CE 2.0.9 to 2.1.0 (including the patch MDVA-532)
2. Go to the website
3.

[2016-09-14 13:37] SerhiyShkolyarenko commented on #5685
According to modularity approach entities from Catalog module(category, product) shouldn't know _anything_ about inventory, rules, taxes, wishlists, etc. getRemoveParams() method relies on $item->getWishlistItemId(). It means product object is implied to be initialized somewhere. It's not a reliable way. Your approach is more stable.
As far as we clarified the situation I close the issue. If you h

[2016-09-14 13:37] #5685 closed, assigned to SerhiyShkolyarenko

[2016-09-14 13:38] JacobDrummond commented on #5639
@veloraven, we're approaching the 14-day inactivity cutoff for open issues. Has this issue been replicated by the Magento team?

[2016-09-14 13:42] jignesh26 commented on #4896
@duongdiep212
If the issue is related to Bug than you can skip this issue by doing this steps.

php bin/magento setup:di:compile -vv
php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy

Run above command in same sequence and than do only cache clean whenever required .

this works for me until magento investigate this issue.

[2016-09-14 14:10] mombrea commented on #2564
+1

[2016-09-14 14:23] xmav commented on #6391
this ticket will be closed as soon as we fix issue.

[2016-09-14 14:25] JacobDrummond commented on #6609
@andidhouse, have you written a custom menu template that applies the "active" class in PHP?

If so, you need to modify classes in JS not PHP, as Magento will serve the cached version of your menu (without "active" classes).

[2016-09-14 14:26] pboisvert commented on #5639
@JacobDrummond  To be clear the 14-day inactivity applies only to issues where Magento has requested more information in order to reproduce an issue. There is no "needs update" label on this issue which indicates we are still investigating and trying to reproduce-so no inactivity clock running on this one.

[2016-09-14 14:27] sevos1984 commented on #6561
I have generated 8800 skus including 2000 configurable using setup:performance:generate-fixtures tool. Then exported and imported all products back with updated price and all is fine. Try updating to latest release version and allocating more memory to magento.

[2016-09-14 14:32] BaDos commented on #6442
Hi @schmengler

Thank you for reporting.

The internal ticket MAGETWO-58394 was created to resolve this issue.

[2016-09-14 14:36] piotrekkaminski commented on #5906
If someone stumbles on this thread the following resources might be useful:
http://devdocs.magento.com/guides/v2.1/ui_comp_guide/bk-ui_comps.html
http://bhmarks.com/blog/ui-components-doc-sprint-hello-kyiv/

[2016-09-14 15:15] Pigau opened #6616 "Can't modify product link widget conditions"
Hi,
I notice a bug when you create a product list widget in a CMS page. If you try to update your widget parameter the whole conditions tree is reseted.
### Preconditions

In Magento 2.1.0 (community)
### Steps to reproduce
1. Create a new CMS page
2. Add a product list widget on this page
3. Define some condition in the widget parameters
4. Insert the widget and save the page
5. Try to edit your

[2016-09-14 15:26] SerhiyShkolyarenko commented on #5178
@devhn @peec thank you for reporting!
This issue was already described in #5558. Our internal issue is MAGETWO-58328.

[2016-09-14 15:30] sevos1984 commented on #3609
This is fixed in develop https://github.com/magento/magento2/commit/18e8998b87f4049d705e875d83d461915d208fca and will be fixed for 2.1. Internal ticket created MAGETWO-58405. Thanks for reporting.

[2016-09-14 15:33] SerhiyShkolyarenko commented on #5178
@plentyhappy please feel free to create a separate issue when you find a way to reproduce permanently(or with high probability).

[2016-09-14 15:38] erikhansen commented on #4921
@PascalBrouwers If you're still experiencing this issue, @TKlement's [temporary fix](https://github.com/magento/magento2/issues/4921#issuecomment-225934079) worked for me. I updated set the `customer_eav_attribute.validate_rules` column to `NULL` for the `street` attribute code (you can lookup the ID in the `eav_attribute` table).

[2016-09-14 15:43] hayabusajerry commented on #6355
Was a Solution found for this as my search and filters are missing too.

[2016-09-14 16:03] mombrea opened #6617 "Redis Full Page Cache causes PHP error on catalog view"
### Preconditions

1.  Magento version 2.1.1
2.  Redis Server 3.0.3
3.  Full Page Cache Enabled
4.  PHP 5.6
### Steps to reproduce

1.  Configure Cm_Cache_Backend_Redis
2.  Enable all Caches including Full Page Cache
3.  Visit a category page on the frontend
4.  Blank page or 500 error
### Expected result

1.  The category page should load
### Actual result

1.  500 error
2.  PHP Fatal error:  Cal

[2016-09-14 16:22] Pigau opened #6618 "Error in bundle function getParentIdsByChild"
I notice some mistakes in Magento\Bundle\Model\ResourceModel\Selection:getParentIdsByChild,
this method doesn't return parent bundle ids as expected.
### Preconditions
1. Magento 2.1.0
### Steps to reproduce
1. Use this method on a product which is used as a bundle item
### Expected result
1. Return bundle product id
### Actual result
1. Return nothing

In my project I rewrite this resource model

[2016-09-14 16:22] sevos1984 commented on #3865
This is fixed in develop https://github.com/magento/magento2/commit/182b2f2beb26f53f6522034d302d7c1beb1d60eb.  Ticket for 2.0 created MAGETWO-58417

[2016-09-14 16:32] biojppm commented on #6260
@piotrekkaminski ping
is there an ETA for this? or a quick fix which I can apply on my side?

[2016-09-14 16:34] dmcmillin commented on #6512
steps I have taken:
1) selected configurable product.
2) went to area where it says on product "in stock" or "out of stock"
3) all products already show in stock

expected result.

1) product should show up in frontend

actual result

1) product does not show up in front end

[2016-09-14 16:40] terrybakshi commented on #6512
Dmcmillin ok go in admin -> System -> index management and select all and from the drop down action box change it to save on update. it happens sometime when you have not configured cron job to run, to reindex so once you do the settings in index management to save on update it should work.

[2016-09-14 16:45] dmcmillin commented on #6512
@terrybakshi

I already run ./magento indexer:reindex after any changes and its set to save on update. The weird thing is in the qty field for configurables. it's grayed out and 0. So I have to change it via mysql.

[2016-09-14 16:52] yariksheptykin commented on #3857
hi @veloraven ! Sorry, I could not find time to ensure this issue is reproducible in 2.1.x. This definitely was relevant in 2.0.x.

[2016-09-14 17:33] shires-boy opened #6619 "Cannot save swatch attribute in release 2.1.0 and 2.1.1"
Get Notice: Undefined offset: 1851 in /var/www/html/xxx/vendor/magento/module-swatches/Model/Plugin/EavAttribute.php on line 177 when saving an attribute with 3,000 swatch options

This worked OK in CE 2.0.7 2.0.8 and 2.0.9 but to get this to work in 2.1.0 and  2.1.1 I need to change the php.ini max_input_vars from 1,000 to 15,000.

I understand this is not desirable from a DOS attack perspective.

[2016-09-14 18:39] bartoszkubicki commented on #6319
As you can see I don't add any js validation class, but attribute is set as required and to omit this problem I could manually change in `eav_attribute` table value for `is_required` from `1` to `0`. Then problem 'dissapeared'.

[2016-09-14 19:01] Kanabist commented on #6319
@bartek9007 I just need to know either the problem connect with JavaScript or PHP. Because some JavaScript problems can be resolved with flushing browser cache, cookie and local storage. Have you try this actions?

[2016-09-14 19:12] piotrekkaminski commented on #6542
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-14 19:12] #6542 closed, assigned to nobody

[2016-09-14 19:12] piotrekkaminski commented on #6318
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-14 19:12] #6318 closed, assigned to nobody

[2016-09-14 19:25] ghost commented on #4415
@enochrod Sorry for the delay. This appears to be an issue in CE/EE 2.0.x but not in 2.1.0. What version are you using? Do you still see the issue?

[2016-09-14 20:18] hostep commented on #4961
Nice find @ludwig-gramberg!

I just tested this using Magento CE 2.1.1 with the following configurations:
- secure url's enabled (https)
- js minifying enabled
- js bundling enabled

These files are created at deploy time:
- pub/static/_requirejs/frontend/{Vendor}/{theme}/{locale}/requirejs-config.min.js
- pub/static/frontend/{Vendor}/{theme}/{locale}/Magento_Cookie/js/require-cookie.min.js
- pub/

[2016-09-14 21:06] cgaffney099 commented on #5172
@shiftedreality  I have since updated to magento 2.1  I tried it again with the existing csv file, it didn't update as expected.  please advise.  thanks!

[2016-09-14 21:14] kandrejevs opened #6620 "nl2br does not work for ui components (admin grid)"
I made a new table in the database and want to show it as a grid in the admin section.
### Steps to reproduce
1. create table in database
2. create UI component for admin grid
3. add `<item name="nl2br" xsi:type="boolean">true</item>` to column config
### Expected result
1. Column should have data split into lines using `<br>` if there is new line in string
### Actual result

column is displayed a

[2016-09-14 21:27] ghost commented on #6383
I honestly don't recall. I believe I tried the upgrade route initially when I was installing the project via the alternative composer install.

[2016-09-14 22:14] kevin-carroll-cl commented on #6367
I am experiencing a similar issue in 2.1.1. I added font files to `<Vendor>/<Theme>/web/fonts` and the font files do not get symlinked into the pub directory after running grunt exec. However, they do get copied to the pub directory after running `bin/magento setup:static-content:deploy`. This is a pretty critical issue for any dev doing frontend work as it requires the font files to be manually c

[2016-09-14 22:17] ghost commented on #5302
@andimov  @ilol any info on this bugfix?

[2016-09-14 22:57] melnikovi commented on #5191
@paulespino thank you for reporting the issue, unfortunately I can't reproduce it. When you get this error, do you see that simple product associated to configurable in admin? Could it be possible that in your code you execute two requests to associate simple product to configurable? Could you provide us code sample that you use to reproduce this issue?

Please see below endpoints and data I used

[2016-09-14 23:30] aarondong2005 opened #6621 "Component Manager will hangs"
Preconditions
1. Fresh installed Magento 2.1.1
2. Data migrated from Old Magento 1.9.0.1
2. PHP 7.0.10 + MySQL 5.6.32

Steps to reproduce
1. After migration everything works fine. But when I want to install plugin from component manager it will hangs on the "Please wait" screen.
2. If close hangs page and open a backend page. The backend will not load too.
### Actual result
1. ![hangs-1](https://c

[2016-09-14 23:49] jernejh commented on #5820
Having the same problem in 2.1.1.

[2016-09-15 00:03] jernejh opened #6622 "String wont translate: "Please enter a valid number in this field.""
### Preconditions

1. Using magento 2.1.1
2. PHP 7.0
### Steps to reproduce

1. When trying to pay with Authorize.net module, string "Please enter a valid number in this field." won't translate, despite having the following lines in my csv file:

"Please enter a valid number in this field.","V to polje vnesite veljavno številko.",module,Magento_Catalog
"Please enter a valid number in this field.",

[2016-09-15 00:09] zuristeph commented on #6020
@asemenenko Do you have recommendations on 3rd party extensions? We need a quick resolution to multi-shipping address. Thanks

[2016-09-15 00:38] aarondong2005 commented on #6621
Don't know why but the var/di doesn't exist. So I tried to di:compile, then I got error below

`Compilation was started.
Repositories code generation... 1/7 [====>-----------------------]  14% 1 sec 42.0 MiBPHP Fatal error:  Cannot declare class Migration\Step\Version11410to2000Test, because the name is already in use in /chroot/home/dashcamt/yyyyyy.com/html/vendor/magento/data-migration-tool/test

[2016-09-15 01:15] aarondong2005 commented on #6621
I tried refresh install Magento only without migrate. The component manager still hangs.

[2016-09-15 04:30] ghost commented on #5701
I just ran into this issue on production :/ when do you plan to fix this?

[2016-09-15 04:59] PascalBrouwers commented on #4921
@erikhansen I ended up using that temporary fix. Still I would like to see Magento listening to the setting 'Number of Lines in a Street Address' ;)

[2016-09-15 05:36] #3578 closed, assigned to nobody

[2016-09-15 05:39] deepthit57 commented on #6265
I face the same issue. I also have the latest version 2.1.1 and did a fresh installation.

[2016-09-15 05:41] veloraven commented on #3178
Internal issue SAASOPS-20584

[2016-09-15 06:30] duongdiep212 commented on #4896
Hi @jignesh26
many thanks for help, but still get the error after run the command : php bin/magento setup:upgrade

  Warning: file_get_contents(/home/opumo/subdomains/devm2/var/di/setup.ser):
  failed to open stream: No such file or directory in /home/opumo/subdomains/
  devm2/vendor/magento/framework/App/ObjectManager/ConfigLoader/Compiled.php
  on line 28

regarding the issue :  Recoverable Erro

[2016-09-15 06:37] saravananvelu commented on #3294
I have installed Magento 2.1.1 latest version still facing this issue which is not able to retrieve customer data from session in product view page, when cache is enabled

[2016-09-15 06:53] mitulispace opened #6623 "how to install Extensions in magento 2.1"
I  try to This Site  https://www.fastcomet.com/tutorials/magento2/installing-extensions

But Not Work How To solve that  Please Help me...
![error](https://cloud.githubusercontent.com/assets/16436069/18540819/e949c0b0-7b3e-11e6-9e6a-05bd3ce7a5e8.PNG)

Which Site refer  And  comment All Step For Install Extension in magneo 2.1

[2016-09-15 07:08] BaDos commented on #6383
@BardiaAfshin
Could you try to reproduce this issue once again?
What version of Magento are you using?

[2016-09-15 07:20] quienti commented on #6622
Already fixed in develop branch
Pull Request here : https://github.com/magento/magento2/pull/5725

[2016-09-15 07:36] miakusha commented on #5925
Hi @flnative, I cannot reproduce this issue. We need more information about your configuration

[2016-09-15 07:43] miakusha commented on #6391
@flipflap this issue present only in 2.0.x versions. You can try update to 2.1.1 and problem will be solved

[2016-09-15 08:00] alena-marchenko commented on #5788
Hi @torayeff

Fix for MAGETWO-56347 ticket is already merged to develop branch.
Closing the issue, please feel free to create new one if the issue still reproducible for you.

[2016-09-15 08:00] #5788 closed, assigned to alena-marchenko

[2016-09-15 08:04] enrico69 commented on #6594
[code]

[2016-09-15 08:04] victor-v-rad commented on #6578
@heldchen

It is required by default in Magento 1 CE/EE. But it can be changed manually to not required. I assume that is what had happened. The customer had his reasons to do this and why in Magento 2 the attribute is hardcoded as required stays controversial as for me

[2016-09-15 08:09] kanduvisla opened #6624 "M2.1.1 : Cannot get quote details"
When I try to get quote details, my quote does not seem to get loaded from my session.
### Preconditions
1. Magento 2.1.1
2. Sessions stored in database
### Steps to reproduce
1. I add a product to the cart (as a guest)
2. Everything works, cart, checkout, etc.
3. However, my custom code says my cart is NULL. This code worked before.

Code sample (in a custom block):

[code]

Now if I cal `$this->

[2016-09-15 08:13] ilol commented on #6578
#1691 - the same issue and that issue is registered MAGETWO-58099

[2016-09-15 08:14] ilol commented on #1691
Related: #6578
Initial issue was registered as [MAGETWO-58099](https://jira.corp.magento.com/browse/MAGETWO-58099)

[2016-09-15 08:20] daanggc opened #6625 "Undefined offset magento/framework/Search/Dynamic/Algorithm.php:300 if Interval object is replaced"
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Search/Dynamic/Algorithm.php#L300

In the file `magento/framework/Search/Dynamic/Algorithm.php:300` in the function `_findValueSeparator()` the content of the array`$values` is assumed but not checked, this results in a notice when the `$interval` is not the original Magento Interval object.
(In my case, it is a custom

[2016-09-15 08:28] BaDos commented on #4413
Hi @nes710

Thank you for reporting.

I cannot reproduce this issue.
Please, link import file for reproducing that you use.
Do you have the same problem on 2.0.9 or 2.1?

[2016-09-15 08:29] ihor-sviziev commented on #6617
I haven't this issue.
Did you tried to execute `php bin/magento setup:di:compile`?

Could you enable developer mode and provide full exception trace?

[2016-09-15 08:47] SerhiyShkolyarenko commented on #5385
@heldchen thank you for reporting!
We created internal issue MAGETWO-58479.

[2016-09-15 08:49] dmcmillin commented on #6547
I just actually hunted through my export and realized that the configurable products are absolutely screwed. All the fields are so screwed from the 1st configurable product onward I can't repair it at all. Anyone have a export for configurable products already done that works so I can diagnose the problem properly? Thanks!!!

[2016-09-15 08:58] Taral-Patoliya commented on #6603
Facing same issue, i have searched a little bit about this, and was going to raise the issue, but found this issue. There is no syncing between the toolbar and products list.

[2016-09-15 09:09] BaDos commented on #6553
Hi @EliasKotlyar

Thank you for reporting.
We've created internal ticket MAGETWO-58483 to resolve this issue.

[2016-09-15 09:21] dshevtsov commented on #3178
Issue on topic about scenario tests
https://github.com/magento/devdocs/issues/517

[2016-09-15 09:26] dshevtsov commented on #3178
This issue is completed in https://github.com/magento/devdocs/issues/500

[2016-09-15 09:29] miakusha commented on #5360
@flnative
Unfortunately, I could not reproduce the issue as you described it.

[2016-09-15 09:53] koenner01 commented on #4796
Big fan of the solution without the core edit!

[2016-09-15 10:00] ilol commented on #5302
Development completed. So we are merging this into mainline and older versions.

[2016-09-15 10:07] valibus commented on #2619
+1 same problem here

[2016-09-15 10:08] gorillagroup commented on #5281
@antboiko we tested this and it works only during configurable product creation. So if you have simples created before and create new configurable product. Simples that was created before will be assigned to configurable.

If you have configurable already created and create new simple and want to assign to existing configurable it doesn't work.

[2016-09-15 10:16] andidhouse commented on #6609
@JacobDrummond

No - we used a custom template BUT this is also present in the Luma theme or standard theme. Did you check it on your system before asking here? I think you would see it.

Attached is a screenshot of the luma theme navigation active class "sale" - you can see this because it is underlined in orange color. If we now activate the caching in the backend and reload the same page the ac

[2016-09-15 10:22] mrfroasty commented on #2473
Thanks - was really puzzled by this @sidolov

[2016-09-15 11:01] kanduvisla commented on #6624
The weird part is also, that when I put the following code in the constructor of my custom block:

[code]

I get the following result:

[code]

But ... when I past the same code in the constructor of `Magento\Catalog\Block\Cart`, I get the correct result:

[code]

Does anyone have a clue why this could be? I just invoke the checkout session using dependency injection in my constructor. How come th

[2016-09-15 11:09] kanduvisla commented on #6624
More debugging: the method `isSessionExists()` returns false on my custom block, but true on the Magento Block. Diving deeper, it turns out that the `session_status()`-method returns '1' in my Block (PHP_SESSION_NONE), and '2' in Magento's Blocks (PHP_SESSION_ACTIVE).

Why don't I have a session in my custom block? When I manually invoke `\Magento\Framework\Session\SessionManager::start()`, the `s

[2016-09-15 11:12] kanduvisla commented on #6624
Another interesting fact: in my constructor `isSessionExists()` returns true. But in my `getQuote()`-method it returns false. Could it be that some other code is destructing my session?

[2016-09-15 11:24] alexgoodey opened #6627 "Quote breaks if custom option deleted"
If a product is setup with a custom option, the product is added to the cart but then subsequently the custom option is removed from the product then the customers cart is broken and they view there cart, add products, checkout etc...
### Preconditions
1. Magento CE 2.1.*
2. A product with a custom option (drop down)
3. A registered customer
### Steps to reproduce
1. Login as the registered custom

[2016-09-15 11:34] kanduvisla commented on #6624
Got it!

Once again it wasn't a bug, but a feature. Turns out that if your blocks are cacheable and cache is enabled, there is a little something called `\Magento\Checkout\Model\Layout\DepersonalizePlugin`. What this plugin does, is it checks if your page requires 'de-personalization'. If so, it clears the checkoutSessions' storage. And ... one of the 'requirements' that well 'de-personalize' your

[2016-09-15 11:34] #6624 closed, assigned to nobody

[2016-09-15 12:17] SerhiyShkolyarenko commented on #5180
Hi @RUjmiak!
About your first comment: we realized, that `"useForShipping": true` is ignored by `/V1/carts/mine/billing-address` service on POST request. Corresponding internal issue is MAGETWO-58269. It was reported in #6557.
Your second comment seems to describe another flow. Could you please describe it in a step-by-step manner?

[2016-09-15 12:19] ghost commented on #6069
Does this issue resolved in new release?

[2016-09-15 12:23] miakusha commented on #5471
Hi @ComputerNorth
Thank you for your report.
 We've created internal ticket MAGETWO-58513 to address this issue.

[2016-09-15 12:30] commcad commented on #5938
@duhon @mktudock

Was this bug fix abandoned? Any quick fix available in the meantime? We've failed implementing Mktudock custom module fix, hence why I ask.

Anyone have a link to MAGETWO-56695 so I can compare the code of 2.1.1 to the patched code? maybe this would work?

thanks

[2016-09-15 12:39] rqsakai commented on #3217
Same issue on 2.0.7 with a 25k catalog of all simple products

[2016-09-15 12:40] samgranger commented on #4413
I am no longer experiencing this issue (2.1).

[2016-09-15 12:47] fendowuk commented on #6424
We have just done a fresh install of 2.1.1 and it has fixed the problem for us too. Thanks @rkhoury82!

[2016-09-15 13:22] NadiyaS commented on #5945
Hi,
this issue was already fixed and will be delivered soon,
for now you can use quick fix :
Run MySQL query `update cataloginventory_stock_item set website_id = 0 where website_id = 1;`
and then run in CLI `php bin/magento index:reindex cataloginventory_stock`.

[2016-09-15 13:23] NadiyaS commented on #5945
This issue is closed as duplicate of #5222

[2016-09-15 13:23] #5945 closed, assigned to nobody

[2016-09-15 13:24] NadiyaS commented on #5222
Hi,
this issue was already fixed and will be delivered soon,
for now you can use quick fix :
Run MySQL query `update cataloginventory_stock_item set website_id = 0 where website_id = 1;`
and then run in CLI `php bin/magento index:reindex cataloginventory_stock`.

[2016-09-15 13:37] bartoszkubicki commented on #3294
Also bug in Magento 2.1.
I noticed that having all types of cache except `Full page cache` getting data from session works normally. So I guess the problem is in `Full page cache`.

I think it's related issue:
https://github.com/magento/magento2/issues/6392

[2016-09-15 13:37] bartoszkubicki commented on #6392
I think problem may lay in cache, especially `Full page cache`.

[2016-09-15 13:41] BaDos commented on #6460
Hi @azeemism

Thank you for reporting.
We've created internal ticket MAGETWO-58524 to resolve this issue.

[2016-09-15 13:43] kanduvisla opened #6628 "M2.1.1 : REST API V1 "The payment method you requested is not available." when trying to save a payment method for an order"
I try to set the payment method for an order using the REST API, but without success. If I fetch a list of payment methods using `GET /rest/V1/guest-carts/ac6066cd77d55c224f3e9c0e6bd7e01e/payment-methods`, I get a JSON response with the payment methods available for this quote:

[code]

But... When I try to set a payment method for the order using the REST API using the following URL:
`PUT /rest/V

[2016-09-15 14:02] BaDos commented on #6562
Hi @guigui51

Try to clear the cache of  your browser.

Please, write URL of new and old installation.

[2016-09-15 14:02] Aartitops opened #6629 "hi"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-09-15 14:18] flnative commented on #5925
I have since updated to 2.1.1 and I still have this issue. Tell me what information you need. I can provide access to the admin if need be.

[2016-09-15 14:27] mombrea commented on #6617
Yes, I've tried compiling. I'm unable to get an exception trace from Magento, PHP errors out first and throws a 500. The problem is in the function getIdentities() on the line:
`$identities = $this->getProduct()->getIdentities();`

`$this->getProduct()` is null when Full Page Cache is enabled.

If I wrap the offending function in a null check, I get the attached stack trace:
[stack.txt](https://gi

[2016-09-15 14:32] pboisvert commented on #6629
@Aartitops can you complete the information in the template in order for us to investigate the issue

[2016-09-15 14:37] dexterityzx commented on #6020
@zuristeph  this works fine with me.
https://store.paradoxlabs.com/store/m2/magento2-authorize-net-cim-payment-module.html

[2016-09-15 14:44] mombrea commented on #6617
This appears to be theme related. After switching back to Luma the category pages work properly.

[2016-09-15 14:44] #6617 closed, assigned to nobody

[2016-09-15 14:52] nagamani-sigma commented on #5642
@dyushkin I need to fix this issue, as my client is asking to fix the issue as soon as possible, can you please share the files which you have committed for the fix then that would be great.

[2016-09-15 14:52] sevos1984 commented on #6594
Can't reproduce with your xml but without your classes. How do you add content right to your widget without a block? What layout update do you select? Maybe you have some non-default locale set?

[2016-09-15 14:54] OwenRay commented on #6337
Same problem here, All titles set in xml under page->head->title are not translated.

[2016-09-15 15:01] Ctucker9233 commented on #5423
@flipflap I had to physically delete the vendor folder using FTP and physically reload it. Then I reran bin/magento setup:upgrade with no problem. Not sure if this will help in your case. Magento frowns on this method, but it was the only thing that solved the problem.

[2016-09-15 15:03] ghost commented on #5302
Thanks for responding, if your able to provide a date, when will we be able to utilize this, and how?

[2016-09-15 15:15] davidalger commented on #6629
Closing as incomplete issue report. Please re-open if/when full details with a proper description are provided.

[2016-09-15 15:15] #6629 closed, assigned to nobody

[2016-09-15 15:18] eug123 commented on #3325
@maderlock
Yes it is right behaviour and it already implemented in the dev branch, but there is another problem with client side compilation right now which needs to be fixed (internal issue MAGETWO-55510).

Thank you!

[2016-09-15 15:20] davidalger commented on #6622
Closing as fixed in upcoming release. Please re-open if the bug persists on develop branch.

[2016-09-15 15:20] #6622 closed, assigned to nobody

[2016-09-15 15:21] #6391 closed, assigned to nobody

[2016-09-15 15:25] davidalger commented on #6545
@veloraven May be good to address #4961 at the same time as this one.

[2016-09-15 15:26] krejcif opened #6630 "improving product options rendering"
Product options HTML is generated in two ways:
- by options template
- by swatch-renderer.js (if you have any swatch attribute on product)

What does it mean?
- extending look of swatches mean complex rewrite of JS renderer (to be able upgrade later)
- if you have any product without any swatch attr (quite usual), you have to also modify options template (doubled work)

Ideas what to do?
- merge l

[2016-09-15 15:43] flipflap commented on #5423
@flipflap I tried this, but got the errors. Did you use the new vendor folder from the zip?

[2016-09-15 15:56] davidalger commented on #6623
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-09-15 15:56] #6623 closed, assigned to nobody

[2016-09-15 15:58] davidalger commented on #6620
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-09-15 15:58] #6620 closed, assigned to nobody

[2016-09-15 16:10] piotrekkaminski commented on #6538
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:10] #6538 closed, assigned to nobody

[2016-09-15 16:10] piotrekkaminski commented on #6476
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:10] #6476 closed, assigned to nobody

[2016-09-15 16:11] piotrekkaminski commented on #6459
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] #6459 closed, assigned to nobody

[2016-09-15 16:11] piotrekkaminski commented on #6440
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] #6440 closed, assigned to nobody

[2016-09-15 16:11] piotrekkaminski commented on #6436
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] #6436 closed, assigned to nobody

[2016-09-15 16:11] piotrekkaminski commented on #6326
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] #6326 closed, assigned to nobody

[2016-09-15 16:11] piotrekkaminski commented on #6325
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] #6325 closed, assigned to nobody

[2016-09-15 16:11] piotrekkaminski commented on #6120
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] piotrekkaminski commented on #5676
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] #5676 closed, assigned to piotrekkaminski

[2016-09-15 16:11] piotrekkaminski commented on #5489
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:11] #5489 closed, assigned to nobody

[2016-09-15 16:12] piotrekkaminski commented on #4623
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #4623 closed, assigned to nobody

[2016-09-15 16:12] piotrekkaminski commented on #4452
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #4452 closed, assigned to nobody

[2016-09-15 16:12] piotrekkaminski commented on #4230
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #4230 closed, assigned to alankent

[2016-09-15 16:12] sevos1984 commented on #5893
Is it still actual? I can translate strings you mentioned. Try update to latest release version version.

[2016-09-15 16:12] piotrekkaminski commented on #3037
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #3037 closed, assigned to nobody

[2016-09-15 16:12] piotrekkaminski commented on #2923
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #2923 closed, assigned to antboiko

[2016-09-15 16:12] piotrekkaminski commented on #2280
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #2280 closed

[2016-09-15 16:12] piotrekkaminski commented on #2187
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #2187 closed

[2016-09-15 16:12] piotrekkaminski commented on #1812
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-15 16:12] #1812 closed

[2016-09-15 16:22] sweikenb commented on #5946
Same Issue here:
- PHP 7
- no Varnish
- no Page Cache enabeled
- Magento 2.1.0

Solution of @jaimestuardo is not working for me

[2016-09-15 16:27] dnadle commented on #6120
This is not a "feature request," it's a serious bug. How about letting the assignee weigh in on it before closing it?

[2016-09-15 16:41] davidalger commented on #6607
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-09-15 16:41] #6607 closed, assigned to nobody

[2016-09-15 16:45] davidalger commented on #6598
Closing due to insufficient information.

[2016-09-15 16:45] #6598 closed, assigned to nobody

[2016-09-15 16:59] stamster commented on #4159
No comment for this issue.

What in the world could happen to make such a failure in a release, to disable menu item?!
On the other hand everything works just fine if you use 'secret passage' URL redirect provided here by @magenx ! So, it's not a core issue, but only a God damn link / frontend problem.

@magenx thanks a lot for this hint, you saved not a day but a month! :+1:

Contrary to this, @

[2016-09-15 17:13] stamster commented on #6582
I believe this issue has something to do with regular expressions which obviously handle input on Content blocks / pages etc.
Both `+` and `p` do have a meaning in REGEXP.

Additionally, recently there's been a few updates for libpcre3(-dev), where there are reports of weird behaviour from other projects (non-Magento), so check also that which package version do you run, in this case try with a pr

[2016-09-15 17:34] stamster commented on #5688
@katmoon You're welcome, I'm glad that it is fixed.

[2016-09-15 17:40] stamster commented on #6621
Most commonly you have permissions issue. Check your logs, and open F12 developer tool in your browser to see what went wrong during that ajax loading.

[2016-09-15 18:05] giulianoriccio commented on #6582
I thought the same thing. The `p` is relative to the wrapping tag, infact if I use a span the prefixing string must be `span` to not throw an error.

I'll try installing it on my dev machine and see if the same thing happens.

[2016-09-15 18:30] jignesh26 commented on #4896
@duongdiep212
So sad to hear that , when you gets the Setup.ser error. Just Remove whole generation Folder and DI folder. and try my given steps. otherwise let me know we will solve it together.

Try this one also bit of hack. just delete the var directory and Deploy the content and try to access your site admin and frontend.

Thank you , looking forward to hearing from you..

[2016-09-15 18:41] jignesh26 commented on #6614
@neildavey

Have you tried to Delete the whole var folder and run the di:compaile comand , setup upgrade and content deploy  ?

[2016-09-15 18:49] neildavey commented on #6614
Hi,
Thanks for the reply. I appreciate it.

I have only done this:  deleted var/view_preprocessed    and   pub/static then ran the content deploy command only.

I have noticed this though - I’m not sure if this has something to do with it
Running reindex - I get this result - the other indexes are fine

Product Price index is locked by another reindex process. Skipping.

[2016-09-15 18:49] jstoel commented on #5323
The "Something went wrong" error isn't always fixed by enabling the review module. I'm having this error pop up when I try an access the back end product list and this module is active.

[2016-09-15 19:43] enrico69 commented on #6594
Hi
I use a standard locale (fr_FR). Below is the code of the block:

[code]

And here the CSS I add :

[code]

I followed a couple of tutorial in order to compensate the lack of TextArea field for the widgets.

[2016-09-15 19:52] enrico69 commented on #6602
Hi.
Did you add any extra theme? I mean others than Luma and Blank?
Could you temporaly edit the file _magento/module-ui/Component/Listing/Columns/Column.php_ in order to show us a dump of what you get on line 127:

[code]

[2016-09-15 21:12] mohammadkokash commented on #6602
Hi

Thanks for reply, yes i just added the theme files which i bought to be under magento folder but i couldn't enable it as i explained, its my first time to use magento and i didnt instgall it myself its installed using Softaculous auto installer which is provided by hosting provider, normally i go for woocommerce with wordpress.

could you please give me steps on how to get the dump as am not m

[2016-09-15 21:26] tanberry commented on #1812
We can keep the internal DevDocs ticket, and try to push it through, possibly as part of the upcoming Frontend docs push. Your longstanding request is not lost, @markoshust ... just in a new home. ;-)

[2016-09-15 21:49] Ctucker9233 commented on #6238
@sevos1984 Man, too bad. It creates a lot of extra work having to go in, tweak the meta description, save, then go back and check. Then repeat as necessary.

[2016-09-15 21:58] Ctucker9233 commented on #6471
I also have this issue. Prevents me from upgrading magento or installing modules through the web component manager. I'm on Magento 2.1.1. I'm on a hosted server, so increasing the memory limit is pretty much impossible.

[2016-09-16 01:16] rbncha commented on #6483
@shiftedreality no reindexing didn't solve it.

[2016-09-16 01:30] rbncha commented on #5351
I have same issue when saving only one instance of (configurable) product process. It happens randomly. Sometimes the product is saved without any error, sometimes this error pops.

I realized this error occurs on imported db from Magento 1.9.24 (not fresh installed).

Env:
PHP 7.0.1
Mysql 5.6.23
Apache 2.4
Magento 2.1.1

[2016-09-16 01:42] jstoel opened #6631 "Magento 2.1 Cannot Add New Product in Admin"
When trying to manually add a product, the screen laods, is greyed out and the spinning wheel spins indefinately.
### Preconditions

1. Magento v. 2.1.1
2. php 7.0.8
3. MySQL MariaDB 10.0.25
### Steps to reproduce

1. Upgrade to to v 2.1.1
2. Products>Catalog>Add Product
### Expected result

1. New product window loads
### Actual result

1. Greyed out and wheel spins indefinitely
   <img width="11

[2016-09-16 03:34] azeemism opened #6632 "[2.1.1 CE] Category Layered Navigation not working on clean install with composer"
### Summary
- Subcategories show up on the same level as the root category
- The plus sign is missing from categories that have subcategories
- `Collapse All` and `Expand All` don't always work and may have to be clicked multiple times.
### Preconditions
1. Magento 2.1.1 CE - clean install with composer
2. php bin/magento setup:install --backend-frontname="123adcd"
3. php bin/magento deploy:mode:s

[2016-09-16 04:59] epadmin commented on #6631
I had this same problem.   I had installed the Maintenance Mode extension from Customer Paradigm.   We are not sure if that was it, but I disabled the plugin and also increased my PHP memory.   My server was 758 M by default.  There is somewhere that recommends it is 2G so I upped it and between the PHP memory increase and the extension it is working now.    I am totally not the developer so if th

[2016-09-16 05:03] epadmin commented on #6576
@sevos1984 how can I prove that to the theme author?   I asked them since the M2 theme is supposed to include all the features of their M1 theme and they said its a Magento feature so I need to have them keep their word that the M2 version has the same functionality as their M1 version.

[2016-09-16 05:05] epadmin commented on #6512
I had similar problem but running php bin/magento indexer:reindex fixed it for me.

[2016-09-16 06:08] enrico69 commented on #6602
Let's go to the direct way :
at the beginnig of the _applySorting()_ function, put this:

[code]

And show the displayed result when you want to list the themes. If necessary, only apply it before you access the listing screen.

[2016-09-16 06:10] enrico69 commented on #6631
Hi.
Is something displayed in the log files?

[2016-09-16 06:41] friizu commented on #6631
I had same result and problem was disabled module, take a look what your browser console log says:
https://github.com/magento/magento2/issues/6430

[2016-09-16 07:02] sevos1984 commented on #4718
This is expected behavior, this button used for revoking customer tokens if there are any generated.

[2016-09-16 07:02] #4718 closed, assigned to nobody

[2016-09-16 07:03] ewallkrishnaprakash opened #6633 "JCB and Diners Club/ Carte Blanch cards are not working in authorize.net Magento 2.1.1"
We are using magento 2.1.1 as a web store. In that we are using authorize.net payment and configured  sandbox account. On checkout when we try to use JCB and Diners Club/ Carte Blanch cards are showing validation error (http://www.awesomescreenshot.com/image/1586979/10e93825a7ed65e7ff634c5125a16827).

As we have checked the admin configuration seems fine. In authorize.net configuration section we

[2016-09-16 07:03] kandrejevs commented on #6620
@davidalger that is a technical issue. See `vendor/magento/module-review-staging/view/adminhtml/ui_component/stagingreview_listing.xml:101`. This is core functionality that does not work.

[2016-09-16 07:16] sevos1984 commented on #4656
This was fixed in 2.0.8. See comment https://github.com/magento/magento2/issues/4307#issuecomment-221278794. Ensure you have that code.

[2016-09-16 07:26] alexkuk opened #6634 "Yes/No attribute value is not shown on a product details page"
# Preconditions
- Magento CE 2.1.1 with sample data (Luma theme).
# Steps to reproduce
1. Navigate to the backend.
2. Go to Stores -> Attributes -> Product
3. Click on the Add New Attribute button
4. Set "Catalog Input Type for Store Owner" = Yes/No, set "Visible on Catalog Pages on Storefront" = Yes, and fill other required fields.
5. Click Save Attribute button
6. Go to Products -> Catalog. Clic

[2016-09-16 07:27] will-b commented on #2187
@MomotenkoNatalia @piotrekkaminski cool thank you

[2016-09-16 07:44] JacobDrummond commented on #6609
@andidhouse, I didn't check a fresh install before asking. Usually these sorts of issues are people not understanding block-level caching.

In your case it looks like a real bug, though :)

[2016-09-16 07:51] hostep commented on #6325
@piotrekkaminski: seriously? This is a flaw in Magento 2.
I don't consider this a feature request but an actual bug, because we are unable to order the billing address fields in a convenient way like we can order the shipping address fields. Except for hacking the core or the database.
Please reconsider this. Thanks!

[2016-09-16 08:10] basselalaraaj commented on #6337
@sevos1984 i cleared my cache and checked magento logs for error, i still can reproduce it.

[2016-09-16 08:11] antboiko commented on #6576
Hi @epadmin , what theme are you referring to?

In Magento 1 and Magento 2 there is an option in Inventory configuration "Only X Left Threshold". If you set your number (e.g. 15 as on you screenshot), when the product stock drops to this (or lower) number the text “Only X left Threshold” will appear (X stands for the number of products).

It seems to be a customization of displaying configurable p

[2016-09-16 08:21] BaDos commented on #6524
Hi @OlgaBurtyka

Yes, requirejs-config.js has some differences.
Do you have the same problem on Luma theme?
It seems like your custom theme doesn't support Magento 2.1.x

[2016-09-16 08:33] NadiyaS commented on #5780
Hi @valibus ,
thank you for reporting this issue. It was already fixed and delivered to develop branch.
This fix will be delivered in 2.1.3 release version.
I close this issue as resolved.
Feel free to reopen it if you encounter with the same problem in 2.1.3.

[2016-09-16 08:33] #5780 closed, assigned to nobody

[2016-09-16 08:59] sevos1984 commented on #5152
I can't recreate it after upgrading from 2.0.9 to 2.1.1. Is this still actual?

[2016-09-16 09:08] miakusha commented on #3891
Hi @Kireall, magento not allow show all configuration data on frontend. You can use only limited list of config that described in \Magento\Email\Model\Source\Variables::__construct

[2016-09-16 09:09] #3891 closed, assigned to nobody

[2016-09-16 09:14] dejan25 opened #6635 "MassDelete Action doesn't work"
### Preconditions
Magento CE 2.2.0 dev without sample data installed
### Steps to reproduce
Create Magento's module for admin using my tables has been successed
### Expected result
MassDelete action works
### Actual result
I have a problem here. My MassDelete doesn't work. In MassDelete action I am getting the collection but while deleting the item it give me above error. Here is my MassDelete.php

[2016-09-16 09:27] SerhiyShkolyarenko commented on #5963
Created a separate issue for default_frontend_label ignoring(MAGETWO-58609).

[2016-09-16 09:36] grasdaggel commented on #5893
Thanks for the information.

Updating would implement a bunch of other already known bugs, and therefore we will just use the version we are using right now.

[2016-09-16 09:38] sevos1984 commented on #5111
Not reproduced in 2.0.9. Is it still actual?

[2016-09-16 09:42] Colir commented on #6607
Ok thanks

[2016-09-16 09:46] sevos1984 commented on #5068
This is known issue, internal ticket MAGETWO-56525. Thanks for reporting.

[2016-09-16 10:04] poojalimagento opened #6636 "How to integrate cartspan with Sage 50 in magento2"
Hi,

Anyone can help me in integrating cartspan with 'Sage 50' in magento2 or provide a guide link so i can integrate also provide the link to check.
Please help me.

Thanks

[2016-09-16 10:08] antboiko commented on #6613
Hi, @leanderfritsche

Thanks for reporting. We already have this issue here #6350 so I will close this one because of duplication. You can watch progress on #6350 if you need.

Regards,
Anton.

[2016-09-16 10:08] #6613 closed, assigned to nobody

[2016-09-16 10:15] sevos1984 commented on #5305
Is this still actual?

[2016-09-16 10:17] cscd98 opened #6637 "Varnish Cache 5.0 support?"
Is M2 2.1.1 compatible with varnish 5.0?

http://varnish-cache.org/docs/5.0/whats-new/changes-5.0.html

[2016-09-16 10:49] hostep commented on #4828
In case this helps someone. This problem mostly happens when you have enabled JS Bundling.
When you disable JS Bundling, most of the time (not always) the Show/Hide button does work correctly.
And I've also seen it work one single time with JS Bundling enabled.

So I'm pretty sure this issue is because a dependency is incorrectly defined (using requirejs?) and sometimes the correct js files are lo

[2016-09-16 10:53] hostep opened #6638 "Can't disable JS Bundling in adminhtml while keeping it enabled on frontend"
### Preconditions
1. Magento CE 2.1.0
### Steps to reproduce
1. Disable JS Bundling in the 'Default Config' scope
2. Enable JS Bundling in either a Website or StoreView scope
3. Deploy the static assets
### Expected result

Bundled js files should not be used in the adminhtml
### Actual result

Bundled js files are still being used in the adminhtml
You just can't disable bundling in adminhtml when

[2016-09-16 11:00] huayra commented on #6637
Varnish 5.0 supports "vcl 4.0", so in theory it should support the artifacts used for that.

It does not support VCL in Varnish 3.x or earlier.

Hope that helps.

[2016-09-16 11:00] lahdekorpi opened #6639 "Magento caches broken pages if MySQL server dies in the middle of the connection"
Usually when the configured MySQL server isn't responding or it's giving an error, Magento throws an exception as it should.
However, while our server was running low on RAM and MySQL got killed, I've noticed that at times if the request to the MySQL server dies while receiving data, Magento keeps on going and produces a broken page that then gets cached to the page cache (tested both the built-in

[2016-09-16 11:19] krzysztofkacela opened #6640 "Product admin panel 'custom options' with 2 store view."
### Preconditions
1. Magento CE 2.0.7
2. Magento CE 2.0.9
3. Magento CE 2.1.1
4. PHP Version 5.6.25
### Steps to reproduce
1. Stores > All Stores > Create Store View
2. Add 2 store views
3. Product > Catalog > Add Product.
4. Click Advence settings > Custom Options > Add options.
   https://gyazo.com/46cc685096b66b320c3437d6c5c7b154
5. Change store view to other. Now custom options look like this.

[2016-09-16 11:35] ghost commented on #4921
Same error showing at adding new product as well. While adding new product, change attribute set and showing same error.

[2016-09-16 12:00] miakusha commented on #5811
@magexo thank you for your report.
We've created internal ticket MAGETWO-58387 to address this issue.

[2016-09-16 12:05] KevinMace commented on #5423
I have recently been having the issue that when Varnish was enabled, the menu (topNav block) didn't appear.

What I discovered was Varnish wasn't parsing the ESI tags, instead they were output to the frontend. In your source code search for a snippet like the following:

`<esi:include src="url/of/your/site" />`

If you find any "esi" tags on your page, then your Varnish config is incorrect and nee

[2016-09-16 12:16] gabriel-sf commented on #5270
Hi guys,
is there any update or patch we can apply to fix this on M2.1?
Thanks,
Gab

[2016-09-16 12:19] miakusha commented on #6000
Hi, problem still reproducible???
Unfortunately, I could not reproduce the issue as you described it.
Try clear browser cache or use another browser if it doesn't help please provide error log

[2016-09-16 12:31] samuellinde opened #6641 "Readiness check fails when trying to install new Marketplace products"
When running the readiness check for installing synced Marketplace products, it fails at the "Check cron scripts" step. It reports that it finds non-writable paths that don't actually exist.
### Preconditions
1. Magento 2.1.1, PHP 7.0.8, Apache 2.4.7
### Steps to reproduce
1. Run the readiness check required to install compontents via the wizard in the backend.
### Expected result
1. It should pas

[2016-09-16 12:33] TommyKolkman commented on #6378
Since I don't want to upgrade to 2.1.1 yet (too much bugs still), I want to know if there's a fix yet. @Gorkyman, do you have a quick fix maybe?

[2016-09-16 12:33] helloeverything opened #6642 "Client side workflow - less file not overwriting same file in blank theme"
### Preconditions

1.  Magento CE 2.1.1
2. Create a custom Theme with blank as parent
### Steps to reproduce
1. Add a _reset.less file into app/design/frontend/Vendor/theme/web/css/source/_reset.less
2. Set the developer workflow to Client Side (store > config > advanced > developer >
   Frontend Development Workflow)
### Expected result

1. app/design/frontend/Vendor/theme/web/css/source/_reset.l

[2016-09-16 12:41] giulianoriccio commented on #6582
This is the PCRE version I got

[code]

[2016-09-16 12:42] Gorkyman commented on #6378
@TommyKolkman

[code]

@NadiyaS This is already resolved in 2.1.1

[2016-09-16 12:51] SerhiyShkolyarenko commented on #3605
@resmivarghese could you please describe your steps of reproducing the issue?
I used SoapUI for my testing, disabled authorization checks and requested list of invoices(i had only one at that time) without any filtering. I've got a valid response.
![soap_request](https://cloud.githubusercontent.com/assets/15108140/18586184/02af2f50-7c24-11e6-8d04-545e42ddd425.png)

To disable authorization check I

[2016-09-16 12:57] lucscu commented on #6018
@piotrekkaminski How could you move huge bugs (it's incredible that you release a so slower carousel builder for mobile) to "Feature Requests and Improvements"?
How could a user waits 5 seconds before see product's image? And in the meantime see the ugliest loader ever?

[2016-09-16 12:58] NadiyaS commented on #6378
Hi @Gorkyman ,
Yes, this issue does not exist in 2.1.1. Internal ticket MAGETWO-58139 was created for 2.0.x version.

[2016-09-16 13:13] BaDos commented on #2816
Hi!

@Vinai Did you execute only this commands to reproducing?

[code]

How did you get sample products without installation of sample data packages?
What version of Magento were you using?

I reproduced it after I had set manually Magento_ThemeSampleData to 0.
Before it, I had installed Magento with Sample Data packages.

[2016-09-16 13:20] davidverholen commented on #3605
the problem is, that you get null values for float types, which is not allowed by definition and results in errors when a client is created from the wsdl for example in Visual Studio.

Instead, the null value has to be type casted to float which results in 0.0 instead of null

[2016-09-16 13:24] senthilengg opened #6643 "Form Key appending in the URL repeatedly."
### Preconditions

1. M2.1.0 Nginx, PHP-FPM, Opcache
2. Full page cache enabled
### Steps to reproduce

1. Try to upload a customer and address combined template with 5 rows and with unicode characters.
2. Correct the first error and try upload again (Dont Refresh the page).
3. tail your access log
### Expected result

1./admin_1mifhu/admin/import/validate/key/08db389adf1cb76d0f294c41bfd21a383a566

[2016-09-16 13:34] kandrejevs opened #6644 "New Accounts Report returns empty collection"
When viewing new accounts report, it is always empty.
### Preconditions
1.  enterprise edition, version 2.1.1, php 7
### Steps to reproduce
1.  register few customers in FE
2. view new accounts report in BE
3. filter by dates
### Expected result
1.  grid should contain information how many accounts are registered each day
### Actual result
1.  grid is empty

report grid: http://i.imgur.com/zsfAaum

[2016-09-16 13:34] BaDos commented on #6449
Hi @leftclickben

Thank you for reporting.
It seems like fixed on [develop branch](https://github.com/magento/magento2/commit/426a43024119450b601edeecf7760ba152b88956)

Could you try to reproduce it on develop branch?

[2016-09-16 13:55] iivashchenko commented on #6568
Hi @middlegrey, thanks for the feedback, but we can't reproduce your issue as described. Could you please provide more detailed steps we must follow to reproduce this issue. If possible, identify the web server you are running, the versions of PHP and MySQL, logs would be helpful too.

[2016-09-16 13:56] praful-rajput opened #6645 "Special Price display issue for configurable product"
Generally, when we set a special price to any one child product of main product (Configurable).  Magento shows the the label/title like "Regular Price & Special Price" for applicable child product which has set special price. But it should not be display same label (format) to other child products if there is not set any special price.
### Preconditions
1. Magento CE 2.1.1
2.
### Steps to reproduc

[2016-09-16 13:57] Amilath commented on #2999
how do you enable the Opcache. Sorry im new to this

[2016-09-16 14:04] middlegrey commented on #6568
Hi @iivashchenko, thanks for following up.

The server is running Apache 2.4.23 with PHP 5.6.25 and MySQL 5.6.31.

The steps to reproduce are the standard ones to purchase a product, albeit with a custom shipping module to calculate shipping cost.

Which logs would you like exactly?

[2016-09-16 14:07] iivashchenko commented on #6565
Hi @kishanpatadia, thank you for the feedback. We can't reproduce your issue as described. Please, identify the web server you are running, the versions of PHP and MySQL, logs would be helpful too.

[2016-09-16 14:14] SerhiyShkolyarenko commented on #3605
rechecked on latest develop and 2.1.1 branches. Both returned correct response.

[2016-09-16 14:17] SerhiyShkolyarenko commented on #3605
@davidverholen could you please describe how you managed to get null values for float types?

[2016-09-16 14:42] BeatDirector commented on #6141
Magento 2.1.1
I tried $.mage.**('Please enter a valid email address (Ex: johndoe@domain.com).') and it works with de_DE.csv.
Adding $.mage.**() should be added by default in js core files.

[2016-09-16 14:47] SerhiyShkolyarenko commented on #4976
We need more information about this issue in order to successfully investigate potential fixes. Please use our issue tracking template to format your description. Specify the **exact steps** you used, the expected result of your actions, and the actual results.

[2016-09-16 14:56] enrico69 opened #6647 "Magento 2.1 EE: is_file() error in the cache management page"
### Preconditions
1. **OS** of the server: Debian (Virtualized, with 3GB of memory)
2. **OS of the client**: Windows 7
3. *\* Browser of the client**: Chrome Version 52.0.2743.116 m (64-bit). Also tried with Firefox 44.0.2
4. **MySQL:** Ver 14.14 Distrib 5.6.31
5. **PHP:** PHP 7.0.8-1~dotdeb+8.1 (cli) ( NTS )
### Steps to reproduce
1.  In the back end, create some products attributes. Delete someo

[2016-09-16 15:30] SerhiyShkolyarenko commented on #5227
@RUjmiak could you please clarify which data you post to /V1/carts/mine/billing-address?

[2016-09-16 15:44] enrico69 commented on #6435
I had the same problem. When I get the message, I noticed that the store was automatically put on "disabled" during the submission. Put it on enabled again and the renaming is correctly done.

[2016-09-16 15:54] mombrea commented on #5428
@parthviroja was on the right track however you don't want to modify a pub/static file since it will be overwritten with each deploy.

In order to fix this you have to override the JavaScript for a Magento Core module. /vendor/magento/module-swatches/view/frontend/web/js/swatch-renderer.js
1. Create `<theme_dir>/Magento_Swatches/web/js/swatch-renderer.js`
2. Copy contents of `vendor/magento/module

[2016-09-16 16:01] epadmin commented on #6576
we are using the Ultimo theme from Infortis

-------- Original Message --------
Subject: Re: [magento/magento2] Product Availability on a Per Option
basis is missing from M2 (#6576)
From: Anton Boiko notifications@github.com
Date: Fri, September 16, 2016 3:12 am
To: magento/magento2 magento2@noreply.github.com
Cc: epadmin admin@elemeno-pee.com,  Mention
mention@noreply.github.com

Hi @epadmin , wh

[2016-09-16 16:17] pboisvert commented on #6637
Closing as this is not a coding issue report. Please direct questions to the Magento Stack Exchange or Community forum. If you do wish to file an issue please follow the guidelines for providing steps to reproduce the issue

[2016-09-16 16:17] #6637 closed, assigned to nobody

[2016-09-16 16:20] choukalos commented on #6018
Reopening; changing to bug.  Internal ticket - MAGETWO-58628

Hi @andidhouse & @LucScu ; sorry our script that runs under Piotr's name auto-moved this.  Looks like it was incorrectly tagged with the label improvement.

I did notice that JS on the site hasn't been bundled & minified.  That should help performance some.

[2016-09-16 17:11] piotrekkaminski commented on #6018
@LucScu we have automated process that moves every ticket markes as improvement or feature request to forums. I agree this should be fixed so we have reopened it. Thanks!

[2016-09-16 17:49] EL-Nazer commented on #4291
Hi @BaDos

Any updates - i am facing same issue with importing customers-address data

[2016-09-16 18:10] BaDos commented on #4291
Hi @EL-Nazer

We are working on this issue.

[2016-09-16 18:47] davidverholen commented on #3605
basically, the response is looking good. I just wonder, where this problem is fixed if not in this class:

https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Reflection/TypeCaster.php

Now the null values in the response seem to be fixed but strictly not typecasting null values in the typecaster class still seems wrong to be honest. So, why this exception?

[2016-09-16 19:14] keharper commented on #3463
Documented at http://devdocs.magento.com/guides/v2.1/howdoi/webapi/filter-response.html

[2016-09-16 20:18] skhell opened #6648 "Cannot send any email"
### Preconditions

1. Magento 2.1.1
2. PHP 7.0.11
3. Varnish 4.1.3
4. Postfix 2.10.1
### Steps to reproduce

Magento cannot process any order or send any form.
For example I have compiled the contact form and hit the send button the result is the following error which doesn't say much about the error:

If I try to create a user account the error I get is:

On the server I have postfix up and runni

[2016-09-16 20:44] azeemism opened #6649 "[2.1.1 CE] Search Terms, Contact Us, Orders and Returns, Advanced Search also loading with "/index""
When .html suffix is disabled `Search Terms`, `Contact Us`, `Orders and Returns`, `Advanced Search`
1. load with .html suffix
2. can load with two "//" after the domain
3. still load if the url ends with `/index` and possibly '/index/' as well
4. the url location after the domain can also repeated
### Preconditions
1. Magento 2.1.1 CE - clean install with composer
2. php bin/magento setup:install

[2016-09-16 20:56] piotrekkaminski commented on #1691
@ilol can you put the same comment in the Forum post linked above.

[2016-09-16 20:56] #1691 closed

[2016-09-16 21:00] piotrekkaminski commented on #3656
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-16 21:00] #3656 closed, assigned to kokoc

[2016-09-16 21:49] mbrinton01 commented on #6120
@dnadle, sorry for the confusion. This was picked up by an automated script.  I've recreated it as a bug and we are tracking it internally as MAGETWO-58652.

[2016-09-16 21:53] dnadle commented on #6120
Thank you!

[2016-09-17 01:58] comerciosite opened #6650 "One or more indexers are invalid"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-09-17 02:05] comerciosite opened #6651 "One or more indexers are invalid"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-09-17 06:50] ketankulkarni opened #6652 "newly created category not displaying on front-end"
1. category  was created by manage category
2. attribute and attribute set was created
3. product was created and  assigned to category
4. all attribute  that causes product to show on front-end side  was set correctly
    e.g. status-enabled , qty > 0 , stock availability - in stock

Problem - after this procedure category was not displaying on front-end side

[2016-09-17 07:12] vaimeo commented on #4527
is their any patch we can apply to fix this issue?

[2016-09-17 08:45] venkyc07 opened #6653 "When i trying to create a new custom module in Magento 2 am getting the below error"

[2016-09-17 08:49] venkyc07 commented on #6653
os: ubuntu16.0.4LTS
apache2: 2.4.18
php: 7.0.8
mysql: 5.7

Fatal error: Uncaught Error: Call to undefined function Composer\Json\json_decode() in /opt/lampp/htdocs/Magento/vendor/composer/composer/src/Composer/Json/JsonFile.php:152
Stack trace:
#0 /opt/lampp/htdocs/Magento/vendor/composer/composer/src/Composer/Factory.php(269): Composer\Json\JsonFile->validateSchema(1)
#1 /opt/lampp/htdocs/Magento

[2016-09-17 09:02] RUjmiak commented on #5227
@SerhiyShkolyarenko it was just
{
  "address": {
    "id": addressId
  }
}

[2016-09-17 09:04] venkyc07 opened #6654 "When i trying to create a new custom module in Magento 2 am getting the below error"
Am new to magento. I added custom module code to my app folder. In order to display my module in admin panel i run this command "**myroot directory# bin/magento setup:upgrade**". After runnig the this command am getting the error. I searched lots n lots in google but am still not solved the issue. plzz any one can help me. Thanksss in advance...!
1. Magento 2.1.1
2. PHP: 7.0.8
   3.MySql: 5.7
   4

[2016-09-17 13:50] Malansocosio opened #6655 "System -> Web setup wizard missing"
I need to access the component manager in my fresh Magento 2.1.1 installation, but the web setup wizart link is not present under the System catergory in the backend. Is there an alternative way to get to the component manager? I have tried just adding /setup to my url, but that doesn't work. Any other suggestions?

_My magento environment:_
- Arch Linux
- Magento 2.1.1 CE
- PHP 7.0.11-1
- 10.1.17

[2016-09-17 14:04] gaurangjadav commented on #2908
Hello

Does this issue get fixed , or what could be the easy fix from code please help..!
we running live website with Magento 2.0.6.

Thanks

[2016-09-17 15:43] soragan commented on #6265
multiple website installation with different URLs?

[2016-09-17 16:10] sergiojovanig commented on #3451
Any update about this?

Same issue in Magento 2.1.1 after upgrading from 2.1.0.

[2016-09-17 16:28] apurv-anand commented on #6098
+1
Please fix

[2016-09-17 17:30] javiermartinezruiz opened #6656 "Change locale settings to Spanish (Colombia) affect the behaviour of the shopping cart, It only accepts 1 item per product"
### Preconditions

1. Magento ver. 2.1.1 and Magento ver. 2.0.9
2. PHP 5.6.25-2+deb.sury.org~trusty+1
3. MySQL 5.6.31
4. Ubuntu 14.04
### Steps to reproduce

1. Access to magento admin page and go Stores->Configuration->Local options -> Locale
2. Change your locale settings to Spanish (Colombia)
3. Save the new locale
4. Update cache
5. Go to the store and add more than 1 item from a product to yo

[2016-09-17 18:08] gerosalesc commented on #6656
+1

[2016-09-17 18:30] POLYPERFORMANCE commented on #5784
Some here. Assign two Unassigned Attributes to Product Details Group on existing Attribute Set.
Attention
Sorry, we're unable to complete this request.

[2016-09-17 19:15] commcad commented on #6655
In your NGINX site enabled cfg, change:

**root $MAGE_ROOT/pub;**
for
**root $MAGE_ROOT/**

ps: don't forget to put it back on /pub when you've finished with Web Wizzard ;)

[2016-09-18 00:46] ghost commented on #4249
@janakadombawela did you ever find a solution for this?

[2016-09-18 03:12] minhluan259 commented on #5212
@koenner01 , your way is'nt work.
but I've fixed by change (lib\web\mage\adminhtml\browser.js)

[code]

to

[code]

[2016-09-18 04:38] jstoel commented on #6631
I have no disable modules. In fact all I have is a clean install with some products I've added. At first I thought it may be a resource issue but I can load all other parts of the admin just fine, I can duplicate a product just fine, and I can import csv files just fine. I'm stumped.

[2016-09-18 07:14] Malansocosio commented on #6655
Thanks a lot for your quick response, it worked perfectly.

[2016-09-18 08:26] skhell commented on #6648
Thanks to @srenon for the suggestion, I have activated a message output in the CreatePost controller to output the error.

From this /vendor/magento/module-customer/Controller/Account/CreatePost.php (line 277)

[code]

To this

[code]

I discovered that the issue was related not to gmailsmtpapp but to a custom module that I have created.

After disabling it from CLI, Magento send again mail using

[2016-09-18 08:26] #6648 closed, assigned to nobody

[2016-09-18 09:57] webspeaks commented on #5519
Any update on this? I am getting this error very frequently..

[2016-09-18 10:50] ps202 commented on #2619
I have imported a whole dbase with phpMyAdmin.
Then I turned on SEF-Urls, and created a few new products.
The new products (and all categories, even the old ones) are displayed with SEF Urls, the old products (the imported ones) are displayed without SEF Urls.
I have done reindexing from the command line as well, but that did not help.
Then I just deleted all data from the `url_rewrite` table wher

[2016-09-18 20:01] GuidoHub opened #6657 "Create Product Configurations, References Error in Step 3 and hit button Next"
I am creating a new configurable product and want to add 1 new configuraions. When I want to go the last step I am getting a script error:

ReferenceError: Unable to process binding "template: function (){return {name:getGridTemplate(),data:{
            grid:gridNew,paging:pagingNew,id:getGridId(),title:$t('New Product Review'),note:$t('Here are the products you\'re about to create.')}} }"
Messag

[2016-09-18 20:11] GuidoHub opened #6658 "Import: Warning!Unlink error when product import file (CSV) has duplicate column"
When the csv product import file has a duplicate column name you will get error "The file "xxxxxx/catalog_product.csv" cannot be deleted Warning!unlink(xxxxx/catalog_product.csv): Permission denied" when you hit the button Check Data.
### Preconditions

1. Magento 2.1.1
2. Servertype: MariaDB
   Serverversie: 10.1.13-MariaDB - mariadb.org binary distribution
3. Apache/2.4.18 (Win32) OpenSSL/1.0.2e

[2016-09-18 20:30] JacobDrummond opened #6659 "Disabled payment methods show in Customer Dashboard"
### Preconditions (*)
1. Apache 2.4.17
2. MySQL  5.0.11-dev
3. PHP 5.6.15
4. Magento version: develop branch as of 15/09/2016 12:08:30. Commit hash: [7800e3791f71dc09d854581a2d8440b8100f593c](/magento/magento2/tree/7800e3791f71dc09d854581a2d8440b8100f593c).
### Steps to reproduce
1. Disable "Vault" and "Paypal" payment methods in Stores > Configuration > Sales > Payment Methods
2. Login as custome

[2016-09-18 20:39] JacobDrummond commented on #6068
@andimov, my long-overdue pull request is #6660.

[2016-09-18 22:43] astorm opened #6661 "XHTML templates Don't Use Schema URNs"
### Preconditions

1. Magento 2.1.1 installed via integrator method
### Steps to reproduce

1. Open any XHTML template in the system (`vendor/magento//module-ui/view/base/ui_component/templates/container/default.xhtml, or
   vendor/magento//module-ui/view/base/ui_component/templates/export/button.xhtml, or
   vendor/magento//module-ui/view/base/ui_component/templates/form/collapsible.xhtml, or

[2016-09-19 02:49] rozitis commented on #2504
I also had this issue. I resolved the issue by removing the content of server{} section of the default nginx.conf file, and replaced it with the suggestion in magento/nginx.conf.sample. Obviously I corrected paths, as opposed to blindly copying/pasting, so all paths are valid/correct.

[2016-09-19 03:06] markdavies commented on #3784
Any movement on this? Running into the same problem today.

[2016-09-19 03:28] hvohra commented on #5519
I had this issue couple of months ago so and I think I was able to resolve (or get around) this issue by downgrading my php from 7 to 5.6.

[2016-09-19 04:36] bondimedical3 commented on #5301
This issue has not been resolved. Have just done a new installation of 2.1.1 and everything is working except for this - see screenshot.
![magento2](https://cloud.githubusercontent.com/assets/10808588/18622775/5104ccbe-7e77-11e6-827a-174e070c88c8.jpg)

[2016-09-19 06:35] AntonEvers commented on #5658
@andimov request to reopen this issue.

**Preconditions:**
- Magento EE 2.0.7 or higher
- Several smart categories with a few different dropdown options as smart attribute

**Steps to reproduce:**
- 1. Create a cron job that runs all smart categories in sequence, like in Magento 1.

[code]

[code]

**Expected result:**
All smart categories are filled

**Actual result:**
The smart categories are fi

[2016-09-19 07:06] hostep commented on #6325
@piotrekkaminski: I saw you mentioning in another issue that your piotrekkaminski-lets-move-everything-to-the-forums-bot does it job automatically based on the tags which are assigned to the issue, and sometimes mistakenly moves issues over to the forum due to a bug in the bot.
Can you review this particular issue and please let me know what the reason is that this issue is moved to the forums? Or

[2016-09-19 07:20] ytorbyk opened #6662 "Impossible to get order by API call (if order placed with vault)"
### Preconditions

Magento 2.1.1
1. Braintree payment method is configured and enabled Vault
2. Placed order with saved card
### Steps to reproduce
1. rest call on /rest/V1/orders/{$orderId} endpoint
### Expected result
1. Order information is returned
### Actual result
1. Exception: Internal Error. Details are available in Magento log file. Report ID: webapi-***\* is returned

Details from log fi

[2016-09-19 08:12] iivashchenko commented on #6568
I've meant log files from /var/log folder within your root Magento installation. exception.log and system.log files may contain information concerning your issue.

[2016-09-19 08:12] jernejh opened #6663 "Untranslatable string "Short Description" in product compare module"
### Preconditions

1. Magento 2.1.1
2. Php 7.0
### Steps to reproduce

1. Compare 2 products
### Expected result

1. String "Short Description" should be translatable, but it is not generated with magento i18n:collect-phrases tool
### Actual result

![2016-09-18 1](https://cloud.githubusercontent.com/assets/282687/18625848/87a6925a-7e51-11e6-9f78-95ff26afec79.png)

[2016-09-19 08:19] SerhiyShkolyarenko commented on #3605
@davidverholen the fix is here https://github.com/magento/magento2/commit/3467488060ceebaee770b69a10f1499d31ce86c4

[2016-09-19 08:57] stevenvdp commented on #4580
Hi @alena-marchenko, do you have any updates on this issue?
Thanks in advance!

[2016-09-19 09:06] SerhiyShkolyarenko commented on #5227
@RUjmiak customer address and quote billing address are two **different** entities in magento. To set billing address you have to send the whole data set. It may look like:
`{
  "address": {
    "region_code": "LA",
    "country_id": "US",
    "street": [
      "some street"
    ],
    "company": "user company",
    "telephone": "58585733",
    "fax": "",
    "postcode": "345344",
    "city": "Com

[2016-09-19 09:11] SerhiyShkolyarenko commented on #5227
As far as it was expected behavior, i close the issue. Please, feel free to add your notes for reopening.

[2016-09-19 09:11] #5227 closed, assigned to SerhiyShkolyarenko

[2016-09-19 09:15] SerhiyShkolyarenko commented on #3605
@davidverholen could you please describe the steps to reproduce?

[2016-09-19 09:21] heldchen commented on #6619
what we do on our customers shops:
- the admin backend runs on a different website (admin.store.com)
- admin.store.com has an additional basic auth login to protect the site from scripted attacks
- admin.store.com runs a different php-fpm instance with much longer timeouts and higher max_input_vars settings etc.
- the frontend admin urls are redirected (store.com/admin -> admin.store.com)

having

[2016-09-19 09:28] manhao-chen commented on #3605
@SerhiyShkolyarenko i firstly encountered the error in 2.0.2 when i add a product only filling in what was required (bare minimum)

details are in this post here [link](https://community.magento.com/t5/Programming-Questions/C-magento-2-0-2-error-deserialsing-SOAP-call/m-p/30859)

there maybe other fields that could possibly return null which are float datatype that i didnt come across so best to c

[2016-09-19 09:51] antboiko commented on #6645
Hi @vasuscoin , thanks for reporting. This issue has been fixed and delivered to the mainline. It is also ported for 2.0 and 2.1 and will be delivered as a part of nearest patch releases.

I'm closing this one as a duplicate. Please see the issues below.

https://github.com/magento/magento2/issues/5097
https://github.com/magento/magento2/issues/4442

Regards,
Anton.

[2016-09-19 09:51] #6645 closed, assigned to antboiko

[2016-09-19 10:17] shires-boy commented on #6619
Many thanks heldchen whilst it is a workaround, it is an acceptable one.

[2016-09-19 10:17] #6619 closed, assigned to nobody

[2016-09-19 10:18] shires-boy commented on #6619
The workaround has added benefits, so will take that route.

[2016-09-19 10:30] stamster commented on #6655
This is front-end only bug.

If you access it with 'hidden' redirect, it works, you don't need to reconfigure your web root (plain wrong thing to do, and still official Magento devs suggests it!):

https://github.com/magento/magento2/issues/4159#issuecomment-244483087

[2016-09-19 10:34] oshmyheliuk commented on #6533
@milkolori
Can't reproduce this issue with information that you provided.
Please add additional info about operating system and browser that you used.

[2016-09-19 10:48] slavvka commented on #2946
The fix has been also ported to 2.1

[2016-09-19 10:49] slavvka commented on #5391
The fix has been fixed in 2.1 and will be released as a part of future path releases

[2016-09-19 10:49] #5391 closed, assigned to nobody

[2016-09-19 10:57] tommypyatt commented on #4842
I have a similar problem in Enterprise 2.1, and am wondering if it's related. @Deepthi57 is this issue still present for you after update?

[2016-09-19 11:30] cherreman opened #6664 "How to add text swatch via REST API?"
When a text swatch attribute is created via the management tool, the following happens:
- record in eav_attribute created with backend_type = int, frontend_input = select, source_model = Magento\Eav\Model\Entity\Attribute\Source\Table
- record in catalog_eav_attribute created with additional_data = a:3:{s:17:"swatch_input_type";s:4:"text";s:28:"update_product_preview_image";s:1:"0";s:28:"use_produ

[2016-09-19 11:34] kandrejevs commented on #6644
new update, admin user locale was set to en_GB, so this bug is actually magento net being able to handle different locales

[2016-09-19 11:47] miakusha commented on #6346
Hi @Cacasapo , thank you for your report.
Created internal issue MAGETWO-58664 to investigate and track this issue.

[2016-09-19 11:50] davidverholen commented on #3605
in the example above, one of multiple examples would be the baseShippingDiscountTaxCompensationAmnt. This is a float field but a null value is provided. This should be 0.

[2016-09-19 11:58] arunkrsigmainfo commented on #5642
@dyushkin : Can you please atleast provide the commit ID so I can see what changes you made and put a patch untill the next stable release as our client uses only Authorize.net and loosing lot of business and he is thinking to move off from magento to someother ecommerce.. Its really urgent for us.

[2016-09-19 12:02] iivashchenko commented on #6258
Hi @jigar48, thanks for your report. Let us know if your issue still requires our assistance.

[2016-09-19 12:34] shires-boy commented on #3545
Am waiting for a fix on this too.

[2016-09-19 13:07] SerhiyShkolyarenko commented on #3605
@manhao-chen I checked all the fields that are marked as float not nullable on the Magento/Sales/Api/Data/InvoiceInterface.php, but all of them are filled with numbers in your example. Could you check again on Magento 2.1.1 or latest develop branch, if SoapUI is able to unserialize the server response?

[2016-09-19 13:09] SerhiyShkolyarenko commented on #3605
@davidverholen now that field is declared as
`/**
     * Gets the base shipping discount tax compensation amount for the invoice.
     *
     * @return float|null Base shipping discount tax compensation amount.
     */
    public function getBaseShippingDiscountTaxCompensationAmnt();
`
so, it's implied to be null or float.

[2016-09-19 13:13] antonlazarchenko opened #6665 "Admin -> Customer: Postcode edit within grid doesnt works (magento 2.1)"
At admin panel in "Customer" section I tried to make quick eidt of postcode for specified customer inside grid, but information didn't save at all and no error messages displayed.
### Preconditions

Magento 2.1 CE
PHP 7.0.10
10.1.17-MariaDB
### Steps to reproduce
1. Enter to admin panel and follow to "Customers" -> "All customers"
2. Inside customer grid click to postcode field of any customer acc

[2016-09-19 13:21] deepanshu27193 commented on #6399
Hi @choukalos,
I need to tell you that, i haven't set any kind of cronjob in my server{system}, so, those logs are not output of cron.
Yes, your concern regarding debugging error is right, but we already have separate server for development purpose only, so it will be better magento provides a option to stop log in production environment {BROKEN_REFERENCE, these are specially very annoying}.
Thank

[2016-09-19 14:07] SerhiyShkolyarenko commented on #5784
@POLYPERFORMANCE I assigned two attributes like you, but that operation was successful. Performed both in FF and Chromium. Any ideas how to reproduce it?
Which version of magento do you use? Did you install it from composer or from github?

[2016-09-19 14:12] choukalos commented on #2538
Update; we're now working in mainline with 5.7.12+

[2016-09-19 14:22] SerhiyShkolyarenko commented on #6537
@devhn thank you for reporting!
do you perform those steps as guest or as a registered user?
Is it reproducible for you on 2.1.1?

[2016-09-19 14:23] pboisvert commented on #6653
@venkyc07 can you please follow the issue reporting template and provide full information on preconditions and steps to reproduce the error you are seeing

[2016-09-19 14:27] POLYPERFORMANCE commented on #5784
@SerhiyShkolyarenko In my case, the two attributes that I assigned become unassigned after a while. When I attempt to reassign them I am met with error. I'm not sure why this is happening. To get around this error i've assigned the attributes directly into database table 'eav_entity_attribute'. I'm using Magento 2.1. Installed user composer.

[2016-09-19 14:30] venkyc07 commented on #6653
I added custom module code to my app folder. In order to display my module in admin panel i run this command "myroot directory# bin/magento setup:upgrade". After runing this command am getting the error. I searched lots n lots in google but am still not solved the issue. plzz any one can help me. Thanksss in advance...!

Magento 2.1.1
PHP: 7.0.8 3.MySql: 5.7 4.Apache2: 2.4.18
os: ubuntu16.0.4LTS
F

[2016-09-19 14:51] cgrechcw commented on #5350
We have the same issue as well, upgrading from 2.0.2 to 2.1.0. Followed @jasonyip2014 's instructions but we didn't have any custom attribute sets so all attributes were already in place. Ran the SQL commands but still no luck. Any more ideas?

[2016-09-19 14:56] sevos1984 commented on #6337
Have you generated you static files?

[2016-09-19 14:59] SerhiyShkolyarenko commented on #6488
@sunilit42 thank you for reporting. Our internal issue is MAGETWO-58673.

[2016-09-19 15:01] sevos1984 commented on #6512
Qty for configurable is disabled intentionally as it is not used, only sub-products qty matters

[2016-09-19 15:02] sevos1984 commented on #6504
Fixed in https://github.com/magento/magento2/pull/6503

[2016-09-19 15:02] #6504 closed, assigned to sevos1984

[2016-09-19 15:04] sevos1984 commented on #6464
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2016-09-19 15:04] #6464 closed, assigned to sevos1984

[2016-09-19 15:11] milkolori commented on #6533
@oshmyheliuk
Here are more details about my environment:

**Server OS:** Linux version 2.6.32-673.26.1.lve1.4.15.el6.x86_64 (mockbuild@build.cloudlinux.com) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-17) (GCC) ) #1 SMP Sun Jul 17 09:01:31 EDT 2016

**Client OS:** OS X El Capitan
**Browsers:** Chrome (), Firefox (47.0.1), Safari

[2016-09-19 15:27] iivashchenko commented on #6296
Hi @maderlock, thanks for reporting. I've linked this issue to internal ticket MAGETWO-58676.

[2016-09-19 15:30] southerncomputer commented on #5954
Same thing with Plugin interceptor - Something must be going wrong during the DI:compile that is not being logged!

[2016-09-19 16:36] pboisvert commented on #6651
@comerciosite please follow the issue reporting guidelines in terms of steps to reproduce

[2016-09-19 16:41] rma-web commented on #6424
Hey @rkhoury82 and @fendowuk can you tell this novice how to go about installing a fresh copy of Magento over an existing DB without losing the data? I would really like to fix this problem, but I don't have a whole lot of experience with Magento. Thank you in advance for any help.

[2016-09-19 16:46] basselalaraaj commented on #6337
yes, in production mode static deployment. @sevos1984

[2016-09-19 17:04] perfpcs commented on #6564
Any update to this?

This looks like a bug of the one step checkout extension. It sends the state name to API incorrectly.
When you are on the cart page Magento sends state as 2-char code "FL" to API, and it works.
When you are on one step checkout it sends full name "Florida", and it won't work.
This is the only difference I see in the success/error logs:
Success:
    `<ShipTo>
      <Address>

[2016-09-19 17:06] perfpcs commented on #6564
Seems cannot post code reg.

`Success:
    <ShipTo>
      <Address>
          <PostalCode>32935</PostalCode>
          <CountryCode>US</CountryCode>
          <ResidentialAddress>01</ResidentialAddress>
          <StateProvinceCode>FL</StateProvinceCode><ResidentialAddressIndicator>01</ResidentialAddressIndicator>      </Address>
    </ShipTo>

Error:
    <ShipTo>
      <Address>
          <Postal

[2016-09-19 17:50] andidhouse commented on #1691
its now over one year since this "issue" is reported. I still can not find any clean way to deactivate the tel. number from the checkout and user account.

Or is there a clean and working solution out there i do not know?

[2016-09-19 18:10] abi2 commented on #5484
Having the same issue,
I'm on Magento 2.1.1
Experiencing this issue when sending order emails, or previewing order templates,
Already tried using default templates, same issue.

`[2016-09-19 17:02:19] main.CRITICAL: Exception: Warning: Missing argument 1 for Magento\Framework\View\Element\Template::setTemplate() in /opt/bitnami/apps/magento/htdocs/vendor/magento/framework/View/Element/Template.php

[2016-09-19 19:13] abi2 opened #6667 "Sales Email Error"
I'm having the same issue as [5484](https://github.com/magento/magento2/issues/5484),
Having this issue when sending sales emails and when trying to preview sales emails.

`[2016-09-19 17:00:21] main.CRITICAL: Exception: Warning: Missing argument 1 for Magento\Framework\View\Element\Template::setTemplate() in /opt/bitnami/apps/magento/htdocs/vendor/magento/framework/View/Element/Template.php on li

[2016-09-19 19:39] mbrzuzy opened #6668 "Shipment retrieval via REST API results in error during json_encode returning a blank result"
Shipment retrieval via REST API results in error during json_encode returning a blank result. This happens because of the data stored in the shipping_label BLOB.
### Preconditions
1. Magento 2.1.1
2. PHP 5.6.22
3. MySQL 5.6.28
### Steps to reproduce
1. Create a test order and generate a shipment with a shipping label.
2. Attempt to retrieve the shipment via REST API with the following endpoint:

/

[2016-09-19 20:30] apurv-anand commented on #5346
Is this in 2.1.1? I don't think it works.

[2016-09-19 20:43] manhao-chen commented on #3605
@SerhiyShkolyarenko the fix you had just implemented, is it out in 2.1.1 or it will be in the next release?

[2016-09-19 21:23] #5939 closed, assigned to nobody

[2016-09-19 21:24] crantron commented on #6647
getting same error when trying to recompile

[2016-09-19 22:00] pboisvert commented on #6654
closing as a duplicate of#6653

[2016-09-19 22:00] #6654 closed, assigned to nobody

[2016-09-19 22:01] pboisvert commented on #6667
@abi2 please follow the issue reporting guidelines and provide version and system information as well as step by step instructions for reproducing the error

[2016-09-19 22:03] #6650 closed, assigned to nobody

[2016-09-19 22:21] salelsol commented on #5484
For me fixed with: https://github.com/magento/magento2/issues/5101
Discoveries

After searching a bit around, it looks like the json in the  isn't valid in the file vendor/magento/module-sales/view/frontend/email/order_new.html:

There is a trailing comma missing after "Shipping Description"
If I add a comma, the issue is fixed.

This issue also exists in the order_new_guest.html file, I haven't t

[2016-09-20 00:26] rudik99 commented on #6424
Hi RMA-web.

Download the files, either the whole package or via composer on to your website. I wont detail this, as i assume you already have done that before.

Then run the installer as if it was a fresh install.

When it asks for your database details, but your existing database details in there.

Make sure you use the same Admin username, password and email (or you will get an error)

Once fin

[2016-09-20 00:31] rudik99 commented on #6424
hi @iTea2
Try doing the fresh install as above.
Unfortunately i haven't been able to full stress test this problem further.  I was planning to see if it was address in the next point update.
Also issue #6167 stops me testing this further.
Rudi

[2016-09-20 02:04] donky6 commented on #6342
Can confirm this issue also exists using $AUD as currency also.
Also not sure if it's related but even if choosing percentage as the option, the value still displays as currency.

[2016-09-20 02:05] piotrekkaminski commented on #4921
@mcspronko and all. This issue will most probably come in 2.1.3, expected in near term.

[2016-09-20 03:53] shahankitb997 opened #6669 "How to define scope in di.xml & Router.php"
Please refer to http://magento.stackexchange.com/questions/136627/magento-2-how-to-define-scope-in-di-xml-router-php

[2016-09-20 04:05] abi2 commented on #5484
Hi @salelsol,

I already added a comma, but still have this issue,
Any other troubleshooting tips?

Thank You

[2016-09-20 05:14] Memes11 opened #6670 "Issue in the module catalog XML layout file"
With Magento 2.1.1

 main.CRITICAL: Broken reference: the 'product.info.price' tries to reorder itself towards 'product.info.review', but their parents are different: 'product.info.main' and 'product.info.price' respectively. [] []

Issue with line 33 of the file vendor/magento/module_catalog/view/frontend/layout/catalog_product_view.xml

it redirects the container product.info.price to its own ch

[2016-09-20 05:22] sanjayjethva opened #6671 "URL key for specified store already exists in Magento 2.1.1"
I am facing "URL key for specified store already exists" error when i am trying to update existing category name as its appearing in some categories.

I am using Magento 2.1.1.
I have read so many articales where it stated that it is solved in magento 2.1 version but its appearing again. Let me know
Please help me to resolve the issue.

Thanks

### Preconditions
Magento 2.1.1
### Steps to reproduc

[2016-09-20 06:15] Sharmilasrini95 commented on #5046
Hello!We are using Magento2.0.7

[2016-09-20 06:42] praful-rajput commented on #6645
thank you @antboiko

[2016-09-20 06:50] Sharmilasrini95 opened #6672 "The value of custom category image attribute is not removed properly"
### Steps to reproduce

1.Add a custom image attribute to the category entity: $catalogSetup->addAttribute(\Magento\Catalog\Model\Category::ENTITY, 'menu_image', array( 'label' => 'Menu Image', 'note' => 'Image that is shown for the menu item of current category', 'input' => 'image', 'backend' => \Magento\Catalog\Model\Category\Attribute\Backend\Image::class, 'required' => false, 'global' => \Mage

[2016-09-20 06:51] Sharmilasrini95 commented on #6672
Hello ! And also we are using the version Magento2.0.7

[2016-09-20 06:52] SukeshiniR opened #6673 "Cannot restrict ComposableProduct types for different composite product types"
When we create a new composite product type, assume we want it to have configurable products as a composable type. But if we add configurable products as composable type in product_types.xml in our custom module, that will be globally available for other composite product types as well. (E.g. grouped products will show configurable products in the associate product popup grid)
### Preconditions
1.

[2016-09-20 07:17] Gammatesting123 commented on #5642
Magento2.1.1 still "400 (Bad Request)" issue generate while place order using custom payment method...magneto2.1.0 in working perfect but magneto2.1.1 in getting this issue.
![payment](https://cloud.githubusercontent.com/assets/22314841/18660859/6225c804-7f30-11e6-8a0e-dad8156ade50.png)

[2016-09-20 07:18] Gammatesting123 commented on #5642
![payment](https://cloud.githubusercontent.com/assets/22314841/18660873/75500214-7f30-11e6-9906-addae8455283.png)

[2016-09-20 07:50] ghost commented on #6608
anyone have any ideas?

[2016-09-20 07:51] devhn commented on #6537
@SerhiyShkolyarenko as guest. Yes, also reproducable in 2.1.1.

`shipping-information` gets updated ([screenshoot](http://imgur.com/a/Hu8zU) - "new name" and "new address" is the newly updated data when going back to Shipping step) but fields don't get populated within `billing-address-details` on step 2.

[2016-09-20 07:53] davidwatson1090 commented on #4896
@quickshiftin Can You please explain the procedure how you resolved this??

[2016-09-20 07:58] SerhiyShkolyarenko commented on #3605
@manhao-chen I figured out that the fix is **not included** in 2.1.1 release. As far as it's present on develop branch, it will be a part of the following release.

[2016-09-20 08:01] SerhiyShkolyarenko commented on #3605
I am closing the issue on github now as far as the fix is delivered to develop branch, but feel free to leave comments if it won't work for you after update. Thank you for collaboration!

[2016-09-20 08:04] heldchen commented on #6631
check the browser's dev tool and see if any request leads in a 50x or javascript error upon page load.

[2016-09-20 08:07] apurv-anand commented on #5260
+1 I got the same issue. Will investigate to get you more details, but this issue is real. Please do not close it without diving deep and resolving.
M2.1.1

[2016-09-20 08:11] timbaker1991 opened #6674 "Selecting products based on category does not work when using a "second" root category"
### Preconditions
1. Magento CE 2.1.1 without sample data
2. PHP version 7.0.7
### Steps to reproduce
1. Added a new category (2016-05-27) to the "Dates" root category.
   ![image](https://cloud.githubusercontent.com/assets/3218611/18662049/7b82d0f0-7f10-11e6-997a-61cb8fbcd13b.png)
2. In view:

[code]

Block:

[code]
1. Loading that view doesn't return any product names.
### Expected result
1. Thi

[2016-09-20 08:13] prabhumano commented on #5789
Hi,
I cleaned var folder and I used plain Magento.

FYI: Magento\Framework\Pricing\Object\SaleableInterface this class didn't exist in core files.

[2016-09-20 08:23] oshmyheliuk commented on #6533
Still, can't  reproduce on fresh installed 2.0.4 and upgraded to 2.1.1 magento.
Maybe you have installed custom modules or specific settings.
Please, try to disable custom modules(if have), and reproduce this issue.

[2016-09-20 08:31] manhao-chen commented on #3605
@SerhiyShkolyarenko i will test the next release and report back

[2016-09-20 08:33] SerhiyShkolyarenko commented on #6537
@devhn checkout worked for me exactly like you described. It's **expected behavior**. Please pay attention that the checkbox "My billing and shipping address are the same" is unchecked after step 5.
This is how it works internally.
0. On checkout start both billing and shipping address are empty
1. When you fill shipping address and click "Next", the server(Magento) saves it. Then Magento checks t

[2016-09-20 08:33] #6537 closed, assigned to SerhiyShkolyarenko

[2016-09-20 08:41] flipflap commented on #5423
I don't have Varnish on my server, that can't be the reason in my case.

[2016-09-20 08:45] kanduvisla commented on #5502
For the record: it still exists in M2.1.1

[2016-09-20 09:07] mvistas opened #6675 "Configurable-type-handler.js disable Stock Availability"
I am using Magento 2.0.7

I have Configurable products with "child" products.
On Advance inventory, the "child" products have "Manage Stock" set to yes.
If, the qty of one "child" product change to 0, the "child" product becames Out of Stock.

When I change the qty of this "out of stock" product to 10000 (example), the product stays as Out of Stock, and the stock availability dropwon is disabled.

[2016-09-20 09:08] #6608 closed, assigned to nobody

[2016-09-20 09:27] milkolori commented on #6533
Hi,

I disable all custom plugins but there was no success. I do have a second environment (my test environment, in my local computer) where I made a fresh installation of magento 2.1.1, and there everything works as expected.
I did some more investigation and I found that the problem is actually caused by the cache of the browser. When I disabled the cache using Chrome developer console then ever

[2016-09-20 09:47] RUjmiak opened #6676 "REST API: Customer/token (login) response with not valid JSON"
Magento 2.1.1

REST API

**REQUEST**
POST /V1/integration/customer/token
{
  "username": "EMAIL",
  "password": "PASSWORD"
}

**RESPONSE** - 200 OK,
HEADER: Content-Type **application/json; charset=utf-8**

but response body is not valid JSON but just "token".

This is serious bug.

[2016-09-20 09:48] VladimirZaets commented on #4828
As an investigation shows, the problem is inside 3d party library tinymce, which we shouldn't modify. TinyMCE uses own Event manager and when we call tinymce.init() tinymce sometimes doesn't trigger ‘init’ event itself, so initialise doesn’t execute.

[2016-09-20 09:55] tkacheva commented on #4828
@hostep @luxwan13 @shiftedreality @koenner01
there is an issue in tinyMCE itself that we can't fix as it's 3d party library. We are working on updating WYCIWYG plugin in Magento.

[2016-09-20 10:00] irenelagno commented on #6346
Hi, @Cacasapo, thank you for your report.
This issue appears due to incorrect configuration in the your tablerates.zip.
To have ability to  apply free shipping with table rate. you need to add configuration for weight = 0.
{code}

CAN \*   \*   0   21.99
USA \*   \*   0   11.99
{code}

[tablerates1.zip](https://github.com/magento/magento2/files/482195/tablerates1.zip)
I attached modified csv file.

[2016-09-20 10:09] Krapulat commented on #1471
@slavvka Can we know the commits that fixes this issue?

Thanks.

[2016-09-20 10:22] davidverholen commented on #3605
@SerhiyShkolyarenko the problem is, that in strict typed languages, null is not allowed for float. It's not possible to define a value as float or null when you create a WSDL.

Even in php with strict mode enabled a float value must not be null. Here is an example (for php7) with strict mode enabled

[code]

This throws an error since the function is not allowed to return null when strict typed to

[2016-09-20 10:33] alena-marchenko commented on #5903
Hi @flecxie

Closing the issue, since it is resolved already. Please feel free to create new one if you experience further issues.

[2016-09-20 10:33] #5903 closed, assigned to alena-marchenko

[2016-09-20 10:55] MomotenkoNatalia commented on #3325
@Vaseltior Looks like this issue can be closed. Feel free to create new if you still have an issue.

[2016-09-20 10:55] #3325 closed, assigned to eug123

[2016-09-20 10:59] doug48 opened #6678 "2.1 Saving a special price sets the product as new"
I noticed this issue today when setting a special price, it will also save the 'set as new' flag.

what is strange about this is when you try to save this 'set as new' flag on its own if will not save.
Also noticed the news_from_date and news_to_date are missing in the product admin

Steps to reproduce:
1. Go to a product that is not new and has not special price
2. Take a note of 'set as new' fla

[2016-09-20 11:01] sanjayjethva commented on #5762
I am using Magento 2.1.1 version and facing the same issue.

[2016-09-20 11:41] mombrea commented on #1208
For me, (Debian 8, PHP5-FPM, Nginx) the tmp path seemed to append the vhost upload_tmp_dir to the system default path - i.e. /tmp/var/www/site.com/tmp/. The solution was to remove the vhost defined upload_tmp_dir and restart php. The system default (/tmp) was then used successfully. I re-enabled the vhost specific upload_tmp_dir afterward as this problem only occurred on the table rate import for

[2016-09-20 11:47] omelandr opened #6679 "Magento2 js error on Product Detail Page"
Magento2 js error on Product Detail Page

I'm using luma theme. Nothing haven't been changed I only installed latest version from Magento connect. Added test category and product. This problem is only on product detail page. Other pages works fine
On Product Page i have js error:
`knockout.js:3012 Uncaught TypeError: Unable to process binding "attr: function (){return {'data-config-scope':$data.sc

[2016-09-20 11:50] bartlubbersen opened #6680 "Double config.xml value discount_tax"
We use a custom module with it's own config.xml to change the default config settings of Magento, this way uppon installation we will have the settings they way it will work for most customers. The problem is that if I try to set a value for tax/calculation/discount_tax in my config.xml the config section of Magento throws an error:

More than one node matching the query: /config/default/tax/calcu

[2016-09-20 12:04] gajjardhara opened #6681 "Minimal Query Length For Catalog Search"
### Preconditions

1. Magento2 EE
2. Magento2 CE
### Steps to reproduce

1. Navigate to Store > Configuration > Catalog and choose Catalog. After that, expand the Catalog Search section and Set Minimal Query Length to 1
2. Try to search
3. Always get the 0 result
### Expected result

1. if Magento is allowing to set minimum query value to 1 from admin then it should work with that scenario otherwi

[2016-09-20 12:11] Noewt commented on #5985
Same problem still in 2.1.1. currentBillingAddress().countryId does return the country code, but the getCountryName() doesn't return the full country name

[2016-09-20 12:24] SerhiyShkolyarenko commented on #5938
@mktudock @commcad we delivered MAGETWO-56699 fix to develop branch. Thank you for cooperation.

[2016-09-20 12:24] #5938 closed, assigned to nobody

[2016-09-20 12:26] SerhiyShkolyarenko commented on #5963
MAGETWO-58290 is delivered to develop branch

[2016-09-20 12:50] SerhiyShkolyarenko commented on #6438
MAGETWO-58136 is delivered to develop branch. Closing the issue.

[2016-09-20 12:50] #6438 closed, assigned to nobody

[2016-09-20 12:52] SerhiyShkolyarenko commented on #5302
Fix of MAGETWO-55608 is delivered to develop branch. Closing the issue.

[2016-09-20 12:52] #5302 closed, assigned to nobody

[2016-09-20 12:54] SerhiyShkolyarenko commented on #5715
Fix of MAGETWO-58338 is delivered to develop branch. Closing the issue.

[2016-09-20 12:54] #5715 closed, assigned to nobody

[2016-09-20 12:56] SerhiyShkolyarenko commented on #6162
Fix of MAGETWO-57078 is delivered to develop branch. Closing the issue.

[2016-09-20 12:56] #6162 closed, assigned to nobody

[2016-09-20 14:05] SerhiyShkolyarenko commented on #6475
@reztierk thank you for reporting the issue. We created internal ticket MAGETWO-58722.

[2016-09-20 14:10] rma-web commented on #6424
Thank you @rkhoury82 will give this a shot.

[2016-09-20 14:11] anton-huz commented on #6630
Hi, Filip.
Currently, your reported issue is in internal discussion. We will add notes here when will make a decision.

P.S.: personal thanks for raising a problem.

[2016-09-20 14:53] SerhiyShkolyarenko commented on #6439
@MaximKitsenko I spotted that you wrote incorrect field name for sorting. Please,  try **created_at** instead of **createdAt**. It worked for me.

[2016-09-20 15:04] ghost commented on #5808
This is the second bug that I have noticed that impacts customer experience on mobile. If you inadvertently tap the product image while attempting to scroll you basically render your site inaccessible until you refresh the page. @ilol any updates on this. TY

[2016-09-20 15:13] davidalger commented on #6669
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-09-20 15:13] #6669 closed, assigned to nobody

[2016-09-20 15:16] ilol commented on #5808
We have fixed #5302 (internal [MAGETWO-55608](https://jira.corp.magento.com/browse/MAGETWO-55608) )
We will reproduce your present issue and then will fix it if it is reproducible.

[2016-09-20 15:17] ilol commented on #5808
@hyroniemus can you please share the link to your site. In PM if you want. Thanks

[2016-09-20 15:17] davidalger commented on #6664
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-09-20 15:17] #6664 closed, assigned to nobody

[2016-09-20 15:19] ilol commented on #5808
@peec , can you please share the link to your site (if it is live). In PM if you want. Thanks

[2016-09-20 15:23] flipflap commented on #5423
I updated to 2.1.1 but still had the same problem. Now I found out that the problem comes from this code in my theme:

`<container name="header.panel.wrapper" htmlClass="panel wrapper" htmlId="stopbar" htmlTag="div" before="-"/>`

I need to add an id stopbar to the div panel wraper. Now I tried to move top.links but it didn't work. Finaly I add the ID by Javascript.

[2016-09-20 15:34] melnikovi commented on #6679
@omelandr thank you for reporting the issue. Could you, please, clear browser cache and see if you can still reproduce the issue?

[2016-09-20 15:38] quienti commented on #6597
Probably same problem, but with mail subject where ' is &#039;
Add '\' do not works.
On Magento 2.1.1

![sans titre 1](https://cloud.githubusercontent.com/assets/7326954/18677307/adccbd4e-7f58-11e6-8652-b8a7cc25e4ad.jpg)

[2016-09-20 15:46] alexpoletaev commented on #4247
I have the same issue. There is no ability to retrieve product url for a specific website in the admin area.
**Preconditions:**
- Magento instance (v2.1) with several websites
- Each website has a specific domain (base url)

**Steps to reproduce:**
- open a product page for a specific website in the admin area
- use the `$product->getProductUrl()` method to retrieve product url

**Result:**
Magent

[2016-09-20 15:58] Pakkapao commented on #3386
It's working correctly on 2.1.1.

[2016-09-20 15:58] krejcif opened #6682 "Menu scrolling in Admin"
### Preconditions
1. CE & EE 2.1.1
### Steps to reproduce

1. Have more items in main admin menu or make your window lower
2. Go to import
3. Scroll down to page
4. Do the import
5. There will be some ajax processing and you will get some result
### Expected result
1. You should be able to scroll to the top of page and see magento logo which is top left
### Actual result

1. http://prntscr.com/ck9

[2016-09-20 16:10] sshymko commented on #4247
Same issue here. Please reopen the ticket. @piotrekkaminski, please help.

[2016-09-20 16:14] ghost commented on #5808
Unable to send private messages, what about the email in your profile?

[2016-09-20 16:16] abi2 commented on #5484
@Crossmotion thanks for your advise,
After disabling all modules it worked!

[2016-09-20 16:17] alena-marchenko commented on #6564
Hi @perfpcs

We've created MAGETWO-58730 internal ticket regarding this issue.
Thank you!

[2016-09-20 16:23] salelsol commented on #5484
- Just enable one by one and check if still works.

Best Regards
Toni

[2016-09-20 16:44] ghost commented on #5988
I've checked the magento 2 source. The only module wich seems the be looking a the value of the smtp_disable config is the newsletter module. It uses the isValidForSend method. The rest of the Magento 2 Emails does not use the setting and therefore always sends out emails. Not ideal in development type situations!! Please fix. Thanks

[2016-09-20 16:45] JoshuaSoileau commented on #5665
Any update on this issue? I'm seeing this as well.

[2016-09-20 16:46] grasdaggel commented on #5985
Is there any update on this? The bugs there for a while. Internal Ticket #?

[2016-09-20 16:48] pboisvert commented on #5665
@antboiko can you have the team check into this one?

[2016-09-20 16:51] JoshuaSoileau commented on #5665
I am on EE 2.0.7 for the record.

[2016-09-20 16:54] silverman63 commented on #4247
Same issue as well.

[2016-09-20 17:12] crantron commented on #5260
TO temporarily fix this issue, will have to run often, but run the mysql queries.

[code]

you'll then be able to send out notifications.
@apurv-anand

[2016-09-20 17:16] commcad commented on #6655
I have no idea what you worry about, but thanks for the shortcut/tip none the less ;)
1. You'd need to know the shop's admin_xxxx
2. For the redirect to function, you need to be logged in (does work!)
3. More importantly; Web Wizard have never really worked anyway.

With that said, who cares then lolll

![fixwebsetup](https://cloud.githubusercontent.com/assets/19387951/18681021/b9bafe1e-7f98-11e6-

[2016-09-20 17:28] alexnos88 commented on #5876
Having the same problem.
Will be glad to see the fix))

[2016-09-20 17:41] stamster commented on #6655
@commcad one topic is if you cannot even access it, while whole another is whenever it works as expected. We're talking here about just accessing it.

[2016-09-20 17:42] JamesonNetworks commented on #5665
I am seeing this as well

[2016-09-20 17:53] grasdaggel commented on #1164
Sorry for digging this gem out, but when setting language to en_EN in database, theres another Error. Any ideas why? en_EN just should be fine?

[2016-09-20 18:03] hostep commented on #1164
@grasdaggel: because `EN` is not a valid ISO 3166-1 alpha-2 code for a country, you'll probably need `en_US` or `en_GB`, or some other country...
See https://www.iso.org/obp/ui/#search & https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2

[2016-09-20 18:24] matthewscalf commented on #5959
Any update on this? I am seeing this also in a site that is supposed to launch asap.

[2016-09-20 18:43] flnative commented on #5352
Can someone guide me how to fix this? I have 2.1.1. Everyone is sending Luma logos in their emails? ARe there not that many people using 2.1? I don't get it. Why isn't this not considered a major issue?

[2016-09-20 20:29] mbrinton01 commented on #5695
@mohanbmahajan please provide the call you are using in Step 3.

[2016-09-20 22:22] mgsolutionscode opened #6683 "Products updated_at field is not updating on save"
### Preconditions
1.  Magento 2.1.1, 2.1.0 - fresh install (no sample data)
2. Not checked in previous versions 2.0.x
3. PHP 5.6.25
4. MySQL 5.6.28
5. Product types: all
### Steps to reproduce
1. Go to admin panel
2. Create new product (fill all required data, category, related, upsell etc is not improtant)
3. In catalog_product_entity table check updated_at value (it is same like created_at)
4. T

[2016-09-20 23:18] mbrinton01 commented on #6094
Hello @petersg83, please let us know what version you are using. I'm using the `develop` branch and am not able to reproduce this issue.  Steps:
1. Get admin token
   `POST http://<hostname>/index.php/rest/V1/integration/admin/token`
   with body of `{"username":"admin", "password":"<password>"}`
   Result should be admin token
2. Get attribute options
   `GET http://<hostname>/index.php/rest/V1/p

[2016-09-20 23:22] mwgamble commented on #6106
As the scanner code in the `zend-code` library is now set to be deprecated and removed, Magento should look towards replacing this altogether with another library.

https://github.com/zendframework/zend-code/issues/91

[2016-09-21 00:27] ghost commented on #6655
cannot setup magento 2.1.1, magento setup wizard getting blank screen

MacOS
MAMP
php 5.6
nginx

[code]

[2016-09-21 02:22] staffrob commented on #5762
I am having this issue in 2.1.1.

It is happening when the first configuration simple product is 0 qty OR set as 'out of stock'. The exception is not occurring for other configurations that are not the FIRST simple product.

To replicate, create configurable product, with more than one associated simple product. Set qty for the first simple product to zero or out of stock.

[2016-09-21 03:12] drestine opened #6684 "Checkout with Braintree authorize and capture not change status to Complete"
Hi,
I'm already set Authorize and Capture for Braintree payment but when I add Downloadable product and checkout with Braintree, The order not change status to Complete.
Already test on CE 2.1.1.

Thanks,
Drestine

[2016-09-21 05:50] jtw372 commented on #6606
Hi Akamura, have you figured this out.  I have a similar problem as well and cannot find a solution

[2016-09-21 05:51] jtw372 commented on #5863
Same problem here on 2.1.1.

[2016-09-21 06:03] brideo commented on #5279
+1 is there a work around for this for the time being?

[2016-09-21 06:05] themecs commented on #5008
@3dcauldron Thanks, it's working for me.

[2016-09-21 06:29] jtw372 opened #6685 "URL Rewriting Issues in Magento 2.1.1"
the .html suffix is being added to product urls twice, domain.com/widget-a.html.html.  In addition to this , when changing the product key for a product, a URL is not being rewritten.

Category URLs show the system URLs for categories and product pages.  However, if I simply edit the parent category page and save it, all the URLs in that category page works follows the format I want (rewritten URL

[2016-09-21 06:34] bondimedical3 opened #6686 "Add to cart message stuck on every page"
I have just done a new installation of 2.1.1 and am finding the green Add to Cart message is appearing on every page.

![magento2](https://cloud.githubusercontent.com/assets/10808588/18700175/2fe96c80-8019-11e6-8ccc-46c5efc62153.jpg)

[2016-09-21 06:51] Vinai commented on #2816
@BaDos Thanks for picking up the issue. I don't remember which version was current when I commented on the issue.
I think yes, those where the only two commands I had run. Right now, whenever I'm setting up a new project, I run `bin/magento sampledata:deploy` and `setup:upgrade` after the installation and it's fine.

[2016-09-21 06:58] skhell commented on #6606
hi @jtw372 still not but I will try this week to delete and reimport all the products since I'm still in dev roadmap.

[2016-09-21 07:19] etessari commented on #5762
Hi @oserediuk ,
I have updated the step to reproduce, currently working on a EE 2.1.1 and facing the same issue.
Thanks

[2016-09-21 07:36] dbsdsun commented on #6603
I meet the similar issue.

## My problem is:

under CategoryA, there are 3 products,
configProduct1,
simpleProduct1, simpleProduct2.

simpleProduct1 and simpleProduct2 are children of configProduct1.

all of them are visible.

When I go to category list page,
it says: Items 1-1 of **3**, it should say Items 1-1 of **1**

---

after checking the code, I found

The total is incorrectly set in the fo

[2016-09-21 07:40] miakusha commented on #4443
Hi @gayankt, thank you for your report.
We created internal issue MAGETWO-58761 to investigate and track this issue.

[2016-09-21 07:46] Dublerq opened #6687 "All magento grids don't work"
### Preconditions
1. nginx/1.11.2, php-fpm, php7.0.11, Linux version 3.10.0-327.28.3.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCC) ) #1 SMP Thu Aug 18 19:05:49 UTC 2016
2. Magento 2.1.0 and Magento 2.1.1 from composer, didn't test older versions
3. All modes (production/default/developer), cache disabled/enabled flushed a few times, session both i

[2016-09-21 07:51] ankursachdeva11 opened #6688 "pub/static url contains deployed version."
I have upgraded magento2 instance with latest git code today.

after upgrade and static files deployment.

static files url contains deployed version because of this 404 error comes.

[http://domain]/pub/static/version1474443317/frontend/Magento/luma/en_US/mage/calendar.css

static files exist if we remove version1474443317 from url and check but site all url contains this version1474443317.

Plea

[2016-09-21 07:58] Dublerq commented on #6687
And the answer is: **disable google pagespeed**!

[2016-09-21 07:58] #6687 closed, assigned to nobody

[2016-09-21 08:15] SerhiyShkolyarenko commented on #3605
@davidverholen AFAIK C# supports nullable double. https://msdn.microsoft.com/en-us/library/2cf62fcy.aspx
Will it help?

[2016-09-21 08:52] nmallepally commented on #6424
Hi,
I have the same issue after upgrading from 2.1.0 to 2.1.1 via composer.
configurable products does not show anymore on frontend.
when i checked the exception log, this is what it shows me
[2016-09-21 08:23:25] main.CRITICAL: Magento\Framework\Exception\LocalizedException: Configurable product "kit_pro" does not have sub-products in /var/www/vhosts/magento2.1.1/httpdocs/test123/vendor/magento/m

[2016-09-21 08:55] omelandr commented on #6679
Yes, i clear browser cache but nothing changed. It problem is in all browsers

[2016-09-21 08:56] heldchen commented on #6424
@nmallepally it's probably a related but different issue: #6422

[2016-09-21 09:01] andidhouse opened #6689 "I really recommend magento to setup a testing environment for every version where user can test the bugs"
Sry this is not a bug report but a recommendation.
We are following magento development from releasing on - and struggle hard with all the bugs.
What i realize is that lots of bugs are reported back meaning the magento team answers like "what version of xyz do you use" or "we cannot replicate this issue here" etc.

This is very time consuming for us users and also for the magento team i guess so i

[2016-09-21 09:03] romainruaud opened #6690 "[EE] Presence of a "Suggestions Data Provider" should be optional for additional search engines."
Magento is looking for an entry in \Magento\AdvancedSearch\Model\SuggestedQueries for each search engine.
It fails and prevent to obtain catalogsearch results if nothing is found.
### Preconditions

1. Using a custom Search Engine ( https://github.com/Smile-SA/elasticsuite )
2. Use Magento 2.1.1 EE with the module-advanced-search enabled.
### Steps to reproduce

1. Process a search in front office

[2016-09-21 09:09] MagePsycho commented on #5582
Any news on the same?

[2016-09-21 09:17] jlimodin opened #6691 "Issue with Performance toolkit and configurable product"
When you run the performance toolkit more than one time, I have an error:
Error happens here:
if (props.get(&quot;configurable_products_list&quot;) == null) {
    return stopTestOnError(&quot;Cannot find configurable products. Test stopped.&quot;);
}

And I have this error in the magento log file.

[2016-09-20 13:04:05] main.CRITICAL: Configurable product "Configurable Product 23257" does not have

[2016-09-21 09:17] MagePsycho commented on #6236
Friendly Reminder!

[2016-09-21 09:19] SchumacherFM commented on #5959
It usually takes 3-5 months until you can see here a fix.

[2016-09-21 09:23] miakusha commented on #6681
Hi @gajjardhara, thank you for your report
We've created internal ticket MAGETWO-58764 to address this issue.

[2016-09-21 09:27] SerhiyShkolyarenko commented on #6581
@omkarambre thank you for reporting!
Is this issue reproducible for you on the latest develop branch or 2.1.1 release?
I've checked on develop with a bit modified your payload

[code]

 and got a response "true".

[2016-09-21 09:32] manhao-chen commented on #3605
@SerhiyShkolyarenko the problem is when the wsdl is generated, would the property datatype be in c#

double
or
nullable<double>

[2016-09-21 09:42] paalsoberg commented on #5519
Hi, any update on when this will be fixed as Paypal is unusable if you have configurable products  @maksek @veloraven @isitnikov

[2016-09-21 09:48] adragus-inviqa commented on #6106
M2 took "ownership" of ZF code, but I agree that the package should be replaced. But that's even more refactoring.
Maybe use another strategy for PHP 7+ (`\Magento\Framework\Code\Generator\CodeGeneratorInterface`) and keep the current one for older versions.

[2016-09-21 09:55] oshmyheliuk commented on #6471
Hi @apurv-anand
Please try to increase varnish timeout, because backup operation take too much time, and varnish can return 503 error if not got a response from the backend for a long time.
first_byte_timeout (default: 60s)  - increase to 300s or even more.
[UNDERSTANDING TIMEOUTS IN VARNISH CACHE](https://info.varnish-software.com/blog/understanding-timeouts-varnish-cache)

[2016-09-21 09:56] SerhiyShkolyarenko commented on #6394
@eric128 thank you for reporting!
Gift card is enterprize edition functionality, it is supported on another channel. Let's look at cart price rule which covers all the cart goods and shipping. Is the issue reproducible for you in such case?
Is it reproducible on 2.1.1 version?
Do you use any custom themes or extensions?

[2016-09-21 10:01] teuma86 opened #6692 "Target Rule - Cross-sell rule"
When creating a new target rule (EE) with Products to display having Attribute Product Size is matched product size, causes an error when loading the cart
Exception #0 (Zend_Db_Statement_Exception): SQLSTATE[42S22]: Column not found: 1054 Unknown column 'table.entity_id' in 'where clause', query was: SELECT `e`.`entity_id` FROM `catalog_product_flat_1` AS `e`

This is caused because in the newer v

[2016-09-21 10:02] oshmyheliuk commented on #6471
Hi @Ctucker9233
Magento needs minimum 768MB PHP memory limit (recommended 2G). It's official Magento2 system requirements.
You can ask your hosting provider to increase this parameter.

[2016-09-21 10:03] nmallepally commented on #6422
I have the same error
Hi,
I have the same issue after upgrading from 2.1.0 to 2.1.1 via composer.
configurable products does not show anymore on frontend.
when i checked the exception log, this is what it shows me
[2016-09-21 08:23:25] main.CRITICAL: Magento\Framework\Exception\LocalizedException: Configurable product "kit_pro" does not have sub-products in /var/www/vhosts/magento2.1.1/httpdocs/te

[2016-09-21 10:05] alexnos88 opened #6693 "Wrong coupon usage handling for cart price rules with shipping discount"
When placing an order using coupon code for shipping discount (provided via cart price rules) usage counter doesn't get updated.
### Preconditions
1. Magento 2.1.0
2. Cart Price Rule applicable to some (any) cart
   2.1. Use specific coupon, any coupon code
   2.2. Actions providing only shipping discount
   2.3. Uses per coupon \ customer set to some value > 0
### Steps to reproduce
1. Add some p

[2016-09-21 10:23] phuc128t commented on #5502
I got same issue here.

[2016-09-21 10:52] mrkhoa99 commented on #6679
@omelandr this issue may not be a Magento bug: http://magento.stackexchange.com/a/137426/33057. Seem that it's the default WYSIWYG html editor.

[2016-09-21 10:56] Krapulat commented on #2619
I have the same problem.

Using Magento 2.1

[2016-09-21 11:04] danslo commented on #6693
Duplicate of https://github.com/magento/magento2/issues/5450.

[2016-09-21 11:04] davidverholen commented on #3605
the point is, wsdl definition does not support null for float types and yet there are null values in fields that are of type float

Only supported non numeric values are INF, -INF, and NaN

http://books.xmlschemata.org/relaxng/ch19-77095.html
https://www.w3.org/2001/XMLSchema.xsd

[2016-09-21 11:07] danslo commented on #6693
Actually, also duplicate of https://github.com/magento/magento2/issues/5171 and https://github.com/magento/magento2/issues/3506.

[2016-09-21 11:11] oshmyheliuk commented on #6430
Hi @friizu
Did you disable whole Review module via "Web Setup Wizard" or just disable module output in Configuration -> Advanced -> Advanced ?

[2016-09-21 11:15] friizu commented on #6430
I just disabled module output in admin configuration -> advanced -> advanced, cause i may need it later, i just wanted to hide that for first release of page.

[2016-09-21 11:15] luukschakenraad opened #6694 "Override zip_codes.xml"
When trying to override module-directory/etc/zip_codes.xml from a local module, only the last code of a country gets included.
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Follow steps as described [here](http://devdocs.magento.com/guides/v2.1/howdoi/checkout/checkout_zip.html)
2. Add this to zip_codes.xml:

`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSche

[2016-09-21 11:41] stamster commented on #6655
Officially, only GNU/Linux is supported for Magento2. I would strongly advise you not to play with Windows or OSX here. For the start both are case insensitive.

[2016-09-21 11:47] #6679 closed, assigned to nobody

[2016-09-21 12:00] sevos1984 commented on #6665
Have you run customer grid indexer?

[2016-09-21 12:05] salelsol commented on #4431
- Same issue in 2.1.1, i can´t show up newest order in backend Sales, just in Dashboard.

[2016-09-21 12:08] lewisvoncken commented on #5478
@antboiko
Is it possible that this problem is not solved yet?

I found the same problem that not all of the Favicon formats are support. The supported formats in as quoted in de the description are ico, png, gif, jpg, jpeg, apng, svg but actually the supported formats are jpg jpeg gif png svg . The problem can be solved by changing line 70 in module-theme/view/adminhtml/ui_component/design_config_

[2016-09-21 12:15] oshmyheliuk commented on #6430
We already have internal ticket MAGETWO-56794 for the same issue

[2016-09-21 12:19] miakusha commented on #6671
Hi @sanjayjethva, Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-21 12:19] stasleo opened #6695 ""Group Prices" are no longer displayed in Advanced Pricing configuration"
I've just found that there is no "Group Prices" configuration. I've contacted Olena Tkacheva via Skype and she told me that Group Prices should be at product prices configuration. I mean she confirmed that this functionality was not removed from Magento 2.
### Preconditions
1. Tested on Magento 2.0.7, 2.1.0, 2.1.1, both CE and EE, with and without sample data.
### Steps to reproduce
1. Go to Catal

[2016-09-21 12:38] jtw372 commented on #6606
@akamura out of curiosity, how are you importing products?  Through a csv or an integration of some sort?  For me, I used "Store Manager" for the import and have the same issues you do.  However, when I edit the category page and resave it (manually), flush the cache and reindex, the URLs function somewhat correctly, other than the product url adding the suffix twice (.html.html)

[2016-09-21 12:43] sevos1984 commented on #6663
This is a product attribute, to translate it you should add storeview label in admin. Closing as not a bug.

[2016-09-21 12:43] #6663 closed, assigned to nobody

[2016-09-21 12:47] antonlazarchenko commented on #6665
@sevos1984 yes, I did. After updating postcode all indexes were "ready" and also I did indexer:reindex to make sure. It doesn't helps.

[2016-09-21 13:32] Arkyden opened #6696 "Product Auto-Generation"
### Preconditions
1.  Magento 2.1.1
### Steps to reproduce
1. Change product name which in 2.0.x would auto-generate the Meta Information
### Expected result
1. Meta Information should auto-generate
### Actual result
1. Meta Information left empty

Also, I was wondering if there is a way of re-generating meta information in bulk

[2016-09-21 13:38] ilol commented on #5808
It works!

[2016-09-21 13:48] Ubeo commented on #6522
Any updates about it ?

[2016-09-21 13:57] frshjb373 commented on #3651
@stevekem, what was the bug and how did it get resolved? Having same issue.

[2016-09-21 13:58] hostep commented on #6430
@oshmyheliuk: you can close this, like I already mentioned before this is a duplicate of: https://github.com/magento/magento2/issues/5323, right?

[2016-09-21 14:03] SerhiyShkolyarenko commented on #6402
@esilvajr it's an extected behavior, because prefix is configured on resource level, connection doesn't work with prefixes.

[2016-09-21 14:03] #6402 closed, assigned to SerhiyShkolyarenko

[2016-09-21 14:07] grasdaggel opened #6697 "2.0.4.: different languages trigger different bugs on the minicart"
### Preconditions

1. Magento2 V.0.4
2. we are using the splendid internet de_DE-CSV
### Steps to reproduce
1.  Install Magento
2. change language
3.  put something in your cart
### Expected result

1. the minicart gets shown correctly no matter what language is selected in the backend
### Actual result

Working on `en_US`:

[![Cart on en_US](http://i.stack.imgur.com/7DvIz.png)](http://i.stack.img

[2016-09-21 14:14] marcatos commented on #4896
@chriss-jordan I solved this issue refactoring my module as described here http://magento.stackexchange.com/a/128438/44884

I hope this would help you

[2016-09-21 14:28] koenner01 commented on #6541
I'm having the same issue and disabling the EAV cache does indeed solve the problem (for now)

Using:
Magento CE 2.1.1
PHP 7.0

[2016-09-21 14:58] oshmyheliuk commented on #6430
@hostep yes, it is a duplicate of #5323

[2016-09-21 15:12] mgomez-dgt commented on #6671
This problem happens when you have product and category with the same url key.

Example:

1.- Create Category: Energy Products(URL Key:energy-products)
2.- Create Sub Category Category: Stacker 2 Energy Shots(URL Key:stacker-2-energy-shots)
3.- Create Grouped Product: Stacker 2 Energy Shots(URL Key:stacker-2-energy-shots)
4.- Add Product "Stacker 2 Energy Shots" to Category "Energy Products" for e

[2016-09-21 15:18] quienti commented on #6697
Fixed in Magento 2.1.0
https://github.com/magento/magento2/issues/3102

[2016-09-21 15:19] quienti commented on #6671
I can confirm, same problem on Magento 2.1.1

[2016-09-21 15:25] southerncomputer commented on #2065
This occurs after php bin/magento deploy:mode:set developer and after you have cleaned out your cache and pub/static/ is clean!

`[2016-09-21 15:20:37] report.CRITICAL: Magento\Framework\Exception\FileSystemException: Cannot read contents from file "/home//public_html/pub/static/adminhtml/Magento/backend/en_US/mage/requirejs/mixins.js" Warning!file_get_contents(/home/public_html/pub/static/adminht

[2016-09-21 15:32] pboisvert commented on #6693
thanks @danslo for spotting the duplicates  closing as a duplicate of #3506

[2016-09-21 15:32] #6693 closed, assigned to nobody

[2016-09-21 15:33] pboisvert commented on #5171
thanks @danslo for spotting the duplicates  closing as a duplicate of #3506

[2016-09-21 15:33] #5171 closed, assigned to SerhiyShkolyarenko

[2016-09-21 15:34] pboisvert commented on #5450
thanks @danslo for spotting the duplicates  closing as a duplicate of #3506

[2016-09-21 15:34] #5450 closed, assigned to choukalos

[2016-09-21 15:43] mbrinton01 commented on #6236
Hello @springimport, GitHub issues are intended for bug reporting only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Fe

[2016-09-21 15:43] #6236 closed, assigned to SerhiyShkolyarenko

[2016-09-21 15:44] mbrinton01 commented on #5582
Hello @springimport, GitHub issues are intended for bug reporting only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Fe

[2016-09-21 15:44] #5582 closed, assigned to nobody

[2016-09-21 16:12] szerambo opened #6698 "Magento 2.1 Associated products being removed from configurable on save"
I have import 70,000+ products from Magento 1.9 to 2.1 and everything seemed to be fine until I went into a configurable product, made a minor adjustment and then saved it. At this point, all of the associated products were no longer there and the option to add them back manually was also gone.

[2016-09-21 16:14] arijit-de93 opened #6699 "Unable to set custom price when the cache is enabled"
I am using Magento 2.1.Cache is enabled in my magento.

I am using catalog_product_collection_load_after event for loading all the products when a category is triggered from the front-end and to set a custom price for the products.

And similarly, catalog_product_collection_load_after event I have used to set a custom price when a particular product will be viewed.

The problem that I am facing is

[2016-09-21 16:40] alena-marchenko commented on #6414
Hi @tylerd92vn,

Closing this issue due to no response, please create new one when you have an update.

[2016-09-21 16:40] #6414 closed, assigned to alena-marchenko

[2016-09-21 17:04] dexterityzx commented on #6604
Anyone has any idea on this issue?

[2016-09-21 17:05] southerncomputer commented on #4430
Create a category - load 1000's of sku's into that category

disable category from menu

Click on "SAVE"

This error shows up!

Afourcet's patch works fine!

`[2016-09-21 17:04:00] report.CRITICAL: Magento\Framework\Exception\AlreadyExistsException: URL key for specified store already exists. in /home/scw/public_html/vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php:116
Stack trace:
#0

[2016-09-21 17:05] eug123 commented on #6426
Hi @knidie,
This issue was fixed in the scope of the [MAGETWO-56915](https://github.com/magento/magento2/commit/ad400b0576c086861b499f03dba7aec9d9e16ee3) and delivered to the develop branch.
Please check if the issue is still reproducible for you on the develop branch.
Thank you

[2016-09-21 17:07] mbrinton01 commented on #6628
@kanduvisla please provide the full body you are using in the `PUT selected-payment-method` call.  It should follow the syntax from Swagger for `PUT /V1/guest-carts/{cartId}/selected-payment-method`:

[code]

[2016-09-21 17:47] mbrinton01 commented on #6586
@springimport, I've marked this issue as an improvement so it will be moved to [Community Forums](https://community.magento.com).  Thank you for your feedback to improve Magento 2.

[2016-09-21 17:50] piotrekkaminski commented on #6630
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-21 17:50] #6630 closed, assigned to maksek

[2016-09-21 17:50] piotrekkaminski commented on #6586
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-09-21 17:50] #6586 closed, assigned to nobody

[2016-09-21 17:52] mbrinton01 commented on #6695
@stasleo if you would like to set a custom price by Customer Group, you can do this in your screenshot under the tier price section.  Just click on `Add` and complete the fields.

[2016-09-21 17:54] mbrinton01 commented on #6695
One more note: you can set the tier price with `quantity=1` if you only want to change the price for a Customer Group and do not want to vary it by quantity.

[2016-09-21 17:54] #6695 closed, assigned to nobody

[2016-09-21 18:04] choukalos commented on #5900
Have you tried upping the temp table limit in MySQL?  I believe there's a similar bug that the teams are working where the work around is bumping that limit.  You might try bumping that to several GBs to see if that addresses the issue.  There's a bug being work that'll be back ported to 2.1.x that'll remove the need to bump temp table limit in MySQL.

+1 for elastic search.  +1 for Smile - they'v

[2016-09-21 18:09] choukalos commented on #6017
What version of 2.1 specifically - is this 2.1.1 ?
What themes or extensions are you using?
What memory usage are you seeing doing a compile and static asset deploy?

[2016-09-21 18:17] choukalos commented on #6336
Hey @romainruaud quick update.

We have a pretty simple architecture where our MPAF tool generates everything into memory and then loads in the DB.  Unfortunately that means when generating a large # of product it sucks up a lot of memory.  Our server where we generate a large profile has MySQL tweaked to use up to 24G of ram (yikes).

We should be doing this via pagination and should be using far

[2016-09-21 18:32] LoganGS opened #6700 "2.1.1 - URL Rewrite Redirect Loop & 404 Pages (Magento_UrlRewrite Router)"
I am not certain when this began happening, but:

At a certain point after saving a category, the category would go through a redirect loop when I would navigate to it. Products were also having the same issue.

I began looking into it by looking into the **Magento\UrlRewrite\Controller\Router::Match()** method.

I found that the **getRewrite()** method was trimming forward slash **("/")** charact

[2016-09-21 18:47] stevekem commented on #3651
@frshjb373 Yes I believe this bug was fixed here https://github.com/magento/magento2/issues/4710

[2016-09-21 18:51] Ubeo commented on #6603
Sorry @dbsdsun , I can't find that function in \Magento\Catalog\Model\ResourceModel\Product\Collection but I'm having the same issue too.

[2016-09-21 19:01] pynej commented on #4904
Seams to be fixed in 2.1

[2016-09-21 19:01] #4904 closed, assigned to nobody

[2016-09-21 19:02] pynej commented on #4868
On 2.1 We were able to enable the Merge Css, Merge JS, and Bundle Js options and with all three on the issues seam to goo away.

[2016-09-21 19:05] pynej commented on #5648
Same, we use this workaround for now:

[code]

[2016-09-21 19:52] SchumacherFM commented on #4868
The bug is still not fixed and enable bundling and merging hides only the problem.

Customers are already complaining about the bloated checkout page.

[2016-09-21 20:26] paales opened #6701 "ImportExport Custom option dropdown with price 0 causing indexer issues"
### Preconditions

1. 2.1.0
### Steps to reproduce

1. Create an import with a dropdown option that is required.
2. Add an option with the price 0
### Expected result

1. The catalog price shouldn't increase.
### Actual result

1. Catalog price increases, because it selects the lowest price from `catalog_product_option_type_price` but the value isn't inserted.

This line should be `isset()` instea

[2016-09-21 20:46] romainruaud commented on #6336
Hello @choukalos and thanks for the update. Could you share the MySQL configuration you use on this server ? I am able to use huge servers in my company so I'd gladly give it another try :)

Nice to see the subject is tracked by an internal ticket, I'm happy to see your team is concerned about it and will provide improvements.

Best regards,

[2016-09-21 21:17] ghost opened #6702 "Gray Bars showing up through all images across catalog"
Magento 2.1.0. Images have previously shown up fine. The only major changes I've made is to go to flat files but I checked after I did this and everything appeared to be fine.
Anyone have any suggestions on what to look at?
Thank you.

<img width="944" alt="screen shot 2016-09-21 at 2 10 06 pm" src="https://cloud.githubusercontent.com/assets/21045500/18729259/f78cb1e8-8005-11e6-898e-1902738be29f.p

[2016-09-21 22:35] windowbox commented on #5333
Is there any way to turn this back on? I understand for consistency turning off this functionality, but it was a very usable solution to manage any entity with so many fields. Since this is a community effort, where was the opportunity to chime in on this change before it went to 2.1? Is there any chance to bring this back? or is that added functionality we will need to build a module for? I did n

[2016-09-21 23:06] pboisvert commented on #5333
There is no configuration to turn on the former style of tertiary navigation. The change was made for usability reasons as the left-hand navigation took up space which reduced the form area. User testing was done on the revised design by our UX team so this was done with user input. That said this is a perfect case where the community can create an extension leveraging the former code and make ava

[2016-09-21 23:20] windowbox commented on #5333
Thanks for the response. We will definitely be looking into adding this. I hope the Design / UX team is handling usability of both Mobile v Desktop separately and not grouping both groups into its tests.

I find it difficult to believe that it is easier to use on desktops without the left-hand navigation.

[2016-09-21 23:20] southerncomputer commented on #6336
I have production import of 700k to 1.4MIL IT products in databases with several thousand searchable attributes and several thousand non-searchable. In both EE and CE flavors.

I do wonder about using INT(11) as auto-increment now that php-7 64bit is out - shouldn't it be time to move to bigint ? 2B products would overflow entity_id in catalog_product_entity - and no doubt break all _tmp memory in

[2016-09-21 23:21] ghost opened #6703 "\Magento\Catalog\Block\Product\Image structure problem, not possible to get product id"
Version 2.1.0, below is a structure problem in standard Magento, so not related to an own design problem, so in fact also a bug!

I have extended succesfully this class \Magento\Catalog\Block\Product\Image as follows:

namespace My module ..\My module ..\Block\Product;

class Image extends \Magento\Catalog\Block\Product\Image

and retrieved the registry object.

I can retrieve the 'current_categor

[2016-09-21 23:23] southerncomputer commented on #6415
Same problem with 700K products - have to alter table engine=innodb for that index process to complete. I suspect using MEMORY for the table is not always optimal in large catalog setups and should we really need those _tmp tables to default to type=memory ! It would seem just as slow as using a large mysql memory footprint backed by SSD storage as a better approach!

[2016-09-21 23:25] southerncomputer commented on #6699
What cache backend are you using? Varnish PLUS REDIS (SESSION/BACKEND) are the only functioning cache backends - built in file/zend based caching is broken!

[2016-09-21 23:56] heldchen commented on #5333
@windowbox our customer's content managers edited >10k products in the last few weeks and months and are still complaining about the "missing" lefthand submenu. an extension would be most welcome - we have not yet had the time to look into this due to more pressing pre/post-launch related stuff.

@pboisvert the "reduced form area" argument is kinda moot when the form is _limited_ in horizontal siz

[2016-09-22 00:06] pboisvert commented on #5333
i'll be sure to pass your feedback to the UX lead. My point was the revision was tested--not just blindly implemented. There may be other arguments in favor of the new design which i am not aware of--was just trying to reply that these are not done without merchant feedback as was being implied.

@annhudspeth please chime in here with the findings from the testing

[2016-09-22 00:15] heldchen commented on #5333
@pboisvert appreciated! I understood the point you were trying to make but just wanted to chime in to give some feedback we received from our "people in the field".

and to maybe add another data point: our product edit page currently has 16 subsections due to roughly 120 custom product attributes. quickly jumping from one section to another was really easy with the left menu, now not anymore - ju

[2016-09-22 00:45] nes710 commented on #4413
I no longer have this issue on Magento 2.1.

[2016-09-22 00:45] #4413 closed, assigned to rgoncharuk

[2016-09-22 00:51] nes710 commented on #5564
I've been experiencing this same issue on Magento 2.0.6 and Magento 2.1.

When doing a product import and putting 1 into the quantity column the products import with 0 quantity.

Also when doing a bulk update attributes in the products Catalog you cannot bulk change quantity on multiple products to 1, nothing happens.  When you click on individual products one by one and change quantity you can ch

[2016-09-22 01:45] quickshiftin commented on #4896
Hi @chriss-jordan, like @ruudniew I was using a `Setup` class outside of the setup. So I had this

[code]

I took @ruudniew's advice and changed it to

[code]

[2016-09-22 01:59] brideo commented on #6121
Hey @katmoon,

Is there a commit or work around we can use until the next release?

[2016-09-22 02:07] jernejh commented on #6663
True. Thank you!

[2016-09-22 02:56] sanjayjethva commented on #6671
Hello @mgomez-dgt
Thanks for your answer but problem still exist if i can change the category url or name to say "test" or "demo". I am choosing random name but still it displays same error.
I am facing the issue when i change category name.

Thanks and let me know

[2016-09-22 04:06] piotrekkaminski commented on #6689
We are working towards something that can help standarize the environment. Hope to be able to share more details in near future. Regardless of that, screenshots/videos + version info help a lot to avoid back and forth.

[2016-09-22 04:53] deepthit57 commented on #4842
@tommypyatt
Hi, Yes issue still persists in current version of 2.1.1 which is a fresh installation

[2016-09-22 05:36] acharrex commented on #5626
Thanks for your feedback.
I will check that today.

[2016-09-22 06:34] benmarks commented on #6689
**_NB: this is an important topic, but I'm not sure we will leave it open; as OP notes, it is not an issue. If closed, I'm sure we'll post a public location for discussion & follow up.**_

@andidhouse Thanks for taking the time to bring this up. It's important. @fooman has [commented about this online](https://twitter.com/foomanNZ/status/778792731267047424) as well.

Regarding part of your stateme

[2016-09-22 06:49] romainruaud commented on #6336
Wow @southerncomputer you are probably the biggest website using ElasticSuite then and have probably gone further than us about catalog size.

Would you mind sharing your experience with the module to us by email ? (our email address is everywhere in the module files)

I faced the "Table is full" issue ! I did not even think to check the table engine... Thank you for the pro tip !

And if you are

[2016-09-22 07:13] sasilinux opened #6704 "Something went wrong Error in Product Catalog."
### Preconditions

### Steps to reproduce

1.  Disable Reviews Module in magento admin. Stores->Configuration->Advanced->Advanced.
2.  when i disable the Reviews module, i am unable to edit Catalog-> Products.
3.  Error: Something went wrong.
### Expected result

1.  I want to disable the review module and product needs to be edited.
### Actual result

1. Actual error while editing the product is

[2016-09-22 07:21] AntonEvers commented on #3535
Isn't it strange that the PDF's are dropped in the var root? I'd rather see them end up in a semantically named subdir or in the var/tmp dir.

[2016-09-22 07:27] veloraven commented on #6603
@hvstudio please identify which version of Magento this issue occurs on.

[2016-09-22 07:31] hvstudio commented on #6603
@veloraven hi,here
![768cfdae-7a02-11e6-863b-be60f3b4bc4f 1](https://cloud.githubusercontent.com/assets/15934350/18739958/5ec2610e-80a7-11e6-9955-ca5a5ced11c6.png)
i have described installation here https://github.com/magento/magento2/issues/6588

But this issue is in all versions at least same result is on Magento CLI version 2.1.0

[2016-09-22 07:34] krzysztofkacela commented on #6640
Hey, any fix for this issue?

[2016-09-22 07:59] SerhiyShkolyarenko commented on #3605
Reopened issue to clarify compatibility.

[2016-09-22 08:13] ihorkuzyk commented on #4945
Not fixed in 2.1.1, at least for enterprise. Ticket to support created.

[2016-09-22 08:18] #6430 closed, assigned to nobody

[2016-09-22 08:32] philipvandebriel commented on #6413
With this solution the Customizable Options will not work anymore. Can't add Customizable Options.

[2016-09-22 08:42] nmallepally commented on #6017
Hi @choukalos  appreciate for the response.

I have a 2.1.0 now and i updated to 2.1.1. which it did successfully via composer.
then I was putting my store into production mode.
I ran php -d memory=2G bin/magento deploy:mode:set production
It compile successfully, generates static content and then gives me an error.

New version of deployed files: 1474387324
..
Successful: 2384 files; errors: 3
Co

[2016-09-22 08:44] NadiyaS commented on #6621
Hi @aarondong2005 ,
how did you do refresh install? Please use `bin/magento setup:uninstall` (pay attention that after this command your DB will be cleaned) and then try to install Magento again. Or you can clean the cache and run `bin/magento setup:di:compile` again.

[2016-09-22 08:47] SerhiyShkolyarenko commented on #6236
@springimport redefining interfaces is not supported in Magento 2. Substitution of returned type would break all the extensions which use it.
If you need to add your data to the data interface, please, use extension attributes.

[2016-09-22 09:08] KevinMace commented on #5423
@flipflap have you checked your source code for the ESI tags? Magento might still be generating those tags and without Varnish you will have a missing nav.

[2016-09-22 09:08] voleye commented on #6505
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-22 09:08] #6505 closed, assigned to nobody

[2016-09-22 09:10] voleye commented on #6496
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-22 09:10] #6496 closed, assigned to nobody

[2016-09-22 09:11] voleye commented on #6491
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-22 09:11] #6491 closed, assigned to nobody

[2016-09-22 09:19] voleye commented on #6485
Hi @duongquyet could you please provide following information:
- Which magento version did you tried to install?
- How did you installed magento? (git clone, download zip, composer install)
- Which version of php and which extensions installed?

This looks like an environment issue. Please re-check your env with [Installation Guide](http://devdocs.magento.com/guides/v2.1/install-gde/install-quick-

[2016-09-22 09:19] voleye commented on #6482
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-22 09:19] #6482 closed, assigned to nobody

[2016-09-22 09:20] voleye commented on #6454
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-22 09:20] #6454 closed, assigned to nobody

[2016-09-22 09:22] arijit-de93 commented on #6699
@southerncomputer
I am not using any custom caching process. I am using the same Cache process of Magento 2.0.

Thanks

[2016-09-22 09:22] miakusha commented on #6704
Hi @sasilinux , thank you for your report
We've created internal ticket MAGETWO-58849 to address this issue.

[2016-09-22 09:33] voleye commented on #6431
Hi @Aartitops, could you please provide more details about attribute options:
- scope
- the value of setting "use in layered navigation" (this option has several posible values (show with no result, show with results - could you please check the behavior with different values?))
- does the attribute has values?

[2016-09-22 09:35] voleye commented on #6425
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-09-22 09:35] #6425 closed, assigned to nobody

[2016-09-22 09:44] alena-marchenko commented on #6384
Hi @ddznelad

We've created MAGETWO-58851 internal ticket regarding this issue.
Thank you!

[2016-09-22 09:45] SerhiyShkolyarenko commented on #6392
@bartek9007 there is a problem in your code

[code]

$cartItems never will be an array. This code causes an exception for me. Could you specify the code version which works from controller?

[2016-09-22 09:45] Taral-Patoliya commented on #6603
@veloraven This issue is also present in 2.0.7

[2016-09-22 10:02] jernejh commented on #2951
Any news regarding the "Advanced Search" as a **title** string? Problem still persists in 2.1.1 version.

[2016-09-22 10:15] antboiko commented on #6576
Hi @epadmin , it is not a Magento functionality to show a drop-down box with quantities of all products associated with that configurable product.

I'm closing this ticket since it's not a Magento issue.

Regards,
Anton.

[2016-09-22 10:15] #6576 closed, assigned to sevos1984

[2016-09-22 10:19] antboiko commented on #5478
Hi @matthijsleenen  @lewisvoncken ,
This issue was fixed and delivered to the develop branch. c9c4882
Please check if the issue is still reproducible for you on the develop branch
Thank you.

[2016-09-22 10:20] #5478 closed, assigned to nobody

[2016-09-22 11:41] oshmyheliuk commented on #5508
Hi @Tellfjord
Does this issue still exist?
I can't reproduce it.

[2016-09-22 11:55] lewisvoncken commented on #5478
@antboiko I installed M2 Enterprise but I got the error there. Is it possible that Enterprise can be udated with this bugfix?

[2016-09-22 12:02] oshmyheliuk commented on #4391
Hi @nowayyy36
Is this issue still reproduce?
If so, please write information about magento version and OS you used.

[2016-09-22 12:26] SerhiyShkolyarenko commented on #6278
The fix is merge to 2.0.x branch. Will be available on the next release.

[2016-09-22 12:26] Tristan-N commented on #5222
@DmytroRevischuk @andimov
I had this problem after updating from Magento 2.1 to Magento 2.1.1 (didn't had the problem after migrating from 2.0 to 2.1 btw).

Your solutions worked perfect for me as well. Thank you.

[2016-09-22 12:43] southerncomputer commented on #6699
I'd suggest implementing Varnish as a cache, it should reduce the problem points. It is known issue that the built in cache process for Magento 2 is not for production quality and causes pain-points!

See ticket https://github.com/magento/magento2/issues/3572 if you don't believe me!

[2016-09-22 12:52] cuiyang000 commented on #5478
Can confirm, and @lewisvoncken 's solution works!

[2016-09-22 12:55] paales commented on #6696
I believe this is also only partially implemented on product save from the backend, the importer isn't supported.

[2016-09-22 13:11] antboiko commented on #6696
Hi @Arkyden , I can't reproduce this issue on 2.1.1. Meta information is auto-generated using Product Name when creating a Product from the Admin. Please note, the editing of product name after the save doesn't affect the Meta description.

I would suggest using Export/Import for this.

Best,
Anton.

[2016-09-22 13:18] SerhiyShkolyarenko commented on #6432
@Giri-Happiest-Minds is it reproducible for you on 2.0.11?
I dropped unnecessary fields from your data and sent
to shipping-information:

[code]

To set-payment-information:

[code]

and everything worked OK on the latest develop branch.

[2016-09-22 13:36] antboiko commented on #5533
Hi @aunts  @mktudock . Can you please provide us with detailed step for reproducing this issue?

Thanks,
Anton.

[2016-09-22 13:39] tkacheva commented on #5423
@Ctucker9233
here is the CLI upgrade guide http://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-upgrade.html
please help us to improve it by referring to particularly confusing points.

[2016-09-22 13:43] AirmanAJK opened #6705 "Incorrect small image url returned from product helper"
I have installed a search autocomplete extension. I noticed that when products do not have an image associated, rather than showing the "No Image" result, it showed the broken link image square. I tracked the problem to the class "\vendor\magento\module-catalog\Helper\Product.php" in the function getSmallImageUrl().

If an image is added and then removed in Magento, the database value for the imag

[2016-09-22 13:45] annhudspeth commented on #5333
We developed a UX solution to this back in July but I'm not sure where it's prioritized.  Will resurface the thread.

[2016-09-22 13:56] veloraven commented on #6635
@dejan25 thank you for your report.
Please identify which version of Magento this issue occurs on.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-22 14:17] PascalBrouwers opened #6706 "Notice undefined index when changes swatch attribute"
### Steps to reproduce
1.  Create a text swatch attribute
2.  Change setting 'update product preview image' to 'Yes'
### Expected result
1.  No error
### Actual result
1. A notice error is shown of Swatches/Model/Plugin/EavAttribute.php line 177

[2016-09-22 14:30] PingusPepan commented on #6413
@philipvandebriel Yes, because it is not a solution, it just points to the file which causes the issue.
The real problem lies in the over usage of javascript in the admin area though.

[2016-09-22 14:32] SerhiyShkolyarenko commented on #5946
@sweikenb what are the steps after the installation? Which theme do you use? Are there any errors in browser console? What is server response on "add to cart" click, when request is sent?

[2016-09-22 14:44] paales commented on #5146
@oserediuk How does this need an update?

Getting this with New Relic enabled:

[code]

[2016-09-22 14:50] veloraven commented on #6575
@Bartlomiejsz what Magento Edition do you use? Enterprise or Community?
Customer custom address attributes are available in Enterprise edition only.
If you use this one, please contact the Support with your problem.

[2016-09-22 14:51] veloraven commented on #6579
@nagatan  what Magento Edition do you use? Enterprise or Community?
Customer custom address attributes are available in Enterprise edition only.
If you use this one, please contact the Support with your problem.

[2016-09-22 14:54] asemenenko commented on #6701
Needs to be fixed also in #4808  and #4092 at the same time.

[2016-09-22 14:55] veloraven commented on #6655
@Malansocosio , do I understand correctly that this issue is resolved and can be closed?

[2016-09-22 15:04] veloraven commented on #6655
@brody182 you should create separate issue for your problem formatting its description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
However I'm afraid that in your case it will be just closed as MacOS is not supported: [Magento technology stack requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements