[2018-05-12 02:28] bahramdavodi commented on #15150
@woshka
maybe you did somethings false. it's working fine with Persian language.
i had translated all stings. when you need persian language you can send a email to : info@magonex.com

![screen shot 2018-05-12 at 04 23 52](https://user-images.githubusercontent.com/18647834/39952666-66fc79d8-559c-11e8-8c25-3e11af11fd39.png)

[2018-05-12 02:45] mitcht commented on #15156
Where do these tickets go? Where’s the ticket system. I’m not a project team developer with access like that.

[2018-05-12 06:45] ravinders-121 commented on #14952
The problem is they created a new class

Magento\Framework\Mail\Template\TransportBuilderByStore

and correctly added FROM header to member "message" of the class.

But the "message" member of TransportBuilderByStore never used. Instead, the member "message" of the class TransportBuilder is getting used(which never updated with FROM email).

Moral of the story, they added FROM email correctly but

[2018-05-12 07:01] ishakhsuvarov commented on #4728
Thank you @marciowebjump for investigation.
We are closing this now per your comment

[2018-05-12 07:01] #4728 closed, assigned to nobody

[2018-05-12 07:14] ravinders-121 commented on #14952
@sashas777 I did the required change and created a pull request. Please merge it if it makes sense :smile:

[2018-05-12 07:27] sashas777 commented on #14952
@ravinders-121

Thanks - I updated the package.

[2018-05-12 07:36] magento-engcom-team commented on #4301
Hi @daniel-ifrim. Thank you for your report.
The issue has been fixed in magento/magento2#14428 by @adrian-martinez-interactiv4 in 2.2-develop branch
Related commit(s):
 - [dc687c6730ad87189e86867a30e5349388a10777](https://github.com/magento/magento2/commit/dc687c6730ad87189e86867a30e5349388a10777)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-12 07:36] magento-engcom-team commented on #12362
Hi @minlare. Thank you for your report.
The issue has been fixed in magento/magento2#14428 by @adrian-martinez-interactiv4 in 2.2-develop branch
Related commit(s):
 - [dc687c6730ad87189e86867a30e5349388a10777](https://github.com/magento/magento2/commit/dc687c6730ad87189e86867a30e5349388a10777)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-12 07:36] #12362 closed, assigned to nobody

[2018-05-12 07:36] magento-engcom-team commented on #13427
Hi @aeu. Thank you for your report.
The issue has been fixed in magento/magento2#14428 by @adrian-martinez-interactiv4 in 2.2-develop branch
Related commit(s):
 - [dc687c6730ad87189e86867a30e5349388a10777](https://github.com/magento/magento2/commit/dc687c6730ad87189e86867a30e5349388a10777)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-12 07:58] sRuchlewicz commented on #5730
#distributed-cd

[2018-05-12 07:58] magento-engcom-team commented on #5730
@sRuchlewicz thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-12 08:02] ishakhsuvarov commented on #14850
Closing this now, as it seems to be fixed in 2.3-develop and 2.2.4

[2018-05-12 08:02] #14850 closed, assigned to nobody

[2018-05-12 08:09] virtua-pmakowski commented on #7399
#distributed-cd hello, i am going take a look if can help a bit with that.

[2018-05-12 08:09] magento-engcom-team commented on #7399
@virtua-pmakowski thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-12 09:02] DanielRuf commented on #15156
@mitcht these are normal pull requests which reference normal issues of magento/magento2 afaik. Or what exactly do you mean?

[2018-05-12 10:05] vivekaris commented on #14977
i have tried solution of @sidchs but its not working.
delete app/design/frontend/{Vendor}/{theme}/Magento_Catalog/templates/product/view/gallery.phtml is best option.

[2018-05-12 10:25] vivekaris commented on #14977
i removed following code from my theme porto 3.0.4 .
app/design/frontend/{Vendor}/{theme}/Magento_Catalog/templates/product/view/gallery.phtml
its working
`/*
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscre

[2018-05-12 11:41] mageho commented on #14987
Good afternoon everyone,

Have you some news from Magento core team about this problem and the patch we need to fix it ?

Cheers

[2018-05-12 11:42] rajwiner opened #15170 "configurable products prices values are not displaying accurately in magento 2.1 after migration"
I have done migration for our site from magento 1.8 to magento 2.1. But after migration configurable products prices values are not displaying accurately. Please tell me how can i solve this problem. How can correct all products display prices accurately. Please help to solve this problem.

[2018-05-12 12:06] stetoc commented on #5968
I tried to reproduce error on 2.2, tried various combinations and everything looks fine, looks like error is not a thing anymore. Each download url is pointing to different file, every database dump is containing valid data reflecting real database state before backup.

[2018-05-12 12:32] gesell commented on #10499
Also works for me in 2.2.4. Thanks for the update @Cristiano81 !

[2018-05-12 13:33] genyuk commented on #8059
Same issue appeared in 2.2.4. @harrigo - Could you please provide the fix you applied to breadcrumbs.phtml file?

[2018-05-12 14:06] jissereitsma commented on #11114
I was confused here as well. I'm currently running Magent 2.2.4 and it seems to ship with PHPUnit 4, not 6: Running `composer depends phpunit/phpunit` tells me `magento/project-community-edition  2.2.4  requires (for development)  phpunit/phpunit (4.1.0)`. However, it turns out that my `composer.json` originates from way back and it mentions specifically to use PHPUnit 4. Once I started updating d

[2018-05-12 15:32] marco7319 commented on #5037
same problem with magento 223

[2018-05-12 16:31] magento-engcom-team commented on #7822
Hi @RedEnzian. Thank you for your report.
The issue has been fixed in magento/magento2#15063 by @gwharton in 2.3-develop branch
Related commit(s):
 - [d61fe1dd33e999a764a211194ee11f801db85ff6](https://github.com/magento/magento2/commit/d61fe1dd33e999a764a211194ee11f801db85ff6)
 - [9c4a26ff169fc5f0236955f214d1ed12e37c9633](https://github.com/magento/magento2/commit/9c4a26ff169fc5f0236955f214d1ed12e

[2018-05-12 16:31] magento-engcom-team commented on #9240
Hi @okorshenko. Thank you for your report.
The issue has been fixed in magento/magento2#9347 by @ldusan84 in 2.3-develop branch
Related commit(s):
 - [ca9e58264092cc56b993f65789e162612a7d5c9e](https://github.com/magento/magento2/commit/ca9e58264092cc56b993f65789e162612a7d5c9e)
 - [ed33b18dccffd27391501733961b73050b1e16ab](https://github.com/magento/magento2/commit/ed33b18dccffd27391501733961b73050

[2018-05-12 16:31] magento-engcom-team commented on #4301
Hi @daniel-ifrim. Thank you for your report.
The issue has been fixed in magento/magento2#14429 by @adrian-martinez-interactiv4 in 2.3-develop branch
Related commit(s):
 - [f82a17507acfa821e2bea543a99f072e1de1252f](https://github.com/magento/magento2/commit/f82a17507acfa821e2bea543a99f072e1de1252f)
 - [4d23b8b3c64e4e0276c0f562ceba36f2c5688e4d](https://github.com/magento/magento2/commit/4d23b8b3c64

[2018-05-12 16:31] magento-engcom-team commented on #12362
Hi @minlare. Thank you for your report.
The issue has been fixed in magento/magento2#14429 by @adrian-martinez-interactiv4 in 2.3-develop branch
Related commit(s):
 - [f82a17507acfa821e2bea543a99f072e1de1252f](https://github.com/magento/magento2/commit/f82a17507acfa821e2bea543a99f072e1de1252f)
 - [4d23b8b3c64e4e0276c0f562ceba36f2c5688e4d](https://github.com/magento/magento2/commit/4d23b8b3c64e4e02

[2018-05-12 16:31] magento-engcom-team commented on #13427
Hi @aeu. Thank you for your report.
The issue has been fixed in magento/magento2#14429 by @adrian-martinez-interactiv4 in 2.3-develop branch
Related commit(s):
 - [f82a17507acfa821e2bea543a99f072e1de1252f](https://github.com/magento/magento2/commit/f82a17507acfa821e2bea543a99f072e1de1252f)
 - [4d23b8b3c64e4e0276c0f562ceba36f2c5688e4d](https://github.com/magento/magento2/commit/4d23b8b3c64e4e0276c0

[2018-05-12 17:03] gwharton commented on #15152
Setting of the transport variables was broken for ages.

An attempt to fix it was made however the fix did not cover all aspects properly. The failed fix was released in 2.2.4.

Here's the original bug report. https://github.com/magento/magento2/issues/10210
Here is a link to the PR that partially fixed the problem https://github.com/magento/magento2/pull/12132
Here is a link to the pull request t

[2018-05-12 17:16] gwharton commented on #15122
@LifeAsBook I think I know what you mean, as I am seeing something similar. If I look in /var/lib/php/sessions

I see a session file created every second with the following contents.

`_session_validator_data|a:4:{s:11:"remote_addr";s:0:"";s:8:"http_via";s:0:"";s:20:"http_x_forwarded_for";s:0:"";s:15:"http_user_agent";s:0:"";}default|a:0:{}customer_admin|a:0:{}`

My install is 2.2.3

I see other v

[2018-05-12 17:16] stkristobal commented on #15121
I get the same. @rjtulloh are you also getting limits to attribute filters? Ours stops after 'Category':
[](https://i.stack.imgur.com/L5hcZ.png)))

[2018-05-12 21:37] magento-engcom-team commented on #13460
Hi @moehrenzahn. Thank you for your report.
The issue has been fixed in magento/magento2#15134 by @mzeis in 2.3-develop branch
Related commit(s):
 - [971e3033c66632d27d8ab05f73b9e1dd216cd9c3](https://github.com/magento/magento2/commit/971e3033c66632d27d8ab05f73b9e1dd216cd9c3)

The fix will be available with the upcoming 2.3.0 release.

[2018-05-12 21:37] magento-engcom-team commented on #5726
Hi @ngashokkumar. Thank you for your report.
The issue has been fixed in magento/magento2#15095 by @rogyar in 2.3-develop branch
Related commit(s):
 - [1e8ce468ec73a01be4dd7dee1c7a8c7bdffb5b92](https://github.com/magento/magento2/commit/1e8ce468ec73a01be4dd7dee1c7a8c7bdffb5b92)
 - [a267e2fcc088afbe1478c8033f8f8c8b9adbf89a](https://github.com/magento/magento2/commit/a267e2fcc088afbe1478c8033f8f8c8b

[2018-05-12 21:37] magento-engcom-team commented on #10395
Hi @keevitaja. Thank you for your report.
The issue has been fixed in magento/magento2#15142 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [41a99e114e79f167fa1a0548082bf573efa22516](https://github.com/magento/magento2/commit/41a99e114e79f167fa1a0548082bf573efa22516)

The fix will be available with the upcoming 2.3.0 release.

[2018-05-12 21:37] magento-engcom-team commented on #14855
Hi @taylored2. Thank you for your report.
The issue has been fixed in magento/magento2#15077 by @adrian-martinez-interactiv4 in 2.3-develop branch
Related commit(s):
 - [01b546fe244246dbe033217918e4d0e6c294b2d2](https://github.com/magento/magento2/commit/01b546fe244246dbe033217918e4d0e6c294b2d2)

The fix will be available with the upcoming 2.3.0 release.

[2018-05-12 22:22] pawelcit opened #15180 "Magento 2.2.4 - Custom modules in app/code are not working"
I've installed **Magento 2.2.4** with no sample data from `magento.com/tech-resources/download`.

The problem is that none of about **5 modules** (not installed by composer, just copied into) in `app/code` directory which I created manually is workig... They are enabled and I can list them using `module:status`. I've done `setup:di:compile` and cleaned cache. Im sure thah file privileges are ok. I

[2018-05-13 01:28] kirmorozov commented on #15156
I'm pushing this one forward: https://github.com/magento/magento2/pull/14637
Upgrade to 3.3.1 is really easy.

[2018-05-13 06:12] melwinVincent commented on #14762
Dear Magento Team.
Please support.

[2018-05-13 09:35] stapleup commented on #2892
I can confirm that this issue is still present in Magento CE 2.2.4. If you try to filter by multiple categories using the logical OR procedure explained in magento doc, it doesn't return any results, filtering by single category works just fine. If you try to use like condition type it still fails.

`Example URL:  http://magento.localhosst/rest/default/V1/products?searchCriteria[filter_groups][0][

[2018-05-13 10:42] DanielRuf commented on #15156
Do we have a backport for 2.2-develop?

[2018-05-13 11:23] AbedOmari opened #15181 "magento 2 install error"
I'm installation magento 2 on windows 10 using xampp server but facing this error
Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...
![magento](https://user-images.githubusercontent.com/26723838/39966708-37f0103c-56b9-11e8-8615-d32454e3a531.PNG)

[2018-05-13 14:28] mrkhoa99 commented on #5037
@RomanMichak can I work on this issue or you are still working on it?

[2018-05-13 15:29] pixiemediaweb commented on #13440
We need a solution for this too please.

[2018-05-13 17:18] #14865 closed, assigned to phoenix128

[2018-05-13 20:08] mitcht commented on #15156
Jquery is consumed mostly by the RWD theme. It should be backported all the way to 1.9

[2018-05-13 20:30] koralgolek commented on #15180
Problem was in configuration opcache in php.ini. Default opcache is disabled and Magento works.

[2018-05-13 20:30] #15180 closed, assigned to nobody

[2018-05-13 21:38] dnsv opened #15187 "Catalog product collection filters produce errors and cause inconsistent behaviour"
Here are three issues cramped in one, because they are all very similar, are caused by the same model and a possible fix should take all of them into account.

### Preconditions
Magento 2.2

**The code snippets should be executed in the crontab area, but some problems would likely occur in some other areas too.** I've used magento's sample data and n98-magerun's `sys:cron:run` command for easier t

[2018-05-14 02:28] anant-svc commented on #15164
Did you flush cache before checking?
From here: `System` > `Cache Management` > click `Flush Cache` button

[2018-05-14 02:31] Alex1844 commented on #15164
Yes, I have

[2018-05-14 04:02] nicework125 commented on #15151
Hi @sashas777

Porto demo sites have around 2MB of page size, but when I enable js bundling in production mode, it becomes 5M+.  I believe this bundling js issue is known since a long time ago?

[2018-05-14 04:51] Bhavik-kumar commented on #15048
@magento-engcom-team : Hi team,
I am waiting your response.

[2018-05-14 05:41] DanielRuf commented on #15151
2MB is too much in general. Bundling concatenates the files.

[2018-05-14 06:14] RomanMichak commented on #5037
@mrkhoa99 yes, sure, you can assign ticket to yourself and work on it

[2018-05-14 06:40] hanego commented on #14964
Based on gtlt solution, still not perfect but this query works too:
`update `sales_order_address` a  left join `customer_entity` b on a.customer_id = b.entity_id set a.email = b.email where a.email`

[2018-05-14 07:09] parthaccorin commented on #13440
Any update on this yet? I am facing the same issue after updating from 2.2.0 to 2.2.3

[2018-05-14 07:31] staywithabhi commented on #15152
Hi gwharton ,
Thanks for the help and references provided.Issue has been fixed by using **transportObject**.
Hope to see changes in latest magento release
Thank You.

[2018-05-14 07:31] #15152 closed, assigned to nobody

[2018-05-14 07:36] jignesh-baldha opened #15188 "Amazon Logs 404 error Magento 2.2.4"
### Preconditions
1. Magento Version 2.2.4
2. PHP Version 7.0.30
3. MySQL version 5.7.22
4. Apache/2.4.18 (Ubuntu)

### Steps to reproduce
1. I've installed latest Magento ver 2.2.4
2. When I click on below Amazon log menu it shows 404 error
- System > Amazon Logs > Client
- System > Amazon Logs > IPN

### Expected result
1. It should show Amazon Client and IPN logs.

### Actual result

1. ![2018_

[2018-05-14 07:57] ritschi72 commented on #15052
Any updates on that?

[2018-05-14 08:04] theodorhanu opened #15189 "Upgrade Magento version without extra bundled extensions"
I want to upgrade from v2.2.1 to 2.2.4 and my php version is 7.0.12
Since the 2.2.4 version comes prebundled with klarna/* modules which require php "^5.6|~7.0.13|~7.1.0"
I would like to not include those modules in my upgrade.

There should be a method to specify an unnecessary modules

.

### Preconditions
1. php 7.0.12
2. community edition 2.2.1

### Steps to reproduce
1. composer require magen

[2018-05-14 08:04] cscd98 opened #15190 "Magento crun runs more than once, eventually crashing server"
### Preconditions

1. Magento 2.2.4 CE and EE
2. PHP 7.1.7
3. MySQL 5.7.19
4. Amazon EC2 Instance - C5.xlarge, Ubuntu 16.04.4
5. Amazon RDS Instance - t2.small

### Steps to reproduce
First of all there are about 5 magento installations on this server..

1. Setup the cron to run from cron.d according to instructions given
2. Wait for the cron to execute
3. If the current cron has not finished exec

[2018-05-14 08:21] ghost opened #15191 "Getting issue for Item price on Cart and Checkout page for lo_LA locale"
I have a Magento with 2 store views, one is for en_US locale and other is for lo_LA locale. I created a new product and added it to the cart, everything works similar as it should, except Item price on Cart Summary for Cart and Checkout page.

### Preconditions
1. Magento version 2.2
2. 2 Store Views with different locale : en_US and lo_LA

### Steps to reproduce
1. Create a new product and add to

[2018-05-14 08:34] barjas commented on #12413
same issue "Admin Session Lifetime " is ignored and i have to login again after 15 minutes of inactivity

[2018-05-14 09:07] larsroettig commented on #6832
I think we should close this issue because of it doesn't actually break anything.

[2018-05-14 09:09] stevekarwacki commented on #13440
Can confirm this also exists in 2.2.3 enterprise.
@magento-engcom-team should I be reporting this to core enterprise support?

[2018-05-14 09:09] jignesh-baldha opened #15192 "Module Manager module grid is not working Magento 2.2.4"
### Preconditions
1. Magento Version 2.2.4
2. PHP Version 7.0.30
3. MySQL version 5.7.22
4. Apache/2.4.18 (Ubuntu)

### Steps to reproduce
1. I've installed latest Magento ver 2.2.4
2. Module Manager doesn't show module grid when going through below step:
- System > Tools > Web Setup Wizard > Module Manager

### Expected result
1. It should show manage module grid.

### Actual result
![2018_05_14_

[2018-05-14 09:12] pythondevshiv opened #15193 "magento"
I'm installation magento 2 (Magento-CE-2.0.2) on local server i mean on cpanel but facing this error, i did everything according to magento 2 installation requirement but at the end i don't know how to solve this error.

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

[2018-05-14 09:12] korostii commented on #4680
Apparently not.
I wonder if they could clarify their criteria for "much attention" though
IMO right now the dialogue I'm seeing in these "triaged" issues looks a bit comical if not absurd:
[code]

[2018-05-14 10:47] Drakas commented on #12399
@magento-engcom-team

[2018-05-14 11:28] kaushik-chavda commented on #15164
@magento-engcom-team please assign to me

[2018-05-14 11:44] Rakeshsivagouni opened #15195 "unable to send and receive emails from Magento2 site"
I have tried to install Magento 2.2.3 on AWS ec2 instance. magento site is working normally but I am unable to receive emails from Magento to reset the password for my admin account. I have installed mageplaza but I'm unable to find mazeplaza icon on my Magento site admin dashboard still I am facing issues with email sending option both customer and admin accounts.

[2018-05-14 12:32] sduif commented on #15047
We have the same issue with simple products that are shown in a dropdown attribute. "Display out of stock products" = yes, but they do not appear in the dropdown on a configurable product detail page.

Even after reindexing/clearing cache.

[2018-05-14 12:41] luckyraul commented on #14950
we have the same problem.

[2018-05-14 12:57] Damianbv commented on #14951
Same issue here, upgraded from 2.2.2 to 2.2.4:
![632a92da864a8f92dd2b53da5ae42120](https://user-images.githubusercontent.com/815721/39998648-0ac0ea72-5787-11e8-9799-c781eed2b4b2.png)

[2018-05-14 13:00] kanduvisla opened #15196 "2.2.4 : Magento 2 integration tests enables all modules"
By default, I disable a lot of modules in my Magento setup, simply because I don't need them and I wish to spare my resources for the modules that I do need.

But I am currently in the situation where my integration test suite always runs with all modules enabled, whereas I want the suite to run again the same configuration is my store (so with a bunch of modules disabled).

A simple example: I do

[2018-05-14 14:11] rossmc commented on #8852
I think the cleanest solution for this is to create a `_extend-child.less` in both your parent and child themes but keep the file empty in your parent theme and add it too your parent theme's `_extend.less` file.

[code]

[2018-05-14 14:21] nei opened #15199 "Updating Special price thought ProductRepository via API m2.2 EE does not save right value."
I am trying to update special_from_date/special_to_date/special_price on Magento ver. 2.2.3 EE via API on the same product update endpoint.

I see it is now part of the catalog Staging module and there are specific endpoints for this. but for what I've seen on the code it was supposed to work using observers on the product which I assume I should be able to pass via product update.

What I've done

[2018-05-14 14:35] gwharton commented on #10663
@ishakhsuvarov This bug has been marked as done, but it is not fixed in 2.2-develop.

To reproduce

Install Magento 2.2-develop
Install and enable test module from [TestTimeZone.zip](http://www.gwharton.me.uk/TestTimeZone.zip) (Details at start of issue)

Here i run it with three different timezones with the en_US locale
[code]
Now i run it again with three different timezones with the en_GB local

[2018-05-14 14:46] kanduvisla commented on #15196
As a (hopefully temporary) workaround for this I came up with a solution where I created a wrapper around the bootstrap (call it a "bootwrap" if you may).

So in my `phpunit.xml`, I set my boostrap to:

    bootstrap="./etc/bootstrap.php"

And `etc/bootstrap.php` looks like this:

    // Bootstrap wrapper, used to disable certain modules for integration tests.
    $ds = DIRECTORY_SEPARATOR;

    /

[2018-05-14 15:11] LifeAsBook commented on #15122
@gwharton no,i mean that  the cron will be create sesssion every minutes.this is bug

[2018-05-14 15:14] LifeAsBook commented on #15122
<job name="sales_send_order_emails" instance="SalesOrderSendEmailsCron" method="execute">
            <schedule>* * * * *</schedule>
        </job>
        <job name="sales_send_order_invoice_emails" instance="SalesInvoiceSendEmailsCron" method="execute">
            <schedule>* * * * *</schedule>
        </job>
        <job name="sales_send_order_shipment_emails" instance="SalesShipmentSendEmails

[2018-05-14 15:40] vijaymagento1 opened #15201 "Magento 2.2.2 version stock status(Quantity) attribute(quantity_and_stock_status) is not updating in catalog product admin grid"
Hi Magento2 Support tean,
I have added product attribute(**quantity_and_stock_status**) column in catalog product admin grid for the filtering the "In Stock" and "Out of Stock" products list.

### Preconditions
Magento 2.2.2

### Steps to reproduce
1. Go to Magento 2 admin => Stores => Attributes => Product => Search attribute code "quantity_and_stock_status".
2. Change "Advanced Attribute Propert

[2018-05-14 15:49] ishakhsuvarov commented on #10663
@gwharton I guess I moved it to done since linked PR was merged. Moved to To Do again.

[2018-05-14 15:57] danncoba opened #15204 "Paypal missing as payment method"
PayPal Express Checkout in magento 2.2.4 shows everywhere, on product page on small dropdown cart but not in actuall checkout page. I've tried all the solutions from the existing issues i don't fix anything

### Preconditions
1. PHP 7.0.8
2. Magento 2.2.4

Configure PayPal Express Checkout as you would, and the checkout option shows everywhere except the actual checkout, which is very problematic

[2018-05-14 15:57] callumstar opened #15205 "Upgraded to Magento 2.2.4 from Magento 2.1.9 - Locale and Store Configuration issues 'Store View' Locale not being used on frontend, 'Default Config' Locale being used instead"
Magento multi-store installations aren't using the store view specific values from the Store Configuration if they have been set to be different to the global 'Default Configuration'.

### Preconditions
1. Magento 2.2.4
2. Multi-storefront installation
3. PHP 7.0.28

### Steps to reproduce
1. Set global locale in Store Configuration in the admin (e.g. 'English (United Kingdom)')
2. On one of the i

[2018-05-14 16:07] Tyrianad commented on #4440
The issue is still persent, tested on Magento 2.2 and 2.3, clean install, Luma theme, single product.
Steps to reproduce are the same pointed at the beginning. As mentioned here #4684 the internal ticket should be MAGETWO-53459, i cannot find any fix for this issue.

[2018-05-14 16:13] DanielRuf commented on #15193
Which exact error?

[2018-05-14 16:32] muckee opened #15206 "Custom less contained within media queries is not compiled"
Developing a custom theme, I have created a file `new_products.phtml` which inherits styles from `new_products.less`, both stored within the `Magento_Theme` folder of my custom theme.
When writing styles in plain LESS or CSS, everything works fine, though this means, of course, that the default media queries will override any styles that I apply. However, when I attempt to include either the `.med

[2018-05-14 16:51] callumstar commented on #13526
Hi @vincentplc

Did you ever get round to fixing this issue, we are having the same issue on Magento 2.2.4 and wondered if you had found a fix for this at all please?

[2018-05-14 16:56] JoshuaFlood commented on #15206
I will add that I have created a workaround, answered in the aforementioned [stack exchange question](https://magento.stackexchange.com/q/225942/60221). However, this is not proper usage of the magento framework and so I cannot close the issue, though maybe my answer will aid in troubleshooting this more quickly.

[2018-05-14 17:01] anant-svc commented on #15164
@Alex1844  Can you point out where you expected the captcha on checkout page? using screenshot

[2018-05-14 17:03] callumstar commented on #15205
Further to the above, we have done some further research and no other language apart from en_GB gets compiled in the 'pub/static/' folder regardless of what language/locale we have set.

[2018-05-14 17:19] anant-svc commented on #15164
Please check Checkout as Guest captcha here:
![m2_15164_issue](https://user-images.githubusercontent.com/5195107/40012666-f994aada-57c8-11e8-8871-9f6de75a6738.png)

[2018-05-14 18:57] DigitalStartupUK commented on #15192
I too am able to reproduce this.

[2018-05-14 19:08] hostep commented on #15192
Hi guys, can you please take a look in the log files of your webserver (apache/nginx/...), because "Internal Server Errors" are getting logged over there. Those log files will probably give you more info about what's wrong.

[2018-05-14 19:09] hostep commented on #15188
Confirmed on a cleanly installed Magento 2.2.4 installation (it's good to see the QA departement of Magento is doing such a great job of testing new modules)

[2018-05-14 19:18] hostep commented on #15190
Join the club ;)
We've seen it happen as well on servers with multiple Magento installations.

Currently we are fixing it by prepending the cron command with the [`flock` command](http://www.tutorialspoint.com/unix_commands/flock.htm) which makes sure only a single instance of the same cron can run based on a lock file. We are currently using something like this:
[code]

[2018-05-14 19:28] hostep commented on #15189
All Magento modules will require at least PHP 7.0.13 in a future version (possibly 2.2.5?), see this commit for more info why: https://github.com/magento/magento2/commit/55657e12abfe3681022ed1e545cbdbb01cba712a

I'd recommend you to upgrade your PHP version (if possible) to at least 7.0.13
After that the upgrade should go fine.

But I can understand your frustration with all these new "Core Bundle

[2018-05-14 19:30] DigitalStartupUK commented on #15192
Nothing in Apache logs is being generated. I can't do a deep dive in this instance as I'm looking at a Shared Hosting Account that I use for Sandboxing. I don't particularly want to try and reproduce this on my Production/Dev Dedicated servers. Perhaps @jignesh-baldha can produce logs.

[2018-05-14 19:32] zhooravlik commented on #6495
The same error occurs on M2.2.3

[2018-05-14 19:40] gwharton commented on #15122
@LifeAsBook How have you determined that it is those jobs that are creating the sessions?

[2018-05-14 19:48] gwharton commented on #15122
Yesterday at around 20:00 I increased the session lifetime in php.ini from 30 minutes to 1 day. It certainly looks like I have something creating sessions on a regular basis. Funnily enough, around 4-5 sessions per minute.

![image](https://user-images.githubusercontent.com/30697781/40019632-af93f5d2-57b7-11e8-9d0f-5c0e15f258c8.png)

Last week I noticed that I had accidentally set session storage

[2018-05-14 19:57] misha-kotov commented on #14949
It seems like some changes might've happened on the PayPal side in the last few days to revert changes or fix the original issue. Can anyone confirm?

[2018-05-14 20:01] amelojunior commented on #14951
Same issue here with upgrade to 2.2.4

[2018-05-14 20:50] chequille commented on #14949
Hi Misha,
yes, it really seems so.
I aktivated the original code line for the url and removed the workaround and it is working.
To be sure, I tried three times and all orders went through.

It should have to be confirmed by the development team, but I guess other systems might have had the same problem and PayPal was informed and they fixed it.

So far my comments.
Regards
Chequille

[2018-05-14 21:09] Alex1844 commented on #15164
I expect it when checking out as a guest, someone who is not a registered customer at all.

[2018-05-14 22:50] efimov-ivan opened #15208 "Customer tax classes not working with new customer group"
I added new customer group and trying to set tax to it. But tax doesn't calculate on checkout page.

### Preconditions
1. Magento 2.2.3

### Steps to reproduce
1) I have 2 customer groups:
- Customer with tax class - "Customer"
- Trade Professional with tax class - "Traider"
<img width="1302" alt="screen shot 2018-05-15 at 04 09 59" src="https://user-images.githubusercontent.com/5754338/40026145-f

[2018-05-14 22:51] evagabond commented on #15024
First time noted this issue. Any fix?

[2018-05-15 00:14] J-Fricke commented on #14522
Any further info on this? Our marketing team has just pointed this issue has shown up since we deployed v2.2.2

[2018-05-15 01:26] LifeAsBook commented on #15122
yes ,this is bug. because the magento crontab job create sesssion every minutes.

[2018-05-15 01:30] magento-engcom-team commented on #14104
Hi @cdiacon. Thank you for your report.
The issue has been fixed in magento/magento2#15174 by @hostep in 2.2-develop branch
Related commit(s):
 - [20def1ee0124d163f57912006b86094fb5835c8d](https://github.com/magento/magento2/commit/20def1ee0124d163f57912006b86094fb5835c8d)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-15 01:30] #14104 closed, assigned to nobody

[2018-05-15 01:30] magento-engcom-team commented on #11354
Hi @pmoreno1980. Thank you for your report.
The issue has been fixed in magento/magento2#15144 by @sashas777 in 2.2-develop branch
Related commit(s):
 - [fd18240cca37c7ba2e1fed1a8caa35cca21f1049](https://github.com/magento/magento2/commit/fd18240cca37c7ba2e1fed1a8caa35cca21f1049)
 - [1336eeadfd5841db144d25a4e5cb1ae2e8479522](https://github.com/magento/magento2/commit/1336eeadfd5841db144d25a4e5cb1a

[2018-05-15 01:30] #11354 closed, assigned to nobody

[2018-05-15 02:25] raybog opened #15209 "Statement violates GTID consistency"
We are using the Google Cloud SQL (MySQL 2e gen. 5.7) server where we encountered the following problem, when trying to add subcategory.

This can be "solved" by setting Binary logging to disable at GCP but it is not a good practice.

### Preconditions
Clean installation of Magento 2.2.3 connected to Google Cloud SQL (MySQL 2e gen. 5.7) with Binary logging enabled.

### Steps to reproduce
Add subc

[2018-05-15 05:02] TBSMage commented on #15192
I am having same issue on Fresh Install of Magento CE 2.2.4 with PHP 7.1.6

JS is No Where (500) for `....../setup/index.php/moduleGrid/modules`

[2018-05-15 05:14] zuber11 commented on #10304
Set positive QTY(1) of product, staus should be enabled and stock should be in stock.

So for this product, ADD TO CART button will be appeared now. Place an order of this product by 1 QTY so the product will be out of stock. Now check the detail page and this time Add To Cart button will be there instead of Out Of Stock Button.

I don't why but this works for me. Try with yours

[2018-05-15 06:51] hostep commented on #14104
@cdiacon: please ignore the comment above, your issue was already fixed in 2.2.4 :)

[2018-05-15 06:53] dryadav opened #15210 "Advanced pricing pagination issue"
There is a product which has more than 25 tier price (customer group price) in Advanced Pricing section.

Magento creates the pagination automatically if there are more than 20 customer group price row.

If I click on a next/previous button of pagination, it works properly and navigates the pricing page. But if I enter any page number in the input field and press enter button, it keeps on loading.

[2018-05-15 07:07] sydekumf opened #15212 "can be deleted"
can be deleted, sry

[2018-05-15 07:26] cnviradiya opened #15213 "Alignment & overlapping Issue on every Home page & category page of Hot Seller section"
### Preconditions

1. Magento Version is 2.2.0
2. Php Version is 7.1.8
3. MySQL version is 4.7.0
4. Operating System Window 10Pro
5. Screen Resolution is 1920 x 1080

### Steps to reproduce

1. On Home page there are issue worth alignment for after the second row of product listing (Hot seller section)
2. On Category Page there are section name Hot seller that section also same issue

### Expected

[2018-05-15 07:30] #15212 closed, assigned to nobody

[2018-05-15 07:32] dthivanka commented on #13999
@michelve @magento-engcom-team
This is not a issue in Magento import export. In your import CSV there is another attribute as
SKU=CT12-EN001 in additional_attributes column. Import export process replaces it with your original SKU. You need to remove it from additional_attributes column.

Maybe Magento can throw an validation error in this scenario.

[2018-05-15 07:58] rwebstep commented on #4432
I also Same issue in version 2.2.3
any one have a solution pls let me know
Thanks

[2018-05-15 08:46] svbackend commented on #12260
ird2bcet4cse's solution works for me (Registration doesn't work in chrome, but in firefox it's working fine, fresh install magento 2.2-develop latests version) Thanks.

[2018-05-15 09:00] LSERRE commented on #15205
I got the same issue in 2.2.4, Default locale configuration is used for all stores view. This issue is really big.

[2018-05-15 09:31] hallleron commented on #14968
I tried to write a plugin for this issue, but I couldn't get it to work: Since the $emailConfig property is protected I cannot access that property in my plugin. Is it even possible?

[2018-05-15 10:15] DanielRuf commented on #14968
Why?

There is already an open PR which solves this. Please test it.

[2018-05-15 10:35] evagabond commented on #15192
Facing the same issues using Magento CE 2.2.4 & PHP 7.0.28

[2018-05-15 10:54] TBSMage commented on #15192
@hostep , No logs in apache.

[2018-05-15 11:17] tizzyguy87 opened #15214 "You did not sign in correctly or your account is temporarily disabled"
We are using Magento 2.2 community edition as headless commerce (exposed as rest APIs), My SQL on AWS. I am facing issue in our application.

When customers exceeds Max password limits, even customer resets password login is not working.

I have gone through blogs they told me couple of things. Below are few suggestions.

1. unlock user from command. Everywhere I found command to unlock admin user

[2018-05-15 11:32] sunilit42 commented on #15160
Hello @JeromeLa

Have you installed any module?

[2018-05-15 11:34] AndyJAllen commented on #4362
Experiencing this in 2.4. Upgraded from 2.3.

[2018-05-15 11:41] wintermute-84 opened #15215 "Saving Category always sets default store: bug in store manager."
### Preconditions
Magento 2.2.4

### Steps to reproduce
Saving/creating category programmatically
1. Try setting store using:
`$this->category->setStoreId(0); `
2. Try setting store using:
`$this->storeManager->setCurrentStore(0);`
3. Use Category Repository to save the object.

### Expected result
Category data should be stored under provided store, not default store.

### Actual result
`$this->c

[2018-05-15 11:57] cnviradiya opened #15217 "Contact Us Page two times same value of `ID` attribute value for email field"
### Preconditions

1. Magento Version is 2.2.0 and after installation complete upgrade sample data
2. Php Version is 7.1.8
3. MySQL version is 4.7.0
4. Operating System Window 10Pro
5. Screen Resolution is 1920 x 1080

### Steps to reproduce

1. Go to the contact us page
2. Open inspect element in chrome, It will automatic display the duplicate attribute value of email field
3. Contact us fields e

[2018-05-15 12:20] densen45 opened #15218 ""Confirmation request" email is sent on customer's newsletter unsubscription"
### Preconditions

1. PHP 7.0 + 7.1
2. Magento 2.2.4

### Steps to reproduce

1. Activate "Need to Confirm" for the newsletter subscription
2. Create a new customer
3. Subscribe to the newsleter
4. Confirm the newsletter subscription (email --> link)
5. Login as the previous created customer
5. Unsubscribe from the newsletter from the customer area

### Expected result

1. The customer is being un

[2018-05-15 12:26] theodorhanu commented on #15189
Thanks for clarifying the PHP version upgrade part. I upgraded it to 7.1

As for the bundled extensions, I still find the default inclusion in "core pack" unnecessary and inappropriate.

[2018-05-15 12:26] #15189 closed, assigned to nobody

[2018-05-15 12:32] msieprawski opened #15219 "Bundle item selections pagination"
### Preconditions
Magento 2.2.0 CE
PHP 7.024

### Steps to reproduce
1. Login to admin interface
2. Create bundle product
3. Create at least 31 simple products
4. Edit previously created bundle product
5. Create one bundle items option and add at least 31 products under it
6. Make sure that your bundle option has pagination (see image below)
![image](https://user-images.githubusercontent.com/65128

[2018-05-15 12:34] Ananth747 commented on #15150
Please close this issue as there is no issue in Magento code.

[2018-05-15 12:40] DanielRuf opened #15220 "2.2.4: navigation dropdown caret icon missing (jQuery UI)"
### Preconditions

1. create a demo store with Luma with the sample data

### Steps to reproduce

1. create store with sample data
2. hover over one of the navigation catories
3. inspect the parent navigation point

### Expected result

1. there should be a caret icon

### Actual result

1. there is no caret icon as the jQuery UI classes do not exist (anymore) and were never replaced

![bildschirm

[2018-05-15 12:44] alexishughes commented on #9646
This *seems* to be still happening in M2.2.3. This is the response I got:

{"messages":{"error":[{"code":500,"message":"Fatal Error: 'Uncaught TypeError: Argument 1 passed to Magento\\Quote\\Model\\Cart\\Totals::setExtensionAttributes() must be an instance of Magento\\Quote\\Api\\Data\\TotalsExtensionInterface, instance of Magento\\Quote\\Api\\Data\\AddressExtension given, called in \/home\/hypers

[2018-05-15 12:51] rohanppatil commented on #5063
In 2.2.1 it's at magento_root/vendor/magento/framework/Setup/InstallDataInterface.php

[2018-05-15 13:39] lano-vargas commented on #12655
I am having this issue on checkout when user has an account for the first time then log out add to cart then at checkout enter email and password hit login I get exactly as described PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Magento\Quote\Model\Cart\Totals::setExtensionAttributes()  ....
instance of Magento\Quote\Api\Data\AddressExtension given  ....

Is there a quick fix?

[2018-05-15 13:52] udayaccorin commented on #14211
Any update on this yet? I am facing the same issue in Quick View

[2018-05-15 14:07] sneha-sukumaran opened #15223 "Magento 2.2.3 Multisite - Category Is anchor Save error"
### Preconditions
1. PHP 7.1
2. Migrated form Magento 1.7 to Magento 2.2.4
3. Multi-currency and Multilingual site

### Steps to reproduce
1. Migrate multi-currency and multilingual site from Magento 1.7 to Magento 2.2.3
2. Goto an existing Category and try to change Is anchor from Yes to No
3. Click on save

### Expected result
1. Category Is Anchor should be saved to No

### Actual result
1. The

[2018-05-15 14:27] #14949 closed, assigned to nobody

[2018-05-15 14:43] balwant20 commented on #14283
hey @sunilwebcreation,
i am also facing exact same issue. I have also spend too much time on this and not got any solution.
have you or anyone else found any solution?

Preconditions
PHP Version    => 7.0.29
Magento ver.  =>  2.1.7

[2018-05-15 14:49] Karlasa commented on #15217
As show in error, its conflict between email and username field, not with newsletter block.
It's in conflict with popup login form username field

[2018-05-15 14:57] DanielRuf commented on #15024
@bap14 did you do some bisecting to pinpoint the actual regression?

[2018-05-15 14:58] springimport opened #15225 "Refactor docblock for variables"
### Preconditions
Docblocks in code like this:
[code]

### Expected result
I think it will be more correct:
[code]

Magento CE 2.2.3.

[2018-05-15 15:01] #15217 closed, assigned to nobody

[2018-05-15 15:11] springimport opened #15226 "Suggestion to replace platform comment to information block in issue template"
I suggest to add Q&A block to issue template with information about magento 2 version, php version, etc.
Good example is [Yii2 issue template](https://github.com/yiisoft/yii2/issues/new).
[code]

[code]

[2018-05-15 17:51] haalmaguer commented on #6424
@antboiko this shows as solved but I still have the same problem in magento.2.2.4.

[2018-05-15 19:11] rheckart commented on #14283
@balwant20 According to [this community post](https://community.magento.com/t5/Magento-2-x-Technical-Issues/PayPal-Payflow-Pro-not-working-in-Magento-2-2-2/m-p/93219/highlight/true#M4811) that I created & PayPal's response, PayPal needs to set up Reference Transactions on their end for your account. I am still waiting for them to enable this to test it. These are the instructions I received:

[2018-05-15 19:52] JeromeLa commented on #15160
No, I don't have any module installed

[2018-05-15 21:59] chriskim-kissusa commented on #5247
In my case, When I downgrade php version 7.1 to 7.0, It works for me.
hope this help.

[2018-05-15 22:22] andy17612 opened #15239 "2.2.4 Using Redis when going to System Web Setup Wizard will be Fatal error"
### Preconditions

1. PHP71
2. Centos 7
3. Magento 2.2.4

### Steps to reproduce

1. Using Redis
2. Going to System Web Setup Wizard will be Fatal error

### Expected result

1.  Who can help me, please, thank you!
2. when using 2.2.3 is working

### Actual result

1. Using Redis when going to System Web Setup Wizard will be Fatal error
I tried in `app/etc/env.php` edit `'save' => 'redis',` to `'s

[2018-05-16 00:57] vgelani commented on #15024
Have you checked my above response? It will be fixed in future when Amazon library version is updated in Magento.

For temporary, we change "Back","Back to register or connect an account" to "Back","Back" in below file then it will work

- vendor/amzn/amazon-pay-and-login-magento-2-module/src/Core/i18n/en_GB.csv:79
- vendor/amzn/amazon-pay-and-login-magento-2-module/src/Core/i18n/en_US.csv:79

the

[2018-05-16 01:43] bap14 commented on #15024
I saw your initial response.  If you read my first comment, you'd see that I said "This seems to me to be a deeper issue [...]".

You should be allowed to change "Back" to "Back to register or create an account" in your module translation.  What Amazon is doing is fixing the symptom, not the actual problem.  The problem can be interpreted in one of two ways:

1. There is no way to revert a transla

[2018-05-16 03:59] raybog commented on #5872
I also see this in 2.2.3, not sure why it says fixed in 2.2.x - where exactly was the fix done?

[2018-05-16 04:40] Bobstar040 commented on #15037
We have the same issue, is there any fix for this already?

[2018-05-16 05:28] ghost opened #15241 "Cart Price Rule: Action tab condition category table is not working"
We are facing problem on action condition. At the time to apply the rule for the specific category.  the category select table is not working.
### Preconditions

1. Magento Version 2.2.4 with sample data

### Steps to reproduce

1. Create cart price rule
2. From Action tab select category option to apply the condition and open category select table.
3. Category table will not open

### Expected re

[2018-05-16 05:30] Puru2016 commented on #4737
I am facing same issue in Magento ver 2.2.3,

My composer ver is:-
vendor\magento\magento2-base\composer.json => "pelago/emogrifier": "1.2.0"

Please suggest the solution for this

[2018-05-16 05:31] jignesh-baldha commented on #15192
@hostep Not found any error in apache logs.

[2018-05-16 06:38] dimple-ambab commented on #8933
We are facing deadlock issue during catalog_product_attribute reindexing.

It gives SQLSTATE[HY000]: General error: 2006 MySQL server has gone away error as MySQL database CPU is 100% utilized.

Magento version: 2.1.7
No of SKUs: 6 Lacs
No of Attributes: 110
No of stores: 4

Please suggest what can be done?

[2018-05-16 06:53] hostep commented on #15192
Ok, and how about the log locations of your Magento installation, for example in:
- `var/log/`
- `var/report`

Also: if you take a look in your inspector to the network tab and you see that request which throws a 500 error, can you take a look at the response if something interesting is in there?

[2018-05-16 06:57] kanduvisla commented on #15037
@Bobstar040 : my best guess would be to implement the fix as described by @brian-labelle at the moment. I hope that this will be fixed in M2.2.5+ / M2.3, but probably @magento-engcom-team could shed more light on this.

[2018-05-16 07:21] jigneshthummar opened #15243 "Possiblity to add dev , lib , setup, update folders to .gitignore"
Not sure if my request is valid or not

but some of above folders (i am sure about dev) are being updated by composer , shouldn' t it be excluded from versioning ? in that case?

[2018-05-16 07:47] jakoblundsted commented on #12612
Anyone have a fix for this yet? Im having troubles with all logged in users, and not just vat validated users.

[2018-05-16 07:49] oliverklee commented on #4737
@Puru2016 Does an upgrade to emogrifier ^2.0.0 solve the problem for you?

[2018-05-16 08:00] Sylvesterx1 opened #15244 "Magento 2: discount code does not work"
### Preconditions

1.  Magento 2.2.3
2. CentOs 7

### Steps to reproduce

1. Try adding the discount code in the last order step.

### Expected result

1.  When I add product to the basket and then select option "display basket" and add discount code then work correct.

- But when I add product to the basket and select option "proceed to checkout" and here select delivery address and try to add di

[2018-05-16 08:12] jokeputs opened #15245 "2.2.4: Wrong home page loaded in multi store setup"
### Preconditions
1. Magento 2.2.4
2. Stores > Configuration > General > Web > Url Options > Add Store Code to Urls: Yes
3. Add two websites with each a store view, for example:
a. An international website with a store view with store code 'international'. This is your default website.
b. A website for Belgium with a store view with store code 'nl_be'.
4. All websites use the same base url, for ex

[2018-05-16 08:37] robbertstevens commented on #13720
I fixed this by doing this in the function @KrzysztofMoskalik said:

[code]

@hostep  @gulshan-streammarket

[2018-05-16 09:31] sergei-sss opened #15248 "Possible issue in the category resource model _saveAttributeValue method"
### Preconditions
1. Magento 2.2.3 with sample data
Default state:

- The config setting "Enable Single-Store Mode" is disabled
- Identical Store View - 'Default Store View' (store_id = 1)

### Steps to reproduce
1. You can successfully save some category attribute from admin area for store_id = 1 using Store Switcher.
2. Try execute it programmatically:
[code]

### Expected result
1. Category att

[2018-05-16 09:39] balwant20 commented on #14283
Thanks @rheckart
It's working for me.you saved my lot of time.
Happy Coding...!!!

[2018-05-16 09:54] balwant20 commented on #14283
i have one doubt in my mind.i have paypal manager sandbox and live account.but i can only change settings for my sandbox account which you mentioned above but i cannot find **Set Up** under Service Settings in my live paypal manager account.so do you have any idea what is going wrong with my live account?i am attaching screenshot of my sandbox account and live account page.
![live_panel](https://u

[2018-05-16 10:12] umarch06 commented on #8508
For me this issue still exists on Magento 2.2.2 production mode, I am using Valet+ on MacOSX.
I changed production mode to developer mode and the issue was fixed. Issue happens on checkout and admin pages. On admin pages, if I open a page which has grid in it, the error is there and due to which grid data is not loaded, but for other pages error happens but page loads normally.

Tried to fix it as

[2018-05-16 10:37] luckyraul commented on #14950
I found a possible source of the problem.
It is not working with symfony/dependency-injection v3.3.16 and works well with v3.4.9

[2018-05-16 10:38] brijeshjp2006 commented on #3509
If You do payment on test mode for Paypal Payflow then go
vendor\magento\module-paypal\Model\Payflow\Service\Request\SecureToken.php

then find
$request->setAmt(0);
After you can change payment according you like
$request->setAmt(10.50);

[2018-05-16 10:39] brijeshjp2006 commented on #4063
If You do payment on test mode for Paypal Payflow then go
vendor\magento\module-paypal\Model\Payflow\Service\Request\SecureToken.php

then find
$request->setAmt(0);
After you can change payment according you like
$request->setAmt(10.50);

[2018-05-16 10:44] parnus01 commented on #12176
this issue come to me same and it disappear after magento flush cache. who has some solution?

[2018-05-16 10:49] tdgroot commented on #11209
@magento-engcom-team Can this issue be unassigned?

[2018-05-16 10:51] arnoudhgz commented on #7200
@magento-engcom-team  any news on this issue?

[2018-05-16 10:59] tizzyguy87 opened #15255 "Customer who exceeded max login failures not able to login even after reset password"
### Preconditions
1. Magento CE 2.2(Headless commerce), MySqlp, PHP V7
2. Magento deployed on AWS EC2

### Steps to reproduce
1. Enter invalid password more than default max limit(probably 6)
2. Reset password from admin console or using API for that customer
3. Customer receives email notification to reset password
4. Customer completes Reset Password and gives new password
5. Customer tries to l

[2018-05-16 11:01] pankaj506 commented on #11119
Hello,

I want to upgrade the magento version from 2.1.12 to 2.2.24, please suggest how can i proceeed ?

Thanks in advance!

[2018-05-16 11:44] Jeeva-Rathinam commented on #10219
Anyone have solution?

[2018-05-16 11:49] jonathan-nielsen commented on #4687
I'm having the same issue on 2.2.2 with varnish active

[2018-05-16 13:08] kamilmaliszewski commented on #7930
### Preconditions

1. Magento 2.2.3
2. PHP 7.1
3. MySQL ver 14.14 Distrib 5.7.21

### Steps to reproduce

1. Add one product with SKU "Test" and "categories" = "category A" (via CSV import or Admin Panel)
2. Prepare a update CSV with single product -> SKU "Test" and "categories" = "Category B"
3. Go to import module
4. Choose "Add/Update" option and select prepared CSV
5. Import it

### Expected r

[2018-05-16 13:26] callumstar commented on #15205
Hi @magento-engcom-team / @magento-team,

Is there any reponse on this at all? It seems to be a pretty fundamental issue for users with multi-store websites and one that doesn't look to have been tested overly well by yourselves. It looks like the "Default Configuration' is used for all store views when loaded regardless if you have chosen to 'Use Default Values' or not.

I'm seeing similar issues

[2018-05-16 13:29] callumstar commented on #15245
Hi @jokeputs,

Did you find a temporary workaround for this issue? I'm having a similar issue where the Locale options aren't being set for multi-stores due to this also (see #15205).

[2018-05-16 13:30] Detzler opened #15259 "Advanced Reporting > Unable to disable without providing Industry value"
### Preconditions

1. Magento 2.2.3
2. PHP7.1

### Steps to reproduce

1. Goto Backend > Stores > Configuration > General > Advanced Reporting
2. Save config (while Industry is not provided)

### Expected result

1. One should be able to save without providing the Industry value

### Actual result

1. Can't save. A message appears: "Please select a vertical."

After selecting an Industry (vertical

[2018-05-16 13:39] jokeputs commented on #15245
@callumstar , not yet. If you would undo the changes from commit https://github.com/magento/magento2/commit/c18e36b804fb3c86caa39d9976ce5db7497001a7, the right configuration values are loaded but that would be a very hacky workaround.

[2018-05-16 14:04] dankoz51 opened #15264 "Admin password reset link is wrong"
### Preconditions
The admin password reset url is hardcoded to use /admin not the store url
1. Admin URL is set to anything but /admin
2. Optionally you can import the Admin Password Reset email template in the admin, Modify the admin url, and retest with he same results.

### Steps to reproduce
1. Click reset password on the admin login screen
2. Recieve email
3. Click on the link in the email
4.

[2018-05-16 14:11] koopjesboom commented on #11119
Solved! (A while ago) sorry for the delay! Thank you Schoeny1....

[2018-05-16 14:13] #14598 closed, assigned to nobody

[2018-05-16 14:27] vincentwinkel commented on #3411
Still have this issue. Please show us the workaround, I'm bored to face stupid issues everyday with Magenshit.

[2018-05-16 14:43] POLYPERFORMANCE commented on #15037
Same issue here too with hundreds of products that contain quotes. I'll implement @brian-labelle 's fix.

[2018-05-16 14:46] koopjesboom commented on #11119
@pankaj506 (Wrong topic, i know) Google is your friend. Backup database and magento install dir first at all times. Be aware that you have no customizations or core file changes on default magento 2 files. If you have a test or staging area, test it first. If you don't? pray and hope it works out for you. Befor you proceed : if you changed your .htaccess file backup your .htaccess file. If you hav

[2018-05-16 14:56] adrian-martinez-interactiv4 commented on #11347
@ebaschiera @magento-engcom-team May I reopen related PR https://github.com/magento/magento2/pull/11602, as rejection reasons are being discussed?

[2018-05-16 15:02] Schoeny1 commented on #11119
@pankaj506 as @koopjesboom mentioned about the testing first, this is a must.  I always create a copy of the site before I run any upgrades because with Magento 2, you never know what will happen.  Document all of your steps and any changes needed to successfully upgrade to the new version.  You should then be safe to run the update on your live site.  If you are looking for someone to handle the

[2018-05-16 15:03] AndyJAllen commented on #15192
You guys can get further than I can. I get HTTP ERROR 500 when trying to just access the Web Setup Wizard on 2.2.4.

[2018-05-16 15:05] lewisvoncken commented on #15264
@dankoz51 I have tried to reproduce and I get the following outcome:

set a custom admin key like 'examplekey' result on Magento 2.2.4 is:

https://sample.com/examplekey/admin/auth/resetpassword/key/731bd6fa29578e8b4097441ff0bd07aeb3cd5c5fbc4018b7b19b167cb9d40f9b/?id=2&token=b142ae3c6228594471b9fd86397ec3

This link really returns a resetpassword view.

[2018-05-16 15:15] magento-engcom-team commented on #7399
Hi @thdoan. Thank you for your report.
The issue has been fixed in magento/magento2#15172 by @virtua-pmakowski in 2.2-develop branch
Related commit(s):
 - [abe727a3f74449c79f345fd1234ee2473c1fb576](https://github.com/magento/magento2/commit/abe727a3f74449c79f345fd1234ee2473c1fb576)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-16 15:15] magento-engcom-team commented on #14987
Hi @vovayatsyuk. Thank you for your report.
The issue has been fixed in magento/magento2#15178 by @vovayatsyuk in 2.2-develop branch
Related commit(s):
 - [34a871bad70e60b1277a28481fc597c79101ad90](https://github.com/magento/magento2/commit/34a871bad70e60b1277a28481fc597c79101ad90)
 - [1bcf41c77bb94f92aa90a84821a6cac207a28406](https://github.com/magento/magento2/commit/1bcf41c77bb94f92aa90a84821a6

[2018-05-16 15:15] #14987 closed, assigned to nobody

[2018-05-16 15:18] brandontamm commented on #11096
@orlangur - hi. I noticed you mentioned this is improper usage of composer. this is actually the exact recommended upgrade procedure by @magento-admin : https://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-upgrade.html

Magento documentation is broken. They have you composer create-project which creates a project with multiple dependencies in it's composer.json .. since the instruct users to c

[2018-05-16 17:29] mattyl commented on #14987
on one of our sites we use a custom menu - even with the fix it seems we are forced to use some sort of compatible menu, just for the breadcrumbs - that has to be crazy doesn't it - surely there should be a fall back option? Perhaps some sort of config setting?

[2018-05-16 17:45] sestebandelaf opened #15266 "DESCRIPTION: ONLY TWO CHARACTERS"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2018-05-16 17:54] kirkmadera commented on #13511
This is likely related to https://github.com/magento/magento2/issues/12362.

[2018-05-16 18:02] jlpetracca commented on #15244
Same

[2018-05-16 18:06] danemacmillan commented on #4330
@firestorm23 's [description](https://github.com/magento/magento2/issues/4330#issuecomment-243728148) is very on point.

Also, this issue is not fixed.

It's very easy to reproduce. Take my example:

1) Install a fresh version of M2 with empty DB, which M2 will then populate with schema data.
2) Install various *physical* themes.
3) Delete the entire codebase, keeping the DB intact. For various re

[2018-05-16 19:27] hostep commented on #15205
@callumstar: I tried to reproduce this on a cleanly installed 2.2.4 but couldn't reproduce (sorry, didn't test upgrading from 2.1.9), I performed following steps:
- Installed Magento 2.2.4
- Installed a French language pack using composer: https://github.com/Imaginaerum/magento2-language-fr-fr
- Ran `bin/magento setup:upgrade`
- Changed configuration for locale in 'Default Configuration' to 'en_GB

[2018-05-16 19:35] developerdoll commented on #14211
I had this issue on a VenusTheme as well. First make sure there aren’t any other sections calling the .price-box class before the price area/configurable items area, such as a product carousel in the megamenu or the related products.

I had also taken a solution from here, might not need it anymore as I had removed the price option in my mega menu's product carousel:
**II. Litres choose option not

[2018-05-16 19:59] hostep commented on #15215
@wintermute-84: just out of curiosity I checked the line you were referencing, but it looks fine to me, you didn't accidentally change it yourself while debugging perhaps?
See: https://github.com/magento/magento2/blob/2.2.4/app/code/Magento/Store/Model/StoreManager.php#L155

[2018-05-16 20:05] erikhansen commented on #4362
I'm leaving this here incase anyone looks at this issue thread and tries to figure out why the `debug.log` file is empty on 2.2.x: [Stack Exchange - debug.log file is empty in Magento 2.2.x](https://magento.stackexchange.com/questions/226311/debug-log-file-is-empty-in-magento-2-2-x/226312)

[2018-05-16 20:20] hostep commented on #15121
@rjtulloh & @stkristobal: it looks like there is a new PR which fixes this issue: https://github.com/magento/magento2/pull/15265

[2018-05-16 21:47] stkristobal commented on #15121
@hostep worked for me - thanks for the heads up!

[2018-05-16 21:58] lewisvoncken commented on #15264
@dankoz51 the url is not hard coded. It just references to the Controller Route of the Magento_Admin module

[2018-05-16 22:00] toddhainsworth commented on #13262
Hi @magento-engcom-team @erikkubica,

Do either of you have an update on a fix to the ProductRepository? I believe we're experiencing the same issue after upgrade to 2.2.3 and are currently trying to debug it.

Thanks

[2018-05-16 22:09] mehreeizad1 commented on #7869
I Just back .htaccess file to the folder pub/static/
Thanks ozziel
-----------------------------------------------------------
 ozziel commented on 7 Oct 2017
I must have erased the .htaccess file in /pub/static by accident...I've been looking for the answer for 3 hours! So if you're missing your theme on your admin and your store... check  for a versionXXXXXXXXXX in the firebug console. if so rec

[2018-05-16 22:35] evagabond commented on #15024
Thanks for your fix @vgelani & thanks for your deeper insight @bap14  regarding the flaw in the framework itself. The point you've raised is quite valid indeed.

[2018-05-16 22:56] erikkubica commented on #13262
Hey @toddhainsworth , **IF** I remember correctly the problem was with store_id of thumbnails after changing single store to multi store or vice versa. The same problem happened with setting tax_class from import. for some reason magento struggles with saving data to the correct store in some cases. But i am not 100% sure

[2018-05-16 23:18] bradhar opened #15268 "2.2.4: Product Image does not load if Product Name contains a double quotation mark"
### Preconditions

1.  Magento version 2.2.4
2. MySQL version 5.6.23
3. PHP version 7.0

### Steps to reproduce

1. Create a simple product with a product image.
2. Add at least one double quotation mark (ASCII 34: ") into the Product Name. Example product name: <<Picture Frame 3" x 5">>
3. Access the product page from the customer front end.

### Expected result

1. The product image should displ

[2018-05-16 23:37] keithbentrup commented on #15052
I believe this PR: https://github.com/amzn/amazon-payments-magento-2-plugin/pull/227 will fix the issue. In my testing on 2.2.4, the Amazon module would always bind the submit event even when the original Magento widget that it was overriding would not.

Incidentally, you may also see [this "Back" link issue](https://github.com/amzn/amazon-payments-magento-2-plugin/issues/222) with the installed A

[2018-05-16 23:55] LiamKarlMitchell commented on #14412
A possibly similar issue with Magento ver. 2.2.0
Installed extension if it matters: Free Gift for Magento 2

![image](https://user-images.githubusercontent.com/1968109/40149677-17867896-59c9-11e8-8050-8bbb4937e53c.png)

Going to try the work around.

[2018-05-17 01:06] scottsb opened #15270 "Cannot set billing address when paying with Braintree vaulted credit card"
### Preconditions
* Magento 2.1.12 or Magento 2.2.0
* Braintree Vault enabled as payment method
* Stores -> Configuration -> Checkout -> Checkout Options -> Display Billing Address On setting is set to "Payment Method"

### Steps to reproduce
1. Place an order with address "A" as billing & shipping. Use Braintree credit card as payment method and choose to save for later (i.e., add it to vault).
2

[2018-05-17 01:09] scottsb commented on #15270
This seems to be a pretty glaring issue that I'm surprised hasn't been reported already, so please let me know if this is an intentional design decision for some reason.

[2018-05-17 02:15] magento-engcom-team commented on #5768
Hi @dexterityzx. Thank you for your report.
The issue has been fixed in magento/magento2#15159 by @rogyar in 2.1-develop branch
Related commit(s):
 - [f4ae0e32abc1de2cfc5db23260df0e82ee68f75a](https://github.com/magento/magento2/commit/f4ae0e32abc1de2cfc5db23260df0e82ee68f75a)

The fix will be available with the upcoming 2.1.15 release.

[2018-05-17 02:40] mikenk2010 commented on #14803
You can ref here [#issue5294](https://github.com/magento/magento2/issues/5294#issuecomment-230490859)

[2018-05-17 03:39] toddhainsworth commented on #13262
Thanks @erikkubica - hmm sounds plausible, appreciate the details! :smile:
I'll provide some more information if I find anything worthwhile :hand:

[2018-05-17 04:38] huzanspenta opened #15271 "Currency Rate Update"
Hi,
I am unable to update the currency rate. Can someone please assist?

[2018-05-17 06:46] digvijay2017 commented on #10992
I have also noticed this issue. This issue occurring in Magento 2.1.12, Magento 2.2.1 and Magento 2.2.1 as well. Not only CSV, even Excel file also blank. @magento-engcom-team  can you reopen the issue?

![screenshot from 2018-05-17 12-13-43](https://user-images.githubusercontent.com/30342958/40160723-1dc1ef08-59cc-11e8-872f-5ef19d8ada43.png)

![screenshot from 2018-05-17 12-13-43](https://user-im

[2018-05-17 06:52] ritschi72 commented on #15116
If I try to open Web Setup Wizard via admin panel in Magento 2.2.4, it shows a blank page, without any error message or someting. Does somebody face that problem?

[2018-05-17 07:04] ritschi72 commented on #15052
Thanks for your answer, I had a look at the magento2/app/code/Magento/Catalog/view/frontend/web/js/catalog-add-to-cart.js , but there is already the code as you proposed ...

[2018-05-17 07:18] kamilmaliszewski opened #15273 "Old categories are not removed at CSV import"
### Preconditions

1. Magento 2.2.3
2. PHP 7.1
3. MySQL ver 14.14 Distrib 5.7.21

### Steps to reproduce

1. Add one product with SKU "Test" and "categories" = "category A" (via CSV import or Admin Panel)
2. Prepare an update CSV with single product -> SKU "Test" and "categories" = "Category B"
3. Go to import module
4. Choose "Add/Update" option and select prepared CSV
5. Import it

### Expected

[2018-05-17 07:29] inkobject commented on #8970
Perhaps a similar error in 2.2.3
Specifically trying to removing prodcut from a parent category but leaving it in sub category:
Current state:
Parent Cat
 -Sub Cat
   product here

Desired state remove Parent Cat:
 -Sub Cat
   product here

Result: Could not save product "205" with position 0 to category 3

I can move the product freely in subcategories. I just cant remove it from from the root.

[2018-05-17 07:37] robmacecs commented on #13746
Any update?

[2018-05-17 07:40] babyasishhira commented on #6103
I am also having same issue

[2018-05-17 07:59] joni-jones commented on #15270
@scottsb, this is not an issue. This is how the checkout flow is designed.
When a registered customer chooses a shipping address, this address also will be set as billing: `rest/default/V1/carts/mine/shipping-information`.
Not a payment method recognizes which address should be used as billing, it already set in a quote.

Anyway, you can change the billing address on the payment step. There are tw

[2018-05-17 08:05] arijit-de commented on #14409
I am getting the same problem in Magento 2.2.2

[2018-05-17 08:12] shreelathags opened #15277 "RuntimeException: Source class "\customerAddress" for "customerAddressMapper" generation does not exist"
I am new to magento development. I have installed Magento 2.2.4 enterprise edition, plus my private package.
I have a custom table and a REST api which returns rows from that table. This API works fine when I tested from postman.
I created a webapi testcase to test the new API. When I try to execute this test, I get this error:
RuntimeException: Source class "\customerAddress" for "customerAddress

[2018-05-17 08:39] HamiltonWang commented on #12203
#11055 is closed but the problem is still there. Workaround doesn’t work.

[2018-05-17 08:51] maniram1804 commented on #9138
I have **exact copy of magento 2** running on two different server.
### Server 1:
Able to receive data correctly as I requested.
![otherserver](https://user-images.githubusercontent.com/11077689/40167004-d0531b84-59b7-11e8-8f15-c3f166615556.JPG)

### Server 2:
I am getting error as:
`"message": "Consumer is not authorized to access %resources","parameters": {"resources": "Magento_Customer::custome

[2018-05-17 08:54] chris-pook commented on #11098
What happened with this? Still seems to be the case in Magento 2.2.3 but the issue has been closed with no explanation ?

[2018-05-17 09:01] TonyDeplanque commented on #11431
Bug Magento appeared by this commit https://github.com/magento/magento2/commit/e6805881c65805e93cc78b44143301e3623d3689#diff-04752a6e01927a8ce9c83bb79733380a

To fix him replace
`return ($firstLink->getSortOrder() < $secondLink->getSortOrder()) ? 1 : -1;`
by
`return ($firstLink->getSortOrder() < $secondLink->getSortOrder()) ? -1 : 1;`

[2018-05-17 09:01] inkobject commented on #15116
I have not seen this. I have been unable to move to 2.2.4 because a possible extension conflict.

[2018-05-17 09:35] rachit-m commented on #10078
This happens when apostrophe is present in the address.
Make
data-order-config='<?php /* @escapeNotVerified */ echo $block->getOrderDataJson() ?>'
as
data-order-config="<?php /* @escapeNotVerified */ echo $block->escapeHtml($block->getOrderDataJson()) ?>"

[2018-05-17 09:45] callumstar commented on #15205
Hi @hostep,

I did some further digging after your testing and I agree that this changes the locale on the frontend if you change the values for the 'Default' store (the store you have assigned as the default store view).

However, you missed a critical step, you need to have multiple storeviews not just 1 storeview. If you change the values for the 'Default' store then it is fine. I just tested c

[2018-05-17 09:49] LSERRE commented on #15205
Yes I agree with @callumstar. Moreover the problems occurs only in production mode I think.

[2018-05-17 09:55] hostep commented on #15205
Ok thanks for the additional information!

I'll do some more testing later on.
If this is turns out to be a new bug, then I don't recommend anyone upgrading to 2.2.4, because it would be a huge problem (issue #15245 also sounds like a complete disaster and will trigger all kinds of unexpected things to happen).

[2018-05-17 09:56] ankit-sf commented on #9280
Hi,
the same issue in the case of large images causes timeout error:

Error 503 first byte timeout
first byte timeout
Guru Mediation:
Details: cache-fra19143-FRA 1526474931 18927345314
Varnish cache server

[2018-05-17 10:17] nopenopenope commented on #11113
Same issue here, we've just upgraded from Magento 2.0.6. to Magento 2.2.4

[2018-05-17 11:32] rommelfreddy opened #15280 "Link\Product\Collection->getSize() returns wrong result"
### Preconditions

1. Magento version: 2.2.2

### Steps to reproduce

1. Load a grouped product.
2. get the associated product collection from the loaded grouped product
3. call the function "getSize" on the collection

### Expected result

1. The result should be the count of all products which are linked to the grouped product

### Actual result

1. the count of **all** grouped products.

i inve

[2018-05-17 11:48] keithbentrup commented on #15052
@ritschi72 You're misunderstanding. I'm saying you should be looking at the catalog-add-to-cart.js in the Amazon module included in 2.2.4.

[2018-05-17 12:02] Aza-an commented on #13139
Same Issue for English(United Kingdom)

[2018-05-17 12:07] VladimirZaets commented on #14140
Hi @RNanoware. Thank you for your report.
The issue has been fixed in magento/magento2#15161 by @RNanoware in 2.3-develop branch
Related commit(s):
 - [2d75f2522110d4bdf356b73145c2615596bca970](https://github.com/magento/magento2/commit/2d75f2522110d4bdf356b73145c2615596bca970)
 - [b32a33a804db93caf2d61a2b4bc69f9ca9a1d8b4](https://github.com/magento/magento2/commit/b32a33a804db93caf2d61a2b4bc69f9c

[2018-05-17 12:26] thomas-blackbird commented on #13959
Hi guys, this issue is related to the date of birth.
The value must be set unless you have disabled the field in the admin config.

[2018-05-17 12:29] #15280 closed, assigned to nobody

[2018-05-17 13:04] ritschi72 commented on #15052
Thanks a lot for your quick response, I had a look at the catalog-add-to-cart.js in the Amazon module and made the changes and it works! Thanks a lot!

[2018-05-17 13:18] orlangur commented on #15273
Well, add/update should definitely not remove previously assigned categories.

[2018-05-17 13:19] #15271 closed, assigned to nobody

[2018-05-17 13:31] GeorgeBogdanA commented on #10821
Philipp solution worked also on Magento 2.2.4 PHP 7.1.17 Debian 8.1 Plesk 17.8.11. Thanks

[2018-05-17 13:34] vtulse opened #15281 "How to add the multiple option_value for single option_id like"
I'm, using this for adding  the item into magneto cart form REST API
How to add the multiple option_value for single option_id like
{
 	"option_id" : "44",
 	"option_value" :"41, 42, 43"
 }

Here is whole json for add to cart
{
 "cartItem": {
 "sku": "PLBMUS",
 "qty": "1",
 "quote_id": "b99ee719aa5eab2e51370faa1550710f",
 "product_option": {
 "extension_attributes": {
 "custom_options": [
 {
 "opt

[2018-05-17 13:47] gody01 commented on #13325
The same issue here.
It looks like there is missing scheduled process to invalidate product related pages, when date rule should become active.

[2018-05-17 13:55] ishakhsuvarov commented on #8932
Hi @4quaternion
This dependency was removed now due to redundancy.
Thanks for collaboration.

[2018-05-17 13:55] #8932 closed, assigned to nobody

[2018-05-17 14:00] kamilmaliszewski commented on #15273
@orlangur "Add/Update" means:
- Add product when SKU not exist
- Update product when SKU exist
So "Add/Update" is for whole Product, it is not behavior for Categories...

If you thnik that:

Pleaes tell me how can I remove old category from product via CSV import. "Replace" will change the ID of products, so it is not solution.

[2018-05-17 14:07] ishakhsuvarov commented on #7283
Hi @afirlejczyk
Yes, you may do both ways, however migrating to use UI component is definitely a better approach.

[2018-05-17 15:09] hypershopbv commented on #5929
This issue is still present in 2.2.2 and 2.2.3. When will there be a fix?
Updating url_key on specific store view level does not update the url_path, which makes the url rewrite incorrect.

[2018-05-17 15:33] scottsb commented on #15270
@joni-jonesI don't quite understand what you're saying here:

[2018-05-17 15:34] EmilyPepperman commented on #14980
Here is a fix for you... I had the same issue
Fix for homepage URL if 404
DELETE from url_rewrite where target_path = 'catalog/category/view/id/1'
then
php7 bin/magento cache:clean
php7 bin/magento cache:enable

[2018-05-17 16:06] keithbentrup commented on #15052
@ritschi72 Please leave this issue open until it's fully resolved, so that others can find it, and that it's handled by the Magento team.

[2018-05-17 16:08] scottsb commented on #15270
@joni-jones: I should have put as a precondition that the "Display Billing Address On" option is set to "Payment Method." I know that you can change it to "Payment Page" to force the billing address to always display in its own section in checkout, but that shouldn't be necessary.

I'm not quite sure what you mean by this:

The point of the "Payment Method" option in the setting you mentioned is t

[2018-05-17 16:10] WebMDT-Marco commented on #12598
I'm having this same issue. It seems to occur when the BUNDLE PRODUCT has a large number of options (Doesn't occur with 2-3, but does with 7+).

What he means by "Add Options", refers to the Action Button under the heading "Bundle Items" where you can add items to the Bundle.

[2018-05-17 16:16] arijit-de commented on #13959
Yes, its related to DOB, not sure if its PHP version problem.

[2018-05-17 16:51] ravinders-121 commented on #14950
Received response from WeltPixel on the tweet

https://twitter.com/_redchamps/status/994258768929095680?s=12

"The new releases are out, all our products are now compatible with Magento 2.2.4"

[2018-05-17 17:05] erichagz commented on #14522
@peterjaap I have not figured it out. Talking to Google they had said it was definitely Magento and they wouldn't count the mis-represented bounce rate against me.

[2018-05-17 17:47] jcolas15 opened #15286 "Remind Email Template from admin sending incorrect store link"
We are experiencing an issue with using the 'Reset Password' Button when viewing a customer in the admin panel with a Magento installation with multiple stores. The correct store is not being set when generating the link (customer/account/createPassword) to be sent to the customer in an email.  Specifically in `vendor/magento/module-customer/Model/EmailNotification.php:298`, the defaultStoreId is

[2018-05-17 18:29] hostep commented on #15205
Alrighty, I was able to reproduce, interestingly enough it only happens when you have multiple websites, if you only have a single website but multiple stores or storeviews, the problem doesn't trigger.

So here are the steps to reproduce:
1. Setup a clean Magento 2.2.4 installation using composer
2. Run `composer require imaginaerum/magento2-language-fr-fr`
3. Run `bin/magento setup:upgrade`
4. G

[2018-05-17 22:31] ctadlock commented on #6659
@magento-engcom-team Any update on this? Its been a couple years...

[2018-05-17 23:15] ob7 commented on #12095
still a problem in 2.2.4.  Disabling Shopial_Facebook from the command line removes the error.

[2018-05-17 23:55] aabumuslimov commented on #5707
please check this commit https://github.com/magento-sparta/magento2ce/commit/976dbc76e110c7aa47178e5bcddf6320bac4ef43

[2018-05-17 23:57] wd7080 commented on #12601
This issue is never fixed. Any plan for fixing it?

[2018-05-18 00:07] J-Fricke commented on #8815
Any movement on this issue? We had this happening and then implemented a patch which sent over the requests in smaller batches, however, this sometimes ended up with way too many requests sent to varnish and overloaded the ephemeral ports eventually creating 500 errors on the site for users after getting slow to process. Our solution most likely will have to be to increase the `http_req_size` valu

[2018-05-18 01:33] versdivers commented on #13594
thanks for the tip @maximehuran

[2018-05-18 04:33] inkobject commented on #7589
alvaialex, unfortunately the extension you cite was not compatible with my 2.2.3 install. It trashed my front end. Oh well, at least I only installed it on a dev environment

[2018-05-18 04:56] tschirmer opened #15295 "Integration test fails with base 2.2.4"
### Preconditions
1. Magento 2.2.4
2. PHP 7.0.30
3. PHPUnit 6.2.4
4. MySQL 5.6.10
5. Ubuntu 17.10.1

### Steps to reproduce
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition /magento2
2. Go into the integration directory

`ec2-user@ip-10-6-0-4:/$ cd /magento2/dev/tests/integration`

3. Create tmp database in mysql
4. Create etc/install-config-m

[2018-05-18 06:05] syedsaleem086 commented on #14879
Hi @magento-engcom-team
Any update?

[2018-05-18 06:11] joni-jones commented on #15270
Yes, it's true. But

Actually, not. The payment method uses a billing address from the quote and in the most cases (if we are not talking about specific cases, like the billing address provided by a payment gateway) even doesn't "know" where and by "who" this address was set. That what I meant talking about addresses recognizing.

That's why we added extra configuration as `Display Billing Address

[2018-05-18 06:38] honeygarg commented on #12987
I am also getting the same issue of logout.

[2018-05-18 07:34] mslabko commented on #8933
@dimple-ambab , it can be another issue, not related to a deadlock. Please check after error happening status of section LATEST DETECTED DEADLOCK with command "SHOW ENGINE INNODB STATUS"
Also check all mysql error logs for reason of error

[2018-05-18 08:11] ecomchallenger commented on #7121
Hello there. I will look at this issue. #WroCD.

[2018-05-18 08:12] Gatzzu commented on #6411
#WroCD

[2018-05-18 08:13] wokisajn commented on #7121
Hi, everybody on #WroCD :)
This issue looks good

[2018-05-18 08:14] kacperchara commented on #4977
#WroCD

[2018-05-18 08:14] Gatzzu commented on #6411
#WroCD

[2018-05-18 08:15] MarekBo commented on #6832
#WroCD

[2018-05-18 08:16] mmularski commented on #3139
#WroCD :)

[2018-05-18 08:19] birmo commented on #9744
Hello, I am looking for #WrocCD

[2018-05-18 09:03] Hypo386 commented on #14056
#WroCD

[2018-05-18 09:03] magento-engcom-team commented on #14056
@Hypo386 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-18 09:15] mmularski commented on #3139
#WroCD :)

[2018-05-18 09:15] magento-engcom-team commented on #3139
@mmularski thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-18 09:36] nopenopenope commented on #7550
This bug is *still* there in Magento 2.2.4

[2018-05-18 09:39] christophe29222 opened #15303 "Import custom option from csv"
When i import product with custom product different from different store, all options disapear from all frontend store.

The data is correct in table 'catalog_product_option_type_title' in database for example.

### Preconditions
Magento 2.2.4 plesk Onyx last version

### Steps to reproduce

1) export product
2) custom 1 store custom option
3) Import product from csv / replace

When i test just wi

[2018-05-18 09:52] idziakjakub commented on #11477
#WroCD

[2018-05-18 09:53] magento-engcom-team commented on #11477
@idziakjakub thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-18 09:55] kacperchara commented on #4977
#WroCD

[2018-05-18 09:55] magento-engcom-team commented on #4977
@kacperchara thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-18 10:03] devantoni commented on #4063
I'm getting the same issue for Magento 2.19
When contacted PayPal they say the PayPal Australia processor doesn't accept zero authorization and asked to set the amount in $request->setAmt();
My question here is: if PayPal Australia won't accept zero authorization why can't Magento have a configuration to make an adjustment towards PayPal Australia at least? It's annoying to modify the core file /

[2018-05-18 10:22] #15277 closed, assigned to nobody

[2018-05-18 10:33] emiprotech commented on #15268
Hello Bradhar,
We have a solution for this issue ,you have face this issue its because of breadcrumb feature update.
 To solve this issue override **"breadcrumb.phtml"** file in your theme

path and replace with below code.
[code]
Actually it is updated in git Magento repo, but it is not applied in magento 2.2.4 downloaded ZIP ,that's why I can't submit pull request.
I hope it will help you !!.

[2018-05-18 10:43] dmanners commented on #15266
Hi @sestebandelaf I am going to close this issue as there is not enough information for us to validate or proceed with this issue. Please feel free to reopen this issue with more information such as a description of the issue and steps to reproduce.

Thank you.

[2018-05-18 10:43] #15266 closed, assigned to nobody

[2018-05-18 10:51] Crossmotion commented on #8404
I can confirm this problem still exists on Magento version 2.2.3

[2018-05-18 10:54] Crossmotion commented on #12914
Any news on the release date for this yet?

[2018-05-18 11:05] Peekmo commented on #6819
Hello,

I had the same issue and solved it by calling the endpoint with the `customer`'s token, it doesn't work with an `admin` token. Don't know if it's a bug or a feature, but... it works ^^

[2018-05-18 11:10] bpicho commented on #5191
Hello @magento-engcom-team as you requested, we tried to reproduce this bug, also using tips from (#5191 (comment)) but we could not reproduce described problem.

We tested this on to branches 2.2-develop and 2.1-develop.

[2018-05-18 11:35] Szpadyzor commented on #4053
#WroCD

[2018-05-18 11:35] magento-engcom-team commented on #4053
@Szpadyzor thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-18 11:37] wokisajn commented on #7121
#WroCD

[2018-05-18 11:38] magento-engcom-team commented on #7121
@wokisajn thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-18 11:40] orlangur commented on #15295
Are those added by some bundled extensions?

[2018-05-18 11:40] ecomchallenger commented on #7121
#WroCD

[2018-05-18 11:40] magento-engcom-team commented on #7121
@ecomchallenger thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-18 11:47] pyyick commented on #14977
@leekung method works although the attribute is different. My empty attributes are "arrows" and "showCaption" inside "fullscreen"

[2018-05-18 12:08] MrDaar commented on #12602
I've experienced similar issues...

[2018-05-18 12:11] Rich07082 opened #15306 "upgraded from 2.2.3 to 2.2.4 and Sendgrid no longer sending tranactional emails"
### Preconditions

1. magento 2.2.4
2. php 7.1
3.debian
Sendgrid(version 1.0.3)

### Steps to reproduce
Transactional emails were being sent when test orders were placed under 2.2.3 but after upgrading to 2.2.4 no longer being sent.

I can send email through the Sendgrid(version 1.0.3) admin extension and you can email from a product page(email friend).

Received the following error.

{"errors":[{

[2018-05-18 12:12] aasim110 opened #15307 "Shopping cart price rule not working correctly"
### Preconditions

1. I'm using magento 2.2.1
2. In our store 5 website setup and more then 80K products

### Steps to reproduce

1. I have created cart rule for free shipping, in my cart rule I have added multiple condition for different brands
2. check this screen-shot fore more information about multiple condition
Screenshot : https://prnt.sc/jjhw1s

![vpmrhf3zqvavz_nerypkhg](https://user-image

[2018-05-18 12:13] MrDaar commented on #8933
I've experienced similar issues...

[2018-05-18 12:37] Sylvesterx1 commented on #15244
@jlpetracca you have the same bug ?

[2018-05-18 12:46] alexbogias commented on #12914
Any news on this @vasilii-b?

[2018-05-18 12:46] DanielRuf opened #15308 "extraneous margins on product list and product list items"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. open list view of products on a page
2. inspect the list `.column.main .product-items` and one product `.products-list .product-item`

### Expected result

1. there should not be any extraneous styles

### Actual result

1. there are negative and positive margins which do nothing combined

The following code would remove it:
[code]

I

[2018-05-18 12:48] jdubbya commented on #8815
@J-Fricke We also received a patch that separated the invalidation request into smaller batches and quickly discovered that every time the cron jobs run a PURGE request with almost every active product in the catalog was being sent to the Varnish server for processing. This happens even when there are no updates happening in the admin or via the API. Separating the large PURGE requests into batche

[2018-05-18 12:50] RishiMagento commented on #14601
We are facing a similar issue.
Magento version: Enterprise 1.13
PHP version: 5.4.45

Any updates/patch/quick fixes on this?

Thanks!

[2018-05-18 12:55] snoroozi commented on #14601
Ours ended up being related to webgility unify module that was updating our
inventory from our quickbooks system.  Do you use that module?

On Fri, May 18, 2018 at 8:50 AM RishiMagento <notifications@github.com>
wrote:

[2018-05-18 13:03] PierreLeMaguer opened #15311 "Bundles Prices different between the price in the front and the price in the index price table"
I have a difference of 0.01€ between the price of some bundle products front and index table.

### Preconditions

1. Magento 2.1.12

### Steps to reproduce

1. Have one simple product at 11.95€ and another at 6.45.
2. Configure a bundle product with these two simple products (use multiselect input type).
3. Set the special price of the bundle product at 90%
4. Index product prices

### Expected re

[2018-05-18 13:06] Ylmzef commented on #14667
Same here!

[2018-05-18 13:30] jorgb90 commented on #11882
Same problem here!

[2018-05-18 13:30] utklasad commented on #14667
The issue is definitely related to Chrome.

[2018-05-18 13:54] DanielRuf opened #15319 "misleading data-container in product list"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. inspect the product list and see `data-container="product-grid"`

### Expected result

1. `data-container="product-list"`

### Actual result

1. `data-container="product-grid"`

[2018-05-18 13:57] jchesko commented on #14948
We are also seeing this issue.

[2018-05-18 14:10] jorgb90 commented on #8795
Same issue hier with 2.2.4..

[2018-05-18 14:14] magolovanov opened #15321 "Magento 2.1.8 oAuth authentication fails when activating an integration"
### Preconditions

1. Magento 2.1.8 CE installation
2. PHP 5.6+
3. MySQL 5.6+

### Steps to reproduce

1. Configure a test integration Web site (let it be testmagento2site.com) with the following PHP scripts (as described in https://devdocs.magento.com/guides/v2.1/get-started/authentication/gs-authentication-oauth.html):

- callback.php:

[code]

- identity.php:

[code]

2. In the Magento 2.1.8 CE

[2018-05-18 14:17] jacobsenj commented on #8897
This is still an issue in 2.2.4

[2018-05-18 14:29] dmanners commented on #11477
Hi @idziakjakub thank you for the pull request. I will reopen this task and it will be closed once the pull request is accepted.

[2018-05-18 14:35] DanielRuf opened #15323 "limiter float too generic"
### Preconditions

1. Magento 2.2.4

[code]
### Steps to reproduce

1. inspect toolbar in product list
2. compare styles of `.limiter` and `.pages`

### Expected result

1. `.limiter` should have the same parent selectors like `.pages` to prevent clashes between styles and layouts

### Actual result

1. `.limiter` is too generic and is used as single selector for floating the element

[2018-05-18 15:25] andyexeter opened #15325 "Unable to edit variation SKUs in bulk for configurable product"
### Preconditions
Magento v2.2.3

### Steps to reproduce
1. Create a configurable product
2. Create configurations from attributes and values

### Expected result
SKUs for configurations should be editable in bulk, rather than having to go into each simple product and update there.

### Actual result
SKUs for configurations are generated dynamically based on the parent product SKU and the selected

[2018-05-18 15:39] BabliDey opened #15327 "We can't generate the sitemap right now Error in magento 2.1.8"
### Preconditions

1. Magento 2.1.8
2. PHP Version 7.0.29

### Steps to reproduce

1. Enabled XML sitemap from store> configuration > catalog > Xml site map
2.  Set Add Images into Sitemapto none in Product image option
3. In magketing > Seo & Search > Site Map > Add new set file name sitemap.xml and path to / then clicked on save and genrate.

### Expected result

1. Sitemap.xml file should be ge

[2018-05-18 15:53] infortis commented on #14968
I've tested it in clean Magento 2.2.4 and this fix https://github.com/magento/magento2/commit/0dec988872e175e568c2bf4bb29548ab7a4698e5 removed the issue.

[2018-05-18 16:12] ravinders-121 commented on #13493
Hey @stephan-cream @timpea

We at RedChamps have a Magento 2 extension(https://redchamps.com/auto-assign-guest-orders-to-customer-magento-2-extension.html) which can handle both of below cases

1) **A user placed several orders as a guest and then decided to signup:-** Extension will assign all his orders and billing, shipping address to his account during signup.

2) **A registered customer by mi

[2018-05-18 16:15] magento-engcom-team commented on #10210
Hi @diybook. Thank you for your report.
The issue has been fixed in magento/magento2#15038 by @gwharton in 2.1-develop branch
Related commit(s):
 - [9a95dae80232792eb5298b240f86b342c70a7341](https://github.com/magento/magento2/commit/9a95dae80232792eb5298b240f86b342c70a7341)

The fix will be available with the upcoming 2.1.15 release.

[2018-05-18 16:27] arijit-de commented on #13959
Which PHP version you are using?

[2018-05-18 16:58] InternetMedicineMan commented on #7931
On 2.2.3 still getting this issue regularly it seems. I just replicated the issue myself and noticed I had 67 cookies for the primary domain. Cleared them and everything worked again, but I'll be broken next week again. Primarily happens with people on staff that also login to admin, but seems to occur with customers also. We have a busy store and it's kind of rare but still several times a day. T

[2018-05-18 17:33] arijit-de93 opened #15328 "Invoice created via API not registered as Invoice in Magento"
### Preconditions

1. Magento 2.2.4
2. Magento 2.4-develop
2. PHP 7.4
3. MySQL 8
4. Ubuntu

### Steps to reproduce

1. Create a payload like the following:-
    {
"entity": {
"orderId": 2,
"storeId": 1,
"billingAddressId": 1,
"shippingAddressId": 1,
"totalQty": "1",
"items": [
{
"orderItemId": 2,
"productId": 1,
"sku": "Nokia 1508",
"name": "Nokia 1508",
"qty": "1",
"price": "1599.00",
"row_total"

[2018-05-18 17:55] rtnet-pl commented on #12273
Just struggled with running Magento 2.2.3 on PHP 7.2.5 and it seems to be all right and runs really fast.

Fixes i made:

/vendor/magento/framework/View/Design/Theme/ThemeList.php:237 replace:
[code]
with:
[code]

/vendor/magento/framework/Session/SessionManager.php:129 replace:
[code]
with:
[code]

/vendor/magento/module-backend/Block/Menu.php:390 replace:
[code]
with:
[code]

/vendor/magento/mod

[2018-05-18 18:46] jonshipman commented on #15121
Just a note, with my build I needed to apply the fix to buildHashChildren in the next method.

Here is my alternative fix
https://github.com/magento/magento2/pull/15330/commits/6e57b657f2f05ad54927c116b941086f61c11a4e

[2018-05-18 22:55] mokadev commented on #12221
You have to modify the ga.phtml file to get the ecommerce tracking because as @ravinsky said you can't use .lenght on an object :

[code]

[2018-05-18 23:36] aabumuslimov commented on #5570
Find the solution in https://github.com/magento/magento2ce/commit/f0655b0bde5065b0ade3df9f01178b549fc20999

[2018-05-19 03:27] sanjay-wagento commented on #14038
I am working on this at #dmcdindia

[2018-05-19 04:09] sunilit42 commented on #10772
Seems like it is fixed

[2018-05-19 04:11] arijit-de commented on #5013
I am working on this at #dmcdindia

[2018-05-19 04:11] magento-engcom-team commented on #5013
@arijit-de thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:17] sanjay-wagento commented on #14351
I am working on this at #dmcdindia

[2018-05-19 04:27] sunilit42 commented on #13845
@pratikrgandhi
seems like working in latest version

[2018-05-19 04:30] tschirmer commented on #15295
We're Magento developers of 7years, so have 4 custom extensions but they don't interact with the core tax classes. They are independent database tables and grids for some custom data storage.

[2018-05-19 04:33] sanjay-wagento commented on #14351
@magento-engcom-team , I cannot reproduce the issue in the latest 2.2-develop branch (Magento ver. 2.2.6-dev)

[2018-05-19 04:34] maniprakash commented on #5071
Working on #dmcdindia

[2018-05-19 04:34] magento-engcom-team commented on #5071
@maniprakash thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:36] sunilit42 commented on #10772
I am working on this at #dmcdindia

[2018-05-19 04:36] magento-engcom-team commented on #10772
@sunilit42 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:36] sunilit42 commented on #10772
I have verified and its working fine with 2.2 branch

[2018-05-19 04:38] sanjay-wagento commented on #14063
I am working on this at #dmcdindia

[2018-05-19 04:40] rahul-kachhadiya commented on #5316
I am working on this at #dmcdindia

[2018-05-19 04:40] magento-engcom-team commented on #5316
@rahul-kachhadiya thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:40] routbiplab commented on #11986
I am working on this at #dmcdindia

[2018-05-19 04:40] magento-engcom-team commented on #11986
@routbiplab thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:40] jayankaghosh commented on #13480
I am working on this at #dmcdindia

[2018-05-19 04:41] magento-engcom-team commented on #13480
@jayankaghosh thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:44] KalaiarasanSeetharaman commented on #14071
I am working on it #dmcdindia

[2018-05-19 04:44] magento-engcom-team commented on #14071
@KalaiarasanSeetharaman thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:46] patelnimesh1988 commented on #5037
I am working on this at #dmcdindia

[2018-05-19 04:46] magento-engcom-team commented on #5037
@patelnimesh1988 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:48] solwininfotech commented on #12240
"I am working on this at #dmcdindia”

[2018-05-19 04:48] magento-engcom-team commented on #12240
@solwininfotech thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 04:52] chirag-wagento commented on #5927
I am working on this at #dmcdindia

[2018-05-19 04:53] magento-engcom-team commented on #5927
@chirag-wagento thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:02] parthipanpargunan commented on #5929
Working on #dmcdindia

[2018-05-19 05:02] magento-engcom-team commented on #5929
@parthipanpargunan thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:02] sunilit42 commented on #10687
I am working on this at #dmcdindia

[2018-05-19 05:02] AnshuMishra17 commented on #14171
I am working on this at #dmcdindia

[2018-05-19 05:04] patelnimesh1988 commented on #14071
I am working on this at #dmcdindia

[2018-05-19 05:06] Madhumalak commented on #6305
I am working on this #dmcdindia

[2018-05-19 05:06] magento-engcom-team commented on #6305
@Madhumalak thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:06] wagento-bhavin commented on #6299
I am working on this at #dmcdindia

[2018-05-19 05:07] Aswathy1993 commented on #14420
I am working on this at #dmcdindia

[2018-05-19 05:07] magento-engcom-team commented on #14420
@Aswathy1993 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:07] udayankoliya commented on #3139
I am working on this at #dmcdindia

[2018-05-19 05:07] magento-engcom-team commented on #3139
@udayankoliya thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:12] monikachintu commented on #14377
I am working on this at #dmcdindia

[2018-05-19 05:13] magento-engcom-team commented on #14377
@monikachintu thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:27] vishal-7037 commented on #13428
I am working on this at #dmcdindia

[2018-05-19 05:27] magento-engcom-team commented on #13428
@vishal-7037 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:27] Yogeshks commented on #10663
I am working on this at #dmcdindia

[2018-05-19 05:31] shaandg commented on #13419
"I am working on this at #dmcdindia

[2018-05-19 05:31] magento-engcom-team commented on #13419
@shaandg thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:34] sunilit42 commented on #10687
@isavchuk-magento

I have verified with Magento 2.2, it is working fine.

[2018-05-19 05:34] sunilit42 commented on #10772
I have verified and its working fine with 2.2 branch

Proof :- https://www.screencast.com/t/ccogxeknw

[2018-05-19 05:34] #10772 closed, assigned to sunilit42

[2018-05-19 05:36] Puru2016 commented on #4737
I have changed "pelago/emogrifier": "1.2.0" to "pelago/emogrifier": "2.0.0", and update the composer and then recompile the store , still same issue.

[2018-05-19 05:37] popatkaran commented on #12655
Working on #dmcdindia

[2018-05-19 05:37] magento-engcom-team commented on #12655
@popatkaran thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:39] NamrataChangani commented on #14024
I am working on this at #dmcdindia

[2018-05-19 05:42] amjadm61 commented on #13793
I'm working on it at #dmcdindia

[2018-05-19 05:42] magento-engcom-team commented on #13793
@amjadm61 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:50] JancyAbraham commented on #13766
I am working on this at #dmcdindia

[2018-05-19 05:50] magento-engcom-team commented on #13766
@JancyAbraham thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:52] athulvijayan commented on #14134
"I am working on this at #dmcdindia”

[2018-05-19 05:53] magento-engcom-team commented on #14134
@athulvijayan thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:53] ashokramji commented on #14134
I am working on this at #dmcdindia

[2018-05-19 05:53] magento-engcom-team commented on #14134
@ashokramji thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:56] balaganeshg commented on #13445
I am going to work on this issue #dmcdindia

[2018-05-19 05:56] magento-engcom-team commented on #13445
@balaganeshg thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 05:58] amit24029898 commented on #13278
I am working it #dcmcdindia

[2018-05-19 06:03] sunilit42 commented on #13910
http://imagizer.imageshack.com/img922/4011/Q72vLf.png

i checked 2.2 and it is working fine.

[2018-05-19 06:03] #13910 closed, assigned to nobody

[2018-05-19 06:04] arshadpkm commented on #10687
@sunilit42   Have you tested on Magento 2.1.8

[2018-05-19 06:04] arijit-de commented on #13954
I am working on this at #dmcdindia

[2018-05-19 06:04] arshadpkm commented on #10772
@sunilit42  Have you tested on Magento 2.1.7 ?

[2018-05-19 06:06] sunilit42 commented on #13952
I am working on this at #dmcdindia

[2018-05-19 06:08] maniprakash commented on #5071
@eric128 Followed the steps as per your instructions. But can't reproduce this issue in the 2.2.0 version.

[2018-05-19 06:08] ashokramji commented on #14007
I am working on this at #dmcdindia

[2018-05-19 06:13] ashokramji commented on #14296
I am working on this at #dmcdindia

[2018-05-19 06:13] lewis-dan commented on #14007
Hi,
I am working on this Issue.
Thanks,
Dan

[2018-05-19 06:31] sanjay-wagento commented on #13259
I am working on this at #dmcdindia

[2018-05-19 06:32] dasharath-wagento commented on #3139
I am working on this at #dmcdindia

[2018-05-19 06:33] sanjay-wagento commented on #13259
@magento-engcom-team , I reviewed in latest branch 2.2-develop and by default configurable product display As low as $30.00 ($30.00 is special price).
So I think it is working correctly. Let me know if you want to change the behavior of the configurable product.

[2018-05-19 06:35] chirag-wagento commented on #5927
I have created *_extend.less* file in luma theme and add some css code for home page . I can see my changes on frontend
After add css please follow below step:
1) php bin/magento setup:upgrade
2) php bin/magento setup:static-content:deploy fi_FI en_US

*php bin/magento setup:upgrade* This is required before run *static-content:deploy* command

[2018-05-19 06:40] jignesh-baldha commented on #14134
I am working on this at #14663

[2018-05-19 06:40] chiragp-wagento commented on #15037
@magento-engcom-team unable to re-produce the issue in 2.2-develop branch, magento version 2.2.6-dev.
![breadcrumb](https://user-images.githubusercontent.com/19569330/40265823-573e9b54-5b5d-11e8-99f6-62311a778a47.png) #dmcdindia

[2018-05-19 06:41] jignesh-baldha commented on #14134
I am working on this at #dmcdindia

[2018-05-19 06:41] magento-engcom-team commented on #14134
@jignesh-baldha thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 06:41] chirag-wagento commented on #13648
I am working on this at #dmcdindia

[2018-05-19 06:46] solwininfotech commented on #14116
@Sathishkumar8731

Hi,

We have reproduced the issue in Magento 2.2.3 we found the issue.

Again we try to reproduce the issue in “2.2-develop”, we are not able to reproduce the issue.
Looks like its already fixed in magneto “2.2-develop”.

Thanks

[2018-05-19 06:47] sunilit42 commented on #13952
It happens when you click same time on the button.
@magento-engcom-team  There is two way we can do
1) use flock, for that we need to create one lock file quote wise when you click on that button
2) Either create one table and make an entry while click on submit and remove when order placement or fail order.

Let me know which way you want to process.

[2018-05-19 06:49] sanjay-wagento commented on #12986
I am working on this at #dmcdindia

[2018-05-19 06:56] sanjay-wagento commented on #12986
@magento-engcom-team , I cannot reproduce the issue in the latest 2.2-develop branch (Magento ver. 2.2.6-dev)

[2018-05-19 06:57] neeta-wagento opened #15334 "Purchased Order Form button should visible properly"
### Preconditions

1. Enable Purchase Order Payment Method from Admin

### Steps to reproduce

1. - Add Product in Cart
2. - Go to Checkout

### Expected result

1.
![screenshot-2018-5-19 checkout](https://user-images.githubusercontent.com/33098216/40265965-e357a4bc-5b5f-11e8-9b9a-f9c905fc00c3.png)

### Actual result

1.
![screenshot-2018-5-19 checkout 1](https://user-images.githubusercontent.com/

[2018-05-19 07:01] sanjay-wagento commented on #12820
I am working on this at #dmcdindia

[2018-05-19 07:01] rsquarem commented on #13692
#DMCDINDIA

[2018-05-19 07:01] magento-engcom-team commented on #13692
@rsquarem thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 07:05] sunilit42 commented on #14020
I am working on this at #dmcdindia

[2018-05-19 07:11] saravananvelu commented on #13774
Working on #dmcindia

[2018-05-19 07:26] popatkaran commented on #15307
@aasim110  Please provide information like how you want to setup the rule. For me cart rules are working well.
If your rule is like

- If an item is FOUND  in the cart with ANY  of these conditions true:
    Brand is X
    Brand is not A
    Brand is not B
    Brand is not C

customer will get free shipping if in cart items of any brand. You need to change conditions to ALL if you want to provide

[2018-05-19 07:29] febinthomas commented on #14208
I am working on this at #dmcdindia

[2018-05-19 07:29] magento-engcom-team commented on #14208
@febinthomas thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 07:30] jignesh-baldha commented on #15037
I am working on this at #dmcdindia

[2018-05-19 07:49] amitsiliguri commented on #13636
I am working on this at #dmcdindia

[2018-05-19 07:49] magento-engcom-team commented on #13636
@amitsiliguri thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 07:50] amitsiliguri commented on #13636
I am working on this at #dmcdindia

[2018-05-19 07:50] magento-engcom-team commented on #13636
@amitsiliguri thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 07:51] jayankaghosh commented on #8258
I am working on this at #dmcdindia

[2018-05-19 07:51] parthipanpargunan commented on #5929
@magenx @ hypershopbv

We can't reproduce this issue and tried with Magento 2.2.1 and Magento 2.2.3  versions its working fine. Please provide more detailed steps to reproduce or try to reproduce this issue.

Note :
Tried with new product as well as imported products.

[2018-05-19 07:53] Ananth747 commented on #13102
I'm working on it #dmcdindia

[2018-05-19 07:53] magento-engcom-team commented on #13102
@Ananth747 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 08:01] sheenu3091 commented on #13962
Unable to reproduce the issue in magento 2.2.2

[2018-05-19 08:31] sanjay-wagento commented on #11141
I am working on this at #dmcdindia

[2018-05-19 08:43] sanjay-wagento commented on #11141
@magento-engcom-team , I cannot reproduce the issue in the latest 2.2-develop branch (Magento ver. 2.2.6-dev)

[2018-05-19 08:46] gelanivishal opened #15345 "Template syntax in block file"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1.15
3. MySQL 14.14
4. Ubuntu

### Steps to reproduce

Not followed correct syntax to set template in following block file
app/code/Magento/Theme/Block/Html/Breadcrumbs.php

### Expected result

`protected $_template = 'Magento_Theme::html/breadcrumbs.phtml';`

### Actual result

`protected $_template = 'html/breadcrumbs.phtml';`

[2018-05-19 08:47] dasharath-wagento commented on #15218
I'm working on it #dmcdindia

[2018-05-19 08:54] neeta-wagento opened #15348 "Multiple Payment Methods Enabled is giving error in console "Found 3 Elements with non - unique Id""
When enabling more then one payment methods from admin , It is giving error in the console "Found elements with non-unique id billing-address-form "

### Preconditions

1. In any magento versions

### Steps to reproduce

1. Login to Admin Panel > Sales> Payment Methods
2. Enable more then one of Magento payment methods for checkout
3. Add a product into the cart, press F12 to check the console log

[2018-05-19 08:56] chirag-wagento commented on #13648
I have follow above step but I can't see **quantity stock** in left layered navigation.

[2018-05-19 08:59] rohit-wagento commented on #15130
I am working on this at #dmcdindia

[2018-05-19 09:01] sanjay-wagento commented on #13507
I am working on this at #dmcdindia

[2018-05-19 09:06] chirag-wagento commented on #15118
I am working on this at #dmcdindia

[2018-05-19 09:15] sunilit42 commented on #15319
I am working on this at #dmcdindia

[2018-05-19 09:15] udayankoliya commented on #3139
me and @dasharath-wagento  both are checked as per given step by @Pakkapao to produce this issue but we can't  reproduce it in Magento 2.2

[2018-05-19 09:20] rohit-wagento commented on #15130
I have enabled : store >> configuration >> general >> single store mode >> yes

and the from products >> categories >> edit one category >> marked include in navigation menu set : No

then cleared the cache

and i can't able to see categories in frontend, then i set yes for category then i able to see category
on frontend.
it working fine for me on 2.2-develop

[2018-05-19 09:29] sanganinamrata opened #15352 "Reformat the javascript code as per magento standards."
1. Magento 2.2.4
2. PHP 7.1.15
3. MySQL 14.14
4. Ubuntu

 Use javascript inside *.phtml file it's legacy code that we try to refactor according to Magento way.
For that we have <script type="text/x-magento-init" /> tag, where we declare path to JS file and pass parameters if they are needed.

### Preconditions

N/A

### Steps to reproduce

N/A

### Expected result

JS Script code should be removed

[2018-05-19 09:31] roychandrasekhar commented on #14050
Can't reproduce during import in admin.

[2018-05-19 09:39] amittiwari024 opened #15354 "Refactor javascript code of button split widget call js component"
Refactor javascript code of button split widgete

### Preconditions
1. Need to refactor template file and need to call js component which is already created
magento2\app\code\Magento\Ui\view\base\web\js\grid\controls\button\split.js

### Steps to reproduce

1. N/A

### Expected result

1.N/A

### Actual result

1.N/A

[2018-05-19 09:39] meghapd commented on #13707
I am working on this at #dmcdindia

[2018-05-19 09:39] magento-engcom-team commented on #13707
@meghapd thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 09:41] santhoshp commented on #13320
I am working on this at #dmcdindia

[2018-05-19 09:42] saurabh-parekh opened #15355 "Function is unnecessarily called multiple time"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1.15
3. MySQL 14.14
4. Ubuntu

### Steps to reproduce

Function is unnecessarily called multiple time.
app/code/Magento/CurrencySymbol/view/adminhtml/templates/grid.phtml

### Expected result

`<?php $block->getCurrencySymbolsData();?>`  should be used only single time.

### Actual result

`<?php $block->getCurrencySymbolsData();?>` is used multiple tim

[2018-05-19 09:46] gelanivishal opened #15356 "Refactore javascript for module URL rewrite"
Use javascript inside *.phtml file it's legacy code that we try to refactor according to Magento way.
For that we have [<script type="text/x-magento-init" />](https://devdocs.magento.com/guides/v2.2/javascript-dev-guide/javascript/js_init.html) tag, where we declare path to JS file and pass parameters if they are needed

### Preconditions

1. Magento 2.2.4
2. PHP 7.1.15
3. MySQL 14.14
4. Ubuntu

#

[2018-05-19 09:49] lewis-dan commented on #15130
I am working on this at #dmcdindia”

[2018-05-19 09:49] sunilit42 commented on #15241
@emiprotech
Have you upgraded magento?

If yes then may be that issue, can you please try with new rule.

[2018-05-19 09:55] staywithabhi opened #15359 "theme can not be changed in magento 2.2.4"
We have installed a fresh copy of magento 2.2.4 however it is not allowing us to change the theme and throwing the exception "**Something went wrong while saving this configuration: Area is already set**"

### Preconditions

1. ubuntu 16.04
2. php 7.0

### Steps to reproduce

1. content->design configuration
2. edit and change the theme
3. save the new select theme

### Expected result

1. Theme m

[2018-05-19 09:55] sunilit42 commented on #15268
I am working on this at #dmcdindia

[2018-05-19 09:57] Arun-smacon commented on #8258
I am working on this at #dmcdindia

[2018-05-19 09:57] magento-engcom-team commented on #8258
@Arun-smacon thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 09:58] sunilit42 commented on #15268
It is already fixed into  2.2

https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/view/frontend/templates/product/breadcrumbs.phtml

[2018-05-19 09:58] #15268 closed, assigned to nimitaemipro

[2018-05-19 09:59] amittiwari024 commented on #15354
Issue is fixed: #15351

[2018-05-19 09:59] roychandrasekhar commented on #8540
I am working on this at #dmcdindia

[2018-05-19 10:02] amitsiliguri commented on #13636
![capture](https://user-images.githubusercontent.com/39370641/40267396-4a2dce6e-5b79-11e8-9d94-d1a8352ec75d.JPG)
Placeholder image doesn't overflow any container in the sidebar wishlist after removing the product image.
Resize beautifully in Magento blank theme.

[2018-05-19 10:03] neeta-wagento commented on #14777
I have checked this issue in #dmcdindia
I have verified and its working fine in 2.2-develop branch

Please refer below screenshot
![screenshot-2018-5-19 shopping cart 1](https://user-images.githubusercontent.com/33098216/40267447-01cd75f6-5b7a-11e8-99a9-7a5fbad6a3b2.png)

[2018-05-19 10:04] magento-engcom-team commented on #14777
@neeta-wagento thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 10:05] lewis-dan commented on #15130
Hi,

Please follow the following steps:

Catalog > Select any Category > Change Category (Enable Disable/ Include in Menu) > Save

Clear Cache - ReIndex

Reload Frontend - Expected Result "Category hide from menu"

If you found any discrepancy, Please let us know.

Thanks,
Dan

[2018-05-19 10:06] sunilit42 commented on #15259
I am working on this at #dmcdindia

[2018-05-19 10:06] yogeshsuhagiya opened #15361 "Comments are not translated for Signifyd module."
### Preconditions
1. PHP 7.0.30
2. Magento 2.2.x

### Steps to reproduce
1. Goto STORE > Configuration > [SALES](url) > Fraud Proratection
2. Add translations into `en_US.csv` for comments for under the input/select fields
3. Flush cache and check comments

### Expected result
1. All comments should be translated

### Actual result
1. Comments under input/select fields are not translated

[2018-05-19 10:07] popatkaran commented on #15164
@Alex1844  This is not an Issue as customer is not registering an account here or getting login.
#dmcdindia

[2018-05-19 10:07] AnshuMishra17 commented on #13998
This doesn't seems to be a bug because addTaxPercents() function just set the flag $this->_addTaxPercents to true.
Tax Rates are calculated for quote items and not for products. A product becomes a quote item when it is added to the cart (quote) and during this process tax rate is added to the individual quote item.
Tax Percents can be fetched for quote items and not for products.

[2018-05-19 10:09] KalaiarasanSeetharaman commented on #14112
I am working on it #dmcdindia

[2018-05-19 10:21] lewis-dan commented on #14777
I am working on this at #dmcdindia

[2018-05-19 10:31] solwininfotech commented on #11864
I am working on this at #dmcdindia

[2018-05-19 10:31] sunilit42 commented on #15132
Hi @Userr017

I checked the same scenario and it is working fine.

Maybe you added the same key that exists in DB, can you please check it?

[2018-05-19 10:31] #15132 closed, assigned to nobody

[2018-05-19 10:34] neeta-wagento commented on #15244
I am working on this at #dmcdindia
I have verified and its working fine in 2.2-develop branch
Please refer below screenshot

![screenshot-127 0 0 1 81-2018-05-19-15-58-52](https://user-images.githubusercontent.com/33098216/40267668-3a9c6f8c-5b7e-11e8-83e6-2929175840ce.png)

[2018-05-19 10:37] hdnarola commented on #14351
@simpleadm , I have gone through your issue and debug into code. When you import product and if you would like to change setting (Yes/No) of "Enable Qty Increments" field in product advanced inventory then you need to make sure that you define "use_config_enable_qty_inc" field in CSV file because if there is using "Config Setting" value Yes(1) ticked then you must need to define "use_config_enable

[2018-05-19 10:39] lewis-dan commented on #13648
I am working on this at #dmcdindia
I am Using Magento 2.2 follow the steps, however,Quantity Stock never visible like this. On the Left Layered Navigation, only Category and Product Attribute will be visible by default. If you want to add Quantity (In Stock and Out Of Stock) we need to follow custom option.

[2018-05-19 10:40] vijay-wagento commented on #11984
Not able to reproduce in Magento 2.2, verified at #dmcdindia

[2018-05-19 10:43] amitsiliguri commented on #13747
This feature is good. It prevents the site from slowing down. High-resolution big images are bad for the website performance, speed and UX. 1920x448 size is enough for a website banner.

[2018-05-19 10:43] solwininfotech commented on #11864
@syedsaleem086

Hi,

I tried to reproduce the issue in “2.2-develop” with php version 7.0.30.
I have not faced any of issue once run Run php bin/magento setup:static-content:deploy -f

Thanks,
![screenshot from 2018-05-19 16-05-46](https://user-images.githubusercontent.com/16253886/40267725-7edfa99c-5b7f-11e8-88b4-6d1b7d062c40.png)

[2018-05-19 10:45] sunilit42 commented on #15191
@ManishGangola-Webkul

I checked with that locale and it is working fine.

Are you using any custom module?

[2018-05-19 10:45] #15191 closed, assigned to nobody

[2018-05-19 10:47] santhoshp commented on #13320
Open vendor/magento/zendframework1/library/Zend/Validate/Hostname.php and add 'shop' TLD  inside $_validTlds

[2018-05-19 10:49] gautamkrishnar commented on #8258
@jayankaghosh @Arun-smacon 👍 🎉 All the best guys 👏

[2018-05-19 10:57] Detzler commented on #13747
I understand that some non-developer admins can upload horrible big images, but please dont tell us that the size of 1920x448 is enough.

At least, lets keep the current resize values as default, but lets make a possibility to override that values by configuration. Changing the values programmatically engrosses much time a.k.a. money.

[2018-05-19 10:59] sheenu3091 commented on #12594
I am working in at #dmcdindia

[2018-05-19 10:59] magento-engcom-team commented on #12594
@sheenu3091 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 11:02] Abdulrahimbadiyal commented on #7897
I'm working on it #15176

[2018-05-19 11:03] hostep commented on #15359
Thanks for creating this issue. But I'm going to close it as the same issue has been reported a couple of times before. Next time you want to create an issue, it might be a good idea to search if there aren't already issues reported around the same problem :)

Closing this ticket in favor of https://github.com/magento/magento2/issues/14968 which was already fixed by https://github.com/magento/mage

[2018-05-19 11:03] #15359 closed, assigned to nobody

[2018-05-19 11:03] Abdulrahimbadiyal commented on #7897
I'm working on it #dmcdindia

[2018-05-19 11:03] magento-engcom-team commented on #7897
@Abdulrahimbadiyal thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 11:06] routbiplab commented on #9949
Hi, When you update with rest/V1/categories/5 it affects the default store view scope.

[2018-05-19 11:07] #9949 closed, assigned to routbiplab

[2018-05-19 11:07] rohit-wagento commented on #8849
I am working on this at #dmcdindia

[2018-05-19 11:16] sanjay-wagento commented on #13507
@magento-engcom-team @blizam, I reviewed the issue and found that actual issue is not related to trailing slash.
If you want to make it working like http://hostnamae/article-1/ then you require to make changes from Admin >> Store >> Configuration >> GENERAL >> Web >> Search Engine Optimization >> Use Web Server Rewrites >> Yes

Reason is when you open site with index.php then it create store cooki

[2018-05-19 11:27] vindhuja commented on #12437
I am working on this at #dmcdindia

[2018-05-19 11:27] magento-engcom-team commented on #12437
@vindhuja thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-19 11:31] shaandg commented on #13419
This issue is **not reproduced** in Magento 2.2.x.
**_If you want to apply in a single simple sku of a configurable product, then you need to choose the configurable product sku with the simple product sku and it will work._**

[2018-05-19 11:32] Ananth747 commented on #14052
I'm working on it #dmcdindia

[2018-05-19 11:32] lewis-dan commented on #14007
Hi,
Just need to use the other attribute with "Filterable (No Results)" for both Search and Catalog pages.
Check the following screen shots -
![image](https://user-images.githubusercontent.com/34798405/40268157-9eae7166-5b36-11e8-91fb-c223edd40f3e.png)

Only if there is no Results, then Price Attribute wont visible on Left Hand Layered Navigation.

![image](https://user-images.githubusercontent.co

[2018-05-19 11:32] Ananth747 commented on #13971
I'm working on it #dmcdindia

[2018-05-19 11:44] amitsiliguri commented on #12726
![t2](https://user-images.githubusercontent.com/39370641/40268265-e82137b0-5b87-11e8-840d-7b29d900579e.jpg)
before closing
![t1](https://user-images.githubusercontent.com/39370641/40268268-f20b8302-5b87-11e8-88d3-22f30939042d.jpg)
after closing
![t3](https://user-images.githubusercontent.com/39370641/40268272-fad4906e-5b87-11e8-9717-e553f19361d7.jpg)
same in case of Firefox enabling touch simulati

[2018-05-19 11:45] lewis-dan commented on #12437
I am working on this at #dmcdindia

[2018-05-19 12:00] ankurAuriga opened #15376 "Multistore Full Page Cache Issue"
If a Url is opened on a non-default store, same url do not returned from cache in different browser or even in Incognito mode.

### Preconditions
1. Magento 2.2.3
2. PHP 7.0
3. MySql 5.7
4. Redis for FPC

### Steps to reproduce
1. Created 2 different store, Store A, Store B (Default store)
2. Enabled full page cache with In-Built Mode.(Using Redis)
3. Open home page on Store A.
4. Open same home p

[2018-05-19 12:06] routbiplab commented on #11986
Authorize.net doesn't return credit card details(such as credit card type, expiry date etc.) to Magento that is why it doesn't store in database and hence it is not reflecting in API.

[2018-05-19 12:06] #11986 closed, assigned to routbiplab

[2018-05-19 12:13] Jakhotiya commented on #12176
The database is migrated database from Magento m 1.9 to 2.2.4.
Current version of Magento we are using : 2.2.4

I'm facing the same issue. It appears out of the blue on checkout page and admin promo rules edit page.  I'm having a hard time replicating it. As soon as I clear the eav cache the issue goes away.
here's the screenshot of the trace.
![is-allowed-method-call](https://user-images.githubus

[2018-05-19 14:12] jayankaghosh commented on #13554
I am working on this at #dmcdindia

[2018-05-19 14:14] jayankaghosh commented on #13554
Cannot duplicate in 2.3.x

[2018-05-19 14:26] jayankaghosh opened #15384 "Export to CSV/XML not working in Custom Grid using Listing UI Component"
Export to CSV/XML not working in Custom Grid using Listing UI Component

### Preconditions
1. PHP 7.1 with MySQL 5.7
2. Apache 2.0 Server setup on localhost

### Steps to reproduce
1.  Install Magento 2.2.2 with Sample Data
2. Create a custom module and one Adminhtml Grid inside it using UI Components
3. Use a custom data provider class which extends `\Magento\Ui\DataProvider\AbstractDataProvider`

[2018-05-19 14:55] donos0 commented on #15192
Could this be anyhow related to issues [#4546](https://github.com/magento/magento2/issues/4546) and [#4575](https://github.com/magento/magento2/issues/4575) ?

[2018-05-19 15:05] ashokramji commented on #14007
Hi Dan,
How to fix it....??
Please explain it.

Thank you.

[2018-05-19 15:51] pstav123 commented on #6578
We are running EE 2.2.3 and have this problem with Customer Attributes.  All password reset options both by the user and on the Admin interface are blocked by required fields.  On the Admin side there is a message, "XXXXXX is a required field" when a password reset is attempted.  On the user side we get the message, "Unable to send the password reset email."

[2018-05-19 16:13] rehman0845 commented on #9949
Hi @routbiplab when updating the category, parentId is not updating
I'm using the payload to Create the category
POST rest/v1/categories
{
  "category": {
    "parentId": 2,
    "name": "Sports",
    "isActive": true,
    "includeInMenu": true
    }
}
and  the payload to Update the category
PUT rest/v1/categories/5
{
  "category": {
    "id": 5,
    "parentId": 4,
    "name": "Sports",
    "isActi

[2018-05-19 16:54] Knight017 commented on #13504
Hello, i am facing same issue in magento 2.2.4 working in local windows + xampp installation and Removing "generated\metadata\global.php" fixes it.

[2018-05-19 17:29] kabadabra commented on #14964
@kamranmalikawan
The solution from @gtlt worked for me, but it did not work at first. We are running Magento 2 Commerce and got their support to help me with a solution. Here is what I ended up doing:

1. I ran the following sql to help indentify which emails were incorrectly formatted on the table "sales_order_address":
[code]

2. Similar to the above, I also checked the "quote_address" table jus

[2018-05-19 17:37] jayankaghosh commented on #8258
Has been fixed in the above mentioned commit. Tested on 2.1.3 and it's working

[2018-05-19 18:11] bartoszherba commented on #6578
@pstav123
Meanwhile you can patch your magento with my solution or eventually, by reading pull request, develop your own solution basing on recognized source of an issue.

[2018-05-19 18:50] santhoshp commented on #12437
I am working on this at #dmcdindia

[2018-05-19 19:06] hassanshuja opened #15388 "Not able to edit Conditional Payment methods"
![image](https://user-images.githubusercontent.com/5621020/40272092-1d270d8e-5bc1-11e8-8e46-ab174f022fdc.png)

I have an issue that i have two payment method one is for subscription subscribe_pro extension and other is without subscription that is ebizcharge_ebizcharge extension. But I want to hide ebizcharge_ebizcharge payment method when subscription product selected. where can I edit the code f

[2018-05-19 23:07] Apacalipto commented on #4321
I'm running magento 2.2.2 and porto 3.0.4. I enabled merge css and the site is really slow. I tried switching to production mode but this didn't help. And now i can't get back to default mode to disable it. Now i try to get in developer mode but this gives me the following error: The directory "/home/xxxxx/domains/xxxxx/public_html/pub/static/frontend" cannot be deleted Warning!rmdir(/home/xxx/dom

[2018-05-19 23:19] rishabhchd19 commented on #15192
same problem here.

[2018-05-19 23:31] rishabhchd19 commented on #15306
This is the problem with the extension I believe. The same problem I am getting when EADESGN Invoice Generator Extension is ENABLED. On Disabling the extension, Transactional Mails starts functioning well.

[2018-05-20 01:11] robjus opened #15389 "Magento2 admin menu panel doesn't work"
SALES
CATALOG
CUSTOMERS
MARKETING
CONTENT
REPORTS
STORES
 None of these links work! Im on Windows 10 64bit xampp

[2018-05-20 09:45] hassanshuja commented on #15388
I have resolved it by myself no need for your help because no one respond here even after 15 hours .... wow. Good support thanks

[2018-05-20 13:50] jurpro opened #15393 ""Multiple Select" product attributes do not render HTML tags on the storefront view"
Error on Product Page. More Information tab.

### Preconditions
1. Magento 2.2.4

### Steps to reproduce
I recently update from Magento 2.2.3 to Magento 2.2.4, and then found this error.
On product page, there is an error.

### Expected result
 Full product page without error. The links on "More Information" tab is clickable. And then after click browser will load and go to the page on link.

###

[2018-05-20 15:11] #15388 closed, assigned to nobody

[2018-05-20 16:27] dankoz51 commented on #15264
Thats a bit confusing, sure looks like it. I am trying to disable some
things and see if its some sort of module causing this.

On Wed, May 16, 2018 at 4:59 PM, Mr. Lewis <notifications@github.com> wrote:

--
-Dan Kozlowski
Schedule a meeting here <https://calendly.com/daniel-kozlowski/30min>

Xumulus <https://xumulus.com> - 773-904-2595 - m 773-230-2572
Customers love us on Clutch.co <https://clu

[2018-05-20 23:06] VladimirZaets commented on #10210
Hi @diybook. Thank you for your report.
The issue has been fixed in magento/magento2#15039 by @gwharton in 2.3-develop branch
Related commit(s):
 - [6dff3a53b1ac0df593163894fd57b8a36722450f](https://github.com/magento/magento2/commit/6dff3a53b1ac0df593163894fd57b8a36722450f)

The fix will be available with the upcoming 2.3.0 release.

[2018-05-21 03:00] PivitParkour94 commented on #15024
Looking through the code, there is a js-translation.json file which literally ONLY translates the back button text to `Back to register or connect an account`

This definitely seems like a small mistake, but has significant consequences. This seems so easy to fix...

`var/view_preprocessed/pub/static/adminhtml/Magento/backend/en_US/js-translation.json`
`{"Back":"Back to register or connect an acco

[2018-05-21 04:49] amittiwari024 commented on #13278
it is fixed https://github.com/amittiwari024/magento2/commit/5c91f4b139003d6571f6fc2d4fd688213e0422f0

[2018-05-21 05:28] ahsan-horani commented on #10660
Just clear browser cookies, all works well :)

Thanks @shinesoftware (y) that worked

[2018-05-21 05:35] hdnarola commented on #14351
@simpleadm , OK. Got it.

[2018-05-21 05:43] aasim110 commented on #15307
@popatkaran my rule is like following

Subtotal equals or greater then 150
If an item is FOUND in the cart with ANY of these conditions true:
Brand is not X
Brand is not A
Brand is not B
Brand is not C

it is working fine if I use single brand,  but not working for multiple brand.
Any Idea ?

[2018-05-21 05:50] popatkaran commented on #15307
@aasim110

Could you please share that with these conditions which brand product is there in cart? And what should be the result according to you?

[2018-05-21 06:15] aasim110 commented on #15307
@popatkaran
Suppose X brand's product in my cart and its price is 200 so as per my rule Free Shipping can't apply on this product. but some how it was applied.
And if I remove other brands from the rule it is working fine and I can see 10$ shipping price in my cart.
get it ?

[2018-05-21 06:44] PardeepGrover commented on #9885
Hi ,I am also facing the same issue.Want to reload the ui component grid in poup

[2018-05-21 06:46] sirius2013 commented on #11110
I got same error
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'adminhtml_cache_index': This element is not expected. Expected is one of ( attribute, block, referenceBlock, referenceContainer, container, move, uiComponent ).
Line: 219

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'adminhtml_cache_index': This element is not exp

[2018-05-21 07:03] jignesh-baldha commented on #11984
Not able to reproduce issue in Magento 2.2.3 and 2.2.4

[2018-05-21 07:28] popatkaran commented on #15223
@sneha-sukumaran

Have you tried reindexing after migration?

[2018-05-21 07:36] popatkaran commented on #15195
@Rakeshsivagouni

I have also faced issue with Mageplaza extension, try to check with Magepal extension.
PS: first try to check with simple php mails are working on your server or not.

[2018-05-21 07:43] sneha-sukumaran commented on #15223
Yes i did. But no change

[2018-05-21 08:00] kerlama commented on #14991
Hi,

any updates on this one , can someone reproduce this ?

Ivan

[2018-05-21 08:01] ghost opened #15400 "Homepage SQL error when i put Use Flat Catalog Product to ENABLE"
### Preconditions
1. Magento 2.2.4
2. PHP 7.1
3. Porto theme 3.0.3

### Steps to reproduce
1. Put Use Flat Catalog Product to ENABLE in catalog setting
2. Reindex
3. Go to Homepage (https://www.achatpc.com)

### Expected result
1. Page show correctly

### Actual result
1. Homepage show this error code:

 SELECT `e`.*, `price_index`.`price`, `price_index`.`tax_class_id`, `price_index`.`final_price`

[2018-05-21 08:15] navneetbhardwaj commented on #10285
Hi,
If, I am sending data using REST API according to your request. then response body show following message

**Case 1.**
Sending data using API

{
  "entity": {
    "sku": "24-MB05",
    "link_type": "crosssell",
    "linked_product_sku": "24-MB04",
    "linked_product_type": "simple",
    "position": 0,
    "extension_attributes": {
      "qty": 1
    }
  }
}

**Response Body**

{
  "message":

[2018-05-21 08:16] mattkrupnik commented on #4737
Magento 2.2.3
Just add this to the composer require:
`"pelago/emogrifier": "2.0.0 as 1.2.0"`

[2018-05-21 08:35] VladSuciu76 opened #15401 "Magento 2 reorder not working (error on line 153 at column 39: Entity 'nbsp' not defined)"
Hello,

In Magento 2.2.1, when I press the "Reorder" button in admin panel, it gives the error:
This page contains the following errors:
error on line 153 at column 39: Entity 'nbsp' not defined
Below is a rendering of the page up to the first error.
<img width="1264" alt="screen shot 2018-05-21 at 11 32 35 am" src="https://user-images.githubusercontent.com/12977160/40298193-f4fe27f4-5cea-11e8-9fa

[2018-05-21 08:40] popatkaran commented on #15223
@sneha-sukumaran
This function is checking files, do you have any file attribute to migrate? have you check category images on proper path? This might cause an issue.

[2018-05-21 08:43] nikidexa commented on #4737
Just add this to the composer require "pelago/emogrifier": "2.0.0 as 1.2.0" then run composer update pelago/emogifier and it solved problem.

Im still using Magento 2.2.2...  is it the same?

[2018-05-21 08:54] rahul-kachhadiya commented on #14991
@kerlama @magento-engcom-team I was able to replicate this on 2.2.4 during manual testing.

[2018-05-21 09:50] tristanisginger opened #15403 "Dupilcate address in checkout"
### Preconditions

Magento 2.2.14, php 7.1
Vanilla fresh install with sample data

### Steps to reproduce
1. Place an Order as a guest.
2. On "Thank you for your purchase!" create an Account.
3. As User, created in step 3, add any Product to Cart and proceed to Checkout.

### Expected result
1. only one address should be available for shipping

### Actual result

1. the same address is repeated

[2018-05-21 09:53] woakley commented on #6710
Was fixed and is now back on 2.2.3 and 2.2.4

[2018-05-21 10:09] tristanisginger commented on #15403
similar to this:
https://github.com/magento/magento2/issues/8350

[2018-05-21 10:10] honeygarg commented on #14570
I have also get the same problem.

[2018-05-21 10:14] mattkrupnik commented on #4737
@nikidexa I think that it will be working on 2.2.2 but not tested.

[2018-05-21 10:31] nmallepally opened #15404 "&amp; bug on update to magento 2.1.12"
### Preconditions
Magento 2.1.12
PHP 7
Mysql 5.7
Maria DB
Debian 8

### Steps to reproduce
please have magento 2.1.8 version
update to magento 2.1.12
Configurable Products have issue displaying and as &amp;. on their configurations

### Expected result

1. Product names under configurable should be displayed as entered with and key word.

### Actual result

![image](https://user-images.githubuserc

[2018-05-21 10:31] homer14b commented on #13959
Yes, occurs when trying to save customer with an empty DOB from admin panel. Reproduceable on M 2.2.2 with PHP 7.1.15.

[2018-05-21 10:34] akpra88 opened #15405 "Magento 2.1 : Not calling custom block on checkout page for filling credit card details into input fields of IFrame using functional testing framework (FTF)."

[2018-05-21 10:35] vgelani commented on #15024
@PivitParkour94 You can find a better solution in above comment and no need to worry about deleting the `var/view_preprocessed` folder.

Thank you.

[2018-05-21 11:30] techwithrajat opened #15406 "Custom Payment Plugin Causing Fatal Error on order Save"
### Preconditions

1.  Magento Version 2.2.4
2.  PHP Version 7.1

### Steps to reproduce

We have developed a custom payment plugin for accepting payment. Everything is working fine but when we are changing the order state and saving it it is causing the below error. Apart from this everything is working fine in the functionality :

**Error**

Fatal error: Uncaught TypeError: Argument 1 passed to

[2018-05-21 11:53] gwharton commented on #15024
@PivitParkour94, It is possible to get back to the original situation by reverting the changes in the files

    vendor/amzn/amazon-pay-and-login-magento-2-module/src/Core/i18n/en_GB.csv:79
    vendor/amzn/amazon-pay-and-login-magento-2-module/src/Core/i18n/en_US.csv:79

as detailed above. However @bap14 correctly raises the wider issue that it should not have been possible for a single module to

[2018-05-21 12:11] seabasst commented on #6924
Make sure your URL_KEY 's are unique. This error is triggered by duplicate URL keys too.
That's the reason I got the error at least. Hope it helps!

[2018-05-21 12:43] BabliDey opened #15408 "Customer edit section in admin showing error"
### Preconditions

1. magento 2.1.8
2. php 7.0.26

### Steps to reproduce

1. Tried to migrate data from magento  1.9.2.3 to magento 2.1.8 with ubertheme datamigration.
2. When going to customer edit section getting error "The requested component ("label") is not found. Before using, you must add the implementation.";

### Expected result

1.

### Actual result

1. [1627835954.txt](https://github.

[2018-05-21 12:45] orlangur commented on #15408
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

Problems with data migration from `1.x` must be reported in https://github.com/magento/data-migration-tool repository but it looks like you are using another tool.

[2018-05-21 12:45] #15408 closed, assigned to nobody

[2018-05-21 13:00] hostep commented on #14991
I cannot reproduce this following the steps from @kerlama on a clean 2.2.4 install. I don't see a popup and I'm redirected to the checkout.

@kerlama: can you try to reproduce this as well on a clean 2.2.4 without any customisations (no custom modules, no custom themes)? If you can find a way to reproduce, please let us know the exact steps. (Perhaps its another configuration setting which you did

[2018-05-21 13:02] kerlama commented on #14991
Will try and let you know.

[2018-05-21 13:05] nopenopenope commented on #11113
I've been able to succesfully upgrade from 2.0.6 to 2.2.4 by:

a) checking my PHP ram settings
b) checking file storage size
c) verifying that magento runs on correct permissions

As my main problem was PHP doesn't have had enough RAM I appended `-dmemory_limit=2G` to the php-cli (`php -dmemory_limit=2G bin/magento setup:upgrade`, for example).

Another problem was the storage, as it appears - my

[2018-05-21 13:10] magento-engcom-team commented on #2956
Hi @volnnn. Thank you for your report.
The issue has been fixed in magento/magento2#11368 by @slackerzz in 2.3-develop branch
Related commit(s):
 - [32e2e4de5921ecb7b13722955298e886ec2b2d59](https://github.com/magento/magento2/commit/32e2e4de5921ecb7b13722955298e886ec2b2d59)
 - [b11c7e78b24450ec4d3e73534c40ab427e786cdd](https://github.com/magento/magento2/commit/b11c7e78b24450ec4d3e73534c40ab427e7

[2018-05-21 13:10] lahdekorpi commented on #6639
This bug still exists and should be fixed.

[2018-05-21 13:11] BabliDey commented on #15408
Hello orlangur, I also use that data magratopn tool but migration does not migrated any data after running migration command.

[2018-05-21 13:13] BabliDey commented on #15327
Need Solution for sitemap.xml generation

[2018-05-21 13:52] attiquer commented on #15035
Having same issue with Magento 2.2.4.

[2018-05-21 13:56] PrajapatiChirag commented on #9434
Any solution for this ?

[2018-05-21 14:26] elvinristi commented on #8430
This is coming from Magento core where their last change is left unfinished in 2016

- https://github.com/magento/magento2/commit/a6c87be5cf2481ff12bd07e7f860668c964bba17

MAGETWO-48153 reverted MAGETWO-46688 changes and left just websiteId's commented out so forcing you to use websiteId = 0.

[2018-05-21 14:57] nikidexa commented on #4737
Yes, I can confirm that now is working good for me too....
so the solution is:
-add this line to composer.json : "pelago/emogrifier": "2.0.0 as 1.2.0"
-run  -> composer update pelago/emogifier

thanks to everyone

[2018-05-21 14:59] versdivers commented on #12881
Any updates?

[2018-05-21 15:31] nikidexa commented on #10821
Philip solution worked for me... but now Im facing with another issue ....
when I'm trying to save something in backend: store>attributes>products  get this error message :
Validate class not found from basename 'StringLength'
Im not completely sure that depend from changing " include_path ", but after this change Im gfacing this error and I cannot save anything in store>attributes>products
someon

[2018-05-21 15:50] hostep commented on #15192
Hi guys, I just saw this PR which seems to fix this problem: https://github.com/magento/magento2/pull/15211
Can someone confirm that changing that one line fixes the problem? Thanks!

[2018-05-21 16:06] DigitalStartupUK commented on #15192
@hostep I can confirm that this does "fix" the issue. But shouldn't be considered an actual fix for anyone thinking about changing the core code.

[2018-05-21 16:25] hostep commented on #15192
Thanks for confirming @DigitalStartupUK, great! So if the PR gets approved it should get released in an upcoming new version. I agree this isn't the correct fix, this was only for verifying if it fixes the issue. People should consider for themselves how to workaround the issue, or just wait for a new version to be released in which the fix is included.

[2018-05-21 17:28] bruno-serfe commented on #11314
Hi Guys, I was able to reproduce this in **Magento 2.2.2** but now I'm on **v2.2.3** and I'm not able to reproduce this, I've:

**PHP 7
Varnish: 4
OS: Nginx
Sessions: Redis**

Anyone knows if this issue was already fixed in **Magento 2.2.3** because I'm seeing that this was reproduced in _v2.3_ also.

Please if anyone knows please let me know.

Thanks

[2018-05-21 17:43] malikt commented on #14859
sure, will give it a try.
The ticket should be closed because i wont be complaining even if the mentioned fix failed,  as i had  rewritten the email's related css by removing all the conflicting attributes and its working already.
Thanks anyways :)

[2018-05-21 17:43] indefinitedevil opened #15410 "catalog_product_option foreign key may be wrong?"
If you wipe out the product tables without also wiping out sequence_product, SQL conflict errors are generated when you create a product with custom options.

The reason for this is that the catalog_product_option table uses catalog_product_entity.row_id as a foreign key reference, not catalog_product_entity.entity_id. If you've truncated catalog_product_entity, the row_id will start over from 1,

[2018-05-21 17:54] jleal-pnet commented on #11800
Same error here in Magento 2.2.3

[2018-05-21 18:56] bruno-serfe commented on #11314
I was able to reproduce this again but with a bit more elaborated procedure.
After add a different shipping address and reload the page the checkout page was empty displaying the same image that @aeu user shared in previous comment.

So, this is still an issue, is there any Magento developer reviewing this?

Thanks

[2018-05-21 19:37] pemann commented on #13342
@magento-engcom-team why "Allow multiple boxes for shipping" depending on "qty uses decimals"?

I'm selling big products which are shipped in multiple packages, but there is no point in selling partial products. So the qty should be integer, but I need to split it into multiple packages when shipping. Currently this cannot be done as it should be enabling only the "Allow multiple boxes for shippin

[2018-05-21 19:52] ghost opened #15413 "Tax not removed/added from checkout after address change"
### Preconditions
1. Magento 2.2.3 (Also tested in v2.2.4 with same behavior)
2. PHP 7
3. MariaDB 10.2

### Steps to reproduce
Here we're assuming you have already configured a Tax Zones and Rates with a tax for West Virginia.

1. Add an item into the cart
2. Go to checkout
3. Log-in
4. Fill a bill address with a zone that include TAX for example West Virginia
5. Add new address
6. Set different z

[2018-05-21 19:58] ctadlock commented on #15024
This shows the quality of QA testing of Magento when such an obvious bug like this gets deployed. It was the first thing I noticed when I logged into Magento admin after deploying 2.2.4.

[2018-05-21 20:04] alxgnz commented on #10972
lib

[2018-05-21 20:45] Alexie77 commented on #11800
I have the same issue.
I installed Magento 2.2.4 yesterday.
And I can't save the changes to the configuration.
I get the msg:
"Something went wrong while saving this configuration: Area is already set"

See the attached screenshot.

![screen shot 05-21-18 at 04 41 pm](https://user-images.githubusercontent.com/39501661/40329048-514fe6d4-5d16-11e8-8ff7-98fb0d1da654.PNG)

[2018-05-21 21:25] danielc1234 opened #15414 "Question about Adobe Purchasing Magento"
Just read the news that Adobe is buying Magento. :(

Does this mean the coders that are doing such a kick ass job gets pushed to the side?

Also, what does this mean for the community version of the software?

[2018-05-21 21:59] gnanasekaranl opened #15415 "Magento\Sales resource could not access by customer token"
Return order details in REST API Magento-2.2 get below error when tried to access using customer token, But it is working with admin token in **salesOrderRepositoryV1**

vendor_name/module_name/model/EmcOrderRepository.php

 public function get($id)
    {
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('Magento\Sales\Api\Data\Or

[2018-05-22 01:04] bap14 commented on #15389
This isn't the place to get support, it's for reporting bugs.  If you'd like support, I can recommend magento.stackexchange.com

This sounds like you don't have the static elements compiled / deployed yet, or your store isn't in development mode so the files aren't being generated.  I'm willing to bet if you open the developer console in the browser you'll see a bunch of errors related to not bein

[2018-05-22 01:50] mrkhoa99 commented on #15414
Magento Github focuses on the Technical issue. Closing this issue.

[2018-05-22 01:50] #15414 closed, assigned to nobody

[2018-05-22 03:08] dankoz51 commented on #15264
Ok we have Identified this as an issue with Bronto_Email

[2018-05-22 03:09] #15264 closed, assigned to nobody

[2018-05-22 05:55] roura356a commented on #14423
Same here, reporting "Found non-writable path(s):" and listing files that doesn't even exist.

[2018-05-22 06:00] pratikrgandhi commented on #13845
@sunilit42

Not solved yet for unsecured URL.
It just stopped to regenerate session id for secure checkout

[2018-05-22 07:01] nadeefit6 opened #15417 "Customer name not displayed on some transactional emails"
Customer name is not displayed on transaction mails.
It’s displayed as “%naam”.
Followings are the email templates which are incorrect for Guests.
1. New Order for Guest
2. New Invoice for Guest
3. New Credit Memo for Guest
4. New Shipment for Guest
5. Forgot Password
6. New Account Confirmation Key
7. New Account Confirmed

Following are the email templates which are incorrect for registered user

[2018-05-22 07:15] nadeefit6 opened #15418 "Can't make additiona street fields required in my account section"
Additional street fields in my account section cannot be made required because of following reason.
field name is not generating correctly and it is not unique.

### Preconditions
1.  Magento ver. 2.2.3
2.  Sample data installed

### Steps to reproduce

1./Magento_CustomerCustomAttributes/templates/customer/address/edit.phtml
2. add class required for <div class="field additional">
3. Save changes

[2018-05-22 07:16] emiprotech commented on #15241
Hello @sunilit42
No, This is my fresh Magento v224.
I checked this issue in both fresh Magento and upgraded and I face this issue in both of Magento.

[2018-05-22 07:17] nadeefit6 commented on #15417
This can be fixed by changing the template variable in all email templates with the above issue.
Can I continue with the issue?

[2018-05-22 07:17] jissereitsma commented on #6336
My 50c: I've run this various times in the past without issues and just days ago with the `extra_large` profile. No issues at all. It might be that the original issue that started this thread has been solved already.

Perhaps for documentation: I ran the data generation on a PC with 16Gb of RAM, no SSD disk, MySQL 5.7 optimized (InnoDB buffer pool cranked to 4Gb and query_cache to 1 Gb) and PHP 7.

[2018-05-22 07:32] kvydiuk opened #15419 "Url rewrite regeneration issue M2.1.8"
### Preconditions

1. Magento 2.1.8 CE
2. PHP7, nginx, mariaDB

### Steps to reproduce

1. Create Second Website - Second Store - Second Store View
2. Create a Product assigned to two Websites, with custom URL keys for both Store Views.
3. Remove product from one of those websites, through attributes bulk update in products admin grid:
http://pix.toile-libre.org/upload/original/1533735124.png

###

[2018-05-22 07:33] Sharmilasrini95 commented on #7472
Is there any possible to import multiple countries with comma(,) separator in single entry in table rate csv?

[2018-05-22 07:33] Sharmilasrini95 commented on #7286
Is there any possible to import multiple countries with comma(,) separator in single entry in table rate csv?

[2018-05-22 07:58] breg-13 commented on #14514
Please, close this issue

[2018-05-22 08:06] breg-13 commented on #15419
Please close, because duplicate https://github.com/magento/magento2/issues/10073

[2018-05-22 08:26] etcik1 opened #15420 "Payment method title from wrong store in invoice and order"
### Preconditions
1. Magento 2.2
2. Having two websites with two store views (e.g website1 with stores store1 and store2 and website2 with stores store3 and store4)
3. Payment method configured with different title for each store view.

### Steps to reproduce

1. Order products in store4
2. Use configured payment method
3. Open order in Admin

### Expected result
1. Payment method title should be

[2018-05-22 08:32] craigcarnell commented on #15190
@hostep Thanks, your a life saver! Magento.. get on this!

[2018-05-22 09:10] Bhavik-kumar commented on #15048
any update?

[2018-05-22 09:19] hostep commented on #15190
Be aware that you still might run into more cron job problems. This won't fix everything. I still see cases where the cronjob status in the database is still at `running` even though the cronjob no longer runs (for example due to the jobs getting killed because the server ran out of memory).
Which then in turn causes a whole bunch of new jobs being inserted with status `pending` and they never get

[2018-05-22 09:32] htmyheart commented on #6890
Thank @sevos1984  and @magento-engcom-team show now, I want re-open this issue, if you guys have time please check it again. Thank you so much.

[2018-05-22 09:33] nicoloHevelop opened #15423 "Not update shipping method in cart page"
Hi,

in the cart page, when i change the destination country, the rest call: /V1/guest-carts/:cartId/estimate-shipping-methods does not start and the shipping methods will not update with the correct destination country.

I've checked the amasty module configuration, but they are the same.

How ca i fix this issue?

[2018-05-22 09:39] ghost opened #15424 "custom option quantity is wrong at the time of add to cart"
When product is added in the cart with the custom option it display the wrong quantity in the cart.

### Preconditions

1. Magento Version 2.2.4 with sample data
2. PHP 7.1

### Steps to reproduce

1. Create custom option as Drop-Down in one of the product and make it required field
2. Then at front side go to that product and add that product in the cart but the option is not selected when added

[2018-05-22 10:27] hostep commented on #15418
@nadeefit6: I think this is a duplicate of https://github.com/magento/magento2/issues/12202
Can you confirm? If yes, it might be best to close this and keep the discussion going in https://github.com/magento/magento2/issues/12202

And feel free to work on resolving this problem. Would be great if this could get solved, since we (and a bunch of other people) also run into this problem.

Thanks!

[2018-05-22 10:37] bedroomathletics commented on #10485
I'm getting the same issue on 2.2.4 - I have tried switching from 'en_gb' to 'en_us' without success :(

![capture](https://user-images.githubusercontent.com/32071663/40357551-723928f8-5db4-11e8-9b29-a447bd8c9f5a.PNG)

[2018-05-22 11:00] milindfulcrum commented on #13864
Any solution or temporary fix  for this issue, we also facing same issue while sorting with websites

[2018-05-22 11:11] nadeefit6 commented on #15418
yes its an duplicate of  #12202.
Will close the issue and continue in the  #12202

[2018-05-22 11:11] #15418 closed, assigned to nobody

[2018-05-22 11:22] nic02381 opened #15425 "Distance based Shipping price in magento 2"
I need to show the shipping price dynamically based on the customer's pin code. I have a product's pin code now I need customer's pin code. So I can fetch the distance between this and get a difference price.

Preconditions
1. I am using Magento 2.2 CE
2. I am using xampp server on my local machine

Steps to reproduce
1. I create a custom shipping module
2. Fill all required fields from the backen

[2018-05-22 11:26] nic02381 commented on #15425
@magento-engcom-team Why you added Failed for this.

[2018-05-22 11:37] ghost opened #15426 "Tier price is not applying if product has special price"
Tier price(Pricetype Discount Only) is not applying if product has special price

### Preconditions
1. Magento CE 2.2.4 without sample data is installed.
2.Create Simple product.

### Steps to reproduce
1. Set Special price to product
2. Add Tier Price with type(Discount) i.e for 3 Qty-->5% and 5 Qty-->10%

### Expected result
1. Product price should Decrease to that product after Adding 3 or 5 Qt

[2018-05-22 11:45] versdivers commented on #8897
The product attributes are solved by using the emulation to set your script to admin store id 0

[code]

[2018-05-22 11:47] nic02381 commented on #15425
@magento-engcom-team what happened?

[2018-05-22 11:58] nicework125 commented on #15151
Sorry for the delayed response. 2MB for entire page is not big for a magento store.

Btw, here's example issue what I get:
http://www.portotheme.com/magento2/porto/demo5_en

Above url is one of my Porto magento demo site. This page's js files' size is  total  2MB but when I enable production mode, bundled js file size becomes over 3MB. Please check attached files to see production mode status.
[20

[2018-05-22 11:59] nicework125 commented on #15151
Please take this issue as serious. If we can make Porto's magento 2 version fast enough as Magento 1 version, I believe we can let customers to choose Magento instead of other platforms.

[2018-05-22 12:12] ankurvr commented on #13213
This issue has been resolved here [Pull Request #12661](https://github.com/magento/magento2/pull/12661/) and it's already released with version 2.2.4

[2018-05-22 12:16] rvsingh007 commented on #11585
@deepikajaniyani please reply me I need help I m raghuveer

[2018-05-22 12:28] andkirby commented on #12176
@Jakhotiya , try to use my solution: https://github.com/magento/magento2/issues/12176#issuecomment-356279098. We have it in our projects - it doesn't disturb us anymore.

[2018-05-22 12:29] nadeefit6 commented on #12202
Fix is merged to  2.2.4-develop branch.

[2018-05-22 12:30] peterjaap commented on #14530
@evgeny-vas you only have to comment out `$this->sessionManager->destroy();`. The `destroyCustomerSessions` method destroys customer sessions except the active one. But the active one is destroyed in `$this->sessionManager->destroy();`.

This appears to be introduced in 2.2.3; https://github.com/magento/magento2/blame/a952969a8c08928d356fab8d0fb35f4dbe5fe9ce/app/code/Magento/Customer/Model/Account

[2018-05-22 12:51] hostep commented on #12202
@nadeefit6: great! Can you make a pull request of your branch towards the magento/magento2 repo (intead of your own fork), so someone from the Magento team can review and approve when the fix is working? Thanks! :)

[2018-05-22 13:01] vkhandelwal1993 commented on #5350
Hi All,
Those who are facing this error should check there attributes set in admin, for me the whole attribute set was empty (default + migration_default). Assign the attributes to the set, reindex the data and check the product

[2018-05-22 13:11] BezV8 opened #15427 "Paypal some orders fail with main.CRITICAL: Wrong order ID:"
When using paypal express integration as the payment method on Magento 2.2.2 a small number of orders fail after the payment has been taken by paypal. No order is registered in Magento, but paypal takes payment and sends a confirmation to both customer and store owner.

Looking in the logs the error which seems to be associated with these orders failing is:
`main.CRITICAL: Wrong order ID: "0000002

[2018-05-22 13:32] Scarraban commented on #10687
@sunilit42 Can you confirm what testing was done to confirm this as OK? I've just tested this on 2.2.3 and can confirm the existence of the issue outlined by @capkafitz.

[2018-05-22 13:36] ajayshukla opened #15428 "Extending catalog search with custom results not working."
I am trying to extend the magento catalog search so that I can get the results from external source and then show the results. I am able to show the results but not able to change the facets data by extending the layer class. Can anyone guide me how can I override the whole products collections for search result page and set the results, pagination, sort and facets accordingly.

Thanks

[2018-05-22 13:38] zezooo2 opened #15429 "To attempt automatic rollback, please click the "Rollback" button"
when i install any extensions(setting,web setup wizard,extension manager ,Extensions
Ready to Install,when i try to install any one) i see that ,any help?
![q2untitled](https://user-images.githubusercontent.com/39524625/40365884-f9035658-5dd5-11e8-8a84-b222b80ae9ff.jpg)

[2018-05-22 14:02] Jaydeepjd opened #15430 "On every monday get the same error in mangeto 2.1.3"
Preconditions

    Magento 2.1.3

Steps to reproduce

    Run reindex job

Expected result

    No lock

**Actual result**

a:4:{i:0;s:218:"SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: INSERT INTO `customer_visitor` (`customer_id`, `session_id`, `last_visit_at`) VALUES (?, ?, ?)";i:1;s:14977:"#0 /var/www/vhosts/zirg.com

[2018-05-22 14:03] DanCarlyon commented on #3890
The cause of this is due to the class being deprecated the the widget xml being removed

Source: https://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes/#recently-viewed-and-recently-compared-widgets

[2018-05-22 14:52] josephmcdermott opened #15432 "magentoDataFixture should use phpunit.xml <includePath />"
The M2 integration test framework is 'almost' really good in terms of fixtures, however it appears to be locked to only Magento fixtures and does not allow third party vendors to create their own.

### Preconditions
1. Create a custom integration test in a third party extension.

### Steps to reproduce
1. Attempt to configure your own fixture, somewhere other than `dev/tests/integration/testsuite`

[2018-05-22 15:00] orlangur commented on #15432
@josephmcdermott there is not bug here though, for now all integration tests are supposed to be placed in `dev/tests/integration`. I was one of the influencers to bring `Vendor\Module\Test\Unit` approach into life, before that unit tests were placed in `dev/tests/unit` as well.

As to me would be really nice to support all tests in a modular way residing in `Vendor\Module\Test\Integration`, `Vendo

[2018-05-22 15:03] bedroomathletics opened #15433 "Magento 2.2.4 - "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.""
Similar issue here to https://github.com/magento/magento2/issues/10071 - the workaround of changing admin passwords did not work in this instance. The user also has ALL permissions.

### Preconditions
1. php71
2. 10.1.33-MariaDB

### Steps to reproduce
1. Catalog > Products
2. 'Add Product'
3. *Change Attribute Set*

### Expected result
1. Proceed with product creation
2. I have created all produc

[2018-05-22 15:06] josephmcdermott commented on #15432
Hi @orlangur, thanks for the rapid response!

I agree its not a bug, its more of an _issue_. For my understanding, how would an extension developer get his tests in to `dev/tests/integration`? Are you meant to manually copy them there for each project, or is there some approach I am missing to automatically have them mapped over?

Once I have the full understanding of how it should work now, I can

[2018-05-22 15:09] TobiasLufinity opened #15434 "Double click on "Proceed to Checkout" causes errors"
Double clicking (multiple clicks) on "Proceed to Checkout" seems to cause the session to malfunction.
You are redirected to checkout/cart/ with an empty cart but the mini-cart still seem to show a product.

### Preconditions

1.  Magento version 2.2.2
2. PHP version 7.0.15

### Steps to reproduce

1. Add a product to the cart
2.  Go to checkout/cart/
3.  Click "Proceed to checkout" twice with half

[2018-05-22 15:40] josephmcdermott commented on #15432
OK cool, thanks for the information. Can you provide a link to the PR for Unit Test changes for my reference, if it happens to all be in one place, no problem if not.

[2018-05-22 16:40] magento-engcom-team commented on #15334
Hi @neeta-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15331 by @neeta-wagento in 2.2-develop branch
Related commit(s):
 - [0605a27dfa4b05f7176dfb4815458c4bb57219f5](https://github.com/magento/magento2/commit/0605a27dfa4b05f7176dfb4815458c4bb57219f5)
 - [eae0ac6b02eec639f6060bf1e39709344252d94f](https://github.com/magento/magento2/commit/eae0ac6b02eec639f6060bf1

[2018-05-22 16:40] #15334 closed, assigned to neeta-wagento

[2018-05-22 16:40] magento-engcom-team commented on #15354
Hi @amittiwari024. Thank you for your report.
The issue has been fixed in magento/magento2#15351 by @amittiwari024 in 2.2-develop branch
Related commit(s):
 - [37851f48002c80ee8456e38b9be96b2990999f0f](https://github.com/magento/magento2/commit/37851f48002c80ee8456e38b9be96b2990999f0f)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-22 16:40] #15354 closed, assigned to amittiwari024

[2018-05-22 16:40] magento-engcom-team commented on #15319
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#15350 by @sunilit42 in 2.2-develop branch
Related commit(s):
 - [8c144a26281aeb9c773b98b8c8bbd7ffecc0658b](https://github.com/magento/magento2/commit/8c144a26281aeb9c773b98b8c8bbd7ffecc0658b)
 - [9e0db3089f61d29cd3df436d38c9f3af589d81be](https://github.com/magento/magento2/commit/9e0db3089f61d29cd3df436d38c9f3af

[2018-05-22 16:40] #15319 closed, assigned to sunilit42

[2018-05-22 16:40] magento-engcom-team commented on #15355
Hi @saurabh-aureate. Thank you for your report.
The issue has been fixed in magento/magento2#15346 by @saurabh-aureate in 2.2-develop branch
Related commit(s):
 - [933927953ddb5871b3eef96aab36064b55d97d82](https://github.com/magento/magento2/commit/933927953ddb5871b3eef96aab36064b55d97d82)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-22 16:40] #15355 closed, assigned to nobody

[2018-05-22 16:40] magento-engcom-team commented on #15121
Hi @rjtulloh. Thank you for your report.
The issue has been fixed in magento/magento2#15265 by @keithbentrup in 2.2-develop branch
Related commit(s):
 - [b7179ad97c0a406e41245d9d092a17df529a1768](https://github.com/magento/magento2/commit/b7179ad97c0a406e41245d9d092a17df529a1768)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-22 16:40] #15121 closed, assigned to nobody

[2018-05-22 16:40] magento-engcom-team commented on #15352
Hi @NamrataChangani. Thank you for your report.
The issue has been fixed in magento/magento2#15343 by @vgelani in 2.2-develop branch
Related commit(s):
 - [00bfbd0e8f556fa0e916fc4757c767741093c2ab](https://github.com/magento/magento2/commit/00bfbd0e8f556fa0e916fc4757c767741093c2ab)
 - [cdc5b2ffbc4540f86a0054cc41d650b9a3cf2ec8](https://github.com/magento/magento2/commit/cdc5b2ffbc4540f86a0054cc41d6

[2018-05-22 16:40] #15352 closed, assigned to nobody

[2018-05-22 16:48] aeu commented on #13427
I see that this is fixed in 2.3.x and 2.2.x, is there any chance of a fix in the next 2.1.x update as well?

[2018-05-22 17:20] rcoelros commented on #4737
It worked for me: https://magento.stackexchange.com/a/132691

[2018-05-22 18:41] southerncomputer commented on #9439
@oabreu  app/code/HQ/MissingAddressRegionFix/Observer/AddressFormat.php  is where observer.php should go! it is named wrong

[2018-05-22 18:53] oabreu commented on #9439
Thank you very much @southerncomputer , i called it addressFormat.php because of this picture
![image](https://user-images.githubusercontent.com/30050715/40383841-df98264a-5dcf-11e8-94ab-62f0ff1892c5.png)
But now i changed the name to AddressFormat.php and is working :)

[2018-05-22 19:40] zestbeauty opened #15437 "Can't delete/edit product image on some migrated products."
When we try to delete or edit the product image on a product that has been migrated and save, nothing changes.

### Preconditions
1. Magento 2.2.3
2. PHP 7.0
3. Migration from Magento 1.9.1.0
4. All folder permissions are correct

### Steps to reproduce
1. Open an imported product.
2. Delete the product image
3. Save the Product

### Expected result
1. Product image should be deleted

### Actual r

[2018-05-22 20:49] AirmanAJK commented on #15430
I had a similar problem with the table 'report_viewed_product_index'. Every time a product was viewed, an event would trigger a database insert to later have statistics of which pages are popular. This was a problem for us, because we run a crawler every day to get our product pages cached using many concurrent web connections. The overload of inserts to the table would cause a small number of pag

[2018-05-22 20:56] hobaugh commented on #15434
This happens on 2.2.3 as well

[2018-05-22 21:09] markalston commented on #15148
+1

[2018-05-22 22:10] magento-engcom-team commented on #15334
Hi @neeta-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15372 by @vgelani in 2.2-develop branch
Related commit(s):
 - [35b2cdf075d5fa1d4117cfb11749eff71c292380](https://github.com/magento/magento2/commit/35b2cdf075d5fa1d4117cfb11749eff71c292380)
 - [be8c6cb58acb79863a67b5d5d0b076e0dc61b822](https://github.com/magento/magento2/commit/be8c6cb58acb79863a67b5d5d0b076

[2018-05-22 22:10] magento-engcom-team commented on #15037
Hi @brian-labelle. Thank you for your report.
The issue has been fixed in magento/magento2#15347 by @jignesh-baldha in 2.2-develop branch
Related commit(s):
 - [6fcfb88a1077602d632c2e8e4037f8cdd147a86b](https://github.com/magento/magento2/commit/6fcfb88a1077602d632c2e8e4037f8cdd147a86b)
 - [bfb39b5bfe24ca0b00de0bf0348db4fb3b5ef3d2](https://github.com/magento/magento2/commit/bfb39b5bfe24ca0b00de0bf

[2018-05-22 22:10] #15037 closed, assigned to jignesh-baldha

[2018-05-22 22:10] magento-engcom-team commented on #14747
Hi @tohann. Thank you for your report.
The issue has been fixed in magento/magento2#15247 by @KaushikChavda in 2.2-develop branch
Related commit(s):
 - [6eb96c6f020a7bb90d3ec7a2b6555d771b93fa3d](https://github.com/magento/magento2/commit/6eb96c6f020a7bb90d3ec7a2b6555d771b93fa3d)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-22 22:10] #14747 closed, assigned to KaushikChavda

[2018-05-22 22:10] magento-engcom-team commented on #14941
Hi @paales. Thank you for your report.
The issue has been fixed in magento/magento2#15089 by @JeroenVanLeusden in 2.2-develop branch
Related commit(s):
 - [c5536d3721989b97ec0bc02ec174d898067d4dcb](https://github.com/magento/magento2/commit/c5536d3721989b97ec0bc02ec174d898067d4dcb)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-22 22:10] #14941 closed, assigned to Jeroenll

[2018-05-22 22:53] jstukey commented on #7374
This is great. May I ask how to do the same thing in the same place but instead of showing the price of each selection I need to show the product image associated with each selection. I'm stuck. @deepak-netwin

[2018-05-22 22:59] davidxdbp commented on #10550
Again, another website saved :) flushing redis did the trick.

[2018-05-22 23:12] kirmorozov commented on #13685
Here is one more related PR https://github.com/magento/magento2/pull/14268

[2018-05-23 00:58] PivitParkour94 commented on #15024
@gwharton  and @vgelani,

You are right, those solutions work but they are extremely tacky and I was hoping for a more elegant solution, that addresses the root issue of the js-translation.json file being generated.

The adjusting of the vendor files is such bad practise and unfortunate that we are left with issues as simple as this, that require an entirely new deployment process to fix.

Guess M

[2018-05-23 01:29] bap14 commented on #15024
@PivitParkour94 I believe the `js-translation.json` file is generated based on the current translation inheritance for the module.  So the solution I proposed, which fixes how the framework deals with "overriding" the "Back" value in your module, should mean the `js-translation.json` file is generated with the correct translations for each module as well.

[2018-05-23 01:37] ADVANCEDSPORTVE opened #15439 "SHIPPING SHOWS INCORRECT RATES !!!!"
### Preconditions

1.
2. MAGENTO 2.2.2   libmysql - 5.1.73 PHP version: 5.6.30

### Steps to reproduce

1. GO TO FRONT END OF STORE
2. CHOOSE ANY ITEM ADD TO CART
3. ENTER SHIPPING ZIP CODE TO GET RATES

### Expected result

1. RETAIL CUSTOMER SHOULD ONLY SEE RETAIL SHIPPING COSTS

### Actual result

1. [Screenshot, logs]
CUSTOMERS SEES SHIPPING RATES THAT STORE OWNER PAYS TO SHIPPING COMPANY (FED

[2018-05-23 01:58] Ctucker9233 opened #15440 "What does Adobe's Aquisition of Magento mean for Open Source"
I know. This isn't the place for questions, but since it pertains to development I thought I would try. What will Adobe's acquisition of Magento mean for the future of Magento CE? Is it going to continue being Open Source or will it be folded into the Enterprise version? I need to know what to tell my client.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines-->

### Preconditions

[2018-05-23 03:15] fooman opened #15441 "After 2.3.0-alpha upgrade 'Zend\Mvc\Controller\LazyControllerAbstractFactory' not found"
### Preconditions
1. install Magento 2.2

### Steps to reproduce

1. composer config minimum-stability alpha
2. composer require magento/product-community-edition:2.3.0-alpha --no-update
(also copy updated require-dev dependencies)
3. composer update
4. bin/magento setup:upgrade

### Expected result

1. Upgrade should run

### Actual result

1.
[code]

The issue can be fixed by manually editing `c

[2018-05-23 04:32] seanspcm commented on #14667
did anyone find a solution to the product images loading slow on the product pages?

[2018-05-23 05:33] dschmidthawk commented on #14977
I'm having the same issue, but none of the above works. I'm not using a theme gallery.phtml, just the luma default.  I've also checked to make sure no special characters in the filenames. No attributes for the product and only one image file.

I'm also having issues with the content of the details tab showing on the product page.  The tab is visible, but clicking on it doesn't show any of the long

[2018-05-23 05:40] syedsaleem086 commented on #11864
Hi @solwininfotech
Thanks for checking out this. The issue occurs at 97% completion of static-content deploy of the custom theme.

[2018-05-23 05:45] kunj1988 commented on #14112
Please review my commit, I have tried to resolve this issue.

**Resolved #14112 : Duplicate bundle product's child products issue.**

[2018-05-23 06:31] farhadfrz commented on #12612
Any progress on this issue?
We get both of the following error messages simultaneously (using Magento 2.1.12):

- main.CRITICAL: Exception: Notice: Array to string conversion in vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 2929 in /var/www/lekekassen.no/vendor/magento/framework/App/ErrorHandler.php:61

- main.CRITICAL: Magento\Framework\Exception\InputException: Unable to save address

[2018-05-23 06:33] jakoblundsted commented on #12612
@farhadfrz I had the same issue, and for me it was a custom made module that would save the quote twice.

[2018-05-23 07:10] jigardhaduk opened #15446 "Category custom sorting - returns an incorrect value of items"
Custom catalog sorting return an incorrect value

### Preconditions

1. Fresh Magento 2.2.3
2. php 7.0.22

### Steps to reproduce

1. I have added a custom sort order of Best Seller. Like:

            $this->_collection->getSelect()
                        ->joinLeft(
                                'sales_order_item',
                                'e.entity_id = sales_order_item.product_id',

[2018-05-23 07:22] jigardhaduk opened #15447 "Can't add a hyperlink in contact form email template"
### Preconditions

1. Magento 2.1.13
2. php 7.0.22

### Steps to reproduce

1. Create a new email template for contact by the backend.
**Marketing -> Communication -> Email Template**
2. Click on **New Template** button
3. Load **Contact Form** in **Template** dropdown
4. Add hyperlink in **Template Content**

### Expected result

1. A hyperlink should display in the email preview

### Actual resu

[2018-05-23 07:52] ghost opened #15448 ""Out of memory crash" on "Cart Price Rules" setting based on category condition"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1.12

### Steps to reproduce

1. In CMS, click Marketing -> Promotions -> Cart Price Rules -> Add New Rule
2. In Conditions, click Add button(the "+" symbol) select "Product attribute combination"
3. Click the new "+" button, select "Condition" in the "Please choose a condition to add" dropdown
4. Click "...", then click the "Open Chooser" icon

### Exp

[2018-05-23 08:04] LouNik1984 opened #15449 "M2.2.2: catalog pages display random same image for all products which have no image (it should display placeholder instead)"
### Preconditions
1. magento 2.2.2 without sample data in developer mode

### Steps to reproduce
1. Create simple products via script, leave them without images and assign them to a category
2. clear cache and reindex

### Expected result
1. Catalog page should display products with placeholder image

### Actual result

1. Cataog page shows an image (taken randomlly from another product which has

[2018-05-23 08:54] Jaydeepjd commented on #15430
Hello  AirmanAJK ,

I have currently schedule cron jobs every 15min so can i set run cron jobs per day then fix the issue.. ?

Please replay as soon as possible.
Thanks,

[2018-05-23 09:00] hitesh-wagento commented on #14153
I am working on this

[2018-05-23 09:10] magento-engcom-team commented on #15118
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#15353 by @chirag-wagento in 2.2-develop branch
Related commit(s):
 - [eef111fe2f7877515c8792bb710bda75a50e9a06](https://github.com/magento/magento2/commit/eef111fe2f7877515c8792bb710bda75a50e9a06)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-23 09:35] jeffb1a5 commented on #15047
still a problem in CE 2.2.4

[2018-05-23 09:40] Toregam opened #15455 "Error Export products's csv"
### Preconditions

1. Magento version: 2.1.7
2. Reindex / clear cache.

### Steps to reproduce

1. go to System/Export
2. Select: Products
3. Select: CSV

### Expected result

1. Download the csv containing all the products.

### Actual result

1.Error: Correct the value of the recorded data.
1. [Screenshot, logs]
![immagine](https://user-images.githubusercontent.com/32936901/40416612-fdbe76d4-5e7

[2018-05-23 09:52] allinvinod commented on #6722
@siju-corra I am facing the same issue, have you fixed the issue permanantly?

[2018-05-23 09:55] asimbyazid opened #15456 "Buttons under dashboard section not responding to click event"
I was working on typography section, after I changed the header styling, I realized the SAVE CONFIG button is not working. the later on I found out all the sections are not responding to click event

### Preconditions

1.  Magento 2.2.3
2.  PHP version 7.0

### Steps to reproduce

1. login to magento admin page
2. click on any section
3.

### Expected result

1. Toggle drawer

### Actual result

1

[2018-05-23 10:11] harleen-mann opened #15457 "Bundle Products price range is showing expired special price from bundle options"
### Preconditions
1. 2.2.1
2. bundle product showing expired special price

### Steps to reproduce
1. edit bundle option and set special price dates:
![screen shot 2018-05-23 at 11 06 19](https://user-images.githubusercontent.com/25430163/40418099-5a2edf9e-5e79-11e8-9003-0982a294f056.png)
2. reindex and clear cache
3. view product

### Expected result
1. no special price should be shown for bundle

[2018-05-23 10:16] staywithabhi opened #15458 "Sales emails are sent from a strange email"
I am using magento 2.2.4 on go daddy VPS.I have configured the store email addresses properly and also select in sales->sales emails.
Whenever an order is placed customer recieves order confirmation mail in spam folder which is due to strange email send address(Email From).
I am not using any custom SMTP extension this is a fresh magento installed

### Preconditions

1. magento 2.2.4
2. Server goD

[2018-05-23 10:19] rezaulsarker commented on #15359
I am also face this and I am found my solution here >> https://magento.stackexchange.com/questions/225628/something-went-wrong-while-saving-this-configuration-area-is-already-set

[2018-05-23 10:40] gcampedelli commented on #15440
https://twitter.com/mjasay/status/998930665805496321

![image](https://user-images.githubusercontent.com/7084395/40419705-89c4ebd0-5e5c-11e8-8763-607b903650e4.png)

[2018-05-23 10:41] gcampedelli commented on #15440
But I think we should ask Adobe a commitment on that!!

[2018-05-23 11:02] gitgiangalbe commented on #10461
I had similar iussue. Solved it to set null value for json id property:
"media_gallery_entries": [
      {
        **"id": null,**
        "mediaType": "image",
        "label": "Immagine_0_003084.999-150",
        "position": 1,
        "disabled": false,
        "types": [
          "image",
          "small_image",
          "thumbnail"
        ],
        "file": null,
        "content": {

[2018-05-23 11:09] sangthieu commented on #11287
I found some issue. Mage have "password_hash" in both attribute and table customer_entity. So When we reset new password_hash saved in table. but when customer login, password hash get from attribute.
After remove attribute attribute "password_hash", new "password_hash" not saved.

[2018-05-23 11:13] hostep commented on #15448
Hi @yuchen2019

I'm going to close this issue as it duplicates https://github.com/magento/magento2/issues/15121, which already got fixed in https://github.com/magento/magento2/pull/15265 and the fix should get included in Magento 2.2.5

[2018-05-23 11:13] #15448 closed, assigned to nobody

[2018-05-23 11:13] hostep commented on #15241
Hi @emiprotech

I'm going to close this issue as it duplicates https://github.com/magento/magento2/issues/15121, which already got fixed in https://github.com/magento/magento2/pull/15265 and the fix should get included in Magento 2.2.5

[2018-05-23 11:13] #15241 closed, assigned to nobody

[2018-05-23 11:17] hostep commented on #15458
Hi @staywithabhi

I think this is a duplicate of https://github.com/magento/magento2/issues/14952
If you agree, can you close this issue?

Thanks! :)

[2018-05-23 11:28] SamB-GB commented on #11577
I'm on 2.2.4 and disabling the Klarna module seems to have resolved the issue for me

[2018-05-23 11:40] ritschi72 commented on #11740
Still got that problem in 2.2.4 ...

[2018-05-23 12:16] staywithabhi commented on #15359
yeah i also found that solution but making changes directly in core file is not a good practise.Well as explained by @hostep ,issue will be fixed in upcoming release i.e. 2.2.5

[2018-05-23 12:34] staywithabhi commented on #15458
Hi @hostep ,
Thanks for solution,yeah it seems this issue is duplicate.

[2018-05-23 12:34] #15458 closed, assigned to nobody

[2018-05-23 12:51] breg-13 commented on #11995
Hi there.
![image](https://user-images.githubusercontent.com/9048430/40424783-2b9e3ff0-5e9f-11e8-9115-95ef1160ceea.png)
Resolved problem with category image saving for me.
Really strange. Check that file exists by some path FIRST and only then copy it to checked path :)

[2018-05-23 12:53] amittiwari024 commented on #15447
@jigardhaduk you should remove ' ' from the code then you are able to see link correctly.
 eg: {{ <a href="#">Your text</a> }}

[2018-05-23 13:00] davidwindell commented on #11995
@breg-13 why close if this is still outstanding?

[2018-05-23 13:02] breg-13 commented on #11995
@davidwindell, sorry that was just mistake.

[2018-05-23 13:04] AirmanAJK commented on #15430
That is not a solution. The cron job only triggers Magento's scheduler to run which itself is responsible for queuing actual work to be done. For example, sending the newsletter doesn't happen every minute, but the cron job lets Magento check every minute to determine when it should be sent. If you look at the table 'cron_schedule', you'll see what jobs are being generated, executed, and their res

[2018-05-23 13:04] VirtusB commented on #4096
The problem still exists in 2.2.4. We went from 4 GB media to 80 GB media

[2018-05-23 13:17] Jaydeepjd commented on #15430
Then what is the proper solution for this.

[2018-05-23 13:37] gewaechshaus commented on #15245
@jokeputs @callumstar - do you have any news related to this? We got the same issue in a MCE 2.2.4 store... You can see it in full effect on https://eu.makerdise.com. All links are wrong, some strings also. DAMN.

[2018-05-23 13:38] Vossie1975 opened #15461 "Requesting products via REST API using store code in URL returns products from all stores"
### Preconditions

- Magento 2.4-develop;
- Integration created;

### Steps to reproduce

1. Create a website with code `wb2`.
2. Create a store `st2` and assign it to the `wb2` website.
3. Create a store view with code `sv2` and assign to the new store.
![image](https://user-images.githubusercontent.com/51680850/82812137-fcb39080-9e9a-11ea-9c69-3538c625a511.png)

4. Create product and assign only

[2018-05-23 13:58] ADVANCEDSPORTVE commented on #15440
WHAT???!!! I fail to see why Magento keeps changing hands! i suspect if Adobe gets Magento, CE may be terminated .. i just got that feeling ...

[2018-05-23 14:39] carloricci84 commented on #11131
I fixed this problem in 2.1.11 by overriding the class Magento\Framework\Event\ObserverInterface\CatalogCheckIsUsingStaticUrlsAllowedObserver

I added a verification on the store id to set it to 0 if it is an empty string and it works correctly now. It will only works if you have the setting "Use Static URLs for Media Content in WYSIWYG for Catalog" set to yes in Configuration -> General -> Conten

[2018-05-23 15:09] callumstar commented on #15245
Hi @gewaechshaus,

I've heard nothing from @magento-team or @magento-engcom-team regarding this. Somebody has verified this is an issue in the GitHub Issue that I raised (please find it here - #15205), they mentioned that there is a commit that you can do to attempt a fix for it for the time being, so I would suggest trying that.

We've taken the decision to not upgrade to 2.2.4 yet with any sites

[2018-05-23 15:43] SamB-GB opened #15463 "Visual Issue "vertex tax classes""
Having started setting up a new Magento 2.2.4 the TAX calculations where off for shipping but I wasn't able to fix the issue. I searched Google and lots of places where pointing to setting the correct tax Class for shipping but I wasn't able to find this setting UNTIL I found it in Stores > Configuration > Sales > Tax > Vertex Tax Classes

Changing these settings changed the calculation despite th

[2018-05-23 16:04] ajayshukla commented on #15428
Anyone has got reply, please let me know your thoughts.

[2018-05-23 16:31] dankhrapiyush commented on #14116
Hi @Sathishkumar8731
This is actually a duplicate of [#13429](https://github.com/magento/magento2/issues/13429) and it has been fixed by @serhii-balko in 2.3-develop branch.

Related commit(s):
 - [99b32cf0595a1a8c0ef309d150c7ee350c5e2c83](https://github.com/magento/magento2/commit/99b32cf0595a1a8c0ef309d150c7ee350c5e2c83)
 - [fd5e0b5532b56451cadcc03353bae2ff54838fcc](https://github.com/magento/ma

[2018-05-23 16:55] fsrojash commented on #12289
I have the same issue happening on Products -> Catalog.

- Preconditions: Magento 2.1.13
- Steps to reproduce: A catalog of +1000 products, +250 attributes, +200 attribute sets.
- Expected result: Catalog listing in a reasonable time.
- Actual result: Catalog listing in 3 minutes or more.

[2018-05-23 16:56] bruno-serfe commented on #15413
Hey guys, this is not a Magento 2 issue, you can close this one. thanks.

[2018-05-23 17:00] magento-engcom-team commented on #14692
Hi @likemusic. Thank you for your report.
The issue has been fixed in magento/magento2#15407 by @rogyar in 2.1-develop branch
Related commit(s):
 - [e8087c5569b32d193801f63fa2c9fd02f10c6a29](https://github.com/magento/magento2/commit/e8087c5569b32d193801f63fa2c9fd02f10c6a29)

The fix will be available with the upcoming 2.1.15 release.

[2018-05-23 17:42] hostep commented on #11577
@SamB-GB: nice find! You are right, since the Klarna module comes bundled by default in Magento 2.2.4 now and contains the following code which causes the problem in its `config.xml` file:
[code]

So they do it incorrectly.

Now, if we would be able to find where that code is hosted on Github, we could send in a PR to fix it, but I can't seem to find it anywhere...

[2018-05-23 17:45] duffner commented on #11577
@hostep, I added this find to the stack exchange link you referenced but forgot to added it back here!  Thanks for reporing @SamB-GB

[2018-05-23 17:46] AirmanAJK commented on #15430
That would depend on what the actual problem is. You should not be getting a database lock error when reindexing. Finding out why you are is likely going to require a technical analysis of your logs and database, and possibly even real-time debugging. This is a task suited to a Magento developer, or at least someone with development experience.

When problems aren't reproducible on other systems,

[2018-05-23 17:55] Jakhotiya commented on #12176
Thanks @andkirby I am aware of this fix but this issue looks more serious. I traced it to attribute cache being saved incorrectly sometimes? That makes me wonder about possible repercussions of this issue. As of now, we do have that temporary fix in place on live site, but we keep trying to replicate issue on staging site.

[2018-05-23 17:59] gwharton commented on #12176
I also get this on a reasonably regular basis when m2epro is downloading orders. My last debug showed the exact same problem, and a refresh of the cache fixed the attribute type.

[2018-05-23 18:00] hostep commented on #4096
Thanks for the update @VirtusB!

It looks like they re-added catching that `Magento\UrlRewrite\Model\Exception\UrlAlreadyExistsException` exception in 2.2.4 in: https://github.com/magento/magento2/commit/ac4dd33ea39e3d25226291282560ca3083635e7b which I explained about over [here](https://github.com/magento/magento2/issues/9466#issuecomment-339456558)

@orlangur: I'm re-opening ticket #9466 if you

[2018-05-23 18:00] hostep commented on #9466
Re-opening after [a report](https://github.com/magento/magento2/issues/4096#issuecomment-391338850) from @VirtusB who mentions this bug possibly re-appeared in Magento 2.2.4

Feel free to close when I'm mistaken.

[2018-05-23 18:19] AirmanAJK commented on #15327
I encountered a simliar problem with sitemap generation that I fixed myself. I had the product "name" attribute set as global scope, but the sitemap generation code for products had hardcoded it as store scoped. I believe that bug was fixed in a later version, but perhaps it was 2.x.

If you do have the name attribute set as global, try testing it scoped to store instead. If that works, I can shar

[2018-05-23 18:27] hostep commented on #15463
I have to agree with @SamB-GB here.

That Vertex module completely overwrites 3 default Magento system config fields and blatantly puts their own branding on top of it. Wth? Did someone from Magento actually review this module before this got included by default???

System config fields it overwrites:
- tax/classes/shipping_tax_class
- tax/classes/default_product_tax_class
- tax/classes/default_cu

[2018-05-23 18:30] Ctucker9233 commented on #15440
@ADVANCEDSPORTVE It seems to be a done deal. I genuinely hope it stays open source.

[2018-05-23 18:47] #15413 closed, assigned to nobody

[2018-05-23 20:27] jonshipman opened #15467 "Cart does not load when Configuration product option is deleted and that option is in the cart"
The issue is that $this->getChildProduct() is null when trying to access getThumbnail().

Affected classes/methods:
Magento\ConfigurableProduct\CustomerData\ConfigurableItem::getProductForThumbnail()
Magento\ConfigurableProduct\Block\Cart\Item\Renderer\Configurable::getProductForThumbnail()

[2018-05-23 20:53] brian-labelle opened #15469 "lib/web/mage/dropdowns.js fails when autoclose is set to true"
Magento's lib/web/mage/dropdowns.js has a bug that prevents a developer from specifying `autoclose: false` as an option for the dropdown function.

### Preconditions

1. Magento 2.2 or greater
2. Any version of PHP, MySQL
3. Any Browser

### Steps to reproduce

1. Call function 'dropdown' on a jquery element, specifying 'autoclose: false' as an option
[code]
2. Open the dropdown
3. Click anywhere

[2018-05-23 20:59] brian-labelle commented on #15469
See lines 129-143 of lib/web/mage/dropdowns.js
[code]

`el` is only initialized as `actionElem`, which should be `$(this)`, the element we are calling dropdown on, when we have `options.autoclose` is  `true`

As a result, if `options.autoclose` is `false`, `el` is `undefined`, so we cannot call function `hasClass` on it

[2018-05-23 20:59] gwharton commented on #15118
I don't agree with the resolution of this issue to be honest.

Placing both footer and copyright at position absolute, bottom: 0 means that the footer is partially obscured by the copyright. It also means that pages that have content larger than one page, the footer stays on screen and the content disappears down behind the footer.

I would have though the best implementation would be to use the s

[2018-05-23 21:14] gewaechshaus commented on #15245
Hi @callumstar,
we could solve this in our case, there seems to be a new config flag "Base Link URL" under General -> Web -> Base URLs which had the default value checked in the related store view. Maybe somebody can verify this...?

[2018-05-23 22:31] ADVANCEDSPORTVE commented on #15439
wow ! thanks!!! i had no idea that magento developers did that way...
come to think of it.. in my old 1.7.0.2 ver this never happened , rates always showed at full retail

[2018-05-23 22:39] ADVANCEDSPORTVE commented on #15439
by the way , why not just take out this completely out of the equation? would that work?

'RATED_ACCOUNT_PACKAGE',
        'PAYOR_ACCOUNT_PACKAGE',
        'RATED_ACCOUNT_SHIPMENT',
        'PAYOR_ACCOUNT_SHIPMENT',
    ];

[2018-05-24 00:26] Grumag commented on #7977
Issue persists in 2.2.4. Maybe Adobe puts some money into Magento now and actually fixes the gazillion bugs.

[2018-05-24 04:09] jigardhaduk commented on #15447
@amittiwari024 Still display in plain text.
Please check following screen-shot.

![as-per-amit](https://user-images.githubusercontent.com/15403998/40464024-38e68586-5f36-11e8-93c1-bd4d80f09650.png)

[2018-05-24 04:30] hoangnm89 commented on #2228
this bug is happening to me, Magento 2.2.2
![image](https://user-images.githubusercontent.com/655821/40464496-c4274540-5f45-11e8-9983-7d41b3f5659b.png)

[2018-05-24 05:09] brideo opened #15472 "Observer hook delivers poor UX experience."
### Preconditions

1. Magento 2.2.2
2. PHP 7.1
3. Guest checkout enabled

### Steps to reproduce

1. Create an observer of the `checkout_allow_guest` event
2. If a certain product is in the customers quote, disable guest checkout.
3. As a customer, add this product to cart

### Expected result

1. On checkout, when the customer clicks the checkout button they should be prompted to log in.

![image

[2018-05-24 05:09] chirag-wagento commented on #15118
@gwharton, Thanks  for review my code.
I have fixed it and generated a new pull request
@magento-engcom-team  can you please test and review my new code again

Thanks

[2018-05-24 05:50] #15426 closed, assigned to nobody

[2018-05-24 05:51] tizzyguy87 commented on #15255
Magento Team,
Is there any update on this? Please provide your comments.

[2018-05-24 06:01] elvinristi commented on #15463
FYI if you are using composer.json then just exclude the module if you don't need or use the service, i.e. after "require-dev" section

[code]

This will remove after `composer update` those.

But I agree that some strange modules have been included in `vanilla` version.

[2018-05-24 06:11] jakoblundsted commented on #8933
This is still an issue on 2.2.4, but only when trying to save products while the indexing is running.

[2018-05-24 06:13] johnny-longneck opened #15474 "Page Load disaster - TTFB of 4 seconds after upgrading 2.2.3 > 2.2.4"
After upgrading Magento 2.2.3 to 2.2.4 I have now a TTFB of around 4 seconds.
Every page I load has a delay of these 4 seconds now. Before it was immediatly there. Being often complimented about "how fast the side is".
Now it's a disaster.
Varnish is enabled and Nginx SSL offloading.

Only in live envionment. Attached a screenshot with the profiler result.
Please please help.

### Preconditions
PH