[2018-09-13 22:30] LucaTerzaghi commented on #18050
**WORKING**
![schermata 2018-09-14 alle 00 29 26](https://user-images.githubusercontent.com/5660613/45519439-56eaeb80-b7b5-11e8-9e56-2a5dc978786a.png)

**NOT WORKING**
![schermata 2018-09-14 alle 00 29 34](https://user-images.githubusercontent.com/5660613/45519441-5baf9f80-b7b5-11e8-9115-b68d376c7537.png)

![schermata 2018-09-14 alle 00 29 44](https://user-images.githubusercontent.com/5660613/4551

[2018-09-13 22:43] DerekBoothSEO opened #18051 "Zero weight prevents checkout from working even on downloadable product"
### Preconditions

1. Ver 2.2.5

### Steps to reproduce
1. When adding a downloadable product and selecting 'no weight' the checkout fails.
2. It also the same result on any other product type, no weight is a checkout fail.

### Expected result
1. a downloadable product will never have any weight, I expect the purchase to go through
2.

### Actual result
1.
![order-error-no-weight](https://user-im

[2018-09-13 22:43] magento-engcom-team commented on #18051
Hi @DerekBoothSEO. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-13 23:38] AndyJAllen commented on #16101
I ended up figuring this out. You have to go into the database and fix an e-mail field that is not set for a pending order from the past. Apparently this happens during one of the upgrades in 2.2, but after you set the email field it works moving forward. The problem should not happen to new accounts, but just accounts that already existed prior to the upgrade of M2.

[2018-09-13 23:46] DerekBoothSEO commented on #18051
If you select 'no weight' it fails
If you select 'it has weight' but dont enter a weight it fails
if you select 'it has weight' but put a '0' it works

[2018-09-14 01:26] valuead commented on #9790
same issue.
trying a single record on 2.2.5 version and can't upload import
here is the data
sku;store_view_code;attribute_set_code;product_type;categories;product_websites;name;description;short_description;weight;product_online;tax_class_name;visibility;price;special_price;special_price_from_date;special_price_to_date;url_key;meta_title;meta_keywords;meta_description;created_at;updated_at;new_fr

[2018-09-14 02:12] valuead opened #18052 "Import data 2.2.5 Value for 'product_type' attribute contains incorrect value"
fresh install 2.2.5 with the template and sample data
Exporting products from the live store and can't re-import them back right away because impossible to pass data validation check without cvs file modification.
file cvs utf8 English language unix

the same thing happens when downloading sample data link at the Import section (Download Sample File) and can't pass data validation check because of

[2018-09-14 02:12] magento-engcom-team commented on #18052
Hi @valuead. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-14 05:40] deepakkn85 commented on #16101
@engcom-backlog-pb : Please see the attached screenshots of parameters used to create order and final request to create order. Please let me know if I am missing anything here, which caused the issue.

![add-item](https://user-images.githubusercontent.com/27766532/45531596-1e2b3080-b80e-11e8-8fb9-aa9facd8a9c9.jpg)

![billing-details](https://user-images.githubusercontent.com/27766532/45531735-c346

[2018-09-14 06:15] sidm commented on #18009
Can you please link me to them?

[2018-09-14 06:26] thomashery commented on #12524
This was reproduced in 2.2.5 so issue is still current

Kind Regards,
Thomas Hery
thomas.hery@gmail.com
(+61)422243473

On Wed, 12 Sep 2018 at 17:51, Sanne Peters <notifications@github.com> wrote:

[2018-09-14 06:40] engcom-backlog-nazar commented on #14510
@victortodoran  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-14 06:40] #14510 closed, assigned to nobody

[2018-09-14 06:56] engcom-backlog-nazar commented on #18044
Hi @kanduvisla seems like an duplicate ->https://github.com/magento/magento2/issues/17884 ?

[2018-09-14 06:58] ssawatkatalyst opened #18053 "Magento 2.2.5"
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'argument', attribute 'translate': The attribute 'translate' is not allowed.
Line: 53

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'argument', attribute 'translate': The attribute 'translate' is not allowed.
Line: 53

#0 C:\wamp64\www\e-mage\vendor\magento\framework\Config\Dom.php(

[2018-09-14 06:58] magento-engcom-team commented on #18053
Hi @ssawatkatalyst. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-14 07:00] engcom-backlog-nazar commented on #18053
Hi @ssawatkatalyst  I'm not able to reproduce following steps your described, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-14 07:00] #18053 closed, assigned to nobody

[2018-09-14 07:13] Anju2006 commented on #16722
Looks like it.

[2018-09-14 07:14] Anju2006 commented on #16722
Looks like it :/

[2018-09-14 07:18] #18052 closed, assigned to nobody

[2018-09-14 07:39] valuead commented on #18052
can you please attach your import file for testing. the same one you used and can't reproduce. I'm gonna run it thru my install.

[2018-09-14 07:42] engcom-backlog-nazar commented on #18052
@valuead You can download by link In your screen-> "Download Sample file".

[2018-09-14 07:43] LovelySetia commented on #4909
routbiplab What arguments is passed in body for V1/customapi.

[2018-09-14 07:51] stephenbori commented on #16722
@Anju2006  - Thanks for the heads up on this, especially the removal on 2.2.6. I will look for another solution

[2018-09-14 07:52] magento-engcom-team commented on #18050
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.c

[2018-09-14 07:55] engcom-backlog-nazar commented on #18050
Hi @LucaTerzaghi please  Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2018-09-14 07:58] kamilszewczyk commented on #18048
@hostep
the HTML minification is actually disabled.
The `//test.js` is a placeholder for the domain name to include with same protocol as the current site.
Changing to `https://test.js` seems to fix the issue, but so is changing to `<?=` in the php opening tags.

It does seem very similar to the #5316 I will keep an eye on this issue in 2.2.6

[2018-09-14 08:10] valuead commented on #18052
just now
1. download file
2. import. What could be wrong?
![import4](https://user-images.githubusercontent.com/9205462/45538088-e9da5480-b7ba-11e8-911d-8a7b0ad42b52.PNG)

[2018-09-14 08:13] engcom-backlog-nazar commented on #18048
Hi @kamilszewczyk  I'm not able to reproduce following steps you described. see attachments
![selection_090](https://user-images.githubusercontent.com/40756439/45538222-1a4bde00-b80f-11e8-8e4d-0ad9acf6667f.png)
![selection_089](https://user-images.githubusercontent.com/40756439/45538223-1a4bde00-b80f-11e8-9e93-933c3743fe16.png)

[2018-09-14 08:15] engcom-backlog-nazar commented on #18048
@kamilszewczyk  if you like to update the issue please reopen.

[2018-09-14 08:18] engcom-backlog-nazar commented on #18052
@valuead Please see if you have website with code "base".

[2018-09-14 08:28] engcom-backlog-nazar commented on #18050
@LucaTerzaghi , thank you for your report. The fix for this issue already available in 2.3-develop branch
We've acknowledge the issue and added to our backlog.

[2018-09-14 08:31] Nix-id commented on #14977
i see global problem with use
$block->getVar("");
this method change his return values to different, and it can broke many templates.

previusly this method  work as:

"loop": true,
"keyboard": true,
"arrows": true,
"allowfullscreen": true,
"showCaption": false,

return true and false values.

and now:

"loop": 1,
"keyboard": 1,
"arrows": 1,
"allowfullscreen": 1,
"showCaption": ,

on "true' = 1
on

[2018-09-14 08:31] engcom-backlog-pb commented on #18051
@DerekBoothSEO, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. It's obvious your problem is caused by custom code.

[2018-09-14 08:31] #18051 closed, assigned to nobody

[2018-09-14 08:44] valuead commented on #18052
well I did play with it and now I'm getting this and I heard this is a common issue of duplicated headers?

Yes, I'm aware of the website code, thank you for raising that up. I must admit I did misspell it.

this is a new error now.
Duplicates found in column names: array ( 0 => 'sku', 1 => 'store_view_code', 2 => 'attribute_set_code', 3 => 'product_type', 4 => 'categories', 5 => 'product_websites

[2018-09-14 08:47] engcom-backlog-nazar commented on #18052
@valuead is that in sample file ? Can you verify this in vanilla instance ?

[2018-09-14 08:57] engcom-backlog-pb commented on #10292
@andrewhowdencom, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-14 08:58] valuead commented on #18052
yes, this is in a sample file. I'm sorry I'm not aware of vanilla instance

[2018-09-14 09:01] engcom-backlog-nazar commented on #18052
@valuead seems strange, maybe something wrong with yours instance, seems like some attributes are required in csv file, or something else,

[2018-09-14 09:03] engcom-backlog-nazar commented on #18052
@magento-engcom-team give me 2.2.5 instance

[2018-09-14 09:03] magento-engcom-team commented on #18052
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-14 09:03] magento-engcom-team commented on #18052
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-18052-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18052-2-2-5.engcom.dev.magento.com/admin](https://i-18052-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-14 09:04] hostep commented on #14977
@Nix-id: see discussion over here: https://github.com/magento/magento2/pull/17920#issuecomment-418622936

[2018-09-14 09:05] engcom-backlog-nazar commented on #18036
Hi @ipascual close this issue as duplicate ti ->https://github.com/magento/magento2/issues/14990
if you'd like to update this issue please reopen

[2018-09-14 09:05] #18036 closed, assigned to nobody

[2018-09-14 09:06] engcom-backlog-pb commented on #16101
@deepakkn85, thank you for the update. We were not able to reproduce this issue by following the steps you provided.

[2018-09-14 09:06] #16101 closed, assigned to nobody

[2018-09-14 09:07] engcom-backlog-nazar commented on #18052
@valuead Here you vanilla instance, try same on this instance

[2018-09-14 09:09] engcom-backlog-nazar commented on #18021
@ankurverma5540 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. It's obvious your problem is caused by custom code.
If you like to update this, please reopen issue

[2018-09-14 09:09] #18021 closed, assigned to nobody

[2018-09-14 09:12] engcom-backlog-nazar commented on #18010
Hi @elamurugan @ankurverma5540 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
If you like to update this, please reopen issue

[2018-09-14 09:12] #18010 closed, assigned to nobody

[2018-09-14 09:14] engcom-backlog-pb commented on #17873
@milossh, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-14 09:14] #17873 closed, assigned to nobody

[2018-09-14 09:26] engcom-backlog-nazar commented on #18052
@valuead which version of magento this csv file ?

[2018-09-14 09:31] engcom-backlog-nazar commented on #18052
@valuead Ok i'm found the problem :) your file seems to be broken, i upload the sample file an everything is ok , and with yours have an error

[2018-09-14 09:32] engcom-backlog-nazar commented on #18052
@valuead

![selection_091](https://user-images.githubusercontent.com/40756439/45542346-4587fa80-b81a-11e8-939a-7f7b6afea590.png)

[2018-09-14 09:38] valuead commented on #18052
cat composer.json
{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.2.5",
    "license": [
        "OSL-3.0",
        "AFL-3.0"

[2018-09-14 09:40] valuead commented on #18052
Do you mean my install erroring out or I have bad csv file?

[2018-09-14 09:41] engcom-backlog-nazar commented on #18052
@valuead  Problem in your csv file not in magento, the code website may not contain the "_" character.

[2018-09-14 10:06] callumstar commented on #15846
Hi @digikeijs, @engcom-backlog-nickolas and @magento-engcom-team,

Has this ever been resolved? Still getting this issue in 2.2.5?

[2018-09-14 10:07] DanielRuf commented on #17115
@magento-engcom-team give me 2.2.5 instance

[2018-09-14 10:08] magento-engcom-team commented on #17115
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-14 10:08] magento-engcom-team commented on #17115
Hi @DanielRuf, here is your [Magento instance](https://i-17115-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17115-2-2-5.engcom.dev.magento.com/admin](https://i-17115-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-14 10:37] magolovanov opened #18054 "Fresh 2.2.5 installation - menu is not operational"
### Preconditions

1. Install fresh 2.2.5

### Steps to reproduce
1. Navigate to http://magento2.catalog-on-demand.com/admin_XXX and log in

### Expected result
1. A screen where "Content", "System" etc links navigate to relevant UI sections

### Actual result
 All menu links ( "Content", "System" etc) are identical and navigate to the dashboard itself - like

http://magento2.catalog-on-demand.com

[2018-09-14 10:37] magento-engcom-team commented on #18054
Hi @magolovanov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-14 10:41] Nix-id commented on #14977
@hostep
Why you dont leave reverse compatible?
mb better was make change for xml config
somthing like
<var name="caption" **type="bool"**>false</var>
for return  boolean value,  and for
<var name="caption">false</var>
leave return as string

then i will don't get errors with my theme after update magento...

how many places use this method getVar in Magento.
all this places must be rechecked.

[2018-09-14 10:47] benjamin-volle opened #18056 "CacheInvalidate : stop at first server not responding"
### Preconditions
All Magento versions

### Steps to reproduce
1. Setup 2 Varnish servers (cache1 and cache2) in the http_cache_hosts section of "env.php"
2. Turn off the first one (cache1)
3. Try to flush the full_page by launching bin/magento cache:flush full_page

### Expected result
The full_page is flushed for cache2 (the only one responding)

### Actual result
The full_page is not flushed fo

[2018-09-14 10:47] magento-engcom-team commented on #18056
Hi @synolia-bvo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-14 10:56] engcom-backlog-nazar commented on #18054
Hi @magolovanov I'm not able to reproduce following steps your described
![selection_092](https://user-images.githubusercontent.com/40756439/45546440-f3e56d00-b825-11e8-8a3a-7c187c0debdb.png)

[2018-09-14 11:33] magento-engcom-team commented on #18056
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95006`, `MAGETWO-95007` were created

[2018-09-14 11:34] engcom-backlog-nazar commented on #18056
Hi @synolia-bvo  , thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-14 11:35] engcom-backlog-pb commented on #17804
@michelve, thank you for your report.
We were not able to reproduce this issue by following the steps you provided, both with and without Temando_Shipping module. If you'd like to update issue, please reopen it.
![image](https://user-images.githubusercontent.com/40756187/45547964-46755800-b82b-11e8-96f1-a570a927b9a3.png)

[2018-09-14 11:35] #17804 closed, assigned to nobody

[2018-09-14 11:44] hubertinio commented on #15122
During save Indexer\Model\Indexer\State is executing event "model_save_before"
Later things looks like below:

    Magento\AdminGws\Observer\ValidateModelSaveBefore __constructor( Magento\AdminGws\Observer\RolePermissionAssigner )
    Magento\AdminGws\Observer\RolePermissionAssigner __constructor( Magento\Backend\Model\Auth\Session )
    Magento\Backend\Model\Auth\Session::registerSaveHandler() -

[2018-09-14 11:47] akssaiyad commented on #8734
Open .htacces file find 'X-XSS' you get below line

Header set X-XSS-Protection: "1; mode=block" env=!ie8
Replace to
 # Header set X-XSS-Protection: "1; mode=block" env=!ie8

[2018-09-14 12:26] jakubderdziak opened #18057 "Swatch Text attributes options not created correctly via api"
### Preconditions
1. Magento 2.2.5
2. PHP7.1

### Steps to reproduce

1. Create a select attribute
2. Make this attribute text swatch
3. Try adding attribute options through the API via POST /V1/products/attributes/{attributeCode}/options
4. See attribute in admin panel

### Expected result

The attribute option should have "Swatch" and "Description" set
After adding two options, I can save attrib

[2018-09-14 12:26] magento-engcom-team commented on #18057
Hi @jakubderdziak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-14 12:41] callumstar commented on #16604
Hi @digikeijs,

Did you ever resolve this at all?

[2018-09-14 13:13] engcom-backlog-pb commented on #17824
@aasim110 I have placed 1 order on 2.1.9 and 20 orders after update through Braintree. This issue is not reproducible.
![1](https://user-images.githubusercontent.com/40756187/45552269-0d43e480-b839-11e8-85fe-4aea137192b8.gif)

[2018-09-14 13:13] #17824 closed, assigned to nobody

[2018-09-14 13:17] tereshvti commented on #17281
I'm having exactly the same issue at 2.2.5 version. Why is it closed?

[2018-09-14 13:29] Nix-id commented on #11088
This bug is still relevant.

[2018-09-14 13:37] callumstar opened #18059 "Magento 2.2.5 - If Multi-Storefront, Shipping Rates on an Admin Order use rates from the default store"
### Preconditions
1. Magento 2.2.5
2. PHP 7
3. Multistore installation
4. Websites with a shipping method enabled with different rates

### Steps to reproduce
1. Create multistore version of Magento 2.2.5
2. Set up a single shipping method with different shipping fees for both websites in 'Stores > Configuration > Sales > Shipping Methods' (e.g. Flat Fee of £10.00 for default and Flat Fee of £15.0

[2018-09-14 13:37] magento-engcom-team commented on #18059
Hi @callumstar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-14 13:39] callumstar commented on #18059
Hi @magento-engcom-team,

Yes I can reproduce this with any shipping rate on any vanilla instance of Magento 2.2.5.

[2018-09-14 13:40] callumstar commented on #18059
Hi @magento-engcom-team,

I believe that this is linked to the following issue:
- #12889 (incorrectly closed)
- #15497
- #16604

[2018-09-14 13:41] callumstar commented on #15497
Hi @engcom-backlog-nickolas,

Any news on this? This seems to be pretty fundamental for multistores?

[2018-09-14 13:42] callumstar commented on #12889
Hi @magento-engcom-team and @okorshenko,

This is still an issue, is there any updates on this please?

[2018-09-14 13:42] callumstar commented on #12889
Hi @tig-dennisvanderhammen,

Did you ever manage to fix this?

[2018-09-14 13:44] tereshvti commented on #17281
@magento-engcom-team give me 2.2.5 instance

[2018-09-14 13:44] magento-engcom-team commented on #17281
Hi @tereshvti. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-14 13:45] magento-engcom-team commented on #17281
Hi @tereshvti, here is your [Magento instance](https://i-17281-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17281-2-2-5.engcom.dev.magento.com/admin](https://i-17281-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-14 13:46] magento-engcom-team commented on #18057
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95036`, `MAGETWO-95037` were created

[2018-09-14 13:46] engcom-backlog-nazar commented on #18057
Hi @jakubderdziak , thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-14 13:50] callumstar commented on #16604
Hi @CliftonWLS,

Did you ever manage to succeed in overriding the method at all?

[2018-09-14 13:51] engcom-backlog-nazar commented on #18057
@jakubderdziak  And seem like is_default not work, in 2.3-develop branch the issue ->After adding two options that way, unable to save attribute resolved.

[2018-09-14 13:54] tereshvti commented on #17281
@magento-engcom-team This instance is not EE. And am I supposed to verify cron job issue. It is more then obvious that class instance doesn't match.

[2018-09-14 13:54] SAPontwerp commented on #16604
@callumstar nope still waiting on the magento team to fix it. Do have a workaround but it sucks

[2018-09-14 13:55] SAPontwerp commented on #15846
No waiting on the magento team to fix it. We have a workaround by creating a customer group with some discount rules and when we change groups it will be ok again. weird

[2018-09-14 13:56] magento-engcom-team commented on #18059
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-14 13:56] Rickertje commented on #12889
My developer tells me that there was an attempt to fix (part of) this in 2.2.5. Anyway it was not fixed for tablerates, I'm not sure about other shipping methods. So there is still work to do on this issue.

[2018-09-14 13:56] callumstar commented on #16604
Hi @SAPontwerp,

Are you able to share the workaround at all with me please? If it's something then I'd be happy to use it!

[2018-09-14 13:59] tig-dennisvanderhammen commented on #12889
@callumstar, I didn't get any complaints from our clients about this and encountered this during development of an extension. I didn't look into fixing this issue and simply wanted Magento to know about this issue. Sorry!

[2018-09-14 14:01] Rickertje commented on #12889
Ok so where is the big red button to reopen this issue

[2018-09-14 14:12] engcom-backlog-nazar commented on #18059
Hi @callumstar I'm not able to reproduce following steps you described, see attachments
![selection_095](https://user-images.githubusercontent.com/40756439/45555390-59932280-b841-11e8-89e2-5b371665d2ec.png)
![selection_094](https://user-images.githubusercontent.com/40756439/45555392-59932280-b841-11e8-8e50-f4569aa54c99.png)

[2018-09-14 14:13] #18059 closed, assigned to nobody

[2018-09-14 14:14] engcom-backlog-nazar commented on #18059
@callumstar if you like to update reopen this issue .

[2018-09-14 14:21] tcurilla opened #18061 "Catalog product category index performance issue"
### Preconditions

1. Magento version: 2.2.5

### Steps to reproduce

1. install sample data
2. set index catalog_product_category to "Update on schedule"
3. change configurable product to provide start reindex catalog_product_category index
4. wait for cron finished reindex mentioned index

### Expected result

1. no so many rows examinated

### Actual result

1. examinated more than 9000 rows

m

[2018-09-14 14:27] engcom-backlog-nazar commented on #18061
Hi @tcurilla seems like this is duplicate for this -> https://github.com/magento/magento2/issues/8933
 the issue have the same logic

[2018-09-14 14:29] jurpro commented on #17781
Hello. I have the same issue on Magento 2.2.5
Result from sending email is : myusername@hosting something like kukudari@227eg.hosting.com but I was set sender email address is no-reply@mywebsite.com
Is there any fix ?
Thanks

[2018-09-14 14:32] magolovanov commented on #18054
Fixed this following http://www.dckap.com/blog/magento-2-admin-links-not-working-in-windows/

Other workarounds like https://stackoverflow.com/questions/34555776/magento-2-0-admin-menu-not-working did not work.

Probably there should be done something so that people do not struggle

[2018-09-14 14:32] #18054 closed, assigned to nobody

[2018-09-14 14:37] parveen12345 commented on #5595
i have some issue in my site nav toggle is not working in magento2 please help me

[2018-09-14 14:39] tcurilla commented on #18061
Maybe ... I was try to fix this with create union select and this will help

[2018-09-14 14:43] engcom-backlog-nazar commented on #18061
@tcurilla  can we close this issue ? and redirect communication to  ->https://github.com/magento/magento2/issues/8933

[2018-09-14 14:45] tcurilla commented on #18061
I think yes...

[2018-09-14 14:46] engcom-backlog-nazar commented on #18061
@tcurilla ok i close this issue if you like to update , please reopen the issue, thank you.

[2018-09-14 14:46] #18061 closed, assigned to nobody

[2018-09-14 14:50] engcom-backlog-pb commented on #17828
@Sunil-Nethues, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-14 14:52] magento-engcom-team commented on #17828
@engcom-backlog-pb Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95038`, `MAGETWO-95039` were created

[2018-09-14 15:08] maderlock commented on #9695
Seeing this issue in 2.2.2. My fix has stopped working. Looking on updating my fix code to work with 2.2.2. Reproduction steps still as before.

[2018-09-14 15:35] francescopis commented on #5664
as temporary workaround you can do
[code]

with $this-product as Magento\Catalog\Model\ResourceModel\Product

[2018-09-14 15:40] okorshenko opened #18062 "Test Issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-14 15:40] magento-engcom-team commented on #18062
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-14 15:41] magento-engcom-team commented on #18062
Hi @maksek. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-09-14 16:53] magento-engcom-team commented on #18062
@ishakhsuvarov Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95046`, `MAGETWO-95047` were created

[2018-09-14 17:02] sidolov commented on #2146
Hi @SilvanLaroo. Thank you for your report.
The issue has been fixed in magento/magento2#17194 by @nilesh2jcommerce in 2.1-develop branch
Related commit(s):
 - [cbbc584fe9359cd0e1b9930f1844881c773a6d6e](https://github.com/magento/magento2/commit/cbbc584fe9359cd0e1b9930f1844881c773a6d6e)
 - [ccd70ce4f700bda623bfe1e0fe707175008bb478](https://github.com/magento/magento2/commit/ccd70ce4f700bda623bfe1e

[2018-09-14 18:23] j0um opened #18063 "Timezone::prepareDate() throws away DateTimeZone information under certain circumstances."
### Preconditions
1. Magento 2.2.5
2. Generic Plesk Onyx / Centos 7.5.1804 (Core)

### Steps to reproduce

1. Create a script which will make use of \Magento\Framework\Stdlib\DateTime\Timezone::date()
Here's some sample parameters :
$date  = "2018-06-29 09:00:00";
$locale = "en_CA";         // Input some bogus $locale to simulate an unsupported system locale. My system doesn't support "en_CA" so t

[2018-09-14 18:26] jyoti-redlizard commented on #4432
{
    "message": "You did not sign in correctly or your account is temporarily disabled."
}

facing the same issue in both magento 2.1 and 2.2 tried clearing oauth_token_request_log table but no help. Every time API for customer token is hit failuer attempts count increases even if password is correct.
Any help is appreciated.

[2018-09-14 18:31] j0um commented on #18063
@magento-engcom-team give me {2.2.5} instance

[2018-09-14 20:10] medmek commented on #16852
any workaround for the mean time ?
I see that in contrast with 'value' the 'values' doesn't have an `$intOptionId` by which the replacement could be done easily, so for the mean time I propose to use the sortOrder value.

https://github.com/magento/magento2/blob/24376e9f039d1c4aaa75f3ac9787202a0eaf66b5/app/code/Magento/Eav/Setup/EavSetup.php#L931-L941

line 933  :

    // add option
    $this->set

[2018-09-14 20:20] CompactCodeEU commented on #10978
Any updates on this issue? This seems like a bug that breaks a lot of the purposes of a multi website enviroment

[2018-09-14 20:56] bartoszkubicki commented on #15155
@magento-engcom-team
Should be $collection really returned? Maybe SearchResult in general could implement interface `Iterator` or `IteratorAggregate`?

[2018-09-14 21:54] valuead commented on #18052
why is it allowing to enter that? to mee, this is Magento issue and not the csv cause we place in csv that we see in Magento interface. I will try to change and will report back soon.

[2018-09-14 21:58] sidm commented on #18009
@p-bystritsky

[2018-09-14 22:26] valuead commented on #18052
Changed the website codes as you told me to.
Created a new product, export it out and trying to import
1 item ))) still the same error
Here is the file with 1 record I'm trying to import. https://dropmefiles.com/xv5sk

![imp1](https://user-images.githubusercontent.com/9205462/45577687-01085900-b832-11e8-99ae-80f6d41f4707.PNG) and
![imp2](https://user-images.githubusercontent.com/9205462/45577727-4

[2018-09-15 00:01] gwharton commented on #17781
As a temprary workaround, until the long term fix is rolled out into Magento, provided you don't need/use Amazon payments, run the command

`bin/magento module:disable Amazon_Core Amazon_Login Amazon_Payment`

to disable the Amazon payments module. This will cause it to start working properly again.

[2018-09-15 06:40] valuead commented on #18052
I wipeout mageto and reinstall it fresh. I'm having the same issue. I even try to use replace instead of add/replace with the same error message. I may offer someone login to my admin to see what's up. this is getting silly. nothing important in that test server. please advice.

[2018-09-15 07:27] valuead commented on #18052
SURPRISE  I was able to delete that record with that file... amazing. no luck with add or replace ...

[2018-09-15 11:06] magento-engcom-team commented on #18063
Hi @kisroman. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-09-15 11:48] binamandiri commented on #12683
this is works, thanks you

[2018-09-15 12:30] fyrik commented on #17429
#lviv-meetup

[2018-09-15 12:30] magento-engcom-team commented on #17429
@fyrik thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-15 12:35] progreg commented on #18038
#lviv-meetup

[2018-09-15 12:35] magento-engcom-team commented on #18038
@progreg thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-15 12:36] magento-engcom-team commented on #18038
Hi @progreg. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-09-15 13:48] Dmutryk commented on #17592
#lviv-meetup

[2018-09-15 13:48] magento-engcom-team commented on #17592
@Dmutryk thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-15 14:04] #18062 closed, assigned to maksek

[2018-09-15 14:10] ishakhsuvarov commented on #16479
@chris-pook If I understood your problem correctly, creating a [composer patch](https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit) with the https://github.com/magento/magento2/commit/0fc15747f05571cd6b164c01e1f1b6168e37a468 commit should do the trick without any customizations.

[2018-09-15 14:10] #16479 closed, assigned to nobody

[2018-09-15 15:55] Yupik commented on #17592
@Dmutryk sadly removing `* 1` doesn't solve problem, because `min_sale_qty` is an array of options. Option for `min_sale_qty` should be displayed like in store default configuration.

[2018-09-16 01:00] modkore opened #18070 "Installation is Incomplete"
### Preconditions

Magento version is 2.2.5

### Steps to reproduce

1. Install Magento 2.2.5 to the root
2. Upload demo media files to the root
3. Upload demo pub files to the root
4. Create empty database and upload the premium theme database dump.
5. Upload 2.2.5 theme patch
6. Clear Browser Cache
7. Install the magento domain.com/setup/

### Expected result
Installation is incomplete.
Check th

[2018-09-16 01:00] magento-engcom-team commented on #18070
Hi @modkore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-16 01:31] modkore opened #18071 "Magento 2.2.1 Error During Install"
### Preconditions

Magento Version is 2.2.1

### Steps to reproduce

1. Create empty database upload demo theme 2.2.1 sql dump
2. Upload the magento 2.2.1 quickstart to the root of cpanel
3. Run the magento setup
4. Error will show up around Installing... 75%

### Expected result
Installation is incomplete.
Check the console log for errors before trying again.

### Actual result

[ERROR] Exception

[2018-09-16 01:31] magento-engcom-team commented on #18071
Hi @modkore. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-16 08:59] riconeitzel opened #18073 "Magento Web Installer doesn't show completeness"
### Preconditions
1. Download 2.2.5 ZIP Archive
2. Apache 2.2.34, fastCGI PHP 7.1.19

### Steps to reproduce
1. Run web installer (configure doc root to be magento root
2. keep all modules enabled
3. tail -f var/log/*

### Expected result
magento web installer runs 100% and shows success page.

### Actual result
1. log view shows `<span class="hidden">[Progress: 473 / 473]</span><br><span class="t

[2018-09-16 08:59] magento-engcom-team commented on #18073
Hi @riconeitzel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-16 11:13] nntoan commented on #13466
@engcom-backlog-nazar Any progress so far?

[2018-09-16 11:53] Sagarppanchal commented on #5173
I had this same issue due to multiple versions of PHP on my mac,
simple I used below below to select which php have to use
/Applications/MAMP/bin/php/php7.1.20/bin/php **bin/magento setup:upgrade**

[2018-09-16 12:02] arifthiruvalla opened #18074 "i try to install magento 2.2.5 in cpannel , after uploading the extaracted files to my public folder it is showing this error. i cannot proceed further - MAGENTO 2.2.5 ERROR , public_html/.htaccess: Invalid command '<IfVersion', perhaps misspelled or defined by a module not included in the server configuration"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-16 12:02] magento-engcom-team commented on #18074
Hi @arifthiruvalla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-16 12:03] sidolov commented on #7903
Hi @nathanmerrill. Thank you for your report.
The issue has been fixed in magento/magento2#16775 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [7180790d2fc10cc55efe4aa4499c14b8d5dc360a](https://github.com/magento/magento2/commit/7180790d2fc10cc55efe4aa4499c14b8d5dc360a)

The fix will be available with the upcoming 2.2.7 release.

[2018-09-16 12:38] marcelo-monteiro commented on #18074
#webjump

[2018-09-16 12:38] magento-engcom-team commented on #18074
@marcelo-monteiro thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-16 12:39] magento-engcom-team commented on #18074
Hi @marcelo-monteiro. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-09-16 12:45] rodrigowebjump commented on #5037
@patelnimesh1988 How is the progress on this issue?

[2018-09-16 12:47] marcelo-monteiro commented on #18074
@magento-engcom-team give me 2.3-develop instance

[2018-09-16 12:47] magento-engcom-team commented on #18074
Hi @marcelo-monteiro. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-16 12:48] magento-engcom-team commented on #18074
Hi @marcelo-monteiro, here is your [Magento instance](https://i-18074-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18074-2-3-develop.engcom.dev.magento.com/admin](https://i-18074-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-16 12:55] arifthiruvalla commented on #18074
![capture](https://user-images.githubusercontent.com/13810292/45596719-41eaa400-b9d1-11e8-81d0-ab5f92856f8c.JPG)

[2018-09-16 12:57] arifthiruvalla commented on #18074
please help me someone

[2018-09-16 12:57] denisflosi1 commented on #18073
#webjump

[2018-09-16 12:57] magento-engcom-team commented on #18073
@denisflosi1 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-16 12:59] magento-engcom-team commented on #18073
Hi @denisflosi1. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-09-16 13:04] marcelo-monteiro commented on #18074
@arifthiruvalla, could you please fulfill the steps to reproduce this error?

[2018-09-16 13:08] denisflosi1 commented on #18073
Hi @riconeitzel.
Please, check this troubleshoot doc:
[Setup Wizard installation stops at about 70%](https://devdocs.magento.com/guides/v2.2/install-gde/trouble/php/tshoot_70pct.html) and let me know if your problem has been solved.

[2018-09-16 13:17] netalico commented on #6942
@mrIntegrator I suddenly encountered this issue switching from hosting environments. It didn't occur initially when I was using the file cache, but as soon as I switched to redis it started happening a lot. The old host had unlimited maxmemory and noeviction. So I suspect that the redis configuration on the new hosting environment is different.

@miguelbalparda the new hosting environment is yours

[2018-09-16 13:29] riconeitzel commented on #18073
@denisflosi pardon?

[2018-09-16 13:30] denisflosi1 commented on #17309
Hello @aeu.

This issue isn't reproducible on the latest version, please try to upgrade your version for the latest one (2.3.x).

[2018-09-16 13:30] #17309 closed, assigned to denisflosi1

[2018-09-16 13:30] riconeitzel commented on #18073
No errors anywhere! Installation was successful. Just the web page didn’t proceed.

[2018-09-16 13:38] mahsn commented on #17910
@magento-engcom-team give me 2.3-develop instance

[2018-09-16 13:38] magento-engcom-team commented on #17910
Hi @mahsn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-16 13:39] magento-engcom-team commented on #17910
Hi @mahsn, here is your [Magento instance](https://i-17910-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-17910-2-3-develop.engcom.dev.magento.com/admin](https://i-17910-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-16 13:52] denisflosi1 commented on #18073
Hi @riconeitzel , this is some environment issue. You can have support to install this Magento version in apache, at the community forum, maybe someone have already faced this issue:
https://community.magento.com/

[2018-09-16 13:52] marcelo-monteiro commented on #18071
@modkore this is not a bug, this an environment issue. You can have support to install this magento version in apache, at slack channel (faster communication):
to sign-up at channel slack: tinyurl.com/engcom-signup
https://magentocommeng.slack.com/messages/C4YS78WE6
Or check in the forum, maybe someone already faced this issue, also you can ask for help there:
https://community.magento.com/

[2018-09-16 13:55] marcelo-monteiro commented on #18070
@modkore this is not a bug, this an environment issue. You can have support to install this magento version at slack channel (faster communication):
to sign-up at channel slack: tinyurl.com/engcom-signup
https://magentocommeng.slack.com/messages/C4YS78WE6
Or check in the forum, maybe someone already faced this issue, also you can ask for help there:
https://community.magento.com/

[2018-09-16 14:03] #18074 closed, assigned to nobody

[2018-09-16 14:04] #18071 closed, assigned to nobody

[2018-09-16 14:05] #18070 closed, assigned to nobody

[2018-09-16 14:05] magento-engcom-team commented on #17062
Hi @denisflosi1. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-09-16 14:10] annelise83 commented on #8737
Hi, realize this thread is old but commenting as I struggled with the same for hours and hours.  In my case, turns out I just had to change the setting:

Stores> Configuration > Sales > Shipping Settings > Origin

as my tax rule was configured as "Greece" while my origin was somehow set to "United kingdom".  Flipping it to "Greece" fixed the tax calculation issue for me.

[2018-09-16 14:30] riconeitzel commented on #18073
I encountered this issue in various environments. How do you know it’s not a core issue?! 🤔

[2018-09-16 15:26] okorshenko commented on #17796
@magento-engcom-team give me 2.3-develop instance

[2018-09-16 15:26] magento-engcom-team commented on #17796
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-16 15:27] magento-engcom-team commented on #17796
Hi @okorshenko, here is your [Magento instance](https://i-17796-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-17796-2-3-develop.engcom.dev.magento.com/admin](https://i-17796-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-16 15:55] sreichel opened #18079 "Inconsistent return type for getStoreId()"
### Summary

- Magento 2.*
- PHP7.1
- using strict type decalaration

`getStoreId()` returns a `string` for products, but `int` for categories that causes a fatal error in extensions code.

### Examples

Simplified code:

ObserverA:

https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Product.php#L521-L532

[code]
ObserverB:

https://github.com/magento/magento2/blob

[2018-09-16 15:55] magento-engcom-team commented on #18079
Hi @sreichel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-16 16:30] hostep commented on #17309
@denisflosi1: as @aeu said in his post, it is most likely caused by the Dotdigitalgroup_Email module.
This module is included **by default** in Magento 2 when installing it with composer.
This module is **not** included when you ask the @magento-engcom-team for a test instance, this makes asking for a test instance not a correct way of trying to reproduce this bug. (normally there should be a menu

[2018-09-16 16:38] okorshenko commented on #17131
Hi @vinothinik2010
Thank you for your report. Unfortunately, we can't resolve this issue in magento2 repository. The issue you mentioned is caused by vendor extension. Please contact vendor support team for the assistance:
https://developer.temando.com/soap/index.html or email them tsupport@temando.com

Thank you

[2018-09-16 16:38] #17131 closed, assigned to okorshenko

[2018-09-16 16:39] magento-engcom-team commented on #17131
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-09-16 16:50] marcelo-monteiro commented on #17062
Hi @dyuk1987
Like @okorshenko replied, in #17131, this issue is caused by a vendor extension. Please contact the  vendor support team for the assistance:
https://developer.temando.com/soap/index.html or email them tsupport@temando.com

[2018-09-16 16:50] #17062 closed, assigned to nobody

[2018-09-16 16:52] marcelo-monteiro commented on #16104
Hi @dyuk1987
Like @okorshenko replied, in #17131, this issue is caused by a vendor extension. Please contact the  vendor support team for the assistance:
https://developer.temando.com/soap/index.html or email them tsupport@temando.com

[2018-09-16 16:52] #16104 closed, assigned to nobody

[2018-09-16 16:55] marcelo-monteiro commented on #15968
Hi @speedupmate
Like @okorshenko replied, in #17131, this issue is caused by a vendor extension. Please contact the  vendor support team for the assistance:
https://developer.temando.com/soap/index.html or email them tsupport@temando.com

[2018-09-16 16:58] magento-engcom-team commented on #16722
Hi @marcelo-monteiro. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-09-16 17:37] magento-engcom-team commented on #17818
Hi @marcelo-monteiro. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-09-16 17:38] magento-engcom-team commented on #17868
Hi @marcelo-monteiro. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-09-16 17:40] marcelo-monteiro commented on #16722
@magento-engcom-team give me 2.2.5 instance

[2018-09-16 17:40] magento-engcom-team commented on #16722
Hi @marcelo-monteiro. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-16 17:40] magento-engcom-team commented on #16722
Hi @marcelo-monteiro, here is your [Magento instance](https://i-16722-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16722-2-2-5.engcom.dev.magento.com/admin](https://i-16722-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-16 17:42] marcelo-monteiro commented on #17868
@abhaykhatariya , the issue you are talking about in your last comment, is this one? #17818

[2018-09-16 17:50] marcelo-monteiro commented on #16722
@magento-engcom-team give me 2.2.4 instance

[2018-09-16 17:50] magento-engcom-team commented on #16722
Hi @marcelo-monteiro. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-09-16 17:50] magento-engcom-team commented on #16722
Hi @marcelo-monteiro, here is your [Magento instance](https://i-16722-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16722-2-2-4.engcom.dev.magento.com/admin](https://i-16722-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-16 17:55] okorshenko commented on #17830
Hi @peterjaap
Thank for your report. Could you please provide use cases when plugins should not be used but event if preferable

It is not big deal to add the event, but we need to have a strong reason for that
Thank you

[2018-09-16 17:57] abhaykhatariya commented on #17868
@marcelo-monteiro  Hello marcelo It's different.

[2018-09-16 18:32] riconeitzel commented on #18073
Hi, sure! gimme some good 24hrs and I'll come back with it :-)

[2018-09-16 18:33] marciowebjump commented on #17847
I will handle this in 2.3

[2018-09-16 18:40] magento-engcom-team commented on #17868
@okorshenko Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95049`, `MAGETWO-95050` were created

[2018-09-16 18:54] marcelo-monteiro commented on #17868
@abhaykhatariya, got it. Thanks!

[2018-09-16 18:57] rigu12 commented on #18029
hi @engcom-backlog-nazar
can you share the link? thank you!^^"

[2018-09-16 19:06] vpatidar009 opened #18082 "Fatal Error when save configurable product in Magento 2.2.5"
### Preconditions
PHP 7.1
MYSQL 5.6
Magento 2.2.5

### Steps to reproduce
1. Add new configurable product with name and sku of 63 characters length For Example: "Amzer 203877 Kristal FULL HD Tempered Glass for OnePlus 6 Clear". **Screenshot**: https://drive.google.com/file/d/1YQGb1h2J3oAfy6ihkCeZ7-Elbk6EYMaP/view?usp=drivesdk
2. Create configuration of the product. **Screenshot**: https://drive.go

[2018-09-16 19:06] magento-engcom-team commented on #18082
Hi @vpatidar009. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-16 19:16] sreichel commented on #17830
IMO with events you can hook into at a more specific place.

Example to work around missing `_before` event in magento 1. You'll have to remove the item in `_after` instead of prevent adding befor.

[code]

Where is the advantage of using a plugin?

[2018-09-16 19:33] marcelo-monteiro commented on #16722
@DigiBlooD , unfortunately this is a vendor issue, please contact them at:
http://www.shopial.com/support/

Also as @Anju2006 told, this module will not be bundled anymore in the next Magento version. Thanks!

[2018-09-16 19:33] #16722 closed, assigned to nobody

[2018-09-16 19:40] marcelo-monteiro commented on #16722
Hi @DigiBlooD , unfortunately this is a vendor issue, please contact them at:
http://www.shopial.com/support/

Also as @Anju2006 told, this module will not be bundled anymore in the next Magento version, the package is available to check.

[2018-09-16 22:15] jyoti217 commented on #4432
I am also facing the same issue.

[2018-09-16 23:44] rodrigowebjump commented on #5417
I am working on it.

[2018-09-17 04:38] deepakkn85 commented on #16101
@engcom-backlog-pb : Then what could be the possible reason for the response which I am getting? I have shared the screenshot of the same in my previous thread.

[2018-09-17 05:39] dnesdeveloper commented on #6581
I am getting below error on browser console
"NetworkError: 400 Bad Request -  https://yourdomain.com/rest/default/V1/carts/mine/payment-information"

and showing "Shipping address is not set" error in payment section when clicking on place order button for login customer

[2018-09-17 05:42] magento-engcom-team commented on #18079
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 05:42] magento-engcom-team commented on #18082
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 05:49] omkarambre commented on #6581
Hello,
         Kindly go through my blog to fix this error.

http://magento2restapi.blogspot.com

[2018-09-17 06:01] jyoti217 opened #18088 "Issue with REST API Customer Create API & Customer Token Integration API"
Issue is regarding REST API as per swagger documentation.

- **Customer Create API** - Create a customer with store_id = 0, you get error_code 400 and message below. This is fine but inspite of the error customer is created in the database. You can check it in admin panel.
{
  "message": "Design config must have area and store."
}

- **Customer Token Integration API**  - Customers that created wit

[2018-09-17 06:01] magento-engcom-team commented on #18088
Hi @jyoti217. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-17 06:01] dnesdeveloper commented on #6581
Thank You @omkarambre
Can you please post the code here for an issue above, which will be helpful for developers.

[2018-09-17 06:07] jyoti217 commented on #18088
yes

[2018-09-17 06:30] magento-engcom-team commented on #18079
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95051`, `MAGETWO-95052` were created

[2018-09-17 06:34] engcom-backlog-nazar commented on #17887
@Keerat666 , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-17 06:34] #17887 closed, assigned to nobody

[2018-09-17 06:58] engcom-backlog-nazar commented on #18079
Hi @sreichel , thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-17 06:59] magento-engcom-team commented on #18088
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95053`, `MAGETWO-95054` were created

[2018-09-17 07:03] engcom-backlog-nazar commented on #18088
Hi @jyoti217 , thank you for your report.
We've acknowledge the issue and added to our backlog.
In my case i'm reproduce only 1 scenario in 2.2-develop, 2.3-develop -> Customer is created with store_id = 0
but i'm able to get token -> Customers with store_id 1 is not able to get access token.

[2018-09-17 07:08] engcom-backlog-pb commented on #17281
@tereshvti, this issue tracker is intended for Magento CE issues only.

[2018-09-17 07:09] jyoti217 commented on #18088
I have tried this with multiple clean installations of Magento 2.2.5 but I am not able to get access token. Is there a step that I am missing or some wrong input parameter.
Adding below bold lines to vendor/magento/module-customer/Model/CustomerRegistry.php only then I am able to get token. For customers this->storeManager->getStore()->getWebsiteId(); always returns 0.
Do I need to set store_id fo

[2018-09-17 07:18] engcom-backlog-nazar commented on #18088
@jyoti217 on 2.2.5
![postman](https://user-images.githubusercontent.com/40756439/45610001-04365b80-ba63-11e8-9dbd-434a5dfa60da.gif)

[2018-09-17 07:34] jyoti-redlizard commented on #18088
Hi @engcom-backlog-nazar   In the video

1. You created a customer with email_id = user13@gmail.com and store_id =0  here you get an error 400 but in background customer is created with this email and store_id = 0
2. You have created another customer but with same email_id = user13@gmail.com only store_id = 1 so now we have 2 customers in with same email_id but different store_id.
3. Now when you

[2018-09-17 07:35] sunil-gcet commented on #17828
thanks @magento-engcom-team for acknowledging the issue, looking forward for the fix.

For more information if we send the order increment id with the call above the order increment id is not changed, i thought this might help.

[2018-09-17 07:39] engcom-backlog-nazar commented on #18088
@jyoti217  with different email_ids same result
![postman2](https://user-images.githubusercontent.com/40756439/45610808-ecaca200-ba65-11e8-8e4e-361cd62fc673.gif)

[2018-09-17 08:01] engcom-backlog-nazar commented on #18082
Hi @vpatidar009 I'm not able to reproduce following steps you described, I'm not have an error report generated.

[2018-09-17 08:03] vetshopdeveloper commented on #8268
Working with the CatalogProductRepositoryV1Api in Magento 2.2.5 the swagger definition defines the value as a string.

I have included a sample of the return from the `custom_attributes` section as well as the swagger definition for the `FrameworkAttributesInterface`

Also include is sample from `\Magento\Eav\Api\Data\AttributeInterface`

[code]

[code]

[code]

[2018-09-17 08:09] vpatidar009 commented on #18082
Hi @engcom-backlog-nazar ,
It is not possible as I have tested 2-3 instances of magento 2.2.5 version and all versions are vanilla magento.

I am pretty sure about the error and I can reproduce the issue at your environment if you can give me access of the environment.

[2018-09-17 08:11] engcom-backlog-nazar commented on #18082
@vpatidar009 Where located your report? because i'm not have  report files.

[2018-09-17 08:19] vpatidar009 commented on #18082
@engcom-backlog-nazar https://github.com/magento/magento2/files/2386900/report.zip

[2018-09-17 08:20] magento-engcom-team commented on #18082
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please label this ticket with `"acknowledged"` again.
Thanks

[2018-09-17 08:27] engcom-backlog-nazar commented on #18082
@vpatidar009 , thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-17 08:35] magento-engcom-team commented on #14950
We are closing this ticket now, as it seems all of the described errors have no direct relation to the code in this repository and caused by third-party modules.

If you believe there is some kind of issue with the core – please create a new ticket describing the problem itself.

Thank you.

[2018-09-17 08:35] #14950 closed, assigned to orlangur

[2018-09-17 08:39] magento-engcom-team commented on #18073
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 08:53] digitalbricklayer commented on #17804
I also have this same exception. The customer reported that their credit card details were not asked for when they placed the order. When I try to view the order in the backend an error occurs and a stack trace like the one above is created.

[2018-09-17 08:57] p-bystritsky commented on #17804
@digitalbricklayer, please provide clear obvious steps to reproduce issue on a clean Magento 2 installation.

[2018-09-17 09:00] engcom-backlog-nazar commented on #18073
Hi @riconeitzel I'm not able to reproduce following steps you described. can you provide more information?
![selection_097](https://user-images.githubusercontent.com/40756439/45614143-32229c80-ba71-11e8-9217-854b15a4ede4.png)
![selection_096](https://user-images.githubusercontent.com/40756439/45614145-32bb3300-ba71-11e8-849e-9f9498eb90fb.png)

[2018-09-17 09:02] riconeitzel commented on #18073
Hi there!

which apache, php and magento version did you use?

rico

[2018-09-17 09:02] callumstar commented on #18059
Hi @engcom-backlog-nazar,

Is there any update on this please?

[2018-09-17 09:08] engcom-backlog-nazar commented on #18073
@riconeitzel Apache/2.4.18, fastCGI PHP 7.1.20  But this not be related to the issue ?
or specific version of apache can do the error ?

[2018-09-17 09:12] samuelecarpene opened #18089 "Paypal NVP CURL connection error"
Paypal not working.

### Preconditions
1. Magento 2.2.5
2. Ubuntu 18.04
3. Php 7.1

### Steps to reproduce
1. Insert a product in cart
2. Go to checkout
3. Select paypal express checkout method a payment
4. Try to pay

### Expected result
1. I expect to be redirected to paypal payment page

### Actual result
1. Error message shown in the checkout page "Payment Gateway is unreachable at the moment.

[2018-09-17 09:12] magento-engcom-team commented on #18089
Hi @samuelecarpene. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-17 09:16] engcom-backlog-nazar commented on #18059
Hi @callumstar, Yes the issue persist to table rates only.

[2018-09-17 09:17] magento-engcom-team commented on #18089
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 09:17] geoffbeaumont commented on #13652
It looks to me like the fix only works for products with links? The knockout.js type on the non-link product title also needs changing to html.

[2018-09-17 09:17] callumstar commented on #18059
Hi @engcom-backlog-nazar,

So this is a confirmed issue with Table Rates? Is there a workaround for this?

[2018-09-17 09:19] engcom-backlog-nazar commented on #18059
@callumstar seems like no.

[2018-09-17 09:21] #18089 closed, assigned to nobody

[2018-09-17 09:26] callumstar commented on #18059
Hi @engcom-backlog-nazar,

There isn't really a workaround/fix in that task. Is there a timeframe for fixing this bug?

What do we do in the meantime for this as it is quite a key component for most merchants with different shipping rates based on matrixes?

[2018-09-17 09:45] engcom-backlog-nazar commented on #18073
@riconeitzel i'm able to reproduce in 2.2.5 with fasctCGI i'm missed config for virtual host
![selection_099](https://user-images.githubusercontent.com/40756439/45616241-8597e900-ba77-11e8-8895-8b3672f73086.png)
![selection_098](https://user-images.githubusercontent.com/40756439/45616243-8597e900-ba77-11e8-97f7-95d46639c8a9.png)

[2018-09-17 09:48] dqblanco commented on #18008
Thank you @engcom-backlog-nazar. Can you help me?. Where code was changed?.  I have the same version in local and production, but the problem continua in production.
 I have the same version code in local and production, but the problem continua in production.  Anythink idea?

[2018-09-17 10:05] engcom-backlog-nazar commented on #18073
Hi @riconeitzel thank you for you report,  the fix for this issue has already available in 2.3-develop branch, And i can't find commit or PR where this was fixed.

[2018-09-17 10:05] #18073 closed, assigned to nobody

[2018-09-17 10:28] BezV8 opened #18090 "Catalog New Products List widget not sorting according to 'created_at'"
The Catalog New Products List widget in Magneto 2 does not appear to be sorting products by their created date. Instead it seems to be selecting products according to the updated date, but no sorting them as such. The function _getRecentlyAddedProductsCollection() in file vendor/magento/module-catalog/Block/Product/Widget/NewWidget.php should sort by 'created_at', 'desc', but does not do so.

###

[2018-09-17 10:28] magento-engcom-team commented on #18090
Hi @BezV8. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-17 10:28] magento-engcom-team commented on #18090
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 10:45] BenSpace48 commented on #1821
@ishakhsuvarov - Can you confirm if this also affects other filetypes or only CSS?

[2018-09-17 10:52] bilalusean commented on #12446
@duffner same issue homepage missing from the sitemap.xml, I have tested this in Magento 2.2.5 Vanilla setup.
if you found any solution, please let me know.

[2018-09-17 11:04] Quent6457 commented on #15037
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var \Magento\Catalog\ViewModel\Product\Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="breadcrumbs" data-mage-init='{
    "breadcrumbs": {
        "categoryUrlSuffix": "<?= $block->escapeHtml($viewM

[2018-09-17 11:04] Quent6457 commented on #15037
`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var \Magento\Catalog\ViewModel\Product\Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>
<div class="breadcrumbs" data-mage-init='{
    "breadcrumbs": {
        "categoryUrlSuffix": "<?= $block->escapeHtml($view

[2018-09-17 11:05] Quent6457 commented on #15037
[https://magento.stackexchange.com/questions/224587/issue-with-magento-2-2-4-quotation-mark-in-product-name-break-product-pages](url)

[2018-09-17 11:09] Akki-8388 commented on #10992
I get same issue when i export CSV its showing blank is there any solution please share it
https://magento.stackexchange.com/questions/242468/magento2-order-product-report-showing-blank-when-while-export-in-csv

[2018-09-17 11:28] rnand commented on #1471
Can't believe this issue is still not fixed. Magento won't accept the same file exported form itself! Even if no modifications are made to that file.

[2018-09-17 11:33] engcom-backlog-nazar commented on #18090
Hi @BezV8 thank you for you report, the fix for this issue has already available in 2.3-develop branch

[2018-09-17 11:33] #18090 closed, assigned to nobody

[2018-09-17 11:40] marvinhuebner opened #18091 "Inconsistency in Fotorama.js lib or does magento2 use it's on version?"
### Preconditions (*)

- A Magento 2.2.x/2.3.x instance with at least one product

### Steps to reproduce (*)

- Load any PDP
- View the source of the fotorama.js file
- Compare it with the same version 4.6.4 code downloaded from source (fotorama.io)

### Expected result (*)

- The version 4.6.4 fotorama.js file included by Magento2 should match the third party source file or explicitly state that

[2018-09-17 11:40] magento-engcom-team commented on #18091
Hi @marvinhuebner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-17 11:40] duffner commented on #12446
@bilalusean, I did find a workaround, however I can’t remember what exactly. I seem to remember it being not using the default /home as the CMS homepage in the admin.    I’ll try and check this later but wanted to help you as much as I could first.

[2018-09-17 11:42] magento-engcom-team commented on #18091
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 11:43] speedupmate commented on #15968
@marcelo-monteiro not sure if you can read and i'm probably rude but how do you expect vendors to fix core flaws in Magento 2 ?

So let me rephrase it: A core Magento 2 issue is that whenever you create a mixin or js mapping to rewrite a js file it is rewritten , replaced , extended even if module files extending it are not meant to be used.

[2018-09-17 11:44] alinlupoiu commented on #6817
I have the same issue using version 2.2.5 EE

[2018-09-17 12:10] engcom-backlog-nazar commented on #18091
Hi @marvinhuebner Magento use fotorama, but seem like have difference with original code, comes from this commit ->https://github.com/magento/magento2/blob/17ad02d0aeec97ae6f95431994d4351e399724ed/lib/web/fotorama/fotorama.js
where is changed to fix some exist issue.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange

[2018-09-17 12:12] BezV8 commented on #18090
@engcom-backlog-nazar Thanks for the quick response, sorry I missed the previous ticket. Would you be able to tell me what file was modified for the fix? The issue is effecting one of our clients and I could make a module to temporarily fix until the new patch.

[2018-09-17 12:33] engcom-backlog-nazar commented on #18090
Hi @BezV8 No, i'm searching but cant find commit. But works perfectly on 2.*-dev branches

[2018-09-17 12:36] manushakthi commented on #12273
I guess Magento 2.1.1 could be compatible with PHP 7.1, if you want to test it, just add this additional parameter to your composer commands to tell Composer to ignore the PHP version check for the time being:

composer install --ignore-platform-reqs

[2018-09-17 12:49] pemann commented on #11516
Has this been fixed in 2.2.x?

[2018-09-17 12:56] engcom-backlog-nazar commented on #18059
@callumstar  Wait for maintainers to fix this issue, as possibly soon.

[2018-09-17 12:57] luanwebjump commented on #17388
In my analysis, the problem occurs because when you save the product, this attribute does not change, but the is_in_stock column in the cataloginventory_stock_item table.
The export filter does not look at this table, but the catalog_product_entity_int attribute table, because the quantity_and_stock_status attribute. So we can understand that the problem is in the product save action

[2018-09-17 12:58] andkirby commented on #13995
Just for the record, here is missed extra configuration for elasticsearch5.

It was enough to set hostname for me:
[code]

This is full list from the package `magento/module-elasticsearch` (an xpath must prefixed with catalog/search/):

[code]
Please take a look the source file: `vendor/magento/module-elasticsearch/etc/config.xml`.

[2018-09-17 12:59] mohsinahmed22 commented on #8036
Same issue happens with me  on upgrade of 2.1.5 to 2.2.5 ...

[2018-09-17 13:00] engcom-backlog-nazar commented on #18008
Hi @heyqule I'm can't find commit for this issue, but on 2.2-develop branch this works perfectly

[2018-09-17 13:09] webusat opened #18092 "Item qty declaration error"
### Preconditions

1. Magento 2.2.0
2. PHP 7.0
3. MySQL 5.7

### Steps to reproduce

I don't know that you can reproduce.  This was working fine then this error showed up.  We more need some help in determining what can cause this error so we can fix it.

1. Add a product from the category page forces the users to the product page where this message appears - "Item qty declaration error".  This do

[2018-09-17 13:09] magento-engcom-team commented on #18092
Hi @webusat. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-17 13:12] magento-engcom-team commented on #18092
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 13:20] #18092 closed, assigned to nobody

[2018-09-17 13:26] Userr017 opened #18093 "Orders and Returns status: You entered incorrect data. Please try again.""
Issue with Orders and Returns.

### Preconditions

1. Magento 2.2.5
2. PHP 7.1

### Steps to reproduce

1. Check "orders and returns" information without login to customer account using website page `/sales/guest/form/`
2. Add ORDER INFORMATION details: Order ID, Billing Last Name, Find Order By: Email or ZIP Code
3. Click continue and always same error text: `You entered incorrect data. Please tr

[2018-09-17 13:26] magento-engcom-team commented on #18093
Hi @Userr017. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-17 13:28] engcom-backlog-nazar commented on #18092
@webusat You have empty value from $qty of configurable product. see attachments where this exception became
![selection_102](https://user-images.githubusercontent.com/40756439/45625942-c4896700-ba96-11e8-9cc1-feb4013315a8.png)

[2018-09-17 13:30] magento-engcom-team commented on #18093
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 13:32] webusat commented on #18092
@engcom-backlog-nazar  Thanks so much!  Is this related to inventory or is it for the actual quantity added to the cart?  If it is quantity, why does it show on the product page when a quantity is selected and added to the cart like my first screenshot?

[2018-09-17 13:34] engcom-backlog-nazar commented on #18092
@webusat this related to inventory, you have wrong import products qty. so you have this error on every page where using qty.

[2018-09-17 13:41] webusat commented on #18092
@engcom-backlog-nazar  Okay, that is a big help, it is inventory related.  Weird that it goes away if a configurable item is added to the cart.  A few more questions.

We are running multiple sites with this install and it is affecting all sites.  Would this be expected?

Could only one product affect all the sites?

Thanks so much!!

[2018-09-17 13:42] engcom-backlog-nazar commented on #18093
Hi @Userr017 You entered incorrect data order id should be like -> 000000001
![selection_103](https://user-images.githubusercontent.com/40756439/45626625-a3c21100-ba98-11e8-93af-685392f333b5.png)

[2018-09-17 13:42] #18093 closed, assigned to nobody

[2018-09-17 13:51] sreichel opened #18094 "Should getQty() return int/float or string?"
### Summary

- Magento 2.2-dev/2.3-dev
- PHP7.1 (strict)

PHPDocs blocks say `getQty()` should return float/int, but in most cases it returns a string. This is no problem until I use strict type declaration for my own extensions and trust in annotations.

### Examples

Magento\Catalog\Model\Product

[code]
I'd expect to get a float returned, but you'll get a string ...

### Proposed solution

1. h

[2018-09-17 13:51] magento-engcom-team commented on #18094
Hi @sreichel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-17 13:52] engcom-backlog-nazar commented on #18092
@webusat yes this may be affected to one product, and affected to sites where product is related

[2018-09-17 13:52] magento-engcom-team commented on #18094
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-17 14:09] webusat commented on #18092
@engcom-backlog-nazar  Thanks.  I have 5 sites and each sites gets this error.  Also, some of the items that this error happens to show quantity available in the Magento backend.  So why would this still happen?

I also noticed that some simple products also have a negative number available.  We do have it set to accept orders even if it is out of stock.  Is this normal?

[2018-09-17 14:11] Quent6457 commented on #10485
https://github.com/fernandofauth/magento2_datetime fix works for me i'm in 2.2.4 fr_FR thank's

[2018-09-17 14:32] webusat commented on #18092
@engcom-backlog-nazar  We are using Magento 2.2.0 CE

Just to note, I also activated the Luma Theme and still have the same issue.

So I have a CSV from the beginning of the month I can use to update the site.  But if I use replace then I lose all my sorting and have to redo it for 500+ products.  Will update work or do I need to use replace?  If I have to use replace, is there any way to keep my

[2018-09-17 14:35] engcom-backlog-nazar commented on #18094
HI @sreichel  How did you use the getQty() ? i'm using the  `Magento\CatalogInventory\Api\StockStateInterface;`
method  `$this->stockInvertory->getStockQty();`
and was have correct return type 'float'

[2018-09-17 14:39] engcom-backlog-nazar commented on #18092
@webusat You just need correctly replace qty for you imported products

[2018-09-17 14:48] SirocoolXX commented on #9497
Has somebody a solution now?
I have the same Problem like bbtimx
[2018-09-17 14:30:07] main.CRITICAL: Exception message: Wir können den Express Checkout nicht initialisieren.
Trace: #0 /html/magento2/vendor/magento/module-paypal/Controller/Express/GetToken.php(82): Magento\Paypal\Controller\Express\AbstractExpress->_initCheckout()
#1 /html/magento2/vendor/magento/module-paypal/Controller/Express/G

[2018-09-17 14:54] LuckyLoek commented on #7739
It is easier to define the injected transport object as non singleton. You can do this by defining your injected object in di.xml and setting the attribute 'shared' to 'false'. For instance, I created a script where I needed to send multiple order mails. Adding the following resolve my problem:

`<type name="\Magento\Sales\Model\Order\Email\SenderBuilder">
        <arguments>
            <argument

[2018-09-17 14:56] webusat commented on #18092
@engcom-backlog-nazar  Okay.

All the products for each site?  Or just the one product we tried to update?

Replace them to what number?  How do I know?

It may not matter because I deleted the configurable product I manually created and that didn't help.

Keep in mind I only updated 1 configurable product through the CSV which didn't really work.  So I manually created the configurable product an

[2018-09-17 15:06] engcom-backlog-nazar commented on #18092
@webusat Maybe only one product, Try debugging at this point https://github.com/magento/magento2/issues/18092#issuecomment-422016070

[2018-09-17 15:11] LucaGallinari commented on #12399
Based on @Cristiano81 comment i created this patch that you can apply until this is resolved:
https://gist.github.com/LucaGallinari/f476c5383a7eeafdfe778c8a980902df

[2018-09-17 15:21] engcom-backlog-nazar commented on #18094
@sreichel But i'm have correct return type.
![selection_105](https://user-images.githubusercontent.com/40756439/45632664-88f69900-baa6-11e8-9857-4d3d9f43200e.png)

[2018-09-17 15:30] engcom-backlog-nazar commented on #18094
@sreichel Ok i'm reproduce this with another number of qty lika 110 :)
![selection_106](https://user-images.githubusercontent.com/40756439/45633148-b859d580-baa7-11e8-8578-5de2646cd986.png)

[2018-09-17 15:30] sreichel commented on #18094
@engcom-backlog-nazar very strange. Again tested on 2.2-dev ...

![m2-18094](https://user-images.githubusercontent.com/5022236/45633095-39609f00-ba9f-11e8-9d62-c8c5d04564b5.PNG)

[2018-09-17 15:34] webusat commented on #18092
@engcom-backlog-nazar  Okay.  I deleted the one product we added but that didn't fix it.

Can you help me understand why it is an inventory issue when products are showing items in stock and we have it set to take orders even-though a product may be out of stock?

[2018-09-17 15:45] webusat commented on #18092
@engcom-backlog-nazar  I added this to vendor/magento/module-quote/Model/Quote/Item/AbstractItem.php

Before line 329
$writer = new \Zend\Log\Writer\Stream(BP . '/var/log/logfile.log');
$logger = new \Zend\Log\Logger();
$logger->addWriter($writer);
$logger->info('Array Log'.print_r($this->_getData('qty'), true));

and it returned this:
2018-09-17T15:41:07+00:00 INFO (6): Array Log1.0000
2018-09-17

[2018-09-17 15:47] magento-engcom-team commented on #18094
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95061`, `MAGETWO-95062` were created

[2018-09-17 15:47] engcom-backlog-nazar commented on #18094
@sreichel, thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-17 16:04] ghost opened #18099 "Configurable Product collection doesn't use flat tables"
### Preconditions
1. Magento 2.2.5
2. PHP 7.1
3. Mysql 5.6

### Steps to reproduce
1. Function isEnabledFlat of Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable\Product\Collection class always return false
[code]
while his parent class has
[code]

### Expected result
1. Configurable product on frontend uses flat tables

### Actual result
1. Configurable product on frontend

[2018-09-17 16:04] magento-engcom-team commented on #18099
Hi @Hesoy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-17 16:09] Rickertje opened #18100 "Checkout data (shipping address etc) not persistant after cart update"
### Preconditions
1. M2.2.5

### Steps to reproduce
1. Put item in cart
2. Go to checkout
3. Enter shipping address
4. Press Next to go to checkout step 2
5. Return to the store
6. Go to checkout (customer data still present - which is GOOD)
7. Return to the store
8. Add or delete an item or update the cart in some other way
9. Go to checkout

### Expected result
1. Checkout data (shipping address

[2018-09-17 16:41] sreichel opened #18101 "Wrong sort order for customer groups in customer grid filter"
### Preconditions

1. Magento-2.x (every version, same in M1)

### Steps to reproduce

1. imagine you've 50 customer groups (not only 3 default)
2. go to admin customer grid and filter by group

### Expected result

1. customer groups are listed alphabetically

### Actual result

1. customer groups are listed by ID (this is really unfavourable if you have a lot of groups)

![m2-18101](https://user

[2018-09-17 16:42] magento-engcom-team commented on #18101
Hi @sreichel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-17 19:10] gwharton opened #18103 "[2.2] Ordered Products Report Date Input fields ignore interface locale"
### Preconditions
1. Magento 2.2.5
2. Admin Interface Locale set to a locale that has dd/mm/YY date format. e.g "English United Kingdom"

### Steps to reproduce
1. Log into Admin Console
2. Select Reports -> Ordered
3. Select the from date 1st September 2018 from the calendar. Ensure date is 01/09/2018
4. Select the to date 10th September 2018 from the calendar. Ensure date is 10/09/2018

### Expe

[2018-09-17 19:10] magento-engcom-team commented on #18103
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-17 19:10] gwharton commented on #18103
@magento-engcom-team give me 2.2.5 instance

[2018-09-17 19:10] magento-engcom-team commented on #18103
Hi @gwharton. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-17 19:11] magento-engcom-team commented on #18103
Hi @gwharton, here is your [Magento instance](https://i-18103-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18103-2-2-5.engcom.dev.magento.com/admin](https://i-18103-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-17 19:13] gwharton commented on #18103
I can confirm that the issue is reproduced on test instance.

[2018-09-17 19:36] testmagento2 opened #18104 "purchase a downloadable product as guest checkout it does not appear in my downloadable products section"
Hi,

When I purchase a downloadable product as a guest and create account after, that product order does not appear in the my downloadable products section after completed purchase but invoice  is appear in My Orders.

Preconditions
magento 2.2.1
php 7

**Steps to reproduce**

- purchase downloadable product via guest checkout.
- successfully pay .
- Create Account.
- go to my email for the invoic

[2018-09-17 19:36] magento-engcom-team commented on #18104
Hi @testmagento2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-17 20:40] okorshenko commented on #17309
Hi @hostep
You are right. We have contact person for every bundled extension and we are forwarding these reports to them via our internal system.

[2018-09-17 22:55] dnesdeveloper opened #18105 "I am getting below error on browser console"
I am getting below error on browser console
"NetworkError: 400 Bad Request - https://yourdomain.com/rest/default/V1/carts/mine/payment-information"

and showing "Please specify the shipping method" error in payment section when clicking on place order button for login customer - Custom Shipping Module

Magento CE Ver 2.2.3

[2018-09-17 22:55] magento-engcom-team commented on #18105
Hi @dnesdeveloper. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-17 23:14] dnesdeveloper commented on #6581
anybody fond the solution?

[2018-09-17 23:20] #18105 closed, assigned to nobody

[2018-09-18 00:52] efurnituremax commented on #10424
This is exactly what we are experiencing:

@romeof1980

hi there!
we've got a similar issue in 2.1.8 and 2.1.9
when DUPLICATING A PRODUCT (in "All store views") and trying to set "Use default value" on "URL key" of the "default store view" (in the "Search Engine Optimization" section) after hitting "save" the Use-default-value's checkbox of the Url_Key gets deselected and the related Url_key field

[2018-09-18 01:12] tigerofasia commented on #2816
I wouldn't suggest this fix especially if you're installing with no sample data.

`Setup version for module 'Magento_ThemeSampleData' is not specified`

[2018-09-18 02:52] ghost opened #18106 "Single Transaction with multiple models using service contractor pattern"
### Summary
Currently the core class \Magento\Framework\DB\Transaction uses the deprecated _getResource method, which makes it "impossible" to use correctly while implementing the service contractor pattern because it doesn't take into account the existence of a Repository logic (and so the repository save method gets bypassed entirely for the entities involved).

### Examples
Currently code which

[2018-09-18 02:52] magento-engcom-team commented on #18106
Hi @strychnide. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-18 02:58] strychnide commented on #18106
No need for an instance since it's a purely theoretical/logical matter.

[2018-09-18 03:19] modkore opened #18107 "Header logo doesn't show up when updated on Backend"
### Preconditions

Magento 2.2.5

### Steps to reproduce

Content > Configuration > Active theme Design Configuration
1. Edited custom logo and saved
2. Flushed Magento Cached

### Expected result

The Header logo and Sticky logo won't show up

### Actual result

Upon checking source code for logo images what came out is https://www.domain.com/pub/media//logo/

[2018-09-18 05:11] sidolov commented on #4547
Hi @amingilani. Thank you for your report.
The issue has been fixed in magento/magento2#11576 by @elachino in 2.1-develop branch
Related commit(s):
 - [e2dc6b87f375cc25beb83f51651d71a89b337939](https://github.com/magento/magento2/commit/e2dc6b87f375cc25beb83f51651d71a89b337939)
 - [dd8f43cca245cd923a868cf93a45818f669af5d5](https://github.com/magento/magento2/commit/dd8f43cca245cd923a868cf93a45818f

[2018-09-18 05:27] magento-engcom-team commented on #18099
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 05:28] magento-engcom-team commented on #18101
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 05:35] magento-engcom-team commented on #18103
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 05:35] magento-engcom-team commented on #18101
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 05:36] magento-engcom-team commented on #18101
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95065`, `MAGETWO-95066` were created

[2018-09-18 05:36] engcom-backlog-nazar commented on #18101
Hi @sreichel , thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-18 05:52] engcom-backlog-nazar commented on #18103
Hi @gwharton thank you for you report, the fix for this issue has already available in 2.3-develop

[2018-09-18 05:52] #18103 closed, assigned to nobody

[2018-09-18 05:53] magento-engcom-team commented on #18104
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 06:05] engcom-backlog-nazar commented on #18104
Hi @testmagento2 thank you for you report, the fix for this issue has already available in 2.2-develop branch

[2018-09-18 06:05] #18104 closed, assigned to nobody

[2018-09-18 06:06] magento-engcom-team commented on #18106
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 06:07] magento-engcom-team commented on #18107
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 06:21] #18107 closed, assigned to nobody

[2018-09-18 06:57] engcom-backlog-nazar commented on #18099
Hi @Hesoy thank you for you report, If you set a break point to both method you will see, that magento uses always parent method is Flat Enable, If you like to update this please reopen issue.

[2018-09-18 06:57] #18099 closed, assigned to nobody

[2018-09-18 07:00] hafizjee commented on #10838
i have add this function `public function addAttributeToSelect($attribute, $joinType = false)
{
    $this->customerCollection->addAttributeToSelect($attribute, $joinType);
    return $this;
}
` in  app/code/Magento/Customer/Model/Indexer/Source.php
but got an error while re indexing.
`PHP Fatal error:  Uncaught Error: Call to undefined method Magento\Customer\Model\Indexer\Source::addAttributeToSe

[2018-09-18 07:26] bhargav-rupapara commented on #4509
I'm using magento version 2.1.13

[2018-09-18 07:30] BRkumara0 opened #18109 "Something went wrong while saving this configuration: Area is already set"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-09-18 07:30] magento-engcom-team commented on #18109
Hi @BRkumara0. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-18 07:31] peterjaap commented on #17830
I'm curious to hear from @okorshenko as well why a Plugin should be preferred over an event. The event pattern is in my opinion a much more clear way to do this and should always be preferred over a plugin.

[2018-09-18 07:33] gwharton commented on #18103
Does this mean we are no longer fixing issues in 2.2 if they are fixed in 2.3?

[2018-09-18 07:35] bhargav-rupapara opened #18110 "Compare Products now showing"
Hello,

I'm using Magento version 2.1.13

I'm facing an issue in add to compare, once I click on add to compare link from category page, I can see product is added in **report_compared_product_index** and **catalog_compare_item** tables.

I looked into **getItems** function of **\Magento\Catalog\Block\Product\Compare\ListCompare** class, it's showing item count there but, item count in **Magento_C

[2018-09-18 07:35] magento-engcom-team commented on #18110
Hi @bhargav-rupapara. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-09-18 07:37] engcom-backlog-nazar commented on #18103
@gwharton  No this mean that this fix backported to 2.2-dev branch

[2018-09-18 07:38] selusi commented on #10838
Before updating the index you have to launch the following commands:
[code]

[2018-09-18 07:41] hafizjee commented on #10838
i already launch these commands. but no success

[2018-09-18 07:46] magento-engcom-team commented on #18110
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 07:49] engcom-backlog-nazar commented on #18110
Hi @bhargav-rupapara i'm not able to reproduce steps you described, This may be ralated toyou custom code. If you like to update please reopen the issue.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Co

[2018-09-18 07:49] #18110 closed, assigned to nobody

[2018-09-18 07:53] magento-engcom-team commented on #18109
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 07:55] engcom-backlog-nazar commented on #18109
Hi @BRkumara0  i'm not able to reproduce steps you described, This may be ralated toyou custom code. If you like to update please reopen the issue.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core tec

[2018-09-18 07:55] #18109 closed, assigned to nobody

[2018-09-18 07:56] thompalstra commented on #6817
Issue is still persisting on our installation on version 2.2.2 CE. Just like the comments above, the address reverts to default region + default country after refreshing the page.

Are there any solutions yet to this issue?

[2018-09-18 08:16] engcom-backlog-nazar commented on #18092
@webusat Set a breakpoint on this ->see attachments. on file app/code/magento/quote/model/quote/item/Abstractitem.php and se if you have a qty. when you add product yo card
![selection_107](https://user-images.githubusercontent.com/40756439/45673763-3cf23580-bb34-11e8-89da-3e0794a60f63.png)

[2018-09-18 08:31] engcom-backlog-nazar commented on #18106
Hi @strychnide It will be processed faster if you move this to https://github.com/magento/community-features

Best regards!

[2018-09-18 08:34] #18106 closed, assigned to nobody

[2018-09-18 08:42] escopecz opened #18111 "API: Postcode always required on customer update even if it isn't"
### Preconditions

1. Magento 2.2.4
2. API authorization OAuth1a

### Steps to reproduce

1. Get all address field definitions with `GET index.php/rest/V1/attributeMetadata/customerAddress`
2. It will return this default definition of the postcode field:
[code]
3. Notice the row `"required": false,`
4. Try to update an existing customer on endpoint `PUT index.php/rest/V1/customers/70165` with body

[2018-09-18 08:42] magento-engcom-team commented on #18111
Hi @escopecz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-18 08:43] magento-engcom-team commented on #18111
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 08:48] gwharton commented on #18103
Step 4 of the new process above suggests that all issues will be closed if they cant be reproduced on 2.3-develop.

[2018-09-18 09:10] engcom-backlog-nazar commented on #18111
Hi @escopecz this is expected behavior, you need choose country in admin, Who dont need a postal code required
![selection_109](https://user-images.githubusercontent.com/40756439/45677008-d07b3480-bb3b-11e8-924c-67af52590be5.png)

[2018-09-18 09:10] #18111 closed, assigned to nobody

[2018-09-18 09:28] p-bystritsky commented on #18009
@sidm they are located in private Magento Engcom team repository.

[2018-09-18 09:37] Hesoy commented on #18099
@engcom-backlog-nazar How it could use parent method if Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable\Product\Collection overrides it? I have setted break point on this two methods and it always return false when i'm trying render configurable product on catalog page.

[2018-09-18 09:39] gwharton commented on #18103
ok, thanks for that. I understand now.

[2018-09-18 09:40] gwharton commented on #18103
If anyone needs it before the next 2.2.x release, here is the commit that fixes the issue.

https://github.com/magento/magento2/commit/fea3b7a0f9151b3c236ea02475fde4b1793c7a0b

[2018-09-18 09:48] engcom-backlog-nazar commented on #18099
@Hesoy I'm have no idea why magento use this, But magento use parent method, breakpoint stops on first parent then jump to extended, and then again to parent. so you always use parent method

[2018-09-18 09:53] escopecz commented on #18111
Thanks for the answer! It makes more sense now, but shouldn't the list of fields then say that it is a required field? Even if it is only for some countries but it still is required.

Can you please describe how to get to that setting? I can't find it.

[2018-09-18 09:59] engcom-backlog-nazar commented on #18111
@escopecz store->configuration->general->general->Zip/Postal Code is Optional for;
"but shouldn't the list of fields then say that it is a required " -> Seems yes, but optionaly you can change him.

[2018-09-18 10:04] engcom-backlog-nazar commented on #18099
@Hesoy No usages found in All Places, for second method.

[2018-09-18 10:06] escopecz commented on #18111
Thanks again! I do not control configuration of Magento instances. I just write API connection with another system that anybody will be able to use. So I have 2 options now:

1. Write into docs that each user should go to the post code field and mark it as required. But we all know that not many users read the docs.
2. Hard-code in the code that the post code field is always required. Which I will

[2018-09-18 10:11] darren-halo commented on #9322
I confirm @joebordo's solution worked for me in 2.2.5.

Although the change is on line 37 now.
Remove the classes 'sly-old-price  no-display' because these forces the old price to be hidden.
Override in file: THEME/Magento_ConfigurableProduct/templates/product/price/final_price.phtml

[2018-09-18 10:13] engcom-backlog-nazar commented on #18111
@escopecz Yes Optimal solution would be better, but this would be an feature request, not a  bug.
you can report here -> https://github.com/magento/community-features

[2018-09-18 10:13] darren-halo commented on #14278
Yes, see the solution on #15043. worked in 2.2.5

[2018-09-18 11:26] Hesoy commented on #18099
@engcom-backlog-nazar Ok, I'm debugging renderer.phtml in module-swatches and in Magento\ConfigurableProduct\Block\Product\View\Type\Configurable::getAllowProducts() I'm trying to get allow products. I'll share my debug print screens.
https://prnt.sc/kvr9bk
https://prnt.sc/kvr997
https://prnt.sc/kvr97j
https://prnt.sc/kvr921

[2018-09-18 11:35] jakubderdziak commented on #18057
Hello @engcom-backlog-nazar - I've created pull request with proposed solution for this problem. Please verify if it's acceptable by you, and let me know if something need to be corrected.

[2018-09-18 12:05] escopecz opened #18115 "Multiline field is broken"
### Preconditions

Magento 2.2.4
API authorization OAuth1a

### Steps to reproduce

1. Create new multiline custom field on the customer object.
2. Fill in some values for a customer like this:
![screen shot 2018-09-18 at 13 56 38](https://user-images.githubusercontent.com/1235442/45685788-d88ea080-bb4a-11e8-9c7a-7fbca08ca1d6.png)
3. Save the customer.
4. Open the edit form for that customer again

[2018-09-18 12:05] magento-engcom-team commented on #18115
Hi @escopecz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-18 12:07] magento-engcom-team commented on #18115
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 12:11] sebfie commented on #16450
Same issue here with a website with already many data

[2018-09-18 12:12] engcom-backlog-nazar commented on #18115
Hi @escopecz, thank you for your report. Customer attribute available only on EE version. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Sourc

[2018-09-18 12:12] #18115 closed, assigned to nobody

[2018-09-18 12:17] engcom-backlog-nazar commented on #18115
@escopecz also duplicate for this -> https://github.com/magento/magento2/issues/8086

[2018-09-18 12:29] engcom-backlog-nazar commented on #18115
@escopecz No, problem described in referenced ticked actually the same, custom attribute not save correctly, so in the API you have the same result, if someone fixed referenced ticket, you resolve you issue.

[2018-09-18 12:32] escopecz commented on #18115
How come the street multiline field works and other don't? I have to implement the API communication for this field and it's nightmare as I don't know what the rule for the field value type is. I'd remove this type from field mapping completely as it's buggy, but the street field is important.

[2018-09-18 12:44] sunilit42 opened #18116 "Cache flush not working on product save ( change product status from disabled to enabled)"
Preconditions
Magento-2.2.3
Make sure varnish enabled on server

Steps to reproduce
=> must be enabled cache
=> must be production mode
=> go to any product page
=> go to admin and change product status to disabled
=> refresh product page it will go to 404 page
=> now change status to enabled
=> refresh product page again, it should show product page but still it is showing 404 page

Expected  Res

[2018-09-18 12:44] magento-engcom-team commented on #18116
Hi @sunilit42. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-18 12:47] engcom-backlog-nazar commented on #18115
@escopecz
Street Address use another logic of attributes and this works for magento core, but for custom attributes  not.
As i can see this bug is acknowledged, and we are waiting for maintainer to fix this.
Also you can use multiselect attribute.

[2018-09-18 12:49] magento-engcom-team commented on #18116
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 12:49] sunilit42 commented on #18116
@magento-engcom-team give me 2.3-develop

[2018-09-18 12:54] escopecz commented on #18115
Thanks a lot for explanation! That's what I needed. So I'll ignore all multiline fields that are not system.

[2018-09-18 13:14] engcom-backlog-nazar commented on #18116
Hi @sunilit42 I'm not able to reproduce following steps your described, see attachments.
If you like to update please reopen issue.
![cache](https://user-images.githubusercontent.com/40756439/45689937-ed286400-bb5d-11e8-860e-330a6227e7bd.gif)

[2018-09-18 13:20] sunilit42 commented on #18116
Hello @engcom-backlog-nazar
make sure varnish on server

[2018-09-18 13:28] hafizjee commented on #10838
m follow this but got an error . how can i resolve ?

[2018-09-18 13:32] engcom-backlog-nazar commented on #18116
@sunilit42  Same with varnish server, problem may be related to you custom code. Please close issue or update it
![cache2](https://user-images.githubusercontent.com/40756439/45691057-717be680-bb60-11e8-8d9c-8252eaea2373.gif)

[2018-09-18 13:35] einicher commented on #2380
This still happens on 2.2.5 and is not very funny since the one page checkout is illegal in most EU countries since it does not show all products and their amount on the last checkout step - it hides them in a sidebar. Who the hell came up with that?? Happens with blank and luma theme and most themes that are based on them.

[2018-09-18 13:41] engcom-backlog-nazar commented on #18116
@sunilit42  any updates ?

[2018-09-18 13:45] sunilit42 commented on #18116
yes Magento version updated

[2018-09-18 13:47] engcom-backlog-nazar commented on #18116
@magento-engcom-team give me 2.3-develop instance

[2018-09-18 13:47] magento-engcom-team commented on #18116
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-18 13:48] magento-engcom-team commented on #18116
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-18116-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18116-2-3-develop.engcom.dev.magento.com/admin](https://i-18116-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-18 13:48] sunilit42 commented on #18116
check with 2.2.3

[2018-09-18 13:52] sunilit42 commented on #18116
@engcom-backlog-nazar

https://i-18116-2-3-develop.engcom.dev.magento.com/test.html

check this product
and backend product status is enabled

[2018-09-18 14:00] engcom-backlog-nazar commented on #18116
@sunilit42 You don't set qty and stock status check now https://i-18116-2-3-develop.engcom.dev.magento.com/test.html

[2018-09-18 14:04] engcom-backlog-nazar commented on #18116
@sunilit42  can you close issue please?

[2018-09-18 14:05] sunilit42 commented on #18116
wait i m still checking

[2018-09-18 14:10] sunilit42 commented on #18116
varnish is not there

[2018-09-18 14:11] engcom-backlog-nazar commented on #18116
@sunilit42 I told you that i can't reproduce with varnish.

[2018-09-18 14:12] ihor-sviziev commented on #14530
@engcom-backlog-nazar wasn't this issue fixed by https://github.com/magento/magento2/pull/14973 ?

[2018-09-18 14:16] engcom-backlog-nazar commented on #18116
@sunilit42 I close issue if you like to update please reopen issue if you have some additional information

[2018-09-18 14:27] piwni commented on #10454
Hey guys, I've made a fork of Josh's solution and extended it to show the sold out variants as disabled: take a look at this pull request: https://github.com/interjar/configurable-child-visibility/pull/4 . Works like a charm on 2.2.5.

@jeffb1a5 @maierb @JoshuaSpeechleyRS @joost-heijden @Rann1 @emreozandac @skilar

[2018-09-18 14:34] engcom-backlog-nazar commented on #14530
@ihor-sviziev This PR can fix this issue-> https://github.com/magento/magento2/pull/17517

[2018-09-18 14:41] engcom-backlog-nazar commented on #18099
@Hesoy
![selection_110](https://user-images.githubusercontent.com/40756439/45695439-13ec9780-bb6a-11e8-8cd0-1730c548518a.png)

[2018-09-18 14:43] werfu commented on #17310
I can confirm this is currently happening on our site. We're getting non-responsive checkout process randomly happening. The max_concurrency value was still at the default value of 6. I'm increasing it to 30. The permission for /var/lib/php/sessions are set to drwx-wx-wt  root:root, which explains why the FPM pool cannot read in it, but it obviously shouldn't be trying as redis should be acting as

[2018-09-18 14:46] buskamuza commented on #17830
@sreichel , @peterjaap , why `before` or `around` plugin will not solve your task?
@peterjaap , why event pattern is more clear? Plugins have defined interface, so you're always sure what arguments to expect. In the same time, in observers you get any data from the event, which is too abstract to provide you information about available data specific for your event.

In this specific use case, just

[2018-09-18 14:48] saxsax1995 commented on #13650
In my case, even using ` php -dmemory_limit=5G bin/magento setup:static-content:deploy`, its still appear that issue `out of memory` @@.

[2018-09-18 14:50] marcelo-monteiro commented on #15968
@speedupmate, I got your point now. Well, could you please verify if this issue happens in the newest releases? I could not reproduce it, because I don't have access to versions with Temando. Thank you.

[2018-09-18 14:50] magento-engcom-team commented on #15968
Hi @marcelo-monteiro. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-09-18 14:50] sunilit42 commented on #18116
@engcom-backlog-nazar
for me happen only with varnish

i disabled varnish and i checked

it is working fine

[2018-09-18 14:53] engcom-backlog-nazar commented on #17822
@songofcode , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-18 14:53] #17822 closed, assigned to nobody

[2018-09-18 14:55] engcom-backlog-nazar commented on #18116
@sunilit42 This related to your environment because i'm too use varnish and have no this issue.
Best regards.

[2018-09-18 14:56] magento-engcom-team commented on #17310
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 14:59] hostep commented on #10838
@hafizjee, the correct fix is this one: https://github.com/magento/magento2/commit/7759827ff277157d3cf1ae93b1392a73bc2538de

If you use composer, you can follow this guide to install this as a patch on top of your installation: https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit

Or you can just upgrade to Magento 2.2

[2018-09-18 15:00] selusi commented on #10838
@hafizjee
You can try to delete the folders:
generated\code
var\cache
and the launch:
[code]
The error code leaves no doubt of interpretation. The application does not find the required method, so either you copied the code to the wrong file or you did not completely delete the cache.
Another possible cause could be the permissions assigned to the folders that could prevent the proper rewriting of

[2018-09-18 15:01] magento-engcom-team commented on #12776
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-18 15:06] sidolov commented on #17830
Hi @sreichel , described behavior can be reached by usage of [before or around plugin](https://devdocs.magento.com/guides/v2.2/extension-dev-guide/plugins.html) for `\Magento\Checkout\Model\Cart::addProduct` method. You may provide any validation and throw an exception if the product does not match the conditions.

Also, we prefer plugins for data modification instead of observers, you can find th

[2018-09-18 15:10] jahvi commented on #1821
@BenSpace48 Looking at [the committed changes](https://github.com/magento/magento2/commit/d3e24edf30644a892861481dfc722b570f6e070d#diff-badec6b736946fe273604baa79cab0a5R82) it looks like all the nodes are ordered and then outputted so it should affect all types.

[2018-09-18 15:10] okorshenko commented on #17830
Hi @peterjaap I hope you got the answers. Anyway we will accept this pull request https://github.com/magento/magento2/pull/18080 to resolve your concern

Thank you

[2018-09-18 15:18] escopecz opened #18118 "Almost impossible to update region"
### Preconditions

Magento 2.2.4
API authorization OAuth1a

### Steps to reproduce

1. If I try to update a customer with country "USA" via API with following region info it works fine.
[code]
2. But if I try to update region with the same object but with country (for example "CZ) that does not support regions in Magento I get this error:
[code]

### Expected result

1. I provide `"region": "CA"`

[2018-09-18 15:18] magento-engcom-team commented on #18118
Hi @escopecz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-18 17:07] peterjaap commented on #17830
@sidolov I understand that for *data modificaton* purposes a Plugin is preferred, but in cases where the data is not modified, I would say that an event is preferred.

[2018-09-18 17:11] melaxon opened #18119 "Unable to login on frontend"
### Preconditions

1. Version 2.2.5

2. Local computer MAC (el capitan, apache2.4, php7.1), domain https://www.magento2.loc, self signed SSL,

### Steps to reproduce

1. Click login on any page and enter username and password
2. Any browser

### Expected result

1. Must be logged in
2.

### Actual result

1. Not logged in with no error message
2. If I enter wrong username or password, I receive er

[2018-09-18 17:11] magento-engcom-team commented on #18119
Hi @melaxon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-18 18:41] rparsi commented on #18118
@escopecz There are 2 Rest endpoints (Magento version 2.2.x):
`/V1/directory/countries`
`/V1/directory/countries/{countryId}`

Country ID's are in ISO 2 char length formats (ie `CA` for Canada).
Country object returned in the json has array `available_regions`.

For any other data and/or processing you'll have to make your own Rest endpoint.
Refer to `vendor\magento\module-directory\etc\webapi.xml

[2018-09-18 19:55] jyoti217 commented on #18088
@engcom-backlog-nazar
I found the issue that I was having it was because I was trying to get the customer token in swagger
where the curl url is **http://localhost.magento/rest/all/V1/integration/customer/token**
When I removed **/all** it worked fine. Also in the video shared by you the url does not contain **/all**.
In the Swagger documentation there should be some way to remove this **/all** wh

[2018-09-18 20:30] pemann commented on #12390
I can reproduce this simply by refreshing the checkout / payment page on 2.2.3.
This is a major issue. Any progress?

[2018-09-18 20:33] jasmeetdd opened #18121 "Magento 2 Email Confirmation Not Working"
I have a problem in Magento 2.2.5.
All the links sent on email like the email confirmation link or the password reset link are not working.

The problem is that is my website is my_website.com then these links belong to a subdomain links.my_website.com.

Is this a bug or am I doing something wrong in the configuration.

[2018-09-18 20:33] magento-engcom-team commented on #18121
Hi @jasmeetdd. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-18 20:44] riconeitzel commented on #12271
jesus … lord …

I found it …

create a theme … configure grunt's local-themes.js … run exec -> error

open admin panel > content > themes (verify theme is listed)

run exec again: works

I THINK: It's caused by the missing entry in the theme table!

can someone confirm that?!

[2018-09-18 20:45] riconeitzel commented on #12262
see #12271

I think I found the reason :-)

[2018-09-18 21:37] melaxon commented on #18119
@magento-engcom-team give me 2.2.5 instance

[2018-09-18 21:38] magento-engcom-team commented on #18119
Hi @melaxon. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-18 21:38] magento-engcom-team commented on #18119
Hi @melaxon, here is your [Magento instance](https://i-18119-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18119-2-2-5.engcom.dev.magento.com/admin](https://i-18119-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-18 22:04] melaxon commented on #18119
No, vanilla instance is okay. I also could not reproduce it on the copy of my own shop on remote host. On localhost it also was okay. Till yesterday.
I rolled back all changes and it did not help
And I wonder how not to reproduce it in production environment since the cause is still unknown, and what to do if this will happen. For example in M1 the same fault happened sometimes and it was unpredic

[2018-09-18 22:46] key-dev commented on #15192
It worked.
Thank you

[2018-09-18 22:46] key-dev commented on #15192
It worked.
Thank you

[2018-09-19 00:05] Tomasz-Silpion commented on #18121
Are you sure these mails not being send at all or maybe they go into receiver spam box? Subdomain can have different sender score. I would advise to check server mail-log first. There's always an option to install some additional SMTP plugin for the store.

[2018-09-19 02:03] haiwera-silk-cd opened #18125 "issue of using symlink to link app/design dir to Magento"
### Preconditions

1. version:2.2.5
2. php version: 7.1.0

### Steps to reproduce

1. use the `ln` command to link my design directory into Magento's app directory
2. there were get wrong absolute directory, such as I'll get `/var/www/mage2/app/code/design/backend/app/code/design` if the dir is linked to Magento from `/backend/app/code/design`

### Expected result

1. product image in frontend and

[2018-09-19 02:03] magento-engcom-team commented on #18125
Hi @haiwera-silk-cd. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-19 02:11] haiwera-silk-cd commented on #18125
For now, To fix the issue temporarily I only can change the `registration.php` in the theme module as below:
![image](https://user-images.githubusercontent.com/37173598/45726950-34613400-bbf4-11e8-9ead-ace9a73c2fc0.png)

[2018-09-19 05:34] magento-engcom-team commented on #18118
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 05:34] magento-engcom-team commented on #18119
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 05:34] magento-engcom-team commented on #18121
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 05:41] engcom-backlog-nazar commented on #18118
Hi @escopecz You gen get region id on this endpoint ->/V1/directory/countries , And for some country region id is required, for some on not. And this is related ->https://github.com/magento/magento2/issues/18024
If you like to update this, please reopen issue.
Best regards.

[2018-09-19 05:41] #18118 closed, assigned to nobody

[2018-09-19 05:42] magento-engcom-team commented on #18125
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 05:56] engcom-backlog-nazar commented on #18121
Hi @jasmeetdd I'm not able to reproduce following steps you described, problem may be related to your configuration. If you like to update this, please reopen the issue. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intende

[2018-09-19 05:56] #18121 closed, assigned to nobody

[2018-09-19 06:07] PivitParkour94 commented on #10928
So what's the solution to this?

[2018-09-19 06:18] #18125 closed, assigned to nobody

[2018-09-19 06:39] engcom-backlog-nazar commented on #18119
HI @melaxon Problem related to your environment, maybe try use nginx, or change session to redis,
maybe that helps, or re check your configuration of apache.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magent

[2018-09-19 06:39] #18119 closed, assigned to nobody

[2018-09-19 06:46] sidm commented on #18009
@p-bystritsky Could you tell me what to change to fix this issue, or provide me with the code for the changed files?

[2018-09-19 06:52] LovelySetia commented on #4909
Suppose i have 2 items in order,one is simple and other is bundle.When i call POST V1/customInvoices api,and pass {"entity": {   "orderId": "325",   "totalQty": "1","items": [ {"order_item_id":1199, "qty": 1}],  "comments": [], "extensionAttributes": {}  }}.Here items": [ {"order_item_id":1199, "qty": 1} this is simple product item id.This api is give response as detail about simple product and al

[2018-09-19 06:57] magento-engcom-team commented on #12776
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95093`, `MAGETWO-95094` were created

[2018-09-19 06:58] engcom-backlog-nazar commented on #12776
Hi @atishgoswami, thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-19 07:06] salmanazeez786 commented on #14592
You cannot add expired credit cards,but if you had previously added a card and that got expired recently,then this will occur.

[2018-09-19 07:06] rob223 opened #18128 "magento 2.1.5 C:/wamp64/www/mysite/pub/media/wysiwyg is not under storage root path"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-19 07:06] magento-engcom-team commented on #18128
Hi @rob223. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-19 07:07] magento-engcom-team commented on #18128
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 07:08] engcom-backlog-nazar commented on #18128
Hi @rob223   i'm not able to reproduce following steps you described, This may be ralated to you custom code. If you like to update please reopen the issue.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento

[2018-09-19 07:08] #18128 closed, assigned to nobody

[2018-09-19 07:41] zaietsv commented on #4502
There is the same error on magento 2.5 -> 2.6 upgrade http://screenshots.collabstar.com/vza/8a59c378.png

[2018-09-19 07:45] engcom-backlog-nazar commented on #17310
HI @AykutCevik Thank you for you report the fix for this issue has already avaible in 2.2-develop and 2.3-developb bransh, fixed by this pr -> https://github.com/magento/magento2/pull/17608

[2018-09-19 08:02] vpatidar009 commented on #18082
@magento-engcom-team @engcom-backlog-nazar  We can also force sku length in the file "vendor\magento\module-configurable-product\view\adminhtml\web\js\variations\steps\summary.js" by 64 or less characters

[2018-09-19 08:06] engcom-backlog-nazar commented on #14592
@salmanazeez786 I'm not  able to reproduce, because i'm not able to have previously added a card and that got expired.

[2018-09-19 08:12] snowcore commented on #15509
Basically, this is related to the new way of generating breadcrumbs: https://magento.stackexchange.com/questions/227232/magento2-breadcrumbs-disappeared-from-product-page-after-upgrading-to-2-2-4

[2018-09-19 08:19] diazwatson commented on #6817
Seems to be fixed in 2.2.6

[2018-09-19 08:36] MarcusWolschon commented on #11498
2.2.4 Changelog says:
_PayPal Express Checkout now appears as a payment option on the Checkout page when the PayPal buttons are available on the shopping cart page. Previously, PayPal did not appear as a payment method on the Checkout page when the billing agreement was disabled, although the PayPal buttons were still available on the shopping cart page._

Was the Checkbox for the billing agreemen

[2018-09-19 08:40] yvvibhute commented on #9669
In which file changes was do.

[2018-09-19 08:45] kevinlab51 commented on #17286
Some additional information to add to the comment of the issue owner:
You have to have a featured attribute with the scope store view.
When you have the featured attribute scope to global it is working.

Please have a look into this magento.

[2018-09-19 08:49] janisuk opened #18129 "Magento 2.2.5 and PHP 7.2.9 - Fatal error: Class Magento\Framework\Session\SaveHandler\Redis\Config contains X abstract methods and must therefore be declared abstract or implement the remaining methods (Cm\RedisSession\Handler\ConfigInterface::getSentinelServers, ...) in /lib/internal/Magento/Framework/Session/SaveHandler/Redis/Config.php on line 16 # php bin/magento setup:di:compile"
Get error when I run command

#php bin/magento setup:di:compile

Fatal error:  Class Magento\Framework\Session\SaveHandler\Redis\Config contains 4 abstract methods and must therefore be declared abstract or implement the remaining methods (Cm\RedisSession\Handler\ConfigInterface::getSentinelServers, ...) in /lib/internal/Magento/Framework/Session/SaveHandler/Redis/Config.php on line 16 # php bin/m

[2018-09-19 08:50] magento-engcom-team commented on #18129
Hi @janisuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-19 08:52] magento-engcom-team commented on #18129
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 08:57] kevinlab51 opened #18130 "Magento 2.2.5 issue with widget conditions (featured)"
###Summary
After upgrade to 2.2.5 from 2.2.4, pages that contain a widget displaying featured products fail to load with an SQL error.

### Preconditions
1.PHP7
2.M2.2.5

### Steps to reproduce
1. Upgrade from 2.2.4 to 2.2.5
2. Have "featured products" in catalog
3. Have the featured attribute on scope "store view"
4. Have a widget on homepage with "featured products"

### Expected result
1. After

[2018-09-19 08:57] magento-engcom-team commented on #18130
Hi @kevinlab51. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-19 08:58] magento-engcom-team commented on #18130
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 09:02] kevinlab51 commented on #18130
@magento-engcom-team give me 2.2.5 instance

[2018-09-19 09:02] magento-engcom-team commented on #18130
Hi @kevinlab51. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-19 09:02] magento-engcom-team commented on #18130
Hi @kevinlab51, here is your [Magento instance](https://i-18130-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18130-2-2-5.engcom.dev.magento.com/admin](https://i-18130-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-19 09:04] engcom-backlog-nazar commented on #18129
HI @janisuk I'm not able to reproduce following steps your described, I'm trying with redis-server, Please describe the issue .
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results.
The reopen the issue.
Best Regards.

[2018-09-19 09:04] #18129 closed, assigned to nobody

[2018-09-19 09:12] kevinlab51 commented on #18130
@magento-engcom-team i am getting a error on your magento vanilla instance but i can't access the error file. And i can't run the indexer. What do i have to do here?

[2018-09-19 09:13] engcom-backlog-nazar commented on #18130
Hi @kevinlab51 maybe this is duplicate to -> https://github.com/magento/magento2/issues/16471 ?

[2018-09-19 09:35] magento-engcom-team commented on #17068
@devgoku We are closing this issue now, as we are winding down `2.1-develop` in this repository. Please consider upgrading to the newer version where issue is fixed.

[2018-09-19 09:35] #17068 closed, assigned to nobody

[2018-09-19 09:37] magento-engcom-team commented on #17709
@qsolutions-pl we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-19 09:37] #17709 closed, assigned to engcom-backlog-nickolas

[2018-09-19 09:37] magento-engcom-team commented on #13232
@KSaho we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-19 09:37] #13232 closed, assigned to nobody

[2018-09-19 09:43] engcom-backlog-nazar commented on #13267
@andrewhowdencom I'm closing this issue  due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-19 09:43] #13267 closed, assigned to nobody

[2018-09-19 09:45] Stolr commented on #4502
Having same issue here when upgrading from 2.5 to 2.6

  [Magento\Framework\Exception\LocalizedException]
  Init vector must be a string of 32 bytes.

[2018-09-19 09:47] peterjaap commented on #16249
Fixed in 2.2.6

[2018-09-19 09:48] magento-engcom-team commented on #13553
@magento-engcom-team Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95099` were created

[2018-09-19 09:49] peterjaap commented on #12428
Fixed in 2.2.6; https://github.com/magento/magento2/blob/2.2.6/lib/web/mage/requirejs/resolver.js#L51

[2018-09-19 09:52] magento-engcom-team commented on #14951
@tstamplis Fix should now be available with recent 2.2.6 release. Please check commits from https://github.com/magento/magento2/pull/15765 for reference.

Please feel free to reopen if the issue persists with 2.2.6.

Thank you.

[2018-09-19 09:52] #14951 closed, assigned to nobody

[2018-09-19 09:53] magento-engcom-team commented on #17904
@serena-yu17 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-19 09:53] #17904 closed, assigned to nobody

[2018-09-19 09:54] magento-engcom-team commented on #17917
@DerekBoothSEO we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-19 09:54] #17917 closed, assigned to nobody

[2018-09-19 09:56] magento-engcom-team commented on #17856
@salehawal we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

@allanpaiste Thanks for attempting to reproduce!

[2018-09-19 09:56] #17856 closed, assigned to engcom-backlog-nickolas

[2018-09-19 09:57] zaietsv commented on #4502
I really haven't any time to extend this "ready-to-use" product with patches. I only want to update it without problems or brainstorms.

[2018-09-19 10:04] vipashavivi commented on #4502
Having same issue here when upgrading from 2.5 to 2.6

[Magento\Framework\Exception\LocalizedException]
Init vector must be a string of 32 bytes.

[2018-09-19 10:14] magento-engcom-team commented on #16167
Hi @maderlock
Please use the Amazon Payments tracker to report issues with the extension: https://github.com/amzn/amazon-payments-magento-2-plugin/issues

Thank you

[2018-09-19 10:14] #16167 closed, assigned to nobody

[2018-09-19 10:16] gwharton commented on #15035
This is still present in 2.2.6, however reverting the change made in #13084 no longer seems to fix the issue.

[2018-09-19 10:17] ishakhsuvarov commented on #15968
@speedupmate

In this case it would be very helpful from your side to provide clear steps to reproduce not including any of the modules which are not present in this repository.

[2018-09-19 10:27] luklewluk commented on #7167
I had issues with wysiwyg images on Magento 2.2.2.
As I couldn't find ready solution anywhere, I'm sharing my observation here:
In file `/vendor/magento/module-cms/Helper/Wysiwyg/Images.php` there's a method `isUsingStaticUrlsAllowed`. It passes "isAllowed" argument through event so you can easily override it in your code. In 2.2.2 it's used only by `Catalog_Product` so probably it's solved only f

[2018-09-19 10:32] peterjaap commented on #6350
Not fixed in 2.2.6.

[2018-09-19 10:32] akimatze opened #18131 "Entity Type ID at Join"
### Preconditions
1. Magento EE 2.2.5
2. MySQL 5.7, PHP 7.1.14

### Steps to reproduce
1. Create new Entity Type with InstallData Script. Use eav_entity table as entity table with some random attributes.
2. Create Default EAV Model, ResourceModel and Collection
3. Use collection, addFieldToSelect of one of the attributes and load them.

### Expected result
1. Entries with added attribute

### Actu

[2018-09-19 10:33] magento-engcom-team commented on #18131
Hi @akimatze. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-19 10:35] karlsminton commented on #15427
I'm also seeing this in 2.2.3 open source;

[] main.CRITICAL: Wrong order ID: "000004793". {"exception":"[object] (Exception(code: 0): Wrong order ID: \"000004793\". at /home/panel/htdocs/somesite/vendor/magento/module-paypal/Model/Ipn.php:140)"} []

[2018-09-19 10:44] magento-engcom-team commented on #18131
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 11:06] SAPontwerp commented on #16604
@callumstar we do not have that much orders from the admin so we just enable a fixed shipping price when we add an order and turn it off again when done.

[2018-09-19 11:09] sunilit42 commented on #18116
today i checked with one of the cloud environment and same issue on the cloud as well

so it is related to varnish issue

[2018-09-19 11:14] sunilit42 commented on #18116
check

someone also said same issue

https://github.com/magento/magento2/issues/7392 : avdb comment

[2018-09-19 11:17] engcom-backlog-nazar commented on #18116
@sunilit42  So you issue is duplicate to this ->https://github.com/magento/magento2/issues/7392
Please go to the discussion at referenced issue.

[2018-09-19 11:17] #18116 closed, assigned to nobody

[2018-09-19 11:17] asif-hhh opened #18132 "Marketplace submission issue"
Problem is related to Marketplace extension submission.

     - Whenever i submit a new extension, it response back with this error message "An error occurred, please try again later." with no other information, where to check or fix problem.
     - This is a Magento 2 module,
     - This situation is only for my two modules out of 13. dont know why its happening. i removed all directories and fil

[2018-09-19 11:17] magento-engcom-team commented on #18132
Hi @asif-hhh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-19 11:18] sunilit42 commented on #7392
Helllo @avdb

is there any solution?

[2018-09-19 11:18] magento-engcom-team commented on #18132
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 11:19] engcom-backlog-nazar commented on #18132
Hi @asif-hhh Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-19 11:19] #18132 closed, assigned to nobody

[2018-09-19 11:30] engcom-backlog-nazar commented on #17860
HI @gclift  HI @Ananth747 I'm not able to reproduce following steps you described, see attachments.
![selection_114](https://user-images.githubusercontent.com/40756439/45750718-916ee100-bc18-11e8-83d2-768c4c77ada9.png)
![selection_113](https://user-images.githubusercontent.com/40756439/45750719-92077780-bc18-11e8-80fc-c6b375c8a099.png)
![selection_112](https://user-images.githubusercontent.com/407

[2018-09-19 11:34] engcom-backlog-nazar commented on #15427
HI @karlsminton Can You describe how you get this error? to help us reproduce this issue?

[2018-09-19 11:37] engcom-backlog-nazar commented on #18131
Hi @akimatze this is duplicate for this -> https://github.com/magento/magento2/issues/17863
The same logics affcted, to the query.

[2018-09-19 11:43] engcom-backlog-nazar commented on #18131
@akimatze Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only. There are no account ma

[2018-09-19 12:12] magento-engcom-team commented on #18131
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95102`, `MAGETWO-95103` were created

[2018-09-19 12:12] engcom-backlog-nazar commented on #18131
@akimatze, thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-19 12:31] engcom-backlog-nazar commented on #17115
HI @DanielRuf Any Updates on this ?

[2018-09-19 12:43] kanchananand opened #18133 "Magento 2.3 error"
is magento 2.3 is not stable? or is there any auto update on Magento 2.3 coz every time we fix the error and then another error comes my developer said this is because of auto updation on Magento code is this write?

[2018-09-19 12:43] magento-engcom-team commented on #18133
Hi @kanchananand. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-19 12:45] magento-engcom-team commented on #18133
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 12:46] engcom-backlog-nazar commented on #18133
Hi @kanchananand Hi @asif-hhh Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-19 12:46] #18133 closed, assigned to nobody

[2018-09-19 12:52] ishakhsuvarov commented on #17868
Hi @abhaykhatariya
You may submit a Pull Request to this repository with the fix. Please take a look at the "[Contributing](https://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html)" section of the Magento Developer Documentation to learn more. Feel free to reach out me or anyone on the team via Community Engineering [slack workspace](http://tinyurl.com/engcom-signup) if you nee

[2018-09-19 13:02] engcom-backlog-nazar commented on #18130
@kevinlab51 I close issue as this is duplicate for referenced issue, if you like to update this please reopen the issue.

[2018-09-19 13:02] #18130 closed, assigned to nobody

[2018-09-19 13:39] albsa commented on #12271
@riconeitzel I tried, but that did not work for me.
What worked for me was to downgrade to node v8 instead of node v10.
I hope that this helps for other people.

After installing node v8 everything is running smoothly

[2018-09-19 13:40] escopecz commented on #18118
Thanks guys! This helped me to get going. It's over complicated, would be nice if Magento would handle regions similarly as the country select, but at least I can finish the Magento implementation.

[2018-09-19 13:43] riconeitzel commented on #12271
The v10 vs v8 issue has a different error message. But yes: grunt tasks only run with node <=v8

[2018-09-19 13:55] bruno-serfe commented on #14951
Hi @tstamplis will do, thanks!

[2018-09-19 14:00] riconeitzel commented on #7214
for possible solutions see #12271

[2018-09-19 14:04] N1ghtfl0w opened #18134 "Manufacturer error when upgrading to 2.2.6"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Upgrade to Magento 2.2.6

### Expected result
1. Upgrade succesfull

### Actual result
1. Getting error from missing attribute Manufacturer

----------------------------------------------------------------------

I updated to Magento 2.2.6 via composer this morning however when running bin/magneto setup:upgrade I get the following error

[2018-09-19 14:04] magento-engcom-team commented on #18134
Hi @N1ghtfl0w. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-19 14:05] aonequality opened #18135 "getting error in extension manager, Check Component Dependency & 2 php errors"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-19 14:05] magento-engcom-team commented on #18135
Hi @aonequality. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-19 14:06] aonequality commented on #18135
![error](https://user-images.githubusercontent.com/43412797/45758489-5504aa80-bc43-11e8-83da-fabf40b516ee.JPG)

[2018-09-19 14:08] aonequality commented on #18135
![cron](https://user-images.githubusercontent.com/43412797/45758611-9eed9080-bc43-11e8-8040-9023c93da066.JPG)

[2018-09-19 14:11] magento-engcom-team commented on #18134
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 14:11] magento-engcom-team commented on #18135
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-19 14:11] aonequality commented on #18135
cron jobs is working properly, no error in index, I m trying to solve these errors from many days but nothing found helpful on google.

[2018-09-19 14:12] engcom-backlog-nazar commented on #18135
HI @aonequality  Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-19 14:12] #18135 closed, assigned to nobody

[2018-09-19 14:14] rushko commented on #16095
Check if there's '.' (period sign) in front of the attribute option: something like '.1 size'.  Removing the period fixed the problem for me.

[2018-09-19 14:35] sakbari commented on #4502
Having same issue here when upgrading from 2.5 to 2.6

[2018-09-19 14:35] engcom-backlog-nazar commented on #18134
Hi @N1ghtfl0w thank you for you report,  I'm not able to reproduce following steps you described, Can you provide more information about have you some additional data or some else ?.
![selection_115](https://user-images.githubusercontent.com/40756439/45760267-59749780-bc32-11e8-9fd4-73d5cdc47209.png)

[2018-09-19 15:22] adammada opened #18138 "WYSIWYG editor fails to parse directives of files with special characters in URL (so random files)"
### Preconditions

1.  2.2.5
2.

### Steps to reproduce

1. Open WYSIWYG editor for a product select option to insert image and upload file which base64 encoded filename would use any of special allowed characters (like =), for example: **regular_png_.png**

2. Select uploaded image and insert it. In upload dialog in Image URL field you will see URL like:

`http://magento2.local/admin/cms/wysiwyg/

[2018-09-19 15:41] engcom-backlog-nazar commented on #18138
Hi @adammada thank you for you report the fix for this issue has already available in 2.3-develop branch
![selection_116](https://user-images.githubusercontent.com/40756439/45764544-9db86580-bc3b-11e8-9e3a-d8d09bd204ea.png)

[2018-09-19 15:41] #18138 closed, assigned to nobody

[2018-09-19 16:17] BabliDey opened #18139 ""0":"Unknown entity type: Vendor\\ModuleName\\Model\\Rule requested""
### Description

Have created a module like salsrule module. The grid view in admin is working fine but for edit view getting Exception.

### Expected behavior

### Benefits

### Additional information

Using magento 2.2.3
php 7.0.6

[2018-09-19 16:17] magento-engcom-team commented on #18139
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-19 16:19] nicobatty commented on #14674
@Cristiano81 Are you sure this is fixed in 2.2.6?

I just tried it and it still does not work correctly using different url_key for the same category for example.

[2018-09-19 16:35] fritzmg commented on #18013
I am experiencing this exact problem in a Magento `2.2.5` installation. However, judging by the labels and state of this ticket I am unsure whether it's supposed to be fixed there.

[2018-09-19 16:41] php4umagento opened #18140 "When using MysqlMQ messages are always set to complete even if exception occurs"
### Preconditions (*)

1. Magento 2.3 and 2.4-develop
2. Using mysql mq driver to work with the queue

### Steps to reproduce (*)

1. Publish any message to the queue
2. In the consumer throw Exception

### Expected result (*)

1.Message should be flagged as error in the queue

### Actual result (*)

1. Message is set to complete and ACK

Problem is here -

When exception happens in the Consumer m

[2018-09-19 16:41] magento-engcom-team commented on #18140
Hi @php4umagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-19 16:44] fritzmg commented on #18013
Ah, seems to have been fixed in Magento `2.2.6`: c23480acc89026c890e2ab6ad809cb7a0d30f9b6#diff-928482533445351591487945e14cca3b

[2018-09-19 17:20] bruno-serfe commented on #13415
Hi Guys, just wondering I've updated to v2.2.6 but I can still see the issue, is this available in that new release or we'll need to wait for v2.3 ? thanks!

[2018-09-19 17:41] hostep commented on #18134
This is very easily reproducible, I understand that the steps to reproduce aren't 100% accurate, but just reading @N1ghtfl0w's post it's easy to see what goes wrong.

So here are the exact steps to reproduce:
1. Setup a clean Magento 2.2.5 installation (I used composer)
2. Open the backend
3. Go to Stores > Attributes > Products
4. Search the 'manufacturer' attribute and delete it
5. Open your com

[2018-09-19 17:54] hostep commented on #18138
@engcom-backlog-nazar : it's probably fixed in Magento 2.3 because the tinymce got upgraded from the super old v3 to the newerer v4. This however does not fix the issue in Magento 2.2.x if it is actually there (unverified).

@adammada: feel free to create a PR with a proposition to fix this. I've seen multiple people reporting something similar, if you have a fix that would probably make a lot of

[2018-09-19 18:32] dani97 commented on #18017
emulateClick worked perfect for me @leoquijano thanks

[2018-09-19 18:53] abhaykhatariya commented on #16556
@engcom-backlog-nazar  Is it fixed on 2.2.6?

[2018-09-19 19:17] webusat commented on #18092
@engcom-backlog-nazar  I will try to post what we did to track the problem.  This did end up being a plugin that was loaded so a minimum quantity was needed to order a particular item.  For some reason this was also applying to simple products and throwing the error.  We have contacted the creator but for the time being disabling the plugin fixed the problem.  Thanks!

[2018-09-19 19:45] bartoszkubicki opened #18144 "Detaching category from product causes massive product url regeneration"
### Preconditions

1. Magento 2.2.5
2. PHP 7.1

### Steps to reproduce

1. Have large catalog - I tested it against [medium profile](https://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-perf-data.html#config-cli-perf-prof)
2. Open product form of any product
3. Detach category, which has a lot of product (possibly some low level one, inheriting straight from root)
4. Sav

[2018-09-19 19:45] magento-engcom-team commented on #18144
Hi @bartoszkubicki. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-19 20:19] costa974 commented on #12912
so confusing magento!

[2018-09-19 21:12] N1ghtfl0w commented on #18134
@hostep thank you for the exact steps to reproduce! So if im correct, if we add the manufacturer attribute again in 2.2.5 the update will pass?

And if so, what are the correct settings for this attribute?

[2018-09-19 22:37] leoquijano commented on #4977
For anyone interested, this one seems to be in place for the 2.2.6 release.

[2018-09-20 01:46] Tomasz-Silpion commented on #4377
It would be far better to rely on entity_type_code instead entity_type_id in CustomerMetadataInterface

[2018-09-20 05:21] doth-web-developer opened #18145 "partially create invoice and refund not working proper in magento 2.2.2"
My Invoice is ok...
![image](https://user-images.githubusercontent.com/35019950/45797377-dbac9c80-bcc2-11e8-84ad-9b08848e86ac.png)

Then shows credit memo are different charge to invoice...
![image](https://user-images.githubusercontent.com/35019950/45797432-11ea1c00-bcc3-11e8-9f69-5ac799811001.png)

[2018-09-20 05:38] vinaysikarwar commented on #17285
I am facing the same issue when installing the fresh magento 2.3

[2018-09-20 05:46] magento-engcom-team commented on #18145
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 05:50] engcom-backlog-nazar commented on #18145
Hi @doth-web-developer this is acknowledged bug -> https://github.com/magento/magento2/issues/17367
If you like to update this, please reopen the issue with next steps:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2018-09-20 05:51] #18145 closed

[2018-09-20 05:51] magento-engcom-team commented on #18139
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 05:51] magento-engcom-team commented on #18140
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 06:00] engcom-backlog-nazar commented on #16556
@abhaykhatariya Hi no seems like still exist this issue.

[2018-09-20 06:05] engcom-backlog-nazar commented on #18139
Hi @BabliDey I'm not able to reproduce following steps you described, This may be related to your custom code. please describe you issue with this template:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results
And then if issue still exist please reopen the issue.

Thank you

[2018-09-20 06:05] #18139 closed, assigned to nobody

[2018-09-20 06:06] magento-engcom-team commented on #18144
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 06:12] vinaysikarwar opened #18146 "Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in lib/internal/Magento/Framework/Filesystem/Directory/Write.php on line 35 in latest magento version 2.3"
### Preconditions

1. Magento 2.3
2. php 7.1.2

### Steps to reproduce

1. do a fresh install of magento 2.3 from github repo
2. setup server with nginx and php 7.1.2

### Expected result

1. getting error
Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in lib/internal/Magento/Framework/Filesystem/Directory/Write.php on line 35
2.

[code]

? before PathValidatorInterface

[2018-09-20 06:12] magento-engcom-team commented on #18146
Hi @vinaysikarwar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-20 06:12] engcom-backlog-nazar commented on #18138
Hi @hostep I'm trying reproduce this on 2.2-dev branch, but have same result like in 2.3-branch.
I will try again, maybe i'm missed something

[2018-09-20 06:13] magento-engcom-team commented on #18146
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 06:34] saurabhjain929 commented on #8644
Hello,

I am facing the same problem in 2.1.8 I have tried to found internal ticket MAGETWO-61059 on GIT Anyone provide commit reference id.

[2018-09-20 06:36] engcom-backlog-nazar commented on #18146
Hi @vinaysikarwar I'm not able to reproduce following steps you described, i'm configure magento 2.3-dev with php7.2 and nginx and its worked perfectly.

[2018-09-20 06:38] vinaysikarwar commented on #18146
Please use phone version 7.1.2 not 7.2

On Thu, Sep 20, 2018, 12:07 PM engcom-backlog-nazar <
notifications@github.com> wrote:

[2018-09-20 06:42] engcom-backlog-nazar commented on #18146
@vinaysikarwar But why you describe in precondition php 7.2 ?

[2018-09-20 06:45] vinaysikarwar commented on #18146
Sorry that was mistake instead of 7.1.2 I write 7.2.

But installed version is 7.1.2

[2018-09-20 06:49] hostep commented on #18134
Looks like it indeed.
For the correct settings, I don't know exactly, but if you setup a new clean 2.2.5 installation, you can probably distil it from there.

[2018-09-20 07:00] engcom-backlog-nazar commented on #18146
@vinaysikarwar This problem related to our environment, i'm not able to reproduce, works perfectly.

[2018-09-20 07:01] engcom-backlog-nazar commented on #18146
@vinaysikarwar Be free to close issue.

[2018-09-20 07:03] qsolutions-pl commented on #18038
I'm happy that PR was created to this but... it does not work as expected.
I've implemented this pull request to 2.2.5 version (EE), created a file **catalogsearch_result_noresults.xml** in Magento CatalogSearch module with following content
[code]

Am I doing something wrong? Basically the layout xml file is not processed at all... at least thats what I can tell.

For now I will simply create a r

[2018-09-20 07:09] kolaente commented on #4502
Ping @magento-engcom-team

[2018-09-20 07:13] jakoblundsted commented on #18144
Same issue, if you change something on a category (fx. meta description) with a good amount of products on a storeview.

[2018-09-20 07:31] DanielRuf commented on #17285
Which PHP version do you use?

[2018-09-20 07:34] engcom-backlog-nazar commented on #18134
Hi @N1ghtfl0w the fix for this issue avaible in 2.3-develop branch, Hi @hostep Thank you for explanations.

[2018-09-20 07:36] vinaysikarwar commented on #17285
Php 7.1.2

On Thu, Sep 20, 2018, 1:02 PM Daniel Ruf <notifications@github.com> wrote:

[2018-09-20 07:37] ArjenMiedema commented on #4502
I know it's not a real fix, but I got around the error when disabling Magento_Braintree in my app/etc/config.php manually. After that it all ran as usual.

[2018-09-20 07:38] hostep commented on #18134
@engcom-backlog-nazar: this NEEDS to be fixed in 2.2, you just can't ignore this, this is a database migration script we are talking about here.

The fact that it works in 2.3-develop is probably because the database migration scripts are completely different there.

Re-opening.

[2018-09-20 07:39] engcom-backlog-nazar commented on #18134
@hostep ok.

[2018-09-20 07:39] magento-engcom-team commented on #18134
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95113` were created

[2018-09-20 07:40] jakwinkler opened #18147 "Preference for Magento\CatalogSearch\Block\Result does not work"
### Preconditions

1. Magento EE 2.2.5

### Steps to reproduce

1. Create a new module with **di.xml** file
2. Set preference for `Magento\CatalogSearch\Block\Result` class
[code]

### Expected result

1. Preference should work as expected with other blocks / models & helpers and new class should be used for block instance.

### Actual result

1. Preference does not work at all, I ended up creatin

[2018-09-20 07:40] magento-engcom-team commented on #18147
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-20 07:40] engcom-backlog-nazar commented on #18134
@N1ghtfl0w, thank you for your report.
We've acknowledge the issue and added to our backlog.

[2018-09-20 07:42] magento-engcom-team commented on #18147
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 07:46] N1ghtfl0w commented on #18134
For the ones that are searching for a quick fix:

Just add the manufacturer attribute under "Stores > Attributes > Product > Add New Attribute" as a dropdown attribute and set the scope, under  Advanced Attribute Properties, to global.

After this we did the update and it was succesfull.

[2018-09-20 07:57] ishakhsuvarov commented on #18146
Hi @vinaysikarwar

Please check PHP version used by your web server. Looks like it still uses `7.0`.

This syntax is fine with PHP 7.1+, as it indicates nullable type of the method parameter, please use this documentation [link](http://php.net/manual/en/migration71.new-features.php) for reference.

[2018-09-20 07:59] vinaysikarwar commented on #18146
PLease check attached screenshot
![image](https://user-images.githubusercontent.com/5436260/45804242-2fc27b80-bcd9-11e8-8afd-12d4c3dae1aa.png)

[2018-09-20 08:00] ishakhsuvarov commented on #18146
@vinaysikarwar This seems to be the output of CLI PHP installation, not php-fpm used by nginx.

[2018-09-20 08:09] ishakhsuvarov commented on #18038
@qsolutions-pl It's best to discuss PR in the appropriate ticket, increases chances that author will respond

[2018-09-20 08:12] harrigo commented on #18134
This happened to me also. We do not use the Manufacturer attribute and I can add it back to do the update however am wondering if I can delete it again after this update or is it required and should it really be a system attribute that cannot be deleted if that is the case?

[2018-09-20 08:16] Sharpy310 opened #18148 "Paypal Payments Pro IPN keeping payments marked as Pending Payment"
### Preconditions

1. Magento CE 2.2.6
2. PHP v7.1.19-1
3. Ubuntu 17.10

### Steps to reproduce

1. Set up Paypal Payments Pro Hosted Solution on a clean install of Magento CE 2.2.6
2. Send a payment using Credit / Debit Card through the solution checking out as guest. EDIT: Both Paypal payments and Credit / Debit card payments through express checkout and payments pro are experiencing the same is

[2018-09-20 08:16] magento-engcom-team commented on #18148
Hi @Sharpy310. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-20 08:34] magento-engcom-team commented on #18147
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95114`, `MAGETWO-95115` were created

[2018-09-20 08:35] magento-engcom-team commented on #18148
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 08:38] jayankaghosh commented on #18012
Since `Magento_Theme/frontend/web/templates/breadcrumbs.html` is an underscore template, wouldn't knockout bindings not work anyhow here?

And `<%= $.mage.__('You are here:') %>` doesn't work because the variable `$` wasn't passed to the underscore templating engine while parsing the breadcrumbs template.

`<%= jQuery.mage.__('You are here:') %>` works since the variable `jQuery` is defined in the

[2018-09-20 08:41] andy17612 opened #18150 "Backups error from User Roles Permission 2.2.6"
### Preconditions

1. ver 2.2.6
2. php71

### Steps to reproduce

1. System -> Permission -> User Roles -> Setting
2. Login other user
3. Backups

### Expected result

1. Fix it can use other user backup

### Actual result

1. Error message ->  Sorry, you need permissions to view this content.

[2018-09-20 08:41] magento-engcom-team commented on #18150
Hi @rigu12. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-20 08:42] qsolutions-pl commented on #18147
@magento-engcom-team it is clean Magento 2 version, only LESS files were customized. We just started working on catalog search module and we've encountered this issue.

[2018-09-20 08:58] qsolutions-pl opened #18151 "Create VirtualTypes for Contollers using di.xml"
### Description

Make Magneto 2 even more flexible then it is now :-)
We can create virtual types for blocks, models & most of the classes used in the system.
I think it would be great if we could use VirtualTypes for Controllers.

### Expected behavior

Use a custom class for an action that does not exists in CORE modules simply by adding 1 node in **di.xml** file

### Benefits

We can extend cor

[2018-09-20 09:01] zaietsv commented on #4502
Afterwards it happens other interesting thing with less compilation http://screenshots.collabstar.com/vza/b4673abb.png

[2018-09-20 09:21] Sharpy310 commented on #18148
Please note I have also replicated this issue using Paypal express payments and Paypal Pro payments using the Website Payments Pro Hosted Solution through Magento

[2018-09-20 09:29] magento-engcom-team commented on #18150
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95119`, `MAGETWO-95120` were created

[2018-09-20 09:44] fritzmg opened #18153 "missing magento/product-community-edition 2.2.6 release"
Currently the magento/product-community-edition is missing the most recent 2.2.6 release: https://packagist.org/packages/magento/community-edition

Thus we cannot update to version 2.2.6 of Magento via composer.

To be honest though I do not quite understand Magento's composer setup. The composer version requires `magento/product-community-edition`, but that package only exists as `magento/communi

[2018-09-20 09:44] magento-engcom-team commented on #18153
Hi @fritzmg. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-20 09:52] davidverholen opened #18154 "2.2.6 Products with global Tier Prices cannot be updated"
### Preconditions

1. Magento 2.2.6

### Steps to reproduce

1. Set Price Scope to Website (Stores -> Configuration -> Catalog -> Catalog -> Prices)
2. Create a Product that has at least one tier price with global scope (all websites)
3. Save Product
4. Try to update Product (reproduced via Rest API - without even sending new tier prices - and Backend Save)

### Expected result

1. Product Values

[2018-09-20 09:52] magento-engcom-team commented on #18154
Hi @davidverholen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-20 09:54] davidverholen commented on #18154
@magento-engcom-team give me 2.2.6 instance

[2018-09-20 09:54] magento-engcom-team commented on #18154
Hi @davidverholen. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-20 09:55] magento-engcom-team commented on #18154
Hi @davidverholen, here is your [Magento instance](https://i-18154-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18154-2-2-6.engcom.dev.magento.com/admin](https://i-18154-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-20 09:56] vinaysikarwar commented on #18146
I will setup a new fresh server and will do update if it resolves or still has issue

[2018-09-20 09:56] #18146 closed, assigned to nobody

[2018-09-20 10:03] engcom-backlog-nazar commented on #18148
Hi @Sharpy310 I'm able to reproduce following steps you described, I'm have processing status, But also i'm not able to test with Website Payments Pro Hosted Solution. Maybe problem related to this service.

[2018-09-20 10:05] magento-engcom-team commented on #18154
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 10:07] magento-engcom-team commented on #18153
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 10:07] engcom-backlog-nazar commented on #18153
Hi @fritzmg  Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-20 10:07] #18153 closed, assigned to nobody

[2018-09-20 10:07] davidverholen commented on #18154
@engcom-backlog-nazar could not reproduce it on vanilla instance so far. investigating further

[2018-09-20 10:09] fritzmg commented on #18153
@engcom-backlog-nazar  This cannot be directed at the community forums or the stack exchange community. The community does not control this. This is an issue of the repositories managed by the Magento developers. Hence, it needs to be discussed here.

[2018-09-20 10:10] Sharpy310 commented on #18148
Hi @engcom-backlog-nazar thanks for getting back to me on this, I have checked Paypal status and all their services are running normally, but looking at what's happening is Magento is receiving the IPN notification, but it's not updating the status of the order to processing.
What other information can I send to try to debug this?

[2018-09-20 10:11] engcom-backlog-nazar commented on #18153
@fritzmg Ok describe you issue with this template
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results
And reopen the issue so we can reproduce

[2018-09-20 10:29] engcom-backlog-nazar commented on #18148
@Sharpy310 I'm still not able to reproduce i'm always have processing status, can you reproduce with test credentials on vanilla instance ?

[2018-09-20 10:33] Cristiano81 commented on #14952
the issue is still present in 2.2.6
@ankit1388 solution worked for me

[2018-09-20 10:36] anika-agarwal23 opened #18156 "<magento_instance>/graphql url is not working"
### Preconditions

1. We are trying to install Mageno version 2.3-alpha following instruction in
http://github.com/magento/graphql-ce
2. PHP version 7.1
3. XAMPP version 7.1.21

### Steps to reproduce

1. Downloaded package from http://github.com/magento/graphql-ce.
2. copying the extracted copy in XAMPP htdoc folder.
3. run composer install
4. After composer install was successfull, hit, localhos

[2018-09-20 10:37] magento-engcom-team commented on #18156
Hi @anika-agarwal23. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-20 10:38] anika-agarwal23 commented on #18156
yes

[2018-09-20 10:38] anika-agarwal23 commented on #18156
![image](https://user-images.githubusercontent.com/42925547/45813123-60151480-bcef-11e8-88fc-d2e7301e42b5.png)
 this is the error i get

[2018-09-20 10:48] engcom-backlog-nazar commented on #18148
@Sharpy310  Seems like this is identical -> https://github.com/magento/magento2/issues/17349 isnt it ?

[2018-09-20 10:49] Cristiano81 opened #18157 "2.2.6 Special characters in email body are not encoded properly"
### Preconditions
1. Create an email template with special characters like à , è for example:
"Quando il pacco sarà  spedito, ti invieremo il numero di tracking."

### Steps to reproduce
1. Preview the email template from admin

### Expected result
1. The text shows the correct character à

### Actual result
1. The text shows character like Ã
"Quando il pacco sarÃ  spedito, ti invieremo il numero

[2018-09-20 10:49] magento-engcom-team commented on #18157
Hi @Cristiano81. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-20 10:50] Sharpy310 commented on #18148
@engcom-backlog-nazar Can I double check that you have set up the Paypal solution "Website Payments Pro Hosted Solution" - because I have just disabled that and enabled the "Websites Payments Standard" option and put a payment through and it's worked absolutely fine, but as soon as I put it through "Websites Payments Pro Hosted Solution" it fails.

[2018-09-20 10:51] rishabhchd19 commented on #14952
Only the soln is - disable amazon pay.

[2018-09-20 10:53] DanielRuf commented on #18012
Exactly.

Not sure how it should look like but the docs are not clear here.
See https://devdocs.magento.com/guides/v2.0/frontend-dev-guide/translations/translate_theory.html

[2018-09-20 10:54] magento-engcom-team commented on #18157
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-09-20 10:55] Sharpy310 commented on #18148
@engcom-backlog-nazar The bug #17349 does appear to be similar, as it's an issue with the IPN but looking at that ticket they are using Paypal Express Checkout, we are using Website Payments Pro Hosted. Both are through Paypal, but are different modules. So I am unsure if they use the same IPN interface as each other or not.

[2018-09-20 10:57] Cristiano81 opened #18158 "2.2.6 "Special price date from" Failed to parse time string"
### Preconditions
1. Magento 2.2.6
2. Account locale set to it_IT

### Steps to reproduce
1. Magento 2.2.6 create a new product with a price
2. Edit the new product and add a special price

### Expected result
1. The product has been saved

### Actual result
1. DateTime::__construct(): Failed to parse time string (20/09/2018) at position 0 (2): Unexpected character

This worked on 2.2.5

[2018-09-20 10:57] magento-engcom-team commented on #18158
Hi @Cristiano81. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-20 11:01] Cristiano81 commented on #18157
@magento-engcom-team give me 2.2.6 instance

[2018-09-20 11:01] magento-engcom-team commented on #18157
Hi @Cristiano81. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-09-20 11:02] magento-engcom-team commented on #18157
Hi @Cristiano81, here is your [Magento instance](https://i-18157-2-2-6.engcom.dev.magento.com).
Admin access: [https://i-18157-2-2-6.engcom.dev.magento.com/admin](https://i-18157-2-2-6.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-20 11:04] Cristiano81 commented on #18157
Thank you, the issue cannot be reproduce on vanilla Magento

[2018-09-20 11:05] engcom-backlog-nazar commented on #18157
Hi @Cristiano81 I'm also not able to reproduce this pn 2.2.6 instance.

[2018-09-20 11:07] Cristiano81 commented on #18157
i will go further in testing