[2019-07-18 06:52] rammohan-krish commented on #23758
@pandyakrunal Could to please provide us the clear steps to reproduce the issue

[2019-07-18 07:16] pandyakrunal commented on #23758
Actually, Data is different (Magento 1 response data is different and Magento response data is different). so Condition is not fulfilled that's why it not display.

[2019-07-18 07:37] engcom-Bravo commented on #23736
@ron-jomashop
I did it on 2.3.2 and the result is the same as on 2.3-develop:
**With 2 column:**
![column2](https://user-images.githubusercontent.com/51680745/61438333-e4541a80-a947-11e9-9f0b-da49cfb34810.png)

**With 1 column:**
Page is blank
![column1](https://user-images.githubusercontent.com/51680745/61438351-eddd8280-a947-11e9-9164-f2ad2fef1b29.png)

Is it your bag?

[2019-07-18 07:39] FerihumF opened #23760 "Non UTF-8 encoded URI component throws error in CatalogWidget module"
### Preconditions (*)

1. Magento 2.2.7
2. Make sure (block) caching is enabled

### Steps to reproduce (*)

1. Add a "Catalog Product List" Widget to a CMS page.
2. Open the CMS page in your browser and add **?%E4** to the URL (which is "ä" in ISO-8859-1)

### Expected result (*)

1. Regardless the wrongly encoded URI component the page should render without issues.

### Actual result (*)

1. In

[2019-07-18 07:42] domeglic opened #23761 "Guest can't use Paypal Express in cart"
### Preconditions (*)

1. Magento 2.3.2
2. Paypal Express checkout enabled
3. Paypal In-Context mode enabled
4. Paypal Show in cart enabled
5. Paypal guest checkout enabled

### Steps to reproduce (*)

1. Guest user, first time on the shop (no localStorage or session)
2. Add any product to cart
3. Click Paypal button to start express checkout

### Expected result (*)

1. Popup to login to Paypal o

[2019-07-18 07:47] engcom-Bravo commented on #23736
@ron-jomashop okay, i don't like this behavior and i confirm this issue.
Thank for contributing!

[2019-07-18 07:48] magento-engcom-team commented on #23736
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18255` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 07:55] engcom-Charlie commented on #23577
Hello @hostep ! Thank you for your contribution !
I just tested this case on 2.3-develop (using that commit) and wasn`t able to reproduce this issue . Maybe i`m missing some steps or details ? I`m closing it for now but feel free to reopen in case you can provide some extra steps/details so i will reproduce it .
Thanks in advance !

![Screenshot from 2019-07-18 10-46-18](https://user-images.github

[2019-07-18 07:59] engcom-Charlie commented on #23761
@magento give me 2.3-develop instance

[2019-07-18 07:59] magento-engcom-team commented on #23761
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-18 07:59] magento-engcom-team commented on #23761
Hi @engcom-Charlie, here is your [Magento instance](https://i-23761-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23761-2-3-develop.instances.magento-community.engineering/admin](https://i-23761-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-18 08:17] #23758 closed, assigned to rammohan-krish

[2019-07-18 08:53] magento-engcom-team commented on #23755
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18256` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 08:56] edenduong opened #23765 "No auto focus in the invalid field if the fieldset collapse is closed"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Store->Configuration->Catalog->Inventory
2. Open Collapse "Product Stock Options"
3. Fill "ggggggg" into "Maximum Qty Allowed in Shopping Cart"
4. **Close** collapse "Product Stock Options" Fieldset
5. Click "Save"

### Expected result (*)

1. Validate failed and auto focus to the "Maximum Qty Allowed in Shopping C

[2019-07-18 08:58] engcom-Charlie commented on #23744
Hello @AdamEarney ! I was trying to reproduce this issue on fresh vanilla 2.3-develop instance and seems like it`s not reproducible . I`m closing it for now but feel free in case you can confirm that issue is reproducible (in that case please add some extra steps/info).
Thank you for your contribution !

![Screenshot from 2019-07-18 11-51-27](https://user-images.githubusercontent.com/51680850/6144

[2019-07-18 08:58] #23744 closed, assigned to engcom-Charlie

[2019-07-18 09:02] Nazar65 commented on #23750
hi @Arthi22  this is non issue, you need to install cron php bin/magento cron:install

[2019-07-18 09:05] vahir2016 opened #23766 "On checkout cart submit, pattern regex validation fails"
### Preconditions (*)

1. Magento ver. 2.2.6
2.

### Steps to reproduce (*)

1. On checkout cart page, use input type text for quantity and use pattern like "[0-9]"
2. Bind jquery submit to submit form on input change
3. In broswer console, you will see : "param.test is not a function"
4. The form will not submit

` <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"

[2019-07-18 09:12] magento-engcom-team commented on #23765
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18257` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 09:50] ameysar commented on #23462
Hi @xi-ao,
Could you please tell how many websites/stores (per website) do you have on your site, what type of attributes are you using in product listing (i.e. text, dropdown, multiselect, etc) and in case multi-store environment - do you have store specific values for those attributes with _used_in_product_listing = 1_

[2019-07-18 09:50] engcom-Charlie commented on #23636
Hello @nguyenbach95 ! I have just tested this this on fresh 2.3-develop instance and i was not able to reproduce this issue (i used valid destination information) . Price on UPS and Magento are the same. Check screenshots

![Screenshot from 2019-07-18 12-41-24](https://user-images.githubusercontent.com/51680850/61447849-76fdb500-a95a-11e9-8025-5ec59ac11766.png)

![Screenshot from 2019-07-18 12-41-

[2019-07-18 09:50] #23636 closed, assigned to engcom-Charlie

[2019-07-18 09:58] magento-engcom-team commented on #23766
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18258` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 10:04] ajijshekh123 commented on #23756
@farhadniaz - feel free to reopen this issue when you will be ready to provide more details and we will review it and confirm it.

[2019-07-18 10:04] #23756 closed, assigned to ajijshekh123

[2019-07-18 10:06] Swahjak commented on #23181
I would like to second that. It's quite common that weights are not immediately available when adding a product. In general it seems more logical (and common) that the default should be `simple` not `virtual`.

[2019-07-18 10:10] hostep commented on #23736
Since this issue was confirmed, I think the status should be Open instead of Closed, right?

[2019-07-18 10:10] hostep commented on #23736
@engcom-Bravo: can you add those tags again which got automatically removed?

[2019-07-18 10:28] hostep commented on #23577
I can still reproduce on latest 2.3-develop (I've used commit 2e7f0396e37)

Steps to reproduce:
1. Clone 2.3-develop branch
2. Run `composer install`
3. Run `bin/magento setup:install ...`
4. Run following queries in mysql: `DROP DATABASE {database-name-which-was-used-in-step3}; CREATE DATABASE {database-name-which-was-used-in-step3};`
5. Run `bin/magento maintenance:enable`

Some observation I ma

[2019-07-18 10:34] engcom-Bravo commented on #23736
@hostep , thanks for contributing! that was my mistake.

[2019-07-18 10:55] magento-engcom-team commented on #23760
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18259` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 11:10] engcom-Charlie commented on #23448
@magento give me 2.3-develop instance

[2019-07-18 11:10] magento-engcom-team commented on #23448
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-18 11:11] asprada commented on #22129
Hi, can you provide the pull request to the fix you mentioned? I'm using version 2.3.1 EE and the issue still exist.

[2019-07-18 11:11] magento-engcom-team commented on #23448
Hi @engcom-Charlie, here is your [Magento instance](https://i-23448-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23448-2-3-develop.instances.magento-community.engineering/admin](https://i-23448-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-18 11:21] engcom-Charlie commented on #23577
@hostep now i reproduced it . Thank you for your collaboration !

![image_2019_07_18T11_16_40_151Z](https://user-images.githubusercontent.com/51680850/61453617-496b3880-a967-11e9-907d-5920c348e31f.jpg)

[2019-07-18 11:22] magento-engcom-team commented on #23577
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18260` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 11:25] moinmalek17 opened #23769 "Magento Upgrade from 2.2 to 2.3.2 Issue while placing an order"
Hi,

I have upgraded Magento site from Magento 2.2 to 2.3.2. I have an issue with placing an order.

I checked the var/report/api/ directory. And It is showing me Call to a member function appendChild() on null in vendor\/pelago\/emogrifier\/src\/Emogrifier.php:1419.

I fixed the issue

From
`$headElement->appendChild($styleElement);`

To
`if($headElement){
            $headElement->appendChild($s

[2019-07-18 11:35] anatolij-p commented on #20593
@LouNik1984
Can you provide some more info on did you solve the Elastic Search issue?
I'm having the same problem.

[2019-07-18 11:47] engcom-Charlie commented on #22129
Hello @asprada ! Thank you for your report !
This issue is not present in 2.3.x release line and i was not able to reproduce it .

![Peek 2019-07-18 14-43](https://user-images.githubusercontent.com/51680850/61454968-fc896100-a96a-11e9-8d71-191b483a29d5.gif)

[2019-07-18 11:47] #22129 closed, assigned to engcom-Charlie

[2019-07-18 11:53] AndyJAllen commented on #9988
Unless you have less than 2 characters in between hyphens, I had success changing MySQL's my.cnf file and Magento's search_request.xml file.

In **my.cnf** add:
`innodb_ft_min_token_size=2
ft_min_word_len=2`

In **search_request.xml** change:
`<queryReference clause="should" ref="search" />`
to
`<queryReference clause="must" ref="search" />`

Restart mysqld service and reindex catalog.

I tried th

[2019-07-18 11:55] LouNik1984 commented on #20593
@anatolij-p
I'm sorry but I didn't find a solution to solve it

[2019-07-18 12:32] krishprakash commented on #23564
Hi @tijo2248.
I'm closing this issue as not reproducible and also no any response from you.
Feel free to reopen if you confirm that issue is reproduce in venilla magento instace.
Thanks

[2019-07-18 12:32] #23564 closed, assigned to krishprakash

[2019-07-18 12:35] krishprakash commented on #23700
Hi @shravan148,
Please feel free to reopen if you confirm that issue is reproduce on vanilla magento instace with proper issue format.
Thanks.

[2019-07-18 12:35] #23700 closed, assigned to krishprakash

[2019-07-18 12:58] magento-engcom-team commented on #23014
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18263` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 13:00] dverkade commented on #15545
We're running a customer on Magento 2.3.1 which seems to have the same issue. The change above doens't resolve the issue and actually brakes the search function with the following error:

[code]

[2019-07-18 13:15] magento-engcom-team commented on #22792
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18264` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 13:22] johnmpasq commented on #9988
Thats why I switched now. DIdn't want the hassle of switching when they
dump it. You got it working though thats good.

On Thu, Jul 18, 2019 at 7:55 AM Andy <notifications@github.com> wrote:

[2019-07-18 13:24] pmathbliss commented on #15545
This only works if search is not needed. It could be adjusted to make work
but it the source of the problem.

On Thu, Jul 18, 2019, 6:01 AM Danny Verkade - Cream <
notifications@github.com> wrote:

[2019-07-18 13:26] engcom-Charlie commented on #23448
Hello @KooTjoo can you provide more steps how to reproduce this issue ?
Thanks in advance

[2019-07-18 13:42] arijit-de opened #23771 "Authorize function not working when payment action is set to authorize_capture"
### Preconditions (*)

1. Magento 2.3.2
2. Ubuntu 18.04 LTS
3. PHP 7.2
4. Apache 2.4
5. MySQL

### Steps to reproduce (*)

1. Create a custom payment gateway.
2. Set payment action to authorize_capture.
3. Create an authorize function in your payment Model class.

### Expected result (*)

1. Authorize function should work.

### Actual result (*)

1. Authorize function is not working.

[2019-07-18 13:42] ron-jomashop commented on #23736
Thanks for rechecking. The elastic search does have many bugs currently. I have some patches in order to make it work that's why I can bypass the blank page.

[2019-07-18 14:49] arushibansal013 commented on #23192
Hi @aishwaryasunarc,

Did you tried to place an order with front-end or admin panel using virtual or downloadable product. As per magento shipping method is not mandatory but billing address is required for placing an order.

[2019-07-18 14:50] NickvdMeij commented on #23708
This is actually Magento protecting you I believe. For more info about using JS in Magento, look here: https://www.ryanmpoe.com/post/requirejs-and-magento-2/

[2019-07-18 15:08] bigbywolf-uk opened #23773 "PHP Fatal error: Uncaught Error: Call to undefined method Magento\Framework\Mail\Template\TransportBuilder\Interceptor::setFromByScope"
### Preconditions (*)
1. Magento 2.3.2 Community
2. PHP 7.1.3
3. Ubuntu 16.04

### Steps to reproduce (*)
1. Upgrade from PHP 7.0 to 7.1
2. Upgrade from 2.2.x to 2.3.2
3. Place test order on newly updated store

### Expected result (*)
1. Get forwarded to Success page

### Actual result (*)
1. Magento shows an empty error message notice
2. Order shows up in admin panel, but customer never reaches

[2019-07-18 15:12] Munszu commented on #23773
Setting
Sales -> Sales Emails -> Order -> Enabled to No resolves the issue and customer gets forwarded to Success page correctly.

[2019-07-18 15:38] sdzhepa commented on #23769
Hello @moinmalek17

As I can see from issue description
[code]

It is not related to Magento code because it is in `vendor/pelago/` and we cannot fix it from our side.
I would recommend reporting this issue to the extension owner.

[2019-07-18 15:38] #23769 closed, assigned to nobody

[2019-07-18 15:47] hostep commented on #23769
This is most likely not a bug in emogrifier. I'm guessing there is probably something wrong with a custom email template @moinmalek17 is using.

@moinmalek17: the emogrifier library is used to inline css into html emails which get send out from Magento. Can you check your custom email templates if they are correct? Especially the email template which is send for new orders. This error indicated th

[2019-07-18 16:46] konarshankar07 commented on #23765
@magento give me 2.3-develop instance

[2019-07-18 16:46] magento-engcom-team commented on #23765
Hi @konarshankar07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-18 16:47] magento-engcom-team commented on #23765
Hi @konarshankar07, here is your [Magento instance](https://i-23765-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23765-2-3-develop.instances.magento-community.engineering/admin](https://i-23765-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-18 16:51] konarshankar07 commented on #23765
Hello @edenduong

I'm not able to reproduce this issue in the vanilla instance. Please check the below screenshot
![image](https://user-images.githubusercontent.com/39480008/61476316-637a3a80-a9aa-11e9-82d7-071359a0fdc5.png)
Thanks

[2019-07-18 17:07] ameysar commented on #23462
Performance degradation is caused by https://github.com/magento/magento2/issues/21747. I prepared a fast fix. Could you please try it and check if the problem still exists.
[flat_composer.patch.txt](https://github.com/magento/magento2/files/3407617/flat_composer.patch.txt)
[flat.patch.txt](https://github.com/magento/magento2/files/3407618/flat.patch.txt)

[2019-07-18 17:34] KooTjoo commented on #22313
Any updates on this? Issue is still there in Magento 2.3.2

[2019-07-18 17:47] realadityayadav commented on #17691
@gwharton is there a fix for older versions or a changelog corresponding to this particular fix?

[2019-07-18 17:53] carlosalvet commented on #6135
Great, I can insert using `custom_options` instead `configurable_item_options`, the custom_options manage **the customizable options in the product settings**.

[2019-07-18 18:02] gwharton commented on #17691
Nope. I'm not sure a fix was ever identified. I closed the issue because it was open for 2 years with no interest in anyone fixing it. A check of 2.3 seemed to show it working well, however since then I see it is still broken in 2.3-develop.

Are you able to reproduce it 100% of the time, if so can you write up a detailed report for me, as It always seemed a bit random as to when it happened for m

[2019-07-18 18:19] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-07-18 18:19] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-18 18:20] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-18 20:03] elburro1887 commented on #11966
I have just encountered the same issue. I also have two Store Views.
It seems that on every product, the the "Use Default Value" is disabled, which means that the tax class is set in the Store view, which is probably not a good way to do this?

Anyway, "Use Default Value" should always be enabled, unless explicitly set by the user.

[2019-07-18 21:07] hugodeaguiar commented on #22297
Hello,

@atishgoswami Are you working on this problem yet?
We have this same problem.

Regards

[2019-07-18 21:44] edenduong commented on #23765
Hi @konarshankar07 ,
You should close the collapse “Product Stock Options” by click to label and try again.
Thanks.

[2019-07-18 21:49] magento-engcom-team commented on #7852
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2019-07-18 21:49] sdzhepa commented on #7852
Hello @joshuaadickerson @hostep

Thank you for raising this issue again!

I have investigated this issue and all related tickets in the internal Jira.
Unfortunately `MAGETWO-71228` this ticket still in Open stage.
I discussed it with Product Managers and Architects related to these modules and everyone agreed that it should be fixed.

By fact, it is backward incompatible changes but based on multi

[2019-07-18 21:53] magento-engcom-team commented on #7852
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2019-07-18 21:54] magento-engcom-team commented on #23671
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-18 21:55] magento-engcom-team commented on #23671
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18313` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 21:57] magento-engcom-team commented on #7852
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18314` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-18 23:04] joshuaadickerson commented on #7852
How is this backwards incompatible? It removes the Review dependency for Customer. Removing dependencies should not be backwarda incompatible. Then Review is already dependent on Customer. Adding dependencies should be a BC change but this already exists. This could be done in a patch. Considering everyone using Magento is using the Customer module and thus must be using the Review module, nobody

[2019-07-18 23:06] adminarf opened #23775 "Magento-CE-2.3.2 Installation stalls at 91%"
Installation stalls at 91% on:
Module 'Magento_ConfigurableSampleData':
Running data recurring...
### Preconditions (*)
Magento Version | Magento-CE-2.3.2
Apache Version | 2.4.39
PHP Version | 7.1.30
MySQL Version | 5.6.44
Architecture | x86_64
Operating System | CentOS 7.6

### Steps to reproduce (*)
1. Uploaded Magento-CE-2.3.2_sample_data-2019-06-13-04-34-43.tar.gz
2. uncompressed the file into

[2019-07-18 23:30] magento-engcom-team commented on #23597
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#23710 by @gwharton in 2.3-develop branch
Related commit(s):
 - [85e5375ad2e45eebeb5667b3f5e9a91e16989213](https://github.com/magento/magento2/commit/85e5375ad2e45eebeb5667b3f5e9a91e16989213)
 - [a97426185620893353474b0586f499322a07ae29](https://github.com/magento/magento2/commit/a97426185620893353474b0586f499322a

[2019-07-18 23:30] #23597 closed, assigned to gwharton

[2019-07-18 23:30] magento-engcom-team commented on #23643
Hi @ffauvel. Thank you for your report.
The issue has been fixed in magento/magento2#23649 by @gwharton in 2.3-develop branch
Related commit(s):
 - [226009e90bba3af2c1d2b0ddb3ad9fc5c2b8f362](https://github.com/magento/magento2/commit/226009e90bba3af2c1d2b0ddb3ad9fc5c2b8f362)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-19 00:28] magecommerce commented on #23518
Same issue on 2.3.2 product pages

[2019-07-19 00:48] snoroozi commented on #23518
I think this is tied to PayPal's dependence of this module that was added. If I turn on PayPal in settings I don't see this error in console and I see a new big yellow PayPal looking buy now button on my product pages that I've not seen in prior releases.

[2019-07-19 01:44] moloughlin commented on #12100
For anyone else who stumbles upon this (still an issue in _at least_ 2.2.x); we were able to work around it by adding some additional hinting for the DI compilation process. E.g. from the example in the original issue:

[code]
Complement this with an additional type definition:
[code]

Though I don't see any reason with setup:di:compile couldn't traverse <arguments> nodes to determine which Factor

[2019-07-19 03:07] walish opened #23776 "Cannot type Japanese in TinyMCE4 WYSIWYG Editor"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2
3. Japanese typing software (IME - Windows, Mozc - Ubuntu)

### Steps to reproduce (*)
1. Go to admin panel, edit static block
2. Turn on Japanese typing, type in WYSIWYG

### Expected result (*)
1. Can type properly

### Actual result (*)
1. I can't type japanese properly. This issue happens with Vietnamese, Chinese too.

![New Block _ Blocks _ E

[2019-07-19 04:03] nguyenbach95 commented on #23636
@engcom-Charlie Did you turn on negotiated price? And Did your UPS account have negotiated rate?

[2019-07-19 04:55] edenduong opened #23777 ""Discount Amount" field is validated after the page load without any action from user in Create New Catalog Rule form"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. In back end, go to Marketing -> Catalog Price Rule -> Add New Rule
2. Scroll to the Action fieldset
3. See the " Discount Amount" Field

### Expected result (*)

1. Normal field without validate (because no action from User)

### Actual result (*)
1. The " Discount Amount" field is validated and show error
![image](https

[2019-07-19 04:56] edenduong commented on #23777
@magento give me 2.3-develop instance

[2019-07-19 04:56] magento-engcom-team commented on #23777
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 04:57] magento-engcom-team commented on #23777
Hi @edenduong, here is your [Magento instance](https://i-23777-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23777-2-3-develop.instances.magento-community.engineering/admin](https://i-23777-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 05:32] Jitheesh opened #23778 "Rule coupon code generate form validation"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

Case 1:
1. Login to Admin
2. Create new sales rule with 'Use Auto Generation' enabled
3. save rule
4. Open 'Manage Coupon Codes' section
5. Click 'Generate' button without filling required values

case 1:
### Expected result (*)

1. Validation error messages should be displayed

### Actual result (*)

1. Validation failed but no

[2019-07-19 05:45] webkul-deepakkumar commented on #23778
@magento give me 2.3-develop instance

[2019-07-19 05:45] magento-engcom-team commented on #23778
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 05:45] magento-engcom-team commented on #23778
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-23778-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23778-2-3-develop.instances.magento-community.engineering/admin](https://i-23778-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 06:08] ajijshekh123 commented on #23777
Give me @magento give me 2.3-develop instance

[2019-07-19 06:08] magento-engcom-team commented on #23777
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 06:09] magento-engcom-team commented on #23777
Hi @ajijshekh123, here is your [Magento instance](https://i-23777-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23777-2-3-develop.instances.magento-community.engineering/admin](https://i-23777-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 06:13] magento-engcom-team commented on #23778
@webkul-deepakkumar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-19 06:14] ajijshekh123 commented on #23777
Give me @magento give me 2.2-develop instance

[2019-07-19 06:14] magento-engcom-team commented on #23777
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-19 06:21] ajijshekh123 commented on #23777
Without action performed, validate error message is displayed on the 'Discount Amount' field. In ' Rule Name' text field validation error message is displayed.

Expected:- If admin performs action then validate error message should be displayed.

**See attached screenshot:**

![2 3_CatalogRule](https://user-images.githubusercontent.com/24711761/61513654-72e59c00-aa1b-11e9-8463-e6c95e58a68b.png)

[2019-07-19 06:21] magento-engcom-team commented on #23777
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18316` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-19 06:34] atishgoswami commented on #22297
Hello @hugodeaguiar,

Yes I having a hard time to setup elasticsearch on local with a valid SSL.

Will try again this weekend, Will update soon.

Regards,
Atish

[2019-07-19 07:00] GrishmaNayee opened #23780 "Validation sign (Asterisk sign) displaying twice in admin panel"
### Preconditions (*)
1. Enterprise 2.3.1 version
2. Open admin panel -> Logged in

### Steps to reproduce (*)
1. Go to content -> blocks - > add new block
2. Click on Schedule new update button
3. Check the Validation asterisk sign(Red * sign) next to the title text in each field.

### Expected result (*)
1. The system should display one asterisk sign.

### Actual result (*)
1. The system is disp

[2019-07-19 07:24] magento-engcom-team commented on #23776
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18317` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-19 07:53] Arthi22 commented on #23750
Hi , Thank you so much for your reply. I ran your command. i can get the export file now. But our store have 3000 products. But we only 1500 records found in export file. I tried many times, receiving same half records. any suggestions.

[2019-07-19 07:54] Arthi22 commented on #23750
Hi , Thank you so much for your reply. I ran your command. i can get the export file now. But our store have 3000 products. But we only 1500 records found in export file. I tried many times, receiving same half records. any suggestions.

[2019-07-19 08:17] engcom-Charlie commented on #23745
@magento give me 2.3-develop instance

[2019-07-19 08:17] magento-engcom-team commented on #23745
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 08:17] magento-engcom-team commented on #23745
Hi @engcom-Charlie, here is your [Magento instance](https://i-23745-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23745-2-3-develop.instances.magento-community.engineering/admin](https://i-23745-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 08:19] #23773 closed, assigned to nobody

[2019-07-19 08:36] marvinhinz opened #23783 "Backend products mass action for all products only affects visible products"
### Preconditions (*)
1. Freshly installed Magento 2.3.2

### Steps to reproduce (*)
1. Create 25 Products with the same status (enabled or disabled)
2. Go to Backend Product Grid and make sure 20 per page is selected
3. Select all products with the dropdown
4. Make sure it reads 25 records found (25 selected)
5. Go to Actions -> Change status -> (select new status)

### Expected result (*)
1. A t

[2019-07-19 08:40] orlangur commented on #22313
Hi @KooTjoo, there are a bunch of places where this regexp needs to be adjusted, will prepare a PR next week so that the fix will become a part of 2.3.3

[2019-07-19 08:41] magento-engcom-team commented on #23783
Hi @marvinhinz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 08:41] magento-engcom-team commented on #23783
Hi @marvinhinz, here is your [Magento instance](https://i-23783-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23783-2-3-develop.instances.magento-community.engineering/admin](https://i-23783-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 08:46] shikhamis11 commented on #23783
@magento give me 2.3-develop instance

[2019-07-19 08:46] magento-engcom-team commented on #23783
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 08:47] magento-engcom-team commented on #23783
Hi @shikhamis11, here is your [Magento instance](https://i-23783-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23783-2-3-develop.instances.magento-community.engineering/admin](https://i-23783-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 08:49] engcom-Charlie commented on #23761
Hello @domeglic ! Thank you for your contribution !
I was trying to reproduce this issue on fresh 2.3-develop instance but i can`t do it ( Popup to login to Paypal opens, purchase was successful) . Maybe i missed some steps ? Can you please share your configuration here ?
Feel free to reopen it in case you have some updates .
Thanks in advance !

[2019-07-19 08:49] #23761 closed, assigned to nobody

[2019-07-19 08:54] Detzler commented on #22243
Just another workaround to disable paypal credit:

Find row in _core_config_data_ table by _path_ "paypal/style/disable_funding_options". Set/add _value_ to **CREDIT**

Note that resaving config data in the backend payment area will delete the value. Paypal Credit will be active again.

[2019-07-19 08:55] engcom-Alfa commented on #23775
Hi @adminarf !

Thank you for your report but we are not able to reproduce the issue on 2.3-develop and 2.3.2 instances. Probably,  problem is with your system.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion.
The same issue was reported in #20035.

Thanks!

[2019-07-19 08:55] #23775 closed, assigned to engcom-Alfa

[2019-07-19 08:56] shikhamis11 commented on #23783
hello @marvinhinz
this issue is already reported  & fixed in the PR #22704 and merged to 2.3-develop branch

[2019-07-19 08:56] #23783 closed, assigned to shikhamis11

[2019-07-19 08:56] sudheers-kensium commented on #23780
@magento give me 2.3-develop instance

[2019-07-19 08:56] magento-engcom-team commented on #23780
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 08:56] magento-engcom-team commented on #23780
Hi @sudheers-kensium, here is your [Magento instance](https://i-23780-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23780-2-3-develop.instances.magento-community.engineering/admin](https://i-23780-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 08:59] marvinhinz commented on #23783
@shikhamis11 okay thank you! I didnt see the merge was not released yet

[2019-07-19 09:04] rammohan-krish commented on #23780
Issue Reproducing on Magento Enterprise Edition 2.3.1

[2019-07-19 09:06] magento-engcom-team commented on #23780
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18318`, `MC-18319` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-19 09:12] urbanovich commented on #9885
@danilkrasnorudskyi Thanks! It works for me.
`*.html:
<div id="own_image" data-bind="scope:'own_image'">

</div>

*.js:
initialize: function () {
            this._super();

            $('#' + this.name).applyBindings();

        },`

[2019-07-19 09:29] engcom-Delta commented on #21964
Hi @magicsunday I cannot reproduce issue on the latest composer version 2.3.2.
**Steps to reproduce:**
- Set Stores > Settings > Configuration > Advanced > Admin > Security > Add Secret Key to URLs to No.
- Set the Stores > Settings > Configuration > General > Content Management > Enable WYSIWYG Editor option to Disabled Completely
- Run MFTF AdminLoginTest `vendor/bin/mftf run:test AdminLoginTest

[2019-07-19 09:29] #21964 closed, assigned to engcom-Delta

[2019-07-19 09:31] emilev79 commented on #19710
Hi, after a lot of searching we found out that our image / cached image problem on Magento 2.3.1 multistore with Ultimo theme will be this error.  (we tried everything else possible by now).

I see a lot of different solutions. I'm a bit technical but not too much. This is our view.xml from   app/design/frontend/Infortis/ultimo/etc.  What would be the right way to modify this in your opinion?

<?p

[2019-07-19 10:03] engcom-Charlie commented on #23745
Hello @nathanjhastings ! Thank you for your report !
I was not able to reproduce this issue on Vanilla Magento 2.3-develop instance . Can you provide some extra information or steps how to reproduce this issue ?
Feel free to reopen it in case you want to describe this issue more detailed

Thanks for collaboration !

![Screenshot from 2019-07-19 12-44-38](https://user-images.githubusercontent.com/5

[2019-07-19 10:03] #23745 closed, assigned to engcom-Charlie

[2019-07-19 10:16] block0xhash opened #23785 "Admin Dash Board Not Working Magento ver. 2.3.2"
Hi

I have installed Magento ver. 2.3.2.  when I login to the Admin site the   click on the side menus nothing happens.

I have tried to run:
php bin/magento cache:clean
php bin/magento indexer:reindex
php bin/magento setup:static-content:deploy

but doesn't seem to help.

please assist on how to troubleshoot this

![image](https://user-images.githubusercontent.com/16897613/61528423-02d91500-aa1f-

[2019-07-19 10:17] elburro1887 commented on #10424
So this issue seems to be caused when saving the product programmatically and the store view is not set explicitly.

I fixed this by doing the following when loading the product:

When using ProductRepository
`$product = $productRepository->get($sku, false, 0, false);`

When using Collection
[code]

[2019-07-19 10:25] engcom-Bravo commented on #14236
This issue is fixed on 2.3.x branches(i tried to reproduce on 2.3-develop). Magento have stopped accepting fixes for the 2.2 release line as @gwharton wrote.
Thank for contributing!

[2019-07-19 10:25] #14236 closed, assigned to engcom-Bravo

[2019-07-19 10:27] sergey-solo commented on #2228
Didn't have time to finish this. Check the line on `lib/internal/Magento/Framework/Simplexml/Element.php:248`

Potential fix maybe to replace this:

`$out .= ' ' . $key . '="' . str_replace('"', '\"', (string)$value) . '"';`

with this:

`$out .= ' ' . $key . '="' . str_replace('"', '\"', $this->xmlentities($value)) . '"';`

Fixes the issue(still requires to use `&amp;` istead of just `&`) but isn

[2019-07-19 10:30] engcom-Charlie commented on #23785
Hello @bothwellw ! Thank you for your report !
I`m not able to reproduce this issue on 2.3.x release line . Make sure that you are following all Magento requirements (check it here : https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html ) . This is not Magento core bug just problems with your system/configuration . Please refer to the [Community Forums](https://communit

[2019-07-19 10:30] #23785 closed, assigned to engcom-Charlie

[2019-07-19 10:35] ajijshekh123 commented on #23754
@vincent2090311 - feel free to reopen this issue when you will reproduce this issue in fresh Magento Instance.

[2019-07-19 10:41] jorgealonso78 opened #23786 "Can not edit the name for the list on Multiple Wish Lists"
### Preconditions (*)

1. a B2B magnto vanilla 2.3.1

### Steps to reproduce (*)

1. Enable Multiple Wish Lists on admin panel
2. login as customer and go to "My Wish List"
3. create  all the 5 list allow by default
4. start to edit this list
5. at some point you can not edit

### Expected result (*)

1. that you can edit the name of the list

### Actual result (*)

1 .you can not edit the name of

[2019-07-19 10:43] jorgealonso78 commented on #23786
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-19 10:43] magento-engcom-team commented on #23786
Hi @jorgealonso78. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 10:43] magento-engcom-team commented on #23786
Hi @jorgealonso78, here is your [Magento instance](https://i-23786-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23786-2-3-develop.instances.magento-community.engineering/admin](https://i-23786-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 10:59] jorgealonso78 commented on #23786
i can not set the Multiple Wish Lists in the Magento instance provided
![2019-07-19_06h56_57](https://user-images.githubusercontent.com/8143525/61530680-c42d6580-a9f2-11e9-9e01-2ccb83eb9db1.png)

[2019-07-19 11:01] jorgealonso78 commented on #23786
my vanilla magento look like this
![2019-07-19_07h01_12](https://user-images.githubusercontent.com/8143525/61530799-179fb380-a9f3-11e9-993b-9e4dcccd5bc7.png)

[2019-07-19 11:03] engcom-Alfa commented on #23653
Hi @nbennett25. Thanks for applying. We are closing this issue as a duplicate of #21452.

[2019-07-19 11:03] #23653 closed, assigned to engcom-Alfa

[2019-07-19 11:03] jorgealonso78 commented on #23786
@magento give me 2.3.1 instance - upcoming 2.3.1 release

[2019-07-19 11:03] magento-engcom-team commented on #23786
Hi @jorgealonso78. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-07-19 11:04] magento-engcom-team commented on #23786
Hi @jorgealonso78, here is your [Magento instance](https://i-23786-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23786-2-3-1.instances.magento-community.engineering/admin](https://i-23786-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 11:17] engcom-Alfa commented on #23786
Hi @jorgealonso78 !
Multiple Wish List available only for **B2B** version of magento. Magento instance presented in **CE** version
You can read here:
https://docs.magento.com/m2/b2b/user_guide/configuration/customers/wishlist.html

[2019-07-19 11:19] jorgealonso78 commented on #23786
ok, work on EE how I can test this for you guy using your instance?

[2019-07-19 11:29] engcom-Delta commented on #22632
@magento-engcom-team give me 2.3-develop instance

[2019-07-19 11:29] magento-engcom-team commented on #22632
Hi @engcom-Delta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 11:29] magento-engcom-team commented on #22632
Hi @engcom-Delta, here is your [Magento instance](https://i-22632-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22632-2-3-develop.instances.magento-community.engineering/admin](https://i-22632-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 11:29] matin73 commented on #23640
Issue: Confirmed

[2019-07-19 11:33] davekleijnkega commented on #23442
Hi @govereem,

Had the same problem. I solved this by removing 'system_config_snapshot' inside the 'flag' table.

`DELETE FROM flag WHERE flag_code = 'system_config_snapshot';`

[2019-07-19 11:36] arushibansal013 commented on #23609
Hi @jigardhaduk,

The way to use fields with search criteria is different, here is the code:-

$webSiteUrl = 'mydomain.com'
$last1DayUpdated = date('Y-m-d',(strtotime ('-1 day', strtotime(date('Y-m-d')))));
$ch = curl_init("{$webSiteUrl}/rest/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=updated_at&searchCriteria[filter_groups][0][filters][0][value]={$last1DayUpdated}&searchCriteri

[2019-07-19 11:36] #23609 closed, assigned to arushibansal013

[2019-07-19 11:43] engcom-Bravo commented on #23640
Hello,@matin73 ! I can't reproduce this issue on fresh 2.3-develop. Can you give me more steps to reproduce or update your added steps with more details?
Thanks!

[2019-07-19 11:58] engcom-Bravo commented on #22494
This issue is fixed on 2.3.x branches(i tried to reproduce on 2.3-develop). Magento have stopped accepting fixes for the 2.2 release line... i have to close it.

[2019-07-19 11:58] #22494 closed, assigned to nobody

[2019-07-19 11:58] engcom-Delta commented on #22632
Hi @pkavanaghjr thank you for your report. It is hard to understand and reproduce this issue without clear steps to reproduce.
You could refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.
And if you'd like to update issue, please reopen it.

[2019-07-19 11:58] #22632 closed, assigned to engcom-Delta

[2019-07-19 12:02] LovelySetia commented on #23392
If we pass customer token as authorization, it give response 400 error:
"{"message": "Cannot assign customer to the given cart. Customer already has active cart."}" . Please guide me asap @magento-engcom-team @maheshWebkul721

[2019-07-19 12:32] magento-engcom-team commented on #21179
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18320` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-19 12:34] matin73 commented on #23640
@engcom-Bravo did you make some module with this function?

[2019-07-19 12:36] matthewonassis commented on #23462
I just found a problem in my Magento, and it might have something to do with this index issue.
I had MSI and SSM (single store more) both enabled at the same time. Also, I had two sources and two stocks. I haven't tried the upgrade again because I don't have a staging site, but if we all have the same configuration, that might be the root cause of this issue, and I would suggest somebody tries thi

[2019-07-19 12:36] vincent2090311 commented on #23754
@ajijshekh123
Im still able to replicate issue on fresh magento 2.3.2 installation
<img width="1426" alt="Screen Shot 2019-07-19 at 7 34 57 PM" src="https://user-images.githubusercontent.com/8340835/61535375-53229800-aa5c-11e9-9782-577d2550e05c.png">

[2019-07-19 12:43] ajijshekh123 commented on #23754
Give me @magento give me 2.3-develop instance

[2019-07-19 12:43] magento-engcom-team commented on #23754
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 12:44] magento-engcom-team commented on #23754
Hi @ajijshekh123, here is your [Magento instance](https://i-23754-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23754-2-3-develop.instances.magento-community.engineering/admin](https://i-23754-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 12:49] ajijshekh123 commented on #23754
@vincent2090311 - Again, Not able to Reproduce.

![2019-07-19 (3)](https://user-images.githubusercontent.com/24711761/61536189-af33ef00-aa51-11e9-85ca-d0f892ca5c49.png)

[2019-07-19 12:51] jigardhaduk opened #23788 "Magento 2.3.1 : All products can not delete from backend"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Go to product grid in backend and select all products and select 'Delete' option from the 'Actions' dropdown list.
![selected-all-products](https://user-images.githubusercontent.com/15403998/61535992-36349780-aa51-11e9-9d71-aef1d4723539.png)

2. Popup of all products are going to delete.
![popup-of-all-products-going-to-delete

[2019-07-19 12:51] adam-inco commented on #23462
Hi, I have just installed 2.3.2 on our test site, and installed flat_composer.patch and the indexes are now running as expected

Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid index has been rebuilt successfully in 00:00:00
Product Flat Data index has been rebuilt successfully in 00:01:35
Category Flat Data index has been rebuilt successfully in 00:00:02
Category

[2019-07-19 12:54] jigardhaduk commented on #23788
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-19 12:54] magento-engcom-team commented on #23788
Hi @jigardhaduk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 12:54] engcom-Charlie commented on #23788
@magento give me 2.3-develop instance

[2019-07-19 12:54] magento-engcom-team commented on #23788
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 12:55] magento-engcom-team commented on #23788
Hi @jigardhaduk, here is your [Magento instance](https://i-23788-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23788-2-3-develop.instances.magento-community.engineering/admin](https://i-23788-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 12:58] p-bystritsky opened #23789 "CommentLevelsSniff works incorrect with @magento_import statement."
[DevDocs article about @magento_import](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css-preprocess.html#magento-import-usage)

### Preconditions (*)

1. Make some changes to any less file containing @magento_import statement.

### Steps to reproduce (*)

1. Run Magento\Test\Less\LiveCodeTest

### Expected result (*)

1. No error related to @magento_import statement.

###

[2019-07-19 12:58] engcom-Bravo commented on #23640
@matin73 i edit this:
![tesss](https://user-images.githubusercontent.com/51680745/61536740-029c4200-aa3e-11e9-92fe-59fd6d81adc7.png)

[2019-07-19 13:11] jigardhaduk commented on #23788
Hello @magento-engcom-team ,

Tried with the Magento instance and the issue can not be reproduced.

But in my admin side, all products can not be deleted. :(

[2019-07-19 13:12] matin73 commented on #23640
please try with some custom module

[2019-07-19 13:18] matin73 commented on #23640
and please try with store views id like this:
de = ID 1
en = ID 2
de_at = ID 3
de_ch = ID 4
en_gb = ID 5

Because there is some strange fallback.
ID  1 de = correct url,
ID 2 en = correct url,
ID 3 de_at and ID 4 de_ch = wrong url -> shows url of en ID 2 en. but this is wrong, because ID 3 de_at and ID 4 de_ch should show url of ID 1 de.

[2019-07-19 13:22] matin73 commented on #23640
please also have a look into table catalog_category_entity_varchar. There are no entries for store views de_at = ID 3, de_ch = ID 4, en_gb = ID 5 (store views using "Use Default Value" vor field "url_key"). In Magento 1 there where also entries genereated for other store views. We have importet with migration tool and first it worked correct, because migration tool also migrated all store view url

[2019-07-19 13:22] marcusirgens commented on #17310
@qrider Did this solve your issue?

[2019-07-19 13:25] magento-engcom-team commented on #23510
Hi @shinoamakusa. Thank you for your report.
The issue has been fixed in magento/magento2#23524 by @sunilit42 in 2.3-develop branch
Related commit(s):
 - [439831f03bf1ff03902315d5bda490107c4aaa3a](https://github.com/magento/magento2/commit/439831f03bf1ff03902315d5bda490107c4aaa3a)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-19 13:25] #23510 closed, assigned to sunilit42

[2019-07-19 13:25] magento-engcom-team commented on #23778
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18323`, `MC-18324` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-19 13:30] engcom-Charlie commented on #23788
Hello @jigardhaduk ! Thanks for your report !
I was not able to reproduce this issue on Vanilla Magento 2.3-develop with 5000 products

![Screenshot from 2019-07-19 16-25-40](https://user-images.githubusercontent.com/51680850/61538654-89ebb480-aa42-11e9-8a54-28af70d5588f.png)

[2019-07-19 13:30] #23788 closed, assigned to engcom-Charlie

[2019-07-19 13:43] engcom-Bravo commented on #23640
@matin73 , thank for contributing! That is right.

[2019-07-19 13:44] magento-engcom-team commented on #23640
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18325` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-19 13:49] vineetagarwal1981 opened #23791 "Category Product index issue"
We have a multiple website in which there are multiple root categories and same product are assigned to multiple website and categories and we have also configured elastic search version 5+. While place the order we are getting 'Exception #0 (Magento\Framework\Exception\NoSuchEntityException): No such entity with id = 3' .
Issue found in the catalog_category_product_index_store[Storeid] table wher

[2019-07-19 13:55] Nazar65 commented on #23750
@Arthi22 have no idea what's may cause this result, but i think this related to some of your settings.

[2019-07-19 13:56] sudheers-kensium commented on #23788
Hello @engcom-Charlie !
I have verified in both Magento 2.3.1 and 2.3.2 instances and facing the same issue.

[2019-07-19 14:00] engcom-Alfa commented on #23626
Hello @AJHopper  ! Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-07-19 14:00] #23626 closed, assigned to engcom-Alfa

[2019-07-19 14:04] engcom-Charlie commented on #23788
Hello @sudheers-kensium ! Okay i will try to reproduce it on 2.3.2 version and i`ll confirm this issue in case it is reproducible
Thanks for contribution !

[2019-07-19 14:31] gwharton commented on #10424
This original bug was raised against the "Use default value" checkbox not functioning correctly on the backend gui. I have just re-run tests on 2.3-develop and I am happy this is no longer an issue with the backend gui, therefore closing issue.

[2019-07-19 14:31] #10424 closed, assigned to nobody

[2019-07-19 15:04] hostep commented on #10424
Indeed, the original reported bug was fixed around Magento 2.2.6 (from memory).

[2019-07-19 15:07] korostii commented on #7057
Hi @maghamed

As of Magento Open Source 2.3, `\Magento\CatalogInventory\Api\Data\StockStatusInterface` is apparently now `@deprecated` (despite also being marked as `@api`) in favor of the MSI.

I tried to consult the links provided, but [one](https://devdocs.magento.com/guides/v2.3/inventory/index.html) of the pages linked near the deprecation notice says I should be using the Read-Only interface

[2019-07-19 15:17] matthewonassis commented on #23462
@adam-inco @ameysar
Can you please explain how to install these two patches?

[2019-07-19 15:20] sdzhepa commented on #23786
Hello @jorgealonso78

Based on the description of this issue, it related to Magento Commerce and/or B2B functionality.
Current repository https://github.com/magento/magento2 and issue backlog related only to Magento Open Source version.

Magento Commerce and B2B code-base are located in private repositories and not available for community contributions.

[Issue reporting guidelines](https://github

[2019-07-19 15:20] #23786 closed, assigned to sdzhepa, engcom-Alfa

[2019-07-19 15:34] Arthi22 commented on #23750
I still finding for solution, the rest all exports working fine except this products exports, is it because of execution time or something ?

[2019-07-19 15:44] ameysar commented on #23462
@matthewonassis navigate to site root folder and use next command from terminal:
`git apply flat_composer.patch`

[2019-07-19 15:54] Nazar65 commented on #23750
Maybe @engcom-Bravo have time to try replicate this behaviour on clean instance?

[2019-07-19 16:53] jimmy-lion commented on #22215
I'm testing this on the 2.3-develop and this is not currently working

[2019-07-19 17:55] ron-jomashop opened #23793 "When category over 10000 products, the price filter is not showing with elastic search"
### Preconditions (*)

1. Magento 2.3.2
2. Elastic Search 2

### Steps to reproduce (*)

1. Add 10000 products to a category
2. Go to config, set Layer Navigation:
  - Display product count: Yes
  - Price Navigation Step Calculation: Automatic (equalize product counts)
  - Display Price Interval as One Price: Yes
  - Interval Division Limit: 9
3. Enable elastic search 2
4. Reindex

### Expected re

[2019-07-19 18:06] vineetagarwal1981 commented on #23791
Yes

[2019-07-19 18:39] siliconrockstar opened #23795 "In admin, design configuration falls out of sync with store configuration, reindex fixes"
### Preconditions (*)
Magento CE 2.3.2, PHP 7.1.30, Ubuntu 18.04, MariaDb 14.14, Magento caching enabled

### Steps to reproduce - missing design record
1. install Magento 2.3.2
2. log in to admin
3. got to Stores > All Stores
4. enter data for a new store view with Status=Enabled
5. click 'Save Store View'
6. click 'OK' in Warning Model that says 'This operation can take a long time'
7. Wait
8. G

[2019-07-19 18:41] siliconrockstar commented on #23795
Related issue happens if you delete a store view - a broken record appears in design configuration with an empty Store View field.

[2019-07-19 18:42] siliconrockstar commented on #23795
@magento give me 2.3-develop instance

[2019-07-19 18:42] magento-engcom-team commented on #23795
Hi @siliconrockstar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-19 18:43] magento-engcom-team commented on #23795
Hi @siliconrockstar, here is your [Magento instance](https://i-23795-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23795-2-3-develop.instances.magento-community.engineering/admin](https://i-23795-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-19 18:47] siliconrockstar commented on #23795
Behavior reproduces on vanilla instance.

[2019-07-19 18:53] siliconrockstar commented on #23795
UI messaging for store configuration can be edited in the controllers in module-backend.

![2019-07-19_13h51_02](https://user-images.githubusercontent.com/1700502/61558334-54d46780-aa2c-11e9-863a-85a500db5743.png)

[2019-07-19 19:18] ron-jomashop commented on #23793
I cannot test this with the Magento instance because it does not have Elastic Search enabled.

[2019-07-19 19:47] sergiolemus commented on #23588
If you edit the the curl request to include the `"prefix"` in the `"address"` the return code is `200` every time. The request is shown below:

[code]

[2019-07-19 20:09] nathanjhastings commented on #23745
Hi @engcom-Charlie,

Thanks for looking into this for us!

Our issue is related to the issue of a credit memo email, your screenshot is of an order confirmation email. We have not had any problems with order confirmation emails (they are only sent to the correct customers).

To properly test from a vanilla installation I would suggest the following steps:
Successfully order a product as one custom

[2019-07-19 20:12] ron-jomashop commented on #23793
I think this is related to this ticket (https://github.com/magento/magento2/issues/22792).

[2019-07-19 21:39] Goldstar215 opened #23798 "Class 'Magento\CatalogSearch\Model\Indexer\Fulltext\Action\FullFactory' not found"
### Preconditions (*)

1. Magento version: 2.3.2
2. Server environment: Ubuntu nginx

### Steps to reproduce (*)

1. Enable Magento Inventory modules
2. Enable Smile/Elasticsuite modules

### Expected result (*)

1. Elasticsuite works well.

### Actual result (*)

1. Shows an 500 error.
Fatal error: Class 'Magento\CatalogSearch\Model\Indexer\Fulltext\Action\FullFactory' not found in /var/www/html/

[2019-07-19 21:55] bigsteve commented on #10071
Please make sure if you run magento2 on nginx you have the below block (or add correspondent apache directive on apache):

location / {
    try_files $uri $uri/ /index.php$is_args$args;
}

[2019-07-20 01:10] matthewonassis commented on #23462
I ran it as a script and it was successful, but I still have the indexer issue. No luck!

[2019-07-20 01:23] pmathbliss commented on #19710
Can you print the select from the collection?

On Fri, Jul 19, 2019, 2:33 AM emilev79 <notifications@github.com> wrote:

[2019-07-20 03:36] edenduong opened #23800 "Can not save "CMS Block" with empty content"
**Fill All Required Field but can not save CMS Block.**

We can save the CMS Page with the empty content but we can not save 'CMS Block' with empty content. We should remove the validate in CMS Block form (**like the CMS Page**) (**And as  it displays - with no required symbol**).

### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend.
2. Select Content->Block

[2019-07-20 03:36] edenduong commented on #23800
@magento give me 2.3-develop instance

[2019-07-20 03:36] magento-engcom-team commented on #23800
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-20 03:37] magento-engcom-team commented on #23800
Hi @edenduong, here is your [Magento instance](https://i-23800-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23800-2-3-develop.instances.magento-community.engineering/admin](https://i-23800-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-20 03:53] edenduong commented on #23800
@krishprakash: Please confirm for me this issue :)

[2019-07-20 08:22] iyanuakins commented on #2666
I encountered this problem too and i was able to solve it with the following steps:

- Uploaded product images into `/pub/media/import`

- In my CSV i used `http://www.domain.com/pub/media/import/image_name.jpg` without specifying the folder to upload to.

Hope this will help whosoever facing the same problem.

[2019-07-20 12:09] yatintheoctopustech opened #23802 "Magento 2 edit product page save button not working"
**Preconditions**
Magento 2.3.1
PHP 7.1.3

**Steps to reproduce**

Step 1: Import products through CSV(Grouped, Configurable and simple products)
Step 2: Now try to edit any of imported products, edit page will open but save button will not work. Form will not submit
Step 3: If you try to edit any manually added product, then save button will work and form will be submitted.

**Expected result**
P

[2019-07-20 13:52] krishprakash commented on #23800
@magento give me 2.3-develop instance

[2019-07-20 13:52] magento-engcom-team commented on #23800
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-20 13:53] magento-engcom-team commented on #23800
Hi @krishprakash, here is your [Magento instance](https://i-23800-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23800-2-3-develop.instances.magento-community.engineering/admin](https://i-23800-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-20 13:57] ky2vell commented on #23411
I upgraded to 2.3.2 locally and am experiencing this bug as well.  Anyone come up with a solution?  Unknown exceptions cropping up right at the point of sale isn’t exactly comforting.

[2019-07-20 14:01] magento-engcom-team commented on #23800
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18364` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-20 14:14] shinoamakusa commented on #23510
That fix seems to just remove the &lt;br&gt; tag altogether, what I was asking is to make it so the tag is properly rendered so that each line is indeed on new line without the html tag visible in text

[2019-07-20 15:35] wdhrudra commented on #23408
Hi,
I am getting the same issue... Did you solved? Anyone can help me?

[2019-07-20 17:29] lbajsarowicz commented on #23802
@yatintheoctopustech Could you provide the CSV as an example?

[2019-07-20 17:50] ron-jomashop commented on #23802
I think it could be because there are missing required values.

[2019-07-20 18:27] chequille commented on #23411
Everybody is facing this problem, because it is a core bug !!!!!
Sorry to the Magento team, but I really cannot understand this. Updates should fix bugs and security stuff, but not introduce new bugs.
I like the system anyway, but sometimes it is really strange what happens.

Nevertheless, do your best to fix this soon. I am waiting !!
BR
Chequille

[2019-07-20 19:42] Mizogorou opened #23804 "Import Product with 2 languages (2 store views) but product categories import invalid pattern"
### Preconditions (*)

1. Magento Version 2.3.2
2. Ubuntu 18.04.1 LTS
3. PHP 7.2.19-0ubuntu0.18.04.1 (cli)
4. MySQL  Ver 14.14

### Steps to reproduce (*)

1. Go to **System >> Import** for importing new product with the following option:
    1.1 Entity Type: Product
    1.2 Import Behavior: Add/Update
    1.3 Validation Strategy: Stop on Error
    1.4 Allowed Errors Count: 10
    1.5 Field separa

[2019-07-20 21:21] satellite1 commented on #6073
@engcom-backlog-tomash

Issue is certainly not fixed, and we see it in 2.3.1. OSE

[2019-07-20 21:51] longcreek commented on #22587
Encountered same. M 2.3.2 CE - Shared Host. Configurable Products (90) with approx 2000 simple. 9 Attribute Filters displayed. Short term fix (site in development) reduced shown Filters down to 2. Finally getting things back to square one and stable.

Question: Does migrating to ElasticSearch solve this? If so, can anyone guide me through. I've reviewed dev.docs but still sketchy on exact steps to

[2019-07-21 09:32] Enigmativity commented on #20149
This is definitely still and issue.

Just create an order in the back-end and give yourself a 100% discount on the item. When checking out use a free shipping option. The cart total is $0.00. You can't then cancel or create a credit memo for the order.

[2019-07-21 12:43] hammockvienna commented on #17323
It would be great if someone could fix that. In my opinion that bug would mean that its not possible to use domains like news.com you always have to have a www.news.com
Thats currently a showstopper for us, but i cant fix that :-(

[2019-07-21 14:05] rogyar commented on #23800
Hi @edenduong. Thank you for the report. Definitely, there's an issue. But the issue is rather in the absent validation message than in the saving a CMS block with an empty message.
We should carefully think about the use cases of empty CMS blocks. I can't figure out many of them (an empty CMS page has much more use cases though).
On the other hand, there's a possibility that store admin creates a

[2019-07-21 16:33] dverkade opened #23805 "Incorrect base currency in order grid for historical orders"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. Create an order
2. Change store base currency
3. Go to order grid screen. New base currency is shown instead of base currency in which the order was placed in.

### Expected result
1. Old base currency should be shown

### Actual result (*)
1. Newly configured base currency is shown instead of base currency in which the order was placed

[2019-07-21 16:33] dverkade commented on #23805
@magento give me 2.3-develop instance

[2019-07-21 16:34] magento-engcom-team commented on #23805
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-21 16:34] magento-engcom-team commented on #23805
Hi @dverkade, here is your [Magento instance](https://i-23805-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23805-2-3-develop.instances.magento-community.engineering/admin](https://i-23805-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-21 21:30] craigcarnell commented on #23462
@ameysar Do you have a link to the commit / PR please as well?

[2019-07-22 04:51] ktsixit commented on #4778
I still have this issue in 2.3. What should I check?

[2019-07-22 05:18] ktsixit commented on #7367
I have this issue in 2.3

[2019-07-22 05:22] pczerkas commented on #8815
Solution is to replace line:
`$formattedTags = explode('|', $tagsPattern);`
with:
`$formattedTags = array_filter(preg_split('/(?<=\))\|(?=\()/', $tagsPattern));`

[2019-07-22 05:32] yatintheoctopustech commented on #23802
@lbajsarowicz i attached my example csv please find attachment
[test.zip](https://github.com/magento/magento2/files/3415821/test.zip)

[2019-07-22 05:33] yatintheoctopustech commented on #23802
@ron-jomashop i checked each and every field for validation error, but no error on that page, even console is clean no error on that

[2019-07-22 05:40] ajijshekh123 commented on #23802
Give me @magento give me 2.3-develop instance

[2019-07-22 05:40] magento-engcom-team commented on #23802
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-22 05:40] magento-engcom-team commented on #23802
Hi @ajijshekh123, here is your [Magento instance](https://i-23802-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23802-2-3-develop.instances.magento-community.engineering/admin](https://i-23802-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-22 06:05] ajijshekh123 commented on #23802
Give me @magento give me 2.2-develop instance

[2019-07-22 06:05] magento-engcom-team commented on #23802
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-22 06:11] ajijshekh123 commented on #23802
@yatintheoctopustech - I am using your CSV file and reproduce the scenario in Magento 2.3 Instance.
@yatintheoctopustech - Thanks for sharing the CSV file.

[2019-07-22 06:11] magento-engcom-team commented on #23802
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18370` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-22 06:17] ktsixit commented on #7367
![Untitled-1](https://user-images.githubusercontent.com/2758872/61610335-88e49e00-ac61-11e9-8df6-44b8b0d8e33c.jpg)

I have the same issue in magento 2.3. How can I fix this?

[2019-07-22 07:03] engcom-Bravo commented on #23395
@qsolutions-pl, The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-07-22 07:03] #23395 closed, assigned to engcom-Bravo

[2019-07-22 07:04] asfandsheraz commented on #6222
Hi #magento-team so I suppose that your (Internal ticket to track issue progress: MAGETWO-68903) is still under progress.???? It's been 3 years since this issue occurs.

[2019-07-22 07:05] engcom-Bravo commented on #23402
@pisc-software, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-07-22 07:05] #23402 closed, assigned to engcom-Bravo

[2019-07-22 07:06] engcom-Bravo commented on #23554
@29sunil, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-07-22 07:06] #23554 closed, assigned to engcom-Bravo

[2019-07-22 07:09] asfandsheraz commented on #6222
why this visibility: hidden; is here when I uncheck this then editor appears.
![image](https://user-images.githubusercontent.com/19729253/61612817-02d45180-ac79-11e9-95d7-70a17b2e7c09.png)

![image](https://user-images.githubusercontent.com/19729253/61612977-78402200-ac79-11e9-8e21-1a84edb6d564.png)

[2019-07-22 07:10] engcom-Bravo commented on #23330
@Filipe-Bicho, The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-07-22 07:10] #23330 closed, assigned to engcom-Bravo

[2019-07-22 07:18] asfandsheraz commented on #6222
Well here is he solution if any one need. use this setting
![FireShot Capture 004 - Configuration _ Settings _ Stores _ Magento Admin - www rabtstore pk](https://user-images.githubusercontent.com/19729253/61613450-cb66a480-ac7a-11e9-88ca-fb9cfb149be6.png)

[2019-07-22 07:52] maharzan86 opened #23808 "Uncaught ReferenceError: Unable to process binding "if: function(){return (addressOptions.length > 1) }" Message: addressOptions is not defined"
Preconditions (*)
Magento CE 2.3.2, PHP 7.1.30, Ubuntu 18.04, MariaDb 14.14, Magento caching enabled

Steps to reproduce
install Magento 2.3.2
add any product to cart
proceed to checkout
enter login details
click to Next
check to Free Shipping and then click to next
in the checkout payment page error occurs

Expected result (*)
Checkout Payment successfully with no errors

Actual result (*)
There

[2019-07-22 08:19] maharzan86 commented on #23808
yes

[2019-07-22 08:23] maharzan86 commented on #23808
This is working fine in 2.3.1 but not in 2.3.2.

[2019-07-22 08:24] walish commented on #23776
@magento give me 2.3.0 instance

[2019-07-22 08:24] magento-engcom-team commented on #23776
Hi @walish. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-07-22 08:25] magento-engcom-team commented on #23776
Hi @walish, here is your [Magento instance](https://i-23776-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-23776-2-3-0.instances.magento-community.engineering/admin](https://i-23776-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-22 08:44] engcom-Charlie commented on #23804
Hi, @Mizogorou ! I can't reproduce this issue,because i don't know configuration of your attributes... Can you give me more details?
My problem:
![errors](https://user-images.githubusercontent.com/51680850/61618711-13cf9380-ac76-11e9-81c3-940cfa1a6e90.png)

[2019-07-22 08:49] zamoroka opened #23809 "Product Flat indexer fails"
### Preconditions
1. Magento version 2.2.9

### Steps to reproduce
1. Create a product attribute with code 'range'
2. Run `catalog_product_flat` reindex

### Expected result
1. Product flat indexer works properly

### Actual result
1. Product flat indexer fails with error:
[code]

[2019-07-22 08:50] magento-engcom-team commented on #23804
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18371` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-22 08:50] zamoroka commented on #23809
@magento give me 2.2 instance

[2019-07-22 08:57] magento-engcom-team commented on #23805
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18372` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-22 08:59] maharzan86 commented on #23808
@magento give me 2.3.2-develop instance

[2019-07-22 08:59] magento-engcom-team commented on #23808
Hi @maharzan86. Thank you for your request. I'm working on Magento 2.3.2-develop instance for you

[2019-07-22 09:23] Arthi22 commented on #23750
Okay i will try. but the issue still not resolve. i appreciate if anybody can help me?

[2019-07-22 09:24] pisc-software commented on #23402
Hello,

you did not get the point. I am talking about the Observer (see original post) where a list is retrieved as array and the array key is used on the loop to identify the purchased link, however the array key is NOT EQUAL the row id in the database.

So the repository list being received by the observer does not use the row id as array key, hence the observer does not work correctly in assign

[2019-07-22 09:24] magento-engcom-team commented on #23795
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18373` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-22 09:29] jakwinkler opened #23813 "Cannot remove products from category, infinite loop"
### Preconditions (*)

1. Magento 2 Commerce Edition 2.2.5
2. ElasticSearch used for frontend catalog
3. flat catalog disabled
4. Indexes updated on schedule

### Steps to reproduce (*)

1. Go to category page in admin
2. Remove products from category by clicking "Unassign"
3. Save category

### Expected result (*)

1. Products removed from category

### Actual result (*)

1. Admin panel crashes
2

[2019-07-22 09:53] TexPrint opened #23814 "Visual Swatch image not updating in color attribute"
### Preconditions (*)

1. Magento 2.3.1 and 2.3.2
2. PHP 7.2
3. Development Mode

### Steps to reproduce (*)

1. Open the product attribute color.
2. Add a swatch and select an image.

### Expected result (*)

1. Should show the image in the little color swatch field.

### Actual result (*)

1. Field stays empty.
2. Error message in Console:

SyntaxError: JSON.parse: unexpected non-whitespace char

[2019-07-22 09:54] BenSpace48 commented on #6073
@satellite1 @Clud7 @tillemann98 Can you re-produce the error on a vanilla instance of 2.3.x?

[2019-07-22 10:00] dverkade opened #23815 "Transaction overview screen doesn't show payment method"
### Preconditions
1. Magento 2.3.2

### Steps to reproduce
1. Place an order on the frontend.
2. Go to the backend into the transaction overview screen.

### Expected result
1. In the backoffice the transaction overview screen should show the payment method.

### Actual result
1. Payment method is blank in the transaction overview screen.

![image](https://user-images.githubusercontent.com/1058480

[2019-07-22 10:01] dverkade commented on #23815
@magento give me 2.3-develop instance

[2019-07-22 10:01] magento-engcom-team commented on #23815
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-22 10:01] magento-engcom-team commented on #23815
Hi @dverkade, here is your [Magento instance](https://i-23815-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23815-2-3-develop.instances.magento-community.engineering/admin](https://i-23815-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-22 10:04] ameysar commented on #23462
@craigcarnell
PR is not created yet. I think the commit / PR link will be posted as soon as `internal tickets MC-17929` will be delivered.

[2019-07-22 10:11] ajijshekh123 commented on #23815
Give me @magento give me 2.3-develop instance

[2019-07-22 10:11] magento-engcom-team commented on #23815
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-22 10:11] magento-engcom-team commented on #23815
Hi @ajijshekh123, here is your [Magento instance](https://i-23815-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23815-2-3-develop.instances.magento-community.engineering/admin](https://i-23815-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-22 10:17] Clud7 commented on #6073
Hello @BenSpace48 , the trick here is to disable the In-Context Checkout Exprerience. If you enable that then the Display on Shopping Cart and every option to hide the Paypal untill the Checkout doesn't work.

https://i.imgur.com/v4ZMGut.png

[2019-07-22 10:24] asshumski commented on #14113
Magento ver. 2.2.8 bug presents

[2019-07-22 10:25] hmphu commented on #12362
@Alexander-Pop  have you try this `magento2-session-unblocker` module? Is it good

[2019-07-22 10:31] ajijshekh123 commented on #23815
@dverkade - Payment list is displayed in the Transaction List. I am using Magento 2.3 Instance and Placed the Order throw the Braintree Payment method.

**See attached below screenshot:**
![Transaction List](https://user-images.githubusercontent.com/24711761/61626026-c402c380-ac99-11e9-9c7b-2afd5dd7cda7.png)

@dverkade - Let me send the details if you have found this issue again.
Thanks.

[2019-07-22 10:52] daniel-ifrim commented on #23357
@magento-engcom-team This is a API bug related to product URLs. Can someone take a look on it ?

[2019-07-22 10:52] virani06 commented on #23284
@engcom-Bravo Any Updated

[2019-07-22 10:55] engcom-Charlie commented on #23808
Hi @maharzan86 ! I can't reproduce this issue on 2.3.2 and 2.3-develop branches. So i close it.

[2019-07-22 10:55] #23808 closed, assigned to engcom-Charlie

[2019-07-22 10:56] sudheers-kensium commented on #23814
@magento give me 2.3-develop instance

[2019-07-22 10:56] magento-engcom-team commented on #23814
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-22 10:56] magento-engcom-team commented on #23814
Hi @sudheers-kensium, here is your [Magento instance](https://i-23814-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23814-2-3-develop.instances.magento-community.engineering/admin](https://i-23814-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-22 11:01] engcom-Charlie commented on #23793
Hi, @ron-jomashop ! I close this issue because i confirmed the #22792 recently.
Thank you for contributing!

[2019-07-22 11:02] sudheers-kensium commented on #23814
Hi @TexPrint  ! I can't reproduce this issue on 2.3.2 and 2.3-develop branches.

[2019-07-22 11:10] engcom-Charlie commented on #23813
Hi @qsolutions-pl ! I have to close this issue because i can't reproduce it on 2.2-develop and 2.3-develop branches.
Thank you for contributing!

[2019-07-22 11:10] #23813 closed, assigned to engcom-Charlie

[2019-07-22 11:12] TexPrint commented on #23814
Thank you. How should I proceed to get to the bottom of this?

[2019-07-22 11:59] karthik32cse opened #23816 "Patch SUPEE-11155 is supported in Magento EE 2.2.4?"
Hi
Patch Questions:
1. I want to know Patch SUPEE-11155 is supported in Magento EE 2.2.4? What are the versions it is supported?
2. Following 2 patches only available in Magento 2.2.4
    a. MAGETWO-93036
    b. MAGETWO-92926
Are any other patches available for Magento 2.2.4?
3. How to check the patch is already applied? Here I can compare it manually. But I want to know the best way.

Thanks in a

[2019-07-22 12:20] engcom-Bravo commented on #23809
Hello @zamoroka. Thanks for reporting. Currently we are not able to reproduce Your issue following the steps You provided. Would You please add some more details on how we can reproduce it?

[2019-07-22 12:50] zamoroka commented on #23809
My steps to reproduce:
1. Install clean Magento using branch `2.2`
2. Create new product attribute "Range" (Dropdown)
![image](https://user-images.githubusercontent.com/9164112/61632823-6d47ba80-ac96-11e9-8b70-9315c9331a81.png)
3. Add the attribute to "default" attribute set
4. Create a new product and set attribute value
5. Enable flat catalog for products
6. Run product flat indexer

[2019-07-22 12:52] engcom-Bravo commented on #23814
Hello @TexPrint. Indeed, Your issue seems to be not reproducible on a vanilla Magento instance:
![swatchimage](https://user-images.githubusercontent.com/51680745/61633627-28248800-ac98-11e9-96cb-195bc26f2dcb.gif)
And please specify what do You mean by "proceed to get to the bottom of this". Thank You.

[2019-07-22 12:55] zamoroka commented on #23809
Closing as issue is fixed in 2.3-develop

[2019-07-22 12:55] #23809 closed, assigned to engcom-Bravo

[2019-07-22 13:08] TexPrint commented on #23814
Since it seems to not be a core bug, there must be a conflict with something else, maybe another extension. I don't know. Is there a guideline how to proceed to narrow down the culprit?

Thank you for your help.

[2019-07-22 14:04] ron-jomashop commented on #23793
Can you give this a test? I think this also happens when there are 8000 products. This ticket is related to the price filter is not showing in the layered navigation with elasticsearch enabled.

[2019-07-22 14:30] ron-jomashop commented on #22792
It seems like when there are about 8000 to 10000 products, it will work but the price filter will not show.

[2019-07-22 15:21] seyuf commented on #22516
@batmike your issue (without msi enabled) could be related to https://github.com/magento/magento2/pull/23294. You should try the fix.
Also, to improve re-indexation time you can try multithread/multi-dimension feature available since 2.2.6 i believe ([MAGE_INDEXER_THREADS_COUNT=3 php -f bin/magento indexer:reindex](https://community.magento.com/t5/Magento-DevBlog/Indexers-parallelization-and-optim

[2019-07-22 17:18] davidverholen opened #23821 "advanced bundling js translation not (always) working"
When using advanced bundling, some core strings are not translatable.

### Preconditions (*)

1. Use any supported Magento Version (e.g. latest)
2. Configure and use advanced bundling (eventually also reproducable with current default bundling implementation)
3. use a language pack or translate "Cancel" to anything else in your locale

### Steps to reproduce (*)

1. add product to cart
2. hit the

[2019-07-22 17:19] magento-engcom-team commented on #23821
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18420`, `MC-18421` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-22 17:22] davidverholen commented on #23821
@DrewML fyi. I do not really have an idea what happens in the translate.phtml and why it is implemented like that (instead of adding the translations during init of the translate component) so I do not really have an Idea how to fix this.

[2019-07-22 17:42] ulmweb opened #23822 "Unable to add order tags in Magestore Extension"
### Preconditions (*)

1. Magento CE 2.3.1
2. Magestore Extension installed

### Steps to reproduce (*)

1. Configuration>Magestore Extension>Order Configuration
2. Attempting to add product tag "Ready for Pickup" (color #1FA8DA)

### Expected result (*)

1.  I expect the new product tag to save and be available in the order screen for selection

### Actual result (*)

1.  New order tag cannot be

[2019-07-22 17:44] ulmweb commented on #23822
This information was provided to us by our team developer, who informed us he pinpointed the issue:

TypeError: window.jscolor.installByClassName is not a function
window.jscolor.installByClassName('jscolor'); in
app/code/Magestore/OrderSuccess/view/adminhtml/templates/system/config/form/field/array.phtml

[2019-07-22 18:01] hostep commented on #23357
@daniel-ifrim: could you edit your initial post and change the actual results, because they are the same as the expected results. Thanks!

Other than that, if I test your queries over here on some random shop I picked, the first query returns 16 rows, and the second query 3 rows, of which 2 rows still contain category parts in the url. That's probably because they are of redirect_type '301' over h

[2019-07-22 18:13] hostep commented on #23822
Hi @ulmweb

I think you best take this up with Magestore themselves.
The magento source code doesn't contain code regarding `jscolor`, so we can't help you here I'm afraid.

[2019-07-22 18:13] #23822 closed, assigned to nobody

[2019-07-22 18:24] hostep commented on #23816
Hi @karthik32cse

Please refer to the documenation: https://magento.com/security/patches/supee-11155

These SUPEE patches are usually only for Magento 1 installations.
Magento (unfortunately) at this point doesn't provide security patches for Magento 2, they advise you to always upgrade to the latest supported version (2.2.9 or 2.3.2 at the moment of writing). And I know this is a pain in the ass,

[2019-07-22 18:24] #23816 closed, assigned to nobody

[2019-07-22 18:40] bbatten opened #23823 "Attribute value display storeview when adding a new product."
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Create a new dropdown product attribute.
2. Under the manage options section set a new value for the dropdown but make sure the label for the admin vs the storeview are different.  In our admin view we have color codes added to the front of a color.  For example:
Admin: AC - Assorted Colors
Storeview: Assorted Colors
3. Now go

[2019-07-22 19:01] bbatten commented on #23823
Yes, I was able to reproduce the issue on vanilla Magento instance following steps to reproduce.

[2019-07-22 19:02] daniel-ifrim commented on #23357
@hostep
- Function `getRewriteByProductStore` should return only one row.
 See the functions that call it.
- You have on the first position in the result set the correct row (product url row). In my result set the product URL row is the last row. MySQL returns rows how they are stored if there is no sort order. There should not be a sort order in this SQL query. The SQL query should be narrowed ri

[2019-07-22 19:21] mustdobetter opened #23824 "User data serialised multiple times on save when loaded via loadByUsername"
### Preconditions (*)

1. Magento 2.2.* or 2.3.*

### Steps to reproduce (*)

1. Load a user using the `loadByUsername` method of the model.
2. Set some data on the model.
3. Save the model.

### Expected result (*)

1. The model is saved with the `extra` field data properly serialised.

### Actual result (*)

1. The model is saved with the `extra` field data serialised twice, corrupting the data

[2019-07-22 20:46] hostep commented on #23357
As you can tell by the screenshot I posted above, your solution still returns more than one row.
I do agree that it should only return a single row. So, would adding a `WHERE` statement on the `metadata` column be the solution here you think?

[2019-07-22 21:08] sebastianrothbucher commented on #12659
For whatever it's worth, there is a solution simply by working the store settings. Maybe it helps some people out. I've written it up here: https://github.com/firegento/firegento-magesetup2/issues/100#issuecomment-513955291

[2019-07-22 23:43] nickgraz commented on #9948
I just upgraded to 2.3.2 and it seems there are other area where Magento ignores the fact that a module is disabled. During "Repositories code generation":

[code]

Partial trace
[code]

I have the `Magento_PaypalReCaptcha` module disabled though...

[code]

I understand that Magento wants to fill their platform will all kinds of goodies, but the app should certainly respect the decision of a deve

[2019-07-23 00:58] clion007 commented on #23026
I found the same issue when a extension call on getImageUploadConfigData()->getIsResizeEnabled() method in vendor\magento\module-backend\view\adminhtml\templates\media\uploader.phtml and how should I update the extension?

[2019-07-23 01:25] clion007 opened #23825 "Methods of getImageUploadConfigData()->getIsResizeEnabled() in uploader.phtml template returns null in back-end module"
I found the issue when a third extension call on getImageUploadConfigData()->getIsResizeEnabled() method in vendor\magento\module-backend\view\adminhtml\templates\media\uploader.phtml and how should I update the extension to fix this error?

### Preconditions (*)

1. Magento version: 2.3.1 or later and 2.2.8 or later
2. apache2, php7.1.x, ubuntu latest version

### Steps to reproduce (*)

1. Try t

[2019-07-23 02:24] batmike commented on #22516
@seyuf - thanks for the ideas! I made the change in #23294 but it didn't result in much improvement. I've had it running in our staging environment and it's consistently reindexing pricing in about 50 minutes so the 1.5 hour mark I mentioned earlier wasn't exactly right.

I did also give the multi-threading a try but from looking into that, it seems that it would really only be helpful if we had m

[2019-07-23 02:52] huykon commented on #14451
don't see any param attribute for magento 2 api of it?

[2019-07-23 03:24] Alexander-Pop commented on #12362
Nope. Asked myself

[2019-07-23 03:49] wltprgm commented on #22187
I am sorry I couldn't get which issue you are referring to. #22187 is this issue, there is no other issue.

It's not fixed as well, so you shouldn't have closed this issue without providing a fix yet.

[2019-07-23 04:05] clion007 commented on #23825
I fixed the bug in extension like below:
1. Go to the Vendor_dir\Module_dir\Block\Adminhtml\Module_dir\Helper\Form\Gallery\Content.php
2. Add system class as below:
use Magento\Framework\App\ObjectManager;
3. Add private member attribute as below:
    /**
     * @var ImageUploadConfigDataProvider
     */
    private $imageUploadConfigDataProvider;
4. Add param $imageUploadConfigDataProvider = null

[2019-07-23 04:59] ilamp opened #23826 "Can't Add Configurable products to New Orders in Backend from a User's Cart"
### Preconditions (*)
1. Magento CE 2.3.2 without sample data is installed
2. Two store/websites are setup
3. Configurable items are added and used for testing on both stores
4. Two separate user accounts on both sites exist for testing

### Steps to reproduce (*)
1. Login to first website (Frontend) as a user
2. Add configurable products to the cart
3. Login to backend and start the process to cr

[2019-07-23 05:02] ilamp commented on #23826
Yes

[2019-07-23 05:02] magento-engcom-team commented on #23826
Hi @ilamp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 05:03] magento-engcom-team commented on #23826
Hi @ilamp, here is your [Magento instance](https://i-23826-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23826-2-3-develop.instances.magento-community.engineering/admin](https://i-23826-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 05:05] orlythatscool commented on #9214
Not solved

[2019-07-23 05:06] wltprgm commented on #14068
This issue is not solved.

`vendor/magento/framework/View/ElementHtml/Calendar.php` line 75 caused the same error.

[2019-07-23 05:09] wltprgm commented on #5356
This issue is not solved.

vendor/magento/framework/View/ElementHtml/Calendar.php line 75 caused the same error.

[2019-07-23 05:54] mike-jianxin-mo commented on #14952
Got this issue after upgrading from 2.2.5 to 2.2.9.

[2019-07-23 06:04] gulshan-streammarket commented on #17583
I also have the same issue with one of my project. In my case my store has around 700k products, around 250 categories, and more than 5 stores.

When I am adding a new store in admin, the store created with an exception after a long processing. And when i watched in DB there were some url_rewrite table queries executing and stopped after exception occurred. And when i checked url rewrite table the

[2019-07-23 06:13] domeglic commented on #23761
I was able to reproduce it on the magento instance you created above when it was up. No other configuration should be necessary.
You can also trigger it by clearing all local storage once in the cart, then refresh the page and click the paypal button.

The problem is that when customer-data.js is initialized it will make async requests to actually retrieve sections data (customer, cart). So using

[2019-07-23 06:37] engcom-Alfa commented on #23798
Hello @Goldstar215!  Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-07-23 06:37] #23798 closed

[2019-07-23 06:45] engcom-Alfa commented on #22460
Hi @mozgbrasil ! Thank you for report.
I'm sorry, but probably, you were having trouble using Elastic Beanstalk.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [AWS Forum](https://forums.aws.amazon.com/forum.jspa?forumID=86) or the [AWS Support](https://aws.amazon.com/premiumsupport/),  for advice or general discussion about this issue.

[2019-07-23 06:45] #22460 closed, assigned to engcom-Alfa

[2019-07-23 06:58] sudheers-kensium commented on #23823
Hi @bbatten ! If you enter any value in Default Store View that will display in frontend and  Is Default Admin value display in admin side.

[2019-07-23 07:01] engcom-Alfa commented on #23409
Hi @jaycccca !
The contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.
Thanks!

[2019-07-23 07:01] #23409 closed, assigned to engcom-Alfa

[2019-07-23 07:14] lhall-adexos commented on #14952
@mike-jianxin-mo it was working before and now you have the issue ? Maybe you should try to open a new issue ?

[2019-07-23 07:36] Naberdz opened #23828 "Magento 2 product attribute source issue"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Create product attribute with source model
[code]
[code]
same functions apply to another source model with over 700 options

2. Add attribute options to product
<img width="480" alt="Schermafbeelding 2019-07-22 om 13 36 10" src="https://user-images.githubusercontent.com/37579149/61689706-f824c580-ad27-11e9-8cef-03f8

[2019-07-23 07:36] aleksejtsebinoga commented on #12362
@hmphu @Alexander-Pop @winterk80 @tuyennn @gabrieljadeau ,

Guys, you can try this composer package, which is wrapping all the knowledge found on the web.
It was originally developed by me for Scandiweb, and now it became public -

https://bitbucket.org/scandiweb/sessionfix/src/master/

It would be great to know if it worked for you.

[2019-07-23 07:36] rishabhchd19 commented on #14952
Guyz, applying the patch resolving the issue.

On Tue, 23 Jul, 2019, 12:46 PM Loïc HALL, <notifications@github.com> wrote:

[2019-07-23 07:38] niksjethva opened #23829 "Authorize.net Different Code Magento 1 and Magento 2.3.1 (After Data Migration sales order Payment details not showing)"
### Preconditions (*)

1. Magento 1 version: 1.9.1
2. Magento 2 version: 2.3.1
3. Orders that were placed in the Magento 1.9 store using Authorize.net payment methods

### Steps to reproduce (*)

1. Proceed with the data migration.
2. Review the orders in the Magento 2 admin panel after the migration. as I have checked and found that magento 1 Authorize.net Payment Method CODE is different than Ma

[2019-07-23 07:39] Rajan-Bhola opened #23830 "Authorize.net Error in Payment Info Rest api magento 2.3.2"
### Preconditions (*)

1. Magento 2.3.2
2.

### Steps to reproduce (*)

1.While checkout with authorize.net using credit card
2.

### Expected result (*)

1.http://prntscr.com/oisx8o - Error showing while payment using test credit card
checkout needs to be successful.

### Actual result (*)

1.http://prntscr.com/oisx8o - Error showing while payment using test credit card
2.http://prntscr.com/oisxi

[2019-07-23 07:41] magento-engcom-team commented on #23826
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18468` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-23 07:46] Rajan-Bhola commented on #23830
Need Help from support

[2019-07-23 07:48] Rajan-Bhola commented on #23830
@magento give me 2.3-develop instance

[2019-07-23 07:48] magento-engcom-team commented on #23830
Hi @Rajan-Bhola. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 07:49] magento-engcom-team commented on #23830
Hi @Rajan-Bhola, here is your [Magento instance](https://i-23830-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23830-2-3-develop.instances.magento-community.engineering/admin](https://i-23830-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 07:58] Rajan-Bhola commented on #23830
Yes : instance also have same error :http://prntscr.com/oit8z2

[2019-07-23 07:58] Rajan-Bhola commented on #23830
@magento Yes : instance also have same error :http://prntscr.com/oit8z2

[2019-07-23 07:59] Rajan-Bhola commented on #23830
@aredridel Please help me with bug magento 2.3.2

[2019-07-23 08:01] ilamp opened #23831 "Web Server Rewrites not working in multi-store environment"
### Preconditions (*)
1. Magento CE 2.3.2 without sample data is installed
2. URL Rewrites are turned on
3. Two store/websites are setup

### Steps to reproduce (*)
1. Add a new Product
2. Add Product to a category in both of the stores.
3. View the product URL in both stores on the frontend

### Expected result (*)
1. Store 1 URL should be /test-product.html
1. Store 2 URL should be /test-product

[2019-07-23 08:04] niksjethva commented on #23829
In the step reproduce we are using vanilla Magento, So please reproduce my issue.

[2019-07-23 08:04] magento-engcom-team commented on #23829
Hi @niksjethva. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 08:04] magento-engcom-team commented on #23829
Hi @niksjethva, here is your [Magento instance](https://i-23829-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23829-2-3-develop.instances.magento-community.engineering/admin](https://i-23829-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 08:08] magento-engcom-team commented on #23831
Hi @ilamp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 08:09] magento-engcom-team commented on #23831
Hi @ilamp, here is your [Magento instance](https://i-23831-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23831-2-3-develop.instances.magento-community.engineering/admin](https://i-23831-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 08:12] ilamp commented on #23831
@engcom-Alfa You logged me out. hah I was already testing it on the dev instance.

[2019-07-23 08:14] niksjethva commented on #23829
Hello,

Authorize.net Payments works fine, but my concern is that after migration from Magento 1.9.1 to Magento 2.3.1 authorize.net Payment details not showing in sales order admin grid in Magento 2.3.1 check screenshot here : https://nimb.ws/4qotxE

[2019-07-23 08:24] magento-engcom-team commented on #23357
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18469` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-23 08:35] drabikowy opened #23832 "msrp module error breaks the swatches on product configuration page"
### Preconditions (*)
1. Magento 2.3.1 Theme Luma
2. Msrp module is disabled

### Steps to reproduce (*)
1. Add a configurable product
2. Create a configurations for product:
 - add two new attributes: color swatch + text swatch
 - add separate pictures eg. for color variants
 - apply same price to all skus
 - apply same quantity to all skus
3. Go to created product's pdp, select color swatch + te

[2019-07-23 08:47] drabikowy commented on #23832
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-23 08:47] magento-engcom-team commented on #23832
Hi @drabikowy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 08:48] magento-engcom-team commented on #23832
Hi @drabikowy, here is your [Magento instance](https://i-23832-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23832-2-3-develop.instances.magento-community.engineering/admin](https://i-23832-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 08:56] daniel-ifrim commented on #23357
@hostep Adding `WHERE metadata IS NULL` is a light fix. Someone can add data in the future in `metadata` column. There will be a bug.
I just run the 2 SQL queries on a store, MySQL server 5.7.26.
I can run same type of SQL queries for test on Mariadb also if you need me to.

These are the results on MySQL. I don't want to enforce this solution. Anyone that will craft a patch for this issue will ha

[2019-07-23 09:21] drabikowy commented on #23832
I confirm - issue is reproducible on provided Magento instance.

[2019-07-23 09:29] SarvagyaP24 commented on #16859
@ewallteam
I am facing the same issue. Could please kindly provide some information about how you fix that issue.
Any server setting or any change in Magento?

Thanks in advance

[2019-07-23 09:43] engcom-Charlie commented on #23791
Hi @vineetagarwal1981 ! I can't reproduce this issue on fresh 2.3-develop branch. So i close this issue.
Thank for contribution!

[2019-07-23 09:43] #23791 closed, assigned to engcom-Charlie

[2019-07-23 09:49] swnsma opened #23833 "Error messages on Checkout when 'Syncronize with Backend' option is turned ON"
### Preconditions (*)
1. Magento 2.3
2. Catalog with at least 1 product
3. Enabled setting _Admin Panel -> Stores -> Configuration -> Catalog - > Recently Viewed/Compared Products -> Synchronize widget products with backend storage_ === **_Yes_**

### Steps to reproduce (*)
1. Go to store front
2. Add product to the cart
3. Go to checkout

### Expected result (*)
1. No errors in browser console

#

[2019-07-23 09:56] engcom-Charlie commented on #23823
Hi @bbatten ! I can't reproduce this issue on fresh 2.3-develop branch. So i have to close this issue, sry.
Thank you for contribution!

[2019-07-23 09:56] #23823 closed, assigned to engcom-Charlie

[2019-07-23 10:05] sudheers-kensium commented on #23833
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-23 10:05] magento-engcom-team commented on #23833
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 10:06] magento-engcom-team commented on #23833
Hi @sudheers-kensium, here is your [Magento instance](https://i-23833-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23833-2-3-develop.instances.magento-community.engineering/admin](https://i-23833-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 10:19] sudheers-kensium commented on #23833
@swnsma ! I am not able to reproduced in vanilla Magento 2.3-develop instance

[2019-07-23 10:22] engcom-Bravo commented on #23833
Not reproduced on 2.2-develop.

[2019-07-23 10:23] magento-engcom-team commented on #23833
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18470` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-23 10:26] engcom-Bravo commented on #23814
@TexPrint, Unfortunately, the GitHub issue tracker is intended for Magento Core technical issues only. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-07-23 10:26] #23814 closed, assigned to nobody

[2019-07-23 10:57] ganedda-softfobia commented on #3832
Why is this issue is closed? How could that be a solution?
What about orders that have no shipping? Ie. virtual products

[2019-07-23 11:03] engcom-Delta commented on #23193
Hi @mssyogi thank you for your report. I cannot reproduce issue by steps you described on clean 2.3-develop.
I also tried to upgrade from latest magento release versions: 2.1.18->2.3.2 and upgrade was successful
In this case I used devdoc [article](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html)
If you'd like to update issue, please reopen it.

[2019-07-23 11:03] #23193 closed, assigned to engcom-Delta

[2019-07-23 11:09] engcom-Charlie commented on #23832
Hi, @drabikowy !
How did you disable the Msrp module? Because when i turned it off my magento stopped working:
![wowowo](https://user-images.githubusercontent.com/51680850/61707469-3aafc780-ad53-11e9-82b2-b5e6d3aeef16.png)
Frontent doesn't work either.

[2019-07-23 11:10] ajijshekh123 commented on #23815
@dverkade - feel free to reopen this issue when you will reproduce this issue in fresh Magento Instance.

[2019-07-23 11:16] engcom-Alfa commented on #23831
Hi @ilamp !

According to the test scenario, I am not able to reproduce this issue on fresh 2.3-develop and 2.3.2 instances.
Everything works correctly.

**Actual Result:**
(first store)
![screen1](https://user-images.githubusercontent.com/51679138/61707638-a134e580-ad53-11e9-926a-3afcc3e34b52.png)

(second store)
![screen2](https://user-images.githubusercontent.com/51679138/61707689-b9a50000-ad53

[2019-07-23 11:16] #23831 closed, assigned to engcom-Alfa

[2019-07-23 11:29] drabikowy commented on #23832
Hello!

Actually it was disabled by default on provided instance.

I mean in stores->configuration->sales->minimum advertised price - I didn’t
touch this settings

W dniu wt., 23.07.2019 o 13:10 Robert Turchyn <notifications@github.com>
napisał(a):

[2019-07-23 11:30] Rajan-Bhola commented on #23830
@engcom-Charlie  please check

[2019-07-23 11:45] magento-engcom-team commented on #23832
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18471` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-23 11:57] lykciv commented on #7413
This is still a problem in version 2.3.2.

The bug is in the observer `SaveDownloadableOrderItemObserver`. The following patch should fix the problem

[code]

[2019-07-23 11:57] calin-ImDigital opened #23834 "X-Magento-Tags header too large for child products"
We are experiencing a number of issue with requests for some categories and catalog search on a 20k catalog size. Some requests in a combination of 2 words or higher where the number of results increases we see that X-Magento-Tags header is very large and will not be handled by server.
The only thing that we can find inside the server logs is this

`upstream sent too big header while reading respo

[2019-07-23 12:08] engcom-Charlie commented on #23830
@magento give me 2.3-develop instance

[2019-07-23 12:08] magento-engcom-team commented on #23830
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 12:08] magento-engcom-team commented on #23830
Hi @engcom-Charlie, here is your [Magento instance](https://i-23830-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23830-2-3-develop.instances.magento-community.engineering/admin](https://i-23830-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 12:13] Rajan-Bhola commented on #23830
shall i enter my authorize.net test keys

[2019-07-23 12:26] hostep commented on #23357
I just have different data in my `url_rewrite` table, so we would need to find a solution which works with all kinds of data which can exists in that table. I'll see if I can find some steps to reproduce so I can show how that particular data got in that table. But that might take me a couple of days (bit busy at the moment).

[2019-07-23 12:28] apomili opened #23835 "Product png transparent image ignore "transparent" and "background" color parameters"
### Preconditions (*)

1. Magento 2.2.8
2. Choose "ImageMagick" as Image Processing (configuration > advanced > developer)
3. A transparent background PNG to upload as a product image

### Steps to reproduce (*)

1. Create a product and add the transparent png as image
2. Open the etc/view.xml file and edit the parameters for the product list/grid image as below

[code]

### Expected result (*)

1

[2019-07-23 12:36] engcom-Charlie commented on #23830
Hi, @Rajan-Bhola ! I can't reproduce this issue on vanilla 2.3-develop .I think problem in your authorize.net  test keys.The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-07-23 12:36] #23830 closed, assigned to engcom-Charlie

[2019-07-23 12:38] muhammedomar32 commented on #22353
Dears,
 I have same issue i tried to upgrade magento 2.1.9 to 2.3
ERROR 1833 (HY000): Cannot change column 'customer_group_id': used in a foreign key constraint 'CAT_PRD_IDX_PRICE_STORE_CSTR_GROUP_ID_CSTR_GROUP_CSTR_GROUP_ID' of table 'magento2.catalog_product_index_price_store'

anyone can help me

[2019-07-23 12:38] seyuf commented on #22516
@batmike if you're sure you've correctly applied the fix...
Because, if i remember correctly, you have to at least make a setup upgrade to update the triggers in the db.

[2019-07-23 13:06] dhiraj-danode opened #23836 "Create New Wishlist not working in magento 2.3.1"
### Preconditions (*)

1.   Magento EE 2.3.1
2.    2.3.2

### Steps to reproduce (*)

1. Enable Multiple wishlist from admin -> Store -> Configuration -> Customer -> Wishlist -> General Option -> Enable Multiple Wish Lists
2. Login to Frontend and Go to My Account -> My Wishlist
3. Click on Crete New Wishlist and save.
4. Observed that sometimes New Wishlist didn't created.
5. We debug on it and o

[2019-07-23 13:27] magento-engcom-team commented on #23824
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18473` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-23 13:31] engcom-Charlie commented on #23793
@ron-jomashop okay, i confirm this issue.
Thank you for contributing!

[2019-07-23 13:33] magento-engcom-team commented on #23793
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18474` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-23 13:35] p-bystritsky commented on #21879
I'm already working on the same issue https://github.com/magento/magento2/pull/22917

[2019-07-23 13:36] apomili commented on #23835
I added the ImageMagick option as precondition

[2019-07-23 13:37] AndyJAllen opened #23837 "IE11 Checkout Error; Indefinite loading; Cant complete check out"
### Preconditions (*)

1. Magento 2.3.1
2. Paypal Payflow Pro
3. Internet Explorer

### Steps to reproduce (*)

1. Use Internet Explorer
2. Check out with credit card entry using Payflow Pro

### Expected result (*)

1. Successful checkout
2. Confirmation page with order number

### Actual result (*)

1.Never-ending loader:
![image](https://user-images.githubusercontent.com/19735797/61716546-6750e

[2019-07-23 13:44] johncarlson21 commented on #21879
@p-bystritsky  I looked over at your link.. could you tell me the status of this? is it in testing? is it done and ready for the next update to code?

[2019-07-23 13:53] engcom-Delta commented on #22954
Hi @lucasvm thank you for your report. Unfortunatelly,  I'm not able to reproduce issue by steps you described on clean 2.3-develop.
And I cannot reproduce issue by upgrading from 2.3.0 to 2.3.2(latest release version )
If you'd like to update the issue, please reopen it.

[2019-07-23 13:53] #22954 closed, assigned to engcom-Delta

[2019-07-23 14:01] AndyJAllen commented on #23837
Pertinent thread on stackexchange:
https://magento.stackexchange.com/questions/274405/magento-paypal-recaptcha-module-ie11-errors

[2019-07-23 14:06] renorram commented on #23432
Had the same problem today after update from 2.3.1 to 2.3.2, https://github.com/magento/magento2/issues/23432#issuecomment-511916538 solved my issue. Thanks!

[2019-07-23 14:09] batmike commented on #22516
@seyuf - I didn't originally confirm that so I ran setup:upgrade and confirmed that the triggers are updated in the database with NOT NEW. They are correct now but the price reindexing for us is still taking 50 minutes. I'm not against blaming our environment or even the ratio we have of configurable to simple products, which is about 1 configurable for every 40 simple products on average but in r

[2019-07-23 14:39] engcom-Bravo commented on #23382
Hello @kozie. The behavior You've reported about is quite expected. Form keys are added deliberately. Form key must be added to any form posted via Magento page as it is a matter of security. Form key validation helps to prevent Your store from hacking or other potential dangers comming from the web. So we are supposed to close Your issue. Feеl free to reopen it if deem necessary. Thanks for apply

[2019-07-23 14:43] seyuf commented on #22516
Yeah, there should be no increase in full reindexing performance due to the fix. But it will allow you to avoid full reindexing in favor of incremental one. Also on 2.3.0, to avoid indexing issues i set the index cron group (from the BO admin section) *Use Separate Process* to no. To avoid conflicts during incremental indexing.

[2019-07-23 14:55] batmike commented on #22516
@seyuf - that sounds very good. I'll be testing that out and update here with the results. Thanks!

[2019-07-23 16:05] krishprakash commented on #23836
@magento give me 2.3-develop instance

[2019-07-23 16:05] magento-engcom-team commented on #23836
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-23 16:05] magento-engcom-team commented on #23836
Hi @krishprakash, here is your [Magento instance](https://i-23836-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23836-2-3-develop.instances.magento-community.engineering/admin](https://i-23836-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-23 16:09] anujsingh1220 opened #23841 "Unable to set default layout"
### Preconditions (*)

1. Magento version 2.3.x CE & EE
2. On product edit page we need to set "No Layout" as default. To do this we set the default option as "No layout" after edit that attribute. But the option is not set as default, once we create a product, it seems another option is selected rather than the default one.

### Steps to reproduce (*)

1. Choose another "Is default" value for "cu

[2019-07-23 16:14] Dkmafia opened #23842 "Hello! system log error "Broken reference""
### Summary (*)

Upon checkout (credit card only) the cart hangs.

In the system log I found:
main.WARNING: Broken reference: No element found with ID 'footer-container'. [] []

Thank you in advance!

### Examples (*)

### Proposed solution

[2019-07-23 16:16] engcom-tester commented on #23671
@magento I'm working on it

[2019-07-23 16:18] pmathbliss commented on #22027
This is also happening on sites without bundles and 24k products.
Is there a join to the catalog_product_super_link or catalog_product_relation that could be done to reduce the number of queries here?

[2019-07-23 16:18] edenduong commented on #23800
Hello @rogyar,
Thank you for your feedback.
I think we can use the empty CMS block. Because the admin or developer can create the page with the empty block for the layout (the content staff can modify it later.). The layout with some empty block content which the staff can add it depends on their requirements. It may be useful for preparing the website page.
I see in the DB, that field also "Can b

[2019-07-23 17:29] magento-engcom-team commented on #23211
Hi @navarr, @edenduong.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-23 17:29] #23211 closed, assigned to edenduong

[2019-07-23 17:29] magento-engcom-team commented on #23624
Hi @simonlandry0, @edenduong.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-23 17:29] #23624 closed, assigned to edenduong

[2019-07-23 17:32] mustdobetter commented on #22587
Thank you @rickschippers for the patch. This does indeed seem to bring back speeds to acceptable levels.

@magento-engcom-team, this seems quite a sizeable and fundamental issue which will be affecting all installations running on 2.3.1 and above. Can we please get somebody assigned to verify and progress this?

[2019-07-23 17:38] scottsb commented on #22567
It seems this was fixed in 2.3.2, but there is no fix applied to the 2.2.x branch, and since that branch is now closed to PRs, I don't think it's possible to fix. See commit #423f92c for the 2.3 fix.

[2019-07-23 18:00] ron-jomashop opened #23843 "When category URL page param is larger than the pagination, the page will break with elastic search 2"
### Preconditions (*)
1. Magento 2.3.2
1. Elasticsearch 2

### Steps to reproduce (*)
1. Create a category with products
1. Enable elasticsearch 2
1. Reindex all
1. Go to the category and add this params: "?p=999999999999999&product*list_order=price". Ex: https://www.example.com/category?p=9999999999999999999999999999&product_list*order=price

### Expected result (*)
1. Go to the last page of the

[2019-07-23 18:04] ron-jomashop commented on #23843
I cannot test with the Magento instance because this ticket related to the elasticsearch.

[2019-07-23 18:38] hostep commented on #23382
@engcom-Bravo: @kozie is talking about forms which post to an external non-Magento url. I think his issue makes sense, let's reopen this so you can try to reproduce if it's valid or not.

[2019-07-23 18:56] magento-engcom-team commented on #22842
Hi @Jilco.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18207` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still ru

[2019-07-23 18:56] #22842 closed, assigned to nobody

[2019-07-23 20:23] gtlt commented on #23755
linking possible similar issue : https://github.com/magento/magento2/issues/22966

[2019-07-23 20:50] adamlukaszewski commented on #23754
Hi same here. I have also the same issue. E-Mail preview will be cut off due the iframe height.

![image](https://user-images.githubusercontent.com/119235/61746423-f268c780-ad9b-11e9-9849-6784562d5d0b.png)

I am running on a 2.3.2 instance (community).

Here is the generated HTML code (iframe available):

![image](https://user-images.githubusercontent.com/119235/61746507-204e0c00-ad9c-11e9-83d9-4d

[2019-07-23 21:11] shinoamakusa commented on #21666
Thanks @jcdennen the workaround works magic :) We just switched to 2.3.2 from 2.2.9 last night and client ran into this issue few mins ago

[2019-07-23 23:26] shinoamakusa commented on #19795
Hopefully it will be solved soon ... kinda want to move to PHP 7.2 .... a small point of migrating from M 2.2.9 to M 2.3.2 ;)

[2019-07-24 04:07] hmphu commented on #12362
Thanks @aleksejtsebinoga  I will try it

[2019-07-24 04:24] hmphu commented on #23411
I'm faced this issue also, Does everybody have a fix?

[2019-07-24 04:35] rogyar commented on #23800
Hi @edenduong. That makes sense. Another use case that comes in mind is for some languages the store owner might want to have the content empty. Thank you for providing the additional info.

[2019-07-24 05:14] kinjal24 commented on #3174
Hello,

We can use below code instead of the streamOpen, streamWrite and streamClose.

[code]

[2019-07-24 06:00] ravi-chandra3197 opened #23844 "checkout with Braintree payment with 3d secure give error "Please try again with another form of payment.""
### Preconditions (*)

1. Magento 2.3.X
2. configure Braintree payment with 3d secure for Production Environment

### Steps to reproduce (*)

1. Add to cart any product
2. Go to checkout
3. select shipping method
4. select Credit Card (Braintree) as the payment method
5. fill details and click Place Order

### Expected result (*)

1. order placed successfully

### Actual result (*)

1. give the er

[2019-07-24 06:05] kirtinariya1 commented on #23833
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-24 06:06] magento-engcom-team commented on #23833
Hi @kirtinariya1. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 06:06] magento-engcom-team commented on #23833
Hi @kirtinariya1, here is your [Magento instance](https://i-23833-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23833-2-3-develop.instances.magento-community.engineering/admin](https://i-23833-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 06:36] sudheers-kensium commented on #23833
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-24 06:36] magento-engcom-team commented on #23833
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 06:37] magento-engcom-team commented on #23833
Hi @sudheers-kensium, here is your [Magento instance](https://i-23833-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23833-2-3-develop.instances.magento-community.engineering/admin](https://i-23833-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 06:42] sudheers-kensium commented on #23836
@magento give me 2.3-develop instance

[2019-07-24 06:42] magento-engcom-team commented on #23836
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 06:42] magento-engcom-team commented on #23836
Hi @sudheers-kensium, here is your [Magento instance](https://i-23836-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23836-2-3-develop.instances.magento-community.engineering/admin](https://i-23836-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 06:52] sudheers-kensium commented on #23836
Issue exists in Magento EE 2.3.1

[2019-07-24 06:52] ajijshekh123 commented on #23844
Give me @magento give me 2.3-develop instance

[2019-07-24 06:52] magento-engcom-team commented on #23844
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 06:53] magento-engcom-team commented on #23844
Hi @ajijshekh123, here is your [Magento instance](https://i-23844-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23844-2-3-develop.instances.magento-community.engineering/admin](https://i-23844-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 06:56] sudheers-kensium commented on #23836
Issue exits in Magento EE 2.3.1

[2019-07-24 07:06] kozie commented on #23382
@hostep is right. Forms posting to external url's can also get the form_key. I don't think it's desirable at all to have this but in my case it was about a PSP form which errorred because of an unknown parameter being sent along (the form_key).

[2019-07-24 07:17] engcom-Delta commented on #23842
Hi @Dkmafia, thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-07-24 07:17] #23842 closed, assigned to engcom-Delta

[2019-07-24 07:40] dhiraj-danode commented on #23836
We upgraded Magento from 2.3.1 to 2.3.2 and issue is still exits.

[2019-07-24 07:43] nplinhho commented on #9458
I have the same  issue on Magento 2.3.0

My store includes about 8000 products,
it always increases about 10GB each week, and have to flush them at the end of week.

[2019-07-24 07:46] engcom-Delta commented on #23578
Hi @humanwere thank you for your report. Unfortunately, there are not enough information to reproduce issue you described.
You could refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.
Or if you'd like to update the issue, please reopen it.

[2019-07-24 07:46] #23578 closed, assigned to engcom-Delta

[2019-07-24 07:47] Tjitse-E commented on #23432
I had the same thing in Magento 2.2.9, just find where you are using `Magento\Catalog\Block\Product\View\Gallery` in your custom theme and update it like this:

[code]
So add `gallery_options` as an argument. Thanks @gwharton!

[2019-07-24 08:19] engcom-Delta commented on #23336
Hi @robert-schmidt thank you for your report. I'm not able to reproduce issue by steps you described on clean 2.3-develop.
My database config in env.php:
`
'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '127.0.0.1',
                'dbname' => 'magento',
                'username' => 'sslclient',
                'password' =>

[2019-07-24 08:19] #23336 closed, assigned to engcom-Delta

[2019-07-24 08:32] rav-redchamps commented on #9857
Animated GIF images don't work in native Magento 2system. You should try this Magento 2 extension https://redchamps.com/product-animated-gif-images-magento-2-extension.html

[2019-07-24 08:35] hostep commented on #9458
If you use file based caching, then yes, the full page cache keeps growing and growing until you manually flush it. Magento currently has no mechanism to keep it under control. You could try switching to Varnish as an alternative?
Also see: https://github.com/magento/magento2/issues/16375#issuecomment-409571521

[2019-07-24 08:42] engcom-Alfa commented on #23835
Hi @apomili !

Thank you for you report!
I'm not able to reproduce issue on fresh 2.3-develop instance. All works correctly.

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/61778593-b408f200-ae07-11e9-8d46-a5bce5ca1337.png)

Probably, you need to clear image cache folder (pub/media/catalog/product/cache).

If you'd like to update the issue, please reopen it.

[2019-07-24 08:42] #23835 closed, assigned to engcom-Alfa

[2019-07-24 08:44] nplinhho commented on #9458
Because our hosting provider doesn't support Varnish.
BTW, Varnish sometime has issue and not stable on data response. So it is not my solution for FPC.

[2019-07-24 08:45] sergey-solo commented on #4831
https://github.com/magento/magento2/pull/23255

[2019-07-24 08:46] engcom-Charlie commented on #23834
Hi, @cdiacon-img ! Sorry, but i have to close this issue, because my elasticsearch works fine on 2.3.2 and 2.3-develop branches(no errors and search show result).
Thank for contribution!

[2019-07-24 08:47] hostep commented on #9458
Ok, then you could ask the hosting for more disk space so you don't need to flush it so often. Or just keep doing what you are doing and flushing the page cache every week. If that works for you then you currently have a solution for the problem 👍

[2019-07-24 08:54] engcom-Charlie commented on #23843
Hi, @ron-jomashop ! I'm sorry, but i have to close this issue, because i can't reproduce it on 2.3-develop and 2.3.2 branches(have not any exception after adding this params: "?p=999999999999999&product_list_order=price").
Thank for contributing!

[2019-07-24 08:59] apomili commented on #23835
In my Luma I can't reach the same result. In the red circle the only png of the set, no red bg and a 180k png file.
Maybe the fix is in the 2.3 version?

![Schermata da 2019-07-24 10-52-31](https://user-images.githubusercontent.com/7668956/61779869-be27f200-ae01-11e9-9b93-c3a3614acb6c.jpg)

[2019-07-24 09:07] engcom-Alfa commented on #23835
Yes, on 2.3-develop instance all works correctly.

[2019-07-24 09:24] krzysztofkuzniar opened #23846 "Schedule currency_rates_update cron job not working"
### Preconditions (*)

1. Magento version 2.3.2
2. After configure currency schedule import settings cron job currency_rates_update not save in cron_schedule table.

### Steps to reproduce (*)

1. Go to admin panel
2. Stores > Configuration > General Tab > Currency Setup > Scheduled Import Setting section
3. Set values:
- Enable -> Set Yes
- Service -> Choose one of available services
- Start Time

[2019-07-24 09:31] simonmaass commented on #23440
any update on this? This is rather important for us because we are often refunding money but not taking the product back

[2019-07-24 09:31] engcom-Charlie commented on #23844
Hi, @ravi-chandra3197 ! I can't reproduce this issue on vanilla 2.3-develop. So i close it.
Thank you for contributing!

[2019-07-24 09:31] #23844 closed, assigned to engcom-Charlie

[2019-07-24 09:37] atwixfirster opened #23847 "Command "setup:db-declaration:generate-patch" does not add revert() method to patch"
### Summary (*)

Command [setup:db-declaration:generate-patch](https://devdocs.magento.com/guides/v2.3/reference/cli/magento.html#setupdb-declarationgenerate-patch) generates a patch file without `revert()` method even when `--revertable` option is set to `true`.

### Examples (*)

Run
[code]

`Vendor_Module` - any module.

Example with `Magento_Cms`:
[code]

**Actual result:**
`app/code/Magento/C

[2019-07-24 09:45] sezio commented on #14113
2.2.5, we also have the problem here, only in chrome. It seems the problem comes from Chrome... I'm not sure it's directly related to magento.
There's a lot of issue opened on the internet on the subject and chrome. Some solution are proposed but none of them worked for me... You can google search "window.print empty chrome" for more information

[2019-07-24 09:47] celorodovalho commented on #23808
I have the same problem when tried to upgrade to 2.3.2 version:
[code]

[code]

[2019-07-24 09:53] hmphu commented on #23808
@celorodovalho I have fixed this issue by editing magento core file in `vendor` dir at `vendor/magento/module-checkout/Block/Checkout/LayoutProcessor.php`

You can see the change in my Git diff here: https://gist.github.com/hmphu/b752d3f1c401fd862bf5ee0552507322

[2019-07-24 10:10] 619frank opened #23849 "catalog_product_entity_decimal table's column name `entity_id` is changed to `row_id` in magento 2.3.2"
catalog_product_entity_decimal table's  column name `entity_id` is changed to `row_id` in magento 2.3.2
but its usage is not changed

example
getAttributeValueCount() in Magento\Catalog\Model\ResourceModel\Product\Collection

[2019-07-24 10:11] ravi-chandra3197 commented on #23844
Hello @engcom-Charlie
have you tried with Braintree payment with 3d secure for Production Environment?
I think you show in the video its sandbox environment.
we have an issue with Production Environment with 3d secure.

[2019-07-24 10:13] DevAbbacus commented on #23829
I am also facing the same issue. Someone, please help me to fix this at the earliest.

[2019-07-24 10:19] fab-rkd opened #23850 "Magento Upgrade Issue 2.3.1 ==> 2.3.2"
PHP fatal error after upgrading to 2.3.2 from 2.3.1.
I have upgraded the Magento via composer and followed the steps mentioned [here](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html) I was able to upgrade all the packages without any error, but when I am running `php bin/magento setup:upgrade` or any other command it throws following error :

I've tried clearing `var/cache` ,

[2019-07-24 10:41] sandipweb commented on #23829
i also migrated from magento 1.9.3.2 to magento 2.3.1  but same issue facing like payment details not showing in sales order section. So can anyone suggest me how to get all magento 1 authorize.net payment details to magento 2 by migration data.

[2019-07-24 10:45] junaidq57 opened #23851 "Magento 2.3 Image cache not generating"
### Preconditions (*)
Magento EE upgrade from 2.2.7 to 2.3.2

### Steps to reproduce (*)
After upgrade, product images are missing on product detail page only.

I debugged a bit and ran the command "catalog:image:resize" and images appeared. But when I flush catalog images cache from admin, the issue appeared again.

I think the images cache is not generating. The permission for pub/media are also

[2019-07-24 10:53] magento-engcom-team commented on #23846
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18543` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-24 11:00] vineetagarwal1981 commented on #23802
@yatintheoctopustech Change the 'Product Flat Data' indexing from 'Update on Save' to 'Update by schedule' and the save button will work

[2019-07-24 11:01] engcom-Charlie commented on #23849
Hi, @619frank ! I can't confirm this issue because in my database catalog_product_entity_decimal table have entity_id and not row_id(screenshot attached). I tested it on fresh 2.3.2 magento. So i close it.
Thank you for contributing!
![image](https://user-images.githubusercontent.com/51680850/61788559-09023380-ae1b-11e9-9841-fff4fbf112df.png)

[2019-07-24 11:01] #23849 closed, assigned to engcom-Charlie

[2019-07-24 11:05] kirtinariya1 opened #23852 "Magento 2.3 Customer Configuration in the Online Customers Options field have not proper validation"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

`Customer Configuration` in the `Online Customers Options` have `Online Minutes Interval` and `Customer Data Lifetime` two field and that field have used for minutes interval. But issue is that two field taking any of the value. There should be take proper validation.
1. Login to the Magento 2 admin.
2. Go to the STORES >> Settin

[2019-07-24 11:08] kirtinariya1 commented on #23852
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-24 11:08] magento-engcom-team commented on #23852
Hi @kirtinariya1. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 11:08] magento-engcom-team commented on #23852
Hi @kirtinariya1, here is your [Magento instance](https://i-23852-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23852-2-3-develop.instances.magento-community.engineering/admin](https://i-23852-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 11:27] edenduong opened #23853 "Form "Create New Customer" and Create New Address" at the backend doesn't display Prefix and Suffix Options"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Store->Configuration->Customers->Customer Configuration
In "Name and Address Options",SET:  Show Prefix: "required", show suffix: "Required", Prefix Dropdown Options: 'mr;mrs', Suffix Dropdown Options: 'jr;sr'
![issue_23853_1](https://user-images.githubusercontent.com/3409584/83427904-1868ea80-a3f7-11ea-8738-47fbaaba7eb5

[2019-07-24 11:27] edenduong commented on #23853
@magento give me 2.3-develop instance

[2019-07-24 11:27] magento-engcom-team commented on #23853
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 11:28] magento-engcom-team commented on #23853
Hi @edenduong, here is your [Magento instance](https://i-23853-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23853-2-3-develop.instances.magento-community.engineering/admin](https://i-23853-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 11:43] sergey-solo commented on #5664
Can't reproduce on 2.3-develop

[2019-07-24 11:43] #5664 closed, assigned to sergey-solo

[2019-07-24 11:46] pandyakrunal opened #23855 "Network error when print invoice in order grid"
Magento version 2.3.2
PHP 7.2
Got network error when clicking on the print invoice.
when it download process is going on and after time its show Fail. Network error
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. Go to order grid.
2.select complete order.
3. Action dropdown selects Print invoice.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

[2019-07-24 11:54] engcom-Bravo commented on #23855
Hello @pandyakrunal. Thanks for applying. Though the essence of the issue may seem obvious judging by the three lines of Your description, still please provide all the necessary information in the required format (fill in the Preconditions, steps to reproduce, etc.).

[2019-07-24 12:01] pandyakrunal commented on #23855
@engcom-Bravo Please check now.

[2019-07-24 12:02] engcom-Foxtrot commented on #23451
@thomas-kl1, thank you for collaboration. Can you please provide strong motivation why this PR should be merged? It works fine with Product collection, but it's only because of [\Magento\Catalog\Model\ResourceModel\Product\Collection::MAIN_TABLE_ALIAS value](https://github.com/magento/magento2/blob/7ffabd074c457edb7a3f2d8eacbc21a1dd188692/app/code/Magento/Catalog/Model/ResourceModel/Product/Collec

[2019-07-24 12:06] magento-engcom-team commented on #23852
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18544`, `MC-18545` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-24 12:17] gnsaran opened #23857 "Class Dhl\Shipping\Model\Attribute\Backend\TariffNumber does not exist"
When i update magento version then i showing this error where i edit product
![erroe](https://user-images.githubusercontent.com/30433788/61792739-0b748580-ae3b-11e9-92cb-656db55d6f59.jpg)
in admin panel.

[2019-07-24 12:17] engcom-Alfa commented on #23850
Hi @fab-rkd ! Thank you for your report.
I suppose it could be related to Multi-source Inventory Modules.
You could create this issue with details in the https://github.com/magento/inventory/issues .

Thanks!

[2019-07-24 12:17] #23850 closed, assigned to engcom-Alfa

[2019-07-24 12:21] celorodovalho commented on #23808
@hmphu badly doesn't work to me. I'm still trying to figure out.

[2019-07-24 12:23] engcom-Bravo commented on #23855
Thank You @pandyakrunal. Unfortunately we've been not able to reproduce Your issue on a clear magento installation. Could You please try to reproduce it Yourself on such an installation. For that just leave a comment as You are advised above:
![Advised](https://user-images.githubusercontent.com/51680745/61793040-d5c5a180-ae26-11e9-87a4-7ae06711e0fa.png)

Thank You.

[2019-07-24 12:40] b2bdokter commented on #7570
Still have it on 2.3.2 great this magento 2 platform, first the incredible 2.2 version and also the constant changes makes it real ease to work with... NOT !

[2019-07-24 12:45] mikehenze commented on #5873
We have this issue in 2.3.2
Its for all orders and seems unrelated to paypal.

[2019-07-24 12:54] engcom-Alfa commented on #23857
Hi @gnsaran !
Thank you for your report.
 Unfortunately, there are not enough information to reproduce issue you described.
You could refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.
Or if you'd like to update the issue, please reopen it.

[2019-07-24 12:54] #23857 closed, assigned to engcom-Alfa

[2019-07-24 13:00] apomili commented on #23835
Please can you explain what you have done?
I tried on a new installation of magento 2.3.1 and have the same issue.
Could you try with this image?
[D3062WGIGA900119_01.zip](https://github.com/magento/magento2/files/3426883/D3062WGIGA900119_01.zip)

[2019-07-24 13:03] alaa-almaliki commented on #23540
I just came across the issue today and seen tasks from old releases keep running in memory. This has caused a memory issue and dev server has went irresponsive. Killed all the queue tasks and disabled them to avoid memory issue.
[code]

The memory is reclaimed now and no more issues post deployments.

[2019-07-24 13:04] dhiraj-danode opened #23860 "Magento 2.3.2 My Account -> Add new Address -> Phone number field not showing with * mark"
### Preconditions (*)

1. 2.3.2
2. 2.3.1

### Steps to reproduce (*)

1. Go to Frotnend and Login
2. Go to My Account -> Add new address.
3. We can see phone number field is mandatory and * mark is missing.

### Expected result (*)

1. [Screenshots, logs or description]
2. In add new address form * marks should be there for phone number.
3. In Magento\Customer\Block\Address\Edit.php precheckRequir

[2019-07-24 13:08] ajijshekh123 commented on #23860
Give me @magento give me 2.3-develop instance

[2019-07-24 13:08] magento-engcom-team commented on #23860
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 13:08] magento-engcom-team commented on #23860
Hi @ajijshekh123, here is your [Magento instance](https://i-23860-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23860-2-3-develop.instances.magento-community.engineering/admin](https://i-23860-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 13:12] ajijshekh123 commented on #23860
Give me @magento give me 2.2-develop instance

[2019-07-24 13:12] magento-engcom-team commented on #23860
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-24 13:18] dhiraj-danode commented on #23836
@sudheers-kensium Do we have any fix for this issue ?

[2019-07-24 13:20] ajijshekh123 commented on #23860
The issue is not reproduced in Fresh Magento 2.3 Instance.
**See attached screenshot:**

![2 3 Magento Instance](https://user-images.githubusercontent.com/24711761/61796675-80e45400-ae43-11e9-9afb-202178ac0a29.png)

@dhiraj-danode - Please update me which Magento instance you are using?

[2019-07-24 13:23] dhiraj-danode commented on #23860
Hello @ajijshekh123

Can you please check in 2.3.1 version.

[2019-07-24 13:25] bojjaiah opened #23861 "Website logo and upload from gallery features not working"
### Preconditions (*)

1. Install Magento version2.3.1/2.3.2
2.

### Steps to reproduce (*)

1. Login to admin panel
2. Content -> Configuration -> Edit Theme -> Upload logo/ upload logo from gallery

### Expected result (*)

1. [Screenshots, logs or description]
2. The image needs to be upload

### Actual result (*)

1. [Screenshots, logs or description]
2. Error throwing see my thread from [Stac

[2019-07-24 13:28] hiteshshingala08 commented on #23829
I have still same issue facing authorize.net payment details not showing after data migration magento 1.9.3.0 to magento 2.3.1. Please help me to fix this issue.

[2019-07-24 13:34] PluginIO commented on #9988
Why has this been closed? I can confirm that this issue or very similar issue is still happening in the latest release build 2.3.2. When using the following search filter (The implementation is described in the official documentation).

[code]

which would call to the API as:
[code]

This should return products, but the result is an empty dataset.

[2019-07-24 13:36] hostep commented on #23540
Be aware that certain tasks being executed in the backend will no longer work when you disable all the consumers. These are the things listed under `Merchant tool enhancements` in the [2.3.2 release notes](https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.2OpenSource.html#merchant-tool-enhancements).

Anyway, I've created a feature request for an easy-to-use action to stop runn

[2019-07-24 13:41] ajijshekh123 commented on #23860
@dhiraj-danode - This issue I have to verify in Magento 2.3.1 Instance but I don't have found this issue.

![2019-07-24 (2)](https://user-images.githubusercontent.com/24711761/61798316-b50d4400-ae46-11e9-9c14-00aadac21311.png)

@dhiraj-danode - Can I close this issue or not?

[2019-07-24 13:45] dhiraj-danode commented on #23860
ok, Thanks @ajijshekh123
I am still facing issue in fresh magento 2.3.1 instance, I will check it.

[2019-07-24 13:48] ajijshekh123 commented on #23860
Okay @dhiraj-danode

[2019-07-24 13:48] #23860 closed, assigned to nobody

[2019-07-24 13:54] dhiraj-danode commented on #23860
@ajijshekh123 Can you please confirm. I have issue in magento EE 2.3.1

[2019-07-24 14:01] gekamikh opened #23863 "Can't add product to cart with customizable options (type checkbox) through REST API"
### Preconditions (*)

1. Magento version: 2.3.1
2. PHP version: 7.2.12

### Steps to reproduce (*)

1. Try to add product to guest cart using API endpoint: `POST /V1/guest-carts/{cartId}/items`
Body:
[code]

### Expected result (*)

1. Product added to cart

### Actual result (*)

1. Error:
[code]

Error thrown from:
https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/Catalog/Model/Pr

[2019-07-24 14:03] sergey-solo commented on #5901
I wasn't able to reproduce it on 2.3-develop.

[2019-07-24 14:05] pradeepnew opened #23864 "Wysiwyg editor issue when edit and save"
The issue comes when I created a new block, put the content and save. Everything is fine at this stage. When I edit anything in content then save it again it will show the below issue.
When using {{config path='web/unsecure/base_url'}} for anchor tags then the string followed by the closing curly braces is removed. The original link removed and only the base URL is showing.
For example, If URL is

[2019-07-24 14:13] ron-jomashop commented on #23843
@engcom-Charlie
Please have a look again. I have tested with Magento sample data and it also has the error.
The page you need to go to is http://127.0.0.1/training/training-video.html?p=999999999999999
and it should produce the error with the Elasticsearch 2 enabled.

[2019-07-24 14:13] dhiraj-danode opened #23865 "Magento EE 2.3.1 My Account -> Add new Address -> Phone number field not showing with * mark"
### Preconditions (*)

1. EE 2.3.1

### Steps to reproduce (*)

1. Go to Frotnend and Login
2. Go to My Account -> Add new address.
3. We can see phone number field is mandatory and * mark is missing.

### Expected result (*)

1. [Screenshots, logs or description]
2. In add new address form * marks should be there for phone number.
3. In Magento\Customer\Block\Address\Edit.php precheckRequiredAttr

[2019-07-24 14:16] engcom-Charlie commented on #23745
@ Hi. @nathanjhastings . I tested it again with your scenario and second credit memo email was sent to email of second customer.

[2019-07-24 14:32] dhiraj-danode commented on #23865
![address issue](https://user-images.githubusercontent.com/47853083/61802387-f6edb880-ae4d-11e9-8d05-64bfed2433a9.png)
Attached the screenshot.

[2019-07-24 14:42] engcom-Charlie commented on #23843
@ron-jomashop , that is right! I'm sorry about closing this issue.
Thank you for contributing!

[2019-07-24 14:43] magento-engcom-team commented on #23843
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18549` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-24 14:44] edenduong commented on #6208
We need to disable sort this field.
Because one product which can belong many websites.
It can not be sorted.

[2019-07-24 14:52] Den4ik commented on #23863
@gekamikh I have checked and it seems you were use wrong params in query.
You should to use cartId instead of quoteId in request body `"quote_id": "cartId"`

[2019-07-24 14:55] heldchen commented on #5901
@sergey-solo I have reproduced this issue on a vanilla 2.3.2 installation with sample data right now. I'm not seeing any commits to 2.3-develop that might suggest that this is fixed for a future version.

[2019-07-24 15:01] gekamikh commented on #23863
@Den4ik, yes I use `cartId`. Before add product to cart I create it using API route `POST /V1/guest-carts`. After that I get cartId from response and use it for all requests to cart endpoints. So it's not a solution.

Also when I try to add product with customizable option `radio` everything works. So, please, check again

[2019-07-24 15:03] danielpfarmer commented on #23003
@engcom-backlog-nazar  I can still replicate this issue on 2.2.9

[2019-07-24 15:58] abude commented on #4408
is this fixed or not? i'm having the exact same issue on magento 2.3.2

[2019-07-24 16:13] gekamikh opened #23869 "Can't add product to cart with customizable options (type checkbox) through REST API"
### Preconditions (*)

1. Magento version: 2.3.1
2. PHP version: 7.2.12

### Steps to reproduce (*)

1. Create quest cart using API endpoint: `POST /V1/guest-carts`
2. Get `cartId` from response
1. Try to add product to guest cart using API endpoint: `POST /V1/guest-carts/{cartId}/items`
Body:
[code]

### Expected result (*)

1. Product added to cart

### Actual result (*)

1. Error:
[code]

Error

[2019-07-24 17:52] jeffekg commented on #19469
Why does Magento continue to develop new features, when their existing codebase has so many issues?  This is a huge issue and was submitted back in November of 2018, at least provide an official patch please?

[2019-07-24 18:09] extroniks opened #23870 "Product list widget duplicated HTML ID when special price is available"
### Preconditions (*)

1. Clean Magento 2.3.2 install with sample data

### Steps to reproduce (*)

1. Set a special price on simple product (example: Fusion Backpack SKU: 24-MB02)
2. Inspect resulting html on a page with product list widget with said product

### Expected result (*)

1. The price HTML elements id's should be unique

### Actual result (*)

1. The price HTML element id's are repeat

[2019-07-24 18:11] extroniks commented on #23870
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-24 18:11] magento-engcom-team commented on #23870
Hi @extroniks. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 18:12] magento-engcom-team commented on #23870
Hi @extroniks, here is your [Magento instance](https://i-23870-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23870-2-3-develop.instances.magento-community.engineering/admin](https://i-23870-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 18:17] extroniks commented on #23870
Hello, reproduced on given 2.3 develop instance:
![image](https://user-images.githubusercontent.com/16757761/61817916-f81fe500-ae4f-11e9-8f08-90852307d6a3.png)

[2019-07-24 18:28] Den4ik commented on #23863
@magento give me 2.3-develop instance

[2019-07-24 18:28] magento-engcom-team commented on #23863
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-24 18:29] magento-engcom-team commented on #23863
Hi @Den4ik, here is your [Magento instance](https://i-23863-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23863-2-3-develop.instances.magento-community.engineering/admin](https://i-23863-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-24 19:12] cmple commented on #13411
@abhi-ranosys, @developer-vtnetzwelt, @magento-engcom-team I think the issue is inside of the following class:
Magento\Catalog\Ui\DataProvider\Product\ProductCollection

To reproduce ->  In admin filter products by Status = Disabled

The following function is missing an **attribute_id** condition:

Original:
[code]
[code]

Working version:
[code]

[code]

[2019-07-24 19:31] magento-engcom-team commented on #23863
@Den4ik Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-24 19:33] Den4ik commented on #23863
@gekamikh Yep, issue reproduced for multiselect custom option

[2019-07-24 19:40] magento-engcom-team commented on #23863
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18563` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-24 19:48] avoelkl commented on #19710
We are having the same issue on Magento 2.3.2 where Magento tries to load images from cache folders which are not present.

Running `bin/magento catalog:image:resize` solves the issue for us meanwhile. It's not a long term solution though as it takes 3 hours in our case (3985 images)

[2019-07-24 19:57] engcom-Bravo commented on #23870
@magento give me 2.2-develop instance

[2019-07-24 19:58] magento-engcom-team commented on #23870
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-24 20:03] ron-jomashop commented on #23793
It seems like this commit 021a953482e06a622d1508fe35aa4e744d636493 is introducing the bug after git bisect.

[2019-07-24 20:44] SamB-GB commented on #23462
This seemed to fix it for me as well.

[2019-07-24 21:44] magento-engcom-team commented on #23870
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18569`, `MC-18570` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-24 21:56] zsebacher-integritystl opened #23872 "API not capturing invoice correctly"
version: community 2.2.3

Issue: We have an integration service created for a client that will create invoices, shipment, etc. for an order through the api.

![image](https://user-images.githubusercontent.com/48224308/61831167-a452d300-ae32-11e9-948f-289cef5a9220.png)

It creates the order just fine and also creates the invoice.

![image](https://user-images.githubusercontent.com/48224308/61831239

[2019-07-25 00:56] krishprakash commented on #23869
Hi @gekamikh. Thank you for your report.
Issue is duplicate to #23863

[2019-07-25 00:56] #23869 closed, assigned to engcom-Bravo

[2019-07-25 01:19] nettree commented on #21762
Thanks @DanielRuf, will do :)

[2019-07-25 01:38] maharzan86 commented on #23808
@hmphu I've also tried your solution but surely it won't show that error but in checkout-payment page it won't display the payee details like full name, country, states and phone no. details.
<img width="1010" alt="スクリーンショット 2019-07-25 10 37 31" src="https://user-images.githubusercontent.com/45053620/61839377-45d83400-aec8-11e9-9b4a-7943548ff367.png">

But actual result needs to be like this.
<img

[2019-07-25 05:50] bscbodyscience commented on #18841
is this fixed? I am still getting the issue on 2.3.2

[2019-07-25 05:56] johnniecoder2046 commented on #8023
for @BenSpace48 problem ,

seems to related to

https://github.com/magento/magento2/blob/2.1/app/code/Magento/ConfigurableProduct/Ui/DataProvider/Product/Form/Modifier/ConfigurablePrice.php#L64-L67

[2019-07-25 05:58] deepaksnair123 commented on #19545
@agorbulin any update on this issue??

[2019-07-25 06:31] sudheers-kensium commented on #23865
@magento give me 2.3-develop instance

[2019-07-25 06:31] magento-engcom-team commented on #23865
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-25 06:32] magento-engcom-team commented on #23865
Hi @sudheers-kensium, here is your [Magento instance](https://i-23865-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23865-2-3-develop.instances.magento-community.engineering/admin](https://i-23865-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-25 06:37] dhiraj-danode commented on #23865
Hello @sudheers-kensium The issue we observed in Enterprise 2.3.1 version.

[2019-07-25 06:40] vini1996 opened #23875 "youtube url is added in downloadable products, but it is not playing through customer account"
### Preconditions (*)

1. PHP 7.14
2.magento 2.2.7

### Steps to reproduce (*)

1. add downloadable products from admin
catalog->products->downloadable products->downloadable information -<Links ->File -> Select URL. add youtube URL in the placeholder.
2.from customer myaccount->downloadable products
play a video
![image](https://user-images.githubusercontent.com/39683802/61851570-f9dfbc00-aed4-11

[2019-07-25 06:52] magento-engcom-team commented on #23864
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-25 06:52] magento-engcom-team commented on #23864
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18586` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 07:21] rathodsunny005 commented on #13594
I'm also facing the same issue

[2019-07-25 08:07] sudheers-kensium commented on #23865
Change below code in vendor/magento/module-customer-custom-attributes/view/frontend/templates/customer/address/edit.phtml Line no:35
From:  <div class="field telephone <?php if (in_array('telephone', $requiredAttributesPrechecked)): ?>required<?php endif; ?>">
To: <div class="field telephone <?php if ($addressHelper->getAttributeValidationClass('telephone')): ?>required<?php endif; ?>">

[2019-07-25 08:31] sudheers-kensium commented on #23865
@dhiraj-danode This is not Magento Community edition issue. So I am closing this issue.

[2019-07-25 08:47] abude commented on #4408
@mvaisberg did you manage to solve this ? Thanks!

[2019-07-25 09:28] Naberdz opened #23876 "Magento 2.3.2 email templates not editable"
### Preconditions (*)

1. Magento 2.3.2
2. php 7.2

### Steps to reproduce (*)

1. Upgrade magento from 2.3.1 to 2.3.2 following this guide : https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html
2. Edit existing template(s)
3. Preview existing template(s)

### Expected result (*)

1. When editing template you should be able to edit template.
2. In preview mode you should be able t

[2019-07-25 09:29] Vital388 commented on #7120
@nitin-bc
You can do it by yourself
Create a module. In module create a javascript mixin
example of requirejs-config.js file
`var config = {
            'Magento_Msrp/js/msrp': {
                'MyVendor_MyModule/js/mixin/msrp': true
            }
        }
    }
};
`
MyVendor/MyModule/view/frontend/web/js/mixin/msrp.js
[code]
The problem is in  event.preventDefault();  Didn't test it on IE 11 bu

[2019-07-25 09:45] NickdeK opened #23877 "Media gallery thumbnails stretched when image is horizontal ratio"
When using images with a horizontal ratio, and prevent the image generation from adding white space to the images, the thumbnail images in the gallery come out pixelated on the product page.

### Preconditions (*)
1. Magento 2.3.2
2. `<var name="product_image_white_borders">0</var>` in the view.xml of a theme (including the luma theme)

### Steps to reproduce (*)
1. Have a product with images that

[2019-07-25 10:06] mitalikundale commented on #11413
I am facing this issue on checkout "transaction has been declined". Payflow pro payment gateway is enable and my magento version is 2.3.1.

Any help appreciated.

[2019-07-25 10:09] markuslupfer opened #23879 "M2.3.2 - Node <payment><payflow_advanced><user> is declared twice in Paypal module so it still use MCrypt"
### Preconditions
1. Magento 2.3.2 Open Source & Enterprise

### Steps to reproduce
1. Clear cache
2. Add breakpoint in \Magento\Framework\Encryption\Encryptor::decrypt in line 437 (can be var_dump or die method). Just to make sure it won't go inside, as this is not supported method
3. Run the homepage

### Expected result
1. Website should run correctly without going inside of unsupported method

[2019-07-25 10:10] #23879 closed, assigned to nobody

[2019-07-25 10:13] Linek opened #23880 "M2.3.2 - Node <payment><payflow_advanced><user> is declared twice in Paypal module so it still use MCrypt"
### Preconditions
1. Magento 2.3.2 Open Source & Enterprise

### Steps to reproduce
1. Flush cache
2. Add breakpoint in \Magento\Framework\Encryption\Encryptor::decrypt in line 437 (can be var_dump or die method). Just to make sure it won't go inside, as this is not supported method
3. Run the homepage

### Expected result
1. Website should run correctly without going inside of unsupported method

[2019-07-25 10:38] gwharton opened #23881 ""Select from Gallery" option on media file uploader does not use correct allowable file types"
### Preconditions (*)
1. Magento 2.4-develop vanilla

### Steps to reproduce (*)

1. Content -> Configuration
2. Global -> Edit
3. HTML Head -> Favicon icon
4. Select from Gallery
5. Choose Files
6. Select "<anyfile>.ico" from local filesystem

### Expected result (*)
1. icon file is successfully uploaded

### Actual result (*)
1. Error "We don't recognize or support this file extension type." is

[2019-07-25 10:54] engcom-Bravo commented on #23861
Hello @bojjaiah, thanks for reporting. We've been not able to reproduce Your issue and so it is highly likely not a core bug of Magento, but a matter of server's settings. You can try to reproduce the issue Yourself on a clear, vanilla instance of Magento asking a bot for it by just leaving here a comment like '@magento give me 2.3-develop instance' (without quotes). If You manage to reproduce it

[2019-07-25 10:54] magento-engcom-team commented on #23861
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-25 10:54] magento-engcom-team commented on #23861
Hi @engcom-Bravo, here is your [Magento instance](https://i-23861-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23861-2-3-develop.instances.magento-community.engineering/admin](https://i-23861-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-25 10:59] gwharton commented on #23861
@bojjaiah Can you reproduce this on a vanilla instance of Magento 2.3-develop as I cannot.

From the look of your screen recording on stackexchange, it doesn't look vanilla.

Stock Magento states under the logo image "Maximum file size: 2 MB. Allowed file types: JPG, GIF, PNG." but yours states "Maximum File Size : NaN" which indicates that something is messing with the design config for that form

[2019-07-25 11:04] engcom-Alfa commented on #23875
Hello @vini1996.  Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-07-25 11:04] #23875 closed, assigned to engcom-Alfa

[2019-07-25 11:35] patellalit opened #23883 "Fedex Free Method should allow multi selection"
Fedex shipping method configuration, Free Method dropdown has single method selection. It should be allow multi selection.

### Preconditions
1. Magento CE 2.3.1 without sample data is installed.
2. Fedex Shipping method is set up.
3. Free methods not allow to select multiple

### Steps to reproduce
1. Navigate to store configuration
2. Under Sales/Shipping methods/Fedex
3. Free Methods dropdown.

[2019-07-25 12:02] engcom-Charlie commented on #23853
Hi, @edenduong ! I can't reproduce this issue on fresh magento 2.3-develop.
**Manual testing scenario:**
1.Store->Configuration->Customers->Customer Configuration
2.In "Name and Address Options",SET: Show Prefix: "required", show suffix: "Required", Prefix 3.Dropdown Options: 'mr;mrs', Suffix Dropdown Options: 'jr;sr'
4.Go to Create New Customer form
5.View Suffix and Prefix field
**Actual result:

[2019-07-25 12:12] edenduong commented on #23853
Hi @engcom-Charlie,
Please check Create New Customer at the **BACKEND**

[2019-07-25 12:18] magento-engcom-team commented on #23279
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18587` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 12:20] magento-engcom-team commented on #23527
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18588` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 12:22] magento-engcom-team commented on #23877
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18589` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 12:32] magento-engcom-team commented on #22952
Hi @a-t-s.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.2-develop` branch(es).
Related commit(s):
 - [2e81e2d3389acd572c98ed72513b7be1b91bc3ec](https://github.com/magento/magento2/commit/2e81e2d3389acd572c98ed72513b7be1b91bc3ec)
 - [25224302ef687737ce41cf86fd6e21a104f9ead3](https://github.com/magento/magento2/com

[2019-07-25 12:39] shikhamis11 commented on #23689
hello @fohnbit
for upgrading to magento 2 you can follow magento dev-docs guidelines
https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

also you can discuss issue on [magento stack exchange](https://magento.stackexchange.com/) and  [community forums](https://community.magento.com/)

[2019-07-25 12:39] #23689 closed, assigned to shikhamis11

[2019-07-25 12:42] engcom-Charlie commented on #23872
Hi, @zsebacher-integritystl ! I can't reproduce this issue on fresh magento 2.3-develop. That problem is fixed. So i close this issue.
Thank you for contributing!

[2019-07-25 12:42] #23872 closed, assigned to engcom-Charlie

[2019-07-25 12:54] engcom-Charlie commented on #23853
@edenduong that is right! I confirm this issue.
Thank you for contributing!

[2019-07-25 12:55] magento-engcom-team commented on #23853
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18590` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 13:03] magento-engcom-team commented on #23876
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18591` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 13:11] bobemoe commented on #22103
Any idea how I can patch 2.2.9 with this? Or when 2.2.10 is to be released?

I've tried applying the above commits as patches but some of the hunks fail:

[code]

[2019-07-25 13:14] paul-gene commented on #20003
I am seeing this too, I think it might be related to table prefixes?

[2019-07-25 13:18] bobemoe commented on #22103
Ignore me! I was using the wrong commits.  This wortked:

[code]

[2019-07-25 13:21] engcom-Charlie commented on #23448
This issue is not reproduced on fresh magento 2.3.2 and 2.3-develop.

[2019-07-25 13:21] #23448 closed, assigned to engcom-Charlie

[2019-07-25 13:22] rani-priya opened #23886 "Bundle Product Show Incorrect Price if bundle options has only one multiple select option"
### Preconditions (*)

1. Magento version: 2.3.2
2. Php version: 7.2.19
3. Mysql version: 5.7.27

### Steps to reproduce (*)

1. Create a bundle product
2. Now add some bundle items along with a bundle item of input type **multiple select** which has only **one** default option and make it as required.
3. For Example(use options set like it) :
![image](https://user-images.githubusercontent.com/516

[2019-07-25 13:24] sushee1 commented on #6173
@Tereta what are the exact steps to implement the solution, could you please share file name?

[2019-07-25 13:36] Dzhus111 commented on #23808
It's seems the problem is with template difference  2.3.1 with 2.3.2
If you rewrote the template vendor/magento/module-checkout/view/frontend/web/template/billing-address.html in your theme for magento 2.3.1, you can not see that this template is changed a lot in   2.3.2.  In old version (2.3.1) the template Magento_Checkout/billing-address/list inserted directly in billing-address.html, but in 2.

[2019-07-25 13:53] engcom-Bravo commented on #23865
Not reproduced on 2.2-develop, nether on CE nor on EE versions. Reproduced on 2.3-develop but only on EE version.

[2019-07-25 13:55] magento-engcom-team commented on #23865
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18592` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 14:09] dmytro-ch commented on #23886
@magento give me 2.3-develop instance

[2019-07-25 14:09] magento-engcom-team commented on #23886
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-25 14:10] magento-engcom-team commented on #23886
Hi @dmytro-ch, here is your [Magento instance](https://i-23886-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23886-2-3-develop.instances.magento-community.engineering/admin](https://i-23886-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-25 14:36] gwharton opened #23889 "Sales Order Grid column ordering not saved properly"
### Preconditions (*)
1. magento 2.3-develop vanilla

### Steps to reproduce (*)
1. deploy 2.3-develop

[code]

### Expected result (*)
1. Column ordering is maintained across page refreshes
2. "?isAjax=true" calls should only be made immediately after column move, not page refresh

### Actual result (*)
1. Seemingly randomly chosen columns move on successive page refreshes (not every refresh).
2.

[2019-07-25 14:38] magento-engcom-team commented on #19469
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18593` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 15:10] jeffekg commented on #7497
Getting this on 2.3.2 EE

[2019-07-25 15:37] katesuykovskaya opened #23890 "Price attribute is enabled for dynamic price type on bundle product edit page in admin"
### Preconditions (*)

1. Magento 2.3.1 CE

### Steps to reproduce (*)

1. go to admin panel Stores -> Configuration -> Catalog -> Catalog -> Product Alerts, enable either Allow Alert When Product Comes Back in Stock = Yes or Allow Alert When Product Price Changes
2. go to Catalog -> Products, edit bundle product with Dynamic price type

### Expected result (*)

1. Price attribute should be disabl

[2019-07-25 15:43] jeffekg commented on #19469
In the meantime, just curious if simply patching this to remove the 2 lines of code firing the indexer would cause issues?

[2019-07-25 16:49] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-07-25 16:49] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-25 16:49] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-25 16:53] vbuck commented on #19469
Trying to be productive here, but surely our frustration can only be contained for so long:
- November 30, 2018, Magento closed the issue because I mentioned Commerce Edition
- December 4, 2018, Magento reopened the issue because (as I said) it affects Open Source
- December 5, 2018, Magento created internal ticket to track as legitimate issue
- December 27, 2018, Magento closed the issue based on

[2019-07-25 17:09] maderlock commented on #23625
I'm getting the same problem of constantly spinning up consumers under Magento 2.3.2 on Amazon Linux.

Oddly, this has procps installed, so there must be some other reason it is not able to find the processes. It is writing to the .pid file, so I do not think this is a permissions problem.

[2019-07-25 17:14] davidduong90 opened #23892 "Configurable product validation doesn't work correct"
Summary of the issue:
When I click add cart it show second option. I think it should show first option.

Now it show:
  [1]: https://i.stack.imgur.com/nJIEl.png
I think it should show
  [2]: https://i.stack.imgur.com/vTYu4.png

Information on my environment:
I'm using magento 2.3.2 and window 10.

Steps to reproduce:
+Install magento 2.3.2 with sample data
+Check any configurable product
+Click to

[2019-07-25 17:15] gwharton commented on #23625
The version of PS needs to support the --pid switch or you need the POSIX php module enabled. Like you say it launches and successfully creates the pid file.

[2019-07-25 17:17] gwharton commented on #23625
I wonder if the return value of PS differentiates between "unknown option --pid" and "process not found"

[2019-07-25 17:53] hostep commented on #19469
Guys, there is a PR over here for this issue, if you scroll up a bit to 15 February, you'll see it being linked: https://github.com/magento/magento2/pull/21235 (we just need somebody to finally approve it).

[2019-07-25 18:36] vbuck commented on #19469
Thanks @hostep. It was my mistake for not catching that reference and it seems my heat is undue. I can see in #21235 there has been a lot of activity. However it looks like @orlangur still has some problem with that proposed solution, based on the last resolved review comment. I will continue to monitor that thread for a solution, and I'm marking this one as closed.

[2019-07-25 18:38] hostep commented on #19469
Please leave it open until #21235 is merged :)

[2019-07-25 18:39] vbuck commented on #19469
No problem. I tried to lighten your load in tracking everything :)

[2019-07-25 18:47] zsebacher-integritystl commented on #15328
Has this ever been fixed? This issue is over a year old and creating an invoice from the api should work out of the box. The lack of responsiveness from the magento team is just absolutely mind blowing.

[2019-07-25 18:57] gwharton commented on #23625
[code]

[code]
This is on Ubuntu 19. The mechanism cannot detect the difference between ps being called with an unknown argument, or ps -p being called on a process id that doesnt exist. Both return 1.

[2019-07-25 18:59] DrewRobertson commented on #12560
I'm still getting this problem on 2.3 CE, PHP 7.3

[2019-07-25 19:12] vinayshah commented on #19710
I have created temp fix to skip cache folder and fetch the main product image. https://github.com/rapiddive/fiximage

[2019-07-25 19:25] itecedor commented on #17634
I am also experiencing this problem intermittently in 2.3.2, but without a `var/.regenerate` file at all. It just happened again in production even though I had not run composer, and seems to happen consistently given enough time.

Based on the commends in this issue I suspect it has to do with concurrent cron jobs -- I have crons configured to run 3 processes at once. Will test bringing that down

[2019-07-25 19:36] magento-engcom-team commented on #19469
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18593` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-25 19:58] DrewML commented on #23821
No problem @davidverholen - appreciate the thorough bug report. Getting it assigned out to someone internally

[2019-07-25 20:24] karlhass15 commented on #22353
Same SQLSTATE[HY000]: General error: 1025 Error on rename of './magento2/#sql-1_2fb' to './magento2/customer_group' (errno: 150 - Foreign key constraint is incorrectly formed), query was: ALTER TABLE `customer_group` MODIFY COLUMN `customer_group_id` int(10) UNSIGNED NOT NULL  AUTO_INCREMENT  2.1 to 2.3.2 upgrade

[2019-07-25 20:47] edumart16 commented on #19208
@engcom-backlog-nazar im having the same problem in 2.3.2 version and i see all the related tickets and nothing works for me. I wait for your answer, I didn't want to generate a new issue because maybe something I did wrong.

[2019-07-25 22:28] Sherbieny commented on #23618
I can confirm that this is also happening at random in a commerce 2.3.2 version
 error: Invalid customer address id 2 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): Invalid customer address id 2 at "path/to/server"/vendor/magento/module-quote/Model/QuoteAddressValidator.php:79)"} []

[2019-07-25 23:29] rob-gonz commented on #5662
@hamdrew , @piotrekkaminski,  can we get this ticket re-opened?  Please review @nikoelgatito post.  He explained it very well.  The current functionality does not meet industry standards for the terms MAP and MSRP.    This directly affects how we market to consumers on product pages and listings.  We are having to create our own custom functionality as a workaround.

Since the post was copied the

[2019-07-26 00:45] edenduong opened #23895 "No validation "Minimum Qty" on "Minimum Qty Allowed in Shopping Cart" field"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to "Store->Configurations->Catalog->Inventory"
2. Uncheck "Use system value" on "Minimum Qty Allowed in Shopping Cart" (Product Stock Options)
3. "Add Minimum Qty", leave them empty
![image](https://user-images.githubusercontent.com/8234209/61917819-21886000-af79-11e9-8b17-d2c556c203eb.png)
4. Save configuration
5. Fi

[2019-07-26 01:13] Gypsy7 commented on #18148
Any fix released for this issue? we stuck on 2.2.8 and 2.3.2

[2019-07-26 03:15] bahramdavodi commented on #19710
@vinayshah ,
it's work for me.

thanks

[2019-07-26 04:52] ajijshekh123 commented on #23892
@davidduong90 -Please follow issue-reporting guideline to report an issue with all issue reproducible steps.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Thanks.

[2019-07-26 06:05] kirtinariya1 opened #23897 "Sales Configuration in the Minimum Amount field have not proper validation"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

`Sales` configuration in the `Sales` have `Minimum Order Amount` have a field `Minimum Amount` that field have used Minimum Order Amount. But issue is that field taking any of the value. There should be take proper validation.

1. Login to the Magento 2 admin.
2. Go to the STORES >> Settings >> Configuration >> Sales >> Sales >>

[2019-07-26 06:06] kirtinariya1 commented on #23897
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-26 06:06] magento-engcom-team commented on #23897
Hi @kirtinariya1. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-26 06:07] magento-engcom-team commented on #23897
Hi @kirtinariya1, here is your [Magento instance](https://i-23897-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23897-2-3-develop.instances.magento-community.engineering/admin](https://i-23897-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-26 06:11] magento-engcom-team commented on #23897
@kirtinariya1 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-26 06:39] engcom-Alfa commented on #23851
Hi @junaidq57 ! Thank you for your report.
This issue is duplicate to [#19710](https://github.com/magento/magento2/issues/19710)

[2019-07-26 06:39] #23851 closed, assigned to engcom-Alfa

[2019-07-26 06:45] magento-engcom-team commented on #22952
Hi @a-t-s.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-26 06:54] engcom-Alfa commented on #23883
Hi  @patellalit   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-07-26 06:54] #23883 closed, assigned to engcom-Alfa

[2019-07-26 07:11] engcom-Charlie commented on #7570
I can't reproduce this issue on fresh Magento 2.3-develop and 2.3.2 branches.

**Manual testing scenario:**
1.Login to admin
2.Create a simple product
3. Go to customer view
4.Login to customer account
5.Add a product to your basket (remember which product you added)
6.Go to checkout and select a delivery address (do not process a transaction)
7.Back to the cart
8.Remove the product from basket
9.

[2019-07-26 07:18] Gurdit opened #23899 "system.xml file validation issue"
### Preconditions (*)

1. Magento commerce 2.3.2
2. Nginx server
3. Php 7.2

### Steps to reproduce (*)

1. In system.xml if you forgot to add label tag in inside field tag, your config will be locked as cache and it will not save any value to the database. as shown below:
`<field id="example_id" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">            <fron

[2019-07-26 07:23] Gurdit commented on #23899
yes

[2019-07-26 07:24] Gurdit commented on #23899
@magento yes

[2019-07-26 07:48] b2bdokter commented on #7570
Yesterday my customer reported after I told him to order a item:

**It says costumer invalid adress id 3832, when i try**

At the moment , I am not be able to login to the magento backend ( out of the blue) so my first 2 hours I need to solve that again... But it is such a buggy platform I can't believe it seriously considering to start using another CMS system in the future, Tons of bugs, a lot o

[2019-07-26 07:51] engcom-Charlie commented on #23886
Hi, @rani-webkul ! I can't reproduce this issue on vanilla Magento 2.3.2.

**Manual testing scenario:**
1.Create a bundle product
2.Now add some bundle items along with a bundle item of input type multiple select which has only one default option and make it as required.
3.Add second option with multiple select with another product added and set is default
4.Save product
5.Go to the product page
6

[2019-07-26 07:52] horebecommerce commented on #15427
@gewaechshaus did you mean it is because of customizing the Order increment ID? if so how can we solve this issue after adjusting the increment ID using below update via di.xml as below?

<type name="Magento\Framework\DB\Sequence\SequenceInterface">
        <arguments>
            <argument name="pattern" xsi:type="string">%s%'.04d%s</argument>
        </arguments>
    </type>

As I don't see this

[2019-07-26 07:57] emilev79 commented on #19710
@vinayshah Are there any disadvantages (performance) to your solution?

[2019-07-26 07:58] engcom-Alfa commented on #23750
Hi @Arthi22 ! Thank you for report.

I am not able to reproduce this issue on fresh 2.3-develop instance. All works correct.
In my case, I have 3002 products in store. Then generate the export products file.

**Actual Result:** All 3002 products was found in export file

![screen](https://user-images.githubusercontent.com/51679138/61935058-5523b400-af92-11e9-9f6a-e9d0207bfbd9.png)

this may be rel

[2019-07-26 07:58] #23750 closed, assigned to krishprakash, engcom-Alfa

[2019-07-26 08:02] edenduong opened #23900 "Report->Product->Downloads has wrong ACL"
As my inspection, I see controller app/code/Magento/Reports/Controller/Adminhtml/Report/Product/Downloads.php has wrong acl in ADMIN_RESOURCE
=> admin with no permission "Report/Downloads" still access the Downloads Report.

### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Go to Store->Configuration, Advanced->Admin, Set **"Add Secret Key to URLs" : "No"**

![image](https://us

[2019-07-26 08:07] rani-webkul commented on #23886
@magento give me 2.3-develop instance

[2019-07-26 08:07] magento-engcom-team commented on #23886
Hi @rani-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-26 08:08] magento-engcom-team commented on #23886
Hi @rani-webkul, here is your [Magento instance](https://i-23886-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23886-2-3-develop.instances.magento-community.engineering/admin](https://i-23886-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-26 08:15] engcom-Charlie commented on #7570
@b2bdokter , you can try to reproduce it on fresh 2.3-develop instance. I will request instance for you.

[2019-07-26 08:15] engcom-Charlie commented on #7570
@magento give me 2.3-develop instance

[2019-07-26 08:15] magento-engcom-team commented on #7570
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-26 08:16] magento-engcom-team commented on #7570
Hi @engcom-Charlie, here is your [Magento instance](https://i-7570-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-7570-2-3-develop.instances.magento-community.engineering/admin](https://i-7570-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-26 08:19] rani-webkul commented on #23886
Hi @engcom-Charlie

it's reproducible. Please check https://i-23886-2-3-develop.instances.magento-community.engineering/bundle-product.html

![bundle2](https://user-images.githubusercontent.com/44425160/61937304-316d6780-afac-11e9-9d66-805ad83115e7.png)

![bundle1](https://user-images.githubusercontent.com/44425160/61937325-3cc09300-afac-11e9-9ec7-e201f63a92be.png)

[2019-07-26 08:22] engcom-Bravo commented on #23881
Not reproduced on 2.2-develop.

[2019-07-26 08:22] magento-engcom-team commented on #23881
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18652` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-26 08:22] engcom-Delta commented on #23601
**Steps to reproduce:**
- Create product with Customizable Options:
- ![#23601IssueProduct](https://user-images.githubusercontent.com/51681379/61936983-87cfab80-af96-11e9-9042-e944ae310eaf.png)
- Check `option_type_id` in table `catalog_product_option_type_value`
- Export this product
- Edit in csv file custom options title and/or price
- Save scv file and import it
- Check `option_type_id` in tab