[2016-08-29 06:27] amansrivastava commented on #5686
Actual problem is in Order Item Model, It serializes the product_options column data in sales_order_item table every time it saves so the array becomes string next time and Block fails in rendering it.

I created a small snippet to convert the additionally serialized data to serialized array info only for the existing orders, waiting for the fix.

[2016-08-29 06:33] acharrex commented on #6373
Check if an attribute "cart_message" exists in the table "eav_attribute" (column "attribute_code").

[2016-08-29 06:37] devonto commented on #6302
I have also tried to use the `<sequence>` tag in `module.xml` to have it load after `Magento_Sales`, but no joy.

[2016-08-29 06:49] sumihiro commented on #2739
@pboisvert  Oops, I fix my report.
The Product is saved, but never updated with error message, "We can't save custom-defined options with price type "percent" for configurable product.".

[2016-08-29 07:00] Umfi commented on #6273
Hey, i tested in on 2.0.9.. same error...

here the full code:

`
<?php
namespace Company\Module\Observer;

use Magento\Framework\Event\ObserverInterface;

class AfterCustomerSave implements ObserverInterface {

[code]

}

`

But on confimation of email:
![image](https://cloud.githubusercontent.com/assets/13978552/18043258/fcdf8e78-6dc6-11e6-93a1-8dd81a9f8a45.png)

EDIT: I have added a custom even

[2016-08-29 07:10] ihor-sviziev commented on #6366
@wired-circuit it's not good idea to use user root as owner. Would be great to use apache or www-data user as owner.
 Also cron jobs should be ran from that user

[2016-08-29 07:12] TommyKolkman commented on #6326
Version 2.0.8.

Steps to reproduce:
Add a widget directive with text fields, add some plusses (or other characters) to them. Save it in a page, and check the output.

Expected result:
The text result with plusses (or other characters).

Actual result:
No special characters are shown, just normal (a-z, 0-9) text.

Hope I'm clear enough now.

[2016-08-29 07:13] veloraven commented on #6371
@Pistrik thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-29 07:17] veloraven commented on #6366
@wired-circuit thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-29 07:30] loganathan-r commented on #6294
@tkacheva When will the fix be available? or Can you provide a patch for the issue? we need to go live next week with fix

[2016-08-29 07:31] patrickpeng2091 commented on #5836
I have the same problem in 2.0.7 ,PHP7.0.8 ,mysql 5.6.30
![image](https://cloud.githubusercontent.com/assets/4326820/18043869/1e2cd064-6dfd-11e6-9a62-60e50e90f432.png)

running bin/magento indexer:reindex ,
Customer Grid index has been rebuilt successfully in 00:00:00
Category Products index has been rebuilt successfully in 00:00:00
Product Categories index has been rebuilt successfully in 00:00:0

[2016-08-29 07:53] AVoskoboinikov commented on #6075
Hi. @renu2jcommerce

Could you please look at this issue https://github.com/magento/magento2/issues/6099 ? It seams that you have the same problem with configuration. Try to use example from that issue, it should help you.

[2016-08-29 07:55] wired-circuit commented on #6366
I have updated the title and content to include the version number 2.1.0 as requested.   The steps are followed are listed (in full) and follow the documentation provided by the host Amazon and those provided by Magento, both URL's are listed.  My approach has not been to just resolve the issue, but to provide updated documentation for others which is formatted better and without presumption that

[2016-08-29 07:59] enrico69 opened #6374 "Magento EE 2.1 : Grid in admin, data loaded but loading spinner animation overlay still displayed"
### Preconditions
1. **OS** of the server: Debian (Virtualized, with 3GB of memory)
2. **OS of the client**: Windows 7
3. *\* Browser of the client**: Chrome Version 52.0.2743.116 m (64-bit). Also tried with Firefox 44.0.2
4. **MySQL:** Ver 14.14 Distrib 5.6.31
5. **PHP:** PHP 7.0.8-1~dotdeb+8.1 (cli) ( NTS )
### Steps to reproduce
1.  Create a grid in the back office of the application, in order

[2016-08-29 08:04] ihor-sviziev commented on #6366
@wired-circuit Right now it's correct

[2016-08-29 08:07] veloraven commented on #6351
@seansan thank you for your feedback.
As I can see from #1099 it could not be marked as bug as it works by design.
However if you insist it to be a bug please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. Please, also provide the used Magento version.

[2016-08-29 08:20] katmoon commented on #2703
@rosandrest please open a new ticket and describe the detailed steps, Magento mode, any errors in Magento or php/apache error logs if present.
It can be a different issue.

[2016-08-29 08:24] seansan commented on #6351
The question is if we can change the design

And make it work better

This seems a quick win: because the funcctionality already exists .... only
yhe config value needs to bee applied 1 lever lower

So in short; one needs to discuss this in the DEV / Architect team

Use cases have been supplied, the case is clear, the advantages too ...

On Mon, Aug 29, 2016 at 10:07 AM, Olga Moyseyenko notificati

[2016-08-29 08:25] katmoon commented on #5213
There is internal ticket `MAGETWO-55201` to fix this issue.

[2016-08-29 08:29] loekderooij commented on #4389
This is not caused by the cache key. The rule property is a shared object. This can be solved by defining the rule argument in the constructor as not shared in di.xml.

[code]

[2016-08-29 08:39] grasdaggel commented on #3923
No.

[2016-08-29 08:51] wired-circuit commented on #6366
Perfect!  I did that, cleaned down the log and waited.. There are no errors now and I think that may well have also solved the performance issue I was experiencing. Thank you @ihor-sviziev for your input.  Maybe the Magento document author could update with some more notes?

[2016-08-29 09:01] AVoskoboinikov commented on #5987
Hi, @senthilengg

Thanks for provided steps, but I can not reproduce this issue. I am using CE 2.1 with Sample Data and generated csv contains all configurable products that I need (they are displayed at the bottom of the csv file). Please look at the attached screenshot. There is configurable product with sku MH01 and you can find it in csv file too.

So, could you please recheck you steps and ge

[2016-08-29 09:09] denis-g opened #6375 "Magento EE 2.1: after moved 'product.info.details' into 'product.info.main' add-to-cart not work"
If you need move `product details` above `add to cart` block we can't add product in cart.
### Preconditions
1. Magento 2.1 EE
### Steps to reproduce
1. Add to layout xml
   `<move element="product.info.details" destination="product.info.main" before="-" />`
2. Create product with swatch options (color, size, etc.)
3. Open category page
4. Open product page and add product to cart
### Actual resul

[2016-08-29 09:10] alena-marchenko commented on #5714
Hi @pstoute

Fix for MAGETWO-56344 ticket is already merged to develop branch.
Closing the issue, please feel free to reopen if the issue still reproducible for you.

[2016-08-29 09:10] #5714 closed, assigned to asemenenko, alena-marchenko

[2016-08-29 09:15] alena-marchenko commented on #6073
Hi @romeof1980

Fix for MAGETWO-56745 ticket is already merged to develop branch.
Closing the issue, please feel free to reopen if the issue still reproducible for you.

[2016-08-29 09:18] alena-marchenko commented on #5910
Hi @flecxie

Fix for MAGETWO-56342 ticket is already merged to develop branch.
Closing the issue, please feel free to reopen if the issue still reproducible for you.

[2016-08-29 09:18] #5910 closed, assigned to alena-marchenko

[2016-08-29 09:20] alena-marchenko commented on #5857
Hi @ytorbyk

Fix for MAGETWO-56115 ticket is already merged to develop branch.
Closing the issue, please feel free to reopen if the issue still reproducible for you.

[2016-08-29 09:20] #5857 closed, assigned to alena-marchenko

[2016-08-29 09:23] wired-circuit commented on #6366
Nope, its back again;

[code]

[code]

[2016-08-29 09:28] alena-marchenko commented on #6136
Hi @chiragayartops

Closing this issue due to no response, please reopen when you have an update.

[2016-08-29 09:28] #6136 closed, assigned to alena-marchenko

[2016-08-29 09:29] alena-marchenko commented on #6125
Hi @hummerh2

Closing this issue due to no response, please reopen when you have an update.

[2016-08-29 09:29] #6125 closed, assigned to alena-marchenko

[2016-08-29 09:34] alena-marchenko commented on #5862
Hi @quienti

Closing this issue due to no response, please reopen when you have an update.

[2016-08-29 09:34] #5862 closed, assigned to alena-marchenko

[2016-08-29 09:35] AVoskoboinikov commented on #5850
Hi, @tbenny

Thanks for reporting. We already have this issue here https://github.com/magento/magento2/issues/2574 so I will close this one because of duplication. You can watch progress on https://github.com/magento/magento2/issues/2574 if you need.

[2016-08-29 09:36] #5850 closed, assigned to nobody

[2016-08-29 09:40] shockwavemk commented on #4883
Hi :)

The solution for most of this not translated errors in validation is the following library "mage/validation". Most of the returned messages do not call the mage translation method.

You can override the file with your own file by using a module with a requirejs-config:

[code]

You can translate every validation hint after surronding it with a $.mage.__('') method call:

`$.mage.__('Please

[2016-08-29 09:41] alena-marchenko commented on #5735
Hi @joebusby

Does the issue still reproducible for you?

[2016-08-29 09:43] alena-marchenko commented on #5718
Hi @eric128

Closing this issue due to no response, please reopen when you have an update.

[2016-08-29 09:43] #5718 closed, assigned to alena-marchenko

[2016-08-29 09:45] odubovyk commented on #6320
Internal ticket MAGETWO-57726

[2016-08-29 09:46] maurolm commented on #4411
+1
magento 2.0.9

steps to reproduce:
1. create a new product and insert a description with some html code inside
2. save the product
3. check the field "meta description", it contains some html tags

I think while copying the data from description it should clean the code

[2016-08-29 09:48] picamator commented on #6320
@AppChecker Thanks for reporting.
We've created internal ticket MAGETWO-57727 to fix it.

[2016-08-29 09:48] sevos1984 commented on #6255
Thanks for clarification. I've repeated your steps and got the issue. Api uses locale setting from Configuration->General->Locale Options. User language is only for admin panel language. This is desired behavior. If you want to use EN you have to add english storeview and use it you request (e.g. rest/en/V1/products/$sku)

[2016-08-29 09:48] rudik99 commented on #6167
I wish someone could help us with a short term fix, I'm stuck with bugs re configurable product in 2.0.9 and this error in 2.1

[2016-08-29 10:04] ihor-sviziev commented on #6366
@wired-circuit  From which user are you executing your php-fpm or apache? He should be owner

[2016-08-29 10:10] sevos1984 commented on #6356
Hi! Unfortunately I can't reproduce your problem. Have you tried clearing browser cache after deployment/install/update? Or if you have added/removed any of your stores/websites did you run reindex?

[2016-08-29 10:16] onepack commented on #4883
@shockwavemk
Yeah, I saw this solution a couple of times but in my opinion this should be translatable by a translation or theme translation. So without an extra module.
I will use this solution for the time being until it is solved in a coming M2 release.

[2016-08-29 10:27] sevos1984 commented on #6350
Thanks for reporting, intrnal ticket MAGETWO-57733

[2016-08-29 10:38] veloraven commented on #3078
@teuma86 ,
this issue should be already fixed.
But if it is still reproduces please specify Magento version you use.

[2016-08-29 11:09] wired-circuit commented on #6366
I just changed again to ec2-user:apache;

[code]

Disabled the ec2-user cron job and enabled as the apache user account;

[code]

Which brings the site back online.  Commands like "php bin/magento cache:flush" work, but only for a period of time, then after ten or more minutes the problem returns.  Running php bin/magento cache:flush for example returns error messages of this sort;

[code]

Which

[2016-08-29 11:16] bijalbhavsar commented on #5670
We are facing exactly same issue with toolbar. Is there any solution for this issue?

[2016-08-29 11:21] joebusby commented on #5735
Disabling "Transfer cart items" seems to have fixed the problem, and
since our instance is live and I would have to re-enable that and put
large dummy orders in to test it,  so I have elected to just leave
"Transfer cart items" off.  If you have a system set up on the
"Sandbox", you might want to test it.   Otherwise, you could close this
thread and wait to see if someone else has the problem.  If

[2016-08-29 11:21] bery commented on #5263
@andidhouse Could you please share what was wrong with your configuration with others in case someone else has similar issues? We are struggling with the server performance as well and any sort of help/inspiration is welcome!

[2016-08-29 11:48] shockwavemk commented on #4883
Some additional hint: some errors are still not translateable by default even if you surround all values in validation.js. For example: passwords have to be same.

To solve this issue just add an override of the method "equalTo" (jquery.validate.js) into the validation.js

[code]

[2016-08-29 11:58] zeljkoprsa commented on #3386
@wert2all  Can confirm that it's working correctly now on 2.1.

[2016-08-29 12:01] AVoskoboinikov commented on #5648
Hi, @PierAlex

Thanks for reporting this issue, I have created ticket for it in our internal JIRA (MAGETWO-57747). This issue will be closed after fix.

[2016-08-29 12:03] krzysztofkacela commented on #6331
@veloraven thank you for response.
I've changed format.

[2016-08-29 12:18] ankitce opened #6376 "ACL - swatch image upload responds 403"
Tested in Magento version **2.1.0**
### Steps to reproduce
1. Create a new role with access to 'Attributes'. Create a new user to be associated with the newly created role.
2. Logout admin and login back with the recently added user credentials.
3. Try to upload swatch image for an attribute - say color.
### Expected result

It should set the image for the swatch if there is no error.
### Actual r

[2016-08-29 12:27] katmoon commented on #6289
Hi @LS-Supriya

According to the docs, Varnish response headers are displayed only in Developer mode:
http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish-configure.html

Does this solve your problem?

[2016-08-29 12:32] to8gal opened #6377 "product page ask to choose option when no option is set"
### Preconditions

I´m on a dev enviroment on mac

mamp with mysql 5.6 and php 7.0.8 for magento 2.2  with Luma Theme
### Steps to reproduce

1. trying to add product form the product list page but it redirect to product page
2. Try there as well with same result, warning message "You need to choose options for your item."
3. no option is set on backend, not for the configurable or the children
4.

[2016-08-29 12:34] PascalBrouwers commented on #4859
Found out this is now a setting in the backend:
Configuration->Checkout->Shoppin Cart->Configurable Product Image = Product Thumbnail itself

[2016-08-29 12:34] #4859 closed, assigned to asemenenko

[2016-08-29 12:49] veloraven commented on #6328
@wblayney thank you for your feedback.
Was it CE or EE?

[2016-08-29 13:00] veloraven commented on #6359
@daschenbrener thank you for your report.
Did you check if it worked on ver. 2.0.7 after migration?
Do you have multi-store instance?

[2016-08-29 13:09] farior opened #6378 "Admin configurable product edit: Notice: Undefined variable"
Notice on configurable product edit after upgrade from 2.0.7 to 2.0.9
### Preconditions
1. Nginx 1.9.14
2. PHP 7.0.6
3. Magento 2.0.9
### Steps to reproduce
1. Go to admin > Products > Catalog
2. Click edit on configurable product
### Expected result
1. Product edit page should open without notices, warning, errors etc.
### Actual result
1. Notice: Undefined variable: websiteId in /var/www/vendor/

[2016-08-29 13:17] sevos1984 commented on #6213
Thanks for reporting, internal ticket MAGETWO-57753

[2016-08-29 13:25] jakobfdev commented on #3284
Anything happend so far? It would at least be helpful, if the method names in the CreditMemoInterface would suggest, if adjustments are included or not like with ...InclTax suffix. This is a little incoherent...

[2016-08-29 13:30] katmoon commented on #5688
Hi @stamster

Thanks for reporting it!
I've logged it internally as `MAGETWO-57755`

Thanks,
Kateryna.

[2016-08-29 13:36] AlessandroStaffolani opened #6379 "Can't add new step on checkout onepage"
Hi,

I'm trying to add a step on checkout page, I've create a new module, I follow the tutorial on [magento dev documentation](http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_new_step.html) , but the new step It's not added. I don't get any errors and there's not my js file in the sources of the page.

I also tryed to remove pub/static folder and generete it again, but nothig works

[2016-08-29 13:38] veloraven commented on #6369
@BardiaAfshin thank you for your feedback.
You can find instruction how to [Configure and Run Cron](http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-cron.html) here. If you do not want to set up your cron and want to run it manually you have to run _./bin/magento cron:run_ in command line, but you have to do it twice: first time a task to be scheduled and second time

[2016-08-29 13:42] katmoon commented on #5722
Hi @aliantech

I'm sorry for the delays in answering.
If it's still an issue, could you try to clear browser cache, Magento cache from Admin > System > Cache Management, and redeploy static content? It can help.

Thanks,
Kateryna.

[2016-08-29 14:08] sevos1984 commented on #3572
We will close this issue as not updated more than 2 weeks if this issue still reproducible please feel free to create the new one.

[2016-08-29 14:08] #3572 closed, assigned to slavvka

[2016-08-29 14:14] veloraven commented on #2976
This issue should have been fixed already in develop branch.
@keithbentrup what version was this issue created for?
@maderlock what version do you use?

[2016-08-29 14:36] alena-marchenko commented on #6053
Hi @nmallepally

MAGETWO-54412 internal ticket is creating regarding this issue.
Closing this issue as duplicate of #4580
Feel free to create new one if you experience other issues.

[2016-08-29 14:36] #6053 closed, assigned to alena-marchenko

[2016-08-29 14:54] davidaddison commented on #5902
Any ETA on a fix?

[2016-08-29 14:56] enrico69 opened #6381 "Magento EE 2.1 : Product is not saved"
### Preconditions

OS of the server: Debian (Virtualized, with 3GB of memory)
OS of the client: Windows 7
*\* Browser of the client**: Chrome Version 52.0.2743.116 m (64-bit). Also tried with Firefox 44.0.2
MySQL: Ver 14.14 Distrib 5.6.31
PHP: PHP 7.0.8-1~dotdeb+8.1 (cli) ( NTS )
### Steps to reproduce
1. In the back end: create a product.
2. Save or Save and close
### Expected result

1. The prod

[2016-08-29 14:57] AVoskoboinikov commented on #3139
Hi, @Pakkapao

Thanks for reporting this issue, I have created ticket in our internal JIRA to fix it (MAGETWO-57766). This issue will be closed after fix.

[2016-08-29 15:04] sevos1984 commented on #6362
Hi! Why do you think it is wrong? According to standards separators in es_XX locale are opposite to en_XX. See example https://en.wikipedia.org/wiki/Decimal_mark#Examples_of_use

[2016-08-29 15:06] patruvlad opened #6382 "Image Swatch size change not working"
**Preconditions**
1. Magento CE 2.1.0

**Steps to reproduce**
1. Create a product attribute with Catalog Input Type for Store Owner set to "Visual swatch"
2. Create configurable product with the attribute above set to the configurations
3. Check the image swatch size in frontend ( Product List )
4. In "YOUR THEME/etc/view.xml" add changes for the image swatches

[code]
1. Flush Cache & recheck the

[2016-08-29 15:08] pboisvert commented on #6377
closing as duplicate of #5882

[2016-08-29 15:08] #6377 closed, assigned to nobody

[2016-08-29 15:08] ghost commented on #6373
The field 'cart_message' doesn't exist in the eav_attribute, am I missing something in the code? Looking at the definition of ENTITY doesn't tell me much, what does 'apply_to'  field in the array signify? Is there some more detailed docs in this?

[2016-08-29 15:08] mimarcel commented on #5780
@valibus I did create a PR with a possible fix https://github.com/magento/magento2/pull/6380.
@oserediuk This seems to be a critical product import issue. It would be great to have a look at it asap.

[2016-08-29 15:21] sevos1984 commented on #6336
Hi! You can edit any profile that is working and add as many entities as you need, e.g small.xml is working for me.

[2016-08-29 15:22] ghost opened #6383 "module shows up via module:status but error on module:enable"
when you run

[code]

it installs the module , and it shows up under the vendor directory. When I run

[code]

it shows the module, at the very top of the list,
but when I run ./bin/module enable:BardiaModule_ProductAttribute I get

[code]

I get unknown module error, hmm.

[2016-08-29 15:22] piotrekkaminski commented on #6285
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:22] #6285 closed, assigned to nobody

[2016-08-29 15:22] piotrekkaminski commented on #6221
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:22] #6221 closed, assigned to nobody

[2016-08-29 15:23] piotrekkaminski commented on #5748
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #5748 closed, assigned to nobody

[2016-08-29 15:23] to8gal commented on #5882
Yes I do have this issue too, but some users here describe it as generated in the Category page, but to me is also generated in the product view page, I also wanna add I´ve noticed a reference to Percentage prices in the back end under the customazible options menu as warning, that I don´t really understand cause all my product have no options, just configurable with children

[2016-08-29 15:23] piotrekkaminski commented on #3768
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #3768 closed, assigned to vrann

[2016-08-29 15:23] piotrekkaminski commented on #2987
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2987 closed, assigned to nobody

[2016-08-29 15:23] piotrekkaminski commented on #2980
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2980 closed, assigned to nobody

[2016-08-29 15:23] piotrekkaminski commented on #2813
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2813 closed, assigned to vkorotun

[2016-08-29 15:23] piotrekkaminski commented on #2785
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2785 closed, assigned to nobody

[2016-08-29 15:23] piotrekkaminski commented on #2709
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2709 closed, assigned to nobody

[2016-08-29 15:23] piotrekkaminski commented on #2661
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2661 closed, assigned to asemenenko

[2016-08-29 15:23] piotrekkaminski commented on #2660
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2660 closed, assigned to asemenenko

[2016-08-29 15:23] piotrekkaminski commented on #2530
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2530 closed, assigned to nobody

[2016-08-29 15:23] piotrekkaminski commented on #2443
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2443 closed, assigned to nobody

[2016-08-29 15:23] piotrekkaminski commented on #2427
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:23] #2427 closed, assigned to nobody

[2016-08-29 15:24] piotrekkaminski commented on #1980
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1980 closed

[2016-08-29 15:24] piotrekkaminski commented on #1922
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1922 closed

[2016-08-29 15:24] piotrekkaminski commented on #1919
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1919 closed

[2016-08-29 15:24] piotrekkaminski commented on #1915
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1915 closed

[2016-08-29 15:24] piotrekkaminski commented on #1912
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1912 closed

[2016-08-29 15:24] piotrekkaminski commented on #1907
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1907 closed

[2016-08-29 15:24] piotrekkaminski commented on #1853
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1853 closed

[2016-08-29 15:24] piotrekkaminski commented on #1823
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1823 closed

[2016-08-29 15:24] piotrekkaminski commented on #1746
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1746 closed

[2016-08-29 15:24] piotrekkaminski commented on #1047
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:24] #1047 closed

[2016-08-29 15:25] piotrekkaminski commented on #1039
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:25] #1039 closed

[2016-08-29 15:25] piotrekkaminski commented on #1011
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:25] #1011 closed

[2016-08-29 15:28] piotrekkaminski commented on #1235
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:28] #1235 closed

[2016-08-29 15:28] piotrekkaminski commented on #1191
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:28] #1191 closed

[2016-08-29 15:28] piotrekkaminski commented on #1161
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:28] #1161 closed

[2016-08-29 15:28] piotrekkaminski commented on #1135
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-29 15:28] #1135 closed

[2016-08-29 15:40] wired-circuit commented on #6366
I am abandoning this project like so many others before me.  This product is unfit for market and has been badly constructed. Poor documentation only makes matters worse.  It is clunky, slow and the path to production poorly developed with little consideration for those that may not be season Linux Systems Administrators.  For the record I have worked around the globe as a Senior Windows Sys Admin

[2016-08-29 15:41] jibrandlr commented on #6362
@sevos1984 I'm from Mexico, we use the decimal dot. You can see that in the first row from that wikipedia table.
For Spain they do use the comma separator.

I'd like to highlight that the issue is only present when price is loaded by JS, anywhere else in the store and backend, the price format is ok.

[2016-08-29 15:56] ddznelad opened #6384 "Custom option image upload fails check-out with PayPal"
Getting exception: Call to a member function isFile() on null in .../vendor/magento/module-catalog/Model/Product/Option/Type/File.php on line 452. If use payment methods other than PayPal it does not fail - copyQuoteToOrder function is used when use PayPal. In this function _rootDirectory variable never initialized anywhere and is therefore null. If I modify code and initialize the variable correc

[2016-08-29 16:15] sevos1984 commented on #6337
Hi! I can't reproduce it. Did you added your translation to app\code\Magento\Contact\i18n\en_US.csv and cleared cache after it?

[2016-08-29 16:23] daschenbrener commented on #6359
Yes it did work.
yes there are multi stores views

[2016-08-29 16:27] jwittorf commented on #6356
I've deleted the browser cache and re-ran the indexer:

[code]

It's a bit weird they all just run 00:00:00. After checking the backend I get a message `One or more of the Cache Types are invalidated: Page Cache. Please go to Cache Management and refresh cache types.`, it's the Page Cache/Full page caching/FPC entry.

In the debug.log I've found this:

[code]

Any hints on this? I found this: http

[2016-08-29 16:31] TClilMouse commented on #5020
Docroot is not /pub folder

[2016-08-29 16:38] navarr commented on #5138
Should this be moved to the forums as a feature request?

[2016-08-29 16:39] navarr commented on #1022
Should I close this issue and move it to the forums as a Feature Request for the Payment Request API?

[2016-08-29 16:39] navarr commented on #1068
Is there a bug, or is this still a feature request?  Should it be moved to the forums?

[2016-08-29 16:48] pboisvert commented on #1068
@navarr this is a feature request that is currently recorded in the ticket # above. We will move to the Forums and mark as investigating (since already recorded in backlog)

[2016-08-29 16:51] pboisvert commented on #5138
@asemenenko heads up on a feature request for Checkout customization

[2016-08-29 16:52] navarr commented on #1068
Thanks @pboisvert.  I was a little confused because an earlier comment lead me to believe it had been implemented.

[2016-08-29 18:35] janepoltoratskaya commented on #4232
is there any update on this issue?

[2016-08-29 18:39] esilvajr commented on #6339
@heldchen and @joni-jones i just change the PHP version to 7.0.10 and works fine again.

[2016-08-29 19:03] pboisvert commented on #1022
@navarr we will move this to forums and close this issue

[2016-08-29 19:07] developer-lindner commented on #6335
@Cacasapo @benmarks Looking through most of the issues here the last weeks and months, it seems like a big mess... Catalog, Attributes, Cart, Checkout, Backend... so many broken areas...  I can't imagine that someone really uses it in production. When will we be able to use it for real?!

[2016-08-29 19:14] milanstojanov commented on #5873
In my case, @gahehe point was almost there, but I figured it out after reviewing the thread, since it was a bit different.

The migration tool added a couple of rows to the end of eav_attribute_set table (didn't mess up increment ids as it was in his case). So for example, I see a row added:

+------------------+----------------+--------------------+------------+
| attribute_set_id | entity_type_i

[2016-08-29 19:27] milanstojanov commented on #4936
The solution: https://github.com/magento/magento2/issues/5873

[2016-08-29 19:44] dthampy commented on #6138
Internal ticket ->MAGETWO-57796 has been created for this issue. Thank you for the detailed bug report.

[2016-08-29 19:53] dthampy commented on #6088
@forvin , is this the same as https://github.com/magento/magento2/issues/6138 ?

[2016-08-29 20:21] heldchen commented on #6335
well, I'll know if it's really usable on september 5th - the very very last deadline for our current shop migration project to go online.

yeah, there are some broken things in 2.x - our company reported lots of issues. but you can work around most of them. we currently carry about 15 local patches and made quite a few modules that provide interceptors to make things work as intended. and lets not

[2016-08-29 20:40] frostshoxx opened #6386 "Magento 2.1 CE: Unable to Checkout via Paypal Express if Loggedin due to error 404 on API call to /carts/mine/selected-payment-method"
Hello,
I'm having some issue making a payment via Paypal Express checkout. If I were to place an order and select the payment while not logged in, it will make a call to /guest-carts/:cartId/set-payment-information and successfully send me to Paypal website. However, if I logged in, it will use the API /carts/mine/selected-payment-method instead, which will throw error 404.

I traced back to the c

[2016-08-29 21:33] apb-github opened #6387 "Cart Coupon returns "Invalid" if a product is added that has an expired special price"
### Preconditions

env1: DO ubuntu 16.04 / php5.5 / mysql 5.6 / Magento2.0.8
env2: Nexcess centos6.8 final / php 5.5 / mysql 5.6 / Magento2.0.8
### Steps to reproduce
1.  Create product with Advanced Price Pricing > Special Price [set a price], From Date [set date before today], To Date [set date before today]
2.  Create Cart rule... $ off for cart total over $$$, % off for any cart, etc
3. Add pr

[2016-08-29 22:34] heldchen opened #6388 "Cart / Minicart does not check if configurable product is still salable"
when a configurable product is being disabled in the backend while still in customers persistent cart, the cart (`/checkout/cart/` as well as the minicart) behaves as if the product is still salable. only after going into the checkout is the now non-salable product silently removed.
### Preconditions
1. CE 2.1.0
2. persistent cart is enabled
3. some configured product variants exists in store (usi

[2016-08-29 23:57] ddznelad commented on #6384
If I apply my fix and click the image link at order info page, the option data will not be found in Magento\Sales\Controller\Download controller "DownloadCustomOption" function;

[2016-08-30 00:41] rudik99 commented on #3942
@piotrekkaminski I don't think this is a feature request. This is a bug.
This functionality doesn't work in M2.X period; In addition the work arounds create security risks.
I think this should be re-opened;

[2016-08-30 01:27] Ctucker9233 commented on #6295
@hostep I wholeheartedly agree. The forums have a terrible response rate (as in none) and no one that works for magento seems to frequent it. Same thing goes for stackexchange.

[2016-08-30 01:39] fhennessy commented on #5377
[https://github.com/magento/magento2/issues/5144]

vendor\magento\module-catalog\view\frontend\templates\product\view\addtocart.phtml

You simply need to change

"bindSubmit": false

to

"bindSubmit": true

The initial value in the old code was overridden by the code in the inline script. However if you actually look at the widget itself you will see nothing happens if bind is set to false. NOTHIN

[2016-08-30 01:46] Ctucker9233 commented on #6238
@sevos1984 Wow! Judging by the magetwo number it's a pretty old known issue. Are we close to a fix?

[2016-08-30 02:25] frostshoxx commented on #6386
Ok I figured it out.. According to http://devdocs.magento.com/guides/v2.0/rest/list.html, looks like selected-payment-method no longer exist. Instead it hast o be POST   /V1/carts/mine/set-payment-information.

So on /vendor/magento/module-paypal/view/frontend/web/js/action/set-payment-method.js

Change from

[code]

to

[code]

[2016-08-30 02:36] frostshoxx commented on #6386
Link to pull request https://github.com/magento/magento2/pull/6389

[2016-08-30 02:36] #6386 closed, assigned to nobody

[2016-08-30 02:51] pantaoran commented on #3572
@sevos1984 I was able to work around the issue by modifying several core files. This is a hackish workaround which is not a real solution. If I remove those modifications then the issue is definitely still reproducible. I feel that the solution would need to come in form of a patch or a new release, and this issue should not be closed yet.

[2016-08-30 04:56] jonsaf commented on #5064
I am on Magento 2.1 and I can not get any tier pricing to display on Configurable Product Page.  Only the first tier simple price displays as you go to each option, nothing else.  The cart displays the correct pricing, but no indication from the product page why a customer just got a discount for ordering more quantity.

[2016-08-30 06:09] veloraven commented on #3513
@ljrweb is this issue still actual?
We were not able to reproduce it and internal ticket was closed.
I'm going to close this ticket as well.

[2016-08-30 06:24] picamator commented on #6259
@storepeinture thank you for issue report.
Unfortunately we cannot reproduce that problem.
Could you please add information about:
1. Do you have any crons running?
2. Do you notice images disappearance after some actions such as adding new product or cache clearing etc.? Could you provide those actions?

[2016-08-30 06:31] mikebox commented on #6302
Up to my observation, because of loading after Magento_Sales, it is not working. I tried to move before Magento_Sales(just for checking), working fine but it affects other things.

[2016-08-30 06:33] #6339 closed, assigned to nobody

[2016-08-30 06:45] veloraven commented on #4374
@SidneyBilliet thank you for your report.
Is this issue still valid?
If it is, please provide Magento version used.
If it is not, please close this issue.

[2016-08-30 06:50] flipflap opened #6391 "URL key of product doesn't change"
### Preconditions

1.  Magento 2.0.9
2. Apache Rewrite is on
### Steps to reproduce

1. Open products > catalog > product > Search Engine Optimization
2. I change the URL Key
3. Delete all cache in Magento Admin, and try all of this

[code]
### Expected result

1.  Product URL should change like URL key
### Actual result

1. There is still the old URL Key in use. The new one doesn't work

[2016-08-30 06:56] veloraven commented on #4425
@mrkhoa99 thank you for your feedback.
Is this issue still actual?
If it is, please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.
If it is not valid anymore, please close it.

[2016-08-30 07:02] #6366 closed, assigned to nobody

[2016-08-30 07:18] JacobDrummond commented on #6391
I had the same problem in single-store mode: #5929.

The solution was to change to multi-store, then batch-save all the products.

[2016-08-30 07:22] veloraven commented on #4460
@parthviroja the internal issues was already fixed in commit c2bbe72 and closed.
Please let us know if your issue is fixed or still reproduces (in case it had different cause).

[2016-08-30 07:24] YevSent commented on #5902
This fix already merged to develop branch [ce1160f](https://github.com/magento/magento2/commit/ce1160fbf7d1d08bc2d0d6f3d4c648074271024b) and will be available in some of 2.1.x releases.

[2016-08-30 07:35] baltechies commented on #2809
@victor-v-rad I am still facing this issue. Hot fix is not working.
Magento version is 2.0.7 and I have migrated data from magento 1.9.2.2 using data migration tool version 2.0.7

a:4:{i:0;s:568:"SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name '', query was: SELECT COUNT(DISTINCT main_table.attribute_id) FROM `eav_attribute` AS `main_table`
 INNER JOIN `eav_entity_type

[2016-08-30 07:39] flipflap commented on #6391
Thanks JacobDrummond, but it doesn't help in my case. Enable Single Store Mode is already No in my Magento.

[2016-08-30 07:42] andimov commented on #2362
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.

[2016-08-30 07:42] #2362 closed

[2016-08-30 07:42] andimov commented on #2439
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:42] #2439 closed, assigned to nobody

[2016-08-30 07:42] andimov commented on #2995
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:42] #2995 closed, assigned to nobody

[2016-08-30 07:42] andimov commented on #3151
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:42] #3151 closed, assigned to nobody

[2016-08-30 07:42] andimov commented on #3199
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:42] #3199 closed, assigned to nobody

[2016-08-30 07:42] veloraven commented on #4494
We will close this issue as not updated more than 2 weeks.
If this issue still reproducible please feel free to create the new one.

[2016-08-30 07:42] #4494 closed, assigned to asemenenko

[2016-08-30 07:43] andimov commented on #3324
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:43] #3324 closed, assigned to nobody

[2016-08-30 07:43] andimov commented on #3335
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:43] #3335 closed, assigned to nobody

[2016-08-30 07:43] andimov commented on #2934
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:43] #2934 closed, assigned to nobody

[2016-08-30 07:43] andimov commented on #3570
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:43] #3570 closed

[2016-08-30 07:44] andimov commented on #2615
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:44] #2615 closed, assigned to nobody

[2016-08-30 07:44] andimov commented on #3394
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:44] #3394 closed, assigned to nobody

[2016-08-30 07:45] andimov commented on #3574
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:45] #3574 closed, assigned to nobody

[2016-08-30 07:45] andimov commented on #3870
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:45] #3870 closed, assigned to nobody

[2016-08-30 07:45] andimov commented on #4429
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:45] #4429 closed

[2016-08-30 07:46] andimov commented on #4760
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:46] #4760 closed, assigned to mazhalai

[2016-08-30 07:47] andimov commented on #4929
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:47] #4929 closed, assigned to nobody

[2016-08-30 07:47] andimov commented on #5150
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:47] #5150 closed, assigned to nobody

[2016-08-30 07:48] andimov commented on #6084
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:48] #6084 closed, assigned to nobody

[2016-08-30 07:48] andimov commented on #6152
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-30 07:48] #6152 closed, assigned to nobody

[2016-08-30 07:56] NadiyaS commented on #6372
Hi @rbostan ,
we can not reproduce this bug, please provide us more details which can affect this bug: do you have external extensions, in which way you install magento (git, composer), etc?

[2016-08-30 07:56] victor-v-rad commented on #6272
Internal ticket MAGETWO-57817 to fix this issue

[2016-08-30 08:06] romainruaud commented on #6336
Hello @sevos1984 yes the small one is working for me, but I need a huge catalog for testing purposes. So if you have a quickfix for this one or if you can provide me the patch used to fix this issue, I would appreciate so much.

Regards.

[2016-08-30 08:21] veloraven commented on #3834
@jaimestuardo could you specify Magento version used?

[2016-08-30 08:27] bartoszkubicki opened #6392 "Cant't get cart items in block - quote object empty"
### Preconditions

1. Magento 2.1 CE, php 7.0
### Steps to reproduce

1. In custom module I added block, which should check if provided product is in cart.
2. Block is added properly, although method doesn't work.
3. When I try to check if my product is in cart I get info that cart is empty (but in fact it is not). That is my class:

`namespace [vendor]\SkinHelper\Block\Catalog\Product;`

[code]
1

[2016-08-30 08:29] NetAssoPro commented on #4374
I use magento 2.0.7 and i have the same problem.
Impossible to create a configurable product, in all the case (not only with "set new to date") i have this message ant no more information. The attribute set are the same (mother & children products). I really doesn't understand. How to have more information about it (logs seems to show nothing)
I have more information about it, i debug the code in

[2016-08-30 08:35] boldhedgehog commented on #6357
@bka This form's purpose is to generate a configuration file for Varnish, those fields are not the actual Varnish configuration for Magento. As far as I know, the only way to configure Varnish connection is to add the configuration to `etc/env.php` file like this:

[code]

[2016-08-30 08:44] victor-v-rad commented on #6253
Hi,
I tried to delete an option from multiselect attribute as you wrote but cannot reproduce the issue. Maybe there is some step or precondition you did not mention.

[2016-08-30 09:02] BenGlassAtlas commented on #4628
@TiEul Thanks for the suggestion, but unfortunately the fonts are out of our control as they are purchased by a client and the licence does not permit it. Also I don't think it's a good idea that a mixin should be so opinionated, in my eyes it should be as flexible as possible.

[2016-08-30 09:11] veloraven commented on #6383
@BardiaAfshin thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also specify the used Magento version.

[2016-08-30 09:12] TiEul commented on #4628
Oh, don't get me wrong, I fully agree that the mixin should not be that limited, it was more a suggestion for other people finding this issue, as I actually initially got here via Google since I was facing the same problem.

[2016-08-30 09:18] alena-marchenko commented on #4755
Hi @peec

We've created MAGETWO-57756 internal ticket for updating the documentation.
Thank you.

[2016-08-30 09:24] MorganGonzales commented on #5948
Hi @mjankiewicz,

Tried installing your module (followed the steps), but wasn't able to make it work (tried to install it on a fresh M2.1 environment).
Badly need a fix for this issue for our client.

Thanks!

[2016-08-30 09:29] Choufourax commented on #6159
It seems to be a duplicate of :
https://github.com/magento/magento2/issues/4921

[2016-08-30 09:34] NetAssoPro commented on #4374
Solved from my part, it was due to category field mandatory option. I set it to off and it works. Sorry for the disturb.

[2016-08-30 09:35] jalogut commented on #3290
Hello @andimov ,
I just tested it on version 2.1.0 and now there is a different issue:

[code]

That comes from the following function on Magento\Framework\App\Filesystem\DirectoryList\ComposerJsonFinder:

[code]

As you can see on the first line, the function is now looking for the composer file on the Magento root. This is not right if we set a different magento-root-dir on the composer-installe

[2016-08-30 09:35] veloraven commented on #4670
I'm closing this issue since the problem has been solved.

[2016-08-30 09:35] #4670 closed, assigned to mazhalai

[2016-08-30 09:37] sevos1984 commented on #6336
Sorry but no quick fix. Why you can't extend small with entities you need? Or it will fail as well?

[2016-08-30 09:40] antboiko commented on #6284
Hi @SchumacherFM , did you try the suggestion provided by @fooman ?

[2016-08-30 09:53] baltechies commented on #2809
Working after reindex and clean cache.

[2016-08-30 09:54] philcook opened #6393 "Import function rejecting MacOS line endings"
### Preconditions
1. Magento 2.1
2. Apache 2.4
3. PHP 5.6
### Steps to reproduce
1. Take example product CSV from magento and change line endings to be MacOS format like attached [catalog_product.csv.zip](https://github.com/magento/magento2/files/444508/catalog_product.csv.zip)
2. Try to import with native magento imported
### Expected result
1. When end of row should act as end of product insert

[2016-08-30 09:56] NadiyaS commented on #6260
Hi @thomvanderboon , @biojppm ,
thank you for reporting this issue. Internal tiket MAGETWO-57820 was created.

[2016-08-30 09:57] mjankiewicz commented on #5948
Hi @MhorGonzales,

1) the module is enabled ? `php bin/magento module:status`
2) do you see some error messages on the frontend or backend ?

[2016-08-30 09:57] basselalaraaj commented on #6337
@sevos1984  yes!
i copied the key from vendor/magento/module-contact/view/frontend/layout/contact_index_index.xml

`<head>
        <title>Contact Us</title>
    </head>`

[2016-08-30 10:01] lucasalfaro commented on #5967
uff.. Thanks you are my hero of the day. After an upgrade for mage 2.1 i had several error of JS, that one being one I had no idea how to tackle. Thanks again.

[2016-08-30 10:06] SchumacherFM commented on #6284
Not yet due to lack of time, but on plan

[2016-08-30 10:07] olysenko commented on #4000
fixed in MAGETWO-51582

[2016-08-30 10:09] romainruaud commented on #6336
I am doing tests for "very big" catalog, something like 2 billions of products at the end. Yes, I am pushing to the limits.

So my first test was to use the extra_large profile (800.000 products) to begin, and I planned to write a custom "huge" profile later with 2 billions products.

But since the extra_large profile fails, I can't even begin my tests. The 'small' profile does not help since 800

[2016-08-30 10:22] phuc128t opened #6394 ""No Payment Information Required" is removed from Billing Information page"
### Preconditions

Magento 2.0.9 with default luma theme, PHP 7.0.9-1+deb.sury.org~xenial+1 and mysql  Ver 14.14 Distrib 5.7.13
### Steps to reproduce

1. Install magento 2.0.9 and add some products to cart
2. Apply discount and gift card to make grand total = 0
### Expected result

1. Should show "No Payment Information Required" at billing information page
### Actual result

1. "No Payment Infor

[2016-08-30 10:26] veloraven commented on #6381
@enrico69 thank you for your report.
Please provide some more information: was it clear install or upgrade from previous version?
What type of product do you create?

[2016-08-30 10:41] antboiko commented on #6330
Hi @lgarridoj , did you have a chance to check the sendmail configuration? Please give us an update on this.

Thanks,
Anton.

[2016-08-30 10:46] jcccg2016 commented on #4656
I also have this Problem. Magento Version 2.09

[2016-08-30 10:46] ilol commented on #4936
Registered MAGETWO-54115

[2016-08-30 11:00] shownak opened #6395 "Description part comes on above header"
![selection_002](https://cloud.githubusercontent.com/assets/18438612/18086686/b8d319e4-6ece-11e6-827a-eb0adbb2fb1a.png)
check this.. i am using magento 2.0.0
When i add product manually from admin panel, then the description part also comes on top as shown in screenshot
![selection_003](https://cloud.githubusercontent.com/assets/18438612/18086767/2b526fba-6ecf-11e6-87e4-1f99d8ed0645.png)
and when

[2016-08-30 11:09] poojalimagento commented on #6258
I am also facing same issue on my local server in test mode on Magento 2.0.8.
Please help me.
Thanks

[2016-08-30 11:11] veloraven commented on #5744
@justyn-clark any updates on this?
Is this issue still actual?

[2016-08-30 11:13] veloraven commented on #5034
@Taral-Patoliya thank you for update.
 I'm closing this issue since the problem has been solved.

[2016-08-30 11:13] #5034 closed, assigned to nobody

[2016-08-30 11:29] apurv-anand opened #6396 "Cart Price Rules: Category selection UI for Conditions do not come up."
M2.1.0
Cart Price Rules: Category selection UI for Conditions do not come up.

Issue
Category selection UI under Conditions does not come up if a rule needs to be edited. The UI will come up only for 1st time. If the rule is saved, and is revisited for editing, the Category selection tree UI wont show up.

Steps:
- Go to marketing > cart price rules.
- Create a rule, with few categories selected u

[2016-08-30 11:31] picamator commented on #6198
@Asitis thank you for reporting that issue.
But unfortunately we cannot reproduce it.
Could you please elaborate about:
1. What fields do you fill in product attributes?
2. What is an order of "disable", "adding" store views, and "adding" product attributes?
For instance: you create store views first then add some attributes then make store view disable and then started add new attributes and get

[2016-08-30 11:39] Khaleel commented on #6131
LESS compilation does not work in developer mode. Do I need to run a Grunt command or an additional setting - I edit various .less files in both app/code and app/design - they do not automatically merge and appear on the Front end staging server.

We do not always run grunt less - we use that as it breaks the minification on the server and easy for us to see.

[2016-08-30 11:45] NadiyaS commented on #4000
Hi,
fix was delivered to develop branch. Issue is closed as fixed. Feel free to reopen it if you still have the same problem

[2016-08-30 11:45] #4000 closed, assigned to NadiyaS

[2016-08-30 11:55] veloraven commented on #4801
Internal ticket MAGETWO-53595

[2016-08-30 12:02] AVoskoboinikov commented on #4430
Hi guys,
@afoucret and @krisdass can anyone of you provide full steps to reproduce issue? Something like:
1. install magento;
2. create view A;
3. create view B;
4. etc.
Because it is still not obvious how to reproduce it in new magento installation with sample data. I've tried several ideas but without success. It looks like it is problem somewhere in url rewrite engine or in misunderstanding of

[2016-08-30 12:17] bjoern-quast opened #6398 "Custom swatch image sizes don't work"
### Preconditions
1. Magento CE 2.1.0 is installed.
2. Configurable products are configured
3. Option swatches are configured for said configurables
4. A custom module is used to override standard behaviour
### Steps to reproduce
1. Add a view.xml in your module's etc folder
2. Add nodes to change the swatch size:
   `
           <image id="swatch_image" type="swatch_image">
                 <widt

[2016-08-30 12:18] veloraven commented on #4699
@redboxmarcins is this issue still actual?

[2016-08-30 12:28] veloraven commented on #4642
@arthursp could you please specify Magento version used?
Please also provide more detailed steps you did for "Install a french pack of translation" step.
And do you claim that the bug is in the date format which admin sees when he selects date picker, or the way how it saved in the DB?

[2016-08-30 12:28] NadiyaS commented on #3304
Hi @deltab ,
we can not reproduce this bug on current Magento develop branch.
If you still have the same problem please provide us more detailed steps to reproduce.
Thanks,

[2016-08-30 12:31] arthursp commented on #4642
It was 2.0.4

the pack is imaginaerum : http://imaginaerum.github.io/magento2-language-fr-fr/

I put it on app/i18n/imaginaerum/fr_fr/dictionary.csv

[2016-08-30 12:43] deepanshu27193 opened #6399 "log files size constantly increasing even in clean install"
### Preconditions

1. Magneto 2.1 with sample data
2. Ubuntu LAMP
### Steps to reproduce

1. Extracted downloaded zip file
2. setup successfully completed and switched to productionn mode by command line.
3. just go through the website samples provided
### Actual result

1. Log file size increasing constantly even to size of 4 MB of debug.log in last 3-4 days.
2. i dont even install any module or

[2016-08-30 12:45] Asitis commented on #6198
Me and a colleague have ran into this problem again on two separate occasions, I'll try to be more clear this time:

The first time this error showed it was while saving a product on the English storeview (ID: 2):

[code]

I then found that whenever I edit anything else (like i.e. categories) in that storeview (ID:2) I get errors like "Something went wrong while saving the category". Checking in t

[2016-08-30 12:45] Choufourax commented on #5996
We had the same issue.
Checking some xhr request we saw some warning message "$HTTP_RAW_POST_DATA is deprecated"

1/ Edit the php.ini of your server and **set always_populate_raw_post_data** to **-1**

`always_populate_raw_post_data = -1`

2/ Restart your server

See also :
http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_php-set.html#trouble-php-always

This will fix some oth

[2016-08-30 12:49] veloraven commented on #3086
@MichielTG is this issue still actual?
As I can see from previous comments at least the original issue was resolved, so we can close this ticket.
If you have any other issues please create separate ticket for each of them.

[2016-08-30 12:51] veloraven commented on #2936
@jaimestuardo is this issue still actual?
It seems that permissions are not configured correctly on your server.

[2016-08-30 12:56] kassner commented on #2386
@piotrekkaminski I believe this should be classified as a bug, not an improvement. We're dealing with the exhibition of misleading information here.

[2016-08-30 12:56] sevos1984 commented on #6362
Thanks for clarification, internal ticket created MAGETWO-57833

[2016-08-30 13:00] rgoncharuk commented on #2749
Closed as delivery already happened

[2016-08-30 13:00] #2749 closed, assigned to nobody

[2016-08-30 13:01] veloraven commented on #3290
@jalogut thank you for update.
Yes, please create another issue for another problem.
Please, format it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If original issue is not actual anymore please close this one.

[2016-08-30 13:02] PascalBrouwers commented on #2450
@slavvka  Seems this bug is still present in magento 2.1.0
I set "Number of Lines in a Street Address" to 1, yet in the checkout is shows 2 lines.

[2016-08-30 13:13] mcspronko commented on #1146
Hi @piotrekkaminski

Any luck with findings?

[2016-08-30 13:17] sevos1984 commented on #6337
What locale do you use? Can you give me your app\code\Magento\Contact\i18n\%your_locale%.csv file?

[2016-08-30 13:18] sevos1984 commented on #6356
That is ok, indexer may invalidate cache. So, is your problem solved?

[2016-08-30 13:20] victor-v-rad commented on #6184
could not reproduce. Please share your import csv file. It might help

[2016-08-30 13:33] AVoskoboinikov commented on #5527
Hi @blizam, can you provide full steps to reproduce issue? Something like:
1. install magento;
2. create view A;
3. create view B;
4. etc.
Because it is still not obvious how to reproduce it in new magento installation with sample data. I've tried several ideas but without success. It looks like it is problem somewhere in url rewrite engine or in misunderstanding of some functionality. So it would

[2016-08-30 13:36] veloraven commented on #5453
@devtosystems please specify Magento version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-08-30 13:46] veloraven commented on #6396
@apurv-anand thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-30 13:49] veloraven commented on #6395
@shownak thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-30 13:52] blizam commented on #5527
I detailed them above... I think it's a fundamental issue with there being no configuration scope when creating a new product when the categories in website 1 and website 2 have the same URL keys... in my setup, sub-categories also have the same name as other sub-categories within the same Website

Install magento, create Website 1 with a single Default Store View, create Website 2 with a single D

[2016-08-30 13:55] jwittorf commented on #6356
The indexer problem is solved but the original problem with the missing columns and the error in the terms and conditions still exists.

[2016-08-30 13:56] veloraven commented on #6174
@radhagobinda what do you mean as 'import the database'?
Could you provide more detailed steps? And in format of the list, rather than plain story.

[2016-08-30 13:56] mackelito commented on #4350
Please reopen this ticket

[2016-08-30 14:03] sevos1984 commented on #6323
Internal ticket created MAGETWO-57835, thanks for reportng

[2016-08-30 14:05] basselalaraaj commented on #6337
@sevos1984 nl_NL this local is also defined in the store that i am using in the config.

[2016-08-30 14:09] #3445 closed, assigned to nobody

[2016-08-30 14:12] pboisvert commented on #6398
closing as duplicate of #6382

[2016-08-30 14:12] #6398 closed, assigned to nobody

[2016-08-30 14:14] sevos1984 commented on #6356
That is strange, can I get your db dump?

[2016-08-30 14:18] victor-v-rad commented on #6042
Thank you for posting this issue
Internal ticket MAGETWO-56018 to fix it
Here is the same one #5573

[2016-08-30 14:23] enrico69 commented on #6381
Emptied var/, pub/static, restarted my environment, the problem doesn't occur anymore.

[2016-08-30 14:23] #6381 closed, assigned to nobody

[2016-08-30 14:30] veloraven commented on #2840
We will close this issue as not updated more than 2 weeks if this issue still reproducible please feel free to create the new one.

[2016-08-30 14:30] #2840 closed, assigned to nobody

[2016-08-30 14:34] veloraven commented on #3416
@LifeAsBook is this issue still actual?
If it is please specify Magento version.
If it is not please close this ticket.

[2016-08-30 14:35] giacmir commented on #5350
For me following point 2 in the above message by @daniel-ifrim solved the problem. All the attribute sets must have those attributes in that group, this seems related to the scheduled updates feature.

Nonetheless it is quite disappointing to see a major bug like this in EE not fixed in two months.

[2016-08-30 14:36] sevos1984 commented on #6347
Is this issue resolved?

[2016-08-30 14:38] katef opened #6401 "X-Magento-Tags header too large"
### Preconditions
I've been reading about people using Magento2 and the size of the `X-Magento-Tags` header.
### Steps to reproduce
For example http://www.maxbucknell.com/blog/2016/2/10/troubleshooting-varnish-with-magento-2 writes:

### Actual result
That's an integer and 20 bytes of string per product, which gives some users headers several kB in size, when many products are in one category. In

[2016-08-30 14:40] alexnos88 commented on #3066
please use one of the following:
- either dispatch an event after you create the store view (store_type = 'store')

[code]

  where `$storeModel` is your **\Magento\Store\Model\Store** which has been saved now.
  This only works if you create store view for the first time.
- or you can run the code which is executing in \vendor\magento\module-sales-sequence\Observer\SequenceCreatorObserver.php

[c

[2016-08-30 14:41] veloraven commented on #3857
@yariksheptykin thank you for your feedback.
Is this issue still actual?
If it is please specify Magento version.
If it is not please close the issue.

[2016-08-30 14:45] veloraven commented on #4242
@OlaviSau is this issue still actual?
If it is please specify Magento version.  If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
If it is not please close this issue.

[2016-08-30 14:46] tkacheva commented on #6318
@flipflap Are you trying to sort product in specific Category that is mentioned in the widget and expect products to be sorted in the widget as well as in the corresponding category page? If so, Magento doesn't support this. Products can not be sorted in the product list widget.

[2016-08-30 14:47] baltechies commented on #3445
I have same issue. I have upgraded magento1.9.2.2 database into magento2.0.7.
But unable to add/edit any product.

main.CRITICAL: Class media_image does not exist [] []
[2016-08-30 14:33:57] main.CRITICAL: Block product_tabs throws exception and cannot be rendered. [] []
[2016-08-30 14:33:57] main.CRITICAL: Block product_tabs throws exception and cannot be rendered. [] []

[2016-08-30 14:48] mackelito commented on #3786
Would love to open up this discussion again.
I see no reason for the use of any kind of auth for a eg. React/Angular application as long as the default api delivers the same data as expected on a "default store". eg the data I see when loading a productpage with Luma.

[2016-08-30 14:49] jwittorf commented on #6356
Do you only need some specific tables or the complete dump?

[2016-08-30 14:50] flipflap commented on #6318
@tkacheva thanks. Yes I try to do that. But what sort order does the product list widget list have? Is there really no way to sort them?

[2016-08-30 14:51] veloraven commented on #4276
@caesarcxiv could you please provide used Magento version?

[2016-08-30 14:53] AVoskoboinikov commented on #6067
Hi @sma09sjb
Could you please have a look at this comments?
https://github.com/magento/magento2/issues/2966#issuecomment-234610309
https://github.com/magento/magento2/issues/2966#issuecomment-234790690

It seams that other users have similar problem with 404 pages and they use Nexcess server too. I think you can try to solve your issue by contacting Nexcess support.

[2016-08-30 14:56] tkacheva commented on #6318
@flipflap Are you referring to _sort order_ option in _storefront properties_ section? It's sort order widgets that are placed in the same container via layout update.

[2016-08-30 15:01] esilvajr opened #6402 "Getting table prefix"
Hello, when i trying to getTableName() in Magento 2.1.0 with prefix using \Magento\Framework\App\ResourceConnection the return is the table name without the prefix.

Code:

$connection  = $this->_resource->getConnection();
$tableName   = $connection->getTableName('sales_order_grid');
var_dump($tableName);
$connection->query('my_update_query with $tableName');

Result:

'sales_order_grid'

Error:
S

[2016-08-30 15:02] flipflap commented on #6318
@tkacheva I don't understand exactly. But I use the list widget to show products of a specific category on the homepage and would like to sort this products there on homepage.

[2016-08-30 15:03] tkacheva commented on #6294
@loganathan-r we are working on it. Once it's merged, we close the ticket

[2016-08-30 15:04] PaulBoss commented on #3786
It is easy to create a plugin with your own API endpoints directly based on the API endpoints that are available. This way you can make these non authenticated and only return the information your app needs. You can never know in advance for every Magento store ever which information is publicly accessible. So opening this up be default is never a good idea.

[2016-08-30 15:07] rhertogh commented on #3105
I had the same issue (magento v2.1.0).
Workaround for me (sort of, since this is not recommended in a production env): disabled and flushed all caches in magento and browser cache.

[2016-08-30 15:07] veloraven commented on #4552
@pareshe is this issue still actual?
If it is, please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.
Please close this issue if it is not valid anymore.

[2016-08-30 15:11] tkacheva commented on #6318
@flipflap I see. This is feature request. Could you add it to [Magento Forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests)?

[2016-08-30 15:13] esilvajr commented on #6402
If i use without getConnection() works!

$tableName = $this->_resource->getTableName('sales_order_grid');

[2016-08-30 15:21] veloraven commented on #4686
@flipflap is this issue still actual?
It seems to be not Magento issue but rather environment configuration problem.

[2016-08-30 15:21] tkacheva commented on #6195
@ps202 @erikhansen
Yes, the setting I'm referring to is available only for developers that allows to change it per theme. That's why gallery in Blank and Luma behaves differently.

Work in progress

[2016-08-30 15:27] sma09sjb commented on #6067
Hi,

Yes this has now been resolved, the issue was regarding a mod security regular expression that matched on the REQUEST of the saving process for a new product.

Nexcess need to review and update this regex in line with changes made to Magento 2.1.

For now they are adding an exception for the admin area.

Thanks,

Sophie

[2016-08-30 15:43] bka commented on #6347
Yes, resolved, thanks

[2016-08-30 15:43] #6347 closed, assigned to sevos1984

[2016-08-30 15:49] choukalos commented on #6368
Hello @BardiaAfshin

Dev branch is for development (aka our next release) and should not be considered stable.  I'd recommend that you use the last stable branch (as of this time 2.1) for building out a store.

Please use the dev branch if you want to follow along with changes to the upcoming release, provide feedback, or provide PR's to improve the product.

Thanks!
Chuck

[2016-08-30 15:49] #6368 closed, assigned to nobody

[2016-08-30 15:51] sevos1984 commented on #6319
Neither attributes nor values are removed with entity in magento. And uniqueness are respected in scope of one entity only, how do you violating that? Thanks.

[2016-08-30 16:00] AVoskoboinikov commented on #6067
Cool that it is ok now. I close this issue then.

[2016-08-30 16:00] #6067 closed, assigned to nobody

[2016-08-30 16:01] heldchen commented on #6144
I have seen this multiple times as well - with xdebug installed you will get the `Maximum function nesting level of '100' reached, aborting!` message when this happens.

initially discovered this issue when playing around with the reorder functionality - if you manipulate the reorder url and replace the order id with an order that has a disabled product, the quote for this customer will be broken

[2016-08-30 16:02] ghost commented on #3086
This issue is still actual, however because we had multiple problems with Magento 2. So we went back to the stable 1.9. So unfortunately we can't help to solve this bug anymore.

[2016-08-30 16:02] #3086 closed, assigned to nobody

[2016-08-30 16:05] francisrod01 commented on #5453
@veloraven more about magento version in composer file

[code]

[2016-08-30 16:08] Cacasapo commented on #6335
@developer-lindner  > When will we be able to use it for real?!
As @heldchen mentioned, it will all depend on how the patching is handled for 2.1.1 and future releases.

I will be going live with the store I'm working on towards the middle or end of September. This is a very small shop with just over 250 products (under 100 configurable products) that runs payments through paypal and only has a fe

[2016-08-30 17:07] elenleonova commented on #4795
Hi, the issue has been solved in 2.1.1, so closing the ticket. If you have some additional comments, please feel free to reopen if needed.

[2016-08-30 17:07] #4795 closed, assigned to nobody

[2016-08-30 17:07] elenleonova commented on #5364
The issue has been released in 2.1.1.

[2016-08-30 17:08] elenleonova commented on #4750
The issue has been released in 2.1.1.

[2016-08-30 17:08] elenleonova commented on #4785
The issue has been fixed in 2.1.1

[2016-08-30 17:08] elenleonova commented on #3605
The issue has been fixed in 2.1.1

[2016-08-30 17:08] bartoszkubicki commented on #6319
Attributes are not removed, that's clear.
The problem occurres as I have described it in my report. I add new entity of customer (with custom unique attribute). Value for that attribute is for example `test`. Then I delete this entity and after that I try to add it again with same value - and in that point there is a problem - javascript validation blocks saving entity as it's not unique. I don't

[2016-08-30 17:08] elenleonova commented on #4945
The issue has been fixed in 2.1.1

[2016-08-30 17:09] alena-marchenko commented on #5860
Ho @hiephm

We've created MAGETWO-57846 internal ticket regarding this issue,
Thank you!

[2016-08-30 17:24] ghost commented on #2731
Hello All,

I have same issues ,and finding solution since last few days but not getting what's an issues.

@ci2014 you find solution let me know .

I had tried  all possible solution as give by above.

Thanks !

[2016-08-30 17:27] heldchen opened #6403 "the error page processor does not work when the webroot is set to `www/pub` instead of `www`"
### Preconditions
1.  CE 2.1.0 in production or default mode
2. webroot pointing to `www/pub`
### Steps to reproduce
1. copy `www/pub/errors/default` to `www/pub/errors/test`
2. edit `www/pub/errors/design.xml` and replace `default` with `test`
3. edit text in `www/pub/errors/test/503.phtml` to read "hello world"
4. enable maintenance mode
5. browse website
### Expected result
1. the resulting 503

[2016-08-30 17:39] prasanthsd commented on #3786
"You can never know in advance for every Magento store ever which information is publicly accessible." Why is that? I guess any ecommerce platform has control over what is displayed on the frontend store. The same rules cant be applied on the API?

[2016-08-30 17:44] #4801 closed, assigned to nobody

[2016-08-30 17:44] karlsminton commented on #5423
I also am experiencing this issue, I'm using no caching extensions - just inbuilt.
I also upgraded via commandline, one of the recommended methods and I'm not presently using https.

[2016-08-30 17:57] stevekem commented on #4945
@elenleonova  Any idea on when 2.1.1 will be released?

[2016-08-30 17:59] stevekem commented on #4945
Nevermind I see it's released now, thank you!!

[2016-08-30 17:59] stevekem commented on #4945
Nevermind I see it's released now, thank you!!

[2016-08-30 18:02] stevekem commented on #6335
2.1.1 has been released yay!!!

[2016-08-30 18:08] piotrekkaminski commented on #5138
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 18:08] #5138 closed, assigned to ishakhsuvarov

[2016-08-30 18:08] developer-lindner commented on #6335
@stevekem what's fixed?

[2016-08-30 18:40] stevekem commented on #6335
@developer-lindner A couple big issues were noted as fixed as well as some smaller ones. I'm hoping that all the fixes were not stated in the release notes and a lot of the smaller bugs reported on here awhile ago were taken care of as well:
http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.1CE.html

Can anyone confirm if Magento notes every single bugfix in there releases?

[2016-08-30 18:50] choukalos commented on #6399
Hi @deepanshu27193,

Cron runs every minute and I believe logs it's output.  Is this really a bug or perhaps an ask to provide slimmer logging for cron in production?  My concern here is that slimmer logging would make it impossible to detect/track down issues if something isn't working right.  Can you provide additional insight as to why you don't want logs to grow by ~ 1M/day and what you're doi

[2016-08-30 18:55] Sid-95 opened #6404 "Magento2 Switches back to Default Storeview eachtime I change page"
**Magento2 Switches back to Default Storeview eachtime I change page**

I've setted up my magento store @ the following link (http://162.252.104.103/), i successfully added 2 storeviews. One with italian language (default) & one with eng lang.
When I switch to eng lang it works fine, but if I do any action it reverts back to the default storeview (italian lang). I checked several thing, and I noti

[2016-08-30 18:59] piotrekkaminski commented on #5696
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 18:59] #5696 closed, assigned to nobody

[2016-08-30 18:59] piotrekkaminski commented on #4994
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 18:59] #4994 closed, assigned to antboiko

[2016-08-30 18:59] piotrekkaminski commented on #4938
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 18:59] #4938 closed, assigned to choukalos

[2016-08-30 19:00] piotrekkaminski commented on #4774
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:00] #4774 closed, assigned to choukalos

[2016-08-30 19:00] piotrekkaminski commented on #4422
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:00] #4422 closed, assigned to choukalos

[2016-08-30 19:00] piotrekkaminski commented on #4401
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:00] #4401 closed, assigned to antboiko

[2016-08-30 19:00] piotrekkaminski commented on #4154
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:00] piotrekkaminski commented on #4060
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:00] #4060 closed, assigned to choukalos, vrann

[2016-08-30 19:00] piotrekkaminski commented on #4041
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:00] #4041 closed, assigned to choukalos

[2016-08-30 19:01] piotrekkaminski commented on #3987
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3987 closed, assigned to tkacheva

[2016-08-30 19:01] piotrekkaminski commented on #3918
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3918 closed, assigned to tkacheva

[2016-08-30 19:01] piotrekkaminski commented on #3709
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3709 closed, assigned to asemenenko

[2016-08-30 19:01] piotrekkaminski commented on #3695
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3695 closed, assigned to mazhalai

[2016-08-30 19:01] piotrekkaminski commented on #3641
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3641 closed, assigned to antboiko

[2016-08-30 19:01] piotrekkaminski commented on #3352
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3352 closed, assigned to antboiko

[2016-08-30 19:01] piotrekkaminski commented on #3323
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3323 closed, assigned to nobody

[2016-08-30 19:01] piotrekkaminski commented on #3284
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3284 closed, assigned to asemenenko

[2016-08-30 19:01] piotrekkaminski commented on #3283
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] piotrekkaminski commented on #3172
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3172 closed, assigned to tkacheva, vkorotun

[2016-08-30 19:01] piotrekkaminski commented on #3085
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:01] #3085 closed, assigned to nobody

[2016-08-30 19:01] piotrekkaminski commented on #3079
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:02] #3079 closed, assigned to tkacheva, asemenenko, antboiko

[2016-08-30 19:02] hostep commented on #6335
@stevekem & @developer-lindner: Although Github isn't very good at giving you an overview of big diffs, you can check the difference out here: https://github.com/magento/magento2/compare/2.1.0...2.1.1
But I would strongly advice you to use a git client on your local machine, clone the M2 repo and check the diff using your local git client, it should perform a lot better then the Github diff view.

[2016-08-30 19:02] piotrekkaminski commented on #3038
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:02] #3038 closed

[2016-08-30 19:02] piotrekkaminski commented on #3023
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:02] #3023 closed, assigned to piotrekkaminski

[2016-08-30 19:02] piotrekkaminski commented on #3022
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:02] #3022 closed, assigned to piotrekkaminski

[2016-08-30 19:02] piotrekkaminski commented on #3017
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:02] #3017 closed, assigned to antboiko

[2016-08-30 19:02] piotrekkaminski commented on #2992
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:02] #2992 closed, assigned to antboiko

[2016-08-30 19:02] piotrekkaminski commented on #2988
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:02] #2988 closed, assigned to antboiko

[2016-08-30 19:03] piotrekkaminski commented on #2958
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:03] #2958 closed, assigned to nobody

[2016-08-30 19:03] piotrekkaminski commented on #2950
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:03] #2950 closed, assigned to antboiko

[2016-08-30 19:03] piotrekkaminski commented on #2947
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:03] #2947 closed, assigned to antboiko

[2016-08-30 19:03] piotrekkaminski commented on #669
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:03] #669 closed

[2016-08-30 19:03] piotrekkaminski commented on #642
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:03] #642 closed

[2016-08-30 19:03] piotrekkaminski commented on #637
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:03] #637 closed

[2016-08-30 19:03] piotrekkaminski commented on #619
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:03] #619 closed

[2016-08-30 19:04] eleorex commented on #3123
php_value memory_limit 2G
makes my Magento2 admin to load much faster,

It was just loading and loading before and gives connection time out.

[2016-08-30 19:04] piotrekkaminski commented on #617
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #617 closed

[2016-08-30 19:04] piotrekkaminski commented on #570
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #570 closed

[2016-08-30 19:04] piotrekkaminski commented on #549
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #549 closed

[2016-08-30 19:04] piotrekkaminski commented on #537
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #537 closed, assigned to piotrekkaminski

[2016-08-30 19:04] piotrekkaminski commented on #438
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #438 closed

[2016-08-30 19:04] piotrekkaminski commented on #316
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #316 closed

[2016-08-30 19:04] piotrekkaminski commented on #223
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #223 closed

[2016-08-30 19:04] piotrekkaminski commented on #174
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:04] #174 closed

[2016-08-30 19:08] hostep commented on #4795
Tnx @elenleonova for releasing version 2.1.1 so swiftly (please ignore the sarcasm 😉 )

@ everyone who used my [temporary fix](https://github.com/magento/magento2/issues/4795#issuecomment-228610110):
If you upgrade to 2.1.1 it will give you an exception if you have my temporary fix enabled:

[code]

So my advice to everyone who has been using my temporary fix is that **before** you upgrade to vers

[2016-08-30 19:14] amansilla commented on #4795
Thx @elenleonova, was the bugfix applied to the enterprise version as well?

[2016-08-30 19:28] piotrekkaminski commented on #6254
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:28] #6254 closed, assigned to nobody

[2016-08-30 19:28] piotrekkaminski commented on #6247
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:28] #6247 closed, assigned to nobody

[2016-08-30 19:28] piotrekkaminski commented on #5961
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:28] #5961 closed, assigned to asemenenko

[2016-08-30 19:28] piotrekkaminski commented on #5756
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:28] #5756 closed, assigned to nobody

[2016-08-30 19:28] piotrekkaminski commented on #5281
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:28] #5281 closed, assigned to nobody

[2016-08-30 19:28] piotrekkaminski commented on #5262
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:28] #5262 closed, assigned to nobody

[2016-08-30 19:29] piotrekkaminski commented on #4871
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:29] piotrekkaminski commented on #4715
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:29] #4715 closed, assigned to antboiko

[2016-08-30 19:29] piotrekkaminski commented on #4682
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:29] #4682 closed, assigned to asemenenko

[2016-08-30 19:29] piotrekkaminski commented on #4649
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:29] #4649 closed, assigned to nobody

[2016-08-30 19:29] piotrekkaminski commented on #4639
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:29] #4639 closed, assigned to choukalos

[2016-08-30 19:30] piotrekkaminski commented on #4506
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] piotrekkaminski commented on #4505
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #4505 closed, assigned to antboiko

[2016-08-30 19:30] piotrekkaminski commented on #4472
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #4472 closed, assigned to antboiko

[2016-08-30 19:30] piotrekkaminski commented on #4380
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #4380 closed, assigned to NadiyaS

[2016-08-30 19:30] piotrekkaminski commented on #4257
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #4257 closed, assigned to nobody

[2016-08-30 19:30] piotrekkaminski commented on #4245
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #4245 closed, assigned to nobody

[2016-08-30 19:30] piotrekkaminski commented on #3898
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #3898 closed, assigned to antboiko

[2016-08-30 19:30] piotrekkaminski commented on #3809
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #3809 closed, assigned to nobody

[2016-08-30 19:30] piotrekkaminski commented on #3780
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #3780 closed, assigned to nobody

[2016-08-30 19:30] piotrekkaminski commented on #3486
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:30] #3486 closed, assigned to NadiyaS

[2016-08-30 19:31] piotrekkaminski commented on #3400
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:31] #3400 closed, assigned to nobody

[2016-08-30 19:31] piotrekkaminski commented on #3040
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:31] #3040 closed, assigned to nobody

[2016-08-30 19:31] piotrekkaminski commented on #2916
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:31] #2916 closed, assigned to nobody

[2016-08-30 19:31] piotrekkaminski commented on #2697
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:31] #2697 closed, assigned to nobody

[2016-08-30 19:31] piotrekkaminski commented on #2608
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:31] #2608 closed, assigned to NadiyaS

[2016-08-30 19:31] piotrekkaminski commented on #2564
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] piotrekkaminski commented on #2538
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] #2538 closed, assigned to nobody

[2016-08-30 19:32] piotrekkaminski commented on #2422
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] #2422 closed, assigned to tkacheva

[2016-08-30 19:32] piotrekkaminski commented on #2359
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] #2359 closed

[2016-08-30 19:32] piotrekkaminski commented on #2348
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] #2348 closed

[2016-08-30 19:32] piotrekkaminski commented on #2193
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] #2193 closed

[2016-08-30 19:32] piotrekkaminski commented on #2190
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] #2190 closed

[2016-08-30 19:32] piotrekkaminski commented on #1594
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:32] #1594 closed

[2016-08-30 19:33] piotrekkaminski commented on #1577
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1577 closed

[2016-08-30 19:33] piotrekkaminski commented on #1573
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1573 closed

[2016-08-30 19:33] piotrekkaminski commented on #1530
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1530 closed

[2016-08-30 19:33] piotrekkaminski commented on #1492
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1492 closed

[2016-08-30 19:33] piotrekkaminski commented on #1480
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1480 closed

[2016-08-30 19:33] piotrekkaminski commented on #1466
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1466 closed

[2016-08-30 19:33] piotrekkaminski commented on #1377
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1377 closed

[2016-08-30 19:33] piotrekkaminski commented on #1335
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] piotrekkaminski commented on #1193
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:33] #1193 closed

[2016-08-30 19:34] piotrekkaminski commented on #1166
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1166 closed

[2016-08-30 19:34] piotrekkaminski commented on #1145
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1145 closed

[2016-08-30 19:34] piotrekkaminski commented on #1134
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1134 closed

[2016-08-30 19:34] piotrekkaminski commented on #1106
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1106 closed

[2016-08-30 19:34] piotrekkaminski commented on #1091
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1091 closed

[2016-08-30 19:34] piotrekkaminski commented on #1072
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1072 closed

[2016-08-30 19:34] piotrekkaminski commented on #1060
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1060 closed

[2016-08-30 19:34] piotrekkaminski commented on #1056
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1056 closed

[2016-08-30 19:34] piotrekkaminski commented on #1041
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1041 closed

[2016-08-30 19:34] piotrekkaminski commented on #1030
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:34] #1030 closed

[2016-08-30 19:35] piotrekkaminski commented on #1008
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:35] #1008 closed

[2016-08-30 19:35] piotrekkaminski commented on #1006
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:35] #1006 closed

[2016-08-30 19:35] piotrekkaminski commented on #1003
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:35] #1003 closed

[2016-08-30 19:35] piotrekkaminski commented on #992
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:35] #992 closed

[2016-08-30 19:35] piotrekkaminski commented on #989
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:35] #989 closed

[2016-08-30 19:35] piotrekkaminski commented on #971
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:35] #971 closed

[2016-08-30 19:35] piotrekkaminski commented on #962
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:35] #962 closed

[2016-08-30 19:36] piotrekkaminski commented on #872
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:36] #872 closed

[2016-08-30 19:36] piotrekkaminski commented on #852
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:36] #852 closed

[2016-08-30 19:36] piotrekkaminski commented on #573
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:36] #573 closed

[2016-08-30 19:36] piotrekkaminski commented on #571
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:37] #571 closed

[2016-08-30 19:37] piotrekkaminski commented on #546
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:37] #546 closed

[2016-08-30 19:37] piotrekkaminski commented on #513
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:37] #513 closed

[2016-08-30 19:37] piotrekkaminski commented on #500
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:37] #500 closed

[2016-08-30 19:37] piotrekkaminski commented on #473
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:37] #473 closed

[2016-08-30 19:37] piotrekkaminski commented on #432
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:37] #432 closed

[2016-08-30 19:37] piotrekkaminski commented on #430
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:37] #430 closed

[2016-08-30 19:38] piotrekkaminski commented on #417
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:38] #417 closed

[2016-08-30 19:38] piotrekkaminski commented on #312
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:38] #312 closed

[2016-08-30 19:38] piotrekkaminski commented on #274
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:38] #274 closed

[2016-08-30 19:41] choukalos commented on #6361
Hello @ankursachdeva11 - you'd need to customize the benchmark.jmx script.  I'd guess you'd want to use your existing products & categories, but likely create a set of test customers for load testing.

[2016-08-30 19:47] seansan commented on #3918
It was acknowledged ... and I dont believe in a FORUM being the proces and method to store important feedback and sometimes even code suggestions ... it will get lost, forgotten - the forum will be killed in 2018 or 2019 just like the previous one. I never understood why one did not open a simple uservoice account or JIRA account and log it there.

[2016-08-30 19:48] seansan commented on #637
It was acknowledged ... and I dont believe in a FORUM being the proces and
method to store important feedback and sometimes even code suggestions ...
it will get lost, forgotten - the forum will be killed in 2018 or 2019 just
like the previous one. I never understood why one did not open a simple
uservoice account or JIRA account and log it there.

On Tue, Aug 30, 2016 at 9:04 PM, Piotr Kaminski n

[2016-08-30 19:48] seansan commented on #1091
It was acknowledged ... and I dont believe in a FORUM being the proces and
method to store important feedback and sometimes even code suggestions ...
it will get lost, forgotten - the forum will be killed in 2018 or 2019 just
like the previous one. I never understood why one did not open a simple
uservoice account or JIRA account and log it there.

On Tue, Aug 30, 2016 at 9:34 PM, Piotr Kaminski n

[2016-08-30 19:48] seansan commented on #312
It was acknowledged ... and I dont believe in a FORUM being the proces and
method to store important feedback and sometimes even code suggestions ...
it will get lost, forgotten - the forum will be killed in 2018 or 2019 just
like the previous one. I never understood why one did not open a simple
uservoice account or JIRA account and log it there.

On Tue, Aug 30, 2016 at 9:38 PM, Piotr Kaminski n

[2016-08-30 19:49] JamesAnelay commented on #1335
The way your handling issues here is total B.S.

[2016-08-30 19:54] piotrekkaminski commented on #5112
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:54] #5112 closed, assigned to nobody

[2016-08-30 19:54] piotrekkaminski commented on #5022
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:54] #5022 closed, assigned to nobody

[2016-08-30 19:58] piotrekkaminski commented on #4217
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:58] #4217 closed, assigned to choukalos, asemenenko

[2016-08-30 19:58] piotrekkaminski commented on #4153
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:58] #4153 closed, assigned to nobody

[2016-08-30 19:58] piotrekkaminski commented on #4097
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:58] #4097 closed, assigned to antboiko

[2016-08-30 19:58] piotrekkaminski commented on #3998
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:58] #3998 closed, assigned to nobody

[2016-08-30 19:58] piotrekkaminski commented on #2101
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:58] #2101 closed

[2016-08-30 19:58] piotrekkaminski commented on #2047
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:58] #2047 closed

[2016-08-30 19:59] piotrekkaminski commented on #1981
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:59] #1981 closed

[2016-08-30 19:59] piotrekkaminski commented on #1958
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:59] #1958 closed

[2016-08-30 19:59] piotrekkaminski commented on #1852
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:59] #1852 closed

[2016-08-30 19:59] piotrekkaminski commented on #1811
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:59] #1811 closed

[2016-08-30 19:59] piotrekkaminski commented on #1769
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 19:59] #1769 closed

[2016-08-30 20:00] piotrekkaminski commented on #1701
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:00] #1701 closed

[2016-08-30 20:00] piotrekkaminski commented on #1663
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:00] #1663 closed

[2016-08-30 20:00] piotrekkaminski commented on #788
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:00] #788 closed

[2016-08-30 20:00] piotrekkaminski commented on #777
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:00] #777 closed

[2016-08-30 20:00] piotrekkaminski commented on #776
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:00] #776 closed

[2016-08-30 20:00] piotrekkaminski commented on #774
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:00] #774 closed

[2016-08-30 20:01] piotrekkaminski commented on #768
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #768 closed

[2016-08-30 20:01] piotrekkaminski commented on #641
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #641 closed

[2016-08-30 20:01] piotrekkaminski commented on #638
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #638 closed

[2016-08-30 20:01] markalston commented on #1146
I was able to workaround this problem by adding symlinks in pub to ../robots.txt and ../sitemap.xml respectively. Seems to work fine.

[2016-08-30 20:01] piotrekkaminski commented on #635
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #635 closed

[2016-08-30 20:01] piotrekkaminski commented on #631
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #631 closed

[2016-08-30 20:01] piotrekkaminski commented on #630
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #630 closed

[2016-08-30 20:01] piotrekkaminski commented on #629
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #629 closed

[2016-08-30 20:01] piotrekkaminski commented on #628
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:01] #628 closed

[2016-08-30 20:02] piotrekkaminski commented on #622
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:02] #622 closed

[2016-08-30 20:02] piotrekkaminski commented on #600
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:02] #600 closed

[2016-08-30 20:02] piotrekkaminski commented on #599
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:02] #599 closed

[2016-08-30 20:02] piotrekkaminski commented on #760
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:02] #760 closed

[2016-08-30 20:02] piotrekkaminski commented on #744
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:02] #744 closed

[2016-08-30 20:02] piotrekkaminski commented on #734
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:02] #734 closed

[2016-08-30 20:03] piotrekkaminski commented on #707
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #707 closed

[2016-08-30 20:03] piotrekkaminski commented on #705
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #705 closed

[2016-08-30 20:03] piotrekkaminski commented on #699
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #699 closed

[2016-08-30 20:03] piotrekkaminski commented on #698
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #698 closed

[2016-08-30 20:03] piotrekkaminski commented on #690
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #690 closed

[2016-08-30 20:03] piotrekkaminski commented on #687
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #687 closed

[2016-08-30 20:03] piotrekkaminski commented on #684
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #684 closed

[2016-08-30 20:03] piotrekkaminski commented on #680
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #680 closed

[2016-08-30 20:03] piotrekkaminski commented on #679
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:03] #679 closed

[2016-08-30 20:04] piotrekkaminski commented on #653
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:04] #653 closed

[2016-08-30 20:04] piotrekkaminski commented on #649
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:04] #649 closed

[2016-08-30 20:10] piotrekkaminski commented on #2495
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:10] #2495 closed, assigned to mbrinton01

[2016-08-30 20:10] piotrekkaminski commented on #2314
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:10] #2314 closed

[2016-08-30 20:10] piotrekkaminski commented on #2194
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:10] #2194 closed

[2016-08-30 20:10] piotrekkaminski commented on #2183
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:10] #2183 closed

[2016-08-30 20:10] piotrekkaminski commented on #2175
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:10] #2175 closed

[2016-08-30 20:10] piotrekkaminski commented on #2151
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:10] #2151 closed

[2016-08-30 20:10] piotrekkaminski commented on #1896
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:10] #1896 closed

[2016-08-30 20:11] piotrekkaminski commented on #1887
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1887 closed

[2016-08-30 20:11] piotrekkaminski commented on #1839
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] piotrekkaminski commented on #1838
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] piotrekkaminski commented on #1785
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1785 closed

[2016-08-30 20:11] piotrekkaminski commented on #1784
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1784 closed

[2016-08-30 20:11] piotrekkaminski commented on #1584
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1584 closed

[2016-08-30 20:11] piotrekkaminski commented on #1564
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1564 closed

[2016-08-30 20:11] piotrekkaminski commented on #1457
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1457 closed

[2016-08-30 20:11] piotrekkaminski commented on #1306
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1306 closed

[2016-08-30 20:11] piotrekkaminski commented on #1251
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1251 closed

[2016-08-30 20:11] piotrekkaminski commented on #1247
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1247 closed

[2016-08-30 20:11] piotrekkaminski commented on #1103
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1103 closed

[2016-08-30 20:11] piotrekkaminski commented on #1102
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:11] #1102 closed

[2016-08-30 20:12] piotrekkaminski commented on #1068
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:12] #1068 closed

[2016-08-30 20:12] piotrekkaminski commented on #1032
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:12] #1032 closed

[2016-08-30 20:12] piotrekkaminski commented on #1024
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:12] #1024 closed

[2016-08-30 20:12] piotrekkaminski commented on #1022
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:12] #1022 closed

[2016-08-30 20:12] piotrekkaminski commented on #912
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:12] #912 closed

[2016-08-30 20:12] piotrekkaminski commented on #778
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:12] #778 closed

[2016-08-30 20:12] piotrekkaminski commented on #745
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:12] #745 closed

[2016-08-30 20:13] piotrekkaminski commented on #676
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-30 20:13] #676 closed

[2016-08-30 20:30] developer-lindner commented on #6335
Interesting changes, but no changes to the unusable directives in wysiwyg editor ( {{media url=""}} ) for example.

[2016-08-30 20:37] esilvajr commented on #4170
@vasilii-b Same here, but i did a new installation, not an upgrade...

[2016-08-30 20:47] choukalos commented on #6336
Please share your insights with us (blog & share link, or you can email me directly - my email is in my profile).  Please share PR's - cc me on them and I can escalate if appropriate.

We haven't run any performance tests with 2B sku's (or anything close to that) on Magento 2.  so I'd caution there's likely to be a few areas that you'll need to tune or customize.

Some notes/thoughts:
1.  The gene

[2016-08-30 20:54] choukalos commented on #5676
Hi @adragus-inviqa that's for the update.

@piotrekkaminski looks like this one is in your area.

[2016-08-30 21:03] choukalos commented on #4688
This is addressed in todays 2.1.1 patch.

On a product update (any field) the cache should be cleared for the product page and any associated category pages.

[2016-08-30 21:03] #4688 closed, assigned to nobody

[2016-08-30 21:15] bjoern-quast commented on #6398
Thank you!
I couldn't find that issue with the obvious search "custom swatch size".

[2016-08-30 21:19] bjoern-quast commented on #6382
custom swatch size

...just leaving this here for any future search queries, hope it works! :)

[2016-08-30 21:31] Cacasapo commented on #6335
@developer-lindner Yeah, my hopes are dashed.

[2016-08-30 21:48] heldchen commented on #5073
problem still present in 2.1.1

[2016-08-30 21:49] heldchen commented on #5190
problem still present in 2.1.1

[2016-08-30 21:54] bka commented on #6357
@boldhedgehog Thanks, I'm aware of this and thats why I'm wondering why this setting seems to have influence on the burger menu - it just doesn't expand anymore. Did not have time to dive deeper into this.

[2016-08-30 21:55] heldchen commented on #4921
this is not included in 2.1.1

[2016-08-30 21:55] GlobalOutsourcing opened #6405 "Cron script readiness check failed. Hide detail - Error from Updater Application Cron Script"
Centos System 7
PHP 5.6.21
Magento 2.1
### Steps to reproduce
1. Navigate to System -> Tools -> Setup Wizard
2. Select System Upgrade
3. Start Readiness check
### Expected result
1. Readiness check completes successfully and can move to next step for upgrade
### Actual result
1. Error displays:

Error! You need to resolve these issues to continue.

Check Cron Scripts

Cron script readiness check f

[2016-08-30 21:59] heldchen commented on #5574
still present in 2.1.1

[2016-08-30 22:00] heldchen commented on #6122
still present in 2.1.1

[2016-08-30 22:01] sIiiS commented on #3324
I changed the Title, is this enough ?

[2016-08-30 22:04] jibrandlr commented on #6330
@antboiko The problem was indeed sendmail not configured properly, thanks.

[2016-08-30 22:12] heldchen commented on #2931
this seems still present in 2.1.1

[2016-08-30 22:14] heldchen commented on #6261
problem seems still present in 2.1.1

[2016-08-30 22:17] heldchen commented on #6403
also applies to 2.1.1

[2016-08-30 22:28] gamort commented on #4245
@jameshalsall makes a curious statement.
"saying that you shouldn't have to require the installer to pass that option when building for production is nonsense."
 
Just wondering if you still stand by that comment or if you have learned a bit more about how Composer works and how it is used by Magento?

Various magento command line tools invoke composer install/upgrade internally.  I'm not aware of

[2016-08-30 22:47] ghost commented on #6368
I've noticed when I checkout to the release branch 2.1, the head becomes detached. I haven't seen this on other projects I've worked on. That's how I went about it, the installation instructions don't talk about any of this.

[2016-08-30 23:23] loneregister commented on #3601
At this point,I am not sure what the solution is/was.  Are you running the current version alextotal?

[2016-08-30 23:40] moloughlin commented on #6159
I was facing the same issue, and limiting the customer to using only 1 line for the street address was not a valid solution.
Looks like a fix was added to the develop branch (not included in 2.1.1). But as an alternative, I fixed it by overriding module-checkout/web/js/view/shipping.js and changing the following (L115):

[code]

to this:

[code]

This will make the element merging recursive into t

[2016-08-30 23:46] jibrandlr commented on #5762
My configurable products **have** sub-products (simple products) assigned but still get this error in 2.1.1.
In 2.1.0 this issue is not present in my installation.

[2016-08-30 23:56] stamster commented on #6401
Excellent point!
But I'm afraid such change is not going to happen anytime soon, maybe for Magento 3.0... and this is only one of the topics out there to discuss when it comes to optimization.

[2016-08-30 23:58] stamster commented on #6399
The thing is, those logs are full of errors such as 'broken reference' etc. I don't have an example at hand, tomorrow I'll post more. And that is really bad, to have log full of 'broken' stuff even on a clean install - that means lot's of basic bugs are still left unresolved. :100:

[2016-08-31 01:07] plentyhappy opened #6407 "2.1.1 and 2.0.9 known issue sales API"
I was about to install 2.1.1 but read your statement.  We use Shipstation which sends us tracking numbers once per day.  This updates our order status to complete which then tells authorize.net to capture funds.  Will this process not work anymore?  If so, any idea how long it will take to fix this known issue?

Known issue

The Sales API does not currently support all the update operations on obj

[2016-08-31 01:42] katef commented on #6401
Thank you - Although I'd request that you consider this a blocking item, rather than an optimisation, because this header is so large that it prevents certain users from using Varnish.

[2016-08-31 01:49] melnikovi commented on #6401
@katef thank you for reporting this issue, internal ticket created MAGETWO-57851

[2016-08-31 01:50] Ctucker9233 commented on #5600
@piotrekkaminski Great! Kick it to the forum where no one will ever see it.

[2016-08-31 01:53] mbrinton01 commented on #5134
Thank you @springimport, glad to know it's working for you now. Closing the issue

[2016-08-31 01:53] #5134 closed, assigned to sdzhepa

[2016-08-31 03:17] Ctucker9233 commented on #5423
@karlsminton have you tried deleting the entire vendor folder and reloading a fresh 2.1 vendor folder?

[2016-08-31 03:55] GlobalOutsourcing commented on #4119
I am experiencing the same issue in developer mode and no idea how to fix it.

Anyone have a solution for this please?

[2016-08-31 04:53] luantran1311 commented on #3386
i'm running on v2.1.0 , but it is not working!

[2016-08-31 05:52] afavata commented on #5459
**Just upgraded to 2.1.1
Issue does still exist!**
@wardcapp's solution has resolved defenetely the issue.
As per @rosandrest and @jvreeken the paths to the files are:
vendor/magento/module-catalog/Block/Adminhtml/Product/Edit/Action/Attribute/Tab/Attributes.php
vendor/magento/module-catalog/Controller/Adminhtml/Product/Action/Attribute/Save.php

@okorshenko can please take a look to this issue an

[2016-08-31 06:00] bondimedical3 opened #6408 "Magento 2.1.1 upgrade"
I upgraded my 2.1.0 store from the Admin and the console log stated the update had completed successfully.
However, my frontend and Admin are displaying a Fatal error - see screenshot. I removed the maintenance flag which was still in the var/ directory but it made no difference.
I have tried manually deleting CollectionFactory.php but it says there is a permissions issue and when you try to chang

[2016-08-31 06:18] flipflap commented on #6318
Ok, thanks!

[2016-08-31 06:21] flipflap commented on #4686
@veloraven I think the problem is still there, I couldn't solve it. But instead I use composer and comand line to update now.

[2016-08-31 06:38] veloraven commented on #4865
@gamort if this issue is still actual please format it  according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
If it is not actual anymore please close it.

[2016-08-31 06:42] resmivarghese commented on #3605
Thanks Elen.
Can you let me know where to get 2.1.1 version.
If not when is the release date.

[2016-08-31 07:00] bharathi341 commented on #6258
I am also getting same issue in development server on production mode. Please help me to solve this issue.

Thanks,
Bharathiraja

[2016-08-31 07:13] hectornguyen opened #6409 "rjsResolver.js not found on fresh installation, all grids are dead?"
### Preconditions

1. Ubuntu 16.04.1 LTS
2. Magento 2.1.1
3. PHP 7.0.10 (or PHP 5.6.25)
4. Percona 5.7 (`5.7.14-7-log Percona Server (GPL), Release '7', Revision '083e298'`)
### Steps to reproduce

1. Install latest Magento version through `composer`, then install it via `bin/magento setup:install` with **https://** in `--base-url`
2. Execute `bin/magento setup:upgrade`
3. Execute `bin/magento set

[2016-08-31 07:14] veloraven commented on #4756
@neoshd is this issue still actual?
If you have any other problems which differ from the originally described one please create separate issues for them.

[2016-08-31 07:17] liquidia commented on #1146
still broken in 2.1.1

[2016-08-31 07:18] TommyKolkman commented on #4506
With all respect, but this is not an improvement or feature, but a bug, if you ask me. Right?

[2016-08-31 07:27] liquidia commented on #5923
issue still exist in latest 2.1.1

[2016-08-31 07:33] liquidia commented on #6335
Atleast 3 issues still exist
1.Missing link to Web setup wizard (when root is pub)  #5235
2.XML File Path issue  (when root us pub)  #2802
3.CMS url rewrite issue #5923

[2016-08-31 07:33] picamator commented on #6219
@dmitrisol  thank you for reporting.

Actually it is not an issue.
The renameFile works with relative path, see `Magento\ImportExport\Model\Import.php` line 523 as example. So if you run `renameFile` from `$dstDir` it will work.

Modified code is bellow:

[code]

About your proposal solution. Magento 2 has nearly 26 places where `renameFile` is used without taking into account user extensions.
The

[2016-08-31 07:34] #6219 closed, assigned to nobody

[2016-08-31 07:36] jameshalsall commented on #4245
@gamort I think this was me misunderstanding Magento's installation procedure at any depth.

On the vendor stuff, this is only a security problem if your web root is the Magento root folder, it should always be the `pub` folder. Any files outside of the web root are fine providing they aren't included in any of the files inside the web root. This is a huge issue for Magento, it should not have a f

[2016-08-31 07:37] wert2all commented on #6154
First of all, we don't support windows. If you try to develop custom theme You need to provide all steps for reproducing in clean Magento.

[2016-08-31 07:40] andidhouse commented on #6335
According to the changelog 6? github issues are solved?
Am i wrong?

http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.1CE.html

Or are more issues solved and not reported?
I mean here are for example more then 30-40 priority one issues flying around for month blocking every normal shop totally and now there are 6! issues solved?

Or do i misunderstand something here?

If magent

[2016-08-31 07:41] andimov commented on #2940
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-31 07:41] #2940 closed, assigned to nobody

[2016-08-31 07:42] andimov commented on #2897
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-31 07:42] #2897 closed, assigned to nobody

[2016-08-31 07:44] sevos1984 commented on #6255
Closing ticket since this is designed behavior.

[2016-08-31 07:44] #6255 closed, assigned to sevos1984

[2016-08-31 07:48] veloraven commented on #6330
@lgarridoj thank you for update.
I'm closing this issue as not a bug.

[2016-08-31 07:48] #6330 closed, assigned to nobody

[2016-08-31 07:52] AVoskoboinikov commented on #2966
Hi guys,

@shemayas and @arielmorry, could anyone of you provide detailed steps to reproduce issue? By 'detailed' I mean that I need to know what you have done with magento configuration after installing it. I've tried to use Magento CE 2.1.0 version with Hebrew locale but it works fine for me. Moreover, I've tried to save different texts in hebrew, japanese, korean and chinese languages and again

[2016-08-31 07:57] sevos1984 commented on #6337
You should have '"Contact Us", "%translation%"' in app\code\Magento\Contact\i18n\nl_NL.csv and Dutch (Netherlands) set in Configuration>General>Locale. Do you have these settings?

[2016-08-31 07:57] romainruaud commented on #6336
Hello @choukalos and thank you for you long answer. It is nice to see that my question seems interesting to you.

About insights, we already planned to release a blog article or something else to the community after the testing session (if we find something accurate and interesting to share with everybody).

Regarding the PRs and escalation, I'd gladly appreciate if you could escalate this issue :

[2016-08-31 07:59] damianfabian commented on #5881
Hello Guys, I have been trying to install Magento 2.1-GA on Windows with XAMP but I'm receiving this error, I already did everything that I found on internet, and still the login does not work. I'm using Apache with V-Host, I changed the file Utils.php file and does not work, I changed the session to use the DB, I change the password for a strong password, I tried to unlock the user, everything an

[2016-08-31 08:02] mktudock commented on #5885
@antboiko  Can you tell me how high the priority for these custom options issues is?

Because for us all of these issues (#5885, #5612, #5931, #5938, #5972...) are pretty critical for us. We have a shop that relies on custom options, and the 2.1. update made it pretty unmanageable.

Do you know when they will be fixed in the develop branch? Is someone already working on it?

[2016-08-31 08:03] samc2810 commented on #5352
Hi there

this issue was supposed to be patched in the nearest release, but the 2.1.1 still has the issue and it was released yesterday. not cool

[2016-08-31 08:07] kanduvisla opened #6410 "2.0.9 : customer-data.js:49 Uncaught Error: [object Object]"
# Issue description

I get the following error in the console. It doesn't matter if I'm logged in or not or if I have any products in my cart:

[code]
# Steps to reproduce
1. Open Chrome (version 52 at the moment of writing).
2. Go to a product detail page.
3. Add to the cart.
4. Refresh the page.

Watch the console.
# Expected result

No error in the console
# Actual result

Error in the console: