[2022-08-09 23:53] pmonosolo commented on #35901
The code responsible is this:

![image](https://user-images.githubusercontent.com/66754347/183780476-d2456c30-df9e-478c-95e3-0beade26cd86.png)

I wonder if the list was not generated or something during the upgrade?

I've tried flushing cache and disabling it completely.

[2022-08-10 02:49] Kannakiraj123 commented on #35900
@magento give me 2.4-develop instance

[2022-08-10 05:32] thlassche commented on #35900
Workaround:

Override `limiter.phtml` in your theme:

`app/design/frontend/Your/Theme/Magento_Catalog/templates/product/list/toolbar/limiter.phtml`

[code]

[2022-08-10 05:37] engcom-Bravo commented on #35809
Hi @tales-desde-mileto,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-10 05:37] #35809 closed, assigned to engcom-Bravo

[2022-08-10 05:56] engcom-Hotel commented on #35743
Dear @nbennett25,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-10 05:56] #35743 closed, assigned to engcom-Hotel

[2022-08-10 06:16] engcom-November commented on #35496
Hi @YiffyToys ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-10 06:16] #35496 closed, assigned to engcom-November

[2022-08-10 06:28] m2-amn commented on #35875
Hello @engcom-Lima,

It seems that other factors are involved, so please put this matter on hold at present.
Thank you for your time.

[2022-08-10 07:26] tuyennn commented on #34415
Confirm same issue on EE 2.4.3-p2

[2022-08-10 07:26] kassner commented on #35517
https://github.com/magento/magento2/blob/2.4.4-p1/app/code/Magento/Catalog/Cron/RefreshSpecialPrices.php#L167

The second parameter there, `$identifierField`, resolves to `(string) "entity_id"`. However, `$connection` is an object of `Magento\Framework\DB\Adapter\Pdo\Mysql`, and `fetchCol` is defined as:

https://github.com/magento/zf1/blob/master/library/Zend/Db/Adapter/Abstract.php#L785-L797

It

[2022-08-10 08:29] Aquive opened #35903 "Final price not considering store scope?"
### Preconditions and environment

- Magento version 2.4.3-p2
- 2 different websites with their stores and storeviews.

### Steps to reproduce

1. Add a product to the system for say €50
2. Assign the product to both websites (website 1 and website 2)
3. Make a new catalog rule with 50% off specific for the SKU of the added product, assign the catalog rule only to website 1
4. Check the product in

[2022-08-10 08:33] #35897 closed, assigned to engcom-Dash

[2022-08-10 08:39] engcom-Echo commented on #35616
Hello @rob-gonz,

Thanks for raising your concern and make patience.

We have tried to reproduce the issue in Magento 2.4-develop branch, but for us, the issue is not reproducible. We have followed the below steps:

1. Install the fresh Magento instance.
2. Create the approx 40 k product.
3. Run the cache flush.
4. Run the reindex for catalog_product_index_price.
5. Check the count catalog_product

[2022-08-10 08:40] gwharton commented on #35884
Whenever you get a bug like this, its because the less to css compilation failed. To work out what went wrong, in dev mode, if you browse to the file "http://gocustom.com/static/_cache/merged/source/stroke/helper.css", it should give you the less compilation error in the browser.

The underlying error is because the browser was expecting a compiled style sheet, but instead it got a html error page

[2022-08-10 10:03] engcom-Lima commented on #35824
Hi @kardeiz ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-10 10:06] #35824 closed, assigned to engcom-Lima

[2022-08-10 10:11] engcom-Dash commented on #35784
Hi @devefectus ,

We are trying to reproduce the issue but we are not able to reproduce....

For your reference i attached the screenshots below:
![Screenshot from 2022-08-09 19-23-42](https://user-images.githubusercontent.com/60198592/183875993-8812cfe9-0544-42df-8a78-29543330f485.png)

When we trying to activate two or more integrations it will be activate and we are not getting exact results.

[2022-08-10 10:18] engcom-Dash commented on #35884
Hi @gwharton ,

Thanks for your information....We are working as per your comments and the link is attached by you isn't not working for me...Kindly provide some alternate link or file...Because its very helpful us.

Thanks!!!

[2022-08-10 10:20] gwharton commented on #35884
Yeah, that was a prompt to the original issue reporter on how to diagnose further.

[2022-08-10 10:35] MatthijsBreed commented on #30151
For whoever this helps, I've had the same issue after adding a custom customer attribute of the type date.
However, after adding the following as view/adminhtml/ui_component/customer_listing.xml in my module, it works again:
`<columns name="customer_columns">
    <column name="customer_first_order" class="Magento\Ui\Component\Listing\Columns\Date" component="Magento_Ui/js/grid/columns/date" sortOr

[2022-08-10 10:43] engcom-November opened #35904 "Unable to install data migration tool from github"
### Preconditions and environment

Magento 2.4-develop

### Steps to reproduce

Install data migration tool on 2.4-develop from github. Ref [guide](https://devdocs.magento.com/guides/v2.4/migration/migration-tool-install.html)
**Steps:**

or run > composer require magento/data-migration-tool:~2.4

### Expected result

Data migration tool is installed successfully.

### Actual result

Unable to ins

[2022-08-10 11:39] jorgb90 opened #35905 "Uncaught TypeError: utils.formatPriceLocale is not a function"
### Preconditions and environment

- Magento 2.4.5

### Steps to reproduce

1. Navigate to a product, doesnt matter if its a simple, configurable or anything else.

### Expected result

No JS error

### Actual result

price-box.js:153 Uncaught TypeError: utils.formatPriceLocale is not a function
    at $.<computed>.<computed>.<anonymous> (price-box.js:153:41)
    at underscore.js:723:29
    at Fun

[2022-08-10 11:45] jorgb90 commented on #35905
This seems to also affect the cart and checkout..

[ERROR] Failed to load the "Magento_Tax/checkout/summary/subtotal" template requested by "block-totals.subtotal".

jquery.js:4050 jQuery.Deferred exception: Unable to process binding "if: function(){return !isTaxDisplayedInGrandTotal && isDisplayed() }"
Message: Unable to process binding "text: function(){return getValue() }"
Message: priceUtils.f

[2022-08-10 11:59] engcom-Hotel commented on #34997
Hello @Nuranto,

Thanks for the reply!

We have tried this after clearing the cache as well. But the outcome is the same as mentioned in this comment https://github.com/magento/magento2/issues/34997#issuecomment-1209111738.

Please let us know in case we have missed anything.

Thanks

[2022-08-10 12:03] jancyceymox opened #35906 "GraphQL Routes query with fragments has issue in the category page"
### Preconditions and environment

Environment: Magento Open Source 2.4.5

Preconditions: Use the category page URL in the param. Also, use fragments in the query

### Steps to reproduce

1. Create a sub category under default category and run the graphQL query with category url in the query. Please run it in the tool
[code]

2. Variable used:
 `{
  "url": "men.html"
}`

### Expected result

Retur

[2022-08-10 12:08] jorgb90 commented on #35905
Mm solved it. Was not a core issue.

[2022-08-10 12:08] #35905 closed, assigned to nobody

[2022-08-10 12:18] stephansteiner commented on #35900
Having the same issue, apparently the $localeFormatter (which is new in 2.4.5) is not passed to the product/list/toolbar/limiter.phtml template or any other template like product/list/toolbar/amount.phtml or product/price/tier_prices.phtml at all.

Upgrading a webshop to 2.4.5 gives me the error:
Warning: Undefined variable $localeFormatter in /var/www/html/vendor/magento/module-catalog/view/front

[2022-08-10 12:25] gwharton commented on #35900
Whilst my error was on Line 26, it was because it was trying to parse the phrase "All" as an int. It was expecting all entries of the limiter to be an integer number which it isnt when the setting is set.

I don't seem to be experiencing the $localeFormatter issue.

[2022-08-10 12:25] pmzandbergen opened #35907 "Webapi: Configurable product can not be updated"
### Preconditions and environment

Magento version `>= 2.4.4-p1`

### Steps to reproduce

1. Create a Configurable Product with 2 simples (configurations), called option A and B.
2. Create a Cart containing the Configurable Product using option A
3. Update the Cart Item to use option B using the REST API without updating the quantity (`PUT guest-carts/{cartId}/items/{itemId}`) *
4. The Cart Item i

[2022-08-10 12:31] engcom-Echo commented on #26866
Hello @bartoszkubicki,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-10 12:31] #26866 closed, assigned to engcom-Echo

[2022-08-10 12:34] ithunter101 commented on #30719
Hi, I have an issue with cart Cart Price Rules.
If I make a new rule, it only apply to last product in cart.
Can anyone explain about it?

[2022-08-10 12:50] engcom-Bravo commented on #35893
Hi @hassanas,

Thanks for quick response.

We are checking from long time but we didn't face any error related to add a product to Wishlist. kindly Provide specific scenario that you have face this error.

Thanks.

[2022-08-10 13:01] jorgb90 commented on #35901
Running 2.4.5 here and not having this issue. Perhaps some external module is altering this list?

[2022-08-10 13:12] pmzandbergen commented on #35907
@magento give me 2.4-develop instance

[2022-08-10 13:38] pmzandbergen commented on #35907
### Confirmed

**Create Cart**
_Request_
[code]
_Response_
[code]

**Add Item**
_Request_
[code]
_Response_
[code]

**Update Item**
_Request_
[code]
_Response_
[code]
The product options should have been updated at this point, but they are not.
**Update Item including its quantity**
_Request_
[code]
_Response_
[code]
Both quantity and options have been updated.

[2022-08-10 13:41] engcom-Echo commented on #35877
Hello @OvalMedia,

Thanks for contribution and collaboration.
Please provide the expected and actual result and provide more information with exact steps and screenshot so that we can reproduce this issue.

Thanks

[2022-08-10 13:45] engcom-Lima commented on #35561
@magento give me 2.4-develop instance

[2022-08-10 13:53] engcom-Bravo commented on #35904
Hi @engcom-November,

Thanks for your contribution and collaboration.

Verified the issue on Magento 2.4-develop branch. We are able to reproduce the issue. Kindly refer the screenshots

Steps Followed:

1.composer config repositories.data-migration-tool git https://github.com/magento/data-migration-tool
2.composer require magento/data-migration-tool:2.4.4

<img width="940" alt="gt" src="https://u

[2022-08-10 14:04] #35334 closed, assigned to nobody

[2022-08-10 14:18] ivanko-dev opened #35909 "Object of class Magento\Framework\Phrase could not be converted to int on loading catalog product view page"
### Preconditions and environment

- Magento Enterprise 2.4.5

### Steps to reproduce

1. Set catalog/frontend/list_allow_all to 1
2. Open catalog product view page

### Expected result

Page loaded with no errors

### Actual result

Error on loading appears:
Exception #0 (Exception): Warning: Object of class Magento\Framework\Phrase could not be converted to int in /path_to_project/vendor/magento

[2022-08-10 14:28] LukasDeRuiter opened #35910 "OptionValueProvider class get() method contains an incorrect query value"
### Preconditions and environment

- Magento version: 2.4.3

### Steps to reproduce

1. Install Adobe Commerce with sample data.

2. Remove the following line in the DB (`DELETE FROM eav_attribute_option_value WHERE `eav_attribute_option_value`.`value_id` = 221`):
![2022-09-07_06-28](https://user-images.githubusercontent.com/75968/188793292-2cfecffa-1903-4baf-ba55-887d9e36d1cb.png)

Try to create

[2022-08-10 16:44] ghost opened #35911 "From yesterday, issue after 'classic' composer update"
### Preconditions and environment

- Magento version 2.4.4
- Anything else that would help a developer reproduce the bug

From yesterday, i can see a lot of module updated with simple composer update command.
I note that yesterday, magento 2.4.5 has released

I understand not why composer update make one upgrade of all magento core module without i specify require with Magento version.

### Steps

[2022-08-10 17:46] pmonosolo commented on #35901
Hmmm, not sure yet. Just starting to dig into this again.

So far I have:
rm -rf vendor/*

Then upgraded composer to v2 and reinstalled everything. Still getting the same error.

Found mentions of CountryFilter in two plugins:
[code]

Going to try to go around them or deinstall. Will report back.

[2022-08-10 17:59] FadedOut commented on #35898
Is this happening on the just released 2.4.5? (I have not updated yet)

[2022-08-10 18:29] hostep commented on #35163
@engcom-Alfa: why did this issue get closed without any feedback explaining why it got closed?

[2022-08-10 19:01] pmonosolo commented on #35901
Disabling those two plugins did not work.

I assume this is a data problem - something broke when initial upgrade script ran (did not finish successfully on first try).

Going to try uploading new backup of DB and re-running the upgrade command.

[2022-08-10 19:26] pmonosolo commented on #35875
Can you please let us know what did you find? I'm hitting the same issue on 2.4.5:
https://github.com/magento/magento2/issues/35901

[2022-08-10 19:27] pmonosolo commented on #35901
Could it be related to: https://github.com/magento/magento2/issues/35875
?

[2022-08-10 19:28] sdzhepa commented on #35911
Hello @achatpc

I am not sure but it looks like a known issue.
Could you please check this article and confirm if it helps?
https://support.magento.com/hc/en-us/articles/8214752983949

[2022-08-10 19:33] sdzhepa commented on #35904
@engcom-Bravo  @engcom-November @engcom-Hotel

Is it an issue related to Magento Core code or to the data-migration tool?
If it's related to the tool(fix should be in tool repo) it makes sense to report in https://github.com/magento/data-migration-tool/issues

[2022-08-10 19:36] achatpc commented on #35911
Hello,
Working

Thank you so much!

[2022-08-10 19:49] pmonosolo commented on #35901
Hmmm same error after redoing upgrade command on new DB backup.

Must be something else.

[2022-08-10 19:53] jjordan73 opened #35912 "Magento orders not transferring to QuickBooks"
### Preconditions and environment

Magento ver. 2.4.3-p1
I am missing orders that are not transferring to QuickBooks

### Steps to reproduce

Orders are in Magento, but not in quickbooks.  No pattern

### Expected result

All orders created in magento need to get transferred to quickbooks

### Actual result

we are missing orders

### Additional information

_No response_

### Release note

_No re

[2022-08-10 19:56] pmonosolo commented on #35901
Checked the DB:

![image](https://user-images.githubusercontent.com/66754347/184008056-e01028f7-702f-4576-8879-ea5547a348e9.png)

Looks like the values are empty. Are they supposed to be any other way?

[2022-08-10 20:04] pmonosolo commented on #35901
After doing this:

![image](https://user-images.githubusercontent.com/66754347/184009355-f2805df9-efbe-4da6-8b67-5dd706f679d6.png)

Then going to General -> Countries -> European Union Countries -> Clicking "Use system value"

Then undoing the code back to initial state:

![image](https://user-images.githubusercontent.com/66754347/184009556-ac933bc9-fd3d-4f25-bea6-d31b797b32cb.png)

The page now s

[2022-08-10 20:05] achatpc commented on #35911
Well, I probably spoke a little fast...

On my developer environement:

This script allows you to stay on version 2.4.4 and to continue, if necessary, to run composer update and keep the versions of the different modules up to date.

However, after script rollback and update request to Magento 2.4.5, the issue reappears.

And the script does not work with Magento version 2.4.5.

Anyway, it is nece

[2022-08-10 20:15] pmonosolo commented on #35901
I think this was a bug somewhere in 2.4.3, or in the earlier version of Magento 2.3.3 which the site went through that the values were not defaulted when you uncheck them and uncheck "Use system value".

Now on 2.4.5 when you uncheck the "Use System Value" it defaults the fields to:

![image](https://user-images.githubusercontent.com/66754347/184010953-ff2316c7-56dc-4338-8d08-4f532bd3f0a8.png)

If

[2022-08-10 23:53] xtremevision commented on #35603
Same here, also seeing it after upgrade to 2.4.4. I also think it's affecting cart integrity/behavior, as in, I place the order, it completes successfully, I see the error in the log, the cart shows it's empty, I got to a category page and the same product and suddenly the cart shows 2 items. If I proceed with the order and try to place it, I get an exception:

[2022-08-10T23:09:54.909522+00:00] m

[2022-08-11 00:08] kamzata commented on #35909
+1

[2022-08-11 00:40] sidolov opened #35913 "jquery.cookie dependency leads to JS issues with KO dependencies"
### Preconditions and environment

- 2.4.5

### Steps to reproduce

From Twitter:

https://twitter.com/jissereitsma/status/1557372818257485834
I'm not getting this entirely yet, but a custom [#magento](https://twitter.com/hashtag/magento?src=hashtag_click) 2.4.5 install had a theme with a global Require dep for "jquery/jquery.cookie": This suddenly caused all of the other JS (like KO) to fail sile

[2022-08-11 00:57] jasuten commented on #35875
Hi @pmonosolo ,

We had the same issues. I think PHP 8 changed the default error reporting level or is not listening to the display errors setting properly.

As a short term fix we modified **app/bootstrap.php** and changed the line:
`error_reporting(E_ALL);`
to:
`error_reporting(E_ALL & ~E_DEPRECATED & ~E_STRICT);`

[2022-08-11 01:37] robolmos commented on #35416
Is there a related commit with the fix or quality patch?

[2022-08-11 05:48] thlassche commented on #35900
@gwharton Same in my case.

[2022-08-11 06:28] engcom-November commented on #35898
@magento give me 2.4-develop instance

[2022-08-11 07:38] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-08-11 07:44] StruggleSnuggl3 commented on #35909
+1

[2022-08-11 08:28] nopenopenope commented on #33942
Still open. Ist dere any update for this?

[2022-08-11 10:04] Etje commented on #35880
I saw your video. unfortunately the Magento instance provided by @engcom-Lima does not work anymore, so I can not verify it. That said, I am oké with closing the issue, because it's not relevant anymore

[2022-08-11 11:02] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-08-11 11:36] engcom-November commented on #35901
Hi @pmonosolo ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3 to 2.4.5 in production mode but could not able to reproduce the issue.
Kindly elaborate the steps / configuration details or any other modules enabled if any is causing the issue.
Thank you.

[2022-08-11 11:38] engcom-November commented on #35794
Hi @kalvinder123 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-11 11:38] #35794 closed, assigned to engcom-November

[2022-08-11 12:04] digitalbricklayer commented on #35909
+1

[2022-08-11 12:05] engcom-Dash commented on #35911
Hi @achatpc ,

We are trying to reproduce the issue but we  are not able to reproduce.
We are Expected results all working fine in magento 2.4.4 instance.

For reference here i attached the screenshots:
![2](https://user-images.githubusercontent.com/60198592/184129174-5c6e29aa-48f7-4d2a-a018-23968354ef62.png)
![1](https://user-images.githubusercontent.com/60198592/184129186-f14a5c63-9c4a-4009-888f

[2022-08-11 12:14] madbounce commented on #35847
@magento give me 2.4-3 instance

[2022-08-11 12:19] madbounce commented on #35847
@magento give me 2.4.4 instance

[2022-08-11 12:22] madbounce commented on #35847
@magento give me 2.4.4 instance

[2022-08-11 12:22] engcom-Dash commented on #35733
Hi @mwdana ,

We are trying to reproduce the issue but we are not able reproduce...

When we are adding the product as 1 as well as 151 all the shipping methods are listing.

Let us know if we are missing anything...

[2022-08-11 12:32] Beraa995 commented on #29090
Hi,

You can do the import like you did, but after that, as a workaround, you need to do a second import containing only "is_in_stock" column without "qty" column. With this approach you can achieve to have 0 quantity and in stock status.

[2022-08-11 12:32] achatpc commented on #35911
Now try to upgrade to 2.4.5 version.

Can you provide me all uograde step ?

[2022-08-11 12:34] johncy65 commented on #35911
I'm getting this error on 2.4.5

[2022-08-11 12:46] reense commented on #35603
We're having this issue with multiple shops as well.

[2022-08-11 12:55] madbounce commented on #35847
@magento give me 2.4.4 instance

[2022-08-11 13:02] madbounce commented on #35847
@magento give me 2.4-develop instance

[2022-08-11 13:02] stkrelax commented on #35756
HINT

Magento\UrlRewrite\Controller\Router\Interceptor returns Magento\Framework\App\Action\Forward\Interceptor
which executes , which causes controller_action_predispatch, which causes getFullactionName be '__'
next is

Magento\Framework\App\Router\Base\Interceptor returns Magento\Catalog\Controller\Product\View\Interceptor
which executes, which causes controller_action_predispatch a second time

[2022-08-11 13:28] ClintTec commented on #35419
There were no resolution for linux?

Error: Undefined constant "Magento\Framework\Encryption\Adapter\SODIUM_CRYPTO_AEAD_CHACHA20POLY1305_IETF_NPUBBYTES" in /home/tec/projects/digital-imaging-express-pty-ltd/vendor/magento/framework/Encryption/Adapter/SodiumChachaIetf.php:59

Still happening on Ubuntu 22.04.1 LTS
PHP 8.1.2 (cli) (built: Jul 21 2022 12:10:37) (NTS)
Copyright (c) The PHP Group
Zend E

[2022-08-11 15:38] mwdana commented on #35733
Can I test in your environment as well?

[2022-08-11 15:46] diogocolete commented on #35293
It's work for me!

[2022-08-11 15:47] aohlrogge commented on #35909
I'm having this same issue on Magento Community Edition as well

[2022-08-11 15:48] diogocolete commented on #35293
module magento-newsletter load file error. changing null to '' worked

[2022-08-11 16:51] pmonosolo commented on #35912
Which plugin are you using? Magento 2 does not have direct QB connection.

[2022-08-11 17:10] hostep commented on #35604
The full AC-3556 fix is here: https://github.com/magento/magento2/commit/b2bfd0562c3ea5708fb836347404ce38b57040c4

Unfortunately the fix seems just like a workaround, because this problem might happen again in the future.
It's probably wiser if Adobe listens to [the recommendations](https://github.com/Seldaek/monolog/issues/1684#issuecomment-1152874168) of the author of the monolog library who sug

[2022-08-11 17:21] hostep commented on #35416
@robolmos: it's probably [this commit](https://github.com/magento/magento2/commit/688168d4df5b57278a797c8236fbf3d8aa0e0aa2) which fixed it, since it's the only commit that mentions `AC-3036` (source: https://github.com/magento/magento2/issues/35416#issuecomment-1121963281):

[2022-08-11 17:24] jjordan73 commented on #35912
I’ll check and get back to you.  Problem is we are getting most customer and orders transferring direct into QB from Magento, but not all of them

Justin Jordan
512-487-0947

[2022-08-11 17:32] pmonosolo commented on #35912
You guys need a developer to take a look at this.

This is not related to Magento 2.

[2022-08-11 17:33] jjordan73 commented on #35912
We have 2.  Which plug-in do we need?

Justin Jordan
512-487-0947

[2022-08-11 17:34] pmonosolo commented on #35912
You need to check your website configuration and trust your website developers to fix the issue.

[2022-08-11 17:36] convenient commented on #35604
Agreed @hostep

I did try and have some conversation about this back in June but was ignored.

https://github.com/magento/magento2/pull/35596#issuecomment-1153655914

My workaround was then taken in any case 🙃

[2022-08-11 17:40] blockedie opened #35914 "Submitting Credit Memo reduces Quantity of inventory products"
### Preconditions and environment

- Magento ver. 2.4.2-p2
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1. Configure an inventories product that has a specific stock quantity and salable quantity. Make sure it is greater than or equal to two for the purpose of recreating this bug.
2. Create an order with one of these products and submit it. Note that the s

[2022-08-11 17:42] hostep commented on #35811
@engcom-November: out of curiosity, can you try to raise your `max_input_vars` value in the php configuration? See documentation: https://www.php.net/manual/en/info.configuration.php#ini.max-input-vars
Its default value of 1000 might not be enough for the amount of fields you are trying to POST. This is just guessing based on a similar issue I saw some years ago around that form key error message.

[2022-08-11 18:03] engcom-November commented on #35898
Issue is reproducible on 2.4-develop branch with sample data installed but is not reproducible on 2.4.4 project-community-edition

[2022-08-11 18:19] hostep commented on #35898
Uhm, I don't think this issue is valid @Den4ik @engcom-November, unless I'm misunderstanding the report.

The setting `Display Out of Stock Products` actually means: instead of hiding out of stock products, show them.
This could be useful for shopowners who want to tease their visitors about products that are only sometimes in stock so they come back often to check if it's finally in stock one day

[2022-08-11 18:42] hostep commented on #35904
Maybe ask @sergiy-v for assistance to help move the data migration tool to Symfony 5.4? Similar as what was done with https://github.com/magento/magento2/commit/6c18f2e09a09ea481612e83e16f5c31c33cb563f#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34

[2022-08-11 18:54] VladimirZaets opened #35915 "GJSS TEST ISSUE #01"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-08-11 18:55] VladimirZaets commented on #35915
@adobe export issue to Jira project ACP2E

[2022-08-11 18:56] AmyJZhao commented on #35915
@adobe export issue to Jira project ACP2E

[2022-08-11 18:58] github-jira-sync-bot opened #35916 "GJSS TEST ISSUE #01 (AMY)"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

*No response*

### Release note

*No response*

### Triage and priority

- < > Severity: **S0** *- Affects critical data or functionality an

[2022-08-11 19:00] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-11 19:01] AmyJZhao commented on #35871
@adobe export issue to Jira project ACP2E

[2022-08-11 19:01] github-jira-sync-bot opened #35917 "GJSS TEST ISSUE (AMY) JIRA-GITHUB #1"

[2022-08-11 19:36] Den4ik commented on #35898
@hostep if you endless prob in admin panel all products that in stock will be displayed as our of stock on frontend. It's bug

[2022-08-11 21:01] plastikschnitzer commented on #35889
Thank you @engcom-November thank you for confirming and I am happy to precise further:
I was stumbling over this issue running a default google lighthouse test on the shop: https://web.dev/measure
Accessibility and UX is becoming more and more a ranking factor in search engines, Magento provides the role element already, but it needs a slight modification as stated in my opening posting with the c

[2022-08-11 21:42] hostep commented on #35898
Aaaah okay, now I get it. Sorry completely misunderstood your initial post, my bad 🙂

[2022-08-11 22:32] pmonosolo opened #35918 "Magento 2.4.5: TypeError: Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier::categoryProductByCustomSortOrder(): Argument #1 ($categoryId) must be of type int, array given,"
### Preconditions and environment

- Magento 2.4.5 CE
- PHP 8.1.9
- Elasticsearch 7.17.0-7.17.5
- Fill Elasticsearch with data
- Go to category page

### Steps to reproduce

- Run Catalog Search Indexer "bin/magento indexer:reindex catalogsearch_fulltext"
- Go to category page

### Expected result

Products shown on the list page

### Actual result

ERROR:

`    TypeError: Magento\Elasticsearch\Mo

[2022-08-11 22:36] #35799 closed, assigned to nobody

[2022-08-12 06:08] anvanza commented on #35918
I also had this today, but I think it's more related to Amasty.
Anyway I created a quick fix that might help you too.
patches/elasticsearch-fix.patch
[code]

Add below to your composer patches

[code]

[2022-08-12 06:14] engcom-Delta commented on #35828
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-12 06:14] #35828 closed, assigned to engcom-Delta

[2022-08-12 06:50] dasithaaligent commented on #35132
As I found you will need to apply this patch to resolve this issue **MDVA-42855 - Fixes the issue where new customer address is not saved** and it is related to the mentioned plugin - **vendor/magento/module-checkout-staging/Plugin/PaymentInformationManagementPlugin.php**

You can find it in **vendor/magento/quality-patches/patches/commerce/MDVA-42855_2.4.3-p1.patch** and use either **magento-patc

[2022-08-12 07:02] qiangvei commented on #35909
I'm having this same issue on Magento Community Edition as well

[2022-08-12 07:06] engcom-Lima commented on #35880
Hi @Etje ,

As per your last comment marking this issue as fixed. Hence, closing this issue.

Thanks

[2022-08-12 07:06] #35880 closed, assigned to engcom-Lima

[2022-08-12 07:47] engcom-Hotel commented on #35918
Hello @pmonosolo,

We have tried to reproduce the issue in the freshly installed Magento 2.4.5 and 2.4-develop branches. But for us, the issue was not reproducible. We have followed the below steps:

1. Install Magento 2.4.5 & 2.4-develop.
2. Install Sample data in both instances.
3. Try to access the category page via the frontend. for e.g. `Home > Men > Tops > Jackets`
4. Run the reindex command

[2022-08-12 07:53] engcom-Hotel commented on #35085
Dear @GamesmenJordan,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-12 07:53] #35085 closed, assigned to engcom-Hotel

[2022-08-12 08:10] Hexmage commented on #35812
@engcom-Delta
I've implemented my workaround with a patch to avoid the issue. But I'm very confident it's caused by having a caching system configured that doesn't run on your system. eg. Having Varnish configured but don't have any Varnish installed.

[2022-08-12 08:21] DenisWebmer commented on #35329
@magento give me 2.4-develop instance

[2022-08-12 08:22] mkikets99 opened #35919 "Magento Marketplace login issue"
### Preconditions and environment

- Magento Marketplace is on 2.4.5

### Steps to reproduce

Done 2 things to login either way...
1. Login with Adobe ID with same email as was on MM (Magento Marketplace) 2.4.3 (failed, Sign In button doesn't changes to profile name)
2. Login by creating a new profile on Adobe ID (failed, same results as in [1])

### Expected result

Successful login

### Actual r

[2022-08-12 08:43] gwharton opened #35920 "Unable to sort catalog by Custom Attribute of type Dropdown"
### Preconditions and environment

- 2.4.5
- Sample data

### Steps to reproduce

To test this, we will create a test attribute and assign values to the products in the sample data category "Bag", and then attempt to sort by the test attribute.

[code]

![image](https://user-images.githubusercontent.com/30697781/184317313-a1883977-9957-4c50-b72b-5b0ac5ba8cbb.png)

[code]

[code]

[code]

- Joust 2

[2022-08-12 09:03] mlf20 opened #35921 "Internal Server Error in PUT /pub/rest/default/V1/bundle-products/options/"
### Preconditions and environment

- Magento version: 2.4

### Steps to reproduce

1. Retrieve  auth token from the admin endpoint /V1/integration/admin/token
2. Request endpoint:
[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code as an error is thrown as getProductFromLocalCache() takes a null argument which is not handled.

[2022-08-12 09:03] mlf20 commented on #35921
@magento give me 2.4-develop instance

[2022-08-12 09:15] engcom-Delta commented on #35791
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-12 09:15] #35791 closed, assigned to engcom-Delta

[2022-08-12 09:16] engcom-Delta commented on #35831
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-12 09:16] #35831 closed, assigned to engcom-Delta

[2022-08-12 09:21] engcom-Dash commented on #35919
@magento give me 2.4-develop instance

[2022-08-12 09:34] mkikets99 commented on #35919
According to this page:
https://marketplacesupport.magento.com/hc/en-us/articles/4403689268237-Cannot-Login-to-Magento-Marketplace-
I need to contact Support... but every redirection connection is broken... even a email redirection from https://marketplacesupport.magento.com to https://support.magento.com...
And idk what to do...

[2022-08-12 09:39] mikimpe commented on #33245
It appears that this issue affects also the translation of strings in the js section of a phtml file using the 'mage/translate' feature.
In this case, as a workaround, you can translate the string using PHP and then pass it to the js, for example like this:

[code]

[2022-08-12 10:25] mlf20 opened #35922 "Internal Server Error in /V1/products/tier-prices API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code as an error is thrown as $prices is a null argument in Magento\Catalog\Model\Product\Price\TierPriceSt

[2022-08-12 10:25] mlf20 opened #35923 "Internal Server Error in /V1/products/{sku}/links API Endpoints"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request PUT endpoint: /rest/default/V1/products/{sku}/links with payload:
_{
  "entity": {
  }
}_

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code as an error is thrown as $sku

[2022-08-12 10:26] mlf20 opened #35924 "Internal Server Error in /V1/creditmemo API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code.

### Additional information

output of var/log/system.log:
[code]

### Release note

_No response_

#

[2022-08-12 10:26] mlf20 opened #35925 "Internal Server Error in /V1/creditmemo/refund API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code.

### Additional information

output of var/log/system.log:
[code]

### Release note

_No response_

#

[2022-08-12 10:26] mlf20 opened #35926 "Internal Server Error in /V1/inventory/is-product-salable-for-requested-qty/{sku}/{stockId}/{requestedQty} API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:26] mlf20 opened #35927 "Internal Server Error in /V1/inventory/low-quantity-notification API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:26] mlf20 opened #35928 "Internal Server Error in /V1/inventory/source-items API Endpoint"
### Preconditions and environment

- Magento versio 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:

[code]

### Release

[2022-08-12 10:26] mlf20 opened #35929 "Internal Server Error in /V1/inventory/stock-source-links API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:27] mlf20 opened #35930 "Internal Server Error in /V1/inventory/stock-source-links-delete API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:27] mlf20 opened #35931 "Internal Server Error in `/V1/order/{orderId}/ship` API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint: POST : //yourstore/rest/V1/order/{orderId}/ship
Payload:
_{
  "items": "[]"
}_

Other below APi's also got effected and getting similar error in logs:
1. POST request to /V1/inventory/stock-source-links with payload:
_{"links":

[2022-08-12 10:27] mlf20 opened #35932 "Internal Server Error in /V1/products/base-prices API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:27] mlf20 opened #35933 "Internal Server Error in /V1/products/cost API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:27] mlf20 opened #35934 "Internal Server Error in /V1/products/special-price API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Send post request to below endpoints with the payload:
Payload:
_{"prices": "[]"}_

or
_{"prices": ""}_

API's effected with above payload:

1. POST request to http://yourstore/rest/default/V1/products/special-price
2. /V1/products/base-prices
3

[2022-08-12 10:27] mlf20 opened #35935 "Internal Server Error in /V1/products/special-price-delete API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint  /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Releas

[2022-08-12 10:27] mlf20 opened #35936 "Internal Server Error in /V1/products/tier-prices-delete API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:28] mlf20 opened #35937 "Internal Server Error in /V1/carts/mine/items API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:28] mlf20 opened #35938 "Internal Server Error in /V1/guest-carts/{cartId}/billing-address API Endpoint"
### Preconditions and environment

- Magento version 2.4

### Steps to reproduce

1. Retrieve auth token from the admin endpoint /V1/integration/admin/
2. Request endpoint:

[code]

### Expected result

Returns a 400 error as the request is malformed.

### Actual result

Returns a 500 status code from a null TypeError .

### Additional information

output of var/log/system.log:
[code]

### Release

[2022-08-12 10:53] engcom-Dash commented on #35911
Hi @achatpc ,

We got Same Result after updating the magento version 2.4.5

Here I attached Screenshots for your Reference...

![Screenshot from 2022-08-12 16-11-10](https://user-images.githubusercontent.com/60198592/184339240-30c73c2f-c2fc-45c1-bbc3-1804430e7d97.png)
![Screenshot from 2022-08-12 16-10-57](https://user-images.githubusercontent.com/60198592/184339438-3ebd05fd-cc8a-4d49-b2a2-c0a1831

[2022-08-12 10:57] Aquive commented on #31428
@densen45 works, thanks!

In addition I got the following error:

`application/vendor/amasty/module-xml-google-sitemap/Model/Config/Cron.php on line 52`

The fix is the same:
[code]

[2022-08-12 11:03] Hexmage commented on #35617
[code]
This was the exact piece of code that was causing the issue for me. This code was called within a piece of code that set Customer Group Prices for a custom elasticsearch indexer. The setCurrentScope was used to get the correct configuration settings, because they would apparently not load the correct ones in the currentScope, resulting in incorrect prices.

If I recall correctly a plugin tr

[2022-08-12 11:04] m2-assistant[bot] opened #35939 "[Issue] Set shared=false for SortOrderBuilder"
This issue is automatically created based on existing pull request: magento/magento2#35848: Set shared=false for SortOrderBuilder

---------
Using a shared instance for this builder easily causes unwanted side effects

### Description (*)

The builders do not need to be shared as per their definition. If a builder is shared, it can causes side effects.
While the actual effect was not reproducible

[2022-08-12 11:10] hostep commented on #31428
@Aquive: can you notify Amasty about this and reference this issue in your ticket, so they know what this is about and they can fix it as well on their end, thanks! 🙂

@densen45: could you create a new issue for this here on github? It appears Adobe forgot to fix it for currency rates update cronjob. Thanks! 🙂

[2022-08-12 11:16] amenk commented on #35939
Why is this assigned to me? What do I need to do?

[2022-08-12 11:23] engcom-Lima commented on #35939
Hi @amenk ,

Thanks for your contribution and collaboration.

I have created this issue. As per our process for any pull request we should have corresponding issue and related jira ticket (after the confirmation of the issue). As you have created PR bot automatically assigned it to your name.

Also, please provide me information about the manual steps to reproduce the issue.

Thanks

[2022-08-12 11:25] amenk commented on #35939
Hi,

It is so far for me only reproducible with customized extensions; the steps
are there already (customer grid doesn't sort)

The solution should be pretty clear and can be merged if no tests fails, I
hope.

[2022-08-12 11:36] harshj-magneto commented on #35918
Is there any solution to on this I am also facing the same problem after upgrading the Magento version from 2.4.4 to 2.4.5?a

[2022-08-12 11:39] devprofun commented on #35911
Please check in app/etc/config.php if modules Magento_AdobeIms and Magento_AdobeImsApi are enabled.
I had the same problem, but it worked after enabling both modules and cleaning cache directory manually.

[2022-08-12 12:01] johncy65 commented on #35911
Turns out it had to do something with Redis. After running `redis-cli flushall` it worked.

[2022-08-12 12:05] engcom-Delta commented on #35921
Hi @mlf20 ,
Thank you for raising an issue , We tried to reproduce with provided steps, in fact we are not able to reproduce the error after running endpoint on Magento 2.4 develop. Here is the screenshot for reference.

<img width="989" alt="Screenshot 2022-08-12 at 5 32 19 PM" src="https://user-images.githubusercontent.com/51681379/184350362-6a578e23-c376-4f1f-89ac-3ba526df0fd6.png">

Please rev

[2022-08-12 12:14] mlf20 commented on #35921
Hi @engcom-Delta,

Thanks for looking into this, please note that the endpoint with the error is /pub/rest/default/V1/bundle-products/options/{optionId}. The request should be formed as:
`
curl -H 'Content-Type: application/json' -H 'Authorization: Bearer' <AUTH TOKEN> -d '{}' -X PUT http://<MAGENTO_URL>/pub/rest/default/V1/bundle-products/options/DZ.pdf?option=
`

To reproduce this:
1. Retrieve t

[2022-08-12 12:26] engcom-Echo commented on #35909
Hello @ivanko-dev,

Thanks for contribution and collaboration.
Please elaborate more where we can set catalog/frontend/list_allow_all to 1 and provide more information with exact steps and screenshot so that we can reproduce this issue.

Thanks

[2022-08-12 12:37] engcom-Delta commented on #35861
Hi @dpdesignthatfits ,
Thanks for your inputs. Could you please share the update on # https://github.com/magento/magento2/issues/35861#issuecomment-1209426041

Regards,

[2022-08-12 12:46] engcom-Hotel commented on #35938
Hello @mlf20,

Thanks for the report and collaboration!

We have tried to reproduce the issue in the below Magento instances:

- Magento 2.4.4
- Magento 2.4.5
- Magento 2.4-develop

The issue seems to be reproducible in the case of an invalid cart id given. If the user is passing the correct card id, in that case, no issues. Proper handling should be there. Hence confirming the issue.

Screenshot

[2022-08-12 13:07] anvanza commented on #35918
The issue seems to be solved when "Display Out of Stock Products" is false. (was true before).
@harshj-magneto @pmonosolo , Could you verify this?

Setting is in the backend, Catalog > Inventory > Stock Options

[2022-08-12 13:10] anvanza commented on #35918
@magento give me 2.4.5 instance

[2022-08-12 13:17] engcom-Lima commented on #35899
@magento give 2.4-develop instance

[2022-08-12 13:22] engcom-Lima commented on #35899
@magento give me 2.4-develop instance

[2022-08-12 13:31] harshj-magneto commented on #35918
@anvanza this is working after "Display Out of Stock Products" to false but i need to display those product is there any solution to this.

[2022-08-12 13:35] anvanza commented on #35918
No, I don't have a solution. Feel free to share your own findings here..
Are you using an Amasty module?

[2022-08-12 13:37] engcom-November commented on #35934
@magento give me 2.4-develop instance

[2022-08-12 13:39] harshj-magneto commented on #35918
@anvanza yep i am using amnesty layered navigation and welt pixel theme

[2022-08-12 13:40] anvanza commented on #35918
I think it's best to open a ticket with Amasty as it seems their module is not working as it should.

[2022-08-12 13:40] engcom-Lima commented on #35899
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Product is showing out of stock.
**Pre-requisite:** 2.4-develop Vanila instance

**Steps to reproduce:**

1. Take Vanila instance by `@magento give me 2.4-develoop instance`.
2. Go to Stores->Configuration->Catalog->Inventory and Enable Display Out of Stock Products
3. Clear cache
4. Go to catalog

[2022-08-12 14:27] engcom-November commented on #35934
Hi @mlf20 ,
Verified the issue on Magento 2.4-develop branch but could not reproduce the issue.
![image](https://user-images.githubusercontent.com/60198231/184374746-4075abf9-f78a-4401-8267-aefe29859cb7.png)
![image](https://user-images.githubusercontent.com/60198231/184374637-e9492c78-7765-421c-a0a7-5285b689e9a0.png)
Kindly check Magento system requirements and 3rd party exntensions / modules ena

[2022-08-12 14:44] mlf20 commented on #35934
Hi @engcom-November,

Thanks for looking at this, I believe the reason you are unable to reproduce this is due to the use of the 'prices' in the reequest body.

In my original issue the body of the request malformed, being set to: '{"prices": "\\"[]\\""}'.
I believe if you set the body of the request to the same as this you will be able to reproduce the error.

Many thanks

[2022-08-12 14:52] engcom-November commented on #35936
Hi @mlf20 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not reproduce the issue.
Getting 400 bad request error as expected
![image](https://user-images.githubusercontent.com/60198231/184381278-d2ba4354-65b2-4e49-97ec-3185cbd80071.png)
![image](https://user-images.githubusercontent.com/60198231/184381366-1000f290-d70d-45c9-b919-226c28647fdd.

[2022-08-12 14:56] engcom-November commented on #35934
Hi @mlf20 Getting expected result: 400 bad request error on 2.4-develop branch
![image](https://user-images.githubusercontent.com/60198231/184382142-1fbad09d-d13f-4d10-a498-2805441f173b.png)
Kindly check Magento system requirements and 3rd party exntensions / modules enabled is causing this issue.
Kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if you are st

[2022-08-12 15:06] engcom-November commented on #35935
Hi @mlf20 ,
Thank you for reporting and collaboration. The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
**Similar issues having same kind of exception**:
https://github.com/magento/magento2/issues/3

[2022-08-12 15:08] engcom-November commented on #35937
Hi @mlf20 ,
Thank you for reporting and collaboration. The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
Similar issues having same kind of exception:
https://github.com/magento/magento2/issues/35934

[2022-08-12 15:09] engcom-November commented on #35933
Hi @mlf20 ,
Thank you for reporting and collaboration. The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
Similar issues having same kind of exception:
https://github.com/magento/magento2/issues/35934

[2022-08-12 15:13] mlf20 commented on #35934
Hi @engcom-November,

My apologies, I have gone over my logs and the payload in thebody should be '{"prices": "[]"}' . Due to formatting the initial request body had escaped additional characters. I will update the remaining issues.

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 11 18](https://user-images.githubusercontent.com/83755999/184385623-03b2c50d-4d65-4368-af8a-b3

[2022-08-12 15:16] engcom-November commented on #35932
Hi @mlf20 ,
Thank you for reporting and collaboration. This issue is not reproducible on 2.4-develop branch
![image](https://user-images.githubusercontent.com/60198231/184385599-31eacd14-bbb0-4d00-9a86-c5896dc511ce.png)
The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and t

[2022-08-12 15:17] engcom-Echo commented on #35909
Hello @ivanko-dev,

Thanks for contribution and collaboration.
We have found this issue is duplicate of https://github.com/magento/magento2/issues/35900. Hence we are closing the issue.

Thanks

[2022-08-12 15:17] #35909 closed, assigned to engcom-Echo

[2022-08-12 15:18] mlf20 commented on #35936
Hi @engcom-November

My apologies, I have gone over my logs and the payload in thebody should be '{"prices": "[]"}' . Due to formatting the initial request body had escaped additional characters. I will update the remaining issues.

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 16 26](https://user-images.githubusercontent.com/83755999/184386410-816f2de6-7156-492b-a5e2-35c

[2022-08-12 15:19] engcom-November commented on #35930
Hi @mlf20 ,
Thank you for reporting and collaboration. This issue is not reproducible on 2.4-develop branch.
The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
**Similar issues having same kind of exc

[2022-08-12 15:20] engcom-November commented on #35926
Hi @mlf20 ,
Thank you for reporting and collaboration. This issue is not reproducible on 2.4-develop branch
The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
**Similar issues having same kind of exce

[2022-08-12 15:21] engcom-November commented on #35927
Hi @mlf20 ,
Thank you for reporting and collaboration. This issue is not reproducible on 2.4-develop branch
The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
**Similar issues having same kind of exce

[2022-08-12 15:22] engcom-November commented on #35928
Hi @mlf20 ,
Thank you for reporting and collaboration. This issue is not reproducible on 2.4-develop branch
The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
**Similar issues having same kind of exce

[2022-08-12 15:22] mlf20 commented on #35937
Hi @engcom-November

My apologies, I have gone over my logs and the payload in thebody should be '{"prices": "[]"}' . Due to formatting the initial request body had escaped additional characters. I will update the remaining issues.

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 20 48](https://user-images.githubusercontent.com/83755999/184387162-fbb114df-6c08-4592-87e1-330

[2022-08-12 15:23] engcom-November commented on #35929
Hi @mlf20 ,
Thank you for reporting and collaboration. This issue is not reproducible on 2.4-develop branch
The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
**Similar issues having same kind of exce

[2022-08-12 15:23] engcom-November commented on #35931
Hi @mlf20 ,
Thank you for reporting and collaboration. This issue is not reproducible on 2.4-develop branch
The exception mentioned in all the below issues reported by you is the similar error/ issue which is not reproducible on 2.4-develop branch. Can we close all the other issues and track in a single bug: https://github.com/magento/magento2/issues/35934
**Similar issues having same kind of exce

[2022-08-12 15:25] mlf20 commented on #35935
Hi @engcom-November,
My apologies, I have gone over my logs and the payload in the body should be '{"prices": "[]"}' . Due to formatting the initial request body had escaped additional characters. I will update the remaining issues.

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 23 48](https://user-images.githubusercontent.com/83755999/184387826-8b00ddf8-0097-470b-b347-a4

[2022-08-12 15:28] mlf20 commented on #35933
Hi @engcom-November

My apologies, I have gone over my logs and the payload in the body should be '{"prices": ""}' .

This reproduces the issue on Magento 2.4-dev as shown below:
![Screenshot 2022-08-12 at 16 26 45](https://user-images.githubusercontent.com/83755999/184388230-088f1272-45ed-4a16-9f0c-b3a56cbbb404.png)

[2022-08-12 15:29] mlf20 commented on #35932
Hi @engcom-November
My apologies, I have gone over my logs and the payload in thebody should be '{"prices": "[]"}' . Due to formatting the initial request body had escaped additional characters. I will update the remaining issues.

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 29 08](https://user-images.githubusercontent.com/83755999/184388579-60601ab7-0704-48f8-b0ef-4de8

[2022-08-12 15:33] mlf20 commented on #35931
Hi @engcom-November

I have gone over my logs and the payload in the body should be '{}'

This reproduces the issue on Magento 2.4-dev as shown below:
![Screenshot 2022-08-12 at 16 31 41](https://user-images.githubusercontent.com/83755999/184389116-6a6590d6-bc7e-4408-b43a-892d2c76eddc.png)

[2022-08-12 15:35] mlf20 commented on #35929
Hi @engcom-November

My apologies, I have gone over my logs and the payload in thebody should be '{"links": "[]"}' . Due to formatting the initial request body had escaped additional characters. I will update the remaining issues.

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 34 09](https://user-images.githubusercontent.com/83755999/184389524-ecb3228b-ec2a-4638-b7df-0d2c

[2022-08-12 15:37] mlf20 commented on #35928
Hi @engcom-November

My apologies, I have gone over my logs and the payload in thebody should be '{"sourceItems": "[]"}' . Due to formatting the initial request body had escaped additional characters. I will update the remaining issues.

This reproduces the issue as shown below:
![Uploading Screenshot 2022-08-12 at 16.36.26.png…]()

[2022-08-12 15:40] mlf20 commented on #35927
Hi @engcom-November

I have gone over my logs and the payload in thebody should be '{"sourceItemConfigurations": ""}'

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 38 52](https://user-images.githubusercontent.com/83755999/184390957-575ed9a1-a1e1-426e-8f97-f2923055b7fc.png)

[2022-08-12 15:42] mlf20 commented on #35926
Hi @engcom-November

I have gone over my logs and the payload in the body should be '{}' .

This reproduces the issue as shown below:
![Screenshot 2022-08-12 at 16 41 31](https://user-images.githubusercontent.com/83755999/184391735-46c1cae8-4c89-4b75-a3ed-13f0c6de3a10.png)

[2022-08-12 16:12] achatpc commented on #35911
Hello, thank you, this fix issue!

[2022-08-12 16:12] #35911 closed, assigned to engcom-Dash

[2022-08-12 16:15] pmonosolo commented on #35918
Amasty said they have a package for this:
`composer require amasty/module-mage-2.4.5-fix`

I have not tested it yet.

[2022-08-12 16:40] achatpc commented on #35911
Hello, thank you, this fix issue!

[2022-08-12 17:21] xmav commented on #35904
@engcom-November Please move this issue to https://github.com/magento/data-migration-tool/issues

[2022-08-12 18:33] xtremevision commented on #35788
Why close this issue? I am getting the same problem, including on a vanilla Magento 2.4.4 local instance.

[2022-08-12 19:08] xmav commented on #35913
Hello @jissereitsma
Could you please check if that patch resolve issue for you ?

[code]

[2022-08-12 20:05] flaviosans commented on #31337
Would be great, in fact!

[2022-08-12 20:37] cctorres opened #35941 "Cannot instantiate interface"
### Preconditions and environment

- Magento version 2.4.3 to 2.4.5

### Steps to reproduce

1.  composer require-commerce magento/product-enterprise-edition 2.4.5 --no-update
2. Composer update
3. bin/magento setup:upgrade

### Expected result

Upgrade completed succesfully

### Actual result

Cannot instantiate interface Magento\AdobeImsApi\Api\ConfigInterface#0 /store2/vendor/magento/framework/

[2022-08-12 21:13] alex9434 commented on #35941
I have the same issue: Upgrade from Magento 2.3.x to 2.4.5. bin/magento setup:upgrade provides the following output:
[code]
Followed the instructions on https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-upgrade.html. System is PHP 8.1 on Debian Bullseye on aarch64.

[2022-08-12 22:38] vseager commented on #35329
This issue still exists on 2.4.5. In addition (and perhaps related), the mobile search also does not open when you click on the search icon on mobile.

[2022-08-13 15:09] ghost opened #35942 "webapi issue main.CRITICAL: LogicException: The "OrderInterface[]" class doesn't exist and the namespace must be specified. Verify and try again."
### Preconditions and environment

- Magento version
2.4.5 open source
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Check webservice availability:

https://www.xxxxx.com/soap/default?wsdl&services=backendModuleServiceV1

### Expected result

No error and webservice available list

### Actual result

[2022-08-13T14:59:02.868044+00:00] main.CRITICAL: LogicEx

[2022-08-13 15:30] gwharton commented on #35941
Try disabling all Magento_AdminAdobeIms aswell. I had to disable all three.

[2022-08-13 15:42] Viktorja1 commented on #35930
https://github.com/magento/magento2/issues/35932

[2022-08-13 15:43] Viktorja1 commented on #35930
@magento give me 2.4-develop instance

[2022-08-13 15:45] cctorres commented on #35941
I have them disabled

this is my cofing.php

'Magento_Store' => 1,
        'Magento_AdminAnalytics' => 1,
        'Magento_AdminNotification' => 1,
        'Magento_AdminGwsConfigurableProduct' => 1,
        'Magento_AdminGwsStaging' => 1,
        'Magento_Directory' => 1,
        'Magento_AdobeIms' => 0,
        'Magento_AdobeImsApi' => 0,
        'Magento_AdobeStockAdminUi' => 0,
        'Magent

[2022-08-13 16:33] gwharton commented on #35941
Oh, not sure then.

Magento\AdobeImsApi\Api\ConfigInterface is only referenced by two modules in the whole magento tree. That is

Magento_AdobeIms
and
Magento_AdminAdobeIms

[2022-08-13 16:37] gwharton commented on #35941
The Magento_AdminAdobeIms module is new in 2.4.5, so anyone who had Magento_AdobeIms and Magento_AdobeImsApi disabled in 2.4.4 and then updated to 2.4.5 will face this issue until Magento_AdminAdobeIms is also disabled.

[2022-08-13 17:31] cctorres commented on #35941
So.... do you think iI have to wait? and thanks for answering

[2022-08-13 18:53] Stoyvo commented on #13225
Magento 2.4.4 - Issue still present.

CSS/JS should never be generated on web-request, these are static files, they do not change, having this part of the web request is a critical design flaw. It severely affects containerized applications and forces infrastructure work-arounds.

Merged JS / CSS should be built in static content deploy and not generated by frontend request.

[2022-08-13 18:56] Stoyvo commented on #35590
For those who run into this issue, this was the root cause and is fixed (not released). Manually pull a patch and apply to correct your instance.
https://github.com/magento/magento2/issues/35325

[2022-08-13 22:05] Velbro opened #35943 "Something went wrong with processing the default view and we have restored the filter to its original state. Backend in Sales/orders Magento 2.3.5p1"
### Preconditions and environment

- Magento version 2.3.5p1
![sales-orders-error message](https://user-images.githubusercontent.com/111089661/184511902-0dc26030-5d32-4fad-ab94-3e126f1b9e00.jpg)

Orders no charge in backend because this error "Something went wrong with processing the default view and we have restored the filter to its original state."
-I tryed some posible solutions as: truncate d

[2022-08-14 01:17] jdromerorajoy opened #35944 "[API REST] dataInterfaceName parameter not implemented in endpoint attributeMetadata/customer/custom and attributeMetadata/customerAdress/custom"
### Preconditions and environment

- Magento version 2.4.5 and older

### Steps to reproduce

1. Open Postman
2. Send request V1/attributeMetadata/customer/custom with parameter dataInterfaceName (posibles values: \Magento\Customer\Api\Data\CustomerInterface::class or \Magento\Customer\Api\Data\AddressInterface::class)
3. Send request V1/attributeMetadata/customerAddress/custom with parameter data

[2022-08-14 07:59] YiffyToys opened #35945 "save&duplicate does not duplicate translations"
### Preconditions and environment

- Magento version 2.4.3-p3

### Steps to reproduce

1. create product with a description using the Page Builder
2. add a custom translation (store view) with the Page Builder, translating the added text, heading and button -elements
3. from the "All Store Views" view, select "Save&Duplicate product"
4. Edit the SKU and URL
5. Save
6. Change to the language (store

[2022-08-14 08:01] YiffyToys opened #35946 "Page builder does not copy&paste styles"
### Preconditions and environment

- Magento version 2.4.3-p3

### Steps to reproduce

1. Create a CMS page from admin - Content - Edit with Page Builder - Drag Row and "Text" from Elements - create a text with bold text, links and enumerations
2. copy that text using CTRL+C
3. paste that text into a Page Builder on another browser tab
4. Save

### Expected result

The copied text is pasted with a

[2022-08-14 16:17] haroonsulahri opened #35947 "My site magento 2.3 ver paypal checkout is not working"
Hi
I am faicing a problem many days.My site checkout working fine but when i move to paypal site and when i put payer acount then paypal refreshing automatically and show error msg.
"To comply with international regulations, this transaction has been declined."
And i've contact paypal but paypal team say this not a paypal error this your magnto site error.And i've changed account but the issue not

[2022-08-14 16:17] haroonrajpoot commented on #35947
https://www.paypal.com/checkoutweb/genericError?code=Q09NUExJQU5DRV9WSU9MQVRJT04%3D&cancelLink=&merchantName=

[2022-08-14 16:17] haroonrajpoot commented on #35947
Error link above

[2022-08-14 20:07] Hanhan1989 commented on #35918
I couldn't reproduce the problem either. I think this problem can be caused by third party modules.

[2022-08-15 06:21] MimirRnD commented on #24063
@santosh-gaggle
I have tried your module. Calling your module with the first create token makes the module respond like this

[
    {
        "code": 404,
        "message": "The current user cannot perform operations on cart \"140942\""
    }
]

What is going wrong?

[2022-08-15 06:30] zhartaunik commented on #35899
This commit broke this functionality and need to be refactored:
https://github.com/magento/magento2/commit/3a889f465e21cdba4a78788704f3c5b31f3d2d9f
Reverting everything back does help. I'm not absolutely sure about the logic stored in that private method.

[2022-08-15 07:09] serbynskyi commented on #31537
@magento I am working on this

[2022-08-15 07:12] serbynskyi commented on #31537
@magento add to contributors team

[2022-08-15 08:10] JelleGe commented on #34502
Do you add this part or replace some?

[2022-08-15 08:44] alexey-motorny-amasty commented on #35918
@Hanhan1989 @pmonosolo hello Guys, Please install **amasty extension composer require amasty/module-mage-2.4.5-fix** or as package from the support team - it will solve the issue
Also we discussed this bug with Magento Team - they will revert changes from 2.4.5 version because they caused a lot of bugs and issues

[2022-08-15 10:38] in-session commented on #35946
related: https://github.com/magento/magento2-page-builder/issues/769

[2022-08-15 11:18] pgosselin82 commented on #35913
@sidolov I had a similar issue. Deleting lib/web and running a composer install to recreate the files solved this for me.

[2022-08-15 12:38] drinkingsouls commented on #35918
Recently upgraded to 2.4.5 and I have a similar error using Extra Sorting Options by RedChamps.
When I set Display Out of Stock Products to False I also find the issue doesn't occur.

[2022-08-15 12:41] alexey-motorny-amasty commented on #35918
Yes, strict typization breaks different custom extensions( extensions who changes the category_ids params).

[2022-08-15 13:33] Adel-Magebinary commented on #32898
Have you tried this?

set @@global wsrep_retry_autocommit = 100;

[2022-08-15 15:00] dphilipps commented on #34779
Also not working on Android Chrome with Magento 2.4.5

[2022-08-15 15:36] tprocter1984 commented on #35881
[code]

[2022-08-15 16:13] tprocter1984 commented on #35881
The following two patches resolve the meta price being incorrect:

### Layout Patch
[code]

### Template Patch
[code]

[2022-08-15 16:27] pmonosolo commented on #35918
Sorry it looks like it's related to Amasty Layered Navigation module.

Please keep this topic open because it seems like there are a lot of users having the same issue.

[2022-08-15 17:02] roettinger opened #35949 "Receiving an error message when clicking on a product tax class"
### Preconditions and environment

- Magento version 2.3.2
-When clicking on a product tax class, we receiving the error attached
![product_class_error_message](https://user-images.githubusercontent.com/111303256/184680670-c9dc854d-0169-4ce0-ab06-4f27dacd2378.PNG)

### Steps to reproduce

Click on any product tax class

### Expected result

Should be able to see the details of how that product tax

[2022-08-15 18:19] pmonosolo commented on #35918
I'm just wondering how they are going to roll back changes for released product :)

Or is this for -p1 release? :)

[2022-08-15 20:59] plastikschnitzer commented on #35889
I have a quick fix which works for the product category menu, insert the code into
Content –> Configuration –> Edit on highest level –> Footer –>  Miscellaneous HTML

[code]

This will add `role="none"` to the `li` of the main menu and fix the WAI-ARIA compatibility issues. A proper fix should be introduced in the same place where the other role attributes are set, this is just a quick temporary f

[2022-08-15 21:27] hopeseekr commented on #35878
https://github.com/magento give me 2.4-develop instance

[2022-08-15 21:27] hopeseekr commented on #35878
@magento give me 2.4-develop instance

[2022-08-15 21:32] speedupmate opened #35950 "composer archive fails with 2.4.5"
### Summary (*)
since magento2 is managed with composer then developers expect that all composer functionality is supported . Currently composer archive  (https://getcomposer.org/doc/03-cli.md#archive) fails on newly created project when tar or tar.gz format is specified

### Examples (*)

[code]

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contribu

[2022-08-15 21:56] hopeseekr commented on #35878
@magento give me 2.4-develop instance with extensions shift4/payment:1.1.20

[2022-08-15 22:34] vipin12117 commented on #34502
I added in existing function by overriding class.

On Mon, Aug 15, 2022, 4:10 PM JelleG ***@***.***> wrote:

[2022-08-16 00:21] CadenceLabs-AndrewS commented on #35534
@tgreeve We had a similar issue related to the regex that is parsing out a portion of the path and returning the wrong result due to case.

Take a look at the file
https://github.com/magento/magento2/blob/2.4.3-p2/app/code/Magento/MediaStorage/App/Media.php#L260

The regex will not return the proper path and removes the prefix folders if the filename starts with an uppercase.
`media/catalog/produc

[2022-08-16 01:25] atIOCrON opened #35951 "Grave accent character [`] cannot be used for customer's name"
### Preconditions and environment

- Magento version 2.4.3-p1 with the [MDVA-44660](https://support.magento.com/hc/en-us/articles/7147867650445-MDVA-44660-Grave-accent-character-cannot-be-used-for-customer-s-name) patch applied

### Steps to reproduce

POST:/V1/customers
{
"customer": {
"email": "[OToole@joeperkins.com](mailto:OToole@joeperkins.com)",
"firstname": "O`Toole",
"lastname": "perkins",

[2022-08-16 03:35] CadenceLabs-AndrewS opened #35952 "Admin Users unable to change front-end Logo in Design Config when in Single Store Mode"
### Preconditions and environment

M2.4.4

php8.1
nginx
Multi website store

### Steps to reproduce
1. Setup Multi website store
2. Design Config (Content -> Design -> Config) - Edit Store view level - upload image under Header and save
3. Cache clean
4. Enable Single Store Mode
5. Design Config (Content -> Design -> Config) - Edit for Website - Upload another image under Header and save
6. Header

[2022-08-16 03:49] CadenceLabs-AndrewS commented on #35952
Patch
`--- a/vendor/magento/module-theme/ViewModel/Block/Html/Header/LogoPathResolver.php
+++ b/vendor/magento/module-theme/ViewModel/Block/Html/Header/LogoPathResolver.php
@@ -39,9 +39,13 @@ class LogoPathResolver implements LogoPathResolverInterface, ArgumentInterface
     public function getPath(): ?string
     {
         $path = null;
+        $scope = ScopeInterface::SCOPE_STORE;
+        if

[2022-08-16 04:56] kedangghet opened #35953 "Bug with setting `Share Customer Accounts` is global"
Seem  if condition incorrect.
Share Customer Accounts global should show all countries allow
https://github.com/magento/magento2/blob/1df4565907d40f14ee1c753cc2de2ce567bfa8d7/app/code/Magento/Customer/Model/ResourceModel/Address/Attribute/Source/CountryWithWebsites.php#L107-L134

### Steps to reproduce

The Configuration `Customer` > `Customer Configuartion` > `Account Sharing Options`
Change opti

[2022-08-16 05:11] engcom-Bravo commented on #35829
Hi @AymericJoubert,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-16 05:11] #35829 closed, assigned to engcom-Bravo

[2022-08-16 05:14] engcom-Bravo commented on #35841
Hi @aliomattux,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-16 05:14] #35841 closed, assigned to engcom-Bravo

[2022-08-16 05:15] engcom-Bravo commented on #35301
Hi @jarnooravainen,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-16 05:15] #35301 closed, assigned to engcom-Bravo

[2022-08-16 05:15] engcom-Bravo commented on #35855
Hi @malyoussef,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-16 05:15] #35855 closed, assigned to engcom-Bravo

[2022-08-16 05:16] engcom-Bravo commented on #35860
Hi @MargreetMeijer,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-16 05:16] #35860 closed, assigned to engcom-Bravo

[2022-08-16 05:49] engcom-Hotel commented on #35953
Hello @kedangghet,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-08-16 06:36] alexey-motorny-amasty commented on #35918
They told me only about development branch.

[2022-08-16 06:38] alexey-motorny-amasty commented on #35918
Could you please check the code? You set strict type INT for variable that called "categoryIds". It should be plural

[2022-08-16 07:33] xhoaraujx commented on #30012
Hi,
sorry to respond on a closed issue, but I think this is still relevant and I didn't found any other related issue.

The problem clearly comes from the ChangeLogBatchWalker::walk() function.

It misses a limit offset so it actually loops multiple times on the same values.
Here is a simple example:

Fill your changelog table with 10000 rows of only 3 distinct entity_ids (1, 2, 3)
Default batchin

[2022-08-16 08:46] engcom-Hotel commented on #35950
Hello @speedupmate,

Thanks for the report & contribution!

We have tried to reproduce the issue in the below Magento versions:

- Magento 2.4.4
- Magento 2.4.5
- Magento 2.4-develop

And the issue is reproducible for us. It seems the cause of this issue is the long file name and internally Tar command accepts file names below 99 characters.

Please refer to the below screenshot for reference:

<i

[2022-08-16 09:04] devendrant commented on #27146
@igorwulff did you find any solution to this issue? we're facing the same issue.

[2022-08-16 09:15] engcom-Bravo commented on #35943
@magento give me 2.4-develop instance

[2022-08-16 09:18] engcom-Dash commented on #35941
Hi @cctorres,

We are trying to reproduce the issue,But we are not able to reproduce the issue in 2.4.3 instance.

Here instance upgraded successfully....

For your reference i attached the screenshots:
![Screenshot from 2022-08-16 14-42-48](https://user-images.githubusercontent.com/60198592/184844084-0309ff18-eb1f-4a2e-902f-682f0187ee5f.png)
![Screenshot from 2022-08-16 14-39-47](https://user-ima

[2022-08-16 09:32] engcom-Dash commented on #35945
@magento give me 2.4-develop instance

[2022-08-16 09:40] engcom-Echo commented on #35890
Hello @madonzy,

Thanks for contribution and collaboration.
Please provide more information with exact steps and screenshot so that we can reproduce this issue.

Thanks

[2022-08-16 09:46] modryk opened #35954 "Special prices vs flat catalog with different store view"
### Preconditions and environment

Magento ver: 2.3.5 p2

Price range to store. 10 store views on different stores. Stores with EUR, PLN, CZK and HUF currencies. For default store view currency is PLN

### Steps to reproduce

1. Turn on flat catalog and flat products
2. Set up default store view
3. Add another web with different store and different store view (lets say that default view is X and a

[2022-08-16 09:51] engcom-November commented on #35934
@magento give me 2.4-develop instance

[2022-08-16 10:06] YiffyToys commented on #35945
only Tiny Editor but not Page Editor seem to work in that Magento instance.
Drag&Drop elements doesn't work.

[2022-08-16 10:11] engcom-November commented on #35934
Thanks for the update @mlf20 . Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/184854857-e1f060ed-1c31-4070-a372-43c7ddd1d21f.png)

[2022-08-16 10:47] engcom-November commented on #35932
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed [here](https://github.com/magento/magento2/issues/35934). Since the issue occurred  for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning al

[2022-08-16 10:47] #35932 closed, assigned to engcom-November

[2022-08-16 10:49] engcom-November commented on #35933
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed https://github.com/magento/magento2/issues/35934. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all endpoin

[2022-08-16 10:49] #35933 closed, assigned to engcom-November

[2022-08-16 10:51] engcom-November commented on #35935
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35934. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all e

[2022-08-16 10:51] engcom-November commented on #35936
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35934. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all e

[2022-08-16 10:51] #35936 closed, assigned to engcom-November

[2022-08-16 10:53] engcom-November commented on #35922
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35934. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all e

[2022-08-16 10:53] #35922 closed, assigned to engcom-November

[2022-08-16 10:56] #35935 closed, assigned to engcom-November

[2022-08-16 11:14] engcom-November commented on #35904
Thanks for the update @sdzhepa / @xmav . Logged new [issue](https://github.com/magento/data-migration-tool/issues/901) in repo:  https://github.com/magento/data-migration-tool/issues. Hence closing this issue.

[2022-08-16 11:14] #35904 closed, assigned to nobody

[2022-08-16 11:19] engcom-Dash commented on #35951
@magento give me 2.4-develop instance

[2022-08-16 11:26] serbynskyi commented on #31537
@magento I am working on this

[2022-08-16 11:28] engcom-Dash commented on #35945
Hi @YiffyToys ,

Drag and drop Elements in Magento doesn't Work.So i am not able to reproduce the issue...

Let us know if we are missing anything...

Thanks!!!

[2022-08-16 11:35] engcom-November commented on #35924
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/184870045-cfebecce-791f-4e7f-9c7a-b0e0e5fbd83c.png)

Exception stack trace
[code]

[2022-08-16 11:36] tprocter1984 commented on #35881
Patch for meta information:

### Layout
[code]

### Template
[code]

[2022-08-16 11:38] engcom-November commented on #35925
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/184870556-08858c3c-44dd-40b7-8798-3eed49735305.png)
[code]

[2022-08-16 11:48] engcom-November commented on #35923
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/184872299-8b5f1f1a-87b5-4293-a918-534eb0bac247.png)

[2022-08-16 12:05] cctorres commented on #35941
Thanks for answering, Did you do the setup:upgrade? And could you show me the app/etc/config.php file?

[2022-08-16 12:11] engcom-Bravo commented on #35949
Hi @roettinger,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.

We are able to Configure Tax Classes.

<img width="940" alt="Tax" src="https://user-images.githubusercontent.com/51680745/184876021-651aa71e-a7e5-4a47-b4ca-62d922208ee0.png">

Thanks.

[2022-08-16 12:12] engcom-Bravo commented on #35943
Hi @Velbro,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.

We are able to see the Orders List.

<img width="936" alt="orders" src="https://user-images.githubusercontent.com/51680745/184876520-a069b288-6a7a-45aa-9d98-38b090d6a7e2.png">

Thanks.

[2022-08-16 12:16] engcom-Bravo commented on #35954
Hi @modryk,

Thank you for reporting and collaboration.

As per Magento Document to enable flat catalog and flat products is no longer recommended as a best practice.

Please refer this [document](https://docs.magento.com/user-guide/catalog/catalog-flat.html).

Kindly provide further information.

Thanks.

[2022-08-16 12:25] engcom-November commented on #35367
Hi @leonhelmus ,
"layout handle" is correctly mentioned on line 87: magento2/app/code/Magento/Sales/view/frontend/email/creditmemo_new.html
and escape quotes are added in commented section: <!--@vars { for formatting purpose which cannot be removed. We are closing this issue as this statement does not effect Magento behavior. Kindly reopen / create new issue if you are still facing any issues.
Tha

[2022-08-16 12:25] #35367 closed, assigned to artskirk

[2022-08-16 12:30] engcom-Echo commented on #35444
Hello @johan-lindahl,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-16 12:30] #35444 closed, assigned to engcom-Echo

[2022-08-16 12:49] engcom-November commented on #35919
Hi @mkikets99 ,
I'm able to login to Magento Market place page using Adobe ID without any issues.
![image](https://user-images.githubusercontent.com/60198231/184883400-6730e80e-efb9-4da8-8e1a-e4e8da40b2e1.png)
Kindly check your VPN settings / or administrator settings is causing this issue. Kindly elaborate the issue if you are still facing any issues.
Thank you.

[2022-08-16 13:02] oneserv-heuser commented on #35765
https://github.com/magento give me 2.4-develop instance

[2022-08-16 13:04] oneserv-heuser commented on #35765
@magento give me 2.4-develop instance

[2022-08-16 13:05] zahirabbasb commented on #23245
its still produced in M2.4.4

[2022-08-16 13:15] Sharmilasrini95 commented on #35600
Still issue exist in v2.4.4

[2022-08-16 13:17] engcom-November commented on #35937
Thanks for the update @mlf20 ,
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible. Hence confirming the issue.
Exception log:
[code]

[2022-08-16 13:30] engcom-Echo commented on #35944
Hello @jdromerorajoy,

Thanks for contribution and collaboration.
As per the code Analysis we have noticed that the parameter **$dataObjectClassName** is not used in function definition Hence we are confirming the issue.
Steps to [reproduced](https://github.com/magento/magento2/issues/35944#issue-1338102900)
Please find the attached screen for your reference.

[code]
Thanks

[2022-08-16 13:40] engcom-November commented on #35926
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35934. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all e

[2022-08-16 13:40] #35926 closed, assigned to engcom-November

[2022-08-16 13:47] Kiraberos commented on #31537
@magento add to contributors team

[2022-08-16 13:47] engcom-November commented on #35952
Hi @CadenceLabs-AndrewS Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but the issue is not reproducible.
Newly uploaded logo.jpg is displayed as expected on front-end when single store mode is enabled. Kindly recheck the issue on Magento 2.4-develop branch as it is the upcoming 2.4.x release and provide missing steps if any if the issue is still reprod

[2022-08-16 13:58] Patrick-Magee commented on #34661
I have this error currently after upgrading from 2.3.5 to 2.4.3

[2022-08-16 14:10] pmzandbergen opened #35955 "Action drop-down in grid partly hidden (but scrollable)"
### Preconditions and environment

Magento `>= 2.4.4`

### Steps to reproduce

1. Create a customer
2. Add an address
3. Activate the action drop-down in the address grid, its partly hidden (but scrollable)

[Schermafbeelding 2022-08-16 om 16 05 33](https://user-images.githubusercontent.com/8101295/184899863-d191bdfc-fcc3-479e-9e1b-0aebfbcb6312.png)

### Expected result

It should be easy to use t

[2022-08-16 14:21] t-heuser opened #35956 "Attribute with "Used for Sorting in Product Listing" in combination with huge config products causes the product not to show on the category page"
### Preconditions and environment

- Magento version: 2.4.5
- PHP 7.4

### Steps to reproduce

1. Set the "Used for Sorting in Product Listing" for the attribute "Name" to true
2. Create a configurable product with a long name (64 characters) and more than 600 single products
3. Create a category
4. Assign this product to the category
5. Ensure, all products are in stock, enabled and associated wi

[2022-08-16 15:16] engcom-Dash commented on #35733
Hi @mwdana ,

You can test magento 2.4-develop cloud instance...Might be you will get some idea.

Thanks!!!

[2022-08-16 15:16] ThisIsRuddy commented on #35293
Quick fix in file:
`magento/module-deploy/Collector/Collector.php`

Change line 95 from:
`if ($file->getModule() && !$this->moduleManager->isEnabled($file->getModule())) {`
to:
`if ($file->getModule() && !$this->moduleManager->isEnabled($file->getModule()) || is_null($file->getFileName())) {`

[2022-08-16 16:39] engcom-Delta commented on #35920
Hi @gwharton ,
Thank you for raising an issue , We tried to reproduce the issue on Magento 2.4.5 instance , we could not find out manage options at Stores-->Attributes-->Product. Please review the steps provided.

![new_prod1](https://user-images.githubusercontent.com/51681379/184932815-7a097f62-602c-4a71-b515-8162671198f8.png)
![NewProduct_2](https://user-images.githubusercontent.com/51681379/184

[2022-08-16 18:09] lagunacellar opened #35958 "Apostrophe and accent letters cannot be used in Live Search queries"
### Preconditions and environment

- Magento 2.4.4 & 2.4.5
- Magento Cloud, Live Search

### Steps to reproduce

1. Search for products using queries that contain apostrophe or accent letters.

<img width="528" alt="search" src="https://user-images.githubusercontent.com/64744041/184948864-a73b3767-c8f8-4f2f-9380-3aa5ec70df34.png">

### Expected result

Expected products matching the search terms t

[2022-08-16 18:11] lagunacellar commented on #35958
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-08-16 18:36] lagunacellar commented on #35958
This issue is strictly limited to Live Search service on Magento Cloud.  If using the plain vanilla ElasticSearch, the search results appear as expected.

[2022-08-16 18:51] renaudDan commented on #35365
@engcom-Lima Have you tried using \Magento\Framework\Authorization::isAllowed(), like in the issue example? It is always returning true when the ACL is not added to the "authorization_rule" table

[2022-08-16 18:52] CadenceLabs-AndrewS commented on #35952
To clarify, a logo should be uploaded to the initial store and storeview before changing the site to singlestoremode.
Then after the change to single store mode, design config edit website and upload new logo with different filename.

[2022-08-16 19:06] CadenceLabs-AndrewS commented on #35952
@magento give me 2.4-develop instance

[2022-08-16 21:51] grafikchaos commented on #35635
@jornwildenbeest - I had a similar issue and the fix for me was to go through the custom HTML templates and make sure there were no self-closing tags (i.e., `<div/>`, `<span/>`, `<each/>`, `<render/>`, etc).

[2022-08-16 23:09] aligent-lturner commented on #22271
@magento give me 2.4-develop instance

[2022-08-17 01:12] kedangghet commented on #35953
The Configuration `Customer` > `Customer Configuartion` > `Account Sharing Options`
Change option  `Share Customer Accounts` to `Global`
![image](https://user-images.githubusercontent.com/4742613/185011943-6af7b2f7-4d9c-49c8-a9a7-fe67c6edc7f0.png)

The customer grid only show `Allow Countries` of base store config
![image](https://user-images.githubusercontent.com/4742613/185012656-22c82388-78a2-4

[2022-08-17 03:36] kalalruturaj commented on #35603
any solution on this issue?

[2022-08-17 05:39] engcom-Hotel commented on #35066
Dear @madonzy,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-17 05:39] #35066 closed, assigned to engcom-Hotel

[2022-08-17 07:24] jornwildenbeest commented on #35635
@grafikchaos Thanks, this was indeed the solution.

[2022-08-17 07:37] engcom-Hotel commented on #35953
Hello @kedangghet,

Thanks for the reply!

We have tried to reproduce the issue with the steps mentioned in your last comment and seems the issue is valid and reproducible. In order to reproduce the issue, we have made the following changes in the configuration:

- Create 1 website other than the default
- Set Allow Countries for the main configuration as "Albania".
- Set Allow Countries for the m

[2022-08-17 07:44] topanok commented on #35930
@magento add to contributors team

[2022-08-17 07:58] verhaeghep commented on #35905
@jorgb90 How did you solve the problem? I have the same issue on my Magento 2.4.5 installation.

[2022-08-17 07:59] keval1415 opened #35959 "Magento\Catalog\Model\Category\FileInfo::removeStorePath(): Argument #1 ($path) must be of type string, array given, called in /vendor/magento/module-catalog/Model/Category/FileInfo.php"
I'm Having below issue while bulk select products in category.

Note : Magento has Upgraded to 2.4.4 Enterprise Cloud Edition.

Magento\Catalog\Model\Category\FileInfo::removeStorePath(): Argument #1 ($path) must be of type string, array given, called in /vendor/magento/module-catalog/Model/Category/FileInfo.php

![image](https://user-images.githubusercontent.com/100849655/185066195-36497703-7f0e-

[2022-08-17 08:06] engcom-Bravo commented on #35955
@magento give me 2.4-develop instance

[2022-08-17 08:24] harleeniweb opened #35960 "Filters not working on category pages in 2.4.5"
### Preconditions and environment

- Magento version - 2.4.5

### Steps to reproduce

Set **Display Out of Stock Products** to **Yes** in the configuration under _Store > Configuration > Catalog > Inventory_ in the admin.

### Expected result

Filters should only show matching results on the category pages
[
![Screenshot 2022-08-17 at 9 11 07 am](https://user-images.githubusercontent.com/79199454/

[2022-08-17 09:25] gwharton commented on #35920
I have updated the steps to reproduce with more detailed layout of required steps to reproduce.

[2022-08-17 09:26] gwharton commented on #35920
@magento give me 2.4-develop instance

[2022-08-17 09:35] gwharton commented on #35920
Confirmed on 2.4-develop instance.
![image](https://user-images.githubusercontent.com/30697781/185086342-d941e378-8551-4aad-97e4-544a12904416.png)

[2022-08-17 09:43] lykhouzov commented on #35297
The issue happens because in v2.4.4 it was changed a way of Session handler reads session data
in the version 2.4.3-p1 (p2 and p3)
https://github.com/magento/magento2/blob/2.4.3-p3/lib/internal/Magento/Framework/Session/SaveHandler.php#L100
it just read a session data
[code]
where in version 2.4.4
https://github.com/magento/magento2/blob/2.4.4/lib/internal/Magento/Framework/Session/SaveHandler.php

[2022-08-17 09:55] engcom-Dash commented on #35958
@magento give me 2.4-develop instance

[2022-08-17 09:56] engcom-Dash commented on #35863
Hi @sagargopale1992 ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-17 09:56] #35863 closed, assigned to engcom-Dash

[2022-08-17 10:06] sprajapat770 commented on #35943
@engcom-Bravo  this is actually a permission bug you can also generate, follow the steps please.

Way to Generate:
1. create a new user role in admin and assign custom permission.
  - sales order
  - sales shipment
  - do not assign invoice and credit memos permission
 2. log in magento admin using newly created account.
 3. open sales order grid
 4. then open any recent order and you will see thi

[2022-08-17 10:09] zhartaunik opened #35961 "Braintree Paypal ON, CreditCard OFF. Broken checkout."
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

1. Navigate to Stores / Configuration / Sales / Payment methods / Braintree section
2. Fulfill all credentials for it and make **Enable Card Payments = NO**
3. Navigate to Frontend.
4. Add any product to the cart.
5. Go to Checkout.
6. Try to use PayPal payment method
![Screenshot from 2022-08-17 12-52-31](https://

[2022-08-17 10:11] zhartaunik commented on #35961
@magento give me 2.4-develop instance

[2022-08-17 10:13] engcom-Dash commented on #35958
Hi @lagunacellar ,

We are trying to reproduce the issue.But we are not able to reproduce in Both 2.4.4 and 2.4.5 and we are Getting expected results.

Here i attached the screenshots for your reference:

![Screenshot from 2022-08-17 15-38-06](https://user-images.githubusercontent.com/60198592/185093543-b77c9d3a-0c0e-4ae9-8a04-84eada5e4d83.png)
![Screenshot from 2022-08-17 15-34-44](https://user-i

[2022-08-17 10:27] engcom-November commented on #35931
@magento give me 2.4-develop instance

[2022-08-17 10:27] zhartaunik commented on #35961
Please help me to understand. There is no Braintree section there. However according to `vendor/composer/installed.json`

"name": "magento/product-community-edition",
__"requires": "paypal/module-braintree": "4.4.0",
____"required": "paypal/module-braintree-core": "4.4.0",

I assume that it's not complete vanilla Magento version.

[2022-08-17 10:36] engcom-Dash commented on #35961
Hi @zhartaunik ,

We are able to reproduce the issue in 2.4.5 magento instance and we are getting actual results like endless progress bar loading and JS error is appeared in console.

Screenshots for reference:

![Screenshot from 2022-08-17 16-01-31](https://user-images.githubusercontent.com/60198592/185098307-74238462-5128-4a36-9e26-54f39c12a17f.png)

We are confirming the issue in 2.4.5 magento

[2022-08-17 11:02] engcom-November commented on #35931
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue
![image](https://user-images.githubusercontent.com/60198231/185103104-8b434583-04a9-4ac3-a110-5a6597edfeea.png)

[2022-08-17 11:17] engcom-November commented on #35929
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35931. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all e

[2022-08-17 11:17] #35929 closed, assigned to engcom-November

[2022-08-17 11:23] engcom-November commented on #35928
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35931. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all e

[2022-08-17 11:23] #35928 closed, assigned to engcom-November

[2022-08-17 11:23] engcom-Hotel commented on #35456
Hello @pawel-siejba,

Thanks for the report and collaboration!

We have tried to remove the above plugin via running the below command in Magento 2.4-develop:

`composer remove magento/composer-dependency-version-audit-plugin`

We are successfully able to remove the above package. After this, we are able to access the instance without any issue. Can you please let us know your use case in which it

[2022-08-17 11:27] NickvdMeij commented on #35595
2 weeks pass, legend has it they are still in the sprint meeting

[2022-08-17 11:28] engcom-Hotel commented on #35947
Hello @haroonsulahri

Thank you for your report.

It seems to be a configuration issue for us. To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-08-17 11:35] Viktorja1 commented on #35310
https://github.com/magento give me 2.4.4 instance

[2022-08-17 11:36] engcom-Hotel commented on #34973
Hello @Hexmage,

We are moving this ticket as feature request for further processing.

Thanks

[2022-08-17 11:36] engcom-November commented on #35927
Hi @mlf20 ,
Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35931. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all e

[2022-08-17 11:36] #35927 closed, assigned to engcom-November

[2022-08-17 11:36] Viktorja1 commented on #34973
@magento give me 2.4.4 instance

[2022-08-17 11:40] engcom-November commented on #35930
Hi @mlf20 ,
Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above payload. But however, similar issue has been confirmed here: https://github.com/magento/magento2/issues/35931. Since the issue occurred for all these API's is with same/ similar payload and with similar exception / error, we are tracking this in a single bug mentioning all endpoints / API's here:

[2022-08-17 11:40] #35930 closed, assigned to engcom-November

[2022-08-17 11:40] Viktorja1 commented on #35961
@magento give me 2.4-develop instance

[2022-08-17 11:48] engcom-November commented on #35912
Hi @jjordan73 ,
Thank you for reporting and collaboration. However, QuickBooks is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(suppo

[2022-08-17 11:48] #35912 closed, assigned to engcom-November

[2022-08-17 12:12] engcom-November commented on #35946
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the steps and confirming the issue.
Actual result:
![image](https://user-images.githubusercontent.com/60198231/185115507-5ef808c8-1c4d-41b2-a791-a79051a93bf9.png)
Expected result:
![image](https://user-images.githubusercontent.com/60198231/185115591-55c69d59-6c63-492e-a073-40444a8649a4.png)

[2022-08-17 12:13] engcom-Bravo commented on #35955
Hi @pmzandbergen,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. please refer the screenshot.

<img width="937" alt="Action" src="https://user-images.githubusercontent.com/51680745/185115404-0266d423-1ca0-4a52-8cd1-e06d3712da4b.png">

Let us know if we missing anything.

Thanks.

[2022-08-17 12:15] pmzandbergen commented on #35955
@magento give me 2.4-develop instance

[2022-08-17 12:16] peterjaap opened #35962 "Hard dependency on magento/module-admin-adobe-ims in magento/module-two-factor-auth"
### Preconditions and environment

Magento 2.4.5

When removing `magento/module-admin-adobe-ims` from the codebase by using the "replace"  section in `composer.json`, `bin/magento setup:di:compile` fails because of a hard dependency on the fairly unrelated module `magento/module-two-factor-auth`.

This constitutes bad separation of concerns.

### Steps to reproduce

- Install Magento 2.4.5
- Add t

[2022-08-17 12:18] pmzandbergen commented on #35955
Hi @engcom-Bravo

Probably depends on the browser, I'll test it on a vanilla instance and report back.

[2022-08-17 12:20] Keglerass opened #35963 "WebApi sales/{orderId}/ship"
### Preconditions and environment

Magento Community 2.4.4
PHP 8.1

### Steps to reproduce

1. Create a product from admin with quantity > 1 and advanced inventory:  Minimum Qty Allowed in Shopping Cart: 0.5 and  Qty Uses Decimals: Yes and save
2. Create an order with an item with decimal qty: 0.5 from admin
3. Ship the order from admin Order details page or using API> POST /rest/V1/order/{orderID

[2022-08-17 12:22] engcom-Bravo commented on #35960
Hi @harleeniweb,

Thank you for reporting and collaboration.

When we are Set Display Out of Stock Products to Yes in the configuration we are not able to select size and color, but in your expected result we are able to select size and color.

Kindly provide exact steps to reproduce to replicate the issue.

Thanks,

[2022-08-17 12:34] engcom-Echo commented on #35629
Hello @rkwadriga,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-17 12:34] #35629 closed, assigned to nobody

[2022-08-17 12:37] harleeniweb commented on #35960
Hi @engcom-Bravo

you can replicate the issue with any filter that's displaying in the sidebar after the setting is set to Yes.

[2022-08-17 12:56] say-my-name-user opened #35964 "Bundle options decimal qty is rendered as an integer part only"
### Preconditions and environment

- Magento version: CE 2.4.4

### Steps to reproduce

1. Create a bundle product
2. Allow "Qty Uses Decimals" in Advanced Inventory **for bundle options**
3. Buy this bundle product with decimal options Qty like 1.5
4. Check option Qty in the email / customer account / admin panel order details / invoice details / shipment details

### Expected result

Bundle opti

[2022-08-17 12:58] engcom-Hotel commented on #35849
Hello @Nuranto,

Thanks for the report and collaboration!

We have gone through with this [document](https://developer.adobe.com/commerce/php/development/components/proxies/). And also seems that implementing the `AlwaysUseProxy` kind of tags can improve the performance of the Magento.

Hence I am moving this issue further as a feature request.

Thanks

[2022-08-17 12:59] pmzandbergen commented on #35955
@magento give me 2.4.4 instance

[2022-08-17 13:03] engcom-Lima commented on #35098
Hi @Japharul ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-17 13:03] #35098 closed, assigned to engcom-Lima

[2022-08-17 13:04] engcom-Delta commented on #35887
Hi @plastikschnitzer ,
Thank you for logging an issue , We tried to reproduce the issue on Magento 2.4 develop and magento 2.4.4 but issue is not reproducible. Please find the attached screenshot for reference.

<img width="1304" alt="Screenshot 2022-08-17 at 4 44 57 PM" src="https://user-images.githubusercontent.com/51681379/185141284-c6dfffeb-6922-43bd-9ada-94e85d512f7e.png">

Hence request to r

[2022-08-17 13:04] engcom-Lima commented on #35761
Hi @rahulrave ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-17 13:04] #35761 closed, assigned to engcom-Lima, youngcrush

[2022-08-17 13:07] engcom-Delta commented on #35959
Hi @keval1415 ,
Thank you for raising an issue . We are happy to assist you , Please provide detailed issue description, actual results and logs or screenshots if required.

Thanks

[2022-08-17 13:13] pmzandbergen commented on #35955
@magento give me 2.4.4 instance

[2022-08-17 13:22] dumega opened #35965 "Cart price rule for Free Shipping adds negative discount to cart incorrectly"
### Preconditions and environment

- Magento version 2.4.x
- Free shipping is enabled and its setting "Minimum Order Amount" is set to 99999

### Steps to reproduce

1. Create a new Cart Price Rule "save 10%", and its coupon code is 10p,  priority is 0

![image](https://user-images.githubusercontent.com/3198527/185141381-f5bed99f-aa0f-4056-8bb0-0ee0292cee53.png)
![image](https://user-images.github

[2022-08-17 13:33] kuafucode commented on #35651
@magento add to contributors team

[2022-08-17 13:34] kuafucode commented on #35651
@magento please assign me the task if you can, thanks @engcom-Hotel

[2022-08-17 13:42] pixel-paul opened #35967 "Magento 2.4.5 - Free shipping not applied with cart price rule"
### Preconditions and environment

- Magento 2.4.5
- PHP 8.1

This was working in 2.4.4

### Steps to reproduce

Create a cart price rule for free shipping:

![Screenshot 2022-08-17 at 14-34-46 Free Shipping _ Promotions _ Marketing _ Magento Admin](https://user-images.githubusercontent.com/389303/185147985-e526a5f9-9f8b-43f7-b4fe-ffcd53f86725.png)

### Expected result

Order should have shipping

[2022-08-17 14:04] lagunacellar commented on #35958
@engcom-Dash , thank you for looking into this.  Indeed, this problem only happens on Live Search, the premium Magento Commerce feature.  It would appear that Live Search, using Adobe data services, blocks accent letters and special characters as inputs.  When not using Live Search, Magento 2.4 has no problem handling accent letter, apostrophe, etc, even if it's Magento Cloud hosted.

I tried firs

[2022-08-17 14:26] gwharton commented on #35960
Duplicate of #35899

[2022-08-17 14:30] gwharton commented on #35960
F.Y.I. this is the commit that broke it. https://github.com/magento/magento2/commit/3a889f465e21cdba4a78788704f3c5b31f3d2d9f

[2022-08-17 14:41] rajabilal555 commented on #25937
i guess Magento is not the "best" Ecom solution as people say... is it?

[2022-08-17 14:50] maconeto commented on #35960
i got the same issue on my environment

[2022-08-17 15:11] engcom-Delta commented on #35967
Hi @pixel-paul ,
Thank you for raising an issue and We tried to reproduce the issue on magento 2.4.5 and magento 2.4 develop instance. issue is not reproducible. Hence request to review the provided steps .

Followed steps:
1. Create cart price rule  with  free shipping in admin portal

<img width="1347" alt="Screenshot 2022-08-17 at 8 08 29 PM" src="https://user-images.githubusercontent.com/51681

[2022-08-17 15:18] pixel-paul commented on #35967
Hi @engcom-Delta,

Thanks for looking into this.

Am I missing something here, but in your example the shipping is not discounted?

Thanks,

Paul

[2022-08-17 15:47] drinkingsouls commented on #34416
This would be a very useful feature for us also.

[2022-08-17 16:23] engcom-Hotel commented on #35595
Hello @NickvdMeij,

We are still working on this and provide you with an update soon on this.

Thanks

[2022-08-17 16:44] ivan-herrera-pro commented on #35297
✨In my case, I had installed a Magento 2.4.x environment when the problem occurred. I solved the issue by executing the SQL statement in the Magento DB:

**`select * from core_config_data where path like "%cookie_domain%";`**

and modifying the **value** attribute by my local magento url. Note that you should not type https, neither slash.

🖼Example: https://imgur.com/5y5462B

[2022-08-17 17:21] zhartaunik commented on #35961
@Viktorja1 I tried to reproduce but this vanilla magento doesn't contain a module braintree. I put the description above that there is a necessary dependency, but by some reason this module is absent.

[2022-08-17 18:32] madbounce commented on #35965
@magento give me 2.4.2 instance

[2022-08-17 18:45] AmyJZhao opened #35968 "GJSS Test Bug #1 (AMY)"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-08-17 18:53] cstinson4508 opened #35969 "Unable to pull order data"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2022-08-17 20:18] Tejas108 commented on #35297
Fixed it, thanks!

[2022-08-17 21:08] #35968 closed, assigned to nobody

[2022-08-17 22:06] Viktorja1 commented on #35961
@zhartaunik Please try to reproduce this issue on 2.4.5 brunch only

[2022-08-17 23:05] julionc commented on #35717
[code]

[2022-08-18 02:27] achatpc commented on #35942
After long time of investigation, i can not reproduce issue on fresh install.
Downgrade Magento to 2.4.4 version not solve my issue.

Anymore can help me to identify source of this issue ? I can not see any details on log about module related with this error. I have tested with all vendor tierce module disabled but withou success.

Thank you in advance.

[2022-08-18 06:11] engcom-Bravo commented on #35873
Hi @bruce-gemberling,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-18 06:11] #35873 closed, assigned to engcom-Bravo

[2022-08-18 06:17] engcom-Lima commented on #35866
Hi @Finbayern ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-18 06:17] #35866 closed, assigned to engcom-Lima

[2022-08-18 06:35] rostilos commented on #35969
@magento add to contributors team

[2022-08-18 06:42] pmzandbergen commented on #35955
@magento give me 2.4.4 instance

[2022-08-18 07:53] engcom-Hotel commented on #34646
Hello @speller,
Thanks for the report and collaboration1

We have tried to reproduce this issue in the Magento 2.4-develop branch but the issue is not reproducible for us.

We have enabled the NewRelic reporting, please refer to the below screenshot for reference:
<img width="1331" alt="image" src="https://user-images.githubusercontent.com/51681618/185340394-2880ff00-6fd2-4bec-bf94-ed230f285221.pn

[2022-08-18 08:01] JoostWan commented on #10978
Still a issue over here with 2.4.3-p2

[2022-08-18 08:48] engcom-Delta commented on #35812
Hi @Hexmage ,
Thank you for the update. Shall we close it ? then?

Regards,

[2022-08-18 08:56] Hexmage commented on #35812
@engcom-Delta
This scenario could use some better error handling. Because it's very unclear that a incorrectly configured FPC is causing the issue.

[2022-08-18 09:09] engcom-November commented on #35963
@magento give me 2.4-develop instance

[2022-08-18 09:22] nhatlich994 opened #35970 "Magento 245 - Elasticsearch error caused by prefix-table"
### Preconditions and environment

- Magento version CE-2.4.5
- Database with prefix table

### Steps to reproduce

1. Install Magento version CE-2.4.5
2. View category page
[code]

### Expected result

View category page, list page, search page without error

### Actual result

[code]

### Additional information

The class that is causing the issue: https://github.com/magento/magento2/blob/2.4.5/

[2022-08-18 09:22] nishant04412 commented on #35394
@magento give me 2.4-develop instance

[2022-08-18 09:32] engcom-Bravo commented on #11998
Hi @VesnaS,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-18 09:32] #11998 closed, assigned to LeanderFS, engcom-Bravo

[2022-08-18 09:35] engcom-Bravo commented on #35960
@magento give me 2.4-develop instance

[2022-08-18 09:35] ArronKing opened #35971 "Unable to ship items with a qty > 0 and < 1"
### Preconditions and environment

- 2.4.5 (and prior)
- Product must have qty uses decimals enabled and a minimum qty in cart below zero (i.e. 0.2)

### Steps to reproduce

1. Create simple product in admin
2. Enable qty uses decimals for the product
3. Set minimum qty in cart equal to 0.2
4. Create an order - adding a qty of 0.5 for the test product
5. Order / Invoice create correctly
6. Ship th

[2022-08-18 09:36] ArronKing commented on #35971
@magento I am working on this

[2022-08-18 09:41] engcom-Lima commented on #35951
Hi @atIOCrON ,

I have tried to reproduce the issue in 2.4.3-p1 with MDVA-44660 patch but issue is not reproducible to me.
Please find screenshot for your reference:
**Created from API:**
![Screenshot from 2022-08-18 14-58-46](https://user-images.githubusercontent.com/60198022/185362894-62541afd-5899-4b86-a58f-0560b59322ad.png)
**Created from UI:**
![Screenshot from 2022-08-18 14-49-22](https://us

[2022-08-18 09:51] engcom-November commented on #35942
Hi @achatpc ,
Verified the issue on both 2.4.5 project-community-edition and 2.4-develop instance as well but could not reproduce the issue.
![image](https://user-images.githubusercontent.com/60198231/185364707-8e97525c-2c2a-4afe-9c2f-866a57f42994.png)
![image](https://user-images.githubusercontent.com/60198231/185364960-95817523-5b1b-4e81-8911-7f8063337ecb.png)
Kindly check the Magento [system re

[2022-08-18 09:54] bonner-earle commented on #35394
FYI, edited the description so `FK_<table>_<column>_<referencedTable>_<referencedColumn>` is displayed correctly

[2022-08-18 09:54] ArronKing commented on #35971
I've got a fix ready - I'm just confirming this on the latest version

[2022-08-18 09:58] ArronKing commented on #35971
Confirmed - issue is present on develop instance:
<img width="1732" alt="Screenshot 2022-08-18 at 10 57 36" src="https://user-images.githubusercontent.com/2041079/185368042-168da696-9a8c-4417-bac0-304445bfccdb.png">

[2022-08-18 10:07] drinkingsouls commented on #35970
I was just about to report this issue myself.
When upgrading to 2.4.5 my catalog pages all have this error.

`Base table or view not found: 1146 Table 'databaseuser.eav_attribute' doesn't exist`

We have a prefix on our database too that is is not picking up.

[2022-08-18 10:10] engcom-Dash commented on #35941
Hi @cctorres ,

I upgrade the setup using setup:upgrade command only...

here i attached config.php file for your reference....

<?php
return [
    'modules' => [
        'Magento_AdminAnalytics' => 1,
        'Magento_Store' => 1,
        'Magento_AdobeIms' => 1,
        'Magento_AdobeImsApi' => 1,
        'Magento_AdobeStockAdminUi' => 1,
        'Magento_MediaGallery' => 1,
        'Magento_Ado

[2022-08-18 10:12] engcom-Hotel commented on #35651
Hello @kuafucode,

In order to assign this ticket to yourself. Please go through with the below link:

https://developer.adobe.com/commerce/contributor/guides/code-contributions/#assigning-an-issue

Thanks

[2022-08-18 10:22] drinkingsouls commented on #35960
Does your database have a prefix set?

[2022-08-18 10:29] ssx commented on #35905
@jorgb90: what was the issue? I've got the same on a project.

[2022-08-18 10:31] engcom-November commented on #35963
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the steps to reproduce in description and confirming this issue.

[2022-08-18 10:38] engcom-Hotel commented on #35910
Hello @LukasDeRuiter,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but were unable to do so. We can see the `value_id` column in `eav_attribute_option_value` table. Please refer the below screenshot for reference:

<img width="423" alt="image" src="https://user-images.githubusercontent.com/51681618/185375628-b97d00ca-6907-44b2-b84f-9

[2022-08-18 10:45] verhaeghep commented on #35905
Module magento2-price-demical from lillik is the source of the problem. See: https://github.com/lillik/magento2-price-decimal/issues/78

[2022-08-18 10:48] rstylenl commented on #13803
I know this is an old issue, but i had with a recent migration from Magento 1.9.4.0 to Magento 2.4.4.

To fix this issue:
1. Log in to the Backend
2. Goto Stores -> (under Attributes) click on product
3. Search for Special Price Attribute. And click on it to edit it.
4. on the lefthand side click on: Storefront Properties
5. Set Used in Product Listing to Yes.
6. Reindex

After these changes it wo

[2022-08-18 10:51] ssx commented on #35905
thanks @verhaeghep - it'll be the same for this project too.

[2022-08-18 10:52] engcom-Bravo commented on #35969
Hi @cstinson4508,

Thank you for raising an issue.

Please help us to provide exact steps to reproduce and screenshots if possible provide us video in order to replicate the issue.

Thanks.

[2022-08-18 10:53] engcom-Delta commented on #35967
Hi @pixel-paul ,
Thanks for quick response, We should follow the below document for free shipping , it works fine
https://docs.magento.com/user-guide/shipping/shipping-free.html.

I have cross checked i could see free shipping got applied.

<img width="1351" alt="Screenshot 2022-08-18 at 3 24 30 PM" src="https://user-images.githubusercontent.com/51681379/185377289-d8a587f1-116a-4202-ad82-c9b232d8a

[2022-08-18 10:59] engcom-Echo commented on #35903
Hello @Aquive,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch, but for us, the issue is not reproducible.
followed  [steps](https://github.com/magento/magento2/issues/35903#issue-1334267343).
website1

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51681435/185379015-591173e0-3b02-4712-999b-428eeba5cc78.pn

[2022-08-18 11:02] engcom-Dash commented on #35971
@magento give me 2.4-develop instance

[2022-08-18 11:15] cartok opened #35973 "Child theme should not override folders in web/css/source"
### Preconditions and environment

- Magento version: 2.4.4

We use LUMA, have a base theme based on it and two other themes that base one the base theme. LESS folders do not get merged, they get overridden entirely.

Is that intended?

### Steps to reproduce

[code]

### Expected result

All files are loaded and `../specific/web/css/source/foo/bar.less` overrides `../base/web/css/source/foo/bar.l

[2022-08-18 11:20] engcom-Bravo commented on #35956
Hi @oneserv-heuser,

Thank you for reporting and collaboration.

Verified the issue on both 2.4.5  and 2.4-develop instance as well but could not reproduce the issue.

Creating  a configurable product with 560+ configurations.

<img width="942" alt="36" src="https://user-images.githubusercontent.com/51680745/185382183-12bb81be-fb79-4b28-b56d-2e07cfa7247a.png">

<img width="941" alt="38" src="https

[2022-08-18 11:25] oneserv-heuser commented on #35956
@engcom-Bravo Can you see the product in the category view? The product view always works, regardless of the number of assigned single products. But it's not shown in the category view.
I tried this several times with several different and new products and it never works. Everything is enabled, in stock, assigned to the correct website, has a price, index is rebuild and cache is cleaned.
You must

[2022-08-18 11:25] oneserv-heuser commented on #35956
@magento give me 2.4-develop instance

[2022-08-18 11:35] engcom-Dash commented on #35971
Hi @ArronKing ,

We are trying to reproduce the issue but we are not able to reproduce in 2.4.5 instance.

we are not able create order in customer view page.

Screenshots for your reference:

![Screenshot from 2022-08-18 16-59-04](https://user-images.githubusercontent.com/60198592/185384634-95402a95-a31e-4372-9900-66622106836a.png)
![Screenshot from 2022-08-18 16-51-20](https://user-images.github

[2022-08-18 11:46] achatpc commented on #35942
I can sea this with grep:

magento_user@achatpc:/var/www/html$ grep -r 'OrderInterface\[\]'
vendor/amasty/module-extra-fee/Block/Sales/CreditMemo/Create/Fee.php:     * @return ExtrafeeOrderInterface[]
vendor/smile/elasticsuite/src/module-elasticsuite-core/Search/RequestInterface.php:     * @return SortOrderInterface[]
vendor/smile/elasticsuite/src/module-elasticsuite-core/Search/Request/SortOrder/

[2022-08-18 11:54] engcom-November commented on #35889
Thank you for the response @plastikschnitzer . We are considering this as feature request but not a bug as WAI-ARIA compliance is not mentioned anywhere in Magento [docs](https://developer.adobe.com/commerce/php/coding-standards/html-style-guide/).

[2022-08-18 11:57] ArronKing commented on #35971
Hi

I agree with you - I can't place an order on the frontend either.

But... that's not the issue I've raised *

I've created an order in admin (000000003), which you can see in your develop instance. If you try to ship that, that's what shows the issue I've raised and PR fixes.

* Whilst it's not the issue I've raised, I think the inability to create an order on the frontend is related. I can cr

[2022-08-18 12:07] Aquive commented on #35903
Hi @engcom-Echo thanks for the effort.

The reported problem does not arise on the frontend. It does hover arise when trying to retrieve the prices in the codebase of Magento. I supplied the (simplified) lines in the report. Shouldn't those lines reflect the same price as in the frontend? Because they don't.

[2022-08-18 12:32] ghost opened #35974 "Uninstallation of extension got stuck"
Uninstallation of extension got stuck.
I ran `bin/magento module:uninstall -r -c <module>` and system is not replying anymore.

Should I remove`-r` and just run `bin/magento module:uninstall -c <module>` for uninstalling extension at backend?
![螢幕快照 2022-08-18 下午8 28 58](https://user-images.githubusercontent.com/110151530/185395126-5e08d9e4-d7d7-4450-aa76-4ab460e6c856.png)

Magento 2.4.4 Open Sour

[2022-08-18 12:39] engcom-Dash commented on #35958
Hi @lagunacellar,

We have some possibilities to reproduce the issue and we are working as well as we will update status ASAP.

Thanks!!!

[2022-08-18 12:48] Lain818 commented on #26333
Is there anyone who could offer a fix for this problem?

[2022-08-18 12:54] engcom-Bravo commented on #35960
Hi @harleeniweb,

Thanks for the update. Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above steps to reproduce. however, similar issue has been confirmed [here](https://github.com/magento/magento2/issues/35899).

We are closing this issue as duplicate.

Thanks.

[2022-08-18 12:54] #35960 closed, assigned to engcom-Bravo

[2022-08-18 13:11] zhartaunik commented on #35961
@Viktorja1 in my vision magento from this branch differs from those magento which is installing via composer. It doesn't contain a dependency it must.

[2022-08-18 13:18] Lain818 commented on #26333
got it - thanks!! Its finally translated.

[2022-08-18 13:24] engcom-Echo commented on #35844
Hello @Nuranto,

Thanks for the report and collaboration!
Please provide more information with exact steps and screenshot so that we can reproduce this issue.

Thanks

[2022-08-18 13:30] engcom-Lima commented on #35170
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4.3-p1** branch.

**Description:** Not able to apply patch MDVA-43443 &  MDVA-43395.
**Pre-requisite:**
Fresh magento `2.4.3-p1` should be installed.

**Steps to reproduce:**

1. Install the quality patches tool: composer require magento/quality-patches
2. Install the MDVA-43443 security patch using the tool from the project root dire

[2022-08-18 13:44] engcom-Hotel commented on #35878
Hello @hopeseekr,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. We have made a custom module which has been attached with this comment below.

Let us know if we have missed anything.

[Magz.zip](https://github.com/magento/magento2/files/9374309/Magz.zip)

Thanks

[2022-08-18 14:36] engcom-Delta commented on #35965
Hi @dumega,
Thank you for raising an issue , We tried to reproduce the issue on magento 2.4 develop instance , issue is reproducible.
Hence , issue has been confirmed.

Steps followed:
1. Create a new Cart Price Rule "save 10%", and its coupon code is 10p, priority is 0

<img width="1348" alt="Screenshot 2022-08-18 at 7 58 58 PM" src="https://user-images.githubusercontent.com/51681379/185420815-ee

[2022-08-18 15:33] ghost opened #35975 "Save cms block or page not possible"
### Preconditions and environment

- Magento version 2.4.5
- Anything else that would help a developer reproduce the bug
Php 7.4

### Steps to reproduce

Edit cms page/block
Click on save button

### Expected result

Cms page/block saved

### Actual result

Cms page/block dont save and no error in logs

![image](https://user-images.githubusercontent.com/17496183/185434851-43d641c4-a729-4cdb-ac0c-1

[2022-08-18 16:14] sdzhepa commented on #35170
Hello @nmtrimblper

I think such issue should be reported and fixed in https://github.com/magento/quality-patches/issues

cc @engcom-Lima

[2022-08-18 16:32] elisei opened #35976 "Possible error in behavior when enabling Persistent"
### Preconditions and environment

- Magento 2.4.5
- use Redis
- use Varnish

### Steps to reproduce

1. Enable Persistent
2. Set Clear Persistence on Sign Out to no
3. login
4. add product to cart
5. wait for the session to end
6. click to url "persistent/index/unsetCookie"

### Expected result

It is expected that user and cart data will be erased.

### Actual result

The data remains.

### Addi

[2022-08-18 16:32] elisei commented on #35976
@magento give me 2.4-develop instance

[2022-08-18 16:35] KrusLeung commented on #35974
Excepted `composer remove <module name>` , how to use`bin/magento uninstall` command correctly delete related files?

[2022-08-18 16:48] elisei commented on #35976
Unable to reproduce!

[2022-08-18 16:48] #35976 closed, assigned to nobody

[2022-08-18 17:47] alex9434 commented on #35941
I have attempted upgrade from 2.3.7-p4 to 2.4.5 following the instructions on the Adobe website.

[2022-08-18 18:00] madbounce commented on #35960
@magento give me 2.4.3 instance

[2022-08-18 18:03] danhort commented on #35967
@engcom-Delta I am encountering the same issue described above with free shipping applied by cart price rule.
In your previous comment you are talking about free shipping applied by shipping method. These are two different ways to apply free shipping.

[2022-08-18 18:05] CUTTRHOAT69 commented on #30314
If someone get this error and need a quick fix (without updating the Magento version or adding a patch) you can just add an serialized array on the config.xml file as the default field value. As Magento get the default info from XML as an array and does not have the format convertion you can just pass already as a serialized value.

Example:
`
<default>
         <general>
             <quantity_ra

[2022-08-18 18:19] agorbivskyi commented on #35170
@nmtrimblper there is actually no issue here - these security patches were never added to QPT tool and therefore are not supposed to be applied via QPT. They should be downloaded and applied as a regular patches https://support.magento.com/hc/en-us/articles/360028367731

There might be some confusions when you are checking statuses of these particular security patches (**already applied**) via QPT

[2022-08-18 18:22] Viktorja1 commented on #35930
@magento give me 2.4-develop instance

[2022-08-18 18:27] #35170 closed, assigned to engcom-Hotel

[2022-08-18 19:11] elisei commented on #35976
The problem is located in WeltPixel Google Analytics 4 (GA4) With GTM Support Magento 2

[2022-08-18 19:22] gpurdy-salsify commented on #30795
This looks like a benign error - Doesn't prevent products. form being
created.

*Gareth Purdy*
*Senior Implementation Consultant, Salsify *
a: 101 Federal Street, Suite 2600 • Boston, MA 02110
t:  617-206-6772
e: ***@***.***
w: *www.salsify.com
<http://salsify.us14.list-manage.com/track/click?u=3d77d2ce555a836fbaa0d6f50&id=7594c2a578&e=ce49db17da>*
See how customers are rating Salsify
<http://sals

[2022-08-18 20:16] danhort commented on #35967
Here is a quick fix for this bug applied to magento/module-quote reverting some code from the following commit https://github.com/magento/magento2/commit/bd149447d03f30dfd7cbda19c28a8140a87e0c9f.
[code]

[2022-08-18 21:32] pmonosolo commented on #29070
If anybody is still looking for a solution.

There is a patch for 2.4.3 that supposedly addresses this issue. But it doesnt.

The only way I was able to unstuck it is to kill the indexer process that gets stuck.

I created a Bash script that runs via crontab and kills the stuck indexer.

`#!/bin/bash
# This script will kill Indexing process which is running for more than 2.5 hours

(PIDS="`ps aux

[2022-08-18 22:21] swhall commented on #13433
This is still an issue in Magento version 2.4.3-p1. Any known solutions?

[2022-08-19 00:09] low-neotran opened #35977 "testing if issue repeat"

[2022-08-19 00:09] low-neotran commented on #35977
@magento-engcom-team give me 2.4.4 instance

[2022-08-19 00:14] low-neotran commented on #35977
@magento-engcom-team give me 2.4.5 instance

[2022-08-19 03:13] tuyennn commented on #35516
@engcom-November I'm facing the exact thesame situation and issue on Magento 2.4.3-p2 EE kindly request the instance and confirm this

[2022-08-19 05:01] engcom-Bravo commented on #35879
Hi @isaacdzca,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-19 05:01] #35879 closed, assigned to engcom-Bravo

[2022-08-19 05:05] dtavieres opened #35978 "page builder 2.2.3 and metapackage 1.7.2 (no preview) Patch requested"
### Preconditions and environment

- Magento version 2.4.5  RHEL 8 PHP 8.1 MYSQL8  Clean installation,
- Editing Home Page,  page builder only shows html code no preview available
-
<img width="1700" alt="image" src="https://user-images.githubusercontent.com/11996996/185545971-ee22d7ba-3e82-41f7-87f5-533703017f91.png">

-

### Steps to reproduce

Content > Pages > home page > edit

### Expected re

[2022-08-19 05:38] dtavieres commented on #35978
Issue: Clear Description

[2022-08-19 05:40] engcom-Delta commented on #35871
Hi @AmyJZhao ,
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-19 05:40] #35871 closed, assigned to engcom-Delta

[2022-08-19 06:11] engcom-Lima commented on #35864
Hi @mohitnavik ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-19 06:11] #35864 closed, assigned to engcom-Lima

[2022-08-19 07:01] OleksandrZheleznyi commented on #35975
@magento add to contributors team

[2022-08-19 07:13] thampe commented on #35499
Hi,

could you reopen the issue? You can find the issue, if you take a look inside the implementation.

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Model/Indexer/Product/Flat/TableBuilder.php#L333

[code]

The sql query clearly has an `IFNULL(st1.value, t1.value)` check and defaults to the value from the admin store if store value is `null`. Which is the case if y

[2022-08-19 07:29] engcom-November commented on #35835
Hi @zepgram ,
We got the confirmation after internal discussions that Adobe Japan maintains https://repo.packagist.org/packages/magentoj/language-ja_jp and https://github.com/magentoj/language-ja_JP Localization packages but not https://github.com/magento-l10n/language-ja_JP. Kindly use the above repositories for ja_JP package installation and reopen / create new issue if you are facing any issues

[2022-08-19 07:29] #35835 closed, assigned to nobody

[2022-08-19 07:50] ITCot commented on #35780
@magento add to contributors team

[2022-08-19 07:52] engcom-Hotel commented on #35664
Hello @Den4ik,

Thanks for the report and collaboration!

I think this is expected behavior. I have gone through the documentation related to `di.xml` [here](https://developer.adobe.com/commerce/php/development/build/dependency-injection-file/). The below is mentioned on the page:

Still, please let us know your use case, and where you are facing any issues with this behavior.

Thanks

[2022-08-19 08:12] thlassche commented on #35956
Probably related to this: https://github.com/magento/magento2/issues/28966#issuecomment-708455840

[2022-08-19 08:43] engcom-Bravo commented on #35956
@magento give me 2.4-develop instance

[2022-08-19 09:10] engcom-Delta commented on #35977
Hi @low-neotran ,
Thank you for raising an issue . We are happy to assist you , Kindly provide Summary of the issue,Information on your environment, Steps to reproduce, Expected and actual results.

Regards,

[2022-08-19 09:11] leonhelmus commented on #35684
For me i also have an error that less files are not showing anymore in browser after the compile is done with:
grunt clean && grunt exec && grunt less
After i upgraded to 2.4.4 and used the sample Gruntfile & package.json, but then i followed this post:
https://stackoverflow.com/questions/73234428/why-not-showing-less-file-path-in-browser-after-running-grunt-in-magento2
And added:
"grunt-contrib-l

[2022-08-19 09:17] devchris79 commented on #35975
Magento 2.4.5 requires PHP 8.1 [see here](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html)

[2022-08-19 09:28] engcom-November commented on #35415
Hi @webamondo ,
After internal discussions, it is concluded that this is a default behavior of Magento and community cannot provide fix for this issue. Please check the reference [comment](https://github.com/magento/magento2/issues/35343#issuecomment-1113672173) for explanation of the same.
Thank you.

[2022-08-19 09:28] #35415 closed, assigned to nobody

[2022-08-19 09:34] engcom-Hotel commented on #35974
Hello @KrusLeung,

Thanks for the report and collaboration!

I would like to suggest you go through the below link for more details on uninstalling the module:

https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-uninstall-mods.html

Also please raise these kinds of tickets on [Magento StackExchange](https://magento.stackexchange.com/).

Thanks

[2022-08-19 09:40] engcom-Hotel commented on #35875
Hello @jasuten,

Thanks for the report!

Can you please help us with the reproduction steps for your case?

Thanks

[2022-08-19 10:10] glo11468 commented on #35920
Hi @gwharton ,

Thank you for providing inputs and we tried to reproduce the issue on Magento 2.4 develop , issue is reproducible.
Hence , issue has been confirmed.

Please find below screenshots for reference.

on backend setup:

<img width="1347" alt="Screenshot 2022-08-19 at 3 31 36 PM" src="https://user-images.githubusercontent.com/90306034/185596434-159ace5c-ba24-4488-b85c-6e34661905e5.png">

[2022-08-19 10:11] engcom-Delta commented on #35920
Hi @gwharton ,

Thank you for providing inputs and we tried to reproduce the issue on Magento 2.4 develop , issue is reproducible.
Hence , issue has been confirmed.

Please find below screenshots for reference.

on backend setup:

<img width="1347" alt="Screenshot 2022-08-19 at 3 31 36 PM" src="https://user-images.githubusercontent.com/90306034/185596434-159ace5c-ba24-4488-b85c-6e34661905e5.png">

[2022-08-19 10:23] tuyennn commented on #35516
Update
--- This problem caused by **Max Session Size in Admin** for anyone facing this, update this number to x10 times for example to fix.

Configuration > System > Security > Max Session Size in Admin

[2022-08-19 10:28] drinkingsouls commented on #35395
Same issue here on 2.4.4, PHP 8.1.

[2022-08-19 10:48] ghost opened #35979 "The Default Attribute Codes give no response when add/update product information by CSV files"
### Preconditions and environment

- Magento version 2.4.4 Open Source
- Composer 2.1.0
- PHP 8.1.9

### Steps to reproduce

- Magento version 2.4.4 Open Source
- PHP 7.4.3
- Upgrade Magento from 2.4.0 to 2.4.4 Open Source by **Composer 1.10.16**
- Add/Update Product with default attributes by importing CSV files

### Expected result

Data of attributes `category_ids`, `tax_class_id`, `status` can

[2022-08-19 10:49] Bashev commented on #34779
@magento give me instance

[2022-08-19 10:54] engcom-Hotel commented on #35283
Hello @ksenia-zlotin,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2811 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2811&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-19 10:54] #35283 closed, assigned to Usik2203

[2022-08-19 10:57] engcom-Hotel commented on #34981
Hello @MagicLegend,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2235 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2235&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-19 10:57] #34981 closed, assigned to Usik2203

[2022-08-19 10:59] engcom-Hotel commented on #35704
Hello @dragonfly4,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3769 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-3769&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-19 10:59] #35704 closed, assigned to mikeKots

[2022-08-19 11:00] engcom-Hotel commented on #35898
Hello @Den4ik,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6330 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6330&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-19 11:00] #35898 closed, assigned to nobody

[2022-08-19 11:22] engcom-Lima commented on #35962
:heavy_check_mark: Issue confirmed

Issue got reproduced in **Magento 2.4.5** .

**Description:** Hard dependency on magento/module-admin-adobe-ims in magento/module-two-factor-auth

**Steps to reproduce:**

1. Install fresh 2.4.5
2. Add this to the `replace` section in the composer.json:
[code]

3. Run composer update.
4. Run bin/magento setup:di:compile.
5. Check the debug log.

**Expected resul

[2022-08-19 11:39] SanctuaryMirror opened #35981 "Cart Rule with product qty requirement does work on Magento 2.4.3 + Graphql"
### Preconditions and environment

- Magento version 2.4.3
- GraphQl Usage

### Steps to reproduce

1. Add Cart Rule:
![Zrzut ekranu z 2022-08-19 13-32-53](https://user-images.githubusercontent.com/54793425/185609598-9eadc5cc-b0d8-47ac-aa60-c2e00d66bb42.png)
2. Add Qty 2 or more of product to cart.
3. Check cart prices.

### Expected result

Rule where product qty should be equals 1 , should not b

[2022-08-19 11:40] Bashev commented on #35899
@magento give me 2.4-develoop instance

[2022-08-19 11:48] engcom-Bravo commented on #35981
@magento give me 2.4-develop instance

[2022-08-19 12:08] engcom-Delta commented on #35978
Hi @dtavieres ,
Thank you for the update , we tried to reproduce the issue on magento 2.4 develop and 2.4.5 instance , issue is not reproducible. we could see preview .
Here are the screenshots.

**Magento 2.4.5 :**

<img width="1440" alt="Screenshot 2022-08-19 at 5 21 21 PM" src="https://user-images.githubusercontent.com/51681379/185613686-a5dce55f-7f46-4a64-8b84-aca2dcbc7d88.png">

<img width="1

[2022-08-19 12:17] topanok commented on #33519
@magento I am working on this

[2022-08-19 12:26] engcom-Echo commented on #35975
Hello @achatpc,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4.5 branch with Php 8.1, but for us, the issue is not reproducible.
followed [steps](https://github.com/magento/magento2/issues/35975#issue-1343279115).

Please find the attached screen for your reference.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5168143

[2022-08-19 12:27] engcom-November commented on #35952
Hi @CadenceLabs-AndrewS ,
If the logo is changed for Website under design - Configuration, logo is not changed regardless of single store mode enabled or disabled. Logo is changed when uploaded for Store View which is the default behavior of Magento. Verified the same without and with enabling single store view mode and the issue is not reproducible if logo uploaded for store view. Logo updated as

[2022-08-19 12:28] SanctuaryMirror commented on #35981
I hope its helpfull, some demo vanilla 2.4 found in internet: file:///home/satisflay/Obrazy/Zrzuty%20ekranu/Zrzut%20ekranu%20z%202022-08-19%2013-32-53.png

Put 1 qty first, then updated cart to 2 qty. Same cart rule applied as in ticket, with product qty is 1

[2022-08-19 12:36] engcom-Bravo commented on #35956
Hi @oneserv-heuser,

Thanks for quick response.

We are able to see the product with 560+ configurations in a category view. After adding products to Category view kindly do REINDEXING and CACHEFLUSH.

Kindly check your system [requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html).

Thanks.

[2022-08-19 13:20] KrasnoshchokBohdan commented on #35979
@magento add to contributors team

[2022-08-19 13:23] DarthFly commented on #35493
The Enterprise version introduced a new favicon for admin, but the icon is located only in the "adminhtml" theme while the plugin that replaced the default icon is in the global scope. That's all.
`--- a/vendor/magento/module-enterprise/etc/adminhtml/di.xml
+++ b/vendor/magento/module-enterprise/etc/adminhtml/di.xml
@@ -9,4 +9,8 @@
     <type name="Magento\Backend\Block\Store\Switcher">
         <

[2022-08-19 13:27] engcom-Bravo commented on #35981
Hi @SanctuaryMirror,

Thank you for reporting and collaboration.

 Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. Kindly refer the screenshots.

Cart Rule

<img width="930" alt="rule 1" src="https://user-images.githubusercontent.com/51680745/185628312-032e807b-1bbb-40ed-8b18-8710f5916dfb.png">
<img width="918" alt="rule 2" src="https://user-images.githu

[2022-08-19 13:30] KrusLeung commented on #35979
Thank you Krasnosh for joining contributors team! <3

[2022-08-19 13:47] leonhelmus opened #35982 "M2.4.5 Magento_Ui/js/view/messages passes an object while it should be an string"
### Preconditions and environment

- Magento version: 2.4.5 enterprise on premise
- php 8.1

### Steps to reproduce

Example:
1. Create an account
2. log out of that account
3. Add a product to cart
4. Go to checkout
5. Fill the email of the account you just created
6. Fill in a wrong password

### Expected result

No errors are shown in the checkout

### Actual result

A lot of errors are shown:

[2022-08-19 14:00] engcom-Lima commented on #35970
Hi @psydog-1101 ,

I have tried to reproduce the issue but this issue is not reproducible to me.
Followed above given steps  but I am successfully able to navigate through Category page both in frontend and backend.
Video for your reference attached:
[TEST-ID-3-Categories-Inventory-Catalog-Magento-Admin.webm](https://user-images.githubusercontent.com/60198022/185634480-cdba4d8f-b54a-4a5a-a7e3-e8eb

[2022-08-19 14:00] allanmfx commented on #34898
I've faced this issue so many times and it is always caused by this little tricky header. The problem is that the nginx.conf.sample that comes with Magento has this X-Frame-Options set to a correct value, so people got confused and think that the problem is caused by another thing. But they need to look at other nginx files, for example: If you set up SSL locally following some internet tutorials,

[2022-08-19 14:45] drinkingsouls commented on #35970
I have this same issue.
My table prefix is correctly set in env.php
Referring to SearchResultApplier.php (242 & 251) it does not seem that the prefix is called there at all.

[2022-08-19 14:52] engcom-Echo commented on #35903
Hello @Aquive,

Thanks for contribution and collaboration.

We have check on behalf of lines of code and getting the same price for both store on website 2 where we have apply the catalog price rule.
Hence we are confirming the issue.

Steps to [reproduced](https://github.com/magento/magento2/issues/35903#issue-1334267343).

[code]

Please find the attached screen.

<img width="1440" alt="image" s

[2022-08-19 14:54] engcom-Lima commented on #35970
Hi @drinkingsouls ,

Thanks for your contribution and collaboration.

Have you upgraded your instance?
Also, can you check above [comment](https://github.com/magento/magento2/issues/35970#issuecomment-1220716335)  and try to install by following the comment?
Also, please give more information about step to reproduce ,so , that issue can be reproducible to me as well.

Thanks

[2022-08-19 15:42] pixel-paul commented on #35967
Hi @engcom-Delta - you have provided two different methods to add free shipping. The method I am using, as confirmed by @danhort is this method:

https://docs.magento.com/user-guide/marketing/price-rules-cart-free-shipping.html

It looks like you have used this method in your first example. Please retest and confirm this as it looks very much like a bug.

[2022-08-19 16:38] KrusLeung commented on #35979
PHP 8.1.9

[2022-08-19 16:55] ghost opened #35985 "Can't create customer account!! [Compatibility issue with PHP 8.1 and Magento 2.4.4??]"
### Preconditions and environment

- Magento 2.4.4 Open Source
- PHP 8.1.9
- Composer 2.1.0

### Steps to reproduce

1. Upgraded PHP version 7.4.3 to 8.1.9
2. Enabled PHP 8.1.9
3. Disabled PHP 7.4.3
4. Enter to [https:///www.xxxxx.com](url)
5. Enter to `Create an account`
6. [https://www.xxxxx.com/customer/account/create/](url) shows the Error.

### Expected result

Enter customer create page succ

[2022-08-19 16:59] pixel-paul commented on #35967
That is great, thank you @danhort - I can confirm that this corrects the issue.

@engcom-Delta - can you retest please using the cart price rule method of providing free shipping? This appears to be a bug.

[2022-08-19 17:08] KrusLeung commented on #35490
Same question

Preconditions and environment
Magento 2.4.4 Open Source
PHP 8.1.9
Composer 2.1.0
Steps to reproduce
Upgraded PHP version 7.4.3 to 8.1.9
Enabled PHP 8.1.9
Disabled PHP 7.4.3
Enter to [https:///www.worldtreemall.com](https://github.com/magento/magento2/issues/url)
Enter to Create an account
[https://www.worldtreemall.com/customer/account/create/](https://github.com/magento/magento2/is

[2022-08-19 17:24] KrusLeung commented on #35490
It didn't solve yet. Support team please help.

- [ ] Fix #35985 & #35442 [https://github.com/magento/magento2/pull/35442](url)

[2022-08-19 17:32] KrusLeung commented on #35985
Solution at the moment: [https://github.com/magento/magento2/pull/35442/files](url)

[2022-08-19 17:40] KrusLeung commented on #35490
#35542 #35490 #35985

Edited `app/code/Magento/Customer/Block/Widget/Name.php` as below:

From `$prefixOption = $this->getObject()->getPrefix();` to `$prefixOption = $this->getObject()->getPrefix() ?? '';`

-----
**After submited account creation**
Got this on https://www.example.com/customer/account/createpost/
[code]

[2022-08-19 17:40] KrusLeung commented on #35542
#35542 #35490 #35985

Edited `app/code/Magento/Customer/Block/Widget/Name.php` as below:

From `$prefixOption = $this->getObject()->getPrefix();` to `$prefixOption = $this->getObject()->getPrefix() ?? '';`

-----
**After submited account creation**
Got this on https://www.example.com/customer/account/createpost/
[code]

[2022-08-19 17:43] matutetandil commented on #35941
I'm trying to update from 2.4.3.-p1, and even though the s:up works (after disabling the 3 modules), when I try to run s:d:c: I'm getting this error:

[code]

[2022-08-19 17:48] KrusLeung commented on #35490
It didn't solve yet. Support team please help! Thank you @magento-storefront-jenkins-svc

[2022-08-19 17:53] gwharton commented on #35941
Duplicate of #35962

[2022-08-19 17:58] Bashev commented on #35899
@Den4ik can you make an review for this fix?

[2022-08-19 18:04] KrusLeung commented on #35985
This seems to be an issue with me not running  `bin/magento set:upgrade` or `bin/magento setup:static-content:deploy -f` or `bin/magento s:d:c` only

[2022-08-19 18:06] KrusLeung commented on #35490
This seems to be an issue with me not running `bin/magento set:upgrade` or `bin/magento setup:static-content:deploy -f` or `bin/magento s:d:c` only

[2022-08-19 18:23] IrynaMal commented on #35930
@magento give me 2.4-develop instance

[2022-08-19 19:59] martinbabic opened #35988 "GraphQl query categoryList with no argumets returns tree up to level 3"
### Preconditions and environment
Magento 2.4.5 Commerce, 2.4-develop
PHP 8.1
Composer 2.1.0
Category Tree with over 400 categories that runs through 5 levels (Default > Products > View By Category > Level4 > Level5
### Steps to reproduce
Run Graphql query:

`# Write your query or mutation here
query getMegaMenu {
  categoryList {
    uid
    name
    children {
      uid
      include_in_menu

[2022-08-19 20:34] mar88888 opened #35989 "Admin Panel on Magento 2.4.5 Stores - Advanced - Admin Freezes"
### Preconditions and environment

- Magento 2.4.5
- Admin panel freezes on option Stores-Advanced-Admin. Nothing work.

### Steps to reproduce

Access admin panel, goto to stores-advanced-admin

### Expected result

Options available and work

### Actual result

Options freeze

### Additional information

Nothing.

### Release note

Nothing.

### Triage and priority

- [ ] Severity: **S0** _- Aff

[2022-08-19 21:53] pmonosolo commented on #35875
Thanks!

I think it might be related to this:
https://wiki.php.net/rfc/deprecate_null_to_scalar_internal_arg

Problem is that the error is not a depreciation error - unless I'm confused.  It just shows up as normal error instead of a warning.

[2022-08-19 23:08] ziazievaaa commented on #35930
@magento give me 2.4-develop instance

[2022-08-20 01:55] mrtuvn commented on #35982
Looks like old code not work with newer version jquery 3

[2022-08-20 13:04] ziazievaaa commented on #35930
@magento give me 2.4-develop instance

[2022-08-20 13:05] Viktorja1 commented on #35911
@magento give me 2.4-develop instance

[2022-08-20 13:09] achatpc commented on #35942
Founded and fixed my issue.

Whas related with classyllama/module-zendesk.

Special thanks to Amasty support for help.
Patch attached in this post.

[zendesk patch.zip](https://github.com/magento/magento2/files/9387151/zendesk.patch.zip)

@magento/classy-llama

[2022-08-20 13:09] #35942 closed, assigned to engcom-November

[2022-08-20 13:17] achatpc commented on #35975
I have more information about issue.

When i disable PageBuilder, issue is solved.

But i need PageBuilder

[2022-08-20 13:18] leonhelmus commented on #35982
@engcom-Lima This seems like a better solution:
https://github.com/magento/magento2/pull/32886

[2022-08-20 16:27] CadenceLabs-AndrewS commented on #35952
I just confirmed this with a fresh install of 2.4.4

Step 1:
Design Config -> add Logo to StoreView & Save & Flush Cache

Frontend Result:
![Screenshot from 2022-08-20 12-15-28](https://user-images.githubusercontent.com/93620501/185756663-13312b13-7e2e-4bc6-ab98-3d12ff493e58.png)
Admin Result:
![Screenshot from 2022-08-20 12-15-34](https://user-images.githubusercontent.com/93620501/185756674-2aec8

[2022-08-20 18:32] CadenceLabs-AndrewS opened #35992 "Image filenames that start with an uppercase will return wrong image path location during regex parse getOriginalImage"
### Preconditions and environment

standard implementation on nginx,php7.4
2.4.3-p2 and 2.4.4

the current regex parsing in https://github.com/magento/magento2/blob/2.4.3-p2/app/code/Magento/MediaStorage/App/Media.php#L260 `getOriginalImage` does not work with filenames that start with an uppercase.  eg: Fake_example_file.jpg

### Steps to reproduce

add image asset to product with uppercase chara

[2022-08-21 06:51] Rusllana commented on #35920
@magento give me 2.4-develop instance

[2022-08-21 06:56] Rusllana commented on #35912
@magento give me 2.4-develop instance

[2022-08-21 09:09] leonhelmus commented on #35899
Also check the magento inventory repo more often please:
https://github.com/magento/inventory/issues/3360

It looks like no one is active on that repo to pick the issues up.

[2022-08-21 11:28] Rusllana commented on #35912
https://github.com/magento give me 2.4-develop instance

[2022-08-21 11:29] Rusllana commented on #35912
https://github.com/magento give me 2.4-develop instance

[2022-08-21 11:32] Rusllana commented on #35911
https://github.com/magento give me 2.4-develop instance

[2022-08-21 11:32] Rusllana commented on #35911
@magento give me 2.4-develop instance

[2022-08-21 14:13] CryptoToro7 commented on #35930
@magento give me 2.4-develop instance

[2022-08-21 15:31] CryptoToro7 commented on #35930
@magento give me 2.4-develop instance

[2022-08-21 21:31] hewgim commented on #35329
I can also confirm that this issue exists on 2.4.5, although the mobile search worked fine for us

Pretty embarrassing that Magento's mobile menu was broken in the 2.4.4 release. The issue was raised on 19th April and a fix has still not been released. I don't understand why this isn't a top priority issue given that it will cost Magento merchants lost sales.

[2022-08-22 06:24] engcom-Dash commented on #35971
@magento give me 2.4-develop instance

[2022-08-22 06:27] engcom-Dash commented on #35985
@magento give me 2.4-develop instance

[2022-08-22 06:55] densen45 opened #35993 "Error during app:config:import -- Import failed"
### Preconditions and environment

- Magento version <= 2.4.4-p1
- Magento 2.4-develop

### Steps to reproduce

The steps to reproduce this issue are described very well by @hostep in https://github.com/magento/magento2/issues/31428#issuecomment-866144213.

- Run the below command to dump all the configurations in the config.php file:
`bin/magento app:config:dump`
- Try to import the config by run

[2022-08-22 07:00] dtavieres commented on #35978
Good morning.
Instaling Magento 2.4.4 or 2.4.5 from scratch (clean installation) module-page-builder 2.2.3 produces a glitch.
<img width="1785" alt="image" src="https://user-images.githubusercontent.com/11996996/185858299-fdc6530b-ccfa-4b97-9954-05778fef4f4d.png">. Something is pointing to the wrong place.
If you add a new page, page-builder is OK. but if you try to edit any of the magento default

[2022-08-22 07:03] oneserv-heuser commented on #35956
@thlassche You're absolutely right, this is related and applying your patch fixes the issue. Thanks a lot!

So, @engcom-Bravo can you please read the thread in https://github.com/magento/magento2/issues/28966 and especially the comment from @thlassche

I think you should be able to reproduce the issue when setting "Yes" for "Use for Sort" for the attributes you're using and/or for the attribute "n

[2022-08-22 07:21] oneserv-heuser commented on #35956
To summarize:
The problem is NOT the pure number of single products assigned to a config, it's the maximum field length in ElasticSearch which causes the product not to be indexed.
To reproduce you must do the following:

- Set the "Used for Sorting in Product Listing" for the attribute "Name" to true
- Create a configurable product with a long name and as many single products assigned that the co

[2022-08-22 07:25] engcom-Hotel commented on #35918
Hello @pmonosolo,

As the issue is related to Third-party i.e. Amasty and not from Magento's core module, hence we are closing this issue.

Thanks for reporting this issue.

Thanks

[2022-08-22 07:25] #35918 closed, assigned to engcom-Hotel

[2022-08-22 07:27] ganti-kiranmai commented on #34661
I am facing the same issue after upgrading Magento from 2.4 to 2.4.4

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'staging.customer_group_excluded_website' doesn't exist, query was: SELECT `customer_group_excluded_website`.`customer_group_id`, `cus
tomer_group_excluded_website`.`website_id` FROM `customer_group_excluded_website`

Any update on this how to fix this?

[2022-08-22 08:00] engcom-Hotel commented on #35617
Hello @Hexmage,

Thanks for the reply!

Let me understand more about this issue. So the above piece of code is written in a class and on that class, you have made a plugin. Like below:

[code]

Is that correct?

Thanks

[2022-08-22 09:09] engcom-Bravo commented on #35989
@magento give me 2.4-develop instance

[2022-08-22 09:36] m2-assistant[bot] opened #35994 "[Issue] Removed a fixed version phpcs dependency from the project"
This issue is automatically created based on existing pull request: magento/magento2#35807: Removed a fixed version phpcs dependency from the project

---------
### Description (*)
**This Pull Request removes a PHP Code Sniffer fixed version dependency from the project's main composer.json file.**
The reason for that is for purposes of maintaining a Magento 2 project's code quality, phpcs alone is

[2022-08-22 10:27] engcom-Dash commented on #35971
@magento give me 2.4-develop instance

[2022-08-22 10:38] engcom-Dash commented on #35985
@magento give me 2.4-develop instance

[2022-08-22 10:51] engcom-Dash commented on #35971
Hi @ArronKing ,

We are confirming the issue...and We can reproduce the issue in 2.4.5 magento instance.

Here attached the screenshots for your reference...
![Screenshot from 2022-08-22 16-16-32](https://user-images.githubusercontent.com/60198592/185904009-73909cac-dc70-480a-8594-fde53475cadc.png)
![Screenshot from 2022-08-22 16-13-15](https://user-images.githubusercontent.com/60198592/185904023-

[2022-08-22 10:54] engcom-Dash commented on #35982
@magento give me 2.4-develop instance

[2022-08-22 10:56] engcom-Hotel commented on #35517
Hello @Mavlyan,

Thanks for the code sample here https://github.com/magento/magento2/issues/35517#issuecomment-1156442415.

We are able to reproduce the issue using that codebase sample. Can you please let us know from where you picked (File path) this code sample?

This will help us in moving forward with this ticket.

Thanks

[2022-08-22 10:59] engcom-Bravo commented on #35989
Hi @mar88888,

Thank you for reporting and collaboration.

 Verified the issue on Magento 2.4-develop branch and 2.4.5 but could not able to reproduce the issue. Kindly refer the screenshots.

<img width="948" alt="admin" src="https://user-images.githubusercontent.com/51680745/185905402-6b0121ed-696c-4b42-b41d-a7844e0f3702.png">

Thanks.

[2022-08-22 11:09] engcom-Bravo commented on #35981
@magento give me 2.4-develop instance

[2022-08-22 11:16] engcom-Dash commented on #35982
Hi @leonhelmus ,

We are trying to reproduce the issue 2.4.5 instance.We are not able to reproduce the issue.

Account was successfully created...

Here I attached the screenshots....

![Screenshot from 2022-08-22 16-42-33](https://user-images.githubusercontent.com/60198592/185908315-63a849e9-a6d9-4e57-9652-8ebbffa2abc7.png)

Steps:

Create an account
log out of that account
Add a product to cart

[2022-08-22 11:37] engcom-Lima commented on #35994
@magento create issue

[2022-08-22 11:42] drinkingsouls commented on #35970
Hi,
What are you referring to regarding "upgraded instance"?
I updated from 2.4.4 to 2.4.5 via composer and since then I am unable to view catalog pages due to the error mentioned above.
If I add my database prefix to line 242 and 251 manually then these pages work correctly.
If I downgrade to 2.4.4 then it works correctly again.
I have redeployed, cleared caches, restarted server etc. It seems th

[2022-08-22 11:56] engcom-Delta commented on #35964
Hi @say-my-name-user ,
Thank you for raising an issue , we tried to reproduce the issue on magento 2.4.4 instance , unfortunately we could not find step# 2 from Advanced inventory section. Kindly review the provided steps.

<img width="1339" alt="Screenshot 2022-08-22 at 5 23 54 PM" src="https://user-images.githubusercontent.com/51681379/185915601-c3f3922b-05b7-470d-ae05-b899191019f1.png">

<img w

[2022-08-22 11:59] engcom-Delta commented on #35746
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-22 11:59] #35746 closed, assigned to engcom-Delta

[2022-08-22 12:02] engcom-Delta commented on #35973
Hi @cartok ,
Thank you for raising an issue , We are happy to assist you but we are not clear on steps provided to replicate the issue.
Please provide clear steps one by one.

Regards,

[2022-08-22 12:02] engcom-November commented on #35801
Hi @himanshusavranntz ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-08-22 12:02] #35801 closed, assigned to engcom-November

[2022-08-22 12:24] engcom-Echo commented on #35975
Hello @achatpc,
Thanks for your quick response.

We have tried to reproduce the issue in Magento 2.4.5 branch with Php 8.1, but for us, the issue is not reproducible.
Note :- We have checked with PageBuilder Enable and we are able to save it successfully.

Please find the attached screen for your reference.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51681435/1859

[2022-08-22 12:25] engcom-November commented on #35914
Hi @blockedie ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not reproduce the issue.
Both qty and salable qty of the inventoried product are same before and after creating the credit memo.
![image](https://user-images.githubusercontent.com/60198231/185920609-ee392269-b856-45df-82e1-bef61d4f803c.png)

![image](https://user-images.githubuserc

[2022-08-22 12:28] engcom-Dash commented on #35985
Hi @KrusLeung ,

We are trying to reproduce the issue in 2.4-develop But we are not able to reproduce the issue...

Customer account able to create successfully...

Here i Attached the screenshots for your reference....
![Screenshot from 2022-08-22 17-52-29](https://user-images.githubusercontent.com/60198592/185920797-85b11604-b381-4dd3-b8e2-031d94325daa.png)
![Screenshot from 2022-08-22 17-52-24]

[2022-08-22 12:33] say-my-name-user commented on #35964
Hi @engcom-Delta,

you should check Advanced Inventory **in the bundle options product**, the simple product that is attached to the bundle, not bundle itself.

[2022-08-22 12:48] engcom-Bravo commented on #35956
Hi @oneserv-heuser,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 we are able to reproduce the issue. Kindly refer the screenshots.

Steps Followed:
1.Set the "Used for Sorting in Product Listing" for the attribute "Name" to true

<img width="928" alt="At 1" src="https://user-images.githubusercontent.com/51680745/185923374-0eb8536b-e62e-489

[2022-08-22 13:00] engcom-Bravo commented on #35956
Hi @oneserv-heuser,

Thanks for quick response.

We are not able to  Create a configurable product with a long name ( Atleast 100 characters).Kindly please confirm.

<img width="935" alt="kvkk" src="https://user-images.githubusercontent.com/51680745/185926958-0728b72d-00b8-4042-88ca-9c327faefca0.png">

We can enter upto 64 characters.

Thanks.

[2022-08-22 13:08] oneserv-heuser commented on #35956
@engcom-Bravo Well, the 100 was only to make it as long as possibe to exceed the maximum length of 32766 characters in ElasticSearch with fewer assigned single products. Then just use 64 characters for the name and create more single products.

Don't know why you first confirm the issue and then remove the confirmation because of this nonsense 😆

[2022-08-22 13:11] engcom-Bravo commented on #35956
Hi @oneserv-heuser,

Thanks for quick response.

Sorry for cause. we will update as soon as possible.

Thanks.

[2022-08-22 13:40] achatpc commented on #35975
Fixed, was related to conflict with header in pub/.htaccess:

Was "Header set X-Frame-Options CROSS-ORIGIN"
After change to
Header set X-Frame-Options SAMEORIGIN
Save block work again.

[2022-08-22 13:40] #35975 closed, assigned to engcom-Echo

[2022-08-22 13:48] engcom-Bravo commented on #35956
Hi @oneserv-heuser,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 we are able to reproduce the issue. Kindly refer the screenshots.

1.Set the "Used for Sorting in Product Listing" for the attribute "Name" to true

<img width="928" alt="At 1" src="https://user-images.githubusercontent.com/51680745/185935721-25927389-8735-4bae-905e-79767b32f

[2022-08-22 14:14] Vinai commented on #33802
Reproduced on 2.4.5

[2022-08-22 14:19] MaxStetsenko commented on #3495
Did you find a solution?

[2022-08-22 15:13] Hexmage commented on #35617
@engcom-Hotel

Sort of, class A isn't the class that has the after plugin on it. It was more like this (might be even deeper nested)

[code]

[2022-08-22 15:42] DiegoItaly opened #35997 "product alerts not working on 2.4.4 CE"
### Preconditions and environment

- magento 2.4.4 CE
- php 8.1

### Steps to reproduce

1. install a magento 2.4.4 ce
2. enable the product price alert
3. set the product alert scheduler start time to a time (for instance 17:00:00)
4. log in with a customer
5. subscribe for a product price change
6. change manually the price of the product to a lower price
7. wait until the time of the step 3

##

[2022-08-22 15:43] DiegoItaly commented on #35997
@magento give me 2.4-develop instance

[2022-08-22 16:04] DiegoItaly commented on #35997
I set an alert in the instance for 13:00:00 (it will be in 2-3 hours I think according to the instance timezone).
It looks like that the instance does not send emails (I did not receive the welcome email when I created a test customer).
Anyway, we might see the problem just by going in the product set for the alert in the backend,
and see the alert count.

It it will be 1 (now it is 0), at leas th

[2022-08-22 17:22] engcom-November commented on #35952
Thanks for the update @CadenceLabs-AndrewS . Re verified the issue again on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue.

[2022-08-22 18:38] fredden commented on #32387
@sidolov please can you re-open this so it can be triaged. It looks like it was closed by the stale robot by mistake.

[2022-08-23 05:16] engcom-Bravo commented on #35888
Hi @carlitooo2022,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-23 05:16] #35888 closed, assigned to engcom-Bravo

[2022-08-23 05:34] psydog-1101 commented on #35970
Hi @engcom-Lima ,
I created new Instance of Magento 2.4.5 CE and try to replicate this issue. Turn out, this issue is only occuring if config Catalog > Inventory > Display Out of Stock Products  set to Yes. Please take a look

[2022-08-23 05:38] engcom-Hotel commented on #35729
Dear @Nuranto @simonmaass,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-23 05:38] #35729 closed, assigned to engcom-Hotel

[2022-08-23 05:39] psydog-1101 commented on #35970
Please refer below replication on my local
https://imgur.com/MwfDk5K
https://imgur.com/gHa3Ysk

[2022-08-23 05:40] engcom-Hotel commented on #35534
Dear @tgreeve,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-23 05:40] #35534 closed, assigned to engcom-Hotel

[2022-08-23 05:40] engcom-Hotel commented on #35254
Dear @PauloPhagula,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-23 05:40] #35254 closed, assigned to engcom-Hotel

[2022-08-23 05:42] sdouma commented on #12970
@romeof1980 thanks for going that deep. It is appreciated

[2022-08-23 05:47] KrusLeung commented on #35985
To reproduce the issue,
![螢幕快照 2022-08-23 下午1 44 47](https://user-images.githubusercontent.com/110151530/186079584-4bb04d0a-4eed-491a-8ef8-885c740edd36.png)
you have to revise back this modification

1. Edit /var/www/html/app/code/Magento/Customer/Block/Widget/Name.php as below:

From `$prefixOption = $this->getObject()->getPrefix() ?? '';` to `$prefixOption = $this->getObject()->getPrefix();`

@e

[2022-08-23 05:49] Ritesh-Rana opened #35998 "on overriding catalog_product_view.xml file in custom theme, in page tag by changing attribute 'layout=3colomns' not working !"
### Preconditions and environment

- Magento version : 2.4.4
- Have to create new custom theme

### Steps to reproduce

1.Under custom theme create directory create a directory Magento_Catalog
2.Under Magento_Catalog create a directory layout
3.Under this layout create a file catalog_product_view.xml
4.In this catalog_product_view.xml under page tag changeattribute layout as : layout=3columns

###

[2022-08-23 05:49] DiegoItaly commented on #35997
give me 2.4-develop instance

[2022-08-23 05:50] DiegoItaly commented on #35997
@magento give me 2.4-develop instance

[2022-08-23 06:20] engcom-Lima commented on #35892
Hi @vishalkumar007 ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-23 06:20] #35892 closed, assigned to engcom-Lima

[2022-08-23 06:21] engcom-Lima commented on #35894
Hi @Flow09AT ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-23 06:21] #35894 closed, assigned to engcom-Lima

[2022-08-23 06:21] DiegoItaly commented on #35997
The instance of yesterday is not available anymore,
but I checked yesterday, a couple of hours later, if the alert count increased on the product,
and it didn't.
I also did not received any notification email.

So I'm pretty confident that it does not work.

[2022-08-23 06:29] vpodorozh commented on #34202
Hi All, any updates about the solution? It still happens :)

[2022-08-23 06:44] ctadlock commented on #34375
I think this is related to the version of the PHP INTL ICU. Im using Amazon linux 2 on my prod server and Ubuntu 22.04 for dev, both are PHP 7.4.30. However if you run "php -i" on both you get different version of the ICU.

Ubuntu
[code]

aws
[code]

[2022-08-23 06:51] engcom-Lima commented on #35970
Hi @psydog-1101 ,

Thanks for your information .
I have tried to reproduce the issue but unable to reproduce it.
I have create new instance of `2.4.5 CE` with prefix table and in configuration I have done **`Catalog > Inventory > Display Out of Stock Products configuration is set to Yes`**. But I am able to navigate to category pages and in logs there is no error related to SQL.
Below is the scree

[2022-08-23 07:58] hareshpatel commented on #10338
hello all
i have same issue in stripe payment  card_declined but in admin order place so can you please help me how can stop order place in backend . ones payment is sucess than please order .

[2022-08-23 08:01] hareshpatel opened #35999 "stripe payment card_declined but order is place"
### Preconditions and environment

- Magento version 2.4.4
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

hello team

i am used stripe payment  payment getway. but in checkout card_declined but order is place. so how can stop the order place

### Expected result

hello team

i am used stripe payment  payment getway. but in checkout card_declined but order is

[2022-08-23 08:54] Olha27691 commented on #35930
@magento give me 2.4-develop instance

[2022-08-23 09:02] engcom-Bravo commented on #35981
@magento give me 2.4-develop instance

[2022-08-23 09:25] khoimm92 commented on #35913
I am also experiencing this. For example, if call `jquery.cookie` as dependency on the `default.xml` layout
[code]
Then:
- Header welcome message
- Minicart
- Checkout button ...

will not working

[2022-08-23 09:32] engcom-Dash commented on #35997
@magento give me 2.4-develop instance

[2022-08-23 09:44] psydog-1101 commented on #35970
Hi @engcom-Lima ,
I've checked and recognized that the Category's Default Product Listing Sort By configuration must be set to Product Name instead of Position as Default Value Config.
Video: https://www.loom.com/share/566e4114c99a4885ac7f8b78831dd40e
Hope this helpful
Thanks

[2022-08-23 09:44] drinkingsouls commented on #35970
I can confirm the same as @psydog-1101
The issue only occurs if Catalog > Inventory > Display Out of Stock Products configuration is set to Yes

If it is, the prefix is not found.
Screenshot: https://ibb.co/XLQwxYJ

[2022-08-23 10:26] RenderZar opened #36000 "Magento Upgrade"
Hi I want to updgrade my magento on my website, I have Magento ver. 2.4.2 and I want to upgrade it to the latest version

[2022-08-23 10:32] engcom-Hotel commented on #35546
Hello @madonzy,

We are confirming this issue as per the below comments:

https://github.com/magento/magento2/issues/35546#issuecomment-1150058317
https://github.com/magento/magento2/issues/35546#issuecomment-1155287613

We can remove this plugin from here as it is not in use.

Thanks

[2022-08-23 10:35] Aquive commented on #34318
I can confirm this is an issue in terms of running a business. I took me a while to find this issue since we had errors in our logs but not much more information what was going wrong.

Our exception log was full of these entries:

[code]

So the emails are queued but cannot be sent. As a result of this, the exception log is being spammed every minute with the errors for every record.

I used the b

[2022-08-23 11:06] Bashev commented on #7589
Released in 2.4.5 with a lot of another bugs, related to it. Probably is a good idea to be used after 2.4.5-p1

[2022-08-23 11:10] fredden commented on #35962
It looks like this was added / introduced in https://github.com/magento/security-package/commit/32beaeb8a5f6c94a38ab5ed20ef90b4191fa2f33, but I can't find a pull request nor any context on GitHub.

[2022-08-23 11:17] engcom-Bravo commented on #36000
Hi @RenderZar,

Thank you for reporting and collaboration.

Kindly go through with official Magento [devdocs](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html) to upgrade your Magento Website.

Let us Know your are facing any issue.

Thanks.

[2022-08-23 11:18] Alexander-Khohklov commented on #30901
@magento I am working on this

[2022-08-23 11:20] Alexander-Khohklov commented on #30901
@magento add to contributors team

[2022-08-23 11:27] Olha27691 commented on #35927
@magento give me 2.4-develop instance

[2022-08-23 11:48] engcom-Bravo commented on #35981
Hi @SanctuaryMirror,

Thank you for reporting and collaboration.

 Verified the issue on Magento 2.4-develop branch we are able to reproduce the issue. Kindly refer the screenshots.

1.Adding Cart Rule

<img width="932" alt="bng" src="https://user-images.githubusercontent.com/51680745/186149430-4df94240-d941-47ce-9960-098980bf255d.png">

<img width="934" alt="bng 2" src="https://user-images.github

[2022-08-23 12:04] engcom-Bravo commented on #35999
Hi @hareshpatel,

Thank you for reporting and collaboration. However, Stripe Payments is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owner

[2022-08-23 12:04] #35999 closed, assigned to engcom-Bravo

[2022-08-23 12:23] engcom-Echo commented on #35078
Hello @MagicLegend,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-08-23 12:23] #35078 closed, assigned to engcom-Echo

[2022-08-23 12:34] engcom-Delta commented on #35870
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-23 12:34] #35870 closed, assigned to engcom-Delta

[2022-08-23 12:38] topanok commented on #27474
@magento I am working on this

[2022-08-23 13:02] engcom-Dash commented on #35997
@magento give me 2.4-develop instance

[2022-08-23 13:31] engcom-Dash commented on #35997
Hi @DiegoItaly ,

We are trying to reproduce the issue in 2.4 -develop branch....We are not able to reproduce the issue...

Here i attached the screenshots for your reference:
![Screenshot from 2022-08-23 18-45-10](https://user-images.githubusercontent.com/60198592/186170458-eae09e4a-fe81-4e58-b386-99ebb8fb1c4a.png)
![Screenshot from 2022-08-23 18-43-07](https://user-images.githubusercontent.com/6

[2022-08-23 13:47] engcom-Delta commented on #35921
Hi @mlf20 ,
Thank you for providing the inputs , we tried to replicate on magento 2.4 instance but we are not facing the same error.
it would be great help what was your request body that you were trying.

in my local i have tried below endpoint and request body.

Endpoint[PUT]: http://local.magento.com/rest/default/V1/bundle-products/options/0

Body :
{
  "option": {
    "option_id": 0,
    "titl

[2022-08-23 14:04] mlf20 commented on #35921
Hi @engcom-Delta,

I have gone over my logs and the payload in thebody should be '{}'

This reproduces the issue on a 2.4 develop instance as shown below:

<img width="854" alt="Screenshot 2022-08-23 at 15 01 24" src="https://user-images.githubusercontent.com/83755999/186178924-02e6724f-387b-408c-a305-96e69cfc6842.png">

[2022-08-23 14:05] engcom-Delta commented on #35993
Hi @densen45 ,
Thank you for raising an issue . We tried to reproduce the issue on magento 2.4 develop but issue is not reproducible.
import was successful.

**Steps followed:**
Steps to reproduce on latest 2.4-develop:

1. Setup clean Magento from 2.4-develop branch (I've used commit https://github.com/magento/magento2/commit/f121ac8359768b5ebcc7462574e58c36f34c52df)
2. After Magento is up and ru

[2022-08-23 14:59] engcom-Hotel commented on #35898
@magento give me 2.4.5 instance

[2022-08-23 15:23] sdzhepa commented on #33386
Hello

Due to questions in slack channels about the status of this issue, I think it is better to provide answers here.
This post is based on information that I found in several Jira tickets related to this issue and reflects the current status.

1. Development/fix for this is going on in `ACP2E-963` this internal ticket. So after merge related commits can be found by this ticket id. like  https:/

[2022-08-23 15:42] dtavieres commented on #35978
Thank you. same problem with Magento 2.4.5   (1.7.2 & 2.2.3)

[2022-08-23 16:12] mwdana commented on #35733
I made a test product 1 pound.
I added the quantity to 150 and UPS was displayed as a shipping option at checkout. (this is exactly 150 pounds)
I increased the quantity to 151 and UPS was not available. (this is 151 pounds)

I removed the item and tested with another item.

I changed a different test product to .5 pound.
I added the quantity 300 and UPS was displayed as a shipping option. (this is

[2022-08-23 16:55] DiegoItaly commented on #35997
Hello, first thank you very much for testing my issue.

As I understood, if you don't receive any email, it means that it actually is not working.
I mean, in your example, at 19.00.00, a cron job should send an email with the price drop.

In the magento documentation:

https://experienceleague.adobe.com/docs/commerce-admin/inventory/configuration/product-alerts/alert-setup.html

There is wrote:

_

[2022-08-23 17:24] Olha27691 commented on #35918
@magento give me 2.4-develop instance

[2022-08-23 18:28] ghost opened #36001 "Bad formatting of telephone on email template."
### Preconditions and environment

- 2.4.5
- Fresh Install

### Steps to reproduce

Put a telephone number with spaces for example +1 555 555 on Store Info (via admin panel)
And then load an email template (for example, new credit memo and preview it) and mouse over the telephone link (or click), it will be invalid, the system add a "20" where the spaces are.

### Expected result

The result on cl

[2022-08-23 19:31] ziazievaaa commented on #35930
@magento give me 2.4-develop instance

[2022-08-23 19:33] bhairavi25 commented on #30835
@magento - give me 2.4.4 instance

[2022-08-23 19:33] pmonosolo opened #36002 "Error: Call to a member function getDirectoryWrite() on null in /var/www/php/folder/vendor/magento/module-catalog-import-export/Model/Import/Uploader.php:423"
### Preconditions and environment

- Magento version 2.4.5 CE
- PHP 8.1

We're running a custom Magento 2 nightly product import. Part of this is image import that loads in images via cron job.

We're getting an error in debug.log:
/vendor/magento/module-catalog-import-export/Model/Import/Uploader.php

Error:
[2022-08-23T18:30:07.510356+00:00] main.CRITICAL: Error: Call to a member function getDir

[2022-08-23 19:37] Olha27691 commented on #35930
@magento give me 2.4-develop instance

[2022-08-23 20:13] pmonosolo commented on #36002
When I return getTargetDirectory() function the error goes away:

![image](https://user-images.githubusercontent.com/66754347/186255512-50519a02-cda9-42a1-a723-a3b933be878e.png)

[2022-08-23 20:37] hostep commented on #35993
@engcom-Delta: please read the last couple of comments in https://github.com/magento/magento2/issues/31428 very carefully

Yes, it was fixed for the sitemap generation cron, but it most likely wasn't fixed for the currency update cronjob, or for the log cleanup cronjob, or for the backups cronjob.

[2022-08-23 20:53] pmonosolo commented on #36002
Yep, as soon as this was fixed, I was able to upload images!

Can somebody please take a look at this fucntion and actually test image upload.

[2022-08-23 20:54] ziazievaaa commented on #35930
https://github.com/magento give me 2.4-develop instance

[2022-08-23 20:55] ziazievaaa commented on #35930
https://github.com/magento give me 2.4-develop instance

[2022-08-23 20:55] ziazievaaa commented on #35930
https://github.com/magento give me 2.4-develop instance

[2022-08-23 20:57] ziazievaaa commented on #35935
https://github.com/magento give me 2.4-develop instance

[2022-08-23 20:57] ziazievaaa commented on #35935
@magento give me 2.4-develop instance

[2022-08-24 04:40] davidandersson1 commented on #35721
Hello @engcom-Delta please let us know if there any update on this issue or patch released.

Regards,

[2022-08-24 05:10] LB-Team-igniti commented on #32341
This is exactly how I could reproduce/enforce the issue locally as well. We see this error message on our LIVE system.

[2022-08-24 05:17] r-martins commented on #33188
In my case this was caused by a module's event.xml file containing
[code]

[2022-08-24 05:24] engcom-Bravo commented on #35893
Hi @hassanas,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-24 05:24] #35893 closed, assigned to engcom-Bravo

[2022-08-24 05:40] LB-Team-igniti commented on #32341
I just realized that this issue has been solved already in the latest 2.4-develop branch of magento and in version 2.4.5: https://github.com/magento/magento2/commit/f142625c0a04df4aab2fad73dc73d129e9e8fa8f

[2022-08-24 05:49] engcom-November commented on #35906
hi @jancyceymox ,
Verified the issue on Magento 2.4-develop branch and 2.4.5 project-community-edition as well but the issue is not reproducible. Can you please provide the complete GraphQl query that you have used to reproduce the issue from our end.
Thank you.

[2022-08-24 05:53] engcom-Hotel commented on #34997
Dear @Nuranto,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-24 05:53] #34997 closed, assigned to engcom-Hotel

[2022-08-24 05:54] jancyceymox commented on #35906
@engcom-November
I have added the complete graphQL query in the description. Please use your category URL instead of 'men.html'

[code]

[2022-08-24 07:23] monteshot commented on #35952
@magento I am working on this

[2022-08-24 07:37] engcom-Lima commented on #35970
:heavy_check_mark: Issue confirmed

Issue got reproduced in Magento **`2.4-develop && 2.4.5`** branch.

**Description:** Getting `SQLSTATE[42S02]` exception while opening category page in frontend.
**Pre-requisite:**
Fresh magento `2.4-develop`  and `2.4.5`should be installed using db prefix .

**Steps to reproduce:**
1. Login as admin.
2. Go to Catalog > Inventory > Display Out of Stock Products

[2022-08-24 07:47] engcom-Dash commented on #35784
Hi @devefectus
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-24 07:47] #35784 closed, assigned to engcom-Dash

[2022-08-24 07:48] engcom-Dash commented on #35884
Hi @ziyaindia ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-24 07:48] #35884 closed, assigned to engcom-Dash

[2022-08-24 07:59] engcom-Alfa commented on #30921
Hi @laurentiumagureanu Thanks for your contribution here.

As we have re-tried to reproduce the issue in `2.4-develop` code branch multiple times in recent months, we are unable to reproduce it at all. The issue might have fixed any other code fixes implicitly.
Here is the complete report about the past work we have performed wrt this issue - [31072#issuecomment-1225329053](https://github.com/mage

[2022-08-24 07:59] #30921 closed, assigned to nobody

[2022-08-24 08:17] engcom-Lima commented on #34325
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4.4 && 2.4.5** branch.

**Description:**
While installing extension all the packages in the `composer.lock` file ,source and dist url are replaced with references to the `2tvenom/cborencode ` package.

**Pre-requisite:**
1. Magento 2.4.3
2. PHP 7.4
3. Composer V1

**Steps to reproduce:**
1.  Upgrade magento `2.4.3` to magento `2.4.4`

[2022-08-24 08:25] isxam commented on #35577
@magento give me 2.4-develop instance

[2022-08-24 08:49] SunilC1512 opened #36004 "Search bar not working"
#Preconditions and environment
*2.4.5
*Fresh Install
#Steps to reproduce
1.Go to home page.
2.Type somthing in seerch bar
3.Enter to search.

#Expected result
We trying to search in the search feild....Show the all search to related kyeword in search bar.

#Actual result
Not show any result after click enter button.
![seach bar](https://user-images.githubusercontent.com/110841790/186374213-9435673

[2022-08-24 08:51] engcom-Bravo commented on #36001
@magento give me 2.4-develop instance

[2022-08-24 08:59] SunilC1512 opened #36005 "Search bar not working."
#Preconditions and environment
*2.4.5
*Fresh Install
#Steps to reproduce
1.Go to home page.
2.Type somthing in seerch bar
3.Enter to search.

#Expected result
We trying to search in the search feild....Show the all search to related kyeword in search bar.

#Actual result
Not show any result after click enter button.

[2022-08-24 08:59] #36005 closed, assigned to nobody

[2022-08-24 09:04] danel1 commented on #31109
This is a blocker for multiple people now.. MariaDB 10.6 is out since quite long and is the latest LTS release. Can this at least get a comment from one of the adobe guys? Maybe @deiserh @Stepa4man @dvoskoboinikov

[2022-08-24 09:22] SunilC1512 opened #36006 "Save the job applictions without name using emoji."
### Preconditions and environment

*magento2.4.5
*Fresh Install

### Steps to reproduce

1.Openn job portal.
2.Apply any job.
3 .In the candidate name field we add emoji and thi application was save without name of applicant
4.save the  application.

### Expected result

show erro massage

### Actual result

*not allow to to save withouth name of applicant.
*it is mandetry field so give some error

[2022-08-24 09:27] SunilC1512 opened #36007 "Search bar not working"
### Preconditions and environment

*2.4.5
*Fresh Install

### Steps to reproduce

#Steps to reproduce
1.Go to home page.
2.Type somthing in seerch bar
3.Enter to search.

### Expected result

#Expected result
We trying to search in the search feild....Show the all search to related kyeword in search bar.

### Actual result

#Actual result
Not show any result after click enter button.
![seach bar](

[2022-08-24 09:41] UglyWillDuckling opened #36009 "Admin Configuration values set in config files displayed incorrectly in Admin"
### Preconditions and environment

 - Magento 2 2.4.4

### Steps to reproduce

1. set a value in `config.php`
2. update the same config value via the **command line**
3. Check the values in **Admin**
4. The value from the configuration file should be displayed
5. check the values again using the **CLI** command `config:show`, the value from the **database** is shown

### Expected result

The value

[2022-08-24 09:59] engcom-Dash commented on #35997
@magento give me 2.4-develop instance

[2022-08-24 10:18] engcom-November commented on #35906
Verified the issue on both Magento 2.4-develop branch and 2.4.5 project-community-edition and the issue is reproducible with below steps performed.
Note: Intermittent issue.
Steps performed:
1. Created sub category under default category and run above graphql query:
Issue: Internal server error is observed.
Note: This issue is not observed for all category links. Issue observed for categories unde

[2022-08-24 10:33] engcom-Bravo commented on #36006
Hi @SunilC1512,

Thank you for reporting and collaboration.

This issue is not related to Magento's core library. Please connect with module developers for the same.

Hence we are closing this issue.

Thanks.