[2018-11-20 09:20] magento-engcom-team commented on #19274
Hi @dyuk1987. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-20 09:36] samuelecarpene opened #19275 "Wrong label for button Login in checkout page"
### Preconditions (*)
Magento 2.2.6

### Steps to reproduce (*)
Look at file vendor\magento\module-checkout\view\frontend\web\template\authentication.html where there is "Sign In" instead of "Login".
Basically there is a mistake with the label of buttons (3 times).
This template is used in checkout page.

### Expected result (*)
Buttons with correct label "Login"

### Actual result (*)
Buttons wit

[2018-11-20 09:36] magento-engcom-team commented on #19275
Hi @samuelecarpene. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-20 09:39] magento-engcom-team commented on #19247
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96476` were created

[2018-11-20 09:39] engcom-backlog-nazar commented on #19247
Hi @gmachure i'm able to reproduce this issue on 2.3-develop instance
![selection_212](https://user-images.githubusercontent.com/40756439/48764671-f39b9f00-ecb8-11e8-99e7-720eca629dd8.png)

[2018-11-20 09:41] magento-engcom-team commented on #16284
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-20 09:44] engcom-backlog-nazar commented on #16284
Hi @archonkulis The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-20 09:44] #16284 closed, assigned to nobody

[2018-11-20 09:46] kevingimbel commented on #19269
@DanielRuf you're right, it's not XSS - my bad!

I still think it is a small attack vector even if it requires an admin to enter text - they could be tricked into copy-pasting very long alt texts which end in `" onload=...`. A simple escape prevents this.

[2018-11-20 09:53] DanielRuf commented on #19269
Sure but this would be the case for every config field and for every CMS and WYSIWYG editor. Still the escaping makes sense but this specific case is not a real attack vector (never saw someone saying `copy this long line of code for your alt text`).

[2018-11-20 10:17] magento-engcom-team commented on #16374
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-20 10:18] engcom-backlog-nazar commented on #16374
Hi @esw-michael The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-20 10:18] #16374 closed, assigned to nobody

[2018-11-20 10:19] magento-engcom-team commented on #18050
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-20 10:19] ankurverma5540 opened #19276 "Change different product price on selecting different product swatches on category pages"
### Preconditions (*)

### Steps to reproduce (*)

1. Create Configurable products with swatches. Create a catalog price rule so that products have sale price.
2. Now on category page old price will not show for configurable products. Now follow this link to show configurable products old prices
https://magento.stackexchange.com/questions/196090/magento-2-display-old-price-and-special-price-in-cat

[2018-11-20 10:19] magento-engcom-team commented on #19276
Hi @ankurverma5540. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-20 10:27] #18050 closed, assigned to nobody

[2018-11-20 10:33] magento-engcom-team commented on #16427
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-20 10:55] middlegrey commented on #15557
Thank you!

[2018-11-20 11:00] engcom-backlog-nazar commented on #16427
Hi @AndreKlang The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-20 11:00] #16427 closed, assigned to nobody

[2018-11-20 11:09] ankurverma5540 commented on #19276
yes

[2018-11-20 11:14] DanielRuf commented on #19276
You can tick the boxes ;-)

[2018-11-20 11:20] magento-engcom-team commented on #17746
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-20 11:50] Milesy1 commented on #15935
This is NOT a bug.

Magento have a VERY big problem with their testing methodolgy.

The future maxima is greater than the past maxima.

You do NOT test/calibrate new releases of established software against a PAST benchmark, you test against a HIGHER benchmark thereby revealving hidden problems.

This has caused me SERIOUS issues.

Tags (0)
Add tags

[2018-11-20 12:03] magento-engcom-team commented on #19274
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-20 12:14] peterlembke opened #19278 "delete catalog rule sometimes leave items in catalogrule_product"
### Preconditions (*)
Magento 2.1.10, busy site with a lot of work done on the > 150 catalog rules. Add/Delete/Modify.
Magento 2.2.x - Checked some sites and there are no constraints there either.

### Steps to reproduce (*)
Run
[code]
and see if you have any lingering items in catalogrule_product

### Expected result (*)
There should be no items left in catalogrule_product that are associated wit

[2018-11-20 12:14] magento-engcom-team commented on #19278
Hi @peterlembke. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-20 12:41] smcpaiva commented on #18144
I wonder how some big projects with Mangrove 2 have a good experience. And what ability to actually work with a large number of products and categories in the open source version.
In my case there are 25 thousand categories in 5 levels. And no product. And to create, edit or delete a product, in the admin, it is about 4 minutes of delay.
And in the end it has generated the error "No data to save"

[2018-11-20 13:01] kevingimbel commented on #19269
It is. That's why I am bringing this up. Every input must be validated and/or escaped properly.

Just because you haven't seen it doesn't mean it does not happen. What if a non-technical person searches for ways to rank up in Google and they and up on a shady website that promises perfect alt texts for images based on AI-whatever-fancy-buzzwords. They might copy HTML into their alt texts; Said web

[2018-11-20 13:17] DanielRuf commented on #19269
Then social engineering is a bigger problem ;-)

But in general: you are right.

[2018-11-20 14:29] #17746 closed, assigned to nobody

[2018-11-20 14:37] progreg commented on #19117
Hey @orlangur,

I already have some working solution, but I'm not sure about an extension point that I've used.
My solution is to clone `select` in `beforeLoad` method and filter all no needed conditions to prepare select for the union. The reason why I choose such a strategy is not crash custom conditions that can be added manually to origin `select`.

All conditions that should be deleted in clo

[2018-11-20 15:57] ankit15681 commented on #3123
Just access magento server via ssh and run following command
php bin/magento deploy:mode:set -s production made
and your site will run much faster

[2018-11-20 16:30] magento-engcom-team commented on #19274
Hi @jaimin-ktpl. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-11-20 16:55] andkirby opened #19283 "The checksum verification of the file failed (downloaded from https://repo.magento.com/archives/vertex/sdk/vertex-sdk-1.0.0.0.zip)"
### Summary (*)

**Magento v2.2.5**

We are trying to install `vertex/sdk` package within Magento2 regular installation from exist `composer.lock` file.
This packages requires `magento/product-community-edition` package through `"vertex/module-tax": "^2.1.2"`.
And we got an exception:
[code]

### Examples (*)

This package description in `composer.lock`:
[code]

### Proposed solution

Please provi

[2018-11-20 16:55] magento-engcom-team commented on #19283
Hi @andkirby. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-20 17:39] andkirby commented on #19283
After the command `composer update vertex/sdk` we have gotten following changes in `shasum`:
- `klarna/module-core:4.5.2`: `b434a11d52d99870d56d448386c4722287941a0f` => `c78a12a5a07994a88502eb09729605bc192d5840`
- `klarna/module-kp:5.5.1`: `a99c65ebe2a6af8ec806cf8d6a7c75e39c4a18e7` => `6d3f2da488e6d009ab233c403e9293307095bbf7`
- `klarna/module-ordermanagement`: `022eee35916f78bfc8dd67e2f73304f7355

[2018-11-20 18:51] robyerevan commented on #19253
Hi @maheshWebkul721
It is reproducible on 2.2.3 tag release

MAGETWO-85040: Magento 2.2.3 Publication
 (build 2.2.3.024)

I guess it was fixed in later release

If you want to reproduce revert to tag 2.2.3
git reset --hard 2.2.3

[2018-11-20 19:04] noahendale commented on #10068
@mageprince Which payment modules was it conflicting with?

[2018-11-20 19:39] solomon-tech-critic commented on #12860
I am on Magento 2.2.3 is this issue persists.

[2018-11-20 19:40] magejunkie commented on #12860
@ihor-sviziev I am on Magento 2.2.3 and this issue persists.

[2018-11-20 21:20] winterk80 commented on #12362
Confirmed this is occurring in m2.2.5 EE

[2018-11-20 21:33] hellotaran opened #19285 "On Notification page Select All and Select Visible both works same"
### Preconditions (*)

1. Magento Commerce 2.2.6, Magento Open Source 2.2.6
2. Possibly all 2.* version.

### Steps to reproduce (*)

1. Login to Magento Admin.
2. Select Notifications (Bell Icon from right top of the screen).
3. Click on "See All".
4. Default paging is set to 20 rows per page.
5. Make sure you have more than 20 notifications so that you can have paging available and some notifica

[2018-11-20 21:33] magento-engcom-team commented on #19285
Hi @hellotaran. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-20 22:11] gujjwal00 opened #19286 "Wrong pager style"
### Preconditions (*)

1. In Magento version 2.2.6
2. Not in 2.2.5

### Steps to reproduce (*)

1. Place more than 10 orders (so that pager gets activated) as registered customer.
2. Go to 'My Orders' in My Account
3. Pager should be visible

### Expected result (*)

1. Pager should be displayed correctly (Limiter should float to right side)
![image](https://user-images.githubusercontent.com/27951

[2018-11-20 22:12] magento-engcom-team commented on #19286
Hi @gujjwal00. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-20 22:18] gujjwal00 commented on #19286
@magento-engcom-team give me 2.2.6 instance

[2018-11-20 22:18] magento-engcom-team commented on #19286
Hi @gujjwal00. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-20 22:18] magento-engcom-team commented on #19286
Hi @gujjwal00, here is your [Magento instance](https://i-19286-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19286-2-2-6.instances.magento-community.engineering/admin](https://i-19286-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-20 22:30] gujjwal00 commented on #19286
I was able to reproduce the issue on given instance.

[2018-11-21 01:21] orlangur commented on #19278
I believe such constraints were removed intentionally, thus returning them back is not a viable solution. Need to be found from Git history.

[2018-11-21 01:44] Magentococo commented on #19127
I have applied the fix but the issue is still here:
the error message is not displayed but the page keeps on loading and never sign in...

![image](https://user-images.githubusercontent.com/45218750/48813440-08486780-ed8b-11e8-90ca-d582e8fa9290.png)

[2018-11-21 01:45] scrivvles commented on #13225
We are experiencing this same issue on our production Magento 2.2.6 server.

[2018-11-21 01:47] Magentococo commented on #19127
Is there something else to add to make this work?

[2018-11-21 04:03] ihor-sviziev commented on #12860
@magejunkie, just update to latest version and this issue should go away

[2018-11-21 07:11] Shubham988 opened #19289 "Category path issue"
The first path which I followed is this: (Default Category, Default Category/Parent Category, Default Category/Parent Category/Sub Category). I am following this path because when I exported a csv format file from admin panel I got this written in it.
I am trying to add products to my website and the category path I am defining is in this format (Default Category,Default Category/Subjects,Default

[2018-11-21 07:11] magento-engcom-team commented on #19289
Hi @Shubham988. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-21 07:23] #19289 closed, assigned to nobody

[2018-11-21 07:33] wrongite opened #19290 "Why CartFixed rule set $baseItemOriginalPrice to BaseOriginalAmount of discountData?"
### Preconditions

1. Magento version: HEAD

### Questions

I am implementing my own sales rule action and I am looking CartFixed.php and ByPercent.php as examples.
In CartFixed.php, why do you set $baseItemOriginalPrice to BaseOriginalAmount of discount data here?
https://github.com/magento/magento2/blob/1a805d05ccdffe5315b1fa1dd69dae46cc2a2af2/app/code/Magento/SalesRule/Model/Rule/Action/Discoun

[2018-11-21 07:33] magento-engcom-team commented on #19290
Hi @wrongite. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-21 07:34] magento-engcom-team commented on #19286
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96539`, `MAGETWO-96540` were created

[2018-11-21 07:43] magento-engcom-team commented on #19283
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-21 07:46] engcom-backlog-nazar commented on #19283
Hi @andkirby   , thank you for you report, The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-21 07:47] magento-engcom-team commented on #19290
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-21 08:04] engcom-backlog-nazar commented on #19290
Hi @wrongite thank you for you report, yes this is correct,  ($baseItemOriginalPrice - $item->getBaseDiscountAmount())
[code]
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-21 08:04] #19290 closed, assigned to nobody

[2018-11-21 08:07] magento-engcom-team commented on #15579
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 08:15] magento-engcom-team commented on #19285
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96541`, `MAGETWO-96542` were created

[2018-11-21 08:23] #15579 closed, assigned to nobody

[2018-11-21 08:37] engcom-backlog-nazar commented on #15147
Hi @grichards The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-21 08:37] #15147 closed, assigned to nobody

[2018-11-21 08:39] magento-engcom-team commented on #15376
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 08:40] magento-engcom-team commented on #19286
Hi @speedy008. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-21 08:45] magento-engcom-team commented on #19256
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-21 08:53] craigcarnell commented on #12273
Magento - what is the delay here?

[2018-11-21 08:59] tandih commented on #19278
Hi,

Face this issue today on our project and i wanna to say thank you for your proposed solution @peterlembke

[2018-11-21 09:16] engcom-backlog-nazar commented on #15376
Hi @ankurAuriga The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-21 09:16] #15376 closed, assigned to nobody

[2018-11-21 09:17] magento-engcom-team commented on #15239
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 09:25] #19256 closed, assigned to nobody

[2018-11-21 09:33] #15239 closed, assigned to nobody

[2018-11-21 09:35] magento-engcom-team commented on #19258
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-21 09:35] magento-engcom-team commented on #16149
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 09:53] Detzler commented on #18154
I've updated SaveHandler.php and UpdateHandler.php as described in the previous comments. It's now possible to save the tier/group-prices at the global scope. When trying to save at the website scope, the unique constraint violation exception appears.

Does anybody have a workaround/fix? (I take also the dirty one)

[2018-11-21 09:55] engcom-backlog-nazar commented on #16149
Hi @ananth747 The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-21 09:55] #16149 closed, assigned to nobody

[2018-11-21 09:59] rbayet opened #19291 "JS files relocation inside the web/js directory not BC in 2.3.x"
### Summary

The issue https://github.com/magento/magento2/issues/16302 has been fixed both in 2.2.x and 2.3.x lines but only the fix in 2.2.x is BC compatible by providing and "old_path : new_path" mapping in the requirejs-config.js.

### Examples

For instance for the **2.2.x line** for app/code/Magento/Authorizenet/view/frontend/requirejs-config.js
 the combination of https://github.com/magento

[2018-11-21 09:59] magento-engcom-team commented on #19291
Hi @rbayet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-21 10:02] rstylenl commented on #18511
@engcom-backlog-nazar It was indeed a Enviroment issue, the problem was related to the Core_config_data table. Thnx for pointing me in the right direction!

[2018-11-21 10:03] magento-engcom-team commented on #16507
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 10:10] magento-engcom-team commented on #19208
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-21 10:14] webkul-shruti opened #19292 "Pagination controls are missing on wishlist page"
### Preconditions (*)

1. Magento Version: 2.2.6
2. Community Edition (CE)

### Steps to reproduce (*)

1. Register or login to a customer account.
2. Navigate to any category page.
3. Add more than 10 products in wishlist (I tried with adding 40 products into wishlist)

### Expected result (*)

1.
![wishlist13](https://user-images.githubusercontent.com/39335353/48833729-0938c380-eda2-11e8-8488-c6

[2018-11-21 10:14] magento-engcom-team commented on #19292
Hi @shrutibaranwal890. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-21 10:14] engcom-backlog-nazar commented on #19208
Hi @vphalak thank you for you report, this is expected behavior, in all version of magento this url include path pub.

[2018-11-21 10:14] #19208 closed, assigned to nobody

[2018-11-21 10:15] magento-engcom-team commented on #19292
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-21 10:16] magento-engcom-team commented on #19292
Hi @webkul-ratnesh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-21 10:18] magento-engcom-team commented on #19292
@webkul-ratnesh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96546` were created

[2018-11-21 10:30] engcom-backlog-nazar commented on #16507
Hi @crtl The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-21 10:30] #16507 closed, assigned to nobody

[2018-11-21 10:31] dverkade opened #19293 "Invisible products do not update url_rewrite properly"
### Preconditions
1. Magento 2.4-develop

### Steps to reproduce
1. Have a product in the Magento backoffice with the visibility "Not visible individually". Set the URL key of the product to "product-a"
2. Open the product in de backoffice and change the URL Key to "product-b" and check the "create permanent redirect" checkbox
3. Save the product.
4. Open the product again, change the visibility o

[2018-11-21 10:31] magento-engcom-team commented on #19293
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-21 10:41] magento-engcom-team commented on #16203
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 10:44] engcom-backlog-nazar commented on #16203
Hi @bnymn The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-21 10:44] #16203 closed, assigned to nobody

[2018-11-21 10:49] dverkade commented on #19293
There are 2 possible solutions for this:
- Either, when you set a product from visible to not visible the URL rewrites for that given product which are already in the URL rewrite table will be removed.
- We update the URL rewrite for the product whether the product is visible or not.

[2018-11-21 10:49] magento-engcom-team commented on #16531
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 10:57] gwharton commented on #16203
I really don't agree with this new process to be honest. The decision to not fix any bugs on 2.2 unless they are also present in 2.3 seems a strange one!

[2018-11-21 11:21] engcom-backlog-nazar commented on #16203
@gwharton I'm tested it now on 2.2-develop, i'm not able to reproduce this on 2.2-develop.

[2018-11-21 11:22] gwharton commented on #16203
It only fails if you also have the amazon payment modules installed. These don't get deployed in git installs, only composer installs.

[2018-11-21 11:45] orlangur commented on #19293
@dverkade this is correct behavior, please adjust description accordingly. Redirects should work the way you described I believe.

[2018-11-21 12:12] magento-engcom-team commented on #19258
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96556`, `MAGETWO-96557` were created

[2018-11-21 12:21] magento-engcom-team commented on #19209
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-21 12:31] kerlama commented on #15427
Hi,

same on 2.1.15. Bunch of "Wrong order ID" errors in exception.log

[2018-11-21 12:40] magento-engcom-team commented on #19209
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96559`, `MAGETWO-96560` were created

[2018-11-21 12:46] magento-engcom-team commented on #19293
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-21 12:56] skynixukraine commented on #14592
Hello,
We discovered this issue a long time ago when Magento 2 was born.
As Magento team ignores this issue, we have coded own fix for this.
Everyone welcome to get it for free https://skynix.company/blog/solutions/duplicated-paypal-orders-in-magento-2-free-fix/

[2018-11-21 13:06] magento-engcom-team commented on #17273
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 14:20] VladimirZaets commented on #19205
Hi @sneha-panchal. Thank you for your report.
The issue has been fixed in magento/magento2#19260 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [aa379ea60c5afbd020f72d53b2ccac1ffde753d9](https://github.com/magento/magento2/commit/aa379ea60c5afbd020f72d53b2ccac1ffde753d9)
 - [1a321d2fa30f031f4beb37d562a995aef94d5dd8](https://github.com/magento/magento2/commit/1a321d2fa30f031f4beb37

[2018-11-21 14:20] #19205 closed, assigned to mahesh-rajawat

[2018-11-21 14:20] VladimirZaets commented on #18956
Hi @larsroettig. Thank you for your report.
The issue has been fixed in magento/magento2#19237 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [aa4abec4a587b6054c01c36542e97037cea8b7b1](https://github.com/magento/magento2/commit/aa4abec4a587b6054c01c36542e97037cea8b7b1)
 - [acefdb33b0b060c2080d0cc8c20008288afa33f7](https://github.com/magento/magento2/commit/acefdb33b0b060c2080d0cc8c20

[2018-11-21 14:20] VladimirZaets commented on #18685
Hi @qsolutions-pl. Thank you for your report.
The issue has been fixed in magento/magento2#18808 by @ashutoshwebkul in 2.2-develop branch
Related commit(s):
 - [09586e4bbf2b95e0e7acd33c058f7daf2c798c63](https://github.com/magento/magento2/commit/09586e4bbf2b95e0e7acd33c058f7daf2c798c63)
 - [1638891a11aeab7673d6e0280f43ff864486406a](https://github.com/magento/magento2/commit/1638891a11aeab7673d6e02

[2018-11-21 14:20] #18685 closed, assigned to nobody

[2018-11-21 14:20] VladimirZaets commented on #14020
Hi @Filipe-Bicho. Thank you for your report.
The issue has been fixed in magento/magento2#16342 by @novikor in 2.2-develop branch
Related commit(s):
 - [90b6803aab559cd0c345ab42d19bb712e4df8011](https://github.com/magento/magento2/commit/90b6803aab559cd0c345ab42d19bb712e4df8011)
 - [2717cb1729b6f1b61040f3eb1582eb1d60622893](https://github.com/magento/magento2/commit/2717cb1729b6f1b61040f3eb1582eb1

[2018-11-21 14:20] #14020 closed, assigned to novikor

[2018-11-21 14:30] giacmir commented on #19283
@engcom-backlog-nazar This should be considered a Magento Core Technical issue.

That package is hosted on repo.magento.com and it's a default Magento dependency.
This is not the first time that some weird operation performed on repo.magento.com breaks existing installations, see #16129. Probably there is some procedure (manual or automatic) that is failing.

[2018-11-21 14:32] magento-engcom-team commented on #19276
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-21 14:35] engcom-backlog-nazar commented on #17273
Hi @magento2dev The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-21 14:35] #17273 closed, assigned to nobody

[2018-11-21 14:40] Mkennethsmith opened #19303 "Estimate Shipping In Order Summary Not showing included tax"
### Preconditions (*)

1. Magento 2.1.15

### Steps to reproduce (*)
(see screen shots for reference)
1. Create a new shipping tax rule, with a 20% tax rate for the country you intend to checkout with. When creating the tax rule, creating a new product tax class named shipping and set the rule to use it.
2. Specify under Sales > Tax > Tax Class to use the new product tax class you just made.
3. Se

[2018-11-21 14:40] magento-engcom-team commented on #19303
Hi @Mkennethsmith. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-21 14:48] magento-engcom-team commented on #19303
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-21 14:50] engcom-backlog-nazar commented on #19283
@giacmir ok, i'm understand, but now i'm try to update vertex and have no error with checksum.
![selection_214](https://user-images.githubusercontent.com/40756439/48848793-89185b00-edad-11e8-99b7-26021ca7f0d6.png)

[2018-11-21 14:51] magento-engcom-team commented on #16542
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-21 14:55] gwharton commented on #16203
Looks like it may have been fixed in MAGETWO-91477

https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5#diff-dfb3ee5a7f863458afea75f5524cd2e5

[2018-11-21 14:56] Kumartychons opened #19304 "Issue in reset password"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [
![image](https://user-images.githubusercontent.com/45236293/48849104-acea9980-edcb-11e8-97f6-4577d65d0a64.png)
]
![image](https://user-images.githubusercontent.com/45236293/48849143-c0960000-edcb-11e8-882c-5182d49b8329.png)

### Actual result (*)

1. [Screenshots, logs or description]

[2018-11-21 14:56] magento-engcom-team commented on #19304
Hi @Kumartychons. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-21 15:00] magento-engcom-team commented on #19304
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-21 15:01] giacmir commented on #19283
The issue happens when you have `vertex/sdk` already in `composer.lock` from before the checksum on server changed. If you install or update it now you won't have any error.

What I'm reporting is that in some occasions packages in repo.magento.com change their content without a change in the version number (possibily some `git push --tags --force`?). This causes existing installations to fail whe

[2018-11-21 15:01] engcom-backlog-nazar commented on #19304
Hi @Kumartychons thank you for you report, this is acknowledged issue please look ->https://github.com/magento/magento2/pull/19026

[2018-11-21 15:01] #19304 closed, assigned to nobody

[2018-11-21 15:03] gwharton commented on #16165
Fixed in 2.2-develop
https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5#diff-dfb3ee5a7f863458afea75f5524cd2e5

[2018-11-21 15:03] #16165 closed, assigned to nobody

[2018-11-21 15:04] gwharton commented on #16509
Fixed in 2.2-develop
https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5#diff-dfb3ee5a7f863458afea75f5524cd2e5

[2018-11-21 15:04] #16509 closed, assigned to nobody

[2018-11-21 15:05] gwharton commented on #14236
Fixed in 2.2-develop
https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5#diff-dfb3ee5a7f863458afea75f5524cd2e5

[2018-11-21 15:06] gwharton commented on #7739
Fixed in 2.2-develop
https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5#diff-dfb3ee5a7f863458afea75f5524cd2e5

[2018-11-21 15:12] engcom-backlog-nazar commented on #19283
@giacmir thanks now clear. I'm  leave this open

[2018-11-21 15:33] magento-engcom-team commented on #19276
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96563`, `MAGETWO-96564` were created

[2018-11-21 15:33] cuiyang000 commented on #14674
I'm having this same issue in v2.2.6, is there any temporary workarounds?

[2018-11-21 15:37] magento-engcom-team commented on #19196
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-21 15:37] Nazar65 commented on #19196
I'm will work on this issue.

[2018-11-21 15:49] Detzler commented on #18154
I've backported SaveHandler.php and UpdateHandler.php from 2.3-develop branch
Now I can save also at the website scope.

[2018-11-21 16:14] sreichel commented on #9948
@scottsb do you have example module that you can share?

[2018-11-21 16:22] zebimax opened #19306 "Incorrect cron task instance"
Magento/Catalog/etc/crontab.xml
duplicate and incorrect usage of instance="Magento\Catalog\Cron\DeleteOutdatedPriceValues" in "catalog_product_frontend_actions_flush" job.
I assume it should be changed to \Magento\Catalog\Cron\FrontendActionsFlush

[2018-11-21 16:23] magento-engcom-team commented on #19306
Hi @zebimax. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-21 16:46] honza-pavlik opened #19307 "Decimal QTY handling within bundled products"
### Preconditions (*)
1. Magento 2.2.6
2. PHP 7.0.31

### Steps to reproduce (*)
1. Use decimal qty feature
2. Create bundled product containing products with decimal qty eg. 1.05 m2

### Expected result (*)
1. in case of simple product if I use decimal qty, order is placed with decimal qty. If order is changed via administrator qty remains in decimal form and it is not rounded
2. Same should be f

[2018-11-21 16:46] magento-engcom-team commented on #19307
Hi @honza-pavlik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-21 17:03] php4umagento commented on #13398
Same here with 2.2.6 and custom theme. Only happens in Firefox > 57 on Windows

[2018-11-21 17:38] scottsb commented on #9948
It's been over a year, and I haven't bumped into this since I reported it. However, as I recall, this came up while doing a Magento upgrade on a store that had `Magento_AdminNotification` disabled. Furthermore, since this can't be demonstrated by a module alone because it has to do with the status of the module in `config.php`. See steps to reproduce in the description.

[2018-11-21 18:36] torhoehn opened #19312 "Category grid not rendered correctly"
### Preconditions (*)

1. Magento ver. 2.3.0-beta32
2. PHP 7.1.22

### Steps to reproduce (*)

1. Create a category
2. Create > 5 products and assign them to this category
3. Open Category in Frontend

### Expected result (*)

1. 4 products should be rendered per row

### Actual result (*)

1. Only 3 products are rendered in row
2. There shouldn't be any space between products, because one element

[2018-11-21 18:36] magento-engcom-team commented on #19312
Hi @torhoehn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-21 18:36] torhoehn commented on #19312
@magento-engcom-team give me 2.3-develop instance

[2018-11-21 18:36] magento-engcom-team commented on #19312
Hi @torhoehn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-21 18:37] magento-engcom-team commented on #19312
Hi @torhoehn, here is your [Magento instance](https://i-19312-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19312-2-3-develop.instances.magento-community.engineering/admin](https://i-19312-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-21 18:42] torhoehn commented on #19312
@magento-engcom-team I was able to reproduce the issue on the vanilla Magento instance.

[2018-11-21 19:09] hostep commented on #7231
I'm no longer convinced of this statement I made earlier. If we have to believe the less version specified in the `oyejorge/less.php` library, it is marked as compatible with less 2.5.3 in the latest version: https://github.com/oyejorge/less.php/blob/v1.7.0.14/lib/Less/Version.php#L12

This was increased from less version 1.7.5 to 2.5.3 in version v1.7.0.12 of `oyejorge/less.php` by this commit: h

[2018-11-21 19:23] dverkade commented on #19293
I have created a screen capture to show you the issues and that the proces is not consequent. Hope this helps.

1. Create SKU "test product a" which is visible, URL key is saved in "url_rewrite" table (issue if item 4 is not an issue)
2. Create SKU "test product b" which is not visible, URL key is not saved in "url_rewrite" table
3. Switching visibility from SKU "test product b" to visible, URL ke

[2018-11-21 19:30] magento-engcom-team commented on #19275
Hi @Shubham-Webkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-11-21 19:53] hostep commented on #15864
@leoquijano: It looks like it works on `2.3-develop` branch indeed, but that's because this bug never existed on the `2.3-develop` branch.

The line I indicated in an earlier post:
`$setup = $this->setupFactory->create($this->context->getResources());` got changed to `$setup = $this->setupFactory->create();` in https://github.com/magento/magento2/commit/914389161fee5091bfe6ea3069755295c7243ecf#dif

[2018-11-21 20:19] hostep commented on #13720
@ameshca: indeed, you are correct, if some positions of those linked products in the database are non-unique you might have problems dragging the products in the grid correctly. But what can help is just randomly dragging multiple products in all kind of positions in the grid, until the grid has generated enough unique sorting positions that it starts working properly again. Which is a bit tedious

[2018-11-21 20:36] leoquijano commented on #15864
Thanks for the explanation, @hostep.

[2018-11-21 20:48] hostep commented on #9466
Hi @engcom-backlog-nazar

I'm re-opening this issue, since it hasn't been fixed in `2.3-develop` branch yet (tested on commit 1a805d05ccd)

Although the worst issue is probably fixed by https://github.com/magento/magento2/commit/50592b4fb359b1daba9de7b554c9c8afa1d8d160, I can still reproduce this issue with the steps from my earlier report: https://github.com/magento/magento2/issues/9466#issuecomm

[2018-11-21 22:08] jcourtei opened #19315 "Issue with configurable products in widgets, not added to cart"
### Preconditions (*)
Version 2.2.6 (Community Edition).

### Steps to reproduce (*)
1. Create a product attribute, for example Size with several values (S, M and L). This attribute must have property "use in product listing" set to Yes.
2. Create a product that uses this attribute with a configuration setting. Define different quantities for each values. Set this product as new for the current mo

[2018-11-21 22:08] magento-engcom-team commented on #19315
Hi @jcourtei. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-21 23:57] 3615helloworld opened #19319 "Marketplace does not sync: Invalid response line returned from server: HTTP/2 200 + Infinite Loop"
Hi All, I hope you will be able to help me

### Preconditions (*)

1. fresh install of Magento ver. 2.1.15

### Steps to reproduce (*)

1. I try to sync to the Marketplace for the first time

### Expected result (*)

1. To Log in the Marketplace

### Actual result (*)

1. https://digital-seb-p-.tinytake.com/sf/MzA5ODcxM185Mjg5NDU1
2. Invalid response line returned from server: HTTP/2 200

I have t

[2018-11-21 23:57] magento-engcom-team commented on #19319
Hi @Magentococo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-22 00:00] Magentococo commented on #19319
@magento-engcom-team
I don't know how to reproduce this in your test environment

[2018-11-22 00:01] Magentococo commented on #19319
@magento-engcom-team give me $2.1.15 instance

[2018-11-22 01:36] KSaho commented on #7441
I have been having this issue myself and none of the fixes in this thread worked because of a single issue:

mysql> select * from eav_attribute_option where attribute_id=146;
+-----------+--------------+------------+
| option_id | attribute_id | sort_order |
+-----------+--------------+------------+
|         7 |          146 |          0 |
|         8 |          146 |          0 |
|         9 |

[2018-11-22 01:44] orlangur commented on #19306
@zebimax such code change suggestion would be best to be provided directly as a pull request.

[2018-11-22 01:46] orlangur commented on #19315
@jcourtei suggest code changes can be provided directly as pull request. Thanks for bug report!

[2018-11-22 03:37] Prizm4all commented on #16419
How is this applied?

[2018-11-22 04:37] kei2278lee opened #19320 "magento 2.1.13 cannot create store view"
Information on your environment:
magento 2.1.3
php 7.0.29
Apache 2.4.6
Mysql 5.6.38

Steps to reproduce
when I create or enable store view will show
There has been an error processing your request
Notice: Array to string conversion in /var/www/html/colorize/vendor/magento/framework/App/Config.php on line 84

 Summary of the issue
error log
a:4:{i:0;s:116:"Notice: Array to string conversion in /var

[2018-11-22 04:37] magento-engcom-team commented on #19320
Hi @kei2278lee. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-22 04:50] kei2278lee commented on #19320
I try 3 time and up to 2.1.15
cannot fix this

[2018-11-22 05:29] MohanaKVS commented on #2978
Hi i followed the step you given below https://github.com/magento/magento2/issues/2978#issuecomment-171610891

But, i did not get out put in frontend
i used Setup:upgrade
           cache:clean

But the was no use still i get a swatches.css style from vendor folder.

[2018-11-22 05:39] divya-muralidharan commented on #5863
I have the same issue in Magento 2.2.5 with migrated data from Magento 1.9.2.4. Is there any fix to resolve this?

[2018-11-22 05:49] allamsettiramesh opened #19323 "Mageno 2.2.5 Product Options Save issue for Bundle Product"
I am trying to save the already existing bundle product with product custom options, then i am getting below error.

`Recoverable Error: Object of class Magento\Catalog\Model\Product\Option could not be converted to string in /var/www/html/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 3028`

[2018-11-22 05:49] magento-engcom-team commented on #19323
Hi @allamsettiramesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-11-22 06:25] jaimin-ktpl opened #19324 "Store URL values in CMS page not working for more than 3 nested levels"
### Preconditions (*)

1. Magento Version 2.2.6
2. PHP 7.1.22

### Steps to reproduce (*)

1. Create a CMS page with url key `level1/level2/level3/level4`
2. Try opening page with URL `YOUR_MAGENTO_HOST/level1/level2/level3/level4/`
3. Page is displayed properly.
4. Now create a new CMS page with url key `new-page`
5. Add a link in this page to your previous page using code `<a href="{{store url="

[2018-11-22 06:57] bheindl commented on #6382
Fix of @adampmoss is working fine on 2.2.6. Implemented this by overriding \Magento\Swatches\Helper\Media by preference.

[2018-11-22 07:16] kervin commented on #7367
This issue is in 2.2.6 again... Anyone has a solution for this?

[2018-11-22 07:34] trandinh2409 commented on #17947
Hi, @betooliveira79,
How's fix this error?

[2018-11-22 07:37] engcom-backlog-nazar commented on #19293
@orlangur  Yes now clear, this is not correct.

[2018-11-22 07:44] magento-engcom-team commented on #19293
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96573`, `MAGETWO-96574` were created

[2018-11-22 07:58] engcom-backlog-nazar commented on #9466
Hi @hostep thanks for clear description of the issue, this issue still present on 2.2 and 2.3 branches.

[2018-11-22 07:59] magento-engcom-team commented on #19320
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-22 08:00] engcom-backlog-nazar commented on #19320
Hi @kei2278lee, thank you for you report, only 2.2.0+ bug reports are considered nowadays. Try upgrading. The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-22 08:00] #19320 closed, assigned to nobody

[2018-11-22 08:01] magento-engcom-team commented on #19323
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-22 08:02] engcom-backlog-nazar commented on #19323
Hi @allamsettiramesh thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-22 08:02] #19323 closed, assigned to nobody

[2018-11-22 08:03] magento-engcom-team commented on #19306
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-22 08:05] engcom-backlog-nazar commented on #19306
Hi @zebimax  thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-22 08:05] #19306 closed, assigned to nobody

[2018-11-22 08:07] magento-engcom-team commented on #19319
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-22 08:09] engcom-backlog-nazar commented on #19319
Hi @Magentococo thank you for you report, this issue has been fixed by this commit -> https://github.com/magento/magento2/pull/19143

[2018-11-22 08:09] #19319 closed, assigned to nobody

[2018-11-22 08:12] giacmir commented on #7367
I'm reopening this since there are multiple users reporting that the issue is still present.

[2018-11-22 08:17] magento-engcom-team commented on #19315
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-22 08:20] allamsettiramesh commented on #19323
Hi,  i installed fresh installation and i am updating product from admin panel with custom options then i am getting below issue

[2018-11-22 08:25] #19303 closed, assigned to nobody

[2018-11-22 08:40] magento-engcom-team commented on #19315
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96575`, `MAGETWO-96576` were created

[2018-11-22 08:41] magento-engcom-team commented on #11639
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-22 08:58] DanielRuf opened #19327 "Unclear if tabs.test is correct"
### Summary (*)

Shouldn't it be `.collapsible()` there?
https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/dev/tests/js/jasmine/tests/lib/mage/tabs.test.js#L39

Because I wanted to check if these tests are run on CI but I did not find them there.

### Examples (*)

### Proposed solution

Use `.collapsible()` to initialize collapsible?

[2018-11-22 08:58] magento-engcom-team commented on #19327
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-22 08:59] quisse commented on #15545
Anyone having this issue, maybe try creating a PR? I know it can be hard but it's fastest way to solve this issue...

[2018-11-22 09:07] engcom-backlog-nazar commented on #11639
Hi @divivu The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-22 09:07] #11639 closed, assigned to nobody

[2018-11-22 09:12] magento-engcom-team commented on #19312
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96579` were created

[2018-11-22 09:14] magento-engcom-team commented on #19324
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96580`, `MAGETWO-96581` were created

[2018-11-22 09:15] magento-engcom-team commented on #19307
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-22 09:18] SyntaxKay opened #19328 "Success Message Icon vertically misaligned in admin panel"
### Preconditions (*)

1.Magento 2.2-develop

### Steps to reproduce (*)

1.Login to admin panel > System > Import.
2.Select necessary Option > Upload CSV.
3.Click on Check Data Button > Check success Message Icon

### Expected result (*)

 ![expacted_result](https://user-images.githubusercontent.com/33230237/48892988-4d40cc80-ee65-11e8-83bb-93226f0e7a4e.png)

### Actual result (*)

![actual_resul

[2018-11-22 09:18] magento-engcom-team commented on #19328
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-22 09:49] engcom-backlog-nazar commented on #16542
Hi @BabliDey The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-22 09:49] #16542 closed, assigned to nobody

[2018-11-22 09:53] magento-engcom-team commented on #16134
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-22 09:53] koseduhemak commented on #15545
same problem here. Magento 2.1.9.
Every 3rd/4th day my server is killed by an `INSERT INTO search_tmp...`-Query. Every website on that server stops responding. This a an absolute no go.

If I kill the `search_tmp`-Query server starts acting normal for few days till it happens again. The problem did not occur for 6 months and then suddenly started. Magento was not touched in that time period so not

[2018-11-22 10:04] magento-engcom-team commented on #19328
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96585`, `MAGETWO-96586` were created

[2018-11-22 10:15] magento-engcom-team commented on #19262
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-22 10:24] #16134 closed, assigned to nobody

[2018-11-22 10:58] engcom-backlog-nazar commented on #15864
Hi @hostep , i'm trying reproduce this bug on 2.2-develop but unsuccessful, but i found new trouble, when i have a module which have a console command, and you injected in this command, class like this ->
`use Magento\Catalog\Model\ProductRepository;` so i have a error like in your issue when i try to install magento with this module.

[2018-11-22 11:05] magento-engcom-team commented on #19307
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96588`, `MAGETWO-96589` were created

[2018-11-22 11:06] engcom-backlog-nazar commented on #16198
Hi @vincent2090311 The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-22 11:06] #16198 closed, assigned to p-bystritsky

[2018-11-22 11:13] magento-engcom-team commented on #17367
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-22 12:48] rbayet commented on #19291
Sorry, can't edit the previous comment to tick the checkboxes when appropriate.

The issue is purely related on BC for third party extensions (modules, themes), so it *cannot* be reproduced on a vanilla Magento instance alone.

I could reproduce steps to reproduce, but it will require the installation of a third party extension.

[2018-11-22 13:26] ansari-ziyaurrahman opened #19344 "Sample Link Issue in Downloadable product."
### Preconditions (*)

1. Magento version 2.2.6
2.

### Steps to reproduce (*)

1.Create a new Downloadable product.
2.Create a Link select with file type url. Create a Sample link with file type url.
3. Save product
4. Now delete sample link only and save product again.
5. After save sample link reappearing.

### Expected result (*)

1. Sample link will be removed.
2.

### Actual result (*)

1. S

[2018-11-22 13:33] magento-engcom-team commented on #18410
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-22 13:46] magento-engcom-team commented on #18410
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96593`, `MAGETWO-96594` were created

[2018-11-22 14:03] engcom-backlog-nazar commented on #19328
Hi @speedy008 this is not fixed in 2.2 and 2.3, when your PR will be merged then labels automatically added.

[2018-11-22 14:15] magento-engcom-team commented on #18949
Hi @iget-master. Thank you for your report.
The issue has been fixed in magento/magento2#18960 by @torhoehn in 2.2-develop branch
Related commit(s):
 - [bc485de186bd2422d3f7e872dfcf81a50e7cb519](https://github.com/magento/magento2/commit/bc485de186bd2422d3f7e872dfcf81a50e7cb519)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-22 14:15] #18949 closed, assigned to torhoehn

[2018-11-22 14:15] magento-engcom-team commented on #6803
Hi @R4c00n. Thank you for your report.
The issue has been fixed in magento/magento2#18951 by @progreg in 2.2-develop branch
Related commit(s):
 - [4df596bacca231a636f944b61b48684430330a21](https://github.com/magento/magento2/commit/4df596bacca231a636f944b61b48684430330a21)
 - [fedacf9b7601186eb13603f278650deba3d770b8](https://github.com/magento/magento2/commit/fedacf9b7601186eb13603f278650deba3d77

[2018-11-22 14:20] wojtekn opened #19345 "Incorrect caching subscription status in newsletter plugin"
### Preconditions

1. Magento 2.4-develop

### Steps to reproduce

I spot the issue during placing order with two different community modules installed. In short, during placing order the customer object is subscribed by custom code which utilizes newsletter module, then customer object is saved a couple times, and it results with subscribing him, unsubscribing and subscribing again.

It is a bit

[2018-11-22 14:20] magento-engcom-team commented on #19345
Hi @wojtekn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-22 14:53] magento-engcom-team commented on #18366
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-22 14:54] orlangur commented on #19345
@wojtekn,

Such problem is not observed when customer is saved using `CustomerRepository`.

[2018-11-22 16:01] engcom-backlog-andrii commented on #18366
Hi @sergei-sss . Thanks for the report. This problem has already been fixed on 2.2 develop and 2.3 develop.
![cassius](https://user-images.githubusercontent.com/41946904/48913308-aa964700-ee80-11e8-9347-dc18f0dae346.png)

[2018-11-22 16:01] #18366 closed, assigned to nobody

[2018-11-22 16:30] ankit-sf commented on #18052
Hello @valuead and @engcom-backlog-nazar  in my case issue occurs when you also have an attribute with code product_type.
http://i.prntscr.com/AwUJuhizQKatBwNwRa1S7Q.png

[2018-11-22 16:34] ankit-sf commented on #18052
@magento-engcom-team give me 2.2.6 instance

[2018-11-22 16:34] magento-engcom-team commented on #18052
Hi @ankit-sf. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-22 16:34] magento-engcom-team commented on #18052
Hi @ankit-sf, here is your [Magento instance](https://i-18052-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-18052-2-2-6.instances.magento-community.engineering/admin](https://i-18052-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-22 16:54] ankit-sf opened #19346 "Import data 2.2.6 Value for 'product_type' attribute contains incorrect value"
### Preconditions (*)

1. magento 2.2.6 (vanilla instance)

### Steps to reproduce (*)

1. create an attribute with code product_type http://i.prntscr.com/AwUJuhizQKatBwNwRa1S7Q.png with type: dropdown scope: global sortable, comparable: no
2. add it to a family and create a product.
3. go to import profiles download sample file then reimport sample file

### Expected result (*)

1. [Screenshots,

[2018-11-22 16:55] magento-engcom-team commented on #19346
Hi @ankit-sf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-22 16:55] ankit-sf commented on #18052
issue reproduced on magento 2.2.6
http://i.prntscr.com/OZuGKogQQVeCHpU2Am4jTA.png

add here with better description and format
https://github.com/magento/magento2/issues/19346

[2018-11-22 16:56] ankit-sf commented on #19346
@magento-engcom-team give me 2.2.6 instance

[2018-11-22 16:56] magento-engcom-team commented on #19346
Hi @ankit-sf. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-22 16:56] magento-engcom-team commented on #19346
Hi @ankit-sf, here is your [Magento instance](https://i-19346-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19346-2-2-6.instances.magento-community.engineering/admin](https://i-19346-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-22 17:04] VincentMarmiesse opened #19347 "Removing "Estimate shipping costs and tax" from cart removes cart totals"
Hello,

Cart totals disappear because of some errors when I remove the shipping estimation block.

### Preconditions (*)
1. Magento 2.2.6
2. PHP 7.1.23

### Steps to reproduce (*)
1. In your theme or in a custom module, create a layout file `checkout_cart_index.xml`
2. Remove the `checkout.cart.shipping` by using
[code]

### Expected result (*)
1. Estimate shipping costs and tax block is removed f

[2018-11-22 17:04] magento-engcom-team commented on #19347
Hi @VincentMarmiesse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-11-22 17:05] VincentMarmiesse commented on #19347
I can't reproduce on one of your vanilla instance because I need to edit the code, but I did on my local environment.

[2018-11-22 17:10] VincentMarmiesse commented on #19347
FYI, the totals block needs the following lines in `Checkout/view/frontend/templates/cart/shipping.phtml` to work:

[code]

[2018-11-22 18:04] ankit-sf commented on #19346
yes, issue reproduced using given steps in issue decription

[2018-11-22 18:29] hostep commented on #15864
@engcom-backlog-nazar: this is very easily reproducible on the latest 2.2-develop branch:

1. Clone magento2's repo, use the 2.2-develop branch (I'm using commit 13de5a75d03)
2. Run `composer install`
3. Run `./bin/magento setup:install --admin-firstname=Ad --admin-lastname=Min --admin-email=someone@example.com --admin-user=admin --admin-password=admin123 --base-url=https://example.com/ --base-url

[2018-11-22 19:35] magento-engcom-team commented on #19347
Hi @tiagosampaio. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-11-22 19:39] sidolov commented on #18192
Hi @hardik-krish. Thank you for your report.
The issue has been fixed in magento/magento2#18888 by @saphaljha in 2.3-develop branch
Related commit(s):
 - [1c820bef8e6c793b3fb3e8dcfa996bef60dd7c1f](https://github.com/magento/magento2/commit/1c820bef8e6c793b3fb3e8dcfa996bef60dd7c1f)
 - [8ea303b63a8e4afd7a46e53b3369afdccb4e063f](https://github.com/magento/magento2/commit/8ea303b63a8e4afd7a46e53b3369a

[2018-11-22 19:39] #18192 closed, assigned to saphaljha, jaimin-ktpl

[2018-11-22 19:39] sidolov commented on #19172
Hi @bbmxxc. Thank you for your report.
The issue has been fixed in magento/magento2#19195 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [c9b52500a52067b8ccfc3329b7456512b6520526](https://github.com/magento/magento2/commit/c9b52500a52067b8ccfc3329b7456512b6520526)
 - [3b84172faf8612ca7fc54c4c3bb131923e521c01](https://github.com/magento/magento2/commit/3b84172faf8612ca7fc54c4c3bb131923e52

[2018-11-22 19:39] sidolov commented on #17635
Hi @dbsdsun. Thank you for your report.
The issue has been fixed in magento/magento2#19180 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [e697698a5be421e215f6bab5454d706eed97fb6e](https://github.com/magento/magento2/commit/e697698a5be421e215f6bab5454d706eed97fb6e)
 - [3050d2367c284bded10815e7cd559b7bc3937546](https://github.com/magento/magento2/commit/3050d2367c284bded10815e7cd559b7bc39

[2018-11-22 19:39] sidolov commented on #18887
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#19053 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [4a945f2807c391d6a5aca92ffb7cd4a09f9aa2f0](https://github.com/magento/magento2/commit/4a945f2807c391d6a5aca92ffb7cd4a09f9aa2f0)
 - [9e9c74c7b3b1e39112a5179da02db3948dc802c9](https://github.com/magento/magento2/commit/9e9c74c7b3b1e39112a5179d

[2018-11-22 19:40] sidolov commented on #13157
Hi @Eytham. Thank you for your report.
The issue has been fixed in magento/magento2#19039 by @omiroshnichenko in 2.3-develop branch
Related commit(s):
 - [c333367742e668ea824c09675eb059fb246181a2](https://github.com/magento/magento2/commit/c333367742e668ea824c09675eb059fb246181a2)
 - [4803537b41f6ca2b059c2a64a3c2a03d7c9482e1](https://github.com/magento/magento2/commit/4803537b41f6ca2b059c2a64a3c2a

[2018-11-22 19:40] #18887 closed, assigned to abrarpathan19

[2018-11-22 19:40] #13157 closed, assigned to nobody

[2018-11-22 19:40] sidolov commented on #15828
Hi @Flowlance. Thank you for your report.
The issue has been fixed in magento/magento2#18641 by @schmengler in 2.3-develop branch
Related commit(s):
 - [12b7e08c2f262d0683e5b61d5fd2487aac19c27d](https://github.com/magento/magento2/commit/12b7e08c2f262d0683e5b61d5fd2487aac19c27d)
 - [6a68a187e972b1e241e55153b0ba2a1483255f92](https://github.com/magento/magento2/commit/6a68a187e972b1e241e55153b0ba2a1

[2018-11-22 19:40] #15828 closed, assigned to phoenix128

[2018-11-22 19:49] dverkade commented on #19293
@engcom-backlog-nazar @orlangur So this issue has been split into 2 different internal JIRA tickets. Can you give some pointers what is should be the intended behaviour of Magento, so that I can work on a PR to resolve this?

[2018-11-22 20:21] agorbulin commented on #19344
@magento-engcom-team give me 2.3-develop instance

[2018-11-22 20:21] magento-engcom-team commented on #19344
Hi @agorbulin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-22 20:21] magento-engcom-team commented on #19344
Hi @agorbulin, here is your [Magento instance](https://i-19344-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19344-2-3-develop.instances.magento-community.engineering/admin](https://i-19344-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-22 20:22] agorbulin commented on #19344
@magento-engcom-team give me 2.2-develop instance

[2018-11-22 20:22] magento-engcom-team commented on #19344
Hi @agorbulin. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-22 22:09] agorbulin commented on #19344
@magento-engcom-team give me 2.2-develop instance

[2018-11-22 22:09] magento-engcom-team commented on #19344
Hi @agorbulin. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-22 22:10] magento-engcom-team commented on #19344
Hi @agorbulin, here is your [Magento instance](https://i-19344-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19344-2-2-develop.instances.magento-community.engineering/admin](https://i-19344-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-22 22:12] MichaelThessel commented on #19283
In case someone is looking for a temporary workaround:

[code]

Update your composer.lock vertex/sdk entry with that sha and you should be good to go.

[2018-11-23 02:33] lombokindustries opened #19352 "Bank transfer's Instruction isn't showing up in email template"
### Summary (*)
For the spesific need in my site, I disabled new order email (order_new.html), and use order comment email (order_update.html) to inform the order to customer.

so, I replaced order_update.html script with order_new.html and set bank transfer method statically, because i have only 1 bank account..

for now, there are 2 banks accounts, and I created multiple banks module.. and the p

[2018-11-23 02:33] magento-engcom-team commented on #19352
Hi @lombokindustries. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-11-23 02:54] lombokindustries commented on #19352
**Summary of the issue**
Payment information not showing up in email template (order_update.html)
these code not working:
{{ var payment_html|raw }}
{{ order.getPayment().getMethodInstance().getInstruction() }}

**Information on your environment**
Magento 2.1.10

**Steps to reproduce**
I had been trying to use getInstruction() to show the bank's instruction and I also use conditional with getCode(

[2018-11-23 03:14] orlangur commented on #19293
@dverkade two issues are just for 2.2.x/2.3.x.

When product becomes invisible, URL Rewrite should remain in the database.

Should be updated in this case, I believe.

[2018-11-23 03:16] orlangur commented on #19352
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-11-23 03:16] #19352 closed, assigned to orlangur

[2018-11-23 03:16] magento-engcom-team commented on #19352
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-23 03:35] lombokindustries commented on #19352
Ok, Thank You.. [here the link](https://magento.stackexchange.com/questions/251017/bank-transfers-instruction-isnt-showing-up-in-email-template)

[2018-11-23 06:41] magento-engcom-team commented on #19312
Hi @gelanivishal. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-23 06:41] magento-engcom-team commented on #19315
Hi @gelanivishal. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-23 07:21] magento-engcom-team commented on #18577
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-23 07:29] magento-engcom-team commented on #16686
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2018-11-23 07:46] mrnCoffee commented on #7488
If you debug inside saveItemOptions() you can see that $option has item_id equal to null.
And when you save option, the item_id was missing.
The solution is add a plugin to set item_id equal to current quoteItem

[2018-11-23 08:17] fransyrcc commented on #7367
Going from Magento 2.2.3 to Magento 2.2.6.
In Magento 2.2.3 the table `catalog_product_index_price` shows correct `price`, `final_price`, `min_price`, `max_price` and `tier_price`.
In Magento 2.2.6 `min_price` and `max_price` are set to 0 and `tier_price`to null.

[2018-11-23 08:30] engcom-backlog-andrii commented on #18577
Thanks @navinbhudiya  for the report. This problem has already been fixed on 2.2 develop and 2.3 develop

[2018-11-23 08:30] #18577 closed, assigned to nobody

[2018-11-23 08:32] engcom-backlog-nazar commented on #16686
Hi @paul-blundell The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-23 08:32] #16686 closed, assigned to nobody

[2018-11-23 08:53] magento-engcom-team commented on #18305
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-23 08:56] budoland-ab commented on #14674
Facing same issue in v2.2.6. Common guys - anybody with temporary fix? It's a major issue for an ecommerce not being able to switch store view on a product page...

[2018-11-23 09:19] renttek commented on #12273
@craigcarnell 2.3.0 w/ support for PHP 7.2 will be released on 28.11. (https://community.magento.com/t5/Magento-DevBlog/New-Security-Patches-and-Releases-November-28-2018/ba-p/111657)

[2018-11-23 09:33] engcom-backlog-nazar commented on #19345
Hi @wojtekn, Hi @orlangur  thank you for your report, in first time when i run this on console command i'm have false, but another time always return true, so problem with registry, when you load customer from repository you have no choise to load from.
![selection_215](https://user-images.githubusercontent.com/40756439/48936424-93546980-ef13-11e8-936d-3a697f0094e5.png)

[2018-11-23 09:35] magento-engcom-team commented on #19345
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96607`, `MAGETWO-96608` were created

[2018-11-23 09:36] orlangur commented on #19345
@engcom-backlog-nazar correct, I noticed from `subscribeCustomerById` implementation that there is no way customer instance may be reloaded. What I was saying is that it is quite easy to circumvent in third-party code.

[2018-11-23 09:39] engcom-backlog-nazar commented on #19345
@orlangur we need some additional options like in productRepository force Reload = true.
![selection_216](https://user-images.githubusercontent.com/40756439/48936718-70768500-ef14-11e8-9736-9e8c0c46955c.png)

[2018-11-23 09:45] magento-engcom-team commented on #18305
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96609`, `MAGETWO-96610` were created

[2018-11-23 09:46] engcom-backlog-nazar commented on #19346
Hi @ankit-sf  why you think this is a bug? if you add some aditional atributes you need to add this to your csv file, so sample csv is not working any more, if you add some additional attributes. this is not a bug.

[2018-11-23 09:49] ankit-sf commented on #19346
no that's not the case. because newly added custom attributes is **not required** field.
the issue is that after adding a field, any CSV import doesn't work without that attribute and there is an error.

[2018-11-23 09:57] engcom-backlog-nazar commented on #19346
@ankit-sf This what i'm talking about, you need to use your custom attribute set, not default, you set **VALUE** is not required, but not an attribute, if you add this to you custom attribute set you dont have an error.

[2018-11-23 09:59] magento-engcom-team commented on #19324
Hi @saphaljha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-23 09:59] engcom-backlog-nazar commented on #19346
@ankit-sf in sample csv file
![selection_217](https://user-images.githubusercontent.com/40756439/48937580-3d81c080-ef17-11e8-9017-2eaafab5afc6.png)

[2018-11-23 10:00] ankit-sf commented on #19346
@engcom-backlog-nazar  i'll check and revert in some minutes

[2018-11-23 10:02] ilnytskyi opened #19360 "Missed form validation in Admin Order Address Edit route sales/order/address"
### Preconditions (*)

Magento 2.2.*
EAV validation rules are not checked during editing an address in order.
route: sales/order/address
See column **validate_rules** in table **customer_eav_attribute**
e.g. name may have '{"max_text_length":255}'
Controller: **\Magento\Sales\Controller\Adminhtml\Order\AddressSave::execute**

This rules work in other forms on fronted and in address form and during

[2018-11-23 10:02] magento-engcom-team commented on #19360
Hi @ilnytskyi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-23 10:03] magento-engcom-team commented on #19360
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-23 10:06] orlangur commented on #19345
@engcom-backlog-nazar introducing such flags is _really_ lame. It would be better if invalidation occurs somewhere inside `subscribeCustomerById`, we already have `push` method to achieve this.

[2018-11-23 10:14] engcom-backlog-nazar commented on #16161
Hi @dwaynebartels The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-23 10:14] #16161 closed, assigned to nobody

[2018-11-23 10:16] ankit-sf commented on #19346
@engcom-backlog-nazar Issue exists
Although it's clear in description above, i am rephrasing issue.
### Case 1:  no issue with code other than product_type
step 1: on vanilla m2 instance, create attribute (dropdown, not required) with **code like test_select**
step2: add it in default attribute set
3. goto Import download sample file reimport it.
Result: everything works fine

### Case 2: Issue wi

[2018-11-23 10:31] engcom-backlog-nazar commented on #19346
@ankit-sf thanks now clear, this issue occurs only with attribute code product_type with dropdown.

[2018-11-23 10:32] magento-engcom-team commented on #19346
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96611`, `MAGETWO-96612` were created

[2018-11-23 10:33] ilnytskyi commented on #19360
@magento-engcom-team give me 2.2.5 instance

[2018-11-23 10:33] magento-engcom-team commented on #19360
Hi @ilnytskyi. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-11-23 10:34] magento-engcom-team commented on #19360
Hi @ilnytskyi, here is your [Magento instance](https://i-19360-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-19360-2-2-5.instances.magento-community.engineering/admin](https://i-19360-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-23 10:36] magento-engcom-team commented on #19278
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-23 10:39] raulvian commented on #13675
I think problem is here **vendor/amzn/amazon-pay-module/Setup/UpgradeData.php**

[code]

[2018-11-23 10:42] magento-engcom-team commented on #19360
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96613`, `MAGETWO-96614` were created

[2018-11-23 10:42] magento-engcom-team commented on #19245
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-23 11:15] magento-engcom-team commented on #18715
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-23 11:16] engcom-backlog-nazar commented on #19245
Hi @lano-vargas thank you for you report this issue has already fixed in 2.3-develop branch.

[2018-11-23 11:45] TheGent commented on #9136
@magento-engcom-team What's the status here?

[2018-11-23 11:55] engcom-backlog-nazar commented on #19116
Hi @yaroslav-zenin  thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-23 11:55] #19116 closed, assigned to nobody

[2018-11-23 12:00] magento-engcom-team commented on #19233
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-23 12:01] engcom-backlog-nazar commented on #19233
Hi @andkirby , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sour

[2018-11-23 12:01] #19233 closed, assigned to nobody

[2018-11-23 12:06] magento-engcom-team commented on #18697
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-23 12:19] magento-engcom-team commented on #19360
Hi @viral-wagento. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-23 12:20] engcom-backlog-andrii commented on #18715
Hi @nikoelgatito  this can be a feature request,  It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-23 12:20] #18715 closed, assigned to nobody

[2018-11-23 13:11] oleksii-lisovyi commented on #16604
Hi guys.

Looks like the issue has been fixed in the 2.2-develop branch.
Related commit:
https://github.com/magento/magento2/commit/9c066ca1cc2f2db9e66575da25992ca9bb74f65a

[2018-11-23 13:26] #18289 closed, assigned to nobody

[2018-11-23 13:35] magento-engcom-team commented on #18548
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-23 13:40] VladimirZaets commented on #19263
Hi @dmytro-ch. Thank you for your report.
The issue has been fixed in magento/magento2#19340 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [27c265daa106c269e18f164c5dbb6ac7c1d5a965](https://github.com/magento/magento2/commit/27c265daa106c269e18f164c5dbb6ac7c1d5a965)
 - [4b70893a4e8c8b206ec48df6fe3ab7e0e03095e7](https://github.com/magento/magento2/commit/4b70893a4e8c8b206ec48df6fe3ab

[2018-11-23 13:40] #19263 closed, assigned to dmytro-ch

[2018-11-23 13:40] VladimirZaets commented on #19082
Hi @kanhaiya5590. Thank you for your report.
The issue has been fixed in magento/magento2#19337 by @agorbulin in 2.2-develop branch
Related commit(s):
 - [20922a02cd1ed9a70bae9dee530b5ef0b712b436](https://github.com/magento/magento2/commit/20922a02cd1ed9a70bae9dee530b5ef0b712b436)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-23 13:40] #19082 closed, assigned to rogyar

[2018-11-23 13:40] VladimirZaets commented on #19054
Hi @nimitaemipro. Thank you for your report.
The issue has been fixed in magento/magento2#19068 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [e3134ea23a4827e8d3ef0ed2b4027b66e565f215](https://github.com/magento/magento2/commit/e3134ea23a4827e8d3ef0ed2b4027b66e565f215)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-23 13:40] #19054 closed, assigned to Nazar65

[2018-11-23 13:42] jburel-ca opened #19363 "2.2.6 - Product removed from flat after save / Status issue"
### Preconditions (*)
1. Magento 2.2.6 version, with catalog product flat enabled
2. Add a product in a category
3. Staging must already be used: row_id and entity_id columns must have different values!

### Steps to reproduce (*)
1. Frontend: go to the category. Your product is visible!
2. Backend: go the product, and save it without changing anything

### Expected result (*)
1. Frontend: refresh

[2018-11-23 13:42] magento-engcom-team commented on #19363
Hi @jburel-clever-age. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-23 13:46] engcom-backlog-andrii commented on #18548
Hi @4ctobias. Thanks for the report. This problem has already been fixed on 2.3 develop

[2018-11-23 13:48] vipslucky commented on #11864
Hello

I am also facing same issue.
I have upgraded Magento2.1.7 to latest 2.2.6.
there was a custom theme in my site and after upgrade its started giving me error when i try to run static-content-deploy.
Please check attached files.

Thanks
![content_error](https://user-images.githubusercontent.com/45290914/48946712-9ae83280-ef54-11e8-9dac-488aac0ff5e4.png)
[content_error.txt](https://github.com/

[2018-11-23 13:54] magento-engcom-team commented on #18547
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-23 14:32] magento-engcom-team commented on #19363
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-23 14:34] Rickertje commented on #16604
@oleksii-lisovyi does this mean that this fix will also (by default) be incorporated in 2.3 (and or 2.2.7) ? I'm not a developer so I dont know exactly how this works.

[2018-11-23 15:12] CelaenoBV commented on #14357
Hi,

It seems that excluding via the view.xml file only works for directories. We copied the exclude node from the Blank theme to our custom theme, but the libraries are still in the bundled+merged js.

For example:
- "jquery.min.js"
- "moment-timezone-with-data.min.js"
- "moment.js"
- "Magento_Customer/js/zxcvbn.min.js"

Are still in the bundled javascript.

This is on Magento 2.2.5.

Anyone else

[2018-11-23 15:14] magento-engcom-team commented on #18547
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96615`, `MAGETWO-96616` were created

[2018-11-23 15:17] oleksii-lisovyi commented on #16604
@Rickertje, yes. Having any fix in the develop branch means, that it will be available in one of the next 2.2.x releases and could be ported into 2.3.

[2018-11-23 15:18] oleksii-lisovyi commented on #16604
I tested the fix I've mentioned previously - it works great. I'm closing the issue.

[2018-11-23 15:18] #16604 closed, assigned to nobody

[2018-11-23 15:18] engcom-backlog-nazar commented on #18697
Hi @arnoldhauptricht  thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-23 15:18] #18697 closed, assigned to nobody

[2018-11-23 15:28] #19363 closed, assigned to nobody

[2018-11-23 15:43] elioermini commented on #17813
Hey guys we are having such issue if you want a sample performance profile from chrome I can send.

[2018-11-23 15:58] lano-vargas commented on #19245
@engcom-backlog-nazar  Sorry Can you open and check again please now  as it about the times not being used !

[2018-11-23 16:10] romainruaud commented on #19291
Hello @magento-engcom-team

Just to be clear, this one is a "Developer experience issue", making us unable to provide proper compatibility with Magento 2.2 AND 2.3 on our Elasticsuite extension.

@rbayet already explained well what we are facing here, and I'm sure we are not alone to build JS components based on the JS components that were affected by this decision to move them.

On our specific c

[2018-11-23 16:11] magento-engcom-team commented on #19291
Hi @magento-engcom-team. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-23 16:11] romainruaud commented on #19291
And btw, @rbayet and me would be glad to submit a PR to fix this one if you ask us to.

Regards

[2018-11-23 16:16] romainruaud commented on #19291
Just to be transparent : the comment I removed was the auto response when assigned. I let you manage the lifecycle/assignment of this issue by yourself.

Regards

[2018-11-23 16:18] magento-engcom-team commented on #19291
@romainruaud Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informati

[2018-11-23 16:20] magento-engcom-team commented on #19291
@romainruaud Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96618` were created

[2018-11-23 17:47] samuelmafra commented on #15935
This BUG is on 2.2.5.

[2018-11-23 17:53] Milesy1 commented on #15935
Learn how to test PROERLY

[2018-11-23 18:39] jburel-clever-age commented on #19363
Hi,

This issue is related to a community edition, so please keep this ticket opened.....
Maybe you won't fix this, it's your business, but in fact this ticket must be opened.

Our project is not an Commerce edition in this case.

Thanks in advance..

Note: I can't edit the previous posts, so I can't "tick" the checkbox in the checklist :(

[2018-11-23 18:55] tookuul-owner opened #19367 "CSV Product import failure - URL key for specified store already exists"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Create 2 websites, lets call them Site1 and Site2
2. Create separate root categories for each site, lets call them Root1 and Root2
3. Attempt to import a product with CSV file, assigning it to subcategories with the same names, for example:
Root1/MySub/MySubSub
Root2/MySub/MySubSub

### Expected result (*)

1. The new subcateg

[2018-11-23 18:55] magento-engcom-team commented on #19367
Hi @tookuul-owner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-23 18:57] tookuul-owner commented on #19367
@magento-engcom-team give me 2.2.6 instance

[2018-11-23 18:57] magento-engcom-team commented on #19367
Hi @tookuul-owner. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-23 18:58] magento-engcom-team commented on #19367
Hi @tookuul-owner, here is your [Magento instance](https://i-19367-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19367-2-2-6.instances.magento-community.engineering/admin](https://i-19367-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-23 19:07] tookuul-owner commented on #19367
I am not able to reproduce in vanilla instance. Thank you!

[2018-11-23 19:07] #19367 closed, assigned to nobody

[2018-11-23 19:44] drew7721 commented on #7367
Yep, same issue her. This is once again a bug in 2.2.6.

[2018-11-24 01:48] jmtakahashi commented on #18305
A complete failure for all America based stores trying to use this for Black Friday.  My store also has this issue.

[2018-11-24 03:42] kazimnoorani8704 commented on #5594
You can try by creating an object of objectManager and **should not use objectManager directly**.

Use something like,

    class Example extends \Magento\Framework\View\Element\Template
    {
        private $_objectManager;
        public function __construct(
            \Magento\Framework\ObjectManagerInterface $objectmanager
        ){
            $this->_objectManager = $objectmanager;

[2018-11-24 03:42] kazimnoorani8704 commented on #3294
You can try by creating an object of objectManager and **should not use objectManager directly**.

Use something like,

    class Example extends \Magento\Framework\View\Element\Template
    {
        private $_objectManager;
        public function __construct(
            \Magento\Framework\ObjectManagerInterface $objectmanager
        ){
            $this->_objectManager = $objectmanager;

[2018-11-24 04:58] magento-engcom-team commented on #19360
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2018-11-24 05:17] magento-engcom-team commented on #18754
Hi @niravkrish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-24 05:58] magento-engcom-team commented on #12183
Hi @krnshah. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-24 06:27] #9005 closed, assigned to jignesh26

[2018-11-24 07:01] janakbhimani commented on #17447
Hi @engcom-backlog-andrii,

I need your suggestion regarding this issue, my query is without selecting the configurable product available attribute combination price will not update, I mean if you select only one attribute (size or color) the "As low as" price remain as it is, so what exactly need to fix in this issue.

[2018-11-24 07:51] milindsingh opened #19370 "I am unable to use symbols ( "&" and "+") in dropdown option label of product attribute in admin"
### Preconditions (*)

1. Magento setup with the following environment:

- Magento
-  CE 2.2.5
- PHP 7.09
- MYSQL 5.7

### Steps to reproduce (*)

1. The user is on **Admin -> Store -> Attributes -> Product,** and clicked on "**Add New Attribute**" action.
2. The user has selected "**Catalog Input Type for Store Owner**" to "**Dropdown**".
3. In "**Manage Options (Values of Your Attribute)**", the

[2018-11-24 07:51] magento-engcom-team commented on #19370
Hi @milindsingh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-24 07:53] milindsingh commented on #19370
@magento-engcom-team

[2018-11-24 08:40] orlangur commented on #3294
@kazimnoorani8704 this is still using `ObjectManager` and NOT RECOMMENDED as well. Looks how customer session in injected in core classes.

[2018-11-24 08:42] abramchukm commented on #19370
@magento-engcom-team give me 2.2-develop instance

[2018-11-24 08:42] magento-engcom-team commented on #19370
Hi @abramchukm. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-24 08:43] magento-engcom-team commented on #19370
Hi @abramchukm, here is your [Magento instance](https://i-19370-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19370-2-2-develop.instances.magento-community.engineering/admin](https://i-19370-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-24 09:00] abramchukm commented on #19370
@magento-engcom-team give me 2.3-develop instance

[2018-11-24 09:00] magento-engcom-team commented on #19370
Hi @abramchukm. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-24 09:00] magento-engcom-team commented on #19370
Hi @abramchukm, here is your [Magento instance](https://i-19370-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19370-2-3-develop.instances.magento-community.engineering/admin](https://i-19370-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-24 09:09] novikor commented on #19019
Well, this issue requires about 15 hours of development (incl. Integration and unit tests), - newsletter functionality should be totally remade.

Or, we also can remove multistore from Newsletter.

At the moment, I have not enough time to finish this issue.

[2018-11-24 09:16] magento-engcom-team commented on #18339
Hi @otsmyh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-11-24 09:46] magento-engcom-team commented on #19276
Hi @hardik-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-24 09:50] magento-engcom-team commented on #19370
Hi @progreg. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-24 09:50] progreg commented on #19370
@magento-engcom-team give me 2.3-develop instance

[2018-11-24 09:50] magento-engcom-team commented on #19370
Hi @progreg. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-24 09:51] magento-engcom-team commented on #19370
Hi @progreg, here is your [Magento instance](https://i-19370-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19370-2-3-develop.instances.magento-community.engineering/admin](https://i-19370-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-24 09:59] magento-engcom-team commented on #19346
Hi @hardik-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-24 10:00] suryakant-krish opened #19371 "Attribute Heading border misaligned."
### Preconditions (*)

1. Magento 2.2.5

### Steps to reproduce (*)

1. Login to admin panel >  Stores  > Attribute sets > choose any attribute.
2. Edit Attribute set name heading border.

### Expected result (*)

![actual-result](https://user-images.githubusercontent.com/43638601/48966771-a5aad200-effd-11e8-93d8-f881d325d712.png)

### Actual result (*)

![border-misalign](https://user-images.gith

[2018-11-24 10:00] magento-engcom-team commented on #19371
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-11-24 10:09] magento-engcom-team commented on #17447
Hi @janakbhimani. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-24 10:10] progreg commented on #19370
@magento-engcom-team give me 2.2-develop instance

[2018-11-24 10:10] magento-engcom-team commented on #19370
Hi @progreg. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-24 10:11] magento-engcom-team commented on #19370
Hi @progreg, here is your [Magento instance](https://i-19370-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19370-2-2-develop.instances.magento-community.engineering/admin](https://i-19370-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-24 10:35] krnshah commented on #19258
Hi @shachiarkatkar,

As per your given step i have tried to reproduce the issue but i cant reproduce.

-- Set filter to pending status in both the tab.
-- Select the order and change the order status of that order in first tab.
-- Select the same order in second tab after redirect to the order detail. **It will not giving any error msg**. But the order status will change as we select in first tab.

[2018-11-24 10:47] magento-engcom-team commented on #19324
Hi @vasylmalanka. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-24 10:49] vasylmalanka commented on #19324
@magento-engcom-team give me 2.2-develop instance

[2018-11-24 10:49] magento-engcom-team commented on #19324
Hi @vasylmalanka. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-24 10:49] agorbulin commented on #19344
Seems fixed in pull request already https://github.com/magento/magento2/pull/19150

[2018-11-24 10:50] magento-engcom-team commented on #19324
Hi @vasylmalanka, here is your [Magento instance](https://i-19324-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19324-2-2-develop.instances.magento-community.engineering/admin](https://i-19324-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-24 11:15] ansari-krish commented on #19344
Hi @agorbulin,
That solution is not working for me. I am also working on this issue.

[2018-11-24 11:29] magento-engcom-team commented on #19069
Hi @krnshah. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-24 11:30] magento-engcom-team commented on #13157
Hi @Eytham. Thank you for your report.
The issue has been fixed in magento/magento2#19357 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [7559e3e1e3005b37750f07f791f8efaa0a0a6264](https://github.com/magento/magento2/commit/7559e3e1e3005b37750f07f791f8efaa0a0a6264)
 - [58550b9a406536cf8b6db8af2ca62d9f8a18aec9](https://github.com/magento/magento2/commit/58550b9a406536cf8b6db8af2ca62d9f

[2018-11-24 11:30] magento-engcom-team commented on #19286
Hi @gujjwal00. Thank you for your report.
The issue has been fixed in magento/magento2#19296 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [301d73dd53db2861c2fd57b683a766229902fc3e](https://github.com/magento/magento2/commit/301d73dd53db2861c2fd57b683a766229902fc3e)
 - [7c013a136413d015dac1a9434210cd2e086544f6](https://github.com/magento/magento2/commit/7c013a136413d015dac1a9434210cd2e

[2018-11-24 11:30] #19286 closed, assigned to SyntaxKay

[2018-11-24 11:30] magento-engcom-team commented on #18615
Hi @iancassidyweb. Thank you for your report.
The issue has been fixed in magento/magento2#18621 by @iancassidyweb in 2.2-develop branch
Related commit(s):
 - [172ecf6f1d37825bfb72db4517c1653b047c01c3](https://github.com/magento/magento2/commit/172ecf6f1d37825bfb72db4517c1653b047c01c3)
 - [3590785e68331e7ab30dbc2f6c974f8f7a45b58a](https://github.com/magento/magento2/commit/3590785e68331e7ab30dbc2f

[2018-11-24 11:30] magento-engcom-team commented on #4136
Hi @devhn. Thank you for your report.
The issue has been fixed in magento/magento2#14485 by @vasilii-b in 2.2-develop branch
Related commit(s):
 - [cc1e013ff822aacccf9c8bf9c6c320f5a9f1f606](https://github.com/magento/magento2/commit/cc1e013ff822aacccf9c8bf9c6c320f5a9f1f606)
 - [ff4b005c34c541951d31691515f1e5c33c75798e](https://github.com/magento/magento2/commit/ff4b005c34c541951d31691515f1e5c33c75

[2018-11-24 11:30] #18615 closed, assigned to agorbulin

[2018-11-24 11:30] #4136 closed, assigned to nobody

[2018-11-24 11:30] magento-engcom-team commented on #18904
Hi @dmytro-ch. Thank you for your report.
The issue has been fixed in magento/magento2#18905 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [38bfe669e125dd6116fa2581009796439b0ee36a](https://github.com/magento/magento2/commit/38bfe669e125dd6116fa2581009796439b0ee36a)
 - [7d2dd6519c8be94a8d0b59f834fbd2f307d22e80](https://github.com/magento/magento2/commit/7d2dd6519c8be94a8d0b59f834fbd2f3

[2018-11-24 11:30] #18904 closed, assigned to rogyar, dmytro-ch

[2018-11-24 11:36] suryakant-krish opened #19379 "Tax Rate Checkbox alignment issue."
### Preconditions (*)

1. Magento 2.2.5

### Steps to reproduce (*)

1.  Login into admin panel > Stores > Tax Rules > Click on Add New Tax Rule > Click on Add New Tax Rate
2. Alignment Issue "Zip/Post is Range" Checkbox.

### Expected result (*)

![expected-result](https://user-images.githubusercontent.com/43638601/48967728-1a383d80-f00b-11e8-9df8-c8d00a85f37a.png)

### Actual result (*)

![actua

[2018-11-24 11:36] magento-engcom-team commented on #19379
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-11-24 11:41] jignesh26 opened #19380 "Sales admin new order with configurable product selection of options design issue"
### Preconditions (*)

1. Magento 2.2 Develop Vanilla version

### Steps to reproduce (*)

1. Create New order from admin
2. Add configurable product and try to select options you will see misalignment of qty box.

### Expected result (*)

![expected_result](https://user-images.githubusercontent.com/21121564/48967775-c843e780-f00b-11e8-9200-b3b41c8503e1.png)

### Actual result (*)

![actual_result

[2018-11-24 11:41] magento-engcom-team commented on #19380
Hi @jignesh26. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-24 11:41] magento-engcom-team commented on #19380
Hi @speedy008. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-24 11:42] jignesh26 commented on #19380
@magento-engcom-team give me 2.3 develope instance

[2018-11-24 11:42] magento-engcom-team commented on #19380
Hi @jignesh26. Thank you for your request. I'm working on Magento 2.3 develope instance for you

[2018-11-24 11:47] KravetsAndriy commented on #19230
Reproducible on `2.2.7-dev`

[2018-11-24 11:51] vasilii-b commented on #4136
@gelanivishal skip forward port for this one

[2018-11-24 11:59] speedy008 commented on #19380
Hi @jignesh26
I have reproduce this issue in magento-2.3-develop branch and i am working on resolving it.

[2018-11-24 12:12] magento-engcom-team commented on #19293
Hi @hardik-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-24 12:17] vasylmalanka commented on #19324
During page content filtering in method `_toHtml` of class `Magento\Cms\Block\Page` the framework is trying to create a valid URL parsing given store URL as a route (see method `getRouteUrl` of class `Magento\Framework\Url`).

Actually, the usage of the directive `{{store url="level1/level2/level3/level4/"}}`for getting the URL `http(s)://<hostname>/level1/level2/level3/level4/` is not wright. The

[2018-11-24 12:18] #19324 closed, assigned to vasylmalanka

[2018-11-24 12:56] ansari-ziyaurrahman opened #19386 "Links once created not deleted from The Links Section in Downloadable products"
### Preconditions (*)

1. Magento version 2.2.6
2.

### Steps to reproduce (*)

1.Create a new Downloadable product.
2.Create a Link select with file type url. Create a Sample link with file type url.
3. Save product
4. Now try to delete links only do not delete sample link and save product again.
5. After save links reappearing.

### Expected result (*)

1. https://drive.google.com/file/d/1sbvE1f

[2018-11-24 12:56] magento-engcom-team commented on #19386
Hi @ansari-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-24 12:57] jignesh26 commented on #15328
Hello @arijit-de ,
 I have checked and found that issue is reproduced into magneto 2.3.
However you can use the below way to create the invoice. It will return the invoice ID and you can load the invoice by that id as well.

Please check this code for reference.

$requestUrl =$magentoURL.'index.php/rest/all/V1/invoices/';

 $invoiceData = [
 'capture' => true,
 'notify' => true
 ];

[2018-11-24 13:00] RomanMichak opened #19388 "Multiselect attribute options wrong translation on Add Product page"
Attribute options in multiselect on the New Product page displayed with wrong translation. After a product is saved and form reloaded it showed correct translated options.

### Preconditions
Magento 2.3-develop
PHP 7.1.23
MySQL 5.7

### Steps to reproduce
1. Create additional store SE
2. Create a test attribute with configuration:
 Type: Multiple Select
 Code: test_attribute
 Options with translat

[2018-11-24 13:01] swnsma commented on #14116
Can not reproduce.
Look like issue already fixed.
Please re-open and provide steps to reproduce.

[2018-11-24 13:01] #14116 closed, assigned to ZhukValentina

[2018-11-24 13:01] magento-engcom-team commented on #19388
Hi @RomanMichak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-24 13:07] magento-engcom-team commented on #16968
Hi @otsmyh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-11-24 13:30] RomanMichak commented on #19388
@magento-engcom-team give me 2.3-develop instance

[2018-11-24 13:30] magento-engcom-team commented on #19388
Hi @RomanMichak. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-24 13:30] magento-engcom-team commented on #19388
Hi @RomanMichak, here is your [Magento instance](https://i-19388-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19388-2-3-develop.instances.magento-community.engineering/admin](https://i-19388-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-24 13:38] RomanMichak commented on #19388
Issue is confirmed on 2.3-develop instance

[2018-11-24 13:43] magento-engcom-team commented on #16490
Hi @niravkrish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-24 13:43] magento-engcom-team commented on #17878
Hi @niravkrish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-24 13:47] magento-engcom-team commented on #19388
Hi @novikor. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-24 14:12] allamsettiramesh opened #19392 "Magento 2 issue with custom options"
I am trying to create bundle product from admin panel with custom option but i am getting issue when i am updating that product.

Issue:
  `Recoverable Error: Object of class Magento\Catalog\Model\Product\Option could not be converted to string in /var/www/html/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 3028`

[2018-11-24 14:12] magento-engcom-team commented on #19392
Hi @allamsettiramesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-11-24 14:16] magento-engcom-team commented on #19347
@tiagosampaio Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-24 14:18] allamsettiramesh commented on #19392
Team,

 Summary if the issue:
   When am i updating bundle product which already has the custom options.

Information on your environment:
   Ubuntu 18 with php 7.2 & Magento 2.2.5

Steps to reproduce:
  1)  I just created Bundle product with custom options
  2) after that i am trying to update the product which is created then error reflecting without updating.

[2018-11-24 14:19] magento-engcom-team commented on #19347
@tiagosampaio Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96619`, `MAGETWO-96620` were created

[2018-11-24 14:51] magento-engcom-team commented on #19230
Hi @KravetsAndriy. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-24 15:16] magento-engcom-team commented on #19388
@novikor Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-24 15:17] magento-engcom-team commented on #19388
@novikor Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96621`, `MAGETWO-96622` were created

[2018-11-24 16:05] SyntaxKay opened #19399 "Add product customization option collapsible design issue"
### Preconditions (*)

1.Magento 2.2-develop

### Steps to reproduce (*)

1.Go to -> Catalog Product -> add product from backend
2.Go to -> customization option

### Expected result (*)

![expected1](https://user-images.githubusercontent.com/33230237/48970286-9ee98280-f030-11e8-88f8-25c989cca0dd.jpg)

### Actual result (*)

![actual-1](https://user-images.githubusercontent.com/33230237/48970297-b3

[2018-11-24 16:05] magento-engcom-team commented on #19399
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-24 22:03] orlangur commented on #19392
@allamsettiramesh,

This is not correct, see https://github.com/magento/magento2/blob/2.2-develop/composer.json#L11

[2018-11-24 23:49] orlangur commented on #18927
No 2.2 extension should be used with 2.3 until it is thoroughly tested by vendor and all arisen bugs are fixed.

This is not true, it was introduced long time ago during MMDB M1 project for compatibility with MSSQL/Oracle. Does Magento have any longer table names currently?

[2018-11-25 00:37] heldchen commented on #18927
sure, "32 characters" it probably wasn't arbitrary at one time in the past. there are _lot_ of tables in a vanilla installation. some highlights:
`catalog_product_entity_media_gallery_value_to_entity`
`catalog_product_entity_media_gallery_value_video`
`catalog_product_index_price_cfg_opt_agr_idx`

and in EE you seem to get some even longer tables:
`magento_customercustomattributes_sales_flat_order

[2018-11-25 00:58] heldchen commented on #18927
side note: the problem why this only started to show up now is related to the `db_schema.xml` introduction.

the extension provider "fixed" the root cause by changing the field length to 64 chars his `InstallData` script (ugh!). while that might have worked well enough in the past, since 2.3 the table definition is "corrected" back to 32 chars through the DB Schema Xml.

[2018-11-25 07:34] allamsettiramesh commented on #19392
Sorry.
my Php version  7.1.20

[2018-11-25 10:32] ansari-krish commented on #19386
Hi @orlangur
Thanks for review this issue.
I have to say that  #19150 and #19389 both have different issues. Look at once it show similar but they have different files. Sure patch are same in both issues but they are in different files. First issue in sample links section (#19150 ) and this issue in Links section issue. Please let me know if you have any confusion.
Thanks.

[2018-11-25 14:30] tarun-rabbitdigital commented on #11326
The error still persists.
Trying to add 3 configurable products simultaneously it gives serialization failure: 1213 deadlock found when trying to get lock

[2018-11-25 17:48] deloenzien commented on #4756
version magento 2.2.6. I just run into the same problem?
25 november 2018 wheel keeps spinning... please wait ...

I read al the above but did not try anything. Just wondering what is the solution to fix? sinds this is still a problem from may 2016 till today.

how to fix?

[2018-11-25 17:56] deloenzien commented on #4756
Just removed the sync keys from marketplace and created new keys with differente name.
Added those keys in my magento backend. While wheel was spinning I did refresh in browser(F5) and then I could add new keys. After this it works again for me.

[2018-11-25 21:39] pieterhollander opened #19401 "When adding a new product, Magento does not save content which is drag&dropped."
### Preconditions (*)

1. Magento 2.2.6
2. Ubuntu 17.10, Nginx, Varnish, Redis, MariaDB.

### Steps to reproduce (*)

1. Log in to admin, using Opera, Firefox, Chrome on Windows or macOS.
2. Open an article you want to use as a template for a new one
3. In a new window, open catalog -> product -> add product.
2. Drag and drop content (short description and description) and click save.

### Expecte

[2018-11-25 21:39] magento-engcom-team commented on #19401
Hi @phol. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-11-25 21:56] phol commented on #19401
@magento-engcom-team give me 2.2.6 instance

[2018-11-25 21:56] magento-engcom-team commented on #19401
Hi @phol. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-25 21:56] magento-engcom-team commented on #19401
Hi @phol, here is your [Magento instance](https://i-19401-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19401-2-2-6.instances.magento-community.engineering/admin](https://i-19401-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-25 22:00] phol commented on #19401
Issue is confirmed on 2.2.6 instance

[2018-11-26 05:12] ameshca commented on #13720
Yes, your are correct. I have updated the positions directly from database and now its working fine. Thanks @hostep

[2018-11-26 05:52] vetshopdeveloper commented on #15115
This issue is present in 2.2.6 @engcom-backlog-andrii @engcom-backlog-nazar @engcom-backlog-nickolas @engcom-backlog-pb

As mentioned above a failed checkout with new address is causing this issue

[code]

[2018-11-26 07:07] magento-engcom-team commented on #19401
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 07:33] ankit-sf commented on #19346
@hardik-krish maybe you didn't correctly checked issue.
i know there are product_type reserved keyword that is causing issue.
1. obviously there can solution to implement so that with product_type keyword attributes could not be created.
but if that's case then you should have created another issue on github with this information. then you should have closed this issue.
I hope you understand my co

[2018-11-26 07:34] engcom-backlog-nazar commented on #19392
Hi @allamsettiramesh  thank you for you report, i'm not able to reproduce following steps you described in clean magento 2.2.5 instance.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about thi

[2018-11-26 07:34] #19392 closed, assigned to nobody

[2018-11-26 07:38] engcom-backlog-nazar commented on #19346
@hardik-krish the @ankit-sf is right, they must be a validation for existing attributes

[2018-11-26 07:43] magento-engcom-team commented on #18770
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-26 07:43] engcom-backlog-andrii commented on #19363
Hi @jburel-clever-age. This is not available for Magento Open Source:
  3. Staging must already be used: row_id and entity_id columns must have different values!

[2018-11-26 07:48] magento-engcom-team commented on #18686
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-26 07:48] magento-engcom-team commented on #18761
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-26 07:57] woutersamaey opened #19404 "When subscribing to newsletter, if email already exists, don't throw exception, but just warn without exception"
I want to replace the line in vendor/magento/module-newsletter/Controller/Subscriber/NewAction.php
[code]
With:
[code]
Reason is: By throwing an exception, it is later caught, added as error message + logged. Since this is a user error, it should not be logged. Our log files don't need these kinds of messages.

Changing this 1 line solves that and only that.

So, before I make a PR and get into a

[2018-11-26 07:57] magento-engcom-team commented on #19404
Hi @woutersamaey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-26 07:58] magento-engcom-team commented on #19404
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-26 08:01] magento-engcom-team commented on #19404
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96626`, `MAGETWO-96627` were created

[2018-11-26 08:01] rogyar commented on #19399
@magento-engcom-team give me 2.2-develop instance

[2018-11-26 08:01] magento-engcom-team commented on #19399
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-26 08:02] magento-engcom-team commented on #19399
Hi @rogyar, here is your [Magento instance](https://i-19399-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19399-2-2-develop.instances.magento-community.engineering/admin](https://i-19399-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-26 08:14] ankit-sf commented on #19346
@engcom-backlog-nazar @hardik-krish
thank you for referencing related PR. that clears it now.

Now, I have just one minor concern,
we have migrated from magento1 to magento2 have an attribute with product_type code. we have options in attribute and lot of products having this attribute.
since the current solution is to disallow attribute_code with product_type.
what implementation we should do on

[2018-11-26 08:22] #18686 closed, assigned to nobody

[2018-11-26 08:29] engcom-backlog-nazar commented on #18770
Hi @dev-awevo thank you for you report,
[code]
You need to set right timezone for  admin store timezone,

[2018-11-26 08:29] #18770 closed, assigned to nobody

[2018-11-26 08:38] orlangur commented on #19346
@ankit-sf,

This totally does not make sense.

What kind of problem are you trying to solve by attribute named `product_type`? It is obviously quite confusing to have such attribute taking into account "product type" already has special meaning in Magento.

[2018-11-26 08:41] #19386 closed, assigned to ansari-krish

[2018-11-26 08:44] rvsingh007 commented on #16227
Please share your solution, i have same issue facing in my magento2 website.

[2018-11-26 08:45] Nazar65 commented on #19054
Hi @nimitaemipro this issue occurs only in 2.2-develop branch, in 2.3-develop
 this works fine.

[2018-11-26 08:48] orlangur commented on #19404
@woutersamaey for simple code changes, like this one, please propose a PR directly. Thanks for collaboration!

[2018-11-26 08:52] magento-engcom-team commented on #18682
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 08:56] woutersamaey commented on #19404
@orlangur will you accept this change or not?

[2018-11-26 09:01] engcom-backlog-andrii commented on #19258
Hi @krnshah. But we must got message after that. In second tab there is no message  "Can't update order" or some else after update status  as it is already updated in first tab and not showing in that filtered view.

[2018-11-26 09:03] engcom-backlog-andrii commented on #19401
Hi @phol  this can be a feature request, It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-26 09:03] #19401 closed, assigned to nobody

[2018-11-26 09:03] orlangur commented on #19404
@woutersamaey surely,

was enough to convince me :)

[2018-11-26 09:07] woutersamaey commented on #19404
Ok :-) I'll make a PR then. Just wanted to check first before going though the motions.
If there is a better way to get feedback on small questions, I'm happy to go about it another way too. What is convenient in these cases?

[2018-11-26 09:17] karlsminton commented on #6331
I'm experiencing this issue on 2.2.2 currently.

[2018-11-26 09:17] ankit-sf commented on #19346
ok then disallow product_type is the best option. thanks.

[2018-11-26 09:34] woutersamaey commented on #19404
@orlangur see https://github.com/magento/magento2/pull/19406

[2018-11-26 09:42] GovindaSharma commented on #19346
@ankit-sf i have done the same thing..i disallowed that attribute to be created in magento.to disallow that   attribute being created will be the best option.

[2018-11-26 09:52] magento-engcom-team commented on #18518
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 10:11] magento-engcom-team commented on #18761
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96629`, `MAGETWO-96630` were created

[2018-11-26 10:15] magento-engcom-team commented on #18525
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 10:39] magento-engcom-team commented on #18794
Hi @Dharmeshvaja91. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-11-26 10:44] engcom-backlog-andrii commented on #18518
Hi @chegong12. Thanks for the report. This problem has already been fixed on 2.2 develop and 2.3 develop

[2018-11-26 10:44] #18518 closed, assigned to nobody

[2018-11-26 10:49] magento-engcom-team commented on #18525
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96632`, `MAGETWO-96633` were created

[2018-11-26 11:26] gavinlimely opened #19407 "Configurable Product Indexing Issue Magento 2.2.6"
### Preconditions (*)
1. Magento 2.2.6

### Steps to reproduce (*)
1. catalog_product_price index reindexes configurable product prices incorrectly. This is triggered by a cron task.
2. This only happens when the process is triggered by the cron. When performing a full re-index, this bug does not exist.

### Expected result (*)
1. Configurable products have min_price & max_price indexed correctly.

[2018-11-26 11:40] magento-engcom-team commented on #17833
Hi @rossmc. Thank you for your report.
The issue has been fixed in magento/magento2#19023 by @vpodorozh in 2.2-develop branch
Related commit(s):
 - [caa2fe87bcf4d2f452d65119ba8c89672ed60ba6](https://github.com/magento/magento2/commit/caa2fe87bcf4d2f452d65119ba8c89672ed60ba6)
 - [24330d629eca6494445b533126dbc0796605fe4d](https://github.com/magento/magento2/commit/24330d629eca6494445b533126dbc079660

[2018-11-26 11:42] magento-engcom-team commented on #19407
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 11:55] amanmehndiratta25 commented on #15214
I'm facing the same error may i know that where to run the commands ?

[2018-11-26 12:37] engcom-backlog-nazar commented on #18757
Hi @andy17612  thank you for you report i'm not able to reproduce following steps you described.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-26 12:37] #18757 closed, assigned to nobody

[2018-11-26 12:45] orlangur commented on #19404
@woutersamaey the main is not wasting efforts I believe, when you can change code quickly (even if it doesn't really work on first attempt but shows an idea) it is better to post a PR, otherwise it can be discussed in Slack or reported as an issue.

[2018-11-26 12:52] woutersamaey commented on #19404
@orlangur Got it. How do I get access to https://magentocommeng.slack.com ? Looks like I need an account.

[2018-11-26 13:10] coder-pm commented on #6933
It happens when simple product associated with configurable one is disabled. I had to deal with this issue in 2.2.3.

[2018-11-26 13:16] engcom-backlog-andrii commented on #19407
Hi @gavinlimely. Thank you for your report. This issue is a duplicate https://github.com/magento/magento2/issues/7367

[2018-11-26 13:20] magento-engcom-team commented on #19019
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 13:23] tgoeminne opened #19409 "Gateway Timeout when adding configurable images"
### Preconditions (*)

1. 2.2.5
2. bitnami magento stack

### Steps to reproduce (*)

1. adding configurable product with 4 sizes and 8 colors
2. select upload different images for each color
3. select 4 images for each color attribute

### Expected result (*)

1. It creates the configurations without problem
2. After submit the server hangs in Timeout. I suppose it has to do with all the images

[2018-11-26 13:43] magento-engcom-team commented on #19409
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-26 14:05] fransyrcc commented on #7367
This issue and the duplicated https://github.com/magento/magento2/issues/19407 are closed but I can't see reference to the solution.
I found the issue https://github.com/magento/magento2/issues/18264 that solves  `min_price` and  `max_price` but `tier_price` still set to `null`

[2018-11-26 14:20] alefemafra commented on #18158
I created a fix to solve this problem, following the hint of @Cristiano81, follow the link of the repository, just download and put in app/code, and follow the installation standard of the module.

https://github.com/alefemafra/module-fix-date-product-error

[2018-11-26 14:30] engcom-backlog-nazar commented on #19409
Hi @tgoeminne thank you for you report, i'm no able to reproduce following steps you described, this may be related to your environment.

[2018-11-26 14:30] #19409 closed, assigned to nobody

[2018-11-26 14:30] teoteo commented on #14674
I can’t upgrade a Magento v2.2.2 site because it is a must-have feature switching languages for the product page.
I’ve tried some modules to regenerate product and category urls hoping i could fix it but without success :-(

[2018-11-26 14:32] phol commented on #19401
Why is this a feature request? It used to work in previous Magento versions, so I would therefore regard this as a bug.

[2018-11-26 14:45] gavinlimely commented on #7367
@fransyrcc just to confirm, the fix suggested in #18264 doesn't actually fix the problem for me.

[2018-11-26 14:50] AlexeyKaryka opened #19410 "[Blocker]: Implement and set up GraphQL mutation schema for wishlist items"
### Description (*)
There is a need to implement graphql backend-side schema of mutation type to add ability for PWA-applications to add products in a wishlist.

### Expected behavior (*)

### Benefits

### Additional information

[2018-11-26 14:50] magento-engcom-team commented on #19410
Hi @AlexeyKaryka. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-26 15:09] engcom-backlog-andrii commented on #18682
Hi @ashokbhati180. Thanks for the report. This problem has already been fixed on 2.3 develop

[2018-11-26 15:09] #18682 closed, assigned to nobody

[2018-11-26 15:11] magento-engcom-team commented on #19410
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-26 15:19] magento-engcom-team commented on #18314
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 15:23] engcom-backlog-andrii commented on #18314
Hi @feelcomfort  I'm not able to reproduce following steps you described, seems like problem related to you custom extensions or code, if you like to update this please reopen the issue. Maybe it depends on your custom theme

[2018-11-26 15:23] #18314 closed, assigned to nobody

[2018-11-26 15:48] dantheman9594 opened #19411 "Invalid response line returned from server: HTTP/2 200 magento 2.1.6"
### Preconditions (*)
Magento version - 2.1.6
php version -7.0.32

Using a plugin for invisible google captcha that is by amasty

### Steps to reproduce (*)
Using the contact form, filling in all the details and hitting submit.

### Expected result (*)
A message saying thank you for enquiry

### Actual result (*)
There has been an error processing your request

Invalid response line returned from

[2018-11-26 15:48] magento-engcom-team commented on #19411
Hi @dantheman9594. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-26 15:51] magento-engcom-team commented on #19411
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-26 15:55] dantheman9594 commented on #19411
Looks like it was something to do with the google captcha plugin i installed. I will close this issue.

[2018-11-26 15:55] #19411 closed, assigned to nobody

[2018-11-26 16:20] orlangur commented on #19404
@woutersamaey try https://tinyurl.com/engcom-slack

[2018-11-26 16:23] magento-engcom-team commented on #19410
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-26 16:23] orlangur commented on #19410
@AlexeyKaryka please refer to a dedicated fork: https://github.com/magento/graphql-ce

[2018-11-26 16:23] #19410 closed, assigned to orlangur

[2018-11-26 16:34] kamilmaliszewski commented on #13320
Also domain with ".fun" is missing

[2018-11-26 16:59] arnoudhgz commented on #13260
It is still present in 2.2.6

[2018-11-26 20:19] hostep commented on #16927
@leoquijano: this fix will be included in Magento 2.2.7, see: https://github.com/magento/magento2/pull/17626#issuecomment-416313986

[2018-11-26 20:47] david-fiaty-cko commented on #6224
is there any progress on this bug? I am on Magento 2.2.5 and the issue is still there. The workarounds suggested above don't fix it.

[2018-11-26 20:54] leoquijano commented on #16927
Alright. Thank you @hostep.

[2018-11-26 21:35] dawhoo commented on #2916
Try this:

`        if (isHidden) {
             setTimeout(function () {
                 $(self.selector).hide('blind', {}, 500);
            }, 30000);
            try {
                $(self.selector)[0].scrollIntoView(alignToTop);
            } catch (error) {
                // Do nothing
            }
         }`

It seems to have worked for me.

[2018-11-26 21:59] nelero commented on #19112
Hi,
any news about this issue ?
How can we fix this to use custom_attributes in welcome email ?
Thanks

[2018-11-26 22:37] nelero commented on #19112
Hi, i fixed this calling
**{{var customer.my_field}}** in the welcome mail template, where my_field is the attribute_code for the custom attribute (in the previous screenshot, it's **sample_attribute**)
And it's working

[2018-11-26 22:37] #19112 closed, assigned to orlangur

[2018-11-26 22:47] #19253 closed, assigned to mahesh-rajawat

[2018-11-26 22:48] robyerevan commented on #19253
It is reproducible on 2.2.3 tag release

It is not reproducible in current development branch

[2018-11-27 03:41] ankurverma5540 commented on #19276
Is there any progress regarding this issue?

[2018-11-27 06:43] mageprashant opened #19415 "Configuration is not Working for Show Related videos in Product"
**Preconditions**

1. Magento 2.2.6

**Steps to reproduce**

1. Go to Magento Backend (Stores -> Configuration -> Catalog -> Catalog -> Product Video)

2. Upload Product Video in Product (Catalog -> Product -> Open Any Prodcut For Edit -> Images And Videos -> Add Video) [see more](https://www.screencast.com/t/z14awXjv)

**Expected result**

- Related videos are not displayed

**Actual result**

-

[2018-11-27 06:43] magento-engcom-team commented on #19415
Hi @mageprashant. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-27 06:50] mageprashant commented on #19415
@magento-engcom-team give me 2.2.6 instance

[2018-11-27 06:50] magento-engcom-team commented on #19415
Hi @mageprashant. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-27 06:51] magento-engcom-team commented on #19415
Hi @mageprashant, here is your [Magento instance](https://i-19415-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19415-2-2-6.instances.magento-community.engineering/admin](https://i-19415-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-27 06:59] mageprashant commented on #19415
Hi @magento-engcom-team I confirm I can reproduce the issue on your vanilla instance.

**Steps to reproduce**

1. Go to Magento Backend (Stores -> Configuration -> Catalog -> Catalog -> Product Video)

2. Upload Product Video in Product (Catalog -> Product -> Open Any Prodcut For Edit -> Images And Videos -> Add Video)\

**Expected result**

- Related videos are not displayed

**Actual result**

-

[2018-11-27 07:05] magento-engcom-team commented on #19404
Hi @Dharmeshvaja91. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-11-27 07:07] Dharmeshvaja91 commented on #19404
@magento-engcom-team give me $VERSION instance

[2018-11-27 07:37] magento-engcom-team commented on #19415
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 07:41] gelanivishal commented on #19415
Hello @mageprashant, Please check https://i-19415-2-2-6.instances.magento-community.engineering/catalog/product/view/id/1/ I have also added new video, You can see related product video link on it.

Let me know once you have checked.

[2018-11-27 07:48] magento-engcom-team commented on #19215
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 07:48] mageprashant commented on #19415
Hi @gelanivishal
Please can you check proper Steps to reproduce
I want to disable related video for youtube in Magento PDP

[2018-11-27 08:07] magento-engcom-team commented on #19415
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96652`, `MAGETWO-96653` were created

[2018-11-27 08:19] vishal-magento360 commented on #18577
@engcom-backlog-andrii  can you please share commit id for the solution you applied , so i can try at my setup.
Thanks

[2018-11-27 08:19] magento-engcom-team commented on #19225
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 08:26] #19100 closed, assigned to nobody

[2018-11-27 08:38] magento-engcom-team commented on #18717
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-27 08:39] engcom-backlog-nazar commented on #18568
Hi @dvershinin we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-11-27 08:39] #18568 closed, assigned to nobody

[2018-11-27 08:54] magento-engcom-team commented on #18612
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 08:55] magento-engcom-team commented on #18579
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 09:06] magento-engcom-team commented on #19278
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96654`, `MAGETWO-96655` were created

[2018-11-27 09:30] engcom-backlog-andrii commented on #19019
Hi @novikor. Thank you for your report. This issue is a duplicate https://github.com/magento/magento2/issues/19019

[2018-11-27 09:30] #19019 closed, assigned to nobody

[2018-11-27 09:47] magento-engcom-team commented on #14592
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 09:54] addinm opened #19417 "Products added to a category are not shown at the frontend."
### Preconditions (*)

1. Magento CE <= 2.2.6
2. Magento Commerce Edition <= 2.2.6

### Steps to reproduce (*)
1. Run **magento indexer:reindex** to make all indexes up to date.
2. Switch all indexes to the "_Update Scheduled_" mode.
3. Set up Cron.
4. Create a simple product (visible at the frontend, qty > 0)
5. Create a category.
6. Go to the frontend and make sure that the category is empty.
7.

[2018-11-27 09:54] magento-engcom-team commented on #19417
Hi @addinm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-27 09:55] magento-engcom-team commented on #19417
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-27 09:59] magento-engcom-team commented on #19415
Hi @Dharmeshvaja91. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-11-27 10:03] addinm commented on #5836
Please see my bug report here: https://github.com/magento/magento2/issues/19417

[2018-11-27 10:40] Dharmeshvaja91 commented on #19415
@magento-engcom-team give me 2.2.6 instance

[2018-11-27 10:40] magento-engcom-team commented on #19415
Hi @Dharmeshvaja91. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-27 10:41] magento-engcom-team commented on #19415
Hi @Dharmeshvaja91, here is your [Magento instance](https://i-19415-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19415-2-2-6.instances.magento-community.engineering/admin](https://i-19415-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-27 10:49] kapil-infobeans commented on #15115
Hi,

There is a fix for it, Actually quote_address table have some non exist customer_address_id column records, we need to remove them. Below is query for the same.

`UPDATE quote_address SET customer_address_id=NULL where address_id IN ( select address_id from quote_address where ( customer_address_id is NOT NULL AND customer_address_id NOT IN ( select entity_id from customer_address_entity)) );

[2018-11-27 10:53] magento-engcom-team commented on #18717
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96662`, `MAGETWO-96663` were created

[2018-11-27 11:00] engcom-backlog-andrii commented on #19262
Hi @sreichel this can be a feature request, It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-27 11:00] #19262 closed, assigned to nobody

[2018-11-27 11:18] vasilii-b opened #19418 "Cannot add additional field to Newsletter system configuration at desired position"
### Summary (*)

**Environment**: Magento 2.2-develop, Magento 2.3-develop
As a Magento developer, I want to add some additional settings to the Newsletter system configuration before *Success Email Template* (as example).

### Examples (*)
Within a custom module, in the `adminhtml/system.xml` file, add a new field before *Success Email Template*, like following:

[code]

**Actual results**
With g

[2018-11-27 11:18] magento-engcom-team commented on #19418
Hi @vasilii-b. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-27 11:20] magento-engcom-team commented on #19418
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-27 11:59] engcom-backlog-nazar commented on #14750
Hi @al1357 thank you for you report, The issue was re-tested and we can confirm that it was fixed on the 2.3 release branch. We closing this issue as fixed due to upcoming 2.3 release that will be available soon.

[2018-11-27 11:59] #14750 closed, assigned to nobody

[2018-11-27 12:08] progreg commented on #19370
@magento-engcom-team give me 2.3-develop instance

[2018-11-27 12:08] magento-engcom-team commented on #19370
Hi @progreg. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-27 12:09] magento-engcom-team commented on #19370
Hi @progreg, here is your [Magento instance](https://i-19370-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19370-2-3-develop.instances.magento-community.engineering/admin](https://i-19370-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-27 12:18] magento-engcom-team commented on #19128
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 12:26] #19128 closed, assigned to nobody

[2018-11-27 12:29] andy-rush-beerhawk commented on #11314
This session issue is occurring for us also:
PHP: 7.1
No varnish
Redis: 4.0.8
Magento: ee 2.2.3

Steps to reproduce:

1. in an incognito window, log in as a customer
2. add an item to the cart
3. add an item to the wishlist
4. let the session time out
5. reload and navigate to /wishlist

The cart and wishlist both have the products added as was when logged in.

[2018-11-27 12:30] BhimS opened #19420 "How To Make Invoice if Customer Part of Outside"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2018-11-27 12:30] magento-engcom-team commented on #19420
Hi @BhimS. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-27 12:44] magento-engcom-team commented on #19417
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96667`, `MAGETWO-96668` were created

[2018-11-27 12:47] magento-engcom-team commented on #19420
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-27 12:54] dmytro-ch commented on #19420
The description doesn't contain any details. Also, it does not seem to be an issue.

[2018-11-27 12:54] magento-engcom-team commented on #19420
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-27 12:55] #19420 closed, assigned to nobody

[2018-11-27 12:55] engcom-backlog-nazar commented on #19420
Hi @BhimS The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-27 13:00] magento-engcom-team commented on #19418
@eduard13 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96671`, `MAGETWO-96672` were created

[2018-11-27 13:41] engcom-backlog-andrii commented on #19401
The content is successfully saved after dragging the content and click on the area (short description or description). This is a browser specification.

[2018-11-27 13:54] engcom-backlog-andrii commented on #18577
Hi @vishal-magento360, sorry i'm can't find related commit, maybe this was fixed by core team.

[2018-11-27 13:55] engcom-backlog-nazar commented on #18612
Hi @PriyankaJanarthanam thank you for you report, this is expected behavior, this is not a bug.

[2018-11-27 13:55] #18612 closed, assigned to nobody

[2018-11-27 13:57] dmitrijivanenko commented on #14377
@p-bystritsky are you still working on it or i can reassign to myself?

[2018-11-27 14:15] magento-engcom-team commented on #13181
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-11-27 14:32] vetshopdeveloper commented on #15115
The fact that it becomes necessary to run a DB query shows that there is something wrong with the code.

[2018-11-27 15:10] engcom-backlog-nazar commented on #18579
Hi @SKovbel thank you for you report, this issue has alredy fixed in 2.3-develop.

[2018-11-27 15:10] #18579 closed, assigned to nobody

[2018-11-27 15:19] densen45 commented on #9274
Still no progress here?

@magento-engcom-team please, add the "Component: Bundle" label so this issue may get more attention.

@snoroozi did you found any workaround / third-party extension that tackles this issue?

We have - again - profiled the Bundle edit page and found that each row for an option is being added separately (dynamic-rows-grid.js and dynamic-rows.js are responsible for this), ins

[2018-11-27 15:35] GuiltyNL commented on #13269
Any news on this one? As this error floods our logfile.

[2018-11-27 16:20] dheesbeen commented on #14674
My quickfix for now

\Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl::switch

[code]

[2018-11-27 16:25] addinm commented on #19417
@hostep Thank you for the information, I'll re-check this on 2.2.7 tomorrow.

[2018-11-27 16:39] bcerban commented on #16686
Hi, any chance you will backport this fix to 2.2.x versions?

[2018-11-27 18:45] magento-engcom-team commented on #18557
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-27 18:47] magento-engcom-team commented on #18557
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96679`, `MAGETWO-96680` were created

[2018-11-27 18:52] magento-engcom-team commented on #19379
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-27 18:54] magento-engcom-team commented on #19379
@dmytro-ch Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-27 18:56] magento-engcom-team commented on #19379
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96681`, `MAGETWO-96682` were created

[2018-11-27 18:57] magento-engcom-team commented on #19371
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-27 19:00] magento-engcom-team commented on #19371
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96683`, `MAGETWO-96684` were created

[2018-11-27 19:13] magento-engcom-team commented on #19139
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96685`, `MAGETWO-96686` were created

[2018-11-27 19:13] magento-engcom-team commented on #19139
Hi @dmytro-ch. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-27 19:19] magento-engcom-team commented on #19221
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-27 19:46] wojtekn commented on #19345
@engcom-backlog-nazar I think changing getById implementation to preserve extension attributes also makes sense. It wouldn't solve my use case, but it would fix other ones. Eg. I could write plugin for subscribeCustomerById and fill extension attribute there instead of removing this variable caching in the core file patch.

@orlangur it makes sense IMO.

[2018-11-27 19:50] magento-engcom-team commented on #18887
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#19356 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [132a754013526eaaeaad4d80270a654d594295b3](https://github.com/magento/magento2/commit/132a754013526eaaeaad4d80270a654d594295b3)
 - [91fc40c4eeafefddba2bcee6c0ae18d9fb95ea22](https://github.com/magento/magento2/commit/91fc40c4eeafefddba2bcee6c

[2018-11-27 19:50] magento-engcom-team commented on #18839
Hi @ankit-sf. Thank you for your report.
The issue has been fixed in magento/magento2#18899 by @rahulwebkul in 2.2-develop branch
Related commit(s):
 - [3a88a38399cf011c737f067be9ec5cb60f99fbd9](https://github.com/magento/magento2/commit/3a88a38399cf011c737f067be9ec5cb60f99fbd9)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-27 21:53] heldchen commented on #13258
this is still a problem in 2.2.6 - here are the repo steps:

1. create a website with 2 storeviews: f.e. EN (default) + DE
2. register a customer in the EN store view
3. login as this customer in the EN store view
4. go to `/newsletter/manage` and register for the newsletter
5. in the backend, verify that the user is subscribed to the EN storeview newsletter
6. in the frontend, switch to the DE st

[2018-11-27 22:51] magento-engcom-team commented on #19344
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96693`, `MAGETWO-96694` were created

[2018-11-27 22:52] dhayakawa opened #19424 "\Magento\Checkout\Observer\SalesQuoteSaveAfterObserver fails to update the checkout session quote id when applicable"
### Preconditions (*)

1. Magento version 2.2.6
2. Magento version 2.3-develop

### Steps to reproduce (*)

1. In your favorite editor, open class file: \Magento\Checkout\Observer\SalesQuoteSaveAfterObserver

### Expected result (*)

1. To update the checkout session quote id, line 35 should be: $this->checkoutSession->setQuoteId($quote->getId());

### Actual result (*)

1. The checkout session qu

[2018-11-27 22:52] magento-engcom-team commented on #19424
Hi @dhayakawa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-27 22:53] subbu1993 commented on #18787
@magento-engcom-team Please give me 2.1.15 instance

[2018-11-27 22:56] magento-engcom-team commented on #19424
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-27 23:00] magento-engcom-team commented on #19424
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96695`, `MAGETWO-96696` were created

[2018-11-27 23:02] subbu1993 commented on #19424
@magento-engcom-team Please give me 2.1.15 instance

[2018-11-28 04:14] vk-chts commented on #16129
Remove the composer.lock file and then run composer install again

[2018-11-28 05:51] rikwillems commented on #19221
@dmytro-ch the price can be set to website scope. This makes sense when you run a multi website setup. In that case this issue comes up.

[2018-11-28 06:48] thangasujitha commented on #10234
Hai,
I also facing the same issue for braintree plugin in magento 2.2.4.. It shows only when I upgrade and deploy. after that It didnot show.. Can anyone give the solution for this

[2018-11-28 06:48] thangasujitha commented on #10234
I also facing the same issue for braintree plugin in magento 2.2.4.. It shows only when I upgrade and deploy. after that It didnot show.. Can anyone give the solution for this

[2018-11-28 06:52] saphaljha commented on #19307
@magento-engcom-team give me 2.3-develop instance

[2018-11-28 06:53] magento-engcom-team commented on #19307
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-28 06:53] magento-engcom-team commented on #19307
Hi @saphaljha, here is your [Magento instance](https://i-19307-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19307-2-3-develop.instances.magento-community.engineering/admin](https://i-19307-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-28 07:05] magento-engcom-team commented on #18668
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-28 07:06] magento-engcom-team commented on #18509
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue