[2016-07-14 02:15] flecxie commented on #5222
FWIW: noticed that quantity_and_stock_status attribute was (no longer?) part of the Migration_Default attribute set, so couldn't see stock information on product pages on backend. After manualling adding the quantity_and_stock_status attribute to the Migration_Default attribute set I can see all products in backend as "In Stock" but on frontend they still show "Out of Stock". I also can't seem to

[2016-07-14 02:54] kllee824 commented on #4671
I already submitted the question to magento support yesterday. waiting the reply.

[2016-07-14 03:01] kllee824 commented on #4671
Hi tanghia,

Do you know the structure about knockout js structure on magento 2? I can't following to amend the code if it is a magento bugs? but i need implement my new address attribute

[2016-07-14 04:20] s00071609 commented on #622
I am not sure if this is off topic - i did not want to open a new thread. I am using magento 2.1 (upgraded from 2.0 to 2.1) recently. Just realised that the search term shows blank. Havent touched the default footer links and appear fine. But when the search term is clicked, no text - its blank.
Can check - https://jostechecig.com.au
Not sure if its a new bug, i also have a magento 2.0, search ter

[2016-07-14 04:58] Ankitase35 commented on #5393
Hello,
     I followed this link :
http://www.thienphucvx.com/magento-2-frontend-development/

& I also faced same design issues of admin panel so I had to run deploy
command as mentioned in the tutorial but that caused missing of
styles-m.less & other files.

Even without executing deploy command, my design changes are never
reflected.

On Wed, Jul 13, 2016 at 7:02 PM, Evgeniy Kolesov notificatio

[2016-07-14 05:05] #5592 closed, assigned to nobody

[2016-07-14 06:26] alwin-eglobeits commented on #5542
Finding the same issue.Anyone please help

[2016-07-14 06:35] timhofman opened #5630 "Embedded translation strategy breaks JS files"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Set Translation Strategy to embedded
3. Run static deploy for needed locales
4. At least validation.js and dropdown.js suffer from this problem
## Expected result
1. Translated strings in JS in the provided locale, instead to be translated strings like return
   `$.mage.__("Maximum length of this field must be equal or less than %1

[2016-07-14 06:41] andidhouse commented on #5490
Pls also make shure for testing that only "table rates" shipping is activated - no other calculation method.

[2016-07-14 07:07] sanchikhandelwal opened #5631 "CMS Issue - Ticket - 565353"
Hello Team,

I want solution on priority as client is waiting for my answer.

thanks , sanchi k

[2016-07-14 07:29] vjournal opened #5632 "checkout_agreement Magento 2.1 only first entry is required"
I have made 3 Entries under store->"Terms and Conditions"
after upgrade from magento 2.0.6 to 2.1 there is only the first one an required checkbox.
On Magento 2.0.6 every Enty were required checkboxes.
I think this must be a bug on Magento 2.1

[2016-07-14 07:50] vzabaznov commented on #3828
Hi @miketsl could you please provide info inside log file

[2016-07-14 07:52] PierAlex opened #5633 "Magento 2.1 fails to load email_logo.png"
Steps to reproduce
Magento 2.1 fresh installation and upgrade from 2.07 both
Also with cache enabled, disabled, flushed...
Try to upload a logo for email templates from Admin ->Content Design ->Configuration ->website ->transactional emails
Upload your logo file
Save

Expected result
New Logo for email is applied

Actual result
Previous Logo still remain

Back in the admin, in the image logo box t

[2016-07-14 07:59] Dieudon commented on #3572
Hello...

I am experiencing the same problems for a while.
Recently I updated the version of Magento to 2.1 but there the problem still exists.

I am using a development environment on windows7 with the following settings:
**\- WAMP 3.0.4**
**\- Apache 2.4.17**
**\- PHP 7.0.7**
**\- Mysql 5.7.9**

After some testing I see three (related) problems:
- After login username most of the time not visibl

[2016-07-14 07:59] vzabaznov commented on #3739
Hi, @wlaskowsky thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please create new one with proper steps, Magento versions, etc..

[2016-07-14 07:59] #3739 closed, assigned to victor-v-rad

[2016-07-14 08:00] vzabaznov commented on #5186
Hi, @shijiang  thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:00] #5186 closed, assigned to alena-marchenko

[2016-07-14 08:01] vzabaznov commented on #5273
Hi, @andidhouse thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:01] #5273 closed, assigned to veloraven

[2016-07-14 08:01] vzabaznov commented on #5295
Hi, @dgarbe thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:01] #5295 closed, assigned to wert2all

[2016-07-14 08:03] vzabaznov commented on #2772
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:03] #2772 closed, assigned to nobody

[2016-07-14 08:03] vzabaznov commented on #2774
Hi, @alexey-svistunov thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:03] #2774 closed, assigned to vzabaznov

[2016-07-14 08:03] panneerselvam-vit opened #5634 "Not able to change currency"
Not able to change currency in magento 2.   I tried to change it from USD to SGD.   But it is not reflected

[2016-07-14 08:07] sma09sjb opened #5635 "Select attribute not appearing in advanced search, multiselect attribute not appearing in layered navigation"
## Steps to reproduce
1. install attributes as follows:

[code]

[code]

[code]

[code]
## Expected result
1. On the frontend the attribute will be pulled through to the advanced search and layered navigation.
## Actual result
1. the attribute is only pulled through to the layered navigation, but only attributes with frontend_input type select are pulled through, any additional attributes with fro

[2016-07-14 08:07] vzabaznov commented on #2762
Hi, @rajawat02 thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:07] #2762 closed, assigned to slavvka

[2016-07-14 08:07] vzabaznov commented on #2733
Hi, @thomasnordkvist thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:07] #2733 closed, assigned to vzabaznov

[2016-07-14 08:07] vzabaznov commented on #2739
Hi, @dexteritycc thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:07] vzabaznov commented on #2712
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:07] #2712 closed, assigned to nobody

[2016-07-14 08:08] vzabaznov commented on #2728
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:08] #2728 closed, assigned to nobody

[2016-07-14 08:08] vzabaznov commented on #2729
Hi, @paul-sidd thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:08] #2729 closed, assigned to nobody

[2016-07-14 08:08] vzabaznov commented on #2752
Hi, @CNanninga thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:08] #2752 closed, assigned to vzabaznov

[2016-07-14 08:08] vzabaznov commented on #2726
Hi, @ReyMayson thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:08] #2726 closed, assigned to vzabaznov

[2016-07-14 08:08] vzabaznov commented on #2600
Hi, @devdesco-ceo thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:08] #2600 closed

[2016-07-14 08:09] vzabaznov commented on #2599
Hi, @zenovix thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:09] #2599 closed, assigned to MomotenkoNatalia

[2016-07-14 08:09] vzabaznov commented on #2688
Hi, @mreilly82 thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:09] #2688 closed, assigned to vzabaznov

[2016-07-14 08:10] vzabaznov commented on #2373
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:10] #2373 closed

[2016-07-14 08:10] vzabaznov commented on #2350
Hi, @mage2pro  thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:10] #2350 closed

[2016-07-14 08:10] vzabaznov commented on #2331
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:10] #2331 closed

[2016-07-14 08:10] vzabaznov commented on #2397
Hi, @cerebrumgit thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:10] #2397 closed, assigned to nobody

[2016-07-14 08:10] vzabaznov commented on #2352
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:10] #2352 closed

[2016-07-14 08:11] vzabaznov commented on #2455
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:11] #2455 closed, assigned to rgoncharuk

[2016-07-14 08:11] vzabaznov commented on #2378
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:11] #2378 closed

[2016-07-14 08:11] vzabaznov commented on #2467
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:11] #2467 closed, assigned to MomotenkoNatalia

[2016-07-14 08:11] vzabaznov commented on #2512
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:11] #2512 closed, assigned to nobody

[2016-07-14 08:11] vzabaznov commented on #2544
Hi, @harshilpatwa thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:11] #2544 closed, assigned to asemenenko

[2016-07-14 08:11] vzabaznov commented on #2566
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:11] #2566 closed, assigned to nobody

[2016-07-14 08:19] vzabaznov commented on #2191
Hi, @craigcarnell thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:19] #2191 closed

[2016-07-14 08:19] vzabaznov commented on #2330
Hi, @craft-tyler thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:19] #2330 closed

[2016-07-14 08:19] vzabaznov commented on #2260
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:19] #2260 closed

[2016-07-14 08:19] vzabaznov commented on #2202
Hi, @mage2pro thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:19] #2202 closed

[2016-07-14 08:19] vzabaznov commented on #2277
Hi, @matthewwiggins thanks for contributing, we will close this issue as not updated more than 2 week, if this issue still reproducible please feel free to create new one.

[2016-07-14 08:19] #2277 closed

[2016-07-14 08:25] miguel-fcmoto opened #5636 "attribute value fields"
when you have many store-views, the fields for attribute values are very small and you need to drag the scroll bar to reach all store views.
![attribute-value-issue](https://cloud.githubusercontent.com/assets/20454811/16832965/3873ac96-49ad-11e6-8ff6-62e4aea0d20d.jpg)

[2016-07-14 08:28] bh-ref commented on #5414
you are setting the area to 'admin'. does it work if you set it to 'adminhtml'?
`$state->setAreaCode('adminhtml');`

[2016-07-14 08:33] developer-lindner commented on #5414
@bh-ref well, seems like AreaCode should be 'adminhtml', but it doesn't fixes the Magento\Framework\Exception\LocalizedException from above (which stops setup:upgrade from working).

The main issue is saving the product's attribute change where i still struggle.

[2016-07-14 08:34] ericahoekerd commented on #5330
The WSDL should always be available only the real SOAP call should be secured. Check the link you gave, WSDL is public information.

[2016-07-14 08:38] adragus-inviqa commented on #2455
@vzabaznov - he gave you an actual github link to your own repo. How hard is it to click it? You people are starting to behave more and more like automatons.

[2016-07-14 08:49] bh-ref commented on #5414
my experiments with using the productrepository in a script to use it to change attribute values on many products (just like you are trying) was very disappointing. I use different store views (for different languages), and the get messed up when I used the productrepository.

what I am doing now is using the import mechanism to change attribute values, it does not seem to have these nasty side ef

[2016-07-14 08:51] sdzhepa commented on #5490
@andidhouse
Thank You for clarification. The bug is presented in case if we have only one shipping solution - Table Rate.
We have created an internal ticket `MAGETWO-55380` to fix the problem.

#

You are right! This action is not required in the case's steps. It seems was added by mistake. We can just wait ~1-2 sec and request will be send. Sorry for confusing.
The problem with it appears if Tabl

[2016-07-14 08:53] developer-lindner commented on #5414
@bh-ref thanks for the hints! Is there no chance to get it work?
All i want to do is replace absolute urls with the media directive ( {{media url=""}} )... not importing everything again.

[2016-07-14 08:56] tkacheva commented on #5536
@LittleCamel could you add a screen of how the link looks on storefront please?

[2016-07-14 08:58] bh-ref commented on #5414
I can feel your pain ;)

it **should** be easy to do these things, I know, but I didn't managed it to do it by code without nasty side effects. another way would be to use SQL (I know, I know).

by the way, the import does not need all fields for existing products. I think `store_view_code` (leave that empty) and `sku` are the bare minimum for existing products. you would then add all additional c

[2016-07-14 08:59] tkacheva commented on #5536
Internal issue MAGETWO-55384

[2016-07-14 09:05] developer-lindner commented on #5414
Good to know that someone else went through this hell also :)

In Magento there was a very performant way of doing this:

[code]

[2016-07-14 09:10] bh-ref commented on #5414
it's frustrating, and since magento is now overhelmed with issues, you have to wait quite a bit for an answer.

I did not work with magento 1 too much, but that was sure a nice and simple way to do it.

if you go for SQL, this may help: http://magento-quickies.alanstorm.com/post/144213777050/running-arbitrary-sql-in-magento-2-like-an

good luck with fixing your problem :)

[2016-07-14 09:14] developer-lindner commented on #5414
I'll try a bit more... seems like the product's ResourceModel got a saveAttribute function...

[2016-07-14 09:15] tkacheva commented on #5308
PR has been already merged https://github.com/magento/magento2ce/pull/145
Please update.

[2016-07-14 09:16] tkacheva commented on #4170
@liquidia we pushed the fix into mainline 8 days ago

[2016-07-14 09:19] bh-ref commented on #5414
if you come up with a working solution like that I eager to hear it. fingers crossed ;)

[2016-07-14 09:26] vzabaznov commented on #2755
Hi, @kostya7777 thank you for contributing, i will close this issue for now as no update more than 14 days, if you think that issue is still reproducible, please fell free to open another one.

[2016-07-14 09:26] #2755 closed, assigned to vzabaznov

[2016-07-14 09:27] vzabaznov commented on #2392
Hi, @mc388 thank you for contributing, i will close this issue for now as no update more than 14 days, if you think that issue is still reproducible, please fell free to open another one.

[2016-07-14 09:27] #2392 closed

[2016-07-14 09:27] vzabaznov commented on #2009
Hi, @mage2pro thank you for contributing, i will close this issue for now as no update more than 14 days, if you think that issue is still reproducible, please fell free to open another one.

[2016-07-14 09:27] #2009 closed

[2016-07-14 09:27] vzabaznov commented on #2218
Hi, @mc388 thank you for contributing, i will close this issue for now as no update more than 14 days, if you think that issue is still reproducible, please fell free to open another one.

[2016-07-14 09:27] #2218 closed

[2016-07-14 09:38] tkacheva commented on #5636
@fcmoto did you have labels on your storeviews?

[2016-07-14 09:42] tkacheva commented on #5631
@sanchikhandelwal what is the issue?

[2016-07-14 09:49] miguel-fcmoto commented on #5636
yes! I only made them invisible with Photoshop

[2016-07-14 09:53] tkacheva commented on #5393
@Bakhtawar7 we can help only if have all the details on the issue you are facing. Please provide information according to the guideline https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2016-07-14 09:59] victorgugo commented on #3293
Fix was published to main develop branch. Please, check

[2016-07-14 09:59] #3293 closed, assigned to nobody

[2016-07-14 10:14] tkacheva commented on #5401
Issue MAGETWO-45264

[2016-07-14 10:17] etessari opened #5637 "magento 2 EE upgrade to 2.1.0 composer can only install"
Hi,
I'm trying to upgrade from magento 2 EE 2.0.7 to 2.1.0
I'have already applied the patch **MDVA-532**, but I got some errors here's the details:
## **Steps to reproduce**
1. composer update
## **Actual result**

[2016-07-14 10:21] satishashilwar commented on #5350
We are facing the similar issue

[2016-07-14 11:03] asemenenko commented on #5490
Hi @andidhouse, currently we have a configuration file for every single shipping method that contains a list of fields that required to fetch rates. We do not analyse a content of the uploaded CSV file to dynamically change that list. By default it is ZIP, Country and State but you can change that for the particular method. I filed an improvement to have a functionality that allows to upload a mat

[2016-07-14 11:23] andidhouse commented on #5490
hi @asemenenko,

many thanks for the info.

"but you can change that for the particular method."

Can you tell me where i can change this so that the shipping costs are updated on a change of the country dropdown.

I also think it would be a great improvement to have the update more flexible meaning shipping costs for some countries vary. some are really based just on the country some maybe on zip

[2016-07-14 11:42] tkacheva commented on #5636
@fcmoto ok, thanks

internal ticket MAGETWO-55393

[2016-07-14 11:44] stamster commented on #5631
Ticket - 565353
So, it's Magento EE release, and internal ticketing system (help desk).

[2016-07-14 11:50] tkacheva commented on #5631
Please contact support in this case.

[2016-07-14 11:50] #5631 closed, assigned to nobody

[2016-07-14 12:17] stamster commented on #5629
The core issue might be default PHP behaviour, from official PHP manual:

What is the exact point of using such :cl: via ObjectManager?

[code]

?

[2016-07-14 12:34] Vinai commented on #5629
This is NOT valid PHP (try it):

[code]

The characters `\Unirgy\DropshipMicrosite\Helper\Data` are an undefined symbol. They would have to be enclosed in single or double quotes for example to represent a string.

On the other hand, with the `::class`  constant this IS valid PHP:

[code]

The characters `\Unirgy\DropshipMicrosite\Helper\Data::class` represent a string literal, just like `'\Unirgy

[2016-07-14 12:48] vzaporozhets commented on #5637
Hello Enrico,

Can you please try to contact support on this issue as it is related to EE version. Do not hesitate to write back to me if it doesn't work for you.

Thanks,
Volodymyr

[2016-07-14 12:50] DmytroRevischuk commented on #5222
In my case I solved problem by changing website_id to 0 in cataloginventory_stock and then I did reindex.

[2016-07-14 12:58] koenner01 commented on #5216
This is indeed not a bug, but the functionality of 'Use in Product Listing' should not be coupled with showing the swatch on the product listing.

If you turn of the 'use in listing', you will lose the attribute in the flat collection.

Imho there should be an extra yes/no to decide if the swatch should be shown on product listing. That way you can keep the functionality on the filters & product d

[2016-07-14 13:12] tkacheva commented on #5450
@danslo  thanks for reporting the issue.

MAGETWO-55396

[2016-07-14 13:16] maconeto commented on #2824
When Magento 2 first release, i tried a fresh install and it was amazingly fast.  Now after a while, Magetno 2.1 came out and i make a new fresh site, this time is is painfully slow. My local machine is quite good, best Ivy Core with 8GB Ram.  If I upload this site to my remote server, it takes like 30 seconds to load homepage. I have read many threads about this slow issue and no one seem to unde

[2016-07-14 13:26] vzaporozhets commented on #5568
Hello @abdulsofts,
Can you please check logs (system.log and/or debug.log) and reply with some additional information. Also, we need more details about your environment.
Thanks

[2016-07-14 13:38] arunkrsigmainfo opened #5638 "Magento 2.0.7 Authorize.net Direct Post not redirecting to success page Multistore. For one store working fine other store its not. Just the loader icon is loading."
## Steps to reproduce
1. Go to http://electricyogawholesale.sigmainfo.in
2. login in with "arun.kr@sigmainfo.net / arun@1234"
3. Add Any Product to cart
4. Proceed to checkout
5. Select Credit Card Authorize.net Direct Post
6. Enter the below details
   Card No : 4111111111111111
   Any Expiry Date
   Any CVV
## Expected result
1. Redirect to Success Page
## Actual result
1. Loading Icon stays the

[2016-07-14 13:40] stamster commented on #5629
@Vinai: I made a mistake by copy/pasting entire row here, with removal of `::class` part. You are correct normally. BTW, you provided very good clarification!

[2016-07-14 13:41] andimov commented on #5222
@DmytroRevischuk thank you for solution!
@antonlazarchenko @flecxie please, check this solution for your issues.

[2016-07-14 13:57] tanghia commented on #4671
I don't have a deep knowledge about knockout js on mage2. This is Alan's article, i hope it is useful.
[http://alanstorm.com/magento_2_knockoutjs_integration](url)

[2016-07-14 14:09] piotrekkaminski commented on #2824
@maconeto what PHP version? do you have opcode cache enabled? btw internal developers usually work with all caches enabled and flush the cache as needed.

[2016-07-14 14:16] maconeto commented on #2824
PHP version 5.6.
I don't enable any kind of cache. My idea is that Magento should not be that slow even without cache. It is not reasonable. A month or two ago i tried an eariler version and it was fast, installed on the same machine, same environment. If it loads 10 - 30 seconds on local, it must be something else rather than just cache. It goes from amazingly fast to terribly slow.

[2016-07-14 14:24] springimport commented on #5582
Any news?

[2016-07-14 14:28] antonlazarchenko commented on #5222
@andimov unfortunatelly it doesn't work for me. I already had website_id=0, so there was nothing to change.
![image](https://cloud.githubusercontent.com/assets/2114943/16842934/f696f900-49e7-11e6-852c-ecb088631919.png)

[2016-07-14 14:29] JacobDrummond opened #5639 "Cannot batch-print invoices from the orders grid"
## Steps to reproduce
1. Install Magento 2.1.0.
2. Place some orders, and generate some invoices
3. Verify that the invoices have been generated in Admin > Sales > Operations > Invoices:
   ![1](https://cloud.githubusercontent.com/assets/8377620/16842623/0b3bdb26-49d6-11e6-9f1c-9931222fec90.png)
4. Try to batch-print these invoices in Sales > Orders:
   ![2](https://cloud.githubusercontent.com/ass

[2016-07-14 14:31] MrLei commented on #4359
Hello  what is solution this problem but  i'm too instal clear Mag 2.1  and see this problem.
Mag 2.1 i get  today in oficial site.

[2016-07-14 14:40] LittleCamel commented on #5536
Hi @tkacheva ,

here are screenshots.
![admin-category-link](https://cloud.githubusercontent.com/assets/10742480/16843449/93a86a46-49e1-11e6-81e9-9595a211d97d.png)
![frontend-category-link-inspect](https://cloud.githubusercontent.com/assets/10742480/16843467/a17c6ce4-49e1-11e6-9c7f-11e7f3cfc866.png)

[2016-07-14 14:49] Web-Wave commented on #5131
Hello @maksek,
When did you upload the new composer file ? I mean, I have just tried now and compose say php 7.0.4 is not supported. When do you think you can apply the new composer file ?
Thank you ;)

[2016-07-14 14:51] nmallepally commented on #5598
i see series of errors like above, even when i modify the product by adding an image or call a widget as well on magento 2.0.7, iam using php 7.0.7, debian linux, Maria DB . attached some more images.
![sql state error](https://cloud.githubusercontent.com/assets/19605497/16843841/c514b4f6-49da-11e6-9294-6035c10a25f1.png)

[2016-07-14 15:10] CalebWC commented on #4159
Hello, we are a Magento partner with multiple clients moving to Magento 2, and this is impacting the installation of our plugin. What is the ETA for this fix/version, and is there a workaround in the meantime besides manual installation?

[2016-07-14 15:24] Frits1980 opened #5640 "Email validation hostname with .video TLD not working"
## Steps to reproduce
1. Install Magento 2.1.0
2. Try to add a customer with an emailaddress ending with .video as TLD
## Expected result
1. Customer succesfully added
## Actual result
1. Get errors:
   "Email" is not a valid hostname.
   'domain.video' looks like a DNS hostname but we cannot match the TLD against known list.
   'domain.video' looks like a local network name, which is not an accep

[2016-07-14 15:31] astorm commented on #3293
@victorgugo published where?  Where are the tests?

[2016-07-14 15:31] adragus-inviqa commented on #5629
In all fairness, `\Unirgy\DropshipMicrosite\Helper\Data` could be the `Data` constant on the `\Unirgy\DropshipMicrosite\Helper` class.

So `Instance::getInstance()->get(\Unirgy\DropshipMicrosite\Helper\Data);` _is_ valid syntax. But can be a runtime-error. 😸

`</nitpick>`

[2016-07-14 15:43] loomdecor commented on #5047
I couldn't agree more.  It's ridiculous.  The data exported does not match how you are supposed to import it.  So if you are trying to manage a large catalog it is virtually impossible to use your import / export functionality.  In addition, I found that some columns do not even export the right data.  For example, Categories column exported that my products were ONLY in the highest level parent c

[2016-07-14 15:49] shanevbg commented on #5500
I had this same problem,
Seems problem was fixed for me by
going under configuration/developer and
Minifying Javascript files

[2016-07-14 15:51] YevSent commented on #5638
@arunkrsigmainfo, seems, your problem related to mixed content. If you open browser console on payment step and will try to place an order, you will see a list of js errors related to mixed content. The `https://test.authorize.net/gateway/transact.dll` works with `https`, but your site uses `http`.
Try to configure `https` on your site.

[2016-07-14 15:59] arunkrsigmainfo commented on #5638
@joni-jones : Thanks a lot for your prompt reply appreciate it.

I tried enabling the https but I am getting timeout error. Its a multistore and for one store http://electricyogaretail.sigmainfo.in with out https also its working fine but for the other store its not working. As per the console under network I see the system is not redirecting to "/authorizenet/directpost_payment/redirect/x_invoice

[2016-07-14 16:01] hostep commented on #5640
Possible duplicate: https://github.com/magento/magento2/issues/4547

[2016-07-14 16:07] samtay commented on #760
+1

[2016-07-14 16:24] arunkrsigmainfo opened #5642 "Magento 2.1 Authorize.net not redirecting to failure or success page after migration from 2.0.4 to 2.1"
## Steps to reproduce

[code]
## Expected result
1. Redirect to failure page
## Actual result
1. Loader just loading
   ![magento 2 1 authorize net error](https://cloud.githubusercontent.com/assets/12645917/16847206/802996c6-4a0d-11e6-84a3-f5970afa5c8b.png)

[2016-07-14 16:36] YevSent commented on #5638
I've tried both your sites and js errors appear only on the first of them. As I see in the browser, the problems on the first site start after `transact.dll` request. I see a lot of js errors related to mixed content and nothing else, I suppose that's a main reason of problem and that's why you aren't redirected to `directpost_payment`.

Try to use xdebug to find the reason of errors causing.

[2016-07-14 16:42] Tjitse-E commented on #5101
This is still a bug in Magento 2.1.

[2016-07-14 16:48] kitsor commented on #5131
I see the fix has been done 9 days ago [MAGETWO-54737: PHP 7.0.4 Support](https://github.com/magento/magento2/commit/175485265bdb5a5420268d0132c96bdaae65fcd7)
and merged yesterday [Merge pull request #144 from magento-tango/MAGETWO-55147](https://github.com/magento/magento2/commit/eb98eace713109881dd73078a96393400119db10)
But only in develop branch. (M2.2)

Looks like we'll never see it in 2.1.
St

[2016-07-14 16:56] venglar commented on #3325
This is still a problem as recently as 2.1.0 final with client-side compilation turned on. It is not just tabs, it is also a large number of forms:

![retail-stores-layout-broken](https://cloud.githubusercontent.com/assets/8823177/16848096/0417b2fc-49a9-11e6-9593-c92d8184bace.jpg)

[2016-07-14 17:18] simxu opened #5643 "Upgrade to Magento 2.1.0 Face issue with error "Area code is already set ""
I just uploaded the code to the magento2 install directory, my old version is EE 2.0.7.
Then I do follow the instruction like below:
1、 tar -zxf Magento-EE-2.1.0-2016-06-23-02-44-02.tar.gz
2、php bin/magento  maintenance:enable
3、composer require magento/product-enterprise-edition 2.1.0 --no-update
4、composer update
5、 php bin/magento setup:upgrade

then I face below issue
 [Magento\Framework\Excep

[2016-07-14 17:19] developer-lindner commented on #5414
@bh-ref the solution is right above! ;)

The issue with the AreaCode is still there, but i don't care... this command is just a temporarily fix option.

[2016-07-14 17:26] #5414 closed, assigned to nobody

[2016-07-14 17:32] Vinai commented on #5629
@adragus-inviqa: I believe that would need to be `\Unirgy\DropshipMicrosite\Helper::Data`.

Quick test:

[code]

gives

[code]

The code `echo \Foo\Bar::Baz . PHP_EOL;` is valid though.

`</nitnitpicking>`

[2016-07-14 17:47] buskamuza commented on #4955
Internal ticket MAGETWO-55424 to consider non-executable format for configuration files.

[2016-07-14 17:54] ideirj opened #5644 "How customize the admin email templates with filesystem?"
The frontend email templates (order_new, header, footer, etc) are ok
I create app/design/frontend/vendor/newtheme/Module/email/xxxxx.html and the template show in admin panel

but what about the backend email templates (contact submitted_form, sitemap generate_warnings, etc)?
I didn't find any information about these...

[2016-07-14 18:00] j1nx3d opened #5645 "The configuration parameter "componentType" is a required for "advanced_pricing_button" component."
## Steps to reproduce
1. Install Magento 2.1 from composer
2. Add new Attribute set from Default.
3. Removed and ReOrder Attributes.
4. Deleted "Advanced Pricing" and some other groups.
## Expected result
1. When creating a new product
2. Select the new Attribute set
3. Shows the new attributes and new order
## Actual result
1. When creating a new product
2. Default Attribute set, works without tr

[2016-07-14 18:10] arunkrsigmainfo commented on #5638
@joni-jones : I tried xdebug with phpstrom. I cant find any issues I am not even going into redirect.php everything is proper and as per the admin settings I have not all set any page to use secure ULR's always is_secure is null in both the cases. Then i thought its can be bacuse any conflict with theme or modules so I disabled everything and also I have installed fresh magento 2.0.7 and tried wit

[2016-07-14 18:11] simxu opened #5646 "Upgrade to Magento 2.1.0 do not support split database"
I am using split database, I just commented areacode exception in the code(which I raised in another ticket issue 'area code is already set'.)

Then I run the php bin/magento setup:upgrade.
I got below error

  [PDOException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'storewat_upgradedev2.sales_bestsellers_aggregated_daily' doesn't exist

[2016-07-14 18:15] astorm opened #5647 "Can't Add a new UI Component Type"
## Steps to reproduce
1. Install Magento 2.1
2. Create a new module with a `definition.xml` file (see below)
3. Clear cache and reload a backend page
## Expected result
1. Configuration loads without issue
## Actual result
1. Configuration halts with Exception

## Context

As the UI Component system is currently implemented, it is (or seems to be?) impossible for third party developers to add a ne

[2016-07-14 18:38] adragus-inviqa commented on #5629
Yeah, my nitpicking was moot, as I was refering to a constant.

[2016-07-14 19:27] developer-lindner commented on #3860
Does this fix product attributes also?

If i insert an image (in product's description) through the UI in backend i see the "right" media directive syntax, after saving there is just a mess left...

[2016-07-14 19:28] Frits1980 commented on #5640
Definitely duplicate. Closing this one. Thank you for the notice.

[2016-07-14 19:28] #5640 closed, assigned to nobody

[2016-07-14 19:30] Frits1980 commented on #4547
I Think this is because of a wrongfully or not completely used part of Zend framework. Because Zend can handle all tld's fine. But for some reason Magento is not...

[2016-07-14 19:57] amingilani commented on #4547
[Here](https://github.com/magento/magento2/search?utf8=%E2%9C%93&q=%22is+not+a+valid+hostname+for+email+address%22&type=Code) are tests that check for these error messages, beyond this I'm not familiar with the codebase, or even PHP to contribute much 😞

[2016-07-14 20:01] grasdaggel commented on #3171
I get the same error (Expected to start loader but did not find one in the dom) when trying to translate something, using Inline Translation.

[2016-07-14 20:05] PierAlex opened #5648 "Magento 2.1 new product, without selecting configurable product, add child products as virtual instead than simple products"
Steps to reproduce
1. Admin->Products->Catalog
2. Press new product
3. Create the product adding configuration (e.g. for size and colors)
4. save

Expected result
1. A configurable product is created with simple products for size and colors

Actual result
1. The configurable product is added
2. All products for attributes are created as virtual products

There is no way to edit and change, also fo

[2016-07-14 20:34] PierAlex opened #5649 "Magento 2.1 wrong website id in catalog_inventory tables"
cataloginventory_stock:
![image](https://cloud.githubusercontent.com/assets/17165819/16854532/9cdcfe76-4a11-11e6-9fee-9cca3a926db9.png)

cataloginventory_stock_item
![image](https://cloud.githubusercontent.com/assets/17165819/16854564/cfba34f8-4a11-11e6-9982-88ada98c4a73.png)

cataloginventory_stock_status:
![image](https://cloud.githubusercontent.com/assets/17165819/16854603/03493350-4a12-11e6-92

[2016-07-14 20:44] PierAlex opened #5650 "Magento 2.1 newsletter feature request: ability to manage recipients."
It would be useful to have the ability to send newsletter selecting one or more customer groups and or adding and deleting single customers from the 'mailing list'.
Thanks

[2016-07-14 20:44] stamster commented on #5131
M2.2? Not supporting major LTS GNU/Linux PHP distro is a recipe for disaster, with so much basic issues M2 is just not production ready.

[2016-07-14 20:57] stamster commented on #5627
Same issue(s) here. Magento 2.0.x had same issues as well.

[2016-07-14 21:03] Frits1980 commented on #4547
The link is leading to nothing... But thanks anyway.

[2016-07-14 21:57] maderlock commented on #4974
Reproduced on a clear installation of 2.1 in incogneto running on PHP 7.0.7. I would have been surprised if that had made a difference as the error is displayed in the notifications area so it should not be relevant given that packing slips etc. can be printed this way.

[2016-07-14 21:58] #5375 closed, assigned to nobody

[2016-07-14 21:59] maderlock commented on #4974
To confirm, I can go to the invoice and print it directly. The problem is not related to the actual generation of the pdf - just the mass action.

[2016-07-14 22:08] RocketmanLabs opened #5651 "Purchase date on admin screen is always *:07:00"
1. Go to the admin screen and view the first page of Orders.
2. Note that the date/time under the heading Purchase Date is always *:07:00
3. Time stamp appears correct in REST API return values ('created_at' attribute).

[2016-07-14 22:09] bh-ref commented on #5414
thanks for posting back, I will give it a shot if I come across a similar problem next time

[2016-07-14 22:11] pboisvert commented on #5651
Can you provide more info to troubleshoot such as which version you are using? How were the orders created? Was this an upgrade from a previous version? etc...

[2016-07-14 22:16] developer-lindner opened #5652 "Empty Bestsellers Collection"
## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Have some Bestsellers Data in DB.
## Expected result
1. Bestsellers Collection is not empty
2. Dashboard: Bestellers Tab shows results
## Actual result
1. Bestsellers Collection is empty
2. Dashboard: Bestellers Tab shows no results

[2016-07-14 22:26] svines commented on #5580
After much pain and suffering, I have pinpointed it to a single line of code in v2.0.7:
File: https://github.com/magento/magento2/blob/2.0.7/app/code/Magento/ConfigurableProduct/Model/Product/Type/Configurable.php
Line: 574
Code: $configurableAttributesCollection->walk('delete');

Commenting this line fixes this issue, but I don't know what others it might cause.  Why was this line there?

[2016-07-14 22:48] RocketmanLabs commented on #5651
This is a recent upgrade to Magento 2.1.  The orders came in from people buying our stuff on the website.  Screen cap follows:
![magentoscreencap16-07-14](https://cloud.githubusercontent.com/assets/19786652/16858223/47551f6a-49da-11e6-8d42-04aa11d4d523.png)

[2016-07-14 23:35] flecxie commented on #5222
@DmytroRevischuk thanks, this fixed my problem!

[code]

[2016-07-15 00:00] flecxie opened #5653 "Magento 2.1.0 db rollback not working: Cannot execute multiple queries"
Getting the following error when trying to do a database rollback on Magento 2.1.0:

[code]

I have I have MySQL 5.6.3 & PHP 5.6.22 on a Debian jessie.
Do I need any special configuration in my.cnf to allow executing multiple instructions?

Seems related to the following code in MysqlTest.php:

[code]

[2016-07-15 00:02] pboisvert commented on #5651
thanks--that should help narrow down the possible cause.

[2016-07-15 00:16] flecxie commented on #5653
FYI: the following WAR worked for me:
`cat var/backups/1468453218_db.sql | mysql -u MagentoUser -pMagentoPasswd MagentoDBname`

[2016-07-15 00:25] Ctucker9233 commented on #622
@s00071609 I had an issue after upgrading from 2.0.7 to 2.1.0 where the search bar was missing. I'm not sure if that's what you mean. I ended up deleting the vendor folder entirely and transferred in a clean 2.1.0 vender folder to replace it. It fixed the issue.

[2016-07-15 02:05] gustavopinto opened #5654 "Why the software history was not kept?"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. However, I observed that some projects, like _magento2_, deleted their software history.

https://github.com/magento/magento2/commit/4bdbf6b6ebc4b53dbde9483df745cfca7e864a36

Kno

[2016-07-15 02:11] Bertolossi commented on #1471
For those that are importing the products via a CSV file or a excel spreadsheet and it was working before but suddenly stop to work.

You probably have a PRODUCT or a CATEGORY been uploaded that already contain the same default URL KEY. Check the products or categories that you manually added or updated. Check their URL KEY attribute.

A painful way to find the error is to separate your spreadshee

[2016-07-15 02:54] joellarsson130 commented on #1691
Right! Telephone field isn't required in checkout.
Sometimes the customer wants input the email and address.
But I can't remove the validation of telephone, anyone can solve this issue?

[2016-07-15 03:15] ln8711 commented on #4645
Hi, I have same problem with php 7.0.8 on MacOS, any fix or work arround?

[2016-07-15 03:35] thdoan commented on #4889
@mslabko I cannot update at the moment, but it seems @lussari is using 2.1 and facing the same issue.

[2016-07-15 03:46] thdoan opened #5655 "Product image takes too long to update when clicking on color swatches"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to /caesar-warm-up-pant.html
3. Click the different color swatches.
## Expected result
1. The product image should update immediately (or close to it) upon selecting a different color.
## Actual result
1. It takes an average of 4-5 seconds before the product image updates to reflect the new color, which I don't think is acceptab

[2016-07-15 03:50] thdoan opened #5656 "Current article (color) not pre-selected on product page"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to /caesar-warm-up-pant.html
## Expected result
1. The current article (gray in this case) should be pre-selected on initial page load.
## Actual result
1. None of the color swatches is selected by default.

[2016-07-15 04:18] Web-Wave commented on #5131
Hello,

So what do you think is the best, upgrade php 7.0.4 to php 7.0.6 ?
Or should I use git (not composer) to get the develop version who is compatible with php 7.0.4 ?

[2016-07-15 05:34] YevSent commented on #5638
I think, at first, you need to solve problem with js errors in browser console, because now, redirect can't be processed.

[2016-07-15 05:53] developer-lindner commented on #5414
There is another issue with directives... so even when i got the solution now i can't use it.
See #3860

[2016-07-15 06:45] thdoan opened #5657 "Page messages accumulate and are not cleared"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Do something to generate a page message (in my case, I generated several Wish List success/error messages).
3. Reload the page or go to another page.
## Expected result
1. The page messages should be cleared upon navigating to another page or reloading the current page.
## Actual result
1. The page messages reappear, and now you ca

[2016-07-15 06:48] gesell commented on #2739
Hi. I also have this issue in CE 2.1.0. Will Percentage Price be available in future for config. products?

Regards

[2016-07-15 06:57] arijit-de93 commented on #4027
Hello

I am also facing the same in Magento 2.1.
I am setting a custom price in setFinalPrice() method in catalog_product_get_final_price observer but its returning the base price in the product details page.

Any help will be appreciated.

Thanks

[2016-07-15 07:10] slackerzz commented on #5131
i expected to see a 2.1.1 hotfix release, maybe i was too optimistic :disappointed:

[2016-07-15 07:18] thdoan commented on #2495
For anyone who wants a really quick poor man's solution, then you can fake AJAX by replacing the default action (submit form post and redirect to wishlist page) with `$.post()`. This will allow customers to remain on the same page and you can immediately update the "Wish List" link to say "Wish Listed" and change the heart color to red, etc. Make sure you also chain a `.fail()` in there to notify

[2016-07-15 07:21] koenner01 commented on #4828
We are having the same problem;
tried on: Chrome, Firefox & Safari
php: 7.0.7
developer mode
cache on & off

We think it has something to do with the order in which the js are executed. Because if you refresh you page it's indeed 50/50 chance it will work.

*Edit: it's the editor_plugin.js that's not loaded sometimes

[2016-07-15 07:53] AntonEvers commented on #4237
Ah sorry, thank you

[2016-07-15 07:53] AntonEvers opened #5658 "Bug fix against unintended empty categories"
https://github.com/magento/magento2ee/pull/89

When I apply multiple rules in sequence I see that the attribute options of the first loaded rule maintain present on all the rules.
So:

I apply rule one that adds products that match dropdown attribute A's options
I apply rule two that adds products that match dropdown attribute B's options
Rule two will never match because $this->_attribute->getSou

[2016-07-15 07:57] jimuldesai opened #5659 "REST API Associative Array Not Supporting"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create custom module with API and respond associative array like below
   $response=[];
   $response["price_format''] =[
   "pattern"=> "$%s",
   "precision"=> "2",
   "requiredPrecision"=> "2",
   "decimalSymbol"=> ".",
   "groupSymbol"=> ",",
   "groupLength"=> "3",
   "integerRequired"=> "1"
   ];

Expected result

"price_format

[2016-07-15 08:03] farior opened #5660 "Dashboard Most Viewed Products Tab in admin - prices issue"
## Steps to reproduce
1. Make a few configurable products
2. Give some price to configurations
3. View this products
4. Go to admin area
## Expected result
1. Most Viewed Products tab should display correct prices for products
## Actual result
1. Prices for products in Most Viewed Products tab are obtained from configurable product
2. ![86e7ed5232](https://cloud.githubusercontent.com/assets/102703

[2016-07-15 08:14] Crossmotion commented on #5447
UPDATE: I have a product with 180 grouped products now. the problem is permanent now, it does not go away the second time you try...

[2016-07-15 08:14] vkublytskyi commented on #4803
@SamTay, thank you for reporting this issue. To fix this issue we will add declaration that `Magento\Eav\Api\Data\AttributeInterface` extends `Magento\Framework\Api\MetadataObjectInterface`.
Internal ticket `MAGETWO-55438`.

[2016-07-15 08:16] ktruehl commented on #5574
I found another occurrence in `vendor/magento/module-theme/Block/Html/Header.php` in the method `getWelcome()`. Here the translation of the welcome message is not escaped. In French it's "Message d'accueil par défaut".

[2016-07-15 08:17] farior opened #5661 "Dashboard New Customers Tab in admin - currency issue"
## Steps to reproduce
1. Make several websites each with one group and store view
2. Make products with different prices for each website
3. Make several customers and some orders in different websites
4. Go to admin area
## Expected result
1. New Customers tab should display correct currency for values ordered
## Actual result
1. New Customers tab amount values have default currency
2. ![newc](ht

[2016-07-15 08:17] Crossmotion commented on #5559
In magento 1.9 its a known bug. You have to remove the session cookie from your browser to fix this.
I think I have also had this with Magento 2 a few times already.

[2016-07-15 08:19] ludwig-gramberg commented on #1691
we ended up overwriting a few classes via di.xml to change the behaviour, it's kind of all over the place though, there are 4-5 places you have to change

[2016-07-15 08:23] s00071609 commented on #622
No not the search bar. Looks like one issue ends and another pops up with magento. Somewhere something is always going wrong.

My html Head section is also missing. After upgrade the exisiting bundle products dont have bundle option. But the frontend works fine.

[2016-07-15 08:24] joellarsson130 commented on #1691
Could you explain more detail?

[2016-07-15 08:25] joellarsson130 commented on #1691
I can disable the Zend_validate but can't make sure about the JS

[2016-07-15 08:45] vkublytskyi commented on #5170
@bentideswell, would you provide more information what exactly issues you have in your integrations? Also please provide some code or steps to reproduce that

`Magento\Framework\Phrase` implements [`JsonSerializable`](http://php.net/manual/en/class.jsonserializable.php) interface so it is represented as a string in json_encode output.

As changing return type of `__` function is a backward incompa

[2016-07-15 09:26] palamar commented on #5497
The issue has been fixed in commits 2e03028, 3459ef1, 39d7f39, 16895be, 21dd4cc and should appear in develop branch at the nearest time.

[2016-07-15 09:26] #5497 closed, assigned to nobody

[2016-07-15 09:33] cizgidekiadam commented on #5247
@tanberry @piotrekkaminski  Thanks a lot for information. That mistake is not deadly bloody important for us as developers but end users may be 😄

[2016-07-15 09:34] cizgidekiadam commented on #5235
/setup is readable and server is CentOS with apache

[2016-07-15 09:35] cizgidekiadam commented on #5234
@oserediuk as you wish. For 2.0.7 users with composer version higher then 2.1 depends, problem may be still exists.

[2016-07-15 09:38] palamar commented on #5184
Issue has been fixed in scope of #5497 and should to appear in develop branch at the nearest time.

[2016-07-15 09:38] #5184 closed, assigned to antboiko

[2016-07-15 09:42] tools-utrecht-hh commented on #4662
@palamar I am having the exact same issue as hiephm, I think it has something to do with the fact that the customer admin controller uses the customer repository to load a customer. Because if I reload the entire customer in the observer via the customer model it contains the OrigData.

We are running on Magento 2.1.0 and are using the same event customer_save_after as hiephm.

[2016-07-15 09:54] bentideswell commented on #5170
@vkublytskyi, thank you for your reply.

The main issue I have is related to my Magento WordPress Integration extension. Magento and WordPress both use the __ function as a translation function. I get around this issue by wrapping the WordPress __ function with a call to function_exists and only allow the declaration of the function if it hasn't already been defined (by Magento). This worked perfe

[2016-07-15 09:59] anton-huz commented on #5460
Dear @kalpeshchavada could describe the way how you  _install_ and _upgrade_ Magento?
It's important to understand the root of issue.

[2016-07-15 10:02] kalpeshchavada commented on #5460
I have upgraded it by composer.

Any way I fixed issue.

Thanks
On 15 Jul 2016 15:30, "Anton Guz" notifications@github.com wrote:

[2016-07-15 10:06] anton-huz commented on #4977
Hi @theycallmepepper
We will do investigation under MAGETWO-55440 internal ticket.

Thanks for pointing to issue.

[2016-07-15 10:10] anton-huz commented on #4609
Hi @samleeiii
Was suggestion from @uharbachou helpful for you?

[2016-07-15 10:15] anton-huz commented on #4522
Hi @kandrejevs ,
We are going to investigate under MAGETWO-55442 internal ticket.

[2016-07-15 10:18] acidreian666 opened #5662 "Magento 2.1 fresh Install Missing "MSRP" from Advanced Pricing"
## Steps to reproduce
1. Install Magento 2.1.zip from magento.com
2. Add Click Add Simple Product.
3. Click Advanced Pricing.
## Expected result
1. Display a Textbox for MSRP.
2. Special Price
3. Special Price From
4. Cost
5. Tier Price
##
## Actual result
1. Special Price
2. Special Price From
3. Cost
4. Tier Price

Missing MSRP input Textbox.
changing location of MSRP under Default Attribute set

[2016-07-15 10:23] anton-huz commented on #4180
Hi @hannaaaaah
Could you confirm that issue still exist?
What the version of Magento do you faced with?

[2016-07-15 10:30] anton-huz commented on #3893
Hi @chris-brabender ,
You can find that issue was fixed for Magento 2.1 under #4365.

Please retest you own. I'm going to close issue Fill free to comment here some issues still exist.

[2016-07-15 10:30] #3893 closed, assigned to guz-anton

[2016-07-15 10:36] anton-huz commented on #3313
Hi @arvenom
We will do some investigation under MAGETWO-55445 internal ticket.

[2016-07-15 10:40] antonkril commented on #3724
Another option you have is to set your template to the `overriden_templates` argument of
`<block class="Magento\Sales\Block\Order\Items" name="order_items" template="order/items.phtml">`

[2016-07-15 10:41] anton-huz commented on #3300
Hi @shuaiZend
We are appreciate your contribution. It's a good catch. Thank you.

Is issue still actual for you? May we close it?

[2016-07-15 10:46] antonkril commented on #3736
Yes, this is a blocker for ActionInterface. And we already have a fix for this. It did not get to 2.1, but is scheduled for 2.2.

Instead of redeclaring observers as plugins, we added a plugin that dispatches events. We found couple temporal dependencies, so we wanted to keep the point in time when events are triggered.

I will close the issue. Please reopen it if you have more questions.

[2016-07-15 10:46] #3736 closed, assigned to antonkril

[2016-07-15 10:47] vkublytskyi commented on #5170
@bentideswell, thank you for explanation. We will investigate this use case to find solution or a work around.

[2016-07-15 10:48] antonkril commented on #3768
Yes, it's a limitation of parser. It can be scheduled as improvement.

[2016-07-15 10:50] antonkril commented on #3844
Makes sense.

[2016-07-15 10:53] anton-huz commented on #3040
Hi @keithbentrup
We are going to make investigation under internal ticket MAGETWO-52632. If you have any comment or suggestion you are welcome.

@southerncomputer, no, looks like #4506 is not  a _duplicate_.

[2016-07-15 10:57] antonkril commented on #4144
In the mid term these methods will be moved from product interface.

[2016-07-15 11:16] anton-huz commented on #2843
Hi folks,
I see huge pool of message that you faced with _"rjsResolver.js is returning a 404 error"_. But you should understand that this an _environment issue_ not _Magento itself_.

So if you, guys, still faced with or you want to help us identify the problem we need:
- How you installed Magento
- What version of Magento
- If you do _upgrade_ than both version of old one and newer
- Environment

[2016-07-15 11:17] kandy commented on #3666
Thanks for the contribution, We have created ticket MAGETWO-55451 for fix issue.

[2016-07-15 11:30] anton-huz commented on #2127
Hi @kathir26 ,
We will investigate issue more deeply under internal ticket MAGETWO-55453.

[2016-07-15 11:31] avra911 commented on #5236
Thanks to: https://github.com/magento/magento2/issues/5645 I had to change the attribute group name to `Advanced Pricing` from ~~Migration_Pricing~~. I also had to change the `attribute_group_code` and `tab_group_code` in `eav_attribute_group` table to make the edit product work again (see: https://nimbus.everhelper.me/client/notes/share/523802/gflibimm42igvlrh49yd).
R

[2016-07-15 11:38] Vinai commented on #3736
Oh, very nice solution! Thanks for the update 👍

[2016-07-15 11:39] eug123 commented on #3325
Switching between compilation modes doesn't clean `pub/static` folder contents automatically, so less.js tries to compile styles.css which is actually already compiled CSS.
LESS compiler calculates not escaped `calc` expressions, causing wrong display results.

So cleaning `pub/static` folder is needed (button "Flush Static Files Cache" in the bottom of the Cache Management page) in order to send

[2016-07-15 11:41] seetpalsingh commented on #3300
Thanks for asking, its a long time I was in this.

But, I think I solved that symlink issue with grunt

with running cmd/terminal/git-bash with administrator-mode/sudo.

from my side, its ok . we can close this issue.

:)

[2016-07-15 11:42] antonkril commented on #4228
Status update:
- Structure of UI components was added to definition of public stable api of a module. (not only @api annotated code is considered public api of module)
- We're still discussing your proposal & investigating options of making upgrades less painful while keeping promised public @api limited:
  - Current approach is to annotate much more code with @api
  - We're minimizing breaking ch

[2016-07-15 11:49] cucoriedka commented on #1369
vpiyappan, Thank you for your solution to the problem! It works great! :)

[2016-07-15 11:55] avra911 commented on #5645
I had to change the `attribute_group_code` and `tab_group_code` in `eav_attribute_group` table to make the edit product work again (see: https://nimbus.everhelper.me/client/notes/share/523802/gflibimm42igvlrh49yd).

[2016-07-15 11:56] andimov commented on #5222
@antonlazarchenko Did you use the migration tool in this installation?

[2016-07-15 12:05] cizgidekiadam opened #5664 "Can not change product status which product created with productRepository"
## Preconditions
* Any supported Magento version

## Steps to reproduce

`
$product = $objectManager->create(Product::class);
            $product->setTypeId(Type::TYPE_SIMPLE)
            ->setWebsiteIds([1])
            ->setName(NAME)
            ->setSku(SKU)
            ->setPrice(10)
            ->setVisibility(Visibility::VISIBILITY_BOTH)
            ->setStatus(Status::STATUS_DISABLED)

[2016-07-15 12:08] mcspronko commented on #2917
Any updates regarding this issue? It affects all websites and its SEO/Marketing goals.

[2016-07-15 12:20] antonlazarchenko commented on #5222
@andimov no, I didn't. Is that necessary for upgrade from 2.0 to 2.1?

[2016-07-15 12:27] ErikPel opened #5665 "Bundle products being added as upsells but not being shown in admin panel."
## Steps to reproduce
1. Make bundle product and add options to it.
2. If I understand correctly the bundle product is being added as upsell by Magento\Bundle\Observer\AppendUpsellProductsObserver (? correct me if I'm mistaken)
3. check the simple products page and go to advanced settings -> upsells
## Expected result
1. All the upsells are being shown in  advanced settings -> upsells
2. I could e

[2016-07-15 12:30] hostep commented on #5323
@piotrekkaminski, @guz-anton, can you guys please review this bug?
We also run into this on Magento 2.1.0 if we disable the Reviews module in the Advanced section.

[2016-07-15 12:35] hostep commented on #2917
@mcspronko, over at https://github.com/magento/magento2/issues/1146 they mention MAGETWO-47607, so I guess this ticket also gets tracked in that issue.

[2016-07-15 12:40] #3300 closed, assigned to guz-anton

[2016-07-15 12:43] #5460 closed, assigned to guz-anton

[2016-07-15 12:46] koenner01 commented on #5212
I can confirm this issue.
Temporary bugfix would be to change the following in lib\web\mage\adminhtml\browser.js

Change
`closeDialog: function() {
            this.modal.modal('closeModal');
        }`

to
`closeDialog: function() {
            this.modal.modal('closeModal');
            this.modal = null;
        }`

But I assume it's not the 'correct' solution to reset the modal parameter on th

[2016-07-15 12:49] psiegel404 commented on #5288
Hello,
i got the exact same problem on Magento 2.1.0 with XAMPP 3.2.2 (Apache 2.4.18) on Windows 7. So I don't think it's a IIS 7.5 only problem.

[2016-07-15 13:00] devDomM commented on #5288
Can also reproduce this problem. We updated to Magento 2.1.0 today locally on a Windows 10 with XAMPP 3.2.2 using Apache 2.4.17
As soon as we try to save the design configuration we get the "Cannot read contents from file ..." error.

We also noticed that there is no entry in any of the log-Files for this.

[2016-07-15 13:14] andimov commented on #5288
@kurtjmeyoung @devDomM
In order to allow us to investigate this problems, please create a new issue in accordance with the template.

[2016-07-15 13:15] MomotenkoNatalia commented on #3325
@Vaseltior Do you have any other questions?

[2016-07-15 13:19] jzahedieh commented on #3882
+1
I confirm this exists in Magento 2.1.0 enterprise edition.

When you have a comment it breaks like the bug report.

[2016-07-15 13:20] rganin commented on #5662
To make it visible please enable MAP feature  in System -> Configuration -> Sales -> Minimum Advertised Price

[2016-07-15 13:25] jzahedieh commented on #3882
Placing a comment within the parameter works.

[code]

[2016-07-15 13:37] psiegel404 opened #5666 "Design configuration (2.1.0) does not save"
Hello,
thank you for the effort you are making.
i have issue in Content -> Desing -> Configuration in 2.1.0 version.

Steps to reproduce

Browse Content -> Design -> Configuration.
Click Edit Global.
Change any value and then Save Configuration.
Expected result

Save and refresh the page
Actual result

dose not save and show error: Cannot read contents from file "path/to/magento/" Warning!file_get

[2016-07-15 13:43] stamster commented on #5131
@Web-Wave Why would you upgrade your entire application environment, only because someone in the core of the project was lazy to change a few lines? We don't ask for a miracle but just two lines. What I did - changed bootstrap and composer checks for PHP7 on my own and M2.1 working fine (apart from other unrelated issues xD).

And Magento does not follow SemVer specification anymore, why v. 2.2 wh

[2016-07-15 13:45] anton-huz commented on #3586
Hi @ravbetsky ,
As you may know same behavior has `translation.json` file. Yes, they are not flushed if any source files are changed.

Could you imagine, describe how the issue could be solved?

For the generation `/_requirejs/../requirejs-config.js` responsive PHP app. But PHP app has no mechanizm for watching file's changes.

Frontend (via Grunt tasks) has ability for watching file's changes. Bu

[2016-07-15 13:50] MomotenkoNatalia commented on #4586
@ADDISON74  Internal ticket MAGETWO-53318 is closed and delivered to mainline. Please let us know if you still have an issue

[2016-07-15 13:50] #4586 closed, assigned to MomotenkoNatalia

[2016-07-15 13:57] tanberry commented on #5247
Sure, @rbostan, we really don't want any deadly nor bloody issues. ;-) Thanks for helping us stay safe;  please keep up the communications, we appreciate it!

[2016-07-15 13:57] JDavidVR commented on #5666
Hi @kurtjmeyoung, you probably have permission problem, it works on linux.
And magento doesn't support officially windows, you can check here: http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html

[2016-07-15 14:21] elenleonova commented on #4852
The issue has been fixed in 2.2, and will be available with the next release.

[2016-07-15 14:21] #4852 closed, assigned to elenleonova, ishakhsuvarov

[2016-07-15 14:34] developer-lindner commented on #5666
@JDavidVR It's not a windows issue nor a permission problem.

[2016-07-15 14:40] vzaporozhets commented on #5131
@stamster, @slackerzz, @Web-Wave, @kitsor and others. This is not only one problem what we want to fix in 2.1.1 And it takes time to define such scope, fix/change implementation, validate that changes actually fixed the problem, no new regressions found and finally roll-out everything to all of you. We are not lazy, really ))) So, 2.1.1 is coming soon and this problem will be a part of this releas

[2016-07-15 15:06] ifekaj commented on #5648
Adding weight to the product should fix this

[2016-07-15 15:08] stamster commented on #5131
@vzaporozhets Well, that's good, thanks for clarification that there will be actually 2.1.1 release! That's more logical, then to wait for 2.2.

[2016-07-15 15:29] futuralis opened #5667 "Design Menu does not work."
## Steps to reproduce
1. Install Magento using composer
2. Login to Admin
3. Go to Stores->Settings->Configuration->Design
## Expected result
1. View Design Menu with ability to change Theme.
## Actual result
1. Design options do not show. The tab is incorrectly pointing to the wrong option. Instead Search Engine Robots form is being shown.
2. Attached is a screenshot.
   <img width="1668" alt="sc

[2016-07-15 15:33] southerncomputer commented on #3040
@keithbentrup are you sure this in not caching at the apache/nginx - or php realpath or php opcache accelerator that is racing it's own caching (file_exists) against dynamic creation of files?

 I've found this to be the case with php_opcache - so i disabled revalidation and manually do service php-fpm restart after any code/config/cache change (plus service nginx restart plus service varnish rest

[2016-07-15 15:34] southerncomputer commented on #5666
I've definitely checked this out using 2.1.0 under centos 7 /nginx/apache/php-fpm stack and it works quite fine, unless you are using a non magento2 theme that has issues!

[2016-07-15 15:37] pboisvert commented on #5667
This area has been moved under the Content top-level menu item (see Content > Design ) and we will be relabeling the Stores > Configuration > Design tab to reflect the content. Closing as this is not a code issue

[2016-07-15 15:37] #5667 closed, assigned to nobody

[2016-07-15 15:37] southerncomputer commented on #5667
Are you using 2.1.0? Because design has been moved (it caught me too!) to Content->design->configuration in 2.1.0 :-1:

It's a bug the menu is still there ! yes!

[2016-07-15 15:45] pboisvert commented on #2917
yes--Piotr expanded the scope of 47607 to include robots.txt in addition to sitemap

[2016-07-15 15:46] elenleonova commented on #3102
The issue has been fixed in 2.1.0, and will be available in 2.0.x in one of the next patches.

[2016-07-15 15:46] #3102 closed, assigned to sdzhepa, ishakhsuvarov

[2016-07-15 15:47] piotrekkaminski commented on #5423
@JDavidVR it seems as if you attempted to overwrite files. This is incorrect approach to upgrade as it will not remove files that could be removed in new version, and it will cause issues. The proper upgrade path is either using command line or setup wizard, which allows to remove files that were removed in new version.

[2016-07-15 15:51] elenleonova commented on #4750
Hi, the issue is still present in 2.1, and we plan to have it fixed in one of the following patches. We will update the ticket once it becomes available.  However, the issue have been fixed for 2.2, thus closing the ticket.

[2016-07-15 15:51] #4750 closed, assigned to ishakhsuvarov

[2016-07-15 15:53] elenleonova commented on #5293
Hi, the issue has been fixed in 2.1.0 release - internal issue MAGETWO-46716, thus we're closing the ticket. if you have any other questions, please feel free to reopen or create another ticket.

[2016-07-15 15:53] #5293 closed, assigned to MomotenkoNatalia

[2016-07-15 15:59] futuralis commented on #5667
Thanks for letting me know.

Thanks,
Aravind Pamula

Consultant
Coretechs Consulting Inc.
301-949-2553 x711
www.coretechs.com

On Fri, Jul 15, 2016 at 11:38 AM, sam brown notifications@github.com
wrote:

[2016-07-15 16:03] MomotenkoNatalia commented on #5328
Hi @HRR1337 !  Internal ticket MAGETWO-54218 is closed and delivered to mainline. Please let us know if you still have an issue

[2016-07-15 16:03] #5328 closed, assigned to MomotenkoNatalia

[2016-07-15 16:06] choukalos commented on #5655
Hello @thdoan can you provide some more info?
- What mode are you running in?
- Have you enabled minification and JS bundling?
- Is this the very first page you clicked on?  What happens if you click the page the 2nd time?

Thanks!

[2016-07-15 16:10] choukalos commented on #5654
Hi @gustavopinto let me introduce you to @alankent and @antonkril.  I'm sure either one of them can provide a detailed answer to this question.  This is better taken to the forum or on the side as a blog post we can link to/etc then putting in Github so I'll close the issue.

[2016-07-15 16:10] #5654 closed, assigned to nobody

[2016-07-15 16:29] #4609 closed, assigned to guz-anton

[2016-07-15 16:32] vil11 commented on #5167
Hi @alex-koepke
This issue is fixed & delivered, so could you please update your M2 version & retest? I believe you won't face this bug again :smile:

You may find details [here](https://github.com/magento/magento2/issues/2896).

##

:sunny: dvilchynskyi, M2 QA

[2016-07-15 16:58] alankent commented on #5654
I only had a quick look, but I think this one may have been moving between source code repository technologies (SVN to Git) and the tools did not work well enough. But it was 5 years ago (well before I got here). The old code is also available in SVN (with history I believe), so the history has not been lost. But honestly I am half guessing since its 2 years before I joined the team.

[2016-07-15 17:26] rgoncharuk commented on #5373
According to New Relic support team, IP of shop.webber.nl is used by one more host configured for the pinger.  The issue is caused by environment configuration and is not related with Magento.

[2016-07-15 17:26] #5373 closed, assigned to nobody

[2016-07-15 17:29] stamster commented on #2843
How come it's not Magento issue?! Of course it is, those JS files are in adminhtml core, i.e. not in third party modules or so.

I have experienced this issue after doing migration from one dir onto another (`cp -rv`). Using latest Magento v2.1. In 2.0.x releases I had no such issues when moving app from development to staging environment.
Using nginx as a web server, PHP 5.6.x as standalone app s

[2016-07-15 17:47] maderlock commented on #5649
In CE, all stock is against website of id 0. This is confusing, but not a bug.

[2016-07-15 17:50] maderlock commented on #5639
This is a duplicate of an existing issue #4974 which was incorrectly closed, so it's great to see a suggested fix. Hopefully this will get sorted now. I'll give it a test.

[2016-07-15 18:22] cpartica commented on #4945
This issue is related to #5364
This issue has been resolved and merged to develop (via MAGETWO-54320) and it will available in the next release. Feel free to let us know if you encounter any other issues.

[2016-07-15 18:22] cpartica commented on #5364
This issue is related to #5364
This issue has been resolved and merged to develop (via MAGETWO-54320 and MAGETWO-55055) and it will available in the next release. Feel free to let us know if you encounter any other issues.

[2016-07-15 18:23] #4945 closed, assigned to nobody

[2016-07-15 18:23] #5364 closed, assigned to nobody

[2016-07-15 18:28] springimport commented on #5134
Thanks for the answers, I will try.

[2016-07-15 18:46] logan-robbins opened #5668 "undefined index in grouped product import when scope != default"
## Steps to reproduce
1. Import grouped products with a store code set that is not default
## Expected result
1. Group products are imported
2. ...
## Actual result
1. Undefined index "attr_set_code"

Magento\GroupedImportExport\Model\Import\Product\Type\Grouped.php

line 101 $productData cannot be set any other way which causes 'else' statement to throw Notice.

`if (Product::SCOPE_DEFAULT == $sc

[2016-07-15 18:58] ideirj opened #5669 "Invalid apostrophes in search_synonyms_form.xml"
search_synonyms_form.xml invalid apostrophe characters:

`<item name="description" xsi:type="string" translate="true">Comma-separated list of synonyms. The terms entered (separated by commas) will be used as an “OR” search query to search your entire store. For example, if you enter “shoes,footwear”, and user were to search for "shoes", the search results will include any product or content with t

[2016-07-15 19:36] stefanjagger commented on #4299
Still an issue in ver. 2.0.7. I had to create a new user which resets the view back to 20 products. 500 products displays fine.

[2016-07-15 19:59] rhoerr opened #5670 "Visibility is not respected by layered nav counts"
## Steps to reproduce
1. Have a category set up with layered navigation.
2. Set one of that category's products visibility to "Search" (not visible on category directly).
3. Browse to the category
4. Filter the category by an attribute assigned to the product edited in step 2.
## Expected result
1. Results count in pagination and layered navigation will match the number of products displayed.
## A

[2016-07-15 20:09] paliarush commented on #5330
As @mbrinton01 mentioned, this was done for security reasons. Here is the [correct link to the documentation](http://devdocs.magento.com/guides/v2.1/rest/anonymous-api-security.html) describing what has become restricted and how you can enable anonymous access again if necessary.

[2016-07-15 21:02] dthampy commented on #3854
@Deepthi57 An internal Jira Ticket has been created for this issue ->MAGETWO-55502 for the first part of the  issue.
However, I couldn't reproduce the issue where an error is thrown on invoicing the order.
Can you attach the screenshot of the error you were getting for the second part of this issue?

[2016-07-15 22:16] acidreian666 commented on #5662
So I enabled MAP feature in System -> Configuration -> Sales -> Minimum Advertised Price.
After reviewing how they have implemented this feature it seems cool but to my knowledge its an incorrect.

I have a Massive database list of products with this prices.
1. MSRP = manufacturer's suggested retail price (Also known as Retail price.)
2. Cost = My Cost Of Product
3. MAP= Minimum Advertised Price
4

[2016-07-16 08:54] commcad commented on #5131
_deleted - unnecessary comments_

[2016-07-16 09:11] commcad commented on #5131
There, Magento Inc.

Edit app/bootstrap.php
|| PHP_VERSION_ID === 70002
to
|| PHP_VERSION_ID === 70004
and run this: find . -type f -print0 | xargs -0 -n 1 sed -i -e 's/7\.0\.2\|\~7\.0\.6/7.0.4|~7.0.6/g'

Repackage and upload this onto your download server. That shouldn't take you more than 5min. No need for testing, there are 343 other labelled BUGS to deal with before making any sense of this pe

[2016-07-16 09:53] skhell opened #5672 "Upgrade from Magento 2.0.7 to 2.1.0 failed"
I executed the upgrade from web interface wizard and it fail, also rollback fail, I need to manually restore backup from command line.

I'm using the patch without success.
http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_21-upgrade.html
## Steps to reproduce
1. Login to the backend.
2. Execute the upgrade from 2.0.7 to 2.1.0.
## Expected result
1. Upgrade.
## Actual result
1. Fail w

[2016-07-16 09:56] dhavalkaneriya opened #5673 "https://github.com/magento/magento2/issues"
## Steps to reproduce

I have installed fresh magento 2.1.0 in my wamp server 3.0 I have done with all changes required to install magento 2.1.0 in wamp and it's work fine.

Now I have created my theme on below path : D:\wamp\www\magento2.1\app\design\frontend\Ecommerce\m2-theme

In my theme I have copied whole D:\wamp\www\magento2.1\vendor\magento\theme-frontend-luma folder and change 3 important

[2016-07-16 10:13] Whaaaaat opened #5674 "In Magento 2.1 sitemap, product's URL does not include its category!"
Although configured in Stores -> Configuration -> Catalog -> XML Sitemap and Stores -> Configuration -> Catalog -> catalog, product's URL does not include its category in Magento 2.1 sitemap!

For example if the product URL is http://www.niceexample.com/category/product1.html
you will find it in sitemap as: http://www.niceexample.com/product1.html

**I think functions generating sitemaps needs mor

[2016-07-16 10:44] maderlock commented on #3325
Sounds like changing mode needs to automatically clear the relevant parts of pub/static then?

[2016-07-16 10:47] maderlock commented on #5673
This sounds like you need help with your installation permissions rather than this being a Magento bug. Please try http://magento.stackexchange.com/ or the Magento forums. Not sure how well windows environments are supported. Feel free to come back here if it turns out to be a Magento bug.

[2016-07-16 11:40] vivek201 commented on #5666
Yes, this is definitely an issue. The previous Magento 2.0.7 was working perfectly fine.
Has anyone found a solution to this?

[2016-07-16 11:43] vivek201 commented on #5392
You can get around this by using the command `php bin/magento setup:static-content:deploy`. The frontend and backend will be working after that. But there seems to be issue while changing the theme.

[2016-07-16 12:19] HRR1337 commented on #5674
Its linking to canonical url as it should. Not a bug, its a feature!

[2016-07-16 15:36] skhell commented on #5672
SOLVED
I wrongly renamed in Magento 2.0.7 the default attribute from Default to Generic, this was causing the update to not complete.

[2016-07-16 15:36] #5672 closed, assigned to nobody

[2016-07-16 16:02] maderlock opened #5675 "[2.1] Order status labels for stores not saving"
## Preconditions
1. Install Magento 2.1.0
## Steps to reproduce
1. Create multiple stores (uncertain this is required for the issue)
2. Edit order status and set labels per store.
3. Save and click of status again.
## Expected result
1. To see the statuses I just entered
## Actual result
1. Blank status labels

[2016-07-16 17:18] SewHappy58 commented on #5573
I can confirm I have the same issue with a fresh install of Magento 2.1 RC3.  I had a variety of options added to a particular product.  When I went to select based on a product, I get a list of products, I select and press import.  Nothing happens.  I get the same final screenshot Nerogee gets.  I don't even know why Yellow is showing and nothing else under Pets Name or Additional Options (groupe

[2016-07-16 17:49] abdel1220 commented on #5288
hello,
thank you for your replay.
new ticket was created by someone else [#5666](https://github.com/magento/magento2/issues/5666)

[2016-07-16 17:50] abdel1220 commented on #5666
Hello,
i had this problem and i already create ticket for that [#5288](https://github.com/magento/magento2/issues/5288)

and did't found solution yet.

[2016-07-16 18:18] Ctucker9233 commented on #5423
@piotrekkaminski I also tried this approach and this is why the issue exists. At the time it was the only upgrade option available to me. Setup wizard did not function (even with the 2.0.7 patch) and the CLI kept throwing a memory exceeded error. I've gone back and forth with my hosting provider on this one.

My point is, if for some reason both of the approved upgrade methods are unusable, overwr

[2016-07-16 22:31] romeof1980 commented on #4096
Hi there, look like a bug for me too.
I've tried with v 2.0.0 , 2.0.2 , 2.0.6 , 2.0.7
no ways to duplicate...

[2016-07-16 23:21] pboisvert commented on #5666
closing as duplicate of #5288

[2016-07-17 01:37] erikhansen commented on #5266
I've noticed this behavior on all 2.1 sites I've been working on, both new installs and upgrades. @Zaylril's [suggested change](https://github.com/magento/magento2/issues/5266#issuecomment-230258401) fixed the issue for me.

[2016-07-17 05:10] acidreian666 commented on #5540
@enriquetarazona
- Step one is to make sure your template columns match that sample .csv export that you get under System/Import-Export
- Step Two make sure your saving your CSV as MS-Dos (.csv) format if using Excel or open with Notepad+ and check encoding UTF-8-BOM.

If your still having an issue could be your not using correct Field Seperators.

[2016-07-17 05:54] refaelgold commented on #5602
how you fix it?

[2016-07-17 06:01] vivek201 commented on #5666
@pboisvert
I still think that this is an issue and that it needs to be handled.
So far, I've found that this happens when the default email template is being loaded in the file  `magento2/app/code/Magento/Email/Model/AbstractTemplate.php`  in the function `loadDefault($templateId)` and the `$templateId` being passed is `design_email_header_template`.

In my understanding, the `$templateFile` varia

[2016-07-17 06:21] dhavalkaneriya commented on #5673
I have already asked question on http://magento.stackexchange.com/questions/125994/admin-design-configuration-does-not-save-in-magento-2-1-0.

Please check this. and this issue is not some think that I'm only facing I show other questions that are same on magento2 issues github.

[2016-07-17 06:28] refaelgold commented on #5294
@afavata  thank you so much!  this issue need to be close and be alerted to magento 2 team

[2016-07-17 06:29] refaelgold commented on #5602
duplicate..
https://github.com/magento/magento2/issues/5294

[2016-07-17 10:37] simxu commented on #5643
any updates?

[2016-07-17 10:38] simxu commented on #5646
any updates?

[2016-07-17 11:00] adragus-inviqa opened #5676 "[M2.1] - No CLI option to exclude patterns on setup:di:compile and other inflexibilities"
[code]

On previous versions, we've been told to use `setup:di:compile-multi-tenant` instead of `setup:di:compile`. K. Now [we're told](http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-compiler.html) to get back to using `setup:di:compile`. Ugh, fine.

But whilst you were fixing (?) `setup:di:compile`, we've gotten accustomed to `setup:di:compile-multi-tenant`'s [vari

[2016-07-17 16:05] shanevbg commented on #5377
I tried the patch from [zhiyicai](https://github.com/magento/magento2/issues/5377#issuecomment-230257598)
but alas, I still have nothing in the minicart, the cart page is fine though.

[2016-07-17 17:16] ktomk opened #5677 "Magento (all (!) 2.x versions) Composer Install (create-project) do fail due to version constraints."
## Steps to reproduce
1. Install Magento via `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition`
   Expected result
   --
2. Should have cloned and composer install'ed it
## Actual result
1. Install fails due to missing requirement resolution

[2016-07-17 17:20] ktomk commented on #5677
The installation procedure is as follows:

`install.sh`:

[code]

This follows the book in [Installation quick reference (tutorial)](http://devdocs.magento.com/guides/v2.1/install-gde/install-quick-ref.html)

The outcome is:

[code]

As you can see, pdepend can't be satisfied any longer by the requirements provided in the composer.json file.

I first experienced it with automatic builds ca. 1-2h a

[2016-07-17 18:09] vivek201 commented on #5666
Hello,
I have found a workaround for this issue. Copy the folder `\vendor\magento\module-email\view\frontend\email` to `\vendor\magento\module-email\view\adminhtml\email\`.
After copying the folder, I can now save the configuration. Don't really know why.
It would be really helpful if someone can explain why.
Thanks.

[2016-07-17 18:12] vivek201 commented on #5288
@akacemy
Hello, I have found a workaround for this. You will need to copy the folder `\vendor\magento\module-email\view\frontend\email` to `\vendor\magento\module-email\view\adminhtml\email`. For some reason, it's looking in the adminhtml folder for the `header.html` file.
Don't know if this is a proper solution, but hope it helps.

[2016-07-17 18:38] qubaish-techverx commented on #4220
Did any body found solution of this issue ? @ricardojle i repeat the points which you suggest but it did not worked for me .

[2016-07-17 18:52] qmarlats opened #5678 "[Feature request] Add search boxes for some elements in admin"
For some elements in admin, it's (really) difficult to find what we search for. For example, in list of countries like "Top Destinations" (see picture), we have to look for one country at a time and select what we want slowly and without any error (otherwise we have to begin again). Even more horrible is time zones: the first time I searched for Paris I've spent about 3 minutes.
So I think it woul

[2016-07-17 19:54] ghost commented on #5677
Verified with version 2.1.0 and 2.0.7. This must be something new; I installed 2.1.0 late last week and didn't see this. Thanks for letting us know.

[2016-07-17 20:16] gewaechshaus commented on #5531
Same here... Feel free to test here: https://www.makerdise.com

[2016-07-17 20:17] ktomk commented on #5677
It is since some hours now. One underlying problem I could spot is that currently it is not possible to install `symfony/dependency-injection` any longer with a stable version:

[code]

I hope this settles soon.

[2016-07-17 20:41] flpavoncelli opened #5679 "Magento 2: Product Advanced Options tab is not visible"
I have a recent installation of Magento 2.1 and the Advanced tab on the product page does not appear.  I was trying to set the Description and Short Description, but I cannot access that tab therefore I am stuck.

[2016-07-17 20:46] gewaechshaus commented on #3676
THX @m-strojek

[2016-07-17 20:52] ktomk commented on #5677
Builds are green again.

[2016-07-17 20:52] #5677 closed, assigned to nobody

[2016-07-17 22:09] stamster commented on #5531
@gewaechshaus You're using sub-domain for 'eu' (English) store. That's another story.
When I switch on your site, this is set via `Set-Cookie` HTTP header in server response:

[code]

Store is `deleted`, check your configuration, since I doubt you have named your store view `deleted`?

On my setup, this is what I got from nginx while switching from default local language to English:

[code]

That

[2016-07-17 23:41] Krapulat commented on #5633
I have the same problem.

[2016-07-18 00:58] moloughlin opened #5680 "Media gallery loading broken by 2.1 update"
We'd like to be able to use the media gallery of a product within the category and search pages. In Magento 2.0 (and M1), we could load the gallery onto a product reasonably cheaply using the following:

`$product->getResource()->getAttribute('media_gallery')->getBackend()->afterLoad($product);`

In 2.1 this no longer works due to _media_gallery_ being changed into a static attribute, without it's

[2016-07-18 01:38] thdoan commented on #5655
@choukalos To answer your questions in order...
1. Developer mode with all caches disabled in Admin.
2. I don't recall specifically enabling or disabling this feature, so we can assume it's the default behavior in developer mode.
3. It is slow to update the product image regardless of whether it's the first time or subsequent times.

[2016-07-18 02:14] QuangAn commented on #5602
hi, it was fixed

[2016-07-18 03:31] zengoma commented on #5131
I know it's not ideal, but I am simply using:

--repository-url=https://repo.magento.com/ magento/project-community-edition=2.0.7 for now, it's not the end of the world.
Magento core team has promised to fix the issue and I have full faith in them, they know what they are doing, thanks for all the hard work!

[2016-07-18 04:01] chrone81 opened #5681 "Magento 2.1 Customers Address Book Not Displayed Properly"
## Steps to reproduce
1. Install Magento 2.1 CE
2. Add or Edit Address Book when checking out
3. Go to My Account to see my Address Book
## Expected result
1. The Customers Address Book information should be displayed properly
## Actual result
1. The Address Book in frontend "customer/address" and backend "Customer Information > Customer View > Addresses" display field variables instead of the add

[2016-07-18 04:39] zeki893 commented on #3123
wow setting memory_limit = 2g makes a world of difference

[2016-07-18 06:04] devDomM commented on #5666
wait? why was this closed when the "already closed duplicated" #5288 mentions "_ey please create a new issue!_"

anyway we noticed something important:
- before you make changes to the design configuration you have to choose between "**Global**", the **Websites** you created, and also the **Store-Views**
- changes done in **Global** result with the explained error
- changes done in a created **Web

[2016-07-18 06:14] sky4git commented on #4921
**# I solved the problem;**
Problem can be resolved by adding street address in shipping setting in backend. If you are using shipping method but shipping origin address is not added fully than you will get this error.
**Go to backend > Store> configuration > sales > shipping setting** and fill out shipping origin details.
Make sure you fill out all the details. Do not leave anything blank.

[2016-07-18 06:57] tomsonnemans opened #5682 "Translation per module isn't working properly."
## Steps to reproduce
1. Install Magento CE. 2.1.0
2. Add translations for separate modules with the "./bin/magento i18n:pack" command.
3. Files are placed correctly.
## Expected result
1. "Remove","Verwijder",module,Magento_LayeredNavigation should be used for the filter remove button in the LayeredNavigation module.
## Actual result
1. "Remove","Verwijderen",module,Magento_Wishlist is used for t

[2016-07-18 07:03] grasdaggel commented on #5606
Any updates on this already?

[2016-07-18 07:32] Onkovat commented on #4119
The problem probably is that  jQuery runs in 'no-conflicts' mode to reduce the likelihood of it conflicting with other third party libraries. The $ in $.widget would need to be replaced with jQuery everywhere you use jQuery. I think mage 2 devs did not think about that possibility so they did use $...

[2016-07-18 07:33] bartoszkubicki opened #5683 "getModuleName() doesn't return correct module name"
Ok, I was trying to retireve name of module in custom Helper class, basing on  received request from controller:
Method getModuleName() for controller doesn't return right dir:

`$test = $this->getRequest()->getModuleName();
       print_r($test);`

Method is used inside controller - path is `[vendor][module_name]\Controller\Test\Test.php` and method return `test`, so the name of action. I think i

[2016-07-18 07:35] spipu opened #5684 "[CE 2.1.0] pb on cache for method loadAllAttributes"
hi,

in this class https://github.com/magento/magento2/blob/develop/app/code/Magento/Eav/Model/Entity/AttributeLoader.php#L68

the used cache key is directly the entity type code of the object, but the method $this->config->getEntityAttributeCodes use the attribute set of the current object to build the cache => it could be a good think to add the id if the attribute set in the cache key.

for exa

[2016-07-18 07:37] SchumacherFM commented on #4795
Oh this is terrible but the hack was helpful. When is M2 2.1.1 expected? End of year?

[2016-07-18 07:42] thdoan opened #5685 "getRemoveParams() missing wishlist item id"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Register and log in.
3. Navigate to any product page and add it to the wishlist; return to the product page.
4. Add the following code to `Magento_Catalog/templates/product/view/addto.phtml`:

[code]
## Expected result
1. If the product is in the wishlist, `getRemoveParams()` should populate the `item` property in the returned obje

[2016-07-18 08:15] troublediehard commented on #4119
I've faced this issue too. In most cases works fine but randomly happens errors. I'm using Smartwave porto theme.

[2016-07-18 08:52] marvincaspar commented on #5426
I have the same issue.

I would expect that the new field `base_grand_total` is added in an upgrade schema script and not in the install schema script.

[2016-07-18 09:02] stamster commented on #5666
You really should not use Windows for development. If you can't afford dedicated Linux box on your own, you can run it inside Windows via VirtualBox or similar non bare-metal hypervisor software. Save yourself some headache.

Magento is a large project where there are plenty of issues already, so you don't need another layer to worry about such as 'video games' OS.

Bottom line: officially Magento

[2016-07-18 09:59] ToshiroMifune opened #5686 "Configurable product custom options not visible in order summary after order status change"
Hi,
There is one configurable product in our shop, which has two extra paid custom options set.
Just after payment we can see the custom options for this product in order summary (status Pending payment).
When status of the order changes (to cancel, processing, complete etc), the custom options disappear.
It does not matter if status change is initialized by hand or as a result of payment confirma

[2016-07-18 10:02] ktruehl opened #5687 "inserting URL rewrites fails"
## Steps to reproduce
1. Install Magento 2.1.
2. Add around 50000 visible products.
3. Add around 1000 visible categories in a tree.
4. Make sure that one of the categories (say A) has around 20000 products.
5. Change the URL key of category A, making sure that "Create Permanent Redirect for old URL
   " is checked. Save the category.
6. Keep changing the URL key of category A (with "Create Perman

[2016-07-18 10:44] ghost commented on #3409
I faced same problem when I trying to redeploy static content.

![screen shot 2016-07-18 at 11 27 24](https://cloud.githubusercontent.com/assets/5654423/16912500/5c28e14c-4cdc-11e6-9d24-a71cb8733c14.png)

I realised that, "Vendor/theme => Magento/lumaClone" hasn't registered on my "theme" table. Then I added that entry manually.

![screen shot 2016-07-18 at 11 30 30](https://cloud.githubuserconten

[2016-07-18 10:52] bartoszkubicki commented on #5229
same issue here - I am trying to remove sets programatically and I call in loop
 `$eavSetup->removeAttributeSet($this->_entityTypeId, $set['name']);` and I get:
`[Magento\Framework\Exception\LocalizedException]
  Wrong attribute set ID`
assuming values return are real attribute sets values.
`$this->_entityTypeId` equals `ProductAttributeInterface::ENTITY_TYPE_CODE` which equals 4.

[2016-07-18 10:53] nanda1990 commented on #1691
i want to add mobile sms otp in cash on delivery payment method in magento 2 i know otp code but i dont know how to get telephone number. or where to get telephone session telephone

Thanks and Regards

[2016-07-18 11:02] MomotenkoNatalia commented on #4317
Hi @gacleg
I'm going to close this issue. Please let me know if you still have an issue.

[2016-07-18 11:02] #4317 closed, assigned to MomotenkoNatalia

[2016-07-18 12:01] stamster opened #5688 "Magento 2.0.x and 2.1.x does not respect table prefix during installation"
## Steps to reproduce
1. Install Magento from official 2.1.0.tar.gz archive here on GitHub.
2. Fill out DB settings as ususal, alongside with table prefix (i.e. 'my_')
3. Begin installation procedure
## Expected result

Installation finished w/o any errors.
## Actual result

**Installation is incomplete.
Check the console log for errors before trying again**

Magento fails with [ERROR] exception '

[2016-07-18 12:05] devhn opened #5689 "Assign custom email template to specific payment method"
What is the proper way to assign custom email template to specific payment method upon creating an order?

**For example:**
When choosing a Bank transfer payment method on the checkout it should send custom email template upon submiting the order, not the default order email (new/existing customer).

**Maybe a feature:**
It would be good if we had ability to choose custom email template for specif

[2016-07-18 12:09] MomotenkoNatalia commented on #4555
Hi @BenSpace48 !
We appreciate your work on this pull request, but after long discussion we made a decision to refuse its adoption, since these changes are not required for our themes, and all customization of media queries configuration required for particular theme can be easily added by overriding _responsive.less file.

[2016-07-18 12:09] #4555 closed, assigned to MomotenkoNatalia

[2016-07-18 12:38] BenGlassAtlas commented on #4555
No problem, that's the route I have gone down. Thanks

[2016-07-18 12:53] vil11 commented on #4593
I do check this on the latest **develop** branch on Mas OS Safari 9: all the grid headers are displayed correctly. The issue isn't reproducible neither on described page (this page had been already refactored) nor on similar pages like "update Customer" or "update Order".
Please upgrade your Magento version so that the fix is applied.

##

:sunny: dvilchynskyi, M2 QA

[2016-07-18 13:20] MomotenkoNatalia commented on #2229
@shu1313 We will do fixes under MAGETWO-49758.

[2016-07-18 13:25] LiamFielding opened #5690 "Product attribute accepted via admin interface but cannot relate via import csv"
Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a dropdown attribute with values: '5µ, 10µ, 15µ...'
3. Attempt to add those accepted attribute values with attribute to a product via csv.

Expected result
1. Product given attribute and attribute value correctly recognised as it is accepted in interface.

Actual result
1. Value not recognised.

I believe this is due to HTML en

[2016-07-18 13:30] MomotenkoNatalia commented on #3032
@homecoded Thanks for reporting this issue. We will do fixes under MAGETWO-55546

[2016-07-18 13:57] etessari commented on #5637
Hi @vzaporozhets ,

I have already contacted the EE support but unfortunately they didn't provided a solution.

So I decided to workaround the problem by starting with a new installation of magento 2.1 from scratch, instead of upgrading it.
Thanks

[2016-07-18 13:57] #5637 closed, assigned to nobody

[2016-07-18 14:17] homecoded commented on #3032
@MomotenkoNatalia Awesome. Thanks.

[2016-07-18 14:22] navarr commented on #5546
According to #4785 the fix is in the develop branch, so this ticket should be closed.

[2016-07-18 14:30] vivek201 commented on #5666
@devDomM Thanks, that actually works! Should've tried that before doing anything else.
@stamster Yeah, you're definitely right about the headaches. Just finished setting up a VirtualBox environment with Ubuntu. Hope, it works there.
Thanks guys.

[2016-07-18 14:32] develpr commented on #5659
I can confirm this behavior, but FWIW I just create a simple "Map" class with a "key" and "value" to solve this myself. A few extra steps but possibly necessary with the typed nature of API results?

[2016-07-18 14:45] andidhouse commented on #4593
This can be closed - it has no meaning as you refacturated the complete backend product page as you said.

By the way: Having no navigation bar (former left side) the product page is very hard to edit as there is no navigation at all 👎

[2016-07-18 14:47] jimuldesai commented on #5659
Yes, with MAP class it is possible but map class changes actual keys of array. For example  in above example key "requiredPrecision" will replace with "required_precision" which in result require to make update in client(API consumer) system. Also, there are hundreds of such values require to respond in one call.

If just maintain  key of array for type associative array, then it can save lots of

[2016-07-18 14:58] wert2all commented on #5203
@loganstellway can I close this issue now?

[2016-07-18 15:11] JacobDrummond commented on #5546
Thanks @navarr, [your're right](https://github.com/magento/magento2/commit/7f5b6443c8aad774bb3389fca9c4d372aaa3f1af?diff=split). Fix is in develop, and #5546 can be closed.

[2016-07-18 15:25] asemenenko commented on #5662
@acidreian666 i agree that we need to have an ability to specify both MSRP price and MAP price on the admin product edit page. For now if there is a need to show MAP lightbox with crossed MSRP price - merchant needs to specify MSRP price for the product.
I added this to the backlog.

[2016-07-18 15:38] JacobDrummond commented on #5639
Hi @maderlock, were you able to replicate the issue, and confirm that the suggested fix works?

[2016-07-18 15:51] lstellway commented on #5203
@wert2all yes please, thank you!

[2016-07-18 15:51] #5203 closed, assigned to nobody

[2016-07-18 16:26] kongkiat opened #5691 "Fist Image Change Only. In Color Attributes Select."
## Steps to reproduce
1.  Admin->Products->Catalog
2.  Press new product
3.  Add New product and Image
4.  Add Configurable product and Image many image
## Expected result
1. Select Product in product detail
2. All Imange change.
## Actual result
1. First Image Change Only

Magento Version 2.0.7. No Problem. Buy Mangeto 2.1.0 RC 3 Have this problem.

![front](https://cloud.githubusercontent.com/as

[2016-07-18 16:40] s00071609 commented on #4754
Did anyone find solution to this??
![capture-missinghtml](https://cloud.githubusercontent.com/assets/19631643/16922706/1e81344c-4d5a-11e6-8921-a18196db262d.PNG)
Same issue here - only Robot section showing after update to magento 2.1. Everything else is missing. I also have multi website and need to change the html tag and other seo stuff but the section does not exist. I did everything i could, c

[2016-07-18 16:49] pboisvert commented on #4754
@s00071609  content has been moved as noted in this comment https://github.com/magento/magento2/issues/4754#issuecomment-222294334

if you have other issues please check for existing issues and if not found please file a new issue following the requested format.

[2016-07-18 16:49] #4754 closed, assigned to nobody

[2016-07-18 17:25] dthampy commented on #4506
An internal JIRA ticket -MAGETWO-55587 has been created for the original issue (reported on May 14)

[2016-07-18 19:04] hamdrew commented on #3720
I have also encountered this issue. Where exactly did you place the workaround?

We create stores using the `SetupInstall` and `SetupUpgrade` classes in a module. I've tried running the full-text indexer as you described directly after creating the stores. However, I still encounter your SQL error when running integration tests.

[2016-07-18 21:06] mbrinton01 commented on #5553
@tanberry Please advise

[2016-07-18 21:19] tanberry commented on #5553
Thanks @mbrinton01 .  Hi @nickmarx12345678 , please do share your thoughts and suggestions (and maybe even a PR with some contributions!) to our docs. For more info, see http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing_docs.html.

You can also click on the "Edit this page on GitHUb" link at the top of every page in devdocs.magento.com (excluding auto-generated Swagger docs).

[2016-07-18 21:55] 12impress commented on #5247
Is there any solution available?

[2016-07-18 22:32] Ctucker9233 commented on #5600
Does anyone have any input on this?

[2016-07-19 00:12] alexgran commented on #5247
Is there a workaround to access the wizzard? I'd like to install a couple of modules...?
Got a clean and fresh isntallation, docroot is installation folder

[2016-07-19 01:00] dnadle commented on #4613
Still a bug in 2.1.0.

[2016-07-19 05:50] sky4git opened #5692 "adminhtml_customer_save_after event not dispatching from admin grid customer update Magento 2.1.0"
## Steps to reproduce
1. Go to admin > Customers > All Customers
2. Try to update/change customer info[inline edit] from grid.
3. Save customer. Which will fire Ajax event and update customer info.
4. Use custom observer to cache '**adminhtml_customer_save_after**' event.
## Expected result
1. In above case, the event '**adminhtml_customer_save_after**' never actually being fired. It only works if

[2016-07-19 05:57] sky4git commented on #4921
It happens in Magento 2.1.0 as well. I am facing the same issue.

[2016-07-19 06:22] matthew-muscat opened #5693 "Carrier configuration for "showmethod" does not appear in carrier configuration"
The carrier settings for the "showmethod" configuration field does not appear for both the standard Magento Shipping Methods (ie: free shipping / flat rate) as well as custom shipping methods.
## Steps to reproduce
1. Install Magento CE 2.1.0.
2. Review the "Free Shipping" / "Table Rate" and/or "Flat Rate" method settings in "Stores / System / Configuration / Shipping Methods".
3. The setting "sho

[2016-07-19 07:01] rbo13 commented on #4432
I also got the same issue... keep repeating the correct username and password. Still not getting any.

[2016-07-19 07:44] pantaoran commented on #4556
I think I'm having this or a very similar issue on Magento 2.1.0.

We show a different store and theme based on the client's user agent. We set the store in pub/index.php according to the user agent, and then configure different themes for those stores.
(When I say "store" I mean the middle one of these three concepts such as named in Magento: "website", "store", "store view")

Now when I turn on

[2016-07-19 07:48] stevenvdp commented on #3170
We also have this issue.
Any progress @vrann ?

[2016-07-19 08:00] fooman commented on #1232
Bug https://github.com/magento/magento2/issues/4785 / https://github.com/magento/magento2/issues/5426 could have been caught with this.

[2016-07-19 08:47] kweij opened #5694 "setup:static-content:deploy should bust browser cache by using unique filesnames"
When performing a deployment, `bin/magento setup:static-content:deploy` needs to be executed to deploy the new static view files. These files also include `.js` and `.css` resource files that will be cached by browsers.

It's ok that browsers cache these files, but when these files are re-created on a next execution of `bin/magento setup:static-content:deploy`, there is **new** content in files wi

[2016-07-19 09:14] jasonyip2014 commented on #5350
Same problem here

[2016-07-19 09:18] o-iegorov commented on #4497
Implemented. Internal issue: MAGETWO-52800

[2016-07-19 09:18] #4497 closed, assigned to piotrekkaminski

[2016-07-19 09:47] kanduvisla commented on #4379
I also have this problem on 2.0.7 with the checkmo payment method. A sidenote is that I use MageStores' OneStepCheckout, but I don't see any files of them in the stack trace.

[code]

[2016-07-19 10:17] sanjaycommon commented on #5350
After disabling this module we have facing another issue
Warning: Illegal string offset 'is_in_stock' in /vagrant/vendor/magento/module-catalog-inventory/Ui/DataProvider/Product/Form/Modifier/AdvancedInventory.php on line 87

[2016-07-19 10:47] mohanbmahajan opened #5695 "${magento_host}/rest/V1/customers/me does not return the requesting Customer"
## Steps to reproduce
1. Started magento from https://hub.docker.com/r/alexcheng/magento2/
2. Created access token using rest/V1/integration/admin/token api
3. Get signed in users details
## Expected result
1. Should get details for the signed in User
## Actual result
1. Getting,
   {
   "message": "%fieldName is a required field.",
   "parameters": {
       "fieldName": "customerId"
   }
   }

[2016-07-19 11:04] Zaylril commented on #5694
The main reason being that requireJS includes files via their filename in the module definition. If you were to change the names of the files, it would not be able to load these files in as they would no longer be there.

You would have to match each instance of each file in the module definition and update the config file and each file internally as well with the new file name. Including custom f

[2016-07-19 11:09] peec opened #5696 "[2.1.0] In Stock/Out of Stock state not updating when changing quantity of item"
When changing the quantity of a product from any number to 0, the state is automatically changed to **Out of Stock** upon saving. However, when changing an out of stock product to any number and saving, the product is still listed as **Out of Stock**.
## Steps to reproduce
1.  Access an active, out of stock product through Products > Catalog
2.  Change Quantity to any number and save
## Expected r

[2016-07-19 11:15] peec opened #5697 "[2.1.0] Misleading feedback when sending tracking information email"
When clicking the “Send Tracking Information” button when viewing the shipment info the response is “You sent the shipment”.
## Steps to reproduce
1.  Sales -> Shipments -> View (any shipment)
2.  Click Send Tracking Information
## Expected result

Notification telling the user that the email confirming the order is underway has been sent.

E.g. "An email confirming the order is underway has been

[2016-07-19 11:32] kweij commented on #5694
Deploying the files to a new folder is a workaround that I may try, thanks.

[2016-07-19 11:42] nagno commented on #5694
That is why the static file signing is implemented, it will generate a version number in your URLs.
You can turn it on in system > stores > advanced > developer > static file settings > sign static files => yes

[2016-07-19 12:15] shayanhusaini commented on #4419
How soon is it going to be resolved???

[2016-07-19 12:38] dman311 commented on #5423
I'm also having the same issue with the menu not appearing.  I upgraded from 2.0.7 to 2.1.0, at first the upgrade would not proceed.  I was able to remove the migration tool and the upgrade appeared to be successful.  I am not able to see products on the front end and I get a server error on the back end when trying to view categories.  I'm going to pull a backup and go back to 2.0.7 until this is

[2016-07-19 12:42] andidhouse commented on #1691
@ilol

If there is no chance to make this as an option in a magento release it would be great to have a documentation explaining how to delete tel. number or make it not a required field. Many people asked for this and i can not find any official documentation here. Can you pls provide this for the moment for us?

[2016-07-19 12:43] andidhouse commented on #5302
@ilol can you pls have a look on this. i think it is really important as it is a total conversion blocker for mobile users!

thanks!

[2016-07-19 13:09] kweij opened #5698 "Dev-docs on installing and configuring Grunt incomplete"
Following the documentation on http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html I could not get `grunt` compilation of less-file to work. I figured out that copying `./package.json.sample` to `./package.json` and `./Gruntfile.js.sample` to `./Gruntfile.js` and _then_ following the steps resulted in actually installing `grunt`. However, I don't dare to make a pull

[2016-07-19 13:14] kweij commented on #5694
Thanks @nagno, that is indeed the solution to the problem I stated.

[2016-07-19 13:14] #5694 closed, assigned to nobody

[2016-07-19 13:30] ludwig-gramberg commented on #1691
just a rough overview:
in di.xml we addressed:
- `<preference for="Magento\Sales\Model\Order\Address\Validator" type="Your\Module\Model\Order\Address\Validator" />`
- `<preference for="Magento\Customer\Model\Address" type="Your\Module\Model\Address" />`
- `<preference for="Magento\Quote\Model\Quote\Address" type="Your\Module\Model\Quote\Address" />`
- `<preference for="Magento\Customer\Model\Resou

[2016-07-19 13:34] ilol commented on #5302
Thank you @andidhouse , registered to fix MAGETWO-55608

[2016-07-19 13:36] cybageabhishek opened #5699 "Create Account not working properly for Guest User : Delete operation is forbidden for current area (Enterprise Magento ver. 2.1.0)"
**Error :** Delete operation is forbidden for current area

**Steps to reproduce :**
    1. Create an address attribute from stores >> Attribute >> Customer address.
    2. Set the attribute input type as Text Field
    3. Set show in Front-end and show in Customer Address Registration and Customer Account Address forms.
    4. Set values required field 'Yes'
    5. The new text field will show up

[2016-07-19 13:43] cybageabhishek commented on #5699
Snapshot for default setup.

![mc-135](https://cloud.githubusercontent.com/assets/15210059/16951928/ba71ca76-4de4-11e6-9958-222ccc9e3e52.png)

[2016-07-19 13:49] rhiensch commented on #3386
At step 2 you can select the attributes picker icon on the left so you can re-order the attributes using drag and drop.
![f6efad08-d1d2-11e5-99c7-d0c2cb194879](https://cloud.githubusercontent.com/assets/3329416/16952166/60704302-4dc8-11e6-9cdc-d87076cf11f8.PNG)

*marked in red

[2016-07-19 13:51] AntonEvers commented on #1864
As seen in `Magento_CheckoutAgreements/js/model/place-order-mixin`

[2016-07-19 14:00] Onkovat commented on #4119
Since this seems to be a problem with magento 2 itself I tried the workaround to use requirejs. But I face some issues. The js seems to be drawn but I get errors in the console, you can see them at the bottom of my post.
Can you help me identifying the problem with my setup? Probably will help others too since it looks like requirejs is rarely used yet even by experienced mage2 devs. See my thread

[2016-07-19 14:14] dkvashninbay commented on #5613
Hi @rikterbeek ,
Currently, there are few cases/methods where getInfoInstance can be/is used. These places were left from the legacy point of view, that MethodInterface is not a service but a model which has a state over the Payment entity.

Now all valuable methods in MethodInterface get Payment entity as a method parameter, so MethodInterface becomes a service, meaning it can be used for most op

[2016-07-19 14:15] pboisvert commented on #5665
@ErikPel can you provide version information for where this issue was observed? Was this a clean install or an upgrade to latest version?

[2016-07-19 14:22] vovayatsyuk opened #5700 "Shipping radios become disabled on initial page load"
## Steps to reproduce
1. Install Magento CE 2.1.0
2. Add any product the the cart and proceed to checkout
3. Fill the Shipping address form with test values
4. Select Shipping method radio and click Next
5. Now return to the Shipping Information step and **refresh** the page in browser
## Expected result

One ajax request to `/estimate-shipping-methods` action and shipping radio should stay active

[2016-07-19 14:25] almarchenko commented on #5698
@kweij  I created the internal issue Magetwo-55613 to review the doc.
If you have more feedback about docs, you can create issues in the [magento/devdocs repo](https://github.com/magento/devdocs/issues)
Thank you for letting us know!

[2016-07-19 14:29] giacmir commented on #4119
@Onkovat Please note that using requirejs is not a workarond, is the way magento 2 is meant to work.

[2016-07-19 14:34] jernejh commented on #5101
Facing the same problem with Magento 2.1 when trying to load New Order template in backend for translation purposes.

[2016-07-19 14:42] dimaportenko commented on #4119
@giacmir thanks. I've fixed my issue with removing js from default_head_blocks.xml and using requirejs.

[2016-07-19 14:43] slavvka commented on #3572
@carmelomtb, the issue you described isn't a bug since you created a block which is cached by default. You should have added cacheable="false" to block definition in default.xml layout file.

[2016-07-19 14:47] kassner commented on #2272
@KrystynaKabannyk can you point me to the commit who fixes this issue? I still experience this problem when I use the latest commit in develop branch (989af631d7ea7365f694e5cb0003a94ab49eb54d).

Thanks!

[2016-07-19 14:54] hshar7 commented on #4432
You guys sure the admin account you're trying to login to is not locked? you can try unlocking it using bin/magento

[2016-07-19 14:59] slavvka commented on #3572
Guys, I have rechecked the problem with messages again and couldn't reproduce it. I do state that in 2.1.0 and in 2.0.8 (that is coming soon) the transport of messages was moved from session to cookies to make them show faster so messages should appear anyway.

Unfortunately we also couldn't reproduce the issue with not displaying of customer specific data. Could you please provide us an image of

[2016-07-19 15:22] mcspronko commented on #1146
Hi @piotrekkaminski

Any update on this issue?

cc: @pboisvert

[2016-07-19 15:28] piotrekkaminski commented on #1146
@mcspronko still in the queue to be fixed.

[2016-07-19 15:29] mikelevy300 commented on #5535
I had this issue as well after running the update via composer.  The root cause that got my working copy not right was Windows' pretty path.  My dev environment is on Windows 10 and it didn't register the name change in the update.  A manual name change was all it took to resolve things.

[2016-07-19 15:36] stamster commented on #5688
At least someone to confirm this issue?!
It's very easy to reproduce.

[2016-07-19 16:12] dthampy commented on #5643
@simxu, There is a patch available for customers who are facing this issue  while upgrading. Not sure if you got a chance to look at it. (MDVA-532)
http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_21-upgrade.html#tb-upgr-samp

[2016-07-19 16:31] elenleonova commented on #3018
The issue has been included into 2.0.8 release

[2016-07-19 16:32] YevSent commented on #5535
@mikelevy300, please, read [Installation requirements](http://devdocs.magento.com/guides/v2.1/install-gde/prereq/prereq-overview.html), the Windows doesn't support as OS.

[2016-07-19 17:43] dexterityzx commented on #3804
Still having this issue on Magento 2.0.7.

[2016-07-19 17:47] paragonie-scott opened #5701 "Several Cryptography Flaws in Magento 2"
See http://www.openwall.com/lists/oss-security/2016/07/19/3 for details

[2016-07-19 17:59] piotrekkaminski commented on #5701
Thanks. We are aware of the mcrypt issues and have plans to replace mcrypt with more modern library (phpseclib? libsodium?) pretty soon.

[2016-07-19 18:08] mitcht opened #5702 "Magento module:uninstall orphans any dependencies (required modules"
I have some modules that are dependent on a core module. When I use the command

`composer require stti/module-catalogbook`

Magento installs 2 modules.. Stti_Catalogbook and Stti_Catalogcore.  If i then run

[code]

Magento uninstalls the Catalogbook module, executing the routines to update the attributes and stuff i wrote, and removes the code from the vendor/stti directory. It also removes the

[2016-07-19 18:12] RSrail commented on #5219
Clearing browser cache worked for me. Cleared last 4h (firefox)

[2016-07-19 18:12] vivek201 opened #5703 "Fixes for Issue #5666 - Global Design Configuration Not Saving"
#5666

Hello,
I may have found the issue that is stopping the configuration from being saved. If you look at the if condition in [https://github.com/magento/magento2/blob/develop/app/code/Magento/Email/Model/AbstractTemplate.php#L672]
You will see that if the `$storeId` is 0, then false will be returned, which is the case here for global configuration. If I change the condition to `($storeId !== f

[2016-07-19 18:16] paragonie-scott commented on #5701
In the initial comment, you said Magento is not encrypting credit card data, but it was edited before I could reply.

I do want to point out, for the record, that [Magento does appear to be decrypting credit card data here](https://github.com/magento/magento2/blob/20875433b795db319a1681da2bb928ff90d88191/app/code/Magento/Sales/Model/Order/Payment/Info.php#L73-L97).

[2016-07-19 18:21] piotrekkaminski commented on #5701
@paragonie-scott to be exact, none of the payment methods included with Magento stores card data.

[2016-07-19 18:21] paragonie-scott commented on #5701
OK, that's good to know. I hope no plugins are using this for that purpose.

[2016-07-19 18:36] qmarlats commented on #5020
The same for me, I had this bug in 2.0.x and it's not fixed in 2.1

[2016-07-19 19:13] abdel1220 commented on #5288
hello,
this works, but i think this is not the real solution. i think there is something to be fixed in the code.

[2016-07-19 19:28] paragonie-scott commented on #5701
Libsodium is available as a PHP extension, so if you can't require your users to install it from PECL, that's probably not an option.

For symmetric-key encryption, you have a few good choices:
- [defuse/php-encryption](https://github.com/defuse/php-encryption)
- [Zend\Crypt](https://github.com/zendframework/zend-crypt)

Last I checked (which, admittedly, was ages ago, so it could have changed), p

[2016-07-19 19:38] piotrekkaminski commented on #5701
Internal ticket ID MAGETWO-39838

[2016-07-19 19:40] pboisvert commented on #5666
reopening issue as #5288 was requested to have a new ticket opened and i closed this as a duplicate of that ticket. Hence this one should still be active.

[2016-07-19 21:43] Ctucker9233 commented on #5696
I have noticed this as well.

[2016-07-19 22:01] ghost commented on #4159
@CalebWC To get the Component Manager to work, try configuring your Virtual Host to use the Magento root directory instead of `pub`. Otherwise, I'm sorry for trouble.

[2016-07-19 22:14] tipofloe commented on #5519
I had the same problem.  I flushed all Cache from Magento 2 and then reindexed and now it's working.

[2016-07-20 01:18] sky4git commented on #4921
## **The problem can be better describe like this:**

1: When you directly go to checkout page: http://example.com/checkout. Checkout page loads and no error.
2: When you go to cart page first before go to checkout: http://example.com/checkout/cart and then go to checkout page by clicking '**proceed to checkout**' button. We get error described in this issue on rules.js.

## My debug

I debugged t

[2016-07-20 02:03] sky4git commented on #4921
# Solution

just in case if store configuration for customer address is 2 or more street lines then rules.js gives the error. Change store configuration in:
**Stores > Configuration > Customer > Customer Configuration > Name and Address Options: Number of Lines in a Street Address make it 1.**

[2016-07-20 02:55] thdoan commented on #5655
UPDATE: I noticed every time you click on a swatch, there is this request:

`/swatches/ajax/media/?product_id=743&attributes%5Bcolor%5D=52&isAjax=true`

The problem is, it takes 4-5 seconds to get a response when it should be immediate since all the data that is returned is already available on the page in the `jsonConfig` object.

To fix this, I had to override the swatch click handler to look in

[2016-07-20 04:43] Whaaaaat commented on #5674
What is the benifet of this feature?
Can I disable it?

[2016-07-20 05:20] 4DallasC commented on #3650
Yeah, I'm with ClaudiuCreanga above, having to sit through the deployment of the Luma frontend every time I'm forced to re-deploy static after an upgrade, is very annoying.

I can see why the frontend/Magento/blank would be a dependency, but can't see why the frontend/Magento/luma is a dependency.

[2016-07-20 05:42] ErikPel commented on #5665
2.0.6

I think it's upgraded from 2.0.2

[2016-07-20 05:52] kishanpatadia opened #5704 "[CE 2.1 bug] Braintree payment method - error printed in sent order email"
I upgraded to Magento 2.1 CE from Magento 2.0.7 and tested order process. Order email is working in chque/money order and other payment method. But when I pay using Braintree credit card, order email is received but it has following content in email.

"We're sorry, an error has occurred while generating this email."

I tried many solution but unable to resolve it. Can you please help solving it ?

[2016-07-20 05:59] kishanpatadia commented on #5323
After enabling review module, this error will not occur.

[2016-07-20 06:00] vivek201 commented on #5288
Yeah, I looked into the Email module again and I think I might've found the issue.

I have posted an issue (#5703) regarding it. Also, I posted an explanation for it in the stackoverflow post http://magento.stackexchange.com/a/126454/32459

[2016-07-20 06:09] Onkovat commented on #4119
@giacmir That's correct but I asked alot of experienced mage 2 devs plus the thread at stackexchange and no one could help me. Do you see where the error might be or does the code look correct to you?

 I had read in sourcecode that my config was implemented in requirejs-config.js and there was require.config(config); })(); (function() { .... and .... require.config(config); })(); put around it au

[2016-07-20 06:17] Dieudon commented on #3572
Hello, I have found one cause for the two problems below:
- For the cart the summary_count variable is empty
- For the customer the fullname and firstname are empty

When using Google Chrome in "private browsing" state, no data is saved to the local storage therefore the needed data is not available for Magento. In this situation you will never see cart count and username.

But it still does occur

[2016-07-20 06:47] Styopchik opened #5705 "Wysywig wrong img directive in category edit"
## Steps to reproduce
1. Install Magento from zip archive
2. add category
3. in "content" section go to wysiwyg editor
4. Hide editor
5. Add an image (will insert {{media url="wysiwyg/content/world-map-sat.jpg"}})
6. Open category in frontend
## Expected result
1. url of an image http://domain.com/pub/media/wysiwyg/content/world-map-sat.jpg (or similar)
## Actual result
1. Image url leads to admin

[2016-07-20 06:54] Onkovat opened #5706 "Magento 2.0.7 is not creating certain files in pub/static and pub/media"
I surely can't give the steps to reproduce since I work on that installation since some time now. So it is a general question about what could make magento 2 fail to do so since it creates other files in those dirs just fine. Not sure if it should stay here as a potential bug or be moved to chat. Though I do not know how to move it anyway.

Disabling my own and another extension did not change tha

[2016-07-20 06:55] nishantkk84 commented on #815
[ERROR] exception 'LogicException' with message 'Unknown module in the requested list: 'Magento_BundleSampleData'' in F:\xampp\htdocs\Magento-CE-2.0.5\setup\src\Magento\Setup\Model\Installer.php:403 Stack trace: #0 F:\xampp\htdocs\Magento-CE-2.0.5\setup\src\Magento\Setup\Model\Installer.php(364): Magento\Setup\Model\Installer->readListOfModules(Array, Array, 'enable_modules') #1 F:\xampp\htdocs\Ma

[2016-07-20 07:00] nishantkk84 commented on #815
I am using Windows 10 OS

[2016-07-20 07:12] slackerzz commented on #5131
Canonical has updated php package in Ubuntu 16.04 to 7.0.8.

[2016-07-20 07:25] giacmir commented on #5131
@slackerzz So Canonical has been faster to upgrade the Operating System than Magento to change a single file? lol!

[2016-07-20 07:38] adragus-inviqa commented on #5131
@giacmir - yeah, hah, lol, but...

a) ubuntu's not made in PHP
b) regression testing takes a while
c) they didn't update _the Operating System_

I swear, every time I see a "lol"...

[2016-07-20 07:41] irenelagno commented on #4921
We create internal ticket to solve this issue MAGETWO-47240

[2016-07-20 09:13] liquidia commented on #5101
same issue 2.1 / php7/ nginx

[2016-07-20 09:44] johnhughes1984 commented on #2246
Happy to open a new issue for this but I'd suggest my issue is related and they could all be resolved by the same fix potentially.

### Issue

If you have any of 'Date of Birth', 'Gender' or 'Tax/VAT Number' as a required field you also cannot create an account after checkout on the success page (see attached screenshots).

I would also assume the same is true for 'Gender' and 'Tax/VAT Number' in

[2016-07-20 09:51] GordonLesti commented on #5323
From my point of view, not a valid reason to close this issue.

[2016-07-20 09:54] cytracon commented on #4096
Any news here? Same problem ...v 2.1

[2016-07-20 10:34] rpeddinti opened #5707 "Two error messages when configurable product is having low stock"
## Steps to reproduce

![low stock](https://cloud.githubusercontent.com/assets/17040177/16983613/3fd46cec-4e93-11e6-9d2f-b94e6deefabb.png)
1. Install Magento CE2.1 from magento.com
2. Add Configurable Product to the cart with higher qty .
## Expected result
1. Configurable product should display single error message.
## Actual result
1. Error message appears twice: "
   We don't have as many "Tibe

[2016-07-20 11:02] pantaoran opened #5708 "Magento Widgets only support Latin1 charset?"
I'm having trouble using Chinese titles in my widgets that I use inside static CMS pages. My Magento 2.1.0 is highly customized and I don't really have time to install a stock version right now, so I'm reporting this anyway, hoping that someone could try and reproduce it since the steps are very simple.

The real problem that I have is more complex than this, but let's start here.
## Steps to repr

[2016-07-20 11:10] pantaoran commented on #5708
I then thought that I could easily enough work around that by inserting the Chinese characters in the source view and not using the editor view. That works at first, and when I save the page I can see the correct result on the frontend.

However, the next time I open the page content in the backend, I get an error popup saying

`Attention
error: error in [unknown object].fireEvent(): event name: t

[2016-07-20 11:47] adragus-inviqa commented on #5708
/cc https://github.com/magento/magento2/issues/3860 https://github.com/magento/magento2/issues/4232

[2016-07-20 11:50] vipin-eglobeits opened #5709 "Integrity constraint violation error in Magento 2.1"
## Steps to reproduce
1. Install Magento 2.1
2. Go to admin -> Stores -> Configuration -> Sales -> Google API section
3. Change the configuration **Enable Content Experiments** to "Yes"
4. Save a configurable product and its child product consecutively.
## Expected result
1. We can save the product successfully with any number of times.
## Actual result
1. Product is not saving properly.
2. Gives

[2016-07-20 11:59] mauromm commented on #4921
@sky4git thanks!!! your solution works well! You saved me a lot of headache

[2016-07-20 12:23] PierAlex opened #5710 "Magento 2.1 where is the products return and RMA management?"
I'm surprised to discover that on Magento 2.1 there is not this functionaliy. Let me say that is a basic functionality for an e-commerce platform.
Really Magento 2.1 CE doesn't have it or am I not able to find it?
Must be considered as a feature request?

[2016-07-20 12:35] abdel1220 commented on #5706
Hello,

try to deploy static content via command: setup:static-content:deploy

[2016-07-20 13:13] Onkovat commented on #5706
Thanks for the tip @akacemy . Though I get

PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 72 bytes) in /web/vendor/oyejorge/less.php/lib/Less/Visitor/processExtends.php on line 420

for now. Restarting it let it move a bit more forward but at one point it does not go further. Need to wait until the allowed memory size was raised.

I have read a bit about tha

[2016-07-20 13:16] antboiko commented on #5691
Hi @kongkiat , thanks for reporting. We've created internal ticket MAGETWO-55702 to track this issue.

Thanks,
Anton.

[2016-07-20 13:24] jigneshkhunt commented on #3275
Hello augsteyer,

I am getting same issue in magento-2.1, have you got any solution ?

[2016-07-20 13:50] pboisvert commented on #5710
Magento CE does not have this capability now which is reserved for Enterprise edition for now. There may be extensions available for portions of this functionality and of course with Magento being extensible this could be added through customization.

[2016-07-20 13:50] #5710 closed, assigned to nobody

[2016-07-20 13:53] pboisvert commented on #5669
It is not clear the problem you are reporting or the version in which you are finding an issue. Please follow the issue reporting template and describe the version, the expected result, and the actual problem you are seeing.

[2016-07-20 13:53] j1nx3d opened #5711 "New CMS Page Not working"
## Steps to reproduce
1. Install Magento 2.1 from any source.
2. Set **Enable Single-Store Mode** to **Yes**
3. Create a new CMS Page
## Expected result
1. CMS Page is created
2. New Page can be accessible from the frontend
## Actual result
1. CMS Page is created
2. Returns 404 when trying to access the page from the frontend
## Issue

On the database the `cms_page_store` doesn't create the regist

[2016-07-20 13:57] stamster commented on #5710
This is really basic feature. @PierAlex is correct, 100%.

We should switch to OpenCart, which has all those features by default and is much more lightweight then M2.

[2016-07-20 14:22] orlangur commented on #5710
@PierAlex @stamster are you not satisfied with 3rd party extensions or just there is no free extension available?

RMA functionality was always a part of Enterprise Edition as far as I know, so, it does not look like a feature request but a request for EE module moved to CE.

[2016-07-20 14:44] brian3t commented on #4795
@hostep fix works, thanks a lot.

This is very typical of Magento.

[2016-07-20 14:49] orlangur commented on #5375
@stamster just like typo in caption on Admin UI is not a big issue, but impairs merchant experience, typo in method or comment impairs developer experience. Ideally literacy must be enforced by some test but I'm not sure this will ever happen for M2.

[2016-07-20 15:17] vjacquemin-sqli opened #5712 "Invalid block type : Magento\\Braintree\\Block\\Paypal\\Button""
On product page, Console Error : "message":"Invalid block type : Magento\Braintree\Block\Paypal\Button"

Case error in Magento\Braintree\Block\Paypal...
Folder name is Pay**P**al (with upper 'p')

[2016-07-20 15:21] abdel1220 commented on #5288
Hello,

thats worked too.
let's wait for magento team opinion.
thanks for the effort 👍 :)

[2016-07-20 15:43] Tellfjord commented on #5508
No one else with the problem that order confirmation e-mail not is sent? All the other e-mail comunication works great.

[2016-07-20 15:58] ErikPel commented on #5712
While you wait for magento 2 devs response (I'm not one). Maybe this will help you:

https://github.com/magento/magento2/issues/553

[2016-07-20 16:01] abdel1220 commented on #5706
yeah,

you are write if you are on developer mode static file should not be created.

for the PHP memory error i think you should increase the php memory limit to 768M.

try to run on production mode and generate static files using the command.

can you provide more info about the issue: web server, step to reproduce

[2016-07-20 17:09] stamster commented on #5710
@orlangur The thing is, if something is normal to be expected to be present in a core of a product, such as RMA management, then that's what it is. Why would we need 3rd party solutions, the entire point of Magento is to offer e-commerce solution with all the **basic** components. We don't require something really uncommon like very specific API gateway integration for payment, local country shipp

[2016-07-20 19:00] ideirj commented on #5669
magento 2.1
see the search_synonyms_form.xml file
 “OR”
 “shoes,footwear”
 "shoes"
“shoes"
"footwear.”

the apostrophes are not the standard " " characters

[2016-07-20 19:12] romeof1980 commented on #5462
hi there,
we've got the same issue on giustoacquisto.com:
1) 'Express Paypal' does not work (the Paypal pop-up opens then breaks before loading and closes unexpectedly) - THAT'S TURNED OUT TO BE A CORS ISSUE ON FIREFOX: we're working on it
2) 'Paypal through Braintree' does not work (on click on "Proceed on checkout" nothing happen)
3) on 'Credit Card (Braintree)' we experience the same issue as @

[2016-07-20 19:33] perryzak82 opened #5713 "Something went wrong."
When adding products i get the below error ?

Attention

Something went wrong.

[2016-07-20 19:49] PierAlex commented on #5710
@orlangur
Hi Vlad,
I think you are out of scope.
RMA is part of the basic lifecycle of modern commerce. So, Magento2 pretends to be the best platform for the e-commerce, and i'm almost more than happy  to have chosen it but this is not something that has to be moved from EE to CE, this is a feature that you expect to find for sure. In fact, i was surprised to discover that it is not included. For

[2016-07-20 19:58] pstoute opened #5714 "vault_payment_token_order_payment_link' doesn't exist"
## Steps to reproduce
1. Install Magento from zip or composer
2. set up braintree payment method
3. add product to cart
4. checkout
5. enter credit card for payment
6. place order.
## Expected result
1. Braintree to process payment and Magento order generated
## Actual result
1. Braintree processes payment
2. Magento Error  "Could not process order. Try again later"
   2a. Debug Data:
   `SQLSTATE

[2016-07-20 20:39] bonsdawende commented on #2697
Hello,
I encountered the same problem. My catalog can't display when I use Cloudflare. I try the suggested solutions by nothing changes.
As Webkul, when I used a static ip ex (xx.xx.xx.xx) it really work but not in subdomain.
How do you resolve it ? I need your help.

[2016-07-20 20:44] pstoute commented on #5714
got this "fixed" well, hacked to work for us... it seems that /vendor/magento/module-vault/Setup/InstallScheme.php doesn't utilize the install's table prefix.

Hacked lines (21-23):

[code]

[2016-07-20 21:14] pstoute commented on #5714
This doesn't resolve the issue on the admin create order area though. Just client side.

[2016-07-20 21:24] RUjmiak commented on #4030
@maksek filter by store_code not working with V1/products on Magento 2.1.0. It is working perfectly with V1/categories.

With V1/products you will receive always the same products...

[2016-07-20 21:28] RUjmiak commented on #3864
@fvschie @maghamed
http://<magento_host>/rest/<store_code>/schema&services=<serviceName1,serviceName2,..>

There should be possibility to filter by store_code liek rest/<store_code>/V1/products but it is not working. I think that it is bug.

This filtering working with V1/categories

[2016-07-20 21:45] augsteyer commented on #3275
Had to abandon the mage2 API completely & use my own, at that time I did not know mage2 well enough to fix the issue. Now I could probably solve the problem, but it would require a good amount of time to test the solution. Something I do not have, hope mage2 team acknowledges the bug though.

[2016-07-20 22:37] pboisvert commented on #5713
Can you please follow the template for reporting issues in terms of providing version information and detailed steps to reproduce the issue you are seeing? https://github.com/magento/magento2/issues/new

[2016-07-20 23:07] perryzak82 commented on #5713
## Steps to reproduce
1. When adding products, and saving,
2. edit a product and save

## Expected result
1. save and then OK?

## Actual result

![image](https://cloud.githubusercontent.com/assets/8169255/17006207/05bb2dcc-4ed7-11e6-8aa9-e1db2955e3d1.png)

[2016-07-21 01:39] johnhird opened #5715 "Problem adding attribute options that start with a number via REST Api"
## Steps to reproduce
1. Via REST API make a POST request to: /V1/products/attributes/{attributeCode}/options
2. send up new data with label and value that begins with a number e.g. "123 test"
## Expected result
1. new attribute option should be added the same as when label and value begin with a letter.
2. API result is "StatusCode: OK, Content-Type: application/json; charset=utf-8, Content-Lengt

[2016-07-21 02:25] pantaoran commented on #4232
Looks like my report in #5708 duplicates this older issue more or less. I didn't find this one when I searched...

[2016-07-21 02:26] pantaoran commented on #5708
Ah yes, looks like #4232 is pretty much the same issue.

[2016-07-21 03:21] pantaoran commented on #3572
@slavvka I got permission from my bosses to share our code/settings/environment with you for best possible cooperation on this problem. Please reach out to me by mail at [edited out] and I will see if I can supply you with anything useful.

[2016-07-21 03:32] stevekem opened #5716 "Upgrade command causes Magento 2.1.0 to crawl"
## Steps to reproduce
1. Install Magento 2.1.0
2. Run php bin/magento setup:upgrade
## Actual result
1. Causes entire site to crash to halt. CPU drops to 0% on server. Developer says server is being overwhelmed with GET requests that overloads it.

Debian 8.5
PHP 7.0.8
MySQL 5.6

[2016-07-21 04:12] Stylish015 opened #5717 "Magento 2.1.0 - Can't edit (save) products that have been csv imported"
## Steps to reproduce
1. Upgraded Magento from 2.0.5 to 2.1.0
2. Imported new products from csv using the Magento Product Importer.
3. Can't edit those newly imported products... go to save them (after making changes) using the Save and Exit, and the saving wheel comes up and goes away but the page doesn't refresh or go back to the product listing page. Just stays on the product I was trying to ed

[2016-07-21 04:43] vivek201 commented on #5288
Glad, it helped.

[2016-07-21 05:41] phuc128t opened #5718 "Braintree payment method does not work with multiple addresses"
## Steps to reproduce
1. Install Magento 2.0.8
2. Setup sandbox Braintree
3. Add products to cart and process to checkout with multiple addresses
4. Select at least 2 address at the Multiple Addresses step.
5. Select Braintree at Billing step and enter test creditcard
6. Press Place Order at review step
## Expected result

Payment should go through.
## Actual result

You will be redirect back to B

[2016-07-21 05:44] phuc128t commented on #5718
Braintree works fine with onepage checkout.

[2016-07-21 05:59] hina-patidar opened #5719 "Order comment history status time is updating to current time whenever refreshing order view page,It should be the time when comment has been added or status has been changed"
## Steps to reproduce
1. Place order in Magento 2
2. Now go to Magento admin panel and view that order.
3.  Change the order status from drop down and submit comment.
4.  Now history will be added (E.g. - "**21 Jul, 2016 5:37:28 AM**" Processing Customer Not Notified)
## Expected result
1. This given time should be time when status has been changed or when comment has been submitted.
## Actual res

[2016-07-21 06:29] vipin-eglobeits commented on #5542
We checked with a custom URL in our website and post it with the same JSON array, then we can't able to trigger the problem at all. Based on this, it seems that something internal to Magento is terminating unexpectedly before any output is issued (thus causing the fcgi errors in the log). There aren't any errors in the log indicating PHP syntax errors or other consistent fatal errors that would in

[2016-07-21 06:35] nanda1990 opened #5720 "post telephone number in cash on delivery method for otp"
post telephone number in cash on delivery method for otp

[2016-07-21 06:56] romeof1980 commented on #5462
hi there,
our issue can be related to #5511
it's a set up issue (Braintree/Paypal set up) and not a Magento issue.
We'll post a confirmation of that as soon as we complete the process.

thanks

[2016-07-21 07:08] phuc128t commented on #5718
I checked the log and see this:

Merchant account does not support payment instrument.
Cannot provide both payment_method_token and credit_card attributes.
Cannot use a payment_method_nonce more than once.
Credit card must include number, payment_method_nonce, or venmo_sdk_payment_method_code.
Cannot use a payment_method_nonce more than once.

I missed anything?

[2016-07-21 07:56] vzabaznov commented on #5497
#5184

[2016-07-21 08:24] andimov commented on #5703
@vivek201
Thank you for reporting! Could you please provide this solution using pull request?

[2016-07-21 08:27] aliantech opened #5722 "After upgrade to 2.1, i can not add new product!!!!"
After upgrade to 2.1, i can not add new product!!!!

but can editor old product

in the backend, when i click "add new product" button, the page is keeping loading page, i can not editor anything!!!! it was stuck loading page

[2016-07-21 08:57] joaotnlima commented on #5294
Thank you. ;)

[2016-07-21 08:58] RUjmiak opened #5723 "Rest Api rest/<store_code>/V1/products giving products from all store not from defined store_code"
## Steps to reproduce
1. Magento 2.1.0
2. Multistore
3. rest/store_code/V1/categories - giving categories which are in defined store_code
4. rest/<store_code>/V1/products - giving all products without filtering it by store_code
5. rest/<store code which not exists>/V1/products - giving error. So store_code is checked but with changing store_code still receiving all products
## Expected result
1. P

[2016-07-21 09:02] alena-marchenko commented on #5413
Hi @hoanglan87

Fix for MAGETWO-55057 ticket is already merged to develop branch.
Closing the issue, please feel free to reopen if the issue still reproducible for you.

[2016-07-21 09:02] #5413 closed, assigned to alena-marchenko

[2016-07-21 09:06] vishveskrish commented on #5267
Hello,

We are facing same issue after upgrade from 2.0.2 to 2.1.0.

Let me know if you found any solution.

Thanks,
Vishves Shah

[2016-07-21 09:32] antboiko commented on #5717
Hi @Stylish015 , thanks for your inquiry. We've created internal ticket MAGETWO-55749 to investigate this issue.

Best,
Anton.

[2016-07-21 09:33] wert2all commented on #5247
This is a copy of #4159 what was reopened. Thanks for reporting, closed as copy

[2016-07-21 09:35] afavata commented on #5412
I did the same... Exported a range of items and reimported them. Now  I cannot browse item catalog grid.
File in report says:
a:4:{i:0;s:87:"Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "567" already exists.";i:1;s:6983:"#0..... etc.

Thanks

[2016-07-21 09:44] gordonknoppe commented on #5379
Internal issue MAGETWO-55279

[2016-07-21 09:44] alexgran commented on #4159
Hi, you closed 5247 as a duplicate of this one. But I do have web root set to magento root, and still I get the odd unlogin message. And a warning that my webserver allows acces to files which it shouldn't, obviously.
I can set it to /pub, than I get a page not found when trying to access web setup wizzard

[2016-07-21 09:46] SupriyaVashishthaMishra commented on #25
Unable to redirect to third party payment gate

[2016-07-21 09:54] PierAlex opened #5724 "Magento 2.1 There is not a standard for displaying dates and inputs does not respect the local format"
The correct locale date format is dd/mm/yyyy

Magento
![image](https://cloud.githubusercontent.com/assets/17165819/17017759/0876e19c-4f35-11e6-8ea5-83616717ea8e.png)

in Magento standard modules, the date is not always displayed in the same way. E.g. in the order grid, the purchase date is  mmm dd, yyyy. ,..
![image](https://cloud.githubusercontent.com/assets/17165819/17018567/a172e492-4f38-11e6-8

[2016-07-21 10:08] afavata commented on #5412
Ok I deleted the 10 database rows that were duplicated during the importing process. Now catalog grid shows all items without any issue.

[2016-07-21 10:27] alexgran commented on #4159
Update: Chrome seems to be the issue, firefox works

[2016-07-21 10:29] davemacaulay commented on #5647
The Magento DevDocs also suggests that this file could be utilised by developers:
http://devdocs.magento.com/guides/v2.0/ui-components/ui-component.html

Then later on:

[2016-07-21 10:43] stamster commented on #5722
Do you got some error? I got `Unable to save Stock Item`. But the issue is related to shitty 3rd party modules, fresh install of M2.1 working fine.
I guess you might have something similar, i.e. compatibility issue after upgrade.

Did you run static di compile and content deployment?

[2016-07-21 10:43] ngashokkumar opened #5726 "Reset Password Email Issue on Multi Store from Admin"
## Steps to reproduce
1. Login to Magento Backend
2. Create Multi Store with Two Different Stores
3. Go to Magento Store Frontend in both the Stores
4. Register Customer on both the Stores from Frontend
5. Login to Magento Backend if not loggedin already
6. go to Customers -> All Customers
7. Find the Customer Id which you have Registered on the Store 2
8. Click on Edit Customer
9. Click on the Re

[2016-07-21 10:44] ngashokkumar commented on #5726
## **Solution:**

Inside the Customer AccountManagement.php Model(vendor/magento/module-customer/Model)

Inside sendPasswordReminderEmail function change
Replace:
public function sendPasswordReminderEmail($customer)
{
$storeId = $this->storeManager->getStore()->getId();

[code]

}
with:

public function sendPasswordReminderEmail($customer)
{

// Need to Get Store Id from the Customer Account
$stor

[2016-07-21 10:45] aliantech commented on #5722
yes, i have run static content deployment, but still have same problem
i don't know why this happen

:(((((((

Yasin Chen
CEO, Aliantech Trading Co.,Ltd.
+8618818806021 | info@aliantech.com | http://www.aliantech.com | Skype: Aliantech | No.30 Huiqiao 3rd Street, Guangzhou, China

From: stamster
Date: 2016-07-21 18:43
To: magento/magento2
CC: aliantech; Author
Subject: Re: [magento/magento2] After

[2016-07-21 10:53] maciekpaprocki commented on #3812
I believe errors are still could be improved:

ex:
`[2016-07-21 10:17:58] main.INFO: Cache file with merged layout: LAYOUT_adminhtml_STORE0_36f1b068ec7ccf4878f9284dd1137afd1  and handles catalog_product_prices: Please correct the XML data and try again.`

could be changed to:
`[2016-07-21 10:17:58] main.INFO: Cache file with merged layout: LAYOUT_adminhtml_STORE0_36f1b068ec7ccf4878f9284dd1137afd1

[2016-07-21 11:20] Danielc3 commented on #5639
The recommended fix on the above post did not work due to an empty collection getting passed into massAction. The issues lies around Magento\Ui\Component\MassAction\Filter. The getCollection function of this class is called within Magento\Sales\Controller\Adminhtml\Order\AbstractMassAction and then this collection is passed into massAction. The issue with what is happening within this getCollectio

[2016-07-21 11:21] tiwarimukesh commented on #5719
Same behaviour is happening in Magento 2.0.8 also

[2016-07-21 11:23] maderlock opened #5727 "Totals for invoices can all be set to exclusive except discount"
## Steps to reproduce
1. Install 2.1.0
2. Set discount to be applied to inclusive total and customer tax to be calculated after discount
3. Set invoice, order display settings to display all as exclusive of VAT
4. Place an order with a discount
5. View invoice
## Expected result
1. Subtotal + shipping - discount = grand total (excl tax)
## Actual result
1. Subtotal + shipping - discount = slightly

[2016-07-21 11:32] sasilinux opened #5728 "REST API Product Images not saving in Magento 2.1(latest stable version)"
## Steps to reproduce
1. for adding the product: [POST] http://127.0.0.1/{megentohost}/index.php/rest/V1/products/{sku}/media.
## Expected result
1. Images not storing. [Expected Http code: 200]
## Actual result
1. Error Message: Cannot save product.
   HTTP Code: 400

[2016-07-21 11:35] maderlock commented on #5727
I should note that the same issue exists in pdf. Looking at the discount values in module-sales/Block/Adminhtml/Totals.php, the correct value would be $this->getSource()->getDiscountAmount() + $this->getSource()->getDiscountTaxCompensationAmount() and similar for base. However, if I do this I end up with a 1p error in the order, though not the invoice! I thought the rounding since 1.8.1 sorted thi

[2016-07-21 12:21] sneha-sukumaran opened #5730 "Changing sort order in admin doesn't work for catalog search"
I am not sure if this is an issue, If not please consider it as a question.
## Steps to reproduce
1. Login to magento store admin
2. Navigate to Stores->Configuration->Catalog->Catalog->Storefront
3. Change Product Listing Sort by to Price
4. Goto magento store frontend and search by keyword
## Expected result
1. Default sorting should be price
## Actual result
1. Default sorting is relevance

[2016-07-21 12:48] basselalaraaj opened #5731 "FPT label not translatable in the totals on the cart page."
Add a product to the cart with a the fpt option, it will show the label and the total, but the label is not translate able.

[2016-07-21 13:02] ClaudiuCreanga commented on #5713
This is not enough info to replicate the error. Can you include more info about what you did previously? I am getting the same error, but inconsistently.

[2016-07-21 13:05] navarr commented on #5138
I updated the ticket as requested @oserediuk

[2016-07-21 13:09] navarr opened #5733 "HTTP ClientInterface does not allow sending of raw body data"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Begin writing code that interacts with an API that takes, for example, JSON as the body request
3. Investigate the \Magento\Framework\HTTP\ClientInterface to see how to send this body within the Magento framework
## Expected result
1. `post` method, or another method allows the sending of raw json or other raw data to the server
##

[2016-07-21 13:18] ClaudiuCreanga commented on #5713
For me it was related to #5418
Gone into table cataloginventory_stock_item and delete duplicates.
It is solved in develop branch so we have to wait for next release.

[2016-07-21 13:21] adragus-inviqa commented on #5733
I still don't know why they haven't settled for a 3rd party (Guzzle et al). Too many, maybe?

[2016-07-21 13:24] navarr commented on #5733
@adragus-inviqa You probably wouldn't want a 3rd party as the Interface.  Using PSR-7 perhaps - but it'd take some pretty rough refactoring, I imagine.

[2016-07-21 13:29] bartoszkubicki opened #5734 ""The configuration parameter "componentType" is a required for "advanced_inventory_modal" component"."
I have upgrade magento 2.05 to Magento 2.1, but I have old db structure - I haven't erased my old products and attributes.
Following error occurs while i click on add new Product.
Now after clean installation of magento and adding attributes again it doesn't happen - maybe it is case connected with changing version of Magento. However it should not occur this way...

I wa trying to debug this `par

[2016-07-21 13:29] adragus-inviqa commented on #5733
Didn't meant as an interface, but yeah, I forgot about PSR7. That's a no-go, indeed.

[2016-07-21 13:43] andimov commented on #5697
@peec
Thank you for reporting! Please, specify used version.

[2016-07-21 13:46] joebusby opened #5735 "Paypal checkout error: 10413-The totals of the cart item amounts do not match order amounts."
## Steps to reproduce
1. Install Magento 2.0.8 on LXC VPS with php 7 and 6 GB memory Debian 8
2. Add 97 different Configurable Products to the cart.

![rejectcart](https://cloud.githubusercontent.com/assets/16857667/17024966/d4891b32-4f27-11e6-8241-1a0b6506753a.PNG)
1. Checkout with Paypal

Expected result

Checkout should proceed
## Actual result
1. Error message appears: "The PayPal gateway reje

[2016-07-21 14:02] YevSent commented on #5712
Hi @vjacquemin-sli, if you look to [Braintree Module](https://github.com/magento/magento2/tree/develop/app/code/Magento/Braintree/Block), you will see what the correct name is `Paypal`.
Try to remove Braintree module from vendor directory and run composer update again.
Also, if you use Windows it is not supported OS for Magento.

[2016-07-21 14:02] #5712 closed, assigned to alena-marchenko

[2016-07-21 14:04] peec commented on #5697
Version 2.1.0 GA.

[2016-07-21 14:04] YevSent commented on #5714
Try to reinstall Magento, seems to `\Magento\Vault\Setup\InstallSchema` didn't run.

[2016-07-21 14:05] YevSent commented on #5735
Hi, @joebusby, please, enable debug and attach debug log to this issue.

[2016-07-21 14:07] YevSent commented on #5718
Hi, @eric128, please, enabled debug and attach debug log for transactions to this issue.
Also, Magento version <= 2.1 uses deprecated version of Braintree.

[2016-07-21 14:08] andyworkbase commented on #4771
Any updates on this feature?

[2016-07-21 14:13] nmallepally opened #5736 "cannot refresh lifetime statistics on best sellers on 2.0.7"
Hi,

On magento 2.0.7 install, it gives me an error refreshing lifetime stats for bestsellers and does not generate best sellers report. It will only show the report on the day i refreshed last day statistics. rest all days it will be empty.
![refresh_statistics](https://cloud.githubusercontent.com/assets/19605497/17025832/99dec79c-4f55-11e6-9644-7bbfb1827f95.png)
![best seller reports](https://cl

[2016-07-21 14:18] YevSent commented on #5435
Closing this issue due to no response, please reopen when you have an update.

[2016-07-21 14:18] #5435 closed, assigned to alena-marchenko

[2016-07-21 14:19] flancer64 opened #5738 "SearchCriteriaBuilder builds wrong criteria (ORDER BY part)"
Empty SearchCriteria causes the error in `\Magento\Framework\Data\Collection\AbstractDb::_setOrder`
Target SQL has wrong `ORDER BY` clause (without any field inside):

[code]

This is the code to get error:

[code]

Method \Magento\SalesRule\Model\RuleRepository::getList adds order for $filed=null:
![mage2_set_order_getlist](https://cloud.githubusercontent.com/assets/5052385/17025915/c5b83e64-4f66

[2016-07-21 14:19] stamster commented on #5688
Thanks @andimov !

[2016-07-21 14:20] andimov commented on #5516
Closing this issue due to no response, please reopen when you have an update.

[2016-07-21 14:20] #5516 closed, assigned to nobody

[2016-07-21 14:21] pstoute commented on #5714
@joni-jones I installed a fresh copy on our server to be sure the install went through successfully and the second install had the same errors.

Installed the second copy from the .tar.gz and the web installer.

Is there a way to run just that section? everything else seems to function perfectly.

[2016-07-21 14:21] flancer64 commented on #5738
These are the variables in the `\Magento\SalesRule\Model\RuleRepository::getList`:
![mage2_set_order_vars](https://cloud.githubusercontent.com/assets/5052385/17026087/80b2ee26-4f67-11e6-88f3-d8bb6942daea.png)

[2016-07-21 14:26] YevSent commented on #5714
Do you try to install 2.1 version or develop? On the installation step, did you use table prefixes? If, yes, try to install without them.

[2016-07-21 14:35] stamster commented on #5733
Another very basic function missing. On Magento 1.x, anyone has idea whenever this was possible? I can bet it was.

[2016-07-21 14:37] pstoute commented on #5714
2.1
I've tried the following two files. Not including the original install from before this latest update... the original install took place back on 06/23/2016 but the main install was without the sample data.

Magento-CE-2.1.0_sample_data-2016-06-23-02-32-34.tar.gz
Magento-CE-2.1.0_sample_data-2016-06-23-02-32-34.zip

[2016-07-21 14:49] piotrekkaminski commented on #3812
@maciekpaprocki  i will ask it this can be done.

[2016-07-21 15:06] rhiensch commented on #4795
@hostep i'm getting an error trying to enable the module:

Executing the following command:
`php bin/magento module:enable Vendor_TempSetupDiCompileFix`
gives me the following error:
`Unknown module(s): 'Vendor_TempSetupDiCompileFix'`

[2016-07-21 15:11] codelogn commented on #4969
Thanks, the code for the fix worked for my custom checkout module too.

[2016-07-21 15:18] piotrekkaminski commented on #5716
Did you disable traffic to site/put it in maintenance mode during upgrade @stevekem ?

[2016-07-21 15:18] piotrekkaminski commented on #5716
cc @choukalos

[2016-07-21 15:18] rhoerr commented on #5350
Same problem here.

[2016-07-21 15:19] Modoperator commented on #5555
Resolved this issue by alerting hosting company to issue. They did some research and made some updates to the mod_security settings, which resolved this.  The POST action to the URL was being blocked in the mod_security.   Hosting company is Nexcess.   This may affect others, leaving this here as solution for anyone else who runs into this.

[2016-07-21 15:19] #5555 closed, assigned to nobody

[2016-07-21 15:34] daniel-ifrim commented on #5350
I've done a hack into that foreach:

[code]

The page renders but I can't save the product. I get this error:
`Update with id "0" does not exist.`
Message is from Magento\Staging\Model\UpdateRepository::get() function.
Also noticed in staging_update table that I had in `id` column a timestamp value 1467394728 which is actually what is in start_time also. I've created a campaign to test previously.

[2016-07-21 15:37] Serhiy-Nazarov opened #5739 "REST API Product create very slow"
Hi! I am develop integration with ERP. But have many problem with import large product catalog to Magento (2.1 from composer metapackage.)
REST API Product create very slow - import one thousand products more 15 min.
(post request to /rest/V1/products).
Internal csv import work fast, but I can't start him remote. Also this way, there is no way to create the attributes and attribute_sets.

Solve th

[2016-07-21 15:41] jasonyip2014 commented on #5350
Firstly, the issue should happen for the products using custom attribute sets. You just need to go to the database to fix the schedule design update attribute group in the custom attribute sets and then you should be able to access the product edit page. After that, you may be not able to save because of another issue - "Update with id "0" does not exist.". For this following issue, you can solve

[2016-07-21 15:45] PierAlex opened #5740 "Magento 2.1 Error queuing a newsletter. Unrecognized date format"
Magento 2.1 Locale Options:
![image](https://cloud.githubusercontent.com/assets/17165819/17028974/ad8ac250-4f69-11e6-858a-edaa460ff5b6.png)

Steps to reproduce
1. In marketing->Communications: Create a newsletter template ore use an existing one
2. From "Action" select: Queue Newsletter
3. Fill the form. The Calendar datetime picker fill the "Queue Date Start" field with the format dd/mmm/yyyy ...

[2016-07-21 16:10] BenGlassAtlas commented on #3890
@pboisvert @choukalos - Any update please? This has been going on for a while (sorry for asking again but this is proving to be pretty problematic).

[2016-07-21 16:27] MidnightDesign commented on #5223
Clearing the cache (in my case Redis, not var/cache/) helped.

[2016-07-21 16:53] orlangur commented on #5617
@werdlv you didn't read the http://devdocs.magento.com/guides/v2.0/architecture/versioning.html carefully. Only methods marked with `@api` are guaranteed to remain compatible. You customize anything besides this at your own risk.

Also, https://github.com/magento/magento2/issues/4228#issuecomment-232931191 may give you some insight on what is going on with BC policy/painful upgrades.

[2016-07-21 17:27] davidalger commented on #5617
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions and discussion. Closing as off-topic.

[2016-07-21 17:27] #5617 closed, assigned to nobody

[2016-07-21 18:14] nickmarx12345678 commented on #4737
@eug123 I'm also having this issue, but I don't see emogrifier as a dependency in our `composer.json`

any other suggestios?

[2016-07-21 18:15] nickmarx12345678 commented on #4737
@eug123 update, it may be a sub-dependency. In our composer.lock, emogrifier as version 0.1.1

how would you recommend proceeding to get that version bumped to 1.0.0?

[2016-07-21 18:18] s00071609 opened #5743 "Magento Multi-Store Sample Data CMS Block Not Working in One of the Stores"
We have 2 websites running from same installation. Installed sample data which worked fine. Products were installed but cmspages and blocks from sample store was not installed. When i manually copied a sample block code to the second store (not default), it worked but the same static block when inserted into the default store, it could not recognize the block codes/buttons etc.

The strange thing

[2016-07-21 18:24] valenciaisaza commented on #3619
Hi @piotrekkaminski

The same problem reported by @barbanet for M1 is happening in M2

Here is the link with the explanation of the problem in the comments [Issue #8461](https://www.magentocommerce.com/bug-tracking/issue/index/id/1200)

The missing pattern es_419.xml or in each of your children is:

`<decimalFormats numberSystem="latn">
    <decimalFormatLength>
        <decimalFormat>

[2016-07-21 18:40] justyn-clark opened #5744 "Magento 2.1 Cannot access/edit Blocks, Pages, Catalog and Categories from backend"
In the backend the Blocks, Pages, Catalog and Categories pages fail to load and remain stuck loading resulting in the inability to edit these pages.

![screen shot 2016-07-21 at 10 13 48 am](https://cloud.githubusercontent.com/assets/11221796/17034434/894def16-4f37-11e6-828c-f74a43a54fa5.png)

[2016-07-21 18:49] paales opened #5745 "When tier price qty above 1000 adds a thousand separator in the Admin Panel"
# Steps to reproduce
1. Install Magento 2.1
2. Set the language to something european (dutch in this case)
3. Create product with a tierprice with qty `1000`.
4. Save the product
# Expected result

The tier qty field should have qty `1000`
# Actual result
1. The tier qty field has a qty `1.000`
2. Saving the product sets the qty to `1`

[2016-07-21 18:51] c11media commented on #1030
I simply changed the <?php if ($block->getShowAddressFields()): ?> **TO** <?php if ($block->setShowAddressFields(true)): ?> in register.phtml in the core magento (even though it should be done on the theme level but the address fields just weren't showing through the UI and I have a very heavy there) /public_html/vendor/magento/module-customer/view/frontend/templates/form

you'll notice i didn't c

[2016-07-21 19:32] ghost commented on #5377
Is there any update on a proper fix for this?

[2016-07-21 19:36] dapdx opened #5746 "Error when saving product with image - Magento 2"
Not able to save any products with images. Clean Magento 2.1 install.

Here is the error I'm getting

Warning: DOMXPath::query(): Invalid expression in /chroot/home/customb1/custom.breweryapparel.com/html/vendor/magento/framework/Config/Dom.php on line 273

Products with no images save fine. Any help would be greatly appreciated.

[2016-07-21 19:46] springimport opened #5747 "How can I add a custom attribute in REST API?"
### Question 1:

I'm trying place an order using Magento 2 API.  I have a custom attribute that I want to submit along with this.
I tried submitting the custom attribute.

[code]

But it comes back with the error below:

[code]
### Question 2:

I'm trying to add a custom field to the following:
1) `[GET] /V1/orders/{id}`
2) `[GET] /V1/orders`

How can I extend `Magento\Sales\Api\Data\OrderInterfac

[2016-07-21 20:26] zhiyicai opened #5748 "How to increase the quality of product photos JPG (Magento 2.1)"
The JPG compression on Magento 2.1 is very strong, so that the quality of product images get really bad in Catalog and Product view. How can I change the Image compression for JPG's in Magento 2.1 ?

[2016-07-21 20:57] flnative opened #5749 "[2.1] Magento Web Setup Wizard Missing Buttons and CSS Rendering Broken"
## Steps to reproduce
1. Upgrade from 2.07 to 2.1 thru Web Setup Wizard
2. Launch Web Setup Wizard
## Expected result
1. Display the Web Setup Wizard page
## Actual result
1. Missing buttons (no component update button, upgrade button or configuration button)
2. Top menu repeats itself (Firefox)
   ![fireshot capture 45 - - http___dutchhar nextmp net_setup_](https://cloud.githubusercontent.com/ass

[2016-07-21 21:08] stevekem commented on #5716
This is a test site so only I am accessing it, no other traffic.  I didn't enable maintenance mode when running upgrade but now after trying it, it seems by doing so prevents the issue from happening (only tried twice though).  Thanks for the heads up.

If this isn't a bug, maybe consider it a feature request as none of the extensions we installed mentioned enabling maintenance mode first or we wo

[2016-07-21 22:40] s00071609 commented on #4015
Its due to caching - if you use CDN like cloudflare there could be the problem. Re run the code compile if you can get it to work

[2016-07-21 22:42] ghost opened #5750 "Cannot Create Products in Magento 2.1.0"
## Steps to reproduce
1. Install Magento 2.1.0 from Command Line (developer mode).
2. Navigate to Magento Admin.
3. Navigate to Simple Product creation page through Magento Admin Panel.
## Expected result
1. Page displays Simple Product attributes to be set and saved.
## Actual result
1. Error message appears:

"Method 'getExtensionAttributes' must be overridden in the interfaces which extend 'Mag

[2016-07-22 01:39] phuc128t commented on #5718
See attached. I shipped to two addresses in this case. The first one went through but the second was not.
[debug.txt](https://github.com/magento/magento2/files/377299/debug.txt)

The man from Braintree said below:
"Unfortunately, a payment method nonce can only be used once. And even if not used, it will expire after 3 hours. There is no setting to override this.
Generally if what you’re trying to

[2016-07-22 06:24] ravibhalodia commented on #5495
Above solution doesn't worked. I tried in 2.1 version, however user still need to click 2 times to view sub categories. Any workaround for this issue?

[2016-07-22 06:58] YevSent commented on #5718
No. Current implementation of Braintree not compatible Magento versions  <= 2.1.

But, in the case, if you will upgrade to Magento 2.1, Braintree won't be available as a payment method for Multi Address Checkout, because payment nonce can't use twice.

[2016-07-22 07:01] Styopchik commented on #1931
Still waiting

[2016-07-22 07:03] Stylish015 commented on #5717
We have now managed to have this fixed!

It ended up being a "POST ?isAjax=true 404 Not Found" error when saving changes with a product.

With Google searching and help from the our hosting company we found that it was an issue with the mod_security settings. They changed the settings to allow the page to be saved. Now all is working fine with this.

Thanks.

[2016-07-22 07:03] #5717 closed, assigned to nobody

[2016-07-22 08:06] antboiko commented on #5655
Hi @thdoan , thanks for reporting this. We've created internal ticket MAGETWO-55815 to fix this issue.

Best,
Anton.

[2016-07-22 08:22] angelorgoc opened #5752 "Deployment of sample data"
Hi All,

I've experienced an error while deploying the sample data using the CLI command.

Below is a screenshot
![image](https://cloud.githubusercontent.com/assets/20515215/17050960/6f2821fa-5028-11e6-9088-4b123af5d4f3.png)

Thank you in advance.

[2016-07-22 08:25] maderlock opened #5753 "Split up large checkout templates to allow adding more content"
Surprisingly, given the proliferation of files in the checkout's frontend interface, it's hard to insert new blocks. Taking the shipping step as an example, the only options are points already specified within the _single_ shipping template that outputs the shipping address form, shipping method form and the next button. Therefore while you can insert content within the shipping method block (as t

[2016-07-22 08:28] maderlock commented on #5746
I suspect that you have not completed installation, with this error. Have you run both composer install and bin/magento setup:install?

(btw, I do not think that this is a bug with Magento, so please ask for help on Stack Exchange if you need further help on this)

[2016-07-22 08:44] Krapulat commented on #5651
I have the same problem.

[2016-07-22 09:01] ILinKI opened #5754 "Clic on a product generates 404 not found"
Hi all !
I have some problems with the product urls.
I import 200 products from a csv file.
All products get quantity and are "In stock".
So I can see all the products appear in my listing products.
The problem is when I click on any products, it generates a 404 not found instead of details product page whereas all urls of each products are well stocked in url_rewrite in the database.

I found a "

[2016-07-22 09:03] tudn9x opened #5755 "Magento 2.0.8 Cannot run command after install"
Hi all, I need your help
## Steps to reproduce
1. Install Magento 2.0.8.
2. Run command sudo php bin/magento cache:flush
## Expected result

Show list cache have flushed
## Actual result

[InvalidArgumentException]
There are no commands defined in the "cache" namespace.

And similar with command named "setup", "index". This is screenshot: http://prntscr.com/bw1pvi

Anyone help me? Thanks

[2016-07-22 09:05] addison74 opened #5756 "Improve Categories Tree"
Please change how Categories Tree looks. It is like Windows 10 at the beginning with Windows 7 features. Give up gradients in folders icon, just plain color. Make the icons bigger without magnifying glass. Use colors which fit in the current theme (those yellow's, blue's are not in color wheel as options).

See image bellow how this feature is now:

![category_tree](https://cloud.githubusercontent

[2016-07-22 09:07] antboiko commented on #5696
Hi @peec , thanks for the suggestion. I've added internal ticket MAGETWO-55823 to our backlog.

Best,
Anton.

[2016-07-22 09:09] pratikkamani commented on #5478
I have same issue ..
Can we direct replace this icon from FTP . and after compile magento it will effect ?

[2016-07-22 09:11] tudn9x commented on #5755
I'm sorry, my module.xml was wrong

[2016-07-22 09:11] #5755 closed, assigned to nobody

[2016-07-22 09:15] addison74 opened #5757 "Product Reviews section in Product"
1) The number of columns is pretty big. You can get rid off Visibility, Product, SKU columns

2) If you still want keeping those columns, there is an issue with special characters in Product column. ™ appears incorrect &trade

![product_review](https://cloud.githubusercontent.com/assets/8360474/17052249/5351f8ca-5005-11e6-9299-548deedcaf3c.jpg)

[2016-07-22 09:16] antboiko commented on #5756
Hi @ADDISON74 ,thanks for the feedback. We already have internal ticket MAGETWO-50647 in our backlog to improve Categories Tree design.

Best,
Anton.

[2016-07-22 09:24] antboiko commented on #5757
Hi @ADDISON74
Sorry, I didn't get the first concern. Could you please clarify and provide expected result?

Thanks,
Anton.

[2016-07-22 09:57] angelorgoc commented on #2604
hi @tonegolf71, I followed your instructions and the command works. thanks

[2016-07-22 10:01] grasdaggel commented on #5606
*\* friendly reminder *\* nobody has taken a look at this ticket for 10 days straight. Any Idea when we can expect an update on this?

[2016-07-22 10:08] i-com-davidwalsh commented on #4439
I'm also getting the same issue

Magento version 2.1 using Luma theme

**Steps**
1. Add a product to your wish list
2. Create account

The product appears on the wishlist page but its does not synchronize the mage-cache-storage to display in the info in the sidebar wishlist.

On top of this, if you then add the product to your cart from the wishlist this also doesn't update the mage-cache-storage,

[2016-07-22 10:30] grasdaggel commented on #5606
The problem and the problem is documented here: http://magento.stackexchange.com/questions/97130/magento2-unable-to-save-catalog-config

[2016-07-22 10:38] daniel-ifrim commented on #5350
@jasonyip2014 This works. I did as you said:
1)
UPDATE `eav_attribute_group` SET `tab_group_code` = "advanced", `sort_order` = 55 WHERE `attribute_group_code` = "schedule-design-update";
`// This will update default attribute set too but it should have these values already.

2) And moved in admin 3 attributes in each custom attribute set:
- custom_design_from
- custom_design_to
- custom_design
- c

[2016-07-22 10:42] lhsatch commented on #5183
Hi,
I have a similar problem. I installed Magento 2 (2.0.1)via composer using the repo.magento.com on a WAMP using php 5.6.16. When going to the cart I get the following error
`1 exception(s):
Exception #0 (Exception): Warning: Magento\Framework\Locale\Format::getPriceFormat(): Cannot load resource element 'default' in C:\wamp64\www\magento2\vendor\magento\framework\Locale\Format.php on line 112

[2016-07-22 11:07] ivanyord opened #5759 "Admin page menu & buttons not working"
## Steps to reproduce
1. Install Magento 2.1.0
2. Log in the admin panel
3. Try to click anything from the left admin menu and nothing happens, the menu is not expanding with the additional options. The Dashboard button is working always.
## Expected result
1. When clicking the buttons there should be a menu expanding with additional buttons to navigate in the admin panel
## Actual result
1. Nothi

[2016-07-22 11:14] paales commented on #5187
Hmm, I'll have to check if the problem is solved when disabling/reenabling the module so that the module orders get properly set in config.php

[2016-07-22 11:29] cizgidekiadam opened #5760 "In version 2.0.8, fatal error while accessing an attribute with object manager"
## Steps to reproduce
1. Clean install with 2.0.8
2. Attribute added via admin
3. Try to access attribute with an object manager (AttributeId 132 is exist): <br/>

`include('app/bootstrap.php');
$bootstrap = Bootstrap::create(BP, $_SERVER);
$objectManager = $bootstrap->getObjectManager();
$attributeColor=$objectManager->create('Magento\Eav\Model\Entity\Attribute');
$attributeColor->load(132);
`
##

[2016-07-22 12:00] lhsatch commented on #5183
I have just changed to production mode and although it doesn't generate an error I only see the luma logo and the footer. In the system.log I get the below error:
`[2016-07-22 11:57:14] main.CRITICAL: Warning: Magento\Framework\Locale\Format::getPriceFormat(): Cannot load resource element 'default' in C:\wamp64\www\magento2\vendor\magento\framework\Locale\Format.php on line 112 [] []`

[2016-07-22 12:15] Onkovat commented on #5706
It's strange... the phpinfo.php shows that the memory_limit is higher now. Though the error message still claims php could not get the needed amount. The cli though has a different php.ini and in there the memory_limit is even unrestricted. I'm not sure where this limit comes from. I mean it has to do with php, right? I think it's a virtual server to allow php in the version area that mage 2 needs

[2016-07-22 12:27] OwenRay opened #5761 "Single page checkout fatal error in 2.1.0"
## Steps to reproduce
1. Install Magento from `2.1.0` branch.
2. I've got two shipping methods
3. Add products to cart
4. Go to the cart page
5. Go to the single page checkout
## Expected result
1. Page loads
## Actual result
1. Page freezes with a spinner
2. Console error: validator.js:38 Uncaught TypeError: rule.handler is not a function

---

When going to the checkout page directly, the issue

[2016-07-22 12:32] OwenRay commented on #5761
For anyone facing this issue:
I've fixed for now by overwriting validator.js in my theme,
using the original file and adding

[code]

[2016-07-22 12:54] etessari opened #5762 "Magento EE 2.1.0 'Configurable product "%1" does not have sub-products'"
## Steps to reproduce
1. Create configurable product with no simple products associated
2. Associate product to category
3. Save category
## Actual result
1. Exception: Configurable product "%1" does not have sub-products

The problem is with the method, cause the configurable product has no child:

[code]

[2016-07-22 13:31] webkulabhi commented on #1393
[code]

[code]

[2016-07-22 13:41] JOHAN-FRYK commented on #5750
I had the same problem, I notice that the price attributes does not appear among the product attributes.. The save button does not work for me so I don´t get any error msg.

[2016-07-22 13:51] andimov commented on #5271
@zhiyicai According to contributor guide, tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-22 13:51] #5271 closed, assigned to andimov

[2016-07-22 13:56] coolocean opened #5763 "Bug: Double products getting added to the cart"
1.  Using Php 5.6
2. Magento 2.1.0
### Steps to reproduce
1. Click on add to cart button for any product.
2. The product gets added to the cart and cart icon on top of page shows 1.
3. When you click on the cart icon on top of page it shows the product which was added and another product which was not added in the cart.
4. The second product is added by random.
### Expected result
1. Only 1 produc

[2016-07-22 13:57] ghost commented on #5706
`phpinfo.php` shows the PHP configuration for the web server plug-in. `php --ini` shows the configuration for the PHP CLI. If they are different, use the same settings in both `php.ini` files. You should at least try to set `memory_limit` to a value other than `-1` to see if it makes any difference.

[2016-07-22 13:59] antboiko commented on #5745
Hi @paales , thanks for reporting this issue. We've created internal ticket MAGETWO-55847 to fix it.

Best,
Anton.

[2016-07-22 14:55] MomotenkoNatalia commented on #3650
Hi guys!
Looks like we already have internal task for this - MAGETWO-49510

[2016-07-22 15:01] EA3HZZ commented on #5596
Same problem here. This needs to be reviewed why is not injecting the google analytics code...

[2016-07-22 15:03] #4593 closed, assigned to MomotenkoNatalia

[2016-07-22 15:06] almarchenko commented on #5698
@kweij Thank you!
This info was initially in docs, but got lost when we published the docs for Magento v.2.1((
I added the info again, thank you!
http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html

[2016-07-22 15:34] tadhgbowe opened #5764 "Data Migration Tool EE 1.13.0.2 to 2.1.0 - getting errors when migrating data."
Hello.

I have a brand new EE 2.1.0 install with the data migration tool installed.

I want to migrate data across from an EE 1.13.0.2. I've set up my config and mappings. It worked fine with a 2.0.7 site when I tested a month ago but fails with 2.1.0. Can you help?

The settings migrate across fine.

But when I run:

bin/magento migrate:settings /sites/m2eetest/vendor/magento/data-migration-tool/

[2016-07-22 15:50] debreak opened #5765 "Notice: Undefined index: fieldsets when change category"
When i change an existing category or ad a new one, i get this error! Can anybody help?
It's magento 2.07

Notice: Undefined index: fieldsets in /html/magento2/vendor/magento/module-catalog-search/Model/Indexer/IndexerHandler.php on line 187

[2016-07-22 16:03] MomotenkoNatalia commented on #493
@SKovbel
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-22 16:03] #493 closed

[2016-07-22 16:03] hostep commented on #5716
Magento should clearly define all steps in the documentation to deploy to a production server and when to enable maintenance mode and when to disable it.

Relates to: https://github.com/magento/devdocs/issues/419

[2016-07-22 16:11] pboisvert commented on #5716
closing issue as there is not specific issue here other than the documentation which already has an open ticket against referenced in the devdocs issue referenced above. We need to push that one along.

[2016-07-22 16:11] #5716 closed, assigned to nobody

[2016-07-22 16:15] crantron opened #5766 "Unexpected Preprocessor Behavior"
- Branch 2.1
- Custom theme proprossor folder structure overrode magento2-base vendor folder.

**Preconditions**
- Centos 7.2
- PHP 7
- Apache 2.4

**Steps to reproduce**

[code]

**Expected result**
Theme `<lib>`should inherit vendor `<lib>s'` files as long as they're not named the same.

**Actual result**
Vendor `<lib>s'` files are not included in the Preprocess Fallback Process, thus random les

[2016-07-22 16:24] rganin commented on #4061
Fixed in 2.0 branch. Not reproduced in 2.1 and develop.

[2016-07-22 16:24] #4061 closed, assigned to tanya-soroka

[2016-07-22 16:24] rganin commented on #5584
Fixed in 2.0 branch. Not reproduced in 2.1 and develop.

[2016-07-22 16:24] #5584 closed, assigned to nobody

[2016-07-22 16:27] piotrekkaminski commented on #3812
@maciekpaprocki it's a problem in most cases since validation is done on already merged file that no longer references the original files. We will add paths in places where it is possible.

[2016-07-22 17:49] POLYPERFORMANCE commented on #2966
I'm having a similar issue saving content that contains javascript to Pages and Blocks in M2.1, 2 stores.

content -> pages -> edit (home) -> save page -> You saved the page! (Content: text only)
content -> pages -> edit (home) -> save page -> 404 error: Page not found. (Content: text + javascript)

I get "404 Page not found" when I only input `<script></script>` into the Content field.

[2016-07-22 18:21] gamort commented on #5638
@arunkrsigmainfo do not use http, use https - directPost means precisely that, the payment is posted directly to https://test.authorize.net/gateway/transact.dll - your browser is not going to support mixing http and https on the same page.  Whether or not you get lucky with one site working and another site failing is irrelevant.   The configuration is not supported and against Authorize.net polic

[2016-07-22 18:38] gamort commented on #5642
@arunkrsigmainfo  Your payment processor setup is invalid.  Moreover as with the 2.0 bug you had checking out from an http form while submitting via authorize.net directpost is not supported.

In this case at least the error message is quite clear: your server is blocking authorize.net from confirming the order.

Steps to confirm:
Use Google chrome
Go to Checkout, enter shipping information and co

[2016-07-22 18:42] gamort commented on #5638
See https://github.com/magento/magento2/issues/5642 for a detailed debugging steps.
In this case you have submitted the form to authorize.net and authorize.net was even able to get a response from your server.  It therefore returned something almost usable to the client.  However since this "almost usable" response contains a bunch of http links, and it is being loaded by an iframe that is posting

[2016-07-22 18:42] #5643 closed, assigned to nobody

[2016-07-22 18:44] dexterityzx opened #5768 "Magento 2.0.7 XML sitemap is not generated by schedule"
### Preconditions
1.  Magento 2.0.7
2.  Cron job is working. I've checked the cron_schedule table, but nothing like "sitemap" is in the table.
### Steps to reproduce
1. go to admin>store>configurtion>catalog>xml sitemap
2. turn on generation and set up time.
### Expected result
1.  generate sitemap in magento root folder.
### Actual result

no xml sitemap is found. Below is my settings.
1. Cron se

[2016-07-22 19:53] jarhody commented on #4154
Anything new on this? Kind of a bummer.

[2016-07-22 21:20] asrob opened #5769 "[2.1] Receiving new order email"
### Preconditions

1. Fedora 24 Server Edition, Apache 2.4.23, PHP 5.6.23, MariaDB 10.1.14
2. Magento 2.1.0, installed via composer

or
1. CentOS 7.2.1511, Nginx 1.10.1 (latest stable from nginx.org), PHP 7.0.8, Percona 5.6 (latest stable from percona.com)
2. Magento 2.1.0, installed via web installer
### Steps to reproduce

1. Install Magento 2.1 CE
2. Create a simple product
3. Order it (e.g. fl

[2016-07-22 21:50] lucas-santos-chaordic opened #5770 "Catalog Rule Product Index is not reindexing after save - "update on save" mode set"
### Preconditions

After editing a catalog rule, the rule is never applied, even the index mode for all the indexes are set to update on save. All the other indexes are workin as spected.

We also tested using a docker with a very clean instalation of version 2.1 and had the same issue
1. Running on AWS
2. PHP7
3. NGINX and PHP FPM
4. Using RDS
### Steps to reproduce

It is easy to reproduce.
1. S

[2016-07-22 22:15] Jrb1x opened #5771 "Cannot programmatically set product stock after product creation in 2.1.0"
### Preconditions
1. Clean install of Magento 2.1.0
2. PHP 7
3. MySQL 5.6
4. Code works fine on 2.0.4
### Steps to reproduce
1. Create a product
2. Load product `$product->load(1)`
3. Attempt to update product stock:

[code]
### Expected result
1. The product should update its stock data and set to manage stock as true.
### Actual result
1. The product does not change stock data and does not throw

[2016-07-23 00:41] love1106 opened #5772 "Magento 2 has been stuck when create sub category"
![image](https://cloud.githubusercontent.com/assets/7650991/17074702/e2e7ba08-50a8-11e6-9cb3-37e322c845fa.png)

[2016-07-23 05:53] asrob commented on #2470
I agree with @markoshust. I installed Magento 2.1.0 via cli and everything was fine, using MariaDB 10.1.14.

[2016-07-23 05:58] arijit-de93 opened #5773 "Website is not getting during product GET Api and no website field for Product POST Api"
Steps to reproduce
For Product GET:-
1. Create a product in magento 2
2. Pull the product using REST Api
For Product POST:-
1. Try creating a product using REST Api in magento2

Expected result
For Product GET:-
1. There should be field called 'website_id' to know which website_id in linked with that particular product.
For Product POST:-
1.There should be field called 'website_id' to link that pr

[2016-07-23 07:47] NZLNick commented on #2966
I have the same issue as Polyperformance
Version 2.1.0 Magento running on nexcess servers.
Any content with javascript I can open, edit but as soon as I save, returns 404 error page.

Any thoughts?

[2016-07-23 09:10] deangite commented on #5421
Its browser caching issue. Try to clear browsing data. I had the same issue with loading forever in product->catalog

[2016-07-23 11:37] markshust commented on #2470
this ticket should be closed as a dupe of https://github.com/magento/magento2/issues/1906

[2016-07-23 13:01] Melvin-de-Jong commented on #5196
Hi,

We are having the same issue on a server. We did a clean install from Plesk 12.5 applications menu, we are running PHP 7.0.8 as FPM application served by Apache, MariaDB 10.1.14, on centos7 and Plesk 12.5.

We find the problem in the admin area of Magento 2.1.0 in pages and blocks overview.

![screen shot 2016-07-23 at 14 44 49](https://cloud.githubusercontent.com/assets/7561214/17077937/08d3

[2016-07-23 13:32] yangsystem opened #5774 "Tier price and custom options give bad results"
### Steps to reproduce
1. Create a product with base price
   ![image](https://cloud.githubusercontent.com/assets/6049104/17077997/9538bcac-50ef-11e6-85bc-23a366bf4ae4.png)
2. Create a tier price
   ![image](https://cloud.githubusercontent.com/assets/6049104/17078048/cf652b58-50f0-11e6-994a-c939a8162c6f.png)
3. Create 2 custom options
   ![image](https://cloud.githubusercontent.com/assets/6049104/

[2016-07-23 13:33] ghost commented on #5752
See issue #2604

[2016-07-23 14:32] mustdobetter opened #5775 "Separate fields for allow billing countries, and allow shipping countries"
In mulit-store, multi-locale setups, often merchants need to limit the the shipping destinations of orders to specific countries, whilst allowing any billing country to be chosen. As Magento only supports the filtering of both shipping and billing countries from one field, this is currently not possible.

[2016-07-23 14:36] chintan1988 opened #5776 "Not showing catalog module and not able to add product or view imported products."
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

![image](https://cloud.githubusercontent.com/assets/19305093/17078449/ef538796-5110-11e6-8cc4-de45f4c33765.png)

[2016-07-23 16:42] jacquesbh opened #5777 "The customer is loaded even if no customer's ID in session"
I'm playing with performances issues.

One of them (too much to write an issue for each) is that the Customer is loaded on each page, event if the customer isn't logged in!

There is no test about the possibility of having a customer's ID equal to `null` in the source code.
### Preconditions
1. Magento EE 2.0.2 (but doesn't matter, it is in CE too…)
2. Nginx / PHP5-fpm
### Steps to reproduce

The

[2016-07-23 16:43] Onkovat commented on #5706
It was really an error in chosing the wrong php.ini. The deploying runs through fine now though even when running setup:upgrade before and then running the deploy with the correct language... it does not change a little bit. It still shows these errors in chrome console:

`Error parsing header X-XSS-Protection: 1; mode=block, 1; mode=block: expected semicolon at character position 14. The default

[2016-07-23 19:30] Ctucker9233 commented on #4795
Just ran into this issue myself. Any word on a patch?

[2016-07-23 21:25] addison74 commented on #5757
Column named Product is useless, because it is clear you're reading reviews related to that product. But it is a feature from Magento 1.

[2016-07-23 21:53] ghost commented on #2604
Thanks for pointing this out. I added some [troubleshooting](http://devdocs.magento.com/guides/v2.1/install-gde/trouble/tshoot_sample-data.html#trouble-samp-prod) for this.

[2016-07-23 23:15] Ctucker9233 commented on #5743
Check the scope of the static block. Is it set to global, website or store? Check the store view of the pages. Make sure the static block or page doesn't have an incorrect theme applied to it. Without more information (screenshot would be nice), this is the best I could come up with.

[2016-07-23 23:16] malaiselvan opened #5779 "Magento upgrade from 2.0.5 to 2.1.0 via Command Line throws LocalizedException error"
Hi Magento,

Faced issue while upgrading from 2.0.5 to 2.1.0.  Raised this as a new issue because I feel it is slightly different from the issue #5236

Following are the steps I followed
## Step 1: Updated the source via composer and got an error as below

[code]
## Step 2: I launched the admin side and got an exception report

Below is the exception report I see when I launch the admin side.

[co

[2016-07-23 23:58] valibus opened #5780 "problem while importing product with file more than 100 lines"
### Preconditions
1.  Using magento 2.1.0 and php 7.0.8
2. having a shop with 2 storeview (for example 1 FR and 1 EN)
3. having a data file with declined version of sames skus in default level, fr level and en level

for example your file will look something like this
sku|name|website
sku1|name1default|
sku1|name1FR|FR_WEBSITE
sku1|name1EN|EN_WEBSITE
sku2|name2default|
sku2|name2FR|FR_WEBSITE
sku2

[2016-07-24 00:29] malaiselvan commented on #5779
I manually edited the table `mag_setup_module` via phpmyadmin and changed the `data_version` field to the required version. Now I am able to see the website without error.

Not sure whether this will break something else...

[2016-07-24 00:58] malaiselvan commented on #5779
I manually updated the table `setup_module` with the required version and now I am able to see the  home page... but it is not showing any other page. The front-end product shows 404 not found and the backup is not listing the products, customers etc...

[2016-07-24 01:34] malaiselvan commented on #5645
I am getting the same issue not sure what to change... Cane someone help please.

![image](https://cloud.githubusercontent.com/assets/5956639/17081207/c289ffe0-516c-11e6-8a0d-0153247963e3.png)

[2016-07-24 02:14] Bertolossi commented on #3458
I still have this issue on version CE 2.0.8.

[2016-07-24 02:35] brendanmckeown commented on #5770
Also seeing this problem only with the "Catalog Rule Product" index, following the same steps above.

[2016-07-24 05:20] baltechies opened #5781 "Theme developement in magento 2.1 and fall back is not working"
Hi,
I am creating a new theme. My theme has no css, js files. I have just added theme.xml and registration.php files. I have set parent theme magento/blank (in theme.xml).  But my theme is not inheriting files (css,js, images) from parent theme. It was working in  previous versions of magento 2. But its not working in 2.1. Please suggest.

[2016-07-24 06:48] mrkhoa99 commented on #5781
Hi @baltechies

I think your question should post on Magento Stack Exchange: http://magento.stackexchange.com/

[2016-07-24 06:51] liquidia commented on #5711
same issue 2.1/ php7/nginx

[2016-07-24 07:51] liquidia opened #5782 "Paypal redirecting to https://www.paypal.com/webapps/hermes/bridge"
### Steps to reproduce
1. Enable paypal express checkout (it might be happening with enabling it)
2. Enable In-Context Checkout Experience (it might be happening with enabling it)
3. On checkout page (step 2) try to go back to previous (chrome's top left arrow button )
### Expected result

1. No redirect to  https://www.paypal.com/webapps/hermes/bridge
### Actual result

1. Website (front-end) red

[2016-07-24 08:47] malaiselvan commented on #5236
@Protazy21 After changing the code, I am getting a weird problem when I try to edit the product from backend `Class Magento\Catalog\Model\Product\Attribute\Backend\Media does not exist`.  Any idea what went wrong??

[2016-07-24 10:52] TheNavigat opened #5783 "DbValidator will fail even if required privileges are granted"
Magento version: Latest version as I type this. PHP's version and MySQL versions: latest as well.

To reproduce, create a MySQL user, grant the user all permissions, and configure Magento accordingly, then try to update the database.

What's expected is that the database will update correctly. What happens is that it raises an exception at https://github.com/magento/magento2/blob/develop/setup/src

[2016-07-24 17:22] DaveDennisME opened #5784 "Unable to save Attribute Set after creating"
When trying to create and save a new Attribute set. I am presented with a message saying "ATTENTION Sorry, we're unable to complete this request." when trying to save.
### Preconditions
1. Magento CE 2.1.0 installed without sample data through cli
2. Running Apache 2.2.31 (Unix)
3. PHP 5.6.23 with Zend Engine 2.6.0
4. MySQL 5.6.30
### Steps to reproduce
1. Go to Stores -> Attributes -> Attribute S

[2016-07-24 17:39] POLYPERFORMANCE commented on #2966
@NZLNick
I contacted Nexcess support and they were able to track down the error and fix it.

It appears that the secondary domain located under our account was triggering a modsecurity error. Nexcess was able to identify the rules and added the needed exceptions. This appears to have fixed our particular issue.

[2016-07-24 19:11] victorgugo commented on #3293
@astorm, I mean code push. What tests do you need? Code changes were covered with unit tests

[2016-07-24 19:22] ElliotGage commented on #5196
Same issue... getting grid header formatting problems in product and pages admin with a javascript error:
toolbar.js:357 Uncaught TypeError: Cannot read property 'offsetLeft' of undefined

Version 2.1.0 command line installation. Older installs have gone fine.
CENTOS 7.2 x86_64
php 5.6
apache 2.4
 5.6.30 - MySQL Community Server (GPL)

[2016-07-24 19:51] sebastian-ehrling commented on #5423
delete the directory "vendor". Then reinstall vendor directory from zip!

[2016-07-24 20:21] addison74 opened #5785 "Quick Search feature in Admin is not working properly when choosing in Products"
Please see the image bellow:

![quick_search](https://cloud.githubusercontent.com/assets/8360474/17086197/b9ce1fca-51f4-11e6-8ec8-efaf89bb4b22.jpg)

Search in Admin for emma leggings then choose in Products, in Orders, in Customers, in Pages. All are providing results correctly, except in Products. If you choose "emma leggings" in Products you will get all products listed. This option has an issue

[2016-07-25 00:29] astorm commented on #3293
@victorgugo The tests that covered the changes needed to fix this issue.

[2016-07-25 01:15] angelorgoc commented on #5752
thanks @xcomSteveJohnson

[2016-07-25 01:52] joebusby commented on #5735
I have looked around but don't see instructions for a "debug" mode.  Only developer and production.  Can you be more specific?  How to enable debug?