[2015-03-17 17:04] mazhalai commented on #1090
Please let us know if that worked.

Yes, you are right it is not needed for command line, but you will need to set it eventually to get the website running.

[2015-03-17 18:09] melaxon commented on #1090
of course I will. I thought it will be fixed in the next beta release.

[2015-03-17 18:34] ihor-sviziev commented on #1096
@vpelipenko I got this issue in my own module, it contains cloning of customer model, which firing this method.

[2015-03-17 18:54] mazhalai commented on #1090
@mexlon, there is nothing to be fixed, it is expected that install works from `setup` folder.
For more information:
http://devdocs.magento.com/guides/v1.0/install-gde/install/install-cli.html

[2015-03-17 19:25] seansan opened #1099 "Change the setting `Add Store Code to Urls` from global setting to Store Name setting (1 lower in hierarchy)"
Change the setting `Add Store Code to Urls` from global setting to Store Name setting

Currrently the setting `Add Store Code to Urls` is a global setting. This should be changed to one level down: Store Name level.

One should be able to run 2 brands like this

**Brand A**
`Add Store Code to Urls` = YES
nl site = brandA.com/nl
en site = brandA.com/en

**Brand B**
`Add Store Code to Urls` = NO
And

[2015-03-17 19:30] buskamuza commented on #1090
@melaxon , you have this error with unset `$_SERVER['DOCUMENT_ROOT']` just because you were trying to run `<root>/index.php`, intended for Web use only, as a CLI. This script is used only as a web-site entry point, it's not used for CLI commands. Just try `php setup/index.php` for CLI commands and use installed Magento application as usual. You should not expect any issues related to `$_SERVER['DO

[2015-03-17 19:40] seansan opened #1100 "Improve the Mage:app command and add variable for Store Name (the store, not only the store view)"
Improve the Mage:app command and add variable for Store Name (the store, not only the store view)

Currently Magento is started as follows `Mage::run($mageRunCode, $mageRunType);` where `$mageRunCode` is set by htaccess/nginx or in php. `$mageRunType` is almost always 'store' or empty.

Maybe this code can be updated to something like this
`Mage::run($mageStoreName, $mageStoreView, $mageRunType);`

[2015-03-17 19:44] seansan opened #1101 "Add setting to remove both URL parameters `__from_store` and `__store` in URI's from config setting in backend in multistore environment"
Add setting to remove both URL parameters `__from_store` and `__store` in URI's from config setting in backend in multistore environment. These parameters should be optional for a store owner to set.

New config setting, `add __from_store  when switching stores` = YES/NO

New config setting, `add __store  when switching stores` = YES/NO

http://magento.stackexchange.com/questions/58376/multistore-

[2015-03-17 19:47] seansan opened #1102 "Add ability for bulk update product reviews to second store"
When one build up product reviews and a second store is opened. Then the product reviews are not enabled (selected from scope list) in the second store.  This can be done manually, review per review.

There should be a method to mass update product reviews to enable them in other store views.

Some more information here
http://magento.stackexchange.com/questions/55716/sql-to-make-product-reviews-a

[2015-03-17 19:47] seansan opened #1103 "Request for categories in Magento 2; pre-set category (layered) filter"
It should ne able to pre-select a layered navigation filter for a category: meaning, that when opening the category page, then a layered navigation filter is already applied

Suppose you sell shoes (configurable product)
and you have a category stating to show all shoes in size 10
you would then create a normal shoe category (select all shoe products)
then selected the (new setting) for a layered

[2015-03-17 19:52] seansan opened #1104 "catalog/seo_sitemap/category/ showing disabled categories"
Please check controller/route `catalog/seo_sitemap/category` in Magento 1.9.1 it is showing disabled categories. They should not be shown when disabled in store view

http://magento.stackexchange.com/questions/48931/catalog-seo-sitemap-category-showing-disabled-categories

[2015-03-17 21:28] maksek commented on #1100
Hi @seansan, it is Magento 2 Github, and all issues must be related to Magento 2. Your issue content is about Magento 1. Please use proper resources for Magento 1.

[2015-03-17 21:28] #1100 closed

[2015-03-17 21:29] maksek commented on #1101
Hi @seansan, it is Magento 2 Github, and all issues must be related to Magento 2. Your issue content is about Magento 1. Please use proper resources for Magento 1.

[2015-03-17 21:29] #1101 closed

[2015-03-17 21:31] maksek commented on #1104
Hi @seansan, it is Magento 2 Github, and all issues must be related to Magento 2. Your issue content is about Magento 1. Please use proper resources for Magento 1.

[2015-03-17 21:31] #1104 closed

[2015-03-17 22:52] waynetheisinger commented on #1102
:+1: we needed this just the other day

[2015-03-18 09:18] vpelipenko commented on #1096
@ihor-sviziev, how can we reproduce this issue? What should we do for that?

[2015-03-18 09:42] ihor-sviziev commented on #1096
@vpelipenko use code like this:

[code]

[2015-03-18 09:45] vpelipenko commented on #1096
Ok. Thanks. We will try to check it.

[2015-03-18 09:50] vpelipenko commented on #919
@snky1987, wait for update public repository. We will inform you when fix is available.

[2015-03-18 12:51] #536 closed

[2015-03-18 13:35] #1059 closed

[2015-03-18 13:35] #1051 closed

[2015-03-18 13:45] choukalos commented on #622
Search features currently slated for inclusion in 2.0
- enhanced mysql search accuracy ( many points per comments above )
- APIs for search indexers
- [Enterprise] Support for SOLR 4.x

Search Epics likely in 2.1 - 2.3 release time frame
- MAGETWO-23112 : Search Autocomplete & Preview
- MAGETWO-11439 : Search CMS
- MAGETWO-10479 : Updated Search UX and Control
- MAGETWO-10478 : Manage relative wei

[2015-03-18 14:01] tkacheva commented on #1102
@seansan Good point!
Added to the roadmap - MAGETWO-34738

[2015-03-18 14:04] choukalos commented on #412
Thanks @akulkarni9 for the link to your module; am I correct in assuming this only displays multiple currencies for product pages?  The category, cart, orders, invoices, etc pages would show the website display currency ( set by store view ).

Questions
All
*Are these smaller merchants or merchants who's traffic is from multiple countries to one website and they're looking for an easy way to displ

[2015-03-18 14:13] FiveDigital commented on #412
In our project where we hat to build around this problem the customer has one shop (website in Magento's language) for the whole world. It was not possible to work with multiple websites because of the customer's requirements. The customer has around 200.000 orders per year. So it's not a really a small merchant ;-)

The logic behind the customer needs was that the billig address' country determin

[2015-03-18 14:20] seansan opened #1105 "Improvements for Mage2 closed too fast"
Hi, we logged three issues for improvement for Mage2. Yes - we added examples of how it now works in Magento. But ONLY to explain our reasoning and why we think it can be improved. Are these issues now closed just becuase the words "magento 1.9" were used in the body?

Please verify these issues for reason (not for use of words) - isn't Mage2 an improved version of Mage1?

#1104
#1101
#1100

Sorry

[2015-03-18 14:24] choukalos commented on #1059
Answered by Alan, Rick & Olga.

[2015-03-18 14:25] choukalos commented on #622
Sorry my bad; shouldn't have closed the issue.

[2015-03-18 14:32] choukalos commented on #412
@FiveDigital if you've got a US customer ($'s) and a German customer (Euros) how is your tax engine configured ( I believe it's illegal to show prices that aren't final, i.e. include tax, or are not consistent across the customer's experience in Europe )?

Asking because In the US you have to calculate tax's based on cart total - in Europe you have options ( believe there are some nuances by count

[2015-03-18 14:33] tkacheva commented on #482
Scheduled to be done in the scope of MAGETWO-22739

[2015-03-18 14:35] FiveDigital commented on #412
Since the project was some years ago I'm not quire sure how it was configured. But I no we had to deal with things like California sales tax and so on and perhaps we also changed the including/excluding logic, too to make it depend on the country, too.

[2015-03-18 14:48] tkacheva commented on #438
Story is in the backlog MAGETWO-43011

[2015-03-18 15:20] snohe commented on #1077
@chrom, since we haven't heard back from you, we'll go ahead and close this issue.  Should you have any additional questions, please don't hesitate to open a new issue.

[2015-03-18 15:20] #1077 closed

[2015-03-18 15:59] tanya-soroka commented on #473
Hello all, thank you for your feedback. We have created tickets for these features: MAGETWO-14308 (MNI) and MAGETWO-24274 - Inventory per website.

[2015-03-18 17:56] tanya-soroka commented on #500
Ticket number is MAGETWO-21570 in Magento 2 project.

[2015-03-18 19:35] otoolec commented on #1017
Looks like there are a couple more places this can be fixed:

[code]

[2015-03-18 20:27] piotrekkaminski commented on #82
Thanks for all the suggestion. We are using some of them already. I'm closing this issue. Feel free to provide new suggestions as new issues.

[2015-03-18 20:27] #82 closed

[2015-03-18 21:51] jason-neumann opened #1106 "Store Online/Offline Status with each Credit Memo"
Currently credit memos don't store if their transaction was done online or offline. This can make it hard to tell what's happened to an order if there are multiple credit memo's applied to it. I suggest adding a column to `sales_flat_creditmemo` called online_refund that's a tinyint and is set to 1 if the refund is done online. This could then be added to the Credit Memo's main grid and when viewi

[2015-03-18 22:18] jonpday commented on #473
awesome, thanks @tanya-soroka and Paul.

[2015-03-18 22:52] dustinnordquist commented on #642
This is functionality that many clients have requested.  Configurable Bundle 2.0 by Wizkunde is the best extension I've found to solve this need.  It could be used as a starting point.  I can also say the most requested improvements are 1) ability to set configurable product pricing based on the simple products, 2) tier pricing based on selected configurable/simple product quantities. Hope that he

[2015-03-18 23:07] aligentjim commented on #473
We've got a number of clients using Multilocation inventory systems in Mage 1 for whom an :Inventory Per Website" solution wouldn't work (it would work for others though).

A great compromise would be allowing in the architecture "pools" of inventory to have their own distinct identifier (i.e. remove the assumption in the core that the `cataloginventory_stock` table contains only 1 record and that

[2015-03-18 23:35] aoldoni commented on #473
As mentioned above, "per website" stock wouldn't be enough.

@aligentjim idea above is great, I would also vote to have some pre-built layers that add value out of the box.

This could potentially start with layers in between, such as warehouses or zones. We would then assign stock to these warehouses/zones, which would then be assigned to websites.

It could be the case as well that 1 website can

[2015-03-18 23:38] SchumacherFM commented on #473
I reported this "bug"  "Inventory per Website" end of January https://github.com/magento/magento2/issues/1002

[2015-03-18 23:43] aligentjim commented on #473
@SchumacherFM totally agree with your #1002 ...  What I was proposing above was to overcome the Mage 1 limitation on stock id, then bind websites to a stock id in (easily replaceable) code to implement the "inventory per website" functionality.  Agree that this won't suit everyone, which is why it'd be great if the "decision" about which stock location to use for a given order was centralised into

[2015-03-19 03:42] kalpmehta opened #1107 "Serious security issue in Customer Address edit section"
I have installed Magento2 latest beta version yesterday and was checking it today. I found a serious issue where customer can view/edit (yes EDIT!) another customer's address. It's very simple to reproduce, just change the ID of the address in the URL and you will be presented with that address to edit.

Proof of concept:
- Register as a website user
- Navigate to /customer/address/edit/id/[ANY-VA

[2015-03-19 09:11] tzyganu opened #1108 "Enabling module and public resources"
Right now when I enable a module (didn't test for disabling) using the cli: `php setup/index.php module-enable --modules=Vendor_Module` all the files under `pub/static` are cleared.
To rebuild them again I need to run again `php dev/tools/Magento/Tools/View/deploy.php`.
I understand the reasons behind this action but I think it should be optional. If I enable a module that does not change anything

[2015-03-19 09:42] vpelipenko commented on #1107
@kalpmehta, thank you for posting this issue. We'll check it immediately and fix ASAP if it is confirmed.

[2015-03-19 10:12] vpelipenko commented on #1107
Internal ticket: MAGETWO-35333. We are working on this issue now.

[2015-03-19 11:09] asemenenko commented on #1106
Hi Jason,

I have an additional question to you regarding usage of Sales -> Transactions grid that allows to filter online transactions. Basically you need to add some of the capabilities of that grid to the credit memo's grid. What if that Transactions grid will show an offline and online documents? Will it solve your problem?

/regards
Andrii

[2015-03-19 12:35] robjmills opened #1109 "Issues with .less files on initial installation"
On a clean installation of beta11, cloned from Github, i'm seeing a bunch of errors relating to .less files not existing, for example:

[code]

I'm able to fix this by running:

[code]

which I saw referenced elsewhere. not sure if this is a bug or an issue with my installation procedure.

[2015-03-19 13:14] tzyganu opened #1110 "acl.xml definition"
First of all, thank you for the new method of generating the admin menu from menu.xml files using `add` tags and `parent` attributes.
I think it would be easier to do the same for the `acl.xml` file. Here is an example from the acl.xml from the Magento_GoogleShopping module

            <resource id="Magento_Backend::admin">
                <resource id="Magento_Catalog::catalog">

[2015-03-19 13:40] seansan opened #1111 "Improvement: Add ability under credit memo to enter value for return to stock instead of checkmark"
Under order. Invoice. Then credit memo.

Add ability under credit memo to enter value for return to stock instead of checkmark

Suppose one orders 4 and returns 1

You can refund 1
But not update qty with +1
(Just yes or no for all)

[2015-03-19 13:45] antonkril commented on #1110
Actually menu.xml is the ugly duckling of magento xml configuraiton because it has imperative format in declarative xml :)

As for resources, we discussed these formats a lot and came to conclusion that flat trees are easier to write, but harder to read and understand by developer (you have to build inheritance relations yourself instead of just seeing them in your editor), especially when they ar

[2015-03-19 13:46] robjmills commented on #1109
actually, trying this again and the fix doesn't seem to work now.

[2015-03-19 14:03] tzyganu commented on #1110
I see your point, but I really like the "ugly duckling".  :smile:
But I think the "parent" approach would be easier in some cases. Let's say you want to add in a module an acl resource on a lower level (3 or 4 or more). With the current approach you have to duplicate the upper nodes in the module. And if you decide to change anything in the original module I will have to redo my tree all over agai

[2015-03-19 15:08] vpelipenko commented on #1109
Internal ticket: MAGETWO-34935. This issue is already fixed and will be available for community after next weekly update.

[2015-03-19 15:20] mbrinton01 commented on #1108
Thank you Marius this is a good idea. We should be able to include this along with some changes the team is working on now. Internal story link: https://jira.corp.x.com/browse/MAGETWO-34621

[2015-03-19 15:24] mbrinton01 commented on #746
Internal link to epic: https://jira.corp.x.com/browse/MAGETWO-32719

[2015-03-19 15:33] groggu opened #1112 "Class Psr\Log\LoggerInterface does not exist"
After pull to existing magento2 instance, I'm getting the error

a:4:{i:0;s:44:"Class Psr\Log\LoggerInterface does not exist";i:1;s:5201:"#0 /var/www/html/mage2/gcc/lib/internal/Magento/Framework/ObjectManager/Definition/Runtime.php(44): Magento\Framework\Code\Reader\ClassReader->getConst
ructor('Magento\\Store\\M...')

[2015-03-19 15:41] antonkril commented on #1110
Modifications of resource tree should be stable. As for moving nodes, it should be implemented through extend/disable properties, so your code will not be broken.

 But anyway community should dictate most convenient configuration format, so I will raise this question and report back to you next week.

[2015-03-19 15:42] kalpmehta commented on #1107
Thanks for acknowledging and quickly checking into this.

[2015-03-19 15:56] tzyganu commented on #933
I might add that on the beta11 the editor is not working at all. At least in the CMS->pages section.

[2015-03-19 16:42] victorgugo commented on #1105
@seansan , thank you for reporting that. Could you, please, verify this issue on latest Magento2 taken from github? We should know if this is really actual for Mage2

[2015-03-19 16:47] seansan commented on #1105
OK - I need to do a re-install first. Let me get back on this.

(to my knowledge none of this is implemented though)

On Thu, Mar 19, 2015 at 5:43 PM, Viktor Paladiychuk <
notifications@github.com> wrote:

[2015-03-19 16:56] sachinsachin commented on #815
lkjfaljdfslaajsl

[2015-03-19 16:58] sachinsachin opened #1113 "Catch storage management cannot disabled????"
I want to disable all cache storage management in Magento but when trying using the Admin Panel Cache Management nothing is disabled.

Is there another way to disable the cache storage management besides the Admin panel?

[2015-03-19 20:11] anupdugar commented on #1017
@slirx Thanks for pointing that. We have created an internal ticket to track the issue : MAGETWO-35325

[2015-03-19 22:03] choukalos commented on #1103
We've already got an internal epic for this item - https://jira.corp.x.com/browse/MAGETWO-27173 .

[2015-03-19 22:10] choukalos commented on #1079
Closing question;  Note we're tracking this as a potential feature or an FTP file based API for very large transfers.

[2015-03-19 22:10] #1079 closed

[2015-03-20 06:43] maksek commented on #1112
Hi @groggu, please run composer install on root folder, and clean cache.

[2015-03-20 06:46] maksek commented on #107
As motioned by @alankent we are supporting PSR standards. PSR-1 says "Files MUST use only <?php and <?= tags." So both are valid.
Closing the topic, if more discussion required please comment on this topic.

[2015-03-20 06:46] #107 closed

[2015-03-20 13:58] sachinsachin commented on #1113
![img_20150320_192515](https://cloud.githubusercontent.com/assets/11334466/6752767/2c3142f0-cf37-11e4-800d-f52af63e7e38.jpg)
After select all... i go to disable option and click submit.. but these are not disabled.

[2015-03-20 14:48] maksek commented on #1113
@sachinsachin the screenshot for Magento 1. Do you have any questions for Magento2? IF not we are going to close the issue.
Please stop post not related questions in the repository.

[2015-03-20 14:48] #1113 closed

[2015-03-21 07:22] Mackovey opened #1114 "GA bug"
![m1527](https://cloud.githubusercontent.com/assets/813985/6764158/204cdc6e-cfab-11e4-8f08-6e90474ca37c.png)

PHP/Magento interprets string `//www.google....` as comment

![m1525](https://cloud.githubusercontent.com/assets/813985/6764157/1aac0488-cfab-11e4-9e6f-cf6897d46124.png)

[2015-03-21 11:46] Michal-sk opened #1115 "unexpected EOF"
[code]

I have started getting a EOF error and my xdebug doesn't let me do anything on what ever page of magento. I have manually cleared the cache by removing all the folders in var/, i have done it trough the cli. Nothing seems to fix it. Any suggestion on where to begin on debugging this?

The file being referenced in the error:

[code]

We can see clearly the last ```<?phpendif;``` in the file

[2015-03-21 12:00] Michal-sk commented on #1115
O my... I think Eclipse went trough my files and changed to orriginal files...

This is the original / not preprocessed file
[code]

So this can be closed.

[2015-03-21 12:00] #1115 closed

[2015-03-21 14:16] Michal-sk opened #1116 "Incorrect use of implode()"
In `magento2/app/code/Magento/Tax/Setup/InstallData.php` on line `76` there is a wrong use of `implode()`

[code]

it should be `$glue, $pieces`.

[2015-03-21 17:49] kandy commented on #1116
http://php.net/manual/en/function.implode.php

[2015-03-22 12:31] bgkavinga opened #1117 "Use secure urls in front end breaks admin customer section"
I have enabled https in front end. it's working ok in front end. But when I try to load admin/customer/index it loses all css and render just text page. I can fix this by enabling secure urls in admin.
![image](https://cloud.githubusercontent.com/assets/3830093/6769337/65024728-d0bd-11e4-91a0-12988a8ea4a4.png)

[2015-03-22 18:34] groggu commented on #1112
I ran composer update and now I get a report magento telling me -

a:4:{i:0;s:11961:"Please update your database: Run "php -f index.php update" from the Magento root/setup directory.
The following modules are outdated:
Magento_Core schema: current version - none, required version - 2.0.1
Magento_Core data: current version - none, required version - 2.0.1
(etc etc etc)

When I run the suggested upd

[2015-03-23 10:34] godban commented on #1098
Hi @dgitman

Thank you for report. We already resolved this issue, prioritized styles and scripts order.
Styles will be processed ahead scripts.

[2015-03-23 11:03] vpelipenko commented on #1114
Issue is acknowledged. Internal ticket MAGETWO-35392.

[2015-03-23 14:47] mazhalai commented on #1112
@groggu Issue mentioned in your 2nd comment has been fixed in the latest release 0.74.0-beta1 (Dev RC)
For Internal tracking MAGETWO-35266.

[2015-03-23 15:07] snohe commented on #850
@astorm, this has been resolved in 0.74.0-beta1.  Thank you again for submitting this issue.  Should you have any other questions, feel free to reach out to us by opening a new issue.

[2015-03-23 15:07] #850 closed

[2015-03-23 15:08] snohe commented on #919
@snky1987, this is now resolved in 0.74.0-beta1.  Thank you again for submitting this issue.  Feel free to reach out to us should you have any questions.

[2015-03-23 15:08] #919 closed

[2015-03-23 15:10] snohe commented on #1004
@Antonioele, this issue is now resolved in 0.74.0-beta1.  Thank you again for submitting this issue.  Should you have any other questions, please don't hesitate to reach out to us.

[2015-03-23 15:10] #1004 closed

[2015-03-23 15:11] snohe commented on #1014
@Mackovey, this is now resolved in 0.74.0-beta1.  Thank you again for submitting this issue.  Should you have any additional questions, please don't hesitate to let us know.

[2015-03-23 15:11] #1014 closed

[2015-03-23 15:21] snohe commented on #1015
@Mackovey @wojtekn, this is now resolved in 0.74.0-beta1.  Thank you again for submitting this issue.  Should you encounter any other issues, feel free to reach out to us.  Thank you for using Magento!

[2015-03-23 15:21] #1015 closed

[2015-03-23 16:17] snohe commented on #1016
@Mackovey, this is now available in 0.74.0-beta1.  Thank you again for submitting this issue!

[2015-03-23 16:17] #1016 closed

[2015-03-23 16:18] snohe commented on #1020
@barbazul, this has been fixed in 0.74.0-beta1.  Thank you again for submitting this issue.  Should you have any other issues, please don't hesitate to contact us.

[2015-03-23 16:18] #1020 closed

[2015-03-23 16:19] snohe commented on #1029
@rvpatel, this issue has now been fixed in 0.74.0-beta1.  Thank you again for submitting this issue.  Feel free to reach out to us if you have any other questions.  Thank you for using Magento!

[2015-03-23 16:19] #1029 closed

[2015-03-23 16:24] snohe commented on #1042
@zbych, this issue has been resolved in 0.74.0-beta1.  Thank you again for submitting this issue.  Feel free to reach out to us in case you encounter new issues.

[2015-03-23 16:24] #1042 closed

[2015-03-23 16:24] snohe commented on #1045
@Mackovey, this fix is now available in 0.74.0-beta1.  Thank again for submitting this issue and for your continued support in Magento!

[2015-03-23 16:24] #1045 closed

[2015-03-23 18:27] snohe commented on #1086
@adzminz, this has been resolved in 0.74.0-beta1.  Thank you again for reporting this issue.  Should you encounter other issues or have suggestions for improvement, feel free to contact us! Thank you for using Magento!

[2015-03-23 18:27] #1086 closed

[2015-03-23 18:31] snohe commented on #1107
@kalpmehta, this has been resolved in 0.74.0-beta1.  Thank you again for submitting this issue.  We greatly appreciate your continued support in Magento!

[2015-03-23 18:31] #1107 closed

[2015-03-23 18:51] mazhalai commented on #1117
@bgkavinga Thank you for reporting this issue. We have created MAGETWO-35409 our internal tracking.

[2015-03-24 08:47] ilol commented on #1074
@davidalger, I am closing this ticket. Thank you for your contribution in Magento!

[2015-03-24 08:47] #1074 closed

[2015-03-24 09:55] vpelipenko commented on #1116
Internal ticket: MAGETWO-35411

[2015-03-24 09:58] vpelipenko commented on #1098
@dgitman, do you have any other concerns? can we close this issue?

[2015-03-24 10:01] vpelipenko commented on #1065
@Antonioele, we close this issue due to no response from your side. If you have other concerns, questions or suggestions, please, feel free to post new issues.

[2015-03-24 10:01] #1065 closed

[2015-03-24 10:10] vpelipenko commented on #1109
@robjmills, this issue is already available in public repository. Please, check it again.

[2015-03-24 10:14] vpelipenko commented on #1096
Issue is closed, because PR #1097 is created instead.

[2015-03-24 10:14] #1096 closed

[2015-03-24 12:17] rvpatel opened #1118 "Installation issue at Module 'Magento_Search'."
When i have install magento2 at this step generate error again and again.

![Image of Yaktocat](http://s18.postimg.org/ml1a25xl5/error1.png)

[2015-03-24 13:04] adzminz commented on #1118
Have you tried dropping the existing database and create a new one?

[2015-03-24 15:15] JamesAnelay opened #1119 "Menu Renderer"
The option to use a template for the menu via a renderer has been removed. Whats the thinking behind this?

[2015-03-24 15:20] JamesAnelay commented on #1119
Looking at the history of the original file (Page/Block/Html/Topmenu.php) it looks like the base version for Magento2 whatever it was just didn't have this function in yet. Will this be added in later? (I can have a go via pull request if wanted)

[2015-03-24 15:30] tzyganu opened #1120 "Admin main menu possible issue in DEV RC"
There might be a possible issue with the new design for the admin menu in dev RC.
If I add too many top level menu items I don't get to see the bottom ones.
I know this is a bad practice and you should not have too many top level menu items, but for sure this will happen eventually for someone.
I think a vertical scroll is needed in case there are a lot of menu items.
I attached a screenshot to ex

[2015-03-24 15:46] godban commented on #1120
Hey @tzyganu

Yeah, for the moment it's fixed and overlaps if menu height is bigger than window. We are planning use smart scroll here in next releases.
Internal tickets MAGETWO-34905, MAGETWO-34476

How do you feel with new admin area design?

[2015-03-24 15:52] HirokazuNishi opened #1121 "Some languages don't show in admin locale selectbox"
Hi,

I installed latest Dev RC, and found this bug.
Some languages like Japanse, Korean and Chinese are not displayed in admin locale selection.
Please see attached image.

Also, these empty labeled languages don't show up bottom language switcher.

My environment is,

+ Google Chrome
+ MaxOS X 10.10.2
+ Apache 2.2.27
+ PHP 5.5.15
+ MySQL 5.6.20

![empty-localename](https://cloud.githubusercontent

[2015-03-24 15:54] tzyganu commented on #1120
@godban As a developer used to the old magento style I'm not very fond of it, but I'll get over it :smile:
but I'm trying to view it through the eyes of a user that sees this for the first time. If I look at it that way I kind of like it.

[2015-03-24 16:03] tkacheva commented on #1120
@tzyganu thank you for feedback and reporting the issues. New Magento Admin look&feel work is in progress and menu issues will be addressed soon

MAGETWO-34929

[2015-03-24 20:54] mazhalai commented on #1121
@HirokazuNishi Can you clear your browser cache and cache within the `var` folder an try again?

[2015-03-24 22:12] sachinsachin opened #1122 "how to change the background header color in magento on wamp server??"
I want to change my website background header color on wamp server.

[2015-03-24 22:28] JamesAnelay commented on #1119
Went ahead and created a pull request for this : https://github.com/magento/magento2/pull/1123

[2015-03-24 23:02] HirokazuNishi commented on #1121
I tested with others ( safari, firefox ), but all of them were same.
I reported same issue on Magento 1.x at two or tree years ago.

[2015-03-24 23:41] anton-vakulchyk opened #1124 "Saving category reseting its changes in category tree."
Steps to reproduce:
1. Go to Admin -> Products -> Categories.
2. Select an existing category in category tree.
3. Move category to to any different level.
4. Save category information.
Saving category will reset the changes due to the fact that input name="general[path]" is not updated.
![6mwytykh0l](https://cloud.githubusercontent.com/assets/1549445/6815251/ad692d50-d25d-11e4-8226-105539845c90.gi

[2015-03-25 00:06] mazhalai commented on #1121
@HirokazuNishi what version of magento did you install?

[2015-03-25 00:06] HirokazuNishi commented on #1121
I investigated more deeper, and found this bug caused by htmlspecialchars function.
As you know, this function requires 3rd parameter (charset) after PHP version 5.4. But if illegal UTF-8 characters are given it, it automatically returns empty string.

[2015-03-25 00:09] HirokazuNishi commented on #1121
@mazhalai I installed 0.74.0-beta1.

[2015-03-25 05:06] rvpatel commented on #1118
I have drop a database and manage setup again so why display error table and view exist at Module 'Magento_Customer'

Module 'Magento_Customer':
Installing schema..
[ERROR] exception 'PDOException' with message 'SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'customer_entity' already exists'

Please fix how can we easy setup without any bug.

[2015-03-25 09:15] villageseo commented on #1122
Hi sachinsachin!

If your question about magento 2 theme customizing then you can try to update appropriate less variable @header__background-color in the file: \app\design\frontend\Magento\{theme_name}\Magento_Theme\web\css\source\_module.less

[2015-03-25 09:51] robjmills opened #1127 "Modal position when adding item to an order within admin"
Within the admin area, if you add a configuarable product to an order, and then press the configure button again, the modal box disappears off-screen. If you close it, and then open it again it appears in the correct position.

_Click configure_
![screen shot 2015-03-25 at 09 46 50](https://cloud.githubusercontent.com/assets/110251/6822021/6357e464-d2d4-11e4-88da-5907dc87fa4f.png)

_modal appears

[2015-03-25 09:52] robjmills commented on #1109
Yep, all good now!

[2015-03-25 10:07] vpelipenko commented on #1109
Closed. @robjmills, if you have any other questions or know about some bugs, please, feel free to post new issues here.

[2015-03-25 10:07] #1109 closed

[2015-03-25 10:31] vpelipenko commented on #1127
@robjmills, we are trying to reproduce this issue locally and have a few questions. Do have any JS errors? Do you use the latest Magento version?

[2015-03-25 13:16] robjmills commented on #1127
Using Magento version 0.74.0-beta1

No JavaScript errors in the console. The modal does launch, but the position is incorrect. FWIW i'm using Chrome Version 41.0.2272.101 (64-bit) on OSX Yosemite.

[2015-03-25 14:40] vpelipenko commented on #1127
Internal ticket: MAGETWO-35456

[2015-03-25 14:49] vpelipenko commented on #1105
@seansan, do you have updates for us?

[2015-03-25 15:41] seansan commented on #1105
sorry not yet - but as I stated I think some are relevant - as is

On Wed, Mar 25, 2015 at 3:49 PM, Vladimir Pelipenko <
notifications@github.com> wrote:

[2015-03-25 15:45] vpelipenko commented on #1105
Ok, we are waiting for details.

[2015-03-25 15:50] vpelipenko commented on #865
Closed. PR is merged.

[2015-03-25 15:50] #865 closed

[2015-03-25 15:54] seansan commented on #1105
is there a demo of latest version available somewhere online? (instead of
having to install myself)

On Wed, Mar 25, 2015 at 4:46 PM, Vladimir Pelipenko <
notifications@github.com> wrote:

[2015-03-25 15:57] vpelipenko commented on #675
@tzyganu, we have internal ticket for this fix, but if you want to speed up this, your pull request is very welcome.

[2015-03-25 16:28] vpelipenko commented on #1105
No, we don't provide any demo stores.

[2015-03-25 16:37] seansan commented on #1105
Would actually help with the community shooting in ideas and bugs

Sent from my iPhone.

On 25 Mar 2015, at 17:28, Vladimir Pelipenko <notifications@github.com> wrote:

No, we don't provide any demo stores.

—
Reply to this email directly or view it on GitHub.

[2015-03-25 16:37] vpelipenko commented on #394
@Flyingmana, returning to the initial question. What value do you see in this update?

[2015-03-25 16:43] vpelipenko commented on #687
@gstaniforthsessiondigital, did you have a chance to look at last comment here posted by @aohorodnyk?

[2015-03-25 17:07] orlangur commented on #394
Well, back to the question - at least would be nice to remove it from `lib/internal/`, so, need to take some version bundled as Composer package.

The only place where `phpseclib` is used is
[code]

The only place where `Magento\Framework\Filesystem\Io\Sftp` was used is
[code]
(currently not published with CE)

So, the best option could be to get rid of this library usage by refactoring or use ano

[2015-03-25 17:10] orlangur commented on #687
@aohorodnyk,

"support all opcache applications" is not relevant for PHP 5.5+. Also, if check for updated PHP files is not disabled on production - it's simply a server misconfiguration which must be fixed.

[2015-03-25 17:47] Flyingmana commented on #394
As magento already uses the library via composer now, this issue would be solved for me.

But removing it complete would also be ok I think, as it has a very limited featureset, which mostly has good native replacements.
For example there is also a native php extension for sftp connections http://php.net/manual/de/function.ssh2-sftp.php

[2015-03-25 17:47] buskamuza commented on #1118
Hi @rvpatel ,
1. could you try to run `php setup/index.php uninstall` command from command line first and then try the installation again? If you don't want to use command line, do the following:
1.1. Drop the DB and create new empty one
1.2. Remove everything, except, `.htaccess` from `var` folder
2. During installation, do you re-try it or go back between pages or refresh the page?

[2015-03-25 21:12] ihor-sviziev opened #1129 "Can't install sample data"
I tried to install latest version of magento2 (version 0.74.0-beta1), on step with installing sample data I got next issue:
[code]

Inside my composer.json I have those repositories:
[code]

[2015-03-25 21:32] shanmer opened #1130 "Access Denied for catalogProductDownloadableLinkAdd"
Apologies if this isn't the official route for raising issues - I couldn't find any specific documentation on preferred route to raise.

I've got some PHP code that is creating a product in the Magento catalog using code similar to below (I've stripped out the error checking for simplicity) -
[code]

If the role associated with the user has all permissions set the code creates the product and then

[2015-03-25 21:35] shanmer commented on #1130
Apologies, meant to say the code version is 'Community edition, version 1.9.1.0'

[2015-03-25 21:49] snohe commented on #1130
Hello @shanmer, thank you for reaching out to us.  This GitHub forum is currently for Magento 2 issues/PRs only.  For CE 1.x versions, please submit your issues at http://www.magentocommerce.com/bug-tracking system.

[2015-03-25 21:49] #1130 closed

[2015-03-25 22:46] sachinsachin commented on #1122
ok now i want to launch my website on internet. Please tell me how i will
launch my webiste on internet?

On Wed, Mar 25, 2015 at 2:46 PM, Oleg Zinoviev <notifications@github.com>
wrote:

[2015-03-25 23:57] lykhouzov commented on #1129
another error when i was installing sample data.
[code]

[2015-03-26 03:13] mbrinton01 commented on #1129
Hello @ihor-sviziev, your issue may be caused by not adding `"minimum-stability": "beta",` to your composer.json file before running `composer require magento/sample-data:0.74.0-beta1`

Please review the instructions here: http://devdocs.magento.com/guides/v1.0/install-gde/install/sample-data.html

On step #5 of **Enable sample data before you install the Magento software** you will see how to do

[2015-03-26 09:16] orlangur commented on #394
Not really loaded via Composer yet, still present in repository code base: https://github.com/magento/magento2/tree/develop/lib/internal/phpseclib

[2015-03-26 09:24] Flyingmana commented on #394
I see, got confused by https://github.com/magento/magento2/blob/develop/composer.json#L160

[2015-03-26 09:31] godban commented on #1122
@sachinsachin hey there

Take a look on https://surge.sh/, this may be helpful for you. Few strings into cmd and you can "launch your website on internet"

[2015-03-26 10:27] muralikrishnab opened #1131 "Problems with Magento2 installed today, March 26, 2015"
Installed from https://github.com/magento/magento2.git today, Mar 26 on CentOS - Apache 2.2/2.4 PHP 5.6 and MySQL

After install homepage doesn't have any styles or images - http://joxi.ru/Vm6ko9ni7oWG2Z.

Same issue exist when i open admin panel.

Please assist.

[2015-03-26 10:28] muralikrishnab commented on #1131
RequireJS not connecting or loading Frontend file - so After install homepage doesn't have any styles or images --- WHAT TO DO NOW?

[2015-03-26 10:32] Antiseptikk opened #1132 "Possible issue with custom module"
I try to create a little module (just display Hello World) in dev RC and when I return on the home page I got this message:

`Setup version for module 'Magento_HelloWorld' is not specified`

Do you know how can I fix this ?
Thanks

[2015-03-26 10:42] Antiseptikk commented on #1131
if you got 404, try to change your apache options with :

`Options Indexes FollowSymLinks MultiViews`

[2015-03-26 10:51] #1122 closed

[2015-03-26 11:27] grepdirect commented on #1131
I have installed magento2  from github yesterday, and with php 5.5 and mysql 5.7. The installation is completed and my magento is perfectly work.
I'm on Debian wheezy
![2015-03-26 12_26_25-dashboard _ magento admin](https://cloud.githubusercontent.com/assets/11654924/6845309/75374e1a-d3b3-11e4-8831-bbaeeef17084.jpg)

[2015-03-26 11:38] vpelipenko commented on #1132
@Antiseptikk, your new module should have etc/module.xml file, where setup version should be specified.

[2015-03-26 11:42] muralikrishnab commented on #1131
That is great, grepdirect. In my case, I am on Apache 2.2 on CentOS. This is Apache problem really - not Magento2 installation problem.

[2015-03-26 12:01] vpelipenko commented on #1131
@Antiseptikk, do you still have this problem?

[2015-03-26 12:11] muralikrishnab commented on #1131
This is not Antiseptikk's problem. This is my problem. Yes. The problem is still there. I am looking at Apache configuration for answers.

[2015-03-26 12:16] vpelipenko commented on #1131
@muralikrishnab, oh... sorry for that :-). What happens if you try to get CSS directly from page source? You also should have write permissions for pub/static folder.

[2015-03-26 12:20] muralikrishnab commented on #1131
It is working now. Problem was with Apache configuration/ permissions and options etc. Hope that helps. Thanks all.

[2015-03-26 12:23] vpelipenko commented on #1131
Great, can we close this ticket?

[2015-03-26 12:30] #1131 closed

[2015-03-26 12:42] ihor-sviziev commented on #1129
@mbrinton01 thank you, looks like I missed this change it, now this issue is gone.
@lykhouzov I think that in your php configuration sessions are located inside /var/lib/php5/, but user from which you trying to execute php script hasn't permissions to add sessions in this folder. Try to execute from user apache.

[2015-03-26 12:42] #1129 closed

[2015-03-26 13:26] mzeis opened #1133 "Getter methods shouldn't change values"
Magento 2 sometimes changes values in getter methods. This can lead to undesirable side effects.

An [example](https://github.com/magento/magento2/blob/1289e4e08fbf8c5f84a069e2a183595fcd14276f/app/code/Magento/Catalog/Model/Product.php#L516) from the product model:

    /**
     * Get product status
     *
     * @return int
     */
    public function getStatus()
    {
        if ($this->_getData

[2015-03-26 13:39] shirtsofholl opened #1134 "Quick win: add Magento store code to body class"
Please add Magento store code to body class (as extra class)

Now we have route + page-name

cms-index-index cms-page-name

I suggest to add webstore code (or even domain/url) and/or both

cms-index-index cms-page-name store-en domain-com

What does it solve?
- ability to set CSS per store view (so per language store-en)
- ability to set CSS per domain (so per domain-com)

Maybe there is a better

[2015-03-26 13:44] Antiseptikk commented on #1132
@vpelipenko i have etc/module.xml with :
[code]
but i got the message

[2015-03-26 14:31] Eydamos commented on #1133
In my opinion magento is not changing the value it is setting the default value if there is no value.
Just like if you would have a normal class variable like:
protected $_status = \Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED;
With the magic getter/setter magento is using I think this is a proper way to set the default value. Especially in this case where status is a mand

[2015-03-26 14:34] asemenenko commented on #1111
@seansan

I tested the refund feature and if you decided to create credit memo for 1 out of 10 ordered items then Magento adjust inventory by 1 item.

/regards

[2015-03-26 14:35] asemenenko commented on #1106
@jason-neumann is there an update for my question from your side?

[2015-03-26 14:39] seansan commented on #1111
So with the checkmark "return to stock" it returns the QTY mentioned under
"Qty to Refund" back into stock

Situation 1 (return 1 , credit memo 1)
Maybe the description should be improved ... it now reads "Qty to Refund"
but should be "Qty to Refund *and return to stock*" or something like that
Or asterisk under the table to explain ..

But for situation 2 (return 1, credit memo 0)
In this situati

[2015-03-26 15:01] asemenenko commented on #1111
@seansan
To create a return document separately there is a need to have a document that captures this action. For that we have an RMA functionality that is a part of EE.

/regards

[2015-03-26 15:04] seansan commented on #1111
And this will stay the same in Mage2?? As this is the community (github)
where we add code ... and because it is 2015 ... it might be an idea to
shift this functionality to ALL versions .... RMA is no feature anymore. It
is at the core of every online business ...

On Thu, Mar 26, 2015 at 4:02 PM, Andrii Semenenko <notifications@github.com>
wrote:

[2015-03-26 15:09] mzeis commented on #1133
A default value should be set when the object is instantiated and/or the values are set, not when the value is read for the first time. The `getStatus` method above acts more like Schrödinger's cat and while Magento is complex it shouldn't be quantum theory complex. :-)

The behaviour was introduced in CE 1.6.1.0 and it led to a nasty bug in a third-party extension we use so I figured I might sugg

[2015-03-26 15:13] asemenenko commented on #1111
@seansan

For now i can say that it is not a part of CE. If there will be an update on this - i'll update the issue.

/regards

[2015-03-26 15:18] seansan commented on #1111
OK, maybe I will open a new issue separately for this ... I think the
community shoulw maybe also speak its voice

On Thu, Mar 26, 2015 at 4:14 PM, Andrii Semenenko <notifications@github.com>
wrote:

[2015-03-26 15:46] #1111 closed

[2015-03-26 15:54] vpelipenko commented on #1132
Could you try to clear cache? Or just remove var/cache folder. It can help you.

[2015-03-26 16:35] dustinnordquist commented on #166
@vpelipenko Are MAGETWO-32407 and MAGETWO-23739 being handled together?

MAGETWO-23739 came from the discussion of Simple Configurable Products, which covers much of the functionality discussed above. See: https://github.com/magento/magento2/issues/335

Also, roughly half of my installs use SCP extension. So, I'm happy to help in anyway I can. Let me know if/how/when I can get involved. Thanks.

[2015-03-26 16:37] snohe commented on #928
@snky1987, since this issue has been resolved in #913, we will go ahead and close this issue.  Should you have any questions, please don't hesitate to let us know.

[2015-03-26 16:37] #928 closed

[2015-03-26 17:12] Antiseptikk commented on #1132
@vpelipenko yes but it's not working

[2015-03-26 18:09] alankent commented on #1133
I agree with @mzeis - if it's a default, set in constructor. Sometimes getters may cache the result, and sometimes this is necessary for performance reasons. But it is risky - a source for insidious bugs. This is potentially making performance worse as every get call is doing the if statement. So in this case, no good reason for it.

That said, not sure it will be a core team priority to go on a h

[2015-03-26 18:57] chasteIT opened #1135 "Magento2 Demo Installation"
Can we get a Magento2 demo of the frontend and admin (with sample data) that is updated?

This would enable many people who can’t install the platform to contribute feature requests and requests for improvements. There are many frontend developers and merchants who would have great suggestions for Magento2 development, and getting those requests sooner rather than later would help Magento2 develop

[2015-03-26 19:06] buskamuza commented on #761
Hi @tzyganu , the implementation is already available in the repository. Let us know if you have any concerns about new message.

[2015-03-26 19:23] #761 closed

[2015-03-26 19:24] tzyganu commented on #761
@buskamuza I've seen the changes. Much better now. thank you.

[2015-03-26 19:31] choukalos commented on #1133
@mzeis - I'll write this up as a github/bug on product model ( MAGETWO-35512 );  if you/or anyone else finds more please open a separate github issue and we'll open an appropriate bug on our end to handle.  We'll triage them as appropriate.

[2015-03-26 21:42] snohe commented on #1135
@dustinnordquist, thanks for your suggestion!  We'll be reviewing this and will let you know as soon as we have any updates.

[2015-03-26 23:33] buskamuza commented on #785
Hi @rgranadino , this issue is already fixed. Please, let us know, if there are any concerns with the current implementation.

[2015-03-27 08:29] mzeis commented on #1133
Thanks! I'm happy with that.

[2015-03-27 08:33] maksek commented on #1133
@mzeis, what do you think about call it "lazy setting"? :)

[2015-03-27 08:39] maksek commented on #1132
@Antiseptikk, it must work. But you also can try do next
[code]

[2015-03-27 08:46] maksek commented on #1119
Hi @JamesAnelay, thanks for contribution. PR looks very promising, only left to make test work :+1:

[2015-03-27 09:29] vpelipenko commented on #1132
@Antiseptikk, please, take a look at our Developer Guide http://devdocs.magento.com/guides/v1.0/extension-dev-guide/create_module.html to make sure that you create module as described. I tried to do the same and it works for me.

[2015-03-27 09:41] vpelipenko commented on #1075
Closed. There is no response from contributor.

[2015-03-27 09:41] #1075 closed

[2015-03-27 09:47] mzeis commented on #1133
Lazy setting is nice. :-) If you're into alliteration you can also call it "delayed defaulting".

[2015-03-27 09:55] kokoc commented on #1124
@anton-vakulchyk Thank you for reporting the issue.

Internal reference - MAGETWO-35516

[2015-03-27 10:18] godban commented on #1134
Hello @shirtsofholl

As I understand, you want to manage different store views with one css(theme)?
There is better way to manage store views styles and even domain styles in Magento 2 with themes.
As example you can create new theme for each store view.
Moreover you can define this theme as child of your base theme and keep your code DRY and more maintainable.

Detail info about theme creation yo

[2015-03-27 10:38] JamesAnelay commented on #1119
@maksek it's passing now right? "The Travis CI build passed".

[2015-03-27 11:02] shirtsofholl commented on #1134
Jep i understand

But sometimes one uses 1 theme for multiple store fronts. Being able to distinguish some CSS would be nice. And a simple addition for flexibility

Sent from my iPhone.

On 27 Mar 2015, at 11:18, Bogdan Plieshka <notifications@github.com> wrote:

Hello @shirtsofholl

As I understand, you want to manage different store views with one css(theme)?
There is better way to manage store

[2015-03-27 11:08] craigcarnell opened #1137 "Store Manager has been initialized not properly (HHVM Clean install)"
Command line install - Magento 2 0.74.0-beta1

[code]

[code]

[code]

[2015-03-27 11:09] craigcarnell commented on #1137
https://github.com/facebook/hhvm/issues/3623

[2015-03-27 11:51] craigcarnell commented on #1137
Nevermind

[2015-03-27 11:51] #1137 closed

[2015-03-27 12:20] godban commented on #1134
@shirtsofholl I see

We have discussed your proposal and found it usable and good alternative for theme creation if you need a lot of small changes.
Internal ticket MAGETWO-35529

We will keep you in touch about the progress, if you want to speed up process you can suggest pull request. Thank you for sharing your ideas!

[2015-03-27 13:01] craigcarnell opened #1138 "Magento2 JS minification"
Enabled JS Minification in the admin (along with bundling.. whatever that is), along with merging.

However when I look in firebug net I see a merged JavaScipt file but also about another 20 files, such as translate.js etc.

[2015-03-27 13:52] vpelipenko commented on #1119
Internal ticket: MAGETWO-35532

[2015-03-27 15:18] adzminz opened #1139 "Non English characters in product URL Key are ignored."
[Input]
![issue1](https://cloud.githubusercontent.com/assets/11070293/6870260/6f81054a-d4cd-11e4-9a33-de28d38d2fc6.PNG)

Click save button then switch to another tab and switch back to "Search Engine Optimization".

![issue2](https://cloud.githubusercontent.com/assets/11070293/6870443/a713511a-d4ce-11e4-8f29-5578f2ed7e64.PNG)

![issue3](https://cloud.githubusercontent.com/assets/11070293/6870494/0

[2015-03-27 16:12] vpelipenko commented on #1114
@Mackovey, fix for this issue is already available. Please, check it again,

[2015-03-27 16:15] vpelipenko commented on #1116
@Michal-sk, fix for this issue is available in public repository after recent update. Please, check it.

[2015-03-27 18:14] buskamuza commented on #1133
I'd say that the original case and case from @Eydamos are different.
Don't think there is something bad in "lazy setting", as in @Eydamos 's example. A class has public interface, including the getter and if the getter always returns same value in the same conditions, it should be fine.
In the original case, the getter changes value that will be returned by `getData()` method, so the following tes

[2015-03-27 18:22] buskamuza commented on #1138
Hi, @craigcarnell.
Merging is applicable only for assets included via layouts. If the asset is included directly on a page or using RequireJS technique, it will not be merged. So it may happen that some of the files that you see loaded separately are included in that way.

[2015-03-27 22:05] Michal-sk commented on #316
This gives so much more options than just themes. I was search for this when i stumbled on this github issue.

How i would like to use it:
Default would be the default configuration for our own store. Than we would create a Website as a package on which we would define package specifick settings. Than we could create stores for other people and again cascade settings down to them for there own sto

[2015-03-28 16:04] alihalabyah opened #1140 "[ERROR] exception 'PDOException' with message 'SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'store_website' already exists'"
I'm getting the following error however the database I'm using is a new empty one:

[code]

[2015-03-28 16:58] #1116 closed

[2015-03-28 17:19] mazhalai commented on #1140
Hello @alihalabyah, can you please tell me what Magento version did you get this error on?

[2015-03-28 19:38] alihalabyah commented on #915
Is there updated sample data for `Version 0.74.0-beta2`?

I'm getting the following:

[code]

[2015-03-28 19:42] alihalabyah commented on #1140
@mazhalai it's `Version 0.74.0-beta2`

[2015-03-28 19:46] alihalabyah opened #1141 "Setup page is available after installation completed"
I can access the setup page `/setup/#/landing` even after the installation was completed!

[2015-03-28 20:17] alihalabyah opened #1142 "Wysiwyg editor"
Any ideas to have a better editor? for example http://ckeditor.com/demo

[2015-03-28 20:19] alihalabyah commented on #1142
Sorry just found similar issue!

https://github.com/magento/magento2/issues/700

[2015-03-28 20:19] #1142 closed

[2015-03-28 20:36] alihalabyah commented on #105
`PHP 5.6` same issue!

[2015-03-28 20:58] alihalabyah opened #1143 "Cannot access admin"
I'm using Magento `ver. 0.74.0-beta2` and `PHP 5.6.7` I've disabled the cache then logged out, now i can't acces the admin anymore, I've tried to remove the cache `var/cache` folder but with no luck

I even tried to use this https://github.com/netz98/n98-magerun2

[code]

[2015-03-29 05:00] Pakkapao opened #1145 "Invoice PDF encoding issue."
I'm using Adobe Acrobat v11. Store currency is THB, Thai - Baht.

[Checkout Page]
![issue1](https://cloud.githubusercontent.com/assets/11070293/6884149/3d31c424-d60a-11e4-91cc-abc75645181c.PNG)

[PDF file]
![issue2](https://cloud.githubusercontent.com/assets/11070293/6884150/3ecf4d60-d60a-11e4-8e19-c6151e5c16c3.PNG)

[2015-03-29 05:58] ihor-sviziev commented on #105
Which OS? Do you have some messages in var/log, Apache error log?

On Saturday, March 28, 2015, Ali Halabyah <notifications@github.com> wrote:

[2015-03-29 07:07] alihalabyah commented on #105
Hello @ihor-sviziev,

I'm using `Ubuntu 14.04 LTS` and tried to clear the cache, disable the cache, clear the broswer cookies, switch the session to DB but nothing worked!

[2015-03-29 08:28] kandy commented on #105
Please, try login with Firefox

[2015-03-29 08:37] alihalabyah commented on #105
@kandy forgot to mention that I've tried the following too:

- Chrome incognito
- Firefox
- Opera

And the same issue happened!

[2015-03-29 08:53] kandy commented on #105
Can you attach headers from "login" request (for example screenshot of developer tools from browser)

[2015-03-29 08:59] alihalabyah commented on #105
Following the response header:

[code]

[2015-03-29 09:05] kandy commented on #105
Thanks
Can you provide your local machine time with timezone (or in GMT)

[2015-03-29 09:13] kandy commented on #105
looks like problem in cookies path - for same reason it sets to /index.php/default/admin instead of /index.php/admin

[2015-03-29 10:25] alihalabyah commented on #105
Hello @kandy,

My current time is `Sun Mar 29 13:24:16 EEST 2015`

Any suggestions to solve this issue?

[2015-03-29 11:57] kandy commented on #105
No, currently :(
Can you provide the result of this query `select * from core_config_data where path like 'web%'`

[2015-03-29 12:03] hostep opened #1146 "A few issues when you use /pub as DocumentRoot"
### Preconditions (*)

###  Steps to reproduce:

**robots.txt**

*Update: The robots.txt part is no longer valid, was fixed in Magento 2.2.0*

**sitemap.xml**

Steps to reproduce:
1. Make sure the Magento docroot is set to the `pub` directory
2. In the backend, go to Marketing => Site Map
3. Click 'Add Sitemap' (small inconsistency btw, no space here)
4. Enter 'sitemap.xml' into the Filename field

[2015-03-29 12:05] alihalabyah commented on #105
@kandy,

Here you go, I see that your trying to make sure of the cookies configuration, anything wrong?

![screen shot 2015-03-29 at 3 02 14 pm](https://cloud.githubusercontent.com/assets/1836535/6885339/cc8e64dc-d624-11e4-81e7-463a3bd8c732.png)

[2015-03-29 12:22] EliasZ commented on #105
Used to encounter this problem and it had to do with the timezone on my machine not being the same as selected during the Magento 2 installation process. When debugging, it was something with cookies being set for expiration in the past which translated to being able to log in and then immediately having an expired session which would result in the login screen.

[2015-03-29 12:27] kandy commented on #105
@alihalabyah,
Looks like issue caused by enabling "Add Store Code to Urls"
Run query `update core_config_data set value = 0 where path  = 'web/url/use_store'`, clear cache and try religion

[2015-03-29 12:35] alihalabyah commented on #105
@kandy,

mmm that fixed it, but it should work even with the store code in the urls enabled, no?

Thank you for your help!
Ali

[2015-03-29 12:43] kandy commented on #105
Yes, it's definitely should work with this option

[2015-03-29 21:28] ericthehacker commented on #992
@alankent
Was a decision on legacy password hashes ever made?

I've updated the [feature branch](https://github.com/magento/magento2/compare/develop...ericthehacker:feature/native-password-hashing) to be compatible with develop at this point (specifically, by moving the unit tests to their new location after RC2).

[2015-03-30 06:58] hirenvasani commented on #1084
Fixed with Dev RC Beta 1

[2015-03-30 07:27] alihalabyah opened #1148 "Magento sample data issue"
I'm trying to install `magento/sample-data:0.74.0-beta2 ` by adding it as required using the following command:

[code]

But it's showing the follwoing error:

[code]

While it's available here: http://packages.magento.com/#!/sample

Any thoughts?

[2015-03-30 07:43] antonkril commented on #992
@ericthehacker we decided to go with solution similar to described in http://crypto.stackexchange.com/questions/2945/is-this-password-migration-strategy-secure

This will allow instant security for all hashes.

[2015-03-30 08:21] #1132 closed

[2015-03-30 08:52] maksek commented on #1148
Hi @alihalabyah, please follow the instructions - http://devdocs.magento.com/guides/v1.0//install-gde/install/sample-data.html, do not forget to add  `"minimum-stability": "beta"` into composer.json.

[2015-03-30 08:56] maksek commented on #1141
HI @alihalabyah, setup will be available after installation, if you will not add .htaccess deny all, or remove setup folder.
It is expected behavior. What is your desired expectation?

[2015-03-30 09:03] alihalabyah commented on #1141
@maksek Since keeping it might be risky, it should be removed, blocked automatically by the installation process.

[2015-03-30 09:12] alihalabyah commented on #1148
@maksek thank you for your help, the `"minimum-stability": "beta"` was the problem!

[2015-03-30 09:12] #1148 closed

[2015-03-30 09:17] vpelipenko commented on #1084
Fixed. Closed.

[2015-03-30 09:17] #1084 closed

[2015-03-30 10:02] robjmills commented on #1127
Just to confirm, I still have this bug in 0.74.0-beta2

[2015-03-30 10:49] vpelipenko commented on #1127
@robjmills, thanks for this update. Internal ticket is not fixed yet. We are going to work on it.

[2015-03-30 11:14] vkorotun commented on #1138
Hi, @craigcarnell.
While "Merge JavaScript Files" option deal with files declared via layouts, as @buskamuza has mentioned, the second option "Enable Javascript Bundling" deals with JavaScript files which are not included via layouts but loaded using RequireJS.
There are two preconditions for using this option properly:
1. You need to run dev/tools/Magento/Tools/View/deploy.php script.
2. Switch f

[2015-03-30 14:29] Kristiansky commented on #208
still not working

[2015-03-30 15:01] alexkaranda opened #1149 "Checkout Grand Total amount miscacluation"
Issue: Total amounts are calculated incorrectly.
Magento Version: 0.74.0-beta1

Steps to reproduce:
- add an item in cart with price: 10$
- Fill in billing address and click next button
- Fill in shipping address and click next button
- Back to billing step
- Click next button
- Back to billing step
- Click next button
- open DB tables to check amounts
-- DB tables are affected: tables quote, quot

[2015-03-30 15:18] alexkaranda opened #1150 "Mising items on adding in cart"
Issue: only the last item added in cart if you use product detail pages.
Magento version: 0.74.0-beta1

Steps to reproduce:
- install sample data
- open a women category page
- visit a product page from this category
- add product in cart
- open a man category page
- visit a product page from this category
- add product in cart

Expected result:
two items in cart
Actual result:
the only last item

[2015-03-30 15:22] alexkaranda opened #1151 "Crossel Items leading to error"
Add to cart event for crossell items is triggering real redirect to the page:
http://[mydomain.com]/page_cache/block/render/?blocks=["catalog.compare.link"%2C"checkout.cart"%2C"checkout.cart.validationmessages"%2C"customer"%2C"customer"%2C"global_messages"%2C"header"%2C"header"%2C"messages"%2C"minicart"]&handles=["default"%2C"checkout_cart_index"]&version=4c6ce571fb6efc36ab3afdf9c89cf2e9

Which re

[2015-03-30 15:26] grepdirect commented on #1143
Hi,
you've tried to clear the cache of your browser ?

[2015-03-30 15:38] dgitman commented on #1098
Feel free to close this issue. Thank you!

[2015-03-30 16:49] alihalabyah commented on #1143
@grepdirect This was resolved, seems like a bug with the `Add store code in the Urls` option, once I've turned it off, the issue got resolved!

[2015-03-30 20:23] mbrinton01 commented on #1108
@tzyganu Marius we are considering changing the default behavior so that ``pub/static`` will not be cleared when a module is enabled, and then creating an optional flag to clear the files there.  What are your thoughts on this approach? It is the opposite of what you are asking but would enable you to accomplish the same task.

[2015-03-30 21:39] JesusTinoco opened #1152 "Some js files in Page and Block aren't be found"
![screen shot 2015-03-30 at 23 19 00](https://cloud.githubusercontent.com/assets/2388836/6907049/36e5355e-d733-11e4-920b-f66eeefc93c6.png)

[2015-03-30 21:52] JesusTinoco opened #1153 "How to configure the SMTP?"
I've been looking for the SMTP configuration but I didn't found, do you know where it is?

[2015-03-30 22:15] grepdirect commented on #1153
Stores > configuration > System > Mail Sending Settings

[2015-03-31 05:01] nevparmar commented on #335
Magento- How to config a Product with different sizes, materials and prices??
i need to find the best method to configure a product which has multiple materials, sizes and prices. I tried making attribute sets with custom material and sizes, but after adding the 3rd size and prices, I loose the pricing structure.

Briefly this is how it should look:

Product Sign 1 - the default material, size and

[2015-03-31 05:21] JesusTinoco commented on #1153
Thaks grepdirect, and do you know which file or which  table in the db I have to populate to do that manually without go to the admin panel?

[2015-03-31 07:12] tzyganu commented on #1108
@mbrinton01 I don't really care what's the default value of 'clear-files' flag as long as I have the option to delete or not the public files.  Maybe having it set to `false` by default it's better. In case someone forgets to set the value he can delete the files later. but if it's `true` by default there is no way back (except generating them again which takes longer).
Maybe you can make the flag

[2015-03-31 08:13] webprostudio opened #1154 "Cant Install Composer On Local MAMP Setup"
I had a go at installing Magento 2 on my local MAMP setup and am getting hit with the following error message when trying to install composer:

Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested PHP extension ext-mcrypt * is

[2015-03-31 08:16] RMcLeod79 opened #1155 "Magento Code not conforming to PSR-2"
Whilst the Magento documentation for [Coding Standards](http://devdocs.magento.com/guides/v1.0/coding-standards/code-standard-php.html) state that PSR-2 should be used, there are multiple instances of protected properties being prefixed with  an underscore
i.e ```protected  $_someProperty``` This does not conform to the [PSR-2 Standard](http://www.php-fig.org/psr/psr-2/#4.2.-properties).

As the d

[2015-03-31 08:22] orlangur commented on #1108
Why need some additional option and not just [incremental build](http://webpack.github.io/docs/build-performance.html#incremental-builds)?

Pretty naive approach would be "check which resources are bundled within a module and see what's need to be rebuilt" with, probably, some `--force-public-resources-flush` option for really rare cases.

[2015-03-31 08:37] orlangur commented on #1155
Note the difference between MUST and SHOULD according to [RFC 2119](http://www.ietf.org/rfc/rfc2119.txt) ;-)

Currently Magento 2 code is completely conforming PSR-2, but not all PSR-2 recommendations, like underscore prefix for class members/methods and 120 characters line length, are fulfilled yet.

PSR-2 conformance may be easily checked by running [PHP CodeSniffer](https://github.com/squizlabs

[2015-03-31 08:50] RMcLeod79 commented on #1155
I know that it is a case of SHOULD rather than MUST, I mainly opened this ticket so I could reference it in a pull request.

Seeing as the team have more important things on their plate than refactoring code to conform to PSR-2 I thought I could do the refactoring.

[2015-03-31 08:57] kokoc commented on #1139
@adzminz Thank you for reporting the issue! We will get back to you once we complete the analysis.

[2015-03-31 09:52] kandy commented on #1139
What the 'url key' do you expect to get? Can you provide some example 'Product Name' -> 'url key'?

[2015-03-31 10:04] orlangur commented on #1155
Ok, got it.

Note that when property or method is renamed it must be added to obsolete lists:
https://github.com/magento/magento2/blob/develop/dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_methods.php
https://github.com/magento/magento2/blob/develop/dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_properties.php

Also, I believe it will be nearly impossible to review

[2015-03-31 10:21] adzminz commented on #1139
Product Name: สินค้าตัวอย่าง
Input URL Key: สินค้าตัวอย่าง-1

Expected URL Key to be saved: สินค้าตัวอย่าง-1
Expected product URL: สินค้าตัวอย่าง-1.html

[2015-03-31 10:28] RMcLeod79 commented on #1155
Thanks for the heads up on the obsolete files!

Yep going to write a script to do it, obviously got to take into account collisions and PHP super globals and make sure __construct and magic methods aren't replaced.

[2015-03-31 10:51] sIiiS commented on #1139
I think these are same!
https://github.com/magento/magento2/issues/653

[2015-03-31 10:57] adzminz commented on #1139
@sIiiS Exactly!!

[2015-03-31 12:31] crane-cio commented on #335
Nevparmar Just to be certain are you asking how to do this in Magento **2** ?
If you are inquiring regarding 2 I am not 100% sure about this answer but I believe to be true.

You will need a 3rd party magento extension like Organic Internet's Simple Configurable Products (SCP) which overrides the weird default configurable product behavior of Magento.  With SCP or one of the various similar extens

[2015-03-31 13:30] choukalos commented on #1155
How disruptive will this be to those building extensions / customizations on Magento 2?

[2015-03-31 14:06] alihalabyah commented on #1154
@webprostudio You need to make sure that the PHP you installed/enabled these extensions on, is the same PHP being used by MAMP

[2015-03-31 14:08] alihalabyah commented on #1153
@JesusTinoco I think it's the `core_config_data`

[2015-03-31 14:10] alihalabyah commented on #1152
@JesusTinoco Have you checked the read permission for the `pub` path?

[2015-03-31 14:12] alihalabyah commented on #1152
@JesusTinoco Another thing is that you need to have the rewrite module enabled, if it's enabled try to use a virtual host instead of the IP

[2015-03-31 14:12] mbrinton01 commented on #1154
@alihalabyah this is probably the issue. If you have another PHP besides the Macports install, you need to make sure that you have installed the extensions properly.

You can see if your path to php is correct with ``which php`` - for the default install this should return ``/opt/local/bin/php``. Also view the PHP version with ``php -v`` and then run ``port installed php*`` to check which extensio

[2015-03-31 14:16] RMcLeod79 commented on #1155
Potentially quite disruptive as it changes the name of all class properties and methods that have an underscore prefix.

I am writing a script that will go through code change properties and methods and check that there are no clashes with properties. Which could be used by 3rd party extensions to check their code.

If it is felt that this is too big a risk, especially to 3rd party developers I'm

[2015-03-31 14:33] JesusTinoco commented on #1153
But I would like to send emails from an external SMTP server, do you know how? Thanks @alihalabyah

[2015-03-31 15:23] #1098 closed

[2015-03-31 15:25] JesusTinoco commented on #1152
Have read permissions and the rewrite module is enabled.

[2015-03-31 16:22] snohe commented on #1149
@alexkaranda, thanks for submitting this issue.  I've created an internal ticket (MAGETWO-35676) so this can be looked into.

[2015-03-31 17:17] joanhe commented on #1139
@adzminz Would you mind close this issue, since this is duplicate of #653?

[2015-03-31 17:18] grepdirect commented on #1153
No in Magento2 in core_config_data there's not email settings.

Inviato da iPhone

[2015-03-31 17:28] joanhe commented on #1143
@alihalabyah Thanks for reporting this problem. Internal ticket MAGETWO-35679 is created to investigate this issue.

[2015-03-31 17:32] joanhe commented on #208
@Kristiansky Could you let us know the version you are working on, so we can verify it?

[2015-03-31 17:36] mbrinton01 commented on #1108
Thank you for the feedback. For now we will implement the following:

Files in ``pub/static`` will not be cleared by default on module enable/disable. User will have the option to clear files.

We will consider making this feature more sophisticated in the future to automatically detect what actions should be taken based on the module being enabled/disabled. For now our scope is limited to providi

[2015-03-31 17:50] joanhe commented on #915
@alihalabyah Yes. There an updated sample data for Version 0.74.0-beta2. You can find available packages here: http://packages.magento.com/#magento/sample-data. You might need to update composer.json file to require the right version.

[2015-03-31 18:06] alankent commented on #1155
It is hard to judge the impact - like will we do it. I think it will be a matter of having a script then finding a time when the least work going on to reduce merge conflict pain.
But, personally, it would be WONDERFUL to get this cleaned up before GA. If its not too much effort it would be great to have this script in the wings we so can run it at an appropriate time. It would also be good to mak

[2015-04-01 02:25] adzminz commented on #1139
@joanhe Sure, no problem.

[2015-04-01 06:00] adzminz commented on #1153
@JesusTinoco Are you running the store on unix server? If so, my suggestion is to install ssmtp and config your external smtp server in /etc/ssmtp/ssmtp.conf. It works without any settings on admin page.

[2015-04-01 06:06] JesusTinoco commented on #1153
Thaks @adzminz I'm running the store con unix server, but I would like that the smtp work on windows server as well.

[2015-04-01 07:46] htollefsen commented on #611
I were unable to get SampleData to work on 0.74.0-beta2 but were able to locate some performance scripts that provide some samples.

[code]
You may change small.xml with larges profiles if you want, eq: extra_large.xml, large.xml or medium.xml.

[2015-04-01 13:48] joanhe commented on #1139
This is duplicate of #653. Closing it.

[2015-04-01 13:48] #1139 closed

[2015-04-01 14:33] vpelipenko commented on #1145
@adzminz, thank you for reporting this issue.
Internal ticket: MAGETWO-35746

[2015-04-01 14:46] otoolec commented on #692
Marius, in the real life scenario were the translations meant to help the merchant understand the UI or were they meant to be used on the storefront for customers?

The example you gave "View files fallback" is used as a label in admin, so even if we just focus on exceptions it would still exist.

Would it help if phrases were split by area?  If we had one file for phrases used by storefront, and

[2015-04-01 14:51] jason-neumann commented on #1106
Sorry I lost track of this.
I don't think modifying Sales -> Transactions grid would help here. Or at least it would be more work than my original suggestion. The transactions grid does not contain any information about offline credit memos, and it shouldn't, in my opinion. Offline credit memos are ones that occur outside of the magento system and likely weren't processed through paypal. As far as

[2015-04-01 15:59] #1150 closed

[2015-04-01 15:59] #1149 closed

[2015-04-01 15:59] #1151 closed

[2015-04-01 16:51] vpelipenko commented on #1105
Thank you for suggestion. We will think about it.

[2015-04-01 20:00] cerebrumbr opened #1157 "Something went wrong with the subscription."
When try registrer email newsletter subscription.

![01](https://cloud.githubusercontent.com/assets/2263217/6950324/7803f792-d890-11e4-9377-cd048bd968df.png)

Return this alert ...

Something went wrong with the subscription.

![02](https://cloud.githubusercontent.com/assets/2263217/6950328/832b8220-d890-11e4-90e5-9b36643d776e.png)

[2015-04-01 20:04] cerebrumbr opened #1158 "How to collaborate with the translation Portuguese/Brazil?"
How to collaborate with the translation Portuguese/Brazil?

[2015-04-01 20:24] cerebrumbr opened #1159 "Warning: The email and password is visible in front-end"
See image.

![captura de tela de 2015-04-01 17 16 08](https://cloud.githubusercontent.com/assets/2263217/6951745/e3d07e70-d893-11e4-8def-a0cb0fc6258b.png)

[2015-04-02 07:48] tzyganu opened #1160 "Magento\Framework\Data\Collection\Filesystem filter issue"
**Issue**:
`LIKE` filters don't work on `Magento\Framework\Data\Collection\Filesystem` instances.

**How I got here**:
I was playing around with the `Magento_Backup` module for learning purposes. I saw that in the grid of backups, the `Name` column is not filtrable and started digging to see why.
I removed this line `<argument name="filter" xsi:type="string">0</argument>` from `app/code/Magento/Ba

[2015-04-02 07:59] tzyganu commented on #1160
Apparently  I was wrong about the number filter. This one works nicely.
So there is no reason to make the 'size' column not filterable.

[2015-04-02 08:36] webprostudio commented on #1154
Thank you both for your feedback. You are correct, Magento 2 seems to be using MAC php rather than MAMP. Is there a way that I can set which php Magento 2 uses?

I have mcrypt and all other extensions installed on my MAMP php but not my MAC.

[2015-04-02 09:19] bubach opened #1161 "More options for language and currencies"
Need lots more features regarding languages and currencies between stores/shops. Right now you can be forced to duplicate whole translations and massive duplication for url-redirects based on language if you want to support the same language but inside different websites.  Also using USD/EUR/GBP with the same english translation can be a pain if you set up the websites/shops in certain ways.

[2015-04-02 10:25] vpelipenko commented on #1159
@cerebrumbr, thank you for posting this issue. But how did you make it visible?

[2015-04-02 10:52] alihalabyah commented on #1159
@vpelipenko I think it's visible by default!

[2015-04-02 11:09] Sanuch commented on #1159
it looks like a feature of sample data

[2015-04-02 12:40] cerebrumbr commented on #1159
Yes, this feature of sample data.

[2015-04-02 12:45] cerebrumbr commented on #1158
Several terms are not translated in the package Portuguese/Brazil.

How can we help translating and provide for Magento 2 Github ?

[2015-04-02 12:51] Sanuch commented on #1159
Ok but do you think that this issue is bug?

[2015-04-02 13:21] vpelipenko commented on #1158
Thank you for clarification. We'll look at it and return with answer.

[2015-04-02 15:11] mbrinton01 commented on #1154
Did you follow the install steps on the Macports site, such as:  https://trac.macports.org/wiki/howto/MAMP?

You can also check your path with ``echo $PATH`` to see if the Mac PHP location is listed ahead of the Macports location.

[2015-04-02 15:20] tzyganu commented on #1160
Update.
Removing the single quotes through `str_replace` is not a good idea since file names can have single quotes in them. I don't know who adds single quotes in file names but it's possible.

So

    $filterValueRegex = str_replace('%', '(.*?)', preg_quote($filterValue, '/'));

Should be

    $filterValueRegex = trim(str_replace('%', '(.*?)', preg_quote($filterValue, '/')), "'");

[2015-04-02 15:22] maksek commented on #1158
Hi @cerebrumbr, algorithm is easy, if you see some wrong translations or missed translations you can update/add the phrase into i18n files. For example - https://github.com/magento/magento2/tree/develop/app/code/Magento/Catalog/i18n here you can see pt_BR.csv, by editing second column or adding new line with data you can update translation. Then create new PR which we will review.

[2015-04-02 15:42] tkacheva commented on #1159
We intentionally created customer account in sample data with some order history and wishlist created.  What you see on login page is the credentials to this demo account.

[2015-04-02 18:21] zivendesign opened #1163 "Problem when change less file in magento."
Hi Everybody,
I have trouble with magento less file:
When i'm change some thing in here: http://prntscr.com/6klkh5
If I want to see the change from me. I must delete css file from the folder: http://prntscr.com/6klkvn
This is really the bad. When i'm change many in the less file. each time i'm change i need delete css folder. This is causes discomfort to the developer when change something in less

[2015-04-03 03:48] yzm629 opened #1164 "locale bug"
No region found within the locale 'zh'
#0 /var/www/html/magento207402/vendor/magento/zendframework1/library/Zend/Currency.php(106): Zend_Currency->setLocale('zh_Ha')
#1 /var/www/html/magento207402/lib/internal/Magento/Framework/ObjectManager/Factory/AbstractFactory.php(99): Zend_Currency->__construct('USD', 'zh_Ha')
#2 /var/www/html/magento207402/lib/internal/Magento/Framework/ObjectManager/Factor

[2015-04-03 06:56] zivendesign commented on #884
Hi jameswithers,
How to ignore?
Please advice.

[2015-04-03 10:06] vpelipenko commented on #1159
@cerebrumbr, can we consider this issue resolved?

[2015-04-03 10:08] vpelipenko commented on #1138
@craigcarnell, do you have another questions or we can close this issue?

[2015-04-03 10:12] jameswithers commented on #884
@zivendesign set up grunt with grunt watch and it can be used to automate the process

[2015-04-03 10:40] villageseo commented on #1163
Hi zivendesign!

Thank you for the question.

You can try to enable Client Side less compilation in Stores > Configuration > ADVANCED > Developer > Front-end development workflow.

More can be found here: http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/css-topics/css-preprocess.html (the document is still updating).

Also we have another front-end development workflow with node.js (grunt

[2015-04-03 15:24] joanhe commented on #1164
@yzm629 Thanks for reporting the problem. Could you provide reproducible steps, we can investigate the cause?

[2015-04-03 15:55] cerebrumbr commented on #1159
@vpelipenko - Yes.

[2015-04-03 16:30] joanhe commented on #1160
@tzyganu Thanks for reporting this problem. Internal ticket MAGETWO-35833 is created for further investigation.

[2015-04-03 17:38] JesusTinoco commented on #1117
I had the same problem.

[2015-04-04 13:59] EliasZ commented on #357
Now that the developer RC is out and this has not been implemented, what are the future plans?

[2015-04-05 10:29] pronto2000 commented on #692
Yeah, keeping frontend and backend translations separate would be great -- it makes it way easier to keep frontend up to date.

[2015-04-05 19:04] zbych opened #1166 "Instantiating block by layout with xsi:object argument"
Getting following error:
Instance of Magento\Framework\Data\CollectionDataSourceInterface is expected, got Some\Backend\Class\Of\Model\Defined\ByMe instead.

I am not sure if it is intended, if it is, and it is within the rules of core functionality, then please cancel this issue and sorry for bothering.
I am just not sure if blocks can accept only objects that inherits the Collection interface.

[2015-04-05 19:17] zbych opened #1167 "Magento_Log: creating new record with wrong store_id every each refresh page for Adminhtml"
Module Magento_Log
Area: Adminhtml
Issue: When in Adminhtml, every refresh page or entering any page causes creating a new entry in log_vistior with store_id=1 and last_url_id=0.
When on frontend, everything is allright.
It it is indended, sorry for confusion.

[2015-04-05 19:53] godban commented on #884
@zivendesign you can use local node.js to automate this processes
- make sure that you have node.js installed locally
- do in project folder cmd "npm install" to upload node packages
- and you are ready to go, use:
  - grunt refresh (to start or when you add/remove less files);
  - grunt less (to compile all less files);
  - grunt watch (to watch changes in less files and compile them automaticall

[2015-04-06 08:48] vpelipenko commented on #1166
@zbych, what should we do to reproduce this issue?

[2015-04-06 09:09] alihalabyah opened #1168 "Google mobile algorithm"
As mentioned in this article I think we should focus more on optimizing the page size and the No. of client side sources being loaded CSS, JS, etc. Not only the responsive design itself!

http://searchengineland.com/everything-need-know-googles-new-stance-mobile-216870

[2015-04-06 10:36] orlangur commented on #1166
There is no need to inherit from some collection class I believe, but `Some\Backend\Class\Of\Model\Defined\ByMe` must implement `Magento\Framework\Data\CollectionDataSourceInterface`.

[2015-04-06 11:01] tzyganu commented on #1166
@orlangur What's the purpose of the `CollectionDataSourceInterface` interface? It does not contain any methods at the moment.

[2015-04-06 11:27] sakiss opened #1169 "Using the search reloads the product details"
## Test instructions
1. Visit a configurable product (e.g. Hero Hoodie from sample data)
2. Try using the search module at the top.

## Result
After any keypress it reloads the product's page by triggering the ajax calls used to load the child products.

[2015-04-06 11:34] sakiss opened #1170 "Cannot edit attributes"
I found a way to add existing attributes or add a new within a product, but cannot find a way to edit existing ones.

Any idea?

[2015-04-06 12:04] zbych commented on #1166
@vpelipenko I prepared a simple module for you that reproduces this issue:
https://www.dropbox.com/s/gh9cuzp4jmcgmtn/verde_test.tar.gz?dl=0

See explanation in layout.
I hope it will help.

Thanks!

[2015-04-06 13:04] JesusTinoco commented on #1117
Are you working on that? Thanks!

[2015-04-06 13:05] JesusTinoco commented on #1152
With PHP 5.5.22 doesn't work but with PHP 5.6.7 works... Any idea?

[2015-04-06 13:27] godban commented on #1168
Hello

@alihalabyah sure, agree with you. We are keep moving in this direction and have roadmap which include more mobile friendly improvements, size reducing, more optimized styles & scripts loading etc.

Maybe you want to highlight something special or something high priority for you?

[2015-04-06 13:30] vpelipenko commented on #1117
@bgkavinga, @JesusTinoco, this issue is already fixed and available from version 0.74.0-beta3. Could you check it again?

[2015-04-06 13:56] mazhalai commented on #1140
@alihalabyah Please try clearing your DB and related `var\generation` and cache folders using the uninstall tool `php setup/index.php uninstall` and try again.

[2015-04-06 14:07] JesusTinoco commented on #1117
I'm checking it now, thanks a lot!

[2015-04-06 14:36] vkorotun commented on #1166
<virtualType name="layoutObjectArgumentInterpreter" type="Magento\Framework\View\Layout\Argument\Interpreter\Object">
        <arguments>
            <argument name="expectedClass" xsi:type="string">Magento\Framework\Data\CollectionDataSourceInterface</argument>
        </arguments>
    </virtualType>

<argument xsi:type="object" /> - имел хардкод проверку, что только интерфейс коллекции можно был

[2015-04-06 14:46] vkorotun commented on #1166
There is an layout argument of object type (xsi:type="object") you can pass to blocks' constructors. It is configured in di.xml, like showed here:
<virtualType name="layoutObjectArgumentInterpreter" type="Magento\Framework\View\Layout\Argument\Interpreter\Object">
    <arguments>
        <argument name="expectedClass" xsi:type="string">Magento\Framework\Data\CollectionDataSourceInterface</argument

[2015-04-06 15:09] JesusTinoco commented on #1117
I'm still have the same problem. It serves the js and css by the 80 port when it should serve it by the 443 port.
![screen shot 2015-04-06 at 17 04 34](https://cloud.githubusercontent.com/assets/2388836/7006186/7694cae2-dc7f-11e4-8171-de348a12311c.png)

[2015-04-06 15:26] vpelipenko commented on #1117
@JesusTinoco, hm... did you check it on the latest 0.74.0-beta3?

[2015-04-06 15:29] JesusTinoco commented on #1117
I've just done a clean installation of that version.

[2015-04-06 15:35] vpelipenko commented on #1117
Ok. Thank you. We'll check it again.

[2015-04-06 16:18] JesusTinoco opened #1171 "Error installing the Magento software using the command line (v0.74.0-beta3)"
When I install the Magento software using the command line I received this error:

Module 'Magento_Core':
Installing schema..

   The application has thrown an exception!

 Zend_Db_Statement_Exception
 SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'core_session' already exists, query was: CREATE TABLE `core_session` (
  `session_id` varchar(255) NOT NULL COMMENT 'Session Id' ,
  `

[2015-04-06 17:37] buskamuza commented on #1171
Hi @JesusTinoco ,
are you updating from an older Magento version? If yes, please, ensure that `var` folder is empty (except `.htaccess` file) before you start installation.

[2015-04-06 19:09] kandy commented on #1170
Try Backend > Stores > Attributes > Product page

[2015-04-07 03:58] yzm629 commented on #1164
Select the "Interface Locale" to "Chinese (China) / Chinese (China)", the interface does not become Chinese in many places, has a corresponding translation, change account information of "Interface Locale" to "Chinese (China) / Chinese (China) ", then an error!

[2015-04-07 03:59] yzm629 commented on #1164
Chinese support is not perfect!

[2015-04-07 07:01] zbych commented on #1166
@vpelipenko FYI: Update of Verde/Test module. I made there a mistake, but issue still occurs.
@vkorotun you are right. Sometimes there is a need to configure object from layout, to keep Block reusable.
After searching for other occurrences of xsi:type="object" in Magento layouts I found only Backend blocks using Collections, so I assumed it as "rule". That's why I was just not sure if it is bug.

[2015-04-07 07:35] JesusTinoco commented on #1171
That was, it works now. Thanks @buskamuza .

[2015-04-07 08:15] vpelipenko commented on #1171
@JesusTinoco, can we close this issue?

[2015-04-07 08:52] JesusTinoco commented on #1171
Yes @vpelipenko

[2015-04-07 09:37] IonutPerfectWeb commented on #844
I have the same issue, and composer self-update and then composer update did not solved the problem. I am using 0.74.0-beta3

[2015-04-07 09:51] #1171 closed

[2015-04-07 10:11] IonutPerfectWeb commented on #844
It may have to do with this error
[code]

appearing when first doing composer update after deleting the magento folder ..

also, is there a problem if I changed the 'htdocs' folder in 'magento'?

[2015-04-07 11:56] alihalabyah commented on #1169
@sakiss I was not able to reproduce the issue but i think what's going on is that the product image flashes after the page fully loaded, try to check the network traffic using your developer tools

[2015-04-07 12:30] IonutPerfectWeb commented on #844
if I add this:``` 'Magento\\Setup' => array($baseDir . '/magento/setup/src'),``` to ```vendor/composer/autoload_namespaces.php``` it no longer shows error but gives this error in console ```*4 open() "/var/www/html/project/magento/setup/index.php/navigation/menu" failed (20: Not a directory)```

[2015-04-07 14:08] mazhalai commented on #844
@IonutPerfectWeb can you explain why you tried `composer install  after deleting the magento folder`.  Also, you shouldnt have to edit the `composer/autoload_namespaces.php`, it already is specified in magento's root [composer.json](https://github.com/magento/magento2/blob/develop/composer.json#L197)

[2015-04-07 14:29] mbrinton01 commented on #1154
@webprostudio please let us know if you have been able to resolve your install issue.

[2015-04-07 15:48] mazhalai commented on #1167
@zbych Thank you for reporting this issue, we have created ticket MAGETWO-35930 internally to investigate this.

[2015-04-07 16:28] IonutPerfectWeb commented on #844
@mazhalai Well, I did a composer install first time, it gave that error, so I started troubleshooting. I deleted the magento folder as I think that something went wrong during the install. I did a composer.json first, it gave that error. the second time it didn't, but the project/setup still gave ``` [ErrorException]
  file_put_contents(/var/www/html/project/magento/app/etc/vendor_path.php): faile

[2015-04-07 16:42] mazhalai commented on #844
@IonutPerfectWeb are you installing magento using a custom `composer.json` using  `create-project` as opposed to steps mentioned in the first comment (here)[https://github.com/magento/magento2/issues/844#issue-52567903]? If yes, please post your `composer.json` file.

[2015-04-07 17:24] bnugent opened #1172 "Changing cache application to varnish hangs on save"
Version 0.74.0-beta3
Caching disabled

To reproduce:
Stores > Configuration > Advanced > System:
1. Under Full Page Cache, change Caching Application to Varnish Caching
2. Leave defaults for varnish
3. Click Save Config
4. Javascript wait spinner pops up and never completes whatever it's trying to do.

Expected behavior:
Config saves and I can export a VCL? Not really sure since this is new and ha

[2015-04-08 04:57] viral177 opened #1174 "Create model in custom module in magento2"
i want to know how to display data in phtml file from database using custom model in magento2 for frontend,can you please give me proper solution?

[2015-04-08 06:31] tzyganu commented on #1174
@viral177  You can take a look at this [sample module](https://github.com/tzyganu/Magento2SampleModule/). I'm not sure it works on the latest Magento 2 version, but you can give it a try.

[2015-04-08 09:10] vpelipenko commented on #1163
@zivendesign, do you have any other questions?

[2015-04-08 09:20] vpelipenko commented on #1117
It works on our side. Probably it is something with Apache configuration on your side. More information about server configuration you can find here http://devdocs.magento.com/guides/v1.0/install-gde/prereq/apache.html. Is it reproduced only on customer related pages in backed? What happens when you click directly on css/js source link? Is it available? Please, provide more information for us, if

[2015-04-08 09:22] vpelipenko commented on #1152
@alihalabyah, do you have updates for us? Do you still have this issue?

[2015-04-08 09:24] vpelipenko commented on #1118
@rvpatel, any news about this issue?

[2015-04-08 09:30] zivendesign commented on #1163
Thanks @villageseo for answers. I'm got it. It's great.
@vpelipenko: Thanks. I have new question. I am looking for a Tool, which allow migrate data from Magento1 -> Magento2. Please let me know have or not for now.

[2015-04-08 09:39] quynhvv commented on #1163
@Ziven:
Yes, we are developing this tool and we public share this tool at
https://github.com/ubertheme/magento2_data_migration/releases
You can follow how to use this tool at
https://github.com/ubertheme/magento2_data_migration/blob/master/README.md
Thanks.

On Wed, Apr 8, 2015 at 4:31 PM, Ziven <notifications@github.com> wrote:

--

Best regards, Quynh Vu Van.
<http://www.magentocommerce.com/cert

[2015-04-08 09:51] JesusTinoco commented on #1117
It is reproduced in all /admin/ pages.

![screen shot 2015-04-08 at 11 27 24](https://cloud.githubusercontent.com/assets/2388836/7042837/fdcd9168-dde4-11e4-82dc-cfc64032e3f4.png)

This is my configuration:

![screen shot 2015-04-08 at 11 29 45](https://cloud.githubusercontent.com/assets/2388836/7042846/155b90be-dde5-11e4-912c-8a50f5b25bc3.png)

And the css/js are available:

![screen shot 2015-04-

[2015-04-08 10:27] JesusTinoco commented on #1152
Maybe, I don't know why but it only happens when I installed it on 80 port, in other ports works fine.

[2015-04-08 11:03] JesusTinoco commented on #1152
When I introduce in the base_url "http:my-ip:80/magento/" it doesn't work, but when I introduce "http:my-ip/magento/" it works.

[2015-04-08 11:54] IonutPerfectWeb commented on #844
@mazhalai Yes, I am using a custom composer.json. But I guess the important parts are those

[code]

[2015-04-08 13:23] IonutPerfectWeb opened #1175 "wysiwyg gives error"
when clicking the wysiwyg button in add product it gives an alert "cannot read property save of undefined"

[2015-04-08 13:26] mazhalai commented on #844
@IonutPerfectWeb  Please add the following to your composer.json
[code]
Please replace `htdocs` with path to magento's root directory, and then CLI should work fine without issues.

[2015-04-08 13:40] IonutPerfectWeb opened #1176 "Adding images to existing products does not show up"
When adding a product, then editing it and adding an extra photo ( i had 1 picture then added one to be 2), the new images shows in product view (by customer) only for a second, then dissapears. if I add 2 photos from first time everything works

[2015-04-08 13:46] blackqubers commented on #193
To fix the PHP Extensions “0” must be loaded issue while installing the magento , Please follow the below codes. Please check the below link

https://magentoextensiondevelopers.wordpress.com/2015/04/08/magento-issue-php-extensions-0-must-be-loaded/

[2015-04-08 14:55] mazhalai commented on #1172
Thank you for reporting, we have created internal ticket MAGETWO-35782 to track this.

[2015-04-08 16:17] mazhalai commented on #1152
@JesusTinoco Thank you for your update, we have created MAGETWO-35964 to investigate this issue.

[2015-04-08 16:20] JesusTinoco commented on #1152
@mazhalai For more information I have to say that when I install magento in other ports (81, 82, 83...) and I introduce in the base_url this port it works properly.

[2015-04-08 16:55] ilol commented on #1163
Hi @zivendesign ,
I am responsible for Magento Migration Tool at Magento 2 project. We are working on the data migration tool that allows to migrate data from the latest supported versions of Magento 1.x to Magento 2.0 and will be distributed out-of-the-box with Magento2. You can find more details by going to Magento 2 Dev RC webinar that we hosted recently https://vimeo.com/123755065.
Also this t

[2015-04-08 18:17] buskamuza commented on #193
@vigentocommerce , could you, please, provide more information about your installation process for Magento 2? Fixe in app/code/core/Mage/Install/etc/config.xml is not for Magento 2, Magento 2 doesn't have such module.

[2015-04-08 21:10] seabird opened #1177 "Beta 3 blank install"
Hello all, just installed magento 2 via composer (so not GIT) and now have a completely themeless store. In the backend same problem and when I go to theme settings there is no save button available to change it.

[2015-04-08 22:30] mazhalai commented on #1177
@seabird thank you for reporting this issue. Can you please post the composer.json used?

[2015-04-08 22:42] cerebrumbr opened #1178 "Update 0.74.0-beta2 to 0.74.0-beta3"
Page not found.

http://devdocs.magento.com/guides/v1.0/install-gde/install/install-composer-install

See images.

I run this command and not update to 0.74.0-beta3.

su www-data

composer install

![captura de tela de 2015-04-08 19 37 01](https://cloud.githubusercontent.com/assets/2263217/7056933/c948ff80-de26-11e4-8790-94adc901edde.png)

![captura de tela de 2015-04-08 19 38 45](https://cloud.gi

[2015-04-08 23:16] mzaroui commented on #1132
I had the same problem and I fixed it using the command "php -f [you magento2 root]/setup/index.php update" thanks @maksek.
In case of a new module this command will insert a new line in "setup_module" table with the setup_version sepcified in module.xml file

[2015-04-09 01:48] yzm629 opened #1179 "admin in the 14 inch notebook menu not fully displayed"
admin in the 14 inch notebook menu not fully displayed

[2015-04-09 04:33] neginparsa opened #1180 "cannot login to magento 2"
I installed magento2 , I can see the home page, it does not have any theme but I can see some text
![capture](https://cloud.githubusercontent.com/assets/3474113/7060454/103717c4-de36-11e4-91eb-d9696cb56d28.PNG)
I had many problems installing magento 2 such as xdebug nesting levels during installation, rewrite module not completeley loaded though was there and etc

it's better in section PHP Extens

[2015-04-09 06:51] JesusTinoco commented on #1180
Try to execute this command being inside the magento folder root.
`php -f dev/tools/Magento/Tools/View/deploy.php`

[2015-04-09 07:40] IonutPerfectWeb commented on #844
Thanks a lot for the help! You can close this:)

[2015-04-09 07:51] seabird commented on #1177
I will try and reproduce the error (virtual machine so should be easy). The steps I took to fix the error:

php dev/tools/Magento/Tools/View/deploy.php

After everything compiles flush the system cache with this command:

php dev/shell/cache.php –flush

[2015-04-09 07:59] bhargavmehta opened #1181 "Can we not remove prototype javascripts?"
Hi,
I have a question . We are using prototype.js since magento's first build.
Now jquery is in stable state.
Can we not just remove prototype.js as it creates conflict many times with jquery.

[2015-04-09 08:01] seabird commented on #1177
{
    "name": "magento/product-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "0.74.0-beta3",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "require": {
        "php": "~5.5.0|~5.6.0",
        "zendframework/zend-stdlib": "2.3.1",
        "zendframework/zend-code": "2.3.1",
        "zendframework/

[2015-04-09 10:21] orlangur commented on #1181
jQuery plays just fine with PrototypeJS using [jQuery.noConflict()](https://api.jquery.com/jquery.noconflict/).

PrototypeJS can be removed as soon as there will be no logic which rely on PrototypeJS. It's already true for storefront and there is no PrototypeJS there, but there are some places in admin area which require PrototypeJS yet.

[2015-04-09 10:53] bhargavmehta commented on #1181
So can we just simply use jQuery with $ in the front end?

[2015-04-09 13:03] benmarks commented on #1178
@cerebrumbr Where were you finding that link (http://devdocs.magento.com/guides/v1.0/install-gde/install/install-composer-install)?

[2015-04-09 13:30] mazhalai commented on #1178
@cerebrumbr I think this is the page you are looking for: [Updating the Magento software](http://devdocs.magento.com/guides/v1.0/install-gde/install/install-cli-install.html#instgde-install-magento-update)

[2015-04-09 13:31] mazhalai commented on #844
@IonutPerfectWeb Thank you for reporting the issue.

[2015-04-09 13:31] #844 closed

[2015-04-09 13:44] mazhalai commented on #1177
@seabird this composer.json is magento's root composer which assumes that you have already cloned the code base using git.  If you want to install the `project` using composer.json, please follow the thread [here](https://github.com/magento/magento2/issues/844#issuecomment-90890500). Also, please note after the process of downloading magento and its dependencies is complete, please run the CLI as

[2015-04-09 13:58] mazhalai commented on #1180
@neginparsa
- Re mod_rewrite, is it possible you have 2 different php versions? It is a common issue that extensions are loaded for PHP in the command line, but not for the PHP version used by apache.
- We will note suggestion of adding a check for mod_rewrite.
- There is no `app/code/core/Mage/Core/Model/Session/Abstract/Varien.php` in Magento2. Please verify your code base.
- Did suggestion by @

[2015-04-09 15:03] godban commented on #1179
Hello @yzm629, thank you for report. This is the same issue with #1120
New Magento Admin look & feel work now is in progress and menu issues will be addressed soon.

Internal ticket MAGETWO-34929

[2015-04-09 15:34] neginparsa commented on #1180
@JesusTinoco  I cannot execute although the path is correct and dev exists there
I did this : php -f dev\tools\Magento\Tools\View\deploy.php
because I am on windows and it should be backslash

.
ERROR: Cannot read contents from file "C:/wamp/www/magento2-develop/" Warning!fi
le_get_contents(C:/wamp/www/magento2-develop/): failed to open stream: No such f
ile or directory (Processing file 'js/row-b

[2015-04-09 19:59] joanhe commented on #1164
@yzm629 I logged in admin. I was able to select the "Interface Locale" to "Chinese (China) / Chinese (China)" without any error. Could you check out  the latest magento2 code and try again?

[2015-04-09 22:45] cerebrumbr commented on #1178
Hello Ben,

I met you at the Meet Magento Brazil.

It was a great pleasure .

This link with error 404.

http://devdocs.magento.com/guides/v1.0/install-gde/install/install-composer-install

Is this link in the phrase "Running Composer to update dependencies"

http://devdocs.magento.com/guides/v1.0/install-gde/install/prepare-install.html

I try update with this tutorial.

http://devdocs.magento.co

[2015-04-09 23:49] piotrekkaminski commented on #992
@antonkril can you point to internal Jira ID with this change? There is a conflicting change planned

[2015-04-10 02:31] yzm629 commented on #1164
Error may be my fault!
But "Account Setting" can not select "Chinese (China) / Chinese (China)".
After saving accounts will change to "Afrikaans (Suid-Afrika) / 南非荷兰文 (南非)"

[2015-04-10 04:31] zivendesign commented on #1163
@ilol,
Thanks for answered. It's awesome.  I'm waiting it.

[2015-04-10 07:48] Sanuch commented on #1178
@cerebrumbr You miss one step from [Updating the Magento software](http://devdocs.magento.com/guides/v1.0/install-gde/install/install-cli-install.html#instgde-install-magento-update). You should run command `php -f index.php update` from `setup` folder but not from root

[2015-04-10 09:36] vpelipenko commented on #1179
Closed as duplicate. @yzm629, please look for updates in #1120. We'll inform you when it is fixed.

[2015-04-10 09:36] #1179 closed

[2015-04-10 09:40] vpelipenko commented on #1163
@zivendesign, can we close this issue? or do you have another questions?

[2015-04-10 09:42] #1114 closed

[2015-04-10 10:13] #1163 closed

[2015-04-11 15:28] TapaniAla commented on #1180
I have a similar messy frontpage but the reason is that fontend and adminhtml directories are missing from the pub directory. I don't know why they are missing but I assume that it is an issue with apache rewrites. Any suggestions how to fix this problem?

[2015-04-11 20:28] serkia opened #1184 "Success installation but no files"
Http://localhost/ shows nothing
Http://localhost/admin doesn't exist

installs "success"

I'm on Ubuntu 14.04,

Server version: Apache/2.4.12 (Ubuntu)
PHP 5.6.7-1+deb.sury.org~trusty+1

rewrites are turned on and set this way
/etc/apache2/sites-available/000-default.conf
Directory "/var/www/html">
   Options Indexes FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow fro

[2015-04-11 20:30] ctubio commented on #524
just saying, I would love to push my language (Catalan) to the original repo too.

[2015-04-12 13:04] bgkavinga commented on #1117
Hi, I am getting circular dependency error after new updates.
"name": "magento/project-community-edition",
    "description": "Magento project (Community Edition)",
    "type": "project",
    "version": "0.74.0-beta4",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
I am running,
PHP 5.6.7
![image](https://cloud.githubusercontent.com/assets/3830093/7105680/67cdb0d8-e142-11e4-8331-755d

[2015-04-13 05:23] AGalico commented on #966
http://docs.hhvm.com/manual/en/hack.unsupported.php

These are features that the Hack language does not support (i.e., the Hack type checker will give you an error if you try to use them). However, HHVM supports these features just fine when using PHP code.

[2015-04-13 15:26] mazhalai commented on #1184
@serkia Can you please clarify how did you run setup? Was it CLI or Web Wizard? If it was Web Wizard what URL did you use to setup?

[2015-04-14 00:11] serkia commented on #1184
Used both ways with same result.

I also created a 2nd vm but used Ubuntu server 14.10 and got same results

On my Ubuntu server vm I installed phpmyadmin. That had same 404 error with
the same symptoms of no files or folder. However Google found me an answer.
Inside apache.conf write this

Include /etc/phpmyadmin/apache.conf

I'm wondering if this would be a clue to why magento is not working.

O

[2015-04-14 10:46] sakiss commented on #1169
@alihalabyah It is in localohost.
Try to use the search within a product that has variations
![mage2](https://cloud.githubusercontent.com/assets/1838041/7135163/a3c3efd8-e2ac-11e4-931e-f69894dd3002.png)

[2015-04-14 10:48] sakiss commented on #1170
Thank you!

[2015-04-14 10:48] #1170 closed

[2015-04-14 12:50] kokoc commented on #1175
Thank you for reporting the issue.

We can't reproduce this issue using provided steps. Could you please verify the issue on latest version and provide additional information (browser, 404's, Magento version)?

[2015-04-14 12:57] kokoc commented on #1176
Thank you for reporting the issue.

We can't reproduce this issue using provided steps. Could you please verify the issue on latest version and provide additional information (browser, 404's, Magento version)?

[2015-04-14 13:23] mazhalai commented on #1184
@serkia some suggestions:
- are there any errors in `<magento root>/var/log` folder? Have you tried by setting [developer mode](http://devdocs.magento.com/guides/v1.0/config-guide/config/magento-mode.html#mode-developer)? It will help you debug if there are some errors.
some questions:
- I noticed you said that document root is set to `var/www/html`. Is magento within another directory? If yes the

[2015-04-14 13:37] kokoc commented on #1169
@sakiss Thank you for reporting the issue.

We are unable to reproduce this issue. There are few ajax requests for search results, but the main page is not refreshed.

Could you please provide more details (browser, Magento version)?

[2015-04-14 16:29] dali-marka opened #1187 "Install using composer fails for 0.74-beta4"
when attempting to install magento2 using composer, I hit a dependency problem with magento/module-sales-sequence (Problems 2 and 3 below)

[code]

the issue is due to this incorrect dependency declaration for that module : https://github.com/magento/magento2/blob/0.74.0-beta4/app/code/Magento/SalesSequence/composer.json#L7 . it should a "*" as opposed to a specific version.

PR coming with a fix.

[2015-04-14 17:37] sivajik34 opened #1189 "password management missing in customer account creation admin side"
i cloned repo ver. 0.74.0-beta4.when i trying to create customer from admin side there is no fields for customer password.

[2015-04-15 01:33] serkia commented on #1184
I installed magento into http://localhost/ then to try something different, into http://arthur after modified hosts file. Same result.

yes source is
git clone https://github.com/magento/magento2.git

when I enter setup via url http://arthur/magento2/setup I see Version 0.74.0-beta4  on the splash screen

Not sure if you read this part of my previous message
On my Ubuntu server vm I installed phpm

[2015-04-15 01:41] serkia commented on #1184
SYSTEM.LOG OUTPUT
[2015-04-11 17:22:06] main.CRITICAL: Broken reference: the 'page.bottom' element cannot be added as child to 'page.bottom.container', because the latter doesn't exist [] []
[2015-04-11 17:22:06] main.CRITICAL: Broken reference: the 'catalog.compare.sidebar' element cannot be added as child to 'sidebar.additional', because the latter doesn't exist [] []
[2015-04-11 17:22:06] main.

[2015-04-15 01:42] serkia commented on #1184
INSTALL.LOG OUTPUT
<span class="text-info">Starting Magento installation:</span><br><span class="text-info">File permissions check...</span><br><span class="hidden">[Progress: 1 / 268]</span><br><span class="text-info">Enabling Maintenance Mode...</span><br><span class="hidden">[Progress: 2 / 268]</span><br><span class="text-info">Installing deployment configuration...</span><br><span class="hidde

[2015-04-15 02:22] maksek commented on #1184
@serkia, it is doesn't look like Magento related issues, but yours web server and env settings. Can you put simple php file on your docroot <code>pinfo.php</code> with such content <code><?php phpinfo(); </code> and try to open http://localhost/phpinfo.php ?

[2015-04-15 04:41] serkia commented on #1184
fixed but
only when I install in localhost/magento2, if I install into localhost problem exists.

last thing I changed before finding this OBVIOUS band aid solution I refused to try till now was changing the php.ini memory_limit = 512M

CURRENT PHPINFO OUTPUT
PHP logo
PHP Version 5.6.7-1+deb.sury.org~utopic+1
System 	Linux ubuntu 3.16.0-23-generic #31-Ubuntu SMP Tue Oct 21 18:00:35 UTC 2014 i686
B

[2015-04-15 08:40] sivajik34 opened #1190 "installation error in 0.74.0-beta4"
======================================================================
   The application has thrown an exception!
======================================================================
 Zend_Db_Statement_Exception
 SQLSTATE[42S22]: Column not found: 1054 Unknown column 'gift_message_id' in 'field list', query was: INSERT INTO `sales_order` (`state`, `status`, `coupon_code`, `protect_code`, `shipp

[2015-04-15 09:57] therouv commented on #1187
PR already sent in #1186

[2015-04-15 13:02] mazhalai commented on #1190
@sivajik34 can you please clear `cache` and `generation` folder within `var` and try again?

[2015-04-15 13:15] vpelipenko commented on #1181
@bhargavmehta, yes, you can use jQuery for frontend now. Do you have another questions?

[2015-04-15 13:23] villageseo commented on #1181
Hi bhargavmehta,

Yes, jQuery works with $ through require.js structure like this:
[code]

[2015-04-15 13:47] choukalos commented on #1187
Tag to @tanya-soroka to look keep tabs on from a product side.

[2015-04-15 13:49] choukalos commented on #1168
Assigning to @ilol for mobile product perspective and tagging @eleonova for UX/front-end perspective.

[2015-04-15 14:24] vpelipenko commented on #1174
@viral177, could you give us more details? Do you create new module or try to change something existing?

[2015-04-15 14:27] vpelipenko commented on #1187
@dali-marka, we are going to process #1186 ASAP where this issue is already fixed.

[2015-04-15 14:59] vizjerai opened #1191 "Advanced Pricing - Group Price Add All for Groups"
I noticed that there is an option to select a website for the group prices and it would be nice to be able to set a price for all groups. That way we can set a price differently on one site vs another one.

[2015-04-15 15:07] dali-marka commented on #1187
Thanks for the quick reply!

[2015-04-15 15:34] orlangur commented on #1181
No JavaScript code must be written in global scope. And for any JavaScript code wrapped with a closure external dependencies must be explicitly defined: https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/view/frontend/web/js/compare.js#L11

So both
[code]

and
[code]

are not acceptable.

And for properly placed JavaScript code any name for `jQuery` variable could be used as

[2015-04-15 16:47] kokoc commented on #1157
@cerebrumbr thank you for reporting the issue. Internal reference: MAGETWO-36266

[2015-04-15 23:11] cerebrumbr opened #1192 "Error in monetary value Brazil"
See attache images.

Example value in Brazil = R$ 10.800,55 (monetary value valid)

Accepted only R$ 1080055.00 (monetary value invalid)

Presented in front-end R$1.080.055,00 (monetary value invalid)

![captura de tela de 2015-04-15 20 07 04](https://cloud.githubusercontent.com/assets/2263217/7171183/7d0a984c-e3ab-11e4-9f31-badf352e8a50.png)
![captura de tela de 2015-04-15 20 07 16](https://cloud

[2015-04-16 10:45] ilol commented on #1189
Hi @sivajik34, how do you think, is it secure to ask new password from admin staff?
Or better generate customer password and send it to customer? Or better to generate link for password reset and send to customer?

[2015-04-16 11:33] joh-klein opened #1193 "Can we add another region column with ISO_3166-2 codes"
The current region codes for Germany seem not to be widely known (a quick Google search didn't reveal a source for them). And some others seem to be impractical but most importantly will probably hinder exchanging addresses with other systems.
I could provide a PR with the current [data for regions from Wikipedia](http://en.wikipedia.org/wiki/ISO_3166-2) for these 13 countries (US, CA, DE, AT, CH,

[2015-04-16 14:29] mbrinton01 commented on #1154
@webprostudio because we did not receive a response we are closing this issue. If you are still having trouble with your install, please reopen the issue and provide more explanation.

[2015-04-16 14:29] #1154 closed

[2015-04-16 14:33] webprostudio commented on #1154
Apologies for the delay in getting back to you on this.I installed the missing extensions using macports and that resolved the issue. I now have issues with the version of MySQL that MAMP uses so am now looking to upgrade SQL to 5.6.

[2015-04-16 14:38] mbrinton01 commented on #1154
Thank you for the update and glad to hear you resolved the composer issue.

[2015-04-16 15:43] craigcarnell opened #1194 "Upgrade support"
Hi,

As we are at beta 4 I am planning on begenning some development work. But I don't want my database to be useless in future upgrades (beta 5, beta 6, rc1 etc).

Will the code supplied by yourselves run sql update scripts as the version changes in modules as in previous versions of Magento?

I don't want to be in a position where I have created a lot of work in the back end to lose it all!

I d

[2015-04-16 16:42] sivajik34 commented on #1189
2nd and 3rd options are good.

[2015-04-16 16:42] #1189 closed

[2015-04-16 16:48] sivajik34 commented on #1190
ya it is solved. thanks

[2015-04-16 16:48] #1190 closed

[2015-04-16 21:46] choukalos commented on #1192
@cerebrumbr why isn't "Presented in front-end R$1.080.055,00 (monetary value invalid)" format valid?  I thought the format was #.###,## ( http://www.thefinancials.com/Default.aspx?SubSectionID=curformat )?  Can you provide more insight?

Thanks,
Chuck

[2015-04-17 08:25] vpelipenko commented on #1187
@dali-marka, PR #1186 was merged. Please, verify the issue again.

[2015-04-17 08:28] vpelipenko commented on #1138
Closed. There is no response from reporter. @craigcarnell, feel free to reopen if still have issues with JS minification .

[2015-04-17 08:28] #1138 closed

[2015-04-17 08:29] JesusTinoco opened #1196 "Error installing the Magento software using the command line in windows (v0.74.0-beta3)"
I'v received this error installing magento2 by command line in windows:

[Progress: 181 / 265]
Module 'Magento_Customer':
Installing data.. PHP Fatal error:  Class 'IntlDateFormatter' not found in C:\path\to\lib\internal\Magento\Framework\ObjectManager\Factory\AbstractFactory.php on line 107

[2015-04-17 08:43] vpelipenko commented on #1196
@JesusTinoco, you should have PHP intl extension enabled.

[2015-04-17 08:52] vpelipenko commented on #1105
@seansan, hi again. We are still waiting for updates from you. You promised to check described issues on Magento 2 instance. Did you have a chance to do it?

[2015-04-17 08:57] asemenenko commented on #1106
Improvement is now described and captured in MAGETWO-991

/regards

[2015-04-17 08:57] craigcarnell commented on #1138
@vpelipenko When I enable the merge and bundling of JavaScript files in beta4, the admin system menu no longer responds.

I would preferably like frontend and back end merging/bundling being moved into separate menu options, as this can issue often occurs if there is a mistake in any javascript, stopping javascript running in the admin.

 @vkorotun How do you switch to "production" mode?

[2015-04-17 11:08] JesusTinoco commented on #1196
Was that, thank you!

[2015-04-17 14:24] mbrinton01 commented on #1196
Thanks @JesusTinoco, closing the issue.

[2015-04-17 14:24] #1196 closed

[2015-04-17 15:00] craigcarnell commented on #1089
@refaelgold Any updates on when we could see the PayPal module? (UK)

[2015-04-17 15:09] choukalos commented on #1194
We'll be releasing our migration tool soon.  @ilol can provide more details on when.  Check out our Dev RC webinar for details on the migration tool ( https://vimeo.com/123755065 ).  @tanya-soroka can provide details on our upgrade plans through merchant beta.

[2015-04-17 15:46] djallits commented on #800
I am actually looking to leverage vlucas/phpdotenv to manage configurations through several environments. .env files should not be version controlled.

[2015-04-17 20:54] cerebrumbr commented on #1192
@choukalos

Hello,

Does not accept the value R$ 10.800,55 in registration of the product.

The value R$ 10.800,55 is converted to R$1.080.055,00

[2015-04-17 21:08] JesusTinoco opened #1197 "Installing magento2 using Alias Directive fails."
When I install magento2 using an Alias Directive (/magento) it fails. It doesn't show JS and CSS, I have to execute deploy.php. Any idea?

I uncomment every #RewriteBase /magento/

[2015-04-17 21:45] jeff-99 commented on #1187
[code]

[2015-04-18 12:36] sakiss commented on #1184
That helped me
http://stackoverflow.com/questions/5891802/how-do-i-change-the-root-directory-of-an-apache-server

Set it to pont at "/var/www/html"

[2015-04-19 02:24] serkia commented on #1184
nope. Thats already set

I'm just going to close this issue since it has to be something with apache

[2015-04-19 02:24] #1184 closed

[2015-04-19 02:45] ctubio opened #1198 "Template hints visible in admin pages."
When i enable the template hints for a store view, the template hints are also visible in the admin pages:
![admin_template_hints](https://cloud.githubusercontent.com/assets/1634027/7217950/c916f99c-e64e-11e4-84cf-693ccefb6b78.png)

this is the expected behaviour?

thank you''

[2015-04-19 03:04] tzyganu commented on #1198
Duplicate of #647. I see this isn't fixed yet. Please fix.

[2015-04-19 03:15] ctubio commented on #647
Sorry for that recent duplicate.

Please, do not mix the feature of allowing template hints in the adminhtml pages with the bug of the template hints showing in adminhtml pages even if the template hints are just enabled for a single store view.

If template hints should be allowed in adminhtml pages, a new configuration option should be added rather than force it implicit together with whatever s

[2015-04-19 07:46] sivajik34 opened #1200 "i'm not getting default values (name & email) in contact form when i logged in."
i'm not getting default values (name & email) in contact form when i logged in.

I think there is a problem with customer session.
Magento ver. 0.74.0-beta4

[2015-04-20 11:17] joh-klein commented on #1193
So, since I don't know what the label "PROD" stands for (looks like production, but I don't know what that would mean in this context)  … should I do the work, or is it not required?

[2015-04-20 11:21] vpelipenko commented on #1193
Hi @joh-klein, you can read more about labels here http://devdocs.magento.com/guides/v1.0/contributor-guide/CONTRIBUTING.html#labels. This label means that issue should be reviewed and accepted  by our Product Team.

[2015-04-20 11:24] joh-klein commented on #1193
Thanks! I just found it myself and deleted my original comment for rtfm reasons :)

[2015-04-20 11:37] craigcarnell commented on #1194
@ilol @choukalos @tanya-soroka

I've just upgraded from beta 4 to beta 5. I am instructed to run bin/magento setup:upgrade.. It doesn't work!

[code]

HTML output:

[code]

[2015-04-20 11:45] craigcarnell commented on #1194
@choukalos I successfully upgraded from beta4 to beta5 (except for an issue which was down to permissions)

[2015-04-20 12:15] craigcarnell opened #1203 "Enable JS Bundling breaks admin dashboard slide out"
When you enable the JS Bundling feature, the admin "side" dashboard no longer opens which means you cannot turn it off again or use the admin at all

Seen in beta 4 and beta 5

[2015-04-20 12:30] ctubio commented on #1198
See #647 for up-to-date comments.

(i hate duplicates, sorry for this one :disappointed:)

[2015-04-20 12:51] craigcarnell opened #1204 "Switching between grid view and list view does not work"
Initially I was on grid view, I clicked on list view. This did nothing until I refreshed the page. Then when I try to get back to grid, nothing happens

[2015-04-20 12:53] craigcarnell opened #1205 "Varnish VCL"
Where can I find the Varnish VCL?
Does it support hole punching? e.g. for basket
Is it multi-store and multi-currency compatible?

[2015-04-20 15:01] alankent commented on #1203
!!!

[2015-04-20 16:36] rkratt007 commented on #1205
I'm not aware of Magento 2.0 having varnish support built in. You would need to integrate an extension from the older version of magento to work with magento 2.0

http://www.magentocommerce.com/magento-connect/turpentine-varnish-cache.html

[2015-04-20 19:40] kandy commented on #1205
Magento 2.0 have built in varnish support.
Config generation available at STORES > CONFIGURATION section ADVANCED > SYSTEM > Full Page Cache, Select Caching Application: varnish caching and in section Varnish Configuration available "Export VCL for Varnish 4" button.

[2015-04-21 06:50] #1181 closed

[2015-04-21 09:07] vpelipenko commented on #1200
@sivajik34, do you mean Contact Us form?

[2015-04-21 09:30] vpelipenko commented on #1140
@alihalabyah, do you still have this issue?

[2015-04-21 09:34] vpelipenko commented on #1203
@craigcarnell, we've tried to reproduce this issue but without success. Maybe you need to clean caches. Could you provide more information for us? Do you see any JS errors?

[2015-04-21 09:36] #1044 closed

[2015-04-21 10:32] alihalabyah commented on #1140
@mazhalai @vpelipenko this issue has been solved, thank you!

[2015-04-21 10:32] #1140 closed

[2015-04-21 11:12] vpelipenko commented on #1187
@dali-marka, @jeff-99, sorry for confusing, this issue should be fixed for 0.74-beta5.

[2015-04-21 11:21] JesusTinoco commented on #1197
Any idea?

[2015-04-21 11:29] sivajik34 commented on #1200
yes.i debugged some what.isloggedin function not working

[2015-04-21 12:08] vpelipenko commented on #1197
@JesusTinoco, could you provide more details? How can we reproduce the issue?

[2015-04-21 12:23] vpelipenko commented on #1169
@sakiss, did you a have a chance to check the issue again on the latest versions?

[2015-04-21 12:30] vpelipenko commented on #166
@dustinnordquist, it will be decided by Product owner. But unfortunately, this work is still not in progress now.

[2015-04-21 12:59] #785 closed

[2015-04-21 13:04] vpelipenko commented on #975
Guys, can we consider this question answered?

[2015-04-21 13:11] vpelipenko commented on #1112
@groggu, did you have a chance to verify this issue again on your Magento instance? It was fixed in 0.74.0-beta1.

[2015-04-21 13:16] Flyingmana commented on #975
from my point of view: yes

[2015-04-21 13:21] vpelipenko commented on #675
Pull request #1136 for this is accepted and it is available from 0.74.0-beta3. Thank you, @tzyganu, for contribution.

[2015-04-21 13:21] #675 closed

[2015-04-21 13:39] vpelipenko commented on #559
@colinmollenhour, as it was mentioned by @TexanHogman 'underscore' is not in our nearest plans.

[2015-04-21 13:39] #559 closed

[2015-04-21 13:46] jialuni opened #1207 "Installation is incomplete. Check the console log for errors before trying again."
Hello,

I have this message during beta setup wizard (Installing... 68%) :

** Installation is incomplete. Check the console log for errors before trying again. **

### My env :
Wampserver 2.5 on Windows 7 (ultra new install without particular configuration) with
Apache 2.4.9
PHP 5.5.12
Mysql 5.6.17

I tried :
- with a "develop" branch pull, then I tried cloning a "master" pull in an other directo

[2015-04-21 13:58] mazhalai commented on #1207
@jialuni Can you please clear `cache` and `generation` folders within the var directory, and try again?

[2015-04-21 14:07] jialuni commented on #1207
@mazhalai I tried, first time it write me some integrity constraint violation. SO I tried another time with deleting
- /var/cache/*
- /var/generation/*
- sql : Truncate table

And same result again

[2015-04-21 14:27] jialuni commented on #1207
I solved my problem doing a git checkout / drop DB again...

[2015-04-21 14:48] mazhalai commented on #1207
@jialuni Did you have an existing installation of magento?

[2015-04-21 15:09] jialuni commented on #1207
No I just installed today, directly after a git pull. But I had a bug with "xdebug" just before this one, and de generation/cache/db deletion didn't solve the problem

[2015-04-21 15:09] nileshtighare opened #1208 "Table Rates - Import feature not working"
Hello Team,

I found issue while importing the tablerates.csv file. This issue is generated in WAMP environment.
Error shows: The file "C:/Windows/TEMP/D:/wamp/tmp/php7FC1.tmp" doesn't exist.

![magento2-import-tablerates-issue](https://cloud.githubusercontent.com/assets/11942954/7255200/6d52ca14-e865-11e4-9837-3f3a37b524f1.png)

Thanks,

[2015-04-21 15:36] groggu commented on #1112
I have not had the time to upgrade the version of PHP on that server yet, so I can’t pull the latest code. Will try to get some extra non-project time allocated after Imagine.

Greg

[2015-04-21 17:44] #975 closed

[2015-04-21 19:11] minhluan259 commented on #1180
"I installed magento2 , I can see the home page, it does not have any theme but I can see some text"
==> I have a similar. (Xampp on windows)
Backend and frontend show some text.
http://www.awesomescreenshot.com/image/120729/57820bef607f7ac8b38b189191a6c2d3

[2015-04-21 20:16] mazhalai commented on #1180
@TapaniAla and @minhluan259 have you tried this solution in [Magento's troubleshooting guide](http://devdocs.magento.com/guides/v1.0/install-gde/trouble/tshoot_no-styles.html)

[2015-04-22 11:03] aadmathijssen commented on #1013
If I understand correctly, setting up a new Magento 2 application for an actual client site should be done as follows:

[code]

Ideally, this should put most code in the vendor folder, and as little files as possible in the root folder (similar to the way [Symfony applications can be created with Composer](http://symfony.com/doc/current/book/installation.html#book-creating-applications-without-the

[2015-04-22 12:28] vpelipenko commented on #1205
@craigcarnell, do you have another questions about Varnish support in Magento?

[2015-04-22 12:29] vpelipenko commented on #1112
Ok. Thanks, we'll wait for update from you.

[2015-04-22 12:40] craigcarnell commented on #1205
@vpelipenko Yes - does it support hole punching and if it does, how do we use this in our own modules/themes (e.g. custom private/public TTLs etc)

[2015-04-22 13:20] wonderfan commented on #1208
It is specific for your environment

[2015-04-22 13:22] wonderfan opened #1209 "localhost can not access the pages"
When i set it up, i can not access the pages via localhost

[2015-04-22 14:52] joanhe commented on #1013
@aadmathijssen I see there are couple of questions in your comments:
1. About support to keep Magento 2 code under vendor. This problem should be resolved when this issue is resolved.
2. Question about ```composer update```. It doesn't work because the version in composer.json is fixed version, Magento 2 doesn't support a range of version yet. You can update the version you want in the composer.js

[2015-04-22 15:20] aadmathijssen commented on #1013
@joanhe Thanks for the reply!

Regarding the use of `composer update`, I think you need to do more than just change the version: it is possible that Magento makes other changes to the `composer.json` file, which should also be taken into account. Next to that, I probably also need to make changes to `composer.json` myself needed by the project specific parts (most likely extra requires). So the lo

[2015-04-22 15:28] wonderfan commented on #1209
use 127.0.0.1 and it is okay now

[2015-04-22 15:28] #1209 closed

[2015-04-22 19:28] joanhe commented on #1013
@aadmathijssen That is correct. If Magento adds or removes some modules, it won't reflect in the composer.json. There is some change in next version. It should improve on this issue. You need to use package ```magento/project-community-edition``` to create project. The command in your case would be:
```composer create-project magento/project-community-edition client_project_name -s dev```

[2015-04-22 19:39] mbrinton01 commented on #1108
@tzyganu this has now been released in 0.74.0-beta5. The new console is in '\bin'.  Here is the help for 'module:enable' which shows the static files option:

[code]

The default behavior will not clear files, but the user can choose to do so using the `-c` option.

[2015-04-22 19:41] #1108 closed

[2015-04-22 20:09] aadmathijssen commented on #1013
@joanhe I hope the next version will improve on this issue, so people creating actual projects have a good starting point. I see that I have misspelled the package name in my first post; you're right, this should be `magento/project-community-edition`.

[2015-04-22 22:23] Obscurefrey opened #1211 "unable to login"
I have successfully installed magento 2, i m using windows 7, but now i m unable to login into the panel. it dont show wrong password , just jump back into the login page, pls help me out..

[2015-04-23 10:37] vpelipenko commented on #1211
Do you get some JS error or broken styles? We have similar issue here https://github.com/magento/magento2/issues/1180.

[2015-04-23 11:32] Obscurefrey commented on #1211
my page theme is perfectly fine.. there are no JS error or broken styles.. i just cant log into my panel..

[2015-04-23 13:37] joanhe commented on #1211
@Obscurefrey What browser do you use? Do you have localhost in your url?

[2015-04-23 14:26] Obscurefrey commented on #1211
i tried it with chrome, mozzila and internet explorer, and yes i have localhost or 127.0.0.1 in my url

[2015-04-23 18:42] TapaniAla commented on #1180
I have already fixed this problem according to @JesusTinoco instructions. Please note that there will be a time out in deployer.php unless you increase the time_out setting from the default 30 seconds to something like 300 seconds.

[2015-04-23 18:51] TapaniAla commented on #1211
Currently Magento2 installation doesn't seem to  copy all files (like css) so you have to execute this command inside the magento folder root:  php -f dev/tools/Magento/Tools/View/deploy.php. This script has a time out issue so you have to increase set_timeout from the default 30 seconds to 300 seconds. Please verify from the apache2 error log that the script was run without problems.  Some furthe

[2015-04-23 19:28] pccomfrank opened #1212 "magento 2 0.74.0-beta5 unable to open home page after successful installation"
![image](https://cloud.githubusercontent.com/assets/4493796/7305561/c91b3ce2-e9cc-11e4-8db4-9b2de6a04711.png)

when I go to its home page:

Fatal error: Call to a member function getFieldValue() on boolean in/usr/local/www/kerynn.ca/app/code/Magento/PageCache/Model/App/FrontController/BuiltinPlugin.php on line 92

![image](https://cloud.githubusercontent.com/assets/4493796/7305575/ebd035bc-e9cc-11

[2015-04-24 14:54] joanhe commented on #1211
@Obscurefrey Try to avoid using localhost or 127.0.0.1. Your issue looks like the same issue of #1180. Try TapanlAla's suggestion above. Please let us know if you still experience problem.

[2015-04-24 15:07] joanhe commented on #1212
@pccomfrank Do you have previous Magento installation? Could you try clean up var and pub directory and try again?

[2015-04-24 15:14] pccomfrank commented on #1212
I started from git clone. Everything is fresh. Let me fresh make it again.

[2015-04-24 15:24] joshdifabio commented on #357
Given that so many people seem to care about this, I'd recommend taking a look at PR #1206 and providing some feedback.

[2015-04-24 15:38] pccomfrank commented on #1212
![image](https://cloud.githubusercontent.com/assets/4493796/7322361/9d379b76-ea75-11e4-95e5-24178a9fb25e.png)
I did a fresh git clone with a new database. No sample data.
![image](https://cloud.githubusercontent.com/assets/4493796/7322383/ba9ffadc-ea75-11e4-93ff-710c2d62fd35.png)
The admin page seems OK.
![image](https://cloud.githubusercontent.com/assets/4493796/7322405/d3bc2e50-ea75-11e4-8b84-8d

[2015-04-24 16:20] joanhe commented on #1212
@pccomfrank Thanks for reporting this issue. Internal ticket MAGETWO-36653 was created for continuing investigating and fixing this issue.

[2015-04-24 19:23] rganin commented on #1208
It`s an environment issue, yor upload_tmp_dir in php.ini is broken and seems concatenated with windows default temp directory.

[2015-04-24 20:21] pccomfrank opened #1213 "Magento 2 0.74.0-beta6 unable to open home page right after successful installation"
Hi, Magento 2 developers!
Thank you to make beta6 available. I just made a fresh install for 0.74.0-beta6 by using composer.
I got a success installation. Then I click to the admin page, it seems ok. When I click to the home page, it pop out an errror message as the following:
![image](https://cloud.githubusercontent.com/assets/4493796/7327588/7640c606-ea9c-11e4-87b9-7f4a6d7c7778.png)
The admin pa

[2015-04-24 20:23] maksek commented on #1213
@pccomfrank you need to remove content of var/generation/ folder.

[2015-04-24 20:29] pccomfrank commented on #1213
I found there is a folder named Magento. I remove it. Then I refresh the admin page and home page. The home page still has the same error message.

[2015-04-24 21:39] joanhe commented on #1213
@pccomfrank Is this the same issue you reported on #1212?

[2015-04-24 21:42] pccomfrank commented on #1213
#1212 is about 0.74.0-beta5, This one is for 0.74.0-beta6.

[2015-04-24 21:53] buskamuza commented on #1213
@pccomfrank , did you clean all from `var` folder?
If not yet, I'd suggest to try it. Leave only `.htaccess` file.

[2015-04-24 22:28] pccomfrank commented on #1213
Yes, I did. I deleted every except .htaccess. Restarted Apache24 and clear
all history and cache in my browser. Than go to the home page. The same
error.

On Fri, Apr 24, 2015 at 5:53 PM, Olga <notifications@github.com> wrote:

[2015-04-24 23:27] pccomfrank commented on #1213
This is the system.log when I fresh the admin page. The home page has no log when I refresh it.

[2015-04-25 19:26:23] main.CRITICAL: Broken reference: the 'header' tries to reorder itself towards 'global.notices', but their parents are different: 'page.wrapper' and 'notices.wrapper' respectively. [] []
[2015-04-25 19:26:23] main.CRITICAL: Broken reference: the 'page.breadcrumbs' tries to reorder

[2015-04-25 14:30] Obscurefrey commented on #1211
the problem is solved.. the issue is with antivirus.. plss turn off ur antivirus while installing magento 2..

[2015-04-26 05:58] joanhe commented on #1211
@Obscurefrey I am glad you got issue resolved. Thanks for letting us know.

[2015-04-26 09:47] #1211 closed

[2015-04-26 09:49] Obscurefrey opened #1215 "how can we change the default theme in magento 2.0"
i want to install some another theme in magento 2.0 .. guide me pls...

[2015-04-26 13:00] pccomfrank commented on #1215
Have you ever installed any current Magento 2, such as 0.74.0-beta5, 0.74.0-beta6, successfully? You made the home page working?

[2015-04-26 13:16] Obscurefrey commented on #1215
Yeah i successfully installed magento..
On Apr 26, 2015 6:30 PM, pccomfrank <notifications@github.com> wrote:Have you ever installed any current Magento 2, such as 0.74.0-beta5, 0.74.0-beta6, successfully? You made the home page working?

—Reply to this email directly or view it on GitHub.

[2015-04-26 13:22] pccomfrank commented on #1215
What is the reversion of your Magento? Magento 2 or Magento 1? Magento 2 0.74.0-beta5 or Magento 2 0.74.0-beta6 ?

[2015-04-27 04:36] minhluan259 opened #1216 "Can't install sample data"
Windows 8.1 / Xampp V3.2.1

By Setup Wizard:

98% (about 1h)
http://www.awesomescreenshot.com/image/144185/a1c96922f99038abcdaaaff0d562b2af

By command:

Luan@MINHLUAN /d/App/htdocs/magentodev/dev/tools/Magento/Tools/SampleData (maste
r)
$ php -f install.php -- --admin_user=admin

Fatal error: Cannot instantiate interface Symfony\Component\Console\Output\OutputInterface in D:\App\htdocs\magentodev

[2015-04-27 09:04] vpelipenko commented on #1208
@wonderfan, could you verify your PHP settings?

[2015-04-27 11:30] robjmills commented on #1216
+1

[2015-04-27 12:14] aishwaryacedcoss opened #1217 "designing Issue"
There is a design issue in language locale drop down button in the admin panel.This is the dropdown panel that comes  in the footer of admin panel used for the language selection for admin.

[2015-04-27 12:32] vpelipenko commented on #1217
@aishwaryacedcoss, what issue can you see there?

[2015-04-27 13:23] aishwaryacedcoss commented on #1217
Hello,
Please check this screenshot :-
http://awesomescreenshot.com/0284uzvw08
Hope it will clear my point.

On Monday 27 April 2015 06:03 PM, Vladimir Pelipenko wrote:

[2015-04-27 13:31] vpelipenko commented on #1215
@Obscurefrey, do you new Magento 2 theme and want to install it?

[2015-04-27 13:40] MomotenkoNatalia commented on #1217
Hi @aishwaryacedcoss
Maybe you are using an old version of a browser, could you upgrade your browser and tell us if this issue is still reproduced

Thanks!

[2015-04-27 13:41] otoolec commented on #1180
If you are still having this issue and are running on windows can you see if [disabling symlinks](http://magento.stackexchange.com/questions/63117/magento-2-problem-in-admin-login/64809#64809) fixes the problem for you?  Please report back if it did so we can prioritize a proper fix.

[2015-04-27 13:53] pccomfrank commented on #1215
Sorry, I do not new Magento 2 and I cannot install it.

[2015-04-27 14:00] zanilee commented on #1215
Hi, @Obscurefrey!
Here is the guide how you can change a theme in Magento 2: http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/themes/theme-apply.html#theme-apply-apply

[2015-04-27 14:08] kokoc commented on #1204
@craigcarnell Thank you for reporting the issue. However, I can't reproduce this issue on latest code base (category listing page). Could you please provide more details (browser, page, version) and verify the issue on latest Magento?

[2015-04-27 14:15] adzminz commented on #1216
+1

[2015-04-27 15:35] kokoc commented on #1216
Thank you for reporting the issue. We will fix the problem and get back to you once we have the working code.
Internal reference: MAGETWO-36702

[2015-04-27 18:50] jilu1 commented on #767
@tzygan Could you please verify this issue with latest mainline code? We are not able to reproduce the problem.

[2015-04-27 19:37] coldgreentea commented on #1143
@alihalabyah When you accessed the admin, did you use the full url given in the OP? Including the large key at the end?

[2015-04-27 19:42] choukalos commented on #1133
Looks like (MAGETWO-35760) is a similar bug ( already being worked ).  Linking issues.

[2015-04-27 20:11] choukalos commented on #1192
Created Jira issue - MAGETWO-36706 as a bug; could be considered a feature request will wait to see what team determines.

[2015-04-27 21:13] mazhalai commented on #1117
@bgkavinga @JesusTinoco
- Can you please tell us what server are you using?
- If you are using apache, has mod rewrite been enabled?

[2015-04-27 22:28] snohe commented on #1198
@ctubio @tzyganu, thanks for the update.  We'll go ahead and close this issue in favor or #647.  Please watch that issue for any updates.

[2015-04-27 22:28] #1198 closed

[2015-04-28 08:29] alihalabyah commented on #1143
@coldgreentea Yes, take a look at the previous comment above!

[2015-04-28 09:55] bgkavinga commented on #1117
Hi @mazhalai ,
This is working ok after a fresh installation. Previously I switched to develop branch from master in order to get latest update. It breaks the entire web site.
Thanks

[2015-04-28 10:55] anshumanravi commented on #1216
+1

[2015-04-28 11:51] vpelipenko commented on #1187
@dali-marka, @jeff-99, could you check the issue again on the latest version?

[2015-04-28 11:55] vpelipenko commented on #1168
@alihalabyah, do you have to highlight something in this work?

[2015-04-28 11:58] jcage88 commented on #1215
Hi there! As for me, I am using http://www.finestshops.com hosting for Magento. They provide all the service I need. Maybe, you should ask them for help too?

[2015-04-28 12:26] vpelipenko commented on #1117
@bgkavinga, can we close the issue?

[2015-04-28 12:41] tzyganu commented on #767
@jilu1 If you cannot reproduce it anymore, you can close it. I will take a look in the next few days an reopen it if necessary.

[2015-04-28 12:46] ilol commented on #442
@SmthDiff hi,
Very interesting suggestion. We are thinking about Single Sign On, but I can`t say about implementation date. The main reason is that the several popular extensions are existing. You could find them on Connect or via internet search.
And welcome to contribute to Magento 2 and to create new extension. Thank you for your activity and let me close this issue. I could reopen it anytime o

[2015-04-28 13:33] aishwaryacedcoss commented on #1217
Ok Sorry ,Yes its my browser problem.
On Monday 27 April 2015 07:10 PM, nmomotenko wrote:

[2015-04-28 13:46] vpelipenko commented on #1217
@aishwaryacedcoss, we are going to close this issue? Do you have any objections?

[2015-04-28 14:00] tzyganu commented on #767
@jilu1 You are right. This does not reproduce anymore. Thanks for the fix. (I couldn't wait a few more days so I tried it now :smile: )

[2015-04-28 14:00] #767 closed

[2015-04-28 14:48] joshdifabio commented on #442
This would save agencies a lot of time and effort.

[2015-04-28 14:52] bgkavinga commented on #1117
This issue is no longer valid. Closing the bug.

[2015-04-28 14:52] #1117 closed

[2015-04-28 14:57] jilu1 commented on #767
@tzyganu Thank you for your quick response!

[2015-04-29 01:12] Flyingmana opened #1219 "bin/magento exception handling"
the form of this file does not follow the structure of for example `pub/index.php`

the `catch` for the `Autoload error` should only cover the require of the bootstrap, not the actual execution.

Also if we want to limit the exception printing, we should make this dependend on the developer mode, or an extra console flag (--debug?)

I did not create a PR for this, as the file is to little, and I d

[2015-04-29 05:44] aishwaryacedcoss commented on #1217
No.
On Tuesday 28 April 2015 07:16 PM, Vladimir Pelipenko wrote:

[2015-04-29 09:41] #1217 closed

[2015-04-29 10:15] bgkavinga opened #1220 "Code standard miss matches"
Hi,
In the developer doc (http://devdocs.magento.com/guides/v1.0/coding-standards/code-standard-php.html) you said to use PSR-1 & PSR-2 standards. In PSR-2 it said "Property names SHOULD NOT be prefixed with a single underscore to indicate protected or private visibility.". But I found in your code you are using underscore prefix for some protected variables & for others you are not.
Is there a ru

[2015-04-29 12:13] anshumanravi opened #1221 ""Uncaught TypeError: Event.observe is not a function" In Version 0.74.0-beta6"
Hi, I am getting this Js error(Related to Prototype?)  at Admin , As a result Submit and other functions not working for me. Frontend working properly though with no error so far.

Env :
 Mac OSX 10.10
 Apache+PHP  , Chrome Version 42.0.2311.90 (64-bit)

[2015-04-29 13:37] orlangur commented on #1220
Duplicate of #1155, please look into [my comment](https://github.com/magento/magento2/issues/1155#issuecomment-87995562).

[2015-04-29 14:29] bgkavinga commented on #1220
Is there any reason to mix both ? What should we use in our own modules ?

[2015-04-29 23:15] gewaechshaus commented on #966
Damn, i didn't read this good enough I think @AGalico .

But as the fate want, we switched today again to HHVM 3.6.1, and got this
![ahhhhhhhhhhhhhhhhhhhh](https://cloud.githubusercontent.com/assets/7628545/7403433/fd9eb1f2-eed5-11e4-9df7-180712f0474b.jpg)

and something like
![waaaaaaaaaaaaaaaaahhhhhhhhhhhh](https://cloud.githubusercontent.com/assets/7628545/7403448/2bdd4a2e-eed6-11e4-8b4a-4f0b28

[2015-04-30 01:55] AGalico commented on #966
are you able to see what happens in Zend_Currency  toCurrency()?

[2015-04-30 01:57] gewaechshaus commented on #966
I stopped hhvm to let the fallback be active, we just moved our dev to live... Have to clone it into a new dev, will start tomorow. Still working 20hrs.

[2015-04-30 07:36] anshumanravi commented on #1221
Self closing it. running deploy fixed it.

[code]

[2015-04-30 07:36] #1221 closed

[2015-04-30 09:14] dali-marka commented on #1187
This install problem is solved in beta6

[2015-04-30 10:36] vpelipenko commented on #1187
Ok. We close the issue.

[2015-04-30 10:36] #1187 closed

[2015-04-30 13:19] orlangur commented on #1220
@bgkavinga, there is no need to not follow PSR-2 recommendation in any aspect. So, there is no reason to use underscores in new modules, unless it is not possible to avoid this (like inheritance from class which still uses underscores).

The only reason there are a lot of classes still using underscores in variable/method names is that all of them were not updated yet, as such change would be [qui

[2015-04-30 16:25] therouv commented on #1216
Error exists still with latest sample data (Tag `0.74.0-beta7`).

[2015-04-30 17:21] alankent commented on #1220
+1  We want to eliminate leading underscores, but it is disruptive.  Someone in the community I think was going to look into a script to remove them all - not sure if they have had the time to work on it. (I cannot find it just now.)

[2015-04-30 17:57] sivajik34 opened #1222 "sku attribute save error"
i changed sku scope from global to website then i saved successfully.again i changed sku scope from website to global... i'm trying to save.but i'm getting following error.
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'attribute_id' in 'where clause', query was: DELETE FROM `catalog_product_entity` WHERE (attribute_id = '70') AND (store_id IN(1, 2))

[2015-04-30 21:31] tanya-soroka commented on #757
Right now all data is saved on the localstorage of the browser memory during installation. After installation this data is cleared.

I am going to close this ticket. Please feel free to reopen.

[2015-04-30 21:31] #757 closed

[2015-05-01 03:06] bgkavinga commented on #1220
Ok, Thanks a lot. Closing this ticket.

[2015-05-01 03:06] #1220 closed

[2015-05-01 09:02] bgkavinga opened #1223 "Store config re-encrypt encrypted values on save"
I have created a store config with backend type obscure
[code]
There are some other configs on the same section. Each time I save this section it encrypt the old value. Since the old value is already encrypted it is encrypting encrypted value. No way to decrypt and get original data. According to my investigations the problem lies in the following code snippet in Magento\Config\Model\Config\Backen

[2015-05-01 09:56] adzminz commented on #1216
+1 for 0.74.0-beta7

[2015-05-01 10:47] aishwaryacedcoss opened #1224 "Issue direct after create custom module"
There is a problem right after the creation of custom module.As when we create the custom module
only its module.xml in etc folder and run the url in the browser ,It throws  exception :-1

Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory. %1The following modules are outdated

and when I run this command it gives error to install pdo driver in the system

[2015-05-01 11:16] ontic commented on #1205
@craigcarnell This blog post might shed some light.

https://alankent.wordpress.com/2014/12/09/magento-2-caching-overview/#comment-1116

[2015-05-01 11:42] sivajik34 opened #1225 "URL key for specified store already exists."
I have created command for product delete by given sku.its working fine except url rewrite.
for example i added  product named "shirt123" in back end.and url key also  shirt123.html
case 1:if i delete same product using my custom command in terminal..its deleted product.but in table url_rewrite still associated rows are existed.
if i try to add with same product name and url key i'm getting follow

[2015-05-01 14:41] muasir commented on #1219
This sounds more like a suggestion than bug.

[2015-05-02 06:32] asrob commented on #1216
+1 for 0.74.0-beta7

[2015-05-02 06:57] asrob commented on #1216
I got these errors when install it with sample data via web:

[code]

[2015-05-02 07:10] Flyingmana commented on #1219
if you search two hours because it shows `autoload error` and it only was a "simple" xml error which is already got good described in the exception, then you see it more like a bug.

[2015-05-02 08:02] piotrekkaminski commented on #1219
@muasir Error handling is the basis for efficient work with Magento and having to spend hours to debug is no good. This is definitely a bug. Do we already have internal bug number for it?

[2015-05-02 20:54] erikhansen opened #1226 "New theme does not show in "Stores > Configuration > Design" dropdown unless you first visit "CONTENT > Design > Themes""
**Recommended change**
My recommendation is to change the code so that a user can go directly to *Stores > Configuration > Design* and their new theme will automatically show in the "Design Theme" dropdown, _without_ having to visit *CONTENT > Design > Themes* first.

![configuration___settings___stores___magento_admin](https://cloud.githubusercontent.com/assets/129031/7442746/81f75b70-f0e3-11e4-9

[2015-05-03 11:51] cmuench commented on #1216
The problem still exists. Tested with latest n98-magerun2 developer version.

[2015-05-03 12:59] benmarks commented on #1216
+1

[2015-05-03 21:35] orlangur commented on #1220
@alankent,I linked to that issue in my comment.

[2015-05-04 00:55] SchumacherFM opened #1227 "Bug when domains mismatch"
Latest commit from develop branch on OSX 10.9 with Apache 2.2 and PHP 5.5 with OPCache:

Following condition: `core_config_data` with scope `default`, path `web/unsecure/base_url` and value `http://mage2.dev/`.

Webserver is configured with domain `http://magento2.local/`. Calling `http://magento2.local/` via a browser results in:

Fixing this gives me:

After short research: [getHeaders](https://

[2015-05-04 01:24] yukoff opened #1228 "PDOException during attempt to export products: Unknown column 'entity_value.entity_type_id' in 'on clause'"
There's an exception thrown while trying to export products:

[code]

[2015-05-04 10:44] grepdirect opened #1229 "Magento2 urls"
Hi to all,
After installation all urls in magento ( for example xxx.com/admin) return 404 error.
Mod_rewrite is enable
What does that mean?
Thank you

[2015-05-04 13:35] mazhalai commented on #1224
@aishwaryacedcoss can you please post the full errors. Thank you.

[2015-05-04 13:37] mazhalai commented on #1219
@Flyingmana we have created MAGETWO-36632 to track this internally.

[2015-05-04 13:45] mazhalai commented on #1229
@grepdirect Thank you for reporting this issue. Can you check your logs and post a more detailed error?

[2015-05-04 13:45] mazhalai commented on #1227
@SchumacherFM Thank you for reporting this issue. This has been fixed internally and should be available soon. Also, closing this in favor of #1212, which is a duplicate.

[2015-05-04 13:45] #1227 closed

[2015-05-04 13:50] bgkavinga commented on #1223
Hello, Any update on this ? Is this true for you or it's happening just for me ? Am I doing any thing wrong here ?
Thanks
BG

[2015-05-04 14:28] grepdirect commented on #1229
For solving i used a strange (for me) method,
The git clone copy all magento in a directory called magento2.
i've put the magento2 directory as documentRoot in apache (2.2) and all works now.
Sorry but now i don't have logs anymore
@mazhalai thank u for reply

[2015-05-04 14:52] grepdirect opened #1230 "PayPal Module"
Hi, I would add Paypal module to magento2, can anyone show me the best way to do that?
Thank you.

[2015-05-04 14:57] mazhalai commented on #1229
@grepdirect Glad it is working now.

[2015-05-04 14:57] #1229 closed

[2015-05-04 20:47] martindines commented on #1216
+1

[2015-05-04 22:25] anupdugar commented on #1223
@bgkavinga Thanks for reporting this issue. After investigation it seems that the value is getting encrypted again, even if you don't make any changes, like you pointed out.
We have created a ticket internally - MAGETWO-36930 to track and fix this issue.

[2015-05-05 05:49] fooman opened #1232 "Feature Request - Database integrity tests"
This is a continuation of learning from M1.

With Magento 1's sql installation routine it is possible to create a disconnect between a fresh installation and an upgrade (since the upgrade code can be different to the install code - not sure how this is handled in M2). These differences can create subtly different databases. For example the following is a very common example when comparing a 1.3.2.

[2015-05-05 09:23] vpelipenko commented on #1203
Closed. There is no response from contributor, issue can't be reproduced internally.

[2015-05-05 09:23] #1203 closed

[2015-05-05 09:30] ahmadalkaid commented on #1140
@alihalabyah , @mazhalai
thx guys, I had the same issue.

[2015-05-05 09:30] vpelipenko commented on #1230
@grepdirect, are you going to add your own integration with Paypal? According to this https://github.com/magento/magento2/issues/1089#issuecomment-81134252 we will return native integrations to code base soon.

[2015-05-05 09:47] kokoc commented on #869
@Crustymd This issue is fixed in latest Magento version. List of categories now work as expected on your environment. Could you please verify?

[2015-05-05 09:58] grepdirect commented on #1230
Will depends, :+1:  How much time to Beta release? :)

[2015-05-05 10:13] benmarks commented on #1230
:soon:

[2015-05-05 12:26] kokoc commented on #1225
@sivajik34 Product management is possible only in admin application area. Currently, you can switch an execution context using `--bootstrap="MAGE_RUN_CODE=admin"` command line option. However, the work on CLI is in progress, so we may change the defaults for this entry point.

Please let us know the results.

[2015-05-05 13:08] kieranja commented on #1216
+1

[2015-05-05 13:22] choukalos commented on #1232
Assigning Eugene to consider in context of the Magento 2 upgrade tool.  Talking with @TexanHogman sounds like this should really be considered a bug for each module that's doing this and assigned to those teams to ensure consistency in the schema upgrade scripts.

[2015-05-05 13:24] choukalos commented on #1230
You've got a couple of months before we drop Merchant Beta.

[2015-05-05 13:45] tzyganu opened #1233 "Wrong message when moving a category"
**Scenario.**
In `Products->Categories`. I'm trying to move some categories around in the tree. Source and destination not important. When moving the second category, the overlay message that should tell me that the operation might take a long time is wrong.

**Steps to reproduce:**

 - Go to `Products->Categories`
 - Add some categories if there are none
 - Move one category in the tree.
 - In th

[2015-05-05 14:02] navarr opened #1234 "Remove Copyright date from all files"
Please remove the Copyright date from all files, i.e. this text:

 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

Should have the "Copyright © 2015 Magento" replaced with one of:

* "Copyright © Magento"
* tongue-in-cheek "Copyright © date('Y') Magento"

**Why?**

One of the most annoying things about Magento 1 is the huge diffs created for the first

[2015-05-05 14:13] bhagvank opened #1235 "Custom Objects and Custom Fields"
hi all,

This is a missing feature for creating custom classes (objects) and custom Fields. There is an extension Custom Fields but on existing objects of classes.

Dynamically from the admin panel, ability to create custom objects and custom fields.

Bhagvan Kommadi
Vice President, SyberPlace
skype: bhagvan.kommadi

[2015-05-05 14:24] orlangur commented on #1234
Hi, as far as I understand 2015 is not going to be updated ever as it is "the year of the first publication of the work" (see a9e5897bf6c3607f1d994c6d03c2c4b8b8954985).

Otherwise it would be placed in separate file like here:
https://github.com/zendframework/zf2/blob/master/LICENSE.txt#L1
https://github.com/symfony/symfony/blob/2.7/LICENSE#L1

[2015-05-05 14:39] ericthehacker commented on #992
@piotrekkaminski
Was this conflict ever resolved?

[2015-05-05 14:50] navarr commented on #1234
If that's true, that's all I want :+1:

[2015-05-05 14:50] #1234 closed

[2015-05-05 14:51] tzyganu opened #1236 "Collapse all button in category tree doesn't always work"
**Steps to reproduce.**
 - Go to `Products->Categories` in the backend
 - Select a category for editing.
 - Click on the "Collapse all" link above the tree.

**Expected result**
The category tree should collapse and only the root category should remain visible

**Actual result**
Only the child categories of the selected category collapses. The rest remain opened.

**Note**
Everything works as expe

[2015-05-05 15:14] navarr commented on #1216
+1

[2015-05-05 15:29] vpelipenko commented on #1235
Hi @bhagvank, not sure that I understand what you suggest to do. Could you explain your issue with more details?

[2015-05-05 16:17] bhagvank commented on #1235
hi,

I have elaborated the requirement below:

Custom objects are new objects you create to store data. While you have several standard objects automatically included, you can also build custom objects to store any type of enterprise data relevant to the application. For example, if you’re building a recruiting app, you can create custom objects called Position and Candidate to track information o

[2015-05-05 22:15] fooman commented on #1232
Thanks Chuck - if you wanted to solve it on an architectural level I suppose one could try to do away with different scripts for upgrade vs install as this is a duplication in itself.

[2015-05-06 03:43] sivajik34 commented on #1225
sivaji- bin # php magento kensium:delete_product yellow --bootstrap="MAGE_RUN_CODE=admin"

  [RuntimeException]
  The "--bootstrap" option does not exist.

[2015-05-06 03:44] sivajik34 commented on #1225
can you explain little bit info about how to set --bootstrap option?

[2015-05-06 08:59] tzyganu opened #1237 "Category admin reset button does nothing"
**Version**
0.74.0-beta7

**Steps to reproduce**
 - go to `Products->Categories` in the backend.
 - click on a category for editing
 - change the name of the category
 - hit the reset button from top right

**Expected result**
The edit form is reset. The name field should contain the old value of the category name

**Actual result**
The edit form stays the same

**Additional Info**
In the response

[2015-05-06 10:27] Styopchik commented on #1216
+1

[2015-05-06 10:58] vpelipenko commented on #1216
Guys, we are working on the fix, Internal ticket is in progress now.

[2015-05-06 11:02] vpelipenko commented on #1230
Look like we can close this issue. As @choukalos said, PayPal module will be available during next few months. @grepdirect, do you have another questions?

[2015-05-06 11:06] vpelipenko commented on #1118
Closed. There is no response from contributor. Issue is not reproduced internally.

[2015-05-06 11:06] #1118 closed

[2015-05-06 11:07] vpelipenko commented on #1169
Closed. There is no response from contributor about 2 weeks.

[2015-05-06 11:07] #1169 closed

[2015-05-06 11:08] vpelipenko commented on #1175
Closed. Contributor doesn't answer more than 3 weeks.

[2015-05-06 11:08] #1175 closed

[2015-05-06 11:10] vpelipenko commented on #1176
Closed. We don't get answer from contributor and can't reproduce described issue.

[2015-05-06 11:10] #1176 closed

[2015-05-06 11:17] vpelipenko commented on #1200
Internal ticket: MAGETWO-37044

[2015-05-06 11:20] vpelipenko commented on #1204
@craigcarnell, sorry for bothering, but did you have a chance to check this issue on the latest Magento 2 version?

[2015-05-06 11:24] vpelipenko commented on #1222
@sivajik34, thank you fro posting this issue. We've created internal ticket for that: MAGETWO-37045.

[2015-05-06 11:54] kokoc commented on #1225
Bootstrap option allows to transfer initialization params such as run_code, maintanence, etc (\Magento\Framework\Console\Cli::getApplicationCommands:44-47. (Unfortunatelly, not enough to switch the context)

Here is the complete listing, that allows to execute your code in admin context:
[code]

Please note: CLI entry point might be changed. It would be very helpful if you could share your feedbac

[2015-05-06 11:57] vpelipenko commented on #1228
Internal ticket: MAGETWO-37046

[2015-05-06 12:10] kokoc commented on #1233
@tzyganu Thank you for reporting the issue and for detailed explanation. Internal refenrence: MAGETWO-37064

[2015-05-06 12:26] kokoc commented on #1236
@tzyganu Currently, only active category remains expanded. Other root categories and sub-categories will be collapsed.
Could you please provide some usefull use cases for  proposed behavior?

[2015-05-06 12:30] sivajik34 commented on #1225
now its working fine.
feedback:
I want my all custom commands into one namespace.for that i have to follow:for example setName(kensium:delete_product).but its too lengthy for user to enter.is there any possiblity for user can enter command only delete_product.

[2015-05-06 12:31] tzyganu commented on #1236
@kokoc I don't have a useful case. :smile: I just thought "Collapse All" means collapse ALL. If this works as intended feel free to close this issue.

[2015-05-06 12:34] kokoc commented on #1216
@asrob Seems like you're trying to install sample data on top of already installed data. Could you try to clean up the database and try again?

[2015-05-06 12:43] kokoc commented on #1237
@tzyganu Thank you for reporting the issue. Internal reference: MAGETWO-37066

[2015-05-06 13:01] vpelipenko commented on #1112
Internal issue is fixed and closed. @groggu, if you still have the same problem on the latest version, please, let us know and also feel free to reopen this issue.

[2015-05-06 13:01] #1112 closed

[2015-05-06 13:05] vpelipenko commented on #1153
@JesusTinoco, do you still have questions here? Can we close this issue?

[2015-05-06 13:15] vpelipenko commented on #1177
@seabird, do you still face with this issue on the latest versions?

[2015-05-06 13:18] vpelipenko commented on #1197
@JesusTinoco, we are still waiting for your response with details.

[2015-05-06 13:31] JesusTinoco commented on #1153
Basically I would like to know if it is possible use an external SMTP in magento2. For example how configure Magento 2 to send emails using gmail.

[2015-05-06 13:32] JesusTinoco commented on #1197
Sorry, you can close the issue I resolved the problem. Thank you.

[2015-05-06 13:37] vpelipenko commented on #1197
Ok. Thank you too.

[2015-05-06 13:37] #1197 closed

[2015-05-06 13:39] vpelipenko commented on #1215
@Obscurefrey, did you resolve your issue with link to guide provided by @zanilee?

[2015-05-06 13:43] tzyganu commented on #1235
Having in the core something that actually creates files that should be versioned is not a good idea.
All generated files should stay in the non versioned folders (var for example).

but (to self advertise a bit), I started [a project like this](https://github.com/UltimateModuleCreator/Umc_Base). It's in an very early stage now but feel free to contribute with code and/or ideas.

[2015-05-06 13:59] seabird commented on #1177
Havent tried it yet. Will let you know when I try. Had some other priorities on our shop.

[2015-05-06 14:38] HirokazuNishi opened #1238 "How can we add customer attribute?"
In some cases, merchants hope to add some custom attributes for customer entity.
I already added custom attributes via setup scripts and create data_source xml files. But I defined this xml below, Magento reported error "More than one node matching the query".
How should I do?

[code]

[2015-05-06 14:51] mazhalai commented on #1178
@cerebrumbr did suggestion by @Sanuch solve your issue?

[2015-05-06 14:54] mazhalai commented on #1207
@jialuni can you please try `bin/magento setup:uninstall` on your command line and then try running the wizard.

[2015-05-06 15:22] mazhalai commented on #1164
@yzm629 please specify versions of magento/apache/php so that we can investigate this error.

[2015-05-06 15:24] mazhalai commented on #1213
@pccomfrank even though it is in different versions, this error is the same as in #1212. It has been fixed internally and it should be available soon.

[2015-05-06 15:24] #1213 closed

[2015-05-06 15:37] kokoc commented on #1225
Thank you for feedback. We will do our best to address it.

Can we close the issue?

[2015-05-06 15:39] sivajik34 commented on #1225
sure.thank you once again.

[2015-05-06 15:39] #1225 closed

[2015-05-06 16:05] vpelipenko commented on #1177
Thank you, waiting for update.

[2015-05-06 16:18] vpelipenko commented on #1238
@HirokazuNishi, ability to add custom customer attributes is implemented as feature only in Enterprise edition, unfortunately Community edition doesn't support it.

[2015-05-06 16:26] HirokazuNishi commented on #1238
You mean is...

1. M2 EE can manage customer attributes as default feature.
2. M2 CE can't.

I'd like to know,

1. Is it possible to add customer attributes on M2.
2. How to add customer attributes as Extension code?

If this issue is out of place, where should I post it?

[2015-05-06 16:34] HirokazuNishi opened #1239 "Discard decimals for specified currencies"
Magento1.x has serious issues of discarding decimals for some currencies (e.g. JPY, KRW, VND...).
These currencies don't use under decimal numbers for currency.
If merchants that hope to use these currencies, they have to use 3rd party extensions.

Is it possible to add some configurations for handling under decimal numbers of currency?

[2015-05-06 16:50] HirokazuNishi opened #1240 "Tax & decimal rounding method"
Magento1.x only uses "round" for tax and decimal number method, but sometimes it causes wrong result.
Also some merchants use "floor" and "ceil" for discarding decimal numbers.

Is it possible to choose decimal discarding method via admin panel for M2?
If we do simply discard decimal numbers, converting currencies causes serious trouble.

For example, 99.99USD is 11,961.15JPY ( 1USD is 119.6235JPY

[2015-05-06 18:23] wojtekn commented on #1238
@vpelipenko I guess you mean backend UI which allows to manage customer attributes. It works the way you describe in Magento 1 CE/EE, however it's possible to install customer attribute in Magento 1 CE programatically.

As far as I see @HirokazuNishi tries to add attribute programatically.

I tried to do this at some point on dev beta and added question on MageStack:

http://magento.stackexchange.

[2015-05-06 18:26] mazhalai commented on #1205
@craigcarnell does above blog post answer your question?

[2015-05-06 20:52] yoavkutner commented on #1240
+1

[2015-05-06 22:08] choukalos commented on #1240
Hey @HirokazuNishi in Magento 2 the rounding function should be consolidated for tax.  Should be fairly straight forward to do a plugin and replace that with floor or ceil or even bankers rounding to enable one to create country/taxation specific extension.

As far as choosing the # of decimal places there's a couple constants that really need to be consolidated + the automated test framework used

[2015-05-06 22:12] choukalos commented on #1239
See my comment for #1240 ; would be great if someone could consolidate the constant that controls # of digits for price and submit a PR.  That would enable 3rd party's to create extensions for specific countries.  Big challenge is around automated tests.

[2015-05-06 22:19] choukalos commented on #1238
Per @vpelipenko that's an enterprise feature for customer module; get your merchants to upgrade to enterprise.

There's probably a way to add that functionality etc to Magento 2 CE but you'd be re-inventing the wheel.  Plus in Enterprise the merchant gets a GUI to do it themselves.

Another way to add extra data to a customer entity ( or any other service layered entity for all versions of M2 ) th

[2015-05-06 22:25] choukalos commented on #1235
@vrann - Eugene your thoughts?

My $0.02 - I think what your describing is in Magento 2 as a service contract that's setup as an extensible data object on another service.

[2015-05-06 23:48] HirokazuNishi commented on #1240
@choukalos Of course I'll try to make PR, but I just started to investigation about this issue on M2. so it takes long time.
I already released one extension to solve this issue on M1, but I had to rewrite many classes and had to execute many tests. If M2 aims to be real cross-border ecommerce platform, decimal & tax issues should be solved before stable release.

[2015-05-06 23:58] HirokazuNishi commented on #1238
@wojtekn Thanks, I saw your question on MageStack and I also gave up.

@choukalos OK, where is useful documents about service contract?

[2015-05-07 01:57] aoslee opened #1242 "eclipse pdt validator error"
hi,
  I import magento2 with eclipse pdt and get some errors. I read them and they are reals.
Description	Resource	Path	Location	Type
Start tag (<button>) not closed properly, expected '>'.	login_buttons.phtml	/magento2/app/code/Magento/Backend/view/adminhtml/templates/admin	line 8	HTML Problem
Start tag (<form>) not closed properly, expected '>'.	send.phtml	/magento2/app/code/Magento/Sendfriend/v

[2015-05-07 05:54] hirenvasani commented on #1216
+1

[2015-05-07 07:58] Vinai commented on #1238
Just a few thoughts:
Most of the time I do not want merchants to be able to modify attibutes in the backend (products or customers). Instead, adding an attribute programatically is much better, because that way the change is bound to a module which requires the attribute.
Also, it is synchronized between all instances (dev, integration, staging, live) because it is created and modified by setup sc

[2015-05-07 09:17] seansan opened #1243 "Magento CE 1.9.x issues or improvements or features finding their way to Magento 2"
Hi, a question regarding bug issue process. .

I see many issues or improvements or features that also (could) apply to Magento 2. Often they are logic issues where process logic could be improved.

As we are human individuals: I could imagine that the Magento CE 1.9.x can easily discard some of these issues as not being relevant. Also many issues have no status. No idea what is happening with the

[2015-05-07 09:46] maksek commented on #1243
Hi @seansan, we are continually checking existing or recently fixed issues in Magento 1, and validating them across Magento 2. If there are similar issues - we are fixing it.
If you have found issues in current code base, and able to reproduce it - feel free to report it here, in github. If there are similar ticket in our backlog - we will let you know and post in comments related MAGETWO ticket n

[2015-05-07 09:51] seansan commented on #1243
OK - I think the most important is that you also check "checking existing
issues" - regarding my comment that something may not be fixed (anymore) in
Magento 1.x - and will not show up in any change / update list- rather the
bug will exist only as a report in the bug report system

Is there already a nightly build of Mage2 available where one can test
situations to validate this?

On Thu, May 7, 2

[2015-05-07 09:56] maksek commented on #1243
No, at the moment we don't have build, but we are considering to provide it around or after Merchant Beta release.

[2015-05-07 10:19] pierrefay commented on #1212
same error in my docker installation. What did you do to solved it ?

[2015-05-07 10:29] seansan opened #1244 "Is MySQL 5.6 mandatory? or will it work on 5.5?"
Is MySQL 5.6 mandatory? or will it work on 5.5?

If yes, how can we skip the MySQL 5.6 check?

I am asking because many servers run / are based on Direct Admin which is still at 5.5 (unless manually upgraded via custombuild).

And I can imagine some users want to install DEV versions to test, thing with you guys and improve

[2015-05-07 10:41] sivajik34 opened #1245 "unable to save product per website wise"
I have created 2 websites.
first website contain 2 store views.
second website contain 1 store view.
now i have added 1 product and assigned to both websites.
then i'm trying to edit  product from second website store view.when ever i'm trying to save "url key specified store already exists" error is coming.and not able to edit url key.

[2015-05-07 10:58] kandy commented on #1244
Yes, MySQL 5.6  is mandatory.

[2015-05-07 11:22] sivajik34 opened #1246 "how to load product store wise?"
i think in ProductRepository class following function will load product store wise by given sku.but store_id not using any where.how to load product store wise?
Actually i want set product status website wise.
for example 1 product included in 2 websites.and i want set product status in first website enable.in second website disable.
public function get($sku, $editMode = false, $storeId = null, $f

[2015-05-07 12:30] HirokazuNishi commented on #1244
Good to hear.

I hope M2 responds to MySQL utf8mb4 issue.
https://bugs.mysql.com/bug.php?id=76553

[2015-05-07 13:51] choukalos commented on #1240
@HirokazuNishi after you finish investigating please ping me if there are things we can do in core to make it easier to create customer tax extension.  One of our goals in the M2 tax engine was to make it easy to replace or customize.

[2015-05-07 13:59] choukalos commented on #1244
Adding @tanya-soroka to the thread for her thoughts as the mysql bug is effectively an i18n issue.

[2015-05-07 15:09] mazhalai commented on #1242
@aoslee Thank you for reporting! We have created ticket MAGETWO-37118 to track the first 3 and MAGETWO-37119 to track the last issue. However, issues related to `/magento2/dev/tests/js/jasmine` are not in our code base.

[2015-05-07 16:43] pccomfrank commented on #1212
I could not fix it. I was waiting someone else to fix it.

On Thu, May 7, 2015 at 6:20 AM, Pierre FAY <notifications@github.com> wrote:

[2015-05-07 17:40] piotrekkaminski commented on #1243
The public bug tracker is tied to our internal system but with limited resources we are rather slowly reviewing the issues there. If you have a major issue and can reproduce it on Magento 2 - please report in github to expedite fixing.

[2015-05-07 18:39] mazhalai commented on #1212
@pierrefay @pccomfrank We have fixed this internally and should have it available in the next publication.

[2015-05-07 19:06] vrann commented on #1141
@alihalabyah, your observation is correct and as @maksek said the only way right now to close access to that is to remove the path or configure web server.

But currently we are working on the feature which will redirect you to admin login screen as long as you are navigating to setup. You would need to be authenticated as an admin in order to view the page.

The feature will be released shortly.

[2015-05-07 19:08] piotrekkaminski commented on #1141
@vrann - can you give me link to the story you mentioned? redirect to login page is NOT CORRECT as it exposes your login path, if it is custom.

[2015-05-07 19:10] vrann commented on #1141
MAGETWO-34695

[2015-05-07 20:03] vrann commented on #1141
@piotrekkaminski good catch, we will avoid doing redirect. Admin need to be logged in before navigating the /setup or it will get 401 status code.

[2015-05-07 21:28] pierrefay commented on #1212
cool ! thanks @mazhalai and @joanhe :)

[2015-05-07 22:02] fooman opened #1247 "Feature Request - Custom Totals Database Schema Improvement"
Custom Totals are a great feature of Magento. I do believe we can improve their implementation and reduce overall complexity by keeping custom totals in separate dedicated database tables similar to how we store line items.

With the current structure to add a new custom total to cover base and order currency plus tax, at my last count, one has to add:

1.) 13 columns to table sales/order
2.) 4 co

[2015-05-08 00:02] barbazul commented on #1247
+1

Current totals implementation y near to impossible to get right,  and there
is very little documentation on the subject.

Also, there is too much code duplication as most custom totals work more or
less the same
El 07/05/2015 19:02, "Kristof, Fooman" <notifications@github.com> escribió:

[2015-05-08 03:50] kojiromike opened #1248 "Will cron.sh/cron.php be standardized?"
There are still two ways to trigger cron, just like Magento 1: cron.sh and cron.php. Does Magento still plan to keep both of these around for Magento 2? Alternatively, is there any thought to making cron.php consistent with the bin/magento CLI interface described in http://magento.com/blog/technical/magento-command-line-interface-cli?

If cron.sh is going to stay around I will submit a PR to simpl

[2015-05-08 09:37] vpelipenko commented on #1245
Internal ticket: MAGETWO-36369

[2015-05-08 14:21] choukalos commented on #1247
@fooman @barbazul how would you like this to impact service contracts or do you want that?  If impact to service contracts should it just be passed through to the appropriate service contracts for get's but not puts/posts?

[2015-05-08 15:42] orlangur commented on #1248
There is a better hook, with auto-correction, involving php-cs-fixer: https://github.com/magento/magento2/blob/develop/dev/tools/Magento/Tools/StaticReview/pre-commit

As soon as this new hook will be able to involve phpcs, the older one will be not needed anymore.

[2015-05-08 15:52] mbrinton01 commented on #1248
@kojiromike cron.sh will be removed and migrated to the bin/magento CLI interface you linked to above. This work is currently in process so you do not need to make any changes to cron.sh.

I will also reply back on your second question shortly after some more research.

[2015-05-08 18:58] tanya-soroka commented on #166
@gfxguru  would you mind to clarify if the existing functionality in Magento 2 version covers your request. Right now when customer select the final option of the configurable product (simple product) the simple product images is going to be display on the main image section.

[2015-05-08 19:48] asrob commented on #1216
@kokoc Sure, I'll try again soon.

[2015-05-08 20:45] teknology opened #1249 "Admin URL"
The admin url ,it appears, was developed to read from a local wamp server. It does not include the url used during installation. The issue was found when navigating to the admin panel and the css and js did not load.

Here's an example of an image trying load.

My installation url is randwebsitedesign.com/~magetwo/ yet the url it's trying to load is
img class="logo-img" src="http://localhost/pub/s

[2015-05-09 03:08] pccomfrank opened #1250 "Magento 2 0.74.0-beta8 installed successfully, but home page 404 not Found and admin page broken"
At first I  was trying to install the sample data. It won't be installed. Then I was trying to install it without sample data. I could be installed but the home page 404 error and the admin page broken.
The following are the log and screen shots.

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database sche

[2015-05-09 03:09] pccomfrank commented on #1250
![image](https://cloud.githubusercontent.com/assets/4493796/7548459/4512c8a4-f5d7-11e4-9011-5c8e3bb27a00.png)

[2015-05-09 03:09] pccomfrank commented on #1250
![image](https://cloud.githubusercontent.com/assets/4493796/7548461/536f4b8e-f5d7-11e4-8aa8-89342e13c785.png)

[2015-05-09 09:02] sivajik34 commented on #1250
once try : php -f dev/tools/Magento/Tools/View/deploy.php

[2015-05-09 09:48] hostep opened #1251 "EU VAT number validation improvement suggestions"
Hi

This is mostly based on Magento 1 experience, but it looks like not much has changed in Magento 2 currently (testing 0.74.0-beta8).
I'm not a VAT expert, I'm simply getting this from feedback we get from store owners who complain about how bad this is currently implemented in Magento 1. So with Magento 2, it would be a good idea to try to get this right from the start.

Here are some suggestio

[2015-05-09 09:51] asrob commented on #1216
@kokoc I tried it again but I got an error:
[code]

Fresh database, magento2 beta-8 with sample data 0.74.0-beta7.

I tried it without sample data but after install I got 404 error. But this is another issue. (https://github.com/magento/magento2/issues/1250)

[2015-05-09 11:01] pccomfrank commented on #1250
The two screen shots and the following log  are for the normal installation (no sample data), the first log is from the sample data installation.

root@mail:/usr/local/www/brg2tv5.cn/var/log # cat system.log
[2015-05-09 02:45:50] main.CRITICAL: Broken reference: the 'page.bottom' element cannot be added as child to 'page.bottom.container', because the latter doesn't exist [] []
[2015-05-09 02:45:5

[2015-05-10 06:52] fooman commented on #1247
The service contracts on the order, invoice, creditmemo should remain the same I guess, ie `$order->getShippingAmount()` would still produce the same value. However I'd advocate for an addition to it:

    /**
     * Gets totals for the order.
     *
     * @return \Magento\Sales\Api\Data\OrderTotalInterface[] Array of totals.
     */
    public function getTotals();

[2015-05-10 07:04] milanstojanov opened #1252 "Area code is already set"
Hello!

While trying to install Magento 2 from the command line with the latest sample data (0.74.0-beta7), I got the following exception:

[Magento\Framework\Exception\LocalizedException]
Area code is already set

This is happening at the end:

[Progress: 269 / 272]

[2015-05-10 07:41] bhagvank commented on #1235
hi tzyganu,

Thank you. I can contribute to  Umc Base. Please add me as a member.

Bhagvan Kommadi
Vice President, SyberPlace
Skype: bhagvan.kommadi

[2015-05-10 11:51] Perfect-Web opened #1254 "Restrict to store or website"
Hey guys, can anyone tell me how can i restrict a user to only see certain stores/websites on admin ?

Thanks

[2015-05-10 13:14] alihalabyah commented on #1141
@vrann Thank you!
@piotrekkaminski Good point!

[2015-05-10 13:43] sivajik34 opened #1255 "shipping address & billing address missing in print order"
I created account & ordered 1 item .then if i click print order in order view its not displaying shipping and billing address.
ver. 0.74.0-beta8

[2015-05-10 13:53] sivajik34 opened #1256 "change billing address also changed shipping address issue"
i have registered & ordered with same address info (billing & shipping).now if i'm going to change only shipping address also its changed billing address viceversa.
ver. 0.74.0-beta8

[2015-05-10 14:08] sivajik34 opened #1257 "you have placed no orders"
I registered  account and i placed 2 orders.then i'm going to my account->my orders.
if i click my orders its showing "you have placed no orders"
note:its showing only in nano seconds of time.then its showing grid perfectly.
please observe carefully for identifying issue.
browser:mozilla firefox
(ver. 0.74.0-beta8)

[2015-05-10 14:13] sivajik34 opened #1258 "bill-to-name & ship-to-name missing in orders grid in admin"
i registered account in front end .and placed two orders.if i'm going to admin ->sales->orders.
bill-to-name & ship-to-name values missing
ver. 0.74.0-beta8

[2015-05-10 14:21] sivajik34 opened #1259 "still pending status in orders grid in front end."
i registered an account & placed and order.now status is pending.and i'm going to admin side.and created invoice for that .then i'm going to front end my account ->my orders grid.
still status showing pending in grid.
but its showing perfectly status is processing in order view page.
ver. 0.74.0-beta8
note: if i logout & login status updating in grid also

[2015-05-10 14:52] sivajik34 opened #1260 "reorder redirecting to cart page"
i registered an account & placed an order.now if i click in reorder link in my account->my orders section->grid.
first its showing like this.
"Shopping Cart

You have no items in your shopping cart.

Click here to continue shopping."
then its showing cart page properly.

[2015-05-10 15:29] sivajik34 opened #1261 "zip/postal code javascript validation not working in address book"
i have created account.and in my account->address book ->add new address.
zip/postal code javascript validation(require field) not working.

[2015-05-10 15:39] sivajik34 opened #1262 "customer account information not loading in admin"
i created account in front end side.then i login to admin and customers grid.and if i click edit button..still its loading..
browser:mozilla,linux mint
ram:2gb
ver. 0.74.0-beta8
note: may be this issue wont occur in other systems ,browsers.
i have not checked properly.

[2015-05-10 16:20] sivajik34 opened #1263 ""We don't have as many "product name" as you requested." not showing in mini cart"
i have a product quantity 10.and i added 5 quantity to cart.now i want to update quantity 5 to 45 in mini cart (in header).
at that time its total updating properly.but i'm expecting it should show following error.
"We don't have as many "product name" as you requested."
and i checked that its going to "http://localhost/magento2/index.php/checkout/sidebar/updateItemQty/"

[2015-05-10 16:46] sivajik34 opened #1264 "add all to cart button click 404 error wishlist"
i added product with quantiy 3 to cart.then i moved to wishlist.then i click add all to cart button ..its giving following error.
http://localhost/magento2/index.php/page_cache/block/allcart/wishlist_id/3/form_key/Tp4s5RbE7h6N38eQ/?qty[2]=3

[2015-05-11 07:11] tzyganu commented on #1235
@bhagvank If you have some code, do pull requests and I will integrate it the module if it's OK.

[2015-05-11 07:14] #1207 closed

[2015-05-11 07:28] jialuni commented on #1207
Now everything is ok, so the uninstall command will not match bug I guess. But can I suggest a bigfix ? Disable or enlarge the xdebug 100 max looping in the setup/.htaccess via an `ini_set('max_nesting_level', 0);` or specify it have to do it manually during install process. Because lot of people have xdebgmug installed - it comes by default on Wamp Server by example.

[2015-05-11 08:20] sivajik34 opened #1265 "cms pages grid is not visible"
i have added 2 cms pages.its not visible in admin side.and also blocks grid.

[2015-05-11 08:58] pierrefay commented on #1252
same problem for me :

root@6ab132ba06fc:/var/www/magento2# php dev/tools/Magento/Tools/SampleData/install.php --admin_username=admin
exception 'Magento\Framework\Exception\LocalizedException' with message 'Area code is not set' in /var/www/magento2/lib/internal/Magento/Framework/App/State.php:154
Stack trace:
#0 /var/www/magento2/lib/internal/Magento/Framework/Session/SessionManager.php(173): Mag

[2015-05-11 14:45] mazhalai commented on #1250
@pccomfrank can you please try `bin/magento setup:uninstall` and try to install again?

[2015-05-11 14:49] mbrinton01 commented on #1248
Thank you @orlangur.  @kojiromike if you have any other questions about this please reply otherwise I will close out the issue shortly.

[2015-05-11 14:53] mazhalai commented on #1249
@teknology did you install using CLI or Web Setup? If you used Web Setup, what url was shown on success page as `Magento Admin Address:`?

[2015-05-11 15:29] kojiromike commented on #1248
Nope, I'm all good.

[2015-05-11 15:31] mbrinton01 commented on #1248
Thank you, closing issue.

[2015-05-11 15:31] #1248 closed

[2015-05-11 15:33] muasir commented on #1254
Have you tried using the Magento1 way of doing it?  It should be similar

http://merch.docs.magento.com/ce/user_guide/Magento_Community_Edition_User_Guide.html#store-operations/permissions-role-custom.html?Highlight=restrict admin

[2015-05-11 15:46] choukalos commented on #1247
Created JIRA story - MAGETWO-37216.

[2015-05-11 16:08] Perfect-Web commented on #1254
yes, but there is no way to restrict per store/website use ... or am i wrong ?

[2015-05-11 16:22] choukalos commented on #1251
Created JIRA issue MAGETWO-37219 and put into Backlog to improve VAT ID validation

[2015-05-11 16:29] choukalos commented on #656
APIs have been changed to be GET's from PUT's for list operations.  Dropping myself from the assignee list.

[2015-05-11 16:32] choukalos commented on #407
Re-assigning to Tanya since she's responsible for the install tool.

[2015-05-11 16:58] choukalos commented on #209
As of 0.74-beta8 in production.  You can now create downloadable products via APIs in two different ways.

First way
1.  Create product ( POST /V1/products )
2.  Create downloadable Link ( POST /V1/products/:sku/downloadable-links ) for the product you created

Second way
1.  Create product and as part of request object include both the product object and the downloadable link object (plus any oth

[2015-05-11 16:58] #209 closed

[2015-05-11 18:38] hostep opened #1266 "Add a 'Default Product Listing Sort Direction' field to the categories"
Hi

Right now (0.74.0-beta8) you can choose a default sort attribute per category in the backend using the 'Default Product Listing Sort By' field.
But you can't determine what the default direction should be. I believe currently the default one is always ascending.
But sometimes a store owner wants the default sorting direction to be descending.

So our suggestion is to add a 'Default Product Lis

[2015-05-11 19:01] Michal-sk opened #1267 "Plugin idea useless?"
I am starting to do more and more in M2. Loving and hoping to utilizes the concept of the Plugin system, is started to do some stuff. But after some time im starting to see more and more the limitation of the protected and private methods... Most methods is would like to use the Plugin for are protected which makes the whole concept useless.

Am i the only one facing this issue?

[2015-05-11 19:02] alankent commented on #1267
Could you give an example or two of methods you would like to use plugins on?

[2015-05-11 19:06] Michal-sk commented on #1267
Ok, so for example. Just before i wrote this issue i wanted to add a Tab on the User / Edit page. Looking trough the code and seeing: ```\Magento\User\Block\User\Edit\Tabs::_beforeToHtml```. Would be great if we could just do ```afterBeforeToHtml``` and we would be done. Custom Tab added.

This is just an example which just happend, but in the past couple of days i've had this more and more.

[2015-05-11 20:33] skukla commented on #1252
Same for me.

[2015-05-12 02:36] maboiteaspam opened #1268 "dist front: search is broken"
Using option
``` Use in search results layered navigation``` : Yes

The dis front provided will bug when hit ``` /index.php/catalogsearch/result/?d=+test ```

Respond,
```Fatal error: Call to member function getValues on non Object....``` IE missing assertion.

BTW, this error happened really often until now.

[2015-05-12 05:52] kandy commented on #1267
Problem that you describe is not problem of plugin, it is classical issue of code composition. Tabs component combines two responsibilities: tabs rendering and tabs management. If do splitting of responsibilities then problems with the plug-ins will not be.

But if you wants add tab now, you can use:
 - layout to add tab (proper way)
 - plugin on `\Magento\User\Block\User\Edit\Tabs::assign` method

[2015-05-12 07:41] kandy commented on #1254
This is EE functionality

[2015-05-12 08:04] Michal-sk commented on #1267
Thanks for the reply. I will look in to it.

[2015-05-12 08:04] #1267 closed

[2015-05-12 08:47] kokoc commented on #1252
Thank you for reporting the issue. Internal reference: MAGETWO-37249

[2015-05-12 08:49] vpelipenko commented on #1264
Internal ticket: MAGETWO-36469

[2015-05-12 08:53] vpelipenko commented on #1262
Internal ticket: MAGETWO-35721

[2015-05-12 09:34] vpelipenko commented on #526
This issues was fixed and available from 0.74.0-beta8. Could you it on this version?

[2015-05-12 09:36] vpelipenko commented on #1212
Guys, internal ticket is closed and fix is available on public from 0.74.0-beta8. Could you check it on the latest version?

[2015-05-12 09:37] vpelipenko commented on #1157
Hi @cerebrumbr, we've fixed this issue and its fix is available in 0.74.0-beta8. Could you check it?

[2015-05-12 09:40] vpelipenko commented on #1228
@yukoff, fix for this issue is already available in version 0.74.0-beta8. You can checkout it and try. If you still have some problems, please, reply here.

[2015-05-12 09:57] vpelipenko commented on #1260
Internal ticket: MAGETWO-37251

[2015-05-12 10:01] vpelipenko commented on #1263
Internal ticket: MAGETWO-37252

[2015-05-12 11:41] sivajik34 opened #1269 "magento dashboard revenue ,shipping ,qty,tax all are 0."
I have orders (some are completed,progress,pending).But in dashboard its showing revenue ,shipping ,qty,tax all are 0.

[2015-05-12 11:56] sivajik34 opened #1270 "back button not working in edit order status"
stores->order status.->create or edit any order status->back button not working in edit order status.
and reset button also.

[2015-05-12 12:05] sivajik34 opened #1271 "Abandoned Carts grid is not visible"
in reports Abandoned Carts grid is not visible.i don't have idea how page looks like.but when i visited this page nothing displayed.

[2015-05-12 12:31] kokoc commented on #1246
@sivajik34 You are right. `StoreId` parameter is ignored by `get` method. This behavior is definitely a bug. Appropriate item is created in backlog - MAGETWO-37275. Thank you for contacting us.

[2015-05-12 12:46] vpelipenko commented on #1261
Internal ticket: MAGETWO-37276

[2015-05-12 12:48] sivajik34 opened #1272 "in dashboard Last Orders items quantity showing wrong some times"
I have ordered configurable product with qty 1.but its showing as 2 dashboard Last Orders items quantity.is it right or bug?

[2015-05-12 12:51] vpelipenko commented on #1256
@sivajik34, probably it works as expected. Waiting for clarification from responsible PO @ilol.

[2015-05-12 12:53] sivajik34 opened #1273 "extra line item for configurable product in order view page."
I have added 1 simple product & 1 configurable product to cart.and placed an order.
now in order view page total 3 line items are there.
first line item:config product price 0
second line item:config product item
third:simple

[2015-05-12 12:55] sivajik34 commented on #1256
ok.then fine.but 99% sure.it will be bug.my target is 100 bugs.

[2015-05-12 13:00] vpelipenko commented on #1270
Do you get this issue for all placed orders?

[2015-05-12 13:01] sivaschenko commented on #1270
@sivajik34, I cannot reproduce this issue, could you please provide a bit more details to help me?

[2015-05-12 13:02] vpelipenko commented on #1256
@sivajik34, :+1:

[2015-05-12 13:02] sivajik34 commented on #1270
its not in orders.please go to stores->order status->edit any order status

[2015-05-12 13:09] sivaschenko commented on #1270
I see, but I still need more details. What browser are you using, do you have any messages in console?

[2015-05-12 13:14] sivajik34 commented on #1270
mozilla.ubutu 14.04

[2015-05-12 14:11] kokoc commented on #1269
@sivajik34 Thank you for reporting the issue. Internal reference: MAGETWO-37325

[2015-05-12 14:14] kokoc commented on #1271
@sivajik34 Thank you for reporting the issue. This issue already fixed internally. The fix will be available with next code update.

[2015-05-12 14:32] kokoc commented on #1268
@maboiteaspam Thank you for reporting the issue. Internal reference: MAGETWO-37363

[2015-05-12 15:02] vpelipenko commented on #1259
Internal ticket: MAGETWO-32709

[2015-05-12 15:02] vpelipenko commented on #1257
Internal ticket: MAGETWO-32709

[2015-05-12 15:16] sivaschenko commented on #1255
Thank you for the report. Internal ticket: MAGETWO-37376

[2015-05-12 15:16] sivaschenko commented on #1258
Thank you for the report. Internal ticket: MAGETWO-37376

[2015-05-12 16:40] needmoretoday opened #1275 "Got 'The page isn't redirecting properly' after disable all cache options"
I am  a magneto extension developer. After I disabled all cache options in admin panel -> cache storage management edit page like I usually do with Magento development. Got Blank page with 'The page isn't redirecting properly' error message.
And I did search on how I turn on cache in table. Could not get it.
My local system enviroment:
php 5.6.7
mysql 5.6

[2015-05-12 16:57] snohe commented on #1180
@neginparsa, checking in to see if @otoolec's advice worked for you.

[2015-05-12 17:02] mazhalai commented on #1275
@needmoretoday if you have access to command line, you can run `php dev/shell/cache.php --set=1`

[2015-05-12 20:34] mariarti commented on #1250
I have the same :+1:
Installation is incomplete.
Check the console log for errors before trying again.

Installing admin user...

Enabling caches:
Current status:
Array
(
[config] => 1
[layout] => 1
[block_html] => 1
[view_files_fallback] => 1
[view_files_preprocessing] => 1
[collections] => 1
[db_ddl] => 1
[eav] => 1
[full_page] => 1
[translate] => 1
[config_integration] => 1
[config_integration_