[2019-01-04 10:18] magento-engcom-team commented on #20064
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 11:36] Olek89 opened #20065 "Magento2 Frontend next Site not showing"
Hello,

i am using the magento 2.2.6, in the customer fronted under the downloadable products the next sites are not showing.

![image](https://user-images.githubusercontent.com/31250340/50686413-9a47bf00-101d-11e9-88f0-776e1f17b16c.png)

The  grey field under the orders, where i can show the older orders or the next / previous site is empty.

I think it is the following Code, but i have no soluti

[2019-01-04 11:36] magento-engcom-team commented on #20065
Hi @Olek89. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-04 11:36] Loqic2633 commented on #11885
Am I wrong or does it say, it is fixed in 2.2.X?
Got 2.2.3 and the same problem.

Anyone sure if it is fixed in 2.3? Gonna do a update then...

[2019-01-04 11:38] magento-engcom-team commented on #20065
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 11:39] engcom-backlog-nazar commented on #20065
Hi @Olek89 Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2019-01-04 11:39] haresh1211 commented on #8189
I am facing the same issue while upgrade 2.1.5 to 2.2.6.
Every categories page shows "We can't find products matching the selection."
In backend its already in stock.

Any solution?

[2019-01-04 11:46] engcom-backlog-nazar commented on #20065
@Olek89 Please describe the шіігу in more detail. what did you mean next sites ? Describe your problem more detail, then reopen the issue.

[2019-01-04 11:46] #20065 closed, assigned to nobody

[2019-01-04 11:47] engcom-backlog-tomash commented on #15910
@magento-engcom-team give me 2.3.0 instance

[2019-01-04 11:47] magento-engcom-team commented on #15910
Hi @engcom-backlog-tomash. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-04 11:47] magento-engcom-team commented on #15910
Hi @engcom-backlog-tomash, here is your [Magento instance](https://i-15910-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-15910-2-3-0.instances.magento-community.engineering/admin](https://i-15910-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-04 11:51] Olek89 commented on #20065
How can i reopen it?

[2019-01-04 11:52] gavinlimely opened #20066 "Can't checkout with Paypal by Braintree with Virtual Products"
### Preconditions (*)

1.  Magento 2.3.0
2. Paypal by Braintree enabled.

### Steps to reproduce (*)

1.  Add Virtual product to the cart & try to checkout using Paypal by Braintree.

### Expected result (*)

1. You should be able to checkout as normal.

### Actual result (*)

1. You get an error message stating the following:

[code]

[2019-01-04 11:52] engcom-backlog-nazar commented on #20065
@magento-engcom-team give me 2.2.6 instance

[2019-01-04 11:52] magento-engcom-team commented on #20065
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-01-04 11:52] magento-engcom-team commented on #20066
Hi @gavinlimely. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-04 11:53] magento-engcom-team commented on #20065
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-20065-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-20065-2-2-6.instances.magento-community.engineering/admin](https://i-20065-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-04 11:53] engcom-backlog-nazar commented on #20065
@Olek89 Can you reproduce this on provided instance ?

[2019-01-04 11:54] magento-engcom-team commented on #15910
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-04 11:54] magento-engcom-team commented on #20066
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 11:55] engcom-backlog-tomash commented on #15910
@Oscar-Wagento, I was not able to reproduce this issue by given steps.

[2019-01-04 11:55] #15910 closed, assigned to nobody

[2019-01-04 11:56] Olek89 commented on #20065
Thank you for the login, but there are no products to reproduce so much orders,
to show it in the customer login site.

[2019-01-04 11:57] engcom-backlog-nazar commented on #20065
@Olek89 you can create it.

[2019-01-04 12:03] magento-engcom-team commented on #13612
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-04 12:05] Olek89 commented on #20065
in the test shop it is shown, what i have marked, why not at me?
![image](https://user-images.githubusercontent.com/31250340/50687402-78503b80-1021-11e9-9488-f4c933227a14.png)

[2019-01-04 12:08] engcom-backlog-nazar commented on #20065
@Olek89 this may be related to your custom theme or module.

[2019-01-04 12:10] Olek89 commented on #20065
Did you know where i can check it?
Which modul is it?

[2019-01-04 12:23] engcom-backlog-nazar commented on #20066
Hi @gavinlimely thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom module or theme.

[2019-01-04 12:23] #20066 closed, assigned to nobody

[2019-01-04 12:25] developer-vtnetzwelt opened #20067 "MFTF test cases have parsing error"
### Preconditions (*)

I have set up the MFTF on my localhost according to magento devdocs.
1. Magento version 2.3
https://devdocs.magento.com/mftf/2.3/getting-started.html

### Steps to reproduce (*)

1. Follow the steps mentioned in the devdocs to setup MFTF.
2. In the end, at Run test cases command i am getting parser error
 Couldn't parse test '/var/www/html/magento2mftf/dev/tests/acceptance/t

[2019-01-04 12:30] magento-engcom-team commented on #20067
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 12:43] schmengler opened #20068 "Suggestion: Move caching of source models into AbstractSource"
### Summary (*)

The EAV source model base class `\Magento\Eav\Model\Entity\Attribute\Source\AbstractSource` contains a protected attribute  `$_options` that is meant to cache the options. Unfortunately this is not enforced, instead each implementation of `getAllOptions()` is responsible to use that cache properly.

EAV source models often load possible values for attributes from external resource

[2019-01-04 12:43] magento-engcom-team commented on #20068
Hi @schmengler. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-04 12:44] magento-engcom-team commented on #20067
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97434` were created

[2019-01-04 12:46] magento-engcom-team commented on #19220
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97435` were created

[2019-01-04 12:50] magento-engcom-team commented on #20064
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97436` were created

[2019-01-04 12:50] magento-engcom-team commented on #20068
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 13:01] ghost opened #20069 "After Upgrade 2.2.5 to 2.3.0 : All product URL and image URL 404"
### Magento 2.3.0

### After Update magento version 2.2.5 TO 2.2.3 Product URL and product image 404
### Expected result (*)
 All product must work with url and image also show

### Actual result (*)
 All product must work with url and image also show

[2019-01-04 13:01] magento-engcom-team commented on #20069
Hi @navinbhudiya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-04 13:03] magento-engcom-team commented on #20069
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 13:06] engcom-backlog-nazar commented on #20069
HI @navinbhudiya thank you for you report, can please describe more detail ? all product view page is 404 ?

[2019-01-04 13:08] magento-engcom-team commented on #16008
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-04 13:09] engcom-backlog-tomash commented on #16008
@kirtinariya1, it looks like captch regenerates without any error in console on the latest release. We are closing this issue as fixed. Thank you for reporting

[2019-01-04 13:09] #16008 closed, assigned to webkul-ratnesh

[2019-01-04 13:13] engcom-backlog-nazar commented on #20069
@navinbhudiya i'm not able to reproduce following steps you describe this may be related to your custom modules.

[2019-01-04 13:13] #20069 closed, assigned to nobody

[2019-01-04 13:16] navinbhudiya commented on #20069
all product view page and image url are 404

[2019-01-04 13:20] gavinlimely commented on #20066
@magento-engcom-team give me 2.3.0 instance

[2019-01-04 13:20] magento-engcom-team commented on #20066
Hi @gavinlimely. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-04 13:20] magento-engcom-team commented on #20066
Hi @gavinlimely, here is your [Magento instance](https://i-20066-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20066-2-3-0.instances.magento-community.engineering/admin](https://i-20066-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-04 13:31] gavinlimely commented on #20066
hi @magento-engcom-team

This is definitely still a problem on a Vanilla instance. The issue only happens when you actually click pay. The OAuth flow works fine. However once you're redirected back to the site, after selecting your payment method within the Paypal dialogue. If you then click pay now, you get the error message as described above.

[2019-01-04 13:32] engcom-backlog-nazar commented on #20066
@gavinlimely this is acknowledged issue, and fixed on 2.3-dev branch ? and will be available on 2.3.1 release

[2019-01-04 13:33] engcom-backlog-nazar commented on #20066
@gavinlimely this issue-> https://github.com/magento/magento2/issues/18765

[2019-01-04 13:37] arioch1984 commented on #7465
Hi!
I had the same problem on a 2.1.13.
May this help?
https://github.com/borasocom-team/module-catalog-rules-list-fix

[2019-01-04 14:05] irajneeshgupta commented on #13343
@magento-engcom-team @engcom-backlog-nazar I think its not a issue. Can you please review and close?

[2019-01-04 14:10] magento-engcom-team commented on #13343
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-04 14:27] chris-is-on-github opened #20070 "Street is not showing in frontend and backend"
### Preconditions (*)

1. 2.3.0
2. Found the issue in two different Magento 2.3.0 installations
3. The data where migrated from Magento 1.9.3.1. But it also don't work with customers who are added on the Magento 2.3.0 plattform

### Steps to reproduce (*)

1. -

### Expected result (*)

1. The "street" information of customers should be visible everywhere who is needed.

### Actual result (*)

1.

[2019-01-04 14:32] magento-engcom-team commented on #20070
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-04 14:34] magento-engcom-team commented on #12721
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-04 14:34] engcom-backlog-tomash commented on #12721
@magento-engcom-team give me 2.3.0 instance

[2019-01-04 14:35] magento-engcom-team commented on #12721
Hi @engcom-backlog-tomash. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-04 14:35] magento-engcom-team commented on #12721
Hi @engcom-backlog-tomash, here is your [Magento instance](https://i-12721-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-12721-2-3-0.instances.magento-community.engineering/admin](https://i-12721-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-04 14:37] engcom-backlog-nazar commented on #13343
HI @manhao-chen Hi @irajneeshgupta the issue was retested, and we can confirm that this is non issue.

[2019-01-04 14:37] #13343 closed, assigned to nobody

[2019-01-04 14:58] magento-engcom-team commented on #20068
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97437` were created

[2019-01-04 15:01] Lipdk commented on #19739
I was trying to upgrade the Magento from 2.1 to 2.3, the @JoostWan solution solved the problem for me.

[2019-01-04 15:12] magento-engcom-team commented on #20070
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-04 15:49] DependencyHell commented on #13952
@rauberdaniel I think the `quote_id` cannot be `UNIQUE` as if one order is canceled (getting back from paypal without validation for example), the cart (`quote_id`) remains the same and can be used in another order.

[2019-01-04 17:39] evolic commented on #3680
Works! Adding **typeId** did it.
In my case there where missing also some custom attributes, not only the price.
Thank you!!

[2019-01-04 17:46] Olek89 commented on #20065
Can you reopen the ticket?

[2019-01-04 19:10] magento-engcom-team commented on #19507
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19889 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [afba6e469daa725e1d3cd7ed37e55c040de6b982](https://github.com/magento/magento2/commit/afba6e469daa725e1d3cd7ed37e55c040de6b982)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-04 19:10] magento-engcom-team commented on #19285
Hi @hellotaran. Thank you for your report.
The issue has been fixed in magento/magento2#19910 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [9804da7b76f3bbb4e3a1503d35f707fb66581280](https://github.com/magento/magento2/commit/9804da7b76f3bbb4e3a1503d35f707fb66581280)
 - [c4bf9d2ed208a1c8aebcc755670aaa0abe11c2e5](https://github.com/magento/magento2/commit/c4bf9d2ed208a1c8aebcc755670aa

[2019-01-04 19:10] magento-engcom-team commented on #19052
Hi @Dharmeshvaja91. Thank you for your report.
The issue has been fixed in magento/magento2#19056 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [9e1459a429403d9a18548c2560ea83203493a82b](https://github.com/magento/magento2/commit/9e1459a429403d9a18548c2560ea83203493a82b)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-04 19:10] #19052 closed, assigned to SyntaxKay

[2019-01-04 19:10] magento-engcom-team commented on #19605
Hi @joshuaadickerson. Thank you for your report.
The issue has been fixed in magento/magento2#19989 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [1f5ec6fda14aa0c767e2b396da9e51ec99177787](https://github.com/magento/magento2/commit/1f5ec6fda14aa0c767e2b396da9e51ec99177787)
 - [484b79acbf0249eee6126bb83503b38e5ec67697](https://github.com/magento/magento2/commit/484b79acbf0249eee6126bb

[2019-01-04 20:09] matutetandil commented on #13504
I'm facing the same issue with 2.1.10. Even though that with a recompilation works. The problem is why the files are been corrupted.
From my debugging, I could check that the issue is that the block is not found, however, the block is defined in the layout and the class do exist. So somehow the generated files are been corrupted, and that's the main issue.

[2019-01-04 22:18] sidolov commented on #20037
Hi @troendheim. Thank you for your report.
The issue has been fixed in magento/magento2#20050 by @pmclain in 2.3-develop branch
Related commit(s):
 - [d08ce919585c9f3e9020662eaf0948df260fbb4a](https://github.com/magento/magento2/commit/d08ce919585c9f3e9020662eaf0948df260fbb4a)
 - [a1d3299191805ea5fbee133436fe82ccb6b9a5cd](https://github.com/magento/magento2/commit/a1d3299191805ea5fbee133436fe82ccb

[2019-01-04 22:18] #20037 closed, assigned to nobody

[2019-01-04 22:18] sidolov commented on #20021
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#20022 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [6089f2735e3e629f08bffd94099790de9413f5bd](https://github.com/magento/magento2/commit/6089f2735e3e629f08bffd94099790de9413f5bd)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-04 22:18] #20021 closed, assigned to nobody

[2019-01-04 22:18] sidolov commented on #19791
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19792 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [485b89fba36dfb52156e7de6a4bf4c7688d9ff67](https://github.com/magento/magento2/commit/485b89fba36dfb52156e7de6a4bf4c7688d9ff67)
 - [3a56397a2dd137378fe6cbd3095e6771d8cd8e26](https://github.com/magento/magento2/commit/3a56397a2dd137378fe6

[2019-01-04 22:18] #19791 closed, assigned to suryakant-krish

[2019-01-04 22:18] sidolov commented on #19887
Hi @aldf. Thank you for your report.
The issue has been fixed in magento/magento2#19981 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [8048516db1ef7ea0fd046f2cfe4d04cbc72afdd0](https://github.com/magento/magento2/commit/8048516db1ef7ea0fd046f2cfe4d04cbc72afdd0)
 - [9cf1e3ee05ddcf9f182fe1a16ab0e19e95bd70ec](https://github.com/magento/magento2/commit/9cf1e3ee05ddcf9f182fe1a16ab0e19e95bd70e

[2019-01-04 22:18] #19887 closed, assigned to Nazar65

[2019-01-04 22:18] sidolov commented on #19977
Hi @4lexvav. Thank you for your report.
The issue has been fixed in magento/magento2#19978 by @4lexvav in 2.3-develop branch
Related commit(s):
 - [bccc949cb08491a15ed0392ea29c7f34b577b215](https://github.com/magento/magento2/commit/bccc949cb08491a15ed0392ea29c7f34b577b215)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-04 22:18] #19977 closed, assigned to 4lexvav

[2019-01-04 22:18] sidolov commented on #19940
Hi @mohammadzakir. Thank you for your report.
The issue has been fixed in magento/magento2#19941 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [b54ab2dc9cf90c5186765e94e067704fc4b382e7](https://github.com/magento/magento2/commit/b54ab2dc9cf90c5186765e94e067704fc4b382e7)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-04 22:18] #19940 closed, assigned to GovindaSharma, mahesh-rajawat

[2019-01-04 22:18] sidolov commented on #19796
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19799 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [e30a0805eae4e2fbc448435405bf399080847dfe](https://github.com/magento/magento2/commit/e30a0805eae4e2fbc448435405bf399080847dfe)
 - [8a3fa6157fe0d416303fb04270522db484870400](https://github.com/magento/magento2/commit/8a3fa6157fe0d416303fb04270522db4

[2019-01-04 22:18] sidolov commented on #19899
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#19900 by @wojtekn in 2.3-develop branch
Related commit(s):
 - [e840e41fb2099aa1aeee6797047392623c159fe9](https://github.com/magento/magento2/commit/e840e41fb2099aa1aeee6797047392623c159fe9)
 - [4a77f295f2ed085db9cff24a6edae44916cae252](https://github.com/magento/magento2/commit/4a77f295f2ed085db9cff24a6edae44916ca

[2019-01-04 22:18] #19899 closed, assigned to nobody

[2019-01-04 22:18] sidolov commented on #17759
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#19620 by @Militree in 2.3-develop branch
Related commit(s):
 - [d600179622e691be0c24af7dac5b89d24649f3c3](https://github.com/magento/magento2/commit/d600179622e691be0c24af7dac5b89d24649f3c3)
 - [b99af3894130e6d2c90b600d25f6cca4b0a0acd6](https://github.com/magento/magento2/commit/b99af3894130e6d2c90b600d25f6cca4

[2019-01-04 22:18] #17759 closed, assigned to nik4152, AlexandrKozyr, irving0mar

[2019-01-04 22:18] sidolov commented on #19645
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19646 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [0811a711fb78e5df2153055d78504cc890fece30](https://github.com/magento/magento2/commit/0811a711fb78e5df2153055d78504cc890fece30)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-04 22:18] #19645 closed, assigned to suryakant-krish

[2019-01-04 23:38] floorz opened #20078 "Magento Ui form validator message callback not supported"
### Preconditions (*)

1. 2.1.x, 2.2.x, 2.3.x

### Steps to reproduce (*)

1. Create a new validation rule using the `Magento_Ui::js/lib/validation/validator.js`, using a callback as the validator's message.
  - **Note:** the unused "validate-customer-password" in `Magento_Ui::js/lib/validation/rules.js` already does this: https://github.com/magento/magento2/blob/2.1/app/code/Magento/Ui/view/base/

[2019-01-04 23:38] magento-engcom-team commented on #20078
Hi @floorz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-04 23:57] Daniel304 commented on #15115
Same problem here.. it is an upgrade from 2.2.6 to 2.2.7

[2019-01-05 01:21] magento-engcom-team commented on #20078
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97459`, `MAGETWO-97460` were created

[2019-01-05 06:14] magento-engcom-team commented on #20067
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-05 09:59] iamdylanngo opened #20084 "Blank admin page after install magento 2.3.0 on Windows 10"
### Preconditions (*)

1. On Windows 10
2. Blank admin page

### Steps to reproduce (*)

1. Install magento 2.3.0 complete on Windows 10
2. Go to url admin page

### Expected result (*)

1. Go to page admin success
2. Login to admin

### Actual result (*)

1. Blank admin page
![screenshot_1](https://user-images.githubusercontent.com/11944757/50723046-e7558f00-110a-11e9-9bf0-610b47b9ec42.png)
![scr

[2019-01-05 10:00] magento-engcom-team commented on #20084
Hi @jundat95. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-05 12:04] magento-engcom-team commented on #20068
Hi @davidverholen. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-05 12:51] mohammadalfaz opened #20089 "Magento 2.2.5 setup upgrade not working"
Hi,

I have used Magento 2.2.3. Now currently I am using 2.2.5. In this version when I run setup upgrade command then admin & frontend will not load css and js. But after content deploy command it works. In 2.2.3, If I run setup upgrade the js and css was working fine.

Whether anything related to this has been changed?

[2019-01-05 12:52] magento-engcom-team commented on #20089
Hi @mohammadalfaz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-05 15:39] magento-engcom-team commented on #20084
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-05 15:54] rahulgspann commented on #13553
Any solution you found?

[2019-01-05 17:41] kombi77 commented on #17813
Thanks for the great post and fix.  I see this post is closed not sure where else to go being new to GitHub as well.

Being new to Magento 2.3.0 I do not see a path called "Magento_Catalog/js/product/storage/ids-storage.js". When I search for ids-storage.js ( Two files come up) and open the files I do not find " if (!utils.compare(data, localStorage).equal) {" .  Am I just way off base in where to

[2019-01-05 17:48] kombi77 commented on #14667
DrewML I found your  Huge "product_data_storage" in localStorage hangs the shop #17813 post Thanks for that information.  I do have a question I hope you can assist with.

Being new to  Magento 2.3.0  your post indicated to edit the ids-storage.js via path "Magento_Catalog/js/product/storage/ids-storage.js". When I search for ids-storage.js ( Two files come up) and open the files I do not find " i

[2019-01-05 17:59] DrewML commented on #14667
Hey @kombi77. This issue was actually fixed and included in 2.3.0. If you're still seeing performance problems on product pages, they should be unrelated.

[2019-01-05 23:38] Userr017 opened #20090 "Product image issue: upgrade magento 2.2.7 to 2.3.0."
Product image issue when upgrade magento 2.2.7 to 2.3.0.

I have two stores (id_1) and (id_2) and with different language.

Issue (id_1): Every category page is only Magento 2 default product image for all products. No anything real product images what is added to products. How fix this issue? Everything works well in the store (id_2) without any problems.

### Preconditions (*)

1. Magento 2.3.0

[2019-01-05 23:39] magento-engcom-team commented on #20090
Hi @Userr017. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-06 05:04] chaplynsky opened #20091 "Error when uploading a Transactional Emails logo"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.1

### Steps to reproduce (*)

1. Go to Content>Configuration>edit theme>Transactional Emails
2. Upload logo

### Expected result (*)

1. Logo gets uploaded and is visible

### Actual result (*)

Logo is NOT uploaded and the following error is displayed:
_"A technical problem with the server created an error. Try again to continue what you were doing.

[2019-01-06 05:04] magento-engcom-team commented on #20091
Hi @chaplynsky. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-06 05:05] chaplynsky commented on #20091
@magento-engcom-team give me 2.3 instance

[2019-01-06 05:10] chaplynsky commented on #20091
@magento-engcom-team give me 2.3-develop instance

[2019-01-06 05:10] magento-engcom-team commented on #20091
Hi @chaplynsky. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-06 05:13] magento-engcom-team commented on #20091
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-06 05:15] shikhamis11 commented on #20091
@magento-engcom-team give me 2.3-develop instance

[2019-01-06 05:15] magento-engcom-team commented on #20091
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-06 08:38] hanxiangwu commented on #4556
we have the same issue as alevelo mentioned, how can we solve it?

[2019-01-06 08:46] rahulgspann commented on #13553
can you let me know where to update the limit params?

[2019-01-06 09:13] amenk commented on #4556
@hanxiangwu check if this PR works: https://github.com/magento/magento2/pull/18624

[2019-01-06 10:16] davidverholen commented on #20089
Hi @mohammadalfaz ,

this is only intended for bug tracking. For questions about magento please go to https://magento.stackexchange.com/ or https://community.magento.com/

(First guess would be that you are not in developer mode, where assets are generated dynamically - https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-mode.html)

[2019-01-06 10:16] #20089 closed, assigned to nobody

[2019-01-06 15:07] cotiga commented on #20091
A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.
IN CONSOL
JQMIGRATE: deferred.pipe() is deprecated

#19681 #19474 #19883 #19687 #19615 #19474...

Always the same problem

I have an new clean install with
Magento 2.3 (composer instal)
ON
Ubuntu 18.04
PHP 7.2
MySQL 5.7
Nginx

I think it's time to really focus

[2019-01-06 15:52] chaplynsky commented on #20091
@cotiga yeah, this seems to be an issue that keeps coming back anywhere a logo is being uploaded. You can take a look at my [fix ](https://github.com/chaplynsky/magento2/commit/ba325135318e2c856e5300d7139f529662679d3e) for Transactional Emails logo. After you apply and  run upgrade, compile, static deploy, reindex, cache clean - you'll be able to upload the logo.

And [here is the fix for the head

[2019-01-06 18:20] Anuragm98 opened #20097 "Issue to change luma theme logo."
Logo is not uploading of luma theme from magento admin panel.
### Summary (*)

### Examples (*)

### Proposed solution

[2019-01-06 18:20] magento-engcom-team commented on #20097
Hi @Anuragm98. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-06 18:39] davidverholen commented on #20097
@Anuragm98 please provide information about the magento version used and detailed steps to reproduce the issue.
The issue is probably already fixed (https://github.com/magento/magento2/pull/18851)

[2019-01-06 18:40] flytomek opened #20098 "Product image failure when importing through CSV"
### Preconditions

1. Magento 2.3.0
2. PHP Version 7.2.13
3. macOS Mojave 10.14.1
4. release with no Sample Data
5. Valid product image under remote URL `http://www.tompetty.com/sites/g/files/g2000007521/f/styles/photo-carousel/public/sample1_1.jpg`

### Steps to reproduce

1. Create CSV file
[code]
2. Go to System > Import with following settings:
[code]
and select CSV file

### Expected result

[2019-01-06 18:40] magento-engcom-team commented on #20098
Hi @flytomek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-06 18:48] flytomek commented on #20098
@magento-engcom-team give me 2.3.0 instance

[2019-01-06 18:48] magento-engcom-team commented on #20098
Hi @flytomek. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-06 19:15] digikeijs commented on #15846
@magento-engcom-team give me 2.2.4 instance

[2019-01-06 19:15] magento-engcom-team commented on #15846
Hi @digikeijs. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2019-01-06 19:39] amustci065 opened #20099 "Magento 2 Can't Install Sample Data"
Magento 2 Sample Data suddenly stopped at this junction @ "Module'Magento_DownloadableSampleData':" during installation.

Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 3449720 bytes) in C:\wamp64\www\magento\vendor\magento\module-downloadable-samp le-data\Model\Product\Converter.php on line 103

Have tried every solution but doesn't work for me. But when I check

[2019-01-06 19:39] magento-engcom-team commented on #20099
Hi @amustci065. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-07 01:39] PathToLife commented on #18630
Can also reproduce..

Still exists in 2.3.0

In Xdebug of a shipping module calling RateRequest->getDestPostcode() we see that:
[code]
dest postcode default post code calculation setting.

Which is set here:
http://Base_url/admin/admin/system_config/edit/section/tax/
![postcode set here](https://i.imgur.com/LNSjoKT.png)

[2019-01-07 01:43] PathToLife commented on #8115
https://github.com/magento/magento2/issues/18630

[2019-01-07 01:43] PathToLife commented on #7724
https://github.com/magento/magento2/issues/18630

[2019-01-07 02:41] HirokazuNishi opened #20100 "Cannot update telephone / fax numbers"
### Summary of Issue

Cannot update telephone / fax numbers.
Magento\Framework\Model\ResourceModel\Db\VersionControl\Snapshot.php checks each fields data update when save method is called from Model class, but non-strict value comparison sometimes causes unexpected result. For example:

- Old value: 1234567890
- New value: 01234567890

PHP automatically converts new value into integer and both val

[2019-01-07 02:42] magento-engcom-team commented on #20100
Hi @HirokazuNishi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-07 02:46] magento-engcom-team commented on #20091
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97462` were created

[2019-01-07 02:46] HirokazuNishi commented on #20100
@magento-engcom-team give me 2.3-develop instance

[2019-01-07 02:46] magento-engcom-team commented on #20100
Hi @HirokazuNishi. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-07 03:03] magento-engcom-team commented on #20100
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-07 04:49] Anuragm98 commented on #20097
I have magento 2.2.3 and i can not upload logo from admin. Content-> Design-> Configuration->Select luma theme-> Hedare

[2019-01-07 06:30] shachiarkatkar commented on #14283
Do we need to setup return url too as mentioned https://community.magento.com/t5/Magento-2-x-Technical-Issues/PayPal-Payflow-Pro-not-working-in-Magento-2-2-2/m-p/93219/highlight/true#M4811

[2019-01-07 06:37] shachiarkatkar commented on #14283
I am not understanding documentation given by paypal can anyone please assist

[2019-01-07 07:05] andykim commented on #19590
Hi, I got same error when install Magento 2.3 via command line. This error still not fix yet?

[2019-01-07 07:19] Sherbieny commented on #8933
Same issue still happening on 2.2.6 installation, getting logs with **SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: DELETE FROM `cron_schedule` WHERE (status = 'success') AND (job_code in...**

all indexers are set to update on schedule, and we have products import script running every 5 minutes with a locking mechanism

[2019-01-07 07:21] magento-engcom-team commented on #20098
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-07 07:32] monotheist opened #20101 "Magento 2.3 account create link is broken"
Magento 2.3 account create link and homepage are broken and I get 404 page not found. This happens intermittently. The links are restored and works fine upon cache clean and flush.

### Preconditions (*)

1.Magento 2.3
2.

### Steps to reproduce (*)

1.Unable to reproduce. Issue disappears and the links start working when cache clean and flush are executed but reappears after a while.
2.

### Expe

[2019-01-07 07:32] magento-engcom-team commented on #20101
Hi @ethniccode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-07 08:17] chris-is-on-github commented on #20070
After several testing we found the issue is coming from the migration tool. We did not found a solution yet to fix the problem.

The "street" information are correctly sinced from M1 to M2 but are not showed in the M2 instalation.

[2019-01-07 09:21] davidverholen commented on #20097
@Anuragm98 thx for the update. I'm closing this issue as this is already fixed in the 2.3-develop branch in this pr https://github.com/magento/magento2/pull/18851 and will be in 2.3.1

[2019-01-07 09:21] #20097 closed, assigned to nobody

[2019-01-07 09:40] craigcarnell commented on #14267
@osrecio @kirmorozov Was this fixed in 2.3.0 ? I still get it.

[2019-01-07 09:41] Techytt commented on #11185
Yea i have same issue, i just checked log file and get to know this is currecncy rate issue, thanks!

[2019-01-07 10:50] Prasad2706 commented on #20054
![for - github-image uploading](https://user-images.githubusercontent.com/46341163/50764248-11888780-1298-11e9-9d4e-94e66f5314eb.png)
getting above error at the time of insert / upload image for block

[2019-01-07 10:58] ankit-sf commented on #15273
Any update on this issue?

[2019-01-07 11:03] Userr017 commented on #20090
If need more details. Please give me someone magento 2 developer your email address so i send for you my website link. Thanks

[2019-01-07 11:58] csmith-fm opened #20102 "Several 404 errors with requirejs after fresh installation of Magento 2.1.16"
### Preconditions (*)

1. Magento version 2.1.16
2. Windows 7 Professional SP1
3. XAMPP v3.2.2 (Win32) in Administrator mode, running:
  **a.** Apache 2.4.25
  **b.** PHP 7.0.18
  **c.** MariaDB 10.1.10

### Steps to reproduce (*)

1. Download version 2.1.16 from https://magento.com/tech-resources/download (can be with or without sample data)
2. Extract files to subdirectory in C:\xampp\htdocs
3.

[2019-01-07 11:58] magento-engcom-team commented on #20102
Hi @csmith-fm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-07 12:07] csmith-fm commented on #20102
@magento-engcom-team give me 2.1.16 instance

[2019-01-07 12:07] magento-engcom-team commented on #20102
Hi @csmith-fm. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2019-01-07 12:20] orlangur commented on #20102
@csmith-fm, please note

Also, Windows is not supported and thus facing some troubles is quite expectable.

[2019-01-07 12:23] orlangur commented on #20084
Closing as duplicate of https://github.com/magento/magento2/issues/19589. Please check that older ticket for solutions.

[2019-01-07 12:23] #20084 closed, assigned to nobody

[2019-01-07 12:27] #20099 closed, assigned to nobody

[2019-01-07 12:40] csmith-fm commented on #20102
Hi @orlangur ,

Thank you for your response. I have added the required comment, but I get a message indicating that only versions 2.2+ can be deployed.

As for Windows, I am aware that you support Linux x86-64, however with our development it creates a LAMP-like environment, and so it should work fine, as long as you are running in Administrator mode, which is required to successfully create symli

[2019-01-07 14:50] csmith-fm commented on #20102
Okay so I've installed 2.1.16 directly only a system running Ubuntu, and it works first time. Furthermore I've found a zipped up package with version 2.1.12, and after extracting the contents and installing it on my Windows environment, it works fine on there (although I did have to do a setup:static-content:deploy).

Therefore somewhere in the code, there has been some actioned amends between tho

[2019-01-07 16:10] shikhamis11 commented on #20100
This issue seems to be duplicate of the #17452

[2019-01-07 16:22] magento-engcom-team commented on #20100
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97468`, `MAGETWO-97469` were created

[2019-01-07 18:14] magento-engcom-team commented on #20101
Hi @Shubham-Webkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-07 18:14] Shubham-Webkul commented on #20101
@magento-engcom-team give me 2.3 instance

[2019-01-07 18:19] Jammmmm opened #20105 "Magento admin does not work when a port number is included in the URL. Gets stuck in redirect loop."
### Issue Summary
Using a custom port during Magento installation causes the admin page to be inaccessible. Browser gets stuck in a redirect loop.

### Preconditions

 - Magento 2.3.0
 - Ubuntu 18.10 Server
 - Apache 2.4.37
 - MySQL Community Server 8.0.13
 - PHP-FPM 7.2.13

### Steps to reproduce

 - Set web server to listen on a custom port, such as 8899
 - Download and unpack Magento 2.3.0 from

[2019-01-07 18:19] magento-engcom-team commented on #20105
Hi @Jammmmm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-07 18:23] Jammmmm commented on #20105
All of the above has been provided.

Yes.

[2019-01-07 18:25] Shubham-Webkul commented on #20101
@magento-engcom-team give me 2.3-develop instance

[2019-01-07 18:25] magento-engcom-team commented on #20101
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-07 19:01] magento-engcom-team commented on #20105
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-07 19:15] magento-engcom-team commented on #12549
Hi @AbdurBhadarka. Thank you for your report.
The issue has been fixed in magento/magento2#20042 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [76ca463a96e3e215cae08a1acacef8eea24cdf44](https://github.com/magento/magento2/commit/76ca463a96e3e215cae08a1acacef8eea24cdf44)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-07 19:15] #12549 closed, assigned to nobody

[2019-01-07 19:15] magento-engcom-team commented on #19800
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19803 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [10e7927dbe7e3bc26618fb24706ed857a9371bd9](https://github.com/magento/magento2/commit/10e7927dbe7e3bc26618fb24706ed857a9371bd9)
 - [b618757229157d977e0acf584ea036040ba5e225](https://github.com/magento/magento2/commit/b618757229157d977e0a

[2019-01-07 19:15] #19800 closed, assigned to suryakant-krish

[2019-01-07 19:15] magento-engcom-team commented on #19642
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#19643 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [f72c0133edd733dfa2526860e2e0414e6e0d626b](https://github.com/magento/magento2/commit/f72c0133edd733dfa2526860e2e0414e6e0d626b)
 - [f49c56952484d268b5b9cc4fa12d994e5dac8b43](https://github.com/magento/magento2/commit/f49c56952484d268b5b9cc4f

[2019-01-07 19:15] #19642 closed, assigned to abrarpathan19

[2019-01-07 19:15] magento-engcom-team commented on #19664
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#19665 by @wojtekn in 2.3-develop branch
Related commit(s):
 - [614a7e43b58268afa572a9091fa7e6c51b7dbcc2](https://github.com/magento/magento2/commit/614a7e43b58268afa572a9091fa7e6c51b7dbcc2)
 - [9566898098dcd70d09943be5c5c81d90566c1b44](https://github.com/magento/magento2/commit/9566898098dcd70d09943be5c5c81d90566c

[2019-01-07 19:15] #19664 closed, assigned to wojtekn

[2019-01-07 19:15] magento-engcom-team commented on #7739
Hi @RishabhRkRai. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef

[2019-01-07 19:15] magento-engcom-team commented on #11740
Hi @lee586. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef500325

[2019-01-07 19:15] magento-engcom-team commented on #14236
Hi @david-kominek. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6e

[2019-01-07 19:15] magento-engcom-team commented on #14945
Hi @chequille. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef500

[2019-01-07 19:15] magento-engcom-team commented on #14952
Hi @tstamplis. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef500

[2019-01-07 19:15] #14952 closed, assigned to nobody

[2019-01-07 19:15] magento-engcom-team commented on #16165
Hi @mihaifaget. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef50

[2019-01-07 19:15] magento-engcom-team commented on #16203
Hi @bnymn. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef5003251

[2019-01-07 19:15] magento-engcom-team commented on #16355
Hi @versdivers. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef50

[2019-01-07 19:15] magento-engcom-team commented on #16509
Hi @arjuninfo. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef500

[2019-01-07 19:15] magento-engcom-team commented on #17781
Hi @nilesh111091. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef

[2019-01-07 19:15] magento-engcom-team commented on #18470
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#18471 by @gwharton in 2.3-develop branch
Related commit(s):
 - [ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3](https://github.com/magento/magento2/commit/ad50297e7bf4ea39db62f0969579a1ca8eb5f1a3)
 - [e16ff74e4f5f24a4a2530b6aced6ef50032515e0](https://github.com/magento/magento2/commit/e16ff74e4f5f24a4a2530b6aced6ef5003

[2019-01-07 19:15] #18470 closed, assigned to velvetyWorld

[2019-01-07 20:55] Januszpl commented on #8646
You can try on your own to implement async css loading  per project but still gains are really small (depending on the specification of the project). I would focus probably more on javascript to make any M2 project working faster and having better results in google page speed performance score.

[2019-01-07 21:00] almr commented on #16013
Hello Everyone,

I’m getting same redirecting issue on second level categories.
Did anyone get this resolved?
Magento Version: 2.2.7

Thanks!

[2019-01-07 21:32] uurtsaikh0904 commented on #20090
Hello there,

I am having a similar issue.
We updated the Magento 2.2.2 to Magento 2.3.0.

The issue we are having is that the old products, which were created when we were using Magento 2.2.2, are having a problem when we update them.

The new products are fine, but the old products have a problem.

Here is additional information from my client:

I've added photos to a number of products lately,

[2019-01-08 01:36] orlangur commented on #20102
@csmith-fm problems with `2.1.x` versions are not tracked & investigated here.

Windows environment may cause troubles as it is not verified by CI builds, you can check https://github.com/magento/magento2/issues/19471#issuecomment-443195351 for an easiest solution to deploy under Windows 10.

[2019-01-08 02:47] floorz commented on #20078
@shikhamis11 are one of those internal tickets for 2.2.x and the other for 2.3.x ?

[2019-01-08 03:37] harimayco commented on #18148
is there any fix for this?
I experience this issue after updating from 2.1.7 to 2.2.7.

[2019-01-08 05:08] magento-engcom-team commented on #20090
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-08 05:31] ShraddhaMistry commented on #18156
http://magentopractice.m2dev.invanos.net/graphql
![screenshot 6](https://user-images.githubusercontent.com/46473265/50811518-8de49000-12c3-11e9-946c-ee6e1a0ea6a8.png)

[2019-01-08 05:35] Surabhi-Cedcoss opened #20108 "Orders report not showing any results"
### Preconditions (*)
1. Magento2.3
2. PHP7.2

### Steps to reproduce (*)
1. Go to Magento admin panel -> Reports -> Orders.
2. Fill the required fields and click on the show report button.

### Expected result (*)
1. The orders should show in the grid if there is any order created.

### Actual result (*)
1. No order is showing in the grid even order exists in the sales/order grid for the selected

[2019-01-08 06:08] magento-engcom-team commented on #20098
@irajneeshgupta Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required inform

[2019-01-08 06:17] magento-engcom-team commented on #20098
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97478` were created

[2019-01-08 06:40] milindsingh commented on #20105
@Jammmmm I am not able to reproduce in 2.3.

[2019-01-08 06:40] #20105 closed, assigned to milindsingh

[2019-01-08 07:50] magento-engcom-team commented on #20102
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 07:51] magento-engcom-team commented on #20101
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 07:51] magento-engcom-team commented on #20090
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 07:53] engcom-backlog-nazar commented on #20070
Hi @chris-is-on-github    thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-01-08 07:53] #20070 closed, assigned to nobody

[2019-01-08 07:56] engcom-backlog-nazar commented on #20090
Hi @Userr017 thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/19710

[2019-01-08 07:56] #20090 closed, assigned to GovindaSharma

[2019-01-08 08:01] engcom-backlog-nazar commented on #20102
Hi @csmith-fm  i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2019-01-08 08:01] #20102 closed, assigned to nobody

[2019-01-08 08:06] engcom-backlog-nazar commented on #20101
Hi @ethniccode thank you for you report, i'm not able to reproduce following steps you described, if you will have some additional steps to reproduce, please add description and reopen the issue, Best regards.

[2019-01-08 08:06] #20101 closed, assigned to Shubham0492

[2019-01-08 08:22] irajneeshgupta commented on #4247
@magento-engcom-team give me 2.3-develop instance

[2019-01-08 08:22] magento-engcom-team commented on #4247
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-08 08:26] priti2jcommerce opened #20110 "Subscribed to Newsletter checkbox misaligned."
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. In admin Go  to Customers >> All Customers >>Click on edit >>Select Newsletter
2.

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118695/50818318-a77dea00-134c-11e9-8231-8f11e692a1e9.png)

2.

### Actual result (*)

1. [Screenshots, logs or description]
![image](https://user-images.githubuserconten

[2019-01-08 08:32] magento-engcom-team commented on #20110
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97479`, `MAGETWO-97480` were created

[2019-01-08 08:33] Yuwei9291 commented on #19786
can anyone solve this issue ? many thanks !

[2019-01-08 08:33] GovindaSharma commented on #20110
@engcom-backlog-nazar this issue duplicate .See this #19905

[2019-01-08 08:35] GovindaSharma commented on #20110
PR for this issue is already in progress.

[2019-01-08 08:35] engcom-backlog-nazar commented on #20110
HI @GovindaSharma thanks, closing this as duplicate.

[2019-01-08 08:35] #20110 closed, assigned to nobody

[2019-01-08 08:51] magento-engcom-team commented on #6895
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-08 09:15] priti2jcommerce opened #20111 "Email Template Information Insert Variable popup blank"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Go to admin>>MARKETING>>Email Templates>> edit the template
2.

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118695/50820984-0c890e00-1354-11e9-8a96-98ae91203054.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118695/50820915-e5cad780-1353-11e9-907a-7d78f9

[2019-01-08 09:16] magento-engcom-team commented on #20111
Hi @priti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-08 09:17] priti2jcommerce commented on #20111
Hi
@magento-engcom-team give me 2.3-develop instance

[2019-01-08 09:17] magento-engcom-team commented on #20111
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-08 09:18] magento-engcom-team commented on #20111
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 09:18] flytomek commented on #20098
Just quick update from me. Since I haven't received fresh instance, I set up Docker container (alexcheng/magento2 image), reproduced all steps and actual result is the same as above under my local machine.

[2019-01-08 09:20] engcom-backlog-nazar commented on #20111
HI @priti2jcommerce thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules
![selection_256](https://user-images.githubusercontent.com/40756439/50821211-50b9e580-1337-11e9-8037-419a74f3f5ec.png)

[2019-01-08 09:34] magento-engcom-team commented on #20111
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97482` were created

[2019-01-08 09:53] mrprabhu commented on #19747
I have resolved this by doing some modification in the code.
First, override the following file, and after that update with the mentioned code.
vendor/magento/module-customer/view/frontend/templates/address/book.phtml

![image](https://user-images.githubusercontent.com/35934158/50822999-02b5d980-1359-11e9-8148-e24d983de7f5.png)

Second, override vendor/magento/module-customer/Controller/Address/De

[2019-01-08 10:00] arvind498 commented on #19747
Yes, Thanks @mrprabhu
This resolved my issues

[2019-01-08 10:08] yashwant2jcommerce opened #20113 "Widget option labels are misalinged"
### Preconditions (*)

1. 2.3

### Steps to reproduce (*)

1. In admin content >> Widgets >> Edit widget >> widget options

### Expected result (*)

1.
![expected_widgets - contact us info](https://user-images.githubusercontent.com/26630846/50823970-545f6380-135b-11e9-8884-6ba8d323b8a4.jpg)

### Actual result (*)

1.
![actual_widgets - contact us info](https://user-images.githubusercontent.com/266

[2019-01-08 10:08] magento-engcom-team commented on #20113
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-08 10:10] magento-engcom-team commented on #20113
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-08 10:11] GovindaSharma commented on #20113
@magento-engcom-team give me 2.3-develop instance

[2019-01-08 10:12] magento-engcom-team commented on #20113
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-08 10:12] magento-engcom-team commented on #20113
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 10:15] magento-engcom-team commented on #20113
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97484`, `MAGETWO-97485` were created

[2019-01-08 10:52] rosariomarsala opened #20116 "Magento Upgrade from 2.2.6 to 2.3.0 Failed"
Preconditions

1. Magento Currently Version 2.2.6
2. Magento Start Version 2.2.4 - data migrated with migration tool from magento 1.9.3.8
3. PHP Version 7.1.5
4. MySQL Version 10.1.23-MariaDB
5. Memory limit 1024M
6. Max execution time 1800
7. My composer.json file before upgrade:

{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Editi

[2019-01-08 10:52] magento-engcom-team commented on #20116
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 10:56] engcom-backlog-nazar commented on #20116
Hi @wwwmage thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/19446

[2019-01-08 10:56] #20116 closed, assigned to nobody

[2019-01-08 11:29] sskulkarni opened #20117 "There should be configuration to display "Out of Stock" products at last in category pages."
### Description (*)
There should be a configuration "Yes/no" in admin to display out of stock products in last.

### Expected behavior (*)
If it is selected as "Yes", Out of stock products will display at last.

### Benefits
Customer will more see "in stock" products rather than out of stock..

### Additional information

[2019-01-08 11:30] urfusion commented on #5247
I am still facing the issue with my magento v 2.2.6 which I have upgraded by command line from V2.1. I have tried all the solution mention above such as "Symbolic link", "session is already is in the file", "Permission and ownership" but nothing working. Anyone find out the solution.

[2019-01-08 11:34] sskulkarni commented on #20117
@magento-engcom-team give me 2.3-develop instance

[2019-01-08 11:34] magento-engcom-team commented on #20117
Hi @sskulkarni. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-08 11:50] magento-engcom-team commented on #20117
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 11:54] engcom-backlog-nazar commented on #20117
Hi @sskulkarni  thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-08 11:54] #20117 closed, assigned to sskulkarni

[2019-01-08 12:06] hemendraajmera opened #20118 "Image delete option on available on category upload image area"
### Summary (*)

Magento 2.3.0
Apache
PHP 7.2

### Examples (*)

Installed and configure Magento to check new features added into new 2.3 release.
When navigating to a category page,
upload a new image for category and saved.
now the image showing on the image area section, but remove this image option on available.

### Proposed solution

Can you please add image remove button for uploaded image

[2019-01-08 12:06] magento-engcom-team commented on #20118
Hi @hemendraajmera. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-08 12:06] magento-engcom-team commented on #20118
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 12:09] hemendraajmera opened #20119 "Set product new from button and calendar icon UI"
### Preconditions (*)

1. Magento 2.3.0
2. below is the screenshot of the UI issue
![image](https://user-images.githubusercontent.com/2478037/50829981-49f99580-136c-11e9-91d0-ded0f5bfe2e9.png)

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. UI for calendar and input box correct for both
2.

### Actual result (*)

1. [Screenshots, logs or description]
![image](https://user-images.gi

[2019-01-08 12:09] magento-engcom-team commented on #20119
Hi @hemendraajmera. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-08 12:10] magento-engcom-team commented on #20119
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-08 12:11] shikhamis11 commented on #20119
@magento-engcom-team please give me 2.3-develop instance

[2019-01-08 12:13] magento-engcom-team commented on #20119
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 12:14] engcom-backlog-nazar commented on #20119
Hi @hemendraajmera thank you for you report,  this already fixed by this PR -> https://github.com/magento/magento2/pull/18627

[2019-01-08 12:14] #20119 closed, assigned to nobody

[2019-01-08 12:21] priti2jcommerce opened #20120 "Review Details Detailed Rating misaligned"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Go to admin>>MARKETING>>Click on Reviews>>Edit reviews
2.

### Expected result (*)

1.
![2019-01-08_17-33_edit review - customer](https://user-images.githubusercontent.com/18118695/50830391-af9a5180-136d-11e9-8f0f-6e753722f84e.jpg)

2.

### Actual result (*)

1.
![2019-01-08_17-34_edit review - customer](https://user-images.githubu

[2019-01-08 12:21] magento-engcom-team commented on #20120
Hi @priti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-08 12:22] denzyk opened #20121 "Cancel order increases stock although "Set Items' Status to be In Stock When Order is Cancelled" is set to No"
We've recently run into issue where stock quantity is restored (increased back by 1) after the order has been canceled although **Set Items' Status to be In Stock When Order is Cancelled** is set to **No**.

### Preconditions

1. Magento 2.2.6 Community
2. Reproduced on PHP 7.1.18 and 7.1.25
3. MariaDB 10.1.26 and 10.3.11
4. Go to Stores -> Configuration -> Catalog -> Inventory and make sure the f

[2019-01-08 12:22] magento-engcom-team commented on #20121
Hi @denzyk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-08 12:26] #20118 closed, assigned to nobody

[2019-01-08 12:34] magento-engcom-team commented on #20120
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97489`, `MAGETWO-97490` were created

[2019-01-08 13:13] mohammadzakir opened #20122 "Getting error on adding new review from admin panel"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2. Php Version 7.2

### Steps to reproduce (*)

1. Login to admin panel
2. On left navigation goto Marketing-> User Content-> Reviews
3. Click New Review
4. Click any product for review

### Expected result (*)

1. No error msg should come

### Actual result (*)

1. Error message showing : A technical problem with the server created an error

[2019-01-08 13:13] magento-engcom-team commented on #20122
Hi @mohammadzakir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-08 13:13] magento-engcom-team commented on #20122
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-08 13:17] magento-engcom-team commented on #20122
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97491` were created

[2019-01-08 13:19] paras89 commented on #18089
@samuelecarpene Did you find a solution for this issue? We are facing the same issue on Magento 2.2.4

[2019-01-08 13:38] Flyingmana opened #20123 "Translation for fr_FR does contain very wrong entries - and crowdin does not show them on Web View"
### Summary (*)

When adding a new LanguagePack which uses crowdin as Source, I found some very wrong entries, and multiple very different entries with the same wrong translation.
When looking onto crowdin, I was not able to find the entries for this lines.

It seems, all or most of entries which contain an `'` are not shown. Compare the Wishlist entries from Webview and Full Download

### Example

[2019-01-08 13:38] magento-engcom-team commented on #20123
Hi @Flyingmana. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-08 13:40] magento-engcom-team commented on #20123
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 13:45] dipti2jcommerce opened #20124 "Sort By label is hidden by Shop By Menu on listing page in iphone5 device"
Sort By label is hidden by Shop By Menu on listing page in iphone5 device

### Preconditions (*)

1. Issue is present in version 2.2.5, 2.3
2 .On iphone5 device

### Steps to reproduce (*)

1. Go to listing page on iphone5 device you can see that Shop By menu is overlapping sort by option
2.  you can see that Shop By menu is overlapping Sort By Label

### Expected result (*)

1. When we will go to

[2019-01-08 13:45] magento-engcom-team commented on #20124
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-08 13:57] kkTeam commented on #6656
any solution?

[2019-01-08 14:11] rahulanand77 commented on #13553
Step to increase limit of this query from "100" to your requirement is:

1) Open the core file "Magento\Framework\DB\Query\Generator.php"
2) Search for function "generate". It has a param "$batchSize" with default value "100".

Increase it to "100,000" or as per your requirements to speed up the setup: upgrade.

[2019-01-08 14:22] mohammadzakir opened #20125 "Design issue in product creation form"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2. Php Version 7.2

### Steps to reproduce (*)

1. Login to admin panel
2. On left navigation goto Stores-> Attributes-> Attribute Set
3. Create new attribute set on based on default attribute
4. Now Stores-> Attributes -> Product
5. Create an attribute of the text field
6. Now assign created attribute to previously created attribute set on

[2019-01-08 14:22] magento-engcom-team commented on #20125
Hi @mohammadzakir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-08 14:22] magento-engcom-team commented on #20125
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-08 14:23] GovindaSharma commented on #20125
@magento-engcom-team give me 2.3-develop instance

[2019-01-08 14:23] magento-engcom-team commented on #20125
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-08 14:34] engcom-backlog-tomash commented on #6895
@hectornguyen, thank you for reporting this issue.

[2019-01-08 15:04] Hanhan1989 opened #20126 "Invalite template files Magento 2.3 in Windows"
This is the error

`1 exception(s):
Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'C:/xampp/htdocs/magento2/src/vendor/magento/module-theme/view/frontend/templates/page/js/require_js.phtml' in module: '' block's name: 'require.js'

Exception #0 (Magento\Framework\Exception\ValidatorException): Invalid template file: 'C:/xampp/htdocs/magento2/src/vendor/magen

[2019-01-08 15:04] magento-engcom-team commented on #20126
Hi @Hanhan1989. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-08 15:05] magento-engcom-team commented on #20121
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97493`, `MAGETWO-97494` were created

[2019-01-08 15:20] magento-engcom-team commented on #20126
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-08 15:39] orlangur commented on #20126
Hi @Hanhan1989,

Try using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html. Note that Windows is not in the list.

Also, you can check https://github.com/magento/magento2/issues/19471#issuecomment-443195351 for an easiest solution to deploy under Windows 10.

[2019-01-08 15:39] #20126 closed, assigned to nobody

[2019-01-08 15:43] magento-engcom-team commented on #10518
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-08 15:44] magento-engcom-team commented on #10518
@engcom-backlog-tomash Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97496`, `MAGETWO-97497` were created

[2019-01-08 15:50] magento-engcom-team commented on #15206
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-08 15:59] barbanet commented on #6656
Hi @mateo2181 and @kkTeam !
Can you check, just for I+D purpouse, to apply the modification from https://github.com/magento/zf1/pull/9 on your local environment and validate the fix?
Which version of Magento are you using?

[2019-01-08 16:07] realJustmike opened #20128 "Magento\Reports\Model\ResourceModel\Order\Collection->getDateRange() - Error in code?"
### Summary (*)

Magento 2.1.x

### Examples (*)

Please see
Magento\Reports\Model\ResourceModel\Order\Collection->getDateRange()
on line 447:
$dateStart = $customStart ? $customStart : $dateEnd;

### Proposed solution

$dateStart = $customStart ? $customStart : $dateStart;

[2019-01-08 16:08] magento-engcom-team commented on #20128
Hi @realJustmike. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-08 16:12] sdzhepa commented on #20010
@magento-engcom-team give me 2.3-develop instance

[2019-01-08 16:12] magento-engcom-team commented on #20010
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-08 16:13] magento-engcom-team commented on #20010
Hi @sdzhepa, here is your [Magento instance](https://i-20010-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20010-2-3-develop.instances.magento-community.engineering/admin](https://i-20010-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-08 16:18] realJustmike commented on #20128
yes

[2019-01-08 16:36] magento-engcom-team commented on #20128
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-08 16:48] magento-engcom-team commented on #20128
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97498`, `MAGETWO-97499` were created

[2019-01-08 18:08] azue commented on #20098
Magento 2.2.7 is also affected.

[2019-01-08 18:54] crantron commented on #19441
@ryanreeves-taxjar Hey im getting this error when getting using taxjar, is there any work around?

[code]

[2019-01-08 19:03] ryanreeves-taxjar commented on #19441
Hi @crantron.  This is the Github for Magento 2 issues.  Please contact our support team at support@taxjar.com and we'll help you out!

[2019-01-08 19:05] crantron commented on #19441
@ryanreeves-taxjar on it!

[2019-01-08 21:01] GuiltyNL commented on #5980
'Funny' that this bug is being ignored. It seems that nobody has a clue, but while this bug persists,  Varnish is unusable as it serves wrong and outdated information to visitors.

It is a bit silly to server a PDP page with 'In Stock' while a product has been 'Sold out' in the mean while.

Or when a discount promotion ends, to serve a page to a customer where the discount promotion is still menti

[2019-01-08 22:20] dverkade commented on #5980
@magento-engcom-team I'm reopening this issue. The issue has been acknowledged. The fact that the core team or community has not picked it up yet is not a valid reason for closing this issue. It's still an issue which needs to be addressed. It needs to be open until is has been resolved.

[2019-01-09 04:31] orbitrod commented on #15504
@magento-engcom-team give me 2.3-develop instance

[2019-01-09 04:31] magento-engcom-team commented on #15504
Hi @orbitrod. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-09 04:31] magento-engcom-team commented on #15504
Hi @orbitrod, here is your [Magento instance](https://i-15504-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15504-2-3-develop.instances.magento-community.engineering/admin](https://i-15504-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 04:35] orbitrod commented on #15504
Reproduced on 2.3.x

[2019-01-09 04:44] magento-engcom-team commented on #20124
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97506`, `MAGETWO-97507` were created

[2019-01-09 05:19] shansari25 commented on #5937
any solution so far

[2019-01-09 05:31] pratikhmehta commented on #4737
composer.json >> require-dev >> "pelago/emogrifier": "dev-master as 0.1.1"
Then composer update.

[2019-01-09 06:17] dipti2jcommerce commented on #20124
I am working on this issue

[2019-01-09 06:53] pratikhmehta commented on #17781
My Magento version is 2.2.7.

[2019-01-09 06:54] yashwant2jcommerce commented on #20120
I am working on this issue.

[2019-01-09 07:17] magento-engcom-team commented on #20125
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-09 07:28] nainesh2jcommerce opened #20131 "On shopping cart in summary shipping options missalinged"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Add product into cart
2. and go to cart page

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/50883400-f17ad480-140d-11e9-87b7-b9315f67d639.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/50883445-166f4780-140e-11e9-9fba-35d6c684e4c9.png)

2.

[2019-01-09 07:35] magento-engcom-team commented on #20131
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97509`, `MAGETWO-97510` were created

[2019-01-09 07:36] nainesh2jcommerce commented on #20131
I am working on this.

[2019-01-09 07:52] magento-engcom-team commented on #20125
Hi @cedarvinda. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-09 07:52] cedarvinda commented on #20125
I am working in this.

[2019-01-09 08:17] engcom-backlog-nazar commented on #7687
@ihor-sviziev yes, same on 2.2-develop

[2019-01-09 08:39] cedarvinda commented on #20124
@magento-engcom-team give me 2.3-develop instance.

[2019-01-09 08:39] magento-engcom-team commented on #20124
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-09 08:39] magento-engcom-team commented on #20124
Hi @cedarvinda, here is your [Magento instance](https://i-20124-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20124-2-3-develop.instances.magento-community.engineering/admin](https://i-20124-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 08:43] pratikhmehta commented on #16355
Thank You so much.
Also Working in Magento 2.2.7.

[2019-01-09 08:59] gwharton commented on #16355
@pratikhmehta totally agree. The transportbuilderbystore class has already been deprecated in 2.3 and soon will be in 2.2.

[2019-01-09 09:01] gfxguru commented on #19555
I've run Magento on Windows since it's infancy.

[2019-01-09 09:07] gfxguru commented on #19555
And you closed the ticket instead of looking into a fix. Now that's a bug.

[2019-01-09 09:19] pratikhmehta commented on #9737
**The transportbuilderbystore class has already been deprecated in 2.3 and soon will be in 2.2.**

https://magento.stackexchange.com/a/257215/68619

[2019-01-09 09:21] engcom-backlog-nazar commented on #19555
@gfxguru magento not support windows only Operating systems (Linux x86-64)

[2019-01-09 09:30] pratikhmehta commented on #16355
But early I used Magento 2.2.4 that time i did not get any issue like this. After upgrade version Magento 2.2.7 Issue is coming.
But after used [solution above](https://github.com/magento/magento2/issues/16355#issue-335073411) solve my issue.

[2019-01-09 09:36] engcom-backlog-nazar commented on #20123
Hi @Flyingmana  thank you for you report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-09 09:36] #20123 closed, assigned to nobody

[2019-01-09 09:43] magento-engcom-team commented on #7862
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-09 09:43] magento-engcom-team commented on #12543
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-09 09:44] magento-engcom-team commented on #15209
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97511`, `MAGETWO-97512` were created

[2019-01-09 09:48] magento-engcom-team commented on #19230
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-09 09:48] engcom-backlog-tomash commented on #19230
@magento-engcom-team give me 2.3.0 instance

[2019-01-09 09:49] magento-engcom-team commented on #19230
Hi @engcom-backlog-tomash. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-09 09:49] magento-engcom-team commented on #19230
Hi @engcom-backlog-tomash, here is your [Magento instance](https://i-19230-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19230-2-3-0.instances.magento-community.engineering/admin](https://i-19230-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 09:58] gwharton commented on #16355
Yes, the problem was introduced to fix a separate issue in 2.2.5, however the fix had unexpected consequences, including this one.

You will see in PR #18472 that a fix very much along the lines of your comments above, is going to be merged very soon into 2.2 and hopefully this will be available in time for release 2.2.8.

Like I said, the fix has already been applied to 2.3 in PR #18471

[2019-01-09 10:03] nadim2jcommerce commented on #17656
Hi @saravananvelu  and @jaiminparikh
Have you fixed issue? Shall I pick?
Thanks!

[2019-01-09 10:17] nainesh2jcommerce opened #20134 "On checkout page product options is not align in order summary"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. add product to cart
2. and go to checkout page in order summary

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/50892828-64437a00-1425-11e9-8468-a54e88acd64a.png)

product option and label need to be in on line as per cart page

2.

### Actual result (*)

1.
![image](https://user-images.gith

[2019-01-09 10:17] magento-engcom-team commented on #20134
Hi @nainesh2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-09 10:17] engcom-backlog-tomash commented on #19230
@friendscottn, thank you for reporting this isuue. The latest released version of Magento (2.3.0) is not affected by this issue. After the order is invoiced you cannot cancel the order. By if the merchant ships the order without invoicing than order gets status processing and also he is able to cancel it until invoice is not created. In such conditions order has no problems with cancelation

[2019-01-09 10:17] #19230 closed, assigned to Winfle

[2019-01-09 10:19] magento-engcom-team commented on #20134
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-09 10:34] mrtuvn opened #20136 "Call to a member function getParentItem() on null when view invoice order from frontend"
### Preconditions (*)
1. Magento 2.2.5

### Steps to reproduce (*)
1. Customer log in to customer dashboard
2. View Orders
3. View Invoice

### Expected result (*)

View Invoice item normally

### Actual result (*)

![screenshot from 2019-01-09 17-31-21](https://user-images.githubusercontent.com/1908873/50894001-c48de800-1434-11e9-8add-90c95bf18ca0.png)

Error Uncaught Error: Call to a member func

[2019-01-09 10:34] magento-engcom-team commented on #20136
Hi @mrtuvn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-09 10:34] magento-engcom-team commented on #20136
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-09 10:38] magento-engcom-team commented on #20134
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97513` were created

[2019-01-09 10:39] engcom-backlog-tomash commented on #19230
@Winfle, yes please create new one if it's not already created.

[2019-01-09 10:40] nainesh2jcommerce commented on #20134
I am working on this

[2019-01-09 10:41] engcom-backlog-nazar commented on #20136
Hi @mrtuvn , thank you for you report,  this problem related to your custom module.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-09 10:41] #20136 closed, assigned to nobody

[2019-01-09 10:43] mrtuvn commented on #20136
@magento-engcom-team give me 2.2.5 instance

[2019-01-09 10:43] magento-engcom-team commented on #20136
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-01-09 10:43] magento-engcom-team commented on #20136
Hi @mrtuvn, here is your [Magento instance](https://i-20136-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-20136-2-2-5.instances.magento-community.engineering/admin](https://i-20136-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 10:46] nainesh2jcommerce opened #20137 "On checkout page apply discount button is not align with input box"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. add product to cart
2. and go to checkout page

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/50894633-b8e8f400-1429-11e9-9404-32061023cb23.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/50894682-d4ec9580-1429-11e9-97c1-6b80181b11e5.png)

2.

[2019-01-09 10:46] magento-engcom-team commented on #20137
Hi @nainesh2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-09 10:46] magento-engcom-team commented on #20137
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-09 10:47] magento-engcom-team commented on #19485
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-09 10:48] magento-engcom-team commented on #19485
@engcom-backlog-tomash Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-09 10:49] magento-engcom-team commented on #19485
@engcom-backlog-tomash Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97515`, `MAGETWO-97516` were created

[2019-01-09 11:47] magento-engcom-team commented on #16538
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-09 11:48] magento-engcom-team commented on #15206
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-09 11:48] magento-engcom-team commented on #12721
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-09 11:49] magento-engcom-team commented on #8508
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-09 11:50] magento-engcom-team commented on #7165
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-09 11:52] magento-engcom-team commented on #20137
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97521`, `MAGETWO-97522` were created

[2019-01-09 11:57] kanduvisla opened #20139 "2.3 : Payment gateway adapter : fetch_transaction_info vs fetch_transaction_information"
Magento 2 offers an option to show a button `Get Payment Update` in the admin/order/view page. To be able to show this button you need to add the key `can_fetch_transaction_info` to your `config.xml`. When this button is clicked, a method is executed, but the key for this method is `fetch_transaction_information`.

See `Magento\Payment\Model\Method\Adapter`:

    /**
     * @inheritdoc
     */

[2019-01-09 11:57] magento-engcom-team commented on #20139
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-09 12:00] magento-engcom-team commented on #4330
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-09 12:00] dipti2jcommerce opened #20140 "Product per row not proper on listing page"
Product per row not proper on listing page for all view

### Preconditions (*)

1.Issue is appear in desktop,tablet view and mobile view for version 2.3
2.Present in all browser

### Steps to reproduce (*)

1.In any listing page of version 2.3 for allview
2.No of product per row not proper

### Expected result (*)

1.No of product in desktop view should be 4,for tablet view it will be 3 and for mo

[2019-01-09 12:00] magento-engcom-team commented on #20140
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-09 12:08] engcom-backlog-nazar commented on #16538
Hi @herod2k  hi @PascalBrouwers  this is not a bug, according to devdocs ->

Before you begin
To complete this tutorial, you’ll need access **to a working Magento installation** running on a LAMP stack:

https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html

[2019-01-09 12:08] #16538 closed, assigned to nobody

[2019-01-09 12:10] magento-engcom-team commented on #20140
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-09 12:10] magento-engcom-team commented on #20139
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-09 12:10] GovindaSharma commented on #20140
@magento-engcom-team give me 2.3-develop instance

[2019-01-09 12:10] magento-engcom-team commented on #20140
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-09 12:11] magento-engcom-team commented on #20140
Hi @GovindaSharma, here is your [Magento instance](https://i-20140-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20140-2-3-develop.instances.magento-community.engineering/admin](https://i-20140-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 12:18] anil12kuma opened #20141 "Element 'referenceBlock', attribute 'after': The attribute 'after' is not allowed."
Please suggest me how to resolve issue
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'after': The attribute 'after' is not allowed.
Line: 926

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'after': The attribute 'after' is not allowed.
Line: 926

#0 D:\xampp\htdocs\pinekart

[2019-01-09 12:18] magento-engcom-team commented on #20141
Hi @anil12kuma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-09 12:28] #20141 closed, assigned to nobody

[2019-01-09 12:34] herod2k commented on #16538
Hi @engcom-backlog-nazar ,

we are not changing the docroot to pub, if you install it and you change the docroot to pub, it works, there is no problem there.

The problem is: if you install it directly using /pub it doesn't work, you get a loop error. It should be allowed to install from /pub, why we should install and change the docroot? It doesn't make very much sense.

[2019-01-09 12:37] engcom-backlog-nazar commented on #16538
@herod2k Yes, that what i'm talking about, to use pub as root directory, dev docs says :that you have already installed magento.
`To complete this tutorial, you’ll need access to a working Magento installation`

[2019-01-09 12:48] Rayleigh3105 commented on #7753
Hello @chernenm ,
thank´s for sharing you conclusion that helps alot.
is there an tutorial on the web for extension attributes?

[2019-01-09 12:49] herod2k commented on #16538
@engcom-backlog-nazar sorry but the devdocs it is not clear.

The devdocs: https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html says:

If I read this, I understand that: if you have "already" installed Magento with the docroot to /var/www/html please change it because it is not secure. Plus the sentence "If you installed Magento in Apache’s default docroot" seem

[2019-01-09 12:56] engcom-backlog-nazar commented on #16538
@ herod2k Yes, this is issue of the documentation that does not always accurately describe a particular process, you can report here -> https://github.com/magento/devdocs/issues, Or create a PR to solve this problem.

[2019-01-09 13:07] engcom-backlog-nazar commented on #15206
HI @JoshuaFlood According to @magudelo62 comment https://github.com/magento/magento2/issues/15206#issuecomment-427777209, we are closing this as this is non issue.
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css-preprocess.html

[2019-01-09 13:07] #15206 closed, assigned to nobody

[2019-01-09 13:07] ajay2jcommerce opened #20143 "My account page "Recently Ordered" check box misaligned on tab portrait view"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. placed order with login customer on my account page in sidebar check resend order product.
2.

### Expected result (*)

1.
![2019-01-09_18-23_my account](https://user-images.githubusercontent.com/18118570/50901213-80531580-143d-11e9-8c18-37e308ed4a7b.jpg)

2.

### Actual result (*)

1.
![2019-01-09_18-13_my account](https://user-im

[2019-01-09 13:07] magento-engcom-team commented on #20143
Hi @ajay2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-09 13:08] magento-engcom-team commented on #20143
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-09 13:09] shikhamis11 commented on #20143
@magento-engcom-team give me 2.3-develop instance

[2019-01-09 13:09] magento-engcom-team commented on #20143
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-09 13:10] magento-engcom-team commented on #20143
Hi @shikhamis11, here is your [Magento instance](https://i-20143-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20143-2-3-develop.instances.magento-community.engineering/admin](https://i-20143-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 13:12] Radosav commented on #12512
Confirming this is an issue in 2.2.2 and 2.2.5

[2019-01-09 13:27] renttek opened #20145 "Problems with composer path repositories in >= 2.2.7"
### Summary
Can't use composer path-repositories outside of magento root (with symlinks) in Magento >= 2.2.7

Prior to 2.2.7 it was possible to use composer path-repositories which are outside of the magento root and let composer symlink them into vendor. This made module development very easy.

(There is a small problem with templates if the path resolves to something outside of the Magento root,

[2019-01-09 13:33] ajay2jcommerce commented on #20143
hi @shikhamis11

I have checked with the existing product name as mentioned in the screen

[2019-01-09 13:36] shikhamis11 commented on #20143
@ajay2jcommerce let me check this again I am reopening this issue

[2019-01-09 13:57] magento-engcom-team commented on #20143
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97524` were created

[2019-01-09 14:03] ajay2jcommerce commented on #20143
I am working on it.

[2019-01-09 14:50] magento-engcom-team commented on #20145
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-09 14:59] milindsingh commented on #20145
Can we add the dependencies via construct in the class `Magento\Framework\Filesystem\Directory\WriteFactory` ?

[2019-01-09 16:04] jkuczek15 commented on #18752
Has anyone found a temporary solution to this? Still having problems when placing an order.

[2019-01-09 16:46] suneet64 commented on #19623
Hi Guys,

This issue is replicable in the clean installation of Magento 2.3 and I have resolved it under the https://github.com/magento/magento2/pull/20146 pull request.

[2019-01-09 17:01] raulsinapsis opened #20147 "Multi website using store code. Url without any store code should redirect to default store view"
### Preconditions (*)

1. Magento CE 2.2.5 (I believe it should happen in any previous version, not tested in 2.3)
2. Multi website, using store codes for (assumed) all store views

### Steps to reproduce (*)

1. Navigate to any url without any store code, for instance: mydomain.com/abc

### Expected result (*)

1. Application should redirect to url with store code of default store view (as it hap

[2019-01-09 17:02] magento-engcom-team commented on #20147
Hi @raulvian. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-09 17:03] nthurston commented on #18144
I also have huge load times when trying to attach a product to a category through API on 2.2.6.

I have a category with a few thousand products and it takes nearly 90s to add another product through the category link repository API (POST to catalogCategoryLinkRepositoryV1).

[2019-01-09 17:14] magento-engcom-team commented on #20100
Hi @Shubham-Webkul. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-09 17:19] magento-engcom-team commented on #20137
Hi @cedarvinda. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-09 17:29] raulsinapsis opened #20148 "Multi website / store. Admin created customers are redirected to wrong store after password create & login"
### Preconditions (*)

1. Magento CE 2.2.5 (I believe it should happen in any previous version, not tested in 2.3)
2. Multi website / store, using store codes for all store views (not sure if using store codes is relevant)
3. This report affects only the explained flow in "Steps to reproduce", regular login works as expected

### Steps to reproduce (*)

1. Create new customer in admin with associa

[2019-01-09 17:46] Shubham-Webkul commented on #20100
@magento-engcom-team give me 2.3-develop instance

[2019-01-09 17:48] QuentinFarizon opened #20149 "Can't refund to store credit an order paid by store credit"
### Preconditions
Magento 2.1.16

### Steps to reproduce
- Add 10$ store credit to a customer
- WIth this customer, buy a 10$ item, with 0$ shipping
- Use the 10$ store credit, so nothing to pay, free payment is selected
- Complete order
- In the back-office, create a credit memo for this order, select all products and shipping fees
- Tick "refund to store credit" (10$)
- Submit credit memo

### E

[2019-01-09 17:48] magento-engcom-team commented on #20149
Hi @QuentinFarizonAfrimarket. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy va

[2019-01-09 17:50] magento-engcom-team commented on #20148
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-09 18:09] LordHansolo opened #20150 ""use" directive in language.xml in language package does not work properly."
### Preconditions (*)
1. Magento 2.2.5 CE

### Steps to reproduce (*)
1. Install 2 language package for example. [Snowdog Polish language pack](https://github.com/SnowdogApps/magento2-pl_pl) and [Mageplaza language pack](https://github.com/mageplaza/magento-2-polish-language-pack)
2. Create custom language package in app/i18n directory.
3. Add "sort_order" directive with value like 120.
4. Add "us

[2019-01-09 18:09] magento-engcom-team commented on #20150
Hi @LordHansolo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-09 18:41] magento-engcom-team commented on #20149
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-09 18:43] irajneeshgupta commented on #20149
magento-engcom-team give me 2.3.0 instance

[2019-01-09 18:48] jos-zz opened #20151 "Web Setup Wizard redirects to 404 Not Found after upgrading from 2.2.5 to 2.2.6"
The **Web Setup Wizard redirects to 404 Not Found** (on storefront) after upgrading from Magento CE 2.2.5 to CE 2.2.6. The upgrade was performed using the Web Setup Wizard on CE 2.2.5.

### Preconditions (*)
1. **Magento CE 2.2.6** (freshly upgraded from CE 2.2.5)
2. CentOS Linux release 7.5.1804 (Core)
3. Apache/2.4.33 64-bit (built: Apr 23 2018 21:10:29)
4. The apache server configuration points

[2019-01-09 18:48] magento-engcom-team commented on #20151
Hi @jos-zz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-09 18:55] jayanta88 commented on #18496
@magento-engcom-team any solution for this. Transaction and order get successfully but still getting the popup. Please let us know if you have any solution.

[2019-01-09 18:59] jos-zz commented on #20151
@magento-engcom-team give me 2.2.6 instance

[2019-01-09 18:59] magento-engcom-team commented on #20151
Hi @jos-zz. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-01-09 19:00] magento-engcom-team commented on #20151
Hi @jos-zz, here is your [Magento instance](https://i-20151-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-20151-2-2-6.instances.magento-community.engineering/admin](https://i-20151-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 19:04] milindsingh commented on #19623
@magento-engcom-team give me 2.3-develop instance

[2019-01-09 19:04] magento-engcom-team commented on #19623
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-09 19:04] magento-engcom-team commented on #19623
Hi @milindsingh, here is your [Magento instance](https://i-19623-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19623-2-3-develop.instances.magento-community.engineering/admin](https://i-19623-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 19:11] magento-engcom-team commented on #19623
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97534` were created

[2019-01-09 19:18] magento-engcom-team commented on #20111
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-09 19:36] maheshWebkul721 commented on #20151
@magento-engcom-team give me 2.2.7 instance

[2019-01-09 19:36] magento-engcom-team commented on #20151
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-01-09 19:36] magento-engcom-team commented on #20151
Hi @maheshWebkul721, here is your [Magento instance](https://i-20151-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-20151-2-2-7.instances.magento-community.engineering/admin](https://i-20151-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 19:37] magento-engcom-team commented on #20150
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-09 19:37] magento-engcom-team commented on #20151
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-09 19:38] magento-engcom-team commented on #20151
@maheshWebkul721 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-09 19:39] magento-engcom-team commented on #20151
@maheshWebkul721 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97535` were created

[2019-01-09 19:49] maheshWebkul721 commented on #20151
@magento-engcom-team give me 2.2.5 instance

[2019-01-09 19:49] magento-engcom-team commented on #20151
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-01-09 19:49] magento-engcom-team commented on #20151
Hi @maheshWebkul721, here is your [Magento instance](https://i-20151-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-20151-2-2-5.instances.magento-community.engineering/admin](https://i-20151-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-09 20:04] jos-zz commented on #20151
Hi @maheshWebkul721 ,
Thank you for looking into this issue.
Please let me know which steps/tests did you perform and if you think there's a solution in the horizon.
Looking forward to hearing from you.

[2019-01-09 20:15] importwholesales opened #20154 "Multiple Store Views 2.3 not allowing unique descriptions per store view fields disabled"
### Preconditions (*)

1. Magento version 2.3 community
2. CentOS Linux release 7.5.1804 (Core)
3. PHP 7.2.11 (cli) (built: Oct 10 2018 10:00:29)
4. mysql  Ver 14.14 Distrib 5.7.24, for Linux (x86_64) using  EditLine wrapper
5. nginx version: nginx/1.12.2

### Steps to reproduce (*)

1. Install Magento 2.3 via command line composer
2. Run command line install
3. Added 3 websites, 1 store and 1 sto

[2019-01-09 20:16] magento-engcom-team commented on #20154
Hi @importwholesales. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-09 20:49] hostep commented on #20150
This might be a duplicate of https://github.com/magento/magento2/issues/8691

[2019-01-09 20:55] magento-engcom-team commented on #20154
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-09 22:23] jaywilliams commented on #7227
For those of you who want to see their customer's actual IP addresses, as opposed to 127.0.0.1, and don't want to wait for Magento to fix this rather critical piece to help identify fraudulent orders, there is a simple solution:

https://dev98.de/2017/01/02/how-to-add-alternative-http-headers-to-magento-2/

[2019-01-10 01:52] shikhamis11 commented on #20148
@raulvian I checked this at Magento 2.2.7 this issue is not reproduceable there

[2019-01-10 02:11] hcontreras commented on #17436
So... solution to this issue?

[2019-01-10 04:39] saphaljha commented on #20154
@magento-engcom-team give me 2.3-develop instance

[2019-01-10 04:39] magento-engcom-team commented on #20154
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-10 04:39] magento-engcom-team commented on #20154
Hi @saphaljha, here is your [Magento instance](https://i-20154-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20154-2-3-develop.instances.magento-community.engineering/admin](https://i-20154-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 04:51] tuyennn commented on #12385
#12362

[2019-01-10 04:55] magento-engcom-team commented on #20140
@GovindaSharma Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-10 04:55] magento-engcom-team commented on #20154
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-10 05:13] magento-engcom-team commented on #20154
@saphaljha Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2019-01-10 05:15] magento-engcom-team commented on #20154
@GovindaSharma Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-10 05:15] magento-engcom-team commented on #20154
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97537` were created

[2019-01-10 05:31] magento-engcom-team commented on #20140
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97538` were created

[2019-01-10 06:41] syedsaleem086 commented on #18156
We tested in several windows instance it won't work

[2019-01-10 06:45] ajay2jcommerce opened #20157 "On advanced search page Price field misaligned on mobile view"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. click on  footer link "advanced search" check for price field mobile view.
2.

### Expected result (*)

1.
![2019-01-10_11-56_advanced search](https://user-images.githubusercontent.com/18118570/50950727-d91fbe00-14d0-11e9-9c2b-fb87581ff329.jpg)

2.

### Actual result (*)

1.
![2019-01-10_11-55_advanced search](https://user-images.g

[2019-01-10 06:45] magento-engcom-team commented on #20157
Hi @ajay2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-10 06:50] magento-engcom-team commented on #20157
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-10 06:51] magento-engcom-team commented on #20157
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-10 06:52] GovindaSharma commented on #20157
@magento-engcom-team give me 2.3-develop instance

[2019-01-10 06:52] magento-engcom-team commented on #20157
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-10 06:52] magento-engcom-team commented on #20157
Hi @GovindaSharma, here is your [Magento instance](https://i-20157-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20157-2-3-develop.instances.magento-community.engineering/admin](https://i-20157-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 06:56] magento-engcom-team commented on #20157
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97539`, `MAGETWO-97540` were created

[2019-01-10 07:02] magento-engcom-team commented on #20148
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97541` were created

[2019-01-10 07:36] cedarvinda opened #20158 "Store switcher not aligned proper in tab view"
Store switcher not aligned proper in tab view

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Go to frontend
Step 2: view in responsive view (device with 991px)
Step 3: Now you will get issue (will appear horizontal scroll)

### Expected result (*)

![sol](https://user-images.githubusercontent.com/26018716/50952940-ebe9c100-14d7-11e9-8b4a-25ae22f24dc3.png)

[2019-01-10 07:36] magento-engcom-team commented on #20158
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-10 07:36] magento-engcom-team commented on #20158
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-10 07:36] shikhamis11 commented on #20158
magento-engcom-team give me 2.3-develop instance

[2019-01-10 07:39] magento-engcom-team commented on #8691
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-10 07:39] milindsingh commented on #20150
@hostep Yes, it's duplicate. I am closing this one.

[2019-01-10 07:39] #20150 closed, assigned to nobody

[2019-01-10 07:41] magento-engcom-team commented on #20158
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97542`, `MAGETWO-97543` were created

[2019-01-10 07:43] milindsingh commented on #20145
@davidverholen would this be a new then?

[2019-01-10 07:46] magento-engcom-team commented on #20145
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-10 07:46] magento-engcom-team commented on #20151
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-10 07:47] magento-engcom-team commented on #18794
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-10 07:47] magento-engcom-team commented on #12543
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-10 07:47] magento-engcom-team commented on #7862
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-10 07:48] magento-engcom-team commented on #6895
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-10 07:51] engcom-backlog-nazar commented on #18156
@syedsaleem086 Operating systems (Linux x86-64)
Linux distributions, such as RedHat Enterprise Linux (RHEL), CentOS, Ubuntu, Debian, and similar.
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-01-10 07:52] aditisinghcedcoss commented on #20149
@QuentinFarizonAfrimarket
Can you please confirm your magento distribution is EE or CE?

[2019-01-10 07:53] magento-engcom-team commented on #20139
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97544`, `MAGETWO-97545` were created

[2019-01-10 08:05] irajneeshgupta commented on #20149
This issue is not reproducible and close the issue and stop verification process here!

[2019-01-10 08:05] #20149 closed, assigned to irajneeshgupta

[2019-01-10 08:08] engcom-backlog-nazar commented on #20145
Hi @renttek Same as https://github.com/magento/magento2/issues/13375#issuecomment-431146467 - paths outside of Magento base path should not be accessible for security reasons.

[2019-01-10 08:08] #20145 closed, assigned to nobody

[2019-01-10 08:09] engcom-backlog-nazar commented on #20145
@renttek https://github.com/magento/magento2/issues/5326, https://github.com/magento/magento2/issues/13375, https://github.com/magento/magento2/pull/15252

[2019-01-10 08:21] engcom-backlog-nazar commented on #20151
@maheshWebkul721 On vanilla instance this page doesn't work for security reason,

[2019-01-10 08:30] engcom-backlog-nazar commented on #20151
Hi @jos-zz i'm not able to reproduce following steps you described, can you please show your apache configuration ? and link to setup wizard ?

[2019-01-10 08:57] raulvian commented on #20148
I have found **Expected / Actual result** messages were crossed. My mistake there... I have edited it. Although I think the report was understood, give it a look @shikhamis11 @magento-engcom-team

Just to clarify... what should happen is customer should be redirected to homepage (or any other page, such as dashboard) of associated store, not default one

[2019-01-10 09:04] syedsaleem086 opened #20161 "<magento_instance>/graphql not working on windows but works on linux machine"
### Preconditions (*)
Installed Magento2.3.0 with sample data
On Windows 10
Apache2.4
PHP Version 7.2.12 (PHP compiled with Xampp)
Database Server version: 10.1.22-MariaDB - mariadb.org binary distribution

http://magento23.me/graphql
This URL doesn't load to me

### Steps to reproduce (*)
Install Magento2.3.0 using this command
`composer create-project --repository-url=https://repo.magento.com/ m

[2019-01-10 09:05] magento-engcom-team commented on #20161
Hi @syedsaleem086. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-10 09:06] magento-engcom-team commented on #20161
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-10 09:07] engcom-backlog-nazar commented on #20161
HI @syedsaleem086 **Operating systems (Linux x86-64)
Linux distributions, such as RedHat Enterprise Linux (RHEL), CentOS, Ubuntu, Debian, and similar.**
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-01-10 09:07] #20161 closed, assigned to nobody

[2019-01-10 09:18] shikhamis11 commented on #20148
@raulvian yes I created a customer in store 2 that was not default store but after login it is redirected to default one . It should redirect to the associated store of customer

[2019-01-10 10:04] QuentinFarizonAfrimarket commented on #20149
@magento-engcom-team magento-engcom-team give me 2.2-develop instance

[2019-01-10 10:06] karthi5053 opened #20162 "Magento 2.3 - Multi-Source Inventory discrepancy with stock at source and salable quantity"
Thanks for incorporating, Multi source Inventory module in magento. But, we are facing some issues while incorporating and using this module on a realtime scenario.

Preconditions (*)
1) Magento 2.3.0

Steps to reproduce (*)

1) Create a Inventory source under (Store-> Inventory-> Sources) as "NY-Warehouse".
2) Create a stock as "NY-Warehouse Stock" under (Store-> Inventory-> Stocks), and assign t

[2019-01-10 10:06] magento-engcom-team commented on #20162
Hi @karthi5053. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-10 10:09] magento-engcom-team commented on #20162
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-10 10:10] engcom-backlog-nazar commented on #20162
Hi @karthi5053 thank you you report, please open issue here -> https://github.com/magento-engcom/msi

[2019-01-10 10:10] #20162 closed, assigned to nobody

[2019-01-10 10:12] QuentinFarizonAfrimarket commented on #20149
@magento-engcom-team give me 2.2-develop instance

[2019-01-10 10:13] magento-engcom-team commented on #20149
Hi @QuentinFarizonAfrimarket. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-10 10:13] magento-engcom-team commented on #20149
Hi @QuentinFarizonAfrimarket, here is your [Magento instance](https://i-20149-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20149-2-2-develop.instances.magento-community.engineering/admin](https://i-20149-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 10:53] dipti2jcommerce opened #20163 "On iPhone5 device newsletter subscription input box not contain complete text (placeholder)"
On iPhone device newsletter subscription input box not contain complete text (placeholder)

### Preconditions (*)

1.Issue is arises is 2.5 version 2.3 version of magneto on iPhone device

### Steps to reproduce (*)

1.Go to iphone5 device and check newsletter subscription block above footer

### Expected result (*)

![2019-01-10_16-11_create new customer account](https://user-images.githubusercon

[2019-01-10 10:53] magento-engcom-team commented on #20163
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-10 10:54] magento-engcom-team commented on #20163
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-10 10:55] cedarvinda commented on #20163
@magento-engcom-team give me 2.3-develop instance

[2019-01-10 10:55] magento-engcom-team commented on #20163
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-10 10:56] magento-engcom-team commented on #20163
Hi @cedarvinda, here is your [Magento instance](https://i-20163-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20163-2-3-develop.instances.magento-community.engineering/admin](https://i-20163-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 10:58] magento-engcom-team commented on #20163
@cedarvinda Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informatio

[2019-01-10 10:59] magento-engcom-team commented on #20163
@cedarvinda Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-10 11:00] magento-engcom-team commented on #20163
@cedarvinda Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-10 11:00] magento-engcom-team commented on #20163
@cedarvinda Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-10 11:01] magento-engcom-team commented on #20163
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97548` were created

[2019-01-10 11:02] cedarvinda commented on #20163
@magento-engcom-team give me 2.2-develop instance

[2019-01-10 11:02] magento-engcom-team commented on #20163
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-10 11:02] magento-engcom-team commented on #20163
Hi @cedarvinda, here is your [Magento instance](https://i-20163-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20163-2-2-develop.instances.magento-community.engineering/admin](https://i-20163-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 11:03] waldok commented on #14674
Any news on this issue? Facing the same issue on 2.2.7.

[2019-01-10 11:05] jfgalano opened #20164 "Fatal error with Google Tag Manager on Magento Cloud Commerce 2.2.5"
### Preconditions (*)

1. Magento Cloud Commerce 2.2.5
2. Google Tag Manager enabled

### Steps to reproduce (*)

1. Enabling Google Tag Manager
2.

### Expected result (*)

1. Product page displayed
2.

### Actual result (*)

1. Failure when display a product page
2. Fatal error: Uncaught Error: Call to a member function getLoadedProductCollection() on boolean in /app/vendor/magento/module-google

[2019-01-10 11:05] magento-engcom-team commented on #20164
Hi @jfgalano. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-10 11:12] hostep commented on #14674
@waldok, there are currently 2 PR's open trying to fix this:
- https://github.com/magento/magento2/pull/19798
- https://github.com/magento/magento2/pull/20093 (this one is more active and will probably be the one which gets merged)

[2019-01-10 11:13] magento-engcom-team commented on #20164
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-10 11:14] magento-engcom-team commented on #20164
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-10 11:14] therool opened #20166 "Integration authorization does not support http/2"
### Preconditions (*)

1. Magento 2.3 but I guess on other versions also
1. The magento 2 server needs to run on http/2, for example apache with https://httpd.apache.org/docs/2.4/howto/http2.html
1. Issue is with "Magento\Integration" module specifically with the ["Magento\Integration\Model\OauthService"](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Integration/Model/Oauth

[2019-01-10 11:14] magento-engcom-team commented on #20166
Hi @therool. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-10 11:15] engcom-backlog-nazar commented on #20164
hi @jfgalano
GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-01-10 11:17] magento-engcom-team commented on #20166
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-10 11:18] engcom-backlog-nazar commented on #20166
HI @therool thank you for you report, magento  not support HTTP/2 you can report here -> https://github.com/magento/community-features/issues

[2019-01-10 11:18] #20166 closed, assigned to nobody

[2019-01-10 11:38] mkum73 commented on #19590
PHP Fatal error:  Uncaught TypeError: Return value of Magento\Framework\Encryption\Adapter\SodiumChachaIetf::decrypt() must be of the type string, boolean returned

When it's going to be fixed?

[2019-01-10 11:58] milindsingh opened #20169 "Admin user with restricted "order create" access can "view", "cancel", etc via API"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Create an Admin user with `Order create access` only. (as in image)
2. Login to Admin panel and verify the access.
3. Login to `API` via swagger and call the `salesOrderRepositoryV1` and `salesOrderManagementV1` API's.
![macklaber](https://user-images.githubusercontent.com/13949703/50968403-f66c8080-1500-11e9-9b5b-e0e2404f0898.p

[2019-01-10 11:58] magento-engcom-team commented on #20169
Hi @milindsingh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-10 12:01] magento-engcom-team commented on #20169
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-10 12:03] magento-engcom-team commented on #20169
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97550` were created

[2019-01-10 12:32] shikhamis11 commented on #20148
@raulvian let me check I will update you

[2019-01-10 12:36] raulvian commented on #20148
No, my mistake @shikhamis11
If you follow strictly the steps to reproduce problem still persists in 2.2.6

[2019-01-10 12:37] therool commented on #20166
Hello @engcom-backlog-nazar,
I have an client who is using magento 2.3 with HTTP/2, I need to advise him to update his server to use HTTP/1 instead and ignore his issues regarding HTTP/2?

Regards,
Ricards Z

[2019-01-10 12:42] magento-engcom-team commented on #10699
Hi @engcom-backlog-tomash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2019-01-10 12:48] engcom-backlog-tomash commented on #10699
@guperez, thank you for contribution.
I can confirm that `media_gallery_entries`, `options`, `media_gallery_entries` are present and not empty if they are set on 2.3.0 with sample data installed. We are closing this issue as fixed because it is not reproducible in the latest released Magento.

[2019-01-10 12:48] #10699 closed, assigned to thiagolima-bm

[2019-01-10 12:48] engcom-backlog-nazar commented on #20166
@therool I thinks yes, support for http/2 will be available soon.

[2019-01-10 12:48] EduardTd commented on #19742
Problem in lib/web/mage/adminhtml/wysiwyg/widget.js lines 357, 360 and 402. Need replace tinyMCE.activeEditor to tinyMCE.get(this.widgetTargetId).

`

         insertWidget: function () {
            var validationResult, formElements, i, params;

            jQuery('#' + this.formEl).validate({
                ignore: '.skip-submit',
                errorClass: 'mage-error'
            });

[2019-01-10 12:50] magento-engcom-team commented on #10644
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-10 13:07] engcom-backlog-nazar commented on #7687
@ihor-sviziev can we close this issue ?

[2019-01-10 13:07] Mohamed-Elwan commented on #10664
I'm adding `2.2.5` Enterprise to the issued versions too

[2019-01-10 13:09] magento-engcom-team commented on #7165
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97551`, `MAGETWO-97552` were created

[2019-01-10 13:10] nainesh2jcommerce opened #20172 "On customer login page input field are short width on tablet view"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. go to customer login page
2. check in put fields in tablet view

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/50970291-08e9b880-1507-11e9-8823-f5a2c7bec766.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/50970373-2880e100-1507-11e9-8cc9-c6148

[2019-01-10 13:10] magento-engcom-team commented on #20172
Hi @nainesh2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-10 13:13] magento-engcom-team commented on #10644
@engcom-backlog-tomash Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97553`, `MAGETWO-97554` were created

[2019-01-10 13:13] priti2jcommerce commented on #20172
@magento-engcom-team give me 2.3-develop  instance

[2019-01-10 13:13] magento-engcom-team commented on #20172
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop  instance for you

[2019-01-10 13:14] magento-engcom-team commented on #20172
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-10 13:17] magento-engcom-team commented on #10605
Hi @engcom-backlog-tomash. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<detail

[2019-01-10 13:23] molovo commented on #19742
@EduardTd which version of Magento are you running? The example you posted doesn't match the content of `lib/web/mage/adminhtml/wysiwyg/widget.js` that I have in my install. In v2.3 it's using `wysiwyg.activeEditor()` instead of `tinyMCE.activeEditor`

[2019-01-10 13:30] nainesh2jcommerce commented on #20172
Hi @engcom-backlog-nazar,
on customer login page, in tablet view, with of email input field and password field is too short width.

[2019-01-10 13:34] magento-engcom-team commented on #20172
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97557`, `MAGETWO-97558` were created

[2019-01-10 13:42] nainesh2jcommerce commented on #20172
I am working on this

[2019-01-10 14:00] engcom-backlog-nazar commented on #20131
Hi @nainesh2jcommerce thank you for your report, this issue already fixed on 2.3-develop branch
![selection_262](https://user-images.githubusercontent.com/40756439/50973132-d3d26b80-14f0-11e9-8888-0fb6ee016cef.png)

[2019-01-10 14:00] #20131 closed, assigned to nainesh2jcommerce

[2019-01-10 14:02] engcom-backlog-nazar commented on #20151
@magento-engcom-team give me 2.2.6 instance

[2019-01-10 14:02] magento-engcom-team commented on #20151
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-01-10 14:03] magento-engcom-team commented on #20151
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-20151-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-20151-2-2-6.instances.magento-community.engineering/admin](https://i-20151-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 14:05] magento-engcom-team commented on #10605
@engcom-backlog-tomash Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97560`, `MAGETWO-97561` were created

[2019-01-10 14:07] stephan-cream commented on #7739
@magento-engcom-team give me 2.2.7-develop instance

[2019-01-10 14:07] magento-engcom-team commented on #7739
Hi @stephan-cream. Thank you for your request. I'm working on Magento 2.2.7-develop instance for you

[2019-01-10 14:21] azue opened #20175 "Magento TechResources Release 2.2.7 download differs from composer install"
### Preconditions (*)

1. Magento 2.2.7 download form https://magento.com/tech-resources/download  Magento-CE-2.2.7-2018-11-20-10-24-34.tar.gz  `SHA1(Magento-CE-2.2.7-2018-11-20-10-24-34.tar.gz)= f3c4f04e8efb110ae5af94843775e4c70f25d098`
2. Composer install with `  "require": {
    "magento/product-community-edition": "2.2.7", ..
`

### Steps to reproduce (*)

1. Download the release Magento-CE-2.

[2019-01-10 14:21] magento-engcom-team commented on #20175
Hi @azue. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2019-01-10 14:21] magento-engcom-team commented on #20175
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-10 14:26] priti2jcommerce opened #20176 "Confirmation pop-up at mobile view not proper"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Add product into cart
2. remove product from minicart
3. pop-up not showing proper at mobile view

### Expected result (*)

1.
![2019-01-10_19-41_breathe-easy tank 2](https://user-images.githubusercontent.com/18118695/50974658-bfeb3180-1511-11e9-85fc-9460bdd22e29.jpg)

2.

### Actual result (*)

1.
![2019-01-10_19-41_breathe-easy t

[2019-01-10 14:31] magento-engcom-team commented on #20176
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-10 14:34] magento-engcom-team commented on #20176
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97562` were created

[2019-01-10 14:35] engcom-backlog-nazar commented on #20175
HI @azue thank you for you report i'm not see on composer version 102.4 import-export
![selection_263](https://user-images.githubusercontent.com/40756439/50975231-bb188480-14f5-11e9-8caa-22eabef9f191.png)

[2019-01-10 14:36] #20175 closed, assigned to nobody

[2019-01-10 14:37] priti2jcommerce commented on #20176
I am working on it.

[2019-01-10 14:37] raulvian commented on #20148
@magento-engcom-team give me 2.2.7 instance

I want to check if upgrading to 2.2.7 will fix the issue

[2019-01-10 14:37] magento-engcom-team commented on #20148
Hi @raulvian. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-01-10 14:38] magento-engcom-team commented on #20148
Hi @raulvian, here is your [Magento instance](https://i-20148-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-20148-2-2-7.instances.magento-community.engineering/admin](https://i-20148-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 14:56] gwharton commented on #7739
@stephan-cream I think you will find this is still broken in 2.2.7.

I'm hoping that #18472 will be merged soon in time for 2.2.8 which resolves this issue.

[2019-01-10 15:04] ihor-sviziev commented on #7687
@engcom-backlog-nazar sure, if we can’t reproduce this issue

[2019-01-10 15:04] #7687 closed, assigned to nobody

[2019-01-10 15:07] stephan-cream commented on #7739
I know, hence i was trying to get a clean install to make a screencapture.
It is broken because of `vendor/magento/framework/Mail/Template/TransportBuilder.php`.
Since in the public function reset() the message singleton is replaced with a new instance (non-singleton) the From email/name which is set in `vendor/magento/framework/Mail/Template/TransportBuilderByStore.php` will not be available in t

[2019-01-10 15:08] raulvian commented on #20148
It seems cron / email sending is not enabled in this environment, so there's no way to validate it

[2019-01-10 15:12] shikhamis11 commented on #20148
@raulvian you can check and work on this issue at your local environment and can create pull request if you find it's solution

[2019-01-10 15:15] gwharton commented on #7739
Yeah, If you apply #18472, it gets rid of the use of TransportBuilderByStore altogether.

[2019-01-10 15:37] jos-zz commented on #20151
Hi @engcom-backlog-nazar,

Please attached find a copy of the related section in the apache httpd.conf and the loaded apache Modules.
Let me know if you need a more specific details and where can I find it.

[apacheModules.txt](https://github.com/magento/magento2/files/2745992/apacheModules.txt)
[httpd.conf.txt](https://github.com/magento/magento2/files/2745996/httpd.conf.txt)

[2019-01-10 15:54] cSkip commented on #15115
Same issue here v2.2.5

[2019-01-10 16:02] orbitrod commented on #13412
@minikist did you try @mslabko's suggestion to index catalogsearch_fulltext with his 4 parallel process command?  Did it work?

[2019-01-10 17:00] EduardTd commented on #19742
v2.2.5

[2019-01-10 17:05] EduardTd commented on #19742
WYSIWYG not intended for use inside the WYSIWYG. Anyway it's custom solution. I don't think that it's bug :)

[2019-01-10 17:33] srenon commented on #15115
@Daniel304 ... If you upgrade to 2.2.7, then there is a probability that there will be an old quote from 2.2.6 with an invalid address id which would trigger this error again.

I would recommend deleting all orphans address_id using https://github.com/magento/magento2/issues/15115#issuecomment-442014255 and if the issue persists then it is still an issue

[2019-01-10 17:42] webspeaks commented on #4506
For me the culprit is JS bundling. I was seeing huse JS file (minified and bundled) even in admin side. Admin was too slow. Similarly frontend was slow due to huge JS file size.

Bundling enabled:
Admin minified and bundled js size: 17.2MB

Bundling disabled:
Admin minified and bundled js size: 100kb

That's a disastrous different for me. I am using Magento 2.3.0. So I turned off js bundling (even

[2019-01-10 17:46] raulvian commented on #20148
I have been debugging this in local environment. I supposed some piece of code was setting the wrong url to redirect after the whole process, but it doesn't seem so

The flow in this case ( CreatePassword -> ResetPasswordPost -> LoginPost ) ends up in **Magento\Customer\Model\Account::getRedirect()**

    public function getRedirect()
    {
        $this->updateLastCustomerId();
        $this->pre

[2019-01-10 18:21] IgosYee commented on #18253
Hey @engcom-backlog-nazar @sourabh2yadav ,

Is the problem fixed? If yes, can someone provide the link for the solution?

[2019-01-10 19:32] twistedatrocity commented on #8614
I wonder if this is part of the problem:

`Next Exception: Report ID: webapi-5c379916d49a1; Message: Property "TriggerReload" does not have corresponding setter in class "Magento\Quote\Api\Data\AddressInterface"`

I get this exception on checkout page when selecting the different shipping options AFTER one has been previously selected. Any further changes in shipping selections will not update the

[2019-01-10 20:55] gwharton commented on #13225
Looking forward to an update on this. Running 2.2.7 on a cluster and had to disable merging of css, not because of non writeable /pub/static/_cache folder, as I have allowed it, but individual servers don't seem to be triggering the generation of the cache files. I seem to get many different min.css files generated, with different hash's, but not always the one that the browser is requesting. I'd

[2019-01-10 21:45] ipascual opened #20186 "phpcs error on rule classes - must be of the type integer"
### Preconditions (*)

1. You need code under app/code

### Steps to reproduce (*)

1. ./vendor/bin/phpcs --standard=./dev/tests/static/framework/Magento/ app/code/

### Expected result (*)

1. phpcs should report in the terminal all errors and warnings.

### Actual result (*)

1. Fatal error: Uncaught TypeError: Argument 2 passed to Magento\Sniffs\Annotation\ClassAnnotationStructureSniff::validat

[2019-01-10 21:45] magento-engcom-team commented on #20186
Hi @ipascual. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-10 21:48] ipascual commented on #20186
@magento-engcom-team give me 2.3 instance

[2019-01-10 23:10] magento-engcom-team commented on #20186
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-10 23:31] melaxon opened #20187 "Downloadable product view layout"
### Preconditions (*)

1. Magento 2.3.0 fresh installation, Luma
2. All default settings, nothing special
3. Any web browser
4. Tried to re-install with the same result

### Steps to reproduce (*)

1. Install Magento 2.3.0
2. Install one downloadable product and one simple product
3. in frontend open both products in different browser tabs to compare the layout

### Expected result (*)

1. Normal

[2019-01-10 23:31] magento-engcom-team commented on #20187
Hi @melaxon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-10 23:34] melaxon commented on #20187
@magento-engcom-team give me 2.3.0 instance

[2019-01-10 23:34] magento-engcom-team commented on #20187
Hi @melaxon. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-10 23:34] magento-engcom-team commented on #20187
Hi @melaxon, here is your [Magento instance](https://i-20187-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20187-2-3-0.instances.magento-community.engineering/admin](https://i-20187-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-10 23:46] melaxon commented on #20187
this is a screenshot from vanilla https://gyazo.com/9e8e39e335562927a8775e04b5028422

[2019-01-11 00:17] ozzman6154 opened #20188 "Category Rule - product not assigned automatically unless category is manually re-saved"
Hi there,

It is observed that category rule related to "clone category" does not work unless the category where the category rule is applied is manually re-saved.

### Preconditions:
1. Magento version is Magento Commerce Cloud 2.1.10
2. It can be reproduced on a plain install of Magento

### Steps to reproduce:
1. Login to Magento admin
2. Select a store view
3. Ensure there are two categories (

[2019-01-11 00:17] magento-engcom-team commented on #20188
Hi @ozzman6154. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-11 00:54] dribblecastle commented on #14952
Thanks @hostep,  this made things so much easier!  Works in both my 2.2.5 and 2.2.7 environments.

[2019-01-11 01:44] magento-engcom-team commented on #20187
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-11 01:47] magento-engcom-team commented on #20187
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97567` were created

[2019-01-11 01:49] magento-engcom-team commented on #20188
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-11 02:54] txbada commented on #5129
Two new installs of 2.3.0. And the issue is still there.

[2019-01-11 05:10] vishalverma279 commented on #17112
@magento-engcom-team can you please check this!

[2019-01-11 06:21] navinbhudiya commented on #19710
@magento-engcom-teamI am using a custom theme and i have upgrade Magento version 2.2.6 to 2.3.0 then i am facing same issue.
Image Cache generation generates wrong has and all image showing 404. any one have solution

[2019-01-11 06:33] navinbhudiya commented on #19710
@carolineboivin did you get any solution for issue?

[2019-01-11 06:37] ajay2jcommerce opened #20193 "Bundle Product add to cart button misaligned on tab portrait view."
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. In product detail page on  "Bundle Product" click "Customize and Add to Cart" show bundle option check "add to cart" button.

### Expected result (*)

1. ![2019-01-11_11-37_sprite yoga companion kit](https://user-images.githubusercontent.com/18118570/51016836-c58b5a80-1597-11e9-8431-e38a8a0a79f8.jpg)

### Actual result (*)

1. ![sprit

[2019-01-11 06:37] magento-engcom-team commented on #20193
Hi @ajay2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-11 06:39] melaxon commented on #20187
@magento-engcom-team give me 2.3-develop instance

[2019-01-11 06:39] magento-engcom-team commented on #20187
Hi @melaxon. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-11 06:40] ashanrajapaksha commented on #11454
hi!

@afavata  What is the fix for this?

[2019-01-11 06:40] magento-engcom-team commented on #20193
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-11 06:40] magento-engcom-team commented on #20187
Hi @melaxon, here is your [Magento instance](https://i-20187-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20187-2-3-develop.instances.magento-community.engineering/admin](https://i-20187-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-11 06:40] irajneeshgupta commented on #20188
@ozzman6154
GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner por

[2019-01-11 06:40] #20188 closed, assigned to nobody

[2019-01-11 06:40] cedarvinda commented on #20193
@magento-engcom-team give me 2.3.0 instance

[2019-01-11 06:41] magento-engcom-team commented on #20193
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-11 06:41] magento-engcom-team commented on #20193
Hi @cedarvinda, here is your [Magento instance](https://i-20193-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20193-2-3-0.instances.magento-community.engineering/admin](https://i-20193-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-11 06:42] rohitkrjaiswal opened #20194 "Unable to load Customer Grid in Admin"
Unable to load Customer Grid in Admin

Getting Error in console : TypeError: registry is undefined[Learn More]

[2019-01-11 06:43] orbitrod commented on #10389
Until a proper fix can be rolled out, I created a userscript  to fix this problem using Tampermonkey.   For those that do not know what Tampermonkey is, it is a userscript manager browser extension, that allows users to install scripts that make on-the-fly changes to web page content after or before the page is loaded in the browser.

Here is the script
https://github.com/EnochDataSystems/gists/bl

[2019-01-11 06:44] irajneeshgupta commented on #20194
@rohitkrjaiswal
please update your preconditions clearly in this issue you should follow issue format.

[2019-01-11 06:48] magento-engcom-team commented on #20193
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97568` were created

[2019-01-11 06:51] melaxon commented on #20187
the issue is reproducible on 2.3-develop as well
https://gyazo.com/ba0e56ee5f204715075390523f72060b

[2019-01-11 07:17] magento-engcom-team commented on #13612
@irajneeshgupta Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"

[2019-01-11 07:18] magento-engcom-team commented on #13612
@irajneeshgupta Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"

[2019-01-11 07:29] vk44295 opened #20197 "In Category add subcategory button not showing"
Category New root category button & add subcategory button not showing in admin:
![screenshot_1](https://user-images.githubusercontent.com/26023504/51019374-b066f980-15a0-11e9-8940-74476d7d697f.jpg)

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-01-11 07:30] magento-engcom-team commented on #20197
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-11 07:33] shikhamis11 commented on #20197
Hi @vk44295  please update Preconditions and version conditions in issue summary

[2019-01-11 07:34] jitendra-cedcoss opened #20198 "After login from backed user, we are getting a js issue i.e. 'TypeError: data is null'"
**Description**

* After login from backed user, we are getting  a js issue i.e.  'TypeError: data is null'

**Preconditions:**

* This issue is available in Magento 2.2.x, Magento 2.3.x version.

**Note :** Make sure Notification Resource disable for current login User

**Steps to reproduce:**

* Create a new role (for example role name is 'Notification Role') and go to Role Resource tab.

* Sele

[2019-01-11 07:35] magento-engcom-team commented on #20198
Hi @jitendra-cedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-11 07:35] magento-engcom-team commented on #20198
Hi @mallikaverma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-01-11 07:36] vk44295 commented on #20197
Hi,

Magento version 2.2.3

Thanks & Regards,
Vikash Kumar
Mob: +91-9555789820,8383920700

On Fri, Jan 11, 2019 at 1:04 PM Shikha Mishra <notifications@github.com>
wrote:

[2019-01-11 07:37] magento-engcom-team commented on #20198
@mallikaverma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97569`, `MAGETWO-97570` were created

[2019-01-11 07:40] shikhamis11 commented on #20197
@magento-engcom-team give me 2.3-develop instance

[2019-01-11 07:40] magento-engcom-team commented on #20197
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-11 07:40] tuyennn commented on #10296
@JosephLeedy Could you name which 3rd party extension which made the error?
[code]
I'm facing same experience on my projects but it has so many extensions to trackdown

[2019-01-11 07:40] magento-engcom-team commented on #20197
Hi @shikhamis11, here is your [Magento instance](https://i-20197-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20197-2-3-develop.instances.magento-community.engineering/admin](https://i-20197-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-11 07:46] milindsingh commented on #20122
#19623 already created.

[2019-01-11 07:46] #20122 closed, assigned to GovindaSharma

[2019-01-11 07:46] magento-engcom-team commented on #20194
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-11 07:47] magento-engcom-team commented on #13612
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97571` were created

[2019-01-11 07:47] magento-engcom-team commented on #20197
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue