[2020-09-26 13:11] OvalMedia commented on #30204
@magento give me 2.4-develop instance

[2020-09-26 16:51] Tdyok opened #30206 "Installation Ext. on Magento"
### Preconditions (*)

1. i can't install the Ext. on magento & integration API doesnt work too.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. ![Capture](https://user-images.githubusercontent.com/29939856/94345830-ec7f0e00-0052-11eb-8b41-c9e6d43f6810.JPG)

[2020-09-26 20:11] stercodigitex commented on #5402
Primarily this issue comes with any of JS conflict or base path definition in settings. If everything is fine, then you need to do hack like this. Jump into code and you will find the culprit. In my case - I have removed and add

structure to re-form the menu.
It works !!

If you are not able to do, please follow/connect me on twitter [@rammohan4b](https://twitter.com/rammohan4b)

![rammohan-help]

[2020-09-27 04:47] codynguyen1 commented on #30142
This problem seems to be fixed since the commit #a57dbd6d2032 (https://github.com/magento/magento2/commit/a57dbd6d2032), @sidolov  please close this issue if it's true.

[2020-09-27 10:25] ihor-sviziev commented on #30206
Hi @Tdyok,
Could you add more info what steps to reproduce, which magento version, what do you expect and what is happening ?

[2020-09-27 10:33] ihor-sviziev commented on #30161
Hi @Eddcapone
Seems like you didn’t configured elasticsearch before upgrading.
Could you look on the following article https://community.magento.com/t5/Magento-DevBlog/Elasticsearch-is-the-default-catalog-search-engine-in-Magento-2/ba-p/447968 ?

[2020-09-27 12:37] GENIOUS123 opened #30207 "Magento 2.3.4 Error: The file was not uploaded. Error code 666"
### Preconditions (*)

1. Php Vesion 7.3
2.

1.
2.

### Expected result (*)
When Im trying to upload any image from system ajax error code 666 come
1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Re

[2020-09-27 18:47] an4rei opened #30208 "Magento 2.4.0 - Magento_ReCaptchaFrontendUi loads assets on every page"
### Preconditions (*)

1.  Magento 2.4.0
2.  php 7.4.10

### Steps to reproduce (*)

1.  Enable Google reCAPTCHA Storefront for 'Create Account' page only
2.  Check Network tab on any page of the website(category/home/product/contact/etc.)

### Expected result (*)

1.  It should only load assets for the page that needs them.
### Actual result (*)

1.  Magento_ReCaptchaFrontendUi/js/registry.min.js

[2020-09-27 19:56] robocrax commented on #30021
This came up in cron.log

[2020-09-28 00:07] lagunacellar opened #30209 "Uploaded logo not displaying in transactional email header"
### Preconditions (*)

1. Magento 2.4.0
2. PHP 7.4.9

### Steps to reproduce (*)

1. Upload e-mail logo file for use in the header of transactional email (Content > Design > Configuration > Default Store View > Edit > Other Settings > Transactional emails
2. Created & Preview Email Custom Header Template (Marketing > Communications > Email Templates > Custom Header > Preview): logo is displayed in

[2020-09-28 00:07] thomasb0123 opened #30210 "Magento 2.4.0 graphql leak data on special price"
*As a guest I dont want to see special prices whent hey are not activated (my test is made with next month date)

![image](https://user-images.githubusercontent.com/3063380/94379240-52d95e80-012f-11eb-9d62-43701b215d32.png)

[2020-09-28 00:12] #27205 closed, assigned to nobody

[2020-09-28 01:08] JeffersonTeixeira opened #30211 "Validation pool type Availability not working before checkout renders"
### Summary (*)
I'm developing a Payment Module in Magento 2.4.0 (Using Facade). I'm having problem with Validation Pool as described by title. I'm following the documentation: https://devdocs.magento.com/guides/v2.4/payments-integrations/base-integration/facade-configuration.html#validators_pool

Validators of type Country and Currency are called with no problem before the checkout renders, so if

[2020-09-28 01:13] JeffersonTeixeira commented on #30211
@magento give me 2.4-develop instance

[2020-09-28 05:04] VZeroCool commented on #30211
@magento give me 2.4-develop instanc

[2020-09-28 05:04] VZeroCool commented on #30211
@magento give me 2.4-develop instance

[2020-09-28 06:02] baranada commented on #26870
I can't reproduce this problem on current 2.4-develop branch.

First, I placed url_key, meta_keyword, meta_title, meta_discriptions attributes in Aset1, default group. and in Aset2, I moved them into seo group. And I set PRD1 to ASET1 and PRD2 for ASET2.
![](https://i.imgur.com/2vdzPMT.png)

I changed attribute set for PRD2 from ASET2 to ASET1. and data was preserved.
![](https://i.imgur.com/2vdzP

[2020-09-28 06:44] adarshkhatri commented on #27232
@magento give me 2.3.3-p1 instance

[2020-09-28 06:44] adarshkhatri commented on #27232
@magento give me 2.3.3 instance

[2020-09-28 06:44] adarshkhatri commented on #27232
@magento give me 2.3 instance

[2020-09-28 06:46] haunguyen1989 opened #30212 "[GraphQl] If all bundle item has Default Quantity greater than Quantity Per Source then it should OUT_OF_STOCK"
### Preconditions (*)

1. Magento 2.4-develop on Ubuntu 20.04 LTS
2. Elastic search 7.6

### Steps to reproduce (*)

1. 2 website and enable Store Code to Urls: Yes. Site Main Website and VN Website
2. Create new stock and assign new 2 source(Ha Noi, Ho Chi Minh) to site VN Website
3. Create 1 simple product. **Product A in-stock with qty = 1 for source Ho Chi Minh**
4. Create bundle product(sku:

[2020-09-28 06:46] adarshkhatri commented on #27232
@magento give me 2.4-develop instance

[2020-09-28 07:55] haunguyen1989 opened #30213 "[GraphQl] Price reset zero when bundle item is OUT_OF_STOCK"
### Preconditions (*)

1. Magento 2.4 on Ubuntu 20.04 LTS
2. Elastic search 7.6

### Steps to reproduce (*)

1. 2 website and enable Store Code to Urls: Yes. Site Main Website and VN Website
2. Create new stock and assign new 2 source(Ha Noi, Ho Chi Minh) to site VN Website
3. Create 1 simple product. Product A out-of-stock with qty = 0, price $200 for source Ho Chi Minh
4. Create bundle product(s

[2020-09-28 08:09] magento-engcom-team commented on #29598
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38012` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-28 09:00] sreenathnr-tm commented on #25550
Hi @engcom-Charlie The same issue exist in Magento 2.3.4. Payment is captured but no order is created in Magento.

[2020-09-28 09:14] krishprakash commented on #30207
Hi @GENIOUS123. Can you please explain the issue with all details like Steps to Reproduce,Expected and Actual Result
As without any of these details we can not move forward to verify this issue and will closed the issue
Thanks!!

[2020-09-28 09:17] ihor-sviziev commented on #24581
Changes that were fixing this issue were reverted in https://github.com/magento/magento2/commit/f3d3bce01229df6c47949036bf04921b52ecd6ba. Re-opening

[2020-09-28 09:20] arsalanworld opened #30214 "Purchase order date filter rectrieves next day date orders as well for admin order grid"
### Summary
Purchase Order date filter is retrieving additional data from next day orders which were placed at 3 hours at the beginning of the day.
### Preconditions (*)

1. Magento 2.4-develop
2. Make sure you have selected your store timezone other than UTC
3. Your local time is between 12AM - 3AM (or try changing manually).

### Steps to reproduce (*)

1. Make sure your local time is set betwee

[2020-09-28 09:21] arsalanworld commented on #30214
@magento give me 2.4-develop instance

[2020-09-28 09:23] Eddcapone commented on #30161
@ihor-sviziev , Thanks, I was not aware of this, maybe point such important information out in a place where everyone can see, for example the changelog.

[2020-09-28 09:23] #30161 closed, assigned to nobody

[2020-09-28 09:27] GENIOUS123 commented on #30207
Hi actually
I sorted out the problem
basically since there was no any exception throws by ajax so  it was
difficult to point the real issue
The issue was in my server php.ini file upload_temp_file was removed by any
means
So when i search for php info()
I found the bug  I JUST ADD temp folder location in my php.ini and give
permission 755
It was a very small bug but it was strange that I cannot fi

[2020-09-28 09:30] krishprakash commented on #30207
That's great!! Closing this issue as non issue
Thanks!!

[2020-09-28 09:30] #30207 closed, assigned to krishprakash

[2020-09-28 09:44] ihor-sviziev commented on #30161
Hi @Eddcapone,
I see that we have a notice one the Upgrade Magento page for 2.4 version. I think it's good enough.
![image](https://user-images.githubusercontent.com/1873745/94417064-48977e80-0188-11eb-8360-de9ff66e67d3.png)

[2020-09-28 09:54] SebastienPoncelet commented on #25565
@taihuuho would you mind sharing how you solved this issue?

[2020-09-28 10:19] magento-engcom-team commented on #30214
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38020` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-28 10:54] m2-assistant[bot] opened #30216 "[Issue] Passing arguments for queues as expected"
This issue is automatically created based on existing pull request: magento/magento2#26966: Passing arguments for queues as expected

---------

### Description (*)

According to [docs](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/message-queues/config-mq.html#queuetopologyxml) it should be possible to declare queue with arguments (like dead-letter-exchange or message-ttl). Unfortun

[2020-09-28 11:27] engcom-Oscar commented on #30204
Hi @OvalMedia ,
Thank you for your report.
Described behavior of applying tax class for bundle product with fixed (non dynamic) price is as it have to be according documentation, so I'm closing this ticket as non issue: https://docs.magento.com/user-guide/catalog/product-create-bundle.html?itm_source=merchdocs&itm_medium=quick_search&itm_campaign=federated_search&itm_term=bundl
![image](https://us

[2020-09-28 11:27] #30204 closed, assigned to engcom-Oscar

[2020-09-28 11:47] OvalMedia commented on #30204
The documentation may say so but it still does not make any sense. In my case I am selling a book (7%) and another hardware item (16%) together. Both are simple products that you can buy as stand alone as well. Why should their respective tax class depend on how I put them into the shopping cart?

How do you justify the forced tax class (from the bundle product) just because their bundled prices a

[2020-09-28 12:00] engcom-Alfa commented on #11692
Hi @andrewhowdencom .

According to the Magento documentation in part [**Advanced Varnish configuration**](https://devdocs.magento.com/guides/v2.3/config-guide/varnish/config-varnish-advanced.html) described that:      `
The health_check.php script is located in the pub directory. If your Magento root directory is pub, then be sure to change the path in the url parameter from /pub/health_check.php

[2020-09-28 12:20] Magepim opened #30218 "GraphQL returns null address if optional telephone is set as empty string"
### Preconditions (*)

1. Version 2.4.0 and 2.4-develop
2.

### Steps to reproduce (*)

1.Configure Magento address settings to have telephone number as optional.
2. Using GraphQL add a billing address to a quote using an empty string as the telephone value
3. Execute cart query via GraphQL.  Billing address will return as 'null'

### Expected result (*)

1. Billing address expected to return in G

[2020-09-28 12:48] manaftryzens commented on #24799
We are also having the same issue.

[2020-09-28 12:57] engcom-Oscar commented on #28916
Hello @bharanikonda

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-09-28 13:12] #30209 closed, assigned to nobody

[2020-09-28 13:20] magento-engcom-team commented on #30173
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38027` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-28 13:23] magento-engcom-team commented on #28463
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38028` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-28 14:13] sidolov commented on #30142
Closed according to @codynguyen1 comment. Thank you!

[2020-09-28 14:13] #30142 closed, assigned to nobody

[2020-09-28 14:33] digikeijs commented on #28090
Same issue here, upgrading from magento 2.3.4 to magento 2.3.5 and when running setup:upgrade I have the same issue.
When I do php bin/magento queue:consumers:list I get the same

In Config.php line 39:

  Topic "inventory.source.items.cleanup" is not configured.

queue:consumers:list

[2020-09-28 14:40] ericmorand commented on #24830
@gabrieldagama, can you please link to the documentation that explains how to remove the default JS loaded by Magento 2? I see that the issue that @bramvanderholst  has been fixed since you closed it, but I can't find where is the documentation you are talking about.

Thanks by advance.

[2020-09-28 14:55] Magepim commented on #30218
@magento give me 2.4-develop instance

[2020-09-28 15:01] Magepim commented on #30218
@magento I am working on this

[2020-09-28 15:01] Magepim commented on #30218
@magento add to contributors team

[2020-09-28 15:31] paulappelbe opened #30220 "Graphql updateCartItems (removal) not working when stock management and max stock amount reached"
### Preconditions (*)
1. Magento 2.3
1. using graphql to add/remove products

### Steps to reproduce (*)
Say you have 3 products in stock, you add 3 to the cart and try to remove one via the "updateCartItems" graphql, so setting the qty to 2, it refuses to remove because of insufficient stock.
using Luma it works, but not using graphql.

### Expected result (*)

1. you should be able to remove the

[2020-09-28 16:20] derappelt opened #30221 "This line destroys third party Css used in Adminhtml which is based on rem's"
https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/design/adminhtml/Magento/backend/web/css/source/_typography.less#L51

I've tried to use Vuetify in the Admin Area, but everything is way to small because you set the base font-size to 62.5%.
I think this is a very ugly practice and you should better give the individual elements a smaller rem value instead of sett

[2020-09-28 17:06] oneserv-heuser commented on #12298
This issue still exists in Magento 2.4.0. Wow.

[2020-09-28 21:15] ffrodoe opened #30224 "Default email templates are not compatible with strict mode"
### Preconditions (*)

1. Magento 2.3.4 with sample data

### Steps to reproduce (*)

1. Go to Marketing > Email templates
2. Press 'Add new template'
3. On the new template page, in the 'Load default template' section select and load "New order" default template
4. Set any name for the new template and save
5. Set this template as a template for the new order email in Store configuration > Sales

[2020-09-28 21:28] ffrodoe commented on #30224
Ok, this seems to be a duplicate, finally found similar issue https://github.com/magento/magento2/issues/26882. Is there any patch for 2.3.x versions, or the only option is to upgrade to 2.4?

[2020-09-28 21:49] Bartlomiejsz commented on #11175
@magento I am working on this

[2020-09-28 22:45] gilbertsohal opened #30225 "Magento 2.3.4 - (/dev/shm) tmpfs folder getting full"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.3

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. tmpfs (7.8G) disk getting full and website crashing
2. The below error appears when the site crashes.

SQLSTATE[HY000]: General error: 1021 Disk full (/dev/shm/#sql_2e1b28_7.MAI); waiting for someone to free some space..

[2020-09-29 00:43] exequielserfe commented on #10207
We faced this problem in Magento 2.3.5-p2, trying to create a new order from the backend.

We fixed it creating a custom patch to the **magento/framework** module _Magento\Framework\Model\AbstractModel::validateBeforeSave()_ with this code:

[code]

Hope this helps somebody else

[2020-09-29 01:21] mauragcyrus commented on #26114
Team was unable to reproduce on 2.4 develop. Closing this ticket.

[2020-09-29 01:21] #26114 closed, assigned to nobody

[2020-09-29 04:17] krishprakash commented on #30225
Hi @gilbertsohal.
The error is provided by your SQL server, You have to make space in server side, it doesn't have free space and can't execute any queries.
GitHub issue tacker is intended for Magento core technical issues only
Kindly refer community forum or Magento stack exchange for general discuss about this topic.

[2020-09-29 04:17] #30225 closed, assigned to nobody

[2020-09-29 06:15] Stoppl opened #30226 "Magento 2.3.4 - Mageplaza SMTP - Not able to send order confirmation email to gmx, web.de, etc."
### Preconditions (*)

1. Magento 2.3.4.
2. Mageplaza SMTP-Pro Extension

### Steps to reproduce (*)

1. Customer placed an order
2. The email adress sounds like test@gmx.de or test@web.de
3. After the order was placed, magento should send an order confirmation email

### Expected result (*)

1. The customer should get an order confirmation email

### Actual result (*)

The order confirmation emai

[2020-09-29 06:43] chirag-taraviya commented on #28161
Here is solution for 2.3.5 Extend select-payment-method-mixin.js to Your Theme app/design/frontend/Vender/Theme/Magento_SalesRule/web/js/action/select-payment-method-mixin.js

Add below code on line NO. 22
 if (paymentMethod === null) {
                return;
   }

[2020-09-29 06:47] speedupmate commented on #28161
@chirag-taraviya this is bit useless.  Since there can be other params this endpoint needs or payment method needs to send to get a valid response from this endpoint

[2020-09-29 06:59] perfpcs commented on #29797
Could anyone from Magento team comment on what I should do here? Also could the others in this post ( @codemastering , @HamishBlank , @TonMarton, @jackrevate, @MrPotatox )that were having problems, has this fix worked for you or is your situation like mine where this fix does not solve anything?
Thank you.

[2020-09-29 07:03] mahmoodkk commented on #23908
This code worked for me.

[2020-09-29 07:11] engcom-Oscar commented on #29797
Hi @perfpcs ! I think first of all you can try that fix that been mentioned above, but please notice that it for 2.4-develop code, so you need to upgrade and check if it works for you. If it doesn't fix your issue, you feel free to reopen the ticket - just update the description if you have more details how to reproduce your issue

[2020-09-29 07:12] ihor-sviziev commented on #30226
Hi @Stoppl,
Thank you for your report!
Seems like this is the issue in the custom extension that you're using. Please contact vendor that develop it instead.

I'm closing this issue as it was caused by custom extension.

[2020-09-29 07:12] #30226 closed, assigned to ihor-sviziev

[2020-09-29 07:24] perfpcs commented on #29797
Hi @engcom-Oscar I did try the fix on M 2.4 and it did not solve anything with the issue. Is "2.4-develop code" something else?
How do you reopen the ticket? I can update a bit more but I pretty much have listed what is occurring in my above posts. Thank you.

[2020-09-29 07:48] engcom-Oscar commented on #29797
2.4-develop - is default branch from this repository https://github.com/magento/magento2. If you have not button 'Reopen' on the bottom of this ticket, just create a new post.

[2020-09-29 07:50] Eddcapone commented on #30161
Oh thanks, somehow totally missed that.

[2020-09-29 07:51] krishprakash commented on #27482
Hi @lebigmaque. Thank you for your report.
Issue is looks similar to #27330
You can track the progress from above issue link.

[2020-09-29 07:51] #27482 closed, assigned to krishprakash

[2020-09-29 07:54] Eddcapone opened #30228 "Not possible to override knockoutjs template located in base folder, from my module"
### Summary (*)
I need to change the value of the maxinput field in the knockoutjs template **vendor\magento\module-ui\view\base\web\templates\form\element\input.html**.

The file is the template for input fields in the admin backend, for example in the product view:

![image](https://user-images.githubusercontent.com/16349349/94558966-da72ba80-0260-11eb-9417-eaedf285149d.png)

 so I have to repla

[2020-09-29 07:54] dvershinin commented on #29964
This just happened to me on a second store. Redis usage grows to 14 GB in less than 24 hrs in a store with moderate traffic.
The amazing huge CSP hashes is the data that is constantly being inserted:

[code]

And it's always huge.

Prior to M2.4.0, the stores could run just fine without `maxmemory` configured in Redis.

[2020-09-29 08:17] gwharton commented on #29797
I have 29814 applied ontop of 2.4.0. I've just created a new bulk attribute update task and it went through to completion successfully. Although I did get an error when displaying the log. See attached, but it atleast shows the task completed and was not stuck in pending.

![image](https://user-images.githubusercontent.com/30697781/94531257-370bb080-0234-11eb-9885-a01492907579.png)

I'll look into

[2020-09-29 08:19] krishprakash commented on #27330
@magento give me 2.4-develop instance

[2020-09-29 08:23] perfpcs commented on #29797
@gwharton did the notice and the grid list that task as completed and did you get to dismiss the notice by clicking the link?

![image](https://user-images.githubusercontent.com/22109696/94532152-7f62a880-020b-11eb-8aef-460a980d4086.png)

[2020-09-29 08:28] gwharton commented on #29797
In your case Dismiss All Completed Tasks will do nothing as it doesn't think any of your tasks have completed. I went into the database and cleared all of the rows from the magento_bulk and magento_bulk_acknowledged tables. Then the grid is clear. Now new tasks that you create will go through to completed state, where the dismiss all tasks button should work. HOWEVER, I am repeatedly getting datab

[2020-09-29 08:29] mrtuvn commented on #30228
You should use mixin if you want to add additional logic or rewrite some path from original component. For template you should copy to theme. Depends on how change you want

[2020-09-29 08:32] magento-engcom-team commented on #28633
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38052` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-29 08:34] Eddcapone commented on #30228
Can you show me where this is described in the documentation please? Where can I find out how that works?

I need the template in my module though, does it not work in module?

[2020-09-29 08:36] raghav111jain opened #30229 "if edit product show "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.""
### Preconditions (*)

1. magento 2.3
2.php 7.3

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help duri

[2020-09-29 08:38] mrtuvn commented on #30228
https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/javascript/js_mixins.html

[2020-09-29 08:44] krishprakash commented on #27330
Hi @stephan-cream. Looks like issue has been fixed in 2.4 develop instance
Kindly refer below screenshots as per issue scenario

![image](https://user-images.githubusercontent.com/46617848/94533347-a4cbd280-025c-11eb-828e-c1f5dbe330f5.png)

![image](https://user-images.githubusercontent.com/46617848/94533495-d2188080-025c-11eb-9ce7-64878b5d6c6e.png)

Also refer issue #26991 for more clarification

[2020-09-29 08:44] #27330 closed, assigned to dverkade, krishprakash

[2020-09-29 08:50] Eddcapone commented on #30228
@mrtuvn , I have read through the documentation entry but it does describe how to add more functionality to existing javascript files, it does not show how to override a template. Can you explain why you suggested mixins? It makes no sense to me.

[2020-09-29 08:50] ioweb-gr commented on #24799
@manaftryzens It seems like a race condition in Magento core that's causing this. I was able to circumvent this issue by tripple checking whether the product exists before saving with a small delay between checks but I wasn't able to find the root cause. I of course slowed down the sync speed like this but I wasn't able to stop this from happening any other way.

[2020-09-29 08:54] krishprakash commented on #30229
Hi @raghav111jain. Thank you for your report.
In which case you phase the issue like any specific scenario after add and edit product. Kindly update with proper format as per [issue reporting guidelines](https://github.com/magento/magento2/issues)

[2020-09-29 08:59] manaftryzens commented on #24799
@ioweb-gr , thanks for the respone. So when you slowed down the sync speed, did it resolve your issue? If that is the case we can also do the same as there are no other ways...

[2020-09-29 09:13] perfpcs commented on #29797
OK good news in my case. So I notice that 30 of the tasks of the 61 in the grid were dated Sept 26 and not started. The other tasks that stated on Sept 28 and 29th were actually marked that the task was "completed" So I went in the database and deleted the 30 that were listed as "not started" from the magento_bulk table. After I did this the link that says "Dismiss all completed tasks" now in fact

[2020-09-29 09:15] hostep commented on #29964
Maybe the following patch can help: https://github.com/magento/magento2/commit/1767ab8c7d25f0d5bba3e09923b4dd7bb7ac3c9d (which is being mentioned in https://github.com/magento/magento-cloud-patches/pull/44)

We had some Redis OOM issues on at least two Magento 2.3.5 shops even with the CSP module disabled. This patch seems to fix the OOM issue (although we've only had it running for a couple of da

[2020-09-29 09:19] VZeroCool commented on #26384
Not working on Magento CE 2.3.3

Applied above patch, Preconditions, 2 store views, 1 website and 1 store.

One CMS page in both store view with same URL key, Switching store from CMS Page taking to home page.
why ? @viktym  @tstoyanovski-bounteous

[2020-09-29 09:21] ioweb-gr commented on #24799
So far I've had no reoccurence.

[2020-09-29 09:22] krishprakash commented on #30229
@magento give me 2.4-develop instance

[2020-09-29 09:33] manaftryzens commented on #24799
Hi @ioweb-gr , what was the sync speed when you faced the issue and to where you had reduced it to resolve the issue?

[2020-09-29 09:36] VZeroCool commented on #26384
@magento give me 2.3-develop instance

[2020-09-29 09:37] krishprakash commented on #30229
Hi @raghav111jain. Can not able to reproduce the issue on latest 2.4-develop instance
It may be fixed in updated version
Feel free to reopen the issue if you confirm issue reproduced on 2.4-develop branch
Thank you!!

[2020-09-29 09:37] #30229 closed, assigned to krishprakash

[2020-09-29 09:38] engcom-Oscar commented on #29311
Hello @CNanninga

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-09-29 09:57] engcom-Oscar commented on #29099
Hello @mtjweb

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Looks like we missed some steps or preconditions.

Could you please update the description?

[2020-09-29 10:11] krishprakash commented on #29011
Hi @tiffanylw.
Thank you for your report!
Seems like this is the issue in the custom extension that you're using. Please contact vendor that develop it instead.
I'm closing this issue as it was caused by custom extension.

[2020-09-29 10:11] #29011 closed, assigned to krishprakash

[2020-09-29 10:30] krishprakash commented on #27380
Hi @KiuNguyen. This is expected and correct behavior of magento not an issue
So closing this as non issue

[2020-09-29 10:30] #27380 closed, assigned to KiuNguyen, krishprakash

[2020-09-29 10:37] krishprakash commented on #27434
Hi @Dren7755. Issue may be fixed in 2.4-develop branch.
Feel free to reopen the issue once you confirm that issue is reproduce on 2.4-develop branch
Thanks!!

[2020-09-29 10:37] #27434 closed, assigned to krishprakash

[2020-09-29 10:55] Jason-S-M commented on #27039
the best solution to this is for async sending be via system events, the consumer then used to populate a separate Async_Mail table (fifo queue) with e.g Id, Entity_id , MailType, created (Timestamp) columns and when Async is enabled from a previously disabled state the use could be informed "the Async queue has mails as old as (x) do you wish to send these or clear the queue" in a dialog, the cle

[2020-09-29 10:59] krishprakash commented on #28758
Hi @cs-media. Reviewed in 2.4-develop instance and
Messages are showing in Mini cart, Shopping cart and checkout pages but yes we can update the message text as per your request so approve this as per suggested changes

[2020-09-29 11:00] magento-engcom-team commented on #28758
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38054` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-29 11:10] krishprakash commented on #28817
Hi @mohamedalichelbi. Thank you for your report.
Not able to reproduce the issue. Refer the screenshot below:

![image](https://user-images.githubusercontent.com/46617848/94551011-4c073480-0272-11eb-848b-a16ae93db78d.png)

Feel free to reopen the issue once you confirm the issue is reproduce on 2.4-develop branch

Thanks!!

[2020-09-29 11:10] #28817 closed, assigned to krishprakash

[2020-09-29 11:40] ihor-sviziev commented on #30224
Hi @ffrodoe,
Thank you for your report! This issue seems to me really critical. As you already said above - this is duplicate of #26882 .

You can find in the comments changes that were applied in order to resolve this issue and also some people prepared patches for 2.3.x release line.

I’m closing this issue as duplicate

[2020-09-29 11:40] #30224 closed, assigned to ihor-sviziev

[2020-09-29 11:50] ihor-sviziev commented on #29462
Hi @lucasvm,
I’m closing this issue as it reproducing only when you don’t have configured elasticsearch, which is requirement for magento correct work.

[2020-09-29 11:50] #29462 closed, assigned to ihor-sviziev

[2020-09-29 11:57] mrtuvn commented on #30228
But seem you are doing wrong reference to js component in file requirejs-config.js
This should be
`var config = {
    map: {
        '*': {
            'Magento_Ui/js/form/element/abstract':'Company_Base/js/form/element/abstract-ext'
        }
    }
};`
This will use Company_Base/js/form/element/abstract-ext instead default

OR you can define extended component extend origin with mixin like below

[2020-09-29 11:59] Eddcapone commented on #30228
But I don't want to override `Magento_Ui/js/form/element/abstract`, I want to override `Magento_Ui/templates/form/element/input`

[2020-09-29 12:00] mrtuvn commented on #30228
abstract component hold template relate with the template that you want to modify

[2020-09-29 12:02] Eddcapone commented on #30228
So I have to override abstract.js in my own template? Then how can I override the template input.html from it with my own?

[2020-09-29 12:02] magento-engcom-team commented on #29082
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38055` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-29 12:02] mrtuvn commented on #30228
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Ui/view/base/web/js/form/element/abstract.js#L26

[2020-09-29 12:03] Eddcapone commented on #30228
But what do I have to put instead of `elementTmpl: 'ui/form/element/input',` ?

[2020-09-29 12:14] Eddcapone commented on #30228
If I change the line to `elementTmpl: 'ui/form/element/foobar123',` then the inputs for example in product view in backend, still works. So this file does not have something to do with the input as it seems.

[2020-09-29 12:29] mrtuvn commented on #30228
For such case i think you should create your own component but extend from abstract component `Magento_Ui/js/form/element/abstract` In this new component you can define elementTmpl to your file template
Should not modify directly to core component
Is this template work in backend or frontend ?

[2020-09-29 12:37] Eddcapone commented on #30228
@mrtuvn first I like to thank you that you are still helping me! Appreciate it! :) 👍
I added a screenshot to my question at the very top:

![image](https://user-images.githubusercontent.com/16349349/94558966-da72ba80-0260-11eb-9417-eaedf285149d.png)

The template is controling the input fields in the backend, for example in product view.

But even replacing the line in the core abstract.js does no

[2020-09-29 12:58] engcom-Oscar commented on #27148
Hello @Stoyvo

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-09-29 13:02] magento-engcom-team commented on #29789
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

O

[2020-09-29 13:03] magento-engcom-team commented on #29789
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2020-09-29 13:04] engcom-Oscar commented on #27408
Hello @VVNPradeep

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-09-29 13:06] magento-engcom-team commented on #29789
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2020-09-29 13:08] magento-engcom-team commented on #29789
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38056` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-29 13:11] krishprakash commented on #28616
Hi @sumeet-mis.
Feel free to reopen the issue once you confirm that issue is reproduce on 2.4-develop instance
Thanks!!

[2020-09-29 13:11] #28616 closed, assigned to krishprakash

[2020-09-29 13:38] ihor-sviziev commented on #29365
Hi @sunel,
Seems like this issue was already fixed in https://github.com/magento/magento2/commit/dd151d11f4d709abb91b82a5d4360aae651c20e3.

Could you confirm that?

[2020-09-29 13:38] magento-engcom-team opened #30231 "Test Export Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-29 13:38] magento-engcom-team commented on #30231
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38058

[2020-09-29 13:40] magento-engcom-team commented on #30231
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow

[2020-09-29 13:41] magento-engcom-team commented on #30231
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2020-09-29 13:41] magento-engcom-team commented on #30231
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2020-09-29 13:42] sunel commented on #29365
@ihor-sviziev Is a tag version that i can try

[2020-09-29 13:43] ihor-sviziev commented on #29365
@sunel there is no version available that contains this fix, but you could apply it as a patch

[2020-09-29 13:45] magento-engcom-team commented on #30231
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38059` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-29 13:53] sunel commented on #29365
@ihor-sviziev let me give it a try

[2020-09-29 13:58] gilbertsohal commented on #15545
I m getting same in 2.3.4 the query killing my whole server

INSERT INTO `search_tmp_5f733915d1be65_45326344` SELECT `main_select`.`entity_id`, SUM(score) AS `re

[2020-09-29 14:12] irenelagno commented on #30231
@magento confirm issue

[2020-09-29 14:13] xgiovio opened #30233 "setup:di:compile error LinkedProductSelectBuilderComposite::build($productId)"
### Preconditions (*)

1.magento 2.4.0
2.php 7.3

### Steps to reproduce (*)

1. bin/magento setup:di:compile

### Expected result (*)

1. compilation completed

### Actual result (*)

1. Fatal error:  Declaration of Magento\ConfigurableProduct\Model\ResourceModel\Product\LinkedProductSelectBuilderComposite::build($productId) must be compatible with Magento\Catalog\Model\ResourceModel\Product\Link

[2020-09-29 14:15] ihor-sviziev commented on #29694
As it was already discussed - issue was already fixed in 2.4.x https://github.com/magento/magento2/issues/29694#issuecomment-678999702, I'm closing this issue as not relevant.

[2020-09-29 14:15] #29694 closed, assigned to ihor-sviziev

[2020-09-29 14:20] magento-engcom-team commented on #30031
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2020-09-29 14:21] magento-engcom-team commented on #30031
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again

[2020-09-29 14:22] magento-engcom-team commented on #30031
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38070` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-29 15:04] thomasheller commented on #25885
There seems to be a bug in `pub/get.php`:

- `$mediaDirectory` is read from `var/resource_config.json` where in our setup it is set to `/var/www/html/pub/media/`.
- `$relativePath` is simply the URL path of the HTTP request, e.g. `/media/catalog/product/cache/ccd8d44c60afb81c13822e813fe440e5/0/1/01_065_0211_0_i_01_1eaf.jpg`
- `$mediaAbsPath` is set by joining `$mediaDirectory` and `$relativePath`

[2020-09-29 16:00] Vale18 commented on #15420
Hello,
is there any solution yet? I searched for the problem for a whole day and didn't find anything helpful yet.

[2020-09-29 16:19] wgamazonapi commented on #29953
Can we expedite it. its been while since last update.

[2020-09-29 16:23] dphilipps opened #30234 "FedEx 'Create Shipping Label' from Shipment not working"
On a fresh install of Magento Open Source 2.4, when creating a FedEx shipping label from a shipment, the 'Create Packages' panel is displayed with an empty error message at the top of the screen. The 'Add products to package' button has no effect.  Chrome console shows Javascript errors when the button is pressed.  This is on a fresh install of Magento Opensource 2.4 built with composer including

[2020-09-29 16:25] dphilipps commented on #30234
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-09-29 16:30] mrtuvn commented on #30196
Still have one another place incorrect
"In your review"
![Screenshot from 2020-09-29 23-28-36](https://user-images.githubusercontent.com/1908873/94586657-b1c3e280-02ab-11eb-9bc1-54e54394fedc.png)

[2020-09-29 16:30] dvershinin commented on #29964
Technically speaking, everyone should set up some memory limit in Redis configuration to avoid OOM altogether.
It is still possible to have OOM with or without CSP, but *with* will lead to OOM quite fast, so the CSP module is *very problematic* in its current state.

[2020-09-29 16:43] dphilipps commented on #30234
I can't reproduce the issue in this environment - it works correctly.

[2020-09-29 16:44] dphilipps commented on #30234
@magento give me 2.4 instance

[2020-09-29 16:46] gabrieldagama commented on #17951
Since the behavior described looks like the desired behavior and we can achieve the expected result with the configuration flag `consumers-wait-for-messages` I will be closing this issue for now.

[2020-09-29 16:46] #17951 closed, assigned to nobody

[2020-09-29 17:01] travis-st commented on #29197
I have the same issue on a fresh install when loading the /

I downloaded and installed `magento-ce-2.4.0_sample_data-2020-07-26-02-27-05.zip`.

Ran

[code]

php-fpm v 7.319
nginx 1.18.0
Amazon Linux 2
mysqld  Ver 5.6.23 for Linux on x86_64 (MySQL Community Server (GPL))

Happy to provide any more info if you need it.

[2020-09-29 17:01] sdzhepa commented on #29957
Thank you for the update @piuga!

@engcom-Oscar  could you please check, update the issue description and confirm?

[2020-09-29 17:18] dphilipps commented on #30234
@magento give me 2.4.0 instance

[2020-09-29 18:34] alucardatem commented on #28966
Hello I am afraid that this issue is still ongoing. why has it been closed?

[2020-09-29 18:53] mrtuvn commented on #30228
first i don't think you can replace template inside file requirejs-config like your top describe

second if you only want to change file template you can copy file to theme admin with this path
app/design/adminhtml/Magento/backend/Magento_Ui/web/templates/form/element/input.html <= this one will replace with file with same path in app/code/Magento/Ui

If you don't want that way you can place files

[2020-09-29 19:07] hostep commented on #30233
Strange, the `LinkedProductSelectBuilderComposite` class was [removed](https://github.com/magento/magento2/commit/76b348d90f74b8f4857829b84d4f736acdbf186c#diff-b579662857d6e88cebf736d22b58dd09) in Magento 2.3.4

How come the file `vendor/magento/module-configurable-product/Model/ResourceModel/Product/LinkedProductSelectBuilderComposite.php` exists if you are running Magento 2.4.0? It shouldn't be

[2020-09-29 19:15] ctadlock commented on #15187
So two years later its "ready for dev"? Fixes have already been committed, but the Magento team closed them. This is exactly why Magento is not a trusted product.

[2020-09-29 19:20] xgiovio commented on #30233
interesting. Maybe during the rsync i forgot the --delete tag. Let me see and thank you for the answer. Upgrading manually, what files can be retained between updates?

[2020-09-29 19:33] m2-assistant[bot] opened #30235 "[Issue] Inverted attribute grid system column"
This issue is automatically created based on existing pull request: magento/magento2#30227: Inverted attribute grid system column

---------

### Description

The Pull Request fixes small issue in product attribute grid `Catalog > Products > Product Page > Add Attribute`, where `System` column should be inverted instead displaying as is.

The `System` grid column is related with `is_user_defined`

[2020-09-29 20:09] xgiovio commented on #30233
solved resetting vendor folder. Problem was relative to a vanilla installation without removing the vendor folder. My fault.

[2020-09-29 20:09] #30233 closed, assigned to nobody

[2020-09-29 20:30] sdzhepa commented on #27458
Hello @dimaMackert

This issue has been fixed by Magento team in the scope of jira ticket `MC-37306`
The PR with fix was delivered into `2.4-develop` branch.

Here you can find commits https://github.com/magento/magento2/search?q=MC-37306&type=commits

[2020-09-29 20:30] #27458 closed, assigned to thiaramus

[2020-09-29 20:39] fooman commented on #30220
While likely not the cause of this issue, there is a related issue with stock and grapqhl. Setup a product that uses custom option that importantly changes the SKU.
![image](https://user-images.githubusercontent.com/455508/94613195-b6ff4c80-0300-11eb-9dd2-29e5cc981ce7.png)

Then add the product to the cart. This product will always be out of stock because https://github.com/magento/magento2/blob/2

[2020-09-29 21:33] ctadlock commented on #15187
For anyone else with a similar issue. This seems very related to the `MAGE_RUN_TYPE` setting. When I have it set to `store` everything works fine, but when it is set to `website` I get the "catalog_category_product_index_store0 table not found error". For me its when I try to create an order in admin. It's truly fascinating to me that such core bugs can exist in Magento and not get any attention a

[2020-09-29 22:23] Bartlomiejsz commented on #25907
@magento I am working on this

[2020-09-29 23:16] doublesharp commented on #7589
@JKetelaar using `afterGetProductCollection()` applied the sort order several times for me, I had better luck with `beforePrepareProductCollection()` which is called once in `getProductCollection` and then cached -

[code]

[2020-09-30 02:10] magento-engcom-team commented on #30146
Hi @revgovmade. Thank you for your report.
The issue has been fixed in magento/magento2#30170 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [62cad122f33060c21b471c6589d8f4389a85a673](https://github.com/magento/magento2/commit/62cad122f33060c21b471c6589d8f4389a85a673)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-30 02:10] #30146 closed, assigned to ihor-sviziev

[2020-09-30 02:10] magento-engcom-team commented on #30186
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30139 by @GrimLink in 2.4-develop branch
Related commit(s):
 - [395907dd03e93bb1ccdae4d1de93f5bb92dc145b](https://github.com/magento/magento2/commit/395907dd03e93bb1ccdae4d1de93f5bb92dc145b)
 - [509294878dea3275fd620ce56baa151404d3b163](https://github.com/magento/magento2/commit/509294878dea3275fd620ce56

[2020-09-30 02:10] #30186 closed, assigned to GrimLink

[2020-09-30 02:10] magento-engcom-team commented on #29729
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29722 by @barbanet in 2.4-develop branch
Related commit(s):
 - [b7cec7d4dc6e22ebca387c405b114394caaccacf](https://github.com/magento/magento2/commit/b7cec7d4dc6e22ebca387c405b114394caaccacf)
 - [37675cc73c68c1ceefe2d2deef6b6588356f2cde](https://github.com/magento/magento2/commit/37675cc73c68c1ceefe2d2dee

[2020-09-30 02:10] #29729 closed, assigned to barbanet

[2020-09-30 02:10] magento-engcom-team commented on #29522
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28995 by @AntonEvers in 2.4-develop branch
Related commit(s):
 - [af828b7261a8aea734a4ddb619be2fab9375dcd3](https://github.com/magento/magento2/commit/af828b7261a8aea734a4ddb619be2fab9375dcd3)
 - [a544354485422400480efbb4fb629682acefe0d3](https://github.com/magento/magento2/commit/a544354485422400480efbb

[2020-09-30 02:10] #29522 closed, assigned to AntonEvers

[2020-09-30 02:10] magento-engcom-team commented on #30133
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30120 by @bgorski in 2.4-develop branch
Related commit(s):
 - [baea0a224823e0e552a9314e5a29e3530de8a016](https://github.com/magento/magento2/commit/baea0a224823e0e552a9314e5a29e3530de8a016)
 - [4153286a913b8bdb6f0a2a8504e673b69a58c44f](https://github.com/magento/magento2/commit/4153286a913b8bdb6f0a2a8504

[2020-09-30 02:10] #30133 closed, assigned to bgorski

[2020-09-30 02:10] magento-engcom-team commented on #30125
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30109 by @milindsingh in 2.4-develop branch
Related commit(s):
 - [7667e6ad31317098ffe3e2eb71ab4f332f02179d](https://github.com/magento/magento2/commit/7667e6ad31317098ffe3e2eb71ab4f332f02179d)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-30 02:10] #30125 closed, assigned to milindsingh

[2020-09-30 02:10] magento-engcom-team commented on #30058
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30049 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [139a17f24630fdb6d6a1f8081e6264c7e5f843c4](https://github.com/magento/magento2/commit/139a17f24630fdb6d6a1f8081e6264c7e5f843c4)
 - [c403a90a6963119cdf1c848609f91f1691488c9a](https://github.com/magento/magento2/commit/c403a90a6963119cdf1c84

[2020-09-30 02:10] #30058 closed, assigned to kate-kyzyma

[2020-09-30 02:10] magento-engcom-team commented on #30191
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30182 by @FredericMartinez in 2.4-develop branch
Related commit(s):
 - [f2b20d1a73d87a33a55821c8d06afcabd06e4e15](https://github.com/magento/magento2/commit/f2b20d1a73d87a33a55821c8d06afcabd06e4e15)
 - [6b84d0a38a5e2c084a25f1c5b8a719a428f38171](https://github.com/magento/magento2/commit/6b84d0a38a5e2c084

[2020-09-30 02:10] #30191 closed, assigned to FredericMartinez

[2020-09-30 07:08] m2-assistant[bot] opened #30237 "[Issue] Add collapsible nav in customer account theme blank"
This issue is automatically created based on existing pull request: magento/magento2#28177: Add collapsible nav in customer account theme blank

---------

### Preconditions (*)

Magento 2.4-develop
This additionals aims to bring collapsible nav in mobile view for blank theme magento
This improvement accessibility for user when go around links in mobile (with collapsible nav)
Desktop still remain

[2020-09-30 07:11] magento-engcom-team commented on #30237
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38086` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 07:26] ChameleonDevil commented on #5003
I don't think this was fixed completely.  I have installed a new **M2.3.5** installation where I have this same error - when trying to debug customer() at the knockout section of the header template at the welcome message it returns `{}` empty object.

_I am getting the exact same error message as in issue #5426_  which is related to this Welcome message.

https://github.com/magento/magento2/issue

[2020-09-30 07:43] jakwinkler opened #30238 "Price indexers are not used on any product listing in entire framework"
### Preconditions (*)

1. Any Magento 2 version, open source / commerce
2. This issue affects the most: bundle, grouped & configurable products.
3. This is causing performance drop in entire framework.

### Steps to reproduce (*)

1. You need to have blackFire in order to debug / verify this
2. Disable full page & block html cache
3. Visit any product page which has configurable / bundle / simple

[2020-09-30 07:49] ChameleonDevil commented on #5426
The issue `Unexpected identifier` about the welcome message (and not escaped `'` characters are still present).

I have installed a new **M2.3.5** installation where I have this same error - when trying to debug customer() at the knockout section of the header template at the welcome message it returns `{}` empty object.

[code]

I am not sure if $block->escapeHtml() is supposed to output `Welcome

[2020-09-30 07:53] magento-engcom-team commented on #29662
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38091` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 08:09] lopezpaul commented on #23729
Create a new file  m2-hotfixes/newsletter.patch  with this content:

diff --git a/vendor/magento/module-customer/Controller/Account/CreatePost.php b/vendor/magento/module-customer/Controller/Account/CreatePost.php
index 7544e6d..9845791 100755
--- a/vendor/magento/module-customer/Controller/Account/CreatePost.php
+++ b/vendor/magento/module-customer/Controller/Account/CreatePost.php
@@ -358,18 +35

[2020-09-30 08:43] dphilipps commented on #30234
Reproduced on 2.4.0

[2020-09-30 08:44] Eddcapone commented on #30228
Hello @mrtuvn , we are one big step further now, thx! I moved the _input.html_ to **view\adminhtml\web\template\form\element\input.html**, now it loads if I replace `elementTmpl: "ui/form/element/input"` with `elementTmpl: "Company_Base/form/element/input"` in `vendor\magento\module-ui\view\base\web\js\form\element\abstract.js`

But I restored the core abstract.js to its original state and added y

[2020-09-30 08:44] dphilipps commented on #30234
@magento I am working on this

[2020-09-30 08:44] dphilipps commented on #30234
@magento add to contributors team

[2020-09-30 08:45] dphilipps commented on #30234
@magento I am working on this

[2020-09-30 09:02] dphilipps commented on #30234
Known issue ...
https://support.magento.com/hc/en-us/articles/360046750171-Shipping-labels-creation-known-issue-in-Magento-2-4-0

[2020-09-30 09:02] #30234 closed, assigned to dphilipps

[2020-09-30 09:03] ChameleonDevil commented on #5003
Ok so this issue is related to how knockout seems to not correctly handle (') single quote characters in some theme templates.

If your template has this:

<span data-bind="html:'<?= $block->escapeHtml($welcomeMessage) ?>'"></>

Change to this:

<span data-bind='html:"<?= $block->escapeHtml($welcomeMessage) ?>"'></>

Notice I swapped the single quote and double quote positions such that the double

[2020-09-30 09:03] ChameleonDevil commented on #5426
Ok so this issue is related to how knockout seems to not correctly handle (') single quote characters in some theme templates.

If your template has this:

<span data-bind="html:'<?= $block->escapeHtml($welcomeMessage) ?>'"></>

Change to this:

<span data-bind='html:"<?= $block->escapeHtml($welcomeMessage) ?>"'></>

Notice I swapped the single quote and double quote positions such that the double

[2020-09-30 09:22] gabrieldagama commented on #26184
Closing this issue because it is not actual since MySQL was removed from Magento version 2.4.0 and Elasticsearch should be used instead.

[2020-09-30 09:30] hws47a commented on #26184
I believe all the comments above state that the issue is still present even when you have Elasticsearch enabled. It's also reproduced in 2.4

[2020-09-30 09:37] mattias opened #30239 "Email tracking link becomes "404 not found" if order is resaved after it was sent"
### Preconditions (*)

1. Magento 2.3.5-p2
2. Any shipping service that provides a tracking number and link.

### Steps to reproduce (*)

1. Navigate to storefront and place an order.
2. Go to admin and create a shipment, as well as checking "Create Shipping Label" and "Email Copy of Shipment".
3. If you look at the email copy sent out now, the tracking link will work.
4. Now create an invoice for

[2020-09-30 09:39] ilnytskyi commented on #30238
I think it's the same issue as I reported https://github.com/magento/magento2/issues/26850
and be careful with using price from index on composite products https://github.com/magento/magento2/issues/24953 but it mostly causes only issue with wrong products order when user sorts by price

[2020-09-30 09:45] qsolutions-pl commented on #30238
@ilnytskyi it's not even related to sort by price, indexers are only used there.
The problem is that magento does not load prices from indexes at all on any product listing pages which results in very very slow catalog pages. In one of my projects this operation adds 8.0s in total for any category page which has visible products.
Now imagine clearing the cache in such website.

[2020-09-30 09:58] ilnytskyi commented on #30238
@qsolutions-pl
Was your product collection customized somehow (by module or template)?
Normally it should use method
`\Magento\Catalog\Model\ResourceModel\Product\Collection::addPriceData`
that joins prices from index here
`\Magento\Catalog\Model\ResourceModel\Product\Collection::_productLimitationPrice`

And Magento 2 does load prices from index in this case but anyways recalculates them in
`\Mag

[2020-09-30 10:00] engcom-Bravo commented on #29174
@magento create issue

[2020-09-30 10:01] m2-assistant[bot] opened #30240 "[Issue] #29174 Add save_rewrites_history to categories via API"
This issue is automatically created based on existing pull request: magento/magento2#29205: #29174 Add save_rewrites_history to categories via API

---------
Support save_rewrites_history to categories API
### Preconditions (*)
1. Magento 2.4-develop

### Description (*)

See #29174

### Fixed Issues (if relevant)

1. Fixes magento/magento2#29174

### Steps to reproduce (*)
1. Go to **Catalog - Ca

[2020-09-30 10:03] qsolutions-pl commented on #30238
Thats the problem, prices on product list should not be recalculated because it slows down entire performance.

[2020-09-30 10:05] magento-engcom-team commented on #30240
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38102` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 10:13] gabrieldagama commented on #26184
Hi @hws47a, I've done some investigation on this before closing, but maybe I'm missing something.

As far as I understood `Magento\Framework\Search\Adapter\Mysql\TemporaryStorage` is being used by `Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier` which is an implementation of `Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplierInterfa

[2020-09-30 10:19] ihorvansach commented on #30239
@magento give me 2.4-develop instance

[2020-09-30 10:29] oliverde8 opened #30241 "Stop catching exceptions and destroying them"
### Summary (*)

Magento catches very often \Exception and then does nothing with it. No logs nothing.

This means when such an error happens everyone thinks all is well, but in reality, hell might be breaking loose.

### Examples (*)

#### Gift Messages:

If in the checkout your gift can't be saved due an error (for example sender name to long); the interface updates, the user thinks all is well,

[2020-09-30 10:31] Eddcapone commented on #30228
I finally solved it by using this **requirejs-config.js** ...:

**app\code\Company\Base\view\base\requirejs-config.js**:

[code]
...and this **app\code\Company\Base\view\adminhtml\web\js\form\element\abstract-ext.js**:

[code]

Credits to @mrtuvn for pointing me in the right direction!!

[2020-09-30 10:31] #30228 closed, assigned to nobody

[2020-09-30 10:35] qsolutions-pl commented on #30238
When you sort by price, the issue is the same.
![image](https://user-images.githubusercontent.com/4256191/94675095-7a8c1a80-0319-11eb-8bb2-5510c2e89339.png)

[2020-09-30 11:40] engcom-Bravo commented on #29558
@magento create an issue

[2020-09-30 11:41] magento-engcom-team commented on #29558
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-30 11:42] magento-engcom-team commented on #29558
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38103` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 11:49] magento-engcom-team commented on #29609
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38104` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 11:52] magento-engcom-team commented on #24717
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38105` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 12:37] ihor-sviziev commented on #30241
Hi @oliverde8,
I do agree with you, it have to be at least logged somewhere.

This issue should be split to two things that basically quite related to each other:
### 1. Do not throw an `\Exception`
Unfortunately we still have such places in Magento2 code that need to be refactored, examples https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/UrlRewri

[2020-09-30 12:43] travis-st commented on #29197
Lol - why was this closed without comment? Seems to be a legit issue.

[2020-09-30 13:31] gabrieldagama commented on #24830
Hi @ericmorand, the issue was closed mostly because the wrong information was removed, I've transformed this issue in a feature request since such functionality is yet not possible.

Thanks for highlighting it.

[2020-09-30 13:45] m2-assistant[bot] opened #30243 "[Issue] Allow ignored columns for mview to be specified at the subscription level"
This issue is automatically created based on existing pull request: magento/magento2#29692: Allow ignored columns for mview to be specified at the subscription level

---------

### Summary (*)
Magento 2.4-develop
Current configuration options for indexer subscriptions are limited - only allowing a table to be specified, rather than specific columns that we may be interested in.
Likewise `\Magento

[2020-09-30 13:49] #30231 closed, assigned to sdzhepa

[2020-09-30 13:50] magento-engcom-team opened #30244 "Test Export Issue"
### Preconditions (*)

 h3. Steps to reproduce (*)
### Expected result (*)
### Actual result (*)

[2020-09-30 13:50] magento-engcom-team commented on #30244
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38058

[2020-09-30 13:52] francescosalvi commented on #23031
Maybe I am dumb or have missed the point of the issue, but how does the change in https://github.com/magento/magento2/pull/25265/files solve this issue exactly?

I see that the current patch is applied _first_ (line :162) and only _then_ `getAliases()` is invoked and its result iterated... shouldn't it be the other way around? (i.e.: get aliases, if some is already listed in history, skip apply of

[2020-09-30 13:54] magento-engcom-team commented on #30244
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38108` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 14:01] ravibhalodia opened #30246 "Error While - Advance Js Bundling"
### Preconditions (*)

1. Magento version 2.4.0
2. Running commands for Advance JS Bundling from https://devdocs.magento.com/guides/v2.4/performance-best-practices/advanced-js-bundling.html

### Steps to reproduce (*)

1. Steps till part #1 is fine
2. In Part #2 - Generate Bundles -

Step 2.1 and 2.2 - Generate static store sites & Move the static store content to a temp directory are working fine

[2020-09-30 14:12] nbennett25 opened #30247 "Crontab.xml job not added to cron_schedule table if schedule includes day value"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.3

### Steps to reproduce (*)

1. Create custom module with crontab.xml file
2. Create job in crontab.xml file with schedule of '0 10 * * *'
3. Run bin/magento cron:run at 9:45 am

### Expected result (*)

1. Record for job added to cron_schedule table

### Actual result (*)

1. No record is added to cron_schedule table

---
Please provide [Severity

[2020-09-30 14:19] #30244 closed, assigned to nobody

[2020-09-30 14:41] magento-engcom-team opened #30248 "Test Export Issue"
### Preconditions (*)

 h3. Steps to reproduce (*)
### Expected result (*)
### Actual result (*)

[2020-09-30 14:41] magento-engcom-team commented on #30248
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38058

[2020-09-30 14:42] magento-engcom-team commented on #30248
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38058` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 14:43] #30248 closed, assigned to nobody

[2020-09-30 15:17] magento-engcom-team commented on #30231
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38059` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 15:18] Eddcapone opened #30249 "UpgradeSchema modifyColumn - cant find information about column definition"
### Summary (*)
I need to change the type of the column "value" in the table **catalog_product_entity_varchar** from `varchar(255)` to `varchar(512)`...

[![before][1]][1]

...but I find nothing in the [documentation](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-subcommands-db-upgr.html?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=

[2020-09-30 15:36] Eddcapone commented on #30249
I figured out, that magento changed their database upgrade/install system.

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/declarative-schema/db-schema.html

So I should solve it different.

[2020-09-30 15:36] #30249 closed, assigned to nobody

[2020-09-30 15:39] alucardatem commented on #28966
@barryvdh  - quick question --- do you happen to use Amasty Elastic search module by any chance ?

[2020-09-30 15:40] magento-engcom-team opened #30250 "FPT disappears when switching back to the cart page"
### Preconditions

### Steps to reproduce:
 - Create 2 websites <ins> stores </ins> store views
 - Set price scope to website catalog > catalog > price > catalog price stope
 - Configure Fixed Product Taxes as below. stores > config > sales > tax > Fixed Product Taxes
![image](https://user-images.githubusercontent.com/3409584/94708141-e1a1d300-0309-11eb-9ae6-38a69facf016.png)

 - Create an FPT att

[2020-09-30 15:40] magento-engcom-team commented on #30250
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38025

[2020-09-30 15:45] magento-engcom-team opened #30251 "Html tag <br> visible in message"
**Precondition:**

Install Magento 2.4.1

Create a simple product

Go to System->Export;

Select Entity TypeProducts and click "Continue";

Run php bin/magento cron:run;

Download the created export file;

**Step to Reproduced:**

Open the file with exported product and delete it's SKU. Save it

Go to **System -> Import**

Fill required fields and select exported file to import.
* **Entity Type:**

[2020-09-30 15:45] magento-engcom-team commented on #30251
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37922

[2020-09-30 15:53] khanzadimahdi commented on #29197
I have closed this, because i cant regenerate it again.

[2020-09-30 15:55] khanzadimahdi commented on #29197
@travis-st okay i reopen it for you.

[2020-09-30 16:00] travis-st commented on #29197
I got it working, but then when I disabled TFA it happened again:

[code]

Basically this occurs if `setup:di:compile` isn't called?

[2020-09-30 16:03] magento-engcom-team commented on #30251
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2020-09-30 16:12] barryvdh commented on #28966
Ehm yes probably that is also enabled.

[2020-09-30 16:14] Mavlyan opened #30252 "Impossible to fetch Transactions via getChildTransactions() method"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Run

[code]

in any context.

### Expected result (*)

1. Array of child transactions.

### Actual result (*)

Empty array. Even children exist.

### Reason
https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/Sales/Model/Order/Payment/Transaction.php#L317

`$child->getTxnType()` s

[2020-09-30 18:13] alucardatem commented on #28966
Did you try disabling amasty search extension, reset the indexes, change them to Magento elastic search, delete the indices from elastic search then reindex? Everything might be working after @barryvdh but we lose the search from Amasty.

[2020-09-30 19:36] magento-engcom-team commented on #29174
Hi @amenk. Thank you for your report.
The issue has been fixed in magento/magento2#29205 by @amenk in 2.4-develop branch
Related commit(s):
 - [5307bad69e56266eedf6fe80cd9d6da4c7ec0344](https://github.com/magento/magento2/commit/5307bad69e56266eedf6fe80cd9d6da4c7ec0344)
 - [00176f5a3a0c6671556ff28b66f437ffb1970060](https://github.com/magento/magento2/commit/00176f5a3a0c6671556ff28b66f437ffb1970060

[2020-09-30 19:36] #29174 closed, assigned to amenk

[2020-09-30 19:36] magento-engcom-team commented on #30240
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29205 by @amenk in 2.4-develop branch
Related commit(s):
 - [5307bad69e56266eedf6fe80cd9d6da4c7ec0344](https://github.com/magento/magento2/commit/5307bad69e56266eedf6fe80cd9d6da4c7ec0344)
 - [00176f5a3a0c6671556ff28b66f437ffb1970060](https://github.com/magento/magento2/commit/00176f5a3a0c6671556ff28b66f4

[2020-09-30 19:36] #30240 closed, assigned to amenk

[2020-09-30 19:36] magento-engcom-team commented on #30237
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28177 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [b351d50d61bd4a0836fdbf1ccee89666c7f0f2b5](https://github.com/magento/magento2/commit/b351d50d61bd4a0836fdbf1ccee89666c7f0f2b5)
 - [2b9b0909cba3e145ac34cfe313f20969bc592b31](https://github.com/magento/magento2/commit/2b9b0909cba3e145ac34cfe313f

[2020-09-30 19:36] #30237 closed, assigned to mrtuvn

[2020-09-30 19:36] magento-engcom-team commented on #28633
Hi @BarnyShergold. Thank you for your report.
The issue has been fixed in magento/magento2#28676 by @BarnyShergold in 2.4-develop branch
Related commit(s):
 - [3409af0c89d202ba48ce017d1cb38e57ece5b5f5](https://github.com/magento/magento2/commit/3409af0c89d202ba48ce017d1cb38e57ece5b5f5)
 - [a6d197634e84277ee375a5c9668395a18828b39e](https://github.com/magento/magento2/commit/a6d197634e84277ee375a5c9

[2020-09-30 19:36] #28633 closed, assigned to BarnyShergold

[2020-09-30 19:36] magento-engcom-team commented on #30173
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30172 by @sarron93 in 2.4-develop branch
Related commit(s):
 - [238ce8539055d845b73450a228fc8c982f694f08](https://github.com/magento/magento2/commit/238ce8539055d845b73450a228fc8c982f694f08)
 - [0873cf12a1f4da8975efa5afe989165dfd4f531b](https://github.com/magento/magento2/commit/0873cf12a1f4da8975efa5afe

[2020-09-30 19:36] #30173 closed, assigned to sarron93

[2020-09-30 19:36] magento-engcom-team commented on #29558
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27077 by @navarr in 2.4-develop branch
Related commit(s):
 - [86d8b9b3cb4565868f4d9023a903a87d978a2d0d](https://github.com/magento/magento2/commit/86d8b9b3cb4565868f4d9023a903a87d978a2d0d)
 - [46c09c64c78dc3b26b64e3e0bd16ff9e569a4533](https://github.com/magento/magento2/commit/46c09c64c78dc3b26b64e3e0bd1

[2020-09-30 19:36] #29558 closed, assigned to navarr

[2020-09-30 19:36] magento-engcom-team commented on #29598
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27581 by @dmanners in 2.4-develop branch
Related commit(s):
 - [c3d14d1525ec7681a9f02ebcbd013cf8d646b381](https://github.com/magento/magento2/commit/c3d14d1525ec7681a9f02ebcbd013cf8d646b381)
 - [f2f88a4000505753ace90718928ee34e948b6ae5](https://github.com/magento/magento2/commit/f2f88a4000505753ace907189

[2020-09-30 19:36] #29598 closed, assigned to dmanners

[2020-09-30 19:36] magento-engcom-team commented on #29662
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28516 by @jonashrem in 2.4-develop branch
Related commit(s):
 - [2d67fdd63bf5bec6ce2267660003b9d660e61aff](https://github.com/magento/magento2/commit/2d67fdd63bf5bec6ce2267660003b9d660e61aff)
 - [c77a8f555a93572d0eb5e45cf083427912d0fb64](https://github.com/magento/magento2/commit/c77a8f555a93572d0eb5e45c

[2020-09-30 19:36] #29662 closed, assigned to jonashrem

[2020-09-30 19:37] magento-engcom-team commented on #30031
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27939 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [1c876482f83d0dff21d706ea926206f553c5ee8c](https://github.com/magento/magento2/commit/1c876482f83d0dff21d706ea926206f553c5ee8c)
 - [cd9e834a2f1b9066a8961dbbada25f2301f7b4b7](https://github.com/magento/magento2/commit/cd9e834a2f1b9066a8961

[2020-09-30 19:37] #30031 closed, assigned to atwixfirster

[2020-09-30 20:02] sdzhepa opened #30253 "Test Issue: update issue confirmation validation"
 

 
### Preconditions (*)

 
1. h3. Steps to reproduce (*)

1. h3. Expected result (*)

1. <Screenshots, logs or description]
1. h3. Actual result (*)

[!--- Tell us what happened instead. Include error messages and issues. --]
1. [Screenshots, logs or description>
1. h2.  

Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment f

[2020-09-30 20:03] magento-engcom-team commented on #30253
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-30 20:03] magento-engcom-team commented on #30253
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38119` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 20:09] magento-engcom-team opened #30254 "[GraphQL] Product query returns products in a different order between 2.40 and 2.4.1"
Query Used :
query {
    products(filter: \{ url_key: { eq: "gold-veritas-cuff-set" } }) {
        items {
            __typename
            id
            name
            sku
            url_key
        }
    }
}
 

Seeing an difference between 2.4.0 and 2.4.1 >  access any simple product which is part of group or bundled product  - example -  /gold-veritas-cuff-set.html
 2.4.0 returns simple p

[2020-09-30 20:09] magento-engcom-team commented on #30254
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37618

[2020-09-30 20:11] magento-engcom-team opened #30255 ""The coupon code has been accepted." message remains after a Coupon Code was removed"
Preconditions
1. Create simple product

2. Create Customer with address
* First Name: John
* Last Name: Doe
* Email Address: john.doe@example.com(use real mail)
* Company: Magento
* Address: 6161 West Centinela Avenue
* City: Culver City
* State/Province: California (CA)
* Zip/Postal Code: 90230
* Country: United States
* Telephone: 555-55-555-55

3. Go to Admin -> Marketing -> Cart Price Rules: c

[2020-09-30 20:11] magento-engcom-team commented on #30255
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37386

[2020-09-30 20:15] magento-engcom-team opened #30256 "Unexpected unchecking of "Append Comments" check-box"
Preconditions
1. Create simple product

1. Create Customer with address
* First Name: John
* Last Name: Doe
* Email Address: john.doe@example.com(use real mail)
* Company: Magento
* Address: 6161 West Centinela Avenue
* City: Culver City
* State/Province: California (CA)
* Zip/Postal Code: 90230
* Country: United States
* Telephone: 555-55-555-55

Steps:
1. Go to admin -> sales -order -> create ne

[2020-09-30 20:15] magento-engcom-team commented on #30256
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37385

[2020-09-30 20:17] magento-engcom-team opened #30257 "[Clone MC-35417]Radio buttons are not displayed in the “Payment & Shipping Information” section in the case of reorder by Admin"
**Preconditions:**
* Magento EE 2.3.6, EE 2.3.7-alpha2
* A Customer account with shipping address and a billing address is created
* A Simple Product is created
* Several delivery methods are configured
* At least one order is created

**Steps to Reproduce:**
* Go to Magento Admin panel > Sales > Orders
* Select the created order
* Click the “View” link
* Click the “Reorder” button
* Scroll down t

[2020-09-30 20:17] magento-engcom-team commented on #30257
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37373

[2020-09-30 20:21] magento-engcom-team opened #30258 "The count of ratings is not matching with ratings displayed"
###### steps
* Install Magento with sample data
* Create 2 websites
* Create a new admin user with access only to the 2nd website
* Login as the new user
* Open Stores > Attribute > Rating
* see records found

**Actual Result**: 4 records found but one rating displayed

**Expected* *Result:** Count of  records should match with ratings displayed

[2020-09-30 20:21] magento-engcom-team commented on #30258
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37145

[2020-09-30 20:25] magento-engcom-team opened #30259 "Shopping cart is empty after adding simple product if another product was removed from Multiple Addresses checkout before"
**Preconditions**
* Magento EE 2.4.1 is installed and should be actual for CE
* A Customer account is created
* A Simple Product is created

**Steps to Reproduce:**
* Go to the storefront as the created Customer
* Add to card any simple product
* Select View and Edit card and go to Check Out with Multiple Addresses
* Remove previously added item
* Add to card any simple product from category page

[2020-09-30 20:26] magento-engcom-team commented on #30259
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37120

[2020-09-30 20:33] magento-engcom-team opened #30260 "Product still present in the Wish List after added to order"
Preconditions:
 1. Magento2ee 2.4.0-p1 with b2b is installed and should be actual for CE
 2. Create simple product
 3. Create Customer
 Steps:

1. Go to admin -> sales -> orders -> Created New Order -> Select Customer
 2. Add simple product to the Order
 3 Select Action => Move to Wish List
 4. click Update Items and Quantities button
 5. select checkbox 'Add To Order' => yes
 6. click Update Chan

[2020-09-30 20:33] magento-engcom-team commented on #30260
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36779

[2020-09-30 20:37] munkhulzii commented on #22379
This bug might still exist in magento 2.4.1. The function Configurable::getUsedProducts returns all products without a possibility to  filter only salable child products.

[2020-09-30 20:43] magento-engcom-team opened #30261 "Custom attribute value created in integration tests fixtures product not appears in elasticsearch"
* There is a product created with custom attribute value in integration tests fixture:Magento/Catalog/*files/products_with_layered_navigation*attribute.php
* When this product created and product data appeared in elasticsearch - there is no custom attribute (test_configurable) data in ElasticSearch.

This attribute data appears in Elastic Search Only after execution of indexer:reindex in console 

[2020-09-30 20:43] magento-engcom-team commented on #30261
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36768

[2020-09-30 20:48] magento-engcom-team opened #30262 "Shopping cart is not empty after order through Admin Panel in Customer"
**Precondition:**

Install Magento 2.4.0, 2.4.0-p1 EE,CE with **table_prefix**

Create Customer

Create a product

**Step to Reproduced:**

1. Go to Storefront and login the customer

2. Add Product to cart

3. Go to **Admin -> Customers -> All Customers**

4. Select the customer and click **Edit**

5. Click button **Manage Shopping Cart* and click the button *Create Order**

6. Fill required fiel

[2020-09-30 20:48] magento-engcom-team commented on #30262
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36703

[2020-09-30 20:53] magento-engcom-team opened #30263 "Unexpected behavior when an Admin is adding product to the Shopping cart by SKU if the custom website is set as default"
**Preconditions:**
* Magento EE,CE 2.4.0, EE,CE 2.4.0-p1{color} is installed
* Two websites are created (at least, one store and one view for each website) https://jira.corp.magento.com/browse/MC-10639
* The "New Test Website" is set as Default ( Stores > All Stores > click the "New Test Website" > check the "Set as Default" checkbox)
* A Simple Product is created (Product in Websites = Main Websi

[2020-09-30 20:53] magento-engcom-team commented on #30263
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36685

[2020-09-30 20:57] magento-engcom-team opened #30264 "Order Details Page Shows Incorrect Total Number Of Products For Configurable, Bundle, Grouped Products"
#### Issue
If an order has over 20 products, then a customer's Order Details page will have pagination. At the top of the order, it tells the user how many products are on the current page & in total in the order. Configurable products, bundled products, grouped products, & their child products are counted in this total. This results in the total being off by 1 for each of those product types. The

[2020-09-30 20:57] magento-engcom-team commented on #30264
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36553

[2020-09-30 21:01] magento-engcom-team opened #30265 "SAFARI: endless deploy when admin try to add product in order"
**UPDATE**: this issue is not related to split database & is reproducible on a standard magento install using configuration from: MC-36141

Install Magento 240-p1 with split database and small data set (generate data).

You should have Safari browser.
1. Go admin - Sales - Create New Order
1. Select any customer from grid
1. Click Add Products
1. Select any Product, enter quantity
1. Click add "se

[2020-09-30 21:01] magento-engcom-team commented on #30265
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36543

[2020-09-30 21:04] magento-engcom-team opened #30266 "Placeholder for password on checkout is different for simple and other products"
**Preconditions:**
1. Magento EE 2.3.5-p2 or  EE 2.4.0-p1 is installed
1. There is registered Test Customer 
1. Test Simple Product is created
1. Other Test Product is created (Virtual for example)

**Steps to Reproduce:**
1. Go to Storefront as Guest user
1. Add 'test Simple Product' to Shopping Cart
1. Click 'Proceed to Checkout' button from mini-cart
1. On 'Shipping Address' Checkout step, fill

[2020-09-30 21:04] magento-engcom-team commented on #30266
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36512

[2020-09-30 21:14] magento-engcom-team opened #30267 "Unexpected loading of a Related Products grid"
**Preconditions:**
* Magento EE 2.3.5-p2, EE 2.4.0, EE 2.4.0-p1 is installed should be actule for CE
* At least 100 Simple products are created

**Steps to Reproduce:**
* Go to Magento Admin panel > Catalog > Products
* Select any of created Products
* Click “Edit” link
* Open “Related Products, Up-Sells, and Cross-Sells” section
* Click the “Add Related Products” button
* Select at least 100 prod

[2020-09-30 21:14] magento-engcom-team commented on #30267
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36465

[2020-09-30 21:15] magento-engcom-team commented on #30267
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36465` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30250
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38025` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30251
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37922` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30254
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37618` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30255
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37386` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30256
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37385` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30257
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37373` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30258
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37145` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30259
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37120` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30260
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36779` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:18] magento-engcom-team commented on #30261
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36768` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:19] magento-engcom-team commented on #30262
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36703` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:19] magento-engcom-team commented on #30263
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36685` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:19] magento-engcom-team commented on #30264
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36553` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:19] magento-engcom-team commented on #30265
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36543` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:19] magento-engcom-team commented on #30266
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36512` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:39] magento-engcom-team opened #30268 "“Select Shipping Method” page of Multishipping Checkout is corrupted if a Customer use “go back” browser button to return to the page"
**Preconditions:**
* Magento EE 2.3.5-p2, EE 2.4.0, EE 2.4.0-p1, EE 2.4.1-alpha3{color} is installed, should be actule for CE
* A Simple product is created
* A Customer account with two shipping addresses is created
* Check / Money order Payment method is configured
* Flat Rate shipping method is configured

**Steps to Reproduce:**
* Go to the Storefront as the created Customer
* Add the created P

[2020-09-30 21:39] magento-engcom-team commented on #30268
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36425

[2020-09-30 21:42] magento-engcom-team opened #30269 "“Wish list” section of the “Manage Shopping Cart” disappears after a customer add a product to the Wish list"
**Preconditions:**
* Magento EE, CE  2.4-develop, 2.4.1
* Reports are enabled (Stores → Configuraion →General -> Reports → General Options -> Enable Reports = “Yes”)
* A Customer account is created
* Create 2 or more simple products

**Steps to Reproduce:**
* Go to Magento Admin → Customers → All Customers →
 Select created Customer → click on the “Edit” link → click on the “Manage Shopping Cart”

[2020-09-30 21:42] magento-engcom-team commented on #30269
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36307

[2020-09-30 21:44] magento-engcom-team opened #30270 "“Product Reviews” can not be sorted by Admin on the Product page"
**Preconditions**:
* Magento EE 2.3.5-p2, EE 2.4.0, EE 2.4.1, EE 2.4.2-alpha1 is installed, should be actual for CE
* A Simple Product is created

**Steps to Reproduce:**
* Go to the Storefront as a guest
* Go to the created Product page
* Add at least 2 reviews
* Go to Magento Admin > Marketing > Pending Reviews
* Approve the added reviews
* Go to Magento Admin > Ctalog > Products
* Select the cr

[2020-09-30 21:44] magento-engcom-team commented on #30270
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36265

[2020-09-30 21:48] Lfleon02 commented on #9762
Hi everyone, this is the solution:

{
        "appendComment": true,
        "notify": true,
        "comment":{
            "comment":"shipment creado via webservice",
            "is_visible_on_front":1
        },

        "tracks": [
            {
                "track_number":"3SCEMW182389201",
                 "title":"UPS",
                 "carrier_code":"Carrier code n"
            }

[2020-09-30 21:50] magento-engcom-team opened #30271 "An error occurs when an Admin submits an order on behalf of a Customer in the Store View where the Customer is not registered"
**Preconditions:**
* Magento EE 2.4.0{color} is installed
* Two websites are created (at least, one store and one view for each website) https://jira.corp.magento.com/browse/MC-10639
* B2B is installed
* All B2B features are enabled
* A Simple Product is created (Product in Websites = Main Website,
 New Test Website)
* A Customer Account with Shipping and Billing address is created (Account Create

[2020-09-30 21:50] magento-engcom-team commented on #30271
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36186

[2020-09-30 21:52] magento-engcom-team commented on #30268
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36425` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:52] magento-engcom-team commented on #30269
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36307` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:52] magento-engcom-team commented on #30270
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36265` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:52] magento-engcom-team commented on #30271
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36186` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-30 21:58] tkashro commented on #28966
@alucardatem  @barryvdh Just a FYI incase, I was experiencing basically the same issue. Our **catalog_category_product** and **catalogrule_rule** indexers were consequently always in the REINDEX REQUIRED state. In the end they were actually 2 separate causes, the first was due to Amasty Automatic Categories and second was due to Amasty Layered Navigation.

We had upgraded to 2.3.5-p2 and migrated

[2020-09-30 23:08] alucardatem commented on #28966
I have the amasty layered nav also and the amasty advanced search with elastic search installed. However server spec wise 8gb ram with 4 cores and total no of products is around 30k mark. However the strange part is the fact that a bulk update to products setting them all to website or even creating a new product from admin they show instantly, but the moment the indexers run, it is all gone.
What

[2020-09-30 23:10] matteobaro commented on #28509
Hello @muzamalhafiz422 ,
it's working
you have saved my life
thank you so much

[2020-10-01 00:37] tkashro commented on #28966
@alucardatem 26GB RAM and 26 VCPU, we have only around 10k mark for products. Are your indexers running successfully? our seemed to be in a constant loop - and the indices being created in elasticsearch were rapidly going up, we had something like magento_production_product_1_**v281**

[2020-10-01 03:26] PivitParkour94 commented on #4331
Yeah changing the password with password managers gets tricky. I too got locked out of a few production sites... Now I know make an old password field in the password item, then copy the old, then generate a new, update it, use old in the "Your password" section, and you should be good. Definitely not an issue by Magento, but I understand how it can be done

[2020-10-01 03:52] usman786cs commented on #27949
I'm also facing this issue, I wanted to set client side compilation because browser was not picking latest version of css after every deployment.

Any progress on this please?

[2020-10-01 05:45] alucardatem commented on #28966
@tkashro yes, same here

[2020-10-01 05:45] Goldeo opened #30272 "Сannot activates an integration of Magento 2.4 with my application on the localhost environment"
### Summary (*)

Сannot activates an integration of Magento 2.4 with my application on the localhost. I want to activate Magento integration for testing OAuth-based authentication, but I get the message:

"The attempt to post data to consumer failed due to an unexpected error. Please try again later."

### Examples (*)

https://i.stack.imgur.com/e00kV.png
https://i.stack.imgur.com/HNN2u.png
### Pr

[2020-10-01 06:50] ihor-sviziev commented on #30272
@Goldeo I believe you don't have valid SSL certificate on your local machine? I think this is the reason for such behavior

[2020-10-01 06:56] ihor-sviziev commented on #28718
@sidolov @sdzhepa can we close this issue?

[2020-10-01 06:56] ihor-sviziev commented on #28719
@sidolov @sdzhepa can we close this issue?

[2020-10-01 06:56] ihor-sviziev commented on #28495
@sidolov @sdzhepa can we close this issue?

[2020-10-01 07:26] chirag-taraviya commented on #9051
@NMills12 @bruno-canada Did you find a solution? we have same problem with Magento 2.3.5-p1

[2020-10-01 07:41] hostep commented on #28966
@tkashro:

This is actually a core issue in Magento from my findings, see https://github.com/magento/magento2/pull/29196, Magento is currently refactoring the PR, but we had success with applying this patch: https://github.com/magento/magento2/pull/29196/commits/f0c645307e031f9c6b8beb31f18c801dc62c02e3 to get this resolved

[2020-10-01 07:53] vpashovski opened #30273 "Favicon in admin panel"
### Preconditions (*)

1. Magento ver. 2.3.5

### Steps to reproduce (*)
1. Upload Favicon for Default Store from Content -> Design -> Configurations -> HTML Head -> Favicon Icon

### Expected result (*)
1. To see Magento default favicon in Admin panel

### Actual result (*)
1. Favicon from default store is shown in Admin panel

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3

[2020-10-01 08:41] alucardatem commented on #28966
@hostep do you think that this is in relation to the fact that products are falling off when performing a reindex however this is the cats just for newly added products?
I mean... On 2.3.5 on switching to mysql search engine and reindexing, all products are showing, even the new ones, after changing to elastic search 6.8/7.5/7.6/7.9 or to Amasty elastic search and reindexing only a part of the pro

[2020-10-01 09:13] tkashro commented on #28966
Wow, that seems spot on. Weirdly I could no longer and still can't reproduce the issue on our install after making the changes that I made, nevertheless that seems to be the problem.

[2020-10-01 09:25] hostep commented on #28966
@alucardatem, it doesn't sound related no. However if you have problems with indexers which are constantly being reindexed for no good reason (which can then cause your issue every few minutes I'm guessing), then that patch could already make it so that it doesn't happen every few minutes but only when actual reindexing is needed.

Your problem is probably something completely different then what

[2020-10-01 09:29] pdpavel opened #30274 "POST http://tool.local/rest/default/V1/inventory/source-items create item for non existing sku"
### Preconditions (*)
Magento ver. 2.3.5-p1 EE

### Steps to reproduce (*)

1. ### check that product doesn't exist 000000000000010003
GET http://tool.local/index.php/rest/V1/products/000000000000010003
return will be {
  "message": "The product that was requested doesn't exist. Verify the product and try again."
}
2.  POST http://tool.local/rest/default/V1/inventory/source-items
Content-Type: app

[2020-10-01 09:35] pdpavel commented on #30274
+ jack

On Thu, Oct 1, 2020 at 12:29 PM m2-assistant[bot] <notifications@github.com>
wrote:

[2020-10-01 12:22] haxor211 commented on #25430
I have ran the query in my database and removed 3 rows.. the problem still persists, what do I do?? I dont want to enable this useless module.

I also used the new module in 2.4.0 "Temando_ShippingRemover" and ran setup:upgrade, still doesnt work!!

I also tried deleting the attributes starting with "ts_%" in datatbase, this doesnt help either!!!!

The error "Exception #0 (ReflectionException): Cl

[2020-10-01 12:43] engcom-Oscar commented on #30088
Hello @chesuch-smarte

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Looks like we missed some steps or preconditions.

Could you please update the description?

[2020-10-01 13:05] #30055 closed, assigned to nobody

[2020-10-01 13:05] alucardatem commented on #28966
@hostep do you happen to have a composer version of the patch ?

[2020-10-01 13:06] chesuch-smarte commented on #30088
<img width="1579" alt="Screenshot 2020-10-01 at 14 01 37" src="https://user-images.githubusercontent.com/45458626/94812460-adeca900-03ee-11eb-8e03-d0145abf4b6f.png">

ok, we're currently on Mage 2.3.3 CE, so perhaps this now does not occur on 2.4, I have not tried to upgrade tbh.

But as can be seen from the screenshot, not much to it really.
A configurable has child simple products, and they curr

[2020-10-01 13:15] #30053 closed, assigned to sdzhepa, ajijshekh123, engcom-Oscar

[2020-10-01 13:18] #29999 closed, assigned to nobody

[2020-10-01 13:22] engcom-Oscar commented on #29963
Hello @buituanbg

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-10-01 13:35] Nazar65 commented on #25947
@magento I am working on this

[2020-10-01 13:45] #29949 closed, assigned to krishprakash

[2020-10-01 13:48] #29938 closed, assigned to engcom-Oscar

[2020-10-01 13:48] hostep commented on #28966
Sure: [PR-29196-Indexer.txt](https://github.com/magento/magento2/files/5312419/PR-29196-Indexer.txt)

[2020-10-01 14:19] ihorvansach commented on #25370
Today I have faced with the similar issue on one Magento instance with the custom customer attribute. Attribute was visible/editable in the admin panel only (Admin panel customer edit page), but once customer saved it's account on the storefront this attribute value becomes empty.

Issue was related to wrong attribute settings. Attribute was assigned to these forms: adminhtml_checkout, adminhtml_c

[2020-10-01 14:33] magento-engcom-team commented on #29555
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38138` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 14:39] ericmorand opened #30276 "app/etc/vendor_path.php is missing from magento/magento2-base"
### Preconditions (*)

None

### Steps to reproduce (*)

1. `composer require magento/magento2-base`

### Expected result (*)

The file `vendor_path.php` is present in `vendor/magento/magento2-base/app/etc`

### Actual result (*)

The file `vendor_path.php` is missing from `vendor/magento/magento2-base/app/etc`

### Why this is an issue

It prevents building a Magento application from the vendor r

[2020-10-01 14:56] serhiideliiev commented on #29390
I don't actually understand how this information is related to the issue. I'm using Braintree sandbox and following all the requirements to use instant purchase however result is the same as topic-starter described.

Could you please advise?

[2020-10-01 15:20] haxor211 opened #30277 "2.4.0 Can't edit attributes possible Temando Shipping related"
### Preconditions (*)

1. 2.4.0
2. Stores>Attributes>Product>Click attribute
3. I have upgraded from 2.3.4

### Steps to reproduce (*)

1. When clicking on attribute receiving an error, my wild guess its related to Temando Shipping being removed in 2.3.5
2. It happens with all attributes whether its default attributes or custom attributes.
3. It happens also if you click "Add attribute"

### Expec

[2020-10-01 15:23] #28718 closed, assigned to ihor-sviziev

[2020-10-01 15:23] #28719 closed, assigned to sdzhepa

[2020-10-01 15:23] #28495 closed, assigned to nobody

[2020-10-01 15:48] haxor211 opened #30278 "2.4.0 Class Temando\Shipping\Model\Source\PackagingType does not exist"
I have ran the query in my database and removed 3 rows.. the problem still persists, what do I do?? I dont want to enable this useless module.

I also used the new module in 2.4.0 "Temando_ShippingRemover" and ran setup:upgrade, still doesnt work!!

I also tried deleting the attributes starting with "ts_%" in datatbase, this doesnt help either!!!!

The error "Exception #0 (ReflectionException): Cl

[2020-10-01 15:51] Overlap88 commented on #29765
sorry to be a dumbass - but does this mean it's going to be fixed? thanks. Julian

[2020-10-01 16:48] jdubyaw opened #30280 "do not search unless a button is pressed."
### Preconditions (*)

1. when open page it does a research on previous search
2. it does it every time and waists minutes when it does

### Steps to reproduce (*)

1. open page from a previous search and it will immediately search
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](ht

[2020-10-01 16:48] gabrieldagama commented on #11304
Hi @ludwig-gramberg, can you confirm if this problem happens with the New Media Gallery?

Thanks.

[2020-10-01 16:55] homanp opened #30281 "Cart query always returns Tax Identifier value instead of Tax Title in the `applied_taxes` field."
### Preconditions (*)

1. 2.3.5-p1

### Steps to reproduce (*)

1. Add a product to cart.
2. Add shipping and billing address
3. Fetch cart via GraphQL query including `applied_taxes`.

### Expected result (*)

1. `applied_taxes` label should be that of the `Tax Title` instead of the `Tax Identifier` of the specific tax rate

### Actual result (*)

1. `applied_taxes` label always returns the value

[2020-10-01 17:05] ludwig-gramberg commented on #11304
I gave up entirely on magento 2, so I can't help, sry

[2020-10-01 17:07] aliomattux commented on #7298
I haven't been following this for a while but did have a quick update. Using Magento 2.3.3
I noticed some strange behavior today. This issue came up again with a product that could not be removed from a category. It listed 8 urls as offending. The product record did not have the url key mentioned, however when I queried the database it had the entry for attribute id = 72 which for me is url path.

[2020-10-01 17:11] magento-engcom-team opened #30282 "WebAPI products are not removed from Elasticsearch"
In WebAPI testing, I saw that products were being added to elasticsearch but never removed.  I'm unsure if this is normal.  Many products are being deleted but some are not.  This causing a slow increase in Elasticsearch memory usage.  I specifically looked at GraphQL.

[code]

[2020-10-01 17:11] magento-engcom-team commented on #30282
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35790

[2020-10-01 17:23] magento-engcom-team opened #30283 "Price of an ordered Product is displayed incorrectly in the Order confirmation"
**Preconditions:**
* Magento EE 2.3.5-p1, EE 2.4.0-beta1{color}, should be actual on CE
* A Simple Product is created (**Price = $100**);
* A Customer account is created

**Steps to Reproduce:**
* Go to the Storefront as the created Customer
* Place an order using the created Product (**Qty = 2pcs.**)
* Open email-box associated with the e-mail, used to the Customer registration
* Open the Order c

[2020-10-01 17:23] magento-engcom-team commented on #30283
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35761

[2020-10-01 17:41] magento-engcom-team opened #30284 "Price range of a Bundle Product is displayed incorrectly in the case of options with tier price"
**Preconditions:**
* Magento CE, EE 2.3.5-p1, CE, EE 2.4.0-beta1
* Two Simple Products are created:

               -TEST SIMPLE 1, Price = $100; Advanced Pricing: Quantity =2, Price = Discount = 50%;
                -TEST SIMPLE 2, Price = $200; Advanced Pricing: Quantity =2, Price = Discount = 50%;
* A Bundle Product is created:

Dynamic SKU = Yes, Dynamic Price = Yes, Ship Bundle Items = Togeth

[2020-10-01 17:41] magento-engcom-team commented on #30284
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35725

[2020-10-01 17:45] magento-engcom-team opened #30285 "Admin can not add a Product with a Customizable Option (File) to Order by SKU"
**Preconditions:**
* Magento EE 2.3.5-p1, EE 2.4.0-beta1 
* A Simple Product with a Customizable Option File is created (for example, Customizable Options -> Option Title = "TEST OPTION 1", Option Type = File, Compatible File Extensions = jpg, Maximum Image Size = 1000 x 1000 px)

**Steps to Reproduce:**
* Go to the Magento Admin Panel > Sales > Orders
* Click the “Create New Order” button
* Click

[2020-10-01 17:45] magento-engcom-team commented on #30285
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35717

[2020-10-01 17:47] magento-engcom-team opened #30286 "Can't remove seconde added Layout Update"
**Steps to reproduce:**
1. Go to Content - Widget and "Add Widget"
1. Select any "Type", "Design Package/Theme" and click "Continue"
1. On Widget Storefront Properties click "Add Layout Update"
1. Select some item from "Display on" and "Container" dropdowns
1. Click "Add Layout Update"
1. Click "Remove Layout Update" button on previously added Layout

**(x) Actual result:**  Can't remove Layout Up

[2020-10-01 17:47] magento-engcom-team commented on #30286
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35716

[2020-10-01 17:48] magento-engcom-team opened #30287 "Loading spinner is never dismissed if Paypal checkout is canceled to quickly"
1. Go to Product Detail Page
 2. Click Paypal button then close popup immediately

(x) Popup closed then another popup display with loading non-stop

[2020-10-01 17:48] magento-engcom-team commented on #30287
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35428

[2020-10-01 17:57] PierW opened #30288 "Bug in typography for different @font-format from woff and woff2"
### Preconditions (*)

1. Magento 2.3.5

### Steps to reproduce (*)

1. Import a custom font  **.ttf, .eot or .otf** in your theme (not woff or woff2)
2. Import the font by the **.lib-font-face()** in less with @font-format **.ttf, .eot or .otf** like the [doc](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/using-fonts.html)

### Expected result (*)

1. That our new font is

[2020-10-01 18:25] magento-engcom-team opened #30290 "Guest can not checkout if customer address has custom attributes of different types"
**Steps to Reproduce:**
1. Login to Admin
1. Add custom customer address attributes of all possible types (Store -> Attributes -> Customer Address):
-- text field
--  text area
--  multiple line
--  date
--  dropdown (with values)
-- multiple select (with values)
--  yes/no
--  file
--  image
1. Add product to cart
1. Start checkout process as guest
1. Fill all values at shipping information step

[2020-10-01 18:25] magento-engcom-team commented on #30290
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-33705

[2020-10-01 18:29] sdzhepa commented on #30238
Hello @qsolutions-pl and @ihor-sviziev

Thank you for the report and collaboration!

After verification, our developer confirm this issue
And also found that it is a Duplicate of https://github.com/magento/magento2/issues/26850
So I close this one in favor of already created, confirmed and triaged issue

[2020-10-01 18:29] #30238 closed, assigned to engcom-Foxtrot

[2020-10-01 18:38] Michael-073 opened #30291 "Importer Error report bug"
### Preconditions (*)

1.Magento 2.4.0

### Steps to reproduce (*)

1. Log into the back end
2. Go to System ->Import
3. Set entity type to "products"
4. Import behavior = "Add/Update"
5. Upload a file that will result in an error
6. Click the "Check Data" button
7. Click the "Download full report" link

### Expected result (*)

1. The expected result should be that the error report is downloaded

[2020-10-01 18:40] hostep opened #30292 "[2.3.6] strange vendor directory is added to var directory"
### Preconditions (*)
1. Have access to Magento 2.3.6

### Steps to reproduce (*)
1. Setup a new Magento 2.3.6 installation using `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.3.6 ...`
2. Look at the contents of the `var` directory

### Expected result (*)
1. Not finding a `vendor` directory in the `var` directory

### Actual result (*)
1.

[2020-10-01 18:43] magento-engcom-team opened #30293 "Error on checkout if customer selects billing address and image address attribute is present"
Customer can not checkout if he selects billing address which differs from shipping one and custom customer address attribute of image type is present

**Steps to Reproduce:**
1. Login as Admin
1. Create new custom customer address attribute (Store -> Attributes -> Customer Address):
#* Type = Image
1. On Frontend create customer
1. Add default address (for both shipping and billing) and upload so

[2020-10-01 18:43] magento-engcom-team commented on #30293
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-33704

[2020-10-01 18:47] magento-engcom-team opened #30294 "Admin can not make reorder if customer address has image attribute"
If customer address contains custom attribute of image type admin can not create reorder

**Steps to Reproduce:**
1. Login as Admin
1. Create new custom customer address attribute (Store -> Attributes -> Customer Address):
#* Type = Image
1. On Frontend create customer
1. Add default address (for both shipping and billing) and upload some image to newly created attribute
1. Make order using newly

[2020-10-01 18:47] magento-engcom-team commented on #30294
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-33703

[2020-10-01 18:48] magento-engcom-team opened #30295 "Fatal error if admin enters wrong values for some customer attribute and uploads file"
If Admin tries to save customer entering not valid values for some attribute which has Input Validation set up, and uploads file at the same time he gots fatal error.

**Please note:** if you just enter wrong value for some attribute XOR upload file you will not get fatal.

**Steps to Reproduce:**
1. Create new Customer attribute for URL (Stores -> Attributes -> Customer):
# * Input Type = Text Fi

[2020-10-01 18:48] magento-engcom-team commented on #30295
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-33687

[2020-10-01 19:57] magento-engcom-team opened #30296 "Wrong ip value in send friend_log table"
**Proconditions:**
* Create a product
* Email to Friend set to "Enabled" in configurations
* Limit Sending By set to "IP address"
* Allow for Guests set to "Yes" (not nessesary but if you don't you have create customer before.)

**Steps To Reproduce:**
* Go to storfront to the product page
* Click on send email to friend icon
* Fill all required fields and click "Send" button
* Check sendfriend_lo

[2020-10-01 19:57] magento-engcom-team commented on #30296
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-31968

[2020-10-01 20:00] magento-engcom-team opened #30297 "Qty desync on product edit when purchased"
1. create simple product with qty 100
1. save product
1. open product for editing again, change product title for example
1. in another tab open product on storefront
1. add 10 items to cart
1. checkout cart to complete purchase
1. switch back to backend tab with edited product
1. click save

(-) Actual: product is saved, qty=100
(/) Expected: product is saved, qty=90

This is a generic commerce i

[2020-10-01 20:00] magento-engcom-team commented on #30297
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-31011

[2020-10-01 20:07] magento-engcom-team opened #30298 "Can't search products in admin using special characters"
Steps to reproduce:
1. Create a simple product with name including a special character (example: 'LumaTech™ T-Shirt')
1. Filter product grid for keyword including special character: 'LumaTech™'

(-) Actual: No results returned
(/) Expected: Product is returned in results

[2020-10-01 20:07] magento-engcom-team commented on #30298
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-29958

[2020-10-01 20:16] magento-engcom-team opened #30299 "[2.4] Order can be placed when requested qty more than qty exist"
Precondition:
* Create Configurable product **C1** with attribute "color" (red, qty - 10)

Steps to reproduce:
* Go to Sales -> Orders -> Create new Order -> Create new Customer
* Click "Add product" button
* Click "Configure" button near **C1**
* Select red and set quantity as 8(less that available)
* Select product **C1-red** and set quantity as 8
* Click "add selected product(s) to order" butto

[2020-10-01 20:16] magento-engcom-team commented on #30299
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-29723

[2020-10-01 20:21] magento-engcom-team opened #30300 "Products of hidden sub-category are shown in parent anchor category"
###### Preconditions
1. Install Magento EE 2.4-develop
1. Indexers are in **Update on Save** mode
1. Category Permission feature is enabled:
  * admin > Stores > Configuration > Catalog > Catalog > Category Permissions
  * Enable = Yes
  * Allow Browsing Category = Yes, For Everyone
  * Display Product Prices = Yes, For Everyone
  * Allow Adding to Cart = Yes, For Everyone
  * Save Config
  * Clea

[2020-10-01 20:21] magento-engcom-team commented on #30300
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-25179

[2020-10-01 20:25] magento-engcom-team opened #30301 "Refresh order doesn't get latest custom attribute data"
**Issue:**
 Refresh order doesn't get latest custom attribute data. Order must be cancelled and re-created.
 Screencast walk thru here: <https://www.screencast.com/t/F5ceTvMLDpY]

**Precondition:**
* Create a custom customer attribute e.g. notes [https://www.screencast.com/t/hyflvGNjeI>
* A customer is created

**Steps:**
1. Add text to the custom attribute "notes 1" and click save and continue ed

[2020-10-01 20:25] magento-engcom-team commented on #30301
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-24496

[2020-10-01 20:26] magento-engcom-team opened #30302 ""As low as" category page does not display the lowest price for the selected swatch"
It is either a regression or related bug to MC-19683

**Description:**

"As low as" price on catalog page does not display the lowest price per the selected Color attribute.

**Steps to reproduce:**
1. Create a configurable product with two swatch attributes Color and Size.
1. Create a combination of options with Black Red White and S, M , L attribute values
1. Change price of the product this way

[2020-10-01 20:26] magento-engcom-team commented on #30302
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-24038

[2020-10-01 20:33] magento-engcom-team opened #30303 "inline translation on checkout does not persist on page reload"
**Preconditions:**
1. Magento installed
1. Several products and a customer is created
1. Add product to cart on storefront
1. Login to admin area
1. Go to stores > Configuration > Advanced > Developer > Translate Inline
1. Set **Enabled for Storefront* option to *Yes** and save configuration
1. Flush Cache

 

Steps to reproduce:
1. Edit mini*cart as shown on image*01
![image](https://user-images.

[2020-10-01 20:33] magento-engcom-team commented on #30303
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-23544

[2020-10-01 20:39] magento-engcom-team opened #30304 "Indexes are not removed unless added to whitelist"
## Description

 

 

Indexes are treated as destructive operation (element*removal) in <https://github.com/magento/magento2/blob/2.3-develop/lib/internal/Magento/Framework/Setup/Declaration/Schema/Diff/Diff.php#L165>. As result indexes cannot be removed unless declared in `db_schema*whitelist.json`. In fact, index removal is not destructive as it does not delete any data or impact any behavior. O

[2020-10-01 20:39] magento-engcom-team commented on #30304
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-23469

[2020-10-01 20:40] magento-engcom-team opened #30305 "[CustomerAddressAttribute]Attribute code and option_id are displayed on Shipping address form once it's updated on storefront"
##### Description of the issue:

Attribute code and option_id are displayed on Shipping address form once customer custom attribute is updated on storefront instead of the option value
#### Pre-Conditions:

CE and EE installed
(!) B2B not to be installed

create a registered customer with same shipping and billing address

Go to Stores > Attributes > Customer Address and add a new attribute
 Choos

[2020-10-01 20:40] magento-engcom-team commented on #30305
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-23461

[2020-10-01 20:41] magento-engcom-team opened #30306 "Configure Product Modal has duplicated quantity field"
Reproducible steps:
1. Create a bundle product
1. Create a new order from admin
1. Add the bundle product to the order
1. Click "Configure" link of the bundle product in the "Please select products" grid
1. Configure Product modal opens
1. Check the Quantity field

**Expected result:**

Only one "Quantity" field with one text input field in the modal

**Actual result:**

Two "Quantity" fields, one

[2020-10-01 20:41] magento-engcom-team commented on #30306
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-23459

[2020-10-01 20:43] magento-engcom-team opened #30307 "[Modularity] Layered navigation may be broken if CatalogSearch is disabled"
**Steps to reproduce:**
- Install Magento with disabled CatalogSearch module
- Open category page and use layered navigation

**Actual result:**
(x) Layered navigation will contain bugs that have already been fixed, and would not be reproducible with installed CatalogSearch (e.g. this one MAGETWO-63175)

**Expected result:**
(/) Layered navigation should work correctly with or without CatalogSearc

[2020-10-01 20:43] magento-engcom-team commented on #30307
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-22000

[2020-10-01 20:47] magento-engcom-team commented on #30282
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35790` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:47] magento-engcom-team commented on #30283
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35761` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:47] magento-engcom-team commented on #30284
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35725` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:47] magento-engcom-team commented on #30285
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35717` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:47] magento-engcom-team commented on #30286
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35716` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:47] magento-engcom-team commented on #30287
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35428` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30290
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33705` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30293
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33704` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30294
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33703` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30295
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33687` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30296
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31968` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30297
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31011` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30298
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29958` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30299
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29723` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30300
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-25179` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30301
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24496` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:48] magento-engcom-team commented on #30302
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24038` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:49] magento-engcom-team commented on #30303
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23544` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:49] magento-engcom-team commented on #30304
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23469` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:49] magento-engcom-team commented on #30305
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23461` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:49] magento-engcom-team commented on #30306
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23459` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 20:49] magento-engcom-team commented on #30307
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22000` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 21:00] magento-engcom-team opened #30308 "Dynamic Block is present on Storefront even if Catalog/Cart Price rule is not active"
1. Go to Content > Dynamic Blocks
1. Fill out required field but Catalog/ Cart Price rule
1. Assign Dynamic Block to a widget to make it show up on Storefront (In widget option, select Specified Dynamic Block for field "Dynamic Blocks to Display")
1. Go to Storefront where created Dynamic Block suppose to display

(x) Actual result: Created Dynamic Block display on Storefront
 (/) Expected result:

[2020-10-01 21:00] magento-engcom-team commented on #30308
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-5583

[2020-10-01 21:25] 45lailson opened #30309 "Erro em compra"
### Preconditions (*)

1. Colocou o Produto No carrinho
2. Adicionou as informações da compra e como ia ser o pagamento

### Steps to reproduce (*)

1. Tentou Realizar uma Compra pelo Cartão
2.

### Expected result (*)

1. Compra Realizada com Sucesso.
2.

### Actual result (*)

1. code: 500
message: "Erro interno do servidor. See details in report api/350747660069"
2.

---
Please provide [Severit

[2020-10-01 21:36] magento-engcom-team commented on #30308
:white_check_mark: Confirmed by @magento-engcom-team
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-5583` were created

**Issue Available**: @magento-engcom-team, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-01 22:52] ricaragao opened #30310 "Export data from Grid to XML Excel"
### Preconditions (*)

1. Magento 2.3 or 2.4

### Steps to reproduce (*)

1. Export any data from grids  to XML/Excel format

### Expected result (*)

1. XML exported to be imported in the Excel

### Actual result (*)

1. The XML exported, when we have many records, don't have xml completed. My analysis is that problem is because all XML is being wrote in the same line, then this over the max allo

[2020-10-01 23:08] m2-assistant[bot] opened #30311 "[Issue] compiled interceptors module"
This issue is automatically created based on existing pull request: magento/magento2#22826: compiled interceptors module

---------
### Description (*)

At Creatuity we have developed a module that generates Interceptors code using app config instead of a boilerplate that reads config at runtime.

https://github.com/creatuity/magento2-interceptors

We believe it changes performance and debugging m

[2020-10-02 01:00] maharzan86 opened #30312 "setup:upgrade command revert the Product salability status to previous state."
### **Preconditions (*)**
1. Magento 2.4.0(MSI enabled)
### Steps to reproduce (*)
1. Create new stock as Stock-A
2. Also create 3 sources as Store-1, Store-2, Store-3
3. Now, create a configurable product with simple product having Store-1 qty = 1
4. Assign 3 sources to that simple product
5. Place an order that will cause Store-1 to have 0 salable quantity
6. The Salable Quantity drops to zero,

[2020-10-02 01:12] maharzan86 commented on #30312
I have created issue in wrong repository closing this issue.

[2020-10-02 01:12] #30312 closed, assigned to nobody

[2020-10-02 05:37] perfpcs commented on #29872
I have this same problem in my logs and it is sad Magento actually causes this problem! When you do a:
bin/magento cron:install

It adds 3 lines to your crontab including these 2 that you are saying are nor needed. Why does Magento always make a mess of things???

So what should a crontab look like these days with M 2.4?? 1 line????

* * * * * /usr/bin/php7.4  ............/bin/magento cron:run 2>&

[2020-10-02 05:43] borriglione opened #30313 "Allow to get currect redirect url of Result/Redirect - Round 2"
### Description

During my development I created some plugins to change the redirects of the Controllers:

- `Magento\Customer\Controller\Account\EditPost`
- `Magento\Customer\Controller\Address\FormPost`
- `Magento\Newsletter\Controller\Manage`

The redirects should be changed only in some cases. In an Around- or After-Plugin it was impossible to get the defined redirect url because `\Magento\Fra

[2020-10-02 05:53] ihor-sviziev commented on #29951
Hi @brideo,
Thank you for you report!
Currently we need to make such newly added constants as private for classes marked as `@api` due to backward compatibility.

Example: in some api marked class we’ll add a public constant and you as extension developer will start using it, also you would expect that your code should work fine on earlier magento versions, as you’re using the only the api classes

[2020-10-02 06:08] hostep commented on #7298
@aliomattux: in fact you should clear the `url_path` for all products in your database. It's a legacy field from Magento 1 which for some reason is still included and being used by Magento 2, even though Magento 2 will never change its contents. It should therefore always be empty otherwise you'll run into problems. One of the reasons why it often isn't empty, is because people migrate from M1 to

[2020-10-02 06:12] hostep commented on #29872
Exactly, Magento 2.4.x only needs the `bin/magento cron:run` line in your crontab

The [documentation](https://github.com/magento/devdocs/pull/7944) is currently being updated to add more warnings around this.

[2020-10-02 06:14] perfpcs commented on #29872
@hostep ..thank you Sir!  Yes please update the docs and fix the install command that sets the 3 lines in your crontab.

[2020-10-02 06:31] mrtuvn commented on #30288
i have same pr for this https://github.com/magento/magento2/pull/29726

[2020-10-02 07:07] himanshu8dev commented on #28211
@sidolov Can you please check my above comment? the issue has been resolved in the latest package but not updated in 2.3.5 version.

[2020-10-02 08:06] haxor211 commented on #30278
I have searched my whole database for entries like "*temando*" or "ts_*" nothing to be found... the biggest shock to me is that I have attributes such as "ts_dimensions_height" in my backend in attributes section, yet I cant find it anywhere in the database!!!

Can someoone help me and tell me whats going on here with this shitty module?

[2020-10-02 08:24] hostep commented on #29872
@perfpcs: are you sure that `bin/magento cron:install` installs those 3 lines? I've just tested this on a clean Magento 2.4.1 installation (will be available to the public on 15 October) and it only adds 1 line. I haven't tested it on 2.4.0 though...

[2020-10-02 08:36] wojtekn commented on #25886
@magento-engcom-team this was closed because it wasn't reproduced. However, incorrect steps were used so this should be reopened.

The problem can be reproduced only when synonym exists for given phrase. So to reproduce:

1. Ensure the synonym exists in SEO & Search -> Search Synonyms:
foo,bar"foobar",
2. With ES enabled as search backend, search for "Foo/Bar" in frontend.

Expected behavior would

[2020-10-02 08:39] stollr opened #30314 "[Config] Array to string conversion error when saving row system config with defaults"
### Preconditions (*)

I am using Magento 2.4.0 in development mode with PHP 7.4.10 on Linux, Debian Buster.

Also verified and confirmed on `2.4-develop` open source edition

### Steps to reproduce (*)

1. We followed [these instructions](https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/dynamic-row-system-config.html) to create a dynamic row system config.

2. We have added de

[2020-10-02 08:43] davidandersson1 opened #30315 "2.4.0 with price index taken too long compare to 2.3.5"
Hello,

We have upgraded magento version from 2.3.5 to 2.4.0 + PHP 7.2 to 7.4 + MySQL 5.7 to 8.0 + nginx server.

We have around 400k products on the shop and after switched latest version 2.4.0 product price index time increase from around 5 mins to 35 mins which is really a huge different in terms of time.

We are using Smile elastic suite modules but we disabled it completely then after check t

[2020-10-02 09:22] Seb2nim opened #30316 "REST API Product update url_key doesnt re-gerenate url_rewites (INSANE)"
### Summary
Updating product `url_key` via REST API ; Product Url Rewrites are not re-generated. (yeah, i know, thats crazy)

This occurs on actually "Simple" setup, out of the box : Single-store mode and calls on "all" Rest Endpoint `{{magento_url}}/rest/all/V1/products/{{sku}}`, elementary school level

I use the term "Url Rewrites" (with a "s") because that involves category-path-product-urls a

[2020-10-02 09:39] engcom-Alfa commented on #30274
Hi @pdpavel .
Looks like this issue related to MSI functionality.
@sdzhepa Could you move this ticket to the Inventory repository?
Thanks!

[2020-10-02 09:53] engcom-Hotel commented on #19293
Hello @dverkade.
I have checked the issue:

_Steps to reproduce from the description:
Have a product in the Magento back office with the visibility "Not visible individually". Set the URL key of the product to "product-a"
Open the product in de back-office and change the URL Key to "product-b" and check the "create permanent redirect" checkbox
Save the product.
Open the product again, change the v

[2020-10-02 09:55] #30278 closed, assigned to nobody

[2020-10-02 10:25] Eddcapone commented on #5929
If you get "Notice: Undefined offset: 32000 in /vendor/magento/module-catalog/view/adminhtml/templates/catalog/product/edit/action/inventory.phtml" then try this [solution](https://magento.stackexchange.com/a/300402/66769):

[2020-10-02 10:29] dvershinin commented on #30091
@steved1982 we're having the same issue on 2 unrelated stores with different themes; the only common is some Mirasvit modules...

[2020-10-02 10:48] engcom-Hotel commented on #13400
Hello, @AntonEvers .
I haven't able to reproduce the issue. The path of the file is there.
Could you please check if you still have this issue and if yes - please provide more details about reproducing.
Thank you.

[2020-10-02 11:21] haxor211 opened #30319 "Trying to access array offset on value of type null in /data/www/vendor/vendor/magento/module-catalog/view/adminhtml/templates/catalog/product/edit/action/inventory.phtml on line 40"
When using bulk product edit this error happens.

Magento 2.4.0
php as required in docs

`Trying to access array offset on value of type null in /data/www/pneumatig/vendor/magento/module-catalog/view/adminhtml/templates/catalog/product/edit/action/inventory.phtml on line 40`

[2020-10-02 11:39] diazwatson commented on #26377
Some very interesting & fun ways to debug and prove sameSite cookie issues (for chrome browsers).
https://www.chromium.org/updates/same-site/test-debug

[2020-10-02 11:47] elvinristi commented on #26377
Related Safari on MacOS 10.14, ipad/iphone bug when forcing SameSite=None
- https://bugs.webkit.org/show_bug.cgi?id=198181
- https://www.chromium.org/updates/same-site/incompatible-clients

I have done vice versa - patched on app level to send always SameSite=None and in Apache level removing for those specific OS/browsers

[code]

[2020-10-02 11:49] naitsirch commented on #30314
@magento I am working on this

[2020-10-02 12:17] webamondo commented on #29964
I'm seeing this issue too, disabling CSP caused me issues, I've had to setup a cron job to clear the cache every 6 hours!!

[2020-10-02 12:22] adam-paterson commented on #25672
@magento give me 2.3.5-develop instance

[2020-10-02 12:23] adam-paterson commented on #25672
@magento give me 2.3-develop instance

[2020-10-02 12:35] legoWeb commented on #25933
@magento I am working on this

[2020-10-02 12:35] legoWeb commented on #25933
@magento add to contributors team

[2020-10-02 12:49] wagento-rajan commented on #30314
@magento I am working on this

[2020-10-02 13:05] magento-engcom-team commented on #29652
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29466 by @Swahjak in 2.4-develop branch
Related commit(s):
 - [b5045c4abcbd70d82b712ba293c83ce171dace54](https://github.com/magento/magento2/commit/b5045c4abcbd70d82b712ba293c83ce171dace54)
 - [c9f29b85f45f003543128a4ea780068293430d14](https://github.com/magento/magento2/commit/c9f29b85f45f003543128a4ea7

[2020-10-02 13:05] #29652 closed, assigned to nobody

[2020-10-02 13:05] magento-engcom-team commented on #30190
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30180 by @kolaente in 2.4-develop branch
Related commit(s):
 - [f01a8f5680e129246ee568f9810d22cd30abb1f2](https://github.com/magento/magento2/commit/f01a8f5680e129246ee568f9810d22cd30abb1f2)
 - [7955c8b16a990cd1acf603dd5b1819c6b16e99dc](https://github.com/magento/magento2/commit/7955c8b16a990cd1acf603dd5

[2020-10-02 13:05] #30190 closed, assigned to kolaente

[2020-10-02 13:05] magento-engcom-team commented on #29337
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29309 by @kodubovik in 2.4-develop branch
Related commit(s):
 - [f3c4042fa82d2bc8700a57c59bce0328d31726d8](https://github.com/magento/magento2/commit/f3c4042fa82d2bc8700a57c59bce0328d31726d8)
 - [d2c368b4487334f221f9aaa5610edc5b0313bafa](https://github.com/magento/magento2/commit/d2c368b4487334f221f9aaa5

[2020-10-02 13:05] #29337 closed, assigned to kodubovik

[2020-10-02 13:26] engcom-Alfa commented on #30288
Duplicate of #29719

[2020-10-02 13:27] engcom-Delta commented on #30310
Hi @ricaragao thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result** with export 200 customers:
![image](https://user-images.githubusercontent.com/51681379/94927974-a9e28900-04cb-11eb-8df2-323b23e07d09.png)
[export.csv.txt](https://github.com/magento/magento2/files/5318227/export.csv.txt)
[export.xml.txt](https://github.com/magento/magento

[2020-10-02 13:27] #30310 closed, assigned to engcom-Delta

[2020-10-02 13:30] engcom-Delta commented on #30309
Hi @45lailson thank you for your report
Please create issue according [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-10-02 13:30] #30309 closed, assigned to engcom-Delta

[2020-10-02 13:42] sdzhepa opened #30321 "TEST permission issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-10-02 13:48] dverkade commented on #19293
@engcom-Hotel, no need to test this as the issue has already been verified and reproduced.

[2020-10-02 14:19] engcom-Delta commented on #30291
Hi @Michael-073  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
![Peek 2020-10-02 17-16](https://user-images.githubusercontent.com/51681379/94933612-4e1bfe00-04d3-11eb-943c-e93d30ec50ed.gif)

If you'd like to update the issue, please reopen it.

[2020-10-02 14:19] #30291 closed, assigned to engcom-Delta

[2020-10-02 14:28] naitsirch commented on #30314
@wagento-rajan I have already created a PR for this issue ;-)

[2020-10-02 14:29] #30253 closed, assigned to sdzhepa

[2020-10-02 14:53] shinesoftware commented on #26582
We can confirm that saving a field to NULL doesn't set the custom field.

[2020-10-02 15:00] sidolov commented on #28211
Hi @himanshu8dev , it's expected behavior, the known issue will be fixed in the upcoming release. Since the issue is fixed in the develop branch I'm closing it since it's not relevant anymore. Thank you for your collaboration!

[2020-10-02 15:00] #28211 closed, assigned to himanshu8dev

[2020-10-02 15:05] hongtran90 opened #30323 "Search autocomplete does not show product"
Hi Guys,

i installed magento v2.3.3, and enabled elastic search 6+. but Search autocomplete does not show product.
i checked vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php
$this->searchResult->getItems() is null.

can you please check it?
Cheers!

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Scre

[2020-10-02 15:06] perfpcs commented on #29872
@hostep , yes I'm sure it added the 3 lines for me because previously the lines in the crontab were:

/usr/bin/php

then after we changed the server environment to php 7.4 when I ran the install command it added 3 lines all starting with:

/usr/bin/php7.4

[2020-10-02 15:11] ricaragao commented on #30310
@engcom-Delta , I downloaded your XML and it has more chars than mine. Do you think that are some config in Magento or PHP or OS to export work fine? Because I tested in two Magento's 2.3 here and both truncate the XML.

[2020-10-02 15:13] jesperbrejning commented on #27137
Hi,

We have the same issue:  "Item (Magento\Wishlist\Model\Item) with the same ID &quot;7237&quot; already exists."

[2020-10-02 16:14] hostep commented on #29872
Hi @perfpcs!

Just tested with a clean Magento 2.4.0, and it also only writes one line to the crontab.

Just FYI, the lines which are written to the crontab are defined in the file `vendor/magento/module-cron/etc/di.xml`.
- In Magento 2.3.5-p2 it looks like this: https://github.com/magento/magento2/blob/2.3.5-p2/app/code/Magento/Cron/etc/di.xml#L66-L79 (3 tasks, meaning 3 lines)
- In Magento 2.4.0

[2020-10-02 16:40] perfpcs commented on #29872
Hi @hostep , my di.xml file does only have the one line so I dont understand why it added the 3 but I'm sure it happened.
I did manually remove the 2 extra lines and now no more errors in my system.log.
Thank you very much for your help and input.

[2020-10-02 16:41] almr commented on #28092
tushhan, I am using Magento 2.3.5-p2 also and having the same problem. Any solution you found?
No way to find the issue, still struggling, it looks like attacks from hackers which made checkout dis-functional.

[2020-10-02 17:39] mekedron opened #30324 "Old video preview in Add Video modal"
### Preconditions (*)

1.  Magento 2.4-develop
2. `Magento_ProductVideo` is enabled

### Steps to reproduce (*)
Video: https://vimeo.com/464307297

1. Navigate to **Add New Product** page in backend
2. Open **Image And Videos** section
3. Click on **Add Video** button
4. Enter Vimeo or YouTube video URL in **Url** field and wait until the **Save** button is enabled
5. Click on **Save** button
6. C

[2020-10-02 17:39] durexlovesex commented on #30324
@magento give me 2.4-develop instance

[2020-10-02 17:52] sdzhepa opened #30325 "Test sync issue"
test

[2020-10-02 17:54] magento-engcom-team commented on #30325
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38184` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-02 18:57] LLudas commented on #28092
HELLO, everyone,
the easiest way is to move to Magento 2.4 this bug is fixed there.
Thank you everyone for solutions and answers.

[2020-10-02 19:52] chequille commented on #28092
Unfortunately, moving to 2.4.0 is not that easy as you say with all the new requirements like ElasticSearch !!!!

[2020-10-02 19:54] camachogfelipe commented on #28420
I have same issue in 2.3.5-p2

[2020-10-02 20:00] tushhan commented on #28092
Hi, just let you know. The problem we had was because of a wrong number of website (scope) given to products. Let’s say the default website has number 1 in product CSV, I have detected that the numbers were changed to 3 or 4 and some 0. I have corrected all by downloading inventory and changed settings correctly in csv and uploaded, after that we didn’t have problem.

I had this problem with one o

[2020-10-03 01:41] edenduong opened #30328 "Login As Customer Log - Logged In must be DateRange Filter instead of Text filter, Date display wrong timezone"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Customer -> Login as customer log

### Expected result (*)

1.

..
![image](https://user-images.githubusercontent.com/8234209/94980456-1d2fdd80-0554-11eb-848e-85e416e66b97.png)

2. Time zone converted
![image](https://user-images.githubusercontent.com/8234209/94980517-c7a80080-0554-11eb-964f-875cd8eaeb8d.png)

###

[2020-10-03 02:17] krishprakash commented on #30328
magento give me 2.4-develop instance

[2020-10-03 02:19] krishprakash commented on #30328
@magento give me 2.4-develop instance

[2020-10-03 02:36] magento-engcom-team commented on #30328
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38192` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-03 10:29] shikhamis11 commented on #26521
@magento give me 2.4-develop instance

[2020-10-03 17:55] danielpugh commented on #8770
still evident on 2.3.5-p2 via standard composer install
the two comments (fix and patch file) resolve the problem
it would be great if problems like this could be incorporated into the offical releases/code!

[2020-10-03 18:33] JamesTheHacker commented on #2996
Could somebody tell me why the theme gets set to virtual? I've just had this problem with 2.4 and it took me a while to solve. Changing the theme's type to `0` worked.

[2020-10-03 21:38] m2-assistant[bot] opened #30332 "[Issue] Improve dependency tests"
This issue is automatically created based on existing pull request: magento/magento2#30331: Improve dependency tests

---------
### Description (*)
Resolve issues of running Dependency Tests for not Github installation.
Add Tests Coverage for \Magento\TestFramework\Dependency\Route\RouteMapper.
Fix failed tests when Route Id and Front Name can be different in routes.xml

[2020-10-04 05:19] #29093 closed, assigned to sasha19957099

[2020-10-04 05:19] #29094 closed, assigned to sasha19957099

[2020-10-04 05:19] #29372 closed, assigned to pmarjan

[2020-10-04 11:10] in-session commented on #26901
Another addition which is certainly also necessary in the interaction of product types:
catalog_product_view_type_<type>_selectable_<Layout Name>.xml

Example:
catalog_product_view_type_bundle_selectable_Layout1.xml
catalog_product_view_type_bundle_selectable_Layout2.xml

[2020-10-04 11:27] frilogg commented on #17934
I have the same trouble causing Klarna Checkout not to load.

[2020-10-04 16:09] alakhdeveloper opened #30335 "PayPal IPN's not working correctly. Paypal showing Error 500"
### Preconditions (*)

1. Magento 2.3.5
2. PHP v7.3
3. Ubuntu 17.10

### Steps to reproduce (*)

Magento 2.3.5 seems to have a bug with the Paypal IPN.

When the customer place an order through checkout, the Credit Card order is processed through paypal. The order is created successfully as expected in the Magento backend and in paypal. This includes the payment record which captures the funds.

W

[2020-10-04 18:04] ThomasMW commented on #23834
This issue still persists in the latest release. I'm working on a Magento 2.4.0 instance and had to apply the 'disable the product_identities_extender plugin fix' to get rid of 503s on larger category page after increasing the values for http_resp_size and http_req_hdr_len had failed.

I had to disable the plugin in di.xml for 'Magento\ConfigurableProduct\Model\Plugin\Frontend\ProductIdentitiesExt

[2020-10-04 21:30] live4soccer7 commented on #3544
I'm on 2.3.5-p2 and the issue is still there.

[2020-10-05 02:52] maharzan86 commented on #30017
@magento  any updates on this?

[2020-10-05 04:15] huykon opened #30337 "[GraphQl] Get product reviews is not filter by store Id"
### Preconditions (*)

1. Magento 2.4.0
2. Configuration the site have least 2 storeviews.

### Steps to reproduce (*)

Irrespective of the store code passed to the graphql query in the headers - Product reviews which does not exist for other store are also returned.

1. Enabled Product Reviews from admin (Stores - Configuration - Catalog - Catalog - Product reviews)
2. Stores - Configuration - At

[2020-10-05 04:16] huykon commented on #30337
@magento I am working on this

[2020-10-05 04:39] ajijshekh123 commented on #30273
@magento give me 2.4-develop instance

[2020-10-05 05:17] ajijshekh123 commented on #30273
Hi @vpashovski,
I have verified this issue in default Magento 2.4 Instance. After uploading the icon on the HTML HEAD > Favicon icon section, the Proper icon is showing on the admin panel.

**PFA:**

![image](https://user-images.githubusercontent.com/24711761/95042596-0e822b80-06f8-11eb-8e8a-86cfa233d0ab.png)

Issue not reproduced in Magento 2.4 Instance. So let me close this issue. If you have fo

[2020-10-05 05:19] #30273 closed, assigned to ajijshekh123

[2020-10-05 06:01] krishprakash commented on #30280
Hi @jdubyaw. Issue is not clear from provided description.
Can you please provide more information with magento version,Steps to Reproduce,Expected and Actual Result as per [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) so it will helpful to reproduce the issue

[2020-10-05 06:29] hostep commented on #23834
According to the bèta release notes for Magento 2.4.1, it will be fixed in that version (is planned to be released on 15 October).

[2020-10-05 06:49] tuyennn commented on #26377
What is the current status of this major issue? The promise for the fix is about 9 months ago

[2020-10-05 07:00] ajayceymox opened #30339 "3D secure Error with BrainTree CreditCard payment method"
In  Magento 2.3.4, enabled and configured the payment method BrainTree Credit Card with 3D secure and it shows the error "Please try other form of Payment ". It is working sandbox (with 3D secure) and production mode (without 3D secure). Any idea to solve the issue?

[2020-10-05 07:13] ihor-sviziev commented on #30325
@sdzhepa I believe this is test issue, and we can close it already?

[2020-10-05 07:19] hostep commented on #26377
@tuyennn: It looks like it's coming in Magento 2.4.1 (15 October) according to the [bèta release notes](https://devdocs-beta.magento.com/guides/v2.4/release-notes/open-source-2-4-1.html):

[2020-10-05 08:11] dverkade opened #30341 "Custom option - Price can't be checked to "Use default store view""
### Preconditions
1. Magento 2.3.5-p1
2. Store with multiple store views

### Steps to reproduce
1. Have multiple store views setup.
2. Create a product with a custom option (see screenshot) and set the price of the product.
3. Switch to the store view level and change
4. Switch back to the default level and change the price of the custom option.
5. Switch back to the store view level, you'll noti

[2020-10-05 08:29] gabrieldagama commented on #26184
Closing this issue again, please, if you find evidence that the `search_tmp` is being used provide more details here and re-open the issue.

Thank you.

[2020-10-05 08:29] #26184 closed, assigned to gabrieldagama

[2020-10-05 08:33] Jedi88 opened #30342 "Duplicate Line Item for SKU on Order"
Magento 2.3.4 version

We are finding the same SKU appearing on a different line item on the sales/orders. This is causing issues with our integration and sales processing.

Behaviour - add SKU 1234 to cart then add 5679 to cart then add SKU 1234 to cart and checkout

We then see row 1 - 1234 , row 2 , 5679 , row 3 1234

[2020-10-05 08:43] ecompleteClem commented on #30342
## Summary:

When adding configurable product variants to cart, some of these items are not being merged correctly as a single line item. This causes issues later down the line when submitting order / quote information to external webservices.

## Information on our environment:

Magento 2.3.5-p1, PHP 7.3, MySQL 5.7, NGINX, Apache. Digital Ocean Droplet. SalesLayer PIM + Extension installed and sy

[2020-10-05 10:10] magent-harsh commented on #13952
Hello
we have facing same issue with after pay payment method get duplicate order with same product in magento 2.3.5
can you please give proper solution for that we have tried with all solution  above but no luck.

Thnak you

[2020-10-05 10:17] Hexmage opened #30343 "Setting custom price on bundle product causes wrong prices on attached simple products when reordering."
### Preconditions (*)

1. Magento 2.3.5-p2 and 2.4-develop

### Steps to reproduce (*)

1. Create an order containing a bundle product with a fixed price. Give the bundle a custom price.
2. Reorder the previous order

### Expected result (*)

1. The Reordered order is identical to the first order.

### Actual result (*)

1. The reordered order's products in the the bundle all receive the custom pr

[2020-10-05 10:22] Hexmage commented on #30343
When originally ordering the order the custom price is set after the simples are added to the quote. In case of a reorder this happens at the same time causing the custom price to be copied from the bundle to the simples.

This only causes issues if you use the info of the simple products in an order export. Which I'm doing.

[2020-10-05 10:24] Hexmage commented on #30343
The same happens when editing an order.

[2020-10-05 10:53] LDmnfx opened #30344 "Magento 2.3.2 don't want connect to Magento Marketplace. (or vice versa)"
### Preconditions (*)

1. version 2.3.2

### Steps to reproduce (*)

1. Make an account on https://marketplace.magento.com
2. Log in and buy any extension you want to use
3. Go to my profile > access keys > create a new access key
4. Log in to Magento backend
5. Go to system > web setup wizard > extension manager > submit
6. Copy paste the access keys created in step 3 and submit
7. always stays "

[2020-10-05 11:37] Robdebert commented on #28862
i think i already did this in my first post according to the template.
What is the progress here? Is anyone working on it? Or will it be part of a future version?

[2020-10-05 12:10] Hexmage commented on #30343
Turns out it happens with any product that has a parent.

[2020-10-05 12:26] m2-assistant[bot] opened #30345 "[Issue] [Fixed] - resolve issue with filter visibility with column visibility in grid"
This issue is automatically created based on existing pull request: magento/magento2#28385: [Fixed] - resolve issue with filter visibility with column visibility in grid

---------

### Description (*)

Magento 2.4-develop
I found one common issue which is available with most of the grid was Filter visibility does not work with column visibility.
So I have debugged and Found this solution.
I have

[2020-10-05 12:27] Hexmage commented on #30343
Potential fix for the issue.

\Magento\Quote\Model\Quote::addProduct

[code]

[2020-10-05 12:30] magento-engcom-team commented on #30345
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38200` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-05 12:34] magento-engcom-team commented on #30243
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38201` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-05 12:47] ihor-sviziev commented on #23908
Re-opening this issue. seems like it was closed without any reason.
CC @sidolov

[2020-10-05 13:23] vpashovski commented on #30273
Hi @ajijshekh123,
I can see that the Favicon from Default Store View is showing in admin panel from your image.
I'm expecting to see Magento default favicon in admin panel, not the one uploaded for Default Store View. This store view is for storefront not backend.
Correct me if I'm wrong but I think don't have to see storefront favicon in admin panel.

Thanks :)

[2020-10-05 13:27] magento-engcom-team commented on #30324
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38203` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-05 13:48] engcom-Delta commented on #30194
Hi @developer-macrew  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
No errors on page when it is loaded
![Peek 2020-10-05 16-45](https://user-images.githubusercontent.com/51681379/95087592-8f5a1b00-072a-11eb-90ae-88e5624e4e0c.gif)

[2020-10-05 13:48] #30194 closed, assigned to engcom-Delta

[2020-10-05 14:17] davekleijn opened #30347 "Bundle product options deleted incorrectly"
When creating a bundle product with more than 20 options, it is not possible to delete one option. All options that are not on the first page will be removed. Also an Javascript error is shown in the console log.

### Preconditions (*)
1. Magento 2.4.0
2. PHP 7.3.19

### Steps to reproduce (*)
1. Create a bundle product
2. Add more than 20 product options (important for getting multiple pages)
3.

[2020-10-05 15:36] mnatsakanyan commented on #15545
the same problem we have - any solution?

[2020-10-05 15:56] #3356 closed, assigned to ihor-sviziev

[2020-10-05 16:35] ihor-sviziev commented on #3356
FYI This issue was resolved by adjusting the docs and highlighting the applied priorities in https://github.com/magento/devdocs/pull/7977

[2020-10-05 22:02] magento-engcom-team opened #30349 "[PAP] Product filter with "category_id: {in: [...]}" does not work as expected"
Steps to reproduce:
- Create 2 categories with 1 product each
- run query to fetch products in those categories
[code]

Expected:
total_count should be 2, and items should contain 2 products

Actual:
total_count is 2, but items only contains 1 products

Some investigation:
Changes to \Magento\CatalogGraphQl\Model\Resolver\Products\SearchCriteria\CollectionProcessor\FilterProcessor\CategoryFilter::

[2020-10-05 22:02] magento-engcom-team commented on #30349
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35355

[2020-10-05 22:41] AntonLee commented on #10533
There are third party modules attempting to solve the issue. I've found two:

- [nathanjosiah/magento2-layout-debugger](https://github.com/nathanjosiah/magento2-layout-debugger)
- [vpietri/magento2-developer-quickdevbar](https://github.com/vpietri/magento2-developer-quickdevbar)

[2020-10-05 23:28] magento-engcom-team opened #30350 "[GraphQL] UpdateBundleProductsFromWishlist Web-API test fails with MariaDB"
Pre- condition:

I'm using the Luma storefront.

Side note: I can't find a way to return the uids of the entered options. I can retrieve the options, as shown in step 2. This might be due to lack of knowledge on my part.

1. Use the following mutation to add the configurable product to cart.

[code]

[2020-10-05 23:28] magento-engcom-team commented on #30350
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36930

[2020-10-06 04:44] ajijshekh123 commented on #30273
Hi @vpashovski,
Let me verify again the Default Magento document and Magento Configuration. If this issue is faced with your expectation I will reopen the issue and confirm it.

Thanks :)

[2020-10-06 05:14] prabhuram93 commented on #30350
@ranaprathapm-kensium we have an items_v2 under wishlist, which will return the specific variation of the product being added.

[2020-10-06 05:23] konarshankar07 commented on #30306
@magento I'm working on this

[2020-10-06 07:21] duckchip commented on #22587
What's the status of this ticket?

[2020-10-06 07:22] rickschippers commented on #22587
@duckchip my guess - it'll be as is, since the mysql search part has been removed in favor of elasticsearch in 2.4.

[2020-10-06 07:23] willtran commented on #28472
I believe I am seeing the same problem.
Found inconsistency here vendor/magento/module-quote/Model/Quote/Address.php:1031

**$request->setPackageValue($item ? $item->getBaseRowTotal() : $this->getBaseSubtotal());**

$this->getBaseSubtotal() should be $this->getBaseTotal() _**or**_

$item-getBaseRowTotal should be $item->getBaseSubtotal()

[2020-10-06 07:25] engcom-Hotel commented on #13400
Hello, @AntonEvers .
Closing the issue due to no activity. Feel free to reopen it if you still have it.
Thank you.

[2020-10-06 07:25] #13400 closed, assigned to engcom-Hotel

[2020-10-06 09:24] Horbarz commented on #5174
Pls I'm also getting same issue, I have spent over 24 hours debugging

[2020-10-06 09:26] rakeshvora commented on #4771
Hello,

I have one question. Why magento does not allow to edit an existing address during checkout?

Thanks
Rakesh Vora

[2020-10-06 09:28] Horbarz commented on #5174
Pls I'm also getting same issue, I have spent over 24 hours debugging

[2020-10-06 09:33] jonny55mag commented on #28614
If someone could help me along with the Rules that would be appreciated, struggling to get them to work

[2020-10-06 09:39] Flipmediaco commented on #28614
Assuming you mean CloudFlare Rules... There is not much to the rule really... You can email me via my contact details on my profile and I will send you what you need.

[2020-10-06 10:52] TonyRutherford1 commented on #27490
@engcom-Alfa Any update on this issue? Also have this issue.

[2020-10-06 10:59] tuyennn commented on #26377
@hostep Thank you for your information, great to know that. Were those related commits appeared on the 2.4-develop branch?

[2020-10-06 12:11] hostep commented on #26377
@tuyenn: according the "hidden" information in the release notes, these are done under ticket MC-35389:
<img width="639" alt="Screenshot 2020-10-06 at 14 10 32" src="https://user-images.githubusercontent.com/85479/95199868-c9d0c000-07dd-11eb-91c2-b25f90500fb7.png">

But I can't find any commits yet on the 2.4-develop branch which mention that ticket. So I assume they'll only publish these when 2.4

[2020-10-06 12:17] kamorana commented on #5464
If anyone else is looking for an answer for that. n98-magerun has a directory parameter. With that you can choose the directory to scan.

`$ n98-magerun2.phar i18n:collect-phrases --skip-config vendor/amasty -o lang/lang.csv`

[2020-10-06 12:26] eduard13 commented on #28586
Hi @prabhuram93, looks like registrants was not included as input when creating a new gift registry. Any reasons of doing so?
If we check the frontend, we might see that the `registrant` can be used on creating.
![Xnip2020-10-06_09-21-13](https://user-images.githubusercontent.com/15868188/95201078-14573a00-07e8-11eb-8f73-da685e8df3f6.jpg)
Current schema: https://github.com/magento/architecture/pul

[2020-10-06 12:36] nrkapoor commented on #28586
@eduard13 here is the final schema https://github.com/magento/architecture/blob/master/design-documents/graph-ql/coverage/customer/gift-registry.graphqls

[2020-10-06 12:38] magento-engcom-team commented on #29719
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38231` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-06 12:41] eduard13 commented on #28586
Thanks @nrkapoor for the final schema, will review it. As per my understanding, we'll be adding the registrants within a separate mutation `addGiftRegistryRegistrants` 😕.

[2020-10-06 12:57] magento-engcom-team commented on #30064
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38233` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-06 13:49] sdzhepa commented on #26531
Hello @nickpiro

We are not able to reproduce this issue on the 2.4 version.
Seems it was fixed.

[2020-10-06 13:49] #26531 closed, assigned to gulshanchitransh

[2020-10-06 13:51] sdzhepa commented on #27174
Hello @webamondo

We are not able to reproduce the issue on the latest 2.4.x version.
Seems it was fixed

[2020-10-06 13:51] #27174 closed, assigned to nobody

[2020-10-06 13:57] engcom-Oscar commented on #30197
Fixed https://github.com/magento-tsg/inventory/tree/MC-38000

[2020-10-06 13:57] #30197 closed, assigned to krishprakash

[2020-10-06 14:27] OvalMedia commented on #30204
Really? That's it? "It's in the docs, so there is no need to question it"?

[2020-10-06 15:09] freakpol opened #30353 "Is there a way to extend "Magento_Sales/order/create/scripts" (adminhtml) using mixins?"
I-ve tried the usual way of using mixins for that particular file with no success.
Is there any reason that file can not "mixin"ed???

I-m using Magento 2.3.5

[2020-10-06 15:16] Michael-073 commented on #30291
I found that the error reports were not being generated while investigating the download process.
I resolved the by copying the working code from the repository and updating the file "vendor\magento\module-import-export\Model\Report\Csv.php"

Inside the csv.php file is the method createReport. I replaced the contents of this method with the following code obtained from the current magento reposito

[2020-10-06 15:34] rmanor1 commented on #25960
Hello, this should probably be closed as we've deprecated the Google Shopping ads Channel, and the [service was shut down ](https://docs.magento.com/user-guide/sales-channels/google-eol.html)as of Apr 28th.

[2020-10-06 15:35] rmanor1 commented on #25506
Hello, this should probably be closed as we've deprecated the Google Shopping ads Channel, and the [service was shut down ](https://docs.magento.com/user-guide/sales-channels/google-eol.html)as of Apr 28th.

[2020-10-06 15:35] rmanor1 commented on #25347
Hello, this should probably be closed as we've deprecated the Google Shopping ads Channel, and the [service was shut down ](https://docs.magento.com/user-guide/sales-channels/google-eol.html)as of Apr 28th.

[2020-10-06 15:35] rmanor1 commented on #25028
Hello, this should probably be closed as we've deprecated the Google Shopping ads Channel, and the [service was shut down ](https://docs.magento.com/user-guide/sales-channels/google-eol.html)as of Apr 28th.

[2020-10-06 15:35] rmanor1 commented on #24944
Hello, this should probably be closed as we've deprecated the Google Shopping ads Channel, and the [service was shut down ](https://docs.magento.com/user-guide/sales-channels/google-eol.html)as of Apr 28th.

[2020-10-06 15:38] #25960 closed, assigned to nobody

[2020-10-06 15:38] #25506 closed, assigned to nobody

[2020-10-06 15:38] #25347 closed, assigned to nobody

[2020-10-06 15:38] #25028 closed, assigned to nobody

[2020-10-06 15:38] #24944 closed, assigned to madhurajawat

[2020-10-06 15:56] nathanjosiah commented on #26377
Due to our release cycles and code freeze dates these changes had no choice but to go to 2.4.1. I just checked the mentioned internal ticket MC-35389 (and several other directly related tickets) and the commits were delivered to our internal private branches so unfortunately it looks like they will not be available until the public release.

As for 2.3.x I do not have an ETA right now but we are w

[2020-10-06 15:58] Flipmediaco commented on #28239
The wording "Hide from Product Page" implies the setting will only hide the image from the product page, but allowing the image to be used on the category listing page, wish list, compare, basket, any other use that is not product page... The original behaviour of only suppressing display of the image in the product page gallery is in line with the wording.

The optimisation of not generating imag

[2020-10-06 16:06] gwharton commented on #28239
The catalog:images:resize routine seems to have been butchered a bit lately, but the way I see it, there are two recent changes that would have been better suited to command line arguments to make them optional, than making it work the same for everyone.

--skip-hidden-images = Do not process images marked as hidden from product page
--skip-if-exists = Do not process an image, if it already exists

[2020-10-06 16:29] gabrieldagama commented on #9186
Duplicate of https://github.com/magento/magento2/issues/26484

[2020-10-06 16:29] #9186 closed, assigned to nobody

[2020-10-06 16:42] sb-nick commented on #28614
@scottbolasevich Not a helpful comment. M2 is plenty good and powered in Commerce Cloud it's pretty awesome. Plenty of carts are susceptible to carding attacks, not just Magento. As noted above, folks should be contacting their reps for help as I did. If you raise the flag to those that can help you, things can get done. Magento announced a upcoming patch for recaptcha in checkout and api.

I will

[2020-10-06 16:44] gabrieldagama commented on #8211
These API is deprecated, please have a look at the documentation below to get more details on the new APIs that should be used instead:
https://devdocs.magento.com/guides/v2.4/inventory/index.html
https://devdocs.magento.com/guides/v2.4/inventory/catalog-inventory-replacements.html

Thanks.

[2020-10-06 16:44] #8211 closed, assigned to nobody

[2020-10-06 16:55] prabhuram93 commented on #28586
@eduard13 I see your point. I think we should have the ability to add registrant while creating a registry. I will work on updating the schema. Please reach out to me if you already have some suggestions. Thanks!

[2020-10-06 17:01] scottbolasevich commented on #28614
@sb-nick your right im just venting my never ending frustrations with m2.. your comment is indeed helpful we will be doing something similar for all of our clients. Thanks for the extra details thou!

[2020-10-06 17:16] hardyjohnson commented on #26377
@nathanjosiah thanks for the update, any chance this could be released through the Magento Quality patches channel for 2.3.x?

[2020-10-06 17:18] lano-vargas commented on #21364
This is still an issue on 2.4, has not got any updates for this here:https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Eav/Model/TypeLocator/SimpleType.php

Is this the new way for sending setting multiselect attribute can someone comfirm?

Thanks

[2020-10-06 17:44] espressobytes commented on #25534
Anything new to this issue?

[2020-10-06 18:11] sdzhepa commented on #26808
Unfortunately, we are not able to reproduce this issue.
Extension yotpo was updated multiple times on the marketplace (current version is 3.1.2) and probably it was already fixed.
Also through this public report, we can deliver/collaborate a PR with fix only to 2.4.x  Magento.

[2020-10-06 18:11] #26808 closed, assigned to nobody

[2020-10-06 18:21] sdzhepa commented on #26366
Due to the response from Klaran, it is not a bug but expected behavior. Related internal jira `BUNDLE-2770`
The filed company is not supported during guest checkout.
Also when user tries  to use it notification message is shown
![qweqweqweqweq](https://user-images.githubusercontent.com/3409584/95243758-b4a46300-07d6-11eb-8370-14e1aa779379.jpg)

[2020-10-06 18:21] #26366 closed, assigned to engcom-Charlie

[2020-10-06 18:30] sdzhepa commented on #26573
Based on the response from Dotdigital (owner of this extension)

After a couple of internal discussions and investigation was defined it is not a bug but not a supported the case.
At this moment Magento does not support partial disable of the module. Please disable all modules related to the extension.
Also, there are no plans to implement and support such case at this moment.

[2020-10-06 18:30] #26573 closed, assigned to nobody

[2020-10-06 18:40] sdzhepa commented on #25979
Magento stops supporting of Temando module. Please see more details https://magento.com/shipping
Long story short:
- The extension owner does not work and support this module anymore.
- Magento will support "_existing customers until November 15, 2020_" only through the support channel associated with your Magento account.
- In the internal Magento backlog there is a ticket to completely remove Te

[2020-10-06 18:40] #25979 closed, assigned to nobody

[2020-10-06 18:40] sdzhepa commented on #25518
Magento stops supporting of Temando module. Please see more details https://magento.com/shipping
Long story short:
- The extension owner does not work and support this module anymore.
- Magento will support "_existing customers until November 15, 2020_" only through the support channel associated with your Magento account.
- In the internal Magento backlog there is a ticket to completely remove Te

[2020-10-06 18:40] #25518 closed, assigned to sanjay-wagento

[2020-10-06 18:40] sdzhepa commented on #25092
Magento stops supporting of Temando module. Please see more details https://magento.com/shipping
Long story short:
- The extension owner does not work and support this module anymore.
- Magento will support "_existing customers until November 15, 2020_" only through the support channel associated with your Magento account.
- In the internal Magento backlog there is a ticket to completely remove Te

[2020-10-06 18:40] #25092 closed, assigned to nobody

[2020-10-06 18:43] sdzhepa commented on #28742
The Issue has been fixed and included in the 2.3.6 Magento release.

[2020-10-06 18:43] #28742 closed, assigned to nobody

[2020-10-06 18:45] sdzhepa commented on #25927
Hello, this should probably be closed as we've deprecated the Google Shopping ads Channel, and the [service was shut down ](https://docs.magento.com/user-guide/sales-channels/google-eol.html)as of Apr 28th.

[2020-10-06 18:45] #25927 closed, assigned to sdzhepa

[2020-10-06 19:12] magento-engcom-team commented on #30036
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38249` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-06 19:32] sdzhepa commented on #12301
Closed as cannot reproduce

[2020-10-06 19:32] #12301 closed, assigned to chohanbhagchand, vimal-ranosys

[2020-10-06 19:51] forcecodema commented on #23958
The problem with Bulk Actions is still present in 2.4
If you try to bulk change product attributes it doesn't work - it creates new entry in Bulk Actions Log but doesn't create operation units. Solution given above by @duckchip with additional line of code:

`$this->entityManager->save($operation);`

solves the problem for admin panel, but introduces another with bulk actions via REST API asynchro

[2020-10-06 19:52] sivaschenko commented on #11995
Priority set to P2 as the issue apparently blocks using category images with a database storage

[2020-10-06 19:53] sivaschenko commented on #11995
@sergey-solo are you still working on this issue?

[2020-10-06 20:13] hostep commented on #5464
@kamorana: please don't spread incorrect information, magerun2 inherits the `i18n:collect-phrases` command from `bin/magento` and adds no new functionality on top. The optional `directory` argument is also available in `bin/magento i18n:collect-phrases`.

[2020-10-06 20:39] sdzhepa commented on #29469
@engcom-Alfa @engcom-Bravo @engcom-Delta

Could you please check and confirm if the issue actual for `2.4-develop`

[2020-10-06 20:44] prabhuram93 commented on #28586
@eduard13 created a proposal for the above here https://github.com/magento/architecture/pull/448, this should work. We can discuss concerns, if any, there. Thanks!

[2020-10-06 21:06] hostep commented on #23958
@forcecodema, https://github.com/magento/magento2/pull/29814 should fix the status of job issues in 2.4.0 if I understand it correctly (see https://github.com/magento/magento2/issues/29718 or https://github.com/magento/magento2/issues/29797 for more info).

[2020-10-06 22:20] magento-engcom-team commented on #22375
Hi @ioweb-gr. Thank you for your report.
The issue has been fixed in magento/magento2#28809 by @tdgroot in 2.4-develop branch
Related commit(s):
 - [5fd973325272198f1644c2f4be15490acc0d5518](https://github.com/magento/magento2/commit/5fd973325272198f1644c2f4be15490acc0d5518)
 - [4d801c57e0c3774a28017b034066be5bf5965976](https://github.com/magento/magento2/commit/4d801c57e0c3774a28017b034066be5bf59

[2020-10-06 22:20] #22375 closed, assigned to tdgroot

[2020-10-06 22:20] magento-engcom-team commented on #29555
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27940 by @fredden in 2.4-develop branch
Related commit(s):
 - [158582ac38e7749771a5acf3997a6e97ee258e7a](https://github.com/magento/magento2/commit/158582ac38e7749771a5acf3997a6e97ee258e7a)
 - [2ce21168514a6f03410cedb730bb6ad083891394](https://github.com/magento/magento2/commit/2ce21168514a6f03410cedb730

[2020-10-06 22:20] #29555 closed, assigned to fredden, engcom-Delta

[2020-10-06 22:20] magento-engcom-team commented on #30345
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28385 by @niravkrish in 2.4-develop branch
Related commit(s):
 - [0a0c8e4e104de06c1f20a91a919f725b07a759a0](https://github.com/magento/magento2/commit/0a0c8e4e104de06c1f20a91a919f725b07a759a0)
 - [2f0a4d8564f8193673c81838938441f69e07ce75](https://github.com/magento/magento2/commit/2f0a4d8564f8193673c8183

[2020-10-06 22:20] magento-engcom-team commented on #30345
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28385 by @niravkrish in 2.4-develop branch
Related commit(s):
 - [0a0c8e4e104de06c1f20a91a919f725b07a759a0](https://github.com/magento/magento2/commit/0a0c8e4e104de06c1f20a91a919f725b07a759a0)
 - [2f0a4d8564f8193673c81838938441f69e07ce75](https://github.com/magento/magento2/commit/2f0a4d8564f8193673c8183

[2020-10-06 22:20] #30345 closed, assigned to niravkrish

[2020-10-06 23:53] jas8522 opened #30354 "When creating product configuration, if adding new attribute fails, no error is shown"
### Preconditions (*)

Magento 2.4.0. There must be some problem with product attributes such that adding new ones fails. In my case there were duplicate attributes.

### Steps to reproduce (*)
1. Create a product attribute set called "size"
2. Add any number of attributes to this set and ensure that there is at least one duplicate (probably due to migration)
3. Ensure the attribute shows up when

[2020-10-07 01:28] xmav commented on #30292
Hi!
This folder created by https://github.com/magento/composer-root-update-plugin which is bundled in 2.3.6

[2020-10-07 03:36] VivekShingala commented on #23156
We are on Magento 2.3.5-p2 and facing the same issue with pipe separator for multi values. Is there any workaround for this issue?

[2020-10-07 04:06] davidduong90 commented on #25550
After some hours debug and check files debug.log, exception.log, payment.log, I found the issue is     `Numeric value out of range: 167 Out of range value for column 'sequence_value' at row 1, query was: INSERT INTO `sequence_invoice_1` () VALUES ()`

Then I go to table sequence_invoice_1 and have changed type of "sequence_value" from int(10) to bigint(20). Now, it works fine.

Our customer have a

[2020-10-07 04:12] davidduong90 commented on #15427
In my case, after some hours debug and check files debug.log, exception.log, payment.log, I found the issue is     `Numeric value out of range: 167 Out of range value for column 'sequence_value' at row 1, query was: INSERT INTO `sequence_invoice_1` () VALUES ()`

Then I go to table sequence_invoice_1 and have changed type of "sequence_value" from int(10) to bigint(20). Now, it works fine.

Our cus

[2020-10-07 04:34] krishprakash commented on #30353
Hi @freakpol.
GitHub issue tacker is intended for Magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [Magento stack exchange](https://magento.stackexchange.com/) for discuss about this topic
Thanks!!

[2020-10-07 04:34] #30353 closed, assigned to krishprakash

[2020-10-07 06:14] shyam100379 commented on #29544
Hello there,

This issue is there in Magento ver. 2.3.3 as well. All other attributes are updating other than this two:  Enable Qty Increments and Qty Increments via bulk attibute update.
I would like to know whether any patches are available to solve this for old M2 versions.

Please help.