[2018-07-21 18:44] magento-engcom-team commented on #16990
Hi @denistrator. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-21 20:39] orlangur commented on #16990
Issues related to documentation must be reported in [corresponding repo](https://github.com/magento/devdocs).

[2018-07-21 20:39] #16990 closed, assigned to nobody

[2018-07-21 20:41] orlangur commented on #16989
@denistrator could you propose a PR maybe? This is the best way to propose and discuss some changes, there is even no need to report an issue in advance.

[2018-07-21 20:43] denistrator commented on #16990
@orlangur I didn't know about this repo. Thank you

[2018-07-21 20:46] orlangur commented on #16970
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. Also, googling observed error is usually helpful.

@SCush, it seems that https://stackoverflow.com/a/730600 is what you are looking for.

[2018-07-21 20:46] #16970 closed, assigned to nobody

[2018-07-21 20:47] denistrator commented on #16989
@orlangur ok, I make a PR with changes from my "solution". The thing is that it's a bug from my point of view and I'm not sure Magento devs think the same way as I do

[2018-07-21 21:01] orlangur commented on #16989
@denistrator your proposal looks perfectly valid to me, I believe @VladimirZaets is the right person to review your PR.

[2018-07-21 23:47] Ctucker9233 commented on #16950
@magento-engcom-team I confirm this happens on vanilla Magento

[2018-07-22 00:32] terrybakshi commented on #16868
**Preconditions**
Magento 2.2.3
This hasn't been happening since Magento 2 was launched
PHP 7.1.12
MySQL 5.0.12
**Steps to reproduce**
Login to Admin Panel
Store Configuration  -> Catalog -> Inventory
**Product Stock Option**
Notify for Quantity Below is set to 5
Save Config
No Email is been Sent to admin when the quantity of any product goes below 5
**Expected result**
Admin should receive an ema

[2018-07-22 06:04] alen9788 commented on #7930
It does still exist for the latest CE 2.2.5 when will it be fixed?

[2018-07-22 13:34] patelnimesh1988 commented on #16531
Implement below file changes and try

[2018-07-22 14:42] snoroozi commented on #14667
Any new updates to this issue. I tried @dankos51 solution but didn't seem to do anything in my case.

[2018-07-22 16:55] arnoudhgz commented on #15931
@engcom-backlog-nickolas are you sure you need to fix this by setting `minOccurs` from "1" to "0"? Should the developer just not create the events.xml file since no events are added?

The `crontab.xsd` also has the `minOccurs` set to "1" for the `group` element in the `config` part. Maybe the `di.xml` should have a more strict xsd to require at least one `preference`, `type` or `virtualType`.

I t

[2018-07-22 19:31] maierb commented on #10454
Bump

[2018-07-23 00:47] PivitParkour94 opened #17008 "Core Colorpicker JS doesn't work with RequireJS"
### Preconditions

1. Magento 2.2.x
2. Mysql  Ver 15.1 Distrib 10.2.15-MariaDB, for Linux (x86_64) using readline 5.1
3. PHP 7.0.30
4. RequireJS 2.1.11

### Steps to reproduce

1. Create a javascript file that requires the colorpicker used in the core (under the product attribute Visual Swatch in the admin panel)
[code]

### Expected result

1. Should see a message in the console that says "requir

[2018-07-23 00:48] magento-engcom-team commented on #17008
Hi @PivitParkour94. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-23 00:56] PivitParkour94 commented on #17008
@magento-engcom-team give me 2.2.5 instance

[2018-07-23 00:56] magento-engcom-team commented on #17008
Hi @PivitParkour94. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-23 00:57] magento-engcom-team commented on #17008
Hi @PivitParkour94, here is your [Magento instance](https://i-17008-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17008-2-2-5.engcom.dev.magento.com/admin](https://i-17008-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-23 01:00] PivitParkour94 commented on #17008
This issue is a file bug, not a system config bug so I can't test it without ssh access or something, which I imagine is outside the possibilities of this automation.

Its super cool, but we'll probably have to get a human to look at this. I'll make a PR for the fix.

[2018-07-23 01:37] leonhelmus commented on #8854
Still a problem. If the link has http://localhost/magento/project-community-edition it does nothing when adding to cart. If you change http://localhost/magento/project-community-edition to http://127.0.0.1/magento/project-community-edition it works again. Hope this helps some people.

I use Magento ver. 2.2.5, XAMPP.

[2018-07-23 01:50] PivitParkour94 commented on #17008
I should probably also say that you can't even bypass this by defining a path for the colorpicker in requirejs-config. The error is still being thrown without the string ID.

[2018-07-23 05:52] engcom-backlog-nazar commented on #16265
@albertoedigital  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-23 05:52] #16265 closed, assigned to nobody

[2018-07-23 05:53] engcom-backlog-nazar commented on #16089
@Toregam , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-23 05:53] #16089 closed, assigned to nobody

[2018-07-23 05:54] engcom-backlog-nazar commented on #15937
@jfain189  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-23 05:54] #15937 closed, assigned to nobody

[2018-07-23 05:54] engcom-backlog-nazar commented on #15932
@vasudevsundar  , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-23 05:54] #15932 closed, assigned to nobody

[2018-07-23 06:14] engcom-backlog-nazar commented on #14623
Hi @k4emic , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-23 06:18] engcom-backlog-nazar commented on #14500
hi @n1cehua1991 which  version you tested ?

[2018-07-23 06:41] mattkrupnik commented on #7441
Someone has any solution for Magento 2.2.5?

[2018-07-23 06:43] emiprotech commented on #16201
Can you inform here which files need to be modify in Magento 2.2.4. ?

[2018-07-23 06:45] engcom-backlog-nazar commented on #14535
Hi @ash-b i cannot reproduce by your scenarios steps, can you show the csv file ?

[2018-07-23 06:59] engcom-backlog-nazar commented on #14561
Hi @priti-rathi  I cannot reproduce by your's scenarios steps, can you show the csv file ?

[2018-07-23 07:05] n1cehua1991 commented on #14500
Magento ver. 2.1.9

[2018-07-23 07:10] engcom-backlog-nickolas commented on #16989
Hello @denistrator, thank you for your report. According to this comment https://github.com/magento/magento2/issues/11098#issuecomment-334392989 described behaviour is correct one.

[2018-07-23 07:10] #16989 closed, assigned to nobody

[2018-07-23 07:13] engcom-backlog-nickolas commented on #16976
Hello @shochdoerfer, thank you for your report. GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-23 07:13] #16976 closed, assigned to nobody

[2018-07-23 07:19] lombokindustries opened #17010 "Product price always be removed in every 3 digits/thousand"
Hi Masters.

I am using magento 2.1.10, and using IDR(Rp.) as currency, I have an issue in product price, for example:
I input Rp.2000000 then save -> Rp. 2,000,000 .. the problem come when I update or save it for the 2nd time, the price is going to be Rp. 2
I input Rp.2500000 -> Rp.2,500,000.. when update -> Rp.2,5
Only price I never changed, it changed by itself..

[2018-07-23 07:19] magento-engcom-team commented on #17010
Hi @lombokindustries. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-23 07:24] #16979 closed, assigned to nobody

[2018-07-23 07:28] #15674 closed, assigned to nobody

[2018-07-23 07:30] engcom-backlog-nickolas commented on #16976
@shochdoerfer, thank you.

[2018-07-23 07:34] engcom-backlog-nickolas commented on #16262
@ersansan,I'm closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-23 07:34] #16262 closed, assigned to nobody

[2018-07-23 07:36] engcom-backlog-nickolas commented on #16602
@msawyers, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-23 07:36] #16602 closed, assigned to nobody

[2018-07-23 07:37] nopenopenope commented on #15931
@arnoudhgz

Whatever way they choose, it should be unified. Right now there can be empty XMLs, but no empty events.xml.

[2018-07-23 08:00] denistrator commented on #16989
@vkublytskyi Hi. Is it expected behavior to not be able to override **all** less variables in `_theme.less`?

For example: I want to style my custom component in <Magento_Module> and I don't want to change default styles (styles in `_module.theme`). So I create `_extend.less` with styles for my "custom component" and some less variables to control its styles. Now I want to change these variables i

[2018-07-23 08:01] engcom-backlog-nickolas commented on #17010
Hello @lombokindustries, thank you for your report. I cannot reproduce this issue.
![peek 2018-07-23 11-03](https://user-images.githubusercontent.com/40755810/43064502-c592c2e6-8e67-11e8-912a-07f05e93fb08.gif)

Could you please correct my steps or add more details to this issue?

[2018-07-23 08:03] engcom-backlog-nazar commented on #14313
Hi @EirikSl  The easiest way to add simple styling to a magento 2 store is to add your code here:

ADMIN > CONTENT > Design > CONFIGURATION

Click Edit for the appropriate view (global, website or store) and Theme (in your case Luma):

Open tab HTML Head, under Scripts and Style Sheets, you can add the following:

<style type="text/css">
@media (min-width: 768px), print {
 .page-header {
   backgr

[2018-07-23 08:14] engcom-backlog-nazar commented on #14500
@n1cehua1991  the fix for this issue has already been in  2.2.5 release

[2018-07-23 08:52] engcom-backlog-pb commented on #15664
@tizzyguy87, closing this as a duplicate.

[2018-07-23 08:52] #15664 closed, assigned to nobody

[2018-07-23 09:08] engcom-backlog-pb commented on #16806
@Swahjak, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-23 09:12] simonmaass commented on #7350
I am having the exact same problem as described above! I am using magento 2.2.5!

The only difference that i can see between the products that exportet fine and the ones that have dublicates is the field "custom_options" - it looks like prducts with custom options get wrong export with dublicate products

![image](https://user-images.githubusercontent.com/32599710/43067975-5900890e-8e69-11e8-8a43-

[2018-07-23 09:14] simonmaass commented on #4531
I am having the exact same problem as described above! I am using magento 2.2.5!

The only difference that i can see between the products that exportet fine and the ones that have dublicates is the field "custom_options" - it looks like prducts with custom options get wrong export with dublicate products

![image](https://user-images.githubusercontent.com/32599710/43068056-98d56d42-8e69-11e8-9c32-

[2018-07-23 09:18] n1cehua1991 commented on #14500
@engcom-backlog-nazar  Do I have to do a version upgrade？

[2018-07-23 09:32] vkublytskyi commented on #16989
@denistrator Hi. Yes, it is expected behavior. As described at [DevDocs](https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/css-guide/css_quick_guide_approach.html):

What probably is missed in DevDocs is that `_extend.less` always have precedence over `_theme.less`. This what needed to be learn and use to achieve desired look and feel. It is how Magento behave. Changing it may break all e

[2018-07-23 09:50] engcom-backlog-nazar commented on #14651
Hi @SchnackSchnick the all->  means all store example -> DELETE HOST/rest/store_code/V1/products/newpicture/media/10

[2018-07-23 09:50] #14651 closed, assigned to nobody

[2018-07-23 10:01] lombokindustries commented on #17010
Yes, like that. but in my case when I save it in the 2nd, those 6 zero automatically removed, to be IDR 2.. I have no idea which module that should be fixed.

[2018-07-23 10:10] engcom-backlog-pb commented on #16779
@magefan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-23 10:14] korostii commented on #6302
Hi @magento-engcom-team,

As far as I can see, there's a number of commits and corresponding PRs fixing this issue, most notably 2e70f00 (for `2.3.x` branch) and 118c86c (backport for `2.2.x` branch)

However, the `2.1.x` branch does NOT seem to contain this fix as of latest (2.1.14) patch version.
Please the below file to see that the file discussed above still doesn't contain a name attribute:
h

[2018-07-23 10:20] lombokindustries commented on #17010
the first issue from Currency format is like 2,000,000,00. Decimal using ,00 not .00, so I removed it using Lilik PriceDecimal Modul.. maybe this is the bug. I also tested this case in magento 2.2.5, everything's fine like your demo.

[2018-07-23 10:32] engcom-backlog-nazar commented on #14588
Hi @raymond62 , thank you for your report. GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-23 10:32] #14588 closed, assigned to nobody

[2018-07-23 10:36] engcom-backlog-pb commented on #14682
@densen45, maybe the problem is caused by some custom module. Anyway, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-23 10:36] #14682 closed, assigned to nobody

[2018-07-23 10:45] engcom-backlog-nickolas commented on #17010
@lombokindustries, thank you for feedback. I'm closing this issue as GitHub issue tracker is intended for Magento Core technical issues only.
If you'd like to update it, please reopen the issue.

[2018-07-23 10:45] #17010 closed, assigned to nobody

[2018-07-23 11:09] engcom-backlog-nickolas commented on #15065
Hello @nbennett25, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-23 11:15] wedob13 opened #17021 "PHP mem error after updating from 2.1.x to 2.2.x"
Hello all,
i am trying to update a magento 2.1.x to 2.2.x ,

Unfortunately after i finish the update trying to run any kind of command i get
PHP Fatal error:  Allowed memory size of 4294967296 bytes exhausted

The problem is not php confs because whatever the mem size is it seems like a leak, it eats everything.
I tried running upgrade,cache clean, deploy everything gets a php fatal error.

I trie

[2018-07-23 11:15] magento-engcom-team commented on #17021
Hi @wedob13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-23 11:16] engcom-backlog-pb commented on #16906
@waymanxie, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-07-23 11:16] #16906 closed, assigned to nobody

[2018-07-23 11:18] engcom-backlog-pb commented on #16454
Duplicate of #14674

[2018-07-23 11:18] #16454 closed, assigned to nobody

[2018-07-23 11:28] #15054 closed, assigned to nobody

[2018-07-23 11:36] josephmcdermott opened #17023 "CSV Import of `sku,attribute` empties `url_key` value"
### Preconditions
1. Magento 2.2.5 installation with a product created.

### Steps to reproduce
1. Import a partial CSV with just `sku,description` columns.
2. Check the Product to find its URL Key is gone.

### Expected result
1. URL Key should not be altered if it wasn't included in the CSV.

### Actual result
1. URL Key is changed to empty.
2. See \Magento\CatalogImportExport\Model\Import\Produ

[2018-07-23 11:36] magento-engcom-team commented on #17023
Hi @josephmcdermott. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-23 11:42] TommyKolkman commented on #11821
We have the same. I've tried contacting the Shopial support, but they couldn't find the issue too. On 2.2.5 too.

[2018-07-23 11:46] Tjitse-E commented on #16202
We've had the same problem on one of our multistores. We solved it with [iazel/regenurl](https://github.com/peterjaap/magento2-regenurl), the module contains two console commands that help you fix it. More info about the fix [here in the readme](https://github.com/Tjitse-E/magento2-regenurl).

[2018-07-23 11:51] hostep commented on #16202
@Tjitse-E: quickly looking through the code, I can't see it fixing values in the `catalog_category_entity_varchar` table (`url_path` attribute), it looks like it only generates correct url rewrites, but doesn't fix incorrect data in the database. The end result is probably correct, but I'd like the data in the database to be correct as well :)

[2018-07-23 11:55] engcom-backlog-nazar commented on #14848
Hi @Detzler thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-23 11:55] engcom-backlog-nazar commented on #14713
Hi @ankursachdeva11 thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-23 12:00] DavaGordon commented on #11526
I had a similar issue just and was down to a carrage return in a layout file

By chaning from
[code]

to

[code]

The error dissapeared very strange but i have seen this on a number of occasions not only this issue but generation issues

[2018-07-23 12:03] engcom-backlog-nazar commented on #14848
Hi @Detzler  this is dublicate for https://github.com/magento/magento2/issues/15852

[2018-07-23 12:03] #14848 closed, assigned to nobody

[2018-07-23 12:24] engcom-backlog-nazar commented on #14767
Hi @depakmurthy i cannot reproduce, the problem on php extensions please check your php.ini file

[2018-07-23 12:40] joachimVT commented on #13983
I'm having the same issue in Magento ver. 2.2.5

[2018-07-23 12:41] engcom-backlog-nazar commented on #14773
Hi @igoreus-barmaleus I cannot reproduce by yours scenario steps
![selection_033](https://user-images.githubusercontent.com/40756439/43077027-e8a5c310-8e8e-11e8-91fd-c75fce62fafb.png)

[2018-07-23 12:42] Kjellmann commented on #6382
@AnjaliReddy123 Just as you would normally do when overriding templates. Add Magento_Swatches/etc/view.xml to your theme.

[2018-07-23 12:43] #14773 closed, assigned to nobody

[2018-07-23 12:51] engcom-backlog-pb commented on #17023
@josephmcdermott, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-23 12:57] EliasKotlyar commented on #15245
Here is a slightly modified version for everyone who dont want to wait until 2.3:
/vendor/magento/framework/Locale/Resolver.php

[code]
Its a little bit better than the solution from @NicoDG , because there are no hardcoded stores. Still a bad core hack

[2018-07-23 12:58] EliasKotlyar commented on #15205
I posted a solution for everyone who are not patient enough to wait until 2.3 here:
https://github.com/magento/magento2/issues/15245

[2018-07-23 13:01] engcom-backlog-nickolas commented on #17008
@PivitParkour94, sorry, looks like I've not correctly reproduced this issue initially.
Could you please provide more details?

[2018-07-23 13:06] lfritsche opened #17024 "Custom widget: included on cms page - vs. layout update // difference? (issue: CMS - no output)"
### Preconditions

1. Magento 2.2.5
2. PHP 7.1

### Steps to reproduce

1. Created Custom Widget according to e.g.: https://www.cloudways.com/blog/magento-2-custom-widget/
2. Create new CMS page (Empty Layout)
3. insert widget {{}}

### Expected result

1. See widget output according to widget.phtml

### Actual result

1. no output, no error, nothing.

BUT: if I place the same widget via layout up

[2018-07-23 13:06] magento-engcom-team commented on #17024
Hi @lfritsche. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-23 13:07] magento2dev opened #17025 "Admin wrong product category count"
### Preconditions

1. Use Magento ver. 2.2.3

### Steps to reproduce

1. Go on admin category manage page

### Expected result

1. The number after the category name should reflect the number of product in this category

### Actual result

1. Wrong product number (category has 4 products and it displays 7)

[2018-07-23 13:08] magento-engcom-team commented on #17025
Hi @anthony-jullien. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-23 13:13] dankoz51 commented on #14667
Did you make sure it was enabled in the admin, it installs disabled by
default
On Sun, Jul 22, 2018 at 9:42 AM Scott Noroozi <notifications@github.com>
wrote:

[2018-07-23 13:23] hostep commented on #15245
@EliasKotlyar

It's already fixed in 2.2.5 😉

[2018-07-23 13:24] siniztr opened #17026 "Installation won't complete > fCGI conflict?"
### Preconditions
Doing new install on an existing Linux Ubuntu 17.10 with apache2.
1. Uploaded files via sFTP to web folder
2. Proceeded to Web install and made user and database via PHPmyAdmin

### Steps to reproduce
1. After uploading web package (with samples) downloaded from magento.com with sFTP to web folder, started up Web install script
2. Did install with all modules enabled.
3. After en

[2018-07-23 13:30] siniztr commented on #17026
@magento-engcom-team give me 2.2.5 instance

[2018-07-23 13:30] magento-engcom-team commented on #17026
Hi @siniztr. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-23 13:30] engcom-backlog-pb commented on #16868
@terrybakshi, thank you for your report.
There is no low-stock notification by email in Magento 2. You can be notified by RSS or by accessing Reports -> Products -> Low Stock in admin menu.

[2018-07-23 13:30] #16868 closed, assigned to nobody

[2018-07-23 13:30] magento-engcom-team commented on #17026
Hi @siniztr, here is your [Magento instance](https://i-17026-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17026-2-2-5.engcom.dev.magento.com/admin](https://i-17026-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-23 13:32] engcom-backlog-nickolas commented on #17008
@PivitParkour94, I wasn't able to reproduce this issue by following the steps you provided, ‘jquery/colorpicker/js/colorpicker’ is available for me and there is no errors. If you'd like to update it, please reopen the issue.

[2018-07-23 13:32] #17008 closed, assigned to VladimirZaets

[2018-07-23 13:33] siniztr commented on #17026
As the issue is related to installation, I am not able to reproduce in the Magento instance provided.

[2018-07-23 13:39] engcom-backlog-nickolas commented on #17025
Hello @anthony-jullien, thank you for your report. I cannot reproduce this issue
![peek 2018-07-23 16-42](https://user-images.githubusercontent.com/40755810/43079887-01c031b6-8e97-11e8-9929-70042d5724d2.gif)

Could you please add more details?

[2018-07-23 13:43] anthony-jullien commented on #17025
Thanks for your quick reply.
As you can see on screen attached, there is a difference between category count and products in category. I cleared all indexes and caches, I have the issue on two differents installation.

Thanks !

![bug-magento](https://user-images.githubusercontent.com/8010295/43080039-08ff8a10-8e8f-11e8-84f1-e57cfa89c278.png)

[2018-07-23 13:59] engcom-backlog-nickolas commented on #17025
@anthony-jullien, thanks for feedback. Unfortunately I still not able to reproduce this issue.

![peek 2018-07-23 17-01](https://user-images.githubusercontent.com/40755810/43081014-b5301e3a-8e99-11e8-84e2-bd9344b542de.gif)

[2018-07-23 14:02] sidolov commented on #16843
Hi @uandiweb. Thank you for your report.
The issue has been fixed in magento/magento2#16863 by @ronak2ram in 2.2-develop branch
Related commit(s):
 - [108c2c5f6353bf977508baa20cef200521eb247d](https://github.com/magento/magento2/commit/108c2c5f6353bf977508baa20cef200521eb247d)
 - [4e32d060defb692b768b9872d3c24f58bc72b67e](https://github.com/magento/magento2/commit/4e32d060defb692b768b9872d3c24f58b

[2018-07-23 14:02] #16843 closed, assigned to nobody

[2018-07-23 14:05] anthony-jullien commented on #3280
I still get the same issue on Magento 2.2.3.

Thanks !

[2018-07-23 14:06] anthony-jullien commented on #17025
Ok... where Magento gets this value (database table), I will check why the count is wrong ?

Thanks !

[2018-07-23 14:08] lfritsche commented on #17024
@magento-engcom-team give me 2.2.5 instance

[2018-07-23 14:09] magento-engcom-team commented on #17024
Hi @lfritsche. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-23 14:09] magento-engcom-team commented on #17024
Hi @lfritsche, here is your [Magento instance](https://i-17024-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17024-2-2-5.engcom.dev.magento.com/admin](https://i-17024-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-23 14:10] anthony-jullien commented on #3625
I have the same issue on Magento 2.2.3, does anyone has a fix ?

Thanks !

[2018-07-23 14:13] harrigo commented on #14667
Dankoz's module is an improvement it atleast looks like the page loads fast so thanks a lot for that. I will also keep using it even if fotorama does speed up as would rather see the image than a loading spinning wheel. With mine however scrolling and java script becomes jumpy while fotorama is still loading. Don't think it will be possible to hide this unless we actually fix it.

@dankoz51 the Re

[2018-07-23 14:16] engcom-backlog-nazar commented on #14925
Hi @thiagosantos the fix for this issue has already available in 2.2.5 release

[2018-07-23 14:16] #14925 closed, assigned to nobody

[2018-07-23 14:43] shaikhmasud147 opened #17031 "Toolbar and Pagination not showing on Catalog Search Page and Brand Wise Search Page Magento 2"
Summary
Toolbar and Pagination not showing on Catalog Search Page and Brand Wise Search Page  Magento 2

Preconditions
Magento 2.0.17 CE with sample data
PHP 7.0.30

Steps to reproduce
When I search any item under catalog search Tool Bar not showing and Brand wise product search pagination not showing.

But both functionality is working on my local server.

![american fyre designs](https://user-im

[2018-07-23 14:43] magento-engcom-team commented on #17031
Hi @shaikhmasud147. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-23 14:46] engcom-backlog-nickolas commented on #17025
@anthony-jullien, "catalog_category_ product", but there is no count. There are products assigned to specific category. Base on accounts from this table count is build.

Currently I'm closing this issue, as I wasn't able to reproduce it on clean installation.
If you'd like to update it, please reopen the issue.

Best regards!

[2018-07-23 14:46] #17025 closed, assigned to engcom-backlog-nickolas

[2018-07-23 14:50] AirmanAJK commented on #12366
Even worse, the message only shows up above the payment method for a few short seconds. So if they're scrolled down on a laptop, they don't even see it.

How this payment method doesn't have an option to "Allow success even on failed authorization" is beyond me. WE STILL WANT THE ORDER! We've had multiple people go to a competitor because of this clunky, lazy, unstable payment method.

[2018-07-23 14:55] engcom-backlog-nazar commented on #14857
Hi @scottsb , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-23 15:02] thiagosantos commented on #14925
That's sounds great!
But what solution you guys implemented?

[2018-07-23 15:22] zeljkoprsa commented on #13054
Same issue with 2.2.2 only "advanced/modules_disable_output/" not found in the core_config_data table. @hellotaran Is there any other reason for this error?

[2018-07-23 15:49] kfriend commented on #12366
@maierb @bmzero @Ecksters @aeu @hfgoulding

I doubt Magento is ever going to fix this. I've come to that conclusion given the following info and thoughts:

- The complete lack of movement or interest in this issue from Magento, even when this has been ongoing for some time. Amazing, given this deals with one of the most crucial aspects of an ecommerce site.
- Authorize.net's deprecation of this pa

[2018-07-23 16:01] AirmanAJK commented on #12366
I've made several small changes to deal with the issue:

- When the order times out, we mention that "we have your order" instead of just dropping them on an empty cart page with no message at all.
- When there is an error message, I used a modal UI alert so they will actually see the message and have a chance to acknowledge it. Otherwise, if they aren't scrolled up, they wouldn't even see the 5 s

[2018-07-23 16:32] DigitalStartupUK opened #17038 "Layered Navigation no longer visible when using Static block only"
### Preconditions

1. Magento 2.2.5
2. Sample data installed

### Steps to reproduce

1. Set `Display Mode` to `Static block only` on parent directory (Men)
2. Set `Anchor` to `Yes`
3. Remove `<referenceContainer name="catalog.leftnav" remove="true"/>` from `Layout Update XML`

### Expected result

1. Layered Navigation (Shopping Options) should be visible

![2 2 2](https://user-images.githubuserc

[2018-07-23 16:32] magento-engcom-team commented on #17038
Hi @DigitalStartupUK. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-23 16:35] DigitalStartupUK commented on #17038
@magento-engcom-team give me 2.2.5 instance

[2018-07-23 16:35] magento-engcom-team commented on #17038
Hi @DigitalStartupUK. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-23 16:35] magento-engcom-team commented on #17038
Hi @DigitalStartupUK, here is your [Magento instance](https://i-17038-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17038-2-2-5.engcom.dev.magento.com/admin](https://i-17038-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-23 17:35] sidolov commented on #12320
Hi @gvigner. Thank you for your report.
The issue has been fixed in magento/magento2#17022 by @dasharath-wagento in 2.1-develop branch
Related commit(s):
 - [aad8cb7a6af97642b02e5772606cbc490bf67cf3](https://github.com/magento/magento2/commit/aad8cb7a6af97642b02e5772606cbc490bf67cf3)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-23 17:36] sidolov commented on #15935
Hi @patrick-bigbridge. Thank you for your report.
The issue has been fixed in magento/magento2#16702 by @novikor in 2.1-develop branch
Related commit(s):
 - [ab769ad412470244e9d3694bfea58479afa0332a](https://github.com/magento/magento2/commit/ab769ad412470244e9d3694bfea58479afa0332a)
 - [92320d74b10cd34dbf2115f0e7885ea459735698](https://github.com/magento/magento2/commit/92320d74b10cd34dbf2115f0e7

[2018-07-23 18:32] valenciaisaza commented on #17023
Hi

I have the same problem with the same magento verison 2.2.5, I've been debugging the code to figure it out what happends, because in another magento 2.2.2 I haven't this issues . I found a difference on a validation on the file vendor/magento/module-catalog-import-export/Model/Import/Product/Type/AbstractType.php (Line 537). And this change make the url_key dissapear.

Line on magento 2.2.2 (w

[2018-07-23 19:29] Karlasa commented on #17038
@DigitalStartupUK  it works as expected. If it´s configured to show static block only then after clicking on filter ( even if it would show) it still should show only static block because its configured that way. It was showing on older versions because of bug see more e at https://github.com/magento/magento2/issues/7765

[2018-07-23 19:53] DigitalStartupUK commented on #7765
I considered this a feature carried over from M1. Allowing a Static Block to be displayed in the Main Content area whilst still allowing customers to narrow down their products (in the children categories) via the filter from the sidebar.

I guess to reverse this, I'd just need to override the files in the aforementioned commit?

[2018-07-23 19:54] DigitalStartupUK commented on #17038
@Karlasa I considered this a feature carried over from M1. Allowing a Static Block to be displayed in the Main Content area whilst still allowing customers to narrow down their products (in the children categories) via the filter from the sidebar.

I guess to reverse this, I'd just need to override the files in the aforementioned commit? I'll have to look into this in the morning.

[2018-07-23 20:52] hellotaran commented on #13054
@zeljkoprsa I believe you have used "advanced/modules_disable_output/%" to find any value exist in core_config_data table. Note: the % sign in the end of search string.

Other than above solution I do not have other recommendation for you.

[2018-07-23 22:18] snoroozi commented on #14667
@dankoz51 Thanks, that was the issue. Appreciate the extension.

[2018-07-23 22:30] terrybakshi commented on #16868
Such a big platform and this basic feature is not present, its a real shame

[2018-07-23 23:35] JoshuaSpeechleyRS commented on #10454
Bump

[2018-07-24 01:52] PivitParkour94 commented on #17008
I've noticed in core code that any reference to the `jquery/colorpicker/js/colorpicker` is inside the definition of a new js component i.e. `vendor/magento/module-swatches/view/adminhtml/web/js/visual.js:15` and `vendor/magento/module-swatches/view/adminhtml/web/js/form/element/swatch-visual.js:18`

However, I am wanting to include the library as is and run some anonymous code, using the quick jav

[2018-07-24 02:15] LiamKarlMitchell commented on #13415
Running into this on 2.2.4 just enabled multiple payment methods now checkout does not work.
Could someone please make an extension/hot-fix this as a temporary measure?

[2018-07-24 03:41] LiamKarlMitchell opened #17061 "Duplicated elements id in checkout. billing-new-address-form"
### Preconditions
1.  Added Cash on Delivery, Bank Transfer and a custom payment method Payment Express

Magento Version: 2.2.4

### Steps to reproduce

1. Load checkout with an item in cart.

### Expected result

1. Can view payment methods, choose one and continue to "Place Order"

### Actual result

1. ```[DOM] Found 3 elements with non-unique id #billing-new-address-form: (More info: https://g

[2018-07-24 03:41] magento-engcom-team commented on #17061
Hi @LiamKarlMitchell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-24 04:02] LiamKarlMitchell commented on #17061
@magento-engcom-team give me 2.2.4 instance

[2018-07-24 04:02] magento-engcom-team commented on #17061
Hi @LiamKarlMitchell. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-24 04:02] magento-engcom-team commented on #17061
Hi @LiamKarlMitchell, here is your [Magento instance](https://i-17061-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-17061-2-2-4.engcom.dev.magento.com/admin](https://i-17061-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-24 04:56] dyuk1987 opened #17062 "Magento 2.2.5 Temando_Shipping messing up Multi Shipping again"
### Preconditions

1. Magento **CE 2.2.5** without demo data
2. Temando_Shipping module **enabled by default** but **not configured and enabled** as a shipping method
3. **Allow Shipping to Multiple Addresses** is enabled
4. A few simple products are created
5. Amazon_Core, Klarna_Core, Amazon_Login, Amazon_Payment, Klarna_Ordermanagement, Klarna_Kp are **disabled**

### Steps to reproduce

1. Reg

[2018-07-24 04:56] magento-engcom-team commented on #17062
Hi @dyuk1987. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-24 05:07] realGomez commented on #16758
rewrite  \Magento\Catalog\Controller\Adminhtml\Category\Save;
`class Save extends \Magento\Catalog\Controller\Adminhtml\Category\Save
{
    private function resolveCategoryId()
    {
        $categoryId = (int)$this->getRequest()->getParam('id', false);

        return $categoryId ?: (int)$this->getRequest()->getParam('entity_id', false);
    }

    protected function _initCategory($getRootInstead

[2018-07-24 06:09] engcom-backlog-pb commented on #14970
![1](https://user-images.githubusercontent.com/40756187/43119979-423a2000-8f21-11e8-97f5-a95f8c2524eb.gif)

[2018-07-24 06:23] #16219 closed, assigned to nobody

[2018-07-24 06:23] #15999 closed, assigned to nobody

[2018-07-24 06:28] #14883 closed, assigned to nobody

[2018-07-24 06:32] engcom-backlog-nickolas commented on #15114
Hello @slawek-mazur, thank you for your report. I cannot reproduce this issue
![peek 2018-07-24 09-26](https://user-images.githubusercontent.com/40755810/43120894-6eef9ba4-8f24-11e8-9ab4-ba0b94e8aa25.gif)
If you'd like to update it, please reopen the issue.

[2018-07-24 06:36] ash-b commented on #14535
Okay,PFA
[catalog_product_20180724_063215.csv.zip](https://github.com/magento/magento2/files/2222264/catalog_product_20180724_063215.csv.zip)

[2018-07-24 06:38] engcom-backlog-nickolas commented on #15110
Hello @Jilco, thank you for your report. I cannot reproduce this issue.
![peek 2018-07-24 09-26](https://user-images.githubusercontent.com/40755810/43121112-4a45df9c-8f25-11e8-8dbc-b6f31b25f90b.gif)
If you'd like to update it, please reopen the issue.

[2018-07-24 06:38] #15110 closed, assigned to nobody

[2018-07-24 06:58] engcom-backlog-pb commented on #15424
@emiprotech, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/43121927-09fb0572-8f28-11e8-9a50-0b25e011f957.gif)

[2018-07-24 06:58] #15424 closed, assigned to nobody

[2018-07-24 07:16] engcom-backlog-nickolas commented on #15043
Hello @devhelp37, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-24 07:18] engcom-backlog-nazar commented on #14890
Hi @orbitrod the fix for this issue has available in 2.2-develop branch

[2018-07-24 07:18] #14890 closed, assigned to nobody

[2018-07-24 07:28] #14938 closed, assigned to nobody

[2018-07-24 07:35] engcom-backlog-nickolas commented on #15041
Hello @leoquijano, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-24 07:56] engcom-backlog-nickolas commented on #15035
Hello @gwharton, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-24 08:00] ihor-sviziev commented on #17061
Looks like this issue was fixed in https://github.com/magento/magento2/pull/15344

[2018-07-24 08:04] 88-it commented on #7813
Hi there, I'm using magento 2.2.4 and I'm stuck with the same issue

`Deploy using quick strategy
frontend/Magento/blank/fr_FR            2225/2225           ============================ 100% %  4 secs
adminhtml/Magento/backend/fr_FR         2161/2161           ============================ 100% %  4 secs
frontend/Smartwave/porto_child/fr_FR    2124/2124           ============================ 100%

[2018-07-24 08:25] #14953 closed, assigned to nobody

[2018-07-24 08:35] engcom-backlog-nickolas commented on #15024
@gwharton. thank you for your report. This issue already fixed in magento 2.2.5

[2018-07-24 08:35] #15024 closed, assigned to nobody

[2018-07-24 09:02] engcom-backlog-pb commented on #17031
@shaikhmasud147, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-24 09:02] #17031 closed, assigned to nobody

[2018-07-24 09:03] siniztr commented on #17026
@magento-engcom-team No can't reproduce

[2018-07-24 09:10] vegangirlthatcodes commented on #12398
Having the same problem in 2.2.5 when using a custom theme based on Luma:

`Running "less:cosmetic_en" (less) task
 NameError: variable @copyright__background-color is undefined in pub/static/frontend/ohitsgreen/cosmetic/en_US/Magento_Theme/css/source/_module.less on line 263, column 36:
 262     .copyright {
 263         .lib-css(background-color, @copyright__background-color);
 264         .lib-

[2018-07-24 09:11] engcom-backlog-pb commented on #17038
@DigitalStartupUK, thank you for your report.
This is not a bug, as your "Expected result" was previously considered as a bug.

[2018-07-24 09:11] #17038 closed, assigned to nobody

[2018-07-24 09:15] ihor-sviziev commented on #7739
It seems to me that it's a known issue, but it's hard to reproduce it.
Currently we have Pull Request https://github.com/magento/magento2/pull/16461 that should fix this issue, but currently it's not clear how to fix it in correct way.

[2018-07-24 09:16] engcom-backlog-pb commented on #14163
@pblicharz, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit the issue and reopen it.

[2018-07-24 09:16] #14163 closed, assigned to nobody

[2018-07-24 09:23] engcom-backlog-pb commented on #14068
@woshka, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-24 09:23] #14068 closed, assigned to nobody

[2018-07-24 09:30] ihor-sviziev commented on #16231
Related issue: https://github.com/magento/magento2/issues/14952

[2018-07-24 09:31] engcom-backlog-pb commented on #14278
Duplicate of #15043

[2018-07-24 09:31] #14278 closed, assigned to nobody

[2018-07-24 09:32] ihor-sviziev commented on #16355
Related issue: https://github.com/magento/magento2/issues/14952

[2018-07-24 09:39] husseycoding commented on #7813
Also seeing this in 2.2.5.

[2018-07-24 09:40] engcom-backlog-nickolas commented on #15030
Hello @chanwhab, thank you for your report. I cannot reproduce this issue. Could you please provide more  detailed steps to reproduce?

[2018-07-24 09:41] ihor-sviziev commented on #16938
It looks like duplicate of https://github.com/magento/magento2/issues/11740

[2018-07-24 09:43] 88-it commented on #7813
I solved it by resetting the .htaccess file in pub/static but I still have a problem with design configuration in back office: I've got a loop

[2018-07-24 09:47] LiamKarlMitchell commented on #17061
Thanks I'll check it tomorrow I'm hoping to have this fixed asap :)

[2018-07-24 10:00] engcom-backlog-nickolas commented on #16969
Hello @arunelangovan, thank you for your report. Unfortunately I wasn't able to reproduce this issue on clean magento 2.2.4 nor 2.2.5 installations.
I'm closing this issue for now. If you'd like to update it, please reopen the issue.

[2018-07-24 10:00] #16969 closed, assigned to nobody

[2018-07-24 10:07] engcom-backlog-nickolas commented on #16904
Hello @darabaig, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
Could you please provide more detailed steps to reproduce or even better code examples?
Also you could try to follow [this documentation](https://devdocs.magento.com/guides/v2.2/ui_comp_guide/bk-ui_comps.html) for ui components implementation in your own module.

[2018-07-24 10:11] engcom-backlog-nickolas commented on #16282
@Karanp13, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-24 10:11] #16282 closed, assigned to nobody

[2018-07-24 10:16] engcom-backlog-nazar commented on #14998
Hi @navarr i cannot reproduce, see attachments
![frame-03d](https://user-images.githubusercontent.com/40756439/43132221-bddbf9dc-8f43-11e8-9c83-b5b9d98eef4d.gif)

[2018-07-24 10:16] #14998 closed, assigned to nobody

[2018-07-24 10:29] engcom-backlog-nickolas commented on #16212
Hello @AlbiIT, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
![peek 2018-07-24 13-29](https://user-images.githubusercontent.com/40755810/43132798-8fa493f6-8f45-11e8-9f30-a4a299a67122.gif)

If you'd like to update it, please reopen the issue.

[2018-07-24 10:29] #16212 closed, assigned to engcom-backlog-nickolas

[2018-07-24 10:35] shaikhmasud147 commented on #17031
Ok, Thanks!

[2018-07-24 11:12] NSDEEPAKRSHETTY opened #17064 "WHILE DOING POST DATA RESPONSE BACK AS Content-Type header is empty"
I am netsuite technical developer, we have integrated netsuite with magento 1.9 server
whenever the data of inventory products are posted in JSON type . Even though we included content-type as application/json then also magento 1.9 srver gives response error of message as Content-Type header is empty
### Actual result
![post1](https://user-images.githubusercontent.com/41626070/43134452-bd921152-8f

[2018-07-24 11:12] magento-engcom-team commented on #17064
Hi @NSDEEPAKSHETTY. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-24 11:12] engcom-backlog-nazar commented on #15149
Hi @woshka  i cannot reproduce by your scenario steps

[2018-07-24 11:27] #17064 closed, assigned to nobody

[2018-07-24 11:27] #17024 closed, assigned to nobody

[2018-07-24 11:30] husseycoding commented on #7813
I am using pipeline deployment and for me the issue was that the build environment had the the app/etc/env.php file.  It seems that setup:static-content:deploy still attempts to connect to a database configured in app/etc/env.php if the file exists, otherwise it doesn't.

[2018-07-24 11:35] navarr commented on #14998
Instead of showing a 404 it looks like the Magento website just redirects to the homepage.

Should I revise the ticket?  The expected result still does not meet the actual result

@engcom-backlog-nazar

[2018-07-24 11:35] sidolov commented on #14869
Hi @Webroju. Thank you for your report.
The issue has been fixed in magento/magento2#16893 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [49926d73e6e26961f9b3f529dac1856957c4688d](https://github.com/magento/magento2/commit/49926d73e6e26961f9b3f529dac1856957c4688d)
 - [35b968e0dc897fb28fa95255131861d04950745f](https://github.com/magento/magento2/commit/35b968e0dc897fb28fa95255131861d0

[2018-07-24 11:35] sidolov commented on #15118
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#16994 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [f7228d01b3480fbeef95b0ebfe3591ec5ab75e56](https://github.com/magento/magento2/commit/f7228d01b3480fbeef95b0ebfe3591ec5ab75e56)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-24 11:35] sidolov commented on #13692
Hi @NeosKnowledgeBasePluswerk. Thank you for your report.
The issue has been fixed in magento/magento2#16993 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [a659f4b9321a4036a9e45130b7695387066f967d](https://github.com/magento/magento2/commit/a659f4b9321a4036a9e45130b7695387066f967d)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-24 11:35] sidolov commented on #120
Hi @seansan. Thank you for your report.
The issue has been fixed in magento/graphql-ce#126 by @VitaliyBoyko in 2.3-develop branch
Related commit(s):
 - [e1f53d45065a6fa292e2213b72a2742f81197a0b](https://github.com/magento/magento2/commit/e1f53d45065a6fa292e2213b72a2742f81197a0b)
 - [5229cd6eed7b5e08174268245f23158513feabd9](https://github.com/magento/magento2/commit/5229cd6eed7b5e08174268245f23158

[2018-07-24 11:37] engcom-backlog-nickolas commented on #16674
@mkmk2018, I'm closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-24 11:37] #16674 closed, assigned to nobody

[2018-07-24 11:40] gwharton commented on #15118
Just to confirm. This isnt fixed. The resolution applied to 2.2 and 2.3 is not a good one and needs relooking at.

[2018-07-24 11:47] engcom-backlog-nazar commented on #14827
Hi @heyepic I cannot reproduce by your scenario steps. In clean magento install
![frame-03d](https://user-images.githubusercontent.com/40756439/43136158-7653b778-8f50-11e8-985f-c5bfef0304ec.gif)

[2018-07-24 11:47] #14827 closed, assigned to nobody

[2018-07-24 11:52] engcom-backlog-nazar commented on #14998
@navarr  No. its not a bug. click on ->  https://magento.com/paypal/overview  and  you  redirec to home page.

[2018-07-24 11:57] engcom-backlog-nazar commented on #15820
hi @vasudevsundar , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-24 11:57] #15820 closed, assigned to nobody

[2018-07-24 12:05] engcom-backlog-pb commented on #14202
@allisonlawrencels, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-24 12:18] engcom-backlog-nickolas commented on #16176
Hello @nathancasebolt, thank you for report. I'm closing this issue as duplicate #16171. If you'd like to update it, please reopen the issue.

[2018-07-24 12:18] #16176 closed, assigned to nobody

[2018-07-24 12:20] DavidLambauer commented on #9366
Same problem here. Can fully understand @nepda. We try to minimize the usage of M2 as much as possible. Basically not production ready at all....

[2018-07-24 12:25] yasminelsayed opened #17065 "Magento 2 | cannot load any grid in Backend"
Suddenly I got issue in loading grid content in backend ( pages / blocks / products ). i need help I cannot access or make any update here
![image](https://user-images.githubusercontent.com/20180767/43137862-5d0423aa-8f4d-11e8-91e5-6bd1467e58d3.png)

[2018-07-24 12:39] resolvr commented on #13149
@catstantin using another System.

[2018-07-24 12:46] engcom-backlog-nazar commented on #16098
Hi @mcyrulik I cannot reproduce by yours scenarios steps, see attachments
![selection_035](https://user-images.githubusercontent.com/40756439/43138793-b739d756-8f58-11e8-9921-1f3b5a154a86.png)

[2018-07-24 13:03] hostep commented on #16098
@engcom-backlog-nazar : this is certainly still reproducible on Magento 2.2.5, I've just tested this again on a clean installation.

Make sure you are generating the sitemap.xml file using the cron system of Magento, by configuring Stores > Configuration > Catalog > XML Sitemap > Generation Settings:
- Enabled => Yes
- Start Time => 1 or 2 minutes from your current time

Then execute `bin/magento

[2018-07-24 13:14] engcom-backlog-nazar commented on #15555
Hi @johnny-longneck which module you disabled ? and i cannot reproduce this if i disabled custom module or magento module.

[2018-07-24 13:27] devgoku opened #17068 "Create Credit Memo for Braintree transactions."
Getting error when do the Credit Memo by clicking on Refund button in Braintree payment gateway.
  In debug log, it is saying that

But transaction is showing settled in Braintree account.

![image](https://user-images.githubusercontent.com/30754318/43147787-7c836c3e-8f81-11e8-98a2-8884d58b492c.png)

### Preconditions

1. Magento 2.1.4

### Steps to reproduce

1. Order from frontend and make payme

[2018-07-24 13:33] engcom-backlog-pb commented on #14272
@pixiemediaweb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-24 13:33] #14272 closed, assigned to nobody

[2018-07-24 13:33] maxchen666 commented on #16134
@engcom-backlog-nazar May I know the number of change list in 2.3-develop?

[2018-07-24 13:44] gabriel3iri commented on #17023
Hello @magento-engcom-team , do you know why this validation was changed?

[2018-07-24 13:46] StrategicMindInc commented on #8933
We have the same error with 2.2.5 and PHP 7.1. Below is the cron log.
 [Zend_Db_Statement_Exception]
  SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: INSERT INTO `cron_schedule` (`job_code`, `status`, `created_at`, `scheduled_at`) VALUES (?, ?, '2018-07-23 12:16:02', '2018-07-23 12:19:00')

  [PDOException]
  SQLSTATE[400

[2018-07-24 13:50] engcom-backlog-pb commented on #14398
@itsabe, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-24 13:52] engcom-backlog-pb commented on #17065
@yasminelsayed, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only. Your issue is caused by some custom modules.

[2018-07-24 13:52] #17065 closed, assigned to nobody

[2018-07-24 13:57] StrategicMindInc commented on #8933
In addition, the error message displayed in the browser is:
Service Temporarily Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later

[2018-07-24 13:59] #15190 closed, assigned to nobody

[2018-07-24 14:01] craigcarnell commented on #16049
@Jakhotiya This isn't a data migration issue. If you have 2 different magento installations pointing at the same database (in our case a front end website, and a business internal website), it will set your themes to type virtual as they don't exist in the other repository.

[2018-07-24 14:22] crtl opened #17072 "Magento 2.2.4 Cart Price Rules not working"
Hello,
creating cart price rules with conditions in magento 2.2.4 is not possible.
### Preconditions
Magento 2.2.4

### Steps to reproduce
1. Create a cart price rule with product filter

### Expected result

1. Only products which match the conditions should be discounted

### Actual result

1. Everything is discounted

[2018-07-24 14:22] magento-engcom-team commented on #17072
Hi @crtl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-07-24 14:31] crtl commented on #8725
Issue still exists in Magento CE 2.2.4

[2018-07-24 14:59] denistrator commented on #15118
@sidolov +1. Please review #16994. It doesn't fix the issue but creates a new one

[2018-07-24 15:01] engcom-backlog-nickolas commented on #15959
Hello @kanduvisla, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-24 15:05] sidolov commented on #15118
Hi @denistrator , I guess your PR https://github.com/magento/magento2/pull/17006 contains fix for this issue and currently in status `Delivery in progress`. Also we have similar PR for the same problem: https://github.com/magento/magento2/pull/16981

[2018-07-24 15:22] terrybakshi opened #17074 "DB issue after upgrade to 2.2.5"
### Preconditions

1. Magento 2.2.5
2. PHP 7.1
3. MySql 5.6

### Steps to reproduce

1. Upgraded magento 2.2.3 to magento 2.2.5
2. went to sales order and go an error
3. SQLSTATE[42S02]: Base table or view not found: 1146 Table 'toydeals_mg221.sales_order_grid' doesn't exist, query was: SELECT COUNT(*) FROM `sales_order_grid` AS `main_table`

### Expected result

1. Orders should open

### Actual

[2018-07-24 15:22] magento-engcom-team commented on #17074
Hi @terrybakshi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-24 15:29] DanielRuf commented on #17074
@magento-engcom-team give me 2.2.3 instance

[2018-07-24 15:30] magento-engcom-team commented on #17074
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-07-24 15:30] magento-engcom-team commented on #17074
Hi @DanielRuf, here is your [Magento instance](https://i-17074-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17074-2-2-3.engcom.dev.magento.com/admin](https://i-17074-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-24 15:33] 201rep opened #17075 "[L300:C4] Cannot read property 'substring' of undefined"
Running "less:theme" (less) task

Warning: Error compiling pub/static/frontend/Magento/theme/en_US/css/styles-m.less Use --force to continue.

Aborted due to warnings.

Execution Time (2018-07-24 17:35:39 UTC+3)
loading tasks               403ms  ▇▇▇▇▇▇▇▇▇▇▇ 7%
loading grunt-contrib-less  126ms  ▇▇▇▇ 2%
less:theme                5.5s  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇

[2018-07-24 15:33] magento-engcom-team commented on #17075
Hi @201rep. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-24 15:56] hmedasani opened #17076 "Error at Theme switing in Megento.2.2.4 and 2.2.5"
### Preconditions

1.  PHP-7.1.12
2.  MySql-5.6.38
3.  Magento version 2.2.4 (E.E)

### Steps to reproduce

1.  Place your custome theme in app/design/frontend/yourThemeFolder
2.  Now, go to Admin and navigate to Content/configuration/
3.  Press on edit button to change the default theme
4.  Change the theme you desired

### Expected result

1. [Success message appears]

### Actual result

1. [Som

[2018-07-24 15:56] magento-engcom-team commented on #17076
Hi @medasah. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-24 16:06] hostep commented on #17076
@medasah: this has already been reported a couple of times, fix will be delivered in Magento 2.2.6.
If you can't wait for that, find the official patch over here: https://magento.com/tech-resources/download (search for 'MAGETWO-93036').

Closing this as duplicate of https://github.com/magento/magento2/issues/14968

[2018-07-24 16:06] #17076 closed, assigned to nobody

[2018-07-24 17:03] navarr commented on #16781
@JosiahCarberry Hi!

Vertex is not necessary to setup taxes - and does not yet support VAT.

[2018-07-24 17:04] navarr commented on #16696
@cherednichenkoa Hi!

What issues are you having with Vertex in a split-database solution?

[2018-07-24 17:14] sithibodeau opened #17081 "Dashboard (seller and buyer)"
We have three types of users on our :
Seller (no buyer dashboard)
Seller and Buyer (dual dashboard)
Buyer (no seller dashboard)

When a seller is logged in and the configurations are set to "seperate dashboard" the seller still has access to the buyer dashboard.

how do we control what they see? do we have to submit or create three views of the storefront? buyer, seller and a hybrid?

[2018-07-24 17:15] magento-engcom-team commented on #17081
Hi @sithibodeau. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-24 17:15] sithibodeau commented on #17081
no

[2018-07-24 17:26] magento2dev opened #17082 "Product page not reachable after status update"
### Preconditions

1. Use Magento ver. 2.2.3 (tested on a fresh install)

### Steps to reproduce

1. Go on admin product edit page
2. Disable product
3. Load frontend product page (returns a normal 404)
4. Go back on admin product edit page
3. Enable product

### Expected result

1. The product should be reachable again after being enable again

### Actual result

1. The product page stills be a 4

[2018-07-24 17:29] jordanbergerman commented on #11034
I'm facing this exact issue too and tried @orlangur 's suggestion, however it did not work for me. Really frustrating as it is the first time I've used github via composer and it has caused all of this.

[2018-07-24 17:33] orbitrod commented on #14890
Do you know what the commit is for the fix?

[2018-07-24 18:07] schizek commented on #8018
What is the status of this being corrected in the Magento core? @magento-engcom-team

[2018-07-24 19:15] kedarjoyner opened #17100 ""Multiple Select" product attributes do not render HTML tags on the storefront view"
### Preconditions

1. Fresh install of Magento version 2.2.3
2. PHP version 7.1.1
3. MySQL version 5.6.35

### Steps to reproduce

1. Navigate to Stores > Product under the `Attributes` header.

2. Set `Catalog Input Type for Store Owner` to `Multiple Select`. Make sure product attribute values include html tags. You must add at least two attribute values. Example below:
<img width="997" alt="scre

[2018-07-24 19:15] magento-engcom-team commented on #17100
Hi @kedarjoyner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-24 20:34] Karlasa commented on #17100
Seems like dublicate of https://github.com/magento/magento2/issues/15393
fix for it in PR #15687

[2018-07-24 21:08] rahulidea commented on #10534
Same problem with Magento 2.2.3. Coupon working fine on cart page but not working on the checkout page. Same mirror copy is working on another webhost

[2018-07-24 21:12] LiamKarlMitchell commented on #17061
Added code from above as commit just using githubs edit file thing.
checkbox chances from #15344 I just copied it for the fieldset and tweaked.

[2018-07-24 23:11] franconicolasocchi commented on #14774
Same issue here, some link to forward?

[2018-07-25 00:35] kedarjoyner commented on #17100
@Karlasa You are correct - sorry. I tried searching keywords for this particular issue, but no related results appeared. I will recommend to the creator of #15393 to make the title more specific so others can more easily find it.

[2018-07-25 00:39] kedarjoyner commented on #15393
@jurpro If possible, I would recommend changing the title of this issue with keywords more specific to the problem. I was experiencing the same issue, but this did not display in the search results when looking for similar issues. Regardless, thank you for reporting this problem too!

[2018-07-25 06:20] krnshah commented on #16758
Still i have facing the same issue in magento 2.2.5. it will redirect to home page while using the language switcher.

[2018-07-25 06:36] 201rep commented on #17075
no

[2018-07-25 07:20] agata-maksymiuk commented on #15641
Magento 2.2.5 EE - I confirm, the same error.

[2018-07-25 07:30] engcom-backlog-pb commented on #17075
@201rep, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-25 07:30] #17075 closed, assigned to nobody

[2018-07-25 07:31] engcom-backlog-pb commented on #17081
@sithibodeau, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-25 07:31] #17081 closed, assigned to nobody

[2018-07-25 07:35] engcom-backlog-pb commented on #17100
@kedarjoyner, closing as duplicate of #15393.

[2018-07-25 07:35] #17100 closed, assigned to nobody

[2018-07-25 07:36] engcom-backlog-pb commented on #15393
@kedarjoyner done.

[2018-07-25 07:39] 201rep commented on #17075
@engcom-backlog-pb thank you for your report.
I'm not able to understand why the dachshund does not work out of the box.

[2018-07-25 07:47] engcom-backlog-nazar commented on #15139
Hi @elock37 i cannot reproduce by yours scenarios steps, Can you please show screen of you configuration fedex ?

[2018-07-25 08:13] engcom-backlog-nazar commented on #15303
Hi @christophe29222  i cannot reproduce  you scenario steps can you please show csv file ?

[2018-07-25 08:19] engcom-backlog-pb commented on #17082
@anthony-jullien, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/43188331-8874e2a4-8ffc-11e8-8fb3-dd9f51aac8f7.gif)

[2018-07-25 08:19] #17082 closed, assigned to nobody

[2018-07-25 08:20] engcom-backlog-nickolas commented on #15486
Hello @mtjweb, thank you for your report. Unfortunately I cannot reproduce this issue. Could you please add more details to steps to reproduce?

[2018-07-25 08:20] magento-engcom-team commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#16956 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [f3502dafbeb3b525ab12ad6c0045efac8274951b](https://github.com/magento/magento2/commit/f3502dafbeb3b525ab12ad6c0045efac8274951b)
 - [9d15eccb97937cee8fdca373010233b7397be302](https://github.com/magento/magento2/commit/9d15eccb97937cee8fdca373010233b7

[2018-07-25 08:20] magento-engcom-team commented on #103
Hi @riconeitzel. Thank you for your report.
The issue has been fixed in magento-engcom/import-export-improvements#117 by @pogster in 2.3-develop branch
Related commit(s):
 - [a765ec76e6590039f0441beb26afa356a5b84c6d](https://github.com/magento/magento2/commit/a765ec76e6590039f0441beb26afa356a5b84c6d)
 - [d45e4f8d376e200e176446765670b5d2d84cd8a5](https://github.com/magento/magento2/commit/d45e4f8d3

[2018-07-25 08:21] engcom-backlog-nickolas commented on #15204
@danncoba, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-25 08:21] #15204 closed, assigned to nobody

[2018-07-25 08:22] nopenopenope commented on #15931
@arnoudhgz if you downvote something, one should have the courage to explain why its a bad idea. Please elaborate if possible.

[2018-07-25 08:35] riconeitzel commented on #103
hey @magento-engcom-team, I'm sure this message is … uhm … wrong :D

[2018-07-25 08:42] engcom-backlog-pb commented on #14280
@openwavecomputing, "Price" attribute has "Global" scope, so it cannot be changed between the Stores in Magento clean installation.

[2018-07-25 08:42] #14280 closed, assigned to nobody

[2018-07-25 08:54] arnoudhgz commented on #15931
@nopenopenope I don't think everything should work the same, a `di.xml` and a `events.xml` have a different purpose. It is nice that `events.xml` can't be added empty, that the `xsd` blocks this for you.

Don't add empty files if you need them. My opinion is that it should not be unified with '**whatever way they choose'**. The can improve other xsds, but they should never downgrade it by making i

[2018-07-25 09:02] atsareva opened #17112 "UPS - Invalid Authentication Information"
Hi guys,

I've got UPS authentication error when try to create shipment with selected 'Create Shipping Label' shipping option.

### Preconditions
1. Magento 2.2.5 (with sample data)
2. Ubuntu 16.04 lts
3. PHP 7.0.30
4. mysql  Ver 14.14 Distrib 5.7.22
5. apache

### Steps to reproduce
1. Create order using some UPS shipping method
2. Login to the admin panel and select created order.
3. Click 'Ship

[2018-07-25 09:02] magento-engcom-team commented on #17112
Hi @atsareva. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-25 09:07] BezV8 opened #17113 "Catalog prices always showing excluding tax."
Magento 2.2.5 is displaying product prices in the catalog as excluding tax regardless of what is set in the tax configuration settings. I have attached a screenshot of the Display Product Prices in Catalog setting set to 'Including and Excluding Tax' to better demonstrate this issue.

### Preconditions

1. Magento 2.2.5
2. Blank Theme

### Steps to reproduce

1. Set Tax -> Calculation Settings ->

[2018-07-25 09:07] magento-engcom-team commented on #17113
Hi @BezV8. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-25 09:13] engcom-backlog-pb commented on #17074
@DanielRuf, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/43191583-1a90465e-9004-11e8-99a3-0583c9e838e4.gif)

[2018-07-25 09:13] #17074 closed, assigned to nobody

[2018-07-25 09:16] DanielRuf commented on #17074
It was not me, it was @terrybakshi.

[2018-07-25 09:19] atsareva commented on #17112
@magento-engcom-team give me 2.2.5 instance

[2018-07-25 09:19] magento-engcom-team commented on #17112
Hi @atsareva. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-25 09:19] magento-engcom-team commented on #17112
Hi @atsareva, here is your [Magento instance](https://i-17112-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17112-2-2-5.engcom.dev.magento.com/admin](https://i-17112-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-25 09:20] engcom-backlog-pb commented on #17075
@201rep, seems like your issue is caused by some custom code. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-07-25 09:20] engcom-backlog-nazar commented on #14943
Hi @uandiweb I cannot reproduce by your scenario steps.If you'd like to update it, please reopen the issue.

[2018-07-25 09:20] #14943 closed, assigned to nobody

[2018-07-25 09:21] engcom-backlog-pb commented on #17074
@DanielRuf, of course, sorry.

[2018-07-25 09:30] DanielRuf opened #17115 "adding space after currency symbol not possible anymore? (backend)"
### Preconditions

### Steps to reproduce

1. go to stores => currecny symbols
2. add a space at the end and check if it is output

### Expected result

1. space should be between currency symbol and value

### Actual result

1.

PS: It seems it is an issue with the scope of the saved custom currencies. They are saved with default / 0 but the store has stores / 1.

[2018-07-25 09:30] magento-engcom-team commented on #17115
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-25 09:30] DanielRuf commented on #17115
@magento-engcom-team give me 2.2.4 instance

[2018-07-25 09:30] magento-engcom-team commented on #17115
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-25 09:31] magento-engcom-team commented on #17115
Hi @DanielRuf, here is your [Magento instance](https://i-17115-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-17115-2-2-4.engcom.dev.magento.com/admin](https://i-17115-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-25 09:40] BezV8 commented on #17113
@magento-engcom-team Issue confirmed on vanilla Magento instance.

[2018-07-25 09:53] engcom-backlog-nazar commented on #14956
Hi @ankursachdeva11 i cannot reproduce your's scenario steps, see attachments,
If you'd like to update it, please reopen the issue.
![frame-08d](https://user-images.githubusercontent.com/40756439/43193827-ab05605c-9009-11e8-9296-32df79e42aea.gif)

[2018-07-25 09:53] #14956 closed, assigned to nobody

[2018-07-25 09:53] sidolov commented on #13988
Hi @krzksz. Thank you for your report.
The issue has been fixed in magento/magento2#17086 by @mageprince in 2.1-develop branch
Related commit(s):
 - [90f884f8bb5cdf803042ee65dbd9986cc6d094d1](https://github.com/magento/magento2/commit/90f884f8bb5cdf803042ee65dbd9986cc6d094d1)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-25 09:59] atsareva commented on #17112
@magento-engcom-team , yes this issue has been reproduced on the provided instance.
Please look at the screenshots
1. I've created order using UPS ground method
![new shipment shipments operations sales magento admin1](https://user-images.githubusercontent.com/1243876/43194201-8473b6ae-900a-11e8-961e-6bd24cafb801.png)
2. Try to create shipment and got
![new shipment shipments operations sales mage

[2018-07-25 10:07] engcom-backlog-nazar commented on #14954
Hi @nikidexa i cannot reproduce your's scenario steps, see attachments,
If you'd like to update it, please reopen the issue.
![frame-08d](https://user-images.githubusercontent.com/40756439/43194693-afe26c26-900b-11e8-89ed-ac9ac7e4ed29.gif)

[2018-07-25 10:07] #14954 closed, assigned to nobody

[2018-07-25 10:21] hostep commented on #17113
@BezV8: just quickly ran through the configuration of this test instance (I didn't change anything), but I noticed that Stores > Configuration > Sales > Tax > Default Tax Destination Calculation > Default Country is still set to USA instead of UK (which you set up in various other places as the default country). It's possible that by changing that setting to UK your issue gets resolved. Any chance

[2018-07-25 10:29] BezV8 commented on #17113
@hostep Good catch! That seems to have sorted it on the test instance, though the Price on the Cart seems to be displaying incorrectly now. I have checked on my actual site and Default Tax Destination Calculation was still set to US. I really should have checked that, but it looks like the setting was reverted when I had to roll back a git commit.

I am closing this issue now as it was user error

[2018-07-25 10:29] #17113 closed, assigned to nobody

[2018-07-25 10:31] engcom-backlog-nickolas commented on #14992
Hello @iuwqyir, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-25 10:36] hostep commented on #15931
I ran into this problem myself sometimes, when putting some xml code in comments in the `events.xml` or `crontab.xml` file, just for testing something quickly. It's really annoying then to have to remove the entire file just because the xsd file blocks an empty file. I'd appreciate it if the file can exist but be empty.

I agree that having empty files in a module makes no sense, but for quickly d

[2018-07-25 10:49] engcom-backlog-nickolas commented on #14990
Hello @darren-halo, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-25 10:51] engcom-backlog-pb commented on #17115
@DanielRuf, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-07-25 11:08] aasim110 opened #17119 "Issue : Upgrade Magento 2.1.9 to 2.2.5 : Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "{PRODUCTID}" already exists."
### Preconditions
We are getting issues on category page after upgrade magento 2.1.9 to 2.2.5

1. Magento 2.2.5 (before upgrade it was 2.1.9)
    1.1 Magento Developer mode Enabled
2. PHP 7.0
3. Multi website with 2 stores

### Steps to reproduce

1. upgrade 2.1.9 to 2.2.5
2. Run setup upgrade command
3. Run Deploy command

### Expected result

1. Category page should working fine.

### Actual res

[2018-07-25 11:09] magento-engcom-team commented on #17119
Hi @aasim110. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-25 11:15] engcom-backlog-nickolas commented on #14885
Hello @amenk, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-25 11:40] engcom-backlog-nazar commented on #14832
Hi @andreicurduman this is duplicate for this ->https://github.com/magento/magento2/issues/13720
 If you'd like to update it, please reopen the issue.

[2018-07-25 11:40] #14832 closed, assigned to nobody

[2018-07-25 11:43] kunj1988 opened #17120 "Ui Bookmark field created_at and updated_at fields always shows '0000-00-00 00:00:00'"
### Preconditions

1. Magento 2.2.1
2. Magento 2.2.4
3. Magento 2.2.5

### Steps to reproduce

1. check `ui_bookmark` table you will see `created_at` and `updated_at` fields value is '0000-00-00 00:00:00' for all grids.

### Expected result

1.There would time `timestamp [CURRENT_TIMESTAMP]` or magento should save date time while add or update data.

### Actual result

1. Magento 2.2.4 `ui_bookmar

[2018-07-25 11:43] magento-engcom-team commented on #17120
Hi @kunj1988. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-25 11:53] engcom-backlog-pb commented on #15092
@agata-maksymiuk, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-25 12:05] engcom-backlog-nickolas commented on #17072
Hello @crtl, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-25 12:06] engcom-backlog-nickolas commented on #14803
Hello @JoshuaFlood, thank you for your report. Unfortunately I wasn't able to reproduce this issue. Could you please add more details?

[2018-07-25 12:10] engcom-backlog-nazar commented on #15439
Hi @ADVANCEDSPORTVE can you show screenshot, which information retail customer  don't must see

[2018-07-25 12:12] manojVivek opened #17121 "Error - "Can't get information about the picture" for product with thumbnail image"
We are getting the following error while accessing the checkout page. This specifically happens when the currently added product has a cross/up-selling product with a thumbnail image.

`a:4:{i:0;s:171:"Can't get information about the picture: /var/www/html/pub/media/catalog/product/cache/thumbnail/276x276/beff4985b56e3afdbeabfc89641a4582/d/t/sku.jpg";i:1;s:7993:"#0 /var/www/html/vendor/magento/mod

[2018-07-25 12:12] magento-engcom-team commented on #17121
Hi @manojVivek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-25 12:28] #14749 closed, assigned to nobody

[2018-07-25 12:35] lewisvoncken commented on #16161
@dwaynebartels maybe you can use the following module in the meantime:

https://github.com/experius/Magento-2-Module-Experius-Product-WebsiteIds-Api

[2018-07-25 12:47] engcom-backlog-pb commented on #15045
@caww, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-25 12:47] #15045 closed, assigned to nobody

[2018-07-25 12:48] engcom-backlog-pb commented on #15046
@caww, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-25 12:48] #15046 closed, assigned to nobody

[2018-07-25 12:57] dodiya-divyarajsinh commented on #5102
**I have same issue in Magento 1.9**
i'm using magento 1.9.3.2

1. Login to a customer accountstry to add something to shopping cart and place an order
    after order is saved go back to store and try to add something else to shopping cart.
    it return error message: We can't add this item to your shopping cart right now.
    If i logout and login back i can add the product to shopping cart and

[2018-07-25 12:57] vberthet commented on #13721
Probably caused by https://github.com/magento/magento2/issues/12390
If a custom POST request is made during checkout then paypal module fail with the described error.

[2018-07-25 12:59] kshaa opened #17125 "x-magento-init initialisation not bound to happen in the right order."
### Preconditions
1. Magento 2.1.12

### Steps to reproduce
1. Inject a script very early in the page, that requires section-config.js and trigger its method getAffectedSections("some page").

Example reproduction code
(Or just use this example module - https://github.com/kshaa/m2-section-config-oddity/)

vendor/magento/module-theme/view/base/templates/root.phtml
(Root.phtml is not the proper plac

[2018-07-25 13:00] magento-engcom-team commented on #17125
Hi @kshaa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-25 13:10] engcom-backlog-nazar commented on #15494
Hi @Fredwak  Can you show valid code wich you used, i cannot reproduce by you scenario, th link you set is not valid to magento 2

[2018-07-25 13:13] djuro commented on #13149
What would be the commit please?

[2018-07-25 13:33] gwharton commented on #15544
I'm working on a test case for this, but struggling to reproduce aswell.

[2018-07-25 13:33] engcom-backlog-nickolas commented on #14586
Hello @duffner, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-25 13:38] engcom-backlog-nickolas commented on #14521
Hello @erichagz, thank you for your report. I'm not able to reproduce this issue. Could you please add more details?

[2018-07-25 13:46] engcom-backlog-nazar commented on #14500
@n1cehua1991  Yes shure.

[2018-07-25 13:46] #14500 closed, assigned to nobody

[2018-07-25 13:49] engcom-backlog-nazar commented on #15901
Hi @deepkamal  i cannot reproduce your scenarios, did you check cron settings?

[2018-07-25 13:53] kshaa commented on #17125
Hey, I reproduced this also on a vanilla Magento 2.2.5.
Here's the example code I used - https://github.com/kshaa/m2-section-config-oddity/

[2018-07-25 14:28] hayleenoonan opened #17130 "hp"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-07-25 14:29] #17130 closed, assigned to nobody

[2018-07-25 14:42] engcom-backlog-nickolas commented on #15641
@Gaboemmi, thank you for your bug report.
We've created internal ticket MAGETWO-93111t o track progress on the issue.

[2018-07-25 14:45] magento-engcom-team commented on #4977
Hi @theycallmepepper. Thank you for your report.
The issue has been fixed in magento/magento2#17052 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [1db38b0817f45b5062aaaa881ab7041aa2ea927f](https://github.com/magento/magento2/commit/1db38b0817f45b5062aaaa881ab7041aa2ea927f)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-25 14:45] vinothinik2010 opened #17131 "PHP Fatal error: Uncaught Error: Call to a member function getExtOrderId() on null"
We migrated a data from Magento1 (version 1.8.0.0) to Magento2 (version 2.2.5). After moving to server, We couldn't able to open the order view in admin side. It shows the error like " Order View
 Information Changes have been made to this section that have not been saved. This tab contains invalid data. Please resolve this before saving. " ( Please refer the attached screen shot). But it is worki

[2018-07-25 14:45] magento-engcom-team commented on #17131
Hi @vinothinik2010. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-25 14:50] engcom-backlog-nazar commented on #14574
@molovo  this is duplicate for this -> https://github.com/magento/magento2/issues/15505

[2018-07-25 14:51] #14574 closed, assigned to nobody

[2018-07-25 14:55] molovo commented on #14574
@engcom-backlog-nazar It does appear to be, yes. Thanks

[2018-07-25 14:58] tartreau opened #17132 "Fotorama not working"
Hi, my product image is not showing on its page (but on catalog it's working).

The image is indeed on the page (I can see it from the dev tools),but not on frontend directly.

 the only I found to make this work is by adding a width 100% to all children

See in less :

[code]

@magento-engcom-team give me {2.2.4} instance

[2018-07-25 14:58] magento-engcom-team commented on #17132
Hi @tartreau. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-25 16:02] esiemens commented on #16531
enabling Fileinfo php module worked for me

[2018-07-25 16:10] adamlavery opened #17134 "dev:query-log:enable does not work"
### Preconditions

1. Magento 2.2.3
2. PHP 7.0, MySQL 5.7.22

### Steps to reproduce

1. Enable query logging with dev:query-log:enable (as per https://devdocs.magento.com/guides/v2.2/config-guide/cli/logging.html)
2. Clear cache with cache:flush and/or cache:clean
3. Do something, e.g. run a reindex
4. Check deploy mode is developer (it is) and repeat
5. Check Advanced > Developer > Log to File i

[2018-07-25 16:10] magento-engcom-team commented on #17134
Hi @adamlavery. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-25 16:56] mukdam commented on #7537
I tried and Got success and not a Magento bug.ASAP I will update the example for how can create multi-select with custom source in product

[2018-07-25 18:06] koopjesboom commented on #8970
Best,

Same issue on version 2.2.5

[2018-07-25 19:49] sebashottementel commented on #9130
What happen with this issue. Is it going to be fix on 2.3 ?

[2018-07-25 20:04] MagentoAr commented on #11441
so what is the solution ?!
for magento 2.1.7 .. how can we solve it ??
@magento-engcom-team

[2018-07-25 21:07] arnoudhgz commented on #15931
Also in that case, quickly testing something should not be more important than having strict code, which in the end is more error proof.
I don't see the hassle with removing (or renaming) a file shortly if you want the events disabled for testing something.

[2018-07-25 21:42] esiemens commented on #15245
i am still having this problem in 2.2.5, tried the fix mentioned above and there was no affect. does anyone have any ideal of where i should start to fix this?

[2018-07-25 21:59] jevgenijmokrousov commented on #2228
FFS Magento, you can not fix `&amp;` bug in 3 years. Issue opened - 30 Oct 2015. @magento-engcom-team shame on you, go kill yourself.

[2018-07-25 22:30] lingwooc opened #17152 "Failure of "Send Order Email Copy" spams customers, every minute, forever."
Magento 2.2.5 resends emails to customers if the "Send Order Email Copy" feature fails. This is due to a naive check in Magento\Sales\Model\Order\Email\Sender.php . It was PR  magento/magento2#14051 to fix #13769 that did it.

It doesn't discriminate between a failure in the email copy (probably to a company address) and an email to a customer. If the copy fails repeatedly (I've literally never ha

[2018-07-25 22:30] magento-engcom-team commented on #17152
Hi @lingwooc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-25 23:12] michelve commented on #16249
i updated to magento 2.2.5 and this fix is not there.

thank you for the hotfix @novakivskiy

[2018-07-26 01:10] thatguynz commented on #12914
Any update as to which release this resolution is likely to appear in?  I'm interested as it resolves an issue I raised some time ago that was incorrectly reclassified as a "feature request"..

https://community.magento.com/t5/Magento-2-x-Feature-Requests-and/Product-Bundle-Items-can-t-have-a-decimal-default-quantity/idi-p/73599

Cheers.

[2018-07-26 05:54] deepakgupta28 commented on #13961
Hi,

Anyone Help me to suggest REST API Authentication using oauth 1

I am using OAuth based authentication,

But Its Showing

{“message”:”Consumer is not authorized to access %resources”,”parameters”:{“resources”:”Magento_Customer::customer”}

I am getting above errror, Please try to resolve it

Please resolve it I am using Magento 2.2.3 version, using below code to authenticate it

<?php
functio

[2018-07-26 05:56] engcom-backlog-nazar commented on #14909
@nicolai-hoeks we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 05:56] #14909 closed, assigned to nobody

[2018-07-26 05:56] engcom-backlog-nazar commented on #14853
@aruds  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 05:56] #14853 closed, assigned to nobody

[2018-07-26 05:57] engcom-backlog-nazar commented on #14818
@akbaradeeb we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 05:57] #14818 closed, assigned to nobody

[2018-07-26 05:57] engcom-backlog-nazar commented on #14785
@fellnerarthur we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 05:57] #14785 closed, assigned to nobody

[2018-07-26 05:58] engcom-backlog-nazar commented on #14780
@ifekaj we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 05:58] #14780 closed, assigned to nobody

[2018-07-26 05:59] engcom-backlog-nazar commented on #14750
@al1357 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 06:29] engcom-backlog-nazar commented on #15433
Hi @bedroomathletics which version you tested ?

[2018-07-26 06:40] sidolov commented on #13595
Hi @larsroettig. Thank you for your report.
The issue has been fixed in magento/magento2#17092 by @mageprince in 2.1-develop branch
Related commit(s):
 - [58698b55dc33ced5794f226e32ef90fa9d8bd69b](https://github.com/magento/magento2/commit/58698b55dc33ced5794f226e32ef90fa9d8bd69b)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-26 06:40] sidolov commented on #16529
Hi @sanganinamrata. Thank you for your report.
The issue has been fixed in magento/magento2#17111 by @gelanivishal in 2.1-develop branch
Related commit(s):
 - [deb05f1a7d4e8ed789848a86817619df3ec43628](https://github.com/magento/magento2/commit/deb05f1a7d4e8ed789848a86817619df3ec43628)
 - [784d16778c8a46493dded1f9d16d5f4bbdc8fdac](https://github.com/magento/magento2/commit/784d16778c8a46493dded1f9

[2018-07-26 06:40] sidolov commented on #13006
Hi @ramusadwika. Thank you for your report.
The issue has been fixed in magento/magento2#17088 by @mageprince in 2.1-develop branch
Related commit(s):
 - [c1f13137a55999e8df6c6666f437264a22bd5afc](https://github.com/magento/magento2/commit/c1f13137a55999e8df6c6666f437264a22bd5afc)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-26 06:42] engcom-backlog-nazar commented on #15433
@bedroomathletics  -> see attachments
![frame-09d](https://user-images.githubusercontent.com/40756439/43245778-30feb7a4-90b8-11e8-88c1-2208b91b9e61.gif)

[2018-07-26 06:45] DanielRuf commented on #17115
By default the currency symbols is saved for scope default / 0 but when we use a shop, scope stores / 1 is used but the currency symbols is not saved for it (just for default / 0) so it does not take effect in the shop.

[2018-07-26 07:25] #14531 closed, assigned to nobody

[2018-07-26 07:41] engcom-backlog-nickolas commented on #17134
Hello @adamlavery, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-26 07:49] engcom-backlog-pb commented on #17132
@tartreau, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-26 07:49] #17132 closed, assigned to nobody

[2018-07-26 07:51] engcom-backlog-nickolas commented on #17125
Hello @kshaa, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-26 08:15] artskeem commented on #11182
wtf is ft? I got the same problem and its super crucial right now

[2018-07-26 08:30] benjamin1pcs commented on #11182
that was a typeo it was suppose to say f5. However to solve the problem I cleared the browser cache from the settings menu in Chrome.

[2018-07-26 08:37] chicgeek commented on #2228
@jevgenijmokrousov - As frustrating as software bugs and poor processes can be, there is absolutely zero reason for that harmful statement.

[2018-07-26 08:39] engcom-backlog-pb commented on #16953
@tizzyguy87, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-26 08:39] #16953 closed, assigned to nobody

[2018-07-26 08:39] engcom-backlog-nickolas commented on #17112
Hello @atsareva, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
![peek 2018-07-26 11-39](https://user-images.githubusercontent.com/40755810/43251427-8e2b6be2-90c8-11e8-9905-a9599f194733.gif)

Could you please add more details?

[2018-07-26 08:49] artskeem commented on #11182
ah .. thank you so much - that worked I was freaking out for a minute cause ya know these people that wont there site to never have any down time...... Ill stop there. thanks yo!

[2018-07-26 09:29] #15472 closed, assigned to nobody

[2018-07-26 09:30] engcom-backlog-nickolas commented on #15605
@duckchip, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 09:30] #15605 closed, assigned to nobody

[2018-07-26 09:31] engcom-backlog-nickolas commented on #16692
@kilis, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 09:31] #16692 closed, assigned to nobody

[2018-07-26 09:33] Yonn-Trimoreau commented on #8508
In Magento 2.2.5, `Json/PreProcessor.php` file does not contain the fix anymore.

And I manually added the fix to it, followed all the steps for clearing cache in `pub/static`, `var/view_preprocessed`.. Still does not work.

Theme translations are still not added to `js-translation.json` file.

I can't explain why the fix went away on 2.2.5 branch... How is this even possible ?

[2018-07-26 09:34] engcom-backlog-nazar commented on #15384
Hi @jayankaghosh i cannot reproduce by you scenario see attachments
![frame-02d](https://user-images.githubusercontent.com/40756439/43254534-421e1418-90d0-11e8-9923-0f648c42c413.gif)

[2018-07-26 09:34] #15384 closed, assigned to nobody

[2018-07-26 10:02] engcom-backlog-nickolas commented on #16367
Hello @pini-girit, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-26 10:04] engcom-backlog-nazar commented on #15427
Hi @BezV8  i cannot reproduce by your scenario, i have order  registered in magento.

[2018-07-26 10:44] shinesoftware opened #17161 "Magento Bug - Wrong Order Data"
### Preconditions
Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento ver. 2.1.9 - Clean setup by command line
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper

### Magento Store Configuration
The magento store has been configured as

[2018-07-26 10:44] magento-engcom-team commented on #17161
Hi @shinesoftware. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-26 10:45] DanielRuf commented on #17115
We found the cause. It seems the backend setting is not blocked and there is no indication when this setting is exported once (into app/etc/config.php) and in this file there is the config for the currency symbols which is used but not updated in the config file (or do we need a specific step to export it again if it is changed in the backend?).

[2018-07-26 10:46] hongbinwang0801 opened #17162 "I found a problem in using it and couldn't upload pictures."
Notice: getimagesize(): Read error! in /data/fun2bucks/lib/internal/Magento/Framework/Image/Adapter/AbstractAdapter.php on line 304

The media directory is a network hard disk hung on  （Samba）

There is no problem in the local directory

My version of Magento is 2.1.13-dev

How to solve it

[2018-07-26 10:46] magento-engcom-team commented on #17162
Hi @hongbinwang0801. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-26 11:23] #16267 closed, assigned to nobody

[2018-07-26 11:40] engcom-backlog-nickolas commented on #17119
Hello @aasim110. thank you for your report. Unfortunately I cannot reproduce this issue.
![peek 2018-07-26 14-32](https://user-images.githubusercontent.com/40755810/43260306-b602ee60-90e1-11e8-836b-9f27b4568c6b.gif)

If you'd like to update it, please reopen the issue.

[2018-07-26 11:40] #17119 closed, assigned to nobody

[2018-07-26 11:41] engcom-backlog-nazar commented on #15449
Hi @LouNik1984 i cannot reproduce you scenario steps

[2018-07-26 11:47] carolineboivin opened #17164 "Issue with SOAP services after upgrading to 2.2.5 when adding store code to urls"
Hello,

We recently upgraded a project from Magento CE 2.2.2 to 2.2.5 and we have been experiencing an issue with SOAP services since.
It seems that, when adding store code to urls is enabled, the endpoint for services in the WSDL always contains the store code. Whilst this works fine for a store-view scope request, it is problematic for the scope "all" because the part "/admin" is added in the do

[2018-07-26 11:48] magento-engcom-team commented on #17164
Hi @carolineboivin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-26 11:50] carolineboivin commented on #17164
@magento-engcom-team give me 2.2.5 instance

[2018-07-26 11:50] magento-engcom-team commented on #17164
Hi @carolineboivin. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-26 11:50] engcom-backlog-nazar commented on #15209
Hi @raybog , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-07-26 11:50] magento-engcom-team commented on #17164
Hi @carolineboivin, here is your [Magento instance](https://i-17164-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17164-2-2-5.engcom.dev.magento.com/admin](https://i-17164-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-26 11:51] engcom-backlog-nickolas commented on #17162
@hongbinwang0801, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2018-07-26 11:51] #17162 closed, assigned to nobody

[2018-07-26 11:57] carolineboivin commented on #17164
@magento-engcom-team I confirm that I was able to reproduce the issue on the 2.2.5 vanilla instance

[2018-07-26 12:32] engcom-backlog-nazar commented on #14964
Hi @gtlt I cannot reproduce your scenario, see attachments
![selection_039](https://user-images.githubusercontent.com/40756439/43262518-11a01200-90e9-11e8-8a90-088e8f2303a3.png)

[2018-07-26 12:43] engcom-backlog-pb commented on #16336
@krisdante, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/43263000-ae6facd4-90ea-11e8-9725-f0b47e948f32.gif)

[2018-07-26 12:43] #16336 closed, assigned to nobody

[2018-07-26 13:01] wojtekn commented on #14964
@engcom-backlog-nazar I also spot that scenario. In database migrated from M1 we had:
* order records with customer_email = null
* order_adress records with email = null
* quote_address records with email = null

Also, we had many invalid entries in these fields eg.:
* email with spaces inside
* email with trailing spaces
* other address fields entered in email field by mistake eg. street or count

[2018-07-26 13:02] A-1A opened #17165 "Reviews Grid Listing, Reviews Edit Form and Reviews New Form are not showing in admin Magento2.2.2"
**Preconditions:**

Magento 2.2.2
PHP Version 7.0.25

**Steps to reproduce**

Go to admin > MARKETING > User Content > Reviews
![ozd5s](https://user-images.githubusercontent.com/37658339/43267819-9ac3f042-910c-11e8-8d20-316ce6525aa5.png)

**Expected result**
Want list of reviews
![doeqp](https://user-images.githubusercontent.com/37658339/43267877-bfbd56a4-910c-11e8-89c2-449ccbd80092.png)

**Actual

[2018-07-26 13:02] magento-engcom-team commented on #17165
Hi @A-1A. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-07-26 13:11] engcom-backlog-nazar commented on #14964
@wojtekn , problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2018-07-26 13:14] engcom-backlog-pb commented on #17165
@A-1A, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit the issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-07-26 13:14] engcom-backlog-nazar commented on #14964
@wojtekn -> https://github.com/magefan/module-blog/issues/169 ->  Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on iss

[2018-07-26 13:16] wojtekn commented on #14964
@engcom-backlog-nazar what I said above is not really data migration problem, it's Magento 2 setup upgrade problem. Please review referenced issue.

Also, I'm not a bug reporter here, I just wanted to help as I felt you are trying to close the ticket with "we cannot reproduce" status.

[2018-07-26 13:17] engcom-backlog-nazar commented on #15430
Hi @Jaydeepjd  i cannot reproduce your scenario steps, can you provide more information?

[2018-07-26 13:21] yspeedwicked commented on #15028
@zamboten thanks this worked for me.

@engcom-backlog-nickolas can you please refer to its duplicate pull, https://github.com/magento/magento2/pull/15720

Closing this issue.

[2018-07-26 13:21] #15028 closed, assigned to engcom-backlog-nickolas

[2018-07-26 13:21] engcom-backlog-nazar commented on #14964
@wojtekn In described scenario i have no error ,i try many times but have no errors

[2018-07-26 13:23] engcom-backlog-pb commented on #16243
@evktalo, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-26 13:29] magiumcommerce opened #17166 "'$_FILES array is empty' in IE11 with uicomponent file field in admin"
### Summary

Using field with a "file" input type in a custom admin page ui component form results in a '$_FILES array is empty'  error in Internet Explorer 11. This works fine in Chrome (latest version on both linux and windows)

### Preconditions
1. Magento 2.2.4
2. PHP 7.1.17-1+ubuntu16.04.1+deb.sury.org+1
3. nginx/1.10.3 (Ubuntu)
4. IE11 (11.165.17134.0)

### Steps to reproduce
1. Create custo

[2018-07-26 13:32] engcom-backlog-pb commented on #16242
@quisse, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-26 13:35] engcom-backlog-pb commented on #16313
@angika, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-07-26 13:36] quisse commented on #16242
@engcom-backlog-pb Can't you just point me in a direction so i can create a PR for this?

[2018-07-26 13:58] mad-develop opened #17167 "Password forgot send Newsletter E-Mails, if Newsletter confirmation is enabled."
The Password Forgot process seems to send "Newsletter subscription confirmation" with specific settings.

### Preconditions
1. Magento CE 2.2.5
2. PHP 7.1.19-1+ubuntu16.04
3. Enable Newsletter Confirmation (Stores -> Configuration -> Customer -> Newsletter -> Need to Confirm: Yes)
4. Register Account
5. Activate and confirm "General Subscription" Newsletter, so its active your account.

### Steps

[2018-07-26 13:58] magento-engcom-team commented on #17167
Hi @mad-develop. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-26 14:02] niners52 commented on #14964
It appears to happen to people who have migrated from Magento 1. If you open it up as a ticket on the data migration tool repository he will say everything migrated correctly and it is a problem with the upgrade script.

[2018-07-26 14:07] wojtekn commented on #14964
@niners52  👍 😄

[2018-07-26 14:13] engcom-backlog-pb commented on #14916
@nirbhaimag, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 14:13] #14916 closed, assigned to nobody

[2018-07-26 14:14] engcom-backlog-pb commented on #15208
@efimov-ivan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 14:14] #15208 closed, assigned to nobody

[2018-07-26 14:14] engcom-backlog-nazar commented on #14964
@niners52 seems like problem not in upgrade script, when you run upgrade script, its already have email is null, in my case when i upgrade magento to 2.2.4 i have no email is null. so have no error

[2018-07-26 14:15] engcom-backlog-pb commented on #15419
@breg-13, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 14:16] engcom-backlog-pb commented on #16744
@saeohioalpha, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-26 14:16] #16744 closed, assigned to nobody

[2018-07-26 14:20] niners52 commented on #14964
Did you migrate a full Magento 1 database before you did that? I have opened several tickets on the data migration tool and the responses are never speedy, but if you want me to write this up and put it on the repository I can. The other option is that maybe you reach out to Victor since you work for the same company.

[2018-07-26 14:20] A-1A commented on #17165
**Preconditions:**

Magento 2.2.2
PHP Version 7.0.25

**Steps to reproduce**

Go to admin > MARKETING > User Content > Reviews
![ozd5s](https://user-images.githubusercontent.com/37658339/43267819-9ac3f042-910c-11e8-8d20-316ce6525aa5.png)

**Expected result**
Want list of reviews
![doeqp](https://user-images.githubusercontent.com/37658339/43267877-bfbd56a4-910c-11e8-89c2-449ccbd80092.png)

**Actual

[2018-07-26 14:31] engcom-backlog-nazar commented on #14964
@niners52 No ->
Steps to reproduce
composer update 2.2.3 to 2.2.4
upgrade Magento_Sales data: current version - 2.0.7, required version - 2.0.9

[2018-07-26 14:36] niners52 commented on #14964
That is great for you guys, but we don't live in a world with empty databases. The people on this thread have data. I had a ticket in with the Magento support that has my db if you want to talk to them.

[2018-07-26 14:38] engcom-backlog-nazar commented on #14964
@niners52 I have installed sample data with 45 customer and others data  e.g 'orders,products'

[2018-07-26 14:43] A-1A commented on #17165
Also Please Check for other Infomation
https://magento.stackexchange.com/questions/235681/reviews-grid-listing-reviews-edit-form-and-reviews-new-form-are-not-showing-in
https://magento.stackexchange.com/questions/235727/review-and-rating-not-working-in-admin-and-frontend-in-magento2

[2018-07-26 14:43] niners52 commented on #14964
I am sure your sample data wasn't migrated though. For me I have been working on my m2 site for about 6 months. I had 2.2.2 and migrated to 2.2.3 with no problems. It was the migration from 2.2.3 to 2.2.4 that this error happened. Look at what was changed in 2.2.4. There had to have been something that looks at addresses. Once you isolate that talk to Victor and see if he has any idea on why migra

[2018-07-26 14:44] josephmcdermott opened #17169 ""Area is already set" on Design Config save"
### Preconditions
1. Install 2.2.5

### Steps to reproduce
1. Go to Admin > Content > Design > Configuration
2. Issue 1: The design grid filters render BELOW the grid
3. Issue 2: Edit the Default Store View (the store view scope, third one down)
4. Hit save, and see the error message: "Something went wrong while saving this configuration: Area is already set"

### Expected result
1. Design config

[2018-07-26 14:44] magento-engcom-team commented on #17169
Hi @josephmcdermott. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-26 14:47] niners52 commented on #17169
Hi Joseph, I had the same issue and found this https://github.com/magento/magento2/issues/14968 It will be fixed in 2.2.6

[2018-07-26 14:55] chris-pook commented on #17023
The issue looks to me to be simply related to the handling of the url_key column in this function called in the main loop for each row of the product import sheet:

[code]

[code]

If the url_key column is not set in the data, then it will be set to '', and subsequently clears out the product's url attribute. I think there needs to be a tighter check of if the import sheet is intending to update t

[2018-07-26 15:00] shinesoftware commented on #17161
Problem has been solved! The bug in Magento is the **loading the order by its IncrementId** that could be customizated by the store owner.

If the store owner set the same order sequence ID for 2 stores the result is that Magento will call the first order with the increment ID.

For instance:

- Store A
-- Order 100000001
-- Order 100000002
-- Order 100000003

- Store B
-- Order 100000001
-- Order

[2018-07-26 15:01] dwaynebartels commented on #16686
I am curious to what the fix is going to be. Please clarify because we are running in to the same issue.

#### The problem
Company has thousands of products. Some have spaces between the characters in the itemcode/sku.
We create the product using the POST /products/ endpoint. It takes spaces, no problem. We want to get the product to do logic on our system and we have a problem because Magento 2.2

[2018-07-26 15:09] juanangel123 opened #17170 "Wrong error message when importing products with duplicate url_key"
### Preconditions
1. Magento ver. 2.2.4.
2. PHP 7.0.30

### Steps to reproduce
1. Go to System > Import.
2. Download the sample product file.
3. Removed all rows except the first product.
4. Import the file.
6. Change the SKU of the product in the csv file.
5. Go again to Import page.
6. Error will appear.

### Expected result
It should show the sku and the url key of the wrong uploaded product.

[2018-07-26 15:09] magento-engcom-team commented on #17170
Hi @juanangel123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-26 15:20] juanangel123 commented on #17170
Sorry, just realized this issue is already fixed in branch 2.2-develop...

[2018-07-26 15:22] bansined commented on #16231
@hostep your solution worked for me. Issue solved just after disabling module

bin/magento module:disable Amazon_Payment Amazon_Login

Thanks a lot for this solution

[2018-07-26 15:28] Olek89 opened #17171 "Export subscriber to CSV"
Hello,

i get the following error, if i want to export the subscriber in Magento 2.2.5.
Afert i clicking of all 5700 subscripers to export, i get the error of the System

Forbidden
You do not have permission to access this document.

In the error_logs of the system is these written:

[Thu Jul 26 17:26:30.693942 2018] [core:error] [pid 31391] (36)File name too long: [client XXXXX:59618] AH00127: Ca

[2018-07-26 15:42] sidolov commented on #13769
Hi @pawcioma. Thank you for your report.
The issue has been fixed in magento/magento2#17087 by @mageprince in 2.1-develop branch
Related commit(s):
 - [add1e1459b38ef7f10df4e3b474d1716a739126a](https://github.com/magento/magento2/commit/add1e1459b38ef7f10df4e3b474d1716a739126a)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-26 15:43] Olek89 commented on #17171
Hello, i dont now, if it is on the vanilla magento version.
the issue is coming up after upgrading to 2.2.5.
I think it could also a server problem, but i dont now.

[2018-07-26 16:08] michi-p opened #17173 "Cookie deletion not working on cookies with leading "." in domain"
### Preconditions

1. Magento 2.2.5
2. PHP 7.1.13

### Steps to reproduce

1. Create cookie with name `foo`, value `bar` and domain `.example.shop.com` (leading dot)
2. execute function `deleteCookie('foo')` of `\Magento\Framework\Stdlib\CookieManagerInterface`

### Expected result

1. Cookie should be deleted (at least after page refresh)

### Actual result

1. Cookie is not deleted and still con

[2018-07-26 16:08] magento-engcom-team commented on #17173
Hi @michi-p. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-26 18:55] DanielRuf commented on #17173
In general, the function to delete a cookie needs the same input parameters.

[2018-07-26 18:56] DanielRuf commented on #17169
Closing as this is already fixed in the develop branches (2.2-dev and 2.3-dev afaik).

[2018-07-26 18:56] #17169 closed, assigned to nobody

[2018-07-26 20:13] michi-p commented on #17173
@DanielRuf what do you mean by that?
The function `deleteCookie` accepts two parameters: the name of the cookie ('foo' in my example) and a default return value if the cookie doesn't exists.

[2018-07-26 21:10] DanielRuf commented on #17173
https://github.com/magento/magento2/blob/1795f67500287244e4a2443cd51ee29fd5f4a77a/lib/internal/Magento/Framework/Stdlib/Cookie/PhpCookieManager.php#L303

https://github.com/magento/magento2/blob/1795f67500287244e4a2443cd51ee29fd5f4a77a/lib/internal/Magento/Framework/Stdlib/Cookie/CookieMetadata.php#L17

http://php.net/manual/de/function.setcookie.php

https://stackoverflow.com/a/2287755/753676

[2018-07-26 21:13] DanielRuf commented on #17173
Not sure where you see this. Can you point me to the method declaration?

[2018-07-26 22:12] willwright111 opened #17174 "Configurable Product Image Parent Product Thumbnail not working"
### Preconditions

Magento 2.2.5 Community
PHP 7.1
Server Apache

### Steps to reproduce

1. Configuration > Sales > Checkout ensure that Configurable Product Image is set to Parent Product Thumbnail.
2. Create a Configurable Product with a main image on the parent product.
3. Add image to the First Child product.
4. Add both child products to cart.

### Expected result

1. If Configuration > Sale

[2018-07-26 22:12] magento-engcom-team commented on #17174
Hi @willwright111. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-26 22:47] michi-p commented on #17173
Sorry, I mixed something up. Now I know what you meant.

You are right. If I create the cookie with the `setPublicCookie` function and deletes it with the `deleteCookie` function (from \Magento\Framework\Stdlib\CookieManagerInterface) everything works as expected if I provide the same input parameters. The default domain for the cookie would be something like `example.shop.com`
However, in my case

[2018-07-26 23:04] DanielRuf commented on #17173
Please check the `$metadata` parameter which supports setting the domain.
This is what I mean, you can explicitely set it to `.domain.tld`.

[2018-07-26 23:10] DanielRuf commented on #17173
https://magenest.com/manage-cookies-in-magento-2/
https://www.maximehuran.fr/en/cookies-and-magento-2/

[code]

[2018-07-26 23:19] michi-p commented on #17173
It's working that way - I already tried - but in my opinion it should not be necessary to set the domain with a leading dot.
It should be irrelevant if a cookie domain has a leading dot or not: https://stackoverflow.com/a/20884869/6769302

[2018-07-26 23:29] DanielRuf commented on #17173
https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie

[code]

The problem is your JavaScript code, not the PHP part.

[2018-07-27 02:34] tamada1 commented on #15030
I am facing this issue in the same way.
As pointed out by @bijennaorem11, this issue will happen for users who do not have notification authority.
I think this is a bug.

[2018-07-27 02:54] vipin12117 commented on #12684
I am facing this error in 2.1.14.  So it this not fixed in this version ?

[2018-07-27 02:57] vipin12117 commented on #12684
- In addition to that, also below changes are necessary:

vendor/magento/module-downloadable/Model/Quote/Item/CartItemProcessor.php

convertToBuyRequest - first "if" condition is changed from:

if ($cartItem->getProductOption()
&& $cartItem->getProductOption()->getExtensionAttributes()->getDownloadableOption()
)

to:

if ($cartItem->getProductOption()

&& $cartItem->getProductOption()->getExtensio

[2018-07-27 05:16] ronak2ram commented on #16929
Hello @chizhov13
Can you please check solution #17013

[2018-07-27 05:40] abbasalibutt opened #17180 "Existing updates grid is not showing"
Hello,

I am using Magento Enterprise 2.2.2

Steps:
In admin panel Catalog -> Categories -> Select any Category -> Schedule New Updates -> Assign to Existing Update

### Expected result
1. It should show the already existed all other updates in the grid

### Actual result
Showing nothing.

Note: I have disabled all 3rd party and custom modules but still showing nothing.

[2018-07-27 05:40] magento-engcom-team commented on #17180
Hi @abbasalibutt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-27 05:52] engcom-backlog-nazar commented on #15131
@hasala  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-27 05:52] #15131 closed, assigned to nobody

[2018-07-27 06:35] chizhov13 commented on #16929
Hello @ronak2ram thank you for your response.

I checked your solution on Magento 2.2.5, everything is okey. But then I have tried to reproduce this bug on Magento 2.1.14 and it still does not work properly.

I see that this issue is opened for 2.2.x and 2.3.x. but also need to fix it on Magento 2.1.x

[2018-07-27 06:42] engcom-backlog-nickolas commented on #15030
Hello @chanwhab, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 06:50] agavshinde opened #17181 "Duplicate Records in Report Export CSV"
Environment Details:
1.  Magento 2.2.0
2. PHP 7
3. MySql 5.6

### Steps to reproduce
1. Go to Reports > Customer(Order Total)
2. Filter Records from 09/26/2015 to 07/26/2018 and Export data in CSV file.
3. The exported CSV will contain just double records then what it shows in Grid and these double records are duplicate records.
4. It works fine I filter from
 a) from 11/26/2015 to 07/26/2018
 b)

[2018-07-27 06:50] magento-engcom-team commented on #17181
Hi @agavshinde. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-27 07:15] engcom-backlog-nickolas commented on #17170
Hello @juanangel123, thank you for your report. As you mentioned, this issue already fixed in 2.2-develop and 2.3-develop. So, I'm closing it. If you'd like to update it, please reopen the issue.

[2018-07-27 07:15] #17170 closed, assigned to nobody

[2018-07-27 07:17] engcom-backlog-nickolas commented on #17180
@abbasalibutt, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sour

[2018-07-27 07:17] #17180 closed, assigned to nobody

[2018-07-27 07:33] engcom-backlog-nazar commented on #14462
Hi @swnsma, thank you for you report,  the fix for this issue has already in 2.2-develop & 2.3-develop branch

[2018-07-27 07:33] #14462 closed, assigned to nobody

[2018-07-27 07:34] engcom-backlog-nickolas commented on #17173
Hello @michi-p, thank you for your report. As, @DanielRuf kindly pointed out, and I agree with him, there is nothing wrong with magento code in this case. Therefore I'm closing this issue for now.
If you'd like to update it, please reopen the issue.

[2018-07-27 07:34] #17173 closed, assigned to nobody

[2018-07-27 07:48] engcom-backlog-pb commented on #17174
@willwright111, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 07:52] engcom-backlog-nickolas commented on #14983
@abhilashv, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-07-27 07:52] #14983 closed, assigned to nobody

[2018-07-27 07:53] TommyKolkman commented on #11821
At anyone here: since this is not getting resolved (probably anytime soon) and my client does want to use it; are there any alternatives you guys can recommend?

[2018-07-27 07:57] engcom-backlog-pb commented on #17171
@Olek89б please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-27 07:57] #17171 closed, assigned to nobody

[2018-07-27 08:07] Morgy93 commented on #14509
Something we can to do elevate the priority?
Since this worked flawlessly with Magento 1 it's a bummer that it got removed for Magento 2.

[2018-07-27 08:12] VirtusB commented on #16567
I also have this issue

[2018-07-27 08:23] Felistas opened #17184 "Intermitent redirect to the order confirmation page after using stored card details in chrome and safari"
After magento upgrading to 2.2.4, the user is not redirected to the order confirmation page after using their stored card details. This behaviour is inconsistent and only present on Safari and Firefox.

*Preconditions*
Magento 2.2.4
Mysql 5.6.30

*Steps to reproduce*
Customer makes an order using their stored card details
Order confirmation email message is sent to the user
Customer does not get r

[2018-07-27 08:24] magento-engcom-team commented on #17184
Hi @Felistas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-27 08:29] robin-homberg opened #17185 "ObjectManager Exception in Magento\Backend\Block\Media\Uploader"
### Preconditions
1. Magento Version 2.3.0-alpha56 or 2.3-develop on commit f01227c554448797077e4f752315204e594b91f2
2. PHPUnit Version 7.2.7
3. Unit-Test for some class that extends `Magento\Backend\Block\Media\Uploader`
( https://github.com/Flagbit/Magento2-Flysystem/blob/develop/Test/Unit/Block/Adminhtml/Filesystem/Content/UploaderTest.php )

### Steps to reproduce
1. Run the unit tests
2. See

[2018-07-27 08:31] Felistas commented on #17184
**Summary of the Issue**
After magento upgrading to 2.2.4, the user is not redirected to the order confirmation page after using their stored card details. This behaviour is inconsistent and only present on Safari and Firefox.

 **Information on your environment**
Magento 2.2.4

**Steps to reproduce**
Customer makes an order using their stored card details
Order confirmation email message is sent

[2018-07-27 08:43] Felistas commented on #17184
@magento-engcom-team give me 2.2.4 instance

[2018-07-27 08:43] magento-engcom-team commented on #17184
Hi @Felistas. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-27 08:43] magento-engcom-team commented on #17184
Hi @Felistas, here is your [Magento instance](https://i-17184-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-17184-2-2-4.engcom.dev.magento.com/admin](https://i-17184-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-27 08:44] anthony-jullien commented on #9186
Still an issue on Magento 2.2.3

[2018-07-27 08:44] engcom-backlog-nazar commented on #14638
Hi @dmanners  i cannot reproduce you scenario, see attachments
![selection_040](https://user-images.githubusercontent.com/40756439/43311201-6541fd3e-9192-11e8-8e3a-f0ab4d6ebba0.png)

[2018-07-27 08:46] sidolov commented on #15356
Hi @vgelani. Thank you for your report.
The issue has been fixed in magento/magento2#16992 by @chirag-wagento in 2.1-develop branch
Related commit(s):
 - [846347dd6660c9174842fdb7fb199986eb7bf7c5](https://github.com/magento/magento2/commit/846347dd6660c9174842fdb7fb199986eb7bf7c5)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-27 08:47] engcom-backlog-nickolas commented on #14931
Hello @lano-vargas, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
![peek 2018-07-27 11-48](https://user-images.githubusercontent.com/40755810/43311286-ab0ad11a-9192-11e8-925d-fa4fb99fe0f7.gif)
If you'd like to update it, please reopen the issue.

[2018-07-27 08:49] magento2dev opened #17186 "REST API Category translation"
### Additional information

test case steps description : https://github.com/magento/magento2/issues/17186#issuecomment-528501666

### Preconditions

1. Magento 2.2.3 & 2.3.x

### Steps to reproduce

1. Send REST PUT request to translate category name in specific store view : {{BaseURL}}rest/{{codeStoreView}}/V1/categories/{id}

`{
	"saveOptions": true,
	"category": {
		"id": 3,
		"name": "New Cat

[2018-07-27 08:49] magento-engcom-team commented on #17186
Hi @anthony-jullien. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-07-27 08:53] mad-develop commented on #17167
@magento-engcom-team give me 2.2.5 instance

[2018-07-27 08:53] magento-engcom-team commented on #17167
Hi @mad-develop. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-27 08:53] magento-engcom-team commented on #17167
Hi @mad-develop, here is your [Magento instance](https://i-17167-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17167-2-2-5.engcom.dev.magento.com/admin](https://i-17167-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-27 08:57] mad-develop commented on #17167
I confirm that i was able to reproduce the issue on vanilla Magento instance :)

[2018-07-27 09:06] engcom-backlog-nazar commented on #14754
Hi @qsolutions-pl  can you please describe how you added checkbox to template?

[2018-07-27 09:15] engcom-backlog-nazar commented on #14880
Hi @antheny916  I cannot reproduce by you scenario, maybe problem in some custom module, we close this issue, if you'd like to update this issue please reopen the issue
![selection_041](https://user-images.githubusercontent.com/40756439/43312737-cea7d57e-9196-11e8-9638-58f619be5e50.png)

[2018-07-27 09:15] #14880 closed, assigned to nobody

[2018-07-27 09:31] engcom-backlog-nazar commented on #14697
Hi @caww I cannot reproduce by you scenario, maybe problem in some custom module, we close this issue, if you'd like to update this issue please reopen the issue
![frame-12d](https://user-images.githubusercontent.com/40756439/43313543-ff477502-9198-11e8-869c-2ef09922b313.gif)

[2018-07-27 09:31] #14697 closed, assigned to nobody

[2018-07-27 09:50] engcom-backlog-nickolas commented on #14861
Hello @kanduvisla, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 09:51] lano-vargas commented on #14931
@engcom-backlog-nickolas  thanks for the video.

you are missing the point it's not the sidebar filter div. its' the column div.

Before:
<img width="1341" alt="screen shot 2018-07-27 at 10 41 05" src="https://user-images.githubusercontent.com/3495481/43314420-c5106a00-918a-11e8-9cfc-63de25699ced.png">

After:
<img width="1789" alt="screen shot 2018-07-27 at 10 44 26" src="https://user-images.gith

[2018-07-27 10:08] Jakhotiya commented on #9509
This bug can also be reproduced just by enabling single store mode. On product listing grid in Admin, websites column becomes disabled and hence this bug is reproduced

[2018-07-27 10:14] engcom-backlog-nazar commented on #15116
Hi @dschmidthawk I cannot reproduce you scenario steps, see attachments, we are closing this issue . If you'd like to update it, please reopen the issue.
![selection_042](https://user-images.githubusercontent.com/40756439/43315530-e9998852-919e-11e8-9683-9cbfd956b42a.png)

[2018-07-27 10:14] #15116 closed, assigned to nobody

[2018-07-27 10:22] VirtusB commented on #16567
Please open the issue again. Changing setModule('admin')  to setModule('adminhtml') fixes it, but I can't get the override of the View.php file to work

[2018-07-27 10:30] engcom-backlog-nickolas commented on #14931
@lano-vargas thanks for feedback.
We've acknowledged the issue and added to our backlog.

[2018-07-27 10:44] engcom-backlog-nickolas commented on #15160
@JeromeLa, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-27 10:44] #15160 closed, assigned to nobody

[2018-07-27 10:46] engcom-backlog-nickolas commented on #16565
@mohsengit, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-27 10:46] #16565 closed, assigned to nobody

[2018-07-27 10:49] engcom-backlog-nickolas commented on #16747
@ajay1987tiwari, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-27 10:49] #16747 closed, assigned to nobody

[2018-07-27 11:19] engcom-backlog-nazar commented on #16509
Hi @arjuninfo  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 11:22] evolbug opened #17187 "Grid filter does not work with value `0`"
### Preconditions

1. Magento 2.1.8/2.1.10/2.2.0

### Steps to reproduce

1. Go to any grid in admin panel
2. Insert `0` in any filter
3. Apply filter

### Expected result

1. Grid is filtered with value `0`

### Actual result

1. All items are returned with no filtering

[2018-07-27 11:22] magento-engcom-team commented on #17187
Hi @evolbug. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-27 11:34] evolbug commented on #17187
@magento-engcom-team confirmed

[2018-07-27 11:41] kevinruscoe opened #17188 "Cannot remove massaction action from XML"
There doesn't seem to be an action for removing a massaction from a modules .xml file.

[2018-07-27 11:41] magento-engcom-team commented on #17188
Hi @kevdotbadger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-27 11:43] engcom-backlog-pb commented on #17186
@anthony-jullien, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 11:52] engcom-backlog-pb commented on #17187
@evolbug, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 11:52] engcom-backlog-nickolas commented on #17185
Hello @robin-homberg, thank you for your report. Unfortunately, I'm not able to reproduce this issue.
![peek 2018-07-27 14-50](https://user-images.githubusercontent.com/40755810/43319214-8b3b5b06-91ac-11e8-8ad0-4303856b64a3.gif)

Also, it's not the best practice to use inheritance in Magento 2. Please refer to https://devdocs.magento.com/guides/v2.3/ext-best-practices/extension-coding/common-progr

[2018-07-27 11:52] #17185 closed, assigned to engcom-backlog-nickolas

[2018-07-27 11:56] engcom-backlog-nickolas commented on #17188
@kevdotbadger, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, add issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2018-07-27 11:56] #17188 closed, assigned to nobody

[2018-07-27 12:14] engcom-backlog-nazar commented on #15122
Hi @LifeAsBook I cannot reproduce your scenario, in my case i have no sessions created, only 1 for admin which i created when i login in, see attachments
![frame 23d](https://user-images.githubusercontent.com/40756439/43320049-c934938e-91af-11e8-9071-26a97d3e50d7.gif)

[2018-07-27 12:15] piavgh commented on #9255
I met this problem today.
Just want to make sure it's intention, not a bug.

So basically, if I have 10 records, 5 records per page, so I will have 2 pages maximum.

If I setCurPage(3), I will get the same result as setCurPage(2).

Is that correct? Thanks.

[2018-07-27 12:16] mad-develop opened #17190 "system.log rapidly increasing after Magento CE 2.2.5 update (cron logs)"
system.log is increasing rapidly after Magento CE 2.2.5 update with the added cron info logs.
Cronjob is runs every minute, so after one day i have about 5MB system.log size. This seems a little too much.

The logging is not bad, but in Production mode several logs every minute, that the cronjob has run successful seems a bit unnecessary.

A solution could be to make Loglevel of system.log configu

[2018-07-27 12:16] magento-engcom-team commented on #17190
Hi @mad-develop. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-27 12:32] sidolov commented on #14476
Hi @damiandawber. Thank you for your report.
The issue has been fixed in magento/magento2#16959 by @tejash-wagento in 2.2-develop branch
Related commit(s):
 - [9a95c6645d5cad32b8315084df86d832132a5a95](https://github.com/magento/magento2/commit/9a95c6645d5cad32b8315084df86d832132a5a95)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-27 12:32] #14476 closed, assigned to tejash-wagento

[2018-07-27 12:32] sidolov commented on #15118
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#17006 by @denistrator in 2.2-develop branch
Related commit(s):
 - [33a67bc81f4ce30810ecafde955ad0fb462d03e6](https://github.com/magento/magento2/commit/33a67bc81f4ce30810ecafde955ad0fb462d03e6)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-27 12:32] sidolov commented on #8131
Hi @DarkLanternMG. Thank you for your report.
The issue has been fixed in magento/magento2#16952 by @brobie in 2.2-develop branch
Related commit(s):
 - [a8ba2f3f0211b9f2f77a7bd0cfa1f62716294ec9](https://github.com/magento/magento2/commit/a8ba2f3f0211b9f2f77a7bd0cfa1f62716294ec9)
 - [61012870b79fbd9f93369d7e9f91f4adadf630bd](https://github.com/magento/magento2/commit/61012870b79fbd9f93369d7e9f91f4a

[2018-07-27 12:32] #15118 closed, assigned to nobody

[2018-07-27 12:32] #8131 closed, assigned to brobie

[2018-07-27 12:38] aniruddh-capital commented on #14964
I would recommend using this query instead of dummy or wrong email addresses to keep the sales data accurate. I just resolved the issue on mine right now

`update sales_order_address a left join sales_order_address b on a.parent_id = b.parent_id set a.email = b.email where a.email is null`

@gtlt  @maderlock  @kabadabra  @hanego   @niners52

now this issue is most probably because the shipping add

[2018-07-27 12:42] gwharton commented on #15122
@engcom-backlog-nazar you tested this on 2.3, it was raised on 2.2

I have just deployed 2.2.5 from git, created the cronjob

![screenshot 3](https://user-images.githubusercontent.com/30697781/43321129-d64dd5c4-91a2-11e8-8837-ca680c3ea11b.png)

4 minutes since enabling cron job, 4 sessions created. I've not even touched the front/backend via browser.

[2018-07-27 12:43] aKalisch commented on #13929
@magento-engcom-team i have the same issue as @digvijay2017.

File: Magento\Cms\Model\Wysiwyg\Images\Storage
[code]

[2018-07-27 12:45] anthony-jullien commented on #17186
Thanks, do you have an official ticket to follow this important issue ? and do you know when a patch will be developed because we have the same issue on products.

Thanks !

[2018-07-27 12:49] engcom-backlog-nazar commented on #15122
@gwharton can you please provide more information to reproduce? it problem in your environment, can you provide a video ?
![selection_044](https://user-images.githubusercontent.com/40756439/43321462-9a3193ca-91b4-11e8-94d1-68bc0b336e3b.png)

[2018-07-27 12:50] engcom-backlog-pb commented on #17181
@agavshinde, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-27 12:52] engcom-backlog-nazar commented on #15122
@gwharton Give me a screenshot by run cron every 1 minute, so we have a 10 minute cron run, end we must have 10 session file

[2018-07-27 12:58] engcom-backlog-nazar commented on #15122
@gwharton
![selection_045](https://user-images.githubusercontent.com/40756439/43321909-e8c073fc-91b5-11e8-8c3b-5a054b3ecc70.png)

[2018-07-27 12:59] engcom-backlog-nazar commented on #15967
Hi @speedupmate  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 13:01] rajputlalita commented on #15359
i am still getting this issue in  Magento ver. 2.2.5

![magentoerror](https://user-images.githubusercontent.com/16317684/43321998-1b4e045a-91cb-11e8-8b62-906669c0c604.png)
Any suggestion or do  i need  to  do  the changes suggested by @rezaulsarker

[2018-07-27 13:20] delyriand opened #17193 "Error with translation of confirmation modal buttons"
### Preconditions
1. Magento 2.2.5 with samples data
2. French language packe (like Imaginaerum/magento2-language-fr-fr)
3. Change locale configuration to fr_FR - General > Locale Options > Locale = French (France)
4. Enable:
     - js and css merge (dev/css/merge_css_files and dev/js/merge_files)
     - js bundling (dev/js/enable_js_bundling)
     - production mode

### Steps to reproduce
1. Add

[2018-07-27 13:20] magento-engcom-team commented on #17193
Hi @delyriand. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-27 13:22] gwharton commented on #15122
Here is a video of the deployment and the first 5 minutes of sessions being created. See attached for a copy of my deployment script [recreate-dev1.txt](https://github.com/magento/magento2/files/2235857/recreate-dev1.txt)

https://youtu.be/P3jSkPn8r4c

[2018-07-27 13:36] ihor-sviziev opened #17195 "Incorrect message: Unable to send the cookie. Maximum number of cookies would be exceeded"
Previously this issue was reported in https://github.com/magento/magento2/issues/7931 and https://github.com/magento/magento2/issues/16568, but no one was able to reproduce it.

### Preconditions
1. Magento 2.2.5 installed via composer

### Steps to reproduce
1. Open desktop browser Firefox
2. Navigate to `about:config`
3. Find "dom.storage.enabled" option and change to "false"
4. Navigate to Mage

[2018-07-27 13:36] magento-engcom-team commented on #17195
Hi @ihor-sviziev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-27 13:36] engcom-backlog-pb commented on #17186
@anthony-jullien currently, we are not creating internal tickets, as we want to involve our community members in developing of Magento 2. Anyone can assign an issue on this tracker and submit pull-request with a proper fix.

[2018-07-27 13:41] engcom-backlog-nazar commented on #15122
@gwharton problem in your environment its not cron create a session, try install magento , manual locally, i think 99% you cannot  reproduce this.

[2018-07-27 13:42] engcom-backlog-nazar commented on #15122
@gwharton  i still have no created session. also try  ->https://devdocs.magento.com/guides/v2.2/config-guide/sessions.html

[2018-07-27 13:55] gwharton commented on #15122
I've deployed a number of times, 100% reproducable, @sindrepm and @LifeAsBook are also seeing it. Its been doing it 100% on all my installations for the last few versions on magento. Can't pinpoint when it started.

[2018-07-27 14:00] konarshankar07 commented on #15815
Hello @shater1990 ,
The admin url is going to 404 because the theme you are using have an extension name Infortis_Dataporter. In this extension, the route name is used same as magento that's why this bug is generating. You can fix this by rename the route name from "adminhtml" to "ultimoadminhtml" and don't forgot to rename the layout files  from "adminhtml_cfgporter_index_export.xml" to "ultimoad

[2018-07-27 14:00] engcom-backlog-nazar commented on #15122
@gwharton Just try deploy manual on you computer, only locally.

[2018-07-27 14:04] ihor-sviziev commented on #17061
Hi @LiamKarlMitchell,
Could you confirm than issue is fixed for you?

[2018-07-27 14:09] engcom-backlog-pb commented on #17195
@ihor-sviziev, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 14:21] engcom-backlog-pb commented on #17165
@A-1A, this information is not enough. We assume you have some custom modules, which break correct workflow. Please ask bot for a test instance and try to reproduce the issue on it.

[2018-07-27 14:23] engcom-backlog-pb commented on #14821
@anasmansuri1989, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-27 14:23] #14821 closed, assigned to nobody

[2018-07-27 14:29] #17190 closed, assigned to nobody

[2018-07-27 14:32] A-1A commented on #17165
But I checked after disabled all custom modules also I reconfig module-review via composer.

[2018-07-27 14:34] engcom-backlog-nickolas commented on #17193
Hello @delyriand, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-27 14:40] engcom-backlog-pb commented on #14570
@ashokrathorecdn, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-27 14:40] #14570 closed, assigned to nobody

[2018-07-27 14:40] A-1A commented on #17165
Log File Showing Error Below
[2018-07-24 06:25:27] main.DEBUG: cache_invalidate: {"method":"GET","url":"http://localhost/magento2/admin/review/product/index/key/33716591056fa74ee620fcd6424973062b37f27da9b6fe33cc1bcab69a9e5ba0/","invalidateInfo":{"tags":["interception","CONFIG"],"mode":"matchingTag"}} []

[2018-07-27 14:43] engcom-backlog-pb commented on #14601
@userName, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean Magento installation without any custom modules. If you'd like to update it, please reopen the issue.

[2018-07-27 14:43] #14601 closed, assigned to nobody

[2018-07-27 14:45] engcom-backlog-pb commented on #17165
@A-1A please ask bot for a test instance and try to reproduce the issue on it.

[2018-07-27 14:48] mad-develop commented on #17190
@engcom-backlog-pb
yeah its not a bug, but definitly needs improvement.
after a month, the log would have >150MB only with successful cron logs...

I don't know how long your shops are running, but these logs in production mode seems excessive. And there are separate log files that are empty and never gets filled (magento.cron.log, update.cron ...)

Seems i have to write my own system logger to av

[2018-07-27 14:56] josefbehr commented on #10687
We have a customer's shop, where image roles disappeared. Now we're trying to get them back, but none of the possible solutions here work, apparently. Magento version is 2.1.12. Anyone have any idea how to get the roles back?

[2018-07-27 14:59] A-1A commented on #17165
Please check video i shared
https://www.useloom.com/share/e8c320100c2d4cbabec5997988f00ef5

[2018-07-27 15:07] DanielRuf commented on #15359
It will be fixed in 2.2.6.

[2018-07-27 15:08] DanielRuf commented on #15359
Magento provides a patch for this bug for those who need it now.

[2018-07-27 15:16] UlliKah commented on #9292
Status update on this::27-July-**2018**
We are currently working on a Magento 2.2.x project. As it turns out this issue IS STILL NOT FIXED! Because we are facing the same as everyone else... Editor doesn't do its job 'image-insert' properly.
Basic cms standart function - Image Upload and Insert into Article or Product. Works flawlessly in ANY CMS / eCommerce MS from WP WooCommerce to ... well ever

[2018-07-27 15:41] gwharton commented on #15118
Fix PR #17006 working well for me.

[2018-07-27 16:59] gwharton commented on #15122
I've just deployed it onto another freshly deployed Ubuntu 17.10 machine with no webserver configured. Same result. Session created every minute.

[2018-07-27 18:43] markoshust commented on #14826
@engcom-backlog-nazar i'm not entirely sure this is a dupe of #14825

#14825 - deals with how currency persists after user logout
#14826 - deals with how currency updates after user login

if this ticket is re-closed, i'd at least recommend adding the testing criteria above and expected/actual results to #14825 as this is a different situation to test against.

[2018-07-27 18:48] hostep commented on #15122
@engcom-backlog-nazar: I can also reproduce this on my local environment:
- MacOS 10.13.6
- PHP 7.0.31 (via Homebrew)

Steps to reproduce:
1. Install Magento 2.2.5 using composer
2. Every minute, ran `bin/magento cron:run`
3. Saw a new file getting generated in `var/session/` every minute matching the timestamp when the cron ran.

Never opened a browser while doing this.

Possibly related: after r

[2018-07-27 19:19] hostep commented on #17190
I agree with @mad-develop that this behavior is very annoying to say the least.
But @engcom-backlog-pb is also correct in that it is strictly not a bug. It would however be nicer if some extra context was given instead of a measly 5 word reply.

Anyway, since this is not strictly a bug, we can consider it as a feature request, so @mad-develop, if you want you can open a feature request over here t

[2018-07-27 20:05] markoshust commented on #2523
this ticket was fixed some time ago, works just fine with docker

[2018-07-27 22:23] srenon commented on #13224
Had the same issue on 2.2.4... try re-run setup ```php bin/magento setup:upgrade```

[2018-07-27 22:38] Tofandel commented on #16912
Okay so I'm reopening the issue as this happened again on my test server with a fresh install and vendor directory wiped..
I added one step to reproduce.

If you can't reproduce please check the file I indicated as it is indeed erroneus, thank you.

[2018-07-27 22:43] rparsi commented on #14964
@magento-engcom-team @engcom-backlog-nazar @gtlt
The problem persists in magento 2.2.5, issue appears to be inconsistent code:

In `\Magento\Sales\Setup\UpgradeData::upgrade` method:
[code]

method `\Magento\Sales\Setup\UpgradeData::fillQuoteAddressIdInSalesOrderAddress` sets the
`quote_address_id` in `sales_order_address`; the code saves to the database the entity `\Magento\Sales\Model\Order\Addr

[2018-07-27 22:56] DominicWatts commented on #13504
Continues to be an issue.  2.3-develop. windows + wamp. Removing "generated\metadata\global.php" fixes it.

[2018-07-28 02:31] xeontcs commented on #15654
Magento 2.2.5. Same issue. is there official patch for this?

[2018-07-28 03:17] numan201 commented on #17174
It seems that https://github.com/magento/magento2/issues/8168 added in Magento 2.2.5 introduced this issue.

My proposed solution is to change lines 125-130 to the following:

        $simpleOption = $this->product->getCustomOption('simple_product');

        if ($simpleOption !== null) {

            $optionProduct = $simpleOption->getProduct();

            if ($optionProduct->getThumbnail() !==

[2018-07-28 03:35] vipin12117 commented on #14818
Do you have any solution for it ?

[2018-07-28 05:22] fooman opened #17225 "License should reflect OSL"
### Preconditions

1. Check license stated in composer.json for packages
2. Compare to license.txt

### Steps to reproduce

1. https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/AdvancedSearch/composer.json#L19
2. https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Amqp/composer.json#L14
3. https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/A

[2018-07-28 05:22] magento-engcom-team commented on #17225
Hi @fooman. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-28 06:43] ktomk commented on #2523
@markoshust: Any reference to the commit(s) you can attribute that fix to?

[2018-07-28 07:04] hostep commented on #16912
@Tofandel: there is no directory `lib/web/design/frontend/` in Magento2, are you sure it's the correct one? I just tested this on a clean 2.2.5 and after running `setup:static-content:deploy` I can not see that directory.
Usually there are 3 directories you should clear before running `setup:static-content:deploy` and those are: `var/view_preprocessed/`, `pub/static/frontend/` and `pub/static/admi

[2018-07-28 08:51] CompactCodeEU commented on #9292
@UlliKah I get your frustration and sure you have a point but in the end this is an opensource project and you can pay for the supported EE version if you want. Magento has a lot of good things that woocommerce does not have. Woocommerce is a paid plugin on the opensource wordpress. So i do not see a difference.

[2018-07-28 09:57] ronak2ram commented on #17174
@willwright111
The issue has been fixed.

Related commit(s):
 - [93a5c391495399a59f5ee922718890820e601d67](https://github.com/magento/magento2/commit/93a5c391495399a59f5ee922718890820e601d67)
- [108c2c5f6353bf977508baa20cef200521eb247d]

[2018-07-28 11:45] CompactCodeEU commented on #12258
The only thing that worked for me was
`                    $product = $this->productRepository->get($product->getSku());
`

which is far from ideal of course as this will impact load times.
I do not get why if an attribute is set 'used in product listing' it is not used.
I can not retrieve it trough getData() nor getCustomAttribute().

[2018-07-28 12:11] mtkumar82 opened #17226 "Unble to place order as Guest user."
Hi,

I have magento 2.2.4 installed and everything seems working , But Guest checkout not working. Its always giving error "Please Enter customer Email id", While I added it there for guest checkout.  Below is my website url.

http://lourelz.com/

Try to add any product in cart from home page. Then it will move the user to checkout page , Enter email which not exist there and try to checkout as qu

[2018-07-28 12:11] magento-engcom-team commented on #17226
Hi @mtkumar82. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-28 18:49] nwgirl opened #17245 "One or more of the Cache Types are invalidated: Configuration."
###
Every time I log into my Magento 2 site I get this message:

One or more of the Cache Types are invalidated: Configuration. Please go to Cache Management and refresh cache types.

How do I fix this so that it takes care of the cache automatically???

[2018-07-28 18:49] magento-engcom-team commented on #17245
Hi @nwgirl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-28 22:33] heyepic opened #17252 "Magento 2.2.5 - Product Details Page Images/Tabs Broken"
### Preconditions

1. Magento 2.2.5
2. PHP 7 / Linux

### Steps to reproduce

1. Normal upgrade procedure, I happened to do 2.2.3 > 2.2.5
2. Go to frontend of site and view product.

### Expected result

Product images should load. Tabs should work properly.

### Actual result

Image loading gif just shows, images do not load. No product options on configurable products load, dropdown remains empt

[2018-07-28 22:33] magento-engcom-team commented on #17252
Hi @heyepic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-28 22:55] heyepic commented on #17252
Found the issue - gallery.phtml in custom theme causing json error.

[2018-07-28 22:55] #17252 closed, assigned to nobody

[2018-07-29 02:09] zeeshan2523806 commented on #12679
This is because there might be some javascript errors on your page, try clearing the cache and regenrate the static content if you are running in production mode. If the error still persist then look at the file which might be causing the problem.

[2018-07-29 09:08] magento-engcom-team commented on #16273
Hi @adampmoss. Thank you for your report.
The issue has been fixed in magento/magento2#16468 by @vasilii-b in 2.2-develop branch
Related commit(s):
 - [1115b3f6e39f9b4406ada0a6dae7ac60ea333da3](https://github.com/magento/magento2/commit/1115b3f6e39f9b4406ada0a6dae7ac60ea333da3)
 - [03afbc73b3ab69f763b38dadd7ddcfb0b766e763](https://github.com/magento/magento2/commit/03afbc73b3ab69f763b38dadd7ddcfb0

[2018-07-29 09:08] #16273 closed, assigned to vasilii-b

[2018-07-29 09:08] magento-engcom-team commented on #3535
Hi @quienti. Thank you for your report.
The issue has been fixed in magento/magento2#16401 by @rogyar in 2.2-develop branch
Related commit(s):
 - [4989d8b358bcaccac21ee5aa985e2359d8abb9ca](https://github.com/magento/magento2/commit/4989d8b358bcaccac21ee5aa985e2359d8abb9ca)
 - [9366da978649cd3549f1732521d45f4963f74d5e](https://github.com/magento/magento2/commit/9366da978649cd3549f1732521d45f4963f74

[2018-07-29 09:08] magento-engcom-team commented on #14517
Hi @erichagz. Thank you for your report.
The issue has been fixed in magento/magento2#16401 by @rogyar in 2.2-develop branch
Related commit(s):
 - [4989d8b358bcaccac21ee5aa985e2359d8abb9ca](https://github.com/magento/magento2/commit/4989d8b358bcaccac21ee5aa985e2359d8abb9ca)
 - [9366da978649cd3549f1732521d45f4963f74d5e](https://github.com/magento/magento2/commit/9366da978649cd3549f1732521d45f4963f7

[2018-07-29 09:08] magento-engcom-team commented on #15393
Hi @jurpro. Thank you for your report.
The issue has been fixed in magento/magento2#15687 by @simonjanguapa in 2.2-develop branch
Related commit(s):
 - [a49618ada2a310601cdf1568bca28170d70bcfc5](https://github.com/magento/magento2/commit/a49618ada2a310601cdf1568bca28170d70bcfc5)
 - [28159a37d1b63e69a72e7cd21022bde533721cc6](https://github.com/magento/magento2/commit/28159a37d1b63e69a72e7cd21022bde

[2018-07-29 09:08] #15393 closed, assigned to jeroenschipper, simonjanguapa

[2018-07-29 09:39] JoshuaFlood commented on #13846
@magento-engcom-team please re-open this issue. I experience it with a fresh install of magento 2.2.5, without migration.

[2018-07-29 09:58] swolf91 opened #17254 "Filter of FilterGroup doesn't work if field is not set"
If you wanna have the product list using several filters in a filter group (or condition) it only works if all of the or condition fields have values specified. So if I wanna have a product with the name containing a string and a description containing the same string, products matching the name will only be retrieved when a description is set.

# Preconditions

Issue occurs with Magento 2.2.5.

#

[2018-07-29 09:58] magento-engcom-team commented on #17254
Hi @boeserwolf91. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-29 10:39] anthony-jullien commented on #17186
I don't understand a lot of people have this issue (#9186) and nobody is finding a solution for this major issue, you can't create an internal ticket for helping the community ?

[2018-07-29 12:00] hostep commented on #17186
Hi @anthony-jullien: we've recently received a patch from the Magento Cloud support with a fix for this issue. Unfortunately I haven't found the time yet to test it and I can't post the patch here, since it contains code used in certain modules of the Magento Enterprise Edition.

But, I can see that Magento already committed parts of the patch we received here on github, it just hasn't been releas

[2018-07-29 12:09] vo1 opened #17255 "Adding backend fields via AbstractModifier not sending them to POST"
### Preconditions

Magento 2.x, unrelated to serverside software

### Steps to reproduce
Defining custom panel via AbstractModifier for editing extension attributes in backend ends in all defined fields not being sent to POST on save action. "Use default" checkbox, however picks up form relation properly.
[code]
### Expected result
When field is defined, magento should pickup its form as it done i

[2018-07-29 12:09] magento-engcom-team commented on #17255
Hi @vo1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instanc

[2018-07-29 12:10] vo1 commented on #17255
@magento-engcom-team give me {$VERSION} instance

[2018-07-29 12:11] vo1 commented on #17255
@magento-engcom-team give me 2.2.5 instance

[2018-07-29 12:11] magento-engcom-team commented on #17255
Hi @vo1. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-29 12:12] magento-engcom-team commented on #17255
Hi @vo1, here is your [Magento instance](https://i-17255-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17255-2-2-5.engcom.dev.magento.com/admin](https://i-17255-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-29 12:19] gewaechshaus commented on #15427
Noticed the same issue on a CE 2.2.5 system...

[2018-07-29 12:21] AgentGod commented on #11002
After updating from 2.2.3 to 2.2.5 I have the same Cron issue. The table is growing and I don't know how to proceed.

[2018-07-29 12:57] anthony-jullien commented on #17186
Hi @hostep,

Thanks a lot for your reply !
Sadly these tickets refers to the product issue, I'm trying to solve the same issue on the category edit page. It would be great if you could post the past here after remove the Magento Enterprise Edition part.

Thanks for your help !

[2018-07-29 12:57] JoshuaFlood commented on #13846
@DanielRuf I have set the memory limit in my server's php.ini to 2048M. I have also set it in Magento's .htaccess and .ini files. Actually, since updating all of the entries from 768 to 2048 I can't execute any magento commands at all. I receive an error saying memory is exhausted at 2M... So it is obviously being overridden somewhere. I've checked the relevant folders' memory limit and all are di

[2018-07-29 13:47] DanielRuf commented on #13846
Did you restart the server after this?

[2018-07-29 14:04] sidolov commented on #15345
Hi @gelanivishal. Thank you for your report.
The issue has been fixed in magento/magento2#16805 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [98cc7522594a0cfb33c5ce5d017948e551c4462c](https://github.com/magento/magento2/commit/98cc7522594a0cfb33c5ce5d017948e551c4462c)
 - [4499034ae38aeed1d547971d57da0365aa89ce71](https://github.com/magento/magento2/commit/4499034ae38aeed1d547971d57

[2018-07-29 14:18] JoshuaFlood commented on #13846
@DanielRuf yes I have tried that and I still can't execute any commands. Even something like `magento module:status` throws an 'out of memory' error.

[2018-07-29 14:49] byDunkman opened #17257 "Checkout page - No text next to the checkboxes"
### Preconditions
1.  Magento 2.0
2. PHP 7.0

### Steps to reproduce
Actually I am using a template. Might it be that the problem is caused by the template?

### Expected result
1. There is text next to the two checkboxes.
2. The button should be translated.

### Actual result
![screenshot_1](https://user-images.githubusercontent.com/19638643/43367549-06350e8a-934f-11e8-9d07-1506d188649f.png)

1.

[2018-07-29 14:49] magento-engcom-team commented on #17257
Hi @byDunkman. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-29 15:13] hostep commented on #17186
Indeed, it's for products, but some of the code also applies to categories, so who knows ...

Anyway, here is the patch we got, stripped out the changes from the RMA module (EE only), was created for Magento 2.2.2, and I've not tested it yet, hope this helps.

[MDVA-8506_EE_2.2.2_v2_COMPOSER.txt](https://github.com/magento/magento2/files/2238887/MDVA-8506_EE_2.2.2_v2_COMPOSER.txt)

[2018-07-29 15:32] anthony-jullien commented on #17186
Thanks a lot @hostep for your responsiveness, I tried this afternoon the fourth commit you mentioned above and sadly none of them is fixing this issue, it does not fixing the issue concerning the product store duplication (when you set a product available in a new website all use default value checkboxes are unchecked at store level).

I just tried your patch but it's the same as a001993, it does

[2018-07-29 16:01] magento-engcom-team commented on #5383
This issue was reopened without clear comment. Please provide reasoning and reopen again, if needed.

[2018-07-29 16:01] #5383 closed, assigned to nobody

[2018-07-29 16:30] ishakhsuvarov commented on #7283
Hi @afirlejczyk
Are you still interested in working on this?

[2018-07-29 16:34] anthony-jullien commented on #17186
Thanks for your help !
Yes the patch solve this issue but I don't think we have the product issue on Magento 2.2.3. I report my issue because they keep closing this issue even if it's not fixed (like #9186)...

Exactly I don't understand why they keep saying it's fixed as it's definitely not... I totally agree it's becoming very difficult to use to community edition. I'm working with a lot of Mage

[2018-07-29 16:59] heyepic opened #17258 "2.2.5: A technical problem with the server created an error."
### Preconditions

1. Upgrade from 2.2.3 > 2.2.5
2. PHP 7

### Steps to reproduce

1. Go to Catalog > Products
2. After results load, "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later." appears.

### Expected result

1. No error.

### Actual result

1. Red banner of "A technical problem with the server created

[2018-07-29 16:59] magento-engcom-team commented on #17258
Hi @heyepic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-29 17:13] magento-engcom-team commented on #16913
Hi @jayanta88
We are closing this report now, as the issue was fixed in 2.2

[2018-07-29 17:13] #16913 closed, assigned to nobody

[2018-07-29 17:15] magento-engcom-team commented on #16878
Hi @gaurid-iprogrammer
We are closing the ticket now, as issue has been fixed in 2.2.x. Please reopen if you think the issue persists.

[2018-07-29 17:15] #16878 closed, assigned to nobody

[2018-07-29 17:15] JoshuaFlood commented on #14803
I'm away from home at the moment but will attempt to reproduce it myself on the weekend and update the info here afterwards.

[2018-07-29 17:18] magento-engcom-team commented on #16003
@DanielRuf
Closing, as it seems like you have already fixed it. Thank you.

[2018-07-29 17:18] #16003 closed, assigned to nobody

[2018-07-29 17:19] magento-engcom-team commented on #15998
@DanielRuf We are aware of the fact, that it's 20 days since your request now, but, unfortunately, we can not create an instance without indicating which version you wish to use.

Thanks for collaboration.

[2018-07-29 17:37] DanielRuf commented on #13846
Try adding the memory_limit parameter to `php bin/magento ...`

[2018-07-29 17:38] magento-engcom-team commented on #15935
@patrick-bigbridge
Apparently it's now fixed in 2.1-develop and 2.2-develop. We are closing the ticket now.

@novikor Fix for 2.3 may be useful as well ☺️

[2018-07-29 17:39] DanielRuf commented on #15998
@magento-engcom-team give me 2.2-develop instance

[2018-07-29 17:39] magento-engcom-team commented on #15998
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-07-29 17:39] magento-engcom-team commented on #15998
Hi @DanielRuf, here is your [Magento instance](https://i-15998-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-15998-2-2-develop.engcom.dev.magento.com/admin](https://i-15998-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-29 17:41] magento-engcom-team commented on #14930
@mwaheed92 Most likely 2.2.5 patch should do it.

Closing this ticket now. Thank you for collaboration.

[2018-07-29 17:41] #14930 closed, assigned to nobody

[2018-07-29 17:43] magento-engcom-team commented on #8585
Hi @mhauri
This issue seems to be fixed now in 2.2 and 2.3.

Closing this ticket now. Please feel free to reopen if the issue persists.

[2018-07-29 17:43] #8585 closed, assigned to nobody

[2018-07-29 17:47] magento-engcom-team commented on #3150
Closing this ticket now, as it seems like its fixed in 2.2.x
Please reopen if the issue persists.

[2018-07-29 17:47] #3150 closed, assigned to nobody

[2018-07-29 17:49] magento-engcom-team commented on #17258
Hi @heyepic
More details on the catalog and exception log would be helpful in this case.
Have you tried this with a set of vanila instances?

[2018-07-29 17:50] magento-engcom-team commented on #17257
@byDunkman  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-29 17:50] #17257 closed, assigned to nobody

[2018-07-29 17:51] magento-engcom-team commented on #17245
@nwgirl please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-29 17:51] #17245 closed, assigned to nobody

[2018-07-29 17:52] heyepic commented on #17258
All my exception log has is an error for some frontend file for my theme (which my theme developer doesn't know how to solve). There is no other errors:
`[2018-07-29 17:51:12] main.CRITICAL: Unable to get content for 'frontend/Mgs/orson/en_US/js/bootstrap.min.js' {"exception":"[object] (Magento\\Framework\\View\\Asset\\File\\NotFoundException(code: 0): Unable to get content for 'frontend/Mgs/orson

[2018-07-29 17:52] magento-engcom-team commented on #17226
Hi @mtkumar82

Unfortunately we can not provide any help with your website. Please provide steps to reproduce the issue on a clean vanilla instance and reopen the ticket.

Thank you.

[2018-07-29 17:52] #17226 closed, assigned to nobody

[2018-07-29 19:00] Sylvesterx1 opened #17264 "Magento2: Impossible approve discount code in checkout"
### Preconditions

1. Magento 2.2.5

### Steps to reproduce

1. Creating a discount code
2. After go to checkout, should try adding the discount code.

### Expected result

In basket I can approve discount code and work perfect:
![image](https://user-images.githubusercontent.com/35328055/43369662-210c9b24-9372-11e8-9f5d-f6fb4970a8ea.png)

but in second step in checkout impossible. After accept dis

[2018-07-29 19:00] magento-engcom-team commented on #17264
Hi @Sylvesterx1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-29 22:07] heyepic commented on #17258
Just wanted to post the solution in my case - Mod Security was banning this as it thought SQL injection was occurring in the ajax call. I whitelisted the ID from the httpd log and no more error. :)

[2018-07-29 22:07] #17258 closed, assigned to nobody

[2018-07-30 06:08] rajputlalita commented on #15359
Okay Thanks @DanielRuf

[2018-07-30 06:14] magento-engcom-team commented on #7574
Hi @ntoombs19

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #9866
Hi @steros

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #6059
Hi @christian-walker

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #8455
Hi @cykirsch

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #8371
Hi @chm1975

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #9522
Hi @kozhemyakin

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #9474
Hi @zstutzman

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #8086
Hi @wintermute-84

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #10307
Hi @kirkmadera

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #8004
Hi @chm1975

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #7873
Hi @devonto

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #10155
Hi @kanduvisla

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #7772
Hi @rbostan

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #11255
Hi @elektrozitrone

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #8820
Hi @tinxit

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #9909
Hi @rbostan

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:14] magento-engcom-team commented on #9921
Hi @nikolaybaychenko

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9884
Hi @AlekosDordas

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #4704
Hi @adragus-inviqa

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9891
Hi @ashishrvtech

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9746
Hi @keiant25

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9457
Hi @DependencyHell

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9272
Hi @thdoan

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9194
Hi @vberthet

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9135
Hi @refaelgold

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #9146
Hi @giano574

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #10198
Hi @harrigo

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #7909
Hi @tinxit

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #6545
Hi @davidalger

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #6466
Hi @denis-g

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #10098
Hi @idziakjakub

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #6376
Hi @ankitce

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #4522
Hi @kandrejevs

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:15] magento-engcom-team commented on #4479
Hi @ruby10

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #6055
Hi @springimport

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #8533
Hi @thebod

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #7270
Hi @dhx2

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.

[2018-07-30 06:16] magento-engcom-team commented on #8316
Hi @spyrule

This ticket has been marked as `"Triage Wanted"` due to low user involvement over time. Over the next 2 weeks we are looking for additional community feedback to decide if it should be archived or not. More information on this is available on the GitHub [wiki](https://github.com/magento/magento2/wiki/Triage-Wanted).

Thank you for collaboration.