[2017-11-09 16:59] orlangur commented on #10972
@Rann1 it is not a responsibility of Composer to update `pub/static`. In proper Magento setup, with appropriate directory/files permissions, contents of `pub/static` are updated automatically.

[2017-11-09 17:37] apotdar commented on #10394
Ran into issues on my local vm instance and I got a new vm up and running.  Working on it.  Sorry for the delay.

[2017-11-09 17:39] apotdar commented on #11314
Thanks for the update @Christophe29222.  I had issues with my vm instance.  Created a new vm and working on this issue.

[2017-11-09 17:40] gamort commented on #11300
@orlangur  "PHP 7.0 is not obsolete" . As of today, it will be in 23 days.  As of when you posted, it was 44 days until being obsolete.  http://php.net/supported-versions.php

Active support ends December 3rd, 2017.
Security support ends December 3rd, 2018

Ironically, PHP 5.6 will continue to be actively supported for the next 9 months.

[2017-11-09 18:27] jtlindsey opened #12156 "When applying new theme i get "Something went wrong while saving this configuration""
### Preconditions

1. Magento 2.2.0
2. Nginx 1.10.3
3. PHP7
4. Ubuntu Server 16.04 LTS

### Steps to reproduce

1. Default installation, go to web admin > Content > Configuration
2. Click "Edit" under action column for a row with a Website, Store and Store View content.
3. The applied theme says "Magento Luma". In dropdown choose anything else ("Magento Blank", or "No Theme").
4. Click "Save Confi

[2017-11-09 18:29] jtlindsey commented on #12156
Also, right now the _default_ theme is working, just can't change it:

![theme1](https://user-images.githubusercontent.com/7409277/32622772-034cbdb0-c552-11e7-8276-f25b281a08d0.png)

[2017-11-09 18:30] magento-engcom-team commented on #11256
@egomez16, thank you for your report.
We've created internal ticket(s) MAGETWO-83566 to track progress on the issue.

[2017-11-09 18:37] keharper commented on #10666
@pardco Make sure there's no extraneous spaces before or after your auth keys. I'm not sure if this will fix your problem, but others have encountered the error @mpchadwick reported.

[2017-11-09 18:42] jtlindsey commented on #10878
@versdivers do you know what they changed the permissions _from_ and _to_? I have a similar error, same file too. But my permissions were set per the docs and everything else is working. In the stack trace i don't see anything about permissions. I posted another thread [here](https://github.com/magento/magento2/issues/12156).

[2017-11-09 18:51] magento-engcom-team commented on #5309
@gewaechshaus, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-09 18:51] #5309 closed, assigned to nobody

[2017-11-09 18:52] magento-engcom-team commented on #11394
@mhpsaa, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-09 18:52] #11394 closed, assigned to nobody

[2017-11-09 18:53] magento-engcom-team commented on #11423
@Ralfefernandes, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-09 18:53] #11423 closed, assigned to nobody

[2017-11-09 18:54] magento-engcom-team commented on #11630
@alen9788, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-09 18:54] #11630 closed, assigned to nobody

[2017-11-09 18:58] okorshenko commented on #9496
Hi @dcabrejas could you please let us know if the issue still exists? Looks like it was fixed in 2.2.0 release

[2017-11-09 19:11] georgios-2317 commented on #10424
Same issue on 2.2.0!

[2017-11-09 19:16] jtlindsey commented on #12156
Running `chown -R :www-data .` from #3 inthe original setup [docs](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/nginx.html) got past the error message. But I'm not sure why I would have had to run that command again. And there were no permission related errors in the logs.

[2017-11-09 19:26] crtsl commented on #10061
I am experiencing the same issue. Was previously using 2.1.9 and bundles worked fine. I do not track inventory in Magento on the simple products that make up the bundle or the bundle itself. After upgrading to 2.2.1 bundle items all display as out of stock and cannot be ordered.

As a work around for now I set the quantities of all the simple products to be a positive number and stock is set to no

[2017-11-09 19:27] okorshenko commented on #9768
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:27] #9768 closed, assigned to nobody

[2017-11-09 19:27] okorshenko commented on #12079
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:27] #12079 closed, assigned to nobody

[2017-11-09 19:28] okorshenko commented on #10920
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:28] #10920 closed, assigned to nmalevanec

[2017-11-09 19:28] okorshenko commented on #6661
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:28] #6661 closed, assigned to eug123

[2017-11-09 19:28] okorshenko commented on #10195
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:28] #10195 closed, assigned to RomaKis

[2017-11-09 19:28] okorshenko commented on #11793
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:28] #11793 closed, assigned to RomaKis

[2017-11-09 19:29] okorshenko commented on #9151
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:29] #9151 closed, assigned to serhii-balko

[2017-11-09 19:29] okorshenko commented on #6802
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:29] #6802 closed, assigned to nmalevanec

[2017-11-09 19:29] okorshenko commented on #10811
The issue has been fixed in 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-09 19:29] #10811 closed, assigned to sylvainraye

[2017-11-09 19:32] a-t-s commented on #11633
Allthough Magento lacks the ability to display custom options assigned to a simple product I want to argue that a simple product with only **optional** custom options would still form a useful configurable product / simple product combination to some merchants. Once required options are involved it doesn't really make sense now and I second the admin backend validation warning.

Making the simple

[2017-11-09 19:35] abolivar commented on #12089
I try and work!

[2017-11-09 19:35] #12089 closed, assigned to nobody

[2017-11-09 19:36] petnutz opened #12157 "BUG: in magento 2.2.1 $_product->getCollection()->load(); gives only 1 result although there are alot of products"
BUG: in magento 2.2.1 $_product->getCollection()->load(); gives only 1 result although there are alot of products

[2017-11-09 19:38] onepack commented on #11948
We have result now from today's ugrade and it didn't help a bit. At first it was super fast but after one hour it crashed again we are three crashes further now with a frustrated client. Will search further and let you know.

[2017-11-09 19:40] memz84 commented on #12116
any one please

[2017-11-09 19:52] congaframe commented on #11180
Hi
Any idea how to fix this issue? I'd like to back-port it to 2.1.x

[2017-11-09 20:35] pfandrade opened #12158 "Switching store views twice in a row produces incorrect URL"
### Preconditions
The behaviour described below appears on both Magento 2.2.0 and 2.2.1.

### Steps to reproduce
1.  Add two different store views (codes en, pt for example)
2. Make sure you're _not_ using store codes in the URL
3. Open your website. It will open the default store view (assume en)
4. Switch to the pt store view. Verify that it works and that the url has "__store=pt" query arg.
5.

[2017-11-09 20:36] hostep commented on #10972
@orlangur: @Rann1 isn't talking about `pub/static` (well not in his _edited_ post at least).

@Rann1: can you try to find a simple way to reproduce this problem? First install a certain version of Magento using composer, then upgrade it to a newer version and see if certain files in `lib/` aren't getting updated to the correct version?
Note that composer should copy certain files from `vendor/mage

[2017-11-09 20:48] hostep commented on #12158
Hi @pfandrade

This is a duplicate of https://github.com/magento/magento2/issues/10908, which seems to already been fixed and fix should get delivered in Magento 2.2.2 (expected around the end of this year)

Feel free to close please :)

[2017-11-09 20:58] pfandrade commented on #12158
Closing as duplicate of #10908

[2017-11-09 20:58] #12158 closed, assigned to nobody

[2017-11-09 21:01] gwharton commented on #11002
@magento-engcom-team Can this issue be re-opened. I, and several others by the looks of it, are having to go into the database on a regular basis to clear out cron jobs that are stuck in the running state.

It seems to be worse on development installs, where cron jobs may be crashing whilst being run and never being marked as completed. Its not the same job every time. Seems to be random which one

[2017-11-09 21:03] opobla commented on #11055
@magento-engcom-team same problem here with GTID and MySQL 2nd Gen instance

[2017-11-09 21:09] hostep commented on #11002
@gwharton: yes exactly, I've seen this behavior a couple of times on our projects, a development server was running at 100% CPU for over 2 weeks until someone noticed it was because of a cronjob or indexer which got stuck somehow.

This should really get fixed!

[2017-11-09 21:12] okorshenko commented on #10530
The issue has been fixed in 2.1-develop branch and will be available with next patch release

[2017-11-09 21:12] #10530 closed, assigned to nobody

[2017-11-09 21:13] okorshenko commented on #9830
The issue has been fixed in 2.1-develop branch and will be available with next patch release

[2017-11-09 21:14] Fmorris commented on #12056
I am still getting the same error as well, and I have tried on version, 2.07, 2.1.0 as well as 2.1.10 (the latest version in the series and the duplicate #11468 fix did not correct or fix the issue)

[2017-11-09 21:15] okorshenko commented on #8178
The issue has been fixed in 2.1-develop branch and will be available with next patch release

[2017-11-09 21:15] #8178 closed, assigned to nobody

[2017-11-09 21:22] leesimple commented on #7554
I couldn't agree more.  Moving from 2.1.9 to 2.2.0 means being forced to PHP 7.0+ as well.  Which, in our case - on this system, isn't an option.

It would be truly useful to patch 2.1.9- to fix this issue.

[2017-11-09 21:40] orlangur commented on #10972
@hostep hm, true :) Generally contents of zip and specific path in `vendor/magento/magento2-base/...` should not differ.

`composer clear-cache` and `rm -rf vendor/*` + `composer install` should help if somehow packages were corrupted on your env.

[2017-11-09 22:19] bvboas commented on #12112
@theodorhanu I've commented that line but another error appears.

[code]

[2017-11-09 22:39] MaxMilton commented on #11055
This is still an issue and unforchunately broke a lot of my client installs which are all running on Google Compute Engine.

@magento-engcom-team please don't use canned responces about non-reproducable bugs without actually trying to reproduce. This issue exists in all GCE Cloud SQL 2nd gen instances.

It's simple to reproduce outside of GCE by using the following flag in your MySQL config:
[code

[2017-11-09 23:18] george-vlahakis opened #12159 "Category Image Use Default fails"
In multi store view scenario setting an image for a category under the "All Store Views" view by default does not create an entry in `catalog_category_entity_varchar` table which is correct. Moving into another store view (non root) and opening the same category it shows that it is using "Use Default" for the category image, which is also correct.
If the user chooses to save the category (without

[2017-11-09 23:20] jtlindsey commented on #12156
After doing more testing, the issue seems to only happen when `magento setup:upgrade` is run. If `magento setup:di:compile` is run it does not happen. And for reference here is getting web server user and checking groups:

[code]

[2017-11-09 23:45] onepack commented on #11948
Ok, fixed. Please go and check your database cron_schedule table.
It might be that this one is full. (over 100 pages). In our case 9000+ pages of jobs pending!!
Truncate and it will fill-up itself again and check that the crons are successfully processed.
This was the issue with us and the server is now fine again.
We are now looking for the reason but I think it was something from the past as all

[2017-11-10 00:18] DominicWatts commented on #11210
I've been tinkering with a deployer for magento 2

https://github.com/DominicWatts/deployer/blob/master/recipe/magento2.php

Get this very same error when running the compile process

 Interceptors generation... 4/7 [================>-----------]  57% 35 secs 172.0 MiB
    [Exception]
    Warning: array_replace_recursive(): Argument #1 is not an array in /home/mage/public_html/current/releases/1/v

[2017-11-10 00:34] YasirDC opened #12160 "Extension integrations - REST webservice"
### Preconditions

1. Magento version 2.1.7
2. Have setup integration token (http://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-token.html).
3. API has access to All resources.
4. Integrations status: Active
5. User role: Admin

### Steps to reproduce
1.  Making call with Postman
2. Error message: "Consumer is not authorized to access %resources"
3. Seems that Mage

[2017-11-10 00:35] georgios-2317 commented on #12159
The issue extends to "Display Mode" field as well (haven't dug in the code).

The following (stupid) change addresses the issue for now for the image field.
I fear say that the whole "Use Default" feature wasn't very well thought out.

[code]

[2017-11-10 00:47] DominicWatts commented on #11210
Update: in my case it was to do with paths and env.php not being in the shared app/etc in the deployed version so basically didnt have a db connection i.e. magento was trying to redirect to then setup screen.  With that in mind probably no help to you...

[2017-11-10 02:15] alen9788 commented on #6710
Still exists for the MCE 2.2.1

[2017-11-10 04:50] Totalkarnataka opened #12162 "Admin Page Issue"
processing speed is very slow.
we can't even work for 10 mins it will show session timed out message.

[2017-11-10 04:50] dodiya-divyarajsinh opened #12163 "UPS Shipping not listed in REST"
UPS Shipping method not show/get using REST call from APP

`GET V1/carts/:cartId/shipping-methods`
`GET V1/carts/mime/shipping-methods`

this will show only some of shipping method but UPS will not show in front it will show perfectly.

### Preconditions

1. UPS module for Magento 2

### Steps to reproduce

1. `GET V1/carts/:cartId/shipping-methods` or `GET V1/carts/mime/shipping-methods`

### Exp

[2017-11-10 05:06] Ctucker9233 commented on #7309
@joni-jones Will it be backported or does it break BC?

[2017-11-10 05:14] pareshpa commented on #11055
As per my knowledge, GCE does not allow to disable the GTID. If you have any idea regarding how to disable it then please let me know.

[2017-11-10 05:21] digvijay2017 commented on #10756
This issue still exists in Magento 2.2.1

[2017-11-10 05:26] digvijay2017 commented on #6350
This issue still exists in Magento 2.2.1 . I have checked Today.

![magento2-1-1](https://user-images.githubusercontent.com/30342958/32644140-c9cf403a-c605-11e7-9d60-809c11914727.png)

[2017-11-10 05:27] digvijay2017 commented on #6858
Not fixed in 2.2.1. Very bad.

![magento2-1-1](https://user-images.githubusercontent.com/30342958/32644177-015f8e7e-c606-11e7-8143-66ffe2aa57fb.png)

[2017-11-10 05:29] digvijay2017 commented on #6831
Not fixed 2.2.1.

![magento2-1-1](https://user-images.githubusercontent.com/30342958/32644197-21256562-c606-11e7-9d23-cd3a531f6cf1.png)

[2017-11-10 05:31] okorshenko commented on #6238
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-11-10 05:31] #6238 closed, assigned to lewisvoncken

[2017-11-10 05:33] digvijay2017 commented on #9743
This issue is fixed in 2.2.1. Thanks

[2017-11-10 05:34] digvijay2017 commented on #4248
Fixed in 2.2.1. Thanks

[2017-11-10 06:19] magento-engcom-team commented on #11612
@surgyelan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-10 06:19] #11612 closed, assigned to nobody

[2017-11-10 06:27] klarre1 commented on #11055
It's due to GTID-based replication in MySQL. So to replicate you need to set up an MySQL server with  GTID-based replication.
Ie. use Google MySQL 2nd Gen instances that has GTID-based replication as default and not as an option,.

Install an new Magento 2.1.8 or later and try to add a subcategory under a store view root category and the error appears. I have had it on several installations and th

[2017-11-10 06:32] theodorhanu commented on #12112
@tstamplis I had production mode previously enabled. Maybe magento team is testing only for default/development mode

@bvboas I couldn't identify any plausible reason for your issue, but I think you can try to replace the first argument in __construct of \Magento\Setup\Model\Installer  with full qualified name. Something like this:

[code]

[2017-11-10 07:04] matin73 commented on #10821
The solution provided by @PhiIipp worked for me too. Thanks. I had problem in admin setting store e-mail addresses.

[2017-11-10 07:06] nordicwebteam commented on #11055
@magento-engcom-team This should be opened again.

We have someone trying to solve this here
https://github.com/bangerkuwranger/Magento-2-GTID-Safe-URL-Rewrite-Tables

[2017-11-10 07:22] Rammohan90520 opened #12164 "Cron jobs are not executing as per the schedule"
As per table cron_schedule they are not executing, it shows status as pending
![cron](https://user-images.githubusercontent.com/33539997/32647122-d8366940-c615-11e7-8f19-a1e4841458a8.png)

please see the pic for reference and tell me how i can i solve it

[2017-11-10 07:30] magento-engcom-team commented on #11402
@wetken, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.1

[2017-11-10 07:30] #11402 closed, assigned to nobody

[2017-11-10 07:30] magento-engcom-team commented on #12160
@YasirDC, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-10 07:30] #12160 closed, assigned to nobody

[2017-11-10 07:32] magento-engcom-team commented on #11402
@wetken, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.1

[2017-11-10 07:36] magento-engcom-team commented on #12055
@Prad2703 , We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-10 07:38] magento-engcom-team commented on #12138
Hello @DavaGordon. Thanks for reporting. We confirm, that there is definitely a problem with the date formatting in that area but currently we've been not able to reproduce Your issue to get exactly the same Actual result. So please give us a bit more information about the steps You've been taking and in particular:
1) Login as a Customer on the Storefront or as an admin user in the Backend naviga

[2017-11-10 07:45] magento-engcom-team commented on #12162
@Totalkarnataka , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2017-11-10 07:55] eTonki commented on #10756
unfortunately there is still the problem,
how can they not notice it?

[2017-11-10 07:57] magento-engcom-team commented on #12164
@Rammohan90520  , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2017-11-10 08:01] magento-engcom-team commented on #8421
@speedupmate, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-10 08:01] #8421 closed, assigned to RomaKis

[2017-11-10 08:07] dinkeronline opened #12165 "Media URLs broken when adding/editing the image by editor"
When we add/edit an image in the CMS Page/Block through editor the media URLs are changed to something like this -

admin/cms/wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5c2l3eWcvcHJvbW9fYmFubmVyMi5wbmcifX0%2C/key/fc2df2446d1ffe0c12fbe8fd3775348a9206ad9ba6b04751ba4cf64ab24fcba6/

### Preconditions

1. Magento 2.1.7/2.1.9/2.2.0
2. PHP 5.6/7
3. XAMPP Windows / CentOS 7

### Steps to reproduce

[2017-11-10 08:07] magento-engcom-team commented on #12149
Close as duplicate https://github.com/magento/magento2/issues/11700.

[2017-11-10 08:07] #12149 closed, assigned to nobody

[2017-11-10 08:08] shinesoftware commented on #12098
I have discovered the problem in a custom extension! I would like to share my experience for other magento users.

In my case **there is a custom setting of a custom extension for the invoice listing grid**.

    <listing xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Ui:etc/ui_configuration.xsd">

        <container name="listing_to

[2017-11-10 08:08] #12098 closed, assigned to nobody

[2017-11-10 08:30] magento-engcom-team commented on #6850
@redboxmarcins, thank you for your report.
The issue is already fixed in 2.1.9

[2017-11-10 08:30] #6850 closed, assigned to magento-engcom-team

[2017-11-10 08:32] webkul commented on #9768
@okobchenko thanks for update.

[2017-11-10 08:34] adamlavery commented on #12114
@meezin, Hi. Does this mean you're creating a module to fetch and display the group price? I can understand why tier and group pricing was combined as they are much the same thing. The issue is using a quantity of 1 to differentiate a base group price from tier prices.

As a test, I tried manually changing the quantity on a group price to 0 in the database, bypassing the admin restriction. This th

[2017-11-10 08:42] adamlavery commented on #12114
Of course, changing the group price determiner to 0 now would require the addition of a prices setting to avoid breaking existing installations where 1 determines the group price and works ok for simple products. This would default to 1 but could be changed to 0 for new installations to correctly handle Grouped Products.

[2017-11-10 09:18] darabaig opened #12168 "Magento 2.1 Multiple Image Uploader vs Magento 2.2 Multiple Image Uploader"
**Preconditions**
Magento 2.1.x
Magento 2.2.x
Magento Multiple Image Uploader
![new events events magento admin](https://user-images.githubusercontent.com/3623336/32658128-69fa2a50-c63a-11e7-898d-53db648ae21b.png)

In magneto 2.2 the multiple product image up-loader block has been moved from layout to UI component form. To make it compatible with magento-2.2 I made the required changes in my custo

[2017-11-10 09:23] magento-engcom-team commented on #12143
@Mulderua thank you for your report.
Customer address attribute is not functionality of  Open Source Magento edition.
Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways: You can use the Support portal associated with your account or If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is int

[2017-11-10 09:23] #12143 closed, assigned to nobody

[2017-11-10 09:27] PieterCappelle commented on #10838
Can confirm all above communications from @hostep & @selusi. Having same issue in 2.2.1 with custom attribute created.

I have this in UpgradeData.php
[code]

When you run the indexer after this, you'll get the following error PHP Fatal error:  Uncaught Error: Call to undefined method Magento\Customer\Model\Indexer\Source::addAttributeToSelect()

When you disable is_used_in_grid, is_visible_in_gri

[2017-11-10 09:28] shinesoftware commented on #11300
hello guys,

the problem is the question mark before string type declaration.

![selezione_080](https://user-images.githubusercontent.com/1553035/32651479-71ebf81c-c601-11e7-8a62-9552451157aa.png)

[2017-11-10 09:28] Rammohan90520 commented on #12164
Magento version : Magento 2.2

**Steps to reproduce**
*/1 * * * * /user/bin/php /var/www/html/m5/bin/magento cron:run  >> /var/www/html/m5/var/log/cron.log
*/1 * * * * /user/bin/php /var/www/html/m5/bin/magento update/cron.php  >> /var/www/html/m5/var/log/update.log
*/1 * * * * /user/bin/php /var/www/html/m5/bin/magento setup:cron:run  >> /var/www/html/m5/var/log/setup.log

**# # crontab.xml**
<?x

[2017-11-10 09:29] Rammohan90520 commented on #12164
# # crontab.xml

<pre>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Cron:etc/crontab.xsd">
	<group id="index">
		<job name="abandonedcartCronjob" instance="Conversionbug\Abandonedcart\Cron\Alerts"
			method="execute">
			<schedule>*/1 * * * *</schedule>
		</job>
	</group>
</config>

[2017-11-10 09:30] magento-engcom-team commented on #12165
@dinkeronline, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-10 09:30] #12165 closed, assigned to nobody

[2017-11-10 09:30] magento-engcom-team commented on #12126
@sylink, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-10 09:30] Rammohan90520 commented on #12164
![crontab](https://user-images.githubusercontent.com/33539997/32651715-e62c846e-c627-11e7-84f0-bfa1d9f135b7.png)

[2017-11-10 09:30] #12126 closed, assigned to nobody

[2017-11-10 09:37] scholtz commented on #11300
sure.. everybody knows that.. the issue occurs, only if you run composer with 7.1 and run php 7.0 on server side.. orlangur believes that magento should return white screen of death because your eshop is not configured properly. actually i dont agree with him, and magento should notify user that unexpected error may occur on frontend/backend, but i have gave up on discussion with narrowminded pers

[2017-11-10 09:39] royvanos commented on #7411
I'm also hitting this issue after upgrading from 2.1.9 to 2.1.10

[2017-11-10 09:41] JananiKrishnan commented on #11431
@magento-engcom-team, I also have the same problem as @lduivenvoorde

[2017-11-10 10:06] ZenDevMaster commented on #10594
We are also experiencing this issue. Currently we are on 2.1.9 however it has persisted through many updates.

The value of "admin/security/session_lifetime" in our core_config_data table is 36000. However, admin sessions timeout after about 15 minutes as well.

Is there another PHP setting that can be causing session timeout?

[2017-11-10 10:30] magento-engcom-team commented on #6609
@andidhouse, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-10 10:30] #6609 closed, assigned to nobody

[2017-11-10 10:31] versdivers opened #12172 "Deleting Attribute Set deleted products"
### Preconditions
1.  PHP 7.0
2.  Magento 2.2.1

### Steps to reproduce
1.  Make a new attribute set
2.  Assign attribute set to product
3.  delete attribute set

### Expected result
1.  OR a message that products will be deleted OR just set Product to default attribute set.

### Actual result

The product gets deleted from the DB and everywhere. Its not just 'not accessible'  and i don't get why.

[2017-11-10 10:51] deepak-netwin commented on #7374
@vasilii-b Hi, Today, I'm facing some new problem. You remember we did above changes for bundle product but now bundle products not showing selected products on summary block. The current magento version of website is 2.1.7. Any clue, what could be the issue?

[2017-11-10 11:14] magento-engcom-team commented on #12153
@treii28 , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Steps to reproduce
 - [ ] Expected result
 -

[2017-11-10 11:15] magento-engcom-team commented on #12156
@jtlindsey , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-10 11:15] #12156 closed, assigned to nobody

[2017-11-10 11:17] rigu12 commented on #11948
@onepack
I don't know why i in admin > setup upgradd >Update application is running ->will be show error upgrade. Did't suggest anything wrong?

[2017-11-10 11:21] lduivenvoorde commented on #10559
Having the same issue on Firefox, on Chrome it works perfectly, but Firefox seems to ignore the extended file

[2017-11-10 11:24] magento-engcom-team commented on #11954
@Krupaly2k , thank you for your report.
Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
Please, add the following information:
 - [ ] Magento version
 - [ ] Steps to reproduce
 - [ ] Expected result
 - [ ] Actual result

[2017-11-10 11:28] magento-engcom-team commented on #8786
@adoardo , thank you for your report.
Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
Please, add the following information:
 - [ ] Magento version
 - [ ] Steps to reproduce
 - [ ] Expected result
 - [ ] Actual result

[2017-11-10 11:29] Krupaly2k commented on #11954
Hi,

I am using Magento 2.1.6
Steps to reproduce: I have created 2 attributes and add fields in quote_address and sales_order_address but at the time of saving data in frontend it is not saving in DB and not reflecting in admin.

Expected Result: It should save data

Please help me to resolve this issue

[2017-11-10 11:30] magento-engcom-team commented on #8591
@zack6849, thank you for your report.
We've created internal ticket(s) MAGETWO-83646 to track progress on the issue.

[2017-11-10 11:31] magento-engcom-team commented on #12172
Hello @versdivers. Thanks for reporting. Please clarify You mean there is no message at all telling that products will be deleted or there is such a message, but You wish it contained an option that allows not to delete belonging products but to reassign them to the default attribute set. Thank You.

[2017-11-10 11:43] andy17612 opened #12174 "2.2 upgrage to 2.2.1 issue"
### Preconditions

1. in magento2.2
2. php7,1

### Steps to reproduce

1. I don't know why i in admin > setup upgradd >Update application is running ->will be show error upgrade. Did't suggest anything wrong?
2. i re-installed new 2.2.0 (no date) try to test, upgrade to 2.2.1. still have this problem in upgrade system

### Expected result

1. How to solve this issue?

### Actual result

1. Update

[2017-11-10 11:49] matin73 commented on #11828
same issue on php 7.1.11

[2017-11-10 11:52] programmer2-techybirds commented on #5097
How to show exclusive price instead of inclusive price in configurable product with tier price.
See below example for more clarification.

![image](https://user-images.githubusercontent.com/32291934/32657424-b085ed1e-c63b-11e7-8ee5-66f5663705ad.png)

Here exclusive price is: 5.04
inclusive price is: 6.10

Now when select any single product from dropdown then calculation is upon inclusive price.
Ne

[2017-11-10 11:56] magento-engcom-team commented on #6412
@ktruehl, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-10 11:57] orlangur commented on #11300
@gamort I raised this question among maintainers, as "Security support ends December 3rd, 2018" it is too early to drop PHP 7.0 support yet and especially it is not a good idea within `2.2.x` line (basically, this issue is caused by similar decision in Zend_Code patch release, now people who don't use Composer properly may face with troubles due to 7.0/7.1 differences). I'm almost certain `2.3.0`

[2017-11-10 11:58] zack6849 commented on #8591
Glad to hear you guys were able to reproduce it.

[2017-11-10 12:03] opobla commented on #9837
I have applied @southerncomputer fix and it works for me in M2 2.1.7.

[2017-11-10 12:11] magento-engcom-team commented on #12152
@sylink, thank you for your report.
We've created internal ticket(s) MAGETWO-83658 to track progress on the issue.

[2017-11-10 12:14] versdivers commented on #12172
Well i was apparently wrong. There is a message that says : "You are about to delete all products in this attribute set. Are you sure you want to do that?". But still you should have the option to not delete the products. By default it should not delete the products even. It should be an option to delete the products but you need to check a checkbox, otherwise just give them the default or first a

[2017-11-10 12:14] sehgal commented on #4841
Plugin class Magento\ConfigurableProduct\Controller\Adminhtml\Product\Initialization\Helper\Plugin\UpdateConfigurations doesn't exist

help to solve this problem
this issue come while create new attribute

[2017-11-10 12:15] maderlock commented on #4778
Will this get a fix for 2.1?

[2017-11-10 12:15] versdivers commented on #12172
But i guess this is not a bug then. Rather a really really dangerous thing to have.

[2017-11-10 12:23] magento-engcom-team commented on #12172
@versdivers, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-10 12:27] eerorika commented on #6261
This bug reproduces in 2.1.9.

[2017-11-10 12:28] orlangur commented on #12172
Such behavior would be more confusing and lead to data loss anyway. Merchant is supposed to read messages carefully before doing such dangerous operations.

[2017-11-10 12:30] opobla commented on #11055
Somebody suggested that this flag could be disabled in google SQL cloud by
disabling the binary logs in the backup section. Since I don't use database
replication I gave it a try and it seem to work. At least I don't have
errors in the cron_schedule table anymore. This could be a work around if
you don't need replication and point-in-time backup recovery.

On Fri, 10 Nov 2017 at 08:07 nordicwebtea

[2017-11-10 12:30] magento-engcom-team commented on #12098
@shinesoftware, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-10 12:34] versdivers commented on #12172
Losing your products attributes is way better then losing your products itself. I mean.. Attributes are not bound to attribute sets even. Attribute sets are just a collection of attributes so you don't even need to lose that data. But even if you did , what would  you prefer? Losing products or losing its attributes? Also Products are not bound to their attributes again... It makes no sense to del

[2017-11-10 12:47] RomaKis commented on #10534
The problem is next:
1. When we enter invalid coupon code it sends put request and Magento takes it on Magento/Quote/Model/GuestCart/GuestCouponManagement::set($cartId, $couponCode).
2. Magento tries to  apply coupon code and throws exception "Coupon code is not valid" in Magento/Quote/Model/CouponManagement::set($cartId, $couponCode) .
3. The exception is caught  in Magento/Webapi/Controller/Rest

[2017-11-10 12:52] magento-engcom-team commented on #11692
Hi @andrewhowdencom
Could you please let us know if the issue is still actual? Thank you

[2017-11-10 12:54] orlangur commented on #12172
This is not true. ALL product data is stored as attributes. Different attribute sets may contain totally different attributes thus when you switch attribute set incompatible attributes are lost.

Products must be deleted when you delete attribute set to preserve data integrity.

@versdivers what else could be improved here if there is already appropriate warning message?

[2017-11-10 12:55] andrewhowdencom commented on #11692
Looks like it. As mentioned, i customised the VCL in production for us as above, for various reasons. But the 2.2 develop branch still has the path hard-coded.

I imagine the rule "if you need two versions of index.php you'll probably need two versions of health_check.php" holds true.

https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/PageCache/etc/varnish5.vcl#L13

[2017-11-10 13:01] Krupaly2k-zz opened #12175 "Images not working properly with wysiwyg editor in admin"
### Preconditions

1. Magento Version : 2.1.7
2.

### Steps to reproduce

1.  When I am uploading image to product description from admin editor, after clearing cache php magento cache:clean the image shows not found after some time on same path.
2.
3.

### Expected result

1. Need to keep image as it is as I am cleaning cache not flush image cache

### Actual result

1. [Screenshot, logs]

Please

[2017-11-10 13:08] jtlindsey commented on #12156
Ref Magento Stack Exchange [here](https://magento.stackexchange.com/questions/200954/permissions-problem-with-magento-2-2-0-nginx-ubuntu-server-only-in-var-cache-m)

[2017-11-10 13:14] sakjha10 opened #12176 "Magento2: Not able to create promotion rule"
HI,

I am getting an issue when trying to create promotion rule. This error occurs sometimes and the error disappears if run Magento upgrade command.  But it comes again sometime.

### Preconditions
Magento Version : 2.2

### Steps to reproduce
When trying to create promotion rule

### Expected result

1. Able to create promotion rule

### Actual result
Invalid method Magento\Eav\Model\Entity\Attr

[2017-11-10 13:14] sitiodocanoamarelo commented on #11532
Does anyone knows if is this fixed in 2.2.1 ? I'm also facing this issue in 2.2.0

[2017-11-10 13:24] andrewhowdencom commented on #12164
Might be related to https://github.com/magento/magento2/pull/11465.

[2017-11-10 13:30] magento-engcom-team commented on #5417
@bgkavinga, thank you for your report.
We've created internal ticket(s) MAGETWO-83661 to track progress on the issue.

[2017-11-10 13:33] ishakhsuvarov commented on #11954
@Krupaly2k, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-10 13:33] #11954 closed, assigned to nobody

[2017-11-10 13:35] srenon commented on #10559
@lduivenvoorde ... our solution was to rewrite https://github.com/magento/magento2/blob/2.1/app/code/Magento/Swatches/view/frontend/templates/product/listing/renderer.phtml in our local theme

(should work for M2 < 2.2)

app/design/frontend/{COMPANY}/{THEME}/Magento_Swatches/templates/product/listing/renderer.phtml

[code]

[2017-11-10 14:08] catstantin opened #12177 "Customer account: tracking popup error with custom Carrier"
### Preconditions

Magento 2.1

### Steps to reproduce
1. Register customer and place order
2. Create shipment with custom Carrier
3. On frontend: My account -> My orders -> View Order -> Order Shipments tab
4. Click on "Track this shipment" or "Track All Shipments" link

### Expected result
1. Popup with shipment information displayed

### Actual result
1.  Error occurred:

[2017-11-10 14:20] magento-engcom-team commented on #5504
@craigcarnell, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-10 14:20] #5504 closed, assigned to nobody

[2017-11-10 14:30] magento-engcom-team commented on #11699
@milansimek, thank you for your report.
We've created internal ticket(s) MAGETWO-83669 to track progress on the issue.

[2017-11-10 14:30] magento-engcom-team commented on #12175
@Krupaly2k, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-10 14:30] #12175 closed, assigned to nobody

[2017-11-10 14:50] magento-engcom-team commented on #12176
@sakjha10, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-10 14:51] magento-engcom-team commented on #8437
Update description:
### Preconditions
1. Tested on Magento CE 2.1.3 with PHP 7

### Steps to reproduce
1. Create a custom controller, sending a custom mail, [mostly like this](http://magento.stackexchange.com/questions/150728/sending-custom-emails-in-magento-2)
2. Make a mistake in the template file name
3. Try to send the mail

### Expected result
1. The mail is correctly sent with content

### A

[2017-11-10 15:09] alen9788 commented on #11532
Here we meet with anther issue "Invalid option value" when save the products at MCE 2.2.1

[2017-11-10 15:30] magento-engcom-team commented on #8437
@shavounet, thank you for your report.
We've created internal ticket(s) MAGETWO-83674 to track progress on the issue.

[2017-11-10 15:50] mfxts opened #12179 "After upgrade 2.1.9 -> 2.1.10: productgrid filters are not loaded/saved in database anymore"
### Preconditions
1. Magento 2.1.10 CE

### Steps to reproduce
1. Upgraded (via Composer) from Magento 2.1.9 CE to Magento 2.1.10 CE
2. In backend  -> products -> catalog:
the filter dropdown list for the product grid is empty (except for the default entry), although multiple previously defined filters are still existing in the database table ui_bookmark.
3. Creating new filters and storing them s

[2017-11-10 16:24] CNanninga commented on #10424
For the record, Enterprise support acknowledged this issue and sent a patch:  MDVA-6475.

So is this fix going to be folded into the core?

[2017-11-10 16:29] tig-dennisvanderhammen opened #12180 "M2.2.1 Unable to open Address book after account creation"
### Preconditions

1. Magento version 2.2.1
2. PHP version 7.0.7

### Steps to reproduce

1. Set up a Magento v2.2.1 environment.
2. Create an account as a customer.
3. Immediately after creating your customer, try to open your address book.

### Expected result

1. Your address book opens up, where you can insert your address details.

### Actual result

A 500 error pops up in my screen.
The foll

[2017-11-10 16:30] magento-engcom-team commented on #8500
@OZZlE, thank you for your report.
We've created internal ticket(s) MAGETWO-83680 to track progress on the issue.

[2017-11-10 16:40] TomashKhamlai commented on #10756
Hello everyone! Not reproducible on 2.1.9 from Github without language pack

I cloned Magento from http://github.com/magento/magento2ce.git (branch 'tags/2.1.9') performed steps from the issue description and couldn't reproduce it. @saivnct, I changed locale to vi_VN, but there still nothing about this issue. You are probably using some language pack. Can you provide me a link to it?

There was a

[2017-11-10 16:40] wehaveaplan commented on #7368
Any update on this? Like a temporarily fix.

[2017-11-10 16:53] vrann commented on #10703
@fooman @rogyar thank you for details on this issue. It makes sense to close the issue.

[2017-11-10 16:53] #10703 closed, assigned to nobody

[2017-11-10 17:00] georgios-2317 commented on #12159
**Update:**

_(previous post deprecated)_

There is some mixup in logic in Magento EAV `Use Default` as mentioned above allowing `null` to be treated as a valid value for some attribute types but when saving the attribute values when `Use Default` is set, sets it to `null`, in essence not maintaining the condition for detecting `Use Default`.

What I ended up doing is to flag values with `Use Defa

[2017-11-10 17:01] georgios-2317 commented on #10424
You may find this useful:
https://github.com/magento/magento2/issues/12159#issuecomment-343528601
I worked on same issue for Category

[2017-11-10 17:30] magento-engcom-team commented on #12119
@mattcoz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-10 17:30] #12119 closed, assigned to nobody

[2017-11-10 17:56] gwharton commented on #10424
@georgios-2317 I'm sure thats present in the product code base too, but this problem seems subtly different. See the below debug session where I just repeatedly save the same product over and over again, dumping the database at each save. On each save, more attributes are being added to the entity tables for store id=1 even though I'm not actually changing anything on the admin pages.

[code]

[2017-11-10 18:00] georgios-2317 commented on #10424
@gwharton I think your case of increasing attribute saves may be due to Admin page receiving mixed results when loading the data from db. I too had it for some attributes it couldnt detect status due to the mess and then the client (js) was sending them as changed each time. You dont need to change something on the client for a change to be caused on the back-end. Though I could be talking total b

[2017-11-10 18:03] gwharton commented on #10424
Sounds completely plausible. I never rule anything out with Magento! 👍

[2017-11-10 18:06] vrej commented on #6103
I am having the same issue in 2.2  did anyone found any solution for this?

[2017-11-10 18:40] orlangur commented on #12168
I don't think there is something to "fix" here from core perspective.

Sometimes it is possible to make module compatible with many Magento version at the same time, sometimes it is not worth efforts.

Please check http://devdocs.magento.com/guides/v2.0/extension-dev-guide/versioning/dependencies.html and specify constraints of your module properly so that you get a compatible module version for b

[2017-11-10 19:24] juergengp commented on #9032
i have the same issuie on 2.1.9. CE

[2017-11-10 19:24] gwharton commented on #10424
@johnny-longneck For your info this bug is 100% reproducable within 1 minute of a fresh install of 2.3-develop. :)

[2017-11-10 19:27] juergengp commented on #9032
itws always funny seeing developer requesting exaples instead of heavily testing their code...

[2017-11-10 19:52] versdivers commented on #12172
@orlangur You can perfectly set a new attribute set programmaticly without losing its information. I've even build a module that does exactly that. Even more so if you change the product attribute set on a product page itself it has no problems with converting that information.

I have a build a module that does this in Bulk with the action tools. No problems occur. So why would this not be possib

[2017-11-10 20:04] drpit opened #12183 "Configurable Product's normal price is not visible on Product Catalog"
### Preconditions

1. Clean install of Magento 2.4 with sample data
2. PHP 7.3
3. Apache 2.4
4. Ubuntu 18.04

### Steps to reproduce

1. Select all child products of a configurable one.
2. Update Special price, Special price from and special price to
3. Check frontend

### Expected result

1.  Especially for Configurable products which have the same price for all child products (e.g. a t-shirt wit

[2017-11-10 20:24] Morgon commented on #1931
@magento-engcom-team @KrystynaKabannyk - Magento committed to backporting this into 2.1 and has marked the ticket as Done (even after @korostii mentioned that Magento may be misunderstanding). However, it's not even in 2.1.10-dev. Please fix the status of this report and update the community on an ETA.

[2017-11-10 20:49] gerben86 commented on #5590
@AliPs94
Any update on your problem? Because I see this problem:
`Element 'request': Missing child element(s). Expected is one of ( filters, aggregations, from ).`

[2017-11-10 20:59] #10810 closed, assigned to jonashrem

[2017-11-10 21:22] dinkeronline commented on #12165
@magento-engcom-team See below screenshots -
Step 1- Enabled Editor and clicked on Insert image
![image](https://user-images.githubusercontent.com/4199068/32678876-460d3d62-c68a-11e7-8f47-a5c51d3f9db4.png)
Step 2 - Selected an Image
![image](https://user-images.githubusercontent.com/4199068/32678917-74ccb38a-c68a-11e7-86dd-b2111d0f0d19.png)
Step 3- Clicked on Insert Image
![image](https://user-ima

[2017-11-10 21:30] p3kyle commented on #12121
Hello,

It was a fresh install.  I ended up having to add it to the default magento blank theme xml and edited the logo dimensions from there.

[2017-11-10 21:34] p3kyle opened #12184 "Changing Shipping Address does NOT change Billing Address at Checkout"
### Preconditions

1. magento 2.2.1 on magemojo servers

### Steps to reproduce

1. Go through the checkout, on the second page of checkout, click the pencil to edit the shipping address, make changes on the shipping address, go to the second page, the billing address doesnt change unless you uncheck the "My billing and shipping address are the same" and check it again.

![image](https://user-imag

[2017-11-10 21:41] p3kyle opened #12185 "Gallery Full Page Image Gallery Wont Close on Mobile"
### Preconditions

1. Magento 2.2.1 (also on Magento 2.2) on magemojo hosting
2.

### Steps to reproduce

1. Go on any new Android or IOS device, go to a product page, open the image gallery of the item.  Try to click the upper right hand X and the gallery doesnt close.  You have to hit the back button on the browser to get out of it but when you do that, it takes you back to the product grid page

[2017-11-10 22:39] danyvega1990 opened #12186 "Custom attributes values not updated"
When I tried to update a custom attribute from an existing product using the save method in the ProductRepositoryInterface the code don't throw any errors but the attribute remains with the old data.
### Preconditions

1. Magento 2.1.8
2. PHP 7.0

### Steps to reproduce

* <?php
* namespace Vendor\Module\Cron;
* use Magento\Catalog\Api\ProductRepositoryInterface;
* use Magento\CatalogInventory\Api

[2017-11-10 22:45] Kipperlenny commented on #2919
I had to change my include_path from "." to ".:/var/www/[WHERE_EVER_YOUR_PAGE_IS]/vendor/magento/zendframework1/library"

[2017-11-11 00:26] Ctucker9233 commented on #4324
@magento-engcom-team This fix is not included in 2.1.10. What release might it be in?

[2017-11-11 01:03] Ctucker9233 commented on #7274
@magento-engcom-team Will there be a backport for 2.1?

[2017-11-11 01:08] Ctucker9233 commented on #6869
@magento-engcom-team What are the commits to this fix on 2.1?

[2017-11-11 01:15] Ctucker9233 commented on #7445
Fix not included in 2.1.10

[2017-11-11 01:16] Ctucker9233 commented on #7257
@magento-engcom-team When might this fix be included in 2.1?

[2017-11-11 02:00] okorshenko commented on #10834
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-11 02:00] #10834 closed, assigned to nobody

[2017-11-11 05:04] mrkhoa99 commented on #12180
@tig-dennisvanderhammen Are you using a fresh Magento install?

[2017-11-11 06:08] pythonl1 commented on #1795
Same problem on 2.1.5 after installing a new theme.

[2017-11-11 07:20] jupiter01 commented on #11895
Ran into this issue also on 2.2.1.

[2017-11-11 08:03] Priya-Ponnusamy opened #12188 "Magento 2.2 Upgrade - Element 'css', attribute 'order': The attribute 'order' is not allowed."
### Preconditions
1. Magento 2.2
2. PHP Version 7.0.14

### Steps to reproduce
1. After completing the upgrade process
2. Load front website

### Expected result
1. It should be working fine

### Actual result
1. showing this error

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'css', attribute 'order': The attribute 'order' is not allowed.
Line: 62

![up

[2017-11-11 08:08] amirhmoradi commented on #12174
Same issue here. Tried to upgrade via cli, and I get this error:
`Source class "\SignifydAvsDefault" for "SignifydAvsDefaultMapper" generation does not exist.`

[2017-11-11 08:38] rigu12 commented on #12174
im still stop and error in @amirhmoradi
[2017-11-11 08:36:19 UTC] Job "setup:maintenance:disable []" has been successfully completed

[2017-11-11 08:40] programmer2-techybirds commented on #9322
How to show exclusive price instead of inclusive price in configurable product with tier price.
See below example for more clarification.

https://user-images.githubusercontent.com/32291934/32657424-b085ed1e-c63b-11e7-8ee5-66f5663705ad.png

[2017-11-11 09:25] LeLieu commented on #12188
I'm also experiencing the same error.

How to fix it

[2017-11-11 09:27] LeLieu opened #12189 "Frontend show message "Merge for content type" when Upgrade magento 2.1.9 to version 2.2.1 : 1 exception(s): Exception #0 (InvalidArgumentException): Merge for content type '' is not supported."
[code]

[2017-11-11 09:28] thomvanderboon opened #12190 "M2.2.x: Products not being removed from website via REST API"
Under M2.1.x I was able to add and remove a product to a website using the REST API. Under M2.2.x adding a product to a website via RESTworks, but removing the product via REST from the website does not work.

### Preconditions
1. Ubuntu 16.04 LTS
2. PHP 7.0.22
3. Extra user in database to handle rest via tokens

### Steps to reproduce
1. Create a product and a extra website
2. Run the following s

[2017-11-11 09:37] rigu12 commented on #12174
i re-installed new 2.2.0 (no date) try to test, upgrade to 2.2.1. still have this problem in upgrade system @amirhmoradi

[2017-11-11 11:07] Dregolwd opened #12191 "After upgrade 2.1.8 -> 2.1.10 add new product fatal error"
Preconditions
1. Magento 2.1.10 CE
2. PHP 7.0.24

Steps to reproduce
1. Upgraded (via Composer) from Magento 2.1.8 CE to Magento 2.1.10 CE
2. In backend -> products -> catalog: add new product

Expected result
1. Add new product

Actual result
1. HTTP ERROR 500 white page.

AH01071: Got error 'PHP message: PHP Fatal error:  Method Magento\\Ui\\TemplateEngine\\Xhtml\\Result::__toString() must not t

[2017-11-11 12:10] bkjain commented on #11110
@orlangur in your case simply remove leading backslashes: '\\Magento\Framework\View\Element\Template' -> 'Magento\Framework\View\Element\Template'

From Which file need to do this change ?

[2017-11-11 14:10] storepeinture commented on #10594
This problem persists for me, as well.
It seems that there must be a setting or something else that overrides the session_lifetime.
Is anybody a professional Magento developer or has anybody yet hired a developer to find the reason for this issue. Any help or suggestion would be HIGHLY appreciated.

[2017-11-11 15:00] king-themes commented on #11963
The same problem here in fresh install of 2.2.1 with Stores > Confoguration > Web > Url Options > Add Store Code to Urls = Yes.

[2017-11-11 16:00] gianiaco opened #12193 "Catalog not filtered by admin search bar"
### Preconditions

1. magento 2.2.1
2. php 7.0.2
3. mariadb 10

### Steps to reproduce

1.  Log into backend with admin credentials
2. Click on the search in the top-right corner
3. Type something about name of products ("telephone" for example)
4. Click on ""telephone" in Products" to search the word inside catalog

### Expected result

1. Catalog filtered in base of word typed in the search bar

[2017-11-11 17:26] magenx commented on #7868
Magento 2.2.1
error is gone. looks like working.

[2017-11-11 18:43] matin73 opened #12194 "Tier price on configurable product sorting sometimes wrong"
In some cases sorting of configurable products in combination with swatches is not correct done.

### Preconditions
PHP 7.0.25
MySQL 5-7

### Steps to reproduce
Saving tier prices for configurable product for each article - same prices. Sorting in admin is correct, but some of the articles have in frontend wrong sorting

### Expected result
Sorting should be for all articles the same - starting wi

[2017-11-11 18:45] popovdenis opened #12195 "Keep Image Aspect Ratio"
I'm working with Magento 2 Category Page.

I've been investigated how to remove borders on product images and stretch the picture to the whole area on image.
On design/frontend/theme/etc/view.xml I've set aspect_ratio for product image from **true** to **false**. But changes were not applied.

I've investigated that case. The issue is caused in there:
Magento\Catalog\Model\Product\Image

`
public

[2017-11-11 18:54] popovdenis opened #12196 "Keep Image Aspect Ratio"
I've been investigated how to remove borders on product images and stretch the picture to the whole area on image.

### Preconditions

1. Magento 2.1.6
2. php 7.0.2
3. mariadb 10

### Steps to reproduce

1. Navigate to design/frontend/theme/etc/view.xml
2. Find aspect_ratio parameter for product image
3. Set false as value

### Expected result

1. Image is stretched to the whole area on image

###

[2017-11-11 18:55] #12195 closed, assigned to nobody

[2017-11-11 19:39] popovdenis opened #12197 "Change image aspect ratio via Magento Catalog helper"
The issue is related to another issue described in https://github.com/magento/magento2/issues/12196.
But in that case the same issue is in Magento Catalog helper: Magento\Catalog\Helper\Image.php

### Preconditions

1. Magento 2.1.6
2. php 7.0.2
3. mariadb 10

### Steps to reproduce

1. Navigate to design/frontend/theme/etc/view.xml
2. Find aspect_ratio parameter for product image
3. Set false as

[2017-11-11 20:39] Kipperlenny commented on #8754
I got the same error in Magento 2.2.0

[2017-11-11 21:16] Kipperlenny commented on #11312
same search problem here...

[2017-11-11 21:26] Ctucker9233 commented on #5923
@Cacasapo I'm pretty sure 2.1 is not at EOL. But they want everyone to go to 2.2.

[2017-11-12 11:02] hostep commented on #12095
I've seen this message popup for resetting the integration multiple times, I'm not exactly sure, but it might get triggered every time the `app/etc/config.php` file is changed. Not only after upgrading Magento to a newer version. So I think something is wrong in the logic and the integration shouldn't get reset so often. The `config.xml` file of the integration certainly wasn't changed the last ti

[2017-11-12 13:36] ali-uae opened #12198 "General system exception happened - import products data"
### Preconditions

1. magento 2.1.7
2. PHP Version 7.0.24

### Steps to reproduce

1.  try to import 3-4 products by exported csv
2.
3.

### Expected result

1.   show msg -- General system exception happened

### Actual result

1. [Screenshot, logs]
show message in admin -- General system exception happened

[2017-11-12 14:13] Mahmoud-Refaat commented on #10150
@oirad  Thanks

[2017-11-12 14:48] ndslindia commented on #6578
More than a year this error reported and still no solution ... we use M2.1.8 and still face this error. Please do something..

[2017-11-12 15:37] skyperthefirst1 commented on #5429
Hello @Nerogee I am facing the same issue now. Do you remember what was the reason in your case for this error: "Something went wrong while importing table rates"?

[2017-11-12 17:48] storepeinture commented on #11096
I solved the issue by deleting the package that was causing the issue - and then reinstalling it ...
Even though my provider had a package ready for Magento 2.2, for whatever reason it wasn't installing.

I simply deleted the package. But honestly, that's not how it should be done. But it seems there was no better workaround.

[2017-11-12 18:08] arijit-de commented on #5013
Hi Team,

What is the status of this issue?

[2017-11-12 19:46] afirlejczyk commented on #12190
I'd like to work on this one.

[2017-11-12 20:48] webscot opened #12199 "None of the left-panel menu buttons work."
### Preconditions

1. v. 2.2.1 php 7
2.

### Steps to reproduce

1. Log into admin panel
2. Click left menu buttons (sales, catalog, customer, etc._
3. Nothing happens

### Expected result

1. Maybe a prompt to enter a new customer or product or a configuration window to change settings??!!

### Actual result

1. [Screenshot, logs]

[2017-11-12 21:48] denchev commented on #12199
Do you see any errors in JS console? Did you do a cache clean or are you using a developer mode? I am using 2.2.1, brand new installation with no additional modules and it all works fine.

[2017-11-12 22:02] webscot commented on #12199
Thank you for responding. This should now be closed. It turns out that a change that needed to be made was made by the server hosting company and they did not make the change in the static files. It's not Magento.

I will ask one other thing if possible...

I understand that many changes occurred from 1.9.x to 2.x. Can attributes or attribute sets be imported into 2.x from 1.9.x without issue?

[2017-11-12 22:20] denchev commented on #12199
I'm happy you are no longer having this issue.
As for your question you should read more about it here http://devdocs.magento.com/guides/v2.0/howdoi/migrate/migrate.html

[2017-11-13 03:17] akellberg commented on #11002
I've been battling some negative behavior with cron:run lately and I think this thread is describing the root cause of my issue.
I started up a new virtual machine with Magento and it was working fine at first. But after a week or 2 the server was super slow and unresponsive to the point of not being usable. I eventually noticed there would 10 or more instances of the cron:run process running simu

[2017-11-13 04:14] nothywu commented on #8240
Hi All,

I got the same issue on my site.
I need enable one of system shipping method to enable validation working.
Otherwise it won't load my checkout_index_index.xml.

[code]

Looking for solution, but nothing found.

[2017-11-13 04:23] ketuan opened #12200 "Newsletter subscription success email not send on create account page"
### Preconditions

When create new account and tick to "Sign Up for Newsletter", Newsletter subscription success email is not sent. I only received a welcome email.
I use magento version 2.1.9

### Steps to reproduce

1. Go to create account page
2. Fill all infomations require
3. Tick "Sign Up for Newsletter" : http://prntscr.com/h9pkhk
4. Click Create An Account button

### Expected result

News

[2017-11-13 06:34] magento-engcom-team commented on #11850
@tr46, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-13 06:34] #11850 closed, assigned to nobody

[2017-11-13 07:24] Tonop commented on #10305
Still facing the problem!

[2017-11-13 07:44] magento-engcom-team commented on #12163
@dodiya-divyarajsinh, thank you for your report.
We've created internal ticket(s) MAGETWO-83717 to track progress on the issue.

[2017-11-13 07:44] magento-engcom-team commented on #7868
@magenx Thanks for the feedback.

[2017-11-13 07:44] #7868 closed, assigned to magento-engcom-team

[2017-11-13 07:45] magento-engcom-team commented on #12199
Hi @webscot
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-13 07:48] #8088 closed, assigned to nobody

[2017-11-13 07:49] #7859 closed, assigned to magento-engcom-team

[2017-11-13 07:49] kanduvisla opened #12202 "M2.1.9 : Cannot make all address fields required in customer address edit page (frontend)"
I am trying to make all address fields required on the customer address page on the frontend using JavaScript validation, but it does not seem to work. I'm wondering if this is a bug or a feature (I think it tends to be a bug). ([related question about this topic on SE](https://magento.stackexchange.com/questions/200972/magento-2-how-to-make-all-address-fields-required-in-customer-address-edit-for

[2017-11-13 07:49] magento-engcom-team commented on #12199
@webscot, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-13 07:49] #12199 closed, assigned to nobody

[2017-11-13 07:53] tig-dennisvanderhammen commented on #12180
Yes, I get this error on a clean Magento installation

[2017-11-13 08:04] BeatDirector commented on #11450
Same issue after upgrading from 2.1.7 to 2.1.10.
Price filter working, category filter working, custom attributes filter NOT working.

[2017-11-13 08:10] kanduvisla commented on #12202
I think I found the source of this problem: if the name of the input field is an array, the validation is only done on the first element. For example:

    <div class="field foo required">
        <label class="label" for="foo"><span><?php echo $block->escapeHtml(__('foo')) ?></span></label>
        <div class="control">
            <input type="text" name="foo[]" value="" title="" class="input-te

[2017-11-13 08:12] kanduvisla commented on #12202
After realizing the problem, I found an answer on [Stack Exchange](https://magento.stackexchange.com/questions/154510/magento-2-how-to-make-validation-on-same-name-array-input).

Still, I would like to suggest to keep this issue open, since it does not seem like intended behavior to me.

[2017-11-13 08:16] gilles6 opened #12203 "SQLSTATE[HY000]: General error: 1787 with Magento 2.2.1 when adding subcategory."
### Preconditions

1. Magento CE 2.2.1
2. MySQL 5.6 (Aliyun RDS)
3. PHP Version 7.1.11-1+ubuntu16.04.1+deb.sury.org+1

### Steps to reproduce

1. In the backend, go to Catalog > Categories, add a subcategory.

### Expected result

1. It should create a subcategory under the chosen root category.

### Actual result

1. I get the following message in the backend:

And in the log, I get this message:

[2017-11-13 08:30] magento-engcom-team commented on #11692
@andrewhowdencom, thank you for your report.
We've created internal ticket(s) MAGETWO-83718 to track progress on the issue.

[2017-11-13 08:47] popovdenis opened #12204 "Can't bulk update prices"
Don't know if this issue is already discussed.

### Preconditions

1. First of all needs to display 'Include tax' for prices in Admin > Sales.

### Steps to reproduce

1. avigate to Admin > Products > Catalog.
2. Select a few products (in my case its were virtual products).
3. In Actions dropdown select Update attributes.
4. Try to change price or special price value.

### Expected result

1. Valu

[2017-11-13 09:02] magento-engcom-team commented on #8398
@tzsolti, thank you for your report.
We've created internal ticket(s) MAGETWO-83725 to track progress on the issue.

[2017-11-13 09:05] Tjitse-E commented on #11899
@DavaGordon thanks for your reply. My issue wasn't actually in a third party module, but in the `flag`table (more info: https://github.com/magento/magento2/issues/11657).

[2017-11-13 09:19] Nix-id opened #12205 "Stock inventory reindex bug"
Incorrect cleaning previous index's

### Preconditions

Magento 2.2.0

### Steps to reproduce

in Magento\CatalogInventory\Model\ResourceModel\Indexer\Stock\DefaultStock
https://github.com/magento/magento2/blob/44d2562728d6fb70f32d13ea053c84ddb3def535/app/code/Magento/CatalogInventory/Model/ResourceModel/Indexer/Stock/DefaultStock.php#L289

### Expected result

Method deleteOldRecords should be ca

[2017-11-13 09:43] catstantin opened #12206 "Tracking link returns 404 page in admin panel"
### Preconditions

Magento ver. 2.1.9

### Steps to reproduce
1. Configure Custom URL for admin panel in Admin > Stores > Configuration > Advanced
![admin](https://user-images.githubusercontent.com/9476187/32723655-f73df96c-c876-11e7-90a9-766156b73bfe.png)

2. Make order
3. Login to admin panel
4. Add shipment to order
5. Click on "Track Order" link on order page in admin panel

### Expected resul

[2017-11-13 09:45] RomaKis commented on #5723
Based on comment https://github.com/magento/magento2/pull/6130#issuecomment-301897858 it seems to be the correct Magento behavior and you can get it with a help of searchCriteria. Also I found one more comment https://github.com/magento/magento2/pull/6095#issuecomment-301894105 it describes where this functionality was implemented.So, to get product by store you need to use searchCriteria like thi

[2017-11-13 09:50] magento-engcom-team commented on #12159
@georgios-2317, thank you for your report.
We've created internal ticket(s) MAGETWO-83735 to track progress on the issue.

[2017-11-13 10:23] blewinsky commented on #7411
I found out that this error is thrown when i have empty theme but without files in it.
Solution that @JDavidVR gave is not working.
So by removing that "empty" theme the problem is solved.

[2017-11-13 10:30] magento-engcom-team commented on #12194
@matin73, thank you for your report.
We've created internal ticket(s) MAGETWO-83733 to track progress on the issue.

[2017-11-13 10:30] magento-engcom-team commented on #12185
@p3kyle, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 10:30] #12185 closed, assigned to nobody

[2017-11-13 10:35] evensis commented on #12174
Delete generated folder.

[2017-11-13 11:14] Sharkozp opened #12208 "Swagger (salesOrderRepositoryV1 GetOrder/{id}) don't have shipping details"
### Preconditions

1. We are using Magento EE 2.2.1 on our Cloud

### Steps to reproduce

1. We created via REST API and from frontend 2 orders with different billing and shipping addresses
2. It it visible in admin that order have 2 different addresses - billing and shipping.
3. But when you get this order via Swagger or Rest Client shipping address missed

### Expected result

1. Response must c

[2017-11-13 11:28] magento-engcom-team commented on #12198
@ali-uae, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 11:28] #12198 closed, assigned to nobody

[2017-11-13 11:30] magento-engcom-team commented on #11783
@aasilva83, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-13 11:30] #11783 closed, assigned to nobody

[2017-11-13 11:30] rigu12 commented on #12174
delete generated all folder ? @evensis

[2017-11-13 11:59] magento-engcom-team commented on #12204
Hello @popovdenis. Thanks for reporting. Would You please describe us making display 'Include tax' for prices in Admin > Sales in more details:  what and where exactly You have checked/unchecked, set to Yes/No or chosen.

[2017-11-13 12:03] ihor-sviziev opened #12209 "Substitution payment method - Incorrect message"
### Preconditions

1. Magento 2.1.9 (same should be in 2.2-develop and 2.3-develop)
2. DB migrated from M1, payment method wasn't migrated, so it's not available

### Steps to reproduce
1. Go to Admin panel and look at existing order
2. View "Payment & Shipping Method" section

### Expected result
 We should have message "<payment_method_name> is not available. You still can process offline action

[2017-11-13 12:04] magento-engcom-team commented on #12180
@tig-dennisvanderhammen, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 12:29] Sharkozp commented on #10838
Hello. We have the same problem with Magento Cloud Edition 2.2.0 and 2.2.1

[2017-11-13 12:44] magento-engcom-team commented on #12200
Hello @ketuan. At now we haven't been able to reproduce Your issue. Would You please try to reproduce it on a clean fresh instance of Magento. Thanks for reporting.

[2017-11-13 12:44] magento-engcom-team commented on #11913
@rpm68, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 12:44] #11913 closed, assigned to nobody

[2017-11-13 12:46] magento-engcom-team commented on #12191
@Dregolwd, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 12:46] #12191 closed, assigned to nobody

[2017-11-13 12:54] korosti2 commented on #9240
@okorshenko Thank you for report
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.

[2017-11-13 12:57] ldusan84 commented on #9240
@okobchenko @korosti2 @peterjaap I find it very hard to understand what's happening here, as the pull request is waiting: https://github.com/magento/magento2/pull/9347

[2017-11-13 12:58] popovdenis commented on #12204
Hi team,
thanks for reply.
1. Navigate to Admin > Stores > Configuration > Sales > Tax.
2. On Tax Classes for Tax Class for Gift Options select Taxable Goods.
3. On Calculation Sales for Catalog Prices and Shipping prices select Including Tax.

[2017-11-13 12:59] RomaKis commented on #12152
Duplicate https://github.com/magento/magento2/issues/11700.

[2017-11-13 13:02] DavaGordon opened #12210 "Product price auto rounding"
### Preconditions

1. Magento 2.2.0-rc23

### Steps to reproduce

1. Edit Price in admin to 5.65 and it is rounded up to 6, update to 5.45 and its rounded to 5 after save
2. Checkout prices are rounded up also

### Expected result

1. Show the right price that was entered not update it to a new price

### Actual result

1. The price was updated from £91.57 to £92.00 which basically makes the site

[2017-11-13 13:17] leoncito73 opened #12211 "Issues With DHL & UPS Shipping methods"
### Preconditions

1.  Magento CE 2.2.0 and 2.2.1
2. Php 7.0.25

### Steps to reproduce

1.  Admin: Stores>Configuration>Shipping Methods>DHL
![captura de pantalla 2017-11-13 a las 15 05 40](https://user-images.githubusercontent.com/31698668/32727337-dfd866a0-c884-11e7-8845-af86e87f9874.png)
This have the correct parameters gave to me in DHL after to sign a few contracts.

2. Admin: Stores>Configu

[2017-11-13 13:21] magento-engcom-team commented on #8661
Hi @dverkade
Thank you for your submission.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-13 13:21] #8661 closed, assigned to magento-engcom-team

[2017-11-13 13:30] magento-engcom-team commented on #12088
@The-Krang, thank you for your report.
We've created internal ticket(s) MAGETWO-83753 to track progress on the issue.

[2017-11-13 13:58] orlangur commented on #11096
@storepeinture this is just improper Composer usage. You need to update both this package and Magento at the same time.

[2017-11-13 14:03] king-themes opened #12212 "PHP 7.0.25 - Magento 2.2 establish connection to mssql with sqlsrv_connect from apache2 but not from crontab."
## From Apache2
### Preconditions

1.  PHP 7.0.25
2. Magento 2.2.1
3. `public function getStocksFromERP() {`
	`set_time_limit(0);`
	`$connectionOptions = array(
		"Database" => ERPconnection::MSSQL_DATABASE,
		"Uid" => ERPconnection::MSSQL_USERNAME,
		"PWD" => ERPconnection::MSSQL_PASSWORD
	);`
	`$conn = sqlsrv_connect( ERPconnection::MSSQL_HOST, $connectionOptions );`
`}`

### Steps to reproduce

[2017-11-13 14:13] linden2015 opened #12213 "Topmenu links stop working after resizing the browser window"
The topmenu links that have subcategories stop working as expected when the browser window is reduced to small and enlarged to original size again.

### Preconditions
1. Magento Commerce 2.2.1 OR Magento Commerce 2.1.9.
2. Browser: Google Chrome Version 62.0.3202.89 (Official Build) (64-bit)

### Steps to reproduce
1. Enable production mode
2. Open the homepage on a screen resolution of 1920x1080

[2017-11-13 14:19] storepeinture commented on #11096
Yes, orlangur, I know it is improper. But it wouldn accept the package and Magento upgrade at the same time. Probably a bug or some other conflict which wasn't obvious to me or the magento developer which I hired to solve the issue.

[2017-11-13 14:24] orlangur commented on #11096
@storepeinture there is no bug and there is no something Magento can fix as far as I understood your issue.

[code]

After the first command you may require proper versions of all necessary third party packages. Otherwise Composer will treat them as locked at certain version and will try to upgrade Magento itself only.

Removal+reinstallation package as you did it is not bad as well, Composer will

[2017-11-13 14:25] pieal86 commented on #12188
magento 2.2 does not support order or after attribute anymore.

U can solve the issue by using:
`<css src="css/custom.css" media="all and (min-width: 1px)"/>`
This will load your Custom CSS last and for all screen size.

[2017-11-13 14:30] magento-engcom-team commented on #12208
@Sharkozp, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 14:30] #12208 closed, assigned to nobody

[2017-11-13 14:30] magento-engcom-team commented on #12206
@catstantin, thank you for your report.
We've created internal ticket(s) MAGETWO-83474 to track progress on the issue.

[2017-11-13 14:30] magento-engcom-team commented on #12197
@popovdenis, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-13 14:30] #12197 closed, assigned to nobody

[2017-11-13 14:35] Detzler opened #12214 "Upgrade to 2.2.1 binds to php7.1"
After updating to 2.2.1 via composer, the package zendframework/zend-code updates to version 3.3.0. This zend-code version requires php not lower than 7.1. It breaks the official system requirements http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html

### Preconditions

1. PHP7.1
2. Magento 2.2.1

### Steps to reproduce
1. composer update

### Expected result
1. Magent

[2017-11-13 14:36] evensis commented on #12174
Yep, just take the entire thing out. Magento will regenerate it on compilation anyway.

[2017-11-13 14:36] magento-engcom-team commented on #12094
@userName, thank you for your report.

[2017-11-13 14:37] magento-engcom-team commented on #12094
@amithlalalj , thank you for your report.
We not able provide the expected behavior on the page PayPal.

[2017-11-13 14:37] #12094 closed, assigned to nobody

[2017-11-13 14:46] vitormicillo opened #12215 "Invalid input datetime format of value in MAGENTO 2.2.1"
### Preconditions

1. Magento 2.2.1
2. PHP 7.1.8

### Steps to reproduce

1. Change your Dashboard Language to non en
2. Update any product
3. Set any date to define as a new product, it can be the current date
4. Save

### Expected result

### Actual result

![screenshot from 2017-11-13 15-45-26](https://user-images.githubusercontent.com/1921806/32731280-ae9ba872-c889-11e7-9648-7edd8b9621a4.png)

[2017-11-13 14:48] storepeinture commented on #11096
Yes, I believe that the package provider has had some error in the declaration of his package version.
Because normally upgrade just works fine for me.

I also know now, that it's not an issue of magento. But I thought I keep posting how I found a workaround for anybody who will stumble across this issue.

[2017-11-13 14:55] gaboreszaki opened #12216 "Web setup updater error Magento CE 2.2 to 2.1"
Dear Devs.
I have an update problem with magento ce 2.2. can somebody help?
magento web wizard -> **system upgrade FAIL on last step: maintenance disable**
it's made a rollback loop

### Preconditions
1. Magento version: CE 2.2
2. PHP version: 7.0.22-0ubuntu0.16.04.1
3. Server version: Apache/2.4.18 (Ubuntu)

### Steps to reproduce
1. system upgrade
2. readiness check
3. backup
4. update

### Expe

[2017-11-13 14:59] orlangur commented on #11096
Oh, yeah, I missed probability of this. If package constraints are incorrect it's a _really_ different painful story.

[2017-11-13 15:01] orlangur commented on #12214
Hi @Detzler, https://github.com/magento/magento2/blob/2.2/composer.json#L11 where did you see PHP 7.0 support dropped? Maybe you did a `composer update` under PHP 7.1?

[2017-11-13 15:05] Detzler commented on #12214
Sorry, forgot to paste:

[code]

yes, quite possibly

[2017-11-13 15:06] gvigner commented on #12124
The problem was fixed for me after installing this module:
https://github.com/bangerkuwranger/Magento-2-GTID-Safe-URL-Rewrite-Tables

[2017-11-13 15:06] orlangur commented on #12212
Even if this is true, how is that related to Magento? Looks like list of enabled extensions is different for you web and CLI version of PHP, whatever extension `sqlsrv_connect` function belongs to.

[2017-11-13 15:07] gvigner commented on #11055
@nordicwebteam Great ! It fixed the problem for me.

[2017-11-13 15:09] scrivvles commented on #12124
@gvigner Thanks for the tip!  It seems like this is one of those things that belongs in core.

[2017-11-13 15:11] orlangur commented on #12202
Input validator is only checking one element, isn't it? Or it validates first input, then tries to validate second - but skips it because it is already marked as validated?

[2017-11-13 15:14] magento-engcom-team commented on #12184
@p3kyle, thank you for your report.
We've created internal ticket(s) MAGETWO-83764 to track progress on the issue.

[2017-11-13 15:15] gvigner commented on #12203
Problem fixed by this module:
https://github.com/bangerkuwranger/Magento-2-GTID-Safe-URL-Rewrite-Tables

[2017-11-13 15:17] orlangur commented on #12214
Magento 2.2.1 by itself allows lower version of zend-code: https://github.com/magento/magento2/blob/2.2/composer.json#L13

Then this report is a duplicate of https://github.com/magento/magento2/issues/11264 and is not a bug. This is how Composer is supposed to work, if you want to get PHP 7.0-compatible packages on any platform, you can fake your platform with https://getcomposer.org/doc/06-config

[2017-11-13 15:17] #12214 closed, assigned to orlangur

[2017-11-13 15:22] orlangur commented on #11312
@Kipperlenny please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. Solution for all such XSD violations is similar to https://magento.stackexchange.com/a/199212/40869.

[2017-11-13 15:27] orlangur commented on #11264
Nope, just that Composer should be used properly. Whoever face with this issue will notice parse error immediately and will perform necessary actions to fix mistake.

[2017-11-13 15:28] Igloczek opened #12217 "[Regression] Static content deploy is not possible when one of themes have no static assets"
It's exactly same issue as #7411, confirmed by few others in comments.

It makes deployment not possible, even for built-in languages like `en_US`, while we have a theme without something in `web` directory.

It's also kinda weird, that when we decide to compile theme from the core, like "Blank", it will also fail if one of the other themes doesn't have all "required" files.

Workaround - add some

[2017-11-13 15:28] AntonEvers opened #12218 "Creditmemo total is negative on a 100% discounted order"
This scenario can occur when reward points are used as a discount instead of a payment method. (custom code required, but not for reproducing the issue).

### Preconditions

1. 2.2-develop

### Steps to reproduce

1. Create a discount rule that gives 100% discount on all order items
2. Refund the order, don't refund the shipping costs

### Expected result

1. The credit memo grand total total and

[2017-11-13 15:30] magento-engcom-team commented on #12210
@DavaGordon, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 15:30] #12210 closed, assigned to nobody

[2017-11-13 15:30] MagestyApps commented on #7967
In case you're still having issues with empty breadcrumbs, you can try out the extension that fixes it: https://www.magestyapps.com/magento-2-extensions/advanced-breadcrumbs-m2.html

[2017-11-13 15:30] magento-engcom-team commented on #12177
@catstantin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 15:30] #12177 closed, assigned to nobody

[2017-11-13 15:30] magento-engcom-team commented on #12203
@gvigner, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-13 15:30] #12203 closed, assigned to nobody

[2017-11-13 15:30] chris-pook commented on #12180
I was able to reproduce this error with the same steps as above in 2.2.1.

Site was running in production mode and I had run `composer dump-autoload -o`. The issue is related to an unnecessary use operator in a Customer module Model.

PR added here: https://github.com/magento/magento2/pull/12220

[2017-11-13 15:52] alexhadley opened #12221 "Google analytics pageview being triggered twice"
### Preconditions

1. Set Analytics code in admin
2. Load any page

### Steps to reproduce

1. None

### Expected result

1. pageview is triggered once

### Actual result

1. pageview is triggered twice

It looks like a problem in the GoogleAnalytics/view/frontend/web/js/google-analytics.js file, line 54 on, which calls `ga('send', 'pageview'...` twice:

`

            ga('send', 'pageview' + conf

[2017-11-13 15:54] king-themes commented on #12212
# For Apache2
/etc/php/7.0/apache2/php.ini contains:
1. extension=sqlsrv.so
2. extension=pdo_sqlsrv.so

Also in  phpinfo.php we see:
1. sqlsrv > ExtensionVer > 4.3.0
2. pdo_sqlsrv > ExtensionVer > 4.3.0

# From crontab
For CLI
/etc/php/7.0/apache2/php.ini contains:
1. extension=sqlsrv.so
2. extension=pdo_sqlsrv.so

Also when I run php [testsql.txt](https://github.com/magento/magento2/files/1467466

[2017-11-13 16:25] DavaGordon commented on #12210
Found the issue was due to the precision being automatically set to 2 and bootstrap.php being ignored changed it on server level to 14 and issue resolved

[2017-11-13 16:43] magento-engcom-team commented on #8533
@thebod, thank you for your report.
We've created internal ticket(s) MAGETWO-83774 to track progress on the issue.

[2017-11-13 16:48] orlangur commented on #12212
Do you see any errors in logs? Please check script output with something like https://askubuntu.com/questions/309853/getting-output-from-a-cron-job-on-the-terminal also

[2017-11-13 17:11] bangerkuwranger commented on #11055
@nordicwebteam the module you've linked to _DOES_ work, but it's currently not transaction safe...

The short version of the caveat is that you are likely to get exceptions and/or data issues if more than one admin user is saving a category at a time... so I _DON'T_ currently recommend this for use in production.

The longer version:
This issue appears to have arisen when the Magento team opted to

[2017-11-13 17:13] marcejohnson commented on #5013
+1  Any update?  We are also encountering this issue, which breaks accurate syncs and integrations.  Very important to resolve.  In summary, upon address change, associated `customer` should be "touched" (last_updated updated on customer).  Also, is there a workaround?  Thanks!

[2017-11-13 17:39] rigu12 commented on #12174
can't , i tryed, the issuee still here.... @evensis

[code]

[2017-11-13 17:41] bangerkuwranger commented on #11055
@magento-engcom-team We've reproduced the issue with a clean installation of v2.1.9 using a Google Cloud SQL 2nd gen instance as well... the important step is to create a failover (turn on high-availability), which will guarantee that the temporary table creation in the category url rewrite module will trigger an exception because it violates GTID consistency. This appears to be true for any high-

[2017-11-13 18:20] imtango30 opened #12222 "Post and change theme section is not showing in magento2"
I have install magento on my local host and facing problem. There is no link of add new post and change theme option. Only pages section is showing. Even command is showing an error. [Snapshot of error](https://i.imgur.com/bpvMNT7.png)

Please let me know what to do now.

[2017-11-13 18:21] king-themes commented on #12212
I modified the code as follows:

`$_logger->info( 'Before sqlsrv_connect' );
$_logger->info( phpversion() );
		$conn = sqlsrv_connect( ERPconnection::MSSQL_HOST, $connectionOptions );
$_logger->info( 'After sqlsrv_connect' );`

## Output from Apache2:
[2017-11-13 17:56:03] main.INFO: Before sqlsrv_connect [] []
[2017-11-13 17:56:03] main.INFO: 7.0.25-1~dotdeb+8.1 [] []
[2017-11-13 17:56:04] main.I

[2017-11-13 18:57] orlangur commented on #12222
Can you reproduce an issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Note that Windows is not in the list.

[2017-11-13 18:57] tsouthwi1524 commented on #2996
This happened to me as well when installing an extension.  I made the change in the database.  Is there a better way to handle this?

[2017-11-13 19:58] rpm68 commented on #11913
I can pack all sources of Magento and dump of db too and put it somewhere on the net. Then you will be able to look inside by yourself.

[2017-11-13 20:36] cs-media commented on #10756
I'm also getting this error when saving a product. Only when the Interface Locale for the user account is set to United Kingdom.

My setup is Magento 2.2.1 (it was the same on 2.2.0), and not using composer. Running on shared hosting, centos 7.4, I've tried PHP (DSO) + mod_ruid2, suPHP and FPM/FastCGI. Also tried PHP v7.0.24 & v7.1.8. It's the same on all.

[2017-11-13 21:00] Alex7Lem commented on #10071
I solved this problem with one command line:
bin/magento maintenance:enable; bin/magento setup:upgrade; bin/magento setup:di:compile; bin/magento setup:static-content:deploy -f; bin/magento cache:clean; bin/magento maintenance:disable

[2017-11-13 21:13] maqlec opened #12223 "Layered navigation counts only IN STOCK products"
### Preconditions

1. Magento 2.1.10 or 2.2

### Steps to reproduce

1. Set category with 3 products, 2 in stock and 1 out of stock with the same attribute on layered navigation
2. Turn on "Display Out of Stock Products" in admin panel

### Expected result

1. On layered navigation is count of 3 products and on list are 3 products

### Actual result

1. On list are 3 products (2 in stock, 1 out of

[2017-11-13 21:13] Ctucker9233 commented on #6076
@magento-engcom-team Given that this issue was reported against 2.1 branch, is there a plan to backport this to 2.1?

[2017-11-13 21:19] Ctucker9233 commented on #8073
@magento-engcom-team Give that this issue was reported against 2.1 and is still not fixed in 2.1, can we expect a backport sometime soon?

[2017-11-13 21:22] Ctucker9233 commented on #5570
@magento-engcom-team Any progress on this?

[2017-11-13 21:24] orlangur commented on #12211
Please check shipping logs to find out what exactly was the response of DHL/UPS.

[2017-11-13 21:26] DJ0815 opened #12224 "min_sale_qty < 1 is not possible, why?"
Hello,

i am using Magento ver. 2.1.8 and i am trying to add products, which can be bought in qty < 1, due to the fact that customers can buy products by meter, so they should be able to buy 0,2m

### Steps to reproduce
i set "is_qty_decimal" to yes, change Minimum Qty Allowed in Shopping Cart to 0.1 . After that i am not able to save due to an error.

so i tried to change Minimum Qty Allowed in S

[2017-11-13 21:35] Ctucker9233 commented on #8054
@magento-engcom-team @veloraven What commits go with MAGETWO-61563? I tried searching for it but couldn't find anything.

[2017-11-13 22:04] erjenrijnders opened #12225 "Tier pricing tax shows only including tax"
### Preconditions (*)
Magento 2.2, 2.3, 2.4-develop

### Steps to reproduce (*)

1. Go to Sales > Tax >Price display settings.
2. Configure to show the including and excluding tax price.
3. Go to a configurable product on the frontend with tier pricing.
4. You will see tier price including tax.
5. There is no way to change that to excluding price.

### Expected result (*)
An extra option which one

[2017-11-13 22:56] rugandroll commented on #6415
i am still having this problem in magento 2.2.0.
magento claim they fixed it on 2.2.0, but it is not.
i tried this:
tmp_table_size=2048M
max_heap_table_size=2048M
i have not got any error yet, but the reindex is taking for ever, it is still not finished after 12 hours.
any advise please

[2017-11-13 23:36] jdonovan-gaia opened #12226 "Upgrade to 2.2.1 from 2.1.9 fails during setup:upgrade step with "Unable to unserialize value" error"
In attempting to upgrade from 2.1.9 to 2.2.1 using composer (also tried manually applying the tarball, same issue).  The upgrade fails when trying to run setup:upgrade

[ec2-user@ip-10-0-16-83 html]$ php bin/magento -vvv setup:upgrade
Unable to unserialize value.

  [InvalidArgumentException]
  Unable to unserialize value.

Exception trace:
 () at /var/www/html/vendor/magento/framework/Serialize/S

[2017-11-13 23:39] franciskim commented on #4567
I've been able to reproduce it in 2.1.7 and have recorded it as an animated gif here: [Magento 2 Issue – Can’t Cancel Orders](https://franciskim.co/magento-2-issue-cant-cancel-orders/)

[2017-11-13 23:46] #10477 closed, assigned to marinagociu

[2017-11-13 23:47] okorshenko commented on #11832
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-13 23:47] #11832 closed, assigned to RomaKis

[2017-11-13 23:48] okorshenko commented on #8022
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-13 23:48] #8022 closed, assigned to RomaKis

[2017-11-13 23:49] okorshenko commented on #11532
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-13 23:49] #11532 closed, assigned to RomaKis

[2017-11-13 23:49] okorshenko commented on #10628
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-13 23:49] #10628 closed, assigned to RomaKis

[2017-11-13 23:49] #10014 closed, assigned to sbaixauli

[2017-11-13 23:50] okorshenko commented on #10477
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-13 23:57] okorshenko commented on #10507
The issue has been fixed in 2.1-develop branch. Will be available with next patch release
Fix to 2.2-develop is on the way

[2017-11-13 23:57] #10507 closed, assigned to lewisvoncken

[2017-11-13 23:58] okorshenko commented on #8172
The issue has been fixed in 2.1-develop branch. Will be available with next patch release
Fix to 2.2-develop is on the way

[2017-11-13 23:58] #8172 closed, assigned to lewisvoncken

[2017-11-14 00:03] magento-engcom-team commented on #4943
@SidneyBilliet, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-14 00:03] #4943 closed, assigned to rgoncharuk

[2017-11-14 00:04] magento-engcom-team commented on #11352
@avinashamrutkar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-14 00:04] #11352 closed, assigned to nobody

[2017-11-14 00:05] magento-engcom-team commented on #11816
@paveq, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-14 00:05] #11816 closed, assigned to nobody

[2017-11-14 00:05] magento-engcom-team commented on #11818
@israel181, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-14 00:05] #11818 closed, assigned to nobody

[2017-11-14 00:06] magento-engcom-team commented on #11821
@Silarn, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-14 00:06] #11821 closed, assigned to nobody

[2017-11-14 00:07] magento-engcom-team commented on #11894
@HarisButt91, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-14 00:07] #11894 closed, assigned to nobody

[2017-11-14 01:58] moloughlin commented on #12150
Seeing this as well while testing an upgrade from 2.2 RC1.3 to 2.2.1. It's happening on seemingly random admin page hits (product grid, order view, system config, etc) and the admin session gets destroyed since navigating from here either puts me back at the admin login form (or even weirder, to the front-end homepage).

[2017-11-14 02:19] gerrybarron commented on #11925
I got the same problem when I upgrade my magento2 from 2.1.8 to 2.2.1

Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.2.17-build.178+sha.2406084/$injector/modulerr?p0=magentoSetup&p1=Error%3A%20%5B%24injector%3Amodulerr%5D%20http%3A%2F%2Ferrors.angularjs.org%2F1.2.17-build.178%2Bsha.2406084%2F%24injector%2Fmodulerr%3Fp0%3Dcomponent-grid%26p1%3DError%253A%2520%255B%2524injector%

[2017-11-14 03:27] ketuan commented on #12200
Hello team,

Thanks for reply, I will re-check on a clean fresh instance of Magento.

[2017-11-14 05:49] seanscott49 commented on #12186
I am having issues with Custom Options in Magento 2.2. When I do an option for Warranty with Values Standard Warranty at a 0 price and extended warranty at 149.99 as a required field with drop down box, it saves, but when I make a change again to the product and save, it triggers an error.

Warning: array_filter() expects parameter 1 to be array, string given in /chroot/home/homedics/svago.com/htm

[2017-11-14 06:23] ArtesanoGifts opened #12228 "magento 2.1.7 customer/account/create server not found"
after successful importation of magento files from live server to local host everything were fine except when I tried to do customer sign up

### Preconditions

1. Magento 2.1.7
2. PHP 7.0.22
3. Base URL : http://127.0.1.1/luxmariae.test.devel/
4. Secure Base URL : https://127.0.1.1/luxmariae.test.devel/

### Steps to reproduce

1. Customer Sign up
2.
3.

### Expected result

1. Upon clicking Sign

[2017-11-14 07:11] matin73 opened #12230 "Magento2 non used attributes shown in cart"
### Preconditions
Magento 2.2.1
PGP 7.0.25
MYSQL 5.7

### Steps to reproduce
Add several attributes to default attribut set, for example color, size and material. Set "visible in cart" for attribute. Add configurable product and add only 1 attribut to child products, for example color. Go to shop and add a product to cart. In cart ALL attributes are visible for product.

### Expected result
Only a

[2017-11-14 07:19] matin73 commented on #12230
... there is another issue with configurable products and attribute. added attribute is shown twice in cart - once for child (selcted) product with correct info of color (s. screenshot Farbe: gelb) and once for "master" product of configurable product with info "no" (s. screenshot Farbe: nein)
![unbenannt-5](https://user-images.githubusercontent.com/3177275/32767624-82077e90-c914-11e7-96ee-aa10379

[2017-11-14 07:53] leoncito73 commented on #12211
@orlangur Thanks for your answer. My apologise I'm not expert to Magento, where I can find the Shipping log?

[2017-11-14 08:11] eTonki commented on #10756
@TomashKhamlai
I do not remember if I'm using a language pack, it's been a long time, probably yes. If it can be useful, I can make screenshots on request. Let me know what you want to see (even with a private message).

[2017-11-14 08:45] gvigner commented on #12203
Actually, it only partly fixed my issue. I can now create subcategories, but I can't move them. And when I run `bin/magento indexer:reindex`, I see this error message:
SQLSTATE[HY000]: General error: 1787 When @@GLOBAL.ENFORCE_GTID_CONSISTENCY = 1, the statements CREATE TEMPORARY TABLE and DROP TEMPORARY TABLE can be executed in a non-transactional context only, and require that AUTOCOMMIT = 1., q

[2017-11-14 08:46] rigu12 commented on #12216
I with you same issuee... system upgrade FAIL on last step: maintenance disable it's made a rollback loop.
I installed new 2.2.0(no data) test to upgrade 2.2.1...same issuee..i dont know why...

[2017-11-14 08:50] Triloworld opened #12231 "New Cart Rule : Small styles issue because of styles-old.css"
Text is cut because of left margin.

### Preconditions
1. Working Magento 2
2. Compiled default styled from backend

### Steps to reproduce
1. Have configured one website with name SHOP.NAME
2. Go to Marketing -> Cart Rules -> New Cart Rule
3. When page load go immediately (no input provided) to section "Store View Specific Labels" and unfold
4. Check if labels are on left and they are cut. Even m

[2017-11-14 09:07] magento-engcom-team commented on #12228
@ArtesanoGifts, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-14 09:07] #12228 closed, assigned to nobody

[2017-11-14 09:18] SpartakusMd commented on #12188
Even if the solution is simple, it is required to change an file in the magento framework : /vendor/magento/framework/View/Layout/etc/head.xsd

If you add an `xs:attribute` with the name order in the xs:complexType linkType everything works.

[code]

[2017-11-14 09:18] magento-engcom-team commented on #8783
Hi @ByteCreation
It is not a bug.
Your product belongs to Default attribute set, which contain "visibility" attribute.

[2017-11-14 09:18] feelinc opened #12232 "Upgrade to 2.2.1 from 2.1.10 Guest checkout not working anymore"
### Preconditions
1. PHP 7.0
2. Magento 2.2.1

### Steps to reproduce
1. Allow Guest Checkout enabled in admin.
2. Execute below CLI commands :

[code]
3. Refresh cache from admin.
4. Try checkout as guest.

### Expected result
1. Able to see the checkout page.
2. Using PayPal able to continue the payment.

### Actual result
1. Login popup always appear after "Go to Checkout" or "Proceed to Checko

[2017-11-14 09:18] matin73 opened #12233 "Tier price configurable products not working correct"
### Preconditions
Magento 2.2.1
PHP 7.0.25
MySQL 5.7

### Steps to reproduce
We have configurable products (for example colors red, blue and green) with tier price. All child products have same price  and same tier prices. For example:
Buy 1 for € 6,36
Buy 12 for € 5,88
Buy 96 for € 4,80

### Expected result
If a customer buys 15 green products and 5 red products (total 20 products) he should get

[2017-11-14 09:19] Triloworld commented on #12202
Only first one is checked and mark valid or not. Second one is skipped.
This is done by: `!$.mage.isEmpty(value)` and
`isEmpty: function (value) {
                return value === '' || value === undefined ||
                    value == null || value.length === 0 || /^\s+$/.test(value);
            },`

/SHOP/vendor/magento/magento2-base/lib/web/mage/validation/validation.js

[2017-11-14 09:30] magento-engcom-team commented on #5844
@heldchen, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-14 09:30] #5844 closed, assigned to nobody

[2017-11-14 09:30] magento-engcom-team commented on #8783
@ByteCreation, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-14 09:30] magento-engcom-team commented on #8691
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-83802 to track progress on the issue.

[2017-11-14 09:31] evensis commented on #12174
rm -rf generated/

I wouldn't ftp delete anything in that folder, paint would dry faster.

Soon as I did that the issue went away for me and I could continue upgrading. I did however have a few problems, so personally created a new git repo, sucked composer in, did a fresh 2.2.1 install via composer and then copied and pasted the app folder from my other repo over the top. Turned out it was Capist

[2017-11-14 09:34] magento-engcom-team commented on #12204
@popovdenis, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-14 09:34] #12204 closed, assigned to nobody

[2017-11-14 09:39] LeLieu commented on #12188
Hi SpartakausMD

i added and new error
Fatal error: Allowed memory size of 805306368 bytes exhausted (tried to allocate 1701016200 bytes) in .....\vendor\magento\framework\ObjectManager\Relations\Runtime.php on line 38

[2017-11-14 09:48] johwebserv commented on #11885
same problem for all other payment methods since 2.2.0. The agreement is checked, but magento checkout shows a pop-up message with "please agree to all the terms and conditions before placing the order."
In our case it's no solution to disable agreements in checkout to use all payment methods (paypal etc.).

[2017-11-14 09:55] rigu12 commented on #12174
But system upgrade FAIL on last step: maintenance disable it's made a rollback loop.
I installed new 2.2.0(no data) test to upgrade 2.2.1...same issuee..i dont know why... @evensis

[2017-11-14 10:01] SpartakusMd commented on #12188
@LeLieu do you have the same issue if you remove the order attribute on css element in your layouts ?

[2017-11-14 10:08] rigu12 commented on #12174
but the sql data is 2.2, is work ? @evensis

[2017-11-14 10:10] #12163 closed, assigned to p-bystritsky

[2017-11-14 10:12] evensis commented on #12174
Yes, it will automatically run schema upgrades.

[2017-11-14 10:22] czettnersandor commented on #12214
The problem is, Magento's composer.json contains this line:

`"zendframework/zend-code": "^3.1.0",`

So `composer update` will fetch the latest version of zend-code, which is currently 3.3.0. This version requires php 7.1. Please understand the difference between tilde (~) and caret (^).

[2017-11-14 10:24] vkublytskyi commented on #5846
Thank you all who participated in the discussion on the issue.  @experius-nl created a PR in partners repository to add handling of JSON encoding error. We are going to accept and merge these changes.

However, such fix cannot be counted as a full as any invalid data should be detected before  `Magento\ImportExport\Model\ResourceModel\Import\Data::saveBunch` call. So if some data lead to failure i

[2017-11-14 10:30] magento-engcom-team commented on #12218
@ajpevers, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-14 10:32] rigu12 commented on #12174
but if system upgrade FAIL on last step is no problem too? look like work..but the step made a rollback loop. @evensis

[2017-11-14 10:33] evensis commented on #12174
Keeps throwing this on the rollback error yes?

Running schema recurring...Source class "\SignifydAvsDefault" for "SignifydAvsDefaultMapper" generation does not exist.

[2017-11-14 10:34] lovepreetsingh03 opened #12236 "In Admin dashboard click is not working on product or left side menu bar"
hii,
I install Magento 2.0
After installing I try to login with admin url.
From the Admin dashboard when I click on Product then nothing happened.

i saw following errors in console window.
Failed to load resource: the server responded with a status of 404 (Not Found)
require.js Failed to load resource: the server responded with a status of 404 (Not Found)
ext-all.css Failed to load resource: the

[2017-11-14 10:39] feelinc commented on #12232
I'm very sorry, this is my mistake. The guest checkout working correctly.

[2017-11-14 10:39] #12232 closed, assigned to nobody

[2017-11-14 10:39] czettnersandor commented on #12214
I can see it's already fixed here: https://github.com/magento/magento2/commit/42b10d539ca3137563f796eaa30adba6ff8a8fd0

[2017-11-14 10:42] rigu12 commented on #12174
Yes and...This issuee not only me ,i saw it some people have this issuee too..FAIL on last step: maintenance disable.

[2017-11-14 10:56] koopjesboom commented on #12216
Same problem here. The Update to 2.2.1 is completed but now it hangs on the error with the rollback message. Any suggestions some one? Thank you.
![error update rollback message](https://user-images.githubusercontent.com/15247780/32776442-db6aa91c-c932-11e7-8467-d1cf75dbabec.png)

[2017-11-14 10:59] rigu12 commented on #12174
https://github.com/magento/magento2/issues/12216 @evensis

[2017-11-14 11:07] evensis commented on #12174
The maintenance step caused the failure? Going to be a permission problem if that is the case.

[2017-11-14 11:11] rigu12 commented on #12174
Waiting support resolve our issue @evensis

[2017-11-14 11:13] jarnail1004 commented on #1591
@rganin  I try this "ttl" but it didnt work.  I want to uncached BLOCK on product page and I try to use this TTL by setting to minimum time but its doent work. i am using maqgento 2.1.8

[2017-11-14 11:20] dodiya-divyarajsinh opened #12238 "how i can get customer token for Braintree implementation"
how i can get customer token for Braintree implementation  in magento 2 with REST API? because in magento 2 braintree payment need payment_me‌​thod_nonce and customer_token for payment using REST.

[2017-11-14 11:20] evensis commented on #12216
My first thought is permission problems, can you try:

http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

Let's rule this out first to help the core team.

[2017-11-14 11:20] evensis commented on #12174
Okay, your issue has changed since you posted this thread (as per description), you've solved the signifyd generation issue but seems you've now stumbled into something else unfortunately.

Continue the discussion in #12216 as its not relevant to this thread description anymore.

[2017-11-14 11:23] magento-engcom-team commented on #12222
@imtango30 , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2017-11-14 11:32] rigu12 commented on #12216
i tryed but same problem @evensis

[2017-11-14 11:33] magento-engcom-team commented on #12238
@dodiya-divyarajsinh, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.
And see this
http://devdocs.magento.com/guides/v2.1/payments-integrations/vault/payment-token.html
Thank y

[2017-11-14 11:33] #12238 closed, assigned to nobody

[2017-11-14 11:35] koopjesboom commented on #12216
@evensis Yes this has already been done. But it does not remove the error and rollback messages from the web setup page. Thanks for the help so far.

[2017-11-14 11:37] evensis commented on #12216
Hmm, are any errors being dropped in var/log/exceptions.log or the system.log? Is anything getting into your nginx/apache logs either?

[2017-11-14 11:39] rigu12 commented on #12216
No. no anything. did not prompt.... @evensis

[2017-11-14 11:42] evensis commented on #12216
Usual thing with nothing being output by Magento for an error, is something in an XML, but they are always a pain in the backside to dig out.

Can one of you debug and step through to see what's going on?

Goto: Magento\Framework\Console\Cli and put a break point beginning of run() and see where it takes you.

Sometimes needs a little bit of digging rather than an off the shelf solution unfortunat

[2017-11-14 11:48] magento-engcom-team commented on #12230
@matin73 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-14 12:03] matin73 commented on #12230
We have added several attributes to default attribute-set, like "size, color, manufacturer, material ...". all these attributes have for storefront properties "Visible on Catalog Pages on Storefront" > yes and "Visible in checkout" -> yes.

Then we created configurable product and choosed only 1 of these attributes for child products. for example for this kind of configurable product we only need

[2017-11-14 12:30] magento-engcom-team commented on #8875
@AlexandreKhayrullin, thank you for your report.
We've created internal ticket(s) MAGETWO-83363 to track progress on the issue.

[2017-11-14 12:30] magento-engcom-team commented on #8696
@djfordz, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-14 12:30] magento-engcom-team commented on #12233
@matin73, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-14 12:31] siliconalchemy commented on #10756
Can anyone shed light on why this issue was closed, when it is clearly a major outstanding bug?

[2017-11-14 12:37] tangar76 opened #12240 "Layered Navigation shows no products when apply filters with configurable attribute and non-configurable"
### Preconditions
 1. Magento 2.2.1
 2. mysql  Ver 14.14 Distrib 5.7.20, for Linux (x86_64)
 3. PHP 7.0.25-1+ubuntu16.04.1+deb.sury.org+1
 4. Server version: Apache/2.4.18 (Ubuntu)

### Steps to reproduce

 1.  Find category with layered navigation and configurable products. In case of Magento Sample data it can be Women - Tops.
 2. Apply filter for non-configurable attribute (for example 'style g

[2017-11-14 12:38] orlangur commented on #12214
That's exactly how Composer is supposed to work. There is nothing wrong with it.

As far as I remember, Zend Code `3.2.x` supports PHP 7.1+ only and Zend Code `3.1.x` does not support PHP 7.1, so, we cannot use one version for both PHP versions.

I've contacted author of this "fix". If there are known issues with Zend Code `3.3.0` constraint can be changed to `~3.1.0|~3.2.0` but current constraint

[2017-11-14 12:42] magento-engcom-team commented on #12224
@DJ0815, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-11-14 12:42] #12224 closed, assigned to nobody

[2017-11-14 12:44] tangar76 commented on #12240
Sorry, we've just tested one more time and there are no such issue on Magento 2.1.x. Problem occurs only on Magento 2.2.x

[2017-11-14 12:46] miqbal699 commented on #3374
@magento-engcom-team Any update on this?

[2017-11-14 12:47] magento-engcom-team commented on #12164
@Rammohan90520, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-14 12:47] #12164 closed, assigned to nobody

[2017-11-14 12:51] magento-engcom-team commented on #8891
Hi @korostii.
In latest version (2.1.9) the issue is fixed: you can restored default value in admin.

[2017-11-14 12:52] berkanduzgun opened #12242 "Fourth URI segment is lost during redirection"
### Preconditions
1. Magento CE 2.2-develop (d4e666fbb2528de8d2e97dcb642107edf0c64f88)
2. Also exists on 2.1.9 EE

### Steps to reproduce
1. Store uses secure URL. Base URL is https://example.com/.
2. Create a category tree with following structure. (You do not have to create to reproduce)
Root Category
- Test 1
- - Test 2
- - - Test 3
- - - - Test 4
2. Make a request to **http**://example.com/tes

[2017-11-14 13:06] PrajapatiChirag commented on #2933
I can still replicate this issue with these configuration (on 2.0.7)

[code]

Solution:
Method 1: Add an else condition / cons is page size will increase because the key is added to all country objects

[code]
Method 2: Check if the key exists in region.js. I am more on this method due to the cons above mentioned.

[code]

[2017-11-14 13:09] flancer64 commented on #5906
There is a simple task - add a [Modal](http://devdocs.magento.com/guides/v2.2/ui_comp_guide/components/ui-modal.html) component to the "Customer Edit" form in adminhtml. I asked about the Right Way in [stackoverflow](https://magento.stackexchange.com/questions/200978/add-ui-component-on-form-directly-in-magento-2) - nothing.  I try to find _any way_ by myself - nothing. UI concept is not easy. Ver

[2017-11-14 13:22] AlexObreja opened #12244 "Save product with custom atribute dropdown/select"
Hi, anyone had my same issue?
I'm having problems on saving the product.
This is what i've made:

- Stores->Attributes->Product->NEW (Default Label: test ; Catalog Input Type for Store Owner: Dropdown)
- Stores->Attributes->Attribute Sets->Default (Edit)  Added test to default view on product details
- Catalog->Product->NEW ( Product Name: test ; SKU: test ; Price: 1 ; Test (attribute created): te

[2017-11-14 13:30] magento-engcom-team commented on #8924
@andidhouse, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-14 13:30] #8924 closed, assigned to magento-engcom-team

[2017-11-14 13:30] magento-engcom-team commented on #8891
@korostii, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10

[2017-11-14 13:30] #8891 closed, assigned to magento-engcom-team

[2017-11-14 13:30] magento-engcom-team commented on #12231
@Triloworld, thank you for your report.
We've created internal ticket(s) MAGETWO-83819 to track progress on the issue.

[2017-11-14 13:36] nathanmerrill opened #12245 "AddressExtensionInterface is not an interface"
I'm generating a Swagger Schema for some classes of mine, and I wanted to use `\Magento\Customer\Api\Data\AddressInterface` as a parameter to one of my functions.

However, this causes Swagger to throw a 500 with the following error: `Notice: Undefined index: parameters in \/mnt\/c\/develop\/php\/mage2\/vendor\/magento\/module-webapi\/Model\/Rest\/Swagger\/Generator.php on line 704`

This is becau

[2017-11-14 13:40] magento-engcom-team commented on #12209
@ihor-sviziev, thank you for your report.
We've created internal ticket(s) MAGETWO-83822 to track progress on the issue.

[2017-11-14 13:52] RomaKis commented on #10035
It is fixed in https://github.com/magento/magento2/commit/fb84267.

[2017-11-14 14:22] pushparaj100 commented on #11793
Thanks for your work, But we have launched the site in 2.1.3 version only please provide solution for 2.1.3 version.We have in critical situation.

[2017-11-14 14:29] magento-engcom-team commented on #12223
@maqlec, thanks for reporting.
Please specify what attributes are used for layered navigation in Your case.

[2017-11-14 14:31] magento-engcom-team commented on #12230
@matin73 , thank for your feedback. In clean installation in attribute product "Visible in checkout" is not present.
![attr_0891280870](https://user-images.githubusercontent.com/31669971/32785080-40e1c82c-c959-11e7-9ea0-cf41a981ae4d.png)

[2017-11-14 14:37] AlexGrafic commented on #12244
I'm not sure where it was the issue but now i solved. I had a custom module where on install it has to create the Product Attributes but the install failed and the Attributes wasn't created. Once imported the attributes using SOAP magento created the Attributes with input type Text and added the options to the input type text as dropdown field.
After removing the module using CLI and from setup_mo

[2017-11-14 14:42] versdivers opened #12248 "Product stock VS Filtered Navigation"
**### Preconditions**
1.  PHP 7.0 +
2.  Magento 2.2.1

**### Steps to reproduce**
1.  Create 2 new attributes (multiple select)
2.  Set new attributes 'use in layered navigation navigation" to 'filterable with results'
3.  Fill in the attributes on 2 products
4. place those 2 products in a category and set that category 'is anchor' to yes
5. Put stock of one item to 'out of stock' and the other 'i

[2017-11-14 14:44] matin73 commented on #12230
aah ... thanks. it is comming from firegento extension ... an how can i display attribute on checkout process??

[2017-11-14 14:51] marilena6 commented on #12101
Any update on this?

[2017-11-14 14:51] magento-engcom-team commented on #12240
@tangar76, thank you for your report.
We've created internal ticket(s) MAGETWO-83827 to track progress on the issue.

[2017-11-14 14:56] ihor-sviziev commented on #12206
@p-bystritsky FYI I have fix for this issue, in progress of preparing PR for it

[2017-11-14 14:57] p-bystritsky commented on #12206
@ihor-sviziev I'll reassign issue to you.

[2017-11-14 15:04] matin73 commented on #12230
my fault - magento is default showing correct attribute in checkout!

[2017-11-14 15:05] ishakhsuvarov commented on #12230
@matin73 Thanks for the update. Should we close the ticket now?

[2017-11-14 15:07] ihor-sviziev commented on #12206
@p-bystritsky we fixed this issue for own project with  https://github.com/magento/magento2/commit/9f7171a485e6e591d61f1c4353e9b203824a7c89 but I'm not sure that it's really good solution.
It looks like issue it located in getUrl method for $store object.

[2017-11-14 15:09] matin73 commented on #12230
yes - thanks

[2017-11-14 15:16] magento-engcom-team commented on #12230
@matin73, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-14 15:16] springimport commented on #6668
By default in magento you can select fields what you want include in the response.
I created exclude-way for fields: [restapi-exclude-fields](https://github.com/springimport/magento2-module-restapi-exclude-fields).

**Using:**
`[GET] http://example.com/rest/V1/shipments` with new parameter `excludeFields=items[shipping_label]`

[2017-11-14 15:26] allamsettiramesh opened #12249 "Not able to override Block \Magento\Theme\Block\Html\Topmenu"
I tried to override \Magento\Theme\Block\Html\Topmenu file  but i am't able to see out put.
di.xml file
 `<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Theme\Block\Html\Topmenu" type="Company\Cms\Block\Html\Topmenu" />
</config>`

B

[2017-11-14 15:30] magento-engcom-team commented on #12147
@andrewhowdencom, thank you for your report.
We've created internal ticket(s) MAGETWO-83828 to track progress on the issue.

[2017-11-14 15:40] maqlec commented on #12223
It could be any attribute, I found the place where this condition is hardcoded
https://github.com/magento/magento2/commit/b043944085b94d3689b396246753d19a02bf453f#diff-c04b442549dd53e9620aa23f581ff1b5R115
I could fix this but I don't know purpose why sombody did that :)

[2017-11-14 15:53] magento-engcom-team commented on #12211
@leoncito73 We cannot reproduce this issue as described. Are the correctly set origin shipping address, Weight Unit to storeview? Is the user's delivery address correct (country and zip code)? Please add more Screenshots or logs, and any other information needed to reproduce your issue.

[2017-11-14 16:09] erjenrijnders commented on #12225
What does that mean "G1 Failed"? Sorry I see that label a lot but I have no idea what that means

[2017-11-14 16:12] #12244 closed, assigned to nobody

[2017-11-14 16:23] korostii commented on #8891
Are you certain about that? I don't see any changes between 2.1.5 and 2.1.10 in the code referenced.
Would you care to point me to a specific commit if the issue was fixed elsewhere?

.. if the store-level value isn't `NULL`. Have you actually tested this with a `NULL` value?
That is what this ticket is about.

Reporter cannot reopen an issue if it was closed by a repository owner or contributor.

[2017-11-14 16:30] quisse opened #12250 "View.xml is inheriting image sizes from parent (so an optional field is replaced by the value of parent)"
I want to resize my images to a width of 250px and keep the aspect ratio (so I'm not adding a height tag). Instead of resizing the image to the full height of the image, Magento takes the height for that image from the parent theme's view.xml. So ["If your theme does not contain a view.xml configuration file, it will be inherited from the parent theme. **If you add the <theme_dir>/etc/view.xml fil

[2017-11-14 16:38] expertalex opened #12251 "Configurable Product Error"
We have an error when creating a configurable product:

The Result is a parent Configurable product and Virtual Product as a childs.

Regards

### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-11-14 17:07] dmitry-fedyuk commented on #10878
I have solved it by [removing the cache](https://mage2.pro/t/4938/2):

[code]

[2017-11-14 17:13] amaddatu commented on #9323
I can confirm that I had exactly the same issue mentioned here in Magento 2.1.8 . It has to do with a circular redirect in the module.xml file. There should be some kind of circular redirect error to help mitigate this development issue. It was not easy to figure out.

[2017-11-14 17:30] magento-engcom-team commented on #12226
@jdonovan-gaia, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.1

[2017-11-14 17:30] #12226 closed, assigned to nobody

[2017-11-14 17:35] leoncito73 commented on #12211
@magento-engcom-team
In the follow image is the setup of my store about the Origin Shipping, address, weight unit and store info.
![github-info1](https://user-images.githubusercontent.com/31698668/32794777-7e44811e-c972-11e7-9c9d-b656a05048e2.jpg)
And in this image is the user info delivery address correct and the shipping result
![github-info2](https://user-images.githubusercontent.com/31698668/3

[2017-11-14 17:45] adamlavery opened #12252 "No customer group price on 2nd website, alternate currency"
### Preconditions
1. Magento OS 2.2

### Steps to reproduce
1. UK (main) website base currency set to GBP.
2. Create 2nd website/store/view for US with base currency set to USD.
3. Set Catalog price scope to website.
4. Create a customer group for the UK site and one for the US site.
5. Set base pricing for a product at say 50 and available on both sites.
6. Set Advanced Pricing for UK group in GB

[2017-11-14 18:02] Januszpl commented on #8777
I think we should also add here possibility to make this checkbox unchecked by default for guest customers and show form by some settings in admin panel or at least by easy to modify option/variable in the code for developers.

[2017-11-14 19:35] joshuaadickerson opened #12254 "Configure theme from CLI"
### Preconditions
1. Magento 2.2
2.

### Steps to reproduce
1. Go to CLI and attempt
2. Attempt to configure the theme
3. Only option is to uninstsall

### Expected result
1. An option to set the default theme
2. An option to configure themes

### Actual result
1. N/A

[2017-11-14 21:01] rpm68 commented on #11913
Does someone look into closed tickets but with responses?

[2017-11-14 21:04] JoergLindner opened #12255 "Store EMail Address change generate failure and are not stored"
### Preconditions
1. Version 2.2.1
2. PHP 7.0.25
3. MySQL Maria DB 10.1
4. Plesk Onyx Version 17.5.3 Update #29

### Steps to reproduce

1. Install new M2.2.1 by using the zip package without data
2. Using default Website/Store and Store view
3. Store--> Configure--> Store EMail Adresses
4. Changing E-Mail address

### Expected result

1. E-Mail Address should be changes to the new one

### Actual

[2017-11-14 21:11] quenode opened #12256 "Option to select durring instalation Serbian Latin or Serbian Cyrilic"
Hi Magento community,

During installation when selecting default language for magento as
Serbian Language the default language store sr_Cyrl_RS "
general/locale/code - sr_Cyrl_RS" .
This ok but we should have two option Serbian@Latin and Serbian@Cyrilic

Here are the patches.

[code]

This the Config.php

[code]

[2017-11-14 21:18] KarlDeux commented on #10209
Cannot reproduce it on 2.2 dev.
Are you filling Images File Directory field from the admin/import tool?
If so, try not to fill it and use the CSV file exported as-is.

[2017-11-14 22:46] KarlDeux commented on #12058
Got this! (think so)

[2017-11-14 22:47] vbuck commented on #11181
A co-worker is having the same issue as @joachimVT. We are using the same `Vagrantfile` and provisioners, same version of VirtualBox (5.1.30) and Vagrant (2.0.0), and my install goes well but his fails. The only difference between our environments is the host OS, where I am on El Capitan and he is on High Sierra.

This all looks too much like a problem relating to an NFS bug in High Sierra that ha

[2017-11-14 22:48] KarlDeux commented on #10909
Shouldn't this be closed / archived?

[2017-11-14 22:49] raumatbel commented on #12215
Hi @vitormicillo, thanks for bug report, I close this issue because it is a known issue tracked as [10580](https://github.com/magento/magento2/issues/10580)

[2017-11-14 23:08] josh-nh commented on #11314
Following as I am having the exact same issue as @lexwet.

Preconditions:

Magento: 2.2 (we were on 2.1.7 before upgrading and the issue was not present then)
PHP 7.0.24
Varnish: 4 (using VCL generated for Varnish 4 in Admin panel)
OS: Same issue on Apache and Nginx
gc.maxlifetime: 86400
cookie expiration: 86400
Sessions: Using REDIS to store session data (config below)

Steps to reproduce:

1. Op

[2017-11-15 00:03] okorshenko commented on #7691
The issue has been fixed and delivered to 2.2-develop branch

[2017-11-15 00:03] #7691 closed, assigned to RomaKis

[2017-11-15 00:50] pulaskiluke opened #12258 "Custom attributes do not show up in grouped products"
### Preconditions

1. Magento CE 2.2.0
2. PHP 7.0

### Steps to reproduce

1. I created a bunch of custom attributes for simple products, and added them into the default attribute set.
2. I then created a bunch of simple products with those attributes
3. And then I grouped them together, and called the custom attributes from the grouped.html using:
        <thead>
        <tr>

            <?php i

[2017-11-15 01:29] dlkinsey85 commented on #8643
I'm on 2.1.9 and am still having this issue...

[2017-11-15 02:50] testmagento2 opened #12259 "Save and Duplicated product not working"
**# Preconditions**

1. Magento ver. 2.2.1
2. PHP 7.0.25
3. MySQL 5.6

**# Steps to reproduce**

1. Go to admin > products > catalog
2. Choose any
a product
3. Click on Save & Duplicate
4. You're getting the messages Notice: Undefined offset: 0 in /home/software/public_html/vendor/magento/module-catalog/Model/Category/Link/SaveHandler.php on line 124

**# Expected result**
Duplicated the product

[2017-11-15 03:33] pulaskiluke commented on #12258
Refer to issue 11248: https://github.com/magento/magento2/issues/11248
Problem was solved by adding to the following file the following line at 211
vendor/magento/module-grouped-product/Model/Product/Type/Grouped.php
At line 211 add the custom attributes you'd like to show, in my case it is:
            )->addAttributeToSelect(
                ['name', 'size', 'marker', 'price', 'special_price', '

[2017-11-15 03:33] #12258 closed, assigned to nobody

[2017-11-15 04:03] gvigner commented on #11055
The module by @bangerkuwranger actually worked partly for me. I was able to create new categories, but I was still unable to change the position of subcategories. When running bin/magento indexer:reindex, I still had an error message:
[code]

To fix this issue temporarily, I finally move my database from Aliyun RDS cloud to my own mysql server. My Aliyun RDS server is running MySQL 5.6 with enforc

[2017-11-15 06:21] lovepreetsingh03 commented on #12236
Goto Magento 2 root directory -> pub -> static and remove static folder and remove var/cache, var/composer_home, var/generation, var/page_cache, var/view_preprocessed
Then run,
php bin/magento setup:static-content:deploy
its work for me.
thanks magento team

[2017-11-15 06:21] #12236 closed, assigned to nobody

[2017-11-15 06:23] sasilinux opened #12260 "Magento 2.2.1 Customer registration in frontend is not working"
### Preconditions

1. I am using Latest version of Magento 2.2.1

### Steps to reproduce

1. While upgrade from Magento 2.1.8 to Magento 2.2.0 (Or) Magento 2.1.9 to Magento 2.2.1
2.  Customer registration on Magento frontend is not working
3.  For a fresh installation customer registration is working

### Expected result

1.  After upgrading from Magento 2.1.9 to Magento 2.2.1
2.  Clicking the Cre

[2017-11-15 06:33] magento-engcom-team commented on #12196
@popovdenis, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-11-15 06:33] #12196 closed, assigned to nobody

[2017-11-15 06:36] bondimedical3 opened #12261 "Order confirmation email contains non functioning links"
On the bottom of the Order Confirmation email (and all other emails sent to the customer) there are two links "About Us" and "Customer Service" which do not work - view screenshot

### Preconditions
1.  Magento 2.2.1
2.  PHP 7.1

### Steps to reproduce
1.  Place an order and receive a confirmation email

### Expected result
1.  Links should work when clicked

### Actual result
1.  Links do not wor

[2017-11-15 06:40] yesman2104 opened #12262 "Error when Run command grunt:exec Magento 2.2.0"
### Steps to reproduce

1. Run theme on Magento 2.2.0 environment
2. setup grunt , setup node_modules & add path theme in theme.js  .
3. Run grunt:exec

### Expected result
 Appear error [InvalidArgumentException] >> Verify entered values of the argument and options. Unable to resolve the source file for 'frontend/Emthemes/laparis/en_US/css/styles-m.less'

### Actual result

compiled css for theme

[2017-11-15 06:40] priti-rathee commented on #6575
@Bartlomiejsz Hi i have done the same and overridden all the files in my module. I am getting my custom address attribute on the checkout page as well as in admin customer address section but it is not saving from checkout.But if try to save from admin panel customer address section it is saving.
I am new to magento please help me . I am using magento 2.2.0 version.
I have uploaded zip file of my

[2017-11-15 06:44] ali-uae commented on #12198
I am using magento 2.1.7 CE and it show

show message in admin -- "General system exception happened"

[2017-11-15 06:45] ali-uae commented on #12198
is this require to upgrade magento 2.1.7 to latest version ??

[2017-11-15 06:51] Krupaly2k commented on #3762
Hi,

I am using 2.1.7 and this issue still there.
Please advise for solution.

Thanks,
Krupal

[2017-11-15 06:54] VictorSnow opened #12263 "Add shipping address in orderInterface"
### Preconditions

1. Magento 2.2.1
2. ......

### Steps to reproduce

1. call rest api on /V1/orders/:orderId  method: get
2.

### Expected result

1. return shipping address as well as the billing address

### Actual result

1. no shippping address is returned

[2017-11-15 07:30] magento-engcom-team commented on #12260
@sasilinux, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10, 2.2.1

[2017-11-15 07:33] sasilinux commented on #12260
I already mentioned this, Fresh magento installation didn't have a problem in customer registration. Only While upgrading the old version to Magento 2.2.1. I got this issue.

[2017-11-15 07:34] sasilinux opened #12264 "After upgrading from Magento 2.1.8 to Magento 2.2.0, Customer registration is not working"
Preconditions

I am using Latest version of Magento 2.2.1
Steps to reproduce

While upgrade from Magento 2.1.8 to Magento 2.2.0 (Or) Magento 2.1.9 to Magento 2.2.1
Customer registration on Magento frontend is not working
For a fresh installation customer registration is working
Expected result

After upgrading from Magento 2.1.9 to Magento 2.2.1
Clicking the Create Account Button and filled all th

[2017-11-15 07:48] magento-engcom-team commented on #12263
@VictorSnow , We cannot reproduce this issue. Here is our result:

![shipping address](https://user-images.githubusercontent.com/31669971/32824506-eb96b634-c9e9-11e7-82bb-8577d0dd7a0d.png)

[2017-11-15 07:50] JoergLindner commented on #12255
After debugging, we found that Magento looks in the wrong directory, for  the  EMailAddress.php. It looks under /opt/plesk/php/7.0/share/pear/Zend/Validate/Magento/Framework/Validator. Cause of that is the default Plesk setting (PHP) has an include_path=.:/opt/plesk/php/7.0/share/pear

There are two ways to solve that:
1.) Yust change the include_path setting to `include_path=.`
2.) Add to the add

[2017-11-15 07:57] VictorSnow commented on #12263
the interface returns billing_address as order field
and shipping_address may need to be the same
[code]

[2017-11-15 07:58] magento-engcom-team commented on #12260
@sasilinux , We have taken the following steps:

1.  Instal Magento 2.1.8 and 2.1.9.
2.  Have made an upgrade to version 2.2.1.
Actual Result: User registration works well, no problems or errors detected.

Please provide the detailed steps we must follow to reproduce this issue. In addition, identify the web server you are running, the versions of PHP and MySQL, and any other information needed to

[2017-11-15 08:05] magento-engcom-team commented on #12264
@sasilinux , Please, you do not need to create duplicates. You already created the same problem [#12260](https://github.com/magento/magento2/issues/12260)

[2017-11-15 08:05] #12264 closed, assigned to nobody

[2017-11-15 08:15] kanduvisla commented on #12202
I would not suggest a new validation rule. There are multiple validation rules and you don't want to create an `-all-`-variant for all of them. I think the problem lies in the current way how input elements are collected. It looks like they are collected by their `name`, using the `name`-attribute as the unique key, but clearly this will not work for names like `foo[]`.

[2017-11-15 08:41] sasilinux commented on #12260
Php 7.0.24 and Mysql 5.7 also vanish cache installed in my server.

[2017-11-15 08:42] vadimjustus opened #12265 "Open TODO in creditmemo and RMA workflow"
Implementing the creditmemo and RMA import we found an open `TODO: implement multiple refunds per capture in \Magento\Sales\Model\Order\Payment::refund()`. If this open todo is a problem for our order workflow (see below), we will need a fix for that. We cannot yet verify it ourselves - the necessary refactoring of the PayOne module ist still in progress:

**Order workflow**
1. Customer places ord

[2017-11-15 08:46] vadimjustus opened #12266 "Lock for running indexer does not work"
We have several regular jobs that trigger a full reindex at some time. A full reindex takes 10 to 15 minutes. In some cases reindexing is triggerd when another reindex is still in progress (long running reindex, manual reindex, saving products in the backend). When two reindex processes run in parallel, we experience the following mysql exceptions:

[code]

**The first exception is easily to be re

[2017-11-15 08:49] vadimjustus opened #12267 "Full page cache / varnish issue with session information"
If you have the following .phtml file
`<script>track(<?php echo json_encode($block->getJson()); ?>);</script>`

In combination with this block class:
[code]

And you set the TTL-attribute in your layout XML to "0" (Varnish ESI), customerSession still does not return data.
We need to track user data in real-time while maintaining FPC and Varnish functionality - asychronous tracking via AJAX is not

[2017-11-15 08:49] roma84 opened #12268 "Gallery issues on configurable product page"
### Preconditions
1. Magento 2.2.1 and 2.1.10 with sample data
2. Stellar Solar Jacket product with assigned product video
3. Modified Magento_Catalog > gallery > fullscreen config in theme view.xml

### Steps to reproduce
1. Go to Stellar Solar Jacket product page
2. Click on size attribute
3. Click on color attribute

### Expected result
1. When you switch to video it should play
2. When you ope

[2017-11-15 08:58] magento-engcom-team commented on #9488
Hi @magentoguyssageone
Thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see de

[2017-11-15 09:06] magento-engcom-team commented on #12263
@VictorSnow ,  thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-15 09:06] #12263 closed, assigned to nobody

[2017-11-15 09:17] rushtohk opened #12269 "Limited access admin user can't export products on first request after login in magento 2.1.x"
**Steps to reproduce**

1. Create new admin user role having following role resources  'a. Products  > Inventory > Catalog b. My Account c. Stores > Attributes > Product d. Stores > Attributes > Update Attributes e. System > Data Transnfer > Import f. System > Data Transnfer > Export'
2. Add new admin user to above mentioned role.
3. Export Products from new limited acess admin user created.

**Ex

[2017-11-15 09:23] magento-engcom-team commented on #12259
@testmagento2, thank you for your report.
We've created internal ticket(s) MAGETWO-83895 to track progress on the issue.

[2017-11-15 09:25] apedicdev opened #12270 "Importing products crashes server"
[import_log.txt](https://github.com/magento/magento2/files/1474025/import_log.txt)

### Preconditions

1. Magento 2.1.9
2. A few product attributes

### Steps to reproduce

1.  system > import
2. entity type: Products | Import Behavior: Add/Update
3.  Attach file to import and check data >> you should see no errors
4. once file is checked click import

### Expected result

1. Product imported succ

[2017-11-15 09:30] magento-engcom-team commented on #12263
@VictorSnow, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-15 09:34] atsareva commented on #10766
Hi all,
I faced with the same issue after updated magento with 2.2.0 version.
I've created folder with logo image in the custom theme and seems like static deploy works fine with all specified languages.
Thanks for @ennostuurman

[2017-11-15 09:34] #12267 closed, assigned to nobody

[2017-11-15 09:34] #12266 closed, assigned to nobody

[2017-11-15 09:35] #12265 closed, assigned to nobody

[2017-11-15 09:36] rushtohk commented on #12269
Is this issue being reviewed ?

[2017-11-15 09:48] korostii commented on #8813
@magento-engcom-team well, if you managed to find an API request which happens to work in order to reach the "expected result" given here, would you mind sharing it right away? IMHO that would be the most helpful in this case.

[2017-11-15 10:18] yesman2104 opened #12271 "Error when run command grunt:exec in Magento 2.2.0"
Error when run command grunt:exec Magento 2.2.0 . Please see screenshot !!!

**Preconditions**

Magento 2.2.0
PHP 7.1
**Steps to reproduce**
1) Setup theme on Magento 2.2.0 environment
2) setup grunt , setup node_modules & add path theme in theme.js .
3) Run grunt:exec

**Expected result**

Run grunt exec need to successful
**Actual result**

grunt appearing error :  [InvalidArgumentException] >>

[2017-11-15 10:19] gouravsyscraft opened #12272 "After login to magento 2.2.1 or reloading any page system.log generating"
Hello All,
When i am login to admin (magneto 2.2.1) each time system.log are generating. This is fresh magento setup So i just want to know this is bug in magento or something else? Please let me know:

System.log (Error):

[2017-11-15 10:04:29] main.INFO: Item Magento_Backend::system_currency was removed [] []
[2017-11-15 10:04:29] main.INFO: Add of item with id Magento_Theme::design_config was p

[2017-11-15 10:21] tanghia commented on #10175
same issue.

First time, this issue occurs with our customer, we think that it's a customer account's problem, and that customer doesn't checkout again!

Second time, we still think that it's a customer account's problem.

Third time, a customer places another order after he completes a new order with express checkout. But, the system throws "can't place order". We don't know how many customers we

[2017-11-15 10:28] tanghia commented on #10175
We have just checked log file and this is content:

[2017-11-15 09:50:21] main.CRITICAL: Exception message: Please check the billing address information. Please enter the street. Please enter the city. Please enter the phone number. Please enter the zip/postal code.
Trace: #0 /chroot/home/xmagetwo/x-mage2.com/html/vendor/magento/module-quote/Model/QuoteManagement.php(427): Magento\Quote\Model\Quot

[2017-11-15 10:30] BNEP commented on #11885
same here, we are running Magento version CE 2.2.1
We have only one agreement configured (btw.: The configuration of agreements is buggy, too. One can not modify existing entries)
the xhr page set-payment-information returns this error, but the box IS checked. Then paypal popup hangs...
`
{
    "message": "Bitte akzeptieren Sie die Geschäftsbedingungen, bevor Sie eine Bestellung aufgeben."
}
`
Hop

[2017-11-15 10:30] magento-engcom-team commented on #9946
@dfelton, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-15 10:30] #9946 closed, assigned to magento-engcom-team

[2017-11-15 10:41] rigu12 commented on #12216
same problem @evensis

[2017-11-15 10:41] akshgods commented on #3855
@giacmir , how you solved this issue. im facing on 2.0.4 . can you please give brief to solve it?

[2017-11-15 10:45] RomaKis commented on #12259
Duplicate of https://github.com/magento/magento2/issues/11532.

[2017-11-15 11:08] cscd98 opened #12273 "Magento Compatibility with PHP 7.2"
### Preconditions
1. Magento EE 2.2.1
2. PHP 7.2

### Steps to reproduce
With the expected release of PHP 7.2 at the end of the month, when can we expect a version of M2 that is compatible?

[2017-11-15 11:09] apedicdev commented on #12270
problem fixed here https://github.com/magento/magento2/commit/5c9b7b9f324034df48bbc439260eb06d15f11132

[2017-11-15 11:09] #12270 closed, assigned to nobody

[2017-11-15 11:11] rushtohk commented on #12269
Got the solution. The new limited access admin user must have  'System > Other Settings > Notifications > Show Toolbar' to get the expected result.

[2017-11-15 11:11] jahvi opened #12274 "[2.2.x] How to disable modules per environment?"
As of 2.2 it is recommended to include the `config.php` file in version control as it provides common settings that are shared across environments. The problem is that sometimes you want to install extension only for development so if this is the case then you'll get an error if the module is included in the `config.php` file but not actually installed.

### Preconditions

1. Magento 2.2.1
2. PHP

[2017-11-15 11:33] renttek commented on #12274
I see 2 Options to implement this requirement:

1. Add a modules key to env.php

2.Add an 'modules-{mode}' key in config.php, where mode is the run mode of magento (developer, production, default, ...)

Personally I'd prefer option 2, because you only have to look at 1 file to determine which modules are enabled/disabled in which environment/mode.

Another question is: should this be done in core?

[2017-11-15 11:37] magento-engcom-team commented on #12215
@vitormicillo, thank you for your report.
We've created internal ticket(s) MAGETWO-83902 to track progress on the issue.

[2017-11-15 11:38] renttek commented on #12273
The question si: is it already compatible or not?
One way to find out if it is compatible¹ could be to fork the repo and edit the .travis.yml file to enable testing on php 7.2 (AFAIK already travis has support for 7.2)
Another way would be testing locally and reporting bugs (if any) to help make it compatible.

 ¹) This would be only an indicator. I'm not saying test pass === fully compatible

I'l

[2017-11-15 11:41] magento-engcom-team commented on #12272
Hello @gouravsyscraft. The GitHub issue tracker is intended for technical issues only. Please refer to the Community Forums (https://community.magento.com) or the Magento Stack Exchange (http://magento.stackexchange.com/) site for technical questions.

[2017-11-15 11:41] #12272 closed, assigned to nobody

[2017-11-15 11:45] craigcarnell commented on #12273
It's not likely to be compatible, due to the removal of mcrypt

[2017-11-15 11:47] renttek commented on #12261
what are the URLs, that the links are pointing to? (Domain is not needed, but path)

[2017-11-15 11:49] magento-engcom-team commented on #12273
Hello @craigcarnell. The GitHub issue tracker is intended for technical issues only. Please refer to the Community Forums (https://community.magento.com) or the Magento Stack Exchange (http://magento.stackexchange.com/) site for technical questions.

[2017-11-15 11:49] #12273 closed, assigned to nobody

[2017-11-15 11:50] cdbessig commented on #6578
2.1.8 here and having same issue.  Unreal basic functionality is still not fixed to this point in M2

[2017-11-15 11:51] craigcarnell commented on #12273
blah blah blah. It is a technical issue

[2017-11-15 11:53] renttek commented on #12273
That's not getting anyone anywhere. I'll try to patch the mcrypt-dependency later this day/the next days to see which other issues are showing with 7.2. These issue can then be fixed.

I'll create an issue to refactor mcrypt dependency after lunch

[2017-11-15 11:58] orlangur commented on #12211
@leoncito73 it is located in `var/log` of your Magento instance, not sure whether it's some separate `dhl.log` / `shipping.log` or just `support_debug.log` / `exception.log`.

[2017-11-15 11:58] nuriabio opened #12277 "Backend/Frontend not loading"
I'm using Magento 2.1.9, PHP 7.0 through Cpanel

I was editing the section Stores/Configuration/Web and then when i saved and tried to log into the admin panel looks like the css doesn't load correctly on frontend and backend and also appears a 404 error message:
https://biodelia.com/
On the system.log appears the next error:

main.CRITICAL: Invalid template file: 'Magento_Reports::js/components.p

[2017-11-15 12:00] magento-engcom-team commented on #12269
@rushtohk , Thanks for the report. Should we close the ticket now?

[2017-11-15 12:02] renttek commented on #11924
First of all, this is **NOT** a magento problem!

The problem is, that there are more connections to the database, than mysql allows.
The reason is most likely an inappropriate config for php/mysql. (e.g. more php-fpm worker than allowed mysql connections)

To allow more connections, the value for "max_connections" in the mysql configuration (Default path: /etc/my.cnf) file must be modified.

[2017-11-15 12:15] #12230 closed, assigned to nobody

[2017-11-15 12:22] magento-engcom-team commented on #10242
@dverkade
Thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](

[2017-11-15 12:22] #10242 closed, assigned to nobody

[2017-11-15 12:25] rushtohk commented on #12269
Yes.

[2017-11-15 12:30] magento-engcom-team commented on #10087
@iancassidyweb, thank you for your report.
We've created internal ticket(s) MAGETWO-83905 to track progress on the issue.

[2017-11-15 12:31] magento-engcom-team commented on #12269
@rushtohk, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-15 12:31] #12269 closed, assigned to nobody

[2017-11-15 12:35] ishakhsuvarov commented on #12255
@JoergLindner Looks like your issue is solved and does not directly relate to the Magento.
Should we close the issue now?
Thanks

[2017-11-15 12:41] magento-engcom-team commented on #10331
Hi @ihor-sviziev
Thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details

[2017-11-15 12:41] #10331 closed, assigned to magento-engcom-team

[2017-11-15 12:42] hatimeria-artur-jewula opened #12278 "Error while fetching bundle item with repository"
### Preconditions
1. Magento 2.1.7
2. PHP 7.0.22

### Steps to reproduce
1. Create a bundle product with at least 1 option of simple product
2. Create a module which defines any extension attributes for `Magento\Catalog\Api\Data\ProductInterface`
3. Create an observer for `catalog_product_collection_load_after` event and in that observer set extension attribute defined in step 2 on each item
4. Tr

[2017-11-15 12:54] jahvi commented on #12274
I though option 1 was already supported but it didn't work in my case, I tried manually adding the `modules` key to this file but they were not being picked up by Magento.

I personally prefer that option just because it's the way settings work now so it would make it consistent, but any fix or workaround would help. As it is now I have to install dev dependencies on the live environment which is

[2017-11-15 12:56] orlangur commented on #12274
`--dev` in Composer should not be mixed with `developer` mode in Magento.

I believe you are supposed to have separate `config.php` for each environment if you need separate sets of modules. Generally, I don't think it's a good idea, better option is to disable unneeded modules in production (or make modules disactivate automatically in production mode).

[2017-11-15 12:58] orlangur commented on #8073
@Ctucker9233 I doubt this issue is severe enough to be backported but as I said earlier, backports are always welcomed from Community members.

[2017-11-15 13:07] allamsettiramesh commented on #12249
Can any one please provide the solution for this

[2017-11-15 13:07] jahvi commented on #12274
@orlangur I agree, however how can we manage to do that if the `config.php` file is encouraged to keep under version control?

Are separate `config.php` files per environment supported now? I couldn't find anything about that in the docs.

[2017-11-15 13:08] magento-engcom-team commented on #12261
@bondimedical3, thank you for your report.
We've created internal ticket(s) MAGETWO-83912 to track progress on the issue.

[2017-11-15 13:08] leoncito73 commented on #12211
@orlangur thanks for the info, I found only the exception.log (30mb of info) I did a "search by words" with, "UPS, DHL" with not any result, with "shipiment" have a lot of results, but i don't understand nothing, what I should search?

This is a little part to the log file (but repeat a lot into it):
![captura de pantalla 2017-11-15 a las 15 04 45](https://user-images.githubusercontent.com/3169866

[2017-11-15 13:14] orlangur commented on #12211
@leoncito73 nice finding, such generic exception may lead to result you observe.

You need to find out why `sales_shipment` table is missing in your database, probably Magento reinstallation is needed.

[2017-11-15 13:16] orlangur commented on #12274
Right, so we can have only `0` or `1` for each module which means disabled/enabled. Overlooked this.

I don't think so, just that you can do it a part of your custom deployment process (copy `config.dev.php` or `config.prod.php` to `config.php`).

[2017-11-15 13:20] EvanRijn commented on #6754
@hostep Hi! Do you have the patch also for 2.1.8 and 2.1.10 ?

Would be great ;)

[2017-11-15 13:25] Frankhendriks opened #12282 "not all categories present / no categories present when adding products"
### Preconditions

1. Magento 2.1.8
2. PHP 7
3. Mysql 5.7

### Steps to reproduce

1. try to add a product
2. when pressing the category dropdown it shows either nothing or a half complete list.
3. also, when i try to edit categories, for some categories it processes and saves editing the Description, but for some categories it does not, it shows right in the admin panel, but old Description in th

[2017-11-15 13:31] jahvi commented on #12274
I see, that's a good workaround thanks for the recommendation.

[2017-11-15 13:45] senthil-wd commented on #10219
@maazsherpao I am getting the same error, the cart items are not displayed on minicart. Pleaes do let me know how you fixed it. Thank you.

[2017-11-15 13:48] smdevdk commented on #8725
@magento-engcom-team link????

[2017-11-15 14:05] ishakhsuvarov commented on #12225
@erjenrijnders Label G1 Failed means that not all of the required sections in the issue report are filled. You may find more information in this document: https://github.com/magento/magento2/wiki/Magento-Issue-Gates

[2017-11-15 14:05] hostep commented on #6754
@EvanRijn, feel free to try the patch for 2.1.9 on 2.1.10, it "might" work, but I haven't tested it yet, so no promises.

[2017-11-15 14:11] diglin commented on #5332
I confirm the issue with Magento 2.1.7 EE. Using third party extension like Owebia for the shipment, the shipment request has the free_shipping value to 1. It's due to `quote_address.free_shipping` value which stay at 1 even when you remove the coupon. Solution provided by @srbarba helped. I used a `afterExecute` plugin for that.

I didn't tested yet on newest version but I will give a try on 2.2

[2017-11-15 14:12] magento-engcom-team commented on #12223
Hello @maqlec. Still we would like You to specify the following information about the attribute You've used: what it is set to in Storefront Properties -> Use in Layered Navigation - Filterable (with results) or Filterable (no results) because it directly concerns the situation. Till now we've been able to get Your actual result only with Filterable (with results) selected. But that is a normal be

[2017-11-15 14:14] madonzy commented on #3596
@ParimalMakwana @twosg @gnusmus here is the PR that fixes this issue: https://github.com/magento/magento2/pull/12284

[2017-11-15 14:14] novakivskiy opened #12285 "The option <var name="allowfullscreen">false</var> for mobile device don't work in product view page gallery"
### Preconditions

1.  Magento 2.1.9

### Steps to reproduce

1. edit file `<theme>/etc/view.xml`
2.  add  `<var name="allowfullscreen">false</var>` to mobile breakpoints
Example:

[code]
3. clean cache and open source html
4. find plugin "mage/gallery/gallery" init  options  on html page.  The reason is in the type of the option "allowfullscreen" value, false as string, instead boolean.

`  "brea

[2017-11-15 14:36] magento-engcom-team commented on #12282
@Frankhendriks, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-15 14:36] #12282 closed, assigned to nobody

[2017-11-15 14:41] magento-engcom-team commented on #12282
@Frankhendriks, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-15 14:43] rikwillems commented on #10499
Setting the following seems to do the trick, on 2.1.9. A few lines up you can disable the creation of a billing agreement which seems to cancel the enabled setting below. Effectively I don't see any changes only now PayPayl is enabled again.

PayPal Billing Agreement Settings
Enabled - YES

[2017-11-15 14:44] Frankhendriks commented on #12282
any idea what could be causing the problem then?
I am having the same problem  in 2 seperate 2.1.18 installations

[2017-11-15 14:46] koopjesboom commented on #7579
This will happen when you have attributes that are migrated but some belong to an old extension.
Mine was the Pre-order extension.  After removing both Attributes from the old Pre-order extension the pages were loading fine.

Just enable error reporting in app/bootstrap.php error_reporting(E_ALL);
ini_set("display_errors", 1);

And look for old extension information in the error.
After that remove

[2017-11-15 14:55] leoncito73 commented on #12211
@orlangur Thanks for the help, need to understand something if I reinstall Magento (previously make a backup) and use this backup to recover my job (is a bit too much) this will rewrite the new database, do I will have the same error again? or my old DB will rewrite only the affected tables?
and one more question, is any chance to find only the tables missing for the shipping and add only this?

[2017-11-15 15:03] magento-engcom-team commented on #12282
@Frankhendriks, try to reproduce this issue on a clean installation or latest release.
Thank you

[2017-11-15 15:08] orlangur commented on #12211
Yeah, with restored database it will be the same.

Options possible:
1) Do a clean Magento installation into another database and then copy missing tables into your one
2) Find modules corresponding to missing tables (Magento_Shipping?), remove corresponding lines from `setup_module` and run `setup:upgrade` which will reinstall those modules

[2017-11-15 15:21] magento-engcom-team commented on #12259
Closed as duplicate of #11532.

[2017-11-15 15:21] #12259 closed, assigned to nobody

[2017-11-15 15:22] scrivvles commented on #11055
@gvigner  I don't think that will fix the issue, because certain SQL statements will not work (CREATE TEMPORARY TABLE for example) inside of a transaction.  As I understand it, your only option is use SQL statements that don't implicitly commit - see here https://dev.mysql.com/doc/refman/5.7/en/implicit-commit.html

That is part of the reason why this feels so important to have in the base Magento

[2017-11-15 15:27] igor-imaginemage commented on #8725
Hi @smdevdk, I had to develop my own fix to that, you can download and install in your store (https://github.com/Imagination-Media/configurable-rule-fix-m2.1).

[2017-11-15 15:30] magento-engcom-team commented on #12242
@berkanduzgun, thank you for your report.
We've created internal ticket(s) MAGETWO-83917 to track progress on the issue.

[2017-11-15 15:30] magento-engcom-team commented on #12248
@versdivers, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-15 15:30] #12248 closed, assigned to nobody

[2017-11-15 15:35] smdevdk commented on #8725
@igor-imaginemage thank you, will try it out!

[2017-11-15 15:46] JanisE commented on #4123
Is there an example anywhere of how to actually use ResourceModel?

[2017-11-15 15:49] leoncito73 commented on #12211
@orlangur Thanks again.. I'll try one of this option and I'll comment the result.

[2017-11-15 16:19] fernandofauth commented on #10485
Hi guys.
I updated the module to magento 2.2.1 and instructions.
https://github.com/fernandofauth/magento2_datetime

[2017-11-15 16:38] lancepioch commented on #6426
I recompiled the static content and this fixed the issue for me:

``php bin/magento setup:static-content:deploy```

[2017-11-15 17:49] navarr opened #12286 "JavaScript minification erroneously removes // from JavaScript strings"
When the minifier encounters a // in the middle of JavaScript, even when in a string, the minification will ignore it and everything afterwards.

### Preconditions
1.  Magento 2

### Steps to reproduce.
1. Apply [this patch](https://github.com/magento/magento2/commit/9363c066945a47b6d4e12c22b33bdc12a3e0356b.patch)
2. Run test Magento\Framework\View\Test\Unit\Template\Html\MinifierTest::testMinify

[2017-11-15 18:09] markalston commented on #5570
They closed the issue even though they haven't fixed it.  My fixes above work fine for me.  Hopefully they will reopen this.  If not, we will probably have to submit a new issue referencing this one.

[2017-11-15 18:09] antonkril commented on #4123
Here is the example for save: https://github.com/magento/magento2/blob/2.0.0/app/code/Magento/Catalog/Model/ProductRepository.php#L609

[2017-11-15 18:10] antonkril commented on #4123
@jreinke, the approach with persistence on models was implemented 10 years ago.

[2017-11-15 18:12] shadowcomm commented on #7058
Can you point me towards the actions taken to fix the issue? I cannot find "MAGETWO-59626" to find the solution. Thank you.

[2017-11-15 18:13] Olek89 commented on #10909
Yes thanx can be closed.

[2017-11-15 18:28] andkirby commented on #10226
Hi team,

Could you reopen this issue due to reason it really requires tiny fix?
I'll explain it.

My quick fix for this looks so:
[code]

So, I you can see it's converted into an array to make it work.

The method `\Magento\Store\Ui\Component\Listing\Column\Store::prepareItem` do the same, so it implies `$item['store_id']` can be string or integer:
[code]
In this the method has some contradiction

[2017-11-15 18:32] Kipperlenny commented on #8933
and with v.2.21

[2017-11-15 18:52] Joshua34 commented on #7038
Same issue with 2.2, migrated from 1.7 using DMT. Clearing cache, running cron jobs are ineffective.
Sorting orders by date is only way to reveal new orders.

[2017-11-15 19:00] KarlDeux commented on #9201
@vrann it would be nice to know the exactly data that you're expecting to have with this command.
ie: should information be at a store-view level if apply?

What are the fields that you would feel comfortable with?
Also, what env information?

@dreamworkers PR seems to be sitting for long now yet it feels like a good start to play with. IMHO not much relevant information there.

[2017-11-15 19:11] googlygoo opened #12287 "Overselling items in situations of high load and high concurrency on a singe item"
### Preconditions
1. Error presents itself across all OS, MySQL and PHP versions
2. This issue has been present since Magento 1.4.1.1 as the same logic still applies here though in a slightly different format.

### Steps to reproduce
1. Edit \Magento\CatalogInventory\Observer\ReindexQuoteInventoryObserver and add a sleep statement here to simulate possible slow payment gateway response. This is no

[2017-11-15 19:42] leoncito73 commented on #12211
@orlangur I did the procedure number one and I checked all, and I found this table sales_shipment but I have a prefix in all tables, could be this the problem? the module is looking for the table without prefix?
look my tables:
![captura de pantalla 2017-11-15 a las 21 33 03](https://user-images.githubusercontent.com/31698668/32856303-16be89d2-ca4d-11e7-948f-2006d396338e.png)
If you can see the pr

[2017-11-15 19:44] oleghind opened #12289 "Extremely slow catalog in admin area with 250+ attributes"
When you have 250+ attributes, columns settings code of Products -> Catalog becomes extremely slow

![screen shot 2017-11-15 at 2 33 46 pm](https://user-images.githubusercontent.com/3453172/32856332-8470d6a0-ca12-11e7-9acd-fc8a4df48cca.png)

[2017-11-15 19:45] okorshenko commented on #9277
Delivered to 2.2-develop branch.
The feature will be a part of 2.2.3

[2017-11-15 19:45] #9277 closed, assigned to osrecio

[2017-11-15 20:09] meezin opened #12290 "A display issue of a grouped product whose associated product are under various conditions compared to M1"
### Preconditions

1.  I migrated data from 1.9.1.0 to 2.1.9
2. There are multiple stores at Magento1
3.  I'm testing Magento2 right away before launching M2
4. I set display out of stock product as NO in admin page on M2.

### Steps to reproduce

1. For example, i have 3 multiple store called A,B,C on M2
2. Make a grouped product which has a associated products under various condition. (reference

[2017-11-15 20:42] maqlec commented on #12223
Ok, so It's not dependant on Use in Layered Navigation option.
My attribute is a dropdown with 3 value options. Filterable (with results or no results) causes the same behavior. There is one difference with no results is showed attribute with 0 count number.
Maybe in the picture it will be better shown
![test](https://user-images.githubusercontent.com/13941930/32859117-d229c01a-ca4d-11e7-9f05-1a97

[2017-11-15 20:42] mzenner1 commented on #7930
This is not fixed in either 2.1.9 or 2.2.x.  It appends categories indefinitely.  Even if you wipe out the category field in the csv and import, the previously tagged categories will still be there.  Using the "replace" method would be a very bad thing as it would be a brand new product and I'm guessing the customer reviews would not follow to the new product.

[2017-11-15 20:56] miro91 opened #12291 "Mini-cart not updated with FPC"
Hello
I am having issues with mini-cart content which shows wrong information when full page cache is enabled.

### Preconditions
1. Magento 2.2.0
2. PHP 7.0.21
3. Single store website
4. All Magento caches enabled (including Full Page Cache)
5. No other additional caches

### Steps to reproduce
1. Add product to cart and redirect to /checkout/cart/ page
2. Remove product from cart
3. Go to homepa

[2017-11-15 21:40] drew7721 commented on #10531
I really don't see why this issue was closed. As mentioned by @am2008 the price indexer takes FOREVER in 2.2.1. It's been running for over 24 hours and still going. (350K+ products)

[2017-11-15 21:41] arichbell commented on #9635
Just for posterity, I also ran into this issue and fixed it by giving read/write access (fixing permissions) of var/* and pub/*.

[2017-11-15 21:56] apsummers opened #12292 "Changing Region (state) in order address loses region"
Changing the region (state/province) of an address for an order causes the region to be removed. Surprisingly, the changed region appears to be correct if you return to the Order Address Information page, but it is not displayed on the Order page.

### Preconditions

1. Magento 2.1.10
2. PHP 7.0.15

### Steps to reproduce

1. Create an order
2. On the order's page in the Admin UI, click "Edit" nex

[2017-11-15 22:13] jdonovan-gaia opened #12293 "Unable to change Index mode for several indexes in Magento 2.1.9"
We are trying to change the index mode of several indexes to "Update by Schedule" but receive a a SQL privilege error.

### Preconditions

1. Magento 2.1.9
2. php 7.0.21
3. MySQL 5.6.35 (Amazon RDS instance)

### Steps to reproduce

1. Trying to change via the admin console System->Index Management results in this error: We couldn't change indexer(s)' mode because of an error.
2. From the command

[2017-11-15 22:15] vrann commented on #10531
reported that it is reproduced on 2.2.1

[2017-11-15 22:17] webscot opened #12294 "Bug: Adding Custom Attribute - The value of Admin scope can't be empty"
### Preconditions

1. v2.2.1
2. php7

### Steps to reproduce

1. Add customer Product Attribute
2. Choose Dropdown
3. Under Manage Attributes, click "Add Option" and then "Delete" empty boxes
4. Attempt to save. Error produced, "The value of Admin scope can't be empty."

### Expected result

1. Attribute should save rather than trying to collect data that can no longer be entered.

### Actual resu

[2017-11-15 22:23] ktindle opened #12295 "Admin catalog pages do not load"
### Preconditions

1. Magento CE 2.2.1
2. PHP 7.0.22  MySQL 5.7.20 Apache 2.4.18 (Ubuntu 16.04.3)

### Steps to reproduce

1. Install from repo.magento.com using Composer
2. Run web setup
3. Log in to the admin backend and click Catalog | Products

### Expected result

1. You should get the page telling you there are no records found

### Actual result

1. You get 'error processing your request'

[2017-11-15 22:38] jdonovan-gaia commented on #12293
Found the answer to my own question...it's an Amazon RDS issue.

https://aws.amazon.com/premiumsupport/knowledge-center/rds-mysql-functions/

[2017-11-15 22:38] #12293 closed, assigned to nobody

[2017-11-15 23:22] samuelecarpene commented on #6754
@hostep i updated version 2.19 to 2.1.10... The bug is still present. How to fix this bug in version 2.1?

[2017-11-16 00:12] iamkerly commented on #11654
Same here I have exactly the same problem any fixed of this?

[2017-11-16 01:04] diazwatson commented on #12097
Same issue here after upgrade to 2.2.1

[2017-11-16 04:20] robinj commented on #11810
@magento-engcom-team are you able to point out the commit? I am an EE user also experiencing this problem and would like to patch it

[2017-11-16 05:00] gilles6 opened #12297 "No search result when the SKU begins with Chinese character"
### Preconditions

1. Magento 2.2.1
2. PHP 7.1

### Steps to reproduce

1. Add a Chinese character at the begining of the SKU of a product, for instance "中MySKU" ;
2. In the search bar, try to find this product ;
3. The result is "product not found".

### Expected result

1. It should list the product.

### Actual result

1. The result is not listed

[2017-11-16 05:13] gvigner commented on #10641
If meta keywords should no be used for Magento catalog search, where should we set Magento catalog search keywords ?

[2017-11-16 05:59] ird2bcet4cse commented on #12260
Hey did you find i any solution i freshly installed Magento 2.2 but registration and login not working.

[2017-11-16 06:26] magento-engcom-team commented on #8112
@fgp305, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-16 06:26] #8112 closed, assigned to nobody

[2017-11-16 06:42] ghost opened #12298 "Config Parsing Fails - Brain Tree - invalid argument supplied for foreach()"
### Preconditions

1.  Mag 2.2.1
2. On System .*

### Steps to reproduce

1. Configure Braintree payment system
2. magento app:config:dump
3. change a configuration value in admin
4. magento setup:upgrade

### Expected result

1. config is parsed and loaded into magento

### Actual result

1. parse fails

[2017-11-16 06:58] magento-engcom-team commented on #12294
@webscot, thank you for your report.
We've created internal ticket(s) MAGETWO-83964 to track progress on the issue.

[2017-11-16 07:08] magento-engcom-team commented on #12290
Hi @meezin , thank you for your bug report.
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-16 07:08] #12290 closed, assigned to nobody

[2017-11-16 07:47] devamitbera commented on #7525
@magento-engcom-team , seem that issue still in magento 2.2 version.

**Is this issue resolved at  2.2 or not?**

Thanks

Amit Bera

[2017-11-16 07:52] magento-engcom-team commented on #12291
Hello @miro91. Thanks for reporting. Following the steps You have provided we can not reproduce Your issue. Could You please try to reproduce it on a clean fresh instance of Magento.

[2017-11-16 07:53] Khaleel commented on #7525
Still not working in EE 2.1.16

I suggest resorting to a JSON fix and manually updating. KnockoutJS and localstorage and known for being unreliable and notoriously slow.. so even adding this in translations json is not a guarantee it will appear

[2017-11-16 08:15] harshvardhanmalpani commented on #7298
@scher200 it is minor type at `getRerquestPath`

[2017-11-16 08:27] magento-engcom-team commented on #12251
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-11-16 08:30] magento-engcom-team commented on #12260
@sasilinux, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9, 2.1.10, 2.2.1

[2017-11-16 08:30] #12260 closed, assigned to nobody

[2017-11-16 08:30] magento-engcom-team commented on #11375
@pioneerathletics, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-16 08:30] #11375 closed, assigned to magento-engcom-team

[2017-11-16 08:30] magento-engcom-team commented on #10855
@Olek89, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-16 08:30] #10855 closed, assigned to magento-engcom-team

[2017-11-16 08:43] CYBKBL commented on #11885
In the agreement settings, i set the mode of the agreement to automatically. Then there is no checkbox at the checkout (just the text) and the payment works. Maybe this is a temporary solution until magento fixed this issue.

[2017-11-16 08:44] JanisE commented on #4123
Still, your example uses "load" which also is deprecated: https://github.com/magento/magento2/blob/2.2.0/app/code/Magento/Catalog/Model/ProductRepository.php#L271

[2017-11-16 08:46] JanisE commented on #4123
Thanks for the example! I was looking at the (hopefully simpler) newsletter and review module cases, but they used the deprecated approach.

Still, your example uses "load" which also is deprecated: https://github.com/magento/magento2/blob/2.2.0/app/code/Magento/Catalog/Model/ProductRepository.php#L271

[2017-11-16 09:00] magento-engcom-team commented on #12292
@apsummers, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-16 09:00] #12292 closed, assigned to nobody

[2017-11-16 09:03] josephmcdermott commented on #11885
@CYBKBL ah yes, good suggestion. I've applied the same for the time being and it works well. Just have to change the wording a little to 'By checking out I agree to...' Thanks.

[2017-11-16 09:19] sigismund commented on #11558
Is this supposed to be included in Magento 2.2.1?

[2017-11-16 09:30] magento-engcom-team commented on #11951
@georgios-2317, thank you for your report.
We've created internal ticket(s) MAGETWO-83973 to track progress on the issue.

[2017-11-16 09:30] magento-engcom-team commented on #11929
@craigcarnell, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-16 09:30] #11929 closed, assigned to nobody

[2017-11-16 09:31] stormbyte commented on #11055
@magento-engcom-team Please reopen the issue and
test the setup with the enforce_gtid_consistency.

[2017-11-16 09:34] magento-engcom-team commented on #12295
@ktindle, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10, 2.2.1

[2017-11-16 09:34] #12295 closed, assigned to nobody

[2017-11-16 09:34] oleksii-lisovyi commented on #12177
@magento-engcom-team, looks like there is the same bug described [#8842](https://github.com/magento/magento2/issues/8842) and it can be reproduced there.

[2017-11-16 09:40] NagamaniNaresh commented on #11116
@msawyers

Can you please let me know how you fixed below issue,

[code]

[2017-11-16 09:48] jakwinkler opened #12299 "SOAP Services do not work as expected."
### Preconditions
Magento 2.1.7, php 7.0.22, MySQL 5.7
1. I've created code in order to fetch order information using SOAP Services. It is required by the customer to use SOAP services and REST is not allowed in this task.
2. Sample code (apiUser and ApiKey are defined):
[code]
### Steps to reproduce
1. Just run the code

### Expected result
1. Get list of all functions in salesOrderManagementV1.

[2017-11-16 09:49] JoergLindner commented on #12255
Hi,

yes it can be set to solved, but still would be good ta make any notes
for future customers with plesk setup

Regards

Jörg Lindner
Ringstrasse 38
83224 Grassau
Telefon: 08641 6969905
Telefax: 08641 6969906

Am 15.11.2017 um 13:35 schrieb Ievgen Shakhsuvarov:

[2017-11-16 09:58] vkublytskyi commented on #11558
@sigismund this fix will be released with Magento 2.2.2

[2017-11-16 10:08] #12255 closed, assigned to nobody

[2017-11-16 10:13] klarre1 commented on #11055
I got this answer from Magento Support regarding same issue on the EE version (New installation of Magento EE 2.2).

"After researching this closer I found that we do not support GTID and have seen a couple of problems including this one. It looks like my colleague opened a feature enhancement to get this looked at at some point. I recommend you refer to the release notes when we release new versi

[2017-11-16 10:14] ShaileshChauhan92 opened #12300 "SKU values are not trimmed with the space."
### Preconditions

1.  SKU accepts the value with space at end at starting of the value. They are not validated while importing products by CSV.

### Steps to reproduce

1.
2.
3.

### Expected result

1. SKU should be trimmed while importing into the database.

### Actual result

1. [Screenshot, logs]
Two duplicates SKU are created with same name.

[2017-11-16 10:16] vanchi-nathan opened #12301 "Magento 2 When we are try to update the custom attribute for the product then the default store price updated to other store"
When we are try to update the custom attribute for the product then the default store price updated to other stores for the same products.
We are working with pro-grammatically bulk product uploads. We are processing the data from CSV file. here we are working with single web site and multiple store view. eg: IND, USD.... etc. Our csv file keeps different price for different store view and this is

[2017-11-16 10:20] gvigner commented on #11055
@scrivvles Thanks for the reply but I have no idea how to implement "SQL statements that don't implicitly commit", the only option I see for me with Aliyun RDS for the moment is to downgrade to MySQL 5.5.

[2017-11-16 10:22] klarre1 commented on #11055
@pareshpa According to @magento-engcom-team you could reopen this issue.
You could refer to all mentioned above I guess.

[2017-11-16 10:30] magento-engcom-team commented on #4551
@luukScheur, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 10:30] #4551 closed, assigned to nobody

[2017-11-16 11:18] magento-engcom-team commented on #12189
@LeLieu Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-11-16 11:21] magento-engcom-team commented on #7084
@fvschie , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-16 11:21] #7084 closed, assigned to nobody

[2017-11-16 11:24] peterjaap commented on #12104
@pascaladriaansen found a similar issue and found the culprit to be a Mirasvit extension, see here; https://github.com/magento/magento2/issues/5836#issuecomment-313318480

[2017-11-16 11:26] peterjaap commented on #12104
See also https://github.com/magento/magento2/issues/10204

[2017-11-16 11:26] #12104 closed, assigned to nobody

[2017-11-16 11:30] magento-engcom-team commented on #5161
@Onkovat, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 11:30] #5161 closed, assigned to nobody

[2017-11-16 11:31] henk-hypershop opened #12305 "Cannot add custom block in sales order email template through XML"
### Preconditions

1. Magento 2.2.1
2. NGINX

### Steps to reproduce

1. Add layout update to sales_email_order_renderers.xml in refereneBlock 'sales.email.order.renderers in custom theme.
2. Resend order e-mail

### Expected result

1. Custom block will show below order items in e-mail template

### Actual result

1. Block will not show up.

Added the following in app/design/Vendor/Theme/Magento_

[2017-11-16 12:09] magento-engcom-team commented on #12223
@maqlec, thank you for your report.
We've created internal ticket(s) MAGETWO-83983 to track progress on the issue.

[2017-11-16 12:21] Rann1 commented on #6867
This issue still exists in 2.1.10, unfortunatly we cannot update to 2.2 :-(

[2017-11-16 12:29] gilles6 opened #12306 "Meta tags not being updated"
### Preconditions

1. Magento 2.2.1
2. PHP 7.1
3. MySQL 5.7

### Steps to reproduce

1. Edit any product ;
2. Change the **Meta Keywords** in **Search Engine Optimization** and Save ;
4. Open the product page in a browser ;
5. Check if the meta tag keyword has changed in the header (with Developer Tools).

### Expected result

1. The meta tag should be updated.

### Actual result

1. The meta tag

[2017-11-16 12:30] magento-engcom-team commented on #11326
@angelo983, thank you for your report.
We've created internal ticket(s) MAGETWO-83982 to track progress on the issue.

[2017-11-16 12:30] magento-engcom-team commented on #12174
@rigu12, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.1

[2017-11-16 12:30] #12174 closed, assigned to nobody

[2017-11-16 12:30] magento-engcom-team commented on #7595
@rbostan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 12:30] #7595 closed, assigned to nobody

[2017-11-16 12:42] franckgarnier21 commented on #6415
@magento-engcom-team Can I have the commit reference of this fix ?

[2017-11-16 13:07] jagriti1234 commented on #12249
I have implemented in my local system and its working properly after disabling cache and remove folders under var/cache, var/page_cache, var/view_preprocessed. It will working fine.Please implemented this and let me know.
Thank You

[2017-11-16 13:30] magento-engcom-team commented on #11726
@miguelbalparda, thank you for your report.
We've created internal ticket(s) MAGETWO-83987 to track progress on the issue.

[2017-11-16 13:30] magento-engcom-team commented on #6056
@pyostrike, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 13:30] #6056 closed, assigned to misha-kotov

[2017-11-16 13:30] magento-engcom-team commented on #12268
@roma84, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 13:31] allamsettiramesh commented on #12249
Hi,

I tried with gethtml() method with below script

   `<?php

namespace Company\Cms\Block\Html;

  class Topmenu extends \Magento\Theme\Block\Html\Topmenu{

      public function getHtml($outermostClass = '', $childrenWrapClass = '', $limit = 0)
      {
          echo "exit"; exit;
          $this->_eventManager->dispatch(
              'page_block_html_topmenu_gethtml_before',
              ['

[2017-11-16 13:40] magento-engcom-team commented on #12297
@gvigner, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 13:40] #12297 closed, assigned to nobody

[2017-11-16 14:00] magento-engcom-team commented on #12306
@gvigner, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 14:00] #12306 closed, assigned to nobody

[2017-11-16 14:01] magento-engcom-team commented on #11948
Hi @rigu12
If your server I/O Usage is very high, you can change Index mode to "Update by schedule".

[2017-11-16 14:05] qrider commented on #6018
We are experiencing very similar issues on our site for the products that have youtube videos. I am using a Macbook air and seeing extremely long load times.

[2017-11-16 14:06] magento-engcom-team commented on #12285
@novakivskiy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-11-16 14:30] magento-engcom-team commented on #11948
@rigu12, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-16 14:30] magento-engcom-team commented on #2732
@ci2014, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 14:30] #2732 closed, assigned to nobody

[2017-11-16 14:31] Kumail1 opened #12307 "Configuring Magento Content has 0 record Show"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-11-16 14:32] magento-engcom-team commented on #12225
@erjenrijnders, thank you for your report.
We've created internal ticket(s) MAGETWO-83996 to track progress on the issue.

[2017-11-16 14:36] magento-engcom-team commented on #12307
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-11-16 14:36] kovalevandrew commented on #5445
Solution suggested by @zexperto dont work for me, magento version 2.2

[2017-11-16 14:48] ghost opened #12309 "Admin returns 404 after updating to Magento 2.1.7"
Admin returns 404 after updating to Magento 2.1.7 but frontend is working fine.

Restored .htaccess, but didn't help.

Apache rewrite is also on.

[2017-11-16 14:57] magento-engcom-team commented on #12252
Hello @Totalkarnataka, thank You for your report.
Please describe us in details this step :

[2017-11-16 15:00] Koc commented on #9570
does it really done?

[2017-11-16 15:02] kanduvisla commented on #4409
This is because of a strange issue in the translation. In the PDF they don't use the string `Order #`, but `Order # ` (note the extra space at the end). The same goes for `Invoice # ` and `Shipment # `.

[2017-11-16 15:03] adamlavery commented on #12252
Go to Stores > Customer Groups and create two groups e.g. "UK_Group1" & "US_Group1". Then at 7, assign the UK customer to UK_Group1 and US customer to US_Group1.

[2017-11-16 15:04] ishakhsuvarov commented on #9757
Hi @prdptom
Please report migration-related issues to the appropriate repository: https://github.com/magento/data-migration-tool

Thank you!

[2017-11-16 15:04] #9757 closed, assigned to nobody

[2017-11-16 15:04] kanduvisla commented on #4409
@BlitzInternet : are there any known side-effects of this workaround? It seems like something is manipulated on a global scale now to address a very specific issue.

[2017-11-16 15:30] magento-engcom-team commented on #12217
@Igloczek, thank you for your report.
We've created internal ticket(s) MAGETWO-83997 to track progress on the issue.

[2017-11-16 15:30] magento-engcom-team commented on #8370
@WaPoNe, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-16 15:30] #8370 closed, assigned to nobody

[2017-11-16 15:30] magento-engcom-team commented on #12300
@ShaileshChauhan92, thank you for your report.
We've created internal ticket(s) MAGETWO-84007 to track progress on the issue.

[2017-11-16 15:42] rajpal-majoka commented on #8542
apache resart fixes it.

[2017-11-16 16:07] vijaymagento1 opened #12311 "Authorize.net issues on magento 2.2.0 version main.CRITICAL: Gateway error: This transaction has been declined. {"exception":"[object] (Magento\\Framework\\Exception\\LocalizedException(code: 0): Gateway error: This transaction has been declined. at /vendor/magento/module-authorizenet/Model/Directpost.php:635)"} []"
When we place the order in magento 2.2.1 version by using the authorize.net payment live credentials then it give the error message "An error occurred on the server, Please try to place order again."
And internally placed the order and i can see in the admin as well as in authorize.net

**Following errors on the exception log**

main.CRITICAL: Gateway error: This transaction has been declined. {"e

[2017-11-16 16:40] andkirby commented on #10226
Had I to add something?..

[2017-11-16 16:59] mbrzuzy commented on #7488
Also running into this problem. Need to add the product in two separate requests. Above solutions did not fix it.

[2017-11-16 17:22] lano-vargas commented on #7765
This is still an issue on 2.1.7 is there any temporary fix for this ?

[2017-11-16 17:23] sbwcws commented on #11185
I am having the same issue is there any fixed even your duplicate #10821 doesn't have any . It says include_path = "." but that doesnt fix it either..

[2017-11-16 17:46] atsareva opened #12312 "Custom ajax calls reset customer data on checkout (Magento 2.2.x)"
Hi guys!

Recently I've updated a magento project with 2.2 version and noticed the next issue. If you add some products to cart and go to checkout page,fill shipping address, go to the next step and then reload a page, customer data is disappeared. So customer can't place order because he doesn't have an address but he also doesn't see any errors.

Further investigations show that this issue happe

[2017-11-16 17:54] josh-nh commented on #12312
I wonder if this issue is in anyway related to this one: https://github.com/magento/magento2/issues/11314?

The steps to recreate are similar. @atsareva - just out of curiosity are you using Varnish?

[2017-11-16 19:06] leoquijano commented on #11280
I'm having the same issue in 2.2.1.

Could this be related to issues with the cron? In my case, the website missed a few cron runs and now I see "Too late for the schedule" repeatedly in ```cron_schedule```. The cron is fixed but now there should be a way of processing these pending items.

[2017-11-16 19:23] JakeOB25 opened #12313 "salesShipOrderV1 - Ship Date element?"
Hello. I am using the salesShipOrderV1 method to post shipping information to Magento2 from our fulfillment software.  I'm able to successfully create the shipment (along with carrier information and tracking numbers), however I can't find a way to indicate a shipment DATE in the post.  When the post is made, it uses the current date/time as the shipment date, which will not work in this situation

[2017-11-16 19:52] tomasinchoo commented on #10531
I am running M 2.2.1.
PHP 7.1.9 /MariaDB 10.1.26
Migrated succesfuly from 1.14.2.1 EE.
Price indexer is running more than 27 hours right now.
136775 products and 7 websites.

i7-7700HQ / 16GB RAM /m.2 SSD

It used to run 58 minutes top on 2.1.9

I don't know what to say :(

[2017-11-16 20:28] magento-engcom-team commented on #11956
@dasy1234, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-16 20:28] #11956 closed, assigned to nobody

[2017-11-16 20:29] magento-engcom-team commented on #11921
@agenceoneo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-16 20:29] #11921 closed, assigned to nobody