[2021-03-17 15:33] dverkade commented on #27112
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:33] dverkade commented on #27661
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:33] dverkade commented on #30246
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:33] dverkade commented on #31271
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:33] Joker2099 commented on #6146
@dverkade agreed

[2021-03-17 15:34] dverkade commented on #31494
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:34] dverkade commented on #31414
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:34] dverkade commented on #31389
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:34] dverkade commented on #31301
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:34] dverkade commented on #31319
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:34] dverkade commented on #31475
Ready for grooming issues can't be closed automatically.

[2021-03-17 15:35] dverkade commented on #31382
Ready for confirmation issues can't be closed automatically.

[2021-03-17 15:35] dverkade commented on #31333
Confirmed issues can't be closed automatically.

[2021-03-17 16:02] schmengler commented on #6146
Looking forward to celebrate the five year anniversary of an issue that should have been a simple fix for an essential core feature because what? We're still waiting until migration from legacy ZF1 to legacy ZF2 is done?

Oh boy....

[2021-03-17 16:46] kassner commented on #28100
@dverkade see https://github.com/magento/magento2/pull/31223#issuecomment-742112083

[2021-03-17 16:56] BB-000 commented on #19658
U.G.L.Y

[2021-03-17 17:19] Gael101 commented on #31286
I'm having the same issue with magento 2.4.2, on a fresh install. The issue disappears in following situations :

- If I run the setup:install command with --cleanup-database **twice**  (first time it fails, then it's working)
- if I delete the custom modules under app/code and run the install command
- if I run the command against a full db.
here's my install command :

$WEB_DIR/bin/magento setup

[2021-03-17 17:24] adamlavery opened #32533 "Catalogue search re-indexes on every search"
### Preconditions (*)
1. OS2.4.2 (upgrade from 2.3.3 and previous)
2. ElasticSearch 7.11.1

### Steps to reproduce (*)
1. Configure ElasticSearch 7
2. Re-index everything (catalog search takes ~5 mins)
3. Run a search on the frontend

### Expected result (*)
1. Should get search results

### Actual result (*)
1. Site takes ~5 mis to respond with the same page as searched from - no results
2. MySQL

[2021-03-17 17:38] adamlavery commented on #32533
As expected, issue not reproducible on a vanilla install. Would be a very sorry state of affairs for Magento if it was.

[2021-03-17 18:04] adamlavery commented on #32533
Just fyi, we are using Amasty Advanced Search. Disabled that - no change.
We use BSS Reindex to allow re-index from the panel - disabled that and no change.

[2021-03-17 18:09] Gael101 commented on #31286
Found a way to make it work after all :
disable custom modules at install time, then re-enable them , and finally update db schema and data :
[code]

[2021-03-17 18:10] Gael101 commented on #31286
I've found a way to make it work :
- disable custom modules during install with --disable-modules
- re enable modules afterwards
- update db schema and data
[code]
(2factor auth is kept disabled for local developements purposes)

[2021-03-17 18:20] gewaechshaus commented on #6146
Der war gut @schmengler, endlich mal einer der es offen anspricht.

[2021-03-17 18:33] MohamedLbn commented on #30094
Solution :  (tested in Magento 2.4.2)
Replace $rate->getId() with $rate['code']
Path :vendor/magento/module-sales/view/adminhtml/templates/order/totals/tax.phtml Line 61

[2021-03-17 18:43] BooyaDirect commented on #28614
We are running Magento 2.4.1 and we have the option for ReCaptcha on the PayFlow pro checkout page. We use that as well as the Magento Captcha on the Checkout/Placing Order page.
https://docs.magento.com/user-guide/stores/security-captcha.html
https://docs.magento.com/user-guide/stores/security-google-recaptcha.html

[2021-03-17 18:44] BooyaDirect commented on #28614
Additionally we blocked all continents other than North America in Cloudflare. That knocked out most of the problem. Drastic, but we had no choice. PayPal disabled our account after getting hit constantly at: /paypal/transparent/requestSecureToken

[2021-03-17 18:50] rodrigowebjump commented on #32466
@magento give me 2.4-develop instance

[2021-03-17 20:01] ebofi opened #32535 "Fatal error: Declaration of Laminas\ServiceManager\ServiceLocatorInterface::get($name) must be compatible with Psr\Container\ContainerInterface::get(string $id) in /home/bbb/public_html/vendor/laminas/laminas-servicemanager/src/ServiceLocatorInterface.php on line 1"
Hi.

When i update the magneto code, it shows to run composer install to fix the code version and db same, but after install, this error is showing in frontends.

Magento Version 2.3.5-p2

Expected :
Site Loads fine

Issue,

The below message is shown on front end
Fatal error: Declaration of Laminas\ServiceManager\ServiceLocatorInterface::get($name) must be compatible with Psr\Container\ContainerI

[2021-03-17 20:02] smartsanjay opened #32536 "Magento 2.3.5p1 issue with Fedex Shipping Getting Incorrect Rates"
### Preconditions (*)

1.2.3.5-P1
2.Fedex Shipping Rates in magento are different from Fedex live estimate.Also Fedex support is saying to upgrade Fedex version 28 as currently using version 10 which is quite older.

### Steps to reproduce (*)

1.IN one page checkout Want to ship product from China to US and the Fedex rates are different from LIve estimate
2.

### Expected result (*)

1. [Screensh

[2021-03-17 21:10] hws47a commented on #32443
@magento I am working on this

[2021-03-17 23:04] enyceedanny commented on #26896
Same here. Showing 0 left for configurable products.

[2021-03-18 00:38] AlexanderHuyghebaert commented on #31117
Any update on a cherry-pick of a temp fix untill update is out?

[2021-03-18 03:34] krishprakash commented on #32530
@magento give me 2.4-develop instance

[2021-03-18 03:49] krishprakash commented on #32530
Hi @kennysinkeler. Here it works fine in latest Magento instance so kindly share the additional details like browser,

[2021-03-18 04:12] kubertechnolabs commented on #26919
@ajijshekh123 Its updated on Admin panel but on on **salesrule_coupon** this table. When we save the rule after update the expiration date it will date only in **salesrule**

[2021-03-18 04:26] JithinJay commented on #29884
Hi

WE have faced the same issue in Magento 2.4.2 EE, we are upgrading from 2.3.1,  any patches for 2.4.2 EE available?

Thanks  :+1:

[2021-03-18 04:55] akhilcommerce9 commented on #27223
This same issue reported in magento 2.4.2. Anyone have resolve this issue?

[2021-03-18 05:25] nhatlich994 opened #32538 "Magento 242 system config not work correctly"
Please correct me if i am wrong.

### Preconditions (*)
1. Magento v2.4.2

### Steps to reproduce (*)
1. I have created a config following code:

[code]

2. As you see, **Enable** config is only in default, **Country** config is in website and store.
3. I wish country depend on **Enable** config, that means, if **Enable** = yes then show **Country** config. But it did not
4. I set **Enable** = Yes

[2021-03-18 08:16] bjornmeat opened #32540 "API - No error when updating stock when auto increment is exceeded in inventory_source_item"
### Preconditions (*)

1. Magento 2.4.1
2. Magento Rest API

### Steps to reproduce (*)

1. Table inventory_source_item table with source_item_id larger than 4294967295
2. Post source item update to rest/V1/inventory/source-items
3. Response will be 200 ok

### Expected result (*)

1. Response from API should be error updating, since data is not stored
2.

### Actual result (*)

1. Response from A

[2021-03-18 08:26] adamlavery commented on #32533
Issue located in a 3rd party extension that should be having no impact on search. This has now been raised with them.

Closing.

[2021-03-18 08:26] #32533 closed, assigned to nobody

[2021-03-18 08:39] martinshawruroc opened #32541 "Collecting totals can remove reward points from quote grand total"
### Preconditions (*)

1. Magento EE 2.4.1
2. Installed a simple module I've written to demonstrate the issue (attached)

### Steps to reproduce (*)

1. Create a customer account on your store frontend. Make sure your customer has a shipping address configured.
2. Navigate to your admin panel
3. Navigate to Stores > Configuration > Customer > Reward Points.
4. Enable Reward Points Functionality ->

[2021-03-18 08:47] ghost opened #32542 "Integrations can not be activated through backend"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Have an integration that is deactivated
2. Go to system->integrations (admin/integration/index/)
3. Press "activate" on an existing deactivated integration

### Expected result (*)

I would expect that this would activate the integration.

### Actual result (*)

This does not activate the integration. It creates a GET request

[2021-03-18 09:11] Krielkip commented on #6146
And yet the MR is open for this to be fix before the migration 😄

[2021-03-18 09:13] #32310 closed, assigned to nobody

[2021-03-18 09:14] magento-engcom-team commented on #32310
Hi @victortodoran, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41152` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks

[2021-03-18 09:37] paales opened #32543 "GraphQL: Automatic persisted queries"
*As a Developer I want to be able to use Automatic Persisted Queries so that I can enjoy Varnish caching without being limited by url length complexity*

https://www.apollographql.com/docs/apollo-server/performance/apq/

At the moment we're running into issues that we can't `useGETForQueries` because the URL length becomes longer than servers can handle properly. Hosting and all proxies, chrome et

[2021-03-18 10:10] kennysinkeler commented on #32530
hi @krishprakash,
I am using chrome 89.0.4389.90 but i have this problem with multiple browsers.

This is the dev config
![image](https://user-images.githubusercontent.com/10799266/111609280-6ca05800-87da-11eb-96a9-ac967e36136d.png)

[2021-03-18 10:24] elaidomino opened #32544 "Magento 2.3: "Use Default Value" gets unchecked for Multiple Attributes when updating with an API"
### Preconditions (*)

1. Magento 2.3
2. Multiple Store Views.

### Steps to reproduce (*)

1. Bulk Insert new products on Magento 2 backend and all affected product attributes are checked by default
2. To connect the Sales to our Warehouse Management System, we need to create the same items to Dearsystems and BULK List the items to create a connection. But, we are using Magento 2 as master source

[2021-03-18 10:29] shubhamdhungana opened #32545 "Bug Report | Disclosure of authentication cookie"
There was disclosure of cookie in one of your client ecommerce site named sastodeal. I don't know if this is the core issue of magento.  Here's the issue :
## Vulnerability Bug Impact:
Because of this bug, hacker can see the  session id of the user. Session id is the very sensitive piece of data.
Hacker (Man in the middle) can get access to any sastodeal user account. The good hacker can easily ge

[2021-03-18 11:04] ihor-sviziev commented on #32545
Hi @shubhamdhungana,
I'm closing this issue. For the details please DM me in EngCom Slack

[2021-03-18 11:04] #32545 closed

[2021-03-18 11:08] vishwanathkharabe commented on #30758
Hi
I am also facing this issue on Magento 2.4.0-p1.
Getting error on login "No Such Entity with cartId = null"

[2021-03-18 11:53] sergey-fedosimov opened #32546 "Aspect ratio calculation issue."
### Preconditions (*)

1.  Magento 2.3.6-2.4.2

### Steps to reproduce (*)

1. Go to admin panel
2. Open WYSIWYG gallery from any place (cms page/cms block/...)
3. Upload an image with a ratio 1500x6
4. Look at the generated thumbnail in the gallery

### Expected result (*)
1. Thumbnail is generated and is shown in gallery correctly
2.

### Actual result (*)
1. Thumbnail is broken
![image](https:/

[2021-03-18 12:08] mrtuvn commented on #32546
i can't reproduce issue in 2.4-develop branch. Image uploaded without break image

[2021-03-18 12:15] magento-engcom-team commented on #32542
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41427` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-18 12:25] engcom-Oscar commented on #32546
Hi @sergey-fedosimov  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.

### Steps to reproduce (*)
1. Go to admin panel
2. Open WYSIWYG gallery from any place (cms page/cms block/...)
3. Upload an image with a ratio 1500x6
4. Look at the generated thumbnail in the gallery

**Actual Result:** :heavy_check_

[2021-03-18 12:25] #32546 closed, assigned to engcom-Oscar

[2021-03-18 12:50] gabrieldagama commented on #26377
Hi @diazwatson. Thank you for your report.
The issue has been fixed in magento/magento2#32462 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [bc5f97e65aadf8c8e5ee216100805874826198ca](https://github.com/magento/magento2/commit/bc5f97e65aadf8c8e5ee216100805874826198ca)
 - [41b935d9645f7108232cef2f39a521cd22d18623](https://github.com/magento/magento2/commit/41b935d9645f7108232cef2f39a5

[2021-03-18 12:50] #26377 closed, assigned to ihor-sviziev

[2021-03-18 12:50] gabrieldagama commented on #32440
Hi @sivamind. Thank you for your report.
The issue has been fixed in magento/magento2#32462 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [bc5f97e65aadf8c8e5ee216100805874826198ca](https://github.com/magento/magento2/commit/bc5f97e65aadf8c8e5ee216100805874826198ca)
 - [41b935d9645f7108232cef2f39a521cd22d18623](https://github.com/magento/magento2/commit/41b935d9645f7108232cef2f39a521

[2021-03-18 12:50] #32440 closed, assigned to ihor-sviziev

[2021-03-18 12:50] gabrieldagama commented on #31633
Hi @thomas-kl1. Thank you for your report.
The issue has been fixed in magento/magento2#32398 by @gixid192 in 2.4-develop branch
Related commit(s):
 - [1be4239ba7f5fd512e6a51f386404883022ad513](https://github.com/magento/magento2/commit/1be4239ba7f5fd512e6a51f386404883022ad513)
 - [e40e45796a54e04ccf381d72a4d255bed98887e4](https://github.com/magento/magento2/commit/e40e45796a54e04ccf381d72a4d255be

[2021-03-18 12:50] #31633 closed, assigned to nobody

[2021-03-18 12:50] gabrieldagama commented on #30257
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#32393 by @gixid192 in 2.4-develop branch
Related commit(s):
 - [1be4239ba7f5fd512e6a51f386404883022ad513](https://github.com/magento/magento2/commit/1be4239ba7f5fd512e6a51f386404883022ad513)
 - [e40e45796a54e04ccf381d72a4d255bed98887e4](https://github.com/magento/magento2/commit/e40e45796a54e04ccf381d7

[2021-03-18 12:50] #30257 closed, assigned to nobody

[2021-03-18 12:52] sivamind commented on #26377
I think there should be a patch for this. due to this we are not able to add to cart or wishlist ,also not able to go to checkout.

[2021-03-18 13:02] chickenland commented on #32544
Might help to provide some example API calls and some specific product attributes that are affected

[2021-03-18 13:12] ebofi commented on #32535
Solution : The issue was related to PHP Version., We were using PHP 7.2 and this error comes up, So we had to upgrade the PHP to 7.3 to solve this error.

Thanks

[2021-03-18 13:12] #32535 closed, assigned to nobody

[2021-03-18 13:18] ebofi opened #32547 "Some images uploaded on product catalog via admin shows 0 byte after saving"
### Preconditions (*)

1. Magento 2.3.5 - p2

Issue :  When we upload images from the Admin to Products, we see it uploaded but after saving it . We saw that that images shows default magento product image and the size of the image becomes 0 byte.

Logs 👍

We see this on log

[2021-03-18 12:20:03] main.WARNING: Cannot gather stats! Warning!stat(): stat failed for /home/elsdfsdf/public_html/pub/med

[2021-03-18 13:22] magento-engcom-team commented on #23540
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41429` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-18 13:24] GuillaumeBrook commented on #27256
For other persons finding this issue even if its closed...

Actually store.resolve is the first `$resource->getConnection()` ever made by Magento.
It means that the connection to your DB takes time for some reason.

[2021-03-18 13:36] zakdma commented on #26374
Closed as not a bug

[2021-03-18 13:36] #26374 closed, assigned to engcom-Golf

[2021-03-18 13:45] pemann commented on #32440
So it will be 5 months and we'll get our shops to work!
Any chance to get this fix on M2.4.2-p1?

[2021-03-18 13:46] Naberdz commented on #7647
2.4.2 same issue.

[2021-03-18 13:46] pemann commented on #26377
Can you include this fix in 2.4.2-p1?

[2021-03-18 13:56] danslo commented on #30668
Can confirm this bug, although in a slightly different variation.

Please see https://github.com/magento/magento2/pull/28209/files

The patch in above PR also fixes this issue.

[2021-03-18 14:08] drc0 commented on #30668
I would rather not set a default value for children, I think that is expected to be not set if empty, but probably is is a nuisance specific to my codebase that uses scandipwa on frontend

[2021-03-18 14:16] stephansteiner opened #32548 "Checkout with PayPal - Buttons not being rendered anymore"
Since March 16th, "Checkout with PayPal" Buttons are not being rendered anymore.
The URL for dynamic images from paypal doesn't seem to work anymore.

### Preconditions (*)
1. Install a Magento 2.4.2 Shop with sample sample products
2. Have a PayPal Account to set the shop up with

### Steps to reproduce (*)
1. in Sales > Payment Method go to PayPal and set "Enable this Solution" to "Yes"
2. Confi

[2021-03-18 14:46] stephansteiner commented on #32548
@magento give me 2.4-develop instance

[2021-03-18 14:46] danslo commented on #30668
I can see an argument for both `null` as well as an empty array. I'll leave it up to core devs capable hands :)

[2021-03-18 15:01] stephansteiner commented on #32548
I could not reproduce the issue, the Magento instance provided renders a different button code.
`<input type="image" data-action="checkout-form-submit" data-checkout-url="https://05a5d3499b4d527537d8f55e02bd75aa-2-4-develop.instances.magento-community.engineering/paypal/express/start/button/1/" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" alt="Checkout wit

[2021-03-18 15:08] stephansteiner commented on #32548
Ok, issue could have been reproduced, but is dependent of the locale setting of the webshop.
See here for broken Image of checkout with paypal button:
https://05a5d3499b4d527537d8f55e02bd75aa-2-4-develop.instances.magento-community.engineering/argus-all-weather-tank.html

The issue is in the function _getDynamicImageUrl in class \Magento\Paypal\Model\Config:
for locales different from en_US the im

[2021-03-18 15:50] fietserwin commented on #1383
@shivanigv: I guess you should have opened a new issue. But as other people might also arrive here when searching on the error message: I was able to solve it by changing lines 114 and 115 to:
[code]
i.e. removing the quotes around 0 and 1. (on Magento 2.4.2 on Windows with intl ICU version 66.1).

[2021-03-18 16:42] poebel commented on #29884
Hi @JithinJay,

seems like you need to set the 2FA permission for each role for it to work in 2.4.2.

Keep in mind that there are two "Two Factor Auth" permission entries, one for the configuration (`Stores -> Settings -> Configuration -> Two Factor Auth`) which is NOT required and one for access to the 2FA pages themself (`System -> Permissions -> Two Factor Auth`) which seems to be requried.

Wh

[2021-03-18 16:58] gabrieldagama commented on #29922
https://github.com/magento/magento2/pull/29935#issuecomment-802110459

[2021-03-18 16:58] #29922 closed, assigned to nobody

[2021-03-18 17:04] victortodoran opened #32549 "Url rewrites are not generated when products are assigned to new website via mass action."
### Preconditions (*)

1. Latest Magento install.

### Steps to reproduce (*)

1. Configure a multi-website environment.
2. Move product to website using mass action.

### Expected result (*)

1. Url rewrites are generated as expected/configured
### Actual result (*)

1. Url rewrites are not generated for the newly moved product.
2. NOTE: Url rewrites are generated as expected when product is move

[2021-03-18 17:16] gabrieldagama commented on #32116
Hi @victortodoran. Thank you for your report.
The issue has been fixed in magento/magento2#32186 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [35468fcf492f78ce46a31b92be4fb5cd2f0ae9d5](https://github.com/magento/magento2/commit/35468fcf492f78ce46a31b92be4fb5cd2f0ae9d5)
 - [23bfcdd84291ed84ebb6c06d820a92cd57116039](https://github.com/magento/magento2/commit/23bfcdd84291ed84ebb6c06

[2021-03-18 17:16] #32116 closed, assigned to engcom-Charlie

[2021-03-18 17:16] gabrieldagama commented on #17727
Hi @likemusic. Thank you for your report.
The issue has been fixed in magento/magento2#32273 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [b2c47af0897c8253149462f2f1f9e1937be4c6ac](https://github.com/magento/magento2/commit/b2c47af0897c8253149462f2f1f9e1937be4c6ac)
 - [b40d857ba375a657406cd66e2920f1831c36b4f1](https://github.com/magento/magento2/commit/b40d857ba375a657406cd66e292

[2021-03-18 17:16] #17727 closed, assigned to engcom-Charlie

[2021-03-18 17:16] gabrieldagama commented on #30577
Hi @kassner. Thank you for your report.
The issue has been fixed in magento/magento2#30755 by @bogutskyy in 2.4-develop branch
Related commit(s):
 - [e8507dbb9ee99d419ff46e8fff99ab27bec9af2b](https://github.com/magento/magento2/commit/e8507dbb9ee99d419ff46e8fff99ab27bec9af2b)
 - [228cb684d982af6970c2248902a6a4c466eb01c7](https://github.com/magento/magento2/commit/228cb684d982af6970c2248902a6a4c466

[2021-03-18 17:16] #30577 closed, assigned to bogutskyy

[2021-03-18 17:16] gabrieldagama commented on #31962
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31961 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [020bc364a218534622e7ea7740ad009f9d36ef69](https://github.com/magento/magento2/commit/020bc364a218534622e7ea7740ad009f9d36ef69)
 - [94378437aef01182e85d573c6dea1acaba82fdbb](https://github.com/magento/magento2/commit/94378437aef01182e85d573c6

[2021-03-18 17:16] #31962 closed, assigned to sergiy-v

[2021-03-18 17:16] gabrieldagama commented on #30756
Hi @narendrarwt. Thank you for your report.
The issue has been fixed in magento/magento2#32212 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [861594147d30ee8763013fdffb68791067f2a139](https://github.com/magento/magento2/commit/861594147d30ee8763013fdffb68791067f2a139)

The fix will be available with the upcoming 2.4.3 release.

[2021-03-18 17:16] #30756 closed, assigned to engcom-Charlie

[2021-03-18 17:16] gabrieldagama commented on #29549
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28973 by @AntonEvers in 2.4-develop branch
Related commit(s):
 - [5972daa50f8ecae9fa25f19df083757774737529](https://github.com/magento/magento2/commit/5972daa50f8ecae9fa25f19df083757774737529)
 - [0e68e7082d94098a081fd9c0c5cb98d7738dc4e2](https://github.com/magento/magento2/commit/0e68e7082d94098a081fd9c

[2021-03-18 17:16] #29549 closed, assigned to AntonEvers

[2021-03-18 17:16] gabrieldagama commented on #32088
Hi @jeroenkosse. Thank you for your report.
The issue has been fixed in magento/magento2#32389 by @mamsincl in 2.4-develop branch
Related commit(s):
 - [e5b3bb3e9d379b22c643d5db3108c2a1df14aa81](https://github.com/magento/magento2/commit/e5b3bb3e9d379b22c643d5db3108c2a1df14aa81)
 - [b13fcbb5e6f30d5952267ca64d2006b9c62a6cbc](https://github.com/magento/magento2/commit/b13fcbb5e6f30d5952267ca64d2006b

[2021-03-18 17:16] #32088 closed, assigned to mamsincl

[2021-03-18 17:18] magento-engcom-team commented on #29549
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-18 17:37] jsamhall commented on #29243
AFAIK this issue has yet to be resolved and therefore should not be marked as stale.

[2021-03-18 18:05] MichaelThessel commented on #30046
Commenting to create activity.

[2021-03-18 18:08] m2-assistant[bot] opened #32550 "[Issue] Simplify setup wizard: remove angular, combine all data on one page, etc"
This issue is automatically created based on existing pull request: magento/magento2#32475: Simplify setup wizard: remove angular, combine all data on one page, etc

---------

### Description (*)

Simplify setup wizard code:
- remove angular
- combine landing+license on the same page
- remove other unused files

This could be one of the steps to remove laminas MVC and other dependencies used only

[2021-03-18 18:08] m2-assistant[bot] opened #32551 "[Issue] Fix setup wizard on php8-develop branch"
This issue is automatically created based on existing pull request: magento/magento2#32512: Fix setup wizard on php8-develop branch

---------

### Description (*)

There is an issue in php8-develop branch with setup wizard not working after updating of laminas-servicemanager.
This PR fixes is

### Manual testing scenarios (*)

Open setup wizard and wait for content to appear.

### Contribution ch

[2021-03-18 18:10] #32550 closed, assigned to hws47a

[2021-03-18 18:10] #32551 closed, assigned to hws47a

[2021-03-18 18:20] #32443 closed, assigned to hws47a

[2021-03-18 20:35] hostep commented on #26377
Patch can just be created from the pull request: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/32462.diff

Note that this patch is only a solution for "lax" suffix that gets added in a wrong format. This general issue has been more or less fixed in Magento 2.3.6-p1 and 2.4.2 (and probably also 2.4.1-p1).

[2021-03-18 21:35] ihor-sviziev commented on #26377
I'm going to create a pull request to quality patches repo when will have some free time, so it will be released faster

[2021-03-18 23:42] dpkdeshmukh12 commented on #28614
Facing same carding issue, I have upgraded magento version to 2.4.2 and performed the invisible v3 captcha configuration. Now submission to /paypal/transparent/requestSecureToken are not creating $0 transactions within payflow but now the problem is customer's are unable to checkout when trying to place order through payflow. (Issue faced in  "paypal/transparent/requestSecureToken/" response is "S

[2021-03-19 00:45] TonyMerlin commented on #32202
Sorry to say but we are having the exact same issue since upgrading from Magento 2.4.1 our PUT
`{"entity":{"entity_id":26481,"extension_attributes":{"mycustom_order_code":"15278"}}}`
 worked perfectly in all previous versions but since upgrading to 2.4.2 this is now broken and our stock management system is rendered useless. I have tried with a vanilla install of 2.4.2 and get the same error
`"SQL

[2021-03-19 02:24] mrtuvn commented on #32549
Seem issue like your describe already work done in latest code base 2.4-develop
But not sync to 2.4.2

[2021-03-19 06:43] victortodoran commented on #32549
Will this reach 2.4.3?

[2021-03-19 07:12] hostep commented on #32549
The line @mrtuvn links to is probably irrelevant in scope of this issue, since that line has existed for over 5 years in the code base. So that's most likely an incorrect assumption he's making.

[2021-03-19 07:16] gixid192 commented on #12075
Hi guys, as @konarshankar07 already point out the fix, I think the code should be modified in [magento/zendframework1](https://github.com/magento/zf1) repo

[2021-03-19 07:23] victortodoran commented on #32549
@hostep Thanks so much for pitching in, I've taken it at face value.

[2021-03-19 08:02] ghost opened #32552 "Mobile Android keyboard force open and closed"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2021-03-19 08:27] smartsanjay commented on #32536
Hi Team,
Could anyone please help us on this.

Thanks
Sanjaya

[2021-03-19 09:36] magento-engcom-team commented on #32489
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41444` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-19 09:39] engcom-Oscar commented on #32552
Hi @radcleong !
Please provide more details in description to made possible reproduce your issue.

[2021-03-19 10:12] ajijshekh123 commented on #32548
@magento give me 2.4-develop instance

[2021-03-19 10:21] stephansteiner commented on #32548
@ajijshekh123 Hi, I noticed that you're verifying this - please remember to change the shops locale, as the default "en_US" won't display broken image buttons. You may also enter fake data for PayPal credentials as these come only into use when actually clicking the button.

[2021-03-19 10:34] engcom-Oscar commented on #32549
Hi @victortodoran!
Thank you for your report.
I were not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket. Url rewrites were generated when products are assigned to new website via mass action, but I found one thing - in the "Url Rewrites' grid "Store View' information were not updated correctly.
![Screenshot from 2021-03-19 12-30-31](https://user-images.githu

[2021-03-19 10:40] #32442 closed, assigned to hws47a

[2021-03-19 10:47] magento-engcom-team commented on #31319
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41449` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-19 10:53] ajijshekh123 commented on #32548
Hi @stephansteiner,
I have verified this issue as per your steps and configuration. All configuration I have set up properly but I didn't know which change required on shops local as the default "en_US". Please update the screenshot here.
The rest of the configuration I have set up properly and the "Checkout with PayPal" button is showing properly as Expected.

Product Details Page:
![image](https

[2021-03-19 11:00] surelockrich commented on #26896
Hello Magento Team,

Is there any solution to this issue?

Regards,

SHAIKH SARFARAZ ALI

On Thu, Mar 18, 2021 at 4:35 AM enyceedanny ***@***.***>
wrote:

[2021-03-19 11:01] parween-talat commented on #26515
facing same issue

[2021-03-19 11:34] losttheplot commented on #29357
If it helps, this is how we created a bespoke Contact Us page for 2.4.2 that looks exactly like our previous page, which utilised the now-defunct direct block insertion method. The layout we previously used featured a full-width Google Map over two responsive columns - the left column contained the store's contact details, and the right column contained the Magento contact form.

First we created

[2021-03-19 12:05] stephansteiner commented on #32548
The
SandBox Version of Icons is working, if you disable Sandbox the icon logo is broken again.
Sandbox Payment Icon URL:
https://fpdbs.sandbox.paypal.com/dynamicimageweb?cmd=_dynamic-image&buttontype=ecshortcut&locale=de_DE
Non-Sandbox Version (Broken):
https://fpdbs.paypal.com/dynamicimageweb?cmd=_dynamic-image&buttontype=ecshortcut&locale=de_DE

[2021-03-19 12:26] SolsWebdesign commented on #26515
@sugaryusuf @parween-talat There are several things you can do depending on the situation.

Open up the adminhtml developer tools (for instance in Chrome or Firefox) and look for the GET that goes wrong, it will be something like GET https......admin..../mui/index/renderer... and open the Json Response Payload:
![image](https://user-images.githubusercontent.com/4403221/111778763-7b0f7200-88b5-11eb

[2021-03-19 12:31] ajijshekh123 commented on #32548
Hello @stephansteiner,
As per defined your configuration, I have reviewed the "Checkout with PayPal" button on the product details page. It is broken and not showing properly.

![image](https://user-images.githubusercontent.com/24711761/111780017-d7d25300-88dc-11eb-93f6-a44ebf34de74.png)

![image](https://user-images.githubusercontent.com/24711761/111780034-ddc83400-88dc-11eb-8823-26be5b926d6c.png

[2021-03-19 12:32] magento-engcom-team commented on #32548
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41454` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-19 12:33] engcom-Oscar commented on #32547
Hi @ebofi  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
Can you update ticket's description and add more details how to reproduce it, please?

[2021-03-19 14:04] kestraly commented on #18802
Magepow\Layerednav\Model\Layer\Filter\Attribute.php

`$productCollection->addFieldToFilter($attribute->getAttributeCode(), array('ln_filter' => $valueFilter));`

The code suggested in Elastic Search already exists.

Will see if I can find a solution with this line of code

[2021-03-19 14:15] eiriksnilsen commented on #9799
I am experiencing the same thing on a recently built M2.4 site - is there any hope this will be fixed soon?

[2021-03-19 14:18] sheepfy commented on #9799
@eiriksnilsen
Fix is this PR https://github.com/magento/magento2/pull/32221
You can make a composer patch

[2021-03-19 14:37] barbazul commented on #31428
This is actually a very big bug.

AFAIK it affects the following areas:

* Scheduled Import/Export Log Cleaning
* Product Alert Cron
* Sitemap Generation

The issue is that the same value being exported by `app:config:dump` cannot be read by `app:config:imoprt`, completely breaking the whole shared configuration deployment pipeline.

So far, the workaround we are using is

* Run `magento app:confi

[2021-03-19 14:48] dio5 commented on #13392
I am not quite getting @engcom-Echo's reply. In his comment he's saying it includes tax but if you look closely it seems without tax to me - 4.9 + 0.1 = 5.

See my screenshot. Maybe it's supposed to be without tax?

![shipping_tax](https://user-images.githubusercontent.com/628642/111798578-7e612880-88ca-11eb-8e83-426f740ae17e.png)

[2021-03-19 15:10] BenSpace48 commented on #4536
The year is 2064, I'm working on Magento 13.7.3 and whenever I update my static block via my brain chip 3000 TinyMCE is removing half my HTML.

[2021-03-19 15:18] lewisvoncken opened #32554 "storeConfig GraphQl query has no cache identity"
The storeConfig Query contains `@cache(cacheable: false)`

Which results in a very slow configuration query and it could be cached

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects criti

[2021-03-19 16:01] krishprakash commented on #32190
Hi @JoostWan. Looks similar issue #32351 already added and verified
So track the progress on same
Thanks!!

[2021-03-19 16:01] #32190 closed, assigned to krishprakash

[2021-03-19 16:05] damienwebdev opened #32556 "[Graphql] Filtering Products by CategoryUid type is incorrect."
### Preconditions (*)
Magento v2.4.2

### Steps to reproduce (*)
Make a GraphQl query like

[code]

### Expected result (*)
I expected to get back products filtered by my category id.

### Actual result (*)

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help duri

[2021-03-19 16:10] damienwebdev opened #32557 "[Graphql] Category_uid is not available as a product aggregation type"
### Preconditions (*)
v2.4.2

### Steps to reproduce (*)
[code]

### Expected result (*)
I expect to get `category_uid` back as an aggregation.

### Actual result (*)
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processe

[2021-03-19 16:18] krishprakash commented on #31971
Hi @BB-000. Feel free to reopen the issue once you update all the details as per issue reporting guidelines.
Thanks!!

[2021-03-19 16:18] #31971 closed, assigned to krishprakash

[2021-03-19 16:36] harrigo commented on #7613
I have also just noticed this, not sure how it has happened seems to worked 100s of times in tests and now i'm suddenly getting exactly this in chrome which has been tested previously stops if go incognito and doesn't happen in any other browser. Ever find out anything about this?

[2021-03-19 17:51] niels-hubs commented on #4536
This is the best comment ever 😄. Thanks for making my day. The fact that this is still an issue after 6 years is discusting.

[2021-03-20 00:34] kennysinkeler commented on #32530
My console log (of chrome) on create order page is saying, is this maybe related?

[code]

[2021-03-20 05:08] mrtuvn commented on #16171
Is this still valid problem ? Anyone got this issue

[2021-03-20 12:09] JialuZhang commented on #3298
@Shento

In your posted configuration,
[code]
the line "RewriteEngine Off“ is a silent misconfiguration. This means adding it to your system will not change any system behavior.
"RewriteEngine Off" is introduced by Apache to explicitly disable all "RewriteRule" and "RewriteCond".
That is to say, if you include multiple "RewriteRule" and "RewriteCond" parameters in your configuration, then instead

[2021-03-20 12:10] JialuZhang commented on #3424
@anjenehm

In your posted configuration,
[code]
the line "RewriteEngine Off“ is a silent misconfiguration. This means adding it to your system will not change any system behavior.
"RewriteEngine Off" is introduced by Apache to explicitly disable all "RewriteRule" and "RewriteCond".
That is to say, if you include multiple "RewriteRule" and "RewriteCond" parameters in your configuration, then instea

[2021-03-21 05:24] krishprakash commented on #32552
Hi @radcleong. Feel free to reopen once you update all the details as per issue reporting guidelines
Thanks!

[2021-03-21 05:24] #32552 closed, assigned to krishprakash

[2021-03-21 07:15] renard123 opened #32560 "Click on wishlist icon it does not working"
Click on wish list icon it does not working

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
- Add product to cart
- Floating Cart -> Click on Edit
- Product detail page -> Update qty with more than available / with 0 qty / with negative qty / with blank qty and after go to related products
- Related Product -> Click on Wish list for any product

### Expected result (*)
1. Product

[2021-03-21 07:16] krishprakash commented on #32560
@magento give me 2.4-develop instance

[2021-03-21 07:57] magento-engcom-team commented on #32560
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41472` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-21 10:04] krishprakash commented on #9799
@magento give me 2.4-develop instance

[2021-03-21 12:45] phtmgt opened #32561 "[GraphQL] Cart Discounts and Tax amounts are inconsistent"
### Summary (*)

1. CartDiscount object returns gross amount (inclusive of taxes).
2. CartTaxItem object returns taxes post discounts.

I think you can see where I am going, but anyway:

Tax: 10%
Discount: 20%

Net amount (as shown - subtotal_excluding_tax): 20
Tax (as shown): 1.6
Discount (as shown): -4.4

Total (of above): **17.2**

Actual total: **17.6**

I know we can go around that by calcula

[2021-03-21 15:11] Viper9x commented on #31833
Hi @Eddcapone, you've done the wrong way.
The purpose of [the document page](https://devdocs.magento.com/guides/v2.4/howdoi/checkout/checkout_edit_form.html) you applied is "Add a custom template for a form field on Checkout page"
But your task is to customize the payment method, so I think you should join [Magento Community Engineering Slack](https://opensource.magento.com/slack) and ask your que

[2021-03-21 19:12] m2-assistant[bot] opened #32562 "[Issue] Catch throwable errors during model save (rollback)"
This issue is automatically created based on existing pull request: magento/magento2#32558: Catch throwable errors during model save (rollback)

---------
### Description (*)
When you throw `Error` class (or some inherited class) in `beforeSave` method - Magento do not rollback started transaction correctly.

You can look at similar pull request for OpenMage project: https://github.com/OpenMage/ma

[2021-03-21 22:16] cdesberg opened #32564 "d"
d

[2021-03-22 00:32] #32564 closed, assigned to nobody

[2021-03-22 03:02] gowrizrh commented on #31396
I kind of ran into the same problem and I'm having this same exact issue.

[2021-03-22 07:04] zhartaunik commented on #29347
Why are you going to close it, just because everyone ignores it? Why do not keep it open?

[2021-03-22 09:22] Dim3nsioneer commented on #28976
I seem to have the same issue with 2.3.5-p2. An internal error (500) occurs when an invoice should be created for an order that includes a bundle product which itself includes a virtual product.
Setting the corresponding item in the table sales_order_item from virtual to simple provided a very ugly work-around.

[2021-03-22 09:39] cicciodifranco opened #32566 "Unable to access to admin panel on a fresh install"
### Preconditions (*)

1. Apache 2.4.41:

Version
[code]
Modules
[code]
apache virtualhost conf
[code]
2. PHP 7.3
3. Magento 2.4.2
4. Elasticsearch 7.11.2
[code]
5. Letsencrypt

### Steps to reproduce (*)

1. After a fresh install admin panel url returns 404 and magento shows frontend 404 error
2. From cli:  `php bin/magento cache:clean`
3. Everything works well

### Expected result (*)

1. Admin

[2021-03-22 10:06] alitopaloglu commented on #31270
I can reproduce this issue on v2.4.2

Discount part of the graphQL response contains only discount about items, not handling shipping discount and there is no data about shipping discount in response.

[2021-03-22 10:55] magento-engcom-team commented on #32556
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41477` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-22 11:29] bartoszkubicki commented on #26969
Yes I can confirm that this issue is reproducible in vanilla magento instance. Some related issues may be fixed.

[2021-03-22 11:42] magento-engcom-team commented on #32459
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41480` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-22 11:47] dverkade commented on #10207
Adding a message here, so that the issue is no longer stale and will be auto closed. Closing confirmed issues is not the way a project should be handled and it should be open until it's resolved.

[2021-03-22 11:47] dverkade commented on #31511
Ready for grooming tickets should not be closed automatically.

[2021-03-22 11:48] dverkade commented on #30591
Reproduced issues should not be closed automatically.

[2021-03-22 11:48] dverkade commented on #27829
Ready for confirmation issues should not be closed automatically.

[2021-03-22 11:59] jatin-kspli190 opened #32567 "wysiwyg text editor not works in front-end popup"
**Preconditions (*)**
      Magento 2.4

**Steps to reproduce ()**
    Make a popup on frontend.
    Add wysiwyg text editor in it.

**Expected result (*)**
               wysiwyg text editor is should be editable in the popup on the frontend.

**Actual result (*)**
    wysiwyg text editor is not editable in the popup on the frontend.
![Screenshot from 2021-03-22 17-07-46](https://user-images.gith

[2021-03-22 13:01] engcom-Oscar commented on #32350
Hi @nabeeljavaid  ! Thank you for your report.
Unfortunately, I was not able to reproduce the issue by following steps from this ticket. May be you can provide some additional information how to reproduce it, please?

[2021-03-22 13:44] shiftedreality commented on #32285
We've performed an investigation and found the solution with symlinks (https://magento.stackexchange.com/a/332419/38801) to be working fine on 2.4.2. We will proceed with official documentation for it.

Please let me know if there any other use cases that need investigation.

[2021-03-22 13:58] nabeeljavaid commented on #32350
@engcom-Oscar I have explained everything that after upgrade I am having this issue.

[2021-03-22 15:17] pmbright commented on #32453
The problem goes away when I change the tax settings for "price display settings" and "shopping cart display setting" to be "including and excluding tax".  Which is fine by us.

Ill just leave the issue there since it was hard to replicate here.

[2021-03-22 15:17] #32453 closed, assigned to engcom-Oscar

[2021-03-22 15:20] m2-assistant[bot] opened #32568 "[Issue] Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest"
This issue is automatically created based on existing pull request: magento/magento2#32539: Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockVisibleInCatalogOnlyTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing sce

[2021-03-22 15:20] m2-assistant[bot] opened #32569 "[Issue] Replace repetitive actions with Action Groups in AdminConfigurableProductCreateTest"
This issue is automatically created based on existing pull request: magento/magento2#32463: Replace repetitive actions with Action Groups in AdminConfigurableProductCreateTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the local

[2021-03-22 15:41] mrtuvn commented on #32567
seem your problem not related with magento. Default wysiwyg feature not available in frontend

[2021-03-22 15:59] mrtuvn commented on #32567
For issue non-releated to core i think better post to magento.stackexchange

[2021-03-22 18:06] davirs opened #32570 "Configurable products: Duplicated products is not generating meta fields."
### Description (*)

When I create a new configurable product magento create automatically the meta fields for this products, acording with my configuration at Configuration/Catalog/Product Fields Auto-Generation.
But, if I duplicate a product to change only sku and product options(configurations), this new product from duplicated one not generate the meta fields automatically.

![Screenshot_31](h

[2021-03-22 18:15] intheshallow opened #32571 "Sort by Price (Ascending) on Products doesn't work in 2.4.1 and 2.4.2"
### Preconditions (*)

1. 2.4.1
2. 2.4.2

### Steps to reproduce (*)

1. Create a Category
2. Create 13+ products with varying prices. Create one or two with $0.
3. Click on the category and choose Price (ascending) within the Sort By dropdown.

### Expected result (*)

1. $0 should be shown first or even last is fine with me. Last would honestly be best.

### Actual result (*)

1. http://55c08fbd

[2021-03-22 18:52] JeffersonTeixeira opened #32572 "Possible nonstandard HTML class in Checkout Authentication template"
### Summary (*)
The class `action action-remind` only exist in checkout authentication template for **Forgot Password Link**. In all other pages is used: class="action remind" instead
I didn't find any style or selector using the tag `action-remind`

### Examples (*)
All the following templates use `action remind` instead `action-remind`:
vendor/magento/module-checkout/view/frontend/web/template/f

[2021-03-22 18:52] davirs opened #32573 "Configurable product: Configuration logic is wrong for duplicate products"
### Description (*)

Magento configurable products is very good and makes the registration process easier and faster!
BUT, there is some logic missing for duplicated configurable products. When I duplicate a configurable product, I must change for save the this new product from duplicated:
1 - product name
2 - SKU
3 - Configurations (here is the problem)

When a product is duplicated it already ha

[2021-03-22 19:00] victortodoran commented on #32549
If there are no URL rewrites in the newly created website/store the issue reproduces.
This can be easily checked by searching the product for example or browsing the category.
Is the url key used or the long form catalog/product/view/id/ etc

[2021-03-22 19:01] victortodoran commented on #32549
@magento give me 2.4-develop instance

[2021-03-22 19:30] victortodoran commented on #32549
I could not reproduce this on the 2.4-develop branch. I'm closing this issue, thanks.

[2021-03-22 19:30] #32549 closed, assigned to engcom-Oscar

[2021-03-22 22:00] cpartica opened #32574 "[GQL Gift registry] Add specialized query to move items from cart"
*As a PWA developer I want to move all items from the cart so that the gift registry would contain all items from cart and also don't be responsible for validation as cart ensures it's own validation.

### AC
* add specialized schema
* cover with webapi tests existing architecture schema
### Approved Schema
* https://github.com/magento/architecture/pull/480

[2021-03-22 22:09] cpartica commented on #31430
fixed in 2.4.3

[2021-03-22 22:09] #31430 closed, assigned to engcom-Kilo

[2021-03-22 22:10] magento-engcom-team commented on #31430
Hi @magento-engcom-team, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41265` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-23 02:01] gixid192 commented on #27217
I think this is intended, just don't know the right cases for this css. Otherwise, we can safely remove it.

[2021-03-23 04:01] enyceedanny commented on #27223
Same issue for me on 2.4.2. I understand that quantity isn't updated until order is shipped/complete - but it should still show as out of stock on the frontend.

[2021-03-23 04:02] enyceedanny commented on #31117
Same issue for me on 2.4.2. I understand that quantity isn't updated until order is shipped/complete - but it should still show as out of stock on the frontend.

[2021-03-23 04:41] krishprakash commented on #32571
@magento give me 2.4-develop instance

[2021-03-23 04:45] krishprakash commented on #32567
Hi @jatin-kspli190. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) Or[ magento stack exchange](https://magento.stackexchange.com) for general discuss about this topic

[2021-03-23 04:45] #32567 closed, assigned to krishprakash

[2021-03-23 05:04] magento-engcom-team commented on #32571
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41496` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-23 05:27] akhilcommerce9 commented on #27223
Hi,

In frontend the salable qty 0 products shown instock and when click on add
to cart button it shown quantity not available.

On Tue, Mar 23, 2021 at 9:31 AM enyceedanny ***@***.***>
wrote:

--

Thanks & Regards,​

Akhil Anand
Magento Developer
Mobile: +91 999 58 22 838
Email: ***@***.***
Skype: live:455e18dd80d38bf4
Website: commerce9.io

[2021-03-23 05:45] magento-engcom-team commented on #32573
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41498` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-23 06:48] hostep commented on #29373
This stalebot is getting a bit annoying...

[2021-03-23 07:20] #31086 closed, assigned to zakdma

[2021-03-23 07:22] magento-engcom-team commented on #31086
Hi @griest024, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39508` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-23 07:51] mrtuvn commented on #29325
`<p><?php echo $dictionary['dictionary']; ?></p>`
Show correct value assign in Block class

[2021-03-23 08:40] adamzero1 commented on #32542
@magento I am working on this

[2021-03-23 08:54] m2-assistant[bot] opened #32577 "[Issue] [ReadMe] updated readMe file for Magento_Msrp-Magento_MysqlMq modules"
This issue is automatically created based on existing pull request: magento/magento2#31938: [ReadMe] updated readMe file for Magento_Msrp-Magento_MysqlMq modules

---------

### Description (*)

Update README.md file for modules:
- Magento_Msrp
- Magento_MsrpConfigurableProduct
- Magento_MsrpGroupedProduct
- Magento_Multishipping
- Magento_MysqlMq

### Related Pull Requests

### Fixed Issues (if r

[2021-03-23 08:55] magento-engcom-team commented on #32577
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41501` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-23 09:33] magento-engcom-team commented on #32569
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-03-23 09:33] magento-engcom-team commented on #32569
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41505` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-23 09:38] engcom-Oscar commented on #32507
close as duplicate of https://github.com/magento/magento2/issues/32569

[2021-03-23 09:38] #32507 closed, assigned to kate-kyzyma

[2021-03-23 09:41] magento-engcom-team commented on #32502
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41506` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-23 10:15] fooman opened #32578 "Missing dependency in Magento/JwtFrameworkAdapter"
### Preconditions (*)
1. 2.4-develop

### Steps to reproduce (*)
1. check https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/JwtFrameworkAdapter/Model/JweManager.php#L11
2. notice `use Jose\Component\Encryption\JWEBuilder; `
3. check https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/JwtFrameworkAdapter/composer.json

### Expected result (*)

1. web-token/jwt-

[2021-03-23 11:09] m2-assistant[bot] opened #32579 "[Issue] Move block head.additional to layout scope of Magento_Theme module"
This issue is automatically created based on existing pull request: magento/magento2#32576: Move block head.additional to layout scope of Magento_Theme module

---------

### Description (*)

Previously this block belong from module theme but defined in module Catalog. We should move it to place it's should stay

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#

[2021-03-23 12:03] duckchip commented on #25947
can reproduce on 2.3.6-p2

[2021-03-23 12:06] L3P3 commented on #13829
Just closing this without providing any explaination seems a very rude move to me. Removing this "feature" without providing any good reasons seems pretty much a slap in the faces of users wanting to keep using it.

[2021-03-23 12:30] magento-engcom-team commented on #32377
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41509` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-23 12:37] magento-engcom-team commented on #32506
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41511` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-23 13:07] ihor-sviziev commented on #32578
Hi @fooman,
Could you create a PR for fixing this issue?

[2021-03-23 13:20] PromInc commented on #29248
I do not see this issue in Magento v2.4.2 Open Source and thus am personally reverting my patch/plugin motioned above.

[2021-03-23 13:43] zakdma commented on #27656
@magento i am working on it

[2021-03-23 13:48] zakdma commented on #27656
We discussed this task and made decision we'll create separate observer for invoice emails so isolate invoice email sending from order email sending. Developer can disable the observer following the documentation instructions https://devdocs.magento.com/guides/v2.4/extension-dev-guide/events-and-observers.html
Also invoice email sending will depend on **sales_email/invoice/enabled** configuration

[2021-03-23 14:15] johnspostsalotfishing commented on #32081
No, no this is a dreadful idea. Imagine your customer finds out they've been hacked, someone's in their account. They change their password but the hacker is still allowed to do whatever they like because they're still logged in. Really bad idea. 0/10, security nightmare.

[2021-03-23 14:51] nuzil commented on #30879
Hey @hostep
Got some time to review your proposal.

So as result:
### Global default
yes, correct and logisc is already built in a way that there are default values exists in code.

### Consumer default
Also correct, already implemented

### Global override
Here I'm not sure you are right.
You can overwrite globals in env.php:

[code]

One exclusion:
"max_idle_time" is only defined per consumer, w

[2021-03-23 15:12] ihor-sviziev commented on #30168
Please leave it open

[2021-03-23 15:19] seansan commented on #28910
Not stale to me ;)

Super important

On Tue, Mar 23, 2021 at 4:13 PM stale[bot] ***@***.***> wrote:

[2021-03-23 15:21] vlmed commented on #32294
@magento I am working on this

[2021-03-23 15:56] huykon commented on #18763
I am facing to this issue. Can anyone give me a solution?

[2021-03-23 17:04] tcmax76 commented on #28161
We're on Magento 2.4.2 and use authorize.net credit card as our singular payment method on our website. We've also added the Discount form to the top of the payment page. I assume because the authorize.net payment method is automatically selected on reaching the payment page, we're getting this lovely error above the discount field every time the payment page comes up.

![payment-page-error](https

[2021-03-23 17:12] rodrigowebjump commented on #32572
@magento give me 2.4-develop instance

[2021-03-23 17:27] hostep commented on #31213
Thanks @nuzil

What are your thoughts on this comment from @ityetti: https://github.com/magento/magento2/issues/31213#issuecomment-742697196 ?

[2021-03-23 17:32] srsathish92 commented on #30993
@gwharton Not able to reproduce in 2.4-develop branch, Please verify and close the ticket.

[2021-03-23 17:34] hostep commented on #30879
Awesome, thanks for the review @nuzil !

You are correct about the "Global override", but indeed `max_idle_time` is not implemented here yet.
The current way to configure consumers is a bit inconsistent or not flexible enough for various scenario's, so let's try to improve this! 🙂

I'm currently swamped with work unfortunately, so if somebody else could try to pick this up, that would be awesome!

[2021-03-23 17:47] gwharton commented on #30993
Agree, not reproducable in 2.4.2 onwards. I can still reproduce the same issue with the payment and shipping checkboxes so I will create a separate issue for those.

[2021-03-23 17:47] #30993 closed, assigned to nobody

[2021-03-23 17:49] magento-engcom-team commented on #30993
Hi @gwharton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39301` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-23 17:51] damienwebdev opened #32581 "[GraphQl] Extend AggregationOption with applied filter status."
As a user, I want to be able to infer the status of the filters applied to products in a GraphQl request.

## Current State (from the UI's perspective)
1. UI Interaction
2. Request
3. Optimistic State Change
4. Request Fails to apply the filter but returns a 200.
5. UI stays the same because there's no way to infer what happened in Magento

## Goal State
1. UI Interaction
2. Request
3. Optimistic

[2021-03-23 17:57] gwharton opened #32582 "Payment Method and Shipping Method radioboxes disappear after page refresh in Admin Create Order"
### Preconditions (*)

Magento 2.4-develop

### Steps to reproduce (*)

[code]

### Expected result (*)

Radioboxes should be visible

### Actual result (*)

![image](https://user-images.githubusercontent.com/30697781/112194368-af11cc80-8c00-11eb-9ab6-5e2bafd0f537.png)

### Action (*)
Refresh The page

### Expected result (*)

Radioboxes should be visible

### Actual result (*)

![image](https://u

[2021-03-23 19:03] gwharton commented on #32582
Reproduced on 2.4.2
Unable to reproduce on 2.4-develop

[2021-03-23 19:03] #32582 closed, assigned to nobody

[2021-03-23 19:56] adamzero1 commented on #32542
This is already fixed by: https://github.com/magento/magento2/commit/68d20230ca9d6198fa3093eb174e24aff47b1646

[2021-03-23 21:13] luciandex commented on #28673
If you run in Docker container, clear cache with `php bin/magento cache:clean` from bitnami\magento directory.
After that, `stop `and `start `again the container.
That's what worked for me.

[2021-03-23 22:41] magento-engcom-team commented on #32252
:white_check_mark: Confirmed by @bgorski
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41522` were created

**Issue Available**: @bgorski, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-24 01:42] bgorski commented on #20478
@magento give me 2.4-develop instance

[2021-03-24 02:29] bgorski commented on #20478
@qsolutions-pl can you let me know what exactly the issue is and how to reproduce it on 2.4? If still an issue, do you think it's about how `{{block}}`s are parsed in general, or is it only about some specific ones? The block you provided as an example changed its logic and now it uses a viewModel, so the example won't work anymore.
Also, if this is about blocks having `$this->_isScopePrivate = tr

[2021-03-24 02:41] jesalazar commented on #21663
Is not recommended edit the core files either magento or any framework. I made one override to the class. I don't know if there is a best way to fix this issue, but for mi works.

di.xml:

`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ConfigurableP

[2021-03-24 05:13] bharat1811 commented on #27657
@Hexmage  you are right price and category are individual parts than the attributes section also labels are hardcoded. But as per my solution, it will work for product attributes that are dynamic for layered navigation

[2021-03-24 07:01] m2-assistant[bot] opened #32583 "[Issue] Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest"
This issue is automatically created based on existing pull request: magento/magento2#32524: Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockDisabledProductTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenario

[2021-03-24 08:54] magento-engcom-team commented on #32568
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41527` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-24 09:10] m2-assistant[bot] opened #32584 "[Issue] Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceOutOfStockTest"
This issue is automatically created based on existing pull request: magento/magento2#32529: Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceOutOfStockTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

Run t

[2021-03-24 09:11] magento-engcom-team commented on #32584
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41528` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-24 09:21] Syberspace opened #32585 "B2B Company admin is assigned to wrong store when company is saved."
### Preconditions (*)

1. Magento 2.3.6 B2B
2. Multiple Stores/Websites set up

### Steps to reproduce (*)

1. Create a new company with all required fields filled. Make sure in the section "Company Admin" the "Website" and " Send Welcome Email From" match and are NOT the store with the lowest ID
2. Check Customers->All Customers -> edit the newly created customer. Under "Account Information" it s

[2021-03-24 09:23] Syberspace commented on #32585
@mageto give me 2.4-develop instance with edition b2b

[2021-03-24 09:25] Syberspace commented on #32585
@magento give me 2.4-develop instance with edition b2b

[2021-03-24 09:43] Syberspace commented on #32585
Could not reproduce the issue on 2.4-develop.
The difference seems to be, that for 2.3.6 the "Send Welcome Email From" field includes ALL store views, while on 2.4-develop it only contains the store views relevant to the website set in the "Website" field

[2021-03-24 10:36] engcom-Oscar commented on #32585
Hi @Syberspace ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
So, we have to close this ticket.

[2021-03-24 10:36] #32585 closed, assigned to engcom-Oscar

[2021-03-24 10:50] timpea opened #32586 "Undefined Index, Deleted Store - bin/magento inventory:reservation:list-inconsistencies"
### Preconditions (*)
1. Magento 2.4.2
2. Data migration from M1.9, M1 site historically had 2 stores, one of these had been deleted.  Still open orders related to the old store.

### Steps to reproduce (*)
1.  Run data migration
2. Run bin/magento inventory:reservation:list-inconsistencies

### Expected result (*)
1. List of orders with stock inconsistancies

### Actual result (*)
1.  Notice: Und

[2021-03-24 11:01] ihor-sviziev commented on #26377
I just created a PR that ports my fix to quality patches for Magento 2.3.6-p1 and 2.4.2: https://github.com/magento/quality-patches/pull/47

[2021-03-24 11:38] matteolavaggi commented on #11692
There is some point that need to be fixed also in 2.4

1) If you Change /pub/health_check.php to health_check.php in probe section of backend i suppose you also need to change the bypass section also, or varnish will cache result of first check
[code]

2) My varnish still unable to check the file also if i can curl it from the varnish host, also after reboot of magento web server, varnish and prox

[2021-03-24 12:13] Romz commented on #32468
Hi @engcom-Oscar engcom-Oscar

I tried to use my $100 coupon on $102 subtotal + $15 shipping and I have an odd result. Discount applied: $101.58 which is more than the amount on my coupon rule.

[2021-03-24 12:56] Eddcapone commented on #32081
Thank you @johnspostsalotfishing , now it makes sense.

[2021-03-24 12:56] #32081 closed, assigned to nobody

[2021-03-24 13:02] rikwillems commented on #31351
@Hexmage when I patch the GraphQL controller the translation works at store level too. In that case there is no need to determine the correct language.

[2021-03-24 13:06] Hexmage commented on #31351
@rikwillems I determine the correct language because it can be different for each storeview.

The original fix only looked at the locale set at the highest level. So if you had multiple storeviews with different locales it didn't work.

[2021-03-24 13:24] magento-engcom-team commented on #32379
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41535` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-24 13:28] khrystynastolbova commented on #32581
@magento I am working on this

[2021-03-24 13:47] khrystynastolbova commented on #32367
@magento I am working on this

[2021-03-24 13:55] khrystynastolbova commented on #32460
@magento I am working on this

[2021-03-24 14:20] leonhardtjo commented on #15656
Hi,
same problem here - but on version magento2.4.2. Any news or patches on this topic?
Thanks.

[2021-03-24 15:06] intheshallow commented on #32571
Hello,

I am checking up on this for any information.

Thank you.

[2021-03-24 15:09] palviggi-flagbit commented on #32570
This one is "broken" on magento 2.4 because of https://github.com/magento/magento2/issues/26054, that specifically clears the meta fields on duplication

[2021-03-24 15:31] palviggi-flagbit opened #32589 "Duplicate product is not copying all stores data"
### Preconditions (*)
1. Tested on Magento 2.4.2
2. The website has multiple stores (for different languages)
3. Have a product with different data on each store

### Steps to reproduce (*)
1. Open the product, change to a different store
2. Duplicate the product

### Expected result (*)
1. The new product will have the previously selected store data as it's default data
2. The duplicated product

[2021-03-24 16:07] ihor-sviziev commented on #31351
@sidolov @sivaschenko seems like quite an important issue for single-page applications, like PWA, or by using GraphQL on the frontend and showing exceptions to users.
Let's set priority to p2 or even p1.

[2021-03-24 16:31] shikhamis11 commented on #31351
@ihor-sviziev I agree. It's an quite important bug, since multi store and multi language features are already there at pwa studio with the release of 2.4.2. This should be addressed soon.

[2021-03-24 16:53] Nazar65 commented on #25391
this is not fixed in 2.4 or even i 2.5

[2021-03-24 17:03] mrtuvn commented on #26850
This one still valid today. Hope someone can take a look at it

[2021-03-24 17:18] Nazar65 commented on #25391
@magento give me 2.4-develop instance

[2021-03-24 18:06] heerdt commented on #31949
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-03-24 18:10] danyvega1990 commented on #30046
I hope magento actually shows some interest on fixing this, they can say it's not a bug if they want, but just not giving a configuration than others e-commerce plattforms provides feels wrong plain and simple

[2021-03-24 18:39] smileguitar commented on #31949
Hi @heerdt and @magento
I fixed it. it was not magento problem. It was Odoo connector problem.

[2021-03-24 18:39] #31949 closed, assigned to nobody

[2021-03-24 19:29] heerdt opened #32590 "GraphQl - Add to cart bundle product doesn't add all selected checkbox values"
Hello,

I am facing an issue when adding bundle products to the cart with GraphQl.
Basically, if the bundle product has a checkbox option with multiple items, when adding 2 or more items of this option to the cart, only 1 item is added.

Can't tell since which version this start happening, but I tested on 2.4.1 and 2.4.2.

### Preconditions (*)
Magento 2.4.1 & 2.4.2
GraphQl API
Bundle products wit

[2021-03-24 19:50] torhoehn commented on #29215
@sdzhepa I don't think that you're right. It's true that the notification message "Message is added to queue" appears, but you'll not find any entry in your Bulk Actions Log. If there would be any configuration problem with RabbitMQ you would see the message with status "Not Started".

For us it seems to be an issue with all attributes in the "Advanced Inventory" tab. "Attributes" and "Websites" a

[2021-03-24 20:07] torhoehn commented on #29215
@sdzhepa For me it looks like that "Advanced Inventory" is not processed in the controller: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Controller/Adminhtml/Product/Action/Attribute/Save.php#L123

[2021-03-24 20:46] MooreTina commented on #30835
@magento give me 2.4.1 instance

[2021-03-25 00:32] enyceedanny commented on #25221
I'm having the same issue on 2.4.2 as well.

[2021-03-25 05:25] subhadeep-webkul opened #32591 "Magento Security panel provide 500 error while verifying the confirmation code frequently."
**Summary of the issue:**
I am receiving 500 error while try to verify the site (site.com) from magento2  security panel.

Errors received in console:
a)Exception printing is disabled by default for security reasons.(500 in validate url)
b)POST https://account.magento.com/scanner/verificationcode/ jquery.js:10260 validate / 500

I am also attaching the error snaps for reference .
![error 500](http

[2021-03-25 07:06] sw-tt-jigneshvagh opened #32592 "In my magento 2.4.2 version I can not see the Cancel Shipment option in my shipments"
### Preconditions (*)
1. I am usng magento 2.4.2 version
1. I am using magento-cloud started plan

### Steps to reproduce (*)
1. As defined in Magento Documentation (https://docs.magento.com/user-guide/sales/shipment-cancel.html) the shipment cancel option should be visible at below Steps:
(1) On the Admin sidebar, go to Sales > Orders.
Find the order in the grid.
(2) In the Action column, choose

[2021-03-25 07:06] sw-tt-jigneshvagh commented on #32592
Updated

[2021-03-25 07:09] hostep commented on #32591
@MaxSavich, sounds like something you might be interested in.

Not sure, if github is the correct place to report these sort of things though...

[2021-03-25 07:54] Muhamann commented on #6144
I have the same problem.

When customer has a product in cart, which gets disabled via admin, the login of the customer ends in a infinity loop / 503 error.
The same happens, if i search for the customer in admin customer-list, click inside the customers-details and just click on "save".

We had the problem with M 2.2, then upgraded to M 2.3.5-p1 and the issue still exists.

The only difference to

[2021-03-25 10:17] engcom-Oscar commented on #29215
Hi @torhoehn!
I was not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket (with properly cron installed) -
"Enable Qty Increments" and "Qty Increments"  updated via mass action well.

**Actual Result:** :heavy_check_mark:
![Screenshot from 2021-03-25 12-15-20](https://user-images.githubusercontent.com/60198413/112456835-ccab7700-8d63-11eb-825b-f9b3a8c722a6.png)

[2021-03-25 10:20] magento-engcom-team commented on #32592
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41558` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-25 11:24] cfarnleitner opened #32593 "attribute option label / value comparison on api POST requests"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Create Dropdown type Product Attribute with values required yes.  Ex: M, L, XL
2. Reindex and flush cach
3. POST request to `/rest/all/V1/products/attributes/{attributeCode}/options`
Paylod:
_{ "option": { "label": "XXL", "value": "", "sort_order": 0, "is_default": false, "store_labels": [ { "store_id": 1, "label": "XXL" } ] }

[2021-03-25 11:25] magento-engcom-team commented on #32583
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41559` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-25 11:25] Sankarant commented on #23052
Referred the code from magneto2.4. I have changed the code like below its working fine.

File: \Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl
Magento 2.3
[code]
After changed
[code]
Have to add new function in magento 2.3
[code]
--------------------------
Magento 2.3
[code]
After changed
[code]

[2021-03-25 12:43] magento-engcom-team commented on #32589
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41561` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-25 13:28] ocirneb commented on #32445
Hi @engcom-Oscar i created my module thanks anyway

[2021-03-25 13:46] AndreyChorniy commented on #32038
Hello @sivaschenko,
I would like to clarify point  5 from your description

**Questions:**
1.  `GetInsertImageData` and `GetInsertImageContent` this is not interfaces and they should not be marked as API as well. Is this is the correct suggestion?
2. Do we need to create a separate extension for only one interface `app/code/Magento/MediaGalleryUi/Model/InsertImageDataInterface.php:`? Is this is a

[2021-03-25 14:17] lewisvoncken opened #32596 "Category Update API resets available_sort_by to use config value"
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Create a Category in the admin and specify a value for available_sort_by
2. Execute the following api (change the id based on your created category)
[code]

### Expected result (*)

![image](https://user-images.githubusercontent.com/6040343/112487552-1a80a900-8d7d-11eb-99c8-cceca7c4f080.png)

### Actual result (*)

![image](http

[2021-03-25 14:43] Hexmage commented on #32561
I have experienced an issue similar and most likely related to this.

I've set my Tax settings to the following.
![Screenshot from 2021-03-25 15-21-37](https://user-images.githubusercontent.com/22170051/112488487-dc37b980-8d7d-11eb-9fd6-45faae98a623.png)

Make a cart with 1 product in it that costs $100 of which 20% is tax.
So for this cart the subtotal_including_tax = $100 and the subtotal_exclud

[2021-03-25 14:53] hd-jeroen opened #32599 "NULL value for web/secure/base_url generates a SEGSERV error"
### Preconditions (*)

1. Magento 2.4.2
2. PHP 7.3 or PHP 7.4 through FPM
3. MySQL 8.0

### Steps to reproduce (*)

1. Set the value for `web/secure/base_url` in `core_config_data` table to `NULL`
2. Flush all Magento caches
3. Refresh the website

### Expected result (*)

1. An exception being thrown telling the store URL is invalid

### Actual result (*)

1. PHP-FPM runs into an error and throws

[2021-03-25 15:25] cfarnleitner commented on #32593
So far i can tell that recreating `getOptionId` with an around-plugin, excluding `|| $option['value'] == $value` from the condition has no negative impact on attribute option findings.

[2021-03-25 15:29] sudheer-gajjala opened #32600 "Order/ Invoice/ Shipment emails are not being received by customer"
### Preconditions (*)

1. Magento Version: 2.3.3 Community Edition
2. Customer is not receiving the Order email when the Customer name is in Arabic for Registered Customer / Guest Customer

### Steps to reproduce (*)

1. Login as a registered customer.
2. Go to PLP ->Select and item
3. Add an item to cart
4. click on view and edit ->proceed to checkout
5. Place an order with CC/COD
6. Order succes

[2021-03-25 15:34] sudheer-gajjala opened #32601 "Order/ Invoice/ Shipment emails are not being received by customer if First Name and Last Name of customer name is in Arabic."
### Preconditions (*)

1. Users should be able to enter First / Last Name in Arabic Language.

### Steps to reproduce (*)

1. Enter the url
2. Go to PLP ->Select and item
3. Add an item to cart
4. click on view and edit ->proceed to checkout
5. Enter guest user mandatory fields -> click on next
6. Place an order with CC/COD
7. Order success page with Order id and view order shall be displayed.

##

[2021-03-25 16:17] gabrieldagama commented on #31351
Error messages may be changed to error codes, and PWA and any other application consuming the GraphQL API should perform the translation on the frontend application, similar issue with https://github.com/magento/magento2/pull/27600

Cc. @cpartica

[2021-03-25 16:40] m2-assistant[bot] opened #32602 "[Issue] Use English consistently for the Swiss regions names"
This issue is automatically created based on existing pull request: magento/magento2#32553: Use English consistently for the Swiss regions names

---------
### Description

Some of the Swiss regions are using a name that is not in English nor in the official language of the Canton. [Source](https://en.wikipedia.org/wiki/Cantons_of_Switzerland#List).

### Manual testing scenarios

1. On the address

[2021-03-25 16:43] Hexmage commented on #31351
@gabrieldagama
This feels like a waste of having the entire translation functionality in Magento. Adding Error Codes is fine because you might want to do something different based on the error code. But seeing as all other endpoints (soap, rest, the html frontend) do translate their output based on the store scope it would be weird that only graphql doesn't do this.

And by putting the burden of t

[2021-03-25 21:20] ihor-sviziev commented on #28897
This definitely should be open, as magento already have php 8 project.
/cc @sivaschenko

[2021-03-26 01:50] ericerway commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-03-26 01:53] ericerway commented on #30835
@magento give me 2.4.2 instance with edition ee

[2021-03-26 01:56] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-03-26 02:02] gixid192 commented on #30152
I think the regex is always wrong when it comes to url that has port.
The reason is the use of `$` meaning end of the line, but then it append `\d+` right after `$`, makes that `$` non-scene

[2021-03-26 07:04] HenKun opened #32603 "Collection Processor not extendable for Customer Repository"
### Summary (*)
It is not easily possible to change the collection processing in Customer Repository. E.g. when wanting to filter extension attributes in `getList()` method, it will not work.

The implementation of `Magento\Customer\Api\CustomerRepositoryInterface` is `Magento\Customer\Model\ResourceModel\CustomerRepository`. As `collectionProcessor` argument the `di.xml` specifies `Magento\Eav\Mo

[2021-03-26 07:22] AlldoGroup commented on #32452
More information on this issue that might help:

https://mariadb.com/kb/en/delimiters/

Two delimiters fount in all or back up files at the following location:
![delimiter](https://user-images.githubusercontent.com/57530884/112596624-5a42a180-8e0c-11eb-95ca-611a1265afc4.jpg)

Doesn't seem to be related to any third party extensions.

[2021-03-26 08:27] engcom-Oscar commented on #32601
Hi @sudheer-gajjala  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.

**Actual Result:** :heavy_check_mark:
![Screenshot from 2021-03-26 10-26-16](https://user-images.githubusercontent.com/60198413/112603556-d85b7400-8e1d-11eb-9040-3180b1269ad0.png)

So, we have to close this ticket.

Please feel free to

[2021-03-26 08:27] #32601 closed, assigned to nobody

[2021-03-26 08:33] magento-engcom-team commented on #32602
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41583` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-26 08:42] Stefan933 commented on #5655
@thdoan Np,when i find a solution i will post it here.

[2021-03-26 08:48] akhiltanveer commented on #24233
@engcom-Dash
To reproduce this issue please set the currency to JPY (japanese currency) instead of US dollar. Japanese currency doesn't support the decimal, hence all the payment gateways fail not just paypal.

[2021-03-26 08:54] engcom-Oscar commented on #32600
Hi @sudheer-gajjala  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.

**Actual Result:** :heavy_check_mark:
![Screenshot from 2021-03-26 10-26-16](https://user-images.githubusercontent.com/60198413/112603556-d85b7400-8e1d-11eb-9040-3180b1269ad0.png)

So, we have to close this ticket.

Please feel free to

[2021-03-26 08:54] #32600 closed, assigned to nobody

[2021-03-26 08:54] kassner commented on #28514
up

[2021-03-26 09:20] kassner commented on #26292
#32605

[2021-03-26 09:27] frank-bokdam commented on #17591
You can enable / disable title translations in theme configuration:

`Content -> Design -> Configuration -> Header -> Translate title (yes/no)`

[2021-03-26 10:26] stephansteiner commented on #32177
Any news on this? This is a very annoying bug and there seems to be no working  patch around

[2021-03-26 10:33] rikwillems commented on #31351
In my case I'm reading the cart/quote items that have custom made options. The labels of these options were not translated which doesn't make any sense, also not regarding PWA. My fix is:
[code]

[2021-03-26 10:59] sodhancha commented on #31145
@amansrivastava @rvitaliy @sven-codeculture @ikevinsolomon did you guys try out  @marshallthornton 's solution ?
Did it work for you guys ?

[2021-03-26 11:02] Sental commented on #32177
This is the patch we've used for the issue on the frontend of our magento stores as a quick fix, until a full range solution can be written and incorporated into Magento itself.
[0001-prefix-array-element-index-issue-bugfix.patch.txt](https://github.com/magento/magento2/files/6211266/0001-prefix-array-element-index-issue-bugfix.patch.txt)

[2021-03-26 11:07] magento-engcom-team commented on #32505
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41586` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-26 11:16] mrtuvn commented on #31923
Default this value set to false from core but you can re-define it in your theme or your custom module! Not sure this is bug or feature :)
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Paypal/view/frontend/layout/checkout_index_index.xml#L48

[2021-03-26 11:31] magento-engcom-team commented on #32504
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41587` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-26 11:39] mrtuvn commented on #16490
![Screenshot from 2021-03-26 18-37-48](https://user-images.githubusercontent.com/1908873/112626221-7f61ff00-8e62-11eb-8757-fd40872a8249.png)
works fine in my local

[2021-03-26 13:01] magento-engcom-team commented on #32518
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41589` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-26 13:21] Thundar commented on #32478
I can reproduce the issue by using this api from within `\Magento\Catalog\Api\CategoryLinkManagementInterface` from a cron.
`$this->categoryLinkManagement->assignProductToCategories($sku, $newCategoryIds);`
I'll try @ilnytskyi solution.

[2021-03-26 13:23] rvitaliy commented on #28897
don't forget to allow php 8.1 🙏🚀
release date Nov 25 2021
https://wiki.php.net/todo/php81

[2021-03-26 13:25] Tjitse-E commented on #19043
@magento-engcom-team can you point me to the commit where `MC-24599` is fixed? Was this fixed by https://github.com/magento/magento2/commit/efb7c618a35cb59b392a09572595c26d73488521 as @engcom-Golf suggests?

[2021-03-26 13:41] CUTTRHOAT commented on #29119
@naydav greetings, can you provide an updated link for the PR? this one seems outdated.
Thanks

[2021-03-26 14:18] julien410gone opened #32607 "No such entity with orderId = X in checkout after in-store delivery"
### Summary (*)

In Magento 2.4.2 with Stripe module 2.5.4.
The issue happens when trying to place an order with a bundle, and "Payment Card" method after another customer placed an order (any product type and any payment method) with the delivery method "Pick up in store".
When card informations are entered and submit button is clicked, a critical message shows up :
"No such entity with orderId=X

[2021-03-26 15:14] panteliskopsias commented on #19293
Did you find any fix on this?
I need the url rewrites in invisible products too. I need it because i export this urls in products feeds, ads and price comparison sites.
From there when a user click on the product, he redirect to the configurable product with the option of simple preselected.
The only way i can do it now is to create the products one by one with visibility 1,2 or 3 and then set it

[2021-03-26 15:21] Axel29 commented on #30794
The issue is still relevant.

[2021-03-26 17:57] neddy236 commented on #30794
The problem with our installation is a double edged blade case.
Both approaches seems correct.
We had 1 website with 2 store views

Example if the customer was opened in english store ( id: 2) magento tries to attach store id 2 url for the customer to reset the password.

The problem was that english store was disabled, so the customer got redirected to homepage.
Proposed solution to this is to ad

[2021-03-26 19:55] mrobichaud-absolunet opened #32608 "Different validation between attribute option API and Admin form"
Hi,

There seems to be a difference in how magento validate saving attribute option value since 2.4. If you try to put an admin value at "0" from the api, you get the following message from the api "The attribute option label is empty. Enter the value and try again.". But if you go in the admin panel and try to add the value "0" you do not get the same validation error and it lets you add the valu

[2021-03-26 20:24] maciej-orba opened #32609 "Failed to set PHP CodeSniffer installed_paths Config (2.4.2, Composer 2)"
### Summary (*)
Failed to set PHP CodeSniffer installed_paths Config
In my opinion its a deployment order: CS, should be configured after Magento deployManager (missing NonComposerComponentRegistration.php deployed via deployManager)
Works fine with composer 1

### Examples (*)
[code]

### Proposed solution
Reorder CS config AFTER magento deployment

---
Please provide [Severity](https://devdocs.m

[2021-03-26 22:32] omolto commented on #7647
We also have been facing this issue using the REST API. We use the API to synchronize product data from ERP. When an image is changed on ERP it's a hell to update it on Magento using the API for the same problem...

Some workarounds explained here work but manually changing database data doesn't seem a clean solution. The best solution is what @RDXSportsCom told and seems nobody noted.

By default

[2021-03-27 00:12] Tomasz-Silpion commented on #14861
If anyone has experienced the similar issue remember to assign the product to categories with CategoryLinkManagementInterface AFTER the product was saved. That's how it was done in \Magento\Catalog\Controller\Adminhtml\Product\Save action.

[code]

[2021-03-27 04:57] enyceedanny commented on #25221
Wow I've been going nuts for 2 days trying to figure this out. Your solution is what fixed it. Thank you!

[2021-03-27 05:16] ravirajm10 commented on #25221
Do check the email template basically below part

{{layout handle="sales_email_order_shipment_track" shipment=$shipment order=$order}}

[2021-03-27 05:17] ravirajm10 commented on #25221
Do check email template basically below part

{{layout handle="sales_email_order_shipment_track" shipment=$shipment order=$order}}

[2021-03-27 05:43] enyceedanny commented on #25221
That works for the emails. But I noticed that those emails that fail, when clicking on the tracking link on either admin or as logged in customer, it throws an exception as well.

`Notice: Trying to access array offset on value of type bool in /vendor/magento/module-ups/Model/Carrier.php`

[2021-03-27 12:07] temptask commented on #32519
This issue seems to exist because SQL query with UNION ALL statements for sorted by Name products returns Visibility and Status values as float (e.g. 1.0 instead of 1) and when rendered in Magento\Backend\Block\Widget\Grid\Column\Renderer\Options.php it couldn't find corresponding option because they are passed as integers (e.g. 1 - "Enabled", 2 - "Disabled").

It doesn't happening when sorted by

[2021-03-27 12:20] ihor-sviziev commented on #31527
I'm closing this issue. As we discussed in https://github.com/magento/magento2/pull/31463#issuecomment-808483627

[2021-03-27 12:21] #31527 closed, assigned to nobody

[2021-03-27 15:49] magento-engcom-team commented on #32578
@bgorski Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-03-27 15:49] magento-engcom-team commented on #32578
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-03-27 15:53] bgorski commented on #32578
ok, now I know that this wasn't marked as confirmed in the first place. I'll go ahead and create a PR for this tomorrow if still needed.

[2021-03-27 16:43] Rakhi161 commented on #32571
@magento I am working on this

[2021-03-27 16:43] Rakhi161 commented on #32571
@magento add to contributors team

[2021-03-27 16:44] Rakhi161 commented on #32571
@magento I am working on this

[2021-03-27 16:49] abrar71 commented on #28489
The issue is valid and properly reported

[2021-03-27 17:34] magento-engcom-team commented on #32578
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41613` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-27 17:37] ihor-sviziev commented on #32578
@sivaschenko @sidolov @gabrieldagama from my perspective missing dependency should be treated as P2 priority as it might cause not obvious issue from developer perspective

[2021-03-27 21:32] cfarnleitner commented on #20481
some ruff climate here...

Anyways, a shout out to leonardo_pinhei:

https://community.magento.com/t5/Magento-2-x-Programming/Magento-2-REST-API-Change-product-category/td-p/96956

the trick seems to be setting (the default custom attribute) **category_ids** to null/empty in addition to the category_links in extension_attributes, like:

"custom_attribute": [
    {
        "attribute_code": "catego

[2021-03-27 23:08] cfarnleitner commented on #32522
just a side note in case one may be able to temporarily fix this by re-positioning products:
the positioning does not seem to be "random" but takes the position info from ONE _particular_ catalog_category_product (haven't tested in detail but I would assume the lowest entity_id wins) entry; in other words, once you have a product assigned to multiple categories this issue seems to occur.

[2021-03-28 06:18] erankitsrivastava commented on #16511
the same thing also doesn't work in the catalog search API rest/V1/products, and it is meant for the customer's end?

[2021-03-28 07:42] hardik028 commented on #29568
@magento I am working on it

[2021-03-28 07:43] hardik028 commented on #29568
@magento add to contributors team

[2021-03-28 07:43] hardik028 commented on #29568
@magento I am working on it

[2021-03-28 10:12] alexsmith2709 commented on #31566
Using a plugin to fix the frontend, but issue still present in the admin panel when creating an order manually.

[2021-03-28 22:06] elharony commented on #29534
Still facing it. Any suggestions?

[2021-03-29 00:19] JeffersonTeixeira opened #32613 "Wrong formkey in ajax request treated as valid request in csrfValidator"
I'm not sure its a bug, so if its not I would like an explanation why this behaviour is desired.

**How I found this possible issue:**
I'm working on a module to enable customer login by ajax, but I give up to use the common action for it:

Because:
It don't validate formkey (Why? All request even ajax shouldn't be validated?);
And also there's no captcha verification. (Why?)

This is why I chose

[2021-03-29 03:27] ldc321 commented on #29938
Hey, any fix for this issue? I am experiencing this on 2.3.4

[2021-03-29 06:45] ihor-sviziev commented on #31777
I added WIP PR with a description of all dependencies.
So far we have 2 dependencies that block updating this package:
- allure-framework/allure-phpunit
- magento/magento2-functional-testing-framework

[2021-03-29 06:59] leonhelmus commented on #27559
This issue is still relevant on a 2.4.1-p1 magento website with PHP 7.4 & mysql 8.0.

[2021-03-29 07:55] magento-engcom-team commented on #32608
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41619` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-29 08:03] ihor-sviziev commented on #26292
Hi @kassner @kandy,
I believe disabling cache on production infra is a terrible thing. Can't we don't do that at all?

This is just an example from the past:
we had few outages caused by having multiple web nodes, and randomly on nodes happened disabling cache during processing requests. As a result, some nodes had cache enabled, but some - disabled. This caused a huge load to all infra due to par

[2021-03-29 08:23] magento-engcom-team commented on #32593
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41620` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-29 08:27] Daisy1302 commented on #31105
Hi team,

I'm working with Magento 2 ver 2.3.5-p2 and still facing this issue on Firefox.

[2021-03-29 08:34] t-heuser opened #32615 "Add assign customer to cart mutation"
*As a developer I want to assign a customer to an existing guest cart so that I can easily implement the checkout with the register method.*

At the moment there is no possibility to easily implement the checkout with the register method when using the graphql api.
The [Venia Storefront Demo](https://venia.magento.com/) is also facing the issue as the checkout with the register method is not worki

[2021-03-29 08:37] magento-engcom-team commented on #30879
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41621` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-29 08:53] ihor-sviziev commented on #32599
Hi @dehaan-jeroen,
From the first look, it seems like you're just not providing one of the mandatory configuration options, which is OK to be failing.
Could you provide additional info? What is the use case of not defining the base URL?

[2021-03-29 09:08] darvin55 commented on #29444
@magento give me 2.4.2 instance

[2021-03-29 09:22] m2-assistant[bot] opened #32616 "[Issue] Update README.md of Google_Analytics module"
This issue is automatically created based on existing pull request: magento/magento2#32448: Update README.md of Google_Analytics module

---------
### Description (*)
Update Readme content for Google Analytics module, Google Analytics settings is not under General tab, it is located under Sales tab.

### Fixed Issues (if relevant)
1. magento/devdocs magento/devdocs#4451: README content for modules

[2021-03-29 09:23] magento-engcom-team commented on #32616
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41622` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-29 09:35] Eddcapone commented on #25068
Does not work in 2.4.2 Enterprise. I get "Blocked script execution in '<URL>' because the document's frame is sandboxed and the 'allow-scripts' permission is not set."

![image](https://user-images.githubusercontent.com/16349349/112817610-ebbb4900-9082-11eb-9e1f-4dd107ac4894.png)

[2021-03-29 09:53] wanghsingchuan commented on #23063
Same issue in Magento 2.1.6

[2021-03-29 10:49] ihor-sviziev commented on #25068
@Eddcapone, it looks like a bit different issue. Could you report it separately?
Thank you!

[2021-03-29 11:09] dehaan-jeroen commented on #32599
@ihor-sviziev in our case, due to a human error the database field for `web/secure/base_url` got set to `NULL`. I agree that this shouldn't usually happen, but it did.

I spent ages looking into the issue, since Magento CLI as well as the webpage, started throwing SIGSERV errors, meaning that PHP was trying to access an invalid memory pointer. This has been traced back to the erroneous configurati

[2021-03-29 11:10] ihor-sviziev commented on #32599
Now I got it. Could you please add this info to the issue description?

[2021-03-29 11:47] magento-engcom-team commented on #32509
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41625` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-29 12:31] PascalBrouwers commented on #31167
Confirmed bug and tested PR. PR fixes the issue (import image via cli).
Tested with PHP 7.4 and Magento 2.4.0

[2021-03-29 12:51] ihor-sviziev commented on #31167
@PascalBrouwers @anvanza, could you provide some example of how exactly we can reproduce the issue?
The suggested test in the PR https://github.com/magento/magento2/pull/31282 looks really strange. You shouldn't call plugin methods directly.

[2021-03-29 15:37] amenk commented on #27224
I believe it's still relevant

[2021-03-29 15:57] #31477 closed, assigned to nobody

[2021-03-29 16:06] amenk commented on #26301
Still relevant I think

[2021-03-29 16:15] terolahtinen opened #32618 "Product export fails with 40 k products"
### Steps to reproduce (*)

1. Install Magento 2.4
2. Create 40 000 products
3. Use export tool to export products to a csv file

### Expected result (*)

1. An export file is generated to var/export -folder containing the products

### Actual result (*)

1.  No export file is created

[2021-03-29 16:44] joemstar commented on #25221
The solution provided by enyceedanny worked for me.

If you have customized e-mail templates inserting track.phtml this way:
{{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='MyParcelNL_Magento::email/shipment/track.phtml' shipment=$shipment order=$order}}

Try changing that to this so it uses the layout XML:
{{layout handle="sales_email_order_shipment_track" sh

[2021-03-29 17:28] ProkopovVitaliy commented on #32608
@magento I am working on this

[2021-03-29 20:04] bentideswell opened #32619 "Underscores not allowed in module names in \Magento\Framework\App\Utility\Files::accumulateThemeStaticFiles"
PSR-4 dictates that underscores have no special meaning and can be used in module names. There have been  [multiple](https://github.com/magento/magento2/pull/11765) [PRs](https://github.com/magento/magento2/pull/14397) accepted for this bug in other areas of Magento but this one has been missed.

This is in \Magento\Framework\App\Utility\Files::accumulateThemeStaticFiles. This method collates stat

[2021-03-29 20:12] bentideswell commented on #32619
I have created a [PR](https://github.com/magento/magento2/pull/32620) for this.

[2021-03-29 22:17] #32566 closed, assigned to nobody

[2021-03-29 22:29] HumbertoGonc opened #32621 "Attribute Metadata Cache not being deleted when signing out session"
### Preconditions (*)

1.  Magento version: 2.3.6
2.  Open Source version

### Steps to reproduce (*)

3.  Create a type of user – “distributor”.
4.  When a “distributor” is created, a new customer_group associated to this “distributor” is also created.
5.  When this “distributor” is creating a new customer in the backend:
       Sales -> Orders -> Create New Order -> Create New Customer
6.  The f

[2021-03-30 04:05] davidandersson1 commented on #31219
Hello,

Is there any update for us? really waiting from long time to resolve the issue!

Anybody please help!

[2021-03-30 05:46] udhaiixly commented on #31312
Hi,

I have same problem, upgrade magento2.3 to 2.4 version.
Please let me know how to fix this issue.

[2021-03-30 05:57] davidandersson1 commented on #32385
Hello,

Is there any solution for this issue?

Please help!

[2021-03-30 06:18] stkrelax commented on #32478
@engcom-Oscar
Your Steps to reproduce 9 and 10 are wrong
i assume you go into admin and change each link seperatly...

have a look to my Steps to Reproduce:
3. both calls in one script so that categoryRepository cache is used

it is essential to assign both products to the same category in one request/script so that the cache is used.

@ilnytskyi you are absolutly right it would be fixed by your p

[2021-03-30 06:55] Thundar commented on #32478
It is fixed by @ilnytskyi pull for me too, tested in 2.3.6.

[2021-03-30 07:34] ihor-sviziev opened #32625 "Let's discuss approved PRs"
I created this task to provide a list of PRs that should be re-triaged from the developer experience point of view, and probably we should raise the priority of them.

Here is a list of PRs that I'd like to discuss, groped by the decision that was done:

**Increased priority to high (p1 or p2):**
- [x] https://github.com/magento/magento2/pull/30695 - improves performance on the frontend
- [x] http

[2021-03-30 08:06] julien410gone commented on #32607
@magento give me 2.4-develop instance

[2021-03-30 08:16] suryadevsearce commented on #29801
Hello, I have installed magento and Elasticseach in two different servers, the communication is up on port 9200 i.e able to ping and telnet. the elasticsearch service is up and running as well, but when I go to the magento admin console and update the elasticsearch host to the elasticsearch server's IP, I still get the `no nodes alive` error. Please help.

[2021-03-30 08:38] mrtuvn commented on #30480
I believe this report still valid

[2021-03-30 09:20] AkermanisM opened #32626 "Unable to decrease qty in cart, when its higher than available."
### Preconditions (*)
1. Magento Version 2.4.0

### Steps to reproduce (*)

1. Create product with 20 Qty
2. Add product to cart with 10 Qty
3. Change available product Qty to 5
4. Go to cart, a message is displayed that product is not available in requested quantity
5. Change Qty to 2 and update cart

### Expected result (*)
1. Qty of cart item changes to 2

### Actual result (*)
1. Qty of cart i

[2021-03-30 09:21] AkermanisM commented on #32626
@magento give me 2.4-develop instance

[2021-03-30 09:32] AkermanisM commented on #32626
I was unable to replicate this on the develop instance. It must be caused by some other modification.

[2021-03-30 09:32] #32626 closed, assigned to nobody

[2021-03-30 09:47] dmitriyprime commented on #16202
:heavy_check_mark:  QA passed

**After fix:**
**mysql> select * from ece_catalog_category_entity_varchar;
+----------+--------------+----------+-------------------+--------+
| value_id | attribute_id | store_id | value             | row_id |
+----------+--------------+----------+-------------------+--------+
|        1 |           45 |        0 | Root Catalog      |      1 |
|        2 |

[2021-03-30 10:16] hostep commented on #16202
@dmitriyprime: which fix? [MC-40371](https://github.com/magento/magento2/commit/2243b48d4dc1384a46845a2f998d319d324b8aec) or https://github.com/magento/magento2/pull/32598 (MC-40780) ? If the latter, please comment on that pull request instead of here, thanks! 🙂

[2021-03-30 11:27] evs-xsarus commented on #27195
Seems like there are two variants:

vendor/magento/module-rma/Model/Shipping.php
[code]
vendor/magento/module-shipping/Model/Order/Track.php
[code]

The first one returns a string instead of a phrase. This, in turn, prevents a broken detail.phtml.

I would try patching the latter one and add the cast to string.

[2021-03-30 11:28] mhafizumer commented on #12374
Still issue, `$product->hasDataChanges()` return me true whenever I edit or not edit any attribute data.
I am using magento 2.4.1 CE

[2021-03-30 12:16] magento-engcom-team commented on #32309
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41642` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-30 12:59] magento-engcom-team commented on #32540
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41645` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-30 13:36] engcom-Oscar commented on #31389
Hi @ambkimmok  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.

**Actual Result:** :heavy_check_mark:
![Screenshot from 2021-03-30 16-35-57](https://user-images.githubusercontent.com/60198413/112997743-0c180000-9176-11eb-98ee-f27ad6c56980.png)

So, we have to close this ticket.
Please feel free to commen

[2021-03-30 13:36] #31389 closed, assigned to nobody

[2021-03-30 15:50] jlenzstaysafe commented on #26375
Why is this closed?  Still happening on 2.4.2 EE.

[2021-03-30 17:30] plastikschnitzer commented on #24365
@magento give me 2.4-develop instance

[2021-03-31 02:33] bernieu2 commented on #32544
Change your endpoint from /rest/V1/products/:sku (updates single storeId)
to /rest/**all**/V1/products/{{sku}} (updates storeId = 0)

This seems to be only reference I could find for all store code
https://devdocs.magento.com/guides/v2.3/get-started/gs-web-api-request.html#endpoints

or async endpoint:
PUT /all/async/V1/products/:sku
https://devdocs.magento.com/guides/v2.3/rest/asynchronous-web-en

[2021-03-31 03:57] bintang-partomo commented on #9850
@okorshenko How to add button Insert File to content->blocks ?
![a8f044c6-49e2-11e7-93cf-e34e8499d14c](https://user-images.githubusercontent.com/77610210/113088393-aed08d00-920f-11eb-9549-9dd6728b1475.png)

[2021-03-31 04:06] ia-gaurav opened #32627 "The "--access-key" option does not exist. on configuring S3 bucket"
I am getting error in console while trying to install aws bucket :

**Command**
 bin/magento setup:config:set --remote-storage-driver="aws-s3" --remote-storage-bucket="abc-web-img" --remote-storage-region="ap-south-1" --remote-storage-prefix="mysite" --access-key=xyz --secret-key=abc -n

 **Error**
  The "--access-key" option does not exist.

**Magento Version :** 2.4.2
**Server :** Nginx
**Databa

[2021-03-31 04:38] elioncho commented on #2540
Still happens in 2.4

[2021-03-31 04:51] ia-gaurav commented on #32627
@magento give me 2.4.2-develop instance

[2021-03-31 05:04] renard123 opened #32628 "State/Province drop down not appear issue"
State/Province drop down not appear issue

### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

- As guest user add 2-3 products to cart
- Shopping Cart
- Click on Checkout with multiple addresses
- Login page -> Click on Create an account button
- Observe State/Province field

### Expected result (*)
State/Province drop down/Field should be appear

### Actual result (*)
State/Provin

[2021-03-31 05:05] krishprakash commented on #32628
@magento give me 2.4-develop instance

[2021-03-31 05:18] krishprakash commented on #32628
Able to Reproduce the issue

![image](https://user-images.githubusercontent.com/46617848/113093949-8005e700-920e-11eb-8987-a5230e219ae8.png)

[2021-03-31 05:20] magento-engcom-team commented on #32628
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41668` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-31 05:25] renard123 opened #32629 "Product count not appear on Mini cart"
Product count not appear on Mini cart

### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)
- As guest user add 2-3 products to cart
- Shopping Cart
- Click on Checkout with multiple addresses
- Login page -> Click on Create an account button
- Observe at mini cart

### Expected result (*)
Product count should be appear on mini cart

### Actual result (*)
https://prnt.sc/y4ut7w

---
P

[2021-03-31 05:26] magento-engcom-team commented on #32629
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41669` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-31 05:30] renard123 opened #32630 "Password strength not updating issue on register page"
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

- As guest user add 2-3 products to cart
- Shopping Cart
- Click on Checkout with multiple addresses
- Login page -> Click on Create an account button
- Create an account page -> Enter value in password
- Observe password strength not update

### Expected result (*)

Password strength should be updated as enter values

### Actual r

[2021-03-31 05:32] magento-engcom-team commented on #32630
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41670` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-31 05:36] samy-m-dev opened #32631 "Performance mview cataloginventory_stock_cl"
### Preconditions (*)

Magento 2.3

### Steps to reproduce (*)
1. Open a Product in admin
2. Save the Product in admin

### Expected result (*)
1. No new record in cataloginventory_stock_cl

### Actual result (*)
1. New record is created in cataloginventory_stock_cl

The problem is on $stockItem->addData($stockData);

The format of data differ from initial stockItem. (ex: qty 1.000 becomes 1). Whi

[2021-03-31 05:43] MagentoDevelopersUdaipur commented on #31312
Hi,

I am facing the same issue from past 5 days and I have Magento 2.4.1 and migrated data from Magento 1.9 to Magento 2.4.1 but the category and search pages are not opening.

Getting below issue:

Type Error occurred when creating object: Magento\Search\Model\EngineResolver, Argument 2 passed to Magento\Search\Model\EngineResolver::__construct() must be of the type array, null given, called in

[2021-03-31 05:44] renard123 opened #32632 "Page refresh on subscribe for footer newsletter section"
Page refresh on subscribe for footer newsletter section

### Preconditions (*)

1. Magento 2.4
2.

### Steps to reproduce (*)

- As guest user add 2-3 products to cart
- Shopping Cart
- Click on Checkout with multiple addresses
- Login page -> Click on Create an account button
- Create an account page -> Footer -> Newsletter section
- Without enter email click on Subscribe button
-
### Expected re

[2021-03-31 05:46] ihor-sviziev commented on #32631
Hi @webtekindo,
The tables with _cl suffix are used for MView indexing mechanism, and it absolutely expected that when you're saving some product - it adds a record that inventory should be reindexed.
Basically, it contains the data about items that should be re-indexed. More details here: https://magento.stackexchange.com/questions/164315/magento-2-tables-being-created-ending-in-cl

If you still

[2021-03-31 05:46] magento-engcom-team commented on #32632
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41671` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-31 05:49] ihor-sviziev commented on #32621
Hi @HumbertoGonc,
Unfortunately, it's not clear what issue do you have and what's working incorrectly.
Could you provide more details, maybe with some examples?
Thank you!

[2021-03-31 05:52] ihor-sviziev commented on #32629
Hi @renard123,
I just looked that you created multiple issues on the same page https://github.com/magento/magento2/issues/32629 https://github.com/magento/magento2/issues/32630 https://github.com/magento/magento2/issues/32632.
It looks like on this page some JS error appears. Could you confirm that and provide more info about that?

[2021-03-31 06:49] renard123 opened #32633 "Skipped Zip/Postal code in required fields"
Skipped Zip/Postal code in required fields

### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

- As guest user add 2-3 products to cart
- Shopping Cart
- Click on Checkout with multiple addresses
- Login page -> Click on Create an account button
- Create an account page
- Without enter any click on create account it focused on first name
- Enter 1st name click on create account it

[2021-03-31 07:27] webtekindo commented on #32631
@ihor-sviziev thank you I already understand the mechanism.

But when there's no change to data it should not trigger any partial reindexing.

The problem is on $stockItem->addData($stockData);

The format of data differ from initial stockItem. (ex: qty 1.000 becomes 1). Which will trigger hasDataChanges to be true, then save the stock item in database.

`public function execute(EventObserver $obs

[2021-03-31 08:32] salman231 commented on #12289
Any Update on this issue? I've like 2700 attributes , I've split them up into different groups but didn't work

[2021-03-31 08:38] ia-gaurav commented on #32627
@denchev  does it shows any setting in admin to do this also

[2021-03-31 08:44] denchev commented on #32627
@ia-gaurav No, this is only via CLI.

[2021-03-31 09:12] devchris79 commented on #32522
The order isn't random, but its not the case that a product appears in one category then the sort order is correct.

I have tested on our test installation and it appears the order is affected by the last time the product was edited. With the newest edit being placed last in the sort order. weird....

[2021-03-31 09:30] devchris79 commented on #31043
Sorting by position also doesn't work #32522.

[2021-03-31 10:05] ihor-sviziev commented on #32629
@magento give me 2.4-develop instance

[2021-03-31 10:15] ihor-sviziev commented on #32629
Oh, I see we have there following JS error:
![image](https://user-images.githubusercontent.com/1873745/113128929-00cede00-9223-11eb-828e-cd97a751a87e.png)
![image](https://user-images.githubusercontent.com/1873745/113129057-24922400-9223-11eb-8e8a-76694bdd14da.png)

It was caused by an incorrect JSON file - in the source code we see the following code:
![image](https://user-images.githubuserconten

[2021-03-31 10:19] ihor-sviziev commented on #32630
Hi @renard123,
This issue duplicates https://github.com/magento/magento2/issues/32629, as it happened on the same page and was caused by the same JS error https://github.com/magento/magento2/issues/32629#issuecomment-810950643.

I'm closing this issue as a duplicate

[2021-03-31 10:19] #32630 closed, assigned to ihor-sviziev

[2021-03-31 10:20] ihor-sviziev commented on #32632
Hi @renard123,
This issue duplicates https://github.com/magento/magento2/issues/32629, as it happened on the same page and was caused by the same JS error https://github.com/magento/magento2/issues/32629#issuecomment-810950643.

I'm closing this issue as a duplicate

[2021-03-31 10:20] #32632 closed, assigned to ihor-sviziev

[2021-03-31 10:20] magento-engcom-team commented on #32630
Hi @renard123, @ihor-sviziev.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41670` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-31 10:22] magento-engcom-team commented on #32632
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-31 10:22] davidandersson1 commented on #32385
We have fixed the issue!

It was one timezone file corrupted on the server(RDS), which now is fixed. and this did not reflected the correct time on PHP.
date_default_timezone_set('UTC');

[2021-03-31 10:24] ihor-sviziev commented on #32631
@webtekindo ok, now it's clear to me what you meant. Could you add all this info to the issue description?
Also as to me, it's not causing some performance issue, just does not need re-indexation for one specific product, which is a quite fast operation. I think we should put P3 priority for this issue.

[2021-03-31 10:41] ihor-sviziev commented on #32629
@renard123 FYI I prepared PR that fixes this issue https://github.com/magento/magento2/pull/32634

[2021-03-31 11:17] zakdma commented on #32628
@magento i am working on it

[2021-03-31 12:00] Eddcapone opened #32635 "Page Builder - bug caused when loading script block where end tags are not escaped"
### Preconditions (*)

1. 2.4.2 Enterprise

### Steps to reproduce (*)

1. Create a new template file:

    app\code\Company\Base\view\frontend\templates\scripts\bug.phtml

        <script>
        require([
            'jquery',
            'domReady!'
        ], function ($) {
	        $("body").append("<div>foobar1234</div>");
        });
        </script>

1. Create a new CMS site
2. Add a HTM

[2021-03-31 12:03] bgorski opened #32636 "JWK check limits possible use cases for the JWT Framework Adapter"
### Summary (*)
The way JWKs are checked in the JwsManager class when building JWTs limits possible use cases.
The thing is, we don't need algorithms set on the JWK object in order to add it to headers. The algorithm can be specified directly in headers themselves and it will work properly, resulting in generation of still valid JWS.
Also, because `Magento\Framework\Jwt\JwkFactory::createOct()` re

[2021-03-31 13:01] Usik2203 commented on #32636
@magento give me 2.4.2 instance

[2021-03-31 13:04] yvaliya commented on #32633
@magento I am working on this

[2021-03-31 13:06] enyceedanny commented on #25221
Just override those files in your custom module.

[2021-03-31 13:25] yvaliya commented on #32633
This issue will be fixed by #32634

[2021-03-31 14:26] Ouzned commented on #18458
This should never have been merged, it broke a basic and correctly working feature

[2021-03-31 15:32] khrystynastolbova commented on #32574
@magento I am working on this

[2021-03-31 15:33] #16202 closed, assigned to viktorpetryk

[2021-03-31 15:33] #27656 closed, assigned to ilnytskyi, zakdma

[2021-03-31 15:33] #32383 closed, assigned to engcom-Kilo

[2021-03-31 15:37] magento-engcom-team commented on #27656
Hi @ilnytskyi, @ilnytskyi, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33893` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-31 15:37] magento-engcom-team commented on #16202
Hi @hostep, @victorpetryk.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40780` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-31 15:38] magento-engcom-team commented on #32383
Hi @jeredmilla, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41177` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-31 17:05] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-03-31 17:38] sivaschenko commented on #32578
@sidolov @gabrieldagama @ihor-sviziev priority is set to P2 as this issue not only affect the dev experience but also can lead to potential errors during codebase analysis, design and automation.

[2021-03-31 18:36] Usik2203 commented on #32636
@magento give me 2.4.2 instance

[2021-03-31 18:45] hostep commented on #29520
Exact steps to reproduce:

1. Create 3 products in the backend of Magento, use these values:

**name**|**sku**|**url\_key**
-----|-----|-----
Product 1|product 1|product-1
Product 2|product 2|product-2
Product 3|product 3|product-3

2. Create the following csv file:

[code]

3. In the backend, go to System > Data Transfer > Import
4. Use Entity Type => Products, Import Behavior => Add/Update and l

[2021-03-31 19:59] ia-gaurav commented on #32627
@denchev  thanks it worked

[2021-03-31 22:24] #31196 closed, assigned to KrishnaK-Z

[2021-03-31 22:25] #28552 closed, assigned to amolina-adobe

[2021-04-01 05:08] webtekindo commented on #32631
@ihor-sviziev yes I agree this is not a very severe issue. But when Magento is connect to a PIM or an ERP and makes a lot of updates, sometimes mview indexing may have difficulty to keep up to date

[2021-04-01 06:58] AngeloZou opened #32641 "Magento 2.4.2 How to hide duplicate pictures when the product color is switched"
Hi everyboby,
I use Magento2.4.2. When the product is configurable, the default picture will be displayed repeatedly when switching colors. How to hide duplicate pictures when the product color is switched. No third-party extensions are used.

https://prnt.sc/111a244
https://prnt.sc/111a3fv
https://prnt.sc/111a4f2
Link url: http://devm2php74.tk/magento241/radiant-tee.html

[2021-04-01 07:20] Usik2203 commented on #32636
@magento give me 2.4.2 instance

[2021-04-01 08:04] choussamaster commented on #25182
I confirm the bug still open on magento 2.4.1 french language, for expiration date field on edit backoffice user page
![image](https://user-images.githubusercontent.com/750352/113263133-af315c80-92d1-11eb-9a70-f0028bbcdba1.png)

[2021-04-01 08:37] Eddcapone commented on #32480
@aligent-skumar Thx, what content needs to be in the .phtml file from the block `test.email.viewmodel` and how do I know what code is required for the view_model?

[2021-04-01 08:42] Eddcapone commented on #32480
Thank you it worked :) But I had to omit the `arguments` section, not sure why I one would need them.

[2021-04-01 09:17] ilnytskyi opened #32642 "Performance problem whith checkout CompositeConfigProvider"
### Preconditions (*)

1. any magento version 2.x.x, 2.4.x
2.
Magento core code and module vendors do not care about checking if certain features are enabled or not for checkout.
See method https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Checkout/Model/CompositeConfigProvider.php#L35
Vendors add their config classes via DI then magento core code just retrieve all configs in t

[2021-04-01 09:39] pooshok commented on #7990
As usual the fix was overwrited in future releas :roll_eyes:
Issue still the case in 2.4.1

[2021-04-01 09:56] AngeloZou commented on #6195
Magento 2.4.2 the same problem exists. Do you have a solution?

[2021-04-01 10:02] AngeloZou commented on #6195
Hi everyboby,
I found a solution, modify your magento2.4.2 view.xml
app/design/frontend/yourtheme/yourtheme/etc/view.xml
`    <vars module="Magento_ConfigurableProduct">
        <var name="gallery_switch_strategy">prepend</var>
    </vars>`
change into
`    <vars module="Magento_ConfigurableProduct">
        <var name="gallery_switch_strategy">replace</var>
    </vars>`

It works fine.

[2021-04-01 10:12] AngeloZou commented on #32641
Hi everyboby,
I found a solution, modify your magento2.4.2 view.xml
app/design/frontend/yourtheme/yourtheme/etc/view.xml
`<vars module="Magento_ConfigurableProduct"> <var name="gallery_switch_strategy">prepend</var> </vars>`
change into
`<vars module="Magento_ConfigurableProduct"> <var name="gallery_switch_strategy">replace</var> </vars>`

It works fine.

[2021-04-01 10:40] m2-assistant[bot] opened #32643 "[Issue] [Multishipping] Providing test coverage for correctly rendering the customer create page on multiple shipping"
This issue is automatically created based on existing pull request: magento/magento2#32638: [Multishipping] Providing test coverage for correctly rendering the customer create page on multiple shipping

---------

### Description (*)
This PR aims to provide a test coverage for #32634 PR.

Coverage for: https://github.com/magento/magento2/pull/32634

### Related Pull Requests
https://github.com/mag

[2021-04-01 10:40] knsalim commented on #28154
@kpitn  @jonaschen623

http://***/customer/section/load/?sections=w%2Ci%2Cs%2Ch%2Cl%2Ci%2Cs%2Ct&_=1594592363309

decode = http://***/customer/section/load/?sections=wishlist&_=1594592363309

for this issues i just removed the comma(under join) in customer-data.js the issues is fixed for me

before change
 **sections: sectionNames.join(',')**

after change
 **sections: sectionNames.join('')**

[2021-04-01 10:40] magento-engcom-team commented on #32643
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41696` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-01 11:04] mrtuvn commented on #32641
Seem this may not bug

[2021-04-01 11:17] Usik2203 commented on #32636
@magento give me 2.4.2 instance

[2021-04-01 11:19] DenisSaltanahmedov commented on #32011
@magento I am working on this

[2021-04-01 11:19] Usik2203 commented on #32635
@magento give me 2.3.5-p2 instance

[2021-04-01 11:22] Usik2203 commented on #32635
@magento give me 2.3.5 instance

[2021-04-01 11:34] m2-assistant[bot] opened #32644 "[Issue] Fixes composer.lock file which does not contain web-token/jwt-framewo…"
This issue is automatically created based on existing pull request: magento/magento2#32639: Fixes composer.lock file which does not contain web-token/jwt-framewo…

---------
…rk package and its dependents even though composer.json does require it.

### Description (*)
The `composer.lock` file in the `2.4-develop` branch is incomplete.

[MC-38539](https://github.com/magento/magento2/commit/04a58901

[2021-04-01 11:34] magento-engcom-team commented on #32644
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41698` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-01 11:48] piorus opened #32645 "Amazon Sales Channel fails to import orders when using Fulfilment By Amazon (FBA)"
### Preconditions (*)

1. Create Store in Amazon Sales Channel and connect it with Amazon Seller Central store
2. Set  order import to `Yes`
3. Have at least one Amazon order with the status `Shipped` on the Amazon

### Steps to reproduce (*)

Amazon Sales Channel fails to create Magento orders during order synchronization when using FBA (Fulfilment by Amazon).

Following error occurs for all of t

[2021-04-01 12:44] bgorski commented on #32636
@Usik2203 if you're trying to confirm the issue reported here, you won't find it in 2.4.2, the JwtFrameworkAdapter module and the Jwt part of the framework are available only in 2.4-develop:
https://github.com/magento/magento2/tree/2.4-develop/app/code/Magento/JwtFrameworkAdapter
https://github.com/magento/magento2/tree/2.4-develop/lib/internal/Magento/Framework/Jwt

Besides, the JWT-related featu

[2021-04-01 13:22] m2-assistant[bot] opened #32647 "[Issue] MC-41439: 7.3 compatibility fix."
This issue is automatically created based on existing pull request: magento/magento2#32646: MC-41439:  7.3 compatibility fix.

---------

### Description (*)

\Magento\GroupedImportExport\Plugin\CatalogImportExport\Model\StockItemImporter\UpdateGroupedProductStockStatusPlugin breaks compatibility with PHP 7.3

### Related Pull Requests

### Fixed Issues (if relevant)

1. None

### Manual testing s

[2021-04-01 13:28] magento-engcom-team commented on #32647
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41700` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-01 14:23] m2-assistant[bot] opened #32649 "[Issue] Newrelic api change"
This issue is automatically created based on existing pull request: magento/magento2#32648: Newrelic api change

---------
### Description (*)

New Relic has an possibility to setup deployment markers.
But this feature is not working anymore, cause NewRelic changed API some time ago and current implementation is useless.

I changed Modue to work with a new API.

More info:
https://docs.newrelic.co

[2021-04-01 14:36] shikhamis11 commented on #32641
@magento give me 2.4-develop instance

[2021-04-01 14:56] shikhamis11 commented on #32641
@magento give me 2.4-develop instance with edition ee

[2021-04-01 14:57] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-04-01 15:11] shinesoftware opened #32651 "Reorder feature in the administration page thrown an error when a product is out of stock"
### Preconditions (*)
- Magento versions >= 2.3.6
- No MSI

### Steps to reproduce (*)
1. Create a product with one in the quantity
2. Create Test Product, in stock, Qty 1
3. Create Test Customer
4. Create Test Order in Adminhtml and assign the Test Customer
5. Complete the order
6. Click at the REORDER button

### Expected result (*)
- Magento creates a new order showing a nice error close the pr

[2021-04-01 15:20] shinesoftware commented on #32651
@magento give me 2.4-develop instance

[2021-04-01 15:35] shinesoftware commented on #32651
I have tested the latest version 2.4-develop and seems that the issue is not affect this version.

![image](https://user-images.githubusercontent.com/1553035/113318276-985e2a80-9310-11eb-8927-3a2069dc2b00.png)

[2021-04-01 15:40] shikhamis11 commented on #32641
@AngeloZou Thank you for reporting this, but it seems to be default behavior and not an issue. So I am closing this issue

[2021-04-01 15:41] shinesoftware commented on #32651
@magento I am working on this

[2021-04-01 15:41] #32641 closed, assigned to nobody

[2021-04-01 15:41] shinesoftware commented on #32651
@magento add to contributors team

[2021-04-01 15:50] adhuerta opened #32652 ""contact us" not working"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-04-01 17:47] shinesoftware commented on #32651
I can confirm that Magento 2.4-develop doesn't show the error as mentioned before even when the MSI is completely disabled.

![Selection_292](https://user-images.githubusercontent.com/1553035/113333652-fc89ea00-9322-11eb-8524-fea6a9f0efc7.jpg)

[2021-04-01 19:30] cpartica commented on #32574
hi @khrystynastolbova , please sync with @eduard13 because he's also working on it

[2021-04-01 19:43] eduard13 commented on #32574
Hi @cpartica, it’s fine here, I’ve delegated this one to her (she’s also from Atwix), as currently don’t have too much free time.

Thank you.

[2021-04-02 01:26] HumbertoGonc commented on #32621
Hi Ihor,

Sorry for my late answer.

I’ve redone my solution.

I’ve created a type of user – “distributor”.

When a “distributor” is created, a new customer_group associated to this “distributor” is also created.

When this “distributor” is creating a new customer in the backend:

Sales -> Orders -> Create New Order -> Create New Customer

The filter works, and the presents an unique group in “Acc

[2021-04-02 04:48] allforcode commented on #7467
The issue still exists in 2.3.6-sp1.
\Magento\Framework\Filesystem\Driver\File::filePutContents
    /**
     * Write contents to file in given path
     *
     * @param string $path
     * @param string $content
     * @param string|null $mode
     * @return int The number of bytes that were written.
     * @throws FileSystemException
     */
    public function filePutContents($path, $content, $m

[2021-04-02 05:30] peteandmad opened #32654 "Can't add product via rest api with nginx server"
### Preconditions (*)
1. Magento 2.3.5-p2.
2. Nginx web server.

### Steps to reproduce (*)
1. Try using rest api to add product to cart.

### Expected result (*)

1. product add to cart successfully.

### Actual result (*)

1. appears this log error
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue a

[2021-04-02 05:39] milanu13 opened #32655 "Login/Registration success/error message not showing in Magento version 2.3.6-p1"
### Preconditions (*)

1. Magento version 2.3.6-p1
2. Mac OS, PHP 7.3.24, Apache: 2.4.41, MySQL: 5.7.22

### Steps to reproduce (*)

1. Go customer registration page and register a new customer.
2. Go to the login page and try to login with the wrong email or password.
3. Add mail to the subscription form in the footer.

### Expected result (*)

1. Session message should be shown for login, custom

[2021-04-02 05:52] peteandmad commented on #32654
For more Information I was already install

`apt-get install -y php7.2-bcmath`

[2021-04-02 06:09] ihor-sviziev commented on #32631
@webtekindo, thank you for the additional info! It will be really useful!

[2021-04-02 06:10] ihor-sviziev commented on #32621
@HumbertoGonc, thank you for the additional info. May I ask you to update the issue description with this data? It will be so helpful during prioritization

[2021-04-02 06:13] m2-assistant[bot] opened #32656 "[Issue] [Customer] Fixed customer module related mftf tests"
This issue is automatically created based on existing pull request: magento/magento2#32606: [Customer] Fixed customer module related mftf tests

---------

### Description (*)

1.
[code]
2.
[code]
3.
[code]

Tests crashing by:
1. DOB config could be disabled in configs
2. Gender config could be disabled in configs
3. Show prefix config could be disabled in configs

### Related Pull Requests
https:

[2021-04-02 06:39] mrtuvn commented on #32652
Can you add some content following structure?

[2021-04-02 07:31] chickyd3v commented on #26377
Hi guys, how to implement this samesite fix for 2.4.0?

[2021-04-02 07:56] shinesoftware commented on #32651
Hello guys,

after spending some hour to debug the issue we have created a little free module that fix the issue for all the Magento 2.3.6 and above versions 'till < 2.4.0 version. You can download the fix here: https://bitbucket.org/shinesoftware/inventoryfix/src/master/

regards

[2021-04-02 08:26] m2-assistant[bot] opened #32657 "[Issue] Make sure all 301 url redirects get generated when importing more the…"
This issue is automatically created based on existing pull request: magento/magento2#32640: Make sure all 301 url redirects get generated when importing more the…

---------
…n one product at the same time while using the 'save_rewrites_history' flag.

### Description (*)
Importing multiple products at once while changing their `url_key` and try to generate a 301 redirects (due to setting the `sav

[2021-04-02 10:25] magento-engcom-team commented on #32657
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41714` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-02 11:01] m2-assistant[bot] opened #32658 "[Issue] Modified the PR template to include README.md update reqirement if necessary"
This issue is automatically created based on existing pull request: magento/magento2#32610: Modified the PR template to include README.md update reqirement if necessary

---------
### Description (*)
With the introduction of the [README.md template](https://github.com/magento/devdocs/wiki/Magento-module-README.md), there is a requirement of describing module installation, structure and extension p

[2021-04-02 11:19] magento-engcom-team commented on #32658
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41715` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-02 12:50] chirag-taraviya commented on #26375
Issue is still in Magento 2.4.2 EE.

[2021-04-02 14:49] vertic4l opened #32662 "[Issue] unable to save product (changes)"
### Preconditions (*)
Magento 2.4.1

### Expected result (*)
Saving a product in backend doesn't end with an error message:
"Make sure the To Date is later than or the same as the From Date"

### Actual result (*)
error message occurs and product does not get saved

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users without workaround._
- [x] Severity: **S1** _- Affe

[2021-04-03 02:04] panoramik707 opened #32663 "Taxes not getting applied at the end of transaction.."
Taxes are not applied at the end of order sales amount.
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. https://drive.google.com/file/d/1FrKXfLjFJy8qCnLRvx7s-x12j7D2DYxO/view?usp=sharing
2.

### Actual result (*)

1. [](url)
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/

[2021-04-03 09:35] WebHostingAce opened #32664 ""You already have an account with us. Sign in or continue as guest." for Guest once Proceed to Payment"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Guest customer
2. Add a Product to the Cart
3. Proceed to Checkout
4. Fill the Shipping Address
5. "Next" proceed to payment.
6. Go back to the any other page on the website.
7. Proceed to checkout again
8. The message "You already have an account with us. Sign in or continue as guest." will appear with the password field.

##

[2021-04-03 09:41] #32664 closed, assigned to nobody

[2021-04-03 14:45] smartsanjay commented on #32536
@magento I am working on this

[2021-04-03 14:45] smartsanjay commented on #32536
@magento add to contributors team

[2021-04-03 17:40] Giacomo420 opened #32665 "Problem with catalog rules magento 2.3.4"
For several months, every time we set the catalog rules they apply correctly, then after 48h they deactivate by themselves, even if the setting provides for a more distant deadline. To restart them I tried to save and apply them again and then clear the cache several times, in some cases it temporarily solved the problem but it is not always enough.
the rules specifically provide for discounts eac

[2021-04-03 22:15] farrukhk commented on #31117
We stopped using MSI because of the same bug when MSI was first introduced. It is very unfortunately to see that in such a long time magento was not able to fix this simple issue. We are Enterprise customer but still there is no solution to this problem.
Now with 2.4.2 we have no choice but to use MSI as if we disable MSI, categories can't be accessed in backend.

[2021-04-04 05:08] ioweb-gr commented on #31117
I don't get why some issues which impact so many users don't get delivered as quality patches

[2021-04-04 11:58] bampisSyk commented on #15545
The issue persists in 2.3.6p1 , and the patch doesnt seems to fully resolves it

[2021-04-04 12:50] n2diving-dgx opened #32666 "No two factor authentication (2FA) option available to customers to secure their account login"
M2.3 includes an optional 2FA extension to further secure back-end user logins and with M2.4 a fully integrated 2FA was made required for back-end login. However, front-end customer logins still do not natively offer a similar 2FA option. There appear to be no third party extension solutions available from trusted Adobe certified partners, although there are a couple of "freeware" extensions publi

[2021-04-05 06:19] mrtuvn commented on #15115
@sdzhepa @zakdma Can you share commit related with PR for the fix ?
cc: @duckchip can this issue reproducible in 2.4-develop

[2021-04-05 07:07] magento-engcom-team commented on #32034
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41744` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-05 07:53] pratikvs opened #32667 "Validation message not displayed in the Calendar widget"
**Preconditions**

- Install Magento version 2.4.2
- Create a module to display a custom form . This form has  a calendar field in it. The field is created as per mention in magento devdocs link. Please refer to this link [https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget_calendar.html]
- Added class required , required-entry to the all the text fields including the Calen

[2021-04-05 07:58] pratikvs commented on #32667
I have updated the issue please check.

[2021-04-05 10:20] DevAwesomeK commented on #26375
This issue is still exists in Magento 2.4.2 EE.

[2021-04-05 10:44] rahulbarotk opened #32668 "Javascript function text renders in front-end checkout payment section billing-address"
On checkout payment page  in customer billing address javascript code gets rendered to the page when Google Tag Manager is enabled.

**Preconditions (*)**

- Magento 2.4.2 EE installed
- Google Tag Manager is enabled

**Steps to reproduce (*)**

- Enable and configure Google Tag Manager
- Add a product to cart
- Go to checkout
- Proceed to payment step

**Expected result (*)**
The address has corr

[2021-04-05 10:46] DevAwesomeK commented on #32668
@magento give me 2.4-develop instance

[2021-04-05 11:09] magento-engcom-team commented on #32667
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41745` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-05 11:18] tuanpt-0634 commented on #30214
@arsalanworld Hi, we have same issue, did you solve it?

The commit introduce this bug is: https://github.com/magento/magento2/commit/f5a7ac98dadb79e5c994fee06a5e03b8346e1671#diff-a77f91c3444a6de1de363aee3ec34916d30641fe4d3831c7d1b759a570017fb1L114

[code]

But we cannot know the reference issue on that commit

@magento-engcom-team Could you check this?

[2021-04-05 11:20] mrtuvn commented on #32668
You can reproduce issue here when magento only deploy community version! Current i think magento not support deploy commerce edition here

[2021-04-05 11:26] eduard13 commented on #32667
Hi @pratikvs, as a simple workaround, you may simply add a hidden `button` after the date field, as result, you'll have the error message shown.

Looks like the issue states around these lines.
https://github.com/magento/magento2/blob/be82efbbc04ba9e6619687a4f8742e1035112c5c/lib/web/mage/validation.js#L1873-L1876

Thank you.

[2021-04-05 11:53] sm7297 commented on #32361
Can you anyone help me out figuring solution for this issue.

[2021-04-05 12:19] magento-engcom-team commented on #32024
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41746` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-05 12:37] magento-engcom-team commented on #32025
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41747` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-05 13:07] magento-engcom-team commented on #32026
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41748` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-05 15:44] mrtuvn commented on #32635
![Screenshot from 2021-04-05 22-43-34](https://user-images.githubusercontent.com/1908873/113593237-6296aa00-9660-11eb-887a-b0a047fac761.png)
My quicktest with 2.4-develop open source

[2021-04-05 18:52] #31222 closed, assigned to nobody

[2021-04-05 18:52] #31217 closed, assigned to nobody

[2021-04-05 18:54] ioweb-gr commented on #22392
The issue still exists for me

[2021-04-06 02:12] mrtuvn commented on #32068
i think we can go change to $(html) or $(document) should be fine for apply call

[2021-04-06 05:42] ajijshekh123 commented on #32652
Hello @adhuerta,
Please add your bugs in the below Magento Issue reporting guidelines.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Thanks.

[2021-04-06 06:31] ihor-sviziev commented on #32668
FYI it looks like there were few similar reports in past: https://github.com/magento/magento2/issues/31916 https://github.com/magento/magento2/issues/26375

[2021-04-06 06:33] ihor-sviziev commented on #32668
@mrtuvn you can request b2b or ee version https://devdocs.magento.com/contributor-guide/contributing.html#customize-deployed-instances

[2021-04-06 07:11] sheshagiricorra commented on #18251
Same issue for the customer login in 2.3.6-p1

[2021-04-06 08:25] Eddcapone commented on #32635
@mrtuvn You have to do it with page builder exactly like in my instructions.

[2021-04-06 08:32] Eddcapone opened #32669 "Customer Group Price - Price is not getting updated on QTY change"
### Description (*)

You can create products with grouped prices, for example like this:

![image](https://user-images.githubusercontent.com/16349349/113681933-dc5f7f80-96c2-11eb-9eab-c63ee6f1e0a5.png)

### Expected behavior (*)

If you open the product in the frontend and update the QTY, then the price should change accordingly.
At the moment nothing happens.

![demo](https://user-images.githubus

[2021-04-06 08:52] ajijshekh123 commented on #32669
@magento give me 2.4-develop instance

[2021-04-06 09:04] magento-engcom-team commented on #32028
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41764` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-06 09:25] magento-engcom-team commented on #32022
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41765` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-06 09:40] adam-paterson commented on #23553
@magento give me 2.3.5-develop instance

[2021-04-06 09:46] julien410gone commented on #32607
This issue seems to be related to the In-Store delivery method, preventing Stripe to work properly.

I am not able to test on the given Magento instance because of Stripe was not installed on it.

Could someone help us please?

[2021-04-06 09:49] madonzyaccenture opened #32670 "RabbitMQ reject doesn't work on consumer exception"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Run any bulk WEBAPI import
2. Start the consumer
3. Within consumer throw an exception

### Expected result (*)
1. Message should returned to the queue

### Actual result (*)
1. Message was not returned to the queue, thus lost

Here is a code that explains that if an exception was thrown, then reject the message: vendor/magento/

[2021-04-06 10:01] m2-assistant[bot] opened #32671 "[Issue] Ensure string is returned when applying filter to email template"
This issue is automatically created based on existing pull request: magento/magento2#32298: Ensure string is returned when applying filter to email template

---------

### Description (*)
Added string casting within the email template filter method to ensure the return value is a string.
Currently if an exception is caught while not in developer mode a Phrase object is returned. This in turn trig

[2021-04-06 10:02] magento-engcom-team commented on #32671
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41766` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-06 10:34] ajijshekh123 commented on #32669
Hello @Eddcapone,
The issue has been reproduced on the latest Magento 2.4 Instance.

See attached the screenshot:

![image](https://user-images.githubusercontent.com/24711761/113698076-b4d3db80-96f1-11eb-8283-ca620381972d.png)

![image](https://user-images.githubusercontent.com/24711761/113698117-bd2c1680-96f1-11eb-841c-fbe7a1e0f5e3.png)

Thanks.

[2021-04-06 10:36] magento-engcom-team commented on #32669
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-06 10:38] magento-engcom-team commented on #32669
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-04-06 10:42] leonhelmus commented on #11657
Still needed this post since i had problems trying to import stores...

[2021-04-06 10:53] #22737 closed, assigned to nobody

[2021-04-06 10:55] magento-engcom-team commented on #32669
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41767` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-06 11:37] ioweb-gr commented on #31172
Not stale. The issue still exists and intefering with custom grids for reports and ease of use.

[2021-04-06 11:54] amcguireweb commented on #32180
It's not just the pagination and the counts. You also can't use the Search by Keyword search box. If you do, it just spins, and it sets a record in the ui_bookmark table requiring you to delete the record before the page will load again.

[2021-04-06 12:01] asrindayananda commented on #31763
Issue still relevant

[2021-04-06 12:39] magento-engcom-team commented on #32048
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41769` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-06 13:03] gabrieldagama opened #32672 "Mark classes and interfaces as API part 4"
Mark the following classes and interfaces as APIs

1. Magento\Framework\Data\Form\Element\Factory
1. Magento\Customer\Controller\Adminhtml\Index
1. Magento\Sales\Model\Order\Email\Sender\OrderSender
1. Magento\Sales\Model\Order\Email\Sender\InvoiceSender
1. Magento\Customer\Model\Url
1. Magento\Framework\UrlFactory
1. Magento\Cms\Model\Template\FilterProvider
1. Magento\Sales\Model\Service\Invoice

[2021-04-06 13:05] magento-engcom-team commented on #32672
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41770` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-06 13:07] gabrieldagama opened #32673 "Mark classes and interfaces as API part 5"
The following interfaces should be marked as API

1. lib/internal/Magento/Framework/App/Config/ValueInterface.php - Also, remove the comments related to not marking it as @api.
2. lib/internal/Magento/Framework/MessageQueue/ConsumerConfigurationInterface.php
3. lib/internal/Magento/Framework/View/DesignInterface.php
4. lib/internal/Magento/Framework/Webapi/CustomAttributeTypeLocatorInterface.php

[2021-04-06 13:11] Naberdz opened #32674 "Double ui component with product_form.xml"
### Preconditions (*)

1.  Magento 2.4.2
2. PHP 7.4

### Steps to reproduce (*)

1. Create custom attribute
[code]
2. Create ui element for this attribute
[code]

### Expected result (*)

1. ui element should overwrite existing element with new functionality
2.

### Actual result (*)

1. Have double component
2. If i change one, another also changes value
<img width="361" alt="Schermafbeelding 202

[2021-04-06 13:23] gabrieldagama opened #32675 "Mark classes and interfaces as API part 6"
Mark the following classes and interfaces as API:

1. Magento\Checkout\Model\Type\Onepage
1. Magento\Framework\Image\AdapterFactory
1. Magento\Catalog\Model\Config
1. Magento\Customer\Model\CustomerRegistry
1. Magento\Quote\Setup\QuoteSetup
1. Magento\Ui\Component\Control\Container
1. Magento\Catalog\Model\Layer\Filter\Item

[2021-04-06 13:26] gabrieldagama opened #32676 "Mark classes and interfaces as API part 7"
The following classes and interfaces should be marked as API

1. Magento\Framework\App\Area
1. Magento\Framework\Api\SearchCriteriaBuilder
1. Magento\Framework\Module\Manager
1. Magento\Framework\HTTP\Client\Curl
1. Magento\Framework\Controller\Result\Forward
1. Magento\Framework\Filesystem\Io\File
1. Magento\Framework\DataObject\Factory
1. Magento\Framework\Webapi\Exception
1. Magento\Framework\D

[2021-04-06 13:29] magento-engcom-team commented on #32035
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41771` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-06 14:20] lykciv commented on #30983
yes, the issue is still relevant

[2021-04-06 15:42] mrtuvn commented on #32676
Which target branch should we created for this  PR

[2021-04-06 15:44] hostep commented on #15115
@mrtuvn: Commits tagged with MC-39765: https://github.com/magento/magento2/search?q=MC-39765&type=commits (I already mentioned this 4 posts ago 😉 )

@nickpiro, the Persistent module is definitely still a default Magento module in 2.3.6 (make sure you didn't disable this module in your `app/etc/config.php` file or removed it with a `replace` trick in your `composer.json` file)

[2021-04-06 16:06] mrtuvn commented on #31742
seem not stale and we may need more investigate on this scenario
Maybe create PR following suggest by https://github.com/magento/magento2/issues/31742#issuecomment-762222658

[2021-04-06 16:11] mrtuvn commented on #15115
oh i don't recognise that! Thank you for mention

[2021-04-06 16:28] #31567 closed, assigned to nobody

[2021-04-06 16:28] #29713 closed, assigned to nobody

[2021-04-06 16:29] gwharton commented on #29258
Grrrrr

[2021-04-06 16:30] magento-engcom-team commented on #31567
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-06 16:39] #31177 closed, assigned to sergiynezbritskiy, engcom-Kilo

[2021-04-06 16:59] julien-jourde commented on #32180
Hello,
The Issue still persist when you reload the filtered page despite of removing `getSize` method on `app/code/Magento/Catalog/Ui/DataProvider/Product/ProductCollection.php`.

[2021-04-06 17:03] tim-breitenstein-it commented on #12298
Can confirm, still exists in 2.4.2

[2021-04-06 20:22] vitaliy-golomoziy opened #32677 "Reservation duplication for virtual products"
### Preconditions (*)
Magento version: 2.3.6

1. Create a virtual product that has inventory
2. Configure Authorize.net payment method (or any method that captures an order and creates an invoice)

### Steps to reproduce (*)

1. Place an order for a qty=1 of the virtual product created above with a credit card so that invoice is created automatically

### Expected result (*)
1. One reservation pla

[2021-04-06 20:32] #31956 closed, assigned to engcom-Kilo

[2021-04-06 20:32] #32102 closed, assigned to mastiuhin-olexandr

[2021-04-06 21:01] elidrissidev opened #32678 "[Question] Where does GraphQL Schema Directives get parsed?"
Sorry for opening this as an issue although it isn't really, since the discussions tab is not available.

So I'm working on a GraphQL extension for Magento 1 and I was learning from this repository how it's being implemented, but I'm stuck in one part that has to do with Schema Directives, I don't understand where they get parsed. Right now with my M1 implementation, I'm getting an error `Unknown

[2021-04-06 21:50] 4ctobias opened #32679 "setup:upgrade --dry-run does not work as expected by other dry-run-commands in Linux-environment"
Hi,

today a colleague of mine started a setup:upgrade with the parameter --dry-run and expected no database changes either. But in fact we got some database changes that in the specific case turned out our production instance went offline due too some issues with an updated module.

After a investigation we found out the dry-run-parameter expects an optional parameter that will be converted to a

[2021-04-06 22:34] SmokinX commented on #31576
Well, starting to really dislike everything about Magento... after a day of troubleshooting and searching for answers.
What most strikes me is threads like this: you have an issue and you'd like to report it. But then then 'the internet cops' show up and demand you do this and that and such and so. Terrible. Instead of pissing people of, make yourself usefull and try it yourself.

Now, to business

[2021-04-06 23:08] #29562 closed, assigned to nobody

[2021-04-06 23:10] jonashrem commented on #31656
I think this still has some relevance @ Stale Bot

[2021-04-06 23:13] mrtuvn commented on #32673
@magento I am working on this

[2021-04-06 23:15] mrtuvn commented on #32675
@magento I am working on this

[2021-04-06 23:24] mrtuvn commented on #32672
@magento I am working on this

[2021-04-07 01:08] #31577 closed, assigned to nobody

[2021-04-07 04:02] yvaliya commented on #32679
@magento I am working on this

[2021-04-07 04:08] yvaliya commented on #32679
If said in short, you are supposed to pass the value of the flag like `--dry-run=1` or `--dry-run 1`.

Magento uses the `Symfony` framework for command-line utility. And as per the `Symfony` documentation, you can use an option without value if the type of the option is set to `\Symfony\Component\Console\Input\InputOption::VALUE_NONE`. But the type of the option `dry-run` is set to `\Symfony\Compo

[2021-04-07 04:36] krishprakash commented on #32678
Hi @elidrissidev. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer[ community forum](https://community.magento.com/) or magento [stack exchange](https://magento.stackexchange.com) for general discuss about this topic. You will surely get help from anybody

[2021-04-07 04:36] #32678 closed, assigned to krishprakash

[2021-04-07 04:44] krishprakash commented on #32662
@magento give me 2.4-develop instance

[2021-04-07 05:51] ihor-sviziev commented on #32643
Hi,

The issue was already fixed in https://github.com/magento/magento2/commit/461509df6db50edf65de181ecb7decc27519a748. I'm closing this issue as it's not relevant anymore

[2021-04-07 05:51] #32643 closed, assigned to nobody

[2021-04-07 05:52] ihor-sviziev commented on #32629
Hi,

This issue was fixed in https://github.com/magento/magento2/commit/461509df6db50edf65de181ecb7decc27519a748.

[2021-04-07 05:52] #32629 closed, assigned to nobody

[2021-04-07 05:52] ihor-sviziev commented on #32630
Hi,

This issue was fixed in https://github.com/magento/magento2/commit/461509df6db50edf65de181ecb7decc27519a748.

[2021-04-07 05:52] ihor-sviziev commented on #32632
Hi,

This issue was fixed in https://github.com/magento/magento2/commit/461509df6db50edf65de181ecb7decc27519a748.

[2021-04-07 05:53] magento-engcom-team commented on #32643
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41696` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-07 05:53] magento-engcom-team commented on #32629
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-07 06:24] hostep commented on #31752
I can confirm this, just looked at a shop running on Magento 2.3.6-p1, the table `catalogrule_product_price_replica` contains 78198 records, the oldest date in the `rule_date` column is the day before we upgraded this shop from 2.1.16 to 2.3.6-p1, so it looks like before 2.3.6 the table got cleaned up, but since the upgrade to 2.3.6, the cleanup no longer happens.

Sounds like quite an important p

[2021-04-07 06:35] #32628 closed, assigned to zakdma

[2021-04-07 06:37] magento-engcom-team commented on #32628
Hi @renard123, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-41668` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-07 06:41] 4ctobias commented on #32679
@yvaliya Confirm.

In short: It should be same as for the --keep-generated-parameter: If specified the mode should be applied, a definition of a further value is not required to enable this mode.

[2021-04-07 06:45] krishprakash commented on #32662
Hi @vertic4l. Thank you for your report.
Could you please provide steps to reproduce so it will help in issue verification

[2021-04-07 07:03] genseo2 opened #32683 "Magento ver. 2.3.6 - A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Summary (*)

### Examples (*)

### Proposed solution

- [x] Severity: **S1** _- Affects critical data or functionality and forces users to employ a workaround._
---
- [ ] Severity: **S1** _- Affects critical data or functionality and forces users to employ a workaround._
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment fo

[2021-04-07 07:06] genseo2 commented on #32683
Please advise and help me with this. thanks1

[2021-04-07 07:16] magento-engcom-team commented on #32673
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41798` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-07 08:25] ihor-sviziev commented on #25865
As we didn't get any confirmation that the issue still valid - I'm closing this issue.

[2021-04-07 08:25] #25865 closed, assigned to ihor-sviziev

[2021-04-07 08:56] magento-engcom-team commented on #27216
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35995` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-07 08:58] magento-engcom-team commented on #32014
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41802` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-07 09:11] roopemerikukka commented on #24418
Someone should probably update the REST API documentation to match the deprications.

[2021-04-07 09:36] Eddcapone commented on #32480
I have to reopen the issue. I noticed that you can't use code like this in the template if you include it via layout directive:

`{{config path='general/store_information/postcode'}} {{config path='general/store_information/city'}}`

[2021-04-07 10:15] MageParts opened #32685 "config_path tag expects value to start with payment/"
### Preconditions (*)

CE 2.4.0

### Steps to reproduce (*)

1. To your system.xml, add a field section with a **config_path** tag containing a value like "yada/something/whatever".
2. Go to the configuration in the admin panel and apply a value while in the default scope.
3. Change scope to the default store view.
4. Overwrite the value, save the config and wait for reload.
5. Tick the "Use websi

[2021-04-07 10:45] kennysinkeler commented on #32530
I see this in the source (from the browser)
[code]
This is as the button show(it does sometime)
[code]

[2021-04-07 11:36] korovitskyi commented on #32040
@magento I am working on this

[2021-04-07 11:42] kennysinkeler commented on #2739
Does anyone have a (quick) fix?
I have the same problem on 2.4.2

[2021-04-07 11:47] korovitskyi commented on #32676
@magento I am working on this

[2021-04-07 11:48] robbie-thompson commented on #22311
Still relevant

[2021-04-07 13:29] dverkade commented on #5351
I've fixed this issue by changing the tx_isolation to "READ-COMMITTED" instead of the default value of InnoDB.

[2021-04-07 14:05] ihor-sviziev commented on #32654
Hi @peteandmad,
It looks like you don't have installed one of the required PHP extensions.
Could you try to run the `composer install` command? It should say which extension you have missing.

[2021-04-07 15:51] marvinhinz opened #32687 "\Magento\Framework\Url.php::getUrl uses wrong scope with EnvironmentEmulation"
### Preconditions (*)
1. Magento 2.4.2
2. Multi Store Setup with different domains per StoreView

### Steps to reproduce (*)
1. Create a CLI Command
2. Iterate over all Stores
3. Start EnvironmentEmulation
4. Retrieve URLs of Various Entities (CMS Pages, Categories, Products...)

### Expected result (*)
1. The URLs should be correct for every emulated store

### Actual result (*)
1. The URLs keep

[2021-04-07 15:53] krishprakash commented on #32683
Hi @genseo2. Kindly update all the necessary details to reproduce the issue.
Without such a detail issue should be closed

[2021-04-07 16:09] krishprakash commented on #32010
@iphigenie Closing this issue due inactivity
Feel free reopen add feedback to further proceedings

[2021-04-07 16:09] #32010 closed, assigned to nobody

[2021-04-07 16:35] pdeboo opened #32688 "Data extract out of Magento"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-04-07 16:43] lbajsarowicz commented on #29562
@jissereitsma You see, problem solved :-D

[2021-04-07 16:50] magento-engcom-team commented on #31752
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41807` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-07 17:05] zjevik commented on #31752
Thanks @hostep! Hope this will get fixed on 2.4 branch and I won't have to run the full reindex every night as a workaround.

[2021-04-07 18:59] hostep commented on #29562
https://github.com/magento/magento2/issues/21614 is still open luckily, one day, maybe one day, maybe it will get fixed ...

[2021-04-07 20:10] #9906 closed, assigned to nobody

[2021-04-07 21:21] LiamKarlMitchell commented on #31083
Nice thanks :)

[2021-04-08 01:49] mrtuvn commented on #32688
Hi @pdeboo. Kindly update all the necessary details to reproduce the issue

[2021-04-08 01:59] mrtuvn commented on #32687
Can you create PR for this problem if it's real issue ?

[2021-04-08 04:29] krishprakash commented on #32683
Hi @genseo2. Feel free to reopen once you update all the details.
Thanks !!

[2021-04-08 04:29] #32683 closed, assigned to krishprakash

[2021-04-08 06:05] jurvi opened #32691 "products.items.configurable_options.values does not return the values in the same order as they are in admin"
### Preconditions (*)

1. Magento Cloud 2.4.2 with PWA Studio as UI, using GraphQL API for data.

### Steps to reproduce (*)

1. Add a configurable product with some super attributes and variants, as values you might want to use format "100 mm" or such that can be seen in actual result screenshot.
2. Observe how the values for configurable_options are not returned in the same order as they are def

[2021-04-08 06:16] jurvi opened #32692 "Added compare_item does not get returned in response"
*As a customer who wants to compare products I want to add configurable product variants in compare_list so that I can compare their content.*

### AC
* Add a configurable product variant to compareList using addProductsToCompareList mutation
* Observe the response that has item_count 0 and empty items array.
* Fetch the list using compareList query
* Observe again the item_count 0 and empty items

[2021-04-08 06:28] eduard13 commented on #30094
@magento give me 2.4-develop instance

[2021-04-08 06:35] magento-engcom-team commented on #32041
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41812` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-08 06:58] amr-oreaba-mok commented on #31117
check this reply, may be it fixes it as a workaround.

[2021-04-08 07:08] magento-engcom-team commented on #32023
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41813` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-08 08:27] magento-engcom-team commented on #32036
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41814` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-08 09:12] ytorbyk commented on #5913
What activity is required here? Please, work on it.

[2021-04-08 09:17] DJB95 commented on #30853
@engcom-Hotel is there any ETA on this issue? Looking forward to hearing from you!

[2021-04-08 09:40] hostep commented on #30012
Sigh ...

@sidolov, @ihor-sviziev : can we please delete this stalebot crappy thing?
What's the use of people opening issues if nobody looks at them and then they get auto closed? That's just depressing and might scare people away from opening more issues in the future ...

(not saying that this issue is valid, but it feels like it should at least be investigated instead of auto closed)

[2021-04-08 09:52] ihor-sviziev commented on #30012
@sidolov @sivaschenko @gabrieldagama this should be p1 or p2 priority

[2021-04-08 10:02] vipulra commented on #31007
facing the same issue when migrating from Magento 2.3.2 to Magento 2.4.1

[2021-04-08 10:38] ihor-sviziev commented on #32491
@sivaschenko @sidolov @gabrieldagama, I think the priority for this issue should be set to p2

[2021-04-08 10:43] BB-000 commented on #4096
🙀🤯!

[2021-04-08 10:45] BB-000 commented on #9466
🙀🤯!

Can anyone confirm if https://github.com/ThomasNegeli/M2CliTools works on magneto 2.3x?

[2021-04-08 10:51] magento-engcom-team commented on #30860
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41818` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-08 11:27] ihor-sviziev commented on #32004
Hi @thomas-kl1,
Could you describe what is the use case of using the `@` symbol in the class names? Magento definitely not supporting, but I don't think there is some valid use case for using such things.

[2021-04-08 11:47] magento-engcom-team commented on #32454
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41820` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-08 12:15] thomas-kl1 commented on #32004
@ihor-sviziev there is many css framework that use "@ " in classnames. Anyway the current validation it too much restrictive regarding this ressource https://www.w3.org/TR/CSS22/syndata.html

There is no valid point to prevent using other characters and some could be easily escaped thanks to the escaper object.
Many projects I work on, have to use patches to override this rule or to use alternativ

[2021-04-08 13:25] zakdma commented on #31923
@magento i am working on it

[2021-04-08 14:26] Quazz commented on #32315
Personally I've replaced the function with

`        initGallery: function () {
            var breakpoints = {},
                settings = this.settings,
                config = this.config,
                tpl = template(galleryTpl, {
                    next: $t('Next'),
                    previous: $t('Previous')
                }),
                mainImageIndex,
                $element =

[2021-04-08 15:00] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-04-08 15:10] hershkoy commented on #23411
For what is worth, we started getting this issue as well few days ago.
Eventually we found that disabling the newsletter made the error disappear (It was part of 3rd party plugin)

[2021-04-08 16:25] hostep commented on #28326
We also ran into this, see https://github.com/magento/magento2/issues/32283
A fix for this is pending here: https://github.com/magento/magento2/pull/32286

But it will only prevent this from happening again in the future and won't fix the duplicated entries you already have in your database.

[2021-04-08 16:26] hostep commented on #32283
Looks like others bumped into this same problem before: https://github.com/magento/magento2/issues/28326

[2021-04-08 17:51] nans opened #32694 "SQL request is incorrect on importing products. Magento 2.3.x"
https://github.com/magento/magento2/blob/53ad434d78cd2d357203fb82e5ea059883f403b8/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L3247

We need to delete cross_sell from products with ids 1,2,3
`cross_sell link_type_id = 5`
And array will be
`$linksToDelete[5 => [1,2,3]];`
SQL request will be:
`WHERE link_type_id and product_id IN (1,2,3)`
As result, all records (cross_sell, up_sell

[2021-04-08 19:08] #27996 closed, assigned to nobody

[2021-04-08 19:08] #29130 closed, assigned to nobody

[2021-04-08 19:08] #30848 closed, assigned to nobody

[2021-04-08 19:08] #31599 closed, assigned to nobody

[2021-04-08 19:09] magento-engcom-team commented on #27996
Hi @lbajsarowicz.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40336` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-04-08 19:09] magento-engcom-team commented on #29130
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-08 19:20] MooreTina commented on #30835
@magento give me 2.4.2 instance

[2021-04-08 19:23] #22273 closed, assigned to quisse

[2021-04-08 19:52] akhiltanveer commented on #23761
Override the file from magento vendor
path to copy the file:
vendor/magento/module-paypal/view/frontend/web/js/in-context/button.js

override the file in your custom them

app/design/frontend/Vendor/YourThemeName/Magento_Paypal/web/js/in-context/button.js

comment the line 25

            /* this.declinePayment = !customer().firstname && !cart().isGuestCheckoutAllowed;*/

the in-context paypal che

[2021-04-08 20:38] hostep commented on #29737
Looks like it's coming in: https://github.com/magento/magento2/pull/32455#issuecomment-800728650

[2021-04-08 21:40] ivanszabo commented on #28614
Same issue here, this time with Braintree.
The attack is like 3 days now.

[2021-04-09 01:49] alexlabarces commented on #25098
@TomR5 I'm having a similar issue in Magento 2.3.2 where the Free Shipping rule does NOT get applied to Matching Items Only when using the UPS shipping method. Have you seen this before? Any idea where to correct this? Thanks.

[2021-04-09 01:49] robocrax commented on #30021
Update on this: I disabled MSI because it was causing other issues for me. This in turn also fixed the cron job not sending emails bug and everything cleared up.

Guess that is the solution. Steps taken:

1. disable MSI
2. setup:upgrade, clear-static, etc
4. TRUNCATE cron_schedule
5. run some cron jobs and ensure credit memo works normally
6. Re-enable MSI if needed (I haven't done this so cant gu

[2021-04-09 04:45] shikhamis11 commented on #32655
@magento give me 2.4-develop instance

[2021-04-09 04:47] tuyennn opened #32695 "Dynamic row system config default values were reset, lost when Enabled/disabled by dependencies fields"
### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

1. Add a dynamic row system config depends on a main Yes/No configuration
2. Add values for dynamic row system config
3. main Yes/No configuration set: Yes => Save configuration. Check the database: core_config_data
4. main Yes/No configuration set: No => Save configuration. Check the database: core_config_data
5. main Yes/No

[2021-04-09 04:56] #24963 closed, assigned to nobody

[2021-04-09 04:58] magento-engcom-team commented on #24963
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-04-09 05:00] shikhamis11 commented on #32655
@magento give me magento2.3.6-p1 instance

[2021-04-09 05:02] shikhamis11 commented on #32655
@magento give me 2.3.6-p1 instance

[2021-04-09 05:13] chequille commented on #28092
Hi All,
still have this problem as well on Magento 2.4.2
Can somebody let us know if this will be fixed sometimes???????

[2021-04-09 05:16] shikhamis11 commented on #32655
@milanu13 I tried to reproduce the issue on latest magento 2 develop instance but not able to reproduce this. Let me know if it requires additional configuration as well to reproduce the issue.

[2021-04-09 05:27] milanu13 commented on #32655
@shikhamis11  I found this issue only in the Magento 2.3.6-p1 version. Thank You for your effort.

[2021-04-09 05:32] ihor-sviziev commented on #32315
@Quazz, your solution will probably cause gallery blinking and potentially add Layout Shift, making worse Google Pagespeed Results.

[2021-04-09 05:45] ihor-sviziev commented on #32004
TBH I never saw that "at" symbol used in the class names, I also didn't see it in any CSS frameworks, and I personally don't think it's a good idea because it will confuse people. Maybe you could provide some examples?

I still believe this issue having a too-small amount of people. Probably priority for this issue should be P4, which is the lowest priority. If you have

[2021-04-09 07:28] ilnytskyi commented on #32642
GeneCommerce provided a patch for their Braintree module here
https://github.com/genecommerce/module-braintree-magento2/pull/155/files

[2021-04-09 07:35] thomas-kl1 commented on #32004
You missed the point. The point: https://www.w3.org/TR/CSS21/syndata.html#value-def-identifier

If you need the full standard documentation, there's the links:

- https://www.w3.org/TR/CSS/#css
- https://www.w3.org/TR/css-syntax-3/#syntax-description
- https://www.w3.org/TR/css-syntax-3/#style-rule
- https://www.w3.org/TR/css-syntax-3/#parsing
- https://www.w3.org/TR/selectors-4/#class-html
- http

[2021-04-09 07:45] ihor-sviziev commented on #32004
@sivaschenko @sidolov @gabrieldagama, could you review this issue and comment,s and provide your opinion?
Thank you!

[2021-04-09 07:47] Quazz commented on #32315
There is a slight blinking (followed swiftly by ajax spinner), but 0 layout shift.

I care less about that slight blinking than about the layout shift, but if someone has a solution that fixes both that would be ideal.

[2021-04-09 07:54] ihor-sviziev commented on #32694
Hi @nans,

As @hostep mentioned, the issue was already fixed in the 2.4-develop branch.

Could you confirm that?

[2021-04-09 08:13] f1-outsourcing opened #32696 "2.3.6 var order.grand_total is not displayed in currency"
When using email templates in a theme (extended from luma) using {{var order.grand_total}} does not display as currency formatted. It displays as XXX.XXXX (4 decimals, without currency symbol) It displays exactly the same as  {{var order.grand_total|raw}}.

I assume these filters should work, because they are used with other variables in ./Magento_Sales/email/order_new.html

Since there is no need

[2021-04-09 09:36] Nazar65 commented on #32592
@engcom-Oscar  https://github.com/magento/magento2/issues/31319 this is duplicate

[2021-04-09 09:38] Nazar65 commented on #32592
@sw-tt-jigneshvagh before opening issue you can search maybe someone already reported this issue. but it looks like copy paste

[2021-04-09 09:47] alex-james opened #32697 "Magento_InventoryInStorePickup acl.xml invalid schema - missing title attribute"
### Preconditions (*)

1. PHP 7.4.9
2. Magento 2.4.2

### Steps to reproduce (*)

1. With the Magento_InventoryApi module enabled and cache cleared, attempt a backend login

### Expected result (*)

1. Login to dashboard

### Actual result (*)

1. Logic exception thrown in Magento\Framework\Config\Reader\Filesystem::_readFiles()

Exception #0 (LogicException): Could not create an acl object: Inval

[2021-04-09 09:53] magento-engcom-team commented on #32675
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41827` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-04-09 10:37] daiduongvo18 commented on #13128
Hello @magento-engcom-team

The backtrace was removed since this commit https://github.com/magento/magento2/commit/c0b8d6d6164f8b5e348d8f86e5dff518745f838d. It intends to "preserve compatibility with Exception messages. and support PSR-3 context standard." (http://www.php-fig.org/psr/psr-3/#context).

This change moves the exception detail to the context. However, it doesn't log the full backtrace

[2021-04-09 12:31] kanhaiya-ech commented on #18339
Hi,
Is any solution, as its issue exist in 2.4.1 version also

@kanhaiya5590

[2021-04-09 12:55] bohdan-berezhniy opened #32699 "issue with product image cache"
If you add a new image to the product with an image name that contains '.'  dot, then save the product and clean image cache, a new cache will not be generated

### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1.Create a new product or go to the existing one.
2. Add image to product (image name should contain dot '.'). For e.g. 'i.mage.jpg'
3. Save product (on this step, image

[2021-04-09 13:03] Eddcapone opened #32700 "New page layout destroys product view"
### Preconditions (*)

1. 2.4.2 EE

### Steps to reproduce (*)

1. Create new page layout, inheriting from 1column, in your theme

**THEME\Magento_Theme\layouts.xml**

    <?xml version="1.0"?>
    <layout xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_layout.xsd">
    	<update handle="1column"/>
    </lay

[2021-04-09 13:30] jurvi commented on #28966
Why the heck is this closed, it's definately a real issue a lot of people are clearly struggling with, and some basic developer just closes it?

[2021-04-09 13:46] jurvi opened #32703 "Very large configurable products fail to index in ElasticSearch"
### Preconditions (*)

1. Magento 2.4.2 with ElasticSearch 7.7
2. Very large configurable product, in our case 1440 variants leading to over 32766 characters long name that gets concatenated from all variants' names.

### Steps to reproduce (*)

1. Just run reindexing with a very large configurable product as mentioned in preconditions

### Expected result (*)

1. Reindex success, very large confi

[2021-04-09 14:09] swap-994 opened #32704 "Incorrect URL path"
Hi there,

I've a website which is developed in Magento 2. I'm having some issues with URLs. I'm not getting the proper path of URL for category and product pages.

I'm an SEO executive and abides by the SEO guidelines that the website should follow.

I'm attaching the screenshot for the same.
![svaraa pdp url](https://user-images.githubusercontent.com/82205999/114191697-54030800-996a-11eb-9298-28

[2021-04-09 14:13] rodrigowebjump commented on #32704
@magento give me 2.4-develop instance

[2021-04-09 14:14] TomR5 commented on #25098
No, I'm afraid I do not know how to address a specific UPS problem.  We have used different carriers, but we have always had a tablerate .csv uploaded that we use and we only enable "Tablerates" as our shipping method to use.