[2017-11-16 20:31] magento-engcom-team commented on #3170
@keithbentrup, thank you for your report.
We've created internal ticket(s) MAGETWO-84017 to track progress on the issue.

[2017-11-16 20:53] heldchen commented on #11280
even when cleaning the "too late for schedule" entries, the status would not get reliable updated in our case.

I've added a cli command that executes the following query and am running it in a cron:
`UPDATE sales_order_grid JOIN sales_order ON sales_order_grid.entity_id = sales_order.entity_id SET sales_order_grid.status = sales_order.status WHERE sales_order_grid.status != sales_order.status;`

[2017-11-16 22:19] am2008 commented on #10531
Price reindex time = X * customer_groups. An almost direct dependence is observed. For example: if you have 10 customer groups and you using only 3, try delete unused groups and get x7 boost.  Here 1M+ skus reindex log:
Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid index has been rebuilt successfully in 00:00:00
Product Flat Data index has been rebuilt successful

[2017-11-16 22:37] behnamshayani commented on #10531
why are you guys talking about price index in this issue? This originally was about category_product index.
And seems like issue with category_product is fixed in 2.2.0 and 2.2.1 (but not in 2.1.9, 2.1.10)
2.2.1 on my local machine, 495K sku, 3k category, 7 website:

Generating profile with following params:
 |- Websites: 7
 |- Store Groups Count: 7
 |- Store Views Count: 7
 |- Categories: 3000
 |

[2017-11-16 22:49] okorshenko commented on #9764
The issue has been fixed and delivered to 2.2-develop branch

[2017-11-16 22:49] #9764 closed, assigned to RomaKis

[2017-11-16 22:58] jimmypinto opened #12315 "Customizing the insert widget type 'Catalog Products List' template"
I'm adding the widget on a page by going ->Insert Widget ->Widget type-> Catalog Products List After adding the widget, I can see the template path as 'template="product/widget/content/grid.phtml"'. I'm trying to update this template but working on a wrong file I guess. What is the full path for the template file?

[2017-11-17 00:04] thebeachtoday opened #12316 "Magento 2.2 Basic CSV Import Fails"
Arch: Ubuntu 14.04.5 LTS,  PHP 7.0.25, MySQL 5.720, Magento 2.2.0

GUI: From back office, Settings - Import
Functional Actions: Attempt to import an extremely simple CSV file, created via notepad with UTF-8 encoding [i.e. just these two lines].  Verified no newline characters or extra spaces/tabs:

sku,product_type,attribute_set_code,name,price
1234,simple,Default,Test,10

Result: Would expect a s

[2017-11-17 00:20] lee586 commented on #7441
Still having this same issue in Magento 2.2.1

[2017-11-17 00:36] welllin commented on #8674
@magento-engcom-team

Hi I've tried to upgrade to 2.2.0 and 2.2.1, and yet I still can't see it working.

What I did see is that the User Defined is only showing when you select dropdowns or radio buttons input types.

Could you please confirm this? :)

[2017-11-17 01:08] lee586 opened #12317 "Configurable Products with Two or More Attributes Aren't Hiding Out of Stock Items"
For configurable products, out-of-stock child items are still showing up when configurable item has two or more configurable attributes.  And yes, the "Display Out of Stock Products" is set to "NO" in the inventory configuration.  If the configurable product only has one attribute, it hides the out of stock sub items.  However, with 2 or more, it will show the out of stock options and if you add t

[2017-11-17 01:14] Igloczek commented on #12277
It's not a support forum, but a place for bug reports, which should follow guidelines for reporting them (the content of issue that you removed at the beginning).

Ask for help on Magento Stack Exchange - https://magento.stackexchange.com/

[2017-11-17 03:46] 4DallasC opened #12318 "Orders fail to create when there are no sequence tables"
We've progressively updated Magento 2 through its versions and for a period there, Magento was not generating the sales_sequence tables for some of the stores. Now when one of those stores are selected as the default store view, saving orders now throw the error:-

Syntax error or access violation: 1103 Incorrect table name '', query was: INSERT INTO `` () VALUES ()

Does anyone know of a work aro

[2017-11-17 04:40] msawyers commented on #11706
Hi, am now able to create configurable products. issue seem to have been due to using old static-content. however still not able to add videos. I am checking on what could have caused this issue,

[2017-11-17 04:50] deckside commented on #8800
Has there been a fix to this as yet?

[2017-11-17 05:52] allyreflections commented on #2121
I have the same issue in Magento 2.1.7. Any fix on this issue..?

[2017-11-17 06:30] magento-engcom-team commented on #11940
@hasnatme, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-17 06:30] #11940 closed, assigned to nobody

[2017-11-17 06:41] magento-engcom-team commented on #12309
@ajinkya-dhande  , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [

[2017-11-17 06:44] magento-engcom-team commented on #12315
Hello @jimmypinto. The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-17 06:44] #12315 closed, assigned to nobody

[2017-11-17 06:48] gilles6 opened #12319 "Meta Keywords in non-latin characters are not searchable"
### Preconditions

1. Magento 2.2.1
2. PHP 7.1

### Steps to reproduce

1. In the backend, make **Meta Keywords** searchable: `Stores` > `Attributes` > `Product` > **meta_keyword** > `Attribute Information` > `Storefront Properties` > `Use in Search` > **Yes**
<img width="615" alt="screen shot 2017-11-17 at 14 38 16" src="https://user-images.githubusercontent.com/612946/32933390-04d88958-cba5-11e7

[2017-11-17 07:28] magento-engcom-team commented on #12319
@gvigner, thank you for your report.
We've created internal ticket(s) MAGETWO-84035 to track progress on the issue.

[2017-11-17 07:39] #11948 closed, assigned to magento-engcom-team

[2017-11-17 07:48] satishgadhave commented on #6401
Can you pls provide link to pull request?

[2017-11-17 07:51] magento-engcom-team commented on #12317
@lee586, thank you for your report.
We've created internal ticket(s) MAGETWO-84037 to track progress on the issue.

[2017-11-17 07:58] magento-engcom-team commented on #11924
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-17 07:58] #11924 closed, assigned to magento-engcom-team

[2017-11-17 08:03] gvigner commented on #12319
Thank you for you reply.

The problem seems more general. I have created a new attribute with similar options to "Product Name", and its Chinese characters content is not searchable while content in latin characters can be searched.

[2017-11-17 08:12] roma84 commented on #12268
@magento-engcom-team, strange, i can reproduce it 100%.

### Preconditions
 - Ubuntu 17.10
 - PHP 7.1.8
 - Apache 2.4.27
 - MySQL 5.7.20

### Steps to reproduce
 - downloaded Magento 2.2.1 with sample data from magento.com and installed it.
 - added video from Vimeo to Stellar Solar Jacket product.
 - changed `gallery > fullscreen > navdir` config from `horizontal` to `vertical` on line  216 in fi

[2017-11-17 08:14] roma84 commented on #12268
@magento-engcom-team looks like i cannot reopen it.

[2017-11-17 08:30] magento-engcom-team commented on #11936
@tzyganu, thank you for your report.
We've created internal ticket(s) MAGETWO-84043 to track progress on the issue.

[2017-11-17 08:33] gilles6 opened #12320 "Newsletter subscribe button title wrapped"
### Preconditions

1. Magento 2.2.1
2. PHP 7.1

### Steps to reproduce

Set the **newsletter subscribe button**'s title with at least two Chinese characters (either by changing it with your browser's Developer Tool or by switching the CMS language to Chinese), for instance "订阅".

### Expected result

The two characters of the Chinese word "订阅" should be written in the same line.
<img width="377" a

[2017-11-17 08:53] atsareva commented on #12312
Hi @josh-nh,
This is another issue and it depends only on ajax calls with post type on the checkout. Also this issues occurs only for guests and customer's data object is reset on the front. Therefore customer and quote sessions are ok.
I faced this issue on my local env with magento fresh installation (without Varnish).

[2017-11-17 09:15] juergengp commented on #11536
Hello,
i experienced that error many times on 2.1.9
it seems that different you are using a special combination of custom modules, that error occurs - especially in the payment section.  i'm using skrill for payment and get something like " reqire is not a fuintion" there is somewhere a ")" missing. this happens if a module is called in a special place of source-code. i got rid of that error doing

[2017-11-17 09:17] magento-engcom-team commented on #12316
@thebeachtoday, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-17 09:20] juergengp commented on #11536
it seems that all occurs because many of the developers don'tknow what they are doing :-)
furthermore magento is a kind of huge application and nobody has an idea what happens inside of that application. thats a result of being specialied to a part of a system. only having experiency in producing wheels doesnt make a person to a mechanic of cars

[2017-11-17 09:21] juergengp commented on #11536
this is a problem in the IT sector in general .. everybody is specialized .. like some "unix specialists" havent got an idea of ip addressing :-)

[2017-11-17 09:24] magento-engcom-team commented on #12318
Hello @4DallasC , thank You for your report.
Please describe us in details this step :
"3. upgrade to Magento 2.1.9"

[2017-11-17 09:28] thebeachtoday commented on #12316
Can anyone get any CSV imports working on 2.2?  I have a fresh install and
it won't import a basic CSV.  Not sure how this is expected behavior.  Why
have the import Link if the expected behavior is NOT to import.  I hope I'm
misinterpreting.

There are no spaces, tabs or newline indicators.  It's encoded with UTF-8.
  I'm sure I'm missing something very basic in settings or something, but
Googlin

[2017-11-17 09:30] #11238 closed, assigned to nobody

[2017-11-17 09:35] magento-engcom-team commented on #12320
@gvigner, thank you for your report.
We've created internal ticket(s) MAGETWO-84056 to track progress on the issue.

[2017-11-17 09:53] juergengp commented on #11536
i forgot to mention:  if you are using a custom theme, search there first :-)

[2017-11-17 09:54] VegtMedia-Alex opened #12322 "Bug with CDATA in XML layout update"
When you enter the first time a xml with CDATA it works as expected. After saving the CDATA tag is gone. More information:

https://magento.stackexchange.com/questions/199377/cdata-removed-from-layout-update-xml-after-saving-cms-page-in-magento-2

Magento version 2.2.0

The CDATA tag is added in the database field, so it gets stripped when they view is outputting the code from the database.

It ha

[2017-11-17 09:57] na159 commented on #10071
i have same error. i solved this problem.

Nginx increase value

pm.max_children=xx

[2017-11-17 10:12] avoelkl commented on #11885
Having the same issue with Bank Transfer Payment on Magento 2.2.1. It's actually working with Cash on Delivery for me.

[2017-11-17 10:21] illyalvov888 commented on #12312
@atsareva we have the same issue on our project, it's driving us insane.

[2017-11-17 10:30] magento-engcom-team commented on #11864
@syedsaleem086, thank you for your report.
We've created internal ticket(s) MAGETWO-83997 to track progress on the issue.

[2017-11-17 10:30] magento-engcom-team commented on #11871
@brosenberger, thank you for your report.
We've created internal ticket(s) MAGETWO-84059 to track progress on the issue.

[2017-11-17 10:30] magento-engcom-team commented on #3666
@ovekeryk, thank you for your report.
We've created internal ticket(s) MAGETWO-55451 to track progress on the issue.

[2017-11-17 10:35] TomashKhamlai commented on #10756
### Preconditions:
Magento v2.1.10 installed

### Steps to reproduce:
1. Login to backend as admin
2. Go to **Account Settings**
3. Change **Interface Locale** to "English (United Kingdom)"
4. Create a Simple product and fill all the required fields
5. Click on datepicker and specify the current date in the **Set Product as New From** field
6. Click on datepicker and specify the future date in the

[2017-11-17 10:35] na159 commented on #10071
I have the same error magento 2.2.1

[2017-11-17 10:49] alexvandervegt commented on #12322
Just solved the issue:

`protected function wrapContent($content)
    {
        return '<script type="text/x-magento-init"><![CDATA['
        . '{"*": {"Magento_Ui/js/core/app": ' . str_replace(']]>', ']]]]><![CDATA[>', $content) . '}}'
        . ']]></script>';
    }`

Hopefully someone can create a PR for this

[2017-11-17 10:52] Avinashsain opened #12323 "Magento 2.1.3 - Invoice and shipment PDF doesn't support Arabic"
### Preconditions

1. Magento CE 2.1.3

### Steps to reproduce

1. In the admin, go to Sales > Orders
2. Select one 'completed' order and select the action 'Print Invoices' (any of the Print... actions actually)

### Expected result

1. Be able to read  Arabic words & texts

### Actual result

1. [invoice_Arabic.pdf](https://github.com/magento/magento2/files/1482013/invoice_Arabic.pdf)

[2017-11-17 11:02] jagriti1234 commented on #12249
Hello ,
   I tried and it's working properly.I have attached screenshot below.

Thanks!!

![localhost contribute](https://user-images.githubusercontent.com/23253057/32944231-d3cc90a6-cbb4-11e7-8b1b-75fd2028c006.png)

[2017-11-17 11:04] jagriti1234 commented on #12249
Hello
   I have attached code folder.Please upload it and then check.

thanks!!
[Company.zip](https://github.com/magento/magento2/files/1482020/Company.zip)

[2017-11-17 11:13] ankursachdeva11 opened #12325 "Unable to Identify Product type of item in Invoice json"
### Preconditions

1. Magento 2.
2. Some Products.
3. Magento Integration activated.

### Steps to reproduce

1. Create an order.
2. Check order via API (http://[your Magento server]/rest/V1/orders/[order id]/) and you will get to know product_type of each item.
3. Create an invoice.
4. Check invoice via API (http://[your Magento server]/rest/V1/invoices/[invoice id]/)

### Expected result

produc

[2017-11-17 11:15] magento-engcom-team commented on #9517
Hi @prdptom
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-17 11:15] #9517 closed, assigned to nobody

[2017-11-17 11:27] shinesoftware opened #12326 "Wrong prices in catalog list page and into the order administration page"
## Preconditions

Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento 2.2.0-dev
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper
HEAD -> develop

## Steps to reproduce

Go to the administration login page
Click on Sales > Order (menu)

[2017-11-17 11:30] TomashKhamlai commented on #10756
@kwindow, thank you for your report! Internal ticket [MAGETWO-84064](https://jira.corp.magento.com/browse/MAGETWO-84064) was created to address this issue.

[2017-11-17 11:33] magento-engcom-team commented on #11754
@versdivers, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details in steps to reproduce.

[2017-11-17 11:38] magento-engcom-team commented on #10756
@kwindow, thank you for your report.
We've created internal ticket(s) MAGETWO-84064 to track progress on the issue.

[2017-11-17 11:48] rafatga opened #12327 "User Interface issue - Admin - Configurable Product - New Attribute"
I was adding a new attribute to a configuration product and I notice that the modal content of New attribute is not correctly display forcing the user to scroll horizontally.

Magento ver. 2.1.9
Magento ver. 2.2.1 EE

### Steps to reproduce

1. Sign in Admin panel
2. Go to catalog product
3. Add a configurable product
4. Create configuration
5. Create new attribute

### Actual result

![screen sho

[2017-11-17 12:03] magento-engcom-team commented on #9073
@AlexandreKhayrullin, thank you for your report.
We've created internal ticket(s) MAGETWO-84070 to track progress on the issue.

[2017-11-17 12:04] magento-engcom-team commented on #12252
Thank You @adamlavery. Currently we are not able to reproduce Your issue. But there are several settings that could cause it. Please, confirm that there is everything O.K. with them in Your case. So please:
1. Confirm that You have taken into account the influences of Disable Automatic Group Change Based on VAT ID checkbox under the field for group assignment in Customer->Account Information,
2. Y

[2017-11-17 12:08] agata-maksymiuk commented on #8615
For those who can't wait to fix it I suggest temporary solution here:
https://magento.stackexchange.com/questions/142056/how-to-get-magento2-product-with-rest-if-sku-has-slash/201892#201892

[2017-11-17 12:22] quisse opened #12329 "Batch delete blocks not working"
When deleting a batch of blocks on the blocks grid, en error occurs:
`Uncaught Error: Call to undefined method Magento\Cms\Model\ResourceModel\Block\Grid\Collection::_getAllIdsSelect() in /[magento location]/vendor/magento/module-cms/Model/ResourceModel/Block/Grid/Collection.php on line 97`

### Preconditions

1. Magento 2.1.10

### Steps to reproduce

1. Select one or multiple blocks in the block

[2017-11-17 12:30] magento-engcom-team commented on #6197
@Taral-Patoliya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-17 12:30] #6197 closed, assigned to nobody

[2017-11-17 12:30] magento-engcom-team commented on #11840
@Mehran91z, thank you for your report.
We've created internal ticket(s) MAGETWO-84072 to track progress on the issue.

[2017-11-17 12:30] magento-engcom-team commented on #3376
@philcali, thank you for your report.
The issue is already fixed in develop branch, 2.1.10, 2.2.1

[2017-11-17 12:30] #3376 closed, assigned to slavvka

[2017-11-17 12:33] kannan-mkm commented on #11526
@gitpol , We have facing the same issue in Magento 2.2.0. So, if you resolve the issue at your end then share the solution to fix.

[2017-11-17 13:02] indefinitedevil opened #12330 "Imported bundle products are not assigned stock status"
When importing a new bundle product (can be entirely new, or generated through replacement), no entry is generated for it in cataloginventory_stock_status. This means that when the frontend tries to display it, it encounters a NULL entry when trying to discover whether the product is salable.

vendor/magento/module-catalog/Model/Product/Type/AbstractType.php line 355
When running getData('is_salab

[2017-11-17 13:30] magento-engcom-team commented on #12312
@atsareva, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-17 13:30] #12312 closed, assigned to nobody

[2017-11-17 13:36] Romanst84 opened #12331 "do not displayed products in backend magento 2"
Re-indexed

Cleaned the cache

Check the database

![screenshot_17](https://user-images.githubusercontent.com/33752251/32949851-ef919bae-cbac-11e7-9568-1d051e348266.png)

spinner working and working
Products do not displayed

[2017-11-17 13:52] Ekkoe commented on #6924
Same issue, not yet updated to 2.2. Issue occurs for me when trying to import only sku and crosssell_skus.

[2017-11-17 13:58] magento-engcom-team commented on #12331
@Romanst84 We need more information about this issue in order to successfully investigate potential fixes. Please use our issue tracking template to format your description. Specify the exact steps you used, the expected result of your actions, and the actual results.

[2017-11-17 14:06] roma84 commented on #12268
I found the code which causes the issues.

When you select attribute, `AddFotoramaVideoEvents` is called in `swatch-renderer.js` here:
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Swatches/view/frontend/web/js/swatch-renderer.js#L1173

Then it calls `clearEvents` here
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/ProductVideo/view/frontend/web/js/fo

[2017-11-17 14:10] shinesoftware commented on #12326
I have solved adding in the bootstrap these lines:

/*  For data consistency between displaying (printing) and serialization a float number */
ini_set('precision', 14);
ini_set('serialize_precision', 14);

as suggested here https://github.com/magento/magento2/issues/8787

[2017-11-17 14:12] shinesoftware commented on #8787
this happen into the 2.2-develop version too

[2017-11-17 14:17] Romanst84 commented on #12331
After completion of Data Migration in M2.2.1, I have flushed cache and run the re-indexing command.

But still No any Data is coming under customers, products in admin Grid. Only ajax-loader spinning infinite.

![screenshot_17](https://user-images.githubusercontent.com/33752251/32951163-a74c5ee2-cbb1-11e7-8fed-7e9980598707.png)

Whot I am do:
update indexer_state set status = 'invalid' where statu

[2017-11-17 14:17] magento-engcom-team commented on #8640
@aasim110, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10, 2.2.1

[2017-11-17 14:18] magento-engcom-team commented on #12323
@Avinashsain, thank you for your report.
We've created internal ticket(s) MAGETWO-84083 to track progress on the issue.

[2017-11-17 14:19] magento-engcom-team commented on #12327
@hi-rafa, thank you for your report.
We've created internal ticket(s) MAGETWO-84082 to track progress on the issue.

[2017-11-17 14:26] atsareva commented on #12312
Hi guys,

I've tested this issue on magento **2.2.0** and **2.2.1** too and reproduced on both versions.

However **I've reinstalled magento again**

![magento_version](https://user-images.githubusercontent.com/1243876/32951322-2c6b9b56-cbb2-11e7-997d-972f730921c2.png)

added **ajax (type: POST)** call to **vendor/magento/module-checkout/view/frontend/templates/onepage.phtml**

![onepage](https://

[2017-11-17 14:30] magento-engcom-team commented on #8310
@azeemism, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-17 14:30] #8310 closed, assigned to nobody

[2017-11-17 14:30] magento-engcom-team commented on #12326
@shinesoftware, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-17 14:30] #12326 closed, assigned to nobody

[2017-11-17 14:30] magento-engcom-team commented on #3149
@tigerx7, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-17 14:30] #3149 closed, assigned to nobody

[2017-11-17 14:45] Romanst84 commented on #12331
I tried to run the command
php -dmemory_limit=512M bin/magento indexer:reindex
Did not help

[2017-11-17 15:03] EugenOrosan commented on #11740
Any fixes for this ? This is a big issue because customers receive emails from the default sender instead of order website sender.

[2017-11-17 15:10] serzhik opened #12333 "Wysiwig vs UTF-8"
### Preconditions
1. Magento 2.1.2

### Steps to reproduce
1. Go to "create new product" page
2. Set Description: "für"
3. Hide Editor

### Expected result
1. Description value: `<p>"für"</p>`

### Actual result
1. Decription value: `<p>"f&uuml;r"</p>`

[2017-11-17 15:29] magento-engcom-team commented on #12313
@JakeOB25 Thank you for your submission.
We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](

[2017-11-17 15:31] magento-engcom-team commented on #11763
Hi @wolfuma
I can't reproduce it on version 2.1.10.
https://youtu.be/0d_Igvm7mFY

[2017-11-17 15:33] adamlavery commented on #12252
I can confirm all 3 are correct. See attached showing US customer account, advanced pricing setup and frontend after logging in as US customer at US site. Customer was setup days ago so most definitely new login since group change. I adjusted opacity on Advanced Pricing so you can see its the same product to which pricing is being applied.
![frontend](https://user-images.githubusercontent.com/1365

[2017-11-17 15:33] #12313 closed, assigned to nobody

[2017-11-17 15:44] magento-engcom-team commented on #12333
@Serzhik, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-17 15:44] #12333 closed, assigned to nobody

[2017-11-17 16:27] indefinitedevil commented on #12330
Addendum: this also happens when you add customisable options or change whether they are required.

[2017-11-17 16:30] magento-engcom-team commented on #11763
@wolfuma, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10

[2017-11-17 16:30] #11763 closed, assigned to nobody

[2017-11-17 17:27] barbazul opened #12334 "Travis CI breaks on out of the box composer build"
When building a project from the composer create-project command as suggested in the documentation, the resulting build will not be green in Travis CI. I know there is some handling necessary (like some execution permissions and building your auth.json) but when all is set, still all kinds of tests fail

### Preconditions

Magento 2.2 installed from composer repository
PHP 7.1

### Steps to reprod

[2017-11-17 17:30] magento-engcom-team commented on #5146
@paales, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-17 17:30] #5146 closed, assigned to nobody

[2017-11-17 17:36] andy17612 opened #12335 "system upgrade FAIL 2.2 to 2.2.1"
### Preconditions

1. in magento2.2
2. php7,1

### Steps to reproduce

1. magento web wizard -> system upgrade FAIL on last step: maintenance disable
it's made a rollback loop

### Expected result

1. The Update to 2.2.1 is completed but now it hangs on the error with the rollback message. How to solve this issue?

### Actual result

1. the updater finish without errors...

[code]
![image](https:/

[2017-11-17 19:19] pioneerathletics opened #12336 "'Uncaught Error' After Customer Signs Out"
### Preconditions

1. Magento 2.1.10 or 2.1.9 CE
2. PHP 7.0.24
3. Apache/2.4.23 CentOS
4. Redis enabled
5. Production Mode
6. All Caches enabled

### Steps to reproduce

1. Sign in as a customer
2. Add item to shopping cart
3. Select the view and edit cart link in the mini-basket dropdown
4. Remove the item from the cart
5. Sign out as the customer and return to the homepage

### Expected result

[2017-11-17 19:31] erikhansen commented on #2916
I patched `magento/module-ui` using the [composer-patches](https://github.com/cweagans/composer-patches) plugin to show the error message for 30 seconds, and scroll it into view.

Here are the contents of the patch:

[code]

[2017-11-17 19:34] leoncito73 commented on #12211
@orlangur I tried also just copy that tables from a new installation  of magento without prefix, and deleting the tables with prefix, but the result is the same, not working

I'll like to try the option 2, but I'm not sure what you want to say.
You want I find:
1 - The module what call to this tables, right? But how I know? If, I find this module or modules What I should do?
2 - In the setup_modul

[2017-11-17 19:45] davidalger commented on #12262
Closing as duplicate of #12271.

[2017-11-17 19:45] #12262 closed, assigned to nobody

[2017-11-17 20:19] Ctucker9233 commented on #9931
+1 Having this issue as well. Wondering how soon we might see a fix on 2.1 branch.

[2017-11-17 20:56] joni-jones commented on #12311
@vijaymagento1, please, enable debug mode for authorize.net payment method and provide transaction  details from debug.log

[2017-11-17 20:58] joni-jones commented on #12298
@cloverbox, please, provide more details, like errors from exceptions.log, error stack trace, etc. Unfortunately, your description is not enough to understand what is wrong.

[2017-11-17 21:53] #12116 closed, assigned to nobody

[2017-11-17 22:25] webscot commented on #6126
Problem is ALIVE & WELL as of November 17, 2017 in v. 2.2.1. Used Save & Duplicate to create product #2. Product #2 never appeared even after re-indexing with cache disabled. Enabled cache, and we get this error. We also moved one category (#43) up in position. It is this #43 that is mentioned in the error report. After re-enabling cache, product #2 is now there, but still no navigation categories

[2017-11-17 23:35] webscot commented on #5418
Problem is ALIVE & WELL as of November 17, 2017 in v. 2.2.1. Used Save & Duplicate to create product #2. Product #2 never appeared on the frontend even after re-indexing with cache disabled. Enabled cache, and we get this error (issue 5418). We also moved one category (#43) up in position. It is this #43 that is mentioned in the error report. After re-enabling cache, product #2 is now there, but s

[2017-11-18 06:15] jigardhaduk opened #12338 "Magento 2.2 - category view page reloads twice"
I need to override **Toolbar.php** file from _\Magento\Catalog\Block\Product\ProductList\Toolbar_ with custom sorting attribute and this has **left join** in code.

### Preconditions

1. Fresh Magento 2.2
2. php 7.0.22

### Steps to reproduce

1. Create any custom attribute which has code with join query.
My custom code is,
[code]

[2017-11-18 06:49] anuox opened #12339 "di:compile issue on magento2.2.1 fresh installation"
### Preconditions

1.
2.

### Steps to reproduce

1. I have installed Magento 2.2.1. And then changed the mode as Developer.
2.  Set 777 permission and then I run the setup:upgrade
3. Then I run di:compile. I am getting an error. I can able to reproduce this issue

### Expected result

### Actual result

1. Fatal error:  Cannot use Magento\Framework\App\Helper\Context as Context because the name i

[2017-11-18 06:56] anuox commented on #12339
![di_compile](https://user-images.githubusercontent.com/33774801/32977843-bfdcd5cc-cc5b-11e7-99b8-cd963ee35df8.png)

[2017-11-18 07:04] seanscott49 commented on #7333
Thanks for the fix. It works on Radio, but Drop Down adds a +- in front of the number. I really hope this gets fixed soon. I have 2 sites to migrate after the holidays that depend on it.

[2017-11-18 08:01] ghost opened #12341 "Magento 2.2.1 mysql hight memory usage"
### Preconditions

1. Magento 2.2.1
2. Apache 2.4.25
3. MySQL 5.7.20
4. Ubuntu 17.04
5. Virtual machine hardware (Esxi 5.5)
               - CPU: Intel Xeon E5-1650 V3 @ 3.50GHz X 8
               - RAM: 64 GO
6. I have a lot of products with big content description and attributes in 6 languages. +/- 65000 products. Database is big!
7. PHP 7.1.11

### Steps to reproduce

1. magento index:reindex
o

[2017-11-18 08:14] vijaymagento1 commented on #12311
Hi Joni,
We have already enabled the debug mode for the authorize.net payment method and there are the following log which we have got and in the console we didn't get any thing and in the backend we can see the placed order but in the frontend showing error **"An error occurred on the server, Please try to place order again."** and not redirecting to success page.

**Following errors on the Debug

[2017-11-18 08:20] ebinmanuval commented on #10821
The solution provided by @PhiIipp worked for me, but now my site takes decades to render.... Any idea ?

[2017-11-18 08:24] matin73 commented on #10821
@ebinmanuval have a look if cache in magento is deaktivated

[2017-11-18 08:47] achatpc commented on #12341
Additional informations:

php ini file "/etc/php/php7.1/apache2/php.ini":

[PHP]

;;;;;;;;;;;;;;;;;;;
; About php.ini   ;
;;;;;;;;;;;;;;;;;;;
; PHP's initialization file, generally called php.ini, is responsible for
; configuring many of the aspects of PHP's behavior.

; PHP attempts to find and load this configuration from a number of locations.
; The following is a summary of its search order:
;

[2017-11-18 08:57] ishakhsuvarov opened #12342 "JSTestDriver removal"
Currently Magento is using 2 different sets of tools for the JavaScript Testing:
 * JSTestDriver, which is considered legacy and is not supported anymore by the core team.
 * [Jasmine](https://jasmine.github.io/2.0/introduction.html), which was introduced to replace JSTestDriver. All new JS tests are implemented using it and executed in multiple CI environments, including public Travis CI and Mage

[2017-11-18 09:44] joni-jones commented on #12311
Your debug log doesn't contain any transaction details, I suppose your instance doesn't work properly. The debug.log should contain transaction request and response. Did you enabled debug mode globally for all Magento application in *Stores*->*Configuration*->*Advanced*->*Developer*->*Debug*->*Log to file* (option available only in developer mode)?

[2017-11-18 10:57] abuvanth opened #12343 "cant upload image using rest"
### Preconditions

1. magento version -2
2.

### Steps to reproduce

param={
    "product": {
         "id":0,
        "sku": "ABC_123456",
        "name": "My Product Title Listing",
        "attributeSetId": 4,
        "price": 425.99,
        "status": 1,
        "visibility": 4,
        "typeId": "simple",
        "createdAt": "2016-05-26 14:00:00",
        "updatedAt": "2016-05-26 14:00:00",

[2017-11-18 11:13] abuvanth commented on #5728
i have same issue... even that product contain price field properly

[2017-11-18 12:19] pablobae commented on #10580
If you have the locale set to es_ES, product import fails to due this date format issue

[2017-11-18 13:51] southerncomputer commented on #12341
your cron jobs are getting stuck eating all your ram! check your mail or cron.log to see what exactly they are doing! I'd disable the crontab until you know how to correct your problem to bring system stability back!

[2017-11-18 14:19] routbiplab commented on #11986
Hi!

Any update ??

[2017-11-18 14:25] achatpc commented on #12341
Thank you for your help.

I think that my MySQL cnf file is not correctly set.

Can you help me to improve it with my hardware configuration specified above.

Thank you in advance

[2017-11-18 14:34] southerncomputer commented on #12341
https://tournasdimitrios1.wordpress.com/2011/03/08/tuning-mysql-with-mysqltuner/

[2017-11-18 14:44] achatpc commented on #11963
I have the same issue with 2.2.1 version.

Hope a solution.

[2017-11-18 14:50] achatpc commented on #12341
Thank you i will try to use it.

[2017-11-18 15:24] ShapesGraphicStudio commented on #10821
I just tried to upgrade a production site from 2.1.9 to 2.2.1 on the exact same server with the same configuration, as my sandbox version was working fine, but here the trick given by @PhiIipp does not work, very weird thing.

So I have to rollback to 2.1.9, which is not a great solution as 2.2.0 and 2.2.1 fix some security issues.

Maybe I should have done 2.1.9 > 2.2.0 > 2.2.1.. (as it's the onl

[2017-11-18 15:27] Kipperlenny commented on #10821
it still a thing with your include_path - perhaps your server or sandbox have zend framework globally included (and the other env not). My Magento 2.2.1 needed this include_path:

`include_path = ".:/var/www/pferd-in-pink.de/web/vendor/magento/zendframework1/library"`

[2017-11-18 15:33] ShapesGraphicStudio commented on #10821
@Kipperlenny , thanks for the input, but my production site and my sandbox site are on the same server.

[2017-11-18 15:35] southerncomputer commented on #12341
be sure to check /var/spool/mail/ and /var/log/cron

for your crontab woes first!

[2017-11-18 15:46] southerncomputer commented on #12331
php bin/magento deploy:mode:set development
rm -rf <your Magento install dir>/generated/metadata/* <your Magento install dir>/generated/code/*

then

php bin/magento deploy:mode:set production
chown -R username:username *

replace username with the owner of the magento files or php-fpm user!

[2017-11-18 15:49] southerncomputer commented on #12339
php bin/magento cache:clean
then see how to deploy to development or production!
http://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-mode.html

[2017-11-18 15:49] peterjaap commented on #11657
Quick & dirty script to populate your translation table;

[code]

[2017-11-18 15:52] southerncomputer commented on #12318
go to mysql /phpmyadmin and check out sales_sequence_meta and sales_sequence_profile and make them jive manually! Easy stuff!

[2017-11-18 15:55] achatpc commented on #12341
Hello
I have change

[2017-11-18 15:55] #12341 closed, assigned to nobody

[2017-11-18 15:57] achatpc commented on #12341
I have change table_open_cache value from 6000 to 512. I think that was the problem.

Thank you for your help.

mysqltuner help me to solve it.

[2017-11-18 16:06] peterjaap commented on #11657
Here's a vanilla M2.2 file with a bunch of lipsum; https://gist.github.com/peterjaap/9db722c0c698a1493c61b77dd16af415

[2017-11-18 17:20] jwgraves2 commented on #12330
We are experiencing the same with the same configuration/stack and steps to reproduce.

[2017-11-18 18:03] versdivers commented on #11754
Let me ask you a question so i can provide more information. What defines the displayed width and height of a product ? And don't say "the view.xml' because thats faulty. view.xml defines the width and height of the image in its url but not in its div. (so an image is 500*500 but the div 'fotorama__stage__shaft' is 700*700 for example)

[2017-11-18 18:05] versdivers commented on #12248
What information do you want more then what i provided you? Can you show me a working example of this issue? Because i get the feeling that you guys like to quickly say its not reproducible just to not go trough the trouble to troubleshoot it descend . Out of stock Items are not shown in layered navigation except for the price.. Even a default installation has that.

[2017-11-19 03:15] syedsaleem086 opened #12346 "Add new customer by Admin is not showing in customer grid"
### Preconditions

1. Magento2.2.0
2. PHP 7.1
3. Windows Machine

### Steps to reproduce

1. Add new customer from admin (fill all details)
2. On saving it shows successfully saved, But it is not showing in customer grid
3. Creating once again shows customer email already exist

### Expected result

1. Added customer should show in customer grid

### Actual result

1. Added customer is not display

[2017-11-19 10:26] Romanst84 commented on #12331
Thank you for the quick response.
I did everything as you wrote.

nammucom@uk-node01 [~/public_html/m2]# php7 bin/magento deploy:mode:set developer
Enabled developer mode.
nammucom@uk-node01 [~/public_html/m2]# rm -rf /generated/metadata/* /generated/code/*
nammucom@uk-node01 [~/public_html/m2]# php7 bin/magento deploy:mode:set production
Enabled maintenance mode
Config "dev/debug/debug_logging =

[2017-11-19 10:27] nghelo opened #12347 "Invalid argument supplied for foreach() in Quote/Model/Quote/Address/Total/Collector.php"
Sometimes I receive this error when try to get the  'sales/totals_sort' config data.
On line 151 of Quote/Model/Quote/Address/Total/Collector.php the foreach goes wrong with "Invalid argument supplied" error.

I actually use Magento 2.1.10 but this problem happened in older versions also.

Now I applied a brute workaround before the foreach, that create the Total sort array manually:

`if (!isset(

[2017-11-19 11:59] u12206050 commented on #9965
Hi I updated to 2.1.10 and it still seems to be an issue, however I found that when I disabled "Use Flat Catalog Product" then it works again, but then Magento is very slow. Anyone have any advice regarding this?

[2017-11-19 12:08] southerncomputer commented on #12346
php bin/magento indexer:reindex customer_grid

check your indexer settings and crontab setup!

[2017-11-19 13:33] syedsaleem086 commented on #12346
Hi @southerncomputer

Indexing fixed the issue.
Thanks

[2017-11-19 13:33] #12346 closed, assigned to nobody

[2017-11-19 14:50] KarlComSe commented on #12221
I can confirm the same issue on 2.2.0.

I changed as below and it seems to resolve the specific issue, **it may have other consequences that I'm not yet aware of**. At least with the Google Tag Assistant recording, I don't get the duplicate hits issue any more.

**Step 1.** : Change the GoogleAnalytics/view/frontend/web/js/google-analytics.js file

            /**
             * Removed this line

[2017-11-19 15:12] matin73 commented on #10821
I found out, that include path is no problem if magento is running in subfolder. I hade same problem with live shop like www.domain.at. Then  i copied shop for testing and finding problem to www.domain.at/testshop/ . in testshop everything was running correct, coping testshop to root www.domain.at - and i had same problem as before. then solution provided by @PhiIipp worked for me.

The same probl

[2017-11-19 15:19] southerncomputer commented on #12331
You restart your php-fpm and varnish processes?

[2017-11-19 15:23] Romanst84 commented on #12331
Thanks for the quick reply

After I did reindex and clean cache

php7 bin/magento indexer:reindex
php7 bin/magento cache:clean

Or I do not understand you correctly?

[2017-11-19 15:23] matin73 opened #12348 "Wrong translation in checkout and minicart and error "Unable to save shipping information. Please check input data.""
### Preconditions
Upgrade Magento 2.1.9 to 2.1.10
PHP 7.0.25
MySql 5.7
Magento2_German_LocalePack_de_DE from https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE
Plesk Web admin edition with include path .:/opt/plesk/php/7.0/share/pear

### Steps to reproduce
Running Magento 2.1.9 everything ok. Uprading to 2.1.10 occures strange/wrong behaviour in checkout and minicart.

### Expec

[2017-11-19 15:27] southerncomputer commented on #12331
service php-fpm restart
service varnish restart

after deploy / source changes!

[2017-11-19 15:29] southerncomputer commented on #12331
if doesn't work, check for javascript errors, if none go into mysql or phpmyadmin

use mage
truncate table ui_bookmark;

change mage to your db name!

[2017-11-19 15:34] Romanst84 commented on #12331
Ok. Thank you. I will do what you wrote. Thank you.

[2017-11-19 15:52] alexhadley commented on #12221
I had made exactly the same change to mine as KarlComSe, and it resolve the issue from the pageview point of view.

I've not looked more, but it does seem to be failing to track ecommerce though, with sales values not showing.

[2017-11-19 16:06] storepeinture commented on #10594
I might have found the place where we can change the Admin Session_Lifetime manually.

In Magento 2.2.1 (Probably for any newer version of M2)

1. go to this folder: **vendor/magento/module-encryption-key/etc/**
2. Edit the file: **config.xml**
You will find this code:
`<default>`
`......<admin>`
`............<security>`
`..................<session_lifetime>900</session_lifetime>`
`............</s

[2017-11-19 17:01] achatpc commented on #11963
I see that the issue is fixed on you website https://www.nuovamoda.fashion/el/papoutsia/mpotes.html. How can i fix it please?

thank you in advance.

[2017-11-19 17:55] iWEBproject commented on #11963
Hi achatpc
Is not fixed my friend I wish....
go and check: https://www.nuovamoda.fashion/el/papoutsia/mpotes

[2017-11-19 19:55] orlangur commented on #12334
Please provide a place in official documentation suggesting Travis usage like described.

[2017-11-19 21:42] barbazul commented on #12334
@orlangur There is no mention on how to use Travis in the documentation. I am trying to self-discover this process in the hopes of actually writing such missing documentation. My current attempt is trying to use the travis file as it is provided by Magento, ideally, without modifications.

The few modifications made were to circumvent the initialization errors as they showed up, up to the point wh

[2017-11-19 22:30] orlangur commented on #12334
You cannot expect green builds using Travis configuration the way it is not used (= enforced) in core.

First unit test failure was fixed recently in https://github.com/magento/magento2/pull/12144.

Not even a part of this repository.

Only in case of Composer-based installation which is not a part of CICD loop currently. Feel free to report concrete issues similar to https://github.com/magento/ma

[2017-11-19 22:30] #12334 closed, assigned to orlangur

[2017-11-20 00:58] 666triv commented on #7027
What needs to be done to have this re-opened, im new here and not quite sure what needs to be done. :)

[2017-11-20 02:52] eCommerceGorilla opened #12350 "Translation Not Working in Checkout 2.2.1"
Created a translation file en_US.cs in a theme in app/design/frontend/Company/theme/i18n/
Changes made to the translation csv are not being applied to checkout

For example added the following to the translation csv:
"Apply Discount Code","Have a Promotional Code?"
"Apply Discount","Apply Promotion"

Cleared translation cache and reloaded and no change to the checkout. However the translation is a

[2017-11-20 03:14] jpcsguru commented on #11116
Magento 2.2.0 issues with layouts #11116

same issue here

[2017-11-20 03:34] rahims01 opened #12351 "Products not showing up in admin"
### Preconditions

1.  Magento 2.2.0
2.  PHP 7.1.x
3. MySQL 5.6

### Steps to reproduce

1. We installed a new extension (Multi vendor module), we were successfulyl able to create products as a seller and the products were approved by the admin. However, after sometime the products listing in the product page is blanking. It justs shows the no of records but not display the products.
2. Also even

[2017-11-20 04:58] king-themes opened #12352 "PHP 5.6.30 - Magento 2.1.9 "Attempt to load value of nonexistent EAV attribute '237' for entity type 'Magento\Catalog\Api\Data\ProductInterface'""
The message "Attempt to load value of nonexistent EAV attribute '237' for entity type 'Magento\Catalog\Api\Data\ProductInterface'" appears every time I load a product that has the custom attribute with Id= 237. It is happening in storefront and in backend.

### Preconditions

1. Magento 2.1.9
2. Eshop with 1 storeview.

### Steps to reproduce

1. Create a custom attribute, dropdown with values 'di

[2017-11-20 05:49] blopa opened #12353 "How to properly load saved config table data into Admin Panel?"
I'm trying to create a config table using `ArraySerialized` and I'm able to save it to database and retrieve it via code, the problem is everytime I load my backend panel, my custom select field from config table are always loading the first value.

I tried to follow some examples I saw online, but none seemed to work for me.

This is my code so far:

In system.xml
[code]

app\code\Werules\Chatbot

[2017-11-20 06:25] magento-engcom-team commented on #12353
Hello @blopa. The GitHub issue tracker is intended for technical issues only. Please refer to the Community Forums (https://community.magento.com) or the Magento Stack Exchange (http://magento.stackexchange.com/) site for technical and programming related questions.

[2017-11-20 06:25] #12353 closed, assigned to nobody

[2017-11-20 06:38] 4DallasC opened #12354 "When the Admin is on a different domain, redirect always fails and causes it to redirect to the front page"
When the admin setting 'admin/url/custom' is used to change the domain for the admin, the redirect always fails.

### Preconditions
    /**
     * Check whether URL is internal
     *
     * @param string $url
     * @return bool
     */
    protected function \Magento\Store\App\Response\Redirect::_isUrlInternal($url)
    {
        if (strpos($url, 'http') !== false) {
            $directLinkType

[2017-11-20 06:42] magento-engcom-team commented on #12351
Hello @rahims99 , thank You for your report.
Please describe us in details this step:
"We installed a new extension (Multi-vendor module)"

[2017-11-20 07:05] matin73 commented on #12350
I think same issue as mine here https://github.com/magento/magento2/issues/12348

[2017-11-20 08:16] matin73 commented on #12348
hm ... very strange. Problem with error message is shown on checkout page: "Unable to save shipping information. Please check input data." still here next day. If i clear all caches on browser and cookies message is gone. Until next day, then error message is here again.

[2017-11-20 08:26] magento-engcom-team commented on #12329
@quisse, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-20 08:26] #12329 closed, assigned to nobody

[2017-11-20 08:26] magento-engcom-team commented on #11624
@rishabhchd19, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-20 08:30] magento-engcom-team commented on #8222
@Dart18, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-20 08:30] #8222 closed, assigned to magento-engcom-team

[2017-11-20 08:30] magento-engcom-team commented on #11991
@binnykumar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-20 08:30] #11991 closed, assigned to nobody

[2017-11-20 08:39] ngocdb commented on #11253
Same issue here.
I am using Magento 2.1.8 with php 7.

![8fa9116b-35b2-46c3-b26b-9e362079961e](https://user-images.githubusercontent.com/3035559/33009272-eb945cfe-ce08-11e7-9d59-5e0d5e13f9a6.jpeg)

[2017-11-20 08:42] ShapesGraphicStudio commented on #10821
Thanks for your feedback @matin73,

My Sandbox is indeed in a subfolder and there @PhiIipp's solution is working (and not working without it). Guess I will have to have a 3rd try on this update..

As I wrote earlier, maybe I should do 2.1.9 > 2.2.0 > 2.2.1 instead of 2.1.9 > 2.2.0.. ?
Would there be a difference ?

[2017-11-20 08:58] magento-engcom-team commented on #12352
@king-themes , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-20 09:03] BlitzInternet commented on #4409
@kanduvisla we haven't experienced any up to now (in 2.1.4)

[2017-11-20 09:07] dankocherga opened #12355 "Product repository "get" method returns error if called more than 1000 times"
### Preconditions
1. Magento 2.2.1

### Steps to reproduce
1. Setup a database with more than 1000 different products
2. Call repository `get` method with different SKUs

### Expected result
1. Each call returns a product by SKU

### Actual result
After some calls:
[code]

Seems like the problem is in the following:
* `cacheProduct` [method is called](https://github.com/magento/magento2/blob/2.2.1

[2017-11-20 09:16] magento-engcom-team commented on #12348
![german3](https://user-images.githubusercontent.com/31669971/33010748-48f0c560-cde4-11e7-8a67-e298c246bd57.png)

![german2_0891264975](https://user-images.githubusercontent.com/31669971/33010741-427fd964-cde4-11e7-9998-94dffcacd3ec.png)
@matin73, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce

[2017-11-20 09:18] magento-engcom-team commented on #12348
@matin73, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
Plese check this pack
https://www.mageplaza.com/magento-2-german-language-pack.html
See

![german1_0871280975](https://user-images.githubusercontent.com/31669971/3

[2017-11-20 09:23] magento-engcom-team commented on #12330
@indefinitedevil, thank you for your report.
We've created internal ticket(s) MAGETWO-84124 to track progress on the issue.

[2017-11-20 09:30] magento-engcom-team commented on #4428
@mstumpf818, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-20 09:30] #4428 closed, assigned to rgoncharuk

[2017-11-20 09:41] atsareva commented on #12312
Hi @magento-engcom-team,
Please could your reopen this issue and try to reproduce again. In the comment above I've attached a lot of screenshots, maybe this is help you.

I think this is some security issue, because AJAX with GET type works fine instead of AJAX with POST.

Recently we  got a patch for popup extension. They also reproduced this issue and changed POST calls with GET.

Thanks,
Alena

[2017-11-20 09:43] magento-engcom-team commented on #5229
@klict, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-20 09:43] #5229 closed, assigned to nobody

[2017-11-20 09:49] orlangur commented on #11253
@ngocdb same here: please check my comment and find out which data bloated the local storage that much.

[2017-11-20 10:11] Kipperlenny commented on #10821
For me, the difference was the include path (between 2.2.0 and 2.2.1) but it should be no difference in files :)

[2017-11-20 10:18] king-themes commented on #12352
I try to reproduce the issue in a clean installation on a new development server. Everything works properly and as expected. Is there any suggestion why it is happening on my production server?

[2017-11-20 10:21] dev-team-1 commented on #6762
Cart price expiration date & other cart price inputs (RSS feed): we recently went from 2.1.5 to 2.1.10.
It was already possible in the past to enter an expiration date, now it is not possible anymore.
![image](https://user-images.githubusercontent.com/33829092/33013467-778760b4-cde4-11e7-900d-1f66ae5fe7a6.png)
The first 2 were created early November and are working fine. The last one was modified

[2017-11-20 10:40] cytracon opened #12356 "Magento 2.2.1, export products all store views"
Just tried to do an export of all products from all store views. But it just does export the default products.

There is no way to export all products incl. the store view related ones.

[2017-11-20 10:47] paniciu commented on #10594
We have the same problem on 2.1.8 and 2.2.0, and the solution from @storepeinture works fine. So a big thanks !

[2017-11-20 10:48] cytracon commented on #12350
Had the same problem. That
https://mage2.pro/t/topic/4524/2
fixed it for me.

[2017-11-20 10:49] cytracon commented on #12348
Had the same problem. That
https://mage2.pro/t/topic/4524/2
fixed it for me.

[2017-11-20 10:52] linden2015 commented on #12213
@magento-engcom-team , can you tell me what will be done with this issue?

* Will it be fixed in 2.1.?
* Will it be fixed in 2.2.?

[2017-11-20 11:00] andy17612 opened #12357 "Mysql.sock"
### Preconditions

1. MAGENTO2.2
2. PHP.7.1

### Steps to reproduce

1. magento cron:run 2>&1 | grep -v "Ran jobs by schedule"

### Actual result

1. Can somebody help and let me know what problem,thank you!

### Expected result

1. [Zend_Db_Adapter_Exception]
  SQLSTATE[HY000] [2002] Can't connect to local MySQL server through socket '/var/lib/mysql/mysql.sock' (2)
  [PDOException]
  SQLSTATE[HY0

[2017-11-20 11:04] magento-engcom-team commented on #12357
@rigu12, please refer to the [Community Forums](https://community.magento.com/or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for technical issues only.

[2017-11-20 11:04] #12357 closed, assigned to nobody

[2017-11-20 11:10] Webroju commented on #10821
@Kipperlenny  thanks for the solution with the direct path to the library, that worked finally for me!

[2017-11-20 11:11] ShapesGraphicStudio commented on #10821
I'll have a try to that one too and give you feedback.

[2017-11-20 11:12] storepeinture opened #12358 "Reopen Issue #10594 (Admin session timeout after 15 minutes)"
Hello, is it possible to reopen issue #10594.

Description is all there, and it looks like we have found a solution which also works for others.
The issue exists obviously for multiple users.

So maybe this could be taken into consideration.
- Why are the values of some stores not written correctly into the system
- Maybe our solution helps to improve this session_lifetime functionality in future

[2017-11-20 11:19] KarlDeux commented on #12342
I'd like to take this.

[2017-11-20 11:25] rishabhchd19 commented on #11624
Issue is resolved now. Cron jobs were not running properly due to server upgrade and the catalog thus not updated.  Closing this issue now.

[2017-11-20 11:30] magento-engcom-team commented on #9045
@johnny-longneck, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-20 11:30] #9045 closed, assigned to nobody

[2017-11-20 11:30] magento-engcom-team commented on #12354
@4DallasC, thank you for your report.
We've created internal ticket(s) MAGETWO-84133 to track progress on the issue.

[2017-11-20 11:30] magento-engcom-team commented on #12072
@joinso, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-20 11:30] #12072 closed, assigned to nobody

[2017-11-20 11:35] hemendraajmera opened #12360 "Magento 2.1.8 images not updating for configurable products"
### Preconditions

1. Magento 2.1.8
2.
### Steps to reproduce

1. added configrable product with two variant
2.  on frontend click on color
3. it will changing the image

### Expected result

1. when click on any color, image gallery should be shown from the color product

### Actual result

1. currently it only changing first image, and click on any other color with not change their color page
2.

[2017-11-20 11:37] magento-engcom-team commented on #12350
Duplicate #12348

[2017-11-20 11:37] #12350 closed, assigned to nobody

[2017-11-20 11:38] KarlComSe commented on #12221
@alexhadley I didn't test conversion tracking / sales tracking with the tag manager recording yesterday, but can see several orders from yesterday in Google Analytics. Those orders were made after the change to the .js-file. Hence, my conclusion is that above changes still tracks transactions.

[2017-11-20 11:52] matin73 commented on #12348
Problem is not extension of translation. problem is include path which is set by plesk web admin. magento2 seems changed somewhere calculation inlcude path which causes error on plesk

[2017-11-20 11:54] magento-engcom-team commented on #12356
@cytracon, thank you for your report.
The issue is already fixed in develop branch, 2.1.10

[2017-11-20 11:57] cytracon commented on #12356
thanks, but I have the 2.2.1 version. did you fix it in 2.2.2 dev as well?

[2017-11-20 12:00] noindie commented on #6924
same problem here, tried everything but no solution.
I am running 2.1.9 with mariadb 10 on debian jessie.
Could it be caused by some value already added in database?
my csv is simple 1 product only, UTF-8 no weird char on it

Even applied this in vendor/magento/module-import-export/ https://github.com/magento/magento2/commit/eeb0e6f16713b6a2cc84def34d4ab37b0f681ee9#diff-ea3120705d77399fa31b22b5d09

[2017-11-20 12:01] Romanst84 commented on #12331
Did not help

service php-fpm restart
service varnish restart

do not use the host

truncate table ui_bookmark and change mage to your db name

when I checked for javascript errors

![screenshot_19](https://user-images.githubusercontent.com/33752251/33017447-0b06b89c-cdfb-11e7-8dd4-49e16e9a6fc4.png)

and go to the  "at XMLHttpRequest.xhr.onreadystatechange (text.js:115)"

![screenshot_20](https://

[2017-11-20 12:07] hemendraajmera commented on #4101
solution
https://magento.stackexchange.com/questions/131308/image-not-change-on-change-swatch-option

[2017-11-20 12:11] MichalZabrocki commented on #12176
I have this issue when Mgt_DeveloperToolbar is enabled

[2017-11-20 12:30] magento-engcom-team commented on #12335
@rigu12, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.1

[2017-11-20 12:30] #12335 closed, assigned to nobody

[2017-11-20 12:44] magento-engcom-team commented on #12360
@hemendraajmera , We can't reproduce this issue. Please install fresh and clean Magento, and try to reproduce this issue again.

[2017-11-20 12:52] magento-engcom-team commented on #12189
@LeLieu, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10, 2.2.1

[2017-11-20 12:52] #12189 closed, assigned to nobody

[2017-11-20 12:56] leoncito73 commented on #12211
@orlangur @magento-engcom-team
any idea?

[2017-11-20 13:01] Avinashsain commented on #12323
Hi Team,

Any update on this?

Thanks

[2017-11-20 13:01] magento-engcom-team commented on #11967
Hi @shyang292
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-20 13:01] #11967 closed, assigned to magento-engcom-team

[2017-11-20 13:30] magento-engcom-team commented on #11985
@careys7, thank you for your report.
We've created internal ticket(s) MAGETWO-84149 to track progress on the issue.

[2017-11-20 13:30] magento-engcom-team commented on #11939
@andrewhowdencom, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-20 13:30] #11939 closed, assigned to nobody

[2017-11-20 13:30] magento-engcom-team commented on #12278
@hatimeria-artur-jewula, thank you for your report.
We've created internal ticket(s) MAGETWO-84142 to track progress on the issue.

[2017-11-20 13:30] magento-engcom-team commented on #11905
@bgorski, thank you for your report.
We've created internal ticket(s) MAGETWO-84148 to track progress on the issue.

[2017-11-20 13:32] magento-engcom-team commented on #12343
@abuvanth, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-20 13:37] sakjha10 commented on #12176
Is Mgt_DeveloperToolbar of Magento or third party module?

[2017-11-20 13:47] magento-engcom-team commented on #12348
@matin73 , thank for you respons. Please check this problem on clean installation.

[2017-11-20 13:47] MichalZabrocki commented on #12176
This is third party module.

[2017-11-20 13:52] magento-engcom-team commented on #10594
@storepeinture , @paniciu , We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. In addition, identify the web server you are running, the versions of PHP and MySQL, and any other information needed to reproduce your issue.

[2017-11-20 13:53] magento-engcom-team commented on #10594
@storepeinture, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-20 14:01] sakjha10 commented on #12176
Ok. In my case, there are more than 25 extensions. And the issue comes sometime, not frequently.

[2017-11-20 14:01] paniciu commented on #10594
Magento version 2.2.0

[2017-11-20 14:07] minlare opened #12362 "Concurrent (quick reload) requests on checkout cause cart to empty - related to session_regenerate_id"
### Preconditions

1. Magento 2.2.0
2. PHP7

### Steps to reproduce

1. Add product to cart
2. Navigate to checkout
3. Reload the page as quick as possible (F5 multiple times)

### Expected result

1. Reload the checkout as usual
2. Cart contains session items

### Actual result

1. Redirects to empty cart
2. session_id() is old session id (previous request regenerated a new session_id, but this r

[2017-11-20 14:16] paniciu commented on #10594
Server info: Centos 7.4
PHP version: 7.0
Magento 2.2.0

In Stores > Settings > Configuration > Advanced > Admin > Security, I changed Admin Session Lifetime from 900s (default value) to 28800s (8 hours). In admin the value is saved but it doesn't work, after 15 min it logs me out.

Tested it on Firefox 57.0 (default settings) and Chrome 62.0 (default settings).

[2017-11-20 14:30] magento-engcom-team commented on #12216
@gaboreszaki, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.1

[2017-11-20 14:30] #12216 closed, assigned to nobody

[2017-11-20 14:30] magento-engcom-team commented on #12355
@dankocherga, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-20 14:30] #12355 closed, assigned to nobody

[2017-11-20 14:30] magento-engcom-team commented on #12339
@anuox, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-20 14:30] #12339 closed, assigned to nobody

[2017-11-20 14:32] lano-vargas commented on #8018
Everyday I discover something new using Magento  this is another one I came across on 2.1.7.
Is there an ending to bugs !

[2017-11-20 14:36] magento-engcom-team commented on #12121
Hi @p3kyle. Here below we have attached the video about how we were trying (unsuccessfully) to reproduce Your issue. Please watch it and tell us where Your steps differs from ours. Thank You.

[2017-11-20 14:41] korostii commented on #10489
Adding an extra step _after_ checkout success sounds most logical, although you're probably right that a popup looks a bit out of place in this case.

Why not make it an actual separate page? it could also show the fields copied from address, allowing to correct them (if needed) prior to actually creating the account. Actually, if you think about it, you could just redirect to the usual `customer/

[2017-11-20 14:41] magento-engcom-team commented on #12362
@minlare, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-20 14:45] seyuf commented on #9187
Actually, it's not a bug on the product page magento2 simply hides the old price and displays the right one according to the user selection (when he chooses a specific declination/simple product from the available options).

[2017-11-20 14:55] basselalaraaj opened #12363 "Wrong from email / name in the order / invoice / creditmemo emails."

[2017-11-20 14:56] #12363 closed, assigned to nobody

[2017-11-20 14:58] AleksLi opened #12364 "Something went wrong. New Admin User with Role."
### Preconditions

1. Magento 2.2.0
2. mysql  Ver 15.1 Distrib 10.0.31-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
3. PHP 7.0.22

### Steps to reproduce

1. Create a new admin user role with access to Sales, Catalog, and Customers

### Expected result

1. Login as this new Admin User and work with Sales, Catalog, and Customers.
2. Go to Sales->Orders

### Actual result

1. Here is th

[2017-11-20 15:01] storepeinture commented on #10594
Server System: Linux
PHP Version: 7.0.25
Magento Version: 2.2.1

The problem appears to happen to some other users as well. This issue has been reported multiple times. But it only happens to some people ... I don't know why or what caused the issue. It just never worked for me. Until I found the possibility to write my desired value hard into the config.xml file.

If you want to know how to **rec

[2017-11-20 15:06] minlare commented on #12362
I see you have re-opened the issue yourselves... Does that mean you were able to reproduce?

[2017-11-20 15:12] andrewhowdencom commented on #11939
Hola @magento-engcom-team can you point to the commit? I'm looking for it now, but you might save me some work.

[2017-11-20 15:16] magento-engcom-team commented on #12362
@minlare, thank you for your report.
We've created internal ticket(s) MAGETWO-84160 to track progress on the issue.

[2017-11-20 15:17] AleksLi commented on #10901
@magento-engcom-team
Have you seen #8170 I referenced to?

[2017-11-20 15:23] andrewhowdencom commented on #11939
To clarify, I can't see the fix. Absent clarification, please reopen.

[2017-11-20 15:30] direct-brand opened #12365 "Magento 2.2 upgrade and now front end not showing online"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-11-20 15:30] magento-engcom-team commented on #12190
@thomvanderboon, thank you for your report.
We've created internal ticket(s) MAGETWO-84161 to track progress on the issue.

[2017-11-20 15:30] magento-engcom-team commented on #12221
@alexhadley, thank you for your report.
We've created internal ticket(s) MAGETWO-84155 to track progress on the issue.

[2017-11-20 15:30] magento-engcom-team commented on #12287
@googlygoo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-20 15:30] #12287 closed, assigned to nobody

[2017-11-20 15:34] magento-engcom-team commented on #12365
@direct-brand Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-11-20 15:41] orlangur commented on #11264
Hi @scholtz, I locked conversation here just to stop flame, feel free to comment if you have something constructive to add. Just make sure that your comments comply with [Code of Conduct](https://github.com/magento/magento2/wiki/Magento-Code-of-Conduct).

FYI, this issue was accidentally fixed in `2.2-develop` already, zend-code 3.1.x is currently used for both PHP 7.0 and 7.1, the downside is tha

[2017-11-20 15:54] RJacksonm1 commented on #8777
We've been having trouble with this bug on a production website, where customers are attempting to check out and seeing a very unhelpful "An error occurred on the server. Please try to place the order again." error message because its not at all obvious to them that they need to select "Update" when they're presented with a dropdown form of potential billing addresses.

Since originally tracking t

[2017-11-20 15:55] eCommerceGorilla commented on #12350
@magento-engcom-team  not a duplicate of at all of the post you mentioned. In fact besides just being about translation they share no similarities.

@cytracon Thank for the suggestion, I reviewed and tested but wasn't related to the issue I'm having unfortunately.

What I have been able to determine is that the js-translation.json files are not being generated. This appears to be affecting the che

[2017-11-20 15:56] andrewhowdencom commented on #11939
So, there looks to be some sort of special fastly "surrogate control". This would make sense -- specify TTLs for the caching struct separately, so they can't accidentally propagate to the implementing browser. But this isn't how it's setup -- we're using normal cache-control headers, and were stripping them.

References:
- https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9

[2017-11-20 16:20] alex4allofyou commented on #11828
I also have this issue, PHP7.1.9.

Also, the dropdown has a lower z-index than the rest, so if you have not many swatches or choose one at the bottom you cannot see all options.

![zindex](https://user-images.githubusercontent.com/9028498/33028750-009b3056-ce17-11e7-9db6-3bb111e17088.JPG)

[2017-11-20 16:30] magento-engcom-team commented on #12186
@danyvega1990, thank you for your report.
We've created internal ticket(s) MAGETWO-84169 to track progress on the issue.

[2017-11-20 16:39] Ecksters opened #12366 "Authorize.net Gateway Errors are Hidden from Customer"
### Preconditions

1. Magento 2.2.0
2. PHP7
3. Using Cloudflare (possibly affecting the result?)

### Steps to reproduce
1. Use Authorize.net Directpost Gateway
2. Input incorrect credit card details (like ZIP code)
3. Get generic error message

### Expected result
1. Errors should be more specific on the front-end, at least as specific as what is shown on the backend.

### Actual result
1. Backen

[2017-11-20 16:39] magento-engcom-team commented on #12150
@georgios-2317, thanks for reporting this issue.
You can try to enable "Log to File" option in admin area. You can find it in Stores > Configuration > Advanced > Developer > Debug > Log to File. Please let us know, if issue is still occur.

[2017-11-20 16:41] sbwcws opened #12367 "Unable to save shipping information. Please check input data. Magento 2.2.1"
Magento 2.2.1
PHP 7.0.25
MySql 5.7
Nginx 1.10

Steps to reproduce
Adding Product to the cart filling out customer details information  clicking NEXT give the following error

Expected result
Minicart and checkout page should load up new page to enter credit card information.

Actual result
![capture](https://user-images.githubusercontent.com/7937555/33029793-81669b74-cde7-11e7-92c3-4316f11e7868.PN

[2017-11-20 17:06] Ralfefernandes commented on #11263
I had also the same issues. By running  those commands all the problems was gone.
php bin/magento index:reindex
php bin/magento setup:static-content:deploy -f

[2017-11-20 17:08] Ecksters commented on #12366
I disabled CloudFlare's Mirage to make sure the modifications to the response weren't causing the problem, it now looks like this:

[code]

But still I only get a generic error on the front-end. I noticed that there appears to be code intended to detect the various errors, so I'm wondering why it's not working.

[2017-11-20 18:00] nemesis-back commented on #8069
@okorshenko you fixed this issue for 2.2 in this commit https://github.com/magento/magento2/commit/0ac82ebb63032909f5c61c40ee1b1bbc3b5d9c32
so I've just backported it to 2.1-develop

[2017-11-20 18:16] fwolfst commented on #11532
@sitiodocanoamarelo  Same issue here on a 2.2.1 . I suspect the fix given by @keanass  should work. We also have the "follow-up" error about URL rewrites - not sure if that is related. Dealing with imported products I suspect it has something to do with the store_id of relevant attribute_values.

Btw from my experience and code reading, **ugly workaround is to remove the product from all categorie

[2017-11-20 19:09] lee586 commented on #12317
As a workaround, I have to disable or delete each child product when it goes out of stock.  That is the only way Magento will "X" out that product configuration.

[2017-11-20 19:16] thaddeusmt commented on #12112
I am getting this error in 2.2.1 in Development mode, when visiting the `customer/address/new` page.

    Fatal error: Cannot use Magento\Framework\App\Helper\Context as Context because the name is already in use in /var/www/magento2/vendor/magento/module-customer/Model/AttributeChecker.php on line 11

Commenting out that line `use Magento\Framework\App\Helper\Context;` also fixed it for me. I thi

[2017-11-20 19:48] ci2014 commented on #2732
@magento-engcom-team Thank you. At the moment, I don't have this problem anymore.

[2017-11-20 20:08] erikhansen commented on #8777
@RJacksonm1 One thing I did for a merchant recently was to change the "Update" button to be much more obvious. I believe native Magento has the button right-aligned and a light grey, which is easy to miss.

![14-07-42 checkout showmecables com-o06ls](https://user-images.githubusercontent.com/129031/33039068-5866c400-cdfc-11e7-870d-4166a4b656fc.png)

[2017-11-20 20:56] gewaechshaus commented on #12362
Very good finding @minlare - Respect. Everybody can test it in one of our m2.2.1 live systems on https://www.makerdise.com... It's easy to reproduce.

[2017-11-20 20:56] king-themes commented on #12352
I compared the tables between the two databases. I specify that the development server is working properly, while the production does not. I found differences only in the tables `catalog_product_index_eav_idx` and `catalog_product_index_eav_tmp`.

 Do anyone know what exactly is the table `catalog_product_index_eav_idx` and how could this difference be corrected?

[2017-11-20 21:03] magento-engcom-team commented on #12356
@cytracon, thank you for your report.
We've created internal ticket(s) MAGETWO-84181 to track progress on the issue.

[2017-11-20 21:52] useapp commented on #8508
HI,
I use Magento 2.1.9 with method
_Create a language package same official docs, create 4 files: composer.json, language.hml, registration.php, ru_RU.csv._

my generated js-translation.json  has only half translations
in dictionary (ru_RU.csv) I have about 220 translations
in js-translation.json only 53.

[2017-11-20 22:13] josh-nh commented on #12362
Following..

[2017-11-20 22:58] jdonovan-gaia commented on #12226
turned out to be an issue with needing to flush the AWS Elasticache/Redis cache

[2017-11-21 00:54] fabianus76 commented on #12216
Same problem here.
It seems that the upgrade worked out fine (I do not have any issues since about one week after upgrade) but no more update or integration of pulugins is possible as the "rollback" message remains.
Does anybody have an idea on how to get rid of this message?

Thanks a lot for any feebdack !

[2017-11-21 01:17] blopa commented on #12353
I think this is a bug, because my code should have worked.

[2017-11-21 01:52] blopa commented on #12353
nvm got it :D

[2017-11-21 01:59] rahims99 commented on #12351
We purchased WEBKUL Multi Vendor module for Magento 2.2.0. After deploying and configuring the module, we were able to configure a couple of test seller accounts and seller products. We were able to approve some of the products and the sellers through the admin. However, after couple of uses the manager seller page does not show any products or sellers for approval. it just displays the count of t

[2017-11-21 02:17] okorshenko commented on #11691
Hi @diazwatson thank you for your report. The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-21 02:17] #11691 closed, assigned to p-bystritsky

[2017-11-21 02:17] okorshenko commented on #12261
Hi @bondimedical3 thank you for your report. The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-21 02:17] #12261 closed, assigned to RomaKis

[2017-11-21 02:18] okorshenko commented on #10438
thank you for your report. The issue has been fixed and delivered to 2.2-develop branch. Will be available with upcoming patch release

[2017-11-21 02:18] #10438 closed, assigned to YevSent

[2017-11-21 02:33] magento-engcom-team commented on #12277
@Igloczek thank your suggestion

[2017-11-21 02:33] #12277 closed, assigned to nobody

[2017-11-21 02:36] magento-engcom-team commented on #12254
@joshuaadickerson please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this feature. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-21 02:36] #12254 closed, assigned to nobody

[2017-11-21 02:49] magento-engcom-team commented on #12026
@vinoth44, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-21 02:49] #12026 closed, assigned to nobody

[2017-11-21 02:50] magento-engcom-team commented on #12000
@eh6design, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-21 02:50] #12000 closed, assigned to nobody

[2017-11-21 02:50] magento-engcom-team commented on #11906
@joni-jones thank you for support

[2017-11-21 02:50] #11906 closed, assigned to nobody

[2017-11-21 02:53] magento-engcom-team commented on #7318
@thomb2233, thank you for your report.
We've created internal ticket(s) MAGETWO-61313 to track progress on the issue.

[2017-11-21 02:54] magento-engcom-team commented on #12080
@marilena6, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-11-21 02:54] #12080 closed, assigned to nobody

[2017-11-21 02:57] magento-engcom-team commented on #12096
Hi @brijeshcody please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-11-21 02:57] #12096 closed, assigned to nobody

[2017-11-21 03:00] magento-engcom-team commented on #6007
@koenner01, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-21 03:00] #6007 closed, assigned to magento-engcom-team

[2017-11-21 03:02] magento-engcom-team commented on #12093
@kientran175, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-11-21 03:02] #12093 closed, assigned to nobody

[2017-11-21 05:53] jigardhaduk commented on #12338
Hello,
Is there anyone to help?

[2017-11-21 06:14] sidolov commented on #10457
Hi @careys7, looks like described behavior caused by configuration mismatch. Try to declare backend_model for field "country_mapping" in config.xml file:
`<country_mapping backend_model="Magento\Config\Model\Config\Backend\Serialized\ArraySerialized"/>`

after this fix expression `$this->scopeConfig->getValue('shipping/extension/country_mapping')` will return unserialized array.

Could you please

[2017-11-21 06:23] okorshenko commented on #12146
The issue has been fixed in 2.2-develop branch

[2017-11-21 06:23] #12146 closed, assigned to nobody

[2017-11-21 06:54] careys7 commented on #10457
Hey @sidolov

Thanks for the feedback! It doesn't look like this is applied consistently in the core, can you think of why?

(eg NewRelicReporting, ProductAlert, Tax, etc)

[2017-11-21 08:18] magento-engcom-team commented on #6351
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-21 08:30] p-bystritsky commented on #11754
@versdivers, please provide more detailed steps to reproduce. Current seems not complete and unclear.

[2017-11-21 08:31] magento-engcom-team commented on #11754
@versdivers, please provide more detailed steps to reproduce. Current seems not complete and unclear.

[2017-11-21 08:39] minlare commented on #12362
Thanks @gewaechshaus - it was a bit of a shock to find no-one else had raised the issue! I just tested on a base install of Magento 2.1.9 & 2.2.0 with sample data, so you'd have to test with varnish yourself...

[2017-11-21 08:47] magento-engcom-team commented on #11525
Hi @stemcellscarr

For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-21 08:52] pablobae opened #12370 "Something went wront alert after deploy static content in clean install M2.2.1"
### Preconditions

1. Centos 7 64
2. Magento 2.2.1 (clean install)
3. PHP 7.0.2
4. MariaDB 10.1.29
5. Httpd 2.4.6

### Steps to reproduce

1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition .
2. find var vendor pub/static pub/media app/etc -type f -exec chmod g+w {} \; && find var vendor pub/static pub/media app/etc -type d -exec chmod g+w {} \;

[2017-11-21 09:26] magento-engcom-team commented on #10030
Hi @jignesh26
Can you reproduce the issue on 2.1.10 version

[2017-11-21 09:27] magento-engcom-team commented on #12252
Hi again @adamlavery. Please confirm yet that no other price rules (neither cart nor catalog) except advanced pricing are applied. And no schedule update or the like has an impact upon the issue.

[2017-11-21 09:27] magento-engcom-team commented on #4955
@ludwig-gramberg, thank you for your report.
We've created internal ticket(s) MAGETWO-58550 to track progress on the issue.

[2017-11-21 09:30] magento-engcom-team commented on #12124
@scrivvles, thank you for your report.
We've created internal ticket(s) MAGETWO-82828 to track progress on the issue.

[2017-11-21 09:37] ishakhsuvarov commented on #12274
@jahvi Looks like issue is solved, can we close the ticket now?

[2017-11-21 09:37] gvigner commented on #12124
Great news!

[2017-11-21 09:40] adamlavery commented on #12252
Confirmed. There are no catalog or cart rules setup. What "schedule update or the like" are you referring to? Do you mean special price - as per previous screenshot, none has been setup. The site is quite vanilla at present as we are testing setups.

![catalog-rules](https://user-images.githubusercontent.com/13659750/33065081-c047c508-ce9f-11e7-81c9-f8e54538810d.jpg)
![cart-rules](https://user-ima

[2017-11-21 09:40] quisse opened #12371 "Adding a handler to the Magento\Catalog\Helper\Output Class"
I want to add a custom productAttribute handler to the [`Magento\Catalog\Helper\Output`][1] Class. The [changelog][2] says it should be done by using a Plugin ([because event `catalog_helper_output_construct` is removed][4]) but as far as I can see, each available method would add the handler multiple times if I don't check if it is already added (which is no clean solution in my opinion). The onl

[2017-11-21 09:41] jahvi commented on #12274
Well there is a workaround, still would be nice if there was a built in way of dealing with this but this can be closed now.

[2017-11-21 09:43] sidolov commented on #10457
@careys7 looks like it was overlooked during the implementation. Maybe it makes sense to show raw value for some cases.
Is this issue still actual for you or we can close it?

[2017-11-21 09:48] magento-engcom-team commented on #12148
Hi @helmsmantest
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-21 09:48] #12148 closed, assigned to magento-engcom-team

[2017-11-21 10:02] robysalv opened #12372 "Magento2 Paypal"
Hi
Magento 2.2 version
 I have issue when  active native terms & condition on magento 2  and Paypal activate.
I click on checkbox Terms and Condition  and after click on " pay with Paypal"  I have a conflict because popup Paypal remain blocked  and the process no work .If I have term and condition without checkbox the payment paypal work well-

Regards
Roberto

### Preconditions

1.
2.

### Steps

[2017-11-21 10:09] magento-engcom-team commented on #12364
@AleksLi, thank you for your report.
We've created internal ticket(s) MAGETWO-84206 to track progress on the issue.

[2017-11-21 10:13] lexwet commented on #12372
#11885

[2017-11-21 10:30] magento-engcom-team commented on #12100
@romainruaud, thank you for your report.
We've created internal ticket(s) MAGETWO-84200 to track progress on the issue.

[2017-11-21 10:37] tommybds commented on #10071
@moleculech fix worked for me, thanks :) (magento CE 2.2.0)

[2017-11-21 10:38] Detzler opened #12374 "Model hasDataChanges always true"
### Preconditions
1. PHP7.1
2. Magento2.2

### Steps to reproduce

1. Execute:
[code]

### Expected result

1. hasDataChanges returns false because no data has been changed

### Actual result

1. hasDataChanges returns true
2. Performance impact on $category->save()

[2017-11-21 10:42] orlangur commented on #11525
This is not related to migration tool.

@magento-engcom-team, I explicitly mentioned this

[2017-11-21 11:16] magento-engcom-team commented on #12372
@robysalv , thank you for your report.
This is duplicate of [#11885](https://github.com/magento/magento2/issues/11885)

[2017-11-21 11:16] #12372 closed, assigned to nobody

[2017-11-21 11:30] magento-engcom-team commented on #12305
@henk-hypershop, thank you for your report.
We've created internal ticket(s) MAGETWO-84211 to track progress on the issue.

[2017-11-21 11:30] magento-engcom-team commented on #12245
@nathanmerrill, thank you for your report.
We've created internal ticket(s) MAGETWO-84208 to track progress on the issue.

[2017-11-21 11:30] magento-engcom-team commented on #12286
@navarr, thank you for your report.
We've created internal ticket(s) MAGETWO-84212 to track progress on the issue.

[2017-11-21 11:30] magento-engcom-team commented on #12097
@hirensutariya1, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-21 11:30] #12097 closed, assigned to nobody

[2017-11-21 11:30] magento-engcom-team commented on #10594
@storepeinture, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-21 11:30] #10594 closed, assigned to nobody

[2017-11-21 11:49] magento-engcom-team commented on #12168
@darabaig, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-21 11:50] #12168 closed, assigned to nobody

[2017-11-21 12:00] wexo-team opened #12377 ""ScopeDefault" class returns 1 as id where 0 would be expected"
`\Magento\Framework\App\ScopeDefault::getId()` returns `1` where I with my Magento 1 background would expect `0` to be the correct result.
I have not seen this behavior trigger any bugs in the code so I would like to hear if anyone can confirm whatever the current implementation is correct or not.

https://github.com/magento/magento2/blob/8c7c70059f8809f3ca6e4eddd112c80d8f6b0820/lib/internal/Magen

[2017-11-21 12:05] amansrivastava opened #12378 "Regions list in Directory module for India"
States list is required in India for setting new tax (GST) implementation and for accuracy in shipping address.
This is list of regions need to be appended in InstallData in magento-directory module.
        $data = [
        ['IN','AN','Andaman and Nicobar Islands'],
        ['IN','AP','Andhra Pradesh'],
        ['IN','AR','Arunachal Pradesh'],['IN','AS','Assam
        '],['IN','BR','Bihar

[2017-11-21 12:05] magento-engcom-team commented on #12370
@pablobae, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.10, 2.2.1

[2017-11-21 12:05] #12370 closed, assigned to nobody

[2017-11-21 12:11] magento-engcom-team commented on #12377
Hello @wexo-team. The GitHub issue tracker is intended for technical issues only. Please refer to the Community Forums (https://community.magento.com) or the Magento Stack Exchange (http://magento.stackexchange.com/) site for technical and programming questions.

[2017-11-21 12:11] #12377 closed, assigned to nobody

[2017-11-21 12:17] magento-engcom-team commented on #12358
@storepeinture , Thank you for your submission. The Magento 2 GitHub repository is used to capture code and documentation issues. Questions should be posted to a question and answer site, such as [Stack Exchange](https://magento.stackexchange.com/) and the [Magento Forums](https://community.magento.com/), where Magento community members can quickly provide recommendations and advice.

[2017-11-21 12:17] #12358 closed, assigned to nobody

[2017-11-21 12:25] magento-engcom-team commented on #12371
@quisse, thank you for your report.
Unfortunately, now your report seems unclear. Please provide more detailed steps to reproduce and actual result.

[2017-11-21 12:28] southerncomputer commented on #12362
i've  seen this  on 2.1.10 with classylama_defaultbillingaddress plugin with custom OPC! It causes billing-information to loop  4 times - which then looses the session cookie!

[2017-11-21 12:30] magento-engcom-team commented on #12322
@alexvandervegt, thank you for your report.
We've created internal ticket(s) MAGETWO-84221 to track progress on the issue.

[2017-11-21 12:30] magento-engcom-team commented on #12374
@Detzler, thank you for your report.
We've created internal ticket(s) MAGETWO-84213 to track progress on the issue.

[2017-11-21 12:30] magento-engcom-team commented on #12325
@ankursachdeva11, thank you for your report.
We've created internal ticket(s) MAGETWO-84216 to track progress on the issue.

[2017-11-21 12:30] magento-engcom-team commented on #12188
@Priya-Ponnusamy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.1

[2017-11-21 12:30] #12188 closed, assigned to nobody

[2017-11-21 12:36] wexo-team commented on #12377
Thank for the info. I will continue my search for answers in the Community Forums
([refrence link](https://community.magento.com/t5/Programming-Questions/quot-ScopeDefault-quot-class-returns-1-as-id-where-0-would-be/m-p/80364))

[2017-11-21 12:48] magento-engcom-team commented on #12179
@mfxts, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-11-21 12:53] quisse commented on #12371
@magento-engcom-team As Wouter says. I've also added a link to the class in magento 1.9 where the event is dispatched. We need this back in Magento 2 for properly adding custom productAttribute handlers since there is no other clean way to add those.

[2017-11-21 13:28] magento-engcom-team commented on #12157
@petnutz Thanks for reporting this issue. Please provide more detailed preconditions and steps to reproduce.

[2017-11-21 13:30] nuovecode commented on #10559
Same issue for me. Firefox and Safari can't see the extended file

[2017-11-21 13:34] magento-engcom-team commented on #12071
@Rockfordgun, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-21 13:34] #12071 closed, assigned to nobody

[2017-11-21 13:43] DaimPiek commented on #10687
I'm having a similar issue on 2.1.10 (CE). I use a cron job to periodically import new product images. This works well when the product had no images before. But when images are updated the image roles disappear.

I made sure the types on the GalleryEntry are correctly set. I encounter this issue through both CLI and crons.

[2017-11-21 13:58] ishakhsuvarov commented on #12331
Hi @Romanst84
Please use the appropriate repository to report issues related to the data migration tool: https://github.com/magento/data-migration-tool
Thank you

[2017-11-21 13:58] #12331 closed, assigned to nobody

[2017-11-21 14:03] orlangur commented on #12355
@dankocherga I believe this was fixed in https://github.com/magento/magento2/commit/3b50751687f873a645b914194228e0006fa1cb1b which will be released in 2.2.2.

[2017-11-21 14:08] magento-engcom-team commented on #11638
@tonymik, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento 2 issues only.

[2017-11-21 14:08] #11638 closed, assigned to nobody

[2017-11-21 14:28] magento-engcom-team commented on #7252
Duplicate of #6868. internal ticket MAGETWO-82054 already created

[2017-11-21 14:28] #7252 closed, assigned to nobody

[2017-11-21 14:30] magento-engcom-team commented on #12202
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-84245 to track progress on the issue.

[2017-11-21 14:30] magento-engcom-team commented on #11304
@ludwig-gramberg, thank you for your report.
We've created internal ticket(s) MAGETWO-84234 to track progress on the issue.

[2017-11-21 14:30] magento-engcom-team commented on #12378
@amansrivastava, thank you for your report.
We've created internal ticket(s) MAGETWO-84233 to track progress on the issue.

[2017-11-21 14:30] magento-engcom-team commented on #12367
@sbwcws, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.10, 2.2.1

[2017-11-21 14:30] #12367 closed, assigned to nobody

[2017-11-21 14:37] nuovecode commented on #10559
Thanks @srenon!! your solution works nice also in M2.0 if you change the name of the resource

[code]

[2017-11-21 14:43] Drakas commented on #9127
@magento-engcom-team I can confirm the comment of @Olek89 .
The special price of "configurable product" does not appears as it was in the 2.1.5 version (now I'm on 2.2.1).
It's very uncomfortable. Please fix if possibile...

I upgrade Magento 2.1.5 to 2.2.1 form command line.

[2017-11-21 15:30] magento-engcom-team commented on #8507
@andkirby, thank you for your report.
We've created internal ticket(s) MAGETWO-84247 to track progress on the issue.

[2017-11-21 15:30] magento-engcom-team commented on #9427
@rzinnatullin, thank you for your report.
We've created internal ticket(s) MAGETWO-84248 to track progress on the issue.

[2017-11-21 16:03] Detzler opened #12380 "Category tree move ends with dead lock"
### Preconditions

1. Magento2.2
2. PHP7.1

### Steps to reproduce

1. Execute code:
[code]

### Expected result

1. Category moves in tree

### Actual result

1. Script execution aborts with error:

### Hints
The move method in `vendor/magento/module-catalog/Model/Category.php`
n dispatches an event via:
`$this->_eventManager->dispatch($this->_eventPrefix . '_move_after', $eventParams);`

`vendor

[2017-11-21 16:21] callumstar commented on #10454
Is there any updates on if this has been fixed at all on Magento 2.1.9?

[2017-11-21 16:30] magento-engcom-team commented on #12366
@Ecksters, thank you for your report.
We've created internal ticket(s) MAGETWO-84252 to track progress on the issue.

[2017-11-21 16:31] magento-engcom-team commented on #12380
@Detzler, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-21 16:37] magento-engcom-team commented on #12338
@jigardhaduk Thanks for reporting this issue.
Unfortunately, we could not reproduce the issue as you described it. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-11-21 17:16] gewaechshaus commented on #12362
@southerncomputer - we are also using a custom OPC. But you can test the regular checkout by just attaching /checkout/ instead of /onestepcheckout/ to the url - it does behave the same way.

However, I did test it on E3D website which doesn't seem to have this bug, but is also using a custom checkout.
https://e3d-online.com/

You can also easily reproduce this in
http://demo-acm2.bird.eu
https://m

[2017-11-21 17:28] bnymn commented on #4546
I am getting the following error when I run `bin/magento setup:upgrade`.

[code]

[2017-11-21 18:57] king-themes commented on #12352
Finally I solved the problem by making a new installation on my production server. Apparently something went wrong in the previous installation.

[2017-11-21 18:57] #12352 closed, assigned to nobody

[2017-11-21 19:17] okorshenko commented on #8003
The issue has neeb fixed and delivered to 2.2-develop branch

[2017-11-21 19:17] #8003 closed, assigned to nmalevanec

[2017-11-21 19:18] #11139 closed, assigned to mayankzalavadia

[2017-11-21 19:18] okorshenko commented on #10502
The issue has neeb fixed and delivered to 2.2-develop branch

[2017-11-21 19:18] #10502 closed, assigned to marinagociu

[2017-11-21 20:15] careys7 commented on #10457
This looks resolved now, thanks for investigating @sidolov

If I understand correctly configuration options that require a backend model must also have a default configuration option node entered under config.xml. I will take a look at the devdocs and open a PR to document this if it's missing. Thanks again

[2017-11-21 20:15] #10457 closed, assigned to sidolov, adrian-martinez-interactiv4

[2017-11-21 20:27] springimport commented on #7253
@PieterCappelle Instead of moving toolbar, wrap toolbar with content via new blocks and remove classes and tags from toolbar block (currently not working, because m2.2 shows validation errors on this).

[2017-11-21 20:28] king-themes opened #12381 "Magento 2.1.9, Apache/2.4.10 (Debian) - The header "Cache-Control: private" is adding to all my static files and images."
We have a magento 2.1.9 installation on a Debian Jessie server. It is configured to be connected with Cloudfront CDN for media and static files. The problem is that all the files that are served to CDN contain the header "Cache-Control: private". So the Cloudfront behaves as a transparent proxy just forwarding the request to the Origin.

### Preconditions

1. Magento 2.1.9
2. Connection with Cloud

[2017-11-21 20:47] vivek291186 commented on #10611
Nginx server still I am getting the same issue for redirect loop

PHP 7.1
Magento 2.2.1

[2017-11-21 21:30] WMV-SYSTEMS commented on #11754
What worked for me to get it all working is to add a ccs entry to .gallery-placeholder{ width: 100%; }
What i think is it is getting the size of the container but if images are not ready the fotorama wrapper has no width.

[2017-11-21 21:43] MattDelac opened #12384 "Magento 2.2.1 Import tier price, wrong values for column tier_price_value_type"
### Preconditions

1. Magento 2.2.1
2. Mariadb

### Steps to reproduce

1. Create a csv with all the necessary columns
- "sku"
- "tier_price_website"
- "tier_price_customer_group"
- "tier_price_qty"
- "tier_price"
- "tier_price_value_type"
2. Write "Discount" for all rows in the "tier_price_value_type" column

### Expected result

1. The tier price type should be "Discount"

### Actual result

1.T

[2017-11-21 22:27] keithbentrup opened #12385 "Admin login always takes >30 sec when using Redis on 2.2.1"
### Preconditions

1. Magento 2.2.1
2. Redis for session management

### Steps to reproduce

1. Login to the admin

### Expected result

1. Login should be immediate

### Actual result

1. Login takes >30 secs due to a recent commit that causes a new session id to be generated during the request

The [regenerateId](https://github.com/magento/magento2/blob/8797e4da74cad7ab627a02135abafde219689c91/l

[2017-11-21 23:11] okorshenko commented on #10347
The issue has been fixed and delivered to 2.2-develop and 2.3-develop

[2017-11-21 23:11] #10347 closed, assigned to PieterCappelle

[2017-11-21 23:40] magento-engcom-team commented on #11552
The described flow is not valid. Please look at @orlangur  suggestion. Closing as non-issue

[2017-11-21 23:40] #11552 closed, assigned to nmalevanec

[2017-11-21 23:59] DigitalStartupUK opened #12386 "Order Status resets to default Status after Partial Refund"
### Preconditions
1. Magento 2.2.0

### Steps to reproduce
1. Create new Status: "Picking"
2. Assign new State to Processing: "processing[Picking]"
3. Create order and Invoice
4. Update Status from Processing to Picking
5. Refund part of order whilst in Picking Status (e.g. lower quantity, refund delivery, remove a line)

### Expected result
1. Order Status remains the same "Picking"

### Actual r

[2017-11-22 03:57] jigardhaduk commented on #12338
@magento-engcom-team I have added the 2nd point in **Steps to reproduce** section.
There is no any extra code or anything else.

[2017-11-22 04:29] joshuaadickerson commented on #8734
@magento-engcom-team I don't know how you couldn't reproduce it with the supplied info. The issue is that we can't turn off the added header. We have proxies and Nginx configs already set in place and Magento is adding an additional header.

[2017-11-22 06:06] NimishPawar commented on #5426
Thanks @BigBri41 :)

[2017-11-22 06:46] magento-engcom-team commented on #5453
@francisrod01, thank you for your report.
We've created internal ticket(s) MAGETWO-84283 to track progress on the issue.

[2017-11-22 07:25] magento-engcom-team commented on #3650
@bsuresh, thank you for your report.
We've created internal ticket(s) MAGETWO-50182 to track progress on the issue.

[2017-11-22 07:37] pushpendra07 opened #12388 "Replace csv import Product type"
I tried to change product type through import product , replace option in csv.
Product got successfully imported and product type changed from virtual to simple. However, these products did not shown in frontend. In order to show product we need to just open product and click on save button. This shows product on frontend.
### Preconditions
1.  Magento 2.2.1
2. Php 7

### Steps to reproduce
1.  Cr

[2017-11-22 07:54] magento-engcom-team commented on #12252
Ok @adamlavery. Then may we ask You yet to try to reproduce the issue on a clear fresh default magento instance without custom themes, modules etc. Thank You.

[2017-11-22 08:14] magento-engcom-team commented on #9422
@SirElectro , This issue affects only Magento Enterprise Edition, please contact Magento support instead of posting your issue here.

[2017-11-22 08:14] #9422 closed, assigned to nobody

[2017-11-22 08:18] jackymint opened #12389 "Category Layered Navigation Can't change position"
Category Layered Navigation Can't change position

Help me

## **Preconditions**
Magento 2.2.1
Php 7

## **Steps to reproduce**
Create attribute
Change position attribute and catetogy

## **Expected result**
Category Layered Navigation change position to second line

## **Actual result**
Category Layered Navigation Can't change position

[2017-11-22 08:23] magento-engcom-team commented on #12389
@xzees, , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2017-11-22 08:26] magento-engcom-team commented on #12347
@nghelo, , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-11-22 08:29] xzees commented on #12389
## **Preconditions**
Magento 2.2.1
Php 7

Steps to reproduce
Create attribute
Change position attribute and catetogy

## **Expected result**
After successful import product should have shown on frontend.

## **Actual result**
Products did not show until we manually go to products and save it

[2017-11-22 08:30] magento-engcom-team commented on #12299
@qsolutions-pl, thank you for your report.
We've created internal ticket(s) MAGETWO-84288 to track progress on the issue.

[2017-11-22 08:30] magento-engcom-team commented on #11095
@friimaind, thank you for your report.
The issue is already fixed in 2.2.2

[2017-11-22 08:31] martinmolero commented on #11740
The problem is the same if both shops are under the same website.

[2017-11-22 08:49] magento-engcom-team commented on #12388
@pushpendra07 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation
See screenshots
![virtual_create_0871280926](https://user-images.githubusercontent.com/31669971/33117901-c9ff1cb2-cf72-11e7-8919-8ed134102693.png)

![virtual_after_import_08412

[2017-11-22 08:54] francisrod01 commented on #5453
You're welcome @magento-engcom-team !! :)
I'm tracking the updates of this issue.

[2017-11-22 08:59] MindaugasSV commented on #12097
Same issue here after upgrade to 2.2.1

[2017-11-22 09:03] MindaugasSV commented on #12097
Temporary fix (**warning**: you are editing core files):
open file: /vendor/magento/module-config/App/Config/Type/System.php
replace **array_replace_recursive** to **@array_replace_recursive** in lines 152 and 158

[2017-11-22 09:17] atsareva opened #12390 "Custom ajax calls with type POST reset customer data on checkout (Magento 2.2.x)"
Hi guys,

This issue is created because you've just closed this one - https://github.com/magento/magento2/issues/12312

But the issue can be reproduced not only me. We've created a few env. with magento 2.2.1 and reproduced this bug.
![magento_version](https://user-images.githubusercontent.com/1243876/32951322-2c6b9b56-cbb2-11e7-997d-972f730921c2.png)

added **ajax (type: POST)** call to **vendor/

[2017-11-22 09:18] magento-engcom-team commented on #12389
@xzees, We cannot reproduce this issue as described. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-11-22 09:20] sidolov commented on #10457
Thanks @careys7,  it will be great if you update devdocs!

[2017-11-22 09:20] p-bystritsky commented on #4648
@kassner, thank you for your report.
The issue is already fixed in 2.1.10, 2.2.1 and 2.3.0.

[2017-11-22 09:21] magento-engcom-team commented on #4648
@kassner, thank you for your report.
The issue is already fixed in 2.1.10, 2.2.1 and 2.3.0.

[2017-11-22 09:21] #4648 closed, assigned to rgoncharuk

[2017-11-22 09:27] wget commented on #12318
We are able to reproduce the problem on Magento 2.1.8 CE. The problem seems to be linked [with this one](https://github.com/ubertheme/module-ubdatamigration/issues/7#issuecomment-202425765). While the records should be recreated automatically when we are migrating store views, this isn't the case in practice.
![screenshot_20171122_102213](https://user-images.githubusercontent.com/2997662/33119448-

[2017-11-22 09:29] magento-engcom-team commented on #11585
Hi @fwolfst
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-22 09:29] #11585 closed, assigned to nobody

[2017-11-22 09:29] magento-engcom-team commented on #6926
Hi @FranRoy
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-11-22 09:29] #6926 closed, assigned to nobody

[2017-11-22 09:30] magento-engcom-team commented on #12256
@quenode, thank you for your report.
We've created internal ticket(s) MAGETWO-84293 to track progress on the issue.

[2017-11-22 09:30] magento-engcom-team commented on #4648
@kassner, thank you for your report.
The issue is already fixed in develop branch, 2.1.10, 2.2.1

[2017-11-22 09:30] magento-engcom-team commented on #11398
@pankajpragma, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.1

[2017-11-22 09:30] #11398 closed, assigned to nobody

[2017-11-22 09:31] mustdobetter commented on #10009
@magento-engcom-team/@okorshenko, are you able to provide any update on this please?

We are nearing the end of a large M2 project, and this is causing us significant issues.

Many thanks.

[2017-11-22 09:40] magento-engcom-team commented on #2906
@richdynamix, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2017-11-22 09:42] magento-engcom-team commented on #3698
@stefandoorn, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2017-11-22 09:44] magento-engcom-team commented on #4582
@bh-ref, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2017-11-22 09:46] Ajax30 commented on #2389
How can we re-generate the code?

[2017-11-22 09:59] acetronaut commented on #12362
I have implemented some changes that seem to resolve the issue but if anyone can look over this and feedback that would be great

vendor/magento/framework/Session/SessionManager.php

The regenerateId function needs replacing with this

[code]

and also the start function needs replacing with this

[code]

[2017-11-22 10:06] gewaechshaus commented on #12362
@acetronaut - give us a few hours...

[2017-11-22 10:10] avra911 commented on #5033
This module fixed it for us: `METMEER/magento2-multi-store-fix`!

[2017-11-22 10:14] diglin commented on #11032
I confirm the issue on `2.2.1`, it's not possible to add swatch options if the attribute options is not already present/saved into the DB. This happens only when the DB transaction is committed.

However, the method of the plugin `\Magento\Swatches\Model\Plugin\EavAttribute::beforeBeforeSave` prevent saving the attribute options while saving the attribute. Renaming `beforeBeforeSave` to `beforeSav

[2017-11-22 10:36] afirlejczyk commented on #12190
I want to give it a try so please assign it to me.

[2017-11-22 10:36] wexo-team commented on #12377
Also posted to Stack Exchange ([link](https://magento.stackexchange.com/questions/202705/scopedefault-class-returns-1-as-id-but-should-it-not-be-0))

[2017-11-22 10:42] aditiexpo opened #12392 "Design configuration issue"
### Preconditions

1. Magento ver. 2.1.10
2. PHP version: 5.6.30, MySQL version: 4.7.3

### Steps to reproduce

1.
2.
3.

### Expected result

1.
![screenshot-2017-11-22 default store view design content magento admin](https://user-images.githubusercontent.com/31617706/33123247-af69ee68-cf9f-11e7-82bc-b51742617864.png)

### Actual result

1.
![theme_configuration_error](https://user-images.githubu

[2017-11-22 10:46] klakovsky opened #12393 "Attribute with "Catalog Input Type for Store Owner" equal "Fixed Product Tax" for Multi-store"
Attribute with "Catalog Input Type for Store Owner" equal "Fixed Product Tax" did not work correctly for multi-stores.

### Preconditions

1. CE 2.1.9 or CE 2.2.1 or CE 2.3-develop
2. PHP v7.0.22

### Steps to reproduce

1. Create two websites website1 (website_id = 1),  website2 (website_id =2)
2. Create new product SKU=product1 with default attribute set and check for "Product in Websites" only

[2017-11-22 10:50] twain83 opened #12394 "Build in Javascript translation doesn't work"
### Preconditions

### Steps to reproduce

1. Go to http://test-php.pl/customer/account/create/
2.  There are javascript comunicates in english instead in polish

### Expected result
I've got problem with default translation built in magento 2.
A made static content deploy, file js-translation.json generated properly,
but strings didn't translated.
Site: test-php.pl Version magento 2.1

[2017-11-22 10:50] Cinawork opened #12395 "Custom Magento CLI command has incorrect current store id."
### Preconditions
1. Magento 2.2.0
2. PHP 7.0.25
3. MariaDB 10.1.29

### Steps to reproduce
1. Create Magento CLI module
2. Retrieve random ProductInterface
3. Set product name to something new
4. Save product

### Expected result
1.  Product saves to all store views (store view 0)

### Actual result
1. Product saves to store view 1

[2017-11-22 10:54] kozie commented on #12395
I have the exact same problem with pretty much the same preconditions. +1

We had to set the store explicitly with the storeInterface to have the expected result where i didn't had to do this when i first created a CLI Command a few versions back (I presume M2 v2.1).

[2017-11-22 10:59] magento-engcom-team commented on #12384
Hello @MattDelac. Thanks for reporting. We were able to reproduce Your issue only with the rows where tier_price column values were equal to zero. Please tell us whether Your have the same case.

[2017-11-22 11:09] richdynamix commented on #2906
@magento-engcom-team Thanks for getting back to me **22 months later**. Not only is this the slowest response for anyone to receive its also the most irrelevant. Magento 2 moved on by two major versions in this time. The detailed explanation given in January 2016 was relevant at the time on the Magento 2.0.0 version.

This is also the reason there are a large number of merchants moving away from M

[2017-11-22 11:11] Chei20 opened #12396 ""Total Amount" cart rule without tax"
It seems that if I want to create a cart Price rule that takes account the subtotal of a subselection of products, that subtotal is calculated without taxes, also if in tax configuration everything is configurated as “including tax”.
I want to create a fixed amount discount for whole cart (10€) to all users that have in their cart 60€ of products from one category (123456)

### Preconditions
1.	Ma

[2017-11-22 11:17] hstothard commented on #11387
I also had the same issue. For me it was because until one of the more recent upgrades these fields were hidden by JS. The hiding of these fields is now in the below css file:

vendor/magento/module-swatches/view/frontend/web/css/swatches.css

Which is included into the page by:
vendor/magento/module-swatches/view/frontend/layout/catalog_cateogry_view.xml

My theme was not referencing this file an

[2017-11-22 11:28] pixel-paul opened #12398 "Missing variable for copyright background color in _module.less"
Since upgrading to Magento 2.2.1 from 2.0.7 compilation of _module.less fails as there is a missing variable for @copyright__background-color

https://github.com/magento/magento2/blob/9fc1138d1af7065090a7d32e6d58f4262dc5205c/app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less#L263

### Preconditions
1. Magento 2.2.1
2. PHP 7

### Steps to reproduce
Try and compile CSS

### E

[2017-11-22 11:35] rajatkar104 commented on #6069
Hi Team,

I am also facing the same issue on the Magento version 2.1.5.
Title - Clear Persistence on Sign Out option is not working.

Steps to produce

Login to admin

1. Go to stores >> configuration >> customers >> persistent shopping cart
2. Set Enable Persistent to YES.
3. Set Clear Persistence on Sigh Out to YES and SAVE
4. In storefront, logged in using a customer and add product to shopping

[2017-11-22 11:48] magento-engcom-team commented on #12392
@aditiexpo , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or check you Error log

![design1_0841280824](https://user-images.githubusercontent.com/31669971/33126070-c77aa2c2-cf8b-11e7-936e-f6165af0b199.png)
![design2_03451280901](https://

[2017-11-22 11:53] magentoprince commented on #7371
@traff1kash Thanks for posting solution. Your solution work for me.

[2017-11-22 11:59] aditiexpo commented on #12392
Hii there,

I have issue on theme design configuration. Currently when i try to get the
settings for theme design configuration i am not able to get it. the page
shows an error. for that error i attatch the reoprt file in attachment
below.

Thanks

On Wed, Nov 22, 2017 at 5:18 PM, Magento Community Engineering <
notifications@github.com> wrote:

[2017-11-22 12:09] magento-engcom-team commented on #4628
@BenSpace48, thank you for your report.
We've created internal ticket(s) MAGETWO-54520 to track progress on the issue.

[2017-11-22 12:18] magento-engcom-team commented on #11874
Hi @andrewhowdencom
Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
My steps are:
1. Magento 2.2.1 with Sample data
2. Configure Varnish in front of that store, as specified in the documentation
3. Create Second Store View
4. Edit category names in Top navigation menu for Second Store View (http://prntscr.com/hdqort)
5. Configure ESI: block 'cat

[2017-11-22 12:27] Drakas opened #12399 "Exception Error in Catalog Price Rule while Backend language is not English"
### Preconditions

1. Magento 2.2.1, Php 7, Mysql 5.6
2. Interface Backend Magento language SET to Italy.

### Steps to reproduce

1. Go to: Marketing -> catalog price rule
2. Edit a record already created
3. Click on "Save and Apply"

### Expected result

1.  The following message:
- We found updated rules that are not applied. Please click "Apply Rules" to update your catalog.
- You saved the ru

[2017-11-22 12:29] andrewhowdencom commented on #4955
To add additional thoughts on this, I think the idea that env.php is writable is inherently flawed. It's information from the environment that influences the runtime behaviour of the application -- if the application should have control of this information, ti's application configuration -- not environment configuration.

Suggest anything that the application needs to modify during runtime be move

[2017-11-22 12:30] magento-engcom-team commented on #12390
@atsareva, thank you for your report.
We've created internal ticket(s) MAGETWO-84309 to track progress on the issue.

[2017-11-22 12:30] magento-engcom-team commented on #12398
@pixel-paul, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-22 12:30] #12398 closed, assigned to nobody

[2017-11-22 12:30] magento-engcom-team commented on #12395
@Cinawork, thank you for your report.
We've created internal ticket(s) MAGETWO-84308 to track progress on the issue.

[2017-11-22 12:30] magento-engcom-team commented on #7237
@navarr, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-22 12:30] #7237 closed, assigned to magento-engcom-team

[2017-11-22 12:37] jalogut commented on #4955
Totally Agree with @andrewhowdencom We need a config file in VCS that is read only. That would be exactly the goal of:

* #12361

[2017-11-22 12:37] magento-engcom-team commented on #12351
@rahims99 ,Thanks for the feedback.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation or latest release.

[2017-11-22 12:39] magento-engcom-team commented on #12392
@aditiexpo , thanks for your response. Please check this problem on clean installation of Magento without custom modules.

[2017-11-22 12:39] magento-engcom-team commented on #12386
@DigitalStartupUK, thank you for your report.
We've created internal ticket(s) MAGETWO-84313 to track progress on the issue.

[2017-11-22 12:42] pixel-paul commented on #12398
Any idea why it happened on my version of Magento 2.2.1 then?

[2017-11-22 12:44] aditiexpo commented on #12392
That will obviously work on the clean install without any custom module but
why would i go for the clean install when i already want to use the module
i have anyways. How can i fix this issue with these custom modules?

On Wed, Nov 22, 2017 at 6:09 PM, Magento Community Engineering <
notifications@github.com> wrote:

[2017-11-22 12:47] magento-engcom-team commented on #12396
@Chei20, thank you for your report.
We've created internal ticket(s) MAGETWO-84316 to track progress on the issue.

[2017-11-22 12:48] sitiodocanoamarelo commented on #11532
Thanks @fwolfst ,
I confirm both advices.
If I remove all the categories except one the issue is gone.
Fix by @keanass works for me on a 2.2.0 (thanks @keanass ;)

[2017-11-22 12:54] magento-engcom-team commented on #12125
Hi @georgios-2317
You can set label for checkbox through `description` attribute like this:
[code]
![screenshot_1](https://user-images.githubusercontent.com/31669971/33128415-005afa7a-cf95-11e7-8804-78113c4bfe3e.png)

[2017-11-22 12:57] #12125 closed, assigned to nobody

[2017-11-22 12:59] lano-vargas opened #12400 "Category Design Layout update="1 column" Display Mode="Static Block Only" Anchor="No" Does not fully remove sidebar.main"
In a category sidebar.main does not get removed It only removes sidebar.additional when Layout is set to 1 column.

1-install magento 2.1.7
2-create a category
3-update Design->Layout set to="1 column"
3.5- Display Settings->Display Mode->Static Block Only
3.5.1 Display Settings->Anchor-> set to="No"
4-create configurable product and create/add simple product variations e.g colour/size at least on

[2017-11-22 13:16] gewaechshaus commented on #12362
@acetronaut

  ![You got it](https://media.giphy.com/media/3ov9k01Y5IKizNmC7S/giphy.gif

[2017-11-22 13:23] MattDelac commented on #12384
Hello @magento-engcom-team ,

Thanks for your quick reply.

Regarding my case, it concerns **all rows** !

Thank you

[2017-11-22 13:28] ishakhsuvarov commented on #12392
@aditiexpo We can not provide guidance for any kind of custom modules.
Please contact specific module's vendor for support.
Thank you

[2017-11-22 13:28] #12392 closed, assigned to nobody

[2017-11-22 13:29] AzeemYusufali commented on #1437
I am facing this issue with Magento v2.2.1.

Since upgrading to this version, I cannot create customers in admin and am presented with "Something went wrong while saving the customer."

I do not know where to begin with resolving this issue. Any help would be greatly appreciated.

[2017-11-22 13:30] magento-engcom-team commented on #5760
@rbostan, thank you for your report.
The issue is already fixed in 2.1.10

[2017-11-22 13:30] #5760 closed, assigned to nobody

[2017-11-22 13:31] AleksLi commented on #12364
Ok, @magento-engcom-team . Thanks a lot.

[2017-11-22 13:39] AzeemYusufali opened #12402 "Cannot create new customers in admin - Magento v2.2.1"
Hi,

Since upgrading from Magento v2.1.8 to v2.2.0 and now v.2.2.1, I can no longer create customers in admin. I am presented with an error as follows:

"Something went wrong while saving the customer."

I am unsure how to diagnose and fix this issue.

### Preconditions
1. Magento version 2.2.1
2. PHP version 7.1

### Steps to reproduce
1.  Click on Customers -> All Customers
2.  Click on Add New

[2017-11-22 13:40] devamitbera commented on #7765
In case, i am suggesting to  make   **Anchor  field** Value at **Display Setting**  to **NO** .

I have also check same scenario     at magento 1.X.If you category has  Products and *Display Setting**  to **YES**  and _**Display setting is only static block**_.Then on left panel ,you will layer navigations and right section CMS static block.

[2017-11-22 13:57] Hypo386 commented on #10878
Same issue 2.2.0 after clearing cache it's gone

[2017-11-22 14:04] semmco opened #12403 "Upgrade 2.2.0CE to 2.2.1CE Fails"
Hi,

**Preconditions**

   Fails upgrading to the new 2.2.1CE from 2.2.0CE via admin panel
   Magento version 2.2.0ce
   Using template based on Ultimo
   Webserver PHP version: 5.6.30
   Database server Server version: 5.6.37

**Steps to reproduce**

    Click on SYSTEM -> SETUP WIZARD -> SYSTEM UPGRADE

**Expected result**

    Upgrade to 2.2.1ce

**Actual result**

It runs the readiness check o

[2017-11-22 14:09] magento-engcom-team commented on #12381
@king-themes, thank you for your report.
Please try to reproduce this issue on a clean installation without any third-party dependencies.

[2017-11-22 14:11] magento-engcom-team commented on #12403
@semmco , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.

[2017-11-22 14:20] magento-engcom-team commented on #12394
@twain83, thank you for your report.
We've created internal ticket(s) MAGETWO-84353 to track progress on the issue.

[2017-11-22 14:52] magento-engcom-team commented on #12400
@lano-vargas, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-22 14:59] hostep opened #12404 "Output of setup:static-content:deploy contains red color, should be a friendlier color"
### Preconditions
1. macOS 10.12.6
2. iTerm2 3.1.5 with Solarized Dark theme
3. Magento 2.2.1
4. PHP 7.0.25

### Steps to reproduce
1. Setup a fresh Magento 2.2.1 installation
2. Execute: `bin/magento setup:static-content:deploy -f --theme Magento/blank en_US`

### Expected result
1. Output with friendly colors that don't give the impression that something went wrong

### Actual result
1. Seeing a

[2017-11-22 15:01] magento-engcom-team commented on #12384
If You don't mind @MattDelac still let us make it clearer. Assume there is a file for import. It contains a row with sku = "abc1", ...., tier_price = 2, tier_price_value_type = "Discount". In this case after import has been made, the tier price type for the product abc1 in the Backend is marked as "Fixed". Do You mean You would observe exactly this behavior with such a value for tier_price?

[2017-11-22 15:01] magento-engcom-team commented on #12402
@AzeemYusufali, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide any other information needed to reproduce your issue.
**Steps that we used:**
1. Install Magento 2.1.8 via composer.
2. Upgrade to 2.2.0.
3. Upgrade to 2.2.1.
4. In backend created customer.

**Actual Result:** Customer succesful created.

[2017-11-22 15:09] sydekumf commented on #9744
Hi @magento-engcom-team,

I think I understand the problem now with the `QuoteItemsCleaner`.  But what is the reason, that you did not introduce a database foreign key on delete cascade constraint?
What would be the consequence if we introduce this constraint on our own?

Thanks :-)

[2017-11-22 15:10] AzeemYusufali commented on #12402
@magento-engcom-team

Thank you for the quick response. I am not sure what further information I can provide? Do you need to see any of the logs? Can I give you access to my admin panel for you to recreate the issue on my server?

[2017-11-22 15:11] koopjesboom commented on #12216
@fabianus76 Yes that is exactly  what is going on. No Error in the log everything works out fine but it still gives the error message. I hope some one finds a solution for this.

Thanks for the interest and sharing the this (the same) issue

[2017-11-22 15:22] magento-engcom-team commented on #12205
@Nix-id, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2017-11-22 15:26] lano-vargas commented on #12400
I don't thing this is acceptable as of per my xml update
why the xml update isn't removing the side.main ?

[2017-11-22 15:30] magento-engcom-team commented on #12271
@yesman2104, thank you for your report.
We've created internal ticket(s) MAGETWO-84356 to track progress on the issue.

[2017-11-22 15:30] magento-engcom-team commented on #9906
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-84359 to track progress on the issue.

[2017-11-22 15:40] KarlDeux commented on #12058
Fixed on #12253

[2017-11-22 15:43] hostep opened #12405 "Magento 2.2.1 - Impossible to create a new storeview"
### Preconditions
1. Magento 2.2.1
2. PHP 7.0.25

### Steps to reproduce
1. Setup a clean Magento 2.2.1
2. Install https://github.com/baldwin-agency/magento2-module-less-js-compiler
3. After running `setup:upgrade` check your `app/etc/config.php` file, it will have `Magento_Config` as a higher priority to load then `Magento_Store`
4. Login into the backend
5. Go to Stores => All Stores
6. Click 'C

[2017-11-22 15:45] magento-engcom-team commented on #9885
Hi @Pigau
Could you please let us know if the issue is still actual? Thank you

[2017-11-22 15:45] hostep commented on #12405
Creating a Website is also not working, error: `No such entity.`
Creating a Store is actually working, surprisingly.

[2017-11-22 15:46] lano-vargas commented on #12400
How about set to  "static block" it should remove the the sidebar.main block.
This is most definitely a bug.
I can replicate the same issue an this a related bug
ref: https://github.com/magento/magento2/issues/7765

[2017-11-22 15:46] AzeemYusufali commented on #12402
@magento-engcom-team - As a follow up to the problem, new customer registration works fine from the front-end. The only area of failure is manually adding a new customer in the backend.

[2017-11-22 15:57] linden2015 commented on #7543
@magento-engcom-team , can you tell me what will be done with this issue?

* Will it be fixed in 2.1.? What is the timeline?
* Will it be fixed in 2.2.? What is the timeline?

[2017-11-22 15:59] c4boomb commented on #5664
Why is it still not fixed. It was reported on 16 July 2016. It is really serious issue
@magento-engcom-team

[2017-11-22 16:09] lano-vargas commented on #7765
@devamitbera  It does not work in *2.1.7**
I've tested it 2.1.0 I can confirm it works. a reminder that both are clean magento installation.
Now the only solution I've came up with is to remove  with xml update  **catalog.leftnav**  instead of **sidebar.main**

[2017-11-22 16:14] andrewhowdencom commented on #11874
Hola @magento-engcom-team,

Are you switching stores with the provided store view selector? The bug only happens on the first page load, after this selector is used. (see the commit notes)

[2017-11-22 17:54] fabianus76 commented on #12216
@koopjesboom
Solution: just had to delete/rename this file:    /var/.update_error.flag

[2017-11-22 18:11] koopjesboom commented on #12216
@fabianus76  Very good, problem solved now! Alt bthe credits go to fabianus76 Thank you very much.

[2017-11-22 18:15] hostep commented on #12405
Sorry, I lied in my initial post, it wasn't on a clean installation. Using a clean installation it actually works. Now to figure out why it didn't work in my case (an "almost" clean installation).

Closing for now, sorry!

[2017-11-22 19:04] korostii commented on #9744
Hi @magento-engcom-team

I've seen it happen on CE as well.

Well, obviously, whatever that thing is - it's not working. Is there a particular reason why it was implemented that way? Such an approach seems quite fragile, at best. (i.e. why couldn't you just add this constraint, as several people above suggest?)

Why would it "influence/fix particular problem"? No-one said that, that would be nonse

[2017-11-22 19:10] korostii commented on #7199
Well, from the screenshots above it seems to me that it's broken already. Please note that "it seems complicated, we're worried we might break something else while fixing this bug" is not the same as "not a bug".

[2017-11-22 19:19] hostep commented on #12405
Ok, in case anyone is interested, this was because we had a simple module installed which depended on `Magento_Developer`.
When running `setup:upgrade` the order of modules in the `app/etc/config.php` file were shuffled and for some reason `Magento_Config` was inserted higher in the list then `Magento_Store`. This wrong ordering then caused the problem.

I still think this is an actual bug in Mage

[2017-11-22 19:36] okorshenko commented on #9360
The issue has been fixed and delivered to the 2.2-develop branch. Will be available with upcoming patch release

[2017-11-22 19:36] okorshenko commented on #11792
The issue has been fixed and delivered to the 2.2-develop branch. Will be available with upcoming patch release

[2017-11-22 19:36] #11792 closed, assigned to RomaKis

[2017-11-22 19:37] okorshenko commented on #12064
The issue has been fixed and delivered to the 2.2-develop branch. Will be available with upcoming patch release

[2017-11-22 19:37] #12064 closed, assigned to RomaKis

[2017-11-22 19:37] okorshenko commented on #11528
The issue has been fixed and delivered to the 2.2-develop branch. Will be available with upcoming patch release

[2017-11-22 19:37] #11528 closed

[2017-11-22 19:46] acetronaut commented on #12362
Further notes R.E this issue

public function regenerateId() was updated in 2.1.9 and most likely the reason this isnt apparent on all M2 instances

https://github.com/magento/magento2/blob/2.1.8/lib/internal/Magento/Framework/Session/SessionManager.php

https://github.com/magento/magento2/blob/2.1.9/lib/internal/Magento/Framework/Session/SessionManager.php

So a revert to the previous code may re

[2017-11-22 19:47] whereowareadmin commented on #12064
Thanks, I am not sure if this is the right place to ask. but should I download Magento from composure or GitHub branch, to make my Magento setup open for ongoing bug fixes?

can I set the pull request for each bug you solve? please bear with me as I am new to Magento2 and not sure how does it work with GitHub

[2017-11-22 19:57] thebreakfastcowboy opened #12408 "Free Shipping Not Initially Available as Shipping Method in Multi-Shipping"
Expected result:
In multi-shipping checkout, when an order qualifies for free shipping, the Free Shipping shipping method is available for selection at the /multishipping/checkout/shipping/ step.

Actual result:
Free Shipping is not available until the /multishipping/checkout/shipping/ step, but if you continue to billing and then click "back to shipping", it will be available. Same for if you pro

[2017-11-22 20:52] DigitalGossip opened #12409 "Magento 2.2.1 Checkout 500 (Internal Server Error)"
Using Magento 2.2.1 freshly installed

I am using Adyen payment gateway
`https://github.com/Adyen/adyen-magento2`
the extension developer says its not due to their extension. I have enabled every php extension on server side thats needed. So now it comes to magento 2

Tried to checkout as guest and then I see

[code]

When I try to use COD or Check the checkout process is smooth. Haven't tried wit

[2017-11-22 20:57] fwolfst commented on #9290
@ahumphreys87 could you link the relevant issue please?
@J-Fricke 2.2.1 did not help (us).
@orlangur I opt for a debugging sql-query, too. Its possible that a messy migration lead the db into a stage that should not have occurred. And of course the issue itself should be fixed, but having the SQL query at hand could help debugging (and thus fixing the issue within the next years).

[2017-11-22 21:30] dmikevin commented on #7595
But wouldn't our mini-test ($0.25 off Real Salt Lake) not have worked? That test used team, our real promo will use product type - both are attributes that exist on the simple and configurable skus.

[2017-11-22 21:40] okorshenko commented on #10009
Hi @mustdobetter
The ticket MAGETWO-70131 is still open in the backlog for 2.2.x
There is no ticket for 2.1 for now. If someone will submit a PR to fix this issue for 2.1, we will accept it and deliver with patch release

[2017-11-22 22:01] okorshenko commented on #8069
Hi @nemesis-back
@osrecio is working on your PR review 👍

[2017-11-22 23:44] southerncomputer commented on #12362
The above patch does not work. you guys have redis locking on sessions enabled??  there was a time when the config read locking inverted!!

[2017-11-23 00:05] acetronaut commented on #12362
its not a redis issue - you can disable redis and replicate the same thing

however the problem does kind of get worse - because session_regenerate_id actually calls the read function in redis as well as the session start

https://github.com/magento/magento2/issues/12362
This is a change to how PHP 7 works over 5.6

The above fix works - but im trying to confirm with magento status on their intern

[2017-11-23 00:15] southerncomputer commented on #12362
Why would you call session regenerate from there? There a recent patch I applied that extends sessions on frontend to not let them timeout.

I'm getting a bug in my  OPC where multiple dispatches starting at xhr billing-address are being called 3-simultaneosly  that starts this issue!

[2017-11-23 00:23] acetronaut commented on #12362
you would have to ask magento for more details on why specifically they are calling it from there, but most likely its to prevent CSRF / XSS attacks, but i think its also called on login too anyway.

it bugs me a little anyway if there is a legitimate reason for it being there anyway such as possible session hijacking - that there isnt a note linking to doc that explains this, just so people dont

[2017-11-23 05:54] nalinsavaliya commented on #3150
@johnny-longneck I have applied your solution but as you mentioned currency and formatting is missing from price.
So I have done some changes in `vendor/magento/module-swatches/view/frontend/templates/product/view/renderer.phtml` file as below. Now it's working for me in Magento 2.1.6

[code]

[2017-11-23 06:00] akbaradeeb commented on #10838
Please check you
vendor/magento/module-customer/etc/indexer.xml
Arround line no 14 Find
<fieldset name="customer" source="Magento\Customer\Model\Indexer\Source"
Replace with
<fieldset name="customer" source="Magento\Customer\Model\ResourceModel\Customer\Collection"

[2017-11-23 06:13] sanjayjethva opened #12411 "Upgrade to 2.2.1 from 2.1.2 fails with "Unable to serialize value" error"
I have tried to upgrade to 2.2.1 from 2.1.2 version via composer upgrade.
Upgrade was successful but when i try to open website frontend or backend, its showing "Unable to serialize value" error.

### Preconditions

1.  Magento 2.2.1
2.  PHP 7.0

### Steps to reproduce

1.  Upgrade 2.1.2 version to latest 2.2.1 via composer
2.  run upgrade command and deploy command

### Expected result

1. All go

[2017-11-23 06:50] erfanimani commented on #7930
This really needs to be reopened.. if I import a product and assign it to category A, and then change my mind, and replace A with B in the import sheet, I expect the product to now be in category B. In reality the product is now in both A and B, which is not what anyone would want.

[2017-11-23 07:21] erfanimani commented on #7930
Hmm, from looking at the code, this seems like this is a feature, not a bug:

            if (Import::BEHAVIOR_APPEND != $this->getBehavior()) {
                $this->_connection->delete(
                    $tableName,
                    $this->_connection->quoteInto('product_id IN (?)', $delProductId)
                );
            }

Source: https://github.com/magento/magento2/blob/2.2-develo

[2017-11-23 08:00] Gelgersma commented on #5596
I've upgraded to Magento 2.2.1 but the problem still persists.

[2017-11-23 08:17] magento-engcom-team commented on #12403
@semmco ,  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-11-23 08:19] magento-engcom-team commented on #12289
@oleghind, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-11-23 08:35] magento-engcom-team commented on #11413
@luongkane , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2017-11-23 08:45] magento-engcom-team commented on #12404
@hostep, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-23 08:48] magento-engcom-team commented on #12404
@hostep, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-23 08:56] hostep commented on #12404
Ok ...

I'm willing to submit a PR to fix this, but I need some feedback regarding if there is some kind of standard or policy for what colors we can use in what cases on the cli.

@magento-engcom-team: if you can provide some suggestions, that would be appreciated :)

[2017-11-23 09:03] magento-engcom-team commented on #12384
Also @MattDelac, it would be great if You could send us Your file for the import so we can try to reproduce Your issue with original data. Thank You.

[2017-11-23 09:10] OlgaBurtyka commented on #12311
same issue
![issue](https://user-images.githubusercontent.com/4771407/33165272-dd052582-d03e-11e7-8cf5-a85222ef44f2.png)
![response](https://user-images.githubusercontent.com/4771407/33165273-dd21eadc-d03e-11e7-8edc-a33566c8b269.png)

[2017-11-23 09:10] magento-engcom-team commented on #12399
@Drakas thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-11-23 09:11] magento-engcom-team commented on #8974
@craigcarnell, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-23 09:15] joni-jones commented on #12311
@OlgaBurtyka, from https://developer.authorize.net/api/reference/responseCodes.html documentation
`x_response_code` => 2 does not contain any additional information. I suggest you can find more details in your Authorize.net merchant account.

[2017-11-23 09:21] OlgaBurtyka commented on #12311
@joni-jones in auth account not any info about transactions decline.

[2017-11-23 09:21] magento-engcom-team commented on #12393
@klakovskiy, thank you for your report.
We've created internal ticket(s) MAGETWO-84388 to track progress on the issue.

[2017-11-23 09:27] magento-engcom-team commented on #12409
@DigitalGossip, thank you for your report.
Please try to reproduce this issue on a clean installation. We don't support third-party modules.

[2017-11-23 09:28] OlgaBurtyka commented on #12311
It difficult to reproduce, some order placed via Authorize - some declined, but after several attempts the transaction is created.  For example customer placed order - and got 2 decline transactions and 1 success. And as result in admin we have 2 canceled orders and one in progress.

[2017-11-23 09:30] magento-engcom-team commented on #3209
@redicer, thank you for your report.
We've created internal ticket(s) MAGETWO-84386 to track progress on the issue.

[2017-11-23 09:33] magento-engcom-team commented on #12411
@sanjayjethva, thank you for your report.
We've created internal ticket(s) MAGETWO-84392 to track progress on the issue.

[2017-11-23 09:35] maderlock commented on #9695
This is a major issue for any site that uses varnish and has multiple stores... does nobody else do this?? Odd.

[2017-11-23 09:37] mustdobetter commented on #10009
Hi @okorshenko, thanks for the update. Before embarking on a fix for this issue, my concern is that, as @maderlock eluded to, the tiered pricing functionality actually needs to be separated from the customer group pricing, effectively allowing it work in a similar way to Magento 1. This is more of a fundamental change to how these features work, rather than a fix for existing functionality. Are yo

[2017-11-23 09:46] aasim110 commented on #9833
@mindaji @btwq @rbur0425 I have fixed issue after Flushing "eav_attribute_option_swatch" table entries corresponding to the attribute (all of them, not just specific to single product or option). I have tried this on 2.1.7, 2.1.9 and 2.2.1 and working fine for all.

[2017-11-23 09:48] magento-engcom-team commented on #12408
@thebreakfastcowboy, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-23 09:48] #12408 closed, assigned to nobody

[2017-11-23 09:58] fwolfst opened #12412 "Product duplication of imported products "fails" due to url rewrites"
### Preconditions
1. Magento 2.4-develop

### Steps to reproduce
1. Save and duplicate product A, creating a duplicate product B
![image](https://user-images.githubusercontent.com/51681379/104013091-a5f49000-51b9-11eb-9f72-b29d6d8efb6f.png)

2. Edit product B, change the URL Key under "Search Engine Optimization" while leaving "Create Permanent Redirect for old URL" checked and save the product
![

[2017-11-23 10:03] devilstars commented on #2504
magento 2.2.1, php-fpm 7, nginx. Same problem... Only @iget-esoares's solution helps.

[2017-11-23 10:11] fwolfst commented on #12411
We have seen this, too. The internal serialization mechanism changed in 2.2 . Where before php serialization was used, now it favors JSON format.
People use custom scripts to convert stuff, but an ugly workaround can also do the job until its nicely fixed. This will involve guessing in what format values are "serialized". It probably comes with performance drawbacks, but sure it performs better th

[2017-11-23 10:17] avestique commented on #12081
The problem is that there was not js translation before <translate> tag.

I solved it temporary by overriding template
src/vendor/magento/module-checkout/view/frontend/web/template/minicart/content.html

and add there js translation:
<div class="items-total"> to
<div class="items-total" data-translate-hidden="attr: { item_in_cart: $t('Item in Cart') }"

you can use any name for attribute here.

Th

[2017-11-23 10:21] LucScu commented on #1784
@magento-engcom-team Is this feature added to 2.3? When 2.3 will be released?

[2017-11-23 10:28] lano-vargas commented on #12400
@magento-engcom-team If is correct Magento behavior when set to one "1 column" not to fully remove blocks then I can only suggest that when Anchor is set to "No"  something in:
`magento2/app/code/Magento/Catalog/view/frontend/templates/navigation/left.phtml`
include:

Or in `magento2/app/code/Magento/Catalog/Model/Category.php`

     * @return bool
     */
    public function isStaticBlockOnly()

[2017-11-23 10:30] magento-engcom-team commented on #11874
@andrewhowdencom, thank you for your report.
We've created internal ticket(s) MAGETWO-84394 to track progress on the issue.

[2017-11-23 11:05] joni-jones commented on #12311
Is it sandbox or production account? Without logs, it's hard to understand what's going wrong.

[2017-11-23 11:14] magento-engcom-team commented on #10163
@mhoerhold , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-11-23 11:30] magento-engcom-team commented on #12024
@d10nZ, thank you for your report.
We've created internal ticket(s) MAGETWO-84399 to track progress on the issue.

[2017-11-23 11:30] magento-engcom-team commented on #11416
@dmanners, thank you for your report.
We've created internal ticket(s) MAGETWO-84401 to track progress on the issue.

[2017-11-23 11:42] ghost opened #12413 "Admin Session Lifetime Issue"
I have checked at interval of 1:30 hour and 2 hours. Both time the admin session is closed and loged me out. I haven’t checked that, but may be it is closed in less time intervals also.

### Preconditions
1.Magento 2.1.9
2. Magento 2.2.1

### Steps to reproduce

1. Login to Admin Backend with full admin rights
2. **Go to Stores > Settings > Configuration > Advanced > Admin**
3. In the Security Tab

[2017-11-23 11:50] Danielc3 opened #12414 "Name fields in customer register form appear to not be cached per website"
When changing the config field Show Prefix (customer/address/prefix_show) on a specific website scope I have noticed that it is necessary to clean the cache when changing between websites and viewing the customer register form. This would suggest that the Widget Name block is not uniquely cached per website - or a parent block.

### Preconditions
1. Magento 2.2.1

### Steps to reproduce
1. Set up

[2017-11-23 11:50] danielozano commented on #8202
@maximehuran I've also this error in 2.1.7 version, it's caused because (as you pointed above) the value input is disabled, but the "delete" hidden input is not disabled.
We've fixed it with disabling it when necessary (as M2 does by default for the other inputs):
(This code is for Magento_Catalog module)
[code]

[2017-11-23 11:51] magento-engcom-team commented on #12412
@fwolfst, thank you for your report.
We've created internal ticket(s) MAGETWO-83895 to track progress on the issue.

[2017-11-23 11:57] kksilas commented on #10485
I know this is a bad fix, but works for me till the issue is resolved
in /vendor/magento/framework/Stdlib/DateTime/Filter/DateTime.php
inside the filter function
just before  $dateTime = new \DateTime($value); in filter() function
add
`  $currentFormat = $this->_localeDate->getDateTimeFormat(\IntlDateFormatter::SHORT);
            if($currentFormat=='d/M/yy h:mm a'){
                $currentFormat

[2017-11-23 11:58] dakira commented on #7196
This is still a problem for Magento 2.1.10

[2017-11-23 11:58] shinesoftware opened #12415 "Cart empty after the customer login"
# Preconditions
Ubuntu, Standard LAMP (Apache, MySQL, ....)
Magento ver. 2.1.9 - Clean setup by command line
PHP 7.0.8-0ubuntu0.16.04.3 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
mysql Ver 14.14 Distrib 5.7.17, for Linux (x86_64) using EditLine wrapper

# Installation setup
    bin/magento' -- setup:install --language='it_IT' -

[2017-11-23 12:13] semmco commented on #12403
Ok, thanks
I have now sorted that by deleteing old backups and creating new, but now stuck on final stage of upgrade as it just stops with note below.
Process extensions Status:
Update pending

[2017-11-23 12:17] aashworth-ldg commented on #6954
We are experiencing this issue on EE 2.1.9, following the same steps as outlined in this issue (and a referencing issue #8066).

Can this be re-opened?

[2017-11-23 12:19] magento-engcom-team commented on #12402
@AzeemYusufali, We need more details to your description of the steps to reproduce on a clean installation. Did you use sample data, custom module or any extension?
Please provide your log files or screenshots.

[2017-11-23 12:20] MattDelac commented on #12384
@magento-engcom-team
1) Yes the problem you described is exactly what I see

2) Here is a csv file (I just change .csv by .txt for github)
[advanced_pricing_test1.txt](https://github.com/magento/magento2/files/1498983/advanced_pricing_test1.txt)

At the end, I import 450k + rows concerning the tier prices

[2017-11-23 12:22] MattDelac commented on #12384
Here is an example for product : 410042 (that is present in the file above)
![screenshot from 2017-11-23 07-21-32](https://user-images.githubusercontent.com/18557047/33172662-07a26298-d01f-11e7-8cda-950751d2badd.png)

[2017-11-23 12:30] magento-engcom-team commented on #5463
@maderlock, thank you for your report.
The issue is already fixed in 2.1.10

[2017-11-23 12:30] #5463 closed, assigned to piotrekkaminski

[2017-11-23 12:30] magento-engcom-team commented on #5659
@jimuldesai, thank you for your report.
We've created internal ticket(s) MAGETWO-70164 to track progress on the issue.

[2017-11-23 12:30] magento-engcom-team commented on #5836
@crtsl, thank you for your report.
The issue is already fixed in 2.2.1

[2017-11-23 12:30] #5836 closed, assigned to nobody

[2017-11-23 12:30] magento-engcom-team commented on #5664
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-84408 to track progress on the issue.

[2017-11-23 12:30] magento-engcom-team commented on #6113
@robinhuy, thank you for your report.
We've created internal ticket(s) MAGETWO-84403 to track progress on the issue.

[2017-11-23 12:46] ishakhsuvarov commented on #9340
Hi @giano574
Gift options are not displayed for virtual products by design. Virtual Product may be, for example, a downloadable item, which is not shipped to the customer, thus, there is no way to deliver a gift card as well.
Thank you for collaboration.

[2017-11-23 12:46] #9340 closed, assigned to RomaKis

[2017-11-23 12:47] magento-engcom-team commented on #12157
@petnutz, thank you for your report.
Code `$_product->getCollection()->load()` should return a Collection subclass entity. You can get all its produts by calling getItems method, like `$_product->getCollection()->load()->getItems()`

[2017-11-23 12:48] xpoback commented on #10666
I'm getting the same issue in Magento Commerce 2.2.1.
There are no spaces in the auth keys, I've checked that a million times
[code]
Adding a `require` to composer.json and running `composer update` gives no result as well.

[2017-11-23 12:48] #12157 closed, assigned to magento-engcom-team

[2017-11-23 12:50] Igloczek commented on #7196
@dakira The fix was released with 2.2, but you can do a backport of my PR to `2.1-develop` branch

[2017-11-23 13:22] magento-engcom-team commented on #6703
@user340581, thank you for your report.
Please try to reproduce this issue on a clean installation without any third-party dependencies.

[2017-11-23 13:28] magento-engcom-team commented on #8665
@eworksmedia, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2017-11-23 13:30] magento-engcom-team commented on #12157
@petnutz, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-23 13:30] magento-engcom-team commented on #12205
@Nix-id, thank you for your report.
We've created internal ticket(s) MAGETWO-84414 to track progress on the issue.

[2017-11-23 13:30] magento-engcom-team commented on #10389
@ytorbyk, thank you for your report.
We've created internal ticket(s) MAGETWO-84415 to track progress on the issue.

[2017-11-23 13:31] magento-engcom-team commented on #8242
@KhaledF, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please try to reproduce this issue on fresh and clean installation without any third-party

[2017-11-23 13:32] magento-engcom-team commented on #8240
@uileprojecttus, thank you for your report.
Please try to reproduce this issue on a clean installation without any third-party dependencies.

[2017-11-23 13:40] magento-engcom-team commented on #9725
Hi @OZZlE
This event (i mean `CategoryUrlPathAutogeneratorObserver`) execute before save category (app/code/Magento/CatalogUrlRewrite/etc/events.xml:31).
Resource model for category may be `Magento\Catalog\Model\ResourceModel\Category\Flat` only when flat is available. This logic present in app/code/Magento/Catalog/Model/Category.php:316
In standard magento behavior, the flat may be available only

[2017-11-23 13:46] magento-engcom-team commented on #12403
@semmco , thank for your response. Check this problem on clean installation or update from command line in your magento root directory

[2017-11-23 13:51] tonybrown85 opened #12416 "Password Reset Link doesn't generate or duplicates the id / token query string"
### Preconditions

1. PHP Version 7.0.19
2. Linux cPanel VPS
3. Magento 2.2.1

### Steps to reproduce

1. Install fresh Magento 2.2.1 build
2. Create customer account
3. initialise password reset email.
4. Click on the link in the email
5. Password reset url either doesn't contain the id and token at all or duplicates the id and token query string over a dozen times in the url (resulting in an 500

[2017-11-23 14:01] magento-engcom-team commented on #12413
@emiprotech  , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation

[2017-11-23 14:02] magento-engcom-team commented on #12414
@Danielc3  ,thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation

[2017-11-23 14:10] sidolov commented on #10421
Issue was fixed in 2.2-develop branch
Commit: e5f160a12d1e0b59f30ed4504e0e852db2f32e02
Internal ticket: MAGETWO-82060

[2017-11-23 14:10] #10421 closed, assigned to denysbabenko

[2017-11-23 14:11] sivajik34 commented on #9633
checkout page is very slow.
magento 2.2.1
https://magento.stackexchange.com/questions/199973/magento-2-2-0-checkout-regenerate-session-id-very-slow

[2017-11-23 14:30] magento-engcom-team commented on #4803
@samtay, thank you for your report.
We've created internal ticket(s) MAGETWO-55438 to track progress on the issue.

[2017-11-23 14:30] magento-engcom-team commented on #1838
@markoshust, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-23 14:30] magento-engcom-team commented on #9725
@OZZlE, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-23 14:44] korostii commented on #11292
So you're saying that main content area should be updated without page reload by the same piece of JS? That makes perfect sense.

[2017-11-23 14:47] orlangur commented on #12411
@magento-engcom-team could you clarify what was reproduced here? Vanilla Magento installation should upgrade just fine, third party extensions must be adopted according to release notes.

@fwolfst there is nothing to "fix" here. You can see stuff properly converted in core modules and vendors of respective extensions should do it the same way.

There is no need to guess: you always know which seri

[2017-11-23 14:48] orlangur commented on #11292
@korostii, _could_ be updated. For core such behavior seems to be a feature request, there are quite a lot of AjaxCart extensions in the market though.

[2017-11-23 15:02] OZZlE commented on #9725
@magento-engcom-team Thank you! We were actually saving it from frontend scope but now we have moved the entire CMS into admin instead so this should no longer be an issue.

Great to know why it happened though!

[2017-11-23 15:02] #9725 closed, assigned to magento-engcom-team

[2017-11-23 15:05] fwolfst commented on #12411
@orlangur I can agree to that. In our case we saw some errors on imported orders, but its possible that we used old data-migration-tool config files (where the conversion isnt done) or these attributes came from an extension. Other cases where it failed were definately in extension-land. Lets not argue whether this (or actually: "what") has to be "fix"ed. The errors stem from a misinterpretation o

[2017-11-23 15:05] orlangur commented on #12180
@magento-engcom-team this should be reproduced for sure due to https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Customer/Model/Context.php class existence. Maybe app/code/Magento/Customer/Model/AttributeChecker.php is not involved in some circumstances with the steps provided though.

[2017-11-23 15:12] magento-engcom-team commented on #12416
@tonybrown85, We cannot reproduce this issue as described. Do you use a custom template or any custom extension for sending emails? Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-11-23 15:14] andrewhowdencom commented on #11874
Heyaa,

Thanks for following it up.

[2017-11-23 15:30] magento-engcom-team commented on #2222
@dmitry-fedyuk, thank you for your report.
We've created internal ticket(s) MAGETWO-84436 to track progress on the issue.

[2017-11-23 15:31] dakira commented on #7196
@Igloczek I spent two days on trying to get frontend less compilation to run with grunt for M 2.2 without success which is why I moved back to 2.1.

So your fix is basically renaming the file and changing up Gruntfile.js to use the `theme` variable from grunt-config.js, right?

[2017-11-23 15:40] ed007m opened #12417 "Compatibility. Upgrade 2.1.9 to 2.1.10. Quote Address getExtensionAttributes returns array, AddressExtensionInterface|null expected."
Hi, I found that after Magento Upgrade from 2.1.9 to 2.1.10 extension attributes for Magento\Quote\Model\Quote\Address stopped working for my website. After long investigation I discovered that it was caused through the core method estimateByExtendedAddress() (from \Magento\Quote\Model\ShippingMethodManagement) was changed.
was
[code]
becomes:
[code]
In this case code
`$address->getExtensionAttrib

[2017-11-23 16:02] tonybrown85 commented on #12416
Yes my apologies for logging this ticket in haste. I've just identified that it's a 3rd party module causing this issue. I appreciate you taking a brief look at the issue and my apologies again! Regards, Tony

[2017-11-23 16:02] #12416 closed, assigned to nobody

[2017-11-23 16:03] Igloczek commented on #7196
Why would you like to backport toolchain from 2.2 to 2.1, if you just said it's not working for you?

IMO you are just trying to mix two separated topics together, while if your issue is really the one described in this issue (overwriting of you custom, **working configuration**), you should care only about backporting the content of `.gitignore` from #8910

[2017-11-23 16:11] jhruehl opened #12418 "Magento 2.2.1: Switching Store View to another language in cart/checkout before checking out leads order being linked to wrong store view"
If you have a Magento 2.2.1 store with at least two store views for different languages, changing the store view to another language just before checking out, can lead to the order being linked to the store view, in which the cart was filled. As a result the customer gets the order confirmation mail in another language than the one the checkout process was done in.

### Preconditions
1. Magento 2.

[2017-11-23 16:15] magento-engcom-team commented on #9705
Hi @lfritsche
Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
My steps are:
1. Magento 2.1.10
2. Create new theme 'new_theme' based on luma
3. Add file `new_theme/i18n/de_DE.csv` with content
`"Default welcome msg!","Default welcome msg! germany"`
4. Set the "new_theme" for Default Store View in Content >Design > Configuration
5. Set "Locale" =

[2017-11-23 16:17] korostii commented on #11292
I mean it's pretty strange to take aim at the specific solution suggested in the bug report, instead of discussing the issue itself.

Cart content is getting out of sync with the minicart - that's clearly a bug. Whether there are 3rd-party extensions "fixing" this or other known workarounds is irrelevant.

[2017-11-23 16:23] magento-engcom-team commented on #12417
Hello @ed007m. The GitHub issue tracker is intended for technical issues only. Please refer to the Community Forums (https://community.magento.com) or the Magento Stack Exchange (http://magento.stackexchange.com/) site for technical questions. Thank You.

[2017-11-23 16:23] #12417 closed, assigned to nobody

[2017-11-23 16:29] palo commented on #12350
Also struggling with this issue...

[2017-11-23 16:45] magento-engcom-team commented on #7408
@Ctucker9233 thank for your feedback.
Unfortunately we cannot reproduce this issue as You describe.
Steps we did:
1. Create second website with store.
2. Create new theme, rewrite and edit template for "Contact Us" form based on default one.
3. Apply newly created theme to second store(second website).
4. Navigate to storefront contact us form.
5. Send email.
Result: email has been sent successful

[2017-11-23 16:47] bnymn opened #12419 "Fails and warnings while running unit tests"
After fresh installation of Magento 2.2 via composer, some of the unit tests are failing.

### Preconditions
1. Magento 2.2
2. PHP 7.0
3. MySQL 5.7.19, for Linux (x86_64)

### Steps to reproduce
1. Install Magento with **composer**.
2. Run this command `vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist`.
3. You get the error.

### Expected result
1. To pass all the unit tests

### Actual resul

[2017-11-23 17:23] Eminee opened #12421 "'Requested store is not found' when trying to create a store view in the back end"
### Preconditions

1. PHP 7.1.8
2. Magento 2.2.1 installed via metapackage/composer

### Steps to reproduce

1. Log into back end
2. Go to Stores >All Stores > Create Store View
3. Select an existing store, and add a name and code for new store view
4. Click 'Save Store View'

### Expected result

1. A new store view is created and shown in the list of stores

### Actual result

1. I get an error

[2017-11-23 17:58] weynhamz opened #12422 "SQL error while upgrade from 2.1.7 to 2.2.1"
Encountered SQL error while upgrading from 2.1.7 to 2.2.1 using `bin/matento setup:upgrade`.

### Preconditions

Existing fresh 2.1.7 site with sample data, deploying 2.2.1 code with sample data modules

### Steps to reproduce

1. Fresh installed 2.1.7 with sample data, all good
2. Deploy 2.2.1 with sample data
3. Run `bin/magento setup:upgrade`

### Expected result

All good

### Actual result

[2017-11-23 17:59] williambize commented on #1557
Hi. I'm having the same kind of problem but, my error message a little different. I'm not sure is it's a file permission problem. Below is the error message:

"There has been an error processing your request
Unable to retrieve deployment version of static files from the file system."

[2017-11-23 18:14] weynhamz commented on #12422
Tried `DESCRIBE salesrule_website;`, it shows as below, no `rule_id` column.

+------------+----------------------+------+-----+---------+-------+
| Field      | Type                 | Null | Key | Default | Extra |
+------------+----------------------+------+-----+---------+-------+
| row_id     | int(10) unsigned     | NO   | PRI | NULL    |       |
| website_id | smallint(5) unsigned | NO   | P

[2017-11-23 19:36] ADDISON74 commented on #11292
This is a bug. It is clear to me Magento Team doesn't want to check Magento 1 for this behavior. If they could check they will see immediately this issue. Normally Magento 2 should keep all features available from Magento 1. This one is a bug, trust me I played thousands of times with Magento 1 and I saw this issue in version 2 from the very beginning.

Maybe it is better to find an extension, or

[2017-11-23 20:47] hostep commented on #12405
Reopening.

I updated the steps to reproduce in my initial post with exact steps about how you can reproduce the problem.
I'm not convinced anymore that adding `Magento_Store` in the `sequence` of the `Magento_Config` module is the correct fix.

While searching the root cause of this problem, I went through a million classes which have something to do with Caching and especially with cleaning the

[2017-11-23 20:57] hostep commented on #12421
Heh, funny, I noticed the same problem yesterday: https://github.com/magento/magento2/issues/12405

But you can't reproduce it on a clean installation, you need "something" changed to a clean installation, the question is, what that "something" is and why it causes this problem...

#10908 is not the same problem, that's something totally different.

[2017-11-23 22:33] Screamfox commented on #8569
PHP Version Check
Your PHP version is 7.1.8-1ubuntu1. The required PHP version is ~5.6.5|7.0.2|7.0.4|~7.0.6.

why i get this issue ?

some thing to fix this problem ?

[2017-11-23 22:42] ruCyberPoison opened #12424 "Problem when i try to install magento2"
I am using the newest PHP verison but he says something is wrong to install magento2.
how can i fix this....

PHP Version Check
Your PHP version is 7.1.8-1ubuntu1. The required PHP version is ~5.6.5|7.0.2|7.0.4|~7.0.6. Hide detail

Download and install PHP from www.php.net using this PHP Documentation.

For additional assistance, contact your hosting provider.

[2017-11-23 22:54] testmagento2 opened #12425 "Update when proceed to checkout very slow"
# Preconditions

Magento ver. 2.2.1
PHP 7.0.25
MySQL 5.6

# Steps to reproduce

Add product to cart > proceed to checkout.  Take long time.
also when creating order in admin take long time.

# Expected result
create order

# Actual result:
Creation of order takes long time

![errorproxycapture](https://user-images.githubusercontent.com/33385380/33236802-bf4182c6-d22c-11e7-932a-2832d32f2043.PNG)

[2017-11-23 23:40] Tjitse-E commented on #11654
@magento-engcom-team we've got the same issue, here. Also an upgraded Magento 2.1.9 to 2.2.1.

[2017-11-24 02:32] dnadle commented on #5836
Will the fix be backported to 2.1.x?

[2017-11-24 03:19] sl02 opened #12426 "Minimum advertised prices not working for configurable products"
### Preconditions
1. Magento 2.2.1

### Steps to reproduce
1. Enable MAP in Stores>>Sales>>Sales>>Minimum Advertised Prices. Leave other options as 'Use system value'.
2. Create a configurable product.
3. Created linked virtual products, set a value for MSRP > Price and select 'Use config' for Display Actual Price.

### Expected result
1. Price on frontend is hidden and only shown 'on gesture' (wh

[2017-11-24 05:27] dankhrapiyush opened #12427 "On select file in 'Customizable Options' on frontend, it zooms product image"
### Preconditions

1. Magento version: 2.2.1

### Steps to reproduce

1. Add 'Customizable Options' in product of type 'File'
2. Go to frontend, and try to upload a file
3. On select file, it zooms product image. Don't know why is it zooming product image?

### Expected result

1. It should not zoom product image on select file in customizable option

### Actual result

![2017-11-24_10-43-41](http

[2017-11-24 05:48] mayankzalavadia commented on #12413
Hello @magento-engcom-team,

I am also facing the same issues. I have set 31536000(Seconds) on admin Stores > Settings > Configuration > Advanced > Admin > Security Tab > Admin Session Lifetime (seconds). And stop all the activity on that Magento and after some hours it's log out me. I don't know why you guys are not able to reproduce this issues. I have reviewed other issues (#9372 ) and your ans

[2017-11-24 05:51] moderncodes commented on #11280
I've found that cron jobs were not running properly and they were just spawning and running in loops and was raising load on the server. I've cleared entries from `cron_schedule` table that were causing these loops and load looks much better, plus cron jobs are actually executing now, all cron _job_codes_ have **success** status.
Unfortunately, I can confirm, fixing cron did not fixed my original

[2017-11-24 06:17] magento-engcom-team commented on #12095
@thomvanderboon, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-24 06:17] #12095 closed, assigned to nobody

[2017-11-24 06:20] magento-engcom-team commented on #12138
@DavaGordon, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-24 06:20] #12138 closed, assigned to nobody

[2017-11-24 06:40] Sil-B commented on #12415
Same problem.

[2017-11-24 07:27] magento-engcom-team commented on #12415
Hello @shinesoftware. Thanks for reporting. Currently we are not able to reproduce Your issue. Would You please look if there are any exception logs or error reports after Login has been clicked.

[2017-11-24 07:37] DavaGordon commented on #12138
The issue still hasn't been resolved affects both admin and front end, unable to create customer in backend if Dob is input as error comes up saying invalid year even though 1986 is valid

[2017-11-24 07:42] shinesoftware commented on #12415
Hi guys, the problem was the domain name resolution (DNS).

Here my steps:

- I have installed the project in the local server
- I have set the dns zone in the domain property in the hosting control panel. Magento base-url was a real DNS A Zone

I have realized that some dns function, cookie features, magento or browser domain resolution do not recognize the domain zone and the cache was invalidat

[2017-11-24 07:42] #12415 closed, assigned to nobody

[2017-11-24 07:54] magento-engcom-team commented on #9695
Hi @maderlock
Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
Please try reproduce the issue on 2.1.10 version. May be it was fixed in this version.
Thanks.

[2017-11-24 08:29] magento-engcom-team commented on #12421
@Eminee thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a new clean installation

[2017-11-24 08:30] magento-engcom-team commented on #12101
@marilena6, Thx for the report. Did you try use the row in you composer.json file:
magento/**project**-community-edition: "2.1.8". instead of product-community-edition?

[2017-11-24 08:38] magento-engcom-team commented on #12162
@Totalkarnataka We were not able to reproduce this issue. We are closing it due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-24 08:38] #12162 closed, assigned to nobody

[2017-11-24 08:47] magento-engcom-team commented on #8037
Hi @hostep
Phpstan is 3rd party code, and we are not responsible for the incorrect code in this case.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-11-24 08:47] #8037 closed, assigned to magento-engcom-team

[2017-11-24 08:55] BTeodorWork commented on #11810
I updated to 2.2.1 and i have the same issue

[2017-11-24 09:10] magento-engcom-team commented on #12426
@sl02, thank you for your report.
We've created internal ticket(s) MAGETWO-84461 to track progress on the issue.

[2017-11-24 09:11] magento-engcom-team commented on #12418
@jhruehl, thank you for your report.
We've created internal ticket(s) MAGETWO-84462 to track progress on the issue.

[2017-11-24 09:12] emmathepossum opened #12428 "Blocking Google Analytics prevents Checkout"
### Preconditions

1. Magento 2.2.1
2. PHP 7.0.25-1~dotdeb+8.1
3. mysql  Ver 15.1 Distrib 10.0.32-MariaDB
4. uBlock Origin 1.14.18 on client

### Steps to reproduce

1. Enable Google Analytics in Stores > Settings > Configuration > Sales >Google API
2. Install uBlock Origin on client, or block Google Analytics in any other AdBlocker
3. Go to Checkout

### Expected result

1. Checkout is working

#

[2017-11-24 09:16] ishakhsuvarov commented on #12424
@Screamfox From the context it looks like you are attempting to install Magento 2.1, which does not support PHP version `7.1`, only `5.6` and `7.0` are supported for 2.1.
To solve the issue you may downgrade PHP version to `7.0` or use Magento 2.2 which is compatible with PHP `7.1`

You may find more information in the devdocs in the System Requirements section for [2.1](http://devdocs.magento.com

[2017-11-24 09:16] #12424 closed, assigned to nobody

[2017-11-24 09:23] Danielc3 commented on #12414
I have reproduced this on a clean installation of 2.2.1 prior to creating this ticket.

[2017-11-24 09:24] xBitsSec commented on #1437
I have the same issue on Magento 2.2.1. My Version is upgraded from 2.1.6 to 2.2.1 via the composer. Magento is running with PHP 7.1.11 on Apache 2.4.25.

In my case will the validation break for 'DOB' input field. I have not filled out this value before.
The exception will come from the `'\Magento\Framework\Data\Form\Filter\Date'` class by the `'\Zend_Filter_NormalizedToLocalized->filter()'` func

[2017-11-24 09:29] magento-engcom-team commented on #12424
@Screamfox, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-24 09:30] magento-engcom-team commented on #2529
@mttjohnson, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-24 09:30] #2529 closed, assigned to nobody

[2017-11-24 09:30] magento-engcom-team commented on #12162
@Totalkarnataka, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-24 09:35] Softagz opened #12429 "hide_from_product_page import not working Magento 2.1.8"
### Preconditions

1. Using the sample download "Products" Import and Uploaded the images (BASE, THUMB and SMALL)
2. Using the same import CSV for the field column in csv "hide_from_product_page" not to show the small,thumb (which are same values) to be displayed on PRODUCT PAGE
3. Manually from admin when we tick the box and export we can see the "hide_from_product_page" with image path but when

[2017-11-24 09:39] magento-engcom-team commented on #7869
Hi @zucler
Could you please let us know if the issue is still actual? Thank you

[2017-11-24 09:39] quisse opened #12430 "While assigning prices to configurable products, prices aren's readable when using custom price symbol."
When creating configurations on a configurable product, while assigning prices to configurable products, prices aren's readable when using custom price symbol.

### Preconditions

1. Magento 2.1.10
2. php 7.0.25

### Steps to reproduce

1. Configure a multi char currency symbol
2. Create a product
2. Add configurations on the product page
3. Select the option `Apply unique prices by attribute to e

[2017-11-24 09:49] magentocj commented on #10499
I think, that is not solution to enable PayPal Billing Agreement Settings, Are we have any other solution or patch to fix this issue

[2017-11-24 09:51] orlangur commented on #11292
Ok, let's @magento-engcom-team decide whether it's a bug or a feature request.

[2017-11-24 09:56] ondrejmirtes commented on #8037
@magento-engcom-team I believe this is a technical issue. The OP is trying to improve Magento code itself.

[2017-11-24 09:59] gewaechshaus commented on #10499
@magentocj - none, sadly... Somebody has to dive into the mud.

[2017-11-24 10:05] #7449 closed, assigned to YevSent, alena-marchenko

[2017-11-24 10:06] helmsmantest commented on #12148
Already done it https://magento.stackexchange.com/questions/200256/magento-2-api-can-not-send-2-params
People dont know how to do it((

[2017-11-24 10:14] magento-engcom-team commented on #12428
@dwirt, thank you for your report.
We've created internal ticket(s) MAGETWO-84475 to track progress on the issue.

[2017-11-24 10:30] magento-engcom-team commented on #5190
@heldchen, thank you for your report.
The issue is already fixed in 2.2.0

[2017-11-24 10:30] #5190 closed, assigned to magento-engcom-team

[2017-11-24 10:30] magento-engcom-team commented on #2907
@Vinai, thank you for your report.
We've created internal ticket(s) MAGETWO-84466 to track progress on the issue.

[2017-11-24 10:30] magento-engcom-team commented on #4704
@adragus-inviqa, thank you for your report.
We've created internal ticket(s) MAGETWO-84470 to track progress on the issue.

[2017-11-24 10:36] orlangur commented on #8569
@Screamfox, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

Most likely you use Magento 2.1.x which does not support PHP 7.1.

[2017-11-24 10:36] shahrukh-alizai commented on #4699
This issue is still replicable on 2.1.10

[2017-11-24 10:43] orlangur commented on #12411
Any 3rd party modules must be updated according to http://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html#database-data-format-changes before using with Magento 2.2.

I didn't say a word it is not possible technically. The problem here is that guessing serialized format is not a reliable solution and not acceptable in core.

"get the error messages go away" is not

[2017-11-24 10:47] orlangur commented on #11292
@ADDISON74, for the record

Such behavior looks like a poor UX to me. Removing item from minicart staying on Shopping Cart page is quite a nonrealistic scenario. Proper expected result is updating page main content via AJAX or something.

[2017-11-24 10:53] fwolfst commented on #12411
The provided error message includes translation and cache. @sanjayjethva Did you try flushing the cache? :)

[2017-11-24 11:17] breg-13 commented on #7037
It seems the issue isn't resolved yet?

[2017-11-24 11:19] magento-engcom-team commented on #12427
Hello @dankhrapiyush , thank You for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-24 11:30] magento-engcom-team commented on #7537
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-84479 to track progress on the issue.

[2017-11-24 11:32] paragpadsumbiya opened #12431 "Magento 2.2.1 upgrade issues"
Magento 2.2.1 upgrade issue
Current version - Magento 2.1.10
Need to Update to version - Magento 2.2.1

Generate below errors while upgrading through terminal - command - php bin/magento setup:upgrade

1) Installing schema... Warning: PDOStatement::execute(): MySQL server has gone away in /var/www/html/nestle2/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php on line 228

   This is

[2017-11-24 11:36] paragpadsumbiya commented on #12431
I dont know how to raise issue here so i just write down what i face .So can you please @ magento-engcom-team raise it proper and test it .

[2017-11-24 11:45] magento-engcom-team commented on #12413
@mayankzalavadia , thank for your response. We were not able to reproduce this issue by following the steps you provided. We attaching video (session is save after 2 hours)
[sessions.zip](https://github.com/magento/magento2/files/1501526/sessions.zip)

[2017-11-24 11:46] magento-engcom-team commented on #12422
@weynhamz thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-11-24 12:13] magento-engcom-team commented on #12431
@paragpadsumbiya , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2017-11-24 12:22] #12431 closed, assigned to nobody

[2017-11-24 12:29] tommybds commented on #12399
Same problem with french language here, on Magento 2.2.0 , Php 7, Mysql 5.6

[2017-11-24 12:30] magento-engcom-team commented on #10002
@apicht, thank you for your report.
The issue is already fixed in 2.1.10

[2017-11-24 12:30] #10002 closed, assigned to nobody

[2017-11-24 12:30] magento-engcom-team commented on #3032
@homecoded, thank you for your report.
We've created internal ticket(s) MAGETWO-55546 to track progress on the issue.

[2017-11-24 12:30] magento-engcom-team commented on #4470
@tzsolti, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-11-24 12:30] #4470 closed, assigned to nobody

[2017-11-24 12:36] ihor-sviziev commented on #9599
Looks like it was fixed in following commit:
https://github.com/magento/magento2/commit/2e43a805c7921da87986e2e4b29e61b8b09927ae

[2017-11-24 12:52] Puru2016 commented on #11612
I want to add postal Code field in braintree CC payment form in magento checkout. So please let me know if there is any way to add this.
Thanks :)

[2017-11-24 13:15] orlangur commented on #10641
@gvigner please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

As I mentioned, you can make builtin attributes searchable or add custom attributes and make them searchable.

[2017-11-24 13:28] magento-engcom-team commented on #12430
@quisse, thank you for your report.
We've created internal ticket(s) MAGETWO-84485 to track progress on the issue.

[2017-11-24 13:45] nobodypb commented on #12097
I get also this error when I try to upgrade to 2.2.1
After `composer install` I execute `bin/magento setup:upgrade` and this error happens.
As this has something to do with the store config, I tried removing diffrent entries in 'core_config_data'.
I figured out, that the error can be resolved by deleting all config datasets with scope set to 'websites'
`DELETE FROM core_config_data WHERE scope = '

[2017-11-24 14:03] Boumii commented on #10821
No more :
main.CRITICAL: Exception message: Validate class not found from basename 'Magento\Framework\Validator\EmailAddress', after @Phillipp's solution on Ubuntu 16.04.3 LTS‬ and  Plesk Onyx 17.5.3 Update Nr. 31
Now newsletter registration works as intended again.

[2017-11-24 14:07] magento-engcom-team commented on #6747
@thaohientruong, thank you for your report.
Please try to reproduce this issue on fresh and clean installation without any third-party dependencies.
Please, add the following information:
 - [ ] Steps to reproduce
 - [ ] Expected result
 - [ ] Actual result

[2017-11-24 14:23] hostep commented on #12421
@magento-engcom-team: you should be able to reproduce using the steps mentioned in https://github.com/magento/magento2/issues/12405

[2017-11-24 14:23] dankhrapiyush commented on #12427
### Preconditions
1. Magento version: 2.2.1
2. Browser: Firefox ver 57.0 (64-bit)
3. OS: Windows 10

### Actual result
1. I'm facing this issue in Firefox browser only. Not in Chrome and IE.
2. I checked and verified this issue on a fresh Magento.

[2017-11-24 14:30] magento-engcom-team commented on #4308
@flancer64, thank you for your report.
We've created internal ticket(s) MAGETWO-84487 to track progress on the issue.

[2017-11-24 14:30] magento-engcom-team commented on #12414
@Danielc3 , thanks for your response, this problem already fixed in develop.

[2017-11-24 14:34] magento-engcom-team commented on #12414
@Danielc3 , thanks for your response, this problem already fixed in develop.

[2017-11-24 14:40] magento-engcom-team commented on #9837
@nickbartlett , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sou

[2017-11-24 14:40] #9837 closed, assigned to nobody

[2017-11-24 15:01] magento-engcom-team commented on #6029
Hi @woei66
Could you please let us know if the issue is still actual?
Thank you

[2017-11-24 15:04] BigTonni commented on #7967
I have a same issue with 2.1.6. Still looking for a solution.

[2017-11-24 15:06] drew7721 opened #12432 "Number of items in category maxed out at 10000 on front end."
### Preconditions
Magento 2.1.8 with PHP 7.0

### Steps to reproduce
1. Add 10000+ items in a category
2. In the admin you will see correct items count
3. On the front end it will max out at 10K.

### Expected result
1. Show correct number of items

### Actual result
**Frontend :**
<img width="439" alt="parts_frontend" src="https://user-images.githubusercontent.com/9411699/33215744-db45b052-d0fe-1

[2017-11-24 15:29] alexpoletaev commented on #9106
@magento-engcom-team could you please provide a link to commit with the fix. We have this issue too on 2.1.9 , but we are not ready to update our instance to 2.2.0 at the moment. Thanks.

[2017-11-24 15:30] magento-engcom-team commented on #4247
@fetzi, thank you for your report.
We've created internal ticket(s) MAGETWO-84492 to track progress on the issue.

[2017-11-24 15:32] magento-engcom-team commented on #12384
Hi again @MattDelac. Again we managed to reproduce Your issue but just in the special case. If while picking up the Entity Type in Import Settings one picks up Products in stead of Advanced pricing by mistake the import file will pass the validation, the whole import will be successful according to the notifications. But in fact nothing will be changed. So if one has "Fixed" those "Fixed" will rem

[2017-11-24 16:11] paragpadsumbiya opened #12433 "Magento 2.2.1 Upgrade Issues"
Magento 2.2.1 upgrade issue
Current version - Magento 2.1.10
Need to Update to version - Magento 2.2.1

### Preconditions

1. PHP 7.1
2. MySQL 5.6
3, Apache
4 Ubuntu 16.04 LTS

### Steps to reproduce

1. cp composer.json composer.json.bak
2. composer require magento/product-enterprise-edition 2.2.1 --no-update
3. composer update
4. rm -rf var/cache/* var/page_cache/* var/generation/*
5. php bin/ma

[2017-11-24 16:17] paragpadsumbiya opened #12434 "Magento 2.2.1 upgrade issues"
Magento 2.2.1 upgrade issue
Current version - Magento 2.1.10
Need to Update to version - Magento 2.2.1

### Preconditions
1.PHP 7.1
2.MySQL 5.6
3, Apache
4 Ubuntu 16.04 LTS

### Steps to reproduce

1. cp composer.json composer.json.bak
2. composer require magento/product-enterprise-edition 2.2.1 --no-update
3. composer update
4. rm -rf var/cache/* var/page_cache/* var/generation/*
5 .php bin/magen

[2017-11-24 16:30] magento-engcom-team commented on #12429
@Softagz, thank you for your report.
We've created internal ticket(s) MAGETWO-84496 to track progress on the issue.

[2017-11-24 16:32] magento-engcom-team commented on #12433
@paragpadsumbiya thank you for your report.
Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account or If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open So

[2017-11-24 16:32] #12433 closed, assigned to nobody

[2017-11-24 16:44] Adubot opened #12435 "PHP Fatal Error on collect shipping calculating"
### Preconditions

1. Magento2 Community Edition v2.1.4
2. PHP 7.0.14
3. MySQL 5.6.36

### Steps to reproduce

1. Have a cart with some inactive products, some active products and the collect_shipping_rates in quote_address table set on 1
2. If you are not logged in: try to log in to yourt customer account
3. If you are logged in, try to access your cart or to log out

### Expected result

1. The

[2017-11-24 17:05] eCommerceGorilla commented on #12350
@palo if you come up with a solution please share it here. I've been working on this but I keep hitting a dead end.