[2016-05-31 08:41] SilvanLaroo commented on #3855
I have this issue when showing the new products widget on my homepage via Magento_Catalog/templates/product/widget/new/content/new_grid.phtml. This only happens for configurable products.

[2016-05-31 08:47] zanilee commented on #4768
Hi, @2007lf!

To get the absolute path of a theme image in template use

[code]

Please let us known if it works for you.

[2016-05-31 08:48] lucscu commented on #3364
Thx @NadiyaS
I'm personally waiting for next release and hope to finally go live with my project.

[2016-05-31 08:49] NadiyaS commented on #4049
Hi @Katerina1993,
this bug is really reproducible on 2.0.2 Magento version.. On the latest Magento version (2.0.7) this bug was fixed but there is another problem with reorder which was already fixed in develop branch. Please upgrade your Magento to 2.0.7 where no such fatal error. And be sure to upgrade Magento when next release will be added to make reorder possible.
Thanks.

[2016-05-31 09:02] MomotenkoNatalia commented on #4768
@2007lf  let us know if this works for you

[2016-05-31 09:03] peec commented on #4566
Aha.
If i check "This product has no weight". The product is converted to "Virtual product". If i let weight be empty it's a "Simple product".

Still, if you add it to cart and go into checkout, the same bug happens as described above.

![image](https://cloud.githubusercontent.com/assets/131546/15669191/482fce0e-271f-11e6-89bf-17f9406b5092.png)

[2016-05-31 09:06] pareshe commented on #4552
I have updated comment please test like that.

[2016-05-31 09:14] antonlazarchenko commented on #4741
@schogini, I tried to change code according to your commit and now I get new error from rest http://XXX.XXX.XXX.XXX/rest/default/V1/guest-carts/54fce3777572e7f79df94bb4a25da69f/payment-information
`{"message":"The payment method you requested is not available."}`
Don't know if you already finished, but check it, please.
`Magento\Payment\Model\Info.php` line 102 gives this error.

[2016-05-31 09:15] antboiko commented on #4762
Hi @ankitce , thanks for reporting this issue. We've created Internal ticket MAGETWO-53678 to investigate.

Thanks,
Anton.

[2016-05-31 09:16] grasdaggel opened #4790 "Empty bin/ folder after composer update"
Literally the title. I used php composer.phar update in order to update to 2.0.6 (is it the latest? Idk)

After the update, my bin/ folder was completly empty. Copying the content of the magento file of github and mirroring it to my server does not resolve this problem, it does not work anymore.

Latest console I/O

[2016-05-31 09:18] ishakhsuvarov commented on #4679
@jim5359 We have tried to reproduce the case described with the latest code from the `develop` branch and did not find any errors.
Please check, that checkout shipping rate validators are implemented correctly in your extension (it is the mechanism responsible for reloading the list of available shipping methods on change of the specific address fields). There is a tutorial on this topic in the [M

[2016-05-31 09:28] grasdaggel opened #4792 "composer update deleted all files in mage2 folder"
I used php composer.phar update in order to update. First I thought it would just have deleted the bin/magento file, but now I am missing EVERY file on the server. File structure is still intact, but there are literally NO files anymore.

Sure, we do have a backup, but still: how could this be possible?

I rm -rf'd the vendor folder in order to make an update possible. Now everything is gone. How?

[2016-05-31 09:42] antonlazarchenko commented on #4741
@schogini, @alena-marchenko have a look:
Magento\Quote\Model\Quote\Payment.php
inside method `convertPaymentData` code should be following:

[code]

And in that way everything works fine.
So this commit is unneeded https://github.com/schogini/magento2-1/commit/1cd6b28c53730012ea1dba621af047ad7d8668e3

[2016-05-31 11:03] iogavin commented on #4753
any update on this? we have the same problem.

[2016-05-31 11:08] wittness87 commented on #4753
Turns out it was something very straightforward!

If you go to Sales > Tax you will find that the default country is United States.

Change that and you should be okay!

[2016-05-31 11:35] schogini commented on #4741
That was a mistake in  our local repo. This code has been corrected. Thanks!
The correct code was pushed to another branch in our repo (branch2.0.7) We have corrected the develop branch too now.

[2016-05-31 11:37] davidverholen commented on #4537
same problem here with the WSDL List on 2.1.0-rc1. Also any resource (for example /soap/default?wsdl&services=catalogProductRepositoryV1) responds with an error "Consumer ist not authorized to access %resources" while on 2.0 the resources wsdl is rendered.

[2016-05-31 11:41] stamster commented on #4792
I had no issues like that with `composer update`

What are the contents of your `composer.json` ?

[2016-05-31 11:49] iogavin commented on #4753
Ahh brilliant, thanks very much for your quick reply.

[2016-05-31 11:50] asemenenko commented on #4771
Hi @sunilit42 we do not have a functionality that allows to edit an existing address during checkout. You can add only a new one during the checkout and modify it, but not the existing one. I added it to the feature requests.

[2016-05-31 12:01] alena-marchenko commented on #4296
Hi @devdesco-ceo

Please provide us with debug.log and details regarding 502/404 errors. Are you able to reproduce the issue on the develop branch?

[2016-05-31 12:05] alena-marchenko commented on #4349
Hi @SidneyBilliet

This bug is already resolved in develop branch. Closing the issue, please feel free to reopen it if you still can reproduce it on develop branch.

[2016-05-31 12:05] #4349 closed, assigned to alena-marchenko

[2016-05-31 12:16] commcad commented on #4785
Thanks for looking into this Alena. YOU have to make this PP work ;)

Any workaround that you know of (temp fix) please let me know as I plan on putting RC1 in prod in a week (i know i know, not for prod etc) We just can't delay too much longer here so we'll make use of it. Everything else works flawlessly (for us anyway). We'll upgrade to a stable version in Aug or Sept.

Ubuntu 16.04
NGINX 1.10.

[2016-05-31 12:28] commcad commented on #4765
Ubuntu 16.04
NGINX 1.10.0
MariaDB 10.0.24
PHP 7.0.4
PhpRedis Extension
REDIS 3.2.0 (for session & page cache)

[2016-05-31 12:28] alena-marchenko commented on #4580
Hi @SidneyBilliet

This can be resolved by setting "No, allow multiple payments per invoice ID" option in your PayPal account.

[2016-05-31 12:31] sunel commented on #4792
@kingalca u dont need to remove the vendor folder just use composer  update it will update only the modules that has update

[2016-05-31 12:33] sunilit42 commented on #3572
hey,

any solution for that?
I have same problem

[2016-05-31 12:34] sunilit42 commented on #4771
it is very good feature it must need to add that.

[2016-05-31 12:35] sunilit42 commented on #4772
Already explain here:

https://mage2.pro/t/topic/1673

[2016-05-31 12:57] jzahedieh commented on #4750
I have upgrade to 2.0.7 EE and the issue persists

[2016-05-31 13:12] micheese commented on #2630
Does anyone has an update on this please?

[2016-05-31 13:18] mmgr commented on #4182
Hi guys, Any solution on this one.

[2016-05-31 13:22] toddwolaver opened #4795 "Magento 2.1 RC1 - Error when running CLI upgrade command"
Attempting to run setup:upgrade after compiling DI results in an error. I have tried with just 'setup:upgrade' and 'setup:upgrade --keep-generated'.
## Steps to reproduce
1. Install Magento 2.1 RC1 via composer.
2. Compile DI or enable production mode.
   - 'php bin/magento setup:di:compile' or
   - 'php bin/magento deploy:mode:set production'
3. Run upgrade command (results in error)
   - 'php bi

[2016-05-31 13:30] mazhalai commented on #3963
@techgeeksquared add `.patch` to the url for the commit above, copy contents and apply patch.

[2016-05-31 13:32] mitsprajapati commented on #4057
Hi
When I try to select payment method paypal in checkout and than click place order. I see following error in ajax response.

You don't have permission to access /rest/esbrewing/V1/carts/mine/selected-payment-method
on this server.

Can any one help me how to fix this issue as I cant place order using paypal.

My magento 2 version is : 2.0.4

[2016-05-31 13:34] techgeeksquared commented on #3963
@mazhalai Thank you.

Was anyone able to overcome this issue? Trying to upgrade from 2.0.5 to 2.0.6.

[2016-05-31 13:36] mazhalai commented on #4747
@kgvconsulting keys are 32 characters long, not login to marketplace(though there is a plan to change it in the future to use login). Keys can be found after login to magento.com-> marketplace->my access keys

[2016-05-31 13:39] Kasoi-free commented on #4679
I am experiencing the same with built-in Table Rates method.

The trick is to setup your shipping methods in such way that when you try to get shipping for default Country (which is US in my case) there shouldn't be any available shipping methods. After that if you try to change shipping address to the one you have shipping rate for "Estimate Shipping and Tax" won't update. Same thing happens on C

[2016-05-31 13:40] mazhalai commented on #4760
@minhluan259 are you using a git based installation?

[2016-05-31 13:42] mazhalai commented on #4305
@danny-balance still being investigated.

[2016-05-31 13:43] mazhalai commented on #4700
@antonlazarchenko After composer update, you need to run `bin/magento setup:upgrade`

[2016-05-31 13:43] srenon opened #4796 "How to add multiple dependences using addFieldDependence"
[code]

In magento 1.x you could accomplish this by doing

[code]

They does not seem to be an easy way to accomplish this in magento 2.x, because there is not way to pass in the "separator" argument from addFieldDependence

magento2/app/code/Magento/Backend/Block/Widget/Form/Element/Dependence.php

[code]

magento2/app/code/Magento/Config/Model/Config/Structure/Element/Dependency/Field.php

[code

[2016-05-31 13:47] mazhalai commented on #4219
@vkosenok please do not post on closed issues.

[2016-05-31 13:49] mazhalai commented on #4756
@neoshd  @Jeff7306 have you entered your keys under `System config`

[2016-05-31 13:50] mazhalai commented on #4668
@miguelbalparda  @hb-github can you please give more details steps you followed to upgrade?

[2016-05-31 13:52] mazhalai commented on #4790
@kingalca please provide what version did you update from?

[2016-05-31 13:52] miguelbalparda commented on #4668
I was using the web utility to upgrade, Magento 2 was installed using the web installer.

[2016-05-31 13:59] mazhalai commented on #4765
@commcad we have created MAGETWO-53730 to investigate and fix. Also, are you on production mode?

[2016-05-31 14:00] mazhalai commented on #4792
@kingalca can you please provide more detailed steps. Looks like upgrade did not go through.

[2016-05-31 14:03] mazhalai commented on #4795
@toddwolaver why would you run compile before upgrade? Also, if you are installing a fresh 2.1.0-rc1 why do you need to run upgrade? did you have an older code base?
Please follow the steps specified in the following link to upgrade: http://devdocs.magento.com/guides/v2.0/comp-mgr/cli/cli-upgrade.html

[2016-05-31 14:04] mazhalai commented on #4668
@miguelbalparda and every time it was with sample data correct?

[2016-05-31 14:06] miguelbalparda commented on #4668
Correct @mazhalai

[2016-05-31 14:07] pboisvert commented on #4753
seems like the issue has been resolved by changing the default country option so closing this issue. Please reopen if this is not the case.

[2016-05-31 14:07] #4753 closed, assigned to nobody

[2016-05-31 14:12] kgvconsulting commented on #4747
@mazhalai - Yes correct and I have the right one, Im sorry if I dont state the issue correctly, here is the problem, see enclosed screenshots

I'm able to access Web Setup Wizard, all sections are working correctly EXCEPT the section for Web Setup Upgrade where should show the correct version and if there is new one available.

The magento 32 characters keys are installed from the very begining I

[2016-05-31 14:18] qmarlats opened #4797 "Broken help links?"
Hey,
At least one help link is broken: in the configuration page (and on some other pages), next to the scope on the top of the page, there is a help link with this link: http://www.magentocommerce.com/knowledge-base/entry/understanding-store-scopes. But the page doesn't exists. I don't know if some others are broken.

[2016-05-31 14:19] pboisvert commented on #4787
may be duplicate of https://github.com/magento/magento2/issues/4777

[2016-05-31 14:26] mazhalai commented on #4747
@kgvconsulting in your composer.json is repo.magento.com the only repository specified?

[2016-05-31 14:30] kgvconsulting commented on #4747
@mazhalai

Yes, correct

{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.0.2",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "repositories": [
        {
            "type": "composer",
            "url": "https://repo.magento.com/"
        }
    ],
    "require": {

[2016-05-31 14:31] qmarlats opened #4798 "Feature request: add a link to admin in Setup Wizard"
Hey! Don't you think it would be a great idea to add a link to Magento admin in Setup Wizard? Currently we have to manually edit URL to go back to admin.

[2016-05-31 14:32] pboisvert commented on #4769
The github issue tracker is for reporting bugs or technical issues only. Please ask "how do I" of "why" type of questions on [Magento SE](http://magento.stackexchange.com/) or the official [community forum](https://community.magento.com/).

[2016-05-31 14:32] #4769 closed, assigned to nobody

[2016-05-31 14:34] mazhalai commented on #4798
Please see https://github.com/magento/magento2/issues/3742#issuecomment-196420331
Closing since this is not a bug.

[2016-05-31 14:34] #4798 closed, assigned to nobody

[2016-05-31 14:37] quienti commented on #4627
Close because this is not a Magento bug apparently

[2016-05-31 14:37] #4627 closed, assigned to mazhalai

[2016-05-31 14:56] mazhalai commented on #3951
@devhn @benchmarky closing due to non-responsiveness.

[2016-05-31 15:02] toddwolaver commented on #4795
@mazhalai The steps in this issue only illustrate the basic steps to recreate the error.

In a real world example, this would be run on a production deployment of an existing codebase. I run upgrade, compile DI and generate static assets off of the production server, move the updated codebase with generated files into place on production and re-run the upgrade with --keep-generated to update the p

[2016-05-31 15:03] andidhouse commented on #2504
This seems to be a php7 issue. We tested on php5 - no problem to install.
We tested with the same system and php7 replacing php5 --> same problem.

With this fix it worked.
@mazhalai Can you test on your system if you experience the same with PHP7 installed - then this should be included in the nginx.conf.sample i think.

[2016-05-31 15:03] mazhalai commented on #4781
@fooman this has been fixed in 2.1.0-rc1? Have you tried it with that version?

[2016-05-31 15:04] mazhalai commented on #4738
@digitalpianism closing due to non-responsiveness.

[2016-05-31 15:04] #4738 closed, assigned to mazhalai

[2016-05-31 15:07] jonathansayag commented on #4786
+1 for blank DOB.

You can see the error in `Magento\Customer\Block\Widget\Dob::getFieldHtml()` :

[code]

If we check`$_data`, we can see this :

[code]

There is no `value`defined in `$_data` and `$this->getValue()` is not a function, so it willl always returns `null` if you don't define it in template.

So, logically, we need to return `$this->getDate()` ?

[2016-05-31 15:19] tkacheva commented on #4170
Thanks for reporting issue. Internal ticket MAGETWO-53766

[2016-05-31 15:28] ghost commented on #4756
@mazhalai yes i have entered the keys. I was able to log into Component Manager with 2.0.6.. I can get to "system config" and "system upgrade"
Thanks

[2016-05-31 15:34] mazhalai commented on #4795
@toddwolaver in this case, you will need to clear your var/generation and var/di manually before pushing to the server, since the previous generated files still exist and are no longer relevant since the code has been updated.

[2016-05-31 15:37] mazhalai commented on #4731
@yssource production mode does suppress errors and warnings. http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html

We have created MAGETWO-53770 to investigate and fix the warning.

[2016-05-31 15:38] mazhalai commented on #4699
@redboxmarcins any update?

[2016-05-31 15:50] toddwolaver commented on #4795
@mazhalai Just to be clear, are you saying that in Magento 2.1 'setup:upgrade' will no longer be supported after DI has been compiled?

If so, I would recommend updating the error message and removing the --keep-generated option from setup:upgrade, since it now serves no purpose (i.e. to keep the previously generated files)

The process of building a production 'image' 'off site' minimizes the amo

[2016-05-31 16:21] eug123 commented on #4737
Hi @lgt
What theme is applied? Have you deployed static content before switching to production?

[2016-05-31 16:21] carmelomtb commented on #3572
This issue is still reproducible in magento 2.1.0-rc1, 2.0.7, 2.0.6, and lower versions.
You can reproduce the bug in the following way:

1) Install a magento 2.1.0-rc1 or a lower version

2) Change deploy mode to developer:
 `php bin/magento deploy:mode:set developer`

3) Download and install this module:
[Test.zip](https://github.com/magento/magento2/files/291510/Test.zip)

4) Make sure all cach

[2016-05-31 16:22] treestonemedia commented on #2065
getting this error on a fresh install

[2016-05-31 16:30] hostep opened #4799 "Less compilation error: variable @field-date-icon--color is undefined in Magento/backend theme"
## Steps to reproduce
1. Install Magento 2.0.7 using composer
2. Install a module which allows you to compile the less files using the native node.js less compiler (I'm working on such a module, but it isn't finished yet, I'm planning on releasing it as an open source module, teaser: it works over twice as fast as the php compiler)
3. Run `bin/magento setup:static-content:deploy`
## Expected resul

[2016-05-31 16:31] redboxmarcins commented on #4699
I can only install by hand
On 31 May 2016 5:39 p.m., "mazhalai" notifications@github.com wrote:

[2016-05-31 16:33] mazhalai commented on #4795
@toddwolaver No, what I mean is, setup:upgrade will not work with `old` generated code. We have a mechanism to clean this automatically before upgrade runs, but if you do this locally and push it, and run it with the --keep-generated flag, there is no way to clean the old code.

[2016-05-31 16:42] katmoon commented on #4776
Hi,

Smart sorting in catalog is a Magento Enterprise feature.
So I'm closing this issue since nothing will be done regarding this issue in CE. Feel free to reopen the issue if you still have any questions.

Thanks, Kateryna.

[2016-05-31 16:42] #4776 closed, assigned to nobody

[2016-05-31 16:42] katmoon commented on #1266
Hi,

Smart sorting in catalog is a Magento Enterprise feature.
So I'm closing this issue since nothing will be done regarding this issue in CE. Feel free to reopen the issue if you still have any questions.

Thanks, Kateryna.

[2016-05-31 16:42] #1266 closed

[2016-05-31 16:45] katmoon commented on #4658
Hi,

This is exactly how Update on Schedule mode should work. Please read more at http://devdocs.magento.com/guides/v2.0/extension-dev-guide/indexing.html

I'm closing the ticket. Please feel free to reopen if you have additional questions.

[2016-05-31 16:48] katmoon commented on #4577
Hi @werdlv

You can add more attributes to be used for catalog or price rules in attribute settings:
Admin > Stores > Attributes > Product > the attribute > Storefront Properties > Use for Promo Rule Conditions
Please check that this property is set to Yes.

Thanks,Kateryna.

[2016-05-31 16:51] alena-marchenko commented on #4597
Hy @ruby10

We've created MAGETWO-53773 internal ticket regarding this issue

[2016-05-31 16:52] fooman commented on #4781
Installation from zip is not available for 2.1.0-rc1 yet, unless I missed something.

But for example here https://github.com/magento/magento2/blob/2.1.0-rc1/setup/pub/magento/setup/component-grid.js#L15 if index.php/componentGrid/components spits out something like `PHP: Fatal Error: Allowed Memory Size of 134217728 Bytes Exhausted` data.lastSyncData won't exist and this line `if(typeof data.last

[2016-05-31 16:54] alena-marchenko commented on #4508
Hi @daniel-ifrim

We've created MAGETWO-53773 internal ticket regarding this issue

[2016-05-31 16:55] sivajik34 commented on #4658
@katmoon i red the documentation.based on that it should change index status to invalid.
![index_indexers_flow](https://cloud.githubusercontent.com/assets/7636894/15683118/68d23656-277e-11e6-9d47-20ba9f071304.png)

[2016-05-31 16:58] kgvconsulting commented on #4747
@mazhalai - Also if that could help I didn't had this issue when did the upgrade to v2.0.6 and v 2.0.7; It happen after i upgraded to v 2.1.0-rc1

[2016-05-31 17:06] commcad commented on #4765
Mazhalai, default mode.

all the best 2uguys there

[2016-05-31 17:23] FoxtrotOscar2 commented on #4786
Jonathan - that fixes the Dob display issue! I'm finishing up a solution for the customer group reset on save and will post later this week when I get back.

Edit notes: upon saving value supplied triggers an error ("We can't save the customer.Invalid date") so I'll still have to find what's causing this. At this point it just seems like a formatting issue dd/mm/yyyy vs dd-mm-yyyy with jQuery.

[2016-05-31 17:29] SantoDE opened #4800 "Magento 2.0.7 DownloadableImportExport broken?"
## Preconditions
1. Install Magento 2.0.7 via composer

## Steps to reproduce
1. run magento dev:test:run unit

## Expected result
1. Test result ok

## Actual result
1. Fatal error: Uncaught TypeError: Argument 3 passed to Magento\DownloadableImportExport\Helper\Data::fillExistOptions() must be of the type array, null given, called in /var/www/html/vendor/magento/module-downloadable-import-export

[2016-05-31 17:41] neoshd commented on #4756
@mazhalai yes i did, still not working

[2016-05-31 18:22] kgvconsulting commented on #4747
@mazhalai

I just try and was unable to access also Sales, Customers, Products, Marketing, Content

it is showing that load but does not go anywere

![screenshot 2016-05-31 14 17 50](https://cloud.githubusercontent.com/assets/11282348/15685716/f700a780-273a-11e6-8cec-8f7c722db71f.png)

and when try to get invoices get this message

![screenshot 2016-05-31 14 18 12](https://cloud.githubusercontent.

[2016-05-31 18:29] kgvconsulting commented on #4747
@mazhalai

can I delete the content of var/ and dl/ folders except .htaccess file? Does that could fix this issue?

[2016-05-31 18:39] mazhalai commented on #4800
@SantoDE thank you for reporting we have created MAGETWO-53775 to investigate and fix.

[2016-05-31 18:41] mazhalai commented on #4747
if you clean `var/` you will need to enter keys again, since they are stored in `var/composer_home`. Try cleaning just `var/generation` and `var/di`(if you are dev or default mode, in prod mode you will have to run compile again)

[2016-05-31 18:42] jpreed2 commented on #4679
I've confirmed that adding the shipping rate validators to my custom shipping rate extension solved the problem.  Thanks!

[2016-05-31 18:45] longbeachjamie opened #4801 "Magento 2.0.7 - /sales/order/reorder Fatal Error"
## Steps to reproduce:
1. Customer logs in, clicks on "Reorder" to re-order previous order.
2. Returns with the following Fatal Error:

Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Framework\DataObject::__construct() must be of the type array, null given, called in /var/www/html/magento2/vendor/magento/module-checkout/Model/Cart.php on line 264 and defined in /var/www/html/magento

[2016-05-31 18:46] kgvconsulting commented on #4747
@mazhalai No I misspoke I did want ed to clean var/generation and var/dl only

[2016-05-31 18:47] mazhalai commented on #4747
@kgvconsulting yes it might, also clean cache. This thread has diverged significantly from original issue. If problems still persist, please open a new issue for `unable to access also Sales, Customers, Products, Marketing, Content`

[2016-05-31 18:48] kgvconsulting commented on #4747
@mazhalai any advise in this case, so far there is some issue because some of the admin menu dont work correctly some work, I cant get any access to catalog or categories under Product menu either. it is the same infinite loading of someting and does not go anywhere

[2016-05-31 18:50] kgvconsulting commented on #4747
@mazhalai OK to make last attempt to flush the cache as Magento Cache or also:

Flush Catalog Images Cache - Pregenerated product images files

Flush JavaScript/CSS Cache  - Themes JavaScript and CSS files combined to one file

Flush Static Files Cache  - Preprocessed view files and static files

[2016-05-31 18:55] kgvconsulting opened #4802 "After upgrade to v 2.1.0.rc1 unable to access some of admin content in Sales, Customers, Products, Marketing, Content"
This issue is closed

The issue was created after upgrade from v 2.0.x to v 2.1.0-rc1

during the upgrade db tables for admin site are changed and there are difficulties to access Products, Sales menu(s)

Also as per release notes: http://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.1_RC1CE.html

this version is not ready for full use yet.

Note:
We did not publish sample data for R

[2016-05-31 19:01] toddwolaver commented on #4795
Thank you @mazhalai

I still get an error when running 'php bin/magento setup:upgrade'. The only way to resolve the error is to manually remove var/di

Thank you,
Todd

<pre><code>
php bin/magento setup:upgrade

  [Exception]
  Warning: file_get_contents(/Users/twolaver/magento/magento-rc1/var/di/setup.ser): failed to open stream: No such file or directory in /Users/twolaver/magento/magento-rc1/ve

[2016-05-31 19:04] kgvconsulting commented on #4747
@mazhalai please could you advice what mode the magento should be I got confused here, from what I originally installed as v2.0.2 and now

currently is showing

 php magento deploy:mode:show
Current application mode: default. (Note: Environment variables may override this value.)

[2016-05-31 19:15] mazhalai commented on #4795
@toddwolaver what version were you on prior to rc1? Also, can you give us more info on your environment like web server, php version, etc.

[2016-05-31 19:20] kgvconsulting commented on #4747
@mazhalai I did clean the cache don't help so I open new ticket so now i got upgraded to latest version unfortunately the application cant work correctly, what to do? Please advise, thank you

[2016-05-31 19:23] mazhalai commented on #4781
@fooman if you have access to command line,  you cant try `composer create-project magento/project-community-edition=2.1.0-rc1 --repository-url=https://repo.magento.com`

[2016-05-31 19:31] mazhalai commented on #4795
@toddwolaver we have created ticket MAGETWO-53777 to investigate and fix.

[2016-05-31 19:33] mazhalai commented on #4756
@nagno any errors on brower's console?

[2016-05-31 19:36] kgvconsulting commented on #4747
@mazhalai if I want to downgrade to previous version because under current situation I cant do rollback, what should be the correct procedure? To delete the magento root folder and replace it with the back up made before the upgrade?

[2016-05-31 19:44] samtay opened #4803 "Incorrect return value from Product Attribute Repository"
To adhere to `Magento\Catalog\Api\ProductAttributeRepositoryInterface` (extends `Magento\Framework\Api\MetadataServiceInterface`), the

[code]

implementation should return `Magento\Framework\Api\MetadataObjectInterface[]`, however it instead returns `Magento\Catalog\Api\Data\ProductAttributeInterface[]`.

The `ProductAttributeInterface` **does** declare the two methods declared in `MetadataObject

[2016-05-31 19:44] kgvconsulting commented on #4747
@mazhalai also as you see on the screenshot when try to access invoices i'm geting this error that is also present in system.log

main.CRITICAL: Notice: Undefined index: base_grand_total in /xxxx/xxxx/public_html/vendor/magento/module-sales/Ui/Component/Listing/Column/Price.php on line 55 [] []

[2016-05-31 19:47] hostep commented on #4799
i'm going to close this, this is a non-issue.

I was using the flag `--strict-imports` which only allows `@import` statements to be defined at the top of the less file and not somewhere in the middle or in media queries. This was the cause of the error. I now removed it and everything works perfectly fine.

Sorry for the noise!

[2016-05-31 19:47] #4799 closed, assigned to MomotenkoNatalia

[2016-05-31 19:59] mazhalai commented on #4747
re restoring, you need to restore code as well as database.
No idea about Sales module error, please open a new ticket for that.

[2016-05-31 20:10] kgvconsulting commented on #4747
@mazhalai OK the code is the Magento root folder so I can replace it from back up one, and the DB is on separate server so I can get back to point of time before the last upgrade, becasue there is hourly back up on the database content there, is that sound good?

[2016-05-31 20:15] mazhalai commented on #4747
Yes http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-backup.html

[2016-05-31 20:37] cspruiell commented on #4570
@flipflap its sounds like you fixed the problem with your environment. Closing this issue.

[2016-05-31 20:37] #4570 closed, assigned to mazhalai

[2016-05-31 21:22] SoonSooon opened #4804 "Can't install Magento-CE-2.0.7-2016-05-24-12-06-54"
Hello,
I'm sorry if this was reported before but I couldn't find the exact same issue on google.
I'm trying to install **Magento-CE-2.0.7-2016-05-24-12-06-54** on my **Ubuntu 14.04** 64bit running **nginx 1.4.6**, **hhvm 3.13.1** and **mysql  15.1** with **MariaDB 10.0.25**.

**Folders** permissions are **755** and **files** permissions are **644**. With same user and group for nginx and hhvm (www

[2016-05-31 21:24] mazhalai commented on #4804
@SoonSooon is your db up and running?

[2016-05-31 21:30] SoonSooon commented on #4804
Nginx, hhvm, and mariadb are all up and running and their error logs are empty.

[2016-05-31 21:35] mazhalai commented on #4804
HHVM has issues, please see https://github.com/magento/magento2/issues/3583#issuecomment-216257449
Do you know if the issue mentioned has been resolved in your version of HHVM?

[2016-05-31 21:50] SoonSooon commented on #4804
That issue with hhvm should have been resolved since v3.6.  Anyways, I tried the workaround for that issue but I still have the same issue.

[2016-05-31 21:52] buskamuza commented on #2476
Related internal ticket is MAGETWO-52770
@barryvdh , we're considering upgrading to the latest stable version. Thanks for the suggestion.

[2016-05-31 22:07] buskamuza commented on #3038
Related internal ticket is MAGETWO-49510

[2016-05-31 22:48] piotrekkaminski commented on #2958
Hello. We will fix the error messages to make it more clear in scope of MAGETWO-52993 but allowing upload of SVG files will take more time. SVG files are not currently supported by GD library used by Magento. We would have to move to another library (ImageMagick?) and it requires more changes. The full work is tracked in scope of MAGETWO-53778.

[2016-05-31 23:27] SoonSooon commented on #4804
Switching to php7 solved the problem. It was an hhvm issue after all.

[2016-05-31 23:52] Spittal opened #4806 "REST Api product Catalog Not Responding to Changes In Store View"
Hello,

Me and my company are developing an Angular site for a client that communicates with Magento2 over Magento's build in REST api.

One of the requirements of the site is that there are multiple locals, that have slightly different catalogs of products. In this case we have a US store and EU store that have very similar but different products.

I'm using the API endpoint
`{{API_URL}}/rest/{{S

[2016-05-31 23:54] Spittal opened #4807 "REST api Bundle Product Issues - Price, Option Content"
Hello,

Me and my company are developing an Angular site for a client that communicates with Magento2 over Magento's build in REST api.

One of the requirements for the client is the use of lots of bundled products. However this doesn't seem to be implemented into the REST api very well.

We're having particular problems with price. The REST api does not communicate the lowest or highest price. in

[2016-05-31 23:57] davidalger commented on #4166
The GitHub issue tracker is intended for technical issues and bugs in Magento 2 only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions and assistance.

If you can reproduce this in a clean Magento 2 installation, please open a new issue with complete details on how to reproduce. Thanks!

[2016-05-31 23:57] #4166 closed, assigned to mbrinton01

[2016-05-31 23:59] #4804 closed, assigned to mazhalai

[2016-06-01 00:54] kgvconsulting commented on #4747
@mazhalai
So to have conclusion the issue was generated because of somehow different mysql table created by the upgrade of v 2.1.0-rc1 on admin side, so was the same issue with the system backup case, now I'm  reinstating on server level the mysql db for the time before the upgrade of v2.1.0-rc1 when all worked fine, unfortunately magento in the current state can't roll back from back up file, bec

[2016-06-01 01:28] 2007lf commented on #4768
Hi, @zanilee  I can't understand what you mean, its not my question answer. But thank you post. :)

[2016-06-01 06:24] #4802 closed, assigned to nobody

[2016-06-01 06:29] BenGlassAtlas commented on #2958
Thank you for the update! 😄

[2016-06-01 06:54] jsakars commented on #4577
@katmoon that's correct. Weird that most of the product attributes were available in conditions select in early M2 version.

[2016-06-01 06:54] #4577 closed, assigned to voleye

[2016-06-01 06:57] hostep commented on #3038
There is an open pull request which will support this btw:
https://github.com/magento/magento2/pull/4294

[2016-06-01 07:12] zihen opened #4808 "The price of product custom option can't be set to 0."
## Preconditions
1. Install Magento from `develop` branch.

## Steps to reproduce
1. Add an product custom option (Select Type)
2. Add new row and set price greater than 0.
3. Save product.
4. Change the row price to 0 or empty.
5. Save product.

## Expected result
1. The row price becomes 0.

## Actual result
1. The row price doesn't becomes 0.

[2016-06-01 07:35] NadiyaS commented on #4742
Hi @ajayshukla,
thanks for reporting this issue. It is already being tracked by MAGETWO-52552 ticket and fix will be merged to develop branch in a few days.
This issue will be closed as duplicate of #4385.

[2016-06-01 07:35] #4742 closed, assigned to NadiyaS

[2016-06-01 07:58] nagno commented on #4756
@mazhalai you might wanted to ask @neoshd about the issue...

[2016-06-01 08:09] asemenenko commented on #4679
Nice to hear that our documentation helped, @jim5359 !

[2016-06-01 08:24] BenGlassAtlas opened #4809 "Bundled Product - Wishlist console error"
I've noticed this error in the console when viewing a bundled products. I can still add the product to wishlist so it doesn't appear to be a big problem.

This is on Magento 2.0.5 and it's a site using Luma without any customisation (it's a demo site). It's also using sample data so you should be able to replicate by going by loading the Luma theme and sample data and going to http://URL-HERE.COM/

[2016-06-01 08:25] sunilit42 commented on #3572
But what is solution?

[2016-06-01 08:58] ishakhsuvarov commented on #4679
@Kasoi-free Thank you for reporting. We have created an internal ticket `MAGETWO-53785` to fix the issue.

[2016-06-01 09:01] Noewt commented on #4145
I was getting the same error showing when trying to open Salers -> Orders. Due to some other errors accessing the backend I had to disable the Paypal module. After getting back into the backend again, this also seems to be 'fixed'. You can disable it with: php bin/magento module:disable Magento_Paypal -f

[2016-06-01 09:16] BenGlassAtlas opened #4810 "Moving blocks can cause a 404 error"
**The problem**

I noticed that when I move the `bundle.options.container` block to certain destinations bundled products no longer load and I get a 404 page. I suspect it was done on purpose as moving that block could break the customisation functionality, but surely it would be better to return an error instead of a 404. I was confused as to why the product has suddenly vanished.

**My expectati

[2016-06-01 09:18] jabrware opened #4811 "Overriding Magento backend theme isn't working"
After you moved content of app/design/adminhtml/Magento/backend theme to vendor/theme-adminhtml-backend, putting any overriding files in app/design/adminhtml/Magento/backend isn't processed at all
and isn't deployed to pub/static/...

Why?
And how to override backend theme without touching the core files?

[2016-06-01 09:35] oserediuk commented on #3074
@werdlv Hi! This is known issue which cannot be resolved in backward-compatible way. We created task for it: MAGETWO-53478

As for you problem here is workaround how you can get url by using \Magento\UrlRewrite\Model\UrlFinderInterface:

[code]

[2016-06-01 09:42] BenGlassAtlas opened #4812 "Bundled Products - Quantity does not always update in the summary"
Using Luma and the sample data, the customisation summary doesn't always update. As these screenshots at the bottom of this comment show.

This is on 2.0.5 in production mode, it's using the Luma theme with sample data. No customisations.

Using this bundled product from the sample data - sprite-yoga-companion-kit.html
## Preconditions
1. Install Magento from `develop` branch.
2. Install the sampl

[2016-06-01 09:52] fooman commented on #4781
@mazhalai using `composer create-project` already needs to communicate with `repo.magento.com` so will not be able to replicate the issue in step 3.

[2016-06-01 09:59] shireenn2587 commented on #3115
@mazhalai.. We are still facing this issue.. We have 2.0.2 version.

[2016-06-01 10:37] NadiyaS commented on #2655
Hi,
thanks for reporting this issue and we are sorry for delay.
It is already being tracked by MAGETWO-52552 ticket and fix will be merged to develop branch in a few days.
This issue will be closed as duplicate of #4385.

[2016-06-01 10:37] #2655 closed, assigned to NadiyaS

[2016-06-01 11:19] NadiyaS commented on #4145
Hi @jaimestuardo ,
even with Spanish locale this bug is not reproducible on 2.0.2 and 2.0.4 versions.
Seems like you have some broken code which can be caused by external extensions or not updated data or cache...
Run composer update.
Also we see that you use external extensions. Please disable them and clean cache then try to reproduce this bug. If it is still appeared please provide detailed ste

[2016-06-01 11:28] BenGlassAtlas commented on #1931
Any news on this yet Magento? It doesn't even look it's been been internally raised or acknowledged yet.

CC @daim2k5

[2016-06-01 11:37] bvboas commented on #4145
This happened to me, only after data migration.
Don't know if this little information helps...

[2016-06-01 11:53] NadiyaS commented on #4567
Hi @werdlv ,
This bug is not reproducible neither on 2.0.6 nor on 2.0.7 versions.
Please provide more detailed steps to reproduce. E.g. ordered product type, shipping method, payment method, etc.

[2016-06-01 11:56] woei66 opened #4813 "can't finish the authorize.net payment and it always on loading"
## Steps to reproduce
1. the magento2 version is v2.0.6 and php5.6
2. requested a authorize.net testing account
3. fill authorize.net testing account in the backend setting page and enable authorize.net payment
4. visit the frontend and add a product to the shopping car, then click the place order
5. fill credit card information and do the authorize.net payment
6. the page is holding on the "loadi

[2016-06-01 12:29] joebusby commented on #4540
I set up nginx as an https proxy in front of varnish, added the " -p feature=+esi_ignore_https " cleared all caches, disabled CDN and The backend worked fine (everything https), but the problem however categories are missing in the frontend using https to access the frontend.  The problem appears to be related to:

http://www.mydomain.com/
Specify URL or {{base_url}} placeholder.
Base Link URL

I

[2016-06-01 12:31] jsakars commented on #4567
@NadiyaS there isn't much to add really - simple product, any of standard shipping, payment option. I am not able to reproduce it on 2.0.7

[2016-06-01 12:41] wbyrnetx opened #4815 "Missing admin order view product data for grouped downloadable order items"
Steps to reproduce
1. Install Magento 2.0.7.
2. Create a grouped product that has an associated downloadable product.
3. Place an order for that downloadable product.

Expected result
1. When viewing the order in the admin panel there will be no data under the "Product" column.
![screen shot 2016-06-01 at 7 40 11 am](https://cloud.githubusercontent.com/assets/4029452/15709790/3aac630c-27cc-11e6-99

[2016-06-01 12:45] marvincaspar commented on #2538
@daim2k5 we switched back to mysql 5.6.

[2016-06-01 12:53] skovalenk commented on #4445
Hi @AngelsDustz
I have checked MAGETWO-53544 on Magento 2.1.0-rc.
Seems problem was fixed. This bug was also related to this one: https://github.com/magento/magento2/issues/519

[2016-06-01 12:54] #4445 closed, assigned to nobody

[2016-06-01 13:00] wbyrnetx commented on #4815
I put in a new pull request with a proposed solution (#4816). I just took the logic from

Magento\Sales\Block\Adminhtml\Items\AbstractItems::getColumnHtml

And put it in in that name group renderer's _toHtml function. The main part that was replaced is

$renderer = $this->getRenderedBlock()->getColumnHtml($this->getItem(), $productType);

Which doesn't make much sense in the first place because ge

[2016-06-01 13:15] ksz2013 opened #4817 "pdf generation errors"
If in Stores / Configuration / Sales/ Pdf Printouts  the Display Order ID in Header is set to No in the generated pdf's the order details and date are overlapping. See image: http://pix.toile-libre.org/?img=1464786723.png

Best regards,

[2016-06-01 13:27] bwaters commented on #4540
Yes changing the unsecure base to https and doing https all the time works.

For mixed mode normal http and https operation there is a bug in the code that causes a redirect loop.  I am working on resolving that now.  Other steps involved are getting an "SSL-OFFLOADED: https"  header added when nginx terminates the ssl (Or changing the header in the Magento admin to X_Forwarded_Proto which will ha

[2016-06-01 13:38] NadiyaS commented on #2607
Hi,
We've created story to improve order functionality where described bug will also be fixed (internal ticket is MAGETWO-50299).
It will be delivered as soon as possible according to other items priority.
Thank you for understanding and we are sorry for delay about this issue.
This issue will be closed as duplicate of #3307

[2016-06-01 13:38] #2607 closed, assigned to NadiyaS

[2016-06-01 13:43] KrendiL101 opened #4818 "Wrong products limit on category page (view mode = list)"
Module "Module-Catalog".
In file Module-Catalog\Helper\Product\ProductList.php const VIEW_MODE_LIST = 'view', not 'list'.
When on frontend i change category view mode to "list", products limit automaticly change to 10, ignoring catalog config.

[2016-06-01 13:45] NadiyaS commented on #2642
The GitHub issue tracker is intended for technical issues of CE edition only.
Please refer to [EE customer support](https://magento.com/support/enterprise-edition)
To create ticket need to  click on 'Open ticket' button.

[2016-06-01 13:45] #2642 closed, assigned to NadiyaS

[2016-06-01 14:09] nikul opened #4819 "Error during migration from CE-1.9.2.2 to CE-2.0.5"
Hello,

Steps Followed:
I have installed magento 2.0.5 and starting migration of my magento 1.9.2.2. Following steps I have made
- Downloaded data-migration-tool using git repository.
- Made version and crypt key changes in config.xml for 1.9.2.2 in data-migration-tool folder.
- Copied settings.xml with no change
- Executed bin/magento migrate:settings vendor/magento/data-migration-tool/etc/ce-to-

[2016-06-01 14:10] SerhiyShkolyarenko commented on #4170
@longbeachjamie, I tried it on your store and minicart worked properly.
As admin you may recheck my cart(created user with my real first and last name).

[2016-06-01 14:10] devishreebalasubramanian opened #4820 "Css changes reflect only after deploy command in magento2"
Now i have created custom theme in magento2.Every time i wrote css it doesn't reflect immediately.I have changed mode to "developer".And also disable cache in backend.I have given the following commands to reflect my custom css.

**rm -f var/\* -R**

**rm -f pub/static -R**

**php bin/magento setup:static-content:deploy**

**chmod 0777 var -R**

**chmod 0777 pub/static -R**

It takes too much time

[2016-06-01 14:11] mazhalai commented on #4756
@nagno thank you!
@neoshd any errors on browser console?

[2016-06-01 14:13] mazhalai commented on #4781
@fooman then you will just have to wait for 2.1 GA.

[2016-06-01 14:16] mazhalai commented on #4819
@nikul please post migration issues here. https://github.com/magento/data-migration-tool/issues

[2016-06-01 14:16] #4819 closed, assigned to nobody

[2016-06-01 14:19] ishakhsuvarov commented on #4750
@jzahedieh Thank you for reporting this issue. We have created an internal ticket `MAGETWO-53793` to  investigate and fix the problem.

[2016-06-01 14:21] grasdaggel commented on #4170
Can confirm that this bug happens in 2.0.7. as well. We have a Magento installation where we had huge problems after update yesterday. Since then the mini cart only shows the amount of products (if it does it anyway...). MIni cart is empty, even with 20 Items in Cart.

Maybe a Update-Bug?

[2016-06-01 14:24] SerhiyShkolyarenko commented on #4170
@kingalca, yes, it may be.
Which release you updated from?

[2016-06-01 14:26] antboiko commented on #4724
@erikhansen

Hello Erik, thank you once again for your suggestion. I've added internal ticket MAGETWO-53794 to the backlog to have it considered by the UX team.

I'm closing the ticket. Please feel free to reopen if you have additional questions.

Best,
Anton.

[2016-06-01 14:26] #4724 closed, assigned to antboiko

[2016-06-01 14:27] nikul commented on #4819
Thanks @mazhalai . Please refer issue here https://github.com/magento/data-migration-tool/issues/91

[2016-06-01 14:31] alena-marchenko commented on #4578
Hi @tgoeminne

We've created MAGETWO-53795 internal ticket regarding this issue.
Thank you

[2016-06-01 14:36] erikhansen commented on #4724
@antboiko Thanks! I appreciate your team's willingness to accept UI feedback from the community.

[2016-06-01 14:49] techbandhu commented on #2273
I am getting error with setup:static-content:deploy

[code]

[2016-06-01 14:52] grasdaggel commented on #4170
@SerhiyShkolyarenko we updated from 2.0.4. iirc. (So .0.4 => .0.7)

[2016-06-01 14:54] grasdaggel commented on #4790
We upgraded from 2.0.4. to 2.0.7.

[2016-06-01 14:59] ghost commented on #4797
Thanks for letting us know. This link is supposed to redirect but it obviously is not. We'll get back to you with an update ASAP.

[2016-06-01 15:05] grasdaggel commented on #4792
Hi, we upgraded from 2.0.4 to 2.0.7. Backend still says 2.0.4. so maybe the db update hasn't went trough.

Also, I cannot use bin/magento anymore - it just does nothing. Do you need the content of composer.json?

[2016-06-01 15:07] ghost commented on #4792
Is the execute bit set on it?

From: kingalca [mailto:notifications@github.com]
Sent: Wednesday, June 01, 2016 10:06 AM
To: magento/magento2 magento2@noreply.github.com
Subject: Re: [magento/magento2] composer update deleted all files in mage2 folder (#4792)

Hi, we upgraded from 2.0.4 to 2.0.7. Backend still says 2.0.4. so maybe the db update hasn't went trough.

Also, I cannot use bin/magento an

[2016-06-01 15:07] Yonn-Trimoreau commented on #4622
+1

[2016-06-01 15:11] ghost commented on #4686
ping repo.magento.com

It appears that on CentOS anyway, `nslookup` is not installed if you selected the minimal option when you installed the OS. Try installing it and trying the command again.

[2016-06-01 15:14] davidalger commented on #4811
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-01 15:14] #4811 closed, assigned to nobody

[2016-06-01 15:19] mazhalai commented on #4790
@kingalca can you please post contents of your root composer.json's require section?

Tried the following steps and cannot reproduce
- deploy and install 2.0.4
- composer require magento/product-community-edition 2.0.7 --no-update
- composer update
- bin/magento setup:upgrade

No errors.

[2016-06-01 15:25] stamster commented on #4820
First off,
if you believe you have enabled "developer" mode in Magento - think again. Someone was that smart to assume that you'll develop only modules etc (code, business logic) and not themes / styling in developer mode.
The thing is, even in a developer mode, Magento2 still has many levels of cache enabled. I have never saw such architecture.
So your best shot during theme development would be

[2016-06-01 15:40] neoshd commented on #4756
![1](https://cloud.githubusercontent.com/assets/19625383/15715731/ddefd014-281f-11e6-9aff-b5a4f500dd71.png)

[2016-06-01 15:54] mazhalai commented on #4756
@neoshd Can you please check what is causing the 500 error on that ajax call?
You can copy paste the url and open it in a new tab.

[2016-06-01 16:06] alena-marchenko commented on #4563
Hi @hugh-optoma

Please provide us with screenshot of the issue. Do you check out as a guest or registered customer? Are you able to reproduce the same issue on the develop branch?

[2016-06-01 16:42] alena-marchenko commented on #4595
Hi @karmalis

It seems that test card, that you are using is rejected by PayPal and you should contact them regarding the card that can be used for test purchase. Please ensure that Debug option is enabled for PayPal Website Payments Pro Hosted Solution and provide us with debug.log, that contains response from PayPal for us to be able to investigate this further.

[2016-06-01 16:43] #4139 closed, assigned to alena-marchenko

[2016-06-01 16:55] ghost commented on #1573
This would be a good feature to have to charge a Cash On Delivery fee for that payment method. For COD payments it could even be worked into the COD payment module to have an option to charge a fee.

[2016-06-01 17:02] thills03 commented on #4170
Just an observation, as I am having this same issue.

Landing on /checkout/cart after adding a product from a page that doesn't use the product widget to add it, then navigating back to the home page and trying to add a product using the product widget fixes the bug until the cookies are cleared. I suspect there is some JavaScript that isn't running correctly on the home page regarding the cookie

[2016-06-01 17:49] mazhalai commented on #4375
@tkn98 For now, workaround will be to run installation, before running tests. We are working on this issue, but it is of low priority.

[2016-06-01 18:29] neoshd commented on #4756
![q](https://cloud.githubusercontent.com/assets/19625383/15721046/78fcd57c-2837-11e6-9dba-32d81553d482.png)

[2016-06-01 18:40] mazhalai commented on #4756
@neoshd do you not have a favicon.ico file? What is the permission on it?

[2016-06-01 18:48] kgvconsulting commented on #4747
@mazhalai

Well I can confirm that v2.1.0-rc1 do change the DB tables and make a lot of bug issues on admin side after upgrade, so I doubt will want to use it soon.

Also the issue with the backup performed from admin web site, Turn to be that the newly upgraded version does not recognize the old version back up files and report error. so you simply move all content (backup files) from /var/backup

[2016-06-01 18:58] neoshd commented on #4756
i have it in the frontend and backend,it's weird, i don't why it doesn't load it in this url.
i'm on a shared hosting so i put the write permissions for:
vendor
app/etc
lib
pub/static

[2016-06-01 19:15] RogerGodefroy commented on #2504
iget-esoares solutions works under PHP7.0-fpm. Thanks!

[2016-06-01 19:26] mazhalai commented on #3562
@cod3gen @blizam how much is your setting for PHP `memory_limit`?

[2016-06-01 19:35] BeniSt commented on #4170
I can confirm this @thills03!
I Click on add-to-cart Button on Home-Site in Widget and minicart and even the red Counter stay empty. If i go to cart page, Item is added. Only if I add an item the normal way (on product or category Page) the item appears in minicart.

[2016-06-01 19:55] blizam commented on #3562
1024

I'm not sure what caused this issue initially, but it was the same first string (different ID) in the error here:

Item (Magento\Framework\DataObject) with the same id "1456564469_db" already exist

I don't have this issue presently as I've reinstalled from scratch since my first post here... I haven't tried taking many backups though either. If I have further issues I'll post back for sure.

[2016-06-01 20:07] #4747 closed, assigned to mazhalai

[2016-06-01 20:07] ghost commented on #4797
Response I received today from the merchant documentation team:

It looks like these are fixed in the RC-1 release. I wasn't able to check CE, but EE is fixed. All of the scope links should go to the following pages:

M2 EE:

http://docs.magento.com/m2/ee/user_guide/configuration/scope.html

M2 CE:

http://docs.magento.com/m2/ce/user_guide/configuration/scope.html

[2016-06-01 20:34] choukalos commented on #346
Moving 33574 under performance measurement epic 53797.

@fr0x In our market research we identified the average e-commerce site having 3 product options for configurable & bundled products.  We are currently using that when generating test fixtures with the performance tool kit.  The epic 53797 is intended to provide more generation control for test fixtures to address # of product options and # of

[2016-06-01 20:52] mazhalai commented on #4792
@kingalca isn't this a duplicate of #4790

[2016-06-01 20:54] mazhalai commented on #4756
@neoshd What is the permission for favicon.ico?

[2016-06-01 21:06] neoshd commented on #4756
664, as the magento standard permission for the files.

[2016-06-01 22:02] fhennessy commented on #1471
I found a work-around.. not the easiest but it is faster than spending so much time researching.

I uploaded my spreadsheet of products leaving the categories column blank, then I created another spreadsheet with just the "sku" and "categories" columns, and individually uploaded the categories.  This upload would fail if I tried adding more than one category separated with a comma, so for my produ

[2016-06-01 22:35] commcad commented on #4635
@paliarush @mazhalai

I apologize for the late reply. This github reporting tool is great but things piles up rather quickly in gmail (tabs hides the content and often goes un noticed). Again, my apologies.

You are 100% correct. Clearing the browser cache did the trick, I've reproduced this an hour ago to confirm that this was the case. Have a few vm still sitting on 2.0.6 here

I.e. When upgradi

[2016-06-01 22:56] commcad commented on #4546
@mazhalai

Confirmed, the Marketplace works beautifully in 2.1.0rc, super cool. I mean: SUPER COOL! Thanks

Now if you can personally push out Magento 2.1 before mid-June I promise I'll send you as many gift vouchers from your favourite website :) Go Go Magento!

[2016-06-01 23:15] synzhu opened #4822 "Multi-select for Product edit not saving values other than first selection on Save"
I am experiencing an issue similar to issue #4346. If I try to select multiple items for a multi select attribute from the product edit view (in this case, the attribute is Bolt Pattern), only the first one is actually saved to database when I press Save.
<img width="1425" alt="screen shot 2016-06-01 at 4 02 32 pm" src="https://cloud.githubusercontent.com/assets/14226557/15728593/4e7cfe1e-2812-11e

[2016-06-01 23:45] crantron opened #4823 "Updating Magento 2 wipes grunt configuration"
Updating Magento 2 wipes grunt configuration

[2016-06-02 02:34] V0IDNIL commented on #4756
I am also having the same problem with the component manager being unable to sync.

The error 500 message for http://example.com/setup/index.php/component-grid/sync is

Fatal error: Cannot instantiate interface Zend\ServiceManager\ServiceLocatorInterface in /home/example/public_html/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php on line 73

[2016-06-02 03:37] devdesco-ceo commented on #4365
`<?php
    $_helper = $this->helper('Smartwave\Porto\Helper\Cssconfig');
    $page_layout = $this->getConfig('porto_settings/general/layout');
    if($page_layout == "full_width") {
        $page_layout = "layout-fullwidth";
    } else if($page_layout == "1170") {
        $page_layout = "layout-1170";
    } else if($page_layout == "1280") {
        $page_layout = "layout-1280";
    }
    $boxed =

[2016-06-02 03:56] tomasgriffin commented on #4741
Can confirm this also effects `2.0.6`. The fix @antonlazarchenko posted works.

[2016-06-02 04:11] pboisvert commented on #4823
@crantron can you provide more details in terms of steps to reproduce, which version you were trying to upgrade from and to?

[2016-06-02 04:39] marekyggdrasil opened #4824 "Problem with creating integration from the config"
I have been having trouble completing tutorial on [creating integration from the config](http://devdocs.magento.com/guides/v2.0//howdoi/webapi/integration.html).
Associated Magento StackExchange problem under this [link](http://magento.stackexchange.com/questions/117979/problem-with-creating-integration-from-the-config)

I believe I followed all the steps correctly. Please help me find the reason

[2016-06-02 05:49] piotrekkaminski commented on #4015
This question would better fit magento.stackexchange.com. Github is primarily for reporting issues with core code.

[2016-06-02 05:49] #4015 closed, assigned to ishakhsuvarov

[2016-06-02 05:50] piotrekkaminski commented on #4013
This should be fixed in the upcoming 2.1 version. please try on the develop branch.

[2016-06-02 05:50] #4013 closed, assigned to nobody

[2016-06-02 05:51] piotrekkaminski commented on #4012
@kayintveen how did you perform the upgrade? did you clear cache afterwards? We are unable to reproduce - if you still have this issue on latest version please open a new issue.

[2016-06-02 05:51] #4012 closed, assigned to nobody

[2016-06-02 05:52] ankitambekar08 opened #4825 ""Catalog Products List" includes "Out of Stock" products when "Quantity is In Stock" is a required condition of the widget and the products are given the quantity "Out of Stock" from within admin"
When i save the block giving Quantity is In Stock" is a required condition of the widget for Home page i get the following error.

Error filtering template: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'at_quantity_and_stock_status.value' in 'where clause', query was: SELECT COUNT(DISTINCT e.entity_id) FROM `catalog_product_flat_1` AS `e` INNER JOIN `catalog_category_product_index` AS `c

[2016-06-02 06:30] hostep commented on #4823
@crantron: this will be fixed in Magento 2.1.

They renamed `Gruntfile.js` to `Gruntfile.js.sample` so a Magento upgrade won't overwrite your own `Gruntfile.js` in the future. See this commit: https://github.com/magento/magento2/commit/9ba77d903d173a134ef4c5b1f9de0d3f4d73d47d

Slightly related ticket: https://github.com/magento/magento2/issues/4697

[2016-06-02 06:33] #4772 closed, assigned to ishakhsuvarov

[2016-06-02 06:46] crantron commented on #4823
@hostep thanks so much. God speed!

[2016-06-02 07:38] antboiko commented on #4808
Hi @zihen , thanks for reporting. We've created internal ticket MAGETWO-51811 to fix this issue.

Best,
Anton.

[2016-06-02 07:40] arijit-de93 opened #4826 "Region Code showing the value of Region Name when downloading Sales Order data using REST API"
## Steps to reproduce
1. Install Magento latest version.
2. Place an Order.
3. Pull the order using REST API
4. Have a look at the address section.
## Expected result

1.region_code contains the value of region_code.
## Actual result
1. region_code contains the value of region_name.
2. ![sales1](https://cloud.githubusercontent.com/assets/16597334/15737369/4bf8854e-28c3-11e6-9ca3-99c6429e083a.png)

[2016-06-02 07:47] danielneu commented on #1691
I agree on this. Phone numbers are not always necessary in specific situations and / or countries.
It is like state information and postal codes, some kind of configuration to make this mandatory would be really helpful.

[2016-06-02 08:10] wclansar commented on #4170
Hello BeniSt ,

can you check is your cache disable ?

Because it seems that issue comes when cache off .

Thanks

[2016-06-02 08:12] NadiyaS commented on #4567
@werdlv ,
so if this bug does not exist on latest Magento version then we can close this issue.
Feel free to reopen this issue if you think you have encountered a bug on latest Magento version.

[2016-06-02 08:18] devishreebalasubramanian opened #4828 "Show/hide Editor not working sometimes"
Hai,

I have faced this problem when i edit content in CMS -> Pages.Show/hide editor doesn't work sometimes.Eventhough i have removed all content and save it doesn't work.I can't see any js error in console. So please let me know how to solve this.

[2016-06-02 08:18] grasdaggel commented on #4170
We have cache on and the issue, so disabled caching can't really be the issuer here.

[2016-06-02 08:19] grasdaggel commented on #4790
I didn't made the "composer require magento/product-community-edition 2.0.7 --no-update" step.

Will upload the JSON later!

[2016-06-02 08:25] devishreebalasubramanian commented on #4828
Show/hide editor worked after i sign out admin panel.

[2016-06-02 08:34] BeniSt commented on #4170
Yes, in my case you are right. If I enable cache, the minicart works as it should. Cool. Thanks!

[2016-06-02 08:36] sunilit42 commented on #4822
have you created attribute using script or backed?

[2016-06-02 08:38] wclansar commented on #4170
Welcome  Brother  BeniSt !!!!!!!!

[2016-06-02 08:39] NadiyaS commented on #4801
Hi @longbeachjamie ,
thank you for reporting this issue. Pull request was already created with fix of this bug #4730.
There are some problems with builds. Fix will be merged when builds are green.

[2016-06-02 09:00] NadiyaS commented on #4728
Hi @JaggedJax ,
thank you for reporting this issue. Internal ticket MAGETWO-53810 was created.

[2016-06-02 09:02] kfaer commented on #3103
2.0.7 and same issue, not saving the changes for : "Visible on Catalog Pages on Storefront" & "Used in Product Listing"

[2016-06-02 09:03] tkn98 commented on #4375
@mazhalai Thanks for the update. Do you have an example on how to trigger the install of the integration test store _only_? Perhaps this is possible with very little efforts.

[2016-06-02 09:22] okobchenko commented on #4782
Team will fix reported issue in scope of internal ticket MAGETWO-53811

[2016-06-02 09:24] miketsl opened #4829 "Magento crashes after product upload"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add Simple products to Catalog, using size and color eav
3. Add configurable product linked to the simple products just added
4. Go to store homepage, or the configurable product page directly
## Expected result
1. Store functions as expected
## Actual result
1. Homepage just shows the picture of the configurable product, with a li

[2016-06-02 09:25] miketsl commented on #4829
BTW, its magento 2.0.7...

[2016-06-02 09:33] katesuykovskaya commented on #4049
@NadiyaS thank you!

[2016-06-02 09:33] #4049 closed, assigned to NadiyaS

[2016-06-02 09:48] katesuykovskaya opened #4830 "Result price of cart item on cart/configure page doesn't include price of custom options"
## Steps to reproduce
1. Magento 2.0.4
2. create simple product (base price 100$) with custom option with price
3. go to product page, select/fill custom option https://drive.google.com/file/d/0B6jlEIvY3J2Oa3AteS1TX21oZmc/view?usp=drivesdk, so result price is increased, add this product page
4. open mini cart, click on edit cart item
## Expected result
1. price of cart item should be = base price

[2016-06-02 09:50] marekyggdrasil commented on #4824
Turned out to be duplicate:

https://github.com/magento/magento2/issues/4023

Related issue resolved my problem.

[2016-06-02 09:50] #4824 closed, assigned to nobody

[2016-06-02 10:07] NadiyaS commented on #2766
This issue is closed as duplicate of #1145.

[2016-06-02 10:07] #2766 closed, assigned to NadiyaS

[2016-06-02 10:14] vovayatsyuk opened #4831 "Inconsistent cms block validation and save methods"
### Additional information

The issue was reopened on 16 July 2019.
The reopening reason is that current behavior(after fixes) brings new issues. [See comment for details](https://github.com/magento/magento2/issues/4831#issuecomment-510763579)

## Preconditions
Magento develop branch

## Steps to reproduce
1. Install Magento from `develop` branch.
2. Make sure that you have only one store view and

[2016-06-02 10:14] ghost commented on #1870
Giving full permission  (777) to var and pub directory after upgrade solved this issue for me.

Run  the command using .

php bin/magento setup:upgrade

chmod -R 777 var pub

clear cache.

rm -rf var/cache/\* var/generation/*

[2016-06-02 10:16] grasdaggel opened #4832 "Terminal: There are no commands defined in the "setup" namespace."
Since upgrading to 2.0.7 (which failed) we cannot use php bin/magento anymore.

We get: There are no commands defined in the "setup" namespace.

How can we get rid of this? We need the Terminal function!

[2016-06-02 10:20] grasdaggel commented on #4792
@mazhalai Sorta. I first created this, then found out that there were more files missing, hence the other ticket.

@xcomSteveJohnson Yes.

[2016-06-02 10:28] alexcrz opened #4833 "Everytime I enable a module with --clear-static-content and deploy , my static content doesn't get generated"
Hi , I'm using magento in default mode , I installed some modules first , and never had any problem , but now when I enable a module using `--clear-static-content` , after I upgrade , clean and deploy the content , my website doesn't load anymore the static content.
I'm using en_GB , and during normal deploy only en_US gets deployed , so I do `php bin/magento --ansi setup:static-content:deploy en_

[2016-06-02 10:38] vcpawate commented on #4515
please help Remainder 2

[2016-06-02 11:07] grasdaggel commented on #4832
A invalid module was the problem. Deleting the module fixed the problem.

However, now setup:static-content:deploy is super slow. Need more then 20 minutes to finishes the task. Before this matter it went trough in a few seconds (<30 seconds).

Any way to check how long a task needs until its finished?

[2016-06-02 11:10] alena-marchenko commented on #4785
Hi @commcad

Please provide us with debug.log that contains response from PayPal (debug can be enabled in Advanced Settings section for PayPal Website Payments Standard), this should help to identify the cause of the issue.

[2016-06-02 12:06] stamster commented on #4832
In general, there's no way to predict time needed to complete your CLI tasks. Static content deployment does lot's of disk I/O, which can also slow things down on a system with low IOPS or a busy underlying I/O subsystem.

[2016-06-02 12:10] stamster commented on #4712
I stated that CLI reported correct mode even though I did not set it from CLI, but only on a web server level (MAGE_MODE).
Anyway, if that's what it is, then it should be noted on official documentation. OR to make setup define mode for you during installation, OR change mode from admin panel like a regular option.
Otherwise, this is just a fraction of a bad design.

[2016-06-02 12:35] kandy commented on #4684
I cannot reproduce issue in latest mainline and 2.0 branch, so I am closing this issue, as fixed. Feel free to reopen issue if we missed anything.

[2016-06-02 12:35] kandy commented on #4440
I cannot reproduce issue in latest mainline, so I am closing this issue, as fixed. Feel free to reopen issue if we missed anything.

[2016-06-02 12:47] safigo commented on #4043
I cannot reproduce issue in latest mainline and 2.0 branch, so I am closing this issue, as fixed. Feel free to reopen issue if we missed anything.

[2016-06-02 12:48] #4043 closed, assigned to mbrinton01

[2016-06-02 12:56] sivaschenko commented on #3323
Current workaround to remove compare functionality from frontend: https://coderwall.com/p/vsqmbw

[2016-06-02 13:08] adragus-inviqa commented on #4832
This one needs better handling of the exceptions thrown in `\Magento\Framework\Console\Cli::doRun()`.

Something like

[code]

This will get you the _real_ exception.

[2016-06-02 13:27] nmallepally opened #4834 "SSL cert error - xampp"
I have installed magento 2 on localhost xampp. When i try to connect to the magneto market place using web setup wizard ->system configuration, ti gives me an ssl error saying that (SSL certificate problem: unable to get local issuer certificate). Can you help me resolve this, im attaching the same as well.
![ssl cert error](https://cloud.githubusercontent.com/assets/19605497/15746341/0e3b3ea8-28c

[2016-06-02 13:44] magnetic5355 commented on #4276
@piotrekkaminski - the dev site is currently only internal.

Fashion products that vary by color attribute is the use case. Manufacturers use names such as sunset or desert tangerine which both are different shades of orange for the same product. This requires the usage of the manufacturer name as the attribute value.

Multiply this by 100's of manufacturers and thousands of products you have a ma

[2016-06-02 13:52] grasdaggel commented on #4832
Thanks for that snippet.

We are using SSD Hosting with extremely fast storage I/O and as told, normally the process needs about 30 seconds up to 1 minute, NEVER more.

Thanks for the clarification anyway, would have been nice to trace the time, but for what do I have an iPhone? 💨

What seems odd is that if you add multiple lines, i.e. "asdf","asdf" to your lang_LANG.csv-file it slows down the pro

[2016-06-02 13:52] SerhiyShkolyarenko commented on #4170
@thills03 what do you mean by words "adding a product from a page that doesn't use the product widget to add it" ?

[2016-06-02 14:01] bh-ref commented on #4582
As far as I can see, this problem does exist on Magento 2.0.7, but no longer on 2.1.0-rc1.

[2016-06-02 14:04] benmarks commented on #4832
I _think_ this is a known issue, but I'll check.

[2016-06-02 14:06] thills03 commented on #4170
I mean that if you add a product to your cart from a page with a built in product list and not a product widget added in the cms through content->pages to your home page then you navigate to yoursite/checkout/cart and then navigate back to where you do have a product widget added through content->pages to your homepage and start adding more products, the cart will work fine. Until you clear your c

[2016-06-02 14:12] Grohotun opened #4835 "XML Parsing bug"
## Steps to reproduce
1. Create clean payment module
2. Use layout xml (view/frontend/layout/checkout_index_index.xml)

[code]
1. 3. Format XML in PHPStorm to

[code]
## Expected result
1. Everything works fine.
## Actual result
1. Exception
   a:4:{i:0;s:156:"Boolean value is expected, supported values: array (
   0 => true,
   1 => 1,
   2 => 'true',
   3 => '1',
   4 => false,
   5 => 0,
   6 =

[2016-06-02 14:12] andidhouse commented on #4788
I can confirm this on 2.0.7 version.
Sitemap is generating both urls with and without category.
It should only create what is setup in the backend (with OR without category url).

[2016-06-02 14:16] #4833 closed, assigned to nobody

[2016-06-02 14:32] alexcrz opened #4836 "Gateway payment module not showing on checkout page"
Hi , I just enabled a payment gateway module , https://github.com/Inchoo/magento2-Inchoo_Stripe , I got the module in the backend , added the api and enabled it , but I can't see nothing in the front end on the checkout page.

[2016-06-02 14:40] SerhiyShkolyarenko commented on #4170
@BeniSt @wclansar @kingalca @thills03 I cannot reproduce the issue.

**Part 1. Pure 2.0.4 installation with caching enabled.**
1. I set up 2.0.4 CE without sample data from https://www.magentocommerce.com/download release archives.
2. Installed Magento in default mode.
3. Created product on backend.
4. Added product to cart as guest from category page.

_Minicart worked properly._

**Part 2. The s

[2016-06-02 14:50] SerhiyShkolyarenko commented on #4170
@thills03 sorry, i didn't understand you. Is it enough to add product from category page to reproduce the issue? If not, could you please provide a step-by-step instruction?

[2016-06-02 14:51] hostep commented on #4617
Is it possible that in the last hour this is down once again? :(
Is getting a bit frustrating if you need it to work.

[2016-06-02 14:53] antonlazarchenko commented on #4834
http://curl.haxx.se/ca/cacert.pem - copy the whole page and save it in a: "cacert.pem" file.
Then in your php.ini file insert or edit the following line: curl.cainfo = "[pathToThisFile]\cacert.pem"

I suppose this is not an issue. :)

[2016-06-02 14:54] pboisvert commented on #4806
Mark--can you check for expected behavior and file an issue if needed?

[2016-06-02 14:56] ryantfowler commented on #4619
Bump. Issue is happening again. Single point of failure for the whole community is a liability.

[2016-06-02 14:58] antonlazarchenko commented on #4836
I've already left comments for you here http://magento.stackexchange.com/questions/118078/payment-gateway-inchoo-doesnt-show-up-on-checkout-page-magento-2#comment160526_118078
Specify some details.

[2016-06-02 14:59] vkublytskyi commented on #3843
@gizmocn, sorry for delay with response. I've tried to reproduce this issue but attribute with provided configuration was successfully created.

Would you provide more details on issue? What exactly errors appears during installation (PHP or SQL error messages, etc.)? Is any other extension installed except your Mega Menu extension? Would you provide content of etc/module.xml and list of required

[2016-06-02 14:59] ryantfowler commented on #4617
It is happening again. Check out @blackbooker's Tweet: https://twitter.com/blackbooker/status/738376650002305024?s=09.

Please note. https://github.com/magento/magento2/issues/4619

[2016-06-02 15:01] thills03 commented on #4170
The frontend category page is not the broken page. You need to add a product list widget to your homepage via logging into admin, selecting content on the left and then pages. Find your homepage in the list and select edit. In the wysiwyg, select the widget option and add a product list widget. Save it, and make sure it appears on the homepage. Clear your cache and your cookies entirely and then c

[2016-06-02 15:10] odubovyk commented on #4810
BenSpace48, thank you for reporting.
We went through your steps and could not reproduce the issue.
The exception that you've provided appears when set destination="product.info"
Could it be the case that you've provided correct XML file here (destination="product.info.main"), but in your actual code "destination" is set to "product.info"?

[2016-06-02 15:15] magnetic5355 commented on #4101
@piotrekkaminski  --- I attached an image. Initial product loaded was silver. Clicking the gold option only swapped the primary image, not subsequent images as seen in screenshot.
![capture](https://cloud.githubusercontent.com/assets/13050060/15750105/1fa87414-28b3-11e6-902d-f871441bac2e.PNG)

[2016-06-02 15:15] alexcrz commented on #4836
Ok , I've replyed you there !

[2016-06-02 15:21] BeniSt commented on #4170
Hey @SerhiyShkolyarenko,

This is right exept the last two steps. Please go to home-site (or probably any cms-site) and click on add-to-cart-button on an inserted widget there. Then check mini-cart.

[2016-06-02 15:21] IvanChepurnyi commented on #4619
Just use Toran proxy for synchronization for it. it is free for personal use. Very helpful for agencies to have the local setup with it. It is 5 minutes to setup and you can create a full mirror of the repository, that automatically gets updated by cron.

The same issue is happening when you use packagist packages, as GitHub might be down from time to time. Toran Proxy serves me well for this purp

[2016-06-02 15:23] fooman commented on #4835
You have line breaks before and after `Vendor_Yandex/js/view/payment/offline-payments` and after `false` which is different information to your first example. Looks like the autoformatting isn't smart enough to keep the information the same.

[2016-06-02 15:29] Grohotun commented on #4835
Fooman, that's strange.
It seems, that you're right.

[2016-06-02 15:29] #4835 closed, assigned to nobody

[2016-06-02 15:31] snez commented on #4263
@NadiyaS even if you can't reproduce it, just looking at the code in vendor/magento/module-sales/Model/Order/Payment/Operations/AuthorizeOperation.php should raise some flags about the non-sensical nature of the code:

[code]

Why would you always set an order as fraudulent when the currency is different? I would set it as fraudulent when the _amount is the same_ **AND** _the currency is different

[2016-06-02 15:35] ryantfowler commented on #4619
@Ivan, thanks for the suggestion. I think I will do that. Now what about others who don't want to do that for their individual reasons?  I don't see why Magento can't set up something similar. That way all requests for packages are being read from a mirror.

[2016-06-02 15:44] IvanChepurnyi commented on #4619
@ryantfowler I agree that Magento must build highly redundant system, but even in this cases there can be network outages near your server and you might experience downtime from your region. I just suggesting you a solution, so next time you will drink a 🍺  while repo.magento.com is down and your delivery pipeline still works as expected.

[2016-06-02 15:44] shiftedreality commented on #4828
Hi @devishreebalasubramanian

What is your browser name/version and OS?

[2016-06-02 15:50] ryantfowler commented on #4619
Lol. Thank you for your suggestion. I agree with your points regarding what could lead to downtime as well. And I'll take a look at Toran, but I was mainly thinking of others. Thanks again

[2016-06-02 16:06] nmallepally commented on #4834
okay, thank you. i thought this was an issue with magento 2.
After adding that, it still gives me an error. (error setting certificate verify locations: CAfile: C:\xampp\apache\conf\extra\cacert.pem CApath: none ) if you can give me a possible help to this, it will be great thanks a mil.

[2016-06-02 16:09] antonlazarchenko commented on #4834
@nmallepally, give me configuration string from php.ini and location of your cacert.pem file.
Also make sure you restarded apache after changing php.ini.

[2016-06-02 16:15] nmallepally commented on #4834
here is my file
[php.txt](https://github.com/magento/magento2/files/296028/php.txt)

[2016-06-02 16:16] ycherfan commented on #4756
@neoshd @mazhalai I'm facing the exactly same issue here. I can't sync dependencies and I can't upgrade to 2.1 version. Any suggestions?

My current Magento version is 2.0.7.

[2016-06-02 16:24] antonlazarchenko commented on #4834
Don't know. If you really placed there correct file with correct content and restarted apache - everything should be ok. I did exactly the same and it works.

[2016-06-02 16:30] katmoon commented on #4574
Hi @sivajik34

Your assumption is correct.
The issue has been fixed in the end of last year in `MAGETWO-47465` and should be available in develop branch.

Thanks,
Kateryna.

[2016-06-02 16:30] #4574 closed, assigned to nobody

[2016-06-02 16:31] nmallepally commented on #4834
Hi
okay .did you check the file which i sent you?. Is that correct??. I have restarted the Apache but it shows me an error. still, or is it something with file encoding??.

[2016-06-02 16:34] razvanbalosin commented on #1404
Hi, is there any way we can remove the `show per page` dropdown only via xml?

[2016-06-02 16:37] ycherfan commented on #4756
That problem is even worse because response body has no content, so i don't no where to start to figure out the root cause of it.

Is there any place where I can see error logs? I suppose that internal server errors (500) is logged in some place.

[2016-06-02 16:44] nmallepally commented on #4834
it worked for me thank you. Thats brilliant and thanks a mil.
can you give me any reference for fixing this errors.
![error update](https://cloud.githubusercontent.com/assets/19605497/15753168/945eeb0e-28e9-11e6-80a2-e5cb4c065580.png)

[2016-06-02 16:45] tanya-soroka commented on #4619
Issue has been resolved.  Please verify if you can sync with repo.magento.com

@IvanChepurnyi we will work on the backup on the downtime issues. Thanks

[2016-06-02 17:01] ycherfan commented on #4756
"i set to 755 the permissions of public_html folder, and the Checking Component Dependency problem is gone."

It didn't work for me. "Check Component Dependency" continues to throw internal server error (500) with no response body.

![screen shot 2016-06-02 at 1 53 10 pm](https://cloud.githubusercontent.com/assets/499073/15753595/40064a44-28ca-11e6-8e1a-2c7d5576a37b.png)

[2016-06-02 17:12] piotrekkaminski commented on #4756
@ycherfan  can you provide the error message from web server logs (something like /var/log/apache2/error.log)?
can you provide output of command line php -i?

[2016-06-02 17:49] dougkozar commented on #2947
Please consider resurrecting tiered pricing on reconfigurable products in Magento 2

[2016-06-02 18:28] hostep commented on #4619
@tanya-soroka: maybe also consider building a status page which shows if the repository is down or not (it should be automated to work properly and don't require manual work to update the status obviously).

Because right now, if the service is down, it's sometimes hard to figure out if something is wrong on our own end, or if something is wrong with the repository. If you have a status page, we c

[2016-06-02 18:36] cod3gen commented on #3562
@mazhalai memory limit for php was at 1280M on that installation

Stian
On Jun 1, 2016 21:56, "Matt" notifications@github.com wrote:

[2016-06-02 18:53] designhunger commented on #4379
@ishakhsuvarov I'm still on travels. If @devdesco-ceo is not testing it til monday, I'll get back to this.

[2016-06-02 19:05] tanya-soroka commented on #4619
Thanks for the suggestions.  We will definitely review it.

[2016-06-02 19:16] cafeasp commented on #3307
Same issue here on 2.0.6. A work around would be to mark the sales_order_item table and set qty_shipped to qty you ship. Also, update the order status in sales_order table columns state and status. Don't like this solution but it might help.

[2016-06-02 19:39] akshoysaha opened #4837 "Category and Brand SEO url not working after data migration using data migration tool"
We are migrating from Magento 1.7.x to 2.0.5. We have used Data Migration Tool to import all data; all categories, products, orders, brands came fine and we can see in admin. But the main problem we found with SEO url of categories and brand pages.

http://www.goplaces.co.uk/luggage/ is the old website. On the new website, it should be http://wiseroi.co.uk/luggage.html (urk key is set as "luggage"

[2016-06-02 19:55] choukalos commented on #4774
Hi @kanduvisla,

Our FPT/WEEE implementation is pretty simple.  We only look at the product's attribute for what the WEEE fee is.  That means for meta-products, such as configurable, bundled, grouped, we only see the meta-product's fee and not a roll up of the children's fee.

Internally I'm tracking this as a feature request (MAGETWO-53828).

[2016-06-02 20:06] AirmanAJK opened #4838 "Category Page Sort By and Ascending/Descending options added to query string by order clicked (bad for full page cache)"
## Steps to reproduce
1. Visit a category page with products.
2. First Sort By Price, then Sort by Descending Order (arrow icon should face down)
3. The query string will read as follows: "?product_list_order=price&product_list_dir=desc"
4. Remove both sorting filters, then add them in the opposite order (first Descending Order, then Price)
5. The query string will read as follows: "?product_list_

[2016-06-02 20:16] juliansthl commented on #4737
We have the same issue.
Our theme is based on the blank theme. The issue even appears if we don't override the Magento_Email template files.

We have deployed static content.

[2016-06-02 20:43] alexcrz commented on #4777
Hello @vovan1983 , I'm using magento 2.0.6 with this module , and as you I'm getting the "Please enter a valid credit card expiration date." error, have you managed to get it solved ?

[2016-06-02 21:32] dsikkema-magento commented on #4765
Hello @commcad. I tried a few times to reproduce this without any luck, so I have two questions. Can you share what extension you were trying to install? And how many times did you see this error? As you pointed out, there's a weird timestamp inconsistency in the log, and one hypothesis (although it's a stretch) is that a previous run of the updater left behind some artifacts that are contaminatin

[2016-06-02 22:15] neoshd commented on #4756
@ycherfan
while i was testing, i understood that this problem was a permission issue, so:
 1)i re-entered the cron jobs:
- \* \* \* \* <path_to_binary> -c <ini_file_path> <magento_dir>/bin/magento cron:run | grep -v "Ran jobs by schedule" >> <magento_dir>/var/log/magento.cron.log
- \* \* \* \* <path_to_binary> -c <ini_file_path> <magento_dir>/update/cron.php >> <magento_dir>/var/log/update.cron.lo

[2016-06-02 22:50] davidalger commented on #4836
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-02 22:50] #4836 closed, assigned to nobody

[2016-06-02 22:51] davidalger commented on #4515
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-06-02 22:51] #4515 closed, assigned to nobody

[2016-06-02 23:37] pizzachip opened #4839 "Cannot update Manage Inventory in the admin panel"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Upload a catalog of more than 1000 products including complex products while
3. Navigate to Stores > Configuration > Catalog > Inventory
4. Change Manage Stock option to 'No'
## Expected result

1.Setting should change to NO
## Actual result
1. SQL error and returns to main Stores > Configuration page
   ![screen shot 2016-06-02 at

[2016-06-02 23:56] astorm opened #4840 "Magento 2.1 Release Canidate: PHP Fatal error: Undefined class constant 'VERSION'"
In Magento 2.0.0, the `Magento\Framework\AppInterface` interface contained the following constant

[code]

The release candidate removed this constant, which results in the following error if extensions or custom system integrator code took advantage of this constant.

This is not a theoretical problem -- this change will break at least two real world extensions ported from Magento 1.  The use cas

[2016-06-03 00:03] adragus-inviqa commented on #4840
/cc https://github.com/magento/magento2/issues/4369

[2016-06-03 01:51] ghost opened #4841 "Class does not exist error when viewing/createing customer record in admin"
Hi,

I've had to migrate from 1.5.1 to 1.9.2.3 to 2.0.7 CE. I'm using php 7.0.6 on mac 10.11.5.

The migration seems to have gone well. In the admin I can see all the customers in the customer grid but when i click on an individual customer to view their record (or add a new customer in admin or front end) i get the following error:

Class does not exist
#0 /Users/chris/Sites/git/magento/vendor/ma

[2016-06-03 02:08] gizmocn commented on #3843
@vkublytskyi , thanks, I have found some info about the issue, RC 2.1 use form component for category, so except to add attribute to table "eva_attribute",  it also need to extend category_form.xml to add field and fieldset.

So I close the case now, thanks!

[2016-06-03 02:08] #3843 closed, assigned to vkublytskyi, voleye

[2016-06-03 04:35] Deepthi57 opened #4842 "Issues with login sesion"
Note: Version 2.0.7 EE

Steps to reproduce
1.Login into magento frontend
Expected result
1.Customer name displayed after login
Actual result
1.Default welcome msg is being displayed.

Pre-condition:
Have multiple websites ex. main website and website 1

2.Login into main website
3.Login into website 1
4.Add a product in main website to cart
5.Go to website 1

Expected:
2.Main website displays cust

[2016-06-03 05:50] synzhu commented on #4822
It was migrated from Magento 1. I have not checked if this problem exists with new attributes created in Magento 2.

[2016-06-03 06:15] sunilit42 commented on #4822
may be it problem with migration Plase check source model and backend model for same.

[2016-06-03 06:25] vovan1983 commented on #4777
Hi @alexcrz. Yes, it was the bug in magento 2 and here is solutin https://github.com/magento/magento2/issues/4741. They have commited fix in dev repository.

[2016-06-03 06:35] aayushivadhva commented on #2831
Hi,
We are using magento 2.0.2 and we are also facing the same problem.
when we run command for reindexing it got stuck in Customer Grid and show its status as "Processing".

[2016-06-03 06:47] BenGlassAtlas commented on #4810
Interesting, that may be the case. I will double check and let you know.

[2016-06-03 07:10] BenGlassAtlas commented on #4810
@odubovyk Well that's slightly embarrassing, you are right and I had provided the working XML.

I've updated my steps with the XML that causes the 404 page:

[code]

![screen shot 2016-06-03 at 08 09 00](https://cloud.githubusercontent.com/assets/8895777/15771410/73fcb11a-2962-11e6-88c3-451441477768.png)

[2016-06-03 07:29] SerhiyShkolyarenko commented on #4170
@thills03 thank you! I managed to reproduce it!

[2016-06-03 07:38] grasdaggel commented on #4832
Of course it gets slowed down if you rm -rf pub/static/\* beforehand. Just in case somebody has the same problem but deleting the static content before. If you do this, obviously things will take more time. However, this is _not_ the problem that I have in this ticket.

[2016-06-03 07:50] miketsl commented on #4829
Solved this problem.
This strange behavior occurs when you mass import products using "Default" category in Magento 2.0.7.  In the Magento database, there are actually something like 7 attribute sets all named "Default".  Since I put "Default" in the csv file, I am assuming it chose one randomly, which was attribute set id 4 in my case, and lead to all sorts of weird Magento behavior.

To solve I

[2016-06-03 07:50] #4829 closed, assigned to nobody

[2016-06-03 07:55] NadiyaS commented on #2662
Hi @markoshust,
thank you for your proposition of such future request.
It will be queued for review according to other features' priority.
Or you can do PR with implemented feature.

[2016-06-03 08:15] NadiyaS commented on #2704
Hi @andypieters,
this bug is really reproducible on 2.0.7 version.
It has been fixed already and develop branch does not have this issue.
You can upgrade your code from develop branch right now or wait until next release.
Feel free to reopen this issue if you have the same problem on next release version.

[2016-06-03 08:15] #2704 closed, assigned to NadiyaS

[2016-06-03 08:15] quienti opened #4843 "Custom EAV textarea and Image for customer not save"
## Preconditions
1. Magento 2.1.0RCI

## Steps to reproduce
1. Magento 2.1.0RCI
2. I use this code for my attribute in installdata (for my custom module)

For textarea :

`$customerSetup->addAttribute(Customer::ENTITY, 'company_description', [
    'type' => 'text',
    'label' => 'Compagny Description',
    'input' => 'textarea',
    'required' => true,
    'visible' => true,
    'user_defined' =>

[2016-06-03 08:42] paalsoberg commented on #4699
I seem to have managed to get it working - had 2.0.6 with sample data installed and upgraded to 2.1RC1 -- lots of issues at the start due to the sample data.. but running these commands seems to have sorted most of it:
php bin/magento sampledata:remove
php bin/magento sampledata:deploy

And then obviously cache:clean etc...

Only one issue remaining and the product grid is not loading - just spinn

[2016-06-03 08:44] andidhouse opened #4846 "Compare Products site is not responsive"
All versions including 2.0.7

The only site which is not responsive is the Compare Products sites.
I think this side should be made responsive also.

Thanks!

[2016-06-03 08:52] orlangur commented on #4840
Please read the http://devdocs.magento.com/guides/v2.0/architecture/backward-compatibility.html carefully. As I understand it, `Magento\Framework\AppInterface::VERSION` constant must not be retained in 2.1 as it is not marked with `@api`.

So, if some extension rely on internals, it should specify dependency properly like `"magento/customer": "~2.0.0"` and then tested when minor version is changed

[2016-06-03 08:59] kandrejevs commented on #3222
I'm having same issue, products are in BE, but not showing up in FE, only empty categories

[2016-06-03 09:02] alexcrz commented on #4777
@vovan1983  the thing is I have no such a file in that directory `app/code/Magento/Quote/Model/Quote/Payment.php` , there is no Magento directory into app/code/

[2016-06-03 09:08] vovan1983 commented on #4777
@alexcrz looking in vendor directory: /vendor/magento/module-quote/Model/Quote/Payment.php.

[2016-06-03 09:10] davidverholen opened #4847 "M2.1 SOAP WSDL Xml Entities double escaped"
## Preconditions
1. Install Magento from `2.1` branch.

## Steps to reproduce
1. Install Magento from `2.1` branch.
2. Call http://magento_host/soap/default?wsdl_list=1

## Expected result

...

[code]

...

## Actual result

the '&' is double escaped
...

[code]

...

might be a duplicate of https://github.com/magento/magento2/issues/2206
if so, will this be fixed in the next 2.1 release?

[2016-06-03 09:19] davidverholen opened #4848 "Magento 2.0.7 SOAP Wsdl List in Json by default"
## Preconditions
1. Install Magento from `2.0` branch.

## Steps to reproduce
1. Install Magento from `2.0` branch.
2. execute `curl http://magento_host/soap/default?wsdl_list=1`
## Expected result
1. Since it is a reference to wsdl resources, I would expect this to be a xml resource by default
## Actual result
1. without the "accept: application/xml" Header, a json Object is returned

[2016-06-03 09:24] alexcrz commented on #4777
I did that change now I get "payment capturing error"

[2016-06-03 09:40] vovan1983 commented on #4777
So now try to debug your function 'capture' in your custom payment model, you've got exception.

[2016-06-03 09:46] alexcrz commented on #4777
Sorry, how do I do that ?

[2016-06-03 09:55] vovan1983 commented on #4777
In my case, the fix in /vendor/magento/module-quote/Model/Quote/Payment.php is restored my custom inchoo_stripe module, but module "Authorize.net" still "isn't alived".

[2016-06-03 09:59] MisterMcJohn opened #4849 "Customer Groups NOT LOGGED IN & TAX CLASS not editable?"
Magento ver. 2.0.7
##
1. When try to change the TAX CLASS for group name "NOT LOGGED IN"  in to another TAX CLASS from Dropdown menu
## Expected result
1. It shoot accept the change and confirm and set to the new chosen TAX CLASS
## Actual result

When save this new chosen TAX CLASS, Magento error say's:  code is a required field. When save the field is empty. And even if it empty now, I cannot fi

[2016-06-03 10:11] alexcrz commented on #4777
but do I need Authorize.net ? can I only use stripe ?

[2016-06-03 10:28] jordanbrierley opened #4850 "Product URL rewrites being removed on mass with multiple websites"
Iv just been trying to set up multiple websites each with their own store and store view but there's a problem with the product urls when assigning them to multiple websites.

All of the product data has already been populated into Magento and we needed multiple websites each with their own store and store view. When I go back into the products, check all and select update attributes from the acti

[2016-06-03 10:30] foray1010 opened #4851 "Issue with creating OAuth app"
## Steps to reproduce
1. Install Magento 2.0.4
2. Create an integration and save
3. click activate
4. mostly it will said customer key is expired when we use the response from store to get response token

I was trying to create an apps, that create integration immediately after user install the app, but as the expire time start counting once the integration created, 5 seconds (default value) is no

[2016-06-03 10:33] Deepthi57 opened #4852 "Gift wrap option for individual items not displayed for grouped items"
Magneto Enterprise Endition
Version: 2.0.7
Steps:
1. Go to Magento admin
2. Go to Stores-.Configuration->Sales->Sales
3. Set "yes" for all the options under Gift Options Section
4. Save the config
5. Go to stores->Other Settings->Gift Wraping
6. Add Gift Wrapping
7.Add a grouped product to cart
8.Add a simple and configurable product to cart

Expected result
Gift wrap option for individual item mu

[2016-06-03 10:34] Deepthi57 commented on #4852
This is important to us. Requesting for a comment asap.
Thanks in advance

[2016-06-03 10:48] vovan1983 commented on #4777
I redid their module (Inchoo_stripe) under another payment system. What sense. In dir Model\Payment.php :
`public function capture(\Magento\Payment\Model\InfoInterface $payment, $amount)
    {
        $order = $payment->getOrder();
        $billing = $order->getBillingAddress();
        try {
            $requestData = [
                'amount'        => $amount * 100,
                'currency'

[2016-06-03 10:55] duhon commented on #4191
@bkristl closing due by non-responsiveness.

[2016-06-03 10:55] #4191 closed, assigned to piotrekkaminski

[2016-06-03 11:08] alexcrz commented on #4777
sorry , I don't think I understood last message , what should I do now ? I did the changes as sayd in the bug fix , but I still get "payment capturing error"

[2016-06-03 11:15] vovan1983 commented on #4777
debug function `public function capture(\Magento\Payment\Model\InfoInterface $payment, $amount)` for errors

[2016-06-03 11:16] kgvconsulting commented on #2937
@dexteritycc
@MomotenkoNatalia
@yaronish
@vladimir-k

The same issue with me, any luck or respond how to fix that?

Magento v 2.0.6

The queue never execute and send the emails, after assigning the date and time and safe the queue the date stay the same but the start time changes always 4 hours back from selected one?

[2016-06-03 11:19] alexcrz commented on #4777
How do I debug it ?

[2016-06-03 11:26] vovan1983 commented on #4777
For example use `\Psr\Log\LoggerInterface`:
http://magento.stackexchange.com/questions/92434/magento-2-replacement-for-magelog-method
If I dont forget messages in /var/log/system.log

[2016-06-03 11:28] jotadrilo opened #4853 "Upgrade process failed"
**Steps to reproduce**
1. Upgrade from the latest CE version to 2.10.rc1
2. I ran into this this issue

[code]

I'm not sure if `compiled_config` was supported in the previous version or if I should not upgrade but migrate to 2.1.0.rc1. I tried to figure out what is wrong but I got nothing.

Did you see this error before? Could be related to the new version and upgrading incompatibilities?

[2016-06-03 11:40] alexcrz commented on #4777
In my /var/log/system.log  I got `[2016-06-03 11:36:02] main.ERROR: Payment capturing error. [] []` ,  and If i try to pay with inspect on page , I can see this as error : jquery.js:9666`POST http://oohlalah.co.uk/rest/default/V1/guest-carts/042edad93cc184d8091c073e95bac6ec/payment-information 400 (Bad Request)`

[2016-06-03 11:50] peec opened #4855 "[2.0.7] Providing a new postalcode does not refresh shipping alternatives."
Magento: 2.0.7 + 2.1.0-RC2
Theme: Luma
## Steps to reproduce
1. Add a product to cart
2. Go to checkout
3. Try changing address fields one by one.
## Expected result
1. The shipping alternatives should refresh when address related fields such as postalcode are changed. Meaning the ajax call to
   index.php/rest/default/V1/guest-carts/xxxxxxxxxxx/estimate-shipping-methods should be called when pepl

[2016-06-03 11:51] katmoon commented on #4658
@sivajik34  Thank you for attracting attention to this diagram.

@dshevtsov This is an incorrect diagram. In Update on Schedule mode indexer does not become 'Invalid' after a single change. Instead a single change is recorded in 'change log', Status remains 'READY', changes from 'change log' are applied on schedule when cron runs.
Indexer status changes to 'Invalid' only on major changes, e.g crea

[2016-06-03 11:59] paalsoberg commented on #4699
Got the product grid working as well - just had to export and then import the product data again!

[2016-06-03 12:21] myownspace opened #4857 ""cataloginventory_stock" event"
I can't observe "cataloginventory_stock" event because in \Magento\CatalogInventory\Model\Stock model
property named $eventPrefix instead of $_eventPrefix

[2016-06-03 12:42] fooman commented on #4228
Collecting some random examples here to show that this is not theoretical

https://twitter.com/max_pronko/status/737406159301292032

https://github.com/magento/magento2/issues/4840

[2016-06-03 12:42] Jasonb11 opened #4858 "Two Page Printout Invoices for customers"
## Steps to reproduce
1. Login to customer account
2. Go to my orders > choose any order > view order
   http://screencast.com/t/e4nN3cQmq
3. Go to Invoices tab or click print order
   http://screencast.com/t/UNBfCvXpAUc
## Expected result
1. Print One page similar to the invoice on the backend
   http://screencast.com/t/dl3VmJbN2N
## Actual result
1. Two page layout that looks horrible and is was

[2016-06-03 12:48] PascalBrouwers commented on #4684
Also in 2.0.7

[2016-06-03 12:54] PascalBrouwers opened #4859 "adding configurable product to cart does not show the image of the simple product"
Adding a configurable product with specific options does show a different image on the product page, but this product is not shown on the cart or checkout page.

For example, use the sample data.
- Add the Mona Pullover Hoodlie in your cart with Color Orange and Size S.
- In your cart you will see the image from the configurable and not from the simple product.

Tested in magento 2.0.7

[2016-06-03 13:01] commalex opened #4860 "Admin page missing CSS - just displays in plain text."
Tried all the google solutions...just have no ideas.  Front end is working perfectly at www.3signs.co.uk

Can anyone help me?

[2016-06-03 13:08] commalex commented on #4860
Some odd things that I noticed in cache management:
Page Cache  Full page caching.  FPC Invalidated ???

also noticed in inxeder:
Catalog Product Rule    Indexed product/rule association    Update on Save  Processing  Nov 20, 2015, 2:11:19 AM

[2016-06-03 13:20] arkadiych commented on #3562
@cod3gen, could you define precisely your steps to reproduce the issue?

[2016-06-03 13:21] jsakars opened #4861 "Meta Description automatically filled with HTML"
## Steps to reproduce
1. Install Magento from `2.0` branch.
2. Edit product that has description with HTML content in it (e.g. `<ul>`)
## Expected result
1. Product is shown on front-end as is
## Actual result
1. Product is show on front-end
2. Meta description is breaking the page as it outputs HTML and breaks the tag.

It seems that meta description is automatically filled with product title + p

[2016-06-03 13:22] alexcrz commented on #4741
Hello , I had the same issue , I've corrected my Payment.php page as you said , and now I'm getting `payment capturing error`

[2016-06-03 13:23] YevSent commented on #4327
Which version of php do you use? Seems, this issue is related to the php internal links implementation, because now it isn't reproducible on 2.0.4, 2.0.7 with php 7.0.7.

[2016-06-03 13:24] sivajik34 commented on #4658
thank you  for your explanation.

[2016-06-03 13:24] #4658 closed, assigned to dshevtsov

[2016-06-03 13:31] YevSent commented on #4755
Hi, @peec. We can't reproduce described issue. Please, attach apache and magento logs. Also, if you use additional extensions, try to disable them and repeat deployment.

[2016-06-03 13:38] jmackiol-dotsource opened #4862 "Page Cache Invalidation fails for CMS entities when changing options in the "design" tab"
## Steps to reproduce
1. Install Magento 2.0.7 EE using composer.
2. Go to Admin > Content > Pages
3. Create a new page with content and design related changes
4. Open the new page in frontend
5. Edit the created page and only change options in the design tab
6. Open the edited page in the frontend
## Expected result
1. Changes are visible
## Actual result
1. Changes are not visible
   The entire

[2016-06-03 13:38] toddwolaver commented on #4795
@mazhalai I had been using 2.0.7 prior to RC1

Environment details:
- Ubuntu 14.04.4 LTS
- PHP 5.6.19
- MySQL 5.6.28
- Apache 2.4.18

[2016-06-03 13:44] fooman opened #4863 "Web Setup Wizard in production mode"
## Steps to reproduce
1. Install Magento 2.0.x
2. Set Magento to run in production mode
3. Use the Web Setup Wizard to ugprade to 2.1.0-rc1
## Expected result
1. Upgrade is successful or error message preventing upgrade
## Actual result
1. Upgrade is attempted and errors with

[2016-06-03 12:54:33 UTC] Composer update completed successfully
[2016-06-03 12:54:33 UTC] Job "update {"components":[{"na

[2016-06-03 13:58] dkvashninbay commented on #4741
@antonlazarchenko, @schogini
This is a bug in general CC model (created internal ticket to fix in next patch), as it depends on wrong DataObject structure (raw request, security vulnerable), instead of \Magento\Quote\Api\Data\PaymentInterface which gets passed to Checkout service.

All Payment Integrations which have own payload on checkout, should pass it in additional_data field and read this da

[2016-06-03 14:06] eug123 commented on #4737
Hi,

It seems that the error happens when [converting styles](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/templates/template-email.html#email-styles) from `email-inline.css` to the inline style attribute with [Emogrifier tool](https://github.com/jjriv/emogrifier#supported-css-selectors).

Please try to update this package changing version to 1.0.0 in `composer.json` (`"pelago/emogrif

[2016-06-03 14:10] PierAlex commented on #642
A customer is just asking for the ability to create a group of configurable products (t-shirts, pants, etc. having colour and size).
Will it be released nearly?

[2016-06-03 14:18] seansan commented on #642
And it is o so necessary

This really is a missing feature!!! And in my opinion evne the 1.9x team should even make it backwards compatible and add it to 1.9x ....

See more detail here: http://magento.stackexchange.com/questions/113523/product-pack-of-1-base-configurable-product

http://magento.stackexchange.com/questions/70067/bundle-product-with-configurable-options

http://magento.stackexchang

[2016-06-03 14:29] YevSent commented on #4813
Hi @woei66. Please attach magento and apache logs, also do you have any js errors in your browser? Do you use Authorize.net for production application?

[2016-06-03 14:41] odubovyk commented on #4810
In this case we do not have 404 page, here must be exception page. Please see screenshot attached:
![exceptiion](https://cloud.githubusercontent.com/assets/15216670/15781943/07e034a8-29b1-11e6-995a-203934f54a85.png)
Try to clean all cashes and "var"s if you haven't. Also Check the steps, maybe you've missed something there. And let us know if you have this issue

[2016-06-03 14:46] gamort opened #4865 "Knockout.js fails if there are cart messages"
If there are issues with items in the shopping cart that result in warning messages being generated, knockout.js fails to update any of the dynamic blocks on the page - leaving them in their default state.

We discovered this specifically with the following combination:
Magento 2.0.7
Enable inventory management for the website/store
Add/enable the wishlist block to product listing pages
Add multip

[2016-06-03 14:47] #4635 closed, assigned to nobody

[2016-06-03 14:52] paliarush commented on #2630
@michiz05000 @teokolo could you please provide a list of phrases which are still not translatable? Please check them on [2.1 branch](https://github.com/magento/magento2/tree/2.1) before reporting.

[2016-06-03 14:59] kgvconsulting opened #4866 "Newsletter queue don't start, don't send emails, don't save the start time"
v Magento 2.0.6

Newsletter Queue, after placing newsletter template to queue and select the start date and time, and press button save newsletter, the selected start time is changed and return by 4 hours:
![screenshot 2016-06-03 10 54 35](https://cloud.githubusercontent.com/assets/11282348/15782850/c2ce2276-2979-11e6-8662-6ce85c4d994e.png)
![screenshot 2016-06-03 10 54 51](https://cloud.githubuse

[2016-06-03 15:08] joanhe commented on #4229
@jordanbrierley After investigation, this is identified as not a bug. Here is deploy static content command options:
magento setup:static-content:deploy [lang] ... [lang] [--dry-run]
User can supply multiple languages in this command to deploy static content in multiple locales. For this case, you can do:
magento setup:static-content:deploy en_US en_GB

I will close this issue for now. Please feel

[2016-06-03 15:08] #4229 closed, assigned to piotrekkaminski

[2016-06-03 15:29] Chouhada commented on #3765
Currently also experiencing this on a clean install of 2.0.4

[2016-06-03 15:31] orlangur commented on #4865
I didn't read all of the text carefully, just did a quick overview.
It's pretty convenient to see all JSON responses in Network tab with "Preserve log" checkbox checked and some filters (XHR?).
If you're talking about browser cache, it just can be disabled, also, customer data is stored in localStorage. You can remove some section at any moment to force it's reload from server side.

[2016-06-03 15:41] fhennessy commented on #3870
Folder group wasn't set to be writable for the correct group! fixed my issue

[2016-06-03 15:47] gamort commented on #4865
I did not think of enabling the preserve log checkbox.  Thanks!  That will be a great help in troubleshooting knockout.js issues!

[2016-06-03 15:48] YevSent commented on #4855
To help us investigate and reproduce your issue, please, follow to [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-06-03 16:27] pynej commented on #2563
How is this not an issue?  This setting both is misleading, isn't explained, and actually kills the site performance....

[2016-06-03 16:58] pynej commented on #3198
Similar issue:
When I do a `magento deploy:mode:set production` or `setup:static-content:deploy`  my precompiled files are reset to this:

[code]

But if I do a `setup:di:compile` it makes me delete those and ends up only having this:

[code]

I'm not exactly sure what the optimal setup is, but it's inconsistent based on the last command i run.

[2016-06-03 17:46] pynej opened #4868 "Checkout page very large and quite slow."
Using a single store on 2.6 in production mode.  No combined JS/css, with `setup:di:compile`, varnish, and SSL for checkout.

Normal pages work quickly through varnish as expected in 2s/100ms uncached/cached and around 12k each.
Customer pages like past orders come in without varnish as expected in 1.5-2.5s at around 40k.
Going to the checkout with a single item in my cart take 4.5s and weights in

[2016-06-03 17:58] googelie commented on #4109
We are experiencing the same problem.. always 111 as tracking id. I Think the only way would be to edit the admin customer order overview and add the tracking link and at the end the tracking id as variable

[2016-06-03 18:08] krejcif opened #4869 "infinite loop on admin login"
## Steps to reproduce

Install Magento EE 2.0.7
Setup multistore
Work with admin and frontend in standard way
Wait one day
Go to admin route on default website domain
## Expected result

Standard admin login page
## Actual result

Infinite redirect loop

Magento\Store\App\FrontController\Plugin\RequestPreprocessor is redirecting between websites due to failed check of baseUrl.

Returned baseUrl on

[2016-06-03 18:12] rhoerr opened #4870 "Transaction Repository fails to sort collection"
## Preconditions
2.0.x, 2.1.x are affected by primary issue.
All versions 2.x are affected by secondary issue in note (as of 2.2.0RC2.3).
cf. https://github.com/magento/magento2/issues/4870#issuecomment-328962566

## Steps to reproduce
1. Place order with multiple items with an online payment method supporting partial capturing
2. Invoice one item online.
3. Invoice the remaining items online.
##

[2016-06-03 18:17] krejcif commented on #4869
Moved to EE support ticket

[2016-06-03 18:17] #4869 closed, assigned to nobody

[2016-06-03 19:38] pynej opened #4871 "Varnish - Should only clear cache for current domain."
If you set up multiple Magneto installs and varnish and get everything working.  When you clear the Page Cache on one site it clears all magneto instances cache.  The command passed to varnish should include a host header to allow the vcl file to filter ban's on that header.

This adds the current domain to the purge request.

[code]

Then the vcl files can be updated to optionally filter on the d

[2016-06-03 19:39] pynej commented on #4710
Makes the frontend really slow as well.

[2016-06-03 19:46] twistedindustries opened #4872 "Guest must Refresh in order to Checkout after being sent directly to the Cart"
## Steps to reproduce
1. Install Magento 2.0.7.
2. Create a bundle product.
3. Change setting "After Adding a Product Redirect to Shopping Cart" to YES.
4. Add product to cart, you will be redirected to the cart.
5. Click "Go to Checkout"
## Expected result
1. Takes user to onepage checkout.
## Actual result
1. Opens authentication modal and tells the user they must either create an account  or lo

[2016-06-03 20:01] choukalos commented on #4871
We're tracking this improvement internally as MAGETWO-48944 .  Would be great if you can send as a PR.

[2016-06-03 20:04] twistedindustries commented on #4872
Looks like it is due to cart.isGuestCheckoutAllowed not being set.

[2016-06-03 20:30] choukalos commented on #4862
Unable to reproduce in mainline.

[2016-06-03 20:30] #4862 closed, assigned to choukalos

[2016-06-03 20:36] choukalos commented on #4851
Hi @foray1010 - Please try upgrading to 2.0.6; this issue should be addressed in that patch version.  Please let me know if it still persists.

[2016-06-03 20:58] mikeweis commented on #4849
@MisterMcJohn Thank you for reporting. We have created internal ticket MAGETWO-53916 to track this issue.

[2016-06-03 21:08] zaoky opened #4873 "Issue Creating Tax Rate and Zone"
## Steps to reproduce
1. Install Magento 2.0.7
2. create a new Tax Rate and zone by API/REST with the rate = 0
## Expected result
1. new tax rate and zone create with rate = 0 for a rule that applies to non-taxable customers
## Actual result
1. Error message appears:
   {
   "message": "%fieldName is a required field.",
   "parameters": {
     "fieldName": "percentage_rate"
   }
   }
   <a href="h

[2016-06-03 21:12] twistedindustries commented on #4872
Actually looks like all of customerData is empty, perhaps this is knockout related

[2016-06-03 22:52] pboisvert commented on #4860
@commalex can you provide more system info here. What version are you seeing this issue?

[2016-06-03 23:38] erikhansen commented on #4358
+1 for this issue, as many people installing Magento 2 via `composer create-project` won't know what files to add to their `.gitignore` file and will end up committing the `vendor` directory along with many other directories/files that ought to be ignored.

@alankent In your https://alankent.me/2016/03/31/m2-project-source-code-management-recommendation/ blog post you make some great points about

[2016-06-03 23:48] commalex commented on #4860
Version 2.0.7

Kind Regards,
Alex Smith

stika.co
alex@stika.co
07921 909844

twitter.com/stikaco
facebook.com/stika-co

[2016-06-03 23:50] commalex commented on #4860
The error problem happened immediately after I removed the sample attribute sets in the admin backend.

Kind Regards,
Alex Smith

stika.co
alex@stika.co
07921 909844

twitter.com/stikaco
facebook.com/stika-co

[2016-06-04 08:28] atIOCrON commented on #4506
@vkorotun we have the same issue verified with Magento 2.0.6 using the default Luma theme:

Without JS Bundling (453.8kb): http://tools.pingdom.com/fpt/#!/czoIzm/https://new.betterbatt.com.au/
With JS Bundling (2.1mb): http://tools.pingdom.com/fpt/#!/c8CxvG/https://new.betterbatt.com.au/

As you can see JS Bundling increases page size by 4x.

I also noticed that JS Bundling when enabled blocks the

[2016-06-04 08:35] atIOCrON opened #4875 "Javascript Bundling breaks custom role resource tick boxes"
## Steps to reproduce
1. Install Magento 2.0.6 Community Edition
2. Stores > Configuration > Advanced: Developer > JavaScript Settings: Enable Javascript Bundling - set this to yes
3. Clear all caches, static files etc.
## Expected result
1. System > User Roles > Open Role > Role Resources > Resource Access: Custom - each resource should show a tick box next to it
## Actual result
1. System > User

[2016-06-04 08:46] atIOCrON opened #4876 "Product URL Suffix "/" results in 404 error"
## Steps to reproduce
1. Install Magento 2.0.7 Community Edition
2. Stores > Configuration > Catalog: Catalog > Search Engine Optimization > Product URL Suffix > Change to "/" > Save Config
3. Clear Cache
## Expected result
1. The product URL should end in "/" e.g. http://....com/helena-hooded-fleece/
2. The product page should return a 200 response code and load correctly
## Actual result
1. The

[2016-06-04 11:46] commalex commented on #4860
So the error occurs when removing the demo 'Attribute Sets' in the Admin backend.

[2016-06-04 11:46] #4860 closed, assigned to nobody

[2016-06-04 12:54] kfaer opened #4878 "Design configuration page keep loading"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-06-04 13:05] kfaer opened #4879 "Visible on Catalog Pages on Storefront not changing with Visual Switch in attribute v 2.0.7"
In attribute when select Visual Switch changing the status of the Visible on Catalog Pages on Storefront is not posiable.
installed version 2.0.7
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message

[2016-06-04 16:09] kgvconsulting commented on #3865
the same here no PREVIEW, just upgraded to v 2.0.6 no changes empty page display

[2016-06-04 17:47] PieterCappelle commented on #4871
+1

[2016-06-04 22:52] andrew010 commented on #2463
same problem ver 2.0.7
my quickest work around: edit php.ini and comment out upload_tmp_dir

[2016-06-05 01:26] zaghloul2 commented on #4756
@neoshd
made all the steps still facing the problem !!
what permission number ?

[2016-06-05 03:26] Ravenmire commented on #2880
I get this segfault when installing from git.

_The last lines in the compile are:_
Installing PEAR environment:      /usr/local/lib/php/
Makefile:455: recipe for target 'install-pear-installer' failed
make[1]: **\* [install-pear-installer] Segmentation fault (core dumped)
Makefile:458: recipe for target 'install-pear' failed

What further is needed to diagnose and fix this problem?

[2016-06-05 04:47] pboisvert commented on #4861
@antboiko think this may be yours (or possibly Olena). Does M1 have the same behavior of grabbing description for meta description and if so does it strip HTML out of description on use? If so then not parity. If not, then this would be improvement and should be documented.

[2016-06-05 04:50] pboisvert commented on #4858
classifying as an improvement. This is not a bug. How to questions should be asked on Stack Exchange for the Magento Community forum.

[2016-06-05 04:50] #4858 closed, assigned to nobody

[2016-06-05 04:54] pboisvert commented on #4851
closing issue as this should be resolved in latest version. Please reopen if the issue persists after upgrade

[2016-06-05 04:54] #4851 closed, assigned to nobody

[2016-06-05 08:17] neoshd commented on #4756
770

[2016-06-05 13:27] zaghloul2 commented on #4756
still having the Check Component Dependency error

[2016-06-05 15:21] ghost commented on #4792
@kingalca Did you try `magento --list`? Just curious.

[2016-06-05 19:54] RG-1 opened #4880 "Searchable dropdown list for admin product pages"
## Feature Request

I have about 100 values of same attribute and managing them is sometimes very difficult.
This is my suggestions to make it easier.
## Steps to reproduce
1. Create lots of similar values for some attribute (dropdown or swatch).
2. Create new product and try to choose right value of an attribute for this product.
## Solution

Searchable dropdown list.

This is a nice example:
htt

[2016-06-05 19:56] sammarcus commented on #4299
This is still an issue, and I think it is quite serious. An entire user account can permanently damage itself if the user inputs a number the field allows them to input.

Nothing the interface allows should ever permit the user to permanently corrupt their own account by accident.

cc @piotrekkaminski

[2016-06-05 20:13] RG-1 opened #4881 "validate attribute values"
## Steps to reproduce
1. Go to Stores > Product Attributes
2. Create new or edit any existing attribute (types: dropdown, swatches or multiple select)
3. Add few identical attribute values
## Expected result
1. Error - it should not allow to create identical attribute values for "admin"
## Actual result
1. No errors

[2016-06-05 20:26] komsitr commented on #2933
@maksek I apply this fix to the version 2.0.7 but the issue still persists https://github.com/magento/magento2/commit/7b1ac83b92228803884f04cb74505b776bef59cd

loadByStore() function still returns all countries in the list instead of Singapore which is the only country in default country / allowed country / and default tax destination country.

[2016-06-05 20:27] commcad commented on #4785
Hello @alena-marchenko

Sure. Attaching the entire sys i/o from 2.07 composer-project install > update to 2.1.0rc using Web Setup. TestBuy/sandboxed performed with the paypal debug mode On as requested.

**[system.txt](https://github.com/magento/magento2/files/299497/system.txt)**

See line no. 1435
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'base_grand_total' in 'field list', query wa

[2016-06-05 20:42] commcad commented on #4785
**MariaDB [storedB]> show columns from sales_invoice_grid;**
+-----------------------+----------------------+------+-----+---------+-------+
| Field                 | Type                 | Null | Key | Default | Extra |
+-----------------------+----------------------+------+-----+---------+-------+
| entity_id             | int(10) unsigned     | NO   | PRI | NULL    |       |
| increment_id

[2016-06-05 20:53] komsitr commented on #2933
OK I find the problem. Please consider the fix below.

**Cause:**
is_region_required key is missing from the country object being retrieved from `country.indexedOptions`. Referring to "app\directory\Model\ResourceModel\Country\Collection.php" line: 231

[code]

This key will be set only this country requires its region. But the script "app\ui\view\base\web\js\form\element\region.js" doesn't check

[2016-06-05 21:04] commcad commented on #4785
MariaDB [storedB]>
**> ALTER TABLE sales_invoice_grid ADD base_grand_total decimal(12,4) AFTER grand_total;**

![pp_test](https://cloud.githubusercontent.com/assets/19387951/15808179/bd71bb72-2ba3-11e6-847f-b6f15c4d704d.jpg)

;)

[2016-06-05 21:46] commcad commented on #4765
@dsikkema

**/var/www/mydomain.com/var$ rm -rf .type.json .update_\* .setup_***

Ran above I am not getting the missing cache type error anymore and the setup goes right up to where it should (success!). However timezones are still fuzzy a tad. Goes up and down as it scroll the console/log.

One could say it it supposed to be as such ;)

Extension name listed in the log below, as requested;

[2016

[2016-06-06 03:19] joebusby commented on #4540
@bwaters  I switched apache2 to use php7 instead of php5.6.17 and the Bug 1 (category menu showing https) goes away.   The site will still not work if the user enters "https" for a page that is not designated secure by magneto2, like the home page when the non-secure baseURL cofig says http://mydomain.com

To support php5, it appears there are two problems and for php7 there is one, although there

[2016-06-06 05:01] pareshe opened #4883 "Not translated "Please enter a valid email address (Ex: johndoe@domain.com).""
In checkout with guest customer when enter invalid email address in "Email"  field that time display this error and that is not translated.

[2016-06-06 06:39] minhluan259 opened #4884 "Button Insert Image - only insert one image - Magento 2.1"
Magento 2.1
![insertimage](https://cloud.githubusercontent.com/assets/7834473/15813777/e9038ca0-2beb-11e6-95a2-e1f688d4b16a.png)

[2016-06-06 07:39] antboiko commented on #4880
Hello @RG-1 , thanks for your suggestion. We have internal ticket MAGETWO-50589 in our backlog to cover this improvement.

I'm closing the issue. Please feel free to reopen if you have additional questions.

Best,
Anton.

[2016-06-06 07:39] #4880 closed, assigned to nobody

[2016-06-06 07:40] antboiko commented on #4878
Hi @kfaer , please provide more details to reproduce this issue.

Thanks,
Anton.

[2016-06-06 07:50] devhn commented on #3951
Sorry for late reply - CLI, Apache 2.4, PHP7

[2016-06-06 08:03] Taral-Patoliya opened #4886 "How can i add a new adapter for import functionality in m2?"
I need to fetch products from a third party ERP's api, and import them in my m2 nstallation, i have used m2 api for that, bu it is too slow to import products in bulk, so i am thinking about m2's native import functionality with a different adapter which fetches the data from the REST api of the ERP and pass it to the import model

[2016-06-06 08:15] kfaer commented on #4878
This issue is because that a third party theme is installed, i do not think
it is magento issue.

Regards,

On Mon, Jun 6, 2016 at 11:40 AM, Anton Boiko notifications@github.com
wrote:

[2016-06-06 08:23] basselalaraaj opened #4887 "Status order comments wrong date"
The comments in the history of a order are showing the current time.

There is a missing method in the model Magento\Sales\Model\Order\Status\History.
That existed in the Magento\Rma\Model\Rma\Status\History.
So i copied the method for the model Magento\Sales\Model\Order\Status\History.

[2016-06-06 08:25] basselalaraaj commented on #4887
Fixed in https://github.com/magento/magento2/pull/4888/commits/fbb407584171459641e1a563c610f96531214c9e

[2016-06-06 08:35] SidneyBilliet commented on #4472
@antboiko , hello, any news on this ticket?

[2016-06-06 08:38] SidneyBilliet commented on #3357
@vzabaznov @guz-anton ?

[2016-06-06 08:46] NadiyaS commented on #4886
Hi @Taral-Patoliya,
the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.  Feel free to create new issue if you think you have encountered a bug in Magento 2.

[2016-06-06 08:46] #4886 closed, assigned to nobody

[2016-06-06 09:22] NadiyaS commented on #4887
Hi @basselalaraaj,
 please provide Magento version where you encountered this issue and do not forget to provide all steps to reproduce this bug. Develop branch does not have this issue, comments are displayed with correct time.

[2016-06-06 09:23] sergei-sss commented on #4808
At present you can use "0.00" to bypass it:
https://github.com/magento/magento2/issues/4092

[2016-06-06 09:24] flipflap commented on #4686
Ping works, but lookup is never ending:
![lookup](https://cloud.githubusercontent.com/assets/6672673/15817605/2129ff78-2bd9-11e6-8349-9b301de6b1e1.png)

[2016-06-06 09:25] antboiko commented on #4878
@kfaer

I'm closing the issue. Please feel free to reopen if you have additional questions.

Best,
Anton.

[2016-06-06 09:25] #4878 closed, assigned to nobody

[2016-06-06 09:28] antboiko commented on #4850
Hello @jordanbrierley , what version of Magento 2 are you running?

Thanks,
Anton.

[2016-06-06 09:43] jordanbrierley commented on #4850
Hi @antboiko version 2.0.2 currently

Thanks,
Jordan

[2016-06-06 09:55] kfaer commented on #4878
Hi,

could you please help on issue
#4879

On Mon, Jun 6, 2016 at 1:25 PM, Anton Boiko notifications@github.com
wrote:

[2016-06-06 09:56] SidneyBilliet commented on #4349
@alena-marchenko

Alena, I do not know how to test this on develop branch. However I have tested in in the 2.0.7 version and the problem still exists. How do I know If this fix was added to the 2.0.7 version?

[2016-06-06 09:59] antboiko commented on #4861
Hello @werdlv , thanks for your inquiry.

Here you can find all information about [Default Field Values](http://docs.magento.com/m2/ce/user_guide/catalog/product-fields-autogenerated.html) including Mask for Meta Description.

Regarding Meta Description doesn't strip HTML tags and breaks layout, the fix for this issue is already in develop branch and will be also available in one of future patches

[2016-06-06 09:59] #4861 closed, assigned to antboiko

[2016-06-06 10:12] antboiko commented on #4850
@jordanbrierley , I've created internal ticket MAGETWO-53927 to investigate this issue.

Thanks,
Anton.

[2016-06-06 10:28] katmoon commented on #4876
Hi @atIOCrON

Thank you for the good title and description!
I could easily reproduce the issue and logged it as `MAGETWO-53928` internally.

Thanks,
Kateryna.

[2016-06-06 10:33] antboiko commented on #4879
Hi @kfaer , thanks for reporting. Internal ticket MAGETWO-53929.

Best,
Anton.

[2016-06-06 10:34] antboiko commented on #3103
Hi @rkhoury82 , thanks for reporting. Internal ticket MAGETWO-53929.

Best,
Anton.

[2016-06-06 10:37] thdoan opened #4889 "Sample data installation error"
## Steps to reproduce
1. Install EasyPHP-Devserver-16.1.1-setup.exe from http://www.easyphp.org/.
2. Follow the instructions on https://blog.amasty.com/how-to-install-magento-2-php7-localhost/ (I have a Windows 7 32-bit system, so I downloaded the Magento-CE-2.0.7+sample_data-2016-05-24-01-28-33.tar.bz2 file).
3. Go to http://127.0.0.1:8888/magento2/ to start the setup process.
## Expected result

[2016-06-06 10:44] jordanbrierley commented on #4850
@antboiko Thanks for your help.

Just for some extra info, I also tried using the import/export using a CSV to add all the products to multiple websites instead of through the update all attribute and although this preserved the url rewrites for the default website, it didn't create any url rewrites for the other websites

Thanks,
Jordan

[2016-06-06 10:46] meetvora69 opened #4890 "issue"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-06-06 10:48] TommyKolkman commented on #1817
Yes - I'd like to do that too.

[2016-06-06 10:48] meetvora69 commented on #4890
i have run magento but some issue like
Unexpected character in input: '\' (ASCII=92) state=1 in C:\wamp\www\magento\index.php on line 23

Warning: Unexpected character in input: '\' (ASCII=92) state=1 in C:\wamp\www\magento\index.php on line 36

Warning: Unexpected character in input: '\' (ASCII=92) state=1 in C:\wamp\www\magento\index.php on line 36

Parse error: parse error in C:\wamp\www\magent

[2016-06-06 10:48] #3074 closed, assigned to nobody

[2016-06-06 10:57] skandamallapa opened #4892 "System tab is not working in admin panel"
## Steps to reproduce
1. Install Magento on XAMPP(Local server)
   2.Login to admin panel.
   3.Click on System Tab, it doesn't show you any option.

Why System Tab is not working..?

[2016-06-06 11:05] meetvora69 commented on #4892
but i have install on wamp..this is possible?

[2016-06-06 11:11] grasdaggel commented on #4792
Yes, tried that. Gave me no output.

[2016-06-06 11:12] basselalaraaj commented on #4887
@NadiyaS I am using magento 2.0.5, i see that it has been fixed in the develop branch in the template instead of in the model.
I saw in the module Magento_Rma, that it has been fixed in the module, the same way as my pull request.

[2016-06-06 11:17] meetvora69 commented on #4887
Warning: Unexpected character in input: '\' (ASCII=92) state=1 in C:\wamp\www\magento\index.php on line 23

Warning: Unexpected character in input: '\' (ASCII=92) state=1 in C:\wamp\www\magento\index.php on line 36

Warning: Unexpected character in input: '\' (ASCII=92) state=1 in C:\wamp\www\magento\index.php on line 36

Parse error: parse error in C:\wamp\www\magento\index.php on line 36
please

[2016-06-06 11:26] minhluan259 commented on #4745
I have extended DataProvider and it work.

`class DataProvider extends \Magento\Catalog\Model\Category\DataProvider
{

[code]

But if two extensions extend DataProvider, Are there conflict?

[2016-06-06 11:44] NadiyaS commented on #4887
@basselalaraaj , as this bug does not exist on the latest Magento version this issue will be closed. Also, please, close your PR.
@meetvora69 , if you have encountered a bug please create additional issue.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com

[2016-06-06 11:44] #4887 closed, assigned to NadiyaS

[2016-06-06 11:54] NadiyaS commented on #4890
@meetvora69 ,
please be careful when you create issue and provide concrete steps to reproduce, not leave them from sample.
Also remember that the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
Also be sure that you have corr

[2016-06-06 11:54] #4890 closed, assigned to nobody

[2016-06-06 11:57] routbiplab opened #4894 "Magento 2.0 API Issue in Attribute Set"
## Steps to reproduce

GET /V1/products/attribute-sets/{attributeSetId}/attributes
## Expected result

Return all the attributes related to that attribute set
## Actual result

Error:
{
“message”: “Internal Error. Details are available in Magento log file. Report ID: webapi-574ed41d7eb6e”
}
![restapi](https://cloud.githubusercontent.com/assets/17869716/15821169/bbec73f6-2c0b-11e6-916c-1b8e8ea92067

[2016-06-06 12:00] klict opened #4895 "Error while creating credit memo: Cannot save the credit memo"
When creating a credit memo in Magento 2.0.7, we get a the error "Cannot save the credit memo". When tracking it down, it seems we get an exception "There is no active transaction" in `vendor/magento/framework/Model/ResourceModel/Db/AbstractDb.php:411`, which was caused in `vendor/magento/framework/Model/ResourceModel/AbstractResource.php:81` when executing `\Magento\Framework\Model\ResourceModel\

[2016-06-06 12:08] AntonEvers commented on #4237
I have my env.php setup with `'initStatements' => 'SET NAMES utf8, time_zone="+00:00";',` so that works just fine.

No there are no specific issues as of yet. But as an extension developer I foresee problems here. You will encounter unexpected behaviour if a plugin developer decides to work with MySQL date functions.

[2016-06-06 12:11] kandy commented on #4048
@jameswithers,  You should use "Display Out of Stock Products"  setting to enable show out of stock product on store front, so I am closing this issue. Feel free to reopen issue if we missed anything.

[2016-06-06 12:11] #4048 closed, assigned to nobody

[2016-06-06 12:11] webkulabhi opened #4896 "I got this after bin/magento setup:di:compile"
[code]

magento is in Default mode...
When i removed var/di  error removed. But when i again run  bin/magento setup:di:compile i got same error .
magento version 2.0.7

[2016-06-06 12:16] skandamallapa commented on #4892
Which version did you installed...?
I have installed magento 2.0.

In admin panel,only dashbord is working.
All other menu's like sales,products,customer,marketing,content...etc are not opening....

[2016-06-06 12:16] kandy commented on #4045
@jameswithers, You should use "Display Out of Stock Products" setting to enable show out of stock product on store front, so I am closing this issue. Feel free to reopen issue if we missed anything.

[2016-06-06 12:16] #4045 closed, assigned to choukalos

[2016-06-06 12:22] kandrejevs opened #4898 "catalog_product_index_price after migration is not populated"
## Steps to reproduce
1. Migrate data from magento 1
## Expected result
1. All products from magento 1 should be visible in magento 2 FE
## Actual result
1. catalog_product_index_price table is not populated even after reindex. This causes a bug where none of the products are viewable in frontend, but categories and category filter in search are present.
2. After opening product in BE and saving i

[2016-06-06 12:37] 5zymon opened #4899 "2.1.0-rc1 - dropdown attribute required even when selected"
1. I've created new attribute with type of "dropdown".
2. I've assigned this attribute to a configurable product and created simple product variations with it.
3. I am not able to put product into the cart. Swatch attribute type works, only dropdown doesn't work, even when value is selected.

![ladies_size_product_attributes_attributes_stores_magento_admin_-_2016-06-06_14 33 35](https://cloud.gith

[2016-06-06 12:52] ghost commented on #4686
It doesn't look to me as if ping works. It should return results if it's working.

[2016-06-06 13:07] ishakhsuvarov commented on #4868
@pynej Thank you for reporting this issue. We already have an internal backlog item `MAGETWO-40101` to improve checkout loading time and make the page cacheable. We will update this ticket when it's implemented.

[2016-06-06 13:07] gaganzpr commented on #2577
Thanks for this
@mazhalai I have a query regarding integrating a new theme with new neader and footer.
Where do we place out header and footer html and how do we call it in the xml files and what makes it happen to appear in frontend.
I have started working on magento 2 from last 3 weeks and am very much confused with the folder structure of theme

[2016-06-06 13:38] flipflap commented on #4686
Ok thanks, I sent the screenshot to my hoster. I hope they can help me.

[2016-06-06 13:50] NadiyaS commented on #2659
Hi @markoshust ,
thank you for reporting this issue. Current Magento version does not already have this bug.
Feel free to reopen this issue if you still have the same problem on the latest Magento version.

[2016-06-06 13:50] #2659 closed, assigned to NadiyaS

[2016-06-06 14:32] NadiyaS commented on #3383
Hi @goralgen ,
thank you for reporting this issue.
This bug is already fixed in develop branch [87f27af](https://github.com/magento/magento2/commit/87f27afb8e581f47292303ac16c4685ca12e7f14).
Please update your code from develop branch or wait until next release.

[2016-06-06 14:32] #3383 closed, assigned to NadiyaS

[2016-06-06 14:35] NadiyaS commented on #3614
Hi @mihaizs  ,
thank you for reporting this issue.
This bug is already fixed in develop branch [87f27af](https://github.com/magento/magento2/commit/87f27afb8e581f47292303ac16c4685ca12e7f14).
Please update your code from develop branch or wait until next release.

[2016-06-06 14:35] #3614 closed, assigned to NadiyaS

[2016-06-06 14:35] NadiyaS commented on #4003
Hi @sengaigibon ,
thank you for reporting this issue.
This bug is already fixed in develop branch [87f27af](https://github.com/magento/magento2/commit/87f27afb8e581f47292303ac16c4685ca12e7f14).
Please update your code from develop branch or wait until next release.

[2016-06-06 14:35] #4003 closed, assigned to NadiyaS

[2016-06-06 14:39] mihaizs commented on #3614
Just out of curiosity, who is goralgen ?

[2016-06-06 14:41] NadiyaS commented on #3614
Sorry for typo

[2016-06-06 14:43] thilipdilip opened #4900 "icon and links are not working in admin"
After a fresh install of magento 2, In admin section Links in side menu bar not working when click on that and icons are not loaded in menu bar and full admin section.

[2016-06-06 15:07] davidalger commented on #2577
@gaganzpr Please do not comment on closed issues. Also, the GitHub issue tracker is intended for technical issues only, not questions and technical assistance. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com

[2016-06-06 15:09] davidalger commented on #4896
@webkulabhi What version of PHP are you running?

[2016-06-06 15:16] weilunallen commented on #1458
In 2.0.6, this problem still persist,  I can't use search's autocomplete, if mini-cart is not on the page, due to window.checkout.autocomplete is undefined.

[2016-06-06 15:21] webkulabhi commented on #4896
@davidalger running on php 7.0.6

[2016-06-06 15:32] #4823 closed, assigned to nobody

[2016-06-06 16:06] m0zziter commented on #2140
I'm running 2.0.7 and am also receiving this error.

One thing I noticed is that if the user's role has "All" resource access videos can be added no problem. However, if the role has "Custom" resource access with each resource checkbox selected the user will be unable to upload a video.

Is there some permission I can grant my users to allow them to upload videos in the meantime?

[2016-06-06 16:18] pynej commented on #3926
Both  this pull request and the sample code above cause all page's to stop being served by varnish.

[2016-06-06 16:19] carmelomtb opened #4902 "Session Does not work"
Customer and Default Session (I'have not test the other types) doen not work. Also the php variable $_SESSION contains bad values.
This issue is reproducible in magento 2.1.0-rc1, 2.0.7, 2.0.6, and lower versions.
You can reproduce the bug in the following way:

1) Install a magento 2.1.0-rc1 or a lower version

2) Change deploy mode to developer:
 `php bin/magento deploy:mode:set developer`

3) D

[2016-06-06 17:58] toddwolaver commented on #4902
@carmelomtb, looking at your description it would appear that your home page is cached under full page cache on the first call, prior to the session message being set. After setting the session message and returning to the home page you are receiving the cached version of the home page, which did not cache the session message.

You should take care in including session specific content in the rend

[2016-06-06 18:02] erikhansen commented on #4506
From what I've read here and from my independent testing, it seems like the "Enable Javascript Bundling" is currently unusable and should not be recommended for production environments. The way bundling has been implemented for M2 negates much of the benefits gained by RequireJS.

I would recommend the following:
- To prevent developers from enabling bundling without understanding its ramification

[2016-06-06 18:16] hostep commented on #4506
And let me just add one small addition: if your webserver is capable of running HTTP/2 (which will become more and more the case) it is really not recommended to enable bundling. Since HTTP/2 hasn't got performance problems with transferring a lot of smaller files.

[2016-06-06 18:17] pynej commented on #4612
Dupe of https://github.com/magento/magento2/issues/4710
Related to merge-css generating 15MB css file.

[2016-06-06 19:17] pynej opened #4904 "Excessive SQL Queries for configureable products."
## Steps to reproduce

Running Magneto 2.0.7, PHP 5.6, Mysql 5.6
- Wehave tested with `Use Flat Catalog` on and off.  These results were with it on.
- Create a single category with a few products and multiple dimensions on them.  We have 3 products with:
  - 15 colors, 5 sizes, and 3 embroidery locations.
  - This come out to around 700 configurations.
- Go to the category in the fronted.

Expecte

[2016-06-06 19:36] pynej commented on #4871
Create RP: https://github.com/magento/magento2/pull/4905

Note that this may not seam like a necessary feature as in some setup's varnish can look at the invoked url.  But in many cases the DNS might route externally so `http_cache_hosts` is used, or in cases with a shared caching serve or shared hosting.  In these cases the address called in varnish in not the actual site domain so it needs to be

[2016-06-06 21:04] ark99 commented on #4756
@zaghloul2, do you see any errors in browser console or in apache error log?

[2016-06-06 22:10] fooman opened #4906 "Order Tax Rate Information not saved - Full Tax Summary not working"
## Steps to reproduce
1. Install Magento 2.1.0-rc1
2. Create the following tax rates and rule
   ![screenshot-8b42285d9d75 local fooman co nz 2016-06-05 23-46-57](https://cloud.githubusercontent.com/assets/455508/15808433/dab0d0aa-2b77-11e6-9fa9-a8941b372431.png)

![screenshot-8b42285d9d75 local fooman co nz 2016-06-05 23-41-31](https://cloud.githubusercontent.com/assets/455508/15808426/a5a5ba74-2

[2016-06-06 22:20] teokolo opened #4907 "Multisite Cache problems"
## Steps to reproduce
1. Install Magento 2.0.7 or before
2. Create a second website, store and store view, let's assing the code "website2"
3. Configure website2 to require vat number on registration:
   config => customers => customer configuration => name and address options => show tax/vat number => REQUIRED (only for website2)
## Expected result
1. Vat number is not required for registering in

[2016-06-06 23:13] mikeweis commented on #4849
- This issue has been resolved and merged to develop. Feel free to let us know if you encounter any other issues.
- note: the fix was supplied via internal ticket MAGETWO-53194

[2016-06-06 23:13] #4849 closed, assigned to mikeweis

[2016-06-07 00:51] elenleonova commented on #4722
Hi @watermark, thanks for reporting the issue. We have acknowledged that and provided the patch that can fix the issue on PHP 5.5. You can find more details here: http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_207-upgrade.html
In case of any issues, feel free to reopen this issue or open a new one.

[2016-06-07 00:51] #4722 closed, assigned to mazhalai

[2016-06-07 04:08] minhluan259 commented on #4760
I have download zip from git and use installation wizard.

[2016-06-07 04:42] parthviroja opened #4908 "Configurable Product : display require field message when we click on save."
1 : i have create configured product.
2 : create custom attribute "size" , type : text-switcher , ex: [ 10,20,30,110ml,200ml,300ml ]
3 : now i have added 1 virtual product with quantity and weight and select size.
4 : default "Size" field is display in configures product , when click on [ save ] display message

![demo](https://cloud.githubusercontent.com/assets/9655554/15846161/3a571c00-2c98-11e6

[2016-06-07 06:21] arijit-de93 opened #4909 "Multiple invoices are getting generated for a single order using REST Api"
## Steps to reproduce
1. Install Magento 2.
2. Create Order
3. Create invoice for that order using REST Api
## Expected result
1. One invoice for that order
2. ...
## Actual result
1. Multiple invoices are being created.

[2016-06-07 06:21] kandrejevs commented on #4898
After manually deleting all entries in `indexer_state` table, Indexer finally performed full reindex and populated `catalog_product_index_price` table.

[2016-06-07 06:41] nsergo commented on #4146
I get this error when Single-Store Mode is turned on, but it's fine if it's turned off. Version is 2.0.7

[2016-06-07 06:52] sasilinux opened #4910 "Product Attribute empty option values"
## Steps to reproduce
1. Creating New Product in Magento 2.
2. Can't able to set the empty value for attributes while saving the product.
## Expected result
1. Example: No need to choose the color attribute for the product.
## Actual result
1. [Example] For color, It will take the default value which is stored while creating the attribute values.
2. Please have a look at the screenshot
   ![color

[2016-06-07 06:53] zhiyicai opened #4911 "update-cron.ERROR: Cron readiness check failure! Found following non-writable paths [] []"
update.log

[2016-06-07 08:49:02] update-cron.ERROR: Cron readiness check failure! Found following non-writable paths    [] []
[2016-06-07 08:50:02] update-cron.ERROR: Cron readiness check failure! Found following non-writable paths    [] []
[2016-06-07 08:51:01] update-cron.ERROR: Cron readiness check failure! Found following non-writable paths    [] []

How can we solve?

[2016-06-07 07:04] sasilinux opened #4912 "Multi store product not assigned correctly via REST API"
## Steps to reproduce
1. for adding the product: [POST] http://127.0.0.1/magento2/index.php/rest/V1/products.
2. for assigning the product with store id: [PUT] http://127.0.0.1/magento2/index.php/rest/store2/V1/products/ZZZ(product sku - ZZZ).
## Expected result
1. The product "ZZZ" should be assigned in main store and "store2" .
## Actual result
1. The product "ZZZ" will be assigned only in "stor

[2016-06-07 07:18] commcad commented on #4911
Encoding issues. Unicode and utf-8 conflict... utf-8 converting everything back to 3 bits perhaps, dunno? Those seems to be Chinese named folders.

[2016-06-07 07:25] tinelps commented on #3615
hi @arunkasyakar, can you please tell me what did you do to solve this problem? what issue from your side? as i am facing the exactly same error with you right now. Please reply, thanks.

[2016-06-07 07:35] sdzhepa commented on #4852
@Deepthi57 Thank you for reporting this issue. We have created an internal ticket `MAGETWO-53986` to fix the problem.

[2016-06-07 07:38] flipflap commented on #4686
The ping doesn't work on all Servers, we also tried it on Servers the update wizzard works well. So this can't be the reason why I can't update.
![ping](https://cloud.githubusercontent.com/assets/6672673/15849551/7390333a-2c93-11e6-8b35-9335848e2ea0.png)

[2016-06-07 08:20] Bbbrinks commented on #4806
Seems like all prodcuts in the "Root Category" of the store are returned in the rest api. No filtering is done based on the product configuration.

I don't know what the expected behavior would be for this. But it might be logical if the same products are shown on the front-end as in the REST api.

[2016-06-07 09:14] davidnguyen2205 commented on #3572
This issue is still reproducible in Magento 2.0.7. Actually, I faced to this issue in Magento 2.0.5 but after upgrading to 2.0.6, it worked fine. Now after upgrading to 2.0.7, this issue comes back...

[2016-06-07 09:39] katmoon commented on #2424
Hi @stasleo

I cannot reproduce the issue.
I've created a catalog rule with condition 'SKU contains 01' on sample data and it matches and applies the discount to the expected products.

Can you reproduce the issue? If yes, please provide more detailed [steps](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) on how you create the rule.

Thanks,
Kateryna.

[2016-06-07 09:48] AngelsDustz opened #4913 "Magento template hints 'removes' part of Luma theme? [Magento 2+]"
## Steps to reproduce
1. Install Magento 2.0.0
2. Select the Luma theme
3. Turn on template hints
## Expected result
1. The theme with all of its elements being displayed with template hints
## Actual result
1. Some elements dissapear (? They exist, but are not find-able/shown?)
2. See [img](http://i.imgur.com/V8do2ex.png), this is the normal Luma theme.
3. When you turn on template hints, you see

[2016-06-07 10:37] kgvconsulting opened #4914 "Apache error AH01797 with trow to white screen server error 500"
I'm getting the following Apache error from Magento configuration with trowing the Magento application to white screen server error 500

"[Mon Jun 06 22:20:40.350560 2016] [access_compat:error] [pid 11470] [client xxx.xxx.xxx.xxx:36636] AH01797: client denied by server configuration: /home/xxxxxx/public_html/app/etc/config.php"

As per Apache documentation, this error is related to the new Apache

[2016-06-07 10:48] NadiyaS commented on #3415
Hi @anumary ,
thanks for reporting this issue.
magento version 2.0.7 really has problem with reorder. But it was fixed on develop branch.
You can upgrade your code from develop branch or wait until next release.
Feel free to reopen this issue if you have encountered this bug on upgraded version.

[2016-06-07 10:48] #3415 closed, assigned to NadiyaS

[2016-06-07 10:51] alena-marchenko commented on #4785
Hi @commcad

Please provide us with debug.log file that is located in var/log directory under magento root folder. Please als ensure that "Debug: option is set to Yes Under PayPal Payments Standard configuration.

[2016-06-07 10:56] mslabko commented on #4912
Hello @sasilinux ,

I cannot reproduce issue for develop branch - all works as expected.

Could you please provide more information - what version of Magento 2 you are using?
"main store" and "store2" is assigned to one website or different?

[2016-06-07 10:59] NadiyaS commented on #3458
Hi @keyurshah070 ,
magento version 2.0.7 really has problem with reorder. But it was fixed on develop branch.
You can upgrade your code from develop branch or wait until next release.
Feel free to reopen this issue if you have encountered this bug on upgraded version.

[2016-06-07 10:59] #3458 closed, assigned to NadiyaS

[2016-06-07 11:15] NadiyaS commented on #4895
Hi @klict ,
we can not reproduce this issue. Can you provide us what payment method do you use or other information which can affect this issue.
Thanks

[2016-06-07 11:25] vektor-dev commented on #3102
Hello - this is still here in 2.0.7 and am unable to checkout too.

[2016-06-07 11:26] stamster commented on #4914
Have you tried to remove deprecated syntax? It's not that hard.

Otherwise just use Nginx, even though Magento is designed in a very wrong way from ground up to actually respect your web server.

[2016-06-07 11:29] mslabko commented on #4910
Hi @sasilinux ,
Thank you for reporting! We have already similar issue in our backlog: MAGETWO-50123

[2016-06-07 11:35] flancer64 opened #4916 "Possible data inconsistency in "cataloginventory_stock_item""
Hello,

I discovered DB structure and found that there is extra field named "website_id" in "cataloginventory_stock_item".

Each stock item is related to "cataloginventory_stock" (foreign key: stock_id). Stock record in "cataloginventory_stock" has field "website_id" is related to "store_website". So, each record in "cataloginventory_stock_item" is related to record in "cataloginventory_stock" and

[2016-06-07 11:36] NadiyaS commented on #4817
Hi @ksz2013 ,
thank you for reporting this issue.
Internal ticket MAGETWO-54002 was created.

[2016-06-07 11:48] NadiyaS commented on #4773
Hi @MidnightDesign ,
thank you for reporting this issue.
Internal ticket MAGETWO-54003 was created

[2016-06-07 11:51] sasilinux commented on #4912
main store and store2 is assigned to different website.

[2016-06-07 11:53] MidnightDesign opened #4917 "Order emails are broken when inline translations are turned on"
## Steps to reproduce
1. Enable inline translations in admin
2. Order something in the frontend
## Expected result

I get a confirmation email with my order data.
## Actual result

I get an email with placeholders (`{{var ...}}`, etc.).

[2016-06-07 12:06] andrss commented on #473
@mbrinton01 Will be this feature available for CE edition or it will be EE only feature?

[2016-06-07 12:12] sasilinux commented on #4912
When i search for How can i set a name or custom attribute for a specific storeview through REST API?
I get the answer from the post. They mentioned that PUT on www.mystorehost.com/rest/default_en/V1/products{sku}. so i did the same in Magento2. but the mainstore view overrides with the current store view.

[2016-06-07 12:26] sdzhepa commented on #3423
Hello @BaberAhmed. Described issue was fixed in the latest release and was verified on 2.0.7.
Notice: to apply translation for cacheable pages it is required to flush cache("Translation Cache Type"; System>Cache Management)

[2016-06-07 12:28] mslabko commented on #4912
Could you please check on develop branch? I've just checked case with 2 websites and it works as expected: if i do PUT http://127.0.0.1/magento2/index.php/rest/store2/V1/products/ZZZ with different name, then this name is stored only for store2, not for default.

[2016-06-07 12:28] NadiyaS commented on #4618
Hi @Doability ,
thank you for reporting this issue. It really exists on 2.0.7 version. But develop branch does not have this bug.
You can upgrade your code from develop branch or wait until next release.
This issue is closed as resolved.
Feel free to reopen it if you have encountered this bug on upgraded version.

[2016-06-07 12:28] #4618 closed, assigned to NadiyaS

[2016-06-07 12:30] NadiyaS commented on #4759
Hi @mengento ,
thank you for reporting this issue. The same issue was reported in #4618.
It really exists on 2.0.7 version. But develop branch does not have this bug.
You can upgrade your code from develop branch or wait until next release.
This issue is closed as duplicate.

[2016-06-07 12:30] #4759 closed, assigned to nobody

[2016-06-07 12:35] mcspronko commented on #2917
Hi Magento team,

Any updates regarding this issue?

Thanks,
Max

[2016-06-07 12:37] sasilinux commented on #4912
values changed correctly. But the Website id will overrides the existing. please check the db table catalog_product_website.

[2016-06-07 12:38] mcspronko commented on #1146
Hi @tanya-soroka and @piotrekkaminski

Do you guys have any updates for this ticket?

Thanks,
Max

[2016-06-07 12:41] mslabko commented on #4912
Which version of Magento you are using? For develop branch (or 2.1-rc) websites are assigned correctly. In your case after POST /rest/store_from_website_1/V1/products and PUT /rest/store_from_website_2/V1/products/{sku} product must be assigned to both websites (1, 2)

[2016-06-07 12:43] alena-marchenko commented on #4787
Hi @mageshdeveloper ,

Please specify if there are any extensions installed, provide us with debug.log located in var/log of Magento root folder (ensure that Debug option set to Yes), exception.log if available, screenshot of Authorize.net configuration in Magento admin. Please also enable dev tools in your browser and provide us with browser console errors if any and observe requests to Authorize

[2016-06-07 12:48] alena-marchenko commented on #4580
Hi @SidneyBilliet

Is this issue still reproducible after adjusting PayPal account settings?

[2016-06-07 12:48] Deepthi57 commented on #3854
Hi, I have update Magento EE to 2.0.7 version and issue still persists. Page remains in cart even after cliking on Proceed to checkout. Kindly requesting for an update on this issue.

[2016-06-07 12:49] sasilinux commented on #4912
i am using Magento 2.0.1

[2016-06-07 12:57] sasilinux commented on #4910
when checking this bug, we believe the problem is in styles.css. If we remove this it works properly. Why you write this in css.
option:empty {
    display: none;
}

[2016-06-07 13:18] kgvconsulting commented on #4914
@stamster

I can remove the deprecated syntax, however with the way Magento "work" better verify first, don't want to end up with breaking down because of the syntax change. Do you had experience with this? Does Magento work with the new Apache directives?

[2016-06-07 13:24] stamster commented on #4914
I don't know since I only use Nginx in both dev and prod environments, and for problems you're having that's why I'd recommend you to try with Nginx.
P.S. Magento2 ships with default nginx configuration which has syntax bug, so you need to fix this manually by closing server block with an ending bracket `}`

I had similar issues with Apache in the past though, and for 2.4 solution would be as simp

[2016-06-07 13:33] sas-flame opened #4918 "Resource id issue"
## Steps to reproduce
1. Install Magento from `2.0` branch.
2. Go to System->User Roles.
3. Select the administrators role.
4. Set the custom resource access.
5. Ensure that Store Email Addresses Section checkbox is checked.
6. Click the Save Role button.

Expected result:
 Store Email Addresses Section should be visible in the admin panel

Actual result:
 Store Email Addresses Section is not visi

[2016-06-07 13:37] oserediuk commented on #4389
Hello @twslade! Thank you for the report! We have created issue in our bugtracker system MAGETWO-54008 . It will be fixed as soon as possible.

[2016-06-07 13:42] kgvconsulting commented on #4914
@stamster I did think the same, but found this about Magento htaccess stoping to work if the Apache directives are upgraded - #1491

So decided to double check first, as you say better if changes are needed to be done once I may move to  Nginx instead to spend days fixing bugs ....

[2016-06-07 13:48] mslabko commented on #4006
hi @kanduvisla ,
It's better to use API  for save product. Please, check \Magento\Catalog\Api\ProductRepositoryInterface::save

According to problem with save product via iteration - we will investigate it and create issue

[2016-06-07 13:58] NadiyaS commented on #3402
Hi @prince-auriga ,
please provide us concrete steps to reproduce the bug. Also specify magento version where you encountered this issue.

[2016-06-07 14:05] klict commented on #4895
Hi @NadiyaS  ,
I have used 'Check / Money order' for payment method and we used 'Table Rates' as shipping method. We have tried to create credit memo of orders originated from backend and frontend but with both we can't create a credit memo.

[2016-06-07 14:41] oserediuk commented on #4912
Hello,@sasilinux! I have tried  to reproduce this issue, but it haven't been reproduced.
My branch  is on the commit b366da3aee0155ffabb4772ea63f76e6e13f877e. Is you branch on the same commit? Please, clarify steps to reproduce

[2016-06-07 14:43] antonkril commented on #2399
"Fail fast" - should be default behavior for developer mode. This will be processed as dev experience improvement.

[2016-06-07 14:47] victor-v-rad commented on #3066
Sorry for late reply. I assume you did not migrate settings before data migration
`php bin/magento migrate:settings`

[2016-06-07 14:49] dkvashninbay commented on #4777
@vovan1983 Please clarify do you face an issue with Magento_Authorizenet module on 2.0.7 build?
If so, please specify steps to reproduce on a clean M2 installation.
Currently we do not have any issues on 2.0.7

[2016-06-07 14:56] sdzhepa commented on #4872
Hello @twistedindustries !
We have tried to reproduce this issue
We use clear Magento installation from GitHub(2.0.7). It means with default settings as after installation, without any extensions, on default Magento mode
After installation was created two simple product and then TWO bundle(bundle1, bundle2) products that contain both simples.
Bundle products settings:
 **First bundle has settings*

[2016-06-07 15:07] mcspronko commented on #4047
Hi @piotrekkaminski

Any updates for this error?

Thanks,
Max

[2016-06-07 15:24] mbrinton01 commented on #473
@andrss It will be EE only

[2016-06-07 15:58] iluvcode commented on #3018
@fooman , @ktomk
any luck with Sort functionality? I installed 2.0.5 and it is still broken. I get unsorted results.

rest query: orders?searchCriteria[sortOrders][0][field]=created_at&searchCriteria[sortOrders][0][direction]=desc&searchCriteria[current_page]=1&searchCriteria[page_size]=4

[2016-06-07 16:00] oserediuk commented on #4484
Hello @jchesko ! I have checked your case on our current code version and I have not got 403 error. Image have been displayed successfully. So, try to update code and reproduce one more time.

[2016-06-07 16:00] prince-auriga commented on #3402
Hello,
Thanks for replay
Now i solve this working properly.

Thanks
Prince

On Tue, Jun 7, 2016 at 7:28 PM, Nadiya Syvokonenko <notifications@github.com

[2016-06-07 16:03] snoroozi commented on #473
Shit

On Tue, Jun 7, 2016, 11:25 AM Mark Brinton <notifications@github.com> wrote:

[2016-06-07 16:11] fooman commented on #3018
@iluvcode it's not in the  2.0.7 release but the change is present in 2.1.0-rc1

[2016-06-07 16:19] duhon commented on #4006
Hello @kanduvisla

I couldn't reproduce the problem on current version.
Tried steps:
- I created a product configuration with the attribute of manufactory
- launched the above code
- opened the created product on the edit

Please clarify steps to reproduce, version and installed extensions

[2016-06-07 17:06] duhon commented on #4014
I can't reproduce on current version. You can upgrade to the latest version?

[2016-06-07 17:20] ghost commented on #2121
I am having a similar issue. Not all the categories that appear in the navigation menu dropdown are appearing in the category section in the layered navigation. There doesn't seem to be anything related with what shows up and what doesn't show up. All categories are set as anchors. Some categories have sub categories and some don't. It doesn't seem to make a difference as to them showing up or not

[2016-06-07 17:21] duhon commented on #4439
I can't reproduce bug on current version. Which version are you using?

[2016-06-07 17:28] mikeweis commented on #4906
@fooman Thank you for reporting. We have created internal ticket MAGETWO-53005 to track this issue.

[2016-06-07 17:30] alena-marchenko commented on #4083
Hi @moe-kayali

Closing the issue, fix has been delivered to develop branch.

[2016-06-07 17:30] #4083 closed, assigned to guz-anton

[2016-06-07 17:31] alena-marchenko commented on #4282
Closing the issue, fix has been delivered to develop branch.

[2016-06-07 17:31] #4282 closed, assigned to nobody

[2016-06-07 17:35] alena-marchenko commented on #4264
Closing the issue, fix has been delivered to develop branch.

[2016-06-07 17:35] #4264 closed, assigned to elenleonova

[2016-06-07 17:38] alena-marchenko commented on #4385
Closing the issue, fix has been delivered to develop branch.

[2016-06-07 17:38] #4385 closed, assigned to NadiyaS

[2016-06-07 17:41] hostep commented on #2917
I really like option 3 of @remkoj-ism's suggestions

It would allow extension developers / integrators to also add logic to add contents to the robots.txt file.

For example: I'm thinking about 3rd party layered navigation modules, which can sometimes add a whole bunch of query parameters to the product listing url's depending on how you filter/sort/search for products. In most of the cases, you d

[2016-06-07 19:31] southerncomputer commented on #4506
Expected '}'
File: bef36da44feee702d670095d789f94f7.min.js, Line: 136, Column: 49365

Getting this error on IE and Firefox plus admin section no longer functioning after enabling bundling on 2.0.6 !

This seems about as reliable as the old magento 1 compiler ! Having to load +140 .js files due to this feature not working is severely bad!

[2016-06-07 19:38] erikhansen commented on #4506
@southerncomputer Your browser will cache the JS files, so while the first page will load more slowly, subsequent pages will use the cached JS files. And since the JS is being loaded asynchronously via RequireJS, the page will render before the JS files are loaded.

That being said, it does seem a bit much to have ~118 JS files loaded for a [vanilla M2 homepage](http://magento2-demo.nexcess.net/)—

[2016-06-07 20:51] mstumpf818 opened #4920 "Admin permissions error when trying to save WYSIWYG content"
## Steps to reproduce
1. Install Magento 2.0.6
2. Sign into the admin panel as a user with full permissions
3. Go to Content > Pages and select "edit" for a page
4. Go to the "Content" tab and enter this text in the editor: `from time-to-time (collectively, "Conditions")`
## Expected result
1. The WYSIWYG properly encodes/converts any special characters so that content is able to be saved
## Actua

[2016-06-07 21:32] elenleonova commented on #4741
The internal ticket number is MAGETWO-53865. We will try to slot it into one of the upcoming patch releases.

[2016-06-07 22:16] PetraSwed opened #4921 "Checkout rules.js:56 Uncaught TypeError: Cannot read property 'length' of undefined"
Having this issue on two magento installations ver. 2.0.4 and ver. 2.0.6. (the second one is a new installation without any modules, blank theme)
## Steps to reproduce
1. Proceed to checkout
2. Fill in shipping information
3. Choose shipping method
4. Hit the "back" button on your web browser
5. Click Proceed to checkout again
## Expected result

Checkout page with pre-filled information
## Actual

[2016-06-08 00:33] erikhansen opened #4922 "PayPal Express checkout review page UI needs improvement"
The PayPal Express review page has typically always been lacking in its UI. Here is a screenshot of a live M2 review page with some suggestions for improvement (note: this theme is based on the Magento/blank theme):

![19-31-15 review order 21st century task seating-6tdv1](https://cloud.githubusercontent.com/assets/129031/15879106/959fb542-2ce6-11e6-86a5-ca8bc4f47075.png)

As a point of reference,

[2016-06-08 01:09] zaghloul2 commented on #4756
i have tried everything
cant solve the problem !!

[2016-06-08 02:34] melnikovi commented on #4237
@ajpevers how do you know that cron schedule in database is not in UTC? Also, you don't need to use initStatements in env.php to set timezone for connection, it's handled by framework.

[2016-06-08 04:58] sasilinux commented on #4912
Hi can u please tell me when 2.1.x will be released.

[2016-06-08 04:59] sasilinux commented on #4912
currently we are working and customizing in magento 2.0.1. Also we have purchased some paid extensions and working on the same. so can u please guide me is it safe.?

[2016-06-08 06:04] Vinai opened #4923 "Composer upgrade to 2.1.0-rc2 fails with dependency version conflict on magento/framework"
## Steps to reproduce
1. Install 2.1.0-rc1 with sample data using `composer create-project`
2. Run `composer require magento/product-community-edition 2.1.0-rc2`
## Expected result

Magento being upgraded to release 2.1.0-rc2.
## Actual result

[code]
## Additional information

Here is the `composer.json` for the 2.1.0-rc1 installation, before attempting the upgrade.

[code]

[2016-06-08 06:34] Nehace40 opened #4924 "Setup upgrade throws error"
When i upgrade setup script than it will throw this error

I am giving full access to user

i am run this command

SHOW GRANTS;

OUTPUT:

+-------------------------------------------------------------------------+
| Grants for qsvmtwoc_nb@%                                                |
+-------------------------------------------------------------------------+
| GRANT USAGE ON _._ TO 'qsvmtwoc_

[2016-06-08 07:01] redboxmarcins commented on #3066
@victor-v-rad - no I didn't migrate settings - is there any reference in the settings migration to recreate sequence tables?

[2016-06-08 07:09] ghost opened #4925 "Inlinetranslation breaks frontend submits"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to backend
3. Stores -> Configuration -> Advanced -> developer
4. Translate inline -> enabled for storefront -> yes
## Expected result
1. Frontend account login works.
## Actual result
1. Error message appears on route `https://shopdomain.abc/customer/account/loginPost/`
2. Error : `Warning: array_key_exists() expects parameter

[2016-06-08 07:28] kuamanet commented on #4911
Same issue too... Any suggestions?
Thx!

[2016-06-08 07:29] qwerty7869 commented on #4591
@ishakhsuvarov  - On merging commit eec3cf1 in my setup getting error as TypeError: _.each is not a function. Please help me out to resolve this problem.

[2016-06-08 07:49] Nehace40 commented on #4924
I changed 'localhost' to '127.0.0.1' in app/etc/env.php And its worked

[2016-06-08 07:49] #4924 closed, assigned to nobody

[2016-06-08 08:07] fooman commented on #4923
I think installation with sample data was never supported for the first release candidate.

[2016-06-08 08:17] oserediuk commented on #4912
For find out release date, please, follow marketing updates.
GitHub issue tracker is intended for technical issues only, not questions and technical assistance. Please, refer to the Community Forums or Magento Stack Exchange site for technical questions. In your case, the programming questions forum is likely the most appropriate. https://community.magento.com/t5/Programming-Questions/bd-p/program

[2016-06-08 08:21] mslabko commented on #4910
According to screenshot you are using 2.0.1 version.  In  2.1 last mentioned issue will be fixed, so please follow up marketing update.

[2016-06-08 08:32] antboiko commented on #4899
Hi @5zymon , thanks for reporting. We've created internal ticket MAGETWO-54043 to investigate this issue.

Best,
Anton.

[2016-06-08 08:32] oserediuk commented on #4602
Hello @piatrouski ! Could you clarify steps to reproduce? Which version code do you use?

[2016-06-08 08:35] vzabaznov commented on #4894
Hi @routbiplab can you please show what are in webapi-574ed41d7eb6e log?

[2016-06-08 08:37] slavvka commented on #3479
@nja78, the issue has been fixed and delivered. Please check.

[2016-06-08 08:37] #3479 closed, assigned to slavvka

[2016-06-08 08:40] vpodorozh commented on #4771
Hi @asemenenko , when do you expect to develop this feature?

[2016-06-08 08:40] oserediuk commented on #4621
Hello, @licentia ! I can create grouped product successfully by web interface. Could you clarify steps to reproduce?

[2016-06-08 08:46] Vinai commented on #4923
@fooman yes it was. Only if it was an upgrade from 2.0, the sample data versions had to be set to `100.1.*` manually.

[2016-06-08 08:48] slavvka commented on #2341
@CNanninga, the issue has been fixed. Please see 6c0b8cf, 5e74abf, d865ca8, b3789a4, f8b2344.

[2016-06-08 08:48] #2341 closed

[2016-06-08 08:48] slavvka commented on #2337
@CNanninga, the issue has been fixed. Please see 6c0b8cf, 5e74abf, d865ca8, b3789a4, f8b2344.

[2016-06-08 08:48] #2337 closed

[2016-06-08 08:51] slavvka commented on #2087
Closing since the author didn't respond

[2016-06-08 08:51] #2087 closed

[2016-06-08 08:52] NadiyaS commented on #4666
Hi @creatuitydevelopers ,
Fix has been delivered to develop branch [23d12c9](https://github.com/magento/magento2/commit/23d12c9b1d4a161f3070a97eb85f7e1f3b6c11d4).
You can upgrade your code from develop branch or wait until next release.
Issue is closed as resolved.

[2016-06-08 08:52] #4666 closed, assigned to NadiyaS

[2016-06-08 08:53] slavvka commented on #2831
@aayushivadhva, can you repoduce it on the latest code. If not please update your codebase

[2016-06-08 08:56] slavvka commented on #3650
Closing since the author didn't answered

[2016-06-08 08:56] SidneyBilliet commented on #4580
@alena-marchenko , Hi Alena, the problem was fixed after adjsuting the paypal setting. However we would like to understand why Magento sent the same invoice number several times. Do you have an answer to that question, please?

[2016-06-08 08:56] slavvka commented on #3664
Closing since the author didn't respond

[2016-06-08 08:57] NadiyaS commented on #3929
Hi @tanghia ,
fix has been delivered to develop branch.
Issue is closed as resolved.

[2016-06-08 08:57] #3929 closed, assigned to NadiyaS

[2016-06-08 09:01] anton-huz commented on #4261
Hi @ntoombs19 ,
Issue's fix has been delivered to mainline.
Fill free to review it. Please comment if any notice you have.

[2016-06-08 09:01] #4261 closed, assigned to nobody

[2016-06-08 09:10] slavvka commented on #4441
@davissuperman, thank you for reporting it. There's an internal ticket MAGETWO-42954

[2016-06-08 09:13] slavvka commented on #4523
Could you please create another ticket for this problem?

[2016-06-08 09:13] #4523 closed, assigned to slavvka

[2016-06-08 09:13] zanilee commented on #4913
Hi, @AngelsDustz!

Can't reproduce this issue neither on Magento 2.0.0, nor on the latest Magento2.
Have you tried to flush all caches?

[2016-06-08 09:13] GiriManas commented on #4528
I have followed your structure of request i.e
magento-host/V1/products/attribute-sets/sets/list

The response we are getting is

{
  "message": "%fieldName is a required field.",
  "parameters": {
    "fieldName": "searchCriteria"
  }
}

Can you please help me regarding this

[2016-06-08 09:14] slavvka commented on #4689
Closing as the author didn't respond

[2016-06-08 09:14] #4689 closed, assigned to slavvka

[2016-06-08 09:15] okobchenko commented on #4904
Hi, Pynej.

Thank you for reporting this issue. M2 Engineering team has already detected performance bottlenecks connected with high number of configurable options in product. Fix is already available in 2.1 release candidates and will be present in 2.1 GA version. Currently team is working on delivering fix for 2.0 within one of upcoming patch releases.

[2016-06-08 09:16] fooman commented on #4923
Are there any published sample data modules for rc2? If not it would make sense that this blocks the upgrade if any of sample modules themselves have a dependency on `magento/framework 100.1.0.0-RC1`

[2016-06-08 09:22] slavvka commented on #4767
@vutrankien, thak you for reporting the problem. The internal ticket MAGETWO-54044 has been created.

[2016-06-08 09:27] slavvka commented on #2762
Could you please give us all changed and introduced files as it is hard to understand the problem.

[2016-06-08 09:38] Vinai commented on #4923
Tbh I have not checked where exactly the dependency on magento/framework 100.1.0-rc1 is stated. No time atm, so I only created this issue.

[2016-06-08 10:00] xiangkundavis commented on #4441
HI, What is  the url of MAGETWO-42954, I try to check this ticket but can not find it.

[2016-06-08 10:01] #3402 closed, assigned to NadiyaS

[2016-06-08 10:04] mslabko commented on #4925
Hi @xhallix ,
Thank you for reporting! Internal ticket for this issue: MAGETWO-54051

[2016-06-08 10:04] NadiyaS commented on #3402
Ok, issue is closed as not actual.

[2016-06-08 10:06] SidneyBilliet commented on #4376
@piotrekkaminski  Just tested this in version 2.0.7 and still I get only 21 exported records of the 578 in total.

[2016-06-08 10:06] AngelsDustz commented on #4913
It has been flushed, cleared and even rm -rf'd multiple times to no avail.
From using the admin panel to CLI to straight up *nix commands.

[2016-06-08 10:08] devamitbera commented on #2412
For share hosting it difficult to change user.Then what will be good idea. For a case, i have change file permission from **Magento\Framework\Exception\FileSystemException\DriverInterface** i have change `WRITEABLE_DIRECTORY_MODE = 0770`; to`WRITEABLE_DIRECTORY_MODE = 0775;`and`WRITEABLE_FILE_MODE = 0660` to `WRITEABLE_FILE_MODE = 0664`.It is working for me.

Are u thought that is identical proces

[2016-06-08 10:09] #4912 closed, assigned to nobody

[2016-06-08 10:33] bvboas commented on #4621
I don't have that installation anymore, but the error happened in a installation with migrated content.

[2016-06-08 10:40] duhon commented on #3993
Hello @stanislav-zgr
Thank you for the report! We have created issue in our bugtracker system MAGETWO-54060

[2016-06-08 10:43] flancer64 opened #4927 "New objects with IDs are not saved and no errors are thrown"
Hello,

I create new stock object in case there is no stock with given ID (I know that ID is autoincremented value, this is code to create test data):

[code]

There is no errors in this code and no new object is created. New object will be created if I remove following string from code:

[code]

I debugged code and found that `updateObject` is called instead of `saveNewObject` in `\Magento\Framew

[2016-06-08 10:45] mslabko commented on #4889
Hello @thdoan ,

This issue already fixed in develop branch, could you please test on 2.1-rc branch?

[2016-06-08 10:46] slavvka commented on #4441
As I mentioned it is an internal ticket. Once it is fixed this issue will be closed

[2016-06-08 10:51] fooman commented on #4923
Just tried it with your `composer.json`

`composer require magento/product-community-edition:2.1.0-rc2`

did not work for me either with a similar message you have. However using

`composer require magento/product-community-edition:2.1.0-rc2 --update-with-dependencies`

worked.

[2016-06-08 11:12] designhunger commented on #4379
In our case this was related to the payone payment plugin. They are updating their plugin next week, so this should be fixed by then.

[2016-06-08 11:13] Vinai commented on #4923
Nice! Thanks, I didn't know the `--update-with-dependencies` flag.

[2016-06-08 11:17] fooman commented on #4923
Neither does the official ReadMe - so maybe leave this issue open so that that can be updated.

[2016-06-08 11:29] antboiko commented on #4881
Hi @RG-1 , thanks for your inquiry. Could you please provide some specific use cases why attribute should not be saved if user added non-unique values to it?

Thanks,
Anton.

[2016-06-08 11:37] designhunger commented on #3759
This is still a problem under 2.0.7.

[2016-06-08 11:40] NadiyaS commented on #3393
Hi @tiamo ,
cart price rule is editable without bugs on version 2.0.7.
Please upgrade your code. If you still have the same problem on 2.0.7 version, please, add all necessary steps to reproduce.

Thanks.

[2016-06-08 11:50] slackerzz commented on #4770
i've found that also [tabs](http://magento2-demo.nexcess.net/pub/static/frontend/Magento/blank/en_US/css/docs/sections.html) and [popup](http://magento2-demo.nexcess.net/pub/static/frontend/Magento/blank/en_US/css/docs/popups.html) examples are broken

[2016-06-08 11:52] oserediuk commented on #4621
So, you don't have this issue?

[2016-06-08 11:53] Asitis opened #4928 "Mass-Selection checkbox not functioning properly"
I realized that the mass-selection checkbox is disfunctional. Take for instance the Notification screen:

![selectall](https://cloud.githubusercontent.com/assets/9464641/15893417/e81fdc9a-2d7f-11e6-9bd9-75488d616402.gif)
## Steps to reproduce
1. Install Magento 2.0.7.
2. Open any screen in the admin with a mass-selection header and click the arrow / box
## Expected result
1. See the dropdown list

[2016-06-08 11:55] oserediuk commented on #4642
Hello @arthursp ! Looks like this issue belongs to pack which you have installed. I cannot reproduce this case on magento french locale

[2016-06-08 12:00] bvboas commented on #4621
I had. Now I don't because I removed that installation.

[2016-06-08 12:02] oserediuk commented on #4621
So, we can closed the issue?

[2016-06-08 12:03] bvboas commented on #4621
Yes

[2016-06-08 12:04] jatin222 opened #4929 "Installation is incomplete at 73%"
I am trying to install brand new magento
But got error in console log

Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':

Module 'Magento_AdvancedPricingImportExport':

Module 'Magento_Directory':

Module 'Magento_T

[2016-06-08 12:04] mslabko commented on #4857
Hi @myownspace ,
Thank you for reporting! Internal ticket created: MAGETWO-54066
As a workaround you can use plugin for public method for add additional behaviour to model

[2016-06-08 12:04] oserediuk commented on #4621
Thank you!

[2016-06-08 12:05] #4621 closed, assigned to nobody

[2016-06-08 12:17] antboiko commented on #4908
Hi @parthviroja , thanks for you inquiry.

What Magento version you are using?

Could you please provide more detailed steps so we would be able to try reproducing your issue? Especially:
- Did you use your custom attribute "size" for creating Configurable product?
- "Size" attribute has option "Values Required = Yes"?
- Was it added to the same Attribute Set you have chosen for your Configurable

[2016-06-08 12:18] vikas529 commented on #3357
I am also facing the same issue any body got the fix for this

[2016-06-08 12:24] refaelgold commented on #4923
follow...

[2016-06-08 12:39] NadiyaS commented on #3895
Hi @ajpevers  ,
Fix has been delivered to develop branch 23d12c9.
You can upgrade your code from develop branch or wait until next release.
Issue is closed as resolved.
Feel free to reopen this issue is you have encountered the same problem on upgraded version.

[2016-06-08 12:39] #3895 closed, assigned to NadiyaS

[2016-06-08 12:39] zanilee commented on #4569
Hi @matt-bailey!

This is known issue and it is present in library documentation only.
The documentation issue will be fixed in MAGETWO-34178

[2016-06-08 12:40] zanilee commented on #4770
Hi @slackerzz!

This is known issue and it is present in library documentation only.
The documentation issue will be fixed in MAGETWO-34178

[2016-06-08 13:18] duhon commented on #3930
Can't reproduce on current version. Please try on latest version.

[2016-06-08 13:26] NadiyaS commented on #3899
Hi @Pakkapao ,
shipping label is not allowed for offline shipping methods. Flat Rate is offline shipping method.
Shipping labels feature is implemented for the following shipping carriers: UPS, USPS, FedEx, DHL.
Issue is closed as not a bug.

[2016-06-08 13:26] #3899 closed, assigned to NadiyaS

[2016-06-08 13:28] mslabko commented on #4818
Hi @KrendiL101 ,

Thank you for reporting! Internal issue created: MAGETWO-54076

[2016-06-08 13:33] asemenenko commented on #3922
@joni-jones this is correct. Closing an issue as resolved. Feel free to reopen or add a new comment.

[2016-06-08 13:33] #3922 closed, assigned to nobody

[2016-06-08 13:40] NadiyaS commented on #3634
Hi @mc388 ,
Fix has been delivered to develop branch 23d12c9.
You can upgrade your code from develop branch or wait until next release.
Issue is closed as resolved.

P. S.
the same problem was reported in #3895

[2016-06-08 13:42] NadiyaS commented on #3635
Hi @mc388 ,
Fix has been delivered to develop branch 23d12c9.
You can upgrade your code from develop branch or wait until next release.
Issue is closed as resolved.

P. S.
the same problem was reported in #3895

[2016-06-08 13:42] #3635 closed, assigned to NadiyaS

[2016-06-08 13:44] NadiyaS commented on #3576
Issue is closed as not a bug.

[2016-06-08 13:44] #3576 closed, assigned to NadiyaS

[2016-06-08 13:50] anton-huz commented on #3357
We are doing investigation under internal ticket MAGETWO-54077.

[2016-06-08 14:01] CNanninga opened #4930 "Avoid explicitly putting .htaccess and Grunt theme config in place"
The following two files (at least) are put in place by the Composer install process, and therefore on each environment where an M2 site is deployed and the install run, any site-specific modifications are overwritten with a vanilla version of the file:
- pub/.htaccess
- dev/tools/grunt/configs/themes.js

However, both of these files are likely to need legitimate site-specific modifications (such a

[2016-06-08 14:05] oserediuk commented on #4839
Hello @pizzachip ! I cannot reproduce your case. Which code version do you use?

[2016-06-08 14:15] mslabko commented on #4665
Hi @flipflap ,
Could you please clarify steps if it still actual?

[2016-06-08 14:19] flancer64 opened #4931 ""/rest/default/schema" or "/rest/schema" ? (2.1.0 RC2)"
Hello,

[devdocs](http://devdocs.magento.com/guides/v2.0/rest/generate-local.html):

[code]

but for 2.1.0 RC2 this address returns:

[code]

Right address for schema is `http://<magento_host>/rest/schema`.

Please, change docs or code.

Thanks.

[2016-06-08 14:21] flipflap commented on #4665
Hi mslabko, I had to choose Central European Standard Time (Europe/Berlin) instead of GTM (Europe/Busingen). After changing this it works all well.

[2016-06-08 14:28] oserediuk commented on #4929
Hello @jatin222 ! Looks like you tried to install to non-empty DB. Try to create one more new empty DB and start install again

[2016-06-08 14:33] vzabaznov commented on #3872
duplicate of #4876

[2016-06-08 14:33] #3872 closed, assigned to voleye

[2016-06-08 14:34] vzabaznov commented on #4660
will be fixed in #4876

[2016-06-08 14:34] #4660 closed, assigned to nobody

[2016-06-08 14:36] redelschaap commented on #3872
Not really a duplicate, but as long as the category URL suffix will be fixed in #4876 as well, closing this issue is fine.

[2016-06-08 14:37] duhon commented on #3971
Hello @cedricblondeau
Thank you for the report! We have created issue in our bugtracker system MAGETWO-54082

[2016-06-08 14:41] NadiyaS commented on #3535
Hi @quienti ,
thank you for reporting this issue. Internal ticket MAGETWO-54083 was created.

[2016-06-08 14:41] duhon commented on #3992
This is the expected result for the specified version. Unlock happens after you create the simple products for this configurable product. The current version already has the behavior you expected.

[2016-06-08 14:48] dsikkema-magento commented on #2412
@devamitbera With the 2.1 release candidate, and with 2.0.6+, if you need permissions for generated assets of 664 and 775, you can use "magento_umask" [as described here](http://devdocs.magento.com/guides/v2.0/install-gde/install/post-install-umask.html).

[2016-06-08 14:54] NadiyaS commented on #3140
Hi @rklerck , @mstumpf818 ,
this issue is not reproducible on 2.0.7 version.
Please upgrade your code to this version and if you still have encountered this problem, please, provide more detailed steps to reproduce.
Thanks.

[2016-06-08 15:04] #3992 closed, assigned to nobody

[2016-06-08 15:11] pizzachip commented on #4839
2.0.7

[2016-06-08 15:29] OwenRay commented on #4220
I'm facing the same issue,
I'm using magento 2.0.7

What I do:
- opened the website in an incognito tab
- logged in
- added an item to my cart
- clicked checkout
- the popup appears
  note: I am still logged in, I can access my account settings and the logout button is displayed on the top right

I've tried disabling all 3rd party plugins
I've tried switching to the default Magento Luma Theme.
The

[2016-06-08 15:39] lijithmg commented on #1471
I got this solved by running the below query to the database:

`delete from catalog_product_entity_varchar where attribute_id=98 and value="";`

where **98** is the **attribute_id** of **url_path** attribute.

Hope this helps someone!

[2016-06-08 15:49] shiftedreality commented on #4657
Hi @redelschaap

I was unable to reproduce this issue on latest **develop** branch.
If you still facing with it-please add more steps to reproduce, your configuration, browser version and reopen current ticket.
Closed.

[2016-06-08 15:49] #4657 closed, assigned to nobody

[2016-06-08 15:55] southerncomputer commented on #3040
https://github.com/magento/magento2/issues/4506 this is a duplicate ?

[2016-06-08 15:56] southerncomputer commented on #4506
https://github.com/magento/magento2/issues/3040 this is a duplicate ?

[2016-06-08 16:01] erikhansen commented on #4506
@southerncomputer No, #3040 is not a duplicate issue of this issue. Although the two issues are somewhat related in that they deal with JS minification/bundling.

However the issue you described in your [comment above](https://github.com/magento/magento2/issues/4506#issuecomment-224388644) might be caused by the issue reported in #3040.

[2016-06-08 16:07] KrystynaKabannyk commented on #4414
Hello @jim5359, this issue has been fixed in Magento EE 2.1 RC2, that's why I'm closing it. Thank you for reporting the issue! If you have any questions or additional information you are welcome to reopen it or create another one.

[2016-06-08 16:07] #4414 closed, assigned to ishakhsuvarov

[2016-06-08 16:07] KrystynaKabannyk commented on #4679
Hello @jim5359, this issue has been fixed in Magento EE 2.1 RC2, that's why I'm closing it. Thank you for reporting the issue! If you have any questions or additional information you are welcome to reopen it or create another one.

[2016-06-08 16:07] #4679 closed, assigned to ishakhsuvarov

[2016-06-08 16:09] KrystynaKabannyk commented on #4039
Hello @AniAko, this issue has been fixed in Magento EE 2.1 RC2. Thank you for reporting the issue! If you have any questions or additional information you are welcome to reopen it or create another one.

[2016-06-08 16:27] BaDos commented on #4706
Hi @magexo
I cannot reproduce this bug on 2.0.6, 2.0.7 and latest develop branch.

How many store views do you have?
What version php do you use?
Please write more information about your environment.
Do you use additional modules or components?

Thanks.

[2016-06-08 16:50] tanghia commented on #3929
Thank you :dancer:

[2016-06-08 17:52] hostep commented on #4930
There were already some similar tickets:
- https://github.com/magento/magento2/pull/1982
- https://github.com/magento/magento2/issues/4697
- https://github.com/magento/magento2/issues/4823

Although the .htaccess file wasn't mentioned in those.

The problem I see with the .htaccess file, is that this is a file which is actually used in a production environment (in contrary to those other files) an

[2016-06-08 18:39] hostep commented on #3650
This is still an issue.

If you install Magento 2.1-rc1 (sorry, haven't had a chance to play with rc2), change the settings to use the 'blank' theme, and then try to remove the luma theme:

[code]

Although I'm not sure if you should be able to remove themes which come with Magento 2 built-in, since this command is actually removing files (if I understand the docs correctly?). And this will probab

[2016-06-08 18:42] Onkovat opened #4932 "Template path hints doesn't show the surrounding templates?"
I'm using magento 2.0.7.

It looks like the template path hints only show paths to smaller templates on a page. Not the surrounding ones. For example blank seems to use not a single template file. Instead it seems to be based on vendor/magento/module-theme. And in there seems to be the most top remplate root.phtml. How would I implement that template into my theme directory? I tried several paths

[2016-06-08 18:44] willstorm commented on #4921
I'm getting the same error.

[2016-06-08 19:14] rickwhitehead commented on #3676
Having the same issue on a simple one website 2 stores site configuration.
Can be reproduced only if store switcher is used - this sets a 'store' cookie which is not updated correctly when the switcher is used repeatedly and remains set to the initial switch - haven't tried adding another store but suspect it still won't update as expected. Will try to offer a fix suggestion soon.

[2016-06-08 19:28] twistedindustries commented on #4872
@sdzhepa Thanks for getting back to me, I just ran through it again and came up with the same results.  Here are the details of my setup:

Installed Magento 2.0.7 using default settings (Downloaded from magentocommerce.com, maybe that is part of the issue) I added and changed nothing besides what is outlined below.
Changed two settings:
Stores>Configurations>General>Search Engine Robots Set Defaul

[2016-06-08 19:39] andidhouse commented on #3625
same problem here with magento 2.0.7 version.

3 month now... it is great that magento internals create internal tickets but is there any timeline we user can see for the tickets? I see many cases where internal tickets where created month ago and are not solved till today. For us users it would be great just to know if magento works on the tickets and when can we expect solutions. For now interna

[2016-06-08 21:05] bwaters commented on #4723
@fooman -- having a little trouble reproducing.  Did you unzip the second installation version straight over the old version or did you unzip them each in their own subdirectories?

[2016-06-08 21:23] southerncomputer commented on #4506
https://github.com/magento/magento2/blob/6ea7d2d85cded3fa0fbcf4e7aa0dcd4edbf568a6/lib/web/mage/backend/validation.js

this file throws an error in the bundle regardless if you disable jshrink or not and have bundling enabled. I will try to manually minify this file to see where the file is causing issues in bundling.

The result is in IE11/FF it will throw an unmatched } error on the developer too

[2016-06-08 21:51] erikhansen commented on #4591
I'm also experiencing similar issues, so I'd be curious to hear the full solution for this.

[2016-06-08 22:22] buskamuza commented on #4668
@miguelbalparda , on the very first page of "Setup Upgrade", did you try to select "Other Components"?
It should allow upgrade of all additional packages, including your sample data. Or did this approach also failed?
Thanks.

[2016-06-08 23:05] minhluan259 opened #4933 "How to make multiple depends parameter"
In widget.xml

[code]

It's not work.
`Element 'parameter': This element is not expected.`

[2016-06-08 23:31] piotrekkaminski commented on #4047
@mcspronko does it happen on 2.1RC1/2?

[2016-06-09 02:20] JDavidVR commented on #4591
i'm having sale problem with magento 2.0.7, my php versión is 7.0.x

[2016-06-09 03:33] dexterchua19 commented on #1931
Any news about this? I'm developing a website and this same problem occurs in me.

[2016-06-09 04:20] frederic-eynaud commented on #3642
I have the same answer using Magento 2.0.6

[2016-06-09 04:30] parthviroja commented on #4908
I have using Magento2 CE 2.0.7 without sample data.

[2016-06-09 04:31] magesh7j commented on #4787
Hai @alena-marchenko i near install any extensions and its default only, then i traced it till now i could not find out any reason for spinner, then i moved to paypal method. thanks @alena-marchenko. replied for my issue ! thanks alot

[2016-06-09 04:31] #4787 closed, assigned to alena-marchenko

[2016-06-09 04:34] magesh7j commented on #4787
Hai @alena-marchenko
I am using paypal method, in that there is no issue. till now i didnt find out the reason for not stop spinner loading. Thanks you @alena-marchenko for your reply,

[2016-06-09 07:43] routbiplab commented on #4894
I found this in the log file :
main.CRITICAL: exception 'ReflectionException' with message 'Report ID: webapi-574ed41d7eb6e ; Message: Class  does not exist' in -vendor/magento/framework/Webapi/ErrorProcessor.php:194

Stack trace:
#0 -vendor/magento/framework/Webapi/ErrorProcessor.php(139): Magento\Framework\Webapi\ErrorProcessor->_critical(Object(ReflectionException))
#1 -vendor/magento/module-we