[2017-09-19 01:28] magento-engcom-team commented on #10024
Hi @Moppelfett the issue has been fixed in 2.1.8
Thank you for your report

[2017-09-19 01:28] #10024 closed, assigned to nobody

[2017-09-19 01:31] magento-engcom-team commented on #10944
@tomnyson please provide more details in Steps to reproduce

[2017-09-19 01:33] magento-engcom-team commented on #10938
@mozenpo please provide more information in Steps to Reproduce. Please, add sample data to the issue that we can try

[2017-09-19 01:36] magento-engcom-team commented on #10912
@adamshuy please add required information to issue description (not to the title)

[2017-09-19 01:37] #10907 closed, assigned to nobody

[2017-09-19 02:00] keithmifsud commented on #2999
On this occasion I did not use Vagrant and the docker dev box is not available for download so I'm running magento in Xammp. I experienced a very slow website until I enable opcache which has improved the speed significantly. https://codingtrabla.blogspot.com/2016/06/xampp-5621-enable-opcache.html

[2017-09-19 02:09] AaronV-T commented on #5929
I'm running Magento 2.1.7 (a bit outdated) and had the same issue. I only had to update the URL for 1 product and did it easily by running the following MySQL commands:

UPDATE magento.url_rewrite SET request_path = "{desired-product-url}" WHERE url_rewrite_id = {id of the row to update};
and
UPDATE magento.url_rewrite SET request_path = "{category}/{desired-product-url}" WHERE url_rewrite_id = {i

[2017-09-19 04:04] careys7 commented on #5351
I have the same issue using the REST API on any Magento version in multiple environments.

It returns an error "Unable to save product" via the API, nothing is logged in the exception logs, and database shows the deadlocks described above.

POST requests cause a lot more deadlocks (approx 10x) than PUT.

[2017-09-19 05:15] ravibhalodia commented on #10234
Is this issue resolved already in ver2.1.9?

[2017-09-19 06:50] joni-jones commented on #10234
Hi, @ravibhalodia, this issue is not fixed yet.

[2017-09-19 07:15] IlnitskiyArtem commented on #10912
Hi @adamshuy. Please, provide more information about your case, I cannot reproduce it on 2.1.8 and 2.1.9. Can you confirm that all of the products you trying to import have different SKU? Do you use Add/Update or Replace as Import Behavior?

[2017-09-19 07:20] Koc commented on #10661
does needs update label should be removed or not?

[2017-09-19 07:29] oleg-onufer commented on #10909
Hi @Olek89.
Thanks for reporting this issue.
Internal ticket MAGETWO-75431 was created.

[2017-09-19 07:30] krutkoroma79911 commented on #10902
@AirmanAJK Hi, can you please provide information about your cart price rule configuration? Screenshots will be helpful,too.

[2017-09-19 07:34] KishorkumarKar opened #10957 "Translation Not working in change password in frontend"
Hi
### Preconditions
I have **Magento 2.1.7** with two store **English** **Spanish** After login in front end in Spanish Store. I Tried to change password the From validation text not translated correctly. I have tried to translate Inline it is not working.

### Steps to reproduce
1. Login to front end .
2. Go to account information
3. Change the store (language in spanish)
4. Change Password
5. t

[2017-09-19 07:35] magento-engcom-team commented on #10946
We are closing this issue because we cannot reproduce this issue as described. If your have questions, please refer to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-19 07:35] #10946 closed, assigned to nobody

[2017-09-19 07:41] denguyen-tvit commented on #10278
@erikhansen It worked for my after checkout this commit. Thanks!

[2017-09-19 07:41] magento-engcom-team commented on #10940
We are closing this issue because we cannot reproduce this issue as described. If you have questions, please refer to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-19 07:41] #10940 closed, assigned to nobody

[2017-09-19 07:50] magento-engcom-team commented on #10299
We are closing this issue because we cannot reproduce this issue as described. If you have questions, please refer to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-19 07:50] #10299 closed, assigned to nobody

[2017-09-19 07:54] magento-engcom-team commented on #10553
We are closing this issue because we cannot reproduce this issue as described. If you have questions, please refer to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-19 07:54] #10553 closed, assigned to nobody

[2017-09-19 07:56] magento-engcom-team commented on #10467
We are closing this issue because we cannot reproduce this issue as described. If you have questions, please refer to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-19 07:56] #10467 closed, assigned to nobody

[2017-09-19 08:11] magento-engcom-team commented on #10498
We are closing this issue because we cannot reproduce this issue as described. If you have questions, please refer to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-19 08:11] #10498 closed, assigned to nobody

[2017-09-19 08:12] magento-engcom-team commented on #10737
We are closing this issue because we cannot reproduce this issue as described. If you have questions, please refer to a question and answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2017-09-19 08:16] #10166 closed, assigned to nobody

[2017-09-19 08:19] dmanners commented on #10957
I had this problem when dealing with multiple stores. When building that static content I needed to run the command once for each language. As I understand this is/will be fixed in 2.2.0 or maybe even 2.1.9 but for older versions running the command once for each locale should sort this.

[code]

[2017-09-19 08:22] #10540 closed, assigned to nobody

[2017-09-19 08:25] #10522 closed, assigned to nobody

[2017-09-19 08:29] koenner01 commented on #8957
Hopefully this is picked up soon because this is an SEO nightmare..

[2017-09-19 08:33] magento-engcom-team commented on #10676
@GuidoHub thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 08:33] #10676 closed, assigned to nobody

[2017-09-19 08:36] magento-engcom-team commented on #10696
@Rich8881 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 08:36] #10696 closed, assigned to nobody

[2017-09-19 08:43] nevillesmith commented on #10938
Do you need the info and issue doc stated here to provide the steps for re-creation or does one email or IM you. We have a system going production and this is a snag that seems easily resolved but could very well be a bottleneck.

[2017-09-19 08:44] magento-engcom-team commented on #10798
thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 08:44] #10798 closed, assigned to nobody

[2017-09-19 09:00] iWEBproject commented on #4579
Hi fxdegroot
Can you please be more specific how can i do that my Magento is 2.1.9 the steps i mean

[2017-09-19 09:32] KishorkumarKar commented on #10957
Hi,
I have done that but not working
![image](https://user-images.githubusercontent.com/24475017/30585798-96fe9526-9d4b-11e7-9c43-87200aec3766.png)

[2017-09-19 09:39] dmanners commented on #10957
Hmm, ok I assume that that string is actually in the translation pack. Also it might be a good idea on your local machine to remove all the static files and re-run the `setup:static-content:deploy` command just to make sure there are no left over translations.

[2017-09-19 09:42] magento-team commented on #9877
Internal ticket to track issue progress: MAGETWO-75328

[2017-09-19 09:50] orlangur commented on #10957
Does it happen for any JS translation or just this one? https://github.com/magento/magento2/pull/10913 fix may be worth trying also.

[2017-09-19 09:52] orlangur commented on #10278
@erikhansen thanks! Worth backporting to `2.1.x` according to my understanding.

[2017-09-19 10:05] KishorkumarKar commented on #10957
It works in another place But not working here.
I have done as @dmanners  said ut not working.
![image](https://user-images.githubusercontent.com/24475017/30587253-1e76ec02-9d50-11e7-890f-29d6909c20d8.png)

[2017-09-19 10:16] josephmcdermott commented on #6478
See PR https://github.com/magento/magento2/pull/10958, a very simple Command to automate the 'turning off and on again' of the indexers.

[2017-09-19 10:22] magento-engcom-team commented on #10908
@hostep thank you for your bug report.
We've created internal ticket MAGETWO-75448 to track progress on the issue.

[2017-09-19 10:26] magento-engcom-team commented on #10922
@hatimeria-artur-jewula thank you for your bug report.
We've created internal ticket MAGETWO-75448 to track progress on the issue.

[2017-09-19 10:37] magento-engcom-team commented on #10048
@milansimek thank you for your bug report.
We've created internal ticket MAGETWO-75440to track progress on the issue.

[2017-09-19 10:38] joni-jones commented on #10954
Hi, @pvj, this is known issue, Magento doesn't resolve zero-decimal currencies like HUF, JPY, TWD, etc. We already have the internal ticket (`MAGETWO-56451`) but I can't provide any estimation.

[2017-09-19 10:44] mozenpo commented on #10938
finally i have tried one more time and fortunately this issue solved! the layout of attribute set and each group container must be as same as the default one of M2.

[2017-09-19 11:32] koenner01 commented on #8957
So I might have found a solution for this problem. I did some digging and in \Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver there is a function generateForAutogenerated() which checks if the product has data for 'save_rewrites_history'. However if you trace back to were this function is called, products get their data filtered in _populateForUrlGeneration() function and any value set

[2017-09-19 11:34] orlangur commented on #10922
`\Magento\Store\Api\StoreRepositoryInterface::getList` is not designed to contain such information.

`\Magento\Store\Api\StoreRepositoryInterface::getActiveStoreById` + `\Magento\Store\Api\StoreRepositoryInterface::getById` looks pretty sufficient to me to cover the `is_active` aspect.

On the other hand, if your application needs `is_active` in listing for some scenario, it can be added easily as

[2017-09-19 11:38] Wollhaar commented on #9323
tryin install magento2 and having first that issue with "There are no commands defined in the 'setup' namespace.

and then i catch the exception with ´list´ and get: ´The --____-___ option does not exist.´ when i´m erasing the option it is taking the next option as failure.

[2017-09-19 11:48] alen9788 opened #10959 "Paypal and cart issue for 2.1.9"
### Preconditions

1. magneto 2.1.9  PHP7
2.

### Steps to reproduce

1. After we upgrade to the latest 2.1.9
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]
The paypal method do not appear at the "check out" page. We did not make any changed for the paypal setting at our backend which worked well before the 2.1.9 version.
and also it said:" there is no item at the cart "a

[2017-09-19 11:54] orlangur commented on #2999
XAMMP/WAMP must not be used at all as Windows OS is not supported and there are known issues. There are quite many options nowadays to have some Ubuntu VM for development with WIndows as a host OS only.

[2017-09-19 11:55] orlangur commented on #10959
From which version did you upgrade? Seems to be a duplicate of https://github.com/magento/magento2/issues/10499.

[2017-09-19 12:00] alen9788 commented on #10959
We upgraded it from the 2.1.8 to 2.1.9, maybe the issue happened for the version 2.1.8, we did not notice that. because we just used the 2.1.8 for one week. but we confirm that there is no such issue for the for the 2.1.5 we are using for another Magneto site.

[2017-09-19 12:03] orlangur commented on #10959
Thanks for the quick reply! Let's close this issue then to keep the things consolidated.

[2017-09-19 12:03] #10959 closed, assigned to nobody

[2017-09-19 12:22] magento-engcom-team commented on #9926
@best4u thank you for your bug report.
We've created internal ticket MAGETWO-75366 to track progress on the issue.

[2017-09-19 12:24] magento-engcom-team commented on #10663
@gwharton thank you for your bug report.
We've created internal ticket MAGETWO-75374 to track progress on the issue.

[2017-09-19 12:27] magento-engcom-team commented on #10689
@Olek89 thank you for your bug report.
We've created internal ticket MAGETWO-75465 to track progress on the issue.

[2017-09-19 12:31] magento-engcom-team commented on #10709
@dankocherga thank you for your bug report.
We've created internal ticket MAGETWO - 75372 to track progress on the issue.

[2017-09-19 12:35] MirkoHuf opened #10960 "2.1.9. System -> Integrations is empty / creating a new not possible"
### Preconditions
Magento 2.1.9

### Steps to reproduce

1. update our magento 2 system to 2.1.9 yesterday - but now the web request still not working
2. try to create a new token under System -> Integrations
3. the page is empty - if I click an Add new integration the next page is still empty. Only a back and save button in the right top corner. If I click on save I got:
Notice: Undefined index:

[2017-09-19 12:36] diglin commented on #6193
Looks like an issue into the method \Magento\ImportExport\Model\Import\Entity\AbstractEntity::getBehavior which doesn't allow other behavior as append, replace and delete. Using custom or add_update is not allowed and fallback to append which is the default behavior

Need a PR ?

[2017-09-19 12:44] kanduvisla commented on #5632
So I guess we can conclude that the 2.1.x-branch will never get a fix for this issue then?

[2017-09-19 12:47] ishakhsuvarov commented on #5632
@kanduvisla While fix is not available you may speed up the process and submit a Pull Request with the backport of https://github.com/magento/magento2/commit/4d89955ed19884df308fbecedb612b782bf0a88d

[2017-09-19 12:58] magento-engcom-team commented on #10485
@denchev  thank you for your bug report.
We've created internal ticket MAGETWO-75375 to track progress on the issue.

[2017-09-19 12:59] orlangur commented on #9255
Page 3 should not be accessed in the first place. Please provide a scenario reproducible on clean Magento installation when you saw a third page in such situation.

That is the whole point. When currentPage provided is too small, it is treated as first page, when it is too big - as last page.

It is clearly not a responsibility of collection class to check if currentPage provided is valid. Just co

[2017-09-19 13:00] magento-engcom-team commented on #10496
@rakibabu thank you for your bug report.
We've created internal ticket MAGETWO-75361 to track progress on the issue.

[2017-09-19 13:01] magento-engcom-team commented on #10489
@speedupmate thank you for your bug report.
We've created internal ticket MAGETWO-75443 to track progress on the issue.

[2017-09-19 13:12] orlangur commented on #10496
It always worked this way: https://github.com/OpenMage/magento-mirror/blob/magento-1.9/app/code/core/Mage/Catalog/Model/Resource/Product/Collection.php#L1853 Changing this behavior may lead to undesired consequences for those who relied on old behavior.

Writing new code you shouldn't use event-observers mechanism whenever possible. As far as I see from this implementation, you can easily implemen

[2017-09-19 13:18] magento-engcom-team commented on #10838
@jhruehl thank you for your report. Unfortunately, we can't guarantee that 3-rd party modules will work with newest Magento versions correctly if they depend on internal Magento code and not on code which marked with @api.
Our team works hard on keeping further Magento versions from incompatible changes, but that's not always possible. If you'd like to update your issue, please reopen it.

[2017-09-19 13:19] springerin commented on #5675
Magento 2.1.9 still having the issue

[2017-09-19 13:21] magento-engcom-team commented on #10726
@philippsander thank you for your bug report.
We've created internal ticket MAGETWO-75356 to track progress on the issue.

[2017-09-19 13:27] steros commented on #9323
@Wollhaar this is a different problem, please open a new ticket. Although I suppose this is not a bug but a user error.

[2017-09-19 13:28] magento-engcom-team commented on #4831
@vovayatsyuk thank you for your bug report.
We've created internal ticket MAGETWO-75216 to track progress on the issue.

[2017-09-19 13:30] magento-engcom-team commented on #10507
@jkf276 thank you for your bug report.
We've created internal ticket MAGETWO-75302 to track progress on the issue.

[2017-09-19 13:32] magento-engcom-team commented on #10600
@RishabhRkRai thank you for your bug report.
We've created internal ticket MAGETWO-75338 to track progress on the issue.

[2017-09-19 13:34] diglin commented on #6193
Why **G1 Failed** ?

[2017-09-19 13:34] magento-engcom-team commented on #10611
@kanduvisla thank you for your bug report.
We've created internal ticket MAGETWO-75337 to track progress on the issue

[2017-09-19 13:36] magento-engcom-team commented on #10628
@akashkarev thank you for your bug report.
We've created internal ticket MAGETWO-75407 to track progress on the issue

[2017-09-19 13:36] CNanninga commented on #1418
I have still seen this exhibited in 2.0.9.

[2017-09-19 13:36] maderlock commented on #9695
The problem I have in >= 2.1.8 is that the follow lines cause an error:

    $http->setNoCacheHeaders();

So I've replaced this with:

    $http->setHeader('pragma', 'no-cache', true);
    $http->setHeader('cache-control', 'no-store, no-cache, must-revalidate, max-age=0', true);

[2017-09-19 13:39] magento-engcom-team commented on #10699
@Black-KraKen thank you for your bug report.
We've created internal ticket MAGETWO-75300 to track progress on the issue

[2017-09-19 13:40] maderlock commented on #8504
@michaelstephenson states the use case pretty well:

If I want to embed certain pages in iframes then I want to be able to have more control over X-Frame-Options; most likely I'll output it for all but a few pages.

By having this output as a blanket setting I cannot do this, and thus cannot embed pages.

[2017-09-19 13:42] magento-engcom-team commented on #10707
@bartlubbersen thank you for your bug report.
We've created internal ticket MAGETWO-75336 to track progress on the issue

[2017-09-19 13:51] magento-engcom-team commented on #10761
@theodorhanu thank you for your bug report.
We've created internal ticket MAGETWO-75333 to track progress on the issue

[2017-09-19 13:54] magento-engcom-team commented on #10764
@pradeeprcs thank you for your bug report.
We've created internal ticket MAGETWO-75301 to track progress on the issue

[2017-09-19 13:55] magento-engcom-team commented on #10772
@joachim-havloujian thank you for your bug report.
We've created internal ticket MAGETWO-75332 to track progress on the issue

[2017-09-19 13:57] romainruaud opened #10962 "Consider credis library update to allow Redis Sentinel cluster usage"
### Preconditions

1. Any version of Magento 2
2.

This is not an issue which is causing bugs, so I will not describe scenario about how to reproduce it.

The fact is : I have a redis cluster running with redis-sentinel. I plan to use it as a cache and session storage. This is supported by the credis library and I want to test it. But actually, the version included in Magento's package is **1.6**

[2017-09-19 13:57] magento-engcom-team commented on #10797
@dfelton thank you for your bug report.
We've created internal ticket MAGETWO-75305 to track progress on the issue

[2017-09-19 13:58] magento-engcom-team commented on #10805
@ronakChauhanKrish thank you for your bug report.
We've created internal ticket MAGETWO-75304 to track progress on the issue

[2017-09-19 14:00] magento-engcom-team commented on #10814
@adi3009 thank you for your bug report.
We've created internal ticket MAGETWO-75299 to track progress on the issue

[2017-09-19 14:01] magento-engcom-team commented on #10824
@theodorhanu thank you for your bug report.
We've created internal ticket MAGETWO-75303 to track progress on the issue

[2017-09-19 14:05] miguelbalparda commented on #7931
There is a proposed fix for this issue here https://github.com/magento/magento2/pull/10961 can you please check it and report back?

[2017-09-19 14:17] orlangur commented on #10962
There is no need to stay on `1.6` due to a known bug revealed recently, it will be upgraded in https://github.com/magento/magento2/issues/10524.

[2017-09-19 14:17] #10962 closed, assigned to nobody

[2017-09-19 14:20] prestashoppay commented on #10141
Hi @victor-v-rad ,

Is there any updates ??

[2017-09-19 14:32] orlangur commented on #7931
In scope of another PR we found out that it was fixed in `develop` in a bit different RFC-compliant way: there is no need to raise limit, we can just decrease severity of the error (before it was throwing exception, now it just logs the warning).

Here is the commit which can be backported in order to get it fixed in `2.1.x`: https://github.com/magento/magento2/pull/10516#issuecomment-322693152

[2017-09-19 14:41] romainruaud commented on #10881
A little update for this one : The Setup/Model/ConfigOptionsList/Cache.php is neither processing any "sentinel" related values.

This prevent a proper usage when using a Redis cluster with redis-sentinel as cache storage backend.

Regards

[2017-09-19 14:47] adamshuy commented on #10912
yes, all products have different skus, and it's Add/Update Import Behavior.  I am using WAMP as working environment.  Please let me know your working environment.   Your earliest attention will be much appreciated.

[2017-09-19 15:05] magento-engcom-team commented on #10700
@historylife  thank you for your bug report.
We've created internal ticket MAGETWO-70599 to track progress on the issue.

[2017-09-19 15:08] magento-engcom-team commented on #10898
@fronke thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 15:08] #10898 closed, assigned to nobody

[2017-09-19 15:18] magento-engcom-team commented on #10856
@NoorulBhoelai thank you for your bug report.
We've created internal ticket MAGETWO-75218 to track progress on the issue.

[2017-09-19 15:19] magento-engcom-team commented on #10323
@lclghst , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 15:19] #10323 closed, assigned to nobody

[2017-09-19 15:23] magento-engcom-team commented on #7519
@janeblonde thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 15:23] #7519 closed, assigned to nobody

[2017-09-19 15:27] magento-engcom-team commented on #9644
@ale8193 , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 15:27] #9644 closed, assigned to nobody

[2017-09-19 15:28] magento-engcom-team commented on #10481
@dfelton thank you for your bug report.
We've created internal ticket MAGETWO-75508 to track progress on the issue.

[2017-09-19 15:33] magento-engcom-team commented on #10415
@spyrule thank you for your bug report.
We've created internal ticket MAGETWO-75491 to track progress on the issue.

[2017-09-19 15:36] magento-engcom-team commented on #10479
@saeohioalpha thank you for your bug report.
We've created internal ticket MAGETWO-75465 to track progress on the issue.

[2017-09-19 15:38] magento-engcom-team commented on #10841
@ravinders-121 , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 15:43] #10841 closed, assigned to nobody

[2017-09-19 15:44] magento-engcom-team commented on #10794
@robgt , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 15:44] #10794 closed, assigned to nobody

[2017-09-19 15:47] magento-engcom-team commented on #10497
@riyuk thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details. And can You please clarify step 4? What do You mean by "Create another Attribute-Set with more Custom Options".

[2017-09-19 15:58] Olek89 commented on #10689
Which Files i have to change?

[2017-09-19 16:02] orlangur commented on #10689
Anything containing `'jquery.fileupload'`, like
[code]

[2017-09-19 16:07] spyrule commented on #10531
Ok, so after reading #8018 , I now understand that the 500 limit is a calculated limit, not a hard set #. In the interim as a test, I dropped an entire website/store/store_view (only had 2 total), and re-did the index in 2.1.9, and what previously took nearly 4 hours, this time only took 32 minutes to complete. So somehow, having multiple store views dramatically increases the indexing time, beyon

[2017-09-19 16:26] Olek89 commented on #10689
i have changed it in  /httpdocs/pub/static/adminhtml/Magento/backend/de_DE/jquery/fileUploader/
But now i get these error

![image](https://user-images.githubusercontent.com/31250340/30603466-d81ec064-9d67-11e7-9893-2bcf31b21cb0.png)

[2017-09-19 16:37] orlangur commented on #8504
[code]

@maderlock are you saying that this comment is misleading and if you specify `'x-frame-options' => null` in `env.php` header is added for frontend?

What is the problem here if we can use `proxy_set_header` or `proxy_hide_header` in server configuration?

[2017-09-19 16:39] maksymcherevko commented on #10955
For now, I can't figure out why, but after get compiled objects:
`$this->_objectManager->configure($this->_configLoader->load($areaCode));`
app starting work in "backend" mode.

While
`$areaCode == 'frontend'`
but, for example:
`$this->pathConfig->getDefaultPath()` is instance of `Magento\Backend\Model\AdminPathConfig`

![selection_228](https://user-images.githubusercontent.com/16465396/30603961-d

[2017-09-19 17:00] magento-engcom-team commented on #10071
@vpiyappan thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 17:00] #10071 closed, assigned to Karlasa

[2017-09-19 17:14] orlangur commented on #10955
Do you have any URL building customization? Generally, such behavior is unlikely to be observed on clean Magento installation, try to disable all non-core modules and themes and check how switching to production mode works, then try to locate problematic customization.

[2017-09-19 17:58] orlangur commented on #10481
Expectation is wrong as it does not correspond to a constructor signature https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/App/PageCache/Identifier.php#L37 Moreover, it cannot be changed due to BC constraints.

It is no blocker for an argument replacement, you have to extend concrete class if you go this way, just replace every method with stub so that no original lo

[2017-09-19 17:58] #10481 closed, assigned to nobody

[2017-09-19 18:03] magento-engcom-team commented on #10622
@djfordz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:03] #10622 closed, assigned to nobody

[2017-09-19 18:04] magento-engcom-team commented on #10452
@squishz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:04] #10452 closed, assigned to nobody

[2017-09-19 18:04] magento-engcom-team commented on #10594
@storepeinture, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:04] magento-engcom-team commented on #10752
@eldrickalbers, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:04] #10752 closed, assigned to nobody

[2017-09-19 18:04] magento-engcom-team commented on #9940
@stephan-cream, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:04] #9940 closed, assigned to nobody

[2017-09-19 18:04] magento-engcom-team commented on #9440
@christian-forgacs, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:04] #9440 closed, assigned to nobody

[2017-09-19 18:04] magento-engcom-team commented on #10722
@natahanielmeyer, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:04] #10722 closed, assigned to nobody

[2017-09-19 18:04] magento-engcom-team commented on #10776
@achatpc, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-19 18:04] #10776 closed, assigned to magento-engcom-team

[2017-09-19 18:10] orlangur commented on #1675
True.

We can write a test to find all such places and, for instance, enforce such situation does not appear in any new code but with BC constraints we would have to deprecate HUGE amount of code to fix such issues in existing code.

Without a concrete implementation approach such issue existence in GitHub does not make a lot of sense. Otherwise it is a good candidate for `'up for grabs'`.

Though

[2017-09-19 18:14] magento-engcom-team commented on #10724
@bondimedical3 , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 18:14] #10724 closed, assigned to nobody

[2017-09-19 18:22] magento-engcom-team commented on #10376
@manhao-chen , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 18:22] #10376 closed, assigned to nobody

[2017-09-19 18:24] magento-engcom-team commented on #10534
@erik921 thank you for your bug report.
We've created internal ticket MAGETWO-75485 to track progress on the issue.

[2017-09-19 18:26] magento-engcom-team commented on #10662
@minlare , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 18:26] #10662 closed, assigned to nobody

[2017-09-19 18:29] magento-engcom-team commented on #10781
@bezigeboefjes , thank you for your report.
The fix for this issue is already available on Magento 2.1.8 branch.

[2017-09-19 18:29] #10781 closed, assigned to nobody

[2017-09-19 18:31] magento-engcom-team commented on #10787
@zhartaunik , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 18:31] #10787 closed, assigned to nobody

[2017-09-19 18:40] magento-engcom-team commented on #10807
@siliconalchemy , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 18:40] #10807 closed, assigned to cieslix

[2017-09-19 18:41] magento-engcom-team commented on #10829
@rbostan , thank you for your report.
The fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 18:41] #10829 closed, assigned to nobody

[2017-09-19 18:58] scottsb commented on #1675
I understand the desire to keep ticket count down, but I think it's good to leave this open even if we don't yet have a concrete solution. So long as it's an acknowledged issue (as it is), it's good to have a canonical ticket to track progress toward a solution. Otherwise it will keep getting reported over and over, and any discussion will get diluted unhelpfully.

As for a possible suggestion, wo

[2017-09-19 18:58] dfelton commented on #10481
@orlangur

This in fact was the whole point of the original reported issue, that the constructor signature you referenced does not specify an Interface, but rather, an exact class. I reported this in order to propose that the constructor signature for `\Magento\Framework\App\PageCache\Identifier` inject `\Magento\Framework\App\RequestInterface`.

Could you please elaborate a bit on why? Unless I a

[2017-09-19 19:07] dfelton commented on #1675
This in my eyes would be a possible way to allow for my proposed changes in issue #10481 to be BC.

[2017-09-19 19:24] magento-engcom-team commented on #10313
@MoschenBayern, thank you for your report.
The issue is already fixed in 2.1.9

[2017-09-19 19:24] #10313 closed, assigned to nobody

[2017-09-19 19:25] magento-engcom-team commented on #8689
@SKovbel, thank you for your report.
The issue is already fixed in 2.1.8

[2017-09-19 19:25] #8689 closed, assigned to nobody

[2017-09-19 19:25] magento-engcom-team commented on #9077
@kjasrotia, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-19 19:25] #9077 closed, assigned to nobody

[2017-09-19 19:26] magento-engcom-team commented on #10510
@ADDISON74, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-19 19:26] #10510 closed, assigned to nobody

[2017-09-19 19:26] magento-engcom-team commented on #10632
@molneek, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-19 19:26] #10632 closed, assigned to nobody

[2017-09-19 19:26] magento-engcom-team commented on #10633
@TheFrankman, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-19 19:26] #10633 closed, assigned to nobody

[2017-09-19 19:26] magento-engcom-team commented on #10738
@nowszy, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-19 19:26] sinamiandashti opened #10964 "support for PHP-PM ?"
Hello Magento Team

As you can see there is a huge performance boost with newly php-pm package that is a good replace for regular php-fpm

does magento2 supports PHP-pm or what might happens if we use it on production

https://github.com/php-pm/php-pm

[2017-09-19 19:29] hostep commented on #10957
Sound more like a duplicate of https://github.com/magento/magento2/issues/5509, which should get fixed by https://github.com/magento/magento2/pull/10747 which is probably going to be included in Magento 2.1.10. The fix is also already included in version 2.2.0-rc3.0 (by https://github.com/magento/magento2/commit/f67e5989f5efb36ca331e5cc28ee109961fcb99c).

[2017-09-19 19:33] orlangur commented on #1675
This is not about issue count but about unactionable items. We should either figure out some direction for a comprehensive solution within a reasonable time frame or admit it is impractical in existing constraints and, maybe, introduce mitigation plan only (like protect new code from similar issue).

Please get familiar with http://devdocs.magento.com/guides/v2.1/contributor-guide/backward-compati

[2017-09-19 19:42] dfelton commented on #1675
Thanks @orlangur.

Good info on the dev docs page regarding backwards compatible changes. I appreciate the feedback.

[2017-09-19 19:47] magento-engcom-team commented on #10441
@gerardojofre, thank you for your report.
We've created internal ticket(s) MAGETWO-75479 to track progress on the issue.

[2017-09-19 19:47] magento-engcom-team commented on #10661
@Koc, thank you for your report.
We've created internal ticket(s) MAGETWO-75507 to track progress on the issue.

[2017-09-19 19:52] orlangur commented on #10481
Existing customizations can rely on this and not just on `RequestInterface`.

Performance impact is negligible. There is even such example in core: https://github.com/magento/magento2/blob/develop/app/code/Magento/PageCache/Model/App/CacheIdentifierPlugin.php

For this particular customization replacing `$request` via DI preference would be an unneeded complication, this class is properly designed

[2017-09-19 19:54] rbur0425 commented on #3759
@antboiko  To recap this issue

Software
Magento 2.1.9 CE
PHP7
REDIS

What is happening?
The tier pricing is not showing on a configurable product
![no-tier](https://user-images.githubusercontent.com/14355895/30612437-8d43babe-9d52-11e7-9af5-e31bd8cb3724.png)

Expected Result
Tier pricing shows on configurable product page
![tier-pricing](https://user-images.githubusercontent.com/14355895/30612446

[2017-09-19 19:55] rbur0425 commented on #3759
@versdivers if you want to get the grouped products tier pricing showing replace the two files from this commit [471fa80](https://github.com/magento/magento2/commit/471fa80e6cc2644ab47cd6d57199e68e996dd7ae) as @sas-flame pointed out

[2017-09-19 19:58] magento-engcom-team commented on #10964
@sinamiandashti please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 19:58] #10964 closed, assigned to nobody

[2017-09-19 19:58] dfelton commented on #10481
Thanks again @orlangur

[2017-09-19 20:01] magento-engcom-team commented on #10960
@MirkoHuf we updated the issue description

[2017-09-19 20:11] maksymcherevko commented on #10955
Interestingly, classes of disabled modules (by `bin/magento module:disable`) after re-compile still remain in the di-files.

[2017-09-19 20:11] keharper commented on #10887
@karthi5053 You should be able to run `magento queue:consumers:start <someConsumer>` multiple times concurrently in different terminals or by specifying `&` at the end of each command.

[2017-09-19 20:15] orlangur commented on #10955
Even if you remove `var/*`? Are those modules shown as disabled in `bin/magento module:status`?

[2017-09-19 20:19] AirmanAJK commented on #10902
My cart price rule is based on geographic regions and custom attributes and would likely just over-complicate things if provided.

To create a "Free Shipping" cart price rule for testing:
Add a rule with a condition section that will evaluate to true (ie Total Weight greater than zero), an action section that sets "Free Shipping" to "For matching items only", and an apply section that targets just

[2017-09-19 20:31] AirmanAJK commented on #10902
I probably won't be checking back here since I've already implemented my suggested fix above, so it would be a shame if this issue gets "closed due to inactivity" since I've already provided the "who, what, where, why, and how to fix".

This bug cost us over $100 last week when we had to ship a product using priority overnight for free, and even by examining the code the bug is apparent without te

[2017-09-19 20:35] maksymcherevko commented on #10955
@orlangur, yes, as always, I cleaned all the necessary folders before re-compile.

![screenshot_80](https://user-images.githubusercontent.com/16465396/30613592-51d235b6-9d91-11e7-85b1-34df33bae5c6.png)

![screenshot_81](https://user-images.githubusercontent.com/16465396/30613631-7c7f821e-9d91-11e7-96e9-9901704c6c49.png)

Also, having skimmed through the 'frontend.ser', I noticed a lot of the backe

[2017-09-19 20:46] magento-engcom-team commented on #10901
Hi @AleksLi
Could you please provide more details about created attribute and magento configuration?
Thank you

[2017-09-19 20:47] magento-engcom-team commented on #10827
@Dregolwd Unfortunately, I could not reproduce the issue as you described it.
Please provide more information if the issue exists

[2017-09-19 20:50] magento-engcom-team commented on #10804
@anton-dvornik thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 20:52] magento-engcom-team commented on #10729
@RishabhRkRai thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 20:53] magento-engcom-team commented on #10728
@VincentMarmiesse thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 20:55] gman-1986 commented on #3759
So if theres no fix coming anytime soon, the next question is, when is 2.2 going to be released? By the end of 2017?

[2017-09-19 20:56] DominicWatts commented on #10532
FYI just spotted this: https://github.com/magento/magento2/issues/5283

Or more to the top https://github.com/meanbee/magento2-tax-rounding. Potentially a solution.  Although I wonder whether working to 3 dp will cause problems with PayPal.

[2017-09-19 21:01] magento-engcom-team commented on #10618
@Olek89, thank you for your report.
We've created internal ticket(s)  to track progress on the issue.

[2017-09-19 21:02] magento-engcom-team commented on #10597
@Magento-baby thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:03] #10538 closed, assigned to nobody

[2017-09-19 21:05] magento-engcom-team commented on #10513
@storepeinture thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:05] erik921 commented on #10534
This seems to be a apache configuration issue of some sort.
We changed to nginx and it all worked fine.

[2017-09-19 21:10] magento-engcom-team commented on #10424
@gwharton, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details in steps to reproduce, or try to reproduce this issue on a clean installation.

[2017-09-19 21:11] magento-engcom-team commented on #10416
@deadlyw1re thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:12] magento-engcom-team commented on #9984
@angelo983 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:14] magento-engcom-team commented on #9454
@onepack, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details in steps to reproduce or try to reproduce this
issue on a clean installation.

[2017-09-19 21:19] magento-engcom-team commented on #9377
@Chiemo, thank you for your report.
We've created internal ticket(s)  to track progress on the issue.

[2017-09-19 21:24] magento-engcom-team commented on #8929
@kevin-carroll-cl, thank you for your report.
The issue is already fixed in 2.1.8

[2017-09-19 21:24] #8929 closed, assigned to nobody

[2017-09-19 21:25] scottsb commented on #10538
@magento-engcom-team Just to clarify this: it's considered intentional that you have to run a roundtrip to the database just to be able to reuse the same product object you already have? I understand the cause (the repository cache system), but that seems like a design flaw.

[2017-09-19 21:26] manhao-chen commented on #10669
i've re-written it into the issue template

[2017-09-19 21:27] magento-engcom-team commented on #7709
@flipflap thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:27] magento-engcom-team commented on #7621
@ritschi72 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:28] magento-engcom-team commented on #7550
@deepak-netwin thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:29] magento-engcom-team commented on #7305
@ferrarinim thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:30] magento-engcom-team commented on #6889
@Deimo08 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details regarding your environment, or try to reproduce this issue on a clean installation or latest release.

[2017-09-19 21:37] magento-engcom-team commented on #412
Hi All, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:37] #412 closed

[2017-09-19 21:38] orlangur commented on #3759
@gman-1986 very soon.

Closing as the fix for this issue is already available on Magento 2.2.0 branch.

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

[2017-09-19 21:38] #3759 closed, assigned to nobody

[2017-09-19 21:40] magento-engcom-team commented on #5331
@SidneyBilliet
The issue has been fixed in 2.2.0 release

[2017-09-19 21:40] #5331 closed, assigned to nobody

[2017-09-19 21:41] magento-engcom-team commented on #3321
@stefandoorn please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:41] #3321 closed, assigned to nobody

[2017-09-19 21:42] rbur0425 commented on #3759
@orlangur what files need to be changed from 2.2 branch to get this working in 2.1?

[2017-09-19 21:43] magento-engcom-team commented on #3062
Hi @scholtz
Thank you for the report. Please try latest Magento release and let us know if you still have an issue. Please reopen the ticket if needed

[2017-09-19 21:43] #3062 closed

[2017-09-19 21:44] magento-engcom-team commented on #1843
Hi @markoshust
thank you for the suggestion. We have this in our backlog . The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:44] #1843 closed

[2017-09-19 21:45] orlangur commented on #7931
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

[2017-09-19 21:45] #7931 closed, assigned to nobody

[2017-09-19 21:46] magento-engcom-team commented on #935
@fooman Thank you for the suggestion. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:46] #935 closed

[2017-09-19 21:48] magento-engcom-team commented on #2824
@tapansoda  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:48] #2824 closed, assigned to kandy

[2017-09-19 21:49] magento-engcom-team commented on #3645
@sengaigibon  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:49] #3645 closed, assigned to nobody

[2017-09-19 21:50] magento-engcom-team commented on #5586
@PierAlex please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:51] orlangur commented on #3759
@rbur0425 have no idea, sorry. If you tried changes similar to https://github.com/magento/magento2/issues/3759#issuecomment-291525600 and https://github.com/magento/magento2/issues/3759#issuecomment-303079427  and it didn't work, problematic code in `2.1.x` or corrected code in `2.2.x` needs to be located first to perform a backport.

[2017-09-19 21:53] magento-engcom-team commented on #7802
@Koc please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:53] #7802 closed, assigned to misha-kotov

[2017-09-19 21:54] magento-engcom-team commented on #10005
@goben2489 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:54] #10005 closed, assigned to nobody

[2017-09-19 21:55] magento-engcom-team commented on #10212
@rossmc please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:55] #10212 closed, assigned to nobody

[2017-09-19 21:55] magento-engcom-team commented on #10290
@enrico69 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-19 21:55] #10290 closed, assigned to nobody

[2017-09-19 21:57] magento-engcom-team commented on #1386
@Opticcenter thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2017-09-19 22:02] orlangur commented on #8276
Closing as the fix for this issue is already available on Magento 2.1.0 and 2.2.0 branches.

Backports to 2.0.x are not processed due to its End of Life in November.

[2017-09-19 22:02] #8276 closed, assigned to nobody

[2017-09-19 22:05] magento-engcom-team commented on #1596
Internal ticket has been closed as not a bug

[2017-09-19 22:05] #1596 closed

[2017-09-19 22:56] orlangur commented on #10121
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-19 22:56] #10121 closed, assigned to nobody

[2017-09-19 22:56] orlangur commented on #10734
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

[2017-09-19 22:56] #10734 closed, assigned to nobody

[2017-09-19 22:58] orlangur commented on #10278
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

[2017-09-19 22:58] #10278 closed, assigned to nobody

[2017-09-19 23:13] siliconalchemy commented on #10807
Why is this closed?  It's not fixed in the current product codebase.  It might be months or years before large sites migrate everything to (currently still in development ) 2.2.

[2017-09-19 23:17] orlangur commented on #5242
Closing as the fix for this issue is already available on Magento 2.2.0 branch (https://github.com/magento/magento2/commit/b75fc4f83aa2fdf093ceae25449fa0b95bbc4020).

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

[2017-09-19 23:17] #5242 closed, assigned to nobody

[2017-09-19 23:24] orlangur commented on #10807
@siliconalchemy it's because Magento 2.2.0 is pretty close to release.

This is not an impediment for @cieslix or anyone else to work on backport to `2.1-develop` if needed.

[2017-09-19 23:45] siliconalchemy commented on #10807
But 2.2 *isn't* released.  And even when it is, the sheer magnitude of change involved means companies will be running 2.1 for a long time, until 2.2 is stable, bugfixed and all 3rd party extensions supported.
This is insane.

[2017-09-19 23:55] orlangur commented on #10807
@siliconalchemy there is no difference if the issue is closed or not as it is managed using dashboard https://github.com/magento/magento2/projects/13#card-4672681.

[2017-09-20 00:59] abovebar commented on #10531
unfortunately i already have only 1 store view, but have a large catalog 350k+ products with 500 categories and appended filter with 1M+ entries... so just the reindex of catalog_product_category takes 3.5 days :( and i have still not successfully reindexed catalog_category_product... all the rest of the indexers are fine with  a max index time of 45 minutes. on a good note it looks like we only h

[2017-09-20 01:13] mbrinton01 commented on #10677
@yogisoni more information about G1,2,3 status is available here: https://github.com/magento/magento2/wiki/Magento-Issue-Gates

This issue has been fixed and will be part of the 2.2.0 release.

PR with fix here: https://github.com/magento/magento2b2b/pull/268
_Note: PR only visible to partners with B2B repo access_

[2017-09-20 01:13] #10677 closed, assigned to mbrinton01

[2017-09-20 01:24] sylink commented on #8630
Was this really closed due to formatting of the issue ?

[2017-09-20 04:31] kervin commented on #9641
Any official date yet?

[2017-09-20 05:21] ripplejb commented on #10071
I got same exact error. I have Magento dev environment in my Home folder (~/Magento/magento2/) of my Ubuntu workstation. I did reindex and flush the cache. I am still getting the error. All the call on network are with response code 200 or 302.
This is new install.

as @tjwiebell mentioned, I debugged the ui.

In network I can see this URL is called right before the error.
http://localhost/~/..../

[2017-09-20 05:47] fizzlekettle commented on #10896
We are having the same issue, ~4k categories in multistore environment on 2.1.9, PHP 7.0.22, MySQL 5.7.19. It takes about 45 seconds to save product.

@PingusPepan Can you share your solution please?

[2017-09-20 06:06] kiner00 opened #10966 "skip test?????????"
https://github.com/magento/magento2/blob/479f137cf47f6907aa5061b36b183295387c0968/app/code/Magento/Catalog/Test/Unit/Model/ProductRepositoryTest.php#L149

[2017-09-20 06:15] sheldmandu commented on #5931
@magento-engcom-team Is this issue fixed in 2.2?  It's marked as Done in develop.  It's the same underlying problem as that for bundles described in https://github.com/magento/magento2/issues/9546

[2017-09-20 06:52] KITSup opened #10967 "How to place order in magento 2 using REST API?"
### Preconditions

1.  I have using REST API for placing order in PHP coding.
2. And then i have to set this to my android app.

### Steps to reproduce

1. And i have following the steps of
a.) create empty cart b.) add items c.) post billing address d.) post estimate shipping methods e.) get shipping info f.) get payment info g.) place order
2. But Shipping Address is not set in my backend and th

[2017-09-20 06:57] magento-engcom-team commented on #10411
@cykirsch, thank you for your report.
We've created internal ticket(s) MAGETWO-75539 to track progress on the issue.

[2017-09-20 07:12] honeygarg commented on #10758
Please upgrade magento version 2.1.8 to 2.1.9. The issue is resolved in m2.1.9.

[2017-09-20 07:21] magento-engcom-team commented on #10595
@gwharton, thank you for your report.
We've created internal ticket(s) MAGETWO-75540 to track progress on the issue.

[2017-09-20 07:23] conflicker commented on #8544
MAGETWO-64901: Bypassing outdated TLD validation does not solve the issue. I got the same error in CE 2.1.7. Is there a way to validate the email before the user can hit the 2nd step of checkout process?

[2017-09-20 07:25] magento-engcom-team commented on #10305
@Tonop, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 07:25] #10305 closed, assigned to nobody

[2017-09-20 07:29] orlangur commented on #10966
Please use the issue reporting [guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the steps required to reproduce, the actual result, and the expected result.

Already addressed in https://github.com/magento/magento2/commit/015c75f61aac6e1c93d236481d595cc40d409c41.

[2017-09-20 07:29] #10966 closed, assigned to nobody

[2017-09-20 07:31] orlangur commented on #10967
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-09-20 07:31] #10967 closed, assigned to nobody

[2017-09-20 07:45] orlangur commented on #8544
@conflicker it wasn't backported to `2.1.x`: https://github.com/magento/magento2/search?q=MAGETWO-64901&type=Commits&utf8=✓

[2017-09-20 07:51] orlangur commented on #9641
https://community.magento.com/t5/News-Announcements/Magento-2-2-Update-Available/m-p/75123#M167 is the most accurate information I have read. There will be no significant changes anymore, so, you can already use `2.2.0-preview` branch to be prepared for GA.

[2017-09-20 07:54] orlangur commented on #8630
@sylink, yes, see http://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html for details:

[2017-09-20 08:04] magento-engcom-team commented on #10107
@epson121, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 08:04] #10107 closed, assigned to nobody

[2017-09-20 08:04] magento-engcom-team commented on #10347
@jreinke, thank you for your report.
We've created internal ticket(s) MAGETWO-75545 to track progress on the issue.

[2017-09-20 08:04] magento-engcom-team commented on #10422
@dersam Thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](ht

[2017-09-20 08:04] #10422 closed, assigned to nobody

[2017-09-20 08:10] magento-engcom-team commented on #10567
@tprocter-ldg, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details of your site settings, or try to reproduce this issue on a clean installation.

[2017-09-20 08:17] magento-engcom-team commented on #10013
@abdulmoizbaig, thank you for your report.
We've created internal ticket(s) MAGETWO-75549 to track progress on the issue.

[2017-09-20 08:20] magento-engcom-team commented on #10758
Hi, @zzvara, thank you for your report, but we can not reproduce this issue with your "steps to reproduce".
What do you mean under "admin" column on attribute set form? Maybe attribute form?
We tried to do next:
1. Create attribute with "dropdown" type.
2. Specified 131 values for it(fill admin field for each).
3. Click save.
4. Attribute saved successfully.

Please provide more detailed steps to

[2017-09-20 08:24] magento-engcom-team commented on #10103
@araranga, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 08:24] #10103 closed, assigned to nobody

[2017-09-20 08:43] am2008 commented on #10531
Some test.... import 86462 products:
simple - 44651
configurable - 12343
virtual - 29468
----------
Reindex times:
2.1.8 - 120 minutes
2.1.9 - 25 minutes

[2017-09-20 08:44] magento-engcom-team commented on #10304
@nikoelgatito thank you for research. Would you like to submit pull request with your proposal?

[2017-09-20 08:51] magento-engcom-team commented on #10407
Please add more details to your description of the steps you followed when identifying this issue.

[2017-09-20 08:52] magento-engcom-team commented on #10665
@toddwolaver, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 08:52] #10665 closed, assigned to nobody

[2017-09-20 08:55] magento-engcom-team commented on #8964
@sudheeshks, thank you for your report.
We've created internal ticket(s) MAGETWO-75553 to track progress on the issue.

[2017-09-20 08:59] magento-engcom-team commented on #9990
@jarnooravainen We added Magento version into preconditions.

[2017-09-20 09:02] magento-engcom-team commented on #9990
@jarnooravainen, thank you for your report.
We've created internal ticket(s) MAGETWO-75556 to track progress on the issue.

[2017-09-20 09:16] PingusPepan commented on #10896
I do not have a production-ready solution. Only one good enough for testing because there is no automatic reindexing set up. I am also not sure if this works on 2.1.9 I have tested 2.2.0 only.
However there it is:
All changes are done in one file: `app/code/Magento/Catalog/Model/Indexer/Category/Product/AbstractAction.php`
You can try add this after line 110:
[code]
Then add this into function `ma

[2017-09-20 09:29] Dukeofvampires commented on #5959
Can anyone using 2.2 rc confirm that this is fixed?
The bug is still present on 2.1.9
![screen shot 2017-09-20 at 13 28 51](https://user-images.githubusercontent.com/3521295/30636861-b11712c8-9e07-11e7-9e00-2db17fa93397.png)

[2017-09-20 09:31] magento-engcom-team commented on #10630
@palvinder03 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Our steps to reproduce were:
1. Install M 2.1.8 with SD.
2. Navigate to system as administrator.
3. Choose import / products.
4. Choose options add/update, ignore errors, field enclosure.
5. Upload a file that passes verification and has 15 lines().
6. See successful import.

Ple

[2017-09-20 09:40] magento-engcom-team commented on #10960
Hello @MirkoHuf. Classically we were not able to reproduce Your issue. We took fresh instance of 2.1.9, we tried to install 2.0.0 (as we understood from Your description You had before) and upgrade it to 2.1.9 - integrations work. Maybe first You need to change the password as You are forced to by the system as we see from the appropriate message. If it doesn't help the issue could be caused by ex

[2017-09-20 09:44] paales commented on #5141
Don't know anymore. Haven't got time to figure everything out again. Do with the issue what you want.

[2017-09-20 09:47] maderlock commented on #8504
I don't know what comment is supposed to be misleading, but yes, setting that value to null has no effect - the default is used.

Not everyone is using a reverse proxy, and even if they are you would have to ignore and replace the value rather than allow pages to set it as needed (not setting it as a blanket value)

[2017-09-20 09:48] MirkoHuf commented on #10960
I use the Community Edition.
Changing Password doesn't help.
I had version 2.1.6 before (which I have right now because we are back to our previews snapshot)

[2017-09-20 09:49] Bobstar040 commented on #10583
My issue is solved now, it was due to an extension which uses api to transfer orders from M2 to my bookkeeping software.

But it would be nice if M2 can generate a proper error log to debug this issue faster.

[2017-09-20 09:49] maderlock commented on #10524
Having made my change above, I'm getting an intermittent error:

    "a:4:{i:0;s:24:"read error on connection";i:1;s:3327:"#0 .../web-root/vendor/colinmollenhour/cache-backend-redis/Cm/Cache/Backend/Redis.php(397): Credis_Client->__call('exec', Array)
    #1 .../web-root/vendor/magento/zendframework1/library/Zend/Cache/Core.php(390): Cm_Cache_Backend_Redis->save('a:5:{i:0;a:1206...', 'dca_DICONFIG

[2017-09-20 10:05] josephmcdermott commented on #6478
FYI this is resolved in develop branch:
https://github.com/magento/magento2/commit/78b796f1cf5df53e2883650cbbec7f36a53d1e8f

The install() method does the 'turn off and turn on' I was proposing, during every setup/install in the RecurringData class.

[2017-09-20 10:06] magento-engcom-team commented on #10823
@adi3009, thank you for your report.
The issue is already fixed in 2.1.8

[2017-09-20 10:06] #10823 closed, assigned to nobody

[2017-09-20 10:09] orlangur commented on #8504
On frontend? As far as I understand the comment `X-Frame-Options` must be always set for admin UI in current implementation.

Is there some real-world scenario when it is hard to setup server in such a way that `X-Frame-Options` is filled with whatever you need, no matter what was returned by Magento? In the current implementation I really like that it is secure by default and there is no way to s

[2017-09-20 10:16] magento-engcom-team commented on #10429
@SvanteAvenla, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 10:16] #10429 closed, assigned to nobody

[2017-09-20 10:18] orlangur commented on #6478
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

@josephmcdermott big thanks for your investigation!

[2017-09-20 10:18] #6478 closed, assigned to nobody

[2017-09-20 10:34] magento-engcom-team commented on #10960
@MirkoHuf Did You made the upgrade by System -> Web Setup Wizard, or otherwise (if so, please specify how).

[2017-09-20 10:34] alen9788 opened #10968 "load time for 2.1.9"
When we use the 2.1.5 , after the Varnish, Redis, pre-warming of cache configuration, the load time is around 2 seconds, but after we upgrade to 2.1.9, it become around 6 seconds which is below the average load time, we did not make any change.

[2017-09-20 10:41] MirkoHuf commented on #10960
No, i choose the CLI:

su -s /bin/bash www-data
composer require magento/product-community-edition 2.1.9 --no-update
composer update
(as root) chmod a+rw -R /var/www/magento/pub/media/

rm -rf var/di var/generation
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex

wrong?

[2017-09-20 10:43] magento-engcom-team commented on #10348
@dverkade, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 10:43] #10348 closed, assigned to nobody

[2017-09-20 10:50] korostii commented on #7000
@tehXor, just a small clarification:
Yes, this fix was merged in  a long time ago and is indeed present on 2.2 RC (one of the commits: https://github.com/magento/magento2/commit/29e6c2e4f4743512cc80c201942696fc78fded9f ).

But when viewing newer fixes please keep in mind that 2.2 branch is now separated and `develop` branch represents the future 2.3 version already.

[2017-09-20 10:58] magento-engcom-team commented on #8504
@maderlock, thank you for your report.
We've created internal ticket(s) MAGETWO-75571 to track progress on the issue.

[2017-09-20 11:03] orlangur commented on #10902
@AirmanAJK please check https://github.com/magento/magento2/wiki/Magento-Issue-Gates out. Your bug report already successfully passed G1 and G2, the only chance it can be closed is if whoever will check it will not be able to reproduce using the details provided (and it is absolutely fine as irreproducible bug cannot be fixed).

Please note that much more natural way to suggest a bugfix is pull re

[2017-09-20 11:09] orlangur commented on #7000
@korostii according to current processes it shouldn't be reopened but marked with appropriate labels so that anyone interested may work on `2.1-develop` backporting. Thanks for re-checking this on `2.1.x`!

[2017-09-20 11:22] kervin commented on #10461
It's this issue, I believe.

https://github.com/magento/magento2/issues/10687

[2017-09-20 11:24] kervin commented on #10875
Try to see if it's related to street 2..

https://github.com/magento/magento2/issues/6929

[2017-09-20 11:35] orlangur commented on #10000
Unreasonable closing could sometimes happen and is really demotivating but

is perfectly valid and indicates the issue is just not reproducible with steps provided.

[2017-09-20 11:42] orlangur commented on #5141
@paales did you mean that https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Api/ProductAttributeOptionManagementInterface.php#L34 is only returning `bool` and you would like to receive a model instead?

[2017-09-20 12:02] archonkulis opened #10970 "Quote update problems in items with selected custom options"
### Preconditions

1. Magento v 2.1.6
2.

### Steps to reproduce

1. Add product ( with custom options created as checkboxes ( field type must be "check_input", also the similar problems with "multiple_field" ) and selected in front-end ) to cart
2. Use invalid coupon code

### Expected result

1. Item option in database should not update. So, after I added item to cart, this is the value for item

[2017-09-20 12:13] ashuston commented on #10531
I found a workaround that resolved this issue. Admittedly, this is a bit of a hack (because it involves changing Core Magento files which will require you to patch after each update). But it may help you too so will post it (USE IT AT YOUR OWN RISK!)

I have patched core file:

**magentoroot/vendor/magento/module-catalog/Model/Indexer/Category/Product/AbstractAction.php**

I have changed method, f

[2017-09-20 12:19] magento-engcom-team commented on #7884
Hi, @alen9788.  Thank you for your report.
We were not able to reproduce this issue with current steps:
1. Install Magento 2.1.3
2. In back-end go to menu Stores->Settings->All Stores
3. Change code for existing Default Store View  to "en" from "default" and save
4. Create new store view
- Store: main Website Store
-  Name: Fr
- Code: fr
- Status: Enabled
5. Go to menu Stores->Settings->Configurat

[2017-09-20 12:24] magento-engcom-team commented on #10675
@OZZlE, thank you for your report.
We've created internal ticket(s) MAGETWO-75577 to track progress on the issue.

[2017-09-20 12:30] anton-dvornik commented on #10804
@magento-engcom-team Thank for your response.
I’ve installed the latest clean version of magento CE-2.1.8, and tried to reproduce the issue. The issue still reproduces.
What details of my environment are you interested in?

[2017-09-20 12:32] magento-engcom-team commented on #7714
@shakilagc, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 12:32] #7714 closed, assigned to nobody

[2017-09-20 12:32] CatherineLearmonth commented on #10461
@kervin
Yes that sounds like the same issue.
It may be that once #7877 is fixed, that this will be fixed too, I am sure it is related to that issue.

[2017-09-20 12:34] magento-engcom-team commented on #10261
@codedge thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more details regarding your environment, or try to reproduce this
issue on a clean installation.

[2017-09-20 12:37] orlangur commented on #10804
OS maybe. Is it MacOS or Windows in your case?

[2017-09-20 12:46] anton-dvornik commented on #10804
I use Mac Os version 10.12.1

[2017-09-20 12:46] OZZlE commented on #10675
@magento-engcom-team wow thank you :)

[2017-09-20 12:48] orlangur commented on #10261
@codedge looks like delegation can help in your case, see https://stackoverflow.com/a/10817807/8640867.

Generally it is not a good idea to mix jQuery + KnockutJS event handlers.

[2017-09-20 12:51] magento-engcom-team commented on #8374
@t7m, thank you for your report.
We've created internal ticket(s) MAGETWO-75581 to track progress on the issue.

[2017-09-20 13:07] magento-engcom-team commented on #10960
@MirkoHuf Couldn't there be any error message while updating, that You might have not noticed. Also when You try to do something with integrations in 2.1.9 open developer console (F12 for Chrome) and look if there is no any JS error or something like that. Anyway, please provide screenshots of it while loading those pages (Integrations, adding new integration, "Back").

[2017-09-20 13:19] gwharton commented on #10424
[code]

It's not always consistent as to which attributes  have the "Use default value" unchecked.

I can provide dev access to the test store i deployed if that will help.

Cheers

[2017-09-20 13:23] magento-engcom-team commented on #7546
@guvra, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 13:23] #7546 closed, assigned to nobody

[2017-09-20 13:23] t7m commented on #8374
Wow! Seven and a half months later!

This is why we are not using your horrible product.

[2017-09-20 13:28] bijalbhavsar commented on #9497
Is any patch available to fix this issue for Magento 2.1.7?

[2017-09-20 13:38] magento-engcom-team commented on #8227
@philipvandebriel, thank you for your report.
We've created internal ticket(s) MAGETWO-75585 to track progress on the issue.

[2017-09-20 13:38] QwertyZW opened #10971 "Generate specific php sources via commandline"
Add a cli sub command that generates specific factory/proxy/interceptor sources

An ide can go blank when it sees something like `use Magento\Sales\Api\OrderInterfaceFactory` and the generated file doesn't exist. It won't be able to infer the type created by the factory and it won't provide method autocompletion/suggestions

One can write ide plguins that can the generation of said files when thei

[2017-09-20 13:40] magento-engcom-team commented on #10412
@er453r thank you for your bug report.
We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue.
Please give all param values from Configuration>Customers>Customer Configuration>Create New Account Options and all param values from your Tax Rule(s)

[2017-09-20 13:52] steros opened #10972 "composer update does not update htdocs/lib folder"
### Preconditions
1. have Magento 2.1.5 (or below 2.1.9 I suppose installed)
2. change composer.json to require 2.1.9

### Steps to reproduce
1. delete the vendor folder
2. leave all other folders as is
3. run composer update

### Expected result
1. Magento is updated to 2.1.9

### Actual result
1. Magento is updated to 2.1.9
2. almost everything runs fine
3. except in backend I get a 404 error ab

[2017-09-20 13:54] magento-engcom-team commented on #9188
@chefbuitenhuis, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 13:54] #9188 closed, assigned to nobody

[2017-09-20 13:57] magento-engcom-team commented on #10353
@iokbomkamp, thank you for your report.
We've created internal ticket(s) MAGETWO-75586 to track progress on the issue.

[2017-09-20 14:00] carylewis commented on #8415
@dmanners How can this not be fixed in 2.1.8 or 2.1.9? This is fatal issue. This used to work in 2.1.4 - can the missing method be ported into the 2.1.8 or 2.1.9 branch?

[2017-09-20 14:05] samc2810 opened #10973 "Problem creating new Store-View for Website with large Catalog >100K"
While creating a new Store for websites with a medium large number of products the webserver reaches the timeout after 5min. Although the new store is created the url-rewrites and most importantly the sales_sequence_meta/profile and the equence-tables are not created due to which one cannot place any order. is there anything that can be done. or how shouuld I continue with this?

Magento 2.1.7

[2017-09-20 14:19] magento-engcom-team commented on #10804
@anton-dvornik, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 14:19] #10804 closed, assigned to nobody

[2017-09-20 14:40] mikebranderhorst commented on #4305
If Magento 2.1.x you can (until fixed) just symlink folder errors from pub/errors
[code]

[2017-09-20 14:55] magento-engcom-team commented on #7340
@tirgil61, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-20 14:55] #7340 closed, assigned to nobody

[2017-09-20 14:56] jhruehl commented on #10838
Nonsense. There is no third party involved. Checked it by deactivating them all. And even the stack trace makes it quite obvious that its not a third party module. And the Customer Grid Indexer works just fine until updating to 2.2.0rc3.0.

So my guess is that you changed the Customer Grid Reindexer process in a way and forgot about Customer Attributes, which have the 'visible in grid' option set.

[2017-09-20 14:58] magento-engcom-team commented on #10317
@nei, thank you for your report.
We've created internal ticket(s) MAGETWO-75591 to track progress on the issue.

[2017-09-20 15:06] magento-engcom-team commented on #7878
@maxxis2112, thank you for your report.
The issue is already fixed in 2.1.8

[2017-09-20 15:06] #7878 closed, assigned to nobody

[2017-09-20 15:08] orlangur commented on #10971
This is not possible reliably, see https://magento.stackexchange.com/a/98916/40869 for details.

You can join https://github.com/enriquepiatti/Magicento/issues/219 discussion to figure out a possible implementation approach.

As to me the most promising way would be to expose developer/default mode on-demand PHP classes generation somehow (similar to the way `pub/static.php` is generating particul

[2017-09-20 15:08] #10971 closed, assigned to nobody

[2017-09-20 15:20] magento-engcom-team commented on #7617
@rbostan Thanks for reporting this issue. Unfortunately, I could not reproduce the issue as you described it.
Steps:
Go to Store-Attributes-Product, than Add New Attribute
![swatchupload](https://user-images.githubusercontent.com/31669971/30651675-1872fcee-9e2f-11e7-8ff9-aabbbcfdf606.png)
Tried to reproduce with  File System and Database storage types, production and developer modes.
Can you tell

[2017-09-20 15:26] orlangur commented on #10838
@jhruehl yeah, I was wondering how it is identified as a third-party module issue from the screenshot as well. Is the issue still reproducible for you on latest `2.2.0-preview` branch?

[2017-09-20 15:27] bvboas commented on #9509
Any news on this?

It's really annoying when you have multiple views to process different tasks and every time you have to change columns position..

[2017-09-20 15:36] orlangur commented on #10972
Did you perform all the necessary steps from http://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-upgrade.html#upgrade-cli-upgr? Static files should have been updated on step 6.

Looks like the new file https://github.com/magento/magento2/commits/2.1/lib/web/moment-timezone-with-data.js wasn't materialized to `pub/static` in your case.

[2017-09-20 15:42] steros commented on #10972
Yes of course and the problem was that in the end it wasn't materialized. But that was due to the fact that `lib` wasn't updated properly so the file wasn't in the source place in the first place.
So it couldn't be copied to `pub/static` then.

[2017-09-20 15:44] magento-engcom-team commented on #10973
@samc2810 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
- [ ] Preconditions: Magento version
- [ ] Steps to reproduce
- [ ] Expected result
- [

[2017-09-20 15:47] sylink commented on #8630
Yes, its probably better to ignore the issue on pedantics than actually take advantage of the free information being given here.   Carry on, thanks!

[2017-09-20 15:56] orlangur commented on #8630
@sylink sorry, I missed your old comment that you was actually able to reproduce issue with similar steps.

Of course if original issue reporter is not able to respond any help with reproduction is appreciated.

https://github.com/magento/magento2/issues/8630#issuecomment-284825468 are you able to reproduce with the same steps on `2.2.0-preview` maybe? Will reopen this issue in such case.

[2017-09-20 16:06] orlangur commented on #8415
@carylewis anyone can work on backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

Just one method needs to be removed: https://github.com/magento/magento2/pull/8418/files

[2017-09-20 16:09] #10870 closed, assigned to nobody

[2017-09-20 16:24] miguelbalparda commented on #10595
There is a proposed fix for this [here](https://github.com/magento/magento2/pull/10935), can you check it and report back?

[2017-09-20 16:30] orlangur commented on #8887
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

[2017-09-20 16:30] #8887 closed, assigned to nobody

[2017-09-20 16:31] orlangur commented on #8681
Closing as the fix for this issue is already available on Magento 2.2.0 branch.

Anyone, do not hesitate to create a backport to `2.1-develop` if needed, see https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630 for details.

[2017-09-20 16:31] #8681 closed, assigned to nobody

[2017-09-20 16:32] gwharton commented on #10595
Works for me on a single store installation of 2.2.0-rc30 and a multiwebsite install of 2.1.9.

[2017-09-20 16:33] zzvara commented on #10758
Hi,

1. We have swatch type or something like this.
2. We also have 5 additional languages as store views.
3. 5 additional languages have been added after 131 values have been specified in advance and saved.

By admin column I mean the attribute form, has (for each value) 5x2 input boxes, 2 for each store view and 2 additional which states "admin".
On 2017-09-20 01:21:46, Magento Community Enginee

[2017-09-20 16:37] miguelbalparda commented on #9408
There is a proposed fix for this [here](https://github.com/magento/magento2/pull/10935), can you check it and report back?

[2017-09-20 16:37] orlangur commented on #9139
Fix will be released in `2.1.10`.

[2017-09-20 16:37] #9139 closed, assigned to okorshenko, sadeeshmca

[2017-09-20 16:47] Ctucker9233 commented on #7314
@nobuttsalex This is great! Care to create a pull request against 2.1-develop so this fix might get into 2.1 faster?

[2017-09-20 17:25] ankursachdeva11 commented on #10495
Thanks @korostii for replying to magento team.

We are also facing some more issue. If we have linked some websites to any product then there is no API which will provide details what all websites linked to single product.

@magento-engcom-team, Can you please help with this request?

[2017-09-20 17:27] angelo983 commented on #9984
You have not to reproduce this issue by the nature of the issue itself, just put a developer to bring attention to this code:
in lib/web/mage/utils/arrays.js
Line 105 to 129

        if (typeof position === 'undefined') { // line 105 - fixed  issue above
            position = -1;
        } else if (typeof position === 'string') {
            position = isNaN(+position) ? position : +position;

[2017-09-20 17:29] hostep commented on #10972
@steros: can you reproduce the issue without the following step?

If you leave the `vendor` directory in place, and then perform the update, it might work correctly.

It feels like it has something to do with https://github.com/magento/magento-composer-installer, which is being used to copy files from inside the vendor directory, to outside the vendor directory using the `extra` => `map` config of

[2017-09-20 17:32] angelo983 commented on #9984
You have not to reproduce this issue because of the nature of the issue itself, just put a developer to bring attention to this code

in lib/web/mage/utils/arrays.js
Line 105 to 129

        if (typeof position === 'undefined') { // line 105 - fixed  issue above
            position = -1;
        } else if (typeof position === 'string') {
            position = isNaN(+position) ? position : +posit

[2017-09-20 18:14] steros commented on #10972
I see. Unfortunately not deleting vendor isn't possible.
I'm running a Ubuntu Vagrant on MacOSX with NFS. Apple changed some rights stuff and thus often deleting files fails. I did not manage to fix the rights issues, if it is even possible.
I can't update magento via composer without deleting the folder :/

[2017-09-20 18:14] magento-engcom-team commented on #3573
@amansrivastava thank you for the report. The fix is available in 2.2.0

[2017-09-20 18:14] #3573 closed, assigned to nobody

[2017-09-20 18:16] magento-engcom-team commented on #3771
@jaimestuardo thank you for the report. The issued fixed in MAGETWO-59042 and available in 2.2.0

[2017-09-20 18:16] #3771 closed, assigned to antboiko

[2017-09-20 18:19] magento-engcom-team commented on #4231
@ktruehl thank you for report. The issue has been fixed in MAGETWO-59555 in release 2.2.0

[2017-09-20 18:19] #4231 closed, assigned to choukalos

[2017-09-20 18:22] magento-engcom-team commented on #4884
@minhluan259 thank you for report. The issue already fixed in 2.2.0 release

[2017-09-20 18:22] #4884 closed, assigned to nobody

[2017-09-20 18:25] magento-engcom-team commented on #5655
@thdoan thank you for report. MAGETWO-55815 was closed as Won't fix. with the comment:
`Work around for customer - use Default mode with caching and selectively flush cache types as needed; production mode hits performance targets.`

[2017-09-20 18:25] #5655 closed, assigned to nobody

[2017-09-20 18:29] magento-engcom-team commented on #6081
Fixed in 2.2.0 and 2.1
https://github.com/magento/magento2/blob/2.2.1-preview/app/code/Magento/Review/view/frontend/templates/form.phtml#L23
Thank you for report

[2017-09-20 18:29] #6081 closed, assigned to nobody

[2017-09-20 18:33] magento-engcom-team commented on #6360
The issue has been fixed in MAGETWO-57995. Release 2.2.0
@ntoombs19 thank you for report

[2017-09-20 18:33] #6360 closed, assigned to nobody

[2017-09-20 18:34] magento-engcom-team commented on #6656
The issued has been fixed in https://github.com/magento/zf1/pull/9
@javiermartinezruiz thank you for report

[2017-09-20 18:34] #6656 closed, assigned to nobody

[2017-09-20 18:36] magento-engcom-team commented on #6882
Fixed in MAGETWO-53766. Release 2.2.0
@ivanweiler thank you for report

[2017-09-20 18:36] #6882 closed, assigned to nobody

[2017-09-20 18:38] fouli86 commented on #10682
Sure! Let me be more clear with the following print screens:
Here is the Search Engine Optimization of a category on the backend
![image](https://user-images.githubusercontent.com/22245592/30660709-74066e5e-9e4a-11e7-9674-e80f58318766.png)

The expected result would be:
![image](https://user-images.githubusercontent.com/22245592/30660850-dfea2caa-9e4a-11e7-938a-db34650937a7.png)

But....the actual

[2017-09-20 18:39] magento-engcom-team commented on #6923
@johnvanderstelt thank you for report. Closing the issue as won't fix. it is expected behavior

[2017-09-20 18:39] #6923 closed, assigned to nobody

[2017-09-20 18:43] magento-engcom-team commented on #6929
The issue has been fixed in MAGETWO-63651, MAGETWO-67290, MAGETWO-63650, MAGETWO-63637 and delivered

If you have any other issues, please, create new issue
Thank you

[2017-09-20 18:43] #6929 closed, assigned to nobody

[2017-09-20 18:44] magento-engcom-team commented on #7162
The issue already fixed. @vanderlee thank you for report

[2017-09-20 18:44] #7162 closed, assigned to nobody

[2017-09-20 18:48] MirkoHuf commented on #10960
One more - importand - information.
We have 2 systems - very similar. The only difference is, the development system runs on Apache, the productive system runs on nginx.

We have the problem on booth.

There is no JS error or any other type of error message in the console.
![2017-09-20_20h38_07](https://user-images.githubusercontent.com/7764831/30661244-b21cb010-9e43-11e7-8d61-df5c40d962a2.png)

I

[2017-09-20 18:48] magento-engcom-team commented on #3356
Closing the issue as the feature request. Please, see more details here https://github.com/magento/magento2/pull/8913#discussion_r106549969

[2017-09-20 19:01] tmotyl commented on #3356
@magento-engcom-team the PR you've referencing was also closed, as it required some changes in the pull request code.
So now both this issue and PR are closed but the issue still exists and documentation is still wrong.
In my opinion this issue should stay open until it's fixed.

If you consider this a feature request, please at last fix the documentation.

[2017-09-20 19:06] magento-engcom-team commented on #8978
The issue already fixed in 2.2.0
@Will-I4M thank you for report

[2017-09-20 19:06] #8978 closed, assigned to nobody

[2017-09-20 19:10] magento-engcom-team commented on #8587
Hi @koenner01
We are closing the issue. Related PR has been rejected

[2017-09-20 19:10] #8587 closed, assigned to nobody

[2017-09-20 19:14] magento-engcom-team commented on #8264
Fixed in 2.2.0 and 2.1 releases. @hostep thank you for report

[2017-09-20 19:14] #8264 closed, assigned to nobody

[2017-09-20 19:15] magento-engcom-team commented on #7661
The issue has been fixed in 2.2.0 and 2.1 releases.
@sippsolutions thank you for report

[2017-09-20 19:15] #7661 closed, assigned to nobody

[2017-09-20 19:16] magento-engcom-team commented on #7469
The issue already fixed in 2.2.0
@romainruaud thank you for report

[2017-09-20 19:16] #7469 closed, assigned to nobody

[2017-09-20 19:19] #10972 closed, assigned to nobody

[2017-09-20 19:35] elisei commented on #7554
magento v. 2.1.9 and the problem persists!

[2017-09-20 19:56] orlangur commented on #9984
@angelo983 I believe a problem is in which particular scenario `position` become equal to `null`. Error in console does not mean this is the right place for the fix.

[2017-09-20 20:09] JeroenVanLeusden commented on #10973
Duplicate of #10315 although I missed the additional table creations. You have some files/references where this happens so I can take a look?

[2017-09-20 20:17] orlangur commented on #10682
Assuming https://webmasters.stackexchange.com/questions/76522/are-html-encoded-symbols-allowed-in-meta-description and https://webmasters.stackexchange.com/questions/76211/meta-description-has-html-entities-will-google-show-the-real-character-or-the-e why is it a problem?

[2017-09-20 20:25] orlangur commented on #6923
@magento-engcom-team well, https://github.com/magento/magento2/commit/499e95175933ee5d954591475024fd784f74d984 looks like there was a fix in `2.2.x` actually.

@vesvello looks like the fix was to replace `$amount->getBaseAmount()` with `$amount->getValue()` which is a bit different to your version but probably gives the same result.

[2017-09-20 20:38] eldrickalbers commented on #10752
Would it help If I give acces to the app and server?

[2017-09-20 20:42] orlangur commented on #10942
@jerome-zhang sorry, I don't have such information and it is not publicly available as far as I know. Taking into consideration it is just a regular patch release (previous such release was 2.1.8 with 2.1.9 reserved as a security release in advance) I assume 2.1.10 is going to be released in a month or two.

[2017-09-20 20:46] MirkoHuf commented on #10960
Additional information:
I go back on our test system to magento 2.1.6 via snapshot. And this time i use the Web Setup Wizard to start the upgrade from 2.1.6 to 2.1.9
Runs without error messages - but the new integration page is still empty.

[2017-09-20 21:14] magento-engcom-team commented on #4237
@ajpevers thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:14] #4237 closed, assigned to nobody

[2017-09-20 21:15] #4668 closed, assigned to nobody

[2017-09-20 21:16] magento-engcom-team commented on #5381
@tzyganu @ajpevers thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:16] #5381 closed, assigned to nobody

[2017-09-20 21:19] magento-engcom-team commented on #7504
@maderlock thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:19] #7504 closed, assigned to nobody

[2017-09-20 21:19] magento-engcom-team commented on #8059
@justenpeters thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:19] #8059 closed, assigned to nobody

[2017-09-20 21:20] #8732 closed, assigned to nobody

[2017-09-20 21:20] magento-engcom-team commented on #8761
@taschert thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:20] #8761 closed, assigned to nobody

[2017-09-20 21:21] magento-engcom-team commented on #8765
@kanduvisla thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:21] #8765 closed, assigned to nobody

[2017-09-20 21:21] magento-engcom-team commented on #8863
@wigman thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:21] #8863 closed, assigned to mmacinko

[2017-09-20 21:22] magento-engcom-team commented on #9196
@NMills12 thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:22] #9196 closed, assigned to vkranjith

[2017-09-20 21:24] magento-engcom-team commented on #9236
Hi @dmanners
Thank you for continuous contribution to this component. You almost resolved all issues in that area! 👍 👍 👍
We are closing the issue, but feel free to proceed with Zend_Json refactoring

[2017-09-20 21:24] #9236 closed, assigned to dmanners

[2017-09-20 21:24] magento-engcom-team commented on #9265
@evgk thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:24] #9265 closed, assigned to nobody

[2017-09-20 21:25] magento-engcom-team commented on #9421
@ishakhsuvarov thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:25] #9421 closed, assigned to vpiyappan

[2017-09-20 21:25] magento-engcom-team commented on #9680
@PascalBrouwers thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:25] #9680 closed, assigned to nobody

[2017-09-20 21:26] magento-engcom-team commented on #10017
@EliasKotlyar thank you for your report.
The fix for this issue is already available in release 2.2.0

[2017-09-20 21:26] #10017 closed, assigned to nobody

[2017-09-20 21:28] magento-engcom-team commented on #2587
@duerstd thank you for your report.
The fix for this issue is already available in release 2.1

[2017-09-20 21:28] #2587 closed, assigned to nobody

[2017-09-20 21:37] magento-engcom-team commented on #3083
@teuma86 thank you for your report.
The fix for this issue is already fixed in 2.1.0 release

[2017-09-20 21:37] #3083 closed, assigned to ishakhsuvarov

[2017-09-20 21:38] magento-engcom-team commented on #4108
@tomispepe thank you for your report.
The fix for this issue is already fixed in 2.2.0 release

[2017-09-20 21:38] #4108 closed, assigned to nobody

[2017-09-20 21:38] magento-engcom-team commented on #4321
@stevekem thank you for your report.
The fix for this issue is already fixed in 2.2.0 release

[2017-09-20 21:38] #4321 closed, assigned to nobody

[2017-09-20 21:39] magento-engcom-team commented on #4358
@davidalger thank you for your report.
The fix for this issue is already fixed in 2.2.0 release

[2017-09-20 21:39] #4358 closed, assigned to maksek, rgoncharuk

[2017-09-20 21:40] magento-engcom-team commented on #4387
@thomasnordkvist thank you for your report.
The fix for this issue is already fixed in 2.2.0 release

[2017-09-20 21:40] #4387 closed, assigned to nobody

[2017-09-20 21:42] magento-engcom-team commented on #4506
@VegasJames thank you for your report.
The fix for this issue is already fixed in 2.0.11 release

[2017-09-20 21:42] #4506 closed, assigned to nobody

[2017-09-20 21:42] magento-engcom-team commented on #4531
@wbyrnetx thank you for your report.
The fix for this issue is already fixed in 2.2.0 release

[2017-09-20 21:42] #4531 closed, assigned to nobody

[2017-09-20 21:43] magento-engcom-team commented on #4549
@OlehWolf thank you for your report.
The fix for this issue is already fixed in 2.2.0 release

[2017-09-20 21:43] #4549 closed, assigned to bka

[2017-09-20 21:43] magento-engcom-team commented on #4579
@hgpit thank you for your report.
The fix for this issue is already fixed in 2.2.0 release

[2017-09-20 21:43] #4579 closed, assigned to antboiko

[2017-09-20 22:04] okorshenko commented on #10142
@farior, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:04] #10142 closed, assigned to alena-marchenko

[2017-09-20 22:06] magento-engcom-team commented on #4579
@hgpit, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:08] magento-engcom-team commented on #9610
@minesh0111, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:08] #9610 closed, assigned to nobody

[2017-09-20 22:10] magento-engcom-team commented on #4605
@fvillata, thank you for your report.
The issue is already fixed in 2.1.0

[2017-09-20 22:10] #4605 closed, assigned to antboiko

[2017-09-20 22:11] magento-engcom-team commented on #4630
@mch35, thank you for your report.
The issue is already fixed in EE 2.0 GA Milestone12, 2.2.0

[2017-09-20 22:11] #4630 closed, assigned to nobody

[2017-09-20 22:16] magento-engcom-team commented on #4758
@rkhoury82, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:16] #4758 closed, assigned to rgoncharuk, MomotenkoNatalia

[2017-09-20 22:17] magento-engcom-team commented on #4778
@Fdec, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:17] #4778 closed, assigned to nobody

[2017-09-20 22:17] magento-engcom-team commented on #4873
@zaoky, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:17] #4873 closed, assigned to nobody

[2017-09-20 22:17] magento-engcom-team commented on #4906
@fooman, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:17] #4906 closed, assigned to heyitsroberthe

[2017-09-20 22:18] magento-engcom-team commented on #4954
@stevewinni, thank you for your report.
The issue is already fixed in 2.1.0

[2017-09-20 22:18] #4954 closed, assigned to nobody

[2017-09-20 22:20] magento-engcom-team commented on #4999
@roma84, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:20] #4999 closed, assigned to ishakhsuvarov

[2017-09-20 22:20] magento-engcom-team commented on #5073
@ktruehl, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:20] #5073 closed, assigned to nobody

[2017-09-20 22:20] magento-engcom-team commented on #5104
@ideirj, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:20] #5104 closed, assigned to nobody

[2017-09-20 22:20] magento-engcom-team commented on #5142
@paales, thank you for your report.
The issue is already fixed in 2.1.8

[2017-09-20 22:20] #5142 closed, assigned to antboiko

[2017-09-20 22:21] magento-engcom-team commented on #5143
@paales, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:21] #5143 closed, assigned to nobody

[2017-09-20 22:22] magento-engcom-team commented on #5225
@PierAlex, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:22] #5225 closed, assigned to nobody

[2017-09-20 22:22] magento-engcom-team commented on #5266
@andidhouse, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:22] #5266 closed, assigned to nobody

[2017-09-20 22:22] magento-engcom-team commented on #5385
@heldchen, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:22] #5385 closed, assigned to nobody

[2017-09-20 22:23] magento-engcom-team commented on #5438
@ngagestudios, thank you for your report.
The issue is already fixed in 2.1.8

[2017-09-20 22:23] #5438 closed, assigned to nobody

[2017-09-20 22:23] magento-engcom-team commented on #5477
@kanduvisla, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:24] magento-engcom-team commented on #5485
@sasilinux, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:24] #5485 closed, assigned to nobody

[2017-09-20 22:24] magento-engcom-team commented on #5498
@RG-1, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:24] #5498 closed, assigned to nobody

[2017-09-20 22:25] magento-engcom-team commented on #5509
@rorteg, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:25] #5509 closed, assigned to antboiko

[2017-09-20 22:26] magento-engcom-team commented on #5524
@alexgifts, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:26] #5524 closed, assigned to nobody

[2017-09-20 22:26] magento-engcom-team commented on #5547
@shazul, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:26] #5547 closed, assigned to nobody

[2017-09-20 22:26] magento-engcom-team commented on #5797
@hostep, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:26] #5797 closed, assigned to nobody

[2017-09-20 22:27] magento-engcom-team commented on #5885
@mktudock, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:27] #5885 closed, assigned to nobody

[2017-09-20 22:27] magento-engcom-team commented on #5908
@matrixbegins, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:27] #5908 closed, assigned to nobody

[2017-09-20 22:27] magento-engcom-team commented on #5923
@JacobDrummond, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:27] #5923 closed, assigned to nobody

[2017-09-20 22:27] magento-engcom-team commented on #5929
@JacobDrummond, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:28] magento-engcom-team commented on #5931
@mktudock, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:28] #5931 closed, assigned to nobody

[2017-09-20 22:28] magento-engcom-team commented on #5972
@thomasnordkvist, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:28] #5972 closed, assigned to misha-kotov

[2017-09-20 22:29] magento-engcom-team commented on #5973
@tempo-ruud, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:29] #5973 closed, assigned to nobody

[2017-09-20 22:30] magento-engcom-team commented on #6045
@Corefix, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:30] #6045 closed, assigned to nobody

[2017-09-20 22:30] magento-engcom-team commented on #6078
@hrle991, thank you for your report.
The issue is already fixed in 2.1.0, 2.2.0

[2017-09-20 22:30] #6078 closed, assigned to nobody

[2017-09-20 22:30] magento-engcom-team commented on #6079
@dimunation, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:30] #6079 closed, assigned to nobody

[2017-09-20 22:30] #6122 closed, assigned to nobody

[2017-09-20 22:30] #6138 closed, assigned to nobody

[2017-09-20 22:30] #6201 closed, assigned to nobody

[2017-09-20 22:31] magento-engcom-team commented on #6213
@j4hangir, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:31] #6213 closed, assigned to nobody

[2017-09-20 22:31] magento-engcom-team commented on #6240
@crantron, thank you for your report.
The issue is already fixed in 2.1.3

[2017-09-20 22:31] #6240 closed, assigned to nobody

[2017-09-20 22:31] magento-engcom-team commented on #6259
@storepeinture, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:31] #6259 closed, assigned to nobody

[2017-09-20 22:31] magento-engcom-team commented on #6262
@wired-circuit, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:31] #6262 closed, assigned to piotrekkaminski

[2017-09-20 22:31] magento-engcom-team commented on #6323
@JacobDrummond, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:31] #6323 closed, assigned to nobody

[2017-09-20 22:31] #6320 closed, assigned to nobody

[2017-09-20 22:31] #6342 closed, assigned to nobody

[2017-09-20 22:31] #6475 closed, assigned to nobody

[2017-09-20 22:31] #6592 closed, assigned to nobody

[2017-09-20 22:31] #6671 closed, assigned to atultechelogy

[2017-09-20 22:34] magento-engcom-team commented on #6710
@woakley, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:34] #6710 closed, assigned to nobody

[2017-09-20 22:35] magento-engcom-team commented on #6719
@pguedesbr, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:35] magento-engcom-team commented on #6739
@maxbucknell, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:35] #6739 closed, assigned to nobody

[2017-09-20 22:35] magento-engcom-team commented on #6787
@thirumoorthyp, thank you for your report.
The issue is already fixed in 2.1.3

[2017-09-20 22:35] #6787 closed, assigned to nobody

[2017-09-20 22:36] magento-engcom-team commented on #6822
@jvreeken, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:36] #6822 closed, assigned to eug123

[2017-09-20 22:36] magento-engcom-team commented on #6885
@lfritsche, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:36] #6885 closed, assigned to nobody

[2017-09-20 22:36] magento-engcom-team commented on #6985
@joost-florijn-kega, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:36] #6985 closed, assigned to nobody

[2017-09-20 22:36] magento-engcom-team commented on #7037
@pitangaweb, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:36] #7037 closed, assigned to nobody

[2017-09-20 22:37] magento-engcom-team commented on #7115
@leoquijano, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:37] #7115 closed, assigned to nobody

[2017-09-20 22:38] magento-engcom-team commented on #7125
@thdoan, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:38] #7125 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7301
@ghost, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7301 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7350
@comdiler, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7350 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7362
@valenciaisaza, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7362 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7203
@popatkaran, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7203 closed, assigned to victor-v-rad

[2017-09-20 22:40] magento-engcom-team commented on #7367
@dmitrisol, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] magento-engcom-team commented on #7382
@romainruaud, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7382 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7388
@JesseEnd, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7388 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7465
@maqlec, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7465 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7500
@Juigeli, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7500 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7380
@PaulBoss, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7380 closed, assigned to nobody

[2017-09-20 22:40] magento-engcom-team commented on #7507
@maderlock, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:40] #7507 closed, assigned to nobody

[2017-09-20 22:41] magento-engcom-team commented on #7560
@shahankitb997, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] #7560 closed, assigned to nobody

[2017-09-20 22:41] magento-engcom-team commented on #7804
@AirmanAJK, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] #7804 closed, assigned to nobody

[2017-09-20 22:41] magento-engcom-team commented on #7862
@hostep, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] magento-engcom-team commented on #7942
@mitch6, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] #7942 closed, assigned to nobody

[2017-09-20 22:41] magento-engcom-team commented on #7984
@andreaskoch, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] #7984 closed, assigned to nobody

[2017-09-20 22:41] magento-engcom-team commented on #8018
@caesarcxiv, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] #8018 closed, assigned to nobody

[2017-09-20 22:41] magento-engcom-team commented on #8064
@will-b, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] #8064 closed, assigned to nobody

[2017-09-20 22:41] magento-engcom-team commented on #7588
@andreaskoch, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:41] #7588 closed, assigned to odubovyk

[2017-09-20 22:56] magento-engcom-team commented on #8274
@bartlubbersen, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #8274 closed, assigned to misha-kotov

[2017-09-20 22:56] magento-engcom-team commented on #8369
@Arriba99, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #8369 closed, assigned to nobody

[2017-09-20 22:56] magento-engcom-team commented on #8396
@hostep, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #8396 closed, assigned to nobody

[2017-09-20 22:56] magento-engcom-team commented on #8509
@Noewt, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #8509 closed, assigned to nobody

[2017-09-20 22:56] magento-engcom-team commented on #8833
@martinhetschel, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] magento-engcom-team commented on #8947
@amnotafraid, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #8833 closed, assigned to nobody

[2017-09-20 22:56] #8947 closed, assigned to alena-marchenko

[2017-09-20 22:56] magento-engcom-team commented on #8962
@atsareva, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #8962 closed, assigned to nobody

[2017-09-20 22:56] magento-engcom-team commented on #9017
@will-b, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #9017 closed, assigned to davidalger

[2017-09-20 22:56] magento-engcom-team commented on #10045
@avoelkl, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 22:56] magento-engcom-team commented on #10138
@azotez, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:56] #10138 closed, assigned to nobody

[2017-09-20 22:58] magento-engcom-team commented on #8196
@basselalaraaj, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:58] magento-engcom-team commented on #10045
@avoelkl, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 22:58] magento-engcom-team commented on #8143
@andrewsladen, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:58] #8143 closed, assigned to nobody

[2017-09-20 22:58] #8196 closed, assigned to vrann

[2017-09-20 22:59] magento-engcom-team commented on #8118
@andreaskoch, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 22:59] #8118 closed, assigned to nobody

[2017-09-20 23:02] magento-engcom-team commented on #10527
@ekuusela, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:02] magento-engcom-team commented on #10045
@avoelkl, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:02] magento-engcom-team commented on #6709
@XigenDominic, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:03] magento-engcom-team commented on #8676
@megamosa, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:03] #8676 closed

[2017-09-20 23:04] magento-engcom-team commented on #10565
@gilbertsohal, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:04] magento-engcom-team commented on #10562
@ulftietze, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:04] magento-engcom-team commented on #10148
@PascalBrouwers, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:04] #10148 closed, assigned to nobody

[2017-09-20 23:04] magento-engcom-team commented on #10124
@mjoraid, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:04] #10124 closed, assigned to nobody

[2017-09-20 23:07] magento-engcom-team commented on #9877
@Styopchik, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:07] magento-engcom-team commented on #9967
@angelo983, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:07] magento-engcom-team commented on #8871
@okorshenko, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:07] magento-engcom-team commented on #9771
@jissereitsma, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:07] #9771 closed, assigned to nobody

[2017-09-20 23:07] magento-engcom-team commented on #8616
@arekm, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:07] #8616 closed, assigned to nobody

[2017-09-20 23:07] #8871 closed, assigned to tomislavsantek

[2017-09-20 23:07] magento-engcom-team commented on #8221
@azanelli, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:07] magento-engcom-team commented on #8145
@hostep, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:07] #8221 closed, assigned to nobody

[2017-09-20 23:07] magento-engcom-team commented on #7403
@thlassche, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:07] magento-engcom-team commented on #7230
@LucScu, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:07] magento-engcom-team commented on #7349
@barbanet, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:07] #7349 closed, assigned to odubovyk

[2017-09-20 23:07] magento-engcom-team commented on #6733
@yumicom, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:07] #7230 closed, assigned to nobody

[2017-09-20 23:07] magento-engcom-team commented on #6729
@kandrejevs, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:07] magento-engcom-team commented on #6497
@schmengler, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:08] magento-engcom-team commented on #6435
@craigcarnell, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:08] #6435 closed, assigned to nobody

[2017-09-20 23:08] magento-engcom-team commented on #4720
@cdiacon, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:08] magento-engcom-team commented on #5820
@bjoern-quast, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:08] magento-engcom-team commented on #8469
@paveq, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:08] magento-engcom-team commented on #4530
@ntoombs19, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-20 23:09] magento-engcom-team commented on #6510
Thank you for the report. The issue has been resolved

[2017-09-20 23:09] #6510 closed, assigned to victor-v-rad

[2017-09-20 23:13] magento-engcom-team commented on #4653
@dv8nate, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:13] magento-engcom-team commented on #2476
@johnbendi, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:13] #2476 closed, assigned to nobody

[2017-09-20 23:13] #4653 closed, assigned to rgoncharuk

[2017-09-20 23:16] magento-engcom-team commented on #7892
@Silarn, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:16] #7892 closed, assigned to nobody

[2017-09-20 23:18] magento-engcom-team commented on #7198
@Kasoi-free, thank you for your report.
The issue is already fixed in 2.1.0

[2017-09-20 23:18] #7198 closed, assigned to nobody

[2017-09-20 23:19] magento-engcom-team commented on #6892
@Gin-Tuyen, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-20 23:19] #6892 closed, assigned to nobody

[2017-09-20 23:25] orlangur commented on #4720
@magento-engcom-team I don't think deprecations can be backported actually :)

[2017-09-20 23:26] #4720 closed, assigned to nobody

[2017-09-20 23:30] magento-engcom-team commented on #7554
@elisei thank you for update. We updated issue description

[2017-09-21 03:02] versdivers commented on #4921
This is even worse. There is no explanation what so ever when you want to add customers by code.

I clearly give just 1 line

[code]

And my whole ssh console is full with

magento 2.1.8

[2017-09-21 03:31] conflicker commented on #8162
@magento-engcom-team can you point me to the actual changes to fix this issue? I'm getting this on CE 2.1.7

[2017-09-21 03:46] RomualdoBugai commented on #2504
One solution that worked was (linux ubuntu operating system with apache2 server):

Access the folder
`cd /etc/apache2/sites-available/`

Open file as administrator
`sudo nano 000-default.conf`

Include the following code before finishing the tag `VirtualHost`
`<Directory /var/www/html/>
                Options Indexes FollowSymLinks Multiviews
                AllowOverride All
                Orde

[2017-09-21 04:49] mcretien commented on #3150
Has it been added to 2.1.9?

[2017-09-21 04:54] wired-circuit commented on #6262
A year later?

On 21 September 2017 at 01:32, Magento Community Engineering <
notifications@github.com> wrote:

--

This message, including any attached files is intended solely for the
individual named. If you are not the named addressee you should not
disseminate, distribute or copy this e-mail. Please notify the sender
immediately by e-mail if you have received this e-mail by mistake and
delete

[2017-09-21 04:54] jayankaghosh opened #10976 "Configurable swatch not working for price in Listing/Category Page"
__Preconditions__

1. Magento version 2.1.8
2. PHP version 7.0.22
3. Apache2 running on an Ubuntu 16.04 environment
2. Install Default LUMA theme if not present
3. Install Sample Data through CLI

__Steps to reproduce__

1. Add configurable product
2. Add associated simple products based on some configurable attribute (let's say color)
3. Set different price for each color (Let's say Blue 350 INR

[2017-09-21 05:07] mcretien commented on #3150
Same here,  @johnny-longneck solution works but number_format/currency are missing. Tried @qbo-tech code but same issue.

[2017-09-21 05:37] martinhetschel commented on #9707
PHP version is (7.0.23-1+ubuntu16.04.1+deb.sury.org+1)

MySQL 5.7.19-0ubuntu0.16.04.1

[2017-09-21 05:48] alen9788 commented on #10499
Please solve the issue ASAP, or we can not get payment, lose large sales.

[2017-09-21 05:55] archonkulis commented on #10970
Sorry for the disturbance. You can ignore the issue - turns out the issue is in rewritten files.

[2017-09-21 05:55] #10970 closed, assigned to nobody

[2017-09-21 06:11] PieterCappelle commented on #6710
Hi, is it possible to tell me in which commit this has been fixed? Has this been backported to 2.1 branch? If I you can give me the commit I will backport to 2.1 branch. Thanks!

[2017-09-21 06:24] jhruehl commented on #10838
@orlangur Yes, it is. But I'm going to try to reproduce it now in our vanilla m2.2.0rc3 store test server by adding a customer attribute with 'visible in grid' set to yes.

[2017-09-21 06:36] eInyzant opened #10978 "Multi website - customer create form - Attribute Cache not taking account the current website/store"
### Preconditions
1. Magento CE 2.1.9
2. Multi website / and multi stores (B2B (with languages : FR, EN) + B2C (with languages FR, EN, JP)
3. Php 5.6

### Steps to reproduce

1. For the B2b website I want to display Tax / Vat field. And I don't want to display DOB field
2. For the B2C website I don't want to display Tax / Vat field, but I do want to display DOB field (optional).
3. So I set up the

[2017-09-21 07:02] hostep commented on #7862
@magento-engcom-team: well no, it's not really fixed in 2.2.0, see: https://github.com/magento/magento2/issues/10673

[2017-09-21 07:03] magento-engcom-team commented on #8979
@pisc-software thank you for your bug report.
We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue.
Please give an install script, that added customer custom attribute 'tax_class_id' and plugin codes.

[2017-09-21 07:22] rbostan commented on #10829
Thanks form information.
But, we are not planning to upgrade 2.2.0 in near future.

How can we fix this for 2.1.8 ?

[2017-09-21 07:27] magento-engcom-team commented on #10279
@scottsb thank you for your report.

Closed as duplicate https://github.com/magento/magento2/issues/10650

[2017-09-21 07:27] #10279 closed, assigned to nobody

[2017-09-21 07:28] sydekumf opened #10979 "StockItemCriteriaMapper has wrong function declaration"
When you set a products filter with an array of product ids on a stock item criteria and want to get a list of stock items via the stock item repository, you only get one item instead the number of product ids given. This is due to a wrong function declaration.

### Preconditions
1. Create some piece of code you can execute (i.e. a plugin, see code example)

[code]

### Steps to reproduce
1. Try t

[2017-09-21 07:34] magento-engcom-team commented on #10957
Hi @KishorkumarKar
Thank you for your report.
This bug is duplicate #5509.

[2017-09-21 07:36] magento-engcom-team commented on #10957
Hi @KishorkumarKar
Thank you for your report.
This bug is duplicate #5509.

[2017-09-21 07:36] #10957 closed, assigned to nobody

[2017-09-21 07:36] magento-engcom-team commented on #10345
Hi @gcampedelli
We are closing this issue for now, as it seems that issue relates to the custom theme or modules. If you manage to reproduce the issue with clean installation – please reopen the issue and provide clear steps to reproduce.
Thank you.

[2017-09-21 07:36] #10345 closed, assigned to nobody

[2017-09-21 07:43] magento-engcom-team commented on #10300
@michaeldyl520 Closing this report, as it seems @atishgoswami provided a working solution.

Thank you.

[2017-09-21 07:43] #10300 closed, assigned to nobody

[2017-09-21 07:52] magento-engcom-team commented on #10221
@webmasterdragon Thank you for your report. Closing this ticket for now as it seems that issue should be reported to the migration solution vendor.

Thank you

[2017-09-21 07:52] #10221 closed, assigned to nobody

[2017-09-21 07:57] magento-engcom-team commented on #10202
@LigeiaPoe Closing this issue as it seems to be a duplicate of #9290 as @southerncomputer pointed out.

Thank you.

[2017-09-21 07:57] #10202 closed, assigned to nobody

[2017-09-21 07:59] jhruehl commented on #10838
Sadly I couldn't reproce the Cutomer Grid Indexer problem with just adding the same attribute to the vanilla store we have already implemented. So I need to investigate further by debugging. But it could be that the massive difference between our productive customer data (where some incoherence snuggled in over the years) and the few (actually two customers), which are set in the vanilla installat

[2017-09-21 07:59] magento-engcom-team commented on #10186
@ambergithub, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 07:59] #10186 closed, assigned to nobody

[2017-09-21 08:01] CatherineLearmonth commented on #10461
I am sharing the workaround I have for this issue, for anyone who might find it helpful.
Insert the code after a product save (there is no need to do another subsequent product save after the workaround). Note that the workaround involves a direct table update, and that the relationship between the image type and the asset is lost (so you may find that a thumbnail image is now a main, etc). This i

[2017-09-21 08:24] magento-engcom-team commented on #10119
@abhilashv1985 You may look at the [commits](https://github.com/magento/magento2/search?q=MAGETWO-56538&type=Commits) which have `MAGETWO-56538` in the description.

We are closing this issue for now as fix is going to be released together with 2.2.0 soon.
Thank you.

[2017-09-21 08:24] #10119 closed, assigned to nobody

[2017-09-21 08:25] magento-engcom-team commented on #10251
Hello @melwinVincent. We can not reproduce Your issue. What we did was:
1) installed an appropriate version of Magento  **_Community Edition_**;
2) created a simple product in backend;
3) went to a product page on the storefront.
As a result the "product-add-form" is on its right place. Please specify, what have we missed from what You have done?
![screenshot_8](https://user-images.githubuserconte

[2017-09-21 08:30] magento-engcom-team commented on #10066
Closing this issue as it duplicates #8219. Additionally fix is going to be delivered in `2.2.0` and `2.1.10`.

Thank you.

[2017-09-21 08:30] #10066 closed, assigned to alena-marchenko

[2017-09-21 08:33] magento-engcom-team commented on #9963
@stevematthewroberts, @kevingimbel please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 08:33] #9963 closed, assigned to nobody

[2017-09-21 08:35] magento-engcom-team commented on #9954
Closing, as problem seems to be resolved.
Thank you @korostii

[2017-09-21 08:35] #9954 closed, assigned to nobody

[2017-09-21 08:35] PingusPepan commented on #10896
@fizzlekettle how did it go? Any improvement?

[2017-09-21 08:35] magento-engcom-team commented on #8218
Hi. Unfortunatlely we can reproduce the issueaccording the infromation,
As we see on you screenshots you have some notifications.
Please verify the issue in 2.1.9 vrsion if it still exists.
It the issue exists, please make sure that you flush cache and do reindex (at the screenshot we see that you have a message about it and 2 notifications about something else.
If the issue exists after it, pleas

[2017-09-21 08:36] orlangur commented on #3656
Commenting here as there does not seem to be any activity in https://community.magento.com/t5/Magento-2-Feature-Requests-and/Architecture-Proposal-Simplify-URL-Rewrites-and-make-them-better/idi-p/48593.

I don't know if matching was ever a bottleneck, however, I prefer precise solutions much more than approximate ones. With data structure similar to https://en.wikipedia.org/wiki/Trie lookup will o

[2017-09-21 08:38] magento-engcom-team commented on #7847
Hi, @kanduvisla, thank you for your report. We tried to reproduce this issue in 2.1.9.

As we understood:
1. Simple product created (id = 1).
2. Execute $ urlRewrite = $ this-> urlRewriteFactory-> create (['data' => ['entity_id' => 1]]); (You have an object with only data entity_id).
3. $ this-> urlRewriteResource-> delete ($ urlRewrite); (You tried to delete it with resource).
It will enter to: M

[2017-09-21 08:39] gigadesign1 commented on #10530
I'm having the same issue in Magento 2.1.8 and Magento 2.1.9.

In the layout.xml the block is defined as:
`<block class="Magento\Sales\Block\Order\PrintShipment" name="order_items" template="order/items.phtml">`

In the items.phtml template it states:
`/** @var \Magento\Sales\Block\Order\Items $block */`

Clearly, this is incorrect.

The template calls for
`$block->isPagerDisplayed()`

This functi

[2017-09-21 08:41] magento-engcom-team commented on #7654
@erik-augustin , Thanks for the feedback. Please add more details to your description of the steps you followed when identifying this issue.

[2017-09-21 08:41] rab14191 opened #10981 "whentry to deleting block one or multipal that time i got this error"
Fatal error: Call to undefined method Magento\Cms\Model\ResourceModel\Block\Grid\Collection::_getAllIdsSelect() in C:\xampp\htdocs\rabworld\219\vendor\magento\module-cms\Model\ResourceModel\Block\Grid\Collection.php on line 97

magneto version:2.1.9
sql:Version information: 4.5.1, latest stable version: 4.7.4

[2017-09-21 08:41] andidhouse opened #10982 "Credit Memo - Wrong tax calculation!"
### Preconditions

1. Magento 2.1.7 via download
2. Nginx, php7, varnish, redis

### Steps to reproduce

1. Create tax class for product with 19%
2. Create Shipping tax class with 19%
3. Order a product with shipping costs
4. create a credit memo of the product cost (with the shipping costs)

### Expected result

1. The credit memo (for the article only)  includes just the tax for the product - no

[2017-09-21 08:45] magento-engcom-team commented on #10960
You sad that Changing Password doesn't help. But on the screenshot You provided on JS has no error the message about password change is still present. Are You sure we can eliminate this point from the possible reasons of issue occurrence?

[2017-09-21 08:48] magento-engcom-team commented on #10191
Hi @coachdesign
We cannot reproduce this issue as described.
My steps are:
1. Create two simple products with "default" attribute set;
2. Create attributes "attribute_1" and "attribute_2" with "Input Type" = "Text Field" and "Values Required" = "Yes";
3. Add attributes to "default" attribute set;
4. Go to Product > Catalog, select created products and click "Update attributes" action;
5. Check a "

[2017-09-21 08:48] magento-engcom-team commented on #9934
@coatesjonathan Closing, as issue is resolved.
Thank you.

[2017-09-21 08:48] #9934 closed, assigned to nobody

[2017-09-21 08:48] magento-engcom-team commented on #10895
@angelflorida thank you for report. Please specify the exact version of Magento or the tagged build you installed.

[2017-09-21 08:49] MirkoHuf commented on #10960
I'm sure :-)
![2017-09-21_10h48_51](https://user-images.githubusercontent.com/7764831/30687083-875b66c4-9eba-11e7-849b-b001dcb166a8.png)

[2017-09-21 08:49] magento-engcom-team commented on #10209
Description updated.

[2017-09-21 08:51] dankocherga commented on #10438
@magento-engcom-team
Please look at this sample module: https://github.com/dankocherga/m2-issue-10438
It adds extension attributes to order's shipping and billing address.
Try creating an order and editing it via admin panel.

[2017-09-21 08:52] orlangur commented on #10242
@dverkade,

This could happen in the past and was fixed in https://github.com/magento/data-migration-tool/issues/81. Just provide additional details if you still experiencing the problem.

Not commenting other items as they are irrelevant.

[2017-09-21 08:58] VoidWalker commented on #10838
There is a patch for this problem MDVA-4538_EE_2.1.4_v2
Which you can request through partner portal

[2017-09-21 09:09] samc2810 commented on #10973
@magento-engcom-team
the same pre-requisites as #10315

[2017-09-21 09:11] ghost opened #10983 "Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead."
Composer shows the message 'Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead.' after running `composer install`.

### Preconditions
n/a

### Steps to reproduce
Run `composer install` after cloning the repo.

### Expected result
No warning.

### Actual result
Abandoned package warning.

### Fix
Replace the `package fabpot/php-cs-fixer` with

[2017-09-21 09:14] magento-engcom-team commented on #9912
@Nym77 Closing this ticket for now as original issue seems to be resolved.
Please feel free to submit a PR if you have an idea on how to improve the error report.

Thank you.

[2017-09-21 09:14] #9912 closed, assigned to nobody

[2017-09-21 09:16] orlangur commented on #10265
System behaves normally in current implementation if your data is valid in the first place. If https://github.com/magento/data-migration-tool produces invalid data in some cases, it should be reported.

[2017-09-21 09:16] #10265 closed, assigned to nobody

[2017-09-21 09:22] magento-engcom-team commented on #9462
@DrashtiPandya We are closing this ticket for now as issue originates from the third-party module. Please contact module's vendor regarding this.

Thank you.

[2017-09-21 09:22] #9462 closed, assigned to nobody

[2017-09-21 09:24] andidhouse commented on #10265
I am 100% shure this will come up again - so this is closed and then another ticket is created. I am not shure what the meaning of this is as this was reported in different forums several times again and again.

But ok - lets see what happens.

[2017-09-21 09:26] magento-engcom-team commented on #9447
@frenky2334 Closing this issue as it is not a Magento bug, `tubalmartin/cssmin` is already bundled with magento version 4.1.0.

Thank you.

[2017-09-21 09:26] #9447 closed, assigned to nobody

[2017-09-21 09:27] andidhouse commented on #10982
This only happens sometimes - some refunds are ok - some have a calculation error.

I am also questioning why there are two ways to refund an order:

1. Create a credit memo over the order page directly
2. Create a credit memo over the invoice page

We realized this bugs only appeares on the credit creation when we do a credit memo over the invoice (which needs to be done to create an online refun

[2017-09-21 09:32] magento-engcom-team commented on #9425
@jigar48 Please attempt to reproduce the issue with the clean Magento installation and no 3rd-party modules installed. If it is still reproducible – update the report including clear preconditions, steps to reproduce, actual and expected result.

Thank you.

[2017-09-21 09:33] orlangur commented on #10983
@schadom thanks for your report! Closing as duplicate of https://github.com/magento/magento2/issues/7310.

[2017-09-21 09:33] #10983 closed, assigned to nobody

[2017-09-21 09:36] orlangur commented on #9465
System works as expected with the steps described.

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:36] #9465 closed, assigned to nobody

[2017-09-21 09:37] orlangur commented on #9313
System behaves normally in current implementation if your data is valid in the first place. If https://github.com/magento/data-migration-tool produces invalid data in some cases, it should be reported.

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:37] #9313 closed, assigned to nobody

[2017-09-21 09:38] magento-engcom-team commented on #9392
@xpoback Please feel free to create a Pull Request which fixes this issue.

[2017-09-21 09:38] orlangur commented on #8937
System behaves normally in current implementation if your data is valid in the first place. If https://github.com/magento/data-migration-tool produces invalid data in some cases, it should be reported.

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:38] #8937 closed, assigned to magento-engcom-team

[2017-09-21 09:39] orlangur commented on #8679
System behaves normally in current implementation if your data is valid in the first place. If https://github.com/magento/data-migration-tool produces invalid data in some cases, it should be reported.

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:39] #8679 closed, assigned to nobody

[2017-09-21 09:40] magento-engcom-team commented on #9346
@sabarivelmks, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sour

[2017-09-21 09:40] #9346 closed, assigned to nobody

[2017-09-21 09:40] orlangur commented on #8564
@piatrouski thanks for your suggestion!

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:40] #8564 closed, assigned to magento-engcom-team

[2017-09-21 09:48] orlangur commented on #4430
System behaves normally in current implementation if your data is valid in the first place. If https://github.com/magento/data-migration-tool produces invalid data in some cases, it should be reported.

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:48] #4430 closed, assigned to antboiko

[2017-09-21 09:52] magento-engcom-team commented on #9311
Hi @DavidLambauer
There is already a Pull Request in progress which introduces these methods: https://github.com/magento/magento2/pull/10925
and GitHub issue with the list of duplicates: https://github.com/magento/magento2/issues/10414

We are closing this ticket for now, as a duplicate. You can join the discussion in the Pull Request or https://github.com/magento/magento2/issues/10414 if you wish

[2017-09-21 09:52] #9311 closed, assigned to nobody

[2017-09-21 09:55] orlangur commented on #8188
I believe @misha-kotov was referring to SKU field, not URL Key, here.

@careys7, system works as expected with the steps described. The same error will be shown if you add product using Admin UI.

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:55] #8188 closed, assigned to misha-kotov

[2017-09-21 09:57] magento-engcom-team commented on #9292
@manishALW Closing this issue as it is already fixed in multiple versions.
Please reopen if you have any further questions.

Thank you.

[2017-09-21 09:57] #9292 closed, assigned to nobody

[2017-09-21 09:58] magento-engcom-team commented on #9246
@OlgaBurtyka, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 09:58] #9246 closed, assigned to nobody

[2017-09-21 09:59] orlangur commented on #9290
System works as expected with the steps described.

Error message was improved on Magento 2.2.0 branch to give more information to merchant what exactly needs to be changed.

[2017-09-21 09:59] #9290 closed, assigned to nobody

[2017-09-21 10:04] magento-engcom-team commented on #9070
@pankajbhope, thank you for your report.
The fix for this issue is already available in the `develop` branch and upcoming `2.2.0` release.

[2017-09-21 10:04] #9070 closed, assigned to nobody

[2017-09-21 10:05] orlangur commented on #10981
@rab14191 thanks for bug report!

Closing as duplicate of https://github.com/magento/magento2/issues/8415, the fix for this issue is already available on Magento 2.2.0 branch.

[2017-09-21 10:05] #10981 closed, assigned to nobody

[2017-09-21 10:06] QuentinHK commented on #8957
@koenner01 Thanks for digging in. What did you change exactly? I'm willing to test it with the API.

[2017-09-21 10:07] orlangur commented on #9758
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-09-21 10:07] #9758 closed, assigned to nobody

[2017-09-21 10:09] magento-engcom-team commented on #9014
@JoostWan, thank you for your report.
The fix for this issue is already available in the develop branch ans upcoming 2.2.0 release. See https://github.com/magento/magento2/pull/8413.

[2017-09-21 10:09] #9014 closed, assigned to nobody

[2017-09-21 10:10] magento-engcom-team commented on #6511
@heldchen, thank you for your report.
The fix for this issue is already available in the develop branch and upcoming 2.2.0 release. See https://github.com/magento/magento2/pull/8413.

[2017-09-21 10:10] #6511 closed, assigned to nobody

[2017-09-21 10:13] magento-engcom-team commented on #8996
@gandhiselvarj, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 10:13] #8996 closed, assigned to nobody

[2017-09-21 10:15] Atsiat opened #10984 "REST unable to create category for specific StoreView"
### Preconditions

1. Magento 2.1.9
2. Multistore
3. PHP 7.0.2

### Steps to reproduce

1. Magento 2.1.9
2. Multistore
3. POST rest/<store_code>/V1/categories
4. I also tried giving the store_id, store_view_id, store and other parameters in the JSON Body but the api responds "Property "StoreId" does not have corresponding setter in class "Magento\\Catalog\\Api\\Data\\CategoryInterface"."

I also t

[2017-09-21 10:20] magento-engcom-team commented on #8945
@claudioflagbit, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 10:20] #8945 closed, assigned to nobody

[2017-09-21 10:21] magento-engcom-team commented on #8942
@FlaviuParau, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 10:21] #8942 closed, assigned to nobody

[2017-09-21 10:24] magento-engcom-team commented on #8936
@EyalAmir Thank you for the report. Currently this is an expected behavior. Please set up a Pull Request if you have a proposed way to improve this.

[2017-09-21 10:24] #8936 closed, assigned to nobody

[2017-09-21 10:29] orlangur commented on #10978
@eInyzant thanks for bug report!

Yeah, this mechanism was quite buggy and thus it was decided to completely eliminate it in 2.2.0: https://github.com/magento/magento2/commit/3ae7c1909daad96d5a0ad6ab7048455448ba7480

This is not something that could be backported due to BC constraints, as a workaround you can try just to disable this cache type.

[2017-09-21 10:31] magento-engcom-team commented on #10880
@i95devdivya thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account or If you are a Partner reporting on behalf of a merchant, use the Partner portal.
GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-09-21 10:31] #10880 closed, assigned to nobody

[2017-09-21 10:34] magento-engcom-team commented on #10424
@gwharton, thank you for your clarifying.
We were not able to reproduce this issue on the 2.1-develop branch.

[2017-09-21 10:37] orlangur commented on #6541
Buggy EAV Attribute Cache mechanism was removed on Magento 2.2.0 branch: https://github.com/magento/magento2/commit/3ae7c1909daad96d5a0ad6ab7048455448ba7480

This is not something that could be backported due to BC constraints, as a workaround you can try just to disable this cache type.

[2017-09-21 10:37] #6541 closed, assigned to nobody

[2017-09-21 10:37] magento-engcom-team commented on #10879
@Amelia- thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
- [ ] Preconditions: Magento version
- [ ] Steps to reproduce
- [ ] Expected result

[2017-09-21 10:38] orlangur commented on #5339
Buggy EAV Attribute Cache mechanism was removed on Magento 2.2.0 branch: https://github.com/magento/magento2/commit/3ae7c1909daad96d5a0ad6ab7048455448ba7480

This is not something that could be backported due to BC constraints, as a workaround you can try just to disable this cache type.

[2017-09-21 10:38] #5339 closed, assigned to nobody

[2017-09-21 10:40] magento-engcom-team commented on #10878
@webmak , thank you for your report.  Please specify the exact version of Magento or the tagged build you installed.

[2017-09-21 10:45] mattgreenfield commented on #6488
Based on the above change of status, is this fixed? If so how can I get the fix please?

[2017-09-21 10:51] orlangur commented on #7847
System works as expected with the steps provided.

To remove URL Rewrites by Product something like
https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogUrlRewrite/Observer/ClearProductUrlsObserver.php#L54 should be used.

[2017-09-21 10:51] #7847 closed, assigned to nobody

[2017-09-21 10:57] gwharton commented on #10424
OK, well I don't know where to go from here. Would it help to take a look at my test store?

I've been able to reproduce it without an problems straight away on three different clean test deployments of Magento 2.1 (two of 2.1.8 and one of 2.1.9) and one production deployment of Magento 2.1.8.

I can reproduce it using both Microsoft Edge and Mozilla Firefox.

I have decided to drop the multi stor

[2017-09-21 11:00] joesken commented on #10424
We see this issue also on both the test and production system but our setup is complicated by a plugin which updates product information so it is not a clean test case (even though I think it is unrelated). Thanks @gwharton for following it up.

[2017-09-21 11:02] magento-engcom-team commented on #10873
@cckassis thank you for your report. Please specify the exact version of Magento or the tagged build you installed.

[2017-09-21 11:08] sergei-sss opened #10985 "Magento 2.2-rc3.0 and problem with including path for lib/internal directory."
### Preconditions
1. Magento 2.2-rc3.0

### Steps to reproduce
1. Upload any library  to the lib/internal directory,  in our case - GeoIP and MaxMind libraries.
2. Use the same libraries as you are can currently using in magento 2.1.x:
[code]

### Expected result
1. $reader is the object of the Reader class

### Actual result
1. Error: GeoIp2\Database\Reader class not found

It seems that for mage

[2017-09-21 11:09] koenner01 commented on #8957
Well like I said, I added a preference on the \Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver class in our module. It adds the 'save_rewrites_history' to the vitalForGenerationFields array

[code]

[code]

I'm not sure if you are working with a seperate module for your import, but you will need a module to add this preference

[2017-09-21 11:15] magento-engcom-team commented on #10161
Thanks for reporting this issue. Please check http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-images.html
Also You can try change Your code to something like:
[code]
And add to app/design/frontend/Magento/luma/etc/view.xml lines:
[code]
Hope it helps.
Please reopen this issue as needed.

[2017-09-21 11:22] gwharton commented on #10424
Here's a short video if it helps.

[https://youtu.be/kMkqkdnlMf8](https://youtu.be/kMkqkdnlMf8)

[2017-09-21 11:22] magento-engcom-team commented on #7554
We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. In addition, and any other information needed to reproduce your issue.

[2017-09-21 11:33] erikrijn commented on #10000
It is 100% reproducible. I've fixed the error in your codebase myself for
our customers.
If you don't even want to take the time to make 2 API calls (POST/PUT),
then just leave the bug in there.

On Wed, Sep 20, 2017 at 1:35 PM, Vlad Veselov <notifications@github.com>
wrote:

[2017-09-21 11:58] sayan-gitkid opened #10987 "Category Save with 3000+ products doesn't complete and shows blank page"
### Preconditions

1. Magento CE 2.1.7
2. PHP php5.6.25 (php.ini configs memory_limit = 7000M, mysql.connect_timeout = -1)
3. mysql5.7.14

### Steps to reproduce

1.  Clean install of Magento CE 2.1.7
2.  Create 4000+simple products and assign them to  categories with 4-5 level deep categories randomly. A product belongs to 5-15 categories.
3. Import products successfully.
4. Save a category below

[2017-09-21 11:58] magento-engcom-team commented on #10289
@Tegos, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please, give detailed steps to reproduce:
- what collection do you use (give all needed code for reproducing)?
- what is your database filled up with?

Note: try to reproduce it on 2.1.9.

[2017-09-21 12:00] dankocherga commented on #10790
I have created a Magento database back-up with products and tax rates prepared: https://www.dropbox.com/s/i5kxzqg671zb9nh/1505994954_db_demo.sql.sql.zip?dl=0

**Screenshot of the issue in the cart:**
<img width="1307" alt="2017-09-21 14 57 37" src="https://user-images.githubusercontent.com/157042/30694567-3b96ccb0-9edd-11e7-8826-5c3e72967bd3.png">

**Screenshots of my tax settings:**
<img width="6

[2017-09-21 12:05] orlangur commented on #10000
@erikrijn glad to know you managed to solve it for your clients. Best what you could do in such case to improve Magento is to [propose a PR](http://devdocs.magento.com/guides/v2.2/contributor-guide/contributing.html). They are processed pretty fast nowadays.

I understand your frustration and that you probably don't have motivation to make a PR. In such case would be nice if you share some patch w

[2017-09-21 12:14] orlangur commented on #10973
@JeroenVanLeusden @samc2810 yeah, thanks for pointing out, closing as duplicate.

[2017-09-21 12:14] #10973 closed, assigned to nobody

[2017-09-21 12:17] koenner01 commented on #10161
@magento-engcom-team, the documentation you are linking is either lacking or is incorrect.
For 'type' it states:

This is exactly what this issue is about; If you create a new type from the backend or through a setup script, you cannot reference it in the view.xml because the default view.xsd validator is used on it to validate if your type is one of the allowed values. The validator will say the

[2017-09-21 12:18] orlangur commented on #10315
This is due to poor URL Rewrites performance, tracked as MAGETWO-69145 internally according to https://github.com/magento/magento2/issues/10242#issuecomment-324371473.

Not sure if it works better already on Magento 2.2.0 branch.

[2017-09-21 12:18] orlangur commented on #10987
This is due to poor URL Rewrites performance, tracked as MAGETWO-69145 internally according to https://github.com/magento/magento2/issues/10242#issuecomment-324371473.

Not sure if it works better already on Magento 2.2.0 branch.

[2017-09-21 12:19] magento-engcom-team commented on #10851
@Wettons thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
- [ ] Preconditions: Magento version
- [ ] Steps to reproduce
- [ ] Expected result
- [

[2017-09-21 12:22] mattgreenfield commented on #7574
me too, any progress on this?

[2017-09-21 12:24] orlangur commented on #10985
This is intentional change in https://github.com/magento/magento2/commit/0b659d2613eeb53360c73108f7d71b808d4bbf28#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780L220.

The best way to solve is to install all libraries using Composer and do not rely on `include_path` just like Magento does. If it is not possible, you can simply restore this config in your custom `composer.json`.

[2017-09-21 12:24] #10985 closed, assigned to nobody

[2017-09-21 12:29] magento-engcom-team commented on #8547
@vesan-83, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2017-09-21 12:29] #8547 closed, assigned to nobody

[2017-09-21 12:29] orlangur commented on #10984
Error message

is pretty clear. You cannot just pass in JSON body whatever data you want but have to respect `@api` contracts.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-09-21 12:30] magento-engcom-team commented on #7427
@fxdegroot , Thanks for the feedback. We cannot reproduce this issue as described. Could you confirm if this issue still exist on latest version from the 2.1 release line(2.1.9) ?

[2017-09-21 12:31] magento-engcom-team commented on #7801
Unfortunately, we could not reproduce the issue as you described it. We need more information about this issue in order to successfully investigate potential fixes. Please describe each step of the procedure you followed, what changes you made to the configuration.

[2017-09-21 12:34] magento-engcom-team commented on #10849
@mohsinleads thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
- [ ] Preconditions: Magento version
- [ ] Steps to reproduce
- [ ] Expected result

[2017-09-21 12:34] naydav opened #10988 "Not relevant logic in \Magento\Ui\Component\MassAction\Filter"
### Preconditions
- Magento ver. 2.3.0-dev

### Steps to reproduce

*\Magento\Ui\Component\MassAction\Filter::getCollection*
The main goal of this class is obtaining entity ids from request for mass actions

### Expected result

- Contract without dependency on AbstractDb $collection
- Logic based on extra query is removed

### Actual result

- Parameter is AbstractDb $collection. But it is a redu

[2017-09-21 12:34] magento-engcom-team commented on #8477
@Schoeny1, @jstrez77 we are closing this issue due to inactivity. If you'd like to update it (according to the comment above), please reopen the issue.

[2017-09-21 12:34] #8477 closed, assigned to nobody

[2017-09-21 12:35] naydav commented on #10988
Internal ticked MAGETWO-75648

[2017-09-21 12:36] magento-engcom-team commented on #10941
@rishabhchd19, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details in steps to reproduce, or try to reproduce this issue on a clean installation, another Android device or another browser.

[2017-09-21 12:41] magento-engcom-team commented on #8461
@iprabhakar You screenshot looks like there are customizations present on your installation. Please attempt reproducing issue with a clean Magento installation, with no 3rd-party extensions.

[2017-09-21 12:47] fizzlekettle commented on #10896
@PingusPepan Sorry for late replay, we are investigating other issues as well.

One team member found out that this function is not executed if you enable indexing on schedule instead of indexing on save. This is good enough solution (for now) as products will be synced from another system instead of using Magento's admin panel.

[2017-09-21 12:47] magento-engcom-team commented on #8212
Hi @peterwdouglas
Looks like you are using Windows server, which is not supported by Magento. If you can reproduce this issue on a supported platform, please, feel free to reopen this issue. For an overview of supported technologies, see [System Requirements](http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-2.1-tech.html).

[2017-09-21 12:47] #8212 closed, assigned to nobody

[2017-09-21 12:49] magento-engcom-team commented on #7219
Hi @carfantasy , thanks for reporting this issue.  We cannot reproduce this issue on latest version from the 2.1 release line (2.1.9). Is this issue still actual?

[2017-09-21 12:52] davidwindell commented on #2130
I think this issue can be closed now that zend-stdlib ^2.7.7 is required by Magento 2.2

[2017-09-21 12:55] Anshu-Mishra commented on #5323
I am facing this issue on Magento 2.1.9

[2017-09-21 12:55] magento-engcom-team commented on #7888
@JacobDrummond, thank you for your report.
The fix for this issue is already available in the `develop` and `2.2-develop` branches. See [commits](https://github.com/magento/magento2/search?p=1&q=MAGETWO-57835&type=Commits) with `MAGETWO-57835` in the title.

[2017-09-21 12:55] #7888 closed, assigned to nobody

[2017-09-21 12:56] orlangur commented on #8477
Like many other memory/time consumption issues related to saving large categories I believe this one is related to poor URL Rewrites performance.

[2017-09-21 13:02] magento-engcom-team commented on #7823
@Tonop Closing this issue, as from your comment it looks like the issue you were reporting is already resolved on your side. Please reopen and update information if the issue persists.

[2017-09-21 13:02] #7823 closed, assigned to nobody

[2017-09-21 13:06] magento-engcom-team commented on #7779
@kanduvisla, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 13:06] #7779 closed, assigned to nobody

[2017-09-21 13:12] karlsminton commented on #5836
Can anyone confirm whether or not this is only affecting the indexers? Do any other scheduled tasks work normally?

[2017-09-21 13:14] josefbehr commented on #10666
Got the same situation:
➜  magento22 composer search extension-b2b
➜  magento22 composer require magento/extension-b2b=1.1.0-rc30
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package magento/extension-b2

[2017-09-21 13:22] storepeinture commented on #10594
Ok, thank you for looking into it.

Even though you cannot recreate this issue, it still persists, even after several Magento updates etc.

So I just write this message here, in case somebody else has this issue and has found a solution:
Please let me know what has helped you, it's really driving me nuts. I can't look around for more that 15 minutes without all my work being lost ...

What could b

[2017-09-21 13:23] cckassis commented on #10873
@magento-engcom-team Thanks for your reply. I am on ver 2.1.5. The problem is still unresolved!

[2017-09-21 13:24] jhruehl commented on #10838
I was able to reproduce the error in our vanilla store. Going to open a new issue.

[2017-09-21 13:32] orlangur commented on #10838
@VoidWalker `EE_2.1.4` does not seem to be suitable for `2.2.0rc23`. I believe such an old patch (2.1.4 - 2.1.9) is already included in 2.2.0.

[2017-09-21 13:36] Atsiat commented on #10984
I passed these parameters out of desperation.

The bug is not the Error Code I posted, the bug is that i can't create a
category under a certain storeview with the storecode in the url as I
posted.

I will create another bug report with less information so that the
problem becomes clear. You selected the only thing of my given
information that did not relate to my real problem and closed this trac

[2017-09-21 13:37] magento-engcom-team commented on #7673
@imgali Closing this issue for now due to fix is already available in `2.2-develop` and `develop` branches. Thank you @oroskodias for the Pull Request and fix.

[2017-09-21 13:37] #7673 closed, assigned to nobody

[2017-09-21 13:42] jhruehl commented on #10838
I was actually able to reproduce it in our vanilla m2.2.0rc3.0 store. In my first run, I didn't set 'is_used_in_grid'. Going to open a new Issue, because otherwise it probably gets ignored.

[2017-09-21 13:42] orlangur commented on #10984
@Atsiat just update this issue to keep things consolidated.

I'm not sure if it is currently possible or intentionally designed this way.

It seems more logical as question "how to create the same category with different languages in different storeviews via API?" and only after problem is located should be reported as a bug.

[2017-09-21 13:44] orlangur commented on #10838
@jhruehl could you check the latest `2.2.0-preview` please? I'll reopen an issue for you if reproducible.

[2017-09-21 13:46] jhruehl commented on #10838
@orlangur Isn't the 2.2.0rc3.0 Version the latest Preview?

[2017-09-21 13:48] magento-engcom-team commented on #10443
@karthi5053, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. We tried it on 2.1.9.
We did next:
1. Create simple product.
2. Enable free shipping(Store->Configuration->Sales->Shipping methods).
3. Enable zero subtotal payment method(Store->Configuration->Sales->Payment methods).
Set new order status as "Processing".
4. Go to Stores->Order St

[2017-09-21 13:48] orlangur commented on #10838
It is the last RC probably, but the branch was updated after that: https://github.com/magento/magento2/tree/2.2.0-preview

[2017-09-21 13:48] magento-engcom-team commented on #7642
@feelinc Looks like this is an artifact of the refactoring aimed at increasing the extensibility of Magento.
The problem is that the incorrect dependency was provided in the constructor –  `Magento\Sales\Model\ResourceModel\Order\CollectionFactory` instead of `Magento\Sales\Model\ResourceModel\Order\CollectionFactoryInterface`. Providing an interface is always a better solution, as it allows third

[2017-09-21 13:48] #7642 closed, assigned to nobody

[2017-09-21 13:51] Atsiat commented on #10984
I'm no Magento Developer I'm writing an Interface to Magento via REST API.
When i can get orders for specific storeviews, PUT products for specific storeviews etc. I should also be able to create categories for specific storeviews.

As far as I know the way I tried this is the way it should work. When creating a category for different storeviews you really create two categories and assign them to

[2017-09-21 13:56] jhruehl commented on #10838
Just looked at the problematic classes in the 2.2.0 and the 2.2.1-preview. They haven't been updated since then.
'Magento\Customer\Model\Indexer\Source' and '/lib/internal/Magento/Framework/Indexer/Handler/AttributeHandler'

So I don't really see the point to invest a lot of time into an update process to a preview branch, if the function addAttributeToSelect() is still missing in the Source class

[2017-09-21 13:58] magento-engcom-team commented on #7434
@Nehace40 Closing this ticket for now. Looks like this issue is already fixed in the latest 2.1. Please reopen if you have any further questions.

[2017-09-21 13:58] #7434 closed, assigned to nobody

[2017-09-21 14:03] magento-engcom-team commented on #7430
@nickmarx12345678 @erikhansen, thank you for your report.
The fix for this issue is already available in the `2.1`, `2.2` and `develop` branch. See commit https://github.com/magento/magento2/commit/097c8db99d1802e38c4e4e53a3537b423add21bf

[2017-09-21 14:03] #7430 closed, assigned to nobody

[2017-09-21 14:08] magento-engcom-team commented on #7189
@myselfgaurav, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-21 14:08] #7189 closed, assigned to nobody

[2017-09-21 14:11] magento-engcom-team commented on #7173
@JamboMedia, thank you for your report.
The fix for this issue is already available in the develop branch. See PR https://github.com/magento/magento2/pull/8132.

[2017-09-21 14:11] #7173 closed, assigned to nobody

[2017-09-21 14:12] orlangur commented on #10984
Probably it is designed to perform a separate request for each store view.

[2017-09-21 14:12] jhruehl commented on #10838
So even the folders '/lib/internal/Magento/Framework/Indexer/' and 'Magento/Customer/Model/Indexer/' were not updated for a month, which leads to the conclusion that going into a probably not composer supported update will be just a wast of time leading to the same results.

[2017-09-21 14:13] orlangur commented on #10838
Sure, makes sense to me.

[2017-09-21 14:14] magento-engcom-team commented on #7068
@webmak Closing this issue as this deprecated feature is removed since 2.2 (see PR https://github.com/magento/magento2/pull/9622 for more information)

[2017-09-21 14:14] #7068 closed, assigned to nobody

[2017-09-21 14:14] orlangur commented on #10838
@magento-engcom-team please provide some insight on https://github.com/magento/magento2/issues/10838#issuecomment-330536123, looks like the issue is reproducible on vanilla installation as well.

[2017-09-21 14:16] korostii commented on #9255
Well the collection tries to check that anyway, and it sucks at it: https://github.com/magento/magento2/blob/922441926dd0861800bb02ebfb688f9ceae41ebe/lib/internal/Magento/Framework/Data/Collection.php#L243-L247

Imagine you wanna go 100 miles on a bus, request a a ticket from the driver (which driver provides you, no questions asked), enter the bus, fall asleep and several hours later you find you

[2017-09-21 14:16] magento-engcom-team commented on #7067
@slackerzz, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-21 14:16] #7067 closed, assigned to MomotenkoNatalia

[2017-09-21 14:18] jhruehl commented on #10838
@orlangur Thanks a lot for your help.

[2017-09-21 14:22] slackerzz commented on #7067
@magento-engcom-team what happened to `MAGETWO-59956`? The point here is that that the documentation included inside magento is incomplete.

[2017-09-21 14:23] Atsiat commented on #10984
I do a single seperate request for each category and each storeview. I did not find any information for linking the category to a storeview aside from the method I posted.
There is no custom_attribute for this, no option in categorylinkrepository etc.

I can't imagine it is intended to not be able to create a category for a specific storeview.

I get the store information with storeViews, storeCon

[2017-09-21 14:23] jhruehl commented on #10838
Here is the latest command line stack trace from our vanilla installation:
magento2_vanilla@d2372a84f1f8:/var/www/users/magento2_vanilla/src/scripts$ ./magento.sh indexer:reindex customer_grid

Fatal error: Uncaught Error: Call to undefined method Magento\Customer\Model\Indexer\Source::addAttributeToSelect() in /mnt/host/projects/clients/magento2-vanilla/src/www/lib/internal/Magento/Framework/Inde

[2017-09-21 14:25] magento-engcom-team commented on #7067
@slackerzz According to the `MAGETWO-59956` it is still open.

[2017-09-21 14:26] orlangur commented on #9255
http://magento2-demo.nexcess.net/women/tops-women/tanks-women.html?p=-10
http://magento2-demo.nexcess.net/women/tops-women/tanks-women.html?p=100500
Or even: http://magento2-demo.nexcess.net/women/tops-women/tanks-women.html?p=asdasdasd

This is clearly a responsibility of controller, not collection, to validate such cases.

That's make sense, it would be nice to have a class where all pagination

[2017-09-21 14:41] Tegos commented on #10289
Thank you very much.
But seems it is a problem MySQL not Magento.
Sorry for your time.

![2017-09-21_17-29-41](https://user-images.githubusercontent.com/7047662/30701790-d90a6a40-9ef3-11e7-9213-ba6e513fc0ae.png)

![2017-09-21_17-28-45](https://user-images.githubusercontent.com/7047662/30701791-d90ce270-9ef3-11e7-941f-c54768a5003a.png)

![2017-09-21_17-31-23](https://user-images.githubusercontent.c

[2017-09-21 14:43] Tegos commented on #10289
![2017-09-21_17-42-42](https://user-images.githubusercontent.com/7047662/30702007-6e9d960e-9ef4-11e7-8a10-10a2010b0930.png)

[2017-09-21 14:46] magento-engcom-team commented on #10289
@Tegos Closing this ticket per your comment.
Thank you.

[2017-09-21 14:46] #10289 closed, assigned to nobody

[2017-09-21 14:49] mbrinton01 commented on #10666
Please send me a message as described here: http://devdocs.magento.com/guides/v2.2/release-notes/release-candidate/install.html

[2017-09-21 15:10] okorshenko commented on #10838
@jhruehl @orlangur thank you for research. we will take a look at this

[2017-09-21 15:11] okorshenko commented on #10838
@jhruehl it would be great if you can submit pull request if you know how to fix the issue

[2017-09-21 15:13] elisei commented on #7554
hello follows an error gif.
![sep 21 2017 12-03 pm](https://user-images.githubusercontent.com/1786389/30703169-4f9af000-9ec5-11e7-8b2c-5d1a1311f930.gif)

Process I've already tried based on the guideline here:
- Checkout persistence on/off
- Change session time
- Turn on/off the checkout in anonymous method

I have extra extensions:
smtp - mageplaza
moip (which I'm developing now).
I've tried unin

[2017-09-21 15:13] okorshenko commented on #10873
@ccasciotti thank you for update. Unfortunately we can not update 2.1.5, but we will check 2.1.9 and 2.2.0

[2017-09-21 15:16] okorshenko commented on #2130
@davidwindell thank you for update. Closing the issue

[2017-09-21 15:16] #2130 closed

[2017-09-21 15:16] mattgreenfield commented on #10865
I'm having this same issue. It also happens when I have more than one address, one gets selected and then unselected.
It appears that the `isSelected` selected function runs on every address twice. Once running correctly and the second time always returning false. Something to do with it looking for a new address? as `shippingAddress.getKey()` always returns `new-customer-address` on the second ti

[2017-09-21 15:17] okorshenko commented on #10790
@dankocherga thank you for update

[2017-09-21 15:17] magento-engcom-team commented on #10758
Hi, @zzvara again) thank you for your report.

So I did next steps(2.1.9 M2 version):
1.Go to Store->Attributes->Product->Add New Attribute.
2. Pick attribute type "Visual Swatch" and add 131 values for it(admin value is required).
3. Save attribute. Success message appeared.
4. Add 4 more store views, so now i have 5 store views.
5. Go to created attribute and try to save it.
6. Success message a

[2017-09-21 15:18] magento-engcom-team commented on #6008
@melnikovis Looks like this issue is already fixed in the `2.2` and `develop` branches. Please refer to https://github.com/magento/magento2/commit/0700c5d3426477c1d8d783239ca245c0019ac2c5

Thank you

[2017-09-21 15:18] #6008 closed, assigned to nobody

[2017-09-21 15:21] okorshenko commented on #10424
@gwharton thank you for update. we will try one more time

[2017-09-21 15:23] magento-engcom-team commented on #5991
@tomsonnemans, thank you for your report.
The fix for this issue is already available in 2.1 and 2.2. See commit https://github.com/magento/magento2/commit/e63ad75b56b498d14610216244c7425ef484a0ca

[2017-09-21 15:23] #5991 closed, assigned to nobody

[2017-09-21 15:25] slackerzz commented on #7067
So after almost an year the `MAGETWO-59956` internal ticket is still open and you closed the corresponding github issue.
Sorry, but i don't understand.
 :confused:

[2017-09-21 15:25] okorshenko commented on #7862
@hostep does #7862 duplicate #10673?

[2017-09-21 15:28] benjamin-garnier commented on #10960
Hello, I have some problems too when I upgraded from 2.1.2 to 2.1.9, I also chose CLI command

composer require magento/product-community-edition 2.1.9 --no-update
composer update
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex

The difference is that I DO have js errors sometimes on my website :
![image](https://user-image

[2017-09-21 15:39] mattgreenfield commented on #10865
I think this issue is kind of related as fixing one would make the other less of an issue - https://github.com/magento/magento2/issues/6488

[2017-09-21 15:41] mattcoz commented on #8274
@bartlubbersen I tried your plugin and it did not fix the issue for me. I verified that the plugin is set up correctly and is being called, but the special price is still being set to "0.0000".

What I've resorted to doing is setting the dates to past values in order to disable the 0.00 special price.

When is this going to be fixed in the release?

[2017-09-21 16:14] pravalitera commented on #8018
@magento-engcom-team excuse me, but you are saying, after 9 monthes, to everybody on 2.0 and 2.1 "it's your problem"...

I know "we will just have to update", but... really ? So why the magento team is still maintaining 2.0.x with security updates ? Because some people can't update 2.0.x to 2.1.x ? So you are saying to us "migration to 2.2.x will be easy" ?

[2017-09-21 16:38] zzvara commented on #10758
OK thanks, we will look into it again and try to experiment with it. Unfortunately there are no errors thrown. Where should I find for errors? Nothing in the exception logs.
On 2017-09-21 08:21:23, Magento Community Engineering <notifications@github.com> wrote:
Hi, @zzvara [https://github.com/zzvara] again) thank you for your report.
So I did next steps(2.1.9 M2 version):
1.Go to Store->Attributes

[2017-09-21 17:29] robbanl commented on #5836
How is it possible that this issue have existed since summer 2016 and not have been fixed by Magento? Following...

[2017-09-21 18:20] hostep commented on #8145
@magento-engcom-team, out of curiosity: any chance you can point me to some commits which fix this? I've search the commit messages for `MAGETWO-60316` but can't seem to find anything?

[2017-09-21 18:20] martinhetschel commented on #9707
Apache/2.4.18

[2017-09-21 18:37] zack6849 opened #10990 "Magento 2 order creation from non-default store in admin fails"
### Preconditions

1. Magento 2.1.9
2. Multistore Environment

### Steps to reproduce

1.  View customer account
2. Create order for non-default store view

### Expected result

1.  Order is created

### Actual result

Order process starts, hits our payment processor, then comes back and says it can't find our cart.
![2017-09-21-143623_1917x928_scrot](https://user-images.githubusercontent.com/1343

[2017-09-21 18:50] hostep commented on #7862
@okorshenko: Well yes, maybe, probably, I don't know...

It is mentioned in this thread that [MAGETWO-62660](https://github.com/magento/magento2/search?q=MAGETWO-62660&type=Commits&utf8=%E2%9C%93) fixes this bug. I have personally never tested those commits, so I don't know for sure if it is true or not.
But MAGETWO-62660 is included in 2.2.0-RC2.2, while 2.2.0-RC2.2 still seems to have the same p

[2017-09-21 18:55] hostep commented on #8018
I have to agree with @pravalitera, it was a regression bug introduced in 2.1.3, so it would make sense if it is also fixed on version 2.1.x and not only on 2.2.x

@magento-engcom-team: So is a backport to fix this in 2.1.x in the planning?

[2017-09-21 19:04] hostep commented on #4237
@magento-engcom-team: I think the label `Fixed in 2.1.x` is incorrect here, I see no evidence that https://github.com/magento/magento2/pull/9943 has been applied to the 2.1 branch?

[2017-09-21 19:06] magento-engcom-team commented on #9783
@milansimek, thank you for your report.
We've created internal ticket(s) MAGETWO-75743 to track progress on the issue.

[2017-09-21 19:06] magento-engcom-team commented on #9489
@cviking26, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #9489 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #10846
@lyusya-nnn, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-21 19:06] #10846 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #10326
@jimmyhien, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-21 19:06] #10326 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #10885
@kanduvisla, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-21 19:06] #10885 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #10015
@Tantuss, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #10015 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #7619
@thdoan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #7619 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #10161
@erfanimani, thank you for your report.
The issue is already fixed in 2.2.0

[2017-09-21 19:06] #10161 closed, assigned to magento-engcom-team

[2017-09-21 19:06] magento-engcom-team commented on #10209
@mayankzalavadia, thank you for your report.
We've created internal ticket(s) MAGETWO-75633 to track progress on the issue.

[2017-09-21 19:06] magento-engcom-team commented on #10240
@noprobz09, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #10240 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #8724
@dannynimmo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #8724 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #10289
@Tegos, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] magento-engcom-team commented on #10847
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-75634 to track progress on the issue.

[2017-09-21 19:06] magento-engcom-team commented on #7146
@ooples, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #7146 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #6588
@hvstudio, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #6588 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #6159
@senthilengg, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #6159 closed, assigned to magento-engcom-team

[2017-09-21 19:06] magento-engcom-team commented on #5803
@dgarbe, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] #5803 closed, assigned to nobody

[2017-09-21 19:06] magento-engcom-team commented on #7847
@kanduvisla, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-21 19:06] magento-engcom-team commented on #10210
@diybook, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-21 19:06] magento-engcom-team commented on #10303
@andidhouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-09-21 19:13] okorshenko commented on #10886
@kanduvisla thank you for the report.
The issue already fixed in 2.2.0

[2017-09-21 19:13] #10886 closed, assigned to nobody

[2017-09-21 19:14] andidhouse commented on #10303
I think testing on 2.2 or 2.1.9 is not really useful.
Imagine this is really a bug in 2.1.7 - and for some reason this is not valid any more in 2.2. - so far so good but we have seen so many bugs appearing again and again here after closing reports here that i think the far better way would really test the bugs reported on the versions reported. Then make a clear investigation why this is happenin

[2017-09-21 19:14] wildrness commented on #10825
Same issue happening on our install, and help on this matter appreciated

[2017-09-21 22:01] ic3b0x commented on #7333
Thanks @WaterSlide for the quick fix! Having one last cosmetic issue, the frontend still shows a + sign before the -. Anyone knows how to remove it?

<img width="252" alt="screen shot 2017-09-21 at 7 00 23 pm" src="https://user-images.githubusercontent.com/15994522/30720764-3aa55ad4-9eff-11e7-84c4-0bf2837603b7.png">

[2017-09-21 22:03] scottsb commented on #10650
Note to anybody working on this: ticket #10279 was closed as a dup of this but contains additional details about the root cause that I had already tracked down.

[2017-09-22 01:18] shamoon opened #10992 "Ordered Products (Products Sold) Report CSV / XML Export Broken"
### Preconditions

1. Magento v2.19
2. PHP 7 / MySQL 5.6

### Steps to reproduce

1. Go to **Reports** > **Products** > **Ordered**
2. Choose Range and _Show By:_ Year
3. Hit _Export to:_ CSV (or XML)

### Expected result

1. A CSV (or XML) with data similar to what is shown on the web version of the report should be downloaded

### Actual result

1. A CSV (or XML) file with column headers only an

[2017-09-22 03:55] sayan-gitkid commented on #10987
@orlangur Thanks for the info. Yes, it seems the issue is UrlRewrites. Just checked the mysql query log and found that the db rolls back after query to url_rewrites. Will try the same sample data in magento 2.2.0 and check it.

[2017-09-22 06:55] amberarpatech opened #10993 "Quantity increases abnormally"
There is a event which i don't know what it is popluate table cataloginventory_stock_cl and in results when indexer runs it read entry from the table and update the quantity .

Strange thing is that product is disabled and I am unable to identify root cause of this problem

[2017-09-22 07:04] serhii-balko commented on #10862
@aboritskiy thank you for your bug report.
We cannot reproduce this issue as described.
My steps are here:
1. I have clean magento 2.1.8
2. Add our dependencies by command "composer require ...":
`composer require php-http/curl-client ...`
3. run
`bin/magento setup:di:compile`

Result:

My full command log is here:
[command_log.txt](https://github.com/magento/magento2/files/1323682/command_log.txt

[2017-09-22 07:06] magento-engcom-team commented on #10862
@aboritskiy thank you for your bug report.
We cannot reproduce this issue as described.
My steps are here:
1. I have clean magento 2.1.8
2. Add our dependencies by command "composer require ...":
`composer require php-http/curl-client ...`
3. run
`bin/magento setup:di:compile`

Result:

My full command log is here:
[command_log.txt](https://github.com/magento/magento2/files/1323682/command_log.txt

[2017-09-22 07:15] jajaramos opened #10994 "Issue with product listings when shared catalog is enabled"
### Preconditions

1. Magento v2.2.0-rc30
2. PHP Version 7.0.8
3. Enable Magento Shared Catalog from the admin

### Steps to reproduce

1. After enabling Magento shared catalog form the admin, go to Magento frontend pages with product listing such us homepage and category pages.

### Expected result

1. Page with product listing to display properly.

### Actual result

1. Exception thrown in homep

[2017-09-22 07:19] coachdesign commented on #10191
![catalog___inventory___products___magento_admin___eko_](https://user-images.githubusercontent.com/1880893/30733386-07a73e9a-9f77-11e7-8bd7-de7c82277b18.png)
![update_attributes___magento_admin___eko 2](https://user-images.githubusercontent.com/1880893/30733385-07a0fbca-9f77-11e7-8877-cfe609444524.png)
![update_attributes___magento_admin___eko 3](https://user-images.githubusercontent.com/1880893/3

[2017-09-22 07:32] jhruehl commented on #10838
@okobchenko The solution seems not be just a simple fix, but looking at the code structure a public function addAttributeToSelect() needs to be implemented in the Magento\Customer\Model\Indexer\Source class as there a similar functions like addFieldToSelect() implemented by passing the requests to other injected classes, which have the needed functionality already implemented.

Though it seems tha

[2017-09-22 07:41] VoidWalker commented on #10838
@okorshenko  I feel like it make sense to repeat. There is a patch for this issue  MDVA-4538_EE_2.1.4_v2
It might be not totally suitable fir 2.2.* but it shows the fix idea

[2017-09-22 08:00] magento-engcom-team commented on #10029
@niranjanleanswift , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more details or try to reproduce this issue on a clean installation.

[2017-09-22 08:13] kervin commented on #2732
Any updates on this?

We have 15 stores and we have to deploy store by store. Our deployment takes 20 minutes instead of 5 minutes because of this bug...

[2017-09-22 08:16] kervin commented on #7525
Any updates on this?

We have 15 stores and we have to deploy store by store. Our deployment takes 20 minutes instead of 5 minutes because of this bug...

Is this fixed in 2.2.0?

[2017-09-22 08:34] strom-man commented on #6405
i have  this problem sovle

[2017-09-22 08:50] magento-engcom-team commented on #10993
@amberarpatech, thank you for your report.
Description is not clean enough for us to be able to identify and verify the problem.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.

[2017-09-22 08:54] magento-engcom-team commented on #6488
@sunilit42, @mattgreenfield thank you for your report.
The fix for this issue is already available in the develop branch. Please see [commits](https://github.com/magento/magento2/search?q=MAGETWO-64544&type=Commits) which mention `MAGETWO-64544`.

[2017-09-22 08:54] #6488 closed, assigned to nobody

[2017-09-22 08:59] magento-engcom-team commented on #10968
Hi @alen9788, thank you for your report.
Unfortunately the issue description is not clear enough for us to identify and verify the problem.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expec

[2017-09-22 09:02] magento-engcom-team commented on #10775
@korostii @ekuusela We always encourage you to submit a Pull Request if the fix is that easy.
Otherwise clear issue report is required, so that developer working can precisely identify issue and possible testing scenarios.
Thank you for understanding.

[2017-09-22 09:06] magento-engcom-team commented on #6193
Hi @diglin
PR would be always helpful. If you wish to work on that please provide clear testing scenarios and link to this issue.

Thank you for collaboration

[2017-09-22 09:06] mike-happy opened #10997 "Back in stock alert email not translatable"
### Preconditions
1. Magento CE 2.1.9
2. Products are set up.
3. Stock is set up.
4. Magento2translations (nl_NL) language package is installed and enabled.

### Steps to reproduce
1. Set the stock of a product on 0 and out of stock in the admin.
2. Create a customer login in the frontend
3. Navigate to the product that is out of stock
4. Click on the link "Notify me when this product is in stock"

[2017-09-22 09:09] magento-engcom-team commented on #10141
Hi @prestashoppay @FutureDragon
Please consider creating migration related issues for https://github.com/magento/data-migration-tool project.
Thank you

[2017-09-22 09:09] #10141 closed, assigned to nobody

[2017-09-22 09:13] prestashoppay commented on #10141
@FutureDragon , Thanks for your reply , i am already migrate m1.7 to m2.1 , i have issues on after migration process i mention above comment please check and let me any solutions .

[2017-09-22 09:16] magento-engcom-team commented on #10141
@prestashoppay
Issue description is not clear enough for us to identify and verify the problem.
If you think that this is a specifically Magento 2 problem please follow [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and t

[2017-09-22 09:19] prestashoppay commented on #10141
@FutureDragon ,

Issues Lilsted ,

`3. When I open the orders they show up but when I want to view an order I see this on a blank page:
Order View
Information Changes have been made to this section that have not been saved. This tab contains inval...`

[2017-09-22 09:22] prestashoppay commented on #10141
@FutureDragon ,

After migration m1.7 to m2.1

In frontend and backend when trying to create a new account I get a below error:

`Fatal error: Uncaught Error: Call to undefined method Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend\Interceptor::getAllOptions() in D:\xampp\htdocs\magento21\vendor\magento\module-customer\Model\AttributeMetadataConverter.php:66 Stack trace: #0 D:\xampp\htdocs

[2017-09-22 09:32] magento-engcom-team commented on #4898
Hi @kandrejevs
Please consider creating migration related issues for https://github.com/magento/data-migration-tool project.
Thank you

[2017-09-22 09:32] #4898 closed, assigned to victor-v-rad

[2017-09-22 09:34] magento-engcom-team commented on #10867
@prakash2jcommerce, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-22 09:34] #10867 closed, assigned to nobody

[2017-09-22 09:40] magento-engcom-team commented on #4591
@qwerty7869, thank you for your report.
The fix for this issue is already available in the 2.1, 2.2 and develop branch. See commit https://github.com/magento/magento2/commit/eec3cf17bc5deae71c83c797d1339de46cf6905f for reference (it is not compatible with future versions).

[2017-09-22 09:40] #4591 closed, assigned to nobody

[2017-09-22 09:45] JeroenVanLeusden commented on #10997
Think cron translations are not loaded here, please check the fix in #8413. When having issues displaying the correct image in your email you can also check the fix in #10208.

[2017-09-22 09:46] magento-engcom-team commented on #1926
@dmitry-fedyuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue and provide clear description.

Thank you.

[2017-09-22 09:46] #1926 closed

[2017-09-22 09:46] magento-engcom-team commented on #1954
@dmitry-fedyuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue and provide clear description.

Thank you.

[2017-09-22 09:46] #1954 closed

[2017-09-22 09:51] magento-engcom-team commented on #2062
@dmitry-fedyuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

Thank you.

[2017-09-22 09:51] #2062 closed

[2017-09-22 09:52] magento-engcom-team commented on #2061
@dmitry-fedyuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

Thank you.

[2017-09-22 09:52] #2061 closed

[2017-09-22 09:53] magento-engcom-team commented on #1962
@dmitry-fedyuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

Thank you.

[2017-09-22 09:53] #1962 closed

[2017-09-22 10:02] magento-engcom-team commented on #10365
@alainstout Please try to reproduce the issue with clean Magento installation without 3-rd party extensions. Multiple usages of third party customization are visible in the stack trace.
Admin login is a critical flow and covered with multiple automated tests which are executed extensively.
Thank you.

[2017-09-22 10:05] #7512 closed

[2017-09-22 10:10] magento-engcom-team commented on #10173
@bjedrikz, thank you for your report.
Unfortunately, the report is not clear enough for us to identify and verify the issue.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Ple