[2020-03-05 12:09] arendarenko commented on #13269
I can confirm that issue is still happening on Magento 2.3.4

[2020-03-05 12:13] engcom-Echo commented on #27147
Hi, @Stoyvo. Thank you for your report.

PUT updates a resource. If you have replaced an object, you will already have all the latest data in your data (for example EntryId). PUT does not need any other behavior.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are sti

[2020-03-05 12:13] #27147 closed, assigned to engcom-Echo

[2020-03-05 12:30] krishprakash commented on #25209
@magento give me 2.4-develop instance

[2020-03-05 12:30] magento-engcom-team commented on #25209
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 12:31] magento-engcom-team commented on #25209
Hi @krishprakash, here is your [Magento instance](https://i-25209-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25209-2-4-develop.instances.magento-community.engineering/admin_5d29](https://i-25209-2-4-develop.instances.magento-community.engineering/admin_5d29)
Login: `457a7e0b` Password: `1c16d9ace50a`
Instance will be terminated in up to 3 hours.

[2020-03-05 12:31] NeilofSteel commented on #27123
@AnnaShepa so I have to set the stock status to "In Stock" manually everytime if a product is out of stock? Is there no other possibility to make childproducts salable if they are out of stock?

[2020-03-05 12:33] mdesplenter commented on #27177
I cannot reproduce this in 2.4

[2020-03-05 12:33] #27177 closed, assigned to shikhamis11

[2020-03-05 12:38] devchris79 commented on #26377
The fix module from @HirokazuNishi doesn't appear to correct the cookies from the Google ReCaptcha functionality in the core:

![image](https://user-images.githubusercontent.com/43850303/75982266-1cf83280-5ede-11ea-9b9a-aa92415c6c09.png)

[2020-03-05 12:40] krishprakash commented on #25209
Hi APanteleychuk, Issue is fixed on 2.3.4
Need to move this issue to EE repository.
@sdzhepa kindly move this issue to EE/B2B repository as mentioned in last 2 feedback.
Thanks

[2020-03-05 12:45] Stoyvo commented on #27147
@engcom-Echo PUT on a media gallery creates a new ID for the updated image - Magento does not keep the same ID as before, that is the problem.

[2020-03-05 12:45] onepack commented on #27120
@engcom-Bravo
What changes are included for this fix for the 2.3.5 release?
Any references?

[2020-03-05 12:46] NeilofSteel commented on #27123
@AnnaShepa ah well like your description I think it wouldn't change the stockstatus after the two changes but is it not enaugh to set only the globally settings?

[2020-03-05 12:52] surelockrich commented on #27171
ok will share details

[2020-03-05 12:57] AnnaShepa commented on #27123
@NeilofSteel  correct, if you set global setting before product creation, then you don't have to do anything more: by default new product will be available for preorder and once qty going below 0, stock status will not be changed automatically
![Screenshot 2020-03-05 at 13 54 31](https://user-images.githubusercontent.com/24183408/75983646-2d61da80-5ee9-11ea-9810-b4379b19e6be.png)

[2020-03-05 12:57] magento-engcom-team commented on #27141
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32179` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-05 13:00] magento-engcom-team commented on #27063
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32180` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-05 13:01] engcom-Bravo commented on #27055
@sdzhepa
I have added the description and screenshots. Can you please move this issue to the **feature request** repository?

Thank you in advance

[2020-03-05 13:03] GautierI commented on #11995
I updated the patch. It was breaking on a second click on save on the catagory.

[2020-03-05 13:05] ihor-sviziev commented on #13269
Hi @engcom-Alfa,
Looks like this issue was fixed in https://github.com/magento/magento2/pull/25895
Could you double check if issue still there?

[2020-03-05 13:08] krishprakash commented on #27155
Hi @homecoded,
Seems issue has been fixed on latest instance
So clsoing this ticket as can not reproduce
![image](https://user-images.githubusercontent.com/46617848/75984404-5a75b380-5f10-11ea-8e83-d82bee9367a6.png)
Thank you !!

[2020-03-05 13:08] #27155 closed, assigned to krishprakash

[2020-03-05 13:12] NeilofSteel commented on #27123
okay thank you very much @AnnaShepa :)

[2020-03-05 13:14] rdudhara commented on #27141
@magento

I am working on it

[2020-03-05 14:03] TvL-NL commented on #23448
I found the same issue in version 2.3.4. When an existing customer from an EU country (assigned to correct group) creates an order, VAT is charged on checkout.

To validate i did a fresh install of Magento 2.3.4. Setup VAT validation based on group. All checks out and works fine with guest checkout. When I create an account and enter a valid VAT ID all checks out. Message is displayed (Your VAT ID

[2020-03-05 14:09] engcom-Bravo commented on #26938
Please, go to this repository https://github.com/magento/inventory/issues
Click **New Issue** - **Get started** in Bug report section

Thank you

[2020-03-05 14:19] Fdec opened #27180 "Magento 2.3.4 Setup:upgrade Incorrect theme identification key"
### Preconditions (*)

1. Magento 2.3.4 from scratch with sample data

### Steps to reproduce (*)

1. launch bin/magento setup:upgrade

### Expected result (*)

1. Upgrade modules OK

### Actual result (*)

1. Upgrade stopped on module Magento_ConfigurableSampleData: "Running data recurring...Incorrect theme identification key"

[2020-03-05 14:34] ganedda-softfobia commented on #6144
Got this same issue in 2.3.3-p1 version

[2020-03-05 14:44] bst2002git commented on #27180
It's the function in this File
 vendor/magento/module-configurable-sample-data/Setup/RecurringData.php:
public function install(ModuleDataSetupInterface $setup, ModuleContextInterface $context)
    {
        $this->state->emulateAreaCode(
           \Magento\Framework\App\Area::AREA_CRONTAB,
           [$this, 'reindex']
        );

    }

[2020-03-05 15:31] lenaorobei commented on #26683
This is a complex task that requires framework changes.

Removing errors is not an option. It leads to the wrong flow when user will see cart errors only on place order step. Errors should be returned under `error` node like it is right now, but cart data should be present under `data` node. This is not supported now but this is the way how this issue should be resolved.

[2020-03-05 15:34] ihor-sviziev commented on #13269
@magento give me 2.4-develop instnace

[2020-03-05 15:34] ihor-sviziev commented on #13269
@magento give me 2.4-develop instance

[2020-03-05 15:34] magento-engcom-team commented on #13269
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 15:35] magento-engcom-team commented on #13269
Hi @ihor-sviziev, here is your [Magento instance](https://i-13269-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-13269-2-4-develop.instances.magento-community.engineering/admin_57d3](https://i-13269-2-4-develop.instances.magento-community.engineering/admin_57d3)
Login: `9d102703` Password: `f7abb8f53530`
Instance will be terminated in up to 3 hours.

[2020-03-05 15:36] magento-engcom-team commented on #23194
Hi @itmsenior.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.5` release.

[2020-03-05 15:48] ihor-sviziev commented on #13269
I can confirm - the issue was fixed in `2.4-develop` branch by following changes: https://github.com/magento/magento2/pull/25895

I'm closing this issue

[2020-03-05 15:48] #13269 closed, assigned to ihor-sviziev

[2020-03-05 16:02] mdesplenter commented on #27177
I found my error. To speed up the Magento shops we removed module-persistent. Removing this will result in above behaviour.

[2020-03-05 16:26] LuoLily commented on #26840
@sjb9774 The patch works well for desktop but does not work for mobile.

[2020-03-05 16:55] sjb9774 commented on #26840
@LuoLily interesting, I'm not sure why it would operate differently on mobile. Can you provide more information about its behavior on mobile?

[2020-03-05 16:56] lenaorobei commented on #26830
This is related to the https://github.com/magento/magento2/issues/26683, please see comment https://github.com/magento/magento2/issues/26683#issuecomment-595290710

[2020-03-05 17:14] LuoLily commented on #26840
After place order, it keep loading with spinning

[2020-03-05 17:15] LuoLily commented on #26840
@sjb9774 After place order, it keep loading with spinning

[2020-03-05 18:05] gerardojofre commented on #24047
https://support.magento.com/hc/en-us/articles/360035142371-Catalog-pagination-doesn-t-work-when-Elasticsearch-6-x-is-used

[2020-03-05 18:36] Gabriel-Bruno opened #27181 "magento 2.3.4 api search list problem(api)"
hi,
I upgraded the magento version to 2.3.4 .
after the upgrade , the configurable product which is add by api not showing in search list.
while in 2.3.3 was shows.

please advice.
Regards,
Gabriel

[2020-03-05 20:50] LucasMGuima opened #27182 "Cron script readiness check failed"
I am tying to activate a extencio on Magento2, but i keep getting this error:

Cron script readiness check failed.
Error from Setup Application Cron Script:
Cron job has not been configured yet
Other checks will fail as a result (PHP version, PHP settings, and PHP extensions)

And i have set two cron jobs, but i can't find if they are right.

[2020-03-05 20:54] LucasMGuima opened #27183 "One or more indexers are invalid. Make sure your Magento cron job is running."
I have alredy creat the cron to reindex, but this keeping apeare, and the index are not reindexs two, can someone help?

[2020-03-05 20:55] #27183 closed, assigned to nobody

[2020-03-05 21:14] magento-engcom-team commented on #25834
Hi @hoangnm89, @bubasuma, @maheshWebkul721.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [b6f84336ac9f0059b76146206a8483d5e4e7c81e](https://github.com/magento/magento2/commit/b6f84336ac9f0059b76146206a8483d5e4e7c81e)

The fix will be available with the upcoming `2.4.0`

[2020-03-05 21:14] #25834 closed, assigned to bubasuma, mahesh-rajawat

[2020-03-05 21:30] kennedyabitbol commented on #25099
Also worked for me with 2.3.4

[2020-03-05 22:08] luke-denton-aligent commented on #27127
Hi @engcom-Bravo, thanks for taking a look at this. I'm using a Magento Cloud instance as the BE, I don't think I have the ability to change the version easily, so I won't be able to test this. Is there an ETA for the release of 2.4?

Thanks

[2020-03-06 00:41] lbajsarowicz opened #27184 "Replace Controller's inheritance with composition (ActionInterface)"
### Description (*)
Ticket for the work with replacing inheritance with composition on Controllers.

### Expected behavior (*)
Controllers should `implement ActionInterface`

### Current behavior
Controllers inherit from Action / AbstractAction

### Benefits
Composition, performance.

### Additional information

[2020-03-06 02:18] krishprakash commented on #27173
Hi @mattf10. Thank you for your report.
Seems similar issue is added here #26903 and already open.
So closing this ticket.

[2020-03-06 02:18] #27173 closed, assigned to ajijshekh123

[2020-03-06 04:29] allamsettiramesh opened #27186 "Magento 2 Coupon Code Scheduler not working"
### Preconditions (*)

1. Magento EE 2.3.4

### Steps to reproduce (*)

1. Created coupon with Scheduled time along with coupon code and price rules
2. Applying coupon code on as end user & coupon code applied on non-Scheduled time

### Expected result (*)

1. Expected Scheduled coupon code shouldn't work on non-Scheduled time but coupon codes on non-Scheduled time

### Actual result (*)

1.  Plea

[2020-03-06 04:48] ajijshekh123 commented on #27169
@magento give me 2.4-develop instance

[2020-03-06 04:49] magento-engcom-team commented on #27169
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-06 04:49] krishprakash commented on #27186
@sdzhepa Kindly move this issue to Enterprise repository

[2020-03-06 04:49] magento-engcom-team commented on #27169
Hi @ajijshekh123, here is your [Magento instance](https://i-27169-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27169-2-4-develop.instances.magento-community.engineering/admin_c9f1](https://i-27169-2-4-develop.instances.magento-community.engineering/admin_c9f1)
Login: `1243f69a` Password: `b97803dc72cf`
Instance will be terminated in up to 3 hours.

[2020-03-06 05:21] magento-engcom-team commented on #27169
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32203` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-06 07:22] engcom-Bravo commented on #27127
Hello @luke-denton-aligent

Thank you for the quick response.

To get a Magento 2.4-develop instance, you simply need to add a comment with the following text to this issue
`@magento give me 2.4-develop instance` - upcoming 2.4.x release
This will deploy a test vanilla instance with a Link, Login and Password. Like on this example below
![give_me_insrtance](https://user-images.githubusercontent.co

[2020-03-06 07:22] magento-engcom-team commented on #27127
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-06 07:23] magento-engcom-team commented on #27127
Hi @engcom-Bravo, here is your [Magento instance](https://i-27127-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27127-2-4-develop.instances.magento-community.engineering/admin_e6af](https://i-27127-2-4-develop.instances.magento-community.engineering/admin_e6af)
Login: `64d54e69` Password: `68edbb2f7dcb`
Instance will be terminated in up to 3 hours.

[2020-03-06 08:10] HirokazuNishi commented on #26377
@devchris79 seems these cookies are sent from google. Not from your M2 instance.
But... please submit such report to our repo. Not here.

[2020-03-06 09:16] ferryzz opened #27188 "magento error emails sending orders"
Preconditions (*)
1. Magento 2.2.4

Steps to reproduce (*)
1. Go to an Order
2. Press Send Mail
I imagine you can create a customer and place an order manually, but I'm doing it on real orders.

The strange thing is that it shows me a message that the mail has been sent correctly but the status of the mail tells me that "it could not be sent".

Expected result (*)
1. No exception logs should be th

[2020-03-06 09:19] bst2002git commented on #25438
Hello @Parakoopa in Magento 2.4-dev it is fixed as:
https://github.com/magento/magento2/commit/ff1aa7e5f0a37bf13c9c466c50297843bd949d47

-- if (strpos($content, '</body') !== false) {
++ if (is_string($content) && strpos($content, '</body') !== false) {

https://github.com/magento/magento2/raw/2.4-develop/app/code/Magento/Theme/Controller/Result/JsFooterPlugin.php

i've tested the fix on 2.3.3-p1

[2020-03-06 09:21] bst2002git commented on #26834
@monotheist see my comment #25438 (bottom)

[2020-03-06 09:25] engcom-Delta commented on #27156
Hi @amolbhandari .
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-03-06 09:25] #27156 closed, assigned to engcom-Delta

[2020-03-06 09:38] Ksardarion commented on #24323
@magento-engcom-team
The same issue exists for table subscriptions in version 2.3.3
Do I need to create another one here, on the github?

[2020-03-06 10:43] Eddcapone opened #27189 "Documentation for **lib-css()** is not correct. Using false does not work."
### Summary (*)

Magento 2.3.4

Documentation for **lib-css()** is not correct. Using false does not work.

It says

I tested it, but it does not work at all.

### Examples (*)

I try to remove the **box-shadow** of a button in the customer area.

https://i.stack.imgur.com/i2AF5.png

I found the code in

**vendor\magento\theme-frontend-luma\web\css\source\\_extends.less**:

    //
    //  Secondar

[2020-03-06 10:59] surelockrich commented on #27171
Hello,
Kindly check this one I have made a new video. hope you will get the issue.

[Reproduce.zip](https://github.com/magento/magento2/files/4297955/Reproduce.zip)

Thank You

[2020-03-06 11:24] dleno opened #27190 "Unable to assigne products to category (Unique constraint violation found)"
### Preconditions (*)

1. Magento CE 2.3.3-p1
2. Able to reproduce in previous versions of magento
3. Multistore setup

### Steps to reproduce (*)

1. Go to Product Edit Page and change the url key on store scope (for example test1)
2. Got to another product and change url key on default scope to exactly the same as you used in store scope for product from step 1
3. Go to category page and try to

[2020-03-06 11:32] Fencix commented on #27186
Hi!
I have a similar problem but with the 2.3.2 Magento. I cannot generate coupons automatically. when I try appears a message "Message is added to queue, wait to get your coupons soon". But the coupons do not generate.
![cupones](https://user-images.githubusercontent.com/61866408/76080143-8fcce080-5fa6-11ea-927d-26e32743943d.JPG)

[2020-03-06 11:44] mattijv commented on #27025
@arnoldfiesta I believe you are facing [the same problem as we did](https://github.com/magento/magento2/issues/24946). The partial sitemaps generated by a cron run will include the folder path to the Magento root folder. The issue is fixed in a future version of Magento, but you can temporarily fix it by adding a command to `cd` into the Magento root before
running the cron:run command in crontab.

[2020-03-06 12:03] TheRealHunzik commented on #27018
thank you @engcom-Echo its working Great Now!

[2020-03-06 12:04] TheRealHunzik commented on #27018
thank you @engcom-Echo  its working Great Now!

[2020-03-06 12:04] #27018 closed, assigned to engcom-Echo

[2020-03-06 12:04] juho-jaakkola commented on #24822
If I understand this correctly, the patch is not a proper fix. It just hides the problem, and makes it seem like the quantity was increased even though the API call in fact created a backorder.

How can the customer now know that some of the products will be delivered later?

[2020-03-06 12:47] nghelo commented on #17310
This issue still happening in Magento 2.3.4 @magento-engcom-team  please give us your opinion.

[2020-03-06 13:16] marvinhinz commented on #17310
Why was this closed?

[2020-03-06 13:18] marvinhinz commented on #17310
This is not due to php config, its a wrong default configuration that is shipped with magento. It would be enough to just increase the value.

[2020-03-06 14:06] dalu commented on #26465
in v2.3.4 this file is found at `lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php`

[2020-03-06 14:29] Eddcapone opened #27192 "Unable to set loading order of css / scripts"
Magento 2.3.4

You can't set the order in which CSS / Scripts are getting loaded.

For example I try to load "bootstrap" at the first place, otherwise if it will load later then it will override other CSS e.g. it changes the color of **a** (anchor tag) to blue and similar.

There is a module which tries to solve this, but does not work in my case.
https://github.com/quickshiftin/mage2-ordered-asse

[2020-03-06 14:45] gazsmith10 commented on #8842
I just got this issue on the latest version 2.3

[2020-03-06 14:54] elsdeniep commented on #19737
Official Magento: use single quotes.
Best solution (unofficial): omit the (single or double) quotes like this:<a href="{{store direct_url=contact}}">

[2020-03-06 14:59] itsolon opened #27193 "Wrong link in question mark on magento2 dashboard"
### Preconditions (*)
2.3.4 Magento 2.3.4 on php 7.3 and nginx mariadb

### Steps to reproduce (*)
1. klick on question mark on top of the dashboard beside the scope dropdown
![question-mark](https://user-images.githubusercontent.com/10437947/76095161-1ba13580-5fc4-11ea-8dcd-dc96f846252c.PNG)
![bad-request](https://user-images.githubusercontent.com/10437947/76095171-2065e980-5fc4-11ea-9a5d-3e4af8e

[2020-03-06 15:16] engcom-Echo commented on #27160
Hi, @paul-gene. Thek you for your report.

Please provide some of the code you use in *.xml
[code]

[2020-03-06 15:19] paul-gene commented on #27160
@engcom-Echo literally the code from the devdocs

[code]

[2020-03-06 15:33] alex9434 commented on #26692
I can confirm that this solved the problem for me! So it seems to be the fix in #24959 that caused these issues.

You mentioned that your hosting service hat a particular setup that made "SHOW STATUS" slow. I have a Percona Mysql on EXT4 on a SSD. Is that similar to your setup?

[2020-03-06 15:40] ryanpalmerweb commented on #25399
Just to confirm we have had the same issue, manifesting as the following error appearing in the checkout

This was triggered by clicking the payment button in the checkout, which caused a 400 API response from the following endpoint

The $address object in vendor/magento/module-sales/Model/Order/Address/Validator.php in the validate function was the type "shipping" and appears to contain all of th

[2020-03-06 15:42] palviggi-flagbit commented on #26692
@alex9434 good thing it helped you.
I don't know the specifics about the setup, they mentioned that at least part of the storage comes from a network share or something like that and that why that query is slow, but no idea.
They are working in a new solution to move our db server soon; I hope that helps, but so far we are good with the patch.

[2020-03-06 15:48] magento-engcom-team commented on #27160
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-03-06 15:49] magento-engcom-team commented on #27160
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32219` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-06 15:53] paul-gene commented on #27160
@engcom-Echo FYI, its not just the boolean data type that has issues, it happens with numbers as well. All outputted values are strings, regardless of the set data type.

[2020-03-06 15:58] bubasuma commented on #24822
@juho-jaakkola
This API endpoint returns `\Magento\Quote\Api\Data\CartItemInterface` on successful response. Because `\Magento\Quote\Model\Quote\Item::getMessage()` is not part of the interface `\Magento\Quote\Api\Data\CartItemInterface`, backorder warning message will not be returned in the response.

Basically, you can extend this API to return messages in response.

[2020-03-06 15:58] gfrey-namcopool commented on #7917
I can confirm increasing memory to 2G still solves this issue (2.3.1 -> 2.3.4)

[2020-03-06 16:00] gazsmith10 opened #27195 "getTracking() not found in 2.3.3"
I am getting the error :

Fatal error: Uncaught Error: Call to undefined method Magento\Framework\Phrase::getTracking() in /domains/XX/http/vendor/magento/module-shipping/view/frontend/templates/tracking/details.phtml:21 Stack trace: #0

On the customer "track order" (through the back end also) which is the popup.html in in module-shipping.

I have seen the magento github it was apperently fixed b

[2020-03-06 16:29] krishprakash commented on #27193
@magento give me 2.4-develop instance

[2020-03-06 16:29] magento-engcom-team commented on #27193
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-06 16:30] magento-engcom-team commented on #27193
Hi @krishprakash, here is your [Magento instance](https://i-27193-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27193-2-4-develop.instances.magento-community.engineering/admin_2c90](https://i-27193-2-4-develop.instances.magento-community.engineering/admin_2c90)
Login: `f5e7cb27` Password: `da1fea70d91e`
Instance will be terminated in up to 3 hours.

[2020-03-06 16:49] Eddcapone commented on #1821
Does not work. How can I load bootstrap first?

[2020-03-06 16:55] krishprakash commented on #27193
Hi @itsolon.
Can't able to reproduce the issue on latest instance
Thanks

[2020-03-06 16:55] #27193 closed, assigned to krishprakash

[2020-03-06 16:56] lenaorobei opened #27197 "Create static test for action controllers"
### Description (*)
Due to recent changes in https://github.com/magento/magento2/pull/26778#issuecomment-592766350 need to create static test that will check that controller classes implement `ActionInterface` and do not extend `Action `.

### Expected behavior (*)
Static check fails if controller class extends `Action`.

### Benefits
This will prevent using of deprecated `ActionInterface`.

[2020-03-06 17:06] itsolon commented on #27193
perhaps on 2.4 but it is on 2.3.4

[2020-03-06 17:11] itsolon commented on #27193
i can confirm that on 2.4 develop the issue is gone.
please excuse my question, are reports for 2.3.4 not important anymore?

[2020-03-06 17:34] itsolon commented on #27193
i installed fresh 2.3.4 with composer and the error is still there!
new installation
please use 2.3.4 instead of 2.4

[2020-03-06 17:54] felipegti opened #27198 "I have the error "Unable to post data to consumer due to an unexpected error" when enabling an integration"
Good afternoon,

When trying to activate an integration with Magento 2.x, it generates the following error: Unable to post data to consumer due to an unexpected error.

![image](https://user-images.githubusercontent.com/61883870/76108869-248d0980-5fba-11ea-9c3a-d4745b1f1fce.png)

I am filling in this data when creating the integration.

![image](https://user-images.githubusercontent.com/61883870/7

[2020-03-06 18:09] Digiraf commented on #13594
Really?

[2020-03-06 18:47] ASWC commented on #27112
Exact same issue with exact same error code on cloud:

php 7.3.11
mgc 2.3.4
elasticsearch 6.7.2
mariaDB 10.0.37

No problem on local cloud instance clone.
Local cloud clone update to 2.3.4 (no error)

php 7.1.33
mgc 2.3.4
elasticsearch 6.7.2
mysql 5.7.26

[2020-03-06 18:55] amitjain1503 opened #27199 "Refund Api not working"
### Preconditions (*)

1. Magento CE 2.3.4
2.

### Steps to reproduce (*)

1. /V1/order/{orderId}/refund
2. /V1/invoice/{invoiceId}/refund

I have tried with correct payloads as well to refund all items
### Expected result (*)

1. [Screenshots, logs or description]
2. credit memo id in response body

### Actual result (*)

1. [Screenshots, logs or description]
2. Creditmemo Document Validation Err

[2020-03-06 19:28] #27199 closed, assigned to nobody

[2020-03-06 19:29] amitjain1503 commented on #27199
swagger documentation has incorrect key name use "is_online" instead of "isOnline"

[2020-03-06 21:59] mvaisberg commented on #13604
but maybe some of those url-key are already on the Database in another
product.

When i put the unique url in the CSV and compared with the already products
that i have in the DB it works.

El mié., 4 mar. 2020 a las 14:27, NEOBIZ (<notifications@github.com>)
escribió:

[2020-03-06 22:15] ccrothers commented on #25862
@sdzhepa Any updates?
Noticed this fix didn't make it into January's 2.3.4 release.
Is this feature on track to be included in the April 28th release of 2.3.5 M2 Commerce?
https://devdocs.magento.com/release/

[2020-03-06 23:28] sdzhepa opened #29102 "[MFTF] Group: Availability of UI elements if module enable/disable"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):

1.  ["Verify that UI elements are not shown if 'Login as customer' functionality is disabled"](https://studio.cucumber.io/projects/163172/test-plan/folders/1204738/scenarios/4149567)
2. ["Verify that 'Login As Customer Log' not shown if 'Login a

[2020-03-06 23:41] sdzhepa opened #29110 "[MFTF] Group: select Store View based on 'Store View To Login In' setting"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):

**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.com/magento/magento2-login-as-customer/files/4325537/UX_LoginAsCustomer_March_12_3_2020.pdf)

1. ["Admin user prompted to select Store View when 'Store View To Login In' = Ma

[2020-03-06 23:43] sdzhepa opened #29109 "[MFTF] Group: Login As Customer into additional website"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):

**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.com/magento/magento2-login-as-customer/files/4325537/UX_LoginAsCustomer_March_12_3_2020.pdf)

1. ["Admin user directly login into customer account on custom website"](https:/

[2020-03-06 23:47] sdzhepa opened #29108 "[MFTF] Group: Permissions and ACl"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):

**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.com/magento/magento2-login-as-customer/files/4325537/UX_LoginAsCustomer_March_12_3_2020.pdf)

Depends on dev task: https://github.com/magento/magento2-login-as-customer/issue

[2020-03-06 23:51] sdzhepa opened #29107 "[MFTF] Group: Place order and reorder"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):

**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.com/magento/magento2-login-as-customer/files/4325537/UX_LoginAsCustomer_March_12_3_2020.pdf)

1. ["Admin user login as customer and place order"](https://studio.cucumber.io/p

[2020-03-06 23:53] sdzhepa opened #29106 "[MFTF] Group: Edit Customer addresses"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):
**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.com/magento/magento2-login-as-customer/files/4325537/UX_LoginAsCustomer_March_12_3_2020.pdf)

1. ["Admin user login as customer and edit customer's address"](https://studio.cu

[2020-03-06 23:55] sdzhepa opened #29105 "[MFTF] Group: added product to wish-list"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):
**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.com/magento/magento2-login-as-customer/files/4325537/UX_LoginAsCustomer_March_12_3_2020.pdf)

1. ["Admin user login as customer and add products to customer's wish-list"](http

[2020-03-06 23:57] sdzhepa opened #29104 "[MFTF] Group: Subscribe to newsletter"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):

**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.com/magento/magento2-login-as-customer/files/4325537/UX_LoginAsCustomer_March_12_3_2020.pdf)

1.[ "Admin user login as customer and make subscription to newsletter"](https://

[2020-03-07 00:01] sdzhepa opened #29103 "[MFTF] Group: Notification message about admin actions for order Admin/Strorefront"
Need to cover with MFTF tests next manual test cases from "[Login As Customer](https://studio.cucumber.io/projects/163172)" project in Cucumber(HipTest):

Will be defined after: https://github.com/magento/magento2-login-as-customer/issues/36

Depends on dev task: https://github.com/magento/magento2-login-as-customer/issues/28

**UX design:** [UX_LoginAsCustomer_March_12_3_2020.pdf](https://github.

[2020-03-07 03:44] tushhan commented on #9988
I have upgraded to the lastest Magento 2.3.4, the issue is still not resolved. I also installed http://www.ibnab.com/en/blog/magento-2/magento-2-get-one-search-result-by-sku but it didnt resolve the issue. Our SKUs patterns are X-1234 and XXX-1234.

[2020-03-07 11:13] ioweb-gr commented on #26492
@magento give me 2.4-develop instance

[2020-03-07 11:13] magento-engcom-team commented on #26492
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-07 11:14] magento-engcom-team commented on #26492
Hi @ioweb-gr, here is your [Magento instance](https://i-26492-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26492-2-4-develop.instances.magento-community.engineering/admin_5e5b](https://i-26492-2-4-develop.instances.magento-community.engineering/admin_5e5b)
Login: `1db45770` Password: `96b2aa7086bb`
Instance will be terminated in up to 3 hours.

[2020-03-07 11:47] surelockrich commented on #27171
Have you checked?

[2020-03-07 13:31] hostep opened #27200 "Dependency php-amqplib/php-amqplib vs php extension sockets causes inconsistent composer.lock file"
### Preconditions (*)
1. Magento 2.4-develop branch
2. PHP installation without the `sockets` extension installed

### Steps to reproduce (*)
1. Clone the 2.4-develop branch (I'm using commit 90012f2920a)
2. Run `composer install` => notice it doesn't work:
[code]
3. Run `composer update php-amqplib/php-amqplib` => notice now it suddenly works:
[code]

--

Now use a PHP installation which does hav

[2020-03-07 15:43] duffner commented on #27153
Magento has a feature for decimal based inventory.  Please do not forget about this feature in addressing this ticket.

[2020-03-07 15:51] duffner commented on #26950
Authorize.Net exists as AcceptJS implementation, which supersedes all previous implementations.   Authorize.net is not gone. :). Don’t worry

[2020-03-07 15:57] duffner commented on #26730
Can you please verify that the product exists on both stores as part of definition of this ticket.  If this product is disabled in one store, but active in another this would lead to the same result. Which is also broken as the store switch should take to homepage if 404 is given. Per other multistore issues that were resolved

[2020-03-07 16:02] duffner commented on #26547
@magento-engcom-team, this is a security issue.  While this ticket, could use some improved documentation, Google itself recognizes this as a security flaw. This blantent notice looks bad for Magento.  While I don’t agree it should be ported back to 2.2 versions, I do believe it should be in 2.3 as this issue presented itself in 2.3 and I’d like to see us move forward.

[2020-03-07 16:04] duffner commented on #26516
@erikhansen, are there any programmatic updates occurring to the catalog each day, such as pricing updates?

[2020-03-07 16:24] zhushaolei opened #27201 "I found no " Design" under my backend of the Magento2 about |Stores | Configuration |General |"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-03-07 17:12] krishprakash commented on #27201
Hi @zhushaolei.
Could you please update all the details pre condition, steps to reproduce, expected and actual result.
Thanks

[2020-03-07 18:10] GuiltyNL commented on #26516
I can confirm we have the exact same issue here on 2.3.3

We do not have pricing updates or changes, but we see the same cache tags being flushed whikr this cron is running.

[2020-03-07 22:15] magento-engcom-team commented on #19469
Hi @vbuck, @Nazar65, @o-iegorov.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [0fd8a5146cdf4e524150e68f89085d90f0d42be3](https://github.com/magento/magento2/commit/0fd8a5146cdf4e524150e68f89085d90f0d42be3)
 - [436d0ae410101e526ac9326483788153de507f26](https://github.co

[2020-03-07 22:15] #19469 closed, assigned to o-iegorov

[2020-03-07 22:45] chicgeek commented on #1821
@Eddcapone Did you try [the workaround](https://github.com/magento/magento2/issues/1821#issuecomment-218115283)? (Note: I've not tried this recently.)

[2020-03-08 02:32] krishprakash commented on #27201
Hi @zhushaolei feel free to reopen the issue once you update all the necessary details
Thanks

[2020-03-08 02:32] #27201 closed, assigned to krishprakash

[2020-03-08 06:41] devendra-m commented on #26730
@duffner there are products on both stores. For example

https://www.urbankitsupply.com/fi/mission-workshop-the-rummy-messenger-laukku.html for finnish
https://www.urbankitsupply.com/en/mission-workshop-the-rummy-vx-messenger-bag.html for english

[2020-03-08 12:33] acmetech2009 commented on #26991
Hi, I've got the same problem on magento 2.3.4. When product page loads with configuration product, browser developer tools do not show any errors but when i choose first option it shows:

Uncaught TypeError: Cannot read property '0' of undefined
    at $.<computed>.<computed>._fillSelect (configurable.js:449)
    at $.<computed>.<computed>._fillSelect (widget.js:100)
    at $.<computed>.<computed

[2020-03-08 12:49] omaxmo opened #27202 "Incorrect behave "Discard subsequent rules" and "Priority" for the cart price rule"
### Preconditions (*)

1. 2.3.4

### Steps to reproduce (*)

1. Create the first cart price rule:
        Rule Information:
            Active: Yes
            Coupon: No Coupon
            Priority: **0**
        Condition:
           Apply the rule only if the following conditions are met:
                if ALL  of these conditions are TRUE :
                       Subtotal  equals or greater t

[2020-03-08 12:50] omaxmo commented on #27202
@magento give me 2.4-develop instance

[2020-03-08 12:50] magento-engcom-team commented on #27202
Hi @omaxmo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-08 12:51] magento-engcom-team commented on #27202
Hi @omaxmo, here is your [Magento instance](https://i-27202-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27202-2-4-develop.instances.magento-community.engineering/admin_35a0](https://i-27202-2-4-develop.instances.magento-community.engineering/admin_35a0)
Login: `5a3e575e` Password: `719782c8f53f`
Instance will be terminated in up to 3 hours.

[2020-03-08 15:38] nrkapoor commented on #26817
Thank you for reporting this issue. I have created an internal JIRA item and will address this issue as part of the 2.4 release. I will update the issue once the fix is available in 2.4 development.

[2020-03-08 18:48] mihalkordowsky opened #27204 "Issue with modules encoded by ioncube ."
### Preconditions (*)
    1. Magento/product-community-edition 2.3.4
    2. PHP 7.3
    3. ionCube 10.3.9

### Summary (*)
When I'm using ionCube Encoder for encoding of custom modules then Magento not generating classes correctly.
### Steps to reproduce (*)
    `sudo php bin/magento setup:di:compile`
### Examples (*)

I have few type of errors.

When I trying to extent \Magento\Framework\DB\Adapt

[2020-03-09 06:03] JeffersonTeixeira opened #27205 "Customer validation (Observable) called twice"
I already discrible my problem here: https://community.magento.com/t5/Magento-2-x-Programming/Customer-validation-called-twice-Observable-event-re-execution/m-p/425479
and here:
https://magento.stackexchange.com/questions/306222/customer-validation-called-twice-observable-event-re-execution
But I got no helpful answer, as the title describes my validationPage.php is called twice,
I'm developing a

[2020-03-09 07:18] juho-jaakkola commented on #24822
@bubasuma Backorders are a built-in feature in Magento. There should be no need for store owners to extend the API just to get it to support Magento's own default feature.

[2020-03-09 08:14] YiffyToys opened #27206 ""Add new group" enter button has different behavior then "OK""
### Preconditions (*)
1.  Having an attribute set

### Steps to reproduce (*)
1. Open the attribute set
2. press "Add new group"
3. Enter a name
4. press ENTER instead of using the mouse to press "OK"

### Expected result (*)
Same behavior as pressing "OK".

### Actual result (*)
The dialog is closed but the new groups is not added.
Same as pressing "cancel"

[2020-03-09 08:28] YiffyToys commented on #27206
How to answer the "yes"/"no" question?
The provided checkboxes can obviously not be clicked.

[2020-03-09 08:48] mayankgchetu commented on #5279
rtggfgfg

[2020-03-09 09:02] hoangnm89 commented on #27186
@allamsettiramesh i think you don't understand how does "Schedule New Update" work?
as your case, i think should do like this:
the rule should be Disabled(in main form) and on Schedule form select start/end time then you turn rule on(Enable). When time come, rule will be active.
BTW, this feature requires crontab.

[2020-03-09 09:04] eduard13 commented on #27206
Hi @YiffyToys, thank you for reporting this issue, but I think it's a duplicate of #26847 issue, as it is related to confirm widgets, and will be fixed in scope of #27029.
Thank you.

[2020-03-09 09:04] #27206 closed, assigned to krishprakash

[2020-03-09 09:07] YiffyToys commented on #27206
Thanks. I did not find #26847 when searching because I was only focused on product attributes.

[2020-03-09 09:44] Eddcapone commented on #1821
The workaround shows how to load a script last, but I need my bootstrap script loaded **before** style-m.css and style-l.css

[2020-03-09 09:48] dhivya-picco opened #27207 "Uncaught SyntaxError: Invalid or unexpected token"
While i'm trying to create the google map using php and jquery. IT shows unexpected error
![locationtrack](https://user-images.githubusercontent.com/54543382/76201418-3a4c3a00-6219-11ea-9e4d-71dc421cdb3d.png)

[2020-03-09 10:14] slackerzz commented on #19469
The issue was about a reindex in a recurring script and the solution has a reindex in a recurring script.

[2020-03-09 10:27] #26187 closed, assigned to nobody

[2020-03-09 10:46] ihor-sviziev commented on #19469
@slackerzz i didn’t tested it, but seems like in most cases it will not do reindex, so performance issue is resolved. Don’t you think so?

[2020-03-09 10:59] glastron174 commented on #26675
Hi, Should the /patches/composer folder created in the root?
I'm getting an error on the composer install

[Seld\JsonLint\ParsingException]
  "./composer.json" does not contain valid JSON
  Parse error on line 133:
    }
  --------------------^
  Expected one of: '}', ','

Thanks in advanced, Edwin

[2020-03-09 11:01] gwharton commented on #26675
Looks like there is some whitespace on the end of line 133 that it doesn't like. There shouldnt be any whitespace at the ends of the lines in a json file. Probably just copy and pasted across.

[2020-03-09 11:02] gigadesign1 opened #27208 "Cannot create account when customer has no password, store id and website id set"
### Preconditions (*)
1. Magento/product-community-edition 2.3.4
2. Custom theme without password required on registration form
3. Set Add Store Code to Urls to Yes in Configuration > Web

### Steps to reproduce (*)
1. Create account without password
2. Create account in default store view without store code in url

### Expected result (*)
1. Account is created

### Actual result (*)
1. Account cr

[2020-03-09 11:04] gwharton commented on #26675
If it is working right, on composer install it should remove framework, reinstall framework and then apply the patch. Then you're good to go. Once the patch is integrated into mainline, you can remove it from your composer.json when you update.

[2020-03-09 11:04] slackerzz commented on #19469
If the customer grid index is invalid it will perform a reindex during `setup:upgrade` and the store will be in maintenance for minutes during deploy.
If this is the Magento solution i will update my patch to remove the new RecurringData script.

[2020-03-09 11:17] gigadesign1 commented on #27208
@magento give me 2.4-develop instance

[2020-03-09 11:17] magento-engcom-team commented on #27208
Hi @gigadesign1. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-09 11:18] magento-engcom-team commented on #27208
Hi @gigadesign1, here is your [Magento instance](https://i-27208-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27208-2-4-develop.instances.magento-community.engineering/admin_64f8](https://i-27208-2-4-develop.instances.magento-community.engineering/admin_64f8)
Login: `e8b822b6` Password: `3f38c6dcfe43`
Instance will be terminated in up to 3 hours.

[2020-03-09 11:27] gigadesign1 commented on #27208
Unable to reproduce on a vanilla Magento instance because it is not possible to disable required passwords on the registration form, but this feature is still available for custom themes.

[2020-03-09 11:31] glastron174 commented on #26675
Thanks, I had to add one } extra in the sjon file. The dates in PDFs are correct now.

[2020-03-09 12:13] ihor-sviziev commented on #19469
Did you rested this new solution? Does customer grid index always invalid?
I believe it should be invalid only in case if some attribute was added

On Mon, 9 Mar 2020 at 13:04, Lorenzo Stramaccia <notifications@github.com>
wrote:

[2020-03-09 13:30] eduard13 opened #27210 "[MFTF] Extracting the tests into separate test files"
### Preconditions (*)
N/A

### Summary (*)

The goal of this ticket is to extract all the existing MFTF tests, that are included in other test files and do not follow the [MFTF Best Practices](https://github.com/magento/magento-functional-tests-migration/wiki/Best-practices).

### Examples (*)
Here is a short summary of the number of tests that have to be extracted into a separate test files:
[cod

[2020-03-09 13:50] Usik2203 commented on #27163
I suppose that spaces  was trimmed by knockout in app/code/Magento/Ui/view/base/web/js/lib/knockout/bindings/optgroup.js : line 117
`  ko.utils.setDomNodeChildrenFromArrayMapping(
                element,
                filteredArray,
                optionNodeFromArray,//eslint-disable-line no-use-before-define
                arrayToDomNodeChildrenOptions,
                callback
            )

[2020-03-09 14:18] vinceduj commented on #6173
I can confirm this issue is still reproductible in Magento 2.3.4, but only when creating attribute sets programmatically without specifying the skeleton, see Set::initFromSkeleton()

When adding a new attribute to this new attribute set, you'll get an ajax error because of the parameter set=undefined, resulting in the very informative message "A technical problem with the server created an error.

[2020-03-09 14:21] lenaorobei commented on #26766
Fixed by internal team.

[2020-03-09 14:21] #26766 closed, assigned to nobody

[2020-03-09 14:34] diamondavocado commented on #7869
This is still an issue on Magento 2.3.4.

This happens with a brand new, fresh M2 install.

I'm using:
* httpd 2.4.41
* php 7.2.27 (fpm-fcgi)

Permissions all correct, rewrites enabled etc.

Disabling static content signing is not a real solution because it will affect caching etc.

I can't believe this issue has been closed.

@magento-engcom-team Please re-open this issue.

[2020-03-09 15:02] gwharton commented on #26875
Does it use the functional test database instead if you set the

`<const name="TESTS_MAGENTO_INSTALLATION" value="disabled"/>`

entry to enabled in the phpunit config?

[2020-03-09 15:13] paul-gene commented on #26875
It's actually set to `disabled` by default, however, if you read the comment above that setting; "Defines if Magento should be installed before tests execution" I don't think that should be the cause of it using the "live" database instead of the one defined in the mysql config

[2020-03-09 15:21] gwharton commented on #26875
but without magento being installed into a new database, what option has it got? Its gotta either use the 'live' database for that instance, or an isolated database. i.e that setting.

More worryingly, i've just set it to enabled and run the api-functional tests and although it did install into a new database to run the api-functional, it also resulted in the dropping of all tables from the 'live'

[2020-03-09 15:22] gwharton commented on #26875
The config that is defined in the mysql config file, is only used if that setting is set to enabled. It defines the "temporary clean" database that is used if the setting is enabled. Otherwise it uses whatever is defined in the instance config.

Atleast thats my take on it.

[2020-03-09 15:37] paul-gene commented on #26875
Because I copied my live DB manually and configured the functional test mysql file to use the copy.

Do you know that to be fact?

[2020-03-09 15:43] o-iegorov commented on #19469
@slackerzz Natural state of customer grid index is valid. Reindex will be performed only in case if it is invalid that seems reasonable. If you have enableb cron (that also natural for prod environments) reindex wil be performed in bacground for invalid index, so case when you will perform setup:upgrade with invalid index is very rare and for this case reindex will be performed (that is ok for tha

[2020-03-09 16:12] gwharton opened #27213 "API Functional Tests clears wrong database when TESTS_MAGENTO_INSTALLATION and TESTS_CLEANUP set"
### Preconditions (*)
1. deploy 2.4-develop
2. Configure Functional Test Environment
3. Specify test database in dev\tests\api-functional\config\install-config-mysql.php
4. Set TESTS_MAGENTO_INSTALLATION to enabled in phpunit config
5. Set TESTS_CLEANUP to enabled in phpunit config

### Steps to reproduce (*)
1. cd dev/tests/api-functional; ../../../vendor/bin/phpunit -c phpunit_rest.xml

### Expe

[2020-03-09 16:21] o-iegorov commented on #6401
Internal Magento team is working on this issue right now.

[2020-03-09 16:24] DaveSkirrow commented on #26991
I'm also having this problem, It's hard to reproduce as it seems to happen randomly and if you mess with the variations in admin sometimes it fixes the product or fixes some of the variations.

[2020-03-09 16:26] naydav commented on #17705
Hello,

It does not look like a bug. More like legacy code. The completeness of the `customer_address_id` field in `sales_order_address` should not affect the any logic (main links are `quote_address_id` and `parent_id`).
@larsroettig, can you describe a real functional case?

I would not like to introduce performance degradation when placing an order.

[2020-03-09 16:47] DaveSkirrow commented on #26991
@magento give me 2.4-develop instance

[2020-03-09 16:47] magento-engcom-team commented on #26991
Hi @DaveSkirrow. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-09 16:47] magento-engcom-team commented on #26991
Hi @DaveSkirrow, here is your [Magento instance](https://i-26991-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26991-2-4-develop.instances.magento-community.engineering/admin_1d2e](https://i-26991-2-4-develop.instances.magento-community.engineering/admin_1d2e)
Login: `ae2cb1b1` Password: `a56d2ac7ce4c`
Instance will be terminated in up to 3 hours.

[2020-03-09 17:07] DaveSkirrow commented on #26991
@bugbuster2 @acmetech2009

Are either of you able to reproduce in the 2.4 develop instance? I'm unable to reproduce it but I'm unable to fix it in my migrated 2.3.4

[2020-03-09 17:15] dtavieres commented on #27112
Good afternoon, Did anyone find a fix for this issue? Thank you

[2020-03-09 18:08] perfpcs commented on #23411
Does someone have a copy of the patched file handy they can post up? I rather save the original and try the patched file first. thanks

[2020-03-09 18:10] Stoyvo commented on #27059
@engcom-Bravo If you're going to close this issue as a "non-issue", then please at least answer the questions above. I believe this issue is valid and is being closed inappropriately.

[2020-03-09 18:23] DaveSkirrow commented on #26991
@magento give me 2.3.4

[2020-03-09 18:24] DaveSkirrow commented on #26991
@magento give me 2.3.4 instance

[2020-03-09 18:25] magento-engcom-team commented on #26991
Hi @DaveSkirrow. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-09 18:25] magento-engcom-team commented on #26991
Hi @DaveSkirrow, here is your [Magento instance](https://i-26991-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26991-2-3-4.instances.magento-community.engineering/admin_2ba1](https://i-26991-2-3-4.instances.magento-community.engineering/admin_2ba1)
Login: `a96e62e3` Password: `1e2ee0c50461`
Instance will be terminated in up to 3 hours.

[2020-03-09 18:36] sdzhepa commented on #25862
Hello @ccrothers

Internal Jira ticket related to **2.4** `MC-29335` still in open status

[2020-03-09 18:37] DaveSkirrow commented on #26991
Problem is present in vanilla 2.3.4 and appears to be fixed in 2.4-developer instance so looks like it's been fixed

[2020-03-09 18:42] acmetech2009 commented on #26991
Hi DaveSkirrow, May I ask You for patch of this for magento 2.3.4? I would check it on my dev instance.
Regards

[2020-03-09 18:55] sjb9774 commented on #26840
@LuoLily I tested this patch on an iPhone X simulator and did not see if the issue you're reporting.

[2020-03-09 19:03] DaveSkirrow commented on #26991
I just used the magento instance generated here with the command @magento give me 2.4-develop instance

[2020-03-09 19:03] magento-engcom-team commented on #26991
Hi @DaveSkirrow. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-09 19:03] DaveSkirrow commented on #26991
In fact that's generated another one which you can use

[2020-03-09 19:04] magento-engcom-team commented on #26991
Hi @DaveSkirrow, here is your [Magento instance](https://i-26991-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26991-2-4-develop.instances.magento-community.engineering/admin_4e58](https://i-26991-2-4-develop.instances.magento-community.engineering/admin_4e58)
Login: `d8b3aca1` Password: `92a386b89cee`
Instance will be terminated in up to 3 hours.

[2020-03-09 19:23] sdzhepa commented on #14674
Thank you @hostep

Based on your https://github.com/magento/magento2/issues/14674#issuecomment-504473190
and absence of concerns during all this time, close this issue

[2020-03-09 19:23] #14674 closed, assigned to nobody

[2020-03-09 19:31] sdzhepa commented on #8700
Based on comments the issue has been fixed
- https://github.com/magento/magento2/issues/8700#issuecomment-437241873
- https://github.com/magento/magento2/issues/8700#issuecomment-437243466

Closed

[2020-03-09 19:31] #8700 closed, assigned to nobody

[2020-03-09 19:46] dufrygrant commented on #13952
Did you find that this ended up being a durable solution to the problem?

[2020-03-09 20:20] MichaelThessel opened #27216 "skip_gallery_before/after incorrect block ordering"
### Preconditions (*)

1.  Magento 2.4
Also reproduced on 2.3.4

### Steps to reproduce (*)

1.Create some product
2. Visit product page
3. View system.log

### Expected result (*)

No messages in system.log

### Actual result (*)

System log shows error:

[code]

The reason for that can be found in: (on Magento 2.3.4)
`vendor/magento/module-catalog/view/frontend/layout/catalog_product_view.xml`

[2020-03-09 20:50] MichaelThessel commented on #27216
@magento give me 2.4-develop instance

[2020-03-09 20:50] magento-engcom-team commented on #27216
Hi @MichaelThessel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-09 20:50] magento-engcom-team commented on #27216
Hi @MichaelThessel, here is your [Magento instance](https://i-27216-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27216-2-4-develop.instances.magento-community.engineering/admin_147b](https://i-27216-2-4-develop.instances.magento-community.engineering/admin_147b)
Login: `60ac4fb7` Password: `5b54aabba334`
Instance will be terminated in up to 3 hours.

[2020-03-09 20:52] MichaelThessel commented on #27216
No ssh for dev instance, cannot check the logs without SSH.

[2020-03-09 21:48] luke-denton-aligent commented on #27127
@engcom-Bravo wow that's really cool! Thanks for spinning that up, but either the instance has terminated itself, or I don't have access, as I get a 403 when trying to go to the instance URL.

I will give this tag a go though: @magento give me 2.4-develop instance

[2020-03-09 21:48] magento-engcom-team commented on #27127
Hi @luke-denton-aligent. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-09 21:48] magento-engcom-team commented on #27127
Hi @luke-denton-aligent, here is your [Magento instance](https://i-27127-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27127-2-4-develop.instances.magento-community.engineering/admin_2707](https://i-27127-2-4-develop.instances.magento-community.engineering/admin_2707)
Login: `86f1624b` Password: `ab832c61ec3f`
Instance will be terminated in up to 3 hours.

[2020-03-09 22:07] luke-denton-aligent commented on #27127
@engcom-Bravo, the new instance has just deployed and I was able to confirm that the issue _is_ fixed in 2.4.
I created the following category structure:
[code]
And I disabled Category 2 _only_ (i.e. I left `Subcategory 2-1` and `Subcategory 2-2` enabled).
The result is that Category 2, and its children, were all left out of the response.

![image](https://user-images.githubusercontent.com/1825342

[2020-03-09 22:17] danemacmillan commented on #24926
I get that this is the point behind [Declarative Schema](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/), but there should still be an option to prevent data from getting purged, like @twosg [commented](https://github.com/magento/magento2/issues/24926#issuecomment-574109433). This is a really nuclear default; it should require more deliberate input from users inste

[2020-03-10 00:06] ovidiucaramida commented on #13466
This module will make your invoice emails work
https://webpanda-solutions.com/auto-invoice-shipment.html
It works with offline payment methods, online payment methods with action Authorize also with Authorize and Capture.

[2020-03-10 00:20] ovidiucaramida commented on #3352
This extension displays the price range on the category product listing, product page and also handles price update when switching between product options
https://webpanda-solutions.com/configurable-product-price-range.html

[2020-03-10 00:22] BrokenMop opened #27217 "Subtitle got hidden in backend menu"
**Preconditions:**
1. Magento 2.4-develop
2. Magento version 2.3.4

**Steps to reproduce:**
1. Add at least two menu items under backend **Content** menu ( **Test Menu 2**, **Test Menu 3** for example);

e.g.
![Screenshot from 2021-01-05 15-26-47](https://user-images.githubusercontent.com/51679138/103653945-e8c22800-4f6d-11eb-9c72-b43fd4323620.png)
So now, we have totally 4 submenus under the Cont

[2020-03-10 00:31] heyepic commented on #26757
I was banging my head against a wall while setting up a new category and images not working.  On the frontend, category images were duplicating the file path. The backend meanwhile was fine.

Reverting to the 2.3.2 version of /vendor/magento/module-catalog/Model/Category/Attribute/Backend/Image.php fixed this.

Please include this in the next release!

[2020-03-10 01:38] mlambley opened #27218 "DataObjectProcessor to recognise Serializable objects"
### Summary (*)
I'm using `Magento\Framework\Webapi\ServiceOutputProcessor` to encode and decode objects. It uses reflection, which works well and ensures that our data objects are documented properly.

But I would like to have fine control over the data which gets outputted. This can be achieved by allowing us to use the [Serializable](https://www.php.net/manual/en/class.serializable.php) interfa

[2020-03-10 03:01] WinstonN opened #27219 "Simple products not associated to config, shows up as options on the frontend"
**Preconditions:**
Default Magento 2.3.3

**Description:**
When you remove a simple product via the admin panel, from a config product, the option for that simple product remains visible in list of options for the configurable

**Steps to reproduce:**
1. Default Magento 2.3.3
2. Log into admin and find any configurable
3. Remove a simple associated product from the configurable
4. Save
5. Run all

[2020-03-10 03:07] WinstonN commented on #27219
@magento give me 2.4-develop instance

[2020-03-10 03:07] magento-engcom-team commented on #27219
Hi @WinstonN. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-10 03:08] magento-engcom-team commented on #27219
Hi @WinstonN, here is your [Magento instance](https://i-27219-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27219-2-4-develop.instances.magento-community.engineering/admin_db86](https://i-27219-2-4-develop.instances.magento-community.engineering/admin_db86)
Login: `fadf62df` Password: `70c64ee66328`
Instance will be terminated in up to 3 hours.

[2020-03-10 04:14] mlambley opened #27220 "Allow the phpdoc type array"
### Preconditions (*)
Exists in Magento 2.4-develop. Note that phpdoc type `array` is not being included as an array type.
https://github.com/magento/magento2/blob/cac512ffe55578d41c33146c6fe03ef6bdf851ee/lib/internal/Magento/Framework/Reflection/TypeProcessor.php#L394-L397

### Steps to reproduce (*)
Create a class with a member variable with type `array` such as
[code]
Then try to encode/decode

[2020-03-10 04:17] huykon commented on #22753
@abbaseg how to resolve this problem? I have same error now

[2020-03-10 07:35] sudheers-kensium commented on #27207
@dhivya-picco This is not core Magento error. So I am closing this issue.

[2020-03-10 07:35] #27207 closed, assigned to nobody

[2020-03-10 08:05] engcom-Bravo commented on #27127
Hello @luke-denton-aligent

That is great news. Thank you for your quick response.
So I will close this issue as not reproducible on 2.4-develop
Please feel free to report the _"Category 3 is before Category 1"_ and we will investigate it, in scope of another issue.

Thank you for collaboration

[2020-03-10 08:05] #27127 closed, assigned to shikhamis11, engcom-Bravo

[2020-03-10 08:59] ortoDev commented on #23411
Hi everyone,
I've got the same error:
The order is complete but no confirmation email was sent

[2020-03-10 09:31] ioweb-gr opened #27223 "product with salable qty 0 is not considered out of stock"
I'm not sure if you consider this expected behaviour but it's a bit confusing for shop onwers and customers so I'll just document my experience here.

### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Set shop to hide out of stock products from Stores -> Configuration -> Catalog -> Inventory
2. Create a product with qty 1
3. Order the product once
4. Do not handle the order
5.

[2020-03-10 09:52] DanieliMi opened #27224 "Configurable product: Prices in select options customization"
### Summary (*)

How prices in select options for configurable products are [currently implemented](https://github.com/magento/magento2/pull/17695) does not provide a good way to customize or extend it. In my specific case I would like to remove it since all my customers don't want it in their shops.

### Examples (*)

The only way to possible customize or remove them is to create a mixin and over

[2020-03-10 09:53] effettidesigns opened #27225 "First approach issues (can't create Pages, Products or Design Configuration)"
I've always developed websites by using Wordpress+Woocommerce, now I'm trying to build a Magento2 website, so I'm new to this app.
Actually I've installed the latest version to this domain **magento.effettiadventure.com**
Later on I've installed this theme **Athlete2** https://themeforest.net/item/athlete2-strong-magento-2-theme/23693737
by copying the app and pub files into the app and pub direct

[2020-03-10 09:55] effettidesigns commented on #27225
@magento give me 2.4-develop instance

[2020-03-10 09:55] magento-engcom-team commented on #27225
Hi @effettidesigns. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-10 09:56] magento-engcom-team commented on #27225
Hi @effettidesigns, here is your [Magento instance](https://i-27225-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27225-2-4-develop.instances.magento-community.engineering/admin_dbdd](https://i-27225-2-4-develop.instances.magento-community.engineering/admin_dbdd)
Login: `5d37ea51` Password: `b1e13ea8c7e8`
Instance will be terminated in up to 3 hours.

[2020-03-10 10:12] effettidesigns commented on #27225
What should I do with this access?

[2020-03-10 10:56] kestraly commented on #26991
Just encountered this same error on a migration. Checking it out

[2020-03-10 11:41] hostep commented on #26672
Let me close this as a duplicate of https://github.com/magento/magento2/issues/26499

[2020-03-10 11:41] #26672 closed, assigned to ramesh-durairajaram

[2020-03-10 11:56] sudheers-kensium commented on #27223
@magento give me 2.4-develop instance

[2020-03-10 11:56] magento-engcom-team commented on #27223
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-10 11:56] magento-engcom-team commented on #27223
Hi @sudheers-kensium, here is your [Magento instance](https://i-27223-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27223-2-4-develop.instances.magento-community.engineering/admin_1ef3](https://i-27223-2-4-develop.instances.magento-community.engineering/admin_1ef3)
Login: `e1d5e376` Password: `1c3fb2b0f43c`
Instance will be terminated in up to 3 hours.

[2020-03-10 11:59] BorisovskiP commented on #27126
@shikhamis11 Can you tell me whats the status of this issue?

[2020-03-10 12:09] sudheers-kensium commented on #27223
@ioweb-gr I am not able to reproduced the issue and it is working as expected on Magento 2.4-develop instance. So I am closing this issue.

[2020-03-10 12:45] salehawal opened #27226 "Whatermark issue | When enabled | Product Maximized Picture shows placeholder image"
### Preconditions (*)
1. php 7.2
2. magento 2.3.1

### Steps to reproduce (*)
1. Add Product Image
2- View Product Page
3- Press on Product Image

### Expected result (*)
1. Add Product Image
2- View Product Page
3- Press on Product Image
4- See Maximized Product Image

### Actual result (*)
1. Add Product Image
2- View Product Page
3- Press on Product Image
4- Showes Placeholder Image indicating

[2020-03-10 12:50] sudheers-kensium commented on #27226
@magento give me 2.4-develop instance

[2020-03-10 12:50] magento-engcom-team commented on #27226
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-10 12:51] magento-engcom-team commented on #27226
Hi @sudheers-kensium, here is your [Magento instance](https://i-27226-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27226-2-4-develop.instances.magento-community.engineering/admin_6283](https://i-27226-2-4-develop.instances.magento-community.engineering/admin_6283)
Login: `236394c6` Password: `e0f9660431b4`
Instance will be terminated in up to 3 hours.

[2020-03-10 12:56] salehawal commented on #27226
what i have is 2.3.1

[2020-03-10 12:58] sudheers-kensium commented on #27226
@salehawal I have verified on Magento 2.4-develop instance, I am not able to reproduced the issue. Maybe issue is resolved latest version (2.3.4) please verify on  latest ver. Please provide more details still you are facing same issue on 2.3.4.

[2020-03-10 12:59] jonashrem commented on #17450
Still happening with libPNG 1.6.34

@engcom-backlog-nickolas what is the solution in your opinion? Switching to libPNG 1.2 is not an option in modern operating systems, so I think this needs to be fixed on magento side (or ImageMagick should be the default).

[2020-03-10 13:18] salehawal commented on #27226
i did upgrade from my end to 2.3.2, still not solved .. also i have changed the theme to the default one but still not working
![Screenshot from 2020-03-10 14-40-43](https://user-images.githubusercontent.com/3238761/76315931-54058400-62e2-11ea-8529-481b83df8681.png)

[2020-03-10 13:44] rvitaliy opened #27227 "Support for PHP 7.4"
PHP 7.4 has been released in november 2019. It would be nice to see Magento 2 supported it.

[2020-03-10 13:46] ihor-sviziev opened #27228 "Uncaught TypeError in Customer Section config"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Add to the body following code to the homepage content:
[code]

2. Navigate to homepage, with opened developer console

### Expected result (*)
1. We shouldn't have any JS errors

### Actual result (*)

1. We have `Uncaught TypeError: Cannot read property '*' of undefined` error in the console

[2020-03-10 13:47] ihor-sviziev commented on #27228
@magento give me 2.4-develop instance

[2020-03-10 13:47] magento-engcom-team commented on #27228
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-10 13:47] magento-engcom-team commented on #27228
Hi @ihor-sviziev, here is your [Magento instance](https://i-27228-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27228-2-4-develop.instances.magento-community.engineering/admin_0c9f](https://i-27228-2-4-develop.instances.magento-community.engineering/admin_0c9f)
Login: `1a451655` Password: `b34b74506c41`
Instance will be terminated in up to 3 hours.

[2020-03-10 14:04] ihor-sviziev commented on #27228
Seems like not reproducing anymore on 2.4-develop branch. Fixed by https://github.com/magento/magento2/pull/25764

[2020-03-10 14:04] #27228 closed, assigned to nobody

[2020-03-10 14:10] rparsi-boxycharm commented on #26500
@wagento-bhavin Any progress on this?

[2020-03-10 14:11] effettidesigns commented on #14600
Same issue, @oefterdal did you solved in some way?

[2020-03-10 14:34] LittleBigDev commented on #23761
Please reopen this issue. Nothing was fixed !

[2020-03-10 14:46] devchris79 commented on #27226
Looks like you are seeing a watermark only, have you tried removing the watermark then flushing the cache?

[2020-03-10 15:03] salehawal commented on #27226
@devchris79 no, i already checked now .. as you can see bellow the image is a placeholder that shows if there is no image for the product
https://cdn.jomlah.com/pub/media/catalog/product/cache/a91761d908a13c769011033091e94da3/j/o/jomlah-sport-shoe-142332.jpg

[2020-03-10 15:14] salehawal commented on #27226
@devchris79 .. no it is not related to opacity, it is just the placeholder image beaing replaced by the original one .. i have attached a screenshot of the settings page
![Screenshot from 2020-03-10 17-12-55](https://user-images.githubusercontent.com/3238761/76327372-95059480-62f2-11ea-8df4-b1ec3aa5d097.png)

[2020-03-10 15:19] salehawal commented on #27226
ok issue resolved .. i just disabled and then enabled the placeholder and the site is working now (:+1:

[2020-03-10 15:23] magento-engcom-team commented on #27139
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32311` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-10 15:28] magento-engcom-team commented on #26989
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26990 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [3590b44be005762c32ebf3fb7e3e0f4e28055e58](https://github.com/magento/magento2/commit/3590b44be005762c32ebf3fb7e3e0f4e28055e58)
 - [48a297f579904d68f9965a88d4eb29c5ab1f5881](https://github.com/magento/magento2/commit/48a297f579904d68f9965a88d4

[2020-03-10 15:28] #26989 closed, assigned to lbajsarowicz

[2020-03-10 16:35] NeilofSteel commented on #27027
@extroniks Solution not working for me... wasn't there another fix few days ago? I used another fix which worked for me but I can't find it

[2020-03-10 17:42] sdzhepa commented on #25862
FYI: @ccrothers @IvanChepurnyi @convenient @PascalBrouwers @rhoerr

cc: @naydav @andrewbess

One more update
After investigation of all internal Jira tickets related to this bug
I found that it was fixed in the scope of other Jira tasks.
Here is a small summary:
- in `MC-29206` the issue has been fixed for 2.3.x version and should be available with the next `2.3.5` release.
- in `MC-29426` the iss

[2020-03-10 20:08] oefterdal commented on #14600
@effettidesigns I just had to reindex

[2020-03-10 20:37] JosephMaxwell commented on #14297
Hello, we've had to deal with this ourselves. This is actually fairly easy to solve.

[Here is an example](https://gitlab.com/swiftotter/associate-study-guide/-/blob/master/app/code/SwiftOtter/OrderExport/Plugin/InjectAdminToken.php) of how the token is generated.

Send up that token with the `Authorization` header ([example](https://gitlab.com/swiftotter/associate-study-guide/-/blob/master/app/co

[2020-03-10 21:01] bjorn-vdc opened #27231 "REST API special-price M2 Commerce - special price with 0 is saved but not retriveable"
### Summary (*)
Adding special price through Rest API ({{url}}/rest/V1/products/special-price) are not retriveable afterwords through {{url}}/rest/V1/products/special-price-information. Making it impossible by API integrations to remove/update said price.

### Examples (*)

POST : {{url}}/rest/V1/products/special-price
{
        "price": 0,
        "store_id": 0,
        "sku": "165455",
        "

[2020-03-10 22:55] swell-d commented on #25927
Same issue. And one more point. I use multystore and I don't understand how can I use many GMC accounts with only one gmail account.

[2020-03-10 23:07] vishalpatel14 commented on #10661
This issue still exit in latest 2.3.4 version downloaded from Magento Market place.

[2020-03-11 00:57] #27181 closed, assigned to nobody

[2020-03-11 01:03] adarshkhatri opened #27232 "Search result page throws error on changing the URL"
### Preconditions (*)

1. Magento 2.3.3 with sample data (or at least have some products in the site)
2. Elastic Search 6 installed in server and configured to use it in **Stores > Configuration > Catalog > Catalog > Catalog Search > Search Engine**

### Steps to reproduce (*)

1.  Visit the link: http://domain.com//catalogsearch/result/index/?color=black&q=jacket
2. http://domain.com//catalogsear

[2020-03-11 01:04] fooman commented on #27219
@magento give me 2.4-develop instance

[2020-03-11 01:04] magento-engcom-team commented on #27219
Hi @fooman. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-11 01:05] magento-engcom-team commented on #27219
Hi @fooman, here is your [Magento instance](https://i-27219-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27219-2-4-develop.instances.magento-community.engineering/admin_3f63](https://i-27219-2-4-develop.instances.magento-community.engineering/admin_3f63)
Login: `504ff7fd` Password: `6ba1d896be12`
Instance will be terminated in up to 3 hours.

[2020-03-11 01:09] Gabriel-Bruno opened #27233 "configurable product added to backend not show in front (added with api)"
### Preconditions (*)

1.  Magento 2.4 with sample data

### Steps to reproduce (*)

1. Adding Configurable product with api to website
2. Using [this](https://devdocs.magento.com/guides/v2.4/rest/tutorials/configurable-product/plan-product.html) documentation
3. First create the new Attribute Set "Test" based on Default
4. Add the "attributeset3attribute1" attribute to this Attribute Set
Here is

[2020-03-11 01:12] fooman opened #27234 "GitHub test instances have a broken search"
### Summary (*)
Test instances have a broken search

### Examples (*)
1. request a test instance from Magento via github comment
2. enter a search term
3. note failure
![image](https://user-images.githubusercontent.com/455508/76372369-0b150480-63a2-11ea-9fc3-96f02bb1441e.png)

### Proposed solution
Not sure what the underlying error is.

[2020-03-11 01:20] ramu15061987 commented on #26893
Any update on this issue?

[2020-03-11 01:47] lbajsarowicz commented on #27233
@Gabriel-Bruno Do you have `realtime` indexers mode?

[2020-03-11 02:34] lbajsarowicz commented on #27220
This is correct behaviour.
You need to explain what kind of data it has to expect inside (eg. array of strings, array of objects). With just `array` it's unclear for parser.

[2020-03-11 04:27] krishprakash commented on #27234
Hi @fooman. This is not the magneto core issue.We only confirm issue which are reproduced on latest magento 2.3.4 and here it's issue with automated instance so will raise the query to community team and update you.Thank you for report !!

[2020-03-11 04:31] magento-engcom-team commented on #27202
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32346` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-11 04:56] aliomattux commented on #9307
I also had a similar issue but believe the attribute was changed from a dropdown to a text swatch. On the front end, it looks like below. I only found out about this issue by looking through bug reports. After I saw this report, I changed it back to a dropdown and it works again.
Magento 2.3.3
![2020-03-10_23-55-37](https://user-images.githubusercontent.com/1051273/76383729-bc785380-632a-11ea-93f5

[2020-03-11 06:03] jaivikpatel opened #27235 "Redirect to cart page from checkout with varnish Enable"
### Preconditions (*)

1.Magento 2.3.4
2.Must Varnish Enable

### Steps to reproduce (*)

1. Do not add any product to the cart.
2. Directly go to https://www.sample.domain/checkout/
3. Because No product in cart Redirect user to Cart page https://www.sample.domain/checkout/cart
4. Add any product in the cart.
5. Go to Checkout.
6. It will redirect you to the cart page because of the caching of st

[2020-03-11 07:04] VladyslavSikailo opened #27236 "Credit memo decreased product qty"
### Preconditions (*)
1. Empty installation of Magento 2.3.4 EE

### Steps to reproduce (*)
1. Create simple product in BO with Quantity > 1, in stock, default category, with weight.
2. Go to PDP and place order with that product.
3. In `inventory_reservation` table -1 reservation was created
4. Go to BO->Sales->Orders->{Your order}->Invoice->Submit Invoice
5. Click `Credit Memo` -> Refund Offline

[2020-03-11 08:20] salehawal commented on #27226
after applying the fix in productin, it didnt work, but when i removed the watermark it did (:+1:

[2020-03-11 08:42] salehawal commented on #27226
now the issue is "why the maximized product picture is replaced" if we add water mark, is it a php issue or what?

[2020-03-11 08:54] engcom-Echo commented on #27231
Hi, @bjorn-vdc. Thank you for your report.
Unfortunately, I cannot reproduce the issue on 2.4-developer.

![image](https://user-images.githubusercontent.com/51681435/76396437-d8f3aa80-6381-11ea-8fb0-d952b45e1d8e.png)
![image](https://user-images.githubusercontent.com/51681435/76396500-ec9f1100-6381-11ea-9a24-e885880acd80.png)
![image](https://user-images.githubusercontent.com/51681435/76396518-f62

[2020-03-11 08:55] vasilii-b commented on #27163
Hi @DaveSkirrow,
Thanks for filling in a new issue.
Could you please provide any use-cases?
Thank you!

[2020-03-11 08:59] #27231 closed, assigned to engcom-Echo

[2020-03-11 09:02] borriglione commented on #25076
That is not correct.

Official fix seems to be commit:
https://github.com/magento/magento2/commit/6976aabdfdab91a9d06e412c2ed619538ed034b6

Compared to the codebase of the 2.3.4 release the commit/patch is **not** part of it:
https://github.com/magento/magento2/blob/2.3.4/lib/internal/Magento/Framework/Mail/Message.php

But the fix is part of the current `2.4-develop`-branch (see https://github.co

[2020-03-11 09:17] al1357 opened #27238 "M 2.3.3 > 2.3.4 - “Infinite loop detected…” while $quote->getItemsCollection() on OPC"
### Summary (*)
I'm trying to get quote on checkout and this exception is thrown in

`vendor\magento\module-checkout\Model\Session.php:241`

because of this new feature

`
if ($this->isLoading) {
    throw new \LogicException("Infinite loop detected, review the trace for the looping path");
}
`

Even if I remove this exception the checkout returns an error after 10-20s loading - so it seems like s

[2020-03-11 09:43] bjorn-vdc commented on #27231
Thanks - prices are saved as 0, but not visible when you reuest the Is saved, but not retrieved when calling {{url}}/rest/V1/products/special-price-information
{
"skus": [
"Test"

]
}

[2020-03-11 09:45] TheRealHunzik opened #27239 "Type Error occurred when creating object: Magento 2 EE 2.3.4"
### Summary (*)
I am trying to add and admin Grid in Magento 2 Custom Module... It's working fine on `Developer Mode` but I am getting this error in `Production Mode`

getting an Error

### Examples (*)

Here is My Code Of Custom\Module\Model\ResourceModel\Module\Grid\Collection.php

[code]

I have Tried by removing `var/` and `generated/` folder and run `php bin/magento setup:di:compile`

### Pro

[2020-03-11 09:59] effettidesigns commented on #14600
@oefterdal what it means? can you please explain this to me? Thanks

[2020-03-11 10:07] effettidesigns commented on #14600
Ok I ran the reindex command through the Terminal
`php bin/magento indexer:reindex`
but my issue is not resolved I can't even create pages, categories or products.

[2020-03-11 10:37] engcom-Echo commented on #27231
Hi, @bjorn-vdc. I updated my comment. Look at the last screenshot, please. I'm using the price '0' here.

[2020-03-11 10:39] bjorn-vdc commented on #27231
But did you use magento 2 commerce?

On Wed, 11 Mar 2020 at 11:37, Andrii Kalinich <notifications@github.com>
wrote:

--
Bjørn-Erik Efterdal
Chief Technology Officer
Mobile +47 908 53 600

Visma Digital Commerce

Stay ahead with leading eCommerce solutions
This communication is intended for the person(s) named above only. It
contains information that is confidential and legally privileged. If
rece

[2020-03-11 10:46] Gabriel-Bruno commented on #27233
Hello @lbajsarowicz
please find below the show-mode
Design Config Grid:                                Update on Save
Customer Grid:                                     Update on Save
Category Products:                                 Update on Save
Product Categories:                                Update on Save
Catalog Rule Product:                              Update on Save
Product EAV:

[2020-03-11 10:50] engcom-Echo commented on #27231
Please provide more details(steps) to reproduce the issue, I try again.
I'm embarrassed by what you use 'store_id: 0'

[2020-03-11 10:53] lbajsarowicz commented on #27233
Does the product appear when you perform reindex?
Do you have full page cache enabled?
Is product "in stock" with it's siblings?

[2020-03-11 11:05] lbajsarowicz commented on #27239
Have you tried to run `setup:di:compile` again in production mode?

[2020-03-11 11:06] maddyBoy commented on #23196
Hi, any solution for this? on 2.3.x

[2020-03-11 11:07] Gabriel-Bruno commented on #27233
@lbajsarowicz
Does the product appear when you perform reindex?
now i run the reindex command and all products come live in front!
but how to solve the issue that no need to repeat it every time manually ?
Do you have full page cache enabled?yes
Is product "in stock" with it's siblings?yes

[2020-03-11 11:11] lbajsarowicz commented on #27233
You should not reindex manually.
Especially with `On save` reindex method.

I have no idea what causes the issue, yet.

[2020-03-11 11:20] joris-ati4 opened #27240 "Magento 2.3.4 .action-close broken when Multiselect is used in a modal"
### Preconditions (*)

1. Magento 2.3.4 and the default Magento Backend theme

### Steps to reproduce (*)

1. Create a modal form in the admin section with insertForm and add a multiselect uiComponent in the form
2. When the modal opens, add an element to the multiselect.

### Expected result (*)

1. The close button has to be next to the item name and included in the item element.

![Capture d’éc

[2020-03-11 11:21] gianstraf commented on #6401
I can confirm that it's true.
The plugin is not useful and causes a varnish 503, when Magento is behind varnish.

[2020-03-11 11:55] immuhammad opened #27241 "Whitelist Generation of tables and columns that are allowed to be edited by the declaration installer Log Errors"
### Description (*)
 Whitelist Generation of tables and columns that are allowed to be edited by the declaration installer doesn't log any errors. The **db_whitelist_schema.json** file is not created automatically when running the `bin/magento setup:db-declaration:generate-whitelist --module-name=Vendor_Modulename` command because there’s an error in the etc/db_schema.xml file of the module.

###

[2020-03-11 12:24] ansarul121 commented on #23249
I am also facing the same error

Maximum error count has been reached or system error is occurred!

My Magento Version:2.3.4

[2020-03-11 12:48] kestraly commented on #26991
Switching to swatches for one attribute removes the JS error for me

[2020-03-11 12:52] engcom-Alfa commented on #26796
The issue is still reproducible on 2.4-develop

[2020-03-11 13:01] TOIVI291 commented on #26689
I also have this issue, is there any update on this?

[2020-03-11 13:10] magento-engcom-team commented on #26946
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32352` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-11 13:34] DigitalStartupUK opened #27244 "Disabling Temando_Shipping results in PHP Fatal Error"
### Preconditions (*)

1. Magento 2.3.4
2. Developer Mode

### Steps to reproduce (*)

1. Disabled Temando Shipping (`bin/magento module:disable Temando_Shipping`)
2. Compile (`bin/magento setup:di:compile`)
3. Clean and Flush Cache (`bin/magento c:c && bin/magento c:f`)
4. Add New Product from Backend

### Expected result (*)

1. Page loads and allows Admin to add a new products

### Actual resul

[2020-03-11 13:42] malikahmed1996 commented on #27241
Hi there, I have submitted a PR for this feature. [Schema Log file](https://github.com/magento/magento2/pull/27243)

[2020-03-11 14:19] sdzhepa commented on #27234
Hello @fooman and @krishprakash

Thank you for contribution and collaboration!

This issue is not related to Magento code but it related to Community Engineering team MDS(Magento Deploy System) tools,
It seems something went wrong during installation or post configuration.

I am going to investigate it right now. If it is possible to fix quickly, I will do it if not - will create an internal ticke

[2020-03-11 14:30] sdzhepa commented on #27234
@magento give me 2.4-develop instance

[2020-03-11 14:30] magento-engcom-team commented on #27234
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-11 14:30] magento-engcom-team commented on #27234
Hi @sdzhepa, here is your [Magento instance](https://i-27234-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27234-2-4-develop.instances.magento-community.engineering/admin_e8c1](https://i-27234-2-4-develop.instances.magento-community.engineering/admin_e8c1)
Login: `ee4b9caf` Password: `0a1b18c817ce`
Instance will be terminated in up to 3 hours.

[2020-03-11 14:34] magento-engcom-team commented on #25617
Hi @arnoudhgz, @arnoudhgz.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-25248` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But

[2020-03-11 14:39] lenaorobei commented on #26830
Should be fixed in the scope of https://github.com/magento/magento2/pull/27015

[2020-03-11 15:45] arnoudhgz commented on #26991
Fix can be found here: https://github.com/magento/magento2/commit/f661205a5c5d27e519ad57219cdc1f8d12afe3de#diff-66a1653242fb5ab3e50a207c8743d0dcR445
(last file)

Really weird this is not fixed in 2.3.4...

[2020-03-11 16:17] sdzhepa commented on #27234
@magento give me 2.4-develop instance

[2020-03-11 16:17] magento-engcom-team commented on #27234
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-11 16:18] magento-engcom-team commented on #27234
Hi @sdzhepa, here is your [Magento instance](https://i-27234-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27234-2-4-develop.instances.magento-community.engineering/admin_7567](https://i-27234-2-4-develop.instances.magento-community.engineering/admin_7567)
Login: `e4a25256` Password: `efa1a6b32793`
Instance will be terminated in up to 3 hours.

[2020-03-11 16:22] sdzhepa commented on #27234
fyi: @fooman @krishprakash
hotfix successfully applied
![qwe](https://user-images.githubusercontent.com/3409584/76439551-8b2f7000-638a-11ea-8200-34ce222a31e6.png)

[2020-03-11 16:22] #27234 closed, assigned to sdzhepa, krishprakash

[2020-03-11 16:29] antondkv commented on #21663
The reason for the issue is using a deprecated load method for models.
You should use API Repository for loading the products.

[2020-03-11 17:04] victor-v-rad commented on #26731
@SamJUK @Fidelity88 @pipe-devnull You can try to use this fix https://github.com/magento/data-migration-tool/commit/3c7f83b8eaab690734113f574a26595e61415b62 clean cache and empty magento_root/generated directory. When customers login the tool will validate the password and rehash it in algorithm which Magento 2 understand.

[2020-03-11 17:05] victor-v-rad commented on #26669
@cse00241 You can try to use this fix magento/data-migration-tool@3c7f83b clean cache and empty magento_root/generated directory. When customers login the tool will validate the password and rehash it in algorithm which Magento 2 understand.

[2020-03-11 17:53] aliuosio commented on #23196
@maddyBoy
Add this to your composer.json.

[code]

You have to use this GitHub Fork because the original Repro has an dependency version problem causing the extension not to work with Magento 2.3.0

Run
[code]

Set one of your simple products belonging to a configurable Product to
"out of stock" in the Backend and test the Frontend Product Detail Page

With this module the "out of stock" options a

[2020-03-11 17:59] lenaorobei opened #27250 "Classes that implement RouterInterface can return incorrect type"
### Summary (*)
`Magento\Framework\App\RouterInterface::execute()` should return `ActionInterface` but in some cases implementation returns `false` or `null`.

### Examples (*)
`FrontController`:
[code]

### Expected result

Need to refactor classes that extend `RouterInterface` in order to match interface return type.

The implementation should throw an exception instead of returning false or nul

[2020-03-11 18:59] Zyles opened #27251 "Dashboard lifetime sales incorrect"
Lifetime sale totals are simply incorrect.

Even after updating lifetime statistics and trying "Reload data".

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Make sales
2. Check dashboard

### Expected result (*)

Accurate numbers.

### Actual result (*)

Incorrect numbers.

[2020-03-11 19:31] navarr opened #27252 "Bulk update website attribute only applies to products that have had their true checkbox checked"
### Preconditions (*)

1. Magento 2.3.2-p2 with 2 websites
2. at least 2 products, none of the products added to the second website

### Steps to reproduce (*)

1. Browse to Catalog > Products in the admin panel
2. See the 2 products
3. Limit page size to 1
4. See "2 records found" beside the actions dropdown
5. In the checkbox dropdown, click "Select all"
6. See "(2 selected)" beside the actions

[2020-03-11 19:32] navarr commented on #27252
@magento give me 2.4-develop instance

[2020-03-11 19:32] magento-engcom-team commented on #27252
Hi @navarr. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-11 19:32] magento-engcom-team commented on #27252
Hi @navarr, here is your [Magento instance](https://i-27252-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27252-2-4-develop.instances.magento-community.engineering/admin_1679](https://i-27252-2-4-develop.instances.magento-community.engineering/admin_1679)
Login: `854b285b` Password: `bf055fab0ef6`
Instance will be terminated in up to 3 hours.

[2020-03-11 19:37] navarr commented on #27252
@magento give me 2.3 instance

[2020-03-11 19:38] navarr commented on #27252
@magento give me 2.3.4 instance

[2020-03-11 19:38] magento-engcom-team commented on #27252
Hi @navarr. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-11 19:38] magento-engcom-team commented on #27252
Hi @navarr, here is your [Magento instance](https://i-27252-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27252-2-3-4.instances.magento-community.engineering/admin_d624](https://i-27252-2-3-4.instances.magento-community.engineering/admin_d624)
Login: `55dcbd5f` Password: `837279d597d2`
Instance will be terminated in up to 3 hours.

[2020-03-11 19:43] navarr commented on #27252
@magento give me 2.3.2-p2 instance

[2020-03-11 19:43] magento-engcom-team commented on #27252
Hi @navarr. Thank you for your request. I'm working on Magento 2.3.2-p2 instance for you

[2020-03-11 19:44] magento-engcom-team commented on #27252
Hi @navarr, here is your [Magento instance](https://i-27252-2-3-2-p2.instances.magento-community.engineering).
Admin access: [https://i-27252-2-3-2-p2.instances.magento-community.engineering/admin_4cf1](https://i-27252-2-3-2-p2.instances.magento-community.engineering/admin_4cf1)
Login: `f581e72f` Password: `be24ece40b3c`
Instance will be terminated in up to 3 hours.

[2020-03-11 19:47] navarr commented on #27252
@magento give me 2.3.3-p1 instance

[2020-03-11 19:47] magento-engcom-team commented on #27252
Hi @navarr. Thank you for your request. I'm working on Magento 2.3.3-p1 instance for you

[2020-03-11 19:49] magento-engcom-team commented on #27252
Hi @navarr, here is your [Magento instance](https://i-27252-2-3-3-p1.instances.magento-community.engineering).
Admin access: [https://i-27252-2-3-3-p1.instances.magento-community.engineering/admin_1bc1](https://i-27252-2-3-3-p1.instances.magento-community.engineering/admin_1bc1)
Login: `822314d3` Password: `a5bd310e15c4`
Instance will be terminated in up to 3 hours.

[2020-03-11 19:52] navarr commented on #27252
Bug appears in 2.3.2-p2 but is fixed as of 2.3.3-p1 at the latest.

[2020-03-11 19:52] #27252 closed, assigned to nobody

[2020-03-11 22:50] LiamKarlMitchell commented on #9635
Title of the page is not set to "Contact Us".
Thanks @dhob68

app/design/frontend/Pearl/weltpixel/Magento_Contact/layout/contact_index_index.xml

Remove the head/title tags from the contact_index_index layout xml.
[code]

Note: This is on an older WeltPixel theme version: 101.8.2 with Magento 2.3.0

I checked another newer site and in recent WeltPixel Pearl themes they removed the head block from

[2020-03-11 22:56] isaackim opened #27253 "Vertex - incorrect discounted item rowTotal resulting in visually duplicate discount."
### Preconditions (*)

1. Magento Enterprise 2.2.8
2. vertex/module-tax: 3.1.0
3. Vertex is set up and enabled

### Steps to reproduce (*)

1. Create a cart price rule
2. Add product(s) to cart
3. On the cart page apply discount code
4. Go to checkout page
5. Refresh the checkout page twice and observe the item rowTotal and subtotal values
6. Go back to cart and observe the item rowTotal and subto

[2020-03-11 23:00] isaackim commented on #27253
@navarr so you have visibility and can keep track

[2020-03-12 00:03] mahmood537 opened #27254 "customer group is getting reset in Account Information page in the frontend"
### Preconditions (*)
1. Magento 2.3.4
2. I am testing using Magento 2.3.4 with sample data

### Steps to reproduce (*)
1. In Magento admin: This value is set to 'General':
Stores > Configuration > Customers > Customer Configuration > Create New Account Options > Default Group
2. In Magento admin, I changed customer group for roni_cost@example.com to 'Wholesale'
3. I logged in to the frontend usin

[2020-03-12 00:13] adarshkhatri commented on #26670
@magento give me 2.3.3 instance

[2020-03-12 00:13] magento-engcom-team commented on #26670
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-03-12 00:14] magento-engcom-team commented on #26670
Hi @adarshkhatri, here is your [Magento instance](https://i-26670-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26670-2-3-3.instances.magento-community.engineering/admin_a883](https://i-26670-2-3-3.instances.magento-community.engineering/admin_a883)
Login: `0f2f82c3` Password: `fc1514975669`
Instance will be terminated in up to 3 hours.

[2020-03-12 02:53] vtransy commented on #7647
Try following solution:
https://magento.stackexchange.com/questions/169564/magento-2-the-image-cannot-be-removed-as-it-has-been-assigned-to-the-other-image?answertab=active#tab-top

[2020-03-12 03:10] rootleet commented on #9173
I realized that the php commands I was executing were run by the php installed on the system, and not the one in use by Xampp. Thus installing the php-xml part solved that issue. I resolved all the subsequent errors in the same way. So far, the app is running ok. Granted, a proper, clean stack would be preferable, but this will do for now.

[2020-03-12 04:09] acmetech2009 commented on #26991
Hi arnoudhgz,
Your fix works. Thank You very much.
It restores only the way it worked in previous magento versions.
In my opinion there is still problem.
In my case I have 2 attributes. When You select value from 1 attribute and then select value form 2 attribute, and after that You change Your mind and You select another value form 1 attribute, You will get in 2 attribute wrong values.
You can ch

[2020-03-12 04:10] krishprakash commented on #27254
Hi @mahmood537. Thank you for your report, seems issue is duplicate to #26908 and already open so closing this

[2020-03-12 04:10] #27254 closed, assigned to krishprakash

[2020-03-12 04:25] magento-engcom-team commented on #27009
Hi @HeiderSati. Thank you for your report.
The issue has been fixed in magento/magento2#27026 by @vincent-le89 in 2.4-develop branch
Related commit(s):
 - [1ec6c7f3b46a84d3b2bd887c0f4a4e1cc921a3d0](https://github.com/magento/magento2/commit/1ec6c7f3b46a84d3b2bd887c0f4a4e1cc921a3d0)
 - [01cde22ee1442d292802c7c36f97266ccd33c11c](https://github.com/magento/magento2/commit/01cde22ee1442d292802c7c36f97

[2020-03-12 04:25] #27009 closed, assigned to vincentle89

[2020-03-12 04:25] magento-engcom-team commented on #24637
Hi @Consumewithadele. Thank you for your report.
The issue has been fixed in magento/magento2#25454 by @HirokazuNishi in 2.4-develop branch
Related commit(s):
 - [aff78240d43a648953131db03a9e18c588a8711d](https://github.com/magento/magento2/commit/aff78240d43a648953131db03a9e18c588a8711d)
 - [1546434bbb11828c6dd1960f325a01d2125ebdcc](https://github.com/magento/magento2/commit/1546434bbb11828c6dd19

[2020-03-12 04:25] #24637 closed, assigned to HirokazuNishi

[2020-03-12 04:25] magento-engcom-team commented on #27027
Hi @extroniks. Thank you for your report.
The issue has been fixed in magento/magento2#27149 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [8f81132dcf27bc1b09ba89a6e7002a2f3dd02ef2](https://github.com/magento/magento2/commit/8f81132dcf27bc1b09ba89a6e7002a2f3dd02ef2)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-12 04:25] #27027 closed, assigned to sergiy-v

[2020-03-12 04:25] magento-engcom-team commented on #26590
Hi @Jens-Bourgeois. Thank you for your report.
The issue has been fixed in magento/magento2#26642 by @princecb in 2.4-develop branch
Related commit(s):
 - [d702078c9b8dc3dc996d53aabad76ee96c107d65](https://github.com/magento/magento2/commit/d702078c9b8dc3dc996d53aabad76ee96c107d65)
 - [f695643d38fe80b443c7ce7d467f1176cb825d5e](https://github.com/magento/magento2/commit/f695643d38fe80b443c7ce7d467f

[2020-03-12 04:25] #26590 closed, assigned to princeantil90

[2020-03-12 04:25] magento-engcom-team commented on #26758
Hi @Tripuls-Magento. Thank you for your report.
The issue has been fixed in magento/magento2#27131 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [53c78d534063efa1d8275e27f9cd019dfd9000dc](https://github.com/magento/magento2/commit/53c78d534063efa1d8275e27f9cd019dfd9000dc)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-12 04:25] #26758 closed, assigned to sergiy-v

[2020-03-12 04:25] magento-engcom-team commented on #26648
Hi @tejash-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26649 by @tejash-wagento in 2.4-develop branch
Related commit(s):
 - [3a5cc24f5e1537b4da4abb63ecbdd01c7c29865e](https://github.com/magento/magento2/commit/3a5cc24f5e1537b4da4abb63ecbdd01c7c29865e)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-12 04:25] #26648 closed, assigned to tejash-wagento, desaiuttam

[2020-03-12 04:25] magento-engcom-team commented on #973
Hi @Vinai. Thank you for your report.
The issue has been fixed in magento/magento2#27138 by @drpayyne in 2.4-develop branch
Related commit(s):
 - [945c427b17f9a7199982b10efe73c5f53f1d18cd](https://github.com/magento/magento2/commit/945c427b17f9a7199982b10efe73c5f53f1d18cd)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-12 04:25] magento-engcom-team commented on #26992
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#27014 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [08319582702be82b594225db5b66b873a87d18e7](https://github.com/magento/magento2/commit/08319582702be82b594225db5b66b873a87d18e7)
 - [4ddae72b876595c768a991a76e6cf058dd87f1f6](https://github.com/magento/magento2/commit/4ddae72b876595c768a991a76e6cf0

[2020-03-12 04:25] #26992 closed, assigned to srsathish92, ravi-chandra3197

[2020-03-12 04:25] magento-engcom-team commented on #20309
Hi @mrmoonlv. Thank you for your report.
The issue has been fixed in magento/magento2#26902 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [684b951cb29ad0ecb0c6186cbcbcd1fbc25b51b7](https://github.com/magento/magento2/commit/684b951cb29ad0ecb0c6186cbcbcd1fbc25b51b7)
 - [0fd6fd364a3816fbcd9c642bc3368017694e2883](https://github.com/magento/magento2/commit/0fd6fd364a3816fbcd9c642bc33680

[2020-03-12 04:25] #20309 closed, assigned to Bartlomiejsz

[2020-03-12 04:25] magento-engcom-team commented on #26847
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#27029 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [21afe21644fe586b83654344d56b6651a3279873](https://github.com/magento/magento2/commit/21afe21644fe586b83654344d56b6651a3279873)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-12 04:25] #26847 closed, assigned to sergiy-v

[2020-03-12 04:25] magento-engcom-team commented on #22609
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#24878 by @hostep in 2.4-develop branch
Related commit(s):
 - [99a9405b24083c88d00bb35a2be2248d3d1d3f07](https://github.com/magento/magento2/commit/99a9405b24083c88d00bb35a2be2248d3d1d3f07)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-12 04:25] #22609 closed, assigned to hostep

[2020-03-12 04:25] magento-engcom-team commented on #24735
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#24743 by @dmdanilchenko in 2.4-develop branch
Related commit(s):
 - [6950ead57dc9b17f8604401421fbf1339c81592d](https://github.com/magento/magento2/commit/6950ead57dc9b17f8604401421fbf1339c81592d)
 - [c7deb42a3b9b1875d4afe95ffea3c0f11cd1cb5d](https://github.com/magento/magento2/commit/c7deb42a3b9b1875d4afe95ff

[2020-03-12 04:25] #24735 closed, assigned to dmdanilchenko

[2020-03-12 04:25] magento-engcom-team commented on #14086
Hi @midlan. Thank you for your report.
The issue has been fixed in magento/magento2#27172 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [2bdcc11de0bd8d127a3115383ea960577c840920](https://github.com/magento/magento2/commit/2bdcc11de0bd8d127a3115383ea960577c840920)
 - [23f98498398e58b755ddffbe65601633402ea0af](https://github.com/magento/magento2/commit/23f98498398e58b755ddffbe656016

[2020-03-12 04:25] #14086 closed, assigned to engcom-Charlie

[2020-03-12 04:34] drpayyne commented on #973
@magento-engcom-team, there's a bug when referencing issues cross repositories. The PR https://github.com/magento/magento2/pull/27138 mentioned issue 978 from the adobe-stock-integration repository, but the bot thinks it's from magento2 repository. It would be great if this was fixed, thanks!

[2020-03-12 05:13] gsbhati2008 commented on #21879
Thanks @johncarlson21 for extension .
I installed extension and is having this error:
Fatal error: Access level to Surething\Calculateops\CatalogRule\Model\Rule::$conditionsToCollectionApplier must be protected (as in class Magento\CatalogRule\Model\Rule) or weaker in /home/mage/public_html/app/code/Surething/Calculateops/CatalogRule/Model/Rule.php on line 53
I am using Magento ver. 2.2.8. Please

[2020-03-12 05:59] diamondavocado opened #27256 "StoreResolverInterface->getCurrentStoreId() taking huge amount of time to resolve current store ID in StoreManager.php"
I'm seeing an issue where files being served via `pub/static` are each taking upwards of 12 seconds to load.

I profiled the delay and discovered the `store.resolve` profiler event is taking an extremely long time to resolve the current store ID inside the file `vendor/magento/module-store/Model/StoreManager.php`:
![Screenshot](https://i.stack.imgur.com/5BjCo.png)

### Preconditions (*)

1. Magent

[2020-03-12 06:00] diamondavocado commented on #27256
Some more information from brief research:

Looking at the code, this event is located in the `Magento\Store\Model\StoreManager` class:

        public function getStore($storeId = null)
        {
            if (!isset($storeId) || '' === $storeId || $storeId === true) {
                if (null === $this->currentStoreId) {
                    \Magento\Framework\Profiler::start('store.resolve');

[2020-03-12 07:48] shahbaz-anjum commented on #20684
Hi, following solution worked for me.

First open the magento 2 composer.json file and remove following lines of code.
[code]

After that set the memory_limit in php.ini to 2G
`memory_limit = 2G`
Updated the magento 2 .htaccess file also as this overwrites the memory_limit configuration set in php.ini, so update the `php_value memory_limit 2048M` in two locations in .htaccess file also.
After that

[2020-03-12 08:27] mattijv commented on #27244
@DigitalStartupUK I don't think any of the core code depends on the Temando module. Did you run the setup:di:compile command (or delete the generated folder) after disabling the module? To me that seems like your dependency injection cache still contains references to the Temando classes.

[2020-03-12 08:44] Jitheesh opened #27258 "Email template preview return 404 page"
### Preconditions (*)

1. Magento version 2.3.4
2. PHP version 7.2

### Steps to reproduce (*)

1. Create Email template
2. Click Preview button

### Expected result (*)

1. Email template preview should be displayed on popup if we click from grid
2. Email template preview  should be displayed on new tab

### Actual result (*)

1. Return 404 content on both pop-up and new tab

[2020-03-12 08:45] Jitheesh commented on #27258
@magento give me 2.4-develop instance

[2020-03-12 08:45] magento-engcom-team commented on #27258
Hi @Jitheesh. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-12 08:46] magento-engcom-team commented on #27258
Hi @Jitheesh, here is your [Magento instance](https://i-27258-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27258-2-4-develop.instances.magento-community.engineering/admin_ef76](https://i-27258-2-4-develop.instances.magento-community.engineering/admin_ef76)
Login: `422367e2` Password: `65c721655373`
Instance will be terminated in up to 3 hours.

[2020-03-12 08:50] Jitheesh commented on #27258
@magento give me 2.3-develop instance

[2020-03-12 08:50] magento-engcom-team commented on #27258
Hi @Jitheesh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-03-12 08:55] #27258 closed, assigned to nobody

[2020-03-12 09:03] dandelionred commented on #20684
@shahbaz-anjum

Dev dependencies are not installed by default. So this change doesn't affect anything.

[2020-03-12 09:25] stkrelax commented on #26333
Same here. M 2.3.3

[2020-03-12 10:08] DaveSkirrow commented on #26991
Great! Could anyone tell me if I can use an override file instead of editing the original. And where would this file go, assuming I'm using the default Luma theme?

Acmetech, might be worth opening a new issue for the related/old fault you have found

[2020-03-12 10:09] dverkade opened #27262 "Configurable product, simple products not showing when 1 product is disabled"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-12 10:10] dverkade commented on #27262
@magento give me 2.4-develop instance

[2020-03-12 10:10] magento-engcom-team commented on #27262
Hi @dverkade. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-12 10:10] magento-engcom-team commented on #27262
Hi @dverkade, here is your [Magento instance](https://i-27262-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27262-2-4-develop.instances.magento-community.engineering/admin_6938](https://i-27262-2-4-develop.instances.magento-community.engineering/admin_6938)
Login: `78191695` Password: `70df14e8deaf`
Instance will be terminated in up to 3 hours.

[2020-03-12 10:19] dverkade commented on #27262
@magento give me 2.3.4 instance

[2020-03-12 10:19] magento-engcom-team commented on #27262
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-12 10:19] magento-engcom-team commented on #27262
Hi @dverkade, here is your [Magento instance](https://i-27262-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27262-2-3-4.instances.magento-community.engineering/admin_a2ff](https://i-27262-2-3-4.instances.magento-community.engineering/admin_a2ff)
Login: `22378c60` Password: `880f0c632738`
Instance will be terminated in up to 3 hours.

[2020-03-12 10:25] ajijshekh123 commented on #27262
@dverkade - Can you please provide the Steps, Actual result and Expected result? I want to verify the issue.

[2020-03-12 10:36] dverkade commented on #27262
Verified this is not an issue on clean Magento installations.

[2020-03-12 11:15] DigitalStartupUK commented on #27244
I did a quick sanity check, resulting in the same issue:
[code]

I should also note, that I'm sitting in Dev Mode. I've updated the original issue to include this.

[2020-03-12 12:03] gsomoza commented on #27250
I think there are two challenges here:

1. Any refactoring that will force the `ActionInterface` return type would cause a functionality BC break on any 3rd-party routers that were implemented following the bugged logic from core. Not sure of the real-life impact of that, but since those implementations had no option but to return falsey values to adapt to the improper `FrontController` logic, I'd

[2020-03-12 12:14] antondkv commented on #6826
Confirm 2.3.0

[2020-03-12 12:19] Swahjak opened #27264 "Attributes get overwritten by extension attributes"
### Preconditions (*)

1. Product has attribute with code `some_attribute`
2. Product has extension attribute with code `some_attribute`
3. Product extension attribute `some_attribute` is loaded (not null) before `ExtensibleDataObjectConverter:toNestedArray` is called

### Steps to reproduce (*)

1.  Post (update) a product using the API

### Expected result (*)

1. `some_attribute` has maintained

[2020-03-12 12:49] saroopqs commented on #13746
@magento-engcom-team any update on this issue. I am facing issue on Magento 2.3.3 . While adding product into cart with fpc+varnish enabled. Getting formkey invalid issue.

[2020-03-12 13:00] NeilofSteel opened #27265 "Error in forms with date inputs in german format"
### Preconditions (*)
1. Magento 2.3.4
2. Using locale de_DE

### Steps to reproduce (*)
1. Use Magento 2.3.4
2. Set your Interface user and shop locale to germany
3. Edit customer in backend or go to create account in frontend
4. Pick for example the birthdate 30.01.1999

### Expected result (*)
1. Save customer or create account with no error in the date input

### Actual result (*)
1. Getting e

[2020-03-12 13:00] NeilofSteel commented on #27265
@magento give me 2.4-develop instance

[2020-03-12 13:00] magento-engcom-team commented on #27265
Hi @NeilofSteel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-12 13:01] magento-engcom-team commented on #27265
Hi @NeilofSteel, here is your [Magento instance](https://i-27265-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27265-2-4-develop.instances.magento-community.engineering/admin_71e1](https://i-27265-2-4-develop.instances.magento-community.engineering/admin_71e1)
Login: `5c7e0e6c` Password: `89f28faae902`
Instance will be terminated in up to 3 hours.

[2020-03-12 13:08] NeilofSteel commented on #27265
@magento give me 2.3.4 instance

[2020-03-12 13:08] magento-engcom-team commented on #27265
Hi @NeilofSteel. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-12 13:09] magento-engcom-team commented on #27265
Hi @NeilofSteel, here is your [Magento instance](https://i-27265-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27265-2-3-4.instances.magento-community.engineering/admin_573e](https://i-27265-2-3-4.instances.magento-community.engineering/admin_573e)
Login: `979805af` Password: `ba91b79a4b6a`
Instance will be terminated in up to 3 hours.

[2020-03-12 13:13] NeilofSteel commented on #27265
Well only reproduceable in 2.3.4 is there a fix?
already tried https://github.com/magento/magento2/issues/27027 but not working for me

[2020-03-12 13:18] starlyns commented on #27244
Another problem is that you can't import or export products while Temando is disabled.

[2020-03-12 13:56] Swahjak commented on #27264
"The address form is not quite working the way we expected, let's change the way ALL extensible models are handled in a CORE framework api class that has been working fine since 2017 ." Seems sensible to me.

[2020-03-12 14:16] tinchodev commented on #24844
So.. I think I'm seeing the problem.
When the AuthorizeJS CC form is loaded via AJAX `new AuthorizenetAcceptjs(config);` instanciation at `vendor/magento/module-authorizenet-acceptjs/view/adminhtml/templates/payment/script.phtml` does not happens, leaving `opaqueDataDescriptor` and `opaqueDataValue` form hidden fields blank.
If the page refreshes, all will be good since form will be loaded on DOM

[2020-03-12 14:23] johncarlson21 commented on #21879
I've created this for magento 2.3.x but I think the fix is this:
in file: app/code/Surething/Calculateops/CatalogRule/Model/Rule.php
line 169
private $conditionsToCollectionApplier;
change to
protected $conditionsToCollectionApplier;

there are other ones below that might throw an error
private $websitesMap; on line 174
private $ruleResourceModel; on line 179
they might need to be changed to prote

[2020-03-12 14:41] bubasuma commented on #26700
Internal Magento team is working on this issue right now.

[2020-03-12 14:48] danielrenaud commented on #26817
Thanks for your contribution. We started working on this internally.

[2020-03-12 14:55] devchris79 commented on #27265
May be worth checking #26675

[2020-03-12 14:59] devzer01 opened #27267 "intl extension"
Let me first state that I am on Developer preview (Beta) version of Catelina `10.15.4 Beta`

```the git branch 2.3```

running composer install on MacOS Catelina `10.15.4 Beta ` with php 7.3.11 builtin (not homebrew)
```composer install ```

Suggests that I should install/enable `intl` extension.

from what I see here http://pecl.php.net/intl that intl extension has been deprecated for a while.

h

[2020-03-12 15:03] devzer01 commented on #27267
This is a developer question I will try joining the slack group. thanks

[2020-03-12 15:43] drew7721 commented on #6401
I believe this plugin is should not have been added to configurable products.

On stores with over 350k products this is what happens :
1. It increases the size of the tag header from 815b to 18k (showing 48 products per page)
2. Varnish RAM usage is increased because of the size of the tags.
3. Header buffer sizes need to be increased for nginx buffers

I really don't see the point of having all

[2020-03-12 15:53] danemacmillan commented on #6401
I always see the same faces in Magento's tickets related to performance and huge catalogs. ✋

[2020-03-12 16:05] TonyRutherford1 commented on #24233
This is still an issue and should have not been closed! @sdzhepa

[2020-03-12 16:05] JacobDrummond opened #27268 ""Estimate Delivery and Tax" doesn't include tax in shipping radio input labels but does in total just below"
### Preconditions
1. Ubuntu 16.04.3 LTS
1. nginx/1.10.3 (Ubuntu)
1. MySQL 5.6.44
1. PHP 7.1.30
1. Magento 2.3.4

### Steps to reproduce
1. Input shipping price excluding tax of $5
1. Input Tax rate of 20%
1. Set `Stores > Configuration > Sales > Tax > Tax Classes > Tax Class for Shipping` to "Taxable Goods"
1. Set `Stores > Configuration > Sales > Tax > Calculation Settings > Shipping Prices` to "

[2020-03-12 16:08] krishprakash commented on #27267
Hi @devzer01
The GitHub issue tracker is intended for Magento core technical issues only.
Please raise question at community forum or magento stack exchange about general discussion about this
Thanks!!

[2020-03-12 16:08] #27267 closed, assigned to krishprakash

[2020-03-12 16:27] prabhuram93 commented on #26738
Hi @AndrewBarnhart! Our team has started working on this in the scope of MC-32120.

[2020-03-12 16:43] ganedda-softfobia commented on #26937
we have the same problem, although it's possible for some users to place orders and not for some others and that's something we need to understand.
We identified in this file
vendor/magento/module-braintree/view/frontend/web/js/view/payment/3d-secure.js
the problem, at line 89, where the quote has an object shippingAddress without any attribute. So at line 120 enters the if instead of avoiding it,

[2020-03-12 17:15] navarr commented on #17705
We found this issue when researching a related problem where customer_address_id was not set and was expected.

In our case, it was on the shipping address.  Our customer keeps all addresses and customer record masters in an ERP.  When processing new orders, the ERP looks for the customer_address_id to match on.

[2020-03-12 20:08] VladimirZaets opened #27271 "TEST ISSUE, DO NOT TOUCH PLEASE"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-12 20:09] rparsi-boxycharm commented on #26573
Check your composer.lock file; ours had all the Dotdigitalgroup modules, removing them and running `composer install` should permanently remove these crapware modules.

[2020-03-12 21:39] gabrielxavila commented on #24948
Is there a solution to this? I’m on Magento 2.3.3 and my length, width, height aren’t populating when I creat a product

[2020-03-12 22:35] gabrielxavila opened #27272 "Dimension fields missing from new product"
Hello I’m having issues when I create new products, and duplicate products, they do not show dimensions fields (length, width, or height). Image attached below for reference.

Preconditions:
When creating new or duplicate products in Magento 2.3.3 dimensional fields, typically found under weight field, is missing.

Steps to reproduce:
In Magento 2.3.3 admin page under catalog/products/add new prod

[2020-03-13 00:10] lmstephenson commented on #27244
I have confirmed this to be true as well.

1. Fresh install of Magento 2.3.4 from CLI
2. Disable Temando from CLI (php bin/magento module:disable Temando_Shipping)
3. Clear caches, upgrade, compile, deploy... yada yada yada
4. Using `System > Data Transfer > Import (Entity type: Products, Import Behavior: Add/Update, Validation Strategy: Stop on Error) will not validate, therefore cannot complete

[2020-03-13 02:48] itfork commented on #25427
I was too getting this error "Invalid Form Key. Please refresh the page." on my local setup magento2 (2.3.4) when I setted local url as **http://magento2** (during magento installation) but when I changed url to **http://magento2.local** it solved my problem (my OS - Debian 9):
1) Edit `/etc/hosts` and add in it the `magento2.local 127.0.0.1`
2) Edit table **core_config_data** and change row where

[2020-03-13 04:10] shikhamis11 commented on #27126
hello @BorisovskiP
I am able to reproduce this issue but I find that there is no toolbar available on the CMS pages with the widget so not able to decide what will be default sorting

[2020-03-13 04:17] shikhamis11 commented on #27272
hello @gabrielxavila
for showing any attribute on product creation It must be assigned in selected product's attribute set .. Please check once also reproduce the issue on magento instance and shre screenshots of magento instance

[2020-03-13 04:19] shikhamis11 commented on #27251
@magento give me 2.4-develop instance

[2020-03-13 04:19] magento-engcom-team commented on #27251
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-13 04:19] magento-engcom-team commented on #27251
Hi @shikhamis11, here is your [Magento instance](https://i-27251-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27251-2-4-develop.instances.magento-community.engineering/admin_6e41](https://i-27251-2-4-develop.instances.magento-community.engineering/admin_6e41)
Login: `77db2c3c` Password: `adbecd8bf684`
Instance will be terminated in up to 3 hours.

[2020-03-13 05:19] irajneeshgupta commented on #22312
@magento-engcom-team give me 2.4-develop instance

[2020-03-13 05:19] magento-engcom-team commented on #22312
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-13 05:20] magento-engcom-team commented on #22312
Hi @irajneeshgupta, here is your [Magento instance](https://i-22312-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-22312-2-4-develop.instances.magento-community.engineering/admin_a251](https://i-22312-2-4-develop.instances.magento-community.engineering/admin_a251)
Login: `bf9aeace` Password: `e1ffe43bff75`
Instance will be terminated in up to 3 hours.

[2020-03-13 06:22] gsbhati2008 commented on #21879
@johncarlson21 thanks for corrections, its working.
Thanks a lot man!!!

[2020-03-13 07:49] BorisovskiP commented on #27126
hello @shikhamis11,
Do you have any ideas how you would proceed?

[2020-03-13 07:52] shikhamis11 commented on #27126
I will discuss this issue with @sdzhepa and update the progress here

[2020-03-13 08:47] engcom-Charlie commented on #22155
Hello @ekalinak

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch.

[2020-03-13 08:47] #22155 closed, assigned to nobody

[2020-03-13 09:08] shikhamis11 commented on #27251
@magento give me 2.4-develop instance

[2020-03-13 09:08] magento-engcom-team commented on #27251
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-13 09:08] magento-engcom-team commented on #27251
Hi @shikhamis11, here is your [Magento instance](https://i-27251-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27251-2-4-develop.instances.magento-community.engineering/admin_1787](https://i-27251-2-4-develop.instances.magento-community.engineering/admin_1787)
Login: `0bf124e1` Password: `e2034242154c`
Instance will be terminated in up to 3 hours.

[2020-03-13 09:22] ioweb-gr opened #27278 "shop administrators cannot edit translations in production mode"
### Preconditions (*)
1. Magento any version 2.3.4
2. Switch to production mode

### Steps to reproduce (*)
1. Switch magento to production mode
2. Try to activate inline translation.

### Expected result (*)
1. The administrator is allowed to switch inline translation on.

### Actual result (*)
Because the website is in production mode the developer tab is hidden from the administrator. Therefore

[2020-03-13 09:39] claudiograssia opened #27279 "XSS Message Manager"
### Steps to reproduce

1. Open Chrome
2. Open Inspector
3. Go to on tab Application
4. Find a Cookie
5. Insert this text value inside cookie name mage-messages:
%5B%7B%22type%22%3A%22success%22%2C%22text%22%3A%22Registazione+effettuata+con+successo.+A+breve+riceverai+una+e-mail+con+le+credenziali+di+accesso.<script>alert(1)</script>%22%7D%5D
6. Reload Page

![image](https://user-images.githubuser

[2020-03-13 10:16] Vinai commented on #25835
Seems like 2763ce536d05 added the file id validation that is now causing this issue on some systems, where `/private/tmp` is used instead of `/tmp`. Maybe this can be fixed by setting the `sys_temp_dir` PHP ini setting I haven't tried.

[2020-03-13 10:30] Vinai commented on #25835
I can confirm that setting the ini setting `sys_temp_dir` to the actual temp dir for the system fixes the issue.
For me it is
[code]

[2020-03-13 10:31] lbajsarowicz commented on #27279
@piotrekkaminski Is that security report and should be moved?

[2020-03-13 10:42] lbajsarowicz opened #27280 "Missing `customer_address_id` for Shipping Addresses in `sales_order_address`"
### Preconditions (*)
I'm not sure about the pattern when this occurs, yet. Trying to reproduce/investigate.

1. Magento 2.3.2

### Steps to reproduce (*)
_I Don't have clear steps to reproduce_

### Expected result (*)
1. When Customer place an order using the same address for Billing and Shipping, I expect that both will have the same `customer_address_id` entry for that order in `sales_order_ad

[2020-03-13 11:22] rk610 opened #27282 "Fatal error: Uncaught Error: Call to a member function getTypeId() Magento 2.3.0"
**Preconditions (*)**
Magento 2.3.0
Show Error after click ship only one product

![shi](https://user-images.githubusercontent.com/55425682/76616820-e0b27b00-654a-11ea-97d2-d22233291684.png)

**Actual result (*)**

[2020-03-13 11:45] sudheernayak31 commented on #27139
@Jasper-ketelaar I am unable to re-produce the same, just to rewind

* I added items to cart from frontend
* Deleted items one by one using API V1/carts/{quote_id}/items/{item_id}
* Checked back using V1/carts/{quote_id}

This leads to     "items_count": 0, "items_qty": 0 so Please share exact steps to re-produce.

[2020-03-13 12:13] ioweb-gr commented on #27278
@magento give me 2.4-develop instance

[2020-03-13 12:13] magento-engcom-team commented on #27278
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-13 12:13] magento-engcom-team commented on #27278
Hi @ioweb-gr, here is your [Magento instance](https://i-27278-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27278-2-4-develop.instances.magento-community.engineering/admin_b41b](https://i-27278-2-4-develop.instances.magento-community.engineering/admin_b41b)
Login: `3c41d5de` Password: `dc00906f2305`
Instance will be terminated in up to 3 hours.

[2020-03-13 12:21] ioweb-gr commented on #27278
Cannot replicate on demo instance because it's not in production mode but default mode probably.

[2020-03-13 12:37] lbajsarowicz opened #27283 "CLI command missing `config:delete`"
### Description (*)
The same way that we have `config:set` for setting configuration value globally or for a specific value, we should have option to remove the configuration value with `config:delete` with the same set of flags that `config:set` has.

### Expected behaviour (*)
The result of such action would be `Use system value` where applicable or rolling back the default value provided in `co

[2020-03-13 12:43] dmytro-ch commented on #27283
@lbajsarowicz thank you for the report!
I'm working on this issue.

[2020-03-13 13:17] malikahmed1996 commented on #27241
It already being done in Magento 2.4.x Magento/Developer/Console/Command/TablesWhitelistGenerateCommand.php Line-86

[2020-03-13 13:17] #27241 closed, assigned to nobody

[2020-03-13 15:38] skdude commented on #9497
After searching I found the problem that was happening with our store.
Check in the table 'sales_sequence_meta'.
There is a listing of table names that magento is using. In our case the tables for store_id 2 were missing. I added these as following:
entity_type: order
store_id: 2
sequence_table: sequence_order_2 -> also make sure the table exist. I copied these from the store_id 1

Do the same for

[2020-03-13 19:50] DominicWatts commented on #27244
More specifically at seeing exception when editing products.

Temando_Shipping module extension might have added an EAV attribute already with a specific source model that no longer exists. This could generate an exception Class Temando\Shipping\Model\Source\PackagingType does not exist. To fix this, run the following SQL query in your database:

DELETE FROM `eav_attribute` WHERE `source_model` LI

[2020-03-13 22:13] codedge opened #27285 "Custom category layout update not affecting products"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a custom layout update

I created a file `catalog_category_view_selectable_276_noindexnofollow.xml` in `app/design/frontend/<VENDOR>/<THEME>/Magento_Catalog/layout`. That file should set noindex, nofollow for a certain category.

[code]
So we imagine we have a category with ID `276`, named _Shirts_.

2. In Admin got to

[2020-03-13 22:14] codedge commented on #27285
I don't know how I should reproduce this in a demo instance as I cannot create a custom XML layout file there.

[2020-03-13 22:27] wavegirl23 commented on #5486
Hi! Can you please share how you solved the issue?

[2020-03-13 22:27] lbajsarowicz opened #27286 "MFTF: Missing Test implementation"
### Preconditions (*)
All Magento Functional Testing Framework tests that are in repository `magento/magento2` should be implemented and working.

### Steps to reproduce (*)
N/A

### Expected result (*)
N/A

### Actual result (*)
Missing implementations for tests

https://github.com/magento/magento2/blob/cf29d0de077caae296bfc6151aecd4a9fd082d5a/app/code/Magento/AdminAnalytics/Test/Mftf/Test/Tracki

[2020-03-14 04:12] gabrielxavila commented on #27272
Hello, and thank you for your input. Below is a screenshot of the attributes assignment page confirming that they are assigned. Thank you in advance for your help
![B534B8EF-C517-411C-B5AF-C450445E571D](https://user-images.githubusercontent.com/62120124/76674664-2e40df00-656f-11ea-9c5e-22d0c48cd4fb.png)

[2020-03-14 16:12] DaveSkirrow opened #27290 "Date filter in Sales > Orders does nothing"
### Preconditions (*)

1. 2.3.4

### Steps to reproduce (*)

1. In Sales > Orders, click filter. Then select a to and from date/
2. Click apply

### Expected result (*)

1. The orders displayed should only be between the dates selected

### Actual result (*)

1. Orders aren't filtered at all
![2020-03-14_1610](https://user-images.githubusercontent.com/61794963/76685817-909cec80-660e-11ea-855c-1fb3

[2020-03-14 16:12] DaveSkirrow commented on #27290
@magento give me 2.4-develop instance

[2020-03-14 16:12] magento-engcom-team commented on #27290
Hi @DaveSkirrow. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-14 16:13] magento-engcom-team commented on #27290
Hi @DaveSkirrow, here is your [Magento instance](https://i-27290-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27290-2-4-develop.instances.magento-community.engineering/admin_ae97](https://i-27290-2-4-develop.instances.magento-community.engineering/admin_ae97)
Login: `ba46b0a0` Password: `1d21efd9c04c`
Instance will be terminated in up to 3 hours.

[2020-03-14 16:21] DaveSkirrow commented on #27290
@magento give me 2.3.4 instance

[2020-03-14 16:21] magento-engcom-team commented on #27290
Hi @DaveSkirrow. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-14 16:21] magento-engcom-team commented on #27290
Hi @DaveSkirrow, here is your [Magento instance](https://i-27290-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27290-2-3-4.instances.magento-community.engineering/admin_2129](https://i-27290-2-3-4.instances.magento-community.engineering/admin_2129)
Login: `bf30a1c8` Password: `da0c9e9221f8`
Instance will be terminated in up to 3 hours.

[2020-03-14 16:30] DaveSkirrow commented on #27290
can't replicate on magento community server so I'm guessing it's a problem with my server

[2020-03-14 16:30] #27290 closed, assigned to nobody

[2020-03-14 19:59] BrokenMop commented on #27217
Yes I can confirm the issue on vanilla Magento instance

[2020-03-14 23:17] rudolf81 commented on #3423
**Solution:**

This issue does _indeed_ appeared to be fixed (community-edition=2.3.4), but the exact same "bug" still manifests, as described by the opening post - _if_ you are not familiar with Magento dev workflow and translations.
This is the translation workflow you need to follow to fix it (or at least worked for me - I'm still learning):

E.g.:
If you have the correct translation string pre

[2020-03-15 02:13] jagoman85 commented on #8227
This is the easiest and best solution: https://www.ubertheme.com/magento-tutorials/fixing-url-rewrite-after-migrating-magento-2/

[2020-03-15 06:53] #27210 closed, assigned to eduard13

[2020-03-15 07:35] gsbhati2008 commented on #21879
@johncarlson21 prices are not calculating properly for multi curreny. Can you please help me in this.
I am attaching images of issue.
![image](https://user-images.githubusercontent.com/61616076/76697372-77527980-66bc-11ea-9166-67197b1857cf.png)
here you see price 421.80
After selecting
![image](https://user-images.githubusercontent.com/61616076/76697395-ac5ecc00-66bc-11ea-9e11-1e65a1978935.png)
Pr

[2020-03-15 08:37] vincentteyssier opened #27293 "Image role not set up when uploading image to a product vbia REST API"
### Preconditions (*)
1. Magento 2.3.4
2. PHP 7.3

### Steps to reproduce (*)
1. Use the REST API to upload a image to a product as follow:
POST /V1/products/123456/media

[code]

Also tried with Disabled = false

### Expected result (*)
Image is assigned the "image" type in the backend and frontend

### Actual result (*)
No type is assigned to the image in frontend, however the get method returns

[2020-03-15 08:40] vincentteyssier commented on #27293
@magento give me 2.4-develop instance

[2020-03-15 08:40] magento-engcom-team commented on #27293
Hi @vincentteyssier. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-15 08:40] magento-engcom-team commented on #27293
Hi @vincentteyssier, here is your [Magento instance](https://i-27293-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27293-2-4-develop.instances.magento-community.engineering/admin_c524](https://i-27293-2-4-develop.instances.magento-community.engineering/admin_c524)
Login: `1b4ef16b` Password: `2e5ccd9bced5`
Instance will be terminated in up to 3 hours.

[2020-03-15 08:53] vincentteyssier commented on #27293
Not reproductible in 2.4-develop

[2020-03-15 08:53] #27293 closed, assigned to nobody

[2020-03-15 08:58] parekhreena commented on #18192
@magento-engcom-team  This issue returned back in Magento CE 2.3.4

[2020-03-15 11:39] gioamato commented on #20684
I can confirm that raising memory_limits in .htaccess and .user.ini to 2G is still required in v2.3.4.

I don't think that the sample files should edited. The Web Setup Wizard should check the php environment configuration during readiness check.

[2020-03-15 15:14] shikhamis11 commented on #27282
@magento give me 2.4-develop instance

[2020-03-15 15:14] magento-engcom-team commented on #27282
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-15 15:14] magento-engcom-team commented on #27282
Hi @shikhamis11, here is your [Magento instance](https://i-27282-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27282-2-4-develop.instances.magento-community.engineering/admin_4d2f](https://i-27282-2-4-develop.instances.magento-community.engineering/admin_4d2f)
Login: `db8f785c` Password: `30c930c09ba5`
Instance will be terminated in up to 3 hours.

[2020-03-15 15:40] damienwebdev commented on #27244
I'm seeing this on v2.3.4 just trying to install a fresh Magento instance. The module does not exist in my `config.php`, but it still runs the migrations:

[code]

Finally crashing with:

[code]

[2020-03-15 20:35] magento-engcom-team commented on #26499
Hi @DanieliMi. Thank you for your report.
The issue has been fixed in magento/magento2#26506 by @DanieliMi in 2.4-develop branch
Related commit(s):
 - [e9300b790b9a21c3d217e56665ac1553d949adf6](https://github.com/magento/magento2/commit/e9300b790b9a21c3d217e56665ac1553d949adf6)
 - [b7dc0bec2e756534df23e216391232d45321c2fa](https://github.com/magento/magento2/commit/b7dc0bec2e756534df23e216391232d4

[2020-03-15 20:35] #26499 closed, assigned to DanieliMi

[2020-03-15 20:35] magento-engcom-team commented on #25219
Hi @chris-pook. Thank you for your report.
The issue has been fixed in magento/magento2#26959 by @alexander-aleman in 2.4-develop branch
Related commit(s):
 - [6a8a103ce27d872e5687402a50ba6e594ae82194](https://github.com/magento/magento2/commit/6a8a103ce27d872e5687402a50ba6e594ae82194)
 - [4d3a05d101723432d8610160552b563c25cc3703](https://github.com/magento/magento2/commit/4d3a05d101723432d8610160

[2020-03-15 20:35] #25219 closed, assigned to alexander-aleman

[2020-03-15 20:35] magento-engcom-team commented on #25669
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#25722 by @andrewbess in 2.4-develop branch
Related commit(s):
 - [5c121e20f909d666079654c6aa7ff325cc094278](https://github.com/magento/magento2/commit/5c121e20f909d666079654c6aa7ff325cc094278)
 - [3905038c09ee3c5f7a9dac63f5f28070c1197434](https://github.com/magento/magento2/commit/3905038c09ee3c5f7a9dac63f5f2807

[2020-03-15 20:35] #25669 closed, assigned to andrewbess

[2020-03-15 22:49] damienwebdev commented on #22094
Can also confirm that this is still an issue on v2.3.4. Can someone from the core team respond?

I've got a fresh instance with Elasticsearch configured and I'm running:

[code]

[2020-03-15 23:37] saderra commented on #11527
This issue has reemerged in 2.3.4

[2020-03-16 01:21] lbajsarowicz opened #27299 "Integration Tests: Consecutive `dispatch($uri)` on Test AbstractController fails"
### Preconditions (*)
1. Integration Tests in Magento `2.4-develop`

### Steps to reproduce (*)
1. Create a test that uses `\Magento\TestFramework\TestCase\AbstractController::dispatch` for dispatching controller.
2. Add the second request to any other URI.

### Expected result (*)
1. Both requests are dispatched

### Actual result (*)
1. First request is dispatched
2. Second request throws `Inval

[2020-03-16 02:35] nntoan commented on #27063
@magento give me 2.3-develop instance

[2020-03-16 02:35] magento-engcom-team commented on #27063
Hi @nntoan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-03-16 05:14] rk610 commented on #27282
Hi

[2020-03-16 05:14] magento-engcom-team commented on #27282
Hi @rk610. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-16 05:14] magento-engcom-team commented on #27282
Hi @rk610, here is your [Magento instance](https://i-27282-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27282-2-4-develop.instances.magento-community.engineering/admin_44c4](https://i-27282-2-4-develop.instances.magento-community.engineering/admin_44c4)
Login: `45c3174f` Password: `70996d0119c0`
Instance will be terminated in up to 3 hours.

[2020-03-16 05:15] rk610 commented on #27282
@magento give me 2.4-develop instance

[2020-03-16 05:15] #27282 closed, assigned to shikhamis11

[2020-03-16 05:15] magento-engcom-team commented on #27282
Hi @rk610. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-16 05:15] magento-engcom-team commented on #27282
Hi @rk610, here is your [Magento instance](https://i-27282-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27282-2-4-develop.instances.magento-community.engineering/admin_f287](https://i-27282-2-4-develop.instances.magento-community.engineering/admin_f287)
Login: `e1390058` Password: `9fce6e7631f0`
Instance will be terminated in up to 3 hours.

[2020-03-16 05:16] rk610 commented on #27282
error https://prnt.sc/rgykp3

[2020-03-16 05:28] benjamw commented on #17918
I'm getting the same error when trying to install a fresh Magento 2.3.4:

`
Module 'Magento_SalesSequence':
Running schema recurring...
[ERROR] PDOException: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`magento`.`sales_sequence_profile`, CONSTRAINT `SALES_SEQUENCE_PROFILE_META_ID_SALES_SEQUENCE_META_META_ID` FOREIGN KEY (`

[2020-03-16 08:35] lionelbui opened #27302 "marketplace-credentials looping for all sites"
Hello Support Team!
I have checked all magento 2 sites and same error like images as bellow
![image](https://user-images.githubusercontent.com/57342573/76748408-4736d380-67ad-11ea-8151-b27179bb2a92.png)

Can you see and give me your feedback

Thanks
BG,Lionel Bui

[2020-03-16 08:52] vovsky commented on #27235
could not reproduce on 2.3.4+Varnish

[2020-03-16 09:16] jaivikpatel commented on #27235
First clear cache and directly go to the checkout page.
As display in my step.
 https://www.sample.domain/checkout/

I can reproduce it.

[2020-03-16 09:55] engcom-Bravo commented on #27161
Hello @borriglione

Thank you for your report.

We are able to reproduce this behaviour on Magento 2.4-develop

[2020-03-16 10:26] magento-engcom-team commented on #26840
Hi @sjb9774, @viktym.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [abdb45844fd3862a8a2f852fb34d35cc0e958829](https://github.com/magento/magento2/commit/abdb45844fd3862a8a2f852fb34d35cc0e958829)
 - [8ed20d151301484271b03755006e203e80ef76eb](https://github.com/magento/m

[2020-03-16 10:26] #26840 closed, assigned to viktym

[2020-03-16 10:29] magento-engcom-team commented on #26698
Hi @kerlama.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [8a73e53ee369b24b95e3c94bc379ce48856ee8ca](https://github.com/magento/magento2/commit/8a73e53ee369b24b95e3c94bc379ce48856ee8ca)
 - [9948da7e013245ec3af6f6e7633ffa08a12b4ad9](https://github.com/magento/magento2/c

[2020-03-16 10:29] #26698 closed, assigned to nobody

[2020-03-16 10:30] magento-engcom-team commented on #23194
Hi @itmsenior.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [6724a91cf01a6b31a56ac0967206d6a365c840cd](https://github.com/magento/magento2/commit/6724a91cf01a6b31a56ac0967206d6a365c840cd)

The fix will be available with the upcoming `2.4.0` release.

[2020-03-16 10:30] #23194 closed, assigned to nobody

[2020-03-16 10:32] ProkopovVitaliy commented on #27139
@Jasper-ketelaar i was trying to reproduce this issue on 2.3.3 and 2.4 version but I did not succeed.
_For work with api i was using Postman._

**My reproduce flow:**

1. Created new quote: `POST /V1/carts/mine`
2. Added couple of items to quote (with configurable products) `POST /V1/carts/{quoteId}/items`
   2.1 My request body example:
[code]
3. Checked state of quote and made sure everything wi

[2020-03-16 10:57] pmarki commented on #27244
Temando installs couple of product attributes. So once the setup scrips were fired those have to be deleted before temando can be disabled/removed
 'ts_dimensions_length', 'ts_dimensions_width', 'ts_dimensions_height', 'ts_packaging_type',  'ts_packaging_id' 'ts_hs_code'.

[2020-03-16 11:15] navneetDots commented on #4289
Please use like this:
protected function isOptionReducesResults($optionCount, $totalSize)
{
return $optionCount <= $totalSize;
}

[2020-03-16 11:15] engcom-Bravo commented on #27190
Hello @dleno

Thank you for your report.

Unfortunately, we are not able to reproduce the issue on a clean Magento 2.4-develop instance.

Can you please provide more information so that we could reproduce the issue and start working on it?

Please, attach screenshots from your category settings, step 3, like this
![ar](https://user-images.githubusercontent.com/51680745/76750827-8eaa6900-6787-11ea-

[2020-03-16 11:52] gwharton commented on #26882
Note, this also affects invoice, shipment and credit memo emails.

[2020-03-16 12:12] MartinAarts commented on #26809
This seems to have fixed our issues on Magento 2.3.4. When using this, be sure to check in your magento admin for additional crons that should be run for extensions. We also needed to enable some Amasty extension crons.

[2020-03-16 12:49] Vishrootways commented on #7038
To solve it, please make sure the cron job is set up on your server and also run php bin/magento cron:run from SSH to solve this issue. I solved it by running php bin/magento cron:run from SSH.

[2020-03-16 12:49] vovsky commented on #27235
@jaivikpatel Here is my steps https://monosnap.com/file/I9KkyyoSwElUZiym0QmqNfQey67TfB
Am I missing something?

[2020-03-16 12:53] vincentteyssier commented on #10737
@harperruss how do you attach the Swatch image to the option?
Do you need to pass the image path in value or the base64 image encoding?
I only manage to attach a color via the HEX value.

[2020-03-16 12:56] harperruss commented on #10737
@vincentteyssier No idea I'm afraid, it's not something I have needed to do

[2020-03-16 12:58] vincentteyssier commented on #10737
@harperruss if only they would have proper doc...

[2020-03-16 13:11] b2bdokter commented on #27140
Same here, magento 2 keep including 3rth party software , no doubt they will pay you good. This will F up the webshop of your customers  but who cares ? Great job again this magento 2.3.4 update ! Issue cannot be reproduced haha , well done !

[2020-03-16 13:15] TheLaughingThird opened #27303 "Warning: Invalid argument supplied for foreach() in /home/viscodiesel/public_html/vendor/magento/module-catalog/Model/ProductLink/CollectionProvider.php on line 185"
### Preconditions (*)
Magento 2.3.3   (php 7.3 apache 2.4)

1. start with Magento 2.3.3   (php 7.3 apache 2.4)
2. Upgrade to 2.3.4 (php 7.3 apache 2.4)
3. Upgrading using composer CLI

### Steps to reproduce (*)

1. upgrade 2.3.3 to 2.3.4

List of disabled modules:
Magento_GoogleShoppingAds
Magento_Inventory
Magento_InventoryAdminUi
Magento_InventoryAdvancedCheckout
Magento_InventoryApi
Magento_In

[2020-03-16 13:16] b2bdokter commented on #27303
@magento give me 2.3.3-develop instance

[2020-03-16 13:16] magento-engcom-team commented on #27303
Hi @b2bdokter. Thank you for your request. I'm working on Magento 2.3.3-develop instance for you

[2020-03-16 13:26] radua commented on #24948
Hi @gabrielxavila Turns out so long as the attribute_code is ts_dimensions_length, it won't show. If you change the attribute_code to something else like dimensions_length or just length, the fields show up. You will have to do this change in the database. The same applies to width and height.

Hope this helps!

[2020-03-16 13:37] b2bdokter commented on #27303
@magento-engcom-team

My issue is similiar to , but not exactly the same since my issue issue persistant regardless if Temando_shipping is active or disabled.
 https://github.com/magento/magento2/issues/25430

[2020-03-16 13:57] jaivikpatel commented on #27235
Clear browser cookie cache everything.

Yes, you missed it.
->you enter webisite.com/checkout
->it should be website.com/checkout/
->you missed last slash (/)
Please add that and run in the URL.
The try to add products and go for checkout regularly it will redirect to cart page.

[2020-03-16 14:31] prabhuram93 commented on #26884
Hi @Mavlyan! Our team has started working on this in the scope of MC-31586.

[2020-03-16 15:18] paul-gene commented on #11347
This issue is still apparent in 2.3.3-p1. the latest PR, https://github.com/magento/magento2/pull/23106, was closed due to inactivity. Can we get it re-opened and fixed?

[2020-03-16 15:21] sanderjongsma commented on #26956
@rdudhara do you have an update about the progress, i ran into this problem also, mainly in the special_from_date and special_to_date

[2020-03-16 15:34] gwharton commented on #11347
I receive payment failed emails on 2.3.4

[2020-03-16 15:35] paul-gene commented on #11347
odd, because the fix is not in the 2.4-develop codebase https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Checkout/Model/PaymentInformationManagement.php

[2020-03-16 15:36] paul-gene commented on #11347
Odd, the bug fix is not in 2.3.4, eg. https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Checkout/Model/PaymentInformationManagement.php

[2020-03-16 15:41] gwharton commented on #11347
I don't know why that is. I just reran a failed cc payment test and got the failure email.

[2020-03-16 23:40] gabrielxavila commented on #24948
Hello @radua can you elaborate on the best to accomplish this, please. I’m relatively new to Magento and can use any help. My understanding is the only way to access or change the tables is through sql?

[2020-03-16 23:40] Aquarvin opened #27305 "Wrong total calculation for multiple Bundle products with child with special price"
### Preconditions

1. Magento 2.3.3
2. PHP 7.2.22
3. Bundle product with children with special data

### Steps to reproduce

1. Create 3 simple products and set Special Price for them. Price - $10, special - $2
2. Create a Bundle product and add mentioned above 3 simple products as options
3. Go to the frontend to the Bundle Product page.
4. Check the price, should be $6
![Test Bundle product](htt

[2020-03-17 00:53] diazwatson commented on #10737
Guys I am closing this issue as it seems to be fixed.
Please feel free to re open if you thing is needed.

[2020-03-17 00:53] #10737 closed, assigned to engcom-Delta

[2020-03-17 01:19] Ian410 commented on #26815
I had this issue and tracked it down to` \Magento\Framework\Amqp\Config::createConnection()`.
In a previous version the SSL check was just `(bool) $this->getValue(self::SSL)`. It was changed to be a strict comparison against the string "true" (not the boolean).

Current: `$sslEnabled = trim($this->getValue(self::SSL)) === 'true';`

I was able to fix this with no code changes by updating env.php an

[2020-03-17 04:34] adarshkhatri commented on #5980
In My case, product data were saved as `store 1` and `store 0` in the database.
Basically data were saved in `store 0` but store front was getting data from `store 1`.

Upon deleting `store 1` related items helped. But I wonder, why some products have saved with `store 1` data? I have got a single store only.

For ex:
`catalog_product_entity_text` table has 2 rows for a product for a specific attr

[2020-03-17 05:17] slavvka commented on #4112
Hi @bh-ref. Thank you for your report.
The issue has been fixed in magento/magento2#26784 by @hostep in 2.4-develop branch
Related commit(s):
 - [cb685d15b2b590bdb4d99a3d4ebe563037d0aa31](https://github.com/magento/magento2/commit/cb685d15b2b590bdb4d99a3d4ebe563037d0aa31)
 - [acb8642c44d1ecb60ad023c81f6541fa9ebae47d](https://github.com/magento/magento2/commit/acb8642c44d1ecb60ad023c81f6541fa9ebae4

[2020-03-17 05:17] slavvka commented on #11615
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#26784 by @hostep in 2.4-develop branch
Related commit(s):
 - [cb685d15b2b590bdb4d99a3d4ebe563037d0aa31](https://github.com/magento/magento2/commit/cb685d15b2b590bdb4d99a3d4ebe563037d0aa31)
 - [acb8642c44d1ecb60ad023c81f6541fa9ebae47d](https://github.com/magento/magento2/commit/acb8642c44d1ecb60ad023c81f6541fa9ebae4

[2020-03-17 05:17] #11615 closed, assigned to hostep

[2020-03-17 05:17] slavvka commented on #11616
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#26784 by @hostep in 2.4-develop branch
Related commit(s):
 - [cb685d15b2b590bdb4d99a3d4ebe563037d0aa31](https://github.com/magento/magento2/commit/cb685d15b2b590bdb4d99a3d4ebe563037d0aa31)
 - [acb8642c44d1ecb60ad023c81f6541fa9ebae47d](https://github.com/magento/magento2/commit/acb8642c44d1ecb60ad023c81f6541fa9ebae4

[2020-03-17 05:17] #11616 closed, assigned to hostep

[2020-03-17 05:17] slavvka commented on #25124
Hi @juharintanen. Thank you for your report.
The issue has been fixed in magento/magento2#26784 by @hostep in 2.4-develop branch
Related commit(s):
 - [cb685d15b2b590bdb4d99a3d4ebe563037d0aa31](https://github.com/magento/magento2/commit/cb685d15b2b590bdb4d99a3d4ebe563037d0aa31)
 - [acb8642c44d1ecb60ad023c81f6541fa9ebae47d](https://github.com/magento/magento2/commit/acb8642c44d1ecb60ad023c81f6541fa

[2020-03-17 05:17] slavvka commented on #26393
Hi @juhanihaapala. Thank you for your report.
The issue has been fixed in magento/magento2#26784 by @hostep in 2.4-develop branch
Related commit(s):
 - [cb685d15b2b590bdb4d99a3d4ebe563037d0aa31](https://github.com/magento/magento2/commit/cb685d15b2b590bdb4d99a3d4ebe563037d0aa31)
 - [acb8642c44d1ecb60ad023c81f6541fa9ebae47d](https://github.com/magento/magento2/commit/acb8642c44d1ecb60ad023c81f6541f

[2020-03-17 05:17] slavvka commented on #20472
Hi @XxXgeoXxX. Thank you for your report.
The issue has been fixed in magento/magento2#27261 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [d81d1d451bb7f10492d249e2c0c70e9d8d1df905](https://github.com/magento/magento2/commit/d81d1d451bb7f10492d249e2c0c70e9d8d1df905)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-17 05:17] #20472 closed, assigned to sergiy-v

[2020-03-17 05:17] slavvka commented on #20906
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#27261 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [d81d1d451bb7f10492d249e2c0c70e9d8d1df905](https://github.com/magento/magento2/commit/d81d1d451bb7f10492d249e2c0c70e9d8d1df905)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-17 05:17] slavvka commented on #21910
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#27261 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [d81d1d451bb7f10492d249e2c0c70e9d8d1df905](https://github.com/magento/magento2/commit/d81d1d451bb7f10492d249e2c0c70e9d8d1df905)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-17 05:18] #21910 closed, assigned to sergiy-v, kkorushkin

[2020-03-17 05:18] slavvka commented on #26345
Hi @oleksii-lisovyi. Thank you for your report.
The issue has been fixed in magento/magento2#26348 by @cedmudit in 2.4-develop branch
Related commit(s):
 - [16079d95e30cc6be2aa6a35b79f80db9e90ac155](https://github.com/magento/magento2/commit/16079d95e30cc6be2aa6a35b79f80db9e90ac155)
 - [86dc12d370a0b23d9dc04e9e5a7b7b1be78ccaf4](https://github.com/magento/magento2/commit/86dc12d370a0b23d9dc04e9e5a7

[2020-03-17 05:18] #26345 closed, assigned to cedmudit

[2020-03-17 06:38] aweb3r commented on #9837
Same in EE 2.3.4

[2020-03-17 07:22] gsbhati2008 commented on #21879
@johncarlson21 I debug little more and what I found is that.
I have product price 280 Euro and option price 100 Euro.
So total is 380 Euro. Currency rate in admin from Euro to USD is 1.11.
So value must be (280+100)x1.11= $421.80.
However its calculating like ((100 x 1.11)+280 )x 1.11.
So it becomes like (111+280) x 1.11
(390) x 1.11= $434.01.

So in short its first multiplying currency rate with

[2020-03-17 07:33] gsbhati2008 commented on #21879
HI @johncarlson21 , I found the fix.
This line return $this->priceCurrency->convertAndRound($finalOptionPrice);
in Surething/Calculateops/Catalog/Pricing/Price/CalculateCustomOptionCatalogRule.php line 80 can be changed to
return $finalOptionPrice;

Thanks

[2020-03-17 08:50] engcom-Charlie commented on #27168
Hello @Aravindh468 @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-03-17 09:25] wilcovanesch opened #27308 "Unable to retrieve orders by date range searchCriteria through Web API"
### Preconditions

1. 2.3.4

### Steps to reproduce

Provide appropriate values for DOMAIN and TOKEN and execute:

curl -X GET "https://DOMAIN/rest/default/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=created_at&searchCriteria[filter_groups][0][filters][0][value]=2020-03-16 00:00:00&searchCriteria[filter_groups][0][filters][0][condition_type]=from&searchCriteria[filter_groups][1][

[2020-03-17 09:29] wilcovanesch commented on #27308
@magento give me 2.3.4 instance

[2020-03-17 09:29] magento-engcom-team commented on #27308
Hi @wilcovanesch. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-17 09:31] rituraj001 opened #27309 "The wrong price is showing in other currency when creating order by Admin and set custom price in it"
### Preconditions (*)

1. The issue is in Magento 2.3.2 and higher. We have not checked in Magento 2.3.1 and earlier versions.

### Steps to reproduce (*)

1. Go to the Admin Panel.
2. Create a new order.
3. Choose customer and Select Product
4. Enter the Custom Price (Select the CheckBox)
5. Click on Update Items and quantities.
6. Change Currency at Order Currency drop-down at the left-hand side

[2020-03-17 09:42] rituraj001 commented on #27309
@rituraj001 do you confirm that you were able to reproduce the issue on vanilla Magento instance following steps to reproduce?

yes

[2020-03-17 10:09] RakeshJesadiya commented on #10154
https://www.rakeshjesadiya.com/error-10412-paypal-duplicate-invoice-php/
Resolve the error by following step by step instructions given in the link.

[2020-03-17 10:26] tdgroot opened #27310 "Localized date field formatting in admin messing up actual date"
### Preconditions (*)
1. Magento `>= 2.3.3-p1`, `2.4-develop`

### Steps to reproduce (*)

1. Have 2 admin users. One on locale `en_US`, one one `nl_NL`.
2. Log in on `nl_NL` admin user.
3. Create a cart price rule, no coupon code needed, just a simple cart price rule. Make sure you set the **from date** (e.g. 17 march 2020). Save the cart price rule.

### Expected result (*)

1. The saved **from

[2020-03-17 10:34] devchris79 commented on #27310
May be worth checking #26675

[2020-03-17 11:16] drabikowy commented on #24422
@magento give me 2.3.3 instance

[2020-03-17 11:16] magento-engcom-team commented on #24422
Hi @drabikowy. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-03-17 11:42] AltayAkkus commented on #27309
@magento give me 2.3.2 instance

[2020-03-17 11:42] magento-engcom-team commented on #27309
Hi @AltayAkkus. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2020-03-17 12:23] AltayAkkus commented on #27309
@magento give me 2.3.2 instance

[2020-03-17 12:24] magento-engcom-team commented on #27309
Hi @AltayAkkus. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2020-03-17 12:47] vipin12117 commented on #25542
It did not fixed in 2.3.4

[2020-03-17 12:47] niravkrish commented on #27160
Hi @paul-gene,

I have created admin form and try to generate the issue with your code in Magento-2.3.4.
but I can not able to reproduce this issue.
Please see the attachment.

Also one thing I need to know from you is how you are checking the value of the ui component.
as per your screenshot I saw something like waches.
what is waches and how can I check. is it any tool.

Thank you,
Nirav Patel
!

[2020-03-17 12:54] paul-gene commented on #27160
@niravkrish you are checking the console though. This is an issue in the PHP code.

[2020-03-17 13:35] ajijshekh123 commented on #27309
@magento give me 2.4-develop instance

[2020-03-17 13:35] magento-engcom-team commented on #27309
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-17 13:44] johncarlson21 commented on #21879
Great!
I wonder if this is a problem with you using 2.2.x and not 2.3.x
the code was written to fix issues in 2.3.x
I didn't write the code, I just put it into an extension for now :) also I don't have a store setup to do the currency stuff and test at the moment.

[2020-03-17 15:22] sinnis-dev-trey opened #27314 "Custom Module Saving Integer to Database"
### Preconditions (*)

1. Magento 2.3.2
2. CentOS 7
3. Apache
4. PHP 7.2.28

### Steps to reproduce (*)

I have a module that attempts to save some data to the database. [Attached is my module](https://github.com/sinnis-dev-trey/vendor-module), but I'll add the key snippets here.

These are the lines responsible for adding my img_number integer field to the database via my InstallSchema:

[code]
W

[2020-03-17 15:47] sinnis-dev-trey commented on #27314
@m2-backlog yes

[2020-03-17 16:25] prabhuram93 commented on #26742
Hi @michaeldyl520 ! Our internal team has started working on this issue in the scope of MC-31277.

[2020-03-17 16:36] dverkade commented on #27262
@magento give me 2.3.4 instance

[2020-03-17 16:36] magento-engcom-team commented on #27262
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-17 18:32] sdzhepa commented on #27227
Hello @rvitaliy

Sorry but I am closing this issue due to
- to we cannot proceed with such reports/request here
- and based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-03-17 18:57] nbennett25 opened #27316 "Multiple Temando Shipping modules in 2.3.4"
There seem to be multiple Temando_Shipping modules in code in 2.3.4, which causes integrity constraint violations when running bin/magento setup:upgrade, since both modules are adding the same content with data upgrades.

Related:
https://community.magento.com/t5/Magento-2-x-Technical-Issues/Integrity-constraint-violation-on-setup-upgrade-Magento-2-3-3/td-p/209198

composer show:
...
temando/modul

[2020-03-17 20:47] magento-engcom-team commented on #27283
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` agai

[2020-03-17 20:48] magento-engcom-team commented on #27283
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` agai

[2020-03-17 20:51] sdzhepa opened #27317 "[TEST] DO not process. Testing internal tools"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-17 20:51] sprankhub opened #27318 "Default Customer Group Ignored In Backend Customer Create"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Create a new customer group with the name "10 test".
2. In the backend, go to Customers > All Customers.
3. Push "Add New Customer" button.

### Expected result (*)
1. Default customer group configured in `customer/create_account/default_group` is respected. In a default installation, the General customer group should be pre-sel

[2020-03-17 20:53] magento-engcom-team commented on #27317
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32502` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-17 20:54] sprankhub commented on #27318
@magento give me 2.4-develop instance

[2020-03-17 20:54] magento-engcom-team commented on #27318
Hi @sprankhub. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-17 20:55] hostep commented on #27316
It looks like one of both is a composer meta package, because only `temando/module-shipping-m2` exists in the `vendor` directory.

Other observations by looking at the `composer.lock` file:
- `magento/product-community-edition` requires `temando/module-shipping`
- `temando/module-shipping` requires `temando/module-shipping-m2`

Strictly speaking this shouldn't be a problem but it can be a bit conf

[2020-03-17 21:06] boxyashish commented on #26500
If this issue has been fixed can you please let us know as we would like to release a build to prod soon and if you can let us know the fix for the same we can make our own patch out of it

[2020-03-17 21:14] rparsi-boxycharm commented on #26500
@wagento-bhavin @magento-team Please update us on your progress.  If you don't have time to fix this then at least tell us how to fix the issue ourselves.  Thank you.

[2020-03-17 21:35] #27079 closed, assigned to nobody

[2020-03-17 21:38] nbennett25 commented on #27316
Thanks for the clarification on the meta module.

I’m just noticing that when running setup:upgrade with 2.3.4, I’m getting the constraint violation error listed in the link above. Commenting out line 73 in the Temando_Shipping/Setup/UpgradeData.php file ($this->installer->addMappedProductAttributes();) allows the setup:install command to work as expected.

The addMappedProductAttributes() method

[2020-03-17 21:47] sdzhepa commented on #27283
Hello @lbajsarowicz  and @dmytro-ch

This issue looks like a feature request/improvement but not bug that should be fixed.
And according to the rules I am going to transfer it to the [Magento Feature Request](https://github.com/magento/community-features) public repo.

Also, such changes(new functionality) seem should be approved before development and mering.
@naydav could you please have a look

[2020-03-17 21:52] lbajsarowicz commented on #27283
@sdzhepa Sure, do what you have to do :-)

[2020-03-17 21:59] sdzhepa commented on #27192
Hello @Eddcapone

Thank you for feedback and proposal!

Based on the description [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) feel free to raise this topic on the next resources:

[2020-03-17 21:59] #27192 closed, assigned to nobody

[2020-03-18 00:58] lbajsarowicz opened #27320 "MFTF: Functional Tests failing due to missing data in indexes"
### Preconditions (*)
I'm addressing the issue that wasn't solved for more than 3 months already and is blocker for most of the contributions. In most of the cases the results of Functional Tests are ignored, but it wasn't the goal of running them (!)

1. Magento is running multiple instances of tests on a single instance of the Store.
2. There are multiple Test Suites - eg. `SearchEngineElasticse

[2020-03-18 02:52] slavvka commented on #26117
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#27187 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [afb752e629e96b35a1380d8c3909f7366eddfac6](https://github.com/magento/magento2/commit/afb752e629e96b35a1380d8c3909f7366eddfac6)
 - [1f87785fb1c7f70bc9cc1a947ed78dca7a781256](https://github.com/magento/magento2/commit/1f87785fb1c7f70bc9cc1a9

[2020-03-18 02:52] #26117 closed, assigned to engcom-Charlie

[2020-03-18 02:52] slavvka commented on #26825
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#27170 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [960732ab38a0346feb41661c9989c992219f8a4a](https://github.com/magento/magento2/commit/960732ab38a0346feb41661c9989c992219f8a4a)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-18 02:52] #26825 closed, assigned to sergiy-v

[2020-03-18 03:22] lionelbui commented on #27302
Hi @magento-admin  !
could you help me for this one?
Thank u very much

[2020-03-18 04:45] magento-engcom-team commented on #27117
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27118 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [b6b69a6af9347e2f18930a7edc6388513c17b1e6](https://github.com/magento/magento2/commit/b6b69a6af9347e2f18930a7edc6388513c17b1e6)
 - [da8dfc2697639ad170fced8fea2fe40ad2165edc](https://github.com/magento/magento2/commit/da8dfc2697639ad170fced8fea

[2020-03-18 04:45] #27117 closed, assigned to lbajsarowicz

[2020-03-18 06:03] jaivikpatel commented on #27235
@vovsky Have you got the issue with my steps?

[2020-03-18 08:37] dverkade commented on #27262
@magento give me 2.3.4 instance

[2020-03-18 08:37] magento-engcom-team commented on #27262
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-18 08:43] paritsawjani commented on #7795
Hey,
Facing same issue. Any fixes? I want to apply the rule as Buy 1 Item and get 1 Item free.

[2020-03-18 09:05] gondas33 opened #27326 "Maximum Qty Allowed in Shopping Cart can be bypassed"
### Preconditions (*)

Magento 2.3.4

### Steps to reproduce (*)

1. Go to a product -> Advanced Inventory -> set the value of 1 for Maximum Qty Allowed in Shopping Cart
2. Set quantity of 1 on the frontend product page and click add to cart multiple times( the qty will keep incrementing itself)

### Expected result (*)

1. This should force the customer to only be able to buy 1 qty of that produc

[2020-03-18 09:05] an4rei commented on #27326
@magento give me 2.4-develop instance

[2020-03-18 09:05] magento-engcom-team commented on #27326
Hi @an4rei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-18 09:06] koenner01 commented on #22629
I can confirm this behaviour on 2.3.2.
- Create price rule for specific customer group
- Go to catalog page where any of the discounted products should be
- Log in
=> after log-in the prices will appear to be correct
- Add a product to cart
- See that the product was added with base price to cart (not discounted)
- Refresh page to see products not having the price rule applied

[2020-03-18 09:58] onepack opened #27327 "No spaces available between attributes of the critical path CSS links"
### Preconditions (*)

1. PHP 7.2
2. Magento 2.3.4

### Steps to reproduce (*)

1. Enable the CSS critical path
2. Check the source of the page

### Expected result (*)

1. Expected to see the correct critical path URLs
2.

### Actual result (*)

1. I get an error in Firefox sourcecode of the page that there are no spaces available between attributes of the critical path CSS links
2. Example:
[cod

[2020-03-18 10:08] hanhpv commented on #25542
still happens on EE 2.3.3
If customer name contains special characters like this Rafael Corrêa. The email failed to send.

[2020-03-18 10:36] xarls commented on #11023
I have the same problem in  Magento ver. 2.3.4

[2020-03-18 10:37] flamboy commented on #24984
Present on M 2.3.3-p1
https://i.imgur.com/L18H5YR.png

[2020-03-18 10:39] LucScu commented on #6144
reopened

[2020-03-18 10:42] LucScu commented on #6144
@magento-engcom-team after @alujane hint, I reopened the issue

[2020-03-18 11:19] #27262 closed, assigned to dverkade

[2020-03-18 11:20] maheshWebkul721 commented on #27318
@magento give me 2.4-develop instance

[2020-03-18 11:20] magento-engcom-team commented on #27318
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-18 11:21] PurushothamanKrishnamoorthy opened #27329 "Base image not updating properly in image gallery"
### Preconditions (*)

1. Magento 2.3.4
2. Create a configurable product with custom attribute _color_ of type "Visual swatch".

### Steps to reproduce (*)

1. Create a configurable product.
2. Assign base, thumbnail, and swatch to any of the simple product assigned to the configurable product.
3. Alter the base image for the simple product and reindex and flush the cache.

### Expected result (*)

[2020-03-18 11:23] maheshWebkul721 commented on #27327
@magento give me 2.4-develop instance

[2020-03-18 11:23] magento-engcom-team commented on #27327
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-18 11:25] stephan-cream opened #27330 "Configurable product not showing all available options on PDP when a simple product is disabled"
### Preconditions (*)
1. Magento 2.3.* (currently on 2.3.4)
2. PHP 7.2 and 7.3

### Steps to reproduce (*)
1. Make use of non-swatch color and non-swatch size attributes. (Default Magento comes with swatches attributes), basically change their type to Dropdown.
2. Add a configurable product with the following options:
- Color: Red
- Size: S, L and XL
3. You end up with 1 configurable product and 3

[2020-03-18 11:27] dverkade commented on #27330
@magento give me 2.3.4 instance

[2020-03-18 11:27] magento-engcom-team commented on #27330
Hi @dverkade. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-03-18 11:29] maxxeh1 commented on #5715
Still an issue in 2.3.3 and 2.3.4 - please fix. What's the point in InstallData files if we have to create certain values through the admin panel?

[2020-03-18 11:35] wilcovanesch commented on #27308
@magento give me 2.4-develop instance

[2020-03-18 11:35] magento-engcom-team commented on #27308
Hi @wilcovanesch. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-18 12:09] rootleet commented on #5173
Goto

1. app/etc/
2. open env.php in a text editor
3. change 'host' => 'localhost' to 'host' => '127.0.0.1',

That worked for me

[2020-03-18 12:33] rootleet commented on #2316
[intl extension](https://www.php.net/manual/en/intl.installation.php) is required for Magento 2.

i installed intl extension and everything was fine

- run terminal as root
-type apt-get install php7.3-intl
-make sure the intl is base on ur php version, mine is php7.3 so i used that

[2020-03-18 12:52] joinso commented on #22407
Hi, @oroskodias !

Your plugin (https://github.com/oroskodias/m2-fix-cache-topmenu) works perfect for menu items on category, but not for menu items added by other extensions.

For example:
https://marketplace.magento.com/mageplaza-magento-2-blog-extension.html

Regards,
JOINSO

[2020-03-18 12:55] maaarghk commented on #22407
that would be a mageplaza_blog bug, it should also plugin afterGetCacheKeyInfo and add its own thing

[2020-03-18 13:37] mrtuvn commented on #27327
@onepack This problem already fixed in https://github.com/magento/magento2/pull/26764

[2020-03-18 13:53] sdzhepa commented on #27317
@magento give me 2.4-develop instance

[2020-03-18 13:53] magento-engcom-team commented on #27317
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-18 13:57] chandracs353 commented on #15654
Configurable products have redundant prices that cause wrong configurable min_price calculation

To see the count of all configurable products prices records from the database
SELECT count(*) FROM catalog_product_entity_decimal WHERE entity_id in (SELECT entity_id FROM catalog_product_entity c where c.type_id = 'configurable');

To solve the issue:

Delete the price records from the database
DELET

[2020-03-18 14:31] amenk commented on #26682
@NathMorgan are you still working on this? Is there any WIP branch or workaround?

[2020-03-18 14:38] abrarpathan19 opened #27335 "My account Address Book Additional Address Entries table issue"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Login to Luma theme front end -> My account -> Address Book -> Address Entries table
2. see the table head aliment issue in (Tablet, Desktop)

### Expected result (*)

1. https://prnt.sc/rig3rm
2. https://prnt.sc/rig551

### Actual result (*)

1. https://prnt.sc/rig4f6
2. https://prnt.sc/rig4oi

[2020-03-18 14:39] amenk commented on #26682
For our case the following patch seems to work. We just avoid overwriting the extension_attributes. Is is really necessary to overwrite them using extractAddressData() ? I think it is just a sideeffect and extension attributes should not be overwritten in that way

	--- ShippingMethodManagement.orig.php   2020-03-18 15:37:24.262000000 +0100
	+++ ShippingMethodManagement.php        2020-03-18 15:37

[2020-03-18 14:50] atwixfirster opened #27337 "GraphQl. Add a mutation for subscribe feature"
### Description (*)

There is a subscribe field on a standard Magento storefront:

![27337](https://user-images.githubusercontent.com/13585327/76973533-c0aefd00-6938-11ea-946b-ee17fd924ee6.png)

Currently, GraphQl does not have a mutation which allow to subscribe guest/customer into a newsletter subscription.

### Expected behavior (*)

### Benefits

### Additional information

A proposed schema:

[2020-03-18 15:45] AnnaShepa commented on #27171
Hi @surelockrich  sorry for long time answer. Yes, now I see your problem, but cannot reproduce it. Please try to reproduce it yourself on clean magento instance.  Are you using ElasticSearch?

[2020-03-18 16:14] AnnaShepa commented on #27305
@magento give me 2.4-develop instance

[2020-03-18 16:14] magento-engcom-team commented on #27305
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-18 16:17] tdgroot commented on #27310
@magento give me 2.4-develop instance

[2020-03-18 16:18] magento-engcom-team commented on #27310
Hi @tdgroot. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-18 16:46] patrick-yi-82 commented on #4543
we just had this issue. app folder and lib folder is gone after clicking that button on the admin. We need to re-make the site. (we didn't have a running backup on the development server)

[2020-03-18 17:09] tweetyx commented on #5596
In notice.phtml
`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Cookie\Block\Html\Notices $block */
?>
<?php if ($this->helper(\Magento\Cookie\Helper\Cookie::class)->isCookieRestrictionModeEnabled()): ?>
<?php $spanicd = base64_encode($block->getPrivacyPolicyLink()); ?>
    <div role="alertdi

[2020-03-18 17:12] norgeindian opened #27341 "Category Price filter does not work for configurables with out of stock childs, when ShowOutOfStock Option is enabled"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create an configurable product with two child products with a price of 100$ resp. 200$ and add the configurable to a category
![Screenshot from 2020-08-06 19-27-11](https://user-images.githubusercontent.com/51679138/89559365-3b13e700-d81e-11ea-9d2d-5feec399518e.png)

2. Set the cheaper child product in the advanced inventory t

[2020-03-18 19:50] DanielRuf commented on #4543
@patrick-yi-82 you should probably use Git in the future.

Can you provide detailed details so se can reproduce this locally?

[2020-03-18 22:20] thebraziliandeveloper opened #27346 "GraphQL products query returns error for giftcard products when using filter"
### Preconditions (*)

1. Magento Commerce 2.3.4 w/ sample data.

### Steps to reproduce (*)

1. Generate a customer token through GraphQL mutation **generateCustomerToken**
2. Run the **products** query passing filter following the below query:
[code]

### Expected result (*)

1. Expecting a list of products with filters applied.

### Actual result (*)
1. GraphQL response error:

[code]

### Addi

[2020-03-18 23:55] swell-d commented on #26796
@hostep Many thanks! Great job

[2020-03-19 01:51] baranada commented on #13143
I can't reproduce the issue. this issue has been resolved.
![Screenshot from 2020-03-19 08-50-02](https://user-images.githubusercontent.com/61573611/77023584-dcf57d00-69be-11ea-9b0b-d52029036a3c.png)

[2020-03-19 03:13] shikhamis11 commented on #27341
@magento give me 2.4-develop instance

[2020-03-19 03:13] magento-engcom-team commented on #27341
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 04:38] wagento-bhavin commented on #26500
@sdzhepa Could you move this issue into EE related repository

[2020-03-19 04:42] ajijshekh123 commented on #27326
@magento give me 2.4-develop instance

[2020-03-19 04:42] magento-engcom-team commented on #27326
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 04:47] baranada commented on #25038
Maybe I want to ask magento architecture this is a right way to use ListProduct Catalog Block.
Could you share the test code how to initiate to load collection on first step?
Generally, I don't think broken store front pagination does not persist on category page.
if it persists on custom module page, maybe it is because the initiation of the collection is not correct.

I have checked that origina

[2020-03-19 04:55] magento-engcom-team commented on #26963
Hi @Sathishkumar8731. Thank you for your report.
The issue has been fixed in magento/magento2#26987 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [e2c403fa3d9fcaa2341214218e35889b4e83b0b8](https://github.com/magento/magento2/commit/e2c403fa3d9fcaa2341214218e35889b4e83b0b8)
 - [eee02627f468d04d24530ddde87ad30f02cee15e](https://github.com/magento/magento2/commit/eee02627f468d04d24530ddde87a

[2020-03-19 04:55] #26963 closed, assigned to nobody

[2020-03-19 04:55] magento-engcom-team commented on #26473
Hi @kylianleemkuil. Thank you for your report.
The issue has been fixed in magento/magento2#26560 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [54f93e22ae3d9387d5a8c259d6933efbcd5461e8](https://github.com/magento/magento2/commit/54f93e22ae3d9387d5a8c259d6933efbcd5461e8)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-19 04:55] #26473 closed, assigned to sergiy-v

[2020-03-19 04:55] magento-engcom-team commented on #26856
Hi @sergiy-v. Thank you for your report.
The issue has been fixed in magento/magento2#26560 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [54f93e22ae3d9387d5a8c259d6933efbcd5461e8](https://github.com/magento/magento2/commit/54f93e22ae3d9387d5a8c259d6933efbcd5461e8)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-19 04:55] #26856 closed, assigned to sergiy-v

[2020-03-19 04:55] magento-engcom-team commented on #26858
Hi @sergiy-v. Thank you for your report.
The issue has been fixed in magento/magento2#26560 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [54f93e22ae3d9387d5a8c259d6933efbcd5461e8](https://github.com/magento/magento2/commit/54f93e22ae3d9387d5a8c259d6933efbcd5461e8)

The fix will be available with the upcoming 2.4.0 release.

[2020-03-19 04:55] #26858 closed, assigned to sergiy-v

[2020-03-19 04:55] magento-engcom-team commented on #26683
Hi @logaretm. Thank you for your report.
The issue has been fixed in magento/magento2#27015 by @AleksLi in 2.4-develop branch
Related commit(s):
 - [77fee571409509a8f4e6c825a03de4eaf3ce3388](https://github.com/magento/magento2/commit/77fee571409509a8f4e6c825a03de4eaf3ce3388)
 - [0a79989737fd30ac4f39e0a24d75b5328d635f2c](https://github.com/magento/magento2/commit/0a79989737fd30ac4f39e0a24d75b5328d6

[2020-03-19 04:55] #26683 closed, assigned to nrkapoor, AleksLi, cpartica

[2020-03-19 04:55] magento-engcom-team commented on #22251
Hi @trucatchtraps. Thank you for your report.
The issue has been fixed in magento/magento2#24479 by @solwininfotech in 2.4-develop branch
Related commit(s):
 - [2ac0fe3ac5c5accab736a3001c70817eaf785117](https://github.com/magento/magento2/commit/2ac0fe3ac5c5accab736a3001c70817eaf785117)
 - [d78361ee7b1ecfd207a0415f982055beceb9fa5e](https://github.com/magento/magento2/commit/d78361ee7b1ecfd207a0415

[2020-03-19 04:55] #22251 closed, assigned to solwininfotech

[2020-03-19 06:05] aliomattux commented on #7488
Understanding this issue is closed, however i'd like to comment that the fix for this issue may have introduced a different problem.

I have a very similar scenario where I add a configurable product to the cart via code twice. The same product, but with different lengths. I noticed that when adding the second product, it used the options of the first product. I triple checked my code. It seems li

[2020-03-19 06:17] baranada commented on #27098
I confirm that this problem exist when shared account not on. if you turn on customer shared account on Account Sharing Options, it return correct token.
I think I could fix this by iterating all websites login when it occurs.
I don't see any ticket created this problem. I will follow up when this need to be developed.

[2020-03-19 07:11] dev-ajaysaini opened #27350 "Order Invoice create page doesn't show order items properly for bundle product"
While crating invoice for bundle product doesn't show its child items.
### Preconditions (*)

1. Magento version 2.3.4 CE

### Steps to reproduce (*)

1. Create Bundle Product and add 2 items https://prnt.sc/ritlae
2. Place order for Bundle product with both the items https://prnt.sc/ritmme
3. Go to create invoice page for the same order https://prnt.sc/ritn0p

### Expected result (*)

1. Order It

[2020-03-19 07:12] rakeshdonga commented on #27022
@magento give me 2.4-develop instance

[2020-03-19 07:12] magento-engcom-team commented on #27022
Hi @rakeshdonga. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 07:14] stkrelax commented on #17323
the main problem even with your fix @krisdante is that the method
clearSubDomainSessionCookie() will delete your own cookies, because
            if ($this->sessionConfig->getCookieDomain() !== $host) {
will be true and delete ...

[2020-03-19 08:09] vbyno opened #27351 "Cart Price Rules are applied incorrectly for orders that contain Bundle Product Items"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)

1. Create a Cart Price rule which add **$1** discount to whole order
![image](https://user-images.githubusercontent.com/2923624/77044741-a1f84700-69c8-11ea-8b6c-d83f2fba4187.png)
2. Create a bundle product containing at least 2 products
2. Create an order that matches the Price rule and contains that bundle product.
![image](https://

[2020-03-19 08:10] magento-engcom-team commented on #26827
Hi @vincentteyssier. Thank you for your report.
The issue has been fixed in magento/magento2#27191 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [acfc589b812278750e6545edc9f0e7b71a80cea3](https://github.com/magento/magento2/commit/acfc589b812278750e6545edc9f0e7b71a80cea3)
 - [fcf734fc689da3bca3fd8c1c0800204540de1969](https://github.com/magento/magento2/commit/fcf734fc689da3bca3fd8c1c080

[2020-03-19 08:10] #26827 closed, assigned to sergiy-v

[2020-03-19 08:10] magento-engcom-team commented on #27124
Hi @mtbottens. Thank you for your report.
The issue has been fixed in magento/magento2#27125 by @mtbottens in 2.4-develop branch
Related commit(s):
 - [854761db86de5a2bb960fc66c0b9922dd792f423](https://github.com/magento/magento2/commit/854761db86de5a2bb960fc66c0b9922dd792f423)
 - [12ae6e594d260f39f316cf65d4de66516dbdb200](https://github.com/magento/magento2/commit/12ae6e594d260f39f316cf65d4de6651

[2020-03-19 08:10] #27124 closed, assigned to mtbottens

[2020-03-19 08:35] krishprakash commented on #27318
@magento give me 2.4-develop instance

[2020-03-19 08:35] magento-engcom-team commented on #27318
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 08:39] koenner01 commented on #22629
We have found that the "Disable Automatic Group Change Based on VAT ID" on the customer account configuration is the cause of this _problem_

We setting the checkbox to true, for us it resolved the problem. But we are unsure if it's intended behaviour if adding/removing a product to and from the cart that it would validate the customer VAT.

However all of the above is kinda moot as in 2.3.4 we co

[2020-03-19 08:52] Eddcapone commented on #27192
"Make sure, that information you are about to report is a technical issue"

It is obviously a technical issue.

[2020-03-19 09:10] phuocnh commented on #27350
hi @webkul-ajaysaini

please edit product admin and with tab

Bundle Items

please set value Ship Bundle Items to Separately

thanks

[2020-03-19 09:22] webkul-ajaysaini commented on #27350
Ship Bundle Items to Separately is useful only to ship bundle items separately.

[2020-03-19 09:45] codedge commented on #21879
Thanks for keeping track of this @johncarlson21
I can confirm the exact bug on 2.3.4. I am going to try the [extension you provided ](https://github.com/magento/magento2/issues/21879#issuecomment-593425596). Hopefully this is going to be fixed in the next version.

[2020-03-19 09:51] vignesvaran commented on #8084
Hi, Am also facing the same problem. I have 15k simple products only. When try to go products grid in admin panel I got below error.

Warning: DOMDocumentFragment::appendXML(): Entity: line 1: parser error : CData section too big found in /var/www/html/vendor/magento/framework/View/TemplateEngine/Xhtml/Template.php on line 60

[2020-03-19 09:59] phuocnh commented on #27350
with **Bundle Items to together**  it will show order items together when processing invoice.
Because you can invoice partial (with **Bundle Items to together** order items together)
But when invoice done. You can see order items is Separately.

thanks

[2020-03-19 10:08] baranada commented on #26956
I have tested on 2.4-develop branch. I can't reproduce the issue.
After I set the date and save the product in english language. and changed the admin language to Dutch.
the product page date is showed as dutch date type like screenshot.

![Screenshot from 2020-03-19 17-04-59](https://user-images.githubusercontent.com/61573611/77055902-3c29b080-6a04-11ea-90e2-b61bd8c34cb9.png)

[2020-03-19 10:23] eduard13 commented on #26064
Fixed in scope of #26066.
Closing as not actual anymore.

[2020-03-19 10:23] #26064 closed, assigned to divyajyothi5321

[2020-03-19 10:46] duckchip commented on #25835
I can reproduce this issue on Magento 2.3.4 using a custom file uploader

[2020-03-19 10:47] tzyganu opened #27354 "Submitting via post an admin field called `locale` changes the admin locale."
### Description
Submitting an admin form that contains a field called `locale`  changes the locale of the admin UI

### Preconditions (*)
1. Magento Open Source 2.3.2 (probably earlier and later also)
2. Have an admin CRUD custom module that contains a field called `locale`
3. Current admin locale is set to en_US

### Steps to reproduce (*)
1. Select in the form mentioned above for the field `loca

[2020-03-19 11:06] shopperwear commented on #23908
I use magento 2.3.3 and the underlying problem seems to be with the url  persistent/index/unsetCookie/ when you use persistent shopping cart with remember me option enabled. When someone clicks not you? button at the top of a page, checkout page throws this error when saving address even if you log out and login again, it seems to persist.
A quick workaround, disable remember me option, clean stor

[2020-03-19 12:23] kamzata commented on #12776
Any news on this?

[2020-03-19 12:46] ihor-sviziev opened #27355 "Adminhtml - Too many mage-translation-file-version cookies"
### Preconditions (*)
1. Magento 2.3.4 or 2.4-develop
2. Enable "Add Secret Key to URLs" in Stores > Configuration > Advanced > Admin > Security (enabling this option recommended for production env, it increases issue reproducing)

### Steps to reproduce (*)
1. Login into the admin
2. Go to few different pages
3. Open Chrome developer console, Network
4. Refresh the page
5. Select "document" reque

[2020-03-19 12:46] ihor-sviziev commented on #27355
@magento give me 2.4-develop instance

[2020-03-19 12:46] magento-engcom-team commented on #27355
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 12:50] ihor-sviziev commented on #27355
@magento give me 2.4-develop instance

[2020-03-19 12:50] magento-engcom-team commented on #27355
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 13:03] ihor-sviziev commented on #27355
@magento give me 2.4-develop instance

Pleeeese

[2020-03-19 13:03] magento-engcom-team commented on #27355
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 13:26] manishgoswamij commented on #27039
Could you please confirm in 2.3.4 if possible .

[2020-03-19 13:28] GuiltyNL commented on #27039
It is already confirmed by @dverkade  for 2.3.4

[2020-03-19 13:31] RHapani opened #27358 "Advance search page allow minus price filter"
### Preconditions (*)

Install Magento 2.3.4

### Steps to reproduce (*)

1. Go to the Advance search page.
2. Add minus value in the price box

![Screenshot from 2020-03-19 18-56-52](https://user-images.githubusercontent.com/56859210/77072604-fd035b80-6a13-11ea-9dfb-2f3f2e757782.png)

### Expected result (*)

It should return the validation error message: "Please enter a number 0 or greater in th

[2020-03-19 13:32] alpenite-lsartor commented on #26499
Hello,
are you planning to fix this is issue also in other magento2 versions prior to 2.4?
Thank you

Leonardo

[2020-03-19 13:32] manishgoswamij commented on #27039
Thanks for reply so I am continuing on this issue !!

[2020-03-19 13:39] engcom-Bravo commented on #27346
Hello @alnmaiafernandes

Thank you for your report

We have rechecked this issue on "clean" Magento 2.4-develop, both Comunity and Enterprise editions, with Sample Data.
The issue is not reproducible. The ```product``` query returns the list of products matching the search filter
![27346_products query](https://user-images.githubusercontent.com/51680745/77073236-a0924300-69f7-11ea-9779-6b8e906e8dc

[2020-03-19 13:39] magento-engcom-team commented on #27358
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32579` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-19 14:02] hostep commented on #26499
Good point @alpenite-lsartor!
@slavvka: will https://github.com/magento/magento2/pull/26506 be backported to 2.3? It's pretty important that this happens.

[2020-03-19 14:06] hostep commented on #27039
I think some Product Owner would first need to validate if this request is valid.
I can imagine cases where you do want it to start sending out old mails after changing the setting.

[2020-03-19 14:10] GuiltyNL commented on #27039
No @hostep the current situation always results in double emails.  I can't imagine a situation where this is desireable?

Our system mailed 800+ old confirmations to customers, fortunately we were able to stop it.

[2020-03-19 14:43] BorisovskiP commented on #27126
Any updates on the issue @shikhamis11 ?

[2020-03-19 14:48] ihor-sviziev commented on #27355
@magento give me 2.4-develop instance

[2020-03-19 14:48] magento-engcom-team commented on #27355
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 15:05] nwmagento commented on #27317
@magento give me 2.4-develop instance

[2020-03-19 15:06] magento-engcom-team commented on #27317
Hi @nwmagento. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-19 15:08] trucatchtraps opened #27361 "Magento 2.3.4 Display Stock (Only X Left) Even when Negative"
### Preconditions (*)

1. Magento 2.3.4
2.

### Steps to reproduce (*)

1.Add Product and Set Inventory to 0 or Negative
2.Navigate to Stores->Configuration->Catalog->Inventory
3.Display Out of Stock Products->Yes
4.Only X left Threshold->10000
5.Display Products Availability in Stock on Storefront-> Yes
6. Manage Stock->Yes
7.Backorders->Allow Qty Below 0 and Notify Customer

### Expected result