[2019-04-12 08:27] magento-engcom-team commented on #22266
Hi @Al3ks73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-12 08:28] magento-engcom-team commented on #22266
Hi @Al3ks73, here is your [Magento instance](https://i-22266-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22266-2-3-develop.instances.magento-community.engineering/admin](https://i-22266-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-12 08:50] Sil-B commented on #21264
We have the same problem with multiple m2.2.7 shops.

[2019-04-12 08:53] engcom-backlog-nazar commented on #22299
HI @tzyganu thank you for you report, Would you like to create Pull Request with this ?

[2019-04-12 09:15] tzyganu commented on #22299
@engcom-backlog-nazar If you really want me to do it, sure. Unless you want to take over. if you do, I won't oppose.

[2019-04-12 09:23] NiklasBr commented on #21817
@engcom-backlog-nazar I can not find *where* either. But now I know for sure that it happens every time we run that command on a new installation.

[2019-04-12 09:27] magento-engcom-team commented on #22299
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99156`, `MAGETWO-99157` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-12 09:28] xpoback commented on #14952
@gwharton I've been reading comments here since the issue was created almost a year ago.

Magento closed this issue on Jan 7, long before 2.2.8 was released. The 2.2.8 in which the problem is present. So this is why _I wonder why_ (just as I wrote in my previous comment) they close issues, pronouncing them fixed without actually releasing the fix.

There has been many fixes and PRs that had been m

[2019-04-12 09:35] gwharton commented on #14952
What i expect happens is that prior to a release a release branch is created where a line is drawn in the sand and the code scheduled for that release are fixed. This branch will go forward for extensive testing which may last for several weeks or months. During this time updates are still being made to the develop branch, but none of these changes will make it to the release. This explains why th

[2019-04-12 09:42] simonmaass commented on #19549
`Date: Sat, 27 Oct 2018 01:06:42 +0200
Subject: [PATCH] Fixes theme header logo and icon upload

---
 .../Theme/view/adminhtml/ui_component/design_config_form.xml  | 4 ++--
 1 file changed, 2 insertions(+), 2 deletions(-)

diff --git a/view/adminhtml/ui_component/design_config_form.xml b/view/adminhtml/ui_component/design_config_form.xml
index 8d4580f90c7b..bc1f36222dd6 100644
--- a/view/adminhtml

[2019-04-12 09:48] ermohanlal commented on #16094
First one error on reporting for app/bootstrap.php file
use code
error_reporting(E_ALL);
ini_set('display_errors', 1);
Magento 2.3.1
after that run di:compile comand and find error.

Fatal error: Cannot use Magento\Catalog\Api\Data\CategoryAttributeInterface as CategoryAttributeInterface because the name is already in use in vendor/magento/module-catalog/Controller/Adminhtml/Category/Save.php on l

[2019-04-12 09:52] i95devdivya opened #22300 "Not able to create partial invoice from Magento2 REST API for Pay on account [Credit limit] payment method orders"
**Preconditions**

1. Magento EE 2.2.6 B2B
2. PHP 7.0.14

**Steps to reproduce**

1. Create order in Magento either with company user or company admin with Pay on account(Company Credit) payment method with multiple items with different quantities or single item with more than one quantity
2. Try to create invoice for the order for the partial quantity from Magento REST API using service POST /V1/

[2019-04-12 09:56] i95devdivya commented on #22300
We observed the following plug-in from B2B Company Credit module causing the issue

<type name="Magento\Sales\Model\Order\InvoiceQuantityValidator">
        <plugin name="checkPartialInvoice"
         type="Magento\CompanyCredit\Plugin\Sales\Model\Order\InvoiceQuantityValidatorPlugin" />
 </type>

If we comment above plug-in from di.xml then we are able to create partial invoice from REST API.

[2019-04-12 10:11] engcom-backlog-nazar commented on #22087
Hi @nicholasscottfish thank you for your report, Feel free to propose the Pull request. thanks for collaboration :+1:

[2019-04-12 10:11] magento-engcom-team commented on #22087
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99158`, `MAGETWO-99159` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-12 10:12] NirmalRaval commented on #13114
I am also getting same issue while saving the product on Magento v2.3.1 EE.

Product doesn't have any custom options added to it.

Need update on the issue.

[2019-04-12 11:00] aario commented on #13152
Maybe this is the reason and solution:
https://stackoverflow.com/a/55650113/9602691

[2019-04-12 11:13] dipti2jcommerce commented on #22299
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-12 11:13] magento-engcom-team commented on #22299
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-12 11:30] ovidiucaramida commented on #6606
You can rebuild URL rewrites from admin area using this extension. It also allows you to customize the URLs and generate unique URLs by adding for ex the SKU in the URL

https://marketplace.magento.com/webpanda-catalog-url-rewrites.html

[2019-04-12 11:35] engcom-backlog-nazar commented on #21687
Hi @snoroozi thank you for you report, this actually non-issue if you want more the 20 clients per batch, you can create you own plugin to change subscribed per batch, thanks for collaboration :+1:

[2019-04-12 11:35] #21687 closed, assigned to nobody

[2019-04-12 11:52] magento-engcom-team commented on #22272
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99160`, `MAGETWO-99161` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-12 12:03] engcom-backlog-nazar commented on #18787
Hi @pmclain thank you for you report, Would you like to create a Pull request for this ?

[2019-04-12 12:24] hamplr opened #22304 "[Grouped product] Can´t add simple products to cart if one other is out of stock"
### Preconditions (*)
1. magento 2.2-develop
2. php 7.1

### Steps to reproduce (*)
- enable the option allow to show products without stock
- grouped product with more sub items
- at least one sub items have to be without stock (quantity=0)
- navigate to the PDS of the grouped product
- add at least on item of any available sub item
- if you add the item to the cart the message "Please specify th

[2019-04-12 12:26] kandy commented on #22257
Currently Magento show prices of cheapest child product.  So it works as expected, and if you want other behavior,  please create improvement request

[2019-04-12 12:57] simonmaass commented on #14642
i agree that it is confusing - i also thought that it will exclude the column!

[2019-04-12 12:59] ebofi opened #22305 "System Log is full of Critical Errors after migration from M1.9.x"
Hi Everyone,

I had done a successful migration from Magento 1.9.x to Magento 2.2.7 and we are getting errors over sytem log, Also most we are generating error while order save from admin etc.

What we are getiing on System Log/
System Log Sample.

[2019-04-12 12:55:54] main.INFO: Broken reference: the 'product.info.point' element cannot be added as child to 'product.info.main', because the latter

[2019-04-12 13:01] hamplr commented on #22304
@magento-engcom-team give me 2.2-develop instance

[2019-04-12 13:02] larsroettig commented on #22304
@magento-engcom-team give me 2.2-develop instance

[2019-04-12 13:02] larsroettig commented on #22304
@magento-engcom-team give me 2.3-develop instance

[2019-04-12 13:03] magento-engcom-team commented on #22304
Hi @hamplr. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-12 13:04] magento-engcom-team commented on #22304
Hi @larsroettig. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-12 13:04] magento-engcom-team commented on #22304
Hi @larsroettig. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-12 13:04] magento-engcom-team commented on #22304
Hi @hamplr, here is your [Magento instance](https://i-22304-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22304-2-2-develop.instances.magento-community.engineering/admin](https://i-22304-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-12 13:17] ppostma1 commented on #20386
@engcom-backlog-nazar
[code]
This is no 400 error. This is an embarrassment to Magento

[2019-04-12 13:26] ppostma1 commented on #20386
The exception thrown by the lower classes to report a 400 error is `InputException`.
By catching all under a general Exception, this includes Database errors. Which is exactly what it was tracked down to be. If a general exception is caught, and unfiltered, the code should be 500, a general error, because no effort was made to distinguish a user error.

[2019-04-12 13:50] engcom-backlog-nazar commented on #22305
Hi @ebofi , problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-04-12 13:50] #22305 closed, assigned to nobody

[2019-04-12 13:59] mohitka opened #22308 "Uncaught TypeError: Cannot read property 'items' of null for restricted permission user"
### Preconditions (*)

1. I have tested and found this issue in Magento versions **2.2.4** and **2.2.7**. Not tested in other versions yet.

### Steps to reproduce (*)

1. Login to the backend with a user with full backend permission.
2. Create a new user role from **System** >> **User Roles** with **Custom** Resource Access. For example, select only the **Dashboard** from the resources list. (You

[2019-04-12 14:06] sezio commented on #18519
Hi @hostep

Indeed, it has nothing to do with data migration, your summary of the issue is very clear and that's exactly the problem.
Thanks for completing the issue!

[2019-04-12 14:13] mropanen commented on #18009
Note that this change "breaks" the way \Magento\Eav\Model\Entity\Attribute\OptionManagement::add could be used to e.g. update options' store-specific labels, and now it always creates a new option in the database.
This is because \Magento\Eav\Model\ResourceModel\Entity\Attribute::_updateAttributeOption checks if the $optionId is numeric, and does an insert if it's not.

[2019-04-12 14:52] cmuench opened #22309 "Category Update without "name" cannot be saved in scope "all" with REST API"
### Preconditions

1. A category tree must be created.

### Steps to reproduce

1. Install demo data in Magento 2.3.x
2. Try to save an existing category without the name attribute via REST API in scope "all".

### Expected result

1. Category will be saved.
2. Sent attributes are saved in the database.

### Actual result
1.Exception "Could not save category" with message `The "Name" attribute val

[2019-04-12 14:54] chichitsai0517 commented on #22137
I have exactly the same issue! I installed a fresh copy of Magento 2.3.1 with sample data just to test and like you mentioned, the cart empties after hitting the "ENTER" key.
I would really love to find a way to fix this!

[2019-04-12 15:43] shikhamis11 commented on #22308
@magento-engcom-team give me 2.2-develop instance

[2019-04-12 15:43] magento-engcom-team commented on #22308
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-12 15:44] magento-engcom-team commented on #22308
Hi @shikhamis11, here is your [Magento instance](https://i-22308-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22308-2-2-develop.instances.magento-community.engineering/admin](https://i-22308-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-12 15:54] shikhamis11 commented on #22308
@mohitka Thank You for your report.
I checked the issue on magento 2.3.1 and 2.2.8 versions the error is showing with restricted user is
`TpeError: data is null` and this issue is already reported Please check #20198

[2019-04-12 16:10] robbie-thompson opened #22311 "LESS import directive doesn't work with compact SCD strategy"
In email-extend.less, the compiled email-fonts.css is imported using the base URL. However, this path is incorrect when using the compact SCD strategy, as the base URL includes the store view path, and the compact strategy puts email-fonts.css into the /default folder.

### Preconditions (*)
1. 2.2.6

### Steps to reproduce (*)
1. Deploy SCD with compact strategy: bin/magento setup:static-content:

[2019-04-12 16:17] donniesg commented on #21571
@engcom-backlog-nazar This should not be classify as a non-issue. I agree with joeyazar.

Based on the official Magento Docs at https://docs.magento.com/m2/ce/user_guide/customers/customer-account-configuration.html

The customer account settings **determine the information that is collected during customer registration**, and the experience that customers have during the process. Customer configu

[2019-04-12 16:18] shikhamis11 commented on #22309
@magento-engcom-team give me 2.3-develop instance

[2019-04-12 16:18] magento-engcom-team commented on #22309
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-12 16:18] magento-engcom-team commented on #22309
Hi @shikhamis11, here is your [Magento instance](https://i-22309-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22309-2-3-develop.instances.magento-community.engineering/admin](https://i-22309-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-12 16:24] uthegenius opened #22312 "magento2 Customer unable to get token in customer/token rest api"
**Preconditions**
Magento 2.3

**Steps to reproduce**
Customer is signup through rest api in magento 2.3 successfully. after signup, I am unable to get customer's token through customer/token rest api. Api returns following error:

 **Actual result**
![issue1](https://user-images.githubusercontent.com/6263757/56051857-617c5c00-5d69-11e9-8f8b-bd9c2278bb1f.PNG)

Although customer is successfully log

[2019-04-12 16:36] toledosteve commented on #7560
Why is this issue closed, yet people are still experiencing the issue??

[2019-04-12 17:31] pdubost commented on #21718
Exact same issue here. Also with 1and1 (shared).
Using Magento-CE-2.3.1_sample_data-2019-03-18-06-46-56.zip

I suspect some timeout issue? Has anyone tried editing php.ini perhaps?

[2019-04-12 17:34] magento-engcom-team commented on #22309
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99164`, `MAGETWO-99165` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-12 17:51] magento-engcom-team commented on #22312
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99167`, `MAGETWO-99168` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-12 18:23] Shubham-Webkul commented on #22312
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-12 18:23] magento-engcom-team commented on #22312
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-12 18:24] magento-engcom-team commented on #22312
Hi @Shubham-Webkul, here is your [Magento instance](https://i-22312-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22312-2-3-develop.instances.magento-community.engineering/admin](https://i-22312-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-12 18:29] Ctucker9233 commented on #15205
@hostep I'm just comparing code. I don't see this code in any variation in the 2.2.8 code. I'll double check to make sure.

[2019-04-12 18:31] Shubham-Webkul commented on #22312
Reproduced on 2.3.x

[2019-04-12 18:32] Ctucker9233 commented on #15205
@hostep Yes it is there. I just didn't see it. Not an issue then.

[2019-04-12 18:36] Ctucker9233 commented on #11431
@engcom-backlog-nazar What are the commits for this?

[2019-04-12 18:40] orionpt opened #22313 "Digit in Vendor name throws error in developer mode"
### Preconditions (*)

1. Magento 2.3.1
2. Php 7.1.20
3. Developer mode

### Steps to reproduce (*)

1. Install module with a digit in vendor name
2. do magento setup:upgrade

### Expected result (*)

1. No errors

### Actual result (*)

1. Error

Running schema recurring...Invalid Document
Element 'indexer', attribute 'class': [facet 'pattern'] The value 'Best4Mage\CPSD\Model\Indexer\SimpleProduc

[2019-04-12 20:48] arnoudhgz commented on #22271
@peterjaap @magento-engcom-team  related to this, `jquery-cookie` [is also deprecated](https://github.com/carhartl/jquery-cookie) and should be replaced by [js-cookie](https://github.com/js-cookie/js-cookie)

[2019-04-12 20:53] mpchadwick commented on #18451
`TIME` columns also seem to not be supported.

[2019-04-13 05:56] ShaileshChauhan2 commented on #4979
I have issue in magento2.2.8 after deleting categories from direct database. Actually this is the error and it can be solved by coding. but magento team is not interested to solve this issue.

[2019-04-13 06:42] DeepPopat opened #22314 "placeholder image resize"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-04-13 06:43] #22314 closed, assigned to nobody

[2019-04-13 07:55] shikhamis11 commented on #22308
@magento-engcom-team give me 2.2-develop instance

[2019-04-13 07:55] magento-engcom-team commented on #22308
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-13 07:56] magento-engcom-team commented on #22308
Hi @shikhamis11, here is your [Magento instance](https://i-22308-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22308-2-2-develop.instances.magento-community.engineering/admin](https://i-22308-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-13 08:07] OlehWolf commented on #22172
@magento-engcom-team give me 2.2-develop instance

[2019-04-13 08:07] magento-engcom-team commented on #22172
Hi @OlehWolf. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-13 08:08] magento-engcom-team commented on #22172
Hi @OlehWolf, here is your [Magento instance](https://i-22172-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22172-2-2-develop.instances.magento-community.engineering/admin](https://i-22172-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-13 08:09] OlehWolf commented on #22172
True, now its already fixed in 2.2-develop branch, can be closed.

[2019-04-13 08:09] #22172 closed, assigned to Bravarg

[2019-04-13 09:01] OlehWolf commented on #21747
To be more precisely, when you save product with indexer settings: "update on save" it saves data correctly on each store flat table. However after running bin/magento indexer:reindex it sets incorrect (default) data, instead of store view data.

[2019-04-13 09:04] akolpakovgor commented on #2291
#cdkyiv2019

[2019-04-13 09:04] magento-engcom-team commented on #2291
@akolpakovgor thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-04-13 09:31] sivaschenko commented on #22311
@magento-engcom-team give me 2.3-develop instance

[2019-04-13 09:32] magento-engcom-team commented on #22311
Hi @sivaschenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-13 09:32] magento-engcom-team commented on #22311
Hi @sivaschenko, here is your [Magento instance](https://i-22311-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22311-2-3-develop.instances.magento-community.engineering/admin](https://i-22311-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-13 10:01] jainmca4444 opened #22315 "Colossal security issue in magento 1 and magento 2"
Dear Magento Team,
I have encountered  a big issue  with magento query adapter. It is a perception that we can run and read query using  this  **$readConnection = Mage::getSingleton('core/resource')->getConnection('core_read');**  and we can write or update query on  table using **$writeConnection = Mage::getSingleton('core/resource')->getConnection('core_write');**  . but  on the contarary, we ca

[2019-04-13 10:18] anzin commented on #21688
#cdkyiv2019

[2019-04-13 10:18] magento-engcom-team commented on #21688
@anzin thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-04-13 10:47] Mobecls commented on #21874
@magento-engcom-team give me 2.3-develop instance

[2019-04-13 10:47] magento-engcom-team commented on #21874
Hi @Mobecls. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-13 10:48] magento-engcom-team commented on #21874
Hi @Mobecls, here is your [Magento instance](https://i-21874-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21874-2-3-develop.instances.magento-community.engineering/admin](https://i-21874-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-13 11:57] Mobecls commented on #21874
@thompalstra, I wasn't able to reproduce the issue on 2.3-develop instance.

1. Created 2 simples
2. Created 1 bundle
3. Added simples to bundle

On a product page I can see the non-0 price. When adding to a cart the price is not 0.

[2019-04-13 12:21] Mobecls commented on #21700
Hey @brendanfalkowski, closing this issue as it looks like we were not able to reproduce this issue.

Please, see the comment https://github.com/magento/magento2/issues/21700#issuecomment-473393787

Closing because of inactivity.

[2019-04-13 12:21] #21700 closed, assigned to sdzhepa

[2019-04-13 12:22] #21874 closed, assigned to shikhamis11

[2019-04-13 12:35] Mobecls commented on #13773
@craigcarnell and is there a way to reproduce an issue in 2.3-develop branch?

I have created order on the frontend
And created order on the backend

And both worked fine, have the correct timing in a sales grid and on an order detail page.

[2019-04-13 12:41] mdxacura2011 commented on #9408
#cdkyiv2019

[2019-04-13 12:41] magento-engcom-team commented on #9408
@mdxacura2011 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-04-13 12:47] p-bystritsky opened #22317 "CodeSniffer should not mark correctly aligned DocBlock elements as code style violation."
### Summary (*)

Magento\Sniffs\Annotation\MethodArgumentsSniff is marking as incorrect any aligned argument parameters, while [Magento Devdocs](https://devdocs.magento.com/guides/v2.3/coding-standards/docblock-standard-general.html#format-consistency) is obviously declaring such format as valid.

### Examples (*)

`/**`
` * ...`
` *`
` * @param  string   $parentId`
` * @param  string   $childId`

[2019-04-13 13:01] mdxacura2011 commented on #9408
Cannot reproduce on 2.3-develop branch
cdkyiv2019

[2019-04-13 13:01] #9408 closed, assigned to mdxacura2011

[2019-04-13 13:19] rvoronovmeticulosity commented on #22065
#cdkyiv2019

[2019-04-13 13:20] magento-engcom-team commented on #22065
@rvoronovmeticulosity thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-04-13 13:30] Mobecls commented on #22053
Was able to reproduce on magento 2.3-develop.
There is a delay between mouse movement and actual image movement.

[2019-04-13 14:08] Mobecls commented on #22137
@magento-engcom-team give me 2.3-develop instance

[2019-04-13 14:09] magento-engcom-team commented on #22137
Hi @Mobecls. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-13 14:09] magento-engcom-team commented on #22137
Hi @Mobecls, here is your [Magento instance](https://i-22137-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22137-2-3-develop.instances.magento-community.engineering/admin](https://i-22137-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-13 14:19] rvoronovmeticulosity commented on #22065
Can't reproduce the bug. Not actually anymore

[2019-04-13 14:19] #22065 closed, assigned to rvoronovmeticulosity

[2019-04-13 14:23] Mobecls commented on #22137
@akimo - wasn't able to reproduce it neither on 2.3-develop, nor on 2.3.1 latest official release.

1. Added product to a cart (10 pcs)
2. Proceeded to a cart page
3. changed product qty to 5 and hit "update shopping cart"
4. clicked on browser Return button (verified on latest Chrome and Safari on Mac).

The shopping cart had 5pcs (no products were flushed from a cart)...

[2019-04-13 14:38] chichitsai0517 commented on #22137
Hi, this is weird. Is this 2.3.1? I have a website upgraded from 2.2.6 to 2.3.1 that does that. So I installed a fresh copy of the magento 2.3.1 with sample data  and it also does the same. Am I able to message someone with the the cpanel and admin credentials to see?

[2019-04-13 14:39] klein0r commented on #22065
@rvoronovmeticulosity Which email clients have been tested?

[2019-04-13 14:59] Mobecls commented on #22252
@InternetMedicineMan  - wasn't able to reproduce an issue on Magento 2.3-develop version.

Case 1.
- created a user.
- added user to a wholesale group
- set a group price for wholesale groups to 90 (regular price was 100) on a product level.
- created order in backend for that user
- when order was saved - the price was set to 90.

Case 2.
- created a new website "wholesale" (store and storeview t

[2019-04-13 15:04] InternetMedicineMan commented on #22252
@mobecls I submitted the ticket for 2.2.8. But that’s great news it doesn’t occur in 2.3-develop but with 2.3.1 out not sure why anyone would run develop.

[2019-04-13 15:06] rvoronovmeticulosity commented on #14885
https://github.com/magento/magento2/commit/0b4d732c8b07343e200251bbbed3730836588116
@dvoskoboinikov for what reasons the https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php was added considering that we already had https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentSender.p

[2019-04-13 15:06] Mobecls commented on #22137
@chichitsai0517 please, see if you can reproduce it here - https://i-22137-2-3-develop.instances.magento-community.engineering it's still up and running.

[2019-04-13 15:23] chichitsai0517 commented on #22137
Hi Mobecls, I tried on yours and it does not do the same as mine. I don't understand because my test website has no extensions and no themes. It is the original 2.3.1 with sample data.

[2019-04-13 15:24] magento-engcom-team commented on #22053
@Mobecls Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-13 15:29] Mobecls commented on #22137
@chichitsai0517 - that's our latest environment, so if it is not getting reproduced there - it's either an environment issue. If you don't have any additional info on how to reproduce it here - please, close the issue.

[2019-04-13 15:30] chichitsai0517 commented on #22137
Do you think this is a PHP Version issue? I just checked on my hosting account and they only have PHP 7.1.27 or 7.2.16.
I am using PHP 7.2.16.
However on Magento 2.3.X Stack technology requirements, it says that we should be using PHP 7.2.11

[2019-04-13 15:35] magento-engcom-team commented on #22053
:white_check_mark: Confirmed by @Mobecls
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99204` were created

**Issue Available**: @Mobecls, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-13 15:56] Ctucker9233 commented on #7266
@magento-engcom-team What is going on with this?

[2019-04-13 15:58] magenx commented on #7266
2.3.1 not fixed

[2019-04-13 16:18] Nazar65 commented on #22065
@rvoronovmeticulosity lets just close issue if you not able to reproduce :+1:

[2019-04-13 16:54] gwharton commented on #22065
Unable to reproduce on Thunderbird 60.6.1

[2019-04-13 18:36] shikhamis11 commented on #22315
@jainmca4444 Please correct format of issue
follow issue reporting guideline and edit the description
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-04-13 19:24] ronak2ram commented on #22312
Hie @uthegenius,
I think there is no issue with the API. Can you please remove `all` store code form URL.
so URL would be:  /rest/V1/integration/customer/token.
Please refer this for more information about store code `all` in URL: https://devdocs.magento.com/guides/v2.3/get-started/gs-web-api-request.html#endpoints

[2019-04-13 19:30] shikhamis11 commented on #22312
@ronak2ram
Yes it will work if `all` is removed from the url .. but if anyone using Magento swagger it must be correct.

[2019-04-13 19:32] uthegenius commented on #22312
Swagger also returns the same error.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shikha Mishra <notifications@github.com>
Sent: Sunday, April 14, 2019 12:30:35 AM
To: magento/magento2
Cc: Usama Abdul Haque; Mention
Subject: Re: [magento/magento2] magento2 Customer unable to get token in customer/token rest api (#22312)

@ronak2ram<https://github.com/rona

[2019-04-13 19:34] ronak2ram commented on #22312
You correct @shikhamis11
I think, have an issue with swagger.

[2019-04-13 20:22] myselfgaurav opened #22326 "Unable to know magento version installed"
i have installed magento 2.3 using composer , now in admin i can not see magento version it show as below :

**Magento ver. No version set (parsed as 1.0.0)**

[2019-04-13 21:00] Ctucker9233 commented on #20997
@magento-engcom-team I confirm the same behavior on 2.2.8. An annoying work around is to save the product and then the custom attribute field appears. Would appreciate an update on this issue.

[2019-04-13 21:16] onepack opened #22327 ""Select all" to update all products will only update current products in grid."
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2

### Steps to reproduce (*)

1. Go to backend of Magento2
2. Go to Catalog -> Products
3. Check if you have 20 items active on the grid per page.
4. Select "Select all" dropdown value (next to products id) and read the result like "110 selected"
5. Choose "Update attributes" from the actions dropdown.
6. Change something and save.

### Expected re

[2019-04-13 21:18] onepack commented on #22327
I have this on the development and production environment of magento2.3 + PHP 7.2

[2019-04-14 00:48] siliconrockstar commented on #22315
The M2 code operates as expected. Object Manager gets a 'Magento\Framework\App\ResourceConnection'; that object's getConnection() returns a \Magento\Framework\DB\Adapter\AdapterInterface, and that Adapter interface defines methods to truncate and drop tables, so it's no surprise that you can use the Adapter to run arbitrary destructive SQL.

I don't have a copy of M1 handy to test the M1 example c

[2019-04-14 06:13] Shubham-Webkul commented on #22312
@ronak2ram  & @shikhamis11
There is no issue in Swagger. This is related createCustomerAccessToken API. It should one more parameter is website_id because if you check Magento configuration -> Customer Configuration -> Share Customer Accounts is set per website . If you will get token after set is global then it will work. In this case website_id pass 0 and there is no customer exist for this webs

[2019-04-14 06:23] jainmca4444 commented on #22315
Hi siliconrockstar,

It is the not matter that how i am using FetchAll() method in our code.  it's behaviour  should be only fetching the data from table.

[2019-04-14 06:25] konarshankar07 commented on #22327
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-14 06:25] magento-engcom-team commented on #22327
Hi @konarshankar07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-14 06:26] magento-engcom-team commented on #22327
Hi @konarshankar07, here is your [Magento instance](https://i-22327-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22327-2-3-develop.instances.magento-community.engineering/admin](https://i-22327-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-14 06:48] Bashev commented on #19710
@visahardik this works but is a temporary workaround.

[2019-04-14 07:11] konarshankar07 commented on #22327
@onepack  @magento-engcom-team
I'm able to reproduce this issue in the vanilla instance. Here Screenshot of my current testing
![image](https://user-images.githubusercontent.com/39480008/56089569-9f38cc00-5eb2-11e9-9426-86913acaf400.png)

[2019-04-14 07:47] ryantfowler commented on #16171
In my case, I followed @hostep 's advice [here](https://github.com/magento/magento2/issues/16171#issuecomment-449102188): and had to make sure that there were no values set in my `env.php` which conflicted with what was saved in the `system_config_snapshot` value. Again for me, it was having `system/default/catalog/search/engine/mysql` in my `env.php` whereas a db dump I was importing had a value

[2019-04-14 07:57] magento-engcom-team commented on #22327
@dmytro-ch Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-14 07:57] magento-engcom-team commented on #22327
@m2-backlog[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-14 07:59] Nazar65 commented on #22327
@dmytro-ch  duplicate to this https://github.com/magento/magento2/issues/22004

[2019-04-14 07:59] magento-engcom-team commented on #22327
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99205` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-14 08:00] dmytro-ch commented on #22327
@Nazar65, thank you for the update!
I'm closing the current issue as a duplicate.

[2019-04-14 08:00] #22327 closed, assigned to nobody

[2019-04-14 08:11] hostep commented on #22137
I can very easily reproduce this as well on a vanilla Magento 2.3.1 installed using composer. This isn't an environment issue.
@Mobecls: your steps to reproduce are incorrect. You shouldn't press the `Update Shopping Cart` button, you should simply increase the qty of an item in the cart and then press the enter/return key while the focus of your cursor is still in the qty field to confirm the cha

[2019-04-14 08:25] hostep commented on #22137
This is fixed in 2.3-develop however, and I've found a PR which fixes it: https://github.com/magento/magento2/pull/21509

So we can close this issue, since it duplicates https://github.com/magento/magento2/issues/21499 and was fixed by https://github.com/magento/magento2/pull/21509 and the fix should get released in Magento 2.3.2 & 2.2.9.

[2019-04-14 08:25] #22137 closed, assigned to shikhamis11

[2019-04-14 08:59] hostep opened #22330 "Error "extend ' .no-link a' has no matches" when compiling email-inline css using an alternative less compiler"
### Preconditions (*)
1. Magento 2.3.1
2. PHP 7.1.27
3. Nodejs 8.15.1

### Steps to reproduce (*)
1. Setting up vanilla Magento installation using composer
2. Run `npm install less@2.7.3` to install an alternative less compiler then what Magento ships with
3. Run `bin/magento setup:static-content:deploy -f -t Magento/luma en_US` (this is just to generate the necessary files in `var/view_preprocess

[2019-04-14 10:05] kevintieman commented on #12483
Same here. Happened at 2.2.7, upgraded to 2.3.1 still the same.

[2019-04-14 16:13] HardikWebTechDevloper opened #22331 "PHP Startup: Unable to load dynamic library 'intl' (tried: ext\intl (The specified module could not be found.), ext\php_intl.dll (The specified module could not be found.))"
I'm getting an error of

While I'm installing Magento 2.3 in localhost. I've tried to installed using Xampp.

![image](https://user-images.githubusercontent.com/16513408/56095843-5575d300-5efe-11e9-9267-697a4cbd0541.png)

[2019-04-14 16:32] shikhamis11 commented on #22326
@myselfgaurav  Please correct format of issue
follow issue reporting guideline and edit the description
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-04-14 16:33] hostep commented on #22330
Alright, if I understand it correctly, the mixin `.no-link a` should get outputted for the selector `.address-details a` in the generated `email.css` file, but not in the `email-inline.css` file.

According to the comments in the css files around those lines ("Remove address and phone number link color on iOS"), it is to remove the link styling from links in the address details block in sales emai

[2019-04-14 16:36] shikhamis11 commented on #22331
@HardikWebTechDevloper this is not bug.
follow magento 2 systeem requirements before magento 2 installation
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-04-14 16:36] #22331 closed, assigned to nobody

[2019-04-14 16:51] HardikWebTechDevloper commented on #22331
I have checked everything but I can't resolve it. Could you please help me to install Magento 2.3?

[2019-04-14 16:58] shikhamis11 commented on #22331
@HardikWebTechDevloper make sure you have installed all required php extension
you can take help from here
`https://magento.stackexchange.com/questions/123246/magento-2-php-extensions-missing`

[2019-04-14 17:19] mystix commented on #22121
Managed to trace this bug to the private method `extractValuesFromAttributes()` introduced in M2.2.8.

File:
`https://github.com/magento/magento2/blob/2.2.8/app/code/Magento/Sales/Block/Adminhtml/Order/Create/Form/Account.php`:
[code]

The check for an empty `$defaultValue` for the `group_id` attribute is problematic because it fails to also check if `$formValues['group_id']` is empty before overr

[2019-04-14 17:22] HardikWebTechDevloper commented on #22331
Yes I did.

On Sun 14 Apr, 2019, 10:28 PM Shikha Mishra, <notifications@github.com>
wrote:

[2019-04-14 18:04] hostep commented on #22292
@github-Rach: this seems to be a problem you should discuss with the people of https://shipperhq.com/.
This isn't a core Magento problem. Closing ticket.

[2019-04-14 18:04] #22292 closed, assigned to nobody

[2019-04-14 19:03] nickpiro commented on #22121
@mystix this fixed the issue for me. Going to test some orders but your reasoning and change makes sense! Someone needs to add this as a fix. @engcom-backlog-nazar

[2019-04-14 19:27] gerben86 commented on #18134
Same issue overhere, also @ajusev doesn't work at this moment...

[2019-04-14 22:43] orlangur commented on #10303
@engcom-backlog-nazar yep, seems so, thanks. Closing as per @kandy resolution.

[2019-04-14 22:43] #10303 closed, assigned to nobody

[2019-04-14 22:55] bhavin786 commented on #19542
That works for me! Great Thanks!

[2019-04-14 23:19] orlangur commented on #22315
Hi @jainmca4444, thanks for your report, please check https://github.com/magento/magento2#reporting-security-issues on how to report security issues.

[2019-04-14 23:19] #22315 closed, assigned to shikhamis11

[2019-04-15 02:14] mystix commented on #22121
Interestingly, in M2.3.1, this code was "fixed" so the system-configured default customer group is never used 🤦‍♂️🤦‍♂️🤦‍♂️:

File:
`https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/Sales/Block/Adminhtml/Order/Create/Form/Account.php`

Diff:
https://github.com/magento/magento2/commit/a2688893e7a690ded6524b4ef382fd729d712236#diff-810242e5c9175d4f3571f34d6d47a6eb

Both M2.2 and M2.3 br

[2019-04-15 04:43] miteshdhaduk commented on #7322
@Kashiffrq File call but the function can not trigger using a mixin. Every time gets data from core price-box.js.

[2019-04-15 06:17] lokeshrathore commented on #5960
Hi i have also find issues on setup wizard in magento 2.3.0 version.
I got this error on network
Fatal error: Out of memory (allocated 198180864) (tried to allocate 9437184 bytes) in /vendor/composer/composer/src/Composer/Repository/ComposerRepository.php on line 583

Got error in console :
angular.js:533 TypeError: Cannot read property 'responseType' of null
    at successCallback (select-version

[2019-04-15 07:11] mohitka commented on #22308
Hi @shikhamis11, @magento-engcom-team,

I think these issues may seem similar, but these are not the same issues.

I am not able to reproduce the issue mentioned in #20198. I have tested it in Magento versions **2.2.4**, **2.2.5**, **2.2.6** and **2.2.7**.

Please reopen the issue if you find it worth.

Thanks

[2019-04-15 07:30] engcom-backlog-nazar commented on #22326
Hi @myselfgaurav
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-15 07:30] #22326 closed, assigned to nobody

[2019-04-15 07:45] magento-engcom-team commented on #21978
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99206`, `MAGETWO-99207` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-15 08:02] markjuliusuy opened #22337 "Order Status always 'Closed' after creating invoice and shipment"
We created a module to enable canCapture and canCapturePartial on bank transfer so that we can select if it's pending or paid
### Preconditions (*)

1. Magento 2.2.8 or Magento 2.3.1

### Steps to reproduce (*)

I. Scenario
1. Created an order on admin
2. Created a pending invoice using no capture option and checked create shipment

### Expected result (*)

I. Scenario
1. The order status should b

[2019-04-15 08:15] bikashkaushik commented on #15427
[2019-03-31 16:27:48] main.CRITICAL: Wrong order ID: "XXXXXX2351". {"exception":"[object] (Exception(code: 0): Wrong order ID: \"XXXXXX2351\". at /var/www/andgd/vendor/magento/module-paypal/Model/Ipn.php:140)"} []

[2019-04-15 08:25] bikashkaushik commented on #15427
[2019-03-31 16:27:48] main.CRITICAL: Wrong order ID: "XXXXXX2351". {"exception":"[object] (Exception(code: 0): Wrong order ID: "XXXXXX2351". at /var/www/html/vendor/magento/module-paypal/Model/Ipn.php:140)"} []

[2019-04-15 08:42] maartenatmarissen commented on #18256
@peterjaap @nuwaus @tonycr7 I created a patch for the fix: https://gist.githubusercontent.com/maartenatmarissen/b8e41e15f8a0597cf510a84be56b65c5/raw/cdf2be8cfcdf6b08c884d7b751b1c21e5a7078d7/AccountManagement.php.patch

Can be applied using https://github.com/cweagans/composer-patches :
` "magento/module-customer": {`
     `"18256": "https://gist.githubusercontent.com/maartenatmarissen/b8e41e15f8a0

[2019-04-15 08:49] miteshdhaduk opened #22338 "Magento 2.3 - Issue to override price-box.js using mixin(In Firefox 66.0.2 version)"
### Preconditions (*)

1. Magento 2.3 (Firefox 66.0.2 (64-bit) version)
2. Magento 2.3.1 (Firefox 66.0.2 (64-bit) version)
3. Magento 2.2.8 (Firefox 66.0.2 (64-bit) version)

### Steps to reproduce (*)

1. Override updatePrice function(Magento_Catalog/js/price-box) using a mixin.
2. File call using mixin properly but the updatePrice function is not called. (In chrome working fine, but in Firefox n

[2019-04-15 08:58] eugenbg commented on #4409
haha magento still hasn't fixed this issue after 3 years :)

[2019-04-15 09:17] raumatbel commented on #22338
We are making a mix of priceBox and exactly the same thing happens to us. In Chrome it works but in Firefox it does not.

[2019-04-15 09:20] miteshdhaduk commented on #22338
@raumatbel Have you fix it or not?

[2019-04-15 09:20] lionelalvarez commented on #22338
Hello, I have had the same problem in Magento 2.2.6

[2019-04-15 09:23] engcom-backlog-nazar commented on #22337
@magento-engcom-team give me 2.3-develop instance

[2019-04-15 09:23] magento-engcom-team commented on #22337
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-15 09:24] magento-engcom-team commented on #22337
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-22337-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22337-2-3-develop.instances.magento-community.engineering/admin](https://i-22337-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-15 09:31] miteshdhaduk commented on #22338
Have you fix it or not?

[2019-04-15 09:36] raumatbel commented on #22338
At this time, the problem is not fixed @miteshdhaduk

[2019-04-15 09:51] jpelayo commented on #22094
Same here (Magento 2.3.1 on CentOS) after getting  Elasticsearch 6.7.1 to work.
Bug or misconfiguration?

exception.log

"[object] (Magento\\Framework\\Exception\\CouldNotSaveException(code: 0): The stock item was unable to be saved. Please try again. at /var/www/html/magento/vendor/magento/module-catalog-inventory/Model/Stock/StockItemRepository.php:187, LogicException(code: 0): Indexer handler i

[2019-04-15 09:57] engcom-backlog-nazar commented on #22337
Hi @markjuliusuy  It will be processed faster if you move this to https://github.com/magento/community-features

[2019-04-15 09:57] #22337 closed, assigned to nobody

[2019-04-15 09:58] engcom-backlog-nazar commented on #21630
Hi @Webroju thank you for you report, this issue has already fixed in 2.3-develop branch and available on 2.2.8 and 2.3.1 release.

[2019-04-15 09:58] #21630 closed, assigned to nobody

[2019-04-15 10:02] sean-zero1 commented on #7756
Was there a fix for this or was it just randomly closed?

[2019-04-15 10:25] engcom-backlog-nazar commented on #16580
HI @Karlasa thank you for you report, but i'm not able to reproduce this on clean 2.2-develop or 2.3-develop, seems like this is not reproducible anymore.

[2019-04-15 10:25] #16580 closed, assigned to nobody

[2019-04-15 11:19] engcom-backlog-nazar commented on #21627
Hi @ArtemLysak thank you for you report, i'm not able to reproduce following steps you described, seems like this related to your configurations.
![DeepinScreenshot_select-area_20190415141632](https://user-images.githubusercontent.com/40756439/56128827-63bd0100-5f89-11e9-954a-5a35b3954b44.png)

[2019-04-15 11:19] #21627 closed, assigned to nobody

[2019-04-15 11:25] ladle3000 opened #22344 "Single Store Mode Not Working as it Should"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. If store was previously in multi store mode and attribute values exist are still set at the store view level, they are still displayed on the frontend after switching to single store mode and filling out the description for example.  If a store view had a different description it will still show on frontend.
2.

### Expected

[2019-04-15 11:28] magento-engcom-team commented on #18787
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99208` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-15 11:51] SeeniBorn commented on #15115
I'm facing this same issue in EE 2.2.8 as well.

[2019-04-15 11:52] sheshagiriAnvekar commented on #15939
Is there any fix available for this issue?  we are finding the same issue on 2.2.5

[2019-04-15 12:31] magento-engcom-team commented on #22253
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99209` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-15 13:17] panteliskopsias commented on #9377
hello, does anyone use porto theme and temporary fix this issue? magento 2.3.1
This is the last change to deliver the project....

[2019-04-15 13:29] engcom-backlog-nazar commented on #22252
Hi @InternetMedicineMan thank you for your report, i'm not able to reproduce following steps you described on clean 2.2.-develop branch,, seems like this may be related to your custom code or modules.

[2019-04-15 13:29] #22252 closed, assigned to nobody

[2019-04-15 13:36] orlangur commented on #22344
@snoroozi Single Store Mode works as expected, please read description near corresponding switch more carefully.

[2019-04-15 13:37] AndyJAllen commented on #11577
On M2.2 the proposed solution doesn't work with offsite javascript files that are being required into requirejs. I found my way here after js minification was breaking links to offsite .js files...i then added the core_config_data setting dev/js/minify_exclude to exclude the url address.... that fixed my 3rd party module, however, the addition of the exclude setting then broke the tiny_mce on the

[2019-04-15 13:42] InternetMedicineMan commented on #22252
Strange I removed all custom code and modules per my ticket, running just a plain install but with my data. The upgrade must have ruined the data then, go figure.

[2019-04-15 14:17] engcom-backlog-nazar commented on #22300
Hi @i95devdivya thank you for you report, this issue has already fixed in 2.3-develop branch and 2.2-develop branch and available on 2.2.8 release and 2.3.1 release.

[2019-04-15 14:17] #22300 closed, assigned to nobody

[2019-04-15 14:19] snoroozi commented on #22344
You guys are terrible about closing tickets. I take the time to report an obvious issue, and you act like apes. @orlangur

[2019-04-15 14:20] snoroozi commented on #22344
If it worked as expected, since I'm your user, then I would expect this. So it does not work as expected. It works as programmed, which is not well enough.

[2019-04-15 14:26] frangolacci opened #22346 "Unable to save product when price si website defined and custom options"
### Preconditions (*)

1. Under Magento Multisite 2.3.0 (it's the same under 2.3.1)
2. My backend Locale is fr_FR , so the decimal separator is , (instead of . for en_US)

### Steps to reproduce (*)

1. Put the price at website level (instead of global by default) (to do so, go to configuration -> catalog -> catalog -> Price )
2. Add custom options to a product with a fixed price of 0 and save it

[2019-04-15 14:28] mageprashant commented on #22338
@lionelalvarez @miteshdhaduk
It's my code and working fine to me.

[code]

[code]

[2019-04-15 14:35] pioneerathletics opened #22347 "Make Company Required Field In Admin- Back-Port 2.1.x"
### Description (*)

In Magento 2.2.x you can easily make Company a required field for customers in both the checkout and creating an account pages - Settings>Configuration>Customers>Customer Configuration>Name and Address Options (see magento.2.2.jpg screenshot).
![magento 2 2](https://user-images.githubusercontent.com/19981272/56141041-0bc2d200-5f6a-11e9-8d88-737bc702808f.jpg)

But in Magento 2.

[2019-04-15 14:48] aleromano89 commented on #22005
@pixmin I just tried to reproduce your error by installing 2.3.1 but no extra prefix is added to tables name and I get no error.

[2019-04-15 15:04] orlangur commented on #22344
@snoroozi please take a look on the message I'm referring to and then I can explain you what's wrong with your understanding.

[2019-04-15 15:05] sjb9774 commented on #15939
@engcom-backlog-nazar Do you know if there's any solution in a future version or patch that addresses this problem? I'm currently dealing with it for a client who cannot reasonably change the index mode to "update on save".

[2019-04-15 15:08] orlangur commented on #22347
@pioneerathletics unfortunately only contributions to `2.2-develop` and `2.3-develop` are acceptable currently.

[2019-04-15 15:08] #22347 closed, assigned to nobody

[2019-04-15 15:09] hostep commented on #11577
@AndyJAllen: exactly, that's why I reworked how to use the exclusion in Magento 2.3, so the exclusion of one module doesn't overwrite the one from another module.
Have you figured out a solution already? Following  https://magento.stackexchange.com/a/198480 is currently the best solution for Magento 2.2

[2019-04-15 15:09] engcom-backlog-nazar commented on #22347
@orlangur super fast response :)

[2019-04-15 15:10] snoroozi commented on #22344
@orlangur
This setting will not be taken into account if system has more than one
store view you mean?

My store ONLY HAS ONE STORE VIEW.

You might be missing the point.  In the past I had multiple store views,
but all have since been deleted, and magento still serves the info saved at
the store view level. This is not correct behavior.  The code should check
and use the default scope only if the

[2019-04-15 15:20] magento-engcom-team commented on #10790
Hi @dankocherga. Thank you for your report.
The issue has been fixed in magento/magento2#22227 by @ilnytskyi in 2.2-develop branch
Related commit(s):
 - [f68cff7feeacdd98faf7365fa676f9e867bffce3](https://github.com/magento/magento2/commit/f68cff7feeacdd98faf7365fa676f9e867bffce3)
 - [8501089751d909786546e2d1631c7f6647d3cded](https://github.com/magento/magento2/commit/8501089751d909786546e2d1631c7f

[2019-04-15 15:20] magento-engcom-team commented on #21755
Hi @bnymn. Thank you for your report.
The issue has been fixed in magento/magento2#22232 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [4223d2b6e0b2f119d6e34c618a0dc78fbbecdcd1](https://github.com/magento/magento2/commit/4223d2b6e0b2f119d6e34c618a0dc78fbbecdcd1)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-15 15:20] magento-engcom-team commented on #20614
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#20844 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [3a4a1d2470ec662093d2eb5075fb96e8ca1fd548](https://github.com/magento/magento2/commit/3a4a1d2470ec662093d2eb5075fb96e8ca1fd548)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-15 15:20] magento-engcom-team commented on #18580
Hi @jcourtei. Thank you for your report.
The issue has been fixed in magento/magento2#18980 by @denispapec in 2.2-develop branch
Related commit(s):
 - [737f3963a541ee879ffa22739e81c5b4dc5e934e](https://github.com/magento/magento2/commit/737f3963a541ee879ffa22739e81c5b4dc5e934e)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-15 15:45] ebofi commented on #8451
Same we are experiencing on Magento 2.2.7, using the default Magento checkout.

The error we are getting is below'

'message' => 'Cannot determine payment method.',
      'creditCardVerification' => NULL,
      'transaction' => NULL,
      'subscription' => NULL,
'amount' => '1.00',
          'paymentMethodNonce' => NULL,
          'orderId' => '3700000353',
          'channel' => 'Magento2_Cart_C

[2019-04-15 15:45] bassmo commented on #19604
Any update on magento2 setup working with php 7.3...  ?

[2019-04-15 15:50] ebofi opened #22348 "Nonce Is not being populated in API call to Braintree via Magento Default Checkout"
Hi,

**Summary of the issue --**

We are using Magento 2.2.7 , we use Magento default checkout for our site whenever we enter card details on Braintree Checkout page, the 3 d secure will popup asking OTP received in our phone. We enter it and the popup close and shows .. Something Went Wrong. Upon checking the log we found that Braintree is responding back with a message

      'message' => 'Canno

[2019-04-15 15:52] orlangur commented on #22344
Hm, I didn't expect values are not removed when you remove the store view. Please add steps regarding store view removal into description.

[2019-04-15 16:04] sammaggs opened #22349 "Custom cart price rule error"
### Summary (*)
Minimum order amount error when trying to checkout with new custom Cart Price rule.

Information on your environment -  Magento v2.2.3
Steps to reproduce
Expected - Cart price is reduced to the amount specified in the discount amount field in Marketing > Cart Price Rule >  Discount Amount
Actual - Cart price is reduced but error 'Minimum Order amount is 0.01' stop customer from pro

[2019-04-15 17:13] Webroju opened #22350 "Checkout Agreement Magento 2.2.8, HTML is displayed instead of interpreted"
If the content for the checkbox of the checkout terms and conditions contains HTML, then HTML code will be displayed instead of being interpreted.  Iin earlier magento versions html was interpreted.

### Preconditions (*)

1. Magento 2.2.8
2. NGINX

### Steps to reproduce (*)

1. Stores > Terms and Conditions > Add a new condition
2. Fill out the fields, and type at "Checkbox Text" a content with

[2019-04-15 17:18] shikhamis11 commented on #22245
@jonathan-may sorry for delay in reply ..
I checked at magento 2.3-develop instance .. I am not able to reproduce this issue. Are you able to reproduce this issue on magento 2.3-develop instance ?

[2019-04-15 17:23] jonathan-may commented on #22245
@magento-engcom-team give me 2.3-develop instance

[2019-04-15 17:24] magento-engcom-team commented on #22245
Hi @jonathan-may. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-15 17:24] magento-engcom-team commented on #22245
Hi @jonathan-may, here is your [Magento instance](https://i-22245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22245-2-3-develop.instances.magento-community.engineering/admin](https://i-22245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-15 17:34] jonathan-may commented on #22245
@shikhamis11, I followed the same steps that I outlined to reproduce the issue on 2.3.0 and 2.3.1, but I was not able to reproduce the issue on the 2.3-develop instance.

[2019-04-15 18:06] shikhamis11 commented on #22350
@magento-engcom-team give me 2.2-develop instance

[2019-04-15 18:06] magento-engcom-team commented on #22350
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-15 18:07] magento-engcom-team commented on #22350
Hi @shikhamis11, here is your [Magento instance](https://i-22350-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22350-2-2-develop.instances.magento-community.engineering/admin](https://i-22350-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-15 18:08] shikhamis11 commented on #22245
Then in that case it seems this issue in already fixed .. it will be available at Magento 2.3.2 version

[2019-04-15 18:28] shikhamis11 commented on #22350
@Webroju while creating `terms and conditions` the field name `Checkbox Text` is clear that it would be Text so in that reference this is not bug. I will take opinion from maintainers also about this issue.

[2019-04-15 18:41] #22245 closed, assigned to shikhamis11

[2019-04-15 18:43] Webroju commented on #22350
@shikhamis11 I understand what you mean, but the knockout.js say it has to interpreted as html, or I'm wrong?
![Screenshot_2](https://user-images.githubusercontent.com/13220558/56157094-f330d700-5fbe-11e9-84ee-b53055542300.jpg)

[2019-04-15 19:27] nickpiro commented on #22121
@mystix I will never understand the update process of M2 🤦‍♂️

But thank you for helping fix 2.2.8 for me!

It seems instead of doing the fix you did, they just removed it completely.

If you're interested, I have another strange issue if you want to look into it! :)
https://github.com/magento/magento2/issues/21985

[2019-04-15 19:32] uthegenius commented on #22312
@Shubham-Webkul thanks for pointing out the issue. There is only one parameter passed to get customer. I just passed the website_id to that method and API returns the access_token. I think there should be default website_id passed to it to get the customer which is not happening in this version.

[2019-04-15 19:52] sayedma opened #22352 "Web Setup Wizard throwing error AH01630"
I made a fresh install of Magento first time and has the following configuration:

Summary of the issue:
While accessing "Web Setup Wizard" it is redirecting to "domain.com/setup" but it is throwing error 500

Information on your environment:
PHP version 7.2
Protocol: https
Magento version: 2.3

Steps to reproduce:
System -> Tools -> Web Setup Wizard

Expected results:
The page for installation sh

[2019-04-15 20:40] magento-engcom-team commented on #21715
Hi @lukeromanowicz. Thank you for your report.
The issue has been fixed in magento/magento2#22117 by @yvechirko in 2.3-develop branch
Related commit(s):
 - [3e0836e142b3e48c9d3644e8e1a6044a31aeeaad](https://github.com/magento/magento2/commit/3e0836e142b3e48c9d3644e8e1a6044a31aeeaad)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-15 20:40] #21715 closed, assigned to nobody

[2019-04-15 20:40] magento-engcom-team commented on #22166
Hi @sdzhepa. Thank you for your report.
The issue has been fixed in magento/magento2#22195 by @mautz-et-tong in 2.3-develop branch
Related commit(s):
 - [34bd8bd793de2aad34c461aad62a1a3984fb509a](https://github.com/magento/magento2/commit/34bd8bd793de2aad34c461aad62a1a3984fb509a)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-15 20:40] #22166 closed, assigned to mautz-et-tong

[2019-04-15 20:40] magento-engcom-team commented on #21973
Hi @kassner. Thank you for your report.
The issue has been fixed in magento/magento2#22171 by @adaudenthun in 2.3-develop branch
Related commit(s):
 - [191fc7ce4d52c5fbc515204156c708a6de97535e](https://github.com/magento/magento2/commit/191fc7ce4d52c5fbc515204156c708a6de97535e)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-15 20:40] #21973 closed, assigned to adaudenthun

[2019-04-15 20:40] magento-engcom-team commented on #21824
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#22128 by @jayankaghosh in 2.3-develop branch
Related commit(s):
 - [a56b9877a86235990c9dcb888c86a32cb251b8b3](https://github.com/magento/magento2/commit/a56b9877a86235990c9dcb888c86a32cb251b8b3)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-15 20:40] #21824 closed, assigned to jayankaghosh

[2019-04-15 20:40] magento-engcom-team commented on #21916
Hi @wclshashank. Thank you for your report.
The issue has been fixed in magento/magento2#22046 by @phoenix128 in 2.3-develop branch
Related commit(s):
 - [fa079c94c9c0a6d3cd7d9dca3b52d3394de50934](https://github.com/magento/magento2/commit/fa079c94c9c0a6d3cd7d9dca3b52d3394de50934)
 - [75684cadfe6231e352c959cbd0648612489b533a](https://github.com/magento/magento2/commit/75684cadfe6231e352c959cbd0648

[2019-04-15 20:40] #21916 closed, assigned to phoenix128

[2019-04-15 20:40] magento-engcom-team commented on #21976
Hi @dweerd. Thank you for your report.
The issue has been fixed in magento/magento2#22046 by @phoenix128 in 2.3-develop branch
Related commit(s):
 - [fa079c94c9c0a6d3cd7d9dca3b52d3394de50934](https://github.com/magento/magento2/commit/fa079c94c9c0a6d3cd7d9dca3b52d3394de50934)
 - [75684cadfe6231e352c959cbd0648612489b533a](https://github.com/magento/magento2/commit/75684cadfe6231e352c959cbd064861248

[2019-04-15 20:40] #21976 closed, assigned to phoenix128

[2019-04-15 20:54] InternetMedicineMan commented on #22252
I found the problem. It's a problem that seems to be related to customer groups when placing admin orders. The group would always reset to "General" for me. No mater how many times I set it to a wholesale price level. I would see wholesale pricing but when saving it would be retail pricing.

The issue was reported and resolved with this patch:
https://github.com/magento/magento2/commit/d77bc6acacc

[2019-04-15 21:04] amelojunior commented on #22231
temporary fix...

    <default>
        <payment>
            <cashondelivery>
                <active>1</active>
            </cashondelivery>
            <banktransfer>
                <active>1</active>
            </banktransfer>
        </payment>
    </default>

[2019-04-15 21:07] ebofi opened #22353 "setup:upgrade throwing sql errors after updating to Magento 2.3.1"
Hi,

We had updated our magento from Magento 2.1.14 => 2.3.1. After following magento official notification on the update process. We had completed the update to 2.3.1 via composer.

Right after we had cleared cache and run the php bin/magento setup:upgrade , what we got when executing this code was

php bin/magento setup:upgrade
Cache cleared successfully
File system cleanup:
/home/evc/public_htm

[2019-04-15 22:03] orlangur commented on #22353
@ebofi please check if something mentioned on https://stackoverflow.com/questions/8434518/mysql-foreign-key-constraint-is-incorrectly-formed-error works for you.

[2019-04-15 22:25] The-Krang opened #22354 "No download link in customer account after purchases in 2.3.1."
### Preconditions (*)
**Summary of the issue:**
There is no download link in the customer account after purchases, and the status shows "Pending", instead of "Available".

I have two installations of Magento 2.3.1 CE, both were uploaded from https://magento.com/tech-resources/download, and then installed on a paid web server, a Linux-based web host.  One of them is my store, the other one is a sta

[2019-04-15 22:28] The-Krang commented on #22354
I don't believe that I know what a "vanilla Magento instance " is, especially the "instance" part.

[2019-04-15 22:29] The-Krang commented on #22354
Oops, I closed this by mistake.

[2019-04-15 22:34] tomvoss commented on #22168
I'm unable to test this at the moment, but for future viewers of this issue, I believe the first time the command is run it works as intended. Subsequent issuing of the same command appears to succeed but no values are changed. If this behavior is confirmed this issue should be reopened.

[2019-04-16 03:07] kevinvuillemin opened #22355 "Import product quantity is empty after import"
### Preconditions (*)

1. Magento  2.3.1
2. Csv file to upload product, with column base_image and his value
3. This image have to be not exist in folder

### Steps to reproduce (*)

1. Go to admin (System - Import - Products)
2. Upload csv
3. Check data
4. Import

### Expected result (*)

1. Product imported with all informations :qty, price, image default (because this image not existed in folde

[2019-04-16 04:33] miteshdhaduk commented on #22338
@mageprashant Yes, you are right. But this is not working in Magento 2.2.8 and Magento 2.3.*(Not working in Firefox).

[2019-04-16 05:16] ebofi commented on #22353
@orlangur  The issue is from Magento Codes. So a proper instruction on the above case will be more preferred. Thanks for your help friend.

[2019-04-16 05:19] niravkrish commented on #22338
Code Is working Fine with Magento 2.3.
I am also check in Firefox Browser.

[2019-04-16 06:01] fohnbit commented on #11885
Hello,

please, where did I find this file?

Thank you!

[2019-04-16 06:16] jeffreytony commented on #8531
Thanks a lot! I have no idea for this problem already for a long long time.

[2019-04-16 06:25] miteshdhaduk commented on #22338
@mageprashant @niravkrish Yes you are right. But this is not work in Firefox 66.0.2 (64-bit) version.

[2019-04-16 06:27] miteshdhaduk commented on #22338
@ajijshekh123 Why you closed it?

[2019-04-16 06:30] ajijshekh123 commented on #22338
Sorry, @miteshdhaduk It was by mistake close the issue.

[2019-04-16 07:02] mhaack opened #26119 "Product resized image return same image url"
### Preconditions (*)
1. Magento 2.4
2. Available product with Image added
### Description (*)
A product query for resized images returns the identical image url for all different image sizes. Tested on 2.3.1.
### Steps to reproduce (*)
Use the following query to reproduce:
[code]

### Actual result (*)
All image urls for `image`, `thumbnail` and `small_image` are identical. For example:
[code]

#

[2019-04-16 07:41] DavidLambauer commented on #11322
This issue has never been fixed. Even in 2.3.1, the .user.ini says 754MB of memory_limit. Can someone explain why the docs and the .user.ini do recommend two different memory_limits?

[2019-04-16 07:47] engcom-backlog-nazar commented on #22352
Hi @sayedma
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-16 07:47] #22352 closed, assigned to nobody

[2019-04-16 07:47] gulshan-streammarket commented on #15427
Hove someone got any fix to this? I am also facing the same problem in Magento 2.2.7.

[2019-04-16 07:48] orlangur commented on #22353
@ebofi,

Are you able to reproduce it on a clean Magento installation?

[2019-04-16 07:48] engcom-backlog-nazar commented on #22348
Hi @ebofi
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-16 07:48] #22348 closed, assigned to nobody

[2019-04-16 07:50] ebofi commented on #22348
@engcom-backlog-nazar
This comes with general issues. Since i tried with similar enviroment on my other machine and saw the same errors.

[2019-04-16 07:52] ebofi commented on #22353
@orlangur  Nope, Only when we do a Upgrade from 2.1.14 to 2.3.1

[2019-04-16 07:52] engcom-backlog-nazar commented on #22348
@ebofi please try reproduce on clean magento without 3rth party extensions. Because i'm not able to reproduce steps you described on clean magento instance.

[2019-04-16 08:00] hostep opened #22359 "Don't copy ".github" directory when installing Magento using composer"
### Preconditions (*)
1. Magento 2.2.4 - 2.3.1

### Steps to reproduce (*)
1. Install a Magento version somewhere between 2.2.4 and 2.3.1 using composer
2. Look in your installation directory

### Expected result (*)
1. Not finding a directory `.github`

### Actual result (*)
1. Finding a directory `.github`

### Discussion
This directory got added over here in the Github repo for various Github r

[2019-04-16 08:03] engcom-backlog-nazar commented on #22270
Hi @danielpfarmer thank you for you report, this is expected behavior introduced in -> https://github.com/magento/magento2/pull/17695

[2019-04-16 08:11] colettamatteo98 opened #22360 "Checkout problem"
### Preconditions (*)

1.Magento ver. 2.3.1

### Steps to reproduce (*)

1. Make checkout choosing one payment method and shipping method (indifferent choice)

### Expected result (*)

The checkout should be function.

### Actual result (*)

1. Checkout does not function. When i press the button "place order" appear a point of interruption, so the checkout does not go on and does not function.
![c

[2019-04-16 08:15] hostep commented on #22270
@engcom-backlog-nazar: closing this makes no sense, since this ticket is about seeing the taxes in the dropdown. This might be a regression introduced by #17695.

[2019-04-16 08:19] engcom-backlog-nazar commented on #22270
@hostep  ok, the core issue that

does not affect in prices of dropdown attribute ?

[2019-04-16 08:31] ghost opened #22361 "Double initialization of classes"
### Preconditions (*)

1. Magento 2.3.1
2. Browser Google Chrome

### Steps to reproduce (*)

1. Inject code
[code]
 to class /vendor/magento/framework/View/Element/UiComponent/DataProvider/DataProvider.php in __construct() function
2. run command php bin/magento setup:upgrade (with developer mode)
3. open admin /sales/order/index

### Expected result (*)

1. Show one trace

### Actual result (*)

[2019-04-16 08:35] hostep commented on #22270
@engcom-backlog-nazar: not sure, haven't looked into the details yet, just reopened the issue because it looked like it was closed for the wrong reason.

Maybe @danielpfarmer can answer your question.

[2019-04-16 09:04] magento-engcom-team commented on #22355
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99222` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-16 09:12] danielpfarmer commented on #22270
Hey @hostep @engcom-backlog-nazar

Yes this affects stores which have their prices inserted in the backend excluding tax, and then display prices including tax. Tax is added using the tax rules.

The problem:

Magento displays the product price including tax on the pdp.

The dropdown then shows a price increase, in this case of £24.50, which shouldnt be there as it is the product tax amount and is

[2019-04-16 09:17] engcom-backlog-nazar commented on #22354
Hi @The-Krang thank you for you report, this is expected behavior the link will be available only if your done the invoice process, and paypal not process orders with only one product which costs 0.00.

[2019-04-16 09:17] #22354 closed, assigned to nobody

[2019-04-16 09:27] netzwelt-nishu commented on #7560
Hi,

Do anyone have any solution for the issue so far...? i upgraded to Magento 2.3.1 but issue is still there.

[2019-04-16 09:31] ioweb-gr opened #22363 "Layered navigation breaks HTML5 Validation"
### Preconditions (*)
1. Magento 2.3.1 using Luma Theme
2. Install sample data

### Steps to reproduce (*)
1. Install magento 2.3.1
2. Install sample data
3. Navigate to category women/tops-women/hoodies-and-sweatshirts-women.html
4. Pass this page through the validator at http://validator.w3.org/
5. Multiple html5 errors for attributes that are not defined in the specification.

### Expected resu

[2019-04-16 09:32] ioweb-gr commented on #22363
@magento-engcom-team give me 2.3-develop instance

[2019-04-16 09:32] magento-engcom-team commented on #22363
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-16 09:33] magento-engcom-team commented on #22363
Hi @ioweb-gr, here is your [Magento instance](https://i-22363-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22363-2-3-develop.instances.magento-community.engineering/admin](https://i-22363-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-16 09:34] ioweb-gr commented on #22363
Is it possible to receive a Magento instance with sample data installed? This one is empty.

[2019-04-16 09:41] orlangur commented on #22353
@ebofi I mean, by upgrading clean Magento from 2.1.14 to 2.3.1? Without this issue cannot be investigated, it is most likely caused by some of your shop customizations

[2019-04-16 09:50] afavata commented on #22045
@Nazar65 Sorry for the delay in replying but out of the office for some days...
That's weird. I did multiple tests and all the time the Paypal panel keep stuck with the round circle running infinitely. I have no problem with Paypal in the standard checkout process.
Any suggest?

[2019-04-16 09:53] orlangur commented on #21973
Warning is eliminated by mentioned PR but I doubt that

string(44) "PHPStan\DependencyInjection\ContainerFactory"

is now solved.

@kassner why did you include bootstrap instead of `app/autoload.php`?

[2019-04-16 09:54] Nazar65 commented on #22045
@afavata maybe this related to some of your configuration ?

[2019-04-16 09:56] orlangur commented on #22359
@hostep can't we achieve this with `.gitattributes`? https://stackoverflow.com/a/17069547

[2019-04-16 09:58] orlangur commented on #22361
@Faradey so what is the problem?

Could check stack trace in each occasion to understand in which context class is created?

[2019-04-16 09:59] engcom-backlog-nazar commented on #22359
Hi @hostep thank you for you report, weare not able to accept issue that not related to the github repo,  but we procced your ticket internal, and notify you by result, thanks for collaboration :+1:

[2019-04-16 10:03] magento-engcom-team commented on #22363
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99223` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-16 10:07] Faradey commented on #22361
Why after reload page does trace is one time?  The model has been one instance in my module, but after run command php bin/magento setup:upgrade it has two instance

[2019-04-16 10:16] engcom-backlog-nazar commented on #22360
HI @colettamatteo98 thank you for you report, i'm not able to reproduce following steps you described on clean magento 2.3-develop instance this may be related to your custom modules or themes.

[2019-04-16 10:16] #22360 closed, assigned to nobody

[2019-04-16 10:17] colettamatteo98 commented on #22360
This problem could be a theme problem?

[2019-04-16 10:18] afavata commented on #22045
@Nazar65  I'll double check and let you know...
thanks for your support

[2019-04-16 10:25] orlangur commented on #22361
@Faradey it can be created arbitrary amount of times.

Please check stack track in each case to understand why each particular instance was created.

[2019-04-16 11:17] engcom-backlog-nazar commented on #22361
Hi folks,  @orlangur , @Faradey there is stack trace with 1 and second call, in diff
![DeepinScreenshot_select-area_20190416141634](https://user-images.githubusercontent.com/40756439/56205398-56b81480-6052-11e9-9c15-dc0de87c7369.png)

[2019-04-16 11:26] kassner commented on #21973
@orlangur I use it because I'm loading the ObjectManager, mainly to validate my code against the generated factories/interceptors/etc, which gives me more safety and avoids ignoring tons of errors on phpstan, at the expense of a slower run.

But, I fixed that with custom code based on [this](http://martens.me/programming/phpstan-static-code-analyzer-for-magento-2.html). Now I rely on `app/autoload

[2019-04-16 11:40] engcom-backlog-nazar commented on #22361
@Faradey this class initialize with to different context, so basically there is no issue here. and if you clean cache tha it again initializes 2 times
![DeepinScreenshot_select-area_20190416143908](https://user-images.githubusercontent.com/40756439/56206652-84528d00-6055-11e9-9fa9-bad9f483fd79.png)

[2019-04-16 11:40] #22361 closed, assigned to nobody

[2019-04-16 11:47] Mitrajsinh opened #22366 "Magento 2 Stores -> Configuration redirects to dashboard"
Preconditions (*)
newly setup of magento 2.2.8.
Stores -> Configuration redirects to the Dashboard.

Steps to reproduce (*)
Enable : - Add Secret Key to URLs from Backend
Go to order section After That click on store > config

Expected result (*)
Access to the Stores -> Configuration page

Actual result (*)
I'm being redirected to the dashboard

[2019-04-16 11:58] sayedma commented on #22352
Hi, please refer to the error log at the end that I have shared. Since it was showing unhandled errors thrown. That's why I have brought the problem in the knowledge of the team.

[2019-04-16 12:02] stephenbori commented on #7560
@netzwelt-nishu  - are you using different timezones for admin users i.e en_US en_GB? - If so as a work-around try and set all your admin users to use the same timezone as your default store

[2019-04-16 12:12] krishprakash commented on #22366
@magento-engcom-team give me 2.2-develop instance

[2019-04-16 12:12] magento-engcom-team commented on #22366
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-16 12:13] magento-engcom-team commented on #22366
Hi @krishprakash, here is your [Magento instance](https://i-22366-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22366-2-2-develop.instances.magento-community.engineering/admin](https://i-22366-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-16 12:19] krishprakash commented on #22366
@magento-engcom-team give me 2.3-develop instance

[2019-04-16 12:20] magento-engcom-team commented on #22366
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-16 12:20] magento-engcom-team commented on #22366
Hi @krishprakash, here is your [Magento instance](https://i-22366-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22366-2-3-develop.instances.magento-community.engineering/admin](https://i-22366-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-16 12:21] engcom-backlog-nazar commented on #22353
Hi @ebofi, thank you for you report, i'm not able to reproduce steps you described on clean 2.1 to 2.3 seems like this related to your customizable modules.  also please verify that oreign key column and the referencing column are of the same type or length

[2019-04-16 12:21] #22353 closed, assigned to nobody

[2019-04-16 12:28] magento-engcom-team commented on #22366
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99227` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-16 12:29] krishprakash commented on #22366
**Note:** This issue is not reproduced on 2.3.x.

[2019-04-16 12:51] orlangur commented on #17492
This seems to be not fixed completely according to new linked PR.

[2019-04-16 13:43] codetheatres commented on #13207
Hi, I am using Magento 2.3 and I can see its working. I have one website and 2 stores viz main store, arab store and two store view viz main website store view and arab store view. I have selected locale as Arabic Kuwait. I can see the below result in frontend.
![AS](https://user-images.githubusercontent.com/46475317/56214567-c42c6b00-607b-11e9-9c4c-51140c1f8ccc.png)

[2019-04-16 13:46] codetheatres commented on #13207
Hi, I am using Magento 2.3 and I can see its working. I have one website and 2 stores viz main store, arab store and two store view viz main website store view and arab store view. I have selected locale as Arabic Kuwait. I can see the below result in frontend.
![AS](https://user-images.githubusercontent.com/46475317/56214745-11a8d800-607c-11e9-89e0-395a526400de.png)

[2019-04-16 13:50] AnthonyIp opened #22368 "Several errors after migrating from 1.9.4 to 2.3.1"
### Preconditions

1. Magento 2
2. PHP7.1
3. Plesk
4. Developer mode

### Steps to reproduce

1. Log to back office with admin account

### Actual result

[code]

-------------------------------------------------------------------------------------------

### Steps to reproduce

1. I don't know what is the cause of this issue

### Actual result

[code]

--------------------------------------------

[2019-04-16 13:52] engcom-backlog-nazar commented on #22368
Hi @AnthonyIp  , problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-04-16 13:52] #22368 closed, assigned to nobody

[2019-04-16 14:10] magento-engcom-team commented on #7623
Hi @dharake. Thank you for your report.
The issue has been fixed in magento/magento2#20182 by @JeroenVanLeusden in 2.3-develop branch
Related commit(s):
 - [8966f5f3a784085d53ee206b1492f708de672e55](https://github.com/magento/magento2/commit/8966f5f3a784085d53ee206b1492f708de672e55)
 - [204675e48423e7472761373cebab698787baffdc](https://github.com/magento/magento2/commit/204675e48423e7472761373ceba

[2019-04-16 14:10] #7623 closed, assigned to Jeroenll

[2019-04-16 14:10] magento-engcom-team commented on #11892
Hi @amithlalalj. Thank you for your report.
The issue has been fixed in magento/magento2#20182 by @JeroenVanLeusden in 2.3-develop branch
Related commit(s):
 - [8966f5f3a784085d53ee206b1492f708de672e55](https://github.com/magento/magento2/commit/8966f5f3a784085d53ee206b1492f708de672e55)
 - [204675e48423e7472761373cebab698787baffdc](https://github.com/magento/magento2/commit/204675e48423e7472761373

[2019-04-16 14:10] #11892 closed, assigned to Jeroenll

[2019-04-16 14:10] magento-engcom-team commented on #21753
Hi @crankycyclops. Thank you for your report.
The issue has been fixed in magento/magento2#22073 by @crankycyclops in 2.3-develop branch
Related commit(s):
 - [6076fdcd20ebc1b6e9e1f10b5c99ea4e28f46365](https://github.com/magento/magento2/commit/6076fdcd20ebc1b6e9e1f10b5c99ea4e28f46365)
 - [d32da36e6cbddc176524ac4b68dc6fb78e1eda90](https://github.com/magento/magento2/commit/d32da36e6cbddc176524ac4b

[2019-04-16 14:10] #21753 closed, assigned to crankycyclops

[2019-04-16 14:10] magento-engcom-team commented on #21375
Hi @krishprakash. Thank you for your report.
The issue has been fixed in magento/magento2#21501 by @Jitheesh in 2.3-develop branch
Related commit(s):
 - [30dbc79466e6fc383caae2cfa743eb81147e3540](https://github.com/magento/magento2/commit/30dbc79466e6fc383caae2cfa743eb81147e3540)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-16 14:10] #21375 closed, assigned to Jitheesh, shikhamis11

[2019-04-16 14:10] magento-engcom-team commented on #20830
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20832 by @priti2jcommerce in 2.3-develop branch
Related commit(s):
 - [7ee12b065765bd814c5c089da7ba9032569f6cf7](https://github.com/magento/magento2/commit/7ee12b065765bd814c5c089da7ba9032569f6cf7)
 - [921f7b90bbc32e2759bffdb93529b864b479f41b](https://github.com/magento/magento2/commit/921f7b90bbc32e2759bf

[2019-04-16 14:10] #20830 closed, assigned to nainesh2jcommerce, priti2jcommerce

[2019-04-16 14:10] magento-engcom-team commented on #21786
Hi @serhiyzhovnir. Thank you for your report.
The issue has been fixed in magento/magento2#21788 by @serhiyzhovnir in 2.3-develop branch
Related commit(s):
 - [8ed926626330c219c76d9752e513bc0861ea7d05](https://github.com/magento/magento2/commit/8ed926626330c219c76d9752e513bc0861ea7d05)
 - [3ebdbffedbe3505e1a3535a6042f2becdeea127b](https://github.com/magento/magento2/commit/3ebdbffedbe3505e1a3535a6

[2019-04-16 14:10] #21786 closed, assigned to serhiyzhovnir

[2019-04-16 14:52] sumeetmobiwebtech commented on #19347
How to solve this ?
i am also getting this error.

[2019-04-16 15:10] dharake commented on #7623
Ah wow! So you're not doing away with the web setup wizard? I thought this was being scraped from Magento.

[2019-04-16 15:14] bcerban opened #22370 "Filtering ignored config values in test framework causes error"
### Summary (*)

When running integration and functional tests, were are encountering an error due to the following configuration check.

In `dev/tests/integration/framework/Magento/TestFramework/Isolation/DeploymentConfig.php`, configuration values are filtered to exclude some configs (introduced in 44f174b8d24c5b130515e2da1745d4f5ce20cd53). This check compares filtered config to the original sto

[2019-04-16 15:19] The-Krang commented on #22354
I guess I did not make the situation completely clear.
The $0.00 amounts were done with "Zero Subtotal Checkout", and any amounts above $0.00 were tested in Braintree and PayPal.

I am well aware that Paypal does not process amounts like $0.00.  I have been using Magento 2 for years now.

Futhermore, last night I downloaded version 2.3.1 from Bitnami, installed it, set it up like version 2.3.0, bu

[2019-04-16 15:22] tiagosampaio commented on #19347
@sumeetmobiwebtech the PR to solve this issue is #19393.

[2019-04-16 15:37] The-Krang commented on #22354
Just to be even more clear, the **Live** **purchases** (Production, not sandbox) that I made through Braintree and Paypal had the same outcome as the ones using "Zero Subtotal Checkout", and that is with the status showing "Pending" instead of "Available", and no download link.

The screen-shots above show the "Zero Subtotal Checkout" tests that I did, but they also represent the Live purchases be

[2019-04-16 15:52] pjw345 opened #22372 "Sales Order - Reorder - No shipping methods available"
### Preconditions (*)

1. Fresh Install - Magento 2.3.0
2. Install sample data

### Steps to reproduce (*)

1. Create an order (adminhtml)
2. After the order has been created use Reorder to duplicate the order
3. Remove the original product ordered (Update Items and Quantities)
4. Add a different product to the order (Add Products)

### Expected result (*)

1. Select a shipping method
2. Select pa

[2019-04-16 16:39] simonlandry0 opened #22373 "Authorize.net Transaction Fails but Order goes through"
### Description of the issue(*)
We recently upgraded our site to 2.3.1 and started using the new authorize.net plugin. After testing it for error reporting, we realized that our orders are being successfully created even if authorize.net is returning that the transaction has been declined.

Successful payments go through but so do unsuccessful ones, this is a major issue and could be exploited on

[2019-04-16 16:41] simonlandry0 commented on #22373
@magento-engcom-team give me 2.3-develop instance

[2019-04-16 16:41] magento-engcom-team commented on #22373
Hi @simonlandry0. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-16 16:42] magento-engcom-team commented on #22373
Hi @simonlandry0, here is your [Magento instance](https://i-22373-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22373-2-3-develop.instances.magento-community.engineering/admin](https://i-22373-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-16 16:42] sidealice opened #22374 "magento2.3 - Group product can't add virtual product type."
### Description (*)
Group product can't add virtual product type in backend after saving.

### Expected behavior (*)
Add group product as expected

### Benefits
Virtual product also need group selling marketing tool

### Additional information
No.

[2019-04-16 16:49] shikhamis11 commented on #22372
@magento-engcom-team give me 2.3-develop instance

[2019-04-16 16:49] magento-engcom-team commented on #22372
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-16 16:50] magento-engcom-team commented on #22372
Hi @shikhamis11, here is your [Magento instance](https://i-22372-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22372-2-3-develop.instances.magento-community.engineering/admin](https://i-22372-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-16 16:50] simonlandry0 commented on #22373
Reproduced on vanilla 2.3.1 instance

[2019-04-16 17:11] sergiomendonca commented on #8588
I see this problem in Magento 2.1.9. Selected shipping method does not work, this practitice make this thing work but i cant trust this javascript code...

[2019-04-16 17:19] shikhamis11 commented on #22372
@pjw345 Thank you for your report.
I am not able to reproduce this issue on magento 2.3-develop instance with your provided step . I don't think sample data will make any difference, Please check if you are able to reproduce it on magento 2.3-develop instance also update here if it require any additional step to reproduce the issue.

[2019-04-16 17:20] ioweb-gr opened #22375 "CMYK images are rendered with inverted colors"
### Preconditions (*)
1. Magento 2.3.1
2. ImageMagick as image processor
3. One CMYK image

### Steps to reproduce (*)
1. Install Magento 2.3.1 and use ImageMagick as image processor.
2. Create a product and upload an image in CMYK color profile.
3. The image displays properly in backend in product edit page because it shows the original image.
4. Check the product in frontend and notice that the

[2019-04-16 17:20] ioweb-gr commented on #22375
@magento-engcom-team give me 2.3-develop instance

[2019-04-16 17:21] magento-engcom-team commented on #22375
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-16 17:21] magento-engcom-team commented on #22375
Hi @ioweb-gr, here is your [Magento instance](https://i-22375-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22375-2-3-develop.instances.magento-community.engineering/admin](https://i-22375-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-16 17:23] shikhamis11 commented on #22350
@Webroju as I said since the label already explained that it is text for `terms and conditions` so it will not be converted. It seems it is expected behaviour.

[2019-04-16 17:23] #22350 closed, assigned to nobody

[2019-04-16 17:27] ioweb-gr commented on #22375
Reproduced on Magento 2.3-develop instance

[2019-04-16 17:28] navaneeth008 opened #22376 "Key must be CRYPTO_AEAD_CHACHA20POLY1305_KEYBYTES long on Magento 2.3.1 bin/magento setup:upgrade"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. bin/magento setup:upgrade

### Expected result (*)

1.  The upgrade needs to be completed

### Actual result (*)

1. ......
Module 'Magento_Newsletter':
Module 'Magento_EncryptionKey':
Module 'Magento_Fedex':
Module 'Magento_GiftMessage':
Module 'Magento_GoogleAdwords':
Module 'Magento_GoogleAnalytics':
Module 'Magento_Ui':
Mo

[2019-04-16 17:31] simonlandry0 commented on #22373
Traced the bug to faulty logic in
/magento/module-authorizenet-acceptjs/Gateway/Validator/TransactionResponseValidator.php
[code]
function isResponseCodeAnError will return false if the responseCode (2 for failure in this case) is in a list of successfully error codes (1 and 4), this is faulty logic.

[2019-04-16 17:34] pjw345 commented on #22372
A fresh version of Magento 2.3.0 was installed, along with sample data, Braintree was configured as a payment method, along with flat shipping.

[2019-04-16 17:37] pjw345 commented on #22372
The only other thing I can thing of was that the hosting directory was pointed to httpdoc/pub and not httpdoc

[2019-04-16 17:37] shikhamis11 commented on #22374
@sidealice Thank you for your report.
 I am able to add virtual products into grouped product. please check this at 2.3-develop instance. message here if you still able to reproduce this issue.

[2019-04-16 17:37] #22374 closed, assigned to shikhamis11

[2019-04-16 17:37] pjw345 commented on #22372
Shipping methods flat rate and table rate were enabled, all others were disabled

[2019-04-16 17:38] navaneeth008 commented on #22376
It was an issue with the crypt having multiple lines

[2019-04-16 17:38] #22376 closed, assigned to nobody

[2019-04-16 17:38] shikhamis11 commented on #22372
are you able to reproduce this issue at 2.3-develop instance .. Please check

[2019-04-16 17:44] simonlandry0 commented on #22373
Pinging @nathanjosiah since he is the author of the file and this bug might be exploitable on unaware affected sites. Hotfix for 2.3.1 is probably needed.

[2019-04-16 17:48] nthink commented on #22373
We are experiencing the same issue, exactly as described above.

[2019-04-16 18:02] nathanjosiah commented on #22373
@simonlandry0 At first look, it does look as though the logic should be:
[code]

However, I could be wrong since authorize.net gives success messaging when the transaction is denied in some cases. The integration was extensively tested with countless combinations of authorize.net settings and testing data by our team so we are confused how this would have made its way all the way into a release. E

[2019-04-16 18:19] simonlandry0 commented on #22373
@nathanjosiah This would be en example of a failed transaction I tested earlier:
[code]

It's understandable how the confusing the auth.net response is. I was reading payement logs I saw the "Successful" message at first, but apparently it returns both a success and a error message at the same time when it fails which is super confusing.

According to https://developer.authorize.net/api/reference/

[2019-04-16 18:19] Webroju commented on #22350
the current behavior is not legal in Germany, because if I want to integrate certain terms & conditions in the contract, I have to link to the document, it would be nice if you reconsider your position.

[2019-04-16 18:27] nthink commented on #22373
For what its worth, here's our response.  It seems the authorization is successful but then the card is declined.  I'm not sure if that's what the "Successful" message indicates.

[code]

On the Auth.net end, this is what we see alongside the transaction:

[2019-04-16 18:28] shikhamis11 commented on #22350
@Webroju you can add your html content inside the content field . while click on the `Checkbox Text ` the content section will be opened in popup where you can add your details

[2019-04-16 18:39] Webroju commented on #22350
Ok this is not nice, but it will work. Thanks for your help!

[2019-04-16 18:45] hostep commented on #22350
@Webroju: just for some extra info, the reason why this was changed in Magento 2.2.8 is probably because a security issue was found and fixed.
See https://magento.com/security/patches/magento-2.3.1-2.2.8-and-2.1.17-security-update (search for `PRODSECBUG-2184`).

[2019-04-16 18:55] styzzz commented on #19795
has this issue been resolved? Same exact issue here. Running Magento 2.3.1 with php7.2

[2019-04-16 19:05] Webroju commented on #22350
@hostep: Thanks for the info.

[2019-04-16 19:05] hostep commented on #22359
@orlangur: it depends on how the `magento/magento2-base` module is getting build. Since that part of Magento Open Source isn't publicly available, unfortunately I can't say how it works.

I can however tell how the `.github` directory gets copied from the `magento/magento2-base` into the project directory itself (I think Magento calls it "marshalling"), and that is done by the [magento-composer-in

[2019-04-16 20:01] zaietsv commented on #19590
Yes, it is quite correct. If you have got a database from production environment you need to take a production encryption key as well. There are some values in the DB which are sensitive to encryption key. For example, PayPal credentials are encrypted this way.

[2019-04-16 20:26] ppostma1 commented on #20386
Thank you!
on Webapi/ErrorProcessor I have built out the following code to handle most of what I have encountered so far:

`public function maskException(\Exception $exception)
{
	$isDevMode = $this->_appState->getMode() === State::MODE_DEVELOPER;
	$stackTrace = $isDevMode ? $exception->getTraceAsString() : null;

	//Could-not-save wraps a parent exception that contains the details we need to work

[2019-04-16 20:39] MichaelThessel opened #22379 "Fetching child products of configurable product only returns salable products"
### Preconditions (*)

1. 2.4-develop

### Steps to reproduce (*)

1. Fetch child products for configurable product using:
(for example go to configurable PDP and start debugging here  `app/code/Magento/ConfigurableProduct/view/frontend/templates/product/view/type/options/configurable.phtml`)

 `$childProducts = $_product->getTypeInstance()->getUsedProducts($_product);`

### Expected result (*)

1

[2019-04-16 22:25] daniel-ifrim opened #22380 "Checkout totals order in specific store"
### Preconditions (*)

1. Magento 2.3.0
2.

### Steps to reproduce (*)

1. On website scope configuration change sort order for shipping
2. Admin > Stores > Configuration > Sales > Checkout Totals Sort Order > Shipping = 500
3. Clear cache

### Expected result (*)

1. On cart page in totals summary shipping row (titles + price) should come after Grand Total

### Actual result (*)

1. Shipping row

[2019-04-16 23:55] kevinvuillemin commented on #22355
At the same time, error handling is less developed in 2.2.x

[2019-04-17 04:46] krishprakash commented on #22380
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 04:46] magento-engcom-team commented on #22380
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 04:47] magento-engcom-team commented on #22380
Hi @krishprakash, here is your [Magento instance](https://i-22380-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22380-2-3-develop.instances.magento-community.engineering/admin](https://i-22380-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 05:06] krishprakash commented on #22380
@daniel-ifrim. Thank you for your report.
I am not able to reproduce the issue on clean magento 2.3-develop instance.
This may be related to your custom modules.

[2019-04-17 05:34] lfluvisotto commented on #20689
@magento-engcom-team give me 2.3.1

[2019-04-17 05:36] lfluvisotto commented on #20689
@magento-engcom-team give me 2.3.1 instance

[2019-04-17 05:37] magento-engcom-team commented on #20689
Hi @lfluvisotto. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-17 05:37] magento-engcom-team commented on #20689
Hi @lfluvisotto, here is your [Magento instance](https://i-20689-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-20689-2-3-1.instances.magento-community.engineering/admin](https://i-20689-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 06:48] magento-engcom-team commented on #22270
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99231`, `MAGETWO-99232` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 07:02] dmytro-ch commented on #22375
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 07:02] magento-engcom-team commented on #22375
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 07:03] magento-engcom-team commented on #22375
Hi @dmytro-ch, here is your [Magento instance](https://i-22375-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22375-2-3-develop.instances.magento-community.engineering/admin](https://i-22375-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 07:14] anowave commented on #8194
I believe there is still an issue.

$result = $attributeSet->getEntityTypeId() === $productEntityId; is returning false because:

$productEntityId = $this->eavConfig->getEntityType(\Magento\Catalog\Model\Product::ENTITY)->getId(); returns a string while

$attributeSet->getEntityTypeId() is an integer and the type comparison fails.

[2019-04-17 07:16] pixmin commented on #20033
Same issue here, order and invoice emails are not sent anymore after the 2.2.8 and 2.3.1 upgrade.

[2019-04-17 07:21] magento-engcom-team commented on #22375
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99233` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 07:25] orlangur commented on #20033
@rvinothraj @itsazzad @pixmin this cannot be investigated without a proper debug on your side. Set a breakpoint at line where error is thrown to see what is causing an issue.

Is it correct that you're not using XAMPP?

[2019-04-17 07:35] pixmin commented on #20033
@orlangur Correct, not using XAMPP (on Debian / Apache)

I have no error message for the order / invoice process, but I'm now going to check if I can reproduce and get more information with the problems reported by @visahardik

[2019-04-17 07:37] engcom-backlog-nazar commented on #10292
Hi @hostep, do we need to open this issue in **magento-composer-installer** repo ? as this not related to this github repo codebase ?

[2019-04-17 07:38] magento-engcom-team commented on #22370
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99235` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 07:48] engcom-backlog-nazar commented on #22349
Hi @sammaggs thank you for you report, i;m not able to reproduce following steps you described on clean magento 2.3-dev instance, seems like this issue not present in latest version, thank you for collaboration.

[2019-04-17 07:48] #22349 closed, assigned to nobody

[2019-04-17 07:48] dmytro-ch commented on #22379
Hi @MichaelThessel,
thank you for your report!

I don't think that the `Magento\ConfigurableProduct\Model\Product\Type\Configurable::getUsedProducts` method should return all the available child products. This method is being used by stock qty and price processors, options providers for configurable product etc.
[code]

However, I agree that the logic provided by `Magento\ConfigurableProduct\Model

[2019-04-17 07:58] hostep commented on #10292
@engcom-backlog-nazar: unfortunately issue reporting was disabled on https://github.com/magento/magento-composer-installer, only PR's are allowed there.
I think we can keep it over here.

[2019-04-17 08:02] engcom-backlog-nazar commented on #22060
Hi @allanpaiste thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3-develop instance, seems like this already fixed.
![deepin-screen-recorder_Select area_20190417110130](https://user-images.githubusercontent.com/40756439/56271061-4199bf00-6100-11e9-9394-bbdf787334c7.gif)

[2019-04-17 08:02] #22060 closed, assigned to nobody

[2019-04-17 08:04] engcom-backlog-nazar commented on #10292
@hostep ok, i was not seeing that there are no issue tab . :+1:

[2019-04-17 08:08] prakashsaran commented on #3877
we should truncate table design_change

[2019-04-17 08:13] daniel-ifrim commented on #22380
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 08:13] magento-engcom-team commented on #22380
Hi @daniel-ifrim. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 08:14] magento-engcom-team commented on #22380
Hi @daniel-ifrim, here is your [Magento instance](https://i-22380-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22380-2-3-develop.instances.magento-community.engineering/admin](https://i-22380-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 08:32] daniel-ifrim commented on #22380
@krishprakash I made a quick test. Changed sort totals order for shipping on website (not on Default Config scope). I did flush cache in admin.
The bug is there. Would you please take a look again ?

https://imgur.com/a/PZTpwBW

From cart page:
[code]

[2019-04-17 08:32] cmuench commented on #14166
I have the same issue like @QuentinFarizonAfrimarket with the small profile.
Tested in Magento 2.3.1 Commerce Edition with JMeter 5.1.1 and JMeter 5.0.

[2019-04-17 08:43] krishprakash commented on #22380
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 08:43] magento-engcom-team commented on #22380
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 08:44] magento-engcom-team commented on #22380
Hi @krishprakash, here is your [Magento instance](https://i-22380-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22380-2-3-develop.instances.magento-community.engineering/admin](https://i-22380-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 08:47] magento-engcom-team commented on #22063
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99236` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 09:00] orlangur commented on #20033
@pixmin,

Please try this. And then check stack trace in runtime to see what is an underlying error.

[2019-04-17 09:01] ashishjob0424 commented on #15490
@CompactCodeEU This module works for me thanks for your module and explanation. I just need to do below changes.
Replace
`if(null == $product->getCategory() || null == $product->getCategory()->getPath()){` With` if(null == $product->getCategoryIds()){`

And

[code]

[2019-04-17 09:03] magento-engcom-team commented on #22380
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99237` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 09:10] CompactCodeEU commented on #15490
@atwixfirster I do not think it would change anything no. Glad it helped you out

[2019-04-17 09:11] pixmin commented on #20033
@orlangur As I said, I have absolutely no error, at least nowhere I am looking: Browser console and network tab, Apache logs, Magento logs (all log files in var/log: system and debug log files).

[2019-04-17 09:17] amon81 commented on #11573
I've the same problem with other custom attribute field...
            ''type' => 'text',
            'backend' => '',
            'frontend' => '',
            'label' => 'Titolo, sottotitolo',
            'input' => 'text',
            'class' => '',
            'source' => '',
            'global' => \Magento\Eav\Model\Entity\Attribute\ScopedAttributeInterface::SCOPE_GLOBAL,
            'visibl

[2019-04-17 09:20] orlangur commented on #20033
@pixmin it's not about any error in logs. Set xdebug breakpoint at line where such exception is thrown and check stack trace and variable values before it is thrown.

[2019-04-17 09:28] amon81 opened #22384 "Custom product attribute in a search"
### Preconditions (*)
1. Magento CE 2.2.8
2. mysql  Ver 14.14 Distrib 5.7.25
3. PHP 7.0

### Steps to reproduce (*)
1. Custom Attribute created via InstallData.php
2. This is the field created
'ricercaTitolo' => array(
            'type' => 'text',
            'backend' => '',
            'frontend' => '',
            'label' => 'Titolo, sottotitolo',
            'input' => 'text',
            'cl

[2019-04-17 09:29] pixmin commented on #20033
@orlangur

I have no exception thrown... none.

[2019-04-17 09:30] orlangur commented on #20033
@pixmin you need to find a place in code where `Error sending email. We can't process your request right now.` message is created and set breakpoint there.

Usually this is some exception throwning.

[2019-04-17 09:34] pixmin commented on #20033
@orlangur Sorry, I might need to create a new issue as I am *not* having this error. I have absolutely no error anywhere. No indication that there is a problem with email sending except for the fact that I do not receive them...

[2019-04-17 09:41] amon81 commented on #22384
Ok the problem was the name of the attribute with camel case. thanks

[2019-04-17 09:41] #22384 closed, assigned to nobody

[2019-04-17 10:00] TechnoBuddhist commented on #7917
@nittn THANK YOU!! This resolved my issue! I successfully upgraded from 2.3.0 -> 2.3.1.

I noticed that .htaccess and .user.ini are still set to 756M in 2.3.1. Unless there is a good reason for them to be this then I would suggest devs to make the change. I won't make a pull request myself as I don't want to encroach on something I've got no knowledge of!!

[2019-04-17 10:03] TechnoBuddhist commented on #20684
@dandelionred Thank you, your link pointed me in the right direction to resolve my issue! I raised memory_limits in .htaccess and .user.ini to 2G from 756M.

[2019-04-17 10:43] hiren0241 commented on #22024
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 10:43] magento-engcom-team commented on #22024
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 10:44] magento-engcom-team commented on #22024
Hi @hiren0241, here is your [Magento instance](https://i-22024-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22024-2-3-develop.instances.magento-community.engineering/admin](https://i-22024-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 10:55] sanjay-github opened #22385 "Why is out of stock product having add to cart button in grids of sample data in magento 2.3.0 vanilla instance?"
### Preconditions (*)

1. Magento 2.3.0 with sample data.
2.

### Steps to reproduce (*)

1.Please install magento 2.3.0 instance with sample data and observe LifeLong Fitness IV product.
2.Observe this product on detail page  and on home page/grids.

### Expected result (*)

1. Product should not have Add to Cart button when it is out of stock.
2.

### Actual result (*)

1.Product is having Add t

[2019-04-17 11:03] ajijshekh123 commented on #22385
Please provide the Magento 2.3.0 instance.

[2019-04-17 11:04] engcom-backlog-nazar commented on #22385
hi @ajijshekh123 i already in process this issue.

[2019-04-17 11:06] maxxeh1 commented on #22344
I'd also like to add that even if you never had other store views, or you migrate from a Magento 1 then attribute values are saved on store views that Magento shouldn't care about. I don't believe the issue really lies in the fact that enabling single store mode should delete all store view values. I think the issue is that the admin panel clearly only pulls values from store id 0 when it's single

[2019-04-17 11:08] ajijshekh123 commented on #22385
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 11:08] magento-engcom-team commented on #22385
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 11:09] magento-engcom-team commented on #22385
Hi @ajijshekh123, here is your [Magento instance](https://i-22385-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22385-2-3-develop.instances.magento-community.engineering/admin](https://i-22385-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 11:09] engcom-backlog-nazar commented on #22385
HI @sanjay-github thank you for you report, this issue does not exist in 2.3-develop branch.
![DeepinScreenshot_select-area_20190417140836](https://user-images.githubusercontent.com/40756439/56283419-5e42f080-611a-11e9-963a-a565a2e29bee.png)

[2019-04-17 11:09] #22385 closed, assigned to ajijshekh123

[2019-04-17 11:10] engcom-backlog-nazar commented on #22385
@ajijshekh123 if you see that issue already hsa assigned another user please do not start verification process. thank you

[2019-04-17 11:11] jos-zz commented on #7623
Hello,
Thanks for the update.
Is it possible to apply this fix manually on a CE 2.2.6 instance?
Which files should be replaced?
Is this the correct one to replace
*/vendor/magento/framework/App/DocRootLocator.php* ?
Anything else I should be aware of?

Hassan Safieddine
hassan.safieddine@gmail.com

On Tue, Apr 16, 2019 at 6:11 PM Danny <notifications@github.com> wrote:

[2019-04-17 11:14] snoroozi commented on #22344
@maxxeh1 We are on the same page here. And I have also migrated from M1 last year and consistently face issues of wrong store scope attribute values displayed on frontend.

There also needs to be a way to 'reset' the values back to using default scope if merchant chooses.

At @orlangur steps for removal I can't say exactly as it's been over a year, but it was simply delete stores and websites from

[2019-04-17 11:28] AlterWeb commented on #19159
Hi, @engcom-backlog-nazar in witch version is this issue fixed? I'm think I have the same problem in version 2.3.1

[2019-04-17 11:32] magento-engcom-team commented on #22173
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99241`, `MAGETWO-99242` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 11:37] atwixfirster commented on #15490
@CompactCodeEU , why  did you mention me here?

Thanks!

[2019-04-17 11:51] magento-engcom-team commented on #22359
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99243`, `MAGETWO-99244` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 12:10] magento-engcom-team commented on #21789
Hi @Den4ik. Thank you for your report.
The issue has been fixed in magento/magento2#22250 by @Den4ik in 2.2-develop branch
Related commit(s):
 - [66bacdb4129b0fc7beff62f517d06fe8b4e623b7](https://github.com/magento/magento2/commit/66bacdb4129b0fc7beff62f517d06fe8b4e623b7)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-17 12:10] magento-engcom-team commented on #22238
Hi @yutv. Thank you for your report.
The issue has been fixed in magento/magento2#22267 by @VitaliyBoyko in 2.2-develop branch
Related commit(s):
 - [179bedf3de99244b384c97cf7b2be106967f47cf](https://github.com/magento/magento2/commit/179bedf3de99244b384c97cf7b2be106967f47cf)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-17 12:10] #22238 closed, assigned to VitaliyBoyko

[2019-04-17 12:10] magento-engcom-team commented on #18548
Hi @4ctobias. Thank you for your report.
The issue has been fixed in magento/magento2#22174 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [8611d14d2cd91683348d4df075e1ba7df6171a0d](https://github.com/magento/magento2/commit/8611d14d2cd91683348d4df075e1ba7df6171a0d)
 - [bbe03ea8d2e5394b8e02ad9a8b6c0762ffd64bd9](https://github.com/magento/magento2/commit/bbe03ea8d2e5394b8e02ad9a8b6c0762ffd

[2019-04-17 12:10] #18548 closed, assigned to Nazar65

[2019-04-17 12:10] magento-engcom-team commented on #20078
Hi @floorz. Thank you for your report.
The issue has been fixed in magento/magento2#20107 by @floorz in 2.2-develop branch
Related commit(s):
 - [63c592a1b35fbd5dc2917d49b6fc10a6ab6fb46c](https://github.com/magento/magento2/commit/63c592a1b35fbd5dc2917d49b6fc10a6ab6fb46c)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-17 12:10] magento-engcom-team commented on #20209
Hi @schmengler. Thank you for your report.
The issue has been fixed in magento/magento2#21946 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [2d291a73a65a6009ce99edf32569e484e6fc3a19](https://github.com/magento/magento2/commit/2d291a73a65a6009ce99edf32569e484e6fc3a19)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-17 12:10] magento-engcom-team commented on #7906
Hi @joebordo. Thank you for your report.
The issue has been fixed in magento/magento2#22078 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [744986b6b081c2f1e562ec25988a22a5e5970767](https://github.com/magento/magento2/commit/744986b6b081c2f1e562ec25988a22a5e5970767)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-17 12:17] magento-engcom-team commented on #7199
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99245` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 12:48] engcom-backlog-nazar commented on #13773
HI @craigcarnell  i'm not able to reproduce this issue on clean 2.3-develop instance, this may be related to some of custom modules. Or if your local in server set to different timezone wich not you have in you config in magento, then magento show in admin you timezone data wich defined in magento config, and in the tabel you have you timezone defined in server.

[2019-04-17 12:48] #13773 closed, assigned to nobody

[2019-04-17 12:59] CompactCodeEU commented on #15490
Wrong mention. My bad!

[2019-04-17 13:03] jitendra-cedcoss commented on #16456
@engcom-backlog-pb  Any update?

[2019-04-17 13:05] arslanfarooq commented on #21201
I have the same issue. Wasted whole day on it, did fresh install twice. Then came to this from another report that was closed.

If this is your way of nudging people to go for premium version of Magento, it won't work in the long term.  You guys will lose.

[2019-04-17 13:21] sumeetmobiwebtech commented on #19347
@tiagosampaio
would you please help me how to solve this issue step by step ?
#19393 because here i am not able to understand

[2019-04-17 13:29] GrishmaNayee opened #22388 "Admin panel Product Stock status is not automatically getting updated from out of stock to in-stock"
### Preconditions (*)

1. Magento 2.3.0
2. Magento Admin panel

### Steps to reproduce (*)

1. Login to the Admin panel
2. Navigate to catalog -> product
3. Select preferred product OR Click on Add new product  button
4. On product page change quantitiy to 0  and save then system automatically changing the stock status to "Out-of-stock".
5. Now again change the quantity to more than 0 and save, ob

[2019-04-17 13:34] rammohan-krish commented on #22388
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 13:34] magento-engcom-team commented on #22388
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 13:39] rammohan-krish commented on #22388
@magento-engcom-team give me 2.2-develop instance

[2019-04-17 13:39] magento-engcom-team commented on #22388
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-17 13:40] magento-engcom-team commented on #22388
Hi @rammohan-krish, here is your [Magento instance](https://i-22388-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22388-2-2-develop.instances.magento-community.engineering/admin](https://i-22388-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 13:49] magento-engcom-team commented on #22388
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99246` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-17 13:50] rammohan-krish commented on #22388
FYI, Issue is not reproduced on Magento 2.2

[2019-04-17 15:04] jos-zz commented on #20151
This issue has not been resolved yet. Please provide instructions on how to debug.
The marketplace being not accessible is a major issue and will result in negative reviews rendering Magento as a bad product.

[2019-04-17 15:50] gwharton commented on #22366
I got so fed up of this that I disabled adding Secret Key to URLs from Backend. After the update to 2.2.8 It changed from being a one off every now and again, to 100% of the time for me. Disabling secret key as workaround.

[2019-04-17 15:56] The-Krang opened #22390 "No download link in customer account after purchases in 2.3.1"
### Preconditions (*)

Hello again.  This is a continuance of the previous post that I put up, but it was closed.
Here is the link: https://github.com/magento/magento2/issues/22354

The problem still persists.

I guess I did not make the situation completely clear.
The $0.00 amounts in the tests were done with "Zero Subtotal Checkout", and the amounts **_above_** $0.00 were tested in Braintree and

[2019-04-17 16:10] AlterWeb opened #22391 "Rest API Magento 2.3.1 update product attribute not working as expected / documented"
### Preconditions (*)
1. Magento 2.3.1
2. Product attribute with attribute code "test_attribute" exists with the default frontend label "Test"

### Steps to reproduce (*)
1. Call the url https://domain.tld/rest/V1/products/attributes/test_attribute with a PUT request containing the following data:
{
  "attribute": {
    "default_frontend_label": "Test2"
  }
}

### Expected result (*)

1. The defau

[2019-04-17 16:14] AlterWeb commented on #22391
This was indeed on a vanilla Magento instance. I only added a attribute to test this behavior.

[2019-04-17 16:31] MichaelThessel commented on #22379
@dmytro-ch thanks for looking into this.

If not `Magento\ConfigurableProduct\Model\Product\Type\Configurable::getUsedProducts` what is the recommended way of accessing all child products of a config product?

[2019-04-17 16:33] johncarlson21 commented on #21879
Please provide some feedback on this issue as this is a needed functionality.

[2019-04-17 16:34] krishprakash commented on #22390
Hi @The-Krang. Thank you for your report.
Please explain in proper issue format.

[2019-04-17 16:34] #22390 closed, assigned to krishprakash

[2019-04-17 16:36] EmilyPepperman commented on #10485
I am having this same issue on Magento 2.3.1 !

[2019-04-17 17:02] ioweb-gr opened #22392 "Scrolling issue in backend pages | bouncing up and down"
### Preconditions (*)
1. Magento 2.3.x
2. A backend edit page that fits the window height exactly and has buttons on top for actions like "Save" "Delete".

### Summary (*)
This is very hard to reproduce on an environment but I've seen it happening in category edit page, product edit page and a lot of other module pages in all versions of Magento from 2.2.4 to 2.3.1.
There is probably a script that

[2019-04-17 17:02] ioweb-gr commented on #22392
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 17:02] magento-engcom-team commented on #22392
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 17:03] magento-engcom-team commented on #22392
Hi @ioweb-gr, here is your [Magento instance](https://i-22392-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22392-2-3-develop.instances.magento-community.engineering/admin](https://i-22392-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-17 17:07] ioweb-gr commented on #22392
Replicated on 2.3-develop instance.

Steps I tried:
1. Go to edit category
2. Expand the Schedule Design Update  section only and keep the other ones closed.
3. Scroll to bottom
4. Try to click the "up arrow" in scrollbar and notice the bounce.

![2019-04-17_20-05-16](https://user-images.githubusercontent.com/20220341/56306911-661b8880-614c-11e9-8f77-a3bdd16b7582.gif)

[2019-04-17 17:10] diamondavocado opened #22393 "404 error when attempting to change any product attribute settings in admin panel"
### Preconditions (*)

1. Magento 2.3.0, data imported from Magento 1.9 using the migration tool
2. Centos 7, Apache, php-fpm

### Steps to reproduce (*)
1. Visit Admin panel -> Stores -> Attribute -> Products
2. Choose an attribute (in my case "Size")
3. Note the URL is `https://example.com/admin/catalog/product_attribute/edit/attribute_id/200/` at this stage
4. Try to change any setting (e.g. Ca

[2019-04-17 17:14] shikhamis11 commented on #22392
Hello @ioweb-gr
Thank you for your report can you please also add details of your browser and os so that I could check on that.

[2019-04-17 17:15] ioweb-gr commented on #22392
Yes of course. I'm on Windows 10 x64 and I've seen this happen on firefox and google chrome.

[2019-04-17 17:18] aario opened #22394 "getImageUploadConfigData in template returns null causing crash"
### Preconditions (*)
1. Using an extension which calls template:
[code]
In its edit action in admin panel.
2. The extension is [magefan/module-blog](https://github.com/magefan/module-blog/)
3. Rendering the magento template crashes on line: 18
4. Magento 2.3.1
5. `magento/module-backend` version: 101.0.1

### Steps to reproduce (*)
1. Go to admin panel
2. Trigger any action that calls the above t

[2019-04-17 17:38] orlangur commented on #22394
@aario so why `$block->getImageUploadConfigData() comes null` happend?

[2019-04-17 17:41] orlangur commented on #22393
This is similar to https://github.com/magento/magento2/issues/22224 and a bunch of other issues, should be pretty straightforward to fix.

[2019-04-17 17:53] diamondavocado commented on #9307
@ishakhsuvarov I'm still having this issue on 2.3.0. I'm unable to change my attribute type from Text  Swatch to Dropdown, even if I truncate the swatch options table.

[2019-04-17 18:03] shikhamis11 commented on #22393
hi @diamondavocado
thsnk you for your report .. this issue is not reproduceable at magento 2.3-develop instance

[2019-04-17 18:41] MichaelThessel opened #22395 "config:set -le and -lc short form options don't work"
### Preconditions (*)

1. 2.3.1

### Steps to reproduce (*)

1. bin/magento config:set --scope default -lc <path> <value>

### Expected result (*)

1. -lc option is applied

### Actual result (*)

1. Error message appears:

`The "-c" option does not exist.`

The long form versions (--lock-env, --lock-config) of those options work fine

[2019-04-17 18:45] sivaschenko commented on #14885
Hi @rvoronovmeticulosity https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/Order/Shipment/Sender/EmailSender.php was introduced to work with data interfaces instead of the concrete model. So I believe https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/Order/Email/Sender/ShipmentSender.php can be marked as deprecated and client code ref

[2019-04-17 18:49] MichaelThessel opened #22396 "config:set fails with JSON values"
### Preconditions (*)

1. 2.3.1

### Steps to reproduce (*)

1. Try to set a config value for a config option that uses JSON values via the command line cli
2. i.e.: `bin/magento config:set --scope default cataloginventory/item_options/min_sale_qty '{"_q0efyLTwddknOffVxvtSNpjQYmv9eAe9":{"customer_group_id":32000,"min_sale_qty":1}}' --lock-config`

### Expected result (*)

1. Config is set to provi

[2019-04-17 19:42] gwharton opened #22397 "[2.2-develop] TinyMCE loads static content from wrong place when using CDN"
### Preconditions (*)
1. 2.2-develop

Note bug is not present in Magento 2.3 as it does not use tinymce any more.

### Steps to reproduce (*)
1. Deploy 2.2-develop
2. Change deployment mode to production
3. Deploy static content
4. Upload static content to separate web server
5. Set Static content urls to point to separate web server to serve static content
6. Add new product
7. Open Browser devel

[2019-04-17 19:44] gwharton commented on #22397
Reproduced on own test bed due to CDN requirements and access to static files.

[2019-04-17 19:45] The-Krang commented on #22390
**With all due respect**, this process is exasperating and sloppy.  I made a link https://github.com/magento/magento2/issues/22354 above for my post that was closed.  It appeared that the previous post was read without paying attention to the detail.  Now this one is closed too.  I don't have a lot of spare time to constantly **format** my posts just to have them closed over and over again.  Again

[2019-04-17 19:55] aario commented on #22394
Issue was with older version of the third party extension not initializing image upload block well. The block should be initialized as in:
`vendor/magento/module-catalog/Block/Adminhtml/Product/Helper/Form/Gallery/Content.php`
like:
[code]

[2019-04-17 19:55] #22394 closed, assigned to nobody

[2019-04-17 20:05] nickpiro commented on #22304
Having the same issue in 2.2.8

[2019-04-17 20:15] nickpiro opened #22398 "Google Analytics Not Recording Conversions 2.2.8"
We have seen this issue since Magento 2.2.5. We are currently using Magento 2.2.8.

Google Analytics has tracked just under 50% of our conversions this month so far.

### Preconditions (*)
1. Magento 2.2.8
2. Google Analytics

### Steps to reproduce (*)
1. Make various purchases on site.

### Expected result (*)
1. All purchases tracked via Google Analytics

### Actual result (*)
1. Only about hal

[2019-04-17 20:53] nocturnalfrog commented on #22366
Looks like https://github.com/magento/magento2/pull/18018 is to blame.

[2019-04-17 21:33] diamondavocado commented on #22393
I updated to 2.3.1 and the attribute options are now showing in the dropdown format on the front-end, however the back-end (admin panel) still reports the attribute as being a Text Swatch:

![large](https://user-images.githubusercontent.com/32345083/56322378-d502dc80-6160-11e9-8cf5-fbe2b492fe26.png)

![large](https://user-images.githubusercontent.com/32345083/56322384-d8966380-6160-11e9-94ed-893c5

[2019-04-17 21:46] orlangur commented on #22398
@nickpiro how you think such bug report can be investigated?

[2019-04-17 22:34] inkobject commented on #22398
Just a note of concurrence: I have seen the same behavior on my install from 2.2.5+. I have not been able to determine a reason.

[2019-04-17 23:27] magento-engcom-team commented on #22395
@kalpmehta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-17 23:28] kalpmehta commented on #22395
Reproduced on 2.3.1

[2019-04-17 23:29] kalpmehta commented on #22396
@magento-engcom-team give me 2.3-develop instance

[2019-04-17 23:29] magento-engcom-team commented on #22396
Hi @kalpmehta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-17 23:30] magento-engcom-team commented on #22396
Hi @kalpmehta, here is your [Magento instance](https://i-22396-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22396-2-3-develop.instances.magento-community.engineering/admin](https://i-22396-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 03:44] magento-engcom-team commented on #22395
:white_check_mark: Confirmed by @kalpmehta
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99254` were created

**Issue Available**: @kalpmehta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 03:50] kalpmehta commented on #22396
@MichaelThessel The value should be given like below I think but still it's not working for me as well.

`bin/magento config:set --scope default cataloginventory/item_options/min_sale_qty '{"32000":1}' --lock-config`

[2019-04-18 03:52] magento-engcom-team commented on #22396
:white_check_mark: Confirmed by @kalpmehta
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99255` were created

**Issue Available**: @kalpmehta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 04:27] Hailong commented on #7719
@mariamghalleb You can refer to my PR at https://github.com/magento/magento2/pull/22399, which would fix the problem with CAD.

[2019-04-18 04:55] DanielRuf commented on #22398
Might be useful to bisect this.
Which steps do we need to reproduce it in our test environment?

[2019-04-18 05:24] amarroni commented on #6126
Hi guys how are you?,

I create a very simple module with plugin inside in order to prevent this issue. https://github.com/amarroni/magento-framework-data-collection

Please is just a code to not touch the code.

Best,
Alejandro.

[2019-04-18 06:58] farhangithub27 opened #22400 "Fatal error: Class 'Codeception\Platform\Extension' not found"
### Preconditions (*)

1. Magento 2.3.1
2. Php 7.2.15
3. OS : Ubuntu 18.04 Bionic
4 Phpstorm 2019.1.1
4 Evnironemnt : Magento development

### Steps to reproduce (*)

1. bin/magento dev:tests:run unit
2. vendor/phpunit/phpunit/phpunit -c dev/tests/unit/phpunit.xml.dist

### Expected result (*)

1. A successful unit test for my Model Class
2.

### Actual result (*)

1. Fatal error: Class 'Codecepti

[2019-04-18 07:06] alessandrosiervo opened #22401 "Cart Page delete all Products after edit quantity of any products"
Hi,
i have this problem on Magento 2.3.1. Sorry for my language

### Summary:

I go in cart page and i have already some products ( example products A, B and C ) . I want edit quantity one of them ( example edit Qty product A from 1 to 2 ). After change quantity i click enter keyboard button for cart update.

The result:  all product are deleted from cart !!

### Preconditions:

Magento 2.3.1 inst

[2019-04-18 07:23] krishprakash commented on #22401
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 07:23] magento-engcom-team commented on #22401
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 07:24] magento-engcom-team commented on #22401
Hi @krishprakash, here is your [Magento instance](https://i-22401-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22401-2-3-develop.instances.magento-community.engineering/admin](https://i-22401-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 07:28] philippsander opened #22402 "PUT /V1/products/:sku/media/:entryId does not change the file"
### Preconditions (*)

1. Magento Commerce Edition 2.2.8
2. Have a Product with an image uploaded (Luma sample data provides this)

### Steps to reproduce (*)

1. Send the following request to "/V1/products/24-WG080/media/52"
base64_encoded_data is empty as this would bloat the issue-text

`{"entry":{"media_type":"image","label":"Label for my Image":1,"disabled":false,"types":["image","small_image

[2019-04-18 07:32] Puru2016 commented on #21059
Any solution in Magento 2.2.6 ? I am still facing this issue

[2019-04-18 07:38] magento-engcom-team commented on #22330
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99256` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 07:39] krishprakash commented on #22401
@magento-engcom-team give me 2.2-develop instance

[2019-04-18 07:39] magento-engcom-team commented on #22401
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-18 07:40] magento-engcom-team commented on #22401
Hi @krishprakash, here is your [Magento instance](https://i-22401-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22401-2-2-develop.instances.magento-community.engineering/admin](https://i-22401-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 07:41] alessandrosiervo commented on #22401
In Magento 2.3.0 there isn't this problem, only in 2.3.1. and 2.2.8 version

[2019-04-18 07:47] krishprakash commented on #22401
@magento-engcom-team give me 2.2.8-develop instance

[2019-04-18 07:47] magento-engcom-team commented on #22401
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-04-18 07:47] magento-engcom-team commented on #22402
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99257`, `MAGETWO-99258` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 07:50] engcom-backlog-nazar commented on #22400
HI @farhangithub27 thank you for you report, i'm not able to reproduce following steps you described please refer to ->
![DeepinScreenshot_select-area_20190418104931](https://user-images.githubusercontent.com/40756439/56345176-c7cd0880-61c7-11e9-8813-903a10c90ebe.png)
https://devdocs.magento.com/guides/v2.3/test/unit/unit_test_execution_cli.html

[2019-04-18 07:50] #22400 closed, assigned to nobody

[2019-04-18 07:54] engcom-backlog-nazar commented on #7874
@sjb9774 did you check related commit, with your environment ? is issue still exists ? or we can close this one issue ?

[2019-04-18 08:02] DeLuuk commented on #21059
@Puru2016 in the end I didn't get it working with standard Magento 2 unfortunately.

I did however install this extension that made it work.

[https://mirasvit.com/magento-2-extensions/sphinx-search-ultimate.html](https://mirasvit.com/magento-2-extensions/sphinx-search-ultimate.html)

[2019-04-18 08:03] krishprakash commented on #22401
@magento-engcom-team give me 2.2.8-develop instance

[2019-04-18 08:03] magento-engcom-team commented on #22401
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-04-18 08:14] ihor-sviziev commented on #21852
Hi @engcom-backlog-nazar,
I have this issue too.

Did you tried to reproduce this issue inside docker on image php:7.1?

[2019-04-18 08:18] engcom-backlog-nazar commented on #21852
Hi @ihor-sviziev with php7.1 and without docker. i thinks this may be related to environment in cloud, did you have this issue on local environment ?

[2019-04-18 08:29] krishprakash commented on #22401
Hi @alessandrosiervo. Thank you for your report.
I am not able to reproduce It may be page loading issue or session time out issue.
So please check after page loaded properly.

[2019-04-18 08:29] #22401 closed, assigned to krishprakash

[2019-04-18 08:36] philippsander commented on #22402
@Nazar65 Thanks for looking into this issue. keep in mind that I did not verfify this with 2.2-develop and 2.3-develop yet!

[2019-04-18 08:38] alessandrosiervo commented on #22401
Hi, thanks for your answer.
I don't understand what version is this istance but in 2.3.0 there isn't this problem but only in 2.3.1.

You can try in my test website https://www.keyhelmshop.it/new/

[2019-04-18 08:39] Nazar65 commented on #22402
@philippsander this issue present on 2.3-develop as well, i'm  working on this now :+1:

[2019-04-18 08:41] engcom-backlog-nazar commented on #20033
@pixmin did you have installed 3rd party extension ?

[2019-04-18 08:44] pixmin commented on #20033
@engcom-backlog-nazar None, it's a fresh install (on both 2.2.8 and 2.3.1)

[2019-04-18 08:46] engcom-backlog-nazar commented on #20033
@pixmin ok, so this instance installed on local environment or cloud ?

[2019-04-18 08:46] krishprakash commented on #22401
Hi @alessandrosiervo,
Thank you for your response.
I'm not able to reproduce this issue.
Issue may be related to your custom module.

[2019-04-18 08:49] pixmin commented on #20033
@engcom-backlog-nazar local environment I'm afraid.

But (just in case you missed that part), when I install a 2.2.7 or 2.3.0 on the very same environment, emails just work... I haven't gone through the process of diff'ing but versions to check what email-related changed...

[2019-04-18 08:56] engcom-backlog-nazar commented on #20033
@pixmin can you try sen email by php -r "mail('semw_emailAdress@ad.com','theme','body');"

[2019-04-18 09:19] larsroettig commented on #22304
Hi @nickpiro,
we have a fix as Patch for 2.2.8 currently it is not possible to fix this without breaking the [Backward compatiblty](https://devdocs.magento.com/guides/v2.3/contributor-guide/backward-compatible-development/). Maybee we will find way but I must ask the Team,

[code]

[2019-04-18 09:20] pixmin commented on #20033
@engcom-backlog-nazar One of the first thing I tried, email goes through instantly... And and, it also works on the same server with both 2.2.7 and 2.3.0...

Thanks for helping me debugging it!

[2019-04-18 09:21] vincentwinkel commented on #4528
Error still here in 2019 with Magento2.0. Any clue?

[2019-04-18 09:33] AnthonyIp opened #22404 "Can't update checkout cart item"
### Preconditions (*)

1. PHP7.1.28
2. Magento CE 2.3.1
3. Migrated from Magento CE1.9.4 to 2.3.1

### Steps to reproduce (*)

1. Add an item to cart
2. Go to checkout cart
3. Update the item by adding 1 more

### Expected result (*)

1. Product quantity in the cart updated

### Actual result (*)

1. Alert box error "Something went wrong while saving the page. Please refresh the page and try again

[2019-04-18 09:37] alessandrosiervo commented on #22401
I created the ticket for the port support and was told that it is a magento problem :(

[2019-04-18 09:39] alessandrosiervo commented on #22401
if you can try my test website https://www.keyhelmshop.it/new/ you can see the problem....

However, if there is nothing that can be done, I thank you and wait for the next version of magento xD.

Thanks for everything

[2019-04-18 09:41] mohitka commented on #22308
@shikhamis11 @magento-engcom-team
Is there anyone who can consider this issue to be reopened?

[2019-04-18 09:54] krishprakash commented on #22404
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 09:54] magento-engcom-team commented on #22404
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 09:54] engcom-backlog-nazar commented on #20033
@pixmin all instances installed via docker ?

[2019-04-18 09:55] magento-engcom-team commented on #22404
Hi @krishprakash, here is your [Magento instance](https://i-22404-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22404-2-3-develop.instances.magento-community.engineering/admin](https://i-22404-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 09:57] pixmin commented on #20033
@engcom-backlog-nazar No, manual install (tried both via "magento setup:install" and via the browser). I just download the archive from Magento's website, extract and install...

[2019-04-18 10:07] krishprakash commented on #22404
Hi @AnthonyIp, problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-04-18 10:07] #22404 closed, assigned to krishprakash

[2019-04-18 10:10] AnthonyIp commented on #22404
I don't think that is related to the migration as I tried to update a product that I created after the migration.

[2019-04-18 10:13] AsadDhothar commented on #3900
Got same issue in magento 2.2.7
`[2019-04-18 09:56:18] main.INFO: Broken reference: the 'notification.messages' tries to reorder itself towards 'user', but their parents are different: 'header.inner.right' and 'header' respectively. [] []
[2019-04-18 09:57:09] main.INFO: Broken reference: the 'notification.messages' tries to reorder itself towards 'user', but their parents are different: 'header.i

[2019-04-18 10:17] krishprakash commented on #22404
@AnthonyIp, I have also tested the magento clean instance but unable to reproduce this issue.
so review it once in clean instance.
And log this issue in https://github.com/magento/data-migration-tool repository.

[2019-04-18 10:20] orlangur commented on #17120
Duplicate of https://github.com/magento/magento2/issues/18557

[2019-04-18 10:20] #17120 closed, assigned to jignesh-baldha

[2019-04-18 10:53] hiren0241 commented on #22388
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 10:53] magento-engcom-team commented on #22388
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 10:53] magento-engcom-team commented on #22388
Hi @hiren0241, here is your [Magento instance](https://i-22388-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22388-2-3-develop.instances.magento-community.engineering/admin](https://i-22388-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 10:59] hiren0241 commented on #22388
@magento-engcom-team give me 2.2-develop instance

[2019-04-18 10:59] magento-engcom-team commented on #22388
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-18 11:00] magento-engcom-team commented on #22388
Hi @hiren0241, here is your [Magento instance](https://i-22388-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22388-2-2-develop.instances.magento-community.engineering/admin](https://i-22388-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 11:17] engcom-backlog-nazar commented on #20033
@pixmin ok, i'm reproduce this on 2.3.1 but not on 2.3-dev strange.

[2019-04-18 11:22] magento-engcom-team commented on #10292
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99260`, `MAGETWO-99261` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 11:27] mageprashant commented on #9032
any solution for this?

[2019-04-18 11:46] slackerzz commented on #10377
Actually, if you open your browser inspector e remove the `disabled` attribute from the Locale select you can change the locale and save :open_mouth:

[2019-04-18 11:58] abrarpathan19 opened #22406 "Store view specific labels cut in left navigation menu"
Store view specific labels cut in left navigation menu in cart price rule.

### Preconditions (*)

Magento 2.3.x

### Steps to reproduce (*)

1. Go to Admin
2. Marketing >> Cart Price rule
3. Labels >> Store View Specific Labels
4. Review the Main Websites and Main Website Store labels

### Expected result (*)

https://www.screencast.com/t/kQG9Kmwk

### Actual result (*)

https://www.screencast.co

[2019-04-18 12:01] lyusya-nnn opened #22407 "Top menu cache issue - 2.3.1"
### Preconditions (*)

1.Magento 2.3.1 with all cache types enabled

### Steps to reproduce (*)

1. Create 2-3 categories, set include in menu = Yes
2. On frontend click on any category page in top menu
3. Flush magento cache
4. Open the same category page
5. Open any other category page

### Expected result (*)

Just opened category is marked as active in top menu

### Actual result (*)

Both cat

[2019-04-18 12:02] krishprakash commented on #22406
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 12:02] magento-engcom-team commented on #22406
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 12:03] magento-engcom-team commented on #22406
Hi @krishprakash, here is your [Magento instance](https://i-22406-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22406-2-3-develop.instances.magento-community.engineering/admin](https://i-22406-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 12:03] pixmin commented on #20033
@engcom-backlog-nazar Fantastic! Looking forward to find out what's the issue...

[2019-04-18 12:08] rammohan-krish commented on #22407
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 12:08] magento-engcom-team commented on #22407
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 12:09] magento-engcom-team commented on #22407
Hi @rammohan-krish, here is your [Magento instance](https://i-22407-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22407-2-3-develop.instances.magento-community.engineering/admin](https://i-22407-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 12:09] magento-engcom-team commented on #22406
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99262` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 12:15] xchuki00 opened #22408 "Unable save product which has custom url rewrite (M 2.2.5,2.2.8)"
When I try to save product with custom rewrite, i get this error:
![Screenshot from 2019-04-18 13-45-46](https://user-images.githubusercontent.com/22961273/56359335-93fedc80-61e1-11e9-9b84-276a4f88b601.png)
Error is caused by sql select in function afterReplace in file Magento\CatalogUrlRewrite\Model\Category\Plugin\Storage, because of fetch custom url_rewrites without category.
### Preconditions

[2019-04-18 12:18] rammohan-krish commented on #22407
@magento-engcom-team give me 2.2-develop instance

[2019-04-18 12:18] magento-engcom-team commented on #22407
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-18 12:19] magento-engcom-team commented on #22407
Hi @rammohan-krish, here is your [Magento instance](https://i-22407-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22407-2-2-develop.instances.magento-community.engineering/admin](https://i-22407-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 12:26] xchuki00 commented on #22408
I was able reproduce issue on 2.2.8 too.

[2019-04-18 12:27] magento-engcom-team commented on #22407
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99263`, `MAGETWO-99264` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 13:15] gfernandes410 commented on #4703
I'm not sure if is the same error, but looks like a lot to me.
When I update a custom attribute of a product in multi stores, the thumbnail of this product is unset.
I don't lose the image, just the set up thumbnail.

Loading a product by `Magento\Catalog\Model\ProductRepository`.
I update same custom attribute and then save this using ProductRepository.
[code]
To fix it, I use `Magento\Catalog\Mo

[2019-04-18 13:17] magento-engcom-team commented on #22274
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99265`, `MAGETWO-99266` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 13:32] lyusya-nnn opened #22409 "Configurable products are shown on Select Associated Product modal"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1.Create a configurable product **Test 1** with 2 child products (color = red and color = black for the example)
2. Create a new simple product **Test 2** with color = red
3. Open the last created product **Test 2** in admin panel and convert it to configurable by adding child products (color = green, color = grey), do not change

[2019-04-18 13:35] driskell commented on #22251
@engcom-backlog-nazar Please can we reopen.

The changelog appears to refer to frontend guest checkout and not backend MOTO orders which have never required email and instead generated a random example.com placeholder email.

The configuration for the default email domain actually still exists so this is a bug. Default should be not required for MOTO (they are taking telephone calls to place order

[2019-04-18 13:48] driskell commented on #22251
The commit that rolled back this feature was here:

https://github.com/magento/magento2/commit/b1eece2f41e99329afd0bb682f2674c0680b258c#diff-b79fbcef70631d52e90840aaf9a0d94d

@joanhe do you know what the reason for removing this feature was? The commit has actually left the constant and the configuration itself dangling with no use. Would be great to see this restored for next version and if neces

[2019-04-18 13:53] rafaalvescit opened #22410 "[InvalidArgumentException] - Cache frontend 'default' is not recognized."
### Preconditions

1. Magento 2.2.7
2. PHP 7.1

### Steps to reproduce

1.php bin/magento setup:upgrade

### Expected result

1. Compilation complete

### Actual result

![print](https://user-images.githubusercontent.com/38295507/56361915-ef6ba300-61be-11e9-8486-57265a84f5ea.png)

I did a module to send the logs and exceptions to Microsoft Application Insights. So in this module, I did a plugin to

[2019-04-18 14:00] ioweb-gr opened #22412 "assignProductToCategories seems very slow"
### Summary (*)
I've created a custom command that updates the categories in the eshop programmatically. More specifically amongst other things it does the following
1. locates all products
2. Checks the current categories of the product.
3. Checks the parent categories of the already assigned categories.
4. Assigns the ones missing from the product category chain
5. Saves the new relation

To ach

[2019-04-18 14:12] rammohan-krish commented on #22409
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 14:13] magento-engcom-team commented on #22409
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 14:13] magento-engcom-team commented on #22409
Hi @rammohan-krish, here is your [Magento instance](https://i-22409-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22409-2-3-develop.instances.magento-community.engineering/admin](https://i-22409-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 14:32] engcom-backlog-nazar commented on #9609
HI @aschrammel i'm not able to reproduce following steps on 2.3-develop branch, seems like this issue not present here, please try upgrading.

[2019-04-18 14:32] #9609 closed, assigned to nobody

[2019-04-18 14:40] rammohan-krish commented on #22409
@magento-engcom-team give me 2.2-develop instance

[2019-04-18 14:40] magento-engcom-team commented on #22409
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-18 14:41] magento-engcom-team commented on #22409
Hi @rammohan-krish, here is your [Magento instance](https://i-22409-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22409-2-2-develop.instances.magento-community.engineering/admin](https://i-22409-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 14:47] parekhreena commented on #13983
Any update on this ?

[2019-04-18 14:50] magento-engcom-team commented on #22409
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99268`, `MAGETWO-99269` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 14:58] samsteele opened #22414 ""Select all" on admin product grid only passes the first page of products to grid actions since 2.3.1."
### Preconditions (*)

1. Fresh Magento Commerce 2.3.1 install.
2. Create more than 20 products.

### Steps to reproduce (*)

1. Navigate to the Catalog > Products grid in the admin area.
2. Click "Select All" in the first column of the product grid headers.
3. The label updates to say "X records found (X selected)"
4. Perform an action on all selected products (eg, Delete, Change Status...)

###

[2019-04-18 15:01] samsteele commented on #22414
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 15:01] magento-engcom-team commented on #22414
Hi @samsteele. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 15:01] magento-engcom-team commented on #22414
Hi @samsteele, here is your [Magento instance](https://i-22414-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22414-2-3-develop.instances.magento-community.engineering/admin](https://i-22414-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 15:06] samsteele commented on #22414
Replicated on 2.3-develop instance

[2019-04-18 15:12] sjb9774 commented on #7874
@engcom-backlog-nazar I just checked with the dev involved with testing that and he has pushed out a patch generated from that commit and has not had any further issues. I would recommend anyone facing this problem upgrade to 2.2.8 or 2.3, or apply a patch generated from that commit. Closing this issue.

[2019-04-18 15:12] #7874 closed, assigned to nobody

[2019-04-18 15:14] krishprakash commented on #22414
@magento-engcom-team give me 2.3-develop instance

[2019-04-18 15:14] magento-engcom-team commented on #22414
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 15:15] magento-engcom-team commented on #22414
Hi @krishprakash, here is your [Magento instance](https://i-22414-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22414-2-3-develop.instances.magento-community.engineering/admin](https://i-22414-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 15:18] funkyproject opened #22416 "Coupling beetwen Magento_Checkout::js/view/shipping.js:validateShippingInformation() and layout definition or view."
### Summary
On checkout shipping step, I reorganized the shipping address form and moved the postCode and countryId fields into a group.

I can't validate the shipping address without overriding the Magento_Checkout:js/view/shipping.js file and particulary the validateShippingInformation().

[code]

In my case, I need to change this to :
[code]

## Preconditions
1. Magento CE 2.3.1

## Steps to re

[2019-04-18 16:02] magento-engcom-team commented on #22410
Hi @rafaalvescit. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 16:03] magento-engcom-team commented on #22410
Hi @rafaalvescit, here is your [Magento instance](https://i-22410-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22410-2-3-develop.instances.magento-community.engineering/admin](https://i-22410-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 16:12] rafaalvescit commented on #22410
@magento-engcom-team the project that I working is runing in 2.2.7 version. I can't update this version at the moment.

[2019-04-18 16:18] magento-engcom-team commented on #22414
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99274` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-18 16:35] 00F100 opened #22417 "Markdown inside less file"
### Preconditions (*)

1. Magento ver. 2.1.7

### Steps to reproduce (*)

1. Open file magento/magento2-base/lib/web/css/docs/source/_actions-toolbar.less
2. Have markdown into LESS file

### Expected result (*)

1. only LESS content

### Actual result (*)

1. Markdown into LESS files

[2019-04-18 17:10] magento-engcom-team commented on #5021
Hi @vphat28. Thank you for your report.
The issue has been fixed in magento/magento2#21340 by @hostep in 2.2-develop branch
Related commit(s):
 - [47aee60795ad6bd41f32d64adeb1b1b4f076fa15](https://github.com/magento/magento2/commit/47aee60795ad6bd41f32d64adeb1b1b4f076fa15)
 - [8e19a732fd33619dac7c3390d9695739eac117cf](https://github.com/magento/magento2/commit/8e19a732fd33619dac7c3390d9695739eac11

[2019-04-18 17:10] magento-engcom-team commented on #13902
Hi @thlassche. Thank you for your report.
The issue has been fixed in magento/magento2#21340 by @hostep in 2.2-develop branch
Related commit(s):
 - [47aee60795ad6bd41f32d64adeb1b1b4f076fa15](https://github.com/magento/magento2/commit/47aee60795ad6bd41f32d64adeb1b1b4f076fa15)
 - [8e19a732fd33619dac7c3390d9695739eac117cf](https://github.com/magento/magento2/commit/8e19a732fd33619dac7c3390d9695739eac

[2019-04-18 17:10] magento-engcom-team commented on #19701
Hi @Rjgoolsby. Thank you for your report.
The issue has been fixed in magento/magento2#21961 by @hiren0241 in 2.2-develop branch
Related commit(s):
 - [bd87d77581c8c62d1df853c6504df79ba66727f3](https://github.com/magento/magento2/commit/bd87d77581c8c62d1df853c6504df79ba66727f3)
 - [544100fc4b5bcfd0339e7bb61a393e53839e89d7](https://github.com/magento/magento2/commit/544100fc4b5bcfd0339e7bb61a393e53

[2019-04-18 17:10] magento-engcom-team commented on #20366
Hi @usamahabib786. Thank you for your report.
The issue has been fixed in magento/magento2#22295 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [1ec99eecdcde8a702facfa1d3a5b308bae3f181c](https://github.com/magento/magento2/commit/1ec99eecdcde8a702facfa1d3a5b308bae3f181c)
 - [1b7a2e0b2396a600c50ebdef451465de2711d02f](https://github.com/magento/magento2/commit/1b7a2e0b2396a600c50ebde

[2019-04-18 17:11] shikhamis11 commented on #22393
Hi @diamondavocado
I checked at 2.3.1 instance . It is working fine. expect once I changed the `Catalog Input Type for Store Owner` to `dropdown` from `Text Swatch` or  vice versa from backend you need flush FPC .

[2019-04-18 18:09] MichaelThessel commented on #22396
@kalpmehta what I basically did was to set the value in admin. Then I did a `config:show` and copied the value from there. I would assume that the values in `config:show` and `config:set` should be identical. If that's not the case then I would think this would be another bug.

[2019-04-18 20:09] acceleratemedia commented on #15545
Also having this issue on 2.3.1 where the server is going down daily due to these queries.

[2019-04-18 20:57] qkgm828 opened #22419 "After migration, I can not click "save configuration" button"
### Summary (*)

after migration from 1.7.2 to 2.2.2, i can not click "Save and Continue" and "Save Configuration" button on Design Configuration. other buttons are clickable.

so i can not see any error message.
![save_configuration](https://user-images.githubusercontent.com/44738639/56390825-8f8eef80-61f2-11e9-81ae-0261711c8f4b.jpg)

### Examples (*)

1. Login to Admin
2.  Content ->Design -> Co

[2019-04-18 21:15] 00F100 commented on #22417
Hi @00F100. Thank you for your report.
To help us process this issue please make sure that you provided the following information:

* [X]  Summary of the issue
* [X]  Information on your environment
* [X]  Steps to reproduce
* [X]  Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following Steps to reproduce. To deploy vanilla Magento ins

[2019-04-18 21:15] magento-engcom-team commented on #22417
Hi @00F100. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-18 21:16] magento-engcom-team commented on #22417
Hi @00F100, here is your [Magento instance](https://i-22417-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22417-2-3-develop.instances.magento-community.engineering/admin](https://i-22417-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-18 22:53] japalekhin commented on #5980
I'm chiming in. Saving changes should clear the cache for that "object". I've also cleared the cache via SSH. I even tried reindexing and pesky HTML still persists.

[2019-04-18 23:10] magento-engcom-team commented on #18557
Hi @dankhrapiyush. Thank you for your report.
The issue has been fixed in magento/magento2#22340 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [d334e2e6808dd5d6e616dc34894710b02861a6f5](https://github.com/magento/magento2/commit/d334e2e6808dd5d6e616dc34894710b02861a6f5)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-18 23:10] magento-engcom-team commented on #12386
Hi @DigitalStartupUK. Thank you for your report.
The issue has been fixed in magento/magento2#20378 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [2eccce2ff17c7c061761273406ea828126756170](https://github.com/magento/magento2/commit/2eccce2ff17c7c061761273406ea828126756170)
 - [12498b5ed23c035338e1da342fb4aa80dfbae201](https://github.com/magento/magento2/commit/12498b5ed23c035338e1da34

[2019-04-18 23:10] #18557 closed, assigned to shikhamis11

[2019-04-18 23:10] #12386 closed, assigned to nmalevanec

[2019-04-18 23:10] magento-engcom-team commented on #16513
Hi @dpoltoratsky. Thank you for your report.
The issue has been fixed in magento/magento2#20772 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [4c71a227680c0ff48e3f2a02e7567e46de3664d8](https://github.com/magento/magento2/commit/4c71a227680c0ff48e3f2a02e7567e46de3664d8)
 - [b159dfb6004281991de5ee3f80936d69e65fe5ed](https://github.com/magento/magento2/commit/b159dfb6004281991de5ee3f809

[2019-04-18 23:10] #16513 closed, assigned to mage2pratik

[2019-04-18 23:10] magento-engcom-team commented on #21868
Hi @slackerzz. Thank you for your report.
The issue has been fixed in magento/magento2#21869 by @slackerzz in 2.3-develop branch
Related commit(s):
 - [2f49a5c430d1fc805ef0471b4d604d58b6ba0234](https://github.com/magento/magento2/commit/2f49a5c430d1fc805ef0471b4d604d58b6ba0234)
 - [3773c27d3f0d75ee2cf7a421c2c3453f96b9c02c](https://github.com/magento/magento2/commit/3773c27d3f0d75ee2cf7a421c2c3453f

[2019-04-18 23:10] #21868 closed, assigned to slackerzz

[2019-04-19 01:38] krishprakash commented on #22419
Hi @qkgm828. Thank you for your report. problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-04-19 01:38] #22419 closed, assigned to krishprakash

[2019-04-19 04:58] Nazar65 commented on #22414
Hi @s This is duplicate to httpsele https://github.com/magento/magento2/issues/22004

[2019-04-19 04:58] #22414 closed, assigned to sudhanshu-bajaj

[2019-04-19 05:12] adityarshah commented on #22312
- For customer token if  pass **all** in the API url then you need to pass website_id 0

- For customer token if you want it store wise then you need to pass store_code in the API url

    POST <host>/rest/<store_code>/V1/integration/customer/token

- But if you haven't configure any stores then pass default

    POST <host>/rest/default/V1/integration/customer/token

**And to fetch all store data

[2019-04-19 05:22] krishprakash commented on #22414
@Nazar65,
Thank you for verify this for duplication issue.

[2019-04-19 05:39] ssatish4v commented on #11754
Hi, I have same issue solve this using this css .gallery-placeholder{ width: 100%; }  But not done in mobile view.

[2019-04-19 07:07] ihor-sviziev commented on #6942
Hi @TomashKhamlai,

There is comment that this issue is reproducing on 2.3. Also it's not clear what status on 2.2.

Could you double check it? Thank you

[2019-04-19 07:34] magento-engcom-team commented on #22408
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99303`, `MAGETWO-99304` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-19 07:45] engcom-backlog-nazar commented on #22417
Hi @00F100   i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2019-04-19 07:45] #22417 closed, assigned to nobody

[2019-04-19 08:31] templatetuners commented on #12555
@peterjaap how did you fix this? I have created path to `app/code/Magento/ConfigurableProduct/view/adminhtml/web/js/variations/` and copied the latest `variations.js` there, but still same problem.

[2019-04-19 08:38] Wesdesignz commented on #20229
2.3.0 or 2.3.1? The fix should be available in 2.3.1

[2019-04-19 08:46] engcom-backlog-nazar commented on #22410
Hi @rafaalvescit thank you for you report, i'm not able to reproduce following steps you described, seems like this related to your custom modules.

[2019-04-19 08:46] #22410 closed, assigned to nobody

[2019-04-19 08:56] engcom-backlog-nazar commented on #22412
HI @ioweb-gr thank you for you report, such changes is backward incompatible, see>https://devdocs.magento.com/guides/v2.3/contributor-guide/backward-compatible-development/ ,
Please try use queue to perfomance your code , and split for batches.  https://devdocs.magento.com/guides/v2.3/extension-dev-guide/message-queues/message-queues.html
thanks for collaboration :+1:

[2019-04-19 08:56] #22412 closed, assigned to nobody

[2019-04-19 09:08] tnsezer commented on #21456
What is status of the issue?

[2019-04-19 09:22] Nazar65 commented on #22402
Hi @philippsander  I'm made a proper fix for this you can apply to your instance.

[2019-04-19 09:45] ketan-krish opened #22425 "wrong url redirect when edit product review from Customer view page"
### Preconditions (*)
1. Magento 2.3.X
2. Magento 2.2.X

### Steps to reproduce (*)
1. Navigate to Customer for edit
2. CUSTOMER INFORMATION tab -> Product Reviews -> Edit Review
3. After edit review -> click on save

### Expected result (*)
1. After save redirect to edit Customer page

### Actual result (*)
1. After save redirect review -> product -> index

[2019-04-19 09:48] magecomp commented on #21696
Fixed after patching.
Popup error was due to site was on maintainance mode.
Removing maintainance mode helped to get rid of that annoying popup at checkout. :)

[2019-04-19 09:49] krishprakash commented on #22425
@magento-engcom-team give me 2.3-develop instance

[2019-04-19 09:49] magento-engcom-team commented on #22425
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-19 09:50] magento-engcom-team commented on #22425
Hi @krishprakash, here is your [Magento instance](https://i-22425-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22425-2-3-develop.instances.magento-community.engineering/admin](https://i-22425-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-19 09:56] #22136 closed, assigned to nobody

[2019-04-19 09:57] krishprakash commented on #22425
@magento-engcom-team give me 2.2-develop instance

[2019-04-19 09:57] magento-engcom-team commented on #22425
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-19 09:58] magento-engcom-team commented on #22425
Hi @krishprakash, here is your [Magento instance](https://i-22425-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22425-2-2-develop.instances.magento-community.engineering/admin](https://i-22425-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-19 10:03] magento-engcom-team commented on #22425
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99305`, `MAGETWO-99306` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-19 10:14] niravkrish commented on #22085
Not Able To Reproduce in Morzilla Firefox Browser 66.0.2 (64-bit) in My Linux Mint  System.

[2019-04-19 10:34] lyusya-nnn opened #22427 "Product is not removed from the website during the import"
### Preconditions (*)

 Magento 2.3.1 with 4 websites (website codes base, b2b, b2r and b2c)

### Steps to reproduce (*)

1. Create a simple product with sku **test1** that is attached to all websites
2. Create a csv file with next content:
sku,product_websites
test1,b2b
3. Go to System -> Import, select Entity Type = Products, Import Behavior = Add/Update, Select File to Import = upload your CSV

[2019-04-19 10:43] engcom-backlog-nazar commented on #4806
Hi @Ctucker9233 this issue not reproducible on 2.2-develop branch.

[2019-04-19 10:43] #4806 closed, assigned to nobody

[2019-04-19 10:45] magento-engcom-team commented on #22373
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99307` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-19 11:31] wachdai opened #22428 "Admin user role issues about saving blocks."
### Preconditions (*)

Warning: array_intersect(): Argument #1 is not an array in /var/www/html/vendor/magento/module-admin-gws/Model/Models.php on line 1105
Magento 2.1.17 Commerce version
Magento instance with multiple website/store/store_view

### Steps to reproduce (*)

1. Create an admin role with custom Roles Resource(**not all**) and limited Role Scope(**not all**). For example: If your Mag

[2019-04-19 11:46] makvital commented on #21696
Can you provide the link for updated patch? I couldn't find it in the resource. https://magento.com/tech-resources/download#download2280

[2019-04-19 11:49] engcom-backlog-nazar commented on #22338
Hi @miteshdhaduk thank you for you report, iєm not able to reproduce followings steps you described on clean magento 2.3-develop and Firefox 66.0.2 (64-bit) version. please refer to -> [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/)

[2019-04-19 11:55] miteshdhaduk commented on #22338
@engcom-backlog-nazar I used php7.2.17. And currently I also checked and it is not working. I override updatePrice function using mixin. File execute but the function is not called.

[2019-04-19 12:31] aschrammel opened #22431 "Rest API Magento 2.4 order update overwrites existing item information"
### Preconditions (*)
magento 2.4-develop

### Steps to reproduce (*)
1. Place an order with a product with custom option.
2. On the order item in the database the custom options are stored in the `sales_order_item` table, `product_options` field in the `info_buyRequest` as "key": "value" pair.
3. Update the order using the Rest API (f.e. just hold order).

4. The `product_options` are manipulated

[2019-04-19 13:04] Sonal824 commented on #22353
@ebofi
have you solved issue ?
i am experiencing same after upgrading from magento 2.1.9 to 2.2.3

Thanks
Sona

[2019-04-19 13:12] kirtinariya1 commented on #12594
Still not working in latest released Magento 2.3.1

Any updated on this ?

[2019-04-19 13:30] orlangur commented on #22428
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2019-04-19 13:30] #22428 closed, assigned to nobody

[2019-04-19 13:31] orlangur commented on #22409
@mslabko ай-яй-яй :)

[2019-04-19 14:05] wakar commented on #17450
We're also facing same problem....libPNG version is 1.5.13 and OS is Centos7.

Should we downgrade the version?

[2019-04-19 14:16] Orstio commented on #17450
All I ended up doing was switching to ImageMagick instead of GD.  I think more and more people will face this issue as their servers upgrade the version of GD, and then it will be taken seriously and fixed, or everyone will just switch to using ImageMagick instead since it seems to work with Magento2.

[2019-04-19 14:19] eleventybillion commented on #22390
@The-Krang Did you manage to get your downloads working, I've just managed to sort today as I was experiencing the same issues since updating to 2.3.1.

[2019-04-19 14:23] magecomp commented on #21696
Try this
https://github.com/magecomp/Magento-Pre-Patched-Files/tree/master/Authorize.net%20patch%20files

[2019-04-19 14:39] magento-engcom-team commented on #22391
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99309`, `MAGETWO-99310` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-19 14:49] ebofi commented on #22353
@sona, We are working to resolve this we made some trial checks .

[2019-04-19 16:35] shikhamis11 commented on #22393
hello @diamondavocado I am closing this issue since I am not able to reproduce this issue. message here if you think this issue exists on magento 2.3-develop instance

[2019-04-19 16:35] #22393 closed, assigned to shikhamis11

[2019-04-19 16:37] shikhamis11 commented on #22392
hello @ioweb-gr . I tried on windows and linux as well . I am not able to reproduce this issue .. let me check if someone can reproduce this issue .

[2019-04-19 17:08] ioweb-gr commented on #22392
Hi, yes indeed it's very hard to reproduce because it depends on the resolution of the window and the inner contents of the page. I haven't been able to find the exact dimensions for both to replicate it consistently but it definitely exists. If I can do anything to help you replicate it please let me know.

[2019-04-19 17:19] joshbourke commented on #15545
Also having this issue on 2.3.1 where the server is going down daily...

[2019-04-19 18:00] raidoa commented on #15545
Having that issue as well. Unfortunately we haven't yet found a clean solution.
Yet currently we just kill the queries automatically after 30 seconds to keep the site running - so far it has been OK and has been the only way to keep the site up. For that we use "pt-kill".

Here's how we kill those INSERT search_tmp_* queries, maybe helps someone:
`pt-kill -h hostname -u username -p password --busy

[2019-04-19 20:11] danscan1712 commented on #12975
@baskuis
I actually started getting this issue again because of an item type (I think).  If possible look up the actual exception message in the log.  Occasionally that has something useful.  This error is one of the worst in magento.  The error message tells you nothing of value.

[2019-04-19 20:35] tzyganu commented on #15545
Additional info.
The problem (as @asebille says) it's not the actual insert, but the select to get the data. The large nubmer of joins with `catalog_product_index_eav` table is a real performance killer.
There is one join for every filter applied on the collection.
A solution that seems to work (actually hide the problem) was to use an integration with elasticsearch. So basically the product ids t

[2019-04-19 20:48] oyovadaniel commented on #21209
Seeing this issue on v2.3.1.

PHP Version:
PHP 7.1.28 (cli) (built: Apr  8 2019 17:57:59) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2018 Zend Technologies

[2019-04-20 04:53] mrtuvn opened #22433 "mass update attributes with "Select All" not actually update all"
### Preconditions (*)

1. Magento CE 2.3.1 (Composer version)
2. Enabled Developer mode
3. Sample data deployed
4. Grid settings Asynchronous indexing Disabled (default)

### Steps to reproduce (*)

1. Go to admin
2. Catalog > Products
3. In grid products select all product and select action "Update Attributes" . Grid show 2046 records found (2046 selected)
4. Choose any field for update value

##

[2019-04-20 05:00] mrtuvn commented on #22433
@magento-engcom-team give me 2.3.1 instance

[2019-04-20 05:00] magento-engcom-team commented on #22433
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-20 05:00] magento-engcom-team commented on #22433
Hi @mrtuvn, here is your [Magento instance](https://i-22433-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22433-2-3-1.instances.magento-community.engineering/admin](https://i-22433-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-20 05:03] mrtuvn commented on #22433
@magento-engcom-team how can i deploy sample data ?

[2019-04-20 05:30] krishprakash commented on #22433
Hi @mrtuvn. Thank you for your report.
This is duplicate to #22004 and #22414

[2019-04-20 05:30] #22433 closed, assigned to krishprakash

[2019-04-20 05:34] mrtuvn commented on #22004
I can confirm this problem exist in 2.3.1 vanila version
grid only pass all items of first page only not all item ids

[2019-04-20 06:02] bhavik43 opened #22434 "While add cart price rule from admin click on Condition drop-down arrow direction not change."
While add cart price rule from admin click on Condition drop-down arrow direction not change.

### Preconditions (*)
Magento 2.3

### Steps to reproduce (*)
1. Go to Admin
2. Marketing > Cart Price rule
3. Conditions > Click on +
4. Open/close and review the Drop-down arrow direction

### Expected result (*)
Drop down arrow should be changes as per other drop-downs.

### Actual result (*)
![issue1

[2019-04-20 06:05] krishprakash commented on #22434
@magento-engcom-team give me 2.3-develop instance

[2019-04-20 06:05] magento-engcom-team commented on #22434
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-20 06:06] magento-engcom-team commented on #22434
Hi @krishprakash, here is your [Magento instance](https://i-22434-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22434-2-3-develop.instances.magento-community.engineering/admin](https://i-22434-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-20 06:13] magento-engcom-team commented on #22434
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99316` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-20 07:41] DeepPopat commented on #22338
Hello @engcom-backlog-nazar

I have checked this issue with the fresh installation (Magento 2.3.*) in my local system. with the Firefox latest version. I have also attached the gif over here.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32391312/56454404-a0b03b80-636d-11e9-9842-4f6f900d3f47.gif)

[2019-04-20 08:19] raidoa commented on #15545
@tzyganu in our case if we run any of those queries without the INSERT (so just the SELECT), they return results around 0.0460 seconds.
Thanks for the idea regarding Elasticsearch, we'll try that too.

[2019-04-20 11:19] bhavik43 opened #22435 "Change store view in admin text mismatch with remove icon issue in popup"
### Preconditions (*)
Magento 2.3.x

### Steps to reproduce (*)
1. Admin >> Reports >> Products >> Views/Best Sellers

2. Change store view from default current store

3. Review the popup design

### Expected result (*)
Text should not be mismatch with cross icon.

### Actual result (*)
![issue2](https://user-images.githubusercontent.com/49804008/56456603-2511b700-638c-11e9-9fc3-80f9fbd5dbea.png)

[2019-04-20 11:23] krishprakash commented on #22435
@magento-engcom-team give me 2.3-develop instance

[2019-04-20 11:23] magento-engcom-team commented on #22435
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-20 11:24] magento-engcom-team commented on #22435
Hi @krishprakash, here is your [Magento instance](https://i-22435-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22435-2-3-develop.instances.magento-community.engineering/admin](https://i-22435-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-20 11:30] krishprakash commented on #22435
@magento-engcom-team give me 2.2-develop instance

[2019-04-20 11:30] magento-engcom-team commented on #22435
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-20 11:31] magento-engcom-team commented on #22435
Hi @krishprakash, here is your [Magento instance](https://i-22435-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22435-2-2-develop.instances.magento-community.engineering/admin](https://i-22435-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-20 11:35] krishprakash commented on #22435
Hi @bhavik43. Thank you for your report.
I'm not able to reproduce this issue.

[2019-04-20 11:35] #22435 closed, assigned to krishprakash

[2019-04-20 12:07] jakwinkler opened #22436 "Products are not merged in shopping cart into 1 row"
### Preconditions (*)

1. Magento 2.2.5, Commerce Edition
2. Persistence Shopping Cart: disabled

### Steps to reproduce (*)

1. Login as customer
2. Go to category page
3. Add product to shopping cart
4. Logout
5. Visit **product page** you added to cart
6. Add prodcut to shopping cart

### Expected result (*)

1. Either products are merged into 1 row, or there is only 1 instance of the product i

[2019-04-20 12:11] mrtuvn commented on #22004
![Screenshot from 2019-04-20 19-07-58](https://user-images.githubusercontent.com/1908873/56457080-ec7bd880-639f-11e9-979b-f1ad5d0410d4.png)
the variable **selected** seem set wrong value because in this selection value should be max total records

[2019-04-20 12:18] krishprakash commented on #22436
Hi @qsolutions-pl. Thank you for your report.
This issue already fixed and merged in related PR #21375

[2019-04-20 12:18] #22436 closed, assigned to krishprakash

[2019-04-20 13:26] aschrammel commented on #22431
It's not possible to reproduce on remote instance, as I don't have database access to this instance.

[2019-04-20 13:31] Karlasa commented on #22434
@krishprakash
Are you sure this is really an issue?
By default conditions dropdown is focused and that's why dropdown arrow is pointed up not down as in default  (non focus state) and as in non focus state dropdown will be removed it has no other state to show.

I think this is expected behaviour and should not be counted as issue.

Cheers,

[2019-04-20 14:02] krishprakash commented on #22434
@Karlasa Thanks for your response.
It is working fine in Magento 2.2.x and this is not Magento's expected behavior.
You can review in next drop-down behavior which is in Action > Apply while add cart price rule.
I hope you can understand.
Thanks.

[2019-04-20 14:09] skdsg opened #22437 "Make Relevance sort order available for sorting catalog product list through admin panel"
I am using Magento v 2.3.0 While working with the search issue I found out that magento search list the products with relevance sort order but as soon as you go to next page the default sorting option selected for product listing through admin panel takes over. Also, when you go back to page 1 via pagination the results change as they are being listed by that default option such as position, price

[2019-04-20 14:12] skdsg commented on #22437
This is a new thing. How can I describe to reproduce it? I need some guidance here so I can start working on it. Thanks

[2019-04-20 15:50] Ctucker9233 commented on #22436
@krishprakash That PR has been closed for some reason. Please link the PR that fixes this in the 2.2 branch.

[2019-04-20 15:57] Ctucker9233 commented on #21696
@engcom-backlog-nazar can you link the 2.2 PR then? Thanks.

[2019-04-20 16:25] magento-engcom-team commented on #21753
Hi @crankycyclops. Thank you for your report.
The issue has been fixed in magento/magento2#22072 by @crankycyclops in 2.2-develop branch
Related commit(s):
 - [aaae03f8e964c5b097d17b2c74e578ce33b26f80](https://github.com/magento/magento2/commit/aaae03f8e964c5b097d17b2c74e578ce33b26f80)
 - [e644ea7da8381ecc3db0e0d011eee9ef825858d1](https://github.com/magento/magento2/commit/e644ea7da8381ecc3db0e0d0

[2019-04-20 16:25] magento-engcom-team commented on #7623
Hi @dharake. Thank you for your report.
The issue has been fixed in magento/magento2#22369 by @JeroenVanLeusden in 2.2-develop branch
Related commit(s):
 - [10de6de532aea6ca7a7b58334387f126e151dee2](https://github.com/magento/magento2/commit/10de6de532aea6ca7a7b58334387f126e151dee2)
 - [40b5d2e2493f5ad8943203e7af920d703c47d499](https://github.com/magento/magento2/commit/40b5d2e2493f5ad8943203e7af9

[2019-04-20 16:25] magento-engcom-team commented on #11892
Hi @amithlalalj. Thank you for your report.
The issue has been fixed in magento/magento2#22369 by @JeroenVanLeusden in 2.2-develop branch
Related commit(s):
 - [10de6de532aea6ca7a7b58334387f126e151dee2](https://github.com/magento/magento2/commit/10de6de532aea6ca7a7b58334387f126e151dee2)
 - [40b5d2e2493f5ad8943203e7af920d703c47d499](https://github.com/magento/magento2/commit/40b5d2e2493f5ad8943203e