[2020-01-14 05:30] erikhansen commented on #25099
After looking at this a bit more, I'm also seeing what @aliomattux [mentioned above](https://github.com/magento/magento2/issues/25099#issuecomment-561836273), where `/media/catalog/category/` is getting prepended to the image path. So while the patch does seem to fix the issue (and the image shows on the frontend), proceed with caution.

[2020-01-14 05:55] sudheers-kensium commented on #26344
@jorgb90 I am closing this issue. Feel free to reopen if you have any issue.

[2020-01-14 05:55] #26344 closed, assigned to sudheers-kensium

[2020-01-14 07:20] magento-engcom-team commented on #26343
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30402` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 08:10] engcom-Foxtrot commented on #26346
Hello, @Zyles.
Currently, Magento Two-Factor Authentication (2FA) is not bundled out-of-the-box in the Magento 2 GitHub repository. But you can get it in [MSP TwoFactorAuth repository](https://github.com/magento/magespecialist_TwoFactorAuth). Please refer to its README.md for the installation instructions.

[2020-01-14 08:10] #26346 closed, assigned to nobody

[2020-01-14 08:47] magento-engcom-team commented on #26254
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30404` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 08:48] chris-pook commented on #26375
The above instance request did not work, tryinga 2.4 one...

@magento give me 2.4-develop instance

[2020-01-14 08:48] magento-engcom-team commented on #26375
Hi @chris-pook. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 08:48] magento-engcom-team commented on #26375
Hi @chris-pook, here is your [Magento instance](https://i-26375-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26375-2-4-develop.instances.magento-community.engineering/admin](https://i-26375-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 08:49] engcom-Charlie commented on #26243
Hello @WinstonN @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-01-14 08:54] chris-pook commented on #26375
Can confirm this is still an issue on 2.4-develop, tested on instance above.

![image](https://user-images.githubusercontent.com/4628660/72328785-7d6fae00-36ab-11ea-98d5-4a0d8ac988ad.png)

[2020-01-14 09:25] magento-engcom-team commented on #25735
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30407` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 09:54] magento-engcom-team commented on #26203
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30408` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 09:59] engcom-Hotel commented on #26295
Hello @PaulWatt
[code]
structure is not valid for overriding theme layout.
How to override theme layouts you can read in this [topic](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/layout-override.html).

So i have to close this issue.

Thanks for your report and collaboration!

[2020-01-14 10:06] engcom-Hotel commented on #26330
Hello @jchandani
Could you try to do this action with using a `db_schema.xml`?
More about configuration of `db_shema ` you can read in this [topic](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/db-schema.html).

Thanks for your report and collaboration!

[2020-01-14 10:13] devchris79 commented on #26377
I think this is a possible duplicate of #26310

[2020-01-14 10:31] twosg commented on #24926
Personally I would prefer letting the "disabled" table(s) and data untouched while running `setup:upgrade` after disabling modules. If you really would want to delete the table and its (possibly important) data, you could run `setup:upgrade --cleanup_mode=1` or something similar. Because then you know that you do not want the data.

[2020-01-14 10:40] sunbeamshawls opened #26379 "UNABLE TO CHANGE QUANTITY FROM BACKEND. receiving error Tier prices data should be array, but actually other type is received"
### Preconditions (*)

1. magento 2.3.3
2. Different price tier for wholesale customers

### Steps to reproduce (*)
1. catalog>product>select the product
2. trying to change the quantity but facing error Tier prices data should be array, but actually other type is received

### Expected result (*)
1. Quantity should be updated when i click save button from the backend

### Actual result (*)
1. not

[2020-01-14 10:40] engcom-Charlie commented on #26368
@Kindlebit-Kbs Hello, could You please provide more details? How exactly do You add custom values to the quote?
Thanks for your collaboration!

[2020-01-14 10:41] engcom-Echo commented on #26350
Hi @MichaelThessel. Thank you for your report.

Unfortunately, I am not able to reproduce these issues.
Please specify in which area or block the buttons are incorrectly displayed.

[2020-01-14 10:41] akartavtsev commented on #25300
@magento give me 2.4-develop instance

[2020-01-14 10:41] magento-engcom-team commented on #25300
Hi @akartavtsev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 10:42] sunbeamshawls commented on #26379
@magento give me 2.4-develop instance

[2020-01-14 10:42] magento-engcom-team commented on #26379
Hi @sunbeamshawls. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 10:42] magento-engcom-team commented on #25300
Hi @akartavtsev, here is your [Magento instance](https://i-25300-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25300-2-4-develop.instances.magento-community.engineering/admin](https://i-25300-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 10:43] magento-engcom-team commented on #26379
Hi @sunbeamshawls, here is your [Magento instance](https://i-26379-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26379-2-4-develop.instances.magento-community.engineering/admin](https://i-26379-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 10:44] sunbeamshawls commented on #21738
what about magento 2.3.3  , its not working

[2020-01-14 10:44] sunbeamshawls commented on #21738
what about magento 2.3.3 , its not working

[2020-01-14 10:50] engcom-Charlie commented on #7299
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-14 10:50] #7299 closed, assigned to engcom-Charlie

[2020-01-14 10:50] engcom-Charlie commented on #19865
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-14 10:50] #19865 closed, assigned to engcom-Charlie

[2020-01-14 11:13] ghost opened #26380 "Cannot run PHPUnit in 2.3.3 due to Mcrypt deprecation"
Attempting to run PHPUnit under Magento 2.3.3 on PHP 7.1.33 and I get

`PHPUnit\Framework\Exception: Deprecated: Function mcrypt_module_open() is deprecated in /var/www/src/public/vendor/magento/framework/Encryption/Adapter/Mcrypt.php:55.`

In Mcrypt.php, the mcrypt functions are prepended already with the error suppressor.

I tried adding `error_reporting(E_ALL & ~E_DEPRECATED);` into the PHPUnit

[2020-01-14 11:36] willtran opened #26382 "Security issue: exposed admin url by going to {{base_url}}/0"
### Preconditions (*)
1. Magento 2.3, 2.4-develop

### Steps to reproduce (*)
1. On any version of Magento, configure the following:
2. admin/url/use_custom_path = 1
3. admin/url/custom_path to any value (valid url)
4. Navigate to site url /0 ( https://www.example.com/0 )

### Expected result (*)
1. 404 page

### Actual result (*)
1. 302 Redirect to admin/url/custom_path

### More info:
If `admin/

[2020-01-14 11:41] engcom-Echo commented on #26350
Hi @MichaelThessel
Please provide your configuration render display buttons PP.

[2020-01-14 11:46] engcom-Charlie commented on #26210
Hello @sprankhub @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-01-14 11:53] willtran commented on #26382
Cause of the problem:

\Magento\Framework\App\AreaList::getCodeByFrontName is responsible for setting area.

[code]
if ($areaInfo['frontName'] == $frontName) {
                return $areaCode;
            }
[code]

[2020-01-14 11:56] magento-engcom-team commented on #26375
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30410` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 11:56] DanielRuf commented on #26382
Please responsibly report this to the relevant people, not in the public issue tracker. Please send an email to securityinfo@magento.com.

[2020-01-14 11:56] #26382 closed

[2020-01-14 12:08] bayas025 commented on #19463
Facing same issue for me while upgrading Magento 2.2.9 to 2.3.1, Please let me know if anyone found any solution.

[2020-01-14 12:14] DanieliMi opened #26384 "Store switcher redirects to homepage for multistore setup with different domains"
### Preconditions (*)

1. 2.3.3
2. More than one store view
3. Separate domain for the store views (default -> mage.local, second store view -> test.mage.local)
Apache vhost:
[code]
4. Setup base urls for both store views in Stores > Settings > Configuration > General > Web
5. Create a category (it can be reproduced with cms pages too)

### Steps to reproduce (*)

1. Go to mage.local
2. Go to cate

[2020-01-14 12:19] sivaschenko commented on #24422
Issue MAGETWO-96403 was closed as NOT A BUG. Here is the description:

Discount for shipping amount does not applied in case of fixed amount discount for whole cart

**Steps to reproduce:**
- Create product with price - $100
- Create shipping with price - $5
- Create cart rule with:
-- Apply - *Fixed amount discount for whole cart*
-- Discount amount - *1*
--  *Apply to Shipping Amount - Yes*
- Ad

[2020-01-14 12:20] sudheers-kensium opened #26385 "Magento2: Checkout shipping address validation not working in step1"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a new Customer with default sipping/billing addresses in address book
2. Go to My Account > Address Book
3. Add an default address without country
4. Go to Admin -> Stores -> Configuration -> Customers -> Customer Configurations -> Name And Address Options -> Show Company Set to Required and Save
5. Add product to cart

[2020-01-14 12:21] sudheers-kensium commented on #26385
@magento give me 2.4-develop instance

[2020-01-14 12:21] magento-engcom-team commented on #26385
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 12:22] magento-engcom-team commented on #26385
Hi @sudheers-kensium, here is your [Magento instance](https://i-26385-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26385-2-4-develop.instances.magento-community.engineering/admin](https://i-26385-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 12:24] magento-engcom-team commented on #26385
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30411` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 12:57] karyna-tsymbal-atwix commented on #26113
possible fix for a problem with a broken url for the placeholder
https://github.com/magento/magento2/pull/26386

To get the product image that was uploaded (not a placeholder), I guess you can add a corresponding attribute to the catalog_attributes.xml file.
e.g. in Custom/Module/etc/catalog_attributes.xml
[code]

[2020-01-14 13:00] engcom-Echo commented on #26188
Hi, @JustinFu45  Thank you for your report.
You can use the guide to create a configurable product on Magento - https://docs.magento.com/m2/ce/user_guide/catalog/product-create-configurable.html

[2020-01-14 13:07] Zyles commented on #26385
@magento give me 2.4-develop instance

[2020-01-14 13:07] magento-engcom-team commented on #26385
Hi @Zyles. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 13:08] magento-engcom-team commented on #26385
Hi @Zyles, here is your [Magento instance](https://i-26385-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26385-2-4-develop.instances.magento-community.engineering/admin](https://i-26385-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 13:38] engcom-Alfa commented on #12623
Hi @navinbhudiya. Thank you for your report.

If DHL web service returns any error at that time if debug is set Yes, all error logs printed to /var/log/**shipping.log** file.

**Actual Result:**
![tessst](https://user-images.githubusercontent.com/51679138/72348674-91370680-36e3-11ea-921a-e32cc60575c4.png)
So we have to close it.
Please feel free to comment, reopen or create new ticket according to

[2020-01-14 13:38] #12623 closed, assigned to engcom-Alfa

[2020-01-14 13:46] diazwatson commented on #26377
It is indeed @devchris79 thanks fir linking both issues 👍

[2020-01-14 14:19] engcom-Charlie commented on #26372
@heerdt Hello, the field Products.filters is deprecated. Please try to use aggregations instead.

[2020-01-14 14:19] engcom-Charlie commented on #26372
For example
`{
   products(filter: {
    category_id: {eq: "12"}
  }) {
    total_count
    aggregations {
      label
      count
      attribute_code
      options {
        count
        label
      }
    }
  }
}`

[2020-01-14 14:24] heerdt commented on #26372
hi @engcom-Charlie is this part of the release 2.3.4 or is it going to be release on 2.4? Thanks!

[2020-01-14 14:47] #11985 closed, assigned to engcom-Alfa

[2020-01-14 14:52] magento-engcom-team commented on #6610
Hi @ludwig-gramberg.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.0` release.

[2020-01-14 14:52] #6610 closed, assigned to nobody

[2020-01-14 14:57] vahir2016 opened #26387 "MSI: assignStatusToProduct for multi stocks is getting the wrong stock id"
Hello,

I found this problem when I was working on magento EE. I know this github is for CE but I don't where to post this. Maybe someone could move this topic on the right place.

### Preconditions (*)

1. magento/project-enterprise-edition 2.3.0
2.

### Steps to reproduce (*)

1. Enable multi stocks
2. Set quantity from product to stock A = 0 and stock B = 10
3. Store 1 should use stock A and St

[2020-01-14 15:02] engcom-Echo commented on #26188
Hi, @JustinFu45. Look like this issue https://github.com/magento/magento2/issues/18017

[2020-01-14 15:19] silversil commented on #15201
Same issue on 2.2.7 is possible that Magento team is not taking care of an issue such stupid and important at the same time?

I need to filter all items that have qty>1 in "out of stock" status, no solution! Asburd!

[2020-01-14 15:35] lenaorobei commented on #26372
Hi @heerdt, as @engcom-Charlie mentioned, aggregations should be used instead. This functionality will be available in `2.3.4` release. For more information please refer to the design document https://github.com/magento/architecture/pull/229

Closing this issue since the described approach is deprecated.
Thank you.

[2020-01-14 15:35] #26372 closed, assigned to engcom-Charlie

[2020-01-14 15:43] kovvadayogesh commented on #20333
@AkhilRamani1797 :- This is not working for me

[2020-01-14 15:45] magento-engcom-team commented on #26184
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30417` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 15:51] engcom-Hotel commented on #26184
Hello @hostep @nagrgk
Sorry for my mistake. I did not understand the description correctly.
Now we found a problem.

Thanks for collaboration!

[2020-01-14 16:10] shikhamis11 commented on #26379
@magento give me 2.4-develop instance

[2020-01-14 16:10] magento-engcom-team commented on #26379
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 16:11] magento-engcom-team commented on #26379
Hi @shikhamis11, here is your [Magento instance](https://i-26379-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26379-2-4-develop.instances.magento-community.engineering/admin](https://i-26379-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 16:16] shikhamis11 commented on #26379
@magento give me 2.3.3 instance

[2020-01-14 16:16] magento-engcom-team commented on #26379
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-14 16:18] magento-engcom-team commented on #26379
Hi @shikhamis11, here is your [Magento instance](https://i-26379-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26379-2-3-3.instances.magento-community.engineering/admin](https://i-26379-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 16:23] killday commented on #11347
How come this fix is not in the 2.2
I'm facing the same problem.

[2020-01-14 16:24] shikhamis11 commented on #26379
Hello @sunbeamshawls , I checked this issue at magento 2.4-develop instance as well as on magento 2.3.3 instance but not able to reproduce this issue. It seems it is coming on your local instance due some customisations .. Please check at your end also if you still able to reproduce this issue on any of the step please update here.

[2020-01-14 16:24] #26379 closed, assigned to shikhamis11

[2020-01-14 16:26] dsmithhayes commented on #24930
Has there been any progress on this at all? It's January 2020 and I have been trying to upgrade from Magento 2.2.9 to 2.3.3 and this breaks the dependency injection compilation. I find it unacceptable a small typo causing such a bug would remain in a production codebase for so long. I have resorted to forking the Vertex module and pushing the fix myself for my team.

[2020-01-14 16:34] navarr commented on #24930
@dsmithhayes A patch was provided earlier in the comments: https://github.com/magento/magento2/issues/24930#issuecomment-548880978 - a fix will be delivered with 2.3.4

[2020-01-14 17:59] dfelton commented on #25620
@Parakoopa Is this patch not listed in the Downloads section our accounts on Magento.com?

[2020-01-14 18:51] shilpambb commented on #26385
We ran into a similar issue. I'm attaching the patch we have in place for this issue. It may or may not be the best solution...
[fix-checkout-form-validation.txt](https://github.com/magento/magento2/files/4060889/fix-checkout-form-validation.txt)

[2020-01-14 18:57] shikhamis11 commented on #26374
@magento give me 2.4-develop instance

[2020-01-14 18:57] magento-engcom-team commented on #26374
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 18:58] magento-engcom-team commented on #26374
Hi @shikhamis11, here is your [Magento instance](https://i-26374-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26374-2-4-develop.instances.magento-community.engineering/admin](https://i-26374-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 18:59] zexperto opened #26388 "Shipping Title translation is not being translated when you switch the langauge in Checkout Cart Page"
### Preconditions (*)

1. Magneot 2.3.3

### Steps to reproduce (*)

1. Add Two Store views
2. Change the Label for Free Shipping method in the second store
3. add a new product to be able to order it
4. disable multi shipping address
5. add the product to cart
6. go to the Checkout cart page
7. switch the languages
8. look at the shipping label in the right sidebar

### Expected result (*)

1. wh

[2020-01-14 19:01] zexperto commented on #26388
@magento give me 2.4-develop instance

[2020-01-14 19:01] magento-engcom-team commented on #26388
Hi @zexperto. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-14 19:02] magento-engcom-team commented on #26388
Hi @zexperto, here is your [Magento instance](https://i-26388-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26388-2-4-develop.instances.magento-community.engineering/admin](https://i-26388-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 19:08] zexperto commented on #26388
Cannot reproduce it on Magento 2.4

[2020-01-14 19:10] shikhamis11 commented on #26388
@magento give me 2.3.3 instance

[2020-01-14 19:10] magento-engcom-team commented on #26388
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-14 19:11] shikhamis11 commented on #26388
@zexperto try reproducing this issue at 2.3.3 and share screenshots if you are able to reproduce this issue

[2020-01-14 19:11] magento-engcom-team commented on #26388
Hi @shikhamis11, here is your [Magento instance](https://i-26388-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26388-2-3-3.instances.magento-community.engineering/admin](https://i-26388-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-14 19:13] magento-engcom-team commented on #26374
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30436` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-14 19:29] zexperto commented on #26388
I have updated the issue by adding "disable multi shipping" and i am able to reproduce it in both versions
please see the screenshots
![image](https://user-images.githubusercontent.com/2926032/72375507-377e0e80-36da-11ea-9827-8bd0d51426b3.png)
![image](https://user-images.githubusercontent.com/2926032/72375516-3947d200-36da-11ea-82a8-d38f81d70815.png)

[2020-01-14 19:32] shikhamis11 commented on #26388
@zexperto thanks for the update. I will check the issue and update it's status

[2020-01-14 19:40] SundarAkula commented on #12004
Hi There, Can you please help with DOB validation. I want to restrict the customer based on 18 years.

[2020-01-14 21:06] paliarush opened #26389 "Watermark is breaking product page when size is not set"
### Preconditions

1. Simple product is available on the storefront

### Steps to reproduce

1. Navigate to theme configuration in `Content -> Design -> Configuration -> <some theme> -> Product Image Watermarks`
2. Upload a new watermark. Specify opacity and DO NOT specify Image size

![image](https://user-images.githubusercontent.com/10828073/72382368-bd9c5400-36de-11ea-9e7c-31e446a9b9c0.png)

3.

[2020-01-15 02:02] sandip5678 commented on #26371
@magento give me 2.4-develop instance

[2020-01-15 02:02] magento-engcom-team commented on #26371
Hi @sandip5678. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 02:03] magento-engcom-team commented on #26371
Hi @sandip5678, here is your [Magento instance](https://i-26371-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26371-2-4-develop.instances.magento-community.engineering/admin](https://i-26371-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-15 02:19] sandip5678 commented on #26371
@magento Can you please setup the Elastic Search version as it is dependent on the ElasticSearch

[2020-01-15 04:59] Tuuhea commented on #17825
Hello @visahardik,

Thank you for the link.

The issue here was that the plugin defined for virtual type in etc/frontend/di.xml wasn't working on as expected when using developer mode.

The link you provided is using global area for defining the plugin. These were working just fine for me, but I wanted to just target frontend.

[2020-01-15 05:52] KrishnaK-Z commented on #26385
@sudheers-kensium Try to validate quote before saving the address in saveAddressInformation method (this is an API call made while clicking the "NEXT" button). Works for me.

Try the following,

`submitQuoteValidator->validateQuote($quote)`
So, while clicking the next button in the first step you will be getting the expected error message

But even after editing the address by adding the company f

[2020-01-15 07:39] juhanihaapala opened #26393 "Product category url rewrite missing storeview specific url_key"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Create 2 Store Views
2. Create category Category 1
3. Create Category 2 under Category 1
4. Create store view specific url key for Category 1 for example `category-1-1`
5. Create new product add it to Category 2

### Expected result (*)

1. Generated url path for created product with category in store view to have the store view

[2020-01-15 08:41] jonathan-martz commented on #24930
Nice.
Looks like this could by closed soon.

[2020-01-15 08:50] seppoviuh opened #26394 "Catalog Prices incl. Tax results wrong item prices with Custom Price"
### Preconditions (*)

1.  Install Magento 2.3.3 with sample data
2.  Set Tax-> Calculation Settings-> Catalog Prices-> Including Tax
3.  Set Tax-> Shopping Cart Display Settings-> Display Prices-> Incl. & Excl. Tax

### Steps to reproduce (*)

1. Go to the backend
2. Sales-> Orders-> Create New Order
3. Select customer with tax ( Veronica Costello)
4. Add Product with tax (Wayfarer Messenger Bag)

[2020-01-15 08:50] lbajsarowicz commented on #26387
As far as I know - Inventory (former MSI) is a part of Magento Community.

[2020-01-15 09:10] Parakoopa commented on #25620
@dfelton As far as I know you have to open a support ticket and reference this GitHub issue. That's what we did and they sent us a patch.

[2020-01-15 09:12] magento-engcom-team commented on #26297
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30446` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-15 09:22] lbajsarowicz opened #26396 "MFTF: Functional Tests are failing in Magento CI process"
### Preconditions (*)
1. Issue is related with Pull Requests submitted to any of Magento repositories
2. Takes place whether you change code or not

### Steps to reproduce (*)
1. Change README file
2. Submit Pull Request

### Expected result (*)
1. PR passes all tests

### Actual result (*)
Let's take https://github.com/magento/magento2/pull/26390 as an example

Overall:
![image](https://user-imag

[2020-01-15 09:27] engcom-Hotel commented on #26266
Hello @not-art
I am not able to reproduce this issue on the latest Magento 2.4-develop.

**Testing scenario:**

1. Create a custom product attribute with a drop-down that has labels, with an attribute code of "foobar". The first option can be blank/empty, the second option's label can be "foo", and the third can be "bar".
2. Edit a product in Magento 2.3.3 admin, and for the new "foobar" drop-down

[2020-01-15 09:38] ortoDev commented on #23908
Hi everybody,
(sorry for my poor english)
I doesn't understand if there is actually a solution for this issue...
There is someone (maybe @sbrendtro) that could help me ?

Thanks in advance !!!

[2020-01-15 09:41] magento-engcom-team commented on #26376
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30447` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-15 10:24] aTastyCookie commented on #25634
Hello,

Any updates or workarounds? Our "load average" ~40.6

[2020-01-15 10:24] vahir2016 commented on #26387
Hello lbajsarowicz,

I didn't find the file "vendor/magento/module-inventory-catalog/Plugin/CatalogInventory/Helper/Stock/AdaptAssignStatusToProductPlugin.php" in magento2 github. I also checked magento/inventory github.

Then, I tried to find from which module the file depends. I looked in composer.lock trying to find which one was required and it leads me to "magento/project-enterprise-edition".

[2020-01-15 10:30] lbajsarowicz commented on #26387
Is that what your are looking for?
https://github.com/magento/inventory/blob/1.2-develop/InventoryCatalog/Plugin/CatalogInventory/Helper/Stock/AdaptAssignStatusToProductPlugin.php

[2020-01-15 10:31] engcom-Hotel commented on #26318
Hello @TopShellstock
Probably you have to configure your cron job. You can read about cron configuration in this [topic](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-cron.html).
Please try again and then leave a comment with the result.

Thanks for collaboration!

[2020-01-15 10:35] vahir2016 commented on #26387
I guess it is ! Thanks you !

Should I close this topic and open a new one in magenot inventory github ?

[2020-01-15 10:35] lbajsarowicz commented on #26387
I think it's good idea! :-)

[2020-01-15 10:36] vahir2016 commented on #26387
Move this topic to magento inventory github.

[2020-01-15 10:36] #26387 closed, assigned to lbajsarowicz

[2020-01-15 11:07] krzksz commented on #24422
@sivaschenko

I'm sorry but I don't understand what are the next steps we can take now, can we revert the changes to restore this feature?

Currently (and it was possible before), there is no way to give coupons to clients which would apply to the whole amount, so the following scenario won't work:
[code]

[2020-01-15 11:51] magento-engcom-team commented on #26384
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30450` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-15 12:06] engcom-Charlie commented on #26220
Hello @broros @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-01-15 12:14] hostep commented on #24930
The fix will also be part of the security release 2.3.3-p1 (will be released together with 2.3.4, public release is 28 January), which is rather odd as it has nothing to do with security, but anyways, it's good Magento is doing this I think.

[code]

[2020-01-15 12:37] engcom-Charlie commented on #25938
Hello @NationwidePharma @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-01-15 12:50] engcom-Echo commented on #26189
Hi, @Zyles. Hello, could You please provide more details?
After what actions does the error appear?

Try to use it

Modify composer.json:

Thanks for your collaboration!

[2020-01-15 13:24] Jilco commented on #25634
Update, i was google "attacking" my site for some reason, they indexed 159.000 pages a day at once...

Adjusting robots.txt to index less was the sollution

[2020-01-15 13:28] rickyhub commented on #14642
I need a fix too please.
Regards

[2020-01-15 13:30] engcom-Alfa commented on #26242
Hi @waqasali5006-dev, thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-01-15 13:30] #26242 closed, assigned to engcom-Alfa

[2020-01-15 13:57] aholovan commented on #15545
@erikhansen,
Thanks for the work on this issue. We have applied the code You provided and got the issue resolved in Magento 2.3.3 (including new versions of Amasty extensions installed).
With the patch queries like INSERT INTO `search_tmp_... ` don't freeze any more.

[2020-01-15 14:28] magento-engcom-team commented on #5992
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30451` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-15 14:58] magento-engcom-team commented on #26377
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30452` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-15 15:04] engcom-Charlie commented on #26310
Hello @anziv @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-01-15 15:50] DanBeckett commented on #13520
Recently (Magento 2.3.3) experienced the same issue with a Multi-select attribute created via the Attribute editor in the dashboard. In **eav_attribute** found that the **source_model** was NULL, updating this to **Magento\Eav\Model\Entity\Attribute\Source\Table** fixed the issue for me.

[2020-01-15 16:09] AndreyChorniy opened #26403 "Issue with huge reindex time. Reindex optimization."
### Preconditions (*)

1. Magento version 2.3.2-p2 & 2.4-develop
2. Above 900K of products
3. Added customization to `Magento\Framework\Mview\View` to decrease the count of entities per one indexer iteration to 1000. This is potential should decrease the time for reindex execution

### Steps to reproduce (*)

1. Change prices for 544771 products
2. Run command `php ./bin/magento indexer:status` Yo

[2020-01-15 16:13] galanis-a opened #26404 "Unable to create table with name more than 64 characters long using db_schema"
### Preconditions (*)
1. Magento 2.3.3 & 2.4-develop
2. PHP 7.2.26

### Steps to reproduce (*)
1. Create a new Magento 2 module
2. Create db_schema.xml in Vendor/Module/etc folder
3. In db_schema.xml declare a table with name more than 64 characters long

### Expected result (*)
1. setup:upgrade command should finish successfully and create the new table

### Actual result (*)
1. This error is thr

[2020-01-15 16:20] mitcht commented on #14991
For anyone else who comes by, re-try using incognito mode and see if the problem goes away.  I had some persistent cookies between deployments that caused some issues.

[2020-01-15 16:40] schmengler commented on #7720
This fix was never ported to 2.3 - why?

[2020-01-15 17:32] twoatechguy commented on #22029
Experiencing this in 2.3.3.  This is completely unrelated to #5849.

[2020-01-15 18:08] DavaGordon commented on #26310
@engcom-Charlie I wouldnt say this was a feature more of an essential as this is going to have a big impact on how people are going to be able to process orders as if the session cookies are not passed it is going to make it impossible to pass back data to magento

[2020-01-15 18:27] rodde177 commented on #26310
@engcom-Charlie feature?
From february 4th it will definitely be a bug when chrome 80 is released.

https://www.chromestatus.com/features/schedule

You can simulate with chrome://flags/ this functionality today.
Enable:
**Cookies without SameSite must be secure**

[2020-01-15 18:29] c1gee commented on #6498
There is no such command but there is a search that works

Run this in your root folder to find all of the missing  / empty strings

`grep -rnw . -e "__('')" -e '__("")' `

I have used this successfully several times.

I also like to email the plugin providers to let them know when they have missed a couple.

[2020-01-15 19:11] lbajsarowicz commented on #26396
Second issue is related with the fact that not always `DeleteProductActionGroup` ends properly before next step is performed. We should wait till Loading Mask disappear.

![image](https://user-images.githubusercontent.com/1639941/72463263-1ea55400-37d3-11ea-8628-7604e8dafffd.png)

[2020-01-15 19:39] skitter-anton commented on #23908
In my case it had to do with the php version. PHP 7.2 caused this issue. When we switched to 7.1 the problem did not occur anymore.

[2020-01-15 19:48] erikhansen commented on #8145
@hostep Questions for you:

1. Do you know if Magento 2.3.3 still generates images for all themes, when running the `bin/magento catalog:image:resize` command?

2. If so, is there a solution you're using to prevent this (such as applying your closed PR #8142 as a composer-patch)?

[2020-01-15 19:55] alxanthony opened #26408 "Bundle Product Including Simple products with special price or tier pricing showing incorrect price."
When creating and order in the admin, if you add a bundle product that includes a simple product and the simple product has a tier price or special price set up.  and then click on the configure button the price doubles and there is no way to go back to the original price. and if you keep clicking on the configure button and close the pop up that opens up,  the price just  keeps increasing.

This

[2020-01-15 19:56] Datta commented on #26326
steps:
Step 1: Select Attributes
At the bottom of Product Details, expand the Configurations section. Then, tap Create Configurations.

Configurations

Mark the checkbox of each attribute that is to be used as a configuration.
If you need to add a new attribute, tap Create New Attribute. Complete the attribute properties, and tap Save Attribute. Then, mark the checkbox to select the attribute.
In

[2020-01-15 19:56] lbajsarowicz opened #26409 "MFTF: Magento Core team introduced Functional Tests regress"
### Description
On January there were merges to `magento/magento2` included Magento Core Team code.
Flushing cache during Tests makes overall testing process much slower and shows to the customers **bad practice** of cleaning cache!

### Preconditions (*)
N/A

### Steps to reproduce (*)
N/A

### Expected result (*)
You should **never** run `cache:flush` and `index:reindex` on production environmen

[2020-01-15 20:05] DavidLambauer commented on #23440
Ping

[2020-01-15 21:59] okorshenko commented on #26409
@magento give me 2.4-develop instance

[2020-01-15 22:00] magento-engcom-team commented on #26409
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 22:00] magento-engcom-team commented on #26409
Hi @okorshenko, here is your [Magento instance](https://i-26409-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26409-2-4-develop.instances.magento-community.engineering/admin](https://i-26409-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-15 22:07] ishakhsuvarov commented on #24426
@magento give me 2.4-develop instance

[2020-01-15 22:07] magento-engcom-team commented on #24426
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 22:12] okorshenko commented on #26409
@magento give me 2.4-develop instance

[2020-01-15 22:12] magento-engcom-team commented on #26409
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 22:14] ishakhsuvarov commented on #24426
@magento give me 2.4-develop instance

[2020-01-15 22:14] magento-engcom-team commented on #24426
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 22:15] magento-engcom-team commented on #24426
Hi @ishakhsuvarov, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_977d](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_977d)
Login: `72c119d6` Password: `72c119d6`
Instance will be terminated in up to 3 hours.

[2020-01-15 22:17] ishakhsuvarov commented on #24426
@magento give me 2.4-develop instance

[2020-01-15 22:17] magento-engcom-team commented on #24426
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 22:17] hostep commented on #8145
Hi @erikhansen

We had PR https://github.com/magento/magento2/pull/8142 implemented on one of our bigger shops as a composer patch, but that was on Magento 2.1.x
We are currently in the process of upgrading that particular shop to 2.3.x and the image resizing part hasn't been looked into yet, so currently I can't say with much confidence how Magento 2.3.x is doing regarding this issue.
I'll try to

[2020-01-15 22:18] magento-engcom-team commented on #24426
Hi @ishakhsuvarov, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_5739](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_5739)
Login: `8d222050` Password: `8d222050`
Instance will be terminated in up to 3 hours.

[2020-01-15 22:21] ishakhsuvarov commented on #24426
@magento give me 2.4-develop instance

[2020-01-15 22:21] magento-engcom-team commented on #24426
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 22:22] magento-engcom-team commented on #24426
Hi @ishakhsuvarov, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_5e5f](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_5e5f)
Login: `37b6163a` Password: `280317b8e776`
Instance will be terminated in up to 3 hours.

[2020-01-15 22:26] ishakhsuvarov commented on #24426
@magento give me 2.4-develop instance

[2020-01-15 22:26] magento-engcom-team commented on #24426
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 22:27] magento-engcom-team commented on #24426
Hi @ishakhsuvarov, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_de2a](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_de2a)
Login: `6fdd6d1b` Password: `f594028ab029`
Instance will be terminated in up to 3 hours.

[2020-01-15 22:30] erikhansen commented on #8145
@hostep Thanks for the details.

I applied #8142 as a patch on a small 2.3.3 site with 10 products (each with a single image). The number of images in `pub/media/catalog/product/cache` was exactly the same before vs after applying the patch. I deleted `pub/media/catalog/product/cache` and ran `bin/magento regenerate:product:url` between tests. So my expectation is that the patch doesn't have any e

[2020-01-15 22:38] Zyles opened #26410 "Cron needs index.php to be writeable"
`update-cron.ERROR: Cron readiness check failure! Found non-writable paths:        /home/http/magento/index.php [] []`

What is the purpose of this?

Why would we want index.php to be writeable? So we can be hacked easier?

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Install Magento
2. Setup cronjob
3. $ chmod 444 index.php
4. $ cat var/log/update.log

### Expected resu

[2020-01-15 23:25] palomamtnez commented on #10454
Is there a solution for 2.3?

[2020-01-15 23:51] ishakhsuvarov commented on #24426
@magento give me 2.4-develop instance

[2020-01-15 23:51] magento-engcom-team commented on #24426
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-15 23:51] magento-engcom-team commented on #24426
Hi @ishakhsuvarov, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_cc9c](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_cc9c)
Login: `f5147efe` Password: `5ae70357ace9`
Instance will be terminated in up to 3 hours.

[2020-01-16 00:13] palomamtnez commented on #23196
Hi, any solution for this? on 2.3

[2020-01-16 04:13] shikhamis11 commented on #26388
@magento give me 2.4-develop instance

[2020-01-16 04:13] magento-engcom-team commented on #26388
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-16 04:14] magento-engcom-team commented on #26388
Hi @shikhamis11, here is your [Magento instance](https://i-26388-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26388-2-4-develop.instances.magento-community.engineering/admin_6e1d](https://i-26388-2-4-develop.instances.magento-community.engineering/admin_6e1d)
Login: `1e816f5e` Password: `a1f34bc8624f`
Instance will be terminated in up to 3 hours.

[2020-01-16 04:38] shikhamis11 commented on #26388
@magento give me 2.3.3 instance

[2020-01-16 04:38] magento-engcom-team commented on #26388
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-16 04:39] magento-engcom-team commented on #26388
Hi @shikhamis11, here is your [Magento instance](https://i-26388-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26388-2-3-3.instances.magento-community.engineering/admin_9219](https://i-26388-2-3-3.instances.magento-community.engineering/admin_9219)
Login: `7d42de8d` Password: `0d396d6000ab`
Instance will be terminated in up to 3 hours.

[2020-01-16 04:59] jaimiedijstra commented on #23958
I applied the solution already linked previous post, [https://magento.stackexchange.com/questions/281723/magento-2-bulk-actions-not-starting](https://magento.stackexchange.com/questions/281723/magento-2-bulk-actions-not-starting), edit file: vendor/magento/module-asynchronous-operations/Model/BulkManagement.php adding "$this->entityManager->save($operation);":

[code]

This got bulk changes workin

[2020-01-16 05:07] magento-engcom-team commented on #26388
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30470` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 05:35] naveen0592 opened #26412 "Magento 2 sales report issue"
I am getting error in the magento 2.2 reports. When I try to generate reports for a specific time period for e.g for between two dates some of the order are not showing the sale amount in the reports while the amount is their if I am checking the order section.
Can anyone tell me about the issue what is wrong with it?
How can I solve this issue?

[2020-01-16 06:01] diazwatson commented on #26377
@engcom-Charlie thanks for reviewing and testing this issue.
Can I request one of the architects from the security team to provide some guidance on what would be the best approach to fix this issue?

[2020-01-16 06:08] diazwatson commented on #26310
Closing this issue to centralise all the discussion in https://github.com/magento/magento2/issues/26377
Please reopen if needed.

[2020-01-16 06:08] #26310 closed, assigned to engcom-Charlie

[2020-01-16 07:36] torhoehn opened #26414 "Elasticsearch doesn't find attribute value"
### Preconditions (*)

1. Magento 2.3.3
2. Elasticsearch 6.8

### Steps to reproduce (*)

1. Configure Elasticsearch (https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-overview.html)
2. Add "color" attribute to default attribute set
3. Edit "color" attribute and color value, e.g. "red"
4. Make sure that color attribute is searchable
5. Create simple product with color "red"
<im

[2020-01-16 07:37] engcom-Charlie commented on #26232
Hi @vertikacore thank you for your report but we are not able to reproduce this issue on a fresh 2.4-develop instance and 2.3.3
Manual testing scenario:
1. Create two websites
2. Set two different Braintree account credentials for different websites
3. Place an order with Braintree payment method in a website that is not default
4. Go to order in the admin panel
5. Make invoice for an order
6. Sel

[2020-01-16 08:02] engcom-Echo commented on #26380
HI, @paul-gene. Thank you for your report.
Unfortunately, I could not reproduce this behavior.
Example:
![image](https://user-images.githubusercontent.com/51681435/72504800-38807e80-3847-11ea-97e4-74ba8d645f33.png)

Most likely this is due to the settings of the PНP.

Thanks for your collaboration!

[2020-01-16 08:45] #26232 closed, assigned to engcom-Charlie

[2020-01-16 08:48] magento-engcom-team commented on #26194
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30471` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 09:42] magento-engcom-team commented on #26393
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30473` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 09:42] engcom-Echo commented on #26349
Hi, @lbajsarowicz. Thank you for your report.
So there really are such issues. Work is underway on these issues.
Example: https://github.com/magento/magento2/pull/25622

Can we close your issue? Thank you collaboration!

[2020-01-16 10:02] magento-engcom-team commented on #26209
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30474` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 10:07] paul-gene commented on #26380
@engcom-Echo what version of PHP did you use?

[2020-01-16 10:41] hitesh-wagento opened #26416 "Compare Products section not showing in mobile view under 767px"
### Summary
Compare Products section not showing in mobile view under 767px

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce

1. Go to the Category page
2. Add product to compare

### Expected result

![expected](https://user-images.githubusercontent.com/23443991/72518218-d9d4f800-387a-11ea-93ef-cfc6d85afd47.png)

### Actual result

![actual](https://

[2020-01-16 10:43] hitesh-wagento commented on #26416
I am working on this

[2020-01-16 10:47] engcom-Hotel commented on #26410
Hello @Zyles
`index.php` file have 644 permissions in production mode, which means writable by the user, read-only by the group, and read-only for everyone else.
![image](https://user-images.githubusercontent.com/51681618/72518326-c10a1980-385d-11ea-998d-07fe47a700a1.png)
So that means this file cannot be easy hacked.
More about Magento 2 file system permissions you can read [here](https://devdocs

[2020-01-16 10:47] #26410 closed, assigned to engcom-Hotel

[2020-01-16 10:47] rinamatrix commented on #25099
Hi ,
Please any one give the patch , to overcome this issue category image issue .

[2020-01-16 11:00] magento-engcom-team commented on #26404
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30477` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 11:03] lbajsarowicz commented on #26349
PR you referred is completely unrelated.
I'm not sure if I get your point 😕

[2020-01-16 11:11] Zyles commented on #26410
Again, terrible security.

For what reason do you need index.php to be writeable by anyone?

This makes Magento 2 unable to run in a read-only state.

[2020-01-16 11:14] chris-pook commented on #23462
Just want to throw this in here as it seems related and needs some community discussion..

https://docs.magento.com/m2/ce/user_guide/catalog/catalog-flat.html

This official documentation from Sept 2019 states that "Starting with Magento 2.3.0+, the use of a flat catalog is no longer a best practice and is not recommended. Continued use of this feature is known to cause performance degradation and

[2020-01-16 11:40] magento-engcom-team commented on #26416
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30480` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 11:54] magento-engcom-team commented on #26335
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30481` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 12:04] engcom-Echo commented on #13165
Hi, @maqlec. Thank you for your report.
If your theme does not parent Magento/black car use for deploy, for this case, Magento/black theme does not deploy:

`$ bin/magento setup:static-content:deploy --theme <theme>`

for this case, Magento/black theme does not deploy.

Theme Mageto/blank can't be excluded - it is a base theme.

Thanks for your collaboration!

[2020-01-16 12:07] engcom-Hotel commented on #26414
Hello @torhoehn
I am not able to reproduce this issue on the latest Magento 2.4-develop.

**Testing scenario:**
1. Configure Elasticsearch (https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-overview.html)
2. Add "color" attribute to default attribute set
3. Edit "color" attribute and color value, e.g. "red"
4. Make sure that color attribute is searchable
5. Create simple produc

[2020-01-16 12:07] #26414 closed, assigned to engcom-Hotel

[2020-01-16 12:10] engcom-Echo commented on #26380
PHP 7.1.33

[2020-01-16 12:16] paul-gene commented on #26380
1. Make a dummy module
2. Create an integration test (simple `assertTrue()`)
3. Run PHPUnit using the `phpunit.xml.dist` config from `dev/tests/integration`

[2020-01-16 12:20] engcom-Delta commented on #26334
Hi @danielmx98 thank you for your report. I'm not able to reproduce issue by steps you described on clean 2.4-develop seems like this related to your custom modules.
Result:
1. :heavy_check_mark: Customer can register account without error notices
![image](https://user-images.githubusercontent.com/51681379/72524007-a9389280-3869-11ea-8c28-0767f2ae8e6c.png)

2. :heavy_check_mark: Customer able to r

[2020-01-16 12:20] #26334 closed, assigned to engcom-Delta

[2020-01-16 12:21] krishprakash commented on #26389
@magento give me 2.4-develop instance

[2020-01-16 12:21] magento-engcom-team commented on #26389
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-16 12:22] magento-engcom-team commented on #26389
Hi @krishprakash, here is your [Magento instance](https://i-26389-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26389-2-4-develop.instances.magento-community.engineering/admin_bd87](https://i-26389-2-4-develop.instances.magento-community.engineering/admin_bd87)
Login: `0bc48df7` Password: `f4b79ecea90b`
Instance will be terminated in up to 3 hours.

[2020-01-16 12:28] hostep commented on #26410
@Zyles: The error seems to come from the `update/cron.php` command, correct?

I think that script is used for Magento to be able to update itself, which would need write permissions to all files.

If you don't need that feature, then don't run that specific cron command ;)
The one and only cron you need to setup for Magento is: `bin/magento cron:run`.
The other two which are mentioned on [the docs

[2020-01-16 12:30] magento-engcom-team commented on #26394
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30483` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 12:37] hostep commented on #13165
The confusion probably happened because in Magento 2.1, the parent theme didn't get deployed, whereas from Magento 2.2 that changed for some reason (not exactly sure why, that might still be considered a bug though).
But basically from Magento 2.2 onwards you can't exclude parent themes from static content deployment.

[2020-01-16 12:38] magento-engcom-team commented on #26389
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30484` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 12:40] hostep commented on #26335
I had opened a feature request ticket for this a few days ago btw, with some possible suggestions, linking it for reference: https://github.com/magento/community-features/issues/229

[2020-01-16 12:51] engcom-Echo commented on #26380
Hi @paul-gene.

I did for your case, tests run is Ok.
![image](https://user-images.githubusercontent.com/51681435/72526707-b22c6280-386f-11ea-8de7-d02d36d8cf6f.png)
![image](https://user-images.githubusercontent.com/51681435/72526715-b8bada00-386f-11ea-8f7e-0a956bd555a3.png)

[2020-01-16 12:56] paul-gene commented on #26380
@engcom-Echo and that's from a fresh, stock 2.3.3 install?

I got the error on a fresh, stock 2.3.3 install, and I know the mcrypt library has been an issue with PHP 7.1.x.

Why would I get the error, but you aren't?

[2020-01-16 13:28] engcom-Echo commented on #26380
Hi, @paul-gene thank you for your report, this issue has already fixed in 2.4-develop branch and 2.3-develop branch.
https://github.com/magento/magento2/issues/5880

[2020-01-16 13:37] paul-gene commented on #26380
@engcom-Echo so there is an issue?!

The 2.3-develop branch doesn't exist anymore.

Seeing as 2.3.3 does in fact support PHP 7.1, this needs to be addressed for 2.3.x

[2020-01-16 14:30] magento-engcom-team commented on #14061
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30486` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 14:48] arsalanworld opened #26422 "Customer switches to Default Store After Login/Register for multistore views"
### Summary
Customer switches to default store view after login/register page for multi-stores view when `store code` is enabled for base url.
### Preconditions (*)

1. Magento 2.4-develop
2. Add a new store view under existing/default store, if you don't have multi-store views. (lets call it Arabic store view)
3. Enable caches and Set Environment to `Production`, if set to developer or default
4.

[2020-01-16 14:50] arsalanworld commented on #26422
@magento give me 2.4-develop instance

[2020-01-16 14:50] magento-engcom-team commented on #26422
Hi @arsalanworld. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-16 14:50] magento-engcom-team commented on #26422
Hi @arsalanworld, here is your [Magento instance](https://i-26422-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26422-2-4-develop.instances.magento-community.engineering/admin_9af0](https://i-26422-2-4-develop.instances.magento-community.engineering/admin_9af0)
Login: `511a2a65` Password: `32cc47573973`
Instance will be terminated in up to 3 hours.

[2020-01-16 14:56] magento-engcom-team commented on #7720
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30488` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 15:02] arsalanworld commented on #26422
@magento-engcom-team I was able to reproduce this issue on vanilla Magento instance using steps I described and it appears with the developer mode as well.

[2020-01-16 15:48] magento-engcom-team commented on #13180
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30489` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-16 16:01] danemacmillan commented on #8145
@0x15f

Are you making this up? I don't need another reason to rant. I'm not even over them changing the image hash format from M1 to M2. You saying starting in M233 I now need to host a **third** image cache (of 191GB) of the same images? It's like they hate search engines.

[2020-01-16 16:03] heldchen commented on #8145
unfortunately no joke. the change to the hashes was added in 2.3.0. regenerating the image caches took 5+ days for one of our customer with highres raw images...
we resorted to hardcode the few hashes now in our customers' instances just in case. :(

[2020-01-16 16:03] 0x15f commented on #8145
My images broke right after I upgraded and I was told they needed to be re-generated and it solved the issue. I saw something somewhere about the hash method changing.

[2020-01-16 16:10] danemacmillan commented on #8145
@heldchen I'm not seeing any mention of that in the [2.3.0 Release Notes](https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.0OpenSource.html), or in the [2.3.3 Release Notes](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html) @0x15f .

I'm genuinely curious to know if this is a thing, as my team just upgraded to `2.2.10`, and have also b

[2020-01-16 16:13] heldchen commented on #8145
that's because there was no mention about this change. welcome to the wonderful world of magento upgrades...

[2020-01-16 16:16] danemacmillan commented on #8145
@heldchen I mean, I wouldn't be surprised, but to their credit they've been pretty alright about their release notes--and I say this someone who takes his crapping-on-Magento very seriously. I know they did this sometime in the 2.2.x releases, where they legitimately changed how images get created, and then only later announced it as an addendum and much flack.

[2020-01-16 16:42] aliomattux commented on #25099
You should wait for the next version of Magento to come out so you can
download it and get the fix while at the same time introducing other bugs
that wont be fixed until the next release. ;)

On Thu, Jan 16, 2020 at 4:47 AM rinamatrix <notifications@github.com> wrote:

[2020-01-16 19:06] borisFuentesCisterna commented on #24930
ESO FUNCIONO PARA MI
I might have solved the problem by accident. While investigating it looks like I found a working solution.

At the end of the "use" clauses in /path to website/vendor/vertex/module-tax/Model/FlexField/Processor/OrderCurrencyGetterProcessor.php add the following two lines:

use Vertex\Tax\Model\FlexField\Processor\InvoiceFlexFieldProcessorInterface;
use Vertex\Tax\Model\FlexFie

[2020-01-16 19:36] Kindlebit-Kbs commented on #26368
@engcom-Charlie , Thanks for your reply. actually. I am adding some base64 encoded data for image into quote item. and after adding these into quote table its giving me this type of error. Please tell me if you need more info.

[2020-01-16 19:42] hostep commented on #25099
I'm going to link https://github.com/magento/magento2/issues/25480 in here as that might be relevant as well in context of this bug. I've linked to [a commit](https://github.com/magento/magento2/commit/1c3ee947270eb0465aef2710f3c216795747bbaf) in there which might need to be applied together with the solutions mentioned above.

I haven't tested these things myself though, due to lack of time, so n

[2020-01-16 21:10] twoatechguy commented on #12184
Why is this correct behavior?  This also means that extensions which validate the shipping address won't change the billing address.

[2020-01-16 21:36] aleromano89 commented on #24952
@magento give me 2.4-develop instance

[2020-01-16 21:36] magento-engcom-team commented on #24952
Hi @aleromano89. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-16 21:36] magento-engcom-team commented on #24952
Hi @aleromano89, here is your [Magento instance](https://i-24952-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24952-2-4-develop.instances.magento-community.engineering/admin_afef](https://i-24952-2-4-develop.instances.magento-community.engineering/admin_afef)
Login: `07598191` Password: `22142b640dee`
Instance will be terminated in up to 3 hours.

[2020-01-16 21:36] damienwebdev opened #26425 "[BUG] ApiFunctional TestFramework GraphQL Client Parses Headers Improperly"
### Preconditions (*)
Magento v2.3.3

### Steps to reproduce (*)
1. Make a call with the `GraphQlAbstract::graphQlQueryWithResponseHeaders`
2. Have a header in the response like: `Access-Control-Allow-Origin: https://www.example.com`
3. See that the header does NOT show up in the headers array

### Expected result (*)
1. Have a header in the headers array like: `['Access-Control-Allow-Origin'] =>

[2020-01-16 21:39] sdzhepa commented on #24526
Hello @rasmuswikman, @ihor-sviziev , @zhartaunik.

Let me please clarify details about this issue and internal status for PR with fix.
- The internal Magento team has already fixed it.
- Related internal Jira ticket `MC-19941` is closed as fixed
- PR has been delivered into internal `2.3-develop` branch (not visible on public)
- This fix should be available with next `2.3.4` or `2.3.5` release

Ad

[2020-01-16 21:51] aleromano89 commented on #24952
@med-amin I'm not able to reproduce the issue on magento 2.4-develop instance. Can you add more details?

[2020-01-16 22:20] onepack commented on #25115
Same for multiple shops here

[2020-01-17 02:06] seattletechworks commented on #23450
I'm running Magento 2.3.3 (Linux, PHP 7.2) on Nexcess Cloud hosting. I tried exporting products to a csv file and no file is generated. I ran it about 5 times. Then I found an online thread in which someone manually ran cron -- php bin/magento cron:run. After running this, Voila! - all the exports I tried to generate appeared. Subsequent exports are working without issue now. They get dumped to va

[2020-01-17 06:01] hitesh-wagento opened #26426 "Recently Ordered sidebar error in a special character like TM"
### Summary
Recently Ordered sidebar error in a special character like **TM**

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce

1. Order placed any product
2. Go to a category page
3. You can see the left side Recently Ordered section

### Expected result

![expected](https://user-images.githubusercontent.com/23443991/72587999-ead64580-391c-11ea-9935-

[2020-01-17 06:04] hitesh-wagento commented on #26426
I am working on this issue

[2020-01-17 06:44] jakwinkler opened #26427 "Admin config section not expanded when fields are required."
### Preconditions (*)

1. Magento 2.3.3 / 2.3.2 Open Source

### Steps to reproduce (*)

1. Create a new module that adds new system configuration
2. In this system configuration add 2 group of fields
3. For first group make all fields not required
4. For second group make at least 1 field required
5. Go to that section in admin panel
6. Make sure both sections are *not* expanded (by default they

[2020-01-17 06:45] jaimiedijstra commented on #23958
Well, interestingly for me this just cleared up by itself 26 hours later in the back end, but the two database tables remain the same, apparently out of sync?

[2020-01-17 07:53] engcom-Charlie commented on #26368
@Kindlebit-Kbs Hi, could You please give an example of the code for me to check?
Thank You.

[2020-01-17 08:49] krishprakash commented on #26426
@magento give me 2.4-develop instance

[2020-01-17 08:49] magento-engcom-team commented on #26426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-17 08:49] magento-engcom-team commented on #26426
Hi @krishprakash, here is your [Magento instance](https://i-26426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26426-2-4-develop.instances.magento-community.engineering/admin_6a36](https://i-26426-2-4-develop.instances.magento-community.engineering/admin_6a36)
Login: `c018fd70` Password: `f02126a13d67`
Instance will be terminated in up to 3 hours.

[2020-01-17 08:51] shubhamkhandelwalrtpl commented on #25872
@magento give me 2.4-develop instance

[2020-01-17 08:51] magento-engcom-team commented on #25872
Hi @shubhamkhandelwalrtpl. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-17 08:52] magento-engcom-team commented on #25872
Hi @shubhamkhandelwalrtpl, here is your [Magento instance](https://i-25872-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25872-2-4-develop.instances.magento-community.engineering/admin_f35e](https://i-25872-2-4-develop.instances.magento-community.engineering/admin_f35e)
Login: `696cf150` Password: `b27123c7799d`
Instance will be terminated in up to 3 hours.

[2020-01-17 09:00] krishprakash commented on #26426
Hi @hitesh-wagento. Not able to reproduce issue on latest magento instance.
It working fine at category page as well as my account pages.
Refer below screenshot
![image](https://user-images.githubusercontent.com/46617848/72598391-bfac2000-3935-11ea-8237-b8f7d5e041f0.png)

[2020-01-17 09:24] hitesh-wagento commented on #26426
Hi @krishprakash

I have created the same name used in Luma theme I can reproduce this issue please review attached screenshot

![Test](https://user-images.githubusercontent.com/23443991/72600207-35fe5180-3939-11ea-81ba-ec2e792e858c.png)

[2020-01-17 09:34] ajijshekh123 commented on #26426
Issue reproduced in the Magento 2.4 Instance.
See attached the screenshot:

![1](https://user-images.githubusercontent.com/24711761/72601034-a78acf80-393a-11ea-8ddd-2afe9c737b47.png)

[2020-01-17 09:35] magento-engcom-team commented on #26426
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30507` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-17 09:42] magento-engcom-team commented on #13866
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30508` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-17 09:52] ajijshekh123 commented on #26426
@hitendra-wagento - Please verify once again on the Product section on the admin section.
I have changed the Product name content and Place the order it is working fine.

See attached the screenshot:

![2](https://user-images.githubusercontent.com/24711761/72602358-2b45bb80-393d-11ea-95d9-6c039088f623.png)

Please update your thought and Update me let me close this issue or not?

Thanks.

[2020-01-17 09:57] hitesh-wagento commented on #26426
Hi @ajijshekh123

Again your mistake I am @hitesh-wagento, not @hitendra-wagento  :)

Yes, This is issue you can see in changes I have changed code *text* to *html*
https://github.com/magento/magento2/pull/26428/commits/777675042387e2502cb5fe8750c05cf49a208789

If customer write *Minerva LumaTech&trade; V-Tee* (This is an issue on frontend)
If customer write *Minerva LumaTechTM V-Tee* (This is a n

[2020-01-17 09:59] Snippets-2023 opened #26431 "Custom price into offline order not showing into admin sidebar in magento 2.2.5"
### Preconditions (*)

1. Magento 2.2.5 / 2.2.5 Open Source.

### Steps to reproduce (*)

1. login to admin then go to sales > click on create new order button.
2. Then click on Add Products button and Select any product from the list then click on Add Selected Product(s) to Order button above.
3. Now you'll be able to see those products which you have added from the list.
4. Now try to click on C

[2020-01-17 09:59] ajijshekh123 commented on #26426
Okay, @hitesh-wagento :)
Thanks for the Update.

[2020-01-17 10:05] ajijshekh123 commented on #26431
Give me @magento give me 2.4-develop instance

[2020-01-17 10:05] magento-engcom-team commented on #26431
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-17 10:05] magento-engcom-team commented on #26431
Hi @ajijshekh123, here is your [Magento instance](https://i-26431-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26431-2-4-develop.instances.magento-community.engineering/admin_d573](https://i-26431-2-4-develop.instances.magento-community.engineering/admin_d573)
Login: `abaad31b` Password: `27eab674464a`
Instance will be terminated in up to 3 hours.

[2020-01-17 10:30] ajijshekh123 commented on #26431
Hello @ashishi-law ,

I have verified this issue in the Default Magento 2.4 Instance. Now it is working fine in the latest Magento instance.
If you have found this issue in the latest Magento 2.4 instance. Please let me know.

Thanks.

[2020-01-17 10:32] magento-engcom-team commented on #26403
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30509` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-17 10:40] drabikowy commented on #24422
@sivaschenko Your answer is not clear to me as well. The above example shows that this case should be covered like it was before.
We tried restoring the code which disabled this possibility but it seems then we have some tax calculation issues (what probably was considered in this commit https://github.com/magento/magento2/commit/1b6d64c316251604228c32667235b1df9467e0b8)

Our real example with thi

[2020-01-17 10:50] magento-engcom-team commented on #13440
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30511` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-17 10:51] hitesh-wagento commented on #26135
@magento-engcom-team

Can I proceed with this new improvement?

Thanks

[2020-01-17 10:59] pramodjadhav1419 commented on #23450
Hello All

I also Tried to export by running php bin/magento cron:run But It won't help, then after some research i got this command :::::: php bin/magento queue:consumers:start exportProcessor  :::::
Please run this command and try to export.

Hope this helps.

[2020-01-17 11:03] wintermute-84 opened #26432 "Custom Option with Percent price is converted to a currency twice"
### Preconditions (*)

1. Magento 2.4-develop
2. PHP 7.2

### Steps to reproduce (*)

1. Add custom option of type Field, Radio, Checkbox or Date to a product
2. Set price to be of type percent
3. Add another currency to a shop
4. On a product page change a currency to different from shops base currency so that magento converts the prices.

### Expected result (*)

1. Price of custom option should

[2020-01-17 11:30] engcom-Hotel commented on #26315
Hello @shansari25

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

Please feel free to comm

[2020-01-17 11:30] #26315 closed, assigned to engcom-Hotel

[2020-01-17 12:01] engcom-Hotel commented on #26298
Hello @Rajat9620
We are not able to reproduce this issue after upgrade Magento from 2.2.6 version to 2.3.3.
Probably the problem in language pack you used.
Please refer to the language pack support, for advice or general discussion about this issue.
I have to close this issue as not reproducible.

Thanks for your report!

[2020-01-17 12:01] #26298 closed, assigned to engcom-Hotel

[2020-01-17 12:24] hugodeaguiar commented on #15384
@jayankaghosh Hello,

Did you solve the problem? I have the same scenario here.
Thank you.

[2020-01-17 12:24] magento-engcom-team commented on #26422
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30517` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-17 12:37] jakwinkler opened #26433 "Adding new Deserializer to Rest API removes other Deserializers"
### Preconditions (*)

1. Magento 2.2.x / Magento 2.3.x both CE / EE & 2.4-develop

### Steps to reproduce (*)

1. Create a new module which will add new webapi route
2. Create a new deserializer using `di.xml` in your module

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Coinp

[2020-01-17 12:48] krishprakash commented on #26326
Hi @Datta. Looks issue is related to MSI.
It works fine in latest magento 2.4 instance without MSI integrated.
So please report the issue at it's separate repository.
https://github.com/magento/inventory/issues
Thanks.

[2020-01-17 12:51] jayankaghosh commented on #15384
@hugodeaguiar No, I ended up creating a custom logic to convert my grid to CSV/XML

[2020-01-17 12:54] krishprakash commented on #26326
Closing this ticket.
Thanks for your report !

[2020-01-17 12:54] #26326 closed, assigned to krishprakash

[2020-01-17 13:30] engcom-Echo commented on #14220
Hi, @VipulAniya. Thank you, for your report.

If you wanted to get that tax effect, you can use the next steps:

Configuration:
![image](https://user-images.githubusercontent.com/51681435/72615587-c2127800-393d-11ea-9ab9-b7f8582fc56b.png)
![image](https://user-images.githubusercontent.com/51681435/72615612-d0609400-393d-11ea-9bd2-8da5f52e682c.png)
![image](https://user-images.githubusercontent.com

[2020-01-17 13:33] #14220 closed, assigned to engcom-Echo

[2020-01-17 13:45] BezV8 commented on #10664
Encountered this issue on 2.3.3 just now.

[2020-01-17 14:43] choussamaster commented on #23245
A quick fix
`$eavSetup = $this->eavSetupFactory->create();

            $eavSetup->addAttribute(
                \Magento\Catalog\Model\Product::ENTITY,
                'color_image',
                [
                    'type' => 'varchar',
                    'label' => 'color_image',
                    'input' => 'media_image',
                    'required' => false,
                    'sor

[2020-01-17 14:53] magento-engcom-team commented on #26228
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30520` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-17 15:16] palviggi-flagbit commented on #24942
Applying the sortOrder fixed it for other stores (we have 5), but it fails when going back to the first store (where i logged in), so something else must be missing

[2020-01-17 15:37] iuwqyir commented on #14992
@eduard13 If you just append a form to the checkout page using `$('body').append()` and then try to submit.
This was part of a custom online payment method. When the customer clicks 'Place Order' then the form with payment data is generated and submitted to the 3rd party payment gateway.
Here's a small example that you can enter into the console on the checkout page:
[code]

[2020-01-17 15:39] mustdobetter opened #26437 "Viewing customer shopping cart in admin shows all products in catalog when there is no active quote"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. View a customer in the admin for whom there is no active quote.
2. Click on the 'Shopping Cart' tab.

### Expected result (*)

1. Nothing shows in the grid, as there is no active quote for which to show items.

### Actual result (*)

1. All products added to Magento show, giving the false impression that this is the contents o

[2020-01-17 15:51] engcom-Hotel commented on #26412
Hello @naveen0592

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

Please feel free to comm

[2020-01-17 15:51] #26412 closed, assigned to engcom-Hotel

[2020-01-17 16:12] vbuck commented on #25620
@sdzhepa I just want to thank you for carefully responding to the OP about this issue. There has been a habit of closing issues raised that mention Commerce Edition. Instead you chose to provide guidance _anyway_, and I think that's an example for Adobe to follow when dealing with the community, since Open-Source and Commerce are (for the time being) very closely related.

[2020-01-17 17:32] qsolutions-pl commented on #26433
After checking content of
`generated/metadata/global.php`
`DeserializerFactory` has only 1 argument, defined in my module, others are missing.

`'Magento\\Framework\\Webapi\\Rest\\Request\\DeserializerFactory' =>
    array (
      'objectManager' =>
      array (
        '_i_' => 'Magento\\Framework\\ObjectManagerInterface',
      ),
      'deserializers' =>
      array (
        '_v_' =>

[2020-01-17 17:45] qsolutions-pl commented on #26433
Its the same with `etc/webapi_rest/di.xml`

[2020-01-17 18:12] VladimirZaets commented on #11209
Hi @sasilinux. Thank you for your report.
The issue has been fixed in magento/magento2#26258 by @MaxRomanov4669 in 2.4-develop branch
Related commit(s):
 - [9a4ccb7b6129060b00faf26dbdb3a9a6aa6c4284](https://github.com/magento/magento2/commit/9a4ccb7b6129060b00faf26dbdb3a9a6aa6c4284)
 - [ec8a756f8ac32e058c48eaa848e9c5c3593e2acc](https://github.com/magento/magento2/commit/ec8a756f8ac32e058c48eaa848e

[2020-01-17 18:12] #11209 closed, assigned to MaxRomanov4669

[2020-01-17 18:12] VladimirZaets commented on #26235
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26238 by @hitesh-wagento in 2.4-develop branch
Related commit(s):
 - [1fd25977b0c27b8aee5e765afdd46cee3cb69906](https://github.com/magento/magento2/commit/1fd25977b0c27b8aee5e765afdd46cee3cb69906)
 - [636f03a4431714f93fa3bb4b351c7189eb1496bc](https://github.com/magento/magento2/commit/636f03a4431714f93fa3bb

[2020-01-17 18:12] #26235 closed, assigned to hitesh-wagento

[2020-01-17 18:12] VladimirZaets commented on #7065
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#26269 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [8fe06ff1c4e362160d4cbad50dfec8b4b0551b4a](https://github.com/magento/magento2/commit/8fe06ff1c4e362160d4cbad50dfec8b4b0551b4a)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-17 18:12] #7065 closed, assigned to Bartlomiejsz

[2020-01-17 18:12] VladimirZaets commented on #25130
Hi @rahulwebkul. Thank you for your report.
The issue has been fixed in magento/magento2#26051 by @edenduong in 2.4-develop branch
Related commit(s):
 - [689c1f62069f7cb4520820013cebcb3b8b906dc6](https://github.com/magento/magento2/commit/689c1f62069f7cb4520820013cebcb3b8b906dc6)
 - [3e456b29a421a03f635f0d22701bf378c935f9b0](https://github.com/magento/magento2/commit/3e456b29a421a03f635f0d22701bf3

[2020-01-17 18:12] #25130 closed, assigned to edenduong

[2020-01-17 18:12] VladimirZaets commented on #25188
Hi @viniciusfabri. Thank you for your report.
The issue has been fixed in magento/magento2#25194 by @dhoang89 in 2.4-develop branch
Related commit(s):
 - [cded4b1f2a72c9f6cf568d4c85ff31a16c0d61ac](https://github.com/magento/magento2/commit/cded4b1f2a72c9f6cf568d4c85ff31a16c0d61ac)
 - [904b2342c7f7ce391103091d1c9e0406af247aed](https://github.com/magento/magento2/commit/904b2342c7f7ce391103091d1c9e0

[2020-01-17 18:12] #25188 closed, assigned to dhoang89

[2020-01-17 18:12] VladimirZaets commented on #25881
Hi @sivaschenko. Thank you for your report.
The issue has been fixed in magento/magento2#25909 by @edenduong in 2.4-develop branch
Related commit(s):
 - [da1daaeeb64f29d7f23bc71e63987ffbc7994099](https://github.com/magento/magento2/commit/da1daaeeb64f29d7f23bc71e63987ffbc7994099)
 - [1f12acfbf94dcfc4acaeba7f74e1b78596817213](https://github.com/magento/magento2/commit/1f12acfbf94dcfc4acaeba7f74e1b7

[2020-01-17 18:13] #25881 closed, assigned to edenduong

[2020-01-17 18:13] VladimirZaets commented on #25373
Hi @mattijv. Thank you for your report.
The issue has been fixed in magento/magento2#25375 by @mattijv in 2.4-develop branch
Related commit(s):
 - [20d3f40795e8c29aa1a307c55817f557698f2f8a](https://github.com/magento/magento2/commit/20d3f40795e8c29aa1a307c55817f557698f2f8a)
 - [9b6c8d74daf13a1de3124d6999751f158004f2b2](https://github.com/magento/magento2/commit/9b6c8d74daf13a1de3124d6999751f158004

[2020-01-17 18:13] #25373 closed, assigned to mattijv

[2020-01-17 18:13] VladimirZaets commented on #25278
Hi @pedrodim. Thank you for your report.
The issue has been fixed in magento/magento2#25333 by @mkalakailo in 2.4-develop branch
Related commit(s):
 - [c1c06cc71657fe264c24f7cbf9c54a1adaa21a2c](https://github.com/magento/magento2/commit/c1c06cc71657fe264c24f7cbf9c54a1adaa21a2c)
 - [eb43ee7a71064ccb1e9fbdaeeaa89dd45187aef8](https://github.com/magento/magento2/commit/eb43ee7a71064ccb1e9fbdaeeaa89dd4

[2020-01-17 18:13] #25278 closed

[2020-01-17 18:13] VladimirZaets commented on #22304
Hi @hamplr. Thank you for your report.
The issue has been fixed in magento/magento2#24955 by @gihovani in 2.4-develop branch
Related commit(s):
 - [f27f74950a0fb961834bd4909015718e228a8ddf](https://github.com/magento/magento2/commit/f27f74950a0fb961834bd4909015718e228a8ddf)
 - [1e2ee963657c1c0a7d4c692acb0b16c97dd971e0](https://github.com/magento/magento2/commit/1e2ee963657c1c0a7d4c692acb0b16c97dd9

[2020-01-17 18:13] #22304 closed, assigned to gihovani

[2020-01-17 23:24] iphigenie commented on #11028
I have just had this, no elastic search, on both 2.3.2 and 2.3.3

[2020-01-17 23:28] Kindlebit-Kbs commented on #26291
hello @ajijshekh123 , Any Updates..?

[2020-01-18 00:47] snoroozi commented on #14909
Did you ever find a solution to this?

[2020-01-18 06:42] vimal-ranosys commented on #26277
Hello @sagar6692
I have applied this steps with my project. I have uploaded PNG image as logo. Which is looking fine after flushing the cache from admin.

![Ranosys-logo-admin](https://user-images.githubusercontent.com/56148053/72659749-a74a0d00-39ea-11ea-8f2e-ba7a6dbef6e3.png)

[2020-01-18 06:42] #26277 closed, assigned to ajijshekh123, vimal-ranosys

[2020-01-18 08:25] geet07 opened #26443 "Unable to go checkout page and DOB Validation issue"
### Preconditions (*)

1. Clean Magento 2.4
2.

### Steps to reproduce (*)

1. Set Customer Date of Birth and Tax/VAT Number required in Customer Name and Address options
2. Save Configuration
3. Add to cart and go to Checkout (after clearing Cache etc.)

### Expected result (*)

1. Successfully checkout page show.
2. If choose date of birh from calender in account information then save successful

[2020-01-18 08:40] vimal-ranosys commented on #26209
Please check with this below code:
`$quote = $objectManager->create(\Magento\Quote\Model\QuoteFactory::class)->create();

/** @var \Magento\Catalog\Api\ProductRepositoryInterface $productRepository */
$productRepository = $objectManager->create(\Magento\Catalog\Api\ProductRepositoryInterface::class);
$product = $productRepository->get('simple');
$quote->addProduct($product, 1);

// set shipping ad

[2020-01-18 09:02] vimal-ranosys commented on #26301
I could not find this issue in my setup.

[2020-01-18 09:03] periwalbhanu commented on #26404
Hi @galanis-a
I have created this issue at my end using the provided steps by you. As per my findings, MySQL does not allow you to create table with name more than 64 characters.

![identifiers_limit](https://user-images.githubusercontent.com/51773732/72661368-07e34500-39ff-11ea-9176-017264fccd41.png)

[2020-01-18 09:03] #26404 closed, assigned to periwalbhanu

[2020-01-18 09:07] periwalbhanu commented on #26404
Hi @galanis-a
I have created this issue at my end using the provided steps by you. As per my findings, MySQL does not allow you to create a table with name more than 64 characters.

![identifiers_limit](https://user-images.githubusercontent.com/51773732/72661436-036b5c00-3a00-11ea-9dc8-6d166f97d694.png)

[2020-01-18 09:19] kassner commented on #26209
@vimal-ranosys your code doesn’t not call getBillingAddress() at any point, and as I stated in the first post, it does work. Please read the first post carefully once again.

Thanks.

[2020-01-18 09:25] Puru2016 opened #26449 "Configurable product attribute issue"
### Preconditions (*)

1. Magento 2.3.1 with sample data
2. Size attribute Use in Layered Navigation

### Steps to reproduce (*)

1. Log into the admin account.
2. Navigate to Catalog > Products.
3. In add new product dropdown choose configurable product and create a configurable product using “Size” attribute:-

<img width="870" alt="Screenshot_22" src="https://user-images.githubusercontent.com/2

[2020-01-18 10:44] krishprakash commented on #26443
@magento give me 2.4-develop instance

[2020-01-18 13:08] Puru2016 commented on #26449
I am only using Size 48.5 and 48.7 for create child products in configurable product.

Here is the Size attribute details:-

<img width="860" alt="Screenshot_2" src="https://user-images.githubusercontent.com/20985181/72664243-789b5900-3a21-11ea-884f-700e676f0dda.png">

[2020-01-18 13:22] bo91 commented on #19710
Hello

This issue drives me crazy... I tried a lot, custom view.xml, changing the getViewImages() function, as mentioned above. Always ran the catalog:images:resize, uploaded the images copletely new.

Still no luck. So how can I fix that? I need to go live in a few days with my shop...

[2020-01-18 14:43] Userr017 commented on #19710
@bo91 Check this comment, this only works for me but I think it is temporary fix https://github.com/magento/magento2/issues/19710#issuecomment-479079800

[2020-01-18 14:51] Zyles commented on #26301
Are you serious?

Re-open the issue at once and try again.

[2020-01-18 14:52] Zyles commented on #26301
@magento give me 2.4-develop instance

[2020-01-18 14:53] Zyles commented on #26301
@magento give me 2.4-develop instance

[2020-01-18 14:53] Zyles commented on #26449
@magento give me 2.4-develop instance

[2020-01-18 15:04] Zyles commented on #26301
Just re-produced it on 2.4-develop

Re-open the issue.

[2020-01-18 17:14] bo91 commented on #19710
@Userr017  Yes I saw that, but I am not sure if I want to implement that because it's always generating the image...
Is the real issue currently identified or not? What causes this wrong hash?

[2020-01-19 05:14] mrtuvn opened #26453 "Unable to unserialize value when enable redis cache backend in 2.4-dev"
### Preconditions (*)

1. Magento 2.4-develop
2. php 7.3.11
3. redis enabled in container of docker enviroment

### Steps to reproduce (*)

1. bin/magento setup:config:set --cache-backend=redis --cache-backend-redis-server=redis
2.

### Expected result (*)

1. Page load without problem
2.

### Actual result (*)

1. Error InvalidArgumentException: Unable to unserialize value
#0 /var/www/magento2ce/

[2020-01-19 05:33] mrtuvn commented on #26453
seem not related with magento. This problem come from faults in redis configuration

[2020-01-19 05:33] #26453 closed, assigned to nobody

[2020-01-19 11:22] Bartlomiejsz commented on #26301
Reopening as I was also able to reproduce issue on 2.4-develop.
This however doesn't seem to be related to https://github.com/magento/magento2/issues/19872 as mentioned by @wescey, because here issue occurs right after selecting image from gallery.
In ticket mentioned fix was provided on page load, after image was already saved.

[2020-01-19 18:49] ilnytskyi commented on #25987
The workaround can be like this:
Remove general `cron:run` from crontab.
Add each group to crontab with flock separately or use any other custom locker.
`* * * * * flock /path/to/lock php bin/magento cron:run --group=index --bootstrap=standaloneProcessStarted=1`

[2020-01-19 20:26] torhoehn commented on #26414
@engcom-Hotel  You're right, on 2.4-develop I can't reproduce it anymore. Could you please give me a hint what has changed that it's working again?

[2020-01-19 20:42] bo91 commented on #10304
Hi
Does anybody know where the stock count should be decreased? It's also not happening if I just overwrite the two methods as mentioned by @nikoelgatito :

`Magento\CatalogInventory\Model\Quote\Item\QuantityValidator::validate()
Magento\CatalogInventory\Model\StockStateProvider::checkQuoteItemQty()`

[2020-01-20 05:01] PivitParkour94 commented on #20053
Is there any plans to actually have this implemented? Some sort of time estimate for when this will be available?

[2020-01-20 07:01] ajijshekh123 commented on #26431
Hi @ashishi-law, Please update your thought.

[2020-01-20 08:08] hostep commented on #13180
@manish-sirvi: please don't close issues without any explanation, thanks!

[2020-01-20 08:34] engcom-Echo commented on #8145
Hi, @hostep. Thank you for your report.
I tried to reproduce this in 2.4-developer using your steps.
Unfortunately, this issue is not reproducible.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank yo

[2020-01-20 08:37] #8145 closed, assigned to engcom-Echo

[2020-01-20 08:39] artursson commented on #24844
**Additional info: (Magento 2.3.3 instance)**

The issue reproduces if only 1 Payment Method (new Authorize.Net module) is enabled (available for Order Creating in Admin Panel).

**Error:**

[2020-01-20 09:12] Sherlock0105 commented on #13941
@mohanadly89, I'm Yutaka Yoshida.
Happy new year!
Please accept my contact on skype.
My skype mail is sherlock0105@outlook.com

[2020-01-20 09:28] TheFrakes commented on #24422
So does that mean it will be fixed in 2.4 and we can use "apply discount to shipping amount" just like we could in 2.3.1?
![grafik](https://user-images.githubusercontent.com/13464919/72714705-72b38e00-3b6f-11ea-8afb-2518b13cd1fe.png)

[2020-01-20 09:58] engcom-Hotel commented on #26414
Hi @torhoehn
All I could find was https://github.com/magento/magento2/pull/18368#issuecomment-441576897, which means this problem has been fixed by the magento core team.
I hope this helps :)

[2020-01-20 10:00] torhoehn commented on #26414
@engcom-Echo Just found out that this commit fixes the problem: https://github.com/magento/magento2/commit/4844c67145e87ae77dc30b09907fa3dfbf181fd5
Thank you for your help!

[2020-01-20 10:02] hzubyrss commented on #24964
You should contact your theme developer and ask them for the updated patch for Magento 2.3.3 if you using Porto theme follow this link: [](https://magento2expert.com/error-after-indexing-after-upgrade-to-magento-2-3-3-porto-theme/)

[2020-01-20 10:37] anvanza commented on #19710
My temp workaround is using cloudinary.com. It has a free plan and an M2 module and it took me about an hour to get everything working.

[2020-01-20 10:55] engcom-Hotel commented on #10664
Hello @BezV8
I am not able to reproduce this issue on the Magento 2.3.3 & 2.4-develop.

**Testing scenario:**
1. Add new top level category and turn off "Include in Menu". (Note, issue is the same if the parent category is disabled)
![image](https://user-images.githubusercontent.com/51681618/72720716-41dd5400-3b83-11ea-8c8e-f881c6e32441.png)
2. Add new sub category to the category added in step #

[2020-01-20 10:58] engcom-Alfa commented on #15270
Hi @scottsb, thank you for your report.

Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop instance.

**Manual testing scenario:**
1. Create a customer;
2. Place an order with address "A" as billing & shipping. Use Braintree credit card as a payment method and choose to save for later (i.e., add it to the vault).
![screen1](https://user-images.githubusercontent.com/5167

[2020-01-20 11:10] lano-vargas opened #26456 "Magento 2 refund order via API status does not change to Closed"
### Preconditions (*)

1. Have magento2.2.2 installed
2. Keep all default payments config  etc... such as `Check / Money order`

### Steps to reproduce (*)

1. Add a configurable and at least 1 simple to `configurations`
2. Go to frontend add at least one product to cart and checkout finalise purchase.
3. Go to backend and Invoice + Ship the item and the status will be set to `Complete`.
4. Now us

[2020-01-20 11:28] qsolutions-pl commented on #26433
Just an update from my end:
It seems like this is a general `di.xml` bug / (feature??)
If you try to add a new argument to an existing `<type>` in your own module, it will overwrite all arguments defined in CORE or 3rd party modules.
Its the same for all areas where you can define `di.xml` file
In order for this to work, you have to copy+paste arguments section to your own module

[2020-01-20 11:43] rav-redchamps commented on #26437
@magento give me 2.4-develop instance

[2020-01-20 11:46] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-01-20 12:18] abbaseg commented on #22753
I am also getting the same error

I am using B2B feature quick order. While adding the product into the cart from quickorder menu i am getting the error Uncaught Error: Cannot instantiate interface Magento\InventorySalesApi\Api\IsProductSalableInterface

[2020-01-20 12:33] engcom-Hotel commented on #26433
Hello @qsolutions-pl
This issue is a bug.

Thanks for collaboration!

[2020-01-20 12:41] NetStorm84 opened #26458 "Showing incorrect attributes on the frontend"
There is an issue where if you have created an attribute via code and added a product type to the _apply_to_ key, the attribute is still visible under the Specifications tab on the product page of products that don't match that type, if the attribute has a value.

For example... I create an attribute using code, in the _apply_to_ key I add 'configuable', for the _source_ key I will use \Magento\Ea

[2020-01-20 12:57] engcom-Echo commented on #25334
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-20 12:57] #25334 closed, assigned to nobody

[2020-01-20 13:00] jayanta88 opened #26460 "Category Image getting removed every time you save it in Magento 2.3.3"
### Preconditions (*)
Magento community 2.3.3

### Steps to reproduce (*)
1. Go to Admin => Catalog => Categories => add category and add image.
2. Now you will see the image added in the category. Now hit the save button again. You will image disappeared.

### Expected result (*)

1.  The image shouldn't disappear when we're changing other category attributes.

### Actual result (*)

1. Image get

[2020-01-20 13:08] jayanta88 commented on #26460
@magento give me 2.3.3 instance

[2020-01-20 13:12] jayanta88 commented on #26460
@magento give me 2.4-develop instance

[2020-01-20 13:22] valguss commented on #26460
duplicate of https://github.com/magento/magento2/issues/25099

[2020-01-20 13:29] FerihumF commented on #23832
@magento give me 2.4-develop instance

[2020-01-20 14:01] sedax90 opened #26461 "Can't edit product page if attribute with input type Swatch Text has no options"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Create a new attribute with Input type: swatch visual
2. Don't creare any attribute options and click Save
3. Add this attribute to default attribute set
4. Try to create a new product

### Expected result (*)
1. Product edit form should be visibile with a message or something similar

### Actual result (*)
1. Exception is retur

[2020-01-20 14:29] engcom-Alfa commented on #8691
The issue is reproduced on a 2.4-develop instance

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/72734214-eff7f680-3ba1-11ea-9c64-c1dd6549e9b2.png)

[2020-01-20 14:37] danielrussob commented on #22774
@magento-engcom-team give me 2.3-develop instance

[2020-01-20 14:45] danielrussob commented on #22774
@magento give me 2.3-develop instance

[2020-01-20 14:51] danielrussob commented on #22774
@magento-engcom-team give me 2.3-develop instance

[2020-01-20 15:38] alexmtch opened #26463 "Injection of an attribute on product recently view doesn't work"
### Summary
Hello, i followed this topic [https://magento.stackexchange.com/questions/278142/magento-2-add-new-attribute-delivery-time-to-recently-viewed-widget](url) to add a custom attribute but it doesn"t works.

### Information on your environment

Magento 2.3.3

### Steps to reproduce

Follow this [https://magento.stackexchange.com/questions/278142/magento-2-add-new-attribute-delivery-time-to

[2020-01-20 15:43] BezV8 commented on #10664
@magento give me 2.3.3-develop instance

[2020-01-20 15:54] BezV8 commented on #10664
@engcom-Hotel I have just tried the same methodology as you on a 2.3.3 site we are developing and the subcategory does show on the menu even when the parent is set to not show.

I have yet to test on a completely vanilla instance.

![Screenshot_2020-01-20 Home page](https://user-images.githubusercontent.com/33320744/72740207-22ebbb80-3b9d-11ea-8805-9137744d5d1b.png)
![Screenshot_2020-01-20 Test (I

[2020-01-20 16:30] mvaisberg commented on #13604
someone find any solution here, beside add url_key on the import file

[2020-01-20 16:37] danielrussob commented on #22774
It seems that Magento 2.3.x has missed a commit (451f7b9f317db5a27d3d9c541cc3c1678cc169f5), i don't know why

As a temporary fix you can create a patch from https://github.com/magento/magento2/commit/451f7b9f317db5a27d3d9c541cc3c1678cc169f5 to solve problem

[2020-01-20 17:27] gibbotronic commented on #25670
Unfortunately, the FPC in Magento is broken by design and cannot be fixed.

On lengthy and tedious investigation, the issue stems from some of the logic being in the UI templates (XML + .phtml or any of the myriad languages that extensibility can be written in, with varying locations of interpretation/compilation/callback), and some of it being in the program code, and the attributes being sibling

[2020-01-20 17:54] rav-redchamps commented on #26437
@magento give me 2.4-develop instance

[2020-01-20 17:55] rav-redchamps commented on #26437
@magento give me 2.4-develop instance

[2020-01-20 19:03] jmelkun commented on #25927
I'm also having the same issue. I just got off the phone with my Adwords rep; they weren't able to help but did provide some interesting nuggets.

The account is created as a multi-user account by Magento with the user given administrative rights to the account. At any point prior to creating your first campaign, you have access to the Merchant account created by the plugin; you can log into the M

[2020-01-20 20:39] GuiltyNL commented on #25670
I'm debugging this for two years now and my findings are the same as yours. With the big difference that you were able to write it out and spend your time on that. I appreciate that.

Unfortunately. Adobe is busy adding stuff to Magento no one needs while forgetting there are 1000+ open bugs and one of the most important bugs that isn't working in Magento: FPC.

My servers are indeed contributing

[2020-01-20 20:56] rohit030 commented on #21718
Re: Magento 2 installation stuck at 66%
In your php.ini file increase values of below parameters.

max_execution_time = 18000
max_input_time = 1800
memory_limit = 1024M
Note : Make sure you increase max_input_time value to at least 1800 and it will works !!

[2020-01-20 22:11] gibbotronic commented on #25670
That's sad and a lot of pages to be updated! I am not sure how it can be fixed TBH as the logic is in too many places and in too many languages, some of which is interpreted by callbacks *after* the page is loaded.

Instead:
1. The logic for products (and anything else, down to an attribute granularity) needs to be expressed in a single, parseable place that is interrogate-able at the **point of s

[2020-01-20 22:15] fooman commented on #26433
Speculating here it could be related to 'vendor/magento/framework/Config/Dom/NodeMergingConfig.php'
[code]

which looks to be working in conjunction with
vendor/magento/framework/ObjectManager/Config/Reader/Dom.php

[code]

The order of the above idAttributes seems important here. It might get a result for `/config/(type|virtualType)/arguments/argument` before it gets to ` '/config/(type|virtualTy

[2020-01-21 01:00] oviliz commented on #23408
@xmav how can we tell which type was used to install Magento? Can we change types?

[2020-01-21 01:23] afavata opened #26465 "Setup Issue on New Installation Magento 2.3.3"
Environment
Ubuntu 18.04.3 LTS
Apache/2.4.29 (Ubuntu)
PHP 7.3.13
mysql  Ver 8.0.19

I installed all the source file for Magento 2.3.3  using composer command.
Composer command ended with no issue
Configured apache2 host server and PHP
Configured mysql and created a new database DbMagento
Accessed through Browser to Magento Setup
Filled all the information requested and reached the last step:
1 - R

[2020-01-21 04:32] ajijshekh123 commented on #26460
Give me @magento give me 2.4-develop instance

[2020-01-21 04:37] ajijshekh123 commented on #26460
@magento give me 2.4-develop instance

[2020-01-21 04:49] ajijshekh123 commented on #26460
@jayanta88 - This issue is relevant to the below issue.
https://github.com/magento/magento2/issues/25099
I am closing this issue. If this issue is not relevant to the above issue you can open it.

Thanks.

[2020-01-21 04:50] #26460 closed, assigned to ajijshekh123

[2020-01-21 05:51] vladthetech commented on #25028
Since I am currently not using the Google Shopping Ads Module, I ran the composer remove command which basically changes the same line of code:
`composer remove magento/google-shopping-ads`

[2020-01-21 06:32] sergiy-v commented on #8691
I'm working on the issue.

[2020-01-21 07:55] CRYX2 commented on #26461
@magento give me 2.4-develop instance

[2020-01-21 09:03] DavaGordon commented on #26377
Issues come across as a result of sameSite in the last 24 hours are if you do not have an active backend SSL certificate then both Chrome & Firefox will now allow you to log in to the backend admin panel rather it will simply refresh without any errors and warning.

After looking further into it I think the cause of this is down to a commit made 22 days ago https://github.com/zendframework/zend-ht

[2020-01-21 09:09] magulin commented on #25275
@nadroj467 Did you find a fix?

[2020-01-21 09:27] Den4ik commented on #26443
Same validation issue at sign up form

[2020-01-21 09:35] adamlavery opened #26466 "No QR code when initialising 2FA"
### Preconditions (*)

1. 2.3.3
2. Enable 2FA

### Steps to reproduce (*)

1. Stores > Configuration > Security > 2FA
2. Enable Two Factor Auth: Yes
3. Force providers: none
4. Enable Google Authenticator
5. System > All Users
6. Enable Google Authenticator for an account
7. Login to said account

### Expected result (*)

1. Should be shown a QR code to initialise 2FA

### Actual result (*)

![ima

[2020-01-21 09:35] engcom-Hotel commented on #10664
@BezV8 i think it is related to your custom theme(some category display layouts is broken). Please try to find different of your theme layouts with Luma theme. Hope it helps.
So now i have to finally close this issue as not reproducible.

Thanks for collaboration!

[2020-01-21 09:35] #10664 closed, assigned to engcom-Hotel

[2020-01-21 09:40] adamlavery opened #26467 "2FA no QR code on first login"
### Preconditions (*)

1. 2.3.3
2. Enable 2FA

### Steps to reproduce (*)

1. Stores > Configuration > Security > 2FA
2. Enable Two Factor Auth: Yes
3. Force providers: none
4. Enable Google Authenticator
5. System > All Users
6. Enable Google Authenticator for an account
7. Login to said account

### Expected result (*)

1. Should be shown a QR code to initialise 2FA

### Actual result (*)

![ima

[2020-01-21 09:43] adamlavery commented on #26467
@magento give me 2.4-develop instance

[2020-01-21 09:48] bst2002git commented on #25275
@magulin Hello i found and resolved using this tips:
https://twitter.com/vova_yatsyuk/status/1182192753335324673?s=09
https://magento.stackexchange.com/questions/293714/magento-2-console-notice-fallback-to-jqueryui-compat-activated

[2020-01-21 09:52] magulin commented on #25275
Thanks! 👍

[2020-01-21 10:22] amitmaurya191 commented on #15935
did you get answer ?

Did you get the correct answer ?

[2020-01-21 11:14] engcom-Delta commented on #26040
Hi @navneetbhardwaj thank you for your report.  I am not able to reproduce issue by steps you described on clean 2.4-develop
Csv file is imported succesfully: [importImageUrl.csv.txt](https://github.com/magento/magento2/files/4090742/importImageUrl.csv.txt)

If you'd like to update the issue, please reopen it.

[2020-01-21 11:14] #26040 closed, assigned to shikhamis11, engcom-Delta

[2020-01-21 11:15] engcom-Charlie commented on #26456
Hi @lano-vargas thank you for your report, but we are not able to reproduce this issue on a fresh 2.4-develop instance and 2.3.3 release.

**Manual testing scenario**:
1. Add a configurable and at least 1 simple to configurations
2. Go to frontend add at least one product to cart and checkout and place an order.
3. Go to backend and make Invoice + Ship the item and the status will be set to Comple

[2020-01-21 11:18] engcom-Hotel commented on #23462
Hello @chris-pook
Please refer to [Magento devdocs repository](https://github.com/magento/devdocs/issues), for advice or general discussion about your issue.

Сould you close this issue when you decide everything in the DevDocs repository?

[2020-01-21 11:19] Puru2016 commented on #26449
Any update on this or require more information to replicate this issue, Please let me know.

[2020-01-21 11:35] engcom-Delta commented on #25877
Hi @TerreFra thank you for your report. This is [MSI](https://github.com/magento/inventory) functionality.
Please, refer to appropriate [repo](https://github.com/magento/inventory/issues) for further investigation

[2020-01-21 11:35] #25877 closed, assigned to krishprakash, engcom-Delta

[2020-01-21 11:52] WebDweller commented on #2335
I had this same issue and it got resolved after updating directory & files permissions and adding my magento user to www-data group.

[code]

`sudo adduser ubuntu www-data`

[2020-01-21 12:22] engcom-Hotel commented on #26244
@magento give me 2.4-develop instance

[2020-01-21 12:36] iGerchak opened #26469 "New Product in the first position at the category product list"
Example:
You have a site that sells Apple gadgets.
And there is an iPhone category.
Apple just presented the new iPhone 12.
You add an iPhone 12 to the iPhone category in few colors, but it's not available to order, because you don't have it on the stock.
As a result, the iPhone 12 will be in the first position on the iPhone category.
A customer will see unavailable products on the first positions

[2020-01-21 12:44] krishprakash commented on #26469
Hi @iGerchak.
This is expected behavior of magento as last added product in category saved as default 0 in position so It should display first.
![image](https://user-images.githubusercontent.com/46617848/72805832-ce6a3e00-3c79-11ea-9692-da834f0f0d11.png)

[2020-01-21 13:12] krishprakash commented on #26469
Closing this ticket as non issue

[2020-01-21 13:18] lalitkaushikgithub commented on #26449
I am also facing the same issue.

[2020-01-21 13:30] engcom-Hotel commented on #26244
Hello @foreverhydrox
Could you provide more info about your envelopment, magento version and add steps to reproduce?

[2020-01-21 13:53] engcom-Charlie commented on #22196
development in progress

[2020-01-21 13:54] iGerchak commented on #26469
Hi, @krishprakash.
I added the business issue to the description. Please review it.

[2020-01-21 14:09] twoonesixdigital opened #26471 "TransportBuilder unable to send emails of Content-Type "text/plain" as of 2.3.3"
### Preconditions (*)

1. Magento Community Edition 2.3.3
2. One or more Magento email templates configured as type "text" via an email_templates.xml file.

### Steps to reproduce (*)

1.Attempt to send a template based email of type "text" using Magento\Framework\Mail\Template\TransportBuilder that is of Content-Type "text/plain" using the TransportBuilder class's sendMessage method.

### Expecte

[2020-01-21 14:17] mehmetuygun commented on #23908
Hi @sdzhepa

I would like to let you know @sdzhepa https://github.com/magento/magento2/issues/23908#issuecomment-546057109 This works for me. But After fixing database according to https://github.com/magento/magento2/pull/24917#issuecomment-539666218 (if the customer_id is not null in the quote table, customer_is_guest should be 0) But I don't need to make changes in codes.

With this https://gith

[2020-01-21 14:21] twoonesixdigital commented on #26471
yes

[2020-01-21 14:26] sky-hub opened #26472 "MySQL Query stuck on "Sending Data" while retrieving related products"
Although I can not tell for sure how to reproduce the issue, as it manifests randomly, I suspect the problem is that MySQL is taking too much time in scanning the tables for the result.

Even tho the issue was discovered on Magento Commerce, except the join related to Catalog Staging the same query is executed on Magento Open Source.

### Preconditions (*)

1. Magento Commerce 2.3.1
2. MySQL 5.7
3

[2020-01-21 14:27] afavata commented on #26465
Any fast workaround to resolve this issue?

[2020-01-21 14:29] kylianleemkuil opened #26473 "BUG: Wrong selected product image when query url param configurable product"
###  Summary of the issue (*)
In my webshop I have games and this games have different editions and a used and a new state.
Now I have one configurable product for example: "007 From Russia With Love" with a couple of simple products under it:

*(Attribute) System*
1. PlayStation 2
2. GameCube

*(Attribute) State*
1. New
2. Used

In my product listings I only show the configurable products but the

[2020-01-21 14:29] twoonesixdigital commented on #26471
@magento yes

[2020-01-21 14:32] twoonesixdigital commented on #26471
Pull request submitted: https://github.com/magento/magento2/pull/26474

[2020-01-21 15:24] vipin12117 commented on #19479
Why this issue was closed even not solved ? Why error message does not give profile file or table name to fix ?

[2020-01-21 16:22] djacques4gorilla commented on #15270
@engcom-Alfa If this issue was resolved in the 2.4 development branch, that's good, but if so would it be possible to point out which commit/PR fixed it in order to backport the fix and create a patch for existing 2.2 and 2.3 stores, and hopefully build it into 2.3.5 too? Thanks!

[2020-01-21 16:24] lbajsarowicz opened #26477 "Request: `cron:install` should install only crucial entry by default"
### Summary (*)
It is very common for developers to not read the [documentation](https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-cron.html). As a result - they install Cron Jobs with `bin/magento cron:install`. That way - they get 1 crucial entry (`cron:run`) and 2 redundant entries (`update/cron.php` and `setup:cron:run`) in the production environment.

### Example

[2020-01-21 16:31] djacques4gorilla commented on #15270
Actually, looks like it was MAGETWO-91624 (https://github.com/magento/magento2/commit/06c69e361b283911fb2c2db4da04f81226749a9e), which was built into 2.3.0. This issue is marked as having been reproduced on 2.3.x, so perhaps we need to re-validate if this is really true. If we can't reproduce on 2.3, then the commit above is most likely the fix needed.

[2020-01-21 18:02] lbajsarowicz opened #26479 "Bug: AutoloaderRegistry::getAutoloader returns array"
### Preconditions (*)
1. Cloned `magento/magento2` repository (without changes)
2. Installed Composer dependencies

### Steps to reproduce (*)
1. Configure and run Integration Tests
2.

### Expected result (*)
1. Integration Tests should pass

### Actual result (*)
1. Randomly you get error `Error: Call to a member function findFile() on array` (`/var/www/html/lib/internal/Magento/Framework/Code/G

[2020-01-21 18:46] hostep commented on #26477
I'm going to close this as a duplicate of https://github.com/magento/magento2/issues/24186
Feature request has already been handled in https://github.com/magento/magento2/pull/24187 and will be released in Magento 2.3.4 where you will be able to execute:
[code]

Thanks! 🙂

[2020-01-21 18:47] #26477 closed, assigned to nobody

[2020-01-21 19:58] magento-engcom-team commented on #26443
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26301
Hi @Zyles. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26301
Hi @Zyles. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26449
Hi @Zyles. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26427
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30623` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:58] magento-engcom-team commented on #25955
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30624` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:58] magento-engcom-team commented on #22196
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24387` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:58] magento-engcom-team commented on #26437
Hi @rav-redchamps. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #13639
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30625` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:58] magento-engcom-team commented on #26460
Hi @jayanta88. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26460
Hi @jayanta88. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #23832
Hi @FerihumF. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26301
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30270` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:58] magento-engcom-team commented on #22774
Hi @danielrussob. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #22774
Hi @danielrussob. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #18195
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24577` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:58] magento-engcom-team commented on #22774
Hi @danielrussob. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #10664
Hi @BezV8. Thank you for your request. I'm working on Magento 2.3.3-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #13180
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30489` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:58] magento-engcom-team commented on #26437
Hi @rav-redchamps. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26437
Hi @rav-redchamps. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:58] magento-engcom-team commented on #26460
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:59] magento-engcom-team commented on #26460
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:59] magento-engcom-team commented on #13440
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30511` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:59] magento-engcom-team commented on #26461
Hi @CRYX2. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:59] magento-engcom-team commented on #26432
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30626` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:59] magento-engcom-team commented on #26467
Hi @adamlavery. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:59] magento-engcom-team commented on #26432
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30626` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:59] magento-engcom-team commented on #26244
Hi @engcom-Hotel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 19:59] magento-engcom-team commented on #26433
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30627` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:59] magento-engcom-team commented on #23832
Hi @FerihumF, here is your [Magento instance](https://i-23832-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-23832-2-4-develop.instances.magento-community.engineering/admin_83b0](https://i-23832-2-4-develop.instances.magento-community.engineering/admin_83b0)
Login: `c825cc97` Password: `63566afed2ed`
Instance will be terminated in up to 3 hours.

[2020-01-21 19:59] magento-engcom-team commented on #8691
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30628` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:59] magento-engcom-team commented on #26153
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30629` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:59] magento-engcom-team commented on #26443
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30630` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 19:59] magento-engcom-team commented on #26308
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30631` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 20:00] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_2648](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_2648)
Login: `bfc71dae` Password: `4c47d377a13e`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:00] magento-engcom-team commented on #26301
Hi @Zyles, here is your [Magento instance](https://i-26301-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26301-2-4-develop.instances.magento-community.engineering/admin_5fca](https://i-26301-2-4-develop.instances.magento-community.engineering/admin_5fca)
Login: `0273939b` Password: `8cd8246e5a6b`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:01] magento-engcom-team commented on #26443
Hi @krishprakash, here is your [Magento instance](https://i-26443-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26443-2-4-develop.instances.magento-community.engineering/admin_4ede](https://i-26443-2-4-develop.instances.magento-community.engineering/admin_4ede)
Login: `66099259` Password: `7ea4577a7e2b`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:02] magento-engcom-team commented on #26449
Hi @Zyles, here is your [Magento instance](https://i-26449-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26449-2-4-develop.instances.magento-community.engineering/admin_3ede](https://i-26449-2-4-develop.instances.magento-community.engineering/admin_3ede)
Login: `51d66acd` Password: `80ddfef013c1`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:03] magento-engcom-team commented on #26437
Hi @rav-redchamps, here is your [Magento instance](https://i-26437-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26437-2-4-develop.instances.magento-community.engineering/admin_ba54](https://i-26437-2-4-develop.instances.magento-community.engineering/admin_ba54)
Login: `2c717022` Password: `6b9915b13537`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:04] magento-engcom-team commented on #26460
Hi @jayanta88, here is your [Magento instance](https://i-26460-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26460-2-4-develop.instances.magento-community.engineering/admin_9762](https://i-26460-2-4-develop.instances.magento-community.engineering/admin_9762)
Login: `28de2c0a` Password: `6bcc4bbbccda`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:05] magento-engcom-team commented on #26461
Hi @CRYX2, here is your [Magento instance](https://i-26461-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26461-2-4-develop.instances.magento-community.engineering/admin_073d](https://i-26461-2-4-develop.instances.magento-community.engineering/admin_073d)
Login: `8e5ce0aa` Password: `9d1ec165f018`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:06] magento-engcom-team commented on #26467
Hi @adamlavery, here is your [Magento instance](https://i-26467-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26467-2-4-develop.instances.magento-community.engineering/admin_cbed](https://i-26467-2-4-develop.instances.magento-community.engineering/admin_cbed)
Login: `ac855082` Password: `579035e85375`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:07] magento-engcom-team commented on #24426
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30632` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-21 20:07] magento-engcom-team commented on #26244
Hi @engcom-Hotel, here is your [Magento instance](https://i-26244-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26244-2-4-develop.instances.magento-community.engineering/admin_024b](https://i-26244-2-4-develop.instances.magento-community.engineering/admin_024b)
Login: `db4aeb05` Password: `fe7fe6d77396`
Instance will be terminated in up to 3 hours.

[2020-01-21 20:09] magento-engcom-team commented on #24426
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-01-21 20:12] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-01-21 20:12] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-21 20:13] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_9f43](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_9f43)
Login: `144e9b68` Password: `1f48de48946b`
Instance will be terminated in up to 3 hours.

[2020-01-21 21:06] emilev79 commented on #25927
Same issue here.

As concerned the questions.

    _Did you have an existing GMC account before going through the onboarding process?
    Did you have a Google Ads account before going through the onboarding process?
    Was your website URL claimed by another GMC account before?
    In Stores --> Configuration --> Sales --> Google API --> Google Adwords, were you already using Conversion ID featu

[2020-01-21 22:31] Zyles opened #26481 "Unable to remove default text swatch value and value automatically assigning"
When creating a new text swatch, if you click "Is default" you can not undo it and having a blank value is no longer possible. That causes a problem for products where the swatch is optional.

That value will then automatically assign itself to any old products if they are saved, even if you did not select any text swatch value.

### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduc

[2020-01-21 23:46] MichaelThessel opened #26482 "UPS shipping method rates request has no caching"
### Preconditions (*)

1. Magento 2.3.3 & 2.4-develop.

### Steps to reproduce (*)

1. This problem only appears when M2 is extended and UPS shipping set up
2. I have an installation where 3 different modules fetch the shipping totals on the cart page
3. They do this via:

`Magento\Quote\Model\Quote\TotalsCollector->collectAddressTotals()`

which then executes:

`Magento\Shipping\Model\Rate->getAl

[2020-01-22 00:46] MichaelThessel commented on #26350
[code]

[2020-01-22 02:34] Zyles commented on #26467
This is a problem if you upgraded to 2.3.3. Not re-producable on new installs for me.

[2020-01-22 04:47] Zyles opened #26483 "Flat catalog stopped updating"
So randomly (like all Magento 2 issues) things stopped working.

I can't update prices of any products. The frontend does not update in price. The table catalog_product_flat_1 price column is not updating to the latest price.

But when I go and edit the product the new price is there.

Clearing cache etc. does nothing.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Instal

[2020-01-22 05:09] Zyles commented on #26483
So the problem is the store view scope.

When I change to another store view, the price "Use Default Value" is NOT checked. When I check it, the price can be updated again.

How can this happen? Nobody has unchecked it.

[2020-01-22 05:26] Zyles opened #26484 "Updating a product through the API unchecks "Use Default Value" on a bunch of attributes"
When you update a product. For example adding an image using the API. Which is totally unrelated to anything else, such as editing price.

The checkbox "Use Default Value" becomes unchecked on a bunch of attributes, such as price.

This turns into a problem when you want to edit the product later, update the price, or the description etc. and nothing happens. So you have to change store view scope

[2020-01-22 05:27] Zyles commented on #26483
Bug identified in #26484

[2020-01-22 05:27] #26483 closed, assigned to nobody

[2020-01-22 05:32] travish commented on #24844
Reproduced on `2.3.1`

It should be noted that the `payment.log` contains empty values for `dataDescriptor` and `dataValue`:

[code]

Looks like the missing value comes from `vendor/magento/module-authorizenet-acceptjs/view/adminhtml/templates/form/cc.phtml`

[2020-01-22 06:14] smjrifle opened #26485 "Issue with Paypal Payment"
I am trying this on Magento version 2.3.2 and 2.3.3. All the payments are working properly, I am using Paypal Express and while trying to make payments via Paypal I am facing issues, if I use card payment on Paypal Express it works with out error.

Looking over console log. I found genericError.dust%3AblockNonDomesticShipping while making the paypal request. Then I edited vendor/magento/module-pay

[2020-01-22 06:53] pilr opened #26486 "Update Totals button still missing in the Credit Memo page."
https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-commerce.html#orders

From Note: The missing Update Totals button has been added to the Credit Memo page.

### Preconditions (*)

1. Version 2.3.3
2.

### Steps to reproduce (*)

1. install new magento 2.3.3
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. Update Totals button must show in the Credit Mem

[2020-01-22 06:57] pilr commented on #26486
@magento give me 2.3.3 instance

[2020-01-22 06:57] magento-engcom-team commented on #26486
Hi @pilr. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-22 06:58] magento-engcom-team commented on #26486
Hi @pilr, here is your [Magento instance](https://i-26486-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26486-2-3-3.instances.magento-community.engineering/admin_17fc](https://i-26486-2-3-3.instances.magento-community.engineering/admin_17fc)
Login: `247e6e31` Password: `10938716c64b`
Instance will be terminated in up to 3 hours.

[2020-01-22 07:07] pilr commented on #26486
@magento-engcom-team  Update total button still missing in that instance on credit memo page.
![Screenshot (19)](https://user-images.githubusercontent.com/23712969/72872648-d208ce00-3d28-11ea-813c-ab31d2e69ba4.png)

[2020-01-22 07:19] rav-redchamps commented on #26437
@magento give me 2.4-develop instance

[2020-01-22 07:19] magento-engcom-team commented on #26437
Hi @rav-redchamps. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-22 07:20] magento-engcom-team commented on #26437
Hi @rav-redchamps, here is your [Magento instance](https://i-26437-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26437-2-4-develop.instances.magento-community.engineering/admin_08c7](https://i-26437-2-4-develop.instances.magento-community.engineering/admin_08c7)
Login: `bde65e13` Password: `0a31daa50f00`
Instance will be terminated in up to 3 hours.

[2020-01-22 07:34] rav-redchamps commented on #26437
@magento-engcom-team The admin URL throws a 404 page

[2020-01-22 08:33] bartoszkubicki commented on #26209
it is still an issue as @kassner

[2020-01-22 08:45] adamlavery commented on #26467
Hmm, instance created in the middle of (my) night that only lasts for 3hrs! Instances should last at least at least 24hrs, or preferably 72hrs if created on a Friday. It's no longer available.

@Zyles - so you are able to reproduce on upgraded M2.3.x but not fresh installs? Given most active sites will have been upgraded many times to get to 2.3.3, and there's no clues to the cause in any logs, an

[2020-01-22 08:52] Zyles commented on #26467
Yes we had the same problem upgrading from 2.3.1 to 2.3.3.

I had to pay to get it fixed. Not sure what the problem was except that is has to do with the XML layout files that were incorrect somehow.

M2 devs should fix it, because they screwed up like the usually do since there is no QA done on any releases.

[2020-01-22 09:12] adamlavery commented on #26467
@Zyles - thanks for the confirmation. Any chance the devs that fixed it for you could give a pointer as to where the issue lies? Would be helpful to all not to have to redo the analysis on what mistake the core team have made this time.

Absolutely with you on this.  Seems just about every new Magento release is now requiring a mail to my client apologising for Magento's mistakes and telling them

[2020-01-22 10:08] alexmtch commented on #26463
I updated the structure

[2020-01-22 10:18] lano-vargas commented on #26456
@engcom-Charlie Thanks for looking!

The version this issue is on 2.2.2 you've tested it on 2.3.3 and 2.4-develop which probably have been fixed. Is this a bug on 2.2.2 version then?

Thanks

[2020-01-22 10:35] engcom-Delta commented on #12638
Hi @shavounet thank you for your report. I am not able to reproduce issue on  2.4-develop

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-01-22 10:35] #12638 closed, assigned to engcom-Delta

[2020-01-22 11:37] magento-engcom-team commented on #26341
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30648` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-22 11:42] engcom-Hotel commented on #23569
Hello @Naberdz
That is expected behavior of `GetPrice` method( if special price is higher than original price it will return original price). You have to create `around` plugin and change data in parameters.

Thanks for collaboration!

[2020-01-22 11:51] ioweb-gr opened #26492 "nested declarations in a widget's parameters break the widget in wysiwyg editor"
### Preconditions (*)
1. 2.3.3

### Steps to reproduce (*)
1. Create a module which creates a custom widget.
2. Add a parameter for an image chooser  like this

[code]

3. The image chooser class

[code]

4. You end up with a string like this after trying to import the image
`{{widget type="Vendor\Widget\Block\TwinProductSlider" photo="https://example.com/admin/cms/wysiwyg/directive/___directive/e

[2020-01-22 11:51] PhilipRowe commented on #23833
Hi @magento-engcom-team the links to the related commits above go to a 404 page. Could I have a link to the code changes?

[2020-01-22 12:05] engcom-Charlie commented on #26456
Hello, @lano-vargas.

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details.

Please feel free to

[2020-01-22 12:05] #26456 closed, assigned to engcom-Charlie

[2020-01-22 12:11] engcom-Hotel commented on #26465
Hello @afavata
The problem is your MySql version, Magento 2.3.3 supports only MySql 5.6, 5.7.
![image](https://user-images.githubusercontent.com/51681618/72893075-dcbf6500-3d20-11ea-9ae3-14bdfacf3b38.png)
You can read more about Magento technology stack requirements  [here](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html#database).

So i have to close this issue.

[2020-01-22 12:11] #26465 closed, assigned to engcom-Hotel

[2020-01-22 13:05] magento-engcom-team commented on #24206
Hi @Styopchik.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [b6880b20e8cd7049d69f67cb5c8fb60e092384db](https://github.com/magento/magento2/commit/b6880b20e8cd7049d69f67cb5c8fb60e092384db)
 - [4c952ed9b65351358bba0884571316dfa135d240](https://github.com/magento/magento2

[2020-01-22 13:05] #24206 closed, assigned to nobody

[2020-01-22 13:05] engcom-Echo commented on #26350
Hi, @MichaelThessel. Thank you for your report.

[2020-01-22 13:10] magento-engcom-team commented on #26350
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30652` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-22 13:50] nicolai-hoeks commented on #14909
I actually honestly can't remember, it's a long time ago.

The shops that had this issue are now updated to Magento 2.3.x and do not have this issue.

[2020-01-22 14:02] MLucaciu commented on #13504
Still broken

[2020-01-22 14:06] magento-engcom-team commented on #13325
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30655` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-22 14:10] GuiltyNL commented on #13325
I can also confirm that this is still happening on 2.3.3. It would be nice to be able to use Catalog prices rules. My ticket is almost two years old now. ;)

[2020-01-22 14:12] antoninobonumore commented on #13325
@GuiltyNL is this still an issue on 2.3.4 ?

[2020-01-22 14:13] GuiltyNL commented on #13325
I think so @antoninobonumore  as they just confirmed it is still an issue in 2.4-develop too.

[2020-01-22 14:36] php4umagento commented on #22273
This is still happening - we have 10k tables created

[2020-01-22 14:36] magento-engcom-team commented on #26481
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30656` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-22 15:15] brightonmike opened #26498 "CSS shows up twice when Critical CSS Enabled"
### Preconditions (*)

1. 2.3.4
2.

### Steps to reproduce (*)

1. Enable `use_css_critical_path`

### Expected result (*)

1. The stylesheets are only loaded once

### Actual result (*)

1. `styles-m.css`, `styles-l.css` and `print.css` styles show up multiple times in developer tools.

I have traced the problem to the following method:
`beforeSendResponse` in `module-theme/Controller/Result/Asyn

[2020-01-22 15:15] brightonmike commented on #26498
@magento give me 2.4-develop instance

[2020-01-22 15:15] magento-engcom-team commented on #26498
Hi @brightonmike. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-22 15:16] magento-engcom-team commented on #26498
Hi @brightonmike, here is your [Magento instance](https://i-26498-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26498-2-4-develop.instances.magento-community.engineering/admin_95bd](https://i-26498-2-4-develop.instances.magento-community.engineering/admin_95bd)
Login: `b4063ce2` Password: `32017648ea26`
Instance will be terminated in up to 3 hours.

[2020-01-22 15:19] brightonmike commented on #26498
![Screen Shot 2020-01-22 at 15 19 11](https://user-images.githubusercontent.com/2071150/72906740-9242e600-3d2a-11ea-8563-15ec25bc1b67.png)

Please see screenshot. As you will see the styles are showing up twice per style sheet.

For myself personally, this is causing problems debugging FE code.

[2020-01-22 15:48] ihor-sviziev commented on #26469
@krishprakash
From my perspective this is really valid issue that could decrease conversion rate for many magento installation.

As a fix we can actually add some configuration where you can change default position for new products.

[2020-01-22 16:53] DanieliMi opened #26499 "Product url key is not transliterated anymore if already set"
### Preconditions (*)

1. Affected versions: 2.2.9, 2.3.3 (not verified by myself but responsible code is the same: 2.2.10, 2.4-develop)

### Steps to reproduce (*)

1. Edit a product and add "test url key" as url key
2. Save the product

This can be reproduced via rest API too by updating a product url key.

### Expected result (*)

1. Url key is transliterated to "test-url-key"

### Actual resul

[2020-01-22 17:00] boxyashish opened #26500 "Magento 2.3.3 : When creating a new custom customer attribute, the value of the attribute is not updated in customer_grid_flat table to be shown in customer grid"
Magento 2.3.3 : When creating a new custom customer attribute, the value of the attribute is not updated in customer_grid_flat table to be shown in customer grid
This feature worked correctly on Magento 2.1.18 and when we upgraded to Magento 2.3.3 it stopped working for some unknown reason.
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a new custom attribute using

[2020-01-22 17:03] nickpiro opened #26501 "M2.2.8 to M2.3.3 Upgrade Wishlist Duplicate Key Name"
Attempting to upgrade our Magento 2.2.8 to 2.3.3 yields various errors. When running setup:upgrade, this SQL error pops up:
SQLSTATE[42000]: Syntax error or access violation: 1061 Duplicate key name 'WISHLIST_CUSTOMER_ID', query was: ALTER TABLE `wishlist` ADD CONSTRAINT `WISHLIST_CUSTOMER_ID` UNIQUE KEY (`customer_id`)

### Preconditions (*)
Magento 2.3.3 upgraded from 2.2.8

### Steps to reprodu

[2020-01-22 17:54] adamrandazzo commented on #25209
I am having the same issue on EE 2.3.3 -- was upgraded from previous versions.

[2020-01-22 20:08] engcom-Kilo commented on #24426
@magento I am working on it

[2020-01-22 20:18] engcom-Lima commented on #24426
@magento I am working on it

[2020-01-22 20:25] engcom-November commented on #24426
@magento I am working on it

[2020-01-22 20:28] mattdyer commented on #12398
I'm on 2.3.3 and I have a very simple child theme that extends luma.  I have a blank _theme.less and _extends.less and I ran into the same error with the copyright background color.  Running **setup:upgrade** fixed the issue for me.  I'm not sure if that will help anyone else but I thought I would post it here just in case.

[2020-01-22 20:31] engcom-Oscar commented on #24426
@magento I am working on it

[2020-01-22 20:39] engcom-Dash commented on #24426
@magento I am working on it

[2020-01-22 21:12] gfritzdev commented on #25209
I just ran into this issue on a fresh install of 2.3.3 community.  It is definitely still an issue.

[2020-01-22 21:48] sivaschenko commented on #24422
@krzksz @drabikowy Looks like the internal issue was describing a different scenario - double discount (that was identified as not a bug) - my comment was only sharing the requested internal issue description and decision.

I'd agree that an admin should be able to apply the fixed discount amount to shipping, however, looks like the expectation is that the fixed discount is applied to whole cart (

[2020-01-22 22:22] Adel-Magebinary commented on #4911
Same issue 2.3.3

[2020-01-22 22:53] Adel-Magebinary commented on #22438
Still happens 2.3.3

[2020-01-22 23:07] Adel-Magebinary commented on #22438
[code]

[2020-01-23 00:17] sedonik commented on #26111
Hi @lenaorobei ,

When I was investigating the issue faced with a problem that when we disable nested product and hide it in Collection of the Attribute it is disabled from Admin->Product->Configurations->Current Variations  Grid as well.

I propose to add additional parameter: 'product_status' wich will show is this value enabled or not.
So response will be similar to :

[code]

I've created [PR]

[2020-01-23 00:25] EstebanAorta commented on #6713
This is still an issue in 2.3

[2020-01-23 04:43] magento-engcom-team commented on #26469
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30681` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-23 04:45] Zyles opened #26504 "Broken reference errors piling up logs"
Logs becoming bloated and Sentry going crazy with broken reference errors.

[code]

The only occurance of changing "category.view.container." is in our theme:

[code]

### Preconditions (*)

1. Magento 2.3.3 & 2.4-develop
2. Custom theme extended from Luma

### Steps to reproduce (*)

1. Extend luma theme
2. Move the container:

[code]
3. Browse website etc. and check logs after a while

### Expec

[2020-01-23 04:45] krishprakash commented on #26469
As mentioned the scenario by @iGerchak This should be Improved.
@ihor-sviziev Confirmed It.
Thank you for Feedback @iGerchak @ihor-sviziev

[2020-01-23 04:47] darshankhatri16 commented on #26500
Hi @boxyashish
Are you facing this issue in the community or enterprise edition?

[2020-01-23 06:10] maheshWebkul721 commented on #23553
@magento give me 2.4-develop instance

[2020-01-23 06:11] magento-engcom-team commented on #23553
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-23 06:11] magento-engcom-team commented on #23553
Hi @maheshWebkul721, here is your [Magento instance](https://i-23553-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-23553-2-4-develop.instances.magento-community.engineering/admin_394c](https://i-23553-2-4-develop.instances.magento-community.engineering/admin_394c)
Login: `5e664b10` Password: `46ada5f67bc6`
Instance will be terminated in up to 3 hours.

[2020-01-23 06:36] monotheist commented on #25738
@GuiltyNL You mean like below. Replace "date" with "/span"

[code]

[2020-01-23 06:36] maheshWebkul721 commented on #23553
@adamvarga i am not able to reproduce it on 2.4-develop instance, below are the screenshots.

![Screenshot 2020-01-23 12:04:09](https://user-images.githubusercontent.com/32479280/72961877-af35f280-3dd8-11ea-85fa-c762be6ad69e.png)

![Screenshot1](https://user-images.githubusercontent.com/32479280/72961895-b826c400-3dd8-11ea-85ec-cd3cc22f15ba.png)

![Screenshot2](https://user-images.githubuserconten

[2020-01-23 06:55] darshankhatri16 commented on #26500
Hi @boxyashish

I have validated the above issue in Magento 2.3.3 community edition and it's working as expected. A customer attribute value is displayed once you update the custom attribute value. After updating the value you need to do a reindex.
![image](https://user-images.githubusercontent.com/22095982/72962824-75b2b680-3ddb-11ea-8c1b-bb54ac8899ed.png)

[2020-01-23 07:33] pilr commented on #26486
Any update on this?

[2020-01-23 08:04] GuiltyNL commented on #25738
No like this:

`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="order-date">
    <?= $block->escapeHtml(__('<span class="label">Order Date:</span> %1', '<span>' . $block->formatDate($block->getOrder()->getCreatedAt(), \IntlDateFormatter::LONG) . '</span>'), ['span', 'date']) ?>
</div>
`

[2020-01-23 08:27] engcom-Echo commented on #26473
Hi @kylianleemkuil. Thank you for your report.
Unfortunately, I could not reproduce this behavior.

Actual result:

![image](https://user-images.githubusercontent.com/51681435/72967106-324f4c80-3dc9-11ea-9531-511c49eb7f9a.png)

![image](https://user-images.githubusercontent.com/51681435/72967131-42672c00-3dc9-11ea-892e-10d879c6f329.png)

![image](https://user-images.githubusercontent.com/51681435/

[2020-01-23 08:33] kylianleemkuil commented on #26473
@magento give me 2.4-develop instance

[2020-01-23 08:33] magento-engcom-team commented on #26473
Hi @kylianleemkuil. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-23 08:34] magento-engcom-team commented on #26473
Hi @kylianleemkuil, here is your [Magento instance](https://i-26473-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26473-2-4-develop.instances.magento-community.engineering/admin_db97](https://i-26473-2-4-develop.instances.magento-community.engineering/admin_db97)
Login: `0f55a834` Password: `be97e6333acb`
Instance will be terminated in up to 3 hours.

[2020-01-23 08:48] imrandotftr commented on #25769
@Alwafaa123 , @fisal77

Zend pdf library doesn't support Arabic language RTL, if you will check the content from left to right you will found that content is good just direction is changes.

[2020-01-23 08:55] med-amin commented on #24952
Hi @aleromano89
why I can't access the database in Magento instance after getting instance from @magento

[2020-01-23 09:06] kylianleemkuil commented on #26473
@engcom-Echo I reproduced this bug on the 2-4 develop branch

**Result:**
![2 4-develop-bug](https://user-images.githubusercontent.com/17156823/72970142-42fec300-3dc7-11ea-9628-fdf914392b97.png)

As you can see if I use the # as param in the URL the Select field changes and the price also. But the product image is not changed.

**This is how it supposed to work:**

![2 4-develop-suppose](https://u

[2020-01-23 10:24] BB-000 commented on #3038
"--exclude-theme="Magento/blank" doesn't exclude blank theme from compilation, I assume because it is the parent to my child theme. I know the blank theme hasn't changed though, so I still would like it excluded?

[2020-01-23 10:34] thangasujithas commented on #7613
The same problem exists for me too. When clicking on the "PayPal Checkout" button from the mini cart, It redirects me to customer login but when i am a customer it redirects to the paypal login page

[2020-01-23 12:22] koushikch7 commented on #25963
@magento give me 2.3.2 instance

[2020-01-23 12:22] magento-engcom-team commented on #25963
Hi @koushikch7. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2020-01-23 12:22] magento-engcom-team commented on #25963
Hi @koushikch7, here is your [Magento instance](https://i-25963-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-25963-2-3-2.instances.magento-community.engineering/admin_cc6b](https://i-25963-2-3-2.instances.magento-community.engineering/admin_cc6b)
Login: `c3da96b8` Password: `34e7a9268dff`
Instance will be terminated in up to 3 hours.

[2020-01-23 12:24] Zyles commented on #11002
Probably not fixed. M2 devs loves to close issues because they are "task oriented" and have to fill their daily quota of finished tasks (without actually fixing anything).

However this problem is still present and we are having increase CPU usage over time with cronjobs and mysql slow queries.

[2020-01-23 12:27] engcom-Echo commented on #26473
Hi, @kylianleemkuil. Thank you for the clarification.

[2020-01-23 12:28] magento-engcom-team commented on #26473
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30688` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-23 12:32] gwharton commented on #11002
I've not seen this specific bug in a long time on my production install. Currently on 2.3.3.

[2020-01-23 12:39] Zyles opened #26507 "Cronjobs increasing CPU usage and slow queries"
Cronjobs stuck in pending state. CPU usage increasing. Mysql slow queries increasing.

![image](https://user-images.githubusercontent.com/1741593/72984536-39d01f00-3de4-11ea-838b-282e03f6fa54.png)

Time is 13:28.

Logs filled with:

[code]

Load goes down after disabling cronjob in crontab:

![image](https://user-images.githubusercontent.com/1741593/72985132-941daf80-3de5-11ea-974c-ddf6b6c14ed0.pn

[2020-01-23 12:41] Zyles commented on #11002
So am I.

https://github.com/magento/magento2/issues/26507

[2020-01-23 12:45] gwharton commented on #26507
Do ypu have any jobs stuck "running"

[2020-01-23 13:04] maheshWebkul721 commented on #25887
@magento give me 2.4-develop instance

[2020-01-23 13:04] magento-engcom-team commented on #25887
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-23 13:05] magento-engcom-team commented on #25887
Hi @maheshWebkul721, here is your [Magento instance](https://i-25887-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25887-2-4-develop.instances.magento-community.engineering/admin_bcd2](https://i-25887-2-4-develop.instances.magento-community.engineering/admin_bcd2)
Login: `5082bb5b` Password: `5bc03f52e192`
Instance will be terminated in up to 3 hours.

[2020-01-23 13:14] mshoaibqureshi commented on #13358
In magento 2.3.0 I experience the same issue.
and here using POST request to  `/rest/V1/carts/${cartId}/order`  gives
[code]
and PUT request to  `/rest/V1/carts/${cartId}/order`  yields to
[code]

Is there any other solution?

[2020-01-23 13:26] ajijshekh123 commented on #26431
Hi @ashishi-law ,
If you are facing this issue again you can open it. Now I am closing this issue.

Thanks.

[2020-01-23 13:26] #26431 closed, assigned to ajijshekh123

[2020-01-23 13:37] engcom-Delta commented on #26472
Hi @sky-hub thank you for your report. This is [MSI](https://github.com/magento/inventory) related issue.
Please refer to appropriate [repository](https://github.com/magento/inventory/issues) for further investigation

[2020-01-23 13:37] #26472 closed, assigned to engcom-Delta

[2020-01-23 14:15] negzu commented on #7769
Encountered the same issue in 2020.
![image](https://user-images.githubusercontent.com/46347627/72991911-81ae7080-3dfb-11ea-892f-d1a2b1feb20f.png)

[2020-01-23 14:29] devchris79 commented on #26507
We see some cron jobs stuck in the running status:
![cron](https://user-images.githubusercontent.com/43850303/72993029-9afbf080-3dec-11ea-94aa-e1b1bd66594c.jpg)

That's with a Magento 2.3.3 installation.

[2020-01-23 14:32] gwharton commented on #26507
If you manually delete the rows that are stuck running, the pending jobs should be cleaned back to normal levels over the next few cron runs.

[2020-01-23 14:33] gwharton commented on #26507
But you need to look at why they do not complete. It would be better if magento had some timeout to terminate stuck running jobs.

[2020-01-23 14:37] engcom-Bravo commented on #26484
Hello @Zyles,
Thank you for your report.

Unfortunately, we are not able to reproduce this issue.
We tried to reproduce it via **Swagger API**, _catalogProductAttributeMediaGalleryManagementV1 POST
/V1/products/{sku}/media_
We are using the following body
[code]
 The product is updated, image added. But when we switch between Store Views, the **Use Default value** checkboxes are still checked. We

[2020-01-23 14:38] devchris79 commented on #26507
I have deleted them out before, but they returned (as I suppose you would expect). I will try again and try to understand the sticking.

I agree with the timeout to terminate stuck routines, that would be great. I also don't understand why we have routines stuck in the "running" state with no execution time stamp, surely that should be the first thing done....

[2020-01-23 14:51] ptomi commented on #26408
@magento I am working on it

[2020-01-23 15:17] Zyles commented on #26484
Where is the text swatch?

Look at the other store views.

[2020-01-23 15:19] Zyles commented on #26484
Oh sorry another issue.

See if the effect happens if you do this: https://github.com/magento/magento2/issues/26481

Could be related to the text swatch that unchecks the boxes.

[2020-01-23 16:00] nbennett25 commented on #26376
Any updates here?

[2020-01-23 16:29] ghost opened #26513 "Array param type missing from \Magento\Quote\Model\Quote\Item::addOption"
### Preconditions (*)
1. Magento 2.4-develop
------------------------------------------
The method `addOption` does indeed allow an array to be passed. The very first piece of logic is
[code]
### Steps to reproduce (*)
1. Check `addOption`method in `Magento\Quote\Model\Quote\Item` class

### Expected result (*)
Array is allowed
[code]

### Actual result (*)
However, the `@param` docblock only stat

[2020-01-23 16:44] MariuHub commented on #19491
Having same issue here.
Is this solved or anyone has anything new on the issue?

[2020-01-23 16:58] alxanthony commented on #26408
We hired an independent developer for this issue and he was able to provide a patch that fixed the issue, we tested a few different scenarios and everything seemed to work, we didn't do extensive testing so you might want to run a few more test scenarios before considering this as fixed or using the patch.  But if anybody else is having this problem (which since it's a core bug we assume everybody

[2020-01-23 17:24] twoatechguy commented on #5929
@sumitCueBlocks unfortunately your workaround doesn't work for me on 2.3.3.

[2020-01-23 17:26] twoatechguy commented on #25190
This is happening to be in 2.3.3 release as well.

[2020-01-23 21:11] hostep commented on #3038
@BB-000: please follow https://github.com/magento/magento2/issues/13165

[2020-01-23 21:14] boxyashish commented on #26500
Hi @darshankhatri16

I am facing this issue on Enterprise edition

Ashish

[2020-01-23 22:34] markalston commented on #25763
We are having this same problem when using Magento's import.  All roles are gone.

[2020-01-23 22:39] shischrum1994 opened #26515 ""Something went wrong with processing the default view and we have restored the filter to its original state." and then the red never goes away and i cant refresh the page to add more content"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-01-23 22:50] magento-engcom-team commented on #22909
Hi @DrewML, @johnhughes1984.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [228cb75df6f9804f66aa2377262050c67bfa4ba2](https://github.com/magento/magento2/commit/228cb75df6f9804f66aa2377262050c67bfa4ba2)

The fix will be available with the upcoming `2.3.5` release.

[2020-01-23 23:05] erikhansen opened #26516 "Product and Category pages purged from Varnish daily at 1AM local time"
### Issue Overview
I'm working with a merchant who has configured the Varnish FPC lifetime to 7 days. We discovered that every day around 1AM Eastern (6AM UTC), the Varnish memory usage would drop to nearly zero. This is being caused by the `catalogrule_apply_all` CRON (that is scheduled at 6AM UTC) resulting in a request similar to this being sent to Varnish (using `curl` to easily demonstrate wh

[2020-01-23 23:14] fooman commented on #26516
This could indeed get tricky. Would be interesting to see if the applied rules ids (or a digest) is part of the cache identity tags.

Odd that this is being run at 6am.

[2020-01-23 23:41] erikhansen commented on #26516
@fooman Yeah, I expect it won't be trivial to solve.

Right before you posted your comment, I updated the task description clarify the time the CRON runs (it's 1AM in the timezone configured in "STORES > General > Locale Options > Timezone").

[2020-01-23 23:44] merance2000 commented on #25763
They say they can't reproduce - we still have the issue - my developer wrote script to assign image roles when they became un-assigned and we try to not sync any images if they don't change so the corruption doesn't occur. Still have problems with some products and the script does not always fix but can't find a rhyme or reason to it.

[2020-01-24 00:48] diazwatson commented on #25076
Guys is removing the Disposition completely https://github.com/magento/magento2/commit/6976aabdfdab91a9d06e412c2ed619538ed034b6
the best approach to solve this issue?
CC @magento-engcom-team

[2020-01-24 00:59] gwharton commented on #25076
I added the disposition inline header back in to 2.3 as it had always been there in 2.2. I think the problem was that 2.2 used zf1 which did not encode the disposition inline header in utf8 whereas 2.3 with zf2 encoded the header in utf8 which i think is possibly where the problem lies. Needs some investigation but i would have thought a better solution would be to stop the utf8 header encoding fo

[2020-01-24 01:16] diazwatson commented on #25076
Thanks @gwharton it makes sense.
I think zf2 recently added some changes in this regards. I am going to check with my colleague @DavaGordon who recently investigated this issue and se if we can provide a final fix.

[2020-01-24 01:23] theloveofcode opened #26517 "Magento 2.3.4 swatch-renderer.js assumes all attributes are swatches"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a Configurable product with at least one swatch type attribute, and one non-swatch type attribute as the product's super attributes.
2. Go to the new Configurable product's page on the front-end.
3. Configure the product by clicking attribute options until you click on an option from a non-swatch attribute.
4. Note the

[2020-01-24 03:58] vincentteyssier commented on #25634
Hi, when you run `di:compile` the cache gets disabled somehow.
Even if cache management shows green in the admin panel, it is set to 0 in the back end.
Run `php bin/magento cache:enable` and cron will run with same performances as 2.3.2

[2020-01-24 06:15] dev-ajaysaini opened #26518 "Issue with configurable product in multi address checkout."
After order place with multiaddress with configurable product and simple product in cart, order view page at customer end show 2 items for single configurable product (parent and it's associate).

![image](https://user-images.githubusercontent.com/42237032/73047865-3f3d7000-3e9d-11ea-9143-aeb63af7fccd.png)

### Preconditions (*)

1. Magento version: 2.3.3
2. Php version: 7.2.14

### Steps to repro

[2020-01-24 06:26] rogyar commented on #25933
Hi @sandip5678. Could you provide more information on how you are able to perform the following action:

In the Single Store mode the scope switcher is disabled in the admin panel (basically, that's the main idea of the Single Store Mode)?

[2020-01-24 06:32] ajijshekh123 commented on #26518
Give me @magento give me 2.4-develop instance

[2020-01-24 06:32] magento-engcom-team commented on #26518
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-24 06:33] magento-engcom-team commented on #26518
Hi @ajijshekh123, here is your [Magento instance](https://i-26518-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26518-2-4-develop.instances.magento-community.engineering/admin_510a](https://i-26518-2-4-develop.instances.magento-community.engineering/admin_510a)
Login: `c9967969` Password: `88a6d180fe14`
Instance will be terminated in up to 3 hours.

[2020-01-24 06:40] sandip5678 commented on #25933
Hi @rogyar The step which (Step 6) you have mentioned is about to set the value when Single Store View mode is off.

See the below step where I'm enabling the Single Store mode.
13. From Default Config Scope, Set Enable Single-Store Mode to Yes

[2020-01-24 06:50] KntQ opened #26519 "IP range for maintenance mode"
### Description (*)

When we add Magento in maintenance mode and declare IP address exemptions it would be useful if we could add also IP address host range or netmask. This would be needed specially for IPv6.

### Expected behavior (*)

We could add for example;
bin/magento maintenance:allow-ips xxx.xxx.xxx.xxx/28   (IPv4)
bin/magento maintenance:allow-ips xxxx:xxxx:xxxx:xxxx:0:0:0:0/56   (IPv6)

[2020-01-24 07:08] deepaksnair commented on #26205
@magento give me 2.4-develop instance

[2020-01-24 07:08] magento-engcom-team commented on #26205
Hi @deepaksnair. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-24 07:09] magento-engcom-team commented on #26205
Hi @deepaksnair, here is your [Magento instance](https://i-26205-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26205-2-4-develop.instances.magento-community.engineering/admin_3c13](https://i-26205-2-4-develop.instances.magento-community.engineering/admin_3c13)
Login: `d5aa8082` Password: `7b1bd3c9201d`
Instance will be terminated in up to 3 hours.

[2020-01-24 07:13] ajijshekh123 commented on #26518
Hello @webkul-ajaysaini,
I can't able to place the order which steps provide by you.
Can you please let me know which steps are missing on my end.
See attached the video and Update me.

![PlaceOrder_Issue](https://user-images.githubusercontent.com/24711761/73050801-030f0d00-3ea7-11ea-8f3b-c154a7680cd3.gif)

Thanks.

[2020-01-24 07:20] deepaksnair opened #26520 "Search query throwing error in all case."
### Preconditions (*)

1. Magento 2.4 Develop

### Steps to reproduce (*)

1. Search anything (greater than 3 letter), throws exception.

### Expected result (*)

1. Should search and show the results.

### Actual result (*)

1. Throwing exception and creating log

I have checked this on local fresh environment also on magento 2.4 developer instance provided by magento.

### Solution
The issue mus

[2020-01-24 07:24] deepaksnair commented on #26520
@magento give me 2.4-develop instance

[2020-01-24 07:24] magento-engcom-team commented on #26520
Hi @deepaksnair. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-24 07:25] magento-engcom-team commented on #26520
Hi @deepaksnair, here is your [Magento instance](https://i-26520-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26520-2-4-develop.instances.magento-community.engineering/admin_eaeb](https://i-26520-2-4-develop.instances.magento-community.engineering/admin_eaeb)
Login: `00352191` Password: `9645a8e7a959`
Instance will be terminated in up to 3 hours.

[2020-01-24 07:30] webkul-ajaysaini commented on #26518
@ajijshekh123 kindly check your address.
Can you please check with magento2.3.3

[2020-01-24 07:31] webkul-ajaysaini commented on #26518
Give me @magento give me 2.3.3 instance

[2020-01-24 07:32] magento-engcom-team commented on #26518
Hi @webkul-ajaysaini. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-24 07:33] magento-engcom-team commented on #26518
Hi @webkul-ajaysaini, here is your [Magento instance](https://i-26518-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26518-2-3-3.instances.magento-community.engineering/admin_4814](https://i-26518-2-3-3.instances.magento-community.engineering/admin_4814)
Login: `ca3a4365` Password: `87363b0136e6`
Instance will be terminated in up to 3 hours.

[2020-01-24 07:42] webkul-ajaysaini commented on #26518
I have checked with 2.3.3 instance this issue is exist.

[2020-01-24 08:06] ajijshekh123 commented on #26518
Okay, Let me check the Magento 2.3.3 instance and update you.

[2020-01-24 08:24] engcom-Bravo commented on #26500
The issue is reproducible on 2.4 EE

[2020-01-24 08:28] magento-engcom-team commented on #26500
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30763` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-24 08:37] engcom-Delta commented on #13335
@gianiaco , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-24 08:37] #13335 closed, assigned to engcom-Delta

[2020-01-24 08:40] engcom-Delta commented on #12159
@jeroenkosse, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-24 08:40] #12159 closed, assigned to engcom-Delta

[2020-01-24 08:42] engcom-Delta commented on #10461
@merance2000, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-24 08:42] #10461 closed, assigned to engcom-Delta

[2020-01-24 08:45] engcom-Bravo commented on #26514
Hello @TomashKhamlai,

Thank you for your report.

This issue is not reproducible on Magento 2.4-develop, so we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest 2.4-develop branch.

Thank you for collaboration.

[2020-01-24 08:45] #26514 closed, assigned to engcom-Bravo

[2020-01-24 08:57] engcom-Bravo commented on #26515
Hello @shischrum1994,

Thank you for your report.

Unfortunately, from the provided description, we can not reproduce the issue and start to work on fixing it. Can you please provide the steps, and possibly screenshots, which lead to the _"Something went wrong with processing the default view and we have restored the filter to its original state."_ error message

Thank you for collaboration

[2020-01-24 09:01] Taku-Yamashita opened #26521 "The country / region of mail sent from the admin panel is translated into the admin locale."
### Preconditions (*)

1.  Magento2.3.3
2. PHP7.2
3.  Two stores (JP & EN)
4.  Admin user locale is ja_JP
### Steps to reproduce (*)

1. place order  in EN store.
2. send order Email from admin panel using admin user locale ja_JP.

### Expected result (*)
Displayed in English.

<img width="171" alt="スクリーンショット 2020-01-24 17 48 39" src="https://user-images.githubusercontent.com/27942145/73056202-c99

[2020-01-24 09:02] ajijshekh123 commented on #26518
Issue reproduced in Magento 2.3.3 Instance.

[2020-01-24 09:07] Taku-Yamashita commented on #26521
@magento give me 2.4-develop instance

[2020-01-24 09:07] magento-engcom-team commented on #26521
Hi @Taku-Yamashita. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-24 09:08] magento-engcom-team commented on #26521
Hi @Taku-Yamashita, here is your [Magento instance](https://i-26521-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26521-2-4-develop.instances.magento-community.engineering/admin_e831](https://i-26521-2-4-develop.instances.magento-community.engineering/admin_e831)
Login: `9c9f1517` Password: `2e8c375a74bc`
Instance will be terminated in up to 3 hours.

[2020-01-24 10:31] magento-engcom-team commented on #26520
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30767` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-24 10:43] jlfguthrie commented on #25634
Had a similar issue and tracked it down to an AJAX Layered Navigation module. Disabling the module resolved the issue.

[2020-01-24 10:55] danielrussob commented on #26486
You can follow this issue: https://github.com/magento/magento2/issues/22774

[2020-01-24 11:09] krishprakash commented on #26309
Hi @cerebrum-opensource.
Feel free to reopen the issue once you update the reproducible steps.
Due to inactivity closing this ticket
Thanks

[2020-01-24 11:09] #26309 closed, assigned to krishprakash

[2020-01-24 11:30] engcom-Bravo commented on #26486
Hello @pilr

Thank you for your report.

The issue is not reproducible on Magento 2.4-develop. The **Update Totals** butto has been added.
![update_totals](https://user-images.githubusercontent.com/51680745/73065107-6733d000-3eab-11ea-8c46-792be0e3ef19.png)
So we have to close it. If you'd like to update the issue, please reopen it.

Thank you for your collaboration

[2020-01-24 11:30] #26486 closed, assigned to engcom-Bravo

[2020-01-24 12:04] ebofi opened #26522 "Magento\InventoryApi\Api\SourceItemsSaveInterface does not exist"
### Preconditions (*)

1. Mage version 2.2.6

### Steps to reproduce (*)

1. We had run php  bin/magento setup:di:compile and we are getting a strange error

  [ReflectionException]
  Class Magento\InventoryApi\Api\SourceItemsSaveInterface does not exist

2. The site is on Developer Mode,

### Expected result (*)

1. [Screenshots, logs or description]
2. The compile should complete successfully

#

[2020-01-24 12:29] magento-engcom-team commented on #26498
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30771` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-24 12:30] engcom-Bravo commented on #26484
Hello @Zyles

Thank you for your quick response. Can you please clarify what do you mean by "_See if the effect happens if you do this: #26481"_ ?
The issue #26481 is already **Confirmed** and is **Ready for Work**

Thank you

[2020-01-24 13:02] ebofi commented on #26522
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-01-24 13:02] magento-engcom-team commented on #26522
Hi @ebofi. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-24 13:02] ebofi commented on #26522
@magento give me 2.2.6-develop instance

[2020-01-24 13:02] magento-engcom-team commented on #26522
Hi @ebofi. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` and `2.4` release line

[2020-01-24 13:02] magento-engcom-team commented on #26522
Hi @ebofi, here is your [Magento instance](https://i-26522-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26522-2-4-develop.instances.magento-community.engineering/admin_da09](https://i-26522-2-4-develop.instances.magento-community.engineering/admin_da09)
Login: `c915eb02` Password: `4076e43803a3`
Instance will be terminated in up to 3 hours.

[2020-01-24 13:04] ebofi commented on #26522
@magento close instance

[2020-01-24 13:12] DanielRiezebos commented on #25771
Patch to fix: https://gist.github.com/DanielRiezebos/6be4de18aaf24a44533686fc29dc5347

Thanks @tdgroot & @PascalBrouwers!

[2020-01-24 13:20] DavaGordon commented on #25076
@gwharton I personally dont agree with the method taken in https://github.com/magento/magento2/commit/6976aabdfdab91a9d06e412c2ed619538ed034b6
and would recommend writing a m2-hotfix to fix this issue until an permanent solution is found

.<Magento Root>/m2-hotfixes/ISSUE-21868-email-converted-to-attachment.patch

[code]
I will look at a more suitable fix and post shortly.

[2020-01-24 13:34] Datta commented on #26326
ok
i am reporting to the repository.
https://github.com/magento/inventory/issues

[2020-01-24 13:39] fredden commented on #25076
I believe https://github.com/laminas/laminas-mail/pull/31 is a fix for the actual bug and 6976aab is merely a work-around. Let's leave this issue open until a proper solution is implemented and the work-around removed.

[2020-01-24 14:02] lbajsarowicz commented on #26522
Run `composer dump-autoload`, then `setup:di:compile`. Will work.

[2020-01-24 14:06] masmaleki commented on #7869
Thanks @careys7 : This solution worked for me Also

[2020-01-24 14:08] masmaleki commented on #7869
Thanks, Worked for me on Magento 2.3.3 and Wamp Server On Wndows

[2020-01-24 14:09] masmaleki commented on #7869
Thanks, Worked for me on Magento 2.3.3 and Wamp Server On Wndows

[2020-01-24 14:14] ebofi commented on #26522
@lbajsarowicz  No it wont. It shows Loaded 565 Classes. But the setup command shows the same error of   [ReflectionException]
  Class Magento\InventoryApi\Api\SourceItemsSaveInterface does not exist

[2020-01-24 14:15] lbajsarowicz commented on #26522
Upload your composer.lock, then.

[2020-01-24 14:18] ebofi commented on #26522
@lbajsarowicz

Here is our composer lock file, Its long file so i post in 3 comments

{
    "_readme": [
        "This file locks the dependencies of your project to a known state",
        "Read more about it at https://getcomposer.org/doc/01-basic-usage.md#installing-dependencies",
        "This file is @generated automatically"
    ],
    "content-hash": "17fbc8246f4eacac2cceb8c8dedd9d7f",

[2020-01-24 14:19] ebofi commented on #26522
{
            "name": "magento/module-contact",
            "version": "100.2.3",
            "dist": {
                "type": "zip",
                "url": "https://repo.magento.com/archives/magento/module-contact/magento-module-contact-100.2.3.0.zip",
                "shasum": "293b9032e803a15f0365ab8113e9d87f4359dc45"
            },
            "require": {
                "magento/framework":

[2020-01-24 14:19] ebofi commented on #26522
{
            "name": "mageplaza/module-core",
            "version": "1.4.8",
            "source": {
                "type": "git",
                "url": "https://github.com/mageplaza/module-core.git",
                "reference": "aa99d5aa974ec9bf799bcc9a2137095baf882093"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/ma

[2020-01-24 14:19] ebofi commented on #26522
{
            "name": "lusitanian/oauth",
            "version": "v0.8.11",
            "source": {
                "type": "git",
                "url": "https://github.com/Lusitanian/PHPoAuthLib.git",
                "reference": "fc11a53db4b66da555a6a11fce294f574a8374f9"
            },
            "dist": {
                "type": "zip",
                "url": "https://api.github.com/repos/Lusi

[2020-01-24 14:20] lbajsarowicz commented on #26522
Attach file, then instead of paste the contents :-(

[2020-01-24 14:20] ebofi commented on #26522
OVER

[2020-01-24 14:20] Zyles commented on #26484
That issue does not mention the "unchecking of use default value" problem.

But it MAY be related to text swatch.

Please confirm by testing with a text swatch with a default value on the product.

[2020-01-24 14:21] ebofi commented on #26522
@lbajsarowicz

Here is our composer lock file,
[composer.txt](https://github.com/magento/magento2/files/4108880/composer.txt)

[2020-01-24 14:22] lbajsarowicz commented on #26522
You haven't installed MSI, so there's no option that you'd have this Interface.
I'm not sure if MSI works with 2.2.6

[2020-01-24 14:22] ghost opened #26524 "Performance"
### Description (*)
I would like some performance to be added to magento so my day of developing magento webshops doesn't mainly consist of waiting.

### Expected behavior (*)
that I won't have to run setup:di:compile every time I make a oneliner change, get coffee and then to come back to see that magento requires more babysitting and has ran into some new permissions problem.

### Benefits
Becau

[2020-01-24 14:29] magento-engcom-team commented on #24526
Hi @rasmuswikman, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [08608a611f21d763aa2ddd6b759ef9abd62f88b7](https://github.com/magento/magento2/commit/08608a611f21d763aa2ddd6b759ef9abd62f88b7)

The fix will be available with the upcoming `2.4.0` release.

[2020-01-24 14:29] #24526 closed, assigned to sdzhepa

[2020-01-24 14:41] PascalBrouwers opened #26526 "orderRepository does not check if there are no extensionAttributes"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Have an order which has no extensionAttributes
2. Try to load the order using orderRepository by `\Magento\Sales\Api\OrderRepositoryInterface::get`

### Expected result (*)

1. Order is loaded

### Actual result (*)
1. Error: `Call to a member function setAppliedTaxes() on null`

![Screenshot from 2020-09-14 10-07-52](ht

[2020-01-24 14:48] PascalBrouwers commented on #26526
Don't worry, already made a fix

[2020-01-24 15:10] #26522 closed, assigned to nobody

[2020-01-24 15:17] zyukov opened #26528 "Unable to create configurable product"
### Preconditions (*)
1. Magento CE 2.3.3.

### Steps to reproduce (*)
1. Login to admin.
2. Open Stores-Sources.
3. Create Own Source (for example "My-Source").
4. Open Catalog-Products.
5. Click Add New Product.
6. Fill in Required fields (Name, Sku, Price).
7. Click Create Configurations.
8. Select Attribute (For example: color).
9. Select attribute option (For example "white" for color attribu

[2020-01-24 15:23] pilr commented on #26486
@danielrussob thanks for the link. will try it.

[2020-01-24 15:40] guoni opened #26529 "Braintree GraphQL Create Token"
### Preconditions (*)
 "magento/product-community-edition": "2.3.3",
  "paypal/module-braintree": "^3.4"

### Steps to reproduce (*)
1. GraphQL Request with this query
[code]
### Expected result (*)
1. braintree client token
[code]
### Actual result (*)
Response:
[code]

Code:
[code]

The adapter need (optionally) an array as parameter (int given).

StoreId is retrieve in the paypal/module-braintr

[2020-01-24 15:48] extremeskillz commented on #23450
Same issue here with Magento2.3.3 on Ubuntu 16.04lts with exporting anything really.

All other processes for indexing and cache seem to be working fine. Importing products/updates also works as it should.

[2020-01-24 16:11] engcom-Bravo commented on #26517
Hello @theloveofcode

Thank you for your report.

What is the non-swatch attrubute you are using?
Because we are rechecking with **Dropdown**, for example, and no JS error appears.

Can you please confirm that you are facing this issue on 2.4-develop?

Thank you

[2020-01-24 16:37] zkliouel commented on #25687
Hi all,
why do not only reindex products that matching the catalogRule ?
I mean instead of invalidate catalog_product_price and catalogsearch_fulltext that trigger a full reindex of all products, whe we don't only launch reindex in afterSave method of https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/CatalogRule/Model/Rule.php#L589 for only matching products ids ?

[2020-01-24 17:56] aleromano89 commented on #24952
hi @med-amin , why do you need to access to the database?

[2020-01-24 18:09] markalston commented on #10687
Also having this issue in 2.3.3.
I think the import function is wiping all the roles.  Images are there but all roles are cleared on import Add/Update

[2020-01-24 18:21] merance2000 commented on #10687
Yes exactly what is happening for us too.

[2020-01-24 19:01] nickpiro opened #26531 "Klarna Payment Causes Blank Checkout for Free Products (Downloadable)"
On Magento 2.2.8, Klarna Payments breaks the checkout, causing a blank screen when a downloadable product is selected, and a Cart Price rule gives 100% discount.

### Preconditions (*)

1. Magento 2.2.8
2. Klarna Payments Enabled
3. Category Price Rule, giving 100% discount to specific products.

### Steps to reproduce (*)

1. Create Cart Price Rule Giving 100% Discount for Specific products. Ours

[2020-01-24 19:10] HenKun commented on #8866
@victortodoran I think I doesn't work out of the box. However, I am also struggling with that. In https://github.com/magento/devdocs/issues/1596 the progress of the doc is tracked and it seems that one will work on that now.

[2020-01-24 20:19] YevSent opened #26532 "di:setup:compile fails with anonymous classes"
### Preconditions (*)

The current implementation of `\Magento\Setup\Module\Di\Code\Scanner\PhpScanner` does not support classes that contain anonymous classes. This leads to failures for `di:setup:compile` command. The problem that `PhpScanner` treats anonymous classes as classes that might require code generation for factories and extension attributes.

All Magento versions have this issue.

###

[2020-01-24 22:31] markalston commented on #25763
So I think it might be related to the new Swatch image stuff.  Our import files didn't have columns from swatch image and swatch label.  I added those with blank data and now the image roles are back and fixed.  Now if I try to import without those columns is also still works.  Weird.  Looks like something isn't initialized correctly for those of us with products we are updating.

[2020-01-24 22:36] markalston commented on #25763
I also just noticed that @merance2000 's post data didn't have swatch image fields but @engcom-Charlie always has it in his post data.

[2020-01-24 23:31] gustavo807 commented on #22860
Is there an update?

[2020-01-24 23:36] sdzhepa commented on #26466
Duplicate of #26467

[2020-01-24 23:36] #26466 closed, assigned to nobody

[2020-01-25 07:54] kingkoo13 commented on #8337
any Solution for this issue ?

[2020-01-25 15:48] LucasMaliszewski commented on #26465
I have mysql  Ver 15.1 Distrib 10.2.30-MariaDB, for osx10.15 (x86_64) using readline 5.1 and I'm still seeing this error.

[2020-01-25 15:55] LucasMaliszewski commented on #26465
I have mysql  Ver 15.1 Distrib 10.2.30-MariaDB, for osx10.15 (x86_64) using readline 5.1 and I'm still seeing this error.

Tried with mysql  Ver 14.14 Distrib 5.7.29, for osx10.15 (x86_64) using  EditLine wrapper and still seeing the error.

I have mysql  Ver 15.1 Distrib 10.2.30-MariaDB, for osx10.15 (x86_64) using readline 5.1 and I'm still seeing this error.

Tried with mysql  Ver 14.14 Distrib

[2020-01-25 15:57] LucasMaliszewski commented on #26465
Did you ever find a fix for this?

[2020-01-25 17:01] cralls commented on #8337
@kingkoo13 I can't remember what I did but I got around it. Do you have any js errors in your console?

[2020-01-25 17:02] kingkoo13 commented on #8337
No js errors , even on my local its working .

the main issue is on server (centos 7)

[2020-01-25 17:08] cralls commented on #8337
@kingkoo13 I'm using centos as well. It could be so many things causing it. You need an error message to give yourself some direction. If there's nothing in the JS console then what about on the Network tab of your developer tools (assuming you're using chrome). Open developer tools and refresh the page and see if there are any urls reporting something other than 200. If so that will give you some

[2020-01-25 17:16] kingkoo13 commented on #8337
i found nothing relevant in logs .

now iam going to check same on fresh Magento2 with same db .

[2020-01-25 18:10] astorm commented on #23834
@cdiacon-img, @gpcrocker -- did either of you find a solution for this? (other than reducing the number of products you were trying to display on a page?)

[2020-01-25 18:13] larsroettig opened #26536 "Use Apollo Client for `resolveUnknownRoute.js`"
### Description (*)
As a Developer, I want to have which Graphql Queries are sent. For this, in developer mode, we can use `Apollo Client Developer Tools` to see what happens in our application.

### Expected behavior (*)
`resolveUnknownRoute.js`` should use Apollo Client for send request to Magento.

### Benefits
- Understanding / better overview which queries
- Possibility for Caching Url to red

[2020-01-25 18:40] ihor-sviziev commented on #23834
Looks like duplicate of https://github.com/magento/magento2/issues/6401

[2020-01-25 18:46] gpcrocker commented on #23834
@astorm yes, but we just did away with the child product cache invalidation functionality.

We disabled product_identities_extender plugin in Magento\Bundle\Model\Plugin\Frontend\Product and the "bundle" plugin "Magento\Bundle\Model\Plugin\Frontend\Product" in di.xml.

In order to retain that functionality we needed to raise the configuration limits of varnish and maybe even nginx (but I don't rem