[2017-03-18 08:49] vincent2090311 commented on #8921
I get this issue on magento CE 2.1.5. Another thing, magento CE cached simple product price
**Steps to reproduce**
- Create multi-store view with multi-currency but same base currency (eg: base currency is USD, store US display USD, store UK display EUR)
- when select configurable option, store US is ok, but store UK show price from store US.
eg: configurable and simple product have same price val

[2017-03-18 09:35] tsauerwein commented on #5946
In my case the override files `Magento_Checkout/templates/cart/minicart.phtml` and `Magento_Checkout/web/template/minicart/content.html` of my theme (Porto) were using  `cart().summary_count`, whereas the original files are accessing the properties with `getCartParam('summary_count')`

//edit: The function `cart()`  no longer exists in 2.1.5, see: https://github.com/magento/magento2/commit/eec3cf1

[2017-03-18 11:54] kamleshyaduwanshi commented on #1619
Hi, I am facing similar issue and tried all steps mentioned above without luck, any concrete solution on less file compilation issue???

[2017-03-18 12:31] southerncomputer commented on #8933
Sounds like you need to use a dedicated import script. I can import 1M products in about 6 hours time using dedicated script that does direct access to database, but as you have figured out- you cannot manually muck with the categories/products during the same time! IMO the best route would be to offload the product attributes/categories to a nosql based solution so you can side-load the products.

[2017-03-18 16:07] jpcsguru commented on #5405
This does not work

[2017-03-18 17:13] manos-nookala opened #8939 "Exception #0 (Magento\Framework\Exception\LocalizedException): Could not read config file"
Hi
I created a new theme with parent theme as Luma in magento2, after creating i reloaded my local site, i am getting this issue. Please help me.

Issue Is
======

1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Could not read config file

Exception #0 (Magento\Framework\Exception\LocalizedException): Could not read config file
#0 E:\xampp\htdocs\MagentoEmpty\vendor\

[2017-03-18 19:14] MrDaar commented on #6563
This is also an issue for me.
The language inheritance order doesn't make sense.
I'd like to have a base translation in app/i18n, then have a company specific override in app/code/Vendor/Translations, and the the client specific translations could be in the theme in app/design/Vendor/client.
But if I put anything in app/i18n it overrides all other translations...
I would say that is broken behavio

[2017-03-18 19:17] MrDaar commented on #5682
Related to:
https://github.com/magento/magento2/issues/6563

[2017-03-18 19:36] PieterCappelle commented on #7826
Already 2 PRs are available to fix this one > https://github.com/magento/magento2/pull/6774 &  https://github.com/magento/magento2/pull/5082

[2017-03-18 19:53] PieterCappelle commented on #7886
@sergiosemov Is it possible this is fixed in Develop branch > https://github.com/magento/magento2/commit/016b01097cbcdc71a2c83477ce448fb843afe1c0

[2017-03-18 21:12] sennin32 opened #8940 "Update.log increasing significantly, and not able to disable it"
### Preconditions

1. Magento 2.1.4

### Steps to reproduce

1. use cron job:
* * * * * /usr/local/php/bin/php /home/wwwroot/shopkey.doyustudio.com/bin/magento cron:run
* * * * * /usr/local/php/bin/php /home/wwwroot/shopkey.doyustudio.com/update/cron.php
* * * * * /usr/local/php/bin/php /home/wwwroot/shopkey.doyustudio.com/bin/magento setup:cron:run

### Expected result

1. Run cron job without an

[2017-03-19 06:29] altafhussain10 commented on #6671
I am facing this issue in Magento 2.1.3 EE.
Mine is fixed by truncating the url rewrite table.

[2017-03-19 10:21] timri86 opened #8941 "Magento 2 login custumer and add product to cart in chrome"
Hello,
After installation of magento 2.1.4, everything works very well on other browsers. I tried to check on chrome.
1) When a client registers, it is automatically connected but when it disconnects and tries to reconnect, nothing happens (redirection to the login page). I tried to lengthen the lifetime of cookies no change.
2) On the product display page when it clicks on Add to cart, an add not

[2017-03-19 16:19] JimDantin commented on #1471
@boxyman I also have records with blank product names. I thought that product names were required, so I'm not sure how they got created.

Do you have an automated way to purge those records?

FYI, we have close to 1.5 MILLION parts in our site. We decided early on to create the url-key ourselves, using our own algorithm. I can easily check for duplicates before uploading anything. This was far eas

[2017-03-19 19:23] sunel commented on #8875
You can set the ko.obserable(false) to fix this...

But i am facing a new issue the template file is not called.

[2017-03-19 19:36] YevSent commented on #8842
Already fixed and merged into develop branch.

[2017-03-19 19:36] #8842 closed, assigned to epson121

[2017-03-20 03:31] awa-si commented on #1146
I use it like this:
1. Create folders 'sitemaps' and 'robots' in magento web root
2. Setup magento to save sitemap.xml in folder 'sitemaps' (it works with additinal subfolders too)
3. Save robots.txt file in folder 'robots' in format: example.com.txt

Access of robots.txt as example.com/robots.txt
Access sitemap.xml as example.com/sitemaps/sitemap.xml

NGINX:

    location /sitemaps {
        alia

[2017-03-20 07:25] YevSent commented on #6106
https://github.com/magento/magento2/pull/8938

[2017-03-20 08:27] FlaviuParau opened #8942 "bug require js"
Hello I have a problem with require.js, sometimes this it's loaded perfectly and in some cases not. I don't understand where seems to be the issue.
First case when this it's happen: click on the browser url and hit enter nothing will load from that file, and second case when you click back to the previous page, the same problem.
This file it's only called when I refresh page with : ctrl + shift an

[2017-03-20 08:40] baltechies opened #8943 "Magento2 admin custom module throwing the error"
I created a custom module in magento2 for admin panel. Grid form is version fine. But When I tried to add/edit a record then its throwing the error like "Changes have been made to this section that have not been saved. This tab contains invalid data. Please resolve this before saving."

Magento version is 2.1.1.

I am unable to find any clue in logs. Please help! How can I resolve this issue?

[2017-03-20 08:58] TimQSO commented on #6018
@guz-anton You say:

'I have concerns about Fotorama word in the issue description. We cannot fix just Fotorama 's performance. Whole picture with JavaScript app on storefront should be improved. We will continue work in this direction.'

I doubt this is because of the performance of Fotorama. When I look at the waterfall of a product page of our staging server, I can see the following:

1. Total

[2017-03-20 09:01] AlexandreKhayrullin commented on #8875
I did eventually do this, after having spent a day figuring out how it works. I also added a condition where if the hash string is equal to "shipping", then the default component without any extensions is used.

It's a shame that there's a need for a workaround, shouldn't this be working OOTB?

[2017-03-20 09:09] xtm2005 commented on #7907
Hi, encountered the same problem interesting thing is it's happening on the validation level, in validator.php. I'm attaching a sample time stamp what it currently returns.  Note that we are running in httpd, at UTC, already set systems time zone to UTC. And it's obtaining the incorrect time stamp. If i set it today, then it will get the exact time that is currently required, it's not exactly a bu

[2017-03-20 09:15] hatimeria-artur-jewula commented on #6151
Fatal error happens if sales/minimum_order/description is provided. This is because Magento\Quote\Model\Quote\Validator\MinimumOrderAmount\ValidationMessage::getMessage() returns just this string and not a Phrase object.

[2017-03-20 09:25] sunel commented on #8875
Is your template called ???

[2017-03-20 09:31] AlexandreKhayrullin commented on #8875
Yes.

[2017-03-20 09:35] sunel commented on #8875
Did u try it in Magento version 2.1.5

[2017-03-20 09:39] AlexandreKhayrullin commented on #8875
No, only in 2.1.3 for now.
It's a project I'm doing for work, and I'm not in charge of upgrading Magento on this particular project, so I can't test this with the version,2.1.5 for the time being.

[2017-03-20 09:41] MrDaar commented on #6563
And then another issue emerges...

I can't use app/i18n because it overrides everything else, so I tried to only work with Module and theme levels.
Base translation in Module, and overrides in theme.

What happens then, is that the PHP translations respect the overrides/fallbacks/order (search box), but the JS/KO rendered elements don't (minicart).
JS/KO only uses Module translations, not theme.

[2017-03-20 09:43] andidhouse commented on #6018
@andimov pls have a look on this again...  i really do not know why magento is ignoring a major bug like this since month!

[2017-03-20 09:47] TimQSO commented on #6018
I really think that the main issue is that the Fotorama and the Gallery parts are loaded way too late!

I mean, loading the actual product photo as request 184 while there are 187 requests in total? It is almost the latest request to be loaded. On a product page a product photo should be loaded in the top 10 of requests.

It even comes after the 'Document Complete', Webpagetest.org tells met 'Docu

[2017-03-20 10:08] korostii commented on #8935
Yep and also make sure you're running in "developer" mode, otherwise you might also need to delete the `var/di` folder and run `setup:di:compile`

[2017-03-20 10:22] korostii commented on #8939
Well, it clearly says that Magento "Could not read config file ... 'view.xml' ... ".
Please make sure that you have an accessible view.xml find inside your theme.
Additionally, the path in the traces ("E:\xampp\htdocs\...") hints that you use Windows as server OS. FYI It's not listed among [operating systems supported by Magento](http://devdocs.magento.com/guides/v2.0/install-gde/system-requiremen

[2017-03-20 10:24] nagamani-sigma commented on #6176
Hi @ozgeekmum ,

I have attached the script, upload it in your site root and run.
[scripts.zip](https://github.com/magento/magento2/files/854471/scripts.zip)

[2017-03-20 10:30] korostii commented on #8941
If you are looking for an advice please refer to the[ Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. As GitHub issue tracker is intended for technical issues only.
The issues which cannot be consistently reproduced on a clean installation of Magento CE aren't likely to get resolved in here.
Thus if

[2017-03-20 10:33] korostii commented on #8940
This sounds a bit as a request for a feature\improvement. [Community Forums](https://community.magento.com/) are intended for processing those. The GitHub issue tracker is intended for technical issues only.

[2017-03-20 10:33] korostii commented on #8939
In general, if you are looking for an advice please refer to the[ Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. As GitHub issue tracker is intended for technical issues only.
The issues which cannot be consistently reproduced on a clean installation of Magento CE aren't likely to get resolved in he

[2017-03-20 10:38] nitinpawar45 commented on #7530
This gives the result for first search id only. For example is i uses the search term  searchCriteria[filter_groups][0][filters][0][value]=1,2 Then it returns the result for id 1 only.

[2017-03-20 10:42] korostii commented on #8942
I would suggest that you read about static resources in Magento2 in order to understand how they get published, here's [the related part of devdocs](http://devdocs.magento.com/guides/v2.1/javascript-dev-guide/javascript/js-resources.html)

Further on, if you are looking for an advice please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magen

[2017-03-20 10:48] korostii commented on #8943
Seriously, there is an [answered question on stackexchange](http://magento.stackexchange.com/questions/95532/add-order-data-to-custom-template-on-admin-magento-2) very similar to yours. Please consider using search first. If your situation turns out to be different, posting your code along also speeds the help up.

In general, if you are looking for an advice please refer to the [Community Forums]

[2017-03-20 11:12] baltechies commented on #8943
@korostii  Thank you for respond. I have requested the help in [Magento Stack Exchange](http://magento.stackexchange.com/).  and Link of my request is [http://magento.stackexchange.com/questions/165135/magento2-admin-custom-module-throwing-the-error](http://magento.stackexchange.com/questions/165135/magento2-admin-custom-module-throwing-the-error).

Main point is that magento2 not throwing the rel

[2017-03-20 11:19] jugalpatelkrish commented on #8921
eg: configurable and simple product have same price value ($10), after changed currency display to EUR and select configurable option, price show as 10EUR. Disable block html cache then price is ok
Expected result
after select configurable option, price show right value

This is caching issue.  Disabling the "Page blocks HTML" cache resolves this issue.

[2017-03-20 11:32] andimov commented on #8774
Ticket MAGETWO-65186 was closed and delivered to the mainline https://github.com/magento/magento2/commit/76a33bd762489d731b4030067df448b71fa33218.
We decided to decrease max depth for recursive permission check to 2 level as the solution.

[2017-03-20 11:32] #8774 closed, assigned to nobody

[2017-03-20 11:59] phoenix128 commented on #8890
Why this issue has been closed? Do you have problems reproducing it?

[2017-03-20 12:43] smokygeek17 commented on #4822
Magento 2.1.3 still reproducible. Multi-select attribute not being saved. Although
backend_type = varchar
backend_model  = Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend

[2017-03-20 13:09] orlangur commented on #8876
@okorshenko could you please help me with defining implementation approach?

[2017-03-20 13:12] andreasacca opened #8944 "Missing Section in STORES -> Configuration -> Design - Mag 2.1.5"
### Preconditions

1. In Design Section is present only Search Engine Robots section
2. Magento 2.1.5 - Installed with DEVBOX Beta on Mac - Docker

### Steps to reproduce

1. Go to STORES->Configuration->Design

### Expected result

1. Should appear more sections

### Actual result

1. ![screen shot 2017-03-20 at 13 10 58](https://cloud.githubusercontent.com/assets/1486077/24101073/bffd25f4-0d6e-1

[2017-03-20 13:37] flagbird opened #8945 "@escapeNotVerified through multiple templates"
In Magento 2 templates, there are multiple `@escapeNotVerified` annotations added by the commit https://github.com/magento/magento2/commit/1e8ba207b626bfdbff611cbc7a047b6cc74b5cf2. It is mentioned in the commit message, that these are "potentially unsafe outputs", but this was added 2 years ago.

Will this be reviewed somewhere in the future or is this going to stay like it is? What would you sugg

[2017-03-20 14:43] dakzilla commented on #8924
Make that years. Some of the oldest open issues are from over 2 years ago. Magento is keeping itself busy selling that EE, ain't nobody got time for bug-fixing or quality assurance!

[2017-03-20 14:45] SewHappy58 opened #8946 "Magento 2.1.1 Payment Issues Authorize.net and PayPal"
We are trying to go live with a fresh install of Magento 2.1.1.  However, a final test for payment resulted in below errors.  We were able to place an order if using check/money order but not any other form.

We are using PHP ver. 5.6

### Steps to reproduce
Authorize.net
1. Purchase something on Magento 2.1.1 store
2. Go to cart and select credit card form of payment
3. Enter card information and

[2017-03-20 15:01] w130pmpo commented on #8933
Hello,

Could you please specify "nosql based solution" ?

Thank you

[2017-03-20 15:04] SewHappy58 commented on #8946
Ok, so I was testing my site and it's now working.  It wasn't working when we updated the DNS A Record.  Not sure why, but I am now closer to finding out the problem.

[2017-03-20 15:05] southerncomputer commented on #8933
store all product attributes in mongodb which is far better than EAV-style datastore for tons of products. Better yet - imo - would be to store the attributes in elasticsearch itself!

[2017-03-20 15:49] BeeHealthLimited commented on #8944
They have been moved to Content -> Design -> Configuration

[2017-03-20 15:54] KrystynaKabannyk commented on #6424
@dapdx, @Ctucker9233, you can find fix here 4c4a4a2ab9002d76a3356ef49f81b20e4ca5b740

[2017-03-20 15:57] orlangur commented on #8866
@korostii I don't think documenters by themselves can deal with nonworking implementation :)

There is a `DOC` label here: https://github.com/magento/magento2/issues?utf8=✓&q=is%3Aissue%20is%3Aopen%20label%3Adoc

So, in case of not purely documentation issue I would recommend to start here and then move to devdocs as necessary, when changes needed to apply become clear.

[2017-03-20 16:24] ksz2013 commented on #8811
Hi,

Any news on this issue?

Thanks,

[2017-03-20 17:02] logan-robbins commented on #8696
I ran into this problem and I think Magento updated documentation to explain how to extend the parameter value in the varnish config.

http://devdocs.magento.com/guides/v2.0/config-guide/varnish/tshoot-varnish-503.html

[2017-03-20 17:15] sergiosemov commented on #7886
@PieterCappelle This issue is fixed in develop 2.2.0.

[2017-03-20 17:17] slavvka commented on #7886
The issue was fixed for 2.2 and delivered to mainline. Also it was fixed for 2.1 and will be delivered as a part of 2.1.6 Patch Release

[2017-03-20 18:11] amnotafraid commented on #8280
I am using Magento 2.1.3.  If I get a product (replace base_url with correct magento 2 url; replace token with correct token; and use a valid sku):
[code]
I get this (please note name and updated_at fields):
[code]
If I then change the name to George (replace base_url with correct magento 2 url; replace token with correct token; and use the same  sku as before):
[code]
And then I repeat the GET, I

[2017-03-20 18:49] amnotafraid opened #8947 "GET orders returns error when filtering to status=pending"
### Preconditions
I have a Magento version 2.1.3 installation.  It has many orders wth different statuses.
### Steps to reproduce
If I do a GET to this URL (replace BASE_URL with magento 2 url, send token in header), I get a list of orders as expected (this is status="canceled"):
[code]
If I simply change this to status="pending", I get an error.  This is the URL:
[code]
### Expected result
I expe

[2017-03-20 19:35] badsayer opened #8948 "Free shipping method issue"
I found a bug with the free shipping method. The free shipping method not disappear when you remove products from your shopping cart, and the order amount is below the free shipping amount.

### Preconditions
Magento version: 2.1.2

### Steps to reproduce
1. When you put one product in the cart, in my case below € 20, no free shipping.
2. When adding a second product, and the cart amount above € 2

[2017-03-20 21:25] krejcif commented on #8681
Confirmed. We have same issue on EE 2.1.4

isRangingNeeded workaround helped.

Ranging needs to be fixed.

[2017-03-20 21:33] treestonemedia commented on #1549
Still getting this error - only in production mode

[2017-03-20 21:38] hostep commented on #8681
This is most likely a duplicate of https://github.com/magento/magento2/issues/8018

[2017-03-20 21:53] twistedatrocity commented on #6073
While the button may be gone, the paypal JS is still being loaded on every page. I'm assuming because of the minicart and this fix not addressing the JS injection. How do we make it so the paypal JS only loads on checkout page with the button where it's only needed? I don't want this JS loaded on every page and firing events on mouse movements or clicks.

[2017-03-20 22:15] zetlen commented on #4506
@dunarri and anyone else with these unacceptably large bundles: do you still have the inline `sourceMappingUrl` followed by lots of base64 at the end of your bundled file?

[2017-03-20 22:35] isanat commented on #6718
Where is a solution ??

[2017-03-21 01:08] loomdecor opened #8952 "You can't subscribe to newsletter if you already have an account"
Currently, if a user already has an account they cannot use the footer to sign up for email.  This is a terrible user experience...nobody is going to go all the way into their account (or even KNOW to go there) to sign up for the newsletter.  People do it from the footer or from popups.
### Preconditions
1. Any Magento version

### Steps to reproduce
1.  Create a new account and don't sign up for

[2017-03-21 01:11] erfanimani commented on #6073
@twistedatrocity The minicart contents might even be a localstorage thing, so you would need to reset your session to refresh the top right minicart.

JS loading on every page is annoying.. It's not even minified/compressed and Pagespeed insights is complaining about it..

[2017-03-21 03:11] hubaig commented on #8018
Hi,

Can anyone create a noob friendly steps? Step by Step? I have this problem. I understand it. But not very familiar with Magento modules.

Regards,
Hussain Baig

[2017-03-21 03:40] fordiy commented on #6404
@ronnybremer solutions worked for me too.
I want to say to Magento: Who make this totally chaos CMS? Waste developers' time. Why this shit still in the market. Everything it makes so complicated but NOT good as Joomla or OpenCart. Just a language & currency will cost you two more Days. If in Joomla, just 2 hours done!

[2017-03-21 03:42] ngoctruong1610 commented on #2461
- I met similar problem with my projects, any update on this ?

[2017-03-21 05:39] flancer64 commented on #8290
The original PR-5145 is still alive :) Duplication is closed.

[2017-03-21 05:39] #8290 closed, assigned to nobody

[2017-03-21 07:41] vincentcd commented on #8857
update icu to 5.8

[2017-03-21 08:09] PrajapatiChirag commented on #5157
same issue with any controller with scope **etc/adminhtml/di.xml** or **etc/di.xml** or **etc/frontend/di.xml**

Latest version also having the same issue.

`  <preference for="Magento\Customer\Controller\Account\ForgotPasswordPost" type="Vendor\Module\Controller\Account\ForgotPasswordPost"/>`

Any updates?

[2017-03-21 08:14] rendyep opened #8954 "Error While Trying To Load Quote Item Collection Using Magento\Quote\Model\ResourceModel\QuoteItem\Collection::getItems()"
### Preconditions
1. Magento 2.1.5

### Steps to reproduce
1. Load Quote Item Collection using Magento\Quote\Model\ResourceModel\QuoteItem\Collection::getItems()

`$quoteItemCollection = $this->quoteItemCollectionFactory->create()->getItems();`

### Expected result
1. I get array of Quote Items

### Actual result
1. Thrown an error:
`Fatal error: Uncaught Error: Call to a member function getStoreI

[2017-03-21 08:28] jissereitsma commented on #2543
FYI, in my case, increasing the MySQL `max_allowed_packet` solved this issue

[2017-03-21 08:28] jissereitsma commented on #7184
FYI, in my case, increasing the MySQL `max_allowed_packet` solved this issue

[2017-03-21 09:12] YevSent commented on #8947
Hi, @amnotafraid, this is known issue (MAGETWO-65144). Thanks for reporting.

[2017-03-21 09:17] YevSent commented on #8946
Hi, @SewHappy58, please, enabled `debug` mode for both payment and post response details from payments. Also, please, post response from Authorize.net `transact.dll`.

[2017-03-21 09:18] luciodiri commented on #5157
Same issue when overriding Magento\Customer\Controller\Account\LoginPost
Magento Version 2.0.13

[2017-03-21 09:32] hapablap commented on #8061
I had the same error message on checkout page after an update from 2.1.3 to 2.1.5. After I changed from the project's custom theme to the Luma theme, the error has been gone. Please check if this may come from overwriting template files.

[2017-03-21 09:32] stianmartinsen commented on #6138
I'm also experiencing this issue in CE 2.1.5.

Adding
`'add_directives' => true,`
to
`customizeWysiwyg` in `/vendor/magento/module-catalog/Ui/DataProvider/Product/Form/Modifier/Eav.php`

fixes the issue, but I don't want to change core files or overwrite the function. How come this isn't merged into 2.1 when it was merged into develop 5 months ago?

[2017-03-21 09:50] faducrocq commented on #7722
Hi @veloraven ,

Do you have some news about this bug ?

Thanks,

Fanny

[2017-03-21 10:24] paalsoberg commented on #8544
I've got this issue as well. But in my case it is due to the email validation. If you have a domain with a .cloud extension, and use this for email - e.g. test@test.cloud - you will get the same issue. Changing to a test@test.com and the order proceeds as normal.

[2017-03-21 10:29] ajpevers commented on #2461
I've created this pull request to resolve the problem. There were two pull requests already, but neither of them fixed the problem completely.

https://github.com/tubalmartin/YUI-CSS-compressor-PHP-port/pull/36

[2017-03-21 10:30] jurgisl opened #8956 "Sorting by Tax Class does nothing"
Magento 2.1.4 CE

### Preconditions
At least 2 products with different Tax Class assigned.

### Steps to reproduce
1. Admin > Products > Catalog
2. Add Tax Class column
3. Press on Tax Class column header
4. Press again on Tax Class column header

### Expected result
1. Products should change order

### Actual result
1. Products have the same order.

Actually, if there are more products and the Ta

[2017-03-21 11:14] MarcoGrecoIttweb opened #8957 "Permanent Redirect for old URL missing via API"
### Preconditions

Magento 2.1.2 CE
Multiple websites configured

### Steps to reproduce(working):
- go in admin area
- clear url-key field in product
- keep checked "Create Permanent Redirect for old URL"
- changes product name
- save

### Steps to reproduce(broken):
- call myownmagento.test/index.php/rest/all/V1/products with correct authentication token with json data and url_key_create_redirec

[2017-03-21 11:19] JDThralls opened #8958 "Hint mistake in english language"
### Preconditions

1. Magento 2.1.5 (downloaded from official website with timestamp 2017-02-20)
2. PHP 7 on Apache dedicated server (does not actually matter)

### Steps to reproduce

1. Logged in to admin panel
2. Content -> Configuration
3. Global configuration hint is shown as follows in english:

### Actual result
"Search strings are either normal strings or regular exceptions (PCRE)."

### E

[2017-03-21 11:24] ajpevers commented on #2461
@tubalmartin has merged the pull request in version v2.4.8-p6. https://github.com/magento/magento2/pull/8959 requires this version and fixes the problem in Magento.

[2017-03-21 11:30] jzahedieh commented on #8667
@aasim110 we had this issue too, it's because a template change in our theme:

It was the way the requireJS was being initialized which was causing the issue.

You can see the change Magento made 5 months ago here:
https://github.com/magento/magento2/blame/2.1/app/code/Magento/Catalog/view/frontend/templates/product/view/form.phtml#L42-L47

We had to change the template to reflect that change and

[2017-03-21 11:39] Dawesign commented on #5596
This is still a problem. Any progress?

[2017-03-21 11:42] joni-jones commented on #8726
We are closing this issue because it hasn’t been updated in more than two weeks.

If you still can reproduce the issue, please, be free to reopen it.

[2017-03-21 11:42] #8726 closed, assigned to YevSent, alena-marchenko

[2017-03-21 11:42] joni-jones commented on #8296
We are closing this issue because it hasn’t been updated in more than two weeks.

If you still can reproduce the issue, please, be free to reopen it.

[2017-03-21 11:42] #8296 closed, assigned to YevSent, alena-marchenko

[2017-03-21 11:43] joni-jones commented on #8451
We are closing this issue because it hasn’t been updated in more than two weeks.

[2017-03-21 11:43] #8451 closed, assigned to YevSent, alena-marchenko

[2017-03-21 11:43] joni-jones commented on #8339
We are closing this issue because it hasn’t been updated in more than two weeks.

If you still can reproduce the issue, please, be free to reopen it.

[2017-03-21 11:43] #8339 closed, assigned to alena-marchenko, viktym, ioliinyk

[2017-03-21 11:45] ngoctruongbc commented on #2033
I met that issue on my project [Magento 2.0.10], any update please ?

[2017-03-21 11:47] MighT-W315H31T commented on #8958
This mistake is in the documentation as well:

Example:
http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-apply.html
Under "Add A Design Exception"
"In the Search String box specify the user-agent using either normal strings or regular exceptions (PCRE). In the Theme Name drop-down list select the theme to be used for matching agent."
where it should say
"In the Search String

[2017-03-21 12:38] jzahedieh opened #8960 "Configurable upsell/linked items zero (0.00) price in admin product edit"
### Preconditions

1. Magento EE 2.1.4
2. PHP 7.1

### Steps to reproduce

1. Login to admin
2. View configurable product with configurable product upsell products

### Expected result

1. Up-sell price should not be 0

### Actual result

1. Up-sell price is not be 0

_Note: This happens with related + crossell types too._

### Analysis

In the `vendor/magento/module-catalog/Ui/DataProvider/Produc

[2017-03-21 12:40] hasan4it opened #8961 "email logo error"
### Preconditions

1. no logo
2.

### Steps to reproduce

1. upload a logo for email header
2.
3.

### Expected result

1. should update the logo name in database and upload the logo on the server

### Actual result

1. logo name updated in the db but no actual logo uploaded into the server, I manually upload the logo the desired location. all directories are set permissions to 777

[2017-03-21 12:56] sjiuk commented on #7917
philwinkle did you resolve this problem?

[2017-03-21 13:25] atsareva opened #8962 "Default zip code error"
Hi!

### Preconditions
1. Magento 2.1.5 CE (clear version)

### Steps to reproduce
1. Go to Stores Configuration -> Sales -> Tax -> Default Tax Destination Calculation
2. Set some value to 'Default Post Code' field (e.g 12345)
3. Go to checkout page (1 step) and select Ireland country. You shouldn't set zip code for this country, so leave it empty.
4. Go to the second step on the checkout and you

[2017-03-21 13:50] susmithaN commented on #7967
Hi , Thank you for your information . I tried this one . But Still got the same problem .  I cant  able to add missing categories on registry .

[2017-03-21 13:52] KrystynaKabannyk commented on #8061
@rbostan, we couldn't reproduce this issue when upgrading CE from 2.1.2 to 2.1.3. If you did additional steps or specific configurations please provide!

[2017-03-21 14:02] jarhody commented on #4387
2.15 still an issue for me.

I used this work around for now. Simply adding a date to all products that have NULL values in these fields.

Login in to PhpMyAdmin
Go to table catalog_product_entity_datetime
Find the attribute ids of news from date and news to date (or go to the attribute in admin and find id in the url key)
Run query below (change the atrribute_id(s) to match your ids obtained from

[2017-03-21 14:11] pascaladriaansen commented on #7668
We are having the same issue on Magento CE 2.1.4. Unfortunately, it seems the [solution](#issuecomment-284496922) posted by @pisc-software does not resolve this issue.

I'm guessing (with @pisc-software's 'fix') this is happening because even though the changes to the customer address have already been committed once the `Magento\Customer\Observer\AfterAddressSaveObserver::execute()` is executed,

[2017-03-21 14:12] rbostan commented on #8061
@KrystynaKabannyk finally 👏 🎊 🥇

I did update via composer. There is not any extension or module affects payment progress.
Changed/test with Luma and current theme (SM Market). Both same issue.

Tried to update 2.1.5, no changes. Still payment methods not listed and js error persist.

Forgot my situations or configuration. If you can solve the other(@amanuni, @jpratt and @pixiesky)'s issues, it wi

[2017-03-21 14:19] dolmeta commented on #8962
I have a similar problem with a custom attribute.

To reproduce :
- Create attribute "status" as select type, with a default value
- Create address in checkout
- Check the database => the default value is not set

[2017-03-21 14:34] Turv commented on #7198
Same problem, any work around?

[2017-03-21 14:39] pisc-software commented on #7668
That is correct, we later also found out what the real underlying issues was as our "fix" did turn out not to fully work. That is because we opened this one here as the underlying cause:

[https://github.com/magento/magento2/issues/8855](https://github.com/magento/magento2/issues/8855)

We ended up to recoding our function depending on the "customer_address_save_after" event observer into a plugin

[2017-03-21 14:45] jaredchu commented on #4531
So "&" character cause this issue, has anyone solution for it?

[2017-03-21 15:22] KrystynaKabannyk commented on #6671
hello @sanjayjethva, thank you for the report, the internal ticket is created MAGETWO-66480.

[2017-03-21 15:24] KrystynaKabannyk commented on #8552
hello @sydekumf, thank you for the report, the internal ticket is created MAGETWO-66482.

[2017-03-21 16:25] rhoerr commented on #8874
Experiencing this as well.

[2017-03-21 16:27] Talv commented on #6138
I can confirm what was said above - adding ```'add_directives' => true``` into WYSIWYG config fixes it. No changes to JS files are required (at least not on 2.1.5).

I decided to pack the fix into a module, since I'm putting together 3rd shop on 2.1 (bug exists since 2.1.0 ...), and fix is still not merged into stable branch.. unbelievable.

https://github.com/Talv/magento2-wysiwyg-fix

[2017-03-21 17:10] andidhouse opened #8963 "@ magento2 team --> Are you guys on holiday or why is nobody marking and answering tickets here since weeks/month?"
@ magento2 team --> Are you guys on holiday or why is nobody marking and answering tickets here since weeks/month?

Really disappointing how you guys handle bugs 👎

[2017-03-21 18:51] alxanthony commented on #5333
Can we please get an update on this? or could you provide a workaround to get the left menu back? clients are complaining that it takes them almost double the time to populate data.

[2017-03-21 19:46] sudheeshks1985 opened #8964 "Tax calculation wrong after applying coupon code (Major Bug)"
### Preconditions

1. Magento 2.1.5

### Steps to reproduce

1. Stores->Configuration-> Sales->Tax : Set all values including tax
2. Stores->Tax Rules : Set VAT of 16%
3. Marketing-> Cart Price Rule : Set 10% offer and apply to shipping amount also

### Expected result

1. Cart Check out page Shipping calculator : After applying 10% coupon code tax calculation is getting wrong. Here subtotal is K

[2017-03-21 20:13] w130pmpo commented on #8933
Thanks for reply. I have another question regarding indexing.

- Currently Indexer has been set as "UPDATE BY SCHEDULE"
- Cron job currently disabled

- Create Product using php script on CLI and through Product Model (Product->save())

=> expected result, newly added product should not be in catalog_product_flat table
=> actual result, newly added product is in catalog_product_flat_table  (look s

[2017-03-21 21:04] alexandrosk commented on #8942
I believe it's because you're missing requirejs correct order in some place in your code.
I was calling a jQuery script inside my template file and sometimes jQuery was not loaded when browser was reading the line with the script so I was getting that error!
Anyhow when I've moved to production this bug dissapeared.

[2017-03-21 21:25] #2461 closed, assigned to nobody

[2017-03-21 21:52] schmengler commented on #6563
Resolved by #7142

[2017-03-21 21:52] #6563 closed, assigned to nobody

[2017-03-21 21:54] schmengler commented on #4463
This issue has been resolved in #7142. The priorities are now defined in a reasonable way.

[2017-03-21 22:13] Vinai commented on #7659
Cross reference to PR #8955

[2017-03-21 23:16] davidalger commented on #8963
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) discussion topics.

[2017-03-21 23:16] #8963 closed, assigned to nobody

[2017-03-21 23:18] SewHappy58 commented on #8946
After further investigation, I noticed when I reverted my DNS back, keeping the default Cloudways URL, the site now works and there is no issue.  So why would PayPal or Authorize.net not work when I propagate my DNS?  I'm updating the A record only and the domain is being hosted elsewhere then server. It makes me wonder if something is happening during the process?  I gave it 24hrs and the site wa

[2017-03-21 23:22] davidalger commented on #8845
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2017-03-21 23:22] #8845 closed, assigned to nobody

[2017-03-21 23:22] davidalger commented on #8493
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2017-03-21 23:22] #8493 closed, assigned to nobody

[2017-03-21 23:24] grasdaggel opened #8966 "SQL exception when creating a widget with either layout update for pages and layout condition for a specific layout"
### Preconditions

1.  We are using Magento 2.1.5
2. We are currently developing a custom theme
3. PHP: 7.0.16
4. Apache2

### Steps to reproduce

1. Log into magento backend
2. Create a CMS page with layout: 2 columns with right bar and save
3. Go to Widget area and click on "Create new widget" on top right corner
4. As Type use: "List of catalog products", as style choose your custom theme (not

[2017-03-21 23:33] davidalger commented on #8575
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. Feel free to reopen this issue if you think you have encountered a bug in Magento 2.

[2017-03-21 23:33] #8575 closed, assigned to nobody

[2017-03-21 23:38] davidalger commented on #7663
This issue has been addressed via PR #8609. Closing

[2017-03-21 23:38] #7663 closed, assigned to nobody

[2017-03-21 23:41] davidalger commented on #6358
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. Feel free to reopen this issue if you think you have encountered a bug in Magento 2.

[2017-03-21 23:41] #6358 closed, assigned to nobody

[2017-03-21 23:43] davidalger commented on #8935
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions and support. Feel free to reopen this issue if you think you have encountered a bug in Magento 2.

[2017-03-21 23:43] #8935 closed, assigned to nobody

[2017-03-21 23:46] grasdaggel commented on #8966
You can achieve the very same result with the following:

1. create a block and add widget logic to it - or whatever you want.
2. go to all desired pages and add following XML to your Design-tab:

[code]

[2017-03-21 23:55] southerncomputer commented on #8933
I'm not sure, are you sure that cron.php is not being called by crond?!

I assumed reindexing was to move from database (flat, or eav) to solr/elasticsearch models on schedule. I would have thought the flat table was directly written to.

I've been using elasticsearch since v1 - so i'm not sure how the flat tables get indexed if not real time?! mysql doesn't need any work to add text based indexin

[2017-03-22 00:34] andreymoskvenkov commented on #8554
The root cause of this issue is that the "pageLayout" parameter for the layout builder is missing. However before starting blocks and XML generation Magento adds additional blocks to the list based on selected pageLayout: 1column, 2columns or empty. By default for the most of the pages the layout is: 1column. As the result: almost all default pages are working as expected. But once you customize y

[2017-03-22 04:33] amnotafraid commented on #8947
@joni-jones Thank you.  I searched for the issue, but I couldn't find it.  Would you please provide a link to MAGETWO-65144?

[2017-03-22 04:43] sabarivenkatesankrish opened #8967 "Magento 2.1.4 Store View Switching Probelem"
I am having two store views namely "English" and "Arabic". My default store view is "Engilsh". When I switch my store view to "Arabic" from "English", its working. After that If I click any product or category page, it redirects to English.

When I set "Add Store Code to URL" to 'Yes' in Stores > Configuration > General > Web it works properly.

I need to work my store views by putting "Add Store

[2017-03-22 04:53] pantaoran commented on #5708
I'm going to reference two pull requests that could be related to this:
https://github.com/magento/magento2/pull/8130
https://github.com/magento/magento2/pull/5548

[2017-03-22 06:06] pantaoran commented on #4232
@maksek Is that promised patch release roadmap out yet? I would be very interested to see it.

[2017-03-22 06:10] itzRamkumar commented on #3307
Still the Status remains Unchanged after create the shipment in version 2.1.1
Is this Issue resolved?

Is any other way to update the Order status to complete using Rest API call?

[2017-03-22 06:15] pantaoran commented on #5811
@piotrekkaminski your link results in a 404 on github

[2017-03-22 06:26] pantaoran commented on #5444
I believe this is a duplicate of the following issues:
https://github.com/magento/magento2/issues/5811
https://github.com/magento/magento2/issues/6851
https://github.com/magento/magento2/issues/7215

[2017-03-22 06:45] thdoan opened #8968 "Fotorama zoom buttons don't work"
### Preconditions

1. Magento v2.1.2
2. Chrome 58.0.3029.19 beta on Windows 7

### Steps to reproduce

1. Go here: http://magento2-demo.nexcess.net/caesar-warm-up-pant.html
2. Click on image to open zoom overlay
3. Click [+] and [-] buttons to zoom in/out

### Expected result

1. The image should zoom in and out.

### Actual result

1. Nothing happens. You can only zoom using the scrollwheel, whic

[2017-03-22 07:24] maqlec commented on #6733
Polish language has the same issue.

[2017-03-22 07:53] sabarivenkatesankrish opened #8969 "Magento 2.1.4 Bundle product with simple product option price as "zero""
Hi all,
I created a simple product with price as "Zero". I add that product to the cart and it works fine. I created a bundle product with above created simple product as "product options". When add this product in to the cart, it shows the error like "We can't add this item to your shopping cart right now".
When I checked about this issue, I found there is a problem on a method called collectTota

[2017-03-22 07:56] eInyzant commented on #4662
This still happen in 2.1.5 :(

[2017-03-22 07:59] joni-jones commented on #8947
Hi @amnotafraid, it's internal ticket.

[2017-03-22 08:06] joni-jones commented on #8946
Please, contact with PayPal and Authorize.net support to get more details about your infrastructure problem.

Now, I'm closing this issue as not related to Magento functionality. If after your investigation you will find an issue related to Magento, please, be free to reopen this ticket.

[2017-03-22 08:06] #8946 closed, assigned to YevSent, alena-marchenko

[2017-03-22 08:08] kayintveen commented on #8115
Also same issue here.

[2017-03-22 08:29] Khaleel commented on #4059
Also having the same issue..

[2017-03-22 08:42] Styopchik commented on #8061
same issue

[2017-03-22 09:02] apluzhnikov commented on #3307
itzRamkumar, did you created an invoice before? As far as I know it doesn't change the order status to "complete" if the shipment or the invoice doesn't exist

[2017-03-22 09:47] korostii commented on #8967
If you are looking for an advice please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. As GitHub issue tracker is intended for technical issues only.

[2017-03-22 09:56] marius-bica opened #8970 "Cannot assign products to categories not under tree root"
### Preconditions
Magento version: 2.1.4 community edition
PHP version 7.0.15

### Steps to reproduce
Try to assign some products to categories programmatically using a CategoryLinkManagement object. The code looks something like this:

[code]
where the `categoryLinkManagement` property is injected via DI into the current class.

### Expected result
The product gets assigned to the category.

###

[2017-03-22 10:17] stephangroen commented on #3307
@itzRamkumar Read the [comment](https://github.com/magento/magento2/issues/3307#issuecomment-251928185)! It's fixed in 2.1.3, so obviously in 2.1.1 it's still a bug.

[2017-03-22 10:38] korostii opened #8971 "Files mapped to dev/tests by "required" composer packages"
The composer.json file distributed with the application contains separate sections "require" and "require-dev" sections.
It is commonly expected that "require" section only contains dependencies necessary for production use, and not tests, tools used for development etc.

### Preconditions
1. Magento 2.1.5 CE from https://magento.com/tech-resources/download

### Steps to reproduce
1. Run "composer

[2017-03-22 10:58] cscd98 opened #8972 "Update folder"
When you check out Magento CE 2.1.5 via composer and upload to your own repository omitting all core M2 files, is the update folder supposed to be committed as well or omitted from your own repo?

Or are you just supposed to commit update/composer.json?

### Preconditions
1. Magento CE 2.1.5 installed via composer

### Steps to reproduce
1. Omit /update/ folder from git repository

### Expected re

[2017-03-22 11:10] DuckThom opened #8973 "Cannot set block data directly from session value"
### Preconditions
1. PHP-fpm 7.0.16
2. Mysql 5.7.17
3. Magento 2.1.2

### Steps to reproduce
1. In a controller, put the following code in the execute method:
[code]

### Expected result
[code]

### Actual result
[code]

### Workaround

Save the session value to a variable first
[code]

[2017-03-22 11:17] davidonstate commented on #5524
@alexgifts, thanks for reporting this!

@andimov, is there any update on the status of this issue? My development team have come across this issue and we're keen to know if we're going to need to resolve it ourselves or if there is a patch that can be provided.

Thanks,
David.

[2017-03-22 11:23] itzRamkumar commented on #3307
@apluzhnikov Yes Invoice is Created.

@stephangroen How to upgrade 2.1.1 to 2.1.3 version.

[2017-03-22 11:27] stephangroen commented on #3307
@itzRamkumar http://lmgtfy.com/?q=upgrade+magento+2

[2017-03-22 12:00] itzRamkumar commented on #3307
@stephangroen Amazing Link.. Thanks a Ton

[2017-03-22 12:12] cscd98 opened #8974 "Update cron creates huge log files"
The current cron job in update/cron.php will check to see if your files are writeable. However, rather than outputting a few snippets and then quitting, it creates a list of every single file that is not writeable thus creating a log file of several gigabytes.

It would be better if it simply reduced the list to say 10 - 20 and then quit listing them.

It is wasting considerable disk space.

### P

[2017-03-22 12:46] aasim110 commented on #8640
Thanks @SKovbel  for solution, working fine now.

[2017-03-22 13:06] grafikchaos commented on #8952
[code]

I agree. That is pretty bad. The error message should at least be helpful enough to explain why and what you should do to remedy the situation. Why can't it be handled by an observer that matches the subscriber to customer email address and link the two?

[2017-03-22 13:27] meenagowri commented on #1676
Hi I have the error when I click the categories.The error is "There has been an error processing your request"..What I have to do to clear the error

[2017-03-22 13:34] PascalBrouwers commented on #6781
Any news for MAGETWO-59384?

[2017-03-22 14:10] DavidLambauer commented on #1146
@awwea works for me!

[2017-03-22 14:48] SagaDaspider commented on #4828
When will this issue be fixed? Happens on all browsers.

[2017-03-22 14:55] KrystynaKabannyk commented on #7661
hi @sippsolutions, the issue has been fixed under MAGETWO-54243 (you can find the fix here c20c8e906bbb74669d5002c116e6a7af54c300f7), backports are scheduled for 2.1.9 and 2.0.17.

[2017-03-22 15:04] franckgarnier21 commented on #7596
You can configure Nginx in order to add the real IP when there is Varnish

    set_real_ip_from    127.0.0.1; #Put the Ip of your varnish/proxy here
    real_ip_header    X-Forwarded-For; #Put the Header that your varnish/proxy set

[2017-03-22 15:05] franckgarnier21 commented on #4219
You can configure Nginx in order to add the real IP when there is Varnish

set_real_ip_from    127.0.0.1; #Put the Ip of your varnish/proxy here
real_ip_header    X-Forwarded-For; #Put the Header that your varnish/proxy set

But I do not find a solution yet in order not to cache Varnish page for allowed IPs.

[2017-03-22 15:10] lorenzosfarra commented on #8700
Same problem here.
@yellow13 any news about it? Thanks

[2017-03-22 15:17] franckgarnier21 opened #8975 "Magento 2 .maintenance.ip file is not working behind Varnish + Nginx"
### Preconditions
Magento 2.1.X
Varnish
Nginx
Test on a real webserver, not in local

### Steps to reproduce
Browse your website before in order to put some page in Varnish cache
Enable maintenance mode via ssh , once in the application folder
php bin/magento maintenance:enable --ip=xxx.xxx.xxx.xxx

different from local IP 127.0.0.1 which works.

### Expected result
1. Able to access my website wh

[2017-03-22 15:18] KrystynaKabannyk commented on #7659
hi @fooman, the issue is reproducible, the internal ticket is created MAGETWO-66539.

[2017-03-22 15:44] #7949 closed, assigned to nobody

[2017-03-22 15:47] #7813 closed, assigned to tkacheva

[2017-03-22 16:17] gewaechshaus commented on #4828
We are running into those issues 2...

[2017-03-22 16:23] behnamshayani commented on #8975
should be fixed in this PR: https://github.com/magento/magento2/pull/7864

[2017-03-22 16:29] buskamuza commented on #2529
Thanks, @mttjohnson .
Yes, I agree that we should revisit the way how the messages are logged. We'll work on a strategy for that.
And yes... `support_report.log` should be revisited as well. With the new version on monolog it just duplicates `system.log`, as I can see.

[2017-03-22 17:21] springimport opened #8976 "Why .gitignore don't contain ruls for media?"
### Preconditions
Magento version - 2.1.5

### Steps to reproduce
1. I want to track files with git without media.

### Expected result
`.gitignore`

- `pub/media/favicon`
- `pub/media/logo`

### Actual result
`.gitignore` without ruls for media.

| Q | A |
| --- | --- |
| Magento version | 2.1.5 |
| PHP version | 7 x64 |
| Operating system | Windows 10 x64 |

[2017-03-22 17:45] mbrinton01 commented on #8958
Thank you @MighT-W315H31T for catching this. Would you be able to create a PR to fix?  We also accept PRs for docs: http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing_docs.html

[2017-03-22 18:08] jarhody opened #8977 "Invalid field(s) above the fold during checkout."
### Preconditions
1. Version 2.1.5
2. PHP 5.6

### Steps to reproduce
1. Add any item to cart
2. Go to checkout fill out form leaving out any required field like last name or city (or in my case my browser auto fills an invalid email address which does not trigger an immediate notice)
3. Scroll down to shipping methods
4. Select shipping method
5. Click Next

### Expected result
1. A notice should

[2017-03-22 18:08] malachy-mcconnnell commented on #5946
Dear Magento Core Team, Please can we have an update on this thread?

Here is my suggested solution (I think other solutions are possible, see analysis below):

###Proposed solution

####In file:
`app\code\Magento\Customer\view\frontend\web\js\customer-data.js`
in function:
`customerData.init()`
[defined on `line 187` of this M2CE develop branch]

####Code change:
move
[code]
outside of its enclos

[2017-03-22 18:18] Will-I4M opened #8978 "Error 400 with braintree on checkout"
Hi,
We are facing this issue with some payment. Most of payment are successfull but sometimes it happend and we didn't figured why. If the user close the browser window and reopen it, It can solve the issue, but we do not know if it's always the case.

This issue can happend with logged in user, OR guests, and happend when user select stored card number OR, when the user give the card numbers.
It'

[2017-03-22 18:27] mrfroasty commented on #5183
This error happens if you have intl.error_level set to other values than 0 i.e if you have changed it from its default value 0.Comment it out to fall back to default and it worked.

[2017-03-22 18:32] pisc-software opened #8979 "CustomAttribute not set when creating Customer with"
### Preconditions
1. Magento 2.1.4
2. Identified on PHP 7.0 on Zend Server 9.0.2

### Steps to reproduce
1. Create a Custom Attribute for a Customer: e.g. "tax_class_id"
2. Have a Plugin that adds a CustomerRepository->beforeSave() function to intercept the Customer Repository save.
2. On the frontend have an empty cart, add some Product and checkout using the default Magento Checkout
3. On the Or

[2017-03-22 18:40] jghaanstra commented on #8214
Any news concerning this issue, it's still present in Magento 2.1.5. For me this is a pretty nasty bug. By law I'm obligated to show prices including tax in my country. Due to this bug I'm not able to and I'm violating the law.

[2017-03-22 18:44] misha-kotov commented on #6781
@PascalBrouwers no update yet, still in queue to be implemented

[2017-03-22 19:17] clarkeverdel opened #8980 "Checkout validation usability issue (THE FOLD)"
Hi Guys,

I would like to request a new improvement for the checkout. Currently users could have trouble finding out about invalid fields which disappear above the screen fold.

**Scenario:**

1. User fills out his address information
2. Scrolls down below to submit the form and go to the next step.
3. Hey! The button is not working. Weird...
4. When the invalid fields are not visible because they

[2017-03-22 20:11] yellow13 commented on #8700
Hi @lorenzosfarra .
no news about it. I was hoping to have a feedback, but nothing till now

[2017-03-22 20:14] sshymko commented on #5105
Experiencing the issue on 2.1.4.
Trying out the type hinting workaround by @ghost.

[2017-03-22 21:39] grafikchaos commented on #8968
The example appears to be zooming in/out just fine for me.

[2017-03-22 22:03] malachy-mcconnnell commented on #5946
I have more to add on repeating the problem of mini-cart not updating.

Another way to replicate the problem:

  a) Standard M2CE install
  b) Set all caches disabled, especially the page cache
  c) On the front-end, clear cookies and refresh the page
  d) Click sign-in
  e) Enter a customer username and password and press login button in the normal way
  f) Note that the `customerData` object's l

[2017-03-22 22:56] #6961 closed, assigned to nobody

[2017-03-22 23:07] buskamuza commented on #2433
@joshspivey , what was removed? Could you please elaborate a little bit more on your issue?

[2017-03-23 00:17] carb0nknight commented on #8747
This seems like an essential feature when it comes to configurable products. It's not feasible to individually configure tier pricing on configurable products when there are literally hundreds of product configurations available. When you have a product available in 20+ colors, and 5+ sizes, this quickly gets out of hand.

If we can't get the option to configure tier pricing on the configurable pr

[2017-03-23 01:27] sshymko commented on #5105
It is tricky to implement a workaround as a custom module, because the signature of the method `\Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder::getItemPrice()` cannot be overridden by a descendant due to types incompatibility of order item and invoice item.

Looking forward to the fix in core.

[2017-03-23 02:31] goben2489 commented on #8747
i have resolved

Create Nomal Product
1. Choose attribute set
2. Set price and tier price because at now advanced price link have showing
3. Setup Configuable Product
4. After setup, advaced price have hidden

Edit Product
1. Add js to show advanced price link
2. Go to edit tier price if you want
3. Save success, tier price have update

[2017-03-23 02:45] carb0nknight commented on #8747
@goben2489 Coming up with a workaround that fits YOUR needs, is not a resolution to the issue itself. I believe this feature existed in version 1.x, and has existed as a Magento 2 feature request for months (https://community.magento.com/t5/Magento-2-Feature-Requests-and/Configurable-products-tier-prices-and-attributes/idc-p/63815#M2735), so there are many people encountering this issue.

[2017-03-23 05:29] thdoan commented on #8968
Are you viewing it in a tablet or Windows desktop PC? When I click on the +/- buttons using the mouse in Chrome on Windows 7, nothing happens. However, if I use Chrome developer tools to emulate iPad, then tapping on +/- works as intended.

[2017-03-23 05:42] sudheeshks commented on #8964
I am facing same issue in magento 2.1.5 basic installation also.

16% VAT is applied for products and shipping charge.

Apply to Shipping Amount is YES for Coupon code OFFER10

Please check the attached image

Please check this issue ASAP. I cant able to go to live due to this major issue.
![discount_coupon_magento215](https://cloud.githubusercontent.com/assets/4659674/24233641/8e6b8894-0fb9-11e7-

[2017-03-23 06:09] AbdulKadir-Agoliya commented on #4822
Fixed For me magento2.1.0, go to eav_attibute table, search you multiselect attibute and change in "backend_model" column NULL value with this value: Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend, clear cache and reindex and ty.

[2017-03-23 08:26] aur3l10 commented on #8875
Same problem for me.

**Preconditions**

1. Magento version 2.1.5
2. PHP version 7.0.16
3. Used browser: Google Chrome, Mozilla Firefox, Chromium

[2017-03-23 08:58] gammacode2 commented on #8877
Hi, we have following solution:

the error is in the if condition, it cannot out delete the products. Since only queried whether is a parent product ni which is collection. It must be called when no product is available, then please delete the items from the collection.

So just the if condition negate as follows:

from
`// Add products to order items
            if (isset($order)) {

[2017-03-23 08:59] smokygeek17 commented on #4822
@AbdulKadir-Agoliya I tried that, but didn't help. The only workaround I found is to use the Mass action attributes update. Then it saves the change of multi-select attribute

[2017-03-23 09:23] shifra123 opened #8981 "Unable to retrieve slected values in Multiselect form element"
### Preconditions

1. Magento ver. 2.1.5
2. PHP 7.0.16-3+deb.sury.org-trusty+1 (cli) (built: Feb 22 2017 10:27:05) ( NTS )
   Copyright (c) 1997-2017 The PHP Group
   Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.16-3+deb.sury.org-trusty+1, Copyright (c) 1999-2017, by Zend Technologies
    with Xdebug v2.5.0, Copyright (c) 2002-2016, by Derick Rethans

Is

[2017-03-23 09:44] franckgarnier21 commented on #8975
Thanks for sharing your PR.

@behnamshayani Indeed, this PR will fix the first part of this issue but not the second.

If a customer access to my website in maintenance mode, Varnish will cache some pages.
Then if another customer with an IP not allowed in maintenance mode, he will be able to reach the pages cached by Varnish, so it is not the result expected.

Magento needs to communicate with Va

[2017-03-23 09:58] timbaker1991 commented on #8653
@developer-lindner Migrated from where or when? I set these up in Magento 2's admin area - but have upgrade the version of Magento from 2.1.1 (I think) to 2.1.4 - and it was just after this upgrade, so as long as I don't need to migrate it between minor versions?!

[2017-03-23 10:12] thdoan opened #8983 "Cannot bulk update Gender attribute"
### Preconditions

1. Magento v2.1.2
2. Sample data

### Steps to reproduce

1. Install sample data
2. Go to Admin / Stores / Attributes / Attribute Set; add Gender to Top attribute set
3. Reindex
4. Go to Admin / Products  / Catalog; filter by Name = "yoga"
5. Select all results and click Actions / Update attributes
6.  Set Gender = Female and save

### Expected result

1. The selected products s

[2017-03-23 10:15] alexpoletaev opened #8984 "Error/notice messages issue on PDP"
### Preconditions

1. Magento 2.1.5

### Steps to reproduce

1. Clear all cache from the admin panel or terminal
2. Open a category page which have at least one product with required options (lets say it will be a configurable product)
3. Click 'Add to Cart' button on product described above
4. You will be redirected to the product details page

### Expected result

1. The notice message 'You need

[2017-03-23 10:28] niranjanleanswift opened #8985 "Customer Session is not logging sometimes"
We are having the Magento 2.0.5 installed and running and when we are trying to log in frontend in random time with correct credentials we could not logging in It show "Invalid user or password" message and after sometime can log in. we have enabled the cache and folders with correct permissions  Could you suggest me the solution

[2017-03-23 10:33] korostii commented on #8972
The magento/updater is a separate application (it needed to be such in order to be able to change the files of the main application). Here is [some limited info about it in the devdocs](http://devdocs.magento.com/guides/v2.1/comp-mgr/updater/update-updater.html) (Including the instructions on how to re-create it)

[2017-03-23 10:36] alexnos88 commented on #8984
Same for me at 2.1.3 and 2.1.4

[2017-03-23 10:38] thdoan opened #8986 "Select All checkmark behavior is inconsistent in Admin"
### Preconditions

1. Magento v2.1.2
2.

### Steps to reproduce

1. Go to Admin / System / Cache Management
2. Click on the checkmark circled in red below

![image](https://cloud.githubusercontent.com/assets/4110567/24243883/a283db90-0ff7-11e7-8a7f-a55fd1f1abbf.png)

### Expected result

1. All items should be selected, similar to the behavior on Admin / Products / Catalog. Instead, you have to pe

[2017-03-23 10:42] sanjayjethva opened #8987 "SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax;"
Hello Friends,
I am having problem with the indexing. I have migrated data from 1.9.3 to Magento 2.1.3 and facing the issue when i an reindex data via ssh.

I using localhost(XAMPP) and Mysql version 5.0 and Php version 5.6.23.

### Steps to reproduce
Reindex Magento via ssh

### Actual result
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the m

[2017-03-23 11:03] craigcarnell commented on #6671
@sanjayjethva Please fix this, we have this issue in production

[2017-03-23 11:14] withtwogees commented on #5801
+1
I've also checked the permissions on var/generation, var/di etc and all seem to be ok. Definitely looking for a fix

[2017-03-23 11:17] korostii commented on #8985
If you are looking for an advice please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. As GitHub issue tracker is intended for technical issues only.
The issues which cannot be consistently reproduced on a clean installation of the Magento CE (latest branch version, which is 2.0.13 in

[2017-03-23 11:23] craigcarnell commented on #8972
Thank you

[2017-03-23 11:23] #8972 closed, assigned to nobody

[2017-03-23 11:24] sunel commented on #8875
I have also referred this isse in devdocs
https://github.com/magento/devdocs/issues/1070

[2017-03-23 11:33] ivokund opened #8988 "Unsetting product attribute (setData/unsetData) does not work"
### Preconditions
1. Magento 2.1.5 CE
2. PHP 7.0.15

### Steps to reproduce
1. Log in to admin, go to product catalogue
2. Add a new product, sku: "TEST", "Special Price" (under Advanced Pricing): `12`
3. Save the product
4. Unset the special price in a console command by running:

[code]

### Expected result
1. I expect the "Special price" field under Advanced Pricing to be empty after reloading

[2017-03-23 11:34] Will-I4M commented on #8978
We have a lot of http/400 this morning, could you tell me where can I add lines in the code in order to log more things and understand the reason of this 400 ?
Thanks for your time and involvement.

[2017-03-23 12:04] joni-jones commented on #8978
At first, need to get transaction details from debug log.

To find original reason of fails, you can use xdebug and set breakpoints in the https://github.com/magento/magento2/blob/2.1/app/code/Magento/Checkout/Model/GuestPaymentInformationManagement.php#L83 and https://github.com/magento/magento2/blob/2.1/app/code/Magento/Checkout/Model/PaymentInformationManagement.php#L71 or can use a  logger to

[2017-03-23 12:07] korostii commented on #8980
Also reported in #8977

[2017-03-23 12:32] ioliinyk commented on #5831
Closed as duplicate to #5334
Int ticket is MAGETWO-62947

[2017-03-23 12:32] #5831 closed, assigned to nobody

[2017-03-23 12:49] PascalBrouwers commented on #6781
For anyone needing a temporary fix until this is released. Add this to your module and make sure to add catalog_inventory to the sequence in your module.xml file :

[code]

[2017-03-23 12:51] PascalBrouwers commented on #6781
@misha-kotov seems like an easy fix to do for 2.1. Just fix all extension_attributes.xmls

[2017-03-23 13:00] Will-I4M commented on #8978
Usually, when this issue happend, there is nothing in the debug.log and there is nothing in the transaction log in the braintree backend. I'll add a logger to get more informations.

I discovered this morning that the two http / 400 are another issue. This time, the is line in the debug.log. Payment where accepted, but there were no sales recorded in the sales history (magento), confirmation mail

[2017-03-23 13:04] royvanos commented on #7401
This still is an issue in Magento 2.1.5, please fix this as a few of our customers want to be able to accept backorders and still edit products

[2017-03-23 14:05] sdzhepa commented on #8962
@atsareva, @dolmeta  Thank you for reporting this issue. We have created an internal ticket `MAGETWO-66627` to fix the problem.

[2017-03-23 14:05] vrann commented on #6314
@basselalaraaj the drawback of such change is added coupling between order and credit memo and weak encapsulation of the credit memo field.

[2017-03-23 14:05] #6314 closed, assigned to nobody

[2017-03-23 14:17] vrann commented on #8193
@kanduvisla was not able to reproduce, closing. Feel free to reopen with more information.

[2017-03-23 14:17] #8193 closed, assigned to nobody

[2017-03-23 14:34] janmech commented on #8172
I encountered a similar problem in Magento 2.1.5:
* Coupon: x% discount on product price and shipping when product is in a certain category (in this case called "DISCOUNT")
* Shipping Method: Table Rate
Discount coupons were either rejected (when shipping amount was 0) or Discount was not applied on shipping costs (when shipping amount was > 0).

It appears to be a bug in Magento: The error occurs

[2017-03-23 15:29] ishakhsuvarov commented on #8675
Hi @danbuchal
Currently adding the extension attributes to the interface in question would be a backward incompatible change so we have to be careful with that.
Could you please provide us with an example of the scenario where you would need an extension attributes on that entity?
Thank you!

[2017-03-23 16:04] danbuchal commented on #8675
Hi @ishakhsuvarov

We have a need to add new attributes on the products custom options.  Currently I am able to accomplishing this by adding the needed columns to the catalog_product_option_type_value table.
I set these values with a customization to the product admin that has a link for each product option that pops up a modal with a form to set them.
(See: http://magento.stackexchange.com/questi

[2017-03-23 16:28] TommyKolkman opened #8992 "Special price is not taken into account when sorting by price on product lists"
I'm not absolutely sure it should work like this, but it seems like a weird thing to me. My clients are asking for this too. So, here it goes:

### Preconditions

Magento
[code]
DB
[code]
PHP
`PHP 7.0.14-2a`

### Steps to reproduce

1. Add products to a category
2. Add special price to some of the products
3. Sort by price on the frontend

### Expected result

1. Special price should be taken into

[2017-03-23 17:43] markbiek opened #8993 "magento migrate:data fails if a table name contains a `.`"
At some point during the `bin/magento migrate:data` process, the script does a `SHOW CREATE TABLE <table-name>` on each table.

The script attempts to quote the table name in a way that fails if the table name contains a `.`.

For example, a table named `myco_documents_16.01` will generate the following SQL

[code]
which fails with a **Base table or view does not exist** PDO exception.

[2017-03-23 17:53] tsauerwein commented on #5820
See #5509

https://github.com/magento/magento2/issues/5509#issuecomment-279491041

[2017-03-23 18:28] peterhirn commented on #5519
I had to patch two additional files. My cart included a outdated configurable product.

	diff --git a/app/code/Magento/ConfigurableProduct/Block/Cart/Item/Renderer/Configurable.php b/app/code/Magento/ConfigurableProduct/Block/Cart/Item/Renderer/Configurable.php
	index b401e1a..ab8d764 100644
	--- a/app/code/Magento/ConfigurableProduct/Block/Cart/Item/Renderer/Configurable.php
	+++ b/app/code/Magen

[2017-03-23 19:50] RonXS commented on #8969
The error is most liketly in the discount model.

Magento\Sales\Model\Quote\Discount.php
in that file on line 180
make sure it only divides if there is a price > 0
thats all there is to it i think.

[2017-03-23 19:58] RonXS commented on #8828
You cant do it like that, nor the other way around in Magento 2 by default. Magento has never taken up the task of implementing the functionality for showing configurables in bundled / grouped products

Maybe you are looking for a way to bundle configurable products, we have created an extension for that called Configurable Bundle.

For example, if you check our demo environment over here, maybe i

[2017-03-23 20:01] RonXS commented on #8701
One more thing is that you need to select "Show attribute in store front" to make it show up.
Many have stumbled into this in the past.

[2017-03-23 20:03] RonXS commented on #8492
I've run into this a lot too, i was able to "workaround" it, by disabling all the timeouts in the php.ini configuration.

When i eventually got the 504, you just wait and refresh the backend product catalog page and see all the products appear until its finally done.

Its a poor workaround, but it works. Better would be that saving images doesnt take so long.

[2017-03-23 20:41] Ctucker9233 commented on #8967
@sabarivenkatesankrish I have noticed this behavior as well. Why is it important that you need to do this with "store code in URL" set to no? I believe the official documentation gives guidance on how to do this, although, for the life of me, I can't get it to work. Having the store code in the URL is the only thing that has worked for me. @korostii perhaps this topic can be moved to the documenta

[2017-03-23 21:05] Ctucker9233 commented on #8653
@timbaker1991 I think he meant if it was migrated from Magento 1. Could you post a screen grab of what you are talking about? Any extra details would help narrow it down. Are you using any extensions?

[2017-03-23 21:09] Ctucker9233 commented on #8986
@thdoan You need to select "all" from that drop-down menu. Then it should work. Would be nice if the logic was the same as the catalog page, though.

[2017-03-23 23:01] Will-I4M commented on #8978
@joni-jones Just to be sure, this server is in production, I can't switch it into dev mode, to much traffic. The code is compiled, could you tell me where can I find those files :

https://github.com/magento/magento2/blob/2.1/app/code/Magento/Checkout/Model/GuestPaymentInformationManagement.php#L83 and https://github.com/magento/magento2/blob/2.1/app/code/Magento/Checkout/Model/PaymentInformationM

[2017-03-24 01:53] rb124559 opened #8995 "opc-wrapper width calculated incorrectly when overriding blank or luma theme"
### Preconditions

1. Magento Enterprise 2.1 and Community 2.0
2.  PHP 7.0, MySQL 10.1.16 MariaDB

### Steps to reproduce

1. Create a new theme.
2. User Luma or BLank as the parent theme
3. Apply the theme to the website
4.  Login and checkout
5.  The checkout page is not displayed correctly.
6.  The "opc-wrapper's" width is 133.3% causing the cart summary to appear at the bottom.

### Expected r

[2017-03-24 01:58] gustavogravina commented on #1471
So, I tried everything. The solution in my case, was the url_key of the products, not the categories. I exported all my products (about 10000) and I changed all the url_key of the products to numbers and letters, BUT, all LOWER case letters. Then I imported everything back again. I was able to save and modify categories again with no URL key error again. Hope this helps.

[2017-03-24 02:23] thdoan commented on #8986
Yeah, sorry if I wasn't being clear: I meant the behavior should be consistent across all pages where there is a list of items with checkboxes.

[2017-03-24 05:04] sabarivenkatesankrish commented on #8967
@Ctucker9233 Thanks for your feedback. I explain my exact need. The concept is need to the switch the  store view based on the customer's preferred locale. I am having custom customer attribute for the preferred locale. Based on that value I need to switch the customer's locale when they logged in. And should change to the default store view when they logged out. With the events and observers, I t

[2017-03-24 06:57] ghost opened #8996 "Modules are not reflecting from the the new module its just reflecting from the Luma theam."
I have created the new theme with folder structure as give in the document . I have setup the new theme in the admin panel also .

![untitled](https://cloud.githubusercontent.com/assets/19926754/24283602/d8488e20-108c-11e7-9f39-a8428d400ee2.png)

 The problem is new theme is coming in the front-end but once i copy the module like search from  vendor to the new theme but in the front-end still comi

[2017-03-24 07:42] gvigner commented on #6671
Does someone have a temporary fix for this bug ? I also hope Magento team can fix it promptly.

[2017-03-24 07:56] ishakhsuvarov commented on #4622
@brendanmckeown @markdavies @PascalBrouwers
PR #7262 is now merged into the `develop` branch. Issue should be fixed. Closing.

[2017-03-24 07:56] #4622 closed, assigned to rgoncharuk

[2017-03-24 07:59] ishakhsuvarov commented on #8515
Hi @pangteypiyush
Issue has now been fixed in the `develop` branch with the PR #8917
Thanks for reporting.

[2017-03-24 07:59] #8515 closed, assigned to vherasymenko, Winfle

[2017-03-24 08:05] ishakhsuvarov commented on #7860
@denchev The issue has now been fixed with the PR #8769
Thank you for reporting

[2017-03-24 08:05] #7860 closed, assigned to mcspronko

[2017-03-24 08:06] gvigner commented on #6671
I also hope Magento team can fix it ASAP.

[2017-03-24 08:06] ishakhsuvarov commented on #8596
@AirmanAJK Fix for this issue was delivered into the `develop` branch with the PR #8769
Thank you for reporting.

[2017-03-24 08:06] #8596 closed, assigned to mcspronko

[2017-03-24 08:15] joni-jones commented on #8978
This classes should be in `vendor/magento`, but if you change them and run `composer-update` again these files will be overwritten.

[2017-03-24 08:16] ishakhsuvarov commented on #5205
@bvboas Fix for this issue has now been delivered into the `develop` branch.
Thank you for reporting!

[2017-03-24 08:16] #5205 closed, assigned to nobody

[2017-03-24 08:47] gediminaskv commented on #8017
I have same issue with 2.1.5 cron job. When cron job has started, files were being deleted. As soon as I noticed this, I changed file permissions back to recommended for production mode and files stopped disappering.

http://magento.stackexchange.com/questions/165876/cronjob-started-rollback-and-files-were-deleted-why

[2017-03-24 09:01] 4AllDemolition commented on #6703
Any news how to solve this issue?

[2017-03-24 09:02] rakibabu commented on #8348
This issue is still there in version 2.1.5

[2017-03-24 10:11] edwinknol-mediact commented on #4110
I've added:
@media all and (min-width: @screen__xxs) {
     .media-width('min', @screen__xxs);
}

@media all and (min-width: @screen__xs) {
     .media-width('min', @screen__xs);
}

to:
lib/web/css/source/lib/_responsive.less (needs to be copied to yout own theme)

And now i'm able to use @screen__xxs and @screen__xs with the "min" statement.

[2017-03-24 10:23] riotrick commented on #7599
I'm facing what's seem to be the same issue. I'm trying to get products from one store (language), find the products translations in an external pim system, and save the transalated version to a different store.

In this process which is basically: get product collection, switch scope, add translated values to the product , save the product. All the configurable products lose their links to simple

[2017-03-24 10:32] Rekha5483 opened #9000 "error"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-03-24 10:33] thomasdom commented on #6776
I confirm that this issue is still happening in Magento CE 2.1.5

[2017-03-24 10:46] koenner01 opened #9002 "Anchor categories are showing products of disabled subcategories"
Categories that are set to anchor 'Yes' and have disabled subcategories will show the products from those disabled subcategories on the frontend

### Preconditions
1. PHP7.0
2. MG2 2.1.x (tested on 2.1.2, 2.1.4 and 2.1.5)

### Steps to reproduce
1. Create a simple product 'Test' that is in stock and visible on catalog
2. Create a category A (don't add products to it)
3. Create a subcategory B (par

[2017-03-24 11:23] RUjmiak commented on #3430
@misha-kotov Is it already planned when this bug will be fixed? Should we wait or we should find another way how to get real attribute label for store view?

Thanks

[2017-03-24 11:26] akosglue commented on #3430
Hi, this is only a dirty workaround but you can get some ideas, just in case you really need to implement something:
`        $connection= $this->resourceConnetion->getConnection();
        $select = $connection->select()
            ->from(
                ['t1' => $this->resourceConnetion->getTableName('eav_attribute_option_value')]
            )->join(
                ['t2' => $this->resourceCo

[2017-03-24 12:02] ksz2013 commented on #7357
Hi,

Also another issue on ios, if we set the "allowfullscreen" option to false in the mage/gallery/gallery.
[ to disable the fullscreen ] -> this works properly on desktop and android devices, but on the ios we get only a blank page.

Can you recheck this issue as well?

Regards,
Szabi

[2017-03-24 12:50] hezide commented on #6424
I am having the same problem in 2.1.4...

[2017-03-24 12:53] joni-jones commented on #8254
Hi, @dennisage, I've test described issue on Magento 2.1.5 version and all works as expected. Could you enable debug mode for PayPal PayflowPro and post transaction details from debug log?

[2017-03-24 12:58] tusharbagal commented on #6688
Check below link for same issue:
http://magento.stackexchange.com/questions/150418/static-content-is-not-loading-after-upgrade-to-2-1-3

[2017-03-24 13:38] pangteypiyush commented on #8515
Thanks everyone!

[2017-03-24 13:41] ivokund commented on #8987
Having the same issue with Magento 2.1.5.

Solved this with a temporary hack for now, but looking forward to seeing a solution.

[code]

[2017-03-24 13:55] riotrick commented on #7599
As a work-a-round it's possible to load a new product object through the repository instead of saving the object that comes from the collection directly.  That way you seem to get a complete product object that won't break on saving.

`
$productCollection = $this->productCollectionFactory->create();
	foreach ($productCollection as $product) {
		$output->writeln ('Updating product ' . $product->get

[2017-03-24 14:02] avstudnitz commented on #4492
I can confirm what @mam08ixo is writing. I have Magento_AdminNotification disabled on a Magento 2.1.5 shop and observer the exact same behavior.

[2017-03-24 14:21] joni-jones commented on #8775
Hi @mrIntegrator, this is known issue (internal ticket MAGETWO-57682) and already fixed on develop branch. This fix should be delivered in Magento 2.1.8 release.

Closing as the duplicate to https://github.com/magento/magento2/issues/6224.

[2017-03-24 14:21] #8775 closed, assigned to alena-marchenko

[2017-03-24 14:21] ryan-copeland commented on #3149
zuzuman is right in that the gallery container must have a parent with the class of "column main" but you can change this.

In v2.1.5 on line 248 of the vendor/magento/module-swatches/view/frontend/web/js/swatch-renderer.js file it reads:

`                gallery = $('[data-gallery-role=gallery-placeholder]', '.column.main'),
`

You can replace '.column.main' with your own selector  so long as th

[2017-03-24 14:40] joni-jones commented on #7983
@EmilyPepperman @sbrendtro Magento provides only high-level errors by design it allows to make an application more secure.

But anyway, you can implement your own WEB API entry points for https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/Api/PaymentInformationManagementInterface.php#L23 and https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/Api/Gues

[2017-03-24 14:45] joni-jones commented on #7983
We are closing this issue because it hasn’t been updated in more than two weeks.

If you still can reproduce the issue, please, be free to reopen it.

[2017-03-24 14:45] #7983 closed, assigned to alena-marchenko

[2017-03-24 14:54] sbrendtro commented on #7983
@joni-jones, that may be, but this high-level error is very confusing to customers.  At the very least it should be reworded to be something more like "There was an issue with your payment method was declined. Please check your payment details."  The core of the issue is that the customer gets a message about there being a problem on the server, when in fact it is their own card details.

[2017-03-24 15:00] sbrendtro commented on #7983
Also, I don't understand why it is being closed when we were waiting on someone from the dev team to update it.  This is still an issue.

[2017-03-24 15:07] sbrendtro opened #9003 "Braintree Error Messages"
Opening this issue, referencing #7983, as it still needs to be properly addressed.

Whenever there is a decline of any sort from Braintree, the message is not passed back to the user.  Rather, the end user simply sees "An error occurred on the server. Please try to place the order again."  This makes no sense, as it wasn't a server error... it was a processor decline of some sort.

We have seen th

[2017-03-24 15:13] piotrekkaminski commented on #1691
FYI the pull request referenced above was merged so this change will be available in 2.2.

[2017-03-24 15:15] abolivar opened #9004 "Index always processing, tables design_config_dummy_cl and customer_dummy_cl does not exist"
### Preconditions

1. Magento 2.1.5
2. PHP 7.0.16/Mysql 5.7.16

### Steps to reproduce

1. bin/magento indexer:status
Design Config Grid:                                Processing
Customer Grid:                                     Processing
Product Flat Data:                                 Ready
Category Flat Data:                                Ready
Category Products:

[2017-03-24 15:16] jupiter01 commented on #7418
Same issue in 2.1.4. Any workarounds that don't involve needing to manually edit the database?

[2017-03-24 15:27] andidhouse commented on #1691
@piotrekkaminski any information when 2.2 is planned to release?
Without an info here a planning is not possible...
Thanks!

[2017-03-24 15:47] joni-jones commented on #7983
@sbrendtro, this ticket is closed because the reporter didn't provide additional details during 2 weeks. This issue doesn't relate to generic error messages for failed place order flow.

[2017-03-24 15:49] heyqule commented on #6122
This issue is still happening on 2.1.5

I found that Magento\SalesRuleStaging\Model\Plugin\DateResolverPlugin::beforeGetToDate() is setting forcing toDate on the cart rule when the rule save.  The coupon picks it up as expiration date.  Hence the coupon breaks each day.

I wrote a plugin to reset the coupon expiration date to null.

What Date Resolver suppose to do?

[2017-03-24 15:56] cizgidekiadam opened #9005 "Fotorama removes alt and title tags from images"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Just navigate a product page which is using fotorama (default gallery).
2. Working fine

### Expected result

1. Alt and title like attributes set correctly

### Actual result

1. Removed alt tag.

I think it is time to change Fotorama behind us. Because it is very important seo mistake.

[2017-03-24 15:59] maghamed commented on #6114
Don't consider this as a coupling to a parent class. Actually there is no possibility for coupling, because Magento 2 encourages core developers as well as 3rd party developers to use **private** access modifiers for class properties (as Inheritance Based API is discouraged).
So, having something initialized and assigned in parent class into **private** property you lose the possibility to access

[2017-03-24 16:09] klaser opened #9006 "Integrity Constraint Violation From Invalid SKU"
Using a new, unconfigured installation of Magento 2.1.5, duplicating a product that contains a SKU that begins with a space results in an Integrity Constraint Violation.

### Preconditions

1. Magento CE 2.1.5 (Fresh install, no additional configuration)
2. PHP Version 7.0.15
3. mysqlnd 5.0.12-dev - 20150407 (MariaDB 10.1.21)
4. XAMPP 7.0.15-0
5. macOS Sierra 10.12.3 (16D32)

### Steps to reproduc

[2017-03-24 16:18] grafikchaos commented on #6114
@maghamed thanks for the explanation and example. I think the bigger issue is what @fooman brought up in #7659 as to why no exception is thrown in `developer` mode and we only find out there is an issue when the deploy mode is `production` and `bin/magento setup:di:compile` is ran?

We are using a community module that has this context problem and is easily solved by the refactoring you provided,

[2017-03-24 16:32] Ctucker9233 commented on #8967
@sabarivenkatesankrish My guess would be that your custom customer attribute is not being read correctly. I found this article that may be useful for you. https://community.magento.com/t5/Admin-Configuration-Questions/How-to-automatically-redirect-to-a-store-view-based-on-the/td-p/10634

[2017-03-24 16:36] Ctucker9233 commented on #8996
@gandhiselvarj Try clearing all static caches including your browser.

[2017-03-24 16:51] PascalBrouwers opened #9007 "Get MAGETWO-52856 into Magento 2.1.x"
### Preconditions
1. Magento 2.1.x

### Steps to reproduce
1. log in as a customer
2. create 581 addresses
3. go to checkout

### Expected result
1. a seamless experience of the checkout (as it did in magento 1 with the same amount of addresses)

### Actual result
1. checkout is handing very long (over a couple of minutes) and in increases with the amount of addresses.

So please get MAGETWO-52856

[2017-03-24 17:00] KrystynaKabannyk commented on #8470
hi @mitcht, thank you for reporting the issue, but we couldn't reproduce it. Could you please provide more details?

[2017-03-24 17:01] KrystynaKabannyk commented on #6403
@heldchen, thank you for reporting the issue, but we couldn't reproduce it. Could you please provide more details?

[2017-03-24 17:05] heldchen commented on #6403
sorry, I really don't know what more details I could provide that are not already mentioned in the issue:

0. configure magento2 to use www/pub as webroot
1. copy www/pub/errors/default to www/pub/errors/test
2. edit www/pub/errors/design.xml and replace default with test
3. edit text in www/pub/errors/test/503.phtml to read "hello world"
4. enable maintenance mode
5. browse website

[2017-03-24 17:34] Ctucker9233 commented on #3860
@veloraven @magento-team What version of Magento will this fix be included in?

[2017-03-24 18:50] Ctucker9233 commented on #8532
I have exact same errors on any page. Magento version 2.1.4 and earlier.

[2017-03-24 18:58] mpchadwick opened #9008 "Error Message Is Confusing When Code Base Is Behind Database Module Version"
Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated: Foo_Bar schema: current version - 1.0.4, required version - 1.0.0

### Preconditions

This can happen when...

- You download a database dump from a staging environment that has had code deployed to it which upgrades schema version (e.g. "develop" brand(
- In your loca

[2017-03-24 19:03] Ctucker9233 commented on #8532
@snez Workaround found here http://magento.stackexchange.com/questions/125034/js-errors-magento-2
seems to work.

[2017-03-24 19:14] Ctucker9233 commented on #3507
@magento-team Please take a look at this. It creates bloated system logs and creates so much noise it's impossible to tell what are real errors and which ones are not.

[2017-03-24 19:17] Ctucker9233 commented on #9008
@mpchadwick Agreed. +1

[2017-03-24 19:27] Ctucker9233 commented on #4817
@SerhiyShkolyarenko Any idea what version of Magento this fix will be released in?

[2017-03-24 19:28] scottsb commented on #8993
@markbiek Magento will probably be closing this eventually, as this belongs as an issue in this repo:
https://github.com/magento/data-migration-tool

Just a heads up in case you want to submit there before they get to process this one.

[2017-03-24 19:30] Ctucker9233 commented on #8085
@okorshenko What version of Magento is this fix going to be released in?

[2017-03-24 19:33] markbiek commented on #8993
Thanks for the tip.

I've added an issue there instead: https://github.com/magento/data-migration-tool/issues/265

[2017-03-24 19:33] #8993 closed, assigned to nobody

[2017-03-24 19:36] Marcosdba commented on #5820
I have this problem in Magento version 2.1.5. Problem persists !!!!

[2017-03-24 21:06] TheKingYeison opened #9009 "i can't click any option in the dashboard"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-03-24 21:09] TheKingYeison commented on #9009
What i can do? I click but nothing happens

[2017-03-24 21:11] spyrule commented on #4945
@bcdhamecha , This removes it on the product view page, what about on the category product list/grid view ?

[2017-03-24 22:28] spyrule commented on #4945
The only way I could find to remove the "As Low As" text was in the following file:
\vendor\magento\module-catalog\Pricing\Render\FinalPriceBox.php
and comment out (line 111 - 122):

[code]

[2017-03-24 22:31] GBeushausen commented on #1726
Yeah sure, enable full page cache in development mode, use docker, buy a faster computer... In reality, we have to come to the conclusion, that Magento 2 is a piece of crap that's really really ill designed and should be abandoned as soon as possible. 1 minute page load time is insane.

[2017-03-24 22:33] leitot commented on #4621
sumanta-cn you saved me. I did the exact same thing (deleted from that table while clearing out the db). Thanks for providing the insert script also.

[2017-03-25 02:00] southerncomputer commented on #8979
Wait till you put a default value into an attribute and have it clobber your first write!

[2017-03-25 06:06] hitman3043 commented on #5898
iam also facing same issue.kindly help

[2017-03-25 06:11] yogeshraghav-dev opened #9010 "Newsletter Email is not sent out to subscribers"
**Preconditions**
1. Magento2.1.3

 **Steps to reproduce**
1. Set up the newsletter in queue on specific date from Newsletter template.

**Expected result**
1. Newsletter is suppose to sent out.

**Actual result**
1. Newsletter is not send out.

![mail](https://cloud.githubusercontent.com/assets/10353287/24319915/fd3c018a-114f-11e7-9d46-8d99fbca85f8.png)

[2017-03-25 06:25] #3791 closed, assigned to nobody

[2017-03-25 08:01] valentinmanthei commented on #7031
Same here. Magento 2.1.5. After clicking "Add new integration" a blank page appears. Only the "back" and "save" buttons are visible.

[2017-03-25 09:15] hitman3043 commented on #9010
any reply?

[2017-03-25 13:10] Vinai commented on #6114
@maghamed Coupling to the parent class is not limited to usage of parent class properties, but any knowledge about parent implementation details is coupling.
The context contains the dependencies of the parent class, so any use of the contents of the context object is coupling to implementation details of the parent class.
To demonstrate this, imagine a dependency is added to a parent class via th

[2017-03-25 13:19] Vinai commented on #6114
@maghamed I'm very sorry to see you closed the pull request #8955
I would like to urge you to reconsider and hopefully reopen the PR.
Even with your comment above I fail to understand how the context aggregation validation is helpful in any way.

[2017-03-25 13:56] Vinai commented on #6114
I really feel stupid not getting the point.
I'll try to summarize my current understanding of the problem. Please help me understand if I'm wrong.

Arguments for the context aggrigation check I've heard so far are:
1) Reduce the number of constructor dependencies.
2) Avoid multiple instantiations of the same class if it is required by two classes.

I think both those arguments are nought, since 1)

[2017-03-25 14:47] ClaudiuCreanga opened #9011 "Source maps are not being generated"
No source maps are being generated by grunt.

### Preconditions
1. vanilla magento2 installation 2.1.5, php7
2. developer mode

### Steps to reproduce
1. dev/tools/grunt/configs/less.js has sourceMap: true
2. run grunt exec and grunt watch
3. change a less file
4. grunt compiles the less files

### Expected result
1. Source maps should be created in the css folder in pub/static/... after grunt com

[2017-03-25 16:19] jissereitsma commented on #6114
Thanks @maghamed for referring to my talk and thanks @Vinai for giving me a ping on this matter. To summarize my standing point: I don't think the concept of `$context` is great. I completely agree with @Vinai saying that using `$context` is hiding dependencies, making developers that extend from specific Magento parent classes think that they have fewer dependencies than they actually have. I als

[2017-03-25 17:51] chamath commented on #6688
Thanks @ihor-sviziev

[2017-03-25 18:07] hitman3043 commented on #9010
any suggestions please?

[2017-03-25 20:46] Ctucker9233 commented on #9009
@TheKingYeison Try clearing all your caches including your browser. If this doesn't work, please provide more information.

[2017-03-25 21:04] Ctucker9233 commented on #1726
With people calling Magento 2 a piece of crap, it's no wonder the Magento team isn't motivated to fix it quickly. We impatiently gripe about how they don't release versions fast enough and then we yell at them for it having bugs. This is the nature of development today. The fact is it is nearly impossible to create or patch such a complicated piece of software quickly without any bugs. If develope

[2017-03-25 21:20] GBeushausen commented on #1726
What kind of logic is this? I've hurt their feelings, so they won't fix their bugs anymore? I never knew Magento was made by Kindergarten kids.

The slowliness of Magento 2 is not a bug that can be fixed. It's a design issue, becaue they've used Zend Framework 2 and because it's over engineered (both ZF2 and Magento 2).

Zend Framework 1 (which Magento 1 was based on) was able to do like 50 Reques

[2017-03-25 21:20] Ctucker9233 commented on #8422
@ivan-veres How is this coming along?

[2017-03-25 21:21] Ctucker9233 commented on #9010
@hitman3043 I'm in the same boat. Issue #8422

[2017-03-25 21:38] JoostWan opened #9014 "Order email get the wrong (default) language"
### Preconditions

1. PHP 7.0
2. Magento 2.1.5

### Steps to reproduce
1. Clean Magento 2.1.5 shop with Adyen Payment module
2. Create a extra store with another language (Like Dutch)
3. Place a order on the dutch shop
4. Adyen uses a cron to send a payment conformation to Magento and runs the next code for sending the conformation e-mail: $this->_orderSender->send($this->_order) https://github.co

[2017-03-25 21:58] Ctucker9233 commented on #1726
@GBeushausen ZF1 is at end of life and it has been since September (announced in June) of last year. It doesn't make sense, in the long run, to stick with a framework that will get more and more obsolete. Perhaps this is what Magento decided as well. Who knows? Since ZF2 is slow, perhaps we should push for Magento to adopt ZF3 which seems to have an increased level of performance.

Also, I wasn't

[2017-03-25 22:07] Ctucker9233 commented on #5923
@veloraven What version of Magento will contain MAGETWO-58383? Are there commit references for this internal ticket?

[2017-03-25 22:12] Ctucker9233 commented on #4263
@okobchenko What version of Magento is this fix scheduled for?

[2017-03-25 22:14] GBeushausen commented on #1726
Of course everyone is upset. This is not a music player you use at home, where you can switch temporarily to another one if the one you used to like has too much bugs and wait till they're fixed.

If you're in the eCommerce business and you have spent uncountable time in training and gaining expertise in Magento and you convinced hundrets of customers, that Magento is THE perfect solution and thos

[2017-03-25 22:15] quickshiftin commented on #6803
I am unable to get this working either, having tried a variety of approaches. Here's what I have tried:

* Using `$productRepo->save($product)`
* Using `$productRepo->save($product)` with @eduard-kistner module
* Using `$product->save()` followed by `$productRepo->save($product)`
* Using `$product->save()` followed by `$productRepo->save($product)` with @eduard-kistner module

Nothing has worked.

[2017-03-25 22:28] Ctucker9233 commented on #7408
@all Does anybody else have this issue? Can anyone tell me what I'm doing wrong? @magento-team I would really appreciate a response and update on this issue.

[2017-03-25 22:32] Ctucker9233 commented on #7408
@magento-team Feel free to visit the page and try it out yourself. https://tuckersfurnitureelcajon.com/cash_and_carry/contact/

[2017-03-25 22:39] Ctucker9233 commented on #6817
@justinahsnyder I just checked it and the fix is in 2.1.4. Look under the vendor folder instead of the app folder.

[2017-03-25 22:52] Ctucker9233 commented on #8073
@fooman @veloraven What version of Magento will have this fix?

[2017-03-25 22:59] Ctucker9233 commented on #1726
@GBeushausen I get it.

[2017-03-25 23:06] fooman opened #9015 "Changed behaviour of before plugins?"
### Preconditions
Magento 2.1.x

### Steps to reproduce

1. Create before plugin on Magento 2.1
2. Take a look at this commit  https://github.com/magento/magento2/commit/4a233d4ec18cb10931bff5078d8ade1a2a66c58e#diff-7fea50965bcc6aeb72cc4f333e0f9912R123
3. Notice that
[code]

changed to
[code]

### Expected result

1. Behaviour remains the same

### Actual result

1. Result is cast to array

[2017-03-26 01:41] ghost opened #9016 "IO SFTP - wrong constants in write method"
### Preconditions
Magento 2.1.5

### Steps to reproduce
File upload via SFTP to remote Server

### Expected result
File upload works

### Actual result
Exception thrown:
Notice: Use of undefined constant NET_SFTP_LOCAL_FILE - assumed 'NET_SFTP_LOCAL_FILE' in
.../magento/vendor/magento/framework/Filesystem/Io/Sftp.php on line 187

Wrong code: $mode = is_readable($source) ? NET_SFTP_LOCAL_FILE : NET

[2017-03-26 04:49] gustavogravina commented on #6671
So, I tried everything. The solution in my case, was the url_key of the products, not the categories. I exported all my products (about 10000) and I changed all the url_key of the products to numbers and letters, BUT, all LOWER case letters. Then I imported everything back again. I was able to save and modify categories again with no URL key error again. Hope this helps. Magento Ver. 2.1.2

[2017-03-26 08:37] hitman3043 commented on #9010
kindly reply please

[2017-03-26 09:57] calvintwr commented on #7994
I get the same error as GlobalOutsourcing.

I am not using Redis.

It was working when I was on 2.1.3 to 2.1.4. Never had any issue until some time recently it started to break when I was installing a plugin.

I have also tried updating it to 2.1.5 but the issue remains.

[2017-03-26 10:37] calvintwr commented on #7994
it seems that the 2.1.5 package or repo or whatever you call it, has missing css files.

I was able to partially solve the problem by replacing some of the css files, as many as i could practically find, back into the vendor folder.

@naydav That that help to shed some light on the situation?

[2017-03-26 13:21] mage2guru commented on #2667
It beacause duplicated jQuery load. The plugin loaded into different jQuery instance. You need to remove the duplicate jquery load and wrap the function into a requirejs. I got the same problem when try to install Porto theme to Magento2. See more detail at http://magento2developer.com/blog/javascript-error-with-magento-porto-theme.html to fix the bug.

[2017-03-26 13:24] will-b opened #9017 "Duplicate call to $this->getLinkField();"
There is a duplicate call to the getLinkField method inside Magento/Catalog/Model/ResourceModel/Category.php
in the getChildren method

[code]

### Preconditions

1. Magento version 2.1.3
2. Or Magento develop branch

### Steps to reproduce

1. Inspect code of Magento/Catalog/Model/ResourceModel/Category.php

### Expected result

1. Expect $this->getLinkField() not to be called more than required

[2017-03-26 13:24] mage2guru commented on #4119
It beacause duplicated jQuery load in porto. I got the same problem when try to install Porto theme to Magento2. See more detail at http://magento2developer.com/blog/javascript-error-with-magento-porto-theme.html to fix the bug. It's will help you to solve this problem with other conflict Javascript bug in Magento 2 in the future. A lot of developer not write javascript in Magento 2 standard

[2017-03-26 14:31] cherreman commented on #8554
@andreymoskvenkov Can you provide a patch so we can verify your solution?

[2017-03-26 16:19] SewHappy58 opened #9018 "Unable to complete payment with Authorize or PayPal"
I'm having an issue with a Magento 2.1.1 website.  We went live with the new site on Mar 24.  Once propagation completed, we were able to test the site and everything worked fine.  However, today we are getting error messages.  If we try to pay by credit card, we get a popup that says "attention: an error occurred on the server. Please try again."  If we try to place a paypal order, the button tha

[2017-03-26 16:39] SewHappy58 commented on #9018
Update: I tried to see what the response is for transact.dll and the response came back as <code><HTML><BODY><H3>The following errors have occurred.</H3>(13) The merchant login ID or password is invalid or the account is inactive.<BR></BODY></HTML></code>

We have tried this over and over again to update it.  Again, it works in admin but not in front end

[2017-03-26 17:57] SewHappy58 commented on #9018
This can be closed.  Found out through my hosting company that some of the permissions weren't correct on the server.  They were able to fix it.

[2017-03-26 17:57] #9018 closed, assigned to nobody

[2017-03-26 23:30] Ragspur commented on #6424
This is still an issue for me as well. I cannot have a product with more than 19 configurations!  Can someone please put in some sort of update on this issue or when it will be released?

[2017-03-27 01:20] luismaldonadov opened #9020 "Catalog search randomized results"
Catalog results from a search within magento 2.1.1 appear to be randomized when expected to be the same ,even with page refresh or page navigation. There's other isue related to this one [(4132)](https://github.com/magento/magento2/issues/4132)  that appear to be an extension problem, but in this case i contacted the template creator and they told me this:

So, appears not to be an extension relat

[2017-03-27 02:36] mpk2 commented on #3552
Is there any progress on this? Can you share your solution @develpr , please?

[2017-03-27 03:17] medinadato commented on #7915
The problem here is a bug in the file vendor/magento/module-customer/Model/ResourceModel/CustomerRepository.php  line 227. See below:

['customer_data_object' => $savedCustomer, 'orig_customer_data_object' => $customer]

It should be:

['customer_data_object' => $savedCustomer, 'orig_customer_data_object' => $prevCustomerData]

Until Magento Team fixes it, you can overwrite the method to fix the i

[2017-03-27 05:55] #8043 closed, assigned to nobody

[2017-03-27 07:00] sheldmandu commented on #5612
We are also experiencing this issue. In addition to shopping cart options it also affects Reorder functionality.  This is also a problem not just for custom options on simple products but also for bundle options, which should probably be raised as a separate issue.

[2017-03-27 07:00] sheldmandu commented on #5931
We are also experiencing this issue. In addition to shopping cart options it also affects Reorder functionality.  This is also a problem not just for custom options on simple products but also for bundle options, which should probably be raised as a separate issue.

[2017-03-27 07:00] gworksmobi commented on #4575
magento version  2.0.8,

nginx version: nginx/1.10.0 (Ubuntu),

**Doc-root** magento-root (/var/www/html/)

**Permission**
chown -R www-data:www-data /var/www/html
chmod -R 777 /var/www/html

System -> Web Setup Wizard -> Component Manager -> signin(public key/private key) -> sync -> non stop spin wheel (please wait).

error in nginx log

2017/03/27 06:31:51 [error] 2458#2458: *1 FastCGI sent in s

[2017-03-27 07:38] VisheshDev opened #9021 "Error while sending QUERY packet. Magento 2 (2.1.5)"
### I'm trying to install the Magento 2 (2.1.5) on web server with CLI. but its is giving error

### I searched for the solution and all the solution is that increase the

### First max_allowed_packet was 33MB but now i increased it to 512MB. But it's still giving me same error with different PID.
CLI commands used to install Magento is

[code]

[2017-03-27 07:47] drpit commented on #8929
I have the same problem, but your solution does not seem to work for me

[2017-03-27 07:52] susmithaN commented on #7967
Hi , Any other suggestion to solve this problem .

[2017-03-27 08:09] brekz commented on #7251
I got another interesting error related this issue:

We have 5 different stores.
Creating product. After created product we're correcting product name for each store. After that, I'm coming back to "Store View: All Store Views" & want to change price for entire product.

Changing, seems OK, but now I'm going to each store to check if price is changed - NO.
Interesting situation that price changing

[2017-03-27 08:19] franckgarnier21 commented on #6938
Duplicate stackexchange issue : http://magento.stackexchange.com/questions/152651/m2-1-3-importing-a-configurable-product-doesnt-work-but-adding-via-admin-are/152725#152725

[2017-03-27 08:24] mrkhoa99 commented on #6683
AFAIK, the `updated_at` will update if the data of `catalog_product_entity` has changed. For example, the  change the sku, product options. We can use Plugin or Observer to update this table.

[2017-03-27 08:25] reindert-vetter opened #9022 "If a new custom sales emails type is created, Magento only uses the standard template"
When develop new custom type for sales emails I can set ="myemail.html" in email_templates.xml. Then comes under Configuration> Sales Emails page additional options. Here, the administrator can choose other templates than the standard templates (Use system value). However, if a mail is sent, the default template is always used. Even if there has been chosen for a different template.

### Precondit

[2017-03-27 09:16] umang-ranium commented on #8828
If that's the case magento should not allow bundle product to be added to configurable product.

[2017-03-27 09:24] sergei-sss commented on #7734
I don't understand, It is bug or feature? )

[2017-03-27 09:49] orlangur commented on #7418
Hooray! This poor feature is [deprecated since 2.2.0](https://github.com/magento/magento2/blob/213392f69a19baefbd3d58853a64bc75aa0e3171/app/code/Magento/Config/Block/System/Config/Form/Fieldset/Modules/DisableOutput.php#L13).

I do agree that this is a real pain with some Magento 1 legacy code but in process of time developers  shall create their extensions with modularity in mind so that disablin

[2017-03-27 09:53] eduard-kistner commented on #6803
@quickshiftin
Updated to 2.1.5 and with PHP 7.0.15 / nginx but could not find an problem with setting the media attribute like
`$product->addImageToMediaGallery('/path/to/image.jpg', ['image', 'small_image', 'thumbnail', 'swatch_image'], true, false);`

But maybe we should not spam this ticket ;)

[2017-03-27 10:02] josealgardataborges opened #9024 "Closed"

[2017-03-27 10:09] josealgardataborges commented on #9010
Just to check, you have the magento cronjobs running right?

[2017-03-27 10:19] igrybkov commented on #7734
In the comment you mentioned, @kandy talking about an ability to use plugins with virtual types and that's another issue. I'm not sure is it fixed or not, but that's not the same issue as this one.
In this issue, we're discussing the case when the developer wants to override the class from which virtual types are built.
Actually, I've got an update regarding this case. We've decided that this is n

[2017-03-27 10:19] #7734 closed, assigned to nobody

[2017-03-27 10:19] #9024 closed, assigned to nobody

[2017-03-27 10:26] franckgarnier21 commented on #4454
I find a workaround for this bug : http://magento.stackexchange.com/questions/126646/magento2-how-to-add-different-custom-css-file-on-specific-cms-pages/166322#166322

The root cause is here : vendor/magento/framework/View/Layout/etc/page_layout.xsd

I do not test the side effect. But it works for me.

[2017-03-27 10:40] NLightenedNL commented on #3507
The same here: Magento 2.1.5

![error-log](https://cloud.githubusercontent.com/assets/26542784/24352568/6dfb5d76-12ea-11e7-94cb-f5ad3b3ece75.JPG)

[2017-03-27 10:50] vovayatsyuk commented on #7198
@Turv I've used the following patch:

[code]

[2017-03-27 11:15] andreymoskvenkov commented on #8554
Sorry, but I can provide only a tip, which I have already done.

[2017-03-27 11:44] pluckrose commented on #9009
I've also experienced this bug, latest CE 2.1.5. The initial admin user works fine but if I create anymore, no matter what role I give them, the side links in admin don't work. Icons are also missing https://i.imgur.com/hXR0WAN.png

If I login as admin it's fine.

Console: https://i.imgur.com/gdvz0gv.png

[2017-03-27 12:24] mustdobetter commented on #5849
Can this ticket please be reopened, as it's obviously still an issue?

[2017-03-27 12:34] KrystynaKabannyk commented on #8061
@rbostan, @mrkhoa99, @amanuni, @stevewinni, @jpratt, @hapablap, @pixiesky, Can someone have a call with Magento specialists to demonstrate the error appearance on your instances?

[2017-03-27 12:36] #8894 closed, assigned to nobody

[2017-03-27 12:40] baltechies opened #9026 "magent setup:di:compile throwing the error ar 4th step"
Hi,
When I am running "php -dmemory_limit=6G bin/magento setup:di:compile" on existing magento project then its throwing the error.

![screen shot 2017-03-27 at 6 02 17 pm](https://cloud.githubusercontent.com/assets/13519944/24356673/903d20b2-1318-11e7-9bd6-1bc441c91711.png)

Current magento version is 2.0.7.

[2017-03-27 14:03] tubalmartin commented on #2461
BTW, since the version of cssmin is fixed in composer.json file, I suggest you update it to the latest version of Cssmin released today which is v2.4.8-p8. It's the most stable and reliable so far ;) Enjoy!

[2017-03-27 15:06] cherreman commented on #8554
@andreymoskvenkov  C'mon man, this is opensource. Take a little, give a little ;)

All kidding aside, I appreciate your tip, but I'm sure your patch would be appreciated even more and it could be validated. If you can't share it for whatever reason, I understand.

[2017-03-27 15:09] erikhansen commented on #8554
@cherreman Did you happen to try the patch I included in my comment [on February 28th](https://github.com/magento/magento2/issues/8554#issuecomment-283077157)?

[2017-03-27 15:20] andreymoskvenkov commented on #8554
Yeah, there are many reasons of not sharing the code, one of them is - NDA of the company, where I am working for. We have fixed a lot of core bugs of M2 internally and this is one of the most difficult to find. And why have I posted a tip here is - because this bug have also given me a tip about layout type such as "1column", "empty", etc. I was debugging it almost whole day and was starting to b

[2017-03-27 15:29] tlygnersjo commented on #6718
Any solution yet?

[2017-03-27 15:41] EmilObermayr commented on #8613
We are having the same issue. It is a test-installation in a LAN behind a NAT-Router, just in case this is relevant.

[2017-03-27 15:51] tomdollarmpd commented on #7801
just to share, I had a similar issue where the prices in the catalogue, cart and orders were fine, but the sidebar on the checkout refused to add tax to the order summary - turned out to be an issue with layout file Magento_Checkout/layout/checkout_index_index.xml from the Luma theme.  The components loading in the sidebar were that of Magento_Checkout/js/view/summary/grand-total instead of Magent

[2017-03-27 15:58] K7Triton commented on #5008
hello @michaelsalafia, thank you for reporting the issue, but I couldn't reproduce it. Could you please provide more details?

I try next variations on LEMP stack:
 - latest Magento version from develop
- 2.1.3 version
- 2.1.2 version
- with Single-Store-Mode (enabled and disabled)

[2017-03-27 16:14] pmathbliss commented on #5836
I more information that might help someone else here and lead to a solution. (I've experienced the same indexing issue on php 5.6.x,7.0.x, MySQL and MariaDB. It appears that using shell_exec to call the php bin/magento indexer:reindex fails to reindex properly.

I switched to the exec function and echoed the line to standard in of sh.

I tested on 5 different Magento 2 installs with varying php ve

[2017-03-27 16:27] NadiyaS commented on #4955
Hi,
since 2.2.0 we remove the possibility to enable/disable cache from Admin Interface.
Also running CLI commands does not require write permissions for app/etc/env.php, except commands which directly write to this file.

[2017-03-27 16:34] spyrule commented on #5260
Can anybody confirm if this still happens in 2.1.4/5 ?

[2017-03-27 16:48] EliasKotlyar commented on #6261
Hello everyone,

I have made a Module, which provides a temporary fix for this Problem:
https://github.com/EliasKotlyar/RegionFix

Greetings
Elias

[2017-03-27 17:15] TheKingYeison commented on #9009
@Ctucker9233  and @pluckrose  thank you very much , with your help i started to search and i found this video where show how i can fix this issue, from the minute 6:37.
https://www.youtube.com/watch?v=v-sghNY1_P4

[2017-03-27 17:32] jameshalsall opened #9028 "You cannot set a 303 redirect response using a result factory"
### Preconditions
1. Tested in Magento EE 2.1.4
2. Chrome on Mac OS

### Steps to reproduce
1. Perform a 303 redirect from any controller (see code below)
2. Send a request to that controller endpoint
3. Examine the response code

### Expected result
1. A 303 response code should be returned

### Actual result
1. A 302 response code is used instead

Example code (use in any controller extending th

[2017-03-27 17:42] maghamed commented on #9020
This happens because MySQL randomly returns documents which weights are the same.

For example,
providing generally used search term (like ["bag" on a Bag Store](http://magento2.demo.ubertheme.com/catalogsearch/result/?q=bag) )
Will always produce different order of results. Because most of products will contain this word, and MySQL assigns equivalent relevancy for all of them.

But if the search

[2017-03-27 17:52] hitman3043 commented on #9010
well how to do that sir?i mean iam a newbie so dont know much about it

[2017-03-27 18:09] wicho91 commented on #9020
Hello @maghamed thank you for the detailed response, i've just changed this part of the code. Im fairly new to web development as i spent 2+ years in desktop development. So will look into jQuery afterPlugin because im really blank here. But thank you again for the awesome help! Ill keep posted!

[2017-03-27 18:10] leitot commented on #7720
I have this issue as well. I fixed it with a hack but is something going to be done about this?

[2017-03-27 18:27] hostep commented on #8085
Looks like this was recently fixed by https://github.com/magento/magento2/pull/6354

[2017-03-27 18:28] hostep commented on #5898
Looks like this was recently fixed by https://github.com/magento/magento2/pull/6354

[2017-03-27 18:34] hitman3043 commented on #5898
like how its been fixed and how cna i check?

[2017-03-27 19:08] choukalos commented on #8976
Can you send us a PR?

[2017-03-27 19:27] choukalos commented on #9020
Hi @wicho91 - could you put in a PR for this?  Thanks!

[2017-03-27 19:31] maghamed commented on #9020
@wicho91 I meant not jQuery plugins, because jQuery is front-end JavaScript framework, but [Magento Plugins](http://devdocs.magento.com/guides/v2.1/extension-dev-guide/plugins.html), which is extension mechanism provided by Magento Framework. You can read the documentation of how Plugins could be used following the link above.

[2017-03-27 20:18] wicho91 commented on #9020
@maghamed  Even beter. You've guide me the correct way. I'll dig deep into this. For me it's a pretty and obvious need to have consistent information. Thank you so much!

[2017-03-27 20:49] hostep commented on #5898
Well, the Pull Request was accepted, so this fix is now in the develop branch. I hope this change will be included in Magento 2.2 and it might get backported to 2.0.x and 2.1.x, but that's up to Magento to decide this.

[2017-03-27 22:01] Ctucker9233 commented on #9009
@TheKingYeison You're welcome!

[2017-03-27 22:29] Ctucker9233 commented on #7334
@alena-marchenko What version of Magento will have MAGETWO-60587 included?

[2017-03-27 22:34] Ctucker9233 commented on #5570
@alena-marchenko Which version of Magento will have MAGETWO-56943 included?

[2017-03-27 22:36] Ctucker9233 commented on #7309
@alena-marchenko Which version of Magento will have MAGETWO-62662 included?

[2017-03-27 22:39] Ctucker9233 commented on #6771
@SerhiyShkolyarenko What version of Magento will include MAGETWO-59112

[2017-03-27 22:43] Ctucker9233 commented on #5428
@tkacheva Which version of Magento will this fix be included in?

[2017-03-27 23:06] davidalger commented on #9000
Closing due to insufficient information.

[2017-03-27 23:06] #9000 closed, assigned to nobody

[2017-03-28 02:11] dnadle commented on #5260
I have just encountered this bug in 2.1.4.

[2017-03-28 03:14] spyrule commented on #5260
@sdzhepa - Can you PLEASE re-open this ticket, it needs further investigation, as this problem still persists (clearly, since people are still having this problem in 2.1.3(me), and 2.1.4(dnadle).

[2017-03-28 05:04] xantek-imc commented on #2547
I had this same custom CSS issue extending Luma which turned out to be the 'type' field in the 'theme' database table.  The 'type' was set to 1 (virtual) and changing to 0 (physical) and flushing cache resolved the problem.  I'm not sure how the type got set to virtual.

[2017-03-28 06:10] mayankzalavadia commented on #4767
**SOLUTION FOR WRONG COUNT WITH GROUP**

After Spent my lot of time, finally I have find solution for wrong count with groupby Issue and it's work for me. So, I have share this solution with you all. I hope it'll help you to.

For solution of wrong count with group you just need to follow 2 step which I listed below.

1.  Open **Toolbar.php** file from : **magento_root/vendor/magento/module-catalo

[2017-03-28 06:11] rakeshsigma opened #9030 "Paypal(advanced) credit card magento 2 not working with create order from backend in Magento enterprise edition"
I have installed magento enterprise edition and as per one of my client requirement, I was not able to create order with paypal credit card (paypal advanced) payment method from backend.

Please let me know if you have any suggestion.

@magento-team @magento-devops

[2017-03-28 06:29] jarnail104 commented on #642
Ok. So should i post this in magento 2 feature request for adding configurable products in grouped? What you suggest

[2017-03-28 06:32] korostii commented on #7734
@igrybkov, great comment, thank you for the clarification!

Now that's something that should be put into the devdocs for good.

[2017-03-28 06:38] launchcg-ztonia opened #9031 "Wysiwyg editor can't seem to parse a div enclosed by a link."
Version 2.1
Trying to edit content in a static block. The wysiwyg deletes my links aggressively

### Preconditions
2.1
Cloud enterprise dev environment.

### Steps to reproduce
Switch to html editor.
Add an <a>...</a> tag to enclose a set of nested divs.
Switch back to display, or save. Both actions will extract/remove the link

### Expected result
Prefer to be able to provide one wrapping link.

[2017-03-28 06:58] maghamed commented on #6114
From the Magento standpoint, $context object is a necessary evil.
We brought the idea of $context into the codebase when we introduced DI concept and turned invisible Dependency Hell (because of Lazy Loading usage)  we had in Magento 1 into visible one in Magento 2.
Also, we wanted to prevent increasing of dependencies with some static check, like PHPMD. [PHPMD CouplingBetweenObjects metrics has a

[2017-03-28 07:21] joni-jones commented on #9030
@nitishsigma, please, format this ticket according to Magento [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and provide additional details like transaction debug log, any exceptions or browser console errors.

[2017-03-28 07:31] jissereitsma commented on #6114
Thanks @maghamed for explaining things. It helps us understand why `$context` was invented in the first place. However, because it smells, refactoring would be a nice thing. It could be refactored in the Magento core, by exchanging the `Abstract` god-classes (or at least their dependency on `$context` with better composition structures. But 3rd party developers should also be allowed to refactor t

[2017-03-28 07:35] igrybkov commented on #7734
@korostii, probably it should be documented as an answer to the question "how to override virtual type" or even "what to do when I want to override a class which is used as virtual type", but in general, as @maghamed said, Magento discouraging inheritance, and for each specific case it's better to find the way how to customize behavior using plugins and specific API/SPI or another extension points

[2017-03-28 07:39] tejasvyas1988 opened #9032 "Catalog price rules not working with Magento 2.1.4 and 2.1.5"
### Preconditions
1. Magento 2.1.4 and 2.1.5
2. PHP 5.6

### Steps to reproduce
1. Create catalog rule from backend
2. Check on the specific product.

### Expected result
1. Catalog price rules price not displaying

### Actual result

1. Catalog price rules price should apply

[2017-03-28 07:55] orlangur commented on #6114
@maghamed

Could you please bring more details on which particular problem this "feature" is trying to solve?

Without it if you implement classes in Magento 1-style, your list of dependencies will grow. If you decompose logic into classes properly, list of dependencies WILL NOT grow.

I see the value in such check for core classes, so that constructor signature is not changed until necessary, but

[2017-03-28 08:04] pluckrose commented on #9009
not sure how I helped but glad you got it working!

[2017-03-28 08:21] josealgardataborges commented on #9010
@hitman3043 You have to follow the oficial instructions on how to enable those cronjobs in the [link](http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-cron.html) i also gave you in the previous post.

[2017-03-28 08:55] vincentwinkel commented on #8889
I found an alternative for links.
With the same base data example :
[code]
This alternative also works for `$product->setUpSellLinkData()`, and I guess for `$product->setCrossSellLinkData()` (not tested). But how can I do to add custom options to products ? I don't want to use raw SQL queries, it's too complex !

[2017-03-28 08:56] kozie commented on #4359
In my case i'm installing Magento 2 through our own composer.json. That means that there isn't a composer version configured in the root composer.json file, obviously.

I used the work-around as follows from the root directory.
[code]

[2017-03-28 09:00] ccasciotti commented on #5509
@jdavisonc @Choufourax Thank you, for me it works the solution that explain to put requirejs-config.js and validation.js under `<module_dir>/view/frontend/web` and `<module_dir>/view/frontend/web/js` respectively

[2017-03-28 09:05] royvanos opened #9033 "Error on the checkout page when the region field is empty"
### Preconditions

1. Magento 2.1.5 (possibly 2.x)

### Steps to reproduce

1. Set up a Magento 2 store with demo content
2. Country of origin should be a Dutch address
2. Create a customer with non-Dutch shipping and payment addresses
3. Add any item to the cart
4. Try to complete checkout

### Expected result

1. Checkout succeeds

### Actual result

1. Checkout does not succeed and throws the f

[2017-03-28 09:09] Vinai commented on #6114
Thanks for the explanation @maghamed, I understand the benefits the context class gives for "extendable" parent classes. Those are valid as long as abstract classes with a `__construct` method that should be extended exist in the core.

But as I've tried to explain above, enforcing child classes to also use the context object for their dependencies is damaging (especially [point c) in my comment a

[2017-03-28 09:14] joni-jones commented on #5038
Hi, @Galillei, thanks for reporting. I've created internal ticket (MAGETWO-66828).

[2017-03-28 10:06] maghamed commented on #6114
@jissereitsma  Of course, refactoring is the only thing which could save us from the "code smell". But for now we can't just eliminate abstract god classes because that will introduce massive Backward Incompatible changes. The stories for elimination of Abstract God classes are at the top of our developer experience backlog and would be implemented as soon as we would be allowed to introduce such

[2017-03-28 10:13] ishakhsuvarov commented on #7273
#1895 Has been delivered to the `develop` branch.

[2017-03-28 10:13] #7273 closed, assigned to nobody

[2017-03-28 10:29] orlangur commented on #6114
@maghamed,

"Unity does not allow this" is not related and could not be considered as a reason :) Please answer this question.

For any new dependency such property will be `private` thus you have to store it in child class constructor. When such property is `protected` I believe it's less confusing to use `parent` one, as otherwise you would have to figure out another name for entity already exis

[2017-03-28 11:47] giusecapo commented on #5839
I'm having this problem too, how did you fix it?

[2017-03-28 12:11] thomasnordkvist commented on #6404
@ronnybremer your solution worked for me. Thank you

[2017-03-28 12:31] agenceoneo commented on #8424
In my case "shipment_item_default" does'nt resolve my problem, i changet it to "default" and it work clearly :).
Link here https://github.com/magento/magento2/commit/5831ca1e833b3ccf18f43fcc6e6988b2e7c7afb3

[2017-03-28 12:32] orlangur commented on #7334
@Ctucker9233 the answer is "next major release" unless otherwise specified. For https://github.com/magento/magento2/commit/6593dceda041c4829633f38b2b35a782dcdbfe9d it's 2.2.

[2017-03-28 12:37] orlangur commented on #4359
@maghamed,

Something else needs to be done besides described in order to bump composer version?

[2017-03-28 12:39] korostii commented on #9008
While I generally agree the message given in this case is severely misleading, I'd like to make the following remark.

Wasn't sure whether to laugh or cry tears at this moment. DB downgrade is a potentially destructive oeration (imagine destroying a column having important information in it) and I don't see how is it a good idea to promote something like that in the messages (read: "instructions")

[2017-03-28 12:51] korostii commented on #8996
I'll try to explain the downvotes you've received: This is a bugtracker intended to track.. well, bugs. Question of sort "how do I implement this" might be better received on the http://magento.stackexchange.com/ or at the Community Forums. Some trivial questions may even be answered by reading the http://devdocs.magento.com/

In this case, my first guess is that you might've forgotten to select t

[2017-03-28 12:58] kanduvisla commented on #4394
Wouldn't it be a good idea to add some sort of check for this? Could save a lot of headaches. For example, add the following to `Magento\Integration\Helper\Data` in the `foreach`-loop:

    if (!isset($resource['title'])) {
        throw new \Exception("Title not set for resource {$resource['id']}");
    }

This would save a lot of people a lot of frustration.

[2017-03-28 13:10] grasdaggel commented on #8966
7 days, not even noticed until now. Is anyone there?

[2017-03-28 13:24] springimport commented on #8976
Did you mean the media?

Directory structure:
![media](https://cloud.githubusercontent.com/assets/18581994/24405847/4bb8f9ee-1394-11e7-9222-441dad74eb2f.PNG)

In git:
![media-in-git](https://cloud.githubusercontent.com/assets/18581994/24405927/8d634c00-1394-11e7-88f9-faac8abfaa1b.PNG)

[2017-03-28 13:32] #7357 closed, assigned to nobody

[2017-03-28 13:35] sam-g-roberts commented on #7357
This issue was resolved in a recent version. (Can't remember which one).

There are multiple issues raised here which are separate to the one i initially flagged. Please raise your issues as separate tickets or they will not be attended to.

@Tristan-N @ksz2013 @bve-9384

[2017-03-28 13:45] domeglic opened #9036 "Database backup doesn't include triggers"
### Preconditions

Magento CE 2.1.5, PHP 7.0.15, MariaDB 10.0.29.
Have Index in scheduled mode.

### Steps to reproduce

1. Do a database backup with `setup:backup --db`.
2. Do a database restore with `setup:rollback -d`.

### Expected result

Database is restored and includes triggers.

### Actual result

Database is missing triggers, so indexing doesn't work correctly.

I noticed this problem af

[2017-03-28 14:23] mrkhoa99 commented on #8976
@springimport  You can simply add these lines to your git ignore:

[code]

[2017-03-28 14:44] maximinimus commented on #5157
I have been looking into this issue today, as it's blocking a release for us.

The problem appears to be if there is a plugin declared on the class:
<plugin type="...."></plugin>

This creates an interceptor file, which then means any further preference is completely ignored during di compilation.

[2017-03-28 15:07] SewHappy58 commented on #6929
I'm having the same issues with Magento 2.1.1.  After following everything on this guide, I'm not able to find a fix.  I have a feeling it's something with either Varnish or permission settings.  Everytime I contact my hosting company, they were able to fix it, but after a customer goes online to purchase a product, it would fail again.  And if you fail once, it will not let you use PayPal as that

[2017-03-28 15:17] josealgardataborges opened #9037 "New Store Design Change (date format error)"
### Preconditions

1. Magento 2.1.5

### Steps to reproduce

1. Create a New Store Design Change
2. Choose the starting and ending dates, using the calendar popup interface
3. SAVE

### Expected result

1. The form being saved

### Actual result

1. The form errors out with invalid date format.
form -> http://prntscr.com/epii6r
result -> http://prntscr.com/epiie5

[2017-03-28 15:23] antbates1991 commented on #8921
We recently came across this issue and created a fix. You can try and install this module and see if it works. https://github.com/WeareJH/m2-core-bug-currency-conversion

[2017-03-28 15:32] Flamestyle commented on #7592
There is a solution? I ran into the same problem.

[2017-03-28 15:49] KrystynaKabannyk commented on #7820
Closing the issue as it was fixed by PR https://github.com/magento/magento2/pull/2323

[2017-03-28 15:49] #7820 closed, assigned to tkacheva

[2017-03-28 15:51] benjamin-volle opened #9038 "Problem with serialized default value in config.xml"
### Preconditions
Magento 2.1.4

### Steps to reproduce
1. Create a configuration with "_Magento\Config\Model\Config\Backend\Serialized\ArraySerialized_" as backend_model in a system.xml config file.
2. Add a serialized config in config.xml

### Expected result
1. The configuration should be visible as lines of array
![configuration settings stores magento admin - google chrome](https://cloud.gith

[2017-03-28 17:09] Vinai commented on #6114
@maghamed Inheritance is a strong source code coupling, but it by no means is the strongest.
The more details are known to a class the stronger is the coupling.
You can see that by examining what kind of changes would cause the child to break.
Not every change to a parent class will break the child class.
If the parent class is treated like any other dependency and the knowledge the child class ha

[2017-03-28 17:14] Ctucker9233 commented on #9010
@josealgardataborges The documentation is very general. Is there a specific cron job that has to be enabled in order to send newsletters? What's the syntax in order to enable it via CLI?

[2017-03-28 17:21] Ctucker9233 commented on #7334
@orlangur Right. I'm aware of that part. Was just wondering it there was a plan for backport since it was an issue reported against 2.1.x. Guess I'll have to wait and see.

[2017-03-28 17:35] pguedesbr commented on #4291
Actually 487ae24 (removing the if statement) solved the issue for me. The question is why this commit hasnt been merged with the 2.1 branch. Therefore the fix is not live.

[2017-03-28 17:59] samm-git commented on #7813
@KrystynaKabannyk why this issue was closed?

[2017-03-28 18:01] lfolco commented on #3754
Please reopen this!

[2017-03-28 19:04] southerncomputer commented on #9026
rm -rf var/di var/generation
vendor/bin/composer dumpautoload -o
php -dmemory_limit=6G bin/magento setup:di:compile
php -dmemory_limit=6G bin/magento setup:static-content:deploy

That or you munched up a .xml file which will do the same thing!

find . -mtime -3

Finds all files changed in the last 3 days, if you have to go over changed files/xml files!

[2017-03-28 20:36] AirmanAJK opened #9040 "Product Catalog Export Breaks HTML on Reimport"
If exporting the product catalog to make mass changes to attributes, followed by a reimport with the same spreadsheet, any fields that contain HTML (ie description, short_description) have their HTML encoding removed. For example, if you have a &lt; to represent a less than symbol, it will be decoded so that the resulting CSV file will have a literal < character. When the import is then performed

[2017-03-28 21:24] lgoudriaan commented on #5836
I just installed an other magento shop on the same server, same version and cronjobs and it's updating correctly. I still don't know why my main site doesn't

[2017-03-28 21:36] vrann opened #9041 "Non-cacheable block added to default handle makes every page non-cacheable"
### Preconditions

Magento on the latest ``develop`` branch, during the layout generation, collects all available layout handles for the particular page and merges instruction from them to the final layout structure of the page. Default layout handle is used as a basic for the every page. It makes the layout updates declared for the default handler appear on every page of the Magento.

Usually, la

[2017-03-28 21:53] vrann commented on #5851
@sevos1984 closing as a duplicate

[2017-03-28 21:53] #5851 closed, assigned to nobody

[2017-03-28 21:54] vrann commented on #8152
Closing as a duplicate of #6261

[2017-03-28 21:54] #8152 closed, assigned to nobody

[2017-03-28 22:14] #9009 closed, assigned to nobody

[2017-03-28 22:16] davidalger commented on #9017
@will-b Mind opening a PR with the suggested fix? I agree from the code you noted above, there is a duplicate call there.

[2017-03-29 00:29] tomnyson commented on #5234
I can not upgrade Magento version 2.0.7 to 2.1.5
how I can you upgrade success not interrupt while updating

[2017-03-29 01:34] tomnyson commented on #3409
you can setting this theme to default theme and try again.
i have done it

[2017-03-29 02:31] nguyetnguyen opened #9042 "Error when place virtual gift card product using checkout Paypal Express"
### Steps to reproduce
1. Add a virtual gift card product to shopping card
2. Go to checkout page, on step Payment and Review, select payment method "Paypal Express"
3. After redirect to Paypal page, login and Pay Now.

### Expected result
4. It should go to checkout success page without any error.

### Actual result

4. It return to checkout paypal review with error "Can't not place order." while

[2017-03-29 02:52] quickshiftin commented on #6803
@eduard-kistner
I just did a fresh install of Magento 2.1.5 PHP 7.0.8 / apache. Without your extension I'm still getting the error message `Notice: Undefined index: media_type`. Once I install your extension, the same problem is there.

I went ahead an made a [module to demonstrate the problem](https://github.com/quickshiftin/mage2-bug-6803/blob/master/README.md). Maybe there's a glaring error in

[2017-03-29 03:23] abolivar commented on #8942
Same error here

Magento 2.1.5
PHP 7.0.16/Mysql 5.7.16

[2017-03-29 03:38] shahankitb997 commented on #3625
Is there any solution till ?

[2017-03-29 03:39] shahankitb997 commented on #3280
Is it solved?

[2017-03-29 04:57] KrystynaKabannyk commented on #8980
@claverwebdesign, thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details

[2017-03-29 04:57] #8980 closed, assigned to nobody

[2017-03-29 05:48] jugalpatelkrish commented on #8921
Thanks @antbates1991
We have also fixed this issue for one of our clients.  Thanks for sharing the solution with all.

[2017-03-29 07:08] shahankitb997 opened #9043 "Magento 2: Admin special price changes are not refreshing minicart immediately"
### Preconditions

1. Using Magento 2.1.5 CE

### Steps to reproduce

1.  Add Product to Cart with it's original value.
2.  Apply Special Price for that product from Admin
3.  Mini cart is not reflecting with special price

![capture](https://cloud.githubusercontent.com/assets/20528998/24442628/82e6de24-1491-11e7-85af-47650fe127c7.png)

http://magento.stackexchange.com/questions/166641/magento-2-a

[2017-03-29 07:48] korostii commented on #8966
If you're looking for a quick advice, you've come to the wrong place. Things move rather slow out here.
Even if your issue gets reproduced and fixed, it'll take approximately 2 months minimum for the fix to reach a release version.
I'd suggest that you describe your desired result on http://magento.stackexchange.com/ (and code you have and then you just might get a that the condition you enter for

[2017-03-29 07:52] ishakhsuvarov commented on #3625
Hi @shahankitb997
Currently the issue is still not fixed. We will update the ticket as soon as we have anything to add.
Thanks.

[2017-03-29 07:54] andidhouse commented on #3625
it is now one year later since the ticket had been created @shahankitb997 - wow no solution so far!

[2017-03-29 08:21] Quinten commented on #8178
You can try to tweak the `position` css of `.minicart-wrapper .ui-dialog`. Try `static` or `absolute`

I have something like this somewhere in some theme css:

[code]

Still gives a strange glitching flash in IE9 and sometimes in safari on mac, but then it's fine. Doesn't do this on ios though.

[2017-03-29 08:22] korostii commented on #3625
Well, to be fair, it doesn't seem like something you could fix with one line of code. The whole idea of caching to the local storage (which is: the information in local storage isn't changed until the next POST request because user didn't do any changes) may be misused here.
I'm not saying real-time updates are needed here(if it is so, why even bother caching this stuff?), but there should be a wa

[2017-03-29 08:24] josealgardataborges commented on #9010
read this section: http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-cron.html

`crontab -u <Magento file system owner user name> -e`

[code]

And you should be good to go.

[2017-03-29 08:27] MrDaar commented on #7878
@maxxis2112 @veloraven

I'm not sure if this is the same issue, but I've been unable to save custom currencies.
It looked as though the custom symbol was being used as some sort of key, and if the symbol matched the key, the corresponding symbol would be used, and the value set back to "default" rather than using the actual value that was set.

My fix was to force the value in config, either in da

[2017-03-29 08:31] bjornet commented on #7878
Same issue experienced as @MrDaar

[2017-03-29 08:40] korostii commented on #8980
@KrystynaKabannyk, this is definitely not a feature request. I suppose you classify it as a "suggested improvement" ?

IMHO if the checkout button "is not working" for no VISIBLE reason, that's clearly a massive bug.

If the criteria you happen to have are any different, is there a way we could hear those or someplace we can take a peek at them written down? Could you maybe add the words "bug" and

[2017-03-29 08:45] korostii commented on #8874
See also https://github.com/magento/magento2/issues/7149

[2017-03-29 08:53] simadmin commented on #8461
We have the same console but the error come up when hitting Add to Cart button were using venustheme

![untitled](https://cloud.githubusercontent.com/assets/5371631/24446459/135e4ba0-14a0-11e7-9e55-7371bdf6929b.jpg)

[2017-03-29 09:03] davideghz commented on #5279
same problem here on Mage 2.1.2 - pretty urgent as well. I'm gonna fix it with jQuery, but it's not a desirable solution.

[2017-03-29 09:23] korostii commented on #8971
See also #5262, #4162, Internal ticket MAGETWO-52095

[2017-03-29 09:33] korostii commented on #8980
See also https://community.magento.com/t5/Magento-2-Feature-Requests-and/Checkout-user-experience-improvement-Inform-users-of-invalid/idi-p/55730

Additionally, there is no need to actually close such an issue manually. AFAIK you can just put the label "improvement": there is a script running which will then close the issue with an automatic message AND will copy a discussion into a Communnity top

[2017-03-29 10:44] johnny-longneck opened #9045 "Scope - Not working as expected on so many many levels"
Magento 2.1.4 with multiple websites, price scope is set to website, different base currency.
It is so much pain right now.

### Preconditions

1. Magento 2.1.4,
2. PHP 7

### Steps to reproduce

1. Install Magento 2.1.4
2. Setup multiple websites, price scope website, one website is based in USA (USD only), one in Germany (EURO), configure taxes
3.

### Expected result

1. Price Scope "Website" w

[2017-03-29 10:51] ioliinyk commented on #5993
This is bug.

[2017-03-29 11:51] dyushkin commented on #9042
Hi, @nguyetnguyen! Thank you for reporting. I have created internal ticket MAGETWO-66895 to fix this issue.

[2017-03-29 11:52] orlangur commented on #9042
@dyushkin, EE-specific issues can now be directly reported in GitHub?

[2017-03-29 11:55] blakefinney opened #9046 "Technical Review Failed on: deploy:mode:set production"
Hi there

I recently submitted a module to the Magento Marketplace for Technical review; it got rejected with the following error:
**Command returned non-zero exit code: `php -f /var/www/html/bin/magento setup:di:compile-multi-tenant 2>&1`**

When I run the above command on my test store, I get the following error: _PHP Fatal error:  Allowed memory size of 52428800 bytes exhausted (tried to alloca

[2017-03-29 12:03] dyushkin commented on #9042
Hi, @orlangur. PayPal is community edition module.

[2017-03-29 12:11] reindert-vetter commented on #9022
By emailing like Magento makes itself, it is resolved. Do not look too much to the forums.
https://github.com/myparcelnl/magento/pull/27/files#diff-194e56fdcc557c83e55f8faeae6363a5R117

[2017-03-29 12:11] #9022 closed, assigned to nobody

[2017-03-29 12:20] MaximKitsenko opened #9047 "SOAP API: inventory qty can't be updated"
I'm trying to update inventory iyrm with help of
`https://www.qwerty.com/soap/default?services=catalogInventoryStockRegistryV1
catalogInventoryStockRegistryV1UpdateStockItemBySkuRequest [ xmlns=https://www... ]`
but QTY doesn't change

### Preconditions
1. Magento ver. 2.0.8
2. SOAP API

### Steps to reproduce

1. `<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><catalogInv

[2017-03-29 12:28] K7Triton commented on #7525
hello @grazianodimaio , thank you for the report, the ticket is created MAGETWO-66898.

[2017-03-29 12:43] NorbertPiskorz commented on #3507
Same issue with Magento 2.1.5

system.log
`[2017-03-29 12:05:38] main.INFO: Cache file with merged layout: LAYOUT_adminhtml_STORE1_36f1b068ec7ccf4878f9284dd1137afd1 and handles catalog_product_prices: Please correct the XML data and try again.`

debug.log
`[2017-03-29 12:37:02] main.DEBUG: cache_invalidate:  {"method":"GET","url":"http://sndev.calapo.at/","invalidateInfo":{"tags":["interception","

[2017-03-29 12:55] shavounet opened #9048 "[Product page - Additional attributes block] Boolean attributes are not rendered"
### Preconditions
1. Magento 2.1.3 CE
2. PHP 7

### Steps to reproduce
1. Create a new attribute, with type boolean ("Yes/No"), add it to an attribute set and set its value on some products
2. Set the attribute option "Visible on Catalog Pages on Storefront" to Yes

### Expected result
1. On the product page, the attribute should be displayed in the additional informations block with a "Yes" or "N

[2017-03-29 12:58] springimport commented on #8976
@mrkhoa99  Yes, of course. I want to know whether this is a bug or not.

[2017-03-29 13:01] mrkhoa99 commented on #8976
@springimport these files was uploaded via Admin?

[2017-03-29 13:12] joachimVT commented on #7734
@igrybkov The reason I want to customize the search engine is to use **Logical AND search** I know this is possible by using the SEARCH REST API (http://devdocs.magento.com/guides/v2.0/howdoi/webapi/search-criteria.html#logical-and-search)

But I wanted this to be possible by doing a standard GET search.

[2017-03-29 13:20] Alexgator32 opened #9049 "Adding New Products Issue, Cant Change "Show/Hide Editor" Only in HTML Format"
### Preconditions

1. I am trying to add new products to Magneto 2.1.3 and up til last week I could open (2) tabs and both be on the back end of Magento. I would have a previously posted product up on one tab and on the other I would have a New Simple Product. I use this because it would be easy for me to copy of Specs and Tables from one to the other. Up till last week I had no problem doing this

[2017-03-29 13:20] orlangur commented on #9042
Yeah, but `GiftCard` not :) So, without changes this scenario is not reproducible in Community Edition.

[2017-03-29 13:27] antbates1991 commented on #8640
I've found the root cause of this issue. In 2.1.3/4 a new file has been added `Magento\Catalog\Model\ResourceModel\Product\CompositeBaseSelectProcessor` This adds stock data to the select, specifically the where clause which now only returns products if the item is in stock. This is the reason why the product's price shows as 0. If you remove the `stock_status` from `$this->baseSelectProcessors` y

[2017-03-29 13:49] cowley commented on #9003
We are also having the same issue. Which version of Magento are you using?

[2017-03-29 14:02] mombrea commented on #9049
This issue persists in 2.1.5, it's intermittent though. If you hold down the shift key and refresh the page, it will usually load the editor the next time.

[2017-03-29 14:13] sbrendtro commented on #9003
@cowley, from our experience this has been the case on both 2.0 and 2.1.  We are currently running 2.1.4.

[2017-03-29 14:16] #9049 closed, assigned to nobody

[2017-03-29 14:16] cowley commented on #9003
Do you still have this issue on 2.1.4? Have you come up with a fix?

[2017-03-29 14:35] sbrendtro commented on #9003
Yes, we still have the issue on 2.1.4.

[2017-03-29 14:41] atomixstar commented on #3507
Same issue with Magento 2.1.5, checkout page is broken when add a product with Text Swatch attribute and I do not know if is related to this, I am trying to clear all errors to found the issue:

`[2017-03-29 14:30:52] main.INFO: Cache file with merged layout: LAYOUT_frontend_STORE1_6d41d8cd98f00b204e9800998ecf8427e and handles : Please correct the XML data and try again.  [] []
[2017-03-29 14:30:5

[2017-03-29 14:47] lano-vargas commented on #5478
lewisvoncken Sugestion worked for me Thank's. Yet no updates in the latest release magento 2.1.4.
Does that means if I update magento to 2.1.5 in the very near future the fix I applied will be overwritten? 👎
J

[2017-03-29 14:54] davidalger commented on #9046
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions and support. Feel free to reopen this issue if you think you have encountered a bug in Magento 2.

[2017-03-29 14:54] #9046 closed, assigned to nobody

[2017-03-29 15:08] grasdaggel commented on #8966
I don't look for quick advice. This is clearly a bug as Magento shouldn't allow configurations that trigger hard SQL exceptions. As you can see I've already gave myself a "quick solution", so I don't really need a solution for that.

[2017-03-29 15:10] vlauria opened #9050 "Randomly getting an empty <body> that gets cached"
## Preconditions

1. Magento CE  2.1.5 without sample data is installed.

## Steps to reproduce
I do not know.
I'm having problems with a very basic Magento 2 install, with very few customizations or extensions.
We randomly get a completely empty <body> tag on the home page that then gets cached on Varnish and the site is not accessible. All the <head> contents etc are just fine (except for an emp

[2017-03-29 15:34] lewisvoncken commented on #5478
Hello Juliano,

Great to hear but it is only a temporary fix and it will be overwritten
with the next update.

*Met vriendelijke groet / Best regards,*

Lewis Voncken
Developer
Arthur van Schendelstraat 650
030 - 8200 238
www.experius.nl

On Wed, Mar 29, 2017 at 4:48 PM, Juliano Vargas <notifications@github.com>
wrote:

[2017-03-29 15:34] davidalger commented on #9050
@vlauria We've run into this issue on a couple EE builds, and the solution I believe was found in a patch which removed `layout="admin-1column"` from this file: https://github.com/magento/magento2/blob/develop/app/code/Magento/Ui/view/base/layout/default.xml

It's absolutely not an official answer, but we were told the following: _The target release where this fix will be included is 2.1.8 - howev

[2017-03-29 15:47] josealgardataborges commented on #9010
@Ctucker9233 try to run in SSH the following command:

` php bin/magento cron:run`

[2017-03-29 15:59] NMills12 opened #9051 "Magento fails to create new order, but customer still charged in authorize.net"
### Preconditions
We have found several cases where customers are being charged for multiple transactions with the same invoice numbers. However, only one of the transactions actually shows in Magento. The other transactions appear to be duplicates that Magento did not process, but authorize.net still created successful transactions and processed payment.

It seems that Magento is trying to reuse

[2017-03-29 16:08] korostii commented on #8966
Ah so the "You can achieve the very same result" meant a workaround, not a second way to reproduce the issue? Sorry, I misunderstood.
In that case, I'd suggest that you comprise a less ambiguous and easier to follow list of steps to reproduce. Personally, I got lost at step 6. Could you please provide the raw widget code you had inside your page's content in the end or a screenshot of it's conditi

[2017-03-29 17:29] sudheeshks commented on #8964
Nobody faced this issue before..?? Please check and fix this issue asap.. Or guide me to do a fix

[2017-03-29 18:03] refaelgold commented on #5449
Tjere is any way to solve it? i cant upgrade magento 2.1.2 to magento 2.1.5

[2017-03-29 18:32] joshdavenport commented on #6671
Have been wresting with this issue on a production site for over half a year now. Many hours of pain and frustration because of this.

In my case I think it may be due to a mistmatch between `entity_id` and `row_id` causing the URL creation process to think that the URL key for a product is blank when it it's actually just not able to find the attribute value properly. This has caused issues in ot

[2017-03-29 18:47] spyrule commented on #6671
@joshdavenport Can you provide a few queries for people to test if they are experiencing the same problem?

[2017-03-29 18:53] calvintwr opened #9053 "Suggestion: Change "adjustment refund" and "adjustment fee""
For credit memo, the terms "adjustment refund" and "adjustment fee" are confusing. They are neither proper accounting terms nor do they make sense. And the impetus to get terms right is because the actions are irreversible and it is easy to make mistakes if terms don't make sense.

Let me state my case.

"Adjustment Refund"
Any figure entered here is added to the refund total. There are hardly any

[2017-03-29 19:27] KrystynaKabannyk commented on #9003
hi @sbrendtro, thank you for reporting the issue! Some of error messages have been fixed by MAGETWO-53457 for 2.2.0, some errors cannot be fixed from security perspective or they come from server side. I created additional ticket MAGETWO-66917 for messages to investigate what could be improved, and MAGETWO-66918 - to investigate possible approaches for successful order placement without payment.

[2017-03-29 19:36] scottsb commented on #9003
We have seen the same error, and while we have not implemented it yet, the approach we have in mind is to create a "around" interceptor plugin for the savePaymentInformationAndPlaceOrder method on `PaymentInformationManagementInterface` and `PaymentInformationManagementInterface`.

This would catch the `CouldNotSaveException` exception thrown by the original method, check to see if the original ("

[2017-03-29 19:47] heyqule commented on #7668
I'm not sure if this is related.  But it sounds similar to what I saw.

I created a new customer address attribute from admin.  It's a yes/no attribute.  That attribute's value do not get saved when I save in the address editing forms in either frontend or admin.

The Magento version is 2.1.5.

[2017-03-29 20:21] cykirsch opened #9054 "Static test runner fails on custom ACL resource names"
### Preconditions

1. Magento 2.1

### Steps to reproduce

1. Create a controller class and use any vendor name other than Magento, and include an override of the admin resource constant.
[code]

2. Run the static tests: `magento dev:tests:run static`

### Expected result

1. Tests should pass.

### Actual result

1. Tests fail, and one of the errors is
[code]

### Reason
In `Magento\Test\Integrit

[2017-03-29 20:27] reztierk opened #9055 "Default Store is always used when retrieving sequence value's for sales entity's."
The getReservedOrderId function in `/vendor/magento/module-quote/Model/ResourceModel/Quote.php` and the _beforeSave function in `\Magento\Sales\Model\ResourceModel\EntityAbstract` are using `getStore()->getGroup()->getDefaultStoreId()`, when they should be using `getStore()->getStoreId()`. Causing orders placed on other storeviews to use the prefix/suffix/increment id and sequence tables of the de

[2017-03-29 20:34] w130pmpo opened #9056 "Bulk Uploading & Website gets slow"
### Preconditions

1. Magento version 2.1.3
2. Php 7.0.13-1 Apache2

### Steps to reproduce

1. Creating or updating Bulk Products from CLI using php script

### Expected result

1. Normal speed as long as cache reside

### Actual result

1. Whenever product->save() toggled, loading pages where list products (Category, Page that includes Product Widget) get slow. (Currently around 200K products ar

[2017-03-29 20:45] Yunus260 commented on #8733
Same here.
I tried to modify the robots.txt at Stores->Configuration->Design
Is there a fix?

[2017-03-29 22:31] ccasciotti commented on #5157
I have the same problem with a model rewrite, compiling di is ignoring a preference tag. Anyone has a fix to bypass this problem? Or I have to remove `var/di` folder?

[2017-03-30 00:32] ryangall7 commented on #4096
We had a similar issue with 2.1.4. I was able to isolate it to the way url rewrites were getting generated in the copying process. The error is a bit misleading it has to do with `url_path` not `url_key`. When copying a product a new `url_key` was being generated from the old one with a "-1" appended to it however the duplicate product still has a value in the `url_path` attribute. When the url re

[2017-03-30 00:44] andrewsladen opened #9058 "bin/magento - missing namespace on last reference to Cli class, line 31"
On line 31 of bin/magento (looking at Magento 2.1.5), the **Cli** class is referenced without namespace, and there is no **use** statement for the class further up.

Line 31:
`exit(Cli::RETURN_FAILURE);`

### Preconditions
1. CentOS release 6.8 (Final)
2. kernel 2.6.32-642.15.1.el6.x86_64
3. Apache 2.4.6-5.el6
4. PHP 7.0.17
5. Percona server 5.7.17-12.1.el6
6. Magento CE 2.1.5
7. Magento in MultiS

[2017-03-30 03:33] jetfuelcreative commented on #6138
Hi Talv. Does this work for categories, too? Doesn't seem to be working for me.

[2017-03-30 05:58] duytrinhit commented on #6746
Hi @eldonbite @Omar-Oleh @Ctucker9233
I have created an extension to override FinalPriceBox
Now the problem is resolved. Please try my code in below link
[https://github.com/duytrinhit/magento2/tree/master/app/code/Balance/Catalog](url)

[2017-03-30 08:03] nbjohan commented on #8725
I think this might be because the rule gets applied to the (uncategorised) simple product of the configurable product.

When applying the discount, the collect function (\Magento\SalesRule\Model\Quote\Discount::collect) skips cart items with a parent:

	// to determine the child item discount, we calculate the parent
	if ($item->getParentItem()) {
		continue;
	}

However, later in the process the

[2017-03-30 08:31] lucafabbri commented on #8837
It has been already a week that GA is not working anymore. Today we figured out the problem is exactly the way GA code is placed as it works wrong against common js deferring practices.

You should consider to fix this point asap

[2017-03-30 09:01] grasdaggel commented on #8966
Im sorry, I do not have the widget raw code anymore. Maybe I can re-create it somehow, but more or less Step 6 is meant to "Save and re-edit". Then you have the possibility to go to "**Options**". Adding a screenshot seems very useful to me so I'm about to reproduce it and make a better list to reproduce the error. :) Thanks for your constructive input so far!

[2017-03-30 09:19] alexgmin opened #9059 "Validation on required attributes when updating a product on the REST API doesn't check the attribute set of the product."
### Preconditions

1. Magento 2.1.2
2. PHP 5.6
3. MySQL 5.7

### Steps to reproduce

1. Create two attribute sets.
2. Create a required attribute
3. Assign the attribute to the first attribute set, but not the second.
4. Create two products, one for each attribute set.
5. Try to update the product on the attribute set without the required attribute with the REST API without that attribute.

### Ex

[2017-03-30 09:20] korostii commented on #9043
Possible duplicate of #3625

[2017-03-30 09:24] orlangur commented on #8837
@lucafabbri do you mean that Google became strict about that? :O

[2017-03-30 09:37] orlangur commented on #9054
I'm not sure this is a real issue as I'm not sure all of the tests are supposed to work for any vendor.

Normally no code should be added to `/app/code` I believe (please point me out to some documentation if I'm wrong), all custom modules should reside in `vendor`. `/app/code/Magento` is placed this way just for the sake of simplicity in this monolithic repo.

Should be not too hard to analyze on

[2017-03-30 09:40] orlangur commented on #9043
It is supposed to work this way until push notifications from Admin side are implemented.

For instance, when you change name of user in Admin UI you will not see it in browser immediately.

[2017-03-30 09:49] korostii commented on #9058
Hi. FYI If you're able to submit a pull request along, that will likely speed up the process of pushing that fix to a release.

[2017-03-30 09:57] shahankitb997 commented on #3625
Issue is reported on Mar 3, 2016. Still no Solution? More than a year and crucial Issue. Not even work around released. Is there any specific date when it's going to fix or in which release we get this FIXED?

[2017-03-30 10:08] korostii commented on #9038
Possible duplicate of #7741.

As a workaround, I think you should be able to use [this trick](http://stackoverflow.com/a/15412168): simply add the backend_model as an attribute to the config.xml node containing your default serialized value.

[2017-03-30 10:14] juliandamass commented on #8925
Hi there
Is there any information regards this bug as I am experiencing the same issue on version 2.1.5
Thanks

[2017-03-30 10:18] IgorVitol commented on #5213
This issue related to:
Magento\Framework\DB\Ddl\Sequence::getCreateSequenceDdl

As you can see, sql statement for CREATE TABLE is without specified InnoDB engine, which is required for foreign keys. On most Windows mysql servers, it is set to MyISAM by default, so tables will be created incorectly and is the reason for such error. Adding engine to this statement fixed my issue and Magento EE insta

[2017-03-30 10:30] andrewsladen commented on #9058
So true, @korostii , I'll do that next time.  Didn't even think.

And thanks @adragus-inviqa for jumping on the pull request - beat me to it :+1:

[2017-03-30 10:43] will-b commented on #9017
@davidalger created PR

[2017-03-30 11:03] sivaschenko commented on #8713
Fixed by https://github.com/magento/magento2/commit/7431c276fd6558f59f4b0b500f860a6795d77b20

[2017-03-30 11:38] cykirsch commented on #9054
For us, the decision to add custom modules to app/code directly was based
mostly on source code management. Alan Kent even suggests to not touch
vendor, and that is one of the reasons.
https://community.magento.com/t5/Just-Ask-Alan/Why-two-locations-to-develop-themes/m-p/30147
(look for his comment 2-24 9:05 am, sorry I'm on mobile right now)

Some will say to develop under app/code directly and t

[2017-03-30 11:49] maghamed commented on #6114
@Vinai , getting rid of the context class is definitely in our plans. But we will eliminate contexts in the same major release with decoupling and removal of god super class abstractions for Block, Controller and Model. Because if we will just eliminate contexts that will bring huge backward incompatible changes but we would not get to the desirable state for our code, because next release will br

[2017-03-30 12:24] orlangur commented on #6114
@maghamed,
Nice to hear that such a feature was revised and evaluated as not so "great" after all 👍

Sorry, I may be missing something, but how is that related to initial discussion besides your observation about Unity?

That's a quote from @Vinai and it seems totally valid to me. Even more, when some instance is `shared="false"` we can ask for two different new objects to be injected. I don't see

[2017-03-30 12:29] orlangur commented on #9054
Thanks for the link! So, `/app/code` is the new `/app/code/local` officially thus all possible tests needs to be adopted to give maximum benefit for custom development.

[2017-03-30 12:31] korostii commented on #9043
- Here, we made a teapot. Take and use it and be happy!
- Okay...
(time passes...)
- Hey, it doesn't heat up to more than 90 degrees. How am I supposed to boil the water in it?
- Oh, you're just supposed to take it up the mountain Everest first. But that's just until the heating part gets fully implemented.
- ???

"It is supposed to work this way" sounds a bit exaggerated.
Wait, is there more stuf

[2017-03-30 12:42] ishakhsuvarov commented on #3625
@shahankitb997 Currently there is no specific date for the fix to be delivered, however, based on community feedback, we are looking into ways to increase it's priority.
I will update this ticket as soon as more information will be available.

Thank you.

[2017-03-30 12:43] synolia-bvo commented on #9038
Thank you for your answer, but i can't use this trick since there is an exception launched :

`Exception #0 (InvalidArgumentException): Magento\Config\Model\Config\Backend\Serialized\ArraySerialized is not instance of \Magento\Framework\App\Config\Data\ProcessorInterface`

I think I'll have to make a setup to insert my config directly in DB.

[2017-03-30 12:47] K7Triton commented on #8509
Hi @Noewt , i try to reproduce your bug. after configuring web views, I see on cookies and they is correct.
[https://youtu.be/uyd-nK0F9VI](See video) Maybe i forgot some settings for reproducing this bug. ?

[2017-03-30 12:47] springimport commented on #8976
@mrkhoa99 Yes, from admin panel.

[2017-03-30 12:50] orlangur commented on #9043
I believe it is product-ready already (but it is a bit off-topic...).

Here is an official response I can share with you: https://github.com/magento/magento2/issues/8579#issuecomment-280467726

Yeah, some visibility on such pain points would be really appreciated.

[2017-03-30 12:54] korostii commented on #9038
Well? alternatively, you could also go deeper into the rabbit hole and try to implement that `\Magento\Framework\App\Config\Data\ProcessorInterface` but it's hard to say whether something like that is even worth the effort.

[2017-03-30 12:57] orlangur commented on #8976
Can we somehow ignore all folders in `/pub/media` besides specified https://github.com/magento/magento2/tree/develop/pub/media ?

This list is already quite big: https://github.com/magento/magento2/blob/develop/.gitignore#L35

So, maybe there is a smarter way than just adding `logo` and `favicon`?

[2017-03-30 12:58] synolia-bvo commented on #9038
I modified my answer and there is another reason why this trick can't work :(
Unfortunately, I think implementing this interface will not solve my problem.

[2017-03-30 13:10] Userr017 commented on #5247
Any solution to this problem?

[2017-03-30 13:19] Flamestyle commented on #8509
Hi, @K7Triton!
You use only one domain.

[2017-03-30 13:25] ClaudiuCreanga commented on #6620
@kandrejevs It worked for me if I added                     <item name="bodyTmpl" xsi:type="string">ui/grid/cells/html</item>

[2017-03-30 13:26] Brandame opened #9063 "Saving any "Attribute Set" after initial creation fails - 403 Forbidden"
Good afternoon, it's my first time here please be gentle! -  I can't figure out how to work around this issue, so I've come to you in the hopes that you may know where things have gone wrong! I suspect a full wipe of the current attributes/attribute sets, and then an import of the vanilla Magento attributes/attribute sets might fix whatever bug has found its way in, what do you think?

Thanks for

[2017-03-30 13:35] SolsWebdesign commented on #5467
Hi, I have 2.1.5 and the category ID seems to be missing in my adminhtml category pages as well. Has this been fixed and am I missing something? Or is this still a problem in 2.1.5?

[2017-03-30 13:46] royvanos commented on #6815
This is still an issue in Magento 2.1.5

[2017-03-30 14:08] mojahed4e commented on #8337
What we can do ?

It's a major issue.

[2017-03-30 14:38] Userr017 commented on #4159
Can someone tell more detail how to solve this problem? I don't fully undestand this... ln -s ../setup/ setup Need run command or?
[https://github.com/sylink](url)

[2017-03-30 14:40] sylink commented on #4159
You can either adjust your vhost config or use a symlink, compare whatever you have to the Nginx config Magento puts out to see how setup is meant to work.

Alternatively, not using Magento 2 is a very viable option.

[2017-03-30 14:51] josealgardataborges commented on #9037
This error also appears on every date input field that does not have time in it, ie only the date.

[2017-03-30 14:52] martinhetschel commented on #8870
![image](https://cloud.githubusercontent.com/assets/17616012/24510357/4632e86e-1569-11e7-918d-0e8888430e31.png)
Same problem, but 503 error

[2017-03-30 14:56] ngherbert commented on #8925
Hi @juliandamass , till today still not get the workaround yet. Our team still looking the wayout. Probably need to purchase other third party extension to resolved this issue. Hopefully others will looking the way out as well for this issue.

[2017-03-30 14:56] MattDelac commented on #7211
Still an issue on Magento 2.1.5
Thank you

[2017-03-30 14:56] MattDelac commented on #6275
Still an issue on Magento 2.1.5
Thank you

[2017-03-30 15:22] zack6849 commented on #8591
@magento-team can we get an update on this?

[2017-03-30 15:35] carfantasy commented on #8337
I solved it..!
I made a clean setup from Magento. Than connect the old database.
Now the problem was solved.

[2017-03-30 15:43] BenSpace48 commented on #6367
Still no word on this @magento-team? 😢

[2017-03-30 15:46] vrann commented on #8017
Commits in 2.2:
#f1b21ad
#c411a46
#1331ad2
#6ccc9f1

[2017-03-30 16:19] hezide commented on #7095
Anyone?

[2017-03-30 16:39] lbbrooks commented on #8614
Thank you @i95devdivya

2.1.5 and this is still needed in order to disqualify an order from free shipping when it previously qualified for free shipping and should not any longer.

[2017-03-30 16:50] mepsteinj commented on #6588
I also have this problem with magento 2.1.5 "Magento locale is set to es_CL"
Default system (Debian Jessie) locale is set to "none" (I don't know if this is relevant)

Default country: Chile
Time zone: America/Santiago
Regional configuration: Chile

**Default Description:** Electrónicos

Home page **without** "Meta Description" show the correct text encoding: Electrónicos

Hope page **with** "Meta

[2017-03-30 17:19] davidalger commented on #9017
@will-b Super, thanks! I'll close this out once the PR is merged into the mainline.

[2017-03-30 18:01] ekumar1 opened #9064 "How to import category ?"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. I try try to magento 2 there is i did not see import category

### Actual result

1. [Screenshot, logs]

[2017-03-30 18:09] Turv commented on #8214
I have the same issue, my store is exclusively grouped products so it's taken me an absolute age just to realise it was a problem with grouped products alone.

Any work arounds?

[2017-03-30 19:13] Ctucker9233 commented on #9010
@josealgardataborges That did the trick! Strange, though, because I have never had to manually run that command before.

[2017-03-30 19:36] AirmanAJK opened #9066 "Search result relevance sorting never occurs"
Perform a catalog search in Magento. The default sorting will be by relevance. However, no actual sorting is applied to the result set. If you search by relevance descending or ascending the results will not change.

I tracked the problem down to the following file:
\vendor\magento\module-catalog-search\Model\ResourceModel\Fulltext\Collection.php
at Line 349 inside the function _renderFiltersBefor

[2017-03-30 21:01] AirmanAJK commented on #9066
Some more details.

I realize why setOrder() ignores relevance as the relevance "order by" clause is specially suited to the search query and can't be added as a regular order to the collection. It's still a problem that $this->order in the Collection class will always be null when checked.

I found that the first point where the query is actually executed due to the call to $block->getResultCount

[2017-03-30 21:51] russelllogozar commented on #8905
We're seeing this as well on 2.1.4 as well (CE and EE).  It appears that it is throwing a JavaScript error:
[code]

[2017-03-30 21:53] russelllogozar commented on #4884
@katmoon - Any update on MAGETWO-57181?  This appears to still be an issue in 2.1.4 CE and EE.

[2017-03-30 21:54] russelllogozar commented on #8905
@giacmir - See https://github.com/magento/magento2/issues/4884.  This is the same issue.

[2017-03-30 23:05] Januszpl commented on #1619
Unfortunately I work on some project with less and grunt instead of https://github.com/SnowdogApps/magento2-frontools that I have the pleasure to work in most of projects...  and I experience similar problems reported here...... I have to take a deeper look into it but overall it's not good experience ...

[2017-03-31 03:52] real34 commented on #6138
@shiftedreality what do you mean by "it is in develop"? I still see nothin as f today in https://github.com/magento/magento2/blob/99e85cbc45223baa3551e4c534b650c0d2c6358b/app/code/Magento/Cms/Model/Wysiwyg/Config.php#L161

Would it be possible to reopen this issue so it could be triaged by @magento-team or @vrann and included in the March milestone?

[2017-03-31 04:50] #4173 closed, assigned to nobody

[2017-03-31 05:59] shiftedreality commented on #6138
Looks like this fix was not delivered into 2.1 branch.
Found the intenal ticket that stuck MAGETWO-59690.
Thanks.

[2017-03-31 06:50] i95devdivya commented on #6683
Now patch is available from Magento for this issue
MDVA-3075_EE_2.1.3_v1_composer.patch         2/16/2017 2:47 PM

[2017-03-31 06:53] i95devdivya opened #9067 "sort by SKU not working properly if category set Anchor to Yes"
### Preconditions

1. Magento EE 2.1.3
2. PHP 7.0.14 & MySQL 5.7.16

### Steps to reproduce

1.	If category attribute Anchor set to Yes then in frontend category page it display the products of its own and it’s subcategories also.
2.	If you sort any category products by SKU, only that category products position will be changing not subcategory products position.
3.	So, first parent categories prod

[2017-03-31 06:54] Vinai opened #9068 "Implement static test to check for duplicate types in constructor signature."
This issue is based on the comment from @maghamed at https://github.com/magento/magento2/issues/6114#issuecomment-290387595

To quote:

[code]
So, this new static test has to check and prevent this situation.

### Preconditions
A class with a constructor duplicate object type constructor dependency

### Steps to reproduce
See above.

### Expected result
The static tests displays an error with a su

[2017-03-31 06:56] Vinai commented on #6114
@maghamed Great news, thank you for the update!

I agree that injecting two instances of the same type is a code smell (even if `shared="false"`).
A factory would be a better solution.
I also think that implementing a static check that checks for duplicate constructor dependencies is a different issue, so I opened #9068 for that reason.

Can you please reopen https://github.com/magento/magento2/pu

[2017-03-31 07:39] ClodClod opened #9069 "Show/Hide Editor sometimes not work"
HI guys,
sometimes, in pages and block, doesn't work Show/Hide editor (and there isn't any error in console js).

When click on this button nothing change and not show WYSIWYG editor.

![show-hide-editor-not-work](https://cloud.githubusercontent.com/assets/24482000/24541008/f40057ec-15f5-11e7-9b36-786560b04afd.JPG)

[2017-03-31 07:56] pixiesky commented on #8061
Can everyone check which locale static-content:deploy is putting files in, maybe even try to manually copy all files from US to your locale and see if the problem goes away? I'm hitting a different problem on a different project but I think this might be related; I don't have time for a while to test this theory.

[2017-03-31 08:02] splendidinternet commented on #8061
@KrystynaKabannyk
you had the chance for a call with the other contributors?
if not we could make a call next week.

[2017-03-31 08:05] Vinai commented on #9068
Good news, the static test already (kind of) exists:
`\Magento\Test\Integrity\Di\CompilerTest::testConstructorIntegrity()`

The validator in question is `\Magento\Framework\Code\Validator\TypeDuplication`

I've tried forcing the issue by creating a class with duplicate type dependencies in a third party module, but there are two things that prevent the type duplication check from working.

The met

[2017-03-31 08:12] josealgardataborges commented on #9010
@Ctucker9233 and you should not need to, *if* you have your cronjobs correctly setup. It's their 'job' to do it for you :)

[2017-03-31 08:13] pankajbhope opened #9070 "unable to upload .ico file for the favicon icon."
Hello Team,

I am unable to upload the .ico file from admin, It is throwing an error.

error : We don't recognize or support this file extension type.

It seems like the ui-component is for the uploader is not configured properly.

Here is the code snippet.

[code]

[2017-03-31 08:21] manish10188 commented on #5449
Please check "customer_entity" and check column 'failures_num',first_failure,lock_expires.
if not available than create
'failures_num',    smallint(6)     default 0
first_failure timestamp  default NULL
lock_expires. imestamp  default NULL

[2017-03-31 08:29] PascalBrouwers commented on #5648
Checked in latest develop version. Problem still exists.
Maybe you should make it more clear that having no weight creates virtual products.

[2017-03-31 08:34] michaeldyl520 opened #9071 "Missing required argument $readers of Magento\Framework\MessageQueue\Config\CompositeReader."
### Preconditions

1. Magento2.1.2 EE
2. php7.0.12
3.mysql5.7

### Steps to reproduce

1. in project folder.excuting php bin/magento setup:upgrade

### Expected result

[code]

What can I do?

[2017-03-31 08:37] CSnipper commented on #642
I've been searching this option in Magento, Presta, OpenCart, ZenCart, few Joomla scripts and only one script, SimpleCadyy has option, to embed multiple products witch options in one page. But it lacks all other features, like reports, advanced order management and others... It's ridiculous.

[2017-03-31 08:52] hwj727 commented on #4506
Hello guys, is there anyone solved this issue? I minified and merged the Javascript files and enable Javascript Bundling, but the bundled file is still very large(1M+), so home page load very slowly. I consider that can we use asynchronous js or move bundled js file to the foot of html body? But I don't know how to do that, if someone has good methods to solve this issue, please tell me, thanks ve

[2017-03-31 09:20] terrybakshi opened #9072 "Maximum allowed quantity message"
Maximum allowed quantity message

I set maximum quantity to one of of the products but when i add more than 1 quantity of that product, no message is appearing to notify That you have reached maximum allowed quantity of the product.

I am using Magento ver. 2.1.4

Link to the product is http://www.grocerydeals.com.au/dove-beauty-bar-exfoliating-4-pack.html

[2017-03-31 09:38] joni-jones commented on #9051
Hi, @NMills12, please, enable debug mode for Authorize.net payment and provide transaction details log, also is it possible attach response from `transact.dll` request (you can find in the browser console log).

[2017-03-31 09:43] Khaleel commented on #4506
@hwj727 One of the things we are doing:

 - Minifiying all HTML
 - Minifying all CSS
 - Serving CSS on CDN
 - Serving Images on CDN

I am going to try serving JS on the CDN too but there is a lot of JS which has PHP inside of it - such as Knockout files etc - so not sure about that. Magento bundling is poor

To place files at the bottom will only help a small amount as it is knockout dom rendering

[2017-03-31 10:28] AlexandreKhayrullin opened #9073 "js-translation.json generation incomplete"
### Preconditions
The Magento used is the "develop" branch.
PHP: PHP 7.0.10-1+deb.sury.org~xenial+1

### Steps to reproduce
1. Install a locale pack on Magento (in this case, the locale is es_ES)
2. Set Magento in production mode.
3. Display a UiComponent on frontend using the installed locale

### Expected result
1. The texts on the UiComponent are correctly translated

### Actual result
1. The t

[2017-03-31 11:21] Datalink-Wouter commented on #6683
Is this only available for EE? Not for CE?

[2017-03-31 11:47] johnny-longneck commented on #9045
Another one:
Changed default sort order in category in default config, it was not applied to all children using "default" settings. Had to change it to all categories to get it work.

[2017-03-31 11:47] VincentMarmiesse commented on #5309
I had the same issue.
Adding `admin/security/session_lifetime` to `86400` in `core_config_data` and flushing the cache solved it.

[2017-03-31 11:52] madc commented on #7457
I can confirm, that the issue still exists and the solution by @LOBsTerr solves it.

[2017-03-31 12:00] jeanpham commented on #2951
Hi Thomvanderboon, Thanks for your explanation. I have tried to follow your instructions, but unfortunately, it doesn't work. My Directory structure looks like this (please see screenshot). Is that correct?

https://snag.gy/OMEUr7.jpg

E.g. "Order Summary" is in the CSV, but it is not translated.

Thanks!

[2017-03-31 13:01] andriydeveloper opened #9074 "Format price issue in layer navigation"
3 products:
1 simple product. price is 100
2. simple product price is 100 and special price is 95
3. configurable product. Price is 100
   3.1 simple product. price is 100
   3.2 simple product. price is 100 and special price is 95
Result on category page.
http://dl3.joxi.net/drive/2017/03/31/0022/2218/1505450/50/6d5a11b05a.jpg

[2017-03-31 13:17] riprod commented on #6929
Has anyone hound a solution to this. We are at the point of reverting back to Magento 1.9.x
I am on 2.1.5 and every 4th or 5th order gives the "An error occurred on the server. Please try to place the order again" - This is obviously a bug

[2017-03-31 13:19] josealgardataborges commented on #6929
@riprod have you tried my solution (2 posts above?)

[2017-03-31 13:51] slackerzz commented on #4884
i've just opened a pull request to fix this issue. The fix is quite simple, open `/lib/web/mage/adminhtml/browser.js`, search for line 34 (in current develop branch line number is 54)

```if (this.modal) {```

inside function ```openDialog``` and change to

```if (this.modal && options !== undefined) {```

[2017-03-31 13:55] TommyKolkman commented on #8992
Please, at least acknowledge this. It's been 8 days!

[2017-03-31 13:57] Dart18 commented on #8222
This issue affects also CE 2.1.5.

[2017-03-31 14:03] dakzilla commented on #8509
Can confirm that the cookie is created in \Magento\Store\Controller\Store\SwitchAction for the wrong domain. The `store` cookie contains the store code from website A, but the domain the cookie is created for is website B. Magento starts acting very strangely because it thinks it's still on website A:

- In the browser, the address bar show that the URL is website B
- The theme and assets are load

[2017-03-31 14:22] TommyKolkman commented on #6671
@gustavogravina Can you confirm that if there are capitals in the URL keys this happens? I've just exported my product catalog to check and I've got a few. Also, some URL keys are empty.

Let me know because this issue has been bugging me for months now 😢

[2017-03-31 14:37] NMills12 commented on #9051
[transaction_logs.zip](https://github.com/magento/magento2/files/885972/transaction_logs.zip)
[Morley-Sanders authorize.net transaction examples.xlsx](https://github.com/magento/magento2/files/885973/Morley-Sanders.authorize.net.transaction.examples.xlsx)

Because we are using third party extension for Authorize .Net, we only have the log generated by extension. Those logs are attached in the zipp

[2017-03-31 14:42] gustavogravina commented on #6671
@TommyKolkman  Yes, in my case, the Capital in the url_key was the problem. Also, empy url or empty names in products caused problems in my setup. Good luck

[2017-03-31 14:43] riprod commented on #6929
Are you referring to testing an order in the back end ? I can't do that because it says "No Payment Methods available". Not sure why

[2017-03-31 14:49] kjasrotia commented on #5279
Yeah same problem here with my e-commerce store in Magneto 2.1.4

I have specified "State" field as mandatory for my Country, but during checkout the customer is able to add address without the State as it does not show as required.

During checkout it gives an "Error occurred on the server" error. When the State is provided in address the checkout goes thru.

This basic issue needs to be fixed AS

[2017-03-31 14:55] josealgardataborges commented on #6929
strange! Yes that was the only way i tracked the problem to a plugin.

[2017-03-31 14:57] springimport commented on #8976
@orlangur Maybe, I'm not sure.

[2017-03-31 14:58] joni-jones commented on #9051
Please, provide link to your 3d party extension for Authorize.net.

[2017-03-31 15:03] NMills12 commented on #9051
Here is the link.
https://store.paradoxlabs.com/magento2-authorize-net-cim-payment-module.html

[2017-03-31 15:09] kjasrotia opened #9077 "State/Province field doesn't show as required causes checkout error"
### Preconditions

1. Magento 2.1.4
2.

### Steps to reproduce

Similar issue as #5279 which was closed by customer but has not actually been fixed in Magento 2.1.4.

1. I have specified "State" field as mandatory for customer address for my Country (India) from Admin.
Stores > Setting Configuration > General > General > Country Options > State Options > State is Required for.

2. From store creat

[2017-03-31 15:15] joni-jones commented on #9051
I've tested your case on different Magento versions like 2.0.x, 2.1.x and develop branch, and all works as expected. I'll investigate this issue on our environment, but seems this issue in 3d party extension.

I have not an access to source code of this extension but seems it does not use Magento Authorize.net module implementation, also we do not provide support for 3d party extensions and you ne

[2017-03-31 15:20] NMills12 commented on #9051
We have also tried to reproduce the issue, but have been unable to do so. We see it is happening, but our team has not been able to determine why. We use the Paradox Labs authorize.net CIM extension to allow for shipping to multiple addresses, which the built-in authorize.net does not support.

We will reach out to Paradox Labs now.

[2017-03-31 15:43] joni-jones commented on #9071
The public Github is only for CE version of Magento. To solve your problem, please, create a ticket via [EE support](https://magento.com/support/enterprise-edition), thanks, for reporting.

[2017-03-31 15:43] #9071 closed, assigned to nobody

[2017-03-31 15:53] fedeverdi commented on #5929
Any news about the rewrite issue ?

[2017-03-31 16:30] AirmanAJK commented on #6929
The error message at checkout occurs essentially as a "catch all" for some part of the order creation process throwing in exception. Because there are many moving parts in order creation (plugins, events, etc), the straightforward way to figure out exactly why the order is failing is to restore a backup of the website to a development environment and debug the code. This is how I found out that my

[2017-03-31 17:41] tagesjump opened #9078 "Does not translate "Track All Shipments" in My Account, view order"
### Preconditions

Does not translate "Track All Shipments" in My Account, view order

### Steps to reproduce

1. create order as client
2. create shipment and add track number
3. go to the my account
4. open order view and chose  tab Order Shipments

### Expected result

1. Translated phrase "Track All Shipments"

### 	Reason: No call to the translation function

1. module-shipping/view/frontend/

[2017-03-31 18:16] tsuleehyudin opened #9079 ""Could not create acl object: Role '100' not found""
I'm Using magento 2 enterprise version 2.0.9.

I create a new user, role as admin (user_id 2). then i inactive user old user admin (user id 1). but after i inactivate user id 1. i cannot login anymore. the site show this error. please help.

`a:4:{i:0;s:49:"Could not create acl object: Role '100' not found";i:1;s:6556:"#0 --DIRTOSITE--/shared/var/generation/Magento/Framework/Acl/Builder/Proxy.php(

[2017-03-31 18:31] IvonWebdev commented on #6788
Hello. Any fixes? I have the same issue in EE

[2017-03-31 18:57] davidalger commented on #9064
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions and support. Feel free to reopen this issue if you think you have encountered a bug in Magento 2, and make sure to provide complete detail on how to reproduce and what the is

[2017-03-31 18:57] #9064 closed, assigned to nobody

[2017-03-31 19:00] piotrekkaminski commented on #9003
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-03-31 19:00] #9003 closed, assigned to alena-marchenko

[2017-03-31 19:00] piotrekkaminski commented on #8847
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-03-31 19:00] #8847 closed, assigned to nobody

[2017-03-31 19:00] piotrekkaminski commented on #7207
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-03-31 19:00] #7207 closed, assigned to nobody

[2017-03-31 19:00] piotrekkaminski commented on #5468
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-03-31 19:00] #5468 closed, assigned to nobody

[2017-03-31 19:00] piotrekkaminski commented on #2210
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2017-03-31 19:00] #2210 closed

[2017-03-31 19:26] jarhody commented on #5929
I am experiencing similar rewrite issues on 2.1.5.

[2017-03-31 19:29] IgorVitol opened #9081 "Magento EE 2.1.X installation failed - "sequence" tables used MyISAM"
### Preconditions
Magento version: 2.1.5 EE
Apache: 2.4.17
PHP: 7.0.10
MySQL: 5.7.9

### Steps to reproduce
Durring M2.1.5 EE installation (+sample data), "sequence_*" tables created with MyISAM engine - http://prnt.sc/db1ret , which leads to errors during adding data to such tables (Installation failed on step 6). Reason for such erros - sequence tables are using ForeignKeys, which is not support

[2017-03-31 19:30] sanutryzens commented on #8162
Have the same issue. Any fix for this?

[2017-03-31 19:57] AirmanAJK opened #9083 "Varnish can be poisoned by invalid X-Magento-Vary request header"
Magento appears to trust whatever value for X-Magento-Vary is given from the client as part of the request cookie. Normally this isn't a problem, but I've hit several scenarios where the wrong value was sent from the client, and the wrong version of the page is therefore cached for the target user.

For example,
If a session expires for a signed in user, but a request from the browser comes in usi

[2017-03-31 20:15] scottsb commented on #9003
@piotrekkaminski: this is categorically not a feature request. Telling users that there has been an error on the server just because they entered their credit card information wrong is a bug.

[2017-03-31 20:21] sbrendtro commented on #9003
@piotrekkaminski , I completely agree with @scottsb.  This is precisely why I created this as a bug, not a feature request.  Please reopen.

[2017-03-31 21:27] degaray commented on #5513
I have the same issue

[2017-03-31 22:44] Ctucker9233 commented on #9010
@josealgardataborges I have the following cron jobs: actual username is hidden
/usr/local/php56/bin/php-cli /home/username/public_html/bin/magento indexer:reindex
/usr/local/php56/bin/php-cli /home/username/public_html/bin/magento cron:run
/usr/local/php56/bin/php -cli /home/username/public_html/update/cron.php
/usr/local/php56/bin/php-cli /home/username/public_html/bin/magento setup:cron:run

Set

[2017-04-01 02:37] spyrule commented on #6671
@TommyKolkman @gustavogravina Is there any queries that anybody know to check for capital letters and/or blank URLs for both products and categories?

[2017-04-01 03:26] michaeldyl520 commented on #6477
Please rewirte paypal-express-abstract.js
[code]
You can resolve it.

[2017-04-01 08:15] michaeldyl520 commented on #9071
I sove the problem.Now share for others.
In your project,open vendor/magento/framework/App/Arguments/FileResolver/Primary.php
at line 32,change:
[code]
to
[code]

[2017-04-01 10:32] ewallkrishnaprakash commented on #6222
The mentioned commit was not working properly. Still i have face the issue after use the following commit.
https://github.com/magento/magento2/commit/3524943ac6544ee969480536ef6f0cd1a29b0b56

I have check the js confilicts, required resources everything fine. But still I have face the issue.
Kindly any one suggest a proper solutions for this issue.

I have using magento 2.1.1
I have face this issu

[2017-04-01 11:00] alrayn opened #9085 "ajax response on product page"
I use Magento 2.1.5
php 7.0.15
mysql 5.0.12

The dashboard work fine on Microsoft Edge but on other browser it's cant show the response of ajax requests . like Add Image or Add video or create configuration button ....elt

But it's send requst and shows on F12 like this : http://prntscr.com/er3oe0 or http://prntscr.com/er3omk

I try different computer and browser same problem just work on Edge 💯

[2017-04-01 11:24] peterzhao1981 commented on #6289
Hi @pantaoran ,

I also installed magento2 and varnish 5.0, but I can't see x-magento-cache-debug in the header, I have set the magento to developer mode, is there any other configuration for x-magento-cache-debug?

[2017-04-01 13:50] erikhansen commented on #6671
@spyrule You can reference the query [I posted above](https://github.com/magento/magento2/issues/6671#issuecomment-281187931) for how to do this for product urls and you can then tweak it for category urls.

[2017-04-01 14:06] erikhansen commented on #6671
In addition to the uppercase product urls, here are some other reasons I've found for why saving a category could result in a "URL key for specified store already exists" error:

# 1 - Product urls with uppercase url_key values

As many have already mentioned in this thread, products with uppercase url keys can cause this error. See [my previous comment](https://github.com/magento/magento2/issues/

[2017-04-01 14:06] Will-I4M commented on #8978
For the first issue (error http 400, without transaction in the braintree history, and in sale history). Something is going wrong in vendor/magento/module-quote/Model/QuoteManagement.php

In the function  `protected function submitQuote(QuoteEntity $quote, $orderData = []) `

I added some error_log calls (I know it's not the best way)

[code]
Nothing in the exception.log, nothing in debug.log
In t

[2017-04-01 15:03] eCommerceGorilla commented on #5260
Still an issue in 2.1.5

[2017-04-01 15:19] spyrule commented on #5260
@eCommerceGorilla There is no difference between 2.1.4 and 2.1.5 other than copyright info in the core config files. Just an FYI.

[2017-04-01 15:27] eCommerceGorilla commented on #5260
Actually, I have to retract my assertion of it not working. I have been trouble shooting this for a few hours and located the issue not in the core but MageMonkey for Magento 2. Clean install it is working without an issue.

If anyone else is running into this ensure that MageMonkey isn't the issue.