[2017-09-28 15:44] #10410 closed, assigned to nobody

[2017-09-28 15:45] orlangur commented on #11115
Looks like this module is not publicly available. Does not seem to be a valid bug report scenario to me anyway.

Can you reproduce this behavior using only builtin Magento features?

[2017-09-28 16:07] achatpc commented on #11107
I have perform a fresh install of magento 2.2 and a fresh empty database.

After, all rollback work. I am on my previous version 2.1.9. I stop to try to update to 2.2. I have worrie to lose all.

All is ok. Thank you for your time.

[2017-09-28 16:08] #11107 closed, assigned to nobody

[2017-09-28 16:14] orlangur commented on #11113
They are from the link I posted :) https://github.com/magento/magento2/issues/11113#issuecomment-332794096

The idea is to update Magento and its sample data in one request. Otherwise, if you only try to upgrade Magento, it is not compatible with old sample data.

Maybe some command like `composer update magento/product-community-edition:2.2 --with-dependencies` would work too.

It's not a problem

[2017-09-28 16:14] #11113 closed, assigned to nobody

[2017-09-28 16:30] magento-engcom-team commented on #10025
@dersam, thank you for your report.
We've created internal ticket(s) MAGETWO-80343 to track progress on the issue.

[2017-09-28 16:30] magento-engcom-team commented on #9172
@martijnhovinga, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-28 16:30] #9172 closed, assigned to nobody

[2017-09-28 16:38] rmendoza3 commented on #11095
I am having the same issue. I am also trying to upgrade from 2.1.9 to 2.2.0. I run into a "postcode is a required field." error and the setup:upgrade dies. If I find anything out I will be sure to update it here.

[2017-09-28 16:57] Silarn commented on #8018
FYI the upgrade to 2.2 is not simple if you have any third party modules / custom development.

[2017-09-28 17:06] roman204 commented on #11114
ok now it works, but i have to delete the hole vendor dir to get it installed in the correct version

[2017-09-28 17:06] #11114 closed, assigned to nobody

[2017-09-28 17:23] vanpoppel commented on #11112
Thanks for pointing this out. This wasn't what was causing the issue, but this does effect some of my modules.

Solution for my problem was too simple, first run:
`ohp bin/magento cache:flush`

[2017-09-28 17:28] orlangur commented on #11112
Oh, this is always first thing to try :) @tomnyson did cache clearing maybe solves your issue as well? Otherwise please confirm the problem not comes from any third-party extension or custom implementation.

[2017-09-28 17:29] craigcarnell commented on #11110
@orlangur One more. I know this can be fixed by updating the copy direct from the module author.

[code]

[2017-09-28 17:33] bangerkuwranger commented on #8018
@Silarn ...apparently maintaining a stable ecommerce ecosystem is not Magento's concern. Even patch updates have caused problems with third party modules and themes, regardless of whether or not they follow code conventions. Most long time Mage devs are facing whiplash because of Magento's 180 in development process for 2.x.  Yeah, it's great that the software is evolving and modernizing quickly,

[2017-09-28 18:00] rmevans1 opened #11124 "Magento 2.1.9 Configurable Sample Data Does not Install"
### Preconditions

1.  Magento 2.1.9

### Steps to reproduce

1.  Run from magento root
2.  php bin/magento module:enable Magento_ConfigurableSampleData
3.  php bin/magento setup:upgrade

### Expected result

1.  Configurable Sample Data Should Install

### Actual result

1. Installation fails with message Area code not set: Area code must be set before starting a session. Area code is not set

Ar

[2017-09-28 18:29] msawyers opened #11125 "Magento 2.2.0 CLI commands not working on PHP 7.1.9"
Preconditions

Magento v2.2.0
PHP 7.1.9

Steps to reproduce

1. Update source file with Magento 2.2.0
2. Install PHP 7.1.9 on server
3. Run Magento command to upgrade: php bin/magento setup:upgrade
4. Try other Magento commands: php bin/magento indexer:reindex, php bin/magento cache:flush

Expected Result:
1. System should start upgrading Magento 2.2.0
2. Indexer should reindex

Actual result
1. N

[2017-09-28 18:57] orlangur commented on #11096
Well, why did you lock it? Do also

`composer require tedivm/jshrink ~1.1.0 --no-update`

And then `composer update`.

[2017-09-28 18:57] #11096 closed, assigned to nobody

[2017-09-28 18:58] orlangur commented on #11091
Error message is pretty clear. Fix any block references with empty name, like `<referenceBlock name=""`.

[2017-09-28 19:01] orlangur commented on #11110
This is a known one :) As a workaround you can downgrade `pecl-redis` or apply the changes from linked PR. Can we close this issue now?

[2017-09-28 19:05] orlangur commented on #11125
Looks like an issue with your environment.

Try to enable `display_errors` https://github.com/magento/magento2/blob/2.2-develop/app/bootstrap.php#L11 to see what is actually happening.

[2017-09-28 19:07] Mohamed-Elwan commented on #11125
does other php commands ex.`php -v` gives you a result ?

[2017-09-28 19:20] craigcarnell commented on #11110
Yes thank you 👍

[2017-09-28 19:20] #11110 closed, assigned to nobody

[2017-09-28 20:24] msawyers commented on #11125
Thanks @orlangur. The environment was not displaying errors so I was unable to see what was the issue.
By displaying the error I found issue and was able to fix. Thanks

[2017-09-28 20:25] msawyers commented on #11125
However upgrade failed with error message:
Upgrading data.. Warning: SessionHandler::read(): open(tcp://localhost:11211/sess_32ed440814b6bdd8ec417334d5f28ee6, O_RDWR) failed: No such file or directory (2) in dev/vendor/magento/framework/Session/SaveHandler/Native.php on line 22

[2017-09-28 20:35] msawyers commented on #11125
Workaround at this link did not work: http://devdocs.magento.com/guides/v2.0/install-gde/trouble/php/tshoot_session.html

[2017-09-28 20:59] msawyers commented on #11125
I did not configure to use memcache. What is cause of this error?

[2017-09-28 21:01] inelukipg commented on #9775
@korostii I never developed in Magento1 only pre Magento1 (Good Old OsCommerce).

I think the expected behavior is strange. If I go to the local store and use a discount coupon (lets call it Fixed amount discount for whole cart) I would be suprised if the store would split up the discount insted of sum all groceries up and then subtract the discount.

@magento-engcom-team Ok thank you. Maybe I'll

[2017-09-28 21:09] rmevans1 opened #11128 "Discount code not working"
### Preconditions

1.  Magento 2.1.9

### Steps to reproduce

1.  Create an attribute
2.  Create product with attribute
3.  Create coupon code with following setup
![discount](https://user-images.githubusercontent.com/466178/30990535-af38c7f8-a46f-11e7-9ac3-bdb79fe6c07f.png)

### Expected result

1. Discount should give 10% off

### Actual result

1. No discount given.
2. If I use any of the two s

[2017-09-28 21:17] msawyers commented on #11125
Fixed by commenting out session.save.handler in  memcache.ini

[2017-09-28 21:17] msawyers commented on #11125
Thanks all

[2017-09-28 21:34] versdivers opened #11129 "MIME type is not valid image/png"
### Preconditions
1. Magento 2.2.0 (and also Magento 2.1.8)
2. PHP 7.0.2

### Steps to reproduce
1. Add Product Programmaticly with the following code
`  $productarray
                        ->setPrice($ex_productcollection['Price'])
                        ->setName($ex_productcollection['Name'])
                        ->setSku($ex_productcollection['SKU'])
                        ->setTypeId('

[2017-09-28 21:37] choukalos opened #11130 "Layered Navigation Supports Multi-Select Within Field Group"
### Card
**As a** customer I can select multiple filters within a filter group **so that** I can more quickly filter my search results down for price or preferred colors or other such criteria to quickly find what I'm looking to purchase.

### Notes / Details
- For performance testing would suggest use of B2C medium profile; performant defined as no more then a 3% degradation
- Example of multi-se

[2017-09-28 21:41] msawyers commented on #11125
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'ifconfig': The attribute 'ifconfig' is not allowed.
Line: 682

Can you assist with this issue as well?

[2017-09-28 21:59] versdivers commented on #11129
I use use Magento\Catalog\Model\ProductRepository to save the product and Magento\Catalog\Model\Product to set the product

[2017-09-28 22:23] versdivers commented on #11129
After some deeper digging i noticed that the only problem is with png filles?

[2017-09-29 00:32] magento-team commented on #10824
Internal ticket to track issue progress: MAGETWO-80102

[2017-09-29 00:32] magento-team commented on #9008
Internal ticket to track issue progress: MAGETWO-80225

[2017-09-29 00:32] magento-team commented on #9981
Internal ticket to track issue progress: MAGETWO-80225

[2017-09-29 00:32] magento-team commented on #6712
Internal ticket to track issue progress: MAGETWO-80112

[2017-09-29 00:55] juniox commented on #11121
As a workaround I have copied all entries related to removing blocks from my custom Magento_Theme/layout/default.xml to:
`./vendor/magento/theme-frontend-luma/Magento_Theme/layout/default.xml`

It seems my default.xml is somehow not getting triggered.

All these entries worked as expected:
`	<referenceBlock name="form.subscribe" remove="true" />`
`        <referenceBlock name="footer_links" remove

[2017-09-29 01:05] Silarn commented on #8018
Well, I can understand a major version having some compatibility issues. Most of the issues I've had have been due to the change in serialization. (and typically good third party devs who updated to use the new method but didn't covert the existing data...)

There really are some significant improvements. Indexing and compile times are vastly better. But there are a lot of small fixes that have ab

[2017-09-29 01:12] milansimek commented on #4662
Issue is still present in 2.1.7 and 2.2 rc

[2017-09-29 02:17] tomnyson commented on #11112
@orlangur  you right. I flushed cache for redis via
redis-cli flushall
my problem  resolved

[2017-09-29 03:50] Ayaname0330 opened #11131 "Magento 2.1.9 wysiwyg upload images broken in frontend"
# Preconditions
1.Magento 2.1.9

# Steps to reproduce
1.click the Insert/Edit image
2.choose a  image
3.save

# Expected result
1.the image show in frontend

# Actual result
1.the image broken
2.the url contains '/cms/wysiwyg/directive/___directive'

[2017-09-29 04:38] darkredz commented on #5788
As of version 2.1.8 as well as 2.2 GA I am still getting the exact same error. Step to reproduce are the same as above mentioned

[2017-09-29 04:50] msawyers commented on #11116
Received similar error when upgrade to Magento 2.20:

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'ifconfig': The attribute 'ifconfig' is not allowed.
Line: 682

Element 'body': Character content other than whitespace is not allowed because the content type is 'element-only'.
Line: 710

Element 'move': This element is not exp

[2017-09-29 05:30] magento-engcom-team commented on #8069
@BarnyShergold, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-29 06:01] am2008 commented on #10531
436k products:
2.2 - 6+ hours
2.2(with fix @ashuston) - 7+ hours

[2017-09-29 06:23] magento-engcom-team commented on #10809
@hudson1998x Thanks for the feedback.

[2017-09-29 06:30] magento-engcom-team commented on #10195
@dankocherga, thank you for your report.
We've created internal ticket(s) MAGETWO-71006 to track progress on the issue.

[2017-09-29 06:30] magento-engcom-team commented on #5993
@paales, thank you for your report.
We've created internal ticket(s) MAGETWO-67547 to track progress on the issue.

[2017-09-29 06:30] magento-engcom-team commented on #11116
@slayerbleast, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-29 06:30] magento-engcom-team commented on #10809
@hudson1998x, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-09-29 06:30] #10809 closed, assigned to magento-engcom-team

[2017-09-29 07:30] magento-engcom-team commented on #8671
@zkliouel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-09-29 07:30] #8671 closed, assigned to nobody

[2017-09-29 07:55] orlangur commented on #11112
Ok, thanks for quick response, http://devdocs.magento.com/guides/v2.2/comp-mgr/cli/cli-upgrade.html#upgrade-cli-upgr currently covers only cache stored in file system, probably would be better to replace by `php bin/magento cache:flush`.

[2017-09-29 07:55] #11112 closed, assigned to nobody

[2017-09-29 08:01] kervin commented on #11095
Same issue. @magento-engcom-team, create a tax rule without postcode first, then setup:upgrade.. seems obvious.

Test properly before saying "Can not reproduce"!

[2017-09-29 08:01] orlangur commented on #11125
@msawyers see https://github.com/magento/magento2/issues/11116#issuecomment-332877310, layout declarations shall correspond to XSD schema - most likely such `ifconfig` worked only for `<block` declaration anyway.

Could you please close this issue and report a new one if you meat any Magento bug?

[2017-09-29 08:04] magento-engcom-team commented on #6709
Hi @korostii
Please note that this issue report remains open for now. It may be closed when fix is backported into `2.2.x` or `2.3` is released.
We are considering to publicly announce guidelines for the GitHub tracking issues in future.
Thank you for collaboration.

[2017-09-29 08:16] dmanners commented on #11129
Hi @versdivers do you know if the error happens on the `$sourceMimeType != $imageContent->getType()` or the `!$this->isMimeTypeValid($sourceMimeType)` part of the following if?

[code]

[2017-09-29 08:25] magento-engcom-team commented on #11121
@juniox Thanks for reporting this issue.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-09-29 08:26] magento-engcom-team commented on #11131
@Ayaname0330, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-09-29 08:30] magento-engcom-team commented on #10095
@yumicom, thank you for your report.
We've created internal ticket(s) MAGETWO-70472, MAGETWO-80384 to track progress on the issue.

[2017-09-29 08:30] magento-engcom-team commented on #9979
@kaushalsutharhs, thank you for your report.
We've created internal ticket(s) MAGETWO-70108 to track progress on the issue.

[2017-09-29 08:30] magento-engcom-team commented on #5726
@ngashokkumar, thank you for your report.
We've created internal ticket(s) MAGETWO-70043 to track progress on the issue.

[2017-09-29 08:30] magento-engcom-team commented on #10035
@jhruehl, thank you for your report.
We've created internal ticket(s) MAGETWO-80388 to track progress on the issue.

[2017-09-29 08:30] magento-engcom-team commented on #9988
@harimayco, thank you for your report.
We've created internal ticket(s) MAGETWO-70101 to track progress on the issue.

[2017-09-29 08:30] magento-engcom-team commented on #6415
@paales, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 08:30] #6415 closed, assigned to nobody

[2017-09-29 08:50] magento-engcom-team commented on #11124
@rmevans1, thank you for your report.
module "Magento_ConfigurableSampleData" depends on "Magento_CatalogSampleData" and "Magento_ProductLinksSampleData".
You can try to use the following steps:
1. php bin/magento module:enable Magento_CatalogSampleData Magento_ProductLinksSampleData Magento_ConfigurableSampleData
2. php bin/magento setup:upgrade
and please let us know, if any issues still occur.

[2017-09-29 09:00] magento-engcom-team commented on #8247
@vssenthil11, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sourc

[2017-09-29 09:00] #8247 closed, assigned to magento-engcom-team

[2017-09-29 09:03] jayachandrann opened #11135 "Hide Tax row from cart summary"
From Shopping cart & Check out pages, I want to hide Tax row printed with the tax calculations.

I only want to hide the calculated tax row from the entire website during checkout, while the tax will be shown in the invoice printed and sent to the customer during despatch of product.

Which means complete tax calculation should be working on the website, but the same should not be displayed to the

[2017-09-29 09:10] dmanners commented on #11135
Hi @jayachandran1974 GitHub is used for raising issues and providing code changes to Magento. If you are looking for assistance with coding I can highly recommend [Magento Stackexchange](https://magento.stackexchange.com/) or [the Magento Forums](https://community.magento.com). Both these portals should be a great place to start with coding questions.

[2017-09-29 09:10] #11135 closed, assigned to nobody

[2017-09-29 09:18] dmanners commented on #11034
Hi @spiegl is the command line user the same as the web user? I think this problem could be due to the web user also requiring access to git hub via keys also. You could try adding the github key to the webuser or updating the repository to work over https rather than ssh.

[2017-09-29 09:18] cproboscht commented on #10578
i'm working on it

[2017-09-29 09:21] bka commented on #10618
I was not able to reproduce this one on 2.2-develop

[2017-09-29 09:24] denysbabenko commented on #10421
I'm working on this issue.

[2017-09-29 09:27] okorshenko commented on #10618
### Updated Steps to Reproduce:

*Preconditions:*
* Install Magento 2 CE

*Steps to reproduce:*
* Go to *Products* -> *Catalog*  -> Create new Simple product
* Fill next data
** Name - Simple
** Sku - Simple
** Price - 100
** Advanced pricing:
*** Special price - 50
*** Special price from - click go Today button
*** (!) Do not fill the field Special price to
** qty - 1000
** Category - cat
* Save

[2017-09-29 09:30] magento-engcom-team commented on #9884
@AlekosDordas, thank you for your report.
We've created internal ticket(s) MAGETWO-70167 to track progress on the issue.

[2017-09-29 09:30] magento-engcom-team commented on #8666
@zamocom, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 09:30] #8666 closed, assigned to nobody

[2017-09-29 09:30] magento-engcom-team commented on #9720
@mam08ixo, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-09-29 09:48] onlineous commented on #4756
I know this might be considered a bump of an old(er) topic, but I solved this problem in a way I haven't read before.

When viewing the server logs I noticed the time was one hour off. I'm in the GMT + 1 region. It seems like Magenta does something weird with servertime (something like adding GMT + 1 (servertime) and GMT + 1 (magento time)). Using the GMT timezone in Magento immediately fixed the

[2017-09-29 09:49] barryvdh commented on #11131
I have the same issue. After inserting image via the editor -> Insert Image -> browse, the link looks like `http://mydomain.com/admin_123/cms/wysiwyg/directive/___directive/e3ttZWRpYSB1cmw9Ind5cqLWRlLWtpcC5wbmcifX0%2C/key/2cda8ae0fd4ce300714c145c72b7c42a99a3fb2fa2485584/`
This link isn't replaced when saving and will 404 when shown on the frontend.

[2017-09-29 10:02] strell commented on #10780
I would like to work on this isssue.

[2017-09-29 10:05] korostii commented on #4237
Care to comment @magento-engcom-team ?
Please see the last comment by @hostep

[2017-09-29 10:07] magento-engcom-team commented on #4237
@korostii Thanks for pointing out

[2017-09-29 10:08] bka commented on #10618
I cannot find any issue here, or I don't get the expected behaviour. If I leave **Special price to** _empty_ what should be saved? I think it could be valid to leave this field empty, or otherwise make it a required field. Special price is also applied if I create a special price from todays date and leave **Special price to** empty, to me everything looks valid on 2.2-dev

![auswahl_036](https://

[2017-09-29 10:10] korostii commented on #10303
@andidhouse Well yes, that makes sense.
Except for the fact that the resources assigned to investigate older issues are limited to the level where they don't really care if the issue is present on older versions - as long as it's not reproducible on 2.2 anymore.
Magento 2.2 bugs come first, everyone else using 2.1.x has to either wait. or upgrade to 2.2 (at their own risk) or mitigate the issues t

[2017-09-29 10:23] kervin commented on #8018
Ok. After the 10th critial bug fix... I am staying on 2.1.8 for now.

I am trying to port the bugfixes manually from 2.2.0 to 2.1.8

[2017-09-29 10:23] Zifius commented on #10909
This is controlled by an option in Configuration -> Catalog -> Catalog -> Downloadable Product Options, Use Content-Disposition which is set to "inline" by default. Perhaps it should be changed to "attachment"

[2017-09-29 10:24] korostii commented on #10775
@magento-engcom-team I think you're missing the point.
The issue was clearly valid and had just the right amount of information on it.
If it has plenty info for a PR (BTW thank you @Zifius for coming forward #11134 ), it should be enough of a "clear issue report".

Dismissing the issue after manual review with comment that's clearly hostile (I mean, caps? http://take.ms/MWYka was that really neces

[2017-09-29 10:30] magento-engcom-team commented on #10869
@steros, thank you for your report.
We've created internal ticket(s) MAGETWO-80421 to track progress on the issue.

[2017-09-29 10:30] magento-engcom-team commented on #8579
@stasleo, thank you for your report.
We've created internal ticket(s) MAGETWO-80424 to track progress on the issue.

[2017-09-29 10:30] magento-engcom-team commented on #8960
@jzahedieh, thank you for your report.
We've created internal ticket(s)  to track progress on the issue.

[2017-09-29 10:30] magento-engcom-team commented on #10150
@sergeynezbritskiy, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 10:30] #10150 closed, assigned to nobody

[2017-09-29 10:37] ishakhsuvarov commented on #10775
I have to lock this conversation as it is now beyond

Thanks for collaboration. Fix for the issue hopefully will be delivered with the next patch for `2.2`.

[2017-09-29 10:39] korostii commented on #7000
Well, here's 2.2 release.
There goes nothing! =)

[2017-09-29 11:02] magento-engcom-team commented on #11091
@tblpraveen, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-29 11:02] #11091 closed, assigned to nobody

[2017-09-29 11:05] magento-engcom-team commented on #11082
@devqualwebs, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-09-29 11:05] #11082 closed, assigned to nobody

[2017-09-29 11:18] pvalium commented on #9744
Same problem in 2.1.8 EE.  Occurs on 2nd checkout for logged in user, using steps described above.

[2017-09-29 11:30] magento-engcom-team commented on #9537
@gizmocn, thank you for your report.
We've created internal ticket(s) MAGETWO-70278 to track progress on the issue.

[2017-09-29 11:30] magento-engcom-team commented on #10363
@miquelcoma, thank you for your report.
We've created internal ticket(s) MAGETWO-80436 to track progress on the issue.

[2017-09-29 11:30] magento-engcom-team commented on #9799
@tonybrown85, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 11:30] magento-engcom-team commented on #9817
@oroskodias, thank you for your report.
We've created internal ticket(s) MAGETWO-70102 to track progress on the issue.

[2017-09-29 11:30] magento-engcom-team commented on #10400
@toddrobards, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 11:30] #10400 closed, assigned to nobody

[2017-09-29 11:30] magento-engcom-team commented on #7065
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-59860 to track progress on the issue.

[2017-09-29 11:30] magento-engcom-team commented on #9763
@michaeldyl520, thank you for your report.
We've created internal ticket(s) MAGETWO-70198 to track progress on the issue.

[2017-09-29 11:30] magento-engcom-team commented on #10168
@DesignDesignInc, thank you for your report.
We've created internal ticket(s) , MAGETWO-80428 to track progress on the issue.

[2017-09-29 11:30] magento-engcom-team commented on #9894
@luigi-pelosi, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 11:50] toshz commented on #7739
Same issue here. Trying to send two emails. One for order confirmation and the other is for a specific type of product from the same order. I get this error:
==> var/log/system.log <==
[2017-09-29 11:33:11] main.ERROR: From Header set twice [] []

[2017-09-29 12:19] dmanners commented on #11122
Hi @rigu12, thank you for reporting this issue. There is a couple of bits of information that are needed to reproduce the issue before it can be processed. Have a look at the [guidelines for reporting issues](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines). Mostly we would need Magento version and also it would be good to know if there was anything in you log files that might

[2017-09-29 12:25] ashuston commented on #10531
Is 2.2 performing well? Worried to upgrade just yet.

[2017-09-29 12:30] magento-engcom-team commented on #8426
@tranductrong92, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 12:30] #8426 closed, assigned to nobody

[2017-09-29 12:30] magento-engcom-team commented on #10078
@almuete, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 12:30] #10078 closed, assigned to nobody

[2017-09-29 12:30] magento-engcom-team commented on #9529
@wibbel, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 12:30] #9529 closed, assigned to nobody

[2017-09-29 12:30] magento-engcom-team commented on #10314
@RishabhRkRai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 12:30] #10314 closed, assigned to nobody

[2017-09-29 12:30] magento-engcom-team commented on #7930
@MattDelac, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 12:30] #7930 closed, assigned to nobody

[2017-09-29 12:30] magento-engcom-team commented on #9773
@RedAtRareCandy, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-29 12:30] magento-engcom-team commented on #8670
@maderlock, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-29 12:32] orlangur commented on #10531
@ashuston probably acceptable as previously it was mentioned 24+ hours for 300k: https://github.com/magento/magento2/issues/10531#issuecomment-328267770

@am2008 did you mean 2.2 is not so bad?

Or some previous `2.1.x` versions managed to do it in 2-3 hours?

[2017-09-29 12:33] bka commented on #10489
@okorshenko I'll have a look into this one.

[2017-09-29 12:39] ashuston commented on #10531
@orlangur Yes, I was wondering if 2.2 fixed this indexing bug. I am worried about upgrading and breaking the indexing again. At least the other fix works for now..

[2017-09-29 12:45] mayankzalavadia opened #11139 "Product Repeat Isuue after filter on category listing page."
Product Repeat Issues after apply price filter on category listing page. Same products display on next page. Also sometimes it gives me random products.
### Preconditions

1. Magento 2.1.7
2. Magento 2.1.8
3. Magento 2.1.9
4. Magento 2.2.0

### Steps to reproduce

1. Install Magento with Sample Data.
2. Go to Man > Tops Category
3. Click on Price filter and try to filter which shows a maximum prod

[2017-09-29 12:48] TomashKhamlai commented on #10654
The [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html) suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2017-09-29 12:48] #10654 closed, assigned to magento-engcom-team

[2017-09-29 12:51] #9128 closed, assigned to nobody

[2017-09-29 12:58] DeepPopat commented on #11139
I have also faced the same issue in my two sites. But when I enable  `"Use Flat Catalog Product" = YES `then it shows me perfect result.

[2017-09-29 13:00] mayankzalavadia commented on #11139
Yes, I know about that. But I think is not the proper solution. It should be work when "Use Flat Catalog Product" = NO.

[2017-09-29 13:07] epicglows commented on #10838
@jhruehl I'm not sure how to apply your patch - I have no /vendor/magento/module-customer directory.
Could you please explain how to apply your patch? Thanks!

[2017-09-29 13:08] rishabhchd19 commented on #10941
It happens on Landing Page only, not on selecting any Category or Category Product. On Landing page under Content> Pages>>Landing Page I have edited shown in picture 1

and edited Custom XML under Design as Layout: 2 columns with left bar and Layout Update XML as shown in picture 2.

If keep Landing page clear and no Layout update, the NEW PRODUCTS "Items 1 to 4 of 16 total"  shows at the top left

[2017-09-29 13:16] am2008 commented on #10531
@orlangur Влад, если есть желание, можем обсудить. Нужен контакт.

[2017-09-29 13:20] bizzi commented on #10660
I also encountered this issue.
Only thing I found is that Magento checkout [cache](https://github.com/magento/magento2/blob/2.1/app/code/Magento/Checkout/view/frontend/web/js/model/cart/cache.js#L18) using that section name and when it should be deleted there is null value setted to that 'cart-data' section key.

As I see [totals-processor](https://github.com/magento/magento2/blob/2.1/app/code/Mag

[2017-09-29 13:21] abovebar commented on #10531
i have installed 2.2 but am seeing a few errors i believe are related to some extensions that i have installed... other than that all seems to be working well

[2017-09-29 13:22] ajourquin commented on #10591
Magento does not use the temporary table (catalog_category_product_index_tmp) while reindexing catalog_category_product.

The result is that the main index table (catalog_category_product_index) is cleared before reindex is done and cause this issue.

To use the temporary table just tell Magento to use it in [app/code/Magento/Catalog/Model/Indexer/Category/Product/Action/Full.php](https://github.c

[2017-09-29 13:27] #7951 closed, assigned to nobody

[2017-09-29 13:29] okorshenko commented on #10209
@mayankzalavadia invitation sent. Would like to work on this issue?

[2017-09-29 13:30] magento-engcom-team commented on #9977
@daniel-ifrim, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 13:30] #9977 closed, assigned to nobody

[2017-09-29 13:30] magento-engcom-team commented on #10073
@sergei-sss, thank you for your report.
We've created internal ticket(s) MAGETWO-80451 to track progress on the issue.

[2017-09-29 13:30] magento-engcom-team commented on #9608
@hanssulo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 13:30] #9608 closed, assigned to nobody

[2017-09-29 13:30] magento-engcom-team commented on #9991
@noprobz09, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 13:30] #9991 closed, assigned to nobody

[2017-09-29 13:30] magento-engcom-team commented on #9931
@johnny-longneck, thank you for your report.
We've created internal ticket(s) MAGETWO-80444 to track progress on the issue.

[2017-09-29 13:30] magento-engcom-team commented on #9515
@wigman, thank you for your report.
We've created internal ticket(s) MAGETWO-70281 to track progress on the issue.

[2017-09-29 13:30] magento-engcom-team commented on #8251
@Buy-bg, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 13:30] #8251 closed, assigned to nobody

[2017-09-29 13:30] magento-engcom-team commented on #9980
@Scqualo71, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 13:30] #9980 closed, assigned to nobody

[2017-09-29 13:30] magento-engcom-team commented on #7516
@micheleo, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 13:30] #7516 closed, assigned to nobody

[2017-09-29 13:30] magento-engcom-team commented on #9728
@pradeep38mail, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 13:30] #9728 closed, assigned to nobody

[2017-09-29 13:33] jchesko commented on #1515
We are still seeing this issue in 2.1.9

[2017-09-29 13:38] mayankzalavadia commented on #10209
Yes I Would like to work on this issue.

[2017-09-29 13:44] ShapesGraphicStudio commented on #8570
Still not fixed in 2.1.9.

[2017-09-29 13:46] okorshenko commented on #10499
Some improper comments have been removed from the discussion

[2017-09-29 13:49] okorshenko commented on #10824
Hi @theodorhanu the issue has been fixed in #11076 and will be available in 2.2.1

[2017-09-29 13:49] #10824 closed, assigned to nobody

[2017-09-29 13:50] dmanners commented on #11100
@rmevans1 are there any JS errors showing up in the browser's console?

[2017-09-29 13:53] okorshenko commented on #10499
Reopening this issues. We will double check it on 2.1.9 and 2.2.0

[2017-09-29 13:54] okorshenko commented on #10499
Please let us know if you still have this issue on 2.1.9 or 2.2.0

[2017-09-29 13:54] magento-engcom-team commented on #10636
@sankar1061, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 13:54] #10636 closed, assigned to alena-marchenko

[2017-09-29 13:55] magento-engcom-team commented on #10554
@AndrewPenry, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 13:55] #10554 closed, assigned to alena-marchenko

[2017-09-29 13:55] magento-engcom-team commented on #10503
@GuerrillaCoder, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 13:55] #10503 closed, assigned to alena-marchenko

[2017-09-29 13:56] okorshenko commented on #10499
@gewaechshaus what Magento Edition are you running? Magento Cloud Edition (MCE) or Magento Community Edition? (Magento Open Source)

[2017-09-29 13:56] magento-engcom-team commented on #10028
@yatping, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 13:56] #10028 closed, assigned to alena-marchenko

[2017-09-29 13:58] magento-engcom-team commented on #8411
@tanghia, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 13:58] #8411 closed, assigned to magento-engcom-team

[2017-09-29 13:58] magento-engcom-team commented on #8441
@AbdulKadir-Agoliya, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 13:58] #8441 closed, assigned to magento-engcom-team

[2017-09-29 13:59] magento-engcom-team commented on #10842
@jigar48, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 13:59] #10842 closed, assigned to magento-engcom-team

[2017-09-29 14:00] magento-engcom-team commented on #10723
@tomnyson, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 14:00] #10723 closed, assigned to magento-engcom-team

[2017-09-29 14:04] magento-engcom-team commented on #10813
@cckassis Closing as duplicate of #6929
Please reopen if you think this is a different issue.

[2017-09-29 14:04] #10813 closed, assigned to magento-engcom-team

[2017-09-29 14:06] magento-engcom-team commented on #10843
@MrDaar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 14:06] #10843 closed, assigned to nobody

[2017-09-29 14:07] magento-engcom-team commented on #10419
@wcldharamveer, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-09-29 14:29] ikis1520 commented on #5530
How @rotanev not work for my I change from document.ready to use setTimeout and work fine thanks @rotanev

Temporary solution (saves his time and nerves):

    Make copy of vendor/magento/module-theme/view/frontend/web/js/view/messages.js file:

[magento@server webhome]# cp vendor/magento/module-theme/view/frontend/web/js/view/messages.js \
app/design/frontend/<VendorName>/<theme>/Magento_Theme/we

[2017-09-29 14:30] magento-engcom-team commented on #9486
@justinsyatnam, thank you for your report.
We've created internal ticket(s) MAGETWO-70217 to track progress on the issue.

[2017-09-29 14:30] magento-engcom-team commented on #10010
@jhruehl, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 14:30] #10010 closed, assigned to nobody

[2017-09-29 14:30] magento-engcom-team commented on #9878
@tawfekov, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 14:30] #9878 closed, assigned to nobody

[2017-09-29 14:30] magento-engcom-team commented on #9505
@thdoan, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-09-29 14:30] #9505 closed, assigned to nobody

[2017-09-29 14:30] magento-engcom-team commented on #11139
@mayankzalavadia, thank you for your report.
We've created internal ticket(s) MAGETWO-80457 to track progress on the issue.

[2017-09-29 14:30] magento-engcom-team commented on #8744
@btwq, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-09-29 14:30] #8744 closed, assigned to nobody

[2017-09-29 14:30] magento-engcom-team commented on #10079
@grizwako, thank you for your report.
We've created internal ticket(s) MAGETWO-80464 to track progress on the issue.

[2017-09-29 14:30] magento-engcom-team commented on #8157
@TClilMouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 14:30] #8157 closed, assigned to antboiko

[2017-09-29 14:30] magento-engcom-team commented on #8134
@TClilMouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-09-29 14:30] #8134 closed, assigned to antboiko

[2017-09-29 14:30] magento-engcom-team commented on #9866
@steros, thank you for your report.
We've created internal ticket(s) MAGETWO-80466 to track progress on the issue.

[2017-09-29 14:30] magento-engcom-team commented on #8114
@geon, thank you for your report.
We've created internal ticket(s) MAGETWO-80459 to track progress on the issue.

[2017-09-29 14:30] magento-engcom-team commented on #6287
@alexgoodey, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-09-29 14:36] AlexanderHuyghebaert commented on #9505
And can you say where it is fixed? Because I won't upgrade anymore because each time everything is broken.

[2017-09-29 14:44] tawfekov commented on #9878
@magento-engcom-team, I believe I faced it on `2.1.6` as I mentioned above , maybe it was fixed on newer versions  , I'll try to test it again this weekend on the versions you mentioned , thank you

[2017-09-29 14:52] koenner01 opened #11140 "Going to '/admin' while using storecodes in url and a different adminhtml url will throw exception"
If you are using an adminhtml url that is different from 'admin' and set the 'Add Store Code to Urls' to 'Yes', going to '/admin' will throw an exception

### Preconditions
1. PHP7.0
2. M2.1.9 CE (we also tested 2.1.7 CE and 2.2.0 CE)

### Steps to reproduce
1. use a different url than 'admin' for the adminhtml
2. set 'Stores' > 'Configuration' > 'General' > 'Web' > 'Add Store Code to Urls' to 'Ye

[2017-09-29 14:53] koenner01 commented on #11140
This was already reported in https://github.com/magento/magento2/issues/9947 but closed because of 'inability to reproduce'

[2017-09-29 15:01] teoteo opened #11141 "[REST API] Translation issues with the customizable options on catalogProductRepositoryV1"
### Preconditions
I can see the solved issue Translation issues with the customizable options #8251
Setting options with Rest API for **store_views** the options are added to **all** scope
I use [PUT https://URL/index.php/rest/en/V1/products/{sku}](http://devdocs.magento.com/swagger/index_22.html)
on Magento version: Community edition 2.2

### Steps to reproduce
Set a Magento store with store view

[2017-09-29 15:04] Boumii opened #11142 "Errormessage when saving Catalog SEO settings for Category URL Suffix"
### Preconditions
Magento CE 2.1.9 / Ubuntu 16.04 / Apache 2.4.18 / MySQL Ver 14.14 Distrib 5.7.19 / PHP 7.0.22

### Steps to reproduce
1. Go to Shop->Configuration->Catalog->Catalog->Searchengineoptimisation
2. Remove Checkbox from Category-URL-Suffix
3. Change the default value ".html" to "" (empty)
4. Klick save Configuration

### Expected result
1. Saved Configuration, Category-URL shouldnt ha

[2017-09-29 15:06] OnkelTem commented on #7413
Guys, I don't get - what is G1 Passed means? What commit is fixing the issue? @olysenko

[2017-09-29 16:03] tadhgbowe commented on #10673
Hello.
This is also an issue in 2.1.x. We have a 2.1.7. install and it's messing up big time. We have 6 locales in play. Not pretty.
So our deployment process to staging/live calls "bin/magento deploy:mode:set production".
At some point it calls a function deployStaticContent(...) in module-deploy/Model/Filesystem.php
You'll notice in here the line of code:
$cmd = $this->functionCallPath . 'setup:

[2017-09-29 16:22] QwertyZW commented on #11102
@orlangur  the url_rewrite table was corrupted by an external module

[2017-09-29 16:29] versdivers commented on #11129
@dmanners  i will check and let you know

[2017-09-29 17:01] okorshenko commented on #10618
@Olek89 could you please confirm that the issue still exists?

[2017-09-29 17:02] okorshenko commented on #10618
@bka thank you for investigation

[2017-09-29 17:30] jsypolt opened #11144 "Coupon code discounts are applied twice (to both order grand total and invoice grand total)"
### Preconditions

1. Magento 2.1.9

### Steps to reproduce

1. Create a Cart Price Rule with a specific coupon code that applies a fixed about to the entire cart.
2. In the admin area, create an order for a customer with 2 items so that the order total is greater than the discount amount and apply the code. Submit the order. My test orders also had a shipping cost.
3. Invoice the order.

### Expe

[2017-09-29 17:38] LuisFReis opened #11145 "Rest API return: Consumer is not authorized to access %resources"
I have a local installation of Magento 2 where everything is configured and all the API works fine

I'm doing an app for a client also with Magento 2
Done the same confugurations
And the site always returns
      Consumer is not authorized to access %resources
There is anyconfiguration in Magento that we need to configure?

If we give the Guest Access, everything works

We'checked the access keys

[2017-09-29 18:34] jehzlau commented on #8807
Got the same issue using M2.1.9. :D Good thing I'm not alone.

[2017-09-29 18:45] ayoung530 opened #11149 "magmi - updating configurable product and getting error"
### Preconditions
Using Magento version 1.9.2.2
Using MAGMI v0.7.22
1.  I have existing configurable products linked to simple products
2.  These were uploaded in the past with no problem
3.  I used the attribute "simple_attribute_pricing"  to input prices for the simple products that would appear under that page "Associated Products" as a fixed step up in price.    an example of the original synt

[2017-09-29 18:53] orlangur commented on #11102
And? Such external module must be fixed then.

It has nothing to do with `url_rewrite`, it checks EAV attributes table and it is absolutely correct.

Please provide a valid scenario and format issue accordingly. With current explanation it looks like there is nothing to fix in core.

[2017-09-29 19:33] rmevans1 commented on #11124
Yes the error still occurs.

[2017-09-29 19:41] QwertyZW commented on #11102
Nope.

`doesEntityHaveOverriddenUrlAttributeForStore`  checks the EAV attributes table `doesEntityHaveOverriddenUrlKeyForStore` simply calls the former

By scenario do you mean something that has to be done through the GUI? Because I can simply truncate `url_rewrite` to recreate what the broken module was doing.

[2017-09-29 20:01] orlangur commented on #11102
Scenario is anything you can do programmatically or via GUI. Issue template is mandatory, it is generic enough for any type of issue.

`url_rewrite` table must be always in sync with `url_key` entity attributes. If such integrity is broken it's pretty easy to meet collision in URL rewrites for such entities.

As I said before, buggy module needs to be fixed, database may be either restored from la

[2017-09-29 20:01] #11102 closed, assigned to nobody

[2017-09-29 20:26] orlangur commented on #11149
This is Magento 2 repository, not Magento 1.

Problems with MAGMI should be reported to MAGMI vendor anyway. Looks like https://understandinge.com/forum/all-things-coding/magmi-and-configurable-products/#p6342 is something you was looking for.

[2017-09-29 20:26] #11149 closed, assigned to nobody

[2017-09-29 20:32] orlangur commented on #11145
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. Also, googling observed error is usually helpful.

Seems like http://devdocs.magento.com/guides/v2.2/get-started/authentication/gs-authentication-token.html should help.

[2017-09-29 20:32] #11145 closed, assigned to nobody

[2017-09-29 20:48] rmevans1 commented on #11100
No errors. I examined the actual request when the image is clicked on and it returns the json representing the original configurable product's gallery

[2017-09-29 22:11] JoostWan commented on #11095
Same issue here. To fix this check the table **tax_calculation_rate**. When the field tax_postcode is empty enter a *

Then the upgrade will work.

[2017-09-29 22:12] romeof1980 commented on #10154
hi there,
same issue for us when upgrading from 2.1.8 to 2.1.9
no sandbox account, we're in production.

thanks,
romeo

[2017-09-29 22:39] choukalos opened #11151 "Enable Cache Monitoring in Magento 2"
*As a* developer I would like an easy way to monitor Magento's full page cache efficiency *so that* I can code my customizations to maximize FPC cache hit rate

*As a* systems admin setting up a SOHO (<$1M/year rev) merchant on a single machine/VM I would like an easy way to monitor cache hit rates *so that* I can easily identify extensions that negatively impact cache hit rates

*Notes:*
* Check

[2017-09-29 22:59] juniox commented on #11121
Hello guys,
I´m afraid I dont have further details to provide. Basically I have a custom theme which has been working along all 2.0.x versions. I have just upgrated to 2.2 throughout "Web Setup Wizard" and it completed normally but I noticed my theme was not loading appropriatedly.

After some throubleshooting, I double checked all file/directory permissions, redeploy static content several times,

[2017-09-29 23:01] #11121 closed, assigned to magento-engcom-team

[2017-09-29 23:46] scrivvles commented on #11055
This is also an issue for me.  Using MySQL 5.7 on Google Cloud MySql Second Generation. I can't reindex Product EAV as it is giving the General error:

`1787 Statement violates GTID consistency: CREATE TEMPORARY TABLE and DROP TEMPORARY
 TABLE can only be executed outside transactional context.  These statements are also not allowed in a function or trigger because functions and triggers are also

[2017-09-30 06:14] jhruehl commented on #10838
@epicglows I guess you have the Magento modules in the app/code folder then. The given Source class in your installation should be in the app/code/Magento/Customer/Model/Indexer folder, I guess. Just add the addAttributeToSelect($fieldname, $alias = null) function to the source class, empty the generated folder, clean/flush the cache, reset the stuck indexer and it should work.

[2017-09-30 07:27] cproboscht commented on #10578
in 2.1.10 the problem is not there, but the display in the date picker is different
Its because in 2.1.10 its displaying and posting in en_US format (mm/dd/yyyy)
From 2.1.10 to 2.2 the format for date changed for en_UK to dd/mm/yyyy

Problem also in 2.2 for locale en_UK: Date: 03. March 2017 will be set to 06.June 2017 ( dd/mm <> mm/dd )
![datepicker_2 1 10](https://user-images.githubusercontent.c

[2017-09-30 08:01] okorshenko commented on #10499
Hi @gewaechshaus
Here is video prepared by our QA department to demonstrate that Paypal Express payment method is available on 2.1.9 after the upgrade. https://youtu.be/0aQoAflbFzE
I'm closing this issue.
Please let me know if you any questions.

[2017-09-30 08:01] #10499 closed, assigned to nobody

[2017-09-30 08:07] okorshenko commented on #10464
@andidhouse please checkout latest 2.1.9 or 2.2.0 and let us know if you have any issues with the payment methods.

[2017-09-30 08:07] #10464 closed, assigned to nobody

[2017-09-30 08:17] magento-engcom-team commented on #9761
Hi @puples
We are not able to reproduce the issue on 2.1.9 and 2.2.0
It would be great if you can provide precise steps to reproduce or video recording how we can reproduce this issue. We can not change core code if we can not reproduce the issue on our side.

[2017-09-30 08:17] #9761 closed, assigned to alena-marchenko, magento-engcom-team

[2017-09-30 08:19] magento-engcom-team commented on #10615
Hi @darryldavidson
Thank you for report. The issue is fixed in c680f1ca0965b475ee3146fc75ea231e020bf0cf and will be avalible in 2.1.10 release soon

[2017-09-30 08:19] #10615 closed, assigned to alena-marchenko

[2017-09-30 08:20] alen9788 commented on #10499
PayPal Billing Agreement Settings
Enabled - YES

We enabled it, https://prnt.sc/grhir6   and it worked again. We are using the MCE 2.1.9

[2017-09-30 08:24] magento-engcom-team commented on #5021
Hi @vphat28
Unfortunately, we can not reproduce the issue on clean Magento installation. But looks like you found a solution for your issue.

[2017-09-30 08:28] strell commented on #10780
After the researching in source code and architectural concept, I have found out that the Price Adjustments should not affect item's prices/totals when being added to quote.

Magento uses them separately from total collectors in order to adjust prices before rendering on storefront (similarly to price.html in Magento 1.*).

In order to get these adjustments in quote and quote items, developer need

[2017-09-30 08:31] magento-engcom-team commented on #4755
Hi @peec starting from 2.2.0 release you can share `config.php` file between instances and this file may contain all configurations you need to share. Configuration mechanism and options were significantly re-worked in 2.2.0 and several useful features have been added.

[2017-09-30 08:31] #4755 closed, assigned to nobody

[2017-09-30 08:38] dmanners commented on #11100
@rmevans1 could you check if the changes in the patch https://github.com/magento/magento2/commit/269c2154db82e2c3a19f8ba9a36e9b249a745998#diff-06f164cc839cbe29fd1d40f6aa4ce11a are either in your version or if applying that change fixes the problem.

Also are you using flat catalog?

Thank you

[2017-09-30 08:45] strell commented on #10803
I would like to work on this issue

[2017-09-30 09:02] hostep commented on #10673
@tadhgbowe: you can find a better workaround in: https://github.com/magento/magento2/issues/7862, that's the issue for tracking this problem in 2.1.x

[2017-09-30 09:13] Olek89 commented on #10618
@okorshenko yes stil exist at 2.1.9

[2017-09-30 09:18] coachdesign commented on #6151
I've updated Magento to version 2.2 the problem is still there

[2017-09-30 09:32] oirad commented on #10150
For everyone still waiting for the fix on magento 2.1 I made a hotfix that I am using on my side. https://github.com/oirad/magento2-fix10150

[2017-09-30 09:38] coachdesign commented on #10191
I've updated Magento to version 2.2 the problem is still there

[2017-09-30 09:48] okorshenko commented on #11144
Hi @jsypolt it would be useful if you can provide a screenshot of your Cart Rule configuration

[2017-09-30 09:53] cscd98 opened #11157 "nginx.sample.conf missing heath_check.php?"
I've updated to 2.2, and regularly get the error below in my nginx error logs. I believe it's because health_check which is used in varnish config is not catered for in the nginx sample vhost configuration

### Preconditions
1. Magento 2.2.0
2. nginx 1.12.1
3. OS X 10.12.6

### Steps to reproduce
1. Update to Magento 2.2
2. View home page of site

### Expected result
1. No errors

### Actual resul

[2017-09-30 09:54] gewaechshaus commented on #10499
Hi @okorshenko - thanks for taking this issue serious. Actualy we are using braintree PP/ MCE2.2.0 so I have to do some basic verifications to give you an updated answer.

As stated before, we already did an update to 2.2.0 and found out (in short) that there were some structural changes which didn't get updated, and problems with partial replacement/update of folders/files. We got a 2.1.9 version

[2017-09-30 10:05] spiegl commented on #11034
Hi @dmanners, what do you mean with _web user_? The command line user is the same as the apache user (checked via `htop`).

[2017-09-30 10:08] dmanners commented on #11034
Sorry yup that is what I was meaning. As long as both the command line user and apache user have access to the same key then it should be able to access git via ssh.

[2017-09-30 10:12] dmanners commented on #11157
Thanks for this @craigcarnell I think it would make sense to add the health_check.php into the nginx.conf.sample file. Would you be interested in providing a PR for such a fix?

[2017-09-30 10:35] erfanimani commented on #10780
Thanks for the comment and looking into this @strell.

Implementing a quote total collector is quite different from changing the quote item price though. The former adds a new totals row, adding or subtracting an amount. The latter directly changes a quote item's price. (Please correct me if I'm wrong.)

Is there some official method or guide on implementing custom price changes for quote items (n

[2017-09-30 11:20] #11125 closed, assigned to nobody

[2017-09-30 12:04] denysbabenko commented on #10764
I would like to work on this issue.

[2017-09-30 12:11] palo opened #11159 "Group Products not showing in Layered Navigation Results"
In front end, when selecting an attribute to filter, grouped products are not listed.
The Layered Navigation sidebar shows the right amount of products, but the listing in incomplete.

In my store all products are grouped there are no visible simple products. All filterable attributes are showing in the sidebar. The product results amount in the sidebar is correct. Filtered result is showing the n

[2017-09-30 12:58] lfolco commented on #6287
Does this mean that if we create the functionality you will merge it into the open source/community edition? Or is it only going to be for EE?

[2017-09-30 13:49] bka commented on #10489
I think I'm not able to come up with a good solution to this right now. This seems to be a very hard structural problem, regarding customer attributes and customer address attributes. It seems to affect attributes gender and date of birth which are not shown in checkout because they are customer attributes.

When creating a customer account after checkout, currently, billing address is used to ext

[2017-09-30 14:40] bobbyshaw commented on #5021
@magento-engcom-team I think it would be worth adding documentation for maximum carrier + rate name length. Otherwise, it becomes quite an obtuse error when creating custom shipping methods.

[2017-09-30 14:55] Zyles opened #11162 "Can't change default locale"
### Preconditions

1. Magento 2.2.0
2. PHP 7.0

### Steps to reproduce

1. Install Magento 2 with a different locale than en_US
2. Go to Stores > Configuration > General
3. Try to change locale back to en_US (tried every single configuration store view)

### Expected result

Be able to change default locale.

### Actual result

The drop down box is grayed out and it is not possible to change local

[2017-09-30 15:57] hostep commented on #11162
@Zyles, see https://github.com/magento/magento2/issues/10377 for more discussion around this.

This has something to do with the new [pipeline deployment](http://devdocs.magento.com/guides/v2.2/config-guide/deployment/) and storing your configuration in the `app/etc/config.php` file by running `bin/magento app:config:dump`, since the static content deploy now no longer needs database access to det

[2017-09-30 16:54] Datta commented on #6176
I have also same problem "Something went wrong while saving the category".
please let me know if any have solution for this. i have tried lot. but no success.

[2017-09-30 17:57] orlangur commented on #11162
How you think it can be solved if no static files are materialized dynamically in production mode unlike default/developer mode? Probably, undeployed locales just shouldn't be displayed in drop-down.

Static content deploy has nothing to do with reinstallation.

[2017-09-30 18:07] Zyles commented on #11162
I went into the database and changed it manually. Still think it should be doable in admin.

@orlangur No it has to do with the correct locale. If you do not provide a locale on static deploy it uses en_US even tho it is not the default.

[2017-09-30 18:40] kfaer opened #11163 "Magento 2.2.0 Pages showing error: Data key is missing: code-entity"
Not able to create or edit any page only showing this message:

Data key is missing: code-entity

Magento 2.2.0

![image](https://user-images.githubusercontent.com/8407530/31048550-4fa0447a-a630-11e7-8a93-deabe2b47867.png)

[2017-09-30 18:57] orlangur commented on #11162
`en_US` is a default one if no other specified: http://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-static-view.html#config-cli-subcommands-staticview

No css file generated automatically is correct behavior for production mode.

Looks like locale switching will work for your case if you generate static files for both languages: `php bin/magento setup:static-content:depl

[2017-09-30 20:04] renttek commented on #11142
Hi,

I just tried to reproduce this issue with the latest develop version, but can't really  get it to "crash".
Only way I could reproduce this, is when i create another entity (for example "cms-page") with the same url-key.
Is there any other entity with the url-key "kontakt-1" or "kontakt" for **the same store** in your database?

The error message shows, that the conflicting key is "URL_REWRITE

[2017-09-30 20:29] renttek commented on #11119
Hey,

are you behind a proxy or similar, which may cache some calls to packagist/repo.magento.com?
I think the require-line should read "magento/project-community-edition", with "project" instead of "product". (your composer error/output doesn't even show 2.1.8-2.2.0)

With "magento/project-community-edition" I could install Magento in version 2.2.
Hope this helps

[2017-09-30 20:39] renttek commented on #11109
Hey,

It seems, that this conversion of directives to urls is intended.
(If this wouldn't be converted on save, then it had to be done on rendering, which may decreased performance of initial page delivery)

In <root>/lib/web/mage/adminhtml/wysiwyg/tiny_mce/setup.js:410 is a function/method "makeDirectiveUrl" which is converts all directives in html attributes.
This is triggered by "beforeSetConte

[2017-09-30 22:47] nelero commented on #8640
On magento 2.1.9, fix from @SKovbel works (only 1 currency store, including tax, so it's ok).

A bit out of scope, but i'm confused and surprised of all those small regressions from Magento 1.9 to Magento 2.x, on front and backoffice.
I know it's a complete framework change but so many improvements for 1.x seems vanished. :(

[2017-09-30 23:11] jsypolt commented on #11144
@okorshenko here is the configuration:
![1](https://user-images.githubusercontent.com/107013/31050238-b8791f9e-a612-11e7-9c0c-ba046c84a66b.png)
![2](https://user-images.githubusercontent.com/107013/31050239-bf70688e-a612-11e7-9c36-e74b92f63a2d.png)
![3](https://user-images.githubusercontent.com/107013/31050240-c2be0028-a612-11e7-86ae-b69979771b24.png)

There are no other Cart or Catalog Price Rule

[2017-10-01 00:19] nelero commented on #5670
still buggy in 2.1.9, even without filtering layer category.
3 products in "search" visibilty, 5 in "catalog search" visibility. Magento should display the label "5 products".
Sum from filters is equal to 5, but on the top of the product list, still "8 products".

[2017-10-01 04:08] RedAtRareCandy commented on #9773
Thanks! Makes sense, glad to know where I was going wrong!

[2017-10-01 04:08] #9773 closed, assigned to magento-engcom-team

[2017-10-01 04:47] santanajames commented on #3762
This issue still exists. Any update of when this will be release?

[2017-10-01 09:00] magento-team commented on #10611
Internal ticket to track issue progress: MAGETWO-75326

[2017-10-01 09:23] kfaer commented on #11163
Is it known issue ?
any update

[2017-10-01 09:30] magento-engcom-team commented on #8137
@oroskodias, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-01 09:30] #8137 closed, assigned to tkacheva

[2017-10-01 09:30] magento-engcom-team commented on #10155
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-80476 to track progress on the issue.

[2017-10-01 09:30] magento-engcom-team commented on #8970
@marius-bica, thank you for your report.
We've created internal ticket(s) MAGETWO-80473 to track progress on the issue.

[2017-10-01 09:30] magento-engcom-team commented on #8104
@JesseGuapa, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-01 09:30] #8104 closed, assigned to nobody

[2017-10-01 09:30] magento-engcom-team commented on #8725
@asadyar, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-01 09:30] #8725 closed, assigned to nobody

[2017-10-01 09:30] magento-engcom-team commented on #10057
@develpr, thank you for your report.
We've created internal ticket(s) MAGETWO-80464 to track progress on the issue.

[2017-10-01 09:30] magento-engcom-team commented on #8977
@jarhody, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-01 09:30] #8977 closed, assigned to nobody

[2017-10-01 09:58] magento-engcom-team commented on #11163
Hi @kfaer
This is not a known issue.
We have checked this page with the clean installation of `2.2.0` and did not get same result as you did.
<img width="1434" alt="screen shot 2017-10-01 at 12 55 23" src="https://user-images.githubusercontent.com/31669971/31053530-f7af2b00-a6a7-11e7-8125-ffe52f5f0594.png">
Please consider checking again with a clean install and file a report according to the issu

[2017-10-01 10:10] bka commented on #7582
Issue is still present on 2.2-develop. What you can observe is, that the store view from which you put product into the quote matters. If I put a product from other store view e.g. FR into cart and go to checkout the translation will be correct.

It's because the available payment methods and their titles are fetched via API call to _/rest/de/V1/carts/mine/payment-information_. This API call can o

[2017-10-01 10:10] magento-engcom-team commented on #11103
Hi @meezin
Looks like this issue is related to migration tool. Please file an issue report to the [migration repository](https://github.com/magento/data-migration-tool).
Thank you

[2017-10-01 10:10] #11103 closed, assigned to nobody

[2017-10-01 10:20] magento-engcom-team commented on #10487
@marcio199226, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-01 10:20] #10487 closed, assigned to nobody

[2017-10-01 10:21] magento-engcom-team commented on #10448
@yousufbadar, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-01 10:21] #10448 closed, assigned to nobody

[2017-10-01 10:27] magento-engcom-team commented on #10401
@SerhiyShkolyarenko, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-01 10:27] #10401 closed, assigned to nobody

[2017-10-01 10:30] magento-engcom-team commented on #10386
Closing per comments above, as problem seems to be fixed.
Thank you for collaboration.

[2017-10-01 10:30] #10386 closed, assigned to nobody

[2017-10-01 10:33] larsroettig opened #11166 "ReindexAll -> getState() is not correct if the Indexer broke with PHP fatal error"
If some fatal PHP error happens in the indexing process. The status is not correct reset
to  **StateInterface::STATUS_INVALID**

### Preconditions
* Magento 2.3.0-dev

### Steps to reproduce
- Implement Indexer -> fatal error in **executeFull()**
- execute` bin/magento  indexer:reindex **your_index_name** `

### Expected result
- Status is **not** working in **Magento\Indexer\Model\Indexer** line

[2017-10-01 10:35] magento-engcom-team commented on #10360
Closing, as issue seems to be resolved. Please reopen if there are still any problems.

[2017-10-01 10:35] #10360 closed, assigned to nobody

[2017-10-01 10:39] magento-engcom-team commented on #10206
@jhruehl Closing, as issue is already fixed in `2.2.0` and `develop`. Fix for `2.1.x` will be released soon.

[2017-10-01 10:39] #10206 closed, assigned to nobody

[2017-10-01 10:44] magento-engcom-team commented on #10185
Hi @joergmaertin
Please report migration related issues to the migration tool repository: https://github.com/magento/data-migration-tool
Thank you

[2017-10-01 10:44] #10185 closed, assigned to nobody

[2017-10-01 11:13] maksek commented on #10738
@orlangur, the more correct in 2.2-develop branch. Remove `translate="true"` from layout and do not translate "none" in template.

[2017-10-01 11:19] PhiIipp commented on #10821
Hello.
have same problem.

**Precondition**
updated from 2.1.9 to 2.2 by update version in composer file and composer update, cache clearing and reindex shop looks working.

**Steps to reproduce**
put item in shopping chart to to checkout, enter address, all JS validators are fine, click next. then it shows up the "Payment Methods" page, when  i click here on "Place Order" a notification messages

[2017-10-01 11:30] magento-engcom-team commented on #10834
@MMaKenZi, thank you for your report.
We've created internal ticket(s) MAGETWO-80516 to track progress on the issue.

[2017-10-01 11:30] magento-engcom-team commented on #6709
@XigenDominic, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-01 11:37] magento-engcom-team commented on #4427
Hi @mstumpf818
Looks like the issue is already fixed in `2.1.8` with the PR magento/magento2#9324.
Closing this ticket for now. Please reopen if issue persists.

[2017-10-01 11:37] #4427 closed, assigned to rgoncharuk

[2017-10-01 11:39] magento-engcom-team commented on #9646
Hi @ekuusela
Thank you for reporting and fixing the issue with the PR.
As it is already delivered into `2.1.8` we are closing this issue.
Thank you for collaboration.

[2017-10-01 11:39] #9646 closed, assigned to nobody

[2017-10-01 11:42] magento-engcom-team commented on #8874
Hi @rastin1
Looks like the fix for this issue is now delivered to `2.1.8` and onwards with the PR magento/magento2#9655.
We are closing this ticket for now. Please reopen if problem persists.
Thank you.

[2017-10-01 11:42] #8874 closed, assigned to nobody

[2017-10-01 11:45] magento-engcom-team commented on #9562
Hi @juhanix
This issue is already fixed in `2.1.8` and onwards in the scope of the PR magento/magento2#9841
We are closing this ticket now, please reopen if problem persists.
Thank you

[2017-10-01 11:45] #9562 closed, assigned to nobody

[2017-10-01 11:55] magento-engcom-team commented on #4876
Hi @atIOCrON
This issue is already fixed in `2.1.8` and later with the PRs magento/magento2#10043 and magento/magento2#10164
We are closing this ticket, please reopen if issue persists.
Thank you

[2017-10-01 11:55] #4876 closed, assigned to nobody

[2017-10-01 12:06] strell commented on #10780
Hi @erfanimani, @arthurlataks,

If you need just to change the item price before totals you can implement your own price model for specific product type (or to the custom one, depends on your needs) and put the logic there. In this case, the price will be changed before being added to the shopping cart and will be also changed before showing on a storefront.

But in case if you want to do some pri

[2017-10-01 12:13] arthurlataks commented on #10780
@strell
Thanks for looking into this issue. Is it possible to add some more information about price adjustments to documentation then? So it is clear right away that this functionality will amend price only on PLP and PDP.

[2017-10-01 12:23] XigenDominic commented on #6709
I created the pull request that was merged into develop. I did it on my personal account.

[2017-10-01 12:47] am2008 opened #11170 "Magento 2.2 broken static content deployment(on demand)"
### Preconditions

Server: i7-4770, 32 GB RAM
PHP: 7.0.9
MySQL: 5.7.19
Magento CE 2.2 fresh install. Worked normally.

### Steps to reproduce

Hard to tell, nothing special i did. I found changed setup:static-content:deploy command and starting testing it for my configuration with "--force" flag. Several times manual i cleaned static/cache/generated files. After that, this happend.

### Actual res

[2017-10-01 14:05] southerncomputer opened #11171 "If you find your javascript bundling broken every night -> VIRUS NAME: Html.Exploit.CVE_2017_8750-6336209-0 TDB: Engine:55-255,Target:3 LOGICAL EXPRESSION: 0&1 * SUBSIG ID 0 +-> OFFSET: ANY +-> SIGMOD: NONE +-> DECODED SUBSIGNATURE: weakmap()"
clamav - maldetect will quarantine your bundle.0.js every night due to the sept 23 pattern of below!

This will munge your pub/static/_cache/merged/*.js files - shortly afterwards.

VIRUS NAME: Html.Exploit.CVE_2017_8750-6336209-0
TDB: Engine:55-255,Target:3
LOGICAL EXPRESSION: 0&1
 * SUBSIG ID 0
 +-> OFFSET: ANY
 +-> SIGMOD: NONE
 +-> DECODED SUBSIGNATURE:
weakmap()

1. run clamscan /maldetect on

[2017-10-01 14:21] mzeis commented on #11170
Hi @am2008, thank you for reporting this issue.

The Label `G1 Failed` means that the team asks everybody to use the issue template (see [Gate 1 - Automatic Verification](https://github.com/magento/magento2/wiki/Magento-Issue-Gates#gate-1---automatic-verification) and [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)). I add the label `needs update`

[2017-10-01 14:33] mzeis commented on #11171
Hi @southerncomputer, thank you for reporting this issue. As far as I can see, this is not a bug in Magento 2 but a false positive in the ClamAV malware signatures.

This might be a case though where you can help by providing a PR changing the M2 code or by sending a PR to the [Magento 2 Developer Documentation](https://github.com/magento/devdocs) to document this situation.

If you feel this issu

[2017-10-01 14:33] #11171 closed, assigned to nobody

[2017-10-01 14:59] dan-advantec commented on #9910
Please can you advise the commit ref?
I'm looking to build the fix into a standalone module to patch the issue as I'd rather not use the develop brand in a production environment.

[2017-10-01 15:11] am2008 commented on #11170
@mzeis thanks for explanation, sorry for violating the rules.

**Preconditions**
Server: i7-4770, 32 GB RAM
PHP: 7.0.9
MySQL: 5.7.19
Magento CE 2.2 fresh install. Worked normally.

**Steps to Reproduce**
Hard to tell, nothing special i did. I found changed setup:static-content:deploy command and starting testing it for my configuration with "--force" flag. Several times manual i cleaned static/cac

[2017-10-01 15:24] Kimmagento commented on #5538
The same issue persists in ver 2.1.9 so I think it should not be closed.

[2017-10-01 15:31] Kimmagento commented on #5538
Magento ver 2.1.9.

Steps to reproduce:
set product quantity to 0
set product 'in stock'
set Backorders to 'allow qty below 0 and notify customer'

product can be added to cart - no message is shown
customer goes to checkou - no message is shown

backorder message is only shown if customer edits cart

[2017-10-01 15:45] Kimmagento commented on #5538
Please reopen

[2017-10-01 16:14] magento-engcom-team commented on #9114
@hkvega01, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-01 16:14] #9114 closed, assigned to nobody

[2017-10-01 16:14] magento-engcom-team commented on #9079
@tsuleehyudin, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-01 16:14] #9079 closed, assigned to nobody

[2017-10-01 16:39] raceves2005 commented on #11163
I have the Exact same problem and its driving me INSANE! i also have another problem, when i try to add new images on slider block it saves it as an External Source as listed below, the first line calling for external source is a new image, the "wysiwyg/vorsteiner-Slider.jpg" is prior to Magento 2.2, we already reset permissions. I was running magento 2.1.9, We are also getting many "There has bee

[2017-10-01 16:43] magento-engcom-team commented on #11163
@raceves2005
Unfortunately we can not help as log as we can not reproduce the issue on our side.
Please follow the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and describe how your store is configured.
Also, screenshots you provided are not displayed, please check and edit the comment if needed.
Thank you.

[2017-10-01 16:44] Kimmagento opened #11172 "Problem with Minicart display when Onepage checkout is disabled"
Preconditions
1. Magento 2.1.9

Steps to reproduce
1. Go to Stores - Configuration - Sales- Checkout
2. First option on that page: Enable onepage checkout: set to 'NO'
3. Go to website and add 2 products to cart

Expected result
1. Regular minicart should show but without the 'proceed to checkout' button.

Actual result
1. Minicart is sort of scrambled, impossible to read product names. See screen

[2017-10-01 16:47] magento-engcom-team commented on #8850
Hi @rogersrangel
Unfortunately this GitHub repository is devoted to the issues related Magento 2.
Closing, as we are unable to provide any help with this issue here.

[2017-10-01 16:47] #8850 closed, assigned to nobody

[2017-10-01 16:47] magento-engcom-team commented on #8829
@sinus86, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-01 16:47] #8829 closed, assigned to nobody

[2017-10-01 16:51] magento-engcom-team commented on #11170
@am2008
Result you described may happen when Magento is is production mode and static content is removed. Please check.

[2017-10-01 16:54] magento-engcom-team commented on #8543
Hi @tkn98
We are closing thic ticket now as mentioned fix is already released with 2.2.0.
Thank you

[2017-10-01 16:54] #8543 closed, assigned to nobody

[2017-10-01 17:02] magento-engcom-team commented on #4145
Looks like there are solutions available. We are closing this issue due to inactivity.

[2017-10-01 17:08] magento-engcom-team commented on #3873
@hungvt, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:08] #3873 closed, assigned to magento-engcom-team

[2017-10-01 17:10] magento-engcom-team commented on #3288
@ksz2013, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-01 17:10] #3288 closed, assigned to rgoncharuk

[2017-10-01 17:13] magento-engcom-team commented on #3280
Hi @anantab, @shahankitb997
Please use the following setting **Stores** > **Configuration** > **Customers** > **Customers Configuration** > **Online Customers Options** > **Customer Data Lifetime** to set the time when customer's local cache is force-cleared. This will force reload the preices as well.
Thank you.

[2017-10-01 17:19] magento-engcom-team commented on #5449
Comments above suggest that issue is resolved.
Closing. Please reopen if problem persists.

[2017-10-01 17:19] #5449 closed, assigned to nobody

[2017-10-01 17:21] magento-engcom-team commented on #10298
@heyepic, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:21] #10298 closed, assigned to alena-marchenko

[2017-10-01 17:22] magento-engcom-team commented on #9211
@thdoan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:22] #9211 closed, assigned to magento-engcom-team

[2017-10-01 17:22] magento-engcom-team commented on #9579
@ferret-e, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:22] #9579 closed, assigned to magento-engcom-team

[2017-10-01 17:22] magento-engcom-team commented on #9176
@hungvt, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:22] #9176 closed, assigned to magento-engcom-team

[2017-10-01 17:23] magento-engcom-team commented on #9577
@SamandyM, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:23] #9577 closed, assigned to magento-engcom-team

[2017-10-01 17:23] magento-engcom-team commented on #6469
@firestorm23, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:23] #6469 closed, assigned to magento-engcom-team

[2017-10-01 17:23] magento-engcom-team commented on #5561
@rossluk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:23] #5561 closed, assigned to magento-engcom-team

[2017-10-01 17:24] magento-engcom-team commented on #8429
@vikyshan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:24] #8429 closed, assigned to magento-engcom-team

[2017-10-01 17:27] magento-engcom-team commented on #9291
@NisaKH, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-01 17:27] #9291 closed, assigned to magento-engcom-team

[2017-10-01 17:31] magento-engcom-team commented on #11166
Hi @larsroettig
Please try to describe the issue in-depth. Current description is ambiguous.
Thank you!

[2017-10-01 17:33] heyepic commented on #10298
This going to make it in any future update?

[2017-10-01 18:41] oewean commented on #10821
Same issue, fresh installation, tried twice  both from downloaded zip file and via composer.

Setting mail addresses for the shop also fails.

Ubuntu 16.04
Mysql 5.7.19
PHP 7.1.9
Apache 2.4.18

Best regards
Ørjan

[2017-10-01 18:51] am2008 commented on #11170
@magento-engcom-team
1. deploy:mode:show => Current application mode: developer
2. cache:status => all zero
3. Delete folders:
/generated/code
/generated/metadata
/pub/static/adminhtml
/pub/static/frontend
/var/view_preprocessed
4. Go to host/admin:
404 http://***/pub/static/adminhtml/Magento/backend/ru_RU/extjs/resources/css/ext-all.css

404 http://***/pub/static/adminhtml/Magento/backend/ru_RU/m

[2017-10-01 19:30] ragboyjr commented on #8624
It looks like the specific code is right here:

https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9dbf8c6/app/code/Magento/CatalogInventory/Model/Stock/StockItemRepository.php#L165-L167

I think the easiest way to fix is if we added another if statement below like:

[code]

[2017-10-01 19:33] ragboyjr commented on #8624
Willing to submit a PR, but curious if anyone has any better ideas.

[2017-10-01 20:23] korostii commented on #3759
Hello again again @orlangur

Sorry for the late comment, but I'd like to point out that the projects are linked explicitly in the last section of the document you've referenced: https://github.com/magento/magento2/wiki/Magento-Issue-Gates#bug-fix
Thus I suppose their intent is to list all the known issues on the radar of core developers: acknowledged and ok to fix, although I'm pretty sure a lot o

[2017-10-01 21:28] adioe3 commented on #11089
I'd like to take this one

[2017-10-01 21:28] msnankit opened #11173 "Uncaught TypeError: items is not a function in collection js"
When I change shipping address on billing page i found js error
Uncaught TypeError: items is not a function

### Preconditions

1. Magento 2.1.8

2. PHP 5.7.

### Steps to reproduce

1.   Goto product
2.   add to cart
3.  checkout
4 . Select cca enue payment method
5. Add address and check

### Expected result

1.  update address and show place order button

### Actual result

1. [Screenshot, logs

[2017-10-01 21:39] heyepic commented on #11163
Also have the same issue with creating pages after upgraded to 2.2.
`Data key is missing: code-entity`
When you click create page, that shows. Listing current pages works fine, but when adding, you come to page with just that.
![attach](https://user-images.githubusercontent.com/12517908/31059393-0a6ebebc-a6c7-11e7-98e8-24f698d565a0.jpg)

Did general post-upgraded steps including setting proper per

[2017-10-01 21:49] korostii commented on #9255
A bug is a bug.
Would you please care to remove the `needs update` label now that we agree on that?

[2017-10-01 21:54] georgios-2317 commented on #10840
I concur, the issue remains (Im testing on 2.1.7). Custom source model does not produce indexer results in catalog_product_index_eav table.

[2017-10-01 22:36] korostii commented on #9255
First of all, that's nonsense (if we're leaving it at Block level) since you might require this logic somewhere on a different layer (REST API \ or whatever else). It should be part of the framework, just like the `\Data\Collection` is. Why not have an improved `Magento\Framework\Strict\Collection` (or whatever) for future use?

And secondly, with current `Collection` implementation, that's just i

[2017-10-01 23:32] korostii commented on #10807
That's not completely true.
People outside of Magento (the company) still look at the issue state first, when trying to understand whether the bug is fixed in the latest release yet. The curret flow is severly misleading.

So that's why it felt like a "beta" version.
As in: we call it beta 'cause it's betta than nothin' :D

[2017-10-01 23:38] KarlComSe commented on #11107
I've got the same issue. I used the web upgrade tool, and as it didn't work, the rollback. Unfortunately, the rollback didn't work, same error.

Could it be related? https://github.com/magento/magento2/issues/9694

The solution that worked for you, @achatpc was to make a fresh install and then rollback the backups? Please explain a bit more.

[2017-10-02 00:42] scholtz opened #11175 "i18n:collect-phrases -m can't find many important magento phrases"
**Summary**
This is continuation of thread https://github.com/magento/magento2/issues/2630
Magento 2.2 clear installation using script http://apps.scholtz.sk/magento.install.script.txt
### Preconditions

1. Magento 2.4-develop
2. PHP 7.1, Nginx, Mysql 5.7

### Steps to reproduce
1. Install Magento and download SK language pack
2. do collect phrases php bin/magento i18n:collect-phrases -o "$VER.csv

[2017-10-02 02:29] erfanimani commented on #10780
@strell, champion. Thanks for clarifying.

[2017-10-02 03:38] kfaer commented on #11163
**Preconditions**
Upgraded from 2.1.9 to 2.2.
Standard PHP7/MySQL running on Ubuntu 16.04.

**Steps to reproduce**
Load admin, go to pages, click Add page button.
@magento-engcom-team

[2017-10-02 05:35] georgios-2317 commented on #7765
In case it helps anyone in the meantime, I know it is not best way but changing

`Block\Category\View.php` `isContentMode` function to the following got rid of the side bar for me:

[code]

[2017-10-02 06:30] magento-engcom-team commented on #6447
@heldchen, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-02 06:30] #6447 closed, assigned to nobody

[2017-10-02 07:05] ravibhalodia commented on #10175
We are still facing same issue in Magento ver 2.1.9. Log says

**main.CRITICAL: Exception: Wrong order ID:**

We have upgraded our Magento from earlier 2.x version to latest one.

[2017-10-02 07:13] AlexanderHuyghebaert commented on #9505
@magento-engcom-team : Can you say in which files this has been fixed?

[2017-10-02 07:13] mayankzalavadia commented on #11139
I have a solution for that and I would like to work on this issues.

[2017-10-02 07:25] magento-engcom-team commented on #11124
@rmevans1 Thanks for the feedback.
Unfortunately, I could not reproduce the issue as you described it.
Steps I did:
1. Install Magento 2.1.9
2. Copy Magento2 Sample Data into root directory.
3. Link Sample Data ex: php -f magento2-sample-data/dev/tools/build-sample-data.php -- --command link --ce-source /path_to_root_magento_directory/ --exclude true
4. Enable modules: php bin/magento module:enabl

[2017-10-02 07:30] magento-engcom-team commented on #9896
@JeroenVanLeusden, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-02 07:30] #9896 closed, assigned to magento-engcom-team

[2017-10-02 07:39] strell commented on #10780
Hi @arthurlataks,

Yeah, it would be great to have a more extended explanation how prices adjustments and total collectors are working, could you create an issue in [devdocs](https://github.com/magento/devdocs) of Magento? Then Magento team can take care if this part of the documentation.

[2017-10-02 07:51] orlangur commented on #10807
@korostii people will get used to `Fixed in 2.x.x` labels soon. Now fixVersion is much more visible than before.

[2017-10-02 07:59] magento-engcom-team commented on #10941
@rishabhchd19, thank you for your response.
Can you please provide code from Content and Layout Update XML in text format?
If you provide some information about your custom widgets, it may be helpful too.

[2017-10-02 08:03] rbostan commented on #6803
Exactly same in here. M2.1.8

[2017-10-02 08:07] magento-engcom-team commented on #11173
Hi @msnankit
Could you please clarify a few points here?
* > Add address and check

Check what? Which address to add? Please clarify so that we could reproduce
* >Select cca enue payment method

Is is some third party payment method? Please try with the ones bundled with Magento

[2017-10-02 08:15] magento-engcom-team commented on #11170
@am2008 Please check your directory permissions according to [devdocs](http://devdocs.magento.com/guides/v2.2/install-gde/prereq/file-sys-perms-over.html)

[2017-10-02 08:17] crtl opened #11176 "Configured table prefix is not recognized in CLI admin:user:create"
I have installed Magento via the CLI and then wanted to create a new admin user via the CLI.

### Preconditions

1.  Installed Magento 2.2.0 instance with configured tableprefix

### Steps to reproduce

[code]

### Expected result
1.  A new User should be created
2. The tableprefix should be properly prepended to tablenames

### Actual result

1. The user could no be created because the table was

[2017-10-02 08:21] magento-engcom-team commented on #11162
Hi @Zyles
Please check discussion and solutions in #10337 and let us know if it is the same case
Thank you

[2017-10-02 08:29] magento-engcom-team commented on #11030
Hi @Geater
We have updated your issue report to follow [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and will verify the problem according to it.
Please let us know if it is correct.
Thank you.

[2017-10-02 08:30] magento-engcom-team commented on #11142
@Boumii, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-02 08:30] #11142 closed, assigned to nobody

[2017-10-02 08:30] magento-engcom-team commented on #11172
@Kimmagento, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-02 08:30] #11172 closed, assigned to nobody

[2017-10-02 08:30] magento-engcom-team commented on #11093
Hi @flat101
Please try finding some reliable steps to reproduce, we can not provide any solution as long as there is no clear information.
Also, please try checking with up-to-date versions, as we have not noticed such behavior in admin panel.
Thank you.

[2017-10-02 08:35] magento-engcom-team commented on #11019
@jayachandran1974 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2017-10-02 08:38] magento-engcom-team commented on #11014
Hi @mozenpo
Thank you for your report. Unfortunately, the information you provided is not sufficient for us to be able replicate the issue.
Please provide more information regarding the environment where issue is reproducible.
Additionally, please follow the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to simplify the process of detecting the pr

[2017-10-02 08:40] magento-engcom-team commented on #10887
@karthi5053, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-10-02 08:40] #10887 closed, assigned to nobody

[2017-10-02 08:42] Olek89 opened #11177 "download counter not shwon"
### Preconditions

1. M2 2.1.9
2. PHP 7.0.22

### Steps to reproduce

1. go to order
2. view the download product order
3. the download product is shown but not the counter

### Expected result

1.

### Actual result

1. [Screenshot, logs]

![image](https://user-images.githubusercontent.com/31250340/31069850-71d43e8c-a75e-11e7-9712-d4c65dd86408.png)

[2017-10-02 08:44] Olek89 commented on #11177
in some products it is shown:
![image](https://user-images.githubusercontent.com/31250340/31069892-a7d7e79a-a75e-11e7-89fc-f672e18b188b.png)

[2017-10-02 08:47] Krupaly2k commented on #3758
Hi likhamahudda,

I have tried above solution but still I am facing same issue. I am unable to login with Magento1 customer account. I am using Magento 2.1.6 version. Please help me to resolve this issue soon.

[2017-10-02 08:48] magento-engcom-team commented on #10382
Hi @bilalusean
Is the issue report still actual? Please let us know if you have found any additional information per conversation with @dmanners
Thank you.

[2017-10-02 08:49] htswordpress commented on #5788
As of Magento ver. 2.1.7 I am still getting the exact same error. Step to reproduce are the same as mentioned by @torayeff

[2017-10-02 08:50] magento-engcom-team commented on #11144
@jsypolt Unfortunately, we could not reproduce the issue as you described it.
Please provide more information about your Magento configuration, including the versions of PHP and MySQL you are using as well as the web server.

[2017-10-02 08:51] magento-engcom-team commented on #10366
Hi @PKRAY007
Please check the environment versions on your production machine. From the report it seems that the problem is out of Magento's scope, since error comes from `gd-jpeg` and `libjpeg`
Thank you

[2017-10-02 08:54] andimov commented on #5538
@Kimmagento
Could you please create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)?

[2017-10-02 08:59] magento-engcom-team commented on #10249
@ooples, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-02 08:59] #10249 closed, assigned to nobody

[2017-10-02 09:07] wget commented on #9744
@magento-engcom-team If you need credentials to a Magento 2 installation experiencing this issue, let me know.

[2017-10-02 09:30] magento-engcom-team commented on #11030
@Geater, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 09:30] #11030 closed, assigned to nobody

[2017-10-02 09:30] magento-engcom-team commented on #10055
@MattDelac, thank you for your report.
We've created internal ticket(s) MAGETWO-80547 to track progress on the issue.

[2017-10-02 09:30] magento-engcom-team commented on #11176
@crtl, thank you for your report.
We've created internal ticket(s) MAGETWO-80545 to track progress on the issue.

[2017-10-02 09:30] magento-engcom-team commented on #4437
@stevekem, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-02 09:30] #4437 closed, assigned to rgoncharuk

[2017-10-02 09:30] magento-engcom-team commented on #10158
@redelschaap, thank you for your report.
We've created internal ticket(s) MAGETWO-71031 to track progress on the issue.

[2017-10-02 09:30] magento-engcom-team commented on #8958
@MighT-W315H31T, thank you for your report.
We've created internal ticket(s) MAGETWO-80537 to track progress on the issue.

[2017-10-02 09:30] magento-engcom-team commented on #10098
@idziakjakub, thank you for your report.
We've created internal ticket(s) MAGETWO-80539 to track progress on the issue.

[2017-10-02 09:30] magento-engcom-team commented on #10157
@okovalov-commer, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 09:30] #10157 closed, assigned to nobody

[2017-10-02 09:33] Tjab commented on #10583
For the record, I'd like to point out that there's a problem in Magento 2 and if you call upon certain functionality, things break. As soon as you do not call upon that functionality (disable the plugin/remove code from the plugin), the problem "is solved" but the main problem still persists with Magento 2.

For our plugin, we need functionality on Orders, Products, etc. (which works), but as soon

[2017-10-02 09:39] orlangur commented on #9255
As explained above,

http://magento2-demo.nexcess.net/women/tops-women/tanks-women.html?p=-10
http://magento2-demo.nexcess.net/women/tops-women/tanks-women.html?p=100500
Or even: http://magento2-demo.nexcess.net/women/tops-women/tanks-women.html?p=asdasdasd

is the only thing which may be considered as a bug since it may lead to DoS attack. Collection in it's current implementation works as intend

[2017-10-02 09:39] #9255 closed, assigned to nobody

[2017-10-02 09:39] magento-engcom-team commented on #9744
Per multiple requests – reopening this for the further investigation.
Even though for now we can not reproduce the issue in question, we will attempt different approaches.

[2017-10-02 09:43] magento-engcom-team commented on #9744
@korostii

Foreign key is implemented programmatically in this specific case, please refer to
https://github.com/magento/magento2ce/blob/78e72eb8c7f3d5e77b1f8cfd2a7263813ad65019/app/code/Magento/Quote/Model/Product/QuoteItemsCleaner.php#L26-L32

[2017-10-02 09:49] larsroettig commented on #11166
Hi, @magento-engcom-team, I update the descriptions.

I recommend  changing **reindexAll** to :

``
    /**
     * Regenerate full index
     *
     * @return void
     * @throws \Exception
     */
    public function reindexAll()
    {
        if ($this->getState()->getStatus() != StateInterface::STATUS_WORKING) {
            $state = $this->getState();
            $state->setStatus(StateInterfac

[2017-10-02 10:01] maderlock commented on #10524
This is a serious issue for 2.1.x. I assume that if this is fixed for 2.2 it will be ported back to 2.1, or you're going to leave 2.1 in a seriously broken state - not being able to use Redis at all is a major problem for us and we're considering going back to 2.1.7 as 2.2 is too big a change at the moment.

[2017-10-02 10:06] wget commented on #9744
The correct link is:
https://github.com/magento/magento2/blob/78e72eb8c7f3d5e77b1f8cfd2a7263813ad65019/app/code/Magento/Quote/Model/Product/QuoteItemsCleaner.php#L26-L32

[2017-10-02 10:07] magento-engcom-team commented on #9744
@wget Thank you for pointing out. Comment updated.

[2017-10-02 10:09] hostep commented on #11162
@magento-engcom-team: it's issue 10377, not 10337 ;)

[2017-10-02 10:11] magento-engcom-team commented on #11162
@hostep
Indeed. Thanks!

[2017-10-02 10:14] hostep commented on #8145
@magento-engcom-team: can you review my comment above, I still think this ticket needs to be re-openend. Thanks!

[2017-10-02 10:14] friimaind commented on #11095
Thanks @JoostWan , according to my database this query fixed the issue:

[2017-10-02 10:18] magento-engcom-team commented on #8145
@hostep Thank you for the investigation.
Issue reopened for further research.

[2017-10-02 10:28] EvanRijn commented on #5937
In 2.1.8 the option is also not available in backend of magento.

[2017-10-02 10:28] eTonki commented on #10485
The same problem in it-IT

[2017-10-02 10:30] magento-engcom-team commented on #4128
@redinn, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 10:30] #4128 closed, assigned to rgoncharuk

[2017-10-02 10:30] magento-engcom-team commented on #5185
@valibus, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 10:30] #5185 closed, assigned to nobody

[2017-10-02 10:38] heldchen opened #11178 "Cart Sales Rule with negated condition over special_price does not work for products without a special price attribute"
### Preconditions
1. magento 2.1.7
2. php 7.1.10
3. mariadb 10.1.24

### Steps to reproduce
0. setup vanilla 2.2 with demodata (or use a similar existing store)
1. enable the `special_pricee` for promo rule conditions:
   1. Stores > Attributes > Product
   2. search for and edit `special_price`
   3. Storefront Properties: Use for Promo Rule Conditions: Yes
   4. save
2. create new cart sales rul

[2017-10-02 11:02] magento-engcom-team commented on #9744
@pvalium @wget @sydekumf @collymore @zakgrindle @primalspace
From the investigation we can see that this behavior may be possible in Enterprise Edition, only when `quoteItemCleaner` queue consumer is not started. Please provide complete information on affected versions.
Still, we can not reliably reproduce the issue at the moment. Precise step-by-step guide would be helpful to speed up the process

[2017-10-02 11:12] heldchen commented on #11178
sorry, closing this ticket as it seems to be fixed in 2.2.0

[2017-10-02 11:15] magento-engcom-team commented on #10200
Hi @mfang0126 Thank you for your report.
Please check the error logs, if the issue is still actual. We can not reproduce this problem on a clean installation.

[2017-10-02 11:22] oleg-onufer commented on #10909
Hi @Olek89.
Yes you're right!
This problem is solved in:
Configuration -> Catalog -> Catalog -> Downloadable Product Options, Use Content-Disposition set to "attachment".

[2017-10-02 11:30] magento-engcom-team commented on #9985
@boostmagento, thank you for your report.
We've created internal ticket(s) MAGETWO-80582 to track progress on the issue.

[2017-10-02 11:30] magento-engcom-team commented on #5705
@Styopchik, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-02 11:30] #5705 closed, assigned to nobody

[2017-10-02 11:30] magento-engcom-team commented on #5188
@JamesonNetworks, thank you for your report.
We've created internal ticket(s) MAGETWO-80579 to track progress on the issue.

[2017-10-02 11:30] magento-engcom-team commented on #4847
@davidverholen, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 11:30] #4847 closed, assigned to rgoncharuk

[2017-10-02 11:30] magento-engcom-team commented on #9467
@dakzilla, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-02 11:30] #9467 closed, assigned to nobody

[2017-10-02 11:30] magento-engcom-team commented on #9552
@wolfpeak, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-02 11:30] #9552 closed, assigned to nobody

[2017-10-02 11:30] magento-engcom-team commented on #8967
@sabarivenkatesankrish, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 11:30] #8967 closed, assigned to nobody

[2017-10-02 11:30] magento-engcom-team commented on #10049
@dbsdsun, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 11:30] #10049 closed, assigned to nobody

[2017-10-02 11:30] magento-engcom-team commented on #9119
@Omar-Oleh, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-02 11:30] #9119 closed, assigned to nobody

[2017-10-02 11:30] magento-engcom-team commented on #11141
@teoteo, thank you for your report.
We've created internal ticket(s) MAGETWO-80574 to track progress on the issue.

[2017-10-02 11:30] magento-engcom-team commented on #7658
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-80577 to track progress on the issue.

[2017-10-02 11:39] magento-engcom-team commented on #8378
@kega-jira For each category you can choose your sort range, so as not to have such a result:
- 0 - 9999.99 (163)
- 10000 and higher (1).

For this Go to Products >Categories>choose Category > and paste the one you want range in the field "Layered Navigation Price Step".

[2017-10-02 12:02] magento-engcom-team commented on #9821
@Cruiser13 In production mode static files are not generated in runtime. This only happens in developer mode, so looks like behavior is correct.

[2017-10-02 12:07] magento-engcom-team commented on #9122
@microcipcip please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-02 12:07] #9122 closed, assigned to nobody

[2017-10-02 12:10] #9173 closed, assigned to nobody

[2017-10-02 12:16] magento-engcom-team commented on #9235
GitHub issue tracker is not the best place to report and discuss security issues.
Please use [Security Center](https://magento.com/security) for information and [Bugcrowd](https://bugcrowd.com/magento) to report issues.
Thank you.

[2017-10-02 12:16] #9235 closed, assigned to nobody

[2017-10-02 12:17] magento-engcom-team commented on #9252
Hi @Igloczek
Looks like gruntjs/grunt-contrib-jasmine#64 is closed with no resolution, or did you get any information?
Thanks

[2017-10-02 12:18] magento-engcom-team commented on #9339
@rajansahota Please refer to https://github.com/magento/data-migration-tool for migration related issues.
Thank you.

[2017-10-02 12:18] #9339 closed, assigned to nobody

[2017-10-02 12:22] magento-engcom-team commented on #9390
@besteven, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-02 12:22] #9390 closed, assigned to nobody

[2017-10-02 12:27] paveq commented on #8469
@magento-engcom-team How was this fixed? I still see blank theme defining a lot of image sizes that only slightly differ: https://github.com/magento/magento2/blob/2.2.0/app/design/frontend/Magento/blank/etc/view.xml

[2017-10-02 12:27] magento-engcom-team commented on #9159
Hi @baltechies
Looks like some of the third-party extensions you have installed are using class which does not exist in your version. Please refer to linked #9202 for more discussion on this topic.

[2017-10-02 12:27] #9159 closed, assigned to nobody

[2017-10-02 12:30] magento-engcom-team commented on #9703
@atsareva, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 12:30] #9703 closed, assigned to nobody

[2017-10-02 12:30] magento-engcom-team commented on #9764
@dbsdsun, thank you for your report.
We've created internal ticket(s) MAGETWO-80587 to track progress on the issue.

[2017-10-02 12:30] magento-engcom-team commented on #9373
@lauriecrt, thank you for your report.
We've created internal ticket(s) MAGETWO-80584 to track progress on the issue.

[2017-10-02 12:30] magento-engcom-team commented on #2252
@debuysserk, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 12:30] #2252 closed

[2017-10-02 12:30] magento-engcom-team commented on #11177
@Olek89, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 12:30] #11177 closed, assigned to nobody

[2017-10-02 12:30] magento-engcom-team commented on #9444
@mornayv, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 12:30] #9444 closed, assigned to nobody

[2017-10-02 12:30] magento-engcom-team commented on #5261
@dunghangnuakhong, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0, 2.2.0, 2.1.9

[2017-10-02 12:30] #5261 closed, assigned to nobody

[2017-10-02 12:30] magento-engcom-team commented on #11140
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-80591 to track progress on the issue.

[2017-10-02 12:34] ShoobyBan commented on #11030
It's vendor/magento/module-catalog-url-rewrite/Model/Category/CurrentUrlRewritesRegenerator.php and vendor/magento/module-catalog-url-rewrite/Model/Product/CurrentUrlRewritesRegenerator.php getting the wrong entity type info (ProductUrlRewriteGenerator::ENTITY_TYPE returns 'product' instead of 4, CategoryUrlRewriteGenerator::ENTITY_TYPE is 'category' instead of 3)

[2017-10-02 12:34] Olek89 commented on #11177
could it be a problem of configurable products?

[2017-10-02 12:42] andrewhowdencom commented on #11151
I missed this initially, so note that this is specific to FPC cache rates. It's fairly easy to track this in NGINX by taking the number of requests for the vhost that accepts external traffic and proxies it to varnish as compared to the requests to the vhost that runs the FastCGI requests. @sitewards we use https://github.com/knyar/nginx-lua-prometheus for this purpose (among others).

Additionall

[2017-10-02 12:43] Igloczek commented on #9252
No response at all, this project looks to be not maintained anymore.
Probably the safest way will be to stop using this Grunt wrapper and use Jasmine directly through CLI as described here https://jasmine.github.io/setup/nodejs.html

[2017-10-02 12:44] paveq commented on #8469
Tested on clean 2.2.0 by adding an image from admin. 35 versions were generated from the original.

[code]

[2017-10-02 12:47] paveq commented on #8469
In addition there being too many different sizes being generated, there's still separate issue of exactly same contents being generated multiple times:

[code]

[2017-10-02 12:56] andrewhowdencom commented on #8837
[code]

ga.js uses the function queue pattern, and balances both the declaration of a required global property and the use of async scripts extremely well. In all browsers supported by m2, this will result in ga being available early, but also non-blocking (thanks to the function queue).

Or, TLDR regardless of what the docs say stick it in the head.

[2017-10-02 12:57] magento-engcom-team commented on #8713
Hi @rameshpushparaj
We are closing this as the issue is already fixed in 2.2
Thank you

[2017-10-02 12:57] #8713 closed, assigned to nobody

[2017-10-02 13:14] orlangur commented on #10738
@maksek ok, thanks for sorting this out 👍

[2017-10-02 13:15] magento-engcom-team commented on #7867
Hi @guystewart
We are going to close this ticket as it duplicates #4547.
Please track it for the solution. Thank you

[2017-10-02 13:15] #7867 closed, assigned to nobody

[2017-10-02 13:19] JeroenVanLeusden commented on #9744
Also encountered this issue. Seems that `Magento\Quote\Model\ResourceModel\Quote::loadByCustomerId()` tries to fetch the customers quote but there isn't any active.

[2017-10-02 13:30] #4547 closed, assigned to ivanrogar

[2017-10-02 13:30] magento-engcom-team commented on #9694
@jantzenw, thank you for your report.
We've created internal ticket(s) MAGETWO-80614 to track progress on the issue.

[2017-10-02 13:30] magento-engcom-team commented on #9130
@popoviciandrei, thank you for your report.
We've created internal ticket(s) MAGETWO-70233 to track progress on the issue.

[2017-10-02 13:30] magento-engcom-team commented on #9730
@chm1975, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 13:30] #9730 closed, assigned to nobody

[2017-10-02 13:30] magento-engcom-team commented on #6597
@rbncha, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 13:30] #6597 closed, assigned to nobody

[2017-10-02 13:30] #9032 closed, assigned to nobody

[2017-10-02 13:30] magento-engcom-team commented on #8145
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-80606 to track progress on the issue.

[2017-10-02 13:30] magento-engcom-team commented on #8921
@Diwyn, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-02 13:30] #8921 closed, assigned to nobody

[2017-10-02 13:30] magento-engcom-team commented on #8813
@srinivasanithin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 13:30] #8813 closed, assigned to nobody

[2017-10-02 13:30] magento-engcom-team commented on #4848
@davidverholen, thank you for your report.
We've created internal ticket(s) MAGETWO-80603 to track progress on the issue.

[2017-10-02 13:30] magento-engcom-team commented on #8969
@sabarivenkatesankrish, thank you for your report.
We've created internal ticket(s) MAGETWO-70323 to track progress on the issue.

[2017-10-02 13:30] magento-engcom-team commented on #9854
@bvboas, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-02 13:30] #9854 closed, assigned to nobody

[2017-10-02 13:30] magento-engcom-team commented on #11175
@scholtz, thank you for your report.
We've created internal ticket(s) MAGETWO-80604 to track progress on the issue.

[2017-10-02 13:30] magento-engcom-team commented on #9919
@bap14, thank you for your report.
We've created internal ticket(s) MAGETWO-80609 to track progress on the issue.

[2017-10-02 13:34] pravalitera commented on #5730
@rbostan Did you manage to find a solution for elasticsearch ?

[2017-10-02 13:42] adamjezek98 commented on #8017
Also experienced this few times. Once when switching to developer via command line and once when installing module ([generated from mage2gen](https://mage2gen.com/load/9e9a75ed-e70f-4438-87fc-fce992cc07a0)) over web setup wizard. Only folders dev, phpserver and pub were not deleted. All backups files were stored in var folder, so they are gone.

Magento version  Magento-CE-2.2.0-2017-09-25-08-19-4

[2017-10-02 13:53] DeepPopat opened #11180 "Configurable product's associated product stock is not updated in Magento 2"
Select any configurable product, Then Edit Configuration and change bulk quantity and save configuration and save product. but associative product quantity is not changed its same as old.

### Preconditions

1. Magento 2.1.7
2. Magento 2.1.8
3. Magento 2.1.9

### Steps to reproduce
1. Install Magento latest version (Ex: 2.1.9) with sample data.
2. Select configurable product from admin.
3. Then ed

[2017-10-02 14:01] magento-engcom-team commented on #5917
Closing, as different ticket was created.

[2017-10-02 14:01] #5917 closed, assigned to nobody

[2017-10-02 14:05] rishabhchd19 commented on #10941
Content>Widget

[2017-10-02 14:09] rishabhchd19 commented on #10941
[layout update xml.txt](https://github.com/magento/magento2/files/1349145/layout.update.xml.txt)
Layout Update Xml config is attached here. Please note that I have upgraded Magento 2.19. to 2.2.0

[2017-10-02 14:23] magento-engcom-team commented on #5821
Hi @ludwig-gramberg Thank you for reporting
Please consider posting documentation related issues to https://github.com/magento/devdocs

Thank you

[2017-10-02 14:23] #5821 closed, assigned to nobody

[2017-10-02 14:28] magento-engcom-team commented on #5785
Hi @ADDISON74
Issue seems to be already fixed in the `2.3.0-dev` with the PR magento/magento2#10089.
We will consider backporting it into previous versions.

[2017-10-02 14:28] maderlock commented on #9695
Slight issue here is that varnish ignores no-cache and caches anyway. I've had to add a custom no-varnish option and listen to that in the varnish vcl. It would appear that Magento have not added any way other than private pages to stop pages from being cached as they come through varnish.

[2017-10-02 14:30] magento-engcom-team commented on #10811
@s3rj1k, thank you for your report.
We've created internal ticket(s) MAGETWO-80632 to track progress on the issue.

[2017-10-02 14:30] magento-engcom-team commented on #9612
@sasilinux, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 14:30] #9612 closed, assigned to nobody

[2017-10-02 14:30] magento-engcom-team commented on #8003
@tsmith1985, thank you for your report.
We've created internal ticket(s) MAGETWO-62921 to track progress on the issue.

[2017-10-02 14:30] magento-engcom-team commented on #8746
@kmgmkg, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-02 14:30] magento-engcom-team commented on #8080
@ytorbyk, thank you for your report.
We've created internal ticket(s) MAGETWO-63094, MAGETWO-80624 to track progress on the issue.

[2017-10-02 14:30] magento-engcom-team commented on #8128
@jurpro, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 14:30] #8128 closed, assigned to nobody

[2017-10-02 14:30] magento-engcom-team commented on #9742
@robgt, thank you for your report.
We've created internal ticket(s)  to track progress on the issue.

[2017-10-02 14:30] magento-engcom-team commented on #9010
@hitman3043, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 14:30] #9010 closed, assigned to nobody

[2017-10-02 14:30] magento-engcom-team commented on #11128
@rmevans1, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 14:30] #11128 closed, assigned to nobody

[2017-10-02 14:39] magento-engcom-team commented on #11159
@palo I cannot reproduce this issue.
Run `php bin/magento index:reindex` may be help you

[2017-10-02 14:45] magento-engcom-team commented on #5711
Hi @j1nx3d
Fix for this issue is already released with `2.2.0`. You may use commits [prefixed with MAGETWO-56863](https://github.com/magento/magento2/search?q=MAGETWO-56863&type=Commits)
for reference.
We are considering to backport this fix into previous versions, however there is no specific schedule for now.
Thank you.

[2017-10-02 14:45] #5711 closed, assigned to nobody

[2017-10-02 14:50] magento-engcom-team commented on #5682
Hi @tomsonnemans
Looks like this issue is already fixed in `2.2.0` with the following Pull request: magento/magento2#7142
Closing this ticket for now. Please reopen if the problem persists

[2017-10-02 14:50] #5682 closed, assigned to nobody

[2017-10-02 14:53] magento-engcom-team commented on #5648
@PierAlex @PascalBrouwers
Indeed, products without weight are automatically considered to be virtual. It is default behavior of Magento.
We will consider updating UX to highlight this.
Closing this ticket, as it is not a bug.

[2017-10-02 14:53] #5648 closed, assigned to nobody

[2017-10-02 14:53] magento-engcom-team commented on #9596
Thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation  latest (now 2.1.9) release.

[2017-10-02 14:54] wget commented on #9744
I can reproduce this issue with the following steps on 2.1.8 CE. This is rather easy.
- Put something in your cart.
- Go to the checkout https://<BASE_URL>/checkout/
- Open that same page in another tab.
- On one of the tab, order the product. Go to the other tab. Select another address and you get the issue.

This is pretty normal I get this error in this particular (silly) use case (even if a mo

[2017-10-02 14:56] magento-engcom-team commented on #9417
Thank you for your report.
We were not able to reproduce this issue by following the steps you provided (we made upgrade to 2.1.9). Please provide more detailed steps to reproduce or try to reproduce this issue on a latest release(2.1.9). Thank you.

[2017-10-02 14:57] romantomchak opened #11181 "Cannot install Magento. Interface 'Magento\Framework\UrlInterface' not found"
After creating the project, using composer I cannot install Magento. When I open the page, I always get an error:
`Fatal error: Interface 'Magento\Framework\UrlInterface' not found in /var/www/magento/vendor/magento/framework/Url.php on line 66`

After some investigation, I found that this interface really does not exist.
This class `\Magento\Framework\Url` is inherited from an interface that does

[2017-10-02 15:01] magento-engcom-team commented on #5529
@kfaer, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-02 15:01] #5529 closed, assigned to tanya-soroka

[2017-10-02 15:10] magento-engcom-team commented on #5346
Hi @aditya-makwana
This issue is already fixed in `2.1` and `2.2`. Please refer to the [commits mentioning MAGETWO-50704](https://github.com/magento/magento2/search?q=MAGETWO-50704&type=Commits) for the reference.
Thank you.

[2017-10-02 15:10] #5346 closed, assigned to nobody

[2017-10-02 15:11] maderlock commented on #9695
I've ended up swapping out the pragma and cache-control for:
    $http->setHeader('varnish-control', 'no-cache', true);

And added this to my default.vcl's sub vcl_fetch:
    if (beresp.http.varnish-control ~ "no-cache") {
        set beresp.ttl = 0s;
        return (hit_for_pass);
    }

[2017-10-02 15:14] magento-engcom-team commented on #5342
Hi @maderlock
This issue is already fixed in `2.2.0`. You may use 845ffccf184f683ab66ca3ef046483075b340f9e for the reference.
Thank you.

[2017-10-02 15:14] #5342 closed, assigned to nobody

[2017-10-02 15:20] palo commented on #11159
@magento-engcom-team already tried that. Also:

- Updated from 2.1.6 to 2.1.9.
- Created an exact copy in local machine. Disabled all third party extensions and changed to luma.
- Created new products for testing
- Changed stock management on and off

I cant reproduce this issue in a fresh install.
Nothing relevant in log.

We didnt notice when this issue started, maybe previous version update as

[2017-10-02 15:22] am2008 commented on #11170
Permissions is ok, it first thing i checked then this happend.
I did again clean install of Magento 2.2, and all works fine now.
Heaven forbid to run again "manual static deployment content" in 2.2 again.

[2017-10-02 15:22] magento-engcom-team commented on #5334
@Taral-Patoliya @jeremib
This issue is marked as duplicate and has multiple related tickets in internal bug tracker, which are all related to import and url rewrites mechanisms.
Unfortunately, since the issue report is not clear enough, we can not determine which specific fix you are looking for.
Please verify your case with the latest `2.2.0` and file a new issue report following the issue [repor

[2017-10-02 15:22] #5334 closed, assigned to nobody

[2017-10-02 15:24] #11170 closed, assigned to magento-engcom-team

[2017-10-02 15:30] magento-engcom-team commented on #11180
@DeepPopat, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-02 15:30] #11180 closed, assigned to nobody

[2017-10-02 15:30] magento-engcom-team commented on #8538
@spyrule, thank you for your report.
We've created internal ticket(s) MAGETWO-70414, MAGETWO-80634 to track progress on the issue.

[2017-10-02 15:30] magento-engcom-team commented on #10450
@DigitalStartupUK, thank you for your report.
We've created internal ticket(s) MAGETWO-80637 to track progress on the issue.

[2017-10-02 15:30] magento-engcom-team commented on #8645
@importwholesales, thank you for your report.
We've created internal ticket(s) MAGETWO-80636 to track progress on the issue.

[2017-10-02 15:30] magento-engcom-team commented on #9798
@troublediehard, thank you for your report.
We've created internal ticket(s) MAGETWO-80638 to track progress on the issue.

[2017-10-02 15:30] magento-engcom-team commented on #11159
@palo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-02 15:30] #11159 closed, assigned to nobody

[2017-10-02 15:31] Geater commented on #11030
@ShoobyBan If that is indeed the problem, do you know the best way to fix it?

[2017-10-02 15:33] magento-engcom-team commented on #5178
Hi @devhn
We are closing this report as the fix for the issue is already released with `2.2.0`.
Please reopen if the problem persists.
Thank you

[2017-10-02 15:33] #5178 closed, assigned to nobody

[2017-10-02 15:41] magento-engcom-team commented on #5089
Hi @Dayssam
Fix for the issue seems to be released to `2.2` and `2.1` with the commit 520f76d054a3fd1bda57144e17e58e116361a6d5
Closing this report for now. Please reopen if the issue persists.
Thank you

[2017-10-02 15:41] #5089 closed, assigned to nobody

[2017-10-02 15:41] Ylmzef opened #11182 "No actions links after upgrade to 2.2.0 from 2.1.9"
### Preconditions
1.  MAGENTO 2.2.0
2. PHP 7.0.23 + FPM/FastCGI
3. MYSQL
4. Apache 2.4

### Steps to reproduce

1.  No action links on products, pages, block etc. pages
2. Only on first calumn Select dropdown menu but no content

### Actual result
![aanteke525ning](https://user-images.githubusercontent.com/8562514/31085893-a68ff532-a798-11e7-9c4a-82c3010a522b.png)

I found following JS errors from

[2017-10-02 15:47] magento-engcom-team commented on #11181
Hi @romantomchak
We have attempted to reproduce this issue and created the project same way as you described.
Unfortunately, we could not reproduce the issue. Interface seems to be there.
Attaching a screenshot for reference.

<img width="847" alt="screen shot 2017-10-02 at 18 45 06" src="https://user-images.githubusercontent.com/31669971/31086270-12700612-a7a2-11e7-85bb-5ce659ea2282.png">

Please

[2017-10-02 15:58] magento-engcom-team commented on #4883
Fix for the issue is already delivered to `2.2.0` with 3a71ba4d9649c3d18f669fecb2a14b602189f03c and f67e5989f5efb36ca331e5cc28ee109961fcb99c.
Closing this report for now. Please reopen if the issue persists.

[2017-10-02 15:58] #4883 closed, assigned to nobody

[2017-10-02 16:30] magento-engcom-team commented on #9142
@shikhark92, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-02 16:30] #9142 closed, assigned to nobody

[2017-10-02 16:30] magento-engcom-team commented on #10815
@cloverbox, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-02 16:33] orlangur commented on #11030
It should not be empty in case you have some visible on storefront product in some visible on storefront category.

[2017-10-02 16:52] PhiIipp commented on #10821
@Orjan
did you do any progress?
Fyi i use Ubuntu, with Plesk and PHP fastcgi 7.0.23 , opcache on...
Think must be System specific else more ppl would have this problem.

Thanks
Philipp

[2017-10-02 16:53] J-Fricke commented on #7967
Having the same issue where sometimes it's full Breadcrumb and sometimes it's missing category parts.

Behavior I'd expect is for it to default to the first top level category then follow that path down.

Example:
- Catalog
-- Category 1
-- Category 2
-- Category 3

Product 1 exists in both 1 & 2 above will display `Home > Category 1 ... > Product`
Product 2 exists in both 1 & 3 above will display

[2017-10-02 16:58] oewean commented on #10821
Haven't had time to check any more,
I'm using plesk as well.

-Orjan

[2017-10-02 17:27] speedupmate commented on #10489
You are right this is a structural problem and I bet none of your team-mates can explain why in m2 addresses are not just addresses (separated just by type) with shared API but completely separate implementations of either billing- or shipping address together with dependencies (like shipping address being the main citizen)  and api inconsistency in every level (backend, frontend, api etc) + mixed

[2017-10-02 18:07] crtsl commented on #10821
I am also experiencing this same issue. Cannot check out after upgrading from 2.1.9 -> 2.2.0.

Using:
PHP 7.1.10
MySQL 5.6
Plesk

[2017-10-02 18:30] orlangur commented on #10821
That's pretty strange error, looks like something happened to autoloading mechanism.

Could somebody please debug what is actually happening in `\Zend_Validate::is` method?

[2017-10-02 18:32] mzenner1 commented on #6173
Is a fix in the works for this bug?

[2017-10-02 18:50] hostep commented on #9694
@jantzenw, just for information, there was a blogpost about this issue on Magento's Devblog a couple of weeks after you created this issue: https://community.magento.com/t5/Magento-DevBlog/Mysterious-startSetup-and-endSetup-Methods/ba-p/68483
I think the recommendations made in that article are correct, just don't use the `startSetup` and `endSetup` methods when you don't need them.

Unfortunately

[2017-10-02 19:23] PieterCappelle commented on #11131
Hi, this is related to this issue https://github.com/magento/magento2/issues/10417 and fixed with my PR https://github.com/magento/magento2/pull/11048

[2017-10-02 19:31] PieterCappelle commented on #11109
Hi, this is related to this issue https://github.com/magento/magento2/issues/10417 and fixed with my PR https://github.com/magento/magento2/pull/11048

[2017-10-02 19:38] Yosuatel commented on #10485
Updated to magento 2.2.0 and continues the problem when saving the product Invalid input datetime format of value, also in the rule this message Something went wrong when saving the data of the rule. Please review the error log.
This problem is when my profile is in language es_ES

[2017-10-02 20:03] korostii commented on #8055
Hi @magento-engcom-team
No, it's not in 2.1 yet as far as I can see. The code is still the same: https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/View/Layout/Generator/UiComponent.php#L92

Compare that to 2.2.0: https://github.com/magento/magento2/blob/2.2.0-preview/lib/internal/Magento/Framework/View/Layout/Generator/UiComponent.php#L91-L95

Please either double-check y

[2017-10-02 20:09] rmilea commented on #7309
@alena-marchenko  Can you please let us know the Magento version that will contain the fix for MAGETO-62662.

I'm using version 2.1.7 and is not fixed yet.

[2017-10-02 20:23] orlangur commented on #8055
@korostii thanks for checking, `Reproduced on 2.2.x` - is it correct label? Should be not so hard to identify commit for backport if really fixed on `develop` only and still reproducible on `2.1.x`.

[2017-10-02 20:37] dan-advantec commented on #8170
I can also confirm the issue still exists in 2.1.9 please can somebody supply a commit ref which contains the fix?

[2017-10-02 21:07] ShapesGraphicStudio opened #11185 "Magento 2.2.0 Checkout - Unable to save address. Please, check input data."
### Preconditions

1. Magento 2.2.0
2. PHP 7.0.23
3. MySQL 5.6.36-2.el6
4. Just updated from 2.1.9 to 2.2.0

### Steps to reproduce

1. Add product to cart
2. Go to checkout
3. Check "My billing and shipping address are the same"
4. Try to place order

### Expected result

1. Get redirected to bank

### Actual result

1. Loader does endless loading, a message appears and disappearis quickly :
"Una

[2017-10-02 21:17] ytorbyk commented on #8080
@magento-engcom-team
I submitted pull request which fixes the issue and it was merged.
https://github.com/magento/magento2/pull/8082

[2017-10-02 21:21] orlangur commented on #11185
[code]

Please provide logged critical message also.

[2017-10-02 21:29] ShapesGraphicStudio commented on #11185
Sorry, but where can I find that please ?

[2017-10-02 21:53] ShapesGraphicStudio commented on #11185
On a new try, exception.log just threw me :

[2017-10-02 22:32] korostii commented on #9516
With all due respect, that's an overstatement. Current behavior is very far from perfect.

IMHO telling Alan Storm (of all people) to seek an "advice" on Magento issues should be considered an insult.

Make up your mind already. If you agree that a PR fixing this bug should be accepted, then the current behaviourcannot be correct.

What's that supposed to mean?
Considerning the comments above, thi

[2017-10-02 22:35] ShapesGraphicStudio commented on #10821
Also experiencing the same issue

    Magento 2.2.0
    PHP 7.0.23
    MySQL 5.6.36-2.el6
    Plesk
    Just updated from 2.1.9 to 2.2.0

[2017-10-02 22:58] korostii commented on #6709
@XigenDominic
FYI if you'd like to expedite this bugfix further and have spare time for one more PR, it's encouraged to submit an extra "backport" pull request to `2.1-develop` (and\or `2.2-develop`, probably) with very same changes as well (now that your PR to `develop` is reviewed, accepted and merged).

Don't have a link handy, but this policy was publicly announced on the Magento Forums a few

[2017-10-02 23:01] oewean commented on #11185
I have the same issue, and I can't save email addresses for the store as well from the backend.

The same issue is reported earlyer: #10821
https://github.com/magento/magento2/issues/10821

Best regards
Ørjan

[2017-10-02 23:04] ferraramax commented on #11185
Same issue... How to solve?

[2017-10-02 23:12] korostii commented on #10807
Yes, I agree. So?

The open\closed state is even more visible and it's always present.
Having some extra labels shouln't be an excuse to ignore or mishandle issue state.

[2017-10-02 23:35] barbazul commented on #8508
I can confirm the fix proposed by @tadhgbowe worked in 2.1.4 and does not work in 2.1.8

Will try on other versions trying to track it down.

[2017-10-02 23:44] claudiumitreaa commented on #3758
in magento 1.x the password is encrypted using md5, in magento 2 is not used md5, that is the reason you can’t log in after migration
i fixed that with some custom code, but i modified somethig in vendor
leave me your email and i’ll send you my solution, maibe it helps you

[2017-10-02 23:48] korostii commented on #6597
Hi @magento-engcom-team

That can't be right. As mentioned on the linked PR #9476 , here's the fix: e89d09d2885b51c49c223ff795041fd6aab5fafc
And it seems to be present on 2.2 branch only.

[2017-10-03 00:01] korostii commented on #8055
Seems not.

Yep, simple blame does it, but the commit is rather monstrous:  5affd8aa4c44f2f137bb171887af000b9ef27d09
Personally, I' don't see how a commit like that could pass code review without some extra explanation.
I would guess backporting it "as is" won't be accepted. Good thing we know where to look (in this case).

The savage tactic of squashing everything into giant merge commits really

[2017-10-03 00:52] electricBonfire commented on #6367
+1

[2017-10-03 01:01] Sharlyll commented on #11163
Experiencing the same issue.

Error: Data key missing: code entity
When creating a New page or editing an exisiting one.

Magento 2.2 Clean install
Running on standard PHP7/MYSQL
Shared server

[2017-10-03 01:21] electricBonfire commented on #6367
I have 2 files in my theme: `/web/css/source/_extends.less` and `/web/css/souce/_colors.less`. If I `@import "_colors"` in my `_extends.less` file and then run `grunt exec:my_theme` the `pub/static/..../css/source/_extends.less` is not created as a `symlink`. If I remove the `@import` it is created as a `symlink`. I'm not sure if this is the intended behavior but has caused me lots of frustration.

[2017-10-03 01:57] sammarcus commented on #4299
@AlexWorking please let me know if you'd like sample data to reproduce?

[2017-10-03 03:44] kfaer commented on #11163
@antboiko It seems it is an issue with the new version 2.2.0, please advise.

[2017-10-03 04:56] manojmjtech commented on #7942
After applying the changes its working fine on first time load of checkout page on iphone safari private mode but when you refresh the checkout page again then it keeps on loading and page doesn't load.
Moreover if you are on checkout page login to your account and page refreshes and again the same loading error and page doesn't load.

Please let me know any solution for it.

[2017-10-03 05:50] Krupaly2k commented on #3758
Hi Claudiumtreaa,

Thanks for quick response. Please send me details on krupaly2k@gmail.com

[2017-10-03 05:53] xehihezynadaltd opened #11186 "Checkout Page issue with magento 2.1.8"
I used magento 2.1.8 on check out page after updating shipping address I found error
TypeError: items is not a function and break checkout functionality .Its produce in cash on delivey option and other payment gateway

### Preconditions

php 5.7

1.  2.1.8
2.

### Steps to reproduce

1. GOTO checkout as guest user
2. add shipping address
3. update address and you found loader only

### Expected re

[2017-10-03 06:16] joinso opened #11187 "Quantity Condition not shown in Widget"
### Preconditions:
1. Magento CE 2.2.0
2. PHP 7.1.7
3.- MySQL : Ver 14.14 Distrib 5.5.57, for Linux (x86_64) using readline 5.1

### Steps to reproduce:
1. In Content, in any page edit or add a new page.
2. Add a Widget of type "Catalog Product List".

### Actual result
1. In Conditions , "Quantity" Filter is not shown.

### Expected result
1. "Quantity" filter is shown

I try this in another site

[2017-10-03 06:23] joni-jones commented on #7309
@rmilea this issue fixed in 2.2.0 release.

[2017-10-03 06:30] magento-engcom-team commented on #5402
@mcspronko, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 06:30] magento-engcom-team commented on #5086
@Dayssam, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-03 06:30] #5086 closed, assigned to nobody

[2017-10-03 06:36] orlangur commented on #8055
@korostii squashed commits are perfectly fine until they contain related changes. It looks like here the issue you reported was fixed accidentally. If you see an exact part which fixed the problem (like mentioned lines), it would be best to prepare a backport PR.

[2017-10-03 06:47] mikehenze commented on #8170
It works perfect in 2.2
I doubt there will be a fix for 2.1 branch

[2017-10-03 07:17] #10815 closed, assigned to magento-engcom-team

[2017-10-03 07:24] versdivers commented on #11129
I will update this today

[2017-10-03 07:30] magento-engcom-team commented on #9419
@jellamahendra, thank you for your report.
We've created internal ticket(s) MAGETWO-80656 to track progress on the issue.

[2017-10-03 07:30] magento-engcom-team commented on #11131
@Ayaname0330, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 07:30] #11131 closed, assigned to magento-engcom-team

[2017-10-03 07:30] magento-engcom-team commented on #10480
@sippsolutions, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 07:30] #10480 closed, assigned to nobody

[2017-10-03 07:49] srinivasanithin commented on #8813
@magento-engcom-team : I just want to understand when you say your not able to reproduce. Any sales order which was created using cash or check (offline payment), can I create Credit Memo from invoice related to sales order via /invoice/:id api? without any error?

[2017-10-03 07:56] AlexanderHuyghebaert commented on #7665
@magento-engcom-team : It is not because this is fixed in 2.2.0 that the older versions don't get the solution!
Can you tell us what the solution is, because we are facing this too!

[2017-10-03 08:12] magento-engcom-team commented on #8813
Hi @srinivasanithin
We have tested the issue using the steps you provided. Error in testing could occur if some steps to reproduce are not totally clear and can be interpreted in multiple ways.
If you wish – you may add more details to your report (along with requests and endpoints you used, etc.) and we will check again.

[2017-10-03 08:13] matin73 commented on #6146
same problem in magento 2.2 - realy poor in year 2017 that magento is not even supporting sending emails via smtp!!!

[2017-10-03 08:15] david-fiaty-cko commented on #7665
+1

[2017-10-03 08:22] magento-engcom-team commented on #7665
@AlexanderHuyghebaert @david-fiaty-cko
According to our records commit which is fixing the issue is 8db59122f48e343587cc6318b34455661e27d3b4

[2017-10-03 08:24] AlexanderHuyghebaert commented on #7665
@magento-engcom-team : thank you for your answer, will look into that and test this

[2017-10-03 08:27] magento-engcom-team commented on #10821
@ravibhoraniya We have updated issue description with information @PhiIipp to simplify search of the same issues.

[2017-10-03 08:30] magento-engcom-team commented on #9345
@cykirsch, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-03 08:30] magento-engcom-team commented on #7441
@DariuszMaciejewski, thank you for your report.
We've created internal ticket(s) MAGETWO-61484 to track progress on the issue.

[2017-10-03 08:30] magento-engcom-team commented on #9168
@Tonop, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 08:30] #9168 closed, assigned to nobody

[2017-10-03 08:30] magento-engcom-team commented on #8700
@yellow13, thank you for your report.
We've created internal ticket(s) MAGETWO-70552 to track progress on the issue.

[2017-10-03 08:30] magento-engcom-team commented on #9620
@cs221313, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 08:30] #9620 closed, assigned to nobody

[2017-10-03 08:30] magento-engcom-team commented on #9658
@Gamewalker, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 08:30] #9658 closed, assigned to nobody

[2017-10-03 08:30] magento-engcom-team commented on #7468
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-61593 to track progress on the issue.

[2017-10-03 08:30] magento-engcom-team commented on #8820
@tinxit, thank you for your report.
We've created internal ticket(s) MAGETWO-80669 to track progress on the issue.

[2017-10-03 08:30] magento-engcom-team commented on #10941
@rishabhchd19, thank you for your report.
We've created internal ticket(s) MAGETWO-80668 to track progress on the issue.

[2017-10-03 08:30] magento-engcom-team commented on #11185
@ShapesGraphicStudio
This ticket seems to be a duplicate of #10821. We will continue investigation and conversation there.

[2017-10-03 08:30] #11185 closed, assigned to nobody

[2017-10-03 08:35] ferraramax commented on #10821
I have the same problem, in a fresh installation of Magento 2.2
<code>
Php 7.1
Mariadb
Plesk 17
</code>

[2017-10-03 08:44] igrybkov commented on #8170
Hi,
@maaarghk, I see these changes were merged in commit [e4e4c6db4487314a22c17006009205943492e5ce](https://github.com/magento/magento2/commit/e4e4c6db4487314a22c17006009205943492e5ce).

Also, these changes are present in the 2.1.9 tag: https://github.com/magento/magento2/blob/479f137cf47f6907aa5061b36b183295387c0968/app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Eav/Source.php#L274-

[2017-10-03 09:00] kanduvisla opened #11188 "M2.1.9 : Possible bug with FPT 'Include in Subtotal'"
I guess it's a bug or I'm misunderstanding what the option is for, but: when I configure my FPT settings, it doesn't seem to make a difference if I set 'Include in Subtotal' to 'Yes' or 'No'.

I have a product that has FPT, but the subtotal in the cart row differs from that in the information block. For example:

<img width="451" alt="screen shot 2017-10-03 at 10 55 08 am" src="https://user-images

[2017-10-03 09:04] ParimalMakwana commented on #3596
@mazhalai I am still facing this issue, can you please help me on this?

[2017-10-03 09:06] magento-engcom-team commented on #9744
@wget Thank you for the update.
Please pay attention to the fact, that if you are using Magento Commerce (Enterprise Edition), the programmatical foreign key, mentioned above, is implemented in a different way, using queue. Having a consumer running is crucial in that case.
On a side note: the exception masking, mentioned in the thread before, is indeed a bad practice, however, it would not influe

[2017-10-03 09:08] wget commented on #9744
@magento-engcom-team Thanks for the precision, but like I wrote, I'm actually using the Community Edition (2.1.8 CE).

[2017-10-03 09:11] posttechguy commented on #6059
I want to be able to move the toolbar as well
<move element="product_list_toolbar" destination="sidebar.main" before="-" />

Any movement on this ticket?

[2017-10-03 09:16] ParimalMakwana commented on #4145
@magento-engcom-team I have tried all above solution still the same issue for me, please help me on this.

[2017-10-03 09:19] magento-engcom-team commented on #4145
@ParimalMakwana Have you tried on a 2.1.9 version as it was suggested above?
If the issue persists please file a report following the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
Thank you

[2017-10-03 09:20] romantomchak commented on #11181
Hi @magento-engcom-team,

it's still not working. Below is a step-by-step guide to what I'm  doing.

1. Create project
[code]

2. Go to the framework directory
[code]
3. All files which contain "Url" word in name
[code]

My env configuration is:
PHP: 7.1.10
Composer: 1.5.1

[2017-10-03 09:24] ParimalMakwana commented on #4145
@magento-engcom-team Thanks for quick reply but I have tried with 2.1.8 but same issue on it.
Are you sure it will resolve with 2.1.9?

[2017-10-03 09:29] magento-engcom-team commented on #4145
@ParimalMakwana No, we are not sure, since we do not have detailed enough information on the issue. Internal tracker shows that multiple developers attempted to reproduce it and had no result.
Please verify the issue on clean installations of `2.2.0`, `2.1.9` and provide a report following the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
We can

[2017-10-03 09:30] magento-engcom-team commented on #9568
@Joe-Whitehead, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 09:30] #9568 closed, assigned to nobody

[2017-10-03 09:30] magento-engcom-team commented on #8615
@mplccp, thank you for your report.
We've created internal ticket(s) MAGETWO-60899 to track progress on the issue.

[2017-10-03 09:30] magento-engcom-team commented on #8171
@cherreman, thank you for your report.
We've created internal ticket(s) MAGETWO-63336 to track progress on the issue.

[2017-10-03 09:30] magento-engcom-team commented on #6938
@ps202, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-03 09:30] #6938 closed, assigned to nobody

[2017-10-03 09:30] magento-engcom-team commented on #9326
@maultby, thank you for your report.
We've created internal ticket(s) MAGETWO-70532 to track progress on the issue.

[2017-10-03 09:40] palo commented on #11101
I have the same issue. I'm not able to reproduce it a clean install. There must be another way to find the cause of it.

[2017-10-03 09:44] sammarcus commented on #5377
I see this issue has since been closed. Can anyone advise the exact version the fix has been pushed to?

[2017-10-03 09:51] hostep commented on #6754
I just had to upgrade our patch which we applied to Magento 2.1.7 to make it compatible with Magento 2.1.9, so in case anyone is interested:
[MAGETWO-58174-for-Magento-2.1.9.patch.txt](https://github.com/magento/magento2/files/1351822/MAGETWO-58174-for-Magento-2.1.9.patch.txt)

I haven't actually tested it yet at this moment, so if anyone wants to try this, be my guest.
I might create a backport f

[2017-10-03 10:12] franckgarnier21 commented on #4432
Same with Magento 2.1.9

Why the ticket is closed ?

[2017-10-03 10:18] magento-engcom-team commented on #11163
@Sharlyll

What we have tried:
* Install `2.2.0 Open Source`
* Navigate to the admin area
* **Content** > **Pages** > **Add New Page**
* ✅ New Page Form is rendered

Please let us know if you have done any additional configuration on your store.

@kfaer It is hardly possible to advice when issue can not be replicated.

[2017-10-03 10:30] magento-engcom-team commented on #10085
@spyrule, thank you for your report.
We've created internal ticket(s) MAGETWO-80699 to track progress on the issue.

[2017-10-03 10:30] magento-engcom-team commented on #7897
@slackerzz, thank you for your report.
We've created internal ticket(s) MAGETWO-80700 to track progress on the issue.

[2017-10-03 10:30] magento-engcom-team commented on #7938
@am2008, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 10:30] #7938 closed, assigned to nobody

[2017-10-03 10:30] magento-engcom-team commented on #7967
@susmithaN, thank you for your report.
We've created internal ticket(s) MAGETWO-63011, MAGETWO-80697 to track progress on the issue.

[2017-10-03 10:30] magento-engcom-team commented on #4843
@quienti, thank you for your report.
We've created internal ticket(s) MAGETWO-80692 to track progress on the issue.

[2017-10-03 10:35] ParimalMakwana commented on #4145
@magento-engcom-team
Hey Issue resolve for me!
Actually, there was "Schogini_Beanstream" module I need to disable that was creating issue.

[2017-10-03 10:43] magento-engcom-team commented on #4145
@ParimalMakwana Thank you for the update. Closing.

[2017-10-03 10:43] #4145 closed, assigned to NadiyaS

[2017-10-03 10:46] bangnguyen47 commented on #11122
Hi @rigu12
Can you show "max_execution_time" config?
Or you can install via command line: setup:install
eg:
[code]

[2017-10-03 10:58] palo opened #11189 "Filter by attribute doesn't return any product"
At some point, our store lost the ability to filter by attribute. Major changes in recent past were version updates. I'm not sure which update caused this issue but the store was working fine.
Same as in https://github.com/magento/magento2/issues/11101 and https://github.com/magento/magento2/issues/11159

### Preconditions

1. Magento 2.1.9
2. PHP 7.0
3. MySQL 5.7.19

### Steps to reproduce

1. Ma

[2017-10-03 10:58] magento-engcom-team commented on #4853
Closing as duplicate per comment above.

[2017-10-03 10:58] #4853 closed, assigned to nobody

[2017-10-03 11:28] orlangur commented on #10807
Let repository owners decide how issue states and labels shall be used 😉

Improvement suggestions are always welcomed in [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests), according to my understanding it includes processes improvement suggestions as well.

[2017-10-03 11:29] minhluan259 opened #11190 "Error when run command setup:di:compile"
### Preconditions

1. php 7.1.0
2. mysql, nginx
3. magento 2.2

### Steps to reproduce

1. setup new magento 2.2
2. run command setup:upgrade
3. run command setup:di:compile

### Expected result

1. run command setup:di:compile without error

### Actual result

1. [Screenshot, logs]
Errors during compilation:
Magento\Backend\Model\View\Layout\GeneratorPool
Incompatible argument type: Required type

[2017-10-03 11:30] magento-engcom-team commented on #11187
@joinso, thank you for your report.
We've created internal ticket(s) MAGETWO-80721 to track progress on the issue.

[2017-10-03 11:30] magento-engcom-team commented on #8372
@dhanjugopi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 11:30] #8372 closed, assigned to tkacheva

[2017-10-03 11:30] magento-engcom-team commented on #9504
@Khaleel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 11:30] #9504 closed, assigned to nobody

[2017-10-03 11:30] magento-engcom-team commented on #9509
@skymeissner, thank you for your report.
We've created internal ticket(s) MAGETWO-80704 to track progress on the issue.

[2017-10-03 11:30] magento-engcom-team commented on #7757
@pitangaweb, thank you for your report.
We've created internal ticket(s) MAGETWO-70065 to track progress on the issue.

[2017-10-03 11:30] magento-engcom-team commented on #7778
@killoff, thank you for your report.
We've created internal ticket(s) MAGETWO-62181 to track progress on the issue.

[2017-10-03 11:30] magento-engcom-team commented on #7899
@kanduvisla, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-03 11:30] #7899 closed, assigned to nobody

[2017-10-03 11:30] magento-engcom-team commented on #9534
@TenzinNKhando, thank you for your report.
We've created internal ticket(s) MAGETWO-80720 to track progress on the issue.

[2017-10-03 11:30] magento-engcom-team commented on #6047
@nosferix, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-03 11:30] #6047 closed, assigned to nobody

[2017-10-03 11:31] orlangur commented on #11101
Thanks @palo for your efforts in issue reproduction, closing this issue in favor of new one to keep the investigation consolidated.

[2017-10-03 11:31] #11101 closed, assigned to magento-engcom-team

[2017-10-03 11:34] magento-engcom-team commented on #11190
Hi @minhluan259 Thank you for reporting.
Please clarify the following steps:

Did you do a clean install of `2.2` or upgraded from previous versions?
Please check, that caches and generated content are cleared.

[2017-10-03 11:39] sasilinux opened #11191 "After upgrading magento 2.1.9 to magento 2.2.0, Admin Stores Developer not coming"
### Preconditions
1.  Upgrade Magento 2.2.0 from Magento 2.1.9
2.  Flush magento cache

### Steps to reproduce

1. After upgrading, Stores->Configuration->Advanced
2.
3.

### Expected result

1. Advanced,Developer option should be available

### Actual result

1. Advanced, Developer options not available
![system](https://user-images.githubusercontent.com/16077771/31123452-a524b05a-a85d-11e7-8e0c-

[2017-10-03 11:50] orlangur commented on #11191
Please check https://magento.stackexchange.com/questions/195239/magento-2-2-0-missing-admin-developer-configuration. Developer section should only be available in developer mode.

[2017-10-03 12:02] magento-engcom-team commented on #4564
Closing, as issue seems to be fixed.

[2017-10-03 12:02] #4564 closed, assigned to nobody

[2017-10-03 12:10] flancer64 opened #11192 "Applying multiple tax rates in one tax rule"
I have created 3 tax rates:
![admin_tax_zones_and_rates](https://user-images.githubusercontent.com/5052385/31124076-87a0b248-a84b-11e7-9530-c2935b581334.png)

... and assign all tax rates to one tax rule:
![admin_tax_rules_grid](https://user-images.githubusercontent.com/5052385/31124106-a4c7785c-a84b-11e7-81f0-4ef0befb2d4f.png)

![admin_tax_rule_details](https://user-images.githubusercontent.com/5

[2017-10-03 12:16] lucasalcantara opened #11193 "catalog_product_new.xml is not loading in version 2.2"
In my custom module path, view/adminhtml/layout, I added the catalog_product_new.xml to load add a template to Product edit page. In the version, 2.1 worked fine but after putting my module in the version 2.2 it seems that Magento does not load the XML. I am saying this because I put an invalid XML and nothing happened.

[2017-10-03 12:30] magento-engcom-team commented on #9441
@Tonop, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-03 12:30] magento-engcom-team commented on #9457
@DependencyHell, thank you for your report.
We've created internal ticket(s) MAGETWO-70232 to track progress on the issue.

[2017-10-03 12:30] magento-engcom-team commented on #9583
@LSERRE, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-03 12:30] magento-engcom-team commented on #8455
@cykirsch, thank you for your report.
We've created internal ticket(s) MAGETWO-70426, MAGETWO-80722 to track progress on the issue.

[2017-10-03 12:30] magento-engcom-team commented on #9807
@daniel-ifrim, thank you for your report.
We've created internal ticket(s) MAGETWO-80728 to track progress on the issue.

[2017-10-03 12:39] rmilea commented on #7309
@joni-jones Is there a patch available for 2.1.7 ?

[2017-10-03 12:41] joni-jones commented on #7309
No, the fix didn't backport to 2.1.x.

[2017-10-03 12:42] anup4ranium commented on #9326
Hi this is very important issue and we would appreciate if fixed in next 2.1 version :)

[2017-10-03 12:46] #11193 closed, assigned to nobody

[2017-10-03 12:49] rbostan commented on #5730
@pravalitera nope. I have talked that people in their github issues pages, they saying problem is not related with their module.

So we gave up from using Smile-SA. But researching about an improved elasticsearch wrapper.

[2017-10-03 12:55] katculbert opened #11194 "Element 'script': This element is not expected after magento upgrade (when in developer mode)"
**Preconditions**
Git 2.14.1
Apache 2.4.27
Memcached 1.5.1
MySQL 5.7.19
OpenSSL 1.0.2l
PHP 7.0.23
phpMyAdmin 4.7.4
SQLite 3.7.15.1
Varnish 4.1.0

**Steps to reproduce**
Upgrade Magento 2.2.0 from Magento 2.1.9
Flush magento cache
Ensure magento is in developer mode
After upgrading, navigate to website

**Expected result**
Website homepage should display (as per before upgrade)

**Actual result**
e

[2017-10-03 13:03] RealCodeRover commented on #4828
This intermittent loading of the WYSIWYG editor appears in development mode on 2.1.8 - sometimes it loads, sometimes it doesn't. In production mode, the WYSIWYG editor does not work at all, throwing JavaScript errors, attached.
![console-errors](https://user-images.githubusercontent.com/1983545/31126396-f54f2482-a84b-11e7-870b-e2fc83cc8021.jpg)

[2017-10-03 13:08] likhamahudda opened #11195 "Magento 2 Abandoned Cart Report Showing Wrong Customer for Cart"
### Preconditions

1. Abandoned cart customer details show wrong
2. When i click on abandoned customer than details page are on another details

### Steps to reproduce

1.
2.
3.

### Expected result

1. I have attached the screen shot listing and when hover the mouse the link than url and id show  wrong
2. There id 4200 show and this id is another user
![screenshot from 2017-10-03 18 29 11](https:

[2017-10-03 13:14] arthurlataks commented on #10780
@strell Ok, cool, I will add new issue there referencing this issue.

[2017-10-03 13:22] JerVoo opened #11196 "Customer sign in renders webshop unresponsive"
### Preconditions

1. Magento OS 2.1.9, 2.2.0
2. PHP-FPM 7.0.18-0ubuntu0.17.04.1
3. Percona v5.6.22-71.0
4. Redis v3.2.1
5. nginx 1.10.3
6. Varnish 4.0.4
7. Storing sessions in files, database or redis

### Steps to reproduce
1. Sign in as a customer
2. After succesful sign in, click on any page within the customer account except for the dashboard

### Expected result
1.  The customer should be ab

[2017-10-03 13:22] magento-engcom-team commented on #11189
@palo Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
Steps I did:
1. Install Magento 2.1.7 with Sample Data CE 2.1.7
2. Upgrade to Magento 2.1.9 with Sample Data CE 2.1.9
3. Create new website with new store(Root Category > Default Category) and store view.
4. Set new website as default.
5. Delete old one without backup.
6. Assign product to ne

[2017-10-03 13:23] magento-engcom-team commented on #11186
@xehihezynadaltd We can't reproduce this issue. Please install fresh Magento, and try to reproduce this issue again.

[2017-10-03 13:27] jmonschke commented on #9345
@magento-engcom-team If I understand you correctly, you are saying that it is a feature of Magento that when you have inventory tracking enabled, you should never trust the inventory numbers stored in Magento?

Every time you save a product from the adminhtml section of the site, if there is an order for that product that happens before the admin page for the product is loaded and before it is sav

[2017-10-03 13:30] magento-engcom-team commented on #8956
@jurgisl, thank you for your report.
We've created internal ticket(s) MAGETWO-70282 to track progress on the issue.

[2017-10-03 13:30] magento-engcom-team commented on #9231
@ooples, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-03 13:30] #9231 closed, assigned to magento-engcom-team

[2017-10-03 13:30] magento-engcom-team commented on #9869
@pradeep38mail, thank you for your report.
We've created internal ticket(s) MAGETWO-70175 to track progress on the issue.

[2017-10-03 13:30] magento-engcom-team commented on #8248
@magexo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 13:30] #8248 closed, assigned to ioliinyk

[2017-10-03 13:30] magento-engcom-team commented on #8428
@rbostan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 13:30] #8428 closed, assigned to nobody

[2017-10-03 13:30] magento-engcom-team commented on #8453
@joost-florijn-kega, thank you for your report.
We've created internal ticket(s) MAGETWO-80737 to track progress on the issue.

[2017-10-03 13:30] magento-engcom-team commented on #10236
@paales, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-03 13:30] #10236 closed, assigned to nobody

[2017-10-03 13:30] magento-engcom-team commented on #8601
@ericrisler, thank you for your report.
We've created internal ticket(s) MAGETWO-80740 to track progress on the issue.

[2017-10-03 13:33] alexpoletaev opened #11197 "Blank page at the checkout 'shipping' step"
### Preconditions

1. Vanilla Magento instance (2.1.x or 2.2.0)
2. Deployed sample data

### Steps to reproduce

1. Add any product to the cart as a guest user
2. Proceed to the checkout
3. Fill address and customer data
4. Proceed to the payment step
5. Click 'Shipping' in the progress bar to return to the shipping step
6. Click next and proceed again to the payment step
7. Click 'back' button in

[2017-10-03 13:34] katculbert commented on #11194
Here is a screenshot

<img width="1304" alt="screen shot 2017-10-03 at 14 33 40" src="https://user-images.githubusercontent.com/10037805/31127856-f2332572-a847-11e7-8632-208130009fbd.png">

[2017-10-03 13:35] claudiumitreaa commented on #3758
Hello,
I attached a text file with the code.
After you do the changes clean the cache and you can update your modules.
Let me know if it helped you.
Sorry for my english.

    În Marţi, 3 Octombrie 2017 8:50:40, Krupal <notifications@github.com> a scris:

 Hi Claudiumtreaa,Thanks for quick response. Please send me details on krupaly2k@gmail.com—
You are receiving this because you authored the thre

[2017-10-03 13:52] heyepic commented on #11163
If you'd like access to my server, I'd be happy to provide it.

There are also others with the same issue reporting on stackexchange and magento forums.

There was no other configuration on my end - simply used the web setup wizard to initiate the upgrade to 2.2 in the backend. Successfully completed, did permissions via SSH, and then couldn't create/edit pages. Unrelated, but I did have to give 7

[2017-10-03 13:56] magento-engcom-team commented on #11194
@katculbert This looks like a problem with one of the installed extensions. Please try with the clean Magento installation.

[2017-10-03 13:59] katculbert commented on #11194
Sorry - you want me to cleanly install magento or there is a way to clean my magento install? This was a production website as when I did it in test it worked fine.

[2017-10-03 14:01] magento-engcom-team commented on #11194
@katculbert We suggest trying with the clean magento installation without third-party extensions to ensure that error comes from the extension.

[2017-10-03 14:04] magento-engcom-team commented on #9184
@MargoNikk, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-03 14:04] #9184 closed, assigned to nobody

[2017-10-03 14:12] pravalitera commented on #5730
@rbostan Ok... i have speed issues with ES... don't know if it's coming from Magento or ES...

[2017-10-03 14:30] magento-engcom-team commented on #8846
@hilrob, thank you for your report.
We've created internal ticket(s) MAGETWO-70441 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #4800
@SantoDE, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-03 14:30] #4800 closed, assigned to nobody

[2017-10-03 14:30] magento-engcom-team commented on #9483
@tomnyson, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 14:30] #9483 closed, assigned to nobody

[2017-10-03 14:30] magento-engcom-team commented on #9185
@kaushik-chavda, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-03 14:30] #9185 closed, assigned to magento-engcom-team

[2017-10-03 14:30] magento-engcom-team commented on #7995
@rosandrest, thank you for your report.
We've created internal ticket(s) MAGETWO-62926 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #7259
@vasilii-b, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-03 14:30] #7259 closed, assigned to nobody

[2017-10-03 14:30] magento-engcom-team commented on #9522
@kozhemyakin, thank you for your report.
We've created internal ticket(s) MAGETWO-70202 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #9127
@torhoehn, thank you for your report.
We've created internal ticket(s) MAGETWO-70285 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #9194
@vberthet, thank you for your report.
We've created internal ticket(s) MAGETWO-70292 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #8834
@Tjab, thank you for your report.
We've created internal ticket(s) MAGETWO-70453 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #4808
@zihen, thank you for your report.
We've created internal ticket(s) MAGETWO-51811 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #8282
@Henrique-Oliveira, thank you for your report.
We've created internal ticket(s) MAGETWO-69965, MAGETWO-80757 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #8304
@ksiamro, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 14:30] #8304 closed, assigned to nobody

[2017-10-03 14:30] magento-engcom-team commented on #9949
@nikolaybaychenko, thank you for your report.
We've created internal ticket(s) MAGETWO-69902 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #10088
@diwipl, thank you for your report.
We've created internal ticket(s) MAGETWO-70400 to track progress on the issue.

[2017-10-03 14:30] magento-engcom-team commented on #9592
@turtlecreations, thank you for your report.
We've created internal ticket(s) MAGETWO-70225 to track progress on the issue.

[2017-10-03 14:38] dakzilla commented on #11030
In my case, the problem was caused by a faulty upgrade from 2.1.7 to 2.1.9. I needed to overwrite the app/etc/di.xml file manually with the file from the official repo. During the composer upgrade, app/etc/di.xml was not overwritten correctly. The new di.xml file contains these new additions, which are needed to make the code in `magento/framework/DB/TemporaryTableService.php` work:

[code]

If yo

[2017-10-03 15:06] robbiefowler commented on #5418
Has this been fixed yet post 2.1.5?

[2017-10-03 15:16] Geater commented on #11030
@dakzilla That's absolutely what the issue was. Adding those lines and recompiling sorted everything. Thanks so much!

[2017-10-03 15:30] magento-engcom-team commented on #4812
@BenSpace48, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-03 15:30] #4812 closed, assigned to nobody

[2017-10-03 15:30] magento-engcom-team commented on #9633
@dotsoa, thank you for your report.
We've created internal ticket(s) MAGETWO-70986 to track progress on the issue.

[2017-10-03 15:30] magento-engcom-team commented on #7327
@danieljabailey, thank you for your report.
We've created internal ticket(s) MAGETWO-70063 to track progress on the issue.

[2017-10-03 15:30] magento-engcom-team commented on #7822
@RedEnzian, thank you for your report.
We've created internal ticket(s) MAGETWO-63840, MAGETWO-80764 to track progress on the issue.

[2017-10-03 15:30] magento-engcom-team commented on #11197
@alexpoletaev, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-03 15:30] magento-engcom-team commented on #7069
@udovicic, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-03 15:30] #7069 closed, assigned to nobody

[2017-10-03 15:30] magento-engcom-team commented on #8011
@gputignano, thank you for your report.
We've created internal ticket(s) MAGETWO-63012 to track progress on the issue.

[2017-10-03 15:38] minhluan259 commented on #11190
I've upgrated from magento 2.1.8
I did not encounter that problem when I do a clean install of 2.2.
Thank for your quick reply.

[2017-10-03 15:57] magento-engcom-team commented on #9493
@rackyan, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-03 15:57] #9493 closed, assigned to nobody

[2017-10-03 16:00] alexpoletaev commented on #11197
@magento-engcom-team thank you for your feedback!

[2017-10-03 16:30] magento-engcom-team commented on #8200
@ziliquas, thank you for your report.
We've created internal ticket(s) MAGETWO-64324 to track progress on the issue.

[2017-10-03 16:51] elachino commented on #5475
I have this problem with amasty shopby module on magento 2.2 and category filter activated, i found the problem in "get" function, in fact this function expect an int parameters how categoryId, but in my case it receive an array.
I contact amasty to resolve problem, and i fixed temporally adding to this function this codeline:

`if(is_array($categoryId)){
			$categoryId = $categoryId[0];
		}`

I k

[2017-10-03 17:52] filipepiressemait opened #11202 "Magento api rest webservice"
I'm trying to integrate magento api rest webservice.

I'm using magento 2.1.7.

I'm creating an integration and generate the keys, and localy all runs fine, but when i put it online the communication doesn't work.

It should returns stores information.

But it only returns:

 {"message":"Consumer is not authorized to access %resources","parameters":{"resources":"Magento_Backend::store"}}

[2017-10-03 18:09] gx2g opened #11203 "USPS Priority Mail 1-Day Shipping String Change to Priority Mail"
My Customers are giving me hell over the USPS titles. They read "Priority Mail 1-Day" which is misleading. I'm trying to find a solution to change the title to "Priority Mail" removing the 1-Day. I've searched everywhere for a solution can you please help me.

`<td class="col col-method" data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_

[2017-10-03 18:10] orlangur commented on #11202
Hi @filipepiressemait, please check https://github.com/magento/magento2/issues/11145#issuecomment-333231759 and tell if it work.

[2017-10-03 18:30] magento-engcom-team commented on #10827
@Dregolwd, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-03 18:30] #10827 closed, assigned to magento-engcom-team

[2017-10-03 18:30] magento-engcom-team commented on #8347
@Sharmilasrini95, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-03 18:30] #8347 closed, assigned to tkacheva, magento-engcom-team

[2017-10-03 18:30] magento-engcom-team commented on #10624
@archonkulis, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-03 18:30] #10624 closed, assigned to magento-engcom-team

[2017-10-03 18:42] pboisvert commented on #11203
The "Issues" tab is for reports of code issues with Magento 2. Your question is a "how to" issues better suited to the [Magento Stack Exchange](https://magento.stackexchange.com/) forum or the [Magento Community forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2). Closing this item as it is not an issue report.

[2017-10-03 18:42] #11203 closed, assigned to nobody

[2017-10-03 18:51] katculbert commented on #11194
I only have the one extension - MageFan Blog and I have updated that to be the latest which is compatible in theory with Magento 2.2. I can try a new install to see if I can escape this issue

[2017-10-03 19:14] Sharlyll commented on #11163
@magento-engcom-team  Except for putting in my store info in the settings, there is no extension installed nor is there any configurations.

[2017-10-03 20:05] sammarcus commented on #5648
Since there are many ways to add products outside of the standard conventional web UI, it is quite easy to not take this for granted. I think it would be nice if the docs could also highlight this important distinction as right now language is just "aside from the absence of a weight field". Happy to propose more specific edits if you suggest you would like to approve them.

[2017-10-03 20:20] magento-engcom-team commented on #8984
@alexpoletaev, thank you for your report.
We've created internal ticket(s) MAGETWO-70349 to track progress on the issue.

[2017-10-03 20:37] okorshenko commented on #10765
We need a backport of the solution to 2.2-develop

[2017-10-03 20:43] okorshenko commented on #9968
We need to backport this into 2.2-develop

[2017-10-03 20:50] okorshenko commented on #10618
Hi @Olek89 the issue already fixed in 2.2.0
MAGETWO-71918 is created to backport the issues into 2.1-develop branch

[2017-10-03 20:50] #10618 closed, assigned to nobody

[2017-10-03 20:51] okorshenko commented on #9599
@ferrazzuk the issue already fixed in 2.2.0 releases

[2017-10-03 20:51] #9599 closed, assigned to nobody

[2017-10-03 20:53] osrecio commented on #9968
Working on it

[2017-10-03 20:57] okorshenko commented on #11059
Hi @schmengler
thank you for report and fix

[2017-10-03 20:57] #11059 closed, assigned to nobody

[2017-10-03 20:58] okorshenko commented on #10988
Fixed in msi project

[2017-10-03 20:58] #10988 closed, assigned to nobody

[2017-10-03 21:06] orlangur commented on #11194
Looks like some of your layout XML does not pass XSD schema validation anymore. Just identify which one and fix it.

[2017-10-03 21:06] okorshenko commented on #10675
Hi @OZZlE thank you for report
@jissereitsma thank you for deep investigation. I would support your idea, so closing the issue as non-issue.
Sorry @OZZlE , but you can customize this behavior for your store. if there are not enough extension points for that, just submit a PR. Thank you

[2017-10-03 21:06] #10675 closed, assigned to nobody

[2017-10-03 21:09] okorshenko commented on #10664
@toddwolaver thank you for the report. The issue already fixed in 2.2.0

[2017-10-03 21:10] okorshenko commented on #10611
we need to backport the solution to 2.2-develop

[2017-10-03 21:23] okorshenko commented on #9900
we need to backport this into 2.2-develop

[2017-10-03 21:44] gilbertsohal commented on #10754
@okorshenko Have you fixed this issue?

[2017-10-03 21:47] danieljabailey commented on #7327
I am no longer working on this and have no intention to work on Magento again.
Would appreciate no more highlights on this thread, thanks and all the best.

[2017-10-03 22:10] magento-engcom-team commented on #10901
@AleksLi, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:10] #10901 closed, assigned to magento-engcom-team

[2017-10-03 22:14] magento-engcom-team commented on #10497
@riyuk, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:14] #10497 closed, assigned to magento-engcom-team

[2017-10-03 22:14] magento-engcom-team commented on #10416
@deadlyw1re, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:14] #10416 closed, assigned to magento-engcom-team

[2017-10-03 22:14] magento-engcom-team commented on #10729
@RishabhRkRai, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:14] #10729 closed, assigned to magento-engcom-team

[2017-10-03 22:14] magento-engcom-team commented on #10597
@Magento-baby, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:14] #10597 closed, assigned to magento-engcom-team

[2017-10-03 22:14] magento-engcom-team commented on #10728
@VincentMarmiesse, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:14] #10728 closed, assigned to magento-engcom-team

[2017-10-03 22:19] magento-engcom-team commented on #7305
@ferrarinim, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:19] #7305 closed, assigned to magento-engcom-team

[2017-10-03 22:19] magento-engcom-team commented on #7550
@deepak-netwin, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:19] #7550 closed, assigned to nobody

[2017-10-03 22:19] magento-engcom-team commented on #7709
@flipflap, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:19] #7709 closed, assigned to nobody

[2017-10-03 22:19] magento-engcom-team commented on #6889
@Deimo08, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:19] #6889 closed, assigned to magento-engcom-team

[2017-10-03 22:19] magento-engcom-team commented on #7621
@ritschi72, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:19] #7621 closed, assigned to magento-engcom-team

[2017-10-03 22:19] magento-engcom-team commented on #9454
@onepack, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:19] #9454 closed, assigned to magento-engcom-team

[2017-10-03 22:24] Tomasz-Silpion commented on #11163
Issue seems to be repeatable on any Magento 2.2 store but requires all google/analytics core_config_data values set to be true (google/analytics/experiments).

Just check how it influences the:

Magento\GoogleOptimizer\Model\Plugin\Cms\Page\DataProvider class, afterPrepareMeta method $result['page_view_optimization']['arguments']['data']['disabled'] boolean.

[2017-10-03 22:25] okorshenko commented on #10567
Hi @tprocter-ldg
Please post pull request here: https://github.com/magento/magento2/pulls So that it can be processed.

[2017-10-03 22:27] magento-engcom-team commented on #10261
@codedge, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:27] #10261 closed, assigned to magento-engcom-team

[2017-10-03 22:27] magento-engcom-team commented on #7617
@rbostan, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:27] #7617 closed, assigned to magento-engcom-team

[2017-10-03 22:27] magento-engcom-team commented on #10630
@palvinder03, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:27] #10630 closed, assigned to magento-engcom-team

[2017-10-03 22:27] magento-engcom-team commented on #10407
@MargaritaHollm, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-03 22:27] #10407 closed, assigned to nobody

[2017-10-03 22:30] jonashrem commented on #10425
I'm working on it #SQUASHTOBERFEST

[2017-10-03 22:31] jonashrem commented on #10790
I'm working on it #SQUASHTOBERFEST

[2017-10-03 22:39] magento-engcom-team commented on #10955
@vladpankeev, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-03 22:39] #10955 closed, assigned to nobody

[2017-10-03 22:39] magento-engcom-team commented on #10650
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-80790 to track progress on the issue.

[2017-10-03 22:45] magento-engcom-team commented on #7795
@rbostan, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-03 22:46] #7795 closed, assigned to nobody

[2017-10-04 04:49] gagandeep-cueblocks commented on #7994
For me the error was:-
ParseError: Unexpected input in _theme.less on line 386, column 1

I copied this file from Blank theme, placed in my theme. And then commented out this line, and s:s:d errors solved. This can be helpful

Figuring out further the exact reason

[2017-10-04 05:24] ihor-sviziev commented on #11197
@magento-engcom-team where it was fixed? How can we find fix for this issue? I think it's really important to fix it ASAP because it's checkout, most important thing in ecommerce

[2017-10-04 05:35] kfaer commented on #11163
Yes google analytic is enabled not able to create new pages

[2017-10-04 05:55] orlangur commented on #10955
@maksymcherevko glad to know root cause was found after all.

Just for the reference, here is the right way to achieve what was achieved wrongly by ObjectManager configuration: https://magento.stackexchange.com/a/96830/40869

[2017-10-04 06:30] magento-engcom-team commented on #8867
@torchtrust, thank you for your report.
We've created internal ticket(s) MAGETWO-70368 to track progress on the issue.

[2017-10-04 06:30] magento-engcom-team commented on #9002
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-70303 to track progress on the issue.

[2017-10-04 06:30] magento-engcom-team commented on #8502
@ulftietze, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 06:30] #8502 closed, assigned to nobody

[2017-10-04 06:30] magento-engcom-team commented on #8849
@jgodart, thank you for your report.
We've created internal ticket(s) MAGETWO-80799 to track progress on the issue.

[2017-10-04 06:30] magento-engcom-team commented on #8224
@aaronallen8455, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 06:30] #8224 closed, assigned to antboiko

[2017-10-04 06:53] orlangur commented on #11192
Observed system behavior is correct. Looks like you need setup similar to: https://stackoverflow.com/questions/15833644/how-to-set-two-tax-class-on-single-product-in-magento/15855327#15855327

Just create multiple tax rules. Not that depending on priority applicable tax rules will be either compounded or summarized.

[2017-10-04 06:53] #11192 closed, assigned to nobody

[2017-10-04 06:59] Jeroenll opened #11207 "Shipment API won't append comment to email"
Duplicate of #4320 but since no activity there I created a new one with more detailed information.

### Preconditions
1. Magento v2.1.9
2. PHP v7.0.14
3. MySQL v5.6.33

### Steps to reproduce
1. Enable async email sending.
2. Place an order via the website.
3. Create a shipment using the API with `"appendComment": true`.

### Expected result
1. Shipment email is being send with comment appended.

[2017-10-04 07:01] flancer64 commented on #11192
OK, thanks.

[2017-10-04 07:30] magento-engcom-team commented on #9706
@georgios-2317, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 07:30] #9706 closed, assigned to nobody

[2017-10-04 07:30] magento-engcom-team commented on #8521
@kamaleshdubey, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-04 07:30] #8521 closed, assigned to nobody

[2017-10-04 07:40] magento-engcom-team commented on #4320
@jim5359 We are closing this ticket and will keep track of the issue in #11207 as it's description seems to be more clear.
Thank you.

[2017-10-04 07:40] #4320 closed, assigned to nobody

[2017-10-04 07:45] maksymcherevko commented on #10955
@orlangur, thanks for your support in my issue :)

The only thing, that I did't fully understand, is that disabled modules is included in the compilation files. It right or wrong.

[2017-10-04 07:46] hostep commented on #11078
Just informational, a long time ago we ran into similar problems (we still do, but work around them somehow) and I tried creating a PR, which seems to be related to the possible solution number 2 which @CNanninga suggests, but the PR wasn't very good as it broke stuff on other places, so I closed it. I can't remember all the details anymore, but maybe it helps somehow: https://github.com/magento/m

[2017-10-04 07:48] vgelani commented on #7821
Please run below command in magento root directory.

[2017-10-04 07:48] magento-engcom-team commented on #4788
We updated description:

### In versions 2.1.9 and later problem is converse:
Sitemap is generating urls without containing category slug regardless of the settings
Configuration -> catalog -> catalog -> Search Engine Optimization -> Use Categories Path for Product URLs

[2017-10-04 07:51] Cornoud opened #11208 "Checkout 'hangs' in paymentstep when adblocker blocks Magento google-analytics javsascript file."
### Preconditions
Vanilla Magento instance (2.2.0)
Deployed sample data
GoogleAnalytics enabled
Use uBlock as addblocker

### Steps to reproduce
Add any product to the cart as a guest user
Proceed to the checkout
Fill address and customer data
Proceed to the payment step, payment will hang, loader keeps running

### Expected result
customer can proceed checkout when blocking google.

### Actual Re

[2017-10-04 08:13] orlangur commented on #10955
I don't think it is correct but I didn't check implementation if it was done for purpose. Many other configuration types, like layouts or templates, are ignored for disabled modules.

If you'll manage to produce an isolated case demonstrating this issue, please report it.

[2017-10-04 08:21] magento-engcom-team commented on #11182
@Ylmzef
Unfortunately, I could not reproduce the issue as you described it.
Flush cache and run `setup:static-content:deploy` may be help you.

[2017-10-04 08:23] jimul commented on #4699
Still issue persist with magento 2.2 EE

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package magento/module-gift-card-sample-data could not be found in any version, there may be a typo in the package name.
  Problem 2
    - The requested package magento/module-customer-balance-sample-data could not be found in any version, there may b

[2017-10-04 08:25] palo commented on #11189
Have tried again in new install but also can´t reproduce. This is very frustrating.

I did reindex and cleared cache (several times)
Other thing i notice is the stats in the dashboard are all zeroed out.

Any recommendation?

[2017-10-04 08:30] magento-engcom-team commented on #9381
@cdiacon, thank you for your report.
We've created internal ticket(s) MAGETWO-70529 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #8840
@drc-mw2, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-04 08:30] #8840 closed, assigned to nobody

[2017-10-04 08:30] magento-engcom-team commented on #8798
@WaPoNe, thank you for your report.
We've created internal ticket(s) MAGETWO-70369 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #9433
@twistedatrocity, thank you for your report.
We've created internal ticket(s) MAGETWO-70332 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #11207
@JeroenVanLeusden, thank you for your report.
We've created internal ticket(s) MAGETWO-80813 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #8799
@delyriand, thank you for your report.
We've created internal ticket(s) MAGETWO-70383 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #8830
@MTheProgrammer, thank you for your report.
We've created internal ticket(s) MAGETWO-70336 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #6350
@heldchen, thank you for your report.
We've created internal ticket(s) MAGETWO-57733 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #11182
@Ylmzef, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-04 08:30] #11182 closed, assigned to magento-engcom-team

[2017-10-04 08:30] magento-engcom-team commented on #9408
@ram10raj, thank you for your report.
We've created internal ticket(s) MAGETWO-80807 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #7689
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-70080 to track progress on the issue.

[2017-10-04 08:30] magento-engcom-team commented on #4788
@teokolo, thank you for your report.
We've created internal ticket(s) MAGETWO-80809 to track progress on the issue.

[2017-10-04 08:47] JerVoo commented on #11196
After some further investigation it seems that a cron job which runs heavy processes, just shuts down the entire frontend, eventhough there are still resources available.