[2016-02-26 19:30] #3552 closed, assigned to nobody

[2016-02-26 19:42] davidalger commented on #3557
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-26 19:42] #3557 closed, assigned to nobody

[2016-02-26 19:53] justinb commented on #3557
Sorry aobut that, I have tried all those avenues, this question is techical for those areas, no one is able to answer and my question sits unansered for days on end (magento commity forum)

[2016-02-26 20:23] dsikkema-magento commented on #3551
In the PHP level, after entities have been loaded from MySQL, if we had two unique keys that were both equal to null, it could create problems (because in php, null == null). If you can find an example of faulty behavior or design that is related to the null check, please feel free to describe the error in a new issue and we'll look into it.

[2016-02-26 20:23] #3551 closed, assigned to nobody

[2016-02-26 21:02] jibrandlr opened #3559 "Description text moves to the top of the product page"
Description text which contains a `<span>` tag, moves to the top of the page.

Example:
Description text in back end - "Buy this beautiful `<span class="blue">blue</span>` dress today. Free shipping."

In front end the description text displays correctly. However, at the very top of the product page, the text following the `<span>` tag is also displayed:

"blue dress today. Free shipping."

[2016-02-26 21:30] gorillagroup commented on #3445
Update - The migration tool doesn't seem to map the frontend_input_renderer column in the catalog_eav_attribute table.

I updated the column to be Magento\Catalog\Block\Adminhtml\Product\Helper\Form\BaseImage where the attribute_id was my new image attribute.

Seems to be quite a few issues with the migration tool not populating the database properly.

[2016-02-26 21:31] chris-brabender commented on #3445
Update - The migration tool doesn't seem to map the frontend_input_renderer column in the catalog_eav_attribute table.

I updated the column to be Magento\Catalog\Block\Adminhtml\Product\Helper\Form\BaseImage where the attribute_id was my new image attribute.

Seems to be quite a few issues with the migration tool not populating the database properly.

[2016-02-26 23:02] sshrewz commented on #2891
As we have not heard from you for quite some time, we will go ahead and close this issue.  Feel free to reopen it if you have any updates.

[2016-02-26 23:02] #2891 closed, assigned to nobody

[2016-02-26 23:09] sshrewz commented on #2852
We'd like to inform you that this has been resolved.  In case you have any questions, please don't hesitate to submit a new issue.

[2016-02-26 23:09] #2852 closed, assigned to nobody

[2016-02-26 23:12] #2888 closed, assigned to nobody

[2016-02-27 04:16] tang-yu commented on #2866
The fix has been merged into mainline. Thanks.

[2016-02-27 04:16] #2866 closed, assigned to tang-yu

[2016-02-27 04:19] tang-yu commented on #2751
The PR has been merged.

[2016-02-27 04:19] #2751 closed, assigned to tang-yu

[2016-02-27 05:56] ajay-mehta commented on #3552
Thanks choukalos for quinck reply.
We know these two API's **order detail** and *_get orders *_ but It works only for admin not for customer. We want to see only specific customer orders. So would you please help us which API for get specific customer orders ?

[2016-02-27 07:52] fooman commented on #2649
Just a further update I have now uploaded to github my set up.

What I am currently trying to get to work is to be able to only require the Magento modules our extension uses and then be able to run just our unit tests (it all works if I copy my files into a full install of Magento). This is my folder structure:

src/
tests/
vendor/

and I would simply run `composer install` then `phpunit`.

This

[2016-02-27 08:36] karishmadaffodil opened #3560 "Command fails, language package command "magento i18n:pack /var/www/html/magento2/xx_YY.csv -d xx_YY""
I want to create language package in Spanish for my multi-language website in english and spanish.I perform below steps.
Step 1 : I run below command for generating translation dictionary :+1:
magento i18n:collect-phrases -o "/var/www/html/magento2/es_ES.csv" -m /var/www/html/magento2/

It runs successfully with the below message "Dictionary successfully processed" and generates "es_ES.csv" file i

[2016-02-27 09:19] tinkumadspark opened #3561 "There has been an error processing your request SQLSTATE[42S22]: Column not found: 1054 Unknown column 'store_id' in 'field list'"
There has been an error processing your request
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'store_id' in 'field list'
Any help would be appreciated.
Thanks.

[2016-02-27 09:34] cod3gen opened #3562 "Backup error after disabling module in Web Setup Wizard"
Hello!

Ive already taken a backup, but it seems that after disabling a module in Web Setup Wizard/Component Manager i did do another backup here, but now i have errors when browsing to System/Backups in Administration. Stack Trace:

`Item (Magento\Framework\DataObject) with the same id "1456564469_db" already exist
#0 /var/www/myweb/vendor/magento/framework/Data/Collection/Filesystem.php(324): Ma

[2016-02-27 12:08] rohitprasad opened #3563 "Error during compilation - how to disable compiler in magento 2.0"
After installing a theme 'porto', while compiling i received the below error
On contacting Porto, they say i need to disable the compiler

Please help, my site is down now, and i dont know how to rectify the issue
Any pointers to getting the site up will be greatly appreciated

`magento_user@ip-172-31-22-54:/var/www/html/magento2$ sudo php bin/magento setup:di:compile
Compilation was started.
Inte

[2016-02-27 12:41] kakeyang opened #3564 "How to increase maximum amount of order more than 100 million"
Hi,

I'm looking for the solution related to title.
By default of Magento, it's only 100 million but it's too small digit for Vietnamese dong.
How can I modify maximum amount?

<What I did>
- Change type of some fields of these tables from decimal(12,4) to decimal(24,4).
  +cataloginventory_stock_item
  +cataloginventory_stock_status
  +catalog_product_entity_decimal
  +catalog_product_index_price

[2016-02-27 14:06] daim2k5 commented on #3564
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-27 16:02] kakeyang commented on #3564
Yes, this is technical issue, I think.
Actually this is not a bug because 100 million is the default spec of Magento.

But in order to increase it, I need to modify the code of Magento itself because this can't be changed on admin panel or something.

I've already asked on the forum but nobody can answer this issue.
I need you help! Please do not close this ticket.

[2016-02-27 16:11] magemind commented on #2437
Same issue here. Web-Installer, Xampp, PHP 5.3, Win7
But it won't be Magento if there no outofthebox problems like those ;D

[2016-02-27 18:11] ClaudiuCreanga commented on #1498
I can't believe the index option was removed from admin.

1) Store owners are very often non technical people who never saw a command line in their lives so they will not be able to reindex.
2) Is the new system infallible and never a manual reindex is required? I doubt it! What I imagine would happen is us getting a couple of tickets every week just to reindex for them.
3) This basically makes it

[2016-02-27 19:28] fhennessy commented on #3183
I am on 2.0.2, and I am able to get past the spinning dial but I keep getting the error code " Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in rows...", but the rest of the product information imports successfully.  I checked all server permissions, cleared cache, verified image labels..Any help?

[2016-02-27 20:50] kandy commented on #1498
On production site should not be cases when indexer must be run manually, but I believe that possibility of manually mark index as invalid should be present in UI.

[2016-02-27 21:11] kevando commented on #1498
Yeah I mean I'm happy to fork the repo and develop this for magento2 but I just cant imagine it's not there by design.

[2016-02-27 21:19] kandy commented on #1498
How the administrator can know that he needs to invalidate the cache?

[2016-02-27 23:48] zerobrapsgiven opened #3565 "Item actions (Edit, Remove) do not appear in cart for products added through Grouped products"
If I have a Grouped product comprised of simple products, when I add one of the products to the cart, and then go to the Cart page, I'm unable to see the item actions such as Edit or Remove. I do however see the Edit and Remove actions in the mini cart.

If I have a Grouped product comprised of simple products that are part of a configured product, I'm unable to see the actions in either the cart

[2016-02-27 23:49] kandy commented on #2538
As workaround you can apply patch

[code]

[2016-02-27 23:52] zerobrapsgiven opened #3566 "Deleting an item from mini cart doesn't update cart page"
When you're on the cart page and you remove an item from the cart using the mini cart, it doesn't update the cart page. You have to refresh the cart page to get the correct list of items in your cart.

[2016-02-28 00:43] davidalger commented on #3563
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-02-28 00:43] #3563 closed, assigned to nobody

[2016-02-28 00:44] #3553 closed, assigned to nobody

[2016-02-28 00:47] davidalger commented on #3553
@zhaoxiong123 Anything starting with MAGETWO- is an internal ticket reference number. They are used internally to track tickets. If you search for these here on GitHub, you'll find the issues relevant to the noted internal number. That said, I'm closing, as this is not a technical issue. If you have a bug to report, please open an issue with steps to reproduce and env details, otherwise you may he

[2016-02-28 04:22] dracon80 commented on #2412
+1 to @astorm . I'm not a expert web developer so can't give any input on how to fix the problem. What I can point out is that I'm helping out a friend setup an online shop. Given its a new site I thought, why not just go with version 2 to save my self the effort of having to upgrade at some stage in the future given that process looks like a mine field in itself. But I find version 2 is simply no

[2016-02-28 04:26] benmarks commented on #2412
@dracon80 I understand the point about app-level permissions management. That aside, how is shared hosting a tenable option for a commercial site? In which region are you planning to deploy this?

[2016-02-28 04:40] dracon80 commented on #2412
@benmarks  We talking about a very small local business in Australia. Maybe a 100 products and very low traffic. Anything OTHER than shared hosting is just not viable from a cost point of view. I'm sure I can't be the only person using shared hosting. Even if I went with a dedicated server that I had managed for me, its not going to change anything. The hosting company still uses the same platform

[2016-02-28 05:10] glenara commented on #2412
@benmarks Are you frickin serious!
Here in Canada 60% of business are made up of small home based business and the like.
Small companies just like the one @dracon80 is describing.
The percentage of small business wanting eCommerce sites far exceeds the commercial giants.

While Canada isn't the largest population there is another 300 million people to the south of us with the same business demogra

[2016-02-28 14:08] romeof1980 commented on #2412
+1 to @glenara . Same for me here in Italy.

That said, I don't want to judge Magento choices. I'm just absolutely scared when I hear someone saying that a shared hosting can't be a tenable option for a commercial site.
Thousand of webmasters have made their way in the business starting from scratch with small customers that have grown step by step. And yes, at same point they have chosen and they

[2016-02-28 14:10] AurelienLavorel commented on #3323
Hi,

I compare 1.x versions to 2.x. In 1.x, we just have to do add this in your layout file :
`<layout>
    <default>
        <remove name="catalog.compare.sidebar" />
    </default>
</layout>`
And override Mage_Catalog_Helper_Product_Compare

In 2;x, I have to modify more than 10 files to disable this.

Can't we have a dropdown to enable/disable this ? Like for Wishlist.

Thanks,

Aurelien

[2016-02-28 18:11] benmarks commented on #2412
@glenara @romeof1980 I suppose it depends on what is meant by "shared hosting," which comes in all shapes & sizes. I do have concerns about commercial sites being hosted on _some_ shared hosting offerings (think $5/month), when there are decent PCI-compliant options for $20/month. I watched merchants and developers make this mistake countless times in '08 & '09 when I was starting out, and we are

[2016-02-28 21:11] Hammad31 commented on #2966
I also has the same problem, even if i want to apply new theme..

a:4:{i:0;s:182:"Warning: preg_match(): Compilation failed: range out of order in character class at offset 6 in C:\wamp64\www\vendor\magento\zendframework1\library\Zend\Locale\Format.php on line 527";i:1;s:6997:"#0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2, 'preg_match(): C...', 'C:\wamp64\www\v...', 527, Ar

[2016-02-28 21:36] dafencun opened #3568 "Multiple Websites: website_id not updated on save"
I have built two sites: site1.com and site2.com, with site1 having Magento 2 sample products.

Place  all products in site1.com into site2.com  (by setting  the root directory to be same as site1)
In Product ===> Catalog
      Select All ---> Update Attributes -->Websites --->Save

Issue: weibsite_id of site2.com is not updated. As a result,  no of the products are shown in site2.com

However, whe

[2016-02-28 23:29] zerobrapsgiven opened #3569 "Category page will show that there's another page of products, but when you navigate to it, it's empty"
My guess is if you have products that are disabled or not visible, it is still counting these products in the paging, but because it's not visible or enabled, shows nothing when you navigate to that next page.

[2016-02-28 23:45] dracon80 commented on #2412
Ok I went back to my hosting provider to see if there was anything they can do. They know about the problem, but their platform doesn't work with the default magento permissions. They're response was "Unfortunately our server requires utilizing 755 for directories and 644 for PHP files due to the environment setup."

FYI they are using cPanel 11.5.0, litespeed web server, and CloudLinux as the OS.

[2016-02-29 00:13] WesMage commented on #2412
@benmarks @romeof1980 @glenara
@benmarks I see you have clarified your comment to "some shared hosting" but I want to underscore my frustration at your initial shared hosting comment.
I think its worth pointing out that Nexcess, Magento's "Patinum Hosting Partner" probably have thousands of Magento stores running on their Shared Hosting.

[2016-02-29 00:16] WesMage commented on #2412
Hi @dracon80
Not sure if AUD $42/month is in your budget, but if so you'd be crazy not to have a chat to MDG-IT http://www.mdg-it.com.au/shared-magento-hosting.php
IMO they are by far the best magento host in Australia and while I'm on a VPS not shared, they offer shared from $42/month. They offer fantastic service and would be a great solution I'm sure if it's in budget.

[2016-02-29 00:35] astorm commented on #2412
@WesMage (and others) -- point of nerd order -- technically nexcess is Virtual Private Server with a prebuilt enviornment that's similar to shared hosting, which is a **slightly** different beast than "shared hosting".

[2016-02-29 01:19] clwells commented on #2412
Actually, our lowest end is a shared platform albeit configured to be as isolated as possible.

Regarding this issue,  I'm on-board with @astorm although I wouldn't complain if Magento did some minimal permission tightening in the app for security's sake (even if it's a bit gratuitous).

Chris

[2016-02-29 02:00] devdesco-ceo opened #3570 "Erratic Admin URI's"
Erratic Admin URI's when Multi Site is enabled.
When loading admin from admindomain.zzz, some times Magento admin starts behaving weirdly, it generates admin panel links and form post links to other domains in multisite setup.

[2016-02-29 02:01] devdesco-ceo opened #3571 "CMS Block disabled by on save"
When saving CMS block after editing, it is saved with disabled flag. The only way to reenable it is from CMS Block list grid.

[2016-02-29 02:06] markshust commented on #2412
I think it's important to note that this doesn't just apply to shared hosting environments. Running php-fpm with nginx on a dedicated host leads to similar issues.

@clwells had the best response here, and I'll be making these suggestions to my docker-based environment setup. I'd recommend to those concerned of the costs of dedicated environments should look into docker-supported platforms such as

[2016-02-29 03:02] devdesco-ceo commented on #3038
On everage it takes about one and half hour form me to compile 7 languages with 14 storefronts

[2016-02-29 03:26] jk2081 commented on #2924
@jleplomet I would be curious to know what setup/settings you are using and if you've found an answer to your question.

[2016-02-29 05:48] katmoon commented on #3545
@werdlv You are right. It is a workaround.

[2016-02-29 07:31] sengaigibon opened #3572 "Problem reading session file"
I'm getting a weird behavior using Magento 2.0.2, it's described here as steps:
1. On 'Sign in' front page, as customer if I type a wrong username/password I get redirected to the same page (normal) but Magento doesn't display any error message (abnormal), I was expecting "Invalid login or password" from LoginPost.php . Taking a look to the proper session file in var/session/sess_###, the error is

[2016-02-29 07:39] sengaigibon commented on #3554
Hello,
I think I have the same problem, described here:
https://github.com/magento/magento2/issues/3572

[2016-02-29 07:44] amansrivastava opened #3573 "Image resize from CLI is not working for all media attributes"
`php bin/magento catalog:images:resize`
When executing this command, only swatch_image and swatch_thumb attributes have resized images and when I looked into code, view.xml in module-swatches being executed rather than view.xml from theme directory.
view.xml exist in blank and luma theme but doesn't impact the output.

[2016-02-29 07:53] sengaigibon commented on #3503
I have the same problem plus this:
https://github.com/magento/magento2/issues/3572

[2016-02-29 07:59] thomasnordkvist commented on #3306
@mikeweis In my versions 2.0.2 and earlier.
To get the error you need to have two "inputless" options on the storefront.
If you only have one option without input the calculation ok.

To get rid of the "user defined" i set the input type to Checkbox.
To make the storefront skip the rendering of an input to the option i check required for the first two options.
Then in the storefront the first two

[2016-02-29 08:27] giangitman opened #3574 "Widget multi fields depend"
I can not declare multi fields depends like that
`<parameter name="widget_tab" xsi:type="select" required="true" visible="true"
                       source_model="MT\Widget\Model\Widget\Source\Tab">
                <label translate="true">Enable Tabs</label>
                <description translate="true">Enable tab on widget</description>
                <depends>
                    <parameter n

[2016-02-29 08:45] Totarenx commented on #3558
Solved through "shim"

[2016-02-29 08:48] stasleo opened #3575 "Feature Request: Grid issues"
I don't like UX of Magento 2 grids.

1) To find some product I need to do the following:
- click on "filters"
- find Name input and fill in
- click on "apply filters" button ("enter" does not submit form)
  Why there is no "search by keyword" input (like in Customers or CMS Pages grid)?
  https://s.mail.ru/2vjLSwe7zM5x/img-2016-02-29-11-46-30.png

2) Where there is no inline editor in the Product

[2016-02-29 08:53] vlauria opened #3576 "Invoice with multi store"
Hi,
i have two stores in my website. If i create order in store 1, sequence of increment_id is saved in sales_sequence_1
If i create a order in store 2, sequence of increment_id is saved in sales_sequence_1. Not in sales_sequence_2.
So, for each order the invoice always uses sale_sequence_1 table to calculate the next increment id.
In sales_invoice i have store_id correct.

[2016-02-29 08:55] omerts commented on #2997
same problem would be glad to be able to install older extension on magento 2 (if that is possible in any way), using magento connect's extension keys

[2016-02-29 09:43] ishakhsuvarov commented on #3565
@samleeiii Thank you for reporting this issue. We have tried but could not reproduce it with the information available. Please provide more detailed steps to reproduce and Magento version you are using.

[2016-02-29 09:51] ishakhsuvarov commented on #3566
@samleeiii Thank you for reporting this issue.
We already have a similar item in our backlog which is scheduled for the future releases. Internal ticket `MAGETWO-36985`.

[2016-02-29 10:33] katmoon commented on #3438
The issue has been fixed in `MAGETWO-49647` and will be delivered soon.
Thank you for reporting!

Kateryna.

[2016-02-29 10:35] vlauria commented on #3576
Same problem with order in multi store. It uses always sales_sequence_1

[2016-02-29 11:09] victor-v-rad commented on #2809
@chrissm79 @rakeshjesadiya @toonvd
Regarding "SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name ''" which occurs in Admin > Products > Catalog after migration. I believe hotfix is to check and fix the field additional_attribute_table of eav_entity_type table in Magento 2 DB
1. For the record where eav_entity_type.entity_type_code with value 'customer' the field additiona

[2016-02-29 11:22] diwipl opened #3577 "Functional tests not passing in 2.0.2 version."
I am trying to run functional tests suite using Magento 2.0.2 Community Edition.

I'm using: selenium-standalone-2.52.0 version and Chrome 48 with 2.21 ChromeDriver (same thing when using Firefox 44). Environment is prepared according to mtf quick start quick start guide.

When running functional test with "--filter CreateBundleProductEntityTest" i'm receiving error in selenium logs with message "

[2016-02-29 11:58] mitul69 commented on #1184
I have same issue

I have try to setup with all ways its working fine in my window system but then i have uploaded code on the Ubuntu.

CSS and Js are not loading can you please help me for this.

[2016-02-29 12:20] VarinhoPontes opened #3578 "Magento Community Edition 2.0 User Guide"
I thing the information on pag 240 is missing,
![mag](https://cloud.githubusercontent.com/assets/5529234/13394198/bbcb5772-dede-11e5-889b-a6e04d617385.png)

[2016-02-29 12:25] toonvd commented on #2809
Hi, I will check this tonight, thanks!

[2016-02-29 12:28] zanilee commented on #3542
Hi, @Desmaster!

This is known issue and it is present in library documentation only.
Icons are ok in both storefront and admin.
The documentation issue will be fixed in MAGETWO-34178

[2016-02-29 12:38] barbala4o commented on #1864
Hi. This does not seem to work for me.. I want to rewrite
`
vendor/magento/module-ui/view/base/web/js/grid/provider.js`

the function reload of it.

My view/adminhtml/web/js/default_mixin.js code

[code]

[2016-02-29 12:46] alena-marchenko commented on #3441
We've resolved this issue and delivered it to develop branch

[2016-02-29 12:46] #3441 closed, assigned to alena-marchenko

[2016-02-29 12:56] stefandoorn commented on #3333
Having the same issue in here. Saving goes perfect, but it doesn't get fetched and included in the HTML.

[2016-02-29 14:33] mazhalai commented on #1184
@mitul69 please do not comment on  closed issues. Please start a new one.

[2016-02-29 14:40] stefandoorn commented on #3333
I've created a PR to insert this functionality: #3579.

[2016-02-29 15:15] benmarks commented on #2412
@WesMage Nexcess was my goto example in this case (of doing shared hosting "right"). It is a fact that poorly-secured shared hosting (the kind which is not intended for ecommerce hosting) is a risk to customers and exposes merchants to substantial liability. However, we've learned that "solving" the security problem by making the app too aware of / responsible for the external environment isn't sa

[2016-02-29 15:17] joebusby commented on #3509
So. . .  I have requested that Paypal adjust my account to handle transparent redirect

And:  the Magento 2 cart needs to accommodate tokens to support this   (maybe implemented already)

And:  the format of the PayPal incoming request should be corrected.

Is that the correct assessment?

Thanks for any help.

[2016-02-29 15:31] sevos1984 commented on #3454
Hello!
Customer account is restricted on website level only, storeview is for localizations (in most cases) and allowed for all customers

[2016-02-29 15:45] arkadiych commented on #3185
Try to increase timeout to 120 and try to use CurlClient instead of StreamClient.

[2016-02-29 15:59] mazhalai commented on #2437
@magemind Minimum supported PHP version is 5.4 Please upgrade.

@iramlopez and @magemind what version of Magento? And how are you deploying it, via Git, via composer or zip downloaded from magento.com

[2016-02-29 16:26] joebusby commented on #3509
Here is a link in Magento Community with others having the same problem:
https://community.magento.com/t5/Installing-Magento-2/Magento-2-PayPal-Payflow-Payments-Pro/td-p/28188

[2016-02-29 16:28] kevando commented on #3454
Thanks for responding!

@ata-aman FYI

[2016-02-29 16:28] #3454 closed, assigned to nobody

[2016-02-29 16:28] shiftedreality commented on #3461
You need to check your ACL. Looks like expected behavior.

[2016-02-29 16:28] #3461 closed, assigned to nobody

[2016-02-29 16:34] zerobrapsgiven commented on #3565
Hi Levgen, I'm on ver 2.0.2. I'm running it locally on my machine with MAMP Pro ver 3.5 on OSX 10.11.3. Running PHP 7, and MySQL 5.6.25. I'll take detailed screenshots later tonight documenting the workflow to reproduce the bug. Thanks!

[2016-02-29 17:30] peterjaap opened #3580 "Cannot click Select All / Unselect All properly in Index Management"
Maybe in other places as well.

![screenshot 2016-02-29 18 28 04](https://cloud.githubusercontent.com/assets/431360/13402816/44eb6c44-df12-11e5-9616-317561abc993.png)

When I remove this 'top' CSS line, it's fine; https://github.com/magento/magento2/blob/develop/app/design/adminhtml/Magento/backend/web/css/source/forms/_temp.less#L425

[2016-02-29 17:41] asemenenko commented on #3183
Hi @fhennessy, please check a read/write permissions to **pub/media/import** and **var/import**

[2016-02-29 17:45] arkadiych commented on #2817
@dfediuk , could you give an example, where this bug is reproducible?

[2016-02-29 17:51] akaplya commented on #3576
It is expected behavior. Magento creates sequence tables per `Store Group`. Several `Store Views` of one group use same sequence.

[2016-02-29 18:25] tdgroot commented on #3542
@zanilee Good to know the issue is already known! Even though `MAGETWO-34178` sounds really promising, what does it mean for me? Will it be fixed soon or late?

[2016-02-29 21:53] erikhansen commented on #3092
I encountered this issue today. The cause of my issue was slightly different than what @astorm described. In my situation, I had a symlink in my `pub/static` directory that was pointing to a non-existent file. Deleting the broken symlink resolved my issue.

I found the broken symlink using this command (from @mttjohnson [Stack Exchange answer](http://magento.stackexchange.com/a/95411/2142)):

[cod

[2016-02-29 21:57] Vinai commented on #3092
Just a note, find can directly show only broken symlinks with `find -L . -type l`

[2016-02-29 23:09] MaximKitsenko opened #3582 "The sort order has to be specified as %1 for ascending order or %2 for descending order"
I'm trying to use soap API, Magento 2.0.2 . Answer contains : The sort order has to be specified as %1 for ascending order or %2 for descending order. What i'm doing wrong? request:

[code]

response

[code]

[2016-03-01 01:24] erikhansen commented on #3092
@Vinai Ah, much more succinct. Thanks for sharing.

[2016-03-01 01:31] pantaoran commented on #3572
I also see this behavior, and it's really worrying me because as long as this persists I cannot possibly put any site live!

[2016-03-01 02:45] shalavjaiswal opened #3583 "ERROR "default" is not defined' in magento2/lib/internal/Magento/Framework/App/ResourceConnection.php:115"
I am getting following error at final step please advice

**[ERROR] exception 'DomainException' with message 'Connection "default" is not defined' in /usr/share/nginx/www/magento2/lib/internal/Magento/Framework/App/ResourceConnection.php:115**
Stack trace:
#0 /usr/share/nginx/www/magento2/lib/internal/Magento/Framework/App/ResourceConnection.php(92): Magento\Framework\App\ResourceConnection->getCo

[2016-03-01 04:42] zerobrapsgiven commented on #3565
Weird I couldn't repeat the issue, sorry for the inconvenience!

[2016-03-01 04:42] #3565 closed, assigned to ishakhsuvarov

[2016-03-01 04:55] jason-vivid opened #3584 "Simple Product marked Sale changes configurable product price for non-sale configurations"
Magento 2.0.2

We have created several configurable products with their configurations.  Each configuration consists of a size and a color.    The configurable product is displayed catalog and search.  The individual simple products are not individually visible.  We have marked each of the simple product items on sale (a color option) using the "sale" product attribute.  When we go to the configur

[2016-03-01 05:28] #3584 closed, assigned to nobody

[2016-03-01 07:44] diwipl commented on #3577
I've managed to run tests using older version of selenium (2.46) and Firefox (38). I don't know why they are not running on the newest versions.

But there is another problem. Tests are failing when trying to enter values for "custom option Date 32891". Selenium is not able to find year 2015 which is specified in CheckoutData.xml, i see this is fixed in develop (by chaning year to 2016):
https://g

[2016-03-01 07:50] katmoon commented on #2335
Internal ticket `MAGETWO-49955` is created for this issue.
Thanks everyone for your input.

[2016-03-01 09:17] OLTC-fperrin commented on #3185
Ok so I tried it with CurlClient which got me past the 401 response but then I got the same issue as this post: [[API] OAuth1.0 request token request failing / Consumer key has expired](https://github.com/magento/magento2/issues/829) (even though the timezone is the same on the client and server :/)

After setting the oauth config expire to crazy high values it worked with both CurlClient and Stre

[2016-03-01 09:24] ravbetsky opened #3586 "RequireJS config for theme doesn't update automatically"
Each change in requirers-config.js of our module doesn't take any effect. After we had removed pub/static/_requirejs/frontend/Magento/luma/en_US/requirejs-config.js our changes applied.

[2016-03-01 09:28] devhn opened #3587 "Customer relogin not working"
Hi,

i have setup a local Magento installation:
- Magento 2.0.2 with sample data
- Bitnami Mamp with php 7, mysql 5.7 and Varnish enabled
- localhost:8080/dev/

I experienced a strange issue with customer login:
- Created a new customer account on frontend
- After successful registration i logged out
- When trying to login back again the login page refreshes, clears the email and password field, g

[2016-03-01 09:35] OLTC-fperrin commented on #3185
Ok so I can confirm, it seems to come from the config values:
Here are the 4 scenario I just tried to verify my last post:

**Scenario 1:**  StreamClient + Default values:

[code]

**Result 1:**  `HTTP/1.1 401 Unauthorized`

**Scenario 2:** CurlClient + Default values

[code]

**Result 2:**

[code]

**Scenario 3:** StreamClient + Custom values

[code]

**Result 3:** `Integration authorized/activat

[2016-03-01 10:17] bbraspenning opened #3588 "translation with nl_NL.csv doesn't always work"
We have added a nl_NL.csv to our own theme and magento i18n folder
-   app/design/frontend/%CUSTOM_THEME%/default/i18n
-    app/i18n/magento/nl_nl
  "Adding...","Toevoegen..."
  "Added","Toegevoegd"
  "Add to Cart","Aan mandje toevoegen"

This gets most of the magento website translated except for
- product details page add to cart/ adding... / added.
  while the product overview page translations

[2016-03-01 10:24] devhn commented on #3587
Update: I can login/relogin in Firefox but the problem persist in Chrome.

[2016-03-01 10:33] victor-v-rad commented on #2809
Here is the [fix](https://github.com/magento/data-migration-tool/pull/66) to try out

[2016-03-01 11:13] okolesnyk commented on #3577
Hello, @diwipl. Thank you for reporting this issue.

In case that you mentioned about `CreateBundleProductEntityTestVariation16`, try to set `\Magento\Bundle\Test\Block\Adminhtml\Catalog\Product\Edit\Tab\Bundle\Option\Search\Grid::$selectItem = 'tbody tr .col-id input';`
This should help in 2.0.2 version.
For now in develop branch we completely updated current class because of significant changes

[2016-03-01 11:33] vipin-eglobeits opened #3589 "Image loader is missing when deleting an item from minicart"
The image loader is missing when we delete an item from mini cart.
They are appending a class 'ajax-loading' to the <body> tag, but the loader is absent there.
Anyone please help me to solve this problem?

[2016-03-01 12:12] ghost opened #3590 "totally shit concepts you using"
totally shit concepts you using that  a designder can't understand to develop not even header and footer for magneto-2.

after two weeks unable to understand how to create a theme for magento-2.

[2016-03-01 12:27] flipflap commented on #3514
I tried all browsers. All links on the left icons goes to the same url:
admin/admin/dashboard/index/key/6561974a85c481df22c6423cb57656edcb68974725c37a7e5b8bd41b85ee6f2b/#

[2016-03-01 12:30] flipflap commented on #3514
![error](https://cloud.githubusercontent.com/assets/6672673/13427047/b90f9baa-dfb1-11e5-87d7-68b43ae2f1c4.png)

It ist full of script errors.

[2016-03-01 12:54] MomotenkoNatalia commented on #2978
@lookinglavish
Please let us know if this helps.

[2016-03-01 12:55] MomotenkoNatalia commented on #3089
https://github.com/magento/magento2/issues/3580

[2016-03-01 13:13] ghost opened #3592 "setup:static-content:deploy with locale searches system root"
When running `setup:static-content:deploy` with locale it searches for the locale in system root, not relative to the installation or current directory.

The command gives an error message if the specified locale is not found in `/i18n/xx_YY.csv`.

For example:

[code]

The error goes away if I copy a file to `/i18n/fi_FI.csv`.

[2016-03-01 13:28] MomotenkoNatalia commented on #3590
@seetpal-smartshore
We appreciate any feedback about our work.

Have you tried to use documentation for Frontend Developers - http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html ?

[2016-03-01 13:33] jsakars commented on #2368
Still present using 2.0.2 version. I would expect it increment the key - e.g. `slug` & `slug-1`

[2016-03-01 13:35] bhupendravgroup opened #3593 "soap api issue"
while working on "checkoutGuestShippingInformationManagementV1SaveAddressInformation" soap api for creating order it returns "No such entity with %fieldName = %fieldValue" error for cartId even after i was passing this parameter in an array ...please help

[2016-03-01 13:41] MomotenkoNatalia commented on #2405
@dfediuk
Thanks for your contributing.
I'm closing this issue since Images And Videos section have new look and feel.

[2016-03-01 13:41] #2405 closed, assigned to MomotenkoNatalia

[2016-03-01 13:47] MomotenkoNatalia commented on #2283
Hi @fbrnc !
This switcher is already green. Do you like new look and feel of product page?

[2016-03-01 13:57] vil11 commented on #3580
Hello @peterjaap, thanks for your report!
We can't reproduce described issue neither on **Mac** nor on **Win**.

Dmytro Vilchynskyi, M2 QA engineer.

[2016-03-01 13:58] anjenehm commented on #3522
So @mazhalai can you give me a update to my error?

[2016-03-01 14:02] RUjmiak commented on #1778
@ishakhsuvarov Can you write here what should be in requests because that articles are not available anymore...

Is there some documentations where is written all requests with returns? Because for example
rest/V1/guest-carts returns some token for example - "08298c64bc1e71387e7f443707c8bd28" what is it?

Then this rest/V1/guest-carts/08298c64bc1e71387e7f443707c8bd28 returns me information about c

[2016-03-01 14:04] MomotenkoNatalia commented on #3580
@peterjaap Could you provide any additional information to help us to reproduce this issue?

[2016-03-01 14:07] alankent commented on #571
Hi @erikhansen, just wondering how you were going. I have a volume 1 (ebook) on themes coming really soon now, just wondering if this is likely to hit the streets soon in which case I would mention it. (No pressure, just wond'rin!) - I can always leave to vol 2.

[2016-03-01 14:10] ishakhsuvarov commented on #3373
@Zaylril @chicgeek Thank you for reporting this issue, we have created an internal ticket `MAGETWO-49971` to improve Checkout components extensibility and to provide clear documentation on this topic.

@Zaylril Meanwhile you may try to disable the component you wish to remove by adding the following configuration item :

[code]

I guess this would not solve the issue completely but may be helpful.

[2016-03-01 14:12] anjenehm commented on #3522
Couldn’t create cache_dir error. If you have cache_dir error in magento 1 and magento 2, goto the [Magento_Root]/vendor/magento/zendframework1/library/Zend/Cache/Backend/File.php on your magento site.

Now edit this file and goto line no. 99 and you will see cache dir is assign to null

‘cache_dir’ => null,

Add var in place of null and save file

‘cache_dir’ => ‘var’

Now you have assign the mage

[2016-03-01 14:25] MomotenkoNatalia commented on #3542
@Desmaster this issue will be fixed in future ;) We know that the styledocco work is not very good, and we are thinking about changing it.
And what do you think about Magento UI Library? Is it useful for you?

[2016-03-01 14:38] barbala4o commented on #3177
Did you find a solution about that ? I am using 2.0.2 CE with php7 and ran into the same issue ? ? ?

[2016-03-01 14:38] vzaporozhets commented on #2316
Can anyone confirm that raised problem is related to environment and solved already?

[2016-03-01 14:39] mrkhoa99 commented on #3587
Hello @bb8d!
Don't try to use top level domain(TLD) like _localhost:8080_ or _localhost_. You should add one dot to your domain, for example: _magento.local_, _127.0.0.1_.

[2016-03-01 14:48] 471jozh commented on #3590
lol

[2016-03-01 14:50] parekhreena opened #3594 "Discount Description does not get displayed on cart page"
**Preconditions (*)**

magento 2.3

**Steps to reproduce (*)**

On Cart Page only Coupon codes get displayed. There is no provision to display discount description on Cart Page ? Whereas on Order View Page, checkout page summary everywhere the discount description gets displayed.

For Cart page In file: /vendor/magento/module-quote/Model/ResourceModel/Quote/Address/Attribute/Frontend/Discount.php

[2016-03-01 14:56] cgrechcw commented on #3177
Yes, in our case it was a wrong nginx configuration. We were missing the part in **bold**

_location / {
    try_files $uri $uri/ /index.php**?$args**;
}_

Hope it helps!

[2016-03-01 14:58] barbala4o commented on #3177
I am using apache 2.4 .... have no Idea what's wrong... maybe something with the .htaccess of magento or.... I don't know. Not exactly a server guy

[2016-03-01 15:03] cgrechcw commented on #3177
Could be... I'm not a server guy either but I noticed that when a request was hitting our server, the query string part (the parameters after the '?') were being truncated which cause the symptoms above. Make sure there isn't any apache configuration which eliminates querystrings

[2016-03-01 15:14] jsakars opened #3595 "Custom module structure - Composer dependencies"
Having custom vendor module e.g. `Acme_Demo` located in `app/code/Acme/Demo` it's not clear how it's composer.json should be utilized.
Based on [Create your component file structure](http://devdocs.magento.com/guides/v2.0/extension-dev-guide/build/module-file-structure.html) - `composer.json: Specifies component dependencies. For more information, see Composer integration.`

Let's say `Acme_Demo`

[2016-03-01 15:33] jamescowie commented on #3590
Closed as not a bug report. Can I suggest that you look at the dev docs but also if you are having issues look at the forums for Magento 2 where we are more than happy to help get you working with Magento 2.

[2016-03-01 15:33] #3590 closed, assigned to nobody

[2016-03-01 15:33] toonvd commented on #2809
@victor-v-rad looks fine here! thx! @chrissm79 ok for you too? cc @andidhouse @from-scotland

[2016-03-01 15:35] andidhouse commented on #2809
yes! i can confirm that this fix is fixing the product admin grid.

however it does not fix our problem that we can't access the products in the admin panel - but this is another topic.

[2016-03-01 15:42] erikhansen commented on #571
@alankent I've not been able to put as much time into this as I would have liked, so I'm afraid you'll have to cover it in volume 2. I'm looking forward to reading your book!

[2016-03-01 15:54] vil11 commented on #3559
Hello, @lgarridoj!

HTML tags do not brake the "View Product" Storefront page layout neither for Blank nor for Luma theme.
The described issue is about Storefront page **source** which contains unexpected tags, isn't it? If so, take a look on [this one](https://github.com/magento/magento2/issues/2613). Thx!

FYI:
- It would be really great to add a screenshot in order to clarify the description in

[2016-03-01 15:58] anjenehm commented on #1027
i have the same issue
downloaded today from github https://github.com/magento/magento2/archive/develop.zip

save button to creat products or something else have no function

[2016-03-01 15:59] tang-yu commented on #3306
@thomasnordkvist , thanks for raising this issue. I have created an internal ticket MAGETWO-49975 to track this issue. I also noticed that this issue does not exist on the latest code (develop branch) on github.

[2016-03-01 16:08] gnusmus opened #3596 "Notice: Undefined index: value in /app/code/Magento/Backend/Block/Widget/Grid/Column/Filter/Select.php on line 72"
I am getting following notice when choose order page in admin panel.
I am getting this notice when set transaction id in my payment module.

Notice: Undefined index: value in /home/gnusmus/samba/public_html/magento2.local/app/code/Magento/Backend/Block/Widget/Grid/Column/Filter/Select.php on line 72
#0 /home/gnusmus/samba/public_html/magento2.local/app/code/Magento/Backend/Block/Widget/Grid/Column

[2016-03-01 16:22] barbala4o commented on #3177
Yeah, problem was that I made a reference class for controller that extended a Module_UI controller and at the end of my execute method of the reference class I made

`parent::execute()`

which apparently is wrong. Thanks for the replay though

[2016-03-01 17:00] korbi1919 opened #3597 "Magento web install (Installing... 87%)"
Web Install stack in 87% .
left it an entire night with no chance.
there's no clear information in the install.log :
[Progress: 316 / 362]</span><br><span class="text-info">Module 'Magento_ProductVideo':</span><br><span class="text-info">Upgrading data.. </span><br><span class="hidden">[Progress: 317 / 362]</span><br><span class="text-info">**Module 'Magento_CatalogSampleData':**</span><br><span c

[2016-03-01 17:21] vrann commented on #3595
@werdlv that's a good question.

You are right, composer.json in the app/code/Acme/Demo is not used for the dependencies management (I'll later show explain it's needed). However when you complete the development of the module, you may decide to publish it as a composer package, let's say on Magento Marketplace or just in your local composer repository. At  this point of time, composer.json will d

[2016-03-01 17:30] quienti commented on #3323
+1

[2016-03-01 17:30] eug123 commented on #2264
internal ticket MAGETWO-48840 created

[2016-03-01 18:19] nFed opened #3598 "Wrong display on Magento 2"
How can I implement these changes on a shared hosting (cpanel)
https://github.com/magento/magento2/issues/3530

Thanks.

[2016-03-01 18:28] alankent commented on #2264
First, yes - this needs fixing in M2. I _think_ there is a workaround if you are using Grunt/Gulp (not our built in tool chain) if you want to experiement. I think if you declare a variable holding the path name then put that variable into the import path name (`@mypath: '../blah.less'` followed by `@import '@{mypath}'`) then our code lets it through the `magento dev:source-theme:deploy` process a

[2016-03-01 18:46] vduglued commented on #2901
I have just encountered this problem too. Fixed by changing to Administrator role.

[2016-03-01 19:03] mazhalai commented on #3583
@shalavjaiswal final step of what? installation?

Is your db up and running? Also, do you have any custom modules?

[2016-03-01 19:07] shuaiZend opened #3599 "wen i change server M2 admin display error."
frontend is working.
but admin display:
`Fatal error: Magento\Framework\Message\Manager::getMessages(): The script tried to execute a method or access a property of an incomplete object. Please ensure that the class definition &quot;Magento\Framework\Message\Collection&quot; of the object you are trying to operate on was loaded _before_ unserialize() gets called or provide a __autoload() function

[2016-03-01 19:12] jibrandlr commented on #3559
@vil11 Hi, please see the screenshots attached.
![meta](https://cloud.githubusercontent.com/assets/8398744/13438567/27235364-dfaf-11e5-83c6-c9be112fc25a.jpg)
![top](https://cloud.githubusercontent.com/assets/8398744/13438565/271f2d02-dfaf-11e5-8348-79498132eaad.jpg)
![details](https://cloud.githubusercontent.com/assets/8398744/13438568/2724c6f4-dfaf-11e5-84b7-d5b50bf744c7.jpg)
![description](https

[2016-03-01 19:12] mazhalai commented on #3514
Please run `bin/magento setup:static-content:deploy` on command line.

[2016-03-01 19:15] shuaiZend commented on #3599
i fixed.if i use php.ini.sample
but,use php7 php.ini Still Display this error.
I don't know why..

[2016-03-01 19:17] okorshenko commented on #2664
Closing. @degaray , please, let us know if you still have an issue.

[2016-03-01 19:17] #2664 closed, assigned to okorshenko

[2016-03-01 19:17] mazhalai commented on #2368
@werdlv please do not post on closed issues. Please create a new one with details how to reproduce.

[2016-03-01 19:18] mazhalai commented on #3587
+1 for @mrkhoa99's comment. Also, read [this](alankent.me/2015/04/25/use-of-localhost-when-installing-magento-2-quick-note/)

Closing since this is not an issue.

[2016-03-01 19:18] #3587 closed, assigned to nobody

[2016-03-01 19:23] mazhalai commented on #3596
@gnusmus can you please help us reproduce this issue. What version of magento? How did you deploy magento? via git? via composer create-project or via zip from magento.com

[2016-03-01 19:25] okorshenko commented on #2155
@dfediuk issue MAGETWO-45019 fixed and merged to develop branch. Thank you for reporting the issue.

[2016-03-01 19:25] #2155 closed

[2016-03-01 19:28] mazhalai commented on #3597
Can you create a file called info.php with the following code:

[code]

ftp this file to your server, open page on a browser and then check what is the value of  `max_execution_time`. Please confirm that it is the same as you have set.

Also, have you tried restarting your apache/nginx after settings changes?

Also, can you increase memory_limit to `memory_limit = 2048M` and try again?

[2016-03-01 19:28] okorshenko commented on #3233
@scholtz this issue is fixed and merged to develop branch. Thank you for reporting this issue

[2016-03-01 19:28] #3233 closed

[2016-03-01 19:57] jsakars commented on #3595
@vrann thanks for clarification! ;)

[2016-03-01 19:57] #3595 closed, assigned to vrann

[2016-03-01 20:02] jsakars commented on #2368
@mazhalai this issue is not closed :) Referenced issue #2474 however is

[2016-03-01 20:18] jsakars commented on #3580
@vil11 & @peterjaap I am able to reproduce it - [see video demostration](http://screencast.com/t/5ihZu8MSyR)

Environment:
- OS: OS X El Capitan
- Browser: Chrome
- M2 version: 2.0.2

[2016-03-01 21:56] shalavjaiswal commented on #3583
Yes, DB is up and running also I have granted full permission to DB user. It connected DB successfully.
By final step I mean Step 6
Here is log from beginning

_Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
[ERROR] exception 'DomainException' with message 'Connection "default" is not defin

[2016-03-01 22:00] mazhalai commented on #3592
@rasmuswikman, thank you for reporting, we have created MAGETWO-49991 to investigate and fix.

[2016-03-01 22:25] dsikkema-magento commented on #2372
For system.xml files, an alternative XSD file may not be used. The URN in system.xml exists to document which XSD is being used

[2016-03-01 22:25] #2372 closed

[2016-03-01 22:34] DonatelloNguyen opened #3600 "webapi salesOrderRepositoryV1 /V1/orders only returns a single order"
GET /V1/orders api with the searchCriteria returns only a single order than a list of orders.

**Release:** 2.0.2 Community Version.  Installed from composer

**reproduction:**
1.) POST /magento/index.php/rest/V1/integration/admin/token.
_Get the bearer token_

2.) GET /magento/index.php/rest/V1/orders?searchCriteria[filterGroups][0][filters][0][field]=status&searchCriteria[filterGroups][0][filter

[2016-03-01 22:53] eddielau commented on #3592
@rasmuswikman Can you rerun the command with -vvv to show the stack trace?

[2016-03-02 04:03] okorshenko commented on #2340
Closing. Pull request https://github.com/magento/magento2/pull/2343 merged to develop. Thank you for contribution

[2016-03-02 04:03] #2340 closed

[2016-03-02 04:08] okorshenko commented on #2404
@parekhreena Thank you for reporting the issue. We merged fix for this issue to develop branch. https://github.com/magento/magento2/commit/e07ce7367563d1ffbb693824621e43c9f0f92cb0

[2016-03-02 04:08] #2404 closed, assigned to nobody

[2016-03-02 05:41] peterjaap commented on #3580
Maybe screen size has something to do with it? We were all on our Macbooks.
On di 1 mrt. 2016 at 21:19, Jānis Šakars notifications@github.com wrote:

[2016-03-02 05:59] loneregister opened #3601 "Magento 2 - Content > Page & Content > Block grids do not load on Chrome"
I am running chrome, and the magento content > page and content > block grids do not load in Chrome.  They do however, load on Firefox.  Screenshot attached of chrome page.
![missing-grid-chrome](https://cloud.githubusercontent.com/assets/6249947/13451953/607ac9fa-dff8-11e5-8a1f-400f7616a07b.png)

And - here is the very same site loaded in firefox.
![grid-ok-firefox](https://cloud.githubuserconten

[2016-03-02 06:07] parekhreena commented on #2404
Thank you @okorshenko

[2016-03-02 06:14] devdesco-ceo commented on #3571
and when trying to create new cms block, on save I get this mysql exception:

[code]

Using latest MariaDB

[2016-03-02 06:18] ghost commented on #3592
@eddielau

[code]

[2016-03-02 06:50] jsakars commented on #3580
@peterjaap MacBook Pro (Retina, 13-inch, Early 2015)

[2016-03-02 07:20] bojjaiah opened #3602 "Soap Web Service Problem in Magento 2"
I'm trying to create customer through `@api` from different platform like `.Net`, `PHP`and `Microsoft Dynamics Nav`.

When I request to create customer from `.Net`and `PHP`, Customer is created in Magento 2 and I saved the log way of taken from Magento 2 side.

**Module-Webapi/Model/Soap/Server.php**

I have saved log on `_checkRequest()` function from`Server.php` file.

[code]

**Requested log is

[2016-03-02 07:21] bojjaiah commented on #3602
@magento-team , @alankent , Could you please look on this thread?

[2016-03-02 07:33] hawksakr opened #3603 "Fallback for Magento_SalesRule Does not work"
i want to implement Magento_SalesRule module in my theme
1- first create the module folder inside my theme folder
2- copy js and templates inside web folder
3- do some edits to templates and i found it does not work
4- then i checked that iam in developer mode
5- run deploy command
but it still does not do the right fall back

[2016-03-02 08:16] #3522 closed, assigned to nobody

[2016-03-02 08:21] anjenehm opened #3604 "Magento2 Backend save button"
After a fresh installation of mage2 i tryed to put some products in the backend but the save button has no functionality.

![image](https://cloud.githubusercontent.com/assets/7089704/13454536/2b23569a-e058-11e5-999a-5347de06e3ae.png)

[2016-03-02 08:46] manhao-chen opened #3605 "C# - magento 2.0.2 - error deserialsing SOAP call salesInvoiceRepositoryV1GetList"
details here

https://community.magento.com/t5/Programming-Questions/C-magento-2-0-2-error-deserialsing-SOAP-call/m-p/30859

Release: 2.0.2 Community Version.

writing a service by adding the magento soap url as a service reference,
when calling the salesInvoiceRepositoryV1GetList i get an error with the framework tries to deserialise the data

Error in deserializing body of reply message for oper

[2016-03-02 08:50] LS-Supriya opened #3606 "Gift Options for Entire Order and Gift Options for Individual Items are not displayed in Magento2 front end"

[2016-03-02 08:50] hungvt opened #3607 "Issues with adding attribute set"
Hi,
 i found some issue with adding attribute set on magento 2.0.2
-  when i add new group, i do not enter the group and click OK. it show the error like the attached image
  ![error_1](https://cloud.githubusercontent.com/assets/367271/13455142/27141450-e08e-11e5-8506-f04eb20f49b1.PNG)
- When i select a group and click Delete Selected Group the group is deleted but all attributes inside the group

[2016-03-02 08:53] ishakhsuvarov commented on #3606
@LS-Supriya Please provide your Magento version and steps to reproduce the issue.

[2016-03-02 09:06] WebRitual opened #3608 "Can't attach a file in downloadable product in a store view"
I can attach files only in All Store Views. But I want attach separate files for each store view because these files are in different languages.

[2016-03-02 09:21] LS-Supriya commented on #3606
Magneto Enterprise Endition
Version: 2.0.0
Steps:
1. Go to Magento admin
2. Go to Stores-.Configuration->Sales->Sales
3. Set "yes" for all the options under Gift Options Section
4. Save the config
5. Go to stores->Other Settings->Gift Wraping
6. Add Gift Wrapping
7. Go to Check out page from Magento front end
8. Look for Gift wrap options

![2016-03-02_1448](https://cloud.githubusercontent.com/ass

[2016-03-02 09:26] nja78 opened #3609 "SQL error in Reports -> Reviews -> By Customers using table prefiix"
SQL for this report does not use table prefix and we cannot view report Reports -> Reviews -> By Customers

See trace report attached
[fatal_error_m2.txt](https://github.com/magento/magento2/files/154398/fatal_error_m2.txt)

[2016-03-02 09:28] peterjaap opened #3610 "dev:urn-catalog:generate generated file contains wrong paths when using Vagrant"
When using Varnish, the paths that are generated refer to the internal structure. But the IDE tries to find the files using that path too, while that path is Vagrant specific.

So maybe it's an idea to add a --prefix or a --dir flag that allows you to set the path used. Because now I have to do a replace in the file everytime after generation.

[2016-03-02 09:32] antonkril commented on #2901
The action requires specific admin resource or Magento_Catalog::products

[2016-03-02 09:52] luca-vercelli opened #3611 "Setup does not even start"
Trying to install Magento-CE-2.0-2016-01-28-02-26-45 on nginx.
The setup does not even start.
When I browse to the homepage, I see the Magento favicon, I see the browser move to /setup/ folder, and then I see a blank page. Some errors appears in log file:

[code]

[2016-03-02 09:57] antonkril commented on #3602
What's the output? Is there any error message?

[2016-03-02 10:09] ishakhsuvarov commented on #3606
@LS-Supriya Both types of Gift Options were moved from One Page Checkout page to Shopping Cart page. Please verify, that Gift Options are available in the shopping cart.
For motivation behind this you may see #3046

[2016-03-02 10:09] bojjaiah commented on #3602
@antonkril we didn't receive any error message, it's returning empty.

[2016-03-02 10:26] victor-shelepen opened #3612 "Template file is not found if a module is sym-linked"
Hello.
The setting "Follow sym links" is enabled. But the template is not loaded correctly. I've found that in
lib/internal/Magento/Framework/Filesystem/Driver/File.php:214, getAbsolutePath . It seems that it  is not designed to process absolute paths.

The root of the project is /github/vlikin/magento2/

According to the project The path of the template(it follows on the link) is:
/github/vlikin/

[2016-03-02 10:33] VarinhoPontes opened #3613 "Magento Community Edition 2.0 User Guide"
In pag 420 bad spelling
![pag 420](https://cloud.githubusercontent.com/assets/5529234/13457885/4201bb4a-e062-11e5-8692-365b6e432c0e.png)

[2016-03-02 10:34] gnusmus commented on #3596
@mazhalai.... I tried different versions (2.0.0, 2.0.2) and installed them in different ways, but the problem was everywhere ...For example, with this module https://github.com/Inchoo/magento2-Inchoo_Stripe I have the same problem

[2016-03-02 10:35] manhao-chen commented on #3605
found the culprits

the 3 properties being returned are null,

baseShippingDiscountTaxCompensationAmnt
baseDiscountTaxCompensationAmount
discountTaxCompensationAmount

the datatype is a float not nullable float data type, so either don't return the property in the soap xml if there is no value,

please fix this in the next version release

[2016-03-02 10:52] LS-Supriya commented on #3606
Got it Thanks

[2016-03-02 10:55] LS-Supriya commented on #3606
But I don't see following description,
1. Gift Options for Entire Order
2. Gift Options for Individual Items

It Just says Gift Options
![2016-03-02_1625](https://cloud.githubusercontent.com/assets/17175033/13458461/61bc84f2-e093-11e5-9d7c-5e7d6cb278cf.png)

[2016-03-02 11:10] mihaizs opened #3614 "Comment added to order alters timestamp for all comments"
We are testing Magento2 EE and I've noticed the following beahaviour:
Adding a comment to and order sets the timestamp of all comments to the timestamp of the comment being added.
This happens both programatically
\Magento\Sales\Model\Order $order->addStatusHistoryComment('some text');
and in the backend.
This should be fairly easy to replicate: just create an order and add a few comments to it. Y

[2016-03-02 11:26] ishakhsuvarov commented on #3606
@LS-Supriya Item level Gift Options are displayed at the bottom of each item, order level Gift Options are displayed at the bottom of the cart.
On your screenshot, the section below `Update Cart` button is order level Gift Options.

[2016-03-02 11:26] arunkasyakar opened #3615 "Not able to see catalog details from admin panel"
while clicking on link product-> catalog, system is hanged, in exception log i am getting exception:

main.CRITICAL: exception 'Zend_Db_Adapter_Exception' with message 'Report ID: webapi-56ca8c9077635; Message: SQLSTATE[HY000] [2002] Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (111)' in /var/www/html/agrihubV2/vendor/magento/framework/Webapi/ErrorProcessor.php:

[2016-03-02 11:29] arunkasyakar commented on #3615
sorry log is this one:

[2016-03-02 11:18:13] main.CRITICAL: exception 'ReflectionException' with message 'Report ID: webapi-56d6cbf5424dd; Message: Class  does not exist' in /var/www/html/agrihubV2/vendor/magento/framework/Webapi/ErrorProcessor.php:194
Stack trace:
#0 /var/www/html/agrihubV2/vendor/magento/framework/Webapi/ErrorProcessor.php(139): Magento\Framework\Webapi\ErrorProcessor->_critica

[2016-03-02 11:40] LS-Supriya commented on #3606
Gotcha. Can the naming convention be changed?

[2016-03-02 11:42] korbi1919 commented on #3597
Hi Mazhalai,

Thanks for your answer.
i've created the file on the server to check phpinfo(). it looks ok same as i configured it.
i restarted also Apache and increased the memory_limit to 2048M. Unfortunately i am getting exactly the same issue.

Any other investigations  ?

Thanks.

[2016-03-02 11:49] #3558 closed, assigned to nobody

[2016-03-02 12:11] devdesco-ceo commented on #3208
Here is my debug output:
[code]

[2016-03-02 12:12] devdesco-ceo commented on #3208
Continued...
[code]

[2016-03-02 12:16] devdesco-ceo commented on #3208
Replaced sensitive info with zzz

[2016-03-02 13:10] devhn commented on #3554
Hi,

yep, looks +/- all the same issues, thanks.

[2016-03-02 13:11] devhn commented on #3572
Same issues here and only after upgrading from 2.0.0. to 2.0.2.

[2016-03-02 13:13] chaluvadiswamy opened #3616 "Rest APi Loading Issue"
**During the checkout process** estimate shipping based on the address , it taking more than 15 seconds to complete the response ,here is the API call
**http://www.example.com/rest/default/V1/carts/mine/estimate-shipping-methods-by-address-id**

To increase speed i have enabled the Production mode ,but still it is taking more time to load the Checkout page.

Kindly let me know if i need to do any

[2016-03-02 13:19] vipin-eglobeits opened #3617 "Magento2: Issue in URL rewrite"
We can add a custom URL rewrite through the Magento back end but the URL redirection is not working properly.
Anybody please help me to solve this?

[2016-03-02 13:28] antboiko commented on #3617
Hi @vipin-eglobeits , thanks for your inquiry.

Could you please provide more details about the issue you have? What are the steps to reproduce it?

Best,
Anton.

[2016-03-02 13:36] ishakhsuvarov commented on #3616
@chaluvadiswamy Thank you for reporting this issue. Which shipping methods do you have enabled and configured?

[2016-03-02 13:42] vipin-eglobeits commented on #3617
Please find the attached screenshot for your kind reference.
My requirement is: redirect url shop-by-brand.html?brand=4 to shop-by-brand/moldex.html.
The data is saving properly but the redirection is not working.

![seo-friendly](https://cloud.githubusercontent.com/assets/14974923/13461883/53091a58-e0aa-11e5-9890-c37a96018c18.jpeg)

[2016-03-02 13:45] ishakhsuvarov commented on #3606
@LS-Supriya You may check and customise templates in `Magento/GiftMessage/view/frontend/web/template`, there are different templates for item level and order level containers.

[2016-03-02 13:49] ishakhsuvarov commented on #3554
@bb8d Do you have any extensions / modifications on your Magento installation? Does this happen on a clean install with the stock settings?
We still can not reproduce the issue, any additional information would be helpful.

[2016-03-02 14:10] ishakhsuvarov commented on #3554
Indeed, with the preconditions described in #3572 issue may be reproduced. We are going to look into this case.

[2016-03-02 14:14] devhn commented on #3554
Yes, sengaigibon has the same issues - i have some custom modules, but the problem persist when i create fresh installation without them, using only custom theme.

[2016-03-02 14:16] devhn commented on #3554
p.s. can this issue be merged with [#3572](https://github.com/magento/magento2/issues/3572)?

[2016-03-02 14:37] ishakhsuvarov commented on #3554
@bb8d @sengaigibon
This issue seems to duplicate #3572
Closing this ticket for now.

[2016-03-02 14:37] #3554 closed, assigned to ishakhsuvarov

[2016-03-02 14:41] choukalos commented on #3605
Created internal bug ( MAGETWO-50026 ) to track.  Flagged architect to ensure we behave consistently with other services for this scenario.

[2016-03-02 14:44] choukalos commented on #3602
@vrann thoughts?

[2016-03-02 14:53] choukalos commented on #3600
Hi @DonatelloNguyen how many orders did you have in the system with status = processing?  For the single order returned was that in the expected return set?  Was it either the first or the last order of status processing?  Creating internal issue (MAGETWO-50029) to address.

[2016-03-02 15:05] luca-vercelli commented on #3611
Similar issue with apache

[2016-03-02 15:39] cdiacon opened #3618 "Report collection of bestsellers query error"
Trying to get the bestsellers data from the product sold collection and get an error on main.table

query

[code]

Factory

[code]

error

[code]

[2016-03-02 16:58] peterjaap commented on #3610
FYI: this was added in the new PhpStorm 11;

[2016-03-02 17:25] DonatelloNguyen commented on #3600
Hey @choukalos, I do not have that data anymore since I wipe it out to update w/ the new magento update.

This was set up on my dev box.  At the time it has ~6+ with status=processing.  The single order returned was from the expected set since I tested with other statuses as well.  As for the question whether it was the first or last order, I do not know; I'll update once I find out.

[2016-03-02 17:43] mazhalai commented on #2672
@markoshust any response to @eddielau's comment?

[2016-03-02 17:46] mazhalai commented on #3597
Options:
- Install via [CLI](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-install.html)
- Turn on [developer mode](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html) which gives more stack trace.

[2016-03-02 17:52] mazhalai commented on #3611
What OS? Also have you checked file permissions?
You can try setting [developer mode](http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html) to see more detailed errors.

[2016-03-02 19:05] ccondra commented on #3613
Thanks so much for passing this along. It looks like part of the sentence got deleted. I fixed the missing info, and also updated the topic while I was in there. The correction is now live in the online user guide, and will be included the next time the pdf is generated. Here's a link: http://docs.magento.com/m2/ce/user_guide/catalog/navigation-layered-filterable-attributes.html
Claire

[2016-03-02 19:22] choukalos commented on #3613
Fixed, Closing.

[2016-03-02 19:22] #3613 closed, assigned to nobody

[2016-03-02 19:46] barbanet opened #3619 "Update items qty on cart or minicart doesn't work with several es_ locales"
I've created [this issue also on M1 bug tracker](https://www.magentocommerce.com/bug-tracking/issue/index/id/1200) because this problem cames from Zend_Locale and the locales xml definitions.

Using most of the es_ locales (es_ES and es_MX works fine) you aren't able to update cart quantities because the filter method on Zend_Filter_LocalizedToNormalized can't validate the number as number.

I und

[2016-03-02 20:02] choukalos opened #3620 "CLI Install breaks on Magento_Theme Installing Data step due to Error"
During a CLI install seeing the following error and get dropped out of install.  If I try installing again I hit the same error.

Error:

....
Module 'Magento_Directory':
[Progress: 205 / 305]
Module 'Magento_Theme':
Installing data..

  [ErrorException]
  call_user_func() expects parameter 1 to be a valid callback, function 'imagecreatefromjpeg' not found or invalid function name

[2016-03-02 20:06] choukalos commented on #3620
Never mind.... missed compiling GD dev library in.  Closing.

[2016-03-02 20:06] #3620 closed, assigned to nobody

[2016-03-02 20:16] manhao-chen opened #3621 "C# - magento 2.0.2 - service reference namespace problem"
Hi guys,

more details here
[https://forums.asp.net/t/2085117.aspx?SOAP+Envelop+change+namespace](https://forums.asp.net/t/2085117.aspx?SOAP+Envelop+change+namespace)

I'm trying to write a wrapper for magento 2,

at the moment im encountering an issue with the soap request & response,

i have setup 2 different sites for testing purposes (magento2 & magento2_data)

after i generated the service re

[2016-03-02 20:33] luca-vercelli commented on #3611
OS is Linux Ubuntu Server. File permissions look ok, apache user can read and write every file in the docroot, even hidden ones.
I was not able to set up developer mode. If I run

[code]

or such, I get an error:

[code]

php version is 5.5.9

[2016-03-02 20:35] devdesco-ceo commented on #3028
+1

[code]

this worked perfectly!

[2016-03-02 20:45] mazhalai commented on #3611
Sorry I should have been cleared, before installation, to turn developer mode on, uncomment line 5 on [.htaccess](https://github.com/magento/magento2/blob/develop/.htaccess#L5) and restart server. Also, check contents of var/log and apache logs too

[2016-03-02 21:29] DonatelloNguyen commented on #3600
@choukalos , it grabs the first order.  I am basing this off from the order_id

[2016-03-02 21:48] luca-vercelli commented on #3611
Turned on. I still see a blank page, and no var/log file. In ngninx logs, now I see a different error:
    FastCGI sent in stderr: Access to the script /home/myname/mypath/setup/index.php/navigation have been denied (see security.limit_extensions)

[2016-03-02 21:58] devdesco-ceo commented on #1039
How to completely disable debugging and writing anything to debug.log unless lets say I exclusively enable debug output from lets say FedEx Shipping extension?

Or may be change debug / syslog reporting level?

[2016-03-02 22:09] cspruiell commented on #3317
I believe this is related to https://github.com/magento/magento2/issues/2921 and will be resolved by that fix.

[2016-03-02 22:11] okorshenko commented on #3248
Internal ticket MAGETWO-50039

[2016-03-02 22:48] loneregister opened #3623 "Symlink usage for extension development breaks *some* features"
If you use sylinks to "install" your magento2 development extensions (or I suppose production as well would exhibit this behavior) - you will discover that things like .phtml files for frontend templates will fail to load and execute.

This feature should be functional or at the very least, usable in a development environment.  Alan storm has an interesting "hack" that might be the solution.  This

[2016-03-02 23:24] ivanweiler opened #3625 "Cart caching problems"
### Description (*)
Hello,

If customer adds product to cart, content of its cart is cached in browsers local storage. Now, if price of any product in cart change for any reason (catalog rule, special price, main price change) while customer is on site:
1. wrong price is displayed in mini cart on all pages
2. wrong price is displayed in main Cart page, but right Summary box is reloaded with correc

[2016-03-03 00:06] ghost commented on #1787
Issue not fixed. I ran my EE version thinking my repo was old and not updated accurately. Nope, ran the current CE repo and the same issue.
![screen shot 2016-03-02 at 7 04 59 pm 2](https://cloud.githubusercontent.com/assets/16295578/13480129/cffd82fc-e0a9-11e5-9947-6ffee06fe022.png)

[2016-03-03 00:15] alankent commented on #1787
Strange. If you look at http://alankent.me/gsd you will find instructions on how to download a prebuilt Docker image. Does that work for you? It is CE 2.0.2 running inside. If that works, it might help spot the difference.

Oh, you are using Client Side compilation I just noticed. A few external developers have said "it is sort of cool, but you would never really use it - use Gulp instead". Using

[2016-03-03 00:24] ghost commented on #1787
Hey Alan, will definitely take a look at this. The idea was to run a one-page styleguide pertaining to global elements of the site that I could also parse the less the file and render to strings for quick debug checks rather than looking through the partials to match and LiveReload. I've had success with the method with un-preprocessed CSS using jQuery methods to develop global stylesheets quickly

[2016-03-03 01:43] devdesco-ceo commented on #3208
Exception
[code]

[2016-03-03 04:23] chaluvadiswamy commented on #3616
@ishakhsuvarov , I am using my setup with sample data.by default Table Rate and Flat Rate is Enabled.

[2016-03-03 07:58] ivansuharyadi opened #3626 "Multiwebsite with subfolder"
Hi,

Its possible to setup magento 2 with multiwebsite and subfolder, like this :
http://magento-shop.com/test1 and http://magento-shop.com/test2

Any ideas ?

[2016-03-03 08:11] cs221313 opened #3627 "Initialize the AccountManagementInterface with my own class problem"
Hi, all,

I got a problem when I Initialize the `AccountManagementInterface` with my own class. I have created my own `AccountManagement` which is extended from `\Magento\Customer\Model\AccountManagement`.

[code]

I defined following statement in `di.xml` file:

[code]

But when I run the software, it still initialize the `Magento\Customer\Model\AccountManagement` class in the following code.

[c

[2016-03-03 08:13] wojtekn opened #3628 "Unify unit and integration tests configs"
This isn't something big, but I think it may be worth to improve both `phpunit.xml.dist` files to make them working in similar way by default. For now the biggest difference is that integration tests don't include whole `app/code` but limit code coverage only to Magento code:

[code]

Unit tests enable everything from `app/code` by default:

[code]

Another improvements may include adding logging

[2016-03-03 08:23] Vinai commented on #3628
During development I commonly only run the whole integration test suite by CI, so I like having individual testsuites for non-magento modules.

[2016-03-03 08:38] wojtekn commented on #3628
@Vinai when I work on custom module I run tests only for that module eg.:

[code]

I found that issue when I wanted to review code coverage. For unit tests I copied `phpunit.xml.dist` to `phpunit.xml`, commented out `logging` nodes and that was it.

For integration I did the same and it didn't work - logging nodes are not there and default filter setup doesn't cover non-Magento code.

I would expe

[2016-03-03 10:05] arkadiych commented on #2757
@vasuscoin, @daim2k5  Fixer.io as additional currency converter service has been added.

[2016-03-03 10:21] #2283 closed

[2016-03-03 10:29] MomotenkoNatalia commented on #2964
Internal ticket MAGETWO-47996 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-03 10:29] #2964 closed, assigned to MomotenkoNatalia

[2016-03-03 10:31] MomotenkoNatalia commented on #3000
@dfediuk Internal ticket MAGETWO-48236 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-03 10:31] #3000 closed, assigned to MomotenkoNatalia

[2016-03-03 10:37] gplanchat commented on #2232
Hello,

Is there any info about this feature implementation? either if it will be in CE or EE and current status?

Thanks in advance

[2016-03-03 10:46] MomotenkoNatalia commented on #1921
Changes are currently in the mainline. Issue can be closed.

[2016-03-03 10:46] #1921 closed

[2016-03-03 11:47] MomotenkoNatalia commented on #2909
@dfediuk could you please clarify the information you provided considering @belbiy question?

[2016-03-03 11:50] Deepthi57 opened #3630 "Catalog price rule is applied to product even after removing the rule"
![price_rule_removed](https://cloud.githubusercontent.com/assets/17591809/13493376/c01e61d4-e163-11e5-891c-4b9ff6705f20.png)
![catalog_price_rule_still_applies](https://cloud.githubusercontent.com/assets/17591809/13493375/c01c5966-e163-11e5-80fc-8409ae475f24.png)

Steps to repro:
1.Go to Marketing>Catalo price rule
2. Create a price rule with fixed amount discount and with no condition applied
3.L

[2016-03-03 11:51] MomotenkoNatalia commented on #3226
@dfediuk  Changes are currently in the mainline. Issue can be closed.

[2016-03-03 11:51] #3226 closed, assigned to MomotenkoNatalia

[2016-03-03 11:52] bojjaiah commented on #3602
Thanks for everyone. it's not Magento 2 problem. Now working fine.

[2016-03-03 11:52] #3602 closed, assigned to nobody

[2016-03-03 12:03] cescox commented on #3303
+1
Same issue on php v7.0 here

[2016-03-03 12:22] mitul69 opened #3631 "Show empty / null value instead of 0(Zero) in minicart"
Hello Team,

I am working on the magento2 theme and I have problem with the minicart.

**Scenario.**

When i open the page in Private Browsing / Quote no initialize at that time it show the empty value in minicart count.

If i add product(s) in cart then i can see the number of the items in cart like 1, 2, 3 ...
after adding i remove all product from the cart then also i can see the 0 in Cart coun

[2016-03-03 12:54] ishakhsuvarov commented on #3631
@mitul69 Hi, thank you for reporting this issue. Minicart should not show "0" in product count section. Please provide your Magento version (or branch you used to install) for us to investigate the issue.
Thank you.

[2016-03-03 13:08] ishakhsuvarov commented on #3625
@ivanweiler Thank you for reporting.
Indeed, this issue exists and we already have the task in our backlog (internal ticket `MAGETWO-43095` containing multiple issues) to implement mechanism which would enable browser cache invalidation by the server. There are some more cases caused by this problem: #2339, #3280
We are going to update all the tickets as soon as issue is resolved.

If you have any

[2016-03-03 13:12] mitul69 commented on #3631
Hello @ishakhsuvarov

Thank you so much for your quick reply

Here is the link
http://192.168.10.40:90/hoverboard/ you can check the issue.

[2016-03-03 13:15] sevos1984 commented on #3572
@bb8d clearing cookies should be performed after upgrading. @sengaigibon there are two internal tickets that should solve your problem and will be delivered soon (MAGETWO-46014 and MAGETWO-49449)

[2016-03-03 13:31] tzyganu commented on #656
It looks like this is changed to GET requests now. I'm closing the issue. In case someone has something else to add, or I missed something, this can be reopened.

[2016-03-03 13:31] #656 closed

[2016-03-03 13:49] devhn commented on #3572
@sevos1984 cookies and local storage was cleaned.

[2016-03-03 14:01] kmlav commented on #2587
We are having the same issue. I have raised a ticket with the Magento support team and will let you know the outcome

[2016-03-03 14:02] marvincaspar opened #3634 "Shipment status and shipment label?"
I'm looking at the REST API and see that there is a `shipment_status` and `shippment_label` filed available. Than I created a shipment in the backend and noticed, that I'm not able to set these fileds.

For what are these fileds or where can I set these fileds?

[2016-03-03 14:19] ishakhsuvarov commented on #3631
@mitul69 Unfortunately, the link you provided seems to lead to a server on your internal network, therefore I am unable to access it.

[2016-03-03 14:27] ishakhsuvarov commented on #3616
@chaluvadiswamy Currently we are unable to reproduce the issue, could you please provide settings for Table Rate which you are using? How much longer estimation takes then other operations?

[2016-03-03 14:31] Vinai commented on #3628
Collecting coverage data for integration tests isn't that common in my experience except for maybe identifying bigger uncovered areas. Integration tests are not really meant to cover all execution paths, they are generally too expensive to write and maintain. That's what unit tests are really good at.

[2016-03-03 14:40] antonkril commented on #2081
I'll close issue, since `init_param` allows you to achieve at least similar behavior. But please feel free to reopen it or better post question on forum if you still think it should be better investigated.

[2016-03-03 14:40] #2081 closed

[2016-03-03 14:51] mazhalai commented on #3303
Internal ticket MAGETWO-50078

[2016-03-03 14:52] mazhalai commented on #3132
Internal ticket MAGETWO-50078

[2016-03-03 14:53] marvincaspar opened #3635 "Order PDF Shipment"
I'm logged in in the backend and view an order. I select the shipment tab, check the checkbox on a shipment and choose the `PDF Shipments` above the table. The generated PDF includes all available shipments and not only the selected one.

[2016-03-03 14:57] homecoded commented on #2617
Here is the problem and the solution to this **bug**:

When we enter an new email address (one that is not connected to an extisting subscriber), the subscriber object (`$this`) has no id (`$this->getId(); // null`) yet in `Magento\Newsletter\Model\Subscriber::subscribe`. The verification email is sent out before the subscriber is saved, thus the subscriber id is missing from the verification link

[2016-03-03 14:59] mazhalai commented on #2617
@homecoded would you like to submit a PR with this fix?

[2016-03-03 15:13] mazhalai commented on #3560
@karishmadaffodil which version of magento are you on? also how did you deploy?

If you used the latest git version, there has been some changes in how the i18n commands works.

On latest develop from git,
`bin/magento i18n:collect-phrases -o "/var/www/html/magento2/es_ES.csv" -m` (checks current folder)

The `-d` flag is in the wrong place. Please try
`bin/magento i18n:pack -d /var/www/html/magen

[2016-03-03 15:14] homecoded commented on #2617
Sure, will take a few days as i have a lot on my plate right now. Can take care of it maybe on Friday or early next week. I wouldn't mind If somebody else wants to jump in.

[code]

This is the last part of my version of the `subscribe`method. I simply moved the ''save'''-call a few lines up. `sendConfirmationRequestEmail`and `sendConfirmationSuccessEmail` do not seem to alter the `$this`object, s

[2016-03-03 15:51] vil11 commented on #3559
Thanks for screenshots. Looks like these issues are related indeed. Internal ticket **MAGETWO-48511**.

[2016-03-03 16:52] Zatara7 commented on #3132
Hi @clarenceh we have changed the logic that you mentioned. Could you please checkout the develop branch. I just ran the collect command again on php 7.0.2 and then the pack command and got no issues. Also to update your packagist repository here's the file with the newly collected phrases: http://sprunge.us/IfPG :) or you can just collect again

[2016-03-03 16:58] #3132 closed, assigned to nobody

[2016-03-03 17:05] romainruaud opened #3637 "Swatches does not work properly into Catalogsearch"
Steps to reproduce :
- Pick an attribute based on swatches (ie. "color" on Magento with sample datas).
- Set "Use in Search Results Layered Navigation" to "Yes".
- Go to catalogsearch result page.

=> The swatches are appearing on the DOM, but, they are not displayed properly.

This may be due to the fact that there is no layout for catalogsearch_result_index in the swatches module.

[2016-03-03 17:14] nagno commented on #1575
The PR got merged, so I'm closing it because the issue is no longer required.

[2016-03-03 17:14] #1575 closed

[2016-03-03 17:17] Zatara7 commented on #3303
Hi @dynamogold-bkre I was able to collect phrases then running the pack command with no problems. This logic has been changed in the past few weeks so please checkout the develop branch and let us know if you face any more problems. Thank you.

[2016-03-03 17:30] #3303 closed, assigned to nobody

[2016-03-03 17:45] eug123 commented on #3447
Hi @dav1dian ,

Seems it is about `.less` file extension in `@import` directive. You can omit extension -  sources will be found and CSS will be compiled, but magento [will add this extension](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Css/PreProcessor/Instruction/Import.php#L141-L156) to the processed file, so published file content will be different from orig

[2016-03-03 17:47] keyurshah commented on #3417
I'm having the same issue, can't add new rows after attempting to create an option. On 2.0.2

The error I see in console is this:

[code]

[2016-03-03 17:58] Grumag commented on #3417
I had to roll back few weeks to a version before the bug happened. Couldn't find any help or other solution. Don't know how the bug occurred, or if it is going to occur again.

[2016-03-03 18:16] keyurshah commented on #3417
that's interesting. I'm on a fresh install. I've had enabled javascript minification. After your message, I then turned off "Minify Javascript" (while on production mode) and then the error stopped.

So it seems to be something with the server generated javascript minify feature.

[2016-03-03 19:26] Grumag commented on #3417
I think you hit the nail in the head with that one. I haven't enabled Minify JavaScript since the rollback. I was about to do it today, as I did enable everything else. When I experienced the bug my JS was minimized.

Definitely not enabling it now. Will be interesting to see if it happens to others as well.

[2016-03-03 21:32] AurelienLavorel commented on #3484
Hi,
I have the same issue and also got log in system.log :

[2016-03-03 23:00] erikhansen commented on #3038
+1 for a solution. We've run into this issue on a site with 5 locales and two custom themes. Having to compile the magento/blank and magento/luma themes doubled the `setup:static-content:deploy` time.

I would prefer an "exclude" flag be added (as opposed to "include"). Since the exclude flag will likely be hard-coded into deployment scripts, being able to specify which themes to exclude seems mor

[2016-03-03 23:43] degaray opened #3640 "CartItemInterface cannot add extension_attributes"
I am trying to extend CartItemInterface with custom attributes. It goes well, in most parts, but it crashes when calling `/carts/mine/payment-information`. This is the error I get:

[code]

[2016-03-04 00:38] alankent commented on #3038
As a *workaround*, has anyone looked at using https://github.com/SnowdogApps/magento2-frontools with Gulp to generate the theme files for production? You list theme names and locales to compile, so easy to skip combinations you don't want. I was just not sure if it did everything for production (I have not tried it), but I would love to understand if there are any gaps.

[2016-03-04 00:51] sengaigibon commented on #3572
Now I noticed two more issues, one is kind of the opposite of this one: I'm adding custom fields to the address, then in the checkout step 1, after I update the page pressing F5 suddenly I see a page telling me I have no items in my cart, customer name in the top menu bar, item amount in the orange square. If I click into My Account I get redirected to Sign in page... Should I open a new issue des

[2016-03-04 01:05] sengaigibon commented on #3572
@sevos1984 Great! Thanks! :+1:

[2016-03-04 01:41] erikhansen commented on #3038
@alankent I love how creatively you think about problems like this. I tend to try and stick with native tools for things like deploying to production, as they tend to be more stable/trustworthy. I am planning on reading through your blog posts about using Gulp for development to see what benefits it offers.

[2016-03-04 01:51] alankent commented on #3038
We need to improve the performance of our native tool. But Gulp is clearly faster and more interactive during development. I am honestly curious to see if it can do the full production deploy. Then it can be "use our built in tools if you don't want to think; use Gulp if you are willing to install one extra tool for a better development experience".

But to be clear, this is not my project - @Iglo

[2016-03-04 01:57] erikhansen commented on #3038
@alankent Yeah, it makes sense to use the same compilation technology in development and production to ensure consistent results. Per your previous question, I am curious to see if anyone is using https://github.com/SnowdogApps/magento2-frontools in development and production and to see how that is going for them. Maybe a tweet from you would get more feedback than this obscure ticket. :)

[2016-03-04 02:02] alankent commented on #3038
I might try that in a few days - I was hoping people expressing pain on this thread would be more motivated to give it a try - they had real world problems that are known to be bad, so if it works for them then that is a big thumbs up with concrete data.

[2016-03-04 03:55] jibrandlr commented on #2633
I tried to replicate that sample customization with the updated information however it doesn't work yet. I'm not sure whether the file /view/frontend/web/template/minicart/content.html is the right one to edit.
I even modified the core file (instead of my custom theme) with no success.

[2016-03-04 03:59] mitul69 commented on #3631
@ishakhsuvarov  sorry for the wrong link update

here is the new one : http://103.204.192.170/hoverboard/

[2016-03-04 04:57] chaluvadiswamy commented on #3616
@ishakhsuvarov , After you said i have disable the **Table Rates Shipping method** and tested with only the **Flat Rate shipping method** .

After doing that also i am  facing the same issue.Refer the screen shot
![capture](https://cloud.githubusercontent.com/assets/7018680/13518656/57e2b3c0-e1f6-11e5-81ee-98623946a943.JPG)

[2016-03-04 05:50] mitul69 opened #3641 "Compare product limit"
Hello There,

working in magento2 theme development, I am searching for to set the limit for the add to compare list,  right now i can add as much as i want to add in compare list,

I would like an option in magento admin panel from where i will set the limit.

Many thanks in advance,

Mitul Patel

[2016-03-04 05:54] Coupes opened #3642 "Magento 2.0.2 Contact Us"
Magento 2.0.2 Contact Us form returns and error after form is submitted.

Error is shown below which doesn't make a hell of a lot of sense to me apart from it just failing...

We can't process your request right now. Sorry, that's all we know.

Website is... http://www.wgas.org:33/magento/contact/index/

Please help.

[2016-03-04 06:33] sevos1984 commented on #3572
@sengaigibon Check that your system permissions set correctly http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html, also try clearing everything in var folder.

[2016-03-04 06:47] sengaigibon commented on #3572
I found that if I clean var/session\* but don't clean browser cookies is when I get the behavior of the last comment with the customer name in the bar but logged out.

[2016-03-04 06:50] suzannealdrich commented on #2504
I have a fairly basic Nginx + PHP-FPM setup, and adding this one `fastcgi_split_path_info` line was the difference between being able to install Magento through the wizard or not. I would recommend merging the fix into the default configuration, as it I can verify it works correctly on my debian jessie setup. It's also mentioned as a potential solution to 403 problems here: http://stackoverflow.co

[2016-03-04 07:02] mitul69 commented on #3642
Hello @Coupes

I think you working on local system please check your mail configuration,

The issue due to mail sending

[2016-03-04 07:04] mitul69 commented on #3640
hey @degaray

Have you added dependency in your di.xml file?

[2016-03-04 07:44] mitul69 commented on #3560
I have try with
`bin/magento i18n:pack -d /var/www/html/magento2/es_ES.csv es_ES`

it give me error "Not enough arguments."

[2016-03-04 08:18] xxxsf opened #3643 "Grunt exec command not working in magento2"
I am following:
[http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-topics/css_debug.html)

it says  grunt exec:<theme> does:

Republishes symlinks to the source files to the pub/static/frontend/Vendor/default/<locale> directory.

but that does not work and I am getting error as following:

Execution Ti

[2016-03-04 08:19] victor-shelepen commented on #3612
I've found a such problem here:
http://magento.stackexchange.com/questions/95071/magento-2-does-not-allow-linking-modules-using-symlinks

It seems an old issue. I've not found duplicate issues.

[2016-03-04 08:29] Igloczek commented on #3038
@alankent Thanks for mention, but "Frontools" unfortunately are not 100% substitute of `setup:static-content:deploy` - I focused on styles compilation and this part works as expected, but there are also RequireJS and templates processing inside this CLI command and for now I'm not supporting it.

[2016-03-04 08:35] Igloczek commented on #3038
BTW. I forgot about little thing to do - I said in comments of some your blog post about `--no-styles` flag to this CLI command and I'm going to do this ASAP as PR to main M2 repo...

So, if you use `setup:static-content:deploy --no-styles [...]` + Frontools -> deployment process should be a lot faster.

[2016-03-04 08:42] ishakhsuvarov commented on #2629
@wsagen Closing this ticket. Please reopen if you have any additional questions on this topic.

[2016-03-04 08:42] #2629 closed, assigned to ishakhsuvarov

[2016-03-04 08:43] ghost opened #3644 "magento deploy:mode:set production fails with MAMP PRO"
I'm running a development installation on MAMP PRO and when I'm trying to `deploy:mode:set production` it fails at `setup:static-content:deploy`. When running `setup:static-content:deploy` directly from CLI it succeeds without problems.

Any ideas what might be wrong?

[code]

[2016-03-04 08:50] sengaigibon opened #3645 "customer_address_id is null on orders and quotes"
Not sure if this is an issue..:
On checkout:
Step 1, customer already has addresses, but I create a new one for shipping.
Step 2, I chose a different billing address from the address book.
I finish the checkout without problems.
The new address is in the table customer_address_entity, visible in the customer's address book, no problem.
But if I look into the database, tables quote_address and sale

[2016-03-04 08:55] p3mbo commented on #2564
+1 - this seems like a fundamental flaw in the configurable logic.

[2016-03-04 08:56] matthieusibille opened #3646 "Bundle js generates a 7.9mo file"
hello,

I'm currently working on Magento 2.0.2 and I noticed that loading time for all pages are extremely high.

I'm running on Xampp at the moment, production mode enable, html/js/css are merged and minify, varnish is disable and i will not use it since my Web hosting can't install it on my server because it will interfer with some scripts. I use a custom theme which parent is the blank theme of

[2016-03-04 08:58] RebeccaLTroth commented on #2564
+1 - Had the same issue. Definitely needs some love.

[2016-03-04 09:03] ishakhsuvarov commented on #3640
@degaray Thank you for reporting. We already have a similar item in our backlog (internal ticket `MAGETWO-50025`) to investigate this.

[2016-03-04 09:22] ishakhsuvarov commented on #3631
@mitul69 Thank you for the updated link. Looks like some css classes for the mini shipping cart are absent in your custom template.

Stock Luma theme:

[code]

Your theme:

[code]

[2016-03-04 09:31] ishakhsuvarov commented on #3616
@chaluvadiswamy Looking at the overall numbers I would suggest trying some of the advices listed here https://github.com/magento/magento2/issues/2669#issuecomment-163646043

[2016-03-04 09:34] ishakhsuvarov commented on #3589
@vipin-eglobeits Thank you for reporting.
There is indeed no loader on minicart item removal. Currently it is not considered a bug, however, we are going to look into possibility to add one.

[2016-03-04 09:39] AlexSeyFomin opened #3648 "Some errors after changing Locale Options->Locale."
I tried to change Local configuration in admin side. I changed this settings from English(United States) to Ukrainian(Ukraine).
![image](https://cloud.githubusercontent.com/assets/16902841/13522941/0bbe4360-e1fb-11e5-9e52-51ff08877884.png)
But I have some trouble after that. Magento don't create a folder pub/static/frontend/[vendor]/[theme]/uk_UA/.
I got this result:
![image](https://cloud.githubu

[2016-03-04 09:45] ravimule opened #3649 "mini cart is not working magento 2"
When I add new product to cart. It is adding that products to cart but mini cart doesn't shows anything.
and my console has following error.
TypeError: this.itemRenderer is undefined
can anyone tell what is because of this.
[http://umbrosashop.wrc-test2.be/infina-square-2.html](http://umbrosashop.wrc-test2.be/infina-square-2.html)

[2016-03-04 09:46] bsuresh opened #3650 "Cannot Uninstall Luma theme"
We are in process of creating our base theme. We are looking at removing Luma theme followed the steps (http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-theme-uninstall.html)

We can't seem to un-install Luma theme, this is a fresh Magento installation on vagrant box.
`$ php bin/magento theme:uninstall frontend/Magento/luma

Unable to uninstall. Please resolve the followi

[2016-03-04 09:51] neelimabenapally opened #3651 "magento 2.0 admin panel loading slowly and the sublink buttons are not working after merging css and js files"
-Smartwave porto is installed on magento 2.0
-After the merging the css and js files in adminpanel the admin panel is loading slowly and all the sublink buttons (sales,products,customers,etc) are not working
-When checked in the apache errors log
File does not exist: /usr/local/apache/htdocs/home/public_html/pub/static.php, referer:
 client denied by server configuration: /home/public_html/app/etc

[2016-03-04 10:25] JKCode opened #3652 "SOAP API catalogProductReturnEntity.additional_attributes does not support array values"
Using magento v2 Soap API - WS-I compliance is OFF.

Client is built with .NET.
Trying to retrieve additional product attributed with catalogProductInfo:

I am unable to retrieve some attributes because the additional_attributes field is an array of associativeEntity objects. An associativeEntity can only hold one value.

However some attributes (e.g. category_id) can have more than one value. For

[2016-03-04 10:26] chaluvadiswamy commented on #3616
@ishakhsuvarov , Thanks for update.
Already i have followed same steps as mentioned in following link : https://github.com/magento/magento2/issues/2669#issuecomment-163646043

I didn't find any difference after enabling the compile and enable Production.

[2016-03-04 10:31] ishakhsuvarov commented on #3649
@ravimule Thank you for reporting. The issue seems to come from one of the customisations or extensions applied to your site.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
Feel free to reopen this issue if you think you

[2016-03-04 10:31] #3649 closed, assigned to ishakhsuvarov

[2016-03-04 10:38] quienti opened #3653 "Bug css cart-summary in cart"
Sometimes, there is this problem in cart

I have Magento 2.0.2
Theme Luma, not custom theme

![sans titre 1](https://cloud.githubusercontent.com/assets/7326954/13524764/8b39b488-e1fd-11e5-8c7b-38196a5427eb.jpg)

[2016-03-04 10:44] matthieusibille commented on #3651
Hello,
you have to redeploy static files
command : php bin/magento setup:static-content:deploy

[2016-03-04 10:47] mitul69 commented on #3631
@ishakhsuvarov  thanks for your update,

Actually i have instigate the code and check the some time `cart().summary_count == empty`

So i have do following changes and its working fine

`<span class="cart-title empty"
              data-bind="css: { empty: cart().summary_count == 0 }, css: { empty: !cart().summary_count }, blockLoader: isLoading">`
I have added following

 `css: { empty: !cart().s

[2016-03-04 10:51] ravimule commented on #3649
@ishakhsuvarov Thanks for your replay. I again encounter another issue

If I used color and text swatch in magento 2, sequence/order of option isn't changing. I mean I want to show
1. size
2. color

but it always show
1. color
2. size

if I used dropdown instead of color and text swatch. it is working fine. Can anyone tell me, is that isssue comes with magento 2.0?
I have open ticket for this, ple

[2016-03-04 10:53] neelimabenapally commented on #3651
Hi Matt,

I ran that command the frontend files are all deployed correctly but for
the backend only magento is being deployed the smartwave is not being
deployed for backend.

Many Thanks,
Neelima

On Fri, Mar 4, 2016 at 10:45 AM, matthieusibille notifications@github.com
wrote:

[2016-03-04 10:57] matthieusibille commented on #3651
Check your browser debug to see which files are missing.
Also, clean/flush your cache
php bin/magento cache:clean
php bin/magento cache:flush

[2016-03-04 11:09] vipin-eglobeits commented on #3589
Hi Ishakhsuvarov,
Thank you so much for your quick response.

[2016-03-04 11:12] ishakhsuvarov commented on #3631
@mitul69 Thanks for the update. Looks like the issue is fixed, so I'm closing this ticket. Feel free to reopen if you have more questions.

[2016-03-04 11:12] #3631 closed, assigned to ishakhsuvarov

[2016-03-04 11:17] ivanweiler commented on #3625
Good to hear it's being worked on, thx.

[2016-03-04 11:23] ishakhsuvarov commented on #3653
@quienti Thank you for reporting this issue.
We have already fixed it in the `develop` branch, fix will be available in the future releases.
Meanwhile you may use commit [`48d9643`](https://github.com/magento/magento2/commit/48d9643a0188807cca645e969c7752e60a7b174f) as a hotfix.

[2016-03-04 11:25] neelimabenapally commented on #3651
/Magento/backend/en_US/requirejs/require.min.js Failed to load resource:
the server responded 404 error and there are other 404 errors
 there are few files missing
i redeployed the static content and flushed/cleaned the cache but still there are files missing

On Fri, Mar 4, 2016 at 10:57 AM, matthieusibille notifications@github.com
wrote:

[2016-03-04 11:38] sachinkalerws opened #3654 "When take reorder then at shopping cart, two records are get mixed into one record. Pls see description & attached screen-shot."
![records are mixed](https://cloud.githubusercontent.com/assets/17641550/13526090/a49cea3e-e22b-11e5-9f53-7befff9fb6ef.jpg)
1 - I have add to cart, two records of configurable product as Green color, L size with 4 qty and Orange Color, L size with 1 qty.

2 - Place order and take reorder of same.

O/P==> At shopping cart, two records are get mixed into one record and display as Orange color, L siz

[2016-03-04 11:39] #3651 closed, assigned to choukalos

[2016-03-04 11:43] mitul69 opened #3655 "Item remove from the minicart loading effect"
Hello

I want to show some progress bar on when user click on the Remove icon in minicart,

Remove functionality working fine but the issue with the when i click on the remove Icon then press Ok button in conformation. I cant see any process.

So can you please help me how can i do that.

[2016-03-04 11:49] asemenenko commented on #3589
@ishakhsuvarov @vipin-eglobeitsone of the options will be to display a loader over a product that is deleting right now but keep other products and elements clickable

[2016-03-04 12:19] gazjoy commented on #2924
+1 I also have this problem on my Mac.

[2016-03-04 12:49] IvanChepurnyi opened #3656 "[Architecture Proposal] Simplify URL Rewrites and make them better for SEO"
_It is a proposal for the future pull request, upon product team and dev team approval_
#1. Scalability Problem

At the moment, Magento database gets unmanageable, when you have URL rewrites for products and categories combined. The problem is in the way how URL rewrite table is build up. Becuase URL rewrite generator creates an entry in a database table for each combination of product and categor

[2016-03-04 12:50] Coupes commented on #3642
Tried your suggestions, all mail sending configuration is fine, sent on wide area networks and still the same error. Any other suggestions? Like does the standard Magento 2.0.2 have send option or does and extension need to be obtained? Look forward to hearing back.

[2016-03-04 12:51] degaray commented on #3640
Thanks. Do you have a workaround?

[2016-03-04 12:52] datbunneh commented on #2483
No longer relevant.
Content Page grid has a "View" link which works correctly.
Content Block grid no longer has such link.

[2016-03-04 12:55] ishakhsuvarov commented on #3655
@mitul69 There is a similar issue: #3589 We are going to implement in the future.

To develop a solution on your own you may refer to the [Magento Developer Documentation](http://devdocs.magento.com/). Technical questions are discussed on the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/). In your case, the [programming questions fo

[2016-03-04 12:55] #3655 closed, assigned to ishakhsuvarov

[2016-03-04 12:56] ishakhsuvarov commented on #3640
@degaray I'm afraid we don't have one currently. We will update this ticket as soon as some more information is available.
Thank you.

[2016-03-04 13:00] peterjaap commented on #3656
This sounds amazing and would tackle the core_url_rewrite problem. Not to mention open up possibilities to be more dynamic in your filtering options and category naming/structure.

+1

[2016-03-04 13:17] dkvashninbay commented on #3509
@joebusby Yes, thats right.
Also please notice that Paypal has upgraded to TLS1.2 https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1914&viewlocale=en_US
Which means that your server should have libcurl v 7.34 or later.

Another issue you may face is that PayPal should be configured to use POST method to send verification transaction details instead of GET which

[2016-03-04 13:42] atishgoswami opened #3657 "Catalog Search Auto Suggest Click Not Working"
Hello,

Getting an issue when tried to click on the auto suggested item in the catalog search dropdown.

![search results for jackets](https://cloud.githubusercontent.com/assets/2647377/13528579/e71c562c-e23c-11e5-94e2-6ba86fcd7d69.png)

It seems that when clicked it reload the same page instead of taking the user to the catalog search page.

Thanks

[2016-03-04 13:42] fendowuk commented on #3103
I am also experiencing the same issue on a fresh install ver. 2.0.2, installed via composer.

[2016-03-04 13:49] degaray commented on #3640
Ok, here is what I have found so far. If you create an `extension_attribute` for `Magento\Quote\Api\Data\CartItemInterface` it works well. However when you call `/carts/mine/payment-information` Magento tries to convert the CartItemInterface into a `Magento\Quote\Model\Cart\Totals\TotalsItemInterface`. The problem is that at certain point in the conversion specifically in `Magento\Framework\Api\Da

[2016-03-04 13:59] MomotenkoNatalia commented on #2483
Issue can be closed

[2016-03-04 13:59] #2483 closed, assigned to nobody

[2016-03-04 14:07] chrom opened #3659 "Adding new sort order for catalog by product creation day"
How i can adding new ordering for product by product creation day, if in attribute set i don't see created_at?

Is it possible to do this through the admin area - Stores -> Ratings?
and how?

[2016-03-04 14:23] joebusby commented on #3509
My phpinfo says:
cURL support    enabled
cURL Information    7.38.0

My site uses Https, and I have configured PayPal to "Enable Secure Token: Yes"  if that is what you mean by  HTTPS should be enabled for Store

The settings you refer to are under "PayPal Hosted pages" and I have that working as a work-around using the "Payments Advanced" config.  Do these "POST" settings affect PayPal PayFlo Pro

[2016-03-04 14:28] RUjmiak opened #3660 "REST API /V1/carts/:cartId/selected-payment-method Internal Error"
Hello,

I am trying to create order by REST API.

I have created cart with item. Then I created billing address and I want to select payment method

**request**
PUT /rest/V1/carts/13/selected-payment-method
{
  "method": {
    "poNumber": "25",
    "method": "cashondelivery"
  }
}

Q: what is poNumber? I put there billing address id but I have no idea what poNumber is...

**response**
{
    "messa

[2016-03-04 14:56] okorshenko commented on #3411
@canassa please let us know if fix from #2892 does not work for you

[2016-03-04 14:56] #3411 closed, assigned to nobody

[2016-03-04 15:36] p3mbo opened #3662 "Data removed when using multiple repositories in same session"
I have the following code that should create 2 simple products and a product relation. When adding a link via the link repository it seems to get rid of the stock from a product. This is not just limited to link repositories; adding a website via the website repository also has the same effect.

Code I'm using is similar to the below but correctly pushed through the constructor in my case:

[code]

[2016-03-04 15:46] karthickyuva commented on #3656
``

[2016-03-04 15:48] mazhalai commented on #3560
@mitul69 did you try on the latest develop branch?

[2016-03-04 16:10] alena-marchenko commented on #3208
Hi Viktor,

We've created MAGETWO-50172 internal ticket regarding this issue

[2016-03-04 16:29] asemenenko commented on #3509
Hi @joebusby

Is request resolved already? Is something changed in logs?

[2016-03-04 16:40] shiftedreality commented on #2394
Fix was merged to develop branch. Closed.

[2016-03-04 16:40] #2394 closed

[2016-03-04 16:40] shiftedreality commented on #2921
Fix was merged to develop branch. Closed.

[2016-03-04 16:40] #2921 closed, assigned to nobody

[2016-03-04 16:41] shiftedreality commented on #2549
Fix was merged to develop branch. Closed.

[2016-03-04 16:41] #2549 closed, assigned to victorgugo

[2016-03-04 16:53] davidalger commented on #3626
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-03-04 16:53] #3626 closed, assigned to nobody

[2016-03-04 17:40] fhennessy commented on #3509
I changed the return URL to POST and I am still having the decline error when the payment did go through.. any help?

[2016-03-04 18:00] joebusby commented on #3509
I changed to "POST" on two places per:  (manager.paypal.com -> Service Settings -> Set Up -> set all return url methods to POST)

I requested that PayPal change my account to support "transparent redirect" and they said the would create a ticket and let me know when it was complete.  I never heard back so I don't know what went on on that end, but I just tested my site using PayFlo Pro and it work

[2016-03-04 18:41] rudenko-maksym commented on #3304
The workaround worked for me. Thanks.

[2016-03-04 19:08] devdesco-ceo opened #3663 "Redirects to different stores in Admin"
I have multistore installed and running behind Nginx. Storefronts work as expected, though not without some issues, but... in admin area Magento randomly generates link urls to different store views. Setting domain name in configuration>admin does not help with the issue.

[2016-03-04 19:31] ccondra commented on #3578
Thanks so much for pointing this out!  I'll fix it today.

Claire

[2016-03-04 19:52] sergeifilippov commented on #3656
:+1:

[2016-03-04 20:49] luca-vercelli commented on #3611
So, I think this is not an issue of Magento but a configuration problem of php5-fpm (fastcgi). The rewrite engine is not working and I cannot set it up.

[2016-03-04 21:26] mazhalai commented on #3650
@bsuresh Thank you for reporting, we have created MAGETWO-50182 to track and fix it.

[2016-03-04 23:29] devdesco-ceo commented on #3650
You have to manually remove all */Luma/* directories and then run /bin/magento setup:upgrade and redeploy all static content!

[2016-03-05 00:03] alankent commented on #3650
A part of the challenge is to make deployment simple, we have a composer metapackage that points at everything to download. This includes the Luma theme. For modules it is not a problem, because you can turn off modules (via config.php). But there currently is not a switch to turn of themes, causing problems like this. The sample data modules are optional and can be easily omitted, but the Luma th

[2016-03-05 00:15] fhennessy commented on #3509
We found out that we had the pricing precision on for 4 decimals, so the price that we were sending to PayPal was $5.7193 and PayPal was processing the payment and sending $5.72 back to Magento, and Magento then rejected the payment thinking it was incorrect.

[2016-03-05 07:38] JasonMortonNZ opened #3664 "Cannot login - form_key validation failure"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a new customer account
3. Log out, and try to log back in again.
4. After submitting the customer login form, I get continually redirected back to the login form.

The `validate()` method on this line is returning false https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/Controller/Account/LoginPost.ph

[2016-03-05 09:24] devdesco-ceo commented on #3650
Always keep in mind - Magento is owned by eBay :(

[2016-03-05 10:21] manhao-chen commented on #3605
add a few more to the list, these return and fails deserailsation

baseDiscountTaxCompensationInvoiced
baseDiscountTaxCompensationRefunded
discountTaxCompensationInvoiced
discountTaxCompensationRefunded
discountTaxCompensationCanceled

[2016-03-05 10:32] vzabaznov commented on #3493
Thanks for reporting, could you please provide a proper steps to reproduce the bug, seems like this problem cannot be reproduced on current main branch, but maybe you have some specific scenario @ad1rie1

[2016-03-05 12:24] vzabaznov commented on #2876
Looks like this bug cannot be reproduced on current version, @xkerkhof could you check it please with the fresh magento version from github

[2016-03-05 12:48] manhao-chen opened #3665 "C# - magento 2.0.2 - salesOrderRepositoryV1 - shipping address missing"
salesOrderRepositoryV1Get

does not return shipping address

only got billing and quote addresses

[2016-03-05 14:07] vzabaznov commented on #2568
seems like it cannot be reproduced on current version on magneto, @robbiereynolds please can you re-check this info?

[2016-03-05 14:46] ovekeryk opened #3666 "Missing setScopeFilter method call"
https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogInventory/Model/StockRegistryProvider.php#L150

Looks like $criteria->setScopeFilter($scopeId) method should be called.

[2016-03-05 17:51] keyurshah commented on #3656
that sounds awesome and would help with performance.

[2016-03-05 20:43] mcspronko commented on #2476
Hi Magento team, :)

Are there any updates for this issue? It will really help to start using "path" repository for module development.

Thanks.

[2016-03-05 21:11] jacquesbh commented on #2476
Actually you can. I just did it.

Here is my composer.json:

[code]

As you can see I have a "test" repository which use `path` as type.
On my machine I have the last version of composer.

So, maybe you can try a simple `composer self-update` and see if with the latest version of composer you're able to use a `path` repository?

[2016-03-05 21:14] jacquesbh commented on #2476
Oh my damn. I read not all the thing and I thought that it was just a composer usage… Let me check more. Sorry for the noise.

[2016-03-05 21:26] jacquesbh commented on #2476
_Note: I removed my useless two previous messages_

Ok, so. You can force composer to use a specific version for another… Let me explain with a really simple example.

Replace in your composer.json the require of `composer/composer` with this line:

[code]

It will say composer to use the `master` branch as version `1.0.0-alpha10` (version required by all Magento modules right now).

Hope this hel

[2016-03-05 21:34] mcspronko commented on #2476
Hi @jacquesbh,

It now works as expected. Thank you.
I appreciate your fast response.

@benmarks thanks for tweet.

[2016-03-05 22:05] kotreshnm opened #3667 "After installing Magento 2.0.2 is very slow in loading home/admin page"
Hi,

I installed magento 2.0.2 on WAMP 2.5 successfully but I see home/admin page takes at least 3-4 mins to get loaded and the case is same in page navigation. Kindly help me in getting my pages loaded faster . Below are my env details

OS:Windows 7 64 bit WAMP:2.5 RAM:8GB

Early helps are appreciated .

Thanks Kotresh NM

[2016-03-05 22:37] aleron75 commented on #3656
+1

[2016-03-05 23:11] rianorie commented on #3656
+1

[2016-03-06 00:26] amacgregor commented on #3656
+1

[2016-03-06 01:34] tgerulaitis commented on #3656
:+1:

[2016-03-06 07:02] roman204 commented on #3656
+1

[2016-03-06 10:11] roman204 opened #3668 "bin/magento setup:di:compile > Parse error: syntax error, unexpected '.', expecting ',' or ';' in /app/code/Magento/Directory/Model/Currency/Import/Webservicex.php on line 17"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. run bin/magento setup:di:compile
## Expected result
1. compilation should finish
## Actual result

[code]

this is the code:

[code]

i tried to remove the "." and the compiler runs ...

[code]

[2016-03-06 10:53] scholtz commented on #3667
I think you will have very slow HDD or processor.. Try upgrading to SSD drive ;)

But I would like to see also response from official Magento stuff how to make it faster on older hardware.. :)

[2016-03-06 11:07] chirag-wagento commented on #2614
*\* Remove index.php from url **
Run Command In Terminal
sudo a2enmod rewrite
sudo gedit /etc/apache2/apache2.conf

=> Add below code
`<Directory "/var/www/html">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>
`

[2016-03-06 12:41] andrew-smart commented on #3544
I ran another test and so far i have waited 30 minutes without any further output. Not sure how long i should wait but that seems quite excessive :)

[2016-03-06 18:27] suzannealdrich commented on #2697
With CloudFlare CDN enabled, I had a problem with the customer and product grids not loading, even though the AJAX call was returning populated with data. This also happened with the cart on the storefront. I solved this issue and everything is working perfectly now by turning off the Auto Minify feature for JS and HTML. If you look at the source of the HTML fragments that get loaded after the XHR

[2016-03-07 00:52] jibrandlr opened #3671 "Logo, icons and product images in product pages, dont show in frontend"
Just moved a Magento 2 site from a test hosting domain to my local PC.
Everything is ok except Magento logo and icons (cart, envelope inside the email subscribe form, search icon, etc) dont show on frontend.
On backend there are no problems.

I have already flushed cache, deleted pub/static folders, run setup:static-content:deploy.

Product images in product pages dont load. However, they load ok

[2016-03-07 01:24] jonsaf commented on #2811
I am experiencing the same issue.  I see that this was an acknowledged bug, but is there a fix?

[2016-03-07 02:27] mrkhoa99 commented on #3671
Hello @lgarridoj

Delete all files under _var_ folder.You try to enable developer mode and run deploy command again.
Enable developer mode from CLI: `php bin/magento deploy:mode:set developer`
You change web base url from _core_config_data_ table?

[2016-03-07 02:46] jibrandlr commented on #3671
@mrkhoa99 should I delete all files AND folders under var folder?

[2016-03-07 02:52] mrkhoa99 commented on #3671
@lgarridoj  I checked _var_ folder. We shouldn't delete _.htaccess_ file. We can delete the rest.

[2016-03-07 03:56] jibrandlr commented on #3671
I reinstalled the magento application and the problem was solved.

[2016-03-07 06:08] karishmadaffodil commented on #3560
I am using _Magento_ ver. 2.0.1 and it is giving me error "Not enough
arguments"

On Fri, Mar 4, 2016 at 9:18 PM, mazhalai notifications@github.com wrote:

##

Thanks and regards
Karishma Sharma
(Daffodil Software Ltd)

[2016-03-07 06:21] dinesh829269 commented on #1277
I resolved the issue . It was all permission issue

Use these steps to adjust how Magento modifies the default permissions for files:
Edit vendor/magento/framework/Filesystem/DriverInterface.php:
line 20, change:
const WRITEABLE_DIRECTORY_MODE = 0770;
To:
const WRITEABLE_DIRECTORY_MODE = 0755;

Line 25, change:
const WRITEABLE_FILE_MODE = 0660;
To
const WRITEABLE_FILE_MODE = 0644;

Through magento

[2016-03-07 06:41] marvincaspar commented on #3667
Wrong permissions on cache folder?

[2016-03-07 07:34] hawksakr opened #3672 "Custom option update all prices in the page"
## Steps to reproduce
1. add custom option with price to some product
2. add related products or upsell or cross to that product
3. open that product in front end using luma theme
4. pick the custom option with price you added
5. look to the price box of the product in related widget below the prices also updated
## Expected result
1. only the price of basic product updated with the custom option

[2016-03-07 07:48] kotreshnm commented on #3667
No,folders have full access .It's deployed in c/wamp/www where in it has full rights.

[2016-03-07 07:48] kotreshnm commented on #3667
No,folders have full access .It's deployed in c/wamp/www where in it has full rights.

[2016-03-07 08:07] quienti commented on #3653
Oh! Sorry

Thank you for your answer

[2016-03-07 08:07] #3653 closed, assigned to ishakhsuvarov

[2016-03-07 08:52] devhn opened #3673 "Custom font 404 on product page"
I have a custom theme with custom fonts included (Magento 2.0.2). I've used Luma as a base theme and changed the current Open Sans font for a custom one. All works fine except upon opening the product page where the custom fonts get loaded twice, once 200 and other 404. Successfully loaded fonts have a correct path but other (404) are coming from /mage/ folder: Console error:

GET http://domain.co

[2016-03-07 11:46] VarinhoPontes opened #3674 "error in Pag 663 from manual"
In pag 663 in  Step 2: Begin the Configuration
1. Expand the PayPal Express Checkout section. Then, tap Configure.- and it is PayPal Payment Solutions and not " express checkout "
   ![1](https://cloud.githubusercontent.com/assets/5529234/13568573/faa7f6be-e459-11e5-88fe-2f98c80f7277.png)

[2016-03-07 13:15] LouNik1984 opened #3675 "Indexer cli and backend showing different result"
Hi,

I installed magento2, changed mode to developer from cli (delploy:mode:show returns Current application mode: developer) and tried to reindex from cli by running magento indexer:reindex .. everything seemed to go fine: I get the list of the indexes and the time it took to rebuild the index. If I check the status from cli with indexer:status, every index is shown as 'ready'. But when I go to b

[2016-03-07 13:30] sdzhepa commented on #3660
Hello @RUjmiak, thank you for reporting this issue. We have created an internal ticket `MAGETWO-50192` to fix the problem.

At this moment you can fix the problem by adding cartId into payload, example:
PUT /rest/V1/carts/6/selected-payment-method

[code]

"poNumber" is optional parameter, it used for some payments like "Purchase Order".
Only this payment, from default Magento 2 installation, has

[2016-03-07 13:42] wrurik commented on #3229
Same here

[2016-03-07 14:38] katmoon commented on #3438
The fix is delivered. Closing the ticket.

[2016-03-07 14:38] #3438 closed, assigned to nobody

[2016-03-07 14:53] katmoon commented on #2833
Closing the issue as it can't be reproduced and there's no response has been received from the reporter.
@jstuardo Please feel free to reopen if you still experience the issue.

[2016-03-07 14:53] #2833 closed, assigned to nobody

[2016-03-07 14:57] sdzhepa commented on #3654
@sachinkalerws   Thank you for reporting this issue. We have created an internal ticket `MAGETWO-50198` to fix the problem.

[2016-03-07 15:35] mazhalai commented on #3668
@roman204 what version of php?

[2016-03-07 15:50] mazhalai commented on #3675
@LouNik1984 Thank you! we have created a ticket MAGETWO-50201 to investigate and fix.

[2016-03-07 15:52] mazhalai commented on #3668
@roman204 this is already fixed in scope of MAGETWO-50087, we should be merging it soon.

[2016-03-07 15:54] #3668 closed, assigned to nobody

[2016-03-07 15:56] roman204 commented on #3668
php version is 5.5.9, thanks for info.

[2016-03-07 16:12] m-strojek opened #3676 "Store switch endless loop, wrong navigation block content (wrong store) with multidomain/language setup"
## **Steps to reproduce**
1. Install Magento release 2.0.2)
   1a. Disable Fullpage and block cache (just to avoid caching effects)
2. Setup multistore setup with nginx:
   This setup is meant to handle country domains with a (not unique between stores) language prefix for urls.

E.g.
http://mysite.de/
http://mysite.de/en-DE/
http://mysite.at/
http://mysite.at/en-AT/
http://mysite.ch/
http://mysit

[2016-03-07 16:23] davidalger commented on #3641
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-03-07 16:41] quienti opened #3677 "Url Rewrite, category tree don't loading"
## Steps to reproduce
1. Backend > Marketing > Url Rewrite > Dropdown `For category` or choose category after have selected product in `for product`
## Expected result
1. Show a category tree

Actual result
1. Nothing, a error with js (See screen)
   ![sans titre 2](https://cloud.githubusercontent.com/assets/7326954/13576054/0cc5a0b2-e48c-11e5-808f-477e644007cb.jpg)

On Magento 2.0.2

[2016-03-07 16:45] #3327 closed, assigned to nobody

[2016-03-07 16:47] mazhalai commented on #2672
@markoshust closing as non-responsive.

[2016-03-07 16:47] #2672 closed, assigned to nobody

[2016-03-07 16:47] quienti commented on #3162
Any news from your internal ticket ?

[2016-03-07 16:50] shuaiZend opened #3679 "how to rebuilding URL rewrite?"
## Steps to reproduce
1. login phpmyadmin
2. TRUNCATE tables catalog_url_rewrite_product_category and URL_rewrite
3. run cli bin/magento index:reindex
## Expected result
1. Rebuilded all page URL rewrite
## Actual result
1. 404

[2016-03-07 17:25] neran opened #3680 "Price is empty when creating a product via REST API"
When I POST /V1/products with these example parameters:
{"product":{"sku":"13744-SG-H-CP23","name":"Handmade Safed Hanukah Candles - Bright Fire","price":"13.00","status":1,"attributeSetId":4,"options":[]}}

The product is created but the price is empty:
http://prntscr.com/accys0

Using PUT - same result.

If I POST again with the same parameters - the price is updated!
Going crazy, what am I miss

[2016-03-07 17:56] devdesco-ceo commented on #3650
and remove the reference entry in themes table in db

[2016-03-07 18:27] alankent commented on #3650
Not sure what you meant by "Magento is owned by eBay" exactly, but to be clear - we are NOT owned by eBay since November last year. We are Magento Commerce, a separate company. We are still going through separation efforts, but company focus is now all about Magento.

[2016-03-07 22:37] binhton opened #3681 "Magento 2.0.2 Authorize.net DPM not working"
I have upgraded my store to 2.0.2, and now the Authorize.net DPM not working.  When submitting the order in Admin interface using credit card, the "Please Wait" message keeps spinning forever.  It worked well before in 2.0.  Anyone has similar issue?

[2016-03-07 22:50] devdesco-ceo commented on #3650
Nice, good to know! I just have person affection towards eBay. :-1:

[2016-03-07 23:47] ccondra commented on #3674
Hi Varinho -- The examples in the user guide are based on a Merchant Location that is set to the United States, so it actually is correct. However, the payment configuration changes slightly for different Merchant Country settings. Also, some of the PayPal payment methods change from country to country.  I'll add a note that your configuration might not exactly match the example in the user guide.

[2016-03-07 23:57] degaray opened #3682 "Magento2 should have setter dependency injection"
There should be a way to inject dependencies and have Magento2 call a setter. Some third party classes are done this way so it would be very good to have this feature. See [Symfony3 injection](http://symfony.com/doc/current/components/dependency_injection/types.html#setter-injection) for more idea.
## Steps to reproduce
1. Try to inject into Magento2 a Writer object set with a PNG of width and hei

[2016-03-08 02:39] tronghuan opened #3683 "SetEnv MAGE_PROFILER firebug in .htaccess is not working correctly."
## Steps to reproduce
1. SetEnv MAGE_PROFILER firebug in .htaccess file.
2. Go to [Example]http://magento.dev
## Expected result
1. Don't know.
## Actual result
1. Error message appears: "
   Fatal error:
   Uncaught exception 'Exception' with message 'Recoverable Error:
   Argument 1 passed to Zend_Controller_Plugin_Abstract::setResponse() must be an instance of Zend_Controller_Response_Abstract,

[2016-03-08 03:05] bondimedical3 opened #3684 "Changing Base URL's causes 404 error Admin"
## Steps to reproduce
1. Do an installation of Magento 2.0.2
2. Go to phpMyAdmin and change base URL's in core config data
3. Clear cache by emptying contents of var/cache
4. Admin login now produces a 404 error page,

[2016-03-08 05:26] erikhansen commented on #3038
I just finished writing Capistrano scripts to automate a Magento 2 build that we're launching tomorrow. The site has three custom themes + the two native themes. The total build process takes ~19 minutes, ~18.3m of which is running the `bin/magento setup:static-content:deploy` command. Being able to exclude the `magento/blank` and `magento/luma` themes from the command would remove ~7m from the de

[2016-03-08 06:15] jibrandlr opened #3685 "Module folders location is different in two installations"
I create a local installation using Composer and all modules are located under vendor folder.

However, I tried a Bitnami installation in the cloud, and some modules appear under app/code/Magento folder, and other under vendor folder.

Why are they located in different installations? both version 2.0.2

(attached images from the bitnami installation)

Thank you
![vendor](https://cloud.githubuserco

[2016-03-08 06:25] devdesco-ceo commented on #3038
Nice! 1+

[2016-03-08 06:31] kandy commented on #2564
@p3mbo, @RebeccaLTroth Can I ask you to review answer from #2703 issue?

[2016-03-08 06:45] antonkril commented on #3682
In magento 2 all objects should be ready for use immediately after instantiation. Also most of our services are immutable, they don't change state after creation. Setter injection contradicts both these concepts, so is not supported.

Setter injection leads to broken encapsulation and temporal coupling. You should not use it in your objects. If you need different instances of one class configured

[2016-03-08 07:15] antonkril commented on #3038
@erikhansen, yes, we have this on roadmap, and yes, we would accept a PR. cc @buskamuza

[2016-03-08 08:37] antsem88 opened #3686 "Add related product with API"
How can I add a related product with rest API?
Thanks

[2016-03-08 08:41] #3686 closed, assigned to nobody

[2016-03-08 09:49] antsem88 commented on #3680
Try to set the price in the request as int, not as string (without quote).

[2016-03-08 09:53] antsem88 opened #3687 "How to change the SKU with REST API?"
Call:
PUT /rest/V1/products/{sku}

Request:
{
  "product": {
    "sku": "modified.sku",
    "name": "modified name"
  }
}
Result:
The name has changed, but the sku is the same. How can I change the product sku?
Thanks

[2016-03-08 11:21] whizkid79 commented on #2617
Hi @mazhalai,
I'm a collegue of @homecoded and took the freedom to create the PR. Home that helps.
Peter

[2016-03-08 11:33] Quinten commented on #2617
Super! I will try out the patch.

[2016-03-08 12:05] gopalvenu033 opened #3689 "custom option price of configurable products is not adding to cart"
I have custom options for product and prices are different for custom options. When adding product to cart , product price is only added and not adding the prices of custom options

[2016-03-08 12:33] jsakars opened #3690 "Composer project bare minimum"
composer.json like such should be enough to have fully functional M2 CE.

[code]

However one of documented [CRON jobs](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html) must execute `update/cron.php`.
`update/` directory is part of the `magento2-community-edition` library itself and obviously would not be downloaded during `composer install/update`. It seem

[2016-03-08 14:16] M1hai opened #3691 "Zero Subtotal Checkout leaves order on processing"
I have activated Zero Subtotal Checkout on Magento 2.0.1 and configured it with the following:
Title: No Payment Information Required
New Order Status: Processing
Automatically Invoice All Items: Yes
Payment from Applicable Countries: No
Sort Order: 1
When i place an order for a free downloadable product after the order is complete and everything done, in Magento Admin the Order Status is still: P

[2016-03-08 14:36] #3509 closed, assigned to alena-marchenko

[2016-03-08 14:55] choukalos commented on #3687
SKU is a unique key for products, it can't be changed via the API.  Our reasons for doing this is based on feedback from partners integrating to ERP & PIM systems it was desired to have a valid key that can be used by both systems.

[2016-03-08 14:55] #3687 closed, assigned to nobody

[2016-03-08 15:28] devhn commented on #3667
I'm seeing the same slow loading on local installation (both admin and frontend):

Hardware:
- 2x 2,4 GHz Quad-Core Xeon
- 16 GB DDR3
- SSD 1TB (90% disk free)

Setup (osx):
- Bitnami Mamp stack 7.0.3.0 (apache)
- PHP 7 and MySql 5.7
- Varnish

Some scripts are loading 20+ seconds. Only thing changed within apache are virtual hosts (added local domains).

[2016-03-08 15:43] RebeccaLTroth commented on #2564
@kandy This doesn't seem like a solution, more of a hacky work-around?

[2016-03-08 15:51] OleksiyOleksiyovych commented on #3509
I am sorry, but I have this issue too (Magento version 2.0.2)
Pardon, but I don't understand, will it fix on next release or I can fix it now?

[2016-03-08 15:51] mazhalai commented on #3685
Depending of what your role is, as an SI, or a merchant, or a contributing developer, you can deploy Magento in a [number of ways](http://devdocs.magento.com/guides/v2.0/install-gde/continue.html).

In this case, when using `composer create-project` Magento code base is in the vendor directory. But if you git clone, the file structure is different, which is what I suspect Bitnami is using. Git clo

[2016-03-08 15:51] #3685 closed, assigned to nobody

[2016-03-08 16:39] degaray commented on #3682
I agree on that, however, some already made third-party libraries use that principle and it can become handy for using such libraries.

[2016-03-08 17:10] okorshenko commented on #2919
@chat2vignesh , please, let us know if you still have an issue

[2016-03-08 17:12] okorshenko commented on #2932
@tinxit please let us know if you still have an issue.

[2016-03-08 17:13] okorshenko commented on #2935
@gitpramos could you please update issue description using the following format:

## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...

## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...

## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-03-08 17:15] okorshenko commented on #2938
@markoshust could you please update issue description using the following format:

## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...

## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...

## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-03-08 17:37] okorshenko commented on #3011
@dfediuk could you please update issue description using the following format:

## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...

## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...

## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-03-08 17:46] okorshenko commented on #3100
@dfediuk thank you reporting the issue. We will bump Magento version in develop branch after public release 2.1.0. We will consider your suggestion in a future

[2016-03-08 17:46] #3100 closed, assigned to nobody

[2016-03-08 17:50] okorshenko commented on #3116
@apychan thank you reporting the issue. Could you please update issue description using the following format:

## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...

## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...

## Actual result
1. [Example] Error message appears: "Cannot save quote".
2.

[2016-03-08 17:51] mazhalai commented on #3052
This is related to a ticket we are already working on: MAGETWO-49955

[2016-03-08 17:54] mazhalai commented on #3113
@mrcarl79 @thomasnordkvist There was a [technical bulletin released on Jan 28th](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_201-upgrade.html), which included fixes for upgrade. Can you please try the steps mentioned, according to how you deployed Magento2 initially.

[2016-03-08 17:55] mazhalai commented on #3123
@inkxe-ramendra any update?

[2016-03-08 20:24] okorshenko commented on #3174
@tkn98 thank you for your answer

[2016-03-08 20:24] #3174 closed, assigned to nobody

[2016-03-08 20:32] jibrandlr commented on #3671
I reopen the issue since it is present again after updating the installation with my catalog, images, theme, etc. This happens on a WAMP environment.
I tested the same installation in a linux virtual machine and the issue is not present.
It only happens in windows.

[2016-03-08 20:47] erikhansen opened #3692 "Add flag to silence dot output from setup:static-content:deploy"
I'm using Capistrano to deploy Magento 2 to production and stage environments. As a part of the deployment process, I'm running the `bin/magento setup:static-content:deploy` command. However since Capistrano streams all output to screen, I see this:

![capistrano](https://cloud.githubusercontent.com/assets/129031/13615734/6ab919aa-e53c-11e5-964e-ff164d48c20f.png)

So I've resorted to passing in th

[2016-03-08 20:48] erikhansen commented on #3692
@antonkril This feature request is a similar request to the one in issue #3038, so I'm pinging you so you're aware of it.

[2016-03-08 21:21] hshar7 commented on #3692
Hi @erikhansen thanks for reporting this, how is this problem not because of Capistrano? Because if I run this command on my machine I get dots next to each other instead of each one on a new line.
Also it is possible to do something like this (with the addition of new line character for you of course):
![Image](http://i.imgur.com/EAmZ4Mz.png)

[2016-03-08 21:35] jibrandlr commented on #3671
Update: Logo, icon images, etc.., are visible again when changing to English (United States) locale. If I change locale to Spanish (Mexico) those images dissapear.
When this installation was on a hosting server I could change between those locale settings with no problem. Now in my local installation, the issue is present when chosing locale Spanish.

[2016-03-08 21:37] mazhalai commented on #2915
@brendanmckeown thank you for reporting. We have merged a fix in the develop branch, hence closing this ticket. Please create a new ticket if issues still arise.

[2016-03-08 21:37] #2915 closed, assigned to nobody

[2016-03-08 21:38] mazhalai commented on #3200
@miguelbalparda We have merged a fix in the develop branch, hence closing this ticket. Please create a new ticket if issues still arise.

[2016-03-08 21:38] #3200 closed, assigned to nobody

[2016-03-08 21:38] mazhalai commented on #3092
@astorm We have merged a fix in the develop branch, hence closing this ticket. Please create a new ticket if issues still arise.

[2016-03-08 21:38] #3092 closed, assigned to nobody

[2016-03-08 21:39] mazhalai commented on #2797
@moleman thank you for reporting. We have merged a fix in the develop branch, hence closing this ticket. Please create a new ticket if issues still arise.

[2016-03-08 21:39] #2797 closed, assigned to nobody

[2016-03-08 22:22] whizkid79 commented on #2461
pong @dsikkema .

I expierence the same issue like @kassner when I enabled CSS minification in the backend. I did some debugging and found out that `\CSSmin::__construct` get handed a false normally. But if you run `bin/magento setup:di:compile` before `bin/magento setup:static-content:deploy` then `\CSSmin::__construct` is initialized with an instance of `Magento\Framework\ObjectManager\ObjectMan

[2016-03-08 22:44] astorm opened #3693 "Permissions Error When Running `bin/magento setup:upgrade`"
Re-opening  #3092.  That ticket was closed with

However, there was no link to the specific merged fix, which makes it impossible to verify if the issues was addressed, or even understood.

[2016-03-08 22:53] vrann commented on #3170
@keithbentrup Thanks for reporting, this looks like a bug in configuration.

[2016-03-08 22:58] vrann commented on #3177
@cgrechcw Thanks for reporting, it looks like a bug in Ui

[2016-03-08 23:01] vrann commented on #3180
@bbraspenning Thanks for reporting, seems like an issue in GoogleAnalytics or Categories service

[2016-03-08 23:05] vrann commented on #3193
@IceReaper Thanks for sharing! I believe these issues are captured and tracked under https://github.com/magento/magento2/issues/2412 and Magento team currently works on those.

I'm closing current issue because there is nothing required to be done, I hope it will be searchable anyway.

[2016-03-08 23:05] #3193 closed, assigned to nobody

[2016-03-08 23:08] vrann commented on #3196
@ifekaj Thanks for reporting. Can you please try it on latest release?

[2016-03-08 23:27] vrann commented on #3221
@dfediuk Thanks for reporting! Can you please create a pull request to fix it?

[2016-03-08 23:28] vrann commented on #3223
@ovdev1 Thanks for reporting! Can you please create pull request to fix it?

[2016-03-08 23:30] vrann commented on #3229
@jason-vivid Thanks for reporting! seems like a bug in sample data.

[2016-03-08 23:33] buskamuza commented on #3400
Internal ticket MAGETWO-49459

[2016-03-08 23:33] vrann commented on #3237
@gokhanayan From the screenshot it seems like Magento 1.x. Can you confirm that your question is about Magento 2?

[2016-03-08 23:39] vrann commented on #3246
@ilya0202 did the suggestion from @eddielau helped?

[2016-03-09 02:38] joebusby commented on #3509
@OleksiyOleksiyovych   2.0.2 is working for me with changes above.  I can't be sure what changes worked because I once it worked I don't want to experiment.
I changed to "Post" on the Paypal manager as described above and Paypal had to enable my account for "transparent redirect"  (not sure what they did really).  Other settings in "PayFlo Pro" can be configured with the help of PayPal if you need

[2016-03-09 05:56] gopalvenu033 opened #3694 "Display Color Swatches in Related Products Magento2"
How to display color swatches in related products on product view page in Magento2?

[2016-03-09 06:37] neran commented on #3680
Still the same without quotes:
{"product":{"sku":"13744-SG-H-CP23","name":"Handmade Safed Hanukah Candles - Bright Fire","price":13,"status":1,"attributeSetId":4,"options":[]}}

[2016-03-09 07:04] OleksiyOleksiyovych commented on #3509
Thank you!
"Cancel URL Method" and "Return URL Method" were set to "POST".
But "Enable Secure Token" was set to "No" by default. I changed to "Yes" and all works well for me now.

[2016-03-09 07:08] mc388 commented on #2915
Thanks for fixing this issue but would it even better if you realy gzip the file to minimize the file size? If you hold about 10 backups of a big database you waste disc storage and it is faster to transfer the backup to an other location.

[2016-03-09 07:15] marvincaspar opened #3695 "GZip database backup file"
Thanks for fixing the issue #2915 but would it even better if you realy gzip the database backup file to minimize the file size? If you hold >10 backups of a big database you waste disk storage and it is faster to transfer the backup to an other location.

[2016-03-09 07:24] balack opened #3696 "Magento 2.0 not update lifetime new order"
Im create new order in admin, but after creating, it's not update to list order.
Im record video demo: https://youtu.be/JZsTWV4eVQI
Can you help me, pls?

Thanks guy !

[2016-03-09 08:39] mcspronko commented on #3656
+1

[2016-03-09 08:45] spras commented on #3656
:+1:

[2016-03-09 09:02] zh99998 commented on #745
+1 for this request

[2016-03-09 09:11] schmengler commented on #3656
Isn't (1) basically what Magento 1 EE already does?

[2016-03-09 09:18] dvasconcelos commented on #3683
Hello,

It is the same thing with MAGE_PROFILER html. But only on some Ajax request :
System > Export > Select an Entity Type > Once the page is loaded, just before the HTML profiler, There is exactly the same error with Firebug.php class.

The problem is that the class Magento\Framework\Profiler\Driver\Standard\Output\Firebug.php uses the class Zend_Wildfire_Channel_HttpHeaders  which is part of

[2016-03-09 09:33] IvanChepurnyi commented on #3656
@schmengler Can you please elaborate on this? I don't understand how this can be the same as in EE 1.x?  You don't have combinable URL rewrites in any of the core version atm.

[2016-03-09 09:40] devhn commented on #2518
Any news on this?

[2016-03-09 10:13] sevos1984 commented on #3162
Still in progress

[2016-03-09 10:15] schmengler commented on #3656
What about Enterprise_Catalog_Model_Urlrewrite_Matcher_Product ? It splits the request path at the last "/" and looks up the parts separateley. AFAIK there are no combined values stored in the database.

[2016-03-09 10:16] MaximKitsenko opened #3697 "SOAP API returns wrong result"
By default WCF generated web service throws exception since qty tag is empty. Is it possible to return 0 if item is out of stock? I know that there is ability to avoid this issues, by editing service client manually, but it is annoying to change it for all such issues. Thanks
## Steps to reproduce
1. Create new Product with sku="TestSku1", with qty=0, Stock Availability=OutOfStock
2. Call soap met

[2016-03-09 10:25] stefandoorn opened #3698 "Cannot register label when region ID is blank"
In my case 'shipping/origin/region_id' in 'core_config_data' is blank. For NL we don't work with regions, even though we are in a region. We are not used to mention the region on any address information.

Basically this blocks the creation of a Label as vendor/magento/module-shipping/Model/Shipping/Labels.php at Line 125 requires a Region Code.

I think there are more countries where this applies

[2016-03-09 10:26] IceReaper opened #3699 "catalogrule_product and catalogrule_product_price tables repopulation causes auto_increment value out of range"
Got a single price rule which applies to several thousand articles without any filter, it simply applies to all products.
On each cronjob execution (1x per minute) the tables catalogrule_product and catalogrule_product_price are getting truncated and refilled resulting in an incredible fast expiration of the auto_increment value.
Every minute the cronjob removes all 13.000 and 37.056 entries and r

[2016-03-09 10:38] pivulic commented on #3170
We have the same issue with: http://www.vaimo.com/snaps/pablo.ivulic/acl-roles-not-working-with-minified.png

[2016-03-09 10:51] neelimabenapally opened #3700 "magento 2.0.2 adminpanel base url is different from frontend base url"
Hi there,
- I've installed magento CE 2.0.2(with language selected to English Ireland) and the installation was successful
- The css wasn't loading for frontend and backend so i ran the static content deploy command ( php bin/magento setup:static-content:deploy en_IE)
- The frontend css was loaded but the backend(admin panel) didn't load
- When I checked for the source codes the frontend base url(

[2016-03-09 10:54] alena-marchenko commented on #3681
Hi,
Please  enable debug for Authorize.net and provide us with magento debug logs, browser console error logs for us to be able to investigate the issue.

[2016-03-09 11:10] IvanChepurnyi commented on #3656
@schmengler Sorry, my fault that I didn't check if EE has something similar in 1.x branch. Seems there are some nice improvements in it. Just checked it, and true there is kind of a similar approach, but not exactly what I am talking about here.

My proposal is to create chained URL rewrite processors with priorities, that are decoupled from each other:
1. Full request processor that will match th

[2016-03-09 11:21] aswaniachu commented on #3689
i hav also the same issue

[2016-03-09 12:12] wojtekn commented on #3628
@Vinai thanks, I understand your point, however it still may make sense to have these configs unified.

[2016-03-09 12:18] dssjignesh opened #3702 "GRID NOT WORKING"
i have created admin module on my localhost its working fine but as i have uploaded server its not showing GRID

[2016-03-09 12:33] miller-nicholas opened #3703 "Frontend Login Post Page"
## Steps to reproduce
1. Install Magento from Release Archive
2. go directly on this page .. customer/account/loginPost/
## Actual result

Warning: array_key_exists() expects parameter 2 to be array, null given in ... /vendor/magento/module-captcha/Observer/CheckUserLoginObserver.php on line 80

[2016-03-09 12:43] m-strojek commented on #3676
I figured out a modification which fixes the problem of endless redirects / wrong redirects.
Seems that the cookie value wins before the server value - so if you open some host which sets the store code to A but you have B as cookie value you will be redirected to store B.

Solution would be to override the cookie value in pub/index.php
if ( isset($_SERVER['MAGE_RUN_TYPE']) == 'store' && isset($_S

[2016-03-09 12:45] MomotenkoNatalia commented on #3220
I close the issue for now. If you have further question to this issue please feel free to reopen

[2016-03-09 12:45] #3220 closed, assigned to nobody

[2016-03-09 12:56] vkorotun commented on #3646
Hi @matthieusibille
Thank you for your question.
Please, check app/design/frontend/Magento/blank/etc/view.xml. There you'll find <exclude> section, in that section you may specify files or directories to be excluded from bundle(s) for corresponded theme.

Also, for the next Milestone backlog, we have a couple stories for improving default bundling strategy. Our goal will be to decrease size of bun

[2016-03-09 12:58] ginytaylor commented on #2316
hi,
I Set environment variable PATH of php.exe.
and It worked now.
Thanks geetanshrsoni,

[2016-03-09 12:58] shiftedreality commented on #3703
Hi @artmiller

Thank you for your submission. Internal ticket MAGETWO-50247 was created to resolve this bug.

[2016-03-09 13:14] NadiyaS commented on #3702
The GitHub issue tracker is intended for technical issues only.
There can be several causes of your problem: cache, not upgraded DB, wrong xml for your grid etc.
Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
Feel free to reopen this issue if you think you have encountered a bug in M

[2016-03-09 13:15] #3702 closed, assigned to nobody

[2016-03-09 13:23] antboiko commented on #3656
@IvanChepurnyi Hi Ivan, thank you for all proposals regarding URL rewrites.

Both "Internationalization Problem" and "Large Varchar Index Problem" definitely make sense. They both will be a subject for internal discussion and validation.

Regarding "Scalability Problem" proposal, this one was a part of EE 1.13.x. Currently we have few solutions to be considered for solving this.

Ivan, I will keep

[2016-03-09 13:36] zanilee commented on #3673
Hi, @bb8d!

Could you please provide steps to reproduce this issue: how exactly and where do you include your custom font?

[2016-03-09 13:40] alena-marchenko commented on #3516
Hi Matthew,

We've created MAGETWO-50249 internal ticket regarding this issue

[2016-03-09 13:44] mslabko commented on #2989
Hello @zamboni084 ,
Issue will be fixed in one of next patch release.

[2016-03-09 13:47] digitalpianism opened #3704 "Integer attribute values being cast to decimal in some very specific cases"
Everything you need to know is listed under this Magento Stack Exchange question: http://magento.stackexchange.com/questions/105244/magento-1-admin-product-grid-column-value-disappear-on-name-search/105421

Even though the question I asked was about Magento 1, it seems like this bug is still present in Magento 2 and I'm about to make a PR to fix it.

[2016-03-09 13:57] ddlawrence303 commented on #3541
I did the same way for myself
but it still stay and I just can't access to admin  {root_url}/admin_interface_url .......

[2016-03-09 14:21] IvanChepurnyi commented on #3656
@antboiko

Thanks for the official answer. There is something very important to consider when you read about scalability problem. Maybe I was not that clear in the description, but the combination processor is only tiny part of proposed solution. The whole Scalability solution goes far beyond category + product URL lookups. As at the moment (even with EE1.13.x) I cannot create request path match p

[2016-03-09 14:41] mazhalai commented on #3693
https://github.com/magento/magento2/commit/94ac1a63f0f4a8327f1c69b2f96e3f99c70d908d

The ticket number was missing from the title, so it did not auto link to issue.

[2016-03-09 14:52] mslabko commented on #3657
Hello @atishgoswami,
I've checked fix, that you provided - unfortunately it will not work for all cases. When target element on click event is “li” then it will be set empty array to responseList. I hope, that event.currentTarget can help to solve this issue for all cases.

It would be great if you create PR for this issue. To learn about how to make a contribution, click [here](http://devdocs.mag

[2016-03-09 14:53] mslabko commented on #3657
Internal ticket: MAGETWO-50184

[2016-03-09 15:00] GeromeF commented on #2908
Same problem for me running 2.0.2, no fix available at this time ??

[2016-03-09 15:11] alena-marchenko commented on #2904
Hi,
We've delivered https://github.com/magento/magento2/commit/e9e74ada55c9d287d86f322ec834a76161b5d8c6 code changes that might solve the issue with blocking by antivirus software to develop branch. Please verify if this solves the issue. If the issue still exists, please provide us with information regarding antivirus software used by customers for us to be able to investigate this further.

[2016-03-09 15:21] binhton commented on #3681
Here is the debug file.  I replaced the Name/Address/Phone to test info for privacy reason.
[debug.log.txt](https://github.com/magento/magento2/files/165447/debug.log.txt)

[2016-03-09 15:39] digitalpianism commented on #3704
Quick side note on how to quickly replicate the issue on Magento 2:

This is a quick dirty script I've created in order to show the problem on M2:

Create the following file: `/dev/tests/unit/test.php`:

[code]

When you run `phpunit test.php` from the `dev/tests/unit` folder, you will get the following result:

[code]

As you can see, without the `addAttributeToSelect('price')` call, the result i

[2016-03-09 15:44] stephangroen commented on #3307
We're having the same issue but our order is 'processing' and needs to get 'complete'. After creating the shipment, the shipment is visible at the order but the product in the order view itself is not marked as shipped. I have attached some screenshots to clarify.

![_000000013___orders___operations___sales___magento_admin](https://cloud.githubusercontent.com/assets/1607643/13640677/eeb840ee-e615-

[2016-03-09 16:17] antboiko commented on #3548
@RebeccaLTroth
Hi Rebecca, thanks for reporting this issue. We've created internal ticket MAGETWO-50270.

Best,
Anton.

[2016-03-09 16:20] mswaidan commented on #3516
Thanks @alena-marchenko . I noticed yesterday when I examined my bills that the negotiated rates are in fact being applied, they just don't show up on the package detail page the way other negotiated rates typically do. They are applied on the invoice from UPS. You can close the ticket. Thanks for the follow up!

[2016-03-09 16:24] vrann commented on #3692
@erikhansen Thanks for the suggestions. As far as it relates primarily to Capistrano, would you mind to create a Pull Request with the needed changes?

[2016-03-09 16:54] mujtaba2012 commented on #2628
Any info on when this fix is coming out?

[2016-03-09 16:56] mujtaba2012 commented on #3018
Hey @NadiyaS
Any updates on when the fix will be released?

[2016-03-09 17:01] erikhansen commented on #3692
@hshar7 Thanks for your suggestion of piping output through `tr` to remove the dots. I tried that and it doesn't work.

@vrann I could see this being useful for a broader audience than just Capistrano users. Unfortunately I don't have time to create a PR for it now. If you don't think this is likely to get added to the Magento 2 roadmap, then feel free to close this task.

[2016-03-09 17:10] mujtaba2012 commented on #3307
Same behaviour here while making POST v1/shipment call, the status of the order is not changing. Any news on this?

[2016-03-09 17:54] MomotenkoNatalia commented on #3366
@sandeepnetqual Please let us know if this helps.

[2016-03-09 18:02] buskamuza commented on #3320
Hi @mariarti ,
`var/composer_home` appears only when it is necessary (when Setup Application works with Composer).
You can add the folder manually, like `mkdir cd $basepath$baseurl/var/composer_home/ && cd $basepath$baseurl/var/composer_home/ ...`

[2016-03-09 18:03] vil11 commented on #3264
@dfediuk Dmitry, thanks for reporting the issue!

Check-boxes on the "create/edit CMS Block" Admin page are already styled, the same as for [CMS Pages](https://github.com/magento/magento2/issues/3226). Now it looks like this:
![no](https://cloud.githubusercontent.com/assets/5585456/13645086/e1d40d2e-e631-11e5-8967-987fcaa72d99.jpg)
![yes](https://cloud.githubusercontent.com/assets/5585456/13645090

[2016-03-09 18:23] anton-huz commented on #3575
I can agree that it could be _difficult_ to do some thing with cell. But currently it is _possible_ to do that from one module in other module's Grid. And it is possible to do it in _maintainable_ way.

Lets start with existed knowledge sources:
- a. [Example of Ui Form](https://github.com/magento/magento2-samples/tree/master/sample-module-form-uicomponent) in magento-samples. Not a Grid as you as

[2016-03-09 18:52] MomotenkoNatalia commented on #3538
@MichielTG Please let us know if this helps.

[2016-03-09 20:19] mariarti commented on #3320
Вопрос был как сделать это композером, а не костылями. я специально уточнил об этом в конце.
например как `composer config http-basic.repo.magento.com $PubKey $PriKey`

[2016-03-09 21:13] cesarkohl opened #3706 ".htaccess not downloaded"
Hi everyone,

Somehow my raw Magento clone was without the /.htaccess.
## Steps to reproduce
1. git clone this repository
2. followed the Wizard Setup
## Expected result
1. Access {magento root}/contact
## Actual result
1. {magento root}/contact returns "404 Not found"
## Solution
1. Downloaded the /.htaccess from this repository.
## Doubt
1. Somehow this file wasn't downloaded via git clone.

Bes

[2016-03-09 21:25] forgeonline opened #3707 "Backend Bootstrap JS form Key causing an error on json"
## Steps to reproduce
1. Create web api to manage POST to update database table.

API CURL works fine. But when Post data from magento backend, it's not updating the table

Curl command
<code>
curl -X POST -d '{"availabilityInformation":{"productid":3,"bookingdate":"10-03-2016","timefrom":"11:30","noofunits":"56","is_active":"0"}}' -H "Content-Type:application/json" http://mydomain.com/rest/V1/upd

[2016-03-09 21:35] daim2k5 commented on #3706
I tried to reproduce the error but both .htaccess files still exists after the setup via wizard. Have you tried again?

[2016-03-09 21:35] daim2k5 commented on #3706
Also maybe you can tell us a little bit more about your environment

[2016-03-09 21:37] alankent commented on #3220
Oh, one more source of reading data is now available - I just released a **personal** effort (evenings), a Kindle ebook on theme development tackling CSS, HTML, and basic JavaScript. See http://alankent.me/gsd/ for more details.

[2016-03-09 21:39] daim2k5 commented on #3695
Did you really think magento need to handle all the difficult backup topic? The next step is what happend if your Database ist 6-10 GB big ;-)

[2016-03-09 21:44] buskamuza commented on #3320
@mariarti , as I can see Composer is not able to create a directory for the `auth.json` file, though it creates the file itself. Maybe it would make more sense to ask the question in https://github.com/composer/composer , as you're asking a question about `composer` command?
Basing on what Composer can do, you should create the directory in advance.

If you want to make a feature request for Magen

[2016-03-09 21:45] daim2k5 commented on #3684
@bondimedical3 what happend when you change the base_url via admin backend?

[2016-03-09 21:51] daim2k5 commented on #3679
I tried to "truncate" the table and got a

Cannot truncate a table referenced in a foreign key constraint (`magento2`.`catalog_url_rewrite_product_category`, CONSTRAINT `FK_BB79E64705D7F17FE181F23144528FC8` FOREIGN KEY (`url_rewrite_id`) REFERENCES `magento2`.`url_rewrite` (`url_rewrite_id`))

What was wrong with the URL's in the database?

[2016-03-09 21:56] daim2k5 commented on #3667
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [Hosting & Performance](https://community.magento.com/t5/Hosting-Performance/bd-p/Hosting-Performance) is likely the most appropriate. Feel free to reopen

[2016-03-09 21:56] #3667 closed, assigned to nobody

[2016-03-09 22:13] bondimedical3 commented on #3684
This is a development site and it is not possible to update the base url via Admin as it redirects to the live website which is not Magento. There is also a thread on the issue. http://magento.stackexchange.com/questions/87038/magento-2-error-404-not-found-at-magento-2-admin-login-page

[2016-03-09 22:27] mariarti commented on #3320
Why it so complicated? Especially if developers invent this "easy" way for "convenience".
Yes, i would be very appreciate if Magento developers could make this feature as option _during installing sample data only_ (and may be some how check if keys already exists)
It is bad idea to make things before thinking about how easy to use it. (this game with keys was absent in beta).

Composer developers

[2016-03-09 22:29] FayKay commented on #1299
Hey,
the solution  tungmpo provided works like a charm !!!! Thank you
But i am seem to experience an other issue with the cron job.
I get an error that says :One or more indexers are invalid. Make sure your Magento cron job is running.
Since i am new to magento can somebody provide me with a step by step guide of how to fix this ?
I am trying 2 days and still nothing.
I don't understand how to run

[2016-03-10 06:26] bondimedical3 commented on #2855
I have the same problem. Cron is set to run every minute and indexes are set to update on schedule but my products did not appear until I ran the indexer by SSH?

[2016-03-10 06:32] ipragmatechadmin opened #3709 "No REST API call for Setting payment Gateway Transaction"
We are trying to build the generic android mobile app which can be used by magento 2 owners using REST API for Magento2 and have implemented the basic features for the app. As most of the people uses paypal for the payment gateway, we planned to use the paypal Android SDK for our mobile app but the problem is that we are not able to find the REST API to submit the transactionId or PaymentId to mag

[2016-03-10 07:10] bondimedical3 commented on #2855
I am finding the same problem. If you add a new product it does not show. If you run cron by SSH it's supposed to reindex data when it is set to update on schedule and make the product show. It's only when you reindex by SSH the product will show.

[2016-03-10 07:43] PingusPepan commented on #3497
I'm having the same problem. Clean install is fine but after I went through the Magento Migration, this error started to appear. Disabling the chart helps.

[2016-03-10 07:59] marvincaspar commented on #3695
Magento don't need to handle all difficult backup topics but a text file is a great example for compress.

[2016-03-10 08:04] erikhansen commented on #3060
+1 for fixing this issue. I just experienced the problem with failures not returning a non-zero return code. I am using Capistrano to deploy to stage/production servers. I run `bin/magento setup:static-content:deploy -q` as a part of my deployment process. I ran into an issue where there was a LESS compilation error, but since the return code was 0, Capistrano continued with the deployment. This r

[2016-03-10 08:13] badcrc opened #3710 "Problem compiling CSS - ParseError"
Hello,

I'm trying to do a fresh install of Magento2 (Magento-CE-2.0.2-2016-01-28-02-26-45 exactly) and the installation seems to work (I've tried bot web based installation and console one), everything is OK and gets installed but I got no CSS. The styles-m.css, styles-l.css and print.css aren't being generated and I get a 404 error.

I've tried generating it manually and I get a error compiling

[2016-03-10 08:28] badcrc commented on #3710
I just tried to install the development branch from github + dependencies with composer and got the same error.

![captura de pantalla 2016-03-10 a las 09 27 26](https://cloud.githubusercontent.com/assets/663985/13663556/7f6b5a2c-e6a2-11e5-94da-383d9fd512d9.png)

[2016-03-10 08:35] erikhansen commented on #3060
@Magento - I did some digging into this, and it looks like what needs to happen is that the `execute` methods (that use the Symfony Console library) need to return "1" when there is an error. This isn't documented in the Symfony documentation, but you can see an example of it on this page: http://fideloper.com/laravel-symfony-console-commands-stderr

So if you search for all instances of `$output-

[2016-03-10 08:37] ishakhsuvarov commented on #3513
@ljrweb Thank you for reporting this issue, we have created an internal ticket `MAGETWO-50290` to investigate the scenario with the parameters you provided.

Problems of this kind usually happen when fixture generator fails and generates insufficient fixtures, please check that profile generation was successful and you have enough registered customers for every thread started, otherwise scenario w

[2016-03-10 08:38] katmoon commented on #3675
Hi @LouNik1984

What are indexers statuses in `indexer_state` table in the database?
What are the statuses after you run `bin/magento cron:run; bin/magento cron:run; bin/magento indexer:status` ?
Does Index Management page still display 'Reindex required'?

Thanks,
Kateryna.

[2016-03-10 08:42] tdgroot commented on #3193
Created a simple bash script which gets loaded in `.bashrc`. Thought I'd share it here..

[code]

[2016-03-10 08:54] katmoon commented on #2908
Hi @GeromeF

I think the issue should be fixed approximately within a month.

[2016-03-10 08:58] erikhansen commented on #3693
@astorm - Thanks for re-opening the ticket as I too was wanting to see the related commit.

@mazhalai - There are still situations in which the "Missing write permissions to the following directories" error will occur. The current error message is generic and doesn't provide the user with any information to troubleshoot the issue. It would be nice if the error message could include the path that w

[2016-03-10 09:08] antboiko commented on #3575
@stasleo

Hi Stanislav, thank you for providing your feedback on grids. Please let me comment every item:
**For the 1st and 2nd:**:
_Yes, I agree that currently Product Grid lacks some functionality in comparison to CMS Pages grid or Customers grid. This update is acknowledged and it's in our backlog_
**For the 3rd**:
_I mostly agree. Bulk actions dropdown behavior will be revised_
**For the 4th**

[2016-03-10 09:11] #2757 closed, assigned to nobody

[2016-03-10 09:11] daim2k5 commented on #2757
Thanks @arkadiych

[2016-03-10 09:15] atishgoswami commented on #3657
Hi @mslabko

Can you explain me the test cases, what scenarios to consider ?

Thanks

[2016-03-10 09:24] NadiyaS commented on #3307
Hi guys,
thanks for reporting this issue.
Internal ticket was created MAGETWO-50299.

[2016-03-10 09:31] ericahoekerd commented on #2932
wow! This works now! Strange work around altough :-)

[2016-03-10 09:33] ericahoekerd commented on #2861
when will the 2.0.3 released? We have a lot of customers waiting to start with Magento 2.0 but now we recommend them to wait until this is fixed. Otherwise all the orders cannot be shipped to the right address

[2016-03-10 10:02] sdzhepa commented on #3594
@parekhreena  Thank you for reporting this issue. We have created an internal ticket `MAGETWO-50296` to fix the problem.

[2016-03-10 10:07] parekhreena commented on #3594
@sdzhepa  - Thank you

[2016-03-10 10:08] kanduvisla opened #3711 "Readiness check states that var directory is not writable"
I try to install i fresh copy of Magento 2.0.2
- Server: Nginx 1.8.1
- PHP 7.0.4

When running the readiness check, it states that the `var`-directory is not writable, although it's set to `777` permissions. The strange thing is that `app/etc`, `pub/media` and `pub/static` are set with the same rights and they pass the test.

[2016-03-10 10:10] LouNik1984 commented on #3675
Hi,
I cannot have cron running on my local environments, I only acitvate it when I upload my site on remote servers, that's why I tried to index manually through cli. After indexing from cli, indexer:status shows me that every index is 'ready' but when I go to backend, the indexes are still red (=invalid) and the message 'reindex required' is still displayed. If I check the table indexer_state, th

[2016-03-10 10:14] #3013 closed, assigned to voleye

[2016-03-10 10:19] vzabaznov commented on #3009
Thank for reporting.
Issue was ported to develop branch
@malaiselvan if you feel that  your issue has not been resolved, you can either leave a comment  or open a new GitHub issue.

[2016-03-10 10:19] #3009 closed, assigned to voleye

[2016-03-10 10:19] #3516 closed, assigned to alena-marchenko

[2016-03-10 10:25] mrkhoa99 commented on #3711
@kanduvisla you set owner ship: http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-03-10 10:27] tushar4monto opened #3712 "Designing issue in magento sit"
Hello
I found one issue in your site page http://devdocs.magento.com/guides/v2.0/comp-mgr/bk-compman-upgrade-guide.html in this code
 <li class="leaf"><a href="/guides/v2.0/mtf/mtf_introduction.html">Magento Testing Framework Guide</a></li><li class="leaf"><a href="/guides/v2.0/pattern-library/bk-pattern.html">Magento Admin Pattern Library</a></li><div class="divider"></div></li>
Here last </li> d

[2016-03-10 10:32] vzabaznov commented on #2839
Seems like it cannot be reproduced on current develop branch
@ravinders-121 fell free to write comment, or open a new GitHub issue if you feel that issue has not been resolved

[2016-03-10 10:32] #2839 closed, assigned to voleye

[2016-03-10 10:34] vzabaznov commented on #2592
@bartdelvaux thanks for reporting, our functionality has been changed and bug cannot be reproduced
Fell free to write comment, or open a new GitHub issue if you feel that issue has not been resolved

[2016-03-10 10:34] #2592 closed, assigned to voleye

[2016-03-10 10:36] vzabaznov commented on #2568
@robbiereynolds  thanks for reporting..
Fell free to write comment, or open a new GitHub issue if you feel that issue has not been resolved

[2016-03-10 10:36] #2568 closed, assigned to nobody

[2016-03-10 10:37] vzabaznov commented on #2557
@x-mago  thanks for reporting, our functionality has been changed and bug cannot be reproduced
Fell free to write comment, or open a new GitHub issue if you feel that issue has not been resolved

[2016-03-10 10:37] #2557 closed, assigned to voleye

[2016-03-10 10:38] rahulvramesh commented on #2944
Worked For Me In Another Browser /  Private Window .

[2016-03-10 10:38] vzabaznov commented on #2435
@yeedavid  thanks for reporting, our functionality has been changed and bug cannot be reproduced
Fell free to write comment, or open a new GitHub issue if you feel that issue has not been resolved

[2016-03-10 10:38] #2435 closed, assigned to voleye

[2016-03-10 10:40] vzabaznov commented on #2858
@imbrj  thanks for reporting, our functionality has been changed and bug cannot be reproduced
Fell free to write comment, or open a new GitHub issue if you feel that issue has not been resolved

[2016-03-10 10:40] #2858 closed, assigned to voleye

[2016-03-10 10:41] homecoded commented on #2617
Thanks for picking this up @whizkid79 !!

[2016-03-10 10:42] kanduvisla commented on #3711
A got it! I mounted my Nginx configuration to the wrong folder in vagrant. I had mounted it to `/vagrant/public`, but my PuPHPet configuration had set the permissions to `/var/www/public` which is basically a link to the same target, only with a different user/group.

[2016-03-10 10:42] #3711 closed, assigned to nobody

[2016-03-10 10:48] alena-marchenko commented on #3681
The log file file doesn't contain response from Authorize.net. Please enable dev tools in your browser and provide us with browser console errors if any and observe requests to Authorize.net for errors in response in browser Network section.

[2016-03-10 10:59] rahulvramesh commented on #2614
thanks it worked

[2016-03-10 11:12] GreenWorldTrad opened #3713 "CSS Issue mobile; broken content blocks, orange box next to cart"
Hello all, after some significant wrestling with our server we have managed to install magento 2, backend is working perfectly, frontend is giving a couple of issues which I shall detail here.

Our server is running Apache/2.4.18 and php7; we finally got it installed using the composer. Recompiled all libraries, double-checked permissions, etc, after installing sample data.

Nonetheless, we are ru

[2016-03-10 11:29] woei66 commented on #3464
When Magento's set to production mode, it will not generate these classes. Before you deploy to production mode, you need to run the command line
$ php bin/magento setup:di:compile
command. This will automatically create any file you need in
var/generation

ways to fix this problem

php bin/magento setup:di:compile
php bin/magento indexer:reindex
php bin/magento cache:flush
php bin/magento cache:c

[2016-03-10 11:33] TangLiang opened #3714 "magento 2.0.2 when in product grid page and order grid page show Uncaught Error: Script error for: rjsResolver"
## Steps to reproduce
1. Download Magento2.0.2 from magento website.
2. Environment is centos 7 LNMP+Varnish.run in production mode
   3.After run magento setup:static-content:deploy everything go fine but when i go backend to check orders and products page was blocked,the loading gif is run again and again.
   Error show below:

http://www.xxx.com/static/adminhtml/Magento/backend/en_US/rjsResolve

[2016-03-10 11:35] vzabaznov commented on #2587
@duerstd thank you for reporting, internal tickets MAGETWO-50276 was created

[2016-03-10 11:48] rohitgupta4 commented on #3307
@NadiyaS Just wanted to inform you that per my conversation with another team member of yours (Maura), this issue is also being tracked by MAGETWO-48530 ticket. Pls link both the tickets as applicable.

[2016-03-10 12:10] kmlav commented on #2587
here is the response from Magento enterprise support
**
My developer replied that both issues will be fixed in an upcoming Core code release.
Therefore, merchant has to wait until it is released.

I do not have an ETA on when the core upgrade version will be released, nor what version will have this fix.

I apologize that I am unable to obtain a patch fix for your issues and that you will have to

[2016-03-10 12:39] sjauck opened #3715 "Error in Tests unit"
Hello i try to run the Unit Tests shipped in Magento 2.0.2.
If i try to get the coverage report i get always the error message
`Trying to @cover or @use not existing method "\Magento\Setup\Controller\Marketplace::removeAuthAction".
`
I use
./vendor/phpunit/phpunit/phpunit -c dev/tests/unit/phpunit.xml.dist --coverage-clover ".report.xml"

Is there a bug in the Tests or i have something missed?

[2016-03-10 13:04] ishakhsuvarov commented on #3713
@GreenWorldTrad Thank you for reporting these issues.

Fix for this issue is already available in the `develop` branch and will be available in the future releases. You may use [commit](https://github.com/magento/magento2/commit/eec3cf17bc5deae71c83c797d1339de46cf6905f) `eec3cf1` as a hotfix.

[2016-03-10 13:24] antonkril commented on #3682
It's always a good practice to use adapters for third-party system interfaces to allow implementation substitutions and made upgrades easier.

[2016-03-10 13:33] sammyhq opened #3716 "Magento sitemap.xml listing is different from the canonical url"
## **Steps to reproduce**
1. Install Magento 2.0.2 from zip archive.
2. Set Use Canonical Link Meta Tag to Yes for products and categories
3. Generate Sitemap.xml file.
## **Expected result**
1. I want to make sure that Sitemap contains canonical URLs
## **Actual result**

1.the problem is in Magento's default sitemap.xml, it is taking a lot of *_non-canonical *_ product urls:
For example,:
<url><

[2016-03-10 13:34] cesarkohl commented on #3706
Hi,

I did the same proccess and fortunately it worked fine. Yesterday, probably I copied and pasted all the files in the folder to another empty folder but the hidden files weren't included in it.

Thanks for the help!

[2016-03-10 13:35] imbhupendra41 commented on #2858
Hello @vzabaznov
Please find the issue and solution for the same in below URL
http://magento.stackexchange.com/questions/95619/create-product-image-attribute-in-magento2

[2016-03-10 13:58] MomotenkoNatalia commented on #3260
@mayhem-ahmad do you still have this issue?

[2016-03-10 14:00] MomotenkoNatalia commented on #3278
@thor777 do you still have this issue?

[2016-03-10 14:03] ishakhsuvarov commented on #3706
@cesarkohl Looks like your issue is resolved. Closing this ticket for now. Please feel free to reopen if the issue persists.

[2016-03-10 14:03] #3706 closed, assigned to nobody

[2016-03-10 14:09] SilvanLaroo opened #3717 "subtotal_incl_tax returns subtotal_excl_tax in minicart.phtml"
Hi,

I'm trying to show both prices including and excluding tax in minicart.phtml, but cart().subtotal_incl_tax returns the same amount as cart().subtotal_excl_tax. Tax is correctly setup, it shows the right amounts on the cart page.
## Steps to reproduce
1. Install Magento 2.0.2
2. To debug I added an console.log(this) in the file vendor/magento/module-checkout/view/frontend/web/js/view/minicart.

[2016-03-10 14:10] vzabaznov commented on #2858
Hi @imbrj , thank you for reporting
Our product page had a lot of changes last months, could you please provide the hash of commit where you got this issue, and try to reproduce this problem on latest magento version.

[2016-03-10 14:14] MomotenkoNatalia commented on #3447
@dav1dian Please let us know if this helps.

[2016-03-10 14:26] mazhalai commented on #3714
@TangLiang have you setup up [magento user](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html) and checked if file permissions are as [recommended](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html)?

[2016-03-10 14:28] mazhalai commented on #3715
I think there is a problem in running phpunit with the coverage option. Have you tried running without it?
It runs fine on travis: https://travis-ci.org/magento/magento2/jobs/114887738

[2016-03-10 14:30] shiftedreality commented on #3356
Hi @cescopag

You provided correct way with **action method**
Looks like mistake in public docs

[2016-03-10 14:36] MomotenkoNatalia commented on #2737
As there are no new updates from reporter, issue can be closed.

[2016-03-10 14:36] #2737 closed, assigned to nobody

[2016-03-10 14:38] #2316 closed

[2016-03-10 14:42] knidie opened #3718 "how to config magento2 send emails use postfix"
how to config magento2 send emails use postfix? it is possible?

[2016-03-10 14:45] spotlerbob opened #3719 "Rest api: /V1/store/websites is reachable without a valid customer key/secret"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Do a call to the /rest/V1/store/websites with a non empty Consumer key, Consumer key secret, Access token and Access token secret
## Expected result
1. 401 status code
## Actual result
1. Get a 200 status code and the list of available websites

[2016-03-10 14:54] Bbbrinks commented on #3719
I have the same issue even with empty tokens

[2016-03-10 16:33] tkn98 opened #3720 "Fulltext CatalogSearch update deletes from non-existent table(s)"
Occasionally. Triggered in integration tests after adding a new store programmatically.

Error message then is:

Background:

`\Magento\CatalogSearch\Model\Indexer\Fulltext::execute()` will do

`\Magento\CatalogSearch\Model\Indexer\IndexerHandler::deleteIndex()`

and that one does not check if the table is there already or not.

if it's not there, it will fail (see errors above).

as the table is

[2016-03-10 17:01] GreenWorldTrad commented on #3713
@ishakhsuvarov
Thanks for the tip. We are going to try this and report back. Hope to close the ticket if it works. Strangely, the orange box disappeared on its own.

I also must add that the mobile menu is not working correctly either, when you expand it on mobile it does not close properly. If I see that it is still not working after the commit you mention I shall either open a new thread or add

[2016-03-10 17:50] eug123 commented on #3288
Internal ticket MAGETWO-48840 created

Thank you

[2016-03-10 18:17] ksz2013 commented on #3288
Hi

Thanks Alan, i will give it try.

[2016-03-10 18:58] jaimestuardo opened #3722 ""Disable Modules Output" page does not show correct status in dropdown"
When I disable a module output, it is actually disabled, however, the "Disable Modules Output" page does not reflect the change.

That causes that every time I want to disable a module output, I need to disable again modules I have disabled before.

Regards
Jaime

[2016-03-10 19:47] MomotenkoNatalia commented on #2708
@erikhansen  Internal ticket MAGETWO-46924 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-10 19:47] #2708 closed, assigned to ishakhsuvarov

[2016-03-10 19:51] MomotenkoNatalia commented on #3168
@tinogo Internal ticket MAGETWO-47608 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-10 19:51] #3168 closed, assigned to MomotenkoNatalia

[2016-03-10 20:37] buskamuza commented on #3320
Composer supports `--file` option, which allows to create/update a config file in arbitrary location. This is exactly what is needed for this case.

[2016-03-10 21:21] okorshenko commented on #3273
@sadeeshmca thank you for reporting the issue. Could you please update issue description using the following template:

## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...

## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...

## Actual result
1. [Example] Error message appears: "Cannot save qu

[2016-03-10 22:07] pconHinrichs opened #3723 "Missing .htaccess Files"
I've tryed the last 3 days to install Magento2 on my Webserver.

CentOS with Plesk
PHP7 and PHP5.6
MySQL5.6 (MariaDB 10)

I'll do all with the Guide: http://devdocs.magento.com/guides/v2.0/install-gde/install/web/install-web.html
After the installation I fixed the .css and .js issues with this Guide: http://magento.stackexchange.com/a/96569
And after that, the Backend worked but in the Frontend I

[2016-03-10 22:15] tvlooy commented on #2130
Tested on the i and the PR fixes this issue.

[2016-03-10 22:19] Vinai commented on #3715
Yes, seems like it's a bug.
The following tests have the wrong `@covers` annotation:

[code]

The wrong covers annotation is

[code]

The correct annotation would be

[code]

[2016-03-10 22:21] forgeonline opened #3724 "Can not Overwrite Core Blocks In Custom Modules"
## Steps to reproduce
1. Had to add extra table after sales order item for our Booking Module
2. Tried to overwrite sales_order_item_renderers.xml from my module
## Expected result
1. After the block override, user should be able to view booking times with new participants details directly below the item purchased
## Easy fix
1. This issue is due to this line in sales_order_item_renderers.xml

[co

[2016-03-11 00:37] salelsol opened #3726 "Prducts and Category url suffix duplicate slash and .html"
I can´t manage propertly products and categories url´s. When I save a product and go to table url rewrite are all url´s are wrong. Duplicate suffix .html and slash " / "
![product_url_suffix](https://cloud.githubusercontent.com/assets/16081377/13689514/a8fc4496-e729-11e5-9172-9939ce024e88.jpg)

[2016-03-11 04:29] ortega-io commented on #2878
Is there a workaround or patch to fix this until a new version is released? Could someone please point me to the files involved on the issue and the modifications needed to solve it?

[2016-03-11 04:30] ortega-io commented on #2878
@alena-marchenko  Could you please point me to the commit that fix the issue? I really need a patch for this. I will be in debt.

[2016-03-11 05:21] sjauck commented on #3715
Hi.

Yes i tried without coverage and they run to the end.
I tried the current Github Code after posting and it run with coverage.

**EDIT:**
The Development Branch die at 17% with
Trying to @cover or @use not existing method "\Magento\CatalogUrlRewrite\Observer\AfterImportDataObserver::afterImportData".

[2016-03-11 06:18] utpalmaity opened #3727 "Magento2 REST API with XML data is not working during inventory upload"
I am building an application which is using Magento REST API for exchanging data and I am using XML for transferring data. But during posting data in XML format I am getting an error "stock item field is required".For inventory upload I am using PUT method and URL for hitting API is like this.

http://myhost.com/Individual/XXX/magento2/index.php/rest/V1/products/Stock/stockItems/2

and XML data I

[2016-03-11 06:41] gopalvenu033 commented on #3689
This issue is only in Magento2.0.1 and not in Magento2.0.2

[2016-03-11 06:52] hellozach commented on #2752
Any fixes for this yet? Trying to solve this for way too long now.

[2016-03-11 07:19] karanbhomiagit commented on #2861
Hey guys, any ETA for 2.0.3 patch to be released?

[2016-03-11 07:20] karanbhomiagit commented on #2628
Hi @NadiyaS
Any ETA on this bug fix to be released?

[2016-03-11 07:26] TangLiang commented on #3714
@mazhalai

Yes,my environment is LNMP+magento 2.0 lastest developer mode.
1,the web server user is www groud is www
2,I adduser magento,and create a strong passwd.
3,usermod -g www magento.
4,cd /home/wwwroot/xxxx.com/(magento root folder)
5,chown -R magento:www ./
6,find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod 660 {} \; && chmod u+x bin/magento

After i did above,i can insta

[2016-03-11 07:53] marvincaspar opened #3728 ""Go to Checkout" button not working with grouped products"
After I added a grouped product to the cart the pop up overview is broken and the "Go to Checkout" button is not working.
## Steps to reproduce
1. Install Magento v2.0.2
2. Add grouped product to the cart.
3. Click "Go to Checkout" in pop up window
## Expected result
1. Grouped product is visible in pop up
2. Button "Go to Checkout" is working
## Actual result
1. Button is not working in pop up bu

[2016-03-11 08:01] ishakhsuvarov commented on #3713
@GreenWorldTrad

That could happen. The fix above eliminates this random behaviour.

[2016-03-11 08:17] woei66 commented on #2881
a little strange
I installed 2 machines with different domain name
I installed both following the magento2 guideline.
one is ok
the other will raise the loop issue when I access the admin page
I google and found this issue could be solved by adding "fastcgi_param  HTTPS            on;" to /etc/nginx/fastcgi_params

But be carefully, when I add the line to the first "ok" server, it will fail.
I don

[2016-03-11 08:20] woei66 commented on #2881
the ok server is using AWS China
the bad server is using AWS Oregon

[2016-03-11 08:40] ishakhsuvarov commented on #3728
@mc388 Thank you for reporting this issue. We have tried but could not reproduce the result you described.
Could you please check if you have any errors in the browser console?
Thank you.

[2016-03-11 08:42] ishakhsuvarov commented on #3717
@SLv99 Could you please let us know which tax setting you are using?
Thank you.

[2016-03-11 08:44] dkvashninbay commented on #2878
@ortega-io https://github.com/magento/magento2/commit/32ca5c97304a1bd84cfbee7cec3d57c9307da9a6

[2016-03-11 09:03] marvincaspar commented on #3728
Browser console didn't show any errors. I also flushed the cache but the same issue. You can see on the screenshot that the product is not show in the pop up window.

I'm using the magento 2 sample data.

[2016-03-11 09:09] ishakhsuvarov commented on #3728
@mc388 Thank you for additional information. We are going to recheck it with sample data.

[2016-03-11 09:46] OleksiyOleksiyovych opened #3729 "Payment information does not save"
## Steps to reproduce
1. Install Magento from `master` branch. Version 2.0.2
2. Go to Store - Configuration - Sales - Payment Methods
3. Configure PayPal PayFlow Pro
4. Start create order process
## Expected result
1. Validate credit card number before request to PayPal.
2. Save information cc_exp_month and cc_exp_year in 'sales_order_payment' table
## Actual result
1. can enter any chapters into

[2016-03-11 10:12] duhon commented on #3657
Hi @atishgoswami

![selection_002](https://cloud.githubusercontent.com/assets/124924/13699232/c29ceea2-e781-11e5-8d97-396ca292102f.png)

if click red area the script works incorect

[2016-03-11 10:18] giacmir opened #3730 "ImportExport module: can't add custom file adapter"
I tried to add a custom file format to the import and/or to override the default csv adapter and saw that the adapter is chosen in Magento\ImportExport\Model\Import\Adapter.

The problem is that the factory method present in that class is not a real Magento2 factory, so it can't be injected.

In general it seems that quite all the module is ported from Magento 1 and therefore is not expandable wit

[2016-03-11 10:23] OleksiyOleksiyovych commented on #3729
I have tried on develop branch and cc_exp_month and cc_exp_year saved well.
But credit card field does not validate
https://www.dropbox.com/s/gj9inu4jdcvuv65/Screenshot%202016-03-11%2012.16.30.png

[2016-03-11 10:24] knidie commented on #3718
hi what is ps label mean?

[2016-03-11 10:57] ishakhsuvarov commented on #3728
@mc388 Checked with the items from Sample Data. This problem only happens when Grouped Product consists of Products with visibility setting **"Not Visible Individually"**. We have created an internal ticket `MAGETWO-50368` to fix the issue.

Thank you.

[2016-03-11 11:49] tzyganu commented on #719
I have a hunch nobody is going to refactor most of the blocks to support this. Feel free to close this issue and everyone should deal with this problem punctually when needed.

[2016-03-11 12:03] polyakovao opened #3731 "onclick actions in magento 2"
Hi, I have
`<a href="#" class="my_action_upgrade">Add caption to db</a>`
in my templates/test.phtml file
and
`public function upgrade() { ... }`
in my block/test.php

when i'm calling
`
<?php  $block->upgrade(); ?>
`
in my test.phtml it works fine, but i want my `upgrade()` function to work on click. How can i do it in magento 2 properly?

[2016-03-11 12:08] dav1dian commented on #3447
@MomotenkoNatalia @eug123
`@import '_styles.less';` - works!
Thank you very much, guys :)

[2016-03-11 12:32] TangLiang opened #3732 "How to get product 2.0 maxSaleQty on product view page"
Hi All,

I want to get magento 2.0 product maxSaleQty on product view page.How can i got that?

thanks

[2016-03-11 14:12] mazhalai commented on #3718
@knidie it is only for internal purposes. However, this is more of a question on "how to" and not a bug, so should be posted on the [community stack exchange](http://magento.stackexchange.com/).

[2016-03-11 14:12] #3718 closed, assigned to nobody

[2016-03-11 15:39] voleye commented on #2722
@techgh0st Thank you for your report. We have created a ticket "MAGETWO-50395" to track the progress of this issue.

[2016-03-11 15:57] Vinai opened #3736 "Clean up Action / AbstractAction / ActionInterface"
Magento 2 behaves inconsistently if a action controller does not extend `\Magento\Framework\App\Action\Action`, but instead directly implements `\Magento\Framework\App\ActionInterface`.

There are two key things that are missed if an action controller directly implements the interface as far as I can tell:
1. The `controller_action_predispatch*` and `controller_action_postdispatch*` events are not

[2016-03-11 16:01] voleye commented on #2593
Hi @Weltpixel, thank you for helping us make Magento better!

We have created internal "MAGETWO-50397" to track this.

[2016-03-11 16:03] okobchenko commented on #3348
@dfediuk We have investigated reported problem. Unused formal parameter was added for consistency between plugin and pluginized method. There is a convention requiring that "before" plugin receives subject (instance of pluginized object) and list of input parameter of pluginized method. Theoretically particular code can work with $methods argument removed, but this will decrease visibility of rela

[2016-03-11 16:12] ishakhsuvarov commented on #3348
@dfediuk Closing this issue for now. Please feel free to reopen if you have any additional questions.

[2016-03-11 16:12] #3348 closed, assigned to ishakhsuvarov

[2016-03-11 16:19] Vinai opened #3737 "Add missing methods to \Magento\Framework\App\Response\HttpInterface"
Would you be willing to evaluate a PR that adds the following methods to `\Magento\Framework\App\Response\HttpInterface`?
- `setHttpResponseCode`
- `setStatusHeader`
- `setHeader`
- `appendBody`
- `setBody`
- `setRedirect`
- `representJson`

@SchumacherFM opened the issue https://github.com/magento/magento2/issues/2038 where @antonkril correctly stated that these methods make no sense on the `\Mag

[2016-03-11 16:42] antonkril commented on #3737
These methods make sense on HttpInterface with its current design.

[2016-03-11 16:50] ortega-io commented on #2878
@dkvashninbay  Thank you so much! that solves it.

[2016-03-11 17:02] stefanpkc commented on #2561
Same issue here. Tried to go from default to production. Same error. Then I set it to developer. But now I can't go back to default or production. I'm stuck. I run it with PHP 7.0.4.

[2016-03-11 17:27] adrok opened #3738 "Error for search phrase "0""
## Steps to reproduce
1. Install Magento 2.0.2
2. Search query "0"
3. Error: Query quick_search_container does not exist

Example: http://magento2demo.firebearstudio.com/catalogsearch/result/?q=0

Solution:

File `vendor/magento/module-catalog-search/Model/ResourceModel/Fulltext/Collection.php`

replace
`if ($this->queryText) {`
to
`if ($this->queryText !== false) {`

[2016-03-11 17:38] ghost opened #3739 "404 on Admin after Data Migration."
## Hello GitHub!

I have installed Magento 2 was working fine until after Data Migration.
http://transpartswarehouse.net/magento2
I suspect that the front end is working but that I need to get to admin panel to change the theme.

This is where the **problem** arises.
http://transpartswarehouse.net/magento2/transadmin
is always redirected to:
https://transpartswarehouse.net/magento2/index.php/trans

[2016-03-11 19:04] atishgoswami commented on #3657
@duhon oooh ok thanks !!

[2016-03-12 00:48] rafaelstz commented on #3739
What data migration tool you use?

[2016-03-12 03:24] bondimedical3 opened #3742 "Web Setup Wizard"
How are you supposed to go from the Web Setup Wizard back to the Admin?

[2016-03-12 03:27] bondimedical3 commented on #3739
It's a bug. Some variable in the database is made wrong whenever you migrate.

[2016-03-12 03:29] vipin12117 opened #3743 "checkout is not working"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add Product to the cart.
3. go to checkout page - it show blank page

TypeError: window.checkout is undefined
autocomplete: window.checkout.autocomplete,

[2016-03-12 04:45] #2705 closed, assigned to joanhe

[2016-03-12 05:07] ghost commented on #3739
@rafaelstz I downloaded the tool via composer
@bondimedical3 I will try a fresh install?

[2016-03-12 06:15] bondimedical3 commented on #3739
I did a fresh install

[2016-03-12 09:12] vzabaznov commented on #3370
@AlexSeyFomin as @katmoon said bug cannot be reproduced on the fresh magento version, if you feel that bug is not fixed please leave us a message or reopen new issue, and provide hash of the commit you had that bug.

[2016-03-12 09:12] #3370 closed, assigned to nobody

[2016-03-12 09:14] katmoon commented on #3742
There should be links to Magento Admin and Magento Storefront after installation completes.

[2016-03-12 09:18] katmoon commented on #3346
I'm closing the ticket since there is no response for 2 weeks.
Please feel free to reopen if you have any questions.

[2016-03-12 09:18] #3346 closed, assigned to nobody

[2016-03-12 09:23] katmoon commented on #3159
I'm closing the ticket since there is no response for 2 weeks.
Please feel free to reopen if you have any questions.

[2016-03-12 09:23] #3159 closed, assigned to kandy

[2016-03-12 09:24] katmoon commented on #3156
@Rajesh-Rathod  I'm closing the ticket since there is no response for more than 2 weeks.
Please feel free to reopen if you have any questions.