[2016-01-15 11:34] ostark commented on #2827
It looks like these patches tackle this session handler issue in PHP 7 core:
https://github.com/php/php-src/blob/PHP-7.0/NEWS#L46

[2016-01-15 12:47] kuldeepdaffodil opened #2999 "Magento 2 running very slow on local envirement"
Hi

I am using magento 2 and found admin , frontend loading is very slow after disable cache . Additionally jQuery is not working in default luma theme for custom features .

[2016-01-15 12:52] anton-huz commented on #1731
Hi David,

You _can_ put custom  .js file on the page via layout. This example correct from technical point of view:

[code]

But it will be loaded on _every_ page inside area.

Main question: what do you want to do in JS file?
Common task is to manipulate with Html node or communicate with other widgets.
In first case it handy to use jQuery -> so you should list it in own dependencies.
In second

[2016-01-15 13:21] dmitrii-fediuk opened #3000 "Frontend product view undesirable wraps the 5-digit prices with a space as a thousand separator"
![](https://mage2.pro/uploads/default/original/1X/4acb6069aab2122d354b744fbb90cde8a5214c2d.png)

[2016-01-15 13:43] magenx opened #3002 "Extra headers X-XSS-Protection, X-Frame-Options, Strict-Transport-Security, X-Content-Type-Options, etc"
X-XSS-Protection
X-Frame-Options
Strict-Transport-Security
X-Content-Type-Options

please remove these headers from magento core.
keep it only in server config, like htaccess httpd.conf and nginx

these headers must be set at server level not application...

[2016-01-15 14:46] Vincentguo1990 commented on #2960
Hi MomotenkoNatalia

Why do you use empty tags?
Because sometime I just need empty tags to show icons, background images or just occupy place.

Please add some description to the links, and just hide them using css properties to avoid problems with screen readers.
I do not think this is a good idea.

And it only support basic html tag, it remove/rename not recognised tags. It is not even support h

[2016-01-15 14:58] keithbentrup commented on #2461
We've experienced this issue, too. For those who need to work past it for now until the resolution is merged, we've manually set `$this->max_execution_time = 600;` in  vendor/tubalmartin/cssmin/cssmin.php (overwriting the hardcoded value of 60).

[2016-01-15 15:47] kandy commented on #1802
@biotech, I cannot reproduce issue in latest mainline, so I am closing this issue, as fixed. Feel free to open new issue if we missed anything.

[2016-01-15 15:47] #1802 closed

[2016-01-15 15:53] mazhalai commented on #2425
@grichards please start a new thread, with what exactly you tired and what didnt work?

[2016-01-15 16:03] ezequielalba commented on #2999
Got the same issue, installed a VM with kubuntu for work, and it is too slow, disabled cache of magento 2 as well.

[2016-01-15 16:33] mrtuvn commented on #2999
For linux enviroment i think it work faster than in window. Try to use minify js css or merge theme to one line for better performance. You should try varnish for cache instead default

[2016-01-15 16:44] hgpit commented on #2992
I would also like to see this.

[2016-01-15 16:49] Krapulat opened #3003 "Redirect loop admin page"
Hello,

I get a redirect loop in admin page when I install a second magento2 in my server (the first one works fine).
If I first visit the frontend page, then I can access to the admin page but I can’t login (no error, no message).

I access to them via different IPs, so they’re in separate domains.

[2016-01-15 16:59] pankaj-asp opened #3004 "Creating Custom/New theme is really confusing"
Hello All,

Is it me only or someone else also found creating new theme in Mag2 confusing?

I followed everything as shown in official docs but still not able to get a new/custom theme.

Is it advisable to copy paste Magento/Blank theme > to Mytheme/Blank-new, of-course I will change the name in theme.xml and registration.php?

 I need to make adjustment in header.phtml need to add some div, need

[2016-01-15 17:05] alankent commented on #3004
Not necessarily helpful right now, but I am working on a book for CSS/Less and HTML aspects of themes. It has lots of little working examples to copy. Probably 70% done. (This is s private after work project, I am guessing a month off release - but no guarantee.) Some of this is forcing internal discussions to get clearer external communication about the model of themes and less. I might try a blo

[2016-01-15 17:09] pankaj-asp commented on #3004
Thanks for reply @alankent still how should I create a new theme,the structure which is shared on internet is really confusing, just curious how come everybody is making new theme and I am messing with folders here :(

I was trying to override templates, I copied them into my theme folder, but they all are still coming from vendor folder.

is that normal?

[2016-01-15 17:26] alankent commented on #3004
Have you looked through https://github.com/magento/magento2-samples/tree/master/sample-module-theme?

But I have also found the trickiest thing myself to work out is the right path name to use in a module vs theme as they are a little different. I would love to see a debug flag or similar to show the exact list of paths tried to locate a file, just to make it a bit clearer. (Yes, I am chief archit

[2016-01-15 17:41] eddielau commented on #2305
@dfediuk We tried it and the "Delete File" button should show up after you click on an image. How did you get to this page? And what is the "storage configuration for media" under Stores > Configuration > Advanced > System?

[2016-01-15 17:42] vil11 commented on #2964
@stasleo, that's a good point indeed! I would really like to use the tablet with such long screen so that both Catalog & Layered Navigation become visible without swiping the view-port down =)

But it's not a UX issue, more looks like a functional one. I can observe the "2-columns" layout on iPad (just the same as on desktop), I suppose your tablet device is just a little bit more narrow & that's

[2016-01-15 17:51] acharrex commented on #2999
Magento MUST be fast!

At the moment, it is just impossible to develop on Magento without keep caches enabled.

[2016-01-15 17:58] GMPFashion commented on #2997
I have the very same issue. Magento Connect is not on the System > Extensions menu.

[2016-01-15 17:59] Krapulat commented on #3003
*SOLVED: It was varnish.

[2016-01-15 17:59] #3003 closed, assigned to nobody

[2016-01-15 18:09] tcmouse opened #3005 "proxy_­fcgi:­error when try to add new product with PHP7"
While saving the new product in admin, I am getting the  error Failed to read FastCGI header in the apache error logs was appending with PHP version 7.0.1 installed.

Show in the browser
Service Unavailable

The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

Show in the error log
[Fri Jan 15 09:10:23.705975 2016] [pro

[2016-01-15 18:28] alankent commented on #2999
For now, using Grunt is the fastest UI development approach. If you google "grunt magento 2" multiple blog posts come up. There is also our documentation at http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_mode.html#server-side-grunt if you have not seen it.

[2016-01-15 18:35] alankent commented on #2999
Reading back on this thread I am not sure if original question was for development vs production. I think some suggestions are good for development, other for production. Varnish is good for production. Grunt is best available for development if you are talking about CSS/Less etc.

[2016-01-15 18:46] ezequielalba commented on #2999
Ok, for theme customization, and for use of the CSS/Less the best way is by using Grunt? @alankent, i have a VM with a kubuntu ambient configured, so i have to install node.js too, if i follow the documentation of the devdocs.magento.com, am i right?

[2016-01-15 19:04] alankent commented on #2999
We try not to dictate tools for developers, but the answer to the most responsive "edit, test" cycle for CSS today that Magento provides is Grunt. If the community finds a better way, cool!

[2016-01-15 19:16] melnikovi commented on #948
Functionality for purging Varnish cache has been moved from EE to CE

[2016-01-15 19:18] davefarthing commented on #2797
I have the same experience. Similarly we are **not** attempting to install a theme directly to production, rather we are installing/creating a theme in dev. then much like @moleman, we use composer to generate a fresh code instance on a clean server before deploying the updated code to the production environment. The successful deployment then triggers 'setup:upgrade' to be run on the production s

[2016-01-15 19:20] ezequielalba commented on #2999
thanks! @alankent

[2016-01-15 19:26] ghost opened #3006 "Luma-Icons.woff - Symbolic link not allowed or link target not accessible"
Hi,

I noticed in my apache logs an error trying to find Luma-Icons.woff.  Makes sense as this file doesn't exist.  I do see a Luma-Icons.woff2.

`AH00037: Symbolic link not allowed or link target not accessible: /var/www/html/magento_test/test_company/pub/static/frontend/Magento/luma/en_US/fonts/Luma-Icons.woff, referer: http://x.x.x.x/magento_test/jedwards/pub/static/frontend/Magento/luma/en_US/

[2016-01-15 19:36] eddielau commented on #2369
@dfediuk We tried it and the "Delete File" button should show up after you click on an image. How did you get to this page? And what is the "storage configuration for media" under Stores > Configuration > Advanced > System?

[2016-01-15 20:51] mazhalai commented on #2797
Thank you all for your input, we have created MAGETWO-47999 to fix it.

[2016-01-15 20:53] magenx opened #3007 "Value specified for 'session-save' is not supported: 'redis'"
[code]

but cli installation error:

[code]

what i need to do?

[2016-01-15 21:01] mazhalai commented on #3007
It has been removed in 2.0 since it involved manual configuration of the redis server etc. Please read more about configuring redis here: http://devdocs.magento.com/guides/v2.0/config-guide/redis/config-redis.html

[2016-01-15 21:09] magenx commented on #3007
ok
good to know.

removed.

[2016-01-15 21:25] #3007 closed, assigned to nobody

[2016-01-15 21:33] raybogman commented on #1434
The issue is also in Magento 2 stable when saving conf product after selecting the attrib type

Notice: Undefined index: configurable_attribute in /var/www/ce/vendor/magento/module-configurable-product/Model/Product/Validator/Plugin.php on line 115

[2016-01-15 21:43] zamboni084 opened #3008 "Not showing Products"
Not showing any product with id above 2999 on the front end or in the Category Products tab in admin
![no id](https://cloud.githubusercontent.com/assets/16354206/12366115/0c8d2c18-bba7-11e5-9b9c-908852e17b40.PNG)
Thanks

[2016-01-15 23:50] malaiselvan opened #3009 "url_rewrite table is hardcoded and that stops saving configuration"
Got the below error when trying to save the configuration after removing the search engine optimization prefix and suffix under catalog.

Something went wrong while saving this configuration: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'dbname.url_rewrite' doesn't exist, query was: UPDATE url_rewrite SET request_path = ? WHERE (url_rewrite_id = 62)

Refer this thread for more details

[2016-01-16 00:34] smartperf opened #3010 "File Permission Check Error"
![image](https://cloud.githubusercontent.com/assets/10887546/12368770/687d2e46-bba3-11e5-9b10-88e689d12a51.png)

[magento_user@lnxdev01 magento2]$ groups apache
apache : apache magento_user

-rw-rw----.  1 magento_user apache 434532 Jan 14 18:34 CHANGELOG.md
-rw-rw----.  1 magento_user apache   3425 Jan 14 18:34 CONTRIBUTING.md

/var/www/html/magento2 and its subfolders and files have ownership as

[2016-01-16 02:07] tigerx7 commented on #2746
I dug into SwatchRenderer.js and from the looks of it, this isn't a bug. Magento2 just handles the autoselecting differently.

In M1, it used the # parameter, which in itself was odd, but in M2, it's actually looking for a query. Also, the attribute id expectation has been changed to an attribute code.

So what normally might have looked like:
orion-two-tone-fitted-jacket.html#90=49

should now lo

[2016-01-16 05:18] pankaj-asp commented on #3004
Hello @alankent

Thanks for your reply, I am trying to grab everything.

However this is my new theme structure.
but this never shows up, and in-fact it shows error of "
![theme-pro](https://cloud.githubusercontent.com/assets/16722742/12370648/9dbfd360-bc3e-11e5-8a75-b4a8edcf4a64.jpg)

Autoload error

'frontend/Magento/blank' component already exists
"

I must be doing something silly :(

[2016-01-16 05:30] mrkhoa99 commented on #3004
Hello,

You should check your _registration.php_, should be use _frontend/flo/fa_

<pre>
\Magento\Framework\Component\ComponentRegistrar::register(
    \Magento\Framework\Component\ComponentRegistrar::THEME,
    'frontend/flo/fa',
    __DIR__
);
</pre>

[2016-01-16 05:40] pankaj-asp commented on #3004
@mrkhoa99 I am using the same.

[2016-01-16 05:47] pankaj-asp commented on #3004
@mrkhoa99 If I delete the 'blank' theme from Magneto > blank the errors goes away and I can see the home page of luma theme. though it is not there in frontend Magento folder, its coming from vendor folder.

So I just need to make some changes in header/footer and need to change the entire design, what should I do, there is no phtml files I have in my theme folder, it is taking from parent but I w

[2016-01-16 06:03] mrkhoa99 commented on #3004
@pankaj-asp

You take a look two Magento themes _blank_ and _luma_:
+_vendor/magento/theme-frontend-blank_
+_vendor/magento/theme-frontend-luma_

If you want to change the entire design, you can copy templates and layouts from _blank_ or _luma_ to your custom theme. For example: you can copy all files under _vendor/magento/theme-frontend-blank/Magento_Banner_ to your custom theme _app/design/front

[2016-01-16 06:11] alankent commented on #3004
You should never delete the "blank" theme that we provide. Rather, in most circumstances you should inherit from it instead.

Generally I would also not recommend copying the existing themes and editing, for the same reason. If you are going to inherit from blank then your new theme should only contain things that are different to blank. So copying the blank theme is somewhat counterproductive. If

[2016-01-16 06:15] pankaj-asp commented on #3004
Okay @alankent I am moving to support forums, thanks for your reply @mrkhoa99  thanks :)

[2016-01-16 06:17] pankaj-asp commented on #3004
@mrkhoa99

I have seen the path from template hint and it says below

vendor/magento/module-theme/view/frontend/templates/html/header.phtml

I copied paste the same on my theme which is like this

app/frontend/flo/fa/module-theme/view/frontend/templates/html/header.phtml

I also tried
app/frontend/flo/fa/view/frontend/templates/html/header.phtml

but still the path is coming from

vendor/magento/m

[2016-01-16 06:33] mrkhoa99 commented on #3004
Hello,

You try _app/design/frontend/flo/fa/Magento_Theme/templates/html/header.phtml_
Read more here: _http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/bk-frontend-dev-guide.html_

[2016-01-16 06:41] pankaj-asp commented on #3004
@mrkhoa99 thanks, still not coming from theme folder, I made changes in vendor one that is why it was showing :(

[2016-01-16 10:01] magenx commented on #3010
php running as another user or folder magento2 is not writable for apache group?

[2016-01-16 11:00] tommy83 commented on #2982
i found the solution for magento 1.9.x.
And i think this works in magento 2 also.

**observer.php**

[code]

**config.xml**

[code]

[2016-01-16 13:43] dmitrii-fediuk opened #3011 "Propose not to show the «Please re-run Magento compile command» message in the developer mode as a response on the «bin/magento setup:upgrade» command because the compilation is done automatically on demand in the developr mode"

[2016-01-16 16:21] mrkhoa99 commented on #3004
We should follow @alankent guide:
"Please note, this area on GitHub is intended for bug reports to the code base. General requests for guidance should be made in the Magento forums. You can also consider contacting Magento University for training. I believe there is already on online course for Magento 2 if you cannot make in person training."
Please close this issue and move to support forum.

[2016-01-17 06:29] smartperf commented on #3010
thanks, magenx,

I have run this
find . -type d -exec chmod 770 {} \; && find . -type f -exec chmod 660 {} \; && chmod u+x bin/magento

I also run
chmod 777 /var/www/html/magento2/app/etc
chmod 777 /var/www/html/magento2/var
chmod 777 /var/www/html/magento2/pub/media
chmod 777 /var/www/html/magento2/pub/static

So I think all files and folders are writable for apache group.

Based on http://devdoc

[2016-01-17 09:01] #3004 closed, assigned to nobody

[2016-01-17 09:04] magenx commented on #3010
read my question. thank you

[2016-01-17 11:46] lorenaramonda opened #3013 "Magento search for url_rewrite instead of PREFIX_url_rewrite"
During the installation, Magento lets you specify a prefix for all table in the database. When I try to change the SEO settings in catalog return me this error:

Something went wrong while saving this configuration: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'balume_magento2.url_rewrite' doesn't exist, query was: UPDATE `url_rewrite` SET `request_path` = ? WHERE (`url_rewrite_id` =

[2016-01-17 11:58] ahmadalkaid commented on #2967
Hi @ishakhsuvarov,

I face the same issue, and when I try to look into the shipping extensions with the same Magento vender, we sow that these extensions are built to get the zip code not the city and the street fields. So could you please give it a look and come back to us?

Best.

[2016-01-17 12:25] CountZakula commented on #2944
Neither restarting MySQL or Apache has fixed this for me

[2016-01-17 16:57] sachan-amit commented on #1471
Is this problem solved? I am still getting same error. Looks like Magento 2 import is very buggy at the moment. I am using magento 2 on digital ocean setup.

[2016-01-17 17:45] miketsl opened #3014 "magento2 cart displays incorrect image for product attributes"
If you create a product with attributes, lets say color and size, and then add custom images for each color, magento2 will then allow the display of the custom images on the product detail page.  When someone selects the new color, it will show the product in that color (so far so good)...

When someone adds this product combination to the cart however, the image in the cart will be the base image

[2016-01-17 18:37] kandy commented on #3014
Magento has a configuration witch image to show in Shopping Cart. See Configuration > Checkout > Shopping Cart > Configurable Product Image
![image](https://cloud.githubusercontent.com/assets/100289/12379029/aedab630-bd59-11e5-82af-d9bd1f549a6f.png)

[2016-01-17 18:39] kandy commented on #3014
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for questions.Feel free to reopen this issue if you think you have encountered a bug in Magento 2.

[2016-01-17 18:39] #3014 closed, assigned to nobody

[2016-01-17 18:42] miketsl commented on #3014
Sorry to be dense. But I don't see that in the Magento 2.0.0 administration
interface. Maybe you can enlighten me
On Jan 18, 2016 2:38 AM, "Andrii Kasian" notifications@github.com wrote:

[2016-01-17 19:00] miketsl opened #3015 "System->Configuration is missing in admin view"
Not to be obtuse, but... where is the configuration menu.  I would like to configure the cart options, but I can't find that in the admin interface.

[2016-01-17 19:05] simkea commented on #3015
This menu item you can find under "stores" > "configuration" ...
Although I think it's also very funny. br

[2016-01-17 19:22] gswant opened #3016 "Create Product Configurations"
Hi, over 200 combinations knockout.js script: 1225 is blocked. It happens to others? Thanks

[2016-01-17 20:00] #3015 closed, assigned to nobody

[2016-01-17 20:03] miketsl opened #3017 "FEATURE REQUEST: base configurable product uses one attribute product as the default"
Is it possible (easily) to make one of the attribute products the default for the base configurable product?  In other words, if I have black, red, and green watches.... someone clicks on the watch product, and the product details screen automagically shows a configurable default color.  Also, if someone hits "add cart" from the catalog grid, it adds the configurable default color item.

[2016-01-17 20:26] kandy commented on #2295
Doplicate #1514

[2016-01-17 20:26] #2295 closed

[2016-01-17 21:37] fooman opened #3018 "Magento\Sales\Model\OrderRepository::getList() is incomplete"
The implementation of the getList function seems to be missing code to deal with sort orders.

[code]

vs this from the getList method in the customer repository class

[code]

On a side note there also seems to be some inconsistency if a repository class is a resource model (customer module) or a model (like this one or catalog -> product repository)

[2016-01-17 21:50] srenon opened #3019 "Bug - Blank value for field type password/obscure when switching store view in store config"
![sc-1](https://cloud.githubusercontent.com/assets/1415141/12380161/171bd9ec-bd3a-11e5-8ce4-454ffd9a1bf3.png)
![sc-2](https://cloud.githubusercontent.com/assets/1415141/12380162/171cbd08-bd3a-11e5-9112-03b28a9fdc5f.png)

[2016-01-18 01:54] cs221313 commented on #1731
Thank you so much for your reply.

I think my js is belong the first case that you mentioned, right? my js code is as following:

require(['jquery',
         'domReady!'], function($){
    'use strict';
    $(function () {
        var oClose_input =  $('.close_remind input'),
        oClose_div = $('.close_remind div.close_remind_img'),
        oHead_advertising = $('.head_advertising'),
        c

[2016-01-18 03:31] jkristoffer opened #3021 "Install sample data using the command line: Too many arguments"
I'm on `develop` branch on commit `3991d65ea5b4c91b39f130ceadac7e413233ada6`

I tried installing sample data using the Magento CLI from the [documentation](http://devdocs.magento.com/guides/v2.0/install-gde/install/web/install-web-sample-data-cli.html) and this is the result

[code]

[2016-01-18 05:45] kuldeepdaffodil commented on #2999
Hi All

I have create this issue for development environment. When We disabled cache and and doing changes then magento works very slow .

[2016-01-18 07:13] pantaoran commented on #2411
I also have this problem. I'm in the process of getting all my permissions right, and this is not working.
Permissions on `pub/static/_requirejs/adminhtml/Magento/backend/en_US/requirejs-config.js` are 660, nginx user should be able to access it through the group.
But the browser says 404. How do I fix it?

Edit: Specifically, nginx logs say that it couldn't access `pub/static/adminhtml/Magento/ba

[2016-01-18 07:46] MonteShaffer opened #3022 "Feature ... Duo (or Google Authenticator) ... Two Factor Authentication Support for Magento2"
I am swimming around the code for magento-backend (within Model and App), trying to figure out how in the world I would hook into Magento2 authentication for creating my own Duo Two Factor Support.

isLoggedIn ??

Sentry Human Element developed one for the OLD CE 1.9
http://www.human-element.com/sentry-two-factor-authentication-documentation/

And if you look at their code, they are really using a

[2016-01-18 07:49] MonteShaffer opened #3023 "Feature ... Captcha variants"
I have noticed that the Captcha plugin is available, and I have implemented in my Magento 2 store.

However, in the past, I have used much simpler Captcha plugins, and am curious why this version is considered the core, without the option to choose from one of several Captcha plugins.  A little counter-intuitive to the abstraction goals of Magento 2.

For example, Visual Captcha ... drag and drop

[2016-01-18 08:34] katmoon commented on #2929
Are there any similar errors on other pages in Admin?
Could you clear browser cache and Magento cache `rm -rf var/* pub/static/*` and check if the error reproduces, please?

Thanks,
Kateryna.

[2016-01-18 09:25] lanken commented on #1682
@kassner, we added an ability to overwrite block nodes in page declaration based on Magento 2 module sequence loading. So if your module loads after Magento_Sales module you can overwrite **salesOrderGrid** block in your custom module.

[code]

If you still have any questions, feel free to reopen the issue.

[2016-01-18 09:25] #1682 closed

[2016-01-18 09:28] hiephm opened #3024 "Improvement: Allow custom error message when logging in"
Although Magento 2 allows hooking to event when logging in to add additional validations (just like Magento 1), there is no way to change the error message if those validation failed (e.g by throwing Exception) since a default message is used for general Exception:

[code]

In the other hand, the same logic in Magento 1 is more customizable:

[code]

[2016-01-18 09:56] parekhreena commented on #1569
@eCommerceGorilla  - i checked with php -i and phpinfo(). Both values of loaded configuration file are different. What should i do to resolve this ?

[2016-01-18 10:19] hgpit commented on #2957
Am I to assume that this is normal then? M2 starts quick but gradually slows down; eventually taking an infinite amount of time to import a large product list?
Is this because every one just buys third-party product importers, so no-one cares if the default importer works?

I am really disappointed in what I would consider a vital component of an ecommerce platform.
It's very difficult to seriousl

[2016-01-18 10:41] asemenenko commented on #2957
Hi @hgpit, can you provide your DB dump with import csv file you used? We can not reproduce the issue and need to look at what exactly happend on your side.

[2016-01-18 11:15] gustavnilsson14 opened #3025 "Widgets on home page bug"
Adding a product list widget via the Content > Pages > Home page and only filling the title with 'test' produces "We're sorry, an error has occurred while generating this email." on the homepage.

[2016-01-18 12:38] hgpit commented on #2957
Hi Andrii,

Thank you for your response. Give me a day or two, I will need to re-run
the test and host the files for you.

Best Regards,

Elliot

On 18 January 2016 at 10:42, Andrii Semenenko notifications@github.com
wrote:

##

Group IT Support
Hayley Group PLC (Site 3)
Shelah Road, Halesowen, West Midlands, B63 3PG, England
Company No: 1257303. VAT No: GB 287546119
[Tel] +44 (0)121 585 5334 | [F

[2016-01-18 12:47] rushabhshah341 commented on #838
@ishakhsuvarov is perfectly right if you are on windows you just need to open command prompt and go to your project root directory and write "composer install" and restart your local server that's it you are all set to run by typing "http://localhost/Magento-project-name/setup" @snky1987 Thanx for explanation.

[2016-01-18 13:25] katmoon commented on #2989
Are there any errors in the browser console?

[2016-01-18 13:29] zamboni084 commented on #2989
No errors.

[2016-01-18 13:33] wiizzeer opened #3026 "getSalesOrderCollection not working?"
Hello i try to get OrderCollection but this function ( getSalesOrderCollection() ) return NULL every time. in Magento/Sales/Model/Order.php

[2016-01-18 14:38] asmaan opened #3027 "Product Reviews REST API"
I am not able to locate REST API for product reviews in any of the provided documentation.Is this supported or not?

[2016-01-18 14:54] choukalos commented on #3027
Dup of #2495 ; as I stated in that issue this isn't on our short term roadmap - we'd love to get a PR for it from the community.  For services work please do an HLD first and DM me with that so I can get it reviewed etc.

[2016-01-18 14:54] #3027 closed, assigned to nobody

[2016-01-18 18:58] bmishra5bestincity commented on #2997
I have same problem

[2016-01-18 20:00] coolshot commented on #2786
Hello, i tested this fix and apparently it works
But, when you switch from any page but the home page, it brings you to the home page and not to the store view of the item you were on.
Ex. mystore.test/it/prodotto.htm does not go to mystore.test/en/product.htm but to mystore.test/en/

S

[2016-01-18 20:46] ghost commented on #2997
There is no Magento Connect Manager in 2.0; it's replaced by the [Component Manager and System Upgrade[(http://devdocs.magento.com/guides/v2.0/comp-mgr/bk-compman-upgrade-guide.html) utilities.

To run it, go to **System** > **Web Setup Wizard**. Let us know if this solves the issue.

[2016-01-18 20:59] chrom commented on #2490
Yes all work.

[2016-01-18 22:19] forgeonline opened #3028 "Magento V2 Timezone Issue"
While I was working on our current Magento 2 project I've found
date_default_timezone_get()
is set to UTC. On my Model file
This gives me wrong Time ( 13 Hours late time )

date_default_timezone_get() value should be same as my time zone Pacific/Auckland

in public/app/bootstrap.php it is set to UTC
date_default_timezone_set('UTC');

This is causing different value in time. Can you please check th

[2016-01-18 22:29] forgeonline commented on #3028
since value is set by date_default_timezone_set('UTC');

Any value set by ini_set('date.timezone', 'Pacific/Auckland');
is ignored

http://php.net/manual/en/function.date-default-timezone-get.php

Once I've removed  date_default_timezone_set('UTC'); from bootstrap.php it's working fine

[2016-01-18 23:05] ktomk commented on #2985
@mazhalai please find the patch in #3029

[2016-01-19 02:19] cedricblondeau commented on #2880
Hi there!

I'm experiencing this problem as well since I switched from the PHP7 version I built from source to the package provided Ondřej Surý for Ubuntu (ondrej/php-7.0).

I used to compile PHP7 with the following options:

[code]

ondrej/php-7.0 was built with the following options:

[code]

[2016-01-19 05:33] yigab commented on #2077
So what was the solution to this? unlocking from cli does not work either..

[2016-01-19 05:53] coolshot commented on #2786
An addition to the above comment:
The behaviour (reset to base url when switching language) happens from any item, be it csm page, product or category when Store Code Urls is active.

[2016-01-19 07:30] bmishra5bestincity commented on #2997
thanks Steve, But I have tried to install new extension, I think I will see new purchase in component manager , but nothing happened and all extension support upto Magento 1.9.2 , Is there any help how to install a extension from marketplace

[2016-01-19 07:50] tzyganu commented on #2746
@tigerx7 But it still works as I expect it to work when I disable the swatch module. If this is not a bug it's at least an inconsistency.

[2016-01-19 08:05] ghost commented on #2786
If I get the chance I will take a deeper look. This last one was just a quick shot, which was not tested thoroughly. I think I'll go ahead and make a full PR next week.

[2016-01-19 09:20] ishakhsuvarov commented on #2880
@cedricblondeau

[code]

Evaluates to false, so the loop never starts and causes `catalogsearch_fulltext` index to be empty.

[2016-01-19 09:39] theGC opened #3031 "User with custom permissions can not save Vimeo videos to products"
After setting up a new user role we found that users assigned it are unable to save Vimeo videos within products unless they are granted:

Resource Access : all

Any custom permissions, even checking everything, prevents the user from being able to save Vimeo videos.

[2016-01-19 10:40] homecoded opened #3032 "Backend less-parser fails on files containing only mixins"
In lib/internal/Magento/Framework/Css/PreProcessor/Adapter/Less/Processor.php:88

[code]

... the less processor checks if a file was compiled successfully by checking if the content is not an empty string.
If you include the less version of Twitter-Bootstrap into a theme or extenion the build process fails because of that.

_explanation:_

Magento tries to build all of the file separately. When i

[2016-01-19 11:49] peterhirn opened #3033 "Cron job fatal error every day at 00:00"
I'm running the 2.0 branch with HHVM. The cron job fails every day at 00:00 with the following error:

[code]

[2016-01-19 11:55] ivandelaros opened #3034 "New customers not shown"
Hi everyone,
im in the testing mode on localhost and i dont see the new registered customers, both if are entered manually in backend and with the frontend procedure, and with rest api request.

In reality are created but are not shown in the customer grid.
In fact if i follow the link:
localhost/magento2/admin/customer/index/edit/id/{NEW_CUSTOMER_ID}/key/...
i can manage the new customer info and

[2016-01-19 12:43] cedricblondeau commented on #2880
@ishakhsuvarov My bad!

[2016-01-19 13:01] kramskov commented on #1549
Update page cache after all.

[2016-01-19 13:29] slavvka commented on #3034
Hi @ivandelaros. If a customer isn't in the customer grid but is accessible in the form, customer_grid_indexer is probably outdated. You can reindex it manually using bin/magento indexer:reindex customer_grid. In order to do this operation automatically you need to set up cron

[2016-01-19 14:36] victorgugo commented on #2490
Closed as resolved

[2016-01-19 14:36] #2490 closed, assigned to nobody

[2016-01-19 14:58] chicgeek commented on #2941
I have also reported this in issue https://github.com/magento/magento2/issues/2056.

As a workaround for this specific instance until a fix is released, you can specify your options in the template that calls `catalogAddToCart` and rely on PHP translation instead of JS translation. For example in `list.phtml`:

[code]

[2016-01-19 15:04] voleye commented on #3013
Hi @lorenaramonda, thank you for your contribution to M2!

We have created an internal ticket MAGETWO-48083 to track the issue.

[2016-01-19 15:06] voleye commented on #3009
related issue #3013

[2016-01-19 15:37] ezequielalba opened #3037 "Getting an issue working with Grunt"
I'm getting this issue after run `grunt exec:<theme>`, this shows up:

[code]

And after i run `grunt refresh`, shows the same after it cleans all the paths.

Now, running the command for the bin/magento `dev:source-theme:deploy` got this:

[code]

I was triyng to fix this by following a lot of instructions on other issues already, nothing worked.

Any ideas why this might be happening?
I have a V

[2016-01-19 15:44] devdesco-ceo opened #3038 "Skip Luma theme when compiling static resources"
I have a situation where I have custom theme (Porto, based off blank theme) installed and active, and prepackaged Luma theme is not active anywhere in my Magento stores, so no need to trigger compilation on it. BWT when I run static content compiler, both Magento/blank, Magento/luma and Smartwave/porto are being compiled. That would be fine, but I am compiling 6 locales for my multistore/multilang

[2016-01-19 15:51] devdesco-ceo opened #3039 "Segmentation fault on setup:di:compile in PHP7"
I get segmentation fault on setup:di:compile in PHP 7.0.2-2+deb.sury.org~wily+1

Log:

Repositories code generation... 1/7 [====>-----------------------]  14% 22 secs 18.0 MiB 5101 Segmentation fault      (core dumped) /var/data/mfs/www/magento/bin/magento setup:di:compile

[2016-01-19 15:55] katmoon commented on #3008
It looks like this is the last product in the list of category products.
What happens when you assign an additional product with id > 2999 to the category?

[2016-01-19 15:57] devdesco-ceo commented on #3028
+1

[2016-01-19 15:58] ktomk commented on #2523
As @moleman has outlined (and I can confirm his findings) (findings are: https://github.com/magento/magento2/issues/2523#issuecomment-162534708) he is effectively reporting a flaw.

The flaw is that magento does not work with the composer configuration, in specific, it does not work with the composer configuration of the user using composer.

The flaw is that the environment variable `COMPOSER_HOM

[2016-01-19 16:04] zamboni084 commented on #3008
In the picture there were another 100 products in the category. But for some reason it took 3 days to show up. Now everything is working i create a product it show right away in the front end.

[2016-01-19 16:04] #3008 closed, assigned to nobody

[2016-01-19 16:05] voleye commented on #2103
I have created an internal ticket (MAGETWO-48089) to track the progress of the issue

[2016-01-19 16:26] mrkhoa99 commented on #3037
I met this issue on Windows OS, I tried to run CMD as Administrator. This issue was solved.
I also run Grunt successfully on Ubuntu. You try to set file system permission and ownership: http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-01-19 16:46] mazhalai commented on #2944
@CountZakula  @ajay09Payal  did you have a previous installation? Looks like you had sample data earlier, but dont anymore. If you dont mind losing data that is existing in the db, please run `bin/magento setup:uninstall` and try installing again. or else run `bin/magento setup:backup --db` to create a backup and then the uninstall command.

[2016-01-19 17:04] mazhalai commented on #3039
@devdesco-ceo thank you for reporting, but this is a duplicate of 2880, hence closing.

[2016-01-19 17:04] #3039 closed

[2016-01-19 17:10] ezequielalba commented on #3037
@mrkhoa99 Mmm, i tried that too, i just checked if the permission and ownership changed, but are ok. The error still there after i execute the deploy or Grunt. Let me see if the VM misses something. But i don't think so.

[2016-01-19 17:18] mazhalai commented on #3028
@forgeonline @devdesco-ceo Can you please confirm this is on version 2.0?

[2016-01-19 17:24] mazhalai commented on #3033
@peterhirn do you have any other crons scheduled?

[2016-01-19 17:40] mazhalai commented on #3019
@srenon thank you for reporting, we have created MAGETWO-48100 to investigate.

[2016-01-19 18:38] keithbentrup opened #3040 "JShrink ~1.0.1 dependency munges javscript files"
Steps to reproduce
1) Install the reference store with a sample data
2) Configure js minification and deploy static assets
3) Visit a product page
Expected result:
Product page loads with product image and no js error in the js console
Actual result:
Product pages with no product image and a js error

Root cause:
JShrink munges lib/web/fotorama/fotorama.js. In my tests, JShrink 1.0.1 and JShrink 1

[2016-01-19 18:47] ezequielalba commented on #3037
@mrkhoa99 Nope, it isnt about permission. Got the same result.

[2016-01-19 18:57] erikhansen commented on #2920
@ishakhsuvarov Sorry, I just saw your comment. I am using the 2.0.0 release of _Enterprise_. Steps 9 and 10 are the most critical. If you fix that, I expect I will not be able to reproduce step 11.

[2016-01-19 18:57] #2452 closed, assigned to nobody

[2016-01-19 19:00] Krapulat commented on #966
I confirm the bug.

With HHVM active it displays wrong prices.

When using PHP-FPM it works fine.

[2016-01-19 19:20] melnikovi commented on #3028
It is best practice to operate on dates in application in UTC timezone and format in specific timezone when display. There are use cases when you need to represent the same date in different timezones. For instance, in multi-store setup Magento displays order creation date in timezone configured for a particular store on the frontend and in timezone from global config (admin timezone) in admin. Th

[2016-01-19 20:01] forgeonline commented on #3028
Yes this is version  2.0

[2016-01-19 20:05] forgeonline commented on #3028
Yes melnikovi I Agree, It's Ok to use UTC in General .

however UTC is overriding my Pacific/Auckland when I use date function in My Models, Themes etc. which is not acceptable on a software that have Timezone configuration in System Configuration.

Thanks

[2016-01-19 20:24] melnikovi commented on #3028
@forgeonline it actually gives more flexibility, because you don't rely on the timezone of your environment. Framework provides API to format date according to the timezone set in configuration. If you provide more details about your issue I can give you better example of how to use framework API to format date.

[2016-01-19 20:37] forgeonline commented on #3028
Yes it gives more flexibility if you are a programmer.

Food for thoughts, What is the point of having a configuration in backend for Timezone configuration if it's not working correctly :)

[2016-01-19 20:54] keithbentrup opened #3041 "Admin tinymce iframe should not be referenced by base static url"
The iframe created by tinymce used frequently in the admin should not be referenced by the base static url. Doing so, so will cause a same origin policy security error.
<img width="1761" alt="sop-violation" src="https://cloud.githubusercontent.com/assets/253579/12431672/b9f71b96-bec4-11e5-8d3e-f6bec2d486b8.png">

[2016-01-19 22:15] buskamuza commented on #2077
Do you mean, it fails? Or it doesn't unlock the user? Or it doesn't fix your issue?

[2016-01-20 07:52] rajeev-k-tomy commented on #2790
Hey, I am getting same error when I am trying to install with sample data. In my case, I have already install sample-data using the command `magento sampledata:deploy` and then tried to install magento2  like `magento setup:install --use-sampledata`, but leads to the same error.

I checked and that file is not there. Also I have following configuration in my `composer.json`

[code]

What should I

[2016-01-20 10:21] csmarvz opened #3042 ""State is Required for" multiselect must have at least one option selected and should not"
Stores > Configuration > General > State Options

If you unselect everything and Save Config, the old selections will be there again.

Branch 2.0

[2016-01-20 10:24] csmarvz opened #3043 "State/Province field is still required in checkout shipping address after being set optional in the config"
How to reproduce:
1. Go to Stores > Configuration > General > State Options
2. Remove Switzerland from the multiselect
3. Save
4. Add items to the cart and go to the checkout page
5. Fill the fields, select the country Switzerland but don't select a State
6. Proceed and see the message "Please select an option"

[2016-01-20 10:30] AYElsharif opened #3044 "What's the good shared hosting provider for Magento 2 (Not Cloud) ?"
Hi,

I want new hosting for my next Magento 2 project, What is the Best,Stable,Trusted hosting ?

[2016-01-20 10:51] mslabko commented on #2746
@tzyganu, Issue has been fixed in commit https://github.com/magento/magento2/commit/0416e64437bfa09ee762585b7fe5fd5af1a40e42
Thank you for reporting!

[2016-01-20 10:51] #2746 closed, assigned to nobody

[2016-01-20 10:54] mslabko commented on #2357
Issue has been fixed. Thank you for reporting!

[2016-01-20 10:54] #2357 closed

[2016-01-20 10:55] mslabko commented on #2192
Issue has been fixed.
Thank you for reporting!

[2016-01-20 10:55] #2192 closed

[2016-01-20 10:56] antuz88 opened #3045 "customer grid"
Hi,
i have migrated my db from magento 1.8.0 to 2.0.
My orders,product and customers was migrated correctly but in customer grid i receive empty results with message: We couldn't find any records.
If i try to edit a customers from an order i can do it.

EDIT: my table customer_entity is populated but customer_grid_flat is empty. If i add manually in db a record on customer_grid_flat i can display

[2016-01-20 11:32] nfishbane opened #3046 "Gift Message is not showing"
Hi- enabled in backend.
But its not showing in frontend - anyone got this to work?

[2016-01-20 11:40] ishakhsuvarov commented on #3043
@csmarvz Thank you for reporting the issue. Which branch are you using for your installation? This seems to be already fixed in the `develop` branch.

[2016-01-20 11:47] ishakhsuvarov commented on #3046
@nfishbane Thank you for reporting this issue. Could you please specify more precise steps you used to reproduce the problem?

[2016-01-20 11:58] nfishbane commented on #3046
Hi,
I went to backend store->configuration->sales->gift options and set Allow Gift Messages on Order Level to yes, and Allow Gift Messages for Order Items to yes, (saved and cleared the cache) still gift messages are not available during checkout process

[2016-01-20 13:06] ishakhsuvarov commented on #3046
@nfishbane Gift messages should be available only on the Shopping Cart page, please verify.

[2016-01-20 13:10] nfishbane commented on #3046
yes I see it on cart - Thanks

Also I'm not sure what was the logic about moving it from checkout as it was in Magento 1, since we have the option to skip the cart page abd go directly to checkout

[2016-01-20 13:18] csmarvz commented on #3043
@ishakhsuvarov Ah nice! I'm using the full release, which I think comes from the branch 2.0.
Could you please point me to the code that fixes it so I can use it before the next release? thanks

[2016-01-20 13:41] asemenenko commented on #3046
By default "Proceed to Checkout" button goes straight to checkout page however the link can be changed to navigate to the shopping cart. The logic behind it is the fact that checkout process should be lightweight keeping additional options selected previously - you may notice similar approach in many popular web-stores where gift options/in-store pickup etc are configured in shopping cart. I think

[2016-01-20 14:03] restaurantsupply commented on #3044
I would recommend nexcess (https://www.nexcess.net/). They are very easy to work with and know a lot about Magento 2.0. When and if you run into issue they can help solve them.

[2016-01-20 14:09] marvincaspar opened #3047 "Enterprise Edition: Db splits are not included in backups"
I am using M2 EE and setup the [split database performance solution](http://devdocs.magento.com/guides/v2.0/config-guide/multi-master/multi-master.html). Now I want to create a db backup by running `bin/magento setup:backup --db`.

This command will only update the `default` db conenction. There is no option to choose a connection between default, checkout and sales.

My prefered solution would be

[2016-01-20 14:24] scholtz opened #3048 "Fresh installation from develop branch fails to install indexer"
Hi, when i try to install magento 2 it fails:

[code]
It fails on Magento_Indexer with message "Running recurring.."

![scr04](https://cloud.githubusercontent.com/assets/1223439/12451448/c835cd54-bf89-11e5-9b58-2a65950f178c.png)

[2016-01-20 14:35] scholtz commented on #3048
I have tested it now without our translation files, and it fails also..

[code]

[2016-01-20 14:42] scholtz commented on #3048
Ok, i guess there is problem with nesting functions.. Maybe it would be wise to check configuration and showing the error before installation starts to execute..

[20-Jan-2016 14:33:58 UTC] PHP Fatal error:  Maximum function nesting level of '100' reached, aborting! in /ocz/vhosts/aveo-trade.cz/mag2-test3/magento2/lib/internal/Magento/Framework/Code/Reader/ClassReader.php on line 59
[20-Jan-2016 1

[2016-01-20 14:57] mazhalai commented on #3045
Since this is a migration related question, it should be posted here https://github.com/magento/data-migration-tool-ce

[2016-01-20 14:58] mazhalai commented on #3047
@mc388 Please do not post EE related issues on github. Please use partner portal for this request.

[2016-01-20 15:00] scholtz commented on #3048
ok, seems it was problem of xdebug.. the xdebug have implemented the nesting level for php and default value 100 seems to be small..

it might be however good if someone could make a check for this before execution of the installer..

if you do not want to make this verification, please consider this issue as closed..

[2016-01-20 15:02] mazhalai commented on #3048
@scholtz Yes, you do need to set the max_nesting_level to 200 or more. If you had installed via web, it would have caught this an thrown an error. We assume users of CLI are developers who are more advanced users and hence know what the exact issue is.

[2016-01-20 15:02] #3048 closed

[2016-01-20 15:03] #3047 closed, assigned to nobody

[2016-01-20 15:31] mazhalai commented on #2891
@miguelbalparda @magetraining did you have a clean db with no previous installation?  is it possible db had details of previously installed modules?

[2016-01-20 15:34] miguelbalparda commented on #2891
We used a clean db every time we had this problem @mazhalai.

[2016-01-20 15:53] mazhalai commented on #2891
@miguelbalparda one last question, did you see this error on CLI or Web? If it was on Web, did you clean browser cache, especially if you installed sample data earlier. Possibly list of modules was stored in localstorage.

[2016-01-20 15:55] ishakhsuvarov commented on #3043
@csmarvz You may try to use this fix: [721496e9219297ef09a518e67290dd729b6c3f01](https://github.com/magento/magento2/commit/721496e9219297ef09a518e67290dd729b6c3f01), however we can not be totally sure that fix will solve the issue completely.
Please check your exact case using latest code from the `develop` branch if it is possible.

[2016-01-20 15:55] miguelbalparda commented on #2891
Web @mazhalai. We cleared cache multiple times and even installed it from incognito windows + different machines.

[2016-01-20 16:00] #3045 closed, assigned to nobody

[2016-01-20 16:05] mazhalai commented on #2880
@all PHP7 issues have been fixed in [tag 2.0.1](https://github.com/magento/magento2/tree/2.0.1) Please have a look and let us know if your issue has been fixed.

[2016-01-20 16:05] mazhalai commented on #2750
@all PHP7 issues have been fixed in [tag 2.0.1](https://github.com/magento/magento2/tree/2.0.1) Please have a look and let us know if your issue has been fixed.

[2016-01-20 16:15] peterhirn commented on #3033
Nothing beside the default debian jessie cron jobs. I had some other issues with cron jobs after a migration from 1.x, this might be related. I'll check this with a default setup and update this issue afterwards.

[2016-01-20 16:27] brendanmckeown opened #3049 "API authentication token routes should be secure"
Both of the API routes in `module-integration/etc/webapi.xml` to get an authentication token work over http.  These routes should be secure and only acceptable over https, because you are passing sensitive account information in the request body.  This can be achieved by adding `secure="true"` to each `<route>` node:

[code]

If this was an intentional decision, is there a way I can override this

[2016-01-20 16:35] hgpit commented on #2843
I have just experienced the same issue after installing M2CE by downloading the developer.zip version from GitHub and installing it via Composer.

I have installed it about 10 times previously (M2EE & M2CE) from the official downloads and didn't see this problem once.

[2016-01-20 16:51] vkholoshenko commented on #2533
@tzyganu, thanks for reporting! We've created an internal ticket to track this. MAGETWO-48165

[2016-01-20 18:10] nkarthickannan commented on #2361
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2016-01-20 18:18] antonkril commented on #2361
We have plans to move Action Resource configuration to XML files.

But agree that `static` might be a good quick improvement

[2016-01-20 18:20] brideo commented on #2361
I'm happy to submit a pull request if this gets approved.

[2016-01-20 20:11] brankoajzele opened #3051 "Magento CE 2.0.0 to 2.0.1 upgrade"
I have an Ubuntu system with PHP 5.6.17, MySQL 5.6. cron job is set, as I can see cron_schedule table being filled nicely.

I have installed my Magento 2.0.0 using composer create-project where it went through all the checks, etc., and it all went through nicely, few days ago. During which I could/can also access nicely admin and storefront areas, whereas my Magento is running in developer mode.

[2016-01-20 20:16] xcomSteveJohnson commented on #3051
I see this sometimes. Try this:

1. Close your browser window.
2. Manually delete from the file system the contents of Magento's `var/cache/*`, `var/page_cache/*`, `var/generation/*`, and `var/session/*

[2016-01-20 20:16] mazhalai commented on #3051
@ajzele can you confirm that you have the following crons setup: `/update/cron.php` and `/bin/magento setup:cron:run` Please see [this doc](http://devdocs.magento.com/guides/v2.0/comp-mgr/prereq/prereq_compman-updater.html) for more info

[2016-01-20 20:19] okorshenko commented on #2914
Hi @tinxit . Thank you for reporting the issue. Unfortunately, I can't reproduce this issue using this test data:

[code]

Response:

[code]

Could you please provide steps to reproduce and test data?
Thank you

[2016-01-20 20:27] mazhalai commented on #2891
@miguelbalparda our QA encountered this same problem, but when we cleaned all data in the browser(chrome) related to that URL, (not just cleaning cache and cookies) but going to `settings->advanced options->Privacy->content settings->all cookies and site data->` then look for your local site and clear everything for it, it worked fine as usual. Also, another way to check is in the "Customize your

[2016-01-20 20:33] brankoajzele commented on #3051
Hey @mazhalai, good question. I can confirm I have both cron jobs set. Still no luck :(

[2016-01-20 20:44] mazhalai commented on #3051
If crons are running successfully you should have the following files:
`var/.update_cronjob_status` and `var/.setup_cronjob_status`. Can you please check contents of these files?

[2016-01-20 20:49] hgpit commented on #2957
Hello,

I am re-running the import on a new VM and it's behaving the same way (the product import is gradually getting slower and slower, inevitably it will either run out of resources take an almost infinite amount of time to complete).

I would very much like to provide a DB dump and copy of all relevant logs for you to take a look at. As the data is quite sensitive I would prefer to email the d

[2016-01-20 20:53] brankoajzele commented on #3051
Hey @mazhalai

I can only see

`.update_cronjob_status` with content as follows:

{
    "readiness_checks": {
        "file_permissions_verified": true
    },
    "last_timestamp": 1453322944,
    "current_timestamp": 1453323005
}

Not seeing `var/.setup_cronjob_status`.

[2016-01-20 20:54] hgpit commented on #2553
Seconded. This would be brilliant to have.

[2016-01-20 20:58] brankoajzele commented on #3051
Content of my var directory https://db.tt/u8kfkGbU

[2016-01-20 21:05] mazhalai commented on #3051
Then, there is some problem, [this](https://gist.github.com/mazhalai/ab290a1b96dea935c044) is what my `var/.setup_cronjob_status` looks like. One suggestion would be to output contents of setup cron into some temp file:

`*/1 * * * * /<full path to>php /<full path to>/bin/magento setup:cron:run >/tmp/setup.cron.log&`

and then check contents of `/tmp/setup.cron.log` in case an error occurred.

[2016-01-20 21:19] brankoajzele commented on #3051
Oh my...

I had the following two entries:
`/bin/magento cron:run`
`/update/cron.php`

So you need overall of 3 cron jobs for Magento?
to get the cron_schedule table filling & executing
`/bin/magento cron:run`
to get the Component Manager and System Upgrade ticking
`/bin/magento setup:cron:run`
`/update/cron.php`

right?

The message is now much better https://db.tt/G0Haces8. However, IMHO, this m

[2016-01-20 21:26] mazhalai commented on #3051
Exactly! ~~We are working on docs to clarify everything re cron jobs.~~ http://devdocs.magento.com/guides/v2.0/install-gde/install/post-install-config.html#post-install-cron

[2016-01-20 21:55] brankoajzele commented on #3051
Thank you @mazhalai

I was able to get it finalised https://db.tt/1vGkUPjl

However I did notice one strange thing. During upgrade, it turned on maintenance, etc. However until it was able to finalise all, there was a timeframe of 2-3 minutes during which `git status` showed bunch of files as deleted as shown here https://db.tt/6GeghSTc, which resulted in storefront showing folder listing instead

[2016-01-20 22:11] brankoajzele opened #3052 "The bin/magento console tool shows misleading message"
The `[InvalidArgumentException] There are no commands defined in the "deploy:mode" namespace.` when permissions are inadequate, see here https://db.tt/S4Y4yDyE

Seems a bit misleading.

[2016-01-20 22:23] ktomk commented on #2300
Isn't this (`etc/module.xml`) one of the two files an extension must have to qualify as one? (the other file is `registration.php`.)

So the report might be bogus:
- If the (incomplete) module is already activated, then I do see an error message telling me which module.xml failed to open.
- If the (incomplete) module is not activated, then I do see that error message as well.
- If the (incomplete)

[2016-01-20 22:34] mswaidan commented on #1471
Same problem here.

[2016-01-20 23:58] sIiiS commented on #3028
+1 for remove it from bootstrap.php

[2016-01-21 01:23] melnikovi commented on #3028
In the backend you configure application, not infrastructure. Have you tried to use API provided by framework to format date?

Please explain reasons to make such change. Existing implementation provide easy way to achieve what you need and more flexible.

[2016-01-21 03:05] bhavin88 commented on #2929
I have deleted all the files from rm -rf var/\* pub/static/\* and now no any new files generated inside that folder.
So now no any css and js are loaded in my frontend and backend.

Please help.

![frontend](https://cloud.githubusercontent.com/assets/12870148/12470677/28eb51d6-c01c-11e5-8dd7-1936023bf48c.png)

[2016-01-21 03:27] rey8a opened #3053 "Undefined index: configurable_attribute"
I keep receiving this error when trying to add configurable products. Currently running Magento ver. 2.0.1

Notice: Undefined index: configurable_attribute in /vendor/magento/module-configurable-product/Model/Product/Validator/Plugin.php on line 115

Please let me know what I can do to resolve this issue.
Thanks in advance.

[2016-01-21 06:30] jason-vivid opened #3055 "System Upgrade fails via Setup Wizard - Failed opening autoload.php"
Subject says it all...

After entering public and private keys and running through to the last step (Step 4) which is the system upgrade. Update breaks.  Log below.

[Thu Jan 21 01:15:28.618633 2016] [:error] [pid 15527] [client IP:64218] PHP Warning:  require_once(/public_html/magento2/update/vendor/autoload.php): failed to open stream: No such file or directory in /public_html/magento2/update/ap

[2016-01-21 07:30] ksz2013 opened #3056 "Upgrade from 2.0.0 to 2.0.1 fails"
Hi,

I have the following error when trying to uprgade:

<pre>
[ErrorException]
Source /var/www/magento2/vendor/magento/magento2-base/dev/tests/integration/.gitignore does not exist
</pre>

The backups were created properly but on the final Upgrade step I get this message. Here is the full log from the upgrade.
Can you give me a hint or help please, Is there another way to try  the upgrade?

<pre>

[2016-01-21 07:45] xerron commented on #1897
same error in ubuntu 14.10 php 5.5.12  branch 2.0

[2016-01-21 08:30] andidhouse commented on #2591
We have the same error log after using the migration tool from 1.7.0.2 to magento 2.0. All works ok but if we access a product in the product grid it just shows the headline of the product and nothing else.

Maybe this is related to an extension we used in 1.7 and causes a wrong import in magento 2.0?

[2016-01-21 08:25:49] main.CRITICAL: Class media_image does not exist [] []
[2016-01-21 08:25:50

[2016-01-21 08:54] katmoon commented on #2929
You can try to deploy static files manually using
`bin/magento setup:static-content:deploy`
Read more here: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-static-view.html

Again, which Magento mode do you use?

[2016-01-21 09:11] geetanshsoni commented on #2316
Hello,
Is there any solution for the above issues. I am facing the same issues.
My current environment is :
1. OS - Windows 8.1 and Mac-mini
2. WebServer - MAMP 3 for windows and MAMP 3 for Mac
3. Nodejs version 5.5.0
4. Npm version 3.3.12
5. Installed grunt component:
    ├── grunt@0.4.5
    ├── grunt-cli@0.1.13
    └── grunt-mamp@0.1.131
6. Magento CE - 2.0.0 and 2.0.1

Thanks in advance.

[2016-01-21 09:49] pantaoran commented on #1583
@antonkril is there an example of a controller NOT extending `\Magento\Framework\App\Action\Action` and instead implementing `\Magento\Framework\App\ActionInterface`? I think that I would lose a lot of functionality for which I rely on that parent...

[2016-01-21 09:57] pantaoran commented on #1583
Actually I just noticed that the deprecated flag which started this issue was removed 3 months ago.

So what is now the recommended way to build controllers?

@markoshust FYI

[2016-01-21 10:18] ivandelaros commented on #3034
Thank you very much @slavvka

I had not yet understood this process in magento2. thankss

[2016-01-21 10:18] #3034 closed, assigned to slavvka

[2016-01-21 10:52] Krapulat commented on #2504
Thanks @iget-esoares. I had the same problem with nginx.

[2016-01-21 11:26] theGC opened #3058 "Missing bootstrap.js from fresh install of 2.0.1 via Setup Wizard"
After installing Magento 2.0.1 via the setup wizard:
- Downloaded the zip file
- Extracted it
- Fired up the Setup Wizard
- Installed successfully

I can access the frontend and admin fine, however going to the product category (which will be empty - no sample data installed) fires a few js errors within console and therefore can not load the view:

`GET http://www.magento-v2.dev/pub/static/adminh

[2016-01-21 11:32] CalamityJames opened #3059 "Web Setup Wizard fails to upgrade to 2.0.1, gives "Sorry, we can't take that action right now." message"
I've run into this problem while trying to upgrade to 2.0.1.

If I try to perform the System Upgrade in the Web Setup Wizard I get the following message:
![image](https://cloud.githubusercontent.com/assets/5637797/12479334/5b467a50-c032-11e5-8ee2-4d36522814b6.png)

I've supplied my Magento Secure Keys as suggested elsewhere, but upon delving into the code a bit deeper it would seem my package info

[2016-01-21 11:46] esilvajr commented on #2241
@dkvashninbay you said: "you'll need to implement redirection logic on a client." but i need data from php, how do i build this?

[2016-01-21 11:52] theGC commented on #3058
Tried installing via cli and it doesn't make a difference, guess the files are missing from the packages its installing

[2016-01-21 11:56] OLTC-fperrin commented on #3056
Hello,

I tried to update through the setup wizard and got the exact same problem, I then tried to rollback and it got stuck... (but that's an other matter)

Then I tried using composer in bash, so here is what I did:
I changed the composer.json in the root directory of Magento 2 and modified the line:

[code]

to

[code]

I ran composer update. It downloaded all the packages until it got to magen

[2016-01-21 11:58] Wojton commented on #1306
Magento 2 is looking for in cms?

[2016-01-21 12:05] Krapulat commented on #3059
I have the same problem. I've supplied the Magento Keys and get "Sorry, we can't take that action right now. " when trying to use the system upgrade.

[2016-01-21 12:08] ksz2013 commented on #3056
Thanks for feedback,

Basically you had to manually create all those .gitignore files. I can try to do that as well but wouldn't do it as they are in the vendor, but my question is if this would be needed to be done before each upgrade, or something was just messed up on my installation.

Thanks,

[2016-01-21 12:41] miguelbalparda commented on #2891
@magetraining can you try what @mazhalai suggested?

[2016-01-21 13:04] scholtz commented on #2630
Hi, we have translated whole magento2 already to three languages: [DE](https://connect20.aveo-trade.cz/cat:BuyPackage/details=1/extension=atconnect%2Fmagento2-language-de_de), [TR](https://connect20.aveo-trade.cz/cat:BuyPackage/details=1/extension=atconnect%2Fmagento2-language-tr_tr), [SK](https://connect20.aveo-trade.cz/cat:BuyPackage/details=1/extension=atconnect%2Fmagento2-language-sk_sk)

we r

[2016-01-21 13:20] scholtz commented on #2630
Also it would be cool if there was some tool to export the product names, descriptions, cms pages and so on for the translation. We would like to provide for example translation services for eshops, so that they have localised content, but right now i dont know how to export these texts, and import them using composer...

[2016-01-21 13:22] fendowuk commented on #3059
I'm also having the same issue.

[2016-01-21 13:39] maksymcherevko commented on #1498
I have the same problem as @sumanparihar, with Custome Grid and Catalog Search. Tried to change the status in the database (table: mr_indexer_state), then activate this process again. Process start, but the result is the same.

![screenshot_40](https://cloud.githubusercontent.com/assets/16465396/12481880/d6471a8a-c054-11e5-938b-e0a4d46e1c58.png)

[2016-01-21 13:45] moleman opened #3060 "setup:static-content:deploy, setup:di:compile and deploy:mode:set will not return a non-zero exit code if any error occurs"
When you run commands in an build environment, like Jenkins, you want the commands to return a non-zero exit code if an error occurred so that Jenkins can fail the build.

Currently if any error occurs when you run **setup:static-content:deploy** it will not return a non-zero exit code which makes the build succeed even though the build is incomplete.

Example:

[code]

This will make the generati

[2016-01-21 13:48] ghost commented on #3059
This is due to the fact that you aren't logged in. We have an internal issue open to track, MAGETWO-458175.

To get around it, go to **System Config** (right below **System Upgrade**) and enter your authentication keys, then **Save Config**

[2016-01-21 13:49] ghost commented on #3059
FWIW, I added this to the [System Upgrade documentation page](http://devdocs.magento.com/guides/v2.0/comp-mgr/upgrader/upgrade-start.html). It's kind of hard to find though.

[2016-01-21 13:57] fendowuk commented on #3059
I have logged in and still have the same issue. I am wondering if this is anything to do with /update/cron.php or the lack of it. I installed Magento 2 using composer but the /update/cron.php file is missing.

[2016-01-21 13:58] CalamityJames commented on #3059
@xcomSteveJohnson Sorry, but this is a separate issue. I've added those details already, as per my OP:

![image](https://cloud.githubusercontent.com/assets/5637797/12482342/fb134626-c046-11e5-9c90-63a45e165075.png)

[2016-01-21 14:12] aam1991 opened #3061 "No design after installing Magento 2.0.1"
Hi,

I installed Magento 2.0.1

but after installing, there is no design and no pictures

Thin is the URL:
http://ph.care.sa/

Could any body help me please

Thanks,

[2016-01-21 14:16] scholtz opened #3062 "2.0.2 still missing many translation texts"
We have translated [Magento 2 to German language](https://connect20.aveo-trade.cz/cat:BuyPackage/details=1/extension=atconnect%2Fmagento-two-language-de-de) but it seems many phrases are still not collected for the translation..

2.0.1 is I assume still the beta release.. right?

Demo of our translations is here: http://mag2-test3.aveo-trade.cz/

Installed this way:

[code]

Exported phrases using

[2016-01-21 14:19] mrkhoa99 commented on #3061
Hello,

You try to run this command line from root folder: <pre>php bin/magento setup:static-content:deploy</pre>
Read more: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-static-view.html

[2016-01-21 14:26] fendowuk commented on #3059
@CalamityJames have you got an update folder?

[2016-01-21 14:32] aam1991 commented on #3061
I did it, But there is nothing fixed.

[2016-01-21 14:38] ghost commented on #3059
I'm not sure if it's related to cron but the readiness check will fail if the updater cron job is not running. Set up your cron as instructed [here](http://devdocs.magento.com/guides/v2.0/comp-mgr/prereq/prereq_cron.html).

[2016-01-21 14:39] ghost commented on #3059
And BTW, if you cloned the Magento 2 GitHub repo (as opposed to using `composer create-project` or a zip/tar), you cannot use System Upgrade anyway. [This topic](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/dev_options.html) should help you.

[2016-01-21 14:41] Oregand commented on #2104
+1 for this, gulp would make the development for the fronted JS & CSS much faster.

You guys have built an amazing project here with 2.0, lets just make it a tiny bit better!

[2016-01-21 14:41] mrkhoa99 commented on #3061
You can take a screenshot your terminal info after run this command line?
Try to delete folders:
+_var/cache_
+_var/page_cache_
+_var/view_preprocessed_
+_pub/static/frontend_
And run my command line again.
Also check permission and ownership: http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-01-21 14:42] Krapulat commented on #3059
@xcomSteveJohnson I'm logged in (supplying the keys) and the cron job is running fine. I installed magento 2 using composer create-project.

And I get: "Sorry, we can't take that action right now."

[2016-01-21 14:45] cscd98 commented on #2880
@mazhalai Well done :+1:

[2016-01-21 14:45] alankent commented on #2104
To be clear, is the request for Gulp because you want Gulp functionality, or the request for faster performance whatever way it is possible?  From comments it sounds like desire is for performance, not Gulp specifically.

[2016-01-21 14:47] fendowuk commented on #3059
@xcomSteveJohnson I installed magento 2 via composer create-project, the readiness check was fine, all cron jobs are running fine except /update/cron.php which errors "Could not open input file: /home/directory/public_html/update/cron.php" I presume that is due to the fact the update folder was not included in the installation. I have tried a fresh install and there is still no update folder inclu

[2016-01-21 14:47] ghost commented on #3059
Try running the updater cron from the command line and see if it reports an error.

[2016-01-21 14:48] ghost commented on #3059
@fendowuk Could be permissions? The updater _is_ included in `composer create-project` and the zip/tar. If it's not there, try adding it as [here](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/prereq_updater.html). Caveat, never tried that, don't know if it works.

[2016-01-21 14:49] ghost commented on #3059
@Krapulat You're getting this before the first step, the readiness check, correct?

[2016-01-21 14:50] Krapulat commented on #3059
@xcomSteveJohnson Yes.

![screen shot 2016-01-21 at 15 50 04](https://cloud.githubusercontent.com/assets/4441564/12483686/b4112f3a-c056-11e5-9cdb-1be784c8a98f.png)

[2016-01-21 14:53] CalamityJames commented on #3059
@xcomSteveJohnson Thank you. My colleague had installed it via Git (I usually install via composer) so the other method you described was spot on.

Might be worth referencing this in the [original link](http://devdocs.magento.com/guides/v2.0/comp-mgr/upgrader/upgrade-start.html) you provided?

[2016-01-21 14:54] ghost commented on #3059
OK, will do. Glad you worked it out. If I didn't mention it, we have an internal issue open to track a fix for this.

[2016-01-21 14:56] fendowuk commented on #3059
@xcomSteveJohnson I set permissions as outline after install. Is it not more likely to be the fact that the cron job is trying to open a file that doesn't exist? If there is no update folder and so no cron.php file included then the cron can't open it? I installed via composer but looking here https://github.com/magento/magento2 there is no update folder either?

[2016-01-21 14:59] thijsvanwinden commented on #2669
We applied all the above advices, but the problem remained. However one thing changed during our testing. The initial load is terribly slow, but after that an html copy of the page is saved and it loads in 150 ms.
The initial load however remains more than 20 seconds.

I know that the github issue tracker is used for technical issues, however I felt that this is both a technical issue and a config

[2016-01-21 15:00] aam1991 commented on #3061
![untitled](https://cloud.githubusercontent.com/assets/16762744/12483920/a82845e8-c068-11e5-8df9-6defc1add5dd.jpg)

You can see the attached screenshot

I did what you told me to do, and there is no change.

[2016-01-21 15:05] ghost commented on #3059
The updater is in a separate repository [here](https://github.com/magento/magento2-community-edition).

If you have no `<your Magento install dir>/update/cron.php` after installing via `composer create-project`, something went wrong.

Example:

[code]

[2016-01-21 15:08] markshust commented on #2104
@alankent grunt is an old tech, gulp is a newer one. there is no way to achieve even close to the performance of gulp with grunt. grunt : svn, gulp : git. it's like trying to make subversion faster than git, when it's not even remotely possible. grunt really sucks for frontend devs right now, it's aged (and already dead to frontend world). this just needs to happen.

[2016-01-21 15:09] ghost commented on #3059
@Krapulat What is the status with your upgrade? Any progress?

[2016-01-21 15:09] ezequielalba commented on #3037
Update of the issue: If a run the bin/magento static:deploy and after that i run grunt less:theme it gives no errors, but when watching isnt detecting the changes in the .less files of the theme.

[2016-01-21 15:10] Krapulat commented on #3059
@xcomSteveJohnson No, I can't upgrade the system. In my case cron works perfectly.

[2016-01-21 15:10] markshust commented on #1583
@pantaoran i have to think that a lot of code uses the old format, and they didn't have time to refactor everything before the 2.0.0 ga, and didn't want to release with 'deprecated' code. i'm guessing the recommended way to build controllers is still the last post by @antonkril

[2016-01-21 15:16] ghost commented on #3059
Only things I can think of:
-  Go to Component Manager and see if it thinks you're signed in. If not, try signing in and seeing if there is an error.
-  Generate another pair of authentication keys and log in with those.

If those things don't work, you'll get a response soon.

[2016-01-21 15:21] mrkhoa99 commented on #3061
Hello,

The last thing I can help:

Step 1. php bin/magento setup:static-content:deploy
Step 2. php bin/magento indexer:reindex
Step 3. make sure Apache "rewrite_module" is enable and then restart the server.
Step 4. delete cache folder under var/cache

http://magento.stackexchange.com/questions/64857/css-and-javascript-files-are-not-loading-after-magento-2-installation

[2016-01-21 15:31] Krapulat commented on #3059
@xcomSteveJohnson

· Inside Component Manager it thinks I logged in:

![screen shot 2016-01-21 at 16 25 24](https://cloud.githubusercontent.com/assets/4441564/12484812/4461027c-c05c-11e5-96ba-f0362d5c5027.png)

· I generated new keys, logged in with those but the same error.

[2016-01-21 15:32] maksymcherevko commented on #2750
I have the same problem, with Custome Grid and Catalog Search. After fault error they stay in "processing" status. Tried to change the status in the database (table: mr_indexer_state), then run again. Process start, but the result is the same.

![screenshot_40](https://cloud.githubusercontent.com/assets/16465396/12484816/ac46da1c-c064-11e5-8941-325c39059637.png)

[2016-01-21 15:38] csmarvz opened #3063 "php7.0.2 and phpseclib Deprecated Functionality: Methods with the same name as their class will not be constructors in a future version of PHP; Crypt_Base has a deprecated constructor in ...\vendor\phpseclib\phpseclib\phpseclib\Crypt\Base.php on line 121"
It seems that the version of phpseclib (~0.3) is too old for php 7 and doesn't use a constructor _constructor()

[2016-01-21 15:46] AeroBob93 commented on #2882
I have the same problem, with files are 664 and directories 755. the root folder (public_html) has 755 as well.

[2016-01-21 16:01] abdeldayem opened #3064 "Invalid login credentials when using magento connect manager"
I am the admin of my Magento community 1.9.2 I transferred my Magento installation from one Virtual machine to another new one with better performance , now I am trying to connect to the Magento connect Manager however I am always receiving the error message of Invalid login credentials, I deleted all users at the user section, I created a new admin user and tried several times with no luck, still

[2016-01-21 16:02] ifekaj opened #3065 "Upgrade to Magento 2.0.1 failed"
I attempted an upgrade from Magento 2.0.0 to 2.0.1 using the setup wizard. On the last step, after I click on the upgrade button it shows the message "System Update Status: Update pending". After a few minutes installation fails with the following output in console:

![error](https://cloud.githubusercontent.com/assets/16820573/12485877/2811d2a6-c09b-11e5-9f13-e23b79887fe1.jpg)

PHP version is 7.0.

[2016-01-21 16:03] tdgroot opened #3066 "Can't place order because Sequence::getNextValue() crashes"
Some information good to know:
- I "successfully" ported a Magento 1.7.x database to Magento 2. Everything works so far, except the order creation, which, is a showstopper.
- The following information is as far as I could get, but I simply don't have enough Magento 2 experience yet to find out what's going wrong.

The method `Magento\SalesSequence\Model\Sequence->getNextValue()` crashes.
It looks

[2016-01-21 16:41] katmoon commented on #3053
Hi rey8a,

Could you describe the exact steps how you create a configurable product?

Thanks,
Kateryna.

[2016-01-21 16:56] cscd98 commented on #2805
@markoshust

http://bugs.mysql.com/bug.php?id=79125

[2016-01-21 17:01] theGC commented on #3058
issue seems to be caused by missing symlinks when installing on a local Mac. Install goes ok but links don't exist.

Not an issue as when installing on a LAMP stack all is ok.

[2016-01-21 17:01] #3058 closed, assigned to nobody

[2016-01-21 17:10] cscd98 commented on #2750
@mazhalai I successfully re-indexed catalog search using PHP 7.0.2 and Magento 2.0.1. Cheers :+1:

[2016-01-21 17:27] #3061 closed, assigned to nobody

[2016-01-21 17:38] mazhalai commented on #2750
@craigcarnell thank you for confirming. Will close this issue.

@maksymcherevko is your indexer issue related to php7? If not please open a new issue. if it is related to php7, please try on the 2.0.1 tag mentioned above.

@sumanparihar this issue has been confirmed fixed, so closing this issue. Please re-open if it still persists.

[2016-01-21 17:38] #2750 closed, assigned to mazhalai

[2016-01-21 17:39] mazhalai commented on #2880
Closing this issue, please reopen if it persists.

[2016-01-21 17:39] #2880 closed, assigned to nobody

[2016-01-21 17:40] mazhalai commented on #3005
@tcmouse did you try on the latest [2.0.1 tag](https://github.com/magento/magento2/tree/2.0.1)? We have some fixes related to php 7 in there.

[2016-01-21 17:59] alankent commented on #2104
Background: I was brainstorming on this one a bit, browsing Gulp code etc. One of the issues is my personal ideal experience is to not have to list dependencies etc at all - why not have Magento work out what themes, locales, etc exist. I was trying to work out if getting something merged into Gulp was important vs doing something custom where it knows more about Magento's fallback schemes, theme

[2016-01-21 20:24] Quotacious commented on #2400
Yes, I'm also continuing the thread hijack, because there is nothing else coming up in Google Search.

I found the following advice on another site:

Change the below values in php.ini file to:
(if you are using php5-fpm, make sure you edit the correct php5.ini file)

max_execution_time = 1800
max_input_time = 1800
memory_limit = 1024M

If you are using php5-fpm, be sure to restart it or the memor

[2016-01-21 20:34] vrann commented on #2805
The following link provides solution which solved issue for me:
http://stackoverflow.com/questions/17813630/mysql-5-6-headaches-on-mac-osx

[code]

Please use it on development environment only.

[2016-01-21 20:59] mazhalai commented on #3065
@ifekaj is there any information in this file? `var/update_status.log`

[2016-01-21 21:06] mazhalai commented on #3064
This issues tracker is only for Magento2.  Please post in the relevant place for Magento1

[2016-01-21 21:06] #3064 closed, assigned to nobody

[2016-01-21 21:25] brendanfalkowski commented on #2104
For CSS, the order that libraries, resets, vars, mixins, utilities, layouts, patterns, modules, and pages are loaded matters. It can't follow an arbitrary order determined by PHP modules. If Magento 1 did this, none of the sites I've built in the last five years would work, be as maintainable, or as lean.

This is accurate. The people using Grunt today are invested in it previously. Every grunt vs

[2016-01-21 21:32] abdeldayem commented on #3064
I did not find a place for Magento 1.x connect to post that question , can you please help to show me where?

[2016-01-21 21:35] mazhalai commented on #3064
https://community.magento.com/ (you will need to create an account)

[2016-01-21 21:37] abdeldayem commented on #3064
Thanks , I already posted there my question and did not get a reply yet, I am trying here in case I might get a faster reply
ok, Appreciated

[2016-01-21 21:59] ktomk commented on #3018
Looks like it's not only missing sort order but also as the filter groups aren't properly mapped, does break and/or functionality in combining multiple search criteria with OR conditions as AND.

It would be nice to have one mapping object that is able to do the std. work on transferring the information of the criteria object parameter from the repository interface to standard resource collection

[2016-01-21 22:04] ktomk commented on #3011
instead perhaps suggest `generation:flush`. same perhaps true for the default mode. but I wonder if it's really necessary, the developer should foster the understanding, then the message is clear to understand. it's perhaps good to run once over it and question it. would not be possible if the message is being removed.

[2016-01-21 22:25] ktomk commented on #3000
isn't that a representation issue that can be easily (and properly) handled in CSS?

[2016-01-21 23:12] mswaidan opened #3067 "Upgrade from 2.00 to 2.01 stalls"
Hello-

Upgrade stalls on last step.

Contents of update_status.log:

[2016-01-21 12:31:04 EST] Job "maintenance_mode {"enable":true}" has been started
[2016-01-21 12:31:04 EST] Magento maintenance mode is enabled.
[2016-01-21 12:31:04 EST] Job "maintenance_mode {"enable":true}" has successfully completed
[2016-01-21 12:31:05 EST] Job "update {"components":[{"name":"magento/product-community-editi

[2016-01-21 23:17] mswaidan commented on #3056
@fperrin87 where did you create the empty .gitignore? at /var/www/magento2/vendor/magento/magento2-base/dev/tests/integration/.gitignore ?

[2016-01-21 23:21] mazhalai commented on #3067
Closing since this is a duplicate of #3065 and possibly #3056

[2016-01-21 23:21] #3067 closed, assigned to nobody

[2016-01-21 23:34] mswaidan commented on #3067
@mazhalai I created a new issue since the error in the log was different than that shown in both #3065 and #3056

That being said, for those of you that are getting the same error, the workaround presented in #3056 did allow me to install the update via composer, I think. I'm still getting the warning "Important: Install Magento Community Edition 2.0.1 for Security & Functional Updates – 1/20/2016

[2016-01-22 00:14] jibrandlr commented on #2691
@MomotenkoNatalia  The problem was LiveReload extension for Chrome had not been installed correctly. Now it is working ok

[2016-01-22 00:25] jibrandlr opened #3068 "Is it ok to just move my local magento 2 installation files to hosting server?"
Hi, I have a dev magento 2 installation on my PC. The store is ready to go live, can I just copy all files and DB to my hosting server, or I need to do something on the host side before/after copying files and db?

[2016-01-22 00:31] ideadx opened #3069 "Readiness Check while upgrade to 2.0.1 from 2.0.0 fails"
<img width="1436" alt="screen shot 2016-01-22 at 10 59 56 am" src="https://cloud.githubusercontent.com/assets/2369963/12499104/8817b3e4-c0f7-11e5-85ff-7fbb86faa94c.png">
![Uploading Screen Shot 2016-01-22 at 11.00.12 AM.png…]()

[2016-01-22 00:32] ideadx commented on #3069
<img width="1412" alt="screen shot 2016-01-22 at 11 00 12 am" src="https://cloud.githubusercontent.com/assets/2369963/12499110/9888a378-c0f7-11e5-867a-806c5dfd45a8.png">

[2016-01-22 00:35] ideadx commented on #3069
What does it even means?
Removing following files :
/mangeto2/var/.update_cronjob_status
/mangeto2/var/.setup_cronjob_status
makes no difference as it is shown here: http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/component-depend.html

[2016-01-22 03:27] bhavin88 commented on #2929
I am using the default mode. Still i am getting error in console.
Now all the files are generated again. Thank you very much.

[2016-01-22 04:01] davidalger commented on #3068
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-01-22 04:01] #3068 closed, assigned to nobody

[2016-01-22 04:16] rey8a commented on #3053
Hi Kateryna, here's the steps I take when creating a configurable product.
1. Product > Catalog
2. Add Product
   - Configurable Product
3. Input Product Details
4. Click "Create Configurations"
   4a. Select Attributes (Selected Attributes: Color, Size)
   4b. Select colors and sizes
   4c. Add images, price and quality
5. Generate Products
6. Click save and at this point I sometimes get the erro

[2016-01-22 04:26] ifekaj commented on #3065
[code]

In addition, both automatic and manual rollback attempts fail. Manual rollback fails at the database file

[2016-01-22 05:24] Git-Rajkumar opened #3070 "PHP Fatal error: Uncaught exception"
Hi ,
     i try to install magento in ubuntu 14.04 using vagrant , bit i got some error in my apache2  error log

[Thu Jan 21 14:53:41.700490 2016] [:error] [pid 1988] [client 192.168.56.1:36344] PHP Fatal error:  Uncaught exception 'Magento\Framework\Exception\LocalizedException' with message 'Can't create directory /var/www/magento2/var/generation/Magento/Framework/App/ResourceConnection/.' in /

[2016-01-22 05:40] mitul69 commented on #1299
Just Open the

MAGENTO_ROOT/app/etc/di.xml

and replace below code form line number 574

`<item name="view_preprocessed" xsi:type="object">Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink</item>`

**TO**

`<item name="view_preprocessed" xsi:type="object">Magento\Framework\App\View\Asset\MaterializationStrategy\Copy</item>`

[2016-01-22 06:14] vadariyanikunj opened #3071 "Fatal error: Class 'Cm_Cache_Backend_File' not found"
i upgrade 2.0.0 to 2.0.1 and try to run bin/magento setup:upgrade then showing below error.

Fatal error: Class 'Cm_Cache_Backend_File' not found in /opt/lampp/htdocs/magento/magento2test/vendor/magento/zendframework1/library/Zend/Cache.php on line 153

Anyone have idea then let me know.

[2016-01-22 06:23] ifekaj commented on #3065
Not sure if it's related, but I found this in my ssl_error_log:

[Fri Jan 22 12:25:30.783316 2016] [:error] [pid 1363] [client XXX.XXX.XXX.XXX:40393] PHP Warning:  fopen(/var/www/html/var/.update_error.flag): failed to open stream: Permission denied in /var/www/html/update/app/code/Magento/Update/Status.php on line 211, referer: https://www.example.com/update/index.php

[Fri Jan 22 12:25:30.785361

[2016-01-22 07:02] mackelito commented on #2104
Should really magento be pron of any of these tools?

I use gulp and would love to see this change from grunt.. but I think the "problem" runs deeper.. like the choice of less.. gotta say that I like scss better and would love to use that together with npm instead!

[2016-01-22 07:10] Pakkapao commented on #3068
@lgarridoj  http://devdocs.magento.com/guides/v2.0/howdoi/deploy/deploy-to-prod.html

[2016-01-22 08:02] dumidesign opened #3072 "Admin Dashboard blank page."
I'm getting a blank page after logged to admin panel.
I have an Windows 8.1 system with PHP 5.6.17, MySQL 5.6
But in M2CE admin panel working fine. this is only happen in M2EE.

![image1](https://cloud.githubusercontent.com/assets/1157326/12505375/60ab7830-c10c-11e5-9859-f856cffdf70d.jpg)
![image2](https://cloud.githubusercontent.com/assets/1157326/12505376/626fea66-c10c-11e5-80f5-b5409a86bc5d.jpg

[2016-01-22 08:02] OLTC-fperrin commented on #3056
@fperrin87 where did you create the empty .gitignore? at /var/www/magento2/vendor/magento/magento2-base/dev/tests/integration/.gitignore ?

Yes, and all the other places I mentioned in my reply on the post. Some were just directories missing

[2016-01-22 08:09] dumidesign commented on #3072
But in M2CE admin panel working fine. only this happen in EE.

[2016-01-22 08:12] katmoon commented on #2929
Thanks for posting the issue, Bhavin.
Internal ticket is MAGETWO-48218

[2016-01-22 08:19] simkea opened #3073 "Server Error 500 on System -> Web Setup Wizard"
Env: Debian Jessie, Apache, PHP 5.6.14
Magento CE 2.0.0 installed with GIT and composer. Frontend and Backend runs perfekt!

If i go into Web Setup Wizard i get this Error

[Fri Jan 22 09:10:38.351133 2016] [:error] [pid 1919] [client 94.79.145.147:59556] PHP Fatal error: Uncaught exception 'Exception' with message 'Notice: Undefined index: arguments in /var/www/kaphingst/mage2-shop/magento2/lib/i

[2016-01-22 08:32] shiftedreality commented on #2966
Hi @ovedmo

Could you please add here sample content that you try to edit?
I think, it might be encoding error with some special characters

[2016-01-22 09:19] jsakars opened #3074 "Different product URL when requested via crontab"
Having standard Magento2 setup `$product->getProductUrl()` return different values when called from admin and crontab.

Example:
from admin - `http://magento.dev/joust-duffle-bag.html`
via crontab - `http://magento.dev/catalog/product/view/id/1/`

The same applies for `$product->getUrlInStore()`.

Is this expected behaviour? I highly doubt it but if so - how to get the same URL via crontab?

[2016-01-22 09:24] jsakars commented on #2672
I am experiencing the same issue using Magento 2.0.1 CE

[2016-01-22 09:27] ovedmo commented on #2966
No change done, and english also...
בתאריך 22 בינו׳ 2016 10:33 לפנה״צ,‏ "Oleg Posyniak" <
notifications@github.com> כתב:

[2016-01-22 09:29] simkea opened #3075 "main.CRITICAL in system.log"
My ENV:
Debian Jessie, PHP 5.6.14, Apache, MariaDB 10.1.10, Magento CE 2.0.0 installed with GIT and Composer

Here is my shell-script for re-compile the mage2 stuff if i have changed my module:

[code]

Here can you see the output from shell-script:

Cache cleared successfully
File system cleanup:
/var/www/kaphingst/mage2-shop/magento2/var/generation/Composer
/var/www/kaphingst/mage2-shop/magento2

[2016-01-22 09:31] hrvojejurisic commented on #2104
Honestly... I've been bitching about this for more than a year now.

Less, sass, grunt, gulp, npm, post-processors... you may continue the sequence.
And who can guess what will be "hot" frontend tool or technology in the next couple of years?

IMHO, Magento shouldn't integrate pre-processing in the system at all.
I can see my self ( and most of frontend devs I know ) abandoning Magento 2 "best pra

[2016-01-22 09:40] maksymcherevko commented on #2750
@mazhalai , yes, php-7.0.2. Update to 2.0.1 helped. Thank's.

[2016-01-22 09:48] mackelito commented on #2104
Agreed! :) Perhaps we should create a open git repo for such a setup?

[2016-01-22 09:54] teuma86 opened #3076 "Translate Progress Steps"
I have noticed the progress steps in the checkout dont seem to be translatable. Unless I am missing something.

The template file Magento_Checkout/view/frontend/web/template/progress-bar.html has the line
data-bind"text item.title, click: $parent.navigateTo"

This is not translatable, however, even if it was, it will not translate, as it will look for translation for the string "item.title" not th

[2016-01-22 09:55] Krapulat commented on #3059
@xcomSteveJohnson now it works! and I've done nothing...

[2016-01-22 10:05] teuma86 opened #3077 "Translate Progress Steps"
I have noticed the progress steps in the checkout dont seem to be translatable. Unless I am missing something.

The template file Magento_Checkout/view/frontend/web/template/progress-bar.html has the line
data-bind"text item.title, click: $parent.navigateTo"

This is not translatable, however, even if it was, it will not translate, as it will look for translation for the string "item.title" not th

[2016-01-22 10:16] IceReaper commented on #2996
It worked after changing line endings to unix and encoding to utf8 in sublime - major problem here...

[2016-01-22 10:20] katmoon commented on #2929
Hi, Bhavin,

Could you clear browser cache and recheck if the error reproduces?

How did you [install Magento](http://devdocs.magento.com/guides/v2.0/install-gde/continue.html): from github, composer or downloaded from Magento site?

[2016-01-22 10:26] teuma86 commented on #3076
Duplicate

[2016-01-22 10:26] #3076 closed, assigned to nobody

[2016-01-22 10:30] teuma86 opened #3078 "Admin CMS Action Detail - no controller"
Hi

Within the admin panel CMS Blocks (and Pages)
When you click action, you see an option "Detail"
Clicking this takes you to the home page.
No Controller for detail exists for both CMS page and Block

This action option either needs to be removed or the controller needs to be added.

[2016-01-22 10:32] lisovski opened #3079 "Admin Grid (UI Component) - Remove columns from export"
Right now there is no way (I'm not sure) to remove columns from CSV/XML export using UI component. It would be good to have "is_system" config attribute in UI component (see Magento 1) to define the columns you don't want to export.

[2016-01-22 11:01] csmarvz commented on #3043
@ishakhsuvarov thanks for the fix.
Applied it to the official full release and worked

[2016-01-22 12:12] almarchenko commented on #2996
@IceReaper Thanks for sharing!
Did you originally copy the code sample from our docs or no?

[2016-01-22 12:19] IceReaper commented on #2996
Copied several things together (also some stuff from the docs). Goal was to do exactly this: http://magento.stackexchange.com/questions/93628/magento-2-remove-and-change-footer-links
Xml file kept not loading, tried so many things, wasted a whole day for this. So i used a sublime plugin to convert the file to utf8, unix line endings and then it suddenly worked.

[2016-01-22 12:20] almarchenko commented on #2996
Thanks!

[2016-01-22 12:50] Igloczek commented on #2104
@hrvojejurisic
I already rewrite `bin/magento static-content:deploy` to not process any styles (messy @magento-import fallback "thing" and other theme/module styles fallbacks) and to do not touch any files in `/lib/web` folder - this is time consuming and totally useless when you care about performance of your frontend stack.
Now I try to do as much as can to write Gulp tasks/configs to run all po

[2016-01-22 13:09] IceReaper commented on #3065
Also got the same problem. I must mention that i changed the default magento chmod to be less strict or magento2 wont work on my webspace. Maybe this is related? https://github.com/magento/magento2/issues/2571

[2016-01-22 13:27] #3043 closed, assigned to ishakhsuvarov

[2016-01-22 13:30] JIFFYmix opened #3080 "Feature Suggestion: Reports: Products Ordered Options"
I noticed that when an order is refunded, via a Credit Memo, the items in the order still show up in the Products Ordered report for that day. I understand that a Credit Memo does not mean the items were not delivered, so to take them out of all refunded transactions would create the opposite problem for any that were refunded after the product was delivered.

My thought is this: If an order is re

[2016-01-22 13:30] #2691 closed, assigned to MomotenkoNatalia

[2016-01-22 13:32] MomotenkoNatalia commented on #2683
Internal ticket MAGETWO-47214 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-01-22 13:32] #2683 closed, assigned to MomotenkoNatalia

[2016-01-22 13:33] MomotenkoNatalia commented on #2682
Internal ticket MAGETWO-46933 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-01-22 13:33] #2682 closed, assigned to MomotenkoNatalia

[2016-01-22 13:44] MomotenkoNatalia commented on #2479
@nhimxugia I close the issue for now. If you have further question to this issue please feel free to reopen

[2016-01-22 13:44] #2479 closed, assigned to MomotenkoNatalia

[2016-01-22 13:45] ghost commented on #3044
Yeah, +1 for Nexcess. Only been hosting with them for a week (as Site5 have no plans to update their MySQL to the level needed for Magento 2 support) and they've been fantastic! Helpful, knowledgeable and determined when it comes to solving problems too. Credit where it's due, right? :p

[2016-01-22 13:53] MomotenkoNatalia commented on #3000
@dfediuk  Thanks for reporting this issue! Internal ticket MAGETWO-48236

[2016-01-22 14:15] miguelbalparda commented on #3056
Exact same problem here. Why is the installation asking for .gitignore files on a non git installation?

[2016-01-22 14:21] jahvi commented on #3056
Just tried it and it didn't ask for gitignore files, composer update ran flawlessly after changing "magento/product-community-edition" to 2.0.1 so it's not happening all the time.

[2016-01-22 14:26] peternicholson26 opened #3081 "Magento 2 Upgrade to 2.0.1 Failed - Sorry, we can't take that action right now."
![screen shot 2016-01-22 at 14 24 47](https://cloud.githubusercontent.com/assets/7713722/12513147/27adc0d0-c114-11e5-8372-6ecbef40e4c0.png)
I was about to upgrade Magento 2 to 2.0.1 but get the following error on the system upgrade:

Sorry, we can't take that action right now.

I have signed in using my secure keys but still get the error. Anyone else having the same issue?

Cheers!

(https://clou

[2016-01-22 14:36] jaimestuardo opened #3082 "Upgrade procedure fails"
Hello...

I think this is a bug. I tried to upgrade from 2.0.0 to 2.01, however, the following error occurs:

[ErrorException]
chdir(): open_basedir restriction in effect. File(/home/depasa) is not within the allowed path(s): (/home/depasa/public_html:/tmp:/home/depasa/tmpsite:/opt/php5-6/lib/php:/opt/ferozo/etc/suspen:/opt/ferozo/suspended.page)

I know how to solve it, but, why does the script t

[2016-01-22 14:38] ghost commented on #3065
@ifekaj There is a message "update application is not running". This indicates your cron jobs aren't set up properly. See [this topic](http://devdocs.magento.com/guides/v2.0/install-gde/install/post-install-config.html#post-install-cron) for information about that.

You can also run the update cron job manually, but you'll need to run it manually until upgrade completes. I believe the command synt

[2016-01-22 14:56] markshust commented on #2104
The underlying issue imho is that Magento has tightly coupled PHP and JavaScript/CSS layers. These should be **_completely**_ decoupled. This is leading to a bigger issue with how the "glue" of the system is architected, with no clear-cut plan/roadmap to decouple it.

@hrvojejurisic has said it. We've all been talking about this for a while. I've just been getting pushback also. I'm hearing "this

[2016-01-22 14:57] markshust commented on #2672
@werdlv could be because this ticket is still in 'open' status and not resolved ;)

[2016-01-22 15:14] mazhalai commented on #2672
We have created MAGETWO-48243 to track a fix for this.

[2016-01-22 15:15] teuma86 opened #3083 "Address field prefix not drop-down on Checkout"
I have made the Prefix field dropdown for Mr, Mrs, Ms, Miss.

This works when altering / adding an address in the My Account Section.

but when I add new billing / shipping address in the checkout, it shows as a text field.

[2016-01-22 15:21] hrvojejurisic commented on #2104
Honestly, if my first Magento experience had been Magento 2, I would probably continue working with Wordpress or some other software.

[2016-01-22 15:34] OLTC-fperrin commented on #3056
@jahvi Good to know, go figure why it happens on some installs and not other...

@miguelbalparda git or non git installation I don't see why the update would need the .gitignore files to begin with... what's stranger are the last two errors asking for frontend/Magento and adminhtml/Magento directories

[2016-01-22 15:52] ifekaj commented on #3065
Thank you for your reply. I have this in my crontab file:

[code]

Crontab log file shows no errors as far as I can tell. Commands seem to be running fine

[code]

[2016-01-22 15:55] ishakhsuvarov commented on #3083
@teuma86 Thank you for reporting this issue. We have created an internal ticket `MAGETWO-48248` to fix this problem.

[2016-01-22 16:04] ishakhsuvarov commented on #3077
@teuma86 Thank you for reporting this problem.
This issue has already been fixed on the `develop` branch. Please see commit [9a49f89fe833ff514c1d9edd30862364c3573e33](https://github.com/magento/magento2/commit/9a49f89fe833ff514c1d9edd30862364c3573e33)

[2016-01-22 16:16] mazhalai commented on #1121
@HirokazuNishi it has been a while since you reported this issue. we haven't been able to reproduce this issue, so closing it. Please open a new ticket if you continue to have problems.

[2016-01-22 16:16] #1121 closed

[2016-01-22 16:26] mazhalai commented on #1561
@nja78  a fix for this issue has been merged a while back, so we are closing this issue for now. Please open a new issue if you are still experiencing problems.

[2016-01-22 16:26] #1561 closed

[2016-01-22 16:27] mazhalai commented on #1974
Closing since no response, and issue has been fixed.

[2016-01-22 16:27] #1974 closed

[2016-01-22 16:28] katmoon commented on #2790
Thank you all for your contribution.
Internal ticket has been created: `MAGETWO-47646`

[2016-01-22 16:33] Igloczek commented on #2104
@markoshust
Exacly! #letfrontendbefrontend
Mine WTF/min score reading grunt tasks was so high, because many of them are just wrappers to run `bin/magento` CLI... and then to know what really happens you have to digg in `Magento/Framework` or `Magento/Deploy` modules - not so front-end job at all :disappointed:

[2016-01-22 16:37] alankent commented on #2104
It was certainly a goal of standardizing on class attributes, zero inline style= attributes etc to allow advanced external folks to decide whether to use our CSS or go their own way. It was purposeful. We will not stop shipping a CSS solution that extension developers can depend on, but similarly if advanced frontend developers want to tune it all from scratch for a particular site (which I think

[2016-01-22 16:38] mazhalai commented on #3069
@ideadx anything in `var/.update_status.log`?

[2016-01-22 16:39] mazhalai commented on #3070
@Git-Rajkumar you need to give [correct permissions](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html) to the var directory. Closing since this is not a bug.

[2016-01-22 16:39] #3070 closed, assigned to nobody

[2016-01-22 16:40] mazhalai commented on #3071
@vadariyanikunj can you please give us steps followed to upgrade? Also, how did you deploy magento initially?

[2016-01-22 16:41] mazhalai commented on #3072
@dumidesign Please do not post EE related issues on github. Please report it via partner portal.

[2016-01-22 16:41] #3072 closed, assigned to nobody

[2016-01-22 16:42] mazhalai commented on #3073
@simkea Please clean your var folder and browser cache+local data and try again.

[2016-01-22 16:42] mslabko commented on #2790
Hello @mudithae, @jedjebari
Try to setup Sample Data from GitHub: https://github.com/magento/magento2-sample-data#deploy-sample-data-from-github-repository
Or if you want to setup with composer you need to set correct version for Sample Data package

Note, that for stable version for example  2.0.1 you can simple run bin/magento sampledata:deploy command

[2016-01-22 16:47] alankent commented on #2104
Hi @markoshust, "This is leading to a bigger issue with how the "glue" of the system is architected, with no clear-cut plan/roadmap to decouple it."  You are correct, there is no plan to drop support the segment of the market that does not want to engage a front end developer.

If someone can come up with a proposal where extension developers can release extensions that merge their required CSS in

[2016-01-22 16:48] mazhalai commented on #3075
@simkea Have you tried on the latest develop branch? Looks like it has been fixed in scope of #1795

[2016-01-22 16:54] mazhalai commented on #3074
@werdlv we have created ticket MAGETWO-48255 to investigate.

[2016-01-22 16:59] mazhalai commented on #3056
We have created ticket  MAGETWO-48256 to investigate.

[2016-01-22 17:01] alankent commented on #3044
Sorry, this issue tracking is for reporting code issues, not general discussions. Please use the Magento forums for this sort of discussion. Thank you!

[2016-01-22 17:01] #3044 closed, assigned to nobody

[2016-01-22 17:09] ghost commented on #2790
Hi all, documentation should be updated soon. I have had this issue as well. Meanwhile, you should be able to use this [readme](https://github.com/magento/magento2-sample-data#deploy-sample-data-from-github-repository) which is in the sample data GitHub repo.

[2016-01-22 17:13] jaimestuardo opened #3084 "System upgrade process MUST be improved"
Hello....

This is a request for URGENT improvements about system upgrade. I spent almost the whole day to upgrade from version 2.0.0 to 2.0.1. After several errors and rollbacks it was unable to upgrade.

The first exception was the following, which does not have any sense since Magento is trying to access user root directory:

[ErrorException]
chdir(): open_basedir restriction in effect. File(/h

[2016-01-22 17:25] buskamuza commented on #3082
Hi @jaimestuardo ,
could you, please, provide more information?
1. How were you doing upgrade (console or Setup Wizard, any other details)?
2. Where is your Magento root folder located? Is it in the user dir?
3. Do you use symlinks for anything inside Magento?

[2016-01-22 17:41] Oregand commented on #2104
"The underlying issue imho is that Magento has tightly coupled PHP and JavaScript/CSS layers. These should be completely decoupled."

Couldn't agree more.  Just offering the option of separating the front end development of the "Store" vs the Core PHP backend would make the world of difference for a smooth development process.

The call for gulp over grunt relates to this, as gulp is a better task

[2016-01-22 17:55] jaimestuardo commented on #3082
Hi Olga... here are the answers:

1.- Setup wizard. Just using System -> Web Setup Wizard option. After upgrade process started, the error is shown in console log area.

2.- Magento root folder is at public_html folder. Full path is /home/depasa/public_html, where /home/depasa is root folder for depasa user, so, it does not have any sense that magento tries to do something there.

3.- Just use sym

[2016-01-22 18:27] riswit opened #3085 "how to change the robots meta tag only in a static page"
After weeks of research, I feel here.

I want to set the robots meta tags - via XML - only in a static page, not all site.

what is the equivalent of this code in magento 2?

< reference name="head">
< action method="setRobots">< value>NOINDEX,FOLLOW</ value></ action>
</ reference>

Thank you!!

[2016-01-22 18:29] sydekumf commented on #2778
Any news on that? How do know when this is fixed?

[2016-01-22 18:37] alankent commented on #2104
Hi @Oregand, could you (or anyone else) write up your vision of how this would work? Feel free to email it to me at akent at magento dot com, or submit it in the "Just Ask Alan" area of the Magento forums. I am hearing a lot of desire, but I don't know what it means in reality. What would the experience be for extension developers, theme developers, and solution front end developers? I would be ge

[2016-01-22 18:42] vancoz commented on #3056
Hi @ksz2013, what kind of OS do you have?
Can you please list files from directories:
dev/tests/integration/ and vendor/magento/magento2-base/dev/tests/integration/ ?

If you have linux command can be:
$ ls -la vendor/magento/magento2-base/dev/tests/integration/
$ ls -la dev/tests/integration/

[2016-01-22 19:05] rhoerr commented on #2984
I'm experiencing this as well. The value decrypts fine on the config settings page somehow, but not if I call `getConfigData(...)` (even elsewhere on the same page request). Magento 2.0.1, PHP 7.0.2.

e: It's not to do with 2.0.1. I can reproduce it on a PHP 7 environment running 2.0.1, but not on a 5.6 environment running 2.0.1. May or may not be PHP.

[2016-01-22 19:17] vancoz commented on #3056
Hi @ksz2013, @fperrin87 how did you install 2.0.0? It is composer based or ZIP archive?

[2016-01-22 19:20] tanya-soroka commented on #3082
@jaimestuardo thanks you for reporting the issue. We have created ticket MAGETWO-48259 to investigate.

[2016-01-22 19:22] tanya-soroka commented on #3084
@jaimestuardo , We have created ticket MAGETWO-48259 to investigate.

[2016-01-22 20:01] tanya-soroka commented on #3081
Hello @peternicholson26. We have created MAGETWO-48262 ticket for the investigation.

[2016-01-22 20:12] ghost commented on #3006
Hi.  Now that I look at it maybe I merely have a permissions issue and it probably is not due to my composer install.  I'll close the ticket and I'll reopen with more detail if needed.  Thanks for your time.

[2016-01-22 20:12] #3006 closed, assigned to MomotenkoNatalia

[2016-01-22 20:15] tanya-soroka commented on #3059
MAGETWO-48262 ticket for investigation has been created.

[2016-01-22 20:22] buskamuza commented on #3082
Thanks for the answers, @jaimestuardo .

Just to confirm. Readiness check was all green, and the failure happens only during upgrade itself. Right?

UPD. Basing on https://github.com/magento/magento2/issues/3084 it's probably on the upgrade step itself.

[2016-01-22 20:35] tanya-soroka commented on #3055
Ticket for investigation has been created: MAGETWO-48266

[2016-01-22 20:40] buskamuza commented on #3084
@jaimestuardo , we're investigating the issue.
Do you still have full log from the cases when upgrade failed?
It would be really helpful to understand on which steps this happens. Under steps I mean the upgrade process itself (it can be on a stage of downloading the code or on applying SQL upgrades or something else), so the log may help us with this question.

Thanks in advance.

[2016-01-22 21:12] jaimestuardo commented on #3082
Yes... all green... and in fact, that is the only case when Next button is activated.

[2016-01-22 21:15] jaimestuardo commented on #3084
Where can I find a log of this process?

[2016-01-22 21:20] ghost commented on #2997
@cymbalrare I believe we're working on a communication about this now. See if [this](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/dev_add-update.html) works for you and let us know.

[2016-01-22 21:23] buskamuza commented on #3084
It should be in `var/update_status.log`.

[2016-01-22 21:29] jaimestuardo commented on #3084
There you are. This is the whole file that shows all tries of upgrading.

[update_status.txt](https://github.com/magento/magento2/files/101468/update_status.txt)

[2016-01-22 21:39] buskamuza commented on #3084
Thanks a lot!

[2016-01-22 21:44] buskamuza commented on #3084
@jaimestuardo , few more questions:
1. How did you install 2.0.0? Is it from an archive?
2. Do you have `dev/tests/integration/tmp` folder in Magento root?

[2016-01-22 21:51] sshrewz commented on #1317
@phphphp @klierik Since we have not heard back from you for quite some time, we will go ahead and close this issue.  If you have any updates, feel free to submit a new issue.

[2016-01-22 21:51] #1317 closed

[2016-01-22 21:53] monkeysee commented on #3081
Hi, @peternicholson26 , how did you originally get Magento 2 installed?  Through git clone or composer create-project?

[2016-01-22 21:56] sshrewz commented on #1550
@Galch24 is this issue still pertinent for you for 2.0.0 or 2.0.1?

[2016-01-22 21:57] monkeysee commented on #3059
@CalamityJames , Is this still a problem for you?  There is other discussion here and wanted to make sure your original issue is complete.

[2016-01-22 21:57] jaimestuardo commented on #3084
1. From an archive and then with the web installation wizard
2. I have created manually the tmp folder where the log says: /home/depasa/public_html/vendor/magento/magento2-base/dev/tests/integration/.

When upgrading, tmp folder was gone.

![magento-dir-integration](https://cloud.githubusercontent.com/assets/9195659/12524162/f93d6b12-c139-11e5-9406-a6e6a6cebfac.png)

[2016-01-22 21:57] sshrewz commented on #1572
@CoreyCole since we have not heard from you for quite some time, we'll go ahead and close this issue.  Feel free to reach out to us if you encounter any issues by submitting a new issue.

[2016-01-22 21:57] #1572 closed

[2016-01-22 22:01] sshrewz commented on #1609
MAGETWO-35679 has been fixed.  Feel free to reach out to us if you encounter further issues.

[2016-01-22 22:01] #1609 closed

[2016-01-22 22:03] smatric commented on #3081
Same problem here. I also have my keys added in the admin panel and filesystem permission, cron and ulimit set according to the documentation.

I installed magento from an archive (Magento-CE-2.0.0-2015-11-17-05-56-31.tar.bz2) using the Setup Wizard.

[2016-01-22 22:21] monkeysee commented on #3081
Thanks, @smatric can you and/or @peternicholson26 enable your browser's development mode? That will probably display a more specific error.

[2016-01-22 22:31] ark99 commented on #3069
@ideadx, please see if browser developer mode would show extra information in the server response that would help identify the cause?

Thanks!

[2016-01-22 22:33] Jedwards-Eric commented on #3084
Yeah my upgrade also broke and stalled.  Waste of many hours and I still haven't fixed it.  Does Magento have a public QA team to test these updates prior to release?  If yes I'm will to join to just to avoid this type of situation.

[2016-01-22 22:45] smatric commented on #3081
I've changed MAGE_MODE to developer in app/etc/env.php and I added SetEnv MAGE_MODE developer in .htaccess but I don't see any difference. However, if I look at the content of AJAX response from systemPackage, it says {"error":"Undefined index: name","responseType":"error"}

[2016-01-22 22:47] smatric commented on #3081
Also, following http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/were-sorry.html#updater didn't help:

$ composer install
Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Nothing to install or update

[2016-01-22 22:55] mazhalai commented on #3055
@jason-vivid  did you install via composer-create project via default packagist or repo.magento.com? Please run `composer install` within the `update` folder, and try again. Also, please add the following to your _root_ composer.json file

[code]

[2016-01-22 23:12] mazhalai commented on #3081
@smatric ~~anything in `var/.updater_status.log`~~ Please add the following to your composer.json file and try again

[code]

[2016-01-22 23:27] ghost opened #3086 "Cron error Undefined index: jobs and stuck in Magento installer"
After the data migration from Magento 1.9.1.0 to 2.0 I get the following error:

PHP:  syntax error, unexpected ')' in /usr/local/php56/bin/php56 on line 1

  [ErrorException]
  Undefined index: jobs

cron:run [--group="..."] [--bootstrap="..."]

I has nothing todo with the cron jobs, because I get the same error if I run "php -f bin/magento cron:run" from ssh.

Is gues this is a bug, does anyone

[2016-01-22 23:30] ark99 commented on #3059
@CalamityJames ,  did I understand correctly that your colleague did installation via "git pull" ? If so, you will have to do "git pull" to upgrade and then

"composer install"
bin/magento setup:upgrade

Thanks!

[2016-01-22 23:44] smatric commented on #3081
That help. Thank you @mazhalai!

[2016-01-22 23:46] alankent commented on #3059
Regarding "git", I just repeat in different places to help clarify how things work post GA, if you are doing a production site the official recommendation is use composer or the ZIP, not git clone/pull. (And yes, clearly we have some things to iron out with patching!) We do not recommend building production sites from git as the upgrade process is not guaranteed to work between arbitrary git commi

[2016-01-23 00:08] eddielau commented on #3065
Hi @ifekaj, there is an issue with PHP 7 and the Updater application. Please try this quick patch:
In your Magento root path/update/app/code/Magento/Update/Queue/Writer.php

Replace the content with:

[code]

[2016-01-23 02:49] cs221313 commented on #2996
After I debug the Theme.php file. I found my theme type is virtual. But the theme type should be physical.If the theme is virtual, this theme could not extend the parent theme. Does anyone know how to set the theme to physical?

Thanks a lot

[2016-01-23 03:23] tigerx7 opened #3087 "2.0.1 breaks out-of-stock configurable options disabled rendering"
After upgrading to 2.0.1, configurable options swatches aren't not acting the same. In 2.0.0, when an option of a configurable product with other in-stock options was out of stock and "Display out-of-stock" was enabled, the out-of-stock option swatch would still show but disabled with a red line across it.

After upgrading to 2.0.1, the out-of-stock swatch no longer shows at all. There were no iss

[2016-01-23 05:26] tigerx7 commented on #3087
After some debugging, I traced the issue to /Magento/Swatches/Block/Product/Renderer/Configurable.php https://github.com/magento/magento2/commit/b59734d32a8882e59caced35e12c8be3a45e104a

The issue seemed to have happened when getAllOptionsIdsFromAttributeArray() was refactored to getConfigurableOptionsIds(). What I figured was for optimization purposes, inadvertently changed the method of retrievi

[2016-01-23 05:58] ifekaj commented on #3065
Thank you for your reply. This solved my original problem, but now I have a new issue. Here is the information from `var/update_status.log` file:

[code]

[2016-01-23 07:12] gopalkumar315 commented on #2577
Thanks for this
@mazhalai please run bin/magento setup:static-content:deploy from command line.

[2016-01-23 07:33] Git-Rajkumar opened #3088 "Magento2 Installation incomplete"
Hello all,

[code]

[ERROR] exception 'Exception' with message 'Warning: SessionHandler::read(): open(/var/lib/php/session/sess_l9vbth9digapbu2rgigkuv0i17, O_RDWR) failed: Permission denied (13) in /var/www/html/magento2/vendor/magento/framework/Session/SaveHandler.php on line 74' in /var/www/html/magento2/vendor/magento/framework/App/ErrorHandler.php:61
Stack trace:
#0 [internal function]: Magent

[2016-01-23 07:55] driiftkiing commented on #3081
Same problem, tried this one : http://devdocs.magento.com/guides/v2.0/comp-mgr/upgrader/upgrade-start.html

Installed magento with wizard.

[2016-01-23 09:21] Git-Rajkumar commented on #3070
@mazhalai   thanks for your reply, yes its works for me..

[2016-01-23 09:47] malaiselvan commented on #3081
Same problem. None of the solution provided in this [link](http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/were-sorry.html) is not helping...

Below is my composer.json file.

[code]

Installed Magento 2.0 via Composer + downloaded zip file from magento website.  Migrated the data from 1.9.1.0....

Struggling for almost a week to upgrade... No luck...

@tanya-soroka Any update on this

[2016-01-23 10:13] Igloczek commented on #2104
@alankent
We already have "CSS merging hell" in M1, this not god way (but I get your point).
Especially with non-strict rules about creating modules. If module devs "might" do something, they probably wouldn't do it (when they are not convinced to it i.e. because of complexity) and whole mysterious of "Magento UI" might gone away.

Overall idea of structure is good, but not ideal.
Let's assume tha

[2016-01-23 11:09] ghost commented on #3086
I have checked the cron log and it says that always_populate_rawdata = 0, however I'm 100% sure that the value is -1 according to my php log (http://www.db6479.web44.ixl.nu/phpinfo.php)

{
    "readiness_checks": {
        "db_write_permission_verified": true
    },
    "php_checks": {
        "php_version_verified": {
            "responseType": "success",
            "data": {
                "r

[2016-01-23 11:20] niclashoyer commented on #2056
the js-translation.json is generated correctly. Using the JavaScript debugger we just discovered that `$t` seems to be called **before** any translations are loaded.

[2016-01-23 12:14] hans2103 opened #3089 ""Select All" in Cache Management does not work"
Magento 2 > Store > Cache Management
I want to be able to use Select ALL. I press the Dropdown button to view the options. The drop down does not appear.
There are no JS errors.

![m2-cachemanagement-selectall](https://cloud.githubusercontent.com/assets/639822/12530096/e86d42f0-c1d2-11e5-8102-f1d99d7d4d93.gif)
(gif created with http://www.cockos.com/licecap/)

[2016-01-23 13:19] peterjaap commented on #2523
+1 Just ran into this as well. The installer for sample data should just read out ~/.composer/auth.json. That's what its for.

[2016-01-23 13:32] ktomk commented on #2523
@peterjaap: I also checked composer sources this morning because of the topic complex, there is the other option you can place `auth.json`  next to `composer.json` (in the same directory that is where the Magento 2 project resides). This makes it immune to the new COMPOSER_HOME.

It would be good to learn why the change of the composer home directory was introduced in the first place.

[2016-01-23 14:43] ghost commented on #3086
It's common to have two `php.ini`, one for the PHP CLI and one for the web server. To determine which one you need to edit, use a [`phpinfo.php`](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/optional.html#install-optional-phpinfo) file to find the **Loaded Configuration File**.

Please let us know if this helps.

[2016-01-23 15:30] ghost commented on #2762
Hi @slavvka  Actually i am trying to add a new tab containing Form fields in Admin customer edit section. I have created tab successfully  with form. But when i am submitting save Customer or Save and Continue button, I am not able get the record of my form Neither in Customer Save Controller nor in Observer.

Thanks

[2016-01-23 17:49] redinn opened #3090 "Strange block appearing at the top of page"
Hi, I'm getting а weird issue when try to open one product ( Karissa V-Neck Tee ).
In order to reproduce this issue please do the following:
1. Navigate to Women-->Tops
2. Select any Size in layered navigation (XS or XL)
3. Open "Karissa V-Neck Tee" product

After that, I'm able to see additional block at the top:
![image](https://cloud.githubusercontent.com/assets/8018308/12531702/84334376-c212-1

[2016-01-23 17:54] refaelgold commented on #3081
i got this error

[code]

i really try to do all but i cant upgrade magento 2.0.0 to 2.0.1

[2016-01-23 18:26] sachan-amit commented on #2926
When I am trying to import catalog, I get this error. Validation process is completed successfully but could not import records due to above exception.

[2016-01-23 18:34] alankent commented on #2104
Hi @Igloczek - thanks for this! One question, you mention different themes use different modules - how? Currently modules are globally enabled. Do you do this by changing the layout file to not reference the module? Or something else?

I am thinking through an approach where I think we can get it so you can use 100% gulp/grunt/whatever for CSS generation, but I wanted to make sure I support this u

[2016-01-23 19:01] astorm opened #3092 "Permissions Error When Running `bin/magento setup:upgrade`"
Sometimes, with developer mode enabled, when I run `bin/magento setup:upgrade`, the script bails with the following error message.

Extra confusingly, this error persists even if I give **every** file in `pub/static` full user/group/world read/write/execute permissions.

The problem appears to be symlinks.  When Magento does its recursive permission check in

[code]

It appears to resolve any syml

[2016-01-23 19:04] MonteShaffer opened #3093 "Currency conversion (multi-API support)"
In Magento2, the webserviceex seems to constantly time out.

This seems to me to suggest a need for an option to select one or more services (possibly with a backup).  It could be integrated into a cron task, which is currently configured "D"aily for webservice

See:  http://stackoverflow.com/questions/3139879/how-do-i-get-currency-exchange-rates-via-an-api-such-as-google-finance

This contains se

[2016-01-23 19:06] tigerx7 commented on #3090
I ran into this same issue. It's happening because html tags are getting included in the META description. Whenever META description is empty, at some point in saving the product, the description automatically gets copied into META description but the html tags are not cleaned out thus creating the issue you see.

[2016-01-23 19:17] MonteShaffer opened #3094 "Store settings Import/Export feature"
I turned on the MYSQL.log to see what was going on as I was saving parameters in the store-configuration settings.

Most variables are stored in the core_config_data table, such as:

[code]

And then for some reason, an object of settings is mapped as a serialized array for the default user:

[code]

Some of the above is just section-level settings, and some is the actual within-section settings.

[2016-01-23 19:21] MonteShaffer commented on #3094
Another note:

currency => exchangeapis => webservicex => {json object of settings}
currency => exchangeapis => google => {json object of settings}
currency => exchangeapis => yahoo => {json object of settings}

timeout is a feature of the webservice api, but each API may have specific settings.

For example, APIs may require key/value authentications, or a flag to "parse" as discussed in #3093

[2016-01-23 19:50] Igloczek commented on #2104
@alankent I mean real use of modules (if we display it on front). Your example of "hiding" it in theme scope via layout change was right.

This approach makes modules not depended on theme variables or even Magento UI (or I missed some point). Current idea of having module styles as partials (to be imported during styles processing) is much better, but requires some manual work or extra logic, to

[2016-01-23 20:36] alankent commented on #2104
@Igloczek I think it got it, if CSS importing was associated with blocks for example (this might be a bad idea due to number of blocks?) then a layout file in a theme that removed a block would automatically result in the CSS not being included (if that block was the last reference to the CSS files). You might have more little CSS files, but If you merge the CSS files later maybe that is okay.

I

[2016-01-23 21:49] vancoz commented on #3065
Hi @ifekaj we are working on this issue in scope of https://github.com/magento/magento2/issues/3056 solution will be provided very soon. Thank  you.

[2016-01-23 22:11] vcpawate opened #3096 "No data appread even after successful data migration"
I am migrating magento from 1.9.0.1 to Magento 2.0.1, using Magento Data migration tool,

Data migration tool executed with no error, but I cannot see any data in magento admin backend,

I have cleared cache, reindexed. I can see data in database, but no data appeared on Magento admin panel,

Please help

[2016-01-24 00:13] Igloczek commented on #2104
@alankent Unfortunately, there is no one good solution for handling styles - OOCSS, ACSS, BEM, SMACSS... and probably few more and variations of them, excluding "no methodology" style, like we have right now in Magento :)

And there is main problem - we have to care about CSS selectors, especially order and specificity of them. Without any strict methodology, witch makes selectors unique, this wou

[2016-01-24 00:28] robfico opened #3097 "Upgrade 2.0.0. to 2.0.1 deletes files in pub/media/import"
Installed tar.gz for 2.0.0 with sample data with web root of /pub. I put images in pub/media/import.

Ran following commands to upgrade to 2.0.1:

[code]

After upgrade, all image files in pub/media/import were gone. Not sure if this should happen or not, but I would assume it should not.

[2016-01-24 05:30] smatric commented on #3081
Here are the steps I had to follow to upgrade Magento 2.0.0 to 2.0.1. I hope this will help others.

1) I had to remove data-migration-tool dependency. In composer.json I replaced this section:

[code]

with the following config:

[code]

Then I ran:

[code]

and:

[code]

This step takes care of `Sorry, we can't take that action right now` error.

2) Then I had to create some missing `.gitignore`

[2016-01-24 05:53] sachan-amit commented on #2926
[code]

[2016-01-24 06:08] dmitrii-fediuk opened #3098 "The Magento_CurrencySymbol module contains not only the «Currency Symbols» functionality but the «Currency Rates» functionality too which is inconsistent with the module name"
https://mage2.pro/t/372

[2016-01-24 09:02] redinn opened #3099 "XML Sitemap contains non-canonical URLs"
Sitemap.xml has been genetated, but contains non-canonical product links.

For instance few lines from sitemap.xml:
http://mysite.com/women/tops-women/tanks-women/zoe-tank  (full path, non-canonical)
http://mysite.com/nora-practice-tank (canonical)

All sitemap links should be equal to the canonical product links

Could someone please have a look at it.

[2016-01-24 10:01] dmitrii-fediuk opened #3100 "The Magento version number is 2.0.0 in the "develop" branch but should be not less than 2.0.1 because it is newer than the stable branch"
https://github.com/magento/magento2/blob/develop/composer.json#L5
https://github.com/magento/magento2/blob/2.0.1/composer.json#L5

[2016-01-24 10:55] dmitrii-fediuk opened #3101 "Frontend wrongly shows a default price in a product list and a product view for a customer with a custom tier group price specified"
https://mage2.pro/t/544
https://community.magento.com/t5/Just-Ask-Alan/Group-pricing-on-Magento-2/m-p/26734

[2016-01-24 11:05] rudik99 opened #3102 "Cart SubTotal Error"
When Display Sub-total = Including Tax per the below

![screen shot 2016-01-24 at 10 01 34 pm](https://cloud.githubusercontent.com/assets/9780829/12535867/1af321d6-c2e6-11e5-9efc-ae4bd5f90e08.png)

The mini-cart sub-total is not show:

![screen shot 2016-01-24 at 10 03 22 pm](https://cloud.githubusercontent.com/assets/9780829/12535874/6142cf56-c2e6-11e5-9722-2f3517f984e1.png)

Error shown in the c

[2016-01-24 11:11] rudik99 opened #3103 "Text Swatch, can't turn off "Visible on catalog pages""
On Text Swatch Attributes - i have found that you cannot turn off the "Visible on Catalog Pages on Storefront".

![screen shot 2016-01-24 at 10 06 33 pm](https://cloud.githubusercontent.com/assets/9780829/12535897/06c833b2-c2e7-11e5-839e-bb5191de30d0.png)

For Visual swatch this does work.

I believe this is a bug. I have tested on 2.0.1 & 2.0.0 clean / free install.

[2016-01-24 13:07] mudithae commented on #2790
Hi All,

Thanks for your contribution to resolve this. I think with the @katmoon, @mslabko and @xcomSteveJohnson replies I can consider this this as solved.

Regards,
Muditha

[2016-01-24 13:50] ihor-sviziev commented on #3100
:+1:

[2016-01-24 15:26] Pakkapao commented on #2938
I also got the same javascirpt errors when turning on javascript minification. It still remains in Magento 2.0.1...

[2016-01-24 16:09] ktomk commented on #2523
The more I think about the var/composer_home dir, the less it makes any sense. For example, the deploy command to add the sample data is actually changing the composer.json file. So there can't be a reason to not create the auth.json file right next to it, too. And that's the file that I have identified as the only reason why the comoser home directory is changed. Looks more and more like the deci

[2016-01-24 16:21] hgpit opened #3104 ""Serialization failure" when trying to import products"
CentOS 6.7
Apache 2.2
PHP 7.0.2
MariaDB 10.1
Magento 2.0.1

Just tried to import a 72MB product file, but it bombs out after about 10 mins with:

"
General system exception happened
Additional data: SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: INSERT INTO `catalog_category_product` (`product_id`,`category_id`,`position`

[2016-01-24 16:33] hgpit opened #3105 "$(html) HTML strings must start with '<' character"
According to this post: https://github.com/magento/magento2/issues/1936, this should be fixed, but I am seeing it in Magento 2.0.1 today:

![image](https://cloud.githubusercontent.com/assets/16598973/12537473/100fc98c-c2b8-11e5-9d71-3b93dd4a2fbf.png)

[2016-01-24 17:24] 0x1ad2 commented on #1299
Fixed it by running
`
php bin/magento setup:static-content:deploy
`
on the command line

credits: http://magento.stackexchange.com/a/48896

[2016-01-24 18:05] degaray commented on #2991
The problem comes here: `Magento\Quote\Model\Quote\TotalsCollector::collect` because all totals are set to zero and then all totals are calculated per address set. Since no address is set, then no totals are calculated, and as result, it does not calculate any total.

[2016-01-24 18:16] Raysharr commented on #2614
I have same issue as well. I cannot log in with chrome, even after clearing all cache's. Only firefox works for me, but after loging in via firefox I get this message in info box "One or more indexers are invalid. Make sure your Magento cron job is running.". Could someone help with it?

I am working on OSX El Capitan, PHP 5.6.1, MySql 5.6.25 on MAMP PRO.

[2016-01-24 19:17] tigerx7 opened #3106 "Magento Search form-mini auto-suggest clicks not working, problem in form-mini.js"
I was experiencing intermittent issues with clicking on the auto-suggested terms dropdown on the site search. Sometimes it would work, other times it wouldn't.

I traced the issue to: Magento / Search / view / frontend / web / form-mini.js with the click handler for the responseList.

It is assigning the selected element as so:

[code]

and on submit, it is locating the search term with the follow

[2016-01-24 19:45] ktomk opened #3108 "Magento2 Setup Commands Change $COMPOSER_HOME"
The [`COMPOSER_HOME` _environment_ variable](https://getcomposer.org/doc/03-cli.md#composer-home) is unnecessarily changed by **Marketplace** for local authentication storage.

Albeit local authentication storage is possible w/o changing the user-configured COMPOSER_HOME, the `auth.json`  file must only be written next to the `composer.json` file.

It's not Magentos business to tamper with the use

[2016-01-24 19:53] ktomk commented on #3108
Some references:
- Report in #2523
- From reviewing a more severe PR fixing problematic file-access to auth.json: #3095
- Smaller cache-restoration fix PR that is superfluous when changes to COMPOSER_:HOME have been removed but should help already today to reduce the impact: https://github.com/magento/composer/pull/1
- Benefits of using the local `auth.json` file (and the tip to put it to `.gitign

[2016-01-24 20:47] hgpit opened #3109 "Store image in DB doesn't seem to work"
CentOS6.7
PHP7
M2.0.1

Hello,

On a clean system I have configured M2 to store product images in its database.
Then I run a product import but all images still get stored under pub/media/catalog/product...

Am I missing something?

[2016-01-24 21:13] freshface opened #3110 "Zend_Db_Adapter_Exception when running terminal command"
When i try to run`php bin/magento indexer:info`
I get following error:

![screen shot 2016-01-24 at 22 12 12](https://cloud.githubusercontent.com/assets/103913/12538952/8e6f98e6-c2e7-11e5-81b3-585d72f7c608.png)

Any suggestions on how to fix this?
The storefront and backend are working.
I installed it in Mamp Pro.

Regards

[2016-01-24 22:47] urbancrew commented on #642
:+1:
Just like this:
http://demo.wizkunde.nl/configurable-bundle/my-bundle-product.html

[2016-01-24 23:56] brendanfalkowski commented on #2104
Exactly, this is why frontend devs are repeatedly claiming Magento 2 will be a lot better if we disregard the entire CSS provided, and start from scratch with a platform-agnostic un-coupled workflow. We know this won't include theme fallback, and that's a bonus because frontend devs doing custom work really don't want to have fallback in CSS anyway.

Exactly the same problem with installation as a

[2016-01-25 00:46] lookinglavish opened #3111 "Index Management not Updating"
When updating Index Management it doesn't seem to properly execute the function.

After I "update on save" i get the following message: 9 indexer(s) are in "Update on Save" mode and also the "status" doesn't change at all remains as "ready". It seems like nothing processes. The hosting company was successful updating it through the command line.

Thanks!

[2016-01-25 01:13] fooman commented on #2104
@brendanfalkowski

I would disagree with this statement and even go as far to say that a big proportion of sites do not have specialist frontend/backend developers (if they have a developer to start with). Granted these are not big merchants but there are a lot of them out there.

[2016-01-25 01:24] beckzg opened #3112 "2.0.0 to 2.0.1 failed"
Hi,

  i tried to upgrade my clean 2.0.0 install to 2.0.1 with system update, but it fails:

[2016-01-25 01:57:06 CET] Job "maintenance_mode {"enable":true}" has been started
[2016-01-25 01:57:06 CET] Magento maintenance mode is enabled.
[2016-01-25 01:57:06 CET] Job "maintenance_mode {"enable":true}" has successfully completed
[2016-01-25 01:57:06 CET] Job "update {"components":[{"name":"magento/

[2016-01-25 01:35] mrcarl79 opened #3113 "2.0.1 Upgrade errors and unable to restore, bricked VM, frustrated!"
Hi,

I had a development Azure Ubuntu VM with Magento 2, installed by extracting the archive and running the online setup wizard.

Today tried upgrading using the System Upgrade to disastrous consequences.

[code]

I had followed the steps and taken the backups before the upgrade.

However after the error, the rollback button did nothing.

I tried again reloading the page but the rollback button n

[2016-01-25 01:36] brendanfalkowski commented on #2104
@fooman — That's a fair point. For Magento 1, I would agree. Even though stores with no developer support were really setting themselves up for failure by choosing Magento. I saw plenty of my themes bought by people who really should have been on Shopify.

For Magento 2, I think the platform itself has quietly pushed those people aside. It's a lot less friendly even to beginner and intermediate de

[2016-01-25 01:52] alankent commented on #2104
Personally I don't think the platform has pushed aside the low end. We don't have the receipies in as common knowledge yet, not having marketplace launched yet is a delay, but I truly believe by say Imagine it is going to be pretty slick for people without devs. We started with the higher end, and the very bottom you have players like zoey commerce (built on Magento, so easy to upgrade later), but

[2016-01-25 04:38] aerrowsathish opened #3114 "I am getting cache flush error"
I am ran composer update and after that i went to run cache flush i am getting these errors.i am using php 7.0
![error](https://cloud.githubusercontent.com/assets/2311003/12542608/8501f222-c34b-11e5-8a7e-d7ffe15567e9.png)
![errorcmd](https://cloud.githubusercontent.com/assets/2311003/12542609/874b6ee6-c34b-11e5-8ed1-fe7cb7e85b00.png)

[2016-01-25 05:20] barbanet commented on #3056
Just to add a little bit more of information.
First I've got a 2.0.0 installed using Composer. The upgrade fails. The console says that it was a problem with package "magento/product-community-edition": "2.0.1".
Then I've made a fresh install of 2.0.0 from zip. After that I've tried to update to 2.0.1 with Web Setup Manager and I've got the same error.
Until now I haven't been able to perform a co

[2016-01-25 05:49] aerrowsathish commented on #3114
i corrected it . I cleared all the contents in var/cache it worked

[2016-01-25 05:49] #3114 closed, assigned to nobody

[2016-01-25 06:31] ashishnai opened #3115 "Translation collect-phrase command giving Parse error with PHP 7"
Using below mentioned command

**bin/magento i18n:collect-phrases -o "translation.csv" MAGENTO_ROOT_PATH**

gives

**PHP Parse error:  syntax error, unexpected 'The' (T_STRING), expecting ';' in /var/www/html/setup/src/Magento/Setup/Module/I18n/Dictionary/Phrase.php(274) : eval()'d code on line 1**

I have tried the command on environment with PHP 5.5 and it works well. Possible reason for this er

[2016-01-25 07:23] teuma86 commented on #3077
Excellent, thank you.  I will close this issue.

[2016-01-25 07:23] #3077 closed, assigned to ishakhsuvarov

[2016-01-25 07:24] simkea commented on #3073
Sorry, but i clean complete var and my local cache. i get always the same error from apache/php

[code]

[2016-01-25 07:27] apychan opened #3116 "Price decimal mark replaced to [object Object] (Locale problem)"
I got price format problem at product detail page after I change my store locale to Chinese (Hong Kong SAR China) (zh_Hant_HK").
There are no problem if I use English(US).
And I have tried different theme or use php5.6, but results are same

For example, I have one $123.45 product are listing, If I change to Chinese (Hong Kong SAR China), the price decimal mark will replaced like $123[object Objec

[2016-01-25 07:33] emizentech opened #3117 "jQuery in custom extension did not work some times if it fire before default jQuery"
I want to use jQuery code in my custom extension and i am using require as below

require([
    'jquery',
    "jquery/jquery-ui",
    'domReady!'
], function($){
    `use strict`;

// my code here

});

after using strict the console error of jquery not defined is resolved.
But if my code fires before
JQMIGRATE: Logging is active
than my code did not work

it happens many times like 50% time my co

[2016-01-25 07:39] dmitrii-fediuk opened #3118 "webservicex.net currency converter can return -1 in case of its internal failure (I saw it on 2016-01-01 while converting USD => EUR) but Magento 2 does not check for the -1 result"
https://mage2.pro/t/374

[2016-01-25 07:53] lewbor opened #3119 "Error in FileTest"
In file dev/tests/integration/testsuite/Magento/Framework/Filesystem/Driver/FileTest.php: method testCreateDirectory: $this->assertTrue($this->driver->createDirectory($generatedPath, '755'));

Directory permissions is incorrect, it must be $this->driver->createDirectory($generatedPath, DriverInterface::WRITEABLE_DIRECTORY_MODE)

[2016-01-25 07:57] OLTC-fperrin commented on #3056
@vancoz I've installed Magento from the archive: Magento-CE-2.0.0+Samples.tar.gz
I had run the composer update successfully before though

[2016-01-25 08:00] simkea commented on #3075
Okay i pulled the last develop and now is the log clean.

[2016-01-25 08:00] #3075 closed, assigned to nobody

[2016-01-25 08:01] dmitrii-fediuk commented on #3117
Try to place your initial JavaScript inside `x-magento-init`: https://mage2.pro/t/145

[2016-01-25 08:05] simkea commented on #3100
The version displayed in backend is incorrect [latest develop branch]

[2016-01-25 08:09] dmitrii-fediuk commented on #3090
https://github.com/magento/magento2/issues/2295
https://mage2.pro/t/161
https://github.com/magento/magento2/issues/1514

[2016-01-25 08:12] dmitrii-fediuk commented on #3052
https://github.com/magento/magento2/issues/2300
https://mage2.pro/t/176

[2016-01-25 08:29] cs221313 commented on #2996
After debugged the code. I got the reason why I can not extend my theme. It's because my type is 1 which is virtual type. I changed it to 0 which is physical type. It works now.
![image](https://cloud.githubusercontent.com/assets/8097168/12545947/6b90c760-c381-11e5-87dd-a3db150c5957.png)

But the question is this type value is assigned automatically when I created that theme. I can not change it a

[2016-01-25 09:38] pncookson commented on #3113
Hi Mr Carl,

I share you pain.  I'm having trouble with the update as well.

I appreciate you may not have the magento files etc to make this work but just in case here is what I did after a failed update.

Change to the magento folder. user this command...

./bin/magento setup:rollback -c 1453677190_filesystem_code.tgz -m 1453677190_filesystem_media.tgz -d 1453677190_db.gz

Details here
http://de

[2016-01-25 10:01] simkea opened #3120 "Compile Error -> setup:di:compile-multi-tenant"
Env: Debian Jessie, Magento2 Git latest origin/develop (no custom modules)

$> rm -rf ./var/generation
$> sudo -u www-data ./magento setup:di:compile-multi-tenant

PHP Warning:  ltrim() expects parameter 1 to be string, object given in /var/www/kaphingst/mage2-shop/magento2/lib/internal/Magento/Framework/Code/Generator/EntityAbstract.php on line 152

PHP Notice:  Uninitialized string offset: 0 in

[2016-01-25 10:03] simkea commented on #3073
Okay... i removed my custom module and re-compile etc...
now i get another Error

[code]

[2016-01-25 10:09] antboiko commented on #3085
Hello @riswit , you can include this < meta name="robots" content="NOINDEX,FOLLOW"/ > into the < head > < /head > section.

[2016-01-25 10:15] peterhirn commented on #3033
I upgraded to 2.0.1 and the issue is gone.

[2016-01-25 10:15] #3033 closed, assigned to nobody

[2016-01-25 10:15] simkea commented on #3073
When I call the address http://DOMAIN/setup/, then I get this error message in addition

[code]

[2016-01-25 10:27] dsingleton47 commented on #2104
+1

I agree with many of the comments here, personally I prefer Gulp over Grunt, but honestly speed is more important to me than the specific technology.

I was really hoping M2 would get out of the way of front-end developers, but it seems you've found a way to make it more opinionated than ever. Lets take the LESS fall-back as an example as well as being over engineered, you've effectively tight

[2016-01-25 10:28] simkea commented on #3073
[solved] Okay... i clean ./var/ and runs NOT more re-compile and now i can access without error.

BUT why?
If I'm doing this, I always get the error afterwards:

sudo -u www-data bin/magento setup:upgrade
sudo -u www-data bin/magento setup:di:compile
sudo -u www-data bin/magento setup:static-content:deploy

[2016-01-25 10:28] katmoon commented on #3111
Hi,

In Magento 2 Index Management page serves only to change indexers mode.
Reindex no longer can be run from Admin, unlike Magento 1.

Usually in Update on Save mode you don't need to run reindex from command line until you get a system message that reindex is needed. This can happen if you perform a major update, e.g. delete a store, that requires significant resources to update indexes. In thi

[2016-01-25 10:31] ishakhsuvarov commented on #3102
@rkhoury82 Thank you for reporting this issue. Currently we were unable to reproduce it with the provided information. Could you please provide more detailed steps to reproduce, e. g. settings you have changed, product type you are using?
Thanks.

[2016-01-25 10:41] grasdaggel opened #3121 "No admin user after installation"
Dear dev team,

after we tried today install Magento we found that the setup installer hasn't created a new user in the admin_user database, and there are also no pointers to the other admin_XXX tables.

I can provide all necessary logs if needed. In the meantime I'd like to know:
- how shall passwords be stored if account is created trough DB? (MD5, SHA1, ???)
- how can I fix this problem?

Kind

[2016-01-25 10:43] rudik99 commented on #3102
Hi @ishakhsuvarov thanks for looking ! I have attached the other tax settings. In Australia all prices must be displayed with taxes, hence why I have everything displayed with tax including.

This was a clean install, i just changed these tax settings attached and created 1 configurable product with some variations.

![screen shot 2016-01-25 at 9 38 02 pm](https://cloud.githubusercontent.com/asset

[2016-01-25 10:48] zanilee commented on #2978
Hello, @lookinglavish!

[Magento doesn't recommend to modify Luma or Blank theme](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-general.html#theme-gen-overview).
But if you are modifying the Luma theme, you should create the needed folders
`/app/design/frontend/luma/Magento_Swatches/web/css`
and place swatches.css there:
`/app/design/frontend/luma/Magento_Swatches/web/css/

[2016-01-25 11:09] ishakhsuvarov commented on #2991
@degaray Could you please provide more detailed steps to reproduce the issue? How did you create your quote and customer?
A set of empty addresses should be created together with the quote, allowing normal totals calculation for this case.

[2016-01-25 11:16] simkea opened #3122 "Readiness Check on enable Module from Backend"
DOMAIN/setup/#/readiness-check-enablereadiness-check-enable/progress
##### PHP Settings Check

Your PHP Version is 5.6.14-0+deb8u1, but always_populate_raw_post_data = 0. $HTTP_RAW_POST_DATA is deprecated from PHP 5.6 onwards and will be removed in PHP 7.0. This will stop the installer from running. Please open your php.ini file and set always_populate_raw_post_data to -1. If you need more help pl

[2016-01-25 11:40] simkea commented on #3122
###### Here is my .setup_cronjob_status

[code]

[2016-01-25 11:49] simkea commented on #3122
[SOLVED] i removed the old .setup_cronjob_status and the next cron rebuild this file.

[2016-01-25 11:49] #3122 closed, assigned to nobody

[2016-01-25 12:02] simkea commented on #3081
###### my crontab -u www-data

[code]

##### I believe there are missing this value "file_permissions_verified" in the /var/.setup_cronjob_status for UPDATER

![image](https://cloud.githubusercontent.com/assets/612913/12550296/2289a35c-c363-11e5-9577-9ead481a17f9.png)

[code]

[2016-01-25 13:05] mslabko commented on #2800
Hi @mantonuk,
the issue was fixed in  https://github.com/magento/magento2/commit/a831bd148f9f79014a77af3809c3ae09875aa2a6
Thank you for reporting.

[2016-01-25 13:05] #2800 closed, assigned to yaronish

[2016-01-25 13:07] mslabko commented on #2929
Hi @bhavin88 ,
the issue was fixed in  https://github.com/magento/magento2/commit/0b9e64a8cf5130de28333aac1afcb1ff36bcbaf8
Thank you for reporting.

[2016-01-25 13:07] #2929 closed, assigned to nobody

[2016-01-25 13:36] ishakhsuvarov commented on #2894
@gonorovsky Checkout and Cart pages use `Default Country` setting from **System > Configuration > Sales (Tax section) > Default Tax Destination Calculation > Default Country**.
Please try this solution and let us know if it helped.

[2016-01-25 13:42] pncookson commented on #2218
Same here.

[2016-01-25 14:08] thomasnordkvist commented on #3113
Hi
Got realy frustrated as well, even though i was expecting it to go bad the first time and it was only on a testinstallation.

But this is what i did

http://magento.stackexchange.com/questions/98407/update-magento-2-using-composer-update-cli/98844#98844

Thomas

[2016-01-25 14:11] inkxe-ramendra opened #3123 "Magento2 admin too slow after installed successfully"
Dear dev team,
we installed magento2 in my localhost , it installed successfully but we are facing so many issues .
1. Too much slow admin as well as frontend , it always showing loading on the browser when we change any one page to another page .
1. Unable to create product New Attribute to click New attribute button . when we clicked new attribute it not redirect to attribute page .

please let

[2016-01-25 14:19] mazhalai commented on #3115
@ashishnai this issue has been fixed in the develop branch and also  in 2.0.1, can you please check using that branch/ tag?

[2016-01-25 14:20] mazhalai commented on #3112
@beckzg thank you for reporting this issue, but this is a duplicate of #3056. Please watch that thread for updates. Closing this one.

[2016-01-25 14:20] #3112 closed, assigned to nobody

[2016-01-25 14:23] mazhalai commented on #3073
@simkea are you on developer mode or production mode?

[2016-01-25 14:28] simkea commented on #3073
this is the line in .htaccess:

[code]

i believe the production mode...

[2016-01-25 14:28] mazhalai commented on #3088
@Git-Rajkumar  your `/var/lib/php/session/` folder does not have read permissions. Please grant appropriate permissions and try again.

[2016-01-25 14:28] i-daszkowski commented on #3041
Internal issue id: APPSEC-1316

[2016-01-25 14:29] mazhalai commented on #3096
@vcpawate please post this issue on https://github.com/magento/data-migration-tool-ce

[2016-01-25 14:29] #3096 closed, assigned to nobody

[2016-01-25 14:33] mazhalai commented on #3104
@hgpit PHP7 had issues with serialization earlier and a bug was reported: https://bugs.php.net/bug.php?id=70730, which was fixed. Can you please verify that your php version is the latest?

[2016-01-25 14:36] mazhalai commented on #2614
@Raysharr @poongud @Serzhik @Elsharif Please check the value of `AllowOverride` in apache conf. More details here: http://httpd.apache.org/docs/2.2/mod/core.html#allowoverride and http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache.html and http://devdocs.magento.com/guides/v2.0/install-gde/trouble/tshoot_no-styles.html

[2016-01-25 14:37] gonorovsky commented on #2894
Yes it helped. I ve already found this. Thank you.

Пн, 25 січ. 2016 16:32 Ievgen Shakhsuvarov notifications@github.com пише:

Tel., Viber: +38 095 11 33 401
facebook.com/gonorovskyi

[2016-01-25 14:42] mazhalai commented on #3073
Just so that I understand the steps, you got Magento2 from git, ran `composer install` and navigated to domain/setup and got an error? After you cleaned `var` directory the error went away? But after running upgrade, compile, and static-content it reappears?
Also, do you have any custom module?

[2016-01-25 14:43] poongud commented on #2614
@mazhalai fixed that problem, problem is var/gen file permission and change the core_config_data table value.
config_id = 1 that value updated 1 to 0.

after that clear the cache. now working.

[2016-01-25 14:45] poongud commented on #2614
and one more in problem my custom payment method it not showing in frontend payment.

[2016-01-25 14:46] mazhalai commented on #2614
@poongud please create new issue for that.

[2016-01-25 14:49] poongud opened #3124 "magento 2 payment not showing in checkout payment list"
i have create one offline payment method my custom payment method it not showing in front-end payment.

what are the main configuration file of payment to display in front end or else any admin config is there ?.

[2016-01-25 14:51] poongud commented on #3124
what are the main configuration file of payment to display in front end.

[2016-01-25 14:53] poongud commented on #2614
yes created.

[2016-01-25 14:55] mazhalai commented on #3121
@kingalca how did you install? via command line or web setup? Also, how was magento deployed, vai git, compsoer create-project or downloaded zip from magento.com

[2016-01-25 14:56] ishakhsuvarov commented on #2894
@gonorovsky Closing this issue for now. Please reopen if there are any additional questions.

[2016-01-25 14:56] #2894 closed, assigned to ishakhsuvarov

[2016-01-25 15:02] mazhalai commented on #3119
@lewbor thank you for reporting, we have created MAGETWO-48296 to track the fix.

[2016-01-25 15:02] simkea commented on #3073
1. Yes i have pulled the develop branch
2. i used composer install & composer upgrade etc
3. i used the "Setup Wizard" for main installation process ...
4. Magento 2 runs perfect.
5. Now i have to install an own Module (Copy-Methode to /app/code/...) and add in config.xml the correct line   'Kaphingst_TestModul' => 1,
6. now i run my shell-script:

[code]
1. my module is correct in the magento 2 e

[2016-01-25 15:04] mazhalai commented on #3110
It seems your mysql is not running, or you have an issue with [mysql sockets](http://stackoverflow.com/questions/1676688/php-mysql-connection-not-working-2002-no-such-file-or-directory). Please verify that and then run the command again.

[2016-01-25 15:10] mazhalai commented on #3073
I would check your custom module. Somehow some code from your custom module is not being compiled properly. Can you try a bare minimum module with only `module.xml` and `registration.php`?

Also, after you enable your module, why do you need to go to setup again? you have already installed, magento.

[2016-01-25 15:13] mazhalai commented on #3123
@ramendra88 re speed, have you checked out the following threads: #1726, #2999, #2824 and #2669

[2016-01-25 15:18] simkea commented on #3073
i have the same problem without my module (complete removed).
I do not think that my module is the cause of the problem.
I need the Setup not, but this is a regulare Menuitem in Backend to System upgrade or like somethink.
I think it is not right that there an error occurs, if you want to get in there.

[2016-01-25 15:26] mazhalai commented on #3073
So without your module, if you run install and then frontend and backend load fine? but if you run compile it breaks?

[2016-01-25 15:29] ryanstreet commented on #571
Wow!  What great feedback!

@aepod I'll have to look at what Drupal 8 does with their hint system.

@alankent and @erikhansen: I think an iterative process will be the best way to handle this.  I don't want to pack too much into it all at once, and have it take forever to complete.  My initial thoughts are to get basically what Aoe_TemplateHints did in there first.  I really like the idea of the P

[2016-01-25 15:49] hgpit opened #3125 "MMAP "Cannot allocate memory" when importing products"
CentOS 6.7
Apache 2.2
Magento 2.0.1

I am pretty much out of my league here, but I really have to get to the bottom of the abysmal M2 product import speeds we are seeing (today my Xeon 8 core 32GB DDR4 RAM build is importing 15 products/min...) .

Can anyone shed any light on the following?

If I strace the HTTPD process which seems to be dealing with the product import, I am seeing
"
mmap(NULL, 2

[2016-01-25 15:49] simkea commented on #3073
That's right! Without my module! But not when I compile, but then when I want to open /setup/. -> Server Error 500 -
PHP Fatal error: Uncaught exception 'Exception' with message 'Notice: Undefined index: arguments in /var/www/kaphingst/mage2-shop/magento2/lib/internal/Magento/Framework/ObjectManager/Config/Compiled.php on line 133' in /var/www/kaphingst/mage2-shop/magento2/lib/internal/Magento/Fra

[2016-01-25 15:50] simkea commented on #3073
If you are interested, here is my test modules. I need the whole re-compile process because I use a backend CSS file.
https://gitlab.com/kaphinst-developer/mage2_Kaphingst_TestModul

[2016-01-25 16:00] salelsol opened #3126 "Afther successly install magento 2.0.1 Readiness still errors"
- Just succesly installed magento 2.0.1 (frontend and backend works fine), when check Readdiness in System Upgrade still errors show up related whit php version and cronjob added correctly yet.

Best Regards
Toni
![readyness_check](https://cloud.githubusercontent.com/assets/16081377/12556193/fcac6616-c384-11e5-8355-eb20e429bf5f.jpg)

[2016-01-25 16:03] mazhalai commented on #3125
What is your version of PHP?

[2016-01-25 16:03] mazhalai commented on #3126
Please setup cron as [mentioned here](http://devdocs.magento.com/guides/v2.0/comp-mgr/prereq/prereq_cron.html)

[2016-01-25 16:10] salelsol commented on #3126
- Hi Mazhalai, I can´t add second cronjob due at this warning (update/cron.php) wroks fine:

Best Regards
Toni

[2016-01-25 16:13] mazhalai commented on #3126
What warning?

[2016-01-25 16:14] davefarthing opened #3127 "Admin Panel breaks when locale selected for user in production mode:"
When changing locale for an admin user with the site in 'production' mode, the admin Breaks.

to Recreate:
I have store views configured for en_GB and en_US, site set to production and all static content generated. Admin user selects a different locale from the list under user preferences, e.g. fr_FR

The user is allowed the freedom to select any locale and this influences the path to the static r

[2016-01-25 16:17] Git-Rajkumar commented on #3088
@mazhalai thanks for you reply , yes now, solve this problem..

[2016-01-25 16:28] #3088 closed, assigned to nobody

[2016-01-25 16:32] erikhansen commented on #571
@ryanstreet I just sent you an email about collaborating on this PR, as I've begun working on it, but would love to work on it together.

[2016-01-25 16:32] salelsol commented on #3126
- Hi, just - Enter your command in correct format e. g. “script.php” or “folder/script.php”

Best regards
Toni

[2016-01-25 17:06] quienti commented on #3102
I can confirm with a js error

[2016-01-25 17:15] mazhalai commented on #3126
@salelsol can you please post your cron scripts here.

[2016-01-25 17:16] MomotenkoNatalia commented on #2737
@bossbom Any updates on this?

[2016-01-25 17:22] salelsol commented on #3126
Hi,
- This works: magento-14205-30960-83876.cloudwaysapps.com/update/cron.php
- This not works: magento-14205-30960-83876.cloudwaysapps.com/bin/magento setup:cron:run

Best Regards
Toni

[2016-01-25 17:41] degaray commented on #2991
1.- I create a new instance of Magento2 using `git clone --recursive https://github.com/rgranadino/mage2_vagrant.git` to get a fresh install. Then I follow all the steps to install it using composer, etc.
2.- I oath login as admin using `/integration/admin/token`:

[code]

I get an auth token.

3.- I create a product calling: `[POST] /products`:

[code]

4.- I create a user using `[POST] /customer

[2016-01-25 17:42] anton-huz commented on #3040
Keith, thanks for investigation. Yes, we also found that JShrink minifier corrupt `fotorama.js`. So as quick solution we place `fotorama.min.js` nearby main file.

Your proposal about _yuicompressor_ is good solution. But it is an Java application. Magento cann't rely on +1 technology in critical application flows. Otherwise we could use NodeJs + UglifyJs as engine for minifying.

So at this momen

[2016-01-25 17:46] degaray commented on #2991
You can find further reference to this issue in this question:

http://magento.stackexchange.com/questions/97373/items-added-to-cart-with-no-price-on-magento2

[2016-01-25 17:48] ifekaj commented on #2878
I have the same problem. This is what I have in my exception.log:

[code]

This is my debug.log:

[code]

Everything works fine when I downgrade to PHP 5.6

[2016-01-25 18:07] anton-huz commented on #3105
Dear hgpit, the issue #1936 was about another page (Product detail page on Storefront area).
Issue you are mention really occurs on develop and 2.0.1 branches.

Internal issue MAGETWO-48308 was created.

Thank you for reporting. But in general this is not what you should worry about. At all. jQMigrate just notifies about something unusual. Issue doesn't break any functionality.

[2016-01-25 18:35] anton-huz commented on #1911
Hm..
[Not actual any more](https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/view/adminhtml/templates/catalog/wysiwyg/js.phtml#L48). But you was right. There was no possibility to translate.

[2016-01-25 18:35] #1911 closed

[2016-01-25 18:52] hgpit commented on #3104
Hello,

I am using the following, from Remi's repo:

PHP 7.0.2 (cli) (built: Jan  6 2016 15:33:31) ( NTS )

On 25 January 2016 at 14:34, mazhalai notifications@github.com wrote:

##

Group IT Support
Hayley Group PLC (Site 3)
Shelah Road, Halesowen, West Midlands, B63 3PG, England
Company No: 1257303. VAT No: GB 287546119
[Tel] +44 (0)121 585 5334 | [Fax] +44 (0)121 585 7924 | [www]
http://helpdes

[2016-01-25 18:52] hgpit commented on #3125
Hello,

My PHP version is:

PHP 7.0.2 (cli) (built: Jan  6 2016 15:33:31) ( NTS )

On 25 January 2016 at 16:03, mazhalai notifications@github.com wrote:

##

Group IT Support
Hayley Group PLC (Site 3)
Shelah Road, Halesowen, West Midlands, B63 3PG, England
Company No: 1257303. VAT No: GB 287546119
[Tel] +44 (0)121 585 5334 | [Fax] +44 (0)121 585 7924 | [www]
http://helpdesk.hayley-group.local

##

[2016-01-25 18:53] hgpit commented on #3105
Okay, great, thank you :)

On 25 January 2016 at 18:08, Anton Guz notifications@github.com wrote:

##

Group IT Support
Hayley Group PLC (Site 3)
Shelah Road, Halesowen, West Midlands, B63 3PG, England
Company No: 1257303. VAT No: GB 287546119
[Tel] +44 (0)121 585 5334 | [Fax] +44 (0)121 585 7924 | [www]
http://helpdesk.hayley-group.local

##

The information contained in this e-mail is intended o

[2016-01-25 18:57] xcomSteveJohnson commented on #3065
@ifekaj What exact version of PHP 7? 7.0.0?

[2016-01-25 19:08] mazhalai commented on #3126
Do you have a bin folder? have you tried `php -f magento-14205-30960-83876.cloudwaysapps.com/bin/magento setup:cron:run` and cron example is

[code]

[2016-01-25 19:24] mazhalai commented on #3071
@vadariyanikunj this error occurred and it was found that var directory had incorrect permissions. Please check permissions and verify it is working fine now.

[2016-01-25 20:39] riswit commented on #3085
Hello @antboiko,

i have maked a static page, throught "Admin - Content - Pages".
I want to set meta tag robots, only in this page.

if i try to set this code in "Design - Layout Update XML":

appears this error:

"Please correct the XML data and try again. Element 'head': This element is not expected. Expected is one of ( referenceContainer, container, update, move ). Line: 1"

What's a method eq

[2016-01-25 21:47] keithbentrup commented on #3040
@guz-anton  Ok, there is a secondary issue here though. The underlying filesystem affects which file is returned first for minification. On linux, the code reads fotorama.min.js first, copies the file to pub/static/, and continues without issue. In my tests on OSX, the code reads fotorama.js first, minifies (and BREAKS it!), copies the file to pub/static/, and continues to fotorama.min.js from the

[2016-01-25 23:30] antonkril commented on #2910
Route Front Name has this limitation by mistake. It should be fixed.

[2016-01-26 00:22] jason-vivid commented on #3055
Ran composer via repo.magento.com

The lines above were already in the root repository.

When I go to the update page now I'm getting this message:

"System Upgrade Status:
Update application is running"

But the server doesn't show any activity and the system is still on the old version.

Console Log:
    [2016-01-25 19:47:04 EST] Job "maintenance_mode {"enable":true}" has been started
    [2016-

[2016-01-26 00:53] forgeonline commented on #3028
Yes existing implement is good for programmers.

I thinks it's best to change to so it's tide it to backend configruation.
For example: If I don't have any programming Knowlege I should be able to use correct timezone after I've Set my Timezone from backend.

Thanks
Nuwinda

[2016-01-26 01:36] jksimoniii opened #3130 "Install EE via Metapackage"
I am seeing the following

[code]

I have secure keys generated, but I am never being prompted to enter them

[2016-01-26 02:14] HamiltonWang commented on #1891
this happens to magento 2.0.0 too. Im using CentOS 7.0  and t doesn't progress though by clicking many times.

[2016-01-26 03:45] shuaiZend opened #3131 "Products Import Not Display."
ENV:
Magento2 V:2.0.1

[code]
## Webserver:nginx version: nginx/1.8.0

so， first check csv，is pass

and I import notice:Import successfully done

But,in catalog and  categories ,no any products..
no any Error information...

any help?

[Uploading myimportcsv.zip…]()
[Uploading myimportcsv.zip…]()

[2016-01-26 03:50] shuaiZend commented on #3131
sorry,file cant upload.pls save to csv:
sku,store_view_code,attribute_set_code,product_type,categories,product_websites,name,description,short_description,weight,product_online,tax_class_name,visibility,price,url_key,meta_title,meta_keywords,meta_description,base_image,small_image,thumbnail_image,display_product_options_in,map_price,msrp_price,msrp_display_actual_price_type,country_of_manufacture,

[2016-01-26 04:38] markshust commented on #2412
Please see my post at https://github.com/mageinferno/magento2-docker-compose/issues/5#issuecomment-174817382

This seems to have resolved the owner/perm issue. That said.... I'm jumping through mini-sized hula hoops lit on fire to get all of this working. Changing perms to 775/664, ditching the secondary web server user and reverting back to www-data user, writing a wrapper for ./bin/magento to ex

[2016-01-26 06:27] clarenceh opened #3132 "Translation i18n:pack command failed in Phrase.php, because of single quote characters in text"
I am trying to translate the labels and text into Chinese and following the i18n guide.

Version using:
- Magento: 2.0.1
- PHP: 7.0.2

Steps:
- Collect the phrases in English (this is OK)

[code]
- Perform my translation by updating the generated zh_HK.csv file
- Submit the package to packagist and install the language module using composer
  - the language pack was installed in (MAGENTO_ROOT)/ven

[2016-01-26 06:40] jsakars opened #3133 "Extend conditions functionality"
There is that nice UI to provide conditions to filter products, cart attributes etc. I could not find any documentation how such functionality should be extended for custom module.

Based on **module-catalog-rule** and **module-sales-rule** modules I was able to implement conditions UI and saving corresponding values(conditions_serialized) but I am not able to apply those conditions to get filtere

[2016-01-26 07:01] benyaminl opened #3134 "Installation Not Working : even from GitHub or Magentocommerce.com"
I don't know why but I think this's a big problem, I can't even install magento2 from browser, it always show this kind of page. It redirect to setup but seems like broken, Please I need help...
![mag](https://cloud.githubusercontent.com/assets/2817332/12574289/298626c6-c435-11e5-9e17-482b412813be.jpg)

It's 2.0.1, all req is fulfilled, I'm on XAMPP windows, I tried using fresh code by clone from

[2016-01-26 07:58] shiftedreality commented on #2910
Internal ticket MAGETWO-48333 was created to fix this issue.

[2016-01-26 08:14] mrkhoa99 commented on #3134
Hello,
Did you download Magento 2.0.1 version from official website: https://www.magentocommerce.com/download

[2016-01-26 08:15] thaiphan opened #3135 "The get.php not working with database media storage"
Hi guys,

I'm having a problem with my Magento 2 installation where I'm trying to use the database for media storage. I think it stems from the following function thing in `get.php`:

[code]

The `$allowedResources` array contains values like "catalog" and "wysiwyg", which are grabbed from the `system/media_storage_configuration/allowed_resources` config node.

The problem is that the `REQUEST_URI

[2016-01-26 08:17] thaiphan commented on #3134
Can you open up your inspector and show us the output? Might give us some insights into why nothing is loading properly!

[2016-01-26 08:49] benyaminl commented on #3134
Yes, I'm, it's from magento.com

Benyamin Limanto

sent from my ASUS
On Jan 26, 2016 3:18 PM, "Thai Phan" notifications@github.com wrote:

[2016-01-26 08:52] dmitrii-fediuk opened #3138 "Magento 2 duplicates the «\Interceptor» string constant in 9 places"
https://mage2.pro/t/377

[2016-01-26 08:54] clarenceh commented on #3132
Hi,

I found that after a change to the program Phrase.php, I can get the language pack command ran successfully. I post it here to see if I am doing things correctly.

File: (MAGENTO_ROOT)/setup/src/Magento/Setup/Module/I18n/Dictionary/Phrase.php

From code:

[code]

To code:

[code]

Kindly advice and thanks
Clarence

[2016-01-26 09:48] Pakkapao opened #3139 "Visual Swatch not showing on product page when once set as Text Swatch"
Hi,
It happended when changing Swatch type between Text Swatch and Visual Swatch back and forth.

`Text Swatch -> Visual Swatch` OR `Visual Swatch -> Text Swatch -> Visual Swatch`

`Magento 2.0.1 / PHP 7.0.2`
1. Create product attribute and product template as usual.
   ![1](https://cloud.githubusercontent.com/assets/11070293/12576991/2d388a38-c44a-11e5-887f-db40b9a01cff.png)
   ![2](https://cloud

[2016-01-26 10:01] rklerck opened #3140 "Order details in my account doesn't work"
When logging in as a customer and trying to view my order details, it redirects back to the overview page.

I'm getting this javascript error:
GET http://172.30.0.222/magento2_v2/customer/section/load/?sections=cart%2Ccomp…directory-data%2Creview%2Cwishlist&update_section_id=false&_=1453802141872 400 (Bad Request)

"{"message":"\"*\" section source is not supported"}"

[2016-01-26 10:13] rganin commented on #3133
Rule conditions are property-based. Product type is not a property, semantically it`s a class of products that may have common properties. However products can have different attribute sets and rule can be based on it.
By default only few attributes are available for rules creation, you can turn on any product attribute to be available for rules creation in attribute configuration: Open Stores ->

[2016-01-26 10:13] CalamityJames commented on #2412
+1 to this, I've never known such a simple install process (M1.x) to become so convoluted in one fell swoop. Hopefully someone from the team can shed some light as to why these issues persist.

As I said before, 770 and 660 do not play well with a WHM/cPanel server that runs on suPHP (most do out of the box) so there needs to be some way round this that doesn't involve editing core files.

[2016-01-26 10:24] Fel1xx commented on #2926
Seems the issue comes from method AfterImportDataObserver::currentUrlRewritesRegenerate(). It calls two methods - generateForAutogenerated() and generateForCustom(). Both of them are returning an array containing rewrite object. However currentUrlRewritesRegenerate adds this array into returned array (see line 362), as a result getting an array of array which is processed in a loop in caller metho

[2016-01-26 10:26] zolotokrylin opened #3142 "Cannot read property 'is_region_required' of undefined."
I have out of the box Magento 2 with standard Luma template. In General settings turned of all countries except China. Since then having a problem in this URL location: ./checkout/
![screen shot 2016-01-26 at 18 26 18](https://cloud.githubusercontent.com/assets/1125014/12578205/532d36a2-c45a-11e5-8e31-18b2f7e53f1a.png)

How can I fix this problem? I also have set the  Default Tax Destination Calcu

[2016-01-26 10:39] mitulispace opened #3144 "Fresh magento upload in server then not work magento 2"
How to solve ....
![magento](https://cloud.githubusercontent.com/assets/16436069/12578473/288dd018-c447-11e5-8854-5b6ff3193569.png)

[2016-01-26 10:45] jsakars commented on #3133
@rganin thanks! However that does not answer the main question - how can I apply(use) conditions set for my custom module to get product collection that matches them?

[2016-01-26 10:48] Vinai commented on #2412
I don't think they are overzealous permissions, in fact they should be tighter (that is, the web server user should not have write permissions anywhere except where files are generated.
This is a [little script](https://gist.github.com/Vinai/69dc72b9f4baa2506120) which seems to work fine. I guess it won't help with WHM/cPanel installs though.

[2016-01-26 11:02] almarchenko commented on #2996
@cs221313  Great that you found the solution. But this is unusual. We cannot reproduce it.
Could you post your theme files? (theme.xml, registration.php. composer.json)
Thank you.

[2016-01-26 11:22] tudn9x commented on #3133
Hi @werdlv  you can try this files:
- mview.xml in folder etc
- ApplyRules.php in Plugin/Indexer/Product/Save
- All files in Model/Indexer

At folder magento-catalog-rule
I am sorry, my english is bad.

[2016-01-26 11:26] hgpit opened #3145 "Import Speed Issues - What LAMP stack works?"
Hi all,

Sorry for the odd subject title. Didn't know how to word it!

I have already posted on this forum with speed issues relating to importing products, but I am getting nowhere fast and my deadline for a usable platform is quickly approaching. There is clearly a problem with Magento 2.0.x but it's either some random/unknown variable with our builds or some bad code deep within M2.

We have tr

[2016-01-26 11:28] mrkhoa99 commented on #3144
Hello,

You need to upgrade your PHP version 5.5.x or later. Magento doesn't support your current PHP version.
http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html
http://devdocs.magento.com/guides/v2.0/install-gde/bk-install-guide.html

[2016-01-26 11:34] mslabko commented on #2957
Hello @hgpit,
I’m working on your issue. You can reach me using email from github account. Also, please add the hash  of commit on which you run import last time.

Thank you.

[2016-01-26 11:38] esilvajr opened #3146 "Property "PaymentMethod" does not have corresponding setter in class "Magento\Quote\Api\Data\PaymentInterface"
When i'll place a order with REST API (/carts/mine/set-payment-information) i got this error:

message: "Property "PaymentMethod" does not have corresponding setter in class "Magento\Quote\Api\Data\PaymentInterface"."
trace: "#0 /var/www/html/stg1.magento-srv.host.local/public_html/2.0.0/lib/internal/Magento/Framework/Reflection/TypeProcessor.php(591)

payload = {
                  paymentMethod:

[2016-01-26 12:28] robfico commented on #2412
The write permissions are not the problem though. Removing world readable permissions from files and world executable permissions from directories on publicly available files stops the webserver from even being able to serve them in a standard php-fpm / suPHP set up where the owner of the files is not the same owner as the web server that serves static content (images, css/js files, etc...). 644 f

[2016-01-26 12:32] hiephm opened #3147 "Admin always return default store code, not admin"
In admin controller, the following code will not work as expected (always return false):

[code]

because the 'admin' store code is not set anywhere in Action class.
Magento 1 does this properly by hooking to 'adminhtml_controller_action_predispatch_start' event and set it:

[code]

**Following code doesn't work, see update below:**
~~Magento 2 does not have such event, but we can use 'controller_

[2016-01-26 12:41] dmitrii-fediuk commented on #3147
https://github.com/magento/magento2/issues/2254
https://github.com/magento/magento2/issues/2064
https://mage2.pro/t/128

[2016-01-26 12:53] RawPhunky commented on #2412
+1 to the issue.
Was not able to set up M2 on shared hosting.

[2016-01-26 12:55] cs221313 commented on #2996
theme.xml

![image](https://cloud.githubusercontent.com/assets/8097168/12581166/d2f9d042-c46f-11e5-818c-e00457a8b54f.png)

registration.php

<?php
/**
- Copyright © 2015 Magento. All rights reserved.
- See COPYING.txt for license details.
  */
  \Magento\Framework\Component\ComponentRegistrar::register(
  \Magento\Framework\Component\ComponentRegistrar::THEME,
  'frontend/AiMai/whoo',
  **DIR**

[2016-01-26 13:02] hiephm commented on #3147
Thanks for more info, @dfediuk
I believe this is a bug and should be fixed.
@antonkril : the `\Magento\Store\Api\StoreResolverInterface::getCurrentStoreId` also incorrectly return 'default' instead of 'admin', since 'admin' never got set.

[2016-01-26 13:06] #3146 closed, assigned to nobody

[2016-01-26 13:13] markshust commented on #2412
@Vinai are you using php-fpm?

@robfico perhaps this is the issue -- where we are using php-fpm and others are not. I'm experiencing the same situation, where web server owner _must_ be owner of files, and perms do need 775/664 or 755/644, otherwise nothing works.

@Vinai what is the purpose of locking things down further? We've never done this for M1 (at least not that I know of), and I've never

[2016-01-26 13:41] miguelbalparda commented on #2412
I don't think there is a permission schema that will work for every setup out there.
What is the downside of removing the code where permissions are set and leave the permissions to the owner of the stack? Another option could be a place to set the permissions without the need of modifying core files, pre or post install but right now there is no clean way to adapt the software to a particular set

[2016-01-26 14:29] cspruiell commented on #2930
@ jaimestuardo , thank you for reporting the issue. Internal ticket MAGETWO-48346

[2016-01-26 14:31] jhildreth commented on #2628
The release notes for 2.0.1 say: "Shipping address in the Orders API now exposes the shipping address value.", which I believe should address this issue.
However, after upgrading to 2.0.1, I'm still not seeing the shipping address on the data returned from /orders. Am I misunderstanding what this addresses?
Thanks!

[2016-01-26 15:15] mslabko commented on #2858
Hello @imbrj,
Could you please provide the hash of commit where you got this issue?

[2016-01-26 15:16] mazhalai commented on #3134
@benyaminl please check if all the [required permissions](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html) are set. Also, check if there are any errors in your browser's developer console.

[2016-01-26 15:25] MomotenkoNatalia commented on #2833
@jstuardo  Any updates on this?

[2016-01-26 15:29] mazhalai commented on #1891
@HamiltonWang please do not comment on closed issues. Please open a new one.

[2016-01-26 16:06] mazhalai commented on #3144
@mitulispace what is your PHP version?

[2016-01-26 16:34] vil11 commented on #3089
Hello @hans2103, thanks for being attentive!

We can't reproduce described issue neither on **Mac** (Google Chrome, Safari) ...

<img width="617" alt="mac" src="https://cloud.githubusercontent.com/assets/5585456/12586526/5002ab34-c459-11e5-8b23-0b4ee6ab83ae.png">

... nor on **Win** (Google Chrome, Mozilla Firefox, IE)

![win](https://cloud.githubusercontent.com/assets/5585456/12586563/74c1afba-c4

[2016-01-26 16:45] mazhalai commented on #3055
@jason-vivid can you confirm if the suggested crons are still running?

[2016-01-26 16:49] chicgeek opened #3148 "Checkout: missing shipping address fields"
## Bug description / how to reproduce

While testing the checkout flow we discovered an issue when continuing from the shipping step to the payment step. This is what we observed, though only occasionally:
- Fill out a valid shipping address.
- Click the button to continue to next step (`#shipping-method-buttons-container .button`).
- In the checkout summary observe that postcode and country appea

[2016-01-26 16:52] mazhalai commented on #3131
@shuaiZend is this using the data import tool? can you please provide steps to reproduce?

[2016-01-26 17:10] odubovyk commented on #2896
Initial ticket MAGETWO-48386

[2016-01-26 17:17] alena-marchenko commented on #2878
created internal ticket MAGETWO-48387

[2016-01-26 17:17] alena-marchenko commented on #2984
created internal ticket MAGETWO-48387

[2016-01-26 17:20] shiftedreality commented on #3078
Hi @teuma86

We have internal ticket MAGETWO-44966 to fix this issue. Thank you for reporting.

[2016-01-26 17:21] tigerx7 opened #3149 "Error with updating product image on configurable auto-select via URL parameters"
When setting a configurable product's options via the URL, the gallery images do not update successfully intermittently. The following javascript error originating in updateBaseImage() within SwatchRenderer.js is thrown:

"Uncaught TypeError: Cannot read property 'updateData' of undefined"

From a quick glance, it's looking like the error is being caused due to the gallery not being fully initiali

[2016-01-26 17:22] iamgalba commented on #2504
Thanks from me too @iget-esoares. Wonder why so common problem posted only here. Lost 2 days to found fix for it. @mazhalai we need your attention, it's a BUG

[2016-01-26 17:45] mslabko commented on #3013
Hello @lorenaramonda,
Issue was fixed for develop branch in https://github.com/magento/magento2/commit/42f74ccf60874034536a4311ad4eac7d531e34ce and will be ported for 2.\* as soon as possible

[2016-01-26 17:45] mslabko commented on #3009
Hello @malaiselvan ,
Issue was fixed for develop branch in https://github.com/magento/magento2/commit/42f74ccf60874034536a4311ad4eac7d531e34ce and will be ported for 2.\* as soon as possible

[2016-01-26 17:45] hgpit commented on #2957
Hello,

Okay, I will email the details over.

Something interesting (I hope) happened today. I built a new VM:
2 cores, 6GB RAM
CentOS 7 / Apache 2.4
PHP 7.0.2 (remi repo)
MariaDB 10.1
Magento 2.0.1

I set it all up and started import of ~80,000 products (with images) from CSV.
I watched the HTTPD process using strace and strace constantly streamed line after line of events.
I watched top/htop and

[2016-01-26 17:56] mslabko commented on #2957
Hello @hgpit ,
Actually in another issue we eliminated huge query, which you talk at the beginning (https://github.com/magento/magento2/commit/259a422a247432011a2c73de8a303d652fea5ab7#diff-5265af6a6f7b81e0119c8b50e57c15a4L297)
But with this query in our tests it took 2 hours instead ~30 minutes, so we were not sure, that it can fix your issue in whole. In any case I will check it again with your d

[2016-01-26 18:19] anton-huz commented on #2742
Please verify PHP settings: Magento expects `asp_tags = Off`.
http://devdocs.magento.com/guides/v2.0/install-gde/prereq/php-ubuntu.html#instgde-prereq-timezone

[2016-01-26 18:42] magenx commented on #2504
@deenoize  if it was a bug then 95% installations would fail... while it's only few of them, which tells me that you have to check your php cgi.fix_pathinfo variable. or even check your specific setup...

[2016-01-26 18:48] rey8a commented on #3053
Anyone? I've been waiting patiently, can someone please let me know what I need to do to resolve this issue.

Thanks

[2016-01-26 18:55] tigerx7 opened #3150 "Swatches / Layered Navigation does not update configurable product price on catalog page"
When clicking on a swatch in the catalog page, it does not update the price of the product. Like so, if also filtering by the layered navigation "Shopping Options", the rendered items are not displaying the selected attribute price for configurable products.

When tracing the issue, found a mention of this in commit https://github.com/magento/magento2/commit/b35b3b274f4f7b77f2198b2b7b36bd1135a88c7

[2016-01-26 19:11] ghost commented on #3130
Hi, I pasted your command into a terminal window, was prompted for a user name and password, and the download appears to be progressing normally. Unfortunately, I do not know what your issue is.

[2016-01-26 19:28] mazhalai commented on #3130
@jksimoniii can you try deleting `repo.magento.com` details in your `~/.composer/auth.json`  file and then try again? Also, try cleaning composer cache with `composer clear-cache`

Also, please report EE details to the partner portal and not on Github, which is for community related issues.

[2016-01-26 19:56] jason-vivid commented on #3055
Crons for the magento user are listed below.  They are firing every minute.

m h  dom mon dow   command
*/1 \* \* \* \* php -c /etc/php5/cli/apache2 /fullpath//public_html/magento2/bin/magento cron:run
*/1 \* \* \* \* php -c /etc/php5/cli/apache2 /fullpath//public_html/magento2/update/cron.php
*/1 \* \* \* \* php -c /etc/php5/cli/apache2 /fullpath//public_html/magento2/bin/magento setup:cron:run

[2016-01-26 19:56] nigelcopley commented on #2938
You can fix the recurring file permission issues which cause your JS to fail by changing a couple of lines in this file. Not ideal as it's core files so you'll need to make a note of it when upgrading etc

vendor/magento/framework/Filesystem/DriverInterface.php

Changing 770 to 755 and 660 to 644 has worked for my php environment

Hope this helps someone and I hope magento fixes this.

[2016-01-26 20:07] mazhalai commented on #3055
@jason-vivid, possibly there were some errors and it stopped midway. Some suggestions:
- add full path to php executable in cron
- stream output of cronjobs to some logs and check it. for example
  `*/1 * * * * /var/local/bin/php -c /etc/php5/cli/apache2 <fullpath>/public_html/magento2/update/cron.php >/tmp/magento.update.cron.log&`
- look for `var/.update_in_progress.flag` and delete it. also cle

[2016-01-26 20:40] tanya-soroka commented on #3053
@rey8a Thanks for the reporting the issue.
Ticket for the investigation has been created: MAGETWO-48393.

[2016-01-26 20:53] clwells commented on #2412
I've read through the Magento docs and the requirements don't seem to state if mod_php is supported (or not). Ideally it isn't and if that's the case the following solution should both work and be secure.

Notes:
- I'm using "httpuser" here for the Apache/Nginx unix user/group for the sake of making it clear. It may be nginx, nobody, apache, http, www etc.
- I'm using "enduser" here as the unix us

[2016-01-26 21:12] Vinai commented on #2412
@markoshust I've always removed write permissions from the webserver user. It helps indeed. Just recently I got to see a hacked M1 site where the malicious code was injected into `lib/Varien/Object.php` so it was executed on every request (it wasn't a client of mine). That attack wouldn't have been possible if the webserver user wouldn't have been able to write to the PHP file.
The webserver user

[2016-01-26 21:15] crashtimer commented on #2104
If someone wants can use my gulp.js file :
https://github.com/poddubny/magento2-gulp

There are modules:
-less
-watch
-sourcemap
-minify
-livereload

It's enough for development. Other commands like "exec", "clean" use PHP inside.

As tests show, gulp x2 faster.

[2016-01-26 21:28] jason-vivid commented on #3055
Thanks for the help.  Deleting var/.update_in_progress.flag flag let me see that it was an out of memory issue. I bumped up the memory and it bombed again for different reasons.

Closing this and opening a new item.

[2016-01-26 21:28] #3055 closed, assigned to nobody

[2016-01-26 21:36] dmitrii-fediuk opened #3151 "«Stores» → «Configuration» → «General» → «Web» → «Default Pages» → «CMS Home Page» dropdown proposes to choose the disabled pages"
https://mage2.pro/t/379

[2016-01-26 21:48] tonegolf71 commented on #2604
Further information that might be helpful... I had this same issue, I was running in production mode and had generated all the di code using `magento setup:di:compile`.

When I switched back to developer mode and cleared out `/var/generation` and `/var/di` I could then succesfully install the sample data using `magento sampledata:deploy`.

[2016-01-26 22:13] jksimoniii commented on #3130
@mazhalai Thank you for this.  I am now being prompted for credentials.  But, after enter credentials I am getting the following.  Would you like me to close this issue and move discussion to partner portal?

[code]

[2016-01-26 22:16] mazhalai commented on #3130
@jksimoniii yes please. closing this ticket for now.

[2016-01-26 22:16] #3130 closed, assigned to nobody

[2016-01-26 22:46] alankent commented on #2104
@poddubny - cool!  I have a blog post almost ready to run asking for help trying out an idea I think will work today (not perfect, but usable immediately).

@dsingleton47 - thanks for the comment. I just wanted to clarify if you meant "you should have tied Magento to SCSS instead of Less" or "Magento should not use Less or Sass or SCSS". Note that we have separated CSS from HTML, so you can genera

[2016-01-26 23:03] fhennessy commented on #1471
Same problem.  It is working fine with 1 and 2 lines in my CSV

[2016-01-26 23:30] bmishra5bestincity commented on #2997
hi xcomSteveJohnson , Thank you... But when I try as mentioned in your link , I get this error.

Problem 1
    - The requested package **vendor**/**module** could not be found in any version, there may be a typo in the package name.

For example I try to install this
composer require ASchroder/SMTPPro:2.0.7

Only success I get with this
composer require ashsmith/magento2-controller-module:2.0.*

I

[2016-01-27 00:23] hgpit commented on #2957
I just tried my 80,000 product import on a new VM:
CentOS7/Apache2.4/MySQL5.6/PHP5.6/Magento 2.0.1

Same problem! First import 80,000 products okay (around 50 mins this time, but I blame the slower MySQL+PHP).
Then I try to update 433 products with a difference CSV - HTTPD process hangs for hours.

I can consistently and repeatedly replicate this issue on every VM/server/software combo I have thro

[2016-01-27 00:34] markshust commented on #2412
@clwells hit everything on the head here -- 100% agree with his findings and suggestions.

@Vinai thanks for the explanation, starting to understand this now. I really like @clwells's findings, going to implement these best practices into my Docker suite.

[2016-01-27 02:12] joebusby opened #3154 "Saving Product Configuration with many colors and lengths fails"
I have a product with 20 colors in 16 lengths and the large number of items fails to save with the following error:
SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`magento2`.`catalog_product_entity`, CONSTRAINT `CAT_PRD_ENTT_ATTR_SET_ID_EAV_ATTR_SET_ATTR_SET_ID` FOREIGN KEY (`attribute_set_id`) REFERENCES `eav_attribute_set`

[2016-01-27 05:48] mitulispace commented on #3144
@mazhalai

![server_error](https://cloud.githubusercontent.com/assets/16436069/12605114/a6722a60-c4e7-11e5-9920-3f9f6eb77983.png)

[2016-01-27 08:43] zanilee commented on #2975
Hi, @jaimestuardo!

Thank you for reporting this issue. Internal ticket MAGETWO-48402

[2016-01-27 08:54] daim2k5 commented on #3145
Hi @hgpit because you don't link the other issue can you give us a link? How do you import stuff? Soap or Import/export? and maybe important can you maybe create a playground for the magento 2 team? So they can reproduce the issue?

[2016-01-27 09:28] Rajesh-Rathod opened #3156 "Magento 2 Downloadable products"
Downloadable product link is not working even after created invoice.

[2016-01-27 09:31] lorenaramonda commented on #3013
Thank you soo much!

[2016-01-27 09:37] zulkhaery commented on #668
Install magento2 on trusty 14.04, nginx 1.8, mysql 5.6, php-fpm 5.6, using compser: http://magento2.local/setup

#

 Magento
A 404 error occurred
Page not found

The requested URL could not be matched by routing.

No Exception available

#

[2016-01-27 09:59] rklerck opened #3157 "Changing locale doesn't do anything"
When I change the locale in Stores, Configuration, General, Locale Options to Dutch, and remove all the cache. It doesn't change a thing? Although the dutch translations are in the extensions, I see the nl_NL.csv and it's not empty.

[2016-01-27 10:11] rklerck commented on #3140
On another server, we don't get this javascript error. But it still doesn't work, it redirects back to its own page.

[2016-01-27 10:16] rklerck commented on #3157
Never mind, it was installed in english.. so the csv's were empty, I was checking the wrong place.

[2016-01-27 10:16] #3157 closed, assigned to nobody

[2016-01-27 10:54] ghost commented on #3086
Thank you for your reply. Our web server host modified the cron job as follow to solve the warning:

/usr/local/php70/bin/php -d always_populate_raw_post_data=-1 /home/telefoon/domains/db6479.web44.ixl.nu/public_html/bin/magento setup:cron:run

However for some reason the installer stuck every time at: ''./composer.json has been updated''.

[2016-01-27 10:49:03 UTC] Job "maintenance_mode {"enable"

[2016-01-27 11:02] sevos1984 commented on #2946
Internal ticket created MAGETWO-48425

[2016-01-27 12:00] vil11 commented on #2313
@SidneyBilliet, thanks for reporting the issue!
Internal ticket **MAGETWO-48435**.

Dmytro Vilchynskyi, M2 QA engineer.

[2016-01-27 12:55] kandy commented on #2989
@zamboni084, Could you please tell us which version do you use, from composer or from git?

[2016-01-27 13:06] pivulic opened #3158 "Can't scroll inside the Store View selector"
## Problem

If there are multiple stores, it's not possible to scroll to the bottom and select the desired store view.
See http://www.vaimo.com/snaps/pablo.ivulic/m2-cant-select-bottom-store.png
## Expected result

It should be possible to scroll inside this Store View selector so that I can choose any of my stores.
## How to recreate

1) Setup a lot of stores, similar to: http://www.vaimo.com/sna

[2016-01-27 13:08] kandy commented on #2986
Magento support only options defined in [product_options.xml](https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/etc/product_options.xml) and there no `area` type  so I am closing this issue, as fixed. Feel free to open new issue if we missed anything.

[2016-01-27 13:08] #2986 closed, assigned to kandy

[2016-01-27 13:12] Karl456 commented on #2986
There is an area type, as highlighted here: https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/etc/product_options.xml#L11

I still believe this is an issue.

[2016-01-27 13:14] kandy commented on #2900
Repositories assume they you put all data of product. If some data is missed it will be removed from storage. I am closing this issue. Feel free to open new issue if we missed anything.

[2016-01-27 13:14] #2900 closed, assigned to kandy

[2016-01-27 13:18] Karl456 opened #3159 "Referencing Issue #2986"
Issue #2986 was recently closed because of the following reason

[code]

However, this link shows that `area` is a type listed in `product_options.xml`: https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/etc/product_options.xml#L11

This is still an issue which needs addressing.

[2016-01-27 13:23] kandy commented on #2842
Internal ticket created MAGETWO-48445

[2016-01-27 13:33] teuma86 opened #3160 "Setting Prices to inc Tax makes all products show special price"
I have a configurable product for sale at £120 and all its simple children are also £120
I have UK VAT Rule set up at 20%

If I set VAT Catalog Prices tax_calculation_price_includes_tax to Include Tax (all Tax settings are set to include tax) then the product prices shows special price of £100, original £120.
Basically, when working out the special price, it deducts the tax value and shows as a sp

[2016-01-27 13:36] quienti commented on #3102
Another problem with include tax when I'm in checkout

[2016-01-27 13:40] gg24 opened #3161 "Create admin user with role managed storewise"
I want to create a plugin in magento2.0 which helps to create a admin user who should restrict role/store/website wise.Is it possible in magento2.0, because as i found this feature was not present in magento1.9(although it was in magento 1.9 EE).

[2016-01-27 14:16] mazhalai commented on #3144
@mitulispace your php version is 5.3 which is not supported. You need 5.5 or higher. Also, your mysql version of 5.5 is not supported, it should be 5.6 or higher.

[2016-01-27 14:16] #3144 closed, assigned to nobody

[2016-01-27 14:29] quienti opened #3162 "Abandoned cart wrong customer ID"
When I'm click on a abandoned cart, i'm redirect to an other customer

Tested on Magento 2.0.0 and 2.0.1

![sans titre 2](https://cloud.githubusercontent.com/assets/7326954/12616242/725bf33c-c50a-11e5-94d2-fff12a996943.jpg)

![sans titre 4](https://cloud.githubusercontent.com/assets/7326954/12616281/aec007a0-c50a-11e5-8887-b7052fb75d9a.jpg)

[2016-01-27 14:37] tang-yu commented on #2866
@dfediuk , thanks for pointing this out. We create an internal ticket MAGETWO-48449 to track this problem.

[2016-01-27 14:46] ashishnai commented on #3115
I have taken updated code of v1.0.2. I see changes made to getCompiledString() function to handle the senario. Still geting below mentioned error.

PHP Parse error:  syntax error, unexpected ''label'' (T_CONSTANT_ENCAPSED_STRING), expecting ';' in /var/www/html/setup/src/Magento/Setup/Module/I18n/Dictionary/Phrase.php(278) : eval()'d code on line 1