[2021-11-12 19:20] DanielRuf commented on #32153
Final patch that works for us:

[code]

[2021-11-12 20:53] DanielRuf commented on #32153
Now seriously, Magento 2 should only compress / minify files after they were processed by PHP (source => data => result as static html => compress / minify).

Please don't minify / touch source files which contain PHP code. That makes absolutely no sense and leads to such (corner) cases where it leads to problems.

Would Hugo or any other static site builder do the same then this would lead to bro

[2021-11-12 21:19] #34490 closed, assigned to kate-kyzyma

[2021-11-12 21:19] #33747 closed, assigned to AnnaAPak

[2021-11-12 21:19] #34467 closed, assigned to mrtuvn

[2021-11-12 21:19] #33465 closed, assigned to Jitheesh, engcom-Echo

[2021-11-13 06:01] pikulsky commented on #34507
The bug is in vendor/magento/module-checkout/Block/Cart/Grid.php.
See \Magento\Checkout\Block\Cart\Grid::getItems(), let's say the quote includes only configurable products:
1. if no pagination: parent::getItems() returns $this->getQuote()->getAllVisibleItems(), where
* first, all quote items are loaded: configurable (parent_item_id is null) and child simples (parent_item_id is not null)
* note, i

[2021-11-13 12:52] m2-assistant[bot] opened #34631 "[Issue] Replace repetitive actions with Action Groups in AdminCreateStoreViewTest"
This issue is automatically created based on existing pull request: magento/magento2#34552: Replace repetitive actions with Action Groups in AdminCreateStoreViewTest

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)
Test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)

### Questions or comments

### Contribu

[2021-11-13 12:56] shikhamis11 commented on #34628
@magento give me 2.4-develop instance

[2021-11-13 13:14] shikhamis11 commented on #34628
@magento give me 2.4.3 instance

[2021-11-13 13:36] shikhamis11 commented on #34628
@magento give me 2.4.3-p1 instance

[2021-11-13 13:46] shikhamis11 commented on #34628
hi @ioweb-gr
Thank you for reporting this issue. This issue is reproducible at Magento 2.4.3 and 2.4.3-p1 instance but not 2.4-develop instance. Seems It is fixed on develop branch and will be available on 2.4.4

[2021-11-13 15:48] markshust commented on #34618
Thanks for the update @xmav. Is it safe to say that bugs should never get submitted to the `platform-health` branch then?

[2021-11-13 19:00] andrewbess commented on #34573
The pull request with fixes have been created https://github.com/tomzx/php-semver-checker/pull/112

[2021-11-13 19:07] andrewbess opened #34632 "Add fixes to make `phpgt/dom` composer dependency compatible with PHP 8.1"
### Description (*)
Some problems have been found in `phpgt/dom` composer dependency during work on the adding a compatibility Magento with PHP 8.1.
We need to deliver our changes to extension repository via making PR [there](https://github.com/PhpGt/Dom).
Finally, we need to create new issue and update composer dependency in the https://github.com/andrewbess/magento2-page-builder

[2021-11-13 19:08] andrewbess commented on #34632
The pull request with fixes have been created - https://github.com/PhpGt/Dom/pull/302

[2021-11-13 22:29] nimbus2300 commented on #12119
Hi,

I've just spend the best part of a day debugging an issue with this end-point and I thought I'd share my findings in case it saves anyone else some time.

TL;DR: Caused by a third party social-login plugin that 'logged in' the wrong user (same email address, but wrong store view).

**The symptoms:**
* Sign in to user account that has an delivery address registered with it
* Add something to c

[2021-11-14 10:49] krishprakash commented on #34626
@magento give me 2.4-develop instance

[2021-11-14 14:47] andrewbess commented on #34589
The repository https://github.com/magento/partners-magento2-infrastructure has been checked.
The problems weren't found.

[2021-11-14 14:47] #34589 closed, assigned to anzin

[2021-11-14 18:00] Den4ik commented on #32153
@DanielRuf Magento has ton of files and I believe that including minified files is better solution than minify result html. Also I saw many sites where some modules breaks cache and solution that you recommend totally kill this sites

[2021-11-14 18:05] Den4ik commented on #32153
And as you mentioned best solution is use great theme like Hyva and spent much time for optimize site performance, deployment process and so on.

**PS.** Regex is not a vodoo magic if you know how work with it ;)

[2021-11-14 18:43] DanielRuf commented on #32153
We already use Hyva ;-)

Well, as you can see specific corner cases like optional trailing semicolon and others are not (yet) covered.

Doesn't seem to be the case here as the reverted commits are just trying around with regex (same commit message) and have no clear explanation what they should do and use very complex code which has ultimately lead to these issues.

One example to show that there

[2021-11-14 18:47] Daymonmoss commented on #30721
same problem in my Model

[2021-11-15 06:33] engcom-Delta commented on #34629
Hi @Liv2BF,
We tried to reproduce the issue on Magento 2.4 Develop with latest branch, it works fine.
Please find the attached screen recording video for reference. Hence

https://user-images.githubusercontent.com/51681379/141733517-4fd11336-7fc5-4cab-b3b6-405de4d2cbe5.mp4

 added 'Needs Update ' Label.

[2021-11-15 08:51] andrewbess commented on #34571
Reopened due to require additional fixes in https://github.com/webonyx/graphql-php/blob/master/src/Error/Error.php#L302

[2021-11-15 09:02] andrewbess opened #34633 "Update `phpgt/dom` composer dependency to the last v2 version"
Update `phpgt/dom` composer dependency to the last v2 version (2.2.1 => 2.2.3)

### What needs to be done:
 - Review and list the usages of the library in the codebase
 - Review and list the backwards-incompatible changes of the new version of the library (link the migration guide if available)
 - Update the dependency in `composer.json`
 - Perform the testing of affected areas after update (use a

[2021-11-15 09:37] engcom-Hotel commented on #29974
Hello @huykon,

We request you to please try to reproduce this issue in Magento 2.4-develop branch and let us know if this issue is still reproducible for you.

Thanks

[2021-11-15 09:45] engcom-Hotel commented on #31270
Hello @OleksiyOleksiyovych,

Thanks for posting this issue!

We request you to please try to reproduce this issue in Magento 2.4-develop branch and let us know in case you are able to reproduce the issue.

Thanks

[2021-11-15 09:47] engcom-Hotel commented on #30464
Hello @nrkapoor,

Thanks for posting this issue!

We request you to please try to reproduce this issue in Magento 2.4-develop branch and let us know in case you are able to reproduce the issue.

Thanks

[2021-11-15 10:03] engcom-Hotel commented on #28257
Hello @paales,

Thank you for your report.

We have checked line no 86 mentioned in the main description, but it seems that the attached file has been updated. We request you to please review the description.

Thanks

[2021-11-15 10:20] fritzmg opened #34634 "klarna_logs: Unique constraint violation found"
The `klarna_logs` table has a primary key definition of `smallint` (not even unsigned), meaning that it can only hold up to `32767` entries. Once the `klarna_logs` table is full, the checkout will not work anymore, if the Klarna payment module is enabled in the store configuration, due to the following error:

[code]

### Preconditions (*)

* Magento `2.4.3-p1` CE
* Enable Klarna for checkout
* Ha

[2021-11-15 10:22] vlmed commented on #34565
I am working on this

[2021-11-15 10:22] vlmed commented on #34565
@magento I am working on this

[2021-11-15 10:32] fritzmg commented on #34515
@bjornmeat Magento currently requires a pinned version of the Klarna extension, for some reason. So even if this is reported and fixed to Klarna, Magento still needs to release a new version of itself in order to be able to actually fix it in Magento.

[2021-11-15 12:05] hostep commented on #34154
@engcom-Delta: you do have the [MSI module](https://github.com/magento/inventory) installed, right? That one defines [the route](https://github.com/magento/inventory/blob/d8be487cedff1dcad64d20f3375a3ce28e08dc57/InventoryApi/etc/webapi.xml#L98-L103)? It's mentioned in the preconditions.
And in fact this issue was [already confirmed](https://github.com/magento/magento2/issues/34154#issuecomment-927

[2021-11-15 12:06] engcom-Hotel commented on #31313
Hi @deepanshuyadav87,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-develop but the graphQL request works as expected, it is returning data as per the tax settings.

Steps followed to reproduce issue:

1. Go to Sales->Tax->Calculation Settings, Sales->Tax->Price Display Settings and update the setting as per the screenshot given in the ticket.

2. Verify the

[2021-11-15 12:06] #31313 closed, assigned to engcom-Hotel

[2021-11-15 12:10] engcom-Hotel commented on #34507
Hi @samcleathero,

Thank you for reporting the issue.

We are successfully able to reproduce it on Magento 2.4-develop.

Steps followed to reproduce issue:

1. Added configurable and non-configurable products to the cart.

2. Print the $_item->getHasChildren() property on the $_items.

3. Observe the function output with pagination and without pagination for the cart.

4. $_item->getHasChildren()

[2021-11-15 12:18] engcom-Hotel commented on #34502
Hello @vipin12117,

As per your suggestion, we have tried to reproduce it again.
Set the positions as per your suggestion, after setting the new positions it works as expected.
I have prepared the video please have a look.

https://user-images.githubusercontent.com/51681618/141780713-ed81812d-ac19-4f1f-984d-3522b7a136f0.mp4

Thanks

[2021-11-15 12:21] engcom-Hotel commented on #34486
Hi @hoangss,
Thank you for reporting the issue.

We have tried this issue on Magento 2.4-develop and we are successfully reproduced it.
Steps followed to reproduce issue:
1. Go to Store-> Configuration -> Inventory -> 'Display Out of Stock Products' is set to "Yes".
2. Select any configurable product from “Catalog -> Products”, Select child product from the associated products and set the stock to

[2021-11-15 12:22] vipin12117 commented on #34502
Hi,

I saw a video, you did not follow.

Set one product position as 1 and set all other products sorting position
set as 0 and then check if product sorting should work by position first
then  product id desc.

On Mon, Nov 15, 2021 at 5:48 PM Abhinav Pathak ***@***.***>
wrote:

--
Thanks & Regards,
Vipin Garg
Mobile: +91 9785118324

[2021-11-15 12:28] engcom-Hotel commented on #34598
Hi @TomashKhamlai ,

Thank you for reporting the issue.

We have tried this issue on Magento 2.4-develop and we are successfully able to reproduce it.

Steps followed to reproduce issue:

1. Tested the fetchOne() function output by using the following code sample.
[code]
2. Function returns a string when the query result is not null.
3. Function returns false(bool) value when the query result is n

[2021-11-15 12:34] engcom-Hotel commented on #34599
Hi @modryk ,
Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-develop but the import functionality is working as expected.

Steps followed to reproduce issue:

1. Created two store view - France(fr), India(ind).

2. Imported three products using the CSV file (Store -> Import -> Select Product).

3. Import the attached CSV file as per the store view (Use the atta

[2021-11-15 13:16] engcom-Hotel commented on #34624
Hello @homecoded,

Thanks for posting the issue!

We are able to reproduce this issue by verifying the codebase as well. Please refer to this [file](https://github.com/magento/magento2/blob/5f76c92ee696b024676c3d3c2208ccf508dbfa28/app/code/Magento/Catalog/Model/Product/Attribute/Source/Status.php#L65).

Hence confirming this issue.

Thanks

[2021-11-15 14:22] homecoded commented on #34624
Hi @engcom-Hotel

thanks for the verification! Best regards!

[2021-11-15 15:23] engcom-Delta commented on #34622
Hi @webgility-amazonapi,
We tried verifying the issue on Magento 2.4 Develop with latest branch , it works fine . Please find the attached screenshots for reference.Added 'Needs Update' Label.
![Success_API](https://user-images.githubusercontent.com/51681379/141807599-3b77a9c2-ab9c-482f-b62b-3ff22af1002d.JPG)
![Order_API_success](https://user-images.githubusercontent.com/51681379/141807630-ad099fc

[2021-11-15 16:05] andrewbess commented on #34571
The PR with fixes - https://github.com/webonyx/graphql-php/pull/1011

[2021-11-15 16:05] andrewbess commented on #34571
Closed due to fixes have been delivered

[2021-11-15 16:05] #34571 closed, assigned to SilinMykola

[2021-11-15 16:15] andrewbess commented on #34592
Closed due to fixes have been delivered into master branch

[2021-11-15 16:15] #34592 closed, assigned to SilinMykola

[2021-11-15 16:20] andrewbess commented on #34427
Hello @wasimbajwa9
Could you please give me update about your process here?
Thank you in advance.

[2021-11-15 16:22] andrewbess commented on #34568
Closed due to the fixes are unneeded

[2021-11-15 16:22] #34568 closed, assigned to karyna-t

[2021-11-15 16:29] nicholasscottfish commented on #34204
I have updated my patch as it had a strict type check on null when it needed to be !=, to be safe I would use the official patch provided by @dphilipps as I have tested and this fixes the bug.

[2021-11-15 16:44] Liv2BF commented on #34629
Thank you for looking into this @engcom-Delta, the only difference with our site is that once you add an item to the cart it directs you to the cart immediately and you then have to click out of it into another product category to select the next item you want to add to cart, However, I'm hoping by upgrading the site to 2.4 it will fix the issue :)

[2021-11-15 18:01] sdouma commented on #29334
When I read "known issues" before I upgrade, I expect to see this.

[2021-11-15 18:10] TekniskSupport commented on #34515
An update in the matter!

I did contact Klarna and they (somewhat) acknowledged the issue. So at least their developers are informed in the matter.

[2021-11-15 18:11] rmsundar1 commented on #25976
@magento I am working on this

[2021-11-15 20:03] damienwebdev commented on #28337
@engcom-Alfa The issue is that the Fedex API is very slow.

While not explicitly an issue of Magento, you should be looking into https://fedex-betacommunity.centercode.com/key/FedExAPIBeta2020 and determining whether or not this would improve response times.

The current SOAP/xml API has awful performance (especially in the Sandbox environment).

[2021-11-15 20:05] damienwebdev opened #34642 "feat: support Fedex REST API"
### Description (*)

Fedex is outlining a [new RESTful API](https://fedex-betacommunity.centercode.com/key/FedExAPIBeta2020). It will likely be the new standard going forward. We should be starting implementation of this at an early stage because the current implementation [is exceedingly slow](https://github.com/magento/magento2/issues/28337).

### Expected behavior (*)
Use the REST API, not the

[2021-11-15 20:09] Usik2203 commented on #34614
@magento give me 2.4-develop instance

[2021-11-15 20:28] ericerway commented on #30835
@magento give me 2.4.1 instance with edition b2b

[2021-11-15 20:28] ericerway commented on #30835
@magento give me 2.4 instance with edition b2b

[2021-11-15 21:16] bjornmeat commented on #34634
Hi @fritzmg, this is addressed by Klarna directly:
https://docs.klarna.com/platform-solutions/magento/general/notice-for-users-of-magento-v243/

[2021-11-15 22:12] lfolco commented on #12278
Any chance someone can take a look at this???

[2021-11-16 00:51] pmonosolo opened #34645 "Magento 2.4.3 - Checkout Issue with Canadian Shipping Tax - ReferenceError: Unable to process binding "foreach: function(){return getDetails() }""
### Preconditions (*)

1. Magento 2.4.3 CE

### Steps to reproduce (*)

1. Add Canadian taxes to Magento (Import file: https://ufile.io/g1fk6r9a)
2. Create Tax Rules:
![image](https://user-images.githubusercontent.com/66754347/141874614-d0145fae-cd00-43ef-a526-f78c96e1d45d.png)
3. Create SHIPPING TAX rule
![image](https://user-images.githubusercontent.com/66754347/141874689-ea5225eb-2318-462f-9eb4

[2021-11-16 07:30] speller opened #34646 "Invalid header value in NewRelicReporting when flushing Magento cache"
### Preconditions (*)
1. Magento 2.4.3
2. Running on AWS behind Application Load Balancer.

### Steps to reproduce (*)
1. Enable built-in NewRelic reporting
2. System -> Cache management -> Flush Magento cache.

### Expected result (*)
Cache flushed.

### Actual result (*)
Raw plain-text PHP error page with the following content:

[code]

- [ ] Severity: **S0** _- Affects critical data or function

[2021-11-16 07:34] speller commented on #34646
Seems to be related to #9494

[2021-11-16 07:53] engcom-Hotel commented on #34615
Hi @0xMatt,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-develop/2.4.3/2.4.3-p1 but the tier price for customer group functionality is working as expected.
Steps followed to reproduce issue:

1. Go to Catalog -> product -> Select any product -> Click on the advance pricing -> setup customer group price (See the attached screenshot).

2. Verify the product p

[2021-11-16 08:00] #34625 closed, assigned to karyna-t

[2021-11-16 08:16] engcom-Hotel commented on #34120
Dear @memen45,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-16 08:16] #34120 closed, assigned to engcom-Hotel

[2021-11-16 08:17] engcom-Hotel commented on #33994
Dear @fm-cl,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-16 08:17] #33994 closed, assigned to engcom-Hotel

[2021-11-16 08:24] davidduong90 commented on #34601
Hello @engcom-Hotel

If this crontab works fine

<job name="analytics_collect_data" instance="Magento\Analytics\Cron\CollectData" method="execute" />

How long do you think data will show up on the link:
https://advancedreporting.rjmetrics.com/report?otp=_InyQ7gh3GgM9wewXiUdmM6MpJ_VDBsYZjqGtiqsR8NcIoAifiVvR8dJ1ZkkAWHJRbhRhIcuKmJcSuv9602uOw

[2021-11-16 08:46] engcom-Hotel commented on #27474
@magento give me 2.4-develop instance

[2021-11-16 09:01] engcom-Hotel commented on #27474
Hello @norgeindian,

The issue is reproducible in the Magento 2.4-develop branch, hence confirming this issue. Please refer below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/141954510-eb47b409-273a-4ca2-a98c-59ca89603923.png)

Thanks

[2021-11-16 09:02] in-session commented on #34596
@hostep

That's true, but it will be about 2 years before it is really fully supported by browsers. It is also the case that iframe, for example, does not really run well per loading="lazy" the request for the iframe is still made too early.

[2021-11-16 10:36] engcom-Delta commented on #34424
Hi @flashtechusa,
Thank you for raising an issue .Kindly provide the steps to reproduce ,expected results ,actual results and screenshots for reference.
Regards,

[2021-11-16 11:26] Axel29 commented on #34590
Hi @engcom-Hotel ,

You're watching the `$shippingAddress` variable not the `$address` passed in params.

If the destination address (thus the `$address` parameter) has no company, it is not set in it.
Thus, if the `$shippingAddress` (which is the quote's address before changing) has a company, it will stay.

Here's a screenshot of the bug:

![image](https://user-images.githubusercontent.com/30152

[2021-11-16 11:30] northdakota commented on #30315
I have the same problem on 2.4.2-p2.
Full price reindex is fast, but partial reindex is very slow.

Found such query in slow log
[code]
These 8 products are configurable. Each of them contains 2 simple products.
However result of the query is around 15000 records

looks like there are brackets missed in the where condition

WHERE
    **(**(si.is_in_stock = 1) OR (IFNULL(si_parent.is_in_stock, stoc

[2021-11-16 12:00] hostep commented on #30315
@vzabaznov: you might be interested in the comment above

[2021-11-16 12:24] devendhiranr opened #34647 "Unable to make curl request to external endpoint while clicking placeorder button"
Hi Team,
I am working on magento payment gateway extension development using Magento 2.4.3. In that i am having the requirement to capture using magento backend. The problem i am facing is after clicking place order from checkout ajax call is happening. It is calling 2 commands authorize and capture.

In capture flow within TransferFactory implements TransferFactoryInterface class i have configure

[2021-11-16 12:45] 0xMatt commented on #34615
That should be my exact scenario. I hardly have any third party extensions or custom code modifications and am using stock Luma so I wonder what could be causing this.

I'll close this for now. Thanks for taking your time to reproduce my exact scenario to the best of my knowledge to try any reproduce this. Thanks.

[2021-11-16 12:45] #34615 closed, assigned to engcom-Hotel

[2021-11-16 12:56] m2-assistant[bot] opened #34648 "[Issue] Show customer_grid indexer as green when realtime"
This issue is automatically created based on existing pull request: magento/magento2#34557: Show customer_grid indexer as green when realtime

---------
### Description
Magento recommends that all indexers be set in `schedule` mode ("Update by Schedule") except for `customer_grid` which should be in `realtime` mode ("Update on Save"). This is documented here in [the devdocs](https://devdocs.magent

[2021-11-16 13:08] engcom-Alfa commented on #34486
Hi @engcom-Hotel
As per the community triage meeting, we have to identify the functional impact of the issue description in order to consider this as an issue.

Hi @hoangss Thanks for your contribution and collaboration!
Please help us providing the more information about the functional impact code issue.
Thanks in advance!

[2021-11-16 13:24] engcom-Hotel commented on #34614
Hello @rahimimo,

Thanks for posting this issue!

We have tried to reproduce this issue in the Magento 2.4-develop branch, and it is reproducible for us with the given steps. We have also tried to check the root cause of the issue and found that the data in table `sales_order_address` has the `billing@address.co` value for the row. Please have a look at the below screenshot for reference:
![1](htt

[2021-11-16 13:35] oneserv-heuser commented on #17310
Having the same issue after adding several user roles (acl). Now the adminhtml is insane slow and sometimes this error occurs and a error page is shown. We're using 2.4.3-p1.
If I delete the user roles, everything is fine again. We're also using redis.

[2021-11-16 13:38] oneserv-heuser commented on #17310
Related to [#3374](https://github.com/magento/magento2/issues/33748)

[2021-11-16 13:40] oneserv-heuser commented on #33748
@ihor-sviziev Can you please reopen this ticket. It's still an issue and the solution provided is not convinent. We're experiencing the issue after adding multiple user roles (acl). Then every user which has specific rights cannot login to the adminhtml anymore or its very slow. Admin users with full rights can still login easily.

Confirmed on magento 2.4.3-p1.

[2021-11-16 14:18] densen45 commented on #33964
Hey @nuzil, for clarification: We had disabled all the modules that are prefixed by "Magento_Inventory", not only the "Magento_inventory" module. Thus, we didn't used any of these "new" Stock features at all.
We would like to disable all of these modules again, as we have had some issues combined with our custom modules and the obvious deployment and adminhtml overhead.

Our questions:
1. Do we al

[2021-11-16 14:48] engcom-Hotel commented on #29057
Hello @TimonVS,

We have tried to reproduce the issue in Magento 2.4-develop branch and it is reproducible for us. The amount including tax does not show in the `cart` query through graphql. Hence confirming this issue with label `feature request`.

As per you below statement, I would like to tell you that on the frontend with the Magento Luma theme, the cart is showing price without tax:

Please

[2021-11-16 15:28] thehl opened #34649 "grand_total and base_grand_total have different values, although we have only ONE currency"
### Preconditions (*)
1. Magento 2.4.3-p1
2. Configure tax settings like in the screenshot
![taxsettings](https://user-images.githubusercontent.com/1321326/142010314-f6646577-3603-445d-9628-ef530d3b007f.png)
3. Tax Setup is 19% for Germany
4. Product Price is 5€ including taxes
5. Base currency is the same like the store currency

### Steps to reproduce (*)
1. Add the product with qty 1 to the car

[2021-11-16 15:58] engcom-Delta commented on #34627
Hi @tommi-martin,
Tried to reproduce it on Magento 2.4 Develop latest branch , order has cancelled successfully, while cancelling getting error "You have not cancelled the item

Uploading https___mgnregs..mp4…

"
Please find the attached screenshots & video for reference.
![OrderCanceled](https://user-images.githubusercontent.com/51681379/142017140-0b3d62b3-4de6-458e-9426-a4f9224cbed6.JPG)

[2021-11-16 16:06] thehl opened #34650 "subtotal_with_discount includes shipping discount"
### Preconditions (*)
1. Magento 2.4.3-p1
2. Setup shipping method flatrate like this:
![freeshippingmethod](https://user-images.githubusercontent.com/1321326/142019032-76749190-7b04-4bd4-afce-1b12abb52f6c.png)
3. Setup freeshipping salesrule like this:
![freeshippingrule](https://user-images.githubusercontent.com/1321326/142019087-036de3c6-1b2e-4518-89e0-8a18ea182bd2.png)
4. Setup tax settings li

[2021-11-16 17:46] ArtemVasyliev commented on #31317
The issue is fixed in https://github.com/magento-commerce/magento2ce/commit/3e9c3c7ec1dd1a215b05a505ef9abaf7d86c3cac

[2021-11-16 18:14] #31317 closed, assigned to chiranjeevi-cj

[2021-11-16 18:50] pmonosolo commented on #34645
@magento give me 2.4-develop instance

[2021-11-16 19:25] pmonosolo commented on #34645
@magento give me 2.4.3 instance

[2021-11-16 20:28] pmonosolo commented on #34645
Hmmmmm....can't confirm on a vanilla 2.4.3 or 2.4-develop.

Need a bit more time to figure it out.

[2021-11-16 21:09] pmonosolo commented on #34645
Closing, found an issue inside a local theme. Not related to Magento 2.4.3.

[2021-11-16 21:09] #34645 closed, assigned to engcom-Delta

[2021-11-17 02:55] 0xMatt commented on #30870
Not fixed in 2.4.3-p1.

When I capture a payment, a sales transaction is made. This doesn't close out the authorization and results in a double charge.

[2021-11-17 04:50] #34622 closed, assigned to engcom-Delta

[2021-11-17 04:51] #34623 closed, assigned to engcom-Hotel

[2021-11-17 05:44] engcom-Delta commented on #34614
Hi @rahimimo,

We tried to replicate the issue but getting error @step 4 .Kindly review provided steps.
![Put_Order](https://user-images.githubusercontent.com/51681379/142141809-bf688e42-5570-4013-bd8e-86166fbaac3d.JPG)

[2021-11-17 06:23] engcom-Delta commented on #34649
Hi @thehl,
Tried to reproduce the issue on Magento 2.4 Develop , observed that grand_total and base_grand_total values are different.
Hence  added 'Issue Confirmed'
Please find below response for reference.
![grandTotal](https://user-images.githubusercontent.com/51681379/142145791-e9b026d7-4991-4347-b150-015d20739442.JPG)

{

    "base_discount_amount": 0,
    "base_grand_total": 14,
    "base_dis

[2021-11-17 06:27] engcom-Delta commented on #34634
Hi @fritzmg,
Can we close it as it is taking care by Klarna directly?

Thanks

[2021-11-17 06:50] ioweb-gr commented on #34628
@shikhamis11 Did you find a relevant PR or Commit which tracks this issue that we could apply specifically?

[2021-11-17 08:03] fritzmg commented on #34634
@engcom-Delta any new Magento installation will still be affected by this. Klarna still has to release a new version of its Magento extension and then Magento needs to do a new releasez, since Magento requires a fixed version constraint,instead of an open one (which should be changed imho).

[2021-11-17 08:13] riconeitzel commented on #30719
Confirmed that https://github.com/magento/magento2/issues/30719#issuecomment-778826680 fixes the problem for us on 2.3.7-p2 in the regular checkout.

@mariuscris you have a typo in your comment ";;"

[2021-11-17 09:00] tommi-martin commented on #34627
Hello @engcom-Delta Thank you for your attention towards this matter. In the recording did you perhaps check the exception that caused the error message to be printed? It originates from the cancel controller's try catch logic and if I gave you my instructions right, the actual exception should be the mysql query error in the original description, while the message shown to user is inaccurate.

\M

[2021-11-17 09:02] TarasPasickyy opened #34652 "Youtube video on the product page is not working."
### Preconditions (*)
1. Magento ver. 2.4.0-p1 EE
2. Product is created.)

### Steps to reproduce (*)
1. Add Youtube video to the product image gallery.
2. Add cms block to the product page that have iframe from Youtube.

### Expected result (*)
1. Both videos can be loaded.

### Actual result (*)
1. Gallery video doesn't work.

Issue is in this file:
https://github.com/magento/magento2/blob/2.4-d

[2021-11-17 09:06] engcom-Delta commented on #34645
Hi @pmonosolo,
We tried to replicate it on Magento 2.4 Develop.it is not reproducible. Hence added 'Needs Update' Label.
Please find the attached screenshots for reference.
![Placed_order_Canada](https://user-images.githubusercontent.com/51681379/142170239-434073a2-962a-41fa-a266-ccad300f8b51.JPG)

Thanks

[2021-11-17 09:10] TarasPasickyy commented on #34652
Confirmed

[2021-11-17 09:20] engcom-Delta commented on #34371
Hi pdeboolw,

it seems coupon has been expired. Kindly review once.
Please find the attached screenshot for reference.
![coupone_applied](https://user-images.githubusercontent.com/51681379/142172347-28aa017a-45e2-4477-9543-3adf3d7dbc5b.JPG)
in addition to this, we placed an order successfully.
![OrderPlaced](https://user-images.githubusercontent.com/51681379/142172452-5e60001c-164e-4513-86c3-c994a

[2021-11-17 09:28] karyna-t opened #34653 "Fix WebAPI Tests to be compatible with PHP 8.1"
We have a lot of errors (>1000) when we run build (WebAPI) on PHP 8.1
All those issues need to be fixed in all our repos:

- [ ] https://github.com/magento/magento2
- [ ]  https://github.com/magento/partners-magento2ee
- [ ]  https://github.com/magento/partners-magento2b2b
- [ ]  https://github.com/magento/partners-magento2-infrastructure
- [ ]  https://github.com/magento/inventory
- [ ]  https://

[2021-11-17 09:29] karyna-tsymbal-atwix commented on #34653
@magento I am working on this

[2021-11-17 09:43] engcom-Hotel commented on #28937
Hello @rani-priya,

We request you to please try to reproduce the issue in Magento 2.4-develop branch and let us know if it is still reproducible for you.

We also need more information if it is reproducible like below:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-11-17 09:51] ihor-sviziev commented on #33748
The issue is still not resolved.

On Magento 2.3.7-p2, the admin user mode is getting saved into the session. That significantly increases the size of the session. Custom extensions also write some data to the session, even when no data is stored.

I think we should re-open this issue for further investigation.
/CC @sidolov @kandy

[2021-11-17 09:56] ihor-sviziev commented on #33748
@sidolov, could you check why the issue can't be exported to Jira after re-opening the Github case?

[2021-11-17 10:10] TomashKhamlai commented on #26333
@stale

[2021-11-17 10:10] TomashKhamlai commented on #26333
@magento-probot-user

[2021-11-17 10:10] TomashKhamlai commented on #26333
@magento-probot-user unstale

[2021-11-17 10:47] engcom-Delta commented on #28051
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-11-17 10:47] #28051 closed, assigned to engcom-Delta

[2021-11-17 10:49] engcom-Delta commented on #34248
Hi @ThisIsRuddy,
is this issue resolved? if yes , can we close it?
Thanks

[2021-11-17 10:56] sezio commented on #34464
Can confirm issue : I met the same problem with the graphql and the global area. Arguments were replaced.

[2021-11-17 11:28] ThisIsRuddy commented on #34248
No this is definetly not resolved

I am currently holding back our go live so I can populate our store
products via bulk api on m2.4.2-p1 as this still works as expected on that
version

On Wed, 17 Nov 2021, 10:49 Penchalaiah K, ***@***.***> wrote:

[2021-11-17 11:47] engcom-Alfa commented on #30220
Hi @paulappelbe
Thanks for your contribution and collaboration!
I have tried to reproduce this issue and seems to be not reproducible. Kindly cross-check below steps I followed please!

1. Created a cart using GraphQL request.
2. Added 3 products with 2 quantity each as shown in the below screenshot.
<img width="1440" alt="Products added to Cart" src="https://user-images.githubusercontent.com/5167

[2021-11-17 11:52] Domux-France opened #34654 "Magento 2.4.3-p1 No make order button displayed and JS not loaded in checkout page"
Hello dear all,

I'm getting a js error while placing an order. there is no order button displayed.
I use Magento 2.4.3-P1 with PHP 7.4 under Plesk with CentOS 8

Can anyone help me please?
Thanks a lot

605c976991bfab95c737f255d2a64e13.js:1895 GET https://xxxxxx/static/frontend/bs_complex/bs_complex1/fr_FR/Amazon_Payment/js/model/storage.js net::ERR_ABORTED 404
console-output-handler.js:34 [2021-

[2021-11-17 11:53] engcom-Alfa commented on #29901
Hi @mmborado
Thanks for your contribution and collaboration!
I have tried to reproduce this issue and seems to be not reproducible. Kindly cross-check below steps I followed please!

1. Created a cart using GraphQL request.
2. Added 3 products with 2 quantity each as shown in the below screenshot.
<img width="1440" alt="Products added to Cart" src="https://user-images.githubusercontent.com/5167913

[2021-11-17 12:03] JohanCore commented on #21650
Still having this issue in 2.4.3-p1

[2021-11-17 12:07] JohanCore opened #34655 "Saving custom options with dutch formatCurrency separator in price fails"
### Preconditions (*)
Magento 2.4.3-p1
Set admin user locale to for example dutch

### Steps to reproduce (*)
1. Create a product with custom options
2. set price of custom option to -10,00
3. Save product
4. open product again, and try to save.

### Expected result (*)
1. Product should save fine.

### Actual result (*)
1. When opening product for the second time, the price of the product has bee

[2021-11-17 12:26] mimou78 commented on #34624
Hello @magento I am working on this

[2021-11-17 12:27] mimou78 commented on #34624
@magento add to contributors team

[2021-11-17 12:27] engcom-Delta commented on #34278
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-11-17 12:27] #34278 closed, assigned to engcom-Delta

[2021-11-17 12:28] mimou78 commented on #34624
Hello @magento I am working on this

[2021-11-17 12:28] engcom-Delta commented on #34393
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-11-17 12:28] #34393 closed, assigned to engcom-Delta

[2021-11-17 13:05] 0xMatt commented on #30870
Confirmed this patch fixes the issue on 2.4.3-p1.

[2021-11-17 13:21] engcom-Alfa commented on #30220
Hi @paulappelbe Thanks for your contribution!

I have retried to reproduce the issue in 2.4-develop instance and unable to reproduce it successfully. Below are steps I followed to reproduce the issue, kindly cross-check it and let me know if I have to change anything in my followed steps.

1. Created a simple product with quantity 3 as shown in below screenshot.
<img width="1440" alt="Screenshot 2

[2021-11-17 16:46] pixel-paul opened #34657 "Image preview location incorrect when Base URL for User Media Files set to remote URL"
Apologies if this has been discussed before, but it appears that the functionality of using a remote URL for media isn't working correctly.

### Preconditions (*)
1. 2.4.3-p1

### Steps to reproduce (*)
1. Change 'Base URL for User Media Files' to https://assets.example.com
2. Add a new product, adding an image.

### Expected result (*)

1. Preview image should appear

### Actual result (*)

1. No

[2021-11-17 17:18] merodio7 opened #34658 "Image roles are not being selected in items created by API after upgrade to 2.4.3p1"
Hi,

I found this in 2.4.3p1 very close, to that was done in ticket https://github.com/magento/magento2/issues/25763 for 2.3.3

Preconditions (*)
1. Upgrade from 2.4.3 to 2.4.3p1

Steps to reproduce (*)
1.Upgrade to 2.4.3 from 2.4.3p1
2. Create or edit products with images via api endpoint connection and one image has 3 types: "types": [   "image",  "small_image",  "thumbnail" ]

Expected result (

[2021-11-17 19:35] hostep commented on #34628
@ioweb-gr: I can find a possible solution under "MC-42506: [CLOUD] duplicated product does not retain some store view specific data", 2 commits: https://github.com/magento/magento2/commit/f0bc113c3179590cb18fbc94b94ae292cd5962e2 & https://github.com/magento/magento2/commit/fa474dd5a5eb6245cc435b8bb939c07545009e71 (no clean merge commit unfortunately)

[2021-11-17 19:39] sidolov commented on #33748
@ihor-sviziev because the issue already exists, it was re-opened.

[2021-11-17 19:43] hostep commented on #34248
@ThisIsRuddy: have you tried [this fix](https://github.com/magento/security-package/commit/d2adcbb47d01e46ed5b193f0c973ea269eb62639) already?

[2021-11-17 19:56] bylli79 opened #34660 "Bulk action: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails"
### Preconditions (*)

1. Magento 2.4.0 upgrade has been successfully done from 2.3 to 2.4.0
2. php 7.2

### Steps to reproduce (*)
1. In the catalog, select the configurable products to modify.
2. I select update attributes as an action.
3.  I select scope -> default store view
4.  I change the attribute and click on the save button
5.  I get the Task "Update attributes for 1 selected products" m

[2021-11-17 20:19] Domux-France commented on #34654
Edit :
I renamed some folders and files in Pub/static folder and I it temporary solved but if I generate new static files I get the same issue

I checked logs and found that some static js and css are not in the right folder and not with the right name
For example :
bs_complex/bs_complex1/fr_FR/Amazon_Payment/js/model/storage.js
When I checked by FTP the folder is called Amazon_Pay and not Amazon

[2021-11-17 21:52] scottsb commented on #23251
@kandy I don't follow this:

The _only_ time you should be running `setup:di:compile` is when building for production (as was my case in the original report scenario). You should not normally run that in development (when Magento should normally be in developer mode). Therefore, the note you quote from the Composer docs seems non sequitur.

Can you please clarify?

[2021-11-17 22:27] Ralfefernandes opened #34661 "Upgrading magento from 2.3 to 2.4 Base table or view not found: 1146 Table 'angoloj.customer_group_excluded_website' doesn't exist"
Upgrading magento from 2.3 to 2.4 issues

roduct Price index process error during indexation process:
`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'angoloj.customer_group_excluded_website' doesn't exist, query was: INSERT INTO `catalog_product_index_price_temp` SELECT `e`.`entity_id`, `cg`.`customer_group_id`, `pw`.`website_id`, IF(IFNULL(tas_tax_class_id.value_id, -1) > 0, tas_tax_c

[2021-11-18 01:04] #34632 closed, assigned to andrewbess

[2021-11-18 01:05] #34633 closed, assigned to anzin

[2021-11-18 04:28] kalyani-zithas opened #34662 "WebShopApps matrix rate issue"
magento version - magento 2.3.2
php version - php  5.2

I have uploaded the WebShopApps matrix rates file at the backend for no. of items vs destination condition but it's not working and not showing on order page.Please refer the attached file and give me the solution.

![Screenshot (13)](https://user-images.githubusercontent.com/94588763/142351785-7e60b5e4-26b6-4b88-89be-12d0bf7bf718.png)

Expec

[2021-11-18 06:21] engcom-Hotel commented on #34183
Dear @proseLA,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-18 06:21] #34183 closed, assigned to engcom-Hotel

[2021-11-18 07:17] engcom-Hotel commented on #34660
Hello @bylli79,

Thanks for posting the issue!

We would like to know the exact version(2.3.x) upgraded to 2.4.0, this will help us in reproduction and fixing of the issue.

Thanks

[2021-11-18 08:41] Vartikamish opened #34663 "Found bug when apply filter in Sort order"
### Preconditions (*)

1. Platform : eCommerce
2. Mode : Developer/ Production
3. Magento version : 2.3.2

### Steps to reproduce (*)

1. Log in to Admin panel
2. Navigate to JOB BOARD > Manage Jobs > Filter> Sort Order
3. Try to filter using Sort Order

### Expected result (*)

1. Data should be successfully sorted in filter key.

### Actual result (*)

1. Error : Something went wrong

###Descrip

[2021-11-18 09:10] Vartikamish opened #34664 "Found bug when apply filter Experience in View application page"
### Preconditions (*)

1. Platform : eCommerce
2. Mode : Developer/ Production
3. Magento Version : 2.3.2

### Steps to reproduce (*)

1. Log in to admin panel
2. Navigate to JOB BOARD>View Applications> Filter> Experience
3. Try to filter using Experience key.

### Expected result (*)

1. Data should be successfully sorted in experience key.

### Actual result (*)

1. Error : Something went wrong

[2021-11-18 09:14] Eddcapone commented on #34611
I figured out that you can't use helper in di.xml, only in layout files.

Is there a way to use helpers or similar functionality in di.xml or do we have to solve it differently?

[2021-11-18 09:27] thaknaikshreya opened #34666 "found bug in create job application first name , last name and education details taking in numbers format"
### Preconditions (*)

1. magento version 2.3.2
2.platform : ecomm
3. mode: production/developer

### Steps to reproduce (*)

1. log in to admin panel
2.job board>view application>create job application
### Expected result (*)

1. [Screenshots, logs or description]
2. numbers should not be taken

### Actual result (*)

1. [Screenshots, logs or description]
2. numbers taken in the place of first an

[2021-11-18 09:50] Vartikamish opened #34667 "Should be consider only alphabet in First name and last name"
### Preconditions (*)

1. Magento version : 2.3.2
2. Mode: Developer/ Production

### Steps to reproduce (*)

1. Log in to Admin page.
2. Navigate to JOB BOARD> VIEW APPLICATION>
3. Try to numeric word.

### Expected result (*)

1. [Screenshots, logs or description]
2. Data should be consider only alphabet words.

### Actual result (*)

1. Its successfully create with all numeric words.

---
Pleas

[2021-11-18 09:58] engcom-Delta commented on #34655
Hi @34655,
We tried to reproduce the issue , it works fine , Price has not been changed .
Hence added label 'Needs Update'. Please find the attached screenshots for reference.
![custom_pricePRod](https://user-images.githubusercontent.com/51681379/142393462-138b1eb3-4771-41d7-92e0-804f35143ee7.JPG)
![Price_not changed](https://user-images.githubusercontent.com/51681379/142393477-7c53c335-3755-47ff-

[2021-11-18 10:21] engcom-Hotel commented on #34658
Hello @merodio7,

We have tried to reproduce the issue after upgrading from 2.4.3 to 2.4.3-p1, but the issue is not reproducible for us. Please have a look at to below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/142397016-1de0212b-5fe2-405b-8ecb-617520c0c07a.png)

Please let us know in case we missed anything.

Thanks

[2021-11-18 10:26] JohanCore commented on #34655
Hello,

I'm missing the minus sign in your example.
If we put in a negative amount ( - 410,00 ) the minus sign goes behind the number.

[2021-11-18 10:34] merodio7 commented on #34658
Hi @engcom-Hotel

We have this case (we updated days ago to 2.4.3p1 and we have it working fine)
First try : sku with 2 images, first one with 3 types, and second one with exploded. In result, both have type[]
![image](https://user-images.githubusercontent.com/29289358/142398516-6fc01d7d-62cc-40ae-859c-b5c7dde66f2d.png)

If i do the step 3 (let the thumbnail in the first one, delete the other ones

[2021-11-18 10:47] engcom-Alfa commented on #34328
updated _additional info_ in the [above issue description](https://github.com/magento/magento2/issues/34328#issue-1024773526) and hence removing the _On Hold_ label.
Thanks

[2021-11-18 10:47] engcom-November commented on #33447
Hi @oneserv-heuser ,
The urlResolver query has been deprecated. Use the [route](https://devdocs.magento.com/guides/v2.4/graphql/queries/route.html) query instead.
On running route Query, this issue is not observed. URL for only assigned store and category are returned in the response.
![image](https://user-images.githubusercontent.com/60198231/142401204-fa966db4-e2fa-4d37-884b-339f113f77ef.png)

K

[2021-11-18 11:29] merodio7 commented on #34658
Hi @engcom-Hotel  one more detail. We have the commercial/enterprise version

[2021-11-18 11:52] ziarv commented on #7554
This issue still exists with Magento ver. 2.4.2

[2021-11-18 12:38] chochold opened #34668 "setup:upgrade action: adding trigger (mview.xml) to not exist table"
### Preconditions (*)
1. Magento 2.4.3 - upgrade from 2.2.4 to 2.4.3
2. php 7.4
3. "amasty/sorting" - upgrade from "^2.6" to "^2.9" version

### Steps to reproduce (*)
1. run composer update
2. run bin/magento setup:upgrade

### Expected result (*)
1. upgraded Magento and Amaty module to newest version

### Actual result (*)

Updating modules:
SQLSTATE[42S02]: Base table or view not found: 1146 Ta

[2021-11-18 13:34] codebase-md opened #34669 "PayPal Express InContext SmartButton on product page is missing an availability check"
### Preconditions (*)

1. Magento 2.4.3

### Steps to reproduce (*)

There are no specific steps. We developed an extension that restricts payment methods by listening to the event 'payment_method_is_active' fired in [this function](https://github.com/magento/magento2/blob/0af0fba365a4268c3f2d5c7168fcf17dbeab148c/app/code/Magento/Payment/Model/Method/AbstractMethod.php#L839).
This works fine for a

[2021-11-18 13:47] engcom-November commented on #33644
Verified the issue on Magento 2.4-develop branch and the issue is reproducible for Store view other than default store:
Steps:
Admin - Stores - Settings - Order Status - Edit Processing status - Saved labels for multiple store views
GraphQL - Run the Query for other store view using customer having Processing Order
Issue: Empty response is returned
![image](https://user-images.githubusercontent.co

[2021-11-18 15:22] amokato commented on #31758
So I guess this bug is still present in 2.4.3-p1, right?

[2021-11-18 15:32] vipin12117 commented on #31758
yes, correct.

On Thu, Nov 18, 2021 at 8:52 PM amorana ***@***.***> wrote:

--
Thanks & Regards,
Vipin Garg
Mobile: +91 9785118324

[2021-11-18 15:33] jornwildenbeest commented on #31758
Samen problem here

[2021-11-18 16:31] joggienl commented on #33623
@shikhamis11 is the behaviour of the graphql api intentional, that if I query for a product and use the `url_key` as filter, I get all products where this `url_key` is used?

This would explain why beside the SimpleProduct the BundleProduct (or ConfigurableProduct) where this SimpleProduct is also used, is returned. But it does not explain why it does not do this when you pass the `sku` as a filte

[2021-11-18 17:00] rahimimo commented on #29938
I am having this issue in coupon magento2.4.2 via rest API

[2021-11-18 17:02] rahimimo commented on #29938
@engcom-Oscar why this issue is marked as closed?

[2021-11-18 17:08] simonmaass commented on #34294
We also have a german magento 2.4.3 shop and i can confirm the same issue

[2021-11-18 17:43] pmonosolo commented on #21890
@convenient has this issue been solved after 2.3? I'm here on 2.4.3 and just hit this problem.

[2021-11-18 17:56] pmonosolo commented on #28387
Looks like this is related to this issue posted all the way in 2019:
https://github.com/magento/magento2/issues/21890

I'm hitting the same limit on 2.4.3

[2021-11-18 18:03] kandy commented on #23251
@scottsb the important part is "various problems when adding/removing classes." and `setup:di:compile` add Factory, Proxy, etc classes

[2021-11-18 18:14] engcom-Alfa commented on #30220
Tried to reproduce utilising the product that has custom options. Details mentioned below:

1. Created a product with 3 available quantity with custom options as shown in below screenshot.
<img width="1440" alt="Screenshot 2021-11-18 at 5 10 57 PM" src="https://user-images.githubusercontent.com/51679138/142472385-2ae488ea-45e2-4bb3-8cbd-5d5fb5bbb314.png">

2. With the logged in customer, added the

[2021-11-18 18:52] chequille commented on #34294
@simonmaass
Thank you very much for this.
Maybe this helps, we are now two having this issue.

[2021-11-18 19:58] in-session opened #34673 "Test: Wrong prices without tax in the checkout"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-11-18 19:58] in-session commented on #34673
@magento give me 2.4-develop instance

[2021-11-18 20:26] #34673 closed, assigned to nobody

[2021-11-18 21:13] pmonosolo commented on #28387
Step 8 (truncate / reset auto_increment) did not work for me in my testing environment.

For some reason the auto_increment stays the same even after ALTER TABLE catalog_product_entity_varchar AUTO_INCREMENT = 1;

[2021-11-18 22:57] fooman commented on #30220
@engcom-Alfa thanks for checking. Just to confirm in your tests did you only use this Github repo or did you also install magento/inventory?

If you could add
stock_status
to your get cart items query https://github.com/magento/inventory/blob/d8be487cedff1dcad64d20f3375a3ce28e08dc57/InventoryGraphQl/etc/schema.graphqls#L6
you should be able to see it.

[2021-11-19 02:08] dthomas commented on #33022
@magento give me 2.4-develop instance

[2021-11-19 02:23] dthomas commented on #33022
I'm unable to reproduce the issue. The out of stock item moves to the end of product list properly.

[2021-11-19 05:43] peacefultruth commented on #34550
I ran into this issue after recently upgrading, the cause of it seems to be [vendor/magento/module-customer-graph-ql/Plugin/ClearCustomerSessionAfterRequest.php].

Is there a particular reason this was introduced?

[2021-11-19 07:23] simbatsuro commented on #29439
I found this [answer](https://magento.stackexchange.com/a/341418) helpful. SImilar to @dverkade's

[2021-11-19 07:45] mohaelmrabet opened #34675 "Get error in detail shipment with pakages in admin panel"
### Preconditions (*)
1. Magento 2.4.3-p1
2. Php 7.4

### Steps to reproduce (*)

Go into the detail of a shipment in admin panel. (A shipment with pakages)

### Expected result (*)
No error

### Actual result (*)

Get error in detail shipment in admin

 Exception #0 (Exception): Warning: Invalid argument supplied for foreach() in /var/www/html/vendor/magento/module-shipping/view/adminhtml/templat

[2021-11-19 07:46] mimou78 commented on #34675
@magento give me 2.4-develop instance

[2021-11-19 08:02] warednsour commented on #11991
@nicholasscottfish  i am facing the same problem days are going and i can't find an answer.

[2021-11-19 08:15] Morgy93 commented on #33586
@engcom-Alfa Yes, please?

[2021-11-19 08:42] mariuscris commented on #30719
Thanks @riconeitzel for spotting the typo. It should be corrected by now

[2021-11-19 09:03] engcom-Hotel commented on #32590
@magento give me 2.4-develop instance

[2021-11-19 09:07] engcom-Hotel commented on #34675
Hello @mimou78,

Thanks for posting the issue!

We request you to please elaborate below point mentioned in the main description:

Thanks

[2021-11-19 09:21] mimou78 commented on #34675
Hello,

You must use a delivery method that use the shipping label, and create a new shipment with shipping labels.
and when you go to the the detail of a shipment.
You get the error, because we store packages as string in DB. and we except to get array.

Thanks

[2021-11-19 09:30] engcom-November commented on #34666
Hi @thaknaikshreya
Job board is a 3rd party extension and code of this extension is not part on https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketpl

[2021-11-19 09:30] #34666 closed, assigned to engcom-November

[2021-11-19 09:34] engcom-November commented on #34667
Hi @Vartikamish ,
Job board is a 3rd party extension and code of this extension is not part on https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketpla

[2021-11-19 09:34] #34667 closed, assigned to engcom-November

[2021-11-19 09:39] engcom-November commented on #34668
Hi @chochold ,
Amasty is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.mag

[2021-11-19 09:39] #34668 closed, assigned to engcom-November

[2021-11-19 09:42] PascalBrouwers commented on #9851
Still does not work. Duplicating configurable product creates a new product with the old simples related to it instead of also duplicating the related simples.

[2021-11-19 09:42] engcom-November commented on #34664
Hi @Vartikamish ,

Job board is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketpl

[2021-11-19 09:42] #34664 closed, assigned to engcom-November

[2021-11-19 09:55] jlballes opened #34677 "PATCH method support in Magento\Framework\HTTP\Client\Curl class"
### Summary (*)

I am trying to make a HTTP request using the class "Magento\Framework\HTTP\ZendClient". I need to use the PATCH http method, but I am seeing that the PATCH method is not supported by the class "Magento\Framework\HTTP\Client/Curl".
So, I tried to make a preference of the "Magento\Framework\HTTP\Client\Curl" class, in order to add support to the PATCH http method, but the preference

[2021-11-19 10:07] engcom-November commented on #34151
Hi @springluu
We are closing this issue as the session storage issue is being tracked on https://github.com/magento/magento2/issues/33748. Please check this ticket for latest updates/ workaround. Kindly reopen the ticket if you are still not able to create order along with missing steps.
Thank you.

[2021-11-19 10:07] #34151 closed, assigned to engcom-November

[2021-11-19 10:08] chochold commented on #34668
Hi @engcom-November,

it is no 3rd party module problem. The main problem is in the Magento core setup:upgrade code. Amasty we used as an example.

The problem is in this file
`setup/src/Magento/Setup/Console/Command/UpgradeCommand.php`

Because, if you want to create a <subscription> on xxxxx table

[code]

And xxxxx table is created in the same module where we have `mview.xml`, setup:upgrade gen

[2021-11-19 10:10] engcom-November commented on #34448
Hi @brudev ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-11-19 10:10] #34448 closed, assigned to engcom-November

[2021-11-19 10:20] engcom-November commented on #34476
Hi @salehawal ,

Magento requires elastic Search modules enabled. Kindly refer the [system requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) elastic Search compatible version to support for specific Magento 2.4.x version.
Elastic Search configuration is must for all Magento 2.4.x versions.
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elastics

[2021-11-19 11:20] stupachenko opened #34678 "Configurable product slow saving or time out"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Save a configurable product with ~50 simple product variations ~5 images to all SKUs

### Expected result (*)

1. The product is saved in a few seconds

### Actual result (*)

1. It takes more than 5 minutes to save the product
2. If no images are selected it takes a few seconds

[2021-11-19 11:21] stupachenko commented on #34678
@magento give me 2.4-develop instance

[2021-11-19 12:20] engcom-Hotel commented on #34527
Hello @mzenner1,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-11-19 12:21] stupachenko commented on #34678
Confirmed
https://user-images.githubusercontent.com/3962252/142621954-72f1f9c8-8017-4825-b9f7-6beceea709fb.mp4

[2021-11-19 12:53] engcom-Alfa commented on #30220
Hi @fooman
I had tried without inventory last time; I again tried using inventory module one more time and the steps are below.

1. Made sure to have the inventory configurations as shown in below screenshot.
<img width="1440" alt="Screenshot 2021-11-19 at 12 41 51 PM" src="https://user-images.githubusercontent.com/51679138/142625041-b2ff0e30-37e2-40ea-8666-69df102fe9dc.png">

2. Created a new pro

[2021-11-19 13:07] engcom-Hotel commented on #28578
@magento-engcom-team & @cpartica As we have PR to address this issue, can we close this issue.

[2021-11-19 13:51] andrewbess opened #34679 "Fix sniff `Magento2.Annotation.MethodAnnotationStructure` to exclude false positive fail"
We are faced with the problem of false positive fail for the sniff `Magento2.Annotation.MethodAnnotationStructure` when added `#[\ReturnTypeWillChange]` attribute to make compatibility with PHP 8.1

### example:

[code]

### Expected result (*)
Results of the static tests should be passed for this issue

### Actual result (*)
[code]

[2021-11-19 14:02] jorgb90 commented on #22313
@magento-engcom-team reopen? Easy fix so please publish it in the next release!

[2021-11-19 14:03] stupachenko commented on #6167
Reopened https://github.com/magento/magento2/issues/34678

[2021-11-19 14:03] stupachenko commented on #13254
Reopened https://github.com/magento/magento2/issues/34678

[2021-11-19 14:06] engcom-Hotel commented on #31537
Hello @LouisFangAligentConsulting,

We have tried to reproduce this issue in Magento 2.4-develop branch and it is reproducible for us while extending. To reproduce this issue we have followed the steps mentioned in the main description as well as enabling DB logs via the command `bin/magento dev:query-log:enable`.

I am attaching the db.log related to that query with the stack trace. It will help

[2021-11-19 15:44] hostep opened #34680 "Running phpstan twice (using the default Magento phpstan configuration) results in strange error"
### Preconditions (*)
1. clean Magento installation (I've using 2.4-develop, commit 40ceb7019989c949f3e756efe2db673c8e40345c) with composer developer dependencies (which is the default when running `composer install`)
2. macOS 11.6.1
3. Case sensitive filesystem APFS
4. PHP 7.4.25 natively (no virtualisation or docker or whatever)

### Steps to reproduce (*)
1. Analyse the `app/autoload.php` file

[2021-11-19 16:18] Veltix commented on #8933
Magento 2.4.3-p1 still this error exists...

[2021-11-19 16:31] Quentin-Sch commented on #34469
Same on my site.
On 2 natives Magento 2.4.2 websites with same config
Random..

[2021-11-19 16:47] scottsb commented on #23251
@kandy Ah, I understand what you were saying now. However, note this from my original report:

In other words, I was already "running composer dump-autoload -o after `s:d:c`" as you suggest documenting (that's steps 1-2 in my minimal case). The issue would come up on the next deploy, when you try to run DI compilation (step 3 in my minimal case). Now it fails, though, because the class map is stil

[2021-11-19 16:47] malero commented on #34550
@peacefultruth It is most likely a bug. It sounds like they're working on it.

[2021-11-19 19:02] marielito opened #34682 "File exported using RapidFlow doesn't open in Excel"
### Preconditions (*)

1. Magento ver. 2.3.6-p1
2. Desktop is on Windows 10 Pro version 20H2
3. Browser is Chrome Version 96.0.4664.45 (Official Build) (64-bit)
4. Microsoft® Excel® for Microsoft 365 MSO (Version 2110 Build 16.0.14527.20270) 64-bit

### Steps to reproduce (*)

1. Go to System > RapidFlow
2. Click Product Export
3. Go to Profile Status tab.
4. Click Export Excel Report.
5. File dow

[2021-11-19 20:15] ioweb-gr opened #34683 "VAT ID won't appear in checkout shipping address unless the customer/create_account/vat_frontend_visibility is Yes"
As the title says, currently users cannot enable address vat_id only on the checkout page because it won't show unless the option `customer/create_account/vat_frontend_visibility` is enabled.  This option clearly refers to the account creation.

There's no apparent reason why that is, other than that the system is configured to check this configuration option instead of the `customer/address/taxva

[2021-11-19 20:16] ioweb-gr commented on #34683
@magento give me 2.4-develop instance

[2021-11-19 20:28] ioweb-gr commented on #34683
From the demo instance

Config

![image](https://user-images.githubusercontent.com/20220341/142687331-11c87f93-85e3-4273-b03d-eeb0868354db.png)

Checkout

![image](https://user-images.githubusercontent.com/20220341/142687501-ae2b5dd1-c504-4ef2-a743-8443a6ffaf1d.png)

If I enable the first option for customer registration, then it shows.

![image](https://user-images.githubusercontent.com/20220341/

[2021-11-20 06:50] hubertus2017 commented on #30635
Hello,
its 20.11.2021 and the problem is still there.

People getting to me saying they put in another shipping address in magento, and after payment the address changed to the address which was the standard address in PayPal.

Am i the only person who has this problem?

[2021-11-20 07:09] peacefultruth commented on #34550
@malero Well there are two parts to the changes which are causing this issue:

1. the population of customer data into the session (which I assume is about making any dependency of the graphql resolver execution be able to operate without requiring refactoring of nested dependencies which assume the customer data is in the session, this is just speculation).
2. The clearing of the customer session

[2021-11-20 09:03] Vartikamish opened #34684 "Delete icon is not showing on view all application page"
### Preconditions (*)

1. Platform: ecommerce
2. Mode: Developer/Production
3. Magento version : 2.3.2

### Steps to reproduce (*)

1. Log in to admin panel.
2. Navigate to JOB BOARD>VIEW APPLICATION>VIEW ALL JOB
3. Try to select job Id is deleted.

### Expected result (*)

1. [Screenshots, logs or description]
2. Select job ID should be deleted on view all application page. Delete icon should be

[2021-11-20 09:05] Vartikamish commented on #34684
ok

[2021-11-20 10:15] thaknaikshreya opened #34685 "bug in crowd funding project >filters>target amount and donated amount >> taking negative value and giving wrong output"
### Preconditions (*)

1.magento version : 2.4.1
2.

### Steps to reproduce (*)

1. go to crowd funding management> crowd funding project> filters>target amount and donated amount
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. we could not find any records

### Actual result (*)

1. [Screenshots, logs or description]
[2.](https://magento-uvdesk-connector-demo15257170157.webk

[2021-11-20 11:26] hoangoclan commented on #34469
Hi @Quentin-Sch , cc @AartiJogiya , @engcom-Hotel

I have investigated the cause of it.
In very slow internet conditions, the customer can submit the form before the recaptcha is downloaded and rendered. This results in the Recaptcha not being validated in the FO.

In my project, I have disabled the submit button by default and enabled it when the Recaptcha is ready.

Hope it is useful to you.

[2021-11-20 12:02] ioweb-gr commented on #8892
@magento give me 2.3.4 instance

[2021-11-20 13:24] mrk-dzie opened #34686 "Invalid Form Key on catalog sorting when Remember Category Pagination and cache are enabled"
### Preconditions (*)
1. Remember Category Pagination option is enabled
2. Cache is enabled
3. Magento 2.4 or Magento 2.3.1+

### Steps to reproduce

1. Enable Full Cache and Remember Category Pagination option (catalog/frontend/remember_pagination)
2. Visit any category page that contain products
3. Remove cookies (or use incognito mode) and visit the same category page again.
4. Try to change pr

[2021-11-20 20:33] mrk-dzie commented on #34686
@magento give me 2.4-develop instance

[2021-11-20 20:46] mrk-dzie commented on #34686
The issue is reproducible on the vanilla Magento instance
![image](https://user-images.githubusercontent.com/8580499/142740398-ba44087e-3532-4947-8d72-9ed2bfd3d52a.png)

[2021-11-21 02:32] sidolov commented on #34024
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33998 by @thlassche in 2.4-develop branch
Related commit(s):
 - [ef76b7e2b885da45cb37641ba9fe3ef27c68f422](https://github.com/magento/magento2/commit/ef76b7e2b885da45cb37641ba9fe3ef27c68f422)
 - [a06fcadce841ee46ec1d05d0055ef6f1d6a2730c](https://github.com/magento/magento2/commit/a06fcadce841ee46ec1d05d0

[2021-11-21 02:32] #34024 closed, assigned to thlassche

[2021-11-21 02:32] sidolov commented on #34025
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33998 by @thlassche in 2.4-develop branch
Related commit(s):
 - [ef76b7e2b885da45cb37641ba9fe3ef27c68f422](https://github.com/magento/magento2/commit/ef76b7e2b885da45cb37641ba9fe3ef27c68f422)
 - [a06fcadce841ee46ec1d05d0055ef6f1d6a2730c](https://github.com/magento/magento2/commit/a06fcadce841ee46ec1d05d0

[2021-11-21 02:32] #34025 closed, assigned to thlassche

[2021-11-21 02:32] sidolov commented on #33675
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#33324 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [b53d2afcf6c23e3679729bc0f5c3ac4d81d2844b](https://github.com/magento/magento2/commit/b53d2afcf6c23e3679729bc0f5c3ac4d81d2844b)

The fix will be available with the upcoming release.

[2021-11-21 02:32] #33675 closed, assigned to ihor-sviziev

[2021-11-21 02:32] sidolov commented on #33676
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#33324 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [b53d2afcf6c23e3679729bc0f5c3ac4d81d2844b](https://github.com/magento/magento2/commit/b53d2afcf6c23e3679729bc0f5c3ac4d81d2844b)

The fix will be available with the upcoming release.

[2021-11-21 02:32] #33676 closed, assigned to ihor-sviziev

[2021-11-21 02:32] sidolov commented on #33486
Hi @qsolutions-pl. Thank you for your report.
The issue has been fixed in magento/magento2#33487 by @qsolutions-pl in 2.4-develop branch
Related commit(s):
 - [16ef8b1e28bd92f3ee086d8181c398cc47a45207](https://github.com/magento/magento2/commit/16ef8b1e28bd92f3ee086d8181c398cc47a45207)
 - [2be10b7f4aeb1779356fafbd65ad1c8d2d95dd58](https://github.com/magento/magento2/commit/2be10b7f4aeb1779356fafbd

[2021-11-21 02:32] #33486 closed, assigned to jakwinkler

[2021-11-21 02:32] sidolov commented on #34579
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#34491 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [c0f7468c02a964bf684e88fad011fff90483e75b](https://github.com/magento/magento2/commit/c0f7468c02a964bf684e88fad011fff90483e75b)
 - [1b8109079943419f41b2d3a5a8cf9dba68d5590a](https://github.com/magento/magento2/commit/1b8109079943419f41b2d3

[2021-11-21 02:32] #34579 closed, assigned to kate-kyzyma

[2021-11-21 02:32] sidolov commented on #34130
Hi @mohammedTBB. Thank you for your report.
The issue has been fixed in magento/magento2#34148 by @AZiniukhin in 2.4-develop branch
Related commit(s):
 - [b605562fabb6ac9b434b1fddd3b40f3610e7795e](https://github.com/magento/magento2/commit/b605562fabb6ac9b434b1fddd3b40f3610e7795e)
 - [6d1468cb5f4611a65c59c270d8c1430440fe06df](https://github.com/magento/magento2/commit/6d1468cb5f4611a65c59c270d8c14

[2021-11-21 02:32] #34130 closed, assigned to AZiniukhin

[2021-11-21 02:32] sidolov commented on #34451
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33369 by @sippsolutions in 2.4-develop branch
Related commit(s):
 - [66e63e010af38399b7b5a4ad81a665d84d7e830d](https://github.com/magento/magento2/commit/66e63e010af38399b7b5a4ad81a665d84d7e830d)
 - [8864695fc72c52a6a585685c38cd3691028c39d2](https://github.com/magento/magento2/commit/8864695fc72c52a6a585

[2021-11-21 02:32] #34451 closed, assigned to sippsolutions

[2021-11-21 02:32] sidolov commented on #34338
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33948 by @LyraGhost in 2.4-develop branch
Related commit(s):
 - [3f289196cf35559249ca0f60cebe52c678fbb303](https://github.com/magento/magento2/commit/3f289196cf35559249ca0f60cebe52c678fbb303)
 - [041a247b658478521373050a5c5b29680f73bbf5](https://github.com/magento/magento2/commit/041a247b658478521373050a

[2021-11-21 02:32] #34338 closed, assigned to LyraGhost

[2021-11-21 23:06] GamesmenJordan commented on #28111
Is it worthwhile reopening this issue as `unsafe-inline` is still in use in 2.4.3 and there is no indication that it will be removed any time soon. The lack of support for `nonce` for inline scripts is a significant issue that undermines the entire purpose of having CSP in the first place. It's well and good to block unauthorised external scripts being loaded, but injecting those same scripts into

[2021-11-22 03:01] GamesmenJordan commented on #34309
Side note, this also fixed an issue I had with the default minifier, some forms of IEFs like: `!function(){...}();` would produce broken js files after minifying. Garfix minify handled this case without issue.

[2021-11-22 05:24] kishormainali opened #34687 "[GraphQL]As a logged-in user setShippingMethodsOnCart mutation returns error on a magento backend with Guest Checkout disabled"
While using the Graphql api, as a logged-in user the setShippingMethodsOnCart mutation returns error on a magento 2.4.3 backend with Guest Checkout disabled

### Preconditions (*)

1. Magento version 2.4.3
2. Set Allow Guest Checkout to No on the admin page: Stores -> Configuration -> Sales -> Checkout -> Checkout options

### Steps to reproduce (*)

1. Create User
2. Log in
3. Create cart
4. Crea

[2021-11-22 06:10] kingshukdeb commented on #14605
I could still see this in 2.3.2

![image](https://user-images.githubusercontent.com/4508615/142809333-366a6762-d70f-4831-8020-21f7b6104763.png)

[2021-11-22 06:41] kishor98100 commented on #34687
@magento give me 2.4-develop instance

[2021-11-22 07:00] engcom-November commented on #34682
Hi @marielito ,

RapidFlow is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplac

[2021-11-22 07:01] #34682 closed, assigned to engcom-November

[2021-11-22 07:02] engcom-November commented on #34684
Hi @Vartikamish
Job board is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace

[2021-11-22 07:02] #34684 closed, assigned to engcom-November

[2021-11-22 07:06] kishor98100 commented on #34687
@magento give me 2.4.3 instance

[2021-11-22 07:15] engcom-November commented on #34685
Hi @thaknaikshreya ,
Crowd funding management is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place]

[2021-11-22 07:15] #34685 closed, assigned to engcom-November

[2021-11-22 07:23] engcom-Echo commented on #34508
@magento give me 2.4-develop instance

[2021-11-22 08:17] oneserv-heuser commented on #33447
@engcom-November youre right, the issue is not reproducible with the route query. Issue closed as the urlResolver is deprectated.

[2021-11-22 08:17] #33447 closed, assigned to engcom-November

[2021-11-22 08:30] azngeek opened #34688 "composer.json - dependency not available anymore"
### Preconditions (*)

Magento 2.4.2

### Steps to reproduce (*)

Setup a composer with Magento 2.4.2 and run composer install.

### Expected result (*)

All dependencies should be downloaded.

### Actual result (*)

It seems like that a dependency could not be downloaded.
[code]

[2021-11-22 09:39] Vartikamish opened #34690 "Any PDF file or word file has not been uploaded"
### Preconditions (*)

1. Platform: ecommerce
2. Mode: Developer/Production
3. Magento version: 2.4.1

### Steps to reproduce (*)

1. Log in Admin panel
2. Navigate to Crowd Funding Project>Manage Crowd Funding Agent>Add Project>Project image> Upload
3. Try to upload file.

### Expected result (*)

1. [Screenshots, logs or description]
2. File should be uploaded successfully in Project Image

###

[2021-11-22 09:49] engcom-November commented on #34690
Hi @Vartikamish ,
Crowd funding management is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](ht

[2021-11-22 09:49] #34690 closed, assigned to engcom-November

[2021-11-22 09:50] Vartikamish opened #34691 "Filter is not working properly for Select Target Amount"
### Preconditions (*)

1. Platform: ecommerce
2. Mode : Developer/Production
3. Magento version: 2.4.1

### Steps to reproduce (*)

1. Log in to admin page
2. Navigate to Manage Crowd Funding Project>Filter>Target Amount
3. Try to filter in Target Amount

### Expected result (*)

1. [Screenshots, logs or description]
2. It should be shown row according to filled amount.

### Actual result (*)

1.

[2021-11-22 10:34] taoufiqaitali opened #34692 "recent orders block in my account show only orders from current store"
### Preconditions (*)
1. All Magento versions
2. community and commerce edition
3. developer and production mode

### Steps to reproduce (*)

1. Admin - Stores - Configuration - Customer Configuration - enable customer account sharing - Global
2. Login to front end - place order in website 1
3. Login to website 2 using same customer and place order in website 2
4. go to my account in website 2, yo

[2021-11-22 10:36] taoufiqaitali commented on #34692
issue in this filter by store_id should be removed
https://github.com/magento/magento2/blob/4abe8ffa8d9908e02168bba2970da3e4e0470f06/app/code/Magento/Sales/Block/Order/Recent.php#L93

[2021-11-22 10:39] Anton-PiercingMania commented on #34248
@ThisIsRuddy, did the fix solve your issues? We are experiencing the same problem.

[2021-11-22 10:58] engcom-Hotel commented on #28111
Hello @GamesmenJordan,

Thanks for reopening the issue!

Can you please update us with the latest steps to reproduce for this issue?

Thanks

[2021-11-22 12:04] engcom-November commented on #34692
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Steps followed:
1. Production mode is enabled
1. Login to Magento Admin - Customer Configuration - Share Customer Accounts - Set to Global
2. Multi Store setup - Login to website 1 - Place Order
3. Login to Website 2 using same customer - Place Order
4. Navigate to My Account - My Orders of both the websites
N

[2021-11-22 12:06] engcom-Hotel commented on #34680
Dear @hostep,

Thanks for posting this issue!

I have looked into the issue and the issue is reproducible for me. I have also done some analysis to check if this issue is related to Magento or hoa library and found below links:

- https://github.com/hoaproject/Ruler/issues/86
- https://github.com/hoaproject/Protocol/issues/12

It seems that this issue can be fixed at Magento's end only.

Please su

[2021-11-22 12:13] taoufiqaitali commented on #34692
please check recent orders block on my account page not My orders page
my orders show all orders but my account not show all recent orders
![image](https://user-images.githubusercontent.com/22837086/142859901-e3aade45-6691-47ed-9cd2-671db881a296.png)

[2021-11-22 13:05] GamesmenJordan commented on #28111
Hi, I didn't actually reopen the issue, but regardless nothing has changed from the original issue. Any CSP that enforces script hash or nonce will not work because Magento 2 doesn't generate either hash or nonce values for inline scripts.

It's part issue, part feature request.

Firstly it's an issue because it is a primary attack vector for XSS.

Secondly it's a feature request because it requir

[2021-11-22 13:21] Tirakal opened #34695 "Empty string supplied as input in vendor/magento/framework/View/Element/UiComponent/Config/DomMerger.php on line 327"
Hello,
please help to find a solution to this issue. I am tried to find an XML file with empty spaces in the first line, but without a result.
Magento version is 2.3.6
I find some answers that related to permissions, but it's not help.

The issue mostly happening when I tried to go homepage or product page.

1 exception(s):
Exception #0 (Exception): Warning: DOMDocument::loadXML(): Empty string su

[2021-11-22 13:29] vahir2016 opened #34696 "Add or remove an simple product from a configurable product not working"
### Preconditions (*)

1. 2.4.3
2. Entreprise Edition

### Steps to reproduce (*)

1. Try do add or remove a simple product from a configurable product
2.

### Expected result (*)

1. Product added or removed from backoffice (http://url.local/magentoadmin/catalog/product/edit/id/789/set/17/type/configurable/store/0/back/edit/)
2.

### Actual result
(*)

1. ![Sélection_1233](https://user-images.git

[2021-11-22 14:34] eduard13 commented on #2703
@magento give me 2.4-develop instance

[2021-11-22 14:52] atty31 commented on #6401
This happens on 2.4.3-p1 . Any updates or patches ? Thanks

[2021-11-22 15:14] engcom-November commented on #34687
Verified the issue on Magento 2.4-develop  branch but is not reproducible:
Steps performed:
Magento Admin - Stores - Configuration - Sales - Checkout - Checkout Options - Allow Guest Checkout - Set to No
Created a user
Created a cart using GraphQL
Added Product to Cart using GraphQL
Set Shipping Address using GraphQL
Set Shipping Method using GraphQL - No issue. User is able to set Shipping Method

[2021-11-22 15:34] Tirakal commented on #34695
Issue: Clear Description

[2021-11-22 17:17] sidolov commented on #31428
Hi @cmuench! You may create a pull request to 2.3.7-release or 2.4.3-release branch to deliver the patch, or use https://github.com/magento/quality-patches/ repo directly

[2021-11-22 17:37] #34505 closed, assigned to nobody

[2021-11-22 17:57] webgility-amazonapi commented on #9326
Any update on product_option. We are also facing the same difficulty to get the product_option lables and selected values.

[2021-11-22 21:35] sidolov commented on #34595
@ihor-sviziev it's a good idea, I believe the case when we are using different libs in different places is happening because we are using some lib during the development and in 5-10 years we are building the new software and new better libs is came up and it's costly to refactor the old one. But the proposal is totally makes sense.

[2021-11-22 21:37] ssx commented on #12298
Still exists in 2.4.3-p1.

[2021-11-23 01:32] engcom-Hotel commented on #34669
Hi {username}

Thank you for reporting the issue.

We are able to reproduce it on Magento 2.4-develop/2.4.3/2.4.3-p1. As per your steps, we tried to reproduce this bug.

- Enable Paypal Express Checkout with Enable In-Context Checkout Experience.
- Created a custom Magento Extension to disable the payment solution.
- Disable Paypal Express Checkout via payment_method_is_active Observer.

![1](http

[2021-11-23 03:22] kishor98100 commented on #34687
@engcom-November thanks for confirmation. i found this issue was caused by push notification plugin so i'am closing this issue now.

[2021-11-23 03:22] #34687 closed, assigned to engcom-November

[2021-11-23 07:01] Vartikamish opened #34697 "If we have removed Project Name. Still data saved with given previous project name"
### Preconditions (*)

1. Platform : eCommerce
2. Mode: Developer/Production
3. Magento version: 2.4.1

### Steps to reproduce (*)

1. Log in admin panel
2. Navigate to Manage crowd funding project>Edit Project>Remove Project Name

### Expected result (*)

1. [Screenshots, logs or description]
2. Project name should not be show after remove the project name.

### Actual result (*)

1. [Screenshots

[2021-11-23 07:12] Vartikamish opened #34698 "Table is not insert in Description and also not visible Cell, Row and Column under Project information"
### Preconditions (*)

1. Platform: eCommerce
2. Mode : Developer/Production
3. Magento version: 2.4.1

### Steps to reproduce (*)

1. Log in to Admin Panel
2. Navigate to Crowd funding Management>Add Project>Description>Insert table

### Expected result (*)

1. [Screenshots, logs or description]
2. It should be insert table in description (Show/Hide editor)

### Actual result (*)

1. [Screenshots

[2021-11-23 07:51] engcom-Hotel commented on #34561
Dear @bettymch,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-23 07:51] #34561 closed, assigned to engcom-Hotel

[2021-11-23 07:52] engcom-Hotel commented on #34553
Dear @ankitsaini00,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-23 07:52] #34553 closed, assigned to engcom-Hotel

[2021-11-23 07:53] engcom-Hotel commented on #34455
Dear @TsjechieXperience,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-23 07:53] #34455 closed, assigned to engcom-Hotel

[2021-11-23 07:56] engcom-Hotel commented on #34691
Hello @Vartikamish,

Thanks for posting the issue!

Please let us know the module name in which you are facing this issue.

Thanks

[2021-11-23 08:00] engcom-Hotel commented on #34686
Hi @mrk-dzie,

Thank you for reporting the issue.
We are able to reproduce it on Magento 2.4-develop/2.4.3/2.4.3-p1. As we followed your steps to reproduce this bug.

- Enable Full Cache and Remember Category Pagination option (catalog/frontend/remember_pagination)
- Visit any category page that contains products
- Remove cookies (or use incognito mode) and visit the same category page again
- Try

[2021-11-23 08:03] engcom-Hotel commented on #34683
Hi @ioweb-gr,

Thank you for reporting the issue.

We are able to reproduce it on Magento 2.4-develop/2.4.3/2.4.3-p1

Steps followed to reproduce this issue.

1. Enable Show Tax/VAT Number from Stores->Configuration->Customer->Customer Configuration->Name and Address Option
2. VAT field not visible on Magento Checkout Address Form until
3. Enable Show VAT Number on Storefront from Customer New Acc

[2021-11-23 08:06] engcom-Hotel commented on #34204
Hi @dphilipps.

Thank you for reporting the issue.

We followed your steps and able to reproduce it on Magento 2.4-develop/2.4.3/2.4.3-p1. Hence confirming the issue.

Thank you

[2021-11-23 08:08] engcom-Hotel commented on #34695
Hi @Tirakal.

Thank you for reporting the issue.

As we can see you are doing some custom development.
I can suggest that there might be some blank XML files in your development.
Try to find the blank file(s).

Thank you

[2021-11-23 08:09] engcom-Hotel commented on #34611
Hi @Eddcapone,

Thank you for reporting the issue.

As we checked your requirement, but helper is allowed in layout XML files check here  https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/layouts/xml-instructions.html#argument

You can see the allowed argument types for di.xml here  https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/di-xml-file.html#argument-types

Thank yo

[2021-11-23 08:12] engcom-Hotel commented on #34437
Hi @sport24-rtr,

Thank you for reporting the issue.
We are able to reproduce it on Magento 2.4-develop/2.4.3/2.4.3-p1.
Steps followed to reproduce issue:
1. Create multiple store views.
2. Create a category and save the category name for each store view.
3. On frontend try to get a category name for each store with
\Magento\Catalog\Api\CategoryListInterface::getList()
[code]
4. We can see the sam

[2021-11-23 08:16] engcom-Hotel commented on #34698
Hello @Vartikamish,

Thanks for reporting the issue!

We request you to please let us know the module in which you are facing this issue.

Thanks

[2021-11-23 08:18] engcom-Hotel commented on #34697
Hello @Vartikamish,

Thanks for reporting the issue!

We request you to please let us know the module in which you are facing this issue.

Thanks

[2021-11-23 08:20] engcom-Hotel commented on #34662
Hello @kalyani-zithas

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-11-23 08:22] andrewbess commented on #34697
Hello @Vartikamish
I didn't find module that contains phrase "Crowd Funding Management"
I think this problem is problem of the 3-rd party extension, but not Magento.
Please send request to support team of the extension vendor

[2021-11-23 08:22] andrewbess commented on #34698
Hello @Vartikamish
I didn't find module that contains phrase "Crowd Funding Management"
I think this problem is problem of the 3-rd party extension, but not Magento.
Please send request to support team of the extension vendor

[2021-11-23 08:34] DylanHopman opened #34699 "Customer group does not change logged in user when entering VAT number."
### Preconditions (*)

https://barnwoodweb.dev-atvise.nl/
Magento 2.4.1

### Steps to reproduce (*)

1. Create a user with an address in the Netherlands.
2. Order a product, but change the address to Belgium in the checkout and enter a valid VAT number (BE0761622719)
3. VAT is not deducted

### Expected result (*)

If a user logs in and has never paid with a VAT number before, they enter a general

[2021-11-23 09:45] convenient commented on #28387
Oh yeah @pmonosolo that does indeed look to be the same symptoms as my issue from #21890

In that case it was fixed in 2.2, but it seems like some kind of regression since then.

Thanks for flagging this to me! This puts one of our sites who's looking into having new stores added dangerously close to running out of auto increment ids again 😱

[2021-11-23 09:54] engcom-Echo commented on #34508
@magento give me 2.4-develop instance

[2021-11-23 10:39] hoangss commented on #34486
hi @engcom-Alfa thank you for replying.
I would say if we have any logic that need to check salable of child product in admin area then it will be an issue.

[2021-11-23 10:44] Tirakal commented on #34695
Thanks @engcom-Hotel
for the response.
I am tried to find blank files earlier, but without results. Maybe I was searched didn't know what file is blank.
Do you mean without any line of code or it can be commented code.?
Or it can be with XML open tag but after it, all content commented?
Or it can be empty spaces on the first line.

How You think it can be wrong permissions.?
pub and var folders we

[2021-11-23 10:51] vladyslav-sikailo-decima commented on #34289
@magento give me 2.4.3 instance

[2021-11-23 11:45] haijerome commented on #5797
apparently I ran **`composer remove vendor/module --ignore-platform-reqs`** to uninstall the module that I had installed through composer.

[2021-11-23 12:01] engcom-November commented on #34628
Hi @ioweb-gr ,
This issue is not reproducible on Magento 2.4-develop branch hence we are closing it. Kindly reopen the ticket with missing steps if any if you are still facing issues / solution under MC-42506 doesn't work.
Thank you.

[2021-11-23 12:01] #34628 closed, assigned to shikhamis11, engcom-November

[2021-11-23 12:09] leonhelmus commented on #21646
I have this issue aswell. We do not decrease the qty when a update is done, but it still tries to deduct qty from the stock with code:

`if (($sourceItem->getQuantity() - $qty) >= 0) {
                $sourceItem->setQuantity($sourceItem->getQuantity() - $qty);
                $stockStatus = $this->getSourceStockStatus(
                    $stockItemConfiguration,
                    $sourceItem

[2021-11-23 12:26] paulpartington-cti commented on #33096
I'd like to re-open this issue as I've been able to replicate it with `login_as_customer/general/store_view_manual_choice_enabled` set to `1`.

The issue happens because the New Customer action forwards the request to the `edit` controller. The `module-login-as-customer-admin-ui` module has a layout XML file for the `edit` handle - https://github.com/magento/magento2/blob/2.4-develop/app/code/Mage

[2021-11-23 13:42] leonhelmus commented on #21646
For me it was resolved after i added this patch:
[code]

[2021-11-23 13:52] engcom-Delta commented on #34699
Hi @DylanHopman,
Thank you for logging an issue , Kindly provide the screenshots for reference as it is required for reproducing the issue on Magento instance.
Regards,

[2021-11-23 13:57] mzenner1 commented on #34527
The initial comment has all the relevant details needed to troubleshoot the issue. It's just a matter of a stray "a.button" in a LESS file that is not nested inside a page builder element. As a result, this line of css affects all buttons on a whole website, not just page builder pieces

[2021-11-23 15:18] andrewbess opened #34700 "Update composer dependencies to the last released versions"
The composer dependencies described below have been fixed by Magento contributors

- [x] [allure-framework/allure-phpunit](https://packagist.org/packages/allure-framework/allure-phpunit#1.5.0)
- [x] [allure-framework/allure-php-api](https://packagist.org/packages/allure-framework/allure-php-api#1.4.0)
- [ ] [elasticsearch/elasticsearch](https://packagist.org/packages/elasticsearch/elasticsearch#v7

[2021-11-23 16:48] engcom-Delta commented on #34696
Hi @vahir2016,
We tried to reproduce the issue on Magento 2.4 Develop, it works fine ,Kindly share the screenshots for reference or any logs.
![config_prod](https://user-images.githubusercontent.com/51681379/143067700-e6b37556-7144-4bda-9f12-8e6ed993acaf.JPG)
![Remove the Product](https://user-images.githubusercontent.com/51681379/143067713-8a0826ce-c6d1-4f97-89af-87a5359dec3d.JPG)

Please find th

[2021-11-23 16:59] engcom-Delta commented on #34688
Hi @azngeek,
We tried reproducing the issue , we are able to install the magento 2.4.2 using composer.Hence added label 'Needs Update'
Please find the attached screenshots for reference.
Thanks
![install 2 4 2 by composer](https://user-images.githubusercontent.com/51681379/143069462-ab9de8ad-9ae5-4529-b9a2-8b2a0b1de4d8.JPG)
![installation_last line](https://user-images.githubusercontent.com/516813

[2021-11-23 17:17] engcom-Delta commented on #34661
Hi @Ralfefernandes,
Thanks for raising the bug . it would be a great help if you can provide  clear issue description , steps to reproduce , actual results and expected results to reproduce it.
Thanks

[2021-11-23 17:17] vahir2016 commented on #34696
Hello,

Could you tell me if during your test you go through :

src/vendor/magento/module-eav/Model/AttributeRepository.php

and what's the regenerated SQL query when getIterator is loaded

Here is the SQL i got :

And if you try to play it manually you will get an error.

[2021-11-23 20:31] rodrigowebjump commented on #34700
@magento give me 2.4-develop instance

[2021-11-23 20:47] adamzero1 commented on #4331
We got this after upgrading to 2.4.3, when the session for the admin wasn't large enough https://stackoverflow.com/a/70087594/13338443

[2021-11-23 21:28] andrewbess commented on #34698
Hello @engcom-Hotel
I am sure we need to close this issue.
What do you think about it?

[2021-11-23 21:30] andrewbess commented on #34697
Hello @engcom-Hotel
I am sure we need to close this issue.
I checked it on Magento EE.
Module which contain provided titles doesn't exist.
What do you think about it?

[2021-11-24 08:09] slackerzz commented on #28566
Is this issue fixed? I've found the same problem with Magento Commerce 2.4.3-p1

[2021-11-24 09:08] dankhrapiyush opened #34702 "Swagger - Uncaught SyntaxError: Unexpected token }"
### Preconditions (*)

1. Magento 2.4.2 / 2.4.3

### Steps to reproduce (*)

1. Enable the Merge JavaScript Files
2. Go to the /swagger link

### Expected result (*)

1. It should load the page without the console error and the page should render

### Actual result (*)

1. It is throwing an error "Uncaught SyntaxError: Unexpected token '}'" and blocking the page
![swagger-err](https://user-images.

[2021-11-24 10:33] kanevbg commented on #31752
up

[2021-11-24 10:43] azngeek commented on #34688
I think this Ticket could be closed then. I assume it is an issue with the enterprise license and created an enterprise issue ticket. Thanks.

[2021-11-24 11:02] engcom-November commented on #34702
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:

Steps performed:
1. Admin - Stores - Configuration - Advanced - Developer - Javascript Settings - Enable Merge JavaScript Files
2. Save
3. Reindex and cache clean
4. Launch http://magento.com/swagger/
No issue: Page is loaded as expected and no console error is thrown.
Able to send the API requests.
![image](https

[2021-11-24 11:34] ihor-sviziev commented on #34031
@sidolov, I set priority to P1 because it supposes to have a significant performance improvement

[2021-11-24 12:45] ThisIsRuddy commented on #34248
@hostep Confirmed working as expected with below patch based off the commit you linked [d2adcbb](https://github.com/magento/security-package/commit/d2adcbb47d01e46ed5b193f0c973ea269eb62639)
I missed your previous comment so apologies for that :)

[code]

[2021-11-24 12:54] Vinai commented on #31353
Why is this a P3?

[2021-11-24 12:59] engcom-November commented on #34678
@magento give me 2.4-develop instance

[2021-11-24 13:33] lykciv opened #34705 "API product bulk PUT request causes exception"
### Preconditions (*)

Magento version 2.4.3-p1

### Steps to reproduce (*)

API request example

[code]

### Expected result (*)

1. Response 202 with bulk operation information

### Actual result (*)

1. Response 500 Internal Server Error with message: An error has happened during application run. See exception log for details.
2. Exception details
[code]

### Workaround
The POST method does not

[2021-11-24 13:36] rodrigowebjump commented on #34705
@magento give me 2.4-develop instance

[2021-11-24 13:39] snez commented on #26286
This is still a problem on Magento 2.4. Partial invoices force-include the full order shipping amount, whereas in certain cases, the merchant may wish to invoice a lesser shipping amount.

[2021-11-24 13:52] engcom-November commented on #34678
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Steps performed:
Admin - Catalog - Products - Created Configurable product with 50 Simple Product variations - Applied 5 Images to all SKU's
Saved Product.
Issue: Page is loading for more than 10min. Unable to save the Product

[2021-11-24 15:02] ihor-sviziev commented on #34705
@sidolov, FYI I set priority to P2 as it causing TypeError

[2021-11-24 15:06] vseager commented on #6284
For newer versions on Magento 2:

[code]

[2021-11-24 15:14] engcom-November commented on #34692
Thank you for the confirmation @taoufiqaitali
Verified the issue again on Magento 2.4-develop branch and the issue is reproducible.
![image](https://user-images.githubusercontent.com/60198231/143264528-11b67260-7142-4248-ac20-f85fbd050422.png)
![image](https://user-images.githubusercontent.com/60198231/143264566-4dee39b8-8d16-4ad5-a520-d179c1b26c84.png)

[2021-11-24 15:42] vshatylo commented on #32341
Hello,
problem still reproduces on magento 2.4.3
it's hard to reproduce with one user or could be simulated with adding code "sleep(1)" into pub/get.php
error occurs when many visitor surfs website.
Steps to reproduce
- upload new image for product or could be existing image
- check media directory pub/media/catalog/product/cache/<image_path>, if file exists - remove it
- open cached product image

[2021-11-24 18:55] esteban-serfe opened #34707 "New Relic module does not complies with CSP"
### Preconditions (*)
1. Magneto Commerce v2.4.2
2. New Relic Reporting module v100.4.1

### Steps to reproduce (*)
1. Enable the extension to strart tracking website data.
2. Enter to the homepage

### Expected result (*)
1. Domains for the new relic domains for browser reporting should be included into the CSP headers

### Actual result (*)
1. The following errors appears on the browser console

[2021-11-24 20:13] salehawal commented on #34476
i did install it but that did not resolve the problem?

[2021-11-24 20:33] nemke82 opened #34709 "New Media Gallery Could not create directories"
### Preconditions (*)
Magento 2.4-dev or 2.4.3-p1
1. Switch Enable Old Media Gallery option in Advanced->System section in system configuration from Yes to No
2. Execute php bin/magento media-gallery:sync and php bin/magento media-content:sync and clear cache

### Steps to reproduce (*)
1. Switch Enable Old Media Gallery option in Advanced->System section in system configuration from Yes to No
2.

[2021-11-24 23:27] PivitParkour94 commented on #2152
A quick and dirty solution that can then be replaced with using the Customer Setup script in a data patch can be useful. I have used this successfully

`UPDATE customer_eav_attribute SET is_system = 0 WHERE attribute_id = (SELECT attribute_id FROM eav_attribute WHERE entity_type_id = 1 AND attribute_code IN ('MY_CUSTOM_ATTRIBUTE'));`

Something to definitely be aware of when upgrading from M1 as 3

[2021-11-25 00:31] nopenopenope commented on #14509
In Magento 2.4.3 we have Dob Field for guests and new customer registration, however, the field is not appearing for logged in customers that already have at least one address.

I think its hilarious how buggy Magento2 is. I am developing within Magento for now 8 years, but Magento2 is really nothing I can sell to my customers with all this bugs..

[2021-11-25 03:43] engcom-Bravo commented on #32541
As direct call is being made to `$this->totalsCollector->collectAddressTotals()` from custom module. Instead of that `quote->collectTotals()` needs to be used to get total. As there are plugin which reset info beforeCollect on quote like rewards etc.

In this case when direct call is being made to` collectAddressTotals()` plugins are not called to reset the rewards points.

Below is the plugin whi

[2021-11-25 03:43] #32541 closed, assigned to nobody

[2021-11-25 05:31] desaiuttam commented on #34331
@magento give me 2.4-develop instance

[2021-11-25 05:46] abdulmalik422 commented on #25637
Any update on this issue?

[2021-11-25 06:06] sheenaogaya opened #34710 "504 Gateway Timeout on System > Export > Entity Type = Customer Addresses or Products"
### Preconditions (*)

1. Magento ver. 2.2.11
2. System > Export
### Steps to reproduce (*)

1. System > Export > Entity Type=Customer Addresses > Export File Format=CSV
2. System > Export > Entity Type=Products > Export File Format=CSV

### Expected result (*)

1. Export the Customer Addresses in CSV format
2. Export the Products in CSV format

### Actual result (*)

1. 504 Gateway Timeout Error

[2021-11-25 06:09] engcom-Delta commented on #34421
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-11-25 06:09] #34421 closed, assigned to engcom-Delta

[2021-11-25 06:13] engcom-Delta commented on #34201
We have noticed that this issue has fixed as per recent comments.
 so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-11-25 06:13] #34201 closed, assigned to engcom-Delta

[2021-11-25 06:57] engcom-Hotel commented on #34355
Dear @sphinxstores,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-25 06:57] #34355 closed, assigned to engcom-Hotel

[2021-11-25 07:00] engcom-Hotel commented on #34530
Dear @Aurinho97,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-25 07:00] #34530 closed, assigned to engcom-Hotel

[2021-11-25 07:02] engcom-Hotel commented on #34334
Dear @nadroj467,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-25 07:02] #34334 closed, assigned to engcom-Hotel

[2021-11-25 07:21] yvaliya commented on #32741
I guess this will be fixed by [this PR](https://github.com/magento/magento2/pull/24794)

[2021-11-25 07:29] Vartikamish opened #34711 "Show wrong popup in customer front page"
### Preconditions (*)

1. Platform: Ecommerce
2. Mode: Developer/ production
3. Magento version: 2.4.2

### Steps to reproduce (*)

1. Log in to customer page.
2. Navigate to Create customer account> ![image](https://user-images.githubusercontent.com/94451028/143397672-dad544cf-2dd2-4349-a715-4ede8cb6deaa.png)

### Expected result (*)

1. [Screenshots, logs or description]
2. All popup should be r

[2021-11-25 07:31] engcom-November commented on #34119
Hi @EstebanSerfe ,
We are not able to reproduce the issue on Magento 2.4-develop branch.
Also, as per the [Magento docs](https://docs.magento.com/user-guide/system/media-storage-content-delivery-network.html) , for security, when a CDN is used as media storage, JavaScript may not function properly if the CDN is located outside of your subdomain.
Kindly recheck again on 2.4-develop branch and elabo

[2021-11-25 07:39] thaknaikshreya opened #34712 "after creating account in wallet system error is coming"
### Preconditions (*)

1. platform : ecommerce
2. mode : developer/production
3. magento version : 2.4.2

### Steps to reproduce (*)

1.wallet system > transfer amount to bank >customer sign up > account
2.my account > account information

### Expected result (*)

1. Thank you for registering with Webkul Store.

2.You got 10 reward points on registration

### Actual result (*)

1. [[Screens
![erro

[2021-11-25 07:49] engcom-Hotel commented on #34390
Hello @denis-zyk,

We have tried this as well but are still unable to reproduce the issue:

![image](https://user-images.githubusercontent.com/51681618/143400738-5252a015-c053-4748-9b4c-6ba30e422981.png)

Please let us know in case we missed anything
Thanks

[2021-11-25 07:50] thaknaikshreya opened #34713 "Error massage and Pop-ups not vanishing"
### Preconditions (*)

1.platform : ecommerce
2.mode : developer/production
3. magento version : 2.4.2

### Steps to reproduce (*)

1.wallet system > transfer amount to bank >customer sign up> account
2.my account > account information

### Expected result (*)

1. [Screenshots, logs or description]
2. error massage and pop ups should vanish after some time like in 30 sec or in 1min

### Actual res

[2021-11-25 07:52] ihor-sviziev commented on #34712
@thaknaikshreya,
It looks like the issue is coming from some 3rd party extension. Could you try to reproduce the issue on the empty Magento installation?

[2021-11-25 08:39] thaknaikshreya opened #34714 "webkul mangopay payment method not working in wallet system"
### Preconditions (*)

1.magenti version - 2.4.2
2.mode - developer / production
3. platform - ecommerce

### Steps to reproduce (*)

1.wallet system > my wallet > manage wallet > add money to wallet > go to cart > proceed to checkout > select Webkul Mangopay Payment Method
2. place order

### Expected result (*)

1. [Screenshots, logs or description]
2. money add in wallet

### Actual result (*)

[2021-11-25 09:45] mebingeorge04 opened #34715 "Sort order not working on Multishipping Checkout Totals"
I have created a module for adding extra free to order. I am facing an issue in multi-shipping checkout total section sorting.
sales.xml
`<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Sales:etc/sales.xsd">
    <section name="quote">
        <group name="totals">
            <item name="gift_wrap_fee" instance="vendor\customF

[2021-11-25 10:37] engcom-Hotel commented on #34711
Hello @Vartikamish,

We have tried to reproduce the issue in Magento 2.4-develop clean instance but it is not reproducible for us. We request you to please review the steps.

Also, we are unable to get the link mentioned in the **Actual Result** in the main description, please review:

Thanks

[2021-11-25 10:44] engcom-Hotel commented on #34654
Hello @Domux-France,

Thanks for posting this issue!

We have tried to reproduce this issue in Magento 2.4-develop branch but this is not reproducible for us. We request you to please tell us more about this issue.

Thanks

[2021-11-25 10:47] sydekumf commented on #34318
Despite the obvious core bug what is the actual reason that Magento wants to convert the user part of the email address but *NOT* the domain part? What is the purpose? In my opinion this is wrong.

[2021-11-25 11:01] larsroettig opened #34717 "GraphQL Bundle Options could not resolved via `customer` query"
### Preconditions (*)
1. **Open Source 2.4.3**

### Steps to reproduce (*)
1. Create Bundle Product with one Select
2. Order this  Bundle
3. Use GraphQL to fetch Customer Orders

### Expected result (*)
* No Error for this Request

### Actual result (*)

Problem is in https://github.com/magento/magento2/blob/eadd3a9422896327f02e33dc5fdb357ced5ce38d/app/code/Magento/BundleGraphQl/Model/Resolver/Ord

[2021-11-25 11:06] j-stam commented on #34349
Ran into the same problem yesterday. We also have digits in our website name and group name.

The problem originates from Magento/Sales/Ui/Component/Listing/Column/Price.php Line 81.

[code]
adding a numeric check fixes the issue.

[code]

I'm not sure why the data source provides the store name as the store id (probably something to do with displaying data in the grid) but because this store name

[2021-11-25 11:24] larsroettig commented on #34717
### Patch to fix this Issue

[code]

[2021-11-25 11:37] webgility-amazonapi commented on #34178
Hi,
Is there any update on the resolution of this issue.

Thanks,
Webgility team

[2021-11-25 11:39] alexgubarev commented on #31923
@magento give me 2.4-develop instance

[2021-11-25 11:53] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-11-25 12:10] engcom-November commented on #34570
Thank you for the confirmation @Hexmage. Verified the issue again on Magento 2.4-develop branch and the issue is reproducible.
All categories are returned on running the GraphQL query regardless to the store view assigned.

[2021-11-25 12:12] devchris79 opened #34718 "Magento removes group prices when VAT number is invalid"
### Preconditions (*)

1. Magento 2.4.3
2.

### Steps to reproduce (*)

1. Add a customer with dealer group prices
2. Give the customer profile an invalid VAT number. We saw the issue with a dealer in Germany.

### Expected result (*)

1. VAT to be applied if applicable, but group prices to be offered
2.

### Actual result (*)

1. General group prices were applied, and only fixed by checking "Disa

[2021-11-25 12:20] engcom-November commented on #34713
Hi @thaknaikshreya ,
Wallet system is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://ma

[2021-11-25 12:20] #34713 closed, assigned to engcom-November

[2021-11-25 12:22] engcom-November commented on #34714
Hi @thaknaikshreya ,
Wallet system is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://ma

[2021-11-25 12:22] #34714 closed, assigned to engcom-November

[2021-11-25 12:46] engcom-Hotel commented on #30668
Hello @drc0,

Please try to reproduce this issue in Magento 2.4-develop and let us know if this is still reproducible for you.

Thanks

[2021-11-25 14:12] fgarnier-hublot commented on #30012
Hello @hostep

I'll share my final conclusion after some test.

I migrated from 2.3.4 to 2.4.3-p1 recentrly.
After a full product and stock import, I have some very long scheduled index and even some are stuck forever.
It creates 800k line with only 30k distinct for "catalogrule_product_cl" as an Example.

(I have 0 rule in place, but the indexer takes more than 3 days, never finished... this is a

[2021-11-25 14:15] Morgy93 commented on #29057
"Thankfully" I came across this issue.

The docs state:

But I cannot confirm, the response doesn't change with applied settings.

[2021-11-25 14:26] Luc4G3r commented on #7869
Setting `dev/static/sign` to 0 is NOT a proper solution to this. It will make the browser caches of visitors assume, that they have your script and other static files stored. This can lead to problems, when you update and rebuild your static files.

[2021-11-25 15:07] ihor-sviziev commented on #30012
Hi @fgarnier-hublot,
Could you report it as a separate issue?
Thank you!

[2021-11-25 19:29] BushraAsif opened #34719 "We can't add the item to Wish List right now: Cannot add product without stock to wishlist.."
I am getting this message when enabling Multisource inventory.

### Preconditions (*)
1. Magento 2.4.1
2. Enable Multi-Source inventory

### Steps to reproduce (*)

1. Enable Multi-Source Inventory for Jorden
2. Click on the Wishlist button from the front end. It redirects to the wishlist page and shows the error

### Expected result (*)

1. It should add the products to wishlist

### Actual resul

[2021-11-25 21:51] nuno-robosavvy commented on #6126
We also had this issue using a module with multiple warehouses and the issue is due to a query to the database where the magento developers forgot to filter by website ID. All the others have the websiteId filtered but this specific query does not.

The file in question is /vendor/magento/module-inventory-catalog/Model/ResourceModel/AddStockDataToCollection.php

line 65 this query is built
[code]

[2021-11-25 23:23] xsanz commented on #30277
Hello,

Also facing same Issue here with 2.4.2-p2. But I don't agree solution is to re-enable Magento_Swatches.
Disabling a secondary module, like Magento_Swatches, shouldn't make crash the whole thing.

In my opinion, apply @peterjaap patch is best solution.

[2021-11-26 00:32] xsanz commented on #30277
Hello @peterjaap

After appyling your patch despite being able to enter attribute to Edit, or click Add button to add new attribute,
I'm facing a 'getfronttab().show();' Javascript error that makes me unable to save attribute.

Someone else is having same problem?

Thank you

[2021-11-26 01:18] engcom-Delta commented on #34710
Hi @sheenaogaya ,
We tried to reproduce the issue on magento 2.4 Develop with latest branch.it is not reproducible.
Please find the attached screenshots for reference.
It might be a temporary issue , Kindly request to verify once again & share the logs if issue is still persisting.
Thanks

[2021-11-26 01:54] engcom-Delta commented on #34709
Hi @nemke82 ,
We tried to reproduce the issue with provided steps , observed that we are not able to create directory without filters created but it allows to create with active filters. Please find the attached screenshots for reference.
Hence added the label 'Issue confirmed'.
![folder_creation](https://user-images.githubusercontent.com/51681379/143515044-30a11639-d700-47b3-9ef5-3fcbbb7685bf.JPG

[2021-11-26 02:15] engcom-Delta commented on #34719
Hi @BushraAsif ,
We tried to reproduce the issue on Magento 2.4 Develop with latest branch , it works fine. Unfortunately we are unable to replicate it with provided steps. Kindly request to review the steps.
Please find the attached screenshots for reference.
Added the label 'Needs Update'
![Uploading wishList.JPG…]()

[2021-11-26 03:12] sheenaogaya commented on #34710
As of November 26, 2021 11:14 AM Philippines time. I am still getting the same error 504 Gateway Timeout when trying to extract Customers Addresses. My other colleague, tried also but the same issue still exists.  Kindly see attached screenshots for your reference.

![image](https://user-images.githubusercontent.com/95012818/143520835-1a360add-e6e3-4b56-ad74-5f2ce44ac575.png)

[2021-11-26 03:32] engcom-Delta commented on #34718
Hi @devchris79 ,
We tried to reproduce the issue on Magento 2.4 Develop with latest branch but we did not find any variation on price for invalid VAT number . Please find the attached screenshot for reference.
![Price](https://user-images.githubusercontent.com/51681379/143522633-02f007ce-b89c-46c3-b6ae-852db36a021d.JPG)

We request to provide how do we find out dealer group prices differences on f

[2021-11-26 06:10] #34580 closed, assigned to sdzhepa

[2021-11-26 06:28] speller commented on #23637
I still have this issue in 2.4.3:

[code]

It fails to run the `ps --pid %s --format rss --no-headers` command and tries to run a Windows command.

When it really be fixed?

[2021-11-26 06:44] Vartikamish opened #34720 "Popup is not showing when we have entered amount with special character in Add project"
### Preconditions (*)

1. Platform: eCommerce
2. Mode: Developer/Production
3. Magento : 2.4.1

### Steps to reproduce (*)

1. Log in to Admin Panel.
2. Navigate to Crowd funding> Add Project> Target amount> Minimum Donation amount>Maximum Donation amount.
3. Try to not save amount with special characters.

### Expected result (*)

1. [Screenshots, logs or description]
2. It should be show popup w

[2021-11-26 06:49] engcom-Alfa commented on #30099
There is a [GithubIssue](https://github.com/magento/magento2/issues/22841) already existing and the fix is duplicating to this current logged issue. There is a [PR in progress](https://github.com/magento/magento2/pull/27608) containing this fix. Hence as part of associated PR, will be following-up with that older issue only! Further, this ticket information will be commented in the PR as well. Hen

[2021-11-26 06:49] #30099 closed, assigned to engcom-Charlie

[2021-11-26 08:03] martinshawruroc opened #34721 "Discount amount is removed in fixed amount cart rules"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Configure a "fixed amount" cart rule (note not "fixed amount per item")
2. Call `\Magento\Quote\Model\Quote\TotalsCollector::collectAddressTotals` more than once on a quote in the same request. For me, this was observed by using `onestepcheckout/iosc@1.2.049` and `klarna/module-kp@7.2.1` but I'm sure there are other ways.

[2021-11-26 09:06] engcom-Hotel commented on #34546
Hello @Hexmage,

Thanks for posting the issue!

I would like to suggest you add `stock_status`, so that it will give the exact situation of stock.

for eg:
The below query:

[code]
Will return:
[code]

You can see `stock_status` as `OUT_OF_STOCK` where the product is out of stock.

Thanks

[2021-11-26 09:07] schmengler commented on #26111
Hello @nrkapoor

Thank you.

can you explain why? The effect is, that both a wrong amount of configuration options is shown if we use GraphQl for configurable products, as well as wrong pricing. IMHO this is not something that the frontend should care for to fix.

[2021-11-26 09:15] TheRealHunzik commented on #34720
@magento give me 2.4-developer instance

[2021-11-26 09:56] Vartikamish commented on #34720
Ok and Thank you for this.

[2021-11-26 10:15] engcom-November commented on #34720
Hi @Vartikamish  ,
Crowd funding management is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](h

[2021-11-26 10:15] #34720 closed, assigned to engcom-November

[2021-11-26 10:17] devchris79 commented on #34718
Hi @engcom-Delta

I have a dealer account on our web shop that showed the issue, however if I recreate the pretty much all the account details as a new customer it works fine.
The account was created back in 2018 under a old version of Magento, maybe its a corruption or incompatibility.

I will close the issue unless I find the root cause.

[2021-11-26 10:17] #34718 closed, assigned to engcom-Delta

[2021-11-26 10:22] kanna32 commented on #34646
It same issue I got in Magento 2.4.2 while flushing the cache from the backend.

[2021-11-26 10:35] engcom-Delta commented on #34657
Hi @pixel-paul,
Thanks for raising an issue ,We tried to reproduce on Magento 2.4 Develop , we are not able to replicate it but need more clarity on step@1 . is Base URL for Simple Product where catalog-->Products section?

Hence added label 'Needs Update'.
![Products_image](https://user-images.githubusercontent.com/51681379/143567476-2ac0bef9-5479-4679-ae73-bd2994913548.JPG)
Thanks

[2021-11-26 10:52] engcom-Alfa commented on #34707
Thanks for your contribution @EstebanSerfe

We have to re-confirm internally by reproducing it.
Thanks for your patience!

@engcom-November Please try to reproduce at the earliest!

[2021-11-26 11:04] engcom-Delta commented on #33946
Hi @onlinebizsoft .
We tried to replicate it on Magento 2.4 dev with latest branch , We can find out specified JS block on frontend.
Hence added 'Needs Update ' Label.
Thanks
![code_Js_line](https://user-images.githubusercontent.com/51681379/143571086-bb0b9397-564d-4879-b609-442a31dcbe8b.JPG)

@fascinosum : May i close this ticket please?

[2021-11-26 11:15] ihor-sviziev commented on #33946
@engcom-Delta,
Your screenshot confirms the issue. This code should be available only in the admin. I wasn't able to find you in Slack to discuss it further. If you have any questions - please ping me.

[2021-11-26 11:38] pixel-paul commented on #34657
Thanks for looking at this. I've looked into this further and the issue may be specific to my use case, however I would guess that the way I am syncing files (Lsyncd) with a remote file system is relatively common.

The issue is related to the media upload thumbnail and is occurring when an image is uploaded (in this example to a product, so any product type can be used to recreate this).

Here is

[2021-11-26 11:41] engcom-November commented on #34219
Hi @brianrootways , this behavior(length of admin access token being small) was observed in earlier versions of Magento. However in latest Magento all instances - Composer/ Git installation, this behavior is not observed. Since this issue does not persist in Magento 2.4-develop branch we are closing it. Kindly re-open if you are still facing issues with elaborated steps to reproduce.
Thank you.

[2021-11-26 11:41] #34219 closed, assigned to engcom-November

[2021-11-26 11:50] engcom-November commented on #34476
Hi @salehawal ,
Please try running below commands step by step from Magento root directory

If you are still facing issues, kindly provide more details of Configuration/environment setup.
Thank you.

[2021-11-26 12:55] engcom-Hotel commented on #33914
Dear @oneserv-heuser,

Thanks for posting this issue!

I agree with the point. SMTP-related configuration should be system-specific. I have also gone through this [link](https://devdocs.magento.com/guides/v2.4/config-guide/config/config-php.html).

Hence confirming this issue.

Thanks

[2021-11-26 14:08] esteban-serfe commented on #34707
Related merge request: https://github.com/magento/magento2/pull/34708

[2021-11-26 14:15] engcom-Hotel commented on #34485
@magento give me 2.4.3-p1 instance

[2021-11-26 14:33] engcom-Hotel commented on #34485
Hello @n2diving-dgx,

We have tried to reproduce this issue on Magento 2.4.3-P1 instance but this is not reproducible for us. Please have a look at the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/143595866-0c80ad2d-3caa-4049-8908-876db975814d.png)

![image](https://user-images.githubusercontent.com/51681618/143595920-21023fca-25be-497c-bae6-6a9437e3

[2021-11-26 15:07] adamlavery commented on #34324
Agree with @Green2Matter - should be a limited trust option, configurable by admin, of None, 3, 7, 14, 30 days. Forcing unnecessary security on users will never wash. You're almost guaranteeing that this will get turned off. Same with forcing a password change at short intervals - just results in weak, insecure passwords being used with an incrementing number tacked on. That's human nature.

Devic

[2021-11-26 15:38] yangshuqiugithub commented on #26901
fter all this discussion, why don't I see a solution

[2021-11-26 20:43] nthurston commented on #31224
FYI this is happening again with built-in MSI on the latest versions of Magento because of a plugin in module-inventory-catalog-search/Plugin/CatalogSearch/Model/Indexer/ChildProductFilterByInventoryStockPlugin.php

The following scenario is breaking:
1. Have MSI modules enabled
2. Have Display Out Of Stock Products set to No
3. Have a gap of salable products > 2500 in your entity IDs

[2021-11-27 09:58] n2diving-dgx commented on #34485
I'm stumped... I can only assume it has something to do with the LAMP environment, I reconfirmed on a clean install...
PHP is on most current 7.4 release...

ok+ date
Fri 26 Nov 07:34:04 EST 2021
+ cat /etc/centos-release
CentOS Linux release 7.9.2009 (Core)
+ /usr/local/apache/bin/httpd -v
Server version: Apache/2.4.46 (Unix)
Server built:   Aug 11 2020 14:47:55
+ mysql -V
mysql  Ver 14.14 Distri

[2021-11-27 10:47] rudracomputech commented on #29713
I am also getting same problem with version 2.4.3. Any body have solution ?

[2021-11-27 15:11] rahimimo commented on #33697
Hi, has there been any update on this?

[2021-11-27 16:16] yangshuqiugithub commented on #27285
Is this method used for custom CMS pages? What if you want to create multiple CMS pages with the same layout

[2021-11-27 17:55] 0xMatt opened #34725 "Cannot Fetch Payflow Pro transaction account with multiple business accounts associated with multiple stores"
### Preconditions (*)

1. 2.4.3-p1
2. CentOS 8
3. PHP 7.4.26

### Steps to reproduce (*)

1. Setup Secondary Website
2. Setup PayflowPro credentials for Primary Website
3. Setup PayflowPro credentials for Secondary Website
4. Create order in secondary website, which uses the config scope for that website

### Expected result (*)

1. Place order on secondary website which uses configurations for th

[2021-11-27 17:56] 0xMatt commented on #34725
I cannot request an instance without first knowing if you guys have two separate PayflowPro account details you can supply in the demo environment for me to properly reproduce this bug. Please advise.

[2021-11-28 03:20] gmilosh commented on #31758
Playing with negative values fixed a issue for me.
Magento v2.3.7
Search Engine MySQL

[2021-11-28 05:39] vipin12117 commented on #31758
Issue with elastic search not MySQL engine.

On Sun, 28 Nov 2021, 8:51 am Milos, ***@***.***> wrote:

[2021-11-28 10:48] n2diving-dgx opened #34726 "Archaic X-XSS-Protection value set in HTTP header by XSSprotection.php"
Some browsers include XSS Auditors, built-in defenses against XSS. Although these defenses work against simple reflective XSS attacks, they can be abused by skillful attackers to add weaknesses to otherwise secure web sites. These dangers are present in both filtering and blocking modes.  Many browsers have removed their built-in XSS auditor because it can help attackers bypass modern XSS controls

[2021-11-28 14:04] Hector68 commented on #23965
If you use a MariaDb the solution there https://github.com/magento/magento2/issues/19597#issuecomment-580361785

[2021-11-29 01:32] engcom-Hotel commented on #33445
@ihor-sviziev, the original PR for this issue is [this](https://github.com/magento-gl/magento2ce/pull/7). It has already been merged with the 2.4-develop branch.

Let me check further on how we can find the related changes. I will get back to you on this.

Thanks

[2021-11-29 01:34] engcom-Hotel commented on #28257
Dear @paales,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-29 01:34] #28257 closed, assigned to engcom-Hotel

[2021-11-29 01:34] engcom-Hotel commented on #30464
Dear @nrkapoor,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-29 01:34] #30464 closed, assigned to engcom-Hotel

[2021-11-29 01:35] engcom-Hotel commented on #31270
Dear @OleksiyOleksiyovych,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-29 01:35] #31270 closed, assigned to engcom-Hotel

[2021-11-29 01:36] engcom-Hotel commented on #29974
Dear @huykon,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-29 01:36] #29974 closed, assigned to engcom-Hotel

[2021-11-29 06:12] jonathanribas commented on #34581
Hi @engcom-Hotel, any update on this issue please?

[2021-11-29 07:01] ihor-sviziev commented on #33445
Ok, now I see - this issue was fixed in the following commits in the 2.4-develop branch:
- https://github.com/magento/magento2/commit/d1ca5e5089092cfe810f3b82ab286b817993cde8
- https://github.com/magento/magento2/commit/40585f4a126b6a47cd99e950cf5fc05499a3af13#diff-d59802a6713baafbde42e5715f4b355cf66bbaf07d2b5f1454853f9f6040ffd8

[2021-11-29 07:39] savan13 commented on #31540
I have faced the same issue when I register the customer
See the below screenshot: [](https://prnt.sc/20y3l7x)

[2021-11-29 07:42] vovayatsyuk commented on #31540
The issue was fixed in https://github.com/magento/magento2/pull/31318/files but not yet merged. Meanwhile, you can apply the patch manually.

[2021-11-29 08:54] engcom-November commented on #34601
@magento give me 2.4-develop instance

[2021-11-29 09:21] engcom-Hotel commented on #34452
Hello @davidandersson1,

We have tried to reproduce this issue in Magento 2.4-develop branch, but the same is not reproducible for us. We have tried it with the Magepal SMTP extension.

Maybe this issue is with the dotmailer only. Please try any other extension to send email.

Thanks

[2021-11-29 09:30] davidandersson1 commented on #34452
Hi @engcom-Hotel

Yes, you are right and issue within dotmailer only and according to discussed with their support team, they have fixed in their latest version v4.13.7
https://github.com/dotmailer/dotmailer-magento2-extension#4137

However, I haven't check yet but asap will check and update here!

[2021-11-29 09:35] dev-ajaysaini commented on #34711
@Vartikamish This issue is not related to Magento it seems like that you are using any custom module which creates issue.

[2021-11-29 09:43] dev-ajaysaini commented on #34711
Duplicate issue #34712

[2021-11-29 09:54] dev-ajaysaini commented on #34710
@sheenaogaya Magento officially ended the support for Magento 2.2.X on 01 Dec 2019 it means you will no longer receive any fix for this. You need to upgrade your Magento to latest version.

[2021-11-29 10:19] engcom-Hotel commented on #34717
@magento give me 2.4-develop instance

[2021-11-29 10:54] engcom-Hotel commented on #34717
Hello @larsroettig,

We have tried to reproduce the issue in Magento 2.4-develop branch but it is not reproducible for us. Instead we are getting the below response with running the above query:

[code]

Let us know in case we missed anything.

Thanks

[2021-11-29 11:00] larsroettig commented on #34717
@engcom-Hotel this warning will be caught by cloud instance if you check reports on the instance you will see the same error :sweat_smile:

[2021-11-29 11:43] vseager commented on #31117
@magento-engcom-team  This issue is still reproducible on 2.4.3 for both configurable or simple products.

[2021-11-29 11:45] vseager commented on #33799
This issue is still reproducible on 2.4.3 for both configurable and simple products.

[2021-11-29 11:53] engcom-Hotel commented on #34540
Hi @binbee,

Thank you for reporting the issue.

We tried to reproduce it on Magento 2.4-develop, But it's not reproducible.

Steps followed to reproduce this issue.

- Create a new category.
- Create a new product with image and select created Category.
- Try to get product data via GraphQl.
![image](https://user-images.githubusercontent.com/51681618/143863454-bceb183a-4436-4afc-9ccb-27f1ed521ae6

[2021-11-29 11:55] engcom-Hotel commented on #34420
Hi @minhluan259,

Thank you for reporting the issue.
We tried to reproduce it on Magento 2.4-develop.

We followed your steps and then tried to disable the Page Builder from admin, we get the alert popup regarding the impact of disabling.
![image](https://user-images.githubusercontent.com/51681618/143863737-b30556cb-26c0-4d63-a263-c0fe4d49e77e.png)

So it could be an expected behaviour of the syst

[2021-11-29 11:57] engcom-Hotel commented on #34647
Hi @devendhiranr,

Thank you for reporting the issue.

As we can understand you are implementing a custom Payment Method via Payment Gateway.
You can follow the doc to implement it. It requires more commands to make a request.
Please follow this link: https://devdocs.magento.com/guides/v2.4/payments-integrations/payment-gateway/payment-gateway-structure.html

Thank you

[2021-11-29 12:25] zohmi commented on #34288
@engcom-Alfa Is there something you need from me to continue with this?

[2021-11-29 12:33] engcom-November commented on #34581
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Created a Configurable Product with multiple Attribute sets (Simple Products) assigned to multiple Categories and Store views.
Front-end - Viewed the Product with different Attribute combinations on all store views - No issue. User is able to select and add product to cArt.
@jonathanribas Kindly recheck the is

[2021-11-29 13:56] xtremevision opened #34727 "Magento 2.4.3 - Shipping cost and product prices on checkout page show as 0.00"
### Preconditions (*)

1. Migrated site from Magento 1.9.3.6
2. When upgrading to Magento 2.4.3
2. Dedicated production server running Plesk Obsidian Version 18.0.39 Update #2
3. Nginx 1.20.1-2.centos.7+p18.0.39.2+t211117.1817 used as proxy to apache
4. Apache 2.4.6-97.el7.centos.2
5. MariaDB 10.2.41-1.el7.centos
6. PHP 7.4.26-1centos.7.211118.1928

### Steps to reproduce (*)

I don't know how you

[2021-11-29 14:10] xtremevision commented on #34727
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-11-29 14:22] wildxl opened #34728 "Price is automatically rewritten to 0.00 in product detail page for magento 2.4.3-p1"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)
**1. Magento installation**
2. **Change locale Options** Locale english (United States) to french (Switzerland)
3. **Create a new product** with a price
4. Go to frontend and click on the product detail page

### Expected result (*)
1. the price is the same that was created.

### Actual result (*)
1.  the price is overwritten to 0.00 from th

[2021-11-29 14:29] xtremevision commented on #34727
Not reproduceable on the vanilla Magento develop instance.

[2021-11-29 14:39] xtremevision commented on #34727
From what I can tell, unless I am wrong, it looks like the checkout sections are not being updated on refresh. Inspecting the ajax requests shows the correct information returned.

**/rest/default/V1/guest-carts/G9e717t6yjHzG91JKWePSwPlERC9Ycib/shipping-information:**
[{"carrier_code":"fancourier_customshipping","method_code":"Cont_Colector","carrier_title":"FAN Courier","method_title":"<a href=\"

[2021-11-29 14:48] xtremevision commented on #34727
I've just noticed the same thing is happening in the cart page, in the shipping estimator, the amount is 0.00 instead of 16.40. The Ajax request returns the shipping cost, but the estimator block does not update.

![2021-11-29 09 47 23](https://user-images.githubusercontent.com/6533394/143889011-b6c0783d-fad9-4026-a73c-6e4a24d84ca0.png)

[2021-11-29 14:52] webgility-amazonapi commented on #34178
Hi,
Is there any update on the resolution of this issue.

Thanks,
Webgility team

[2021-11-29 15:25] engcom-November commented on #32834
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps performed:
1. Generate Customer token using graphql
2. Get Cart ID of the logged in customer using GraphQL query
3. Add Bundle Product to Cart using below addProductsToCart mutation:
`
mutation {
  addProductsToCart(
    cartId: "yAuBMIIb6VTBt3pXbpCL7ZwpgbSvlSG0"
    cartItems: [
      {
        quantity: 1

[2021-11-29 15:50] engcom-November commented on #34728
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible:
@wildxl ,
This issue is a duplicate of https://github.com/magento/magento2/issues/33798
Please apply the following patch as a workaround and check if it works for you : [#33856 (comment)](https://github.com/magento/magento2/issues/33856#issuecomment-904606945)
This issue was fixed in the 2.4-develop branch in [ae30

[2021-11-29 18:10] LadyMEnterprises opened #34729 "No access to read emails in Magenta 2 admin dashboard"
### Preconditions (*)
Magenta 2 platform admin dashboard

2. mygifts.info/emcadmin

### Steps to reproduce (*)
log into emc admin dashboard

2. Click on emails
3. A message appears.

### Expected result (*)

1. [I get an error message saying that I do not have permission to read this content. Try again or get in contact help with this error.]

[2021-11-29 18:19] itsolon commented on #30094
hopefully this will fix my issue tooo yay :-) thank you for that

[2021-11-29 18:56] paragpadsumbiya commented on #25862
@zcuric
We have faced same issue with our client as well and as we can see we didn't found issue in normal days but when there was a sale and there was lot of traffic on site then we faces this issue that Authorize.net have paid orders but we didn't found those orders in system . So is there any solution for this ?

[2021-11-29 20:11] wasimbajwa9 commented on #34427
Hi @andrewbess, I've pushed the code, need to take care of a few of the last things in regards to the pull request.

[2021-11-29 20:39] nthurston opened #34731 "REST API Customer Create fails ReCaptcha with Admin Token"
### Preconditions (*)

1. 2.4.3-p1

### Steps to reproduce (*)

1. In ReCaptcha Storefront settings, Enable for Create New Customer Account set to reCAPTCHA v3 Invisible
2. Send POST to /customers route to create a new customer using an admin token as the bearer token

### Expected result (*)

1. Customer is created

### Actual result (*)

1. 400 Bad Request {"message":"ReCaptcha validation failed

[2021-11-29 21:56] kandy commented on #23251
@scottsb I recommend to de-optimize autoloader by running `composer dump-autoload` on the first step of your build or even better to run build from scratch every time

MAGETWO-44493 is about making compilers generate code without relying on autoloading, and it's in an Obsolete state now

[2021-11-30 06:13] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2021-11-30 07:19] almr commented on #4330
@shashankitsoft Thank you very much you saved my days.

[2021-11-30 08:51] santerref opened #34732 "Bundle product with hundreds of options takes minutes to save and timeout (with inventory enabled)"
### Preconditions (*)
1. Magento version 2.4.3
2. Inventory enabled
3. Bundle product with a lot of options (200 to 500)

### Steps to reproduce (*)
1. Enable the inventory
2. Create a bundle product with 200+ options (children)

### Expected result (*)
1. Product save quickly as usual
2. The indexes are updated for 201 products

### Actual result (*)
1. The plugin `ReindexSourceItemsAfterSaveBund

[2021-11-30 08:54] engcom-Hotel commented on #32118
Hello @amitvkhajanchi,

Have you tried to reproduce this issue in Magento 2.4-develop. Is it still reproducible for you?

Thanks

[2021-11-30 08:55] engcom-Hotel commented on #34481
Dear @snez,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-30 08:55] #34481 closed, assigned to engcom-Hotel

[2021-11-30 09:05] engcom-Hotel commented on #34600
Dear @nitindotsquares,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-30 09:05] #34600 closed, assigned to engcom-Hotel

[2021-11-30 09:10] engcom-Hotel commented on #34599
Dear @modryk,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-11-30 09:10] #34599 closed, assigned to engcom-Hotel

[2021-11-30 09:11] ihor-sviziev opened #34733 "Unit tests are failing with libxml 2.9.10"
### Preconditions (*)

### Steps to reproduce (*)
1. Checkout platform-health branch from magento2 repository
2. run `composer install`
3. run `vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist`

### Expected result (*)
1. All unit tests should be passing

### Actual result (*)
1. We have 158 test failures
[code]
2. Errors :

[code]

Failures (I have 153 failures, I give you only one for examp

[2021-11-30 09:11] reense opened #34734 "Elasticsearch bulkQuery() might fail silently, causing products to not be added to the index."
When Magento adds products as documents to the Elasticsearch index, it uses the `bulkQuery()` method. Magento adds these documents to Elasticsearch in `Magento\Elasticsearch\Model\Adapter\Elasticsearch@addDocs`.

The problem with this, is that there is no error checking whatsoever. The main logic is being executed in a try/catch block; but this does not catch all errors. The main problem is with t

[2021-11-30 09:31] khnaim commented on #21218
hey @farrukhk, any update on the issue you described?

[2021-11-30 09:42] ihor-sviziev commented on #15967
Hi @speedupmate,
Thank you so much for your report!

My thoughts on why this issue still wasn't implemented are that it's not easy to fix.

First of all, currently, we could deploy static content on the "build system" (more info here: https://devdocs.magento.com/guides/v2.4/config-guide/deployment/). In this case, the build system doesn't have a DB connection.

Secondly, after changing store confi

[2021-11-30 10:29] engcom-Hotel commented on #34204
Hello @dphilipps,

Fix for the issue is added to the 2.4.4-release of Braintree package.

With 'paypal/module-braintree' version 4.3.0 issue will be fixed.

Below is the patch which is added to 4.3.0 of 'paypal/module-braintree'

if (billingAddress.regionCode == null)

{       billingAddress.regionCode = undefined; }

We are closing this issue.

Thanks

[2021-11-30 10:29] #34204 closed, assigned to nobody

[2021-11-30 10:30] dphilipps commented on #34204
Thank you @engcom-Hotel

[2021-11-30 10:32] engcom-Hotel commented on #33748
Hello @groomershop-mt,

As per the expert advice, limiting max session size was introduced as a DDOS measure and the session size can be increased via the admin panel. I don't think any change is required for this ticket.

Hence we are closing the issue.

Thanks

[2021-11-30 10:45] engcom-November commented on #34729
Hi @LadyMEnterprises ,
Thank you for reporting. We are not able to reproduce the issue with provided steps on both Magento 2.4-develop branch and 2.4-develop Enterprise edition. Kindly recheck the issue on 2.4-develop branch and elaborate the steps to reproduce this issue.
Thank you.

[2021-11-30 10:46] engcom-November commented on #34732
@magento give me 2.4-develop instance

[2021-11-30 10:51] khnaim commented on #27460
hey @lokeshvnaik , any update on the issue you described?

[2021-11-30 10:57] reense commented on #34678
Is there a temporary patch we can use to fix this problem? This is causing huge issues for us currently.

[2021-11-30 10:57] nhatlich994 opened #34735 "Magento 241 storepick up give an error if customer has addresses but not set the default address"
### Preconditions (*)
1. M241, storepickup enabled
2. Customer has address but not set the default address
(https://imgur.com/uZjptb7)

### Steps to reproduce (*)
1. Login
2. Add product to cart then go checkout
3. Switch to tab Store Pickup

### Expected result (*)
1. I expected no error here

### Actual result (*)
1. Magento_InventoryInStorePickupFrontend/js/view/store-pickup throw an error
http

[2021-11-30 11:01] oneserv-heuser commented on #33748
@engcom-Hotel Why? @ihor-sviziev reopened the ticket 13 days ago and stated that the issue is not resolved. So please reopen this ticket and leave it open until a **real** solution is provided. This ticket is getting ridicolous.

[2021-11-30 11:32] tuyennn commented on #25221
Actually this issue was caused by your theme sales email htmls was located in

`app/design/frontend/Foo/bar/Magento_Sales/email/*.html`
Remove those or check whether they were upgraded, comparable with original ones

[2021-11-30 11:40] engcom-November commented on #34732
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Unable to create and save bundle product with 200 child options

[2021-11-30 12:02] andrewbess commented on #34733
Hello @ihor-sviziev
Thank you for your vigilance

[2021-11-30 12:08] fredden commented on #34678
@reense this was discussed in the public issue triage meeting today. A work-around of using a product import (CSV) was suggested.

[2021-11-30 12:23] engcom-Delta commented on #34585
Hi @qlhu ,
We tried to reproduce the issue on Magento 2.4 Develop, unfortunately it is not reproducible. Hence request to review the provided steps.

Thanks

[2021-11-30 12:26] marvinhinz commented on #33748
@engcom-Hotel please read the issue comments again carefully. The problem is not resolved. The session limit is okay, but its not okay to have an unresponsive application without appropriate error message when the limit is exceeded.

[2021-11-30 12:46] savan13 commented on #11526
Not working

[2021-11-30 12:54] engcom-Delta commented on #34629
Hi @Liv2BF ,
Hope issue is fixed ? . Please confirm.
Thanks

[2021-11-30 13:57] engcom-Hotel commented on #34677
Hi @jlballes

Thank you for reporting the issue.

As we can see you are looking for some custom customization, you can try the below solution.

Create a class extending the original Curl class, define your additional functions here and use this class in your code.
![image](https://user-images.githubusercontent.com/51681618/144060453-fdb85841-4904-4878-9960-cfc04da769ea.png)

Please let us know if

[2021-11-30 14:00] engcom-Hotel commented on #34464
Hi @ilnytskyi

Thank you for reporting the issue.

We are able to reproduce it on Magento 2.4-develop

Steps followed to reproduce this issue.

- Create a custom module.
- Create a global area di.xml.
![image](https://user-images.githubusercontent.com/51681618/144060026-7b23ce6d-fc5f-404b-9ba4-5996b68cf4c3.png)

- Create di.xml in adminhtml area.
![image](https://user-images.githubusercontent.com/

[2021-11-30 17:35] #34033 closed, assigned to nobody

[2021-11-30 18:04] andrewbess commented on #34679
Closed due to delivery of the fixes into magento-coding-standard repository

[2021-11-30 18:04] #34679 closed, assigned to karyna-t

[2021-11-30 18:56] nbennett25 commented on #8770
Seeing this in 2.4.2 as well.

Also seeing the same error with the `catalog:product:attributes:cleanup` command, and looks like a similar fix can be applied:

`vendor/magento/module-catalog/Console/Command/ProductAttributesCleanUp.php` (line 81):

`$this->appState->setAreaCode(\Magento\Framework\App\Area::AREA_GLOBAL);`
to:

`if (!$this->appState->getAreaCode()) {
     $this->appState->setAreaCode

[2021-11-30 19:18] perryholden commented on #34412
I found that this can happen when an exception is thrown in `\Magento\Sales\Model\Service\OrderService::place` (such as a declined order or something) but an around plugin on the place method catches that exception and doesn't continue to throw it. Then, the captcha module's around plugin, not getting a result, then breaks. In my case, the Stripe module's `\StripeIntegration\Payments\Plugin\Sales\

[2021-11-30 20:11] iflam opened #34736 "Product getStatus() function says return value is int, it's actually string|int"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. get a product programmatically
2. Call $product->getStatus()

### Expected result (*)

1. getStatus() returns an int

### Actual result (*)

1. getStatus() returns string|int

Either the return value should be updated to `@return string|int` or the $status should be typecast to int in the return statement.

---
Please provide

[2021-11-30 21:49] speedupmate commented on #15967
I'm thinking that this should be implemented, if config is changed then change is expected. If this is also documented it will benefit more than harm as you can find the cause by reading documentation.

If module is not configured or is disabled by default in config level it should not be enabled on frontend and included in builds.

If this can't be done on build time then mixin functionality coul

[2021-11-30 21:53] ihor-sviziev commented on #15967
@speedupmate, could you contact me in engcom slack to continue the discussion? Thank you!

[2021-11-30 21:59] amitvkhajanchi commented on #32118
@engcom-Hotel -

No.  I haven't tried to reproduce the issue on Magento 2.4-develop.  I am now on 2.4.2 myself and running production with no issue -- I have Magento_Csp disabled (which fixed for me).   i will shortly in a month or so try to port my app to 2.4.3 but I don't think I should run into issue.

[2021-12-01 00:54] vandark25 commented on #22313
Any update ? @magento-engcom-team

[2021-12-01 03:21] dumpstrack opened #34738 "https://dumpstrack1.com/ Sell Dumps With Pin – Credit Card – Dumps Cashout Atm"
SELL DUMPS TRACK1/2 - SELL CC FRESH - SELL USA FULLZ VERIFIED - SKIMMER - HACKING - CARDING - DUMPS VALIDS 100%

Hello all best buyer
We hacker group Anonymous and we working internet 24/24h , we get a lot Infor credit card , Account login (PAYPAL , BANK ..)

I AM SELLING REAL DUMPS TRACK 1/2 , I HAVE STUFF BROKE INFOR TRACK 1/2 FROM ATM AND MACHINE CHECKER DUMPS
I have shop bank login and dumps f

[2021-12-01 03:22] dumpstrack opened #34739 "https://dumpstrack1.com/ Credit card dumps with pin, Buy dumps & Dumps shop online"
SELL DUMPS TRACK1/2 - SELL CC FRESH - SELL USA FULLZ VERIFIED - SKIMMER - HACKING - CARDING - DUMPS VALIDS 100%

Hello all best buyer
We hacker group Anonymous and we working internet 24/24h , we get a lot Infor credit card , Account login (PAYPAL , BANK ..)

I AM SELLING REAL DUMPS TRACK 1/2 , I HAVE STUFF BROKE INFOR TRACK 1/2 FROM ATM AND MACHINE CHECKER DUMPS
I have shop bank login and dumps f

[2021-12-01 03:22] dumpstrack commented on #34739
https://dumpstrack1.com/ sell dumps,dumps with pin track1&2,sell dumps online. valid rate 98%.....!!!!!
Selling dumps - shop dumps - dumps with pin - sell dumps online

Contact me 
- ICQ : 690616620
- Skype: maryabbate128
- Telegram : dumpstrack1
- Gmail : dumpstrack1@protonmail.com
- My shop : https://dumpstrack1.com/

https://dumpstrack1.com/ Selling dumps, shop dumps, dumps track1&2, fresh dump

[2021-12-01 03:22] dumpstrack opened #34740 "https://dumpstrack1.com/ Credit card dumps with pin, Buy dumps & Dumps shop online"
SELL DUMPS TRACK1/2 - SELL CC FRESH - SELL USA FULLZ VERIFIED - SKIMMER - HACKING - CARDING - DUMPS VALIDS 100%

Hello all best buyer
We hacker group Anonymous and we working internet 24/24h , we get a lot Infor credit card , Account login (PAYPAL , BANK ..)

I AM SELLING REAL DUMPS TRACK 1/2 , I HAVE STUFF BROKE INFOR TRACK 1/2 FROM ATM AND MACHINE CHECKER DUMPS
I have shop bank login and dumps f

[2021-12-01 03:23] dumpstrack opened #34741 "https://dumpstrack1.com/Sell dumps, Shop dumps 101, 201,dumps with pin, Atm skimmer"
[*As a ___ I want to ___ so that ___.*

### AC
* a
* b
### Approved Schema
* a
](https://dumpstrack1.com/ sell dumps,dumps with pin track1&2,sell dumps online. valid rate 98%.....!!!!!
Selling dumps - shop dumps - dumps with pin - sell dumps online

Contact me 
- ICQ : 690616620
- Skype: maryabbate128
- Telegram : dumpstrack1
- Gmail : dumpstrack1@protonmail.com
- My shop : https://dumpstrack1.com

[2021-12-01 03:23] dumpstrack opened #34742 "https://dumpstrack1.com/dumps with pin - dumps track1 track2 - good dumps cashout Atm"
[

### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

](https://dumpstrack1.com/Shop dumps online, dumps with pin. Sell good dumps. dumps China, dumps Usa, dumps uk, dumps eu, and more country.....! 

My dumps in shop it's valid rate 98%, good dumps with high balance 
Sell dumps fresh, high balance
Shop dumps auto sale
Contact me via
ICQ : 690616620
SKYPE: ma

[2021-12-01 03:23] dumpstrack opened #34743 "https://dumpstrack1.com/ Dumps Cvv / Dumps With Pin / Dumps track 1/2"
selling dumps cvv fullz

selling cvv fullz track 1 and 2 bank login bank transfer writing checks transfer to cc … Fresh Cards. Selling Dumps,

- Hi all ! Welcome to my services: https://dumpstrack1.com

*** Please Contact me ***

- ICQ : 690616620

-  Telegram : dumpstrack1

- Gmail : dumpstrack1@protonmail.com

- My Store : https://dumpstrack1.com/index.php

- sell dumps 101 – dumps 201 - dumps w

[2021-12-01 05:37] engcom-Delta commented on #34424
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-01 05:37] #34424 closed, assigned to engcom-Delta

[2021-12-01 05:41] engcom-Delta commented on #34371
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-01 05:41] #34371 closed, assigned to engcom-Delta

[2021-12-01 05:51] engcom-November commented on #34601
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
@davidduong90 kindly recheck the issue on 2.4-develop branch and elaborate the steps to reproduce if you are still getting the issue.
Thank you

[2021-12-01 07:38] JoostWan commented on #31007
@frostblogNet same issue over here with url key `contact` for CMS page. Also on 2.4.2 and 2.4.3-p1. There are no other entries with contact in the database, did a full search.

[2021-12-01 07:39] KiranLankapalli opened #34744 "Missed required argument subscriptionManager in parent::__construct call."
Hi,
I am trying to add the Ajax Newsletter subscription for the default magento newsletter.

But when i installed any extension with ajax newsletter, i am getting this error:
`Missed required argument subscriptionManager in parent::__construct call.`
and redirecting to cms no-route index 404 Error Page not found.

For example: I have installed Magemonkeys_AjaxNewsletter and in di:compile getting t

[2021-12-01 08:58] ihor-sviziev commented on #34744
Hi @KiranLankapalli,
It looks like the extension Magemonkeys\AjaxNewsletter isn't compatible with the version of Magento that you're using.
Please get in touch with the extension support.

As this isn't a Magento issue, but the problem is coming from a custom extension, I'm closing this issue.

[2021-12-01 08:58] #34744 closed, assigned to ihor-sviziev

[2021-12-01 09:08] KiranLankapalli commented on #34744
Hi @ihor-sviziev,
I have tried installing below modules as well, but getting the same
https://github.com/magepal/magento2-ajax-newsletter-subscribe
https://github.com/php-cuong/magento2-ajax-newsletter-subscription

Also i have tried Mageplaza Html Sitemap module and while trying to access the url getting 404 error.

[2021-12-01 09:16] engcom-Delta commented on #33943
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-01 09:16] #33943 closed, assigned to engcom-Delta

[2021-12-01 09:42] videni opened #34745 "This schema-first approach to build GraphQL API is awesome, can we extract this ability out of Magento please?"
I know this issue is not related to Magento, but it would be great for PHP communities if it possible.

[2021-12-01 09:43] mischabraam opened #34746 "Grouped product invokes protected function of other class instance"
https://github.com/magento/magento2/blob/203a44f9e755fa6d2e057f1b99efbaff17546a80/app/code/Magento/GroupedProduct/Model/Product/Type/Grouped.php#L397

[code]

In above highlighted line you can see that a class is being fetched to invoke a function on it. The class is an instance of `AbstractType` and the function is `_prepareProduct`. However, the function is `protected`. This should be a `public`

[2021-12-01 09:45] mischabraam commented on #34746
I think this is an OOP violation. It works because of https://bugs.php.net/bug.php?id=81369.

[2021-12-01 09:54] Axel29 commented on #34590
Up @engcom-Hotel just to make sure the issue doesn't get closed automatically :)

[2021-12-01 10:01] #34745 closed, assigned to nobody

[2021-12-01 10:11] engcom-Hotel commented on #33890
Hi @hostep

Thank you for reporting the issue!

We tried to reproduce it on Magento 2.4-develop and we are able to reproduce it.

Steps followed to reproduce.
Added new store entry in config.php
[code]
Then run setup upgrade.
Config entry is getting read while setup upgrade.

As per the issue, scope configuration should read from config.php while running the install command.

Thank you

[2021-12-01 10:15] engcom-Hotel commented on #34735
Hi {username}

Thank you for reporting the issue.

We tried to reproduce it on Magento 2.4-develop and we are not able to reproduce it.

Steps followed to reproduce it.

1. Enabled Store pickup or In-Store Delivery by following link https://docs.magento.com/user-guide/shipping/shipping-in-store-delivery.html
2. Create a customer add address but not default shipping billing.
![image](https://user-i

[2021-12-01 10:31] ihor-sviziev commented on #34744
@KiranLankapalli, for some reason, the request is coming to `/cms/noroute/index`, which is the internal URL for the "404" page. It would help if you looked at why it's getting redirected to this page.

[2021-12-01 10:34] #34738 closed

[2021-12-01 10:34] #34739 closed

[2021-12-01 10:34] #34740 closed

[2021-12-01 10:34] #34741 closed

[2021-12-01 10:34] #34742 closed

[2021-12-01 10:34] #34743 closed

[2021-12-01 11:01] engcom-Hotel commented on #34721
Hi @martinshawruroc,

Thank you for reporting the issue!

However, we tried to reproduce it on Magento 2.4-develop but the discount functionality is working as expected.
Steps followed to reproduce it.
1. Create a Cart rule with Action: Fix Amount Discount for the whole cart
2. Create a custom controller and collect the address total for the quote twice.
![image](https://user-images.githubusercont

[2021-12-01 11:02] #33947 closed, assigned to nobody

[2021-12-01 11:19] engcom-Hotel commented on #34590
Hello @Axel29,

I have tried to inspect the code as per your instructions, but still, we are unable to reproduce the issue. Please have a look at below screenshot:
![01122021-1](https://user-images.githubusercontent.com/51681618/144225400-a82f87bc-7f77-42af-8686-27bec2c49559.jpg)

Let us know in case we missed anything.

Thanks

[2021-12-01 11:44] martinshawruroc commented on #34721
Hi @engcom-Hotel , thanks for coming back to me. Your example shows what I would expect to see, because as I say above it only occurs within the same request. When you reload the page, you have a new request and therefore you won't see the issue.

You could try editing your custom controller as follows:

[code]

You should find that the discount amount is 0 on the second echo

[2021-12-01 12:08] xtremevision commented on #34727
Hi, anything I can do to help?

[2021-12-01 12:41] krishprakash commented on #34291
Hi @wiwuae,

Feel free to reopen the ticket once you confirm that issue reproduce on latest magento instance.

Thanks!!

[2021-12-01 12:41] #34291 closed, assigned to krishprakash, engcom-Lima

[2021-12-01 12:44] nitindotsquares commented on #34600
Hello @engcom-Hotel

Doesnt generating any logs in error logs

[2021-12-01 12:48] ilnytskyi commented on #31351
Why not just bootstrap correct store from map by header and init correct translation?
nginx example ?
[code]

[2021-12-01 12:53] engcom-Alfa commented on #34732
Hi @santerref Thanks for your contribution!
The issue is being verified with more clarity. Thanks for your patience!

Hi @engcom-November
We have re-check what is the re-indexing mode was set while reproducing the issue.
We have to re-confirm based on that as per our last community triage discussion.
Thanks in advance!

[2021-12-01 13:31] engcom-November commented on #34574
@magento give me 2.4-develop instance

[2021-12-01 14:11] nuzil commented on #29057
Maybe this will be usefull
https://github.com/comwrap/Comwrap_GraphQlCartPrices

[2021-12-01 14:17] engcom-November commented on #34725
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Steps performed:
Magento Setup multiple Store/website
Admin - Stores - Configuration -  Sales - Payment Methods - Configure - Payflow Pro for all store views scope
Reindex and clear cache
Front-end - Second Webiste - Create / Place Order
User is able to retrieve Order info from both admin and Frontend My Accou

[2021-12-01 14:40] engcom-Alfa commented on #34692
Hi @taoufiqaitali  Thanks for your contribution!
The issue has been forwarded to the PO for further confirmation. Will be processed accordingly.
Thanks for your patience!

[2021-12-01 15:23] engcom-Delta commented on #34375
Hi @edward-simpson,
As per commented provided patch is fixed the problem, Hence we are closing the ticket. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-01 15:23] #34375 closed, assigned to engcom-Delta

[2021-12-01 15:24] andrewbess commented on #34700
The `friendsofphp/php-cs-fixer` v.3.3.2 depends on `symfony/console` >= 5.1.3
So, we cannot update it in this issue.

cc @xmav @fascinosum

[2021-12-01 15:29] engcom-Delta commented on #34710
As per Dev-ajaysaini confirmation it is required the upgradation of Magento. Hence closing the issue .Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-01 15:29] #34710 closed, assigned to engcom-Delta

[2021-12-01 15:38] edward-simpson commented on #34375
@engcom-Delta is it going to be merged into core?  If not I wouldn't really count that as a permanent solution

[2021-12-01 15:46] frostblogNet commented on #31007
@JoostWan @pmonosolo  @kanevbg

This ticket is not about creating a cms page with a url key used in module-contact or someting else. This ticket is about create 2 cms pages in different Storeview with the same url key. This fails now and in my opinion this is wrong.

[2021-12-01 16:30] ihor-sviziev commented on #15967
As discussed with @speedupmate in Slack - such a feature will be handy for many cases when some extension starts failing some JS.
Good example - the bug in the bundled extension like https://github.com/magento/magento2/issues/33741 (when the extension is disabled).

Together we found a pretty simple solution:
1. Add "enabledFlags" to global requires config (or if it's not possible - create a new v

[2021-12-01 16:33] speedupmate commented on #15967
@ihor-sviziev thanks for thinking along and understanding the issue and offering simplest ways to solve this

[2021-12-02 02:57] qlhu commented on #34585
@engcom-Delta ,
It's hard to reproduce in vanilla Magento installation. Probably our sites have 3rd party modules installed and many visitors. It's free to close this issue. But I do want to share the possibility of this issue. It may be good to think about a better way when converting customer's quote to guest quote because both Magento\Persistent\Observer\EmulateCustomerObserver::execute() and M

[2021-12-02 02:59] qlhu commented on #34585
@engcom-Delta ,
It's hard to reproduce in vanilla Magento installation. Probably our sites have 3rd party modules installed and many visitors. It's free to close this issue. But I do want to share the possibility of this issue. It may be good to think about a better way when converting customer's quote to guest quote because both Magento\Persistent\Observer\EmulateCustomerObserver::execute() and M

[2021-12-02 06:07] engcom-November commented on #34574
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Steps performed:
Installed and enabled Inventory module
Configured Braintree payment method
Enabled in store delivery
Front-end - Go to Checkout - Select the " Pick in Store" shipping method - Review & Payments page
Select "PayPal" as a payment method - Place Order - No issue.
@laminatinkaa kindly recheck the

[2021-12-02 06:16] ihor-sviziev commented on #15967
FYI I changed the type to a feature request related to dev experience, as it describes a new feature that will simplify debugging mixins.

[2021-12-02 06:51] TheRealHunzik opened #34748 "Implementation of Composition Instead of Inhertance in Controllers Magento 2"
### Summary (*)
I am trying to implement Magneto 2 Coding Standard so I found an Article Here -> https://community.magento.com/t5/Magento-DevBlog/Decomposition-of-Magento-Controllers/ba-p/430883

I have changed my frontend And backend Controllers in the same way

### Examples (*)

Frontend Controller:

[code]
, in the same way, I am have implemented an admin controller

[code]

is this the right w

[2021-12-02 07:12] ihor-sviziev commented on #34748
@lbajsarowicz, maybe you can explain? :)

[2021-12-02 08:06] PascalBrouwers commented on #15967
No don't, they move all feature requests to the forum where they die.

[2021-12-02 08:07] ihor-sviziev commented on #15967
@PascalBrouwers, so far now the feature requests are not moving to forums.

[2021-12-02 09:01] Nurgiel commented on #34430
It's really annoying that you can't use some tailwind classes in .xml files.

Is there a way to add a plugin/preference to override this regex from elements.xsd file? Otherwise when is this going to be released as a patch?

Issue was opened for the first time over two years ago and no solution has been given since then:
https://community.magento.com/t5/Can-Magento-do/XSD-regex-override/td-p/312167

[2021-12-02 09:25] Usik2203 commented on #34602
@magento I am working on this

[2021-12-02 09:25] in-session commented on #34430
@Nurgiel
https://github.com/magento/magento2/pull/34559

[2021-12-02 10:45] DylanHopman commented on #34699
Best,

Sorry for the late response. Herewith a video explaining exactly what I mean :)
https://www.loom.com/share/afdc40a790594d6c9b7b017f0ca2379d

[2021-12-02 10:50] jankovandeventer commented on #34325
I had this issue today where my Magento 2 Base was replaced by 2tvenom.
![Screenshot from 2021-12-02 11-27-28](https://user-images.githubusercontent.com/10960505/144405276-ffb08bc5-d5f4-4a9c-9e9c-837a579db48f.png)
![Screenshot from 2021-12-02 11-27-51](https://user-images.githubusercontent.com/10960505/144405280-53cbef5b-d9b2-46da-9ec4-2fbeec5bb94b.png)

workaround:
magento/composer-dependency-ver

[2021-12-02 11:03] ToonSpinISAAC commented on #28102
In our case, `X-Magento-Tags` is the biggest culprit in one site which does not use Varnish. Is there a way to disable output of the `X-Magento-Tags` header and related headers if you don't use Varnish?

It doesn't seem right for those headers to leak to the internet - not that that's such a big security issue but still, I feel like best practice is to allow as few headers as possible to be presen

[2021-12-02 11:54] ed007m opened #34749 "Specified rule does not allow auto generated coupons"
### Preconditions (*)

1. Magento 2.4.3
2. Any product available for purchase.

### Steps to reproduce (*)

1. Create SalesRule
2. Under Rule Information section:
    2.1. Enter Rule Name
    2.2. Activate rule
    2.3. Set  Coupon setting to "Auto"
    2.4. Select appropriate website and customer group.
3. Under Action section:
    3.1. Set Action to -> Percent of product price discount
    3.2.

[2021-12-02 12:30] engcom-November commented on #34052
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Steps performed:
Created Simple Product and assigned to Configurable Product
Ran Below GraphQL query for Simple Product - No issue: Simple Product Response is retrieved.
Products Query used:
`
{
  products(filter: { sku: { eq: "testsimple1111" } }) {
    items {
      name
      sku
      url_key
      stock_s

[2021-12-02 12:36] engcom-Delta commented on #34269
Hi @nbennett25 ,
We verified in Magento 2.4 Develop instance with latest branch , it works fine . I could see order grid present in received email.
Please find the attached screenshots for reference.
![order_grid1](https://user-images.githubusercontent.com/51681379/144423163-a399e13a-1734-404e-bdb9-728c7f6e0c96.JPG)
![order_grid2_email](https://user-images.githubusercontent.com/51681379/144423186-

[2021-12-02 14:28] engcom-November commented on #34749
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Steps performed:
Created Cart Price Rule (Admin - Marketing - Cart Price Rules - Add New Rule - Specific Coupon - Auto Generation enabled
Actions - Percent of Product Price Discount - Save
Manage Coupon Codes - Generated coupon codes)
Front-end - Add Product to Cart - Apply the generated coupon - No issue.
Use

[2021-12-02 14:35] ed007m commented on #34749
Ah, common guys
In the steps to reproduce there were nothing about "Specific coupon" type. I've mentioned "Auto".
<img width="839" alt="Screenshot 2021-12-02 at 16 34 36" src="https://user-images.githubusercontent.com/6236299/144442429-7c450612-362c-4593-a292-0114e6028a2f.png">

[2021-12-02 16:03] github-jira-sync-bot opened #34750 "Make php-redis-session-abstract compatible with PHP 8.1"
There are PHP8.1 compatibility issues in php-redis-session-abstract which need to be fixed

 

[2021-12-02 16:03] github-jira-sync-bot opened #34751 "Make aws-sdk-php compatible with PHP8.1"
aws-sdk-php is a magento dependency that needs to be updated to be compatible with PHP8.1

This will unblock PHP8.1 support in Magento

Problematic places:
[code]

[2021-12-02 16:07] VZeroCool opened #34752 "CVV Verificaion Failed"
### Preconditions (*)

1. Magento 2.4.2
2. Webserver Doesn't matter
3. In Braintree make sure to enable card verification and Under Fraud Management > AVS select all Rules
### Steps to reproduce (*)

1. Admin - Stores - Configuration - Sales - Payment Methods - Configure Braintree for US Merchant, Payment Action Instant Sale
2. Enable Vault and re-verification for CVV
3. Front-end - Place first or

[2021-12-02 16:30] engcom-Delta commented on #34271
Hi mklooss,
We tried to reproduce the issue  as per provided steps , we could see the difference in tax calculation for PT country .Hence added label 'Issue confirmed'.
![PT_taxRule](https://user-images.githubusercontent.com/51681379/144462949-a7b06ced-cf85-4384-b1e6-cd6f302941f8.JPG)

![Tax_applied_PT](https://user-images.githubusercontent.com/51681379/144462118-0d4d704d-7746-4213-beb2-eb744b30b1

[2021-12-02 16:36] engcom-Delta commented on #34585
thanks for confirming @qlhu.we are closing this issue , Kindly raise new issue if required or free to re-open the issue.

[2021-12-02 16:36] #34585 closed, assigned to engcom-Delta

[2021-12-02 16:40] engcom-Delta commented on #34248
Thanks for confirming @Thislsruddy.we are closing it as specified patch works fine.

[2021-12-02 16:40] #34248 closed, assigned to engcom-Delta

[2021-12-02 16:45] engcom-Delta commented on #34688
As it is working fine and confirmed , closing the issue

[2021-12-02 16:45] #34688 closed, assigned to engcom-Delta

[2021-12-02 16:47] ThisIsRuddy commented on #34248
Is the patch being merged?

On Thu, 2 Dec 2021, 16:40 Penchalaiah K, ***@***.***> wrote:

[2021-12-02 16:50] engcom-Delta commented on #34583
Hi @nbennett25 ,
As it works fine on Magento 2.4 develop with latest branch, we are closing the issue .Kindly request to re-open it if required or raise fresh ticket.

Thanks

[2021-12-02 16:50] #34583 closed, assigned to engcom-Delta

[2021-12-02 17:02] amokato commented on #9884
It seems this is still an issue at least in 2.4.2. Can anyone confirm that?

[2021-12-02 17:19] sidolov commented on #34464
Hi @ilnytskyi ! We just went through the issue and found that mentioned behavior is expected and documented on the DevDocs, please refer to https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/di-xml-file.html#argument-types page
<img width="951" alt="Screen Shot 2021-12-02 at 11 16 53" src="https://user-images.githubusercontent.com/11355520/144471200-6561c63b-6bd4-4f09-bea3-f0a7540a6

[2021-12-02 19:15] ilnytskyi commented on #34464
@sidolov well, ok. But for some cases it's not suitable.
In my case I faced this issue when wanted to add some additional handlers for payment method in adminhtml area, and noticed that original ones are not present.
Would it be possible to improve DI with possibility to manage if new type should replace or extended/merge an array in different area? just like an attribute `shared="true|false"`
and

[2021-12-02 20:38] kandy commented on #34464
@ilnytskyi Can you provide example of configuration that does not work for you. I believe that if you add base configuration to your area configuration, all should work as expected.

Add an attribute that will define how array merging is behaving is a good idea, we also think about it, but it will require complex implementation/testing. Feel free to submit PR with implementation if you want

[2021-12-03 00:58] dchaykas commented on #34375
This piece of code definitely caused the issue, removing it resolves the problem but why was it added there in the first place? If removing this IF statement might as well remove the private function within it, it's not used anywhere else.

`Index: vendor/magento/module-directory/Model/Currency.php
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===========

[2021-12-03 05:22] xmav commented on #34733
Thats reporting issue (from Jenkins to GitHub). Tests are running in different groups in few threads. Total number of reported OpenSource php unit tests is **26011**
platform-helath branch is not stable branch. It holds "work in progress" type of code so it is expected for now to see failures there.
Btw which PHP version did you use to run tests?

[2021-12-03 05:27] xmav commented on #34733
From what I see most of the failures in your results related to xml\xsd. Please double check that everything is ok on that environment

[2021-12-03 05:29] VZeroCool commented on #34752
@magento give me 2.4-develop instance

[2021-12-03 06:51] engcom-Hotel commented on #28578
Dear @magento-engcom-team & @cpartica,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-03 06:51] #28578 closed, assigned to engcom-Hotel

[2021-12-03 06:52] engcom-Hotel commented on #34660
Dear @bylli79,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-03 06:52] #34660 closed, assigned to engcom-Hotel

[2021-12-03 06:53] engcom-Hotel commented on #28937
Dear @rani-priya,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-03 06:53] #28937 closed, assigned to engcom-Hotel

[2021-12-03 07:32] ihor-sviziev commented on #34733
@xmav, please ping me in Slack, it will be way faster to check it

[2021-12-03 09:07] wilfriedwolf opened #34753 "Custom Catalog Product Image Role does not support Alt-Text (i.e. Label)"
### Preconditions (*)

1. Version 2.4.3
2. Define custom image role (e.g. "custom_image")
3. Define an Alt Text e.g. "Custom Alt Text" at some image with this role for some Product (e.g. with name "Product")
4. Initalize `\Magento\Catalog\Helper\Image` with store ID and entity ID.
5. Fetch Label with `$imageHelper->getLabel()`

### Steps to reproduce (*)

Reproducible

### Expected result (*)

1.

[2021-12-03 09:10] wilfriedwolf commented on #34753
The Problem is that the list of media attributes with labels is Hardcoded here: `\Magento\Catalog\Model\Product\Gallery\CreateHandler::$mediaAttributesWithLabels`

@magento I am working on this

I'll submit a PR allowing DI to extend the list.

[2021-12-03 09:10] wilfriedwolf commented on #34753
@magento add to contributors team

[2021-12-03 09:12] wilfriedwolf commented on #34753
@magento add to contributors team

[2021-12-03 09:12] wilfriedwolf commented on #34753
The Problem is that the list of media attributes with labels is Hardcoded here: \Magento\Catalog\Model\Product\Gallery\CreateHandler::$mediaAttributesWithLabels

@magento I am working on this

I'll submit a PR allowing DI to extend the list.

[2021-12-03 09:27] PTuijtelaars-ISAAC opened #34754 "MessageQueue MessageController returns incomplete lock object, failed messages are not requeued"
### Preconditions (*)

1. Magento 2.3.7-p2
2. Magento Framework Message Queue

### Steps to reproduce (*)

1. Add a message to the queue
2. Start the consumer
3. Let the message handling fail and make sure the message is requeued
4. Message status is now incorrect and message is not handled again by the consumer

### Expected result (*)

1. Message lock is removed
2. Message is requeued and has co

[2021-12-03 10:09] engcom-Hotel commented on #34675
Hello @mimou78,

As we debugged the code, `getPackages` is called from the `app/code/Magento/Shipping/Block/Adminhtml/Order/Packaging.php` class, which is returning `array` as expected.

For debugging we have added a breakpoint here in the [file](https://github.com/magento/magento2/blob/9f43821af62ab177e44b51b112ff8d32d9b82813/app/code/Magento/Shipping/view/adminhtml/templates/order/packaging/pack

[2021-12-03 10:25] engcom-Hotel commented on #34205
Hi {username}

Thank you for reporting the issue.

We tried to reproduce it on Magento 2.4-develop and it is reproducible.

Followed steps to reproduce it.

1. Create a custom payment methods with Façade Pattern.
2. Tried to get order billing address in request builder command.
![image](https://user-images.githubusercontent.com/51681618/144587037-bdb294fc-b6a4-4369-91ac-30c614d3d9aa.png)
3. It ret

[2021-12-03 10:50] doninAtwix commented on #32805
Hi @coderimus
I have checked and reproduced the error.
Problems like this have been found:
1. the catalog_product_entity_varchar table does not have an attribute activity record for the product Joust Duffle Bag
2. In class Magento\CatalogRule\Model\Rule method getMatchingProductIds() when a request to the database is created, we  get filtering by attribute as NOT LIKE '%19%' and don't get the valu

[2021-12-03 13:15] webgility-amazonapi commented on #34178
Hi,
Is there any update on the resolution of this issue.

Thanks,
Webgility team

[2021-12-03 13:53] mageician3 opened #34756 "Injecting scope config twice"
### Preconditions (*)

1. magento/project-community-edition 2.4.2
2. Php 7.4

### Steps to reproduce (*)

1. Using docker, run `docker-compose exec fpm bin/magento setup:di:compile`

### Expected result (*)

1. Code compiles without any issues

### Actual result (*)

1. The following error appears:
2.
[code]
### Problem / Fix (*)
`magento/vendor/magento/module-search/Helper/Data.php` is injecting

[2021-12-03 14:04] ilnytskyi commented on #34464
@kandy my case if the same as I described and what magento team confirmed as a bug.

`I believe that if you add base configuration to your area configuration, all should work as expected.`
Yes, that exactly what I described in workaround section.

[2021-12-03 15:10] real34 commented on #31994
Hi, any news on this?

[2021-12-03 15:22] muhamedrafyq commented on #29454
Worked for me Thanks

[2021-12-03 17:48] andrewbess commented on #34498
Closed due to fixed
All needed attributes `#[ReturnTypeWillChanges]` have been added to codebase

[2021-12-03 17:48] #34498 closed, assigned to nobody

[2021-12-03 18:05] andrewbess commented on #34750
The PR https://github.com/colinmollenhour/php-redis-session-abstract/pull/45 has been merged
The extension has been released
Issue closed

[2021-12-03 18:05] #34750 closed, assigned to nobody

[2021-12-03 20:07] chernenm commented on #34727
@magento give me 2.4.3 instance with edition ee

[2021-12-03 22:30] mttjohnson opened #34758 "Unnecessary Redis Session Locking On All HTTP GET Requests - Affecting PWA Studio Concurrent GraphQL Requests"
### Preconditions (*)
1. Magento 2.3.4-p1
2. PWA Studio 12.1.0 (potentially optional)
3. Setup Magento with Redis Sessions

### Helpful Insights
- New Relic APM Transaction Traces
- Tested tech stack version (though this may not be relevant)
  - PHP 7.4
  - MySQL 8.0
  - Varnish 6.4
  - Redis 5
  - Elasticsearch 7.12

### Steps to reproduce (*)
**Configure Magento**
1. Ensure that default configur

[2021-12-04 07:19] alexvegas-conceptsoft commented on #33770
Hey @Thundar

in this way new table does not contains foreign keys,
and than we get next error:
"SQLSTATE[HY000]: General error: 1823 Failed to add the foreign key constraint dev/CAT_URL_REWRITE_PRD_CTGR_PRD_ID_CAT_PRD_ENTT_ENTT_ID to system tables,"

to prevent this just use following solution:

`START TRANSACTION; CREATE TABLE catalog_url_rewrite_product_category_backup SELECT DISTINCT * FROM ca

[2021-12-04 08:17] jonathanribas commented on #34581
Hi @engcom-Hotel,
Actually, one of the simple product is not available for one of the stores, we don't want to sell it on a particular store.
Can you verify this case please?

[2021-12-05 05:18] #34427 closed, assigned to wasimbajwa9

[2021-12-05 05:18] #34700 closed, assigned to andrewbess

[2021-12-05 05:38] #34569 closed, assigned to SilinMykola, anzin

[2021-12-05 11:13] cmtickle opened #34759 "Persistent Cart is not fully disabled."
### Preconditions (*)

1. Bug exists in 2.0.0 though 2.4-develop
2. Reproducible on all page requests when Persistent Cart is disabled through configuration.

### Steps to reproduce (*)

1. Disable Persistent Cart in Admin.
2. Monitor for calls to Magento\Persistent\Observer\CheckExpirePersistentQuoteObserver ( I used Tideways for this).

### Expected result (*)

1. Expected result: The database s

[2021-12-05 13:32] VZeroCool commented on #34752
@magento give me 2.4-develop instance

[2021-12-05 13:43] VZeroCool commented on #34752
Can't find baintree in admin, Cant reproduce in this instance.

![image](https://user-images.githubusercontent.com/36662131/144749002-24579860-a195-479d-9a18-4f6e590089f2.png)

[2021-12-05 19:24] liquidia opened #34762 "Free Ground Shipping (UPS) Message appear on paid shipping"
### Preconditions (*)

1. Magento Version 2.3.4

### Steps to reproduce (*)

1. Create a discount coupon
2. Use UPS Shipping API/Option
3. Apply discount coupon on cart page
4. "Free ground Shipping on this item" appears in bracket; even product with paid shipping.

### Expected result (*)

1. "Free ground Shipping on this item" should not appear after applying discount coupon when product has a p

[2021-12-06 08:45] ihor-sviziev commented on #34758
@mttjohnson,
I can say that precisely the same issue we have on the luma-based frontend.
Actually, because of too frequent requests to `customer/section/load`, we had even issues with losing customer sessions. The solution for us was the following:
1. Reduce not needed session starts https://github.com/magento/magento2/compare/2.3...ihor-sviziev:fix-not-needed-session-start
2. Installed the follow

[2021-12-06 08:53] engcom-Hotel commented on #28111
Hello @gwharton,

We have tried to reproduce the issue in 2.4-develop branch with the module attached in main description. But the issue is now able to reproducible at our end.

We request you please try to reproduce it in 2.4-develop branch and let us know if you are able to reproduce it.

Thanks

[2021-12-06 08:57] engcom-Hotel commented on #34680
Hence the issue is reproducible with the given steps, we are confirming this issue.

[2021-12-06 09:11] lakshmana commented on #34390
The issue is linked to this one [we also had similar ](https://github.com/magento/magento2/issues/34325)
The main culprit seems to be magento/composer-dependency-version-audit-plugin and the issues is resolved when this library is removed. Any if it is safe to remove this library `magento/composer-dependency-version-audit-plugin` ?

[2021-12-06 09:31] burgh8wp commented on #33770
@alexvegas-conceptsoft How would you resolve the issue in production environment then? Our dev was direct replica of live site, and we need to get past this error to be able to update Magento to latest version. Thanks.

[2021-12-06 09:32] Hexmage commented on #31351
@ilnytskyi The graphql endpoints dont initiate the translation module currently. So nothing is translated even if you set storecodes.

[2021-12-06 09:36] Volima opened #34763 "Performance"
<!---We are having performance issues with our magento2. The creation of the articles takes quite a long time. what can we do?

[2021-12-06 09:37] Volima commented on #34763
Magento Ver.-2.3.0

[2021-12-06 10:06] engcom-Delta commented on #33565
Hi @stephan-cream ,
We tried to reproduce it on Magento 2.4 Develop with latest branch, we could not find duplicate records for multiple store news letter subscriptions.
I have followed below steps:
1. Go to the first store.
2. Log in with the customer account.
3. Sign up for the newsletter subscription.
![store_india](https://user-images.githubusercontent.com/51681379/144827102-05103735-afa7-4574

[2021-12-06 10:39] MartinAarts opened #34764 "Login as customers misbehaves when multistore, even after ending session"
Severity: S4

environment: Magento 2.4.3p1 multistore
**Steps to reproduce:**

1. Stores - Configuration - Customer Configuration - Share Customer Accounts - Set to Website and Save
2. Stores - Configuration - Customers - Enable Login as Customer and set Store To Login To - "Auto-detection" - Save
Front end - Create a Customer in 2nd Store website
3. Admin - Stores - Configuration - General - Web

[2021-12-06 10:40] Hexmage commented on #34546
@engcom-Hotel
But what if the stock of a product changes from 3 to 2 and I had 3 in my cart. stock_status won't help me identify what the problem is in that scenario.

It's nice that there are error messages in the cart response, but they need a second pass over. Because as they are now they aren't good enough.

[2021-12-06 11:06] engcom-Alfa commented on #34271
@mklooss
Thanks for your contribution, and reported issue is in discussion
Thanks for your patience!

@engcom-Hotel
Please look into the code how it is working, and needs to confirm the actual behaviour by looking into the documentation.

[2021-12-06 11:09] engcom-Delta commented on #34655
Hi @JohanCore ,
We tried with Dollar price & EUR price by adding negative values on Magento 2.4 Develop with latest branch.
but on frontend it takes negative values and it does not throw any error for entry of negative values.
After saving the product and re-opening the product , it remains the same value .
![Dollar_custom_Options1](https://user-images.githubusercontent.com/51681379/144835938-af7a

[2021-12-06 11:15] engcom-Delta commented on #34661
We have noticed that this issue has not been updated for a period of 13 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2021-12-06 11:15] #34661 closed, assigned to engcom-Delta

[2021-12-06 12:07] MartinAarts commented on #34764
@magento give me 2.4-develop instance

[2021-12-06 12:25] MartinAarts commented on #34764
Reproduced on development instance, by creating a second store with the same url.

First created the second store with same url
Then login as customer, assigned to this new store
end this sessions
Change url of second store to something else
You will be redirected to this new url, when just browsing the frontend of the same. Not logged in as customer.

[2021-12-06 12:47] stephan-cream commented on #33565
Note that your example only has the subscription for store 1 in your given example.
The issue describes a situation when there are 2 entries with the exact same email address and customer id but a different store id.

This no longer seems possible to occur naturally in 2.4.3 as it doesn't seem to add a new entry anymore if the account is set to global.
However the current situation is also not as

[2021-12-06 14:25] engcom-Alfa opened #34766 "[Test] - Draft"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-12-06 14:25] #34766 closed, assigned to nobody

[2021-12-06 14:25] engcom-Alfa commented on #34766
@magento give me 2.4.3 instance

[2021-12-06 15:01] engcom-Hotel commented on #34658
Hello @merodio7,

We have tried it on Magento EE also, but still, we are not able to reproduce it at our end. We have followed below steps in order to reproduce it:

1. Create a simple product.
2. Create a new gallery entry via `http://domain.com/rest/all/V1/products/<SKU>/media` endpoint with below request:
[code]
4. And then check the gallery entry via `http://domain.com/rest/all/V1/products/<SK

[2021-12-06 16:30] kemexyz commented on #33593
Using your changes I made a module work. I noticed mixins form a marketplace module were never called and did not even show up in frontend. Came here after a google search.

Module (free): https://marketplace.magento.com/sparsh-magento-2-order-comments-extension.html
I'm currently on Magento ver. 2.4.2-p1

This module has two mixins:
[code]
With your changes to lib/web/mage/requirejs/resolver.js t

[2021-12-06 17:34] ihor-sviziev commented on #33593
Hi @denis-g,
Maybe you can check if everything works as expected with changes from https://github.com/magento/magento2/compare/2.4-develop...mrtuvn:requirejs-resolver-mixins-patch ?

[2021-12-06 19:31] steven-hoffman-jomashop commented on #33763
Hi @engcom-Lima,

We see this issue on 2.4.3:
[code]

You can see that the WHERE clause is `WHERE X OR Y AND Z`; as per [mysql docs](https://dev.mysql.com/doc/refman/8.0/en/operator-precedence.html) AND is higher precedence then OR.
Thus the above WHERE clause `WHERE X OR Y AND Z` is really: `WHERE X OR (Y AND Z)` which is not correct.

You can see that [\Magento\ConfigurableProduct\Model\Resource

[2021-12-06 19:40] ericerway commented on #30835
@magento give me 2.4.0 instance with edition b2b

[2021-12-06 21:31] andrewbess commented on #34497
Closed due to fixes have been delivered

[2021-12-06 21:31] #34497 closed, assigned to nobody

[2021-12-07 00:05] denis-g commented on #33593
Hi @ihor-sviziev,
Hmm, I've tested clean theme and **widget** from 1st post on 2.4.1 (original resolver.js with path and original resolver.js from 2.4.3 with path, and file from path), also tested on 2.4.3 (original resolver.js with path, and file from path) - and mixins did not apply.

On @Kemexyz mixin used a component. Is it probably a different func call there? 🤔 Or path works with component o

[2021-12-07 00:13] focus97 commented on #13929
Getting same issue as @marcelloinfoweb

@marcelloinfoweb - were you able to find a fix?

[2021-12-07 04:17] webgility-amazonapi commented on #34178
Hi,
Is there any update on the resolution of this issue.

Thanks,
Webgility team

[2021-12-07 06:01] engcom-Hotel commented on #34697
Hello @andrewbess,

I agree with your point. We need to close this issue as this does not belong to Magento's module.

Hello @Vartikamish,

We have noticed that this issue does not belong to the Magento core library. So we are closing it.

Regards

[2021-12-07 06:01] #34697 closed, assigned to engcom-Hotel

[2021-12-07 06:38] TheRealHunzik commented on #34748
@lbajsarowicz  can you please help us to understand?

[2021-12-07 07:21] lbajsarowicz commented on #34748
We never had enough time and resources to finish decomposition for Admin Panel. That is why it does not work for Admin

[2021-12-07 07:36] jyotitechwin commented on #13767
if we can't add any category with id then what is purpose of rest API?

[2021-12-07 07:57] SrinivasChukka commented on #18183
Really appreciate and thanks for sharing i use shopwale. shopwale has some of the best deals and coupons there’s no wait you get the code right away unlike many other sites. shopwale codes have always worked for you so far and you have been using it for a while now. You can find more offers of <a href="https://www.shopwale.com/freecharge-coupons/">Freecharge Coupons</a> here.
[https://www.shopwale

[2021-12-07 07:59] sudma commented on #30809
So it takes 6 years for this issue to be addressed?
It was initially raised here: https://github.com/magento/community-features/issues/208
By the feedback from community it seems to be very important, but yet it does not get attention it requires....  :/

[2021-12-07 08:45] engcom-Hotel commented on #34698
Hello @andrewbess,

I agree with your point. We need to close this issue as this does not belong to Magento's module.

Hello @Vartikamish,

We have noticed that this issue does not belong to the Magento core library. So we are closing it.

Regards

[2021-12-07 08:45] #34698 closed, assigned to engcom-Hotel

[2021-12-07 09:03] engcom-Hotel commented on #34691
Dear @Vartikamish,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-07 09:03] #34691 closed, assigned to engcom-Hotel

[2021-12-07 09:08] engcom-November commented on #34763
Hi @Volima ,
Thank you for reporting. However, the issue requires enough information and steps to reproduce. Kindly recheck on 2.4-develop branch, provide the description and elaborate the steps to reproduce the issue.
Thank you.

[2021-12-07 09:18] engcom-Hotel commented on #34607
@magento give me 2.4.3-p1 instance

[2021-12-07 09:46] engcom-Hotel commented on #34753
Hi @wilfriedwolf,

Thank you for reporting the issue:

I checked the issue description but the steps are not clear. I may have some idea what you are referring to but in order to confirm if it's an issue or Magento's expected behavior, I’ll have to reproduce this issue. The steps provided are not enough for me to reproduce this. In order to try and reproduce it, please provide more detailed steps

[2021-12-07 09:47] jgmdigital commented on #34415
Is there any update on this issue?

[2021-12-07 09:56] ihor-sviziev commented on #34415
@jgmdigital,
As for now, you can apply the changes from the following PR: https://github.com/magento/magento2/pull/34514

[2021-12-07 11:37] snez commented on #26158
@engcom-Alfa The provided diagram seems to be wrong. Magento does not set Payment Pending based on Fraud status. It sets it based on whether the payment is pending, i.e. the deferred payment path in the diagram. If you look inside Sales/Model/Order/Payment/State/AuthorizeCommand.php, you will notice the following:

![image](https://user-images.githubusercontent.com/249977/145022430-97576c97-9e29-4

[2021-12-07 11:38] engcom-November commented on #34749
Hi @ed007m ,
2.4-develop version of Magento doesn't have "Auto" option in drop down. Instead checkbox "Use Auto Generation" will be present and the behavior is same as 2.4.3. Multiple Coupon codes can be generated using this feature. Kindly recheck the issue on Magento 2.4-develop branch as it has the latest code base and provide missing steps if any if the issue is still reproducible.
![image](ht

[2021-12-07 12:00] wilfriedwolf commented on #34753
Hi @engcom-Hotel ,

I'll provode you with a simple example in some, maybe tomorrow..

Best regards,

Willi

[2021-12-07 12:02] engcom-Hotel commented on #34734
Hi @reense

Thank you for reporting the issue. Can you please provide below info:

1. Which version of Magento you are checking this in ? As the code in 2.4-develop version is slightly different.
2. Please update if you are facing the same issue on 2.4-develop as well ?

I’ll do further analysis accordingly.

Thanks

[2021-12-07 12:03] engcom-Hotel commented on #34621
Hi @Nuranto,

Thank you for reporting the issue. Can you please provide the below info:

1. Which migration tool did you use?
2. What kind of wrong behavior are you getting or can you share the error logs that you got while upgrading?

Thanks

[2021-12-07 12:08] engcom-November commented on #34764
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Steps performed:
Stores - Configuration - Customer Configuration - Share Customer Accounts - Set to Website and Save
Stores - Configuration - Customers - Enable Login as Customer and set Store To Login To - "Auto-detection" - Save
Create 2nd Store with same URL of 1st Store URL
Stores - Customers - All Customers - Edit

[2021-12-07 12:13] Nuranto commented on #34621
Hi,

1. I used `magento/data-migration-tool` of course. And the issue
2. Product page giving an error `Magento\Eav\Model\Entity\Attribute\Option) with the same ID "682" already exists.`

But whatever, the change seems obvious, isn't it ?