[2020-06-01 07:18] mack4hack commented on #28448
@magento give me 2.3.4 instance

[2020-06-01 07:18] magento-engcom-team commented on #28448
Hi @mack4hack. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-06-01 07:20] magento-engcom-team commented on #28448
Hi @mack4hack, here is your [Magento instance](https://i-28448-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-28448-2-3-4.instances.magento-community.engineering/admin_70f0](https://i-28448-2-3-4.instances.magento-community.engineering/admin_70f0)
Login: `f275933a` Password: `036b8623d029`
Instance will be terminated in up to 3 hours.

[2020-06-01 07:40] swathishs commented on #28448
@magento give me 2.4-develop instance

[2020-06-01 07:41] magento-engcom-team commented on #28448
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-01 07:42] magento-engcom-team commented on #28448
Hi @swathishs, here is your [Magento instance](https://i-28448-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28448-2-4-develop.instances.magento-community.engineering/admin_8e8e](https://i-28448-2-4-develop.instances.magento-community.engineering/admin_8e8e)
Login: `27362f99` Password: `354bbf8751e2`
Instance will be terminated in up to 3 hours.

[2020-06-01 07:49] hemendraajmera commented on #28068
@sureshp1000  Thanks for the quick solution.

I tried to implement the mentioned change on my website, it working and It showing the price as low as a section on category and product page.
but the variation options like size, color, etc. dropdown not showing on that configurable product.

[2020-06-01 07:55] mack4hack commented on #28448
@madonzy its default behaviour of Magento.

If you check this file vendor/magento/module-ui/Model/Export/ConvertToCsv.php, you will get more idea about it. When you export sales order data, the data provider is **sales_order_grid_data_source**
So it exports data from sales_order_grid table.

For Order Status Magento save "status code" in the table, that's why you seeing "payment_pending" instead o

[2020-06-01 07:59] swathishs commented on #28448
@mack4hack: Hi mack for your kind information if the ticket is already assigned by someone you should not take that ticket and test. Since I already assigned the ticket and I am testing on it.

[2020-06-01 08:04] madonzy commented on #28448
@mack4hack yeah, I saw that file, but I reported a bug, because I don't see any cons for this approach and it makes difficult to extend the grid.

[2020-06-01 08:06] mack4hack commented on #28448
@swathishs sorry for the same. Will not happen again.

[2020-06-01 08:09] swathishs commented on #28448
@mack4hack: Hey no need of sorry just thought to share the information. So that next time you can check and assign the ticket.

[2020-06-01 09:14] VZeroCool commented on #16101
This is still reproducible in Magento 2.3.3, I can able to reproduce while using API,
Create quote for customer for default store, Add to cart for default store

Use V1/carts/mine/ with other store because we've scenario where after adding product to cart from english customer switched store and viewing cart in arabic store.

This API returns product names in english even though passing store code

[2020-06-01 09:43] reachshiva opened #28456 "Store Credits not getting displayed in Order Confirmation Email"
Magento version (example: 2.3.1 EE)
enable the store credit and add some credit for a customer.

Now, login and add a products to cart and place order using store credits partial/full.

now in the customer confirmation email we will not get the store credit data in the email template.

![Screenshot from 2020-06-01 15-11-19](https://user-images.githubusercontent.com/11659115/83396972-76f39000-a41a-

[2020-06-01 09:56] swathishs commented on #28270
@magento give me 2.4-develop instance

[2020-06-01 09:56] magento-engcom-team commented on #28270
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-01 10:07] krishprakash commented on #28456
This issue is related to Magento EE
@sdzhepa Kindly move this issue to Enterprise edition repository

[2020-06-01 11:22] zakaria-jnh opened #28458 "Homepage url with store_code not working"
### Preconditions
1. Magento version: 2.3.4 CE installation with multiple stores configuration

### Steps to reproduce
1. Enable 'Add Store Code to Urls' setting in Admin
2. Set up multiple stores nginx configuration

### Expected result

1. the url {{base_url}}/store_code should be accessible and pointing to the cms home page

### Actual result

1. {{base_url}}/store_code/home url works but {{bas

[2020-06-01 11:24] swathishs commented on #26994
@magento give me 2.4-develop instance

[2020-06-01 11:24] magento-engcom-team commented on #26994
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-01 11:29] swathishs commented on #27433
@magento give me 2.4-develop instance

[2020-06-01 11:29] magento-engcom-team commented on #27433
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-01 11:36] Bitaru opened #28459 "Update Prototype.js to 1.7.3"
### Summary (*)
Currently Magento uses Prototype version 1.7.0.0, which contains bugs in Array.toArray and Array.entries. Those bugs makes impossible to use some babel polyfills in 3rd-party apps.

### Examples (*)
This polyfill always fails on version 1.7.0.0 and works with 1.7.3
[code]

### Proposed solution
Update Prototype.js to [1.7.3](http://prototypejs.org/2015/09/24/prototype-1-7-3/)

---

[2020-06-01 11:51] sureshp1000 commented on #28068
Hi @hemendraajmera  Thanks for your response.

As you know the issue was not showing price for the configurable product so now we have price on the product page.

Regarding the variation options like size, color, etc. drop-down not showing on that configurable product, it is Magento default feature that we are not able to add to cart the out of stock variations product. And now we have all associa

[2020-06-01 12:38] angelomaragna commented on #25862
The transaction management in the guest orders payments has always been a huge pain in the ...  since we discovered it too.

In my opinion, you can't simply wrap a whole placeOrder with a transaction where you allow for any third party extension to run on observers and roll back in case anything goes wrong allowing an ecommerce platform to fail in such specatular way.

Using lots of thirdparty ext

[2020-06-01 13:12] trucatchtraps opened #28461 "Customer can order less than minimum quantity allowed in shopping cart"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Create Product
2. Under Advanced Inventory set Minimum Quantity Allowed in Shopping Cart to 12
3. Also Enable Quantity Increments
4. Set Quantity Increments to 12

### Expected result (*)
1. The minimum amount of the product allowed in the cart should be 12
2. You can only add a minimum of 12 to the cart
3. Should not be able to

[2020-06-01 13:18] snez opened #28462 "[2.3.5p2] Incorrect tax calculations when custom price is set in non-base currency"
### Preconditions (*)

1. Magento 2.3.5p2
-- Repro on 2.4-develop - NO
-- Repro on 240 - NO
2. Create Tax Rule for retailer customers group for Michigan state with tax rate 8.25%
3. Create retailer customer with address in Michigan
4. Set Euro as allowed currency in Configuration

### Steps to reproduce (*)

1. Create an order from the Admin area
2. From the sidebar, switch to a currency that is n

[2020-06-01 13:23] snez commented on #28462
Temporarilly closing, more details needed

[2020-06-01 13:43] sdzhepa commented on #28456
Hello @reachshiva
fyi: @krishprakash

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/i

[2020-06-01 13:43] helloeverything commented on #13952
Seeing this on 2.3.5-p1 using stripe, multiple orders a minute or two apart with same transaction ID.

[2020-06-01 13:44] snez commented on #28462
Ticket updated

[2020-06-01 13:44] swathishs commented on #28461
@magento give me 2.4-develop instance

[2020-06-01 13:44] magento-engcom-team commented on #28461
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-01 13:46] magento-engcom-team commented on #28461
Hi @swathishs, here is your [Magento instance](https://i-28461-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28461-2-4-develop.instances.magento-community.engineering/admin_57af](https://i-28461-2-4-develop.instances.magento-community.engineering/admin_57af)
Login: `bc9194c2` Password: `a380c6bab471`
Instance will be terminated in up to 3 hours.

[2020-06-01 14:11] juhanihaapala opened #28463 "Swagger custom_attributes type is string but not all attributes allow string"
### Preconditions (*)

1. Tested with Magento 2.3.1 and 2.3.4, 2.4-develop
2. Swagger says the value for custom attribute is "string"
![image](https://user-images.githubusercontent.com/60198413/94437371-565bfc80-01a6-11eb-8b68-160d281bdcd6.png)

![image](https://user-images.githubusercontent.com/60198413/94437119-fe24fa80-01a5-11eb-8939-a083c0bb6f51.png)

### Steps to reproduce (*)

1. Made 'PUT"

[2020-06-01 14:18] swathishs commented on #28461
The issue is not reproducible  in Magento 2.4-develop instance

Please find the attachment below for your reference:

1. Admin config:
![image](https://user-images.githubusercontent.com/58288685/83417518-d44e0800-a43f-11ea-919a-16f4826514bf.png)
2. Cartpage
![image](https://user-images.githubusercontent.com/58288685/83417544-dd3ed980-a43f-11ea-8fbd-83c026329c45.png)

[2020-06-01 14:20] dudzio12 commented on #26675
If you use Magento with composer, there is a diff for you:
https://pastebin.com/YtzX09gL

[2020-06-01 14:27] hewgim commented on #28173
I've changed the title of this issue because it appears on further investigation that there are a number of problems going on here resulting in way way more presized porduct images generated and cached than are ever required.

Problem 1) - Magento generates every resized image defined in a theme's view.xml file for EVERY product image uploaded even when the images uploaded are only required for th

[2020-06-01 14:37] swathishs commented on #28270
@pixiemediaweb: I have created a configurable product with color swatch options and tried to pre-set the value. But couldn't able to select the red option in my scenario. Please find the attachment below for reference
![image](https://user-images.githubusercontent.com/58288685/83419450-b3d37d00-a442-11ea-9172-8a68d07ca963.png)
Link-https://i-28461-2-4-develop.instances.magento-community.engineerin

[2020-06-01 14:39] swathishs commented on #28461
Hi @trucatchtraps, thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
If you'd like to update the issue, please reopen it.

[2020-06-01 14:39] #28461 closed, assigned to swathishs

[2020-06-01 15:01] dalu commented on #27836
What I find amazing is that despite a previous version having a soltion for MySQL 8 compatibility, it's not been included in the codebase. https://github.com/magento/magento2/issues/26465

[2020-06-01 15:38] hewgim commented on #28302
Looks like that is correct. Magento 2.4 installation is now dependent on having Elastic search. The mysql option has been removed.

[2020-06-01 16:07] niravkrish opened #28464 "missing validation for admin grid filters"
### Preconditions (*)

1. Magento - 2.3.x
2. PHP - 7.2

### Steps to reproduce (*)

1. Login to Magento 2 admin
2. Go to Admin > catalog> products

### Expected result (*)

1. Validation should be work perfectly even in the filter also.

### Actual result (*)

1. There is only one example mentioned in the screenshot but there is also from date to date validation is not working.

![screenshot-127 0

[2020-06-01 16:16] swathishs commented on #27653
@magento give me 2.3.5-p1 instance

[2020-06-01 16:16] magento-engcom-team commented on #27653
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-01 16:17] magento-engcom-team commented on #27653
Hi @swathishs, here is your [Magento instance](https://i-27653-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-27653-2-3-5-p1.instances.magento-community.engineering/admin_8a68](https://i-27653-2-3-5-p1.instances.magento-community.engineering/admin_8a68)
Login: `3056ad86` Password: `8b11b6680bc1`
Instance will be terminated in up to 3 hours.

[2020-06-01 16:51] swathishs commented on #27653
@TerreFra: Tested the issue in both 2.3.5p1 and 2.4 develop instance the issue is not reproducible.
Please find the attachment below:
1. Two websites:
![image](https://user-images.githubusercontent.com/58288685/83431313-c6ef4880-a454-11ea-95e2-ab014bc9dbf9.png)
2.  USA Website - For USA (Allowed countries option - only USA selected)
![image](https://user-images.githubusercontent.com/58288685/83431

[2020-06-01 16:55] #23055 closed, assigned to nobody

[2020-06-01 17:10] magento-engcom-team commented on #28288
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Onc

[2020-06-01 17:10] magento-engcom-team commented on #28288
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2020-06-01 17:15] magento-engcom-team commented on #28288
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2020-06-01 17:17] magento-engcom-team commented on #28288
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34781` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-01 17:31] RanjitBShinde commented on #28431
Issue: Clear Description
Reproduced on 2.3.3
Issue: Confirmed
Component: Webapi
Component: Catalog

[2020-06-01 17:32] xAvarice commented on #4331
You fucking morons.

[2020-06-01 17:45] ghost opened #28465 "Changing An Account Field Requires Account's Password"
I am trying to update a user account from an administrator account. It won't let me change the name without changing the password.

I am losing patience with Magento. If I have to spend another 5 minutes fighting between LastPass and Magento 2 UI I am going to choose a different platform. You have seriously wasted my time today.

[2020-06-01 17:46] xAvarice commented on #28465
Are you morally serious

[2020-06-01 20:01] scholtz commented on #28302
I am having the same issue..

[code]

![obrázok](https://user-images.githubusercontent.com/1223439/83448949-0ae14e00-a453-11ea-81dc-de4cd07a201f.png)

I DO NOT WANT TO USE ELASTIC SEARCH.

Elastic search just takes a lot of ram for my server, and I do not want Magento if it is dependend on elastic search.

[2020-06-01 20:12] magento-engcom-team commented on #22841
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-24179` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-01 20:29] fsw commented on #23623
@zouhongzhao I have closed this issue as for my case this error happened because of custom integration. If for you it is happening on vanilla Magento 2 I think you should open a separate issue.

[2020-06-01 20:51] rickcj commented on #28423
How long for develop instance?

[2020-06-01 21:44] DMaterka commented on #9032
In my case it was content staging module that prevented the is_active select to show. The indexers were set on schedule.
I found that setting end date of scheduled changes in content staging dashboard magically allowed cron to launch catalog rules indexers

[2020-06-01 22:40] chernenm commented on #27874
Hello @hostep,

This issue has been backported into 2.3.x in scope of this pull request https://github.com/magento/magento2ce/pull/5675

Best regards,
Misha Chernenko.

[2020-06-01 23:44] Pisikoll commented on #5906
Is there any updates by magenta on this topic? A quick google search showed one article from 2017. This issue was opened 4 years ago and as I understand xml configuration has changed a lot (xml autocomplete and more meaningful tags) but I still think that it is quite hard to work with and documentation is still quite useless. I feel so powerless. I have always wanted to do things "the Magento way"

[2020-06-02 05:08] swathishs commented on #28464
@magento give me 2.4-develop instance

[2020-06-02 05:08] magento-engcom-team commented on #28464
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-02 05:10] magento-engcom-team commented on #28464
Hi @swathishs, here is your [Magento instance](https://i-28464-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28464-2-4-develop.instances.magento-community.engineering/admin_82f6](https://i-28464-2-4-develop.instances.magento-community.engineering/admin_82f6)
Login: `ade72f86` Password: `d466080c0b45`
Instance will be terminated in up to 3 hours.

[2020-06-02 06:01] j-robin-hunter commented on #25177
The code in $order->canInvoice() also appears to be broken for a bundled product, also resulting in the order becoming CLOSED when it is shipped.

Within $order->canInvoice() the following code will not return true

[code]
This means that the check function in the State class will also close the order. Again this is wrong behaviour caused by the same check and the same code.

[2020-06-02 06:05] tecjam commented on #4331
@xAvarice Do you kiss your mother with that mouth? How about explain your problem exactly. And what does it have to do with lastpass?

I think you should first learn how to communicate.

[2020-06-02 06:10] j-robin-hunter opened #28468 "Shipping of invoiced Bundled Product closes order"
### Preconditions (*)

1. Magento CE 2.3.4

### Steps to reproduce (*)

1. Create bundle product
2. Successfully order and pay for product to put order in processing state
3. Ship order

### Expected result (*)

1. Shipped and paid for bundled order should become a COMPLETE

### Actual result (*)

1. Shipped and paid for bundled order marked as CLOSED

---
Please provide [Severity](https://devdocs

[2020-06-02 06:11] j-robin-hunter commented on #28468
This issue is also related to #25177 which results in closed zero value virtual products

[2020-06-02 06:34] swathishs commented on #28464
@niravkrish: If the customer has two to three websites and there is a possibility of setting characters as prefixes for increment ID to differentiate there order ID. There is no from & to fields for order id in the latest version. So I think this bug is invalid. If not could you give me more information on it

Note: Magento is giving the "Magento 2 Custom Order Number" extension.
Please refer to t

[2020-06-02 06:39] j-robin-hunter commented on #28468
#25177 has an extract of the code from the Order class which is causing class State check() to close the order

[2020-06-02 06:43] muthu-ziffity commented on #26103
@magento-engcom-team I am working on this

[2020-06-02 07:08] muthu-ziffity commented on #26103
@magento I am working on this

[2020-06-02 07:11] swathishs commented on #28468
@j-robin-hunter: I have tested the issue in 2.4 develop instance the issue is not reproducible
Please refer the attachments:
1.Created bundle product
![image](https://user-images.githubusercontent.com/58288685/83490713-250c4200-a4ce-11ea-85b6-fa2d90cf4ef8.png)
2. Order placed:
![image](https://user-images.githubusercontent.com/58288685/83490771-43723d80-a4ce-11ea-8e9b-306b475f4aa8.png)
3. Ship ord

[2020-06-02 07:21] swathishs commented on #28464
@niravkrish: Since the bug is not valid. Hence closing the ticket. If you'd like to update the issue, please reopen it.

[2020-06-02 07:25] j-robin-hunter commented on #25177
In Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save controller the shipment is 'registered' and all items are marked as shipped. This results in the check() function in Magento\Sales\Model\ResourceModel\Order\Handler\State checking the canShip() status while the order is still in the PROCESSING state.

Since all items are now marked as shipped the order cannot now be shipped and test resu

[2020-06-02 07:25] j-robin-hunter commented on #28468
In Magento\Shipping\Controller\Adminhtml\Order\Shipment\Save controller the shipment is 'registered' and all items are marked as shipped. This results in the check() function in Magento\Sales\Model\ResourceModel\Order\Handler\State checking the canShip() status while the order is still in the PROCESSING state.

Since all items are now marked as shipped the order cannot now be shipped and test resu

[2020-06-02 07:53] swathishs commented on #28468
@j-robin-hunter: I have tested the step what you have suggested in 2.4 develop instance

Please find the attachments:
1. **Order placing:**
![image](https://user-images.githubusercontent.com/58288685/83494171-808cfe80-a4d3-11ea-8c66-02e1bdd13b91.png)

2. **Admin order grid( Status- pending):**
![image](https://user-images.githubusercontent.com/58288685/83494249-9d293680-a4d3-11ea-9172-8e4f6839f316

[2020-06-02 08:01] j-robin-hunter commented on #28468
We are using 2.3.4

[2020-06-02 08:07] swathishs commented on #28468
Ok, then I will check in 2.3.5p1 instance and let you know the status of the ticket. These two instances Magento recommends to test.
I used the bank transfer payment method in 2.4 develop instances. In 2.3.5 p1 instance will use Paypal method and test it

[2020-06-02 08:07] swathishs commented on #28468
@magento give me 2.3.5-p1 instance

[2020-06-02 08:07] magento-engcom-team commented on #28468
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-02 08:08] j-robin-hunter commented on #28468
I have just tried the process you did using cash on delivery - it still ends up in the CLOSED state

[2020-06-02 08:09] magento-engcom-team commented on #28468
Hi @swathishs, here is your [Magento instance](https://i-28468-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28468-2-3-5-p1.instances.magento-community.engineering/admin_0c53](https://i-28468-2-3-5-p1.instances.magento-community.engineering/admin_0c53)
Login: `702c1710` Password: `ac85f716690d`
Instance will be terminated in up to 3 hours.

[2020-06-02 08:09] swathishs commented on #28468
okay I will try with cash on delivery

[2020-06-02 08:26] ihor-sviziev commented on #28465
Hi @xAvarice,
AFAIK additional check for the password was added due to security reasons, so even if someone got access to your browser with logged in admin - he will not be able to create an admin user for himself, or change any data on any existing admin user.

@lenaorobei @slavvka could you confirm that?

[2020-06-02 08:29] swathishs commented on #28468
I have tried in 2.3.5 p1 instances and the issue is not reproducible. You can check in the above instance for your reference

**Payment method** - cash on delivery

Please find the attachments:

1. **Order admin( Status pending ):**
![image](https://user-images.githubusercontent.com/58288685/83497927-d4e6ad00-a4d8-11ea-8cd8-c3fc5f966e86.png)

2. **Invoiced (Status -processing**):
![image](https://

[2020-06-02 08:41] michael-bouvy opened #28470 "Admin cookie uses cookie domain of default website's first store"
# Preconditions

Magento version: `2.3.2-p2`

### Steps to reproduce

1. Configure a custom admin URL (`admin/url/custom`), ie. https://admin.my-shop.com
2. Set the cookie domain (`web/cookie/cookie_domain`) for default scope to `admin.my-shop.com`
3. Set the cookie domain (`web/cookie/cookie_domain`) for default website's first store's scope to `www.my-shop.com`

### Expected result

1. `admin` c

[2020-06-02 08:42] swathishs commented on #27653
Hi @TerreFra, thank you for your report. According contributor's guide Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop| 2.3.5p1 branch.
If you'd like to update the issue, please reopen it.

[2020-06-02 08:42] #27653 closed, assigned to swathishs

[2020-06-02 08:47] thomas-harding commented on #7075
Same here on Magento 2.3.4. Would be useful to know if any fix is available.

[2020-06-02 08:51] ksz2013 commented on #28428
HI,
I am having the same issue, it is exactly as you described. I am having a customized login as well, and using this one for the 1st time the customerData is not populated at all.

[2020-06-02 09:11] j-robin-hunter commented on #28468
I have tried with the test instance and get an even worse result. With the Braintree payment, using card 4111111111111111 as a test card I get the order to go to the PROCESSING state, which is what I would expect.

When I then try to ship the order I get a message saying that the shipment has been created but ...... the shipment page remains in place and the order stays in PROCESSING

![Screenshot

[2020-06-02 09:31] swathishs commented on #28468
You have missed invoicing the order so only your were shown status as"Processing "after shipment. I have gone and checked the order and made the order to invoiced and the status now came correctly as "completed".
![image](https://user-images.githubusercontent.com/58288685/83504121-bf29b580-a4e1-11ea-99f0-5a2e587f547a.png)

Order workflow:
![image](https://user-images.githubusercontent.com/58288685

[2020-06-02 09:31] thomas-harding opened #28471 "Unable to export low stock report in 2.3.4"
### Preconditions (*)

1. Magento CE 2.3.4
2. PHP 7.2

### Steps to reproduce (*)

1. Log in to admin panel. Go to Reports > Products >Low Stock
2. Locate "Export To" form, select CSV and click "Export"
3. An error message shows

### Expected result (*)

1. The browser serves me a downloadable CSV

### Actual result (*)

1. An error message shows

[code]

[2020-06-02 09:32] swathishs commented on #28464
Since the step to reproduce steps was wrong. We have to check the issue in the product grid in admin to reproduce the bug. Hence reopening the issue.

[2020-06-02 09:32] thomas-harding commented on #28471
@magento give me 2.4-develop instance

[2020-06-02 09:32] magento-engcom-team commented on #28471
Hi @thomas-harding. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-02 09:34] magento-engcom-team commented on #28471
Hi @thomas-harding, here is your [Magento instance](https://i-28471-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28471-2-4-develop.instances.magento-community.engineering/admin_81f9](https://i-28471-2-4-develop.instances.magento-community.engineering/admin_81f9)
Login: `362898c6` Password: `aa8b39700bad`
Instance will be terminated in up to 3 hours.

[2020-06-02 09:45] swathishs commented on #28464
The issue is reproducible in 2.4 develop instances. I have updated the step to reproduce the steps.

Please find the attachment :

![image](https://user-images.githubusercontent.com/58288685/83505715-cbaf0d80-a4e3-11ea-9643-4339cac52e05.png)

[2020-06-02 09:51] magento-engcom-team commented on #28464
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34799` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-02 09:55] syed-ziffity commented on #28464
@magento I am working on this

[2020-06-02 10:08] bamboekeizer opened #28472 "Subtotal Cart Price Rule excludes product tax"
### Preconditions (*)
Magento ver. 2.3.5-p1 - upgraded from 2.3.3 using composer
1. Product price includes product tax. Product tax is 21%. Shipping table rate is 6 euro.
2. Create subtotal cart price rule to have free shipping start from 99 euro. Use 0 discount either as fixed value or percentage, tried both configurations
3. Shipping costs set to 6 euro from table rates

### Steps to reproduce (

[2020-06-02 10:10] bamboekeizer commented on #28472
@magento give me 2.4-develop instance

[2020-06-02 10:10] magento-engcom-team commented on #28472
Hi @bamboekeizer. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-02 10:11] magento-engcom-team commented on #28472
Hi @bamboekeizer, here is your [Magento instance](https://i-28472-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28472-2-4-develop.instances.magento-community.engineering/admin_a0ab](https://i-28472-2-4-develop.instances.magento-community.engineering/admin_a0ab)
Login: `b3d8be9e` Password: `fac8c1affc86`
Instance will be terminated in up to 3 hours.

[2020-06-02 10:12] grossmann commented on #27874
@chernenm Your link to the pull request gives a 404 error. Can you show me to the correct url?

[2020-06-02 10:38] swathishs commented on #28468
Hi @j-robin-hunter, thank you for your report. According contributor's guide Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch and 2.3.5p1 instance.
If you'd like to update the issue, please reopen it.

[2020-06-02 10:38] #28468 closed, assigned to swathishs

[2020-06-02 10:42] niravkrish commented on #28464
Also validation not working for date range from and to date.

Form date to date validation working fine with block grid but it is not working in ui grid.

[2020-06-02 10:47] mack4hack commented on #28431
@swathishs please verify this issue.

[2020-06-02 10:58] manan-india opened #28473 "Quantity decrease by two for vitual product, if Asynchronous sending is enabled"
### Preconditions (*)

1. cron should be enabled
2. smtp should be configured

### Steps to reproduce (*)

1. Enable the configuration: Stores>Configuration>Sales>Sales Email>General Settings>Asynchronous sending
2. Place an order for a virtual product.
3. Generate an invoice
4. wait for 2-3minutes(to successfully job done by cron)

### Expected result (*)

1. Qunatity decreased by 1

### Actual r

[2020-06-02 11:09] RanjitBShinde commented on #28431
@magento give me 2.4-develop instance

[2020-06-02 11:09] magento-engcom-team commented on #28431
Hi @RanjitBShinde. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-02 11:11] kuvar0158 commented on #3333
my question is that how i am using miscellaneous html in footer

[2020-06-02 11:21] monocircus opened #28474 "Incorrect Currency Symbol has been used for Base Currency in grand-total.html when Display Currency and Base Currency is different"
### Preconditions (*)

1.Magento Open Source 2.3.4
2.In my case, set Base Currency : JPY  and make store view with Default Display Currency : USD

### Steps to reproduce (*)

1. add a product and go to checkout page
2.

### Expected result (*)

1. Base Currency price value will be displayed below Grand Total price
2. I can find the code in /app/code/Magento/Tax/view/frontend/web/template/checkout/

[2020-06-02 11:24] monocircus commented on #28474
@magento give me 2.4-develop instance

[2020-06-02 11:24] magento-engcom-team commented on #28474
Hi @monocircus. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-02 11:26] magento-engcom-team commented on #28474
Hi @monocircus, here is your [Magento instance](https://i-28474-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28474-2-4-develop.instances.magento-community.engineering/admin_c42d](https://i-28474-2-4-develop.instances.magento-community.engineering/admin_c42d)
Login: `fa931a1a` Password: `2999f4b272dc`
Instance will be terminated in up to 3 hours.

[2020-06-02 11:38] RanjitBShinde commented on #28431
@magento issue is reproducible in magento 2.4-develop instance

[2020-06-02 11:51] engcom-Echo commented on #28358
Hi, @ProkopovVitaliy .
[Assigning an issue](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#assigning-an-issue)

[2020-06-02 12:00] engcom-Echo commented on #28277
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-06-02 12:00] #28277 closed, assigned to engcom-Echo

[2020-06-02 12:11] swathishs commented on #28431
@mack4hack : The issue is reproducible in Magento 2.4 develop instance

Please find the attachment below:

1. Bundle product:
![image](https://user-images.githubusercontent.com/58288685/83518306-e9866d80-a4f7-11ea-882b-009e233253c4.png)

2. Api result:
{
    "id": 1201,
    "sku": "Testproduct",
    "name": "Testproduct",
    "attribute_set_id": 4,
    "price": 0,
    "status": 1,
    "visibility"

[2020-06-02 12:12] magento-engcom-team commented on #28431
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34800` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-02 12:21] BorisovskiP commented on #27126
@engcom-Alfa Any news regarding the issue?

[2020-06-02 12:31] syed-ziffity commented on #28431
@magento I am working on this

[2020-06-02 12:31] monocircus commented on #28474
Hi I could not reproduce the issue.
but I remember I have been using currency formatter module to remove the decimal of JPY price.
this module might be causing the issue.

In 2.4-develop instance, the Decimal of JPY was removed without module.

Can someone tell me where I could find decimal setting in code?

If 2.3.4 version already have this function, I could disable the module.

thank you

[2020-06-02 12:43] Neusta-Hartwig commented on #28161
This is already fixed in 2.4 (see https://github.com/magento/magento2/commit/e5cd82d87c7254503b4c9b6a7ff17017413dd016)

Greetings,
Christoph

[2020-06-02 12:49] ajijshekh123 commented on #28463
@magento give me 2.4-develop instance

[2020-06-02 12:49] magento-engcom-team commented on #28463
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-02 12:51] magento-engcom-team commented on #28463
Hi @ajijshekh123, here is your [Magento instance](https://i-28463-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28463-2-4-develop.instances.magento-community.engineering/admin_ceed](https://i-28463-2-4-develop.instances.magento-community.engineering/admin_ceed)
Login: `f4edaf70` Password: `815f4af7596d`
Instance will be terminated in up to 3 hours.

[2020-06-02 12:53] Vinai commented on #5906
I've learned to live with the pain.
The browser side UI components have actually become somewhat fun, even though they are very clunky. But the adminhtml side is god damn awful.

I avoid thinking about the system or asking myself "Why?".
This way I feel numb most of the time.
Even though I've learned to use them, I still try to use "anything but" when possible.

[2020-06-02 13:06] rickcj commented on #28423
@magento how long for develop instance?

[2020-06-02 13:09] magento-engcom-team commented on #24422
Hi @drabikowy.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [45e0641837e88714d279d7b8c175d54edfbf7af2](https://github.com/magento/magento2/commit/45e0641837e88714d279d7b8c175d54edfbf7af2)
 - [21ee858c30fd7ca1bbf0f5be6f0adc45362b774b](https://github.com/magento/magento2

[2020-06-02 13:09] #24422 closed, assigned to nobody

[2020-06-02 13:10] magento-engcom-team commented on #24218
Hi @itwebdev2.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [27a1299b501f6a15f9758148d17b53edfc51504d](https://github.com/magento/magento2/commit/27a1299b501f6a15f9758148d17b53edfc51504d)

The fix will be available with the upcoming `2.4.1` release.

[2020-06-02 13:10] #24218 closed, assigned to nobody

[2020-06-02 13:15] udovicic commented on #21879
I must agree with @dhorytskyi , this is behavior by design. At least, that you will get from EE support.

[2020-06-02 13:19] ajijshekh123 commented on #28463
Hello @juhanihaapala,
I have verified this issue in the latest Magento 2.4 instance with the proper steps, actual result and expected result.
I am not able to reproduce this issue. Please refer attached the below video:

![Untitled_ Jun 2 2020 6_43 PM](https://user-images.githubusercontent.com/24711761/83524815-c2cd3480-a501-11ea-9d6e-5b033497bdc1.gif)

Please update me if I have anything is missi

[2020-06-02 13:29] juhanihaapala commented on #28463
Ok, it seems I was not clear on describing the issue. Issue comes when trying to add/update product through rest api where you have category_ids custom_attribute data as string for example payload like this:
![image](https://user-images.githubusercontent.com/3079827/83525699-03bb4e00-a4ee-11ea-95e4-e731c3242411.png)

And the issue is swagger says the value is string while with category_ids it does

[2020-06-02 13:33] ajijshekh123 commented on #28463
Sorry @juhanihaapala, I can't able to review this issue throw the API. This issue needed developer experience. I am QA Contributor so I am not able to reproduce this issue.

[2020-06-02 14:06] xeontcs commented on #26437
I can recreate the same issue.

What is the reason these patches are not added to 2.3.5-p1?

[2020-06-02 14:18] engcom-Echo commented on #26908
The issue is not reproducible on M2.4-develop

[2020-06-02 14:18] #26908 closed, assigned to nobody

[2020-06-02 14:24] swathishs commented on #28471
@thomas-harding: The issue is not reproducible in magento2.4 develop instance. Able to download the low stock report.

Please find the attachments below:
1.Low stock grid:
![image](https://user-images.githubusercontent.com/58288685/83531369-86ea9d00-a50a-11ea-82d8-794e57137d66.png)
2. Download lock stock:
![as6t6FN0Nn](https://user-images.githubusercontent.com/58288685/83531596-d3ce7380-a50a-11ea-

[2020-06-02 14:32] indigoflow opened #28475 "Backend doesn't work after changing Custom Admin URL"
### Summary (*)

Hello guys!
Magento ver. 2.3.1
Custom Admin URL was the default (checkbox checked: 'Use system value')
After adding 'Custom Admin URL': https://www.gigispa.com/admin/
the backend stops to work properly doesn't load CSS and JS yet
I'm trying to connect Putty via IP: 34.216.107.95:22 or via hostname www.gigispa.com:22
It gives 'Network error - Connection timed out'
Please help me to

[2020-06-02 14:34] redchamps commented on #26437
@xeontcs Not sure why magento didn’t added them to 2.3.5. As shared earlier, you might use below till 2.4 release

https://github.com/redchamps/customer-shopping-carts-tab-fix

[2020-06-02 14:45] chernenm commented on #27874
Hello @grossmann,

I am sorry, it is not merged yet, it will be released in 2.3.6.

[2020-06-02 14:48] xeontcs commented on #26437
@redchamps Thank you very much! Highly Appreciated for the fix.

It is working for me 100%

I was bit upset as I have seen many fixes "Fixed in 2.4.x ". It is not even released yet.

[2020-06-02 14:57] gabrieldagama commented on #25115
As discussed with @AleksLi this issue seems to be fixed on 2.4.

Internal QA will re-test it.

[2020-06-02 14:59] magento-engcom-team commented on #28377
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34804` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-02 15:49] jaywilliams commented on #7647
**Problem:** Magento won't allow you to delete an image which is in use on another store, even if that store is not enabled for that specific product currently

**Solution:** Remove non-enabled store-specific product image selections

*USE AT YOUR OWN RISK*

[code]

[2020-06-02 15:51] slavvka commented on #27874
The link above is from internal repos.

[2020-06-02 16:01] ghost opened #28476 "[Issue] Widget add product to cart using ajax"
This issue is automatically created based on existing pull request: magento/magento2#27376: Widget add product to cart using ajax

---------

### Preconditions (*)

We have one or more `Products List widgets` on the any Cms pages
When we try to add products to cart , our page will be reloaded and our product will be added to cart.

This PR provides ability add products of ` Products List widget` t

[2020-06-02 16:01] ghost opened #28477 "[Issue] Load color picker dependencies only when it is actually used"
This issue is automatically created based on existing pull request: magento/magento2#28400: Load color picker dependencies only when it is actually used

---------

### Preconditions (*)
This is just another performance PR, which focuses on loading only the needed dependencies. This time I am optimizing color picker component and its `spectrum` and `tinycolor` dependencies.

Loading mentioned modu

[2020-06-02 16:22] sdzhepa commented on #18823
![issue_18823](https://user-images.githubusercontent.com/3409584/83544354-5f241680-a4c3-11ea-9bb7-15f3797a4259.png)

[2020-06-02 16:33] sdzhepa commented on #14071
Issue has been fixed in https://github.com/magento/magento2/pull/22984

[2020-06-02 16:33] #14071 closed, assigned to m-a-x-i-m

[2020-06-02 16:38] Greko2017 opened #28478 "Static Files Not loading when changing the Language (Both admin panel and front end view)"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2020-06-02 17:08] lbvaimo commented on #28447
@magento i'm working on it

[2020-06-02 17:28] sdzhepa commented on #8181
@lisamych @jiten-patel

Just checked this issue on the lates `2.4-develop` branch
It seems the issue has been already fixed and case works as expected.

Please confirm that we can close it or share additional details.

My test flow:
1. Test Customer with address in book
![issue_8181](https://user-images.githubusercontent.com/3409584/83548515-82ea5b00-a4c9-11ea-9a49-f7309e5d0406.png)

2. Create new

[2020-06-02 18:52] lenaorobei commented on #28465
Hi @xAvarice,

Could you please describe steps to reproduce this issue? You can get test instance by dropping comment `@magento give me 2.4-develop instance`.

When changing admin user name from another admin user account it is required to specify current user password.
<img width="958" alt="Screen Shot 2020-06-02 at 1 49 34 PM" src="https://user-images.githubusercontent.com/17548019/83557822-ec71

[2020-06-02 18:52] magento-engcom-team commented on #28465
Hi @lenaorobei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-02 18:53] magento-engcom-team commented on #28465
Hi @lenaorobei, here is your [Magento instance](https://i-28465-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28465-2-4-develop.instances.magento-community.engineering/admin_c939](https://i-28465-2-4-develop.instances.magento-community.engineering/admin_c939)
Login: `6e09d70d` Password: `fc3abf76d6fb`
Instance will be terminated in up to 3 hours.

[2020-06-02 19:27] IgorM92 opened #28479 "Product attributes product_type, type_id cannot be created/edited form admin"
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. _IF_ product attributes with following code does not exist `product_type` or `type_id` then attempt to create any of them
2. _ELSE_ edit any of them and change anything

### Expected result (*)

- Attribute is not saved. Error message is shown
-  text:  _Code "product_type" is a reserved key and cannot be used as attribute

[2020-06-02 19:36] prashantvictory commented on #14881
additional_attributes doesn't work in magento 2.3.5-p1 but it works if I put all the custom attributes as columns, but not via "additional_attributes" field. Please check and provide some fix.

[2020-06-02 20:37] addMitt commented on #25110
Would also like some kind of solution to this. We have a rather extensive industrial catalog and many manufacturers make heavy use of forward slashes in their product names.

[2020-06-02 21:25] sdzhepa commented on #24135
Hello @HolyWalley  and @mrmurray

The internal Jira ticket related to this issue has been closed with comment

[2020-06-02 21:25] #24135 closed, assigned to nobody

[2020-06-02 22:45] LiamKarlMitchell commented on #3333
Still a problem in 2.3.2

[2020-06-02 23:00] iphigenie commented on #28183
any day now...

[2020-06-03 03:16] LiamKarlMitchell commented on #7612
Still a problem in Magento 2.2 and 2.3 by the way.

[2020-06-03 04:47] swathishs commented on #28479
@magento give me 2.4-develop instance

[2020-06-03 04:47] magento-engcom-team commented on #28479
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-03 04:49] magento-engcom-team commented on #28479
Hi @swathishs, here is your [Magento instance](https://i-28479-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28479-2-4-develop.instances.magento-community.engineering/admin_7697](https://i-28479-2-4-develop.instances.magento-community.engineering/admin_7697)
Login: `f178f522` Password: `1608965c8c8a`
Instance will be terminated in up to 3 hours.

[2020-06-03 05:29] swathishs commented on #28471
@magento give me 2.3.5-p1 instance

[2020-06-03 05:29] magento-engcom-team commented on #28471
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-03 06:49] PivitParkour94 commented on #24199
@tjorgensborg sorry, I was just having an issue with the backend type of `varchar` being too short, so I changed it to `text` I didn't actually have this issue, I just wanted to point out that `text` was a larger column type available. I should have been more clear.

[2020-06-03 06:57] eastern-raviraj commented on #9326
I am using the magento 2.3.5 but still I didnt see the product custom options in the response .
Can some one please confirm if this is fixed ?

[2020-06-03 07:25] chequille commented on #28092
Any news about this?
When will it be fixed?
Is there a workaround?

This prevents me to go online with the new shop and i have to stay with 1.9.x.x
What is the status of this?

Regards,
Jürgen

[2020-06-03 07:51] atwixfirster opened #28481 "GraphQl. updateCustomer allows to set any INT value in gender argument"
### Preconditions (*)

1. Magento with a sample data

### Steps to reproduce (*)

1. Generate a customer token

[code]

2. Set a `gender` value for a customer

[code]

### Expected result (*)

1. Customer `gender` attribute may have one of the following values:

- Male (1)
- Female (2)
- Not specified (3)

### Actual result (*)

[code]

---
Please provide [Severity](https://devdocs.magento.com/gui

[2020-06-03 07:52] atwixfirster commented on #28481
Working on this issue.

[2020-06-03 07:55] atwixfirster commented on #28481
@magento I am working on this

[2020-06-03 07:57] Ankush-Webkul opened #28482 "Issue in Dob field."
Getting an issue on the Registration page if the Dob field is enabled from admin.
https://prnt.sc/ssty7t

Preconditions (*)
Use Magento 2.3.5 instance

Steps to reproduce (*)
1. Enable the Dob field from admin.
2. create New customer account with Dob.

Expected result (*)
 The Account is created with customer Dob.

Actual result (*)
The account is not created and shows and error in the Dob field t

[2020-06-03 08:02] swathishs commented on #28482
@magento give me 2.3.5-p1 instance

[2020-06-03 08:02] magento-engcom-team commented on #28482
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-03 08:03] magento-engcom-team commented on #28482
Hi @swathishs, here is your [Magento instance](https://i-28482-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28482-2-3-5-p1.instances.magento-community.engineering/admin_c67a](https://i-28482-2-3-5-p1.instances.magento-community.engineering/admin_c67a)
Login: `8a07645c` Password: `0b23c0fb743f`
Instance will be terminated in up to 3 hours.

[2020-06-03 08:21] Esteraa commented on #28472
We have the same issue on Magento 2.3.5-p1. For a workaround I changed the free shipping amount to the subtotal price - tax.

[2020-06-03 08:31] swathishs commented on #28482
The issue is reproducible on Magento 2.3.5pl develop instance

Please find the attachment below:
![image](https://user-images.githubusercontent.com/58288685/83613500-7cc7ad80-a5a1-11ea-9e21-ec42ebc11a84.png)

Note: I can able to create account if I try to keep the current month first day(06/1/2020)  as a dob in this instance

[2020-06-03 08:32] swathishs commented on #28482
@magento give me 2.4-develop instance

[2020-06-03 08:32] magento-engcom-team commented on #28482
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-03 08:33] magento-engcom-team commented on #28482
Hi @swathishs, here is your [Magento instance](https://i-28482-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28482-2-4-develop.instances.magento-community.engineering/admin_f61b](https://i-28482-2-4-develop.instances.magento-community.engineering/admin_f61b)
Login: `a501ebf0` Password: `a10a40d13625`
Instance will be terminated in up to 3 hours.

[2020-06-03 08:41] swathishs commented on #28471
The issue is not reproducible in Magento 2.3.5-p1  instance. Able to download the low stock report.

Please find the attachment below:
1. Low stock grid:
![image](https://user-images.githubusercontent.com/58288685/83615293-fb254f00-a5a3-11ea-9914-dace448fb9ce.png)
2. Downloaded file:
![image](https://user-images.githubusercontent.com/58288685/83615342-0d06f200-a5a4-11ea-8652-490a737f2e21.png)

[2020-06-03 08:43] swathishs commented on #28471
Hi @thomas-harding, thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch and 2.3.5-p1 instance.
If you'd like to update the issue, please reopen it.

[2020-06-03 08:43] #28471 closed, assigned to swathishs

[2020-06-03 08:53] swathishs commented on #28482
The issue is not reproducible on Magento 2.4 develop instance

Please find the attachment below:
![BEmcugVErt](https://user-images.githubusercontent.com/58288685/83616676-c1554800-a5a5-11ea-9d84-39ecd03f8875.gif)

[2020-06-03 08:55] swathishs commented on #28482
Can be reproduced only on 2.3.5p1 but not on 2.4 develop instance

[2020-06-03 08:57] magento-engcom-team commented on #28482
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34824` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-03 09:37] renard123 opened #28484 "Showing extra spacing in top navigation sub menu 2.3.5 issue"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
![image](https://user-images.githubusercontent.com/50658701/83621097-db922480-a5ab-11ea-8a48-61afb72e9d46.png)

### Actual result (*)
![image](https://user-images.githubusercontent.com/50658701/83620869-8fd

[2020-06-03 09:39] krishprakash commented on #28484
@magento give me 2.3.5-p1 instance

[2020-06-03 09:39] magento-engcom-team commented on #28484
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-03 09:41] magento-engcom-team commented on #28484
Hi @krishprakash, here is your [Magento instance](https://i-28484-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28484-2-3-5-p1.instances.magento-community.engineering/admin_f834](https://i-28484-2-3-5-p1.instances.magento-community.engineering/admin_f834)
Login: `3557c38c` Password: `b4a4f0e714c5`
Instance will be terminated in up to 3 hours.

[2020-06-03 09:44] krishprakash commented on #28484
@magento give me 2.4-develop instance

[2020-06-03 09:44] magento-engcom-team commented on #28484
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-03 09:46] magento-engcom-team commented on #28484
Hi @krishprakash, here is your [Magento instance](https://i-28484-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28484-2-4-develop.instances.magento-community.engineering/admin_5f74](https://i-28484-2-4-develop.instances.magento-community.engineering/admin_5f74)
Login: `d6d00da6` Password: `4315c35a2070`
Instance will be terminated in up to 3 hours.

[2020-06-03 09:51] magento-engcom-team commented on #28484
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34826` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-03 09:51] krishprakash commented on #28484
**Note:**
Issue is only reproduce only on 2.3.5-p1 instance but not in 2.4-develop instance

[2020-06-03 09:55] heygambo opened #28485 "Performance Toolkit's benchmark.jmx cannot sign in as admin"
### Preconditions
- Install Magento 2.3.2 (Magento-CE-2.3.2-2019-06-13-03-23-52.tar.gz)
- Follow the performance toolkit readme to:
  - install the small.xml fixtures on Magento.
  - enable admin account sharing.
  - Set the indexes to update on a schedule rather than on update.
- Open JMeter
- Open benchmark.jmx using jMeter (https://github.com/magento/magento2/blob/2.4-develop/setup/performance-

[2020-06-03 10:26] Greko2017 commented on #28478
Summary of the issue:
Some static file are not loading after changing the language in the Magneto 2 back end

Information on your environment:
PHP Version 7.2.31,
Apache 2.0 Handler,
10.0 build 18362 (Windows 10) 64bit
XAMP Server,
,
Steps to reproduce:
Whe you change the admin and front end language it seems to change some files location adding /fr_FR/ in it (in my case I changed to french)

Expe

[2020-06-03 10:48] sergey-solo commented on #11995
@magento I'm working on this

[2020-06-03 10:49] ghost opened #28488 "[Issue] Frontend customer account order list"
This issue is automatically created based on existing pull request: magento/magento2#28417: Frontend customer account order list

---------

### Description (*)

Fixed frontend customer account list issue, covered by test

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Preconditions:
magento 2.4-develop

### Steps to reproduce

1) Create 1

[2020-06-03 10:53] evokul opened #28489 "Uncaught Error: Mismatched anonymous define() module: function(t,g,u)"
### Summary (*)

I have a fresh installation of Magento but this error is showing on all of the pages.This may be duplicate of some other but I cannot find solution for my problem so asking here.
![image](https://user-images.githubusercontent.com/5388434/83628491-2dd84300-a5b6-11ea-85a9-561f29ce017b.png)
When I trace back it get me to minicart file and points here :
![image](https://user-images.gi

[2020-06-03 11:11] bamboekeizer commented on #28472
@magento-engcom-team I could not reproduce the issue on the 2.4-develop instance, unfortunately

[2020-06-03 11:45] adeptofvoltron commented on #8508
Still facing the issue on magento 2.3.5

[2020-06-03 12:04] gewaechshaus commented on #22753
Hey,
same here with a 2.3.3 installation...

[2020-06-03 12:48] ghost opened #28490 "Incorrect invoice date Magento 2.3.4"
### Preconditions (*)

1. Magento 2.3.4
2.

### Steps to reproduce (*)

1. Go to Sales
2. Go to invoices
3. View any invoice
4. Click on Print
5. Open invoice. You can see an invoice date like "Order Date: 9 nov. 2022"

### Expected result (*)

1. [Screenshots, logs or description]
2. I expect the normal date of order

### Actual result (*)

1. "Order Date: 9 nov. 2022"
2.

---
I tested some other

[2020-06-03 13:08] nrkapoor opened #28520 "Implement the schema for PayPal PayFloPro"
As a Magento End Customer,

I would like the ability to store my Paypal (PayFloPro) payment method details in myaccount

so that 

I can expedite the future checkout process by not having to reenter the payment details.

 

+*Acceptance Criteria*+
 * During checkout customers can specify if they want to store the payment details in myaccount for future purchases.
 * Payment details are not saved i

[2020-06-03 13:14] sambath1293 commented on #28490
@magento give me 2.4-develop instance

[2020-06-03 13:14] magento-engcom-team commented on #28490
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-03 13:16] magento-engcom-team commented on #28490
Hi @sambath1293, here is your [Magento instance](https://i-28490-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28490-2-4-develop.instances.magento-community.engineering/admin_4c29](https://i-28490-2-4-develop.instances.magento-community.engineering/admin_4c29)
Login: `b040aa5c` Password: `06a7e2e82a30`
Instance will be terminated in up to 3 hours.

[2020-06-03 13:22] magento-engcom-team commented on #28488
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34831` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-03 13:40] sambath1293 commented on #28490
@magento give me 2.3.4 instance

[2020-06-03 13:40] magento-engcom-team commented on #28490
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-06-03 13:42] magento-engcom-team commented on #28490
Hi @sambath1293, here is your [Magento instance](https://i-28490-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-28490-2-3-4.instances.magento-community.engineering/admin_e04c](https://i-28490-2-3-4.instances.magento-community.engineering/admin_e04c)
Login: `c393cd12` Password: `732cf97d7168`
Instance will be terminated in up to 3 hours.

[2020-06-03 13:49] JustICTNL commented on #28490
On the Magento instance of sambath1293 there is no issue with the order date.

[2020-06-03 14:04] sambath1293 commented on #28490
@JustICTNL- I was tried to recreate in both Magento-2.4 develop instance and Magento-2.3.4 instance I was seeing the order placed the date on the both invoice
See the below reference:
Magento 2.4 Develop instance
![2 4instace](https://user-images.githubusercontent.com/60879885/83645567-43f2fd00-a5d0-11ea-9965-d72660187fe7.png)
Magento 2.3.4 instance
![2 3 4instance](https://user-images.githubuserc

[2020-06-03 14:04] #28490 closed, assigned to nobody

[2020-06-03 14:13] JustICTNL commented on #28490
Is there not any other solution to fix this?

[2020-06-03 14:33] LukasKiederle commented on #23729
I can also testify that in Magento 2.3.5 the bug was induced by #23737. Reverting the changes fixed it.
Thanks @paul-gene for the hint.

[2020-06-03 14:35] paul-gene commented on #23729
@LukasKiederle I opened a ticket here, https://github.com/magento/magento2/issues/28419

Any idea how I can resolve for 2.3.4?

[2020-06-03 14:44] LukasKiederle commented on #23729
I cannot really test it by myself now. My guess would be since reverting #23737 fixed it for 2.3.3 and 2.3.5 it fixes it also for 2.3.4?

[2020-06-03 14:46] paul-gene commented on #23729
@LukasKiederle yes, but I can't simply revert the commit when I'm installing Magento via Composer. I'd need a patch file of the reversion...

[2020-06-03 14:49] LukasKiederle commented on #23729
I created one myself. See the attached file
[revert.txt](https://github.com/magento/magento2/files/4724161/revert.txt)

[2020-06-03 14:51] paul-gene commented on #23729
I tried reverting that single file manually, and I'm sure I encountered other issues. In my case, I'm dealing with the account confirmation as well

[2020-06-03 14:54] lenaorobei opened #28493 "Test"
### Description (*)
test

### Expected behavior (*)
test

### Benefits
test

### Additional information
test

[2020-06-03 14:57] LukasKiederle commented on #23729
When I apply the revert.txt file everything works fine. I can confirm the newsletter subscription as well as the customer registration.

[2020-06-03 14:57] lenaorobei commented on #28493
@magento I am working on this

[2020-06-03 14:59] magento-engcom-team commented on #28493
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-06-03 15:00] paul-gene commented on #23729
@LukasKiederle try enabling "Require Emails Confirmation" for customer accounts and re-testing.

[2020-06-03 15:02] #28493 closed, assigned to lenaorobei

[2020-06-03 15:05] LukasKiederle commented on #23729
Customer Configuration -> Create Account Options -> Require Emails Confirmation is enabled in my Magento instance

[2020-06-03 15:06] paul-gene commented on #23729
I'll try the revert patch on my end and report back

[2020-06-03 15:20] Sutharsan27 commented on #28334
@magento give me 2.4-develop instance

[2020-06-03 15:20] magento-engcom-team commented on #28334
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-03 15:44] kaktusAtAdvox commented on #27989
@magento I am working on this

[2020-06-03 15:44] kaktusAtAdvox commented on #27989
@magento I am working on this

[2020-06-03 15:47] magento-engcom-team opened #28495 "[TEST] DO NOT TOUCH"
### Test

Pull Request:
 - title: Fix resourcemodel quote item extend incorrect abstractdb
 - contributor name: @mrtuvn

[2020-06-03 15:48] BenItt commented on #28132
Hello @jorgb90. We had the exact same issue. Same Magento version. Same everything.

We had updated the Klarna version via the Composer to Klarna 9.0.1, no change. Same behavior 1:1 as described by you. Sent a ticket to Klarna.

[2020-06-03 16:00] magento-engcom-team commented on #28481
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34837` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-03 16:02] eduard13 commented on #28481
Confirming.
Request response:
[code]

[2020-06-03 16:04] Greko2017 commented on #2520
These 2 things worked for me

I needed to add the repository reference to my composer.json because it wasn't there

"repositories": [
         {
             "type": "composer",
            "url": "https://repo.magento.com/"
        }
    ],
I needed to rename my auth.json.sample to auth.json and add the public and private keys to the json.

{
    "http-basic": {
        "repo.magento.com": {

[2020-06-03 16:29] TerrapinSoftware opened #28497 "Customer grid: Filtering by email causes SQL integrity violation"
### Preconditions (*)

1. Magento 2.3.5-p1 community edition

### Steps to reproduce (*)

1. In the backend, select Customers / All Customers
2. Click Filters
3. In the "Email" field, enter a partial email, like e.g. gmail.com
4. Click Apply Filters

### Expected result (*)

1. The customer grid only displays customers with a gmail.com email

### Actual result (*)

1. Error message: Something went

[2020-06-03 18:08] suneth2 commented on #10304
I'm facing same issue on Magento ver. 2.3.0, screen shot is settings of a  simple product of configurable product which gives these two error messages when try to add to cart, any idea how to fix this
"The requested quantity is not available
This product is out of stock."
![simple pro](https://user-images.githubusercontent.com/1442079/83671933-19666b80-a5f3-11ea-828f-ec255db4f4cd.png)

[2020-06-03 18:09] lenaorobei opened #28499 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-03 18:09] lenaorobei commented on #28499
@magento I am working on this

[2020-06-03 18:10] magento-engcom-team commented on #28499
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-06-03 18:11] lenaorobei commented on #28499
@magento I am working on this

[2020-06-03 18:14] #28499 closed, assigned to nobody

[2020-06-03 18:20] lenaorobei opened #28501 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-03 18:20] magento-engcom-team commented on #28501
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34845` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-03 18:20] lenaorobei commented on #28501
@magento I am working on this

[2020-06-03 18:30] #28501 closed, assigned to nobody

[2020-06-03 18:45] magento-engcom-team opened #28502 "[TEST] DO NOT TOUCH"
### Test

Pull Request:
 - title: Fix resourcemodel quote item extend incorrect abstractdb
 - contributor name: @mrtuvn

[2020-06-03 18:47] #28502 closed, assigned to nobody

[2020-06-03 18:51] magento-engcom-team opened #28503 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

[2020-06-03 18:54] #28503 closed, assigned to nobody

[2020-06-03 18:55] magento-engcom-team opened #28504 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

[2020-06-03 18:56] #28504 closed, assigned to nobody

[2020-06-03 20:26] IgorM92 commented on #28479
@swathishs any updates on this one?

[2020-06-03 20:38] Serializator commented on #28497
@magento give me 2.4-develop instance

[2020-06-03 20:38] magento-engcom-team commented on #28497
Hi @Serializator. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-03 20:40] magento-engcom-team commented on #28497
Hi @Serializator, here is your [Magento instance](https://i-28497-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28497-2-4-develop.instances.magento-community.engineering/admin_3c69](https://i-28497-2-4-develop.instances.magento-community.engineering/admin_3c69)
Login: `149cbf37` Password: `e83516618827`
Instance will be terminated in up to 3 hours.

[2020-06-03 20:43] Serializator commented on #28497
@magento give me 2.3.5-p1 instance

[2020-06-03 20:43] magento-engcom-team commented on #28497
Hi @Serializator. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-03 20:44] magento-engcom-team commented on #28497
Hi @Serializator, here is your [Magento instance](https://i-28497-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28497-2-3-5-p1.instances.magento-community.engineering/admin_8bf9](https://i-28497-2-3-5-p1.instances.magento-community.engineering/admin_8bf9)
Login: `7965a098` Password: `65dedb96bc9a`
Instance will be terminated in up to 3 hours.

[2020-06-03 20:52] Serializator commented on #28497
I was not able to reproduce this issue on a Magento 2-4-develop nor 2.3.5-p1 instance.
When I filtered on "example.com" the grid successfully listed the expected e-mails.

<img width="1792" alt="Screenshot 2020-06-03 at 22 50 03" src="https://user-images.githubusercontent.com/7153670/83687907-cb4e6980-a5ec-11ea-8bb1-abcd987312e6.png">

[2020-06-03 21:08] bamboekeizer commented on #28472
@magento give me 2.3.5-p1 instance

[2020-06-03 21:08] magento-engcom-team commented on #28472
Hi @bamboekeizer. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-03 21:10] magento-engcom-team commented on #28472
Hi @bamboekeizer, here is your [Magento instance](https://i-28472-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28472-2-3-5-p1.instances.magento-community.engineering/admin_f71f](https://i-28472-2-3-5-p1.instances.magento-community.engineering/admin_f71f)
Login: `24628926` Password: `bef83902a39b`
Instance will be terminated in up to 3 hours.

[2020-06-03 21:20] TerrapinSoftware commented on #28497
Thank you for checking. So it must be an extension of a combination of extensions that cause the trouble.

I am impressed with the speed of your response - thank you again! If I find any additional insight, I will reopen the bug.

[2020-06-03 21:20] #28497 closed, assigned to nobody

[2020-06-03 21:29] melnikovi commented on #27200
Sorry for the delay in response. I think that it's ok to add dependency on `ext-sockets`. We already updated documentation to highlight this. Do you have anymore concerns or this issue can be closed?

[2020-06-03 21:46] bamboekeizer commented on #28472
Reproduced successfully on 3.5.1-p1

[2020-06-03 21:47] hostep commented on #27200
Hi @melnikovi

Yes, if `ext-sockets` becomes required, we should remove the version constraint `~2.7.0` for the `php-amqplib/php-amqplib` dependency in the [`composer.json` file](https://github.com/magento/magento2/blob/63a6786bd0c5bd18ecc75f42dbaa229708a4b8b3/composer.json#L73).

Otherwise when some Magento developer/contributor does not have `ext-sockets` installed and executes `composer update`

[2020-06-04 02:03] AndreyRozumny commented on #11032
Faced the same issue
Basically options are created but not added to the swathes table. But it seems like it works if you set **option Value**, the same as option label and it's finally added into my attribute.
So in my case it's something like:

`$optionLabel = $this->optionLabelFactory->create();
            $optionLabel->setStoreId(0);
            $optionLabel->setLabel($label);

            $op

[2020-06-04 02:20] giangvdm15 opened #28507 "Issue with removing gift card code"
### Preconditions (*)

1. Magento EE 2.3.5-p1

### Steps to reproduce (*)

1. Create a gift card code, make sure to give it a generous balance (in my case it gave it $1000).
2. In storefront, proceed to checkout a cart with total value below the balance of the gift card code just created (in my case it's $106).
3. Apply the gift card code. Once succeeds, payment method is changed to "free" and car

[2020-06-04 04:45] secomm-dev opened #28508 "Product is oversold when multiple people purchase same product at the same time"
### Preconditions (*)

1. Magento 2.3.x
2. A product with QTY = 1, Saleable-QTY = 1
3. Any payment method, any shipping method
4. Any environment (standard LAMP following Magento recommendation)

### Steps to reproduce (*)

1. Multiple people add the product into cart. E.g. 10 people working on 10 different devices
2. Proceed to Checkout
3. Enter all required information: shipping address, shippin

[2020-06-04 05:04] swathishs commented on #28507
@magento give me 2.3.5-p1 instance

[2020-06-04 05:04] magento-engcom-team commented on #28507
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-04 05:05] magento-engcom-team commented on #28507
Hi @swathishs, here is your [Magento instance](https://i-28507-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28507-2-3-5-p1.instances.magento-community.engineering/admin_c60a](https://i-28507-2-3-5-p1.instances.magento-community.engineering/admin_c60a)
Login: `51cfcf69` Password: `f8c6e2938044`
Instance will be terminated in up to 3 hours.

[2020-06-04 05:16] #28474 closed, assigned to nobody

[2020-06-04 06:09] swathishs commented on #28507
Since Magento CE does not have gift card option and the issue can be tested in EE

Hi @giangvdm15,2 all issue specific for Magento EE should be reported in the EE repo

@sdzhepa - It seems this issue-specific for Magento EE and should be fixed in the EE repository.

EngCom team, please confirm and transfer this issue to https://github.com/magento/partners-magento2ee/issues

Closing this issue

[2020-06-04 06:09] #28507 closed

[2020-06-04 06:31] giangvdm15 commented on #28507
Hi @swathishs , thank you for having a look at this issue.
Yes this issue is specifically for Magento EE (as I mentioned in the Precondition section). Do I have to take any action in order to transfer this issue to EE repo, or this will be done by the Magento support team?
Thanks.

[2020-06-04 06:55] hostep commented on #26731
Hi @sdzhepa or @victor-v-rad

What is the status over here?
Are there plans to put the solution from https://github.com/magento/data-migration-tool/commit/3c7f83b8eaab690734113f574a26595e61415b62 into core Magento?
Because not everybody who migrates from an M1 to M2 database is using your data-migration-tool module 🙂

Thanks!

[2020-06-04 07:02] swathishs commented on #28507
@giangvdm15 : This action will be taken by Magento support team

[2020-06-04 07:08] engcom-Echo commented on #23841
@maheshWebkul721 , @anujsingh1220.

Unfortunately, this is not reproducible. That's why ...

![image](https://user-images.githubusercontent.com/51681435/83724786-886eaf00-a649-11ea-8c26-40f9694cd0d4.png)

We set the 'custom_layout' attribute, but check the value of the wrong attribute.
Attribute 'custom_layout', is used on 'Schedule Design Update' tab.

![Peek 2020-06-04 10-04](https://user-images

[2020-06-04 07:13] giangvdm15 commented on #28507
@swathishs Okay got it, thank you very much.

[2020-06-04 08:04] sambath1293 commented on #28508
Hi @secomm-dev The issue specific for MSI should be reported in the MSI repo

fyi: @sidolov @smoskaluk @sdzhepa

It seems this issue MSI specific and should be fixed in MSI repository.

EngCom team, please confirm and transfer this issue to the https://github.com/magento/inventory/issues

Closing this issue

[2020-06-04 08:04] #28508 closed, assigned to sambath1293

[2020-06-04 08:14] swathishs commented on #28479
@IgorM92: The issue is reproducible in Magento 2.4 develop instance.

Please find the attachment below:
![image](https://user-images.githubusercontent.com/58288685/83713625-32e4d300-a646-11ea-824e-348d84b4582a.png)
![image](https://user-images.githubusercontent.com/58288685/83713628-3710f080-a646-11ea-8da9-600a54927630.png)

[2020-06-04 08:22] prasannachelladurai90 commented on #27194
@magento give me 2.4-develop instance

[2020-06-04 08:22] magento-engcom-team commented on #27194
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 08:23] magento-engcom-team commented on #27194
Hi @prasannachelladurai90, here is your [Magento instance](https://i-27194-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27194-2-4-develop.instances.magento-community.engineering/admin_e2eb](https://i-27194-2-4-develop.instances.magento-community.engineering/admin_e2eb)
Login: `5e429be7` Password: `865fb4e5a418`
Instance will be terminated in up to 3 hours.

[2020-06-04 09:04] VigneshVenkatesan154 commented on #26950
@extremeskillz The Magento has deprecated the Authortize .net from 2.3.4 and completely removed in upcoming 2.4 release. So this is not valid and reproducible in Magento in 2.4-develop instance. Hence closing the issue.

![image](https://user-images.githubusercontent.com/60877551/83737059-22495280-a670-11ea-94ea-07f4fd75a3ef.png)
![image](https://user-images.githubusercontent.com/60877551/83737315

[2020-06-04 09:04] #26950 closed, assigned to VigneshVenkatesan154

[2020-06-04 09:07] #27632 closed, assigned to VigneshVenkatesan154

[2020-06-04 09:19] Mohan2594 commented on #28006
@magento give me 2.4-develop instance

[2020-06-04 09:19] magento-engcom-team commented on #28006
Hi @Mohan2594. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 09:21] magento-engcom-team commented on #28006
Hi @Mohan2594, here is your [Magento instance](https://i-28006-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28006-2-4-develop.instances.magento-community.engineering/admin_a7d3](https://i-28006-2-4-develop.instances.magento-community.engineering/admin_a7d3)
Login: `51335e70` Password: `673ccbad3a73`
Instance will be terminated in up to 3 hours.

[2020-06-04 09:24] hostep commented on #27874
Thanks @chernenm!

Would Magento consider opening up a 2.3.6-preview branch for upcoming new versions to the community. Since that would make things a lot clearer and we can search that branch to see if things are being backported yes or no?
A couple of years ago, these [preview branches](https://twitter.com/okorshenko/status/895373728279928836) were available, but for some reason they got removed

[2020-06-04 09:34] sambath1293 commented on #28374
@magento give me 2.3.5 instance

[2020-06-04 09:34] magento-engcom-team commented on #28374
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-06-04 09:35] magento-engcom-team commented on #28374
Hi @sambath1293, here is your [Magento instance](https://i-28374-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-28374-2-3-5.instances.magento-community.engineering/admin_b00f](https://i-28374-2-3-5.instances.magento-community.engineering/admin_b00f)
Login: `9a0bec0b` Password: `2207d2b0595e`
Instance will be terminated in up to 3 hours.

[2020-06-04 09:46] Mohan2594 commented on #28006
@deepakpant91 once an order is placed using check/money order or bank transfer payment the status is pending only and drop down does not lists any other options. But after generating invoice the status changes to processing and lists suspected fraud option as well in the drop down. After submitting shipment the status changes to complete. If an order placed using credit card or paypal the order st

[2020-06-04 09:48] sambath1293 commented on #28374
@magento give me 2.4-develop instanc

[2020-06-04 09:48] sambath1293 commented on #28374
@magento give me 2.4-develop instance

[2020-06-04 09:48] magento-engcom-team commented on #28374
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 09:50] magento-engcom-team commented on #28374
Hi @sambath1293, here is your [Magento instance](https://i-28374-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28374-2-4-develop.instances.magento-community.engineering/admin_36f5](https://i-28374-2-4-develop.instances.magento-community.engineering/admin_36f5)
Login: `db7f936a` Password: `ba4b6b59e1e8`
Instance will be terminated in up to 3 hours.

[2020-06-04 10:00] prasannachelladurai90 commented on #27844
@magento give me 2.4-develop instance

[2020-06-04 10:00] magento-engcom-team commented on #27844
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 10:01] magento-engcom-team commented on #27844
Hi @prasannachelladurai90, here is your [Magento instance](https://i-27844-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27844-2-4-develop.instances.magento-community.engineering/admin_9907](https://i-27844-2-4-develop.instances.magento-community.engineering/admin_9907)
Login: `8e9557e2` Password: `b82f67b1bfb8`
Instance will be terminated in up to 3 hours.

[2020-06-04 10:05] Mohan2594 commented on #28006
issue not reproducible in 2.4.Once an order is placed using check/money order or bank transfer payment the status is pending only (not pending payment) and drop down does not lists any other options. But after generating invoice the status changes to processing and lists suspected fraud option as well in the drop down. After submitting shipment the status changes to complete. If an order placed us

[2020-06-04 10:05] Mohan2594 commented on #28006
@magento give me 2.3.5-p1 instance

[2020-06-04 10:05] magento-engcom-team commented on #28006
Hi @Mohan2594. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-04 10:07] magento-engcom-team commented on #28006
Hi @Mohan2594, here is your [Magento instance](https://i-28006-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28006-2-3-5-p1.instances.magento-community.engineering/admin_c0f7](https://i-28006-2-3-5-p1.instances.magento-community.engineering/admin_c0f7)
Login: `dc45aaee` Password: `70b0530a702c`
Instance will be terminated in up to 3 hours.

[2020-06-04 10:08] sambath1293 commented on #28374
Hi @webgility-amazonapi - I was tried to recreate this issue in both Magento 2.4-develop instance and  Magento 2.3.5 instance and I could see the empty array response in both instances.
See the below Reference:
 Magento 2.3.5 instance

![2 3 5APIissue](https://user-images.githubusercontent.com/60879885/83743988-1910b380-a679-11ea-8871-c489de0d3e18.png)
Magento 2.4-develop instance
![2 4APIIssue](h

[2020-06-04 10:13] magento-engcom-team commented on #28374
:white_check_mark: Confirmed by @sambath1293
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34947` were created

**Issue Available**: @sambath1293, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-04 10:23] Mohan2594 commented on #28006
![kh6EuFeSsh](https://user-images.githubusercontent.com/54931737/83745634-786fc300-a67b-11ea-9f8c-b34068d649a1.png)

same with 2.3.5-p1

[2020-06-04 10:26] #28006 closed, assigned to Mohan2594

[2020-06-04 10:35] deepakpant91 commented on #28006
If ou choose any online payment option from admin then it is always shows
pending payment

On Thu, 4 Jun, 2020, 3:56 pm Mohan2594, <notifications@github.com> wrote:

[2020-06-04 10:37] muzamalhafiz422 opened #28509 "Failed to load the components errors on checkout/cart page after upgrading magento"
After upgrading Magento 2.2.3 to 2.3.5, I faced the list of these errors on my checkout cart page. Order summary details are also missing. I disable all the custom modules and extensions. Can any help me with this problem?
### Preconditions (*)

1. I am currently using Ubuntu 18.04
2. php7.3
3. MYSQL Workbench
4. Magento 2.3.5

### Steps to reproduce (*)

1. add any product to cart and go to the c

[2020-06-04 10:44] muzamalhafiz422 commented on #28509
I also get an error when I upgraded the Magento on the checkout page and that was "_report.CRITICAL: Unable to serialize value_". I fixed it in this way.
**In vendor/magento/framework/Serialize/Serializer/JsonHexTag.php**
[code]
ann In **vendor/magento/framework/Serialize/Serializer/Json.php**
[code]
after changing this, this error has fixed.

[2020-06-04 10:46] Mohan2594 commented on #28006
which online payment to be exact?

[2020-06-04 10:47] deepakpant91 commented on #28006
If I create a order from admin using any online option .

On Thu, 4 Jun, 2020, 4:16 pm Mohan2594, <notifications@github.com> wrote:

[2020-06-04 10:48] Mohan2594 commented on #28006
did u try paypal?

[2020-06-04 10:49] deepakpant91 commented on #28006
No, I am using Paytm and razorpay.

On Thu, 4 Jun, 2020, 4:18 pm Mohan2594, <notifications@github.com> wrote:

[2020-06-04 10:50] deepakpant91 commented on #28006
I have fixed the issue already.thank you for working in it.but there is
another problem with advance reporting.advance reporting goes to 404.

On Thu, 4 Jun, 2020, 4:18 pm Deepak Pant, <deepakpant91@gmail.com> wrote:

[2020-06-04 10:52] Mohan2594 commented on #28006
ok,ticket#?

[2020-06-04 10:54] deepakpant91 commented on #28006
I have not created any ticket for it but can you have any solution in it?

On Thu, 4 Jun, 2020, 4:23 pm Mohan2594, <notifications@github.com> wrote:

[2020-06-04 11:12] magento-engcom-team commented on #28306
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34948` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-04 11:18] prasannachelladurai90 commented on #28272
@magento give me 2.4-develop instance

[2020-06-04 11:18] magento-engcom-team commented on #28272
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 11:19] magento-engcom-team commented on #28272
Hi @prasannachelladurai90, here is your [Magento instance](https://i-28272-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28272-2-4-develop.instances.magento-community.engineering/admin_8290](https://i-28272-2-4-develop.instances.magento-community.engineering/admin_8290)
Login: `5cbc94bf` Password: `fe5db2b3a84b`
Instance will be terminated in up to 3 hours.

[2020-06-04 11:29] secomm-dev commented on #28508
Hi @sambath1293 thank you.

I have moved the issue to Inventory repository.

[2020-06-04 11:33] evokul commented on #28489
Please proceed with this further

[2020-06-04 11:33] swathishs commented on #28405
@ldc321: The issue is not reproducible in Magento 2.4 develop instance
Please find the attachment below:
1. Front end :
![image](https://user-images.githubusercontent.com/58288685/83751403-6ba39d00-a684-11ea-8e75-3d0c514ce78e.png)

2. Response:
{
    "payment_methods": [
        {
            "code": "checkmo",
            "title": "Check / Money order"
        },
        {
            "code": "ba

[2020-06-04 11:34] evokul commented on #28489
@magento-admin

[2020-06-04 12:01] JustICTNL commented on #28158
@Ylmzef how can I apply the patch to fix this issue?

[2020-06-04 12:34] magento-engcom-team commented on #28479
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34952` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-04 12:55] marcusirgens opened #28510 "Integration test runner does not respect memory limits"
### Summary (*)
Running integration tests is error-prone, requires a lot of configuration and is overall a very bad developer experience. The step where magento perform setup:install seems to ignore absolutely any and all memory limit settings.

### Examples (*)
Try running the integration tests in a fairly standard development environment.

### Proposed solution
1. The command at https://github.c

[2020-06-04 12:56] JustICTNL commented on #26675
@dudzio12
How can I apply this patch with composer?

[2020-06-04 12:57] atIOCrON commented on #27453
Hi @sudheers-kensium , could you remove the tag "Progress: done" please?

[2020-06-04 12:57] atIOCrON commented on #27452
Hi @sudheers-kensium , could you remove the tag "Progress: done" please?

[2020-06-04 13:06] dudzio12 commented on #26675
@JustICTNL:
1. `composer require cweagans/composer-patches`
2. Create root subdirectory called `patches` and create file `datetime_format_2_3_5.patch.
3. Add pastebin content to this file
4. Add to your composer.json:
[code]

[2020-06-04 13:07] marcusirgens commented on #28510
The issue seems to be that the setup:install command is executed in a subshell, and that the interpreter config for the test runner is not shared with it. I've got it working (partly) by appending some `-d memory_limit=-1` to the command in the linked file, but this requires me to modify the TestFramework code, and is not a particularly good solution.

[2020-06-04 13:08] hemendraajmera commented on #28243
Any updates on issue

[2020-06-04 13:16] chandu-pinpoint commented on #27655
This issue still exists on magento 2.3.5-p1

[2020-06-04 13:17] swathishs commented on #28235
@magento give me 2.4-develop instance

[2020-06-04 13:17] magento-engcom-team commented on #28235
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 13:19] MarcusWolschon commented on #26675
Do we have to remove this again before upgrading to the next Magento release?
What steps are required (I have never worked with patches in Composer).

[2020-06-04 13:21] hemendraajmera commented on #28243
@magento give me 2.4-develop instance

[2020-06-04 13:21] magento-engcom-team commented on #28243
Hi @hemendraajmera. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 13:22] magento-engcom-team commented on #28243
Hi @hemendraajmera, here is your [Magento instance](https://i-28243-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28243-2-4-develop.instances.magento-community.engineering/admin_9aef](https://i-28243-2-4-develop.instances.magento-community.engineering/admin_9aef)
Login: `eb448276` Password: `ba6524c05916`
Instance will be terminated in up to 3 hours.

[2020-06-04 13:24] dudzio12 commented on #26675
You probably should delete it as soon as the new release implementing proper fix will be available.

It's good practise to name the patch with issue number just to not get lost in the future:
[code]

[2020-06-04 13:37] prasannachelladurai90 commented on #27844
@magento give me 2.3.5p1 instance

[2020-06-04 13:37] magento-engcom-team commented on #27844
Hi @prasannachelladurai90. Thank you for your request. I'm working on Magento 2.3.5p1 instance for you

[2020-06-04 13:38] TerrapinSoftware opened #28511 "New Invoice: Checkbox "Email Copy of Invoice" is useless"
### Preconditions (*)

1. 2.3.5-p1
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Admin -> Stores -> Configuration -> Sales -> Sales Emails -> Invoice:
 set **Enable** to **Yes**;
set **Send Invoice Email Copy To** to **test@example.com**
2. Create Order;
3. Go to Admin -> Sales -> Orders and open created before order for edit;
4. Click on the **Invoice** button;
2. Uncheck "Email Co

[2020-06-04 13:39] JustICTNL commented on #28490
There should be a fix on this topic:
https://github.com/magento/magento2/issues/26675

[2020-06-04 14:03] hostep commented on #26675
@MarcusWolschon: with `composer-exit-on-patch-failure` set to `true`, composer will complain if the patch is no longer applicable on a certain version of Magento, which is very handy.
But we always double check all our patches after every new Magento version anyways to make sure they are still needed or not (sometimes a fix is done in a completely different way than the patch and composer wouldn't

[2020-06-04 14:05] duckchip commented on #22591
i can reproduce this on m2.3.5.

[2020-06-04 14:09] sdzhepa commented on #28507
Hello @giangvdm15

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Mag

[2020-06-04 14:21] Mohan2594 commented on #28462
@magento give me 2.4-develop instance

[2020-06-04 14:21] magento-engcom-team commented on #28462
Hi @Mohan2594. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 14:23] magento-engcom-team commented on #28462
Hi @Mohan2594, here is your [Magento instance](https://i-28462-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28462-2-4-develop.instances.magento-community.engineering/admin_f051](https://i-28462-2-4-develop.instances.magento-community.engineering/admin_f051)
Login: `39862ba6` Password: `ec525ac48d06`
Instance will be terminated in up to 3 hours.

[2020-06-04 14:41] JustICTNL commented on #26675
@dudzio12 and @MarcusWolschon
I did what you said, but it doesn't work for me :'(

Did I do something wrong, or is there another solution? I had the order date 9-11-2022. In magento is the correct order date.

[2020-06-04 14:44] JustICTNL commented on #26675
Magento directory/composer.json
`"extra": {
        "magento-force": "override",
        "enable-patching": true,
        "composer-exit-on-patch-failure": true,
        "patches": {
            "magento/framework": {
                "Datetime format": "patches/datetime_format_2_3_5.patch"
            }
        },
`

DIFF file pasted in file:
Magento Directory/patches/datetime_format_2_3_5.patch

[2020-06-04 14:45] swathishs commented on #28161
@magento give me 2.3.5-p1 instance

[2020-06-04 14:45] magento-engcom-team commented on #28161
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-04 14:46] Mohan2594 commented on #28462
@snez tax is not applying by default

[2020-06-04 14:49] Mohan2594 commented on #28462
@magento give me 2.3.5-p1 instance

[2020-06-04 14:49] magento-engcom-team commented on #28462
Hi @Mohan2594. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-04 14:51] magento-engcom-team commented on #28462
Hi @Mohan2594, here is your [Magento instance](https://i-28462-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28462-2-3-5-p1.instances.magento-community.engineering/admin_c7d8](https://i-28462-2-3-5-p1.instances.magento-community.engineering/admin_c7d8)
Login: `15d27949` Password: `3d68ed7f0f47`
Instance will be terminated in up to 3 hours.

[2020-06-04 15:08] kassner opened #28514 "AbstractCarrierInterface::collectRates() has incorrect return signature"
### Summary

[\Magento\Shipping\Model\Carrier\AbstractCarrierInterface::collectRates](https://github.com/magento/magento2/blob/dc6d0b01fff3988f706f718e16d877bb4b1dea91/app/code/Magento/Shipping/Model/Carrier/AbstractCarrierInterface.php#L24-L31) currently has in its signature that it will return `\Magento\Framework\DataObject`, but technically `\Magento\Shipping\Model\Rate\Result` is used everywhe

[2020-06-04 15:22] Mohan2594 commented on #28462
@snez tax is not being applied by default in both 2.4 and 2.3.5

[2020-06-04 15:57] snez commented on #28462
@Mohan2594 as per bullet point 5, please use an address that has a tax rate set up. The Michigan, US tax of 8.25% is the one that is set up with the Magento sample data, so please make sure that either the sample data are installed on the instance, or that a tax rate has been manually configured for the billing address used.

[2020-06-04 16:11] garyrojas commented on #25754
works for me :) Thanks!

[2020-06-04 16:20] chris-huffman opened #28517 "More the Max Quantity Added to Cart"
### Preconditions (*)

1. Magento 2.3.4
2. The following was reproduced on a fresh install with sample data.

### Steps to reproduce (*)

1. Configure a simple product with a max quantity.
2. Login to the frontend.
3. Add the max quantity of the configured item to your cart.
4. Logout.
5. As a guest, add max quantity of the item to your cart. (Or any quantity.)
6. Log back in as your user.
7. Duri

[2020-06-04 16:42] swathishs commented on #28517
@magento give me 2.4-develop instance

[2020-06-04 16:42] magento-engcom-team commented on #28517
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-04 16:44] magento-engcom-team commented on #28517
Hi @swathishs, here is your [Magento instance](https://i-28517-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28517-2-4-develop.instances.magento-community.engineering/admin_d20e](https://i-28517-2-4-develop.instances.magento-community.engineering/admin_d20e)
Login: `71411cb4` Password: `51f0f12d92da`
Instance will be terminated in up to 3 hours.

[2020-06-04 16:50] vickobilandzic commented on #11263
this worked for me

[2020-06-04 17:06] swathishs commented on #28517
@chris-huffman: Tested the issue in Magento 2.4 develop instance. We can reproduce it but validation there in mini cart page so this bug is not valid in Magento 2.4 develop instance

Please find the attachment below:

1. Admin:
![image](https://user-images.githubusercontent.com/58288685/83788772-56923280-a6b3-11ea-8082-198eed33d31c.png)
2. Mini cart:
![image](https://user-images.githubusercontent.

[2020-06-04 17:13] swathishs commented on #28517
@magento give me 2.3.5-p1 instance

[2020-06-04 17:14] magento-engcom-team commented on #28517
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-04 17:15] magento-engcom-team commented on #28517
Hi @swathishs, here is your [Magento instance](https://i-28517-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28517-2-3-5-p1.instances.magento-community.engineering/admin_3c47](https://i-28517-2-3-5-p1.instances.magento-community.engineering/admin_3c47)
Login: `b6322bf6` Password: `a08859cf49e0`
Instance will be terminated in up to 3 hours.

[2020-06-04 17:26] swathishs commented on #28517
@chris-huffman: Tested the issue on 2.3.5-p1 instance the issue is reproducible but there is a validation on cart page:

1. Admin:
![image](https://user-images.githubusercontent.com/58288685/83790910-8b53b900-a6b6-11ea-8080-0940d58223ef.png)
2. Mini cart:
![image](https://user-images.githubusercontent.com/58288685/83790944-97d81180-a6b6-11ea-8569-e7a0d775f016.png)
3. cart page:
![image](https://us

[2020-06-04 17:35] terencepalmer commented on #26880
We are having the same issue with Authorize.net, also seemingly random. Payment is being processed, but no order appears in the database. The order number is reserved, however, so the next order number is incremented.

[2020-06-04 17:44] swathishs commented on #27655
@chandu-pinpoint : Tested the issue in 2.3.5 p1 the issue is not reproducible

1. Date format.
![image](https://user-images.githubusercontent.com/58288685/83792063-2f8a2f80-a6b8-11ea-9aaf-debdee8e185e.png)

2. Date of birth:
![E2E5R5Bpox](https://user-images.githubusercontent.com/58288685/83792449-b808d000-a6b8-11ea-9779-740242dc9fc2.gif)

3. Can  Set Product as New From for the product:
![wUvOBcH

[2020-06-04 17:51] toxix commented on #19597
@frilogg
did you read the comment from davidalger?
https://github.com/magento/magento2/issues/19597#issuecomment-580361785

For me it was working with latest magento and the mysql config he mention.

[2020-06-04 17:54] swathishs commented on #28235
@VZeroCool : Tested the issue in both 2.3.5p1 and 2.4 develop instance. The issue is not reproducible. Hence closing the ticket.

[2020-06-04 17:54] #28235 closed, assigned to swathishs

[2020-06-04 17:54] rigroweb commented on #26880
I have finally been able to narrow down and reproduce the issue -
although I have not yet found a solution.
The frontend error that appears is 'invalid state change requested'
This however is not stopping the payment from being captured - only the
recording is being stopped.

On Thu, Jun 4, 2020 at 1:36 PM Terence Palmer <notifications@github.com>
wrote:

[2020-06-04 17:55] chris-huffman commented on #28517
@swathishs thanks for looking into this!

I also saw the validation on the cart page (in 2.3.4). I guess it's easier to add a message than it is to fix this occurrence from happening? Looks like 2.4 fixes the message not displaying in the minicart. I think showing this message in 2.3.4 and 2.3.5 would be enough for me to consider this resolved. Right now I see [this](https://files.classyllama.com/

[2020-06-04 17:56] swathishs commented on #28517
@chris-huffman: Shall I close this issue. Or should I open the issue occurs only in 2.3.5 p1

[2020-06-04 17:59] chris-huffman commented on #28517
@swathishs  I would like to see the minicart message fixed in 2.3.5 p1. I think that would help the user experience here.

[2020-06-04 18:01] swathishs commented on #28517
Can be reproduced only on Magento 2.3.5p1 but not on Magento 2.4 develop instance

[2020-06-04 18:04] magento-engcom-team commented on #28517
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34959` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-04 18:07] chandu-pinpoint commented on #27655
@ swathishs  The issue is during Create customer account on frontend.

[2020-06-04 19:24] ShlokPurani commented on #28452
May please get any update on this?

[2020-06-04 19:49] magento-engcom-team opened #28518 "[TEST] EXPORT DEMO"
Merge Pull Request https://github.com/magento/magento2/pull/24850

Task is created on request: [swnsma](https://github.com/swnsma)

Pull Request:
 - title: Correctly check the behaviourType
 - url: [magento/magento2#24850](https://github.com/magento/magento2/pull/24850)
 - contributor name: @DanielRuf
 - contributor link: https://github.com/DanielRuf

[2020-06-04 21:26] magento-engcom-team opened #28525 "MyAccount :: Order Details :: Order Details by Order Number"
As a Magento end Customer, 

I want to see order details in myaccount

so that 

I can know the right status and details about my order. 

<ins>***Acceptance Criteria***</ins>
* *Order details are only visible to logged in customers.* 
* *Order details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per page - 20

Part if

[2020-06-04 21:27] magento-engcom-team opened #28526 "MyAccount :: Order Details :: Order Details by Order Number"
As a Magento end Customer, 

I want to see order details in myaccount

so that 

I can know the right status and details about my order. 

<ins>***Acceptance Criteria***</ins>
* *Order details are only visible to logged in customers.* 
* *Order details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per page - 20

Part if

[2020-06-04 21:27] magento-engcom-team opened #28527 "MyAccount :: Order Details :: Order Details by Order Number"
As a Magento end Customer, 

I want to see order details in myaccount

so that 

I can know the right status and details about my order. 

<ins>***Acceptance Criteria***</ins>
* *Order details are only visible to logged in customers.* 
* *Order details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per page - 20

fixes ht

[2020-06-04 22:34] #28518 closed, assigned to nobody

[2020-06-05 01:21] magento-engcom-team opened #28528 "MyAccount :: Order Details :: Shipping Details by Order Number"
As a Magento end Customer, 

I want to see shipping details for an order in myaccount

so that 

I can know the right status and tracking details for my order. 

***Acceptance Criteria***
* *Shipping details are only visible to logged in customers.* 
* *Shipping details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per p

[2020-06-05 01:21] magento-engcom-team opened #28529 "MyAccount :: Order Details :: Order Details by Order Number Taxes and Discounts"
As a Magento end Customer, 

I want to see order details in myaccount

so that 

I can know the right status and details about my order. 

<ins>***Acceptance Criteria***</ins>
* *Order details are only visible to logged in customers.* 
* *Order details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per page - 20

Part if

[2020-06-05 01:21] magento-engcom-team opened #28530 "MyAccount :: Order Details :: Invoice Details by Order Number"
As a Magento end Customer, 

I want to see invoice details in myaccount

so that 

I can know the right status and payment/pricing details for my order. 

***Acceptance Criteria***
* *Invoice details are only visible to logged in customers.* 
* *Invoice details can be retrieved using the order number.* 
* *Invoice details must support pagination for items.* 
  * start page - 1
  * items per page -

[2020-06-05 01:21] magento-engcom-team opened #28531 "Docs: Customer orders query"
Document the new customer order query.

AC

1. Deprecate the current customerOrders query
2. Update the customers query to include the orders object
3. Create a new include file that defines customer attributes introduced with the updated query
4. Update all links to this include file
5. Check all examples to see if they were affected by this change

[2020-06-05 01:22] magento-engcom-team opened #28532 "MyAccount :: Order Details :: Shipping Details by Order Number"
As a Magento end Customer, 

I want to see shipping details for an order in myaccount

so that 

I can know the right status and tracking details for my order. 

***Acceptance Criteria***
* *Shipping details are only visible to logged in customers.* 
* *Shipping details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per p

[2020-06-05 01:22] magento-engcom-team opened #28533 "MyAccount :: Order Details :: Order Details by Order Number Taxes and Discounts"
As a Magento end Customer, 

I want to see order details in myaccount

so that 

I can know the right status and details about my order. 

<ins>***Acceptance Criteria***</ins>
* *Order details are only visible to logged in customers.* 
* *Order details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per page - 20

Part if

[2020-06-05 01:22] magento-engcom-team opened #28534 "MyAccount :: Order Details :: Invoice Details by Order Number"
As a Magento end Customer, 

I want to see invoice details in myaccount

so that 

I can know the right status and payment/pricing details for my order. 

***Acceptance Criteria***
* *Invoice details are only visible to logged in customers.* 
* *Invoice details can be retrieved using the order number.* 
* *Invoice details must support pagination for items.* 
  * start page - 1
  * items per page -

[2020-06-05 01:22] magento-engcom-team opened #28535 "Docs: Customer orders query"
Document the new customer order query.

AC

1. Deprecate the current customerOrders query
2. Update the customers query to include the orders object
3. Create a new include file that defines customer attributes introduced with the updated query
4. Update all links to this include file
5. Check all examples to see if they were affected by this change

[2020-06-05 01:22] magento-engcom-team opened #28536 "MyAccount :: Order Details :: Shipping Details by Order Number"
As a Magento end Customer, 

I want to see shipping details for an order in myaccount

so that 

I can know the right status and tracking details for my order. 

***Acceptance Criteria***
* *Shipping details are only visible to logged in customers.* 
* *Shipping details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per p

[2020-06-05 01:22] magento-engcom-team opened #28537 "MyAccount :: Order Details :: Order Details by Order Number Taxes and Discounts"
As a Magento end Customer, 

I want to see order details in myaccount

so that 

I can know the right status and details about my order. 

<ins>***Acceptance Criteria***</ins>
* *Order details are only visible to logged in customers.* 
* *Order details can be retrieved using the order number.* 
* Order details must support pagination for items. 
  * start page - 1
  * items per page - 20
fixes htt

[2020-06-05 01:22] magento-engcom-team opened #28538 "MyAccount :: Order Details :: Invoice Details by Order Number"
As a Magento end Customer, 

I want to see invoice details in myaccount

so that 

I can know the right status and payment/pricing details for my order. 

***Acceptance Criteria***
* *Invoice details are only visible to logged in customers.* 
* *Invoice details can be retrieved using the order number.* 
* *Invoice details must support pagination for items.* 
  * start page - 1
  * items per page -

[2020-06-05 01:22] magento-engcom-team opened #28539 "Docs: Customer orders query"
Document the new customer order query.

AC

1. Deprecate the current customerOrders query
2. Update the customers query to include the orders object
3. Create a new include file that defines customer attributes introduced with the updated query
4. Update all links to this include file
5. Check all examples to see if they were affected by this change

[2020-06-05 01:24] magento-engcom-team opened #28540 "MyAccount :: Order Details :: Invoice Details by Order Number"
As a Magento end Customer, 

I want to see invoice details in myaccount

so that 

I can know the right status and payment/pricing details for my order. 

fixes https://github.com/magento/magento2ce/pull/5831

***Acceptance Criteria***
* *Invoice details are only visible to logged in customers.* 
* *Invoice details can be retrieved using the order number.* 
* *Invoice details must support paginati

[2020-06-05 01:25] magento-engcom-team opened #28541 "MyAccount :: Order Details :: Invoice Details by Order Number"
As a Magento end Customer, 

I want to see invoice details in myaccount

so that 

I can know the right status and payment/pricing details for my order. 

***Acceptance Criteria***
* *Invoice details are only visible to logged in customers.* 
* *Invoice details can be retrieved using the order number.* 
* *Invoice details must support pagination for items.* 
  * start page - 1
  * items per page -

[2020-06-05 01:25] magento-engcom-team opened #28542 "MyAccount :: Order Details :: Invoice Details by Order Number"
As a Magento end Customer, 

I want to see invoice details in myaccount

so that 

I can know the right status and payment/pricing details for my order. 

***Acceptance Criteria***
* *Invoice details are only visible to logged in customers.* 
* *Invoice details can be retrieved using the order number.* 
* *Invoice details must support pagination for items.* 
  * start page - 1
  * items per page -

[2020-06-05 02:37] j-lloyd-slc commented on #22587
Still a problem in 2.3.4. Dealt with days of random site crashes.

Installing Elastisearch seems to be the solution, but that creates new dependencies for certain extensions.

[2020-06-05 02:59] palomamtnez opened #28543 "Shopping Cart quantity doesnt update after custom Add to cart form is submitted"
### Preconditions (*)
Magento ver. 2.3.5-p1
Cloud

### Steps to reproduce (*)

I have a custom _Add to Cart_ button for bundled products. This is on my phtml for the` /test-page` :

[code]
It works fine; after the user clicks on _Add to Cart_, the bundle product is added to the shopping cart and then it is redirected back to the `/test-page`. It then appears the message "You added TEST Bundle Prod

[2020-06-05 04:15] HoaND-Magezon opened #28544 "[Issue] error when generated sitemap.xml with sample-data"
### Preconditions (*)

1. Magento 2.3.5-p2, 2.4.0 with sample data installed(issue reproducible only with sample data)
:warning: **Note**: Issue is not reproducible on 2.4-develop

### Steps to reproduce (*)

1. In the backend, go to Marketing > SEO & Search > Site Map in the admin menu
2. Generate a sitemap.xml

### Expected result (*)

I found this issue when I access link mywebsiteurl/sitemap.x

[2020-06-05 06:35] ihor-sviziev commented on #23834
Hi @engcom-Charlie,
Looks like issue should be fixed in https://github.com/magento/magento2/commit/3b611a7cc0040c9e5731cbc8e2080c2adb205d86.
Could you confirm that?

[2020-06-05 06:40] ihor-sviziev commented on #6401
@ecoprince,
Now these commits are available. Here is merge commit that contains all these changes: https://github.com/magento/magento2/commit/3b611a7cc0040c9e5731cbc8e2080c2adb205d86

[2020-06-05 06:43] ihor-sviziev commented on #23834
Duplicate of #6401

[2020-06-05 06:44] ihor-sviziev commented on #23834
I see that issue described above is already fixed in 2.4-develop branch. More info there: https://github.com/magento/magento2/issues/6401#issuecomment-623439883

I'm closing this issue.

[2020-06-05 06:44] #23834 closed, assigned to nobody

[2020-06-05 06:48] magento-engcom-team commented on #8933
Hi @w130pmpo.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.1` release.

[2020-06-05 06:48] #8933 closed, assigned to nobody

[2020-06-05 06:52] ihor-sviziev commented on #26682
Hi,

This issue was already fixed in 2.4-develop branch in https://github.com/magento/magento2/commit/fcd1b5808625364e09dc6aea2d9eb8c0ee209d25#diff-e2b9d1a5f4b9f3503a2f8dd072bc2d8aR360.

Additional test coverage will be also added in https://github.com/magento/magento2/pull/27338.

[2020-06-05 06:52] #26682 closed, assigned to amenk, NathMorgan

[2020-06-05 07:00] SzabKel commented on #10377
@slackerzz Do not do this, unless you control the install fully and can use CLI. We are on a managed magento install without SSH access and just by doing the locale change in production mode brakes the modified website (I could restore using a snapshot, but still). You also need to run `setup:static-content:deploy` probably.

[2020-06-05 07:42] swathishs commented on #28544
@magento give me 2.4 develop instance

[2020-06-05 07:42] magento-engcom-team commented on #28544
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4 instance for you

[2020-06-05 07:46] swathishs commented on #28544
@magento give me 2.4-develop instance

[2020-06-05 07:46] magento-engcom-team commented on #28544
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-05 07:48] magento-engcom-team commented on #28544
Hi @swathishs, here is your [Magento instance](https://i-28544-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28544-2-4-develop.instances.magento-community.engineering/admin_821d](https://i-28544-2-4-develop.instances.magento-community.engineering/admin_821d)
Login: `daa0f624` Password: `90db8fcc2776`
Instance will be terminated in up to 3 hours.

[2020-06-05 07:59] kamorana commented on #14040
We are experiencing the same issue (static content signing enabled) on 2.3.3. Anyone else having the same issues after re-deploying?

[2020-06-05 09:24] Dragonisser commented on #26159
Event tho i did an migration earlier, i also created two new customer and im getting the exact same error on both.

Using Magento 2.3.5-p1.

![image](https://user-images.githubusercontent.com/4233773/83859957-f3d68080-a71e-11ea-8a81-6b807a9ba969.png)

[2020-06-05 10:49] swathishs commented on #28544
@HoaND-Magezon: Issue is not reproducible in Magento 2.4 develop instance

Created Image title  - Simple_product_1

1. **Generate site map**:
![image](https://user-images.githubusercontent.com/58288685/83868201-1c26a500-a748-11ea-8fba-efe9d9c3f533.png)

2. Sitemap.XML:
![image](https://user-images.githubusercontent.com/58288685/83868292-3d879100-a748-11ea-8cc0-f4cee6a75dda.png)

[2020-06-05 10:55] swathishs commented on #27236
@Dren7755: Tested the issue in 2.4 community edition the issue is not reproducible.

Please find the attachment below:

1.Product stock(Check quantity):
![image](https://user-images.githubusercontent.com/58288685/83868525-a838cc80-a748-11ea-9b59-6befff14b826.png)

2. After order placed(Check quantity):
![image](https://user-images.githubusercontent.com/58288685/83868650-e46c2d00-a748-11ea-9ee3-4f9

[2020-06-05 12:16] engcom-Echo commented on #28479
Hi, @swathishs @IgorM92
I wanted to warn you against using such values ​​for "Default value". There was a case but vice versa.
[product_type attribute contains incorrect value in mass import export csv after creating custom type_id attribute. actual type_id value in database gets change with newly created attribute type_id.
](https://github.com/magento/magento2/issues/19891)

I think an additional

[2020-06-05 12:19] engcom-Charlie commented on #27168
Hi @Aravindh468, @ihor-sviziev
I've checked this issue on the latest 2.4-develop and I get image path like `/pub/media/catalog/category/{{image}}` as expected.
And what about `$category->getImage()` should return image name without path. It wasn't implemented before so it looks like a feature request, does it?

[2020-06-05 12:21] ihor-sviziev commented on #27168
@engcom-Charlie could you check it on 2.3.4, to be sure it was fixed in 2.4-develop?

[2020-06-05 12:22] ihor-sviziev commented on #27168
@magento give me 2.3.4 instance

[2020-06-05 12:22] magento-engcom-team commented on #27168
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-06-05 12:23] magento-engcom-team commented on #27168
Hi @ihor-sviziev, here is your [Magento instance](https://i-27168-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27168-2-3-4.instances.magento-community.engineering/admin_0c2d](https://i-27168-2-3-4.instances.magento-community.engineering/admin_0c2d)
Login: `114e8128` Password: `2529273996a5`
Instance will be terminated in up to 3 hours.

[2020-06-05 12:27] ihor-sviziev commented on #27168
**Tested on 2.3.4:**
❌Category Image contains "tmp" in the URL
https://i-27168-2-3-4.instances.magento-community.engineering/category-1.html
![image](https://user-images.githubusercontent.com/1873745/83876144-0661b180-a741-11ea-8dfc-4d987ddfe10c.png)

Image URL is following:
https://i-27168-2-3-4.instances.magento-community.engineering/pub/media/catalog/tmp/category/Tests.png

[2020-06-05 12:27] ihor-sviziev commented on #27168
@magento give me 2.4-develop instance

[2020-06-05 12:27] magento-engcom-team commented on #27168
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-05 12:29] magento-engcom-team commented on #27168
Hi @ihor-sviziev, here is your [Magento instance](https://i-27168-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27168-2-4-develop.instances.magento-community.engineering/admin_c9bf](https://i-27168-2-4-develop.instances.magento-community.engineering/admin_c9bf)
Login: `e37f3a73` Password: `6e0322912876`
Instance will be terminated in up to 3 hours.

[2020-06-05 12:33] ihor-sviziev commented on #27168
**Tested on 2.4-develop:**
✔Category Image do not contains "tmp" in the URL
https://i-27168-2-4-develop.instances.magento-community.engineering/category-1.html
![image](https://user-images.githubusercontent.com/1873745/83876618-d23ac080-a741-11ea-8ac5-7abe1233ba9b.png)

Image URL is following:
https://i-27168-2-4-develop.instances.magento-community.engineering/pub/media/catalog/category/Tests.png

[2020-06-05 12:33] #27168 closed, assigned to ihor-sviziev, engcom-Charlie

[2020-06-05 12:37] ihor-sviziev commented on #28009
**Tested on 2.3.4:**
❌Category Image contains "tmp" in the URL
https://i-27168-2-3-4.instances.magento-community.engineering/category-1.html
![image](https://user-images.githubusercontent.com/1873745/83876144-0661b180-a741-11ea-8dfc-4d987ddfe10c.png)

Image URL is following:
https://i-27168-2-3-4.instances.magento-community.engineering/pub/media/catalog/tmp/category/Tests.png

**Tested on 2.4-deve

[2020-06-05 12:37] #28009 closed, assigned to ihor-sviziev

[2020-06-05 12:44] magento-engcom-team commented on #28261
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34989` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-05 13:08] engcom-Echo commented on #28374
Hi, @sambath1293б @webgility-amazonapi .

If we look interface app/code/Magento/Catalog/Api/CostStorageInterface.php
![image](https://user-images.githubusercontent.com/51681435/83879597-8dfdef00-a746-11ea-9769-5fec49294ad3.png)
`If there were no failed items during update empty array will be returned.`
We get the right behavior.

[2020-06-05 13:14] kullu46 opened #28556 "Magento 2 Admin CSS not working correctly (Whole page showing at the bottom of the screen)"
Can anyone please assist in having issues on MacOS? Whole admin page except sidebar is showing at the bottom of the visible viewport.
### Steps to reproduce (*)

1. Open mangento admin in MacOS Sierra
2. .page-wrapper element is seemed to have broken css

![image](https://user-images.githubusercontent.com/5611139/83878870-644ec300-a75a-11ea-98cd-01e4b5eeb9cc.png)

[2020-06-05 13:20] nayanserver opened #28557 "Category not being updated in Product Edit page Admin"
I have migrated Magento 1.9.3.7 to 2.3.5-p1 after migration everything seems fine but when I have edit product selected category not displayed and category field blank. Even after setting new category or new product not able to save it. It displays the success message but actually category not saved. I can see the product in correct category in frontend and even in category page in backend but not

[2020-06-05 13:23] magento-engcom-team opened #28558 "Implement the schema for PayPal PayFloPro"
As a Magento End Customer,

I would like the ability to store my Paypal (PayFloPro) payment method details in myaccount

so that 

I can expedite the future checkout process by not having to reenter the payment details.

 

<ins>**Acceptance Criteria**</ins>
* During checkout customers can specify if they want to store the payment details in myaccount for future purchases.
* Payment details are no

[2020-06-05 13:23] magento-engcom-team opened #28559 "Implement the schema for PayPal PayFloPro"
As a Magento End Customer,

I would like the ability to store my Paypal (PayFloPro) payment method details in myaccount

so that 

I can expedite the future checkout process by not having to reenter the payment details.

 

<ins>**Acceptance Criteria**</ins>
* During checkout customers can specify if they want to store the payment details in myaccount for future purchases.
* Payment details are no

[2020-06-05 13:23] hostep commented on #28009
@ihor-sviziev, should we close https://github.com/magento/magento2/issues/25480 as well?
I believe it got fixed in 2.3.5, but I'm not 100% sure since I haven't found the time to test it again.

[2020-06-05 13:24] magento-engcom-team opened #28560 "Implement the schema for PayPal PayFloPro"
As a Magento End Customer,

I would like the ability to store my Paypal (PayFloPro) payment method details in myaccount

so that 

I can expedite the future checkout process by not having to reenter the payment details.

 

<ins>**Acceptance Criteria**</ins>
* During checkout customers can specify if they want to store the payment details in myaccount for future purchases.
* Payment details are no

[2020-06-05 13:25] ihor-sviziev commented on #25480
**Tested on 2.3.4:**
❌Category Image contains "tmp" in the URL
https://i-27168-2-3-4.instances.magento-community.engineering/category-1.html
![image](https://user-images.githubusercontent.com/1873745/83876144-0661b180-a741-11ea-8dfc-4d987ddfe10c.png)

Image URL is following:
https://i-27168-2-3-4.instances.magento-community.engineering/pub/media/catalog/tmp/category/Tests.png

**Tested on 2.4-deve

[2020-06-05 13:25] #25480 closed, assigned to ihor-sviziev

[2020-06-05 13:25] ihor-sviziev commented on #28009
@hostep closed, thank you!

[2020-06-05 13:27] melnikovi commented on #27200
Agree. Could you please submit PR to 2.4-develop branch? Thank you!

[2020-06-05 13:29] swathishs commented on #28557
@magento give me 2.3.5-p1 instance

[2020-06-05 13:29] magento-engcom-team commented on #28557
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-05 13:30] magento-engcom-team commented on #28557
Hi @swathishs, here is your [Magento instance](https://i-28557-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28557-2-3-5-p1.instances.magento-community.engineering/admin_7405](https://i-28557-2-3-5-p1.instances.magento-community.engineering/admin_7405)
Login: `d1b9811c` Password: `3699cbd14d87`
Instance will be terminated in up to 3 hours.

[2020-06-05 13:36] yanncharlou commented on #27282
Same problem here. Any news ?

[2020-06-05 13:41] magento-engcom-team opened #28561 "GraphQL : CORS requests will fail without OPTIONS reponse"
As a web developer, I want Magento to support the [CORS standard](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access*control*CORS) so that I can develop my applications according to defined best practices.

—
Original issue: https://github.com/magento/magento2/issues/8399

AC
* Implement CORS support as detailed here: https://enable-cors.org/server.html

[2020-06-05 13:44] magento-engcom-team opened #28562 "Integration Authentication must be disabled in GraphQL"
OauthUserContext authentication is used for Integrations (which is equivalent to admin users) and must not be enabled in GraphQL.

![image-2019-10-09-15-36-10-566](https://user-images.githubusercontent.com/4700273/83883377-01810b80-a709-11ea-8ea9-cf301ea1954c.png)

[2020-06-05 13:44] magento-engcom-team opened #28563 "GraphQL product search does not consider Category Permissions configuration"
GraphQL product search does not consider Category Permissions on category level and in System Configuration (Stores > Configuration > Catalog > Catalog > Category Permissions)

###### Preconditions
1. Install 2.3-develop
1. Create product **Apple* in category *sub** with price $10
1. Go to Stores > Configuration > Catalog > Catalog > Category Permissions
1. Set **Enable* to *Yes** and leave all ot

[2020-06-05 13:49] swathishs commented on #28557
@nayanserver: Issue is not reproducible in Magento  2.3.5-p1 instance

Please find the attachment below:

1. Admin:
![mE0dSTln5r](https://user-images.githubusercontent.com/58288685/83883623-5e101500-a761-11ea-9548-e835f417476b.gif)

2. Frontend:
![image](https://user-images.githubusercontent.com/58288685/83883468-21dcb480-a761-11ea-9932-6289fd1be886.png)

[2020-06-05 13:57] magento-engcom-team opened #28564 "Handle empty masked quote id return case"
**Issue found:**

When we try to create a masked quote id in a scenario, "When a new customer is created on storefront and on using mutations to create customer token for same customer and a cart using CustomerCart on CustomerCart resolver in Magento/QuoteGraphQl/Model/Resolver/CustomerCart.php.

We figured out that masked quote id is empty (" ")is given from Magento/Quote/Model/QuoteIdToMaskedQuo

[2020-06-05 13:57] magento-engcom-team opened #28565 "[2.3.x] Layered Navigation does not return "No" option for boolean attributes when using elasticsearch"
"No" values are not included in layered nav aggregation options when using ElasticSearch as the search engine. This affects storefront and GraphQl scenarios in the same way.

**Steps to reproduce:**
1. Configure ElasticSearch as catalog search engine
2. Create a boolean (yes/no) type product attribute and add it the the default attribute set. Configure so that it will show up in layered navigation

[2020-06-05 13:59] nayanserver commented on #28557
@swathishs Its working in new installation but not working after migration from 1.9.3.7

[2020-06-05 14:01] magento-engcom-team opened #28566 "Related Products not working with Marketing Rules"
Queries for Related Products like the one below only return values if the Related Products are added from the Product Settings. However, it is not accounting for Marketing Rules and it returning empty arrays. (Marketing / Related Products Rules) – This is how Related Products are set with Luma stock sample-data.

[code]

Response:
[code]
Luma Theme:

!image-2020-06-02-16-10-01-234.png|width=1336,h

[2020-06-05 14:02] magento-engcom-team opened #28567 "Graphql API needs anonymous access protection"
**ISSUE:**
GraphQL Apis can't block for anonymous usage.

Merchant has restricted anonymous API access from the Admin but it can still query.

**STEPS TO REPLICATE:**
Post GraphQL as anoymous.
[code]

**ACTUAL RESULTS:**
Return body.

[code]

**EXPECTED RESULTS:**
Return 0

**NOTICE**

Is there a way I can stop this since I was recently informed by a Bounty Hunter that they could look up our custo

[2020-06-05 14:05] magento-engcom-team opened #28568 "GraphQL query returns admin option value label within aggregations"
## Issue

Product attribute option labels that are set for the Admin are also returned by the **products** GraphQL query, instead of option labels for the Default Store View.

For example, if you set the label for the "Yoga" option for the "Activity" product attribute to different values for the Admin versus the Default Store View, the store frontend will show the Default Store view label, whereas

[2020-06-05 14:07] magento-engcom-team opened #28569 "Multi-store: Missing store codes in relation to a group and website"
In order to switch stores in a Multi-store Magento instance, a developer would need a GraphQL Query that would return a list with the following data (currently available for the current store inside **storeConfig**)

 
[code]
 

!image-2020-05-11-10-11-04-038.png!

## Requirements:
1. This should be implemented in accordance with architectural proposal https://github.com/magento/architecture/pull/

[2020-06-05 14:08] magento-engcom-team opened #28570 "GraphQL Schema for createCustomer does not match validation requirements"
The schema for the createCustomer mutation shows the input object as a whole as required but it does not show the individual required fields. For example, I tried to make an account passing ONLY the email and password but received an error after submission that said first name and last name were required.

https://i.gyazo.com/baffd808d33594f6aa1f9ef785cac540.png

After checking the schema, it does

[2020-06-05 14:09] magento-engcom-team opened #28571 "Customer order query returns duplicate configurable products"
Description

When I use the GraphQL `customer` query to return a list of orders, the response contains duplicate entries for configurable products, and the `parent_product_sku` is different for each. The value of this attribute is incorrect for both instances. In one, it's null, in the other, it's the same as the `product_sku`

To reproduce:

1. Create an order using the Luma sample data that cont

[2020-06-05 14:10] magento-engcom-team opened #28572 "[GraphQl] Custom attribute aggregations should return store specific option values"
#### Steps to reproduce:

1. Create multiple stores with multiple store views ( for example: english and arabic storeviews) and choose either the English or the luma default store as the store view
2. create a custom attribute that is visible in search and layered navigation. ( For test purpose, a drop down custom attribute " brand" with atleast couple options for different storeviews.
  For examp

[2020-06-05 14:11] magento-engcom-team opened #28573 "GraphQL - ConfigurableCartItem added to Cart returns wrong thumbnail image"
If you add a *ConfigurableCartItem* to the Cart and then Query the Cart, this returns the Thumbnail of the Parent Product instead of the Variant that was selected.
Architecture proposal magento/architecture#380

**Query**
[code]

[2020-06-05 14:11] vini1996 opened #28574 "messy frontend and admin url showing not found"
### Preconditions (*)

1. php 7.2.10
2. magento 2.3.5p1
3. mysql 5.7

### Steps to reproduce (*)

1. after installation click on admin button
2. load frontend after installation

### Expected result (*)

1. magento frontend should display
2. admin url should work

### Actual result (*)

1. messy frontend
![git](https://user-images.githubusercontent.com/39683802/83885742-67e74780-a764-11ea-8b67-7a4

[2020-06-05 14:11] yanncharlou commented on #27282
I've found what's happening :
In some case, product may not exists. Typically when product was ordered then deleted from catalog.
In such case, in /vendor/magento/module-inventory-shipping-admin-ui/Model/IsOrderSourceManageable.php:71 , $orderItem->getProduct() return NULL.

It should be safe to update /vendor/magento/module-inventory-shipping-admin-ui/Model/IsOrderSourceManageable.php:71 from

[c

[2020-06-05 14:13] magento-engcom-team opened #28575 "GraphQL- preview for a disabled product returns empty response"
Steps to reproduce:
1. Create a product that is in stock, assigned to a category, and set the status to disable
2. Create an update for the product that enables it
3. Run the below query with  authorization token and preview-version header
[code]

#####Expected Result:
Product data is returned

#####Actual Result:
Product data is empty

[2020-06-05 14:14] magento-engcom-team opened #28576 "GraphQL returns original image URLs for resized ones"
Preconditions:
1. A simple product (with name "Test") with an image is created
1. The image is marked as "small"

 

Steps:
1. Execute GraphQL query
[code]

[2020-06-05 14:15] swathishs commented on #28557
@nayanserver: Since this issue occurs when migrated from Magento 1.9.3.7 to 2.3.5-p1. Hence I think someone else can take this ticket to replicate as your steps and test.

[2020-06-05 14:15] magento-engcom-team opened #28577 "GraphQL module has undeclared dependency on Webapi module"
GraphQL module relies on Webapi module for authentication and if Webapi module is disabled - some GraphQL queries will become inaccessible.

Ideally, dependency should be fixed or at least declared as 'required' instead of 'suggest'.

Severity is not critical because it is unlikely that someone will disable Webapi module, but in the future it should be possible to set up GraphQL-only instance.

 !

[2020-06-05 14:16] magento-engcom-team opened #28578 "Adding separate query for products by id in GraphQL different from search"
In order to load a Template, one must make a query to the *urlResolver* to obtain the **id*, *uid* and *type** of the content.

*i.e.*

[code]
Note: This is the flow for loading the other two types: CMS_PAGE and CATEGORY.

AC:
New query must be added this scenario is not going to use Search API.
Query must support tagging a caching
Multiple IDs can be passed to the filter to obey some scenarios in

[2020-06-05 14:17] magento-engcom-team opened #28579 "DependencyTest does not analyze GraphQL schema files"
Steps to reproduce:
* Add new GraphQl module which will extend existing schema
* Add dependencies to the module.xml
* Only schema refers to dependencies

(/) Test is green
(-) Test fails with `Redundant dependencies found!`

[2020-06-05 14:17] swathishs commented on #27236
Since Magento CE we cant reproduce the issue it may be specific for EE

Hi @Dren7755, all issue specific for Magento EE should be reported in the EE repo

@sdzhepa - It seems this issue-specific for Magento EE and should be fixed in the EE repository.

EngCom team, please confirm and transfer this issue to https://github.com/magento/partners-magento2ee/issues

Closing this issue

[2020-06-05 14:17] #27236 closed, assigned to swathishs

[2020-06-05 14:17] magento-engcom-team opened #28580 "[GraphQL] False positive behavior of testQueryCustomAttributeField "
## Steps to reproduce
* debug test \Magento\GraphQl\Catalog\ProductViewTest::testQueryCustomAttributeField 
* set breakpoint into fixture Catalog/*files/product_simple_with_custom*attribute.php on line with the following code $product->setCustomAttribute($attribute->getAttributeCode(), 'customAttributeValue');
* \Magento\Framework\Model\AbstractExtensibleModel::setCustomAttribute in this method 
[

[2020-06-05 14:20] fnhipster commented on #28566
I want to add that this applies to Marketing Rules applied for **Related Products,** **Upsell Products**, **Cross-sell Products**, and the new **Recommended Products**. Marketing Rules are a Commerce-Only feature.

[2020-06-05 14:27] yanncharlou commented on #27282
@magento-engcom-team Can you reoppen issue ?
There is the way to reproduce :

- Place an order with at least one product from frontend
- Confirm payement from backend
- Delete one of the products ordered from catalog
- Try to ship order from backend. (It will fail)

Explanations of what's happening and patch proposal here : https://github.com/magento/magento2/issues/27282#issuecomment-639521590

B

[2020-06-05 14:32] nrkapoor opened #28581 "MyAccount :: Order Details :: Refund (creditMemo) Details by Order Number"
As a Magento end Customer, 

I want to see refund details in myaccount

so that 

I can know the right status and payment/pricing details for my refund. 

_*Acceptance Criteria*_
 * _Refund details are only visible to logged in customers._ 
 * _Refund details can be retrieved using the order number._ 
 * Order details must support pagination for items. 
 ** start page - 1
 ** items per page - 20

[2020-06-05 14:33] nrkapoor opened #28582 "MyAccount :: Order Details :: Deprecate customerOrder query"
Deprecate customerOrder query

[2020-06-05 14:34] nrkapoor opened #28583 "MyAccount :: Order Details :: Order Details by Order Number with selected and entered options and different product types"
As a Magento end Customer, 

I want to see order details in myaccount along with selected and entered option on different type of products

so that 

I can know the right status and details about my order. 

_*Acceptance Criteria*_
 * _Order details are only visible to logged in customers._ 
 * _Order details can be retrieved using the order number._ 

[2020-06-05 14:36] nrkapoor opened #28584 "Category query does not handle fragments"
Category query does not return correct response when using fragments

Steps to reproduce:
- Create some categories
- Run Query:
[code]

Actual Response:
[code]

Expected response (should match response without using fragment)
[code]

[2020-06-05 15:18] swathishs commented on #28405
@ldc321: The issue is not reproducible in Magento 2.3.5p1 instance.

1. Frontend:
![image](https://user-images.githubusercontent.com/58288685/83893662-dc72b400-a76d-11ea-9061-59239eff81b7.png)

2. Response:
{
    "payment_methods": [
        {
            "code": "checkmo",
            "title": "Check / Money order"
        }
    ],
    "totals": {
        "grand_total": 34.49,
        "base_grand

[2020-06-05 15:29] nrkapoor opened #28586 "GraphQL: GiftRegistry Docs"
Atwix PR review and delivery

Arch schema: 

<https://github.com/magento/architecture/pull/448] 

[https://github.com/magento/architecture/blob/master/design-documents/graph-ql/coverage/customer/gift-registry.graphqls] 

[https://github.com/magento/architecture/pull/383]

[https://github.com/magento/partners-magento2ee/pull/280> 

[2020-06-05 15:31] swathishs commented on #27655
@chandu-pinpoint : Thank you for your report.
Seems a similar issue is already been in ready for dev.
Please check  - https://github.com/magento/magento2/issues/28482

Hence closing the issue

[2020-06-05 15:31] #27655 closed, assigned to swathishs

[2020-06-05 15:36] nrkapoor opened #28587 "Staging & Preview :: Return Campaign Information for Staged Products"
As an AEM user, 

I want the ability to see if a Magento product is staged (or not) and also return the associated campaign information

So that 

I can create content for staged products & categories and preview them in AEM without it being live. 

 

**Acceptance Criteria**
 * For each staged product/category the following information is returned 
 ** Campaign Name
 ** Campaign Description 
 **

[2020-06-05 15:39] slavvka commented on #27337
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#27586 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [2c812ba13a144f07e4b0716bfa61ef5ccadf76b7](https://github.com/magento/magento2/commit/2c812ba13a144f07e4b0716bfa61ef5ccadf76b7)
 - [670d0b1fcc4e0c49abcbf3bcc0c0ca41e8137cc1](https://github.com/magento/magento2/commit/670d0b1fcc4e0c49abcbf3bcc0

[2020-06-05 15:39] #27337 closed, assigned to paliarush, atwixfirster, danielrenaud

[2020-06-05 15:39] slavvka commented on #28138
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28034 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [bac11ae0374a533b3042636888134ff00843db6f](https://github.com/magento/magento2/commit/bac11ae0374a533b3042636888134ff00843db6f)
 - [fbabac78a484d19d6281cd270cb9090acf08fd76](https://github.com/magento/magento2/commit/fbabac78a484d19d6281cd2

[2020-06-05 15:39] #28138 closed, assigned to atwixfirster

[2020-06-05 15:40] slavvka commented on #253
Hi @ScreamingDev. Thank you for your report.
The issue has been fixed in magento/magento2#28105 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [dbaf8a55e740741043231ad7e06ea6950064126c](https://github.com/magento/magento2/commit/dbaf8a55e740741043231ad7e06ea6950064126c)
 - [9479c3ac03a5d2a152f788dd75fd7955eb646b12](https://github.com/magento/magento2/commit/9479c3ac03a5d2a152f788dd75fd79

[2020-06-05 15:40] slavvka commented on #253
Hi @ScreamingDev. Thank you for your report.
The issue has been fixed in magento/magento2#27956 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [dbaf8a55e740741043231ad7e06ea6950064126c](https://github.com/magento/magento2/commit/dbaf8a55e740741043231ad7e06ea6950064126c)
 - [9479c3ac03a5d2a152f788dd75fd7955eb646b12](https://github.com/magento/magento2/commit/9479c3ac03a5d2a152f788dd75fd79

[2020-06-05 15:40] slavvka commented on #28394
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28304 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [62f5c324e0384aec0082b86a71fc3f47e6e2d6b8](https://github.com/magento/magento2/commit/62f5c324e0384aec0082b86a71fc3f47e6e2d6b8)

The fix will be available with the upcoming 2.4.1 release.

[2020-06-05 15:40] #28394 closed, assigned to atwixfirster

[2020-06-05 15:40] slavvka commented on #28392
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28287 by @engcom-Kilo in 2.4-develop branch
Related commit(s):
 - [fbfbc61bcabd2bf046ecd9c8f54372ada82344db](https://github.com/magento/magento2/commit/fbfbc61bcabd2bf046ecd9c8f54372ada82344db)
 - [4a8afd887c0ab024c1a22a4b981fa61b9cbefb3a](https://github.com/magento/magento2/commit/4a8afd887c0ab024c1a22a4b

[2020-06-05 15:40] #28392 closed, assigned to engcom-Kilo

[2020-06-05 15:40] slavvka commented on #28393
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28361 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [7bb812a857fc9cb21d0a7e857f6f2d7f4a4c1eed](https://github.com/magento/magento2/commit/7bb812a857fc9cb21d0a7e857f6f2d7f4a4c1eed)

The fix will be available with the upcoming 2.4.1 release.

[2020-06-05 15:40] #28393 closed, assigned to kate-kyzyma

[2020-06-05 15:40] slavvka commented on #28377
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28330 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [8727fb964a5bbc4ad7ea6e74e51a22f27ea4251a](https://github.com/magento/magento2/commit/8727fb964a5bbc4ad7ea6e74e51a22f27ea4251a)
 - [fe64579d171797182aa6ad57185cbd943b8626b3](https://github.com/magento/magento2/commit/fe64579d171797182aa6ad

[2020-06-05 15:40] #28377 closed, assigned to DmitryTsymbal

[2020-06-05 15:40] slavvka commented on #28166
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27357 by @ptylek in 2.4-develop branch
Related commit(s):
 - [414b897b8ef5e67d1fe4a9ed9789abfac12e466b](https://github.com/magento/magento2/commit/414b897b8ef5e67d1fe4a9ed9789abfac12e466b)
 - [2f0bbe93b187c050a5049be66cb0fcdf97827193](https://github.com/magento/magento2/commit/2f0bbe93b187c050a5049be66cb0f

[2020-06-05 15:40] #28166 closed, assigned to ptylek

[2020-06-05 15:40] slavvka commented on #28040
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#27373 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [b96c8e9c647dbb5182c64d7b25abc1a5299388a1](https://github.com/magento/magento2/commit/b96c8e9c647dbb5182c64d7b25abc1a5299388a1)
 - [41f6a6ef9392e8bc969fb0b8c359db627f170d0b](https://github.com/magento/magento2/commit/41f6a6ef9392e8bc969fb0b8c3

[2020-06-05 15:40] slavvka commented on #28383
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27902 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [a375e13039c99d90811b608c887b7b4f52c96dd5](https://github.com/magento/magento2/commit/a375e13039c99d90811b608c887b7b4f52c96dd5)
 - [3057ffabe4d53ef26e0ce6c2623010ad4da3023b](https://github.com/magento/magento2/commit/3057ffabe4d53ef26e0ce6c

[2020-06-05 15:40] #28383 closed, assigned to lbajsarowicz

[2020-06-05 15:40] slavvka commented on #28339
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27871 by @krzksz in 2.4-develop branch
Related commit(s):
 - [ce001b056372ceb779003e9ba7dda24c62959471](https://github.com/magento/magento2/commit/ce001b056372ceb779003e9ba7dda24c62959471)
 - [c10d0a14bca804de475ba132caa5ea9953f79666](https://github.com/magento/magento2/commit/c10d0a14bca804de475ba132caa5e

[2020-06-05 15:40] #28339 closed, assigned to krzksz

[2020-06-05 15:40] slavvka commented on #28340
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27690 by @krzksz in 2.4-develop branch
Related commit(s):
 - [97f0a1f34efc7c40c97014800cc876e9aedcdc0f](https://github.com/magento/magento2/commit/97f0a1f34efc7c40c97014800cc876e9aedcdc0f)
 - [16444d01be029f23aa9909cf901aef19380598cc](https://github.com/magento/magento2/commit/16444d01be029f23aa9909cf901ae

[2020-06-05 15:40] #28340 closed, assigned to krzksz

[2020-06-05 15:40] slavvka commented on #28305
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27839 by @elevinskii in 2.4-develop branch
Related commit(s):
 - [c49ad3241cd65b6281444a0c382d1cc7bf33b541](https://github.com/magento/magento2/commit/c49ad3241cd65b6281444a0c382d1cc7bf33b541)
 - [7592e8d392bc8105051d655fb0f782eca6e3bfc9](https://github.com/magento/magento2/commit/7592e8d392bc8105051d655fb

[2020-06-05 15:40] #28305 closed, assigned to nobody

[2020-06-05 15:40] #28381 closed, assigned to krzksz

[2020-06-05 15:40] slavvka commented on #28382
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27618 by @krzksz in 2.4-develop branch
Related commit(s):
 - [2c1daf37da116b93f2453bb4167585c5c1423669](https://github.com/magento/magento2/commit/2c1daf37da116b93f2453bb4167585c5c1423669)
 - [bb53575047aab9902d7693719ba75467de69fd4d](https://github.com/magento/magento2/commit/bb53575047aab9902d7693719ba75

[2020-06-05 15:40] #28382 closed, assigned to krzksz

[2020-06-05 15:40] slavvka commented on #19481
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#27481 by @andrewbess in 2.4-develop branch
Related commit(s):
 - [b0c3ead8ba269198d1967f936c59211d8ebbbc42](https://github.com/magento/magento2/commit/b0c3ead8ba269198d1967f936c59211d8ebbbc42)
 - [7fec913c47d930c351ea52ac42df7f446e6f5adc](https://github.com/magento/magento2/commit/7fec913c47d930c351ea52ac42df7f44

[2020-06-05 15:40] #19481 closed, assigned to andrewbess

[2020-06-05 15:40] slavvka commented on #28342
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27260 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [1031b3bd268af411958399f3ebdf9bb57a4279c2](https://github.com/magento/magento2/commit/1031b3bd268af411958399f3ebdf9bb57a4279c2)
 - [4cd55f5aee91bbbeb4bc51274ec687fb30cb0ac1](https://github.com/magento/magento2/commit/4cd55f5aee91bbbeb4bc512

[2020-06-05 15:40] #28342 closed, assigned to ihor-sviziev

[2020-06-05 15:40] slavvka commented on #28433
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27356 by @ptylek in 2.4-develop branch
Related commit(s):
 - [a18eecc0d0aa82d0976fda0dd5994e519d226c9a](https://github.com/magento/magento2/commit/a18eecc0d0aa82d0976fda0dd5994e519d226c9a)
 - [7fa9dd709fbc015354042f5fd12bf2b34db05bf9](https://github.com/magento/magento2/commit/7fa9dd709fbc015354042f5fd12bf

[2020-06-05 15:40] #28433 closed, assigned to ptylek

[2020-06-05 15:40] slavvka commented on #27337
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#27586 by @atwixfirster in 2.4-develop branch
Related commit(s):
 - [2c812ba13a144f07e4b0716bfa61ef5ccadf76b7](https://github.com/magento/magento2/commit/2c812ba13a144f07e4b0716bfa61ef5ccadf76b7)
 - [670d0b1fcc4e0c49abcbf3bcc0c0ca41e8137cc1](https://github.com/magento/magento2/commit/670d0b1fcc4e0c49abcbf3bcc0

[2020-06-05 15:40] slavvka commented on #253
Hi @ScreamingDev. Thank you for your report.
The issue has been fixed in magento/magento2#28105 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [dbaf8a55e740741043231ad7e06ea6950064126c](https://github.com/magento/magento2/commit/dbaf8a55e740741043231ad7e06ea6950064126c)
 - [9479c3ac03a5d2a152f788dd75fd7955eb646b12](https://github.com/magento/magento2/commit/9479c3ac03a5d2a152f788dd75fd79

[2020-06-05 15:40] slavvka commented on #253
Hi @ScreamingDev. Thank you for your report.
The issue has been fixed in magento/magento2#27956 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [dbaf8a55e740741043231ad7e06ea6950064126c](https://github.com/magento/magento2/commit/dbaf8a55e740741043231ad7e06ea6950064126c)
 - [9479c3ac03a5d2a152f788dd75fd7955eb646b12](https://github.com/magento/magento2/commit/9479c3ac03a5d2a152f788dd75fd79

[2020-06-05 16:21] js-pellsoftware opened #28589 "Cache not being flushed saving Admin settings with multiple stores"
### Preconditions (*)
1. Magento CE 2.3.3 is installed
2. There is one website setup
3. Multiple stores are created

### Steps to reproduce (*)
1. Login to admin
2. Click Stores > Configuration
3. Pick any ship method and toggle the 'Enabled for Checkout', e.g. If set to 'Yes' set to 'No'
4. Click 'Save Config'
5. The 'Enabled for Checkout' setting won't update and will go back to whatever it was

[2020-06-05 16:34] engcom-Lima opened #29115 "Message about choosing options for item is shown on "Thank you for your purchase!" page"
This bug is not in LaC functionality but in Magento core.
Can be repro without LaC if disable caches and place order with Configurable

### Preconditions (*)

1. Magento 2.4-develop
2. Login as Customer enabled
3. Customer 'John Doe' is created
4. Configurable product is created (Drop-down attribute type)

### Steps to reproduce (*)

1. Go to Magento Admin -> Customers -> All Customers and open cu

[2020-06-05 17:20] lenaorobei commented on #28519
Internal Jira ticket [MC-32345](https://jira.corp.magento.com/browse/MC-32345).

[2020-06-05 17:32] ben91376 commented on #28221
Today, I was on a demo with our client in a staging environment V2.3.5-p1 and encountered the same error in the original description.  At some point, the "State" value was removed from my saved address.    So during checkout, I was able to see my state (South Carolina) in my address; however, in the admin, I accessed my address again and the state value was missing.    Once I added my state again

[2020-06-05 19:06] kennedyabitbol opened #28590 "2.3.4 - tiers price not applyed on payment"
### Preconditions (*)

1. Magento 2.3.4
2. php 7.2

### Steps to reproduce (*)

1. Set a configurable with simple porduct at 15€ each
2. Set tiers price on each simple
Buy 10 at  10€
3. Order 5 and 5 simple, prices in cart and checkout is 10

### Expected result (*)

1. After validate (using visa, bank transfer or whatever), on my final order i see 15 € each products

### Actual result (*)

1. Aft

[2020-06-05 19:47] rafaelstz opened #28591 "Search Terms causing memory exhausted"
### Preconditions (*)

1. Magento 2.3
2. ElasticSearch 6

### Steps to reproduce (*)

1. To have 20k different searches per day
2. Access **Marketing > SEO & Search > Search Terms**

### Expected result (*)

1. See the searched terms.

### Actual result (*)

1. The session in break and we're redirected to the login page every time that we try to access the Search Terms.

## Stack trace

[code]
##

[2020-06-05 19:47] rafaelstz opened #28592 "Control how much searched terms to report"
### Description (*)

To have an option to choose the min amount of searches to show in the **Search Terms** options, it could be in the admin panel **Stores > Settings > Configuration** a configuration in the **Catalog > Catalog Search** options.

### Expected behavior (*)

Admin option to control how much terms searched must be considered to be listed in the page **Marketing > SEO & Search > Sear

[2020-06-05 20:34] michalderlatka commented on #28570
@magento I am working on this

[2020-06-05 20:41] michalderlatka commented on #28570
@magento I am working on this

[2020-06-05 21:16] chinmayphutela commented on #24571
@rani-webkul  or @ihor-sviziev
Were you guys able to solve this configurable product - swatch image issue ?

I am facing the same issue and would love to understand how to rectify it. I am not a developer so would love if you could explain it in simple terms.

[2020-06-05 21:43] pedrohenrique1986 opened #28593 "Error selecting payment method as discount rule"
Magento 2.34p2
PHP 7.2

When we are going to add a cart promotion rule, there is no option to choose the payment method as a rule option.

Magento 234p2 with error
![magenteo-erro-1](https://user-images.githubusercontent.com/13370384/83924994-6d409400-a75c-11ea-981e-df288d3f0643.PNG)

In the Magento 233 version it works
![magenteo-erro-2](https://user-images.githubusercontent.com/13370384/83924991

[2020-06-05 22:24] medigeek commented on #22168
was this fixed?

had similar issues on an older m2 version, 2.3.0

to reproduce env.php must a value such as:

[code]

tried to change it:
`php bin/magento setup:config:set --session-save='redis' --no-interaction`

it didn't change 'save' to 'redis'

what happens in the background is that the command asks to overwrite or not, I assume the default reply is "no" with --no-interaction, so it doesn't

[2020-06-05 22:28] #28590 closed, assigned to nobody

[2020-06-06 15:49] tramov commented on #12396
This is still an issue in 2.3.5

My migrated Magento 1 coupon is set for E 70, incl. taxes for free shipping.

However, it does not trigger until the ex. taxes are over E 70.

I can fix partly fix this by specifiying a lower amount. But my customers can mix products with different tax rates. Eg. 9% for food, and 21% for the remainder. I need the free shipping to trigger on the total amount includi

[2020-06-06 17:05] dianikol commented on #7869
I'm sorry but that's pathetic...

[2020-06-06 19:49] aliejaz55 opened #28596 "Magento give ERR_EMPTY_RESPONSE error when making customer segments"
### Preconditions (*)

1. Magento Version 2.3.0
2. Registered Customer count 8 million
3. Custom Attributes applied on customers

### Steps to reproduce (*)

1. Go to Customer Segments, Create New Segment.
2. Add Required Information for new segment.
3. Save the created segment.

### Actual result (*)

1. ![image](https://user-images.githubusercontent.com/22393364/83953101-123f9780-a857-11ea-916e-

[2020-06-06 21:11] katef commented on #6401
Thank you!

[2020-06-06 23:41] fruit-ninja opened #28597 "PayPal NVP CURL connection error #7"
### Preconditions (*)

1. 2.3.5p1
2. CentOS 8
3. PHP 7.3.18
4. Apache/2.4.37
5. 10.3.17-MariaDB MariaDB
### Steps to reproduce (*)

1. Add item to cart
2. Click cart, click proceed to checkout
3. Fill in info, select shipping option, click next
4. Click the radio button for PayPal Express Checkout
5. Click Continue to Paypal

### Expected result (*)

1. Redirected to Paypal to proceed with the che

[2020-06-06 23:45] fruit-ninja commented on #28597
@magento give me 2.3.5-develop instance

[2020-06-06 23:45] magento-engcom-team commented on #28597
Hi @fruit-ninja. Thank you for your request. I'm working on Magento 2.3.5-develop instance for you

[2020-06-06 23:56] fruit-ninja commented on #18089
Hey @aymansabi were you able to resolve this issue?

[2020-06-07 04:11] IgorM92 commented on #28479
@engcom-Echo could you help me with following question:
Does `product_type` and `type_id` product attributes get created with magento installation ?

[2020-06-07 05:57] ajijshekh123 commented on #28265
Hello @majidiyan,
This issue is not reproduced in the Latest Magento Instance as per the given steps, actual result and expected result.
please update description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)  and we will reopen it"

Thanks.

[2020-06-07 05:57] #28265 closed, assigned to ajijshekh123

[2020-06-07 08:36] majidiyan commented on #28265
The problem in on left arrow and right arrow of the pagination.
Make 200 children in a configuration product, put number of show in a page on 20 and try to come from page one to page two, you will see it is so slow and crashes your browser.

[2020-06-07 08:57] majidiyan commented on #28265
Dear friend, please explain them what I'm saying, they refused my ticket.

[2020-06-07 08:59] majidiyan commented on #28265
Dear friend, please explain them what I'm saying, they refused my issue.

[2020-06-07 08:59] krishprakash commented on #28593
Hi @pedroohsolucoes.
Kindly provide all the details steps to reproduce,actual result,expected result to reproduce this issue
Like what kind of rule you have created and how we can reproduce this issue
Thanks

[2020-06-07 09:22] majidiyan opened #28598 "Pagination arrows in Admin confugurable product edit, configurations tab"
### Preconditions (*)

1. A configurable product with about 200 children
2. Per page dropdown on 20

### Steps to reproduce (*)

1. Using pagination by left and right arrows, try to navigate from first page to second page
2.

### Expected result (*)

1. [Screenshots, logs or description]
2. I expect the second 20 children be shown

### Actual result (*)

1. [Screenshots, logs or description]
2. Fi

[2020-06-07 11:57] Serializator commented on #28320
@magento give me 2.4-develop instance

[2020-06-07 11:57] magento-engcom-team commented on #28320
Hi @Serializator. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-07 11:59] abhaykhatariya commented on #19710
If anyone facing such issue with nginx server make sure that your image is pass through get.php

location ~/media/ {
   try_files $uri $uri/ /pub/get.php$is_args$args;
   }
or
location ~/media/ {
   try_files $uri $uri/ /get.php$is_args$args;
   }

Add this rule into nginx configuration file to resolve issue with on fly cache not generated

[2020-06-07 15:10] AntonEvers commented on #25670
Hi all, a PR related to this ticket was merged here: https://github.com/magento/magento2/commit/f442fa9a1f10cc566053e60ed6ae099a1664e61a. The internal ticket was closed after merging this PR.

[2020-06-07 17:57] sazo17 commented on #23729
I applied the revert.txt in my magento 2.3.4 and it works, but when a client creates his account he enters it without needing to confirm it, in my store I have activated the account confirmation and the confirmation email if it arrives, but when creating the account the clients access directly to your profile without confirming it

[2020-06-07 18:04] sazo17 commented on #28419
@paul-gene  I applied the revert.txt in my magento 2.3.4 and it works, but when a client creates his account he enters it without needing to confirm it, in my store I have activated the account confirmation and the confirmation email if it arrives, but when creating the account the clients access directly to your profile without confirming it

[2020-06-07 18:17] deepakpant91 opened #28600 "Advance reporting issue in magento 2.3.3"
### Preconditions (*)

1.version 2.3.3
2.

### Steps to reproduce (*)

1. I have added Magento Analytics and advance reproting is also enabled.
2.

### Expected result (*)

1. Advance reporting will work.
2.

### Actual result (*)

1. There is 401 error.And i am unable to see advance reporting.
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing

[2020-06-07 18:51] michalderlatka commented on #28562
Looks like it was already done in 4dcf4366112eda56257dcb7a736986aee17d5693 in 2.4-develop branch

[2020-06-07 19:13] paul-gene commented on #23729
@sazo17 so the patch file doesn't work properly?

[2020-06-07 20:27] andy17612 commented on #24696
@frilogg Do you have a solution?

[2020-06-07 21:01] omaxmo commented on #26295
@felly @PaulWatt @leonhelmus  Do you use the default theme(Applied Theme) for store view? This is a required step if you want a theme to be used on a storefront.

https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/themes/theme-apply.html

Please set ThemeC as default for store view. This is should fix the issue.

[2020-06-07 21:21] felly commented on #26295
Hi @omaxmo
the default/applied theme is (and should be) ThemeB - however the theme on some products should be ThemeC.

https://docs.magento.com/user-guide/catalog/settings-advanced-design.html
https://docs.magento.com/user-guide/catalog/product-scheduled-design-update.html

[2020-06-07 21:55] sazo17 commented on #23729
correct because if I check the box when creating an account, confirm the account, it does not wait for the client to confirm the account in their email

[2020-06-08 02:17] robsoned commented on #26896
Hey guys!
Is it going to be released only on magento 2.4.x or it will be also available in one of the magento 2.3.x versions. Thanks

[2020-06-08 04:04] tuyennn opened #28609 "Security - Referer link on header could be injected for XSS scripts"
### Preconditions (*)

1. Magento 2.3.4
2. Firefox browser
3. An application Security Testing Software: Burp Suite

### Steps to reproduce (*)

1. I recommend to use Firefox during the test >> go to setting >> Search for "Proxy"
2. Set proxy to localhost
![image](https://user-images.githubusercontent.com/4010395/83991296-7efd8380-a976-11ea-8318-1245f8c7c06a.png)
3. Configure Burp Suite >> Create n

[2020-06-08 04:07] pmgephart commented on #28482
Hi @swathishs and @magento-engcom-team,

I was able to reproduce this issue on our instance of Magento 2.3.5-p1. The error given was:

"Please enter a valid date."

In /vendor/magento/module-customer/Block/Widget/Dob.php I changed the line:

$escapedDateFormat = preg_replace('/[^MmDdYy\/\.\-]/', '', $dateFormat);

to:

$escapedDateFormat = 'M/dd/Y';

It seems the frontend validation wants this dat

[2020-06-08 04:22] swathishs commented on #28405
Hi @ldc321 , thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop and 2.3.5p1 develop an instance
If you'd like to update the issue, please reopen it.

[2020-06-08 04:23] #28405 closed, assigned to swathishs

[2020-06-08 04:24] swathishs commented on #28596
@magento give me 2.4-develop instance

[2020-06-08 04:24] magento-engcom-team commented on #28596
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-08 04:25] magento-engcom-team commented on #28596
Hi @swathishs, here is your [Magento instance](https://i-28596-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28596-2-4-develop.instances.magento-community.engineering/admin_ae34](https://i-28596-2-4-develop.instances.magento-community.engineering/admin_ae34)
Login: `ab0e1392` Password: `1c605971c739`
Instance will be terminated in up to 3 hours.

[2020-06-08 04:33] ajijshekh123 commented on #28265
Hello @majidiyan,
I am talking about the Magento Issue format. Please follow the Magento Issue reporting guideline.
See the link:
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Let me verify this issue again and update you.
Thanks for the Update.

[2020-06-08 04:57] swathishs commented on #28589
@magento give me 2.3.5-p1 instance

[2020-06-08 04:57] magento-engcom-team commented on #28589
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-08 04:58] magento-engcom-team commented on #28589
Hi @swathishs, here is your [Magento instance](https://i-28589-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28589-2-3-5-p1.instances.magento-community.engineering/admin_c9d0](https://i-28589-2-3-5-p1.instances.magento-community.engineering/admin_c9d0)
Login: `9d34f4f0` Password: `1d961b89cde3`
Instance will be terminated in up to 3 hours.

[2020-06-08 05:09] muzamalhafiz422 commented on #28509
I think there was an issue with json_encoding. When I debug the program, I found that there is a method called `$block->getSerializedCheckoutConfig()` in vendor/magento/module-checkout/view/frontend/templates/cart/shipping.phtml which returned false and due to this an error occurred which is _**window.checkoutConfig = ; syntax error**_  and the components unable to load. So when I replaced the lin

[2020-06-08 05:11] swathishs commented on #28589
@jstrzz: Issue is not reproducible in Magento 2.4 develop instance
Please find the attachment below:
1. **Store view:**
![image](https://user-images.githubusercontent.com/58288685/83994482-33e27100-a974-11ea-9713-bffe8559a1fa.png)

2. Before setting "Enabled to checkout"- "No":
![image](https://user-images.githubusercontent.com/58288685/83994559-6a1ff080-a974-11ea-92a5-fd93e9ac3f0a.png)

3. After

[2020-06-08 05:17] swathishs commented on #28589
@jstrzz: Issue is not reproducible in Magento 2.3.5-p1 instance
Please find the attachment below:

1. **Store view:**
![image](https://user-images.githubusercontent.com/58288685/83994851-3db8a400-a975-11ea-8fa9-78fbecda05f7.png)

2. **Before setting "Enabled to checkout"- "YES":**
![image](https://user-images.githubusercontent.com/58288685/83994877-532dce00-a975-11ea-847c-46e9fbad803d.png)

3. **A

[2020-06-08 06:22] sambath1293 commented on #28600
@magento give me 2.3.3 instance

[2020-06-08 06:22] magento-engcom-team commented on #28600
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-06-08 06:24] magento-engcom-team commented on #28600
Hi @sambath1293, here is your [Magento instance](https://i-28600-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-28600-2-3-3.instances.magento-community.engineering/admin_e1b6](https://i-28600-2-3-3.instances.magento-community.engineering/admin_e1b6)
Login: `bc00acbb` Password: `a3ad0545cab0`
Instance will be terminated in up to 3 hours.

[2020-06-08 06:26] joinso opened #28610 "Upgrade from Magento 2.3.3 to 2.3.5: Unknown column 'custom_layout_update_file'"
### Preconditions (*)

1. Upgrade from Magento 2.3.3 to Magento 2.3.5
2. PHP 7.3.18

### Steps to reproduce (*)

1. After upgrade edit any category and save.
2. No error in admin.
3. Clean Cache.
4. Visit category: changes not shown.

### Expected result (*)

1. Category updated.
2.

### Actual result (*)

1. In var/log/exception.log
[2020-06-08 05:59:54] main.CRITICAL: SQLSTATE[42S22]: Column not

[2020-06-08 06:36] sambath1293 commented on #28600
@magento give me 2.4-develop instance

[2020-06-08 06:36] magento-engcom-team commented on #28600
Hi @sambath1293. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-08 06:38] magento-engcom-team commented on #28600
Hi @sambath1293, here is your [Magento instance](https://i-28600-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28600-2-4-develop.instances.magento-community.engineering/admin_2dc2](https://i-28600-2-4-develop.instances.magento-community.engineering/admin_2dc2)
Login: `a48e8638` Password: `9e1c012be23d`
Instance will be terminated in up to 3 hours.

[2020-06-08 06:41] bernd-reindl commented on #7199
Still in 2.3.5-p1

[2020-06-08 07:01] subash-natarajan opened #28611 "Email template type not working"
### Preconditions (*)

1. Magento 2.3.3p1

### Steps to reproduce (*)

1. Create a custom email template using email_templates.xml
2. Set the template type as text in email_templates.xml.
`<template id="order_email_template"
              label="Order Email"
              file="orders_email_template.html"
              type="text"
              module="xxx_yyy"
              area="adminhtml"
    /

[2020-06-08 07:09] Yuwei9291 opened #28612 "Tier price some times show and some times not displayed"
### Preconditions (*)

1.Magento 2.3.5-p1
2.Production mode

### Steps to reproduce (*)

1.upload simple products and add to configurable product.
2.upload advanced price
2.go to configurable product

### Expected result (*)

1. Show tier price under price in product page
![expect](https://user-images.githubusercontent.com/45879513/84001005-5d14f880-a998-11ea-85a1-860d990e2221.png)

### Actual res

[2020-06-08 07:10] swathishs commented on #28544
@HoaND-Magezon : Issue is not reproducible in Magento 2.4 develop instance
Please find the attachment below:

1. Product:
![image](https://user-images.githubusercontent.com/58288685/84001887-28e40c80-a985-11ea-8abe-bc9f59407984.png)

2. XML:
![image](https://user-images.githubusercontent.com/58288685/84001908-30a3b100-a985-11ea-95d7-eadf2de5907e.png)

![image](https://user-images.githubusercontent

[2020-06-08 07:28] swathishs commented on #28544
@HoaND-Magezon : Issue is reproducible in Magento 2.3.5-p1 instance
Please find the attachment below:

1**.Product:**
![image](https://user-images.githubusercontent.com/58288685/84003416-a27cfa00-a987-11ea-9bf7-bf91dee6a547.png)

2. **XML:**
![image](https://user-images.githubusercontent.com/58288685/84003481-bcb6d800-a987-11ea-873a-1cf4befb04f1.png)

[2020-06-08 07:30] swathishs commented on #28544
Can be reproduced only on 2.3.5p1 but not on 2.4 develop instance

[2020-06-08 07:31] magento-engcom-team commented on #28544
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35010` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-08 07:38] swathishs commented on #28596
Since the customer segment option is not available in Magento CE. Hence the issue should be tested on Magento EE

Hi @aliejaz55 , all issue specific for Magento EE should be reported in the EE repo

@sdzhepa - It seems this issue specific for Magento EE and should be fixed in the EE repository.

EngCom team, please confirm and transfer this issue too-
 https://github.com/magento/partners-magento2e

[2020-06-08 07:38] #28596 closed

[2020-06-08 08:00] paul-gene commented on #23729
@LukasKiederle seems that your patch might not be the solution?

[2020-06-08 08:32] munkhulzii commented on #28576
@magento I am working on this

[2020-06-08 08:48] sangthieu commented on #23410
I got problem with angular file (main.bundle.js)
#12 /httpdocs/vendor/magento/module-deploy/Service/DeployPackage.php(184): Magento\Deploy\Service\DeployStaticFile->deployFile('js/main.bundle....', Array)

[2020-06-08 09:00] aliejaz55 commented on #28596
Yes this is issue is on magento commerce.

[2020-06-08 09:42] amenk commented on #27224
*bump*

[2020-06-08 09:56] TheRealHunzik opened #28613 "Product stock is accepting negative Number in Product Form"
### Preconditions (*)

1.  Magneto 2.3.5-p1
2.  Apache2
3.  PHP 7.2
4.  Ubuntu 16.04

### Steps to reproduce (*)

1. Log in to Admin Dashboard
2. Catalog -> Product -> Add New Product -> Add Product with Quantity -20

### Expected result (*)

1. It Should Give A Validation Error that Stock cannot be a Negative Number

### Actual result (*)

1. Product is Saving with Stock = -20

---
Please provide

[2020-06-08 11:25] krishprakash commented on #28613
Hi @TheRealHunzik. This is native magento behavior not an issue.
Admin should set the negative number for out of stock threshold
https://docs.magento.com/user-guide/catalog/inventory-backorders.html#out-of-stock-threshold
https://github.com/magento/magento2/issues/9139
Kindly refer above links
Thanks !!

[2020-06-08 11:25] #28613 closed, assigned to krishprakash

[2020-06-08 11:25] michalderlatka commented on #28561
@magento give me 2.4-develop instance

[2020-06-08 11:25] magento-engcom-team commented on #28561
Hi @michalderlatka. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-08 11:26] magento-engcom-team commented on #28561
Hi @michalderlatka, here is your [Magento instance](https://i-28561-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28561-2-4-develop.instances.magento-community.engineering/admin_2038](https://i-28561-2-4-develop.instances.magento-community.engineering/admin_2038)
Login: `fc88d7e7` Password: `1f98a19bfffd`
Instance will be terminated in up to 3 hours.

[2020-06-08 11:30] eurobeautiful opened #28614 "Carding Attack"
My store has been the target of several carding attacks in the last few weeks, growing in intensity and sophistication. Thousands of credit cards (presumably stolen numbers) are "tested" using a single guest cart on my store.

Initially we were manually blocking IP addresses after receiving the Payment Transaction Fail email notices, and increased Cloudflare security level. When the attacks became

[2020-06-08 11:32] eurobeautiful commented on #28614
I'd ask someone from the community familiar with this type of issue to help with reproducing it on a vanilla installation. I don't know how to generate a carding attack.

[2020-06-08 11:42] krishprakash commented on #28557
Hi @nayanserver. Thank you for your report.
Data migration from magento 1 should be reported to its separate repository
https://github.com/magento/data-migration-tool/issues
Kindly report the issue their

[2020-06-08 11:42] #28557 closed, assigned to krishprakash

[2020-06-08 12:18] mischabraam commented on #26308
https://github.com/weprovide/magento2-module-sessioncleaner
This might help.

[2020-06-08 12:29] ralbin commented on #28582
@magento give me 2.4-develop instance

[2020-06-08 12:29] magento-engcom-team commented on #28582
Hi @ralbin. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-08 12:29] ralbin commented on #28582
@magento I am working on this

[2020-06-08 12:30] ralbin commented on #28582
@magento I am working on this

[2020-06-08 12:31] magento-engcom-team commented on #28582
Hi @ralbin, here is your [Magento instance](https://i-28582-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28582-2-4-develop.instances.magento-community.engineering/admin_a2f0](https://i-28582-2-4-develop.instances.magento-community.engineering/admin_a2f0)
Login: `9d299fc6` Password: `07e856709cb5`
Instance will be terminated in up to 3 hours.

[2020-06-08 12:37] AnnaShepa commented on #28598
@magento give me 2.4-develop instance

[2020-06-08 12:37] magento-engcom-team commented on #28598
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-08 12:39] magento-engcom-team commented on #28598
Hi @AnnaShepa, here is your [Magento instance](https://i-28598-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28598-2-4-develop.instances.magento-community.engineering/admin_d360](https://i-28598-2-4-develop.instances.magento-community.engineering/admin_d360)
Login: `0426f5bb` Password: `f8ff56ea623c`
Instance will be terminated in up to 3 hours.

[2020-06-08 12:52] AnnaShepa commented on #28598
Hi @majidiyan thank you for the report. I tried to reproduce your case and managed to navigate between more than 1000 children, so it looks like performance problem on your machine

[2020-06-08 12:52] #28598 closed, assigned to nobody

[2020-06-08 13:01] sumeet-mis opened #28616 "Magento 2 admin Uncaught TypeError: this.linksFieldset(…).visible is not a function"
### Preconditions (*)

1. Magento : 2.3.5
2. Fresh install of M2

### Steps to reproduce (*)

1.When we edit product from admin then its loader continue showing and also getting this error
`"Uncaught TypeError: this.linksFieldset(...).visible is not a function"`
is showing error in console. For others product opens without any error.

### Expected result (*)

1. Admin product edit page will open w

[2020-06-08 13:02] amenk commented on #26308
@mischabraam Thank you the module :)

I just realized that it might be an option to store the sessions in Redis as well ...

[2020-06-08 13:10] MobiphoneNL commented on #28600
Hi, Im having issues with advanced reporting as well and I thought to share some stuff I found out which might be useful to you.
First of all, the call to rjmetrics server uses a OneTimePass(OTP) so if you first get a 404 and then refresh the page you will get 401. So it might be due to you refreshing the page after a 404. If that it not the case then I would advise you to check the the Integratio

[2020-06-08 13:15] sasha19957099 commented on #28577
@magento I am working on this

[2020-06-08 13:17] sasha19957099 commented on #28577
@magento I am working on this

[2020-06-08 13:42] majidiyan commented on #28598
I checked, It now works fine, please give me changed codes you commited. ))

[2020-06-08 14:02] janssensjelle opened #28617 "Not much saying error ScopedTierPriceManagement::add"
### Preconditions (*)

1. 2.3.4-p2

### Steps to reproduce (*)
Programatically create tier prices via ScopedTierPriceManagement::add

### Expected result (*)
1. Error message that explains why it failed to add the tier price.
1. h3. Actual result (*)
1. Very confusing error message: The group price couldn't be saved.

##
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor

[2020-06-08 14:05] janssensjelle commented on #28617
@magento I am working on this

[2020-06-08 14:09] danielrenaud commented on #28568
@gallyamov This ticket seems to be related, and maybe the same issue: https://github.com/magento/magento2/issues/28568

[2020-06-08 14:09] maderlock commented on #22525
I'll raise a separate ticket for this, but it's worth pointing out that even after this fix the check for the merchant country will still be done for store id = 1 instead of the current store, so if your store ID 1 uses a different account for PayPal then you will not be able to see PayPal credit on any store on your site.

[2020-06-08 15:08] gustavo807 commented on #4911
@channel please check here https://digitalstartup.co.uk/t/how-to-diagnose-and-fix-ownerships-and-permission-issues/211

The problem is in the cron task.

Solution:
 Remove the cron task for no authorized users with the command "crontab -e". Only one user from the group www-data should have the cron:install

[2020-06-08 15:33] rakhi98 opened #28618 "[2.3.5-p2 only] Special price range settings (from/to dates) is not work correctly for administrator accounts using a Korean locale."
### Preconditions (*)
- Repro on 2.3.5-p2 - YES
- Repro on `2.4-develop` - NO
- Repro on 2.4.0 - NO

### Steps to reproduce (*)

- System->Permission->All user->Open admin account ->update Interface Locale to->Korean(South Korea).
![image](https://user-images.githubusercontent.com/51681379/90517659-5b249e00-e16e-11ea-8b0c-43b0f308d528.png)

- Now come to new product form or edit product form and f

[2020-06-08 15:40] ymerfeld opened #28619 "Paypal won't go through properly since upgrade to 2.3.4"
Since our Magento upgrade to 2.3.4, Paypal payments are unable to work and we had to disable it, customers used to flawlessly pay via Paypal but the checkout breaks at paypal step now.
### Preconditions (*)

Magento version 2.3.4
PayPal Express Checkout with the In-Context option enabled

### Steps to reproduce (*)

Add a product to cart, proceed to checkout, select Paypal as a payment method, cli

[2020-06-08 15:41] ymerfeld commented on #28619
@magento give me 2.4-develop instance

[2020-06-08 15:41] magento-engcom-team commented on #28619
Hi @ymerfeld. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-08 15:43] magento-engcom-team commented on #28619
Hi @ymerfeld, here is your [Magento instance](https://i-28619-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28619-2-4-develop.instances.magento-community.engineering/admin_afcd](https://i-28619-2-4-develop.instances.magento-community.engineering/admin_afcd)
Login: `5d735f35` Password: `9de76bafb934`
Instance will be terminated in up to 3 hours.

[2020-06-08 15:48] ymerfeld commented on #28619
@magento give me 2.3.4 instance

[2020-06-08 15:48] magento-engcom-team commented on #28619
Hi @ymerfeld. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-06-08 15:50] magento-engcom-team commented on #28619
Hi @ymerfeld, here is your [Magento instance](https://i-28619-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-28619-2-3-4.instances.magento-community.engineering/admin_93d3](https://i-28619-2-3-4.instances.magento-community.engineering/admin_93d3)
Login: `f0def24f` Password: `71807b50f226`
Instance will be terminated in up to 3 hours.

[2020-06-08 16:04] AbdulRahmanAbouzaid commented on #28479
@IgorM92 @swathishs @engcom-Echo
I think that `product_type` and `type_id` are both used to describe the product type (simple, Downloadable, ..... ).
The `type_id` can be found as a column in `catalog_product_entity` table which used as `product_type` in many places in code and import/export operations. So they look like **reserved keys** that cannot be used in naming custom attributes.

So I thin

[2020-06-08 16:05] jstrzz commented on #28589
Your examples are 2.4, and 2.3.5 but I'm working with Magento CE 2.3.3

[2020-06-08 16:09] Eddcapone opened #28620 "Not possible to see reviews for configurable products"
### Preconditions (*)

1. Magento Enterprise 2.3.5-p1
2. Luma default Theme, Fresh Shop with migrated data from M1 shop (migrated by using the official tool)

### Steps to reproduce (*)

1. Add a review to a configurable product
2. Approve the review.
3. Reload product site
4. Try to find the review

![image](https://user-images.githubusercontent.com/16349349/84053991-00730700-a9b3-11ea-8670-e2280

[2020-06-08 16:14] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-06-08 16:14] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-08 16:18] LLudas commented on #28092
Hello,
this have nothing to do with paypal. I guess that this is checkout problem. But I can't figure out where yet.
We have upgraded from Magento Comunity 2.3.4 to 2.3.5 and since first minute this issue didn't gone.

Here's the link to the video how everything is happening:

https://drive.google.com/file/d/1r20BS66GVjfGLwcBuWPiBIXSnqI2d1ms/view?usp=sharing

Email order is being sent but not poss

[2020-06-08 17:10] trapchik commented on #15545
anything else need to be done after applying your patch?

thanks

[2020-06-08 17:36] ghost opened #28622 "Addressing Discriminatory Language in Technology"
This issue is automatically created based on existing pull request: magento/magento2#28615: Addressing Discriminatory Language in Technology

---------
### Description (*)
**Blacklist** and **Whitelist** has negative and abusive correlations and is considered as racism. Thus, we should immediately replace these with `allow` and `deny` list.

Due to some technical issues, not all occurrences can be

[2020-06-08 17:41] mcleanvaimo commented on #27889
We have this same issue and I believe I can see why it is happening.

When the CSRF validator generates this message, the translation area has not yet been initialised. So the class `\Magento\Framework\Phrase` still only has the renderer `Magento\Framework\Phrase\Renderer\Placeholder` which doesn't apply translations.

If you look in `\Magento\Framework\App\Area::_initTranslate` you can see that t

[2020-06-08 17:55] HenKun opened #28624 "Critical CSS path feature does not match stylesheets"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Enable critial CSS path feature dev/css/use_css_critical_path

### Steps to reproduce (*)

1. Enable critial CSS path feature dev/css/use_css_critical_path
2. Add critical.css to theme
3. Clear chaches, deploy, etc,
4. Open a random page of the shop

### Expected result (*)

1. Critical CSS is inlined
2. all <link rel="stylesheet" ..> tags are moved fr

[2020-06-08 17:58] janssensjelle commented on #28617
@magento I am working on this

[2020-06-08 18:02] sdzhepa commented on #28596
Hello @aliejaz55

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Mage

[2020-06-08 18:43] JustICTNL commented on #26675
This works now for me. i updgraded to Magento 2.3.5-P1 and now it works.
FInd the file with command:
find . -name Timezone.php
Result: ./vendor/magento/framework/Stdlib/DateTime/Timezone.php

I changed above in ./vendor/magento/framework/Stdlib/DateTime/Timezone.php
And now it works :)

[2020-06-08 19:02] fabriciosobral commented on #28619
@magento give me 2.3.5 instance

[2020-06-08 19:02] magento-engcom-team commented on #28619
Hi @fabriciosobral. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-06-08 19:03] magento-engcom-team commented on #28619
Hi @fabriciosobral, here is your [Magento instance](https://i-28619-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-28619-2-3-5.instances.magento-community.engineering/admin_b87a](https://i-28619-2-3-5.instances.magento-community.engineering/admin_b87a)
Login: `abc8b34d` Password: `78a34c052a87`
Instance will be terminated in up to 3 hours.

[2020-06-08 19:08] chandu-pinpoint commented on #28482
@magento I am working on this

[2020-06-08 19:16] ghost opened #28625 "[Issue] Cleanup html class duplicate"
This issue is automatically created based on existing pull request: magento/magento2#28623: Cleanup html class duplicate

---------

### Description (*)

Clean up class html
block class should be represent correct context inside
### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comm

[2020-06-08 19:23] michalderlatka commented on #28561
@nrkapoor do you want CORS headers to be fully configurable from admin panel, so administrator will be able to specify which domains are allowed to make CORS request? or just add wildcard *?

[2020-06-08 20:10] nrkapoor commented on #28561
@michalderlatka We want it configurable via the admin panel. + @maghamed Can you confirm?

[2020-06-08 21:28] Jojohomefries commented on #21602
Why is this issue closed, it is still happening

[2020-06-08 21:32] rafaelstz commented on #25542
This solution worked for me 🎉 !
In the EmailMessage class `vendor/magento/framework/Mail/EmailMessage.php` the encoding can be set if passed in an argument in the constructor, but it is **null by default**.

[code]

So, I think the best practice use type in di.xml in your module without rewrite and plugins.

[code]
Reference: https://magento.stackexchange.com/a/306638/16416

[2020-06-08 22:11] chequille commented on #28092
@LLudas
Hi, but this must be some other problems, as on my site the purchase finished. And as you see in my video above, there is only the error message shown when PayPal is used as payment method. When using f.e. banktransfer the error does not occur.

Did you check the error logs? It might be some incomatibility with your theme or used extensions.
So on my site, it is definetely only with paypal

[2020-06-09 00:25] VladimirZaets commented on #28625
@magento i am working on it

[2020-06-09 00:29] fisal77 commented on #21780
Dear @yogeshkhasturi  I've DHL test account but the DHL team request me to print 2 AWBs printed in PDF format from my website but the response not appears same as your problem. So the AWBs unable to generate. How I can  get the DHL production account ?

[2020-06-09 01:47] mrtuvn commented on #28556
Can you inspect on element page-wrapper by dev tools ? Post your screenshot show applied styles

[2020-06-09 03:02] wadrajab opened #28626 "issue with magento to"
Hello Everyone,

I'm trying to open Magento from a local server ( XAMPP ) but this error keeps showing for me

any ideas how can I solve this issue?

Fatal error: Uncaught ReflectionException: Class Magento\Framework\App\ResourceConnection\Proxy does not exist in /Applications/XAMPP/xamppfiles/htdocs/world/vendor/magento/framework/Code/Reader/ClassReader.php:26 Stack trace: #0 /Applications/XAMPP/

[2020-06-09 03:15] HoaND-Magezon commented on #28544
Thanks, @swathishs. I removed, renamed all product have &trade; and &reg; in title And now sitemap working fine! :100:

[2020-06-09 03:36] VladimirZaets commented on #28625
@magento i am working on it

[2020-06-09 03:44] m2-assistant[bot] opened #28627 "[Issue] Improvement thumbnail grid wrap images"
This issue is automatically created based on existing pull request: magento/magento2#28621: Improvement thumbnail grid wrap images

---------

### Description (*)

Just small changes aims to improve markup allow customise easier for thumbnail in case we need add some changes to image thumbnail
Introduce class wrapper container around image
Example case: circular thumbnail
### Related Pull Requests

[2020-06-09 03:53] nrkapoor opened #28628 "GraphQL price range numeric values"
In order to support a price range slider, price intervals returned in a product aggregation should be numeric only (no wildcards).

Current price aggregation response:

{
  "options": [
    {
      "count": 1,
      "label": "60-70",
      "value": "60_70"
    },
    {
      "count": 2,
      "label": "90-*",
      "value": "90_*"
    }
  ],
  "attribute_code": "price",
  "count": 5,
  "label": "P

[2020-06-09 05:36] swathishs commented on #28589
Hi @jstrzz , According contributor's guide Magento is focusing development efforts on v2.4.

[2020-06-09 05:39] deepaksnair commented on #28132
Hello @jorgb90 , having same issue , able to create order from frontend but from admin same error log comes. I have checked that Klarna_Kp version 6.4.1 is working fine but issue is in version 6.5.0, not sure where it happened in between.
![Screenshot from 2020-06-08 20-42-41](https://user-images.githubusercontent.com/36736404/84109978-9786a000-aa41-11ea-8e4b-1d2e2b6c068c.png)

[2020-06-09 06:29] vertic4l commented on #19670
Why is this closed ? It's still an issue magento 2.3.5-p1

[2020-06-09 06:38] mattyl commented on #19670
My issue turned out to be nginx settings on plesk - it worked better with apache and using the pleask settings to keep proxy mode on solved the issue for me. I am sure someone could make the nginx configuration work so the permission were correct for on the fly file creation but i found the combo of plesk and nginx extremely cumbersome.

[2020-06-09 06:39] mattyl commented on #19670
that doesnt address how poor the command catalog:image:resize is, but it doesnt look like anyone wants to invest time improving that.

[2020-06-09 07:11] hemendraajmera opened #28630 "Unable to remove product from minicart"
### Preconditions (*)

1. Using Magento 2.3.5-p1
2.

### Steps to reproduce (*)

1. added product from category page
2. remove the product  from mini cart popup

### Expected result (*)

1. product removed from popup and update cart counter
2.

### Actual result (*)

1. not removed product from mini cart
2.  Checked in developer tool URL checkout/sidebar/removeItem/ status 302

![image](https://us

[2020-06-09 07:12] hemendraajmera commented on #28630
@magento give me 2.4-develop instance

[2020-06-09 07:12] magento-engcom-team commented on #28630
Hi @hemendraajmera. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-09 07:13] magento-engcom-team commented on #28630
Hi @hemendraajmera, here is your [Magento instance](https://i-28630-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28630-2-4-develop.instances.magento-community.engineering/admin_01e4](https://i-28630-2-4-develop.instances.magento-community.engineering/admin_01e4)
Login: `a77dd8dc` Password: `0e4585618d0d`
Instance will be terminated in up to 3 hours.

[2020-06-09 07:36] LukasKiederle commented on #23729
I will check again

[2020-06-09 07:45] LukasKiederle commented on #23729
I can confirm the statement from @sazo17 . The revert.txt does not fix the problem completely. The customer doesn't have to confirm the email when account confirmation is activated.

[2020-06-09 08:00] swathishs commented on #28630
@hemendraajmera : Issue is not reproducible in  Magento 2.4 develop instance.

 Please find the attachment below:
1. **Console:**
![image](https://user-images.githubusercontent.com/58288685/84121739-2a7d0580-aa55-11ea-9e11-a8ceb862cd07.png)

2. **Remove cart from the mini cart:**
![hBJbnjE0f8](https://user-images.githubusercontent.com/58288685/84121895-4f717880-aa55-11ea-9fdc-a4279ccef0c0.gif)

[2020-06-09 08:23] sumeet-mis commented on #28616
@krishprakash Did you checked ?
Is there any update regarding the same ?

[2020-06-09 08:58] vertic4l commented on #19710
Having this issue in magento 2.3.5-p1.

Generated hashes doesn't fit with the set hashes in pub/media/catalog/product/cache

[2020-06-09 09:07] avoelkl commented on #25048
I was just able to reproduce this (read: run into this issue) on a Magento 2.3.5 instance with 90 custom attributes.

[2020-06-09 09:44] btekbtek commented on #28614
Typing few times wrong cards numbers can simulate this.
We had this issue but looks like people check cards on magento stores, so they can use cards in ATM. A lot of payments was successful. They always used same quote - cheaper product.

On first step we made to block requests after 3 times for not logged and 7 for logged customers in PaymentInformationManagment.php and QuestPaymentInformationMan

[2020-06-09 11:06] LukasKiederle commented on #28419
As I already mentioned in https://github.com/magento/magento2/issues/23729, I can reproduce it in 2.3.5 and 2.3.5p1

[2020-06-09 11:23] BarnyShergold opened #28633 "URL Regeneration Fails on Store-Level URL Keys - Products"
### Preconditions (*)

1. Magento 2.3.5-p1 (Cloud Edition)
2. Magento 2.4-develop

### Steps to reproduce (*)

We have a module that will regenerate the URLs of products enmasse - this is useful for many reasons but we have discovered that on a site where Store Views use different URL keys (category) incorrect URLs can be generated. This occurs when product URLS contain category URLs.

The module

[2020-06-09 11:25] mrtuvn opened #28634 "Thumbnail product image in checkout page order summary too big"
### Preconditions (*)

1. 2.4.0
2. sample data installed

### Steps to reproduce (*)

1. Add product to cart
2. Go to checkout page

### Expected result (*)

1. [Screenshots, logs or description]
2. Image size idealy will be 75x75

### Actual result (*)

1. [Screenshots, logs or description]
2. Image size 150x150

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-gu