[2020-01-02 15:58] justinharris1986 commented on #26221
@magento give me 2.4-develop instance

[2020-01-02 15:59] magento-engcom-team commented on #26221
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-02 15:59] magento-engcom-team commented on #26221
Hi @justinharris1986, here is your [Magento instance](https://i-26221-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26221-2-4-develop.instances.magento-community.engineering/admin](https://i-26221-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-02 16:05] justinharris1986 commented on #26221
yes I can recreate this in 2.4-develop:
![image](https://user-images.githubusercontent.com/7268384/71676963-811c4000-2d4f-11ea-9f36-f936793a8d05.png)

I CAN Confirm that this issue was NOT present in 2.2.8:
![image](https://user-images.githubusercontent.com/7268384/71677075-d3f5f780-2d4f-11ea-8462-4ec79623e8c7.png)

[2020-01-02 16:20] 0x15f commented on #8770
Error is persistent on 2.3.3, I've attached a patch from @maartenwolfsen's fix that worked.
[CatalogImagesResize.patch.txt](https://github.com/magento/magento2/files/4016506/CatalogImagesResize.patch.txt)

[2020-01-02 16:26] justinharris1986 commented on #26221
I can confirm that this does not exist in 2.3.0:
![image](https://user-images.githubusercontent.com/7268384/71677676-706cc980-2d51-11ea-9092-df52c3bd15ea.png)
I dont have any other versions in my dev environment to test on

[2020-01-02 16:28] rogyar commented on #26224
Hi folks. I can confirm that this issue appears. But is there a use case for a cache definition without an implementation? I mean, maybe it's better to throw an exception to notify the developer that the parameter is missing than silently accept the "ghost" cache type?

[2020-01-02 16:41] Serializator commented on #26224
Hi @rogyar, I think there are two possible solutions to the problem and it depends on what the leading factor is.

If you take the XSD as "source of truth" (or whatever you wanna call it, hahah) it shouldn't throw the exception. If you take the implementation as the leading factor the XSD should be updated and make the "instance" parameter required.

I talked a little with @eduard13 in the Magento

[2020-01-02 16:41] kassner commented on #26194
@augrinovska

The *Actual result* has two lines, the first one being:

[code]

Because that class doesn't exist, the model generation for the second one fails as well. It has nothing to do with the permissions, the second error happens because it was trying to read the class from the `generated` folder and it wasn't there, because it failed while generating the previous class.

In any case, this c

[2020-01-02 16:48] justinharris1986 commented on #26221
I can confirm that this does not exist in 2.3.1:
![image](https://user-images.githubusercontent.com/7268384/71679518-bd529f00-2d55-11ea-8e5e-d225c35ad91d.png)

[2020-01-02 17:55] justinharris1986 commented on #26221
I can confirm this issue appears in 2.3.2:
![image](https://user-images.githubusercontent.com/7268384/71682908-0f4bf280-2d5f-11ea-9b83-5a3c4acd46d4.png)

so the issue appeared between the releases of 2.3.1 and 2.3.2

[2020-01-02 18:27] justinharris1986 commented on #26221
Appears to be because of commit https://github.com/magento/magento2/commit/1b6d64c316251604228c32667235b1df9467e0b8

I rolled back this XML File and it fixed the issue:
https://github.com/magento/magento2/commit/1b6d64c316251604228c32667235b1df9467e0b8#diff-0728831e0892a2382dc5fa797976f1d8

[2020-01-02 18:37] techd7 commented on #10162
We are using payu plugin in magento 2.3.3 the movement the it goes to the payment gateway page the order confirmation mail is sent out

We need to know how we can get this working to send mail only after payment confirmation

I se that the above solution working for lower version but not for  2.3.3 do you have any support on this ?

[2020-01-02 18:47] techd7 commented on #9737
We are using payu plugin in magento 2.3.3 the movement the it goes to the payment gateway page the order confirmation mail is sent out

We need to know how we can get this working to send mail only after payment confirmation

I se that the above solution working for lower version but not for  2.3.3 do you have any support on this ? http://www.tecsilk.com

[2020-01-02 18:49] justinharris1986 commented on #26221
Closing this as it is a duplicate of #24422

[2020-01-02 18:49] #26221 closed, assigned to nobody

[2020-01-02 18:53] justinharris1986 commented on #24422
Throwing my two cents in: This is also causing a problem for us. @magento-engcom-team any idea why this was included? Referencing internal tickets is useless to the community.

[2020-01-02 18:58] dmytro-ch commented on #26227
Hello @hitesh-wagento, the minor improvements do not require a separate issue to be created.
Feel free to create a PR only.

[2020-01-02 18:58] #26227 closed, assigned to dmytro-ch, hitesh-wagento, krishprakash

[2020-01-02 19:04] bradjones1 commented on #12124
As an update to https://github.com/magento/magento2/issues/12124#issuecomment-530159163, Google postponed the automatic upgrade of second-gen instances to disk-based replication, but the following was sent Dec. 11 to second-gen instance owners:

So, there's a firm date at least for a change. There is an option to upgrade manually before then, though HA config owners lose the "free" year of a read

[2020-01-02 19:10] bradjones1 commented on #15209
This probably most seriously impacts Google Cloud SQL users; there is a notable event with the EOL of first-generation instances which did not utilize binary logging for HA replication on March 5. See https://github.com/magento/magento2/issues/12124#issuecomment-570308153 for a more complete write-up.

@magento-engcom-team, per https://github.com/magento/magento2/issues/15209#issuecomment-45263423

[2020-01-02 19:15] dmytro-ch commented on #26226
Hello, @hitesh-wagento, this is a pretty common and minor issue, which depends on many factors such as browser, OS, etc. No need to report and apply the fixes for each form separately.
It should be fixed globally if it even needs to be fixed...
Thank you!

[2020-01-02 19:15] #26226 closed, assigned to dmytro-ch, hitesh-wagento, krishprakash

[2020-01-02 19:24] dmytro-ch commented on #26229
Hi @rav-redchamps, thank for your report.
Feel free to create the pull requests for minor fixes and obvious improvements without opening the issues.

Thank you!

[2020-01-02 19:30] fascinosum commented on #23251
Hi @scottsb,
we recommend the following deployment flow:

- `composer install`
- `bin/magento setup:di:compile`
- `composer dump-autoload -o `

We are not going to add additional magic to handle the case without `composer install`

[2020-01-02 20:21] WinstonN opened #26243 "Website / Store scope for associated products of config products"
### Description (*)
When you have a multi store setup, it would be beneficial to be able to set associated products of a configurable product per website / store
Currently this cannot be done

### Expected behavior (*)
1. Within the Magento Admin navigate to a configurable product
2. Drop down to the correct website / store scope
3. Navigate to Configurations, and set associated products of config

[2020-01-02 21:31] foreverhydrox opened #26244 "Declined Transaction / Remove Duplicate Orders"
This is intended to be a follow up of complaints people have had with declined issues as seen here .
This will sound super picky, but when you do all of your sales online and have high volume, it becomes very cluttered and difficult to handle.

Using our company's process for example: we require every end of AVS available since the dollar of our products are typically close or over $1,000 USD.

Wh

[2020-01-02 21:47] WinstonN commented on #26243
@magento give me 2.4-develop instance

[2020-01-02 21:47] magento-engcom-team commented on #26243
Hi @WinstonN. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-02 21:48] magento-engcom-team commented on #26243
Hi @WinstonN, here is your [Magento instance](https://i-26243-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26243-2-4-develop.instances.magento-community.engineering/admin](https://i-26243-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-02 22:27] WinstonN commented on #26243
@magento-engcom-team  Issue can be reproduced on 2.4 develop

[2020-01-02 22:36] magento-engcom-team commented on #24526
Hi @rasmuswikman, @sdzhepa, @zhartaunik.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [0a16a89677bdbf88447fbcf1ce4b2e8c626783dd](https://github.com/magento/magento2/commit/0a16a89677bdbf88447fbcf1ce4b2e8c626783dd)
 - [0d9ce1fcd368adef6ffd3dd07f6a641b882b5fcb](https://g

[2020-01-02 23:03] atwixfirster opened #26245 "Magento does not send an email about a refunded grouped product"
### Preconditions (*)

1. Create an order with a **grouped** product
2. Create an invoice for your order

### Steps to reproduce (*)

1. Create a Credit Memo for your order and check "**Email Copy of Credit Memo**" option
2. Press "Refund Offline" button

<img width="1553" alt="26245_02" src="https://user-images.githubusercontent.com/13585327/71698746-4228d180-2dc5-11ea-9434-bb837e918a5f.png">

##

[2020-01-02 23:05] taoufiqaitali commented on #7298
still have this issue, this should not be closed

[2020-01-03 00:32] jalung commented on #21885
[Product-revised-version.txt](https://github.com/magento/magento2/files/4017828/Product-revised-version.txt)
Fixed case where CSV row has new and existing images.

[2020-01-03 03:20] VladimirZaets commented on #18717
Hi @sergeynezbritskiy. Thank you for your report.
The issue has been fixed in magento/magento2#25603 by @arendarenko in 2.4-develop branch
Related commit(s):
 - [0693cc2a75a1646080501176e24d3fd41a72a6b5](https://github.com/magento/magento2/commit/0693cc2a75a1646080501176e24d3fd41a72a6b5)
 - [19b7bdac3a33eb12395b9f362a7c03e013228cc8](https://github.com/magento/magento2/commit/19b7bdac3a33eb12395b9f

[2020-01-03 03:20] #18717 closed, assigned to sdzhepa, arendarenko

[2020-01-03 04:34] wagento-bhavin commented on #26092
Hi @salehawal
Please confirm which Magento version you are using (Open Source or Commerce). Store credit features not available in Open Source edition and that's the reason it gives error.

[2020-01-03 04:34] #26092 closed, assigned to wagento-bhavin

[2020-01-03 04:37] krishprakash commented on #26219
@magento give me 2.4-develop instance

[2020-01-03 04:37] magento-engcom-team commented on #26219
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-03 04:38] magento-engcom-team commented on #26219
Hi @krishprakash, here is your [Magento instance](https://i-26219-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26219-2-4-develop.instances.magento-community.engineering/admin](https://i-26219-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-03 04:50] krishprakash commented on #26219
Hi @adamstephenswod. Thank you for your report.
Not able to reproduce the issue as per description
Please refer below screencast:
https://www.screencast.com/t/oyeV7pSo7

[2020-01-03 04:50] #26219 closed, assigned to krishprakash

[2020-01-03 05:33] hitesh-wagento commented on #26156
I am working on this issue

[2020-01-03 05:42] hitesh-wagento commented on #26156
Hi  @magento-engcom-team

For the above issue we need a change in pub/media CSS can you please suggest how can I change in because its in **.gitignore** file

**/pub/media/styles.css**

Thanks

[2020-01-03 05:51] hitesh-wagento commented on #26135
HI @sdzhepa

Can I proceed with this new improvement?

Thanks

[2020-01-03 06:01] tejabhagavankollepara commented on #10588
Hello,
Thanks for the answer.

I am working on magento2.2.3.

It's worked for me. After my 3-4 days of searching, I found this one.

Beautiful. Thanks dear

[2020-01-03 06:01] tejabhagavankollepara commented on #10588
I am working on magento2.2.3.

It's worked for me. After my 3-4 days of searching, I found this one.

Beautiful. Thanks dear

[2020-01-03 06:16] hitesh-wagento commented on #25936
I am working on this issue

[2020-01-03 07:00] dmytro-ch commented on #26239
Hi @IvanSemerenko,
the Companies feature is not a part of Magento Open Source.

Please report Magento Commerce issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant. Or feel free to report the issue in the scope of the fork of Magento 2 B2B repository (partners only).
[magento/magento2](https://github.com/magento/magento2/) repositor

[2020-01-03 07:00] #26239 closed, assigned to dmytro-ch, rammohan-krish

[2020-01-03 07:02] magento-engcom-team commented on #26245
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30185` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-03 07:03] xtremeperf commented on #10588
You're welcome!  I'm glad the work-around has been able to mitigate this issue for those running on older versions.

The issue has been fixed in magento/magento2#14361 by @xtremeperf in 2.2-develop branch
Related commit(s):
 - [9baa83fca8a97fe4c0e02557246bdd6069a50b27](https://github.com/magento/magento2/commit/9baa83fca8a97fe4c0e02557246bdd6069a50b27)

[2020-01-03 08:17] engcom-Bravo commented on #26231
Hello @kkhebbar89
Thank you for your report.

We have rechecked this on Magento 2.4- develop with over 90 products in the Cart.
The processes take some time to accomplish, but not as much time as on the screenshots you've attached.
For example, the **Sign In** takes about 4 seconds, **Cart Checkout**, about 8 seconds, **Adding to Cart**, about 4 seconds.

Can you please confirm that you are experi

[2020-01-03 08:17] LEDSAVE commented on #17531
Hi @csimby

Did you eventually resolve this? I'm having the same issue....

Thanks

[2020-01-03 08:53] vtransy commented on #7889
For Nginx you need to add this to .conf file
`    # Remove signature of the static files that is used to overcome the browser cache
    location ~ ^/static/version {
        rewrite ^/static/(version\d*/)?(.*)$ /static/$2 last;
    }`

under
`location /static/ {`

Like this:
`location /static/ {
    # Uncomment the following line in production mode
    # expires max;

    # Remove signature of the

[2020-01-03 09:11] vtransy commented on #7869
I noted solution here:
https://mrvts.wordpress.com/2020/01/03/static-content-is-not-loading-when-enable-static-sign-version-404-for-js-css-and-media/

[2020-01-03 10:15] magento-engcom-team commented on #26206
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30192` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-03 10:40] CeligoLabs opened #26249 "Unable to create a refund to store credit through API document."
**Preconditions (*)**
1. CE 2.3.0

**Summary of the issue:**
We are trying to create a refund to customers store credit with the API call "/V1/creditmemo/refund".
We are mapping all the required fields in the post body, but the store credits are not reflecting in the customer account in Magento UI.

**Steps to reproduce (*)**
1. Create order in Magento UI.
2. Create an Invoice for that order.
3. w

[2020-01-03 10:46] augrinovska commented on #26124
@magento give me 2.4-develop instance

[2020-01-03 10:46] magento-engcom-team commented on #26124
Hi @augrinovska. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-03 10:47] magento-engcom-team commented on #26124
Hi @augrinovska, here is your [Magento instance](https://i-26124-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26124-2-4-develop.instances.magento-community.engineering/admin](https://i-26124-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-03 10:57] simonmaass commented on #19230
i am still having this issue in magento 2.3.3 CE:

[2020-01-03 10:42:12] main.CRITICAL: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`xxxx`.`salesrule_customer`, CONSTRAINT `SALESRULE_CUSTOMER_RULE_ID_SALESRULE_RULE_ID` FOREIGN KEY (`rule_id`) REFERENCES `salesrule` (`rule_id`) ON DELETE CASCADE), query was: INSERT INTO `sa

[2020-01-03 11:17] augrinovska commented on #26124
Hi @shinoamakusa thank you for your report. Unfortunately, I'm not able to reproduce the issue by steps you described on clean 2.4-develop.

**Steps to reproduce:**

- Install magento with table prefix
- Update "Quantity" product attribute to be used in frontend layered navigation
![Screenshot from 2020-01-03 12-17-18](https://user-images.githubusercontent.com/43642490/71720647-b776bf80-2e22-11ea-

[2020-01-03 11:21] tejabhagavankollepara commented on #10588
As i told you before, it's worked. But suddenly, the Permission issue again occurring even i kept your code.

What happend i am not understandi.

[2020-01-03 11:23] engcom-Alfa commented on #17764
Hi @HanakJakub. Thank you for your reporting.

We are not able to reproduce this issue on the fresh 2.4-develop instance. Everything works correctly.

**Manual testing scenario:**

1. Create an order with different shipping and billing addresses for Guest account;
2. Open that order in admin and click Edit to open edit order page;

**Actual Result:**
The new order has billing address and shipping

[2020-01-03 11:23] #17764 closed, assigned to engcom-Alfa

[2020-01-03 11:41] magento-engcom-team commented on #13774
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30195` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-03 12:21] marcoaacoliveira commented on #25861
I'm getting the same problem in Magento 2.4

[2020-01-03 12:52] engcom-Alfa commented on #17167
Hi @mad-develop. Thank you for your reporting.

We are not able to reproduce this issue on the fresh 2.4-develop instance. Everything works correctly.

**Manual testing scenario:**
1. Enable Newsletter Confirmation (Stores -> Configuration -> Customer -> Newsletter -> Need to Confirm: Yes)
2. Register Account
3. Activate and confirm "General Subscription" Newsletter, so it's active your account.
4

[2020-01-03 12:52] #17167 closed, assigned to engcom-Alfa

[2020-01-03 13:03] divyajyothi5321 opened #26250 "Input checkbox alignment issue at new rating creation in admin panel"
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Go to Admin -> Stores -> Attributes -> Rating
2. Click on Add New Rating
3. In Rating Visibility, input checkbox not aligned properly with respective to label.

### Expected result (*)

1. In Rating Visibility, input checkbox should aligned properly.
2.
![rating-box-expected](https://user-images.githubusercontent.com/54176640/71

[2020-01-03 13:11] ajijshekh123 commented on #26250
Give me @magento give me 2.4-develop instance

[2020-01-03 13:11] magento-engcom-team commented on #26250
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-03 13:12] magento-engcom-team commented on #26250
Hi @ajijshekh123, here is your [Magento instance](https://i-26250-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26250-2-4-develop.instances.magento-community.engineering/admin](https://i-26250-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-03 13:15] magento-engcom-team commented on #26250
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30198` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-03 13:31] SGSJazzSingh opened #26253 "Custom role with permissions not allowed to upload category image via custom attribute, 403 error"
### Preconditions (*)
1. Magento 2.3.3
2. PHP 7.2.24
3. MariaDB 10.1.41

### Steps to reproduce (*)
1. Add an image attribute to the category via install script, I used the https://github.com/studioraz/magento2-category-image module to install the attribute.
2. Try to upload an image via the new attribute as admin, this should work as intended and save the image.
3. Create a new account and new us

[2020-01-03 13:33] engcom-Alfa commented on #13210
Issue reproduced on the fresh 2.4-develop instance according to the steps, described in [comment ](https://github.com/magento/magento2/issues/13210#issuecomment-359773155)

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/71726000-6a084b80-2e3e-11ea-8899-4516ef9d2f1e.png)

[2020-01-03 13:36] magento-engcom-team commented on #13210
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30199` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-03 13:43] flytomek commented on #26212
@magento give me 2.3.3 instance

[2020-01-03 13:43] magento-engcom-team commented on #26212
Hi @flytomek. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-03 13:44] flytomek commented on #26212
@magento give me 2.4-develop instance

[2020-01-03 13:44] magento-engcom-team commented on #26212
Hi @flytomek. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-03 13:44] magento-engcom-team commented on #26212
Hi @flytomek, here is your [Magento instance](https://i-26212-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26212-2-3-3.instances.magento-community.engineering/admin](https://i-26212-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-03 13:47] flytomek commented on #26212
@magento give me 2.4-develop instance

[2020-01-03 13:47] magento-engcom-team commented on #26212
Hi @flytomek. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-03 13:48] magento-engcom-team commented on #26212
Hi @flytomek, here is your [Magento instance](https://i-26212-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26212-2-4-develop.instances.magento-community.engineering/admin](https://i-26212-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-03 13:49] engcom-Bravo commented on #16867
Hello @trucatchtraps
We are rechecking this issue on Magento 2.4-develop and are not able to reproduce it. Please see the attachment with our steps
![shipping_address](https://user-images.githubusercontent.com/51680745/71726488-f0715d00-2e3f-11ea-909b-bebdd1eb7d7b.gif)
We have created a New Order, selected a Customer, Added a Product. After, we have unchecked the **Same as Billing Address** checkb

[2020-01-03 13:52] flytomek commented on #26212
Looks like it's patched on 2.4-develop, but on 2.3.3 is not working on vanilla 2.3.3 installation.

[2020-01-03 13:53] flytomek commented on #26040
I had the same issue one year ago on Magento 2.3.0, which has been patched. Now on Magento 2.3.3 it happens the same. I also checked 2.4-develop and loos like it's patched again.

Anyone has a hotfix of this issue for 2.3.3?

[2020-01-03 13:53] ABARAUJOMGA commented on #14642
While there isn't a 2.3.4 release, they could say something to us about how to make this work.

[2020-01-03 13:57] dmytro-ch commented on #26250
Hello @divyajyothi5321 , this is a pretty common and minor issue, which depends on many factors such as browser, OS, etc. No need to report and apply the fixes for each form separately.
It should be fixed globally if it even needs to be fixed...
Thank you!

[2020-01-03 13:57] #26250 closed, assigned to divyajyothi5321

[2020-01-03 14:01] ajijshekh123 commented on #26250
Thanks for the Update @dmytro-ch

[2020-01-03 14:19] engcom-Alfa commented on #13954
Hi @siimm.
We are not able to reproduce this issue on fresh 2.4-develop instance. Everything works correctly.

**Manual testing scenario:**
1. Create an order with one item ("order_id":1, order_item_id": 1) for ex.;
2. Use Magento REST API to create a shipment (POST rest/V1/shipment/)
Request body:
`{ "entity":{ "order_id":3, "items": [ { "order_item_id": 3, "qty": 1 } ], "comments": [ { "is_custo

[2020-01-03 14:19] #13954 closed, assigned to engcom-Alfa

[2020-01-03 14:22] engcom-Bravo commented on #16501
Hello @emiprotech
We have rechecked this issue on Magento 2.4-develop and can't reproduce
We've created a user role with the **Customer Groups** Role Resource only
![customer group](https://user-images.githubusercontent.com/51680745/71727531-38de4a00-2e43-11ea-9c6b-6ad2ede9ef25.png)

And we are able to Login to Magento Admin with a user with such Role assigned
![customer_group](https://user-images

[2020-01-03 14:22] #16501 closed, assigned to engcom-Bravo

[2020-01-03 14:41] Jilco opened #26254 "Either “offers”, “review”, or “aggregateRating” should be specified"
### Preconditions (*)

1. Magento 2.3.3

 ### Steps to reproduce (*)

1.  Log in to google search console
2. Go to products section

### Expected result (*)

1. No errors in search console

### Actual result (*)

1. Error: Either “offers”, “review”, or “aggregateRating” should be specified

[2020-01-03 14:47] Jilco commented on #26254
@magento-engcom-team it is not possible to reproduce on vanilla instance

[2020-01-03 15:03] dmytro-ch commented on #25936
Hi @divyajyothi5321 , feel free to create the pull requests with minor fixes and obvious improvements without opening the issues.

Thank you!

[2020-01-03 15:06] magento-engcom-team commented on #14086
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30200` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-03 15:17] foreverhydrox commented on #26244
yes

[2020-01-03 15:38] 0x15f commented on #8145
This is still a persistent issue on M2.3.3. I have a multi-store view with 7239 unique images and it's estimated 19 hours before the command completes. I'm watching duplicate images be generated.

After upgrading from 2.2.7 -> 2.3.3 all images have to be regenerated due to a change in the way the image hash is generated. This isn't realistic to do when we upgrade a production environment.

[2020-01-03 16:21] VladimirZaets commented on #26176
Hi @divyajyothi5321. Thank you for your report.
The issue has been fixed in magento/magento2#26182 by @divyajyothi5321 in 2.4-develop branch
Related commit(s):
 - [63ec3e575ca3f9621867e891c102a4bd0f55ed5d](https://github.com/magento/magento2/commit/63ec3e575ca3f9621867e891c102a4bd0f55ed5d)
 - [adc7908db1db52171e4ec60ffe0eaad152535230](https://github.com/magento/magento2/commit/adc7908db1db52171e4e

[2020-01-03 16:21] #26176 closed, assigned to divyajyothi5321

[2020-01-03 16:21] VladimirZaets commented on #26083
Hi @marcoaacoliveira. Thank you for your report.
The issue has been fixed in magento/magento2#26084 by @marcoaacoliveira in 2.4-develop branch
Related commit(s):
 - [13f34cd6e15c0e1ce1b1183761d3ca4bfc318c22](https://github.com/magento/magento2/commit/13f34cd6e15c0e1ce1b1183761d3ca4bfc318c22)
 - [32227d2773836da0574db70fac8aad46ac0dad83](https://github.com/magento/magento2/commit/32227d2773836da057

[2020-01-03 16:21] #26083 closed, assigned to marcoaacoliveira

[2020-01-03 16:21] VladimirZaets commented on #25390
Hi @Bhavik-kumar. Thank you for your report.
The issue has been fixed in magento/magento2#26130 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [cfd5c22848f82f29f69cd42ffbcc8e09fa848568](https://github.com/magento/magento2/commit/cfd5c22848f82f29f69cd42ffbcc8e09fa848568)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-03 16:21] #25390 closed, assigned to Bartlomiejsz

[2020-01-03 16:36] kandy commented on #8145
@0x15f If you on Magento Cloud then you can try use [Fastly image optimization](https://devdocs.magento.com/cloud/cdn/fastly-image-optimization.htm)

[2020-01-03 16:47] scottsb commented on #23251
@fascinosum The presence or absence of `composer install` isn't really related to this bug. In actual fact, we do run `composer install` before `bin/magento setup:di:compile` and have done so all along, including when we first discovered this bug. It wasn't mentioned in the issue description because I was providing only the minimal necessary steps to trigger the bug.

[2020-01-03 16:56] 0x15f commented on #8145
That works for the Magento Cloud environment. Thanks!

[2020-01-03 21:35] Serializator commented on #26101
I can confirm that this indeed happens in the "Wish List" but it happens in the "Shopping Cart" as well.
<img width="1904" alt="Screenshot 2020-01-03 at 22 32 22" src="https://user-images.githubusercontent.com/7153670/71750592-41ea0e00-2e79-11ea-8ed1-98ca1af1a655.png">

[2020-01-03 23:03] moloughlin opened #26255 "Magento_CacheInvalidate mis-handles very large tag patterns when doing a PURGE"
**Preconditions:**
\Magento\CacheInvalidate\Model\PurgeCache::sendPurgeRequest is responsible for taking arbitrarily large tag patterns and chunking it into HTTP PURGE requests based on the maximum header length Varnish will accept.

Currently, \Magento\CacheInvalidate\Observer\InvalidateVarnishObserver::execute will join tags with '|' and call sendPurgeRequest. Those tags themselves may include '

[2020-01-03 23:14] moloughlin commented on #26255
Proposed solution: https://github.com/magento/magento2/pull/26256

[2020-01-04 04:47] tejabhagavankollepara commented on #10588
Hello,
It's worked but after used this code, all cache types are not enabled except compiled configuration. All are in disabled state only.

[2020-01-04 12:27] atwixfirster commented on #19088
Issue ties to empty Brain Tree client token in the [getClientToken](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Braintree/view/frontend/web/js/view/payment/adapter.js#L43).

To fix this problem please provide a correct `Public Key` and `Private Key` in the `Basic Braintree Settings` section.

[2020-01-04 20:39] chaikivskyi opened #26262 "Zip archive contains full directory path of file"
### Preconditions (*)
Magento  2.3.3

### Steps to reproduce (*)
When use class `\Magento\Framework\Archive\Zip` for creating zip archive, archive will contain full directory path to file. Example,

    $objectManager = \Magento\Framework\ObjectManager\ObjectManager::getInstance();
    $zip = $objectManager->create(\Magento\Framework\Archive\Zip::class);
    $file = '{{ABSOLUTE PATH TO FILE}}';

[2020-01-04 20:40] chaikivskyi commented on #26262
@magento give me 2.4-develop instance

[2020-01-04 20:40] magento-engcom-team commented on #26262
Hi @chaikivskyi. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-04 20:41] magento-engcom-team commented on #26262
Hi @chaikivskyi, here is your [Magento instance](https://i-26262-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26262-2-4-develop.instances.magento-community.engineering/admin](https://i-26262-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-04 21:42] aleromano89 commented on #23521
@magento-engcom-team the issue also happens on 2.4-develop

[2020-01-04 23:32] not-art opened #26266 "$product->getAttributeText('attribute_code') no longer works for custom drop-down based product attributes"
### Preconditions (*)

1. Magento 2.3.3 (with supplemental patches to fix SMTP & product chaining)
2. Create a custom product attribute with a drop-down that has labels, with an attribute code of "foobar". The first option can be blank/empty, the second option's label can be "foo", and the third can be "bar".
3. Edit a product in Magento 2.3.3 admin, and for the new "foobar" drop-down, select the

[2020-01-05 00:05] erikhansen commented on #25218
Another article on how to create/apply patches: https://www.classyllama.com/blog/create-apply-patches-magento-2

Protip: you can append `.patch` to a Github commit or PR to get a diff that can be used as a patch. e.g.,  https://github.com/magento/magento2/commit/7211d50998f786dce0628346439649ac8d196c46.patch (you would need to remove the `app/code/Magento/Customer/` strings in that patch to get it

[2020-01-05 07:41] naps1saps opened #26267 "Create Configuration Makes Duplicate Images"
### Preconditions (*)

1. 2.3.3
2.

### Steps to reproduce (*)

1. Create product
2. Create configurations
3. Assign images based on attribute

### Expected result (*)

1. Because we know each configured product will use the same color image per that attribute, it should be linked instead of duplicating for each product.

### Actual result (*)

1. Images will be imported per that attribute x (time

[2020-01-05 08:32] dipakCrayon commented on #6857
@nahidacm You are right.My issue fixed.

[2020-01-05 12:33] marcoaacoliveira commented on #22964
@ioweb-gr I'll work on it.

My first thought about it was changing my interface to Brazil/Portuguese (because we use dd/mm/yyyy format too, hoping that I would face the same problem) for my surprise I could save it in portuguese. When I change it for Greek it really mess something around and I'm not able to save date. So it looks like more a problem with the locale then the date format.

I'll get

[2020-01-05 13:37] ioweb-gr commented on #22964
@marcoaacoliveira Thanks for taking a look at it first of all. This is such a long standing issue. If you track the original issues you'll see it goes back all the way to 2016 and it occured on Australian locale as well. 4 years later it would be nice to have a real fix or at least a working workaround on this. I've tried to debug this but you have to dig very deep to understand the logic and the

[2020-01-05 13:40] marcoaacoliveira commented on #22964
@ioweb-gr I got to the root of the problem, I'll try to solve it today and open a PR.

[2020-01-05 14:45] marcoaacoliveira commented on #22964
@ioweb-gr I solved it. I'll do some test coverage and I'll open the PR.

[2020-01-05 15:53] csimby commented on #17531
Hi @LEDSAVE

I didn't didn't do anything, I just warned all my clients on M2 to be aware of this issue. I am not sure if it was fixed in later releases of Magento.

[2020-01-05 16:34] codedge opened #26271 "Cannot place order after migration from 1.9.4.1 to 2.3.3"
When placing an order after running a migration from Magento 1.9.4.1 to Magento 2.3.3 I get the error message `Uncaught Error: Call to a member function getAdditionalInformation()` in `/usr\/share\/nginx\/html\/vendor\/magento\/module-sales\/Model\/OrderRepository.php:185`.
The migration process ran without any problems. All orders and customers where migrated successfully.

The problem exists wit

[2020-01-05 16:51] codedge commented on #26271
For reproducing this issue on a vanilla instance I would need to run a migration between two databases. Any advice how to do that?

[2020-01-05 17:17] vikasebizon commented on #26212
Hello,
Is anyone found solution ? I am also having same issue.

[2020-01-05 19:46] tushhan commented on #26040
I have exaxtly the same problem with Magento 2.3.3 and PHP 7.2.24
Tried many possible ways but no luck so far. Can anyone address how to resolve this issue?

[2020-01-06 02:01] aliomattux commented on #21646
I have this same issue and I am using core vanilla 2.3 code. I have a product configured with quantity 19 and an order placed for 59 units. When creating shipment in the admin UI, I receive the error "Not all of your products are available in the requested quantity.". This error is coming from module-inventory-source-deduction-api/Model/SourceDeductionService.php.

            $sourceItem = $this-

[2020-01-06 02:04] aliomattux commented on #21646
![2020-01-05_20-03-54](https://user-images.githubusercontent.com/1051273/71790520-864ee880-2ff6-11ea-8364-c52765c1aaf4.png)

[2020-01-06 02:04] aliomattux commented on #21646
![2020-01-05_20-04-34](https://user-images.githubusercontent.com/1051273/71790537-9e266c80-2ff6-11ea-962a-d02791c71dd3.png)

[2020-01-06 02:05] aliomattux commented on #21646
IMO, the product configuration should CLEARLY explain that configuring selling below 0 will prevent shipment from being created, especially because prior to M2 this was standard behavior

[2020-01-06 03:53] shikhamis11 commented on #26074
@magento give me 2.4-develop instance

[2020-01-06 03:53] magento-engcom-team commented on #26074
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-06 03:54] magento-engcom-team commented on #26074
Hi @shikhamis11, here is your [Magento instance](https://i-26074-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26074-2-4-develop.instances.magento-community.engineering/admin](https://i-26074-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-06 04:01] shikhamis11 commented on #26074
hi @Rijisha
Thank you for reporting this. I am not able to reproduce this issue . It seems it's not reproducible at magento 2.4-develop instance.

[2020-01-06 04:01] #26074 closed, assigned to shikhamis11

[2020-01-06 06:44] tejash-wagento opened #26275 "Whitespace between label and required star on Checkout page"
### Summary
Whitespace between the label and required star on the Checkout page

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce

1. Add simple product in the cart
2. Go to checkout page

### Expected result

![image](https://user-images.githubusercontent.com/15318347/71800301-bbeae480-307d-11ea-8c69-2f53cb9bb7c6.png)

### Actual result

![image](http

[2020-01-06 06:48] kinjal153mehta commented on #25218
Hello All, i have resolve this issue with the following step for the if from store configuration we set multiple country as allowed country.

this is the steps :

1) ovverride the vendor/magento/module-customer/view/adminhtml/ui_component/customer_address_form.xml  this file with the new source class with : Magento\Directory\Model\ResourceModel\Country\Collection => Magento\Directory\Model\Config\

[2020-01-06 06:48] tejash-wagento commented on #26275
I am working on this

[2020-01-06 06:50] ajijshekh123 commented on #26275
Okay @tejash-wagento, Let me verify and confirm the issue.

[2020-01-06 06:51] ajijshekh123 commented on #26275
Why @tejash-wagento  , You have to unassigned to me?

[2020-01-06 06:56] kinjal153mehta commented on #26171
Hello All, i have resolve this issue with the following step for the if from store configuration we set multiple country as allowed country.

this is the steps :

ovverride the vendor/magento/module-customer/view/adminhtml/ui_component/customer_address_form.xml this file with the new source class with : Magento\Directory\Model\ResourceModel\Country\Collection => Magento\Directory\Model\Config\Sour

[2020-01-06 07:30] engcom-Bravo commented on #26167
Hello @maruti-bit
We have rechecked this issue on Magento 2.4-develop, and Google reCapcha v2 https://github.com/magento/magespecialist_ReCaptcha
The reCapcha is enabled both in Backend and Frontend
On each form, the reCapcha is loaded before the form is submitted
![reCapcha](https://user-images.githubusercontent.com/51680745/71802638-f85f1600-3066-11ea-81b7-70bfa955528f.gif)

Can you please confi

[2020-01-06 07:31] krishprakash commented on #26275
@magento give me 2.4-develop instance

[2020-01-06 07:31] magento-engcom-team commented on #26275
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-06 07:32] magento-engcom-team commented on #26275
Hi @krishprakash, here is your [Magento instance](https://i-26275-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26275-2-4-develop.instances.magento-community.engineering/admin](https://i-26275-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-06 07:36] magento-engcom-team commented on #26275
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30219` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-06 08:01] magento-engcom-team commented on #9138
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30220` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-06 08:13] rogyar commented on #26224
Hi @Serializator. Thanks very interesting observation and absolutely makes sense for me. Thank you for the detailed description.

I believe we need to figure out why the `TypeList` uses a different factory and what is the best way to proceed in case if the frontend type is null. I will raise this question during an internal discussion.

[2020-01-06 08:34] marcoaacoliveira commented on #22964
@ioweb-gr now it's really solved, coverage with tests. You can check it requesting a instance for test in the PR if you want:
https://github.com/magento/magento2/pull/26270

[2020-01-06 08:35] engcom-Bravo commented on #13971
Hello @jalogut
This issue is not reproducible on Magento 2.4-develop, so we have to close it.
If you are still experiencing the same behavior on Magento 2.4, please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch.

[2020-01-06 08:35] #13971 closed, assigned to engcom-Bravo

[2020-01-06 08:55] yutv opened #26276 "Checkout. Quote Address Street cloning issue"
### Preconditions (*)

1. Magento 2.3.3 or 2.4-develop
2. Logged in Customer with an Address marked both as Shipping and as Billing.

### Steps to reproduce (*)

1. Add a product to cart and go to the second step of checkout.
2. Open developer console and change billing address. e.g.

        require('Magento_Checkout/js/model/quote').billingAddress().street[0] = '123 Main Street'

### Expected re

[2020-01-06 09:06] sudheers-kensium commented on #26276
@magento give me 2.4-develop

[2020-01-06 09:08] sudheers-kensium commented on #26276
@magento give me 2.4-develop instance

[2020-01-06 09:08] magento-engcom-team commented on #26276
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-06 09:09] magento-engcom-team commented on #26276
Hi @sudheers-kensium, here is your [Magento instance](https://i-26276-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26276-2-4-develop.instances.magento-community.engineering/admin](https://i-26276-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-06 09:29] sudheers-kensium commented on #26276
Hello @yutv , This is not an issue. It is working as expected because you marked both Shipping and as Billing address same.

I am closing this issue. Feel free to reopen if you feel that this is Magento core issue.

[2020-01-06 09:29] #26276 closed, assigned to nobody

[2020-01-06 09:35] rav-redchamps commented on #26229
@dmytro-ch Sure will directly create pull request directly for further minor fixes and obvious improvements.

[2020-01-06 09:37] magento-engcom-team commented on #12514
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30221` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-06 09:37] sudheers-kensium commented on #26253
@SGSJazzSingh This is not an issue. You need to  select the **Resource Access** to **All** for new user role and try. I am closing this issue.

![image](https://user-images.githubusercontent.com/50358141/71809485-33c50900-3096-11ea-8ebb-6843a1d446ce.png)

[2020-01-06 09:37] #26253 closed, assigned to nobody

[2020-01-06 09:39] yutv commented on #26276
@sudheers-kensium

No, you are wrong. There is a bug. As you can see from the screenshot, changing the billing city doesn't lead to changing shipping city, but changing billing street does. An experienced front end developer may confirm that the issue exists.

[2020-01-06 09:42] visahardik commented on #17825
Hello @Tuuhea,

I think [this](https://magento.stackexchange.com/questions/150934/magento-2-plugin-issue-in-catalogsearch) link will help you.

[2020-01-06 09:44] SGSJazzSingh commented on #26253
@sudheers-kensium When you set the **Resource Access** to **All**', you're setting the user role to use admin permissions. This **isn't** what I want - I need an account with limited permissions but still be able to upload images via custom category attributes.

I don't want 15 admin accounts that have access to everything under the sun, I need 15 accounts that can only edit categories and add ima

[2020-01-06 09:45] rav-redchamps commented on #26254
@Jilco You might try repeating it using this https://search.google.com/structured-data/testing-tool/u/0/

Create a product on the vanilla instance and test product URL on this tool

[2020-01-06 09:48] magento-engcom-team commented on #13972
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30223` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-06 09:50] sudheers-kensium commented on #26253
@SGSJazzSingh Set Resource Access to Custom and select Catalog Categories. Feel free to reopen if  issue still exists.

[2020-01-06 09:54] SGSJazzSingh commented on #26253
@sudheers-kensium I have done this as I mentioned in my first post. I've even selected **everything** but when I try to upload an image with the custom category attribute, it gives me the error.

From what I can see, setting the **Resource Access** to **All** grants the user with additional permissions than when you set **Resource Access** to **Custom** and select everything.

[2020-01-06 10:01] sudheers-kensium commented on #26253
@SGSJazzSingh You are using custom module, So Create ACL rule and assign that to new user role. This is not an Magento core issue.

[2020-01-06 10:11] dmytro-ch commented on #26275
Hi @tejash-wagento,
please create the pull requests with minor fixes and obvious improvements without opening the issues.
Thank you!

[2020-01-06 10:11] #26275 closed, assigned to tejash-wagento

[2020-01-06 10:17] sagar6692 opened #26277 "logo not showing on header magento 2.3.3"
### Preconditions (*)

1. upload website logo from admin on magento 2.3.3
2. PHP Version 7.3.12
3.Apache/2.4.41 (Win64) OpenSSL/1.1.1c PHP/7.3.12
  Database client version: libmysql - mysqlnd 5.0.12

### Steps to reproduce (*)

1. open admin
2.select content-->design-->configuration-->select theme-->expand header-->change logo
### Expected result (*)

1.  display logo on header
![image](https://us

[2020-01-06 10:20] magento-engcom-team commented on #14067
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30225` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-06 10:23] engcom-Alfa commented on #26222
Hi, @bhapps. Thank you for your reporting.
We are not able to reproduce this issue on the fresh 2.4-develop instance.
The problem was solved by PR #24324 and the decision will be present in the next release.
So we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelin

[2020-01-06 10:23] #26222 closed, assigned to engcom-Alfa

[2020-01-06 10:24] bharanikonda opened #26278 "Multi currency symbols not reflecting in admin catalog"
### Preconditions
1. Configure multi-websites in Magento 2.3.3
2. Configure multi-currencies (Dollars for one website and Euro for another website)

### Steps to reproduce

1. Open admin catalog gird and edit any product which is assigned for two websites.
2. Change the store view to Euro website
3. Price field still displaying with the dollar ($) currency

### Expected result

1. The price field

[2020-01-06 10:43] ajijshekh123 commented on #26277
Give me @magento give me 2.4-develop instance

[2020-01-06 10:43] magento-engcom-team commented on #26277
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-06 10:43] magento-engcom-team commented on #26277
Hi @ajijshekh123, here is your [Magento instance](https://i-26277-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26277-2-4-develop.instances.magento-community.engineering/admin](https://i-26277-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-06 10:56] ajijshekh123 commented on #26277
Hello @sagar6692 ,
I am uploading PNG & JPG file but I can't able reproduce this issue.
Can you please share your reproduce video?

Thanks.

[2020-01-06 11:32] CsSatter commented on #26040
Hi @tushhan & @flytomek,
I believe this is the file in question: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogImportExport/Model/Import/Uploader.php

I'll be able to confirm at a later date wether this solves the issue. If anyone else wants to confirm the changes to fix the issue for 2.3.X feel free :)

[2020-01-06 11:57] akssaiyad commented on #14879
I have update code for date, check it's work for me.

[code]

[2020-01-06 12:14] akssaiyad commented on #1393
Customer Registration Custom attribute value create in admin and save

**1. Text Field**

**2. Drop Down Field**

**3. Date Field**

**Using** `UpgradeSchema.php`

    <?php

    namespace {CompanyName}\{ModuleName}\Setup;

    use Magento\Customer\Model\Customer;
    use Magento\Customer\Setup\CustomerSetup;
    /* irrelevant */
    #use Magento\Framework\Setup\UpgradeSchemaInterface;
    use Mag

[2020-01-06 12:21] magento-engcom-team commented on #10363
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30227` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-06 12:48] engcom-Delta commented on #13983
@facetimer  @parekhreena @QKChris thank you for your reports. I am not able to reproduce issue on 2.4-develop

**Steps to reproduce:**

- Multi store view: default, french, dutch
- Create product with custom options(such as Size)
![image](https://user-images.githubusercontent.com/51681379/71817649-3112e580-308f-11ea-85c0-ff88ec2069a3.png)
- Fill in store code for translated value for store view(e.

[2020-01-06 13:11] engcom-Alfa commented on #12551
Hi @Jilco. Thank you for your reporting.
We are not able to reproduce this issue on the fresh 2.4-develop instance. So we have to close it.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for co

[2020-01-06 13:11] #12551 closed, assigned to engcom-Alfa

[2020-01-06 14:08] jellesiderius commented on #19710
It seems that the $relativePath in get.php is empty. This might be an nginx or htaccess setting. Has anyone already fixed this issue?

[2020-01-06 14:10] oefterdal commented on #2733
I get the same in M 2.3.3 @vzabaznov

[2020-01-06 14:55] chequille opened #26280 "Checkout Agreements - Modal does not show a title"
Modal Window does not show the title which is set in checkout-agreements.js:

showContent: function (element) {
    this.modalTitle(element.checkboxText);
....

### Preconditions (*)
1. Magento Version 2.3.3
2. Magento 2.4-develop

### Steps to reproduce (*)
1. Create at least one agreement and click on this in checkout. Modal appears, but without a title

### Expected result (*)
1. Modal should h

[2020-01-06 15:40] magento-engcom-team commented on #24526
Hi @rasmuswikman, @sdzhepa, @zhartaunik.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [0a16a89677bdbf88447fbcf1ce4b2e8c626783dd](https://github.com/magento/magento2/commit/0a16a89677bdbf88447fbcf1ce4b2e8c626783dd)
 - [0d9ce1fcd368adef6ffd3dd07f6a641b882b5fcb](https://g

[2020-01-06 15:51] trucatchtraps commented on #16867
This issue was fixed quite a few versions ago. I can verify it is fixed on 2.2.8 and later at least

[2020-01-06 16:28] CsSatter commented on #26040
Just received word that changing this file alone will not solve the issue. Seems to be an open-source only issue for 2.3.X.

[2020-01-06 17:04] fascinosum commented on #23251
HI @scottsb,
we are clearly understand what this issue is about. You are absolutely right, if we use the commands from the description, we will encounter the error. Please use the following order of commands for **each** you deployment
- `composer install`
- `bin/magento setup:di:compile`
- `composer dump-autoload -o`

As you know, `composer dump-autoload -o` is not a part of any Magento CLI comma

[2020-01-06 18:00] Serializator commented on #26280
@magento give me 2.4-develop instance

[2020-01-06 18:00] magento-engcom-team commented on #26280
Hi @Serializator. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-06 18:00] magento-engcom-team commented on #26280
Hi @Serializator, here is your [Magento instance](https://i-26280-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26280-2-4-develop.instances.magento-community.engineering/admin](https://i-26280-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-06 18:14] Serializator commented on #26280
I can confirm that the "Checkbox Text" of a "Terms and Condition" is not used as the title of the modal.

Though I can confirm that the original statement in the issue is correct, I can't confirm that this is actually the expected behaviour. I'd say that I wouldn't want the "Checkbox Text" to be used as the title of the modal.

If I have a "Checkbox Text" of "I agree with the Terms and Condition",

[2020-01-06 18:22] magento-engcom-team commented on #24526
Hi @rasmuswikman, @sdzhepa, @zhartaunik.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [0a16a89677bdbf88447fbcf1ce4b2e8c626783dd](https://github.com/magento/magento2/commit/0a16a89677bdbf88447fbcf1ce4b2e8c626783dd)
 - [0d9ce1fcd368adef6ffd3dd07f6a641b882b5fcb](https://g

[2020-01-06 18:35] Serializator commented on #26280
It seems that the `modalTitle` observable in the UI component that renders the `view/frontend/web/template/checkout/checkout-agreements.html` is never used in the template.

It updates the observable but the observable is simply never used.

[2020-01-06 18:42] chequille commented on #26280
Hi Julian,
thanks for doing the test on vanilla.

I agree, that using the checkbox Text is not really a title as I want it in the modal.
Therefore, I would suggest to have an additional field for the agreements, which is only for the title of the modal.
This would make sense.
What do you think?

Best regards,
Chequille

[2020-01-06 19:01] Serializator commented on #26280
@chequille, an additional field in the "Terms and Condition" for the title seems like a good option to me. I also think that the default styling from the modal component is already enough.

<img width="1904" alt="Screenshot 2020-01-06 at 19 58 54" src="https://user-images.githubusercontent.com/7153670/71841269-4dc71180-30bf-11ea-9e35-7b1a0b3d517e.png">

[2020-01-07 00:15] fooman opened #28214 "PayPal tests are not well suited to be run outside of Adobe"
### Preconditions

1. use MFTF to test PayPal functionality
2. Magento 2.3.3

### Steps to reproduce

1. use CreatePayPalOrderWithSelectedPaymentMethodActionGroup in your own testing

### Expected result

1. All environmental values should not be hardcoded to allow easy configuration to one's own sandbox credentials

### Actual result

1.  {{PayPalPaymentSection.reviewUserInfo}} uses 'Hi, MPI!' wh

[2020-01-07 03:49] ngtuan96lc opened #26282 "Can not save catalog image again after the first save"
### Preconditions (*)

1. Magento version 2.3.3

### Steps to reproduce (*)

1. Open Catalog > Categories > Click into a category
2. Tab Content > upload a " Category Image" > Click button "Save"
3. After page reloads > Click button "Save" again

### Expected result (*)

1. The category image still displays, not disappear

### Actual result (*)

1. The category image is disappear.

### Note
I saw

[2020-01-07 04:34] krishprakash commented on #26282
Hi @ngtuan96lc.
Issue is duplicate to #25099
Issue will be fixed in next 2.3.4 release
You can review the feedback from above given issue link.
Thanks.

[2020-01-07 04:34] #26282 closed, assigned to krishprakash

[2020-01-07 04:43] tejash-wagento commented on #26275
Hi @dmytro-ch,
How can I improvements without opening the issues,
Please suggest?

[2020-01-07 06:10] DanielRuf commented on #26275
You can always create a PR, an issue is not required and produces more work for involved people.

[2020-01-07 06:17] kkhebbar89 commented on #26231
Hello @engcom-Bravo
Checked the same in Magento 2.4- develop, there I see very good perfomance. Please find below the screeshots.

![Login](https://user-images.githubusercontent.com/13129870/71872715-3cbfe400-3143-11ea-8116-d87400bb174d.JPG)
![AddToCart](https://user-images.githubusercontent.com/13129870/71872723-41849800-3143-11ea-9da3-ea067150045b.JPG)
![Cart](https://user-images.githubuserconte

[2020-01-07 06:21] kinjal153mehta commented on #25218
please read my comment is solve your issue if you select the multi country from system configuration.

[2020-01-07 06:24] pascal-boisselier opened #26283 "Sorting by "price" products including taxes does not work"
### Preconditions (*)
**Summary of the issue**
In the list of products (category, search etc..) we can't sort correctly by price if we show prices including taxes. The sort is only based on prices excluding taxes. In New Caledonia but also in different countries in Europe, we have, for a same category of product different taxes. That's why this is a very common error on websites same if we are usi

[2020-01-07 06:46] tejash-wagento commented on #26275
Hi @DanielRuf,
I have not created PR a long time, I have created my last PR 2 years ago at Jul 30, 2018.
So I am not always creating a PR, an issue is not required and produces more work for involved people.

[2020-01-07 06:49] ajijshekh123 commented on #26277
@sagar6692 - Any update?

[2020-01-07 06:56] sunilit42 opened #26284 "Incorrect Tax showing for online Credit Memo"
### Preconditions (*)

1. latest Magento version
2. online payment method require like Braintree or PayPal
3. create an order with at least two items
4. place an order and create invoice separately
5. create a credit memo from one of the invoice ( make sure online credit memo)

### Steps to reproduce (*)

1. place an order with two products and online payment method. each product has tax.
https://

[2020-01-07 06:57] sunilit42 commented on #26284
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-01-07 06:57] DanielRuf commented on #26275
Not sure why people downvote.
As @dmytro-ch wrote:

please create the pull requests with minor fixes and obvious improvements without opening the issues.
Thank you!

So just go ahead and create a PR with the fixes.

[2020-01-07 06:57] magento-engcom-team commented on #26284
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-07 06:58] magento-engcom-team commented on #26284
Hi @sunilit42, here is your [Magento instance](https://i-26284-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26284-2-4-develop.instances.magento-community.engineering/admin](https://i-26284-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 07:00] kinjal153mehta commented on #25218
Yes your soultion also work for signle and multion country if selected from store configuration.

[2020-01-07 07:08] DanielRuf commented on #26275
To quote yourself:

https://github.com/magento/magento2/issues/26275#issuecomment-571025640

It was assigned to @ajijshekh123 and others who were working on it.

[2020-01-07 07:15] ajijshekh123 commented on #26284
Hello @sunilit42,
Please let me know this issue is related to the below issues or not.
https://github.com/magento/magento2/issues/23938
https://github.com/magento/magento2/issues/10982

Thanks.

[2020-01-07 07:16] sunilit42 commented on #26284
Here is proof :
Screenshot of Invoice

![image](https://user-images.githubusercontent.com/2923438/71875922-8280aa80-314b-11ea-97f9-f88fd7182a71.png)

when go to credit memo screen:-

![image](https://user-images.githubusercontent.com/2923438/71875954-9cba8880-314b-11ea-9366-10504b056316.png)

on the above screenshot, you will see item wise tax is :$8.25 but showing total tax into credit memo total

[2020-01-07 07:18] magento-engcom-team commented on #26284
@sunilit42 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is a

[2020-01-07 07:19] sunilit42 commented on #26284
it is similar but a little bit different.

[2020-01-07 07:19] DanielRuf commented on #26275
Interesting, 4 people from wagento downvoting for no obvious reasons (read the previous comments).

If you need help with the PR just let us know.

[2020-01-07 07:29] ajijshekh123 commented on #26284
Okay @sunilit42

[2020-01-07 07:30] magento-engcom-team commented on #26284
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-01-07 07:30] magento-engcom-team commented on #26284
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30246` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-07 07:38] theroch commented on #100
I think @dicgf8 meant the support of different RDBMS like Oracle, PostgreSQL, MS-SQL etc. and not asynchronous operations. So #25940 doesn't solve his question.

[2020-01-07 07:43] magento-engcom-team commented on #26284
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-01-07 07:43] DanielRuf commented on #26275
There you go: https://github.com/magento/magento2/pull/26285

Please be more polite next time and downvoting is never helpful (without further feedback) =)

[2020-01-07 07:44] magento-engcom-team commented on #26284
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30246` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-07 07:49] DanielRuf commented on #26275
There you go: https://github.com/magento/magento2/pull/26285

Please be more polite next time and downvoting is never helpful (without further feedback) =)

Also related: https://github.com/magento/magento2/pull/16048

Please keep in mind that at least two people (excluding you) were working on this. Please give them the chance to do the chances then when the issue is assigned to them. Unassigning

[2020-01-07 08:06] cuongtran-6618 commented on #19603
Why does this issue is closed? Do you solve it or not? I got the same issue with 2.3.3 so I am curious about what does "This issue was closed." means. Thanks

[2020-01-07 08:08] nandigowda-zz opened #26286 "Total shipment amount is included in partial invoice even if shipment amount is applied per item"
**Preconditions (*)**

1. Magento Community version 2.3.3
2. Php 7.3
3. Stores -> Configurration -> Sales -> Shipping methods -> Flat Rate -> Type is set to "Per Item"

**Steps to reproduce (*)**

1. Place an order with 2 different simple products priced '**item 1 price**' and '**item 2 price**' and '**total shipping amount**' flat rate shipping, that include '**item 1 shipping amount**' and '**it

[2020-01-07 08:40] angelomaragna opened #26288 "missing Throw in copy pasted code"
**Preconditions (*)**
magento 2.3.3

**Steps to reproduce (*)**
go to /Magento/Customer/Model/ForgotPasswordToken/GetCustomerByToken.php of magento installation

**Expected result (*)**
exception should be covered with throw

**Actual result (*)**
Hi, you've got a problem with file https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/ForgotPasswordToken/GetCustomerB

[2020-01-07 08:51] sudheers-kensium commented on #26278
@magento give me 2.4-develop instance

[2020-01-07 08:52] magento-engcom-team commented on #26278
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-07 08:52] magento-engcom-team commented on #26278
Hi @sudheers-kensium, here is your [Magento instance](https://i-26278-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26278-2-4-develop.instances.magento-community.engineering/admin](https://i-26278-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 09:08] sudheers-kensium commented on #26278
@bharanikonda Price is global field and base currency symbol will display in Admin product edit. Currency will not change based on the Website/ Store view.

[2020-01-07 09:09] rightmarc commented on #26212
Hello,
I also not import products from the CSV file.

When importing: Following Error(s) has been occurred during importing process: 1. Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s): 1

[2020-01-07 09:09] #26278 closed, assigned to dmytro-ch, sudheers-kensium

[2020-01-07 09:44] sudheers-kensium commented on #26280
@magento give me 2.4-develop instance

[2020-01-07 09:44] magento-engcom-team commented on #26280
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-07 09:45] magento-engcom-team commented on #26280
Hi @sudheers-kensium, here is your [Magento instance](https://i-26280-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26280-2-4-develop.instances.magento-community.engineering/admin](https://i-26280-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 10:30] hitesh-wagento opened #26289 "Jump Datepicker in Catalog Price Rule"
### Summary

Jump Datepicker in  Catalog Price Rule

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Login to Backend
2. Go to Marketing => Promotions => Catalog Price Rule
3. Click on Datepicker

### Expected result

1. Datepicker does not jump in Catalog Price Rule
![expected](https://user-images.githubusercontent.com/23443991/71888744-c7660a80-3

[2020-01-07 10:30] hitesh-wagento commented on #26289
I am working on this issue.

[2020-01-07 10:43] interequipment commented on #26199
Having same issue on our Magento 2.3.3 store.

*Flat Category + Catalog enabled
*There are more than 7100 categories and 900,000 products.

[2020-01-07 10:44] kushaljindal92 commented on #25620
I have made module based on @LordHansolo reply,, it is working perfectly.
https://github.com/kushaljindal92/magentoee-pagebuilder-fix

[2020-01-07 10:49] ajijshekh123 commented on #26289
Give me @magento give me 2.4-develop instance

[2020-01-07 10:49] magento-engcom-team commented on #26289
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-07 10:50] magento-engcom-team commented on #26289
Hi @ajijshekh123, here is your [Magento instance](https://i-26289-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26289-2-4-develop.instances.magento-community.engineering/admin](https://i-26289-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 10:54] ajijshekh123 commented on #26289
@hitesh-wagento - This is a UI effect not an issue.

[2020-01-07 10:55] hitesh-wagento commented on #26289
But it looks like issue not UI effect.

[2020-01-07 11:02] ajijshekh123 commented on #26289
Okay @hitesh-wagento

[2020-01-07 11:03] magento-engcom-team commented on #26289
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30247` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-07 11:04] devchris79 commented on #26254
@magento give me 2.4-develop instance

[2020-01-07 11:04] magento-engcom-team commented on #26254
Hi @devchris79. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-07 11:05] magento-engcom-team commented on #26254
Hi @devchris79, here is your [Magento instance](https://i-26254-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26254-2-4-develop.instances.magento-community.engineering/admin](https://i-26254-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 11:10] AnnaShepa commented on #26267
Hello @naps1saps, thank you for the report. Sorry, but I cannot reproduce it on vanilla instance, please try it yourself and probably add some details to the description. I tried a few times in different ways, but always every generated simple product has only own image. Check that you selected "Apply unique images by attribute to each SKU" option.

[2020-01-07 11:10] #26267 closed, assigned to nobody

[2020-01-07 11:28] devchris79 commented on #26254
Issue still causes warnings from Google with Magento 2.4 develop instance:

![image](https://user-images.githubusercontent.com/43850303/71891959-adfd9800-313f-11ea-9626-2785bd27e808.png)

Google have been sending us emails for our site (2.3.3) wanting an updated product schema.

[2020-01-07 12:01] kinjal153mehta commented on #25218
The same issue exist in magento 2.3.2 version also.

[2020-01-07 12:07] Kindlebit-Kbs opened #26291 "Image transparency no more exist nor displaying correctly after uploading image as a product image."
### Summary (*)
after uploading an image as a product image from admin it looses its original transparency and create an new image with specific height and width.

### Examples (*)
Here is an image I want to upload for front end product image. My original image will look like this:  [
![image](https://user-images.githubusercontent.com/59607065/71894371-17979980-3174-11ea-998e-7e99edc24fdd.png)
](u

[2020-01-07 12:09] ajijshekh123 commented on #26291
Give me @magento give me 2.4-develop instance

[2020-01-07 12:09] magento-engcom-team commented on #26291
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-07 12:10] magento-engcom-team commented on #26291
Hi @ajijshekh123, here is your [Magento instance](https://i-26291-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26291-2-4-develop.instances.magento-community.engineering/admin](https://i-26291-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 12:13] ajijshekh123 commented on #26291
@Kindlebit-Kbs - Please give me this attached product image.

[2020-01-07 12:14] Kindlebit-Kbs commented on #26291
I have already attached both images in above issue.

[2020-01-07 12:15] ajijshekh123 commented on #26291
@Kindlebit-Kbs - Please send original image. This attached image is related to browser image.

[2020-01-07 12:16] Kindlebit-Kbs commented on #26291
![crew_front](https://user-images.githubusercontent.com/59607065/71894887-7c9fbf00-3175-11ea-8eb7-0e92db91061b.png)
![crew_front_after_uploading](https://user-images.githubusercontent.com/59607065/71894915-96410680-3175-11ea-87b7-ea29027d4ee8.png)

[2020-01-07 12:16] ajijshekh123 commented on #26291
Thanks @Kindlebit-Kbs

[2020-01-07 12:28] ajijshekh123 commented on #26291
@Kindlebit-Kbs - In Frontend view, Product image is proper to display which is added by your end but If this image opens in a new tab, Product image is not displayed properly.
**Please check the below URL:**
https://i-26291-2-4-develop.instances.magento-community.engineering/simple-product-1.html

Currently, Product image color is black displaying but I have uploaded the White Background image.

L

[2020-01-07 12:41] Kindlebit-Kbs commented on #26291
@ajijshekh123  Yeah, I need to edit the background for this image, but because of this problem I am enable to do same. Please let me know when it will fixed. thanks.

[2020-01-07 12:43] ajijshekh123 commented on #26291
@Kindlebit-Kbs , Fixed by the Development Team in Next Updation.
If I will confirm the issue, Developer will work on this issue and fixed it.

[2020-01-07 12:44] magento-engcom-team commented on #26291
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30248` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-07 13:36] pauluse commented on #24448
Not sure if you are still looking for the diff, but this commit is merged in the 2.4 branch:
https://github.com/magento/magento2/commit/dbf2c29bef8ec4a768156bd7ace0c99647bec631#diff-fd5e8d031335fde4387c31484dfcb308

[2020-01-07 13:51] kassner opened #26292 "Read-only app/etc/"
Is there a reason for the `app/etc/` path to be writable during `php bin/magento setup:upgrade --keep-generated`?

Looking into `Magento\Framework\Setup\FilePermissions`, the [getMissingWritableDirectoriesForDbUpgrade](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Setup/FilePermissions.php#L282-L300) asks for `app/etc/` to be writable, but it's not clear what

[2020-01-07 14:47] diwipl opened #26294 "Customer data AJAX request is executed on every cart page reload when subtotal is set to be displayed including tax."
### Preconditions (*)
1. Magento 2.3.3
2. Product that can be added to cart

### Steps to reproduce (*)
1. Create tax zone and rule so products in shop are taxed
2. Set Stores -> Configuration -> Sales -> Tax -> Shopping Cart Display Settings -> Display subtotal to "Including Tax"
3. Refresh caches
4. Go to storefront
4. Add product to cart
5. Visit cart page
6. Open browser Network tab to see req

[2020-01-07 14:48] diwipl commented on #26294
@magento give me 2.3.3 instance

[2020-01-07 14:49] magento-engcom-team commented on #26294
Hi @diwipl. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-07 14:50] magento-engcom-team commented on #26294
Hi @diwipl, here is your [Magento instance](https://i-26294-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26294-2-3-3.instances.magento-community.engineering/admin](https://i-26294-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 14:57] diwipl commented on #26294
Instance configured according to issue description is invalidating customer section cart on every cart page reload:
![image](https://user-images.githubusercontent.com/3406741/71904431-5cb4cf00-3166-11ea-9021-f2906698413a.png)

[2020-01-07 15:02] kurtdeserter commented on #7657
Any reason, why this issue is closed. Issue is still there in 2.3.3

[2020-01-07 15:50] PaulWatt opened #26295 "Magento v2.3 - Choosing a child theme for product .. layout xml doesn't work nor does the layout update"
### Preconditions (*)

1. Magento 2.3.x & 2.4-develop
2. PHP 7.2

### Steps to reproduce (*)
When you apply *ThemeC* on a product, then only the (extended) layout of *ThemeB* will be taken in the following scenario:

[code]

I don't know if there is any difference when all themes are by the same vendor, but at least this is my setup.
Even tough above setup describes extending layouts I've also tri

[2020-01-07 15:55] vishalpatel14 commented on #24448
Hi @pauluse

Yes I got it I can see the change code mention in your comment link. Hence seems like it will be available in next release.

Thanks

[2020-01-07 16:12] erikhansen commented on #22596
@Nazar65 Can you provide a link to the commit(s) where this was fixed? I'm running into this on Magento OS 2.3.3 and would like to create a patch to fix it.

[2020-01-07 16:15] Nazar65 commented on #22596
@erikhansen feel free to reopen this one, and create a PR for this ticket.

[2020-01-07 16:23] fcmoto commented on #13053
Hi,
the more store views you have, the smaller and more confusing the input fields become. And if you then want to add a color e.g. "black/white"green" you can only see the first letters of it. It is a usability issue. See my first screenshot how it is done by another shop system. Isnt it possible to do it like this?
Thanks for your feedback

[2020-01-07 16:35] Morgon opened #26297 "Inconsistent Dynamic SKU behavior with multi-select Customizable options"
Magento's SKU builder for Customizable Options behaves inconsistently. It ignores empty values for single selections, but then concatenates multiple empty values when evaluated from an Option array, such as a Checkbox or Multi-select Option.

This behavior is defined in
[`Magento\Catalog\Model\Product\Option\Type\Select::getOptionSku`](https://github.com/magento/magento2/blob/2.2/app/code/Magento/

[2020-01-07 16:39] Morgon commented on #26297
@magento give me 2.4-develop instance

[2020-01-07 16:39] magento-engcom-team commented on #26297
Hi @Morgon. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-07 16:40] magento-engcom-team commented on #26297
Hi @Morgon, here is your [Magento instance](https://i-26297-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26297-2-4-develop.instances.magento-community.engineering/admin](https://i-26297-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-07 16:46] Morgon commented on #26297
Behavior confirmed

![Screen Shot 2020-01-07 at 11 45 48 AM](https://user-images.githubusercontent.com/879077/71912371-5fea9380-3143-11ea-872a-3b52e6a59e6d.png)

[2020-01-07 17:27] erikhansen commented on #22596
@Nazar65 Ah, I thought you had fixed it since it was closed.

I worked around the issue by applying a Composer patch to the https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Sales/view/adminhtml/templates/order/create/form/address.phtml#L90 file to remove the `<?php if (!$block->getDontSaveInAddressBook()) : ?> checked="checked"<?php endif; ?>` code.

[Here's the patch](https://githu

[2020-01-07 17:29] erikhansen commented on #8181
For anyone else who is running into this issue: The commit above is pretty large and doesn't look specifically related to this issue. I worked around this issue by applying a one-line patch. Details [here](https://github.com/magento/magento2/issues/22596#issuecomment-571687836).

[2020-01-07 17:30] shauldover commented on #15427
Although that previously we thought it is only related to PayPal Express payment only and we disabled it, it it showing now also on credit card payment (PayPal pro). not on every order.
Anyone got possible fix?

[2020-01-07 17:41] djamps commented on #15427
We've got it nearly to a non-issue.   Went from 1 of 500 orders failed to 1 of 5000 or so.   Everything we've done so far:

In Magento:
Asynchronous grid = on
Flat products and categories = on
Production mode enabled always

In my.cnf
transaction-isolation = READ-COMMITTED
(along with other optimizations)

**Beef up your server's CPU and disk speed (IOPS) as much as possible.**

Switched to author

[2020-01-07 18:26] Rajat9620 opened #26298 "Translation is not working in admin as well as frontend"
Hello Support,

I have upgraded my magento store from 2.2.9 to 2.3.3 and after migration translation not working in admin as well as frontend. Please check attached screenshot: https://prnt.sc/qki1p0
https://prnt.sc/qki2e5

Please help me to solve this issue.
@ivannpaz  @magento-admin  @magento-engcom-team

Thanks

[2020-01-07 19:53] flytomek commented on #26040
Workaround can be:
- download all the images to _<img_folder>_ i.e. via external script
- upload images via FTP to _<magento_folder>/var/import/images/<img_folder>_
- generate CSV, but instead of URL to image, put image filename
- import csv (remember to set _Images File Director_y to _/<img_folder>_)

[2020-01-07 19:54] flytomek commented on #26212
Workaround can be:
- download all the images to _<img_folder>_ i.e. via external script
- upload images via FTP to _<magento_folder>/var/import/images/<img_folder>_
- generate CSV, but instead of URL to image, put image filename
- import csv (remember to set _Images File Director_y to _/<img_folder>_)

[2020-01-07 20:01] euNatan opened #26300 "Attribute with multiple option is not saving in admin, magento 2.3.3"
Hi, I am using Magento 2.3.3, and when I try save a new  attribute values in multiple options, it is not saving, I  read that issue has been fixed, but not here. Could you help me please

[2020-01-07 21:11] naps1saps commented on #26267
When making a configurable product, the simple products it creates saves a duplicate photo example photo.png gets added photo_1.png, photo_2.png for each simple product of that photo attribute (each size of white color product).  This is a waste of space.  All products of that attribute should use the same photo unless you change it manually later.  This should be a simple change to the code so th

[2020-01-08 05:13] VladimirZaets commented on #21684
Hi @dmak. Thank you for your report.
The issue has been fixed in magento/magento2#24815 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [2c705123e2ea9f5fdb34fc89eaf568f2336c1239](https://github.com/magento/magento2/commit/2c705123e2ea9f5fdb34fc89eaf568f2336c1239)
 - [2a5c87ce994e8aa0e8fe206d0af0be64606bd5dd](https://github.com/magento/magento2/commit/2a5c87ce994e8aa0e8fe206d0af0be6460

[2020-01-08 05:13] #21684 closed, assigned to edenduong, Bartlomiejsz

[2020-01-08 05:13] VladimirZaets commented on #24468
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24471 by @edenduong in 2.4-develop branch
Related commit(s):
 - [5d175a35f9b4f91fe94abe7dceb5155cb4fc54c3](https://github.com/magento/magento2/commit/5d175a35f9b4f91fe94abe7dceb5155cb4fc54c3)
 - [853a1e58107d7b9f95b6e0cf07df9b81fe2dabd3](https://github.com/magento/magento2/commit/853a1e58107d7b9f95b6e0cf07df9b81

[2020-01-08 05:13] #24468 closed, assigned to edenduong

[2020-01-08 05:13] VladimirZaets commented on #20966
Hi @DarthFly. Thank you for your report.
The issue has been fixed in magento/magento2#25452 by @behnamshayani in 2.4-develop branch
Related commit(s):
 - [df506928967e283ce7b976ab42216ee3cff958ab](https://github.com/magento/magento2/commit/df506928967e283ce7b976ab42216ee3cff958ab)
 - [1a0cae28c1c84adbd428cba2e855efa1eab91d4f](https://github.com/magento/magento2/commit/1a0cae28c1c84adbd428cba2e855e

[2020-01-08 05:13] #20966 closed, assigned to behnamshayani

[2020-01-08 05:13] VladimirZaets commented on #22856
Hi @dcwnaveen. Thank you for your report.
The issue has been fixed in magento/magento2#22917 by @p-bystritsky in 2.4-develop branch
Related commit(s):
 - [a8f3b9e8931d69a4bfa3af51483ed89b16292eea](https://github.com/magento/magento2/commit/a8f3b9e8931d69a4bfa3af51483ed89b16292eea)
 - [4fb5da819cb2517de204e7dcf8c545505eeabd2c](https://github.com/magento/magento2/commit/4fb5da819cb2517de204e7dcf8c54

[2020-01-08 05:15] mrtuvn commented on #26300
I can't reproducible in 2.4-develop

[2020-01-08 05:28] rightmarc commented on #26212
Hi @flytomek
I followed your step then also give the same result.

- In CSV file image name as  APL-103-IP6-1.jpg

- image file directory /var/www/html/var/import/images

Get bellow Result

Created: 1, Updated: 0, Deleted: 0
Following Error(s) has been occurred during importing process:
Only the first 100 errors are shown. Download full report
1. Imported resource (image) could not be downloaded f

[2020-01-08 05:41] Zyles commented on #26300
@magento give me 2.3.3 instance

[2020-01-08 05:42] magento-engcom-team commented on #26300
Hi @Zyles. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-08 05:43] magento-engcom-team commented on #26300
Hi @Zyles, here is your [Magento instance](https://i-26300-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26300-2-3-3.instances.magento-community.engineering/admin](https://i-26300-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-08 05:56] Zyles opened #26301 "Adding category image from gallery not possible when using custom media base URLs"
### Preconditions (*)

1. Magento 2.3.3 or 2.4-develop

### Steps to reproduce (*)

1. Install Magento
2. Setup base URL for media like: media.domain.com (this example works even without a proper CDN)
3. Create category
4. Click "Upload", select image, and save category
5. Mouse over the image in admin and you can see the http://media... URL Right? As it should be.
6. Now click "Select from galler

[2020-01-08 05:57] Zyles commented on #26301
@magento give me 2.4-develop

[2020-01-08 06:02] Zyles commented on #26301
@magento give me 2.4-develop instance

[2020-01-08 06:02] magento-engcom-team commented on #26301
Hi @Zyles. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-08 06:02] magento-engcom-team commented on #26301
Hi @Zyles, here is your [Magento instance](https://i-26301-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26301-2-4-develop.instances.magento-community.engineering/admin](https://i-26301-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-08 06:08] Zyles commented on #26301
Reproduced on 2.4-develop

[2020-01-08 06:16] Zyles commented on #26292
Magento needs write access to `app/etc/config.php`

[2020-01-08 06:24] magento-engcom-team commented on #26301
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30270` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-08 06:31] flytomek commented on #26212
@rightmarc have you set proper _Images File Directory_ durning import? Check under <magento_dir>/var/log/exception.log what kind of error this is.

[2020-01-08 06:37] Zyles opened #26302 "Product grid has quantity in decimals"
### Preconditions (*)

1. Magento 2.3.3, 2.4-develop

### Steps to reproduce (*)

1. Install
2. Add product
3. Go to products grid

### Expected result (*)

Don't know about you, but we don't sell goods in fractions.

Show product quantity without decimals.

### Actual result (*)

Product quantity with decimals.

![image](https://user-images.githubusercontent.com/1741593/71955802-9a0e7080-31e9-11e

[2020-01-08 07:01] magento-engcom-team commented on #26302
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30271` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-08 07:07] ajijshekh123 commented on #26302
@Zyles - This issue related to the below one:
https://github.com/magento/magento2/issues/6713
Please review this issue and Let me know Should I close this issue or not?

Thanks.

[2020-01-08 07:33] engcom-Bravo commented on #16867
@trucatchtraps
Thank you for your response.
We are closing this issue.

[2020-01-08 07:33] #16867 closed, assigned to engcom-Bravo

[2020-01-08 08:13] LucasMDL opened #26304 "Error during saving product at storeview level 2.3.3."
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)
1. Create an Dutch and German storeview
2. Set admin account locale to Dutch
3. Create a product with a fixed price
4. Edit this product and switch to German storeview
5. Make any modification to the product
6. Save the product

### Expected result (*)
1. Succesfull saving.

### Actual result (*)
1. Error showing up:
`Notice: A no

[2020-01-08 08:19] sadeeshmca commented on #19710
@stoya42 Any reply from Magento Cloud support? The issue is fixed or not?

[2020-01-08 09:01] rightmarc commented on #26212
Hi @flytomek after changing folders ownership and adding leading slash in image name product imported successfully.

But there is one more issue, image is not visible in product page.
Check below category page screenshot in this fist time image is not visible but when I click on it and load product page it will appear from next time.

![iphone 6](https://user-images.githubusercontent.com/57860784/

[2020-01-08 09:12] magento-engcom-team commented on #26294
@krzksz Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-01-08 09:12] magento-engcom-team commented on #26294
:white_check_mark: Confirmed by @krzksz
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30275` were created

**Issue Available**: @krzksz, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-08 09:13] krzksz commented on #26294
I will fix this issue.

[2020-01-08 09:28] magento-engcom-team commented on #14134
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30276` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-08 09:34] flytomek commented on #26212
Maybe you put this image in column `thumbnail_image`? Try to import it as `base_image`

[2020-01-08 09:43] rightmarc commented on #26212
Image is already placed in base_image
please check the attached file.
[product import.zip](https://github.com/magento/magento2/files/4034578/product.import.zip)

[2020-01-08 09:44] sunilit42 commented on #26302
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-01-08 09:44] magento-engcom-team commented on #26302
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-08 09:44] magento-engcom-team commented on #26302
Hi @sunilit42, here is your [Magento instance](https://i-26302-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26302-2-4-develop.instances.magento-community.engineering/admin](https://i-26302-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-08 11:05] tuyennn commented on #14526
@magento-engcom-team Could i have this related fix on 2.1.x on this issue

[2020-01-08 11:08] rksain commented on #22312
magneto 2.3.3 not returning customer token
I am unable to get customer's token through customer/token rest api. Api returns following error:
"The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again [later."]
![Screenshot from 2020-01-08 16-32-23](https://user-images.githubusercontent.com/59612953/71973539-34e06c80-3235-11ea-93cc-436a07ecf092.png)

[2020-01-08 11:19] tuyennn commented on #14526
Related issue MAGETWO-72172: [2.3] Disabled variation of configurable product can be added to shopping cart via admin  - Disabled skipping if product is saleable check db62db02e6505f2d43146437ef87dd09d59d142b

[2020-01-08 11:23] lbajsarowicz opened #26307 "MFTF: Verify if all the <createData> has also corresponding <deleteData>"
### Summary (*)
After running several MFTF tests, you have a huge mess in your Category Structure:
![image](https://user-images.githubusercontent.com/1639941/71974298-75c68a00-3211-11ea-82e1-712d1d441ae7.png)

We should introduce verification for having corresponding `<deleteData>` for each `<createData>`.

### Examples (*)
N/A

### Proposed solution
I'm not sure if XSD is able to handle that, but

[2020-01-08 11:31] amenk opened #26308 "Database sessions pile up"
### Preconditions (*)
Magento 2.2.x & 2.3.x & 2.4-develop

### Steps to reproduce (*)
1. Configure store to save session in DB(edit `env.php`)
![image](https://user-images.githubusercontent.com/51681618/72798226-45d4a900-3c4b-11ea-8c1d-2be92c887875.png)
2. Change `Admin Session Lifetime` to 60s for example
3. Flush cache and logout
4. Login again and check data in DB `session` table(note the last

[2020-01-08 11:50] engcom-Alfa commented on #12790
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-08 11:50] #12790 closed, assigned to engcom-Alfa

[2020-01-08 12:01] cerebrum-opensource opened #26309 "Update Attributes For Products Not Working"
Hi,

I am using  Magento ver. 2.3.3

When I go to Catalog->Products and Select any Product for Mass Update Attributes, then the Attributes screen does not load.

![Screenshot from 2020-01-08 17-22-42](https://user-images.githubusercontent.com/24713440/71976124-93104e00-323b-11ea-86b1-5d204acd0fff.png)

So after some debugging, I went to file /vendor/magento/module-catalog/Block/Adminhtml/Product/E

[2020-01-08 12:01] anziv opened #26310 ""SameSite" field of a cookie, which can be either "None", "Lax" or "Strict" in Google Chrome"
### Preconditions (*)
1. Any Magento versions

### Steps to reproduce (*)

1. Incrementally Better Cookies ("SameSite") will be released on February 2020 by Google Chrome team
2. More info is here: https://www.youtube.com/watch?v=VnN8NwTeXAc

### Expected result (*)

1. Should be provided solution/workaround added to repo for all Magento2 vesrions so cookie  will not stopped to work on sites runni

[2020-01-08 13:14] devchris79 commented on #26310
I think this relates to Googles cookies (probably the ReCaptcha security). I think the security issue is with cross-site resources (coming from Googles server).

[2020-01-08 13:40] shikhamis11 commented on #26300
@magento give me 2.3.3 instance

[2020-01-08 13:40] magento-engcom-team commented on #26300
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-08 13:41] magento-engcom-team commented on #26300
Hi @shikhamis11, here is your [Magento instance](https://i-26300-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26300-2-3-3.instances.magento-community.engineering/admin](https://i-26300-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-08 13:58] shikhamis11 commented on #26300
hello @euNatan
I checked it .. this issue is also not reproducible at magento 2.3.3 instance

[2020-01-08 13:58] magento-engcom-team commented on #14373
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30283` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-08 14:00] rodde177 commented on #26310
@devchris79 most ecommerce shops use some sort of third party cookie, so unfortunately most sites will be affected.
PHP only supports SameSite attribute from 7.3 https://www.php.net/manual/en/function.setcookie.php#refsect1-function.setcookie-changelog

[2020-01-08 14:30] atsareva commented on #14118
I faced with the same issue on magento 2.3.3 using production mode.

[2020-01-08 16:23] VladimirZaets commented on #23521
Hi @adrian-martinez-interactiv4. Thank you for your report.
The issue has been fixed in magento/magento2#26264 by @aleromano89 in 2.4-develop branch
Related commit(s):
 - [95fc06f456d933aaaf8ca2b039946dc02d48483d](https://github.com/magento/magento2/commit/95fc06f456d933aaaf8ca2b039946dc02d48483d)
 - [b015b65baa6d54dbffd85f11e37d62ca1a28d5da](https://github.com/magento/magento2/commit/b015b65baa6d

[2020-01-08 16:23] #23521 closed, assigned to aleromano89

[2020-01-08 16:23] VladimirZaets commented on #19093
Hi @nthurston. Thank you for your report.
The issue has been fixed in magento/magento2#25946 by @lfolco in 2.4-develop branch
Related commit(s):
 - [30b5818dde145901eb0a7a0600ef65b9cd9a9cf3](https://github.com/magento/magento2/commit/30b5818dde145901eb0a7a0600ef65b9cd9a9cf3)
 - [f076e553211d4e6a4a9ffdd48b0521ab0ee3bf38](https://github.com/magento/magento2/commit/f076e553211d4e6a4a9ffdd48b0521ab0ee

[2020-01-08 16:23] #19093 closed, assigned to lfolco

[2020-01-08 16:23] VladimirZaets commented on #14001
Hi @jiyun. Thank you for your report.
The issue has been fixed in magento/magento2#26268 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [5fe745450451d43764281da227bf70e2aaec5735](https://github.com/magento/magento2/commit/5fe745450451d43764281da227bf70e2aaec5735)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-08 16:23] #14001 closed, assigned to Bartlomiejsz

[2020-01-08 16:23] VladimirZaets commented on #26181
Hi @divyajyothi5321. Thank you for your report.
The issue has been fixed in magento/magento2#26183 by @divyajyothi5321 in 2.4-develop branch
Related commit(s):
 - [e520c8b45ee5aaea9d19e3e48bc85bf65a6b871d](https://github.com/magento/magento2/commit/e520c8b45ee5aaea9d19e3e48bc85bf65a6b871d)
 - [aaf147837c1da4fcd5229236387bc46d4c44319d](https://github.com/magento/magento2/commit/aaf147837c1da4fcd522

[2020-01-08 16:23] #26181 closed, assigned to divyajyothi5321

[2020-01-08 16:23] VladimirZaets commented on #25936
Hi @divyajyothi5321. Thank you for your report.
The issue has been fixed in magento/magento2#26237 by @divyajyothi5321 in 2.4-develop branch
Related commit(s):
 - [c39e85c84449f86b2c9d27d377e548547273883f](https://github.com/magento/magento2/commit/c39e85c84449f86b2c9d27d377e548547273883f)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-08 16:24] #25936 closed, assigned to divyajyothi5321

[2020-01-08 16:24] VladimirZaets commented on #26227
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26234 by @hitesh-wagento in 2.4-develop branch
Related commit(s):
 - [69f6da07a6443eddd099f7f53ebc52bf3f7f2ba0](https://github.com/magento/magento2/commit/69f6da07a6443eddd099f7f53ebc52bf3f7f2ba0)
 - [7e5e6c773712359e303f4b4ee1ebc1b2fb8b85af](https://github.com/magento/magento2/commit/7e5e6c773712359e303f4b

[2020-01-08 16:24] VladimirZaets commented on #26208
Hi @hasim32. Thank you for your report.
The issue has been fixed in magento/magento2#26215 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [e4e4b4e3849dc4a645b352b03ec1535d9733a681](https://github.com/magento/magento2/commit/e4e4b4e3849dc4a645b352b03ec1535d9733a681)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-08 16:24] #26208 closed, assigned to srsathish92

[2020-01-08 16:24] VladimirZaets commented on #26168
Hi @divyajyothi5321. Thank you for your report.
The issue has been fixed in magento/magento2#26169 by @divyajyothi5321 in 2.4-develop branch
Related commit(s):
 - [9882e96dab666d5609e47af52d7130e5c33a7a6c](https://github.com/magento/magento2/commit/9882e96dab666d5609e47af52d7130e5c33a7a6c)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-08 16:24] #26168 closed, assigned to divyajyothi5321

[2020-01-08 16:24] VladimirZaets commented on #26206
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26207 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [1ca03a336588fded3f516b8d7ffe57f8201f718a](https://github.com/magento/magento2/commit/1ca03a336588fded3f516b8d7ffe57f8201f718a)
 - [79fe786afcc193a6424e5d2d31e8120a06d8700b](https://github.com/magento/magento2/commit/79fe786afcc193a6424e5d2d31

[2020-01-08 16:24] #26206 closed, assigned to lbajsarowicz

[2020-01-08 16:58] euNatan commented on #26300
Hi, I Will check If some module cause this issue.
Thank you

Em qua, 8 de jan de 2020 10:58, Shikha Mishra <notifications@github.com>
escreveu:

[2020-01-08 16:59] alexlopezrubio commented on #23808
This fix really works!

[2020-01-08 17:01] #26300 closed, assigned to shikhamis11

[2020-01-08 17:01] alexlopezrubio commented on #23808
This Fix Really Works!

[2020-01-08 17:02] alexlopezrubio commented on #23808
Just delete:
`-        if (isset($jsLayout['components']['checkout']['children']['steps']['children']['billing-step']['children']
-            ['payment']['children'])) {
-            $jsLayout['components']['checkout']['children']['steps']['children']['billing-step']['children']
-            ['payment']['children'] = $this->processPaymentChildrenComponents(
-                $jsLayout['components'

[2020-01-08 17:04] sergiy-v opened #26314 "Minimum Advertised Prices duplicates for all configurable products with price from selected swatch"
Minimum Advertised Prices duplicates for all configurable products on product list with price from selected swatch.

### Preconditions
1. Magento 2.4

### Steps to reproduce
1. Enable MAP (Stores -> Configuration -> Sales -> Sales -> Minimum Advertised Price -> Enable MAP).
1. Enable 'Show Swatches in Product List', enabled by default (Stores -> Configuration -> Catalog -> Catalog -> Storefront ->

[2020-01-08 17:10] Leandry commented on #26314
@magento give me 2.4-develop instance

[2020-01-08 17:11] magento-engcom-team commented on #26314
Hi @Leandry. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-08 17:11] magento-engcom-team commented on #26314
Hi @Leandry, here is your [Magento instance](https://i-26314-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26314-2-4-develop.instances.magento-community.engineering/admin](https://i-26314-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-08 17:39] magento-engcom-team commented on #26314
:white_check_mark: Confirmed by @Leandry
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30291` were created

**Issue Available**: @Leandry, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-08 17:40] Leandry commented on #26314
@sergiy-v  thank you. I was able to reproduce an issue.
![2020-01-08_19-38-48 (1)](https://user-images.githubusercontent.com/9416636/72001748-bb557800-324e-11ea-8431-3bae2458aca7.gif)

[2020-01-08 17:44] sergiy-v commented on #26314
I'll working on the issue

[2020-01-08 17:50] shansari25 opened #26315 "Magento 2.2.4 bug: ConfigurableProduct doesn't exist"
**Migrated working code from AWS to Google Cloud and not able to run the website - getting compilaton error -**                                                                                                                                              `_[InvalidArgumentException]                                                                                                                  Plugi

[2020-01-08 17:51] timelam commented on #23908
I had the same problem, but it was random and not present for every customer.

I removed line 92 from ./vendor/magento/module-persistent/Model/QuoteManager.php and the problem appears to be resolved.

https://github.com/magento/magento2/commit/6f0623f3f0f95ecdb960f5de89371fb8c8d51abc

[2020-01-08 17:53] shansari25 commented on #26315
Summary of the issue

**Migrated working code from AWS to Google Cloud and not able to run the website - website not working so ran setup:upgrade and static content  deploy and getting error in compilation command
gto following error**

- [InvalidArgumentException] Plugin class Magento\ConfigurableProduct\Model\Quote\Item\QuantityValidator\Initializer\Option\Plugin\ConfigurableProduct doesn't exis

[2020-01-08 17:54] shansari25 opened #26316 "Magento 2.2.4 - Migrated working code from AWS to Google Cloud and not able to run the website - website not working so ran setup:upgrade and static content deploy and getting error in compilation command gto following error"
Summary of the issue

Migrated working code from AWS to Google Cloud and not able to run the website - website not working so ran setup:upgrade and static content deploy and getting error in compilation command
gto following error

[InvalidArgumentException] Plugin class Magento\ConfigurableProduct\Model\Quote\Item\QuantityValidator\Initializer\Option\Plugin\ConfigurableProduct doesn't exist

Info

[2020-01-08 17:55] shansari25 commented on #26316
yes issue is reproducible

[2020-01-08 18:05] DanielRuf commented on #26316
Duplicate of https://github.com/magento/magento2/issues/26315

[2020-01-08 18:05] #26316 closed, assigned to nobody

[2020-01-08 19:10] kotamreddy commented on #26002
Any progress on this?

[2020-01-08 19:46] rparsi-boxycharm commented on #25484
@magento-engcom-team Which commits fixed this issue?

[2020-01-08 19:52] Zyles commented on #26302
Yes looks like same problem again.

[2020-01-08 19:53] shinoamakusa commented on #26124
One thing that is missing is the fact that we have 2.3 Inventory modules disabled
No other extension or plugin have any effect on the issue and SQL query generation is done by magento itself I believe

[2020-01-08 20:49] javiersnipe commented on #25927
Hello everybody, I had exactly the same problem. I conacted Google to recover access to my GMC account. (Contacted Google from contact form they offer in Google ads.) Then they asked some details about the account to be sure that it was mine. Once I replied Google email and gave them all the details they asked me they gave me access again to the account.

[2020-01-08 21:19] TopShellstock opened #26318 "cron scheduler and inability to install extensions"
We are attempting to install our Rootways Elavon Credit Card Payment extension and receive this error in our Extension Manager Readiness Check:  Cron script readiness check failed.  Error from Setup Application Cron Script:       Cron job has not been configured yet
Other checks will fail as a result (PHP version, PHP settings, and PHP extensions)

Error from Updater Application Cron Script:
Cron

[2020-01-08 22:31] eduardo-g-silva commented on #20033
If sendmail isn't installed, install it: sudo apt-get install sendmail
Configure /etc/hosts file: nano /etc/hosts
Make sure the line looks like this: 127.0.0.1 localhost yourhostname
Run Sendmail's config and answer 'Y' to everything: sudo sendmailconfig
Restart apache sudo service apache2 restart

[2020-01-08 23:16] JJBalso commented on #4737
@Ravindrasinh

I believe that error is only shown in develop/default mode. Try to set the mode to **production**:

`php bin/magento deploy:mode:set production`

[2020-01-09 02:47] magento-engcom-team commented on #26288
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2020-01-09 02:53] magento-engcom-team commented on #26288
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30309` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-09 03:04] shikhamis11 commented on #26292
hello @kassner
GitHub is only intended for magento 2 core issues .. for any discussion you can use [Magneto Stack Exchange](https://magento.stackexchange.com/) and [Magento community Forum](https://community.magento.com/)

[2020-01-09 03:09] shikhamis11 commented on #26286
@magento give me 2.4-develop instance

[2020-01-09 03:09] magento-engcom-team commented on #26286
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-09 03:10] magento-engcom-team commented on #26286
Hi @shikhamis11, here is your [Magento instance](https://i-26286-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26286-2-4-develop.instances.magento-community.engineering/admin](https://i-26286-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-09 04:35] ajijshekh123 commented on #26302
Okay @Zyles

[2020-01-09 04:46] krishprakash commented on #26271
Hi @codedge
All the Data Migration tool related issues should reported in its separate Data migration tool repository
Please report issue here.
https://github.com/magento/data-migration-tool
Thanks

[2020-01-09 04:46] #26271 closed, assigned to krishprakash

[2020-01-09 04:55] renard123 opened #26324 "Can not share product if only out of stock product in wish list"
Can not share product if only out of stock product in wish list

### Preconditions (*)
Magento: 2.3.3

### Steps to reproduce (*)
-> Login into front end
-> Add product at admin and make it out of stock
-> Set show out of stock product at front end from
Admin - Stores > Configuration > Catalog > Inventory > Stock  Options. Display Out of Stock Products: Choose Yes
-> Add product to wish list
-> My

[2020-01-09 04:55] krishprakash commented on #26324
@magento give me 2.4-develop instance

[2020-01-09 04:55] magento-engcom-team commented on #26324
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-09 04:56] magento-engcom-team commented on #26324
Hi @krishprakash, here is your [Magento instance](https://i-26324-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26324-2-4-develop.instances.magento-community.engineering/admin](https://i-26324-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-09 05:10] magento-engcom-team commented on #26324
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30310` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-09 05:12] krishprakash commented on #26324
Related PR is In progress #26185

[2020-01-09 06:01] krishprakash commented on #26309
Hi @cerebrum-opensource. Can not reproduce the issue as provided steps by you.
Refer below link for reference.
https://www.screencast.com/t/1b2FhGYoSl
Please provide more details to reproduce this issue
Thanks.

[2020-01-09 06:14] #22964 closed, assigned to marcoaacoliveira

[2020-01-09 06:14] #26289 closed, assigned to hitesh-wagento

[2020-01-09 06:14] #14913 closed, assigned to Bartlomiejsz

[2020-01-09 06:14] #23899 closed, assigned to AndreyChorniy

[2020-01-09 06:14] #14971 closed, assigned to chickenland

[2020-01-09 06:14] #22988 closed, assigned to Den4ik

[2020-01-09 06:14] VladimirZaets commented on #26217
Hi @phoenix128. Thank you for your report.
The issue has been fixed in magento/magento2#26218 by @phoenix128 in 2.4-develop branch
Related commit(s):
 - [2b5720c84624084226e2df6fd0c0d605ebfaf0dd](https://github.com/magento/magento2/commit/2b5720c84624084226e2df6fd0c0d605ebfaf0dd)
 - [631282eadb8e24cd752ab3ba91f3e74e91e2c0e0](https://github.com/magento/magento2/commit/631282eadb8e24cd752ab3ba91f3e7

[2020-01-09 06:14] #26217 closed, assigned to phoenix128

[2020-01-09 06:31] Zyles opened #26325 "Email templates blank when using JS minification"
And here we go again.

### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)

1. Create email template or use sample data
1. Enable JS minification in developer settings
1. Enable production mode
1. Clear cache, deploy etc.
1. Click preview template

### Expected result (*)

Working preview of email template.

### Actual result (*)

Blank template.

404 error to jquery.js which does n

[2020-01-09 07:03] Datta opened #26326 "404 error page not found for the creating the new configurable product."
### Preconditions (*)

1. Magento version 2.3.2

### Steps to reproduce (*)
1. create new configurable product
2. enter required field values
3. create configurations
4. select any attribute (in my case size),select attribute values
5. Apply unique quantity by attribute to each SKU
6. select sources
7. generate products then Hit "Save"  to save your changes.

### Expected result (*)
1. product sho

[2020-01-09 07:10] maddyBoy commented on #25872
Hi, @magento-engcom-team

Is there any timeline for this issue that when it will be added in the development phase?

Thank You.

[2020-01-09 07:49] kassner commented on #26292
@shikhamis11 it is a core issue, Magento does NOT run in a read-only filesystem. I'm asking those questions in an attempt to get a technical answer so I can send a pull request when applicable.

But if you guys don't want to answer this, please remove the "Developer experience issue" category when creating an issue on GitHub, because this is exactly this kind of issue.

[2020-01-09 07:50] wajahatbashir commented on #23923
@engcom-Charlie
How you was fix this issue in Magento 2.3 ?

I'm facing same issue on my live server, when i'm adding product to cart the ajax requests from (1) to (0). i'm getting this message (Product added successfully) But mini cart, cart page and checkout are empty. I'm using Magento 2.3.0.

anyone can help me regarding this issue. Thanks

[2020-01-09 07:55] hostep commented on #26292
@kassner: I kind of agree, if you provide the `--keep-generated` flag, I would expect that it won't write to the filesystem, therefore it wouldn't need to check if those files in `app/etc/` are writeable.

So we first need to confirm that providing the `--keep-generated` flag is actually not attempting to write to those files (I have the feeling that it will still try). And if it is trying to writ

[2020-01-09 08:04] codedge commented on #26271
Ok, new issue here https://github.com/magento/data-migration-tool/issues/766.

Thanks!

[2020-01-09 08:31] wajahatbashir commented on #12362
I'm facing same issue on my live server, when i'm adding product to cart the ajax requests from (1) to (0). i'm getting this message (Product added successfully) But mini cart, cart page and checkout are empty. I'm using Magento 2.3.0.

On localhost add to cart is working fine but on live server this is not working.

[2020-01-09 08:32] Zyles commented on #26292
M2 also needs write access to env.php for cache_types.

Which is dumb in itself. But that is how they chose to do it...

[2020-01-09 08:46] hostep commented on #26292
@Zyles: we are talking about the `setup:upgrade` command here. If @kassner choses to make those files read-only, then he won't be able to change cache states, but that's probably a good idea on a production environment.
(Only when a new cache type gets added to the shop, it might get a bit tricky, because from my experience, it's always disabled by default)

[2020-01-09 08:52] Usik2203 commented on #25162
@magento give me test instance

[2020-01-09 08:55] Usik2203 commented on #25162
@magento give me 2.4-develop instance

[2020-01-09 08:55] magento-engcom-team commented on #25162
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-09 08:56] magento-engcom-team commented on #25162
Hi @Usik2203, here is your [Magento instance](https://i-25162-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25162-2-4-develop.instances.magento-community.engineering/admin](https://i-25162-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-09 09:02] nandigowda commented on #26286
@magento give me 2.4-develop instance

[2020-01-09 09:03] magento-engcom-team commented on #26286
Hi @nandigowda. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-09 09:03] magento-engcom-team commented on #26286
Hi @nandigowda, here is your [Magento instance](https://i-26286-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26286-2-4-develop.instances.magento-community.engineering/admin](https://i-26286-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-09 09:21] shikhamis11 commented on #26292
thank you @hostep .. for making the issue more clear to me .
@Zyles issue is now opened .. It will be good If you update the issue description as per magento issue reporting [guideline](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thanks

[2020-01-09 09:31] kassner commented on #26292
@hostep

I managed to successfully run Magento with a read-only filesystem and what I found is that `setup:upgrade` calls [updateModulesSequence](https://github.com/magento/magento2/blob/2.4-develop/setup/src/Magento/Setup/Model/Installer.php#L1190-L1205), which by itself calls `createModulesConfig`, which tries to update the `modules` array inside app/etc/config.php.

My [patch](https://gist.gith

[2020-01-09 09:47] Zyles commented on #26292
Put cache_types in config.php instead.

[2020-01-09 10:29] Datta commented on #26326
@krishprakash : if you want i can provide the video of the issue so you will have more clarification about the issue. please let me know.

[2020-01-09 10:37] Kindlebit-Kbs commented on #26291
Hello @ajijshekh123 , any updates.?

[2020-01-09 10:45] ajijshekh123 commented on #26291
Hello @Kindlebit-Kbs ,
Magento Development Team Or Any of the Magento developers will fix this issue and update it.
I am Magento QA Maintainer so I can't able to fix this issue.

Thanks.

[2020-01-09 11:15] TawabG commented on #23450
Running this command: `php bin/magento queue:consumers:start exportProcessor` was a fix to find products, however when actually trying to download a file I get an error that has to do with:

Can anybody help me with this error?

[2020-01-09 11:36] TawabG commented on #7317
I keep getting this error (Magento 2.3.3) unfortunately this didn't work.

[2020-01-09 11:45] sagarppanchal commented on #24948
I have Upgraded My Magento Version to 2.3.3 from 2.3.1,
Using this version I found the solution for LInk (href) Removal from all CMS Pages while using wynsing editor but all the Dimension fields got invisible, have you guys found any solution for this ?

[2020-01-09 12:03] kevinvhengst commented on #13440
Reproduced on 2.4.x as well.

[2020-01-09 12:29] webspeaks commented on #9486
I am also having this in Magento 2.3.3

[2020-01-09 12:31] wouter-toppy commented on #21144
I'm having the same issue still on 2.3.3. can't find a patch

[2020-01-09 13:30] nicoaghe commented on #22814
Hello,
I have magento 2.3.3 and the unsubscribe link doesn't work.
For the stock alerts the link gets 404 error.
For the price alerts the unsubscribe link sends me to the product page, shows the message "You deleted the alert subscription.", but when i check in the database the product is still there.
Any idea how can I solve this?
Thank you!

[2020-01-09 13:57] bienfay commented on #23775
Hi
I detect the problem only with chrome and resolved it when i choose MAEGNTO 2.3 instalation whit Mozilla !
Best for all

[2020-01-09 14:13] jchandani opened #26330 "All rows removed from table when adding unique key Index to a column which already have duplicates due to default value of datatype"
### Summary (*)
I added a new column in sales order table and assign default value to 0. Later I realized that column must be unique, so added another migration script which call addIndex on the connection table.

I ended with empty sale order table after my module setup completes.

Looks nothing wrong in the custom code and definitely Mysql doesn't do so when there is any error during adding uniq

[2020-01-09 14:22] magento-engcom-team commented on #12584
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30317` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-09 14:51] #21579 closed, assigned to nobody

[2020-01-09 15:05] lbajsarowicz opened #26331 "[ MFTF ] Mess in ActionGroups: invalid names, multiple nodes."
### Summary (*)
Goal of this ticket is to explain **Why** I put so much effort to cleanup the Magento's Funcionatl Testing Framework:

1. MFTF Best Practices states that Action Group name should be consistent with the filename (We're moving towards [having it as a requirement](https://github.com/magento/magento2-functional-testing-framework/issues/520))
2. Practical side: When looking for ActionGr

[2020-01-09 15:18] engcom-Bravo commented on #26231
@kkhebbar89
Thank you for the response.
I tried to find a related task for it by keywords but unfortunately, with no result.
Probably it was done in scope on some bug fix or other task (internal or external)

So if the issue is not reproducible on 2.4-develop, we have to close this issue.
Thank you for your collaboration.

[2020-01-09 15:18] #26231 closed, assigned to engcom-Bravo

[2020-01-09 16:52] maniarpratik commented on #13873
I am facing the same issue after upgrade to Magneto 2.3.3.

[2020-01-09 17:24] pawankparmar commented on #26280
@chequille , @Serializator @magento-engcom-team
Should I use existing text as title Or Should Add a new field to add Title in admin ?
Please Update label accordingly.

[2020-01-09 17:31] Serializator commented on #26280
@pawankparmar, I'd suggest adding a new field for this.
I can't seem to add or change labels.

[2020-01-09 19:01] hostep commented on #9486
@webspeaks or @tushhan: please open a new issue with exact steps about how to reproduce, because the bug as reported by @justinsamuel92 should no longer occur in Magento 2.3.3:

If you've found a way to trigger it again, more information would be appreciated, thanks!

[2020-01-09 19:11] dresh commented on #872
use PHPstorm

[2020-01-09 19:58] bernd-reindl opened #26332 "BeforeOrderPaymentSaveObserver override payment insructions with wrong store view config"
# Preconditions (*)
Magento 2.3.3
2 StoreViews

### Steps to reproduce (*)

1. Create a second Store View
2. Set a value to bankpayment instructions (e.g. Instructions)
3. Set a other value to bankpayment instructions for the second storeview (e.g. Anweisungen)
4. Create an order in second storeview (frontend) with bankpayment als payment method
5. See field 'additional_information' in table 'sale

[2020-01-09 20:00] bernd-reindl commented on #26332
yes i confirm

[2020-01-09 20:55] bernd-reindl opened #26333 "Theme translation is not respected in rest requests"
# Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)
1. configure de_DE als store language
2. **add de_DE.csv to template localization (app/design/Vendor/base/i18n/de_DE.csv)**
3. Add "The coupon code isn't valid. Verify the code and try again.","Der Gutscheincode ist nicht gültig. Überprüfen Sie den Code und versuchen Sie es erneut." to de_DE.csv
4. Add a product to cart
5. goto chec

[2020-01-09 22:31] chequille commented on #26280
Hi,
I think as well adding an extra filed would make more sense, as the label is often a sentence f.e. like "Yes, I agree privacy" and this is not a good title for the modal.

Regards,
Chequille

[2020-01-09 23:29] danielmx98 opened #26334 "Unable sent welcome email/password reset and cannot save customer error message"
### Preconditions (*)

1.Magento 2.3.3
2.Use bitnami stack, php 7.2
3.Spanish language set

### Steps to reproduce (*)

1.Fresh installation use bitnami stack
2.Installed magaplaza social login and SMTP extension.
3.create customer show up : Cannot save the user , but in the backend customer was already create and able to login. At meantime , there no welcome email sent ,and not able to reset cust

[2020-01-09 23:51] danielmx98 commented on #26334
@magento give me {$2.3.3} instance

[2020-01-10 00:08] danielmx98 commented on #26334
@magento give me 2.3.3 instance

[2020-01-10 00:08] magento-engcom-team commented on #26334
Hi @danielmx98. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-10 00:09] magento-engcom-team commented on #26334
Hi @danielmx98, here is your [Magento instance](https://i-26334-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26334-2-3-3.instances.magento-community.engineering/admin](https://i-26334-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 02:02] mlambley opened #26335 "Update zendframework to laminas"
#  Summary of the issue
Please see in the latest dev branch https://github.com/magento/magento2/blob/ad9e1f08a07fa318a997958c6ecb86f2cddce134/composer.json#L55

You'll notice that, in all branches of this repository, it still refers to `zendframework` in spite of that package being abandoned. This results in a `composer install` which looks like:
[code]

I've seen another ticket for this [here](ht

[2020-01-10 02:27] fisal77 commented on #25769
Also, I have the same problem. Do you have any solution or update?

[2020-01-10 02:59] shikhamis11 commented on #26242
@magento give me 2.4-develop instance

[2020-01-10 02:59] magento-engcom-team commented on #26242
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-10 03:00] magento-engcom-team commented on #26242
Hi @shikhamis11, here is your [Magento instance](https://i-26242-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26242-2-4-develop.instances.magento-community.engineering/admin](https://i-26242-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 03:39] abbaseg opened #26336 "Custom Address Attribute dropdown shows attribute code rather than selected option"
### Preconditions (*)

1. Magento 2.3.3 Commerce

### Steps to reproduce (*)

1. Go to admin panel
2. Stores -> Attributes -> Customer Address. Then create the dropdown attribute
![Selection_210](https://user-images.githubusercontent.com/59718206/72123528-e5b94980-33a4-11ea-80b4-26b196ead37b.png)
![Selection_211](https://user-images.githubusercontent.com/59718206/72123552-fa95dd00-33a4-11ea-85da-1

[2020-01-10 04:35] ajijshekh123 commented on #26336
Give me @magento give me 2.4-develop instance

[2020-01-10 04:35] magento-engcom-team commented on #26336
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-10 04:35] magento-engcom-team commented on #26336
Hi @ajijshekh123, here is your [Magento instance](https://i-26336-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26336-2-4-develop.instances.magento-community.engineering/admin](https://i-26336-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 04:54] ajijshekh123 commented on #26336
Hello @abbaseg,
This issue I have to reproduce in the Enterprise Magento latest instance.
Good issue reproduced @abbaseg :)

Thanks.

[2020-01-10 04:55] magento-engcom-team commented on #26336
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30326` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 05:51] justinsamuel92 commented on #9486
@hostep @tushhan @BenSpace48  Can you please check for the issue in both a vanilla instance and an upgraded instance? I think this only works in vanilla

[2020-01-10 05:57] magento-engcom-team commented on #26336
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-01-10 05:57] #26336 closed, assigned to nobody

[2020-01-10 06:11] dev-Z-Apx commented on #24948
@sagarppanchal  It is still under Dev at Magento end, however there is a temporary fix
just update the eav_attribute table and source_model = NULL WHERE attribute_code = 'ts_packaging_type'

it will make the attributes appear and working as it has to be.

[2020-01-10 06:45] tejash-wagento opened #26338 "Code cleanup for module xml extra end tag removed"
### Description

Module xml extra end tag removed

### Fixed Issues (if relevant)

No issues

### Manual testing scenarios (*)

No special scenarios needed

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits are accompanied by meaningful commit messages
 - [ ] All new or changed code is covered with unit/inte

[2020-01-10 06:48] dmytro-ch commented on #26338
Hi @tejash-wagento,
please create the pull requests with minor improvements without opening the issues.
Thank you!

[2020-01-10 06:48] #26338 closed, assigned to dmytro-ch, tejash-wagento

[2020-01-10 06:56] magento-engcom-team commented on #26331
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30327` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 06:58] aloksparx commented on #13873
@maniarpratik please delete all extensions and then try.. hopefully it will work and after that place extensions one by one.  But initially try to remove Mailchimp extension if you are using. In my case mailchimp extension was causing issue.

[2020-01-10 06:58] Bhagyashri-Ranosys commented on #23450
Hello TawabG,

You can resolve Above issue by overriding Below file, you have to pass
$filename instead of '$Path'.
1. Override
"Magento\ImportExport\Controller\Adminhtml\Export\File\Download" in custom
module.
2. Change the code by
 * Before *
   public function execute()
    {
        if (empty($fileName = $this->getRequest()->getParam('filename'))) {
            throw new LocalizedException(__(

[2020-01-10 07:04] gibkigonzo commented on #26297
Hello :) I'm not sure, but in this line [L819](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Model/Product/Type/AbstractType.php#L819) you pass to `getOptionSku` as second parameter  `$skuDelimiter`. So here [L802](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Model/Product/Type/AbstractType.php#L802) as `$sku` we have value from `$sk

[2020-01-10 07:37] maniarpratik commented on #13873
Ok sure.Thanks mate.

[2020-01-10 08:04] hostep commented on #9486
@justinsamuel92: please give exact steps to reproduce, we can't just at random try something out and hope the bug will trigger (if it still exists), thanks!

[2020-01-10 08:14] magento-engcom-team commented on #12075
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30334` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 08:39] jamie-selesti opened #26340 "Products in stock in the admin but out of stock on the frontend"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.3

### Steps to reproduce (*)

1. Go to a simple product which belongs to a configurable product
2. Check the stock status
3. Go to the frontend and check if simple product option is shown

### Expected result (*)

1. Product to be shown in the configurable dropdown in the frontend as it's marked in stock in the admin. Below are screenshots of the a

[2020-01-10 08:46] monotheist opened #26341 "Full Page Cache expires after 12 hours"
### Preconditions (*)

1. Magento 2.3.3 & 2.4-develop
2. Varnish 6.2 with default VCL supplied by Magento 2.3.3 with TTL for public content set for 1 week.
3. SSL enabled
4. Nginx with default nginx configuration  file supplied by Magento
### Steps to reproduce (*)

1. Visit a category page or product so that it enters the cache.
2. Note down TTFB with and without cache(In my case it was 70 ms wit

[2020-01-10 09:19] engcom-Delta commented on #9744
Hi @SoloDevAtrix @sydekumf, thank you for your reports. I am not able to reproduce issue by steps you described on clean 2.4-develop
In `Magento\Quote\Model\QuoteRepository::getForCustomer()` I always get last active quote, but not all quotes for customer.
![#9744issueeDebug](https://user-images.githubusercontent.com/51681379/72141051-b9003480-339a-11ea-8489-823174767c65.jpg)

And exception under

[2020-01-10 09:19] #9744 closed, assigned to engcom-Delta

[2020-01-10 09:34] magento-engcom-team commented on #9807
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30340` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 09:41] engcom-Alfa commented on #11616
The issue is still reproducible on the fresh 2.4-developer instance

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/72142669-da165480-339d-11ea-8568-c80a85ea4a05.png)

[2020-01-10 09:45] magento-engcom-team commented on #11616
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30342` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 09:48] pemann commented on #18787
Has this been fixed?

[2020-01-10 09:49] krishprakash commented on #26326
Hi @Datta. It works fine here as provided steps by you.
Please share the video so it will helpful
Thanks.

[2020-01-10 09:53] engcom-Alfa commented on #7522
Hi @axthor, I'm closing this PR now due to inactivity.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-01-10 09:53] #7522 closed, assigned to engcom-Alfa

[2020-01-10 10:01] sudheers-kensium commented on #26325
@magento give me 2.4-develop instance

[2020-01-10 10:01] magento-engcom-team commented on #26325
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-10 10:01] magento-engcom-team commented on #26325
Hi @sudheers-kensium, here is your [Magento instance](https://i-26325-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26325-2-4-develop.instances.magento-community.engineering/admin](https://i-26325-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 10:08] sagarppanchal commented on #24948
@dev-Z-Apx
Thank you so much for this Solution, this would be helpfull & work for me as of now.
I will also look forward to this issue and will let you guys know If can find anything related to this.

[2020-01-10 10:09] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-01-10 10:09] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-10 10:10] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 10:11] sudheers-kensium commented on #26325
@Zyles I am not able to reproduced in Magento 2.4-develop instance. So I am closing this issue.

[2020-01-10 10:11] #26325 closed, assigned to sudheers-kensium

[2020-01-10 10:30] engcom-Bravo commented on #13690
Hello @alexber88
We have rechecked this issue on Magento 2.4-develop, and it seems to be fixed.
Please see the attachment below. We **Enable Persistence** and try to reproduce this by refreshing the Shipping page and adding one more Product ti the Cart
![shoping_cart](https://user-images.githubusercontent.com/51680745/72145717-c241cf00-33a3-11ea-8c2c-af3b10ac4f84.gif)

As for the comment https://g

[2020-01-10 10:30] #13690 closed, assigned to engcom-Bravo

[2020-01-10 10:32] kieran85james opened #26343 "2.3.3 Issue with catalog_product_view.xml not affecting all product types."
### Preconditions (*)

1. Fresh install of Magento 2.3.3
2. Create the needed directories/files for custom theme
3. Add a container to custom catalog_product_view.xml within your theme's Magento_Catalog/layout/ directory

### Steps to reproduce (*)

1. Content > Widgets > Add Widget > CMS Static Block > Select Theme > Layout Updates > Add layout update
2. Select Display on All product types & your

[2020-01-10 10:44] jorgb90 opened #26344 "Products go out of stock while backorder is enabled"
### Preconditions (*)
1. Magento 2.3.3
2. Default stock and source

### Steps to reproduce (*)
1. Create a product with 0 or 1 quantity in stock
2. Set global settings in system->catalog->inventory to Manage stock and Backorders set to Allow qty below 0 and Out of stock threshold to 0.
3. Make sure this settings are also set on product level.

### Expected result (*)
1. When product is bought item

[2020-01-10 10:48] magento-engcom-team commented on #11304
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30345` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 10:49] oleksii-lisovyi opened #26345 "Reorder in Admin panel leads to report page in case of changed product custom option max characters"
### Preconditions (*)

1. Magento ver. 2.3.2-p2.

### Steps to reproduce (*)

1. Configure a product with text (area) custom option, that has "Max Characters" value = 15.
2. Place an order with the configured product.
2.1. The text custom option value should be at least 11 symbols length.
3. Change the value of the product text custom option "Max Characters" to 10 (or less).
4. Go to the placed or

[2020-01-10 10:49] oleksii-lisovyi commented on #26345
@magento give me 2.4-develop instance

[2020-01-10 10:49] magento-engcom-team commented on #26345
Hi @oleksii-lisovyi. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-10 10:50] magento-engcom-team commented on #26345
Hi @oleksii-lisovyi, here is your [Magento instance](https://i-26345-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26345-2-4-develop.instances.magento-community.engineering/admin](https://i-26345-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 10:57] oleksii-lisovyi commented on #26345
I was able to reproduce the issue on the provided vanilla Magento instance.

[2020-01-10 11:01] sagarppanchal commented on #24948
hello @dev-Z-Apx
What I have done is inside SetupData.php

[code]

and this worked for me.
Hope this would be helpful.

[2020-01-10 11:02] mrtuvn commented on #26302
Fount qty column is inconsistent in current code base. Some place define this value in decimal and some place use int

[2020-01-10 11:19] magento-engcom-team commented on #23833
Hi @swnsma, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [cd4a3eb409238de01508fc3afe5adf283f30ce98](https://github.com/magento/magento2/commit/cd4a3eb409238de01508fc3afe5adf283f30ce98)
 - [0d4bcfabdb87853c70cff0c07f9bce82f6eb877b](https://github.com/magento/m

[2020-01-10 11:20] magento-engcom-team commented on #23833
Hi @swnsma, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [cd4a3eb409238de01508fc3afe5adf283f30ce98](https://github.com/magento/magento2/commit/cd4a3eb409238de01508fc3afe5adf283f30ce98)
 - [0d4bcfabdb87853c70cff0c07f9bce82f6eb877b](https://github.com/magento/m

[2020-01-10 11:33] thurow commented on #25901
Looks like this issue has already been solved on [#25206](https://github.com/magento/magento2/pull/25206). I'm closing this issue.

[2020-01-10 11:33] #25901 closed, assigned to nobody

[2020-01-10 11:34] Zyles commented on #26325
Do yo know how to read step by step instructions?

The instance you tested on is in developer mode.

[2020-01-10 11:40] sudheers-kensium commented on #26325
@Zyles We don't have access to enable production mode in vanilla Magento instance, so I have tested in my local instance I am not able to reproduced.

[2020-01-10 11:49] Zyles commented on #26325
Please provide link to install instructions on where to get 2.4-develop for local.

[2020-01-10 11:54] sudheers-kensium commented on #26325
We can clone or download the from github.

[2020-01-10 12:00] engcom-Alfa commented on #11985
Hi @careys7.
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop instance.

**Manual testing scenario:**
1. Add Color attribute with Swatch input type
2. Add ~1000+ options
3. Click on "Add Swatch" button

**Actual Result:**
Browser doesn't crash ( tested on Chrome v.79)

@careys7 Could you take a look?
Thanks!

[2020-01-10 12:02] engcom-Alfa commented on #11895
Hi @liangdefeng , I'm closing this PR now due to inactivity.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-01-10 12:02] #11895 closed, assigned to engcom-Alfa

[2020-01-10 12:05] mattijv commented on #24942
Just a heads up for future readers, this problem also affects the 2.3.2-p2 version.

[2020-01-10 12:20] sudheers-kensium commented on #26344
@magento give me 2.4-develop instance

[2020-01-10 12:20] magento-engcom-team commented on #26344
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-10 12:21] magento-engcom-team commented on #26344
Hi @sudheers-kensium, here is your [Magento instance](https://i-26344-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26344-2-4-develop.instances.magento-community.engineering/admin](https://i-26344-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 12:42] sudheers-kensium commented on #26344
@jorgb90 I have followed your steps and created the product and changed the settings. After placing the order Item is in stock and quantity is decreased . It is working as expected so please provide more details with screenshots/video link

[2020-01-10 12:48] Zyles opened #26346 "2fa on 2.4-develop"
Two-factor on 2.4. Where is it?

### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Install Magento 2.4-develop
2. Try to find 2fa

### Expected result (*)

2fa support.

### Actual result (*)

No 2fa support.

[2020-01-10 12:51] Datta commented on #26326
hi
i have checked i am getting the issue. please check the below link for more information.
https://www.screencast.com/t/EEdwqh85KVz

[2020-01-10 12:52] magento-engcom-team commented on #12301
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30347` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 12:53] jorgb90 commented on #26344
@sudheers-kensium

I can see you do not have MSI enabled? I have stores -> inventory and running on the default stock and source.

[2020-01-10 12:53] b2bdokter commented on #24942
I have applied changes that hostep brings to our attention, we are running on 2.3.3 and experienced this problem after update from 2.2.2 and now these two files replaced and we deployed it... It seems solved so big thanks !

Have to say that you will need to flush your internet history cache + cookies to see it working.
Thank you @hostep

[2020-01-10 13:17] engcom-Alfa commented on #13316
The issue is still reproducible on the fresh 2.4-develop instance

 **Actual Result:**
When I select the Val 1, CMS Chooser is visible
When I select the Val 2, CMS Chooser is visible
![screen](https://user-images.githubusercontent.com/51679138/72155603-1d7fbb80-33bc-11ea-985b-1c349971fcd7.gif)

[2020-01-10 13:17] magento-engcom-team commented on #13316
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-01-10 13:21] webspeaks commented on #9486
@hostep All I can tell right now is that we migrated from Magento 1.9 to Magento 2.2. The site was running fine till we upgraded to 2.3.3 recently.
Please note that we did all upgrades on time and did necessary upgrades from 2.2 -> -2.3.1 -> 2.3.2 -> 2.3.3
Also the issue occurs even for the opened tabs, like General tab which is always open. Not sure what else I can provide.

[2020-01-10 13:25] magento-engcom-team commented on #9762
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30348` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 13:36] magento-engcom-team commented on #12581
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30349` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-10 13:56] LucasEasy opened #26347 "404 page when opening import page."
When i trie to open the import page a 404 error appears.

I work on a plesk server with magento version 2.1.0

Steps i take: system>Data Transfer>Import>404 page error

Expected result is the import page where i can choose what i want to import.

Actual result is a 404 error page

![error 404 pn](https://user-images.githubusercontent.com/58982864/72157923-52d6da00-33b9-11ea-8157-dbcba3ba8a22.PNG)

[2020-01-10 14:09] jorgb90 commented on #26344
I have disabled the MSI modules for now to see if that solves it for now. Will update.

[2020-01-10 15:39] wescey commented on #26301
@Bartlomiejsz i guess this is related to #19872

[2020-01-10 16:06] paul-gene commented on #24930
I just got this error out of the blue. Earlier in the day, by CircleCI workflow ran fine, with zero issue. One commit later, adding files into a custom module in `app/code` and this error pops up when trying to do `setup:di:compile`. Literally no reason for it to kick off, when it didn't previously.

[2020-01-10 16:33] krishprakash commented on #26347
Hi @LucasEasy.
Magento GitHub issue tracker is intended for Magento core issues only.
Please connect community forum or Magento stack exchange to discuss about this
Thanks

[2020-01-10 16:33] #26347 closed, assigned to krishprakash

[2020-01-10 18:45] engcom-Hotel commented on #24426
@magento I am working on it

[2020-01-10 19:30] hostep commented on #9486
@webspeaks: it sounds like a different bug then, the initial bugreport was that the "use default value" checkboxes got unchecked when the accordion/tab was closed and you saved the entity without opening one of the accordions/tabs.

What I understand from your issue is that you have the "use default value" checkbox unchecked and by checking it and saving, it remains unchecked, is that correct?

It

[2020-01-10 20:58] lbajsarowicz commented on #26331
When this task is done, another one is ready to be done: https://github.com/magento/magento2-functional-testing-framework/issues/520

[2020-01-10 22:08] Leland commented on #26346
@magento give me 2.4-develop instance

[2020-01-10 22:08] magento-engcom-team commented on #26346
Hi @Leland. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-10 22:09] magento-engcom-team commented on #26346
Hi @Leland, here is your [Magento instance](https://i-26346-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26346-2-4-develop.instances.magento-community.engineering/admin](https://i-26346-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-10 22:15] Jilco commented on #25634
Is there a solution or work around? My CPU stays at 100%...

[2020-01-10 22:37] Jimgitsit commented on #19479
Seems to me this issue was closed without a resolution. Isn't the fix here to add a definition processor for the enum data type? I agree with @dan-ding that this is an issue with Magento not fully supporting MySQL.

[2020-01-10 23:24] lbajsarowicz opened #26349 "DevOps / CI: Lack of information about Functional Tests generation failure"
### Preconditions (*)
1. Pull Request created to one of Magento repositories
2. Syntax error or Reference error in MFTF Test

### Steps to reproduce (*)
1. Cause XML syntax error in one of Action Groups
2. Create Pull Request to `magento/magento2` repository

### Expected result (*)
1. Functional Tests fail and there's information provided about the error happened.

**OR**

1. Functional Tests fai

[2020-01-10 23:43] MichaelThessel opened #26350 "Paypal Credit button offset by transparent PNG"
### Preconditions (*)

1. 2.3.3, 2.4-develop

### Steps to reproduce (*)

1. Enable PP Credit in config
2. Enable In-Context Checkout Experience - set "No"

### Expected result (*)

1. Buttons render without offset

### Actual result (*)

![20200110_153843](https://user-images.githubusercontent.com/2926266/72193716-87e62b00-33bf-11ea-99a4-ecea4a619c1c.png)

![image](https://user-images.githubuserc

[2020-01-11 01:27] shikhamis11 commented on #26304
@magento give me 2.4-develop instance

[2020-01-11 01:27] magento-engcom-team commented on #26304
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-11 01:27] magento-engcom-team commented on #26304
Hi @shikhamis11, here is your [Magento instance](https://i-26304-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26304-2-4-develop.instances.magento-community.engineering/admin](https://i-26304-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-11 01:50] magento-engcom-team commented on #26345
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30362` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-11 05:00] jsdupuis commented on #25927
Doesn't work for me. Tried twice. Conversation with Google goes in an endless circle. They keep telling me to create a GMC account outside Magento which I keep repeating them doesn't work with the plugin... :(

[2020-01-11 08:41] nadroj467 opened #26351 "Paypal Payments Pro on Mobile redirect to homepage on payment success"
I have only recorded this issue when placing orders on iPhone (may be other mobile devices). Desktop browsers have the correct result. Can be reproduced using chrome desktop browser with iPhone X emulation enabled.

I have replicated the issue on a clean Magento 2.3.3 install

### Preconditions (*)

1. Magento 2.3.3
2. Safari or Chrome browser (latest) on iPhone
3. Merchant Country UK
4. Website P

[2020-01-11 08:42] nadroj467 commented on #26351
@magento give me 2.3.3 instance

[2020-01-11 08:42] magento-engcom-team commented on #26351
Hi @nadroj467. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-11 08:43] magento-engcom-team commented on #26351
Hi @nadroj467, here is your [Magento instance](https://i-26351-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26351-2-3-3.instances.magento-community.engineering/admin](https://i-26351-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-11 08:45] Zyles opened #26352 "Urgent: Unable to send emails using SMTP in Magento 2.3.3"
It is not possible to send email in 2.3.3 using SMTP.

**DO NOT BOTHER TESTING ON 2.4-develop**

This **NEEDS** to be fixed on 2.3.3.

### Preconditions (*)

1. Magento 2.3.3
2. Postfix 3.3.0

### Steps to reproduce (*)

1. Install Magento 2.3.3
2. Apply backward patch for email `EmailMessageInterface_2.3.3_backward_compatibility_github-2019-10-14-03-45-36.patch`
3. Place new order

### Expected r

[2020-01-11 09:14] DanielRuf commented on #26349
That's my main problem. We don't see what happens in the background. Only the final report is provided.

[2020-01-11 09:24] Zyles commented on #26352
Applied patch:
https://github.com/magento/magento2/commit/6976aabdfdab91a9d06e412c2ed619538ed034b6

Removes the `Expected disposition, got` error.

But now the order emails are garbled and unreadable with content:

`=0A= =0A=0A=0A=0A=0A`

[2020-01-11 10:09] koushikch7 commented on #25963
@magento give me 2.4-develop instance

[2020-01-11 10:09] magento-engcom-team commented on #25963
Hi @koushikch7. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-11 10:09] magento-engcom-team commented on #25963
Hi @koushikch7, here is your [Magento instance](https://i-25963-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25963-2-4-develop.instances.magento-community.engineering/admin](https://i-25963-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-11 11:07] davidbayley80 commented on #5174
Did this issue get a resolution? I'm experiencing the same issue: Post migration of the settings, the admin url is in accessible

Thanks,

[2020-01-11 11:19] Zyles commented on #26352
Found the issue. The problem after patching the bugs is the `Mageplaza_PdfInvoice` module.

[2020-01-11 11:19] #26352 closed, assigned to nobody

[2020-01-11 11:52] jorgb90 commented on #26344
@sudheers-kensium I found out it only occurs when checking out at the frontend. Placing the order in the backend doesn't trigger it.

[2020-01-11 11:55] janmyszkier commented on #25979
I understand this is the moment Magento finally comes up with a solution that does NOT store the class reference in the database which will finally allow us to disable the modules we do not want anymore. Can't wait :)

[2020-01-11 16:51] gauravagarwal1001 commented on #26302
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-01-11 16:51] magento-engcom-team commented on #26302
Hi @gauravagarwal1001. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-11 16:52] magento-engcom-team commented on #26302
Hi @gauravagarwal1001, here is your [Magento instance](https://i-26302-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26302-2-4-develop.instances.magento-community.engineering/admin](https://i-26302-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-11 23:18] candls2017 opened #26353 "Cart Price Rule Page disappeared"
### Preconditions (*)

1.Magenton 2.3
2.

### Steps to reproduce (*)

1. Navigate to cart rule> add 12 cart rules> Schedule update > Save
2.

### Expected result (*)

1  Should land on the schedule page and allowed to x out
2.

### Actual result (*)

1. [Screenshots, logs or description]
**2.  The cart rules page disappeared, but can see the 12 rules at top - see the attached image.**

![image](ht

[2020-01-11 23:19] candls2017 commented on #26353
Sorry Magento 2.3

[2020-01-12 10:20] marcoaacoliveira opened #26356 "Create customer's token in swagger UI not working properly"
When trying to use Swagger UI to login you are blocked by retrieve by email step. I could reproduced that in 2.4, but I'm afraid the older versions has the same problem.

### Preconditions (*)
1. Use Swagger UI to login
2. Magento 2.4

### Steps to reproduce (*)
1. Register a customer in Magento registration form (site);
2. Try to login with that customer through swagger UI (http://yourwebsite.com

[2020-01-12 11:17] wajahatbashir commented on #5946
@magento-engcom-team,

I'm facing same issue on my live website, after adding product mini cart, cart and checkout all pages are showing empty. Can you help me regarding about this issue.

http://trendscasa.com/solo-trolley-bag-bulk-in-dubai-lock-set-of-3-piece.html

Please check below screenshot.

https://prnt.sc/qmkcey

Thanks

[2020-01-12 11:18] wajahatbashir commented on #5946
@magento-engcom-team,

I'm facing same issue on my live website, after adding product mini cart, cart and checkout all pages are showing empty. Can you help me regarding about this issue. I'm using magento 2.3.0

http://trendscasa.com/solo-trolley-bag-bulk-in-dubai-lock-set-of-3-piece.html

Please check below screenshot.

https://prnt.sc/qmkcey

Thanks

[2020-01-12 13:49] rommelfreddy commented on #26332
can confirm too.

[2020-01-12 13:53] pmclain commented on #26356
@marcelo-monteiro This is possible by specify in the desired store code as a query parameter in the swagger request as documented https://devdocs.magento.com/guides/v2.3/rest/generate-local.html#generate-a-full-rest-reference-locally

`http://<magento_host>/swagger?store=<store_code>` Specifying the store code of the customer will allow the request to succeed.

[2020-01-12 13:53] #26356 closed, assigned to marcoaacoliveira

[2020-01-12 15:26] jaimiedijstra commented on #23908
Magento 2.3.3 I have just come across this problem. Is there a step by step process to apply the fix wihle Magento are preparing 2.3.4 for launch mentioned in November? I'm using community edition.

As others, this problem is a nightmare to reproduce, however by all description is the same and the main common issues:

- It was a testing account that I had a problem with checking out
- I ran `SELEC

[2020-01-12 15:33] salehawal opened #26358 "Admin | Customers - Cant Preform action on all selected customers ( entire data )"
### Preconditions (*)
1. Magento 2.3.1
2. php 7.2
3- Ubuntu Server 16

### Steps to reproduce (*)
1. Gog to Admin > Customers
2. Select all ( All Customers )
3- Preform any action from the drop down ( for example subscribe to mailing list )

### Expected result (*)

1. it should affect the entire selected records

### Actual result (*)

1. it will only affect the visible records ( for example if 2

[2020-01-13 02:41] cralls commented on #23410
I'm having this issue on 2.2.6 with either 1.3.1 or 1.3.3. I have all custom extensions disabled. I do have a custom theme. @tedivm any tips on how to debug the issue? The stack trace doesn't really tell me anything and there are no errors logged.

[2020-01-13 03:47] Morgon commented on #26297
We don't want to explicitly pass an empty string in AbstractType, because we still want defaults for legitimate SKU updates. I currently believe the best course of action is for Type\Select to simply use something like `array_filter($skus)` after [building the options array](https://github.com/magento/magento2/blob/2.2/app/code/Magento/Catalog/Model/Product/Option/Type/Select.php#L292). Empty arra

[2020-01-13 04:22] krishprakash commented on #26358
Hi @salehawal. Issue is already fixed in latest magento.
You can review at #22004
PR #22704

[2020-01-13 04:22] #26358 closed, assigned to krishprakash

[2020-01-13 04:57] pascal-boisselier commented on #26283
Based on your recommandation, I tryed and reproduced on the 2.4-develop branch up to date.
So, please let me know if you have any information about this issue.

![screencapture-magento2-4-local-product-categ-1-html-2020-01-13-15_56_30](https://user-images.githubusercontent.com/11149224/72233747-4652bb80-361d-11ea-9d4b-bb466c62b04b.png)

[2020-01-13 05:11] cmacdonald-au commented on #19597
Two things from this side;

1. One of the modules we brought in did not appropriately specify the `default` & `on_update` values for a timestamp column. We needed to fix that && set `explicit_defaults_for_timestamp = on` within `my.cnf` to prevent the database from applying schema settings that were not defined in `db_schema.xml` (running percona 5.7 here) - this would consistently report differen

[2020-01-13 05:47] krnshah commented on #8181
Thank you @tuyennn and @erikhansen for the comments, but your suggested changes are already merged in 2.3.3 and still we are facing this issue.

Do we have any other suggestion?

[2020-01-13 05:50] erikhansen commented on #8181
@krnshah The change I mentioned has _not_ been merged into 2.3.3, as it's my own custom workaround. I'd recommend taking another look at [the comment](https://github.com/magento/magento2/issues/22596#issuecomment-571687836) I linked to.

[2020-01-13 05:53] tondoit opened #26363 "Grouped Product can't add any item to cart if any other item is out of stock"
https://magento.stackexchange.com/questions/216626/grouped-product-cant-add-any-item-to-cart-if-any-other-item-is-out-of-stock

My understanding of Grouped Products is a little limited, but as I understand it, a Grouped Product is simply a listing of products that I want to show to customers on one page.

If one or more items are added to the cart from that Grouped Product, they are added as indiv

[2020-01-13 05:56] tondoit commented on #26363
yes

[2020-01-13 06:11] tejash-wagento opened #26364 "Add to Compare link not showing in mobile view under 640px"
### Summary
On Product detail page Add to Compare link is not showing in mobile view under 640px(@screen__s) resolution

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce

On the Product detail page

### Expected result

![image](https://user-images.githubusercontent.com/15318347/72235545-c9154f80-35f8-11ea-8481-fd324d430d8d.png)

### Actual result

![i

[2020-01-13 06:26] magento-engcom-team commented on #26364
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30366` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-13 06:34] erikhansen commented on #19597
If anyone is using Magento 2.3.3 _Open Source_ and wants the relevant fixes mentioned in this issue, you can download [the patch here](https://gist.github.com/erikhansen/41bbc22d501fecb36892d49b41c204d3).

Details about this patch: I converted @yanncharlou's [recommended changes](https://github.com/magento/magento2/issues/19597#issuecomment-463611130) into a patch (instead of applying the changes

[2020-01-13 07:29] krnshah commented on #8181
@erikhansen yes, your changes will not save the new address every time. but if we change something in existing address it will "add the new address".

Instead of that it should be update the current address.

Please share your thoughts. if i am wrong.

[2020-01-13 08:36] dverkade commented on #19597
According to the release notes for Magento 2.3.4 this will be resolved in the upcoming version:

Source: https://devdocs-beta.magento.com/guides/v2.3/release-notes/release-notes-2-3-4-open-source.html

This needs to be verified when the release comes out and if the issue has been fixed this can be closed.

[2020-01-13 09:00] domeglic opened #26366 "Klarna payment fails if company is entered"
### Preconditions (*)

1. Magento 2.3.3
2. Merchant country: DE, default country: DE, currency: EUR
3. Klarna configured and enabled (Klarna EU)
4. Klarna debug log enabled

### Steps to reproduce (*)

1. As guest, go to checkout and enter a company into shipping address form
2. Select klarna payment and place the order

### Expected result (*)

1. Order is placed successfully

### Actual result (

[2020-01-13 09:01] domeglic commented on #26366
@magento give me 2.3.3 instance

[2020-01-13 09:01] magento-engcom-team commented on #26366
Hi @domeglic. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-13 09:01] magento-engcom-team commented on #13316
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30368` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-13 09:02] magento-engcom-team commented on #26366
Hi @domeglic, here is your [Magento instance](https://i-26366-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26366-2-3-3.instances.magento-community.engineering/admin](https://i-26366-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 09:07] domeglic commented on #26366
There is no option for Klarna in the test instance so I cannot confirm it, but it is a bundled extension so this is still a Magento issue.

[2020-01-13 09:22] engcom-Hotel commented on #6532
Hello @astorm
As i understand we can close this issue as not relevant, because we have to use code like this for this action now:
[code]
Do you agree?

[2020-01-13 09:51] ilnytskyi commented on #22504
We have similar or the same issue during order placement and customer section update
![Selection_298](https://user-images.githubusercontent.com/3192770/72246218-89e40000-35f2-11ea-8c59-dae8fc0d2d21.png)
another profile
![Selection_297](https://user-images.githubusercontent.com/3192770/72246226-8cdef080-35f2-11ea-82a4-c7c0012335c8.png)

[2020-01-13 09:53] ilnytskyi commented on #22824
Redirected from #22504
Seems to be the same issue https://github.com/magento/magento2/issues/22504#issuecomment-573582674

[2020-01-13 10:17] ilnytskyi commented on #22504
Probably found additional way to reproduce the issue when looked through all request profiles in order flow
![Selection_296](https://user-images.githubusercontent.com/3192770/72247620-91f16f00-35f5-11ea-974a-e6c93be7181d.png)
The module https://amasty.com/custom-order-number-for-magento-2.html#changelog
Cleans the config cache in this url
`POST /rest/store_code/V1/guest-carts/Dx7aqUmYJyd9TvcjIro4Z

[2020-01-13 10:27] Kindlebit-Kbs commented on #26291
ok @ajijshekh123 , Can you please check for the possible estimate for fixing this issue.?

[2020-01-13 10:40] engcom-Delta commented on #26307
@lbajsarowicz thank you for your report. I am not sure that having corresponding `<deleteData>` for each `<createData>` would be a good idea, for example, creation [configurable product ](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Test/Mftf/Test/StorefrontClearAllCompareProductsTest.xml#L38).
For particular case you are free to create pull request.

Marked as **

[2020-01-13 10:53] RaFr commented on #19597
@erikhansen is your patch compatible with  Magento 2.3.2 Open Source please?

[2020-01-13 10:59] krishprakash commented on #26363
@magento give me 2.4-develop instance

[2020-01-13 10:59] magento-engcom-team commented on #26363
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-13 10:59] magento-engcom-team commented on #26363
Hi @krishprakash, here is your [Magento instance](https://i-26363-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26363-2-4-develop.instances.magento-community.engineering/admin](https://i-26363-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 11:22] krishprakash commented on #26363
Hi @tondoit.
This is expected behavior of magento.
You can add the group product if any individual product is out of stock.
Also you can add add to cart individual product.
Refer below screencast for information:
https://www.screencast.com/t/2FhtXf6det
closing this ticket.

[2020-01-13 11:22] #26363 closed, assigned to krishprakash

[2020-01-13 11:26] magento-engcom-team commented on #25268
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-25044` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-13 11:26] Mark-Techmall opened #26367 "There was no Home CMS page configured or found."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-01-13 11:26] Kindlebit-Kbs opened #26368 "On Check out page Giving error in magento2.3. Unable to unserialize."
### Summary (*)
I am using checkout_cart_product_add_after event where I am inserting custom post values to quote. Its adding product successfully and also updating values in quote table. but when I go to Check out page It will Give me exception: Unable to unserialize value. Screenshot shown in below screenshot. Please give me any solution to fix it.

### Examples (*)
![Screenshot from 2020-01-13

[2020-01-13 11:41] krishprakash commented on #26367
Hi @Mark-Techmall. To move ahead verification process please update the precondition,Steps to reproduce,Actual and expected result.
Thanks.

[2020-01-13 11:41] #26367 closed, assigned to krishprakash

[2020-01-13 12:04] engcom-Echo commented on #26343
Hi @kieran85james
I am not able to reproduce these issues. Maybe you do not apply and configure a storefront theme.
If you do not configure the custom theme, a container doesn't show on the storefront. Try to follow the next guide https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/theme-apply.html

[2020-01-13 12:07] wajahatbashir opened #26369 "Magento 2.3.0 - After adding to cart, cart page showing empty"
I'm adding products to cart page, after successfully product added, then when i check mini cart and cart pages  there are showing nothing any item. Using Magento 2.3.0

I could not found any solution, I have spend too much time on this issue but could not get any help.

![Screenshot_1](https://user-images.githubusercontent.com/11786908/72254863-ad24a480-361e-11ea-8812-7f9a3975a7b9.jpg)

[2020-01-13 12:09] bernd-reindl commented on #26333
i confirm

[2020-01-13 12:22] krishprakash commented on #26369
Hi @wajahatbashir
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Thank You.

[2020-01-13 12:22] #26369 closed, assigned to krishprakash

[2020-01-13 12:24] bernd-reindl opened #26370 "Add to cart (configurable)"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Set product attribute color to "Used in Product Listing: Yes"
2. Add an simple product
3. Add a configurable product with only color as option
4. Add some configurations to the configurable product
5. Add the configurable product as crossselling product to the simple product
6. Add the simple product to cart in frontend
7. Goto

[2020-01-13 12:24] bernd-reindl commented on #26370
@magento give me 2.4-develop instance

[2020-01-13 12:24] magento-engcom-team commented on #26370
Hi @bernd-reindl. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-13 12:25] magento-engcom-team commented on #26370
Hi @bernd-reindl, here is your [Magento instance](https://i-26370-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26370-2-4-develop.instances.magento-community.engineering/admin](https://i-26370-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 12:26] sandip5678 opened #26371 "Currency Price issue for Bundle Product with ElasticSearch 6.8.x in Multi Store views"
### Preconditions (*)

1. Magento 2.3.3 CE & 2.4-develop
2. ElasticSearch Version 6.8.x

### Steps to reproduce (*)

1. Create two storeviews under the same website and same store.
2. Set different Default Display Currency for each Store View
i.e. (For English storeview set US Dollar and For UAE storeview set United Arab Emirates Dirham)

3. Set Allowed Currencies as follows by switching to separa

[2020-01-13 12:39] bernd-reindl commented on #26370
How can i add the label Reproduced on 2.4.x?

[2020-01-13 12:43] kieran85james commented on #26343
I have definitely applied and configured a storefront theme.

Surely, if I hadn't done that, the container wouldn't show under all product types either but it does.

Just to be clear, any containers set do show on the front-end. I am talking about the container not showing as an option when setting up a widget.

Did you test on Magento 2.3.3?

[2020-01-13 12:53] magento-engcom-team commented on #26370
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30376` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-13 12:54] engcom-Hotel commented on #26193
Hello @Zyles
I am not able to reproduce this issue on a fresh Magento 2.4-develop.

**Testing scenario:**

1. Install Magento 2.4-develop
2. Disable Authorizenet modules
![image](https://user-images.githubusercontent.com/51681618/72257250-d0962200-3613-11ea-9dbf-66ab639041bf.png)
3. Go to checkout

**Result:**
I was able to place order:
![image](https://user-images.githubusercontent.com/51681618/7

[2020-01-13 12:54] #26193 closed, assigned to engcom-Hotel

[2020-01-13 12:58] Alwafaa123 commented on #25769
@fisal77 not yet waiting for the fix. Let me know if you have any idea about the same.

[2020-01-13 13:01] Zyles commented on #26193
Disable != Uninstall

[2020-01-13 13:08] heerdt opened #26372 "Product Layered Navigation filters return incorrect values"
The Filters object returned by the Products query should contain the available layered navigation filters array. If the Products query is filtered by category id, that is analogous to the shopper browsing to a category page, so returned GraphQL product filters in layered nav should correspond to the filters shoppers see on the category page.

### Preconditions (*)
Magento 2.3.3
Sample data
Steps t

[2020-01-13 13:09] engcom-Hotel commented on #26184
Hello @nagrgk
I am not able to reproduce this issue on a fresh Magento 2.4-develop because `search_tmp_` table usage was deprecated.
![image](https://user-images.githubusercontent.com/51681618/72258133-f6242b00-3615-11ea-848b-58729e3521fc.png)
Magento is using `search_query` table now:
![image](https://user-images.githubusercontent.com/51681618/72258376-92e6c880-3616-11ea-9432-a03721fa7c45.png)

S

[2020-01-13 13:12] engcom-Hotel commented on #26193
@Zyles
i have deleted modules after disable and all works as expected:
![image](https://user-images.githubusercontent.com/51681618/72258551-0b4d8980-3617-11ea-934d-de20cc0bb089.png)

![image](https://user-images.githubusercontent.com/51681618/72258528-f96be680-3616-11ea-9a48-2e6760f4f708.png)

[2020-01-13 13:12] qsolutions-pl commented on #20478
@larsroettig any updatE?

[2020-01-13 13:18] magento-engcom-team commented on #26205
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30379` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-13 13:21] sumitCueBlocks commented on #25190
Please check this link for a workaround.

https://magento.stackexchange.com/questions/300948/magento-2-issue-with-product-url-rewrite-on-single-store-mode

[2020-01-13 13:21] sumitCueBlocks commented on #5929
Please check this link for a workaround.

https://magento.stackexchange.com/questions/300948/magento-2-issue-with-product-url-rewrite-on-single-store-mode

[2020-01-13 13:31] heerdt commented on #26372
@magento give me 2.4-develop instance

[2020-01-13 13:31] magento-engcom-team commented on #26372
Hi @heerdt. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-13 13:32] magento-engcom-team commented on #26372
Hi @heerdt, here is your [Magento instance](https://i-26372-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26372-2-4-develop.instances.magento-community.engineering/admin](https://i-26372-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 13:39] magento-engcom-team commented on #26333
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30382` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-13 13:45] heerdt commented on #26372
yes

[2020-01-13 13:45] magento-engcom-team commented on #26372
Hi @heerdt. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-13 13:46] magento-engcom-team commented on #26372
Hi @heerdt, here is your [Magento instance](https://i-26372-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26372-2-4-develop.instances.magento-community.engineering/admin](https://i-26372-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 13:46] hostep commented on #26184
@engcom-Hotel, it doesn't mean that if the class is marked as deprecated that it is no longer used within Magento.
I can still find at least 3 references in Magento's CatalogSearch module where it is being used.

Also be aware that not every single Magento user is able to run ElasticSearch on their hosting, a lot of Magento users will still use Mysql as the search engine.

I'm reopening, because i

[2020-01-13 13:51] nagrgk commented on #26184
@engcom-Hotel
2.4 is long way to go. search_temp queries are killing stores.

Before you justify, please think about the performance and business use cases always.
here people are very eager to close tickets and not take any actions and not thinking about the end users.

[2020-01-13 14:09] bernd-reindl commented on #26332
How can i add the Label Issue: Confirmed???

[2020-01-13 14:13] heerdt commented on #26372
@magento yes, Still reproducible on 2.4-develop

[2020-01-13 14:14] devchris79 opened #26373 "Default order template results in blank email body in latest Thunderbird 68.0"
### Preconditions (*)

1. Magento 2.3.3
2. Thunderbird 68.0
3. Default email templates

### Steps to reproduce (*)

1. Complete an order and attempt to read the email with Thunderbird 68.0

### Expected result (*)

1. Usual thanks for the order email

### Actual result (*)

1. Email appears with a blank body and email.html as an attachment

The default email template appears to have issues with th

[2020-01-13 14:16] Spideramn commented on #4688
Is it possible that these lines are causing the issue?
https://github.com/magento/magento2/blob/f9a88849152344df337d5cc24e0b6b3cef228a82/app/code/Magento/Catalog/Model/Product.php#L2365-L2367

It seems like when you save a product from within the front-end area the complete product cache is invalidated? Or is this a completely different issue?

When I save a product while emulating a different are

[2020-01-13 14:27] DavaGordon commented on #26310
This has to do with all cookies which do not originate from the same URL not just google. this will have a massive impact on everyone. not long until it is rolled out and could have massive implications if people have not prepared. this change will affect user session cookies, payment gateway sessions and so much more

[2020-01-13 14:27] magento-engcom-team commented on #26332
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30383` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-13 14:34] Tjitse-E commented on #15196
I had the same thing with Magento 2.3.2. What i've done is:

1. Change the `isInstalled()` function like this:
[code]

Then change the `copyGlobalConfigFile()` to:
[code]

When `isInstalled()` returns true, than the `defaults_extra.cnf` will contain empty values. And i'm not sure that the `config.local.php` file does anything.  Now everything I place in `etc/config-global.php` will be included in

[2020-01-13 14:55] oefterdal opened #26374 "GET /V1/products/attributes/{attributeCode}/options only returns label value for Default View"
**Preconditions (*)**

    Magento 2.3.3

**Steps to reproduce (*)**

When i request
/V1/products/attributes/{attributeCode}/options
It only returns label and value for Default View

**Actual result (*)**
[code]

**Expected result (*)**

In the documentation at http://devdocs.magento.com/swagger/
it should return something like this:

[code]

This issue is the same as https://github.com/magento/ma

[2020-01-13 14:56] oefterdal commented on #26374
@magento give me 2.4-develop instance

[2020-01-13 14:56] magento-engcom-team commented on #26374
Hi @oefterdal. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-13 14:56] magento-engcom-team commented on #26374
Hi @oefterdal, here is your [Magento instance](https://i-26374-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26374-2-4-develop.instances.magento-community.engineering/admin](https://i-26374-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 15:00] devchris79 commented on #26310
@DavaGordon I was actually referring to the likely culprit for the Magento 2 core files. I realise the issue extends to other modules and any potential cross site cookie.

[2020-01-13 15:04] chris-pook opened #26375 "Switching billing address causes Javascript function text to render in front-end checkout payment section"
With the Braintree payment method enabled, when switching billing address using the dropdown of the customer's saved addresses a ton of javascript gets rendered to the page (looks like PrototypeJS source code). This is really nasty and looks quite scary right in the payment step alongside the customer's payment card details..

### Preconditions (*)
1. Magento 2.3.3 installed
2. Braintree payment m

[2020-01-13 15:06] oefterdal commented on #26374
Can confirm that this issue is on M2.3.4 vanilla installation also.

`[
    {
        "label": " ",
        "value": ""
    },
    {
        "label": "Black",
        "value": "4"
    }
]`

It also includes an empty object.

[2020-01-13 15:08] chris-pook commented on #26375
@magento give me 2.3-develop instance

[2020-01-13 15:08] magento-engcom-team commented on #26375
Hi @chris-pook. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-01-13 15:17] GuiltyNL commented on #4688
The whole FPC is a joke in Magento. We are having FPC issues since 2017 and we have spent a lot of hours of our own and paid hours to solve the issues with limited success.

The cache is being flush the whole time our cache warmer is not able to keep up.

[2020-01-13 15:19] gwharton commented on #26373
Pretty sure this has been fixed in latest codebase by removing content disposition: inline header.

[2020-01-13 15:33] engcom-Echo commented on #26249
Hi @CeligoLabs. Thank you for your report.

Please specify which version Magento(CE/EE) you are using.

[2020-01-13 15:34] engcom-Hotel commented on #26184
@hostep @nagrgk
i have to discuss with my team lead about this issue, because we cannot just confirm issues that are not reproducible on the Magento 2.4-develop.

[2020-01-13 15:41] victortodoran commented on #8866
@orlangur I'm a little confused. Is UpdateOnSave for custom indexers supported out of the box? Or do I need to add custom logic to support it (plugins, observers or anything else).

[2020-01-13 15:47] nagrgk commented on #26184
@engcom-Hotel
looks this is perfect reply. taking time and investigating is always best than just closing.

thanks

[2020-01-13 16:30] engcom-Echo commented on #26343
@kieran85james

Thank.  The common layout is universal for all types. You have the ability to create a configuration for each individual type of product if you want to use a different layout.

[2020-01-13 16:30] devchris79 commented on #26373
@gwharton Thanks I will give that a try, it may be that the template has been inherited from older versions.

[2020-01-13 16:35] gwharton commented on #26373
The fix is in the codebase, not the templates. I can post link later but currently mobile.

[2020-01-13 16:51] devchris79 commented on #26373
Thanks @gwharton I think I found the issue #25076, now applying the header fix.

[2020-01-13 16:53] #26373 closed, assigned to nobody

[2020-01-13 17:13] erikhansen commented on #19597
@dverkade I agree that this needs to be verified. Considering that several people have reported that applying [edec48a](https://github.com/magento/magento2/commit/edec48ae150b0173f2f967058777295e6c615dc3) as a patch did not work for them, I'm doubtful this will be fixed in 2.3.4.

@RaFr I think it should. If the patch applies successfully, then it should. But you'll need to test it thoroughly.

[2020-01-13 19:03] nbennett25 opened #26376 "Auth.net module sending OPTIONS request"
Using Magento 2.3.3 and the new Auth.net Payment method, configuration with a sandbox account throws an error in the OPTIONS API call. I've been in touch with Auth.net's support, and they have made it clear that the API does not even support OPTIONS requests, so it seems like this is likely a Magento issue.

### Preconditions (*)

1. Magento 2.3.3
2. Auth.net sandbox account configured
3. Credenti

[2020-01-13 19:52] nbennett25 commented on #26376
@magento give me 2.3.3 instance

[2020-01-13 19:52] magento-engcom-team commented on #26376
Hi @nbennett25. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-13 19:53] magento-engcom-team commented on #26376
Hi @nbennett25, here is your [Magento instance](https://i-26376-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26376-2-3-3.instances.magento-community.engineering/admin](https://i-26376-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 20:00] nbennett25 commented on #26376
@magento confirmed same behavior on 2.3.3 instance.

[2020-01-13 20:25] kieran85james commented on #26343
I am aware of this. If I create the container in the xml related to simple product type only it will then show in the widget layout update under simple product type as well.. but this means adding a container to all product type xml files rather than just the one.

On an older install of magento we have 2.3.1 we only have to apply our container in catalog_product_view and it works for all product

[2020-01-13 20:31] diazwatson opened #26377 "SameSite cookie, posible issues"
| QPT Data Collection|borderStyle=dashed|borderColor=#cccccc|titleBGColor=#dddddd|bgColor=#e3ffea |
| --- |
|
* **QPT release:**
 1.0.20
* **Patch ID**
MC-41359
* **Are there any additional actions required after the patch installation to make it work?**
 N/A
* **Compatible with Magento versions:**
[Check compatibility](https://web72.us-west-2.stg.sparta.ceng.magento.com/support/patchchk/?patch_id

[2020-01-13 20:53] tedivm commented on #23410
Are you sure the javascript that's coming out of it is valid and error free?

[2020-01-13 20:57] cralls commented on #23410
@tedivm It's probably not, which is why it's throwing the error, I just don't know how to validate it all, there are tons of js files. I have several other Magento 2 sites that I work with that deploy static content with minify on and don't have any issues. What's interesting though is it's throwing the errors with all third party extensions disabled and when trying to compile frontend/Magento/bla

[2020-01-13 21:03] okorshenko commented on #26377
@magento give me 2.4-develop instance

[2020-01-13 21:03] magento-engcom-team commented on #26377
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-13 21:04] magento-engcom-team commented on #26377
Hi @okorshenko, here is your [Magento instance](https://i-26377-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26377-2-4-develop.instances.magento-community.engineering/admin](https://i-26377-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2020-01-13 22:57] Thumper85 commented on #26333
Same here. M 2.3.2

[2020-01-14 02:20] rafaelstz commented on #13493
Hi @oliverf72, I have an update about it, I tested in Magento 2.3 and it persists,  when I ordered via a guest user using the same email as a registered user, it doesn't appear into the registered user account.
If I create an account through the "Create an Account" button on the success screen, it will work.
If I create an account after I have made my order and navigate through the store, doing th

[2020-01-14 04:01] matthew-muscat commented on #26335
This relates to Zend's announcement moving the Zend Framework to be hosted under the linux foundation — the announcement post regarding this change can be found here — https://framework.zend.com/blog/2019-04-17-announcing-laminas.html

A determination needs to be made as to whether Magento will be moving to utilise Laminas, and if so, how to proceed with migrating the Zend Components to the Lamina

[2020-01-14 05:23] erikhansen commented on #25099
I also ran into the issue that @gregordonsky [commented about above](https://github.com/magento/magento2/issues/25099#issuecomment-554432290), where images were getting uploaded to `catalog/tmp/category` instead of `catalog/category`. Adding his suggested changes to [@chris-pook's patch](https://github.com/magento/magento2/issues/25099#issuecomment-553351696) fixed the issue for me. Here is an upd