[2020-02-25 14:03] magento-engcom-team commented on #26956
Hi @AnnaShepa, here is your [Magento instance](https://i-26956-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26956-2-3-3.instances.magento-community.engineering/admin_2881](https://i-26956-2-3-3.instances.magento-community.engineering/admin_2881)
Login: `00b9200b` Password: `6621d91d8a53`
Instance will be terminated in up to 3 hours.

[2020-02-25 14:06] AnnaShepa commented on #26957
@magento give me 2.4-develop instance

[2020-02-25 14:07] magento-engcom-team commented on #26957
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-25 14:07] magento-engcom-team commented on #26957
Hi @AnnaShepa, here is your [Magento instance](https://i-26957-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26957-2-4-develop.instances.magento-community.engineering/admin_de32](https://i-26957-2-4-develop.instances.magento-community.engineering/admin_de32)
Login: `0c4a0165` Password: `f8576a2000ea`
Instance will be terminated in up to 3 hours.

[2020-02-25 14:11] magento-engcom-team commented on #26957
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31872` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-25 14:12] engcom-Golf commented on #26380
Hi @paul-gene thank you for you report, magento 2.3.3 and the closed 2.3-branch not support php 7.1, https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html
[code]

You could use php 7.2 as well to run tests, feel free to reopen if issue is still exist even if you would use php 72

[2020-02-25 14:18] magento-engcom-team commented on #26956
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31873` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-25 14:20] engcom-Golf commented on #26515
Hi @shischrum1994 thank you for you report, please provide additional description and steps to reproduce. feel free to open new issue.

[2020-02-25 14:20] #26515 closed, assigned to engcom-Bravo

[2020-02-25 14:21] paul-gene commented on #26380
@engcom-Golf sorry, but you are mistaken.

2.3.3 **does** support PHP 7.1 https://github.com/magento/magento2/blob/2.3.3/composer.json

[2020-02-25 14:22] engcom-Golf commented on #26380
@paul-gene what is PHPUnit version you used ?

[2020-02-25 14:24] paul-gene commented on #26380
The one included in 2.3.3, https://github.com/magento/magento2/blob/2.3.3/composer.json#L94

[2020-02-25 14:54] engcom-Golf commented on #26380
@paul-gene problem that you have, occurs because your php.ini allow to show deprecated errors,
![DeepinScreenshot_select-area_20200225165307](https://user-images.githubusercontent.com/51681547/75258448-20f5c780-57ef-11ea-84fc-1d32ac09b6aa.png)
You can change this setting like in screen above, but i'm afraid that this never be fixed as 2.3-develop branch was deleted, so this issue can appear here f

[2020-02-25 15:15] ridesoft commented on #26829
I'm speaking about integration tests...

[2020-02-25 15:26] HeiderSati opened #27009 "Missing variable outside CATCH causing a double-fault in Renderer.php"
OK

### Preconditions (*)

1. Magento 2.3.4
2. MacBook Pro (OSX Catalina)
3. -and- Linux (Ubuntu)

### Steps to reproduce (*)

1. Create a new Theme, with web/css folder empty inside.
2. Create your default.xml and catalog_product_view.xml
3. (Actually, you don't need to worry about re-producing this issue, I attach where exactly the bug is in your code, if you read my notes, you should see that i

[2020-02-25 15:27] HeiderSati commented on #27009
I confirm all the above, can't tick any of the confirmation-boxes, not sure why (using Safari on MacBook)!?.. anyway, hopefully my bug-report with it's fix helps improving your product.

Thanks
Heider

[2020-02-25 15:46] ihor-sviziev commented on #16362
Moved PR to "to approve" column in order to get approval from PO:
https://github.com/magento/magento2/pull/24751#issuecomment-590932346

[2020-02-25 16:46] ghost opened #27011 "Quote Item class incorrectly extending VersionControl AbstractDb"
The class `vendor/magento/module-quote/Model/ResourceModel/Quote/Item.php` is seemingly incorrectly extending `Magento\Framework\Model\ResourceModel\Db\VersionControl\AbstractDb` and it should extend `Magento\Framework\Model\ResourceModel\Db\AbstractDb`

The VersionControl AbstractDb relies on snapshots and fails to assert that an object has been modified when it cannot find a snapshot.

[2020-02-25 16:51] quisse commented on #22273
@php4umagento This occurs when the Catalog Rule indexer throws an exception. The temporary table doesn't get cleaned up.

[2020-02-25 18:05] not-art commented on #26955
Weird...

* I'm seeing magento/magento2-base versioned correctly for 2.3.3-p1.
* I've ran composer update, all packages appear updated to 2.3.3-p1 where applicable
* I've cleared cache and ran setup:di:compile

STILL not seeing a preference for VariableResolverInterface in my app/etc/di.xml. Hmmmm.

Gonna try a fresh install of 2.3.3-p1 locally, rather than running "composer update" on my require

[2020-02-25 18:25] techguysourav opened #27013 "Upgrading from Magento 2.2.6 to 2.3.4 composer update problems"
### Preconditions (*)

1.Magento 2.2.6
2. PHP 7.2

### Steps to reproduce (*)

1.composer require magento/product-community-edition=2.3.4 --no-update
2. composer require --dev allure-framework/allure-phpunit:~1.2.0 friendsofphp/php-cs-fixer:~2.13.0 lusitanian/oauth:~0.8.10 magento/magento-coding-standard:~1.0.0 magento/magento2-functional-testing-framework:~2.3.14 pdepend/pdepend:2.5.2 phpunit/php

[2020-02-25 18:41] achleitner commented on #26882
How can this be solved? All my order emails are empty. Anyone has a fix? Thanks

[2020-02-25 19:18] sdzhepa commented on #26976
@magento give me 2.4-develop instance

[2020-02-25 19:19] magento-engcom-team commented on #26976
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-25 19:19] magento-engcom-team commented on #26976
Hi @sdzhepa, here is your [Magento instance](https://i-26976-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26976-2-4-develop.instances.magento-community.engineering/admin_d42b](https://i-26976-2-4-develop.instances.magento-community.engineering/admin_d42b)
Login: `b1ab9a70` Password: `07a6c0642df8`
Instance will be terminated in up to 3 hours.

[2020-02-25 19:58] webamondo commented on #27008
@krishprakash does it not need fixing in 2.3?

[2020-02-25 20:31] AndyJAllen commented on #13269
Has this been solved yet? I am also experiencing this on 2.3.3

`main.CRITICAL: DOMDocument::loadHTML(): Tag date invalid in Entity, line: 1 {"exception":"[object] (InvalidArgumentException(code: 2): DOMDocument::loadHTML(): Tag date invalid in Entity, line: 1 at ./public_html/vendor/magento/framework/Escaper.php:89)"} []`

[2020-02-25 22:00] not-art commented on #26955
Well, adding that one preference line in worked. I have no clue why the composer update didn't update app/etc/di.xml; we've touched it manually to inject an aggregated logger we made- perhaps composer saw our changes and couldn't update the di.xml from our code messing with the version bump diff?

[2020-02-25 22:45] maxq commented on #6167
2.3.4 duplicating configurable products takes forever if it actually completes.
The M2 admin is just too slow they need to fix this asap.

[2020-02-25 23:55] sdzhepa commented on #26596
Hello @wbfiretoss
FYI: @fdanialex @joe-vortex

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/m

[2020-02-26 00:21] sdzhepa commented on #26198
Hello @Rawpro1

Unfortunately, based on your report we are not able to reproduce this issue by provided steps.
Please feel free to update description with details according to https://github.com/magento/magento2/wiki/Issue-reporting-guidelines and reopen the issue if it still actual

[2020-02-26 00:21] #26198 closed, assigned to engcom-Alfa

[2020-02-26 00:58] nmklong opened #27016 "phpstan stops working after upgrading from 2.2.5 to 2.3.3"
### Preconditions (*)

1. Magento version: 2.3.3 (upgraded from 2.2.5)

### Steps to reproduce (*)

1. After finishing upgrade, try to run php stan:
[code]

### Expected result (*)

1. phpstan can run normally

### Actual result (*)

1. It will throw an error:
[code]
2. When looking at app/bootstrap.php, there is this line that is unregistering phar:
[code]

Is this a bug in Magento 2.3.3? I notic

[2020-02-26 01:07] nmklong opened #27017 "Magento 2.3.3: Init vector must be a string of 32 bytes"
### Preconditions (*)

1. Magento version: 2.3.3

### Steps to reproduce (*)

1. Run phpstan after installing from composer:
[code]

### Expected result (*)

1. phpstan completes successfully

### Actual result (*)

1. Localized Exception was thrown, and i cannot trace down where to fix this:
[code]

[2020-02-26 01:16] nmklong commented on #27017
I have found the problem in my docker setup

[2020-02-26 01:16] #27017 closed, assigned to nobody

[2020-02-26 01:16] nmklong commented on #27016
I have found the problem in my docker setup

[2020-02-26 01:16] #27016 closed, assigned to nobody

[2020-02-26 04:35] ajijshekh123 commented on #26925
@magento give me 2.4-develop instance

[2020-02-26 04:35] magento-engcom-team commented on #26925
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-26 04:36] magento-engcom-team commented on #26925
Hi @ajijshekh123, here is your [Magento instance](https://i-26925-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26925-2-4-develop.instances.magento-community.engineering/admin_408e](https://i-26925-2-4-develop.instances.magento-community.engineering/admin_408e)
Login: `59faf9d6` Password: `2e6f24cb87ff`
Instance will be terminated in up to 3 hours.

[2020-02-26 04:50] prashantbarot commented on #26719
@magento give me 2.4-develop instance

[2020-02-26 04:50] magento-engcom-team commented on #26719
Hi @prashantbarot. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-26 04:50] magento-engcom-team commented on #26719
Hi @prashantbarot, here is your [Magento instance](https://i-26719-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26719-2-4-develop.instances.magento-community.engineering/admin_ed98](https://i-26719-2-4-develop.instances.magento-community.engineering/admin_ed98)
Login: `8239b5d8` Password: `db1a7d4c8b6f`
Instance will be terminated in up to 3 hours.

[2020-02-26 04:55] krishprakash commented on #27008
Hi @webamondo. You can review the #26701 PR for your fixes.
It will be fixed on 2.4 as it not released yet.
Thank you for your feedback !!

[2020-02-26 04:55] ajijshekh123 commented on #26925
Hello @maniramav ,
In Default Magento 2.4 Instance It is working fine. It is not displayed any of the errors when I have exported the Product attribute.
If you have upgraded the version it may be some configuration or database-related issue.
Please provide me a video so I can verify this issue.

Thanks.

[2020-02-26 05:08] TheRealHunzik opened #27018 "Unable to add Modal and Button in Dynamic Rows UI Component"
### Summary (*)
I want to Add a Modal i in Dynamic Rows  Ui Component form in Magneto 2.3.2 when i only add button it is working fine when i add the Modal it throws an error on console

### Examples (*)
![Screenshot_2020-02-26 Edit New Value Slider Sliders FME Extensions Magento Admin](https://user-images.githubusercontent.com/51072292/75313527-e8053380-587e-11ea-9871-3865d84b4d59.png)

i am tryin

[2020-02-26 06:58] chokabass opened #27019 "Resizing product images when adding configurable products"
### Preconditions (*)

1. Magento CE 2.3.4

### Steps to reproduce (*)

1. Image Resizing settings in STORES > Configuration > Advanced > System > Images Upload Configuration
2. In above settings set: Quality = 90, Enable Frontend Resize = Yes, Maximum Width = 600, Maximum Height = 600.  For all these settings "Use system value" is unchecked.
3. Start adding new configurable product by giving a na

[2020-02-26 07:04] K266 commented on #24353
Confirming that we are having the same issue here, too, on v2.3.3

With varnish-6 using the unmodified VCL, the megamenu will disappear within a couple of hours, returning a 503 error in varnishlog, and then a few hours after that, the entire site will 503.

Downgrading to varnish-5 proves to function perfectly fine again, as does using varnish-6 and inserting that `if (req.restarts > 0) { set req

[2020-02-26 07:32] magento-engcom-team commented on #25038
:white_check_mark: Confirmed by @engcom-Golf
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31913` were created

**Issue Available**: @engcom-Golf, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-26 07:53] madhu-ranosys commented on #26302
I am getting error to submit pull request. Please suggest how to submit pull request.
Pull request creation failed. The fix-issue-26302 branch doesn’t exist.
![image](https://user-images.githubusercontent.com/59955325/75323485-ff521a00-589a-11ea-8b0a-80bdd9196ae4.png)

[2020-02-26 08:25] rakeshdonga opened #27022 "Upgrading from Magento 2.2.4 to 2.3.4 paypal credit card problem"
### Preconditions (*)

1. Magento CE 2.3.4
2.  php version 7.1.33

### Steps to reproduce (*)

1. Product add in cart
2. and customer place order via paypal creditcard and redirect to cart page and nothing any error showing in logs
3. i have also tested in magento default theme in vanila but still same issue

### Expected result (*)

1. Before old version it's working fine in magento 2.2.4
2.  and

[2020-02-26 08:54] sy-salvo commented on #6426
same error on a 2.3.1

executing grunt:exec loses deployed_version.txt and creates the problem.

[2020-02-26 08:59] r32rf opened #27023 "nau suckchs fail or darectary"
hello i ain dire need af help for you to me again i have made symlink in high power superduperfast lunix server 4 magneto 2 website and now new upload with da new version not work i get error pub/static/version1582635262/version1582635262/version1582635262/version1582635262/version1582635262/version1582635262/version1582635262/version1582635262/version1582635262/version1582635262/version1582635262

[2020-02-26 09:05] vincent-le89 commented on #26905
This issue doesn't happen on Magento version 2.4-develop. So I temporarily close it and will open if it happens in the future

[2020-02-26 09:05] #26905 closed, assigned to vincentle89

[2020-02-26 09:12] nitish-ranjan05 commented on #7283
@magento give me 2.4-develop instance

[2020-02-26 09:12] magento-engcom-team commented on #7283
Hi @nitish-ranjan05. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-26 09:13] magento-engcom-team commented on #7283
Hi @nitish-ranjan05, here is your [Magento instance](https://i-7283-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-7283-2-4-develop.instances.magento-community.engineering/admin_0ae7](https://i-7283-2-4-develop.instances.magento-community.engineering/admin_0ae7)
Login: `9734a2b3` Password: `cbc5bcb13da2`
Instance will be terminated in up to 3 hours.

[2020-02-26 09:26] vincent-le89 commented on #26994
Hi @riyajkadar @magento-engcom-team

![image](https://user-images.githubusercontent.com/49143689/75330939-7c3dbd80-58b4-11ea-9f47-0e0a7cf8ba83.png)
This issue works properly on version 2.4-develop. I suggest that you should check currency rates

[2020-02-26 09:41] arnoldfiesta opened #27025 "Sitemap.xml refers only tot non existent sitemaps."
Hello,

I noticed that our developer created and submitted our sitemap to search console but somehow search console didn't find any links.
So i checked it and this is the only thing that is in the sitemap.

"
[code]
So it refers somehow to sitemaps that aren't generated and don't exist.
I tried generating another sitemap but it made the same setup.

What i would need is a sitemap that refers to th

[2020-02-26 09:45] fabianaromagnoli commented on #19887
I think you should reopen this issue, because aldf wrote:

then $shipment->getAllTracks() will return all trackers

and this is still true in 2.2.11: if you get all tracks using converter, you get a result (all tracks for all orders), but if you use method getTracksCollection on order, you get a differente result (just one track, and this is correct).
Here are the steps to reproduce:
<img width="6

[2020-02-26 09:53] Marfjeh commented on #27023
Found your problem, Don't use this absolute overengineerd php disaster.

[2020-02-26 10:03] HeiderSati commented on #27009
Hi Vincent,

Thank you for picking this up.

I read your comments, all you need is already in the ticket (the problem, the code-part, the exact line in the code, and how to fix).

This should be really easy for you,

Again, the catch() function you have there is trying to display $template variable when it's not already defined, causing a different error (double-fault), you need to instance it (i.

[2020-02-26 10:07] vincent-le89 commented on #27009
@HeiderSati I believe that it will be released on version 2.4. Thanks
Cheers.

[2020-02-26 10:12] tapaswee commented on #27013
Hi @sourav88,
Please follow the below steps for Upgrading from Magento 2.2.6 to 2.3.4.

1.change in composer.json file
 "version": "2.2.6", to  "version": "2.3.4"
and "magento/product-community-edition": "2.2.6" to "magento/product-community-edition": "2.3.4".

2.Run below commands
-composer require magento/product-community-edition=2.3.4 --no-update
-composer require --dev phpunit/phpunit:~6.2.0

[2020-02-26 10:18] ihor-sviziev commented on #22504
@QuentinFarizon thank you for report!
I'm closing this issue as duplicate of https://github.com/magento/magento2/issues/22824, that was already confirmed.

[2020-02-26 10:18] #22504 closed, assigned to ihor-sviziev

[2020-02-26 10:20] ihor-sviziev commented on #6426
@sy-salvo
What you mentioned looks like separate issue. We didn't have this issue since magento 2.2.x.
Could you report separate issue with exact steps to reproduce?

Thank you!

[2020-02-26 10:38] extroniks opened #27027 "Admin date of birth doesn't factor in user locale set"
### Preconditions (*)

1. Magento 2.3.4 (but probably on previous versions also)
2. Login to admin
3. Have locale set to en_GB (UK) for the user

### Steps to reproduce (*)

1. Edit a customer
2. Select a date of birth after 12th of a month this year

### Expected result (*)

1. Date of birth is valid, you can save the customer

### Actual result (*)

1. Validation error happens "The Date of Birth

[2020-02-26 10:39] extroniks commented on #27027
@magento give me 2.4-develop instance

[2020-02-26 10:39] magento-engcom-team commented on #27027
Hi @extroniks. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-26 10:40] magento-engcom-team commented on #27027
Hi @extroniks, here is your [Magento instance](https://i-27027-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27027-2-4-develop.instances.magento-community.engineering/admin_200b](https://i-27027-2-4-develop.instances.magento-community.engineering/admin_200b)
Login: `38c1e601` Password: `0091173fa523`
Instance will be terminated in up to 3 hours.

[2020-02-26 10:42] extroniks commented on #27027
Reproduced on 2.4:
![image](https://user-images.githubusercontent.com/16757761/75337295-ffe3b400-588c-11ea-96c4-823e7247a756.png)

[2020-02-26 11:10] riyajkadar commented on #26994
Hi @vincent-le89

Thanks for you reply.
It works fine for EN language. I have this price precision issue only in FR language

Thanks
RK

[2020-02-26 11:14] riyajkadar commented on #26994
Hi Vinh Le,

Thanks for you reply.
It works fine for EN language. I have this price precision issue only in FR
language. Could you please help me on this issue

On Wed, Feb 26, 2020 at 2:56 PM Vinh Le <notifications@github.com> wrote:

--

---
Thanks & Regards,
L. Riyajali | Team Leader,
O Clock Software Private Limited,
Phone: 044-42089942 | Skype: ocs.riyaj
Email: riyaj@oclocksolutions.com | Web

[2020-02-26 11:23] pilardo opened #27028 "Paypalflow pro: Generic processor error: 10481-PaymentAction of Authorization is not allowed with Unilateral and Non-Credentialed authentication"
### Preconditions (*)

1. 2.3.3
2.

### Steps to reproduce (*)

1. create  paypalflow pro sanbox account
2. set configurations in admin
3. test order

### Expected result (*)

1. complete order

### Actual result (*)

1. Generic processor error: 10481-PaymentAction of Authorization is not allowed with Unilateral and Non-Credentialed authentication
2. 'url' => 'https://pilot-payflowpro.paypal.com/t

[2020-02-26 11:28] lbajsarowicz commented on #8897
Please assign that to me, I am going to fix the issue.

[2020-02-26 11:32] michel334 commented on #6404
same issue in 2.3.3

[2020-02-26 11:35] magento-engcom-team commented on #27027
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31918` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-26 11:36] r32rf commented on #27023
@Marfjeh pls do a help for me why directory not exist hyper super lunix server has full power mode on and i not of a knowing do have a idea do I have? why path so ugly i need to have do a know of why path ugly???
magento 2 needs help

[2020-02-26 11:43] pilardo commented on #27028
@magento give me 2.3.3-develop instance

[2020-02-26 11:43] magento-engcom-team commented on #27028
Hi @pilardo. Thank you for your request. I'm working on Magento 2.3.3-develop instance for you

[2020-02-26 11:43] riyajkadar commented on #26994
Hi Vinh Le,

I have checked file under folder vendor/magento/framework/Locale/Format.php.
Everything fine in this file. Please help me on this issue.

On Wed, Feb 26, 2020 at 4:44 PM Riyajali L <riyaj@oclocksolutions.com>
wrote:

--

[2020-02-26 12:01] magento-engcom-team commented on #26876
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31919` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-26 12:02] engcom-Echo commented on #27018
Hi @TheRealHunzik. Thank you for your report.
You provide the code with minor changes to the example code.
Unfortunately, but I failed to reproduce such an error if I use your code or code from an example. [Reference]https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/ui-modal.html)

Where exactly was this used by you? Please provide more information about the situation.

[2020-02-26 12:07] TheRealHunzik commented on #27018
Hello @engcom-Echo  i want to Add tthe Modal From [https://devdocs.magento.com/guides/v2.3/ui_comp_guide/components/ui-modal.html](Reference) in Dynamic rows Like the Screenshot I posted

[2020-02-26 12:08] istoutjesdijk commented on #26377
The Google API (analytics) also doesn't work anymore after the update to Chrome 80.

[2020-02-26 12:29] AndyJAllen commented on #25738
I also receive this error when navigating to 'customer/account/'...the page mostly breaks and just displays a white background with the table of orders.
![image](https://user-images.githubusercontent.com/19735797/75344930-a6b65900-5869-11ea-9ebd-516a910d8d25.png)

`main.CRITICAL: DOMDocument::loadHTML(): Tag date invalid in Entity, line: 1 {"exception":"[object] (InvalidArgumentException(code: 2):

[2020-02-26 13:38] Seb33300 commented on #6610
@engcom-Charlie ??

[2020-02-26 13:38] Hexmage commented on #26817
Doing the following resolves the issue, but it isn't a nice/good solution. This adds the category filterGroup to the searchCriteria, because position sort requires a join on the category index.

\Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\ProductSearch::getList

[code]

[2020-02-26 14:05] GiantHoax commented on #21663
@mitcht Did you get any results?

[2020-02-26 14:05] engcom-Echo commented on #27018
Make sure the parent container is specified correctly.
Please provide the entire * .xml file.

[2020-02-26 14:12] tdgroot opened #27032 "Add image lazy loading"
### Description (*)

In many situations, catalog lists can contain many images, while most of them remain under the first fold.

When running an audit using Lighthouse, it tells us the following.
![image](https://user-images.githubusercontent.com/1165302/75351451-780ba300-58a8-11ea-8f4e-cc1481dd0787.png)

So we need to add the `loading="lazy"` attribute to the images on the catalog list. This attr

[2020-02-26 14:30] eduard13 commented on #27006
Hi @Eddcapone, thank you for opening this issue, however not sure that is a real issue, as soon as you are able to set different labels per stores for each attribute individually (check the below image).
![image](https://user-images.githubusercontent.com/15868188/75353655-6defa180-58b4-11ea-9051-3bdaddc5f031.png)
After doing this, we can see the configured label on Product page, Compare page, etc.

[2020-02-26 14:54] diazwatson commented on #26698
I have tested applying the patch @hostep mentioned in 2.3.4 Cloud instance and it works

[2020-02-26 14:54] Eddcapone commented on #27006
@eduard13 Hello, I was not aware of this. Where can I set this? If you look at the code I have changed, then you see that there is a ternary operator and if it lands in the else part, then it is also translated. I let you decide.

[2020-02-26 15:18] webalvk commented on #27027
Hi I'm having the same issue with local set to pt_br

[2020-02-26 15:22] extroniks commented on #27027
You can use the patch I wrote, it should work fine, if you need the whole patch I can forward you one until an official fix is done.

[2020-02-26 15:22] webalvk commented on #26565
Hi i'm having the same issue, in magento 2.3.3 with locale set to pt_br, is there a fix yet?

[2020-02-26 15:27] webalvk commented on #27027
Thanks for fast replying... I'm not a programmer and i don't know how to apply this fix, could you provide me instructions?

My email: web@alvk.com.br
Thanks

[2020-02-26 15:37] tcmax76 commented on #15270
We're on Magento 2.3.4, and the functionality shown in @engcom-Alfa 's gif above is definitely not happening on our checkout with vaulted cards. We had to turn off vaulted cards for this reason.

[2020-02-26 15:54] tcmax76 commented on #15270
Check my previous post. I just realized after looking at the commit referenced by @djacques4gorilla above, that our gene commerce braintree extension wasn't adding this code to the checkout_index_index.xml file:

`<item name="braintree_cc_vault" xsi:type="array">
                                                                            <item name="isBillingAddressRequired" xsi:type="boolean">tru

[2020-02-26 16:39] bernd-reindl opened #27038 "Payment Method Filter"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a customer with 2 Addresses. One for country A and one for country B
2. Configure payment method A for country A
3 .Configure payment method B for country B
4. Add a product to cart in frontend
5. Goto onepage checkout
6. Select address  A
7. Go to Payment step and select payment A and select "My billing and shipping ad

[2020-02-26 17:15] ClientAdvocates commented on #15187
Is there a patch for this issue? on 2.3.2

[2020-02-26 17:36] misha-kotov commented on #16362
Spoke with a few fellow product folks and reached an agreement that we should support the use of the home page as a category page. We can proceed with a fix for this issue.

[2020-02-26 17:37] ihor-sviziev commented on #16362
@misha-kotov thank you!

[2020-02-26 17:46] dverkade opened #27039 "Sales emails asynchronous sending sends out old emails"
### Preconditions
1. Magento 2.3.4
2. Magento 2.4-develop

### Steps to reproduce
1. Asynchronous sending is disabled in the configuration settings.
2. Create an order and make sure sending of the email is failing. I.e. in the DB the field send_email = 1 and email_sent is NULL.
3. Enable asynchronous sending in the configuration settings.
4. The old email will be sent out via the cronjob.

This be

[2020-02-26 17:47] GrimLink opened #27040 "Images no longer responsive"
### Preconditions (*)

Since Magento 2.3.4 (commit https://github.com/magento/magento2/commit/d0ad63cca0b8e29b86b29c72608d034658d244a5) the height auto has been removed.
this clearly was not tested as all images on on the Magento front-end break and are distorted thanks to the size.

### Steps to reproduce (*)

View any image in Magento 2.3.4.
for example the logo.

### Expected result (*)

Images

[2020-02-26 18:59] ant-workaholic opened #27042 ""We can not created empty shipment" during creation of the Shipment and Invoice for payment which does not support partial capture."
### Preconditions (*)
1. Use Payment method with <can_capture_partial>0</can_capture_partial> option. The payment method should not have an ability to perform partial capture.
2. Specify payment action  as (authorize).
2. Place order with the payment.

### Steps to reproduce (*)
1. Navigate to Sales -> Operations -> Orders and choose the placed order.
2. Click on "Invoice" link.
3. On the "New Inv

[2020-02-26 19:05] textarea opened #27043 "Logo url contains "/pub" in asynchronous command line generated emails"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Magento store is running on the webserver docroot /path_to_magento/pub
2. Logo image selected in Content->Design->Configuration->Transactional Emails->Logo Image [design/email/logo db setting] (let's assume the value is "default/mylogo.png")
3. Run an email with a template with logo tag with variable **{{var logo_url}}** from co

[2020-02-26 19:15] vipin12117 commented on #26578
It is not working in default advance catalog search page. This is magento issue.

[2020-02-26 19:34] shilpsauce commented on #8181
We are also running into this issue. Any updates?

[2020-02-26 19:38] christianbookpwood commented on #26578
Ah, you're right. I just confirmed it's still happening for me on advanced search results, but not regular search results or category pages.

[2020-02-26 21:05] magento-engcom-team commented on #572
Hi @seansan. Thank you for your report.
The issue has been fixed in magento/magento2#25349 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [a4a2ff7d2444fe24bf13f022b9748ddb961a095c](https://github.com/magento/magento2/commit/a4a2ff7d2444fe24bf13f022b9748ddb961a095c)
 - [c42d48a44829ad91024e2c61f14fa9d5e9fe9731](https://github.com/magento/magento2/commit/c42d48a44829ad91024e2c61f14fa

[2020-02-26 21:05] magento-engcom-team commented on #26917
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#26932 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [08219e880c142e7bcbfbf6320d8422db5c6354de](https://github.com/magento/magento2/commit/08219e880c142e7bcbfbf6320d8422db5c6354de)
 - [82e4623dfdd5a2bdb99952d9a53a2b1981c1974c](https://github.com/magento/magento2/commit/82e4623dfdd5a2bdb99952d9a53a2b

[2020-02-26 21:05] #26917 closed, assigned to srsathish92

[2020-02-26 21:05] magento-engcom-team commented on #25910
Hi @hasim32. Thank you for your report.
The issue has been fixed in magento/magento2#26090 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [423a4da934215f9a58ef96d0c37aa7f099a8a2ef](https://github.com/magento/magento2/commit/423a4da934215f9a58ef96d0c37aa7f099a8a2ef)
 - [96a9f3a4f36f8700fc88b29a63ebb68ed3de9bf4](https://github.com/magento/magento2/commit/96a9f3a4f36f8700fc88b29a63ebb68ed3d

[2020-02-26 21:05] #25910 closed, assigned to Usik2203

[2020-02-26 21:05] magento-engcom-team commented on #26973
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26974 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [806b4f9dfa63b5319fa3891c9bab911516b21747](https://github.com/magento/magento2/commit/806b4f9dfa63b5319fa3891c9bab911516b21747)
 - [74a03861375b1b1e8fa974b2eceb7677c691fcb7](https://github.com/magento/magento2/commit/74a03861375b1b1e8fa974b2ec

[2020-02-26 21:05] #26973 closed, assigned to lbajsarowicz

[2020-02-26 21:05] magento-engcom-team commented on #25738
Hi @nghelo. Thank you for your report.
The issue has been fixed in magento/magento2#25895 by @AndreyChorniy in 2.4-develop branch
Related commit(s):
 - [1764aa8d357557ca5487ca211828e8c5e9e46137](https://github.com/magento/magento2/commit/1764aa8d357557ca5487ca211828e8c5e9e46137)
 - [e537a76055864b4e3c17f21beb745cab276ec849](https://github.com/magento/magento2/commit/e537a76055864b4e3c17f21beb745ca

[2020-02-26 21:05] #25738 closed, assigned to AndreyChorniy

[2020-02-26 21:05] magento-engcom-team commented on #26229
Hi @rav-redchamps. Thank you for your report.
The issue has been fixed in magento/magento2#26230 by @rav-redchamps in 2.4-develop branch
Related commit(s):
 - [dca6730db6836614aea42d945a025a3e3fec461b](https://github.com/magento/magento2/commit/dca6730db6836614aea42d945a025a3e3fec461b)
 - [d5cb185e61b3cc3c49ccbdab9c412c5fe43b5036](https://github.com/magento/magento2/commit/d5cb185e61b3cc3c49ccbdab

[2020-02-26 21:05] #26229 closed, assigned to rav-redchamps, dmytro-ch

[2020-02-26 21:05] magento-engcom-team commented on #26838
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#26862 by @Mohamed-Asar in 2.4-develop branch
Related commit(s):
 - [6c8aa11b9637c1ac717c64335c3c15b6a46187b1](https://github.com/magento/magento2/commit/6c8aa11b9637c1ac717c64335c3c15b6a46187b1)
 - [b6f49b9b7b511311ae6f9cbc33277dda96ddac25](https://github.com/magento/magento2/commit/b6f49b9b7b511311ae6f9cbc33277dda9

[2020-02-26 21:05] #26838 closed, assigned to Mohamed-Asar

[2020-02-26 21:29] sy-salvo commented on #6426
Hi @ihor-sviziev

This is just happening when i run the command

`grunt exec:theme_name`

while in production mode.

And this gives the error:

`Unable to retrieve deployment version of static files from the file system. `

The deployed_version.txt file is missing after running the command.

I don't know if it can be a real issue (grunt command remove all files from pub/static and first of all: sh

[2020-02-26 21:33] daniel-ifrim commented on #4921
@operator888
If you are experiencing the original issue in this task you can fix it in file (or create a mixin in store's theme):
`vendor/magento/module-checkout/view/frontend/web/js/model/address-converter.js`, function `formAddressDataToQuoteAddress`:

[code]

Where `window.checkoutConfig.someNamespace.streetMultilineCount` should contain the number of street attribute lines. This is configured

[2020-02-26 22:12] steverobbins commented on #24717
A work around for the time being, find your `php.ini` file and set `session.save_handler = memcached`

[code]

Make sure you've installed the `memcached`  PHP plugin, see https://devdocs.magento.com/guides/v2.3/config-guide/memcache/memcache_ubuntu.html#config-memcache-install

[2020-02-26 22:50] dhorytskyi commented on #6401
It looks like \Magento\ConfigurableProduct\Model\Plugin\Frontend\ProductIdentitiesExtender plugin, which adds child product identities to a configurable product, can be safely removed. Another plugin adds parent identities to child products. So if child product is changed, cache for configurable product will be flushed even if page doesn't have cache tag of child product.

[2020-02-26 23:34] djacques4gorilla commented on #15270
@tcmax76 When you say "our Gene Commerce Braintree extension", do you mean you are responsible for maintaining it, or only that your Magento store is using it? I believe we also had the issue due to the Gene Commerce extension, so it would need to be fixed, but Magento won't be the ones to do it.

[2020-02-27 00:26] lbajsarowicz opened #27044 "BUG: Category Repository get()'s argument `store_id` does not work"
### Description
The implementation of `$storeId` support was never finished.

### Preconditions (*)
1. Magento `2.4-develop`

### Steps to reproduce (*)
1. Create 2 stores
  1. `default` with ID `1`
  1. `extra` with ID `2`
1. Create Category with `url_key` value: `category-1` (let's assume it's ID is `333`)
1. Open Category edit and change scope to `extra` store
1. Change `url_key` to value `some

[2020-02-27 03:35] pilardo commented on #27028
closing this issue. It was the zip code that generates the warning.

[2020-02-27 03:35] #27028 closed, assigned to nobody

[2020-02-27 03:39] vincent-le89 commented on #26994
@riyajkadar I guess that this issue only happens on version Magento 2.2.6 or your project.
If possible, you should upgrade the latest version.
Besides, you can add me to your project on github. Then I can help you to investigate problem when you have time

[2020-02-27 05:04] iambaljitdhanoa opened #27045 "infinite loop adminhtml The page isn’t redirecting properly"
Hello

When we click on admin custom extension menu redirect not properly
Page redirected to
bareportsystem/report/settlementreport/key/0ce43850c077ac628054fc1dac193438ab83159a817eebe2356f74e334cd1f44/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/dashboard

[2020-02-27 05:09] PivitParkour94 commented on #6896
Is the actual intent of Magento 2 push real community questions to the Community forum just so that they get forgotten about and never get further traction? There's not even a way for 'everyday' community members to comment on the Magento Community Forums. This has been asked in https://community.magento.com/t5/Magento-2-x-Programming/Use-a-generated-factory-with-virtual-types/td-p/50165 and seems

[2020-02-27 05:51] AjayKrP opened #27046 "Downgrade Magento from 2.3.4 to 2.3.3"
### Summary (*)
Hi, I've upgraded Magento from 2.3.3 to 2.3.4. On doing that I was not able to edit the CMS page in the admin panel. So I decided to revert it back to 2.3.3. But on downgrading to 2.3.3 it was throwing error like LayoutProcessor doesn't exist and every page is breaking. So how can I revert it back to 2.3.3 properly?

### Examples (*)

### Proposed solution
I followed this [ https:/

[2020-02-27 06:21] eduard13 commented on #27006
@Eddcapone, you can set a separate label on the attribute configs.
1. Navigate to `Stores / Product [Attributes]`
2. Select the attribute (description in your case)
3. Open the `Manage Labels` tab
4. Set the labels for your available stores
![image](https://user-images.githubusercontent.com/15868188/75357965-d8a3db80-58ba-11ea-9725-d1fe2f5b79c7.png)

[2020-02-27 06:49] xi-ao commented on #6896
In case a solution is needed: you have to create a real factory class for your type.
It's not elegant (you lose the benefit of creating new types by configuration only), it's time consuming when you have a lot of virtual types to deal with, but at least it works.

But again, meh.

[2020-02-27 07:04] vincent-le89 commented on #27044
Hi @lbajsarowicz

I can't reproduce this issue on version 2.4-develop. Please take a look at my record: https://vimeo.com/394117462

[2020-02-27 07:20] eduard13 commented on #27045
Hi @iambaljitdhanoa, could you please update the issue description, it will help us to reproduce the issue. You may check the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines). Also, could you please make sure you get this issue using the latest Magento version?

Thank you.

[2020-02-27 07:21] vincent-le89 commented on #27042
Hi @ant-workaholic
I can't reproduce your issue on Magento ver 2.4-develop. Maybe it was fixed.
Please take a look at my record:https://vimeo.com/394118636

[2020-02-27 07:39] hostep commented on #6426
@sy-salvo: Magento doesn't recommend to use grunt in production mode. In production mode, you should use the `bin/magento setup:static-content:deploy [bunch-of-optional-flags...]` command.

If you need a module to use the node.js less compiler (instead of the php one) in production, you can for example use [something like this](https://github.com/baldwin-agency/magento2-module-less-js-compiler), w

[2020-02-27 07:48] lbajsarowicz commented on #27044
Let me verify that, as I also covered that with integration test and... Isolated, that problem does not occur.

[2020-02-27 07:59] TheRealHunzik commented on #27018
Hello @engcom-Echo  Thanks For responding i am added my whole XMl Data hope you understand my situation

[2020-02-27 08:01] hostep commented on #26955
Hi @not-art, sorry for delay, was a bit busy yesterday.

Can you tell me exactly how you are installing 2.3.3-p1?
Previously you mentioned you were patching it on top of 2.3.3, is that statement still correct?

If yes, then make sure you are patching the `magento/magento2-base` module, that patch in particular should contain a lot of things, but one of them is:
[code]

If you need a script to gene

[2020-02-27 08:33] engcom-Bravo commented on #13443
@torhoehn

We are closing this issue due to inactivity.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you for your collaboration

[2020-02-27 08:33] #13443 closed, assigned to engcom-Bravo

[2020-02-27 08:34] engcom-Bravo commented on #26167
@maruti-bit

We are closing this issue due to inactivity.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you for your collaboration

[2020-02-27 08:34] #26167 closed, assigned to engcom-Bravo

[2020-02-27 08:35] engcom-Bravo commented on #26813
@r32rf

We are closing this issue due to inactivity.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you for your collaboration

[2020-02-27 08:35] #26813 closed, assigned to engcom-Bravo

[2020-02-27 08:36] engcom-Bravo commented on #26517
@theloveofcode

We are closing this issue due to inactivity.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you for your collaboration

[2020-02-27 08:36] #26517 closed, assigned to engcom-Bravo

[2020-02-27 08:38] michel334 commented on #25099
Magento, how bout some good old fashioned quality control?

[2020-02-27 08:47] MellenIO opened #27049 "CHANGELOG.md is reporting the incorrect issue links (I expect to see this in the changelog)"
The Magento CHANGELOG.md reports every issue link as one for magento/magento2, when in fact we have multiple repositories each tracking their own set of changes (eg magento/graphql-ce)

### Preconditions (*)
View **CHANGELOG.md** - https://github.com/magento/magento2/blob/2.3/CHANGELOG.md

### Steps to reproduce (*)
Look in the 2.3.4 changelog for the following:
[code]

### Expected result (*)
It

[2020-02-27 08:49] dmytro-ch commented on #27046
Hello @AjayKrP, the GitHub issue tracker is intended for Magento Core issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.

Thank you!

[2020-02-27 08:49] #27046 closed, assigned to dmytro-ch

[2020-02-27 08:51] sy-salvo commented on #6426
thanks @hostep for your feedback.
It's ok for us using setup:static-content:deploy
just figuring out the deepest differences between two methods, in order to understand some minor different results.

[2020-02-27 08:57] maniramav commented on #26925
The issue have been fixed. The issue cased be attributed created during magento update. The particular attribute was created using SQL. That was causing the issue. Once I deleted those attribute and recreated in magento admin page fixed the issue.

[2020-02-27 09:06] #26925 closed, assigned to nobody

[2020-02-27 09:19] angelo983 commented on #26914
I reject the indiscriminate closure of this ticket.
Magento 2.3.5 will be released in April 2020 and actually #26914 is a bug introduced in one of last updates, so Magento is focusing development efforts on v2.3.5 too.

[2020-02-27 09:19] Swahjak commented on #26949
And there we go, another BC break in a **minor** release. I completely support the arguments written by @drew7721. @krissyhiserote there are many use cases for decimal attributes and ever since I know Magento there have been widely used custom solutions available to solve this gap (Amasty's Improved Layered Navigation, Smile Elasticsuite). It's one thing to not support decimal attributes, but kill

[2020-02-27 09:25] lbajsarowicz commented on #27044
Problem is actually related to internal cache storage.
It's not related to Repository but to the fact, that it does not update cache after save.

[2020-02-27 09:25] #27044 closed, assigned to lbajsarowicz

[2020-02-27 09:34] engcom-Alfa commented on #26752
Hi @MrKovalski.

We are closing this issue due to inactivity.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you for your collaboration.

[2020-02-27 09:34] #26752 closed, assigned to nobody

[2020-02-27 09:49] aliomattux commented on #6426
What do you mean Magento doesn't recommend using grunt in production mode, why is it provided then? Do you have a link to official documentation that states this?

For me, static content deploy does not compile less. We are using less, and our custom theme has less. If I was to do as you suggest, I would have broken css.

[2020-02-27 09:51] ihor-sviziev commented on #6426
Static content deploy do compile less files with pho library, and there is
a diff in it and in lessc compiler, that’s why you will see the difference

On Thu, 27 Feb 2020 at 11:49, Kyle Waid <notifications@github.com> wrote:

[2020-02-27 10:04] magento-engcom-team commented on #27043
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31958` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-27 10:06] sy-salvo commented on #6426
Yes, actually we encountered the problem just because of this.

- using grunt for less development on custom theme
- need to execute grunt commands + static-content:deploy on production in order to see all customizations

But executing the grunt command on production mode gives us the "deployed_version.txt" problem

[2020-02-27 10:11] dmytro-ch commented on #27043
Hello, @textarea, thank you for the report.

Confirmed, the issue is reproducible in `2.4-develop` branck.
<img width="559" alt="Screenshot 2020-02-27 at 12 08 16" src="https://user-images.githubusercontent.com/11693779/75434204-dd6b9c80-5959-11ea-937c-6de7235ad1b6.png">

[2020-02-27 10:18] aliomattux commented on #6426
In my tests, using static content deploy does not correctly compile and show changes to less. The only way I was able to get it to work was to use grunt exec and then grunt less. My understanding is that you would either use static content deploy OR grunt, **not both**. Grunt performs the same actions as static deploy. I do not believe the comment about not recommending grunt in production mode is

[2020-02-27 10:22] goutam1github commented on #3594
I have managed to fix it creating a plugin to update the description. It separates description by label

public function aroundAddDiscountDescription(
        \Magento\SalesRule\Model\RulesApplier $subject,
        \Closure $proceed,
        $address,
        $rule
    ) {

        $return = $proceed($address, $rule);

        $description = $address->getDiscountDescriptionArray();
        $ruleLa

[2020-02-27 10:28] AnnaShepa commented on #27019
@magento give me 2.4-develop instance

[2020-02-27 10:28] magento-engcom-team commented on #27019
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-27 10:29] magento-engcom-team commented on #27019
Hi @AnnaShepa, here is your [Magento instance](https://i-27019-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27019-2-4-develop.instances.magento-community.engineering/admin_23be](https://i-27019-2-4-develop.instances.magento-community.engineering/admin_23be)
Login: `ca97f9a9` Password: `0c5706e95a3d`
Instance will be terminated in up to 3 hours.

[2020-02-27 10:45] magento-engcom-team commented on #27019
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31960` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-27 10:55] MLucaciu opened #27051 "Saving an attribute with backend_type 'static' will remove the content of the 'frontend_class' field."
### Preconditions (*)

1. Magento Open Source 2.3.3

### Steps to reproduce (*)

1. Navigate to Stores > Attributes > Product
2. Click an attribute with **backend_type** = **static**. Example: **sku** or **category_ids**
3. On the attribute edit page, you can either modify some fields or not modify any field at all.
4. Click "Save and continue edit".

### Expected result (*)

1.**frontend_class**

[2020-02-27 10:56] MLucaciu commented on #27051
yes

[2020-02-27 10:57] LiangCyu1990 opened #27052 "install extension in M2.3.3(windows)"
I have installed in Magento 2.3.3  since then I am not able to install any extension. I am keep getting an error message that Check Component Dependency.
Please help me.
![issues](https://user-images.githubusercontent.com/60872168/75438485-ff354580-5992-11ea-8043-6c8c0fd4f003.png)

[2020-02-27 11:02] bernd-reindl commented on #27038
How can i add such labels?

[2020-02-27 11:07] engcom-Echo commented on #27018
Hi @TheRealHunzik.

I think a problem in your "vendor_module/js/form/components/html".
Please provide more information about this.

[2020-02-27 11:15] TheRealHunzik commented on #27018
I have added code from "vendor_module/js/form/components/html".

[2020-02-27 11:22] engcom-Alfa commented on #26829
Hello @ridesoft
Thank you for contribution and collaboration!

Sorry for the inconvenience.
You were right that PHPUnit 6.x does not support PHP v 7.3. To run tests on PHP 7.3, you must have at least PHPUnit 7.x version. For now, Magento is using PHPUnit. 6.5.14. But in the future, Magento needs an updated PHPUnit.

Thank you!

Marked as **Feature Request**

cc @sdzhepa

[2020-02-27 11:26] magento-engcom-team commented on #27051
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31961` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-27 11:37] rakeshdonga commented on #27022
any update?

[2020-02-27 11:53] ant-workaholic commented on #27042
Could you make sure that shipment is exists ? Please verify also for guest user. For real customer I got the same success message but my shipment wasn't created, but for not logged in user I got error. I tested on magento 2.3 on my custom payment but I am pretty sure that this is Magento issue. Thank you.

[2020-02-27 12:33] engcom-Echo commented on #26991
Hi, @bugbuster2. Thank you for your report.
Unfortunately, I can't reproduce this issue on 2.4-develop. After doing are steps to reproduce, I got the expected result.

![image](https://user-images.githubusercontent.com/51681435/75445324-e2d2e200-596d-11ea-9193-d604f246e644.png)
![image](https://user-images.githubusercontent.com/51681435/75445439-101f9000-596e-11ea-8b5d-a266f326cf80.png)

Please fe

[2020-02-27 12:33] #26991 closed, assigned to nobody

[2020-02-27 13:01] victortodoran commented on #25190
**\Magento\Catalog\Model\Product::getStoreIds()** this is the method were things go south.
More specifically the following:
`if ($this->_storeManager->isSingleStoreMode()) {
                    $websiteIds = array_keys($websiteIds);
 }`

[2020-02-27 13:12] AnnaShepa commented on #27038
@magento give me 2.4-develop instance

[2020-02-27 13:12] magento-engcom-team commented on #27038
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-27 13:12] magento-engcom-team commented on #27038
Hi @AnnaShepa, here is your [Magento instance](https://i-27038-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27038-2-4-develop.instances.magento-community.engineering/admin_2e21](https://i-27038-2-4-develop.instances.magento-community.engineering/admin_2e21)
Login: `b8bf02b1` Password: `293a548a029a`
Instance will be terminated in up to 3 hours.

[2020-02-27 13:41] AnnaShepa commented on #27038
I tried to reproduce and for me it looks like restriction by country doesn't work at all: I always can see all payment methods and one more strange things that after save "Payment from specific countries" displays like disabled, but " Use Default" is still unchecked

![Screenshot 2020-02-27 at 14 39 23](https://user-images.githubusercontent.com/24183408/75450524-4ad5f800-596f-11ea-82dc-45f5be5260a

[2020-02-27 13:43] magento-engcom-team commented on #27038
@AnnaShepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-02-27 13:44] magento-engcom-team commented on #27038
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31965` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-27 14:16] DeElfos commented on #25892
@AjayKrP I'm Brazilian and my English is terrible but come on.

I followed your suggestion and doing some tests I came up with a solution that does not demonstrate a JSON in should mode and presents the data correctly.

My Version: 2.3.4

Suggestion: Need to serialize `<?php $rating = serialize ($block->getRatingSummary())?>` In

`vendor/magento/module-review/view/frontend/templates/helper/summary

[2020-02-27 14:21] sy-salvo commented on #6426
@aliomattux thanks for you sharing.

Your scenario is very similar to our.

At least, if i correctly understood the first part of your post, we can use production mode not deploy static view files with setup:static-conten:deploy but using instead grunt:exec and grunt:less
Are u using this approach in production?

I am also planning to investigate more deeply what happens in both situation, just to

[2020-02-27 14:22] sy-salvo commented on #6426
@aliomattux thanks for sharing.

Your scenario is very similar to our.

At least, if i correctly understood the first part of your post, we can use production mode not deploy static view files with setup:static-conten:deploy but using instead grunt:exec and grunt:less
Are u using this approach in production?

I am also planning to investigate more deeply what happens in both situation, just to hav

[2020-02-27 14:28] sandy6666 commented on #24571
@rani-webkul are you using any 3rd party plugin

[2020-02-27 15:57] alimurtaza026 opened #27055 "Product Page Custom Options are not sorted by title in the admin area. Version 2.3.2"
I was using Magento 1 for my store. The custom options are in sorted format. I can edit them easily. But, In Magento 2 custom options are not in sorted format in admin area. In customer side, the code was provided. We just uncommented the provided code and options are displaying in sorted format to customers.  But in back-end  these options are not sorted.
They should be in sorted in Magento 2 as

[2020-02-27 16:01] AndyJAllen commented on #23384
This issue stemmed from incorrect serialization of data in table sales_order_item for the field product_options. The data got corrupt from a Serializer/Json.php modification in the past (posted [here](https://magento.stackexchange.com/questions/264417/unable-to-serialize-value-problem-with-magento-2-2-6)) and needed corrected; which I wrote a program to do.

[2020-02-27 16:04] christianbookpwood commented on #26499
Is there any chance this will get fixed in Magneto 2.3.5? We just upgraded to 2.3.4 and noticed it's still a bug.

[2020-02-27 16:05] drew7721 commented on #24353
Just experienced the same issue with Varnish 6. That condition does seem to fix the issue so far. I would suggest editing the `varnish6.vcl` to include that when generated. See patch code below.

[code]

[2020-02-27 16:40] drew7721 commented on #24353
Actually, this does not seem to be a stable fix. If you try refreshing the same page over and over after a few requests it will fail and varnish will start a new child.

[2020-02-27 17:00] #27023 closed, assigned to nobody

[2020-02-27 17:15] magento-engcom-team commented on #26840
Hi @sjb9774, @viktym.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [231ba74c725a4e7d4171b2735f7eb2808a5f4c98](https://github.com/magento/magento2/commit/231ba74c725a4e7d4171b2735f7eb2808a5f4c98)
 - [c94ad766ac30e827c456ad47bf81526c72bf5f50](https://github.com/magento/m

[2020-02-27 17:52] sjb9774 commented on #26840
@viktym the above commits 404 for me, presumably because they are commits to an internal branch I cannot view -- can you post a patch file here when you have a moment?

[2020-02-27 18:11] SmooreMB opened #27056 "Advanced Reporting Not Available Error Message"
### Preconditions (*)

1. Magento 2.3.3
2. Dashboard > Advanced Reporting

### Steps to reproduce (*)

1. Go to Dashboard in the Magento Admin
2. Click on Advanced Reporting

### Expected result (*)

1. After clicking Advanced Reporting, additional reporting elements should show up on the dashboard or in another window.
2.

### Actual result (*)

1. When Advanced Reporting is clicked, an error mes

[2020-02-27 18:24] SmooreMB commented on #27056
The issue is reproduced on our Magento 2.3.3 instance that was recently deployed on 2/19.

[2020-02-27 18:25] magento-engcom-team commented on #27056
Hi @SmooreMB. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-27 18:26] magento-engcom-team commented on #27056
Hi @SmooreMB, here is your [Magento instance](https://i-27056-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27056-2-4-develop.instances.magento-community.engineering/admin_84c6](https://i-27056-2-4-develop.instances.magento-community.engineering/admin_84c6)
Login: `3cc95bd3` Password: `b6c1ef54d081`
Instance will be terminated in up to 3 hours.

[2020-02-27 18:38] #26942 closed, assigned to krishprakash

[2020-02-27 18:59] Zyles opened #27058 "Recently viewed products in Luma theme does not fit on screen"
Using the "recently viewed products" widget on mobile will break the viewport and forcing sidescrolling.

The problem is even worse when using translated "add to cart" that make the button longer.

### Preconditions (*)

1. Magento 2.3.3
2. Luma theme
3. Mobile view

### Steps to reproduce (*)

1. Add a new widget for "Recently viewed products"
2 .Select Layout update "All pages" and container "Si

[2020-02-27 19:09] Zyles commented on #26874
Sounds like:

https://github.com/magento/magento2/issues/26484

https://github.com/magento/magento2/issues/9186

[2020-02-27 19:20] pmathbliss commented on #12362
For me, there was an error tangent to this with the wishlist section had products that no longer exists.

Try changing the Magento\Customer\Controller\Section\Load:execute()
response
from
`$response = ['message' => $this->getEscaper()->escapeHtml($e->getMessage())];`
to
`$response = ['message' => $this->getEscaper()->escapeHtml($e->getTraceAsString())];`

then reload the frontend to see the stack

[2020-02-27 19:21] Zyles commented on #26507
I've had more success using separate intervals on cronjob, so they do not lock into each other. This is on a medium store.

On a large store the problem should be even more severe since the cronjobs run for longer.

Example:

[code]

Also turning off separate processes for each cronjob in backend:

![image](https://user-images.githubusercontent.com/1741593/75478643-9c49ab80-599e-11ea-93a4-92be23a2

[2020-02-27 19:31] Stoyvo opened #27059 "Products populated with GraphQL Guest-Cart are gone when user goes to Magento Cart page"
### Steps to reproduce (*)
1. Make graphql call to add to guest-cart
2. Navigate to /checkout/cart

### Expected result (*)
1. Products in cart

### Actual result (*)
1. Cart is empty

[2020-02-27 19:46] CooperDevon opened #27060 "Tax calculation 19% = 16%"
I have some trouble with Magento CE 2.3.3
Magento calculates the tax completely wrong. I added 19% (Germany) to the tax class and having products show the prices including tax.

But at the cart and checkout Magento displays the including Tax not with the correct 19% value, it displays the Tax with only 16%.

Tried on 2 Magento installations (2.3.3) one which was previously updated from another ver

[2020-02-27 19:53] Jupagar77 opened #27061 "Magento 2.3.3 doesn't support database ssl connection."
## Summary of the issue
I am trying to setup a magento instance using an external database server hosted on digital ocean using ssl,  if I try to connect via server console it works:

`mysql -u DIGITALOCEANUSER --host DIGITALOCEANHOST --port 25555 --ssl-mode=REQUIRED -p`

but from magento setup wizard is throwing this error:

`SQLSTATE[HY000] [2002] No such file or directory`

since I can't config

[2020-02-27 20:01] hostep commented on #6426
One of the reasons why running `setup:static-content:deploy` instead of `grunt` on production is prefered, is that it can also take care of minifying and/or bundling of javascript files, minifying of html, ...
I'm pretty sure that the `grunt` scripts Magento provides out of the box do not provide that kind of functionality.

Look, you *can* run `grunt` in production, and by all means if this works

[2020-02-27 20:02] gromovadarya90 opened #27062 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:18] hostep commented on #27061
@Jupagar77: please don't use all caps for an issue description, it doesn't look very polite.

Anyways, I'm going to close this as a duplicate of https://github.com/magento/magento2/issues/13561, this issue was fixed in Magento 2.3.4 by
a [first attempt](https://github.com/magento/magento2/pull/18075) which got declined and then a [follow up attempt](https://github.com/magento/magento2/pull/25398)

[2020-02-27 20:18] #27061 closed, assigned to nobody

[2020-02-27 20:59] Jupagar77 commented on #27061
Sorry about that @hostep, thanks for your fast assistance.

[2020-02-27 21:25] sdzhepa commented on #4703
I removed the label "Issue: Confirmed"

it requires to be re-triaged/re-checked is a problem still actual for `2.4-develop` or was already fixed

[2020-02-27 21:28] bugbuster2 commented on #26991
Thank you for the reply, but I still have this problem. There must be something simply I am not doing right. I deleted Magento 2.3.4 and installed a fresh copy, change mode to Developer, created a new product with Colour and Size as configurable option, I disable the "FIRST"  red option from the list, you can see from the screenshot the problem is that this hides also all the configurable options

[2020-02-28 00:15] magento-engcom-team commented on #26800
Hi @angelobono. Thank you for your report.
The issue has been fixed in magento/magento2#26979 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [84eb1fcb8b51763a3d65933a54440a05b1f17d37](https://github.com/magento/magento2/commit/84eb1fcb8b51763a3d65933a54440a05b1f17d37)
 - [55d1f18446affc4e4861ea9e5d85024e14f2c9e6](https://github.com/magento/magento2/commit/55d1f18446affc4e4861ea9e5d850

[2020-02-28 00:15] #26800 closed, assigned to srsathish92

[2020-02-28 00:15] magento-engcom-team commented on #13252
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#25311 by @enriquei4 in 2.4-develop branch
Related commit(s):
 - [b2d553ad7d7726703aac51e6fb02f04e8c7ca1d7](https://github.com/magento/magento2/commit/b2d553ad7d7726703aac51e6fb02f04e8c7ca1d7)
 - [8f5bfad585426b22a1fed43fe139bf615b8e2d57](https://github.com/magento/magento2/commit/8f5bfad585426b22a1fed43fe139bf61

[2020-02-28 00:15] #13252 closed, assigned to enriquei4

[2020-02-28 00:15] magento-engcom-team commented on #26331
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#25828 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [14f95d96d8c785bc4148ba9c4a27d4e84187dcbd](https://github.com/magento/magento2/commit/14f95d96d8c785bc4148ba9c4a27d4e84187dcbd)
 - [63582cd727fa8181daeae64f4de070f56de5630b](https://github.com/magento/magento2/commit/63582cd727fa8181daeae64f4d

[2020-02-28 00:15] #26331 closed, assigned to lbajsarowicz, VladimirZaets

[2020-02-28 00:54] nntoan opened #27063 "[2.3.x] Customer attribute frontend labels not using the store label values on the frontend"
### Preconditions (*)

1. Magento 2.3.2 (should happen with all versions from 2.3.0)
2. PHP 7.2

### Steps to reproduce (*)

1. Set store labels for any customer address attribute
2. Go to the registration or customer address edit page
3. The label of attributes not using labels from store labels, it's using default frontend labels.

### Expected result (*)

Frontend labels should fallback to stor

[2020-02-28 00:55] nntoan commented on #27063
@magento give me 2.4-develop instance

[2020-02-28 00:55] magento-engcom-team commented on #27063
Hi @nntoan. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-28 00:55] magento-engcom-team commented on #27063
Hi @nntoan, here is your [Magento instance](https://i-27063-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27063-2-4-develop.instances.magento-community.engineering/admin_c3e9](https://i-27063-2-4-develop.instances.magento-community.engineering/admin_c3e9)
Login: `28a3da8a` Password: `793b93e9ec8e`
Instance will be terminated in up to 3 hours.

[2020-02-28 01:23] lbajsarowicz opened #27065 "BUG: Single EAV attribute update results in multiple scope-specific entries"
### Preconditions (*)
1. Magento 2.4-develop
1. Requests performed with REST API

### Steps to reproduce (*)
1. Create Category
1. Create the `Second Store`
1. REST: Send a request to update `url_key` for `Second Store`
1. Verify contents of `catalog_category_entity_{type}`

### Expected result (*)
1. Single entry in `catalog_category_entity_varchar` should be for `Second Store`

### Actual result

[2020-02-28 02:24] chunsli commented on #5847
I am having the same issue with a Magento 2.3.2 EE, I raised a ticket to Magento support, and here is the reply:

[code]

quite ridiculous given that this issue was raised in 2016

[2020-02-28 04:24] magento-engcom-team commented on #27040
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31988` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-28 06:14] riyajkadar commented on #26994
Hi @vincent-le89,

I found the issue, but i don't know how to fix it.

vendor/magento/module-sales/view/adminhtml/web/order/create/scripts.js - line no: 805

jQuery('#sales_order_create_search_grid_table tbody tr td.col-entity_id').each(function( index ) {
if(jQuery( this ).text().trim() == productId)
{
paramKey = 'item['+productId+'][custom_price]';
                        //console.log(jQuery( t

[2020-02-28 07:00] vincent-le89 commented on #26994
Hi @riyajkadar

Seem this is not the Magento core.
You need to use a condition to check if store is FR. If it is true, the following code should be ignored.
fieldsPrepare[paramKey] = parseFloat(jQuery( this ).parent().find( ".price.col-price.col-price" ).html().match(/.?([\d,]+.?\d)/)[1].replace(/,/g,''))
You can use store_id as i tried:
![image](https://user-images.githubusercontent.com/49143689/

[2020-02-28 07:12] riyajkadar commented on #26994
Hi @vincent-le89,

Thanks for your help.

No need to check the store_id. In pub/static/adminhtml/Magento/backend there are two language folder under this en_US and fr_FR.
EN - pub/static/adminhtml/Magento/backend/en_US/Magento_Sales/order/create
FR - pub/static/adminhtml/Magento/backend/fr_FR/Magento_Sales/order/create

For en_US folder (pub/static/adminhtml/Magento/backend/en_US/Magento_Sales/ord

[2020-02-28 07:14] riyajkadar commented on #26994
Hi @vincent-le89,

Thanks for your help.

No need to check the store_id. In pub/static/adminhtml/Magento/backend
there are two language folder under this en_US and fr_FR.
EN - pub/static/adminhtml/Magento/backend/en_US/Magento_Sales/order/create
FR - pub/static/adminhtml/Magento/backend/fr_FR/Magento_Sales/order/create

For en_US folder
(pub/static/adminhtml/Magento/backend/en_US/Magento_Sales/ord

[2020-02-28 07:26] vincent-le89 commented on #26994
@riyajkadar

The files which you mentioned are static content. It will refresh when you run setup:upgrade since any reason in the future. You should modify code in the original files.
BRs,

[2020-02-28 08:13] AjayKrP commented on #25892
Thanks @DeElfos that's a great.

[2020-02-28 08:42] sfritzsche commented on #26849
Do you have checked the
https://github.com/magento/magento2/issues/25542
https://github.com/magento/magento2/issues/25076
issues ?

These are for us the typical problems when sending emails (magento 2.3.3). Issue "25542" is related to error message "Invalid header value detected" in system.log.

[2020-02-28 08:43] pushpendra07 commented on #24061
@magento-engcom-team Same error showing while we run index management, how can we solve this

[2020-02-28 09:00] AnnaShepa commented on #27060
@CooperDevon thank you for the report. Please check your configuration and country, selected on checkout, additionally you can try to create order via API to check calculations on every step (after billing address filling, after shipping address filling and order placing). I have a lot of german shops and never got such issue.

[2020-02-28 09:00] #27060 closed, assigned to nobody

[2020-02-28 09:21] alex9434 commented on #26692
I can also confirm the same issue. Google Pagespeed gives me now timeouts!

[2020-02-28 09:33] sethsnel opened #27067 "Unable to redirect to external domain in action execute()"
### Preconditions (*)
1. Magento ver. 2.3.4
2. Bitnami deploy on Azure environment

### Steps to reproduce (*)

1. Custom Controller/Action in module
2. return _redirectUrl() with external domain in execute() function (in my case a https:// domain)
3. Have enabled secret admin keys (when this is disabled, the redirect functions properly)

### Expected result (*)

1. Redirect to external domain

##

[2020-02-28 09:34] bernd-reindl commented on #26940
https://drive.google.com/file/d/17pbMZ6p_E9ok4HwfVlAv69z8eSS5FAOD/view?usp=sharing

Create 2 Websites. First DE, Second EN
Add a category but don´t translate for EN for now
Add a product and add it only to DE
Check the URL rewirtes for product in website DE
Change the path of category for website EN
Check the URL rewrites again

Expected result: URL should not changed, because product is only in w

[2020-02-28 09:39] AnnaShepa commented on #24933
I would say it is not actual problem any more, @sdzhepa should we close the issue?

[2020-02-28 09:49] amolbhandari commented on #9700
As per Magneto 2.2.3 This issue is logged int var/log/exception.log file.

[2020-02-28 10:05] nuzil commented on #27027
@extroniks maybe you want to provide PR with the fix?

[2020-02-28 10:19] TonyRutherford1 commented on #25399
Any update here?

[2020-02-28 10:47] med-amin commented on #24952
@magento give me 2.3-develop instance

[2020-02-28 10:47] magento-engcom-team commented on #24952
Hi @med-amin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-28 10:53] med-amin commented on #24952
@aleromano89  I need database access to add attribute options

[2020-02-28 11:30] #24933 closed, assigned to nobody

[2020-02-28 11:45] Vishrootways commented on #11995
Getting the same issue in Magento 2.3.4 fresh installation. Any fix for this issue?

[2020-02-28 12:41] saranaltius opened #27069 "In cart page, the shipping method label and calculation are happening before choosing the shipping method in checkout, Is there a way to fix this issue"
### Summary (*)

### Examples (*)

### Proposed solution

[2020-02-28 12:45] saranaltius opened #27070 "In checkout page while I'm switching the address the shipping method is not get updated Is there any way to fix the issue ?"
### Summary (*)

### Examples (*)

### Proposed solution

[2020-02-28 12:59] riyajkadar commented on #26994
Hi Vinh Le,

Yes i agree with your point,

But in our site we are not using stores. When we change from EN to FR
language we have this issue in order page.
So we can't add condition to check the store id.

[2020-02-28 13:04] Naberdz opened #27071 "Groped product has no associated products"
### Preconditions (*)

1.Magento 2.3.2
2.PHP 7.2

### Steps to reproduce (*)

1. Create custom import script, create grouped product, add children to a grouped products
2. Reindexed  after script finished running.
[code]

### Expected result (*)

1. Grouped product should be made correctly with associated products

### Actual result (*)

1. Grouped product is created but without associated child p

[2020-02-28 13:22] krishprakash commented on #27070
Hi @saranaltius.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange site](https://magento.stackexchange.com/) for advice or general discussion about this.
Thank You.

[2020-02-28 13:22] #27070 closed, assigned to nobody

[2020-02-28 13:29] krishprakash commented on #27069
Hi @saranaltius.
Could you please provide more details about how we can reproduce this issue on the clear Magento instance?
Thank you!!

[2020-02-28 13:41] saranaltius commented on #27069
Hi,

Below I have attached the screenshot where issue is occurring

[image: cart_newone.PNG]

choosing shipping method is display in the checkout page only, before that
shipping method is showing in cart page and it's get affected in total, If
in some case if shipping method has value it's get added to order total.
Can I know is there any way to fix this issue?

On Fri, Feb 28, 2020 at 6:59 PM Pra

[2020-02-28 13:53] Naberdz commented on #27071
nvm found my problem it seem products had custom options in database table catalog_product_entity. Not sure how they remained there.

[2020-02-28 13:53] #27071 closed, assigned to nobody

[2020-02-28 14:23] eduard13 commented on #27006
Closing as being a non issue.
Thank you.

[2020-02-28 14:23] #27006 closed, assigned to nobody

[2020-02-28 14:27] eduard13 commented on #27045
Hi @iambaljitdhanoa, please feel free to reopen the issue with an updated description.
Thank you.

[2020-02-28 14:27] #27045 closed, assigned to eduard13

[2020-02-28 15:15] SamJUK commented on #10687
Had the same issue today with a client, easiest fix we found was to just reset the missing roles to the first image in the gallery.

[code]

[2020-02-28 15:24] textarea opened #27072 "Missing "RESTRICT" value to declarative schema foreign constraint"
### Summary (*)
Cannot set a foreign constraint onDelete="RESTRICT" in custom table.

### Examples (*)
[code]

### Proposed solution
Add "RESTRICT" value to foreign constraint referenceOptionsType.

[2020-02-28 15:28] engcom-Golf commented on #26380
@paul-gene so can we close this one ?

[2020-02-28 16:13] sdzhepa commented on #24933
Thank you @AnnaShepa and @DanielRuf  for collaboration.
I just want to add that I have shared all feedback to the internal teams about it and about external communication related to p1-p2 etc.

I hope next time we will not have such a situation or at least it will be more transparent.

Sorry for inconveniences

[2020-02-28 16:17] angelo983 commented on #26914
Moreover a customer cannot login anymore, because timeout happens in all logic calls that involve quote entity

[2020-02-28 16:25] vipin12117 commented on #26578
Please apply this solution

https://support.magento.com/hc/en-us/articles/360035142371-Catalog-pagination-doesn-t-work-when-Elasticsearch-6-x-is-used

[2020-02-28 16:31] GautierI commented on #11995
I also have the issue with Magento 2.3.4

[2020-02-28 16:59] Zyles opened #27076 "Discount amount is zero when using catalog price rules"
If you discount a product using catalog price rules, the discount amount will always be zero on an order since it only uses "special_price" attribute to calculate the discount.

This is misleading and bad user experience.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Discount a product using catalog price rules
2. Place an order with discounted products
3. View order

##

[2020-02-28 17:15] magento-engcom-team commented on #27067
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31996` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-28 17:23] magento-engcom-team commented on #27072
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31998` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-28 18:19] jpratt commented on #26840
@viktym any word on a patch for this?

[2020-02-28 22:02] magento-engcom-team commented on #27044
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27048 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [2d15e9107418f04626ef021451774cdc438f1b42](https://github.com/magento/magento2/commit/2d15e9107418f04626ef021451774cdc438f1b42)
 - [8ad33f504b11976a4faa53c9024767a740e6bc44](https://github.com/magento/magento2/commit/8ad33f504b11976a4faa53c902

[2020-02-28 22:02] magento-engcom-team commented on #27040
Hi @GrimLink. Thank you for your report.
The issue has been fixed in magento/magento2#27041 by @GrimLink in 2.4-develop branch
Related commit(s):
 - [691d7bb275846d028262f21775259186a3152357](https://github.com/magento/magento2/commit/691d7bb275846d028262f21775259186a3152357)
 - [6209f3515d7dac92d23ad528dd0afdf94901641c](https://github.com/magento/magento2/commit/6209f3515d7dac92d23ad528dd0afdf949

[2020-02-28 22:02] #27040 closed, assigned to GrimLink

[2020-02-28 22:02] magento-engcom-team commented on #25243
Hi @vitcra. Thank you for your report.
The issue has been fixed in magento/magento2#25359 by @korostii in 2.4-develop branch
Related commit(s):
 - [2596ca7de56a5175338230a7e54d4e8fda902851](https://github.com/magento/magento2/commit/2596ca7de56a5175338230a7e54d4e8fda902851)
 - [2f5909e408ae977435540b260fbabbfa4462a062](https://github.com/magento/magento2/commit/2f5909e408ae977435540b260fbabbfa4462

[2020-02-28 22:02] #25243 closed, assigned to korostii

[2020-02-28 22:02] magento-engcom-team commented on #20332
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#24784 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [2d759c01d80478f61892dfe4c38a283f7caff0bf](https://github.com/magento/magento2/commit/2d759c01d80478f61892dfe4c38a283f7caff0bf)

The fix will be available with the upcoming 2.4.0 release.

[2020-02-28 22:02] #20332 closed, assigned to Bartlomiejsz

[2020-02-28 22:02] magento-engcom-team commented on #17933
Hi @rstylenl. Thank you for your report.
The issue has been fixed in magento/magento2#26765 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [7c4be6a770ff543a6906b3d6f77b31d1988addf1](https://github.com/magento/magento2/commit/7c4be6a770ff543a6906b3d6f77b31d1988addf1)

The fix will be available with the upcoming 2.4.0 release.

[2020-02-28 22:02] #17933 closed, assigned to Bartlomiejsz

[2020-02-28 22:02] magento-engcom-team commented on #23755
Hi @Taku-Yamashita. Thank you for your report.
The issue has been fixed in magento/magento2#26548 by @TobiasCodeNull in 2.4-develop branch
Related commit(s):
 - [346e544911827c379bdfed10f29ea40889d57078](https://github.com/magento/magento2/commit/346e544911827c379bdfed10f29ea40889d57078)
 - [392bd3b899cd26d5d329eaa0ab7e7a1b91125c4b](https://github.com/magento/magento2/commit/392bd3b899cd26d5d329ea

[2020-02-28 22:02] #23755 closed, assigned to nobody

[2020-02-28 22:02] magento-engcom-team commented on #26384
Hi @DanieliMi. Thank you for your report.
The issue has been fixed in magento/magento2#26548 by @TobiasCodeNull in 2.4-develop branch
Related commit(s):
 - [346e544911827c379bdfed10f29ea40889d57078](https://github.com/magento/magento2/commit/346e544911827c379bdfed10f29ea40889d57078)
 - [392bd3b899cd26d5d329eaa0ab7e7a1b91125c4b](https://github.com/magento/magento2/commit/392bd3b899cd26d5d329eaa0ab7

[2020-02-28 22:02] #26384 closed, assigned to TobiasLufinity

[2020-02-28 22:02] magento-engcom-team commented on #23619
Hi @patruvlad. Thank you for your report.
The issue has been fixed in magento/magento2#24003 by @hostep in 2.4-develop branch
Related commit(s):
 - [820fd790d85c6ae00413e281689fd45613e2d63a](https://github.com/magento/magento2/commit/820fd790d85c6ae00413e281689fd45613e2d63a)
 - [164a0531b0efa3707f1192249e50469c493c96d3](https://github.com/magento/magento2/commit/164a0531b0efa3707f1192249e50469c493

[2020-02-28 22:02] magento-engcom-team commented on #26331
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26329 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [aa1271bbb9b1a813b456dae46976ced5b479d71c](https://github.com/magento/magento2/commit/aa1271bbb9b1a813b456dae46976ced5b479d71c)
 - [d013eff07517776415bab85953807ad87fbcd8a9](https://github.com/magento/magento2/commit/d013eff07517776415bab85953

[2020-02-28 22:37] TawabG commented on #23450
Thanks for the reply! Your solution partly solved my problem.
Now, I get the notification "Message is added to queue, wait to get your file soon" then when I look at my export folder: a new catalog_product_xxx.CSV is created. However this file is only created when the command "php bin/magento queue:consumers:start exportProcessor" is running. Without this command no export will be done. In additio

[2020-02-28 22:52] slavvka opened #27079 "[TEST] DO NOT PROCESS"
Another test

[2020-02-29 05:44] rdudhara commented on #26758
I am working on these issues.

[2020-02-29 05:56] krishprakash commented on #27076
@magento give me 2.4-develop instance

[2020-02-29 05:57] magento-engcom-team commented on #27076
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 05:57] magento-engcom-team commented on #27076
Hi @krishprakash, here is your [Magento instance](https://i-27076-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27076-2-4-develop.instances.magento-community.engineering/admin_f094](https://i-27076-2-4-develop.instances.magento-community.engineering/admin_f094)
Login: `9a1b6f96` Password: `26d039873a36`
Instance will be terminated in up to 3 hours.

[2020-02-29 06:20] vishvesshah opened #27086 "Report Value doesn't matching - "Year-To-Date Starts""
Report Value doesn't matching -  "Year-To-Date Starts".

### Preconditions (*)

1. Magento 2.3.4,2.3.3

### Steps to reproduce (*)

1. Login to Adminpanel.
2. Go to Stores >> Configuration >> General >> Reports
3. From Dashboard tab >> Select "Year-To-Date Starts".

### Expected result (*)

1. It should select the correct value, if I have selected month 12 then it should select 12 only.

### Actua

[2020-02-29 06:21] singhvivek64 commented on #27067
Hi i am working on this issue

[2020-02-29 06:24] rdudhara commented on #26956
I am working on this issues.

[2020-02-29 06:25] desaiun commented on #26624
give me 2.4-develop instance

[2020-02-29 06:26] desaiun commented on #26648
give me 2.4-develop instance

[2020-02-29 06:27] desaiun commented on #26648
@magento give me 2.4-develop instance

[2020-02-29 06:27] desaiun commented on #26624
@magento give me 2.4-develop instance

[2020-02-29 06:27] magento-engcom-team commented on #26648
Hi @desaiun. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 06:27] magento-engcom-team commented on #26624
Hi @desaiun. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 06:28] magento-engcom-team commented on #26648
Hi @desaiun, here is your [Magento instance](https://i-26648-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26648-2-4-develop.instances.magento-community.engineering/admin_c67c](https://i-26648-2-4-develop.instances.magento-community.engineering/admin_c67c)
Login: `d7c026eb` Password: `28b470cf3bd3`
Instance will be terminated in up to 3 hours.

[2020-02-29 06:29] magento-engcom-team commented on #26624
Hi @desaiun, here is your [Magento instance](https://i-26624-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26624-2-4-develop.instances.magento-community.engineering/admin_5363](https://i-26624-2-4-develop.instances.magento-community.engineering/admin_5363)
Login: `e4b6c205` Password: `c975ad509ff6`
Instance will be terminated in up to 3 hours.

[2020-02-29 06:32] Priya-V-Panchal commented on #27086
Hi

@magento please give me 2.4-develop instance.

Thanks

[2020-02-29 06:40] Priya-V-Panchal commented on #27086
@magento give me 2.4-develop instance

[2020-02-29 06:40] magento-engcom-team commented on #27086
Hi @Priya-V-Panchal. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 06:41] magento-engcom-team commented on #27086
Hi @Priya-V-Panchal, here is your [Magento instance](https://i-27086-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27086-2-4-develop.instances.magento-community.engineering/admin_2358](https://i-27086-2-4-develop.instances.magento-community.engineering/admin_2358)
Login: `782f09ab` Password: `b5909a680f3f`
Instance will be terminated in up to 3 hours.

[2020-02-29 07:02] manishsoni5041 commented on #27056
@magento-engcom-team :- I am working on this issue.

[2020-02-29 07:20] vishvesshah commented on #27076
@magento I am working on it

[2020-02-29 07:24] akash2008 commented on #27058
I am working on this issue.

[2020-02-29 07:25] manishgoswamij commented on #27039
I am working on this issue.

[2020-02-29 08:30] deep701 commented on #27027
@magento give me 2.4-develop instance

[2020-02-29 08:30] gsbhati2008 commented on #21879
@johncarlson21 can you please send me extension that you created for now.
Thanks

[2020-02-29 08:30] magento-engcom-team commented on #27027
Hi @deep701. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 08:31] magento-engcom-team commented on #27027
Hi @deep701, here is your [Magento instance](https://i-27027-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27027-2-4-develop.instances.magento-community.engineering/admin_7eeb](https://i-27027-2-4-develop.instances.magento-community.engineering/admin_7eeb)
Login: `ef55fb98` Password: `79769dc1fcf5`
Instance will be terminated in up to 3 hours.

[2020-02-29 08:35] samikshakrish commented on #27086
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 08:35] magento-engcom-team commented on #27086
Hi @samikshakrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 08:36] magento-engcom-team commented on #27086
Hi @samikshakrish, here is your [Magento instance](https://i-27086-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27086-2-4-develop.instances.magento-community.engineering/admin_86fe](https://i-27086-2-4-develop.instances.magento-community.engineering/admin_86fe)
Login: `d073e204` Password: `cdb56e4d4d4c`
Instance will be terminated in up to 3 hours.

[2020-02-29 08:37] samikshakrish commented on #27086
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 08:37] magento-engcom-team commented on #27086
Hi @samikshakrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 08:37] desaiun commented on #26624
@tejash-wagento I have Check with Several Browser but not reproduce this issue in 2.4-develop branch.

![Screenshot-2020-2-29 Configurable Products Color Switch](https://user-images.githubusercontent.com/34401807/75604239-a97cac80-5afc-11ea-934b-6924877fc25e.png)

[2020-02-29 08:38] magento-engcom-team commented on #27086
Hi @samikshakrish, here is your [Magento instance](https://i-27086-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27086-2-4-develop.instances.magento-community.engineering/admin_13cd](https://i-27086-2-4-develop.instances.magento-community.engineering/admin_13cd)
Login: `62e1d8fe` Password: `bb111f3785d3`
Instance will be terminated in up to 3 hours.

[2020-02-29 08:39] anerishah1 commented on #27058
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 08:39] magento-engcom-team commented on #27058
Hi @anerishah1. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 08:39] magento-engcom-team commented on #27058
Hi @anerishah1, here is your [Magento instance](https://i-27058-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27058-2-4-develop.instances.magento-community.engineering/admin_c1c4](https://i-27058-2-4-develop.instances.magento-community.engineering/admin_c1c4)
Login: `3ba68ba1` Password: `7960a0b63f0a`
Instance will be terminated in up to 3 hours.

[2020-02-29 08:40] deep701 commented on #27027
@magento Unable to reproduce in latest instance.
![dateofbirth](https://user-images.githubusercontent.com/61613793/75604314-43445980-5afd-11ea-88a3-22845d7fe07b.png)

[2020-02-29 08:41] RonakParmar commented on #27051
As per my knowledge it is not a bug. If you check the value of "frontend_class" field is set to "None", Please check the screenshot, you will get the idea. Let me know if I am looking at wrong place.
![screenshot-2020 02 29-14_06_15](https://user-images.githubusercontent.com/6551912/75604317-4b9c9480-5afd-11ea-85d3-b32daba43a4a.png)

[2020-02-29 08:44] lbajsarowicz opened #27089 "BUG: `getDefaultLimitPerPageValue` returns value that is not available"
### Preconditions (*)
![image](https://user-images.githubusercontent.com/1639941/76430296-72d24c00-63b0-11ea-9b39-3b7d1b75bd62.png)

As a Store Administrator, you are able to provide the **Products per Page on Grid Allowed Values** and **Products per Page on Grid Default Value**. There is no verification, so you can accidentally set the default value to be one of the unavailable options.

### Step

[2020-02-29 08:52] MLucaciu commented on #27051
I understand, but with a clean magento installation that field is “validate-length maximum-length-64”. So, why is that field “none” when editing the attribute and why does it overwrite the default value when saving?

[2020-02-29 09:02] RonakParmar commented on #27051
@MLucaciu Because the default value is not matching with value of dropdown options (Input Validation for Store Owner).

[2020-02-29 09:04] MLucaciu commented on #27051
@RonakParmar exactly. It should match.

[2020-02-29 09:05] anerishah1 commented on #27058
Verified issue on latest instance
![27058](https://user-images.githubusercontent.com/50940094/75604629-bc917b80-5b00-11ea-97a3-fe058d0f6171.png)

[2020-02-29 09:08] killday commented on #11726
Magento 2.3.1 upgraded from 2.2.0
I've got the same problem. I try to remove the User-Agent by the lines in .htaccess but with no success.
Did anyone solve this and how?

[2020-02-29 09:18] samikshakrish commented on #26353
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 09:18] magento-engcom-team commented on #26353
Hi @samikshakrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 09:20] ansari-krish commented on #26992
@magento give me test instance

[2020-02-29 09:20] viveksingh55 commented on #26700
@magento give me 2.4-develop instance

[2020-02-29 09:21] magento-engcom-team commented on #26700
Hi @viveksingh55. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 09:21] vishvesshah commented on #27076
@Zyles , This is native behaviour of Magento.

Please review the below screenshots. Both having the zero as discount, Discount prices will only appear with the Cart Price Rules.

- Order with catalog Special prices

![Screenshot from 2020-02-29 14-48-53](https://user-images.githubusercontent.com/13507925/75604794-a1c00680-5b02-11ea-9c3f-379576f96eaf.png)

- Order with catalog price rule

![Screens

[2020-02-29 09:22] RonakParmar commented on #27051
@MLucaciu I got your point. As we can see "validate-length maximum-length-64" this is the default value of the field, which is ideally incorrect, because there is space between the string, it means there are two values of a field. As it is not a multiselect dropdown it should only one value.
The solution of this issue is either we have to create validation rule which satisfy "validate-length maxim

[2020-02-29 09:22] magento-engcom-team commented on #26700
Hi @viveksingh55, here is your [Magento instance](https://i-26700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26700-2-4-develop.instances.magento-community.engineering/admin_78e8](https://i-26700-2-4-develop.instances.magento-community.engineering/admin_78e8)
Login: `52732e76` Password: `5792c4348ae6`
Instance will be terminated in up to 3 hours.

[2020-02-29 09:22] krishprakash commented on #26353
@magento give me 2.4-develop instance

[2020-02-29 09:22] magento-engcom-team commented on #26353
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 09:23] magento-engcom-team commented on #26353
Hi @krishprakash, here is your [Magento instance](https://i-26353-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26353-2-4-develop.instances.magento-community.engineering/admin_e26e](https://i-26353-2-4-develop.instances.magento-community.engineering/admin_e26e)
Login: `2e007526` Password: `1adcac008501`
Instance will be terminated in up to 3 hours.

[2020-02-29 09:24] Zyles commented on #27076
Yes this is native Magento behavior, also known as bad design.

Why would the discount amount be zero, when there is a discount?

[2020-02-29 09:27] desaiun commented on #26865
Hi @rani-webkul, Magento default behavior as per browser session not as per browser tab.
I have check with the Magento 2.4-develop instance and reproduce this Issue but Magento Native order quote generate as per session and at a time only one session can be generate so if you try to create new order in another tab then previous tab order products already added in that new one.

[2020-02-29 09:37] manishsoni5041 commented on #27056
@magento Give me 2.4-develop instance

[2020-02-29 09:37] magento-engcom-team commented on #27056
Hi @manishsoni5041. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 09:37] magento-engcom-team commented on #27056
Hi @manishsoni5041, here is your [Magento instance](https://i-27056-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27056-2-4-develop.instances.magento-community.engineering/admin_bd48](https://i-27056-2-4-develop.instances.magento-community.engineering/admin_bd48)
Login: `4ad08028` Password: `5ee0bb114323`
Instance will be terminated in up to 3 hours.

[2020-02-29 09:41] samikshakrish commented on #26353
Hi @candls2017.

This issue is related to Enterprise Edition. So please post this issue to its separate repository.

[2020-02-29 09:48] vishvesshah commented on #26709
@magento give me 2.4-develop instance

[2020-02-29 09:48] magento-engcom-team commented on #26709
Hi @vishvesshah. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 09:48] samikshakrish commented on #27086
Verified the issue  on latest instance .

[2020-02-29 09:48] magento-engcom-team commented on #26709
Hi @vishvesshah, here is your [Magento instance](https://i-26709-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26709-2-4-develop.instances.magento-community.engineering/admin_5ee0](https://i-26709-2-4-develop.instances.magento-community.engineering/admin_5ee0)
Login: `784cad54` Password: `c164cf35ac63`
Instance will be terminated in up to 3 hours.

[2020-02-29 09:51] magento-engcom-team commented on #27086
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32028` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-29 09:59] magento-engcom-team commented on #27058
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32029` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-29 09:59] desaiun commented on #26648
Hi @tejash-wagento issue has been resolved?

[2020-02-29 10:04] samikshakrish commented on #27056
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 10:04] magento-engcom-team commented on #27056
Hi @samikshakrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 10:04] magento-engcom-team commented on #27056
Hi @samikshakrish, here is your [Magento instance](https://i-27056-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27056-2-4-develop.instances.magento-community.engineering/admin_9c74](https://i-27056-2-4-develop.instances.magento-community.engineering/admin_9c74)
Login: `71235a94` Password: `8bfd1a5643c1`
Instance will be terminated in up to 3 hours.

[2020-02-29 10:11] RHapani opened #27091 "Magento 2.3.4 array print while setup upgrade"
### Preconditions (*)

1. Install Magento 2.3.4 from GitHub.
2. After Install Magento, Execute command php bin/magento s:up

### Steps to reproduce (*)

1.Install Magento 2.3.4 from GitHub.
2.After Install Magento, Execute command php bin/magento s:up

### Expected result (*)

1. Setup Upgrade sucessfully without print array.

### Actual result (*)

1. Print array when setup upgrade.
![image](http

[2020-02-29 10:14] SakeraVora commented on #26336
I am working on this issue

[2020-02-29 10:15] keval123 commented on #27027
@magento  give me 2.3.4-develop instance

[2020-02-29 10:30] samikshakrish commented on #26340
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 10:30] magento-engcom-team commented on #26340
Hi @samikshakrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 10:31] magento-engcom-team commented on #26340
Hi @samikshakrish, here is your [Magento instance](https://i-26340-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26340-2-4-develop.instances.magento-community.engineering/admin_bb81](https://i-26340-2-4-develop.instances.magento-community.engineering/admin_bb81)
Login: `7559990c` Password: `a7a1b795c679`
Instance will be terminated in up to 3 hours.

[2020-02-29 10:39] manishsoni5041 commented on #26426
I have checked on dev-2.4-develop instance and not able to produce this issue, Looks fine.
![Screenshot from 2020-02-29 16-09-27](https://user-images.githubusercontent.com/33372563/75605950-ea30f180-5b0d-11ea-8e77-fae96e58853d.png)

[2020-02-29 10:53] RHapani opened #27094 "Magento 2.3.4 Store Switcher Tooltip Link Redirect 400 Bad Request"
### Preconditions (*)

In Magento 2.3.4 admin, go to dashboard and click on store switcher tooltip. It will redirect to 400 bad request page.

### Steps to reproduce (*)

1. Install Magento 2.3.4 version
2. Login to admin and go to dashboard.
3. Click on tooltip on store switcher
![Screenshot from 2020-02-29 16-18-18](https://user-images.githubusercontent.com/56859210/75606082-4a746300-5b0f-11ea-8

[2020-02-29 10:57] samikshakrish commented on #27094
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 10:57] magento-engcom-team commented on #27094
Hi @samikshakrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 10:57] magento-engcom-team commented on #27094
Hi @samikshakrish, here is your [Magento instance](https://i-27094-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27094-2-4-develop.instances.magento-community.engineering/admin_9c5e](https://i-27094-2-4-develop.instances.magento-community.engineering/admin_9c5e)
Login: `39af44a6` Password: `e85562be5a92`
Instance will be terminated in up to 3 hours.

[2020-02-29 11:01] dipeshrangani opened #27095 "In Floating cart delete pop-up, When user click on out side of OK button than button color is changed."
### Preconditions (*)

1. Magento2.4-develop

### Steps to reproduce (*)

1. Add to cart product
2. Goto mini cart and click on remove product

### Expected result (*)

![button-solution](https://user-images.githubusercontent.com/20924623/75606190-4eed4b80-5b10-11ea-887d-b488f3adf85d.png)

### Actual result (*)

![button-issue](https://user-images.githubusercontent.com/20924623/75606198-5e6c9480-5

[2020-02-29 11:09] samikshakrish commented on #27095
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-29 11:09] magento-engcom-team commented on #27095
Hi @samikshakrish. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 11:10] magento-engcom-team commented on #27095
Hi @samikshakrish, here is your [Magento instance](https://i-27095-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27095-2-4-develop.instances.magento-community.engineering/admin_fbc4](https://i-27095-2-4-develop.instances.magento-community.engineering/admin_fbc4)
Login: `47f2fa4f` Password: `801f48968dbe`
Instance will be terminated in up to 3 hours.

[2020-02-29 11:10] krishprakash commented on #27094
Hi @RHapani. Closing this issue as it works fine here
Thanks you for your report !!

[2020-02-29 11:10] #27094 closed, assigned to krishprakash, RHapani

[2020-02-29 11:18] ajaykumar03 opened #27098 "Magento CE 2.3.X the swagger interface api named integrationCustomerTokenServiceV1 http scheme valid customer acess details entered and execute still server response is 401"
### Preconditions:

- Magento 2.4-develop
- Swagger/Postman https scheme integrationCustomerTokenServiceV1
- Customer is created

### Steps to reproduce

1) Open the default magento Swagger http schemes or use this same api in postman.
2) Open integrationCustomerTokenServiceV1 interface to generate token for customers.
3) Enter the integrationCustomerTokenServiceV1CreateCustomerAccessTokenPostBody

[2020-02-29 11:18] samikshakrish commented on #27095
This could be consider as an improvement.

[2020-02-29 11:37] premprakashprajapati opened #27099 "Newsletter Input width issue."
Newsletter Input width issue.

### Preconditions (*)

Magento 2.3.4

1. When enter wrong email input width increased.

### Steps to reproduce (*)

1. Enter invalid email address in footer newletter.

### Expected result (*)

 ![image](https://user-images.githubusercontent.com/56711366/75606735-dab5a680-5b15-11ea-8c81-94007ca0f992.png)

### Actual result (*)

 ![image](https://user-images.githubuse

[2020-02-29 11:56] gfxguru opened #27102 "Who is the sorry mfer that ruined Magento?"
Was it a group effort or any single individual that choose to release a bunch of bloatware that's so over populated with everyone's BS that's it's now beyond usability. It's so slow at trying to do simple tasks like open a product page or category that it not only kills a persons position in the search engine it's guaranteed to make you hate the system just working with it.

I could go on about th

[2020-02-29 12:33] magento-engcom-team commented on #27095
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32030` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-29 12:34] krishprakash commented on #27095
Hi @dipeshrangani. Thank you for your report.
This is not an issue, We can consider as improvement.

[2020-02-29 12:40] magento-engcom-team commented on #27099
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32031` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-29 12:41] singhvivek64 commented on #26882
$magento give me 2.4-develop instance

[2020-02-29 12:49] #27102 closed, assigned to nobody

[2020-02-29 13:00] keval123 commented on #23991
Working on this issue.

[2020-02-29 13:06] gfxguru commented on #27102
I figured you would just close this issue. That's fine, I'll just write a public article describing the issues with Magento and why it's a bad choice to use and see if you can close that one.

[2020-02-29 13:12] gwharton commented on #27102
This is the first issue you've raised on magento in over a year. If you have a problem, try raising a technical issue and seeing if we can help. Resorting to offensive rants will get you nowhere.

[2020-02-29 15:14] rogyar commented on #27038
Hi @bernd-reindl. Technically, the payment method per country restriction should be based on the billing address (as it is) not the shipping address. Payment may be allowed or disallowed for the country where you are processing the payment (and receiving the bill). That means billing address. In other words, the definition of location here is the place where you are performing the payment but not

[2020-02-29 16:23] gibbotronic commented on #25670
Is there any comment on this at all? It's been months since I reported it, and over a month since my last comment detailing my findings, where I do not see it being "fixable" in the current design.

Comments????

[2020-02-29 16:47] sourav88 commented on #27013
@magento give me 2.4-develop instance

[2020-02-29 16:47] magento-engcom-team commented on #27013
Hi @sourav88. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-29 16:47] magento-engcom-team commented on #27013
Hi @sourav88, here is your [Magento instance](https://i-27013-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27013-2-4-develop.instances.magento-community.engineering/admin_a1a0](https://i-27013-2-4-develop.instances.magento-community.engineering/admin_a1a0)
Login: `d13d8992` Password: `e1a2331e16d1`
Instance will be terminated in up to 3 hours.

[2020-02-29 17:39] hostep commented on #27013
@sourav88: this is an issue caused by that `magestore/magento2-language-vi-vn` module (like you can see at the bottom of your screenshot).
It does not support PHP versions higher then 7.0: https://github.com/Magestore/magento2-language-vi-vn/blob/a952046c37e2e876962be0be87e8e0795a432dbe/composer.json#L10

You'd probably best remove this module and then try the upgrade again.
You can maybe try http

[2020-02-29 17:39] #27013 closed, assigned to nobody

[2020-02-29 18:31] sourav88 commented on #27013
I solved this issue by switching php from v7.2 to v7.1.

Make sure if we are uprading the magento version from 2.x to 2.3.4, php7.1 should be work.

[2020-02-29 19:38] dtavieres opened #27112 "ElasticSearch MG 234"
Hello,

We do experimenting an issue with Elasticsearch 6, we do not have any issues with mysql but enabling Elasticsearch in a clean installation (MG234, Ubuntu 18, Php 7.2 and 7.3 we are facing  the following  message.

Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\AttributeProvider::getByAttributeCode() must be of the type string,

[2020-02-29 19:57] puntable commented on #26882
I can confirm. It seems every 2.3.4 are missing order_items_grid in emails, if they are not using default.

[2020-02-29 22:57] aboutzahurul commented on #5847
Getting the same error on checkout page while using latest amasty one step checkout module on  Magento 2.3.1 CE, it creates the order successfully but can't create the user account:

Error on frontend checkout success page:
`Something went wrong while creating an account. Please contact us so we can assist you.`

Error on var/log/exception.log
`[2020-02-29 22:23:22] main.CRITICAL: No such entity w

[2020-03-01 00:28] aboutzahurul commented on #5847
Upgraded Magento 2.3.1 CE to Magento 2.3.4 CE, still the same issue...

[2020-03-01 01:34] not-art commented on #26955
We had rolled back the supplemental 2.3.3 patches before applying 2.3.3-p1, as they were included in 2.3.3-p1, so that shouldn't be an issue.

I did a folder compare using araxis for the downloaded codebase of 2.3.3 and 2.3.3-p1, and it appears the only thing missing from our upgrade was indeed the di.xml file's new preference. It's seeming like our manual touch of the di.xml might have prevented

[2020-03-01 01:34] #26955 closed, assigned to nobody

[2020-03-01 04:42] magento-engcom-team commented on #27049
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32032` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-01 08:55] Sanjeevkalia74 opened #27113 "Not able to update the theme in Magento 2.3"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-03-01 09:19] Sanjeevkalia74 commented on #27113
![Image 01-03-20 at 2 49 PM](https://user-images.githubusercontent.com/57901953/75622974-d2b83e00-5bcb-11ea-8102-75dc5882a399.jpg)
I am facing these issues

[2020-03-01 09:19] magento-engcom-team commented on #27113
Hi @Sanjeevkalia74. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-01 09:20] magento-engcom-team commented on #27113
Hi @Sanjeevkalia74, here is your [Magento instance](https://i-27113-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27113-2-4-develop.instances.magento-community.engineering/admin_3574](https://i-27113-2-4-develop.instances.magento-community.engineering/admin_3574)
Login: `ee39963f` Password: `3b8881064147`
Instance will be terminated in up to 3 hours.

[2020-03-01 09:28] Sanjeevkalia74 commented on #27113
thanks, @magento-engcom-team,  have loged in its a empty site what do i need to do next

[2020-03-01 09:49] gwharton commented on #27113
This is not a bug in the magento code. Please ask for help in stack exchange to resolve your issues.

[2020-03-01 09:50] #27113 closed, assigned to nobody

[2020-03-01 15:09] alex9434 commented on #26692
Dear @palviggi-flagbit,
can you tell me how you did revert back the changes from the fix in #24959. I would like to do the same to reduce load times back to the previous status.
Thank you,
alex

[2020-03-01 20:10] lbajsarowicz opened #27117 "MFTF: Test names are not following Best Practices (`Test` suffix)"
### Preconditions (*)
Test names should follow `{Area}` + `{What test does}` + `Test` pattern.
There are tests in Magento 2 that does not follow that pattern.

### Steps to reproduce (*)
N/A

### Expected result (*)
N/A

### Actual result (*)
N/A

[2020-03-01 23:44] WinstonN commented on #11899
Got this issue today, 2.3.3-p1 flabbergasted to see that this is a "non-issue"

[2020-03-02 00:27] johncarlson21 commented on #21879
I will try to get this tonight or tomorrow.

John

[2020-03-02 00:58] DavaGordon commented on #11899
They are greyed out because someone has dumped them Into the config.php in app/etc you can remove the option arrays in here giving you backend access again

[2020-03-02 01:07] adarshkhatri commented on #21495
Hi, where is the htmlRemoveTags option?

[2020-03-02 04:48] lbajsarowicz opened #27119 "Catalog ProductList helper has coupling to Registry"
### Preconditions (*)
1. Although Helpers should be completely removed, the ones that are still in Magento core should be stateless.

### Steps to reproduce (*)
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Helper/Product/ProductList.php#L110-L121

### Expected result (*)
1. The helper should not depend on the current category
2. The method should be moved to other,

[2020-03-02 06:52] bernd-reindl commented on #27038
Hi @rogyar . But then you have to select the billing address before the payment methods are shown, because you cannot filter the payment methods by billing address if the billing address is selected inside the payment methods.

Maybe set the billing address in step 1 instead of step 2?

[2020-03-02 07:43] CeligoLabs commented on #26249
Hi team,
A gentle reminder, reopen the ticket, as the issue was not resolved.

[2020-03-02 08:01] gsbhati2008 commented on #21879
@johncarlson21 Thanks

[2020-03-02 08:06] engcom-Bravo commented on #27059
Hello @Stoyvo

Thank you for your report.

This is actually not a bug.
If you will create an empty cart, **without** _Authorization headers_ (meaning that a Guest cart will be created)
![guest_cart](https://user-images.githubusercontent.com/51680745/75656116-f59a2f00-5c6b-11ea-82b2-15665e325585.png)

Add a product to created cart with, for example, the following mutation
[code]
And query the cart

[2020-03-02 08:06] #27059 closed, assigned to nobody

[2020-03-02 08:10] Eddcapone commented on #9011
Is there an update for this? I am using Magento 2.3.4 and style-m.css and styles-l.css are still showing in the browser.

[2020-03-02 08:13] Eddcapone commented on #27006
But does this mean, that I will have to manually translate it myself for each store view? It totally looks like an issue for me.

[2020-03-02 08:23] extroniks commented on #27027
@deep701  You need to select February after 12th. From your screenshot the date format is mm/dd/YYYY, issue happens when format is dd/mm/YYYY.

@nuzil
Will see if I get the time during this week for a proper pull request / fix.

[2020-03-02 08:24] extroniks commented on #27027
@webalvk
Will send you the proper composer patch these days.

[2020-03-02 08:51] palviggi-flagbit commented on #26692
I copied the function code from the previous tag available for each file (for example https://github.com/ivan-koliadynskyy/magento2/blob/2.3.2/app/code/Magento/Store/App/Config/Source/RuntimeConfigSource.php).

Last week we learned that in our case the main problem was that our hosting service had a peculiar filesystem setup on the databases that made "SHOW STATUS" queries take 60x longer than usu

[2020-03-02 09:03] GuiltyNL commented on #25670
It has something todo with the categories that are added to the Top Menu (that is the main menu bar of your shop).

When you disable all categorie for the top menu as a test (You wont see any menu items any more in your shop) and then save a product, you will see that the cache will only be invalidated for that product and not the other products. As soon as you add the categories to the top menu a

[2020-03-02 09:16] magento-engcom-team commented on #26909
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32042` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-02 09:20] GuiltyNL commented on #27052
This is a file permission issue. I suspect your permissions are not correct in the folders.

[2020-03-02 09:22] ant-workaholic commented on #27042
@vincent-le89  Please, make sure that the issue is not reproducable. Verify that the shipment was created. Because for me the shipment was not created even in case of success message.

[2020-03-02 09:24] LiangCyu1990 commented on #27052
Thanks for reply.
I want exactly your answer. I think window 10 don't have permission problem.
Please help me.

[2020-03-02 09:28] marinagociu commented on #26882
In case it helps anyone.
If you're using a custom template for your order emails, I found that a temporary fix until the issue is solved by Magento is to update `is_legacy` to 1 in the `email_template` table for your order templates. This way Magento should correctly process `{{layout handle="sales_email_order_items" order=$order area="frontend"}}`. If `is_legacy` is 0 (this is the default value f

[2020-03-02 09:44] ant-workaholic commented on #27042
@vincent-le89  Yes, it seems it was fixed in 2.4-develop but not in "2.3.3". So, yes, the issue could be closed.

[2020-03-02 09:46] magento-engcom-team commented on #26762
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32043` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-02 09:55] engcom-Echo commented on #27018
Hi @TheRealHunzik. Thank you for your feedback.

Try use next code

`
<field name="custom_button" formElement="button">
      <argument name="data" xsi:type="array">
               <item name="config" xsi:type="array">
                 <item name="title" xsi:type="string">Open modal</item>
                         .....
               </item>
      </argument>
</field>
`

[2020-03-02 09:58] VincentMarmiesse commented on #25209
I have the same issue on a EE B2B 2.3.3.

[2020-03-02 10:23] #27042 closed, assigned to nobody

[2020-03-02 10:29] GuiltyNL commented on #27039
I can confirm that this issue exists (also in 2.3.3).

[2020-03-02 10:36] GuiltyNL commented on #27052
It is generally a bad idea to run PHP sites on a Windows server, the PHP performance on Windows is very poor compared to a Linux machine.

But please double check this one:

https://devdocs.magento.com/guides/v2.3/config-guide/prod/prod_file-sys-perms.html

[2020-03-02 10:48] prabhasunyscape commented on #6103
Have any one get fixed this issue ?

[2020-03-02 10:49] jlczapski opened #27120 "Magento 2 core JS not following new pattern for loading jQuery UI modules"
### Preconditions (*)

1. Magento v2.3.4
2. On any page where *'jquery/ui'* has been loaded via JS

### Steps to reproduce (*)

1. When page loads, a warning is thrown in console saying *Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identifying and addressing the dependency will drastically improve the performance of your site.*
2.

### Expected r

[2020-03-02 10:50] jlczapski commented on #27120
@magento give me 2.4-develop instance

[2020-03-02 10:50] magento-engcom-team commented on #27120
Hi @jlczapski. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-02 10:51] magento-engcom-team commented on #27120
Hi @jlczapski, here is your [Magento instance](https://i-27120-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27120-2-4-develop.instances.magento-community.engineering/admin_576e](https://i-27120-2-4-develop.instances.magento-community.engineering/admin_576e)
Login: `333a3983` Password: `d7ed83ca6e59`
Instance will be terminated in up to 3 hours.

[2020-03-02 10:56] jlczapski commented on #27120
Could not reproduce on 2.4-develop and looks like it has been fixed in JS files, so guessing this will be part of the release?

[2020-03-02 10:58] sagarppanchal commented on #11754
<script type="text/javascript">
    require(
    [
        'jquery',
        'jquery/ui'
    ],
    function(
        $
    ) {
        $(window).load(function(){
            console.log("readyyy");
            $(".fotorama__stage").height($(".fotorama__img").height());

            $( window ).resize(function() {
                console.log("resize");
              $(".fotorama__stage").height($(

[2020-03-02 10:59] sagarppanchal commented on #11754
This solution worked for me.

I have added this code just after default code in gallery.phtml file
[code]

[2020-03-02 11:10] MatthijsBreed commented on #25190
Can confirm @victortodoran 's comment
`public function getStoreIds()
    {
        if (!$this->hasStoreIds()) {
            $storeIds = [];
            if ($websiteIds = $this->getWebsiteIds()) {
                if ($this->_storeManager->isSingleStoreMode()) {
                    $websiteIds = array_keys($websiteIds);
                }
                foreach ($websiteIds as $websiteId) {

[2020-03-02 11:21] emb-anuptiw commented on #9379
Hi,
I am using 2.1.6 M2. And I am getting same issue. I am not getting your solution, Please provide me :)

Thanks

[2020-03-02 11:40] sunilit42 commented on #27120
@magento give me 2.2.11 instance

[2020-03-02 11:41] magento-engcom-team commented on #27120
Hi @sunilit42. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` and `2.4` release line

[2020-03-02 11:46] verheesj opened #27121 "Catalog Product View helper has coupling to Registry"
### Summary (*)
Although Helpers should be completely removed, the ones that are still in Magento core should be stateless.

### Examples (*)
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Catalog/Helper/Product/View.php#L133

### Proposed solution

[2020-03-02 11:47] n2diving-dgx commented on #17195
Same issue on 2.3.4

[2020-03-02 11:49] aliuosio commented on #23196
there is a composer package with which you can show "sold out" options but it dos not mark does soll out. try it out yourself: https://packagist.org/packages/interjar/module-configurable-child-visibility

[2020-03-02 12:08] LiangCyu1990 commented on #27052
Thanks for the reply.
issue isn't fix.

[2020-03-02 12:20] dev-Z-Apx commented on #25092
issue is ready for work for more than 3 months.....
Magento has released a new release 2.3.4 and still the issue is not fixed.....
@magento-engcom-team

[2020-03-02 12:29] vincentteyssier opened #27122 "Disabling a module does not disable cronjobs"
### Preconditions (*)
1. Magento 2.3.4
2. PHP 7.3

### Steps to reproduce (*)
1. Clean install of 2.3.4
2. Disable modules Yotpo, Newrelic and/or DDG
3. wait a few days

### Expected result (*)
System performance are normal and pending cron schedule is limited to around 400-600 lines
### Actual result (*)
Cron still tries to execute the modules cron tasks and pending scheduled CRON are filling up

[2020-03-02 12:41] reense commented on #11995
This is also happening in our shops.

[2020-03-02 12:45] nareshphp1 commented on #4289
@devamitbera I try but it gave me following error:
Parse error: syntax error, unexpected '<' in /vendor/magento/module-catalog/Model/Layer/Filter/AbstractFilter.php on line 394

[2020-03-02 12:46] TheRealHunzik commented on #27018
Hi @engcom-Echo  i have tried your given code but i am still getting same issue.. :(

[2020-03-02 12:55] GautierI commented on #11995
There is a workaround for this issue. Click on the button "Select from gallery" instead of "upload".

[2020-03-02 13:02] #27122 closed, assigned to nobody

[2020-03-02 13:03] vincentteyssier commented on #27122
Sry wrong diagnotstic on my side. It was jobs stucked while disabling the module

[2020-03-02 13:22] Eddcapone commented on #9011
I finally figured it out. The sourcemaps where generated correctly, but in the wrong folder, since I configured my theme incorrectly in **dev/tools/grunt/configs/local-themes.js**:

**Before:**

    module.exports = {
        company_base: {
            area: 'frontend',
            name: 'Company/Base',
            locale: 'de_DE',
            files: [
                'css/styles-m',

[2020-03-02 13:27] Eddcapone commented on #20952
Make sure that the name you set in the grunt config "matches" the path which you have set in the **registration.php** of your theme. For example I set the name in the grunt config to **Company/Base** but in my **registration.php** it was set to **'frontend/company/base'**. So I had to change the name in the grunt config to **company/base**

[2020-03-02 13:50] PietroFantini commented on #23511
This worked for me but for now I didn't remove "sudo apt remove php-libsodium"

[2020-03-02 13:54] GautierI commented on #11995
A fix for the issue :

`diff --git a/Model/Category/Attribute/Backend/Image.php b/Model/Category/Attribute/Backend/Image.php
index 4880214..d17d94e 100644
--- a/Model/Category/Attribute/Backend/Image.php
+++ b/Model/Category/Attribute/Backend/Image.php
@@ -79,8 +79,8 @@ public function __construct(
      */
     private function getUploadedImageName($value)
     {
-        if (is_array($value) &&

[2020-03-02 14:11] VasylShvorak opened #27194 "[Bundle Product Support] Can't Proceed to Checkout from Shopping Cart page on Staging preview with Bundle product"
### Preconditions (*)

1.Magento 2.4-develop EE + 1.2-develop B2B

### Steps to reproduce (*)

1. Enable B2B Features
![image](https://user-images.githubusercontent.com/26908019/75682284-d4eacd00-5c9d-11ea-9a89-4e1cbcda4b86.png)

2. Create bundle product
![image](https://user-images.githubusercontent.com/26908019/75682035-69086480-5c9d-11ea-8ae0-61222f80c7af.png)
![image](https://user-images.githu

[2020-03-02 14:21] johncarlson21 commented on #21879
@gsbhati2009 here it is.. just install like a normal extension and enable it.
[Surething_Calculateops.zip](https://github.com/magento/magento2/files/4275826/Surething_Calculateops.zip)

[2020-03-02 14:23] BB-000 commented on #23511
I just created a new user to allow me access. Changing the password of the original user using the new user didn't work for me, but wasn't necessary in my case (local development environment), just needed to get into admin!

`php bin/magento admin:user:create --admin-user="admin" --admin-password="pa55w0rd123" --admin-email="admin@example.com" --admin-firstname="Admin" --admin-lastname="Admin"
`

[2020-03-02 15:13] #24426 closed, assigned to sdzhepa

[2020-03-02 15:17] michel334 commented on #15656
Same issue as rvm-pmis. Magento version 2.3.3. It only happens when i change the URL key for a store view. Then, when i save and duplicate, the store view information (description etc) is not copied. The default store information is copied. Also the images get duplicated multiple times. This does not happen when "use default value" is checked for the URL key for each store view. Only then save and

[2020-03-02 15:43] APanteleychuk commented on #25209
I have the same issue on an EE  2.3.3 too.

[2020-03-02 15:54] pictona commented on #25927
I can also report the same issue, been through 3 times at least with same result. Can create new GMC account but as soon as you create and link an adwords account, you lose the verified url in the GMC account, rendering the whole thing useless.

@MagentoChannels Could you please give us the courtesy of an update on this issue? 20th December you said would release a fix asap. It's now March :)

[2020-03-02 16:16] diazwatson commented on #26647
Issue caused by recreating the name="customer.section.config" block within my custom theme but due to the new argument introduced in the above commit this required this is the main cause for the issue and simply removing the block from my theme or including the argument fixes the issue.

[2020-03-02 16:21] sethsnel commented on #27067
Who is working on the issue now? @singhvivek64 or @nirmalraval18 ?
Can I assist in anyway?
It is no problem for me to modify magento core code and run setup:di:compile if needed for testing.

[2020-03-02 16:43] NeilofSteel opened #27123 "Issues while trying to allow order products out of stock"
Hey,
the out of stock products in my Magento 2 shop did not get a "add-to-cart" button. I already had selected the settings which displays products out of stock and allows backorders. Now I updated my migration tool and run a setup:upgrade and now every product has a "in stock" status. So magento throws true on "$_product->isAvailable()" everytime if the product is out of stock and if it is in sto

[2020-03-02 16:43] galahadl commented on #26882
I have also had a problem with this. Even if you make no changes, just creating an email template in the admin by loading and saving the default template, then assigning it, causes the items grid to be lost.

We have tested and confirmed this issue exists on both 2.3.3-p1 and 2.3.4

[2020-03-02 16:45] mtbottens opened #27124 "Share Wishlist Email: Image Logic Issue"
### Preconditions (*)

1. 2.4-develop
2. Sample Data Installed
3. Configuration: Stores > Configuration > Sales > Checkout > Shopping Cart > Configurable Product Image = "Product Thumbnail Itself"

### Steps to reproduce (*)

1. Add Olivia 1/4 Zip Light Jacket (Size = Medium, Color = Black) to wishlist
2. Navigate to wishlist page, observe that the product thumbnail shows the simple product image

[2020-03-02 16:47] vitmarks commented on #27027
Hello same issue here, can you provide me also with the fix?

[2020-03-02 16:58] AaronONeill commented on #26826
I too am seeing this on one upgraded site (-> 2.3.4), others were not affected.

[2020-03-02 17:08] BorisovskiP opened #27126 "Catalog product list widget sort order configured in backend does not match in frontend"
emphasized text

1. Create category ( `Catalog -> Categories -> Add Root Category`)
2. Rename category to TestCategory
3. Add 3 or more products  to Category (`Catalog-> Products -> Select/Edit -> Categories -> TestCategory -> Done -> Save)`
4. Open` Catalog -> Categories -> TestCategory -> Products` in Category
5. Set position on productX to 1, Set position on productY to 2 , Set position on prod

[2020-03-02 17:24] shinesoftware commented on #5906
After 4 years I continue to fall creating simple data forms. We spend days to nest objects one within other. Furthermore I am really scared about the evolution of Magento 2. How many times do we have to create the same things ? In order to try this fantastic experience is I suggest to create a UIComponent form with a listing in it always created by the UIComponent and pass some parameters between

[2020-03-02 19:47] sjb9774 commented on #26840
Documenting the patch provided for this issue by Magento support here:

[code]

[2020-03-02 21:06] Bartlomiejsz commented on #7283
@nitish-ranjan05 are you working on porting https://github.com/magento/magento2/pull/17371 to 2.4-develop? I started to migrate Stores listing to ui components when I wasn't aware that this was done in 2.2, so I could pick this up in case it would be free

[2020-03-02 21:47] magento-engcom-team commented on #27032
Hi @tdgroot. Thank you for your report.
The issue has been fixed in magento/magento2#27033 by @tdgroot in 2.4-develop branch
Related commit(s):
 - [c00cef40fffb3b60d13077ee3d40dbde38e3cc4c](https://github.com/magento/magento2/commit/c00cef40fffb3b60d13077ee3d40dbde38e3cc4c)
 - [1a7977570c2638a33c8cc90b253b061fc934fe2d](https://github.com/magento/magento2/commit/1a7977570c2638a33c8cc90b253b061fc934

[2020-03-02 21:47] #27032 closed, assigned to tdgroot

[2020-03-02 23:59] luke-denton-aligent opened #27127 "[bug]: GraphQL query to get categories returns categories that are "disabled" in admin"
I have been trying to request all categories, categories' children, and categories' children's children (etc.) for my progressive web app, but the application is crashing when it tries to read `children_count` of the category in `useCategoryTree` (a talon in peregrine).

The issue appears to be that disabled categories that have children that _aren't_ disabled, are still returned from the query.

[2020-03-03 01:52] Stoyvo commented on #27059
@engcom-Bravo Thank you for the explanation. Can you please advise on the following:

If you browse Magento catalog in Luma theme, as a guest, and add items to the cart, this would be a guest cart and when user navigates to the cart page there are items.

How would you accomplish this in graphql? We can do this fine when the user is registered customer, however cannot do this for guest carts.

One

[2020-03-03 02:51] dtavieres commented on #27112
Hello, We did not try to reproduce the issue at vanilla Magento instance but  we tried several times, with clean instances, alway we do have the same overcame. Ubuntu 18, MySql 5.6, Php 7.3 and php 7.2, mod apache and fpm, AWS ElasticSearch service 6.7 and 6.8 but always we had the same result.  Since the catalog search in MYSQL mode presents no problems, something In the module elasticsearch/elas

[2020-03-03 03:24] viktym commented on #26840
Thanks @sjb9774 for patch publication
Forward-port in 2.4-develop will be created nearest time

[2020-03-03 05:13] krishprakash commented on #26777
Hi @Zyles.
Feel free to reopen this issue if you confirm it reproduce on vanilla magento instance
Thanks !!

[2020-03-03 05:13] #26777 closed, assigned to krishprakash

[2020-03-03 05:17] krishprakash commented on #27076
@Zyles , We can not consider this as an issue.
As as per catalog price rule discount should calculate directly on product/category.
You need to add cart price rule for same
This is native magento behavior.
Thanks!!

[2020-03-03 05:17] #27076 closed, assigned to vishvesshah, krishprakash

[2020-03-03 05:52] TheRealHunzik commented on #25427
Hello People!
Well after a long time I found the solution on [Magento Stackexchange](https://magento.stackexchange.com/a/164382/78648) it was actually an issue with base URL
My Previous URL Was http://locahost/magento233
My New URL is http://127.0.0.1/magento233

Now it is working fine

[2020-03-03 06:17] luluhAlkhamisi commented on #10697
do you find the solution or not? it occurs to me

[2020-03-03 06:42] surelockrich opened #27130 "Swatch Pre-select issue"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a configurable product with multiple attributes as of now we have 2 attributes. (color and size )
2. Select both attributes on a catalog page.
3. Then click on the product.
4. Then we have Re-select the same value.
![swatch_iss-01](https://user-images.githubusercontent.com/25629588/75749336-97427e80-5d47-11ea-8960-55fe3

[2020-03-03 06:42] surelockrich opened #30485 "Swatch Pre-select issue"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a configurable product with multiple attributes as of now we have 2 attributes. (color and size )
2. Select both attributes on a catalog page.
3. Then click on the product.
![swatch_iss](https://user-images.githubusercontent.com/25629588/75750664-b4c51780-5d4a-11ea-996e-674f5d0f3b54.JPG)

4. Then we have Re-select the s

[2020-03-03 07:29] zhulak commented on #11372
@magento-engcom-team Can you please reopen this ticket? The issue is still present.

[2020-03-03 07:46] engcom-Bravo commented on #27120
Hello @jlczapski

Thank you for your report

Yes, this fix will be a part of the upcoming 2.3.5 release

If you'll ever face any issues with Magento, please, feel free create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you for collaboration

[2020-03-03 07:46] #27120 closed, assigned to nobody

[2020-03-03 07:52] eduard13 commented on #27124
@magento give me 2.4-develop instance

[2020-03-03 07:52] magento-engcom-team commented on #27124
Hi @eduard13. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-03 07:52] magento-engcom-team commented on #27124
Hi @eduard13, here is your [Magento instance](https://i-27124-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27124-2-4-develop.instances.magento-community.engineering/admin_59ff](https://i-27124-2-4-develop.instances.magento-community.engineering/admin_59ff)
Login: `38031562` Password: `9cbcb15bd9cc`
Instance will be terminated in up to 3 hours.

[2020-03-03 08:17] magento-engcom-team commented on #26963
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32088` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-03 08:35] magento-engcom-team commented on #26449
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32089` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-03 08:46] #15114 closed, assigned to engcom-Bravo

[2020-03-03 09:29] larsroettig opened #27133 "Intigrationstest fails with: Couldn't execute. Unknown table 'column_statistics' in information_schema"
### Preconditions (*)
1. mysqldump Ver 8.0.19-0
2. mysql 5.6 or 5.7.26
3. Magento 2.4-develop

### Steps to reproduce (*)
1. Start Magento Intigrationstests

### Expected result (*)
1. Integration tests should not fail

### Actual result (*)

1. Integration tests should not fails with
[code]
https://stackoverflow.com/questions/52423595/mysqldump-couldnt-execute-unknown-table-column-statistics-in-i

[2020-03-03 09:43] ihor-sviziev commented on #16657
Hi @smiso,

Seems like the issue was already fixed in `2.4-develop` branch as we weren't able to reproduce it anymore. Here is test report https://github.com/magento/magento2/pull/18709#issuecomment-581847344
I'm closing this issue.

If you still have it - please report separate issue with steps to reproduce and just link this issue as reference.

[2020-03-03 09:43] #16657 closed, assigned to ihor-sviziev

[2020-03-03 09:59] ktsixit commented on #21204
How is this fixed on magento 2.3.1? Can somebody post a link to the fix?

[2020-03-03 10:17] hkvega01 opened #27136 "Item (Magento\Wishlist\Model\Item) with the same ID "1" already exists."
### Preconditions (*)

1. 2.3.4 community

### Steps to reproduce (*)

1. add products to wishlist with same wishlist_id
2.

### Errors (*)

[code]

### Related lines of code (*)

Related lines
1. vendor\magento\module-wishlist\Block\Customer\Wishlist.php
[code]
Anyone knows how to fix this?

[2020-03-03 10:28] hkvega01 opened #27137 "Exception #0 (Exception): Item (Magento\Wishlist\Model\Item) with the same ID "1" already exists."
### Preconditions (*)

1. 2.3.4 community

### Steps to reproduce (*)

1. add products to wishlist with same wishlist_id
2.

### Expected result (*)
Showing all products in wishlist

### Actual result (*)

1. SELECT `main_table`.* FROM `wishlist_item` AS `main_table` WHERE (`wishlist_id` = '1') AND (`main_table`.`store_id` IN('1'))1 exception(s):
Exception #0 (Exception): Item (Magento\Wishlist\Mo

[2020-03-03 10:33] AaronONeill commented on #26826
Just to follow up on this one, our issue was a node in a custom catalog_category_view.xml within the theme. We had the following in the file:

`<block class="Magento\Catalog\Block\Product\ListProduct" name="name.here"  template="Magento_Catalog::product/templatename.phtml"/>`

Defining the class as **Magento\Catalog\Block\Product\ListProduct** was causing the category to load all products on initi

[2020-03-03 10:37] devchris79 commented on #26837
@shikhamis11 Can you please close this issue as its not a core fault. The author monotheist tells me he is now using an alternative cart software.

[2020-03-03 12:23] engcom-Golf commented on #26380
i'm closing this one as, problem related with php.ini configuration, and there is nothing to fix in magento code.

[2020-03-03 12:23] #26380 closed, assigned to nobody

[2020-03-03 12:42] engcom-Golf commented on #26485
Hi @smjrifle thank you for you report, this related to your address configuration, City/State/ZIP don't match, also related to this https://github.com/magento/magento2/issues/16556

[2020-03-03 12:42] #26485 closed, assigned to engcom-Golf

[2020-03-03 12:45] Jasper-ketelaar opened #27139 "Quote/totals return incorrect information after deleting items."
### Preconditions (*)

1. Magento version 2.3.3
2. Using REST API calls

### Steps to reproduce (*)

1. Create a quote for a user if they do not have one.
2. Add a few items item to the shopping cart using POST `carts/{quoteId}/items`
3. Delete all items in quick succession using DELETE `carts/{quoteId}/items`
4. Get the cart using GET `carts/{quoteId}`

### Expected result (*)

1. The cart should

[2020-03-03 12:54] Vishrootways commented on #21768
Facing the same issue on Magento 2.3.3, any workaround to this?

[2020-03-03 12:54] Vishrootways commented on #22583
Facing the same issue on Magento 2.3.3, any workaround to this?

[2020-03-03 13:02] engcom-Golf commented on #26733
HI @ioweb-gr thank you for you report, issue is not reproducible in 2.4-develop branch, this may be related to some custom modules, or syntax in your js file. please see my attachments
![DeepinScreenshot_select-area_20200303145553](https://user-images.githubusercontent.com/51681547/75777649-fe1f6200-5d5e-11ea-8036-2cbb24f598ca.png)
![DeepinScreenshot_select-area_20200303145401](https://user-images

[2020-03-03 13:02] #26733 closed, assigned to engcom-Golf

[2020-03-03 13:17] AnnaShepa commented on #27136
duplicated in 27137

[2020-03-03 13:17] #27136 closed, assigned to nobody

[2020-03-03 13:21] AnnaShepa commented on #27137
@magento give me 2.4-develop instance

[2020-03-03 13:21] magento-engcom-team commented on #27137
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-03 13:22] magento-engcom-team commented on #27137
Hi @AnnaShepa, here is your [Magento instance](https://i-27137-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27137-2-4-develop.instances.magento-community.engineering/admin_7216](https://i-27137-2-4-develop.instances.magento-community.engineering/admin_7216)
Login: `2b2f0cd3` Password: `7583a9616675`
Instance will be terminated in up to 3 hours.

[2020-03-03 13:24] engcom-Golf commented on #26753
Hi @paul-gene thank you for you report, this is expected behavior as qty will not saved if they not greater then 0 , feel free to create a feature request https://github.com/magento/community-features/issues
![DeepinScreenshot_select-area_20200303152314](https://user-images.githubusercontent.com/51681547/75779638-a71b8c00-5d62-11ea-846e-5f4160df883b.png)
![DeepinScreenshot_select-area_202003031523

[2020-03-03 13:24] #26753 closed, assigned to engcom-Golf

[2020-03-03 13:31] paul-gene commented on #26753
You have misunderstood the issue. The cart observer should be able to handle updating other quote item object properties, but can't unless you change the qty. You should be able to leave the qty as is but still change cart item data in the observer.

[2020-03-03 13:35] engcom-Golf commented on #26753
@paul-gene could you please describe exact steps to reproduce ? because when i leave the same qty, observert take this quantity and save to the quote

[2020-03-03 13:35] engcom-Golf commented on #26716
Hi @mustafa-taheri thank you for you report, this issue has already fixed in 2.4-develop branch and available on 2.3.2 version, please upgrade.

[2020-03-03 13:35] #26716 closed, assigned to shikhamis11, engcom-Golf

[2020-03-03 13:36] ioweb-gr commented on #26733
@engcom-Golf Actually if you read the previous posts, it seems this issue has become impossible to replicate now directly in 2.4 and 2.3.4 because the textarea for writing layout  updates is disabled for the admin and needs to be done via FTP and adding new XML files there. Unfortunately I haven't tried the new way yet to see if the issue persists but should I encounter it, it will be food for a n

[2020-03-03 13:37] Jawwadiftikhar opened #27140 "Magento 2.3.3 to 2.3.4 Upgrade Issue: Invalid argument supplied for foreach() in /vendor/magento/module-catalog/Model/ProductLink/CollectionProvider.php on line 185"
Hi Guys,
I've just upgraded my site from Magento 2.3.3 to 2.3.4. I'm using MGS Claue theme.
After the upgrade, I'm not able to edit the Products in the Admin.
It shows this error when I edit a product: **Warning: Invalid argument supplied for foreach() in /vendor/magento/module-catalog/Model/ProductLink/CollectionProvider.php on line 185**

![issue](https://user-images.githubusercontent.com/249364

[2020-03-03 13:45] engcom-Golf commented on #26733
@ioweb-gr for textarea i think that this is expected behavior, thank you for investigate, i will take a look at this one more time.

[2020-03-03 13:46] AnnaShepa commented on #27137
@hkvega01 thank you for the report, but please add more details. In case if you mentioned that you cannot add more then 1 item in one wish list, then I cannot reproduce it, I tried and 2.3.4, and 2.4-develop. Please try yourself on clean magento version and add more steps to reproduce.

[2020-03-03 13:52] MLucaciu opened #27141 "Cannot create shipment for remaining items"
### Preconditions (*)

1. Magento Open Source 2.3.3

### Steps to reproduce (*)

1. Create an order, where at least one product has a Quantity of 2.
    - Example of order items : - 3 x product_1
                                              - 1 x product_2
                                              - 1 x product_3

2. Create an invoice, shipment and creditmemo for:

[2020-03-03 13:53] MLucaciu commented on #27141
yes

[2020-03-03 13:56] AnnaShepa commented on #27123
@NeilofSteel thank you for the report. I would kindly ask you to follow the template and provide steps to reproduce in issue reports, to make it easier to reproduce and fix the problem.
Please check not only your configuration inside the product, but global configuration as well:
![Screenshot 2020-03-03 at 14 55 22](https://user-images.githubusercontent.com/24183408/75782332-10999b80-5d5f-11ea-9b9

[2020-03-03 13:56] #27123 closed, assigned to nobody

[2020-03-03 13:59] alex-james commented on #25099
I have the same issue with 2.3.3 to me it looks like the issue is in Magento\Catalog\Model\Category\Attribute\Backend::beforeSave() where it makes a call to checkUniqueImageName() which it never did before and which will always return a unique filename. so why not check if the $imageName value matches the attribute value for the "Image" attribute already stored against the $object and if they are

[2020-03-03 14:28] hkvega01 commented on #27137
here is my wishlist_item table

wishlist_item_id | wishlist_id | product_id | store_id | added_at | description | qty

 1 | 1 | 1402 | 1 | 2020-03-03 15:17:54 | NULL | 2.0000
 2 | 1 | 1402 | 1 | 2020-03-03 15:40:37 | NULL | 1.0000
 3 | 1 | 1402 | 1 | 2020-03-03 15:41:09 | NULL | 1.0000
 4 | 1 | 1402 | 1 | 2020-03-03 17:53:34 | NULL | 1.0000
 5 | 1 | 1818 | 1 | 2020-03-03 18:02:14 | NULL | 1.0000

[2020-03-03 14:58] alex-james commented on #25099
Seems to have fixed it: https://github.com/cogensoft-uk/magento-category-image-fix

[2020-03-03 15:20] davidrthomson commented on #23958
I am still getting this issue on 2.3.1. My cron is configured ok server side and crons are running. The queued jobs just never start. Did anyone find a definitive cause/fix for this issue?

I triggered some attribute updates and these are correctly listed in the bulk log screen but they stay on pending. I removed legacy entries from the magento_bulk table.

Server side I ran `php bin/magento queue

[2020-03-03 16:08] bigbanne2004 commented on #27140
I have the same error after i upgrade from Magento 2.3.3 to 2.3.4

[2020-03-03 16:12] iosos-excel opened #27144 "Cannot invoice orders which contain bundle products comprised of physical and virtual products"
### Preconditions (*)

1. Magento 2.3.3 or Magento 2.3.4

### Steps to reproduce (*)

1. In the admin, create a sample physical product (This item has weight)
2. Create a sample virtual product (This item has no weight)
3. Create a sample bundle product
    * Set "Dynamic Price" to "No"
    * In "Bundle Items" add 2 options
        * Assign the sample physical product to option 1
        * Assign

[2020-03-03 16:48] hostep commented on #23958
@davidrthomson: make sure your `app/etc/env.php` file doesn't have the `cron_run` set to `false`.

Also: since you are using Magento 2.3.1, you shouldn't have the `product_action_attribute.update` consumer, it was introduced in Magento 2.3.2, updating product attributes using queues was not available yet in 2.3.1 and should just work as is, so I'm a bit confused here...
Running `bin/magento queue:

[2020-03-03 16:55] achleitner commented on #26698
Anyone has a fix for this that actually works. Getting a http error instead of the magento success page with paypal express and braintree/paypal module. Nothing in this thread actually works. Thanks

[2020-03-03 17:23] johncarlson21 commented on #23761
apparently this was never added to code and just closed??????

[2020-03-03 20:04] afirlejczyk commented on #7283
@nitish-ranjan05 please let us know if you plan to port changes, thank you.

[2020-03-03 22:28] drew7721 opened #27146 "Price cached on the Redis server."
### Preconditions (*)

1. Magento 2.3.2 and above
2. Need to have multiple instances that have independent Redis servers on each instance.
3. Say using something similar to this https://devdocs.magento.com/common/images/cloud_stack-diagram.png

### Steps to reproduce (*)

1. Change a product price.
2. Only the Redis cache on the admin instance will be flushed, not the Redis caches on the other ins

[2020-03-03 22:29] drew7721 commented on #27146
To reproduce this you need an environment that runs multiple instances of the code and the Redis cache server.

[2020-03-04 01:41] Stoyvo opened #27147 "Product Media Gallery Update Response (bool)"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. PUT {{baseUrl}}/V1/products/:sku/media/:entryId

### Expected result (*)
1. Return new EntryId (similar to POST)

### Actual result (*)
1. Response is "true" or error in JSON format

[2020-03-04 01:45] Stoyvo opened #27148 "catalog Product Attribute Media Gallery Management V1Update Put Ignores ID in Route"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. PUT {{baseUrl}}/V1/products/:sku/media/:entryId
2. Use a different ID in the route and the payload

### Expected result (*)
1. ID in the payload shouldn't be an option
2. Or IDs in route and payload do not match

### Actual result (*)
1. :entryId in the route is ignored, however a value is required. Any value can be populated. T

[2020-03-04 03:26] magento-engcom-team commented on #27124
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32119` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-04 03:26] shikhamis11 commented on #27126
@magento give me 2.4-develop instance

[2020-03-04 03:26] magento-engcom-team commented on #27126
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-04 03:27] magento-engcom-team commented on #27126
Hi @shikhamis11, here is your [Magento instance](https://i-27126-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27126-2-4-develop.instances.magento-community.engineering/admin_8734](https://i-27126-2-4-develop.instances.magento-community.engineering/admin_8734)
Login: `ca6ddb22` Password: `040f68dcd4a6`
Instance will be terminated in up to 3 hours.

[2020-03-04 03:29] #26837 closed, assigned to shikhamis11

[2020-03-04 05:07] LiamKarlMitchell commented on #12165
@magento-engcom-team Reopen this ticket?
Maybe there is another way to reproduce that has not been pinned down yet?

Content that worked fine, when edited and saved is ending up with &quot; where the double quotes were.

```<img src="{{media url=&quot;wysiwyg/pearl_theme/chair.png&quot;}}" alt="">```

[2020-03-04 05:39] surelockrich commented on #27130
No update??

[2020-03-04 06:39] nitish-ranjan05 commented on #7283
@Bartlomiejsz @afirlejczyk It is available for work. you could pick it.

[2020-03-04 07:54] LiamKarlMitchell commented on #19737
Confirming that @reinaldomendes patch on Magento 2.3.0 fixes it.

Does not fix for a tags.

Expected:
```<a href="{{store url="bed-bathroom.html"}}">```

Result after save:
```<a href="{{store url=&quot;bed-bathroom.html&quot;}}">```

Single quotes work, but examples I see seem to mostly use double quote.

[2020-03-04 08:08] magento-engcom-team commented on #26738
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32120` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-04 08:10] fab-rkd opened #27150 "HttpClientInterface Doesn't exists from Symfony vendor Package"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2.28-3+ubuntu18.04.1+deb.sury.org+1

### Steps to reproduce (*)

1. Create any custom class (Model, Helper etc.)
2. Use `Symfony\Component\BrowserKit\HttpBrowser`
3. Try to create an object of `HttpBrowser ($client)` and call `$client->request('GET', "https://magento.com/")`
4. Run dependency injection by `bin/magento setup:di:compile`

### Expected

[2020-03-04 08:19] engcom-Bravo commented on #26938
Hello @jsdupuis

Thank you for your report

This looks like a valid issue, but not for this repository.
Please, open a similar issue for [MSI](https://github.com/magento/inventory/issues) repository

Thank you for your collaboration

[2020-03-04 08:19] #26938 closed, assigned to shikhamis11

[2020-03-04 09:58] ilnytskyi opened #27151 "Redis cache: fwrite(): send of 8192 bytes failed with errno=104 Connection reset by peer"
Recently we noticed a new error appearing in different places like:
- Product save in admin
- cache:clean
- cleaning cache by the indexer
[code]
### Preconditions (*)

1. use any magento multistore with a lot of products that generate many different keys
2. just many keys in Redis

that was hard to debug however we found something
### Steps to reproduce (*)

1. Write a lot of keys into Redis in my

[2020-03-04 10:07] jsdupuis commented on #26938
I'm not familiar with repositories. I just clicked on "Report an issue" link in the back end of Magento.

[2020-03-04 10:10] engcom-Golf commented on #25771
Hi @PascalBrouwers thank you for you report this issue has already fixed by this commit https://github.com/magento/magento2/commit/9a31aa2a0f5f238e1df601274d307308ac767659.

[2020-03-04 10:10] #25771 closed, assigned to PascalBrouwers

[2020-03-04 10:13] achleitner commented on #25684
Anyone got a solution for this`? Happening on Magento 2.3.4

[2020-03-04 10:25] bst2002git commented on #25684
Hello @achleitner ,
i've removed "prototype" from vendor/magento/module-braintree/view/frontend/web/js/view/payment/method-renderer/cc-form.js
see issue #26378

[2020-03-04 10:35] AnnaShepa commented on #27137
so, it means you managed to add a few items to one wishlist? from FE? but cannot open it on FE?

[2020-03-04 11:02] wajihkm opened #27152 "Percentage discount on Shipping amount is not working correctly"
### Preconditions (*)

1. Magento 2.1.1.6

### Steps to reproduce (*)

1. Create new "Cart price rule"
2. select "Percent of product price discount"
3. check "Apply to Shipping amount"
4. Save
5. add Items to the Cart
6. on checkout page, the price summary will be coorect
7. After select "Check/Money order" and "Place Order"
8. if done, view the Order summary and check  how the price is different

[2020-03-04 11:04] wajihkm commented on #27152
@magento give me 2.1-develop instance

[2020-03-04 11:04] magento-engcom-team commented on #27152
Hi @wajihkm. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` and `2.4` release line

[2020-03-04 11:04] engcom-Echo commented on #27018
Hi @TheRealHunzik.

![image](https://user-images.githubusercontent.com/51681435/75873452-94fc2500-5e18-11ea-8a84-32584ae01b85.png)
![image](https://user-images.githubusercontent.com/51681435/75873479-a5ac9b00-5e18-11ea-84a3-d1d7e862e8a4.png)
![image](https://user-images.githubusercontent.com/51681435/75873529-b6f5a780-5e18-11ea-979d-7828a94eaed3.png)

[2020-03-04 11:04] wajihkm commented on #27152
@magento give me 2.4-develop instance

[2020-03-04 11:05] magento-engcom-team commented on #27152
Hi @wajihkm. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-04 11:05] magento-engcom-team commented on #27152
Hi @wajihkm, here is your [Magento instance](https://i-27152-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27152-2-4-develop.instances.magento-community.engineering/admin_af29](https://i-27152-2-4-develop.instances.magento-community.engineering/admin_af29)
Login: `b42cb68d` Password: `55c7f71d3de4`
Instance will be terminated in up to 3 hours.

[2020-03-04 11:10] Eddcapone commented on #14803
@vtransy and if your link dies then nobody will ever know your fix. Nice

[2020-03-04 11:12] vtransy commented on #14803
@Eddcapone it's working, maybe wordpress is blocked at your side, here is screen shot:
![image](https://user-images.githubusercontent.com/3919744/75874125-b292b400-5e43-11ea-81bc-99dbfc139091.png)

[2020-03-04 11:15] ajijshekh123 commented on #27152
@wajihkm - Please follow the below Magento issue reporting process. If you do not follow the process "Format is not valid" tag will not be removed.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Thanks.

[2020-03-04 11:23] krishprakash commented on #27069
Hi @saranaltius.
Can not reproduce the issue on latest magento instance
Also GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the[ Community Forums](https://community.magento.com/) or the [Magento Stack Exchange site](https://magento.stackexchange.com/) for advice or general discussion about this.
Thank You.

[2020-03-04 11:23] #27069 closed, assigned to krishprakash

[2020-03-04 11:24] engcom-Bravo commented on #26283
Hello @pascal-boisselier

Thank you for your report. I could easily reproduce this behavior on my instance
![sort](https://user-images.githubusercontent.com/51680745/75874521-8adb2600-5e1a-11ea-8b48-667a9da4563d.png)

**BUT** this expected to _Sort By_ Original Price (Excluding tax).
The tax rules may apply differently for each Country, even region.
That is why, in Magento, Sorting works by the _O

[2020-03-04 11:24] #26283 closed, assigned to rammohan-krish, engcom-Bravo

[2020-03-04 11:29] shrey126 opened #27153 "[Qty | Bug]User is able to proceed with floating value(0.8, 1.7 etc...) of qty and price is displayed according to floating qty in magento default"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. Open any E-commerce magneto website
2. Navigate to PLP
3. Add product into cart > Navigate to cart page
4. Remove qty count > Hit Update cart button
5. Observe that error message appears
6. Change qty to floating(0.4, 1.3 etc...) > Click update cart
7. Do proceed to checkout

### Expected result (*)

1. If any user entered floating value

[2020-03-04 11:38] parekhreena commented on #27112
We are facing same error with Magento CE 234

[2020-03-04 11:43] vipin12117 commented on #24190
it is not fixed yet in 2.3.4 yet. What is doing magent team ? fixing some issues then creating more issues.

[2020-03-04 12:06] Eddcapone commented on #14803
@vtransy It works NOW. But my point is, what happens in 1-2 years? Will it work then too? You should always add the needed informations in your comment too as backup. Thanks for the screenshot.

[2020-03-04 12:26] homecoded opened #27155 "Compare List does not show attribute values of type Boolean (Yes/No)"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2.26-1+ubuntu18.04.1+deb.sury.org+1

### Steps to reproduce (*)

1. Create product attribute of type Boolean (Yes/No), make sure the attribute is visible on compare page
2. Add attribute to "Default" attribute set
3. Edit existing product (or create new product) and set the attribute to "Yes"
4. Find the product in catalog frontend, and add it to th

[2020-03-04 12:28] ihor-sviziev commented on #24190
@vipin12117
Thank you for raising this!

I see that commit https://github.com/magento/magento2/commit/b027f7f5e4f6969455ac4766df926ffcbedae556 was included into 2.3.4 release, so fix should works fine. Do you have this issue on clean magento installation? If no - issue might be caused by custom extension.

In order to double check it - could you report separate issue with exact steps to reproduce

[2020-03-04 12:30] homecoded commented on #27155
@magento give me 2.4-develop instance

[2020-03-04 12:30] magento-engcom-team commented on #27155
Hi @homecoded. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-04 12:30] magento-engcom-team commented on #27155
Hi @homecoded, here is your [Magento instance](https://i-27155-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27155-2-4-develop.instances.magento-community.engineering/admin_f27a](https://i-27155-2-4-develop.instances.magento-community.engineering/admin_f27a)
Login: `ab9a02a9` Password: `1d2104b651d4`
Instance will be terminated in up to 3 hours.

[2020-03-04 12:31] amolbhandari opened #27156 "Magento 2.2 version"
Preconditions (*)
1) Magento version is 2.2 CE

Steps to reproduce (*)
1) I get this in my exception.log in var/log folder . the log is
2) [2020-03-04 11:27:30] main.CRITICAL: Class does not exist {"exception":"[object] (InvalidArgumentException(code: 0): Class does not exist at /home/portresttrailcom/public_html/vendor/magento/module-rule/Model/ConditionFactory.php:50)"} []
Expected result (*)
1)

[2020-03-04 12:36] homecoded commented on #27155
@magento give me 2.3-develop instance

[2020-03-04 12:36] magento-engcom-team commented on #27155
Hi @homecoded. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-03-04 12:36] homecoded commented on #27155
Could not reproduce on 2.4, trying 2.3

[2020-03-04 12:37] reense commented on #11995
@GautierI Thank you!

[2020-03-04 12:39] amolbhandari opened #27157 "Magento 2.2 bug log regarding Apptrian module"
Preconditions (*)
1) Magento 2.2

Steps to reproduce (*)
1) I am using Apptrian image optimizer module 2.2.3
2) The site runs fine but i get below error in the exception.log in var/log folder
3) [2020-03-04 11:15:05] main.CRITICAL: Your image index is corrupted at line 1. {"exception":"[object] (Exception(code: 0): Your image index is corrupted at line 1. at /home/portresttrailcom/public_html/app/

[2020-03-04 12:42] jakwinkler opened #27158 "Payment object / information is NULL and not added to order repository"
### Preconditions (*)

1. Magento 2.3.3 / 2.3.4

### Steps to reproduce (*)

1. Create code which will fetch order information using searchCriteriaBuilder and order repository (code below)
2. Create 3 products
3. Create user account
4. Create at least 2 orders containing product nr 3
5. Try to fetch customer orders, status complete

[code]

6. Try to iterate through all orders (example code) conta

[2020-03-04 12:47] engcom-Bravo commented on #26408
Hello @alxanthony

Thank you for your report and for your contribution

I have rechecked this on Magento 2.4-develop and it seems to be fixed
![special price](https://user-images.githubusercontent.com/51680745/75880879-ca0f7400-5e26-11ea-8167-6b07a1d64632.gif)

Please correct my steps if I performed incorrect steps for reproducing

If the issue is not reproducible on 2.4-develop, it will be closed

[2020-03-04 12:50] homecoded commented on #27155
Was able to reproduce issue on http://demoshops.splendid-internet.de/magento/demoshop-magento2-daily/

[2020-03-04 12:58] homecoded commented on #27155
I created a patch that can be applied via composer.json

[code]

[2020-03-04 13:17] ajijshekh123 commented on #27130
@magento give me 2.4-develop instance

[2020-03-04 13:17] magento-engcom-team commented on #27130
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-04 13:18] magento-engcom-team commented on #27130
Hi @ajijshekh123, here is your [Magento instance](https://i-27130-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27130-2-4-develop.instances.magento-community.engineering/admin_9a82](https://i-27130-2-4-develop.instances.magento-community.engineering/admin_9a82)
Login: `fb5f975a` Password: `7df4cedcb9d8`
Instance will be terminated in up to 3 hours.

[2020-03-04 13:36] ghost opened #27160 "Checkbox UI Component valueMap returns wrong data type"
### Preconditions (*)

1. Magento 2.3.3-p1

### Steps to reproduce (*)

1. Create checkbox UI Component in a form
2. Use valueMap to set the following

<valueMap>
    <map name="false" xsi:type="boolean">false</map>
    <map name="true" xsi:type="boolean">true</map>
</valueMap>

### Expected result (*)

1. Checkbox should return a boolean

### Actual result (*)

1. Data returned is a string
<img w

[2020-03-04 13:37] ajijshekh123 commented on #27130
@surelockrich - I have verified this issue with your steps, actual result and expected result but not able to reproduce.
Can you please send me one video?

Thanks.

[2020-03-04 13:39] paul-gene commented on #26753
Imagine you want to add some custom data to the cart item, from the main cart, but don't want to update the qty.

The data is exposed via an input box under each line item. You enter something for one of the items, and hit the big "update cart" button.

The observer will not react to the change, as the qty has not been changed.

[2020-03-04 13:42] ajijshekh123 commented on #27153
Hello @shrey126 ,
I have verified this issue in the default Magento 2.4 instance. Floating qty is updated and its subtotal is updated as per the default Magento functionality.
In the Product block, I have set ' Qty Uses Decimals > No' so why the system is accepted floating qty.

Thanks.

[2020-03-04 13:44] magento-engcom-team commented on #27153
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-03-04 13:46] magento-engcom-team commented on #27153
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32139` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-04 14:01] ajijshekh123 commented on #27152
Hi @wajihkm,
I have reviewed this issue in the default Magento 2.4 instance as per your steps, expected result and actual result but not able to reproduce this issue.
Please see attached the screenshot:

![1](https://user-images.githubusercontent.com/24711761/75886682-a2340680-5e4e-11ea-89df-82970c0b67a5.png)

![2](https://user-images.githubusercontent.com/24711761/75886686-a3fdca00-5e4e-11ea-981a

[2020-03-04 14:02] borriglione opened #27161 "Cart unit item price is shown in wrong currency if custom_price is used"
### Preconditions

1. Magento 2.3.4
2. Multi-Currency Setup
3. quote_item.custom_price is used

### Steps to reproduce (*)

1. Install Magento 2.3.4
2. Deploy sample data
3. Default currency is already US-Dollar (USD)
4. Add 2nd allow currency f.e. EURO (EUR)
5. Set rate f.e. 1 USD = 1.5 EUR
6. Switch to EUR by currency switcher in frontend
7. Add product with qty 2 in cart.
7. Set a custom item p

[2020-03-04 15:12] vipin12117 commented on #26578
see this Magento\CatalogSearch\Model\ResourceModel\Advanced\Collection

function _loadEntities

$currentSearchEngine = $this->_scopeConfig->getValue(self::SEARCH_ENGINE_VALUE_PATH);
        if ($this->_pageSize && $currentSearchEngine === EngineResolver::CATALOG_SEARCH_MYSQL_ENGINE) {
            $this->getSelect()->limitPage($this->getCurPage(), $this->_pageSize);
        }

I removed condition i

[2020-03-04 15:14] krisztian-fekete opened #27162 "SortOrder is reversed in layout XML"
### Preconditions (*)

1. Magento Commerce 2.3.3

### Steps to reproduce (*)

1. Add a child block with `sortOrder` value of `1` in your layout XML, e.g., `Magento_Customer/layout/customer_account.xml` in your custom theme:

[code]
2. Flush the layout and full page caches
3. Log in at the front end and navigate to `/customer/account/`

### Expected result (*)

1. A new, Logout link should appear i

[2020-03-04 15:34] ihor-sviziev commented on #24190
Unfortunately I can’t give you an answer without context of your issue.

In order to fix the issue that you have - we need to identify it. Please
report separate issue with exact steps to reproduce on empty magento
installation, otherwise unfortunately we will not but be able to fix it.

Thank you!

On Wed, 4 Mar 2020 at 17:11, vipin12117 <notifications@github.com> wrote:

[2020-03-04 15:36] vipin12117 commented on #24190
Ok i  fixed by applying patch. So now it's on your job if you want to fix
or not.

On Wed, Mar 4, 2020 at 9:04 PM Ihor Sviziev <notifications@github.com>
wrote:

--
Thanks & Regards,
Vipin Garg
Mobile: +91 9785118324

[2020-03-04 15:37] davidrthomson commented on #25522
Hi,

We are experiencing this exact issue on Magento 2.3.2. What was the fix for this in the end? Was the conclusion that it is not reproducible in 2.3.3?

Thanks,

David

[2020-03-04 15:48] danemacmillan commented on #26949
I think it's important we see the origin of this conversation at the [commit itself](https://github.com/magento/magento2/commit/9f5714841e063f1d54b41a1b5374059552277162). Thanks, @drew7721, for ensuring my faith in the framework remains consistently low. Good catch.

[2020-03-04 16:02] DaveSkirrow opened #27163 "Double spaces in attribute options don't show in Catalog or front end"
### Preconditions (*)

1. 2.3.4

### Steps to reproduce (*)

1.  Create an attribute and set it as a dropdown
2.  Add an option to the attribute with a double space (or multiple spaces in a row). eg.![2020-03-04_1552](https://user-images.githubusercontent.com/61794963/75898011-68a0d280-5e31-11ea-8a35-9ac70447d543.png)
3. Add attribute to attribute set
4. Go to Catalog > Products and look at dropdo

[2020-03-04 16:03] DaveSkirrow commented on #27163
@magento give me 2.4-develop instance

[2020-03-04 16:03] magento-engcom-team commented on #27163
Hi @DaveSkirrow. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-04 16:04] magento-engcom-team commented on #27163
Hi @DaveSkirrow, here is your [Magento instance](https://i-27163-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27163-2-4-develop.instances.magento-community.engineering/admin_b018](https://i-27163-2-4-develop.instances.magento-community.engineering/admin_b018)
Login: `36b813de` Password: `ea0cf1b39970`
Instance will be terminated in up to 3 hours.

[2020-03-04 16:10] engcom-Bravo commented on #26921
Hello @bernd-reindl

Thank you for your report

I have rechecked this issue on 2.4-develop, and I'm getting the same result you've mentioned in this [screenshot](https://user-images.githubusercontent.com/2369089/74815485-9d713d80-52f9-11ea-81ec-ab347fc440f1.jpg), no cart at all.
This looks like another issue. But what about the initial one? If I understood your comment correctly, you were not able

[2020-03-04 16:25] DaveSkirrow commented on #27163
I was able to reproduce the issue on vanilla Magento instance

[2020-03-04 16:33] AymericJoubert commented on #25798
Hello,

Any updates on this point ?

[2020-03-04 16:51] neobiz commented on #13604
Hello,
Same issue in Magento 2.2.6. Have you found a solution ? I have only 6 products for my tests with unique and different SKU / url_key.

[2020-03-04 16:53] UgoTurner commented on #22407
Actually this issue was fixed in the [2.3.4 Commerce release](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-4-commerce.html) :

[2020-03-04 16:54] vseager opened #27164 "Add to cart notification for related products"
### Preconditions (*)
On a product view, when selecting a related product and adding it to the cart with the current product, the notification doesn't reflect the two product being added, it says:

You added *CURRENT PRODUCT NAME* to your shopping cart.

However 2 products (the current product and the related product) are added to the cart where added. It should read:

You added *CURRENT PRODUCT N

[2020-03-04 16:55] mvaisberg commented on #13604
You have to change every url key in your CSV to be unique.

El mié., 4 mar. 2020 a las 13:51, NEOBIZ (<notifications@github.com>)
escribió:

[2020-03-04 17:27] neobiz commented on #13604
Every url key in my CSV is already unique. That's why I don't understand the issue.

[2020-03-04 17:48] nwmagento commented on #21353
@magento-engcom-team give me 2.4-develop instance

[2020-03-04 17:49] magento-engcom-team commented on #21353
Hi @nwmagento. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-04 17:49] magento-engcom-team commented on #21353
Hi @nwmagento, here is your [Magento instance](https://i-21353-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-21353-2-4-develop.instances.magento-community.engineering/admin_ebfd](https://i-21353-2-4-develop.instances.magento-community.engineering/admin_ebfd)
Login: `d30578be` Password: `06cde9c69b47`
Instance will be terminated in up to 3 hours.

[2020-03-04 18:15] lbajsarowicz commented on #27117
@magento give me 2.4-develop instance

[2020-03-04 18:15] magento-engcom-team commented on #27117
Hi @lbajsarowicz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-04 18:16] magento-engcom-team commented on #27117
Hi @lbajsarowicz, here is your [Magento instance](https://i-27117-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27117-2-4-develop.instances.magento-community.engineering/admin_c3b0](https://i-27117-2-4-develop.instances.magento-community.engineering/admin_c3b0)
Login: `5f3b575d` Password: `e5623bb9c2bb`
Instance will be terminated in up to 3 hours.

[2020-03-04 18:27] danemacmillan commented on #27146
After doing a bit more research into this, I found the commit that is responsible for this problem:

https://github.com/magento/magento2/pull/19897

I also commented about the problem this introduces:

https://github.com/magento/magento2/pull/19897#issuecomment-594708046

[2020-03-04 19:18] achleitner commented on #25684
hey @bst2002git this works is just perfect! Many thanks! Should have checked github for a response 9 hours ago :)

[2020-03-04 20:17] hostep commented on #27150
@fab-rkd: I believe this might be a bug in the `symfony/browser-kit` package, see: https://github.com/symfony/browser-kit/commit/504b1e4979c4ab1499d4eeb766a00b05beb39802#commitcomment-37640083

You can probably fix it by executing `composer require symfony/contracts`

But but but, you have to be vary careful here, because the `symfony/browser-kit` is a development dependency in Magento which means

[2020-03-04 20:17] #27150 closed, assigned to nobody

[2020-03-04 21:40] pascal-boisselier commented on #26283
Thank you @engcom-Bravo  for your analyse. You perfectly explain this issue, but it means that Magento manage multiple Region / State / Country / Taxes / Currencies  and works very well for specific cases in Search / customer navigation /  Cart etc.. but not for this specific sorting ?

This issue was in other old tickets, it means that a lot of countries is impacted by this error. Do you want to

[2020-03-05 04:29] ashokadewit opened #27166 "MSRP price is not updated when using dropdown instead of swatch"
### Preconditions

1. Magento 2.4

### Steps to reproduce

1. Enable MAP (Stores -> Configuration -> Sales -> Sales -> Minimum Advertised Price -> Enable MAP).
2. Create a configurable product
3. Create variations for two attributes. One of type "swatch", one of type "dropdown".
4. Assign different MSRP for the variations.
5. Go to product on the frontend click the swatches and change the dropdown

[2020-03-05 04:57] wajihkm commented on #27152
Hi @ajijshekh123
Thanks for your time,
It appears on Magento 2.1.1.6 version, It does not appear on newer versions.
So I just want to know if it is a bug from Magento system.
Thanks

[2020-03-05 05:26] ajijshekh123 commented on #27152
Hello @wajihkm,
If this issue is not available in the latest version so I can't able to confirm this issue.
I have suggestion to you, Please update the Magento 2.4 instance and verify it. If this issue is again raised you can open this ticket.
Now I am close to this ticket.

Thanks.

[2020-03-05 05:26] #27152 closed, assigned to ajijshekh123

[2020-03-05 05:27] ajijshekh123 commented on #27163
@magento give me 2.4-develop instance

[2020-03-05 05:27] magento-engcom-team commented on #27163
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 05:28] magento-engcom-team commented on #27163
Hi @ajijshekh123, here is your [Magento instance](https://i-27163-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27163-2-4-develop.instances.magento-community.engineering/admin_2228](https://i-27163-2-4-develop.instances.magento-community.engineering/admin_2228)
Login: `2310c7da` Password: `e295716a0f63`
Instance will be terminated in up to 3 hours.

[2020-03-05 05:33] Aravindh468 opened #27168 "Magento 2.3.4 couldn't get category image name"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a Category and add an image to that category.
2. I need to display the category image of few categories based on id in homepage. So i have try to use the code in frontend as below,

[code]

3. But it returns the tmp path image of that category.
4. I have even tried using the above codes for getting category image name i

[2020-03-05 06:00] Aravindh468 commented on #27168
I have found the issue is because category backend model image before save method

[code]
[code]
In the above method in condition that has been returned checked as below,

It should be,

I have checked in previous versions.

[2020-03-05 06:01] ajijshekh123 commented on #27163
Hello @DaveSkirrow,
I have verified this issue latest Magento 2.4 instance. But I can't able to reproduce this issue.
Please see attached screenshot:
![1](https://user-images.githubusercontent.com/24711761/75952440-c3d7d100-5ed4-11ea-9055-d5acba44e7c1.png)

![2](https://user-images.githubusercontent.com/24711761/75952444-c508fe00-5ed4-11ea-9973-d5b3bf73bda0.png)

![3](https://user-images.githubuse

[2020-03-05 06:14] ajijshekh123 commented on #27164
The issue confirmed in Magento 2.4 instance.
See attached screenshot:
![New](https://user-images.githubusercontent.com/24711761/75953119-a6a40200-5ed6-11ea-82a9-50982f03e34e.png)

Thanks.

[2020-03-05 06:15] magento-engcom-team commented on #27164
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32167` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-05 06:22] ashokadewit commented on #27166
@magento give me 2.4-develop instance

[2020-03-05 06:22] magento-engcom-team commented on #27166
Hi @ashokadewit. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 06:23] magento-engcom-team commented on #27166
Hi @ashokadewit, here is your [Magento instance](https://i-27166-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27166-2-4-develop.instances.magento-community.engineering/admin_ad80](https://i-27166-2-4-develop.instances.magento-community.engineering/admin_ad80)
Login: `40fea045` Password: `70cbad1f42ca`
Instance will be terminated in up to 3 hours.

[2020-03-05 06:30] maheshWebkul721 commented on #27153
@magento give me 2.4-develop instance

[2020-03-05 06:31] magento-engcom-team commented on #27153
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 06:31] magento-engcom-team commented on #27153
Hi @maheshWebkul721, here is your [Magento instance](https://i-27153-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27153-2-4-develop.instances.magento-community.engineering/admin_7bb2](https://i-27153-2-4-develop.instances.magento-community.engineering/admin_7bb2)
Login: `21b7a6fe` Password: `d7da360cb3d3`
Instance will be terminated in up to 3 hours.

[2020-03-05 06:49] mahesh-rajawat opened #27169 "Not able to update value with "use default checkbox" for Downloadable Product's Sample and Links Title."
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

ISSUE: 1

1. Create a downloadable Product Add Sample Title and Link Title https://prnt.sc/rbtrlf
2. Save the product.
3. Now switch store scope by store switcher : https://prnt.sc/rbts2p
4. Uncheck Checkbox and update the value and save again: https://prnt.sc/rbtsn4
5. This time Check the Checkboxes to use Default value, a

[2020-03-05 06:56] surelockrich commented on #27130
Hello,
Kindly check in this we have selected product attributes and we have clicked on the product page, and then again we have to click product attributes to proceed further.

[core_issue.zip](https://github.com/magento/magento2/files/4291374/core_issue.zip)

Thank You

[2020-03-05 07:00] ajijshekh123 commented on #27130
Thanks for the update @surelockrich. Let me verify the issue again and update you :)

[2020-03-05 07:00] ajijshekh123 commented on #27130
@magento give me 2.4-develop instance

[2020-03-05 07:00] magento-engcom-team commented on #27130
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 07:01] magento-engcom-team commented on #27130
Hi @ajijshekh123, here is your [Magento instance](https://i-27130-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27130-2-4-develop.instances.magento-community.engineering/admin_8772](https://i-27130-2-4-develop.instances.magento-community.engineering/admin_8772)
Login: `902f006b` Password: `d37f24cf7100`
Instance will be terminated in up to 3 hours.

[2020-03-05 07:06] magento-engcom-team commented on #26921
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32168` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-05 07:12] ajijshekh123 commented on #27130
Hello @surelockrich,
I think this is a default Magento behavior. But as per your suggestion and video and let me verify this issue.
Thanks.

[2020-03-05 07:12] jaivikpatel commented on #26942
I also facing the same problem in my Magento 2.3.4 system.
Any Patch or solution for that?

[2020-03-05 07:13] magento-engcom-team commented on #27130
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32169` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-05 07:44] surelockrich opened #27171 "Magento search result core functional issue"
### Preconditions (*)

1.Magento 2.3.3
2.MySQL

### Steps to reproduce (*)

1. I cannot reproduce in a better way so we have shared a demo you can verify
2. ref: Reproduce
[Reproduce.zip](https://github.com/magento/magento2/files/4291574/Reproduce.zip)
.zip

### Expected result (*)

1. Search should show only that result which is requested by that keyword
2. [Reproduce.zip](https://github.com/mage

[2020-03-05 07:56] mgsolutionscode commented on #15654
Magento 2 does not support **special_price** on configurable products. The migration tool set **special_price** on configurable products inside table **catalog_product_entity_decimal** (it is attribute_id = 65).

When there is special_price for configurable product the price index calculation is completely wrong. In Magento 2 **special_price** is used from simple products. Also, you can see in **a

[2020-03-05 08:13] DaveSkirrow commented on #27163
Hi, thanks for the reply.
Apologies, I think my first image was misleading. The vertical line was the cursor, not a pipe symbol.

Please try to reproduce by typing the option name as follows.
Press A
Press space bar 10 times
Press B

So the option name has a character St the start and end with several spaces in between.

I tested on the latest 2.4 instance

[2020-03-05 08:42] ajijshekh123 commented on #27163
@magento give me 2.4-develop instance

[2020-03-05 08:43] magento-engcom-team commented on #27163
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 08:43] magento-engcom-team commented on #27163
Hi @ajijshekh123, here is your [Magento instance](https://i-27163-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27163-2-4-develop.instances.magento-community.engineering/admin_2d05](https://i-27163-2-4-develop.instances.magento-community.engineering/admin_2d05)
Login: `40d8e6df` Password: `123ce7cf7897`
Instance will be terminated in up to 3 hours.

[2020-03-05 08:52] magento-engcom-team commented on #27163
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32174` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-05 09:00] mattf10 opened #27173 ""You already have an account" when none exists after failed checkout"
### Preconditions (*)

1.  2.3.4
2.  System info:
PHP 7.3.15-3+ubuntu18.04.1+deb.sury.org+1
OS: Ubuntu 18.04.4 LTS (Bionic Beaver)

### Steps to reproduce (*)

1.  Checkout as guest.  Transaction doesn't complete for whatever reason (bad credit card number etc).
2. Go back to checkout and below email is a password form with the message "You already have an account with us. Sign in or continue as g

[2020-03-05 09:29] will-wright1 opened #27174 "Existing customers can't checkout after upgrade AmazonPay"
Just upgraded to 2.3.4 but existing customers can't move from step 1 in the checkout to step 2.

You need to be logged in as a customer that existed on 2.3.3.

Error 500 on /rest/STORE/V1/carts/mine/shipping-information

"Fatal Error: 'Uncaught Error: Call to a member function getAmazonOrderReferenceId() on null in \/srv\/public_html\/vendor\/amzn\/amazon-pay-module\/Plugin\/ShippingInformationMan

[2020-03-05 09:32] engcom-Echo commented on #26794
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-03-05 09:32] #26794 closed, assigned to engcom-Bravo, engcom-Echo

[2020-03-05 09:51] engcom-Kilo commented on #25186
@devamitbera @utka955
Checked with fresh ver. dev-2.4-develop and Image saved properly. Meta-data same as in original uploaded Image.

[2020-03-05 09:52] Beraa995 opened #27175 "Unable to set custom price to 0 within a buy request."
The zero price can't be set within the prepare method in vendor/magento/module-quote/Model/Quote/Item/Processor.php. PHP empty method is registering 0 as true so it is skipped.

### Preconditions (*)
1. Use a vanilla Magento 2.3.4.
2. In vendor/magento/module-checkout/etc/frontend/di.xml remove a custom_price item from the filter list.

### Steps to reproduce (*)
1. Use the addProduct method of Ma

[2020-03-05 09:59] minhducnho commented on #25620
Does anyone have a patch to fix this, I have try to fix it but it still doesn't work? I have used  @kushaljindal92's module but it only fix js errors, it still can't save

[2020-03-05 10:03] Eddcapone opened #27176 "Sourcemap leading to wrong code"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Execute: grunt refresh && grunt exec && grunt less && grunt watch
2. Sourcemaps will get generated
3. Login in to frontend and go to customer area.
4. Open Browser console
5. Activate Sourcemapping in the browser so that sourcemaps show
6. Inspect address element on "**Default shipping address**" (.box-content)

![image](https

[2020-03-05 10:06] mattf10 commented on #27173
@magento give me 2.4-develop instance

[2020-03-05 10:06] magento-engcom-team commented on #27173
Hi @mattf10. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 10:07] magento-engcom-team commented on #27173
Hi @mattf10, here is your [Magento instance](https://i-27173-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27173-2-4-develop.instances.magento-community.engineering/admin_1717](https://i-27173-2-4-develop.instances.magento-community.engineering/admin_1717)
Login: `0d4b70b0` Password: `7324afdcf5f2`
Instance will be terminated in up to 3 hours.

[2020-03-05 10:09] engcom-Bravo commented on #27127
Hello @luke-denton-aligent

Thank you for your report and detailed description.

This seems to be fixed in Magento 2.4-develop.
We have rechecked it with Sample Data and disabled _Promotions_ category
![image](https://user-images.githubusercontent.com/51680745/75969815-27afc900-5ed8-11ea-947b-97f7fbf353a5.png)

If the Category is disabled, then the subcategories are not "returned" in the GraphQL q

[2020-03-05 10:15] mattf10 commented on #27173
The development instance doesn't work (problem with indexers, can't find newly added product) so I cannot say whether it's reproduceable.  If you have a working test instance, I will try there.

This issue should remain open

[2020-03-05 10:27] engcom-Golf commented on #26753
@paul-gene, exactly, when i have the same  qty and not changed, observer fires every time when i press `update cart` button
![DeepinScreenshot_select-area_20200305122848](https://user-images.githubusercontent.com/51681547/75972783-ac044b00-5edc-11ea-97e1-8e6d501ecf9a.png)
![DeepinScreenshot_select-area_20200305122858](https://user-images.githubusercontent.com/51681547/75972784-ac9ce180-5edc-11ea-9

[2020-03-05 10:31] mdesplenter opened #27177 "Add to cart on product page empties the cart"
When adding a product to the cart from the detail view, it removes the other products in the cart and only shows the new product. When adding products from the overview page (direct add) this is not the case.

# Preconditions (*)
1. Magento 2.3.4
2. Local new installation (without varnish) and a live website (with varnish)
3. Simple and configurable products

### Steps to reproduce (*)
1. Go to an

[2020-03-05 10:31] mdesplenter commented on #27177
@magento give me 2.3-develop instance

[2020-03-05 10:32] magento-engcom-team commented on #27177
Hi @mdesplenter. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-03-05 10:32] mdesplenter commented on #27177
@magento give me 2.4-develop instance

[2020-03-05 10:32] magento-engcom-team commented on #27177
Hi @mdesplenter. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 10:32] magento-engcom-team commented on #27177
Hi @mdesplenter, here is your [Magento instance](https://i-27177-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27177-2-4-develop.instances.magento-community.engineering/admin_2dc4](https://i-27177-2-4-develop.instances.magento-community.engineering/admin_2dc4)
Login: `89e25aa2` Password: `526630e0ea3a`
Instance will be terminated in up to 3 hours.

[2020-03-05 10:48] engcom-Bravo commented on #26353
Hello @candls2017

We have rechecked this on Magento 2.4-develop Enterprise Edition
I have over 12 Cart Price Rules, and after I **Edit** one, **Schedule New Update** - **Save**, the page with the list of all Cart Price Rules opens
![cart_price_rule](https://user-images.githubusercontent.com/51680745/75973931-a7409680-5ede-11ea-9b39-af5a0fe1d7da.gif)

Can you please confirm that you are facing the

[2020-03-05 10:48] engcom-Bravo commented on #26353
@sdzhepa Please, move this issue to the Enterprise repository.

[2020-03-05 10:50] mdesplenter commented on #27177
@magento give me 2.3-develop instance

[2020-03-05 10:50] magento-engcom-team commented on #27177
Hi @mdesplenter. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-03-05 11:30] NeilofSteel commented on #27123
@AnnaShepa that was the first what I did ^^
I realised it only doesn't work for configurable (child)products. I can add single products to cart but not the childs of configurable products if they're out of stock. On some point the data var 'is_salable' is setting to 0 and throws false in Magento\Catalog\Model\Product\Type line 350 (function 'isSalable').
In the Image you can see, that you can't se

[2020-03-05 11:38] AnnaShepa commented on #27171
Hi @surelockrich , sorry, but I didn't get any problem from your video, please describe steps to reproduce and expected/actual result

[2020-03-05 11:39] engcom-Bravo commented on #27119
Hello @lbajsarowicz

Thank you for your report

Can you please create a Pull Request for this

Thank you in advance

[2020-03-05 11:42] AnnaShepa commented on #27123
@magento give me 2.4-develop instance

[2020-03-05 11:42] magento-engcom-team commented on #27123
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-03-05 11:43] magento-engcom-team commented on #27123
Hi @AnnaShepa, here is your [Magento instance](https://i-27123-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27123-2-4-develop.instances.magento-community.engineering/admin_04b6](https://i-27123-2-4-develop.instances.magento-community.engineering/admin_04b6)
Login: `3dacb821` Password: `cf8528e4fee3`
Instance will be terminated in up to 3 hours.

[2020-03-05 11:45] magento-engcom-team commented on #27119
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-32177` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-03-05 11:53] i95dev-imran commented on #15654
@pmathbliss Okay thanks i got the query working, but if i want to retrieve the products on sale, i don't get any products, while i got products before the query. Did you have problems with this to?

[2020-03-05 12:05] AnnaShepa commented on #27123
@NeilofSteel  during next 3 hours you can check products created by me on dev magento instance. I managed to create configurable product with one preorder option, for that I just
1. enabled preorders globally in settings
2. enabled preorder in the simple product
3. set stock status for the product "In Stock" (please note that you have to set it after the 2nd step, otherwise with qty 0 it will be a