[2016-11-16 14:41] SerhiyShkolyarenko commented on #5332
@carlowens @Dayssam @Fairlight60 thank you for reporting and investigating the issue. Is it reproducible for you on the latest develop branch?
I tried latest develop and everything worked good for me. On step 6 I decreased amount of products in cart and discount disappeared on page reloading, coupon was unapplied.
Does it work the same for you?

[2016-11-16 14:42] veloraven commented on #7422
@sma09sjb thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If you are looking for help and questions answers  please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http:/

[2016-11-16 14:50] oshmyheliuk commented on #6719
Hi @pguedesbr ,

Thanks for reporting this issue.
We've created internal ticket MAGETWO-61058 to address this issue.

[2016-11-16 15:00] atihomirov commented on #7379
using extension "Amasty delivery date" the client needs to display multiple months for clarity.
the code for the call:
{code}
$elements['deliverydate_date'] = [
                    'component' => 'Amasty_Deliverydate/js/checkout/date',
...
                    'config' => [
...
                        'options' => ['amdeliveryconf' => $this->deliveryHelper->getDeliveryConfig(),

[2016-11-16 15:07] oshmyheliuk commented on #7052
Hi @KevinMace ,
I’m closing this issue because it is a duplicate of [#6719](https://github.com/magento/magento2/issues/6719) and we've created internal ticket for that issue.
Please reopen this issue as needed.

[2016-11-16 15:07] #7052 closed, assigned to veloraven

[2016-11-16 15:08] oshmyheliuk commented on #7053
Hi @eharvest  ,
I’m closing this issue because it is a duplicate of [#6719](https://github.com/magento/magento2/issues/6719) and we've created internal ticket for that issue.
Please reopen this issue as needed.

[2016-11-16 15:08] #7053 closed, assigned to oshmyheliuk

[2016-11-16 15:22] nagno commented on #5694
yes, probably you have to fix that rewrite.

[2016-11-16 15:33] kassner commented on #4412
@veloraven ping

[2016-11-16 15:38] oshmyheliuk commented on #6614
Hi @neildavey ,

I cannot reproduce this issue. Configurable products are saving and showing without any errors.
Is this issue still actual?

[2016-11-16 15:41] neildavey commented on #6614
It has just been fixed - thanks very much

[2016-11-16 15:41] #6614 closed, assigned to nobody

[2016-11-16 15:54] razbakov commented on #7452
Fixed in #5116

[2016-11-16 15:54] #7452 closed, assigned to nobody

[2016-11-16 16:31] djpaoloc opened #7455 "cms_index_noroute.xml wrong name file"
### Preconditions

1.  Magento 2.1.2
2. CMS Module

### Steps to reproduce

vendor -> magento -> module-cms -> view -> frontend -> layout
cms_index_noroute.xml
cms_index_nocookies.xml

vendor -> magento -> module-cms -> etc -> page_type.xml
`<page_types xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_types.xsd">
    <t

[2016-11-16 16:31] sshymko commented on #5302
Suffering from the same issue.

@piotrekkaminski @elenleonova @pboisvert
What release is the fix going to be included in? When is it coming out?

[2016-11-16 16:36] sma09sjb commented on #7422
Updated the ticket, can this be looked at urgently please.

[2016-11-16 16:43] oshmyheliuk commented on #6725
Hi all,

Probably you set configuration option "Sales" -> "Dashboard" -> "Use Aggregated Data"  to YES.
It improves dashboard performance but provides non-realtime data.
Otherwise, data load dynamically.

[2016-11-16 16:47] kabiridris commented on #3201
I am still having the same error. Anyone with a solution please?

Thanks.

[2016-11-16 16:47] schasiepen commented on #7441
2.1.1 CE /  CentOS 6.7 / PHP 7
See the same behavior with configurable products with 2 options: the second option is always sorted by label and not by sort order.

[2016-11-16 16:49] ghost commented on #5008
just what @3dcauldron said to do an immediate fix but then cannot run in single store mode.

[2016-11-16 16:52] oshmyheliuk commented on #6725
It's calculated for each site separately, you need to change site in storeview selector, to see  dashboard for different sites.
![screenshot_4](https://cloud.githubusercontent.com/assets/18550571/20356661/dabf14bc-ac2d-11e6-9bb4-735495a655dc.png)

[2016-11-16 17:37] obynewman commented on #2966
@arielmorry thanks a lot. I saw that the blocks are saved ok now. Can you advise on how to fix a similar issue for Content Pages too?

[2016-11-16 17:39] obynewman commented on #5008
@rosandrest thanks, but that didn't work for me

[2016-11-16 17:46] vigikaran opened #7457 "Cron from browser returns 500 error"
**Preconditions**
1. Magento Installed without any issues Version 2.1.2 by downloading zip file and using web wizard
2. Access permission removed from /pub/.htaccess for cron.php
3. enable error reporting in cron.php file.

**Steps to reproduce**

1. visit the pub/cron.php  in browser

**Actual and Expected result**

Expected result:

Cron jobs need to run
Actual result:

getting the following err

[2016-11-16 21:34] jamiejackson1183 opened #7459 "Issue deleting images from admin if used on multiple products"
If you have uploaded products via a spreadsheet and 4 products have the same image used (Same name)

Then you go to any product in the admin and go to images, on the image select the basket icon to delete it.

This removes the image from the server, so any other product using the same image will break and give and error like this meaning you cant edit that product any longer in the admin.

Creatin

[2016-11-16 21:36] ntoombs19 opened #7460 "Modals cannot be closed by clicking on the overlay"
### Preconditions

1. Magento version: 2.1.1
2. Browser: Chrome
3. OS: OS X El Capitan 10.11.6

### Steps to reproduce

1. Sign in as a customer
2. Add some products to your cart
3. Go to checkout
4. Click the + New Address button ![](http://take.ms/E6S5x)
5. With the modal open, click anywhere in the dark grey background (the overlay)

### Expected result

1. The modal should close. This is the m

[2016-11-16 21:53] erikhansen commented on #5642
@dyushkin @alena-marchenko Can you post the commit(s) where MAGETWO-56932 was fixed? For live merchants experiencing this problem, it is critical to be able to patch this issue without having to wait for 2.1.3 to be released.

[2016-11-16 21:53] erikhansen commented on #6474
@joni-jones As [I just asked on #5642](https://github.com/magento/magento2/issues/5642#issuecomment-261084122), can you post the commit(s) where this was fixed? I need to patch this for a merchant and can't wait for 2.1.3 to be released.

[2016-11-16 22:02] jbpilatre commented on #7444
look my post encrypt /decrypt ccsave module (cc)  #7334
https://github.com/magento/magento2/issues/7334

[2016-11-16 22:21] erikhansen commented on #6474
@joni-jones Are you sure you have the MAGETWO ticket number correct? I hunted down the file responsible for hiding/showing the spinner for payments (`app/code/Magento/Payment/view/frontend/web/js/view/payment/iframe.js`) and then looked at the history for that file and found this commit of yours, referencing ticket number MAGETWO-56934 (two digits away from MAGETWO-56932): https://github.com/magen

[2016-11-16 22:22] erikhansen commented on #5642
@dyushkin @alena-marchenko I believe I may have found the commit. See this comment I just posted to @joni-jones: https://github.com/magento/magento2/issues/6474#issuecomment-261091365

[2016-11-16 22:26] erikhansen commented on #2916
@MomotenkoNatalia I posted a comment to you in the forums: https://community.magento.com/t5/Magento-2-Feature-Requests-and/Usability-issues-with-error-notice-success-messages/idc-p/53406#M2548

[2016-11-16 22:29] EliasKotlyar commented on #7415
Hello,

It appears that this Error is in every Magento2 Version. I was using the 2.1.1.

Greetings
Elias

[2016-11-16 22:30] lazyguru opened #7461 "Date form filter expects ResolverInterface but receives string instead"
### Preconditions
Environment and Magento version appear to be irrelevant here as I see it in both 2.0 and 2.1 branch as well as develop
1. Customer DOB attribute must be marked as "visible" (eg: Admin > Settings > Configuration > Customer > Customer Configuration > "Show Date of Birth: Require")

### Steps to reproduce
Using a guest customer (not logged in).  I am attempting to set the customer_d

[2016-11-16 22:58] dthampy commented on #7443
We already have an internal jira ticket MAGETWO-60911, which once fixed will resolve this issue.
Thanks for your report.

[2016-11-17 03:18] jhbowser opened #7462 "Abandoned Cart Report Showing Wrong Customer for Cart"
### Preconditions
1. Magento 2.0.10
2. PHP 5.5
3. MySQL 5.6.27-log

### Steps to reproduce
1. In the admin back-end, navigate to the Reports > Abandoned Carts
2. Click on a row in the report

### Expected result
1. Should go to the selected customer's profile

### Actual result
1. May or may not be taken to the correct customer.

### My Analysis
1. \vendor\magento\module-reports\Block\Adminhtml\Sh

[2016-11-17 03:25] mehh commented on #6929
Any update here?  I'm having the same issue.

[2016-11-17 05:47] rishabhrkrai commented on #5008
I have the same issue. Earlier CMS pages are working fine but now if i create a new CMS page then it gives 404.
I check in the database. New page is in **cms_page** table but link with **cms_page_store**. How to solve this?

I made an alternative solution for this
- Disable single store mode (admin > stores > configuration > general > general > single-store mode) and select "No".
- [ ] Assign a st

[2016-11-17 05:53] wildekin commented on #5008
4 months later, this is still open.
~ I solved this and many other bugs by switching back to magento 1

[2016-11-17 07:07] arielmorry commented on #2966
@obynewman I'm sorry, but I haven't experienced it on content pages, so I'll have to try and re-create that state locally. can you provide installation/env details: active languages, php version, steps to reproduce the error, etc.

[2016-11-17 08:09] maqlec opened #7465 "Catalog Rule price isn't included in Catalog price Index"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Set Catalog Rule discount on product in some category
2. Set Special Price on other product in category from point 1
3. Run indexers
4. Try to sort products category list by price.

### Expected result

1. Category list should be sorted by final price including catalog rule price

### Actual result

1. Product with catalog rule price

[2016-11-17 08:20] YevSent commented on #6474
@erikhansen, the ticket is correct. MAGETWO-56934 contains fix for the develop version, MAGETWO-56932 - for 2.1.3.

[2016-11-17 08:37] veloraven commented on #7401
@kanduvisla thank you for your report.
We already have internal ticket for this issue: MAGETWO-60599.
I have added a link to this issue to it.

[2016-11-17 09:01] shrff commented on #6725
Thanks for looking into this @oshmyheliuk !

I understand that we can change the site to show different values but by default it shows _All Store Views_ and our client, understandably, has an expectation that it should show global sales data.

Is it supposed to show a global total? If not, is there anyway of disable the All View?

[2016-11-17 09:19] cscd98 opened #7466 "Apple Pay and Android Pay support"
I am developing a bespoke custom gateway and it has different methods if you are checking out using apple pay/android pay. Is there plans for a framework to be added to m2 to determine that you are using apple/android pay?

[2016-11-17 09:22] veloraven commented on #7420
@craigcarnell thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think some of your questions are caused by issues, please create separate GitHub report for each issue according to the

[2016-11-17 09:30] ghost commented on #7413
ok so weirdly points 2 and 3 (no title appearing in sales -> orders -> view order and checking out both downloadable and simple products from same grouped product) are actually to do with issue #4921. I was getting the

"checkout rules.js:58 Uncaught TypeError: Cannot read property 'length' of undefined(…)"

So I changed the number of lines for customer address to 1 (instead of 2) and that seems t

[2016-11-17 09:31] basselalaraaj commented on #6671
i was getting the same error, i fixed mine by removing duplicated data from the product url-keys.
What i saw was, that i had 2 or more products with the same url-key, under the same categorie.

[2016-11-17 09:32] aqua456 commented on #7444
#7334 seems to be for credit card number not for credit card type(Visa, American express etc.)

[2016-11-17 09:39] sevos1984 commented on #7437
Thanks for reporting, internal ticket created MAGETWO-61092

[2016-11-17 09:56] obynewman commented on #5008
I can't even assign a store view to CMS because is throwing that 404 error on Save. It might be related to a similar issue I had, when saving content Blocks and was fixed by following these steps: https://github.com/magento/magento2/issues/2966#issuecomment-237814927.

[2016-11-17 10:01] ghost commented on #5275
hello, im already using CentOS 6.8 with Magento 2.1....but im still getting the ssl connect error. please help
![magento2](https://cloud.githubusercontent.com/assets/12715229/20384732/746f974e-ace7-11e6-8c8b-0387e2f5cd9d.PNG)

[2016-11-17 10:08] slopukhov commented on #7248
@JerVoo thank you for your feedback,
Please, recheck it on the latest 2.1 version of Magento.
And if this bug is still there, please, describe how you add a column with the categories, since I do not have it in the list.

![result](https://cloud.githubusercontent.com/assets/8982177/20384990/5dd98d7e-acbe-11e6-89ec-e2b4ef6bf543.png)

[2016-11-17 10:16] ghost opened #7467 "File Put Contents file with empty content"
### Preconditions:
- Magento ver. 2.1.1 installed

### Steps to reproduce
1. Call $driverFile->filePutContents('file.txt', '')
where driverFile is an instance of \Magento\Framework\Filesystem\Driver\File

### Expected result
1. file.txt contains is created

### Actual result
1. getting error The specified "file.text" file could not be written

### Solution
In code:
[code]

Check should be
` if ($r

[2016-11-17 10:20] veloraven commented on #7430
@nickmarx12345678 thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result - so that it is easy to see at once what the problem is.

[2016-11-17 10:45] koenner01 opened #7468 "CatalogImportExport doesn't support empty row values"
If you have an attribute that has a value and you import an empty string because the value needs to be empty, the attribute will not be overwritten with the empty string.

### Preconditions
1. MG2.1.2
2. PHP7.0

### Steps to reproduce
1. Enter a value for an attribute for a product through the backend of Magento
(I'm using description as my example)
2. Create an import csv and leave the column for

[2016-11-17 10:56] sevos1984 commented on #7435
Cannot reproduce. Could you try with FPC enabled?

[2016-11-17 10:56] romainruaud opened #7469 "Category tree is slow with many category/product associations."
### Preconditions

1. Magento 2.1.1
2. PHP 7 - Percona SQL Server on a stock production server.

### Steps to reproduce

1. Have 3.000.000 of product into your catalog
2. Have 6000 categories from level 1 to 8
3. Products are dispatched into the categories.
4. All categories are set to have is_anchor = 1.
5. Some top level categories are having more than 1.000.000 products associated

### Expected

[2016-11-17 11:15] mithname20 commented on #5101
Hi in my site when i load new order email template it shows error and Error message appears: The template did not load. Please review the log for details

I updated the line "var order.getShippingDescription()":"Shipping Description",    with a comma "," at the end of line  as suggested in some support pages to resolve the template load issue. Now i can load new order email template but the measur

[2016-11-17 11:16] romainruaud commented on #7459
You can check this one too : https://github.com/magento/magento2/issues/7389

But it seems to be a "it's not a bug, it's a feature" ...

[2016-11-17 11:24] tkacheva commented on #6817
Issue is fixed https://github.com/magento/magento2/commit/63ff3aee27a7d5830221aa6a2bf92f4bd88c56ef

[2016-11-17 11:24] tkacheva commented on #3148
Issues fixed https://github.com/magento/magento2/commit/63ff3aee27a7d5830221aa6a2bf92f4bd88c56ef

[2016-11-17 11:24] #3148 closed, assigned to nobody

[2016-11-17 11:26] mithname20 opened #7470 "Magento 2.1.0.0 new order email template preview and save 404 not found issue"
Hi in my site when i load new order email template it shows error and Error message appears: The template did not load. Please review the log for details

I updated the line "var order.getShippingDescription()":"Shipping Description", with a comma "," at the end as suggested in some support pages to resolve the template load issue. Now i can load new order email template but the measure problem is

[2016-11-17 11:30] #6195 closed, assigned to tkacheva

[2016-11-17 11:30] oshmyheliuk commented on #6725
@shrff,
I have just tested it, by default  sales are calculated globally, if you do not select any store or website.
But orders in some statuses, like "new" or "pending_payment" not calculated in total.
Please specify, do you use Aggregated Data for Dashboard?

[2016-11-17 11:37] NadiyaS commented on #5101
Hi @mithname20,
if you encountered a new problem please, [create additional issue](https://github.com/magento/magento2/issues/new) according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
Thanks

[2016-11-17 11:51] veloraven commented on #7434
@Nehace40 thank you for your report.
We already have internal ticket for this issue - MAGETWO-57044  (for ver. 2.1)
It should be published in ver. 2.1.3 with commit dbfa7b8f7d7107ab178d3f6c6af773777197cadf

[2016-11-17 11:51] tkacheva commented on #7379
@atihomirov I appreciate the actual result screenshot as well. The rest is clear.

[2016-11-17 11:57] slopukhov commented on #7224
@thdoan thank you for your feedback,
Please, recheck it on the latest 2.1 version of Magento.
Since we have internal issue MAGETWO-56062 (Recently Viewed Products block does not appear when FPC is enabled) to check this case, please, disable FPC (System - Cache Management - Page Cache - Disabled)

[2016-11-17 11:59] veloraven commented on #7449
@craigcarnell  thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-17 12:11] koenner01 commented on #7468
Addendum to this;

If chosen to support the constant value, support should also be implemented in \Magento\CatalogImportExport\Model\Import\Product\Validator in the isAttributeValid function.
To allow for every type of attribute to have support for empty values, something like this should be added

[code]

[2016-11-17 12:12] obynewman commented on #2966
@arielmorry It's a similar situation.  Here's a practical scenario:
1. Create a new Page.
2. Add the following content, per example:
`<h2 style="text-align: center;">Best Sellers</h2>
{{block class="Infortis\Base\Block\Product\ProductList\Featured" template="product/list_featured_slider.phtml" category_id="3" product_count="12" breakpoints="[0, 1], [480, 2], [640, 3], [992, 4]" img_width="274" tim

[2016-11-17 12:17] veloraven commented on #7457
@vigikaran  thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-17 12:18] sam-g-roberts opened #7471 "No multi currency support in google analytics module"
There is currently no support for multi currency in the magento google analytics module. It's a 1 minute change and should really be included as default as most stores will use Google analytics and if they have multiple currencies not having multicurrency support will skew their data.

In the google analytics module block Ga.php the below needs to be changed from

[code]

to

[code]

[2016-11-17 12:18] atihomirov commented on #7379
![sgc_450_actual](https://cloud.githubusercontent.com/assets/1183236/20389110/b13d2a72-acd0-11e6-8c00-1eb10977c85b.png)
![sgc_450_shoudby](https://cloud.githubusercontent.com/assets/1183236/20389111/b140a1e8-acd0-11e6-81df-2b74de57f7ff.png)

[2016-11-17 12:20] osmansorkar commented on #7442
2nd url will be
http://example.com/customer/survey_my/test

In Magento 2 URL’s are constructed this way:
frontName   controler_folder_name   controller_class_name

Your Front Name= Customer
Your Controller Folder = Survey/my
Your Controller Class Name = test

If you user multi folder for your controller your must be use "_" between 2 controller Folder Name.

Other wise Magento 2 decide
Font name=

[2016-11-17 12:23] atihomirov commented on #7379
1 image
if not set calendar=""; - Widget shows the calendar text in the recursion (november 1, november 2 + december )
if  not set dRow=0; dow=0;  - Widget not show deсember dates because the dates have become 31 and would never again 1 of the month

[2016-11-17 12:27] veloraven commented on #7459
Closed as duplicate and not an issue.
You can submit it as improvement to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572#M96)).

[2016-11-17 12:27] #7459 closed, assigned to nobody

[2016-11-17 12:38] vigikaran commented on #7457
I'm using magento version 2.1.2 and
1. I have set up htaccess password for cron and run the cron url in the browser
 http://beta.rednool.com/pub/cron.php?group=index
1. i removed the security for cron.php and run it again.
2. enable error reporting and now you can check the error on the above link

[2016-11-17 12:39] veloraven commented on #7466
@craigcarnell thank you for you feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-11-17 12:39] #7466 closed, assigned to nobody

[2016-11-17 12:40] veloraven commented on #7467
@marcel-moldovan-vm thank you for your report.
Please, also identify which version of Magento you are running.

[2016-11-17 12:44] shrff commented on #6725
Hi @oshmyheliuk

It may help if I fill the bug report in and tell you what we've tried so far.

## Preconditions
1. Magento 2.1.2
2. Two Magento store views. One aimed at US customers (currency USD), one aimed at UK customers (currency GBP)
3. Sales in both store views.

## Steps to reproduce
1. Login to admin area
2. By default, All Store Views is shown by default. Currently shows lifetime sales

[2016-11-17 12:44] veloraven commented on #7470
@mithname20 thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue please format this report according to the [Issue reporting guidelines](https://github.com/magent

[2016-11-17 12:45] veloraven commented on #7471
@sam-g-roberts thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-17 12:46] oshmyheliuk commented on #7050
Hi @Dbl0207 ,

I visited a site that you provided above and observe that requires.js don't work properly.
This problem described here [cloudfare + requirejs](https://coderwall.com/p/pd4toq/cloudflare-require-js).

Please, try next solution:

[2016-11-17 12:47] BB-000 commented on #7198
Hey, having the same issue here too,, any workarounds?

( Using Amasty Table rates plugin )

[2016-11-17 12:48] ghost commented on #7467
@veloraven the Magento version used is 2.1.1. You can check https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Filesystem/Driver/File.php#L528 it does not contain the fix (as for the moment when the comment was added).

[2016-11-17 12:49] veloraven commented on #7442
@springimport thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-11-17 12:49] #7442 closed, assigned to nobody

[2016-11-17 12:50] veloraven commented on #4328
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-17 12:50] #4328 closed, assigned to nobody

[2016-11-17 13:03] veloraven commented on #7457
@vigikaran thank you for update.
But still please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-17 13:15] veloraven commented on #7331
@maximinimus could you then let me know if you have reported this issue to Support? Just to avoid duplicates and double work.

[2016-11-17 13:16] vigikaran commented on #7457
Issue updated as you said

[2016-11-17 13:20] SerhiyShkolyarenko commented on #2991
Reopened the ticket due to several reports of reproducing the issue.

[2016-11-17 13:22] veloraven commented on #7311
@rhodimus thank you for answer.
Could you please then let me know if you have created a report for Support? Just for avoiding duplicates and double work.

[2016-11-17 13:22] degaray commented on #2991
I have sent a pull request for this issue.

Enviado desde Yahoo Mail para Android

  El jue. 17 17e nov. 17e 2016 a las 7:20 AM, Serhiy Shkolyarenkonotifications@github.com escribió:
Reopened the ticket due to several reports of reproducing the issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-11-17 13:29] degaray commented on #2991
Find my pull request here: https://github.com/magento/magento2/pull/4532

[2016-11-17 13:39] springimport commented on #7442
@osmansorkar It works. Thank you very much!

[2016-11-17 13:41] veloraven commented on #7286
@andreaschiffo yes, please create separate GitHub report for your issue.

[2016-11-17 13:42] osmansorkar commented on #7442
@springimport Welcome :)

[2016-11-17 13:43] SerhiyShkolyarenko commented on #2991
@degaray @manuelDistefano @RUjmiak could you please confirm the issue is reproducible on 2.0.10?
Have anybody reproduced it on 2.1.2?
Magento 2.0.10 and 2.1.2 were security releases, so the issue could be fixed there.

[2016-11-17 13:44] veloraven commented on #7286
@jurpro just for future, you can make asterisk sign visible by adding "\" before it: "*".

[2016-11-17 13:47] veloraven commented on #7276
@kirashet666
Please, format this issue according to the Issue reporting guidelines: with steps to reproduce, actual result and expected result, so that it is easy to see at once what is the problem is. And other users can find this issue if they have the same one.

[2016-11-17 13:53] veloraven commented on #7249
@kanduvisla thank you for your report.
Your video is really cool and visual. But could you please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result: it is much easier to understand the problem itself, how to reproduce it, and to search for duplicates, when

[2016-11-17 13:59] veloraven commented on #7212
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-17 13:59] #7212 closed, assigned to nobody

[2016-11-17 14:01] veloraven commented on #7205
@tinxit
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
As formatted description allows to understand what the problem is and how to reproduce it more easier. Also it allows to find the issue when searching for duplicates.

[2016-11-17 14:03] veloraven commented on #7187
@nagrgk
Please, format this issue according to the Issue reporting guidelines: with steps to reproduce, actual result and expected result.
As formatted description allows to understand what the problem is and how to reproduce it more easier. Also it allows to find the issue when searching for duplicates.

[2016-11-17 14:08] veloraven commented on #7246
@shaw-tech
You are right: this functionality was not implemented.
You can submit an improvement to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572#M96)).
I'm closing this report as it

[2016-11-17 14:08] #7246 closed, assigned to nobody

[2016-11-17 14:11] veloraven commented on #7126
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
@MaksimPaliy , @bizzi , if this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): wit

[2016-11-17 14:11] #7126 closed, assigned to nobody

[2016-11-17 14:13] wsagen commented on #7198
It's likely this issue is related to the shipping carrier validation for tablerates.

You'll see from excerpt of shipping method validation below that the region, postcode and country are required fields for this carrier. As such shipping rates will only update when all three fields are present.
In this case, the validation is too stringent for your shipping rate table - which requires only countr

[2016-11-17 14:21] veloraven commented on #5689
I'm closing this issue as it is not a technical issue.
If you think it to be an issue please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result and specify Magento version.
Please refer questions to the [Community Forums](http

[2016-11-17 14:21] #5689 closed, assigned to nobody

[2016-11-17 14:25] #7276 closed, assigned to nobody

[2016-11-17 14:27] wsagen commented on #5608
I believe the issue is because the full address details for guests are not being passed in shipping method requests - so the table rate shipping requests will not return accurate rates.
Related to issue
https://github.com/magento/magento2/issues/5812

[2016-11-17 14:31] airtightdesign commented on #3759
@Thommas Could you please share your quickfix? This problem is preventing our site from launching. Thank you very much!

[2016-11-17 14:35] rhodimus commented on #7311
@veloraven I haven't had a chance to create a support report for it. I won't create one and leave this here?

[2016-11-17 14:35] sam-g-roberts commented on #7471
Magento version is github develop version

You haven't included the google analytics multi currency paramater when sending off a conversion to google analytics.

In this file https://github.com/magento/magento2/blob/develop/app/code/Magento/GoogleAnalytics/Block/Ga.php

lines 130-143 need to be replaced with the below code

[code]

This means when orders in different currencies go through to googl

[2016-11-17 14:37] erikhansen commented on #6474
@joni-jones Ok. Can you provide a link to the commit for MAGETWO-56932?

[2016-11-17 14:44] veloraven commented on #6143
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-17 14:44] #6143 closed, assigned to nobody

[2016-11-17 14:45] veloraven commented on #6846
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-17 14:45] #6846 closed, assigned to nobody

[2016-11-17 15:05] nickmarx12345678 commented on #7430
@veloraven what about this isn't formatted to your liking

[2016-11-17 15:32] oshmyheliuk commented on #6725
Hi @shrff ,

Unfortunately, I could not reproduce the issue as you described it on freshly installed Magento 2.1.2.
Lifestyle sales for all store view are equal to sum from US and UK store views, everything work as expected.

Maybe you install custom modules that affect dashboard logic?

[2016-11-17 15:33] jameswithers commented on #7365
2.1.1

[2016-11-17 16:12] jhbowser commented on #7462
I suspect the name and email are being saved on the quote to support guest checkout. But sometimes when data from one table (Customer) is duplicated into another table (Quote) it seems like it might be to facilitate reporting (don't have to do that extra join).  If I were developing an extension using the Quote table and saw customer name and email in the table, my assumption would be they are acc

[2016-11-17 16:26] SerhiyShkolyarenko commented on #6392
@bartek9007
I unpacked the archive to "app/code" folder, ran `./bin/magento setup:upgrade` for enabling new module, removed content of 'var' directory and opened catalog category in browser. I've got and error

[code]

and stack trace.
I found the line in code/Test/Block/view/frontend/layout/catalog_category_view.xml

[code]

'template' attributes are not allowed for 'referenceBlock' elements in l

[2016-11-17 16:29] andreaschiffo opened #7472 "TableRates shipping amount not being displayed in Order Creation from admin backend"
im using M 2.0.9, and Table Rates is correctly being displayed on frontend, but i'm finding this issue with Table Rate shipping method on admin backend:

## Preconditions

-having a multistore website
-having enabled tablerates shipping method, price vs destination, not including virtual products in price calculation, no handling fee, for all allowed countries, not showing if not applicable
-(opti

[2016-11-17 16:30] andreaschiffo commented on #7286
@veloraven opened #7472

[2016-11-17 16:41] carylewis commented on #2824
We run mag2 under centos and every page reload in developer mode takes upwards to two minutes.

But, some people here are reporting fast load times, so I have to think that it is a configuration issue.

[2016-11-17 16:46] manuelDistefano commented on #2991
@SerhiyShkolyarenko i can't try it at the moment. Bu this should be ok in 2.1.1. I upgraded to 2.1.2 some days ago and it was ok.

I dont know in 2.0.*

[2016-11-17 17:04] shaw-tech commented on #3743
Hi,

I am encountering this issue while on the multiaddress checkout - on the billing step.

Could you advise on a resolution?

[2016-11-17 18:01] pguedesbr opened #7473 "Adding"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2016-11-17 18:01] #7473 closed, assigned to nobody

[2016-11-17 18:12] YevSent commented on #6474
@erikhansen, the for 2.1.3 the same as in https://github.com/magento/magento2/commit/2d31571f1bacd11aa2ec795180abf682e0e9aede .

[2016-11-17 18:50] AlexandreKhayrullin opened #7474 "Unedited numeric inputs with values higher than 1000 block form validation in the backend"
### Preconditions
The Magento used is the "develop" branch.
PHP: PHP 7.0.10-1+deb.sury.org~xenial+1

### Steps to reproduce
1. Create a product in the backend. Add tier prices to the product, some over 1000.
2. Save the product.
3. Open the product for editing and click save.

### Expected result
1. The product should be saved without any problems.

### Actual result
1. Despite all required fields

[2016-11-17 19:07] astorm opened #7475 "Global Dependency on window.checkoutConfig"
### Preconditions

1. Install a Magento 2.1.x system.
2. PHP/MySQL version irrelevant

### Steps to reproduce

1. Run the following javascript code on Magento's home page via any means you like
2. `requirejs(['Magento_Checkout/js/model/url-builder'],function(){});

### Expected result

1. Code runs without errors

### Actual result

1. Code produces *url-builder.js:12 Uncaught TypeError: Cannot re

[2016-11-17 19:10] hostep commented on #6638
I still believe this has been incorrectly closed.
@tkacheva or @veloraven: can you please review this?
The issue is a minor one, but it is still a bug, so I think this should be reopened.

Thanks!

[2016-11-17 19:13] Jrb1x opened #7476 "Shipping Estimator does not work on Internet Explorer 11"
On the edit cart page, the shipping estimator does not work on IE 11.

### Preconditions

1. Magento 2.1, PHP7, MySQL 5.6.34

### Steps to reproduce

1. Add an item to the cart. Click edit cart from the minicart. Attempt to esimate shipping by putting in shipping information.

### Expected result

1. Shipping estimates should get returned like all other browsers.

### Actual result

1. The loading

[2016-11-17 19:58] springimport opened #7477 "Fax Field is not working"
### Steps to Reproduce Bugs
1. Go to `/customer/address/edit/` and type any numbers in the `Fax` field.
2. Go to `/admin_xxxxxx/customer/index/edit/id/xxx/.....`.

### Actual result
1. `Fax` in customer account does not save.
2. `Fax` in admin panel (customer addresses) does not show.

| Q | A |
| --- | --- |
| Magento version | 2.1.2 with sample data |
| PHP version | 7 x64 |
| Operating system |

[2016-11-17 20:50] rain2o commented on #2073
As of version 2.1.2 I am still seeing this discrepancy between the 30 character limit and the 255 character limit. I don't see where this was resolved.

[2016-11-17 21:42] MirkoHuf commented on #4509
Hello,
any news about this? I have the same problem in 2.1.2
Compare functionality is not working.

The products are in the table catalog_compare_item after pressing the "add to the compare list" button in the shop.
I get the message "You added product xyz to the comparison list.".
But the frontend told me "You have no items to compare."

How can I fix this?

[2016-11-17 21:43] spyrule commented on #7401
Is there a scheduled timeline to fix this issue, as it is preventing us from editing ANY product that requires a negative value?
If a fix is posted, before major release, can the patch be posted here?

[2016-11-17 22:01] erikhansen commented on #5302
Applying the https://github.com/magento/magento2/commit/7597a52dbf7179106b4ebba928dc04efbe6a8c78 commit as a patch (add .patch to the end of that url to get a patch file) to my environment fixed the issue for me.

[2016-11-17 22:08] paales commented on #5428
@seavenger @Dublerq The fix isn't in 2.1.2 yet, will be in 2.2 (or in 2.1.3 but don't get your hopes up).

[2016-11-17 22:52] paales commented on #7308
@HellgaM Which condition did you add? the above seems to already exist?

[2016-11-17 22:53] paales commented on #7430
@nickmarx12345678 It should be in the format from https://github.com/magento/magento2/blob/develop/ISSUE_TEMPLATE.md

[2016-11-17 23:16] nickmarx12345678 commented on #7430
@paales @veloraven

I believe I formatted it correctly the first time, however I've updated to be more verbose. Idk what else you need here. Magento version, reproduce steps, expected, actual, logs, suggested fix.

[2016-11-17 23:50] wenpingguo opened #7478 "Magento2 search criteria does not show correctly for "yes/no" attribute in advanced search result page"
### Preconditions

1.  Default Magento 2.1.2

### Steps to reproduce

1. Create a "yes/no" product attribute and enable for advanced search. e.g. "Australian Made"
2. Go to advanced search page in front end
3. input "top" for "Product Name" text box
4. click search

### Expected result

1. "Australian Made" should not be showed as it is not selected, or it need to show "Australian Made:All" instea

[2016-11-17 23:56] dmcmillin opened #7479 "2.2.0-dev cart price rule calendar doesn't work properly"
### Preconditions

1. 2.2.0-dev
2.

### Steps to reproduce

1. create a new cart price promo
2. select a from to date.
3. save promo

### Expected result

1. Dates should be whatever you picked.

### Actual result

1. dates switched to the future for both initially.

[2016-11-18 00:05] paales commented on #2951
The issue doesn't seem to be that it is untranslatable. It seem that 'Forgot Your Password' isn't in the translation package. Magento should add those to the Crowdin translations as well.

[2016-11-18 00:16] Thommas commented on #3759
Hello,

Disclaimer: this is a quickfix/dirty hack until the Magento2 team find the proper way to handle this case. Also I did this quickfix on Magento 2.0.7. It needs to be adapted for Magento 2.1.2, but I still haven't finished migrating the code.

Obviously, don't hack into vendor for these changes, use your own custom theme.
You might want to just take the interesting part of these two files.
O

[2016-11-18 00:18] paales commented on #7430
@nickmarx12345678 They are a little nitpicky about the format. Easier to just jump through the hoop ;)

[2016-11-18 01:18] luismaldonadov commented on #7450
I'm having the same problem, my problem is after a fresh install, cant seem to modify any parameters related with the database, but cache management and some other things seem to work well.

[2016-11-18 02:37] ghost opened #7480 "Im already using CentOS 6.8 with Magento 2.1....but im still getting the ssl connect error ?"
Im trying to connect Magento market place to magento2 through web setup wizard...but having ssl connect error..
![magento2](https://cloud.githubusercontent.com/assets/12715229/20416639/c8b3beda-ad72-11e6-8930-a1bb1061a0a7.PNG)

[2016-11-18 06:03] Zarina2222 commented on #7404
@RishabhRkRai I don't know why Catalog Product Listing Sort by-setting effects to Catalog search, as I said, it's interesting bug. But you can try set it to Position and check if that fix your search. Remember flush the cache.

[2016-11-18 06:16] thdoan commented on #7224
I can still reproduce this issue in Magento 2.1.2.

My FPC is disabled and I'm in developer mode, and I also execute `magento cache:clean` before reloading the page. My issue is not "Recently Viewed Products block does not appear when FPC is enabled" because I can still see simple products show up in the Recently Viewed Products block -- it is only configurable products that don't show up.

Are yo

[2016-11-18 06:21] cizgidekiadam commented on #6372
Thanks a lot folks.
 There was an extra repository, remove it, now it says 'You're already using the latest version, there's nothing for us to do.'

You may close it, thanks.

[2016-11-18 06:21] #6372 closed, assigned to nobody

[2016-11-18 06:33] bjornharvold commented on #7450
Upgraded to v2.1.2 and still see the same problem. Installed the latest version of PHP v7.0.13 as well.

[2016-11-18 06:34] bjornharvold commented on #7450
No errors in the logs either

[2016-11-18 06:37] ghost opened #7481 "Front Side add to cart button not working properly"
### Preconditions

1. when click on Add to cart button in product page
2.  when product added in cart

### Steps to reproduce

1. click on product
2.  go to product page
3.  click on add to cart button

### Expected result

1.  product added in cart basket

[2016-11-18 06:40] ghost commented on #7453
ok so i tried on my local mac and it worked?

I'm using rhel7 on the server but i'm also using an SSL for the front and backend of the site. This is the only difference?

If i create an empty sitemap.xml file then try and generate it i get this error:

1 exception(s):
Exception #0 (Magento\Framework\Exception\FileSystemException): The file "/opt/magento/pub/sitemap//sitemap.xml" cannot be deleted

[2016-11-18 06:49] afrinnusrat opened #7482 "Connecting Component Manager Magento 2.1.2 CE with Marketplace Account brings error but not visible"
### Preconditions

1. Magento 2.1.2 CE
2. Fresh Install, no other configuration were made

### Actual result
1. An error appears interrupting the sign in process but not visible.
Please see the screenshot attached below
![magento2marketplace](https://cloud.githubusercontent.com/assets/8726007/20421259/c3a880a4-ad88-11e6-91b7-d87e2a0c64d6.png)

[2016-11-18 07:05] thdoan commented on #7435
I just tried with FPC enabled and still don't see reviews in My Account. @sevos1984  can you verify that you are able to write a review, approve it in Admin, and see it in My Account?

[2016-11-18 07:30] ghost commented on #7453
argh....it was selinux. For anyone else who has this issue i did:

chcon -R -t httpd_sys_rw_content_t pub/sitemap/

[2016-11-18 07:30] #7453 closed, assigned to nobody

[2016-11-18 08:20] ttribeiro commented on #5067
I have a similar problem. I edit the price of the option and do not save the price correctly.

Before Save

<img width="1547" alt="screen shot 2016-11-18 at 2 14 14 am" src="https://cloud.githubusercontent.com/assets/1144965/20423364/731d72b4-ad35-11e6-893b-c16f9e7e96d8.png">

After Save

<img width="1556" alt="screen shot 2016-11-18 at 2 15 34 am" src="https://cloud.githubusercontent.com/assets/1

[2016-11-18 08:55] chrisincisive commented on #7413
I just checked the downloadable_link_purchased and downloadable_link_purchased_item  tables and there aren't any entries in there for the new products, hence they aren't showing up. But I'm not sure why they aren't getting inserted into these tables?

[2016-11-18 09:40] nntoan commented on #5068
4 months and 1 day for a **very** important issue, could Magento team set higher priority for this problem? Because I think all Magento merchants in the world are using configurable products...

@sevos1984

[2016-11-18 10:07] AgenturSchroeder commented on #6331
Hi There,

it doesn't work for me.
If I delete all of my custom xml construction from my custom theme catalog_product_view.xml file, than the default xml file construct the page but the video still doesn't work.

I don't have anny script errors and the youtube preview picture is shown but i can't play the video.
There is no button or something to show it and i can't see a embed code.

I think it's

[2016-11-18 10:12] bartoszkubicki commented on #6392
[Test.zip](https://github.com/magento/magento2/files/599635/Test.zip)
Of course it is my mistake, apollogies! I could have forgotten about setting template for category grid - I was doing it late at friday.

[2016-11-18 10:17] biolauri commented on #5132
I've got the same problem with Magento 2.1.2. All umlauts are getting displayed wrong as can be seen in the screenshots.

If any developer has any question, I'll do my best to help solving this issue. So I would be very happy to reopen it.

# Workaround

For those of you stumbling upon the same error: Just **utf8_decode** your variables before echoing them. For example:

[code]

[2016-11-18 10:45] AgenturSchroeder commented on #6737
Hi,

I have the same problem with following error:
Error: data.lastSyncData is undefined

[code]

I thought i write this here to help to find the problem.

[2016-11-18 10:50] paales commented on #6146
@victor-v-rad Can you please check this issue? :)

[2016-11-18 10:51] AgenturSchroeder commented on #4756
Hi There,

I can't remove this section becouse i need it for some code.
I have the same problem and the following error code:

`Error: data.lastSyncData is undefined
@http://subdomain.domain.de/setup/pub/magento/setup/component-grid.js:15:20
r/h.success/<@http://subdomain.domain.de/setup/pub/angular/angular.min.js:71:82
ze/e/l.promise.then/D@http://subdomain.domain.de/setup/pub/angular/angular.min

[2016-11-18 11:07] chrisincisive commented on #7413
i just installed a vanilla magento 2.1.2 to test. I added a downloadable product and bought it by invoice, complete the order and it appeared in the my downloadable section.

However, when i created a simple product and a downloadable product to a new grouped product and bought by invoice and completed the order, it didn't appear in my downloadable products.

So the problem is downloadable product

[2016-11-18 11:12] alena-marchenko commented on #7000
Hi @tehXor

Fix for MAGETWO-60572 tickets is merged to develop branch, closing the issue.
Thank you.

[2016-11-18 11:12] #7000 closed, assigned to alena-marchenko

[2016-11-18 11:13] jurpro opened #7483 "Magento 2.1.2 Bank Transfer cannot make a payment for Virtual Product and Downloadable Product"
Hello again.
I need to sell a virtual product and downloadable product such as pdf or other files sending to email, but on checkout it cannot make a payment.

### Preconditions
I need to sell a virtual product and downloadable product such as:
1. Virtual Product : PDF files send to email. ==Generate by third company==
2. Downloadable product : music product. ==download in Menu Customer account==

[2016-11-18 11:21] bangnguyen47 commented on #6904
@carfantasy you can try to set maximum limit timeout and execution time for web server

[2016-11-18 12:00] sam-g-roberts commented on #7472
We also had this issue and mentioned it to Enterprise support. They're supposedly aware and looking into the issue.

[2016-11-18 12:12] nigelcopley commented on #3127
Surely this is a bug, I have my locale set to en_GB yet when in production it's only generating en_US static files

[2016-11-18 12:12] nigelcopley commented on #3127
the above command from @crtsl does work

[2016-11-18 12:18] rafal-kos commented on #7153
I can confirm the issue. Example data

[code]

Image is saved but without any video content.

@bartlubbersen were you able to find some solution for that?

[2016-11-18 12:39] plauge commented on #2931
@heldchen - Sorry, Im new to Mag2. How can I use your patch. I can see it's a .diff file.
Thanks!

[2016-11-18 12:41] heldchen commented on #2931
you apply the diff file with a patch tool to your codebase...

[2016-11-18 12:44] tkacheva commented on #7196
Internal  issue MAGETWO-61147

[2016-11-18 13:32] MLUKSP commented on #6413
Hi,
I'm having this exact same issue, doing anything with a product, it can take anywhere from 40 seconds to over 80 seconds, and looks to be due to lots of JS being called..  has anyone had any luck with resolving this?
I am still on 2.1 - has a recent upgrade resolved it for anyone?

Thanks

[2016-11-18 13:39] docus commented on #7340
Have the same issue

[2016-11-18 13:59] nigelbolton opened #7485 "Multi-store price default values tickbox not saving"
### Preconditions

1. Magento CE 2.1.2
2. Apache 2.4, PHP 7, MySQL 5.6

### Steps to reproduce

1. Create multi-store instance of Magento
2. Change store scope
3. Use Default Value is not selected by default and the price is editabl.

### Expected result

1. Price should be greyed out until Use Default Value is deselected.

[2016-11-18 14:07] saoque commented on #6757
If you doing it via Install\upgrade script magento disable all FK constraints in DB inside $setup->startSetup() method, its really a hole in architecture, as same happens with everything that have relations, as solution i would recommend you to do $setup->endSetup() before your actions, and start it again later.

[2016-11-18 14:14] EliasKotlyar commented on #6616
We can also confirm, that we can reproduce this Bug.

[2016-11-18 14:24] BaDos commented on #6737
Hi @Irvz

Please, write version of Magento and provide your PHP error log and Magento logs.

[2016-11-18 14:49] nigelbolton commented on #5133
We are seeing the same issue, exactly as detailed by others above.

[2016-11-18 14:50] PingusPepan commented on #6413
@MLUKSP I had no time to look deeper into the issue.
There was a commit https://github.com/magento/magento2/commit/bebb2ceb000b9296f9b04ecd5424ef66cd723fbf which was supposed to fix the issue but as someone reported in the comment below it doesn't seem to work in Magento 2.1.2 although I personally haven't tested the commit.
This leads me to believe that it will work in Magento 2.2 perharps. At le

[2016-11-18 15:02] philipvandebriel commented on #6413
Yes this fix will work, i changed the files in 2.1.2

[2016-11-18 15:09] AgenturSchroeder commented on #6737
Hi @BaDos,

I'm sorry for the missing information.

Version: Magento 2.1.2 CE
Errorlogs: Thats the funny part - I don't get errors in the logs from Magento 2.
(If you mean the ".log" files from magento2.)

PHP error logs:
Well, last but not least, here are the PHP error logs.

[code]

There is enought mem space for all scripts. I don't think that this the problem is. But maybe a script running cra

[2016-11-18 15:09] BB-000 commented on #7399
+1 ,  The z-index of the popup is higher than the .modals-overlay, but the popup wrapper <aside> covers the whole screen area, making the overlay unclickable.

Increasing the z-index of the .modals-overlay makes the click-to-close work, but the popup is then put behind whatever the background colour of the .modals-overlay is . . .

[2016-11-18 15:23] MLUKSP commented on #6413
Ah fantastic - thanks guys

[2016-11-18 15:25] vivek-ted commented on #6681
I found the core file where its defined as a constant for minimal character count even admin have configuration for that.

vendor\magento\framework\Search\Adapter\Mysql\Query\Builder\Match.php (MINIMAL_CHARACTER_LENGTH)

Make sure the MySQL variable(ft_min_word_len=2) set as you want to search.

I hope this hot fix will help.

[2016-11-18 15:33] apurv-anand opened #7486 "[M2.1.1]: Bundling breaks the JS path and throws uncaught-reference error"
**[M2.1.1]: Bundling breaks the JS path and throws uncaught-reference error**

Environment:
M 2.1.1
Ubuntu
Apache2
Varnish (FPC)

Bundling / Merging / Minify for JS and CSS enabled.

Steps:
- Start with a Magento 2.1.1 server.
- Install and enable few of the modules needed for your site.
- Make sure they are working (js / css files work as expected).
- Enable bundling / merging / minify for js and

[2016-11-18 15:44] atul-nit commented on #7486
When I enabled the javascript bundling option from configuration, few jquery functions stopped working.
The jquery file was added using requirejs. In console the error message was that "function is not defined".
When I disable the js bundling option everything starts to work perfectly.

[2016-11-18 15:52] apurv-anand commented on #7486
More info:
We are on production mode and static content was deployed after making the changes.

[2016-11-18 16:01] YevSent commented on #7449
Hi, @craigcarnell.
I will try to explain how it works and why we need `authorize`, `sale`, `capture` commands.

`authorize` - processes transaction for authorization
`sale` (authorize & capture) - processes authorization and capture for transaction
`capture` - captures transaction based on already authorized transaction

For example, if you open Braintree payment gateway [DI](https://github.com/ma

[2016-11-18 16:11] KrystynaKabannyk commented on #7356
Hello @kanduvisla, thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Your issue is seems Feature Request or Improvement, and they should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/fe

[2016-11-18 16:28] YevSent commented on #7420
Hi @craigcarnell.
Some answers to your questions:
1. The `\Magento\Payment\Gateway\Request\BuilderInterface` (introduced in 2.0 with Payment Gateway) uses to implement requests builders, it's a goal to create request data.
   How to use it, you can find in [Payment Gateway Sample Module](https://github.com/magento/magento2-samples/blob/master/sample-module-payment-gateway/etc/di.xml#L63) or in exi

[2016-11-18 16:37] tkacheva commented on #6532
@astorm  Thanks for detailed report. Issue MAGETWO-61169

[2016-11-18 16:54] iluvcode commented on #7355
@veloraven  @yuklia ,

I am having similar issue. Did you find any solution for this?

[2016-11-18 17:46] Morgon commented on #3507
@piotrekkaminski - Please re-open this; it's still a pervasive problem for a large number of users (including every one of my client instances)

[2016-11-18 17:57] dreucifer opened #7487 "[Feature Request] Unified Method for Handling Custom Checkout Field Data"
As it currently stands there is no good way to handle custom checkout fields. Adding the fields is simple (and well documented), but retrieving and storing data from those fields is tricky (and completely undocumented). Most methods I have found revolve around hooking into the `shipping-information` REST target and adding columns to `quote`.

I think a universal 'update-information' REST target wo

[2016-11-18 18:21] pguedesbr opened #7488 "Adding 2 configurable products to cart with custom options causes Integrity constraint violation"
### Preconditions

1. Magento 2.1.1
2. PHP 5.6.25
3. MySQL 5.6.23

### Steps to reproduce

1.  Have a configurable product like a t-shirt with 2 attributes (size/color)
2.  Create a controller to add 2 of the same product to the cart, except each one will have a custom additional option, resulting in 2 different cart items
3.  In the loop to add these products, insert additional options to the pro

[2016-11-18 19:05] Rasmussim opened #7489 "MAGENTO 2 Undefined index: store_id /Store.php on line 82"
First of all. I'm new on this side so please bear with me.
And sorry for my bad english.

After deleting the original sides which my themplate in magento 2.0.7 was borne with. this problem came up:

_Notice: Undefined index: store_id in /var/www/magento/public_html/vendor/magento/module-store/Ui/Component/Listing/Column/Store.php on line 82_

Reindexing does not fix it. I have read something about

[2016-11-18 20:01] joebordo commented on #4159
I just Tried it in google chrome "incognito modus" and it worked.  magento 2.1.2 clean install. Hope it helps.

[2016-11-18 20:30] cscd98 commented on #7420
@joni-jones Thank you for answering. I'm making some good progress and I have finished implementing authorization, capture and sale (authorize+capture) (using the sale command workaround).

I am now in the process of adding 3dsecure. I have added a new command called authorize_3d (but I may rename it based on the below).

What this does is run this command instead of authorize if 3d secure is enab

[2016-11-18 22:14] piotrekkaminski commented on #5811
@miakusha the referenced ticket does not relate any way to this problem

[2016-11-18 23:51] sshymko commented on #1836
Experiencing the issue on the 2.1 release when an order has been paid with a credit card **stored in a vault** (Braintree in our case).

Please consider reopening the ticket.

[2016-11-19 03:41] Ctucker9233 opened #7490 "Billing Agreement Page Error"
Clicking on Billing Agreement link in customer dashboard throws an Uncaught error.
### Preconditions
Magento 2.1.2

### Steps to reproduce
1. Navigate to frontend
2. Sign in as customer
3. Go to customer dashboard
4. Click on Billing Agreements Link
### Expected result
View Billing Agreement

### Actual result
Uncaught error is thrown

Fatal error: Uncaught Error: Class 'BraintreePayPalVaultFacade

[2016-11-19 08:30] ghost commented on #7413
if anyone has a fix for this would be much appreciated as can't go live until it's working?

thanks

[2016-11-19 08:57] deepak-netwin commented on #7337
@veloraven I figured it out and solved at my end only. The issue is my custom attribute set don't have group "Bundle Items" in it. So I created it and moved product attribute "shipment_type" under it. Now, I can create bundle product in my custom attribute set. http://prntscr.com/d95zah

@veloraven Thanks for bad support :P

[2016-11-19 12:51] bharatgunani commented on #6422
Please fix this soon.

[2016-11-19 12:53] bharatgunani commented on #5762
i also have same problem . let me know if any one find solution.

[2016-11-19 14:46] YevSent commented on #7420
You can use `commandManagerPool` for using commands anywhere in your code:

[code]

[2016-11-19 17:39] fjgosselin commented on #5068
Very frustrating for users... Imagine you filter for Medium shirts but you still see 200 products and 150 of them have no medium size... This needs to be resolved fast @sevos1984

[2016-11-19 20:28] Ctucker9233 commented on #5882
@rganin Is this fix going to be released in a patch or as part of 2.1.3? I tried manually applying the fix, but it broke a lot of things.

[2016-11-19 20:39] michelgokan commented on #6426
This seems a critical problem. Please consider fixing it because we can't deploy static files in some situations :( . I'm using 2.1.2.

[2016-11-19 21:36] iproger opened #7491 "Method does not have configuration"
### Preconditions
I need to configure the select.

### Steps to reproduce
(special for @veloraven)
1. I go to my computer.
2. I open my IDE.
3. I search getRegionHtmlSelect.
4. I try to send parameters to `<select>`.

### Expected result
1. Something like `public function getRegionHtmlSelect($defValue = null, $name = 'country_id', $id = 'country', $title = 'Country')`

### Actual result
1. Method

[2016-11-19 23:04] Ctucker9233 commented on #5943
@veloraven @duhon @magento-admin @magento-team Please, is there any news about this issue? Anything I can do to help out? Just answer me please.

[2016-11-19 23:48] Naxon opened #7492 "Blank page instead of setup"
### Preconditions

1. Magento 2
2. PHP 7.0.11, Nginx

### Steps to reproduce

1. Enter setup.
2.
3.

### Expected result

Setup wizard
### Actual result

1. [Screenshot, logs]
http://www.screencast.com/t/EHe2lTii6W0
I see a blank page instead of the setup wizard.

[2016-11-20 00:55] Ctucker9233 commented on #7372
I've had this same issue as well.

[2016-11-20 05:33] minhluan259 opened #7493 "Validate HTML has many errors"
### Preconditions

1.  PHP 7.0.10
2. MySQL 5.6+

### Steps to reproduce

1. Install magento 2.1.2 with sampledata
2. Add new Grouped Product
3. Validate HTML on Home Page https://validator.w3.org/nu/
4. Validate HTML on Category Product https://validator.w3.org/nu/
5. Validate HTML on Grouped Product https://validator.w3.org/nu/
### Expected result

1. Validate HTML without error

### Actual resul

[2016-11-20 06:25] Khaleel commented on #4868
This is still not resolved.

Magento 2 Checkout JS:
- Load all payment methods despite disabled or not
- Load all countries and states despite disabled or not

This code is JSON fired inside the HTML rather than an API call - that code is around 957kb call it 1mb

When you JSON Lint fire the code it returns 2.1mb of JSON

Your developers need a kick up the ass in Ukraine.

[2016-11-20 06:50] joshdoehla commented on #3139
+1
I've had to recreate configurable products multiple times because of this issue.
(Currently running multiple instances of 2.1.2)

[2016-11-20 07:22] user3748173 opened #7494 "Can't anyone realy create a tutorial how to add dropdown and input to shipping methods?"
Sorry for posting in this forum I know the rules, but I do not know anywhere else where it would be more suitable. Because it has been so much asked in magento.stackexchange (and magento forum) and those questions have not got answers.

In magento 1.X the developers just edited the phtml file that displayed the shipping method (can be found, when searched) but in magento 2.x uses html files where

[2016-11-20 08:40] Khaleel commented on #4506
Any updates on this? Knockout and the checkout is massive https://github.com/magento/magento2/issues/4868

[2016-11-20 09:11] TGWS2016 commented on #5946
This is occurring with me too.

See the view here with the js error showing from customer-data.js when adding an item to the basket - the minicart isn't correct, but the items are there when we visit the actual checkout url.
http://prnt.sc/d9eprx

Magento 2.1.2 & luma theme.

[2016-11-20 11:25] jurpro commented on #7483
Hello @joni-jones and @alena-marchenko

Is there any progress on this?
I need fix this issue immediately.

Thanks for your help and answer

[2016-11-20 15:45] itaymesh commented on #5948
Any news?

[2016-11-20 17:36] dchaykas commented on #5213
Any update on this issue? Still getting it while installing today.

[2016-11-20 17:45] ilopez commented on #6854
Here is what I have observed. Visual Studio 2015 Professional with the Web Reference Wizard will not have a way to inject the Authorization Bearer Token. Will continue to investigate a workaround for Visual Studio.

VS 2015 Request for WSDL:

[code]

Chrome Browser REST Console Request

[code]

Edit: Looks like the best way is to use CURL/Rest Console/SOAPUI to generate the WSDL response from Mage

[2016-11-20 18:30] Nym77 opened #7495 "Inconsistent CSV file Import error:"
I am using a standard Luma installation with example and I am trying to add products in magento using an automatic generated csv file.

- If I use the file BB-ProductsWorking.csv I am able to import the products and file is parsed without errors.
![screen shot 2016-11-20 at 19 11 05](https://cloud.githubusercontent.com/assets/9418130/20465071/293a3bba-af55-11e6-92fc-e9e911ba9a7e.png)

- If I am us

[2016-11-20 19:54] southerncomputer commented on #7418
Module:Disable does not get rid of DI on those modules - only after removing the code does the DI dependencies go away! This should not be the case!

[2016-11-20 20:03] hostep commented on #5126
Since the docs are updated and dropped IE9 support in https://github.com/magento/devdocs/pull/887, this ticket can now be closed, since the selector limit is only for IE9 and lower versions... Right?

Just for completeness sake, if you do want to get around this issue, you can try to integrate the [Bless package](https://github.com/BlessCSS/bless) in your frontend workflow to work around the issue

[2016-11-21 01:44] wsagen opened #7497 "Shipping method radios become disabled when checkout page refreshed"
### Preconditions

1. Magento CE v2.1 installed
2. Tested with UPS carrier enabled using UPS XML endpoint and Flat rate enabled

### Steps to reproduce

1. Add product to the cart
2. Proceed to checkout as a guest
3. Enter valid address details
4. Wait for shipping rates to be displayed
5. Refresh page (Ctrl + R for example)

### Expected result

1. Page reloads showing shipping rates with active

[2016-11-21 01:45] magnetic5355 commented on #6422
This bug also causes product pages to return the error whenever all sub products are out of stock causing visitors from Google etc. to receive errors instead of out of stock notice.

[2016-11-21 01:45] wsagen commented on #7497
This is affecting several live clients at present. Work around is to modify the address fields which refreshes the shipping rates and radio buttons become selectable again.

[2016-11-21 04:13] abi2 opened #7498 "Grammar Mistake: You don't subscribe to our newsletter."
In Dashboard if didn't subscribe to a newsletter it says:
You don't subscribe to our newsletter.

In English grammar it should say:
You haven't subscribed to our newsletter.

Files to change:
https://github.com/magento/magento2/blob/1ade3b769a937f19682bbbe4e51b6c956147952f/app/code/Magento/Customer/view/frontend/templates/account/dashboard/info.phtml Line 176
https://github.com/magento/magento2/bl

[2016-11-21 07:49] YevSent commented on #7490
Hi @Ctucker9233, do you have customizations in your Magento code? Magento 2.1.2 doesn't have Vault implementation for Braintree PayPal. So, you code should not have any references to `BraintreePayPalVaultFacade`.

[2016-11-21 08:04] sigismund commented on #7448
After some research I came to conclusion that this issue is duplicate of issue #4387.

[2016-11-21 08:15] warnaa commented on #5773
In the version 2.1.2 this is still not fixed. In _catalogProductRepositoryV1_ call, the field _website_id_ (or rather _website_ids_) is still missing and it is not possible to tell to which websites a product is assigned to.

@veloraven could you please provide us with any information regarding the fix?

[2016-11-21 08:45] kanduvisla commented on #7356
I don't see this as a feature request, but rather as a bug. The current way of handling downloads by controllers by directly invoking an `exit()`-method breaks the lifecycle of Magento. In my opinion it's the same as having a block template echo-ing it's HTML and than immediately performing a `die()` or `exit()`.

[2016-11-21 08:58] Nym77 commented on #7495
I did some deeper investigation.
The file looks correct if you split it import less then 25 products at the time. If you try a larger amount you get the following error:
"Curly quotes used instead of straight quotes in row(s):"

[2016-11-21 09:03] jaiswal-grv commented on #5900
I am also getting the same error, I added 60000 products in my system and getting segmentation fault when reindexing using CLI any solutions...

[2016-11-21 09:25] BaDos commented on #6737
@Irvz Please, write me value of memory_limit that returned by phpinfo().

[2016-11-21 09:29] ludwig-gramberg opened #7499 "when switching to required suffix and/or prefix, can't save customers any longer"
when configuring magento to require either suffix or prefix it's no longer possible to save customers which do not have the (now missing) values yet.
the customer model and its related addresses are being validated in the old state when the customer is saved before the new address data is supposed to be saved, thus making it impossible to ever meet the validation requirement for the addresses.

##

[2016-11-21 09:39] Zarina2222 opened #7500 "Minicart not updating after sign in"
### Preconditions
1. Magento CE 2.1.0
2. Apache/2.4.18 (Ubuntu) PHP/7.0.8-0ubuntu0.16.04.3 MySQL/5.7.13-0ubuntu0.16.04.2

### Steps to reproduce
1. Sign in
2. Add products to cart (#product_A and #product_B)
3. Log out

4. Add products to cart without signing in first (#product_C and #product_D)
5. Go to Checkout using minicart's Go to Checkout-button
6. Anonymous checkout is disabled so you need

[2016-11-21 09:39] shankpunk commented on #7476
hi, look into this https://github.com/magento/magento2/issues/5358

[2016-11-21 10:04] lucscu commented on #5694
@nagno thx you very much, you help me to find the problem, now i could try yo fix it.

[2016-11-21 10:07] lucscu commented on #5068
@sevos1984 are you alive?

[2016-11-21 10:12] lucscu commented on #5948
EHILA???!?!?! no one magento contributor here?
It is very incredible how magento release these bug, they deserve a nobel.

[2016-11-21 10:18] rramiii opened #7501 "not able to override collapsible.js"
### Preconditions

1.  Magento EE 2.1.1
2. php 7.0.8

### Steps to reproduce

try any of the following scenarios:
**Scenario A:**

- created following file: namespace_module_dir/view/frontend/web/js/collapsible-mixin.js

[code]

- created requirejs-config file: namespace_module_dir/view/frontend/requirejs-config.js

[code]

**Result A:**
in browser inspector, following error:
Uncaught TypeError: t

[2016-11-21 10:19] miakusha commented on #5811
@piotrekkaminski , oh sorry, correct issue number MAGETWO-58617

[2016-11-21 10:38] tkacheva commented on #7428
Internal ticket MAGETWO-61202

[2016-11-21 11:00] AlexandreKhayrullin opened #7502 "Problem with adding to cart with the es_CL locale"
### Preconditions
The Magento used is the "develop" branch.
PHP: PHP 7.0.10-1+deb.sury.org~xenial+1

### Steps to reproduce

1. Change the frontend locale to es_CL (Chilean Spanish)
2. Add a product to cart with a quantity higher than 1

### Expected result
1. The product is added to the cart with the expected quantity.

### Actual result
1. The product is added, but the quantity is ignored.

Afte

[2016-11-21 11:02] thomas-kl1 commented on #5891
Hi, I have encountered the same issue.
I was trying to add the Robots source to my column like this:

[code]

but on the front the column is empty. It seems that the ui component can't match the values when there are comma.

[2016-11-21 11:05] tkacheva commented on #7411
Issue MAGETWO-61207

[2016-11-21 11:26] tkacheva commented on #7379
issue MAGETWO-61209

[2016-11-21 11:30] pascaladriaansen opened #7503 "Category design / theme update not inheriting correctly on product pages"
### Preconditions

1. Magento 2.1.2, PHP 7.0.6, MySQL 14.14
2. Environment: [hypernode-vagrant](https://github.com/ByteInternet/hypernode-vagrant) & production [Hypernode](https://hypernode.com/)
3. Happens in both developer and production mode

### Steps to reproduce

1. Set the theme for a specific storeview to **Magento Blank** via Content > Design > Configuration > Edit.
2. Create and install

[2016-11-21 11:33] ludwig-gramberg commented on #4961
still an issue in 2.1.2

[2016-11-21 12:13] nigelbolton commented on #7485
Issue already reported Internal TIcket (MAGETWO-54704)

[2016-11-21 12:13] #7485 closed, assigned to nobody

[2016-11-21 12:23] maderlock opened #7504 "sitemap image URLs do not match with those on product pages"
This is currently stopping product images from being correctly indexed by google, which is a serious problem for our clients.

### Preconditions

1. Mageneto 2.1.2

### Steps to reproduce

1. Create a product and add an image.
2. Generate a sitemap

### Expected result

1. img src on product page will match image:loc in sitemap

### Actual result

1. They do not match

The problem here is that goo

[2016-11-21 12:52] maderlock commented on #5727
I still believe that this is a bug. Please reopen.

[2016-11-21 12:53] sja87 commented on #5874
@kaieleshop @crantron
same problem. How do you fix the issue?

[2016-11-21 13:33] nadshez commented on #4509
Re[2]: [magento/magento2] Compare Products not working in v2.0.5 (#4509)

Hi,

The solution that I found was unbelievable. 

Enable your cache to make it work. If the cache is disabled (as it is in dev mode) the link may not work.

Hope this helps. Thank you.

-- 
Best regards,
Nadeem

Friday, November 18, 2016, 2:43:07 AM, you wrote:

Hello,
any news about this? I have the same problem in 2.1.2
C

[2016-11-21 14:21] KrystynaKabannyk commented on #5821
hello @ludwig-gramberg, thank you for this report! Your request is directed to the documentation team. Once any actions are made from their side, we will notify you.
Btw, there is the public repository where you can ask any questions about documentation https://github.com/magento/devdocs

[2016-11-21 14:30] ghost commented on #5627
Same issue here. This happens when rendering catalog_product_view:

and this happens when adding a product to cart (then it remains stuck on "Adding...")

[2016-11-21 15:24] SilvanLaroo commented on #5344
I'm also wondering which commit fixes this issue.

[2016-11-21 15:35] SerhiyShkolyarenko commented on #7387
@wsagen thank you for details!
I performed these steps on **clean** Magento 2.0.10 and the whole checkout was OK. Order was placed successfully.
Sorry, we support only native Magento code here(without any extensions).
@ankitce @wsakaren @redboxmarcins could you point the steps to reproduce this issue? Is the issue 100% reproducible for you? Magento version also matters.

[2016-11-21 16:01] tkacheva commented on #7445
Issues is fixed in develop brunch https://github.com/magento/magento2/commit/bdf2d49b5b79b1c2d2611b14f4178d6c6f6e78a4
In you face it again, please reopen ticket

[2016-11-21 16:01] #7445 closed, assigned to nobody

[2016-11-21 16:32] rdeelstra commented on #4737
Overrule in your theme and delete {{inlinecss file="css/email.css"}} in the Magento_Email/email/header.html else it includes your complete theme styles which might cause problems (as with me).

[2016-11-21 16:33] suraleb commented on #6282
Is any changes? Have same issue for 2.1.2 after data migration from prestashop

[2016-11-21 16:49] tkacheva commented on #7392
@nmallepally, @vasilii-b could you provide more detailed steps to reproduce. @vasilii-b does thew issue exist on 2.2 dev?

[2016-11-21 16:57] yaronish commented on #3564
Hi, @kakeyang , it's not clear to me why do you propose to change fields in cataloginventory_stock_item  and cataloginventory_stock_status .
These tables doesn't contain any currency related data.
Qty fields describes amount of product, not price.
Is 100 million products per stock not enough in some cases?
Thanks.

[2016-11-21 17:00] tkacheva commented on #5832
@grasdaggel  are you still have issue with overriding estimation.html

[2016-11-21 17:03] maderlock opened #7507 "No tax calculation combination to give correct discount and tax when destination tax rate differs from store rate"
### preconditions

1. Install Magento 2.1.2
2. Set up a store with origin of the US and a 0% tax rate in the US
3. Set up a tax rate of 20% for the UK
4. Use the UK and US rates for products and shipping
5. Set the tax calculation settings to apply discounts inclusive of tax and calculate tax after discounts
6. Create a blanket 10% discount

### Steps to reproduce

1. Add items to basket and check

[2016-11-21 17:04] spyrule commented on #7401
@kanduvisla - For your work around, where do you implement those code changes. I need to do this ASAP, as we need to get live with a site. I'll revert the code once an official patch has been provided.

Thanks in advance.

[2016-11-21 17:05] rickwhitehead commented on #4184
@rganin if this issue is fixed please could you link to the pull request or advise of the fix so that people don't waste their time in this repository?

[2016-11-21 17:18] tkacheva commented on #6033
Internal issue MAGETWO-61248

[2016-11-21 17:24] tjons commented on #5946
Same issue here. No errors in the console - the minicart just doesn't update.

[2016-11-21 17:27] fxdegroot commented on #7173
Same issue for me in 2.1.2. Can we get any news or diff in order to fix this issue ?

[2016-11-21 17:42] ghost commented on #2732
Just experienced this on 2.1.2 also, using static deploy as @erikkubica suggested worked.

[2016-11-21 18:13] vasilii-b commented on #7392
@tkacheva, here you go:

### Steps to reproduce
1. Make sure `Cache` is enabled
2. Go to `Content -> Pages`
3. Create new page, with _enabeld_ option
4. View page on FE (you should see page content)
5. Go back to the same page and _disable_ it and save.
6. View page on FE (it is not visible)
7. Go to that page on BE and _enable_ it and save.

### Expected result
CMS page is visible on FE.

### Act

[2016-11-21 19:19] JamesonNetworks commented on #5350
Just upgraded today and this is still an issue. The above script does seem to fix the problem. Is that going to be the official fix?

[2016-11-21 19:57] skynixukraine commented on #2892
Hi @arkadiych @cspruiell ,

This seems, it is still an issue with REST API on Magento 2.1.2
Im using the following endpoint
http://bikebiz.local:4575/index.php/rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=category_id&searchCriteria[filter_groups][0][filters][0][value]=5,112&searchCriteria[filter_groups][0][filters][0][condition_type]=in

And this looks like Magento ignores

[2016-11-21 20:20] duffner commented on #6352
What is the status of this ticket?

[2016-11-21 20:37] duffner opened #7508 "2.1.2 Admin Promotional Cart Rule Conditions issue with Category"
Apply Discount to Category for Admin orders does not function as expected.

I'm looking to products by the category they are in and have the discount code also be available for an Admin order.  This does not work as expected, the coupon does work on the Front-end as expected.   Additionally, I'm not sure if the issue is related to configurable or non-visable products but I included that as my prec

[2016-11-21 20:42] romeof1980 opened #7509 "'Undefined variable: orderId' when checking out with Braintree in Magento 2 MULTISITE"
hi guys!
we're having trouble checking out with Braintree after transforming the site in a Magento 2 Multisite.

### Preconditions
Magento ver. 2.1.0
Software version: 5.6.28-76.1 - Percona Server (GPL), Release 76.1, Revision 5759e76
Database client version: libmysql - 5.5.45-37.4

### Steps to reproduce
1. Add product to cart
2. Go to checkout (either as guest or registered)
3. Checkout with cre

[2016-11-21 21:36] duffner opened #7510 "Admin Layout XML - Update Template and change block type for specific category"
Update SubBlock of ReferenceContainer does not work as expected and it appears that  update by ReferenceBlock from Admin is a missing feature/bug

Originally I tried the below: Note: I used the blocktype of  Magento\Catalog\Block\Navigation as it contained access to the current categories children and other logic I needed.

### Preconditions
1. Magento 2.1.2
2. Custom Category Template and Block T

[2016-11-21 22:27] careys7 opened #7511 "Magento REST API Schema (Swagger) is not compatible with Search Criteria"
### Preconditions
1. Magento 2 CE or EE (all versions)

### Steps to reproduce

1. View Magento-generated Swagger Specification

### Expected result

1. Search criteria described in working format

### Actual result

1. HTTP 400 response from Magento when request sent in described format.

---

The Magento [dev docs](http://devdocs.magento.com/guides/v2.0/howdoi/webapi/search-criteria.html) correc

[2016-11-22 01:17] joshuafredrickson commented on #5686
@amansrivastava I've noticed this issue as well. Would you be able to share what you did to address the issue?

[2016-11-22 01:24] viktor-zhuromskyy opened #7512 "Log cleaning in DB"
According to M2.0 guide at [http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-log.html](url) it suggests the way to clean logs in Database, but in M2.1.x there is no such function available under `./bin/magento`.

My DB tables `report_event`, `report_viewed_product_index`, `customer_visitor` contain more than a few million entries combined. That is pure cluttering of D

[2016-11-22 02:02] wsagen commented on #7387
@SerhiyShkolyarenko  - I realise the checkout works without my test extension - because the core code statement causing the bug is not executed during this flow.
There is a bug in your code when you save a UK address without a region ($address->save()). My extension simply reproduces this behaviour. I know the extension is artificial and we are not asking you to support the extension, I am asking

[2016-11-22 02:30] wsagen commented on #7387
Further to this, if extension code exposes issues with core code, this needs to be supported. At present this code is not extensible.

[2016-11-22 03:14] birchestx commented on #7387
@SerhiyShkolyarenko We have given you some code which reliably reproduces the issue. Its now down to you to fix it. Magento is a platform, its designed to be extended, you are writing code that can't be extended. Please just fix the issue, going back/forth like this is ridiculous.

[2016-11-22 04:39] apurv-anand commented on #6287
This is much needed functionality. If we want to send out a mail to the customer on the cart items he/she has, it becomes difficult since this information is not available. Please let us know the plan for bringing this back. We are on M2.1.1

[2016-11-22 04:52] developer-vivacity commented on #7336
@SerhiyShkolyarenko Hi, Sorry for late response.
I have updated my store to Magento 2.1.2 But the issue still persists.
You can also check here: https://aws-magento.csnw.com/

Please let me know What can I do now.
Thanks.

[2016-11-22 05:26] aliantech commented on #5722
it is still not resolved in Magento ver. 2.1.2

From: Gordon Lesti
Date: 2016-11-02 21:38
To: magento/magento2
CC: aliantech; Mention
Subject: Re: [magento/magento2] After upgrade to 2.1, i can not add new product!!!! (#5722)
Hello @aliantech
Seems to be a duplicate issue #6513 and is solved in current develop branch. Problem was the updateValue function in import-handler.js.
—
You are receiving t

[2016-11-22 05:28] aliantech commented on #5722
From: Gordon Lesti
Date: 2016-11-02 21:38
To: magento/magento2
CC: aliantech; Mention
Subject: Re: [magento/magento2] After upgrade to 2.1, i can not add new product!!!! (#5722)
Hello @aliantech
Seems to be a duplicate issue #6513 and is solved in current develop branch. Problem was the updateValue function in import-handler.js.
—
You are receiving this because you were mentioned.
Reply to this em

[2016-11-22 06:36] amansrivastava commented on #5686
I'll share it shortly. Currently I don't have it with me.

[2016-11-22 06:48] hpatelgit commented on #7497
Yes i am also getting same issue when add new address at checkout and then on refresh page radios become disabled.

Even i have upgrade magento with latest version.

Thanks

[2016-11-22 07:14] LifeAsBook commented on #3625
v2.1.2 also too

[2016-11-22 07:51] maximbaibakov opened #7513 "SKU allows characters that are invalid for Varnish ESI loading"
### Preconditions

1. Magento version 2.1.2 CE / EE
2. PHP 5.6
3. MySQL 5.7

### Steps to reproduce

1. Configure Magento to use Varnish for the full page cache
2. Create a product with an apostrophe in the SKU
3. Browse to the product on the front-end

### Expected result

1. Page loads without any problems

### Actual result

1. Result will depend on your level of error reporting. (Either there

[2016-11-22 08:03] skynixukraine opened #7514 "Bug: searchCriteria conditionType "IN" does not show any results"
**Preconditions**
1. Magento CE 2.1.2 without sample data is installed.
2. Test Category is created, ID:5
3. Test Sub category is created, ID:112
4. Test Product is created, assigned to the test sub category only, ID:112

**Steps to reproduce**

1. Run request: /index.php/rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=category_id&searchCriteria[filter_groups][0][filters][0][v

[2016-11-22 08:12] edelepine opened #7515 "Error when submit customer/account/editPost form and session expired"
### Preconditions
1. Magento CE 2.1.2

### Steps to reproduce
1. Connect to any customer account.
2. Go to the Edit account information page `/customer/account/edit/`
3. Wait enough time until session expired. You can change the default cookie lifetime (3600 seconds) to reduce waiting and in order to reproduce bug fastest.
4. Submit directly form by clicking save button.

### Expected result
1. Sh

[2016-11-22 08:51] lucscu commented on #5801
+1

[2016-11-22 08:53] micheleo opened #7516 "2.0.9 Community - Parts of order mail are not translated when asynchronous mailing enabled"
When flag sales_email/general/async_sending is active some parts of the order confirmation mail are not translated, in particular  Magento\Sales\Block\Order\Totals. With synchronous mailing the problem won't appear.

### Preconditions
Name: Magento
Version: 2.0.9
Edition: Community
Application Mode: production

PHP 5.5.9-1

### Steps to reproduce
1. Add a new order with asynchronous mailing active

[2016-11-22 09:04] romantomchak commented on #4231
I still have this issue on Magento 2.1.2.

Moreover, if I have more than 10k items in db when I choose item in massaction and submit, I receive fatal error about memory limit, because Magento tries to load all 10k items from collection.
Even if I increase a memory limit, I'm still receiving errors, from Mysql server about "query length limit", because Magento adds all these ids to the collection f

[2016-11-22 09:07] HellgaM commented on #7308
@paales I have Magento 2.1.0
there is filter by "updated_at" but not by "created_at" values.

[2016-11-22 09:31] Matt-OBell opened #7517 "Array to String conversion"
Notice: Array to string conversion in /var/www/Acme/vendor/magento/framework/Phrase.php on line 69
This occured on version 2.1.2 on php 7.

[2016-11-22 09:45] Matt-OBell commented on #7517
This occurred as a result of third party module. thanks

[2016-11-22 09:49] srinivasanithin opened #7518 "GET order search API response is not incorrect"
### Preconditions
1. We are using GA released version of Magento ver CE 2.1.2 setup.
2. We created some simple items and used that items to create orders.

### Steps to reproduce

1. Create a simple item itemToBeDelete and place an order using this only this simple item.
2. Now create some more items and place order using items excluding the itemToBeDelete.
3. When you make a REST API Call GET: /V

[2016-11-22 09:52] #5126 closed, assigned to MomotenkoNatalia

[2016-11-22 09:52] BenGlassAtlas commented on #5126
Good point @hostep and thanks for the workaround - I have closed the issue.

[2016-11-22 10:02] dimple-vasoya commented on #4321
Thank you @LucScu your suggestion worked for me. Production mode was set in Magento but not in Nginx. Not it's working perfectly.

[2016-11-22 10:23] aakimov commented on #7278
Hello @nlscrw,

Thank you for your report and interest in Magento platform. We have confirmed this issue and reported internal ticket MAGETWO-61255 to resolve it.

Also I would like to provide some information that you can use as a work-around. Indeed, **ui/form/field** is hard-coded in *\Magento\Checkout\Block\Checkout\AttributeMerger::getFieldConfig* for all address attributes. But you can still

[2016-11-22 10:38] franckgarnier21 commented on #6167
I have the same problem with a configurable with 4 variations but only 1 configurable and 3 simple product. The product creation is more than 120sec !

[2016-11-22 10:50] viktym commented on #7440
Hi @shaw-tech
I’m closing this issue because it is a duplicate https://github.com/magento/magento2/issues/4263 . Please reopen this issue as needed.
Thanks for reporting.

[2016-11-22 10:50] #7440 closed, assigned to alena-marchenko

[2016-11-22 11:14] YevSent commented on #7509
Hi, @romeof1980, you need to use xdebug, set breakpoint in `PaymentInformationManagement::savePaymentInformationAndPlaceOrder#L71` or `GuestPaymentInformationManagement::savePaymentInformationAndPlaceOrder#L83` for guest customers and find original exception message.

Now, it looks strange that you get an error for a non-exists variable.

[2016-11-22 12:20] janeblonde opened #7519 "Terms and conditions missing from both admin and front end"
When following the guide linked below I notice that we are missing the Store View field. Once Saved we cannot edit the condition and it's not included on the front end.
http://docs.magento.com/m2/ee/user_guide/sales/terms-and-conditions.html

### Preconditions

1. Magento 2.1.2
2. PHP 7.0.13
3. MySqlnd 5.0.12-dev - 20150407
4. Linux dedi3458.your-server.de 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+de

[2016-11-22 12:22] Zarina2222 commented on #3209
Anything new about this?

[2016-11-22 12:30] nishantbkw commented on #5549
Did you solve it?
I am having same issue i added all colors and now trying to add all colors by choosing visual swatch from drop down i have filled all colors in the admin field but still getting error "Admin is a required field in the each row" when i save it after choosing
colors from swatch

[2016-11-22 12:35] mr-amirganishaikh opened #7520 "Design Theme is missing from admin panel"
### Preconditions

1. Magento version 2.1.2
2. php version 5.6

### Steps to reproduce

1. Open Magento admin panel and navigate to Stores > Configuration menu.
2. In the General menu select Design tab.
3. There should be Design Theme tab

### Expected result

1. Design Theme tab should be
screenshot is attached
![theme-set-2](https://cloud.githubusercontent.com/assets/8222422/20524020/2d45827a-b0

[2016-11-22 12:41] hostep commented on #7520
This has been changed between Magento 2.0 and 2.1.
Please see the documentation for the new place where you can find this in Magento 2.1:
http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-apply.html
Also please close this issue, because it is not an actual issue :)

[2016-11-22 12:42] nishantbkw commented on #5549
![color product attributes attributes stores magento admin](https://cloud.githubusercontent.com/assets/11628633/20524164/21995004-b0df-11e6-8eae-7dd44968d55e.png)

Atatched is screenshot the blank showing fields are screenshot error

[2016-11-22 12:44] redboxmarcins opened #7521 "Indexers never come back from working state to valid"
### Steps to reproduce
1. Install Magento 2.0.10
2. Simulate that indexer is working (update indexer_state status column via mysql) - you can also try to throw exception in any indexer to stop it and have it in working state
3. Run indexer from command line

### Expected result
1. there should be a message that indexer is still running and if it is stalled it should be reverted back to valid

###

[2016-11-22 14:20] alexnos88 commented on #4321
Same with M2.1.0 CE, developer mode works fine with merge_css_files = 1, but production mode slows down to 20+secs each page load

[2016-11-22 14:50] MagePsycho commented on #5959
In my case mini cart is empty (though items are available in the cart page) when switching the store. Seems it has to do something with localStorage / mage-cache-store.

[2016-11-22 14:54] axthor opened #7522 "Sorting by Price in Catalog Product grid returns incorrect number of products."
Sorting by the Price column in the admin Catalog Product grid gives an incorrect "records found" count at the top of the grid. This occurs because when sorting by price, products with status set to "disabled" are ignored.

### Preconditions
1. Magento CE 2.1.2

### Steps to reproduce
1. Open the admin dashboard.
2. In the admin menu, navigate to Products > Catalog
3. Ensure that the status of one

[2016-11-22 14:59] coresh opened #7523 "Zend_Db_Statement_Exception after refreshing browser with empty category"
### Preconditions

1. Magento EE 2.1.2 without sample data is installed.
2. Clean install. Only with Test category setup.
4. No any products exists

### Steps to reproduce

1. Created testcategory.
2. Admin -> PRODUCTS -> Categories Tab: Selected "testcategory";
3. "testcategory" Settings:
   Content -> Add CMS Block Tab: select box with selected "Catalog Events Lister"
   Display Settings -> Disp

[2016-11-22 14:59] boldbart commented on #6167
We are experiencing the exact same issue on 2.1.2. Saving configurables with simples is painfully slow (with lots of timeouts as a result), especially when you choose to add images to the simples. When will this be released?

[2016-11-22 15:03] hostep opened #7524 "Can't observer 'checkout_submit_before' event in frontend event area."
### Preconditions
1. Magento CE 2.1.2
2. PHP 7.0.12
3. A store with some products and a way to create orders on the frontend

### Steps to reproduce
1. Create a new working module
2. Add a file: `etc/frontend/events.xml` and `etc/events.xml` file
3. In both files add an observer for the event `checkout_submit_before` (make sure they have a different name) and make it call a method which outputs so

[2016-11-22 15:07] grazianodimaio opened #7525 "Magento 2.1.0 Js Translations Not Working"
All the JS error messages not translated

### Preconditions

1. Magento CE 2.1.0 in developer mode

### Steps to reproduce

1. Go to a grouped product page
2. Add product without selecting the quantity
3. Press add to cart

### Expected result

1. Js error message translated in italian

### Actual result

1. The Js is in english even if the csv has the translation in it.

This is a great problem b

[2016-11-22 15:12] SerhiyShkolyarenko commented on #7387
@wsagen you used direct model saving($address->save()) which is deprecated. Please look at `\Magento\Framework\Model\AbstractModel::save()`. For correct way of saving quote shipping assignment please refer to `\Magento\Quote\Model\Quote\ShippingAssignment\ShippingAssignmentPersister::save()`. Here I worked with latest develop branch.

[2016-11-22 15:13] hostep commented on #7524
Of course, 5 minutes after creating this issue, I find this other issue which explains why it doesn't work: https://github.com/magento/magento2/issues/1581
And after testing, it actually works like explained over there.

So this is clearly a documentation issue, because this `webapi_rest` event area is not mentioned in [the docs](http://devdocs.magento.com/guides/v2.1/extension-dev-guide/events-an

[2016-11-22 15:13] #7524 closed, assigned to nobody

[2016-11-22 15:18] alexnos88 opened #7526 "Saving card to vault breaks get order API method"
### Preconditions
1. order placed with saved card

### Steps to reproduce
1. call /rest/V1/orders/{orderNo} OR /rest/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=entity_id&searchCriteria[filter_groups][0][filters][0][value]={orderNo}

### Expected result
1. successful response with order info

### Actual result
1. error response:
[code]

As it was investigated,
\vendor\magento\mod

[2016-11-22 15:33] misha-kotov commented on #6668
The previously referenced issue has been closed as a duplicate of MAGETWO-59529 (this is the new correct issue)

[2016-11-22 15:57] SerhiyShkolyarenko commented on #6392
@bartek9007 I added `cacheable="false"` to your blocks and everything worked fine:
[code]
Generally, it is a common rule: blocks with personal data have to be not cacheable.
I'm closing the issue, but feel free to leave your comments if you need something to clarify on this topic.

[2016-11-22 15:57] #6392 closed, assigned to nobody

[2016-11-22 16:00] YevSent commented on #7526
Hi @alexnos88, this is known issue and already fixed on develop branch.

Closed as duplicate to https://github.com/magento/magento2/issues/6215.

[2016-11-22 16:00] #7526 closed, assigned to nobody

[2016-11-22 16:00] SerhiyShkolyarenko commented on #6668
@misha-kotov thanks!

[2016-11-22 16:03] pmathbliss commented on #6850
I found similar problems with this query. I commented out vendor/magento/module-configurable-product/Model/Product/Type/Configurable.php line 589
`$collection->addMediaGalleryData();`
I was then able to open up the admin and product page loads returned a to reasonable speed.

[2016-11-22 16:04] YevSent commented on #7517
@Matt-OBell , please, format this issue according to the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and an expected result.

Looks like similar to https://github.com/magento/magento2/issues/6215.

[2016-11-22 16:07] pmathbliss commented on #6167
Comment out
 `$collection->addMediaGalleryData();`
 vendor/magento/module-configurable-product/Model/Product/Type/Configurable.php
 line 589
Page loads return to normal.
This code adds every image in the entire site to every configurable product.

[2016-11-22 16:18] SerhiyShkolyarenko commented on #7351
@PieterCappelle thank you for the report.
Tags inside the messages are not allowed.
[code]
it is expected result for us.

[2016-11-22 16:18] #7351 closed, assigned to nobody

[2016-11-22 16:19] jwallb40 commented on #4096
Has anyone come up with a fix for this?  We're seeing the same thing on products that were migrated to magento 2.  After a client attempted to duplicate a pre-migration product, some loop caused it to duplicate the image thousands of times, leaving us filling our entire disk.

[2016-11-22 16:19] SerhiyShkolyarenko commented on #7351
We are closing the issue, but feel free to leave messages if we didn't cover the topic.

[2016-11-22 16:25] pmathbliss opened #7527 "Media Gallery Query is slightly off."
### Preconditions

1. Assign images to catalog_product_entity_media_gallery
2. Add records to catalog_product_entity_media_gallery_value for each value_id,entity_id that needs the image to the admin store. Assigning main images to configurable products and color images to the child simples of the configurable product.
3. Add records for each value_id, entity_id to catalog_product_entity_media_gall

[2016-11-22 16:31] olysenko commented on #7465
Hi,thank you for your report, internal ticket was created MAGETWO-61277

[2016-11-22 16:31] SerhiyShkolyarenko commented on #7438
@RishabhRkRai the situation you described doesn't look like Magento bug. Please, check what is returned by `rest/default/V1/carts/mine/estimate-shipping-methods-by-address(-id)` service. It will help you to understand which part(server or client) to debug.
I'm closing the issue, but please feel free to create a new one if you find (unmodified) Magento call which returns incorrect data.

[2016-11-22 16:31] #7438 closed, assigned to nobody

[2016-11-22 16:38] Tjitse-E commented on #7373
@kanduvisla I can confirm that this is probably a LitExtension shop migration issue. I've got the same module installed on one of my Magento store's.

 I've tried to reproduce this issue on a unmodified Magento 2.1.2 store with sample data and everything worked like expected.

[2016-11-22 16:44] bartoszkubicki commented on #6392
Yes, that is true - they work if I match them as not 'cacheable'. So I understand it's like this by design. The problem in such a situation is  that the whole page is not cacheable. Is there any way to omit that? Shouldn't be this designed other way - to allow not cache part of page? Or is it hard/impossible to achieve?

[2016-11-22 16:44] SerhiyShkolyarenko commented on #7336
@developer-vivacity I clicked that link and saw customized store there. Please confirm if this issue is reproducible for you on the clean magento installation without any custom modules and themes.

[2016-11-22 17:01] luismaldonadov commented on #7450
For me it was a matter of file and directory permissions. Hope that this could help.

[2016-11-22 17:03] giacmir opened #7528 "Can't delete/save products from CLI"
From a CLI command, when a product is saved/deleted so that the url_rewrites are updated the deletion query deadlocks.

### Preconditions

1. Magento 2.1.2
2. PHP 7
3. Mysql 5.6

### Steps to reproduce

1. Create a command that deletes a product
2. Launch it
3. Wait until query timeouts.

### Expected result

1. The product is deleted

### Actual result

1. Command fails after timeout

[2016-11-22 17:35] janeblonde commented on #7037
I've the same issue, attached is the error
[non us date error](https://github.com/magento/magento2/files/607100/magento.date.report.error.txt)
There is no issue if I use a date like 11/11/2015 to 11/11/2016

[2016-11-22 17:57] Ctucker9233 commented on #7408
@veloraven Has anyone been able to reproduce this yet? If you need any more information from me to replicate it, please let me know.

[2016-11-22 17:59] azeemism commented on #3993
@stanislav-zgr Thanks for posting this issue. I was really struggling trying to sort categories that just didn't transfer over to the website category menu. I am using 2.1.2 CE. @duhon @vkorotun hopefully some is assigned this issue.
Thanks.

[2016-11-22 18:01] Jimgitsit commented on #4756
Modifying "repositories" in composer.json fixed this issue for me (worked around it anyway).

Before:
[code]

After:
[code]

[2016-11-22 18:03] Ctucker9233 commented on #7490
@alena-marchenko @joni-jones You are correct. I don't know how it ended up in my code, but I have been patching my code base with merged commits for other issues I have had. This bit of code must have been in one of those. I have since reverted those changes and it seems the problem is resolved. I will close this for now and if the problem reappears, I will re-open.

[2016-11-22 18:03] #7490 closed, assigned to alena-marchenko

[2016-11-22 18:07] blizzardengle commented on #6995
**This is still an issue please re-open:** The dashboard on Magento 2.0+ chooses to display **Guest** in place of the customers actual name on the **Last Orders** grid when the customer checkouts without being logged-in.

### Preconditions
1. Using Magento 2.0+ (I am using 2.1.2)

### Steps to reproduce
1. Using Magento 2.0+ (I am using 2.1.2) login to a store that has had customers check out as g

[2016-11-22 18:08] cuiyang000 commented on #7362
@valenciaisaza wish I could find this issue earlier... After more than 7h digging, I came out with the same solution as you.

The issue for me is that even if all the sub-products' special price expired or haven't started yet, the main product still shown as having special price, and if you choose the option in the product detail page, the special price would change to regular one. So put it simpl

[2016-11-22 18:09] Ctucker9233 commented on #7512
@devdesco-ceo This is a badly needed function for sure, not just for DB, but other logs as well. @magento-team I hope this is in the works.

[2016-11-22 18:09] blizzardengle opened #7529 "Dashboard grid Last Orders shows guests name instead of actual customer name"
The dashboard on Magento 2.0+ chooses to display **Guest** in place of the customers actual name on the **Last Orders** grid when the customer checkouts without being logged-in.

### Preconditions
1. Using Magento 2.0+ (I am using 2.1.2)

### Steps to reproduce
1. Using Magento 2.0+ (I am using 2.1.2) login to a store that has had customers check out as guests.
2. Look at the **Last Orders** grid

[2016-11-22 18:12] azrob68 commented on #7178
I tried your solution of making the index non-unique and it did work... kind of. I was able to go into an existing item, assign the categories, and save the item. Great!

Then I tried to duplicate an existing item and received an error:  "Product with SKU 'CAA936-1' is not linked to product with SKU 'CAC010-1-1'".  I was not editing the item with the SKU of CAA936-1 at all, it was CAC010-1.  Magen

[2016-11-22 18:58] danipolo commented on #7472
same situation here, just exact like this.

[2016-11-22 19:09] danipolo commented on #7286
im with the same problem, exact.

[2016-11-22 19:42] devdesco-ceo commented on #7512
You bet!

[2016-11-22 20:24] JDavidVR commented on #7525
I was facing a similar issue, can you share your .csv file

[2016-11-22 20:28] pobrassard commented on #5068
@valdislav Are you aware of this problem. I think this issue needs to be reassigned.

Thanks :)

[2016-11-22 20:52] erikhansen commented on #7302
I also experienced this issue on Magento 2.1.2. I saved a configurable product after using the "Edit Configurations" wizard to create new children products. Disabling the Content Experiments fixed the issue.

[2016-11-22 21:15] PieterCappelle commented on #7351
Pity, this means people can never use HTML tags like a, em or img in the MessageManager. This means when you throw some error message you can't add link to explanation. Sounds strange for me. Hope you can understand my case.

[2016-11-22 21:31] choukalos commented on #3564
Hi @kakeyang if you're concerned about supporting devalued currency you should be aware of a couple potential issues.

- We assume support for 32-bit systems; hence our current schema
- size of float is platform dependent, for 64bit float 14 digits of precision is fairly common; more and you're likely to not have precise #'s which would be an issue for a commerce platform
- If you're on a 64-bit s

[2016-11-22 21:58] devsiteau commented on #7340
I am also experiencing the same problem. Any updates on this?

[2016-11-22 22:04] pavelshulga commented on #7447
@veloraven
This problem was found during development of EE project but it's caused by common functionality and can be presented in CE as well.

All the preconditions and steps to reproduce added as well as short issue fix overview so I don't think this issue report needs any update (to prevent its closing in 2 weeks since reporting).

[2016-11-22 22:05] VanceBerisford opened #7530 "Customer Search by ID does not work in REST API"
I have a list of customers that I am trying to pull data for all at once. I build a search filter with the contion_type="in", field="id", and value=my list of customers. I get an error that the field id does not exist.

### Preconditions
1. Magento 2.1.2
2. REST API

### Steps to reproduce
0. Acquire token for token-based REST authorization
1. Make GET request to /rest/V1/customers/search?searchCr

[2016-11-22 23:12] mikeweis commented on #7530
Instead of field 'id' try 'entity_id'

[2016-11-23 00:33] hazmihaz commented on #5627
I found that the problem is related to cookies usage on website with domain name less than 2 dots, e.g localhost. It's explained here:
[https://alankent.me/2015/04/25/use-of-localhost-when-installing-magento-2-quick-note/](https://alankent.me/2015/04/25/use-of-localhost-when-installing-magento-2-quick-note/ )

So I followed the solution:
1. Add localhost.dev to etc/hosts,
2. Change base url to loc

[2016-11-23 00:36] sclubricants commented on #3209
I'm not sure what the answer is but I managed to get my options to show by changing from "<" to "<=" in vendor/magento/module-catalog/Model/Layer/Filter/AbstractFilter.php
at the bottom:

Version: 2.1.2

    /**
     * Checks whether the option reduces the number of results
     *
     * @param int $optionCount Count of search results with this option
     * @param int $totalSize Current search re

[2016-11-23 01:14] Ctucker9233 commented on #7503
@pascaladriaansen Ignore this if you already know this. Luma inherits from the blank theme, so that explains why you see some elements from the blank theme. Since Luma is already a "child" theme, the Magento code seems to get confused when a theme inherits from luma. Some dependencies seem to break. That's been my experience. Could you try inheriting from the blank theme directly and see if the sa

[2016-11-23 01:16] Ctucker9233 commented on #5874
@kaieleshop ditto

[2016-11-23 02:00] bjornharvold commented on #7450
Hi, can you please be more specific. I am using Magento's suggested directory and file permission scheme here: http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-11-23 02:12] bjornharvold commented on #7450
<img width="1280" alt="pages___elements___content___magento_admin___starringmay_com" src="https://cloud.githubusercontent.com/assets/641791/20549220/fcbca442-b15c-11e6-90fe-8569b9ed48af.png">

[2016-11-23 02:14] bjornharvold commented on #7450
On Firefox WebDeveloper edition I actually see some badly formatted html. I don't see anything on any other browser. Looking in the Firebug console gives me no indication that anything is wrong.

[2016-11-23 02:26] magnetic5355 commented on #4966
After spending hours trying to figure out why Magento was sending no-store I came up with this:

Search code folder for disabled cache tag

grep -rnw '/var/www/magento/app/code/' -e 'cacheable="false"'

This will output all files that have a cacheable="false". This makes it easy to identify which extension is the culprit.

[2016-11-23 02:33] luismaldonadov commented on #7450
Indeed the issue was caused by incorrect permissions of your site's files and folders, although the ownership was correct.

I have updated the permissions on my end, using the following two commands over SSH:
Code:
luism342@m78 [~/public_html]# find . -type d -exec chmod 755 {} \;
luism342@m78 [~/public_html]# find . -type f -exec chmod 644 {} \;

[2016-11-23 02:49] ghost commented on #7413
we also tested magento 2.0.1 and this bug exists in there too.

Any idea what file the problem might be in? Would it be in vendor/magento/module-downloadable/Observer/SaveDownloadableOrderItemObserver.php or similar?

[2016-11-23 03:20] kiutisuperking opened #7531 "Configurable product "%1" does not have sub-products"
i use magento 2 ver 2.1.1
I find solution fix this bug from https://github.com/magento/magento2/pull/7030. But it only work if the first child product of configurable is outstock and other childrent of configurable are instock. If the child simple product is listed as the first order, the other child products are out of stock, this error still happens.

[2016-11-23 03:24] mitabs commented on #7392
Hello, I was experiencing some very similar issues and will share my two cents.

Magento CE 2.1.2, PHP 7, MySQL 5.6, CentOS 7
Started new at CE 2.0, recently upgraded a few times to 2.1.2.
Third party modules disabled.

I created a new page via the backend, and it would not show up on the frontend.  404s every time - even after server reboot, static compilation, upgrade to latest available depende

[2016-11-23 03:31] worldpac opened #7532 "Sorting in a search does not work if sorting by the catalog default sort"
We've changed our default product listing sort from Position to Name. When a user does a product search, and you change the sort from Relevance to Name, it just reloads the page. Choosing any other sort option works fine.

We are running Magento 2.0.6, on PHP-FPM 5.5.9, MariaDB 15.1, and Nginx 1.4.6.

### Steps to reproduce
#### Admin
1. Change the default sort to Name:
   Stores->Configuration->C

[2016-11-23 03:32] bjornharvold commented on #7450
That did not work for me. It actually broke the install and prevented me from accessing the site. My user and group is magento:www-data for all files and directories. Maybe this differs on your system

[2016-11-23 03:33] worldpac commented on #7532
I've examined the same file in the 2.0.10 version (current as of this comment), and the files are identical, so I'm assuming an upgrade isn't going to fix my problem.

[2016-11-23 04:08] worldpac commented on #7532
This gets the job done*. It allows the sort parameter to be deleted if you are not on a search page (i.e. if you're on a category page). I'd love to hear better suggestions.

in `app/code/Magento/Catalog/view/frontend/web/js/product/list/toolbar.js`
[code]

\* classList does not work on IE9 or earlier. That's ok for us, but may not be for others.

[2016-11-23 05:45] mr-amirganishaikh commented on #7520
Thanks hostep

[2016-11-23 05:45] #7520 closed, assigned to nobody

[2016-11-23 06:02] jagdishram commented on #7441
For the solution please visit on the link: http://magento.stackexchange.com/questions/141899/configurable-product-attribute-sort-order-in-dropdown-2-12/146858#146858

OR

As I checked this issue and found that while fetching the attribute options, there is no sorting filter added in the query by default in Magento 2.1.2, So to fix this issue need to add the below code to add the ORDER By in functi

[2016-11-23 06:35] veloraven commented on #7502
@AlexandreKhayrullin thank you  for your report.
I'm closing this issue as duplicate of #6656

[2016-11-23 06:35] #7502 closed, assigned to nobody

[2016-11-23 06:42] Zarina2222 commented on #3209
@sclubricants Thank you so much, this seems to fix the problem and my missing attributes are back!

[2016-11-23 06:59] mitulispace commented on #7470
404 error: Page not found.
same issue

[2016-11-23 07:46] pascaladriaansen commented on #7503
@Ctucker9233 I'm not so sure that's what's going wrong here, since it works perfectly on category pages. We're using a theme that inherits from Luma on some sites already, and that works great site-wide. It's only problematic on the product page when a theme is applied to a product through a (scheduled) design update.

[2016-11-23 08:07] veloraven commented on #2172
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:07] #2172 closed

[2016-11-23 08:07] veloraven commented on #2684
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:07] #2684 closed, assigned to nobody

[2016-11-23 08:08] veloraven commented on #2994
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:08] #2994 closed, assigned to nobody

[2016-11-23 08:08] veloraven commented on #3002
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:08] #3002 closed, assigned to nobody

[2016-11-23 08:09] veloraven commented on #3525
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:09] #3525 closed, assigned to nobody

[2016-11-23 08:09] veloraven commented on #3547
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:09] #3547 closed, assigned to nobody

[2016-11-23 08:10] veloraven commented on #3805
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:10] #3805 closed, assigned to nobody

[2016-11-23 08:11] veloraven commented on #4357
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:11] #4357 closed, assigned to maksek

[2016-11-23 08:14] vasilii-b commented on #7525
Confirm this one on **M2.2.0-dev** too

[2016-11-23 08:18] veloraven commented on #7204
@tinxit please follow the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
It is much easier to understand what the problem is and how to reproduce it when the description is well structured and contains sections with steps, actual result and expected result.
Additionally it increases chances that other users with the same problem will find your is

[2016-11-23 08:21] Jaap-Jan commented on #7375
Posted as idea: https://community.magento.com/t5/Magento-2-Feature-Requests-and/Varnish-cache-flushing-via-admin-interface/idi-p/53826

[2016-11-23 08:21] #7375 closed, assigned to nobody

[2016-11-23 08:23] veloraven commented on #7085
@grasdaggel no, this issue does not require any updates, I leaved it open only for case if you have any additional questions.
If you added corresponding feature request to the specified forum, I can close this issue now.

[2016-11-23 08:25] veloraven commented on #6110
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:25] #6110 closed, assigned to nobody

[2016-11-23 08:26] veloraven commented on #5964
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:26] #5964 closed, assigned to nobody

[2016-11-23 08:26] veloraven commented on #5949
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:26] #5949 closed, assigned to nobody

[2016-11-23 08:26] #5680 closed, assigned to nobody

[2016-11-23 08:27] veloraven commented on #5482
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:27] #5482 closed, assigned to nobody

[2016-11-23 08:27] veloraven commented on #5329
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:27] #5329 closed, assigned to nobody

[2016-11-23 08:28] veloraven commented on #5217
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:28] #5217 closed, assigned to nobody

[2016-11-23 08:28] veloraven commented on #5176
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:28] #5176 closed, assigned to nobody

[2016-11-23 08:29] veloraven commented on #4807
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:29] #4807 closed, assigned to mbrinton01

[2016-11-23 08:30] veloraven commented on #4415
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:30] #4415 closed, assigned to nobody

[2016-11-23 08:33] alexnos88 commented on #3724
the same situation in \magento\module-checkout\view\frontend\layout\checkout_cart_item_renderers.xml
`<block class="Magento\Checkout\Block\Cart\Item\Renderer" as="simple" template="cart/item/default.phtml">` has no name and can't be overriden.

[2016-11-23 08:33] veloraven commented on #7447
@doktorshu could you please let me know if you have reported this issue to Support? Just to avoid duplicates and double work.

[2016-11-23 08:41] veloraven commented on #7282
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 08:41] #7282 closed, assigned to nobody

[2016-11-23 09:09] mitulispace opened #7533 "404 error: Page not found. in Email Templet"
Step 1 -  Marketing => Communications => Email Templates

![cnbwmm](https://cloud.githubusercontent.com/assets/16436069/20555869/344ee4ce-b18a-11e6-87fa-31ef18c20ddd.jpg)

Step-2 Click On Save Templet Then  404 error: Page not found. Error sow
![38fhrz](https://cloud.githubusercontent.com/assets/16436069/20555913/7afda914-b18a-11e6-8116-862fe286ca48.jpg)
How to Solve ?? Please Help Me
Magento ver.

[2016-11-23 09:19] AlexandreKhayrullin commented on #6656
There is a workaround described in #7502 that we are using, but it involves editing a file in the Zend library (the file to edit might be different though between the Colombian and the Chilean Spanish locales).

[2016-11-23 09:22] surfer190 opened #7534 "Magnify.js enabled always evaluates to true, can't disable it"
There is a specific line `config.magnifierOpts.enabled` in `/lib/web/magnifier/magnify.js`.
This will always evaluate to true, unless the magnier option is set like below:

[code]

As it will be a json string of `"false"

### Steps to reproduce

Add the following to `/etc/view.xml`:

[code]

### Expected result

1. The zoom should be disabled

### Actual result

1. It isn't disabled

Even if you s

[2016-11-23 09:28] PetraSwed commented on #6360
Still not working in 2.1.2. Any plans to fix this?

[2016-11-23 09:43] hocomadvies commented on #6929
I have the same problem and trying to find a solution for several days now. My client is not amused and so Am I. This needs to be solved soon. When to expect the 2.1.3 version??? With al fixes?

In my Magento2.1.2 system I get the same error when placing an order:

[code]
Nothing is placed in sales_order. Also above mentioned tables are the same for me.
These are the tables I have in my database.

[2016-11-23 09:44] ghost commented on #5627
I'm working on a server but can't use the official domain yet, so the base url is now something like http://00.00.00.00/~name. If 127.0.0.1 works better with cookies, then anything outside the canonical IP or www.website.com breaks the cookies?

[2016-11-23 10:07] veloraven commented on #3214
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 10:07] #3214 closed, assigned to nobody

[2016-11-23 10:21] LiamFielding commented on #4438
I have the same issue.

[2016-11-23 10:27] veloraven commented on #7271
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 10:27] #7271 closed, assigned to olysenko

[2016-11-23 10:27] veloraven commented on #7258
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 10:27] #7258 closed, assigned to nobody

[2016-11-23 10:29] yofisim commented on #5302
After updating the following files, the patch is still not working.

[2016-11-23 10:30] kokoc commented on #6392
@bartek9007 the general rule is to move private content in browser. When Magento renders public content (should not contain any personal data), it removes everything from session in order to prevent information leaks.

Take a look on this - http://devdocs.magento.com/guides/v2.1/config-guide/cache/cache-priv-priv.html. "Customer data sections" is preferable way to achieve your goal. If you don't w

[2016-11-23 10:38] jalogut opened #7535 "Bug product import additional images"
There is a bug on the Import/Export module when importing product additional images. The value used to explode the filename values is different during validation and import steps:

Validation Step:
[code]
Import Step:
[code]

When the Value separator configured for the import is different than "," the validation goes through but the import fails because the value separator used for the explode is

[2016-11-23 10:41] yofisim commented on #5808
Any news about this? This is a huge bug for UX.

[2016-11-23 10:46] vkorotun commented on #7318
Thank you for reporting this issue. Internal ticket: MAGETWO-61313

[2016-11-23 11:09] artificialart commented on #4911
bramklg's fix worked for me! Thanks for sharing.

[2016-11-23 11:25] olysenko commented on #7448
Hi @sigismund, thank for your report. I increase priority for  #4387 fix issue. Your report will be fixed with #4387 . So I closed this as an duplicate

[2016-11-23 11:25] #7448 closed, assigned to nobody

[2016-11-23 11:31] olysenko commented on #4387
Hi @joe980 , I increased priority for the fix. It won't be delivered in the next release 2.1.3, so it scheduled for 2.1.4. If any changes happened I  inform you

[2016-11-23 11:38] abdel1220 commented on #6929
Hello everybody,

Hope find urgent fix for this,

i have the same issue on magento 2.1.2, I tried every fix possible described in many issues, but with no success.

[2016-11-23 11:43] craigcarnell commented on #7420
@joni-jones Looks very handy. But I'm unsure of where to call the next command in the flow.

class AuthorizeStrategyCommand implements CommandInterface

This class decides on 3dsecure enrollment check or normal authorize. In the execute it calls the appropiate call (similiar to to the sale/capture workaround). Should it go after the execute?

Or should it go after the validator, the response or in

[2016-11-23 12:08] mhauri commented on #7535
Same for Magento_GroupedImportExport/Model/Import/Product/Type/Grouped.php in method saveData()

`$associatedSkusAndQtyPairs = explode(Import::DEFAULT_GLOBAL_MULTI_VALUE_SEPARATOR, $associatedSkusQty);`

[2016-11-23 12:33] viktordodev commented on #2139
This is still present in the 2.12 version of magento.
If the ALLOW GUEST TO CHECKOUT is set to NO he cannot go to CHECKOUT page without login in.

[2016-11-23 12:45] nmallepally commented on #7392
@vasilii-b @tkacheva @mitabs
Same here, it worked and pages started to appear on the front end. when i chose the option to no for enabling single store mode on. pages on backend started showing as all store views.
so i had to go back on each page and save them again , then my pages started displaying on frontend.

Magento 2.1.1
![ssm](https://cloud.githubusercontent.com/assets/19605497/20562275/a5

[2016-11-23 12:58] #3078 closed, assigned to nobody

[2016-11-23 12:58] veloraven commented on #3177
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 12:58] #3177 closed, assigned to nobody

[2016-11-23 13:00] veloraven commented on #4416
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:00] #4416 closed, assigned to ishakhsuvarov, SerhiyShkolyarenko

[2016-11-23 13:02] veloraven commented on #4687
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:02] #4687 closed, assigned to BaDos

[2016-11-23 13:03] veloraven commented on #4863
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:03] #4863 closed, assigned to tanya-soroka

[2016-11-23 13:04] veloraven commented on #4965
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:04] #4965 closed, assigned to BaDos

[2016-11-23 13:05] veloraven commented on #5202
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:05] #5202 closed, assigned to BaDos

[2016-11-23 13:07] veloraven commented on #5653
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:07] #5653 closed, assigned to BaDos

[2016-11-23 13:07] veloraven commented on #5749
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:07] #5749 closed, assigned to odubovyk

[2016-11-23 13:08] veloraven commented on #5784
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:08] #5784 closed, assigned to nobody

[2016-11-23 13:09] veloraven commented on #6027
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:09] #6027 closed, assigned to nobody

[2016-11-23 13:09] veloraven commented on #6134
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:09] #6134 closed, assigned to victor-v-rad

[2016-11-23 13:11] veloraven commented on #6185
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:11] #6185 closed, assigned to BaDos

[2016-11-23 13:11] veloraven commented on #6449
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:11] #6449 closed, assigned to dthampy

[2016-11-23 13:12] veloraven commented on #6612
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:12] #6612 closed, assigned to veloraven

[2016-11-23 13:12] veloraven commented on #6621
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:12] #6621 closed, assigned to BaDos

[2016-11-23 13:13] veloraven commented on #6641
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:13] #6641 closed, assigned to BaDos

[2016-11-23 13:14] veloraven commented on #6741
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:14] #6741 closed, assigned to rliukshyn

[2016-11-23 13:14] SerhiyShkolyarenko commented on #7186
@KevinMace (and everyone else) which payment and shipping methods are enabled for you?

[2016-11-23 13:14] veloraven commented on #6859
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:14] #6859 closed, assigned to nobody

[2016-11-23 13:17] veloraven commented on #7216
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:17] #7216 closed, assigned to SerhiyShkolyarenko

[2016-11-23 13:18] veloraven commented on #7191
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:18] #7191 closed, assigned to sevos1984

[2016-11-23 13:18] veloraven commented on #7132
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:18] #7132 closed, assigned to BaDos

[2016-11-23 13:19] veloraven commented on #7130
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:19] #7130 closed, assigned to sevos1984

[2016-11-23 13:20] SerhiyShkolyarenko commented on #7388
Reproducible on develop branch too. Created internal issue MAGETWO-60996.

[2016-11-23 13:20] veloraven commented on #7107
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:20] #7107 closed, assigned to nobody

[2016-11-23 13:20] veloraven commented on #7100
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-23 13:20] #7100 closed, assigned to SerhiyShkolyarenko

[2016-11-23 13:26] hpatelgit commented on #7383
Yes i am also getting same error with magento latest 2.1.2.

This error getting for any product type which has set 'Maximum Qty Allowed in Shopping Cart'.
Customer got this error when they try to place order with same product second time which has set 'Maximum Qty Allowed in Shopping Cart'.

This error is only for Paypal Payment Method.

Please let us know if any solution is there

Thanks

[2016-11-23 13:29] SerhiyShkolyarenko commented on #7274
MAGETWO-60602 is delivered to the develop branch. We are closing the issue.

[2016-11-23 13:29] #7274 closed, assigned to nobody

[2016-11-23 13:30] veloraven commented on #7535
@jalogut thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual and expected results.
Please also specify Magento version you are running.

[2016-11-23 13:31] veloraven commented on #7534
@surfer190 thank you for your report.
Please identify which version of Magento you are running.

[2016-11-23 13:35] SerhiyShkolyarenko commented on #2939
MAGETWO-54640 is delivered to the develop branch. We are closing the issue.
Issues for backporting are MAGETWO-61090(ver. 2.1) and  MAGETWO-61091(ver. 2.0)

[2016-11-23 13:35] surfer190 commented on #7534
Magento 2.1.2

On 23 November 2016 at 15:32, Olga Moyseyenko notifications@github.com
wrote:

[2016-11-23 13:35] veloraven commented on #7533
@mitulispace thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with exact steps to reproduce, expected result and actual result.

[2016-11-23 13:36] veloraven commented on #7531
@kiutisuperking thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with exact steps to reproduce, expected result and actual result.

[2016-11-23 13:39] veloraven commented on #7527
@pmathbliss thank you for your feedback.
Please identify which version of Magento you are running

[2016-11-23 13:41] SerhiyShkolyarenko commented on #7257
MAGETWO-60523 is delivered to the develop branch. We are closing the issue.

[2016-11-23 13:41] #7257 closed, assigned to nobody

[2016-11-23 13:41] veloraven commented on #7514
@skynixukraine thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-23 13:43] veloraven commented on #7512
@devdesco-ceo thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-23 13:46] veloraven commented on #7498
@abi2 thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-23 13:48] veloraven commented on #7495
@Nym77 thank you for your report.
Please identify which version of Magento you are running

[2016-11-23 13:50] SerhiyShkolyarenko commented on #6869
We are closing the issue because MAGETWO-56073 and MAGETWO-60110 are delivered to the develop branch. Thanks for cooperation!

[2016-11-23 13:50] #6869 closed, assigned to nobody

[2016-11-23 13:53] veloraven commented on #7491
@iproger thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result, expected result, and specify Magento version you are running.

[2016-11-23 13:54] SerhiyShkolyarenko commented on #4868
We are closing the issue because MAGETWO-60351fix is delivered to develop branch. Thank you!

[2016-11-23 13:54] #4868 closed, assigned to nobody

[2016-11-23 13:56] veloraven commented on #7489
@Rasmussim thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result, expected result. Please also specify Magento version you are running (do I understand correct that the version is 2.0.7?).

[2016-11-23 13:56] BeatDirector commented on #7525
Same issue in version 2.1.2.

I found workaround for lib/web/mage/validation.js to be translated over .csv

Original
Line: 567
`if (counter < passwordMinCharacterSets) {
                    result = false;
                    validator.passwordErrorMessage = $.mage.__(
                        "Minimum of different classes of characters in password is %1." +
                        " Classes of cha

[2016-11-23 13:58] veloraven commented on #7481
@savan13 thank you for your feedback.
Please specify Magento version you are running.
Please also specify actual result.

[2016-11-23 13:58] SerhiyShkolyarenko commented on #6997
We are closing the issue as MAGETWO-59685 fix is delivered to the develop branch. Thank you!

[2016-11-23 13:58] #6997 closed, assigned to nobody

[2016-11-23 13:59] olysenko commented on #7518
Hi, thank you for your report. Unfortunately I cannot reproduce this issue by provided steps on fresh install of Magento 2.1.2. In case you have installed extensions please disable them and try again

[2016-11-23 14:00] veloraven commented on #7480
@SaaqibBhat thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please also specify exact Magento version you are running.
Please describe your environment: OS, versions of PHP, MySQL, web-server.

[2016-11-23 14:10] veloraven commented on #7471
@sam-g-roberts thank you for update.
But I have to ask you once more to describe this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
You can leave the description and previous comment as they contain valuable information. But please add one more comment with exact

[2016-11-23 14:12] VanceBerisford commented on #7530
@mikeweis That worked, thanks.

[2016-11-23 14:12] #7530 closed, assigned to nobody

[2016-11-23 14:28] SerhiyShkolyarenko commented on #7422
@sma09sjb I spotted custom theme on your screenshots. Is this issue reproducible for you on clean magento installation without any custom modules and themes? Is it reproducible for you on develop branch?
I tried these steps on develop branch and Magento worked fine:
![shopping_cart_without_gift_options](https://cloud.githubusercontent.com/assets/15108140/20565273/914e5b5a-b199-11e6-8df4-62ba1684cd

[2016-11-23 14:38] JosephWein commented on #5931
@veloraven The issue(s) with custom options are stopping our migration to M2 in its tracks. When will they be assigned?  Thanks

[2016-11-23 15:02] grazianodimaio commented on #7525
@JDavidVR
Hi David! Here is my CSV translations file

[it_IT.csv.zip](https://github.com/magento/magento2/files/609154/it_IT.csv.zip)

@BeatDirector
Ok, thanks, but the problem is EVERYWHERE a JS error message is displayed.
In example, customer registration, grouped add to cart, even the payment error message "Unable to place order" is translated.

The translation system it's not working at all in

[2016-11-23 15:04] vlauria opened #7536 "Unable to place order with coupon code and grandtotal zero"
Hello,
I created a promotional code that apply € 50 discount on order, this promo is applied also on the shipping price.
After we have a product in the cart with the price € 10 price of shipping is 5 €.
In the cart and checkout I see grandtotal 0 but the tax is 0.9 € (this is a shipping tax).
When I click "place order" in the billing step, I have error: "the payment method requested is not availab

[2016-11-23 15:11] skynixukraine commented on #7514
Hello @veloraven
I have updated the issue, let me know if you need more information from me please

[2016-11-23 15:14] surfer190 commented on #3362
@hostep Has this been resolved? Why did you close #5897?

[2016-11-23 15:21] danbuchal commented on #7445
@tkacheva I'm not sure I see how the commit you reference fixes the issue.  Can you please explain?
The root of the issue is here:
https://github.com/magento/magento2/blob/develop/app/code/Magento/Ui/view/base/web/js/form/components/button.js#L71

The actionName is added to the array, but should be removed after target.apply is called.

[2016-11-23 15:22] hostep commented on #3362
#5897 is still open, don't worry ;)
And as far as I know it hasn't been resolved yet.

[2016-11-23 15:38] olysenko commented on #7511
Hi @careysizer , thank you for your report. Internal ticket was created DDOC-11

[2016-11-23 15:39] itaymesh commented on #5008
Ma kore em ze?

[2016-11-23 15:58] veloraven commented on #7536
@vlauria thank you for your feedback.
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. Please also specify Magento version you are running,

[2016-11-23 16:16] vlauria commented on #7536
Precondition:
1. Magento CE 2.1 without sample data is installed.
2. Payment method Zero Subtotal Checkout is set up
3. Coupon code is set up
4. Tax configuration is set up
5. Shipping method have a tax calss associated

Steps to reproduce:
1. Create a cart price rule, whit specific coupon. Coupon setting is Apply: Fixed amount discount for whole cart. Discount amount: 50€. Apply to Shipping Amoun

[2016-11-23 16:18] SerhiyShkolyarenko commented on #6571
@ytorbyk I checked it on 2.1.2 and order was placed successfully. Is it reproducible for you on 2.1.2?

[2016-11-23 16:26] surfer190 commented on #3362
It's closed https://github.com/magento/magento2/issues/5897

On 23 November 2016 at 17:22, Pieter Hoste <notifications@github.com> wrote:

[2016-11-23 16:28] SerhiyShkolyarenko commented on #7500
@Juigeli thank you for reporting the issue!
I tried v2.1.2 and disabled guest checkout. On the step 6 "Anonymous checkout is disabled so you need to Sign in using Sign in-pop-up" I click "Go to checkout" on the minicart and I am redirected to the cart page with a message "Guest checkout is disabled.".
Do you have the same situation on 2.1.2?

[2016-11-23 16:35] kanduvisla opened #7537 "Using a multiselect product attribute with a custom source model in the adminhtml doesn't render selected value."
### Preconditions
Magento 2.4-develop

### Issue Description
I've created a custom source model to use as a product attribute of the type 'multiselect'. The Source model extends `Magento\Eav\Model\Entity\Attribute\Source\AbstractSource` and it shows up just fine. Saving the entities also work: the value gets stored in the database.

However, when the product page is loaded in the adminhtml, the pr

[2016-11-23 17:21] maksymcherevko commented on #7319
Hi,

Have the same issue (versions 2.1.1 and 2.1.2). Reproduced in the same way as described by @xaiamedia

Run php bin/magento setup:upgrade

First exception:
[code]
After update column **frontend_input_renderer** by new value 'Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Image' (in table **catalog_eav_attribute**) i get the second exception:
[code]

[2016-11-23 17:29] fmatovic opened #7539 "setup:di:compile segmentation fault"
Hi im using PHP7, on Magento 2.1.1.

I have installed a couple of modules, and all was fine, until today when i tried to install module, i moved files to root of magento2 installation. Run command php bin/magento module:enable <module_name>
after that php bin/magento setup:upgrade, and when i tried php bin/magento setup:di:compile
i starts 0/7, then 1/7 and then holds, and breaks, at first it wrot

[2016-11-23 17:29] chris-pook commented on #5008
This is due to the Magento\Cms\Model\ResourceModel\Page\Relation\Store\SaveHandler implementation. It relies on the form input <select name="stores[]" /> which is not present when single-store mode is enabled.

Judging by the code in the saveHandler there is meant to be a fall back using $entity->getStoreId() where stores is not populates, but this is not set either. So whenever you save a new CMS

[2016-11-23 17:30] que-etc commented on #7445
@danbuchal I presume that @tkacheva meant this commit: https://github.com/magento/magento2/commit/55f41385237db25f301af3ed67c2f3574be40bd8 and [this change](https://github.com/magento/magento2/blame/develop/app/code/Magento/Ui/view/base/web/js/form/components/button.js#L61) specifically. In develop branch the initial `params` array is no longer being modified as the `actionName` property is added

[2016-11-23 17:42] chris-pook commented on #5008
@magento-team This is due to the Magento\Cms\Model\ResourceModel\Page\Relation\Store\SaveHandler implementation. It relies on the form <input select name="stores[]" /\>  which is not present when single-store mode is enabled.

Judging by the code in the saveHandler there is meant to be a fall back using $entity->getStoreId() where stores is not populated, but this is not set either. So whenever yo

[2016-11-23 17:54] danbuchal commented on #7445
Thanks @que-etc, that makes much more sense.  Looks good!

[2016-11-23 18:10] Tjitse-E opened #7540 "Unable to modify products with negative quantity via Magento backend"
### Preconditions
Install Magento 2.1.2 with sample data on your local machine. I'm using Vagrant with PHP7

### Steps to reproduce
1. Enable backorders
2. Set the Qty of demo product 24-MB01 to 0
3.  Place an order on the Magento frontend so the Qty changes to -1
4. Try to edit the product via the Magento backend

### Expected result
1. The product opens without an error message.

### Actual resu

[2016-11-23 18:13] Zarina2222 commented on #7500
It's look like this:
![image](https://cloud.githubusercontent.com/assets/11063464/20573509/c242630e-b1b8-11e6-83b3-d1823dc8d688.png)
![image](https://cloud.githubusercontent.com/assets/11063464/20573526/d6c85dce-b1b8-11e6-98a2-46eac4fc7cec.png)
![image](https://cloud.githubusercontent.com/assets/11063464/20573538/e4236054-b1b8-11e6-82a3-e6457dc8c29b.png)
![image](https://cloud.githubusercontent.co

[2016-11-23 18:16] hostep commented on #3362
@surfer190: please look at the green 'open' label at the top in the left corner, the red 'closed' label at the bottom right is associated with this ticket ;)

[2016-11-23 19:08] OZZlE commented on #7208
I understand but for me it doesn't make sense to have a feature in Admin which you expect to affect the frontend and then it doesn't do anything without development.

[2016-11-23 19:12] xaiamedia commented on #7319
@oshmyheliuk
I had upgraded the 2.0.6 composer file to 2.1.2. (require), ran the composer update command and then setup:upgrade via command line. After that I've cleant the cache, static files, ran setup:upgrade again to make sure. After that the issues appeared.

I did not found the solution yet, we're waiting untill the fix for our production environment. Still using 2.0.6. at this moment.

[2016-11-23 20:01] H3dz commented on #6477
Quick fix:

In:
- vendor/magento/module-paypal/view/frontend/web/template/payment/payflow-express.html
- vendor/magento/module-paypal/view/frontend/web/template/payment/paypal-express-in-context.html
- vendor/magento/module-paypal/view/frontend/web/template/payment/paypal-express.html

Replace
`<a data-bind="attr: {href: getPaymentAcceptanceMarkHref()}, click: showAcceptanceWindow"`

With
`<a data

[2016-11-23 20:22] careys7 commented on #7511
Thanks @olysenko -

I've just updated the issue to be clear that the input described in the [devdocs description](http://devdocs.magento.com/guides/v2.0/howdoi/webapi/search-criteria.html)  is correct in terms of the input that Magento expects, and it is the [Swagger schema](http://devdocs.magento.com/swagger/) produced by `Magento/Webapi/Model/Rest/Swagger/Generator.php` that is not.

[2016-11-23 20:55] JosephWein commented on #7114
It also appears that the Save and Duplicate function creates a new product that is unable to be fully edited.

In my case, I used the Save and Duplicate function to create a new product.  While the new product was edited to have a different name, the "old" name from the original item persist both in the back end and front end.

![image](https://cloud.githubusercontent.com/assets/16155531/20578374/

[2016-11-23 21:16] ludovicpages opened #7542 "POST /V1/guest-carts/{cartId}/items : No such entity with cartId"
Hi.
I'm trying to add a product to a guest cart.
First i create a cart using POST /V1/guest-carts:
Then, when trying : POST /V1/guest-carts/{cartId}/items, i've got the following error

[code]
I tried with Swagger and my own code, same error.

Any idea what's happening ?
Ludo

[2016-11-23 21:35] developer-lindner commented on #7215
@dthampy Just FYI... In version 2.1.2, media directives work (backend + frontend) for CMS pages , but not for product description and short description. Which i really don't understand... the same component should work properly everywhere and not just in one instance. I'm using this format by the way: {{media url=wysiwyg/icons/some_icon.png}}

Would be great if something crucial like this would be

[2016-11-23 21:40] Gael42 commented on #2619
Thanks a lot @Iazel for your command, it helped me a lot.

Using it i got problem to generate correct full SEO friendly URLS in different languages, ex :

http://domain.com/categories/written/in/french/french_url_key_for_product
AND
http://domain.com/categories/written/in/english/english_url_key_for_product

In case it helps, I solved this issue by setting the current store via the StoreManager be

[2016-11-23 21:44] trichter01 commented on #6950
I have updated again to Magento 2.1.2 but still resolution. Any insights as to when the solution will be provided?

[2016-11-23 21:57] ovsokolov opened #7543 "Category Top Navigation / Maximal Depth configuration not working"
Category Top Navigation / Maximal Depth configuration not working

### Preconditions

1. Magento version 2.1.2

### Steps to reproduce
1.  Magento 2.1.2 installed
2. Register custom theme as a copy of standard theme without any modifications
3. Crated 3 levels of categories. (Category 1 child of Default Root/ Category 2 child of Category 1/ Category 3 child of Category 2
Category 1
--Category 2
--

[2016-11-23 22:46] ludovicpages commented on #7542
Ok, i see 2 problems here :
First the object i need to send to POST /V1/guest-carts/{cartId}/items should be wrapped in a node "cartItem" or "cart_item".
Something like :
{ "cartItem": { "quote_id": "382ef56678c2ad30a099a68959bba3bb", "sku": "product_test", "qty": 10 } } works fine.

Second problem ; when doing a POST /V1/guest-carts, i receive a string with doublequotes, something like : "382ef56

[2016-11-23 22:48] ludovicpages commented on #1778
@RUjmiak @mackelito, you might have a look here : #7542

[2016-11-23 22:51] sheakspeer opened #7544 "SSL + VARNISH = Admin loop"
Hi,

I am trying since weeks to proxy pass SSL termination to varnish to allow Https on magento 2.1.2 without success.
My config is, nginx on port 8080, Varnish on port 80 and 6086,PROXY, Hitch on port 443 and SSL termination to varnish --> 6086,PROXY. PHP 7fpm

When enabling Https for both Backend Frontend an infinite loop occurs.
If I just eanable 443 in nginx, it works fine...

Have you planed

[2016-11-23 23:16] jmtakahashi commented on #6955
@kumarancontus can you explain how I can implement this code?  I understand it's PHP, so I'll need to execute in the browser or shell in command line, but I'm new to this and don't know where to place the code itself.  Sorry.

What file should it be place in?
Where should I place this in my /store directory?

[2016-11-24 00:10] sshymko commented on #5835
Experiencing the same issue.

Ideally, only URLs that belong to the store (start with the store's BaseURL) need to be processed.
A quick workaround in `\Magento\Framework\RequireJs\Config::getMinResolverCode()`:
[code]

[2016-11-24 00:13] iproger commented on #7491
@veloraven I understand you don't understand the subject. It does not need explanation.

[2016-11-24 01:14] IgorVitol commented on #5213
Hi! Tried to install Magento 2.1.2 EE and had the same issue.
Spent few hours on debugging this - by some reason all "sequence_" tables was created with "MyISAM" engine - http://prntscr.com/db1ret

Workaround for now:
1. Wait until error occurs. Do not close install window.
2. Go and change engine to InnoDB for all "sequence_" tables.
3. Empty/truncate (or just delete all records) from theese tabl

[2016-11-24 01:16] dchaykas commented on #5213
Interesting, I did the workaround of turning foreign key check off and then on again. They should really fix the issue.

[2016-11-24 01:18] navarr commented on #5213
We've done the foreign key check but down the road had foreign key issues.

That workaround should not be used

[2016-11-24 02:25] JstrzAtW2M commented on #5900
Same issue with 40,000 products.

[2016-11-24 03:44] ddeppner commented on #6475
FYI, this bug is currently blocking our ability to launch our new M2 site.  Any time estimate or update on a solution?

[2016-11-24 04:27] ghost commented on #7480
Thanks hearing from you. here are the details. this issue still exists
**Title**
Unable to sign in to my magento market place account from Web Setup Wizard.

**Preconditions**
1. installed magento 2.1.2, via web installer without data
2. created market place account with my keys, following this link (http://devdocs.magento.com/guides/v2.0/install-gde/prereq/connect-auth.html)

**Steps to reproduce

[2016-11-24 05:36] kumarancontus commented on #6955
@jmtakahashi please note that I have used the above mentioned code inside our custom module for deleting the images from server, so you need to use this code inside your module image delete operation function.

[2016-11-24 06:39] jmtakahashi commented on #6955
@kumarancontus ok, this seems to be beyond my scope of magento knowledge.  I need to create a custom image delete module in my magento/app/code/[my_name]/[my_module_name] folder?

Then I place the code into a php file?

[2016-11-24 06:50] mitulispace commented on #7533
issue solved  Hosting Issue

[2016-11-24 06:50] #7533 closed, assigned to nobody

[2016-11-24 07:44] Tristan-N commented on #2619
@Gael42 Thank you for this update. This sounds a great way to get full and clear URL's using regenurl (which works fine) in combination with the StoreManager.

Can you give me a bit of clarification about the steps you took and how you combined StoreManager with RegenUrl? If possible a little step by step or a summary of the steps you took?

I'm not familiar with StoreManager but my colleagues are

[2016-11-24 08:00] kanduvisla commented on #7169
Had the same problem today. Very strange.

The site seemed to be unable to load the database. Or at least, parts of it. `bin/magento cache:flush` didn't solve it. But here's how I fixed it:

- I edited `env.php`.
- I added a linebreak at the end (just pressed enter).
- Save it.
- Flushed the cache.
- It works.

[2016-11-24 08:00] quienti commented on #7540
Duplicate https://github.com/magento/magento2/issues/7197

[2016-11-24 08:13] YevSent commented on #6950
Hi, @trichter01, this issue will be fixed according to priority.

[2016-11-24 08:38] fmatovic commented on #7539
Here is a line from error_log when i try to run setup:di:compile

`[24-Nov-2016 08:37:14 UTC] PHP Fatal error:  Uncaught exception 'Magento\Framework\Exception\FileSystemException' with message 'Directory "/home/loveispassion/public_html/var/cache/" cannot be created Warning!mkdir(): Permission denied' in /home/loveispassion/public_html/lib/internal/Magento/Framework/Filesystem/Driver/File.php:225

[2016-11-24 08:45] Nym77 commented on #7495
@veloraven Magento 2.1.2 CE

I looked more into that and i found that a product what containing in the short description a " . This was a regular " not a curly one. However it was messing with the csv file.

Still the error report in magento was completely misleading as it was pointing to the wrong kind of error and to the wrong row.

Is there any documentation regarding the proper formatting of a

[2016-11-24 08:50] miro91 commented on #2619
@Tristan-N I played a little bit with the @Iazel code and add the store manager for regenerating URL's for all stores if the Magento is having multistores. I tried it on Magento with 4 stores and works great. You don't need to add any options to the command just execute `php bin/magento iazel:regenurl`

Here is the code for **RegenerateProductUrlCommand.php**

    <?php
    namespace Iazel\RegenPr

[2016-11-24 08:58] fvschie opened #7545 "REST API mandates customer firstname and lastname"
### Preconditions

1. Magento REST API

### Steps to reproduce

1. Update Contact specifying only id, email and lastname in JSON

### Expected result

1. I expect customer to be updated, setting email address and lastname, and leaving other fields alone.

### Actual result

1. Error 400, explaining that firstname is a required field.

[2016-11-24 09:03] SerhiyShkolyarenko commented on #6475
@ddeppner i can state that this issue is marked as high priority, but I don't have any estimates on fixing.

[2016-11-24 09:05] olysenko commented on #7522
Hi, thank you for your report. Internal ticket was created MAGETWO-61355

[2016-11-24 09:24] kanduvisla commented on #2619
Thanks for your effort @miro91

In case someone needs it, here is a CLI command to re-create all (missing) URL rewrites for all categories:

[code]

Now if someone can combine these two in one solution to rule them all that would be great.

[2016-11-24 09:25] yumicom commented on #5948
I also have this problem in v. 2.1.2

[2016-11-24 09:29] olysenko commented on #7532
Hi, thank you for your report. Your issue is a duplicate of #5730 (see comments additionally to original description). Closed as duplicate

[2016-11-24 09:29] #7532 closed, assigned to nobody

[2016-11-24 09:32] olysenko commented on #7404
Hi, thank you for your report. Your issue is a duplicate of #5730 (see comments additionally to original description). Closed as duplicate

[2016-11-24 09:32] #7404 closed, assigned to nobody

[2016-11-24 09:44] #7337 closed, assigned to nobody

[2016-11-24 09:44] guvra opened #7546 "Quote item incorrectly flagged as deleted when the product becomes out of stock"
### Description

After adding a product to the cart, if the product becomes out of stock (available qty = 0), the item is no longer displayed in the cart/minicart. The quote item is still stored in the database though.

### Preconditions
1. Magento CE 2.1.2 with sample data installed.

### Steps to reproduce
1. Add a product to the cart.
2. In the admin area, set the quantity in stock to 0 for thi

[2016-11-24 09:48] karlsminton commented on #7429
**Preconditions**

I'm running magento 2.1.1 community edition
Created a module which adds additional fields to checkout
The intended goal is to add a field which should validate as a "required-entry"

**Steps to reproduce**

To run the above code either in a module modifying checkout_index_index.xml, or add directly to magento core. For me, in either case it doesn't validate, it just displays the

[2016-11-24 09:50] deepak-netwin commented on #3800
@Deepthi57 Hi, How can I set cronjob on server in Magento2?

[2016-11-24 09:56] guvra opened #7547 "Bundle products are not displayed in the cart when a child product is not visible in catalog"
### Preconditions
1. Magento CE 2.1.2 with sample data installed.

### Steps to reproduce
1. In the admin area, create a new bundle product, with at least one child product that is not visible in catalog
2. In the frontend area, go to the product view of this bundle.
3. Select all required products (make sure the product that is not visible in catalog is selected).
3. Add the bundle to the cart.
5

[2016-11-24 09:58] shahankitb997 commented on #5260
I'm facing still issue. Any solution?

[2016-11-24 10:00] Asitis commented on #5260
@shahankitb997 did you try all the said solutions here? Check for the password-reset limit and such?

[2016-11-24 10:03] shahankitb997 opened #7548 "Something went wrong while resetting customer password."
### Preconditions

1. https://github.com/magento/magento2/issues/5260
2.  Magento 2 CE Version 2.1.2

### Steps to reproduce

1. For 1 User able to Set Reset Password. From Admin.
2. If we do for multiple users 1 by 1 from Admin Can't
3. Admin -> Stores -> Configuration -> Customers -> Customer Configuration -> Password Options
Password Reset Protection Type set to None still issue

### Expected r

[2016-11-24 10:15] wilcoguapa commented on #5260
This is an acknowledged bug, as mentioned [here](https://github.com/magento/magento2/issues/5260#issuecomment-250188216).

[2016-11-24 10:15] developer-lindner commented on #7539
@fmatovic 'Permission denied'.... so just check your directory permissions. And close this ticket after it...

[2016-11-24 10:15] SerhiyShkolyarenko commented on #7500
@Juigeli I see what happened, but I cannot reproduce it neither on develop branch not on 2.1.2. Could you please install to empty DB Magento 2.1.2(or current develop branch) and check if the issue is reproducible for you?

[2016-11-24 10:24] pascaladriaansen commented on #5260
@wilcoguapa It is, but this issue is closed (and fixed, according to @sdzhepa). Shouldn't it be reopened?

[2016-11-24 10:27] pravalitera commented on #2619
@kanduvisla

I discover this morning that there is no more indexer for url, and you post that script ^^ Thx !
But I just ran it, and i have a pb.

For example i have 1 category with 2 subcategorys:

And the URLs rewritten are
http://www.site.dev/category1
http://www.site.dev/subcategory1
http://www.site.dev/subcategory2

It should be http://www.site.dev/category1/subcategory1

And maybe with the s

[2016-11-24 10:28] ps202 opened #7549 "Google API Tracking code missing single quote after account number"
Tracking code displayed on website is missing a single code after the account number if Google API has been set through admin backend.
### Preconditions
Magento 2.2.0-dev from github
### Steps to reproduce
1. Go to: Stores->Configuration->Sales->Google API
2. Enter Account Number
3. Save
![google_api](https://cloud.githubusercontent.com/assets/9308353/20595292/a8a57c7a-b239-11e6-9897-7d2880365fd7.

[2016-11-24 10:33] wilcoguapa commented on #5260
@pascaladriaansen Yes it should, because the fix that @sdzhepa mentioned is not yet released, and probably will not be released soon.

[2016-11-24 10:36] slackerzz commented on #6426
bug present in M2 2.1.2 EE

[2016-11-24 10:37] ps202 commented on #7549
Workaround (LOL): Add single quote after Account number...
![google-workaround_2](https://cloud.githubusercontent.com/assets/9308353/20595536/8e213618-b23a-11e6-9cd8-5c520ca07f70.PNG)

[2016-11-24 10:49] andidhouse commented on #5266
Hi there,

tested on 2.1 one thing is fixed:

- If a product is in stock and added to cart the page is not reloaded

ok so far BUT... and the BUT is big "BUT" every time here... it is just half the way...

- If a product is out of stock and out to cart - site reloads again for the message that the product is out of stock
- site does not scroll to top to view the message in both ways (in stock/out

[2016-11-24 10:50] IgorVitol commented on #5213
This will solve installation issues. But I beleive that if you will re-enable foreign key checks after install, you will be unable to add any entities (products, categories, e.t.c.).

That's because sequence tables has MyISAM engine, which didn't support foreign keys. Correct fix for that issue would be to set InnoDB engine while creating these tables.

[2016-11-24 10:52] andidhouse commented on #5266
AND another bug reported also moth ago is also not solved:

If a product is out of stock and the info here is shown on top in "page messages" and now go to another page each page has the this info notice :-/ ....

[2016-11-24 10:52] andidhouse commented on #5266
Varnish and Redis installed.

[2016-11-24 11:03] fmatovic commented on #7539
@developer-lindner What should permissions on directory be? 755?

[2016-11-24 11:04] deepak-netwin opened #7550 "Magento2: Minicart not showing items"
### Preconditions
Magento CE 2.1.1 without sample data is installed
PHP: 7
MySql: 5.7
### Steps to reproduce
1) Added test category and then test product in it.
2) Browse test product and add it to cart.
### Expected result
Shop minicart shows items, checkout button is working
### Actual result
1) Minicart at top right corner is not showing the items. Also, doesn't show cart subtotal. It only show

[2016-11-24 11:04] LiamFielding opened #7551 "Magento RequireJs Behaviour Conflicts With Their Documentation"
### Preconditions
1. Magento 2.2-dev

### Steps to reproduce
1. Use requirejs to pull in a requirejs custom module from within your module template
2. Do not set jquery to $ sign
3. Add an event listener, such as click.

### Expected result
1. Event listeners loaded asynchronously but always loaded eventually, consistently.

### Actual result
1. Event listeners work most of the time, but sometimes

[2016-11-24 11:13] olysenko commented on #7093
Hi, @claridgeandco , I cannot reproduce this issue on fresh install Magento  ver. 2.1.2 in case if "SKU is one of james test art, James Test Art" selected as the conditions for the rule. Catalog rule with condition "SKU is one of" also works for several products. Of course reindex after rule was applied should be executed

[2016-11-24 11:19] SerhiyShkolyarenko commented on #7500
@Juigeli I reproduced the issue after enabling terms and conditions.

[2016-11-24 11:31] olysenko commented on #7093
When click on Open chooser the matched  products will be checkboxed.
![conditions](https://cloud.githubusercontent.com/assets/8058039/20597052/2d4a2a06-b24a-11e6-8cdd-cc28c2c0da3a.png)

[2016-11-24 11:41] pravalitera commented on #2619
- Full path with URL suffix
- Keep in mind that there are probably a nicer way. Maybe with _Magento\CatalogUrlRewrite\Model\CategoryUrlPathGenerator_

[code]

[2016-11-24 11:44] veloraven commented on #7551
@LiamFielding thank you for your feedback.
Please identify which version of Magento you are running.

[2016-11-24 11:46] veloraven commented on #7550
@deepak-netwin thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-24 11:46] ps202 commented on #2619
What I have noticed, is that that you should delete all the `product` related `url-rewrites` from the database table, and then make this script run!

[2016-11-24 11:51] veloraven commented on #7545
@fvschie thank you for your report.
Please, also identify which version of Magento you are running.

[2016-11-24 11:53] torreytsui commented on #1931
### A limited workaround for the time being

If the purpose is simply hiding and displaying specific blocks and if you have full control on those layouts, you may interest in this limited workaround.

[code]

Use `display` instead of `remove`. This workaround is very limited as we don't usually have full controls on all layout. For example, many Magento vanilla handles have `remove="true"` instruc

[2016-11-24 11:53] veloraven commented on #7544
@sheakspeer thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento

[2016-11-24 11:59] veloraven commented on #7542
@ludovicpages thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-11-24 12:00] veloraven commented on #7540
I'm closing this issue as a duplicate.

[2016-11-24 12:00] #7540 closed, assigned to nobody

[2016-11-24 12:00] deepak-netwin commented on #7550
@veloraven I've edited the description above. Please let me know what could be the issue?

[2016-11-24 12:03] veloraven commented on #7523
@coresh thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2016-11-24 12:03] sennin32 commented on #5948
I have the same issue in Magento 2.1.2
It won't even stop showing item with 0 quantity and buyers can still buy it.
And I chose not to show any product out of stock, but the issue still there.
Tried to install mjankiewicz's project.
But actually I have no idea how to do that.
I use it as a extension (put it under app/code/mjankiewicz/MagentoConfigurableProduct)
And put all files into it.
Than use

[2016-11-24 12:05] LiamFielding commented on #7551
2.20-dev

This is a very hard thing to test because it works nearly all of the time - however sometimes it doesn't. We're testing in a corporate environment so there are many computers clearing their browser cache and loading it as if the first time.

There are no thrown errors or any indication of why it hasn't loaded in the console, the event listeners are simply not attached (I am uncertain tha

[2016-11-24 12:05] veloraven commented on #7501
@rramiii thank you for your report.
Please report EE issues via the Support portal of your account or Partner portal if you are a partner reporting on behalf of a merchant.
Github is intended for Community edition reports given no account management for CE users. This will allow for proper tracking of issues at the account level.

[2016-11-24 12:08] veloraven commented on #7494
@user3748173 thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue (including lack of documentation) please format this issue according to the [Issue reporting gui

[2016-11-24 12:08] shiftedreality commented on #7482
Hi @afrinnusrat

I was unable to reproduce this on 2.1.2 CE.
Please, provide your environment configuration details.

Note: We do not support Windows machines for now, so I suggest you use Vagrant or Docker.

[2016-11-24 12:12] veloraven commented on #7492
@Naxon thank you for your feedback.
Please specify exact Magento version you are running.
Please also provide information about your OS and MySQL version.
Are there any errors present?

[2016-11-24 12:13] veloraven commented on #7487
@dreucifer thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here]

[2016-11-24 12:17] veloraven commented on #7476
I'm closing this issue as a duplicate of #7051

[2016-11-24 12:17] #7476 closed, assigned to nobody

[2016-11-24 12:17] Sebastien-oxom commented on #7514
Hello,

I think the issue is how the quoting is done on the value.
I've tried a GET /V1/products request with searchCriteria involving an IN statement, and I saw in my DB log :

`
SELECT e.*, IF(at_status.value_id > 0, at_status.value, at_status_default.value) AS status, IF(at_visibility.value_id > 0, at_visibility.value, at_visibility_default.value) AS visibility FROM catalog_product_entity AS e

[2016-11-24 12:19] veloraven commented on #7051
@debuysserk you can find reference for the fixing commit for develop branch in #5358.

[2016-11-24 12:24] #7358 closed, assigned to nobody

[2016-11-24 12:24] giusecapo commented on #5302
Did anyone find a solution?

[2016-11-24 12:24] #7354 closed, assigned to nobody

[2016-11-24 12:24] veloraven commented on #7347
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-24 12:24] #7347 closed, assigned to nobody

[2016-11-24 12:25] veloraven commented on #7343
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-24 12:25] #7343 closed, assigned to nobody

[2016-11-24 12:26] veloraven commented on #7342
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-24 12:26] #7342 closed, assigned to nobody

[2016-11-24 12:26] veloraven commented on #7326
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-24 12:26] #7326 closed, assigned to nobody

[2016-11-24 12:26] #7324 closed, assigned to nobody

[2016-11-24 12:26] veloraven commented on #7323
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-24 12:26] #7323 closed, assigned to nobody

[2016-11-24 12:27] veloraven commented on #6996
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-24 12:27] #6996 closed, assigned to nobody

[2016-11-24 12:29] yofisim commented on #5302
Hi all, after some reviews, as I'm a very noobie to magento.
When I imported the files, the fix was not working for me too..
But after digging, I found that you have to recompile the files for the patch to work.
Which means you have to:

1) Replace the fotorama files as explained in the thread.
2 Run the following queries in M2 root folder in command line:
`php bin/magento setup:upgrade`
`php bin/

[2016-11-24 12:38] giusecapo commented on #5302
Sorry, I'm noobie (a lot) too, how to install the patch? @yofisim

[2016-11-24 12:42] yofisim commented on #5302
You will find the files to replace (and the exact lines that have been changed) here:
https://github.com/magento/magento2/commit/7597a52dbf7179106b4ebba928dc04efbe6a8c78

Replace them, then go for the few commands I gave you.

Good luck 💯

[2016-11-24 12:51] nmallepally opened #7553 "Compare on Mobile"
Does Magento 2 have a compare option on Mobile?.
I could not find one on backend to enable it?

[2016-11-24 12:54] guvra commented on #7547
My bad, the bug does not appear on a stock installation of Magento, it seems to be specific to our project (case where a bundle with disabled child item(s) could be added to the cart...).

[2016-11-24 12:54] #7547 closed, assigned to nobody

[2016-11-24 12:56] chris-pook commented on #5008
Went to fix this today and found the issue is resolved in the develop branch upstream. CMS is now using it's repository to save too. Fingers crossed for this being closed on next release then!

[2016-11-24 12:56] shiftedreality commented on #7365
Hi @jameswithers

You have to set the most generic object type in your constructor to help Magento recognize which object should be configured. Like this:

[code]

[2016-11-24 13:03] sigismund opened #7554 "Logged-in user has to re-login before checkout"
### Preconditions

1. Magento 2.1.2, 2.1.9 PHP7
2. User is logged in
3. Guest checkout is disabled

### Steps to reproduce

1. Login in
2. Add product to cart
3. In top bar there is text "Welcome Michael Surname", but there is still option to sign-in and sign-up next to it.
4. Go to cart > checkout
5. Login prompt is displayed

### Expected result

1. When user is logged-in and "Wecome user" is di

[2016-11-24 13:06] cscd98 commented on #7420
@joni-jones Thank you for your help so far.

In my controller I have:

[code]

**Question 1**

Even tho the password result code runs fine, the result is always null. How am I supposed to check for a successful response? The validator returns an instance of ResultInterface and it definitely returns success.

I need to check the result was succesful before moving on to the next command and finally

[2016-11-24 13:20] BeatDirector opened #7555 "localization, translation in email template"
Hello,

in some email templates (change email) there are some translation code like this:

` {{trans 'If you have not authorized this action, please contact us immediately at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}`

There are nested translation declaration with ' and " for href
{{trans'lorem ipsum href="yxz" '}}

### Preconditions

1. Magento 2.1.2
2. PHP7

[2016-11-24 13:29] giusecapo commented on #5302
Unfortunately, I did everything exactly as you suggested me... But it still doesn't work :( @yofisim

[2016-11-24 13:31] yofisim commented on #5302
@giusecapo on your browser, when you're on the product page, check the fotorama.js file the browser process to see if you have inserted the correct files and did the right manipulation

[2016-11-24 13:32] guido7171 commented on #7537
Hi Kandusivla Giel
I had the same issue. Some multi select attributes weren't saved.
But some were! Only the ones where attribute_code starts with 0 and characters a-z did.
Then i tried to create the attribute in de admin and the following message appeared.

It seems there is a special condition for naming attribute_codes.

[2016-11-24 13:34] giusecapo commented on #5302
You're right, page is loading fotorama.js from pub/static/... Do you know why? Should I clear static files again? @yofisim

[2016-11-24 13:36] BlitzInternet commented on #7483
+1

- if there is no shipping
- and the payment method is restricted by country
- and no addressess fitting the country restrictions exist (e.g. because customer is guest)
- then no payment method is shown
- then there is no way to enter an address in checkout and order!

[2016-11-24 13:38] giusecapo commented on #5302
Ok! It works! Thanks for your help, maybe I called deploy static content before ftp finished upload :) You made my day man @yofisim

[2016-11-24 13:39] yofisim commented on #5302
@giusecapo
Yes it's right, Magento needs this file to process the images and render them.
I want you to check the file itself, and see if the change you made is taken by the browser.

Report again to these files here: https://github.com/magento/magento2/commit/7597a52dbf7179106b4ebba928dc04efbe6a8c78

and check the changes @

[2016-11-24 13:39] yofisim commented on #5302
Ow nice! thumb up! Have a nice dev day @giusecapo

[2016-11-24 13:48] shiftedreality commented on #7421
Hi @tzyganu

I've created an internal ticket MAGETWO-61364 to investigate and fix this issue.
Thank you.

[2016-11-24 13:48] michaelmcgregor commented on #5247
how can I setting the docroot to the Magento install directory ..

[2016-11-24 13:54] kanduvisla commented on #7537
@guido7171 That's true, but my attributes are named according to those conditions.

[2016-11-24 14:07] SerhiyShkolyarenko commented on #7529
@blizzardengle thank you for cooperation!
Current state corresponds our internal requirements to dashboard, so we don't treat this issue as a bug. Your request was added to a story for dashboard improvement(MAGETWO-11358), but it's not guaranteed to be implemented this way. Please submit this improvement  to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com

[2016-11-24 14:07] veloraven commented on #7553
@nmallepally thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you want to submit an improvement please use new  [Magento 2 Feature Requests and Improvements forum](https://community.mage

[2016-11-24 14:07] #7553 closed, assigned to nobody

[2016-11-24 14:12] YevSent commented on #7420
If your commands extend `\Magento\Payment\Gateway\Command\GatewayCommand` via virtual type, your commands will not return anything (see [Gateway Command](https://github.com/magento/magento2/blob/develop/app/code/Magento/Payment/Gateway/Command/GatewayCommand.php#L87)) and in case, if response failed, you will get `\Magento\Payment\Gateway\Command\CommandException`.

About `placeOrder` method, you

[2016-11-24 14:13] Tjitse-E commented on #2619
@pravalitera your script works, thanks.

Example: www.mainstore.fr/**level1**/level2/ <-- level 1 has the main store url value, not the store view url value. Do you experience the same problem?

[2016-11-24 14:30] veloraven commented on #7449
@craigcarnell  the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions next time.

[2016-11-24 14:33] pravalitera commented on #2619
@Tjitse-E It's because i suck :D "_categoryUrlKeys" does not contain the store_id, you will have to

something like this:

[code]
and just after  in the foreach.
[code]

I'm close to a very much cleaner script, that rewrites product too. But i have to handle another emergency right now :(

[2016-11-24 14:35] #7085 closed, assigned to nobody

[2016-11-24 14:43] guido7171 commented on #7537
@kanduvisla just to be sure, we're both talking about table eav_attribute column attribute_code ?

[2016-11-24 14:58] SerhiyShkolyarenko commented on #7500
Internal issue MAGETWO-61368.

[2016-11-24 15:00] michaelmcgregor commented on #5247
installing  magento 2.1.2 to puplic.html as main domain. Then configure the second domain as multistore by parked domain direction. Websetup wizard dont working (setup/index.php/session/unlogin Response 401).
who can explain how can ı fix

[2016-11-24 15:03] AlexandreKhayrullin opened #7557 "Backend Security key broken for controllers with frontname not equal to route ID"
### Preconditions
The Magento used is the "develop" branch.
PHP: PHP 7.0.10-1+deb.sury.org~xenial+1

### Steps to reproduce
1. Create a new module with a controller usable in the backend.
2. Define a new route for the controller (new adminhtml/routes.xml file) with a frontname different from the route ID.
3. Add the new controller to the menu and add the appropriate item to the ACL.
4. Log into th