[2017-10-26 00:28] antoniszachos commented on #11736
I know... Thankfully the shop in not live yet...

Thank you for your info.

[2017-10-26 00:43] #11653 closed, assigned to orlangur

[2017-10-26 01:02] versdivers opened #11754 "Product Image on Product Page width/height 1px"
So on my product page for some reason the width and height of the fotorama divs are 1px and therefor not showing my image.

Stack link :
[Magento product image size](https://magento.stackexchange.com/questions/198698/magento-product-images-size-1px
)
### Preconditions
1.  Magento 2.2.0
2. PHP 7.1.8

### Steps to reproduce
1.  Create a custom theme with blank theme inherited
2.  Copy/paste etc/view

[2017-10-26 01:04] giraclion opened #11755 "Unable to load Frontend and Backend after dependency injection compilation in Magento 2.2 Cloud"
After installing Magento 2.2 Cloud on Windows 10 + PHP 7.0 + MySQL 5.6 and running `php bin/magento setup:di:compile` I can no longer see any content when loading any frontend or backend page. Related to #11698

### Preconditions
1. Windows 10
2. Magento 2.2.0 Cloud via composer, no custom code, no sample data, bare installation
3. PHP 7.0.15
4. Apache 2.4
5. MySQL 5.6
6. Magento Luma theme
7. Sin

[2017-10-26 02:16] nntoan commented on #7371
@traff1kash That's a different story, this is reproducible after you setup catalog price rule.

[2017-10-26 03:06] ruiwant commented on #11263
When i create a dropdown with lots of values, i always got the error 'The value of Admin scope can't be empty', @eharvest is right. When you remove any of the empty option fields, the bug will show.

I have no idea how to solve the bug, but if you just add lots of values, the bug will let you so pain. There is a method, you can open you firebug and delete the empty no-display option fields, then y

[2017-10-26 04:06] Minnie1302 commented on #11688
Thank you team, let me ask my developer and I will update you soon! Thank you for prompt response.

[2017-10-26 04:15] briscoda commented on #10291
The problem here can be traced back to this file:

https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Ui/view/base/web/js/dynamic-rows/dynamic-rows.js#L610

In cases where there are option values added for the "Select" option types, the javascript will try to keep track of those options if they are not deleted by clicking on the trash can icon.

When the user toggles back to the

[2017-10-26 05:28] vishveskrish commented on #10394
Hello @magento-engcom-team,

Do we get the resolution?

[2017-10-26 05:28] vishveskrish commented on #9307
Hello @magento-engcom-team,

Do we get the resolution?

[2017-10-26 06:06] istagraphics opened #11756 "SMS Extension integration"
We are not able to install SMS extension in 2.0 version e-commerce site

### Preconditions

1. We are not able to install sms extension
2. We are using Magento 2.0

### Steps to reproduce

1. We tried to install extension but there is no error also
2.
3.

### Expected result

1.  Please install any suitable sms extension in our theme

### Actual result

1. [Screenshot, logs]

[2017-10-26 07:02] namratavora commented on #2146
@au00433276 : I am facing the same issue in Magento 2.1.8

[2017-10-26 07:33] magento-engcom-team commented on #11741
@durabite, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-26 07:33] #11741 closed, assigned to nobody

[2017-10-26 07:36] routbiplab commented on #11682
Sure. Here is the output for php -v:
![php-version](https://user-images.githubusercontent.com/17869716/32040443-6bbae3ae-ba4e-11e7-865b-dc6251a04a93.png)

[2017-10-26 07:39] magento-engcom-team commented on #11738
@Olek89 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-26 08:00] magento-engcom-team commented on #2291
@ashsmith, thank you for your report.
We've created internal ticket(s) MAGETWO-47664 to track progress on the issue.

[2017-10-26 08:00] hostep commented on #4096
@orlangur: would be great if a fix could get backported to version 2.1.x though, it's a really serious problem...

[2017-10-26 08:07] magento-engcom-team commented on #11756
@istagraphics , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-26 08:16] springerin commented on #11416
i want to give it a try so please assign it to me

[2017-10-26 08:17] VonKavalier commented on #8877
I get the exact same error. Has it been patched yet ?

[2017-10-26 08:23] magento-engcom-team commented on #11741
@durabite, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-26 08:26] magento-engcom-team commented on #11518
@jpcsguru, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-26 08:26] #11518 closed, assigned to nobody

[2017-10-26 08:28] magento-engcom-team commented on #11518
@jpcsguru, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-26 08:30] magento-engcom-team commented on #7231
@slackerzz, thank you for your report.
We've created internal ticket(s) MAGETWO-60689 to track progress on the issue.

[2017-10-26 08:37] magento-engcom-team commented on #11559
Hello @alen9788. Please, let us know if Your issue concerns what **infortis** mentioned about.

[2017-10-26 08:51] KevinGimbel opened #11759 "Translation inheritance"
A language package in `vendor/` appears to have a higher priority than a local package, e.g. `app/design/frontend/MyCompany/i18n` or `app/i18n/MyCompany/de_de`. When I install a generic language package, for example https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE, and try to overwrite one of the translations in my theme it does not work.

### Preconditions

Magento 2.2.0
PHP 7

[2017-10-26 09:01] gediminaskv commented on #6099
@AzVo Your solution didn't help:/ Can you check my situation https://magento.stackexchange.com/questions/198740/swatches-in-product-list-issue-magento-2 ?

[2017-10-26 09:07] orlangur commented on #11682
As you can see, currently PHP5.6 is used in CLI which is not supported by Magento 2.2. You need to setup your server in such a way that PHP7 is used for both web server and CLI.

So observed error is correct system behavior.

[2017-10-26 09:08] #11682 closed, assigned to nobody

[2017-10-26 09:10] yuvraj993 commented on #5260
I am still facing issue on magento 2.2 We're unable to send the password reset email from web and not working from REST API
 http://host/magento22/rest/V1/customers/password
{
  "email": "xyz@mailinator.com",
  "template": "reset_password",
  "websiteId": 1
}

[2017-10-26 09:22] akshgods commented on #4119
**some time this error comes some time not. what to do? any help**

[code]

[2017-10-26 09:46] orlangur commented on #11756
@istagraphics which SMS extension are you referring to? This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2017-10-26 09:49] orlangur commented on #11755
Hi @giraclion,

Can you reproduce an issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Note that Windows is not in the list.

Closing as a duplicate of https://github.com/magento/magento2/issues/11491, please share any additional details there.

[2017-10-26 09:49] #11755 closed, assigned to nobody

[2017-10-26 09:52] hallleron commented on #11339
I also have this behaviour. Additionally some products lost ALL upselling products after upgrading from 2.19 to 2.2.0. Other configurable products lost their simple products and the price changed to null WITHOUT having the price input field disabled (it is not greyed out). I also did all necessary steps without any success. So basically the upgrade broke my entire product catalog.

Are there any n

[2017-10-26 10:18] wolfuma opened #11763 "Configurable product price update on mobile nav. 2.x"
On product page of configurable products when select swatches, prices didn't update, stays at 'lowest price' but if i change the mobile view to desktop view, works great (on android chrome). That's the same on all mobile browser.

### Preconditions
1. MAgento 2.1.8 on Gcloud instance by bitnami. tryed with 2.1.9 and 2.2 fresh install with same resutls
2. Varnish ssl trought appache
3. Minify, bund

[2017-10-26 10:36] giraclion commented on #11491
@orlangur Vlad, regardless of what is it saying under http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html, can you at least point/guide where the issue could be? What is that different between Linux/Windows in terms of DI compilation?

[2017-10-26 10:45] orlangur commented on #11491
For now I saw two main reasons of different behavior: different `DIRECTORY_SEPARATOR` and some differences in XML/XSD processing. This needs to be debugged step-by-step on a problematic environment.

I the issue I referenced recently author found out that

To just spot the difference in compilation, you may also perform it on Linux, commit to some temporary repo and then perform compilation on Win

[2017-10-26 11:23] jokeputs commented on #10687
I have the same issue with Magento 2.1.9. In my installation it only happens when the product is saved in a cron task. If I run the same code using the cli tool the images keep their roles.

[2017-10-26 11:28] Tjab opened #11768 "Re-opening #11648: Product Use Default Value not selected when linking to non-default websites"
@lanken agento-engcom-team, thank you for your very fast reply!

ps: I couldn't re-open my issue, so I've created a new one. Previous issue: https://github.com/magento/magento2/issues/11648

I'm wondering why it's not possible to reproduce this, so I've written down all my steps and included screenshots. Please note that this was tested on 2.1.5. I do however believe it's also the case with some c

[2017-10-26 11:30] magento-engcom-team commented on #5703
@vivek201, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-26 11:30] #5703 closed, assigned to nobody

[2017-10-26 11:30] magento-engcom-team commented on #8316
@spyrule, thank you for your report.
We've created internal ticket(s) MAGETWO-82807 to track progress on the issue.

[2017-10-26 11:30] magento-engcom-team commented on #5456
@rasmuswikman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-26 11:30] #5456 closed, assigned to odubovyk

[2017-10-26 11:48] Tjab opened #11769 "API call /rest/all/V1/products/{sku} updates for too many websites?"
It's the question if the behaviour of the api call with `all` is working as intended, as it can go either way. What I expect, is that when I have a product linked to 5 websites of the 10 websites I have, and I update the product with `rest/all/V1/products/{sku}`, it will be updated for the websites it belongs to.

However, as soon as I do an update, it will be updated for all 10 websites, whether

[2017-10-26 11:59] AndreKlang commented on #6121
@veloraven @katmoon
Can you please do as @Bartlomiejsz asked and supply a reference to where/how this was fixed? Also in what release was this fixed in?

I'm still experiencing this on 2.1.5. I'm guessing that the previous (bad) vendor who made this site overwrote something, so the problem still exists..

[2017-10-26 12:02] orlangur commented on #11769
Hi @Tjab, you are right, such issue is already known as https://github.com/magento/magento2/issues/11324.

Thanks for a well-formed bug report!

[2017-10-26 12:02] #11769 closed, assigned to nobody

[2017-10-26 12:03] gabrielqs-redstage commented on #5492
Hey there, I'm working on it. #SQUASHTOBERFEST

[2017-10-26 12:27] enriquei4 commented on #7099
I've fixed it for #SQUASHTOBERFEST in #11727 & #11745

[2017-10-26 12:33] magento-engcom-team commented on #6141
@Rickywils, thank you for your report.
We've created internal ticket(s) MAGETWO-82815 to track progress on the issue.

[2017-10-26 12:40] korostii commented on #10577
By the way, composer is also still at `@alpha` if you download the prepackaged archive from https://magento.com/tech-resources/download

[2017-10-26 12:59] valenciaisaza commented on #11696
Hi @vodanh109
I have the same problem than you, and I have template monster too, can you tell me in which PHP class you found the problem?
Thanks

[2017-10-26 13:02] PieterCappelle commented on #7816
@veloraven Can you please reopen this issue and assign it to me. The issue is indeed not correct formated but it is an issue. I'll fix it.

[2017-10-26 13:05] guvra commented on #3150
Does anyone know the reference of the commit that fixes this bug?

[2017-10-26 13:30] magento-engcom-team commented on #8523
@Deshibazaar24, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-26 13:30] #8523 closed, assigned to nobody

[2017-10-26 13:30] magento-engcom-team commented on #6025
@JamesColeman-SH, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-26 13:30] #6025 closed, assigned to nobody

[2017-10-26 13:34] VonKavalier opened #11773 "Accessing abandoned cart in backend shows error when order contains removed products"
ref : #8877

Happens when viewing customers > edit customer > view "Manage Shopping Cart" at the backend

It happens because we changed the database and some datas weren't needed anymore, so some products weren't there in the new version. And of course, some abandoned carts didn't have some of the products back.

### Preconditions
1. Magento 2.1.6
2. PHP 7.1.10
3. MySQL 14.14 Distrib 5.7.20

### S

[2017-10-26 13:50] magento-engcom-team commented on #11740
Hello @lee586. Tanks for reporting. Please clarify You mean two stores on the same website or two stores on two different websites.

[2017-10-26 14:08] #6907 closed, assigned to nobody

[2017-10-26 14:17] orlangur commented on #11773
GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2017-10-26 14:17] #11773 closed, assigned to nobody

[2017-10-26 14:30] magento-engcom-team commented on #5779
@malaiselvan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-26 14:30] #5779 closed, assigned to nobody

[2017-10-26 14:30] VonKavalier commented on #11773
Hi !

Hum... I have to say that I didn't get your answer. Isn't it the proper place to talk about magento 2 issues, and therefore help the entire community with problems that might affect them?

I'm sorry I really don't understand what I need to do now :/

[2017-10-26 14:31] thiagolima-bm commented on #10908
@okobchenko PR #11337

[2017-10-26 14:42] orlangur commented on #11773
This module is not a part of Magento Open Source (formerly Magento Community Edition). You need to visit Support portal or Partner portal.

[2017-10-26 14:43] webusat commented on #11263
I can confirm that I have the same issue in 2.2.0 when I create empty option boxes and then delete them.  If I open dev tools in Chrome and delete those elements it will save.

Thanks.

[2017-10-26 14:49] maheshWebkul721 commented on #7739
@toshz if you need to fix in your custom module then you can read this blog for the solution.

[2017-10-26 14:49] VonKavalier commented on #11773
Got it, thanks

[2017-10-26 15:02] luizpinheiro opened #11775 "Magento 2.2.0 not working with php 5.6.30"
### Preconditions

1. Server running on Ubuntu 14.04.5 LTS
2. Apache 2.4.x and 5.6.30-1+deb.sury.org~trusty+1

Magento tells:

But in the docs they said that Magento supports php 5.6.x.

[2017-10-26 15:03] oltseb commented on #11412
@davepullen ,
thank for the solution! Can confirm that had the same, but now it is gone

[2017-10-26 15:06] orlangur commented on #11775
I don't see PHP5.6 supported on http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html.

Please report issues in documentation to https://github.com/magento/devdocs/ repository.

[2017-10-26 15:06] #11775 closed, assigned to nobody

[2017-10-26 15:09] mnuhell opened #11776 "Import configurable CSV products does not activate them"
### Preconditions

1. Magento 2.1.7
2. PHP VERSION 7.1

### Steps to reproduce

1. Donwload CSV configurable product created manually
2. Create 2 configurable with him product simple
3. Import succesfully

### Expected result

1. Created two products configured with their simple products

### Actual result

1. Not enabled Configurable Product
![captura de pantalla 2017-10-26 16 58 56](https://user

[2017-10-26 15:11] Tjab commented on #11769
Sorry for the duplication :'(

[2017-10-26 15:12] orlangur commented on #7816
@PieterCappelle leaving is Unassigned + `needs update`, I believe somebody else is adding some OCTOBERFEST labels and assign to contributors.

[2017-10-26 15:13] saivnct commented on #10756
Hello, I got same issue after changing admin locale to vi_VN.
Could you show me how to  fix this issue.
I'm using Magento-CE-2.1.9-2017-09-13-03-35-18
Thank you

<img width="1440" alt="screen shot 2017-10-26 at 22 12 05" src="https://user-images.githubusercontent.com/17584047/32061039-c221f90c-ba9a-11e7-807c-4c6e6e5ec88c.png">

[2017-10-26 15:19] dan-advantec commented on #5956
Thanks @JeroenVanLeusden - how did you get on with this? It still appears to be an issue in 2.2.0

[2017-10-26 15:22] JeroenVanLeusden commented on #5956
@dan-advantec I see merging of the PR started earlier today. Once merged, it will be released in 2.2.1 or 2.2.2.

[2017-10-26 15:25] tlygnersjo commented on #8790
I can confirm that this is still a issue in Magento 2.2.0

[2017-10-26 15:27] saivnct opened #11777 "Got "Invalid input datetime format of value" after changing admin locale"
Hello, I got error after changing admin locale to vi_VN.
Could you show me how to fix this issue.
I'm using Magento-CE-2.1.9-2017-09-13-03-35-18
Thank you

<img width="1440" alt="screen shot 2017-10-26 at 22 12 05" src="https://user-images.githubusercontent.com/17584047/32061763-b9a81606-ba9c-11e7-8f61-4f1e1000ea31.png">

[2017-10-26 15:30] magento-engcom-team commented on #5900
@acidreian666, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-26 15:30] #5900 closed, assigned to nobody

[2017-10-26 15:34] indefinitedevil opened #11778 "Backend requests don't receive data"
We've had a recurring issue with Magento 2.2.0 where (for some reason I don't understand) the "Attention: Something went wrong." message appears on every page.

We get the default message about a "technical error on the server" but there is nothing in any error log to indicate what might be going wrong, and nothing loads and no form entries work. Trying to submit a form 302s you back to the parent

[2017-10-26 15:37] orlangur commented on #11777
Hi @saivnct, thanks for bug report, it is a known issue tracked as https://github.com/magento/magento2/issues/10580.

[2017-10-26 15:37] #11777 closed, assigned to nobody

[2017-10-26 15:37] magento-engcom-team commented on #11776
Hello @mnuhell. Thank you, for your report. Do you mean that, when you create a configurable product without simple products (without configurations) and then you export it to a CSV file. You go back to the website, create configurations for that previously created product (you add a couple of simple products as configurations) and then you import previously created CSV file and then you expect it

[2017-10-26 15:41] calamusid opened #11780 "VAT into email order"
Into email order confirmation, VAT on shipment is alwais visible although with a cart rule the shipment is free

The order total is calculated correctly.

### Preconditions
Magento 2.1.7
PHP 7

### Steps to reproduce
Setup a cart rule for order over xx total amount shipping is free, cart and payment works fine but the email sent to customer show the VAT for the shipment as if it were due.

Total s

[2017-10-26 15:41] deepak-netwin opened #11781 "Category and products not loading after upgrade to 2.2.0"
I've upgraded magento version from 2.1.4 to 2.2.0 via composer. It's upgraded successfully, but somehow frontend not showing categories and products. Also, at backend categories not showing Product, Design Tabs etc.

Please suggest what could be the wrong here.

[2017-10-26 15:41] ci2014 opened #11782 "LayeredNavigation theme problems"
### Preconditions

1. Magento 2.2.0, but problem exists earlier as well

### Steps to reproduce

1. Install Magento 2.x.x
2. Visit a category with child categories and filters
3. see the result

### Expected result

1. Should look like in demos, should be collapsible

### Actual result

1. Looks like the following and is not collapsible

![image](https://user-images.githubusercontent.com/8351245/3

[2017-10-26 15:42] orlangur commented on #11778
I doubt this issue can be investigated without some debug on your side.

Please set developer mode, enable `display_errors` and maximum `error_reporting` then check suspicious requests in Network tab of browser Dev Tools.

[2017-10-26 15:43] saivnct commented on #10580
I got the same problem in vi_VN

[2017-10-26 15:46] mnuhell commented on #11776
More or less, I have a CSV with configurable products and their simple related products, when I import a Magento2, I import all simple products perfectly, with their images, product name and so on, but the configurable products are not activated, they are shown disabled , without img and without product name.

Attached CSV file, the file is imported perfectly. but the configurables do not activate

[2017-10-26 15:47] orlangur commented on #11782
Hi @ci2014 which theme are you using? Only Blank and Luma themes are bundled within Magento, respective vendors should be contacted in case of other themes.

[2017-10-26 15:48] indefinitedevil commented on #11778
Yeah... I've done that already. I've been investigating this for two weeks. I've been monitoring exactly what happens and debugging every way I can think of, which is how I know the issue is that request data isn't being received which results in a 302 back to the parent page (in most cases).

If I had debug information, I would have provided it rather than saying it doesn't leave logs or produce

[2017-10-26 15:53] ci2014 commented on #11782
The problem exists in the Luma and in the Blank Theme.

[2017-10-26 16:03] gvigner commented on #11055
Same problem here when upgrading from Magento 2.1.9 to 2.2.0.
My server in on Ubuntu 16.04 with Mysql 5.7.19 and php 7.0.24.
How should I fix it ?

[2017-10-26 16:07] aasilva83 opened #11783 "Changing language the magento panel stayed desconfigured."
I tried changing the language of magento store but when I saved the panel stayed desconfigured and the new language dont update

MAGENTO 2.1.7

![erro magento](https://user-images.githubusercontent.com/32718546/32063699-9cd2a3a2-ba56-11e7-96c0-50a06f92482c.jpg)

[2017-10-26 16:07] aasilva83 commented on #11783
The Magento is 2.7.1

[2017-10-26 16:08] orlangur commented on #11778
I see... Still you can see pretty clear what is sent to Web Server and what is actually received on PHP side.

If everything seems ok in Network tab of browser Dev Tools, you may try a lower level pocket sniffer like Wireshark (sometimes in the past I had to do it due to bugs in Firebug).

If all data is sent from browser side but not received by Magento server side, there is nothing Magento can d

[2017-10-26 16:17] okorshenko commented on #10838
Hi @hostep we will take a look at this. Thank you

[2017-10-26 16:18] Tjitse-E commented on #8615
@AirmanAJK can you share your .htaccess or apache config? I'm trying to set `AllowEncodedSlashes On`, but this results in a 500 server error.

[2017-10-26 16:22] indefinitedevil commented on #11778
I've been using Fiddler. All POST data is verified in Fiddler, but none of it is received in the code.

Our server provider can't find any issue either, as that was already considered, and they suggested checking the code. We're in a bit of a loop here.

[2017-10-26 16:33] ci2014 commented on #11782
It should look like this in Luma:

![image](https://user-images.githubusercontent.com/8351245/32065155-34219a04-ba7c-11e7-9187-302409c06a06.png)

[2017-10-26 16:44] InnovaUeb opened #11784 "New sales do not appear in the admin list"
When I place a purchase on the site, it does not appear in the sales listing in the admin

[2017-10-26 16:56] avra911 commented on #11055
did you disabled GTID?

---- On Thu, 26 Oct 2017 19:03:58 +0300 gvi &lt;notifications@github.com&gt; wrote ----

Same problem here when upgrading from Magento 2.1.9 to 2.2.0.

My server in on Ubuntu 16.04 with Mysql 5.7.19 and php 7.0.24.

How should I fix it ?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-26 16:57] gomencal commented on #8846
Working on that :)

[2017-10-26 17:08] orlangur commented on #11784
Hi @twomidia, this issue seems to be tracked as https://github.com/magento/magento2/issues/10158 already, as a workaround you may try disabling Asynchronous indexing.

[2017-10-26 17:08] #11784 closed, assigned to nobody

[2017-10-26 17:11] orlangur commented on #11782
You stripped domain from `<a href="/women/tops-women/tees-women.html">` before pasting?

Ok, I doubt vanilla Luma theme contains such bug, let's wait for verification.

[2017-10-26 17:19] #11157 closed, assigned to nobody

[2017-10-26 17:28] TarasSavchuk commented on #11055
GTID replication is useful. So disabling GTID isn't cool.

[2017-10-26 17:30] calamusid commented on #11780
Minify JS is the reason, turn off and all works fine

[2017-10-26 17:30] #11780 closed, assigned to nobody

[2017-10-26 17:32] tufahu commented on #5021
Thank you @vphat28 ! I've had the same issue. Removing underscore solved it.

@magento-engcom-team Have you tried it on magento 2.2.0 ?

[2017-10-26 17:37] lee586 commented on #11740
Sorry for not clarifying.  Two different websites.

[2017-10-26 17:50] ci2014 commented on #11782
@orlangur I did. The domain contains a customers name. I don't think it's in their interest.

Maybe it helps to tell, that I've installed Magento via composer.

[2017-10-26 17:58] orlangur commented on #11782
Ok, just wanted to assure it's not some links starting from root.

[2017-10-26 18:00] magento-team commented on #7927
Internal ticket to track issue progress: MAGETWO-82762

[2017-10-26 18:00] magento-team commented on #7927
Internal ticket to track issue progress: MAGETWO-82761

[2017-10-26 18:00] magento-team commented on #11322
Internal ticket to track issue progress: MAGETWO-82747

[2017-10-26 18:01] magento-team commented on #9763
Internal ticket to track issue progress: MAGETWO-82724

[2017-10-26 18:01] magento-team commented on #9944
Internal ticket to track issue progress: MAGETWO-82537

[2017-10-26 18:01] magento-team commented on #10168
Internal ticket to track issue progress: MAGETWO-82562

[2017-10-26 18:02] magento-team commented on #10301
Internal ticket to track issue progress: MAGETWO-82178

[2017-10-26 18:02] magento-team commented on #5956
Internal ticket to track issue progress: MAGETWO-81970

[2017-10-26 18:02] magento-team commented on #11022
Internal ticket to track issue progress: MAGETWO-81904

[2017-10-26 18:02] magento-team commented on #10275
Internal ticket to track issue progress: MAGETWO-81146

[2017-10-26 18:03] orlangur commented on #11769
Absolutely no problem, it would be not so easy to find :) Just that I remember I read similar bug report some time ago.

[2017-10-26 18:24] okorshenko commented on #9763
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:24] #9763 closed, assigned to gabrielqs-redstage

[2017-10-26 18:25] okorshenko commented on #11157
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:25] okorshenko commented on #10168
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:25] #10168 closed, assigned to keyurshah070

[2017-10-26 18:26] okorshenko commented on #10275
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:26] #10275 closed, assigned to romainruaud

[2017-10-26 18:26] okorshenko commented on #7927
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:26] #7927 closed, assigned to osrecio

[2017-10-26 18:27] okorshenko commented on #11322
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:27] #11322 closed, assigned to lewisvoncken

[2017-10-26 18:28] okorshenko commented on #9944
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:28] #9944 closed, assigned to briscoda

[2017-10-26 18:28] okorshenko commented on #5956
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:28] #5956 closed, assigned to Jeroenll

[2017-10-26 18:29] okorshenko commented on #11022
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release soon

[2017-10-26 18:29] #11022 closed, assigned to davidverholen

[2017-10-26 18:35] ci2014 commented on #11782
Thank you. I will investigate on this.

[2017-10-26 18:57] bch80 opened #11789 "Rest issues with M2 and Nginx"
### Preconditions

1. Magento 2.1.9, nginx/1.8.1, PHP 7.0.7-1~dotdeb+8.1

### Steps to reproduce

1. Install Magento 2
2. Working with Teapplix.com - it shall sync my products and orders, but the company is very unresponsive and not good / fast at solving problems.

### Expected result

1. Magento 2 should enable another software to access data via the API

### Actual result

1. 404

2017/10/26 11

[2017-10-26 19:00] magento-team commented on #11380
Internal ticket to track issue progress: MAGETWO-82653

[2017-10-26 19:00] magento-team commented on #11534
Internal ticket to track issue progress: MAGETWO-82558

[2017-10-26 19:19] orlangur commented on #11789
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-10-26 19:19] #11789 closed, assigned to nobody

[2017-10-26 19:36] nemesis-back commented on #10440
@okorshenko I will work on it #SQUASHTOBERFEST

[2017-10-26 19:43] nemesis-back commented on #8236
I will work on it #SQUASHTOBERFEST 2017

[2017-10-26 19:49] korostii commented on #5247
Hi @magento-engcom-team,

Are you sure that the issue is resolved? (see comments above)
Could you please link the corresponding commits which supposedly fix this bug?

Thanks in advance.

[2017-10-26 20:17] korostii commented on #8055
This example is a bit borderline, don't you think? xD
Anyway, you're right that squashing has it's use-cases. But I'd still say it should be kept to minimum.

Also, your example proves the point that the backporting should be done by the same person right after merging it into `develop`.
I mean, he\she would have direct access to the source branch, have intimate knowledge of the changes done and b

[2017-10-26 20:24] pmoreno1980 commented on #11497
any update here? i didn;t have answers here or #11438

[2017-10-26 20:25] msawyers commented on #11706
Please note that you are unable to create configurable product as well, which is the main issue.

[2017-10-26 20:29] jphat opened #11791 "Post-migration error on product view/edit"
### Preconditions

1. Magento 2.2.0
2. Ubuntu 16 + PHP 7.0 + MySQL

### Steps to reproduce

### Expected result

### Actual result

Coming from Magento 1.9.3.6 to 2.2.0, migration process went relatively well and the 2.2 site is up expect while viewing or trying to edit a product, I get the following error:

`1 exception(s): Exception #0 (InvalidArgumentException): Unable to unserialize value.`
`E

[2017-10-26 20:31] korostii commented on #9227
Hi @maghamed,

IMHO the solution you've suggested on the forums ("dedicated URL resolver service which will return URL for specific entity types") would be plenty enough for most use cases (as long as it would accept Store ID as a parameter).

Is there a uniform way that could help to make this suggestion (and other feature requests \ improvements out here, really) more visible to community member

[2017-10-26 20:54] rodrigowebjump commented on #7403
Hi is there a plan to fix it in 2.2.x?

[2017-10-26 20:59] korostii commented on #9516
Why even add a bunch of modules into `app/code` at once?
If you do that very often, could you please provide a use case explaining why is this needed? The only case I think of is: when you pull code from repository and don't have an `app/etc/env.php` file (yet) because it's added to `.gitignore`.

Also, wouldn't the [existing](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-

[2017-10-26 21:07] lfolco commented on #9516
I discovered this issue when I downloaded a third party module with the intention of looking at it / evaluating it within the context of an IDE/existing Magento project. I put it in app/code when I downloaded it, and then when doing other work that involved `setup:upgrade`, I noticed that the module was enabled. This was not what I was expecting; I had expected that, once I looked over the code, I

[2017-10-26 21:15] #11782 closed, assigned to nobody

[2017-10-26 21:31] ci2014 commented on #2121
Still present in 2.2.0

[2017-10-26 21:35] ci2014 commented on #5009
I'm experiencing that problem in Magento 2.2

[2017-10-26 21:59] mikelevy300 opened #11792 "Can't add customizable options to product"
### Preconditions

1. PHP 7.0.16
2. MySQL 5.7
3. Apache 2.4
4. Magento 2.1.9 (I was able to recreate this w/ both the sample data and the data from my store)

### Steps to reproduce

1. Go into the admin panel and navigate to Stores->Attribute Set
2. Edit the default attribute set, add a new group named 'Options', add a few attributes to the new group, and save the group
3. Navigate toe Products->

[2017-10-26 22:35] nemesis-back commented on #8069
I will work on it #SQUASHTOBERFEST 2017

[2017-10-26 22:51] nemesis-back commented on #7348
I will work on it #SQUASHTOBERFEST

[2017-10-27 01:02] pushparaj100 opened #11793 "Magento2.1.5 admin shipping report shows wrong currency code"
I have working magento2.1.5 version in admin side Shipping Report had currency issues.
admin->Reports->Sales->Shipping
if i have switch to another store it is showing default currency only. the actual result should show the switched store currency only.
For example,
I have using single website with multi store view. The stores are USA, Singapore and India.
The default store is USA with currency se

[2017-10-27 01:59] walrus28 opened #11794 "Unable to Change Attribute Set with Multiple Select Attribute"
I am unable to change from an attribute set containing a multiple select attribute to one without it.

### Preconditions

1. Magento 2.1

### Steps to reproduce

1. Create new attribute, test, of type "Multiple Select" and assign it a couple of values
2. Create multiple attribute sets, default, testset1, testset2, and testset3.
3. Assign the attribute test to the attribute sets testset1 and testse

[2017-10-27 02:00] magento-team commented on #11322
Internal ticket to track issue progress: MAGETWO-82780

[2017-10-27 02:00] magento-team commented on #11586
Internal ticket to track issue progress: MAGETWO-82462

[2017-10-27 02:01] gvigner commented on #11055
How to disable it ?

I've tried this :
https://dev.mysql.com/doc/refman/5.7/en/replication-mode-change-online-disable-gtids.html
But got an error at the first command :
mysql> STOP SLAVE [FOR CHANNEL 'channel'];
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[FOR CHANNEL 'channel']' at line

[2017-10-27 02:06] careys7 commented on #11477
Thanks @dmanners, reading your comments on #11421 it sounds like you have had a trouble running a query with searchCritera?

The searchCriteria itself does work well, but it has to be constructed in a way that isn't described properly by the Swagger specification.

I think the best fix for this would be to describe searchCriteria like this in the resources that use it:

[code]

And then add a sear

[2017-10-27 02:10] alen9788 commented on #11559
It was solved after update the theme.

[2017-10-27 02:18] okorshenko commented on #7099
The issue has been fixed in 2.2-develop and will be available with 2.2.2 release

[2017-10-27 02:18] #7099 closed, assigned to enriquei4

[2017-10-27 02:19] okorshenko commented on #9869
the issue has been fixed in 2.2-develop branch and will be available in 2.2.2 release

[2017-10-27 02:19] #9869 closed, assigned to nobody

[2017-10-27 02:20] magento-team commented on #11322
Internal ticket to track issue progress: MAGETWO-82781

[2017-10-27 04:17] VictorSnow opened #11795 "GD2 out of Memory"
### Preconditions

1. Magento2.x Magento1.x
2. php 7.x

### Steps to reproduce

1. show a lot product with large images and configurable image preview options in category page
2.
3.

### Expected result

1. normal show products

### Actual result

1. will get out of memory error

this will also happend in indexing the products to  search engine or some processing batch

i put it here to suggest so

[2017-10-27 04:24] #11795 closed, assigned to nobody

[2017-10-27 05:42] magento-engcom-team commented on #6269
This issue reopened into the section "devdocs"
[https://github.com/magento/devdocs/issues/1484](url)

[2017-10-27 05:42] #6269 closed, assigned to nobody

[2017-10-27 07:22] surgyelan commented on #11612
All right, I dug deep enough to understand what' going on. It all depends on the Fraud tools>AVS settings of your Braintree Account.

If you disable postal code and address verification, the 3DS works just fine. That is the good news.

However, if you set any of these, the three_d_secure API call will return an error, the reason being the **magento module does not send to the BT API any billing ad

[2017-10-27 07:26] magento-engcom-team commented on #11559
@alen9788, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-27 07:34] thiagolima-bm commented on #8236
I am working on it

[2017-10-27 07:38] alen9788 commented on #6710
The issue happened again when the simple product was "save&duplicate" in MCE2.2

[2017-10-27 07:45] magento-engcom-team commented on #11783
@aasilva83 We could not reproduce the issue as you described it. We need more information about this issue in order to successfully investigate potential fixes. Please use our issue tracking template to format your description.
Please install fresh Magento, and try to reproduce this issue again. Specify the exact steps you used.

[2017-10-27 07:50] losetemp opened #11796 "Magento2.2.0 home page product grid issues"
Magento 2.2.0 with sample data
![20171027154814](https://user-images.githubusercontent.com/11692688/32093346-8573cfbe-bb2e-11e7-869c-518bc69106f8.png)
![20171027154736](https://user-images.githubusercontent.com/11692688/32093347-85b750ae-bb2e-11e7-84b0-e2e06c34e326.png)
![20171027154659](https://user-images.githubusercontent.com/11692688/32093348-85f531e4-bb2e-11e7-821b-996b77988b85.png)

[2017-10-27 07:53] magento-engcom-team commented on #11794
@walrus28, thank you for your report.
We've created internal ticket(s) MAGETWO-82875 to track progress on the issue.

[2017-10-27 08:00] orlangur commented on #9516
@lfolco

Obviously you shouldn't do it as without intention to run it is much safer to put in separate folder where you just have code of your project plus vendors.

Current behavior of `setup:upgrade` is something you should be already aware of if used Magento at least a month. It is much more appropriate scenario to keep only needed modules and simply run `setup:upgrade` on staging after each de

[2017-10-27 08:02] cih95 commented on #11532
The same problem to me.
after upgrade to 2.2.0

[2017-10-27 08:22] magento-engcom-team commented on #11793
@pushparaj100, thank you for your report.
We've created internal ticket(s) MAGETWO-82878 to track progress on the issue.

[2017-10-27 08:30] magento-engcom-team commented on #9164
@mikeymike, thank you for your report.
We've created internal ticket(s) MAGETWO-67000 to track progress on the issue.

[2017-10-27 08:31] thiagolima-bm commented on #8236
@veloraven @okorshenko New PR

[2017-10-27 08:41] amenk opened #11798 "Magento 2.1.9 - Refunding / Credit Memo Total Value is not updated"
### Preconditions
1. Magneto 2.1.9
2. Order with Online Payment Created

### Steps to reproduce
1.  Select invoice
2. Choose quantity 0
3. Press update quantity
4. Enter Refund Adjustmenet 10,00 EUR

### Expected result
1. The credit memo total is updated

### Actual result
1. It is not updated, you have to refund blindly

Additional catch: 10,00 is interpreted as 10.00 so this is error prone

Add

[2017-10-27 08:50] renttek commented on #11791
Did you use the migration tool?

The problem seems to be, that the values in the DB are serialized (http://php.net/manual/de/function.serialize.php) but Magento 2.2 expects those values to be JSON.

Here is the commit with the change: https://github.com/magento/magento2/commit/f4f7d8104d25cb55f12c6b2d5749045229034867

On upgrade to 2.2, the Catalog module should've converted those values to json,

[2017-10-27 08:55] elachino commented on #5475
@sasilinux - i don't think my code break other filter working, we have change only Layer/Filter/Category, did you try if without my code other filters working?

[2017-10-27 09:05] keanass commented on #11532
same problem here 2.2.0

[2017-10-27 09:08] oleksii-lisovyi opened #11799 "Incorrect calculation of qty_refunded for simple of configurable order item"
### Preconditions
1. Magento 2.1.

### Steps to reproduce
1. Place an order with configurable product with qty 5 (> 2).
2. Go to Admin panel -> Sales -> Orders.
3. Open the placed order.
4. Invoice an order (optional, depends on payment method).
5. Click on "Credit Memo" button.
6. On the "New Memo" page fill "Qty to Refund" with 2 (> 1).
7. Refund item.
8. Click on "Credit Memo" button (again).
9

[2017-10-27 09:13] yogeshsyscraft opened #11800 "Design configuration (2.2.0) does not save"
**Preconditions**

1. Magento 2.2
2. After Migration From 1.9.3.2

**Steps to reproduce**

1. Login to Admin got to Content->Design -> Configration
2. Select Any Store and click edit action
3. Do any changes -> Click of Save

**Expected result**

Changes should be saved and refresh page .

**Actual result**

![issue](https://user-images.githubusercontent.com/32513730/32096785-1d569a3c-bb25-11e7-8b

[2017-10-27 09:16] yogeshsyscraft commented on #11800
@magento-engcom-team : What is Meaning of G! FAILED LABEL ..

[2017-10-27 09:18] MattDelac commented on #8851
Hi @sopedro

Did you find any work around ?

Thanks
Matt

[2017-10-27 09:26] pvalium commented on #9744
I've solved following this steps:
-Adding sql relation to cart product item, to avoid 'missing' products if you manipulate database by hand (deleting products, using magmi, etc)
-Creating a event in sales_quote_save_before, and checking that update_at field of quote is not null. If is null, i set current_date to update_at.

Now i can make several orders without logout, and all cart strange behavio

[2017-10-27 09:27] yogeshsyscraft commented on #11800
@magento-engcom-team :: Please Check again now , and help me asap

[2017-10-27 09:28] xmav commented on #11375
I saw same issue after upgrade from 2.1.7 to 2.19
`rm -rf var/generation/* var/view_preprocessed/* pub/static/*`  solved the issue for me
(default mode)

[2017-10-27 09:28] benjamin1pcs commented on #11182
I've got the same issue. @Ylmzef did you ever find a solution for this?

[2017-10-27 09:30] magento-engcom-team commented on #11796
@losetemp, thank you for your report.
We've created internal ticket(s) MAGETWO-82879 to track progress on the issue.

[2017-10-27 09:33] benjamin1pcs commented on #11182
I just found the solution, it's a browser cache issue. I was press ctrl + ft to clear the cache for the page but it wasn't good enough, I had to clear my entire browser cache to get it to work.

[2017-10-27 09:34] thiagolima-bm commented on #8236
I had to create another PR to fix my forked branches.

[2017-10-27 10:14] keanass commented on #11532
here is the solution for duplicate product :
go to your magento root dir then : /vendor/magento/module-catalog/Model/Category/Link/SaveHandler.php

replace  mergeCategoryLinks function by this :

`private function mergeCategoryLinks($newCategoryPositions, $oldCategoryPositions)
    {
        $result = [];
        if (empty($newCategoryPositions)) {
            return $result;
        }

        fo

[2017-10-27 10:19] magento-engcom-team commented on #11792
@mikelevy300, thank you for your report.
We've created internal ticket(s) MAGETWO-82893 to track progress on the issue.

[2017-10-27 10:26] magento-engcom-team commented on #11781
Hello @deepak-netwin. I was not able to reproduce your issue with default Magento settings. Do you have any additional settings on your Magento? And can you give us more of the exact steps on how to reproduce your issue, it would be appreciated, so we can have a better understanding of this issue in order to help you. Thank you in advance.

[2017-10-27 10:43] orlangur commented on #7441
I'm working on it #SQUASHTOBERFEST

[2017-10-27 10:49] magento-engcom-team commented on #11798
@amenk, thank you for your report.
We've created internal ticket(s) MAGETWO-82894 to track progress on the issue.

[2017-10-27 10:50] magento-engcom-team commented on #11706
Hi, @msawyers. Further we describe in detail the essential steps we have been undertaking while trying to reproduce that kind of behavior. Please specify in which of them the problem occurs in Your case. So:
1. Start to create configurable product.
2. Create configuration based on one or several attributes.
3. Expand the section "Images And Videos ".
4. Click on "Add Video" button. As a result new

[2017-10-27 10:51] MattDelac commented on #8851
As a similar problem, if I import 100 customers, it works but it fails with more than 150 clients (for a total database of 2K existing clients)

An there is NO information concerning the failure
![selection_473](https://user-images.githubusercontent.com/18557047/32100791-82a35e12-bb15-11e7-8670-3848a7b6bf4f.png)

Does someone have any idea of how can I resolve this problem ?

Thank you in advances

[2017-10-27 11:00] srmedizina commented on #10071
Hi.

I got the same error but unfortunately the suggestet solution with permissions doesnt work.

I only have 1 User Login with the Administrator Role and "All" rights selectet from the dropdown (not custom).

![issue](https://user-images.githubusercontent.com/30924699/32100909-0983831c-bb16-11e7-8b7f-1e59f43e8746.jpg)

I have no additional  Logins with separate rights.

This is the error:

![issu

[2017-10-27 11:11] deepak-netwin commented on #11781
@magento-engcom-team Thanks for your reply.
There is no specific case. I just upgraded magento version from 2.1.4 to 2.2.0 via composer and face that issue when logged in at backend as well as frontend.

[2017-10-27 11:30] magento-engcom-team commented on #7322
@gabs77, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-27 11:30] #7322 closed, assigned to omiroshnichenko

[2017-10-27 11:30] magento-engcom-team commented on #4943
@SidneyBilliet , thank you for your report. Please provide more detailed steps to reproduce.

[2017-10-27 11:32] teodoriu opened #11810 "Currency Price filter is only using the base currency"
### Preconditions

1. Magento 2.1.8
2. Apache 2.4
3. PHP 7.0.24
4. MySQL 5.7

### Steps to reproduce

1. Set base currency to RON
2. Set additional allowed currency: USD, EUR
3. Set product price in RON
4. Go to category, switch to USD currency and filter by price.

### Expected result

1.  Products should be filtered by USD price

### Actual result

1. Products are filtered by RON price not by US

[2017-10-27 11:34] magento-engcom-team commented on #11776
@mnuhell Unfortunately, I can't reproduce the issue with this file, I'm having an error while trying to upload it. Please provide a better one. Kind Regards.

[2017-10-27 11:46] sasilinux commented on #5475
@elachino - Sorry now it is working. It was occurred due to other stuff. Thanks. Also, if you have any suggestions to improve the site performance and search performance via mysql or any other thing. Please guide me. Thanks in advance.

[2017-10-27 11:46] magento-engcom-team commented on #11799
@oleksii-lisovyi, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-27 11:46] #11799 closed, assigned to nobody

[2017-10-27 11:49] dmanners commented on #11477
@careys7 thank you for the update. Yeah as I found out making the call as described in the devdocs and there is no problem but when swagger is used to build the queries then we have the problems.

Would your suggestion lead to another step in swagger for the end users? i.e. use the "Try it out" button on the searchCriteria generator and then attache that to their query or would this fix the indivi

[2017-10-27 11:54] magento-engcom-team commented on #8591
@zack6849 Thanks for the feedback.
Unfortunately, as for PayPal express checkout I cannot see the ability to change password for Payflow(Payflow Pro or Payflow Link) nor for any others PayPal payments methods in store scope either.
![payflow pro](https://user-images.githubusercontent.com/11520943/32102546-81656576-bb25-11e7-99cc-7ff74f52a438.png)
![payflow link](https://user-images.githubuserconte

[2017-10-27 11:56] elektro-plus commented on #5475
Hello,

can you please unsubscribe our Mail-Address ..@elektro-plus.de

Thank you and best regards,
elektro-plus GmbH
Martin Graf

Von: sasilinux [mailto:notifications@github.com]
Gesendet: Freitag, 27. Oktober 2017 13:47
An: magento/magento2
Cc: Subscribed
Betreff: Re: [magento/magento2] Warning: Illegal offset type in /www/magento2/xxx/app/code/Magento/Catalog/Model/CategoryRepository.php on lin

[2017-10-27 12:00] kanduvisla opened #11812 "M2.1.9 : Snapshot does not take extension attributes into account"
When I set specific extension attributes for an object (invoice in my case), and I trigger a save, the `sales_order_invoice_safe_after` event is not dispatched. This is because `\Magento\Framework\Model\ResourceModel\Db\VersionControl\Snapshot::isModified()` does not take extension attributes into account.

Please not that I cannot use a repository `save()`/`get()`-plugin for this, because invoice

[2017-10-27 12:20] Tomasz-Silpion commented on #10485
In my  case problem was yet another one. On Centos with outdated lib-icu 50.1.2 PHP component IntlDateFormatter was giving 'dd.MM.yyyy' pattern instead 'dd.MM.y' which I receive with

[code]
on my local Ubuntu PHP instance supported by ICU 55.1. Seems that relying on IntlDateFormatter pattern output is a pretty serious architectural issue.

Sample fix for pl_PL language https://github.com/lcbrq/ma

[2017-10-27 12:20] orlangur commented on #11812
It's up to you how extension attributes are saved and loaded, see https://github.com/magento/magento2/issues/3941#issuecomment-218518451 for more details.

`isModified` shall not take extension attributes into account, you can customize `\Magento\Framework\Model\ResourceModel\Db\VersionControl\Metadata::getFields` if you need another logic.

This is the recommended approach.

[2017-10-27 12:20] #11812 closed, assigned to nobody

[2017-10-27 12:21] itreers commented on #5517
Fixed it with another method. (sorry for my English)
My conf:
Nginx (basic auth + exclude some API URLs from auth) - Apache - PHP-FPM - Magento 2.1.9
I have a problem with redirect from base domain to subdomain (default storeview) when calling URL with API string. POST request to api URL works ok. But GET was redirected to default storeview (subdomain URL with SID at the end of it) and goes to inf

[2017-10-27 12:22] rikwillems opened #11814 "Backend product grid filter qty 0"
I want to filter my products in the backend to show all products that have a quantity of 0.

### Steps to reproduce
Have a product with qty = 0
Set filter Quantity from: 0
Set filter Quantity to: 0

### Expected result
Filtered product to show the product with qty = 0

### Actual result
All products are shown.

[2017-10-27 12:24] orlangur commented on #10485
@TomashKhamlai are there any wrappers on top of `\Intl*` in Symfony or somewhere else to make it universal?

[2017-10-27 12:33] magento-engcom-team commented on #11740
@lee586, thank you for your report.
We've created internal ticket(s) MAGETWO-82906 to track progress on the issue.

[2017-10-27 12:37] magento-engcom-team commented on #11800
@yogeshsyscraft, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-27 12:39] magento-engcom-team commented on #11814
@rikwillems, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-27 12:39] #11814 closed, assigned to nobody

[2017-10-27 12:42] Tomasz-Silpion commented on #10485
IntlDateFormatter is a native PHP component http://php.net/manual/en/class.intldateformatter.php
I don't see it anywhere in vendor/symfony folder.

[2017-10-27 12:47] orlangur commented on #10485
Hm, ok, https://symfony.com/doc/current/components/intl.html also suggesting using ICU directly.

[2017-10-27 12:55] magento-engcom-team commented on #11810
@BTeodorWork, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-27 12:55] #11810 closed, assigned to nobody

[2017-10-27 12:57] magento-engcom-team commented on #6374
@enrico69, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-27 12:57] #6374 closed, assigned to nobody

[2017-10-27 13:07] BastienDurel commented on #11791
Got this too, after a migration (with migration tool) from 1.7

[2017-10-27 13:28] renttek commented on #11791
Hey,
I tried the DMT (data migration tool) today and had kind of the same errors.
I created an issue in the DMT repo: https://github.com/magento/data-migration-tool/issues/401

I'll try to find some time the next days to create a fix for this in the DMT.

[2017-10-27 13:30] magento-engcom-team commented on #11778
Hello @indefinitedevil. Such behavior used to happen sometimes when the admin user had the role with restricted access to resources. Could You, please tell us if Your admin user also has a restricted access. Thank You.

[2017-10-27 13:30] magento-engcom-team commented on #5843
@nmallepally, thank you for your report.
We've created internal ticket(s) MAGETWO-56760 to track progress on the issue.

[2017-10-27 13:30] magento-engcom-team commented on #3266
@Sniperumm, thank you for your report.
We've created internal ticket(s) MAGETWO-48744 to track progress on the issue.

[2017-10-27 13:32] BernardRobbins commented on #5260
I've tracked down the "An unspecified error occurred. Please contact us for assistance." error message to LoginPost.php line 189 in Magento 2.1.9. It was being caused by a table from another module was missing. Adding $e->getMessage() to that message will output why the login is failing. I have MAGE_MODE set to developer and looked in all the logs and never seen this exception.

[2017-10-27 13:33] magento-engcom-team commented on #6399
@deepanshu27193, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-27 13:33] #6399 closed, assigned to nobody

[2017-10-27 13:36] versdivers opened #11815 "Invoice aroundsave() plugin not working"
I'm trying to adjust the way how an invoice is saved. Since its a good practice to use plugins this is the way how i want to do this.

### Preconditions
1.  Magento 2.2.0
2.  PHP 7.1.8

### Steps to reproduce
1.  Create module
2. Create etc/di.xml
[code]
</config>

3.  Create Plugin/InvoicePlugin.php

[code]
### Expected result
1.  Just do stuff

### Actual result
This is not doing anything. Its n

[2017-10-27 13:43] #3178 closed, assigned to nobody

[2017-10-27 13:46] orlangur commented on #11815
Well, you cannot create plugin without debugging which methods of which classes are actually used in needed scenario.

Is `InvoiceRepository` involved in scenario you trying to customize? You can check it by putting `var_dump + die` into `save` method.

[2017-10-27 13:50] joni-jones commented on #11612
Hi, @surgyelan, sorry for a delay.

Magento uses 3D secure verification based on `paymentMethodNonce` https://developers.braintreepayments.com/guides/3d-secure/client-side/javascript/v2#verify-a-credit-card. This integration doesn't provide a possibility to set any billing address details and Magento Braintree integration doesn't have any card details because based on hosted fields integration.

B

[2017-10-27 13:50] magento-engcom-team commented on #11424
@nmallepally, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-27 13:50] #11424 closed, assigned to nobody

[2017-10-27 13:51] TomashKhamlai commented on #11477
@magento-engcom-team please, recheck the status of those tickets [MAGETWO-81910](https://jira.corp.magento.com/browse/MAGETWO-81910), [MAGETWO-81904](https://jira.corp.magento.com/browse/MAGETWO-81904), [MAGETWO-82487](https://jira.corp.magento.com/browse/MAGETWO-82487).

Try to use this test [MAGETWO-82903](https://jira.corp.magento.com/browse/MAGETWO-82903).

Pay attention to some bugs that are

[2017-10-27 13:55] ishakhsuvarov commented on #11781
@deepak-netwin Unfortunately we can not help in any way unless we are able to reproduce the issue as well.
Please try with the clean Magento installation, to make sure that none of the third-party extensions are causing the issue.
Thank you.

[2017-10-27 14:03] versdivers commented on #11815
Well the scenario is that Magento creates an invoice. Thats it.
Every time that Magento generates an invoice no matter how.

I did the following in the InvoiceRepository :
[code]

But this is not used for some weird reason. So when i create an order the OrderRepository is used. But when i create an Invoice the InvoiceRepository is not used? When does it get used? What does it used then? How can Ma

[2017-10-27 14:03] orlangur commented on #11791
@renttek thanks for filing an issue in appropriate repository.

[2017-10-27 14:03] #11791 closed, assigned to nobody

[2017-10-27 14:09] versdivers commented on #11815
After some more digging in Magento\Sales\Api\InvoiceRepositoryInterface if i change
`    public function save(\Magento\Sales\Api\Data\InvoiceInterface $entity);
`to
`    public function save();
`
then it gives an error on creating the order (not saving it)
`Fatal error: Declaration of Magento\Sales\Model\Order\InvoiceRepository::save(Magento\Sales\Api\Data\InvoiceInterface $entity) must be compati

[2017-10-27 14:18] okorshenko commented on #4683
Hi @aoldoni starting with release 2.1.0 we decided to do not duplication information from the release notes and changelog. So we stopped adding this information.
But with release 2.1.8+ we decided to keep only Community Changelog in the code base (fixed issues and PRs by the community). Release notes will have both: core fixes + community.
So this was done by agreement.
Closing as non-issue

[2017-10-27 14:18] #4683 closed, assigned to okorshenko

[2017-10-27 14:19] paveq opened #11816 "Javascript source maps not being generated when using JS minify/bundling"
### Preconditions

1. Install any Magento 2.x version
2. Enable JS minifying & bundling

### Steps to reproduce

1. Attempt to debug code in Chrome or use error reporting tool such as Sentry.io

### Expected result

1. Javascript source maps are available to be consumed

### Actual result

1. No possibility to generate javascript source maps during minify/bundle phase

[2017-10-27 14:21] orlangur commented on #11815
I meant execution flow from code perspective. Just set a breakpoint in needed controller and try step-by-step debugging with xdebug.

[2017-10-27 14:22] magento-engcom-team commented on #11095
@friimaind, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-27 14:30] magento-engcom-team commented on #7455
@djpaoloc, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-27 14:30] #7455 closed, assigned to magento-engcom-team

[2017-10-27 14:42] versdivers commented on #11815
I have been through the Controller of Magento/Sales/Model/Order/Invoice

Is it possible that it doesn't invoke a save?
The only thing that i see is that it registers the invoice and invokes the event
[code]

[2017-10-27 14:47] BTeodorWork commented on #11810
Thanks.

Can you point me to the commit that fixed this?

[2017-10-27 14:51] okorshenko commented on #9007
Hi @PascalBrouwers
the issue has been fixed and delivered to 2.1-develop branch

[2017-10-27 14:51] #9007 closed, assigned to nobody

[2017-10-27 14:52] keyurshah070 commented on #4728
I'm working on it #SQUASHTOBERFEST

[2017-10-27 14:59] orlangur commented on #11095
@magento-engcom-team did you try steps from https://github.com/magento/magento2/pull/11735? So basically you need to set `null` manually to mentioned field in database to recreate circumstances of bug report.

[2017-10-27 15:01] orlangur commented on #11095
@lewisvoncken I don't see this issue was ever eligible for #SQUASHTOBERFEST

[2017-10-27 15:02] orlangur commented on #11815
I believe after multiple `addObject` they are saved in `$transactionSave->save();`. During debug try tracing into that method.

[2017-10-27 15:06] magento-engcom-team commented on #8511
@srinivasanithin , please refer to the [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [here](https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572#M96)) site for Feature Requests and Improvements. The GitHub issue tracker is intended for Magento Core t

[2017-10-27 15:09] vladimnir commented on #7348
Hi @Januszpl , i think that your issue is that you are trying to modify the blank theme , you should do it in Luma's theme , i did that and it's working fine
![lumatheme](https://user-images.githubusercontent.com/15436431/32110943-ff4ef94e-bb06-11e7-833f-b0daece9a7a3.png)

![hide](https://user-images.githubusercontent.com/15436431/32110989-2b3a0058-bb07-11e7-8dbf-aa96c1dd575c.png)
As you can see h

[2017-10-27 15:18] magento-team commented on #9007
Internal ticket to track issue progress: MAGETWO-82527

[2017-10-27 15:18] magento-team commented on #7927
Internal ticket to track issue progress: MAGETWO-82760

[2017-10-27 15:18] magento-team commented on #11022
Internal ticket to track issue progress: MAGETWO-81910

[2017-10-27 15:24] magento-engcom-team commented on #11768
Hello @Tjab. Could You please specify what did You mean under "description" in  #11648 - the Description of the product which along with Short Description stands as a separate attribute of the product (belongs to Content section of the product page) or simply the name of the product (Product Name). Thank You.

[2017-10-27 15:55] israel181 opened #11818 "Somepages doesn't exist and the first page looks bad"
### Preconditions

I am using Magento-CE-2.2.0-2017-09-26-07-35-18 (the latest) and the page doesn't charge and I can't enter in admin's zone.
PHP is 7.0.24
And MySQL is 5.6

Any page I try to join and it doesn't charge. Only the first page who doesn't seems well.
I have set the admin page on http://IP/admin

### Expected result

Access to admin magento and page good well

### Actual result

As yo

[2017-10-27 16:20] versdivers commented on #11815
@orlangur Well indeed this is the flow. But after a closer look Shipments use exactly the same way.
I'm wondering how i can determine that its in fact an invocie.

This whole process seems a bit odd.

[2017-10-27 16:22] orlangur commented on #11815
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-10-27 16:22] #11815 closed, assigned to nobody

[2017-10-27 16:27] versdivers commented on #11815
How is this a stack exchange problem? Nobody is going to know the answer to a subject that seems to be unresolvable.

Everyone uses observers to have some custom code in the invoice but this should be possible with a plugin. Since the only Save action is within a class that uses Objects and is also used for shipments this seems to be not flexible at all. Invoices are an important part within Magen

[2017-10-27 16:30] magento-engcom-team commented on #9177
@maderlock, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-27 16:30] orlangur commented on #11816
Did you read somewhere they are supposed to be generated? Minifying & bundling is usually used in production mode and not during debug.

[2017-10-27 16:33] orlangur commented on #11815
This is purely customization problem. You can see that invoice is successfully updated with core logic and you need to find out using which invoice methods it is achieved.

When you find an appropriate method, you can easily implement a plugin for it.

[2017-10-27 16:43] cleancheckout commented on #3625
We ran into the same issue for one of our clients.

This doesn't qualify to close the current issue, but it's a work-around so that at least the customer won't see outdated prices.

[code]

It essentially makes sure that the cart section is expired in local storage on every request. This section update call only takes ~100ms for us, and doesn't block rendering. So we're pretty happy with the resul

[2017-10-27 17:24] msawyers commented on #11706
Please see image attached.
![video](https://user-images.githubusercontent.com/8907629/32116828-c8c7a78a-bb11-11e7-99ea-0b77cab867b3.PNG)

[2017-10-27 17:31] msawyers commented on #11706
Additionally, when creating configurations and added associated products they disappear after save.

BEFORE

![before](https://user-images.githubusercontent.com/8907629/32117105-bec408f4-bb12-11e7-8b2f-d9e5eebda419.PNG)

AFTER

![after](https://user-images.githubusercontent.com/8907629/32117122-cf7d3332-bb12-11e7-940b-516477e4ee9f.PNG)

[2017-10-27 17:49] versdivers commented on #11815
The function that you want to use here is the $invoice->register() for anyone who wants to know in the future.

@orlangur  i highly disagree. The whole Magento enterprise counts on the fact that Magento is used by developers for their customers. As a developer i disagree with the fact that an invoice is not saved but registered and afterwards saved within an object as this causes confusion and non

[2017-10-27 17:59] Januszpl commented on #7348
@vladimnir it my case it was also not visible. The problem was with the html output.
1) can you check source? and show generated output?
2) can you send mail and check in mail content the source?

In both case you should see in source div with class "hide-me" after div "show-me" (in html source, not on the generated page in browser)

[2017-10-27 18:04] orlangur commented on #11815
It is implemented this way to save multiple entities in one transaction, isn't it?

Your initial request was "how to perform a particular customization?", such request is still not a bug report but a feature request.

GitHub is intended for bug reports, please use [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) for other suggestions like i

[2017-10-27 18:31] #11729 closed, assigned to nobody

[2017-10-27 18:31] magento-team commented on #6891
Internal ticket to track issue progress: MAGETWO-82755

[2017-10-27 18:31] magento-team commented on #11365
Internal ticket to track issue progress: MAGETWO-82753

[2017-10-27 18:32] okorshenko commented on #11365
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-27 18:32] #11365 closed, assigned to nobody

[2017-10-27 18:34] okorshenko commented on #6891
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-27 18:34] #6891 closed, assigned to nobody

[2017-10-27 18:51] careys7 commented on #11477
@dmanners it would result in a second step, but because search criteria can describe an endless number of filters, filter groups and condition types, I think a new endpoint to accept the criteria as JSON (which can be properly described as a Swagger model) is the most compliant to the specification.

[2017-10-27 18:58] versdivers commented on #11754
Any update on this?

[2017-10-27 19:00] magento-team commented on #11729
Internal ticket to track issue progress: MAGETWO-82851

[2017-10-27 19:13] karlsminton commented on #8018
I attempted the isRangingNeeded true fix and it didn't help. This was for 2.1.8

[2017-10-27 19:41] Silarn opened #11821 "Shopial Integration Failing to Authenticate"
### Preconditions
1. Using Magento 2.2 CE

### Steps to reproduce
1. Under System / Integrations, attempt to activate the Magento Social integration

### Expected result
1. Integration window opens, allows you to accept, and pushes the response back to Magento
2. Integration is active

### Actual result
1. The integration window is opened with this message:
[code]
(Yes, those <> parts are filled i

[2017-10-27 19:45] JanuszWitrykus commented on #7530
But in api you returns id, not entity_id, so why ask about entity_id? Shit, Magento 2 is total shit written by children for idiots.

[2017-10-27 19:53] magento-team commented on #6891
Internal ticket to track issue progress: MAGETWO-82756

[2017-10-27 20:08] jacuenca commented on #7617
The error occurs when using a role other than the administrator
The call to the iframe returns permission error

[2017-10-27 20:32] cvocke commented on #6897
Still running into this issue on 2.1.9 EE with Paypal Express for Payflow Pro. Setting "Transfer cart items" to No is working as a temporary fix for us as well

[2017-10-27 20:43] brndnu commented on #7934
This won't matter soon because Content Experiments is being deprecated by Google and replaced with Google Optimize.

[2017-10-27 21:40] carloricci84 opened #11825 "2.1.9 Item not added to the Wishlist if the user is not logged at the moment he click on the button to add it."
### Preconditions

1. Magento 2.1.9 installed

### Steps to reproduce

1. Create an user account.
2. Logout from the user account
3. Add a product to your Wishlist , you will get redirected to the login page
4. Login

### Expected result

1. You are redirected to the customer account Wishlist page and the product is added.

### Actual result

1. You are redirected to the customer account Wishlist

[2017-10-27 22:08] tipstops opened #11826 "magento 2 design_config save 404 error: Page not found"
I have a magento 2 multi store site. just migrated from M1.
after install theme, i wanted to change from design config.
when i press save button, it shows a white page with "404 error: Page not found"

[2017-10-27 22:31] lee586 opened #11828 "Visual Swatches not showing swatch color in admin"
### Preconditions

1. Magento CE 2.2
2. PHP 7.1.0

### Steps to reproduce

1. Inside admin, go to Stores->Product and click on an attribute that contains visual swatches.

### Expected result

1. Visual Swatches that have a color assigned should show that color in the swatch box.

### Actual result

1. Although the color swatch values are being saved, the visual representation of the color in the

[2017-10-27 23:29] SlavaYurthev opened #11831 "7.1.10 Issue"
### Preconditions
1. PHP 7.1.10
2. Magento 2.2.0

### Steps to reproduce
1. Run php bin/magento ...any command...

### Actual result
1. Print: Magento supports 7.0.2, 7.0.4, and 7.0.6 or later. Please read http://devdocs.magento.com/guides/v1.0/install-gde/system-requirements.html

[2017-10-27 23:38] thatwill commented on #10165
Same issue with Varnish 5.0, Magento 2.2, and nginx.

So in my case, Varnish was immediately reporting "503 backend fetch failed" with the same "no backend connection" error in varnishlog, and it turned out it was due to the probe for health_check.php returning a 404 error.

Simple solution - the probe in Magento's VCL conf file is pointing to the wrong address, seeing as `nginx.conf.sample` sets

[2017-10-27 23:53] jonashrem commented on #8204
I'm working on it #SQUASHTOBERFEST

[2017-10-27 23:55] alen9788 commented on #11187
We are not able to choose any specific products for any kind of widget option or any display at CE2.2

![choose](https://user-images.githubusercontent.com/20162144/32128980-45ea9846-bbb5-11e7-86d3-8679bcc9181a.jpg)

[2017-10-28 01:22] SlavaYurthev commented on #11571
no, not core fields\forms, i have custom form with bundle options and needs use this script for the correctly form serialize, and for example fields with data-validate="{'some_rule':true}" are passed validation at the any way....

[2017-10-28 01:31] SlavaYurthev commented on #11831
Sorry, found issue.
PHP 5.6.31 (cli)

[2017-10-28 03:01] psbhanu opened #11832 "Create order (on Customer edit page) - not working from admin environment"
**Getting Fatal error while trying to access create order page from Customer edit screen.**

`Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Sales\Block\Adminhtml\Order\Create\Sidebar\Wishlist\Interceptor::getItemPrice() must be an instance of Magento\Catalog\Model\Product, instance of Magento\Wishlist\Model\Item given, called in /home/psbhanu/public_html/subdomains/ishop/vendor/mag

[2017-10-28 07:12] jalot commented on #5247
same problem here on clean install.
no difference on install by ftp (web setup) or by composer.
issue remains

[2017-10-28 09:58] jonashrem commented on #10790
@okorshenko  please remove my assignment here.

Sorry for the trouble.

[2017-10-28 12:42] tipstops commented on #11826
i solved it

[2017-10-28 13:20] ashik685 commented on #3500
Not working in my cpanel .. stuck on same .

[2017-10-28 14:39] cih95 commented on #11532
When i change the code the result is:
The value specified in the URL Key field would generate a URL that already exists.

To resolve this conflict, you can either change the value of the URL Key field (located in the Search Engine Optimization section) to a unique value, or change the Request Path fields in all locations listed below:

- laptop-asus-rog-g752vy-gc100d-1.html

- kompjutri-i-laptopi/

[2017-10-28 15:33] okorshenko commented on #8511
Hi @srinivasanithin if you would like to improve system behavior, please submit a pull request. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-10-28 15:33] #8511 closed, assigned to nobody

[2017-10-28 16:26] okorshenko commented on #4696
Hi @BenSpace48 the issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-28 16:26] #4696 closed, assigned to nobody

[2017-10-28 16:28] okorshenko commented on #11581
the issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-28 16:28] #11581 closed, assigned to dverkade

[2017-10-28 16:29] okorshenko commented on #7640
@redelschaap the issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-28 16:29] #7640 closed, assigned to nmalevanec

[2017-10-28 16:29] okorshenko commented on #4711
@leoquijano the issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-10-28 16:29] #4711 closed, assigned to p-bystritsky

[2017-10-28 16:32] magento-team commented on #11581
Internal ticket to track issue progress: MAGETWO-82953

[2017-10-28 16:32] magento-team commented on #4711
Internal ticket to track issue progress: MAGETWO-82886

[2017-10-28 16:32] magento-team commented on #7640
Internal ticket to track issue progress: MAGETWO-82887

[2017-10-28 16:32] magento-team commented on #6924
Internal ticket to track issue progress: MAGETWO-81594

[2017-10-28 16:36] magento-engcom-team commented on #5852
@rasmuswikman, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-28 16:36] #5852 closed, assigned to odubovyk

[2017-10-28 16:39] #11364 closed, assigned to nobody

[2017-10-28 16:53] vaimo-wilko commented on #8734
For anyone that comes here: In addition to checking that the web-server (e.g. nginx) is not adding these extra headers, also check the load-balancer (e.g. haproxy), if there is one. In my case haproxy was adding these.

[2017-10-28 17:05] maqlec commented on #8734
@vaimo-wilko you are right. In my case was the same thing. Proxy was added this header second time.
However, there should be possibility to disable X-XSS-Protection header in Magento because in most cases proxy handles more than one site.

[2017-10-28 17:53] israel181 commented on #11818
Do someone does why this happens? VPS with 1 core and 4 gb ram.
I tried to reinstall it but the same.

[2017-10-28 18:16] leoquijano commented on #4711
Thank you.

[2017-10-28 18:40] okorshenko commented on #10834
Hi @bohemiorulo please accept the invite to join magento2 repository on the GitHub?

[2017-10-28 19:48] orlangur commented on #11571
There is nothing to fix here from core perspective if there are no fields in core which are supposed to be validated. You need to fix your own implementation instead.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2017-10-28 19:48] #11571 closed, assigned to orlangur

[2017-10-28 19:51] orlangur commented on #11831
@SlavaYurthev thanks for sorting this out pretty quickly, there were already similar bug reports when PHP version in CLI and Web differs.

[2017-10-28 19:51] #11831 closed, assigned to nobody

[2017-10-28 20:02] briscoda commented on #10090
I am working on this one, can you please assign it to me?  #squashtoberfest

[2017-10-28 20:31] briscoda commented on #10090
I think this one could be resolved with documentation rather than code as @pooshok has mentioned.

@okorshenko @magento-engcom-team

[2017-10-28 21:17] dverkade commented on #6146
I was working on this issue for the #SQUASHTOBERFEST and found out the following.
- Setting the return path to sendmail should be done by adding "-f mail@address.com" to the mail() function parameters parameter.
- The Transport model can be changed to achieve this.

The problem I found is that the included Zend Framework 1 package had changed. In the Zend/Mail/Transport/Sendmail.php class the _sen

[2017-10-28 21:51] spotmarketing opened #11838 "Magento 2 "add to cart" not working for configurable for Magento 2.2.0"
We have several products we just developed into our store.  Configurable products will not allow "add to Cart" to work.  Other products that are not configurable work fine and the add to cart feature works.

### Preconditions

1.  Magento 2.2.0
2.

### Steps to reproduce

1.   when you click on add to cart for products that are configurable the Add to cart will not work and comes up with a "We can

[2017-10-28 21:51] ghost opened #11839 "Error "attribute type not allowed" after upgrading to 2.2.0"
Hello guys,

After my upgrade from 2.1.6 to 2.2.0, everything is working just fine in the backend. The problem is in the front end. I encounter the following problem:

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'block', attribute 'type': The attribute 'type' is not allowed.
Line: 768

Element 'block', attribute 'type': The attribute 'type' is not allow

[2017-10-28 22:26] MarekKarmelski commented on #5715
Problem still exist: https://github.com/magento/magento2/blob/2.1.10-preview/app/code/Magento/Eav/Model/ResourceModel/Entity/Attribute.php

You don't add this fix [https://github.com/magento/magento2/commit/21d58ef7b7af29ebfea183dbe5e4a084a5b2c343] to 2.1.9!

[2017-10-28 22:49] Tomasz-Silpion commented on #10580
@devhero-tech please check if https://packagist.org/packages/lcbrq/magento2-dateformatpatch would solve your problem.

[2017-10-28 23:37] Mehran91z opened #11840 "Cannot override `Http Request` class"
### Preconditions

1. Magento 2.1.9
2. PHP 7.0.22

### Steps to reproduce

#### 1. Create new simple module (registration.php, composer.json, module.xml)

- ##### registration.php

`\Magento\Framework\Component\ComponentRegistrar::register(
    \Magento\Framework\Component\ComponentRegistrar::MODULE,
    'Mehran_UnicodeURL',
    __DIR__
);`
- ##### composer.json
`
{
  "name": "mehran/module-unicod

[2017-10-29 09:14] GuerrillaCoder opened #11841 "Magento 2.1.9 require blocks no longer work in CMS"
### Preconditions

Magento 2.1.9
PHP 7.0.24

### Steps to reproduce

1.  Add requirejs-config.js into `app/design/frontend/vendor/theme`
[code]
2. Add this inline javascript to a cms page

[code]
3.  load page
### Expected result

1.  Alert should show that `jQueryBootstrap` is an instantiated object

### Actual result

1. `jQueryBootstrap` is undefined.

If I use this require block in my page tem

[2017-10-29 09:29] Raiden9000 commented on #5247
Clean install of 2.2. Same problem.

[2017-10-29 09:36] jalot commented on #5247
I solved it by manually installation of extensions thru composer commands with putty.
Works fine. Although i would love to have a working web setup wizard

Verstuurd vanaf mijn iPhone

Op 29 okt. 2017 om 10:30 heeft Raiden9000 <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Clean install of 2.2. Same problem.

—
You are receiving this because you commented.
Re

[2017-10-29 10:22] maderlock commented on #8992
I can reproduce this in 2.1.9, so I wonder what is going on here? Does sorting not take into account special prices if set by catalog price rules maybe?

[2017-10-29 10:28] Raiden9000 commented on #5247
I got it to show up. I was following this tutorial for installing magento: https://www.howtoforge.com/tutorial/how-to-setup-magento-2-with-varnish-and-apache-on-ubuntu-1604/

What I changed was the port from 8080 (as indicated in the tut) to 80 default.
The reason it's changed to 8080 is to run Varnish on 80.

[2017-10-29 12:07] maderlock commented on #8992
I do need to confirm that this is true on the vanilla 2.0.9 as I am using a layered navigation module and I know they can interfere with ordering sometimes.

[2017-10-29 13:18] GuerrillaCoder commented on #11841
issue fixed, wasnt magento issue

[2017-10-29 13:18] #11841 closed, assigned to nobody

[2017-10-29 14:07] keyurshah070 commented on #1838
I'm working on it #SQUASHTOBERFEST

[2017-10-29 14:32] keyurshah070 commented on #1839
I'm working on it #SQUASHTOBERFEST

[2017-10-29 15:14] gvigner commented on #11379
This problem and its solution have been reported here :
https://github.com/magento/magento2/issues/10908

[2017-10-29 15:28] ricoliv commented on #8509
We need a stable store/language switcher in Magento 2.1.9 and had same problem as described by Noewt. It seems getTargetStorePostData() in .../switch/languages.phtml is the source of the problem. Since it looks like patches available still will need some good and thorough testing, we went for following temporary workaround in  .../switch/languages.phtml

    <?php foreach ($this->getStores() as $_

[2017-10-29 18:03] orlangur commented on #11840
Can you reproduce an issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Note that Windows is not in the list.

[2017-10-29 18:08] orlangur commented on #11839
Hi @iulianemb, this is correct system behavior, you need to remove or refactor invalid `type` attributes as validator suggests.

Please check https://github.com/magento/magento2/issues/11116#issuecomment-332864555 for more details.

[2017-10-29 18:08] #11839 closed, assigned to nobody

[2017-10-29 18:26] iulianemb commented on #11839
I understand. I'm new in Magento. Could give me a link which describes from where should I remove the invalid type attribute or other attributes or from where can I refactor it?

Should I do it from /vendor/magento/framework/View/Layout/etc/elements.xsd, on line 313 where I have those lines declared in the above post?

[2017-10-29 19:21] tr46 opened #11850 "Magento "Attention Something went wrong." message on content>design>config page"
##versions
1. php 7.0.24
2. magento 2.1.0
3. mysql 5.0.12
4. Centos 6.9

##tried
1.  Error also exist on php 5.6
2.  Error also exist after deleting table entries within ui_bookmark https://github.com/magento/magento2/issues/6602
3.  Error also exists after flushing all cache
4.  Error exists on admin>content>design>config page and admin>content>elements>blocks page

##screenshot
1. Configuration

[2017-10-29 20:04] devhero-tech commented on #10580
thanks @Tomasz-Silpion , I made upgrade to 2.2 and works fine :)

[2017-10-29 20:21] gwharton commented on #10580
Just so we are clear @devhero-tech and @Tomasz-Silpion, this github issue is regarding the month and date being the wrong way round for several locales. i.e when you request 30/10/2017 in the UK (and i suspect any locale where the day comes before the month), it says it is invalid, because it thinks you are trying to set the date to the 10th day of the 30th month.

The issue that the above patch i

[2017-10-29 21:51] Cornel99 opened #11853 "Magento 2.1.9 translate doesn't work in minicart and checkout"
### Preconditions

1. I am using Magento 2.1.9
2. Instaled 2 language packs, English and Romanian (correctly deployed and upgraded, cache cleared etc.)

### Steps to reproduce

1. I have 3 translating issues when the site is in Romanian:
a. The first one is when I click on the "Add to Cart" button, the following text is still in English: Adding..., Added, Add to Cart
b. When I see the minicart in

[2017-10-29 21:55] orlangur commented on #11839
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. After you post a question please add link here and I will answer shortly.

[2017-10-29 22:21] ksz2013 commented on #6367
Hi
@ShapesGraphicStudio try includin your custom @import font directive with .css postfixed.
In your example: @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i,900,900i.css');

For me this resolved the problem.

[2017-10-29 22:24] iulianemb commented on #11839
@orlangur, thanks for your support. I've posted it on Magento Stack Exchange. Here's the link: https://magento.stackexchange.com/questions/199151/magento-2-2-0-upgrade-error-attribute-type-is-not-allowed

[2017-10-29 22:39] nemesis-back commented on #8954
I will work on it #SQUASHTOBERFEST 2017

[2017-10-30 00:41] nemesis-back commented on #4004
I will work on it #SQUASHTOBERFEST 2017

[2017-10-30 02:03] adrian-martinez-interactiv4 commented on #11697
@Triloworld PRs on the way

[2017-10-30 02:32] syedsaleem086 opened #11864 "Static content deployment is not working for custom developed theme - Magento 2.2.0"
[app.tar.gz](https://github.com/magento/magento2/files/1425772/app.tar.gz)
Static content deploy is not working on staging environment for the custom developed a theme,
theme files not contain any files yet. Registered as a new theme. attached theme files for reference

It is working on windows machine
Windows machine configuration is PHP 7.1

### Preconditions
1. PHP Version 7.0.24
2. OS Linux

#

[2017-10-30 02:59] duongquyet commented on #11864
Hi,
You can try to change permission of folder pub to 777.

[2017-10-30 03:01] syedsaleem086 commented on #11864
Hi @duongquyet
I have given full permission

And tried running this command from root user too

[2017-10-30 03:03] duongquyet commented on #11864
Hi,
chmod -R 777 pub var

[2017-10-30 03:06] syedsaleem086 commented on #11864
Hi @duongquyet
I have run this command already

[2017-10-30 03:14] syedsaleem086 commented on #11864
Hi @duongquyet

Tried again but No Luck,
Same issue

[2017-10-30 03:28] syedsaleem086 commented on #11864
Hi @duongquyet
Attached snapshot for your reference
![2017-10-30_08h55_11](https://user-images.githubusercontent.com/15724424/32153415-6c981d8c-bd50-11e7-8f9e-8d21ce279871.png)

[2017-10-30 05:02] yogeshsyscraft commented on #11800
@magento-engcom-team  :  Thanks For your reply ,

This issue comes after migration From Magento 19.3.2 To Magento 2.2.0 , please suggest something , how to resolve ,

Thanks
Yogesh

[2017-10-30 05:54] yogeshsyscraft commented on #11800
when i debug , i found

Action is not Being Executed , i have tried to Test With

but still page redirect to 404 ,

please suggest something ,

[2017-10-30 06:41] yogeshsyscraft commented on #11826
@tipstops  Can you please let me know how you solved it  ? as  i am facing same issue

Thanks
Yogesh

[2017-10-30 07:44] yogeshsyscraft commented on #11800
how will it solved  ? @magento-engcom-team

[2017-10-30 07:57] Anees-Ahmad commented on #5352
I have a quick solution to do this and it will done by changing core files.Open magento vendor/magento/module_email/view/frontend/email header.phtml file.In this file change the img src by adding your logo img hardcode around line 50.

[2017-10-30 08:13] mnuhell commented on #11776
@magento-engcom-team in the version 2.1.7 with this configuration work perfectly.

![captura de pantalla 2017-10-30 09 01 34](https://user-images.githubusercontent.com/558183/32160539-79b853cc-bd52-11e7-98c3-764f1b133c41.png)

Thanks.

[2017-10-30 08:14] magento-engcom-team commented on #11850
Hello @tr46, thank you for your report! Please provide more steps in order for us to be able to reproduce this issue. Thank you in advance!

[2017-10-30 08:18] duckchip commented on #4822
Tested on 2.1.9

I'm having the same issue. Even when creating a new product attribute of type multiselect in the backend, the problem occurs: when selecting an option in the multiselect on a product, the value doesn't get saved.

As @AgentGod explained, there's a detour of making this to work:
1. remove all upsells, cross-sells and related products.
2. save the product
3. make changes to the mult

[2017-10-30 08:29] OleksiyOleksiyovych opened #11868 ""Add Products" button has been duplicated after the customer group was changed"
### Preconditions

1. Magneto 2.2.0 and previous versions

### Steps to reproduce

1. Login to admin panel
2. Go to: Sales - Orders - Create New Order
3. Select existing customer or create new
4. Change customer group

### Expected result

1. Button "Add products" ("Add Products", "Add Products By SKU" on EE) should not duplicated.

### Actual result

1. Button "Add products" ("Add Products", "Add

[2017-10-30 08:29] magento-engcom-team commented on #11828
@lee586, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-30 08:30] magento-engcom-team commented on #11364
@RishabhRkRai, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-30 08:40] magento-engcom-team commented on #11821
@Silarn We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. In addition, identify the web server you are running, the versions of PHP and MySQL, and any other information needed to reproduce your issue.

[2017-10-30 08:43] magento-engcom-team commented on #11776
@mnuhell Just tried with a clean instance of 2.1.7, same can't reproduce. The file seems to be broken!
![image](https://user-images.githubusercontent.com/31669971/32161580-c34de5b8-bd5e-11e7-82e3-87e3a7d49d33.png) Please provide a better file. Do you have any extra settings on your Magento?

[2017-10-30 08:46] ishakhsuvarov commented on #11800
Hi @yogeshsyscraft
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-10-30 08:46] #11800 closed, assigned to nobody

[2017-10-30 08:46] mnuhell commented on #11776
Ok, that's because you have to change the `Field separator` with a `;`

[2017-10-30 08:47] TomashKhamlai commented on #11095
Reproduced

[2017-10-30 08:50] magento-engcom-team commented on #11776
@mnuhell Oh, okay I see! But still, doesn't allow me to upload the file!
![image](https://user-images.githubusercontent.com/31669971/32161878-cc987470-bd5f-11e7-9a9a-22a7c7af5b81.png)

[2017-10-30 08:50] lewisvoncken commented on #11095
@TomashKhamlai I also could reproduce and I have provided a fix in pull request #11735

[2017-10-30 08:51] SpartakusMd opened #11870 ""0" in customizable options price keeps the old value"
Hello,

There is a issue with the price field. Let's say you have a customizable option for which the price of a value is 10$. If you edit the product and change the price to "0" (not "0.0"), after saving, the price will be 10$. If you set "0" when you add another value, after saving the price will be empty.

### Preconditions
1. Tested on Magento 2.1.6 and 2.1.9

### Steps to reproduce
1. Create

[2017-10-30 08:53] magento-engcom-team commented on #11832
Hello @psbhanu. Thanks for reporting. Can You reproduce Your issue on a fresh Magento 2.2.0 instance?

[2017-10-30 08:54] mnuhell commented on #11776
these rows are configurable products, I do not know what may be happening now. :( I do not have any problems uploading file in my Magento install.

[2017-10-30 08:54] yogeshsyscraft commented on #11800
Hi @ishakhsuvarov
i have raised issue there , but no one is responding .

[2017-10-30 08:57] mnuhell commented on #11776
I get 2 days uploading the file without problems, and everything works, except the configurables that are not activated.

[2017-10-30 08:58] magento-engcom-team commented on #11776
@mnuhell Okay, and do you have any additional settings on your Magento? Like third parties extensions or specific settings in your admin panel?

[2017-10-30 09:04] mnuhell commented on #11776
Sorry, I have Attribute, color_watch for those products. that may be the error of rows 5, 10 and 19
![captura de pantalla 2017-10-30 10 03 04](https://user-images.githubusercontent.com/558183/32162529-a0a9943a-bd59-11e7-835b-80ab4af7cacc.png)

[2017-10-30 09:07] magento-engcom-team commented on #11832
Sorry for needless disturbing You @psbhanu. We've just managed to reproduce Your issue. Soon our internal ticket will have been created.

[2017-10-30 09:08] magento-engcom-team commented on #11776
@mnuhell Is that a visual swatch?

[2017-10-30 09:10] mnuhell commented on #11776
@magento-engcom-team Yes is visual watch?

[2017-10-30 09:11] adrzz commented on #11703
Magento 2.2
Same error in new products.

[2017-10-30 09:12] magento-engcom-team commented on #11706
Hi, @msawyers. Tell us please whether You are able to reproduce this issue on a fresh clear install of Magento 2.2.0 CE. Thank You.

[2017-10-30 09:30] magento-engcom-team commented on #11868
@OleksiyOleksiyovych, thank you for your report.
We've created internal ticket(s) MAGETWO-82975 to track progress on the issue.

[2017-10-30 09:33] Triloworld commented on #11697
Sorry for wrong attribute. What I mean is 'class="test"' but this problem was more abstract (any attribute won't work). Thanks for PRs.

[2017-10-30 09:38] magento-engcom-team commented on #11870
Hi @SpartakusMd, thanks for a well-formed bug report!

It is a duplicate of [#4092](https://github.com/magento/magento2/issues/4092), [#4808](https://github.com/magento/magento2/issues/4808)

[2017-10-30 09:39] #11870 closed, assigned to nobody

[2017-10-30 09:40] duckchip commented on #4822
after further digging i found that when you have a configurable product in your up-sells/cross-sells, the price becomes 0, explained in issue magento/magento2/issues/8960
When removing this configurable product from the up-sells/cross-sells/... The mulit-select attribute works just fine.

[2017-10-30 09:43] magento-engcom-team commented on #11776
I tried to create a color_watch attribute, still have an error. As much as I want to help, I probably want to be able to help you with this issue. I think the source of this problem is mixed websites (multi-stores) and mixed languages and other settings that you have in your Magento.
![image](https://user-images.githubusercontent.com/31669971/32164101-1e4364c2-bd67-11e7-86d9-a2f3e091c0ec.png)

[2017-10-30 09:44] magento-engcom-team commented on #11838
@spotmarketing, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-30 09:44] #11838 closed, assigned to nobody

[2017-10-30 09:44] magento-engcom-team commented on #11838
@spotmarketing, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-30 09:56] wolfuma commented on #11763
ITs a really bad issue on production site. Anyone have same issue? For note its on product page. Only with native android nav (chrome, opera, firefox or samsung native). On emulated mobile with chrome, works well. I don't know if acces with IOS nav

[2017-10-30 10:03] SpartakusMd commented on #4808
@keyurshah070 I just saw your video, the issue is a bit different. The result price should be "0". In your case the field remained empty. Even in the case you save the product with an empty price, the saved value should be 0.

[2017-10-30 10:08] mnuhell commented on #11776
If you have in admin watch Blue and a the CSV have Azul is a problem?

I have English and Spanish store.
![captura de pantalla 2017-10-30 11 07 19](https://user-images.githubusercontent.com/558183/32165315-a452c242-bd62-11e7-9f49-f5bcc0a76f22.png)

[2017-10-30 10:15] adrzz commented on #11703
**TEMP FIX**

I replaced the code from module swatch (VIEW) with the drop-down file view.

**Swatch file:**
/vendor/magento/module-swatches/view/frontend/templates/product/view/renderer.phtml

**Drop-down file:**
module-configurable-product/view/frontend/templates/product/view/type/options/configurable.phtml

**Steps to fix (TEMP)**
Copy code from
module-configurable-product/view/frontend/template

[2017-10-30 10:23] kllee824 commented on #6606
I have problem reported from administrator, she have update the product such add/delete images, the URL rewrite will be updated as result 404, due to the original url_rewrite record is deleted and insert new record and request_path is '.html'. We are running on EE 2.0.11
would like to clarify is same issue?

[2017-10-30 10:26] magento-engcom-team commented on #11832
@psbhanu, thank you for your report.
We've created internal ticket(s) MAGETWO-82981 to track progress on the issue.

[2017-10-30 10:53] brosenberger opened #11871 "Improve Errormessage"
### Preconditions

1. Misconfigured product update within UpgradeData-Script:
{code}
$eavSetup->addAttribute(\Magento\Catalog\Model\Product::ENTITY, 'pim_option_1', [
 ...
                'global' => \Magento\Eav\Model\Entity\Attribute\ScopedAttributeInterface::SCOPE_WEBSITE,
...
            ]);
{code}
2.

### Steps to reproduce

1. Create a correct product import csv for a configurable product in

[2017-10-30 10:55] david-fiaty-cko opened #11872 "Place order event in Paypal module"
Hi,
This is not actually an issue but a simple question.
Is the Paypal module placing/creating the order before or after payment has been confirmed?
Same question for the Braintree module.
Thanks a lot

[2017-10-30 11:16] magento-engcom-team commented on #11776
@mnuhell I tried the same settings still can't upload the file! I am sorry
[image](https://user-images.githubusercontent.com/31669971/32168236-6b515f50-bd74-11e7-98ab-a8283b9b9f99.png)

[2017-10-30 11:18] magento-engcom-team commented on #11825
@carloricci84, thank you for your report.
We've created internal ticket(s) MAGETWO-82985 to track progress on the issue.

[2017-10-30 11:37] orlangur commented on #11872
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-10-30 11:37] #11872 closed, assigned to nobody

[2017-10-30 11:41] magento-engcom-team commented on #11776
@mnuhell, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-30 11:41] #11776 closed, assigned to nobody

[2017-10-30 11:47] magento-engcom-team commented on #5665
@ErikPel, thank you for your report.
We've created internal ticket(s) MAGETWO-82987 to track progress on the issue.

[2017-10-30 11:56] alemMantik opened #11873 "Please enter a correct date on German Magento 2.2.0"
When you would add an basketroule you cant there use the Datepicker.
If you do that then the error appears: "Please enter a correct date"

Something with the validation is here wrong.

Start and End-Date the same.
this problem is also be the catalogpriceroules

[2017-10-30 12:06] orlangur commented on #11871
Such message has no sense as every global select is considered to be super by design:
[code]

However, check for `is_global` could be implemented as separate with separate error message.

[2017-10-30 12:08] orlangur commented on #11873
Hi @alemMantik, thanks for bug report, it is a known issue tracked as https://github.com/magento/magento2/issues/10580.

[2017-10-30 12:08] #11873 closed, assigned to nobody

[2017-10-30 12:08] spotmarketing commented on #11838
HI there,

The issue was not fixed or a solution was not given.

https://dev.spotmarketing.ca/curiosity130/3-month-subscription-ages-3-7.html

Please visit the above link.  We are currently developing this site and all products that have a customizable feature added to them will not "add to cart" when you click on the "add to cart" button.

Below is a link to a simple product that does not have a

[2017-10-30 12:30] magento-engcom-team commented on #8605
@ebofi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-30 12:30] #8605 closed, assigned to nobody

[2017-10-30 12:31] andrewhowdencom opened #11874 "The ESI blocks from Varnish appear to be filled incorrectly when switching stores using the selector"
#### Preconditions
1. 2.2.0
2. Varnish 5.0; default configuration with minor adjustments. Can paste if required.
3. PHP 7.0

#### Steps to reproduce
1. Create 2 Magento stores on the same URL, using the cookie to deilmit stores
2. Configure Varnish in front of that store, as specified in the documentation
3. Switch from one store to the other
4. Notice ESI blocks appear to be in the wrong language

[2017-10-30 12:34] andrewhowdencom commented on #11874
Whaat which part of G1 did I fail?

[2017-10-30 12:45] raumatbel commented on #4808
@okorshenko can you assign me it please?

[2017-10-30 12:45] andrewhowdencom commented on #11874
Doing dirty frontend hacks to change the POST url in the JSON blob in the data attribute to the old `stores/store/switch` URL fixes it. That'll be my solution for now, for others who are interested. I can add a PR for this?

[2017-10-30 13:30] magento-engcom-team commented on #4677
@redboxmarcins, thank you for your report.
We've created internal ticket(s) MAGETWO-53451 to track progress on the issue.

[2017-10-30 13:33] bohemiorulo commented on #10834
yes, I already accept it, thanks

[2017-10-30 13:42] andrewhowdencom commented on #11874
[code]

[2017-10-30 13:50] Olek89 commented on #9127
Special Price only working  with not configurable products,
i have an image from the frontend of reduced prices / spezial prices of configurable products and simply products, Simply prices are reduced shown, configurable products no reduced price shown.

![configurable_123](https://user-images.githubusercontent.com/31250340/32174258-adaf16c8-bd81-11e7-82d2-eb3f870a3d82.png)

[2017-10-30 13:53] BerMedia commented on #5021
The issue is persistend in 2.1.9 - my shipping extension has the underscore - after remove everything works as expected. Thanks vphat28

[2017-10-30 13:57] zack6849 commented on #5843
We've also gotten this error on 2.1.9, the invoice failed to turn into an order and returns 500 internal server error every time.

[2017-10-30 14:07] magento-engcom-team commented on #6751
@paales, thank you for your report.
We've created internal ticket(s) MAGETWO-59234 to track progress on the issue.

[2017-10-30 14:24] Tristan-N commented on #11639
I have the same issue. Magento 2.2, php 7.1.10 (production) and php 7.1.18 (local) and both mySQL version 5.7.19 Same also occurs when selecting filters on the top of the category page as you can see on the screenshot.

Configurable Product with catalog price rule. Filtering of products is executed before calculating catalog price rules instead of after calculation.

![filter_issue](https://user-i

[2017-10-30 14:30] magento-engcom-team commented on #8932
@4quaternion, thank you for your report.
We've created internal ticket(s) MAGETWO-83001 to track progress on the issue.

[2017-10-30 14:44] msawyers commented on #11706
Okay, will update within 24hrs

[2017-10-30 15:12] jeremib commented on #8671
Confirmed issue still exists.

[2017-10-30 15:22] angelo983 opened #11877 "MCE 2.1.9 / Paypal Express -> "We can't place the order" with skip review step disabled"
### Preconditions

1. Magento 2.1.9
2. Configurable products
3. Skip review step disabled in Paypal Express options
4. Allow Guest payment (Credit card data without Paypal account)

### Steps to reproduce

1. Put a product (configurable product by color and size) in cart
2. Go to checkout and follow all steps
3. Choose Paypal Express as payment method

### Expected result

1. Landing to Paypal pay

[2017-10-30 15:45] Userr017 commented on #11532
@keanass , This show for me http error 500 and No data to save. Error log, PHP Parse error:  syntax error, unexpected end of file, expecting function (T_FUNCTION) in /vendor/magento/module-catalog/Model/Category/Link/SaveHandler.php on line 133

I have magento 2.2 same problem duplicate Simple Product doesn't work.

[2017-10-30 15:47] pioneerathletics commented on #11375
So I tried updating again from 2.1.7 to 2.1.9., in production mode, and yet again I've had the same mini-cart issue. I tried the suggestions from @fendowuk and at first glance they didn't work. I had to manually clear my browser cache in order for the changes to apply (Chrome, Safari, Safari iOs) .

@magento-engcom-team why would this issue still be persistent, except for when I manually cleared m

[2017-10-30 16:11] orlangur commented on #11375
@pioneerathletics are you able to reproduce this problem on a clean Magento 2.1.7 installation ("clean" in terms of modules/themes, it can contain any data and/or official sample data) when it is upgraded to 2.1.9?

[2017-10-30 16:44] thiagolima-bm commented on #9948
I am working on it #SQUASHTOBERFEST

[2017-10-30 17:16] apedicdev opened #11880 "Magento 2.1.9 Configurable::getUsedProducts returns a different array after product collections is cached"
### Preconditions

Magento 2.1.9

`\Magento\ConfigurableProduct\Model\Product\Type\Configurable::getUsedProducts` returns a different array after product collection is cached.

### Steps to reproduce

1. Load a configurable product
2. Observe the returned array `$usedProducts`
3. clean the collections cache (`bin/magento cache:clean collections`)
4. Reload the same configurable product
5. Observer

[2017-10-30 17:20] sbwcws opened #11881 "Magento 2.2.x Grid Not Working."
Install Magento2.2.0
PHP 7.01

For some reason Order, Customer, Products Grid are not working they do have a waiting circle move but after a second I see no display and its just white page.

I've over 20K Orders, 40K Customers and only 1K Products.

[2017-10-30 17:22] LucaGallinari opened #11882 "It's not possible to enable "log to file" (debugging) in production mode"
It's not possible to change the "dev/debug/debug_logging" sys config field while in production mode. It should definitely be set to "No" as default (like when switching from developer/default to production) but you should be allowed to change this value even while in production mode.

### Preconditions
1. Magento version 2.2 (dunno with other versions)

### Steps to reproduce
1. Switch to producti

[2017-10-30 17:27] raumatbel commented on #8624
@magento-engcom-team I am working in this issue. Can you assign me please?

[2017-10-30 17:30] magento-engcom-team commented on #6950
@trichter01, thank you for your report.
We've created internal ticket(s) MAGETWO-59892 to track progress on the issue.

[2017-10-30 17:59] okorshenko commented on #10185
Hi @ihor-sviziev
The column ID renders the data from DB column `increment_id` (varchar(50)). So it is `string` by design. Also we have a feature that allows you to change order id generation pattern (see the table `select * from sales_sequence_profile;`). You can add suffix, prefix, step and etc. This is a requirement dictated by law in some countries.
If you would like to change pattern for Order

[2017-10-30 18:00] magento-team commented on #5439
Internal ticket to track issue progress: MAGETWO-82942

[2017-10-30 18:00] magento-team commented on #10673
Internal ticket to track issue progress: MAGETWO-82752

[2017-10-30 18:21] rodrigowebjump commented on #7127
Working on it

[2017-10-30 18:32] Ctucker9233 commented on #10323
@magento-engcom-team Please consider backporting to 2.1 branch since this is the branch the problem was reported on. Or mark it up for grabs.

[2017-10-30 18:33] Ctucker9233 commented on #9644
@magento-engcom-team Please backport to 2.1 or mark as up for grabs.

[2017-10-30 18:38] allanwebjump commented on #11497
https://github.com/magento/magento2/pull/11883

This issue can be solved with this PR

[2017-10-30 19:09] taylorhgmailcom commented on #10821
I can confirm that PhiIipp's suggested _**change path to .**_ solution worked for me as well. Mage2 (2.2.0) on Php 7.0.25 as FPM served by nginx, on Plesk Onyx (17.0.17 Update #38) on CentOS 7.3.1611 . Very much appreciated. It's also worth mentioning that my error occurred not in the cart but when trying to modify store email addresses. Works perfectly now.

[2017-10-30 19:17] Silarn opened #11885 "Magento 2.2 Paypal Can't Accept Checkout Agreements Before Routing to PayPal"
This could potentially be a module conflict, but after stepping through and inspecting the checkout code I can't find any obvious third-party interference.

When going through standard checkout and selecting PayPal Express at the payment step, there is an agreements checkbox present. However, checking this box does nothing as the agreements data is not parsed and passed to the set-payment-informat

[2017-10-30 20:37] okorshenko commented on #7127
Hi @rodrigowebjump please accept the invite

[2017-10-30 22:57] Ctucker9233 commented on #7560
@magento-engcom-team Please backport to 2.1 or mark as up for grabs.

[2017-10-30 22:58] spotmarketing commented on #7560
I am not sure what you mean by back port to 2.1 or mark as up for grabs?

Can you provide documentation to do this.

thanks
Jason

On October 30, 2017 at 6:57:36 PM, Ctucker9233 (notifications@github.com)
wrote:

@magento-engcom-team <https://github.com/magento-engcom-team> Please
backport to 2.1 or mark as up for grabs.

—
You are receiving this because you are subscribed to this thread.
Reply to

[2017-10-30 23:33] durabite commented on #11741
I find the issue, my cronjon dont work!, my magento dont make the indexer and for this reason in the frontpage no show the actualization of the correct price, i still found the solution but i think i going for the right way.

[2017-10-30 23:55] spotmarketing commented on #7560
I have searched and I can not find how to do a backport or how to “Mark up
for grabs”.

I did find this ticket https://github.com/magento/magento2/issues/8470

Which may be a similar issue.  I see that it was updated with a fix.  Will
that fix my issue?

Please provide some direction.  We a couple days from launching the site
and this is a huge set back.

Thanks
Jason

Jason Smith
*CEO*
*Spot Mark

[2017-10-30 23:57] orlangur commented on #11882
Hmm, I thought this is intentional behavior due to debug log producing too much data on production until I saw https://github.com/magento/magento2/commit/953b4ebfce0d661bbf338cf11055399752890a9b :)

[2017-10-31 00:02] raumatbel commented on #8624
Of this way, are you never going to have a product with qty positive and out of stock?

[2017-10-31 00:17] rodrigowebjump commented on #7127
@okorshenko Which invite?

[2017-10-31 01:24] raumatbel commented on #8799
Can you assign me please?

[2017-10-31 02:32] Raiden9000 commented on #8337
Not able to upload on 2.2.0 clean install.

[2017-10-31 02:45] adrian-martinez-interactiv4 commented on #8952
In the issue description, it's not mentioned if the user that already has an account **is logged in or not, when trying to subscribe himself from the footer or popups**. For me, and I think this is the reason why Magento Enterprise support has said this is the "expected" behaviour. From my point of view, we could split use cases this way:
- **Not logged in customer, introducing a non-existing emai

[2017-10-31 05:50] diptihere commented on #11263
This is issue with 2.2.0 . Until this issue gets resolved completely, for time being we can clear all caches, go back to attributes page and again open the same attribute then try to save it. It worked for me.

[2017-10-31 06:00] AbdulKadir-Agoliya commented on #4822
@duckchip
Fixed For me magento2.1.0, go to eav_attibute table, search you multiselect attibute and change in "backend_model" column NULL value with this value: Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend, clear cache and reindex .

[2017-10-31 06:01] AbdulKadir-Agoliya commented on #4822
hello @duckchip
Fixed For me magento2.1.0, go to eav_attibute table, search you multiselect attibute and change in "backend_model" column NULL value with this value: Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend, clear cache and reindex .

[2017-10-31 06:11] magento-engcom-team commented on #11487
@TobiasLogiline, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 06:11] #11487 closed, assigned to orlangur

[2017-10-31 06:46] amithlalalj opened #11892 "Web Setup Wizard not visible in backend magento 2.1.9"
I have upgraded  from magneto 2.1.6 to 2.1.9 but i cant see the option for magneto web setup wizard in magneto back end i have followed the ticket **#7623**  in that it says the issue resolved in magento2.1.9 and 2.2 but still in 2.1.9 i have the issue

[2017-10-31 07:29] magento-engcom-team commented on #11826
Hi there. For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool.

[2017-10-31 07:34] #11826 closed, assigned to nobody

[2017-10-31 07:43] vonbyte opened #11893 "No filters in facetedData after Upgrade 2.2"
(vgl.: https://magento.stackexchange.com/questions/198621/no-filters-in-faceteddata-after-upgrade-2-2)
After Upgrade to 2.2 filters in faceted Data on Productcollections don't work anymore.
In Magento 2.1.* everything worked!

### Preconditions

1. Magento 2.2
2. PHP 7.0.24

### Steps to reproduce

1. Adding some filters to a product Collection
2. Get faceted data with filters:
`$productCollection

[2017-10-31 07:46] sbwcws commented on #11881
Please see screen shot.

<img width="1431" alt="sbpic 4" src="https://user-images.githubusercontent.com/7937555/32212607-010315ce-bdee-11e7-8f67-c44d590027c1.png">
<img width="1432" alt="sbpic 3" src="https://user-images.githubusercontent.com/7937555/32212608-010ff118-bdee-11e7-924f-697ff142a5c3.png">

[2017-10-31 07:54] duckchip commented on #4822
Hi @AbdulKadir-Agoliya
I'm running on 2.1.9 and this fix is already included, unfortunately it's still not working.
I think it has to do with configurable products as cross-sells/up-sells/....

[2017-10-31 08:20] magento-engcom-team commented on #11507
@jgutierrezs, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 08:20] #11507 closed, assigned to magento-engcom-team

[2017-10-31 08:22] rajpal-majoka commented on #7075
Any update on this?

[2017-10-31 08:25] magento-engcom-team commented on #11129
@versdivers, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 08:25] #11129 closed, assigned to nobody

[2017-10-31 08:30] magento-engcom-team commented on #6673
@SukeshiniR, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 08:30] #6673 closed, assigned to magento-engcom-team

[2017-10-31 08:30] magento-engcom-team commented on #6643
@senthilengg, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 08:30] #6643 closed, assigned to magento-engcom-team

[2017-10-31 08:40] magento-engcom-team commented on #11768
@Tjab, thank you for your report.
We've created internal ticket(s) MAGETWO-83044 to track progress on the issue.

[2017-10-31 08:41] rackyan commented on #6710
Same issue, any update solutions for this?

[2017-10-31 08:43] HarisButt91 opened #11894 "can not use all options.. menu is disable here"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-10-31 08:57] liangdefeng opened #11895 ""Requested store is not found" exception while deleting store view."
When I was trying to delete store view from admin in Maento EE 2.2.0, exception throws.

### Preconditions

1. PHP 7.0.24
2. MySQL 5.7.19
3. Magento Commerce 2.2.0 with Sample Data.

### Steps to reproduce

1. Created website, store and store view as follow.
![image](https://user-images.githubusercontent.com/20069277/32214911-4ea97f6c-be5b-11e7-99ae-d2bc2056e346.png)
2. Open TestView2, delete it.

[2017-10-31 09:01] magento-engcom-team commented on #11881
Hello @sbwcws, thank you for your report! Are there any additional settings that you have on your Magento? Or just the big about of data?

[2017-10-31 09:06] liangdefeng commented on #11818
It seems like the folder or file access rights' problem.
Could you check if the account which runs the http server has execution access right to the var and pub folders in Magento installation?

[2017-10-31 09:22] magento-engcom-team commented on #11877
@angelo983 We cannot reproduce this issue as described. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-10-31 09:23] kllee824 commented on #9205
Hi,
Would like to know which table to save the different store_view to use 'use default value' 'Yes/No'? because i want to be update by SQL to enable this as my application is 'English/Chinese' store view and can't use common parent URL key when save the product

Lun

[2017-10-31 09:24] enriquei4 commented on #6879
I'm working on it for #SQUASHTOBERFEST 2017, I'll make the PR in a few minutes.

[2017-10-31 09:30] thanhdble commented on #11113
Same issue

[2017-10-31 09:43] pedrudehuere commented on #8282
@byronlbailey Could you please point me to the code where the csv-columns -> table-columns mapping happens?

[2017-10-31 09:51] magento-engcom-team commented on #11892
@amithlalalj, thank you for your report.
We've created internal ticket(s) MAGETWO-83049 to track progress on the issue.

[2017-10-31 09:57] korostii commented on #9516
Any sane workflow should use a list of explicit commands rather than depend on an obscure piece of undocumented functionality that might be considered a bug and removed in the future.
IMHO both employing `bin/magento module:enable --all` and versionizing your `config.php` are better options than having `setup:upgrade` fulfill a totally unrelated (and surprising to many) responsibility by default.

[2017-10-31 10:00] magento-team commented on #11729
Internal ticket to track issue progress: MAGETWO-82959

[2017-10-31 10:23] orlangur commented on #11491
Closing due to lack of response from author for 15 days. Feel free to provide additional information anytime later and issue may be reopened.

[2017-10-31 10:23] #11491 closed, assigned to orlangur

[2017-10-31 10:28] MagePsycho commented on #10220
This issue still exists.
Please follow the steps that I have mentioned above.

[2017-10-31 10:48] magento-engcom-team commented on #11894
@HarisButt91 Please use our issue reporting template to describe this issue. The template specifies the version and configuration information we need to assess your issue. See the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) for more information.

[2017-10-31 11:04] orlangur commented on #9516
It is **absolutely** clear and useful functionality. That's why default  system behavior MUST NOT be changed but some switches could be introduced to use different behavior.

If it is not clear to anyone, there is no problem with documenting it.

Both require additional actions which is why current default behavior MUST NOT be spoiled by any "improvements" which reduce its usefulness.

[2017-10-31 11:14] gritdigital-mibu commented on #2146
@au00433276 @namratavora Also happening for me using Magento 2.1.8. I suspect it could be related to the data migration tool?

![2017-10-31 11_12_19-checkout](https://user-images.githubusercontent.com/11611416/32221167-67a55b78-be2c-11e7-8615-980c3e851d5c.png)

[2017-10-31 11:24] hemendraajmera opened #11897 "Catalog product list widget not working with multiple sku"
### Preconditions

1. Magento 2.18

### Steps to reproduce

1.  Added new catalog product list widget
2.  added all condition with multiple SKU

### Expected result

1. showing product with selected SKU on the page
![image](https://user-images.githubusercontent.com/2478037/32221595-1e7cde0a-be5c-11e7-9ba4-ab7c4c113841.png)

widget code as
{{widget type="Magento\CatalogWidget\Block\Product\Products

[2017-10-31 11:30] magento-engcom-team commented on #11895
@liangdefeng, thank you for your report.
We've created internal ticket(s) MAGETWO-83051 to track progress on the issue.

[2017-10-31 11:31] sschurink opened #11898 "Zip code Netherlands should allow zipcode without space"
**Issue**

Zip code validation warning on adresses from Netherlands.
Current validation is 1234 AA
This should also allow zipcode without space 1234AA

**Preconditions**

On all 2.* versions including development branch.

**Steps to reproduce**

go to cart or checkout, select Netherlands and insert postal code 1234AA

**Expected result**

No warning

**Actual result**

Zipcode gives warning

**Sol

[2017-10-31 11:35] DavaGordon opened #11899 "Import failed: Unable to unserialize value, string is corrupted"
### Preconditions

1. Magneto 2.2.0 RC3

### Steps to reproduce

1. bin/magento setup:upgrade

### Expected result

For the data config to be updated

### Actual result

1. Import failed: Unable to unserialize value, string is corrupted.
<img src="https://image.ibb.co/ff5myG/error.png" />

### Temporary Work Around

[code]

Flush Cache
Run bin/magento setup:upgrade or bin/magento app:config:import

[2017-10-31 11:40] mnuhell opened #11900 "Advanced Price not showing in a Configurable Product in Magento 2.2"
### Preconditions

1. Magento 2.2
2. PHP 7.0

### Steps to reproduce

1. Configurable product not have advanced price Options

### Expected result

1. I read that in the Magento 2.2 version the option advanced price would be added in configurable product?

### Actual result

1. the option does not appear in the configurable product

In the documentation [http://docs.magento.com/m2/ce/user_guide/ca

[2017-10-31 11:57] magento-engcom-team commented on #11898
@sschurink, thank you for your report.
We've created internal ticket(s) MAGETWO-83058 to track progress on the issue.

[2017-10-31 12:17] magento-engcom-team commented on #11853
@Cornel99 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please provide more detail about language packages.

[2017-10-31 12:20] webusat commented on #11263
I have the Cache disabled and still had to open dev tools and delete the element for it to save.

[2017-10-31 12:35] sitiodocanoamarelo opened #11904 "Inline translation error :: Contact US :: [Warning] Expected to start loader but did not find one in the dom (loader.js, line 210)"
### Preconditions

1. Magento 2.2.0 in developer mode
2.

### Steps to reproduce

1. Activate inline translation on admin
2. Try to change "Contact US" using inline tool

### Expected result

1. The message "Contact US" should be translated

### Actual result

1. The word "contact" is translated but not the word "US" which throws an error "[Warning] Expected to start loader but did not find one in

[2017-10-31 12:42] lfolco commented on #9516
It's **not** clear, though, as evidenced by this ticket. It doesn't say anywhere in the dev docs that this behavior occurs. There is a distinct enable/disable command, and a setup:upgrade command. There is not indication outside of experience that setup:upgrade would incorporate functionality from the enable/disable command.

I may be working on a module in app/code that I don't want to enable rig

[2017-10-31 12:46] magento-engcom-team commented on #11897
@hemendraajmera, thank you for your report.
We've created internal ticket(s) MAGETWO-82816 to track progress on the issue.

[2017-10-31 12:53] magento-engcom-team commented on #11818
@israel181 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed about a sequence of steps at the time of install.

[2017-10-31 13:10] orlangur commented on #9516
Just keep it out of the code or stash such changes before running `setup:upgrade`. Always keep your working tree clean to avoid undesired consequences.

Useful workflow which may be documented and must be preserved:
- update code
- run `setup:upgrade`
- result: all non-disabled modules are upgraded, new ones are enabled

[2017-10-31 13:47] bgorski opened #11905 "M2.2 Autogenerated code doesn't work with the self PHP7 return type"
It looks like the autogenerated code doesn't work when methods in the class for which it's created have a `self` PHP7 return type (not the phpdoc `@return`). In Magento 2.2 there's one class which methods are marked as returning `self` - `\Magento\Indexer\Model\Indexer\DependencyDecorator`.

### Preconditions
1.  Magento 2.2 (either Community Edition or Commerce, doesn't matter)

### Steps to repr

[2017-10-31 14:10] magento-engcom-team commented on #11900
@mnuhell, thank you for your report.
You can add Advanced Price for Configurations afte generete a products, not for parent Configurable product

[2017-10-31 14:11] korostii commented on #9516
Just because you personally like this workflow more doesn't mean everyone should use it.

Could you please explain what's the advantage of your workflow over the "need to put `config.php` under VCS" approach, if you're keeping all the modules enabled at all times anyway (I mean, you won't need to disable any module locally if you prefer to "keep it out of the code or stash such changes")?

The ste

[2017-10-31 14:16] #11900 closed, assigned to nobody

[2017-10-31 14:17] magento-engcom-team commented on #11885
@Silarn, thank you for your report.
We've created internal ticket(s) MAGETWO-83068 to track progress on the issue.

[2017-10-31 14:22] ttribeiro opened #11906 "Authorize.net Magento 2.1.9 An error occurred on the server. Please try to place the order again."
After I setup the account and enabled Authorize.net payment method, I then filled out the API Login ID, Transaction Key, and Merchant MD5. I have confirmed with the client and Authorize.net that all of these fields are correct.

 Regardless of if I'm in Test mode On or Test mode Off, I got the same error (see below):

"An error occurred on the server. Please try to place the order again."

I did h

[2017-10-31 14:30] magento-engcom-team commented on #11904
@sitiodocanoamarelo, thank you for your report.
We've created internal ticket(s) MAGETWO-83069 to track progress on the issue.

[2017-10-31 14:45] Triloworld opened #11907 "Meta title of CMS page is removed with content block"
Right now developer can break site accidentally because body block is used to populate site header and other regions of cms page. This mix of context isn't need when there is **<head>** where can be properly init that part of site.

Preconditions
1. Magento 2.2
2. Working site
3. Homepage is set to CMS Page and have set page title "TEST"
4. Meta title of the page is visible in source code

### Ste

[2017-10-31 14:47] mikelevy300 opened #11908 "Adding to wishlist doesn't work when not logged in"
### Preconditions

1. Apache 2.4
2. PHP 7.0.16
3. MySQL 5.7
4. Magento 2.1.9 w/ sample data installed

### Steps to reproduce

1. Make sure you're not logged in
2. Navigate to any category or product details page
3. Click the Add to Wishlist button

### Expected result

1. The user get's redirected to the login page
2. After logging in the user is redirected to the wishlist page where the item has

[2017-10-31 14:58] orlangur commented on #9516
Many of us may like this behavior thus it should be carefully evaluated before changing. For example, template path hints in Admin UI were first introduced as a bug not existed in M1 but later it was found useful and claimed as a feature.

1) `config.php` is redundant junk in current workflow
2) leads to conflicts when stored under VCS
3) your store may have implicit module dependencies if order i

[2017-10-31 15:01] magento-engcom-team commented on #11908
@mikelevy300, thank you for your report.
This is duplicate of #11825

[2017-10-31 15:01] #11908 closed, assigned to nobody

[2017-10-31 15:06] nkajic commented on #4979
One cause of this error is deleting one or more "core/root" categories by manually deleting from catalog_category_entity.

[2017-10-31 15:17] erlisdhima commented on #8671
The same for me. I get the following error:

[code]

I had to set to None **Store > Configuration > Catalog > Xml Sitemap > Products Options > Add Images into Sitemap**

[2017-10-31 15:30] magento-engcom-team commented on #11900
@mnuhell, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-31 15:30] magento-engcom-team commented on #11759
@kevingimbel, thank you for your report.
We've created internal ticket(s) MAGETWO-83072 to track progress on the issue.

[2017-10-31 15:49] raumatbel commented on #9130
The message "Only -5 left" is the result of 10-5 (qty threshold - qty product). @magento-engcom-team what is the expected result here? Don't show that message or show other? Can you assign me please?

[2017-10-31 15:57] Floddy opened #11910 "Review observer does load() on collection, which causes issues for other observers."
### Preconditions

1. Install Magento 2.2 via composer

### Steps to reproduce

1. Create a module that hooks into the event catalog_block_product_list_collection
2. The module should have the sequence so it's ran after Magento_Review
3. Use addAttributeToSelect to add a product attribute to the collection in the observer

Alternatively:

1. Use the addAttribute method inside the Magento\Catalog\B

[2017-10-31 16:08] mnuhell commented on #11900
Ok, I thought it was already implemented.

thanks so much

[2017-10-31 16:14] korostii commented on #9516
Except some people prefer keeping incomplete modules in VCS, disabling them via `config.php`.

IMHO These are a bit out of scope of current discussion. Please consider reopening and upvoting https://github.com/magento/magento2/issues/8479 if you agree that current `config.php` mechanics needs to be improved.

Also, with the current `config.php` behavior I'd rather have implicit dependencies stored

[2017-10-31 16:30] magento-engcom-team commented on #5316
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-83074 to track progress on the issue.

[2017-10-31 17:19] orlangur commented on #9516
No problem, just disable such modules explicitly not breaking `setup:upgrade` for others.

Issue you mentioned simply does not contain any appropriate criteria as I explained in it.

It's a good thing to not rely on any particular order. In case of problem simply get a `config.php` to check from problematic env.

[2017-10-31 17:39] wolfuma commented on #11763
tryed with 2.1.9 and 2.2 with same results

[2017-10-31 17:53] Silarn commented on #11899
It looks to me like the Worldpay_Payments module has not been updated to use the new Magento 2.2 serialization methods. Most likely there is data that needs to be converted from PHP serialization to JSON, and the module itself may need to be updated to use the new serialization classes. This probably has to do with the core_config_data table.

[2017-10-31 17:56] lfolco commented on #9516
The fact that this ticket was opened a year and a half after Magento 2 was released is indicative of the fact that this behavior is not expected; the very command name (`upgrade`) hides the fact that it also enables.

I'm curious as to which workflow is more common in day-to-day Magento development: users who are working on multiple modules that need to be upgraded and enabled all at once, or thos

[2017-10-31 18:00] magento-team commented on #10291
Internal ticket to track issue progress: MAGETWO-82943

[2017-10-31 18:00] magento-team commented on #2991
Internal ticket to track issue progress: MAGETWO-81994

[2017-10-31 18:21] okorshenko commented on #11534
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-10-31 18:21] #11534 closed, assigned to nobody

[2017-10-31 18:22] okorshenko commented on #10291
the issue has been fixed and delivered to 2.2-develop branch. WIll be available with 2.2.2 release

[2017-10-31 18:22] #10291 closed, assigned to briscoda

[2017-10-31 18:22] okorshenko commented on #10032
the issue has been fixed and delivered to 2.2-develop branch. WIll be available with 2.2.2 release

[2017-10-31 18:22] #10032 closed, assigned to nobody

[2017-10-31 18:23] okorshenko commented on #2991
the issue has been fixed and delivered to 2.2-develop branch. WIll be available with 2.2.2 release

[2017-10-31 18:23] okorshenko commented on #11211
the issue has been fixed and delivered to 2.2-develop branch. WIll be available with 2.2.2 release

[2017-10-31 18:23] #11211 closed, assigned to nobody

[2017-10-31 18:24] okorshenko commented on #10908
the issue has been fixed and delivered to 2.2-develop branch. WIll be available with 2.2.2 release

[2017-10-31 18:24] #10908 closed, assigned to nobody

[2017-10-31 18:42] wolfuma commented on #11763
@orlangur

Can you check this issue please? I quote you because its issue realativetly same than https://github.com/magento/magento2/issues/11647

If you acces with mobile navigation like chrome on android (not emulated). Price didn't update. I try with all of possible mix of bundling, minify, etc without succes.

For exxample check this page https://wolfuma.com/xiaomi-mi6 if you select the two re

[2017-10-31 18:56] okorshenko commented on #4092
Fixed in PR: https://github.com/magento/magento2/pull/11843

[2017-10-31 19:14] gustavovo commented on #5880
Hello!

Any idea how can i bypass the mcrypt prereq on 2.2 installation?

[2017-10-31 19:41] magento-engcom-team commented on #10821
Hi All,
Thank you for research.
@orlangur you are right. It make sense to add this information to the http://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html
CC: @jfrontain

[2017-10-31 19:41] #10821 closed, assigned to magento-engcom-team

[2017-10-31 20:19] elvinristi commented on #10660
Seems the related fix was done in https://github.com/magento/magento2/commit/3234a41ad7714fae5f2d7b83fdc46ce50f8f0241 for `app/code/Magento/Checkout/etc/frontend/di.xml`

Adding this one line fixed my issue on 2.1.9.

[code]

[2017-10-31 20:29] magento-engcom-team commented on #5668
@ljrweb, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 20:29] #5668 closed, assigned to magento-engcom-team

[2017-10-31 20:30] magento-engcom-team commented on #6726
@apurv-anand, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 20:30] #6726 closed, assigned to magento-engcom-team

[2017-10-31 20:31] magento-engcom-team commented on #6589
@jignesh26, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 20:31] #6589 closed, assigned to magento-engcom-team

[2017-10-31 20:31] magento-engcom-team commented on #5443
@GianniPDF, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 20:31] #5443 closed, assigned to nobody

[2017-10-31 20:32] magento-engcom-team commented on #9031
@launchcg-ztonia, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-31 20:32] #9031 closed, assigned to magento-engcom-team

[2017-10-31 20:54] magento-team commented on #11729
Internal ticket to track issue progress: MAGETWO-82960

[2017-10-31 21:06] okorshenko commented on #4808
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-10-31 21:06] #4808 closed, assigned to raumatbel

[2017-10-31 21:07] okorshenko commented on #8236
The issue has been fixed in 2.2-develop branch and will be available with 2.2.2 release

[2017-10-31 21:07] #8236 closed, assigned to thiagolima-bm

[2017-10-31 21:08] magento-team commented on #4808
Internal ticket to track issue progress: MAGETWO-83036

[2017-10-31 21:08] magento-team commented on #11095
Internal ticket to track issue progress: MAGETWO-82595

[2017-10-31 21:10] #11313 closed, assigned to nobody

[2017-10-31 21:34] magento-team commented on #4808
Internal ticket to track issue progress: MAGETWO-83037

[2017-10-31 21:45] key-dev opened #11912 "catalog rules reindex failed in CLI"
Hi there,
## **Preconditions**
Magneto 2.2.0
I am having trouble with catalog rules reindex which is failing and recording it in exceptions log. I have recently finished data migration from Shopifyplus to Magento 2.2.0.

## **Steps to reproduce**
bin/magento indexer:reindex

## **Expected result**
Successful reindex for all data.

## **Actual results**
**In CLI**
![1](https://user-images.githubuse

[2017-10-31 22:17] #10090 closed, assigned to briscoda

[2017-10-31 22:31] rpm68 opened #11913 "Runtime error"
### Preconditions

1. Magento 2.1.9
2. PHP 7
3. SQL - uknown
4. Linux based hosting

### Steps to reproduce

I installed Magento. It was working. Owner of this shop made some changes to Shop - currency and taxes and Magento stopped.

Opening main page of a site leads to this error:

Fatal error: Uncaught Error: Call to a member function getCode() on null in /home/users/OWNERNAME/public_html/magnet

[2017-10-31 22:34] btwq commented on #8018
On EE 2.1.7 and updating isRangingNeeded() to false fixed the problem for us. +1 this is a major issue that needs to be resolved in 2.1.x.

[2017-10-31 23:17] ghost opened #11921 "Magento 2 & Apache 2 : Varnish cache not working"
### Preconditions

1. Magento 2.1.9
2. Ubuntu 16.04
3. Apache 2.4

### Steps to reproduce

1. Varnish is running
2. Ports in apache is listen 8080
3. Vhost port is 8080
4. The default.vcl is generated by Magento admin

### Expected result

1. Pages cached with Varnish
2. Response headers like : Cache-Control:varnish-v4

### Actual result

1. Cache-Control:max-age=0, must-revalidate, no-cache, no-s

[2017-11-01 02:43] okorshenko commented on #9919
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-01 02:43] #9919 closed, assigned to nobody

[2017-11-01 02:50] okorshenko commented on #7678
the issue has been fixed in 2.2-develop branch and will be available in 2.2.2 release

[2017-11-01 02:50] #7678 closed, assigned to kirmorozov

[2017-11-01 02:55] okorshenko commented on #9783
The issue has been fixed and delivered to 2.2-develop branch. Will be available in 2.2.2 release

[2017-11-01 02:55] #9783 closed, assigned to diazwatson

[2017-11-01 02:57] okorshenko commented on #11095
The issue has been fixed and delivered to 2.2-develop branch. Will be available in 2.2.2 release

[2017-11-01 02:57] #11095 closed, assigned to lewisvoncken

[2017-11-01 03:09] #7075 closed, assigned to nobody

[2017-11-01 03:09] okorshenko commented on #7075
Thank you everyone for research

[2017-11-01 03:14] okorshenko commented on #6036
The issue has been investigated. Closing as non-issue.

[2017-11-01 03:14] #6036 closed, assigned to nobody

[2017-11-01 03:16] #2790 closed, assigned to nobody

[2017-11-01 03:16] #7381 closed, assigned to palamar

[2017-11-01 04:03] gemscng commented on #3430
For anyone who want to fix it without waiting magento fix. Here is the fix from me.
https://github.com/4dhk/magento2/commit/32d3cbb53b4f74fcf4f7753500748e215221d37f

Feel free to comment for a better way to do it.

[2017-11-01 06:15] orlangur commented on #5880
@gustavovo, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. Once you posted a question just add a link here.

[2017-11-01 06:29] rishabhrkrai opened #11923 "Tax issue in checkout/cart"
### Preconditions

1. Magento 2.1.7, PHP 7.0.18, MySQL 5.x
2. Nginx sever

### Steps to reproduce

1. I have tax of 7.25% in California for the postcode 90001 to 96162.
2. Set Tax calculation on Billing Address from **Store > Configuration > Sales > Tax**
3. Add a taxable product in the cart and go the cart page.
4. Select the California State and postcode is 92705 under **Estimate Shipping and Ta

[2017-11-01 06:31] deepak-netwin commented on #11781
@ishakhsuvarov I've disabled all custom and third party extensions, then deployed content for Magento_Backend theme. However it still showing this error https://www.screencast.com/t/0rrqSitLF on Manage Category page at backend and not loading the tabs after Content https://www.screencast.com/t/DU7ofI54s4

[2017-11-01 06:49] orlangur commented on #9516
Votes are irrelevant here as happy users of current workflow just don't read this ticket.

I believe implementation approach should be defined prior to PR creation, will raise this topic among maintainers.

[2017-11-01 07:23] sanjay-wagento commented on #8810
I am taking this issue. Please assign this ticket to me.

[2017-11-01 07:25] joni-jones commented on #11906
Hi, @ThiagoR, for sandbox environment the `Test Mode` should be disabled (this test mode might be used only for production credentials). Also, did you use Authorize.net on the local environment?

[2017-11-01 07:30] magento-engcom-team commented on #11913
@rpm68 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detail about steps to reproduce. What changes were made?

[2017-11-01 07:47] orlangur commented on #11763
@wolfuma worked for me: https://prnt.sc/h4outs https://prnt.sc/h4ouir

[2017-11-01 07:53] sukhvir1313 commented on #11113
Same issue for me

[2017-11-01 08:02] leoncito73 commented on #11828
I have the same issue.
Magento 2.2.0
PHP 7.1.0
In front view the swatches shown correctly but in admin panel no.
When you add the new color (by image or picking the color) it shows, but when you save the attribute, it disappear.
At the same time have some problem with the z-index (i think) in the las element as shown in the image.
I prove to reindex by command but nothing fix.
![captura de pantall

[2017-11-01 08:10] orlangur commented on #7441
No time this October, sry :)

FYI, we successfully using previously mentioned solution with
[code]
in around plugin for `\Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable::getAttributeOptions`.

[2017-11-01 08:16] franckgarnier21 commented on #7441
@orlangur If I remember my try to upgrade to Magento 2.2, this solution do not work in Magento 2.2, the class has been refactored.

[2017-11-01 08:16] orlangur commented on #11913
Looks like you have some incorrect around plugin.

[2017-11-01 08:24] orlangur commented on #11910
Hi @Floddy, this issue is a duplicate of https://github.com/magento/magento2/issues/10928. As I mentioned there, you should not use this event in the first place

some before_load of collection would be much more suitable.

I do agree that Review observer is written poorly and pull request improving it would be much appreciated. However, there is no bug in current implementation.

`afterGetLoadedP

[2017-11-01 08:24] #11910 closed, assigned to nobody

[2017-11-01 08:29] orlangur commented on #11905
Will it work for `$this` return type?

[2017-11-01 08:36] orlangur commented on #11907
You are not supposed to remove this block from layout as all logic related to meta title and breadcrumbs populating is consolidated in it: https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Cms/Block/Page.php

Any scenario starting like this is not valid. Any change developer make should be tested properly and it is always easy to break everything (like remove `content` containe

[2017-11-01 08:39] orlangur commented on #7441
@franckgarnier21 good to know, we are using it on `2.1.x`.

[2017-11-01 08:50] magento-engcom-team commented on #11882
@LucaGallinari, thank you for your report.  You can enable "log to file" (debugging) in production mode with SQL "INSERT INTO core_config_data (scope, scope_id, path, value) VALUES ('default', '0', 'dev/debug/debug_logging', '1');" this is not a bug.

[2017-11-01 08:58] magento-engcom-team commented on #11923
@RishabhRkRai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-01 08:58] #11923 closed, assigned to nobody

[2017-11-01 08:59] magento-engcom-team commented on #11923
@RishabhRkRai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-01 09:19] magento-engcom-team commented on #5674
Hi @Whaaaaat
This is not a bug.
If we do this, that the sitemap may contain several urls for one product: for each linked categories.
And this mean that several urls will download same content.
And this is the way it was in M1.
The reason why this settings is ignored is exactly to avoid duplication or ambiguity.

[2017-11-01 09:19] #5674 closed, assigned to nobody

[2017-11-01 09:28] andy17612 opened #11924 "about cron every day"
### Preconditions

1. in magento 2.2
2.  php7.1

### Steps to reproduce

1. every day have a cron email to come

### Expected result

1.  please help

### Actual result

1. setup-cron: Please check var/log/update.log for execution summary.
    [2017-11-01 05:02:07] setup-cron.ERROR: SQLSTATE[42000] [1203] User XXXX already has more than 'max_user_connections' active connections [] []
[2017-11-01 1

[2017-11-01 09:30] magento-engcom-team commented on #11882
@LucaGallinari, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-01 09:36] sukhvir1313 opened #11925 "Not able to view contents after clicking on System->Web Setup Wizard Magento 2.2"
Grabbed Magento 2.2 using composer using below command:
`sudo composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition /var/www/xxx.xxxx.com/public_html/`

and then installed using below command:
[code]

### Preconditions

1. Ubuntu 16.04
2. PHP 7.0.22-0ubuntu0.16.04.1 (cli) ( NTS )
3. Magento 2.2

### Steps to reproduce

1. On complete installation fron

[2017-11-01 09:48] devamitbera commented on #11110
I have same issue .

One of xml file, has the syntax like` after="*"`

does not support at  magento 2.2, I have changes it to` after="-"` and  it is worked

[2017-11-01 09:54] BigTonni commented on #8202
Can anyone help or give advice, please?

[2017-11-01 09:57] RishabhRkRai commented on #11923
I have Magento 2.1.7

[2017-11-01 10:06] gewaechshaus commented on #11877
@magento-engcom-team - this could be the case if the customer clicks directly on the paypal button within a product or the minicart in combination with multiple shipping methods. At this point the shipping fees aren't applied or calculated. If you don't send the shipping methods within the request to the paypal api (and if I remember right that didn't work as expected), the review step won't be sk

[2017-11-01 10:15] korostii commented on #9516
`setup:upgrade`  is irrelevant in this case. Having a versioned `config.php` eliminates both the need to communicate which modules have do be disabled with other members of the team and the need to disable them explicitly on the other environments.

Having `config.php` unversioned AND having `setup:upgrade` unexpectedly change module status is a recipe for getting your Magento into a broken state.

[2017-11-01 10:29] SitionDenBosch commented on #10552
@magento-engcom-team When the fix is released, is it possible to see the solution, so I can create my own patch to fix it?

[2017-11-01 10:30] magento-engcom-team commented on #7906
@joebordo, thank you for your report.
We've created internal ticket(s) MAGETWO-83114 to track progress on the issue.

[2017-11-01 10:38] korostii opened #11927 "Physically removing an installed module leads Magento to a broken state"
### Preconditions
1. Magento 2.1.9 (have)
2. PHP 7.0.18

### Steps to reproduce

1. Place any module (let's call it "Bla_BlaBla", for example) to `app/code` and install it, make sure it's present inside `app/etc/config.php`
2. Physically delete the module folder from `app/code` (this step **must** be executed _before_ step 3)
3. run the `bin/magento module:disable Bla_BlaBla` command

### Expected

[2017-11-01 10:50] orlangur commented on #11927
http://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-uninstall-mods.html must be used to remove modules. There is no way to obtain essential module metadata when its folder is removed physically thus it is not possible to perform automatic cleanup.

[2017-11-01 10:50] #11927 closed, assigned to nobody

[2017-11-01 10:53] orlangur commented on #11924
This needs to be fixed on MySQL configuration side.

[2017-11-01 10:55] rigu12 commented on #11924
@orlangur hello,can you tell me more?

[2017-11-01 11:08] magento-engcom-team commented on #11925
@sukhvir1313 We can not reproduce this issue. Please provide the detailed steps we must follow to reproduce this issue. In addition, any other information needed to reproduce your issue.

[2017-11-01 11:11] korostii commented on #11927
Who said anything about uninstalling?
This isn't about rolling back DB or anything like that.

The issue is about temporarily disabling a module.

Consider this: you might have two branches in your VCS only one of which contains this module.
You jump between them but you don't wan't change the DB state.

What kind of metadata would you need in order to disable (not uninstall) a module, besides the

[2017-11-01 11:51] cscd98 opened #11929 "Magento Setup 2.2 - Integrity constraint violation"
This is a clean install, with no previous DB.

### Preconditions

1. Magento 2.2.0 EE
2. PHP 7.1.8
3. MySQL 5.7.20

### Steps to reproduce
1. /setup web installer

### Expected result
1. completes without errors

### Actual result
'''
Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Install

[2017-11-01 11:52] JanisE commented on #8377
What if I don't have a "_module.less" file in my theme?

I get a similar error in "system.log", and it also becomes the content of "http://m2training.dev/static/version1509459998/frontend/Company/training-theme/en_GB/css/styles-l.css" response:

[code]

followed by backtrace from "Less\Processor->processContent"

And I think I was not working with CSS at all when the error appeared (which happened

[2017-11-01 12:15] #5174 closed, assigned to nobody

[2017-11-01 12:19] JanisE opened #11930 "setup:di:compile's generated cache files inaccessible by the web-server user"
### Preconditions
1. OS: Linux Mint 18.2 (based on Ubuntu Xenial).
2. Magento CE 2.2.0 with sample data is installed by Composer.
3. Permissions and ownership set up as instructed on http://devdocs.magento.com/guides/v2.1/install-gde/prereq/file-system-perms.html#perms-private for two-user system (users "magento_user" and "www-data").

### Steps to reproduce
1. Run `bin/magento setup:di:compile` a

[2017-11-01 12:30] magento-engcom-team commented on #9228
@xweb4u, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-11-01 12:30] #9228 closed, assigned to nobody

[2017-11-01 12:53] orlangur commented on #11929
No problem when installing via CLI? Database and especially `directory_country` table is empty for sure?

[2017-11-01 13:18] orlangur commented on #11899
@Silarn you are right!

@DavaGordon please make sure all third party extensions are compatible with 2.2 prior to upgrade, Magento cannot fix them for you. Check http://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html#database-data-format-changes for this particular issue solution.

[2017-11-01 13:18] #11899 closed, assigned to nobody

[2017-11-01 13:29] Torys87 opened #11934 "Composer does not load more 6 package"
Hello.
I have a problem with composer. Try to install magento 2 (or reinstall). Composer loads only 6 packages and stops every time.
https://content.screencast.com/users/Torys87/folders/Jing/media/33f9f1ae-bb3f-4f09-a9fe-5cd821a14b31/2017-11-01_1526.png

Does not matter downloading or load from cache.
Could anyone help with this problem?

[2017-11-01 13:30] magento-engcom-team commented on #10687
@boxyman, thank you for your report.
We've created internal ticket(s) MAGETWO-83133 to track progress on the issue.

[2017-11-01 13:30] magento-engcom-team commented on #11248
@andkirby, thank you for your report.
We've created internal ticket(s) MAGETWO-83134 to track progress on the issue.

[2017-11-01 13:39] orlangur commented on #11934
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-11-01 13:39] #11934 closed, assigned to nobody

[2017-11-01 13:47] magento-engcom-team commented on #10321
Hi @yonitjio
Please provide more information, how can be reproduce it without your custom module.

[2017-11-01 14:05] phronesis commented on #7554
I find it really odd when a bug reported in a minor version(semver) is fixed in another minor version without being backported to the version it was reported in. From my experience, If I dare update to 2.2, I'll find much more bugs introduced there. So updating to 2.2 is a 'NO' for some of us.
Could you point us to the commit that fixed this issue, so we can create a patch for the 2.1.x branch, if

[2017-11-01 14:12] tzyganu opened #11936 "required attribute set id filter on attribute group repository getList"
### Preconditions

1. Magento 2.1 or 2.2 (probably reproducible on earlier versions)

### Steps to reproduce

1. Try calling `Magento\Eav\Model\Attribute\GroupRepository::getList` with a `\Magento\Framework\Api\SearchCriteriaInterface` parameter that does not contain a filter for `attribute_set_id`

### Expected result

1. I Should get as response the list of attribute groups based on my search cr

[2017-11-01 14:20] devamitbera commented on #11116
**It  is happen for some wrong syntax at layout files:**

For

`<referenceContainer name="main.content" class="row">`

i  have remove    **_class="row"_** then it will works

Also

`<referenceBlock name="top.links" after="register-link">`

need to remove xml attribute  `after="register-link"`

[2017-11-01 14:30] magento-engcom-team commented on #9081
@IgorVitol, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-11-01 14:30] #9081 closed, assigned to nobody

[2017-11-01 14:40] ThiagoR commented on #11906
This is what a got.

`<TABLE Width="600"><TR><TD>The reporting of this transaction to the Merchant has timed out. An e-mail has been sent to the merchant informing them of the error. The following is the result of the attempt to charge your credit card. <BR><BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The referrer, relay response or receipt link URL is invalid. <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<

[2017-11-01 14:42] joni-jones commented on #11906
If you provided relay URL as `'x_relay_url' => 'https://example.com/authorizenet/directpost_payment/response',` it won't work.

[2017-11-01 14:52] #6267 closed, assigned to nobody

[2017-11-01 14:53] ThiagoR commented on #11906
WHen I add the x_relay_url at Authorize.net >> Account >> Response/Receipt URLs >> Default Relay Response URL

I got the error

 `<script>
                    window.location="https://example.com/authorizenet/directpost_payment/redirect/x_invoice_num/000000135/success/0/error_msg/The%20transaction%20was%20declined%20because%20the%20response%20hash%20validation%20failed./controller_action_name/dire

[2017-11-01 15:13] joni-jones commented on #11906
You should not configure this URL in Authorize.net Account details, this URL will be added by Magento but it based on your application domain. That's why I said your application must use the online environment with the real domain name.

[2017-11-01 15:22] marilena6 commented on #9691
Hello,

I am facing the same problem on Magento 2.1.4 for any bank card I use.
Why is this happening? Does any one know the reason?

[2017-11-01 15:34] websunil commented on #7056
The solution given by @vutrankien worked for me as well. You just need to copy the configuration to app/etc/di.xml.

[2017-11-01 15:50] pmoreno1980 commented on #11497
@allanwebjump  wroks!! Thanks a lot !!!!

[2017-11-01 16:00] orlangur commented on #11936
It reminded me https://github.com/magento/magento2/issues/7847 a bit :)

You can see from `getList` and `save` methods of `GroupRepository` implementation that it is not intended to work without attribute set. Just because attribute group is a sub-entity of attribute set and if you want to manipulate attribute groups directly without relation to attribute sets, you would break encapsulation (it's

[2017-11-01 16:11] andrewhowdencom commented on #10165
Fixed the missing `health_check.php` in https://github.com/magento/magento2/commit/73178d87e5bc719c57e4dc874de3a4e62977e2bd

[2017-11-01 16:13] sukhvir1313 commented on #11925
Steps are same as above, run below command in same sequence on ubuntu 16.04 server having PHP PHP 7.0.22:
1. `sudo composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition /var/www/xxx.xxxx.com/public_html/`

2. `sudo php bin/magento setup:install --admin-firstname "xxxxx" --admin-lastname "xxxxx" --admin-email "xxxx@xxx.com" --admin-user "admin" -
-admi

[2017-11-01 16:25] andrewhowdencom commented on #11692
I'm not sure -- I don't know if Varnish caches it's own probes? To me that wouldn't make sense. Docs aren't helpful here:

https://varnish-cache.org/docs/4.0/reference/vcl.html#reference-vcl-probes

Additionally, tailing nginx logs seems to support this (with the `pass` directive disabled):

[code]

[2017-11-01 16:26] wolfuma commented on #11763
@orlangur thanks for you check it but on desktop browser works great. Only not working on mobile devices like android or IOs browser. Please check with mobile browser and select two swatches

[2017-11-01 16:28] andrewhowdencom commented on #11692
Oh also I patched this to remove the `pub`. Specifically, we route based on virtualhosts rather than ports:

[code]

[2017-11-01 16:30] magento-engcom-team commented on #10304
@nikoelgatito, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-01 16:32] piotrekkaminski commented on #11279
@fooman hey, is there a workaround like running composer update after unpacking the zip file or changing something in the composer.json or .lock?

[2017-11-01 16:33] andrewhowdencom commented on #11874
Also adding the store cookie to the hash because Wednesday at 5pm with prod bugs.

[code]

[2017-11-01 16:48] dfatkulin commented on #8833
Magento 2.2. Tier price saving percentage wrong  in category. Reindex does not help.   have anyone a solution?
![wrong-tax-calculate](https://user-images.githubusercontent.com/12584463/32286166-7d6b46cc-bf24-11e7-9c65-c0ca6c9a59d9.jpg)

[2017-11-01 16:58] sukhvir1313 commented on #11925
Strange but this is happening in my chrome Version 61.0.3163.100 (Official Build) (64-bit), in other browser it is working fine. I hope it has something to do with cache of chrome extension or something.

[2017-11-01 17:00] #11925 closed, assigned to nobody

[2017-11-01 17:12] dazimax commented on #1360
I could fix this issue by follow up below steps,

  1) Set deploy mode to production - **php magento deploy:mode:set production**
       (js and css minification will works with production mode.If you are in developer mode with code minified above issues will show up as I experienced it. Also verify using echo the print_r($_SERVER) in index.php that production mode is set before load the website)

[2017-11-01 17:13] dazimax commented on #1319
I could fix this issue by follow up below steps,

  1) Set deploy mode to production - **php magento deploy:mode:set production**
       (js and css minification will works with production mode.If you are in developer mode with code minified above issues will show up as I experienced it. Also verify using echo the print_r($_SERVER) in index.php that production mode is set before load the website)

[2017-11-01 17:15] bgorski commented on #11905
In my initial post I forgot to clarify that I mean the PHP7 return type just after function head, not the phpdoc's `@return` - sorry!. Just edited my previous message to clarify that.
It will work for phpdoc's `@return $this` as it will not translate it to a class name in the autogenerated code to a PHP7 return type.

[2017-11-01 17:20] J-Fricke commented on #9290
@ahumphreys87 Did you end up finding a solution for identifying these without being on 2.2.0? We are waiting for 2.2.1 as I was not pleased with a few issues I saw crop up immediately with that release and are experiencing this exact issue from our v1-v2 migration data.

[2017-11-01 17:30] magento-engcom-team commented on #11930
@JanisE, thank you for your report.
We've created internal ticket(s) MAGETWO-83148 to track progress on the issue.

[2017-11-01 17:30] magento-engcom-team commented on #6103
@dangelion, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-01 17:30] #6103 closed, assigned to odubovyk

[2017-11-01 18:02] Aresinho commented on #6287
Not really a fix or anything, but if you press the "Create Order" button it will show the items on the cart on that page.

[2017-11-01 18:11] andrewhowdencom opened #11939 "Cache headers for documents do not factor in the cookie for the store code"
### Preconditions

1. Magento 2.2
2. Varnish 5
3. Nginx 10.3 (Ubuntu)

### Steps to reproduce

1. Visit a 2.2 store, configured as per the specified varnish configuration
2. Observe cache headers for .html documents
3. Switch stores using the `__store` cookie method
4. Observe weird shit returned

More generally, I think that content pages should not be cached. *This is particularly nasty as it ha

[2017-11-01 18:15] rpm68 commented on #11913
Hi,   I do not know what owner changed in configuration - and there is no chance to get know beacuse she is not IT specialist and do not remember.   After standard installation from hosting creator I added polish language pack from  github.com github.com  via command line mode.   Shop was working - at least main page was opening correctly.    Then Ania (owner) tried to change some settings to poli

[2017-11-01 18:37] sshymko commented on #10531
I can confirm the workaround in `isRangingNeeded()` by @ashuston fixes the issue on 2.1.9!

[2017-11-01 18:52] srmobile commented on #9009
I just went through this myself, latest version of Magento (Magento-CE-2.2.0-2017-09-26-07-35-18.tar.gz) this is an embarrassment. First I had to hack the admin session by adding an entry  in the database (admin/security/session_lifetime) because I couldn't even login now this.   I'm just wondering what my next problem is going to be. Thanks for posting that youtube video, what I dont understand i

[2017-11-01 18:53] piotrekkaminski commented on #11939
Internal ticket MAGETWO-83152

[2017-11-01 18:58] andrewhowdencom commented on #11939
[code]

I can do a PR for this? (but tomorrow lol)

[2017-11-01 19:01] andrewhowdencom commented on #11939
Oh a quick sanity check shows this caching .html pages also. I'm pretty sure Varnish ignores the headers that are set here, only listens to the headers it receives from upstream *then* allows you to modify them.

Verified by catting `/var/log/nginx/access.log` and noting that there were lots of requests for a .html page from external IP, but only a single request over the loopback for the actual p

[2017-11-01 19:37] hasnatme opened #11940 "Magento 2.2 Catalog Price Rule Do not Discount from Special Price"
My Magento Version 2.2 Latest Version with all requirements

If I set any catalog price rule to 25% with manufacturer attribute and under that catalogue
if any product have a special price manually set to 500 from 1000 which is already 50% lower. The catalog price rule will not give discount from special price, it will calculate from original price and will show no discount because 25% is lower th

[2017-11-01 19:44] boxyman commented on #10687
@magento-engcom-team You are welcome. Great to know the the source of the issue from @kervin.

My very hackish temporary fix looks like this:

[code]

[2017-11-01 19:52] okorshenko commented on #8846
Hi @gomencal please, accept the invite

[2017-11-01 20:07] ynakanoendertech commented on #11098
I agree with @minimit , the responsive mixin generates wrong order of media queries in "styles-ml.css" file for 'max @screen__xxs', 'max @screen__xs', 'max @screen__s', and 'max @screen__m' cases.

I have tested this .less code.

    .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {
      .logo-text { background-color: blue; }
    }
    .media-width(@extremum,

[2017-11-01 20:19] gomencal commented on #8846
Hi! Accepted :)

[2017-11-01 20:25] ralbin opened #11941 "Invoice for products that use qty decimal rounds down to whole number"
This is a new issue in Magento 2.2.0.  This feature works as expected in all previous versions. Use check/money order for payment. When trying to invoice an order that has products with quantity decimals, the invoice rounds down to the nearest whole number.  Example, ordered 6.5 of a product but the invoice uses 6.  The ultimate reason this is not working is in the table sales_order_item column is

[2017-11-01 20:25] tzyganu commented on #11936
@orlangur  I see where this is going but I don't really agree with your reasoning.
Having a 1 to many relation and managing the entities involved in the relation does not necessarily mean I'm breaking encapsulation.
Why isn't the same logic applied to the ProductRepository? I mean, Attribute Set is the parent entity for the products. Why isn't there a mandatory filter on attribute_set_id for the p

[2017-11-01 21:03] magento-team commented on #4808
Internal ticket to track issue progress: MAGETWO-83038

[2017-11-01 21:11] #10682 closed, assigned to dverkade

[2017-11-01 21:12] okorshenko commented on #5015
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-01 21:12] #5015 closed, assigned to p-bystritsky

[2017-11-01 21:12] okorshenko commented on #9566
The issue has been fixed and delivered to 2.2-develop branch. Will be available with 2.2.2 release

[2017-11-01 21:12] #9566 closed, assigned to michielgerritsen

[2017-11-01 21:13] magento-team commented on #10682
Internal ticket to track issue progress: MAGETWO-83024

[2017-11-01 21:13] magento-team commented on #5015
Internal ticket to track issue progress: MAGETWO-82956

[2017-11-01 21:13] magento-team commented on #9566
Internal ticket to track issue progress: MAGETWO-81786

[2017-11-01 21:22] behnamshayani commented on #10531
the fix is:
magento/framework/DB/Query/BatchRangeIterator.php::184
wrong:
[code]
correct:
[code]
wrong code produces:
[code]
correct code produces:
[code]

But this still misses the last batch in the range so if you want ranging enabled you need to change:
magento/framework/DB/Query/BatchRangeIterator.php::128
[code]
To:
[code]

To check, apply fixes and compare number of products in "catalog_cate

[2017-11-01 21:51] gilbertsohal commented on #10754
@okobchenko

Have you fixed this issue? I tried with fresh installation (2.1.9 AU) this issue still present in 2.1.9. Please help

[2017-11-01 22:06] adie1980 commented on #10754
As a temporary fix for my store, I changed in admin “account settings” (found in top-right dropdown - where you set your admin username and password) the interface locale to English (United States).. this only changes the admin interface local (you can still have the front end store set as your local country interface (ie. Locale AU, or in my case UK locale)..

After I did this - now the date inpu

[2017-11-01 22:36] shyang292 commented on #10531
@ashuston your method works for my server. you save my whole day. Thanks a bunch

[2017-11-01 22:50] J-Fricke opened #11942 "Unable to explicitly set In Stock/Out of Stock for qty = 0"
v2.1.9
When editing a product with a qty set to 0 setting `Stock Status` to:
* 'In Stock' with Managed Inventory on
or
* 'Out of Stock' with Managed Inventory setting disabled

Always defaults back to the opposite value.

Expecting the input value selected to actually save as selected.

We have need of some products going out of stock while others simply become Available as drop ship orders when i

[2017-11-01 22:56] magento-team commented on #7640
Internal ticket to track issue progress: MAGETWO-82983

[2017-11-01 23:03] okorshenko commented on #11882
I talked to PO of this feature. There was a misunderstanding in feature requirements
By default it shoud be off, but you should be able to enable debugging on production if you need it

[2017-11-02 00:37] wndtjr22 opened #11943 "Grunt's Customized Theme Error"
### Preconditions

1. Magento EE 2.2.0
2. Ubuntu 16.04.2

### Steps to reproduce

1. Install Magento Enterprise Edition on Ubuntu
2. install grunt with [installation guide](http://devdocs.magento.com/guides/v2.2/frontend-dev-guide/tools/using_grunt.html)
3. grunt exec:luma
4. It makes warnings

### Expected result

1. After grunt exec:luma, It should say done without warning
2. Create files styles

[2017-11-02 00:48] syedsaleem086 commented on #11864
Hi
Let me know progress on this please @magento-devops

[2017-11-02 02:00] magento-team commented on #10185
Internal ticket to track issue progress: MAGETWO-83084

[2017-11-02 02:00] magento-team commented on #10185
Internal ticket to track issue progress: MAGETWO-83155

[2017-11-02 05:53] jcsgithub commented on #8172
I also encountered a quite similar problem in Magento 2.1.8.

Scenario:
- Enabled _Table Rate_ shipping method and created price rates based on weight v. destination.
- Disabled _Free Shipping_ shipping method

Coupon actions:
- Apply - Percent of product price discount
- Free shipping - For matching items only.

Issues encountered:
- **Case 1** -  _"Carrier with such a method not found..."_ error

[2017-11-02 07:30] magento-engcom-team commented on #11942
Hello @J-Fricke. Have You tried to use Advanced Inventory functionality (under the quantity field on the product page in admin). It doesn't change the logic in the whole (e.g. the product with qty=0 is always In Stock when Inventory is on and always out of stock when Inventory is off), but You can turn Inventory on/off separately for each product. Please let us know if this possibility would meet

[2017-11-02 07:51] sumeetmobiwebtech opened #11945 ""Email is not valid hostname.'gmail.com"'"
### Preconditions

1. Magento version 2.1.7
2. Add a customer with an gmail address ending with .come like xxxxx@gmail.com
(We are making a rest api of our Magento 2 when we enter email id like xxxxx@gmail.com then we are getting that error - )

### Expected result

1. Getting errors -
"Email is not valid hostname.'gmail.com"' looks liks a DNS hostname but we cannot match the TLD against known lis

[2017-11-02 07:58] magento-engcom-team commented on #11375
Hi @pioneerathletics
Are you able to reproduce this problem on a clean Magento 2.1.7 installation ("clean" in terms of modules/themes, it can contain any data and/or official sample data) when it is upgraded to 2.1.9?

[2017-11-02 08:16] magento-engcom-team commented on #11943
@wndtjr22 , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-11-02 08:16] #11943 closed, assigned to nobody

[2017-11-02 08:19] magento-engcom-team commented on #9280
Hi @georgios-2317
Thanks for reporting this issue.
Can you give more details to reproduce this issue. Maybe examples API request or other details, that helps reproduce this behavior on clean magento installation.

[2017-11-02 08:31] magento-engcom-team commented on #9317
Hi @wpendergast
You shold change `max_input_vars` in php.ini

[2017-11-02 08:35] sunilit42 opened #11946 "Layer navigation showing wrong product count"
Preconditions

Magento version 2.1.9
Enable out of stock display yes from backend

Getting errors -
Layer navigation count wrong due to Magento count only in-stock product.
https://github.com/magento/magento2/blob/2.1.9/app/code/Magento/CatalogSearch/Model/Adapter/Mysql/Aggregation/DataProvider.php#L115

Actual result:
count calculation based on backend stock setting.

[2017-11-02 08:38] sunilit42 commented on #11946
It is also same for magento 2.2 version.

[2017-11-02 08:47] andy17612 opened #11948 "About I/O Usage in magento2.2"
### Preconditions

1. in magento2.2
2. php7,1

### Steps to reproduce

1.  when I'm using an administrator,my server I/O Usage is very high,and then can't open the page.need to restart the server

### Expected result

1. How to solve this issue?

### Actual result

1.  I/O Usage so high

[2017-11-02 08:48] vutrankien commented on #11379
Yes, i'm confirm this error, it happen by replace language on end of link

[2017-11-02 08:52] magento-engcom-team commented on #11941
@ralbin, thank you for your report.
We've created internal ticket(s) MAGETWO-83167 to track progress on the issue.

[2017-11-02 08:52] phanngochanh commented on #11412
Thanks @davepullen, it's worked for me.

[2017-11-02 09:07] DavaGordon commented on #11899
It was actually falling over at MageWorx Seo which i actually removed from magento earlier that day for some reason it still saw the module as being installed after removing from setup_module everything worked fine

[2017-11-02 09:27] magento-engcom-team commented on #11945
@sumeetmobiwebtech Unfortunately, We could not reproduce the issue as you described it. Please provide data that you enter to the Api request's Body.
Did you correctly say expected result, and the actual result? We understand correctly your Expected Result user from gmail address should not be created?

[2017-11-02 09:30] magento-engcom-team commented on #9357
@tranductrong92, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-11-02 09:30] #9357 closed, assigned to magento-engcom-team

[2017-11-02 09:30] magento-engcom-team commented on #9317
@wpendergast, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-02 09:31] mindsoul commented on #10071
thanks @moleculech, also my issue dissapear on magento 2.2.0

[2017-11-02 09:48] magento-engcom-team commented on #11921
@agenceoneo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
Please check documentation http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish.html

[2017-11-02 09:51] georgios-2317 commented on #9280
Hello,

I have since upgraded to 2.2 and no longer use REST API due to the slow down. The ticket here should have enough information for you to replicate behavior. In essence calling REST API to add media to existing product is a simple and direct call.

[2017-11-02 10:03] sumeetmobiwebtech commented on #11945
@magento-engcom-team thanks for your reply.We resolve the issue actually email was coming from mobile team with double quotes  and we were trying save email with double quotes that's why we are getting that problem.

Thanks again

[2017-11-02 10:03] michielgerritsen opened #11950 "Password manager prevents to finish the checkout"
When you have saved credentials in a password manager, ie Lastpass, then the "order" button does not work due to an error on the shipping step of the checkout.

### Preconditions

1. Magento 2.1.9 or 2.2.0
2. Lastpass Chrome extension installed, and a record for the current website created.

### Steps to reproduce
1. Make sure you have the Lastpass extension for Chrome installed, and a record adde

[2017-11-02 10:04] georgios-2317 opened #11951 "Root category url_key causes full table scans"
Having a database with approx 4K categories (anchors) and 16K products spread throughout the tree, making a url_key change on a root category causes significant delays (in hours) to update children products and re-generate URL rewrites.

In specific:

When changing the URL key of a root category (say level 1) it will trigger a cascading regeneration of all url rewrites for all products within. Thi

[2017-11-02 10:04] george-vlahakis opened #30519 "Root category url_key causes full table scans"
Having a database with approx 4K categories (anchors) and 16K products spread throughout the tree, making a url_key change on a root category causes significant delays (in hours) to update children products and re-generate URL rewrites.

In specific:

When changing the URL key of a root category (say level 1) it will trigger a cascading regeneration of all url rewrites for all products within. Thi

[2017-11-02 10:55] JanisE opened #11953 "Product configuration creator does not warn about invalid SKUs"
Product configuration creator does not warn about invalid SKUs before attempting to save/create the configuration products, thus losing the product configurations set up.

### Preconditions
1. Magento CE 2.2.0 with sample data is installed by Composer.

### Steps to reproduce
1. In Admin go to Stores -> Attributes -> Product -> Add New Attribute
2. Create an attribute with input type "Text Swatch"

[2017-11-02 10:58] maghamed commented on #11279
Hey @fooman,  there should not be issues regarding compatibility of zend-code with php 7.1+

We've already discussed that with Ocramius
https://twitter.com/iminyaylo/status/903215810101075968
https://github.com/zendframework/zend-code/issues/129

Here is an article about Doctrine which follows the same approach: http://doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html

Make sur

[2017-11-02 11:14] magento-engcom-team commented on #11055
@pareshpa, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-02 11:22] Krupaly2k-zz opened #11954 "Unable to save custom attribute value in billing and shipping"
### Preconditions

1. 2.1.6
2.

### Steps to reproduce

1. Please send me complete extension if possible as I have tried everything but unable to save values in billing and shipping address. It is not showing custom attribute value in admin order as well
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-11-02 11:29] breg-13 commented on #6119
Found some solution, it fixed displaying of product placeholder image for me, when product don't have an image. But not sure.
It's needed to add:
[code]
 in /etc/view.xml (theme folder)

[2017-11-02 11:29] sitiodocanoamarelo opened #11955 "Inline translation :: Create new account :: Unable to translate password strength"
### Preconditions

1. Magento CE 2.2.0
2.

### Steps to reproduce

1. Backoffice: Activate inline translation
2. Frontoffice: Create a new account
3. Try to translate the password strength comment while inserting a new password.

### Expected result

1. Translate the different strings "no password", "weak", etc.

### Actual result

1. Only translates the "no password" comment, other comments such

[2017-11-02 11:46] orlangur commented on #11899
@DavaGordon did you use manual removal or http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-uninstall-mods.html?

[2017-11-02 11:46] #11945 closed, assigned to nobody

[2017-11-02 11:54] magento-engcom-team commented on #11946
@sunilit42, thank you for your report.
We've created internal ticket(s) MAGETWO-81624 to track progress on the issue.

[2017-11-02 12:07] ankursachdeva11 commented on #11325
@logeecom
got reply from Magento Marketplace on this issue:

Yes, we have identified a bug with our install automated test and resolved the issue this morning. We are going to rerun the test today (I added your extension to this list). You will see a separate email either pass or fail (if for some valid reason). So no action is required on your part. Just be on the lookout for the email today.

[2017-11-02 12:07] #11325 closed, assigned to nobody

[2017-11-02 12:08] dasy1234 opened #11956 "Image upload issue"
While adding a new product in the Magento 2.2 single image added with the product details is not reflected in the front end. But if more than one image is uploaded then shows properly without any issue.

### Preconditions

1. Magento version 2.2
2.

### Steps to reproduce

1. Add product from admin panel
2. Add all required details.
3. Add a single image.

### Expected result

1. Product detail pa

[2017-11-02 12:15] ankursachdeva11 opened #11957 "Unable to identify dynamic price bundle product from order API"
### Steps to reproduce
1. Create two product one with dynamic pricing enable and disabled
2. Create two orders with separate items
3. check both orders via API

### Expected result
1. There should be any field in item array which will tell us bundle product is created with dynamic pricing enabled or disabled.

### Actual result
1. Unable to identify the bundle product used to create order has dyna

[2017-11-02 12:23] nordicwebteam commented on #11055
@magento-engcom-team I think you need to reproduce it by using a clean installation + Google MySQL 2nd Gen instance (or other sql with same issue).

[2017-11-02 12:26] magento-engcom-team commented on #11956
@dasy1234, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-11-02 12:28] magento-engcom-team commented on #11953
@JanisE, thank you for your report.
We've created internal ticket(s) MAGETWO-83176 to track progress on the issue.

[2017-11-02 12:30] linomarmo commented on #11800
I have the same problem in a new installation
I try to adding a external css and save but:
admin/theme/design_config/save/key/b29dcd46b9021d145703f58d039698bacf2cf1151b4fd104d3b87a8a8b1552df/
Show 404 page

[2017-11-02 12:42] #9458 closed, assigned to nobody

[2017-11-02 12:50] osrecio commented on #11898
Working on it

[2017-11-02 13:00] cih95 commented on #11532
do anybody have a decision for this problem?

[2017-11-02 13:27] magento-engcom-team commented on #7890
@abolivar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-11-02 13:27] #7890 closed, assigned to nobody

[2017-11-02 13:27] yonitjio commented on #10321
Hi,

Actually, I don't think it can be reproduced without custom module.

I was trying to practice to build a custom module when I encounter the bug. The basic idea was to create a sample module with generic "document - document detail" model, but instead of using modifier, I used UIComponent.

I can give you the project source if you want it, but it kinda messy tho, and I've abandon it since it w

[2017-11-02 13:29] yofisim commented on #7589
I left M2 for Prestashop, I think everyone knows the reason why.
It is definitely a bug, not a feature request. I mean who will want to display out of stock products, who cannot be ordered, mixed with in-stock products.

Anyway, a nasty trick I did in the past was to add a "custom field" (don't remember the exact nomination for M2), to each product.

Each product who is in stock gets value 1
Each

[2017-11-02 13:42] magento-engcom-team commented on #8112
Hello @fgp305. We are not able to reproduce Your issue on a clear Magento 2.1.0 install. In attachment we provide a video with how we've been trying to do that. In order to understand what is essential  for the issue to occur please watch our video and tell us what is missing in it or what is done otherwise than it is done in Your reproduction scenario. Thank You.
[TotalsCalc.zip](https://github.c

[2017-11-02 13:59] heyepic commented on #11404
Any planned update?

[2017-11-02 14:17] orlangur commented on #7589
That sounds like a hack, it is quite easy to achieve desired behavior with custom implementation (since stock information is already in collection, you just need to add additional sorting).

IT IS a feature request in fact, although such feature is quite easy to implement, not sure it would be in-demand in core. Quite often out-of-stock products are simply not displayed (there is an option for thi

[2017-11-02 14:30] magento-engcom-team commented on #9366
@nepda, thank you for your report.
We've created internal ticket(s) MAGETWO-83181 to track progress on the issue.

[2017-11-02 14:33] Yan-Studio-WEB opened #11963 "Magento 2.2 language switching not working on catalog and Product Pages"
### Preconditions
1. Magento Clean Install 2.2
2. More than one store views English and Greek

### Steps to reproduce
1.  got o this page: https://www.nuovamoda.fashion/el/papoutsia/mpotes.html
2. Try To change Language

### Expected result
1.  Go to desired Language

### Actual result

1. Stay in the same Language

[2017-11-02 14:39] DavaGordon commented on #6151
Simply modify vendor/magento/module-quote/Model/ShippingAddressManagement.php to include the RequestInterface and check to see if the update_cart_action was posted, my code is below and seems to work fine tested on 2.1.8 and 2.2.0 RC3

`<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
namespace Magento\Quote\Model;

use Magento\Frame

[2017-11-02 14:42] vanpear commented on #8202
It runs when I'm installing Magento.

`php /var/www/html/bin/magento setup:install `

But: `php /var/www/html/bin/magento setup:upgrade ` throws the error.

Try to set deploy mode to production and run setup scripts.

[2017-11-02 14:49] DavaGordon commented on #8287
Not fixed in 2.2.0 RC3 i have posted a solution here https://github.com/magento/magento2/issues/6151

[2017-11-02 14:56] magento-engcom-team commented on #10855
Hi @Olek89
Can you reproduce it in clean magento instalation?

[2017-11-02 15:04] #9317 closed, assigned to nobody

[2017-11-02 15:05] #8257 closed, assigned to misha-kotov

[2017-11-02 15:06] kirmorozov opened #11964 "Use fsWatch for development environment and updating css/html"
### Preconditions

1. We have development environment.
2. grunt watch is slow.

### Steps to reproduce

1. Try using grunt watch ]
2. you change 1 file  it trigger rebuild of 2-5 files.
3.

### Expected result

1. It runs fast so I can go to browser and hit reload or css-reload

### Actual result

1. [Screenshot, logs]

[2017-11-02 15:07] magento-engcom-team commented on #11942
@J-Fricke, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-11-02 15:08] fjmrf commented on #11577
We have the same issue on a clients installation. Magento 2.1.7, production mode and minification enabled. We deactivated the minification and worked, so the issue is when minified. We still don't have a fix. One more detail, the server set up seems to have influence on it: the issue happens on the production server but not on the stage server. Attached a video of the issue.
[2017-11-02_15-07-01.m

[2017-11-02 15:08] orlangur commented on #11964
PR maybe?)

[2017-11-02 15:12] #11559 closed, assigned to nobody

[2017-11-02 15:13] #11942 closed, assigned to nobody

[2017-11-02 15:30] magento-engcom-team commented on #5276
@wkaminsk, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-11-02 15:30] #5276 closed, assigned to magento-engcom-team

[2017-11-02 15:33] Yasp0 opened #11966 "Attribute update for 'tax class' does not apply to every storeview?"
### Preconditions
1. Magento 2.1.9
2. Multiple store views
3. Have a default tax class for products

### Steps to reproduce
1. Go to Products > Catalog
2. Select a couple of products
3. Click on Actions > Update attributes
![image](https://user-images.githubusercontent.com/5689226/32337592-b05c6416-bff2-11e7-9953-c373c54d87dc.png)

4. In the new window scroll down to 'Tax Class', select the tax cl

[2017-11-02 15:34] yofisim commented on #7589
I understand your saying, though I don't agree at all with you.
If a company using SEO as a traffic acquisition way, they HAVE to display out of stock products, doesn't matter if backorders are enabled or not.

Depending on how you are using Magento, it is a BUG or a FEATURE REQUEST.
As far as the impact of the problem is big (and old) enough, this is something that should be corrected.

I will do

[2017-11-02 15:36] #9287 closed, assigned to nobody

[2017-11-02 15:55] magento-engcom-team commented on #11955
@sitiodocanoamarelo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-11-02 15:55] #11955 closed, assigned to nobody

[2017-11-02 15:57] osrecio commented on #11543
Ivestigating

[2017-11-02 16:12] magento-engcom-team commented on #11966
@Yasp0 Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-11-02 16:16] shiftone242 commented on #11577
I have the same issue with two different Magento 2.2.0 sites.

Issue only seems to occur when the Minify JavaScript Files option is enabled.

Example of an incorrect path;
/admin/catalog/product/edit/id/41056/key/1ae172c797df98a63ac5f4de3dbfcfef776d78ef715de001002671cc43026641//plugins/paste/editor_plugin.js

[2017-11-02 16:25] orlangur commented on #7589
Oh, just post a PR so that it can get merged into core (targeting `2.2-develop` if it is not breaking BC). We need a PO approval to add features but as you can provide a real-world use case it should not be a problem.

[2017-11-02 16:25] angelo983 commented on #11877
@gewaechshaus  you are right, if I set Allow Shipping to Multiple Addresses to NO and I set Skip Order Review Step to YES now, choosing Paypal now it lands directly to PayPal gateway page.
Anyway, @magento-engcom-team if review step can't be skipped when shipping to multiple addresses is enabled some options would have been disabled

[2017-11-02 16:29] shyang292 opened #11967 "How to reindex 10M products in Magento 2.2.0"
Hi, all. My magento 2 webiste has 10M products now. The indexer seems not working because it doesn't write any date to index table in database. Could anyone know the reason? Thanks a bunch.

Server configuration:
RAM: 120G    HardDisk: 200G
Bitnami Magento 2.2.0, PHP 7.0.18  & MySQL 5.7.18
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. reindexing succeed

### A

[2017-11-02 16:30] magento-engcom-team commented on #8643
@avra911, thank you for your report.
The issue is already fixed in 2.1.9

[2017-11-02 16:30] #8643 closed, assigned to nobody

[2017-11-02 16:38] Yasp0 commented on #11966
I added some screenshots and more info.

[2017-11-02 16:49] fendowuk commented on #11375
Hi @pioneerathletics

I also had the same issue with having to clear browser cache before seeing the changes. Sorry, I should have also said that initially.

I have however just realised that the .htaccess file in pub/static/.htaccess was missing. I am wondering if this could have been the cause, do you have that file on your site?

[2017-11-02 16:58] LAccorinti commented on #5558
Confirm that under Magento 2.2.0 the bug is still present.
Hope to be fixed quickly or alternatively to find a fix...

[2017-11-02 17:10] Ctucker9233 commented on #6924
@magento-engcom-team This is still an issue on 2.1.9. Please reopen until this is fixed in 2.1.x.

[2017-11-02 17:39] gpcrocker commented on #11498
We have the same problem as @stevenlavine
We upgraded from MCE 2.1.6 to 2.1.9

We currently have a temporary work around: https://github.com/magento/magento2/issues/10499#issuecomment-326583156

[2017-11-02 17:50] linomarmo commented on #5008
Reopen the ticket same issue is verified in mage 2.2.1 on a single store, don't save any block

[2017-11-02 17:52] angelo983 commented on #10507
@PieterCappelle thank you so much, your temporary solution works also for me in magento 2.1.9

[2017-11-02 17:57] sshymko commented on #10531
The issue (and the fix) is similar to #8018.

[2017-11-02 17:57] sshymko commented on #10531
Why was the ticket closed? Where's the official fix?

[2017-11-02 18:14] Dart18 commented on #10499
Same issue on Magento CE 2.2.0 after upgrade from 2.1.7 (and a lot of previous upgrades + migration from 1.9).
*Paypal Express Checkout disappears if billing agreements is set to NO.*
This seems more a temporary workaround than an expected behaviour
@okorshenko please consider reopen this issue and remove Fixed in 2.1.x label.
Thanks