[2022-08-24 10:33] #36006 closed, assigned to engcom-Bravo

[2022-08-24 10:36] engcom-Hotel commented on #35856
Hello @speller,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento's development branch i.e. 2-4-develop but for us the issue is not reproducible. We have made a custom module in order to reproduce the issue. The same is attached below:

[Magz.zip](https://github.com/magento/magento2/files/9415273/Magz.zip)

We have tried to reproduce the issue with PHP 8.1;

[2022-08-24 10:47] Alexander-Khohklov commented on #30901
@give me 2.4-develop instance

[2022-08-24 10:57] engcom-Alfa commented on #29901
Today again I tried to reproduce in 2.4-develop instance having different types of products into the cart. Below is the procedure I followed.

1. Retrieved a customer token, using a GraphQL query.
2. Created a new empty cart using a query `mutation {
  createEmptyCart
}`
3. Added simple products to the cart-
Request is: `mutation {
  addSimpleProductsToCart(
    input: {
      cart_id: "{{Customer

[2022-08-24 10:57] #29901 closed, assigned to sudheers-kensium

[2022-08-24 11:00] engcom-Bravo commented on #36007
Hi @SunilC1512,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 project-community-edition as well but the issue is not reproducible. Kindly refer the screenshots.

<img width="927" alt="search" src="https://user-images.githubusercontent.com/51680745/186402144-37d0c8ee-2bce-403d-86ee-8f216bbfc1c1.png">

<img width="934" alt="search 2" src="htt

[2022-08-24 11:01] Alexander-Khohklov commented on #30901
@magento give me 2.4-develop instance

[2022-08-24 11:16] Aquive commented on #36009
Hi @UglyWillDuckling did you try `bin/magento app:config:import` between steps 2 and 3? I am not sure if this is necessary actually, but maybe worth to try?

[2022-08-24 11:19] UglyWillDuckling commented on #36009
Hi @Aquive, yes that was tried as well. I forgot to mention it in the description.

[2022-08-24 11:19] amokato commented on #31758
if this still is an issue, why will that not be fixed in the core?

[2022-08-24 11:36] engcom-November commented on #36009
Hi @UglyWillDuckling ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not reproduce the issue using both config.php and cli.
Steps performed:
1. Updated below value in config.php and saved
2. Ran php bin/magento app:config:import
3. Verified admin - No issue - Values updated as expected.
4. Updated the same value from cli using command:

6. Ra

[2022-08-24 11:42] engcom-Alfa commented on #33220
@magento give me 2.4-develop instance

[2022-08-24 11:48] engcom-Bravo commented on #36001
Hi @hagotupagina-spa,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 project-community-edition as well but the issue is not reproducible.

Kindly refer the screenshots.

<img width="930" alt="1736 1" src="https://user-images.githubusercontent.com/51680745/186410626-7a332322-091c-491a-9abb-c0c5b8efeaf6.png">

<img width="932" alt="1736 2" src

[2022-08-24 11:53] engcom-Hotel commented on #35820
Hello @Nuranto,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop but the issue is not reproducible for us. We have verified it in the `var/cache` folder.

We have followed the below steps:

- Install the fresh Magento instance
- Install Sample Data
- Run the command `bin/magento catalog:images:resize --async`

Please let us know if we have miss

[2022-08-24 12:05] deiserh commented on #31109
Hi there,
unfortunately I can't say anything official about the topic because I only worked on it as an contributer. But according to the System Requirements Magneto only supports 10.4 (https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) so I assume this will not change until version 2.5 (next major version).

So if you want to use another version (or you have to) I think

[2022-08-24 12:07] engcom-Hotel commented on #35992
Hello @CadenceLabs-AndrewS,

Thanks for the report and collaboration!

We have checked the above issue in the Magento 2.4-develop and it seems the regex has been updated. We request you to please check the same in 2.4-develop and let us know if you are able to reproduce it.

https://github.com/magento/magento2/blob/bcb0fea6da9d08549d2c212f7ebf585caf66f426/app/code/Magento/MediaStorage/App/Media.ph

[2022-08-24 13:21] Alexander-Khohklov commented on #12075
@magento I am working on this

[2022-08-24 13:53] hagotupagina-spa commented on #36001
Attached screenshots. With an actuall call and refference ofthe issue
![222](https://user-images.githubusercontent.com/105003495/186436236-d3fb69db-26fd-4a5c-9293-a4e06aadfb60.jpg)
![Screenshot_20220824-095001_Phone](https://user-images.githubusercontent.com/105003495/186436250-d70e7994-7a86-40f8-83b8-c4b96b0201d0.jpg)
.

[2022-08-24 14:01] leonhelmus commented on #35329
The workaround in https://github.com/magento/magento2/issues/35329#issuecomment-1139618176 fixes it, thanks!
@MyroslavDobra

[2022-08-24 14:23] IbrahimS2 opened #36010 "Fixer IO API Endpoint changed"
### Preconditions and environment

- Magento version: 2.4.5
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

### Expected result

It imports currency rates successfully

### Actual result

The import is failing due to the new API keys only compatible with the new API Endpoint which must be updated/corrected from within M2

### Additional information

_No respo

[2022-08-24 14:29] amine-y commented on #35941
You need to install a Magento 2.4.3 or 2.4.4 then make sure that this module is enabled:
Magento_AdminAdobeIms
and those are disabled:
Magento_AdobeIms
Magento_AdobeImsApi
Magento_AdobeStockAdminUi

Then upgrade to Magento 2.4.5

Then try to run:
bin/magento setup:di:compile

[2022-08-24 14:55] Kiraberos commented on #34707
@magento I am working on this

[2022-08-24 14:57] madonzy opened #36012 "Unnecessary message rejection on pill version update"
### Preconditions and environment

- Magento version: all versions

### Steps to reproduce

1. Run consumer with 100000 messages
2. Change config
3. Add more messages to RabbitMQ

### Expected result

The consumer will fail without message rejection and the message is processed in the next consumer-run process

### Actual result

The consumer will fail and the message is rejected and the message i

[2022-08-24 15:10] git-seb opened #36013 "jquery.validate.js does not get minified correctly"
### Preconditions and environment

- Magento 2.4.5
- PHP 8.1
Did a pagespeed test and shows jquery.validate.min.js should be optimized. (I have JS minify turned on) Checking the actual file jquery.validate.min.js it is indeed incorrectly minified.
![jquery validate min js wrong](https://user-images.githubusercontent.com/78160594/186454387-592694ac-e5b7-4e6c-bd0e-293fbc4680bd.png)

How it should be

[2022-08-24 15:11] dphilipps commented on #35329
I agree.  And quite unbelievably, the mobile menu on the Magento's very own Marketplace "Powered by Adobe Commerce 2.4.5"  demonstrates the issue perfectly - it doesn't work!  The menu items with children (e.g 'Extensions') do not open on mobile or dev tools mobile emulation.

See for yourselves:
https://marketplace.magento.com/

[2022-08-24 15:21] rob-gonz commented on #35616
@engcom-Echo , I appreciate you are still trying to reproduce - I really do. However, you failed to follow the steps I outlined. If they are not followed exactly you can not reproduce the issue.  The initial reindex is **NOT** the problem. It is once a reindex is occurring based on a cronjob.  The issue also only occurs during the reindex NOT after. Running the reindex directly runs a reindex that

[2022-08-24 15:45] shmVan commented on #35780
@magento I am working on this

[2022-08-24 16:50] LRotherfield commented on #1619
For me it was slightly simpler than https://github.com/magento/magento2/issues/1619#issuecomment-310709324

In every nested import statement I needed to add the file extension.  I did not need the `_` or `'` mentioned in the above answer.

What I mean by this is:
My main source file is called `main.less` and contains import statements for most other files:
[code]
This works fine and makes symlinks

[2022-08-24 16:57] engcom-November commented on #35600
Hi @0xMatt ,
We re verified the issue again on Magento 2.4-develop branch and it has been concluded that Authorization charge $0 is expected behavior but not a bug. Payflow payment is working fine in test mode and after successful payment 4 entries are triggered in payment.log file. 2 entries are the authorization request and redirect sent to paypal which verifies only whether vendor is eligible f

[2022-08-24 17:05] CadenceLabs-AndrewS commented on #35992
@engcom-Hotel
It appears the latest regex in dev branch appears to resolve the issue.

[2022-08-24 17:05] #35992 closed, assigned to engcom-Hotel

[2022-08-24 17:24] alryalls opened #36014 "Unable to select products to associate with a configurable product"
### Preconditions and environment

- Magento version is 2.4.2

### Steps to reproduce

1. Add a new configurable product.
2. Select Attribute Set, Product Name, SKU, Price, leave product disabled.
3. Save.
4. Select all other required values, i.e. categories, country of manufacture, etc.
5. Select Create Configurations to create the dummy product/s (required to enable the 'Add Products Manually' l

[2022-08-24 17:25] alryalls commented on #36014
@magento give me 2.4-develop instance

[2022-08-24 18:13] pmonosolo commented on #36007
I've seen this before, its not that its not working, its that it has a weird long delay.

![image](https://user-images.githubusercontent.com/66754347/186492370-408eaae4-4f74-4fcb-80e3-f1c1f8e04d63.png)

On a production store it took 19 seconds to do an ajax call for one customer.

This is on a local developer server on Magento 2.4.3:
![image](https://user-images.githubusercontent.com/66754347/1864

[2022-08-24 20:07] Yaroslav1301 commented on #25754
@magento add to contributors team

[2022-08-24 22:16] siliconalchemy commented on #33822
@engcom-Echo - the problem is that this missing PK prevents Magento from installing or operating correctly on a Galera based cluster, such as Percona Xtradb Cluster.  Galera is a very popular replication system for Mysql, and is widely used for mission critical environments such as Magento.

During install, it fails with this error:
[code]

[2022-08-25 05:45] GrzegorzWalewski commented on #31537
@magento add to contributors team

[2022-08-25 05:47] GrzegorzWalewski commented on #31537
@magento I am working on this

[2022-08-25 06:04] GrzegorzWalewski commented on #31537
I don't have time right now to fix it on Magento's repo, but here is a patch I came with which fix this issue:
[code]
The only thing that has to be changed is `SQL_OR` to `SQL_AND` – if we use more filters, we want the data we receive
(e.g., products, orders) to meet all our requirements, not just one of them. E.g., we want orders from within dates – not before max date and after min date.

[2022-08-25 06:58] cartok commented on #35973
God forgive me, I was wrong here.

[2022-08-25 06:58] #35973 closed, assigned to engcom-Delta

[2022-08-25 07:10] monteshot commented on #35906
@magento I am working on this

[2022-08-25 07:28] JoostWan commented on #34183
This is still an issue. We can reproduce it on 2.4.3-p2

[2022-08-25 07:33] KrasnoshchokBohdan commented on #33872
https://github.com/magento I am working on this

[2022-08-25 07:38] KrasnoshchokBohdan commented on #33872
@magento I am working on this

[2022-08-25 07:42] engcom-Dash commented on #36014
@magento give me 2.4-develop instance

[2022-08-25 08:34] SunilC1512 opened #36017 "Save the job applictions without last name using emoji"
### Preconditions and environment

#Magento ver. 2.3.2
#commit ID-bddae5658e18dfa3244187404c7ce79056cc5c5a

### Steps to reproduce

1.Openn job portal.
2.Apply any job.
3 .In the candidate name field we add emoji and thi application was save without name of applicant
4.save the application.

### Expected result

show erro massage

### Actual result

*not allow to to save withouth name of applicant

[2022-08-25 08:47] SunilC1512 opened #36018 "Save the job applictions without Address using emoji"
### Preconditions and environment

#Magento ver. 2.3.2
#commit ID-bddae5658e18dfa3244187404c7ce79056cc5c5a

### Steps to reproduce

1.Openn job portal.
2.Apply any job.
3 .In the candidate name field we add emoji and thi application was save without name of applicant
4.save the application.

### Expected result

show error massage

### Actual result

*not allow to to save withouth name of applican

[2022-08-25 09:02] ziazievaaa commented on #35935
@magento give me 2.4-develop instance

[2022-08-25 09:05] SunilC1512 opened #36019 "Previous type informaion not clear when we fill the details even we not save the apllicatin"
### Preconditions and environment

#Magento ver. 2.3.2
#commit ID-bddae5658e18dfa3244187404c7ce79056cc5c5a

### Steps to reproduce

1.Openn job portal.
2.Apply any job.
3 fill the information
4.not save the application.
5.back wthouth saving application.
![image](https://user-images.githubusercontent.com/110841790/186623083-b0c08fa1-453f-491d-bc7d-fdf5c7728383.png)

### Expected result

clear all

[2022-08-25 09:05] engcom-Dash commented on #36018
@magento give me 2.4-develop instance

[2022-08-25 09:27] W679065 commented on #35941
But I have disabled the three modules you mentioned, and the error has not disappeared

[2022-08-25 09:28] amine-y commented on #35941
Did you clear the cache ? manually using rm -rf ?

[2022-08-25 09:36] amine-y commented on #35941
try:
rm -rf generated/*

[2022-08-25 09:38] W679065 commented on #35941
Still the same

[2022-08-25 09:39] shmVan commented on #35881
@magento I am working on this

[2022-08-25 09:39] amine-y commented on #35941
can you post the content of app/etc/config.php file ?

[2022-08-25 09:39] leonhelmus opened #36020 "M2.4.4 + php 8.1 static:content:deploy -f"
### Preconditions and environment

- Magento version 2.4.4 or higher
- php 8.1
- Create a theme and have Luma as a parant.
- Have no additional files except for some xml files

### Steps to reproduce

Go to CLI and do the command:
bin/magento setup:static-content:deploy --area frontend --theme Custom/default --language nl_NL  -f

### Expected result

It generates the static content.

### Actual re

[2022-08-25 10:01] engcom-Hotel commented on #36002
Hello @pmonosolo,

Thanks for the response!

We have tried to reproduce this issue while upgrading Magento from 2.4.3 to 2.4.5 but the issue is not able to reproduce for us. We have used the inbuilt import functionality of the Magento.

It seems the issue is with your proprietary plugin. We request please review and let us know more specific steps to reproduce the issue.

Thanks

[2022-08-25 10:04] engcom-Hotel commented on #35877
Dear @OvalMedia,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-08-25 10:12] W679065 commented on #35941
<?php
return [
    'modules' => [
        'Magento_Store' => 1,
        'Magento_AdminAnalytics' => 0,
        'Magento_AdminNotification' => 1,
        'Magento_AdminGwsConfigurableProduct' => 0,
        'Magento_AdminGwsStaging' => 0,
        'Magento_Directory' => 1,
        'Magento_AdobeIms' => 0,
        'Magento_AdobeImsApi' => 0,
        'Magento_AdobeStockAdminUi' => 0,
        'Magento_M

[2022-08-25 11:07] engcom-Delta commented on #35964
Hi @say-my-name-user ,
Sorry to come back to you again , unfortunately we could not find out such options on magento 2.4 develop instance.
Please find the attached video for reference  and correct me if i am wrong.

https://www.loom.com/share/e2d6ecbd46fa4ef48b07e9e2c4d5251c

[2022-08-25 11:39] Nuranto commented on #35820
Hello @engcom-Hotel ,

Have you enabled & configured a remote storage (S3) ?

[2022-08-25 11:43] SunilC1512 opened #36023 "Direct donation without add to cart"
### Preconditions and environment

#Magento ver. 2.3.2
#commit ID-bddae5658e18dfa3244187404c7ce79056cc5c5a

### Steps to reproduce

1.go to crowd funding page.
2.select any help
3 add to cart.

### Expected result

we donet some small amount noat any product so add to acrt repalce with Donete
![image](https://user-images.githubusercontent.com/110841790/186655471-ad585a10-060d-4806-82ed-72709406a08

[2022-08-25 11:54] SunilC1512 opened #36024 "When we check out pyment site infinite loading."
### Preconditions and environment

#Magento ver. 2.3.2
#commit ID-bddae5658e18dfa3244187404c7ce79056cc5c5a

### Steps to reproduce

1.go to crowd funding page.
2.select any help
3 add to cart.
4go to pyment.

### Expected result

donete amount.

### Actual result

not working
![image](https://user-images.githubusercontent.com/110841790/186657457-b1369d69-e173-4202-ba46-bfd3cb98af7f.png)

### Addit

[2022-08-25 12:04] SunilC1512 opened #36025 "create a new project wthtoun name using emoji"
### Preconditions and environment

Magento ver. 2.3.2
#commit ID-bddae5658e18dfa3244187404c7ce79056cc5c5a

### Steps to reproduce

1go to admin panel
2 crowd fund mangemnt
3 add new project
4 add information wthout name using emoji

### Expected result

project not create

### Actual result

![image](https://user-images.githubusercontent.com/110841790/186659299-8840dc48-4a0a-4dff-8115-6f09b192a58c

[2022-08-25 12:04] engcom-Hotel commented on #36013
@magento give me 2.4-develop instance

[2022-08-25 12:11] SunilC1512 opened #36026 "export cvc file some error"
### Preconditions and environment

Magento ver. 2.3.2
#commit ID-bddae5658e18dfa3244187404c7ce79056cc5c5a

### Steps to reproduce

1go to admin panel
2 crowd fund mangemnt
3export cvc file

### Expected result

all deatil correct format

### Actual result

![image](https://user-images.githubusercontent.com/110841790/186660456-e472908b-b613-4623-924c-0441bac02617.png)
![image](https://user-images.g

[2022-08-25 12:27] #36024 closed, assigned to nobody

[2022-08-25 12:27] engcom-Lima commented on #36023
Hi @SunilC1512 ,

Crowd funding management is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the Magento Market place page

[2022-08-25 12:27] #36023 closed, assigned to nobody

[2022-08-25 12:27] engcom-Lima commented on #36025
Hi @SunilC1512 ,

Crowd funding management is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the Magento Market place page

[2022-08-25 12:27] #36025 closed, assigned to nobody

[2022-08-25 12:28] engcom-Lima commented on #36026
Hi @SunilC1512 ,

Crowd funding management is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the Magento Market place page

[2022-08-25 12:28] #36026 closed, assigned to nobody

[2022-08-25 12:28] say-my-name-user commented on #35964
Hi, you've got me wrong @engcom-Delta,

again, this option is NOT in the bundle product itself but in the SIMPLE product that bundle is consists of.

![Products - Inventory - Catalog - Magento Admin 2022-08-25 15-25-39](https://user-images.githubusercontent.com/17194260/186664221-0887c4ce-bb5b-4629-94f6-33365e35403a.png)
![Products - Inventory - Catalog - Magento Admin 2022-08-25 15-26-57](https:/

[2022-08-25 12:47] engcom-Lima commented on #36017
Hi @SunilC1512 ,

Thank you for your report and collaboration!
Unfortunately community is not able to provide fix for it in this repository as code of this extension is not part on https://github.com/magento/magento2 git repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the Magento Market place page.

Thank you

[2022-08-25 12:47] #36017 closed, assigned to nobody

[2022-08-25 13:07] #35913 closed, assigned to nobody

[2022-08-25 13:10] hutychivan commented on #33422
@magento I am working on this

[2022-08-25 13:31] NetStorm84 commented on #35920
@magento give me 2.4-develop instance

[2022-08-25 13:57] engcom-Delta commented on #35921
Hi @mlf20 ,
Thank for your quick turnaround. We tried again magento 2.4 delovelop instance, it works fine .
Please find below screenshot  and video for reference.

<img width="1013" alt="Screenshot 2022-08-25 at 5 51 36 PM" src="https://user-images.githubusercontent.com/51681379/186683577-d2ec312f-4fd9-4197-a6e5-f9f3fa979399.png">

https://www.loom.com/share/30b8d9ac9ce34cdab74d9b9b27efebb7

[2022-08-25 14:19] pavel77718 commented on #32924
@magento I am working on this

[2022-08-25 14:46] alexmtch opened #36029 "GRAPHQL - Product query crosssell_products is not store scoped"
### Preconditions and environment

Magento 2.4.3

### Steps to reproduce

- Create a product A, assign as cross sell product B and C.
- Have a default store and create a store A
- In your default category :
  - in default store set A,B,C as products in category
  - in store A, set A and B as products in category
- Run this graphql query and add as header Store the store code of your store A
[code]

[2022-08-25 14:49] engcom-Delta commented on #35964
Hi @say-my-name-user ,
Thank you for providing more clear snapshots to understand the steps. We tried to reproduce the issue on Magento 2.4 develop instance , found that on Admin panel after placing an order quantity has been displayed as 1.5 only for order details section,invoiced section but after receiving an email , on order confirmation email it(quantity) has been showing as 1 instead of 1.5

[2022-08-25 15:52] say-my-name-user commented on #35964
Thank you @engcom-Delta ,

but you mentioned only "Qty" column where the number is correct but pay attention to the "Product" column on the order/invoice detailed page.

This columns has a bundle option title in the format like "qty x product_name" and qty is also incorrect there, "1 x Joust Duffle Bag" instead of "1.5 x Joust Duffle Bag".

The same issue is in the email option title.

[2022-08-25 16:44] pmonosolo commented on #36002
I'll need some time to set this up on my side. I'll get back here in a week.

[2022-08-25 17:18] 0xMatt commented on #35600
@magento give me 2.4-develop instance

[2022-08-25 17:39] 0xMatt commented on #35600
@engcom-November - There is no such thing as a $0 authorization. There is a $0 transaction to get the secure token, however this is not an authorization request.

My cart does not have a $0 subtotal, yet the AMT sent is 0. This is causing a failure.

Failure is reproduced on the environment above @engcom-November - Please gather the logs and delete the instance when done.

[2022-08-25 18:00] 0xMatt commented on #35600
Here is the payload sent we get back from paypal in https://8912a941823360ea11005047624e5ef9.instances.magento-community.engineering/paypal/transparent/redirect/:

[code]

[2022-08-25 18:33] 0xMatt commented on #35600
Actually, hard coding the amount no longer succeeds. I still get the same error message on my end. I double checked that Test Mode was enabled. Tried multiple cards. I cannot get CC payments to pass at all. Same exact configuration and it works with PayPal Express.

[2022-08-25 18:43] 0xMatt commented on #35600
I'm also able to confirm this on multiple US-based merchant accounts on fresh vanilla 2.4-develop instances.

[2022-08-25 19:10] ghost opened #36032 "Seeking for Solution to activate the Magnifier Widget for Image Zooming on Product Page"
- Magento 2.4.4 Open Source
- Breeze Evolution Theme Version 1.1.2 (extension code= _**swissup/breeze-evolution:1.1.2**_)

[2022-08-25 19:11] KrusLeung commented on #36032
### view.xml

[code]

[2022-08-25 19:23] hostep commented on #30012
@ihor-sviziev: can this be re-opened and re-validated? Now that there is more info.

[2022-08-25 19:23] KrusLeung commented on #36032
Even Luma Theme can not activate Magnifier Widget by editing Luma's `view.xml` as below:

From
[code]

to

[code]

[2022-08-25 19:36] hostep commented on #35949
The stacktrace mentions taxjar, so I'm assuming this is a 3rd party module? Maybe try upgrading it or talk with their support about this?

[2022-08-25 20:01] hostep commented on #36012
@madonzy: are you sure?

As far as I know (but I might be mistaken):
- calling `dequeue` removes the message from the queue
- calling `reject` puts it back in the queue, so it won't be lost

[2022-08-25 20:05] simthax commented on #35941
I also faced the issue after upgrading to 2.4.5. What I did is disable Magento_AdminAdobeIms in config.php first, then directly do setup:di:compile since flushing generated and cache folder didn't work. After that I launched again the setup upgrade and the di compile to complete the upgrade

[2022-08-25 21:21] principiaskin commented on #33455
Any solution to this problemn?

[2022-08-25 23:13] mwdana commented on #35733
@engcom-Dash please see prior comment for testing settings. Thank you.

[2022-08-26 02:37] cctorres commented on #35941
I tried the rm -rf command and also the s:di:compile after disabling the adobe modules and the issue is still happening... using 2.4.3 there is no problem so... I dont know what could be the solution

[2022-08-26 02:52] damienwebdev opened #36033 "Currently listed colinmollenhour/cache-backend-redis is incompatible with php 8.1"
### Preconditions and environment

**Magento version(s):**

- v2.4.4
- v2.4.4-p1
- v2.4.5

Redis 6.0 w/ Redis Sentinel

### Steps to reproduce

1. Install the impacted Magento 2 versions
2. Configure Redis Sentinel
3. `php pub/health_check.php`
4. Get deprecation error because of `error_reporting(E_ALL)` in `app/bootstrap.php`

### Expected result

No error. Redis Sentinel works for Magento.

###

[2022-08-26 03:24] dekiakbar commented on #12298
The issue still exis in magento version 2.4.3.0-patch1

[2022-08-26 05:50] engcom-Hotel commented on #36002
Sure @pmonosolo we will wait for your reply.

[2022-08-26 05:52] madonzy commented on #36012
yeah, param true is the difference I did not notice, I close this issue :)

[2022-08-26 05:52] #36012 closed, assigned to nobody

[2022-08-26 07:00] monteshot commented on #35706
@magento I am working on this

[2022-08-26 07:08] Ritesh-Rana commented on #35998
`Issue: Format is valid`
`Issue: Clear Description`
`Component: 35998`
`Reproduced on 2.4.4`
`Issue: Confirmed`

[2022-08-26 07:30] engcom-Dash commented on #36014
@magento give me 2.4-develop instance

[2022-08-26 07:58] engcom-Dash commented on #36018
Hi @SunilC1512 ,

We are trying to reproduce the issue in 2.4-develop instance...But we are not able to reproduce.

Here i attached the screenshots
![Screenshot from 2022-08-25 14-57-02](https://user-images.githubusercontent.com/60198592/186847778-cc9e7cb1-4e11-4b3f-a348-0f5e777814bb.png)
:

Steps:
1.Install Magento instance
2.Enter emojis with respective fields
3.Getting error while entering emoj

[2022-08-26 08:02] engcom-November commented on #36029
@magento give me 2.4-develop instance

[2022-08-26 08:08] engcom-Lima commented on #34546
Hi @Hexmage  ,

Thanks for your contribution and collaboration.

I have tried to reproduce the issue in `2.4-develop` but issue is not reproducible to me.

Followed below steps :

1. Create a cart
2. Add 2 products to the cart with at least 4 quantities each.
3. Set the quantity of added products below the quantity in the cart from admin.
4. Get cart  details through graphql query:
[code]
After ru

[2022-08-26 08:25] KrasnoshchokBohdan commented on #35810
@magento I am working on this

[2022-08-26 08:28] engcom-Dash commented on #35985
Hi @KrusLeung ,

We are not able reproduce the issue in 2.4-develop...we  are not have revise back anything in modification...Please check the below link for your reference:

https://github.com/magento/magento2/blob/e235082a74c86dcbe30a89752e43af605510bdaf/app/code/Magento/Customer/Block/Widget/Name.php#L167

Can you tell me upgraded version ??? Its very useful to proceed further in this case.

Th

[2022-08-26 08:33] OBurtyka commented on #35288
I have the same issue when trying to composer require klarna/m2-klarna

  [InvalidArgumentException]
  Could not find a matching version of package klarna/m2-klarna. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (alpha).

[2022-08-26 08:34] engcom-Bravo commented on #36001
@magento give me 2.4-develop instance

[2022-08-26 08:36] Hexmage commented on #34546
@engcom-Lima
Feels like you don't have manage stock turned on. Because there should be an error message when the stock is below the available stock.

[2022-08-26 08:52] rajnishkrpatel opened #36035 "Project is created without name when we enter emoji instead of project name."
### Preconditions and environment

- **Magento version : - 2.4.1**

### Steps to reproduce

- click on magento url
- login as admin end
- click on crowd funding management
- click on add project
- add emoji in project name

### Expected result

-  project name should not be accepted by emoji.

### Actual result

- emojies are accepted here.

### Additional information

_No response_

### Release n

[2022-08-26 09:01] engcom-Delta commented on #35861
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-08-26 09:01] #35861 closed, assigned to engcom-Delta

[2022-08-26 09:12] topanok commented on #35789
https://github.com/magento I am working on this

[2022-08-26 09:13] topanok commented on #35789
@magento I am working on this

[2022-08-26 09:47] richiardc opened #36037 "GraphQL product attribute added by admin showed DEPRECATED in ProductInterface"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

1. Add new product attribute from admin
2. Set Storefront properties Visible on Catalog Pages on Storefront to Yes to expose it on api
3. Verify the new field in ProductInterface with a GraphQL client (I use Altair GraphQL Client)
Ex: Run the graphql [query](https://devdocs.magento.com/guides/v2.4/graphql/interface

[2022-08-26 10:25] manishgoswamig commented on #22753
HI @sitiodocanoamarelo ,

Have you found any solution because I am also having this issue and have not got any solution yet?

[2022-08-26 10:26] manishgoswamig commented on #22753
Hi @abbaseg ,

Have you got any solutions for this issue ?

[2022-08-26 10:41] engcom-November commented on #36029
Hi @alexmtch ,
Thank you for reporting and collaboration. Verified the behaviour on Magento 2.4-develop branch and is reproducible but however this seems to be an expected behaviour.
Since both the stores (default and store A) are assigned to the same website(Main website), Product C is still displayed on front end Store A scope even if it is unassigned from the store A.
Kindly refer the [docs[](h

[2022-08-26 10:46] engcom-Hotel commented on #35199
Hello @<reporter>,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2701 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2701&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-26 10:49] abbaseg commented on #22753
Hello Manish,

I do not remember exactly but I think it was occurring because I have
enabled some extra modules. After disabling them it started working again.

On Fri, Aug 26, 2022 at 7:26 PM Manish Goswami ***@***.***>
wrote:

--
이방지 / *Abbas Ali Butt*
Technical Leader
*Magento 2.0 Silver Solution Partner*
www.eguanacommerce.com / ***@***.***
*M (Pakistan)* 92-345-4251-554  /  *M* 82-10-8692-278

[2022-08-26 10:55] mlf20 commented on #35921
Hi @engcom-Delta,

It appears that you have used a request body that includes all the correct parameters. However, the error is triggered when setting the entire body to be empty json, as I have shown in the above request body this should be simply: {}. This will reproduce the error.

Many thanks

[2022-08-26 11:44] engcom-Dash commented on #36014
@magento give me 2.4-develop instance

[2022-08-26 11:54] engcom-Hotel commented on #36013
@magento give me 2.4-develop instance

[2022-08-26 12:05] engcom-Bravo commented on #36035
Hi @rajnishkrpatel,

Thank you for reporting and collaboration.

Crowd funding management is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension o

[2022-08-26 12:05] #36035 closed, assigned to engcom-Bravo

[2022-08-26 12:27] engcom-Dash commented on #36014
Hi @alryalls ,

We are able to reproduce the issue in 2.4-develop instance.

Magento Version: 2.4-develop
PHP                    : 8.1
Preconditions      : Magento version is 2.4.2
Here i attached the screenshots for your reference:
![Screenshot from 2022-08-26 17-46-44](https://user-images.githubusercontent.com/60198592/186902032-05706ed4-7a44-4205-81ea-06d94d60deef.png)
![Screenshot from 2022-08

[2022-08-26 12:36] engcom-November commented on #36037
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Unable to use "custom_attributes" ProductInterface in graphQL query. Its not mentioned anywhere in Magento [docs](https://devdocs.magento.com/guides/v2.4/graphql/interfaces/product-interface.html) that its a deprecated field hence confirming this issue.
Thank you.

[2022-08-26 12:50] engcom-Bravo commented on #36001
Hi @hagotupagina-spa,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 project-community-edition as well but the issue is reproducible.

Kindly refer the screenshots.

1.Adding a telephone number with spaces(+1 555 555) on Store information

<img width="930" alt="1736 1" src="https://user-images.githubusercontent.com/51680745/186901888-54b489c

[2022-08-26 13:12] steveberrill commented on #35941
I resolved by enabling all the following

[code]

then running this

[code]

[2022-08-26 13:19] m2-assistant[bot] opened #36042 "[Issue] URLs should not contains reserved characters according to RFC 3986"
This issue is automatically created based on existing pull request: magento/magento2#35885: URLs should not contains reserved characters according to RFC 3986

---------

### Description (*)

This PR fixes the [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986.html) which forbids to use reserved characters in URLs such as a comma.

### Related Pull Requests

### Manual testing scenarios (*)

1. Use

[2022-08-26 14:06] engcom-Hotel commented on #30012
Hello @hostep,

Let me reopen this for further investigation.

Thanks

[2022-08-26 14:09] engcom-Hotel commented on #35820
Hello @Nuranto,

Yes, we have tried it with S3 enabled. But unable to reproduce the issue. Please refer to the below screenshot:

<img width="841" alt="image" src="https://user-images.githubusercontent.com/51681618/186922394-ee67f49b-c3ec-49f3-822b-319e4d12cc91.png">

The below path doesn't have any changes:

`var/cache`

Please let us know if we have missed anything.

Thanks

[2022-08-26 14:12] andrewbess commented on #35913
Hello @khoimm92
The provided fix resolves problem described by you.
We checked it.
Thank you for your collaboration

[2022-08-26 14:38] UglyWillDuckling commented on #36009
Hi @Aquive,

I will investigate this a bit further. It might be that it only affects previously stored configurations.

[2022-08-26 15:04] manishgoswamig commented on #22753
I disabled the below module for the Magento 2.4.4-p1 version and admin categories are working fine now.

php bin/magento module:disable -f Magento_Inventory Magento_InventoryAdminUi Magento_InventoryApi Magento_InventoryBundleProduct Magento_InventoryBundleProductAdminUi Magento_InventoryCatalog Magento_InventorySales Magento_InventoryCatalogAdminUi Magento_InventoryCatalogApi Magento_InventoryCat

[2022-08-26 16:01] cctorres commented on #35941
The first part worked for me. I have another problem but that is another problem. Thanks!

When I try s:di:dompile I am getting the following error

 Aoe\Logger\Model\Logger\Handler\Logger::write(array $record) must be compatible with Magento\Framework\Logger\Handler\Base::write(array $record): void

[2022-08-26 17:31] sdzhepa commented on #28102
Based on the previous comments and the absence of other discussions, I assume the problem was resolved in the scope of  PR. from https://github.com/magento/magento2/issues/28102#issuecomment-1000793814

Feel free to create a new issue or reopen this one if it's still actual on the latest code base

[2022-08-26 18:29] jissereitsma commented on #35913
@xmav  Sorry for the delay. As mentioned I actually fixed the issue for myself earlier. But I tested out things out, and indeed the fix is good! Many thanks! Also thanks @sidolov @vovayatsyuk for helping along with this.

[2022-08-26 19:54] isaacdzca commented on #35909
+1

[2022-08-26 20:30] gfxguru commented on #35962
Is there a work around to fix this issue ATM?

[2022-08-27 03:04] KarenO24 opened #36044 "Receiving A Lot of Spam Emails Daily"
### Preconditions and environment

- Magento ver. 1.9.3.6
- Each day we are getting more than 60 emails but all spams
Refer to the attached file as reference. I remember before this was addressed but again it showed up in our help desk daily.

on my screenshot you will also see the ticket ids as reference.

### Steps to reproduce

Go to Help desk and click new/open tickets
Then after you refresh t

[2022-08-27 06:08] KrusLeung commented on #35985
My Magento Version is 2.4.4 @engcom-Dash

[2022-08-27 09:20] Bashev commented on #33147
@magento give me 2.4-develop instance

[2022-08-27 09:53] steveberrill commented on #35941
if that module is not

not sure what that module is, if its not required maybe try removing

[2022-08-27 10:13] hostep commented on #35835
@engcom-November, Adobe definitely maintains all packages under https://github.com/magento-l10n

It's extremely weird that version 1.0.0 is the only one of `community-engineering/language-ja_jp` available on repo.magento.com, and all versions that were later created on github are not on repo.magento.com
All (?) other language packs under the `community-engineering` namespace are not published on r

[2022-08-27 11:51] Bashev commented on #33147
this looks like to be fixed.

May cause problems if you are migrated from magento 1 and in the core_config_data you have migrated records for sitemaps.

Check ````SELECT * FROM core_config_data where path like 'crontab/default/jobs/sitemap_generate/%';```` and remove all of them. After that will be triggered correct instance of Sitemap Observer.

[2022-08-27 14:04] cctorres commented on #35941
Thanks! I resolved that and then this issue too (https://github.com/magento/magento2/issues/35909) but now im getting a 500 server error when I try to save a config on Admin page but its working now the storefront things.

[2022-08-27 17:31] steveberrill commented on #35941
try resetting file and folder permissions in the terminal

[code]

then this

`php bin/magento setup:upgrade && php bin/magento setup:di:compile && php bin/magento cache:flush`

[2022-08-27 18:31] likearocket commented on #35724
I can also confirm this issue since upgrading to 2.4.4, so why is it closed?

[2022-08-28 10:04] hostep commented on #36044
Hi @KarenO24, this github repository is about Magento 2, not Magento 1

However, I would recommend you to install and configure some Captcha/ReCaptcha module to make sure all the forms on your webshop are protected against spammers. That should hopefully solve the problem.

[2022-08-28 18:50] n2diving-dgx opened #36045 "Category Sort (position, name, price) behavior has changed in M2.4.5"
### Preconditions and environment

Category Sort (position, name, price) behavior has changed in M2.4.5

The sorted order of products appearing in catalog category pages is controlled by the Sort By setting selected by the user from a drop down appearing in the upper right corner of the category page.

Previously the out-of-stock status of a product had no effect on the sort order, but as of updat

[2022-08-29 07:21] engcom-Lima commented on #35998
Hi @[Ritesh-Rana](https://github.com/Ritesh-Rana)

We have tried to reproduce this issue but issue is not  reproducible .

**Precondition:**
    • Magento version : `2.4 -develop`
    • Created custom theme

We have followed below steps
1.In custom theme we have created Magento_Catalog directory, under this created layout directory and under layout we have created the file catalog_product_view.xml

[2022-08-29 07:49] Nuranto commented on #35604
Hi here,

I think you missed this one : `vendor/magento/data-migration-tool/src/Migration/Logger/Logger.php`

[2022-08-29 08:19] engcom-Hotel commented on #36013
@magento give me 2.4.5 instance

[2022-08-29 08:21] Nuranto opened #36046 "[Documentation] Message queues - Issue with 2.4.5"
### Summary (*)

In this page : https://developer.adobe.com/commerce/php/development/components/message-queues/

We get an example containing

[code]

On 2.4.5, this throws an exception : `Missing exchange field for publisher product_action_attribute.update in connection config.`

### Proposed solution

Change the documentation to :

[code]
---
Please provide [Severity](https://devdocs.magento.com

[2022-08-29 08:36] engcom-Hotel commented on #34109
Hello @Nuranto,

Thanks for the report and collaboration!

We have verified the issue by looking into the codebase and we have found that the variable with the name `$categoriesProductsCount` is not defined anywhere in its scope. But we are using `isset` method on that, due to this it is not giving any error and simply calling `$this->getProductsCountFromCategoryTable($item, $websiteId)` method.

[2022-08-29 08:55] engcom-Dash commented on #36044
Hi @KarenO24 ,

This issue is related to spamming which can be manage by adding Captcha. It will protect against spammers.

Let us know if we missing anything!!!

Thanks!!!

[2022-08-29 09:46] Ritesh-Rana commented on #35998
I have tired cutomtheme.zip code provided by your side. I don't know but its still not working in my system maybe some other issue.

[2022-08-29 09:46] #35998 closed, assigned to engcom-Hotel

[2022-08-29 09:51] engcom-Bravo commented on #36045
@magento give me 2.4.5 instance

[2022-08-29 09:55] ihor-sviziev commented on #34882
Almost the same changes were introduced in https://github.com/magento/magento2/commit/2125a21c6d057e3838f44e715b4b884517e5b467.
Closing this issue since it's not relevant anymore

[2022-08-29 09:55] #34882 closed, assigned to nobody

[2022-08-29 09:57] engcom-Dash commented on #35985
Hi @KrusLeung ,

We are trying to reproduce the issue....we are not able to reproduce.Customer account page also able to create successfully.
As per your comments we are checked in 2.4-develop we need not to revise back anything.please upgrade your magento version and install new magento instance...Thanks!!!

[2022-08-29 09:58] engcom-Lima commented on #36013
Hi  @[git-seb](https://github.com/git-seb)

We have tried to reproduce this issue
**Precondition:**
    • Magento `2.4-develop` && `2.4.5`
    • PHP 8.1

We have followed below steps
1.We have enabled Minify JavaScript Files as shown below

![image](https://user-images.githubusercontent.com/60198022/187175292-c91c38e9-8312-4548-8def-6fa16203e69c.png)

2.After we run the frontend url in Google Page

[2022-08-29 10:08] engcom-Delta commented on #35921
Hi @mlf20 ,
Thank you for the update , We have tried with empty json :{} in entire body and triggered ,we got "field name is required. Enter and try again" error. please review the screenshot.

<img width="995" alt="Screenshot 2022-08-29 at 3 32 52 PM" src="https://user-images.githubusercontent.com/51681379/187177888-cec44e73-02cf-4fef-a480-1d9a70cf3972.png">

[2022-08-29 10:17] engcom-Bravo commented on #36045
@magento give me 2.4-develop instance

[2022-08-29 10:18] engcom-Delta commented on #36019
Hi @SunilC1512 ,
Thank you for raising an issue and happy to assist you but kindly share the job portal url as per the steps provided.
Magento Admin portal looks like below.

<img width="1434" alt="Screenshot 2022-08-29 at 3 46 55 PM" src="https://user-images.githubusercontent.com/51681379/187179547-178d2d7e-25aa-4855-aae8-4c35f573ad3f.png">

Regards,

[2022-08-29 10:21] git-seb commented on #36013
Hi @engcom-Lima,

as you can see on your last screenshot, Google says jquery.validate.min.js can be optimized even though it is stated as passed. If you check that file you can see it is not minified correctly (see link https://22dcddfc581ace05c5c80fae5246308c.instances.magento-community.engineering/static/version1661761332/frontend/Magento/luma/en_US/jquery/jquery.validate.min.js from your instan

[2022-08-29 10:34] dzdaniel opened #36048 "Error message when dismiss all completed tasks"
### Preconditions and environment

- Magento version 2.4.4

### Steps to reproduce

1. Update products in bulk from product grid
2. Go to bulk action logs and wait until all action success
3. Click to View Details in system message

### Expected result

The system message should show without error.

### Actual result

It's showing error message
![image](https://user-images.githubusercontent.com/62

[2022-08-29 10:53] sufyanrightpoint commented on #31117
Reproducible in 2.4.4

[2022-08-29 12:39] Myroslava-Myroslava opened #36049 "Catalog Price Rule single product reindex works incorrectly"
### Preconditions and environment

- Magento 2.4.3 , 2.4-develop

- Magento multi store setup. 2 Websites (W1 and W2)
- Create the the Product's Attribute (e.g. "Age Group") with the scope "website" and "Use for Promo Rule Conditions" set to "yes".
- The Product assigned to both websites and having Attribute with option 1 for W1, and option 2 for W2 (e.g. "adults" for W1 and "children" for W2).

#

[2022-08-29 12:39] engcom-Bravo commented on #36045
Hi @n2diving-dgx,

Precondition:
• Magento 2.4-develop && 2.4.5
• PHP 8.1

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 project-community-edition as well but the issue is reproducible.

Kindly refer the screenshots.

1.In frontend website navigate to Home > Gear > Watches, and observe that the position of Luma Analog Watch is appropriate an

[2022-08-29 12:51] Bashev commented on #36045
Probably is a good idea to make a settings "Move out of stock products at the end" or something similar, to achieve both goals.

[2022-08-29 12:52] Myroslava-Myroslava commented on #36049
@magento give me 2.4-develop instance

[2022-08-29 12:52] Myroslava-Myroslava commented on #36049
@magento I am working on this

[2022-08-29 12:55] engcom-Hotel commented on #35780
Hello @Harpreet-StreamMarket,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-5987 by the internal team
Related commits: https://github.com/magento/magento2/commit/fd7e45e945796afcb39ef96c57121f494d651754

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-29 12:55] #35780 closed, assigned to shmVan

[2022-08-29 12:56] #34154 closed, assigned to engcom-Delta

[2022-08-29 12:57] engcom-Hotel commented on #33954
Hello @<reporter>,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-1119 by the internal team
Related commits: https://github.com/magento/magento2/commit/fd7e45e945796afcb39ef96c57121f494d651754

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-29 12:57] #33954 closed, assigned to nobody

[2022-08-29 12:58] engcom-Hotel commented on #33697
Hello @<reporter>,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-937 by the internal team
Related commits: https://github.com/magento/magento2/commit/fd7e45e945796afcb39ef96c57121f494d651754

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-29 12:58] #33697 closed, assigned to nobody

[2022-08-29 12:58] engcom-Hotel commented on #35391
Hello @<reporter>,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-5994 by the internal team
Related commits: https://github.com/magento/magento2/commit/fd7e45e945796afcb39ef96c57121f494d651754

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-08-29 12:58] #35391 closed, assigned to nobody

[2022-08-29 12:59] engcom-Lima commented on #36020
Issue got reproduced in `2.4 develop`.

**Description:**
When we hit the bin/magento setup:static-content:deploy  --area frontend --theme Customtheme/mytheme --language nl_NL -f  command we are getting error.

**Pre-requisite:**

- Magento version 2.4 develop
- php 8.1
- Created custom theme with Luma as a parent

**Steps to reproduce:**
1.Created a custom theme and Luma as a parent
2. Hit below c

[2022-08-29 12:59] Myroslava-Myroslava commented on #36049
@magento add to contributors team

[2022-08-29 13:01] Myroslava-Myroslava commented on #36049
@magento I am working on this

[2022-08-29 14:21] n2diving-dgx opened #36050 "M2 hamburger menu incompatible with recent versions of Android browsers."
### Preconditions and environment

The "hamburger" menu that is displayed in the upper left hand corner of the Luma theme (and thus any theme derived from the Luma Theme, such as ours) in vertical orientation does not function correctly for navigating to subcategories on Android smartphones.  However, on a classic PC desktop with Windows then simply resizing the browser window to very narrow such

[2022-08-29 14:33] Myroslava-Myroslava commented on #36049
We created 2 websites:
![image](https://user-images.githubusercontent.com/112387241/187225644-873bfd95-3f2e-4849-9b44-d3924d8000b1.png)

The rule:

![Screenshot 2022-08-29 at 17-11-39 R1 _ Catalog Price Rule _ Promotions _ Marketing _ Magento Admin](https://user-images.githubusercontent.com/112387241/187223433-924c5d4b-f425-465f-8c47-bf58a975989c.png)

We select the option matching the rule for th

[2022-08-29 14:47] Nuranto commented on #35820
Hello @engcom-Hotel,

Have you run the consumer ? `bin/magento queue:consumers:start media.storage.catalog.image.resize`

I think you can also run the resize in synchronous mode, it should gave the same result.

[2022-08-29 15:04] hostep commented on #36046
Shouldn't this be reported to https://github.com/magento/devdocs if it's a documentation bug?

[2022-08-29 15:18] Nuranto commented on #36046
I was unaware of this project, moved to https://github.com/magento/devdocs/issues/9504.

Thanks

[2022-08-29 15:18] #36046 closed, assigned to nobody

[2022-08-29 16:40] engcom-November commented on #35979
Hi @KrusLeung ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.0 to 2.4.4 project-community-edition and also on 2.4-develop branch but could not reproduce the issue. Data of attributes category_ids, tax_class_id, status are imported successfully. Kindly check the issue on Magento 2.4-develop branch as per [System requirements](https://devdocs.magento.com/guides

[2022-08-29 18:19] ksenia-zlotin opened #36051 "Magento Admin Product Custom Options Not Movable / Draggable in 2.4.4"
### Preconditions and environment

-Magento 2.4.4
-jQuery 3.6.0

### Steps to reproduce

1. In a clean Magento 2.4.4 instance, create a product in the admin with 3 custom options.
2. Try to drag the second option up to the first position.

### Expected result

Custom option should drag and move to the first position while the first option should move down.

### Actual result

The dragging action s

[2022-08-29 18:31] abvdveen commented on #33770
Same issue here, upgrading from 2.3.7-p3 to 2.4.5: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '2918522' for key 'catalog_url_rewrite_product_category.PRIMARY', query was: ALTER TABLE `catalog_url_rewrite_product_category` ADD CONSTRAINT  PRIMARY KEY (`url_rewrite_id`)

[2022-08-29 21:17] robsoned commented on #35487
Hello guys, In case someone is having some problem as well. We started having this problem after upgrading from magento 2.3* to Magento 2.4.3-p2. Our problem here was fixed by:

1. Updating `resetforgottenpassword.phtml` in our custom theme, to include the customerId in the form action. Like @hostep had commented above: https://github.com/magento/magento2/issues/35487#issuecomment-1129189569
2. Up

[2022-08-29 22:35] JKetelaar commented on #36050
Same issue here

[2022-08-30 00:33] JKetelaar commented on #36050
Fixed with
https://github.com/magento/magento2/issues/35329#issuecomment-1139618176

[2022-08-30 05:13] jancyceymox opened #36052 "Can't Create shipment for ordered qty less than 1"
### Preconditions and environment

- Magento version: Magento Open Source Ver. 2.4.4-p1, Magento Open Source Ver. 2.4.5
- Create an Order with Qty less than 1. Then create the invoice and then create the shipment. The items will not be displayed in the "Items to Ship"  section.

![image](https://user-images.githubusercontent.com/67380078/187354091-04fce8a6-59db-4b34-94ff-33c53420d17e.png)

I have

[2022-08-30 05:20] engcom-Bravo commented on #35949
Hi @roettinger,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-30 05:20] #35949 closed, assigned to engcom-Bravo

[2022-08-30 05:20] engcom-Bravo commented on #35943
Hi @Velbro,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-30 05:21] engcom-Bravo commented on #35954
Hi @modryk,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-08-30 05:21] #35954 closed, assigned to engcom-Bravo

[2022-08-30 06:19] writyou commented on #35909
[2022-08-30T05:45:59.812731+00:00] main.CRITICAL: Exception: Warning: Object of class Magento\Framework\Phrase could not be converted to int in /website/tt/var/view_preprocessed/pub/static/vendor/magento/module-catalog/view/frontend/templates/product/list/toolbar/limiter.phtml on line 1 in /website/tt/vendor/magento/framework/App/ErrorHandler.php:62
Stack trace:
#0 /website/enerart/var/view_prepro

[2022-08-30 06:32] engcom-Hotel commented on #36013
@magento give me 2.4-develop instance

[2022-08-30 07:06] engcom-November commented on #35600
@magento give me 2.4-develop instance

[2022-08-30 07:10] engcom-Hotel commented on #36013
@magento give me 2.4.5 instance

[2022-08-30 07:18] engcom-Hotel commented on #36013
@magento give me 2.4.4 instance

[2022-08-30 07:46] peterjaap commented on #35962
Yes, see my OP

[2022-08-30 08:02] pavel77718 commented on #36001
@magento I am working on this

[2022-08-30 08:21] engcom-Bravo commented on #31489
@magento give me 2.4-develop instance

[2022-08-30 08:26] devchris79 commented on #35672
@gwharton I presule Royal mail have added the SHA256 support in there latest update:

![image](https://user-images.githubusercontent.com/43850303/187388171-6fef78b9-93c3-4553-8ce4-e42153a9c6da.png)

[2022-08-30 08:37] NickvdMeij commented on #35595
Any update regarding this issue? It's been almost 4 weeks now

[2022-08-30 08:45] engcom-Hotel commented on #35993
Hello @hostep,

Thanks for the detailed information on this issue as well as https://github.com/magento/magento2/issues/31428.

Hello @densen45,

We have checked this issue in the latest development branch ie 2.4-develop and for us, the issue is reproducible for currency rates cron, we are updating the issue description and confirming the issue.

Note: The issue seems not reproducible for backups

[2022-08-30 08:47] engcom-November commented on #35600
Hi @0xMatt ,
Verified the behavior again on Magento 2.4-develop cloud instance but payflow pro payment is working fine in test mode. Please find the video attached of the same.
Test configuration details used:
Partner: PayPal
User: MksGLTest
Vendor: MksGLTest
Pass: Abcd@123
https://user-images.githubusercontent.com/60198231/187392060-9365d62a-665e-4aa9-a49f-adc815855069.mp4

[2022-08-30 08:52] engcom-Hotel commented on #35843
Hello @Nuranto,

Thanks for the report and collaboration!

We have looked into this issue and we are unclear about the reproduction steps. We request you to please provide us with the same. It will help us in moving forward with this issue.

Thanks

[2022-08-30 09:26] Beraa995 commented on #32177
I made a fix which works with no problems for me.

I created after plugin on \Magento\Customer\Model\Options::getNamePrefixOptions method. It looks like this:

`
<?php
declare(strict_types=1);
namespace Vendor\Module\Plugin;

use Magento\Customer\Model\Options;

class ChangePrefixOptionKeys
{
    /**
     * @param Options $subject
     * @param array|bool $result
     * @return array|bool
     */

[2022-08-30 09:32] ezardarr commented on #35207
I am also facing same error issue in calling endpoint : /rest/default/V1/store/websites

[2022-08-30 09:40] engcom-Bravo commented on #31779
@magento give me 2.4-develop instance

[2022-08-30 09:41] UglyWillDuckling commented on #36048
I can confirm being able to reproduce this issue on one of our projects as well. I will update with more info.

[2022-08-30 09:53] engcom-November commented on #34586
@magento give me 2.4-develop instance

[2022-08-30 09:58] hieuhidro commented on #28556
This is issue of LastPass extension. It append an element `<div style="display: static !important"></div>` to the HTML

[2022-08-30 10:10] engcom-November commented on #35569
Verified the issue on Magento 2.4-develop instance with mailhog email setup configured but could not reproduce the issue.
Order emails are getting triggered as expected for both guest and logged in users from front-end and admin panel for both products with no description and with short description as well. If the issue is caused due to the 3rd party extensions / modules enabled, community cannot

[2022-08-30 10:21] homecoded commented on #32177
@Beraa995 Pretty cool! Thanks for sharing. It looks like you implemented your own "array_unique". I think you could reduce some lines of code by using the native array_unique-function.

[2022-08-30 11:06] hostep commented on #32177
https://github.com/magento/magento2/pull/36003 could maybe also fix it?

[2022-08-30 11:08] UglyWillDuckling commented on #36048
From what I can tell the issue is happening because of jQuery and the way it is deciding if an error occurred.
Basically, the response from Magento is empty and jquery expects json. This throws a parsing error.

It should be quite easy to fix by just adding an empty json result but I still need to try this.

[2022-08-30 11:09] engcom-November commented on #34434
Price is not getting reset in Product details page on qty changed for configurable product. This issue has been confirmed here: https://github.com/magento/magento2/issues/35753. We are closing this issue as duplicate as this has been confirmed [here](https://github.com/magento/magento2/issues/35753).

[2022-08-30 11:09] #34434 closed, assigned to engcom-November

[2022-08-30 11:09] Sental commented on #32177
The pull request https://github.com/magento/magento2/pull/35060 has also been raised to fix this issue.

[2022-08-30 11:30] #35900 closed, assigned to Bashev

[2022-08-30 11:30] Sharmilasrini95 commented on #35600
Can you share the patch file of this fix

[2022-08-30 11:30] #35768 closed, assigned to nobody

[2022-08-30 11:30] #35200 closed, assigned to nobody

[2022-08-30 11:59] cctorres commented on #35941
I tried this but it did not work

[2022-08-30 12:20] steveberrill commented on #35941
ok then it may be server configuration error. please edit this file app/bootstrap.php

uncomment this

#ini_set('display_errors', 1);

to see if it debugs the error

[2022-08-30 12:35] engcom-Bravo commented on #31489
Hi @OleksiyOleksiyovych,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch we are able to reproduce the issue.

Kindly refer the screenshots.

Cart Price Rule "Spend $50 or more - shipping is free!" is activated.

<img width="896" alt="dk" src="https://user-images.githubusercontent.com/51680745/187433017-77f216d4-8795-4803-8cbf-f6a1da1ff231.png">

1.muta

[2022-08-30 13:04] anvanza commented on #35200
@engcom-Hotel , Where can I find the PR ?

[2022-08-30 13:26] dylacom commented on #35644
Hello

have you managed to resolve this issue please?

I am upgrading from 2.3.7-p3 to version 2.4.4 using php8.1

i get

Deprecated Functionality: strtolower(): Passing null to parameter #1 ($string) of type string is deprecated in /var/.../vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 3483

[2022-08-30 13:31] cctorres commented on #35941
Thanks for answering... I did that but I can't see anything. I am going to pause the upgrading for some days.... so thanks!

[2022-08-30 13:42] o-iegorov commented on #35329
The core team began work on the task as part of an internal ticket ACP2E-816

[2022-08-30 13:55] engcom-Delta commented on #36051
Hi @ksenia-zlotin ,
Thank you for raising an issue and happy to assist you . We tried to reproduce the issue on magento 2.4.4 instance , but we could not able to drag & drop the options from Product --> custom options --> Option 1 or Option 2 section.
Usually , drag & drop should happen from Catalog--> Category --> section where we can modify its position.

Hence request to review the provided ste

[2022-08-30 14:00] ksenia-zlotin commented on #36051
It looks like the video shows the reproducing of this issue. What else am I to provide?

[2022-08-30 14:02] fmineo commented on #35329
@o-iegorov  I provided a fix in PR #35468 before the solution in the comment above. All tests are passed, just waiting for review and merging.

[2022-08-30 14:03] sdzhepa commented on #36044
Hello @KarenO24

This repository and issue tracker has intended for Magento 2.4.x versions for bugs that can be reproduced on the latest `2.4-develop` code base. More details [Report an issue](https://developer.adobe.com/commerce/contributor/guides/code-contributions/#report-an-issue) guide and requirements

Also, [Support for Magento 1 Software Ends June 30, 2020](https://business.adobe.com/blog/

[2022-08-30 14:03] #36044 closed, assigned to engcom-Dash

[2022-08-30 14:13] madbounce commented on #35954
@magento give me 2.4.2 instance

[2022-08-30 14:20] engcom-Hotel commented on #36048
Duplicate of https://github.com/magento/magento2/issues/35971

[2022-08-30 14:24] engcom-Hotel commented on #36048
Reopening this issue. The issue was mistakenly closed.

[2022-08-30 14:29] engcom-Hotel commented on #35820
Hello @Nuranto,

Yes, we tried it with both Sync and Async commands. But the issue was not reproducible for us. Can you please suggest the path where this cache has been saved for you?

Thanks

[2022-08-30 14:49] engcom-Lima commented on #36013
:heavy_check_mark: Issue confirmed

Issue got reproduced in 2.4-develop && 2.4.5 branch.

**Description:**
After enabling the Minify JavaScript Files in magento,  the jquery.validate.js file is partially minified.

**Prerequisite:**
- Magento `2.4.5` && `2.4-develop` .
- PHP 8.1

**Steps to Reproduce:**
1. Enable Minify JavaScript Files in magento.
2. Run  the frontend url in Google PageSpeed
3. C

[2022-08-30 15:06] 0xMatt commented on #35600
@engcom-November Verified there is no issue with the credentials you provided. Must be something to do with my PayPal account. I've contacted them and am closing this ticket as it's apparently tied to my merchant accounts.

[2022-08-30 15:24] elizad commented on #35657
Type Error occurred when creating object: Magento\Framework\Communication\Config\Data, Magento\Framework\Reflection\TypeProcessor::resolveFullyQualifiedClassName(): Argument #2 ($typeName) must be of type string, null given, called in /var/www/html/m/vendor/magento/framework/Reflection/TypeProcessor.php on line 550  when updrading to M.4.5 FRM M4.3

[2022-08-30 15:25] Sharmilasrini95 commented on #35600
But still i am facing this issue in Magento 2.4.4.

[2022-08-30 15:31] Sharmilasrini95 commented on #35600
Hi

I am getting below response when i am trying the payment via payflowpro.

I am using the test mode

  'PayPal PayflowPro response:' =>
  array (
    'SECURETOKEN' => '1sOft3K71MEyoJ267YSvOTgEV',
    'STATE' => 'TN',
    'CITYTOSHIP' => 'Nashville',
    'COUNTRYTOSHIP' => 'US',
    'AVSDATA' => 'XXN',
    **'AMT' => '0.00',**
    'BILLTOCITY' => 'Nashville',
    'ACCT' => '****',
    'BILLTOSTR

[2022-08-30 16:17] ROYALEXPRESSTRAVELS opened #36053 "THE ROYAL EXPRESS TRAVELS"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2022-08-30 16:17] siliconalchemy opened #36054 "exception.log missing"
### Preconditions and environment

- Magento version 2.4.5
- PHP 8.1 (FPM)
- Apache2.4
- Ubuntu 20.04

This Magento install has

### Steps to reproduce

Trigger an exception/error (for example reCAPTCHA error detailed in #34975), or make `generated/` directory read-only to trigger a read-only error.

### Expected result

I expect to see an error and trace in var/log/exception.log

### Actual resul

[2022-08-30 16:42] engcom-Delta commented on #36052
Hi @jancyceymox ,
Thank you for raising an issue , we tried to replicate the issue on magento 2.4.5 but we are unable to add less than 1 , i.e 0.5 product to cart whereas tried with 1.5 we are able to add an item to cart and place an order successfully.
We are able to invoice for 0.5 ( partial ) of product quantity.

Hence , request to review the pre-condition and steps provided.

<img width="1366

[2022-08-30 16:52] jancyceymox commented on #36052
@engcom-Delta
Here is the product configuration
![image](https://user-images.githubusercontent.com/67380078/187493798-e0efabd0-795e-4ffa-821a-86fd6d5fb0e8.png)

Added item to the cart
![image](https://user-images.githubusercontent.com/67380078/187494003-1498e2d7-9e1f-4ad1-92ee-cb477707a197.png)

Created the order
![image](https://user-images.githubusercontent.com/67380078/187494190-83fdf93c-2afb-4

[2022-08-30 17:34] sdzhepa commented on #36053
Please follow [Report an issue](https://developer.adobe.com/commerce/contributor/guides/code-contributions/#report-an-issue) requirements and guidelines

[2022-08-30 17:34] #36053 closed

[2022-08-30 18:46] hostep commented on #35900
Closed without a comment?
But I see one commit mentioning `AC-6384`:  https://github.com/magento/magento2/commit/bb55549cd3016987663272e7ffe3f452c8d6e40d, so that's probably the fix

[2022-08-30 18:48] gwharton commented on #35900
PR is here https://github.com/magento/magento2/pull/35987

[2022-08-30 18:49] hostep commented on #35900
Which got closed with a comment:

[2022-08-30 19:09] hostep commented on #35768
Closed without a comment?
But I see a bunch of commits mentioning AC-5986, here's the merge commit:  https://github.com/magento/magento2/commit/70b864f4b103800784397f14b2887b25e619fad3, so that's probably the fix

[2022-08-30 19:18] pmonosolo commented on #35918
@anvanza @engcom-Hotel

It looks like there is a separate issue with Display Out of Stock Products.

Search for "ryker" on vanilla Magento 2.4.5, Diplay Out of Stock = "NO":

![image](https://user-images.githubusercontent.com/66754347/187524115-e21c7d2f-c5c2-4583-9d2a-7dd46d1fdf60.png)

We change Diplay Out of Stock = "YES" + refresh cache + reindex

![image](https://user-images.githubusercontent.

[2022-08-30 19:33] pmonosolo opened #36055 "Magento 2.4.5: Show Out Of Stock option outputs all available products during search"
### Preconditions and environment

- Magento version 2.4.5
- PHP 8.1
- ES 7.17.0

On website I'm working on to upgrade to 2.4.5 from 2.4.3, the Catalog Search ouputs the whole Enabled Catalog:

![image](https://user-images.githubusercontent.com/66754347/187525323-fc678812-47c8-49e0-ab26-394f14058e98.png)

Instead of only ouputting the search results which should be 664 items:

![image](https://use

[2022-08-30 19:35] pmonosolo commented on #36055
@magento give me 2.4-develop instance

[2022-08-30 19:41] chequille opened #36056 "Price of selected swatch changes if quantity field is changed"
### Preconditions and environment

- Magento 2.4.3

### Steps to reproduce

1. Create a configurable product with different prices for the selectable childs
2. Go to frontend and go to the detailed page of this product.
3. select one of the swatches, but not the first one (f.e. the last one)
4. price is changing accoridng the selected swatch
5. click in the qty field and type a new quantity.

###

[2022-08-30 19:42] chequille commented on #36056
@magento give me 2.4-develop instance

[2022-08-30 19:45] pmonosolo commented on #36055
Here are tests:
https://2a84a4e16655dab06981be102116addf.instances.magento-community.engineering/catalogsearch/result/?q=ryker

BEFORE:
![image](https://user-images.githubusercontent.com/66754347/187529064-c98697c0-f423-416f-b085-d8c221b3f785.png)

AFTER:
![image](https://user-images.githubusercontent.com/66754347/187529174-7538bc1a-82cb-4f35-832d-069281f31de3.png)

[2022-08-30 19:46] pmonosolo commented on #36055
https://github.com/magento give me 2.4.3 instance

[2022-08-30 19:47] pmonosolo commented on #36055
@magento give me 2.4.3 instance

[2022-08-30 19:56] pmonosolo commented on #36055
Magento 2.4.3 does not have this issue:
https://a8564c0d1a87b370b3d016bd8a0ccd93.instances.magento-community.engineering/catalogsearch/result/?q=ryker

BEFORE:
![image](https://user-images.githubusercontent.com/66754347/187531033-9423aa3f-9afd-44d5-96fc-0e5f84e9516e.png)

AFTER:
![image](https://user-images.githubusercontent.com/66754347/187531000-f95ee5ca-48bc-4629-a6ce-a26bf8d9e2ea.png)

[2022-08-30 20:01] chequille commented on #36056
Could not reproduce it on delevop instance. Ok, I am on 2.4.3
Will check if there is another influence on my site.
Come back if I know why it happens.
Maybe if somebody else have it as well on 2.4.3 make a ocmment.

[2022-08-30 20:02] pmonosolo commented on #35899
These are probably related:
https://github.com/magento/magento2/issues/36055

[2022-08-30 20:25] chazzs opened #36057 "admin layout broken"
### Preconditions and environment

-  Magento ver. 2.4.3-p2

### Steps to reproduce

I am not clear how to reproduce this, it just started happening and is happening more and more lately.

1. login to the admin/backend.

### Expected result

I expect the admin layout to be consistent; not having the content appear below the side menubar.

### Actual result

admin layout broken and page content app

[2022-08-30 20:26] pmonosolo commented on #35899
Whoever is working on this, please release this as a hotfix - this is an important part of the store. PHP 7.4 is EOD in 2 months, we've gotta get it fixed.

[2022-08-30 20:28] chequille commented on #36056
Found it. It seems, that it was a bug in 2.4.3 but is now solved.
Compared swatch-renderer.js from 2.4.3 and 2.4.delevop.
in the _create function, there is a new line of could like
`$(this.options.qtyInfo).on('input', this._onQtyChanged.bind(this));`
This solves the problem.

Closing the issue

[2022-08-30 20:29] #36056 closed, assigned to nobody

[2022-08-30 20:31] pmonosolo commented on #35899
Ya'll should try the fix in this thread:
https://github.com/magento/inventory/issues/3360

[2022-08-30 20:31] pmonosolo commented on #36045
Try this fix:
https://github.com/magento/inventory/issues/3360

[2022-08-30 20:32] pmonosolo commented on #36055
It looks like the fix for this issue is in this thread:
https://github.com/magento/inventory/issues/3360

I need to test a bit more, but so far, it's outputting only the items in the search.

[2022-08-30 20:33] chazzs commented on #36057
@magento give me 2.4.3-p2-develop instance

[2022-08-30 20:34] chazzs commented on #36057
@magento give me 2.4-develop instance

[2022-08-30 20:42] Bashev commented on #35899
@pmonosolo see also my fix https://github.com/magento/magento2/pull/35986

[2022-08-30 20:42] Bashev commented on #36055
Probably fixed in https://github.com/magento/magento2/pull/35986

[2022-08-30 20:59] sdzhepa opened #36058 "TEST INTEGRATION ISSUE"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1

### Expected result

2

### Actual result

3

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users without workaround._
- [ ] S

[2022-08-30 21:32] pmonosolo commented on #36055
@Bashev

Hmmm, doesnt seem to work. The page loading time is still slow.

The fix in vendor\magento\module-inventory-catalog\Plugin\Catalog\Block\ProductList\UpdateToolbarCount.php

![image](https://user-images.githubusercontent.com/66754347/187546945-b6316962-0056-404d-add9-ac22cce6fc05.png)

It looks like somebody by mistake is calling wrong method - it pulls the WHOLE product collection rather

[2022-08-31 00:17] shirne opened #36059 "Can't delete page with sql error"
### Preconditions and environment

- Magento version: 2.4.5
- Anything else that would help a developer reproduce the bug
flush cache  does not work

### Steps to reproduce

1. Add a page named Discover( only fill pagetitle and content heading )
2. return to page list I can see the page added
3. when I delete the page( from list or edit ), it shows the sql error

### Expected result

delete succes

[2022-08-31 02:53] rogerdz opened #36060 "Can't place order for ordered qty less than 1 with guest checkout"
### Preconditions and environment

- Magento Open Source Ver. 2.4.5

### Steps to reproduce

1. In admin backend Catalog > Product > Joust Duffle Bag > Advanced Inventory, change qty to 96.75,  Minimum Qty Allowed in Shopping Cart  to 0.5,  Qty Uses Decimals  to Yes
2. In frontend add  Joust Duffle Bag to cart with qty 0.5
3. Go to checkout and place order

### Expected result

Place order success

[2022-08-31 03:08] speller opened #36062 "Undefined constant "MagentoHackathon\Composer\Magento\Deploystrategy\GLOB_BRACE" under Alpine linux"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

Following official instructions to upgrade 2.4.4 to 2.4.5 https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-upgrade.html

### Expected result

Upgraded successfully

### Actual result

Composer fails on the `composer update` step:

[code]

### Additional information

T

[2022-08-31 03:26] speller commented on #35856
@engcom-Hotel sorry for a late reply. I can confirm the issue is solved in 2.4.5. The line causing the warning was changed from

[code]

to

[code]

[2022-08-31 04:32] shirne commented on #36059
resolved.
I have change the domain but not set to install config.

[2022-08-31 04:32] #36059 closed, assigned to nobody

[2022-08-31 06:59] Amadeco commented on #36055
The both solutions for me doesn't work :
Fixed Issue #35899: Filtering with out of stock products, limited only to products in… #35986
Category count for category pages is wrong when show out of stock is enabled 2.4.5 #3360

I am on Magento 2.4.5 and PHP 8.1.
The only reason why it is not working for me is a 3rd party extension (I am using Smile Elasticsuite) but I cannot see any plugin which modi

[2022-08-31 07:01] Nuranto commented on #35820
Well, in my case I can see all that cache files with : `ls -l /dev/shm/* |grep JPG`

Each of this files look like this :
[code]

You can find the cache logic in `Magento\RemoteStorage\Driver\Adapter\CachedAdapter`, for example have a look at `fileExists` method, I guess that's where it gets generated.
See also `Magento\RemoteStorage\Driver\Adapter\Cache\Generic::updateMetadata` where you can see t

[2022-08-31 07:41] #34545 closed, assigned to artskirk

[2022-08-31 07:41] #35579 closed, assigned to pmzandbergen

[2022-08-31 07:41] #35854 closed, assigned to rmsundar1

[2022-08-31 07:41] #35939 closed, assigned to amenk

[2022-08-31 07:41] #35307 closed, assigned to vovayatsyuk

[2022-08-31 07:41] #35481 closed, assigned to nobody

[2022-08-31 08:13] TerrapinSoftware commented on #35697
The problem is in file vendor/magento/module-email/view/adminhtml/templates/preview/iframeswitcher.phtml, line 37:

    $('#preview_iframe').load(function() {

load() is deprecated and has been changed. The correct code is

    $('#preview_iframe').on('load', function() {

[2022-08-31 08:33] dtavieres commented on #35978
Good morning .
Is there any fix or workaround for this issue ?
Thank you

[2022-08-31 08:36] maddumarala commented on #36062
@magento give me 2.4-develop instance

[2022-08-31 09:02] guvra opened #36063 "PHPStan returns false positives because of incoherent PHPDocs on functions/parameters that accept Phrase objects"
### Preconditions and environment

- Magento version: 2.4.5
- Using PHPStan with the following conditions:
    - Level >= 5
    - Adding `declare(strict_types=1);` at the top of php files

### Steps to reproduce

1. At the root of your Magento project, create a file named Test.php with the following contents:
[code]
2. Run PHPStan:
[code]

### Expected result

PHPStan shouldn't report any error.

[2022-08-31 09:59] canon1ij commented on #33920
Well, Well, Well.... You Know
Cricut machine makes the process of cutting materials easy. Once your machine is set up, you can give a command to your machine through your computer and start making crafts quickly and easily. The process of setting up a Cricut machine is simple. You can download and install the Cricut Design Space for your Windows and Mac. To do so, you can head over to the official

[2022-08-31 10:12] sunilit42 commented on #36060
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-08-31 10:27] sunilit42 opened #36064 "Security Issue : Address allow Script JS"
### Preconditions and environment

- Latest Magento
- Guest User
- place order
- with first name and last name <script>test</script> <script>test</script>

### Steps to reproduce

- Go to Checkout As guest
- enter firstname and last name <script>test</script>
- place order

### Expected result

It should be escape first name and last name

### Actual result

it is rendering without escape it

###

[2022-08-31 10:29] avanturist commented on #35941
The problem still exists after upgrading magento (from 2.4.3-p1 to 2.4.4) and this is neither permissions problem nor cache  related problem.
_Error: Cannot instantiate interface Magento\Framework\Jwt\JwtManagerInterface in /home/colorit/public_html/releases/20210113065414/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:51_

[2022-08-31 10:30] DiegoItaly commented on #33073
I confirm that the problem is reproducible on magento 2.4.4.
the patch works, just the name of the function is "getOptionId",
not anymore getOptionIdByLabel.

[2022-08-31 11:07] avanturist commented on #35941
Solution to fix the problem is to enable magento JwtFrameworkAdapter module:
_'Magento_JwtFrameworkAdapter'_ => 1,

[2022-08-31 11:47] hostep opened #36065 "When VAT number validation fails by the VIES service, there is no trace about the exception message in the log files"
### Preconditions and environment

- Magento version: any

### Steps to reproduce

Look at the code over here: https://github.com/magento/magento2/blob/2.4.5/app/code/Magento/Customer/Model/Vat.php#L214-L218

1. In the code [over here](https://github.com/magento/magento2/blob/2.4.5/app/code/Magento/Customer/Model/Vat.php#L47), change the url to https://example.com/taxation_customs/vies/checkVatSer

[2022-08-31 11:54] hostep commented on #36057
It's been happening to me as well on various Magento versions since a week or 2-3. It only seems to happen on Google Chrome, not on Firefox.
It only happens every so often, not all the time.

I _think_ it's caused by a Google Chrome update from version 103 to 104, but can't say with certainty.
Maybe somebody should report this to the Google Chrome team? Not sure if a bug in Chrome itself, or a bug

[2022-08-31 11:57] hostep commented on #36062
See https://github.com/magento/magento-composer-installer/pull/35 & https://github.com/magento/magento-composer-installer/pull/37 for fixes

[2022-08-31 13:32] dimdimich commented on #28182
We still have same issue for several clients. Please provide Magento instance so we can recreate it.

[2022-08-31 13:39] #36058 closed, assigned to sdzhepa

[2022-08-31 13:56] mklooss commented on #35877
@engcom-Echo and @engcom-Hotel

Most of our M2 Stores a stores in EU (Germany)... and Prices will be filled in with Taxes (19 %).
So the Tax Configuration is "prices include tax".
But PayPal Express does not send the Shipping Options to Paypal bcz. of this line

https://github.com/magento/magento2/blob/caf390a9cde8ef2eaa7287492a5ab01e7ef15670/app/code/Magento/Paypal/Model/Express/Checkout.php#L560

[2022-08-31 14:23] sunilit42 commented on #36064
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-08-31 15:01] avattam06 commented on #35493
@shikhamis11 Can you please add all the steps to reproduce the issue? Thanks

[2022-08-31 15:32] shikhamis11 commented on #35493
@magento give me 2.4-develop instance with edition ee

[2022-08-31 15:37] nathanjosiah commented on #36064
@sunilit42 I’m not sure what you mean by "it is rendering without escape it". It is definitely being escaped or it wouldn’t appear as text on the page but instead be processed as a script tag. If you are able to execute scripts e.g. `alert('pwned')` then that would be an example of unescaped. More importantly, if you do find an exploit, please submit it through our [HackerOne program](https://hack

[2022-08-31 15:44] shikhamis11 commented on #35493
Hi @avattam06,
This issue is reproducible on Magento 2.4-develop instance with enterprise edition.
I have added a screenshot please check the default favicon is missing and 404 for its path in the console.
![image](https://user-images.githubusercontent.com/25526037/187720840-40483980-b430-4157-9a1a-81a05dd00e92.png)

[2022-08-31 16:30] amine-y commented on #35941
@magento give me 2.4-develop instance

[2022-08-31 16:44] amine-y commented on #35941
for everyone who still encountering issues try to enable all modules before running setup:di:compile

[2022-08-31 17:15] pmonosolo commented on #36055
Search for their name in the issues, I believe I've seen somebody working on this issue for that specific plugin.

[2022-08-31 18:33] puntable commented on #35329
Your PR does not fix it. Tested in in 2.4.5.
Hacky fix by https://github.com/magento/magento2/issues/35329#issuecomment-1139618176 does work though.

[2022-08-31 18:41] navarr commented on #36062
I would recommend this be increased to S1 as the ability to run composer commands is likely "critical functionality"

[2022-08-31 18:52] ihor-sviziev commented on #36062
@sidolov @sdzhepa @andrewbess i think it should have p1 priority since that’s the only issue on alpine Linux and the fix is pretty simple, we even have a pull request with needed changes

[2022-08-31 19:00] sunilit42 commented on #36064
https://github.com/magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-08-31 19:04] sunilit42 commented on #36064
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-08-31 19:24] nathanjosiah commented on #36064
@sunilit42 I'm going to close this ticket for the reasons I mentioned above. Please reach out directly to me in community slack or submit a report through HackerOne if you have anything further on this.

[2022-08-31 19:24] #36064 closed, assigned to nobody

[2022-08-31 19:38] sunilit42 commented on #36064
@nathanjosiah i place order but with alert but alert not doing

[2022-08-31 19:46] nathanjosiah commented on #36064
@sunilit42 [Here is the information](https://developer.adobe.com/open/magento/slack) for how to access the community slack. If you have any further comments regarding this issue let's continue there.

[2022-08-31 20:20] speedupmate commented on #36064
in addition customer names in address fields are validated differently than customer names in registration forms https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/Validator/Name.php

[2022-08-31 20:55] fmineo commented on #35329
@puntable you are right! I tested it now in 2.4.5 and doesn't work.

[2022-08-31 21:06] fmineo commented on #35395
The issue is also reproducible on 2.4.5

[2022-08-31 21:07] chazzs commented on #36057
Sometimes the layout fixes itself as soon as you scroll

[2022-09-01 01:30] Kerolusnasser commented on #35657
One of your custom modules is not Magento 2.4.* compatible.
you should update your custom modules to the updated version , it solved my issue

[2022-09-01 05:40] glo71317 commented on #35449
@sprankhub thanks for contributing, Internal team is processing your PR along with your commits and will fix failed automation tests.

[2022-09-01 06:00] n2diving-dgx commented on #36057
Can confirm it's happening with the admin pages of M2.4.5 + Php8.1 to everyone in the office using Win11/Chrome Version 105.0.5195.54 (Official Build) (64-bit).  Really annoying, most often a browser page scroll or a page refresh corrects the display, but occasionally not.

[2022-09-01 06:07] mklooss opened #36068 "Missing Shopping Options on PayPal Express"
### Preconditions and environment

- 2.3 up to 2.4.5
- Anything else that would help a developer reproduce the bug
Missing Shipping options on PayPal Express Checkout (Select Box on PayPal Page, not in the Magento2 Store)

### Steps to reproduce

1. Store Prices Incl Tax. ( Config Path: tax/calculation/price_includes_tax , value = 1 )
2. Add an Product to Shopping Cart and go direct to "PayPal Exp

[2022-09-01 06:14] mklooss commented on #36068
Actual Result:
![image](https://user-images.githubusercontent.com/710748/187843679-9a10f792-c900-4617-a7ee-2c5535571fd9.png)
![image](https://user-images.githubusercontent.com/710748/187843688-296c608a-5dba-42b2-ad9b-ca971da93f33.png)

(This is the correct view, but with wrong prices)
Changing: tax/calculation/price_includes_tax to 0 (Excl. Tax)
![image](https://user-images.githubusercontent.com/7

[2022-09-01 06:28] engcom-Bravo commented on #35955
Hi @pmzandbergen,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-01 06:28] #35955 closed, assigned to engcom-Bravo

[2022-09-01 06:28] engcom-Bravo commented on #35969
Hi @cstinson4508,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-01 06:28] #35969 closed, assigned to engcom-Bravo

[2022-09-01 06:42] glo17680 commented on #35513
@fredden thanks for contributing, internal team has started working on this.

[2022-09-01 06:44] engcom-Hotel commented on #35947
Dear @haroonsulahri,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-01 06:44] #35947 closed, assigned to engcom-Hotel

[2022-09-01 06:48] engcom-Hotel commented on #35910
Dear @LukasDeRuiter,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-01 06:48] engcom-Hotel commented on #35878
Dear @hopeseekr,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-01 06:48] #35878 closed, assigned to engcom-Hotel

[2022-09-01 06:50] engcom-Hotel commented on #35856
Hello @speller,

Thanks for the conforming that issue has been resolved in the latest release version of Magento. Hence we are closing this issue.

Thanks

[2022-09-01 06:50] #35856 closed, assigned to engcom-Hotel

[2022-09-01 06:51] engcom-Hotel commented on #35456
Dear @pawel-siejba,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-01 06:52] engcom-Hotel commented on #34646
Dear @speller,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-01 06:52] #34646 closed, assigned to engcom-Hotel

[2022-09-01 07:05] Amadeco commented on #36055
Thank you @pmonosolo for your heads up.

Indeed, I found https://github.com/Smile-SA/elasticsuite/issues/2663#issuecomment-1214813879 but it is the same solution as https://github.com/magento/inventory/issues/3360.

I will report this to the 3rd party.

[2022-09-01 07:08] engcom-Bravo commented on #35943
@magento give me 2.4-develop instance

[2022-09-01 07:30] engcom-Alfa commented on #35163
Hi @hostep thanks for asking this!
Apologies;
Our internal PM has closed the linked internal githhub issue, hence this github has got auto closed.
But, missed to mention the reason here.

FYI:
We have a below message in the internal ticket:
<img width="698" alt="image" src="https://user-images.githubusercontent.com/51679138/187857059-066e00f6-5e2b-4ca2-9f0a-5a2e2830999f.png">
  The link is clickab

[2022-09-01 08:30] zepgram commented on #35835
**magentoj** is not the correct namespace, you are offering to me a lazy answer, and it's bad.
Come on... please, do your job. You'll feel accompished at the end of the day.

[2022-09-01 08:48] engcom-Bravo commented on #31489
Hi @OleksiyOleksiyovych,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.

Kindly refer the screenshots.

1.Cart Price Rule "Spend $50 or more - shipping is free!" is active.

<img width="926" alt="venkat 5" src="https://user-images.githubusercontent.com/51680745/187871609-cb2a8544-6e14-4262-958b-d1c455a02ae4.pn

[2022-09-01 08:51] bramstroker commented on #34318
I also did a check for 2 customers of us, both having the same issue with order emails not being sent. Both have more than 100 cases in the DB with email address having a trailing dash on the user part.
So I don't consider this a really rare case at all.
Don't understand why this major issue is reported almost a year ago without solving.
As many people already indicated `[idn_to_ascii](https://www

[2022-09-01 08:57] engcom-Bravo commented on #35199
@magento give me 2.4-develop instance

[2022-09-01 09:16] engcom-Dash commented on #36057
@magento give me 2.4-develop instance

[2022-09-01 09:28] engcom-Dash commented on #36057
Hi @chazzs ,
 We are trying to reproduce the issue in 2.4-develop branch...But we are not able to reproduce the issue.
we are getting expected result.

Here i attached screenshot for your reference:
![Screenshot from 2022-09-01 14-54-15](https://user-images.githubusercontent.com/60198592/187880842-70eee25b-96ee-4f97-a0d6-f751848edcdb.png)

Steps:
1. Install magento instance
2. Open admin Panel
3.

[2022-09-01 09:41] anvanza commented on #35667
https://github.com/magento give me 2.4-develop instance

[2022-09-01 09:42] anvanza commented on #35667
@magento give me 2.4-develop instance

[2022-09-01 10:03] engcom-November commented on #30831
'CartItemOptionsProcessor' is not officially listed in the APi's of Magento_Quote module as per [devdocs](https://developer.adobe.com/commerce/php/module-reference/module-quote/). Hence considering this as feature request.
Thank you.

[2022-09-01 10:06] anvanza commented on #35667
Steps to reproduce:

1. Enable settings Add Store Code to Urls
2. Create 2 new website with each 1 store view
3. Create new admin user
4. Reset password request for that new admin user

The email is now incorrect.

@kassner Could you verify is you have this "Add Store Code to Urls" enabled?

[2022-09-01 10:07] glo17680 commented on #35899
@Den4ik Thanks for contributing, internal team has started working on this.

[2022-09-01 10:16] anvanza commented on #35667
@engcom-Lima , Could you check this please?

[2022-09-01 10:32] mohammedTBB opened #36069 "Error Deprecated Functionality plugin magento zendframework1"
### Preconditions and environment

- Magento v2.4.5
- php v8.1

### Steps to reproduce

1- Go to category page
2- Choose a product and go to product page (not all products)

### Expected result

No error

### Actual result

Exception #0 (Exception): Deprecated Functionality: preg_replace(): Passing null to parameter #3 ($subject) of type array|string is deprecated in /vendor/magento/zendframework1

[2022-09-01 10:39] hostep commented on #36057
I've just tested with a clean Magento 2.4.5 on Chrome 105.0.5195.52 with a screen resolution of 2560x1440 and could reproduce a couple of times. But it wasn't on the Dashboard this time, but on the Sales > Orders grid.

So again: this is only sometimes happening, not all of the times, it's pretty hard to reproduce, basically you probably want to click around in the backoffice 10 or 20 times betwee

[2022-09-01 10:43] engcom-November commented on #31195
CORs support for GraphQl is not available in Magento which is the existing behavior of Magento. Hence considering this as feature request.
However this (package)[https://github.com/graycoreio/magento2-cors] allows you to securely add the necessary CORS headers to the Magento 2 GraphQL or REST APIs with ease.

[2022-09-01 11:46] engcom-Bravo commented on #35943
Hi @sprajapat770,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch.

Steps Followed:

 1.create a new user role in admin and assign custom permission.
    a.sales order
    b.sales shipment
    c.do not assign invoice and credit memos permission
 2.log in magento admin using newly created account.
 3.open sales order grid
 4.Then open any recent order.

[2022-09-01 11:59] engcom-Dash commented on #36069
Hi @mohammedTBB ,

We are trying to reproduce the issue in 2.4.5 magento instance....But we are not able to reproduce the issue.
We are getting expected result and it is not reproducible.

Steps:
1.install 2.4.5 magento instance
2.Go to category page
3.Select the product
4.got to product page
5.No error occurring

Let us know if we missing anything!

Thanks!!!

[2022-09-01 12:00] engcom-Bravo commented on #35199
Hi @HenKun,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch we are able to reproduce the issue. Kindly refer the screenshots.

Created product with url_key: key-default
Edit product - Changed the scope - Default Store view - url_key update to: key-store
Save
Access Front-end product using yourstore.com/key-store.html - User is able to access the page.

[2022-09-01 12:03] engcom-November commented on #32369
Considering this as feature request as currently Product images are not loaded with OrderItemInterface. Also ProductInterface field to an order item is not available which is existing behavior of Magento but not a bug.
Ref [devdocs](https://devdocs.magento.com/guides/v2.4/graphql/interfaces/order-item-interface.html#OrderItemOption)

[2022-09-01 12:13] n2diving-dgx commented on #36057
I never see it on the dashboard, but it reproduces for me consistently on Sales > Orders grid.
(1) Open incognito copy of browser with large window on desktop.
(2) Visit M2.4.5 + Php8.1 store admin URL and login
(3) Observe dashboard loads normally
(4) navigate to Admin > Sales > Orders and observe

![image](https://user-images.githubusercontent.com/17930467/187911119-2b219e87-21a3-44ef-bd06-6c22d

[2022-09-01 12:39] engcom-Hotel commented on #35768
Hello

As I can see this issue got fixed in the scope of the internal Jira ticket AC-5986 by the internal team.
Related commits: https://github.com/magento/magento2/search?q=AC-5986&type=commits

Thanks

[2022-09-01 12:39] n2diving-dgx commented on #36069
Maybe the Anowave E-commerce 3rd party package (i.e. CrashReporter.php) has an issue that triggers a call to Zend/DbStatement.php... which in turn then executes the deprecated functionality?   Perhaps wouldn't be reproduceable unless Anowave EC extension errors first.    We've had a several of that kind of circumstance in debugging php8.1 compatibility issues in 3rd party extensions: fix the first

[2022-09-01 12:41] engcom-Hotel commented on #35200
Hello @anvanza,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2678 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2678&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-01 12:42] engcom-Hotel commented on #35900
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6384 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6384&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-01 12:48] engcom-November commented on #34413
Hi @mrlerch ,
Thank you for reporting and collaboration. However, [Woopra](https://marketplace.magento.com/partner/Woopra/) is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addresse

[2022-09-01 12:48] #34413 closed, assigned to SergeyP18, engcom-November

[2022-09-01 14:16] bst-biwac opened #36070 "Async order grid indexing setting can't be enabled in production mode (store config / MSI)"
### Preconditions and environment

- Magento version: latest
- Production mode
- MSI enabled

### Steps to reproduce

1. enable production mode (and MSI)
2. go to store config
3. try to enable async order grid indexing under Stores > Settings > Configuration > Advanced > Developer > Grid Settings > Asynchronous indexing as described in [Devdocs](https://experienceleague.adobe.com/docs/commerce-ope

[2022-09-01 14:27] JamesFX2 commented on #27432
Maybe be an issue still in 2.4.4 - not fully investigated yet.

[2022-09-01 15:58] AmyJZhao opened #36071 "GJSS TEST ISSUE (AZHAO) #1"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to reproduce

### Expected result

Expected result

### Actual result

Actual result

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality an

[2022-09-01 16:11] AmyJZhao commented on #36071
@adobe export issue to Jira project AC

[2022-09-01 17:02] #35917 closed, assigned to nobody

[2022-09-01 17:04] AmyJZhao commented on #36071
@adobe export issue to Jira project ACP2E

[2022-09-01 17:05] #36071 closed, assigned to nobody

[2022-09-01 18:24] pmonosolo commented on #29409
It it looks like it's a javascript loading error. The server itself (if looking at HTOP) does not get loaded. The problem is somewhere in the javascript listeners or something JS related.

The more options you add to Bundle Product for example, the longer the page takes to load.

This definitely needs improvement.

Also the Add Option listeners are not passive. Chrome complains:

"[Violation] Adde

[2022-09-01 18:24] pmonosolo commented on #29409
@ihor-sviziev have you had any success fixing this issue?

[2022-09-01 18:45] pmonosolo commented on #29409
3 minutes to render a page:

![image](https://user-images.githubusercontent.com/66754347/187988843-6caeeba1-c77a-4fa4-b661-4669c06c7606.png)

![image](https://user-images.githubusercontent.com/66754347/187988882-f091f8b3-559e-4677-b4c0-a3095b669f4e.png)

![image](https://user-images.githubusercontent.com/66754347/187988907-26c2e777-909e-461d-8ee0-ae8ae5720c78.png)

It looks like dom-observer.min.j

[2022-09-01 18:50] ihor-sviziev commented on #29409
@pmonosolo, I don’t have any solution for this issue. But if you have it - please share

[2022-09-01 19:47] hostep commented on #36070
This one should work: `bin/magento config:set dev/grid/async_indexing 1`

All config settings can be changed in this way, so even if they don't show up in the backoffice because of production mode.

[2022-09-01 20:55] pmonosolo commented on #29409
@ihor-sviziev

Try this:
https://github.com/magento/magento2/issues/34158
https://stackoverflow.com/questions/60357083/does-not-use-passive-listeners-to-improve-scrolling-performance-lighthouse-repo

Put this code at the end of jquery.js before the return:
pub\static\adminhtml\Magento\backend\en_US\jquery.js

    jQuery.event.special.touchstart = {
        setup: function( _, ns, handle ) {

[2022-09-01 23:55] achatpc commented on #35913
Working fine for me!

[2022-09-01 23:56] achatpc commented on #35913
https://github.com/magento/magento2/commit/bc2b48a284888d33e5300df29f6c81a354822d64

[2022-09-02 07:09] kestraly commented on #5655
@Stefan933 - I guess that means no solution ha

[2022-09-02 07:59] engcom-Bravo commented on #36010
@magento give me 2.4-develop instance

[2022-09-02 08:32] engcom-November commented on #33355
Verified the issue on Magento 2.4-develop branch but cannot reproduce the issue. requestSecureToken request is not found anywhere with PayPal payflow pro payment. Payflow payment is working fine in test mode and after successful payment 4 entries are triggered in payment.log file. 2 entries are the authorization request and redirect sent to paypal with AMT=0 which is not effecting the payment tran

[2022-09-02 08:38] zohmi opened #36073 "Coupon codes export to Excel XML not working as expected"
### Preconditions (*)
1. Magento 2.4.5

### Steps to reproduce (*)
1. Create a salesrule of type "Specific Coupon" and check "Use auto generation":
![Bildschirmfoto 2022-09-02 um 10 25 52](https://user-images.githubusercontent.com/1702177/188097945-3f49372d-192a-4ce5-885b-bd2facb301e2.png)

2. Hit "Save and Continue Edit"
3. Head to "Manage Coupon Codes" Tab and generate e.g. 500 Coupons:
![Bildsc

[2022-09-02 08:41] devchris79 commented on #35672
@gwharton We have noticed that the upload delivery confirmation seems to have stopped working so the tracking details/shipped status are not automatically transferred. Is this also affecting your installation? If so I will raise a query with them.

[2022-09-02 08:44] gwharton commented on #35672
I have delivery confirmation upload turned off and I manually ship items in magento as part of our workflow.

[2022-09-02 08:52] devchris79 commented on #35672
Thanks Graham

[2022-09-02 09:27] ardianthaqit opened #36074 "Stock problem Inventory"
### Preconditions and environment

Magento ver. 2.4.0
PHP: PHP 7.4

### Steps to reproduce

Example: For a product, we added 2 on stock so in front it will show out of stock if we added 4 on stock it will show 2 on stock so the stock is always -2 or -3

### Expected result

Example: For a product, we added 2 on stock so in front it will show out of stock if we added 4 on stock it will show 2 on st

[2022-09-02 09:56] engcom-Hotel commented on #34031
Hello @thlassche,

Thanks for the report and collaboration!

We have looked into the issue and found that if we made the said changes in the main description will improve the Magento performance during development.

Removing the line `lib/internal/Magento/Framework/` from here:

https://github.com/magento/magento2/blob/9aa35fd7df8e0a42e5a2a32c8ad3c5b895346091/composer.json#L365

And also as @hoste

[2022-09-02 10:02] JamesFX2 commented on #27432
Issue was caused by the url_path attribute not updating, the storefront version was overriding it in spite of the fact that the url_key was inheriting from the default.

[2022-09-02 10:05] engcom-Dash commented on #36057
Hi @n2diving-dgx ,

We are not able to reproduce the issue....As per your Comments I used incognito mode and Used magento version 2.4.5 with php 8.1...I am not getting any error in dashboard and sales grid.

Here i attached screenshot of Sales grid:
![Screenshot from 2022-09-02 14-40-14](https://user-images.githubusercontent.com/60198592/188115051-2f80cc51-c7ee-46e0-9047-813c0a5c48f7.png)

Let us

[2022-09-02 10:16] hostep commented on #36057
@engcom-Dash: It definitely still happens, you just need to test and test and test and try again over and over again and only sometimes it will happen.

I just had it happen again over here, both on the Dashboard as on the Orders grid with a vanilla Magento 2.4.5, using Google Chrome 105.0.5195.52 this time with a screen resolution of 2304x1296, not sure if that latter is important, probably not.

[2022-09-02 10:18] engcom-Dash commented on #35941
Hi @cctorres ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-09-02 10:18] #35941 closed, assigned to engcom-Dash

[2022-09-02 10:19] engcom-Dash commented on #35945
Hi @YiffyToys ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-09-02 10:19] #35945 closed, assigned to engcom-Dash

[2022-09-02 10:35] JamesFX2 commented on #27432
The issue happened at the same time as another error - when the parent categories URL key was changed - it threw an error because of duplicate URL keys of products in the category. It's possible this was responsible for the URL path not being updated but the issue persisted after the duplicate URL keys were removed.

[2022-09-02 11:32] seebakannan opened #36075 "Payment configurations not saved in the magento database"

[2022-09-02 11:38] hostep commented on #27432
@JamesFX2: use https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker/ in case you want to find problems in `url_key` or `url_path` attributes of products and categories.

I'm not sure if this issue here was actually fixed in 2.4.4 but there are definitely fixes in various versions of Magento that have to do with this. But if your database was used in earlier versions of Mage

[2022-09-02 11:48] sunilit42 opened #36076 "Product name wise sorting not working"
### Preconditions and environment

- lastest magento
- add product
- create category and assign that product
- consider page limit per page 12

### Steps to reproduce

- Category and that related product
- open that category page
- elasticsearch configure
- click on sort by product name
- find that first product that category into backend add store wise name entry
- open that category page
- you w

[2022-09-02 11:49] sunilit42 commented on #36076
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-09-02 12:07] seebakannan commented on #36075
Hi,

I have provided the necessary information for reproducing the issue.

[2022-09-02 12:29] engcom-November commented on #36062
Verified the issue by upgrading from 2.4.4 to 2.4.5 Project-community-edition as per the upgrade [guide](https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementation/perform-upgrade.html) and the issue is not reproducible on Mac OS.

[2022-09-02 12:56] engcom-Bravo commented on #36060
@magento give me 2.4-develop instance

[2022-09-02 13:23] kassner commented on #34318
Unfortunately 2.4.5 hasn't fixed it, as it's still using `idn_to_ascii` in the wrong part of the email address.

https://github.com/magento/magento2/blob/2.4.5/lib/internal/Magento/Framework/Mail/AddressConverter.php#L63

[2022-09-02 13:43] kassner opened #36078 "Magento 2.4.5: CVE-2022-24086 and CVE-2022-24087 included?"
### Preconditions and environment

- Magento 2.4.4
- Patch for CVE-2022-24086
- Patch for CVE-2022-24087

### Steps to reproduce

- Upgrade to Magento 2.4.5;
- Apply the CVE-2022-24086 and CVE-2022-24087 patches;

The patches conflict with newer changes in the Magento codebase.

### Expected result

Either:

1. Patches are applied successfully;

or

2. Patches are not needed, and the release notes

[2022-09-02 14:37] MyroslavDobra commented on #7994
@andidhouse how do you find it? What does it mean?
It helped me with 2.4.1

[2022-09-02 15:21] rogerdz commented on #36075
@seebakannan You can try to fix max_input_vars = 60000 in php.ini and try again

[2022-09-02 16:59] engcom-Hotel commented on #35974
Dear @KrusLeung,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-02 16:59] #35974 closed, assigned to engcom-Hotel

[2022-09-02 16:59] engcom-Hotel commented on #35664
Dear @Den4ik,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-02 16:59] #35664 closed, assigned to engcom-Hotel

[2022-09-02 18:11] jayankaghosh opened #36081 "Updating customer's email takes a lot of time if customer has a lot of orders"
### Preconditions and environment

- Magento version - 2.4.4

### Steps to reproduce

1. Create a customer and place 100+ orders with the customer
2. Try to change the customer's email using REST API or GraphQL

### Expected result

The email change shouldn't take more than a few seconds

### Actual result

It is taking around 43 seconds for 107 orders. The time is directly dependent on number of

[2022-09-02 20:36] AljaKogut commented on #36064
@magento give me 2.4-develop instance

[2022-09-02 22:14] pmonosolo commented on #36055
I rewrote this a bit to check for "catalogsearch_result_index" action:

![image](https://user-images.githubusercontent.com/66754347/188241417-ee752b65-ae18-445f-b2c8-68adb42dc3f5.png)

This way it skips the Show Out Of Stock before it even starts.

Constructor:

![image](https://user-images.githubusercontent.com/66754347/188241522-6294a70c-026d-4204-bc54-d1f566d03282.png)

![image](https://user-im

[2022-09-02 22:46] pmonosolo commented on #36055
Ah, I just disabled that Plugin.

![image](https://user-images.githubusercontent.com/66754347/188243710-8f2d7efe-d1df-43e6-ba9d-a0a151f8a0bc.png)

They need to rewrite that to check for:

- If page is Catalog Search Page
- If there are filters applied.

Currently it just checks the Category page, so on Search Page it uses "Default Category" and outputs the whole catalog.

When you filter by attrib

[2022-09-03 06:39] frvoya opened #36082 "PHP Fatal error: Uncaught TypeError: str_replace(): Argument #3 ($subject) must be of type array|string, bool given in /vendor/magento/framework/Filesystem/DirectoryList.php:137"
### Preconditions and environment

- Magento version : 2.4.5
- Anything else that would help a developer reproduce the bug
MARIADB_VERSION="10.5.16"
VARNISH_VERSION="70"
PHP_VERSION="8.1.9"

UBUNTU: 20.04 LTS

### Steps to reproduce

- Clean install Magento 2.4.5 successfull with lastest PHP version (8.1.9)
- Open store homepage
- Error 503 Backend fetch failed
- Var/log : php-fpm-error.log
-  PHP

[2022-09-03 08:29] sebfie commented on #35724
Can we have an update about it please? A patch or a fix ? Thank you

[2022-09-03 10:41] AmooAti commented on #31363
any updates?

[2022-09-03 13:33] dragonfly4 commented on #35900
I had the same issue. Can confirm that PR #35987 solves the pagination loading issue.

[2022-09-03 14:38] Aleksandr-tr commented on #35930
@magento give me 2.4-develop instance

[2022-09-03 15:31] amebrahimi commented on #31363
Any fixes on this?

[2022-09-03 18:32] DiegoItaly commented on #35997
hello, do you have any news about the bug?

Thank you

[2022-09-04 03:30] ioweb-gr opened #36083 "Cannot set custom filename for \Psr\Log\LoggerInterface"
### Preconditions and environment

- 2.4.3-p1

### Steps to reproduce

1. Create a helper class that is used for example on a cli command or a cron job that requires a custom logger filename

[code]

In your cli command or cron job try to invoke this logger

[code]

You face an exception

[code]

By looking at the generated code for the proxy

[code]

I notice that the pushHandler method is not av

[2022-09-04 10:52] ioweb-gr opened #36084 "Cannot save sku using ResourceModel saveAttribute function"
### Preconditions and environment

- 2.4.3-p1

### Steps to reproduce

Create a product with SKU test1
Run the following standalone script located in `pub/tools/` folder

[code]

You will get an exception

[code]

### Expected result

The sku is saved properly

### Actual result

An exception is thrown

[code]

### Additional information

I'm in the process of creating an automation for generating

[2022-09-04 12:16] 0xMatt commented on #35600
@Sharmilasrini95 the AMT isn't the issue. Seems something changed on PayPal's end. If you use the test credentials from @engcom-November you'll see the transaction succeed.

However, the transaction does get marked as suspected fruad and requires review from an admin. I'm going to open for your sake and for @engcom-November to let us know if there are any changes we need to make on the PayPal end

[2022-09-04 16:52] rogerdz commented on #36084
same https://github.com/magento/magento2/issues/7247

[2022-09-04 17:02] AljaKogut commented on #36064
https://github.com/magento give me 2.4-develop instance

[2022-09-04 17:07] AljaKogut commented on #36064
@magento give me 2.4-develop instance

[2022-09-04 21:13] elizad commented on #35909
1 exception(s):
Exception #0 (Exception): Warning: Object of class Magento\Framework\Phrase could not be converted to int in /var/www/html/m245/vendor/magento/module-catalog/view/frontend/templates/product/list/toolbar/limiter.phtml on line 26

Exception #0 (Exception): Warning: Object of class Magento\Framework\Phrase could not be converted to int in /var/www/html/m245/vendor/magento/module-catal

[2022-09-04 22:08] simoncrewe commented on #19710
Well, none of the abvove worked for me. m2.4.3.
The only solution is to re-apply the images in admin and save, which automatically send sthe images to cache. I've got about 200 to do. :(

[2022-09-05 02:34] Stoyvo commented on #28221
I was able to recreate this. Magento 2.4.4

A customer is signed into their account, with no address saved.
An admin will create an address for the customer (billing, shipping are the same).
Customer will add items to cart and proceed to checkout.
Customer will not be able to proceed to Payment step.
Address shown to customer is missing region (Eg: Alberta in Canada is missing)
Admin can see provi

[2022-09-05 03:34] AprilNJ opened #36085 "Error function getResultCount in Magento/CatalogSearch/Block/Result"
### Preconditions and environment

- Magento version 2.4.4
- PHP 8.1

### Steps to reproduce

1. call function getResultCount in Magento\CatalogSearch\Block\Result
![Screen Shot 2565-09-05 at 10 30 30](https://user-images.githubusercontent.com/108717422/188355349-4fb34076-d0d5-4f7b-9828-839cb1e85590.png)

3. input search and enter result on frontend it's broked
![Screen Shot 2565-09-05 at 10 28 37

[2022-09-05 06:09] engcom-Lima commented on #35951
Hi @atIOCrON ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-09-05 06:09] #35951 closed, assigned to engcom-Lima

[2022-09-05 06:40] engcom-Bravo commented on #35989
Hi @mar88888,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-05 06:40] #35989 closed, assigned to engcom-Bravo

[2022-09-05 07:47] hostep commented on #35900
@dragonfly4, the official fix (which is a better one), is over here: https://github.com/magento/magento2/commit/bb55549cd3016987663272e7ffe3f452c8d6e40d

[2022-09-05 07:58] engcom-Delta commented on #35959
Hi @keval1415,

We have noticed that, this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-05 07:59] #35959 closed, assigned to engcom-Delta

[2022-09-05 08:03] engcom-Hotel commented on #36069
Hello @mohammedTBB,

Thanks for the report and collaboration!

We have checked this issue in the Magento 2.4.5, 2.4.4, and 2.4-develop branches. And also examine the file `vendor/magento/zendframework1/library/Zend/Db/Statement.php` and found that the suggested possible fix as below:

[code]
is already there in line no. `201`.

https://github.com/magento/zf1/blob/2381396d2a9a528be2f367b5ce2dddf650

[2022-09-05 08:09] engcom-Hotel commented on #35517
Dear @Quazz @Mavlyan,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-05 08:15] engcom-Bravo commented on #36010
@magento give me 2.4-develop instance

[2022-09-05 08:38] engcom-Dash commented on #35982
Dear @leonhelmus ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!!!

[2022-09-05 08:38] #35982 closed, assigned to engcom-Dash

[2022-09-05 08:42] engcom-Dash commented on #35997
Hi @DiegoItaly ,

We didn't receive any mails regarding product price drop....We checked both 2.4.4 instance as well as 2.4-develop instance.

Thanks!!!

[2022-09-05 09:04] #35977 closed, assigned to engcom-Delta

[2022-09-05 09:06] engcom-Delta commented on #35887
Hi @plastikschnitzer,

We have noticed that, this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-05 09:06] #35887 closed, assigned to engcom-Delta

[2022-09-05 09:44] hostep commented on #36069
@engcom-Hotel: if you read the error message carefully, you'll see that the error happens on [line 222](https://github.com/magento/zf1/blob/2381396d2a9a528be2f367b5ce2dddf650eac1d0/library/Zend/Db/Statement.php#L222).
Which means that the check on line 201 already passed.

So this most likely means that the `$sql` return value from [the second `preg_replace` call](https://github.com/magento/zf1/bl

[2022-09-05 09:50] mohammedTBB commented on #36069
Hello @engcom-Hotel

yes there is check in line 201 but then the value of $sql changed.

what worked for us is adding the check at line 222

![image](https://user-images.githubusercontent.com/66772877/188420268-0ccefa11-1a1d-4a01-91fa-776cb4ee5ca8.png)

to reproduce the error it is essential to have the plugin amasty google rich snippets,
knowing that disabling this plugin the error is no longer s

[2022-09-05 10:36] savlo opened #36086 "Mviews batching will group by ids, making some of the entity_ids be skipped by the update_all_mviews index"
### Preconditions and environment

- Magento version: 2.4.3-p2
- Anything else that would help a developer reproduce the bug
It requires a new version of mysql, since only that returns sorted entity_ids upon grouping them

### Steps to reproduce

1. Assign 3000 products with random entity_ids (or any other data that can trigger any mview trigger).
2. Run indexer that updates the mview statuses

##

[2022-09-05 10:49] pixel-paul commented on #35967
Hi @engcom-Delta - my guess is that the issue is with upgrade from 2.4.4 to 2.4.5 - might be worth checking that the value for `$isFreeShipping` is actually an `int` in the upgrade from 2.4.4 to 2.4.5.

[2022-09-05 10:52] engcom-Dash commented on #36057
Hi @hostep ,

We are tried this issue more then 3 three times we are getting admin dashboard properly...

Environment:
1. magento 2.4.3 or 2.4 develop instance and 2.4.5
2. php 7.4 and 8.1
3. google chrome version - Version 105.0.5195.52 (Official Build) (64-bit)

Let us know if we are missing anything!!!

Thanks!!!

[2022-09-05 10:55] engcom-Bravo commented on #34003
@magento give me 2.4-develop instance

[2022-09-05 10:56] engcom-Hotel commented on #28387
Hello @ilnytskyi,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento's latest development branch ie 2.4-develop and the issue is still reproducible. We have followed the exact steps and refer to this PR https://github.com/magento/magento2/pull/34339 to reproduce the issue.

Hence confirming the issue.

Thanks

[2022-09-05 11:40] engcom-November commented on #35600
Verified the issue again on Magento 2.4-develop branch and I see Order status is Processing after transaction succeed with Payflow Pro. PFA screenshots of the same and configuration used. Kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
![image](https://user-images.githubusercontent.com/60198231/188440190-1f2590c1-7089-45d5

[2022-09-05 11:48] amokato commented on #36054
We have the same issue since 2.4.4

[2022-09-05 12:22] engcom-November commented on #36078
Hi @kassner ,
Thank you for reporting and collaboration.  CVE-2022-24086 and  CVE-2022-24087 are not included in Magento 2.4.5
Magento 2.4.5 release [notes](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-5.html) does not contain any information about the mentioned patches as they are not included.  Please refer the [security updates](https://support.magento.com/hc/en-us/arti

[2022-09-05 12:29] engcom-November commented on #36029
Hi @alexmtch ,
Thank you for the response. I verified the behavior on both GraphQl and front end UI and the response is the same in both the cases. But seems like this is an expected behavior to me since both the stores (default and store A) are assigned to the same website(Main website), Product C is still displayed on front end Store A scope even if it is unassigned from the store A. Can you ple

[2022-09-05 12:44] neddy236 commented on #4261
Just happened to reproduce this on 2.4.4 on ubuntu with php8.1

[2022-09-05 13:07] engcom-Bravo commented on #34003
Hi @onlinebizsoft,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.

Kindly refer the screenshots.

<img width="926" alt="vk" src="https://user-images.githubusercontent.com/51680745/188456370-04dc43f9-b27f-46cf-8884-530eac7055a2.png">

<img width="703" alt="vk 1" src="https://user-images.githubusercontent.com/51

[2022-09-05 13:08] engcom-November commented on #35914
Hi @blockedie ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-09-05 13:08] #35914 closed, assigned to engcom-November

[2022-09-05 13:09] cjohansson commented on #34975
Same issue here with Magento 2.4.4, the issue seems to code and go

[2022-09-05 13:11] #35919 closed, assigned to engcom-November

[2022-09-05 13:24] cjohansson commented on #34975
It seems to have something to do with reputation or session/cookie, if I change my IP and clear all cookies I am able to login. There might be a error just in the message of the error

[2022-09-05 14:46] engcom-November commented on #34705
Hi @lykciv ,
This issue is not reproducible anymore on Magento 2.4-develop branch as it has been taken care in internal [JIRA](https://jira.corp.magento.com/browse/ACP2E-763) ticket and [commits](https://github.com/magento/magento2/search?q=ACP2E-763&type=commits). Hence closing this issue. Please reopen / create new issue with missing steps if the issue is still reproducible on latest Magento ver

[2022-09-05 14:46] #34705 closed, assigned to engcom-November

[2022-09-05 15:04] engcom-November commented on #34463
This issue is reproducible on Magento 2.4-develop branch. Hence updating the description and confirming the issue.

[2022-09-05 15:14] glo35082 commented on #35493
Thanks for contributing; Our internal team is already onto it.

[2022-09-05 15:16] ihor-sviziev commented on #36078
@sidolov @sdzhepa this looks like p0

[2022-09-05 16:38] fredden commented on #35523
@engcom-November please can you fix the formatting of this issue to match the original I submitted.

[2022-09-05 16:57] engcom-Dash commented on #36073
Hi @zohmi ,

We are trying to reproduce the issue in 2.4.5 magento instance....But we are not able to reproduce the issue.
When we trying to generate the coupon code it is not listed out in respective fields....So with coupon codes we are not able to reproduce the bug....

Here i attached the screenshots for your reference:
![Screenshot from 2022-09-05 22-17-36](https://user-images.githubuserconte

[2022-09-05 19:40] bptsd commented on #30685
Still happening in 2.4.5 for me in developer mode.  Has anyone got a solution?

[2022-09-05 19:51] krunal2212 commented on #9542
Hello All, So is there any solution or patch is available ? Please confirm because I am facing same issue

[2022-09-05 19:51] krunal2212 commented on #9542
How you have done that ? Please share the code or URL so I can do it fix

[2022-09-06 05:09] engcom-November commented on #31779
Hi @shikhamis11 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue in graphql. coupon is applied successfully for configurable options update. Kindly recheck the behavior on Magento 2.4-develop branch and provide the exact graphql query which you have used if the issue is still reproducible.
Thank you.

[2022-09-06 05:57] zohmi commented on #36073
Hi @engcom-Dash,

you have to wait for the generation of the coupon codes. As the message says, the job has been queued and will be processed asynchronously. It takes a while and then the codes are there.

Thanks

[2022-09-06 06:06] engcom-Bravo commented on #36000
Hi @RenderZar,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-06 06:06] #36000 closed, assigned to engcom-Bravo

[2022-09-06 06:42] sandip9909 opened #36087 "It's time to change your password."
![Screenshot (48)](https://user-images.githubusercontent.com/106960671/188564178-a0bc9385-ad61-4688-8b31-4e75a0385bb8.png)

### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage p

[2022-09-06 06:43] engcom-Hotel commented on #36069
Hello @hostep @mohammedTBB,

Thanks for the reply!

I agree with your point @hostep, we need to add the checks after each `preg_replace` call here ie. line numbers `211` & `223`.

I have also gone through the [preg_replace](https://www.php.net/manual/en/function.preg-replace.php) documentation, it can be returned as `null`, in case of error occurred.

Hence confirming the issue.

Thanks

[2022-09-06 06:59] engcom-Bravo commented on #33799
@magento give me 2.4-develop instance

[2022-09-06 07:36] maheshm-kensium commented on #35494
Hi, can anyone please help me to make understand, whether this issue is fixed or still is in progress?

[2022-09-06 08:08] davidduong90 commented on #35366
Do you try to upgrade, deploy and flush cache?

[2022-09-06 08:50] devchris79 commented on #36087
You will need to share your Magento version and PHP version.
Also the screenshot displays your custom admin path, so you may want to change that.

[2022-09-06 08:52] onlinebizsoft commented on #34003
@engcom-Bravo yes you are missing very important information.
1. You didn't tell me which base currency and store currency are you using?
2. You know USD is almost same as EUR now so you can't see the issue if you are testing with these 2 currencies.

[2022-09-06 08:57] sandip9909 commented on #36087
Magento ver. 2.3.4

[2022-09-06 09:15] devchris79 commented on #36087
I would check your error logs.
The password change also sends an email within the try function, so it may be a problem with emails.

[2022-09-06 09:16] mariogobos commented on #35755
Hello, sorry for delay, it's very importat to resolve this issue. I have migrate a multilanguage store from magento 1.7 to magento 2.4. But now when i set vat number as not required for website for example FR and it write correctly on database under customer_eav_attribute_website don't work. After full cache refresh vat number is not required but when i create a new customer, try to save old custo

[2022-09-06 09:17] densen45 opened #36089 "Decimal number representation with "," leads to errors in the adminhtml (for e.g. locale: German)"
### Preconditions and environment

- Magento version 2.4.4-p1

### Steps to reproduce

The error occurs in the adminhtml/backend. The following procedure is related to the adminhtml/backend, not the frontend.

1. Login to adminthml/backend
2. Admin Account: Make sure the setting for Interface Locale is "English (United States) / English (United States)" (Click on your name at the top-right corner

[2022-09-06 09:23] densen45 commented on #36089
After I have opened this issue, I looked at the current 2.4-develop code and saw that this issue was already addressed for Dutch language in https://github.com/magento/magento2/commit/39a7cfab9420aa7a16c2de1cc79da2ec12cee561.

Adding 'de_DE' to the introduced LOCALE_USING_DECIMAL_COMMA solves this issue for German language too. See here https://github.com/magento/magento2/blob/f26ae808bd9f9164793c

[2022-09-06 09:29] hostep commented on #36057
Yeah sorry, all I can say is that it only happens "sometimes". I just had it happen again on a Magento 2.3.6-p1 installation as well an hour ago or so. But yeah, no idea about specifying exact steps for reproducing, you just need to get "lucky" to run into it. Maybe keep your eyes open for this issue the next few weeks while testing other tickets, maybe you'll see it happen by accident one day ...

[2022-09-06 10:01] hostep commented on #36057
Some people on Slack claim this problem is also happening in Firefox, so this might no longer be considered a browser bug.
Even though it's still strange that this started happening only in the last month or so on all kinds of different Magento versions where this never happened before...

[2022-09-06 10:10] engcom-November commented on #31643
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Invoice comments are not retrieved in the graphql response. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/188608890-d38136ed-661a-41c6-8e7d-af9fbc2542e2.png)

[2022-09-06 10:24] engcom-Bravo commented on #34003
@magento give me 2.4-develop instance

[2022-09-06 11:04] shubham-lade commented on #35600
Hello,

         We are facing the same issue with **transactions declined** for test mode. our Magento setup version 2.4.2
         Below are the details which are added to the log.

                 'PayPal PayflowPro redirect:' =>
          array (
            'SECURETOKEN' => '**************************',
            'STATE' => 'MI',
            'CITYTOSHIP' => 'SCHILLER PARK',
            'CO

[2022-09-06 11:21] alexey-dorosh opened #36090 "Integration Tests Framework AppArea annotation doesn't affect regular Object Manager which resolves dependencies during objects creation"
### Preconditions and environment

- Magento version: CE 2.4.5
- You need a single class which will delete an order. Something like `$order->delete()`. But this class should be required with constructor.

_Why not object manager: integration tests are purposed to test complex systems, so there are a lot of classes, which requires classes, which requires classes and so on. And if some of that requi

[2022-09-06 11:27] RanjitBShinde opened #36091 "CategoryList graphql query returning only 20 categories"
### Preconditions and environment

Magento Version 2.4.4-p1

### Steps to reproduce

1. Create more than 20 categories/sub categories from backend
2. Call below graphql query using Postman or Altair GraphQL Client
[code]
### Expected result

It should return all the active categories

### Actual result

it returning only 20 categories/children categories

### Additional information

_No response_

[2022-09-06 11:50] engcom-Hotel commented on #36087
Hello @sandip9909,

Thanks for posting the issue!

We request you to please go through with the guidelines [here](https://developer.adobe.com/commerce/contributor/guides/code-contributions/#report-an-issue) in order to report an issue. This will help us move forward with this ticket. Also, you need to provide us with the following information:

- Summary of the issue
- Information on your environm

[2022-09-06 12:05] engcom-November commented on #33989
Verified the issue on Magento 2.4-develop branch and the issue is reproducible but no invalid error/exception is observed.
Below error is displayed on UI while importing.
Note: There's no issue when the product is created manually with sku 30612190-5233-8 16Â½. Product created successfully.
Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/188630559-a281d75b-

[2022-09-06 12:09] engcom-Bravo commented on #33799
Hi @chequille,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. Kindly refer the screenshots.

1.Created a Configurable product with 3 options.

<img width="938" alt="000" src="https://user-images.githubusercontent.com/51680745/188630174-d89cf4b7-5b97-4702-ad99-8a85d3507843.png">

2.Order placed with qty 3(color

[2022-09-06 12:20] engcom-Bravo commented on #34003
Hi @onlinebizsoft,

Thanks for quick response.

As per above comment we used British Pound as Base currency and Store Currency.

<img width="898" alt="100" src="https://user-images.githubusercontent.com/51680745/188633026-b6c1fe6d-8308-4efe-8b2d-3f62d7bd09af.png">

Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.

<img width="937" alt="101" src="https://u

[2022-09-06 12:24] mysil2 commented on #33799
@engcom-Bravo This needs to be run with MSI. Quantity should still stay at 3 when order is in pending/processing state, but Salable quantity will go from 3 to 0, and the bug will still show the swatch. When order is shipped/complete, then quantity is set to 0 and swatch is not shown.

[2022-09-06 12:41] engcom-Dash commented on #28924
@magento give me 2.4-develop instance

[2022-09-06 13:00] engcom-Delta commented on #36051
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:**
Drag and Drop feature is not working, when trying to do with customizable options of a product.
**Pre-requisite:**
1. 2.4-develop

**Steps to reproduce:**
1.Create a product with 3 custom options

2.Try to drag the second option up to the first position

**Expected result:**
Drag and drop feature

[2022-09-06 13:13] engcom-Delta commented on #36051
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:**

Drag and Drop feature is not working, when trying to do with customizable options of a product.

**Pre-requisite:**
 2.4-develop

**Steps to reproduce:**

1.Create a product with 3 custom options

2.Try to drag the second option up to the first position

**Expected result:**

Drag and drop featur

[2022-09-06 13:41] engcom-Bravo commented on #36060
@magento give me 2.4-develop instance

[2022-09-06 13:48] Yuwei9291 opened #36094 "Backend Product Edit : Content > Description by Page Builder not change after edit"
### Preconditions and environment

- Magento 2.4.4, Magento 2.4.5

### Steps to reproduce

1. Create a new product, edit contect > description by page builder
2. Add a row, Drag Element > Text to the row, Enter a few lines of text using TinyMCE instead of html codes
![image](https://user-images.githubusercontent.com/45879513/188649688-9f708ebd-9cba-4aab-bec9-23acf714b486.png)
3. Save the product,

[2022-09-06 13:50] engcom-November commented on #32593
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/188652444-bfcdde86-fe10-44da-9c44-e29775c2ffea.png)

![image](https://user-images.githubusercontent.com/60198231/188652358-2166350d-3dc5-40ca-88fe-1e0fafef0864.png)

![image](https://user-images.githubus

[2022-09-06 14:12] peterjaap commented on #35962
Bytheway, this issue is very similar to https://github.com/magento/magento2/issues/35479 but it concerns `magento/module-new-relic-reporting` and `magento/module-graph-ql` in that case.

[2022-09-06 14:53] sdzhepa commented on #33386
The issue has been fixed by the Adobe team in the scope of `ACP2E-963` Jira ticket
Related commits: https://github.com/magento/magento2/search?q=ACP2E-963&type=commits

[2022-09-06 15:00] simonrl commented on #33012
@engcom-Oscar sorry but I have to add another question here.

An order which has been refunded should move to "closed" state, not "complete".
"complete" should be for orders which are completed.
"closed" should be for orders with an invoice which was refunded.
"canceled" should be for orders without and invoice which were cancelled (no refund necessary without an invoice).

[2022-09-06 15:26] zolikonta opened #36095 "Shipment methods are not selectable (infinite spinner) on checkout page when there are other payment methods enabled"
### Preconditions and environment

- Magento version 2.3.7-p4 (upgraded from 2.3.4)
- PHP 7.4
- MySQL 5.7
- Any other built-in payment method enabled with PayPal Express Checkout

### Steps to reproduce

1. go to /admin/system_config/edit/section/payment/
2. have PayPal Express Checkout enabled
3. enable either Cash on delivery or Bank transfer
4. go to the frontend
5. put something in your cart
6

[2022-09-06 15:32] arsalanworld opened #36096 "Layered Navigation does not filter products properly"
### Preconditions and environment

- Magento version: 2.4.5
- `Display product out of stock` is set to `Yes` from `STORES > Configuration > Catalog > Inventory >  Display Out of Stock Products` settings.
- Make sure elasticsearch is working correctly

### Steps to reproduce

1. Navigate to Product listing page
2. Apply any of the filter from filters list

### Expected result

Only filterable conte

[2022-09-06 15:33] PashaIhnatjo opened #36097 "Cart rule with 100% discount applied to shipping after tax, leaving the tax to pay"
### Preconditions and environment

- Magento 2.4.2 and 2.4.4

### Steps to reproduce

1) go to marketing ->cart price->rule
2)  create a new coupon for 200$
3) go to tab action -> Apply ->set 'Fixed amount discount for whole cart'
4) Discount Amount = 200$
5)  Apply to Shipping Amount => 'yes'
here is screen
![image](https://user-images.githubusercontent.com/22341033/188674162-d5199ac5-c551-4053-a

[2022-09-06 17:44] zolikonta commented on #36095
@magento give me 2.3.7-p4 instance

[2022-09-06 19:22] chequille commented on #33799
I agree to mysil. This happen when using MSI which is standard as I know. Am I wrong?

[2022-09-06 23:35] aligent-lturner commented on #31643
@engcom-November There is a PR for this issue approved and moved to "accepted" last november, but for whatever reason, it hasn't actually been merged yet: https://github.com/magento/magento2/pull/31606

[2022-09-07 02:16] gowrizrh commented on #31466
@johebting @sw-tt-jigneshvagh I'm not sure why this is confirmed as an issue by the Magento team but

From the looks of it, this is the way the Elasticsearch module for Magento works.

In the catalog search module there's an explicit Elasticsearch analyzer defined to search on prefixes.

[code]

I'm using the sample data to search for the product SKU `WH01`

Searching `WH0` will return search resu

[2022-09-07 05:15] real34 commented on #35910
Hi,

I can confirm  @LukasDeRuiter's report.
While there are both columns, the docblock explicitely states

It lies!
![2022-09-07_06-31](https://user-images.githubusercontent.com/75968/188792479-27200f0b-d498-42f3-b66a-a44ceab9c585.png)

## Problem

I struggled to understand why this class was introduced in the core [and commits aren't helpufl in that sense](https://github.com/magento/magento2/com

[2022-09-07 05:53] mariogobos opened #36100 "Tax/VAT field configuration is not working on multistore Magento2"
### Preconditions and environment

- Magento version 2.4.4
- Multi store version
- Migration from magento 1.7 to magento 2.3

### Steps to reproduce

For example for FR Website in Stores=>Configuration=>Customer=>Customer Configuration=> Name and Adress Options=> Show Tax/VAT Number=> No
Magento write correctly on database under customer_eav_attribute_website, attribute_id 15 (taxvat), website_id

[2022-09-07 06:26] engcom-Lima commented on #36060
@magento give me 2.4.3 instance

[2022-09-07 06:48] engcom-Bravo commented on #36060
Hi @rogerdz,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and 2.4.5 project-community-edition as well but the issue is reproducible. Kindly refer the screenshots.

1.In admin backend Catalog > Product > Joust Duffle Bag > Advanced Inventory, change qty to 96.75, Minimum Qty Allowed in Shopping Cart to 0.5, Qty Uses Decimals to Yes

<img width="936"

[2022-09-07 07:10] giacmir commented on #33611
Hit this today in 2.4.3-p2

[2022-09-07 07:13] harshj-magneto commented on #9696
Is there anyone who has a solution to this issue I am facing the same issue with Magento 2.4.5 version with USD currency?
![image](https://user-images.githubusercontent.com/74974768/188813166-28a1f73f-3162-41e9-beb5-6f1088344755.png)

[2022-09-07 08:17] engcom-November commented on #35600
Hi @shubham-lade , Can you please check if the issue is with test configuration used. Unable to reproduce the issue on Magento 2.4-develop branch with below configuration. Please refer the [comment](https://github.com/magento/magento2/issues/35600#issuecomment-1231361391). Kindly check on 2.4-develop and provide exact steps to reproduce if the issue is still reproducible.
Thank you.

[2022-09-07 08:38] devchris79 commented on #36095
Hi @zolikonta

this may be related to #25399

[2022-09-07 08:42] dphilipps opened #36101 "Category selection tree in edit product is not in the same order as set in Catalog->Categories"
### Preconditions and environment

Development branch and latest release (as well as earlier ones).  Verified on latest development branch.

### Steps to reproduce

1. Create a new category under Catalog->Categories
2. Move the new category to the top of the tree
3. Edit a product and click on the Categories select... drop down

### Expected result

- New category should be at the top of the tree

[2022-09-07 08:42] dphilipps commented on #36101
@magento give me 2.4-develop instance

[2022-09-07 08:51] engcom-Bravo commented on #33799
@magento give me 2.4-develop instance

[2022-09-07 09:03] onlinebizsoft commented on #34003
@engcom-Bravo I can't understand how you can be a QA in the Magento product team :dagger:

You just need to check the ticket description where I mentioned very clearly about the condition
![image](https://user-images.githubusercontent.com/22501570/188837778-6757ca6c-2913-4e09-b4fc-4f9fb61663ac.png)

So you are setting GPB for both base currency and store currency which is wrong, you need to use 2

[2022-09-07 09:08] guvra commented on #28984
Still not possible in 2.4.5, if you specify `request="array"` in communication.xml, you get the following error message:

[code]

Seems like only simple arrays are allows, like `string[]` or `int[]`.
Temporary workaround is to create a dummy class that contains the array, and use an instance of this class as the message data.

[2022-09-07 09:26] engcom-Hotel commented on #36090
Hello @alexey-dorosh,

Thanks for the report and collaboration!

We have tried to reproduce this issue in Magento 2.4-develop branch but for us, the issue is not reproducible for us. We have followed the below steps in order to reproduce the issue:

1. Create an Integration test on the class `Magento\Sales\Model\Order`. Please find attached the file for the same for reference:
[OrderTest.tar.gz](h

[2022-09-07 09:29] JamesFX2 opened #36103 "Bug re-ordering when no buyRequest found in 2.4.4+"
### Preconditions and environment

- Magento version 2.4.4
- Legacy orders where there is no buyRequest (M1)

### Steps to reproduce

1. Order via customer panel link by clicking a URL such as https://www.example.com/sales/order/reorder/order_id/418443/

### Expected result

1. Re-order process is successful.

### Actual result

[code]

### Additional information

Issue is caused by https://github

[2022-09-07 09:29] JamesFX2 commented on #36103
It's possible this is a relic of data migration but I feel this should be addressed.

[2022-09-07 09:51] johebting commented on #31466
This may not be a _technical_ problem since the behavior matches the ES query, but you can't just assume that this behavior matches a product reference search.

In my opinion, this search should work regardless of how the catalog and SKUs are constructed.

If for some reason the catalog is built with SKUs following this pattern: `{color}-{size}-{parent_reference}` , how can anyone expect to get re

[2022-09-07 10:49] engcom-Hotel commented on #35462
Hello @norgeindian,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3226 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-3226&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-07 10:49] #35462 closed, assigned to nobody

[2022-09-07 10:51] engcom-Hotel commented on #35500
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3157 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-3157&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-07 10:51] #35500 closed, assigned to nobody

[2022-09-07 10:53] engcom-Hotel commented on #34850
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2020 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2020&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-07 10:53] #34850 closed, assigned to nobody

[2022-09-07 10:54] engcom-Hotel commented on #35440
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-3031 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-3031&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-09-07 10:54] #35440 closed, assigned to nazarklovanych, nisha-vaghela

[2022-09-07 10:58] engcom-Delta commented on #35967
Hi @pixel-paul

We have tried to reproduce this issue in magento 2.4.5 ,2.4-develop and upgrade Magento  2.4.4 to 2.4.5  but the issue is not reproducible .

Steps are followed to reproduce the issue
(we have followed the steps which are mentioned in this link https://docs.magento.com/user-guide/marketing/price-rules-cart-free-shipping.html )

1.Upgrade magento 2.4.4 to magento 2.4.5

2.Enabled fr

[2022-09-07 11:03] codebase-md commented on #35920
Hello everybody,

I ran into the same problem. I think the root of this evil lies in \Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier::categoryProductByCustomSortOrder. Here a completly new select statement is build which erases former table joins. Due to this circumstance custom sorting is not possible on category pages. Preconditions are that you are on a catego

[2022-09-07 11:07] engcom-November commented on #30600
Hi @codynguyen1 , Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop branch and is reproducible. As per Magento [devdocs](https://devdocs.magento.com/guides/v2.4/graphql/queries/directory-currency.html) Available currencies does not contain currency name/title but contain only codes. Hence considering this as feature request.

[2022-09-07 11:07] engcom-Bravo commented on #34003
@magento give me 2.4-develop instance

[2022-09-07 11:13] howdyravi opened #36105 "Magento API endpoints are not working as per store"
### Preconditions and environment

- Magento version : 2.4.5

### Steps to reproduce

As per Magento Documentation, API endpoint should follow the below pattern.
`GET <host>/rest/<store_code>/V1/store/websites` to make a request.

When i try to make this call it works fine, if i use `<store_code> as default` but if i use any store code from store it gives an error.
**Working Endpoint** : `GET <hos

[2022-09-07 11:15] mohammadbharmal opened #36106 "Magento set product to out of stock even with the backorder."
### Preconditions and environment

- Magento 2.4.2-p1

### Steps to reproduce

**Step 1:-** Login into Magento admin

**Step 2:-** Go to Magento Admin >> Catalog >> Product >> Edit Product >> Set any product qty 0 and enable backorder for that product and click on the save button.

**Step 3:-** Check stock status of that product in the admin (it's will be in stock).

**Step 4:-** Go to Magento Adm

[2022-09-07 11:21] howdyravi commented on #35207
Opened a new issue here : https://github.com/magento/magento2/issues/36105

[2022-09-07 12:18] engcom-Hotel commented on #35517
Hello @Quazz,

We have further investigated the issue and this time the issue is reproducible in Magento 2.4-develop. In order to reproduce the issue, we have made some changes in the codebase like:

In the below file below line number `104`:

https://github.com/magento/magento2/blob/26057964cdb9057610de42284f605c93a6882407/app/code/Magento/Catalog/Cron/RefreshSpecialPrices.php#L104

We have reini

[2022-09-07 12:38] engcom-Bravo commented on #34003
Hi @onlinebizsoft,

Thanks for quick response.

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. Kindly refer the screenshots.

1.Setting up the Base currency and Store Currency is different.

<img width="935" alt="kd" src="https://user-images.githubusercontent.com/51680745/188876117-31571116-f5d2-4f87-a034-68fc2

[2022-09-07 12:38] engcom-Bravo commented on #33799
Hi @chequille,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch we are able to reproduce the issue. Kindly refer the screenshots.

1.Created a Configurable Product with 3 Customizable options.

<img width="940" alt="a" src="https://user-images.githubusercontent.com/51680745/188872057-7a1c5965-89c1-446d-9a65-02f8c4de4ec3.png">

2.Placing an order for thi

[2022-09-07 12:48] IsraaMohamedTech commented on #33623
I still faced this issue

[2022-09-07 12:51] vandijkstef opened #36107 "Meta Description Auto generation copying page builder tags"
### Preconditions and environment

- 2.4.4
- Page builder on the full description (product)

### Steps to reproduce

- Add a new product
- Add some content in the full description field (pagebuilder enabled). (Edit with page builder - Add Content - Block - Drag and edit block - select block and save )
- Review the meta description
- Discover it is full of tags that should have no value

### Expect

[2022-09-07 12:51] vandijkstef commented on #36107
@magento give me 2.4-develop instance

[2022-09-07 12:58] vandijkstef commented on #36107
Cannot verify currently as the page builder is not allowing me to drag-in any of the (layout) elements

[2022-09-07 13:37] mohammedTBB opened #36108 "Error elasticsearch number_format_exception"
### Preconditions and environment

Magento version 2.4.5
Php version 8.1
Elastic version 7.17.5

### Steps to reproduce

Set attribute Manufacturer Use in Layered Navigation "filterable with results"

### Expected result

No Error

### Actual result

**Error generating constantly in system.log**

[2022-09-07T13:32:03.429219+00:00] main.CRITICAL: Elasticsearch\Common\Exceptions\BadRequest400Excepti

[2022-09-07 16:08] Nuranto opened #36109 "Add modularity to product form tabs"
### Summary (*)

One of my client wants its product form page with left column as he it used to be with M1.

When he asked me that, I thought : "No problem, M2 is customizable, let's do this".

But simply change layout to `admin-2columns-left` and `product_form` layout does not work, because some of the tabs does not implement `Magento\Ui\Component\Layout\Tabs\TabInterface`

Those classes are :
-

[2022-09-07 17:23] leonhelmus commented on #33799
@chequille For now it seems this patch resolves my issues:

[code]

[2022-09-07 19:54] sebfie commented on #35165
Hello,
Can we have a patch for that or something to fix it without waiting new version?

[2022-09-07 21:06] chequille commented on #33799
Hi Guys,
first of all wondering that now this issue is investigated again. But I guess it is because some other people facing the same problem still with 2.4.4 version.
Currently, I do not touch my live system, as it is working there. I could solve this with the help from Kannakiraj123, SHe introduced a change in InventoryIndexer/IsSalable.php class which solved the problem. There was as well anot

[2022-09-07 21:07] oa19 opened #36110 "Magento 2 Admin page is just showing source code"
Today I made two changes to a Magento instance and it has totally broken the admin page. The login page is completely fine but once logged in it is all source code.

The two changes were
- deleting orders using an app
- creating a directory in the tmp folder

Has anyone got any ideas how we fix this?

<img width="1435" alt="Screenshot 2022-09-07 at 22 02 15" src="https://user-images.githubusercont

[2022-09-07 21:37] damienwebdev opened #36111 "Carts w/ a single quote_item with a greater than zero 0 weight and free shipping is available cause an infinite loop"
### Preconditions and environment

- Magento version: v2.4.4-p1+

https://github.com/magento/magento2/commit/5ef9d7fefa66d47125be7663a879fcc2c3e132fd#diff-c39f6293fb90242b32445d0777ffefdae89e75872232dd0f239ee600bc2782cfR466

This diff fails to consider what happens when `maxPackageWeight` is 0 and the cart has an item that has a weight.

### Steps to reproduce

1. Enable Free Shipping
2. Set A Pro

[2022-09-08 00:38] gowrizrh commented on #31466
The search isn't only in the prefix. The prefix is an additional match on all the existing rules.

Personally I don't see a case where a customer or a system would search partially by SKUs given every other attribute is also indexed.

The prefix is mostly a convenience feature and it is up to Magento to decide if this is a feature that should be supported in future.

[2022-09-08 03:24] onlinebizsoft commented on #34003
@engcom-Bravo The second example is good for testing (British Pound and Jamaican Dollar). From your screenshots, in admin setting, I see you set display currency as Jamaican Dollar but how can you show British Pound on frontend ?

[2022-09-08 06:38] carolien-betersport opened #36112 "Newrelic GraphQl transaction names not working"
### Preconditions and environment

- Magento version: 2.4.4, 2.4.4-p1 and 2.4.5
- Original issue: #30915

### Steps to reproduce

1. Sign up and setup New Relic account
2. Enable cron
3. Disable New Relic reporting from Magento Admin. (Stores - Configuration - General - New Relic reporting)
5. Make some GraphQl request while connected to NewRelic
6. Reindex and clear cache
7. Navigate to New Relic

[2022-09-08 06:50] codebase-md commented on #36045
Hi there,

this is happening due to a change in function `\Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier::apply()`. In line 108 the function `getProductIdsBySaleability()` checks setting `cataloginventory/options/show_out_of_stock` and if enabled **and** you are on a category id is given(in other words you are on a category page) it calls the function `categoryP

[2022-09-08 07:07] codebase-md opened #36113 "Custom sorting on category pages not working if out of stock products are shown"
### Preconditions and environment

- M 2.4.5
- Show out of stock Products(`cataloginventory/options/show_out_of_stock`) is enabled
- You are on a category page

### Steps to reproduce

1. Enable `cataloginventory/options/show_out_of_stock`(Show out of stock products)
2. Introduce a custom sort order
3. Navigate to a category page and apply custom sorting

### Expected result

Custom sort order is

[2022-09-08 07:12] engcom-Bravo commented on #34003
@magento give me 2.4-develop instance

[2022-09-08 07:29] dylanngo95 commented on #35132
@dasithaaligent Thank you so much, This patch work on Magento 2.4.4 EE
:dancers:

[2022-09-08 07:55] rogerdz commented on #36113
i think new select on magento 2.4.5 is not necessary, move out stock product to bottom of list should be done via elasticsearch. Can you try https://github.com/magento/magento2/pull/36102 and confirm it's working properly?

[2022-09-08 08:10] isxam commented on #35561
@magento give me 2.4-develop instance

[2022-09-08 09:00] engcom-Hotel commented on #35910
Hello @real34,

Thanks for the contribution!

We are reopening this issue for further processing.

We have a query here, in your comment you have mentioned the mutation `RequestReturnMutation` but instead, we have found this mutation `requestReturn ` here in the [document](https://devdocs.magento.com/guides/v2.4/graphql/mutations/request-return.html). Are you talking about the same?

And also can

[2022-09-08 09:05] real34 commented on #35910
Hi @engcom-Hotel,
Thanks for reopening.

It indeed is `requestReturn`.
Here is the code of our mutation:

[code]

[2022-09-08 09:09] engcom-Hotel commented on #35456
Hello @pawel-siejba,

We have reopened this issue to dig more into this. But prior to that, we have a query on the below statement from the main description:

Can you please elaborate on the above point?

Thanks

[2022-09-08 09:53] HenKun commented on #29678
@t-eichmann did you find any solution for this issue?  It seems due to the fact that the region selector is rendered after the country selector, and hence, gets not updated initially with the set country.

[2022-09-08 10:04] rogerdz commented on #36105
Is 1 the store code ? I think it is store id

[2022-09-08 11:15] howdyravi commented on #36105
Yeahh!  Thats correct.
I think previously it used to work with store ID.

nvm ! Thanks @rogerdz

[2022-09-08 11:15] #36105 closed, assigned to nobody

[2022-09-08 12:12] engcom-November commented on #10605
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible.
Configured JS bunding in Production mode as per [devdocs](https://developer.adobe.com/commerce/frontend-core/guide/themes/js-bundling/) and no Js errors were observed on admin UI and frontend. Kindly recheck the issue on Magento 2.4-develop branch as it is having latest code base and upcoming 2.4.x release. Please

[2022-09-08 12:29] engcom-November commented on #29089
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible in both the cases: url rewrites turned off / on.
![image](https://user-images.githubusercontent.com/60198231/189121931-b51a485f-4fa9-4ae9-88e7-1a443d0cda42.png)
Kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-09-08 12:33] engcom-Bravo commented on #34003
HI @onlinebizsoft,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch we are able to reproduce the issue. Kindly refer the screenshots.

1.Setting up a base currency as GBP  and store currency as USD.

<img width="924" alt="t1" src="https://user-images.githubusercontent.com/51680745/189112563-a4b55ae6-89fa-4fef-ad00-5d6e1034921a.png">

2.As we are setting

[2022-09-08 12:51] engcom-November commented on #34003
@magento give me 2.4-develop instance

[2022-09-08 13:37] simoncrewe commented on #19710
My issue was that the resizer doesn't work for products set to not visible individually.
The fix is below.
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/MediaStorage/Service/ImageResize.php#L183

[2022-09-08 14:02] engcom-November commented on #32367
Magento current behavior - OrderItemInterface does not contain parent_sku field as per [devdocs](https://devdocs.magento.com/guides/v2.4/graphql/interfaces/order-item-interface.html). Hence considering this as feature request.

[2022-09-08 14:06] engcom-Delta commented on #35595
Hii @[NickvdMeij](https://github.com/NickvdMeij),

We have tried to reproduce this issue in magento 2.4.2-p2, 2.4.3 and 2.4-develop  but the issue is not reproducible .

Steps are followed to reproduce the issue.

1.Created three websites namely Main Website,website1 and website2 and respective stores are Main Website store, store1 and store2 and respective store_views are Default Store View.

<im

[2022-09-08 15:16] jissereitsma opened #36116 "Use of undefined constant GLOB_BRACE in dependency "magento/magento-composer-installer""
### Preconditions (*)
Magento 2.4.5

### Steps to reproduce (*)
Following the PHP manual (https://www.php.net/manual/en/function.glob.php) the constant `GLOB_BRACE` is not available on some systems. More specifically this is an issue on Docker containers based on Alpine Liux. Create a Docker container based on Alpine Linux, install Magento in it, deploy the sample data and then remove them again w

[2022-09-08 15:21] DmitrySamushchenko opened #36117 "Fatal when using GraphQl query"
### Preconditions and environment

- Magento 2.4.5
- Default Magento ElasticSearch7
- Not empty database prefix, for example "pref"

### Steps to reproduce

1. Run this graphQl query:
[code]

### Expected result

Results without error:
![image](https://user-images.githubusercontent.com/90465167/189161206-7462330c-2fbd-4de0-b2f2-6a6f65ddf031.png)

### Actual result

Fatal Error:
![image](https://us

[2022-09-08 17:09] engcom-Hotel commented on #36116
Duplicate of #36062

[2022-09-08 17:09] #36116 closed, assigned to nobody

[2022-09-08 17:34] jissereitsma commented on #36116
Whoops, I didn't spot that issue yet. Thanks for closing this one and sorry for the trouble.

[2022-09-08 19:47] chazzs commented on #36057
Something to add to the strangeness: Scrolling a ways down the page will sometimes correct the layout.

[2022-09-08 20:18] pmonosolo commented on #36045
This does not work for me unfortunately - the toolbar still shows the full catalog:

![image](https://user-images.githubusercontent.com/66754347/189217587-ea345d58-bccf-4cd0-b092-88435fddda5e.png)

It means that the whole catalog is being outputted regardless of the search query.

[2022-09-08 22:03] Kudja commented on #35775
Can confirm same issue on 2.4.4

![image](https://user-images.githubusercontent.com/8101375/189233951-136b7025-c782-465c-b798-ad7cca53634f.png)

[2022-09-08 23:12] briangmoore77 commented on #36057
I didn't have the issue at all today... with chrome... it just updated to version 105.0.5195.102 (Official Build) (64-bit) in the early morning. I haven't tested it in Firefox yet. I did test chrome incognito mode all day yesterday and never saw the issue but at the same time I saw the issue in my regular chrome window multiple times.

I'm hoping the latest Chrome update solved the problem... I wi

[2022-09-09 00:12] maxlussier commented on #36051
The solution provided with the PR has resolved the issue on my project in Adobe Commerce 2.4.5. I hope someone approves and merges that PR quickly.

[2022-09-09 01:23] onlinebizsoft commented on #34003
@ihor-sviziev @engcom-Bravo @engcom-November @engcom-Delta this is not the issue I have reported. If it is valid then it is another issue, my issue were confirmed but new QA seems doesn't understand the issue and we get nowhere now.

[2022-09-09 03:44] nhatlich994 opened #36119 "Magento 2.4.x When Elasticsearch doesn't work, orderings will be unlimitedly spammed."
### Preconditions and environment

- Magento 2.4.x
- Catalog Search Engine was set Elasticsearch7

### Steps to reproduce

- Add to cart
- Go checkout page
- Disable Elasticsearch service (Elasticsearch suddenly stop working)
- Click Place Order button
- An error message was shown but order was still placed.
- You can spam "Click Place Order" more one times without limit action and the orders woul

[2022-09-09 05:49] stephansteiner commented on #33437
Hi, any progress on this?

[2022-09-09 05:50] codebase-md commented on #36045
@pmonosolo

I'm sorry to hear that. But this patch is not intended to fix problems with the amount of products shown in your catalog. It is intended to fix the issue in regards to sort orders and position at which out of stock products are shown.

You might have a different issue here since I'm not able to reproduce the behavior described by you.

[2022-09-09 06:23] rohit-prjpt commented on #35783
This could happen when there is any product stored without required attribute "name" and either you can add name value or remove that bad created product.

[2022-09-09 06:42] manrahulsingh commented on #23907
I have 2 Magento Instances one is production site and another one is development Instance
I'm stucked on the same issue both Magento Setups have Version 2.4.3-p2 but for production Instance Coupon Usage is not updating in database .

[2022-09-09 06:47] ihor-sviziev commented on #36062
@engcom-November any updates?

[2022-09-09 07:27] engcom-November commented on #34003
@magento give me 2.4-develop instance

[2022-09-09 07:35] rostilos commented on #36013
@magento I am working on this

[2022-09-09 08:09] Legeakademiet commented on #30128
@

Did you manage to fix it? We have the problem at with version 2.4.3.

[2022-09-09 08:36] AndreaMastracchio opened #36120 "Bundle Options Qty Errore"
### Preconditions and environment

- Magento version Magento CLI 2.3.3-p1
In the quantity control function, the quantity of the bundle/configurable product is transmitted and not that of the option. Thus, if one of the options has a minimum purchase, the bundle product cannot be purchased. To correct this, I created a preference in the QuantityValidator.php file. The function checkOptionsQtyIncrem

[2022-09-09 09:13] rutgerrademaker commented on #33611
Also got hit by this on 2.4.3-p3, figured out there is a MQP to fix this though: MDVA-41215

https://support.magento.com/hc/en-us/articles/4417378995853-MDVA-41215-Users-get-500-error-after-setting-mage-messages-cookie

After applying that the issue could not be reproduced.

[2022-09-09 09:35] engcom-Delta commented on #36048
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:**

While updating the product in bulk , In bulk action logs it showing system message with the error.

**Pre-requisite:**

   2.4-develop

**Steps to reproduce:**

1. Update products in bulk from product grid

2. Opened bulk action logs and clicked on View Details in system message

3. checked in sy

[2022-09-09 09:49] bjoern-quast commented on #35707
Maybe both options should be offered, since the current behaviour of "discard subsequent rule" does exactly what it says, discards any subsequent (lower prio) rule. That is what one would expect from an option by that name.
For more flexibility, maybe add "discard subsequent rules (only) for this product" as well.

[2022-09-09 10:00] engcom-November opened #36121 "Price difference for products with customizable options in Product details page and shopping cart page"
### Preconditions and environment

2.4-develop

### Steps to reproduce

1. Admin - Stores - Configuration - Currency setup - Set Base Currency - EURO and Display currency - USD, Allowed currencies - both EURO and USD
2. Save the config and clear cache
3. Create a simple product with price: € 166.08, add customizable options - type dropdown - with price : € 35.67
add multiple customizable options w

[2022-09-09 10:14] engcom-November commented on #34003
Hi @onlinebizsoft ,
I reverified the issue mentioned by you again on Magento 2.4-develop and the issue is reproducible only for particular price combinations but not in all the cases. Since this issue description is updated with other issue, I have created a new issue for this and confirmed [here](https://github.com/magento/magento2/issues/36121). Kindly move on to this issue for latest updates /

[2022-09-09 10:25] engcom-Bravo commented on #36121
Hi @engcom-November,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and the issue is reproducible with mentioned steps. Hence confirming this issue

Thanks

[2022-09-09 12:05] engcom-November commented on #33138
@magento give me 2.4-develop instance

[2022-09-09 12:12] engcom-November commented on #34460
Hi @mkawachi ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch and this behavior no longer exist on latest Magento versions. We dont have list of options for state field to select for Japan Country.
![image](https://user-images.githubusercontent.com/60198231/189347264-c1688fae-2894-457f-aa02-047478db76bb.png)
Kindly recheck the behavior on Magento 2.4-de

[2022-09-09 12:20] engcom-November commented on #32793
Considering this as feature request as "has_options" and "required_options" are not listed in ProductInterface attributes in Magento [devdocs](https://devdocs.magento.com/guides/v2.4/graphql/interfaces/product-interface.html).

[2022-09-09 12:50] engcom-November commented on #33138
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/189353761-8c73f470-0d8e-4206-9690-f807656d3b0f.png)

![image](https://user-images.githubusercontent.com/60198231/189353730-568fb323-03ef-4169-bb94-83a2670dd567.png)

[2022-09-09 12:56] LeoNun commented on #34857
Hello, I know this issue is fixed in magento 2.4.5. but I can't get the line translated. I've placed the translation in costumer module but it's not translating. Can anyone help me and tell where to place the translation?

Best Regards,
L Nunes

[2022-09-09 13:37] #35449 closed, assigned to sprankhub

[2022-09-09 15:41] fsmeccap opened #36123 "Index.php plain text after install v2.4.4"
### Summary (*)

Hello guys, help me please, I followed the next steps to deploy v2.4.4 but I'm getting the index.php's plain text after installation but I don't realized what's the error

--apache
  https://devdocs.magento.com/guides/v2.4/install-gde/prereq/apache.html
  apt-get -y install apache2
  a2enmod rewrite
  systemctl restart apache2
  nano /etc/apache2/sites-enabled/000-default.conf
  -

[2022-09-09 16:46] hhonetree opened #36124 "Configurable product is not obtained when stock change from out of stock to in stock"
### Preconditions and environment

- Magento 2.4.4-p1

- Using:
    "magento/module-upward-connector": "^2.0"
    "magento/pwa": "^0.3.0"

-Used GraphQl:

{
    products(
      filter: {
        url_key: {eq: "config" }
      }
    ){
    items{
      uid
      name
      sku
      url_key
    }
  }
}

### Steps to reproduce

I have Magento 2.4.4 installed in the cloud and the problem is when you

[2022-09-09 17:43] chazzs commented on #36057
I do have LastPass installed. it does seem strange that it would hose up a
page that it does not interact with (Magento dashboard or the odd list/grid)

On Fri, Sep 9, 2022, 2:49 AM Pieter Hoste ***@***.***> wrote:

[2022-09-09 17:52] gyduxa opened #36125 "Custom layout handle when there are no search results"
### Preconditions and environment

- Magento Open Source 2.4
- I've checked the resolved and old issue #18038 for Magento 2.3 and its [PR](https://github.com/magento/magento2/pull/18069)
- In Magento 2.4 I can see the similar code in `/vendor/magento/module-catalog-search/` files calling `DEFAULT_NO_RESULT_HANDLE` and referring to `catalogsearch_advanced_result_noresults` and also `catalogsearch_r

[2022-09-09 18:28] briangmoore77 commented on #36057
@chazzs Lastpass interacts with what ever is in your browser tab. Try incognito mode and see if the issue is there. Make sure you didn't give Lastpass permission to show up on incognito mode.

[2022-09-09 20:36] francosmp commented on #36123
I tried a second installations of v2.4.3 with the next code

sudo apt-get install apache2 -y
# Agregar permisos de servidor
sudo nano /etc/apache2/sites-available/000-default.conf
# Agregar al final lo siguiente (control end)
<Directory "/var/www/html">
    AllowOverride All
</Directory>
# Agregar Nombre del servidor
sudo nano /etc/apache2/apache2.conf
# Agregar al final lo siguiente (control end)

[2022-09-09 20:46] sdzhepa commented on #36078
Hello @kassner and @ihor-sviziev

I have discussed this issue with our Security Team.

**Short answer:**
1. Mentioned patches are not applicable for the 2.4.5. (_applicable only <= 2.4.3-p1 and <= 2.3.7-p2_)
2. Users do not need to apply these patches to fix security issues. Because these vulnerabilities were already fixed and included into 2.4.5

**Detailed answer**(quotes)

I hope this informati

[2022-09-10 00:27] armpogart commented on #35993
@engcom-Hotel Is there any chance that patches for #31428 (PR - [AC-988::Fixing app:config:import issue after config dump](https://github.com/magento/magento2/commit/cb375e7c5b0e24ef57f6bab1796846baeb4274ec) and later patch for this one will be added to 2.3.7 patch releases or quality-patches?

[2022-09-10 12:52] n2diving-dgx commented on #36057
I can confirm that simply disabling the LastPass extension in Chrome stops the issue from occurring.

![image](https://user-images.githubusercontent.com/17930467/189484140-282e49be-105d-4d6c-948c-fb8c869defcc.png)

Re-enabling the extension causes the issue to return immediately for me.

What is unclear... is this a bug in LP, or is this a something being done in M2 that is improper and/or unexpec

[2022-09-10 13:27] khalidbony opened #36127 "All page header, footer and some other option is broken."
### Preconditions and environment

- Magento version 2
- Anything else that would help a developer reproduce the bug
- how may i solve this bugging problem.

### Steps to reproduce

1. All page broken some option
2. all pages header and footer broken

### Expected result

child theme upload successfully.
https://demo.drm.com.bd/

### Actual result

header and footer broken. and some other option a

[2022-09-10 14:12] rogerdz commented on #36123
mcrypt was DEPRECATED in PHP 7.1.0, and REMOVED in PHP 7.2 https://www.php.net/manual/en/intro.mcrypt.php
Magento uses sodium as an alternative to mcrypt
You try to check with php -i and make sure the list of php extension has sodium

[2022-09-10 16:28] rogerdz commented on #35013
@nkajic  I think Free Shipping is "No" or '-- Please select --' doesn't matter.
The Free Shipping value is stored in the simple_free_shipping column of the salesrule table.
simple_free_shipping is handled Magento\SalesRule\Model\Validator\Calculator, function processFreeShipping https://i.imgur.com/HBOUOpV.png. With value '' or 0 the result is the same.
Please provide more of your case

[2022-09-10 16:57] hostep commented on #36057
Okay, thanks for the investigation @n2diving-dgx!

I don't think it's something in M2, because it never happened before. So it's probably a new bug in one of the last LastPass browser extension versions.
I think we should try to report this to LastPass and see if they can figure out what goes wrong (even though the bug seems to be hard to reproduce).

[2022-09-10 17:21] hostep commented on #35456
@engcom-Hotel, it says what it says, not sure what extra info you are after?

This composer plugin should be included by a project-type of composer package (like `magento/product-community-edition`), not by `magento/framework`.

/cc @nathanjosiah, @rjtulloh

[2022-09-10 17:51] hostep commented on #36083
Not sure if issue is fully valid.

But in case it helps, we are able to use custom log names like this, which is purely done in a `di.xml` file with 2 `virtualType`'s, [like this](https://github.com/baldwin-agency/magento2-module-image-cleanup/blob/fe0c8a91d826eefe3fdd45bca5f4d2fe024d0513/etc/di.xml#L12-L25).

You then need to [inject your virtual Logger type](https://github.com/baldwin-agency/mag

[2022-09-10 17:57] hostep commented on #36086
I seem to remember there were a bunch of fixes done in Magento 2.4.4 around batching of indexer jobs. So maybe you can verify first on Magento 2.4.4 or 2.4.5 if the issue is still there? I believe the fix in 2.4.4 was both done in core magento as in the MSI module (in case its being used).

[2022-09-10 18:30] ioweb-gr commented on #36083
True it can also be done via di.xml with virtual types or via custom classes that extend the original Monolog logger class but it's still a workaround imo. We're adding multiple classes in the system just to change a filename in the log.

Don't you think it's overkill?

[2022-09-11 03:10] colinmollenhour commented on #34758
Sessions don't start unless something initializes them so it should be possible to add a breakpoint or debug statement and look at the stack trace to see why they are starting in the first place and fix that. There are likely multiple places.

[2022-09-11 11:12] shafeekb opened #36128 "Visual Merchandiser - Cannot unassign all products from a category"
### Preconditions and environment

- Magento Commerce cloud version 2.4.3-p1

### Steps to reproduce

1. Within the Magento Admin Navigate to CATALOG -> Categories
2. Navigate to a category with products
3. Open the Products in Category section
4. Unassign all the products one by one

### Expected result

All products removed from that category

### Actual result

When try to remove the last produ

[2022-09-11 16:34] gwharton commented on #36113
Related to https://github.com/magento/magento2/issues/35920

[2022-09-11 16:35] gwharton commented on #36096
Duplicate of https://github.com/magento/magento2/issues/35899

[2022-09-11 16:44] gwharton commented on #36052
Duplicate of #35971

[2022-09-12 03:04] onlinebizsoft commented on #36121
Original thread https://github.com/magento/magento2/issues/34003

[2022-09-12 06:31] engcom-Delta commented on #36110
Hi  @oa19 oa19,

Thank you for reporting and collaboration. However, deleting orders with 3rd party extensions / app’s code is not part of https://github.com/magento/magento2 git repository. Community cannot provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the Magento Market place page.

Thank

[2022-09-12 06:40] hostep commented on #33611
Thanks @rutgerrademaker

It looks like the same fixes from that patch got included in Magento 2.4.4 by: [ACP2E-290: [Magento Cloud] NewRelic Alert: 'Error Rate Critical'](https://github.com/magento/magento2/commit/44e055e27a50b70093923542d923cec64b45dc6f)

So this issue can probably be closed now?

[2022-09-12 07:31] densen45 opened #36129 "Reordering bundle options does not work as expected"
### Preconditions and environment

- Magento version 2.4.4.-p1

### Steps to reproduce

1. Create a new bundle product
2. Add at least two options
3. Try to reorder the options via drag and drop

### Expected result

Reordering the options does work via drag and drop.

### Actual result

Reordering the options does not work.

Touching the drag handle makes the options element to jump/snap to the l

[2022-09-12 07:32] densen45 commented on #36129
@magento give me 2.4.4-p1 instance

[2022-09-12 07:52] densen45 commented on #36129
@magento give me 2.4.4-p1 instance

[2022-09-12 08:06] densen45 commented on #36129
@magento give me 2.4-develop instance

[2022-09-12 08:14] densen45 commented on #36129
I was able to reproduce this issue on the provided 2.4-develop instance.

[2022-09-12 08:18] Shockwave2k commented on #35034
Hi,

we are currently facing the same/similar issue on Magento 2.4.5 with klarna/m2-klarna 1.1.3

Default Config (Klarna is available)
(Same for Main Website Config)
![available](https://user-images.githubusercontent.com/7497733/189604827-05473911-7679-4636-b9c9-fa1feb4343b6.png)

Store Config (Klarna is NOT available)
![not-available](https://user-images.githubusercontent.com/7497733/189604841-d2

[2022-09-12 09:11] engcom-Bravo commented on #30337
@magento give me 2.4-develop instance

[2022-09-12 09:16] engcom-Dash commented on #35985
Hi @KrusLeung ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!!!

[2022-09-12 09:16] #35985 closed, assigned to engcom-Dash

[2022-09-12 09:16] engcom-Dash commented on #36018
Hi @SunilC1512 ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!!!

[2022-09-12 09:16] #36018 closed, assigned to engcom-Dash

[2022-09-12 09:19] engcom-Dash commented on #36057
Hi @hostep ,

Sure we are watching this issue Continuously. If we will find any bug regarding this we will update you....

Thanks!!!

[2022-09-12 10:17] mariogobos commented on #36100
Hi, is very important to me to resolve the issue... In france and other countries vat is not required. Please help me. Thanks

[2022-09-12 10:27] Usik2203 commented on #2703
@magento give me 2.4.2-p2 instance

[2022-09-12 11:10] densen45 commented on #36129
The reason for this issue is, that the dynamic-rows `table` element that contains the bundle options has no `thead` element (possible confusion: I'm not referring here to the tables containing the selections/simple products, these do indeed have a `thead` element).

In the [dnyamic-rows/dnd.js](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Ui/view/base/web/js/dynamic-rows/d

[2022-09-12 12:20] engcom-Delta commented on #36019
Hi @SunilC1512 ,

We have noticed that, this issue has not been updated for a period of 14 Days.Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-12 12:21] engcom-Delta commented on #36019
Hi @SunilC1512 ,

We have noticed that, this issue has not been updated for a period of 14 Days.Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-12 12:21] #36019 closed, assigned to engcom-Delta

[2022-09-12 12:22] engcom-Delta commented on #35921
Hi @mlf20 ,

We have noticed that, this issue has not been updated for a period of 14 Days.Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-09-12 12:22] #35921 closed, assigned to engcom-Delta

[2022-09-12 12:45] norgeindian commented on #29734
Still an issue in 2.4.3-p3

[2022-09-12 12:48] norgeindian commented on #28153
@sdzhepa , thanks for the update. That's better than nothing. Please keep me updated.

[2022-09-12 12:59] densen45 commented on #36129
@magento I am working on this

[2022-09-12 13:15] engcom-Bravo commented on #36096
Hi @arsalanworld,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop branch and the issue is reproducible with above steps to reproduce. however, similar issue has been confirmed [here](https://github.com/magento/magento2/issues/35899)

Hence We are closing this issue as duplicate.

Thanks.

[2022-09-12 13:15] #36096 closed, assigned to engcom-Bravo

[2022-09-12 13:51] zigojacko commented on #29734
@norgeindian we gave up waiting for Magento to fix this themselves and just wrote a module that fixes it as per what @Blatant advised earlier in this thread.

[2022-09-12 14:01] engcom-November commented on #31506
Considering this as feature request as it is an existing behavior of Magento.
![image](https://user-images.githubusercontent.com/60198231/189673727-de369058-3ca7-4dcd-bc81-505a1f385ef6.png)

[2022-09-12 14:28] engcom-November commented on #29769
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence confirming the issue.
Response retrieved for "related_products" is working as expected but null values are retrieved for "upsell_products" and "crosssell_products"
![image](https://user-images.githubusercontent.com/60198231/189679855-a4225aa2-921a-4009-9cd8-11c1ead9bfa6.png)

[2022-09-12 15:40] hostep commented on #31506
Like I already mentioned in the linked PR, this was already done in scope of https://github.com/magento/magento2/commit/1c08100b688261e4b9bd8999fea75456f7cd3a79#diff-c1a0f6486b70a75d462b21912c7bec4a861034315eadb6067777edd50b2e10b3 => Great Britain is no longer part of the default EU countries list after that commit.

However, this is a much much much more complex issue, and has to do with Brexit t

[2022-09-12 15:44] TerrapinSoftware opened #36131 "Call to a member function getMethodInstance() on null in /srv/magento/vendor/paypal/module-braintree-core/Block/Form.php:174"
### Preconditions and environment

- Magento version: 2.4.5
- PHP 8.1.9

### Steps to reproduce

1. Make sure that BrainTree credit card payments are enabled.
2. View an order in the admin backend.
3. Click Edit.

### Expected result

The Edit form displays

### Actual result

Partial HTML is displayed

### Additional information

The file `vendor/paypal/module-braintree-core/Block/Form.php` conta

[2022-09-12 16:42] engcom-Dash commented on #36127
@magento give me 2.4-develop instance

[2022-09-12 16:45] nbennett25 commented on #32277
@engcom-Delta looks like people are still reporting this issue - I can confirm that we're still seeing it using 2.3.5-p2, and from the above comments it looks like it exists in 2.4 as well.

[2022-09-12 16:57] sdzhepa commented on #36062
@engcom-November and @engcom-Hotel

Could you please process this issue?

[2022-09-12 17:03] eBusinessAtlantique commented on #29734
@Blatant did the right fix. Just needs to be included in M2 next release...

[2022-09-12 17:29] briangmoore77 commented on #36057
@hostep @chazzs @n2diving-dgx If all of us can go to lastpass and submit bug reports it would help resolve this issue.

I've also created a topic in their support discussions:
https://community.logmein.com/t5/LastPass-Support-Discussions/Magento-2-Admin-loading-issues-with-Chrome-extenstion/m-p/293009

[2022-09-12 17:36] github-jira-sync-bot opened #36132 "Replace Zend_Cache"
Replace
* Zend_Cache with laminas-cache

[2022-09-12 17:36] #36132 closed, assigned to nobody

[2022-09-12 17:38] github-jira-sync-bot opened #36133 "Replace Zend_Pdf with `setasign/fpdf`"
The usages of Zend_Pdf should be replaced with usages setasign/fpdf

[2022-09-12 18:31] francosmp commented on #36123
It is already installed :cry:

[2022-09-12 19:17] ioweb-gr commented on #35293
This was also the case for me. Missing the logo.png file in a child theme however. I wonder why it doesn't fetch it from the parent. How did you manage to detect the offending file if I may ask?

[2022-09-12 19:23] nathanjosiah commented on #35456
Taking a look.

[2022-09-12 19:27] creativebay commented on #34183
I can also confirm that the issue still exists on 2.4.5

[2022-09-12 20:09] sunilit42 commented on #36129
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2022-09-12 22:01] beatdemon commented on #35297
What is amazing is that our development firm and extension provider have no idea this issue exists! I found it here myself and was able to fix. Thank you @jorgb90 for your post! All we did was upgrade from 2.4.3 P1 to 2.4.4 and the development firm blamed it on the extension provider, and visa-versa! I'll send this link along to them along with a face slap emoji. ;)

[2022-09-12 23:58] Den4ik commented on #36129
Duplicate for https://github.com/magento/magento2/issues/36051

[2022-09-12 23:58] #36129 closed, assigned to densen45

[2022-09-13 03:27] rogerdz commented on #36123
There's something wrong with your system, maybe openssl
Run command apt install php8.1-mcrypt maybe probably solve your problem but it not optimal

[2022-09-13 04:20] nhatlich994 opened #36134 "Magento 2.4.x error "Environment emulation nesting is not allowed" occurs while sending invoice email"
### Preconditions and environment

- Magento 2.4.x CE

### Steps to reproduce

1. Create order
2. Go Backend > Sales > Orders
3. Create Invoice
4. Send Email invoice
5. Check system.log

### Expected result

Invoice send to customer without error

### Actual result

system.log logged the error: **Environment emulation nesting is not allowed**.

The reason is **\Magento\Sales\Model\Order\Email\Send

[2022-09-13 06:49] ShapesGraphicStudio commented on #33856
Hi,
Suddenly got the same issue updating from 2.4.3 to 2.4.5...

[2022-09-13 07:22] engcom-Hotel commented on #36002
Dear @pmonosolo,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-13 07:22] #36002 closed, assigned to engcom-Hotel

[2022-09-13 07:24] engcom-Hotel commented on #35843
Dear @Nuranto,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-09-13 07:49] ihor-sviziev commented on #33856
@ShapesGraphicStudio, I see the changes from https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde were included to 2.4.4, 2.4.4-p1 and 2.4.5, so you shouldn't have it.
Could you please report a separate issue and express that you have it on 2.4.5, which contains the fix?
Thank you!

[2022-09-13 07:58] ihor-sviziev commented on #34758
@colinmollenhour, unfortunately, in Magento 2 it's not true. They're getting initialized automatically because of dependencies to SessionManager since they're started in the SessionManager constructor.
https://github.com/magento/magento2/blob/38e2ae57fab1fb964d5970c83a30b71c19d20116/lib/internal/Magento/Framework/Session/SessionManager.php#L99-L124

Some time ago I tried to fix that in https://git

[2022-09-13 08:24] engcom-Dash commented on #36103
@magento give me 2.4-develop instance

[2022-09-13 08:24] engcom-Dash commented on #36127
@magento give me 2.4-develop instance

[2022-09-13 08:36] engcom-Bravo commented on #36097
@magento give me 2.4-develop instance

[2022-09-13 08:40] ShapesGraphicStudio commented on #33856
Well, I had a diffchecker on my vendor/magento/module-directory/Model/Currency.php file and ae304d4 patch and they were different. Uploading the patch seems to have done the trick nicely..

[2022-09-13 08:52] engcom-Dash commented on #36103
Hi @JamesFX2 ,

We are trying to reproduce the issue in magento 2.4-develop instance.But we are not able to reproduce.

We can able to reorder successfully.

Screenshot:
![Screenshot from 2022-09-13 14-19-53](https://user-images.githubusercontent.com/60198592/189857169-4836bbae-faf0-4429-8255-98b8c9c8dea9.png)

Steps to reproduce:
1. Install Magento instance
2. Go to admin Panel
3. Process reorder

[2022-09-13 08:54] leonhelmus commented on #35569
@jissereitsma  I have the same issue as well your fix for short description resolved it!

[2022-09-13 09:00] engcom-Dash commented on #36127
Hi @khalidbony ,

We are trying to reproduce the issue in 2.4-develop branch....But we are not able to reproduce the issue.

Header And footer not broken Everything is fine in Magento instance.

Screenshots:
![Screenshot from 2022-09-13 14-27-56](https://user-images.githubusercontent.com/60198592/189859006-242d09c8-e49e-4f46-8f70-d0de4c488509.png)
![Screenshot from 2022-09-13 14-27-54](https://use

[2022-09-13 09:10] higuhi opened #36135 "OAuth1.0 should not validate the timestamp against server's system clock"
### Preconditions and environment

- Magento version: 2.x (found in 2.4.0 and also confirmed on vanilla 2.5.4)
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

### Step 1 - Magento Setup
1. Setup clean vanilla Magento
2. Go to SYSTEM > Integrations  and click "Add New Integration"
3. Fill in the form and create a new integration (choose ALL for Available APIs)

[2022-09-13 09:12] higuhi commented on #36135
@magento I am working on it

[2022-09-13 09:13] higuhi commented on #36135
@magento add to contributors team

[2022-09-13 09:13] higuhi commented on #36135
@mangento add to contributors team

[2022-09-13 09:14] higuhi commented on #36135
@magento add to contributors team

[2022-09-13 09:14] higuhi commented on #36135
@magento I am working on it

[2022-09-13 09:19] engcom-Dash commented on #35997
Hi @DiegoItaly ,

We have to check issue with cloud Environment with Live Search...We are Working will update you ASAP.

Let us know if We Missing anything!!!

Thanks!!!

[2022-09-13 10:19] engcom-November commented on #31582
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Accessing the site with url: http://<yourstoeurl>/media/something-invalid.xml giving 404 error but also below error is getting generated in logs.  (var/log/system.log)
[2022-09-13T10:11:33.372312+00:00] main.ERROR: The path is not allowed: media/something-invalid.xml []
Note: This issue is not observed for other urls e

[2022-09-13 10:38] engcom-Hotel commented on #34183
Hello @JoostWan @creativebay,

As we can see that you are still able to reproduce the issue. Can you please let us know something more about this issue, like below:
1. Any steps
2. Console logs
3. Screenshots
4. Screen size

Thanks

[2022-09-13 10:50] gyduxa commented on #36125
I've edited the last bullet on Preconditions on the first post, because it works for the results on the Advanced Page but not for the results on the simple page.

It works adding the `catalogsearch_advanced_result_noresults.xml`, in my case now, I'm overriding on `app/code/{my_vendor_folder}/Magento_CatalogSearch/view/frontend/layout/catalogsearch_advanced_result_noresults.xml`) with

[code]

But

[2022-09-13 11:32] engcom-Hotel commented on #36062
Hello @speller,

Thanks for the report and collaboration!

We have tried to reproduce the issue with the docker image of Alpine Linux. We have pulled the image from its official link as below:

https://hub.docker.com/_/alpine

We have tried to reproduce the issue with a simple PHP script with the use of the `GLOB_BRACE` constant use and we are able to get the actual result as you mentioned in the

[2022-09-13 11:56] DiegoItaly commented on #35997
thank you

[2022-09-13 12:02] engcom-Bravo commented on #36097
Hi @PashaIhnatjo,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.

Kindly refer the screenshots.

<img width="1172" alt="Screenshot 2022-09-13 at 4 56 17 PM" src="https://user-images.githubusercontent.com/51680745/189894577-d7b579c6-0eba-479f-8dd4-c0a0e142ce07.png">

<img width="1084" alt="Screenshot 2022-09-13

[2022-09-13 12:10] engcom-Bravo commented on #36091
Hi @RanjitBShinde,

Thank you for reporting and collaboration.

Kindly refer this Magento [devdocs](https://devdocs.magento.com/guides/v2.4/graphql/security-configuration.html).As per this doc the query depth value will be 20(Default value) Defines the maximum depth of nodes that query can return.

Thanks.

[2022-09-13 12:22] engcom-November commented on #29655
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence updating the description and confirming the issue.
Tier price for only quantity one is retrieved in the graphql response.
![image](https://user-images.githubusercontent.com/60198231/189899722-126f01d9-40ca-4376-9df1-eb62a9a7eeea.png)
![image](https://user-images.githubusercontent.com/60198231/189899753-8d0cde2d-0

[2022-09-13 12:45] RanjitBShinde commented on #36091
@engcom-Bravo  Thank you for the reply.

We are using this gql query to load the menu items in the front store. Default Venia PWA also using same gql. In our case, we have more than 20 categories and we need to show them in the menu. This query don't have any pageSize input parameter as well.

Thanks

[2022-09-13 12:47] engcom-November commented on #29635
Hi @lano-vargas , Verified the issue on Magento 2.4-develop branch but the issue is not reproducible for all the store views.
Default store view label is retrieved in response as expected
![image](https://user-images.githubusercontent.com/60198231/189904255-8f4c5dd8-4a6f-4c0f-9519-1edb50db0086.png)
When the query is run for other store - other store label is retrieved as expected.
![image](https:/