[2016-07-07 08:32] kristjan-h commented on #5412
See #5418 for a temporary fix.

[2016-07-07 08:33] kristjan-h commented on #5480
See #5418 for a temporary fix.

[2016-07-07 08:38] samuellinde commented on #5412
@OnTapKristjan Yep, that did the trick.

[2016-07-07 08:40] webspeaks commented on #5418
@OnTapKristjan You are absolutely correct. I did the same and removed duplicate product entries from `cataloginventory_stock_item`.
I imported all products from CSV before upgrade. Not sure why there are duplicate entries after upgrade to 2.1.0.
Also the `website_id` in `cataloginventory_stock_item` and `cataloginventory_stock_status` was '1' before upgrade. But in a fresh install of Magento 2.1.0

[2016-07-07 08:40] Tristan-N commented on #4785
@BigBri41
I had the same problem (couldn't create invoices in the backend in Magento 2.1) but solved it by the next query in MySQL as mentioned by mauromm @ https://github.com/magento/magento2/issues/5324:

[code]

MySQL gave an error "Mysql isn't here anymore" but after running the script for a second time, it gave an duplicate column error. The column was created the first time and i was able to

[2016-07-07 08:47] kanduvisla opened #5514 "2.1 : script text/x-magento-init not working in adminhtml"
I have added some JavaScript functionality to the backend, and for that I used `<script type="text/x-magento-init"></script>`. This worked fine in 2.0.7, but in 2.1 this stopped working.

I've added it with `after_element_html` when creating the form:

[code]

This worked fine in 2.0.7, but in 2.1 this stopped working. When I look at the source, I simply see the raw `<script>`-tag there, that othe

[2016-07-07 08:51] anton-huz commented on #4697
Hi @slackerzz ,
1. Could you describe what does phrase _"Every update overwrites"_ means?
   Do you mean update from minor to minor releases `2.0 --> 2.1` ? Or patch releases `2.0.1 --> 2.0.5`?
2. Why do yo think that renaming will solve this?

Thanks.

[2016-07-07 08:54] veloraven commented on #5201
@elieobeid7 , thank you for update.
Unfortunately, now it's not easy to understand what is it about, and what is your actual problem is.
So I have to ask you once more to format your issue according to templates: specifying exact steps to reproduce, actual result, and expected result.
Additional please specify exact versions or tags you used.

[2016-07-07 09:08] stamster commented on #5507
Well, you can't be obsolete but you can't be too latest either if you want to use Magento2. xD

You can try to modify bootstrap(.php) where Magento check PHP version and to see whenever it will work w/o issues with your PHP 7.0.8 stack.

[code]

[2016-07-07 09:09] slackerzz commented on #4697
Hi @guz-anton,
1. I mean that if i add a custom theme in `themes.js` _both_ kind of update replace this file with a fresh copy from the repo
2. according to [devdocs](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html#grunt_prereq) when developing a new theme, to use grunt to compile less file you should declare it in `dev/tools/grunt/configs/themes.js`, but every

[2016-07-07 09:15] stamster commented on #5507
I just deployed fresh instance with Magento 2.1.0.
Even in CLI it complains:
Magento supports PHP 5.6, 7.0.2, and 7.0.6 or later.

I'm running PHP 7.0.4, which is default Ubuntu 16.04 LTS repo version. This is just plain stupid. What exactly is the problem in those specific versions, they're all based on PHP 7.0.x stack (using SemVer), so no API changes are introduced!

[2016-07-07 09:27] kanduvisla commented on #5421
Is Magento 2.1 applying knockout bindings on all elements? I have a similar issue (#5514) and I'm thinking there's been added some knockout logic to the admin that breaks other knockout logic.

[2016-07-07 09:29] sdzhepa commented on #5479
Hello, @darragh1001 !

We tried to reproduce it with steps:

Preconditions:
- Magento2 CE is cloned "git clone https://github.com/magento/magento2"
- Then switch branch to 2.1, "git checkout -f 2.1"
- Install with all default settings(changes only in DB user name, DB name, Admin user name and password)
  Steps:
- Login as Admin user and create simple product
  (!) All magento settings in default s

[2016-07-07 09:47] stamster commented on #5507
Official page states:

So the only troubles are specific to 7.0.5 only.

Bootstrap does not seem to follow these requirements:

[code]

Now I wonder how you @lgarridoj have hit the wall with your setup since this must return true PHP_VERSION_ID >= 70006 with your ID 70008.

On the other hand, composer.json has following dependency:

[code]

xD

Just change bootstrap.php and composer.json and it wo

[2016-07-07 10:05] adifucan commented on #4653
Hi @dv8nate, did you try to run magento indexer:reindex command after magento cron:run?
It probably should solve your issue.
Please, check this reference: https://github.com/magento/magento2/issues/3247

[2016-07-07 10:10] Nerogee commented on #5479
@sdzhepa Hi, I have the same problem. Fresh installed magento2.1, manual order is working fine. when checkout using Paypal, i found the invoice ID sent through paypal API is always 000000001. Do you think this is the cause? Thanks. This issue baffle me a week now.

[2016-07-07 10:13] SilvanLaroo commented on #4119
+1 on 2.0.7. Sometimes the page loads fine without any errors, but most of the time the error is thrown and no product image is visible on the productpage.

I do have additional errors, not only the one from dataPost.js.

![schermafbeelding 2016-07-07 om 12 12 21](https://cloud.githubusercontent.com/assets/1763934/16650017/34e58dfe-443c-11e6-8091-1f6add066ee3.png)

[2016-07-07 10:15] Nerogee commented on #5462
@hoanglan87 Hi, do you mind enable the paypal debug mode and check the webroot/var/log/debug.log file. My case is the invoice ID is always 000000001 when sending checkout data through paypal API. Just want to make sure I'm not alone.

[2016-07-07 10:16] viken-tops commented on #5511
hi  joni-jones,
thanks for yr response. actually i just came to know that it's working in sandbox environment but not in production. on production getting error like paypal is not enabled braintree.2.17.6.min.js in console.

i am wondering why this happen.

[2016-07-07 10:27] hostep commented on #5507
@stamster: check discussion over here, it should work on PHP 7.0.4, the Magento guys will fix the issues in an upcoming release: https://github.com/magento/magento2/issues/5131

[2016-07-07 10:33] anton-huz commented on #4697
Ok. I got it. We are looking for solution.

Currently possible ways to solve task are:
- Rename `theme.js` to `theme.js.sample`
  Disadvantages: one more step to developer - rename `theme.js.sample` to `theme.js` back.
- Introduce `theme.local.js` as fallback with local themes list
  Disadvantages: all Grunt tasks will run with `Magento/luma` and `Magento/blank` themes also. That is redundant.
- P

[2016-07-07 10:45] slackerzz commented on #4697
I've submitted a [pull request](https://github.com/magento/magento2/pull/4716) following the first solution more than a month ago.
Yes, it's one more step for developers, but only once. If Magento is really moving to [sass and gulp](https://alankent.me/2016/05/21/magento-2-community-project-moving-from-less-to-sass/) maybe it doesn't make sense to invest time to modify grunt tasks or introduce con

[2016-07-07 10:54] Krapulat commented on #5294
Thanks @afavata. I had the same problem.

[2016-07-07 11:02] stamster commented on #5131
I have changed on my own both bootstrap and composer.json in order to run on Ubuntu Xenial with PHP 7.0.4. Magento 2.1.0 works w/o issues then.

[2016-07-07 11:06] anton-huz commented on #4697
Yeah, good reason. If we choose first one - we will process your PR ;-)

[2016-07-07 11:34] asemenenko commented on #5511
@viken-tops it seems that you need to activate PayPal on your Brantree account, see doc https://articles.braintreepayments.com/guides/paypal/setup-guide

[2016-07-07 11:36] acidreian666 commented on #5131
I used @ignaciomella method to modify the Bootstrap to get it to magento2.1 to install on php7.0.4 on ubuntu 16.04LTS and then updated using 3d party PPA to 7.0.8. But i started having random issues so I decided to start over and I was hoping by now there would be a patch. Can anyone comfirm use on php7.1?

[2016-07-07 11:37] veloraven commented on #5155
@davidverholen I created an internal ticket for this issue - MAGETWO-55154 and linked it to this one.

[2016-07-07 11:38] kanduvisla commented on #5514
Turns out I was implementing knockout all wrong. For anyone encountering the same problem: read these articles:
- http://www.ibnab.com/en/blog/magento-2/magento-2-ui-knockoutjs-using-container-less-ko-template-gettemplate
- http://inchoo.net/magento-2/knockout-js-in-magento-2/

[2016-07-07 11:38] #5514 closed, assigned to nobody

[2016-07-07 11:40] antboiko commented on #2368
Hello @mage2pro , this is a correct behavior.

URL key is autogenerated upon saving the product/category using the Name value if it's left empty. If specified (manually or autogenerated) URL key already exists the user will be notified about this after the Save. Such conflicts should be handled manually by the user.

[2016-07-07 11:49] Digisha97 opened #5515 "Shipping and Billing address to be on first step of checkout in Magento 2.0.7"
I am trying to display billing address besides shipping address on first step of checkout , but after creating custom JS view files for billing address , and adding it in checkout_index_index.xml it's loading only HTML of billing address not the actual content of it.

[code]

Generated files in below location
Theme/web/js/view/billing-address-list.js
Theme/web/template/billing-address-list/details

[2016-07-07 12:00] philippsander commented on #1931
come on guys. almost 4 months to fix this?

[2016-07-07 12:03] flancer64 commented on #1471
Try to setup unique URL Keys for the imported products directly (in CSV data) or init this attribute in the code:

[code]

URL key is generated from Product Name value. In my case this error ("_URL key for specified store already exists_") was thrown if product names, prices and weights were equals for the different products (name only equality is not enough for the error). SKU is unique attribute

[2016-07-07 12:03] gewaechshaus commented on #2518
We can verify that it doesn't work in our case with a composer installed 2.1.0, but setting General => Web => Default Cookie Settings => Cookie Restriction Mode => No does not have any effect...

[2016-07-07 12:04] ednacool commented on #5440
Hi antboiko,

It's a issue if you login in Magento 2 customer account and add any item to wishlist then navigate to My wishlist here you see comment box with now add comment button.

Please let me know if i am wrong over this

[2016-07-07 12:06] ednacool opened #5516 "Wishlist Comment Feature"
Hi,

If you login in Magento 2 customer account and add any item to wishlist then navigate to My Wishlist  from My account page here you see comment box there is no add comment button.

[2016-07-07 12:06] hostep commented on #4697
@guz-anton: since you already decided on the first solution for `Gruntfile.js` and `packages.json` in commit https://github.com/magento/magento2/commit/9ba77d903d173a134ef4c5b1f9de0d3f4d73d47d, it makes sense to use the first solution for `themes.js` as well I think.

[2016-07-07 12:09] gewaechshaus opened #5517 "?sid in URL even if disabled"
Hey,

we are running a composer based 2.1.0 install with haproxy and varnish in front of nginx and noticed that the sid variable appears in the URL even if it's disabled in backend.

[2016-07-07 12:13] antboiko commented on #5512
Hi @blizam , thanks for reporting this issue. We've created internal ticket MAGETWO-55157.

Best,
Anton.

[2016-07-07 12:13] deep1086 commented on #4416
@ishakhsuvarov
Having same issue.Please share info if it is resolved in any new version of magento2

[2016-07-07 12:23] antboiko commented on #5474
Hello @andidhouse , this works as expected.

Could you please explain what is the reason to not allow using images with the same name?

Thanks.

[2016-07-07 12:24] antboiko commented on #5516
Hello @ednacool , "Update Wish List" button do this job.

Best,
Anton.

[2016-07-07 12:27] stamster commented on #5131
Why did you upgrade from 7.0.4 which is well maintained LTS release? It seems that latest PHP 7.0.8 is a code breaker for Magento.
There are many complaints on PHP group breaking API and not following SemVer between those 7.0.x releases.

[2016-07-07 12:28] antboiko commented on #5440
Hello @ednacool , I replied you within this ticket https://github.com/magento/magento2/issues/5516. Click Update Wish List button after you added a comment and it will be saved.

[2016-07-07 12:30] hvohra opened #5519 "Getting PHP Fatal Error on getPrice()"
## Steps to reproduce

I have installed new magento 2.1 with mysql 5.6 , php7 on ubunu 15.   Everything works except sometimes when I add a prod to cart , checkout, or login,  I get the following error:

[Thu Jul 07 07:26:27.251375 2016] [:error] [pid 5731] [client 127.0.0.1:59868] PHP Fatal error:  Uncaught Error: Call to a member function getPrice() on null in /var/www/magento2/vendor/magento/mo

[2016-07-07 12:32] antboiko commented on #5497
Hi @ppisarek , thanks for reporting this. We already have internal ticket MAGETWO-54718 in our backlog to fix this issue.

Thanks,
Anton.

[2016-07-07 12:38] AydinHassan commented on #4359
Chiming it to get some action on this. Composer was stable ages ago - it would be nice to not have to include alpha software (even if I don't doubt the quality of Composer).

[2016-07-07 12:39] abhijitbanik2016 commented on #4756
Magento 2.0.7 Installed through INSTALLATRON App in Easy apache 4 Server with a configuration of php 5.6 and mysql 5.6

After installation Magento market place connected with system config with marketplace key.

Now when I am trying to get sync in component Manager then showing "please wait" and nothing is happening. If I check the error in browser development mode I found 2 error

Error 1: angula

[2016-07-07 12:42] grasdaggel opened #5520 "Magento2: Unable to save Catalog Config"
We tried to change the SEO settings in Shop -> Config -> Catalog -> Catalog -> SEO, fields:
- Product-URL-Suffix
- Catalog-URL-Suffix

When hitting the save button I assumed that it'd simply safe the new setting, but instead we got this SQL error:
`Beim Speichern der Konfiguration ist ein Fehler aufgetreten. SQLSTATE[42S02]: Base table or view not found: 1146 Table 'reisebil_mg206.url_rewrite' doe

[2016-07-07 12:44] RUjmiak commented on #5239
So there is still no solution for MAMP?

[2016-07-07 13:06] ednacool opened #5521 "Owl Carousel and Flex slider JS stops"
Hi,

First load site work fine all slider working on second load every thing fine suddenly all sliders stops working then on reload everything get back to normal then after 2 or 3 load ajax get stopped

i.e sometimes load slider sometime not sometime loads ajax sometime not weird issue

Console error when everything get stopped

[code]

Same issue on default Magento ajax stop after some load

[2016-07-07 13:14] Tristan-N commented on #5505
I have the same problem. Also the loadingscreen isn't stopping.
It says Price is a required field. Even when I enter a number there, select another Attributeset in the dropdown it clears the value, keeps loading and gives an error.

![schermafbeelding 2016-07-07 om 15 13 24](https://cloud.githubusercontent.com/assets/19165453/16654313/870259aa-4455-11e6-9ec9-71d5bab9716e.png)

[2016-07-07 13:15] navarr commented on #642
This is definitely a missing needed feature.  I'm going to have to create some way to do it myself since there don't seem to be any M2 extensions to enable this functionality yet

[2016-07-07 13:18] s00071609 commented on #4785
The below method from commcad seems to work.
Should there be **Create Account** option in the end when you reach to the SUCCESS screen?
- Create Account Appears only when customer manually enters all details and checkout the long way
- No create account option with PayPal express checkout - this is the most widely used method and create account is a Must.

Does anyone have any idea when magento ne

[2016-07-07 13:19] palamar commented on #4637
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:19] #4637 closed, assigned to ishakhsuvarov

[2016-07-07 13:19] palamar commented on #4664
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:19] #4664 closed, assigned to mazhalai

[2016-07-07 13:20] palamar commented on #4744
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:20] #4744 closed, assigned to mazhalai

[2016-07-07 13:23] palamar commented on #4700
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:23] #4700 closed, assigned to nobody

[2016-07-07 13:24] palamar commented on #4781
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:24] #4781 closed, assigned to nobody

[2016-07-07 13:24] palamar commented on #4636
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:24] #4636 closed, assigned to nobody

[2016-07-07 13:24] palamar commented on #4662
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:25] palamar commented on #4717
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:25] #4717 closed, assigned to duhon

[2016-07-07 13:29] palamar commented on #4789
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:29] #4789 closed, assigned to wert2all

[2016-07-07 13:30] palamar commented on #4740
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:30] #4740 closed, assigned to wert2all

[2016-07-07 13:31] palamar commented on #4719
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:31] #4719 closed, assigned to wert2all

[2016-07-07 13:31] palamar commented on #4661
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:31] #4661 closed, assigned to mazhalai

[2016-07-07 13:32] palamar commented on #4626
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:32] #4626 closed, assigned to nobody

[2016-07-07 13:33] palamar commented on #4693
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:33] #4693 closed, assigned to andimov

[2016-07-07 13:33] palamar commented on #4663
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:33] #4663 closed, assigned to andimov

[2016-07-07 13:35] palamar commented on #4528
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 13:35] #4528 closed, assigned to nobody

[2016-07-07 13:36] antboiko commented on #5487
@grasdaggel Do you have any additional preconditions or other errors in the browser console, exception or debug log?

[2016-07-07 13:44] veloraven commented on #5269
@sheldonli999
Thank you for details.
But I still can not reproduce this issue locally.
I wanted to create new customer at your site but I was not able to add address to it. So I'm afraid that this test customer's account was corrupted (email omoyseyenko@magento.com). I'm really sorry for it.
Could you please provide me with login/password of some test customer?
And did you install clear Magento 2.

[2016-07-07 13:53] piotrekkaminski commented on #4359
It is on the roadmap @AydinHassan to upgrade to latest.

[2016-07-07 13:57] Nerogee opened #5522 "Magento2.1 Invoice ID does not increase"
## Steps to reproduce
1. Install Magento2.1 from composer.
2. Add Configurable Product to the cart.
3. using paypal express checkout
## Expected result
1. redirect to paypal login page
## Actual result
1. PayPal gateway has rejected request. Payment has already been made for this InvoiceID (#10412: Duplicate invoice)
2. 'INVNUM' => '000000001' (Paypal API request content)
3. **invoice ID is always

[2016-07-07 14:00] palamar commented on #4832
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:00] #4832 closed, assigned to nobody

[2016-07-07 14:01] palamar commented on #4838
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:01] #4838 closed, assigned to nobody

[2016-07-07 14:01] palamar commented on #4837
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:01] #4837 closed, assigned to duhon

[2016-07-07 14:01] palamar commented on #4866
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:01] #4866 closed, assigned to nobody

[2016-07-07 14:02] palamar commented on #4477
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:02] #4477 closed, assigned to duhon

[2016-07-07 14:02] palamar commented on #4487
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:02] #4487 closed, assigned to duhon

[2016-07-07 14:03] palamar commented on #4517
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:03] #4517 closed, assigned to duhon

[2016-07-07 14:07] palamar commented on #4377
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:07] #4377 closed, assigned to nobody

[2016-07-07 14:08] Rheikan opened #5523 "Error in Magento Checkout"
## Steps to reproduce

1.install a module of Payment
2. add a product to cart
3. put the information of Checkout
## Expected result
1. Appear Payment section(the gif of loading stay infinitly)
## Actual result
1. When push "NEXT" y page CheckOut the gif of loading stay infinitly
2. IN THE LOGS : [2016-07-07 13:48:22] main.INFO: Cache file with merged layout: LAYOUT_frontend_STORE1_14fe68b6700db5ef

[2016-07-07 14:08] palamar commented on #4395
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:08] #4395 closed, assigned to ishakhsuvarov

[2016-07-07 14:10] veloraven commented on #5513
@qwerty7869

Thank you for your report.
But I would like to clarify one detail: which website is your customer assigned to? As "0" - is id for Admin website.
Please check that you use correct "websiteId" value. If customer is attached to Main Website it probably has id = 1.

[2016-07-07 14:10] palamar commented on #4409
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:11] MomotenkoNatalia commented on #5311
Hi @katesuykovskaya ! Thanks for reporting this issue! Internal ticket MAGETWO-55169

[2016-07-07 14:11] palamar commented on #4438
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:11] #4438 closed, assigned to paliarush

[2016-07-07 14:16] Tristan-N commented on #5505
@RG-1
Is it possible that you used a data migration tool and the attribute set you are selecting is migrated from Magento 1?
I did the following:
Check if the attribute set Default has the same structure as the set you are trying to select. If not, that's your problem.

Create a new attribute set based on the Default set that Magento 2 delivers and update that new one as you would like it. Update

[2016-07-07 14:26] realchriswells commented on #5239
Only MAMP 4 when that is released.

There is a beta release of it, however I haven't tried it because I need a stable working environment and can't be fussing over bugs.

[2016-07-07 14:32] mrkhoa99 commented on #5521
It's better if you post your question on http://magento.stackexchange.com/

[2016-07-07 14:35] oserediuk commented on #5454
@didineedthis if this is the only your issue, go ahead. If you find some issues in future, please, report here.

If this issue is resolved, can we close a ticket?

[2016-07-07 14:35] palamar commented on #3841
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:35] #3841 closed, assigned to kandy

[2016-07-07 14:36] palamar commented on #3855
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:36] #3855 closed, assigned to piotrekkaminski

[2016-07-07 14:37] palamar commented on #4026
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:37] #4026 closed, assigned to piotrekkaminski

[2016-07-07 14:37] paales commented on #5469
Noticed this presentation, seems to have right direction! http://www.slideshare.net/BartekIgielski/magento-2-community-project-moving-from-less-to-sass

[2016-07-07 14:37] palamar commented on #4006
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:37] #4006 closed, assigned to duhon

[2016-07-07 14:38] palamar commented on #4014
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:38] #4014 closed, assigned to nobody

[2016-07-07 14:39] palamar commented on #4125
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:39] #4125 closed, assigned to piotrekkaminski

[2016-07-07 14:40] palamar commented on #4086
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:40] #4086 closed, assigned to piotrekkaminski

[2016-07-07 14:43] palamar commented on #4185
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:43] #4185 closed, assigned to piotrekkaminski

[2016-07-07 14:45] palamar commented on #4280
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:45] #4280 closed, assigned to piotrekkaminski

[2016-07-07 14:46] palamar commented on #4439
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:46] #4439 closed, assigned to nobody

[2016-07-07 14:50] palamar commented on #4825
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:50] #4825 closed, assigned to veloraven

[2016-07-07 14:50] #4473 closed, assigned to andimov

[2016-07-07 14:50] palamar commented on #4473
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:51] palamar commented on #4892
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:51] #4892 closed, assigned to nobody

[2016-07-07 14:52] palamar commented on #4974
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:53] palamar commented on #4947
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:53] #4947 closed, assigned to duhon

[2016-07-07 14:53] palamar commented on #5046
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:53] #5046 closed, assigned to nobody

[2016-07-07 14:53] palamar commented on #5098
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:53] #5098 closed, assigned to choukalos

[2016-07-07 14:54] palamar commented on #5117
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:54] #5117 closed, assigned to duhon

[2016-07-07 14:54] palamar commented on #5132
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:54] #5132 closed, assigned to nobody

[2016-07-07 14:55] palamar commented on #4990
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:55] #4990 closed, assigned to nobody

[2016-07-07 14:55] palamar commented on #5135
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:55] #5135 closed, assigned to nobody

[2016-07-07 14:56] #5175 closed, assigned to veloraven

[2016-07-07 14:59] palamar commented on #3367
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 14:59] #3367 closed, assigned to nobody

[2016-07-07 15:00] palamar commented on #3282
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:00] #3282 closed, assigned to okorshenko

[2016-07-07 15:01] palamar commented on #3337
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:01] #3337 closed, assigned to duhon

[2016-07-07 15:01] palamar commented on #3422
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:01] #3422 closed, assigned to nobody

[2016-07-07 15:02] palamar commented on #3493
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:02] #3493 closed, assigned to voleye

[2016-07-07 15:03] palamar commented on #3497
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:03] #3497 closed, assigned to duhon

[2016-07-07 15:03] palamar commented on #3623
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:03] #3623 closed, assigned to andimov

[2016-07-07 15:04] palamar commented on #3752
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:04] #3752 closed, assigned to antonkril

[2016-07-07 15:04] palamar commented on #3744
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:04] #3744 closed, assigned to voleye

[2016-07-07 15:08] palamar commented on #3612
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:08] #3612 closed, assigned to nobody

[2016-07-07 15:09] palamar commented on #3528
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:09] #3528 closed, assigned to nobody

[2016-07-07 15:09] palamar commented on #3888
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:09] #3888 closed, assigned to kandy

[2016-07-07 15:14] Igloczek commented on #5469
Thanks for mentioning me on Twitter!
Good points, some of them are familiar with goals of our community project moving from LESS to SASS.

But as it's not an issue, just a improvement plan / ideas, so we should move future discussion on official Magento Community Forum and leave this place mostly for bug reports.

We have own "room" on forum, I think it will be good spot to continue - https://comm

[2016-07-07 15:16] oserediuk commented on #5404
@qwerty7869 do you confirm that you want to report future request?

[2016-07-07 15:19] mbrinton01 commented on #5404
@qwerty7869 another question to understand your request.  It is possible to get images now for a product, but are you requesting this be possible from a `carts` API call?

[2016-07-07 15:19] grasdaggel commented on #5487
Console:

[code]

No other error output.

Last call in error_log (obviously not cart-related):

[code]

Anything else you need?

[2016-07-07 15:29] ktruehl commented on #4968
@palamar
OK. Now we're on 2.1 and the problem still persists. The swatch renderer block still has no name.

[2016-07-07 15:33] ghost opened #5524 "Minicart does not synchronise across multiple devices"
## Steps to reproduce
1. Create a customer account
2. Log in on Browser 1 with your newly created customer account
3. Add an item to your basket
4. Log in on Browser 2 with the above created customer account
5. Add an item to your basket in Browser 2
6. Refresh Browser 1
7. Observe the Minicart in Browser 1
## Expected result
1. Minicart show correct items and totals on all browser on all devices

[2016-07-07 15:47] blizam commented on #4096
I don't seem to have any issues duplicating new/post-2.1.0 upgrade products... it's only when I duplicate products I created pre 2.1.0 that I have the various previously mentioned issues

I haven't extensively tested duplicating new products from/to a different store/store-view... but basic save+duplicate seems to be fine with newly created products

[2016-07-07 15:53] oserediuk commented on #5301
Do you use some widget on the home page which contains a product?

[2016-07-07 15:54] palamar commented on #3042
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:54] #3042 closed, assigned to joanhe

[2016-07-07 15:55] palamar commented on #3098
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:55] #3098 closed, assigned to nobody

[2016-07-07 15:55] palamar commented on #3138
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:55] #3138 closed, assigned to nobody

[2016-07-07 15:55] ktomk commented on #4359
Can we share where on that roadmap? :) I think this is a perfect fit for "developer experience".

[2016-07-07 15:55] palamar commented on #3116
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:55] #3116 closed, assigned to nobody

[2016-07-07 15:56] palamar commented on #3183
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:56] #3183 closed, assigned to yaronish

[2016-07-07 15:56] palamar commented on #3192
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:56] #3192 closed, assigned to nobody

[2016-07-07 15:56] palamar commented on #3318
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:56] #3318 closed, assigned to voleye

[2016-07-07 15:56] palamar commented on #3292
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:56] #3292 closed, assigned to kandy

[2016-07-07 15:57] palamar commented on #3308
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:57] #3308 closed, assigned to voleye

[2016-07-07 15:57] palamar commented on #3328
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:57] #3328 closed, assigned to nobody

[2016-07-07 15:57] palamar commented on #3196
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:57] #3196 closed, assigned to nobody

[2016-07-07 15:57] palamar commented on #3252
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 15:57] #3252 closed, assigned to nobody

[2016-07-07 16:00] palamar commented on #2818
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:00] #2818 closed, assigned to guz-anton

[2016-07-07 16:00] palamar commented on #2872
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:00] #2872 closed, assigned to joanhe

[2016-07-07 16:00] palamar commented on #2898
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:00] #2898 closed, assigned to guz-anton

[2016-07-07 16:00] palamar commented on #2952
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:00] #2952 closed, assigned to nobody

[2016-07-07 16:00] palamar commented on #2935
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:00] #2935 closed, assigned to kandy

[2016-07-07 16:00] oserediuk commented on #5234
@rbostan Did you upgrade magento to version 2.1 after composer self-update?

[2016-07-07 16:02] palamar commented on #2804
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:02] #2804 closed, assigned to yaronish, vzabaznov

[2016-07-07 16:02] blizam opened #5525 "Remove Feature Request: Do not autopopulate Meta Description field with Product Name"
The Meta Description field gets autopopulated by the Product Name field AND the Product Description field... more often than not this will create a messy Meta Description field at best.

Honestly, I think ALL auto population of all the meta fields should be removed... when you're duplicating products it gets messy and when you go back and forth and make edits in the Product Name and Descriptions f

[2016-07-07 16:02] palamar commented on #2863
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:02] #2863 closed, assigned to nobody

[2016-07-07 16:02] palamar commented on #2883
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:02] #2883 closed, assigned to nobody

[2016-07-07 16:05] palamar commented on #4933
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:05] #4933 closed, assigned to andimov

[2016-07-07 16:06] palamar commented on #4995
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:06] #4995 closed, assigned to wert2all

[2016-07-07 16:06] palamar commented on #4959
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:06] #4959 closed, assigned to wert2all

[2016-07-07 16:06] palamar commented on #5069
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:06] #5069 closed, assigned to wert2all

[2016-07-07 16:07] palamar commented on #5099
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:07] #5099 closed, assigned to wert2all

[2016-07-07 16:07] palamar commented on #5121
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:07] #5121 closed, assigned to wert2all

[2016-07-07 16:07] palamar commented on #5120
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:07] #5120 closed, assigned to wert2all

[2016-07-07 16:08] palamar commented on #5153
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:08] #5153 closed, assigned to andimov

[2016-07-07 16:08] palamar commented on #5182
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-07 16:08] #5182 closed, assigned to andimov

[2016-07-07 16:15] oserediuk commented on #5229
@klict Do you have any updates?

[2016-07-07 16:18] hostep commented on #4959
Duplicate - https://github.com/magento/magento2/issues/2375

[2016-07-07 16:21] sivaschenko opened #5526 "sales_rule_form is not defined on attempt to select category for cart price rule condition"
## Steps to reproduce
1. Log in to admin panel
2. Go to Marketing -> "Cart Price Rules"
3. Click "Add New Rule" button
4. Expand actions fieldset
5. Under "Apply the rule only to cart items matching the following conditions" add "Category" condition
6. Open category chooser
7. Select any category (see js error in console)
8. Click Apply icon
## Expected result
1. No js errors.
2. Category is added

[2016-07-07 16:26] paales commented on #5469
@Igloczek Thanks for the response, I'll shoot in some issues on the sass theme repo and try it out, I also have some suggestions to make the build tools much easier/better.

[2016-07-07 16:33] Igloczek commented on #5469
I'm always open for any suggestions and for sure Magento is open to our help/ideas to improve state of front-end in M2 😉

[2016-07-07 16:40] commcad commented on #4785
@s00071609
Have a look in Magento Admin > Stores > Configuration > Sales > Checkout > Checkout Options

I could be totally wrong here but the Magento ootb setting is set by default to "Allow Guest Checkout". Setting this to NO should force the customer to Sign-up prior.

I'm personally unaware of any timeframe RE future release. Happily running M2.1.0GA in both dev and prod here. That original ALT

[2016-07-07 16:42] rgoncharuk commented on #5373
According to the provided log, a NewRelic customer with identifier 1012445 configured pinger.
In our conversation with New Relic support team turned out that owner of pinged server should not confirm that. To clarify the reason why 1012445 desided to ping your server the following support issue is reported https://support.newrelic.com/tickets/200781/

Alex, which URL is being hosted on Magento ser

[2016-07-07 16:55] blizam opened #5527 "URL key for specified store already exists when Creating new Products, secondary store view"
2.1.0

When creating a new product you cannot specify another Store View other than the Default or you will get a "URL key for specified store already exists." error when creating the product.

You cannot change any options on "Products in Website" options while creating the product (well, you can choose NO option, you can untick the default store view, but you cannot select another store view), e

[2016-07-07 17:32] sheldonli999 commented on #5269
Hi Olga:
  https://www.mtraveler.com/mtraveler
admin/april9

It is upgraded from 2.0.7.

Thanks

Sheldon

On Thu, Jul 7, 2016 at 6:45 AM, Olga Moyseyenko notifications@github.com
wrote:

[2016-07-07 17:32] sheldonli999 commented on #5269
Hi Olga:
  https://www.mtraveler.com/mtraveler
admin/april9

It is upgraded from 2.0.7

On Thu, Jul 7, 2016 at 6:45 AM, Olga Moyseyenko notifications@github.com
wrote:

[2016-07-07 18:17] yssource commented on #2666
Still not working in 2.1.0

[code]

[2016-07-07 18:44] mbrinton01 commented on #5134
@akaplya are you able to reproduce this issue?

[2016-07-07 18:47] thomasnordkvist commented on #5236
I have this issue when i try to create or edit a bunde product after upgrading to 2.1.0
"The configuration parameter "componentType" is a required for "tier_price" component

Any ideas on that?

[2016-07-07 18:50] navarr opened #5528 "COPYING.txt contains placeholder text"
Line 7:

Should be replaced with the file name of the Magento2 Enterprise Edition License.

[2016-07-07 18:57] palamar commented on #4968
Thanks

[2016-07-07 19:17] Igloczek commented on #5469
Let's continue discussion here -> https://community.magento.com/t5/Less-to-Sass-Community-Project/Idea-of-using-cssnext-instead-of-SASS/m-p/41248#U41248

[2016-07-07 19:29] thomasnordkvist commented on #5236
My issue was that i had moved the tier_price attribute to the Product Details group in the attribute set.
I moved it back to the group Advanced Pricing and then the bundle product seem to work again.

[2016-07-07 19:44] yssource commented on #2666
It seems it should not import cvs file from the template being exported directly.
I am changing the value for all images from "/i/m/image.png" to be 'image.png' in the exported template csv file.
and place the uploading images in directory "/your_magento2_root/var/import/", then configure "Images File Directory" with relative path "var/import".
This is working for me.

[2016-07-07 19:45] dthampy commented on #5526
@sivaschenko , thank you for your bug report. An internal jira Ticket(MAGETWO-55184) is created.

[2016-07-07 20:30] kfaer opened #5529 "M2.1 not functioning properly all browsers JS"
2.0.7 was working fine with all browsers but after upgrade to 2.1 the store is not working, bought items not adding to the cart so customer cannot checkout. even with fresh installation the cart is not functioning properly. please see herara.com.

browser inspection showing :
knockout.js:2908 Uncaught Error: You cannot apply bindings multiple times to the same element.

[2016-07-07 20:35] afavata commented on #5294
Noted your comment @krapulat.Thanks

[2016-07-07 20:59] #4575 closed, assigned to mazhalai

[2016-07-07 20:59] #4546 closed, assigned to nobody

[2016-07-07 21:00] #4765 closed, assigned to dsikkema

[2016-07-07 21:21] taylordipentino opened #5530 "Luma theme - Product Added to Cart Success Message Reloads on All Pages"
## Steps to reproduce
1. Install Magento 2.0.7 from magento.com (I think it also happens with Magento 2.1)
2. Create a new navbar category with a product in it.
3. With Luma theme enabled, navigate to the category page and click "Add to Cart" on thumbnail or navigate to the product page and click "Add to Cart".
## Expected result
1. Product is added to cart and displays the success pop-up once, th

[2016-07-07 21:31] Ctucker9233 commented on #5306
@hgpit Ok, I understand now. What I meant is that might be part of Magento's Core structure to create a unique filename for each instance of an image. So if you have the same image on two sites, Magento can tell the difference between the two instances of that image. I'm just speculating this might be the case for the weird file naming.

[2016-07-07 22:19] Ctucker9233 commented on #5423
@tkacheva @eug123 @magento-team Is there any news on this issue? It is really effecting customer experience.

[2016-07-07 22:25] JDavidVR commented on #5423
I'm having this problem even in clean installation :(

[2016-07-07 22:49] lgarridoj commented on #5507
@stamster My composer.json file does not include that code:

[code]

[2016-07-07 23:00] acidreian666 commented on #5423
@JDavidVR please list your full server setup & distribution information with components your using. I have installed and setup m21 10 times in the past 4 days with a functional navigation bar.

[2016-07-07 23:04] jibrandlr commented on #5507
@stamster I changed composer.json but the result is the same. And bootstrap.php does not need to be changed since the condition is true already.

[2016-07-07 23:09] acidreian666 commented on #5131
@stamster I only upgraded to 7.0.8 for development and stability testing. I have been pushing through to see what are the do's & don'ts before sending my e-commerce to a production server. My most recent dev server is Ubuntu 16.04 with php7.0.4 zero issues.

[2016-07-07 23:21] acidreian666 commented on #5506
@nomood89 that's Softaculous issue. If your looking to run local easy install of magento2. See https://bitnami.com/stack/magento they only have 2.0.7 I believe but if you go to system upgrade to 2.1 it works well. But this is no means a way to use magento 2 for production because of bitnami is very limited as a real server.

[2016-07-07 23:47] Ctucker9233 commented on #5423
@acidreian666 On any of your setups did you install 2.0.7 and then upgrade to 2.1.0? I think this is where the problem really lies.

I'm hosted on siteground.com
Apache (not sure which version)
mysql (latest)
PHP version 5.6.23
Magento 2.1.0

I've flushed all caches repeatedly. The only thing I haven't tried is to set permissions on everything to 777 like you did. I don't know if that is safe to d

[2016-07-07 23:51] Ctucker9233 commented on #5506
@nomood89 I remember having a similar issue. If I recall, softaculous defaults to admin123 for the backend url. For some reason, Magento didn't like it. I changed it to something else and then everything worked fine.

[2016-07-08 00:01] acidreian666 commented on #5423
@Ctucker9233 Are you using Varnish or Memcached or something simular or a cloudflare or Maxcdn?
I have never used Php 5.6 because theres 30x faster speed when using php7 from my expirence.

here is the question flushing the caches meaning your running the site in Devoloper mode not production?

have you tried
sudo rm -r pub/static/*
sudo php bin/magento setup:static-content:deploy

http://devdocs.

[2016-07-08 00:21] philipecasarotte commented on #5344
2.1 fixes this issue.

[2016-07-08 01:03] bondimedical3 commented on #5301
Nothing. You can see a screenshot of the homepage above.

[2016-07-08 01:15] moloughlin commented on #4688
I've been looking into this as well. When saving a model I expect only pages with the corresponding instance to be invalidated however I found that pages with any instance have been invalidated.

Traced this back to what appears to be a problem in the InvalidateVarnishObserver (module-cache-invalidate):

[code]

In the case of product saves, this will trigger a purge request for any object with X-

[2016-07-08 01:26] moloughlin commented on #4688
Quick update: Just noticed the following commit which removes the line that was causing the problem: https://github.com/magento/magento2/commit/2754427ac2fa9d025272b5502b55a271f7e415b4

An update to 2.1 should resolve this issue.

[2016-07-08 01:43] rplant09485 commented on #4755
I had some success, with the following:
For some reason the config value for path=payment/payflow_advanced/user
Which should be encrypted but has the unencrypted word PayPal in it (Set I don't know where, not in the db) and it gets a very dubious decrypted value.
On my system this path did not exist in the core_config_data table.
So I set the paypal api name to PayPal, then using phpmysql copied t

[2016-07-08 02:38] JDavidVR commented on #5423
@acidreian666 I found something weird.
the first time, y copied files from magento 2.1 to 2.0.7 (both with sample data) but it gave me the catalog nav error, so I tried to copy again the files(it overwirte 2.0.7) but still it was not working.
at the end I did a rm -rf vendor/\* and copied a clean vendor folder from 2.1, and it solved the problem, I don't know exactly which files are different.

ab

[2016-07-08 03:43] s00071609 commented on #4785
I think Guest Checkout is quite important and would not be good to turn it off. But as the 2.1 release note says that guest checkout create account opens after checkout, I was wondering if there is still some issue with it.
Basically there are two ways to checkout as guest, first way is buy manually filling in all details and using paypal express to checkout.

Second to directly jump to PayPal fro

[2016-07-08 04:11] webspeaks commented on #4394
Getting this error in 2.0.7 as well.

[2016-07-08 05:12] ashishnai commented on #3202
I thought cacheable="false" is a way for whole punching. But currently it skips entire page from FPC i.e if a block has property cacheable="false", FPC is disabled for that page.

Is this the expected behavior??

If so, how whole punching can be done in FPC?

[2016-07-08 05:37] YevSent commented on #4755
@rplant09485, the partner field (PayPal value), should be not encrypted because it's not sensitive data.

[2016-07-08 06:28] djahnsag opened #5531 "Store View reverts to default after any action."
## Steps to reproduce
1. Install Magento 2 (we have version 2.0.7, because 2.1.0 doesn't work due to an exception when running the static-content deploy command!!)
2. Create two Store Views (we have one in English and one in German [default])
3. Go to the shop front and switch the store view => the store view changes (in our case, the store appears in English)
4. Navigate to any other page => the

[2016-07-08 07:18] kelsonzhao commented on #4795
Same issue.

[2016-07-08 07:27] mcjwsk opened #5532 "Untranslatable strings in Admin -> Products -> Inventory -> Catalog"
I translate **Magento 2.1.0 (stable)** using the Crowdin service and I noticed there are some untranslatable strings (or the strings are not available to translate at Crowdin).
Please see the following screenshots to get more details.

![2016-07-08_0915](https://cloud.githubusercontent.com/assets/284649/16680262/aaaf5d60-44ed-11e6-8f07-af85f06a1456.png)
![2016-07-08_0916](https://cloud.githubuserc

[2016-07-08 07:37] commcad commented on #4785
@s00071609 I see your point now. Feature or bug I can't answer unfortunately, Had a quick look for you but can't seem to find the answer: http://docs.magento.com/m2/ce/user_guide/sales/point-of-purchase.html

Alternative; have a go at the forum in case someone more exp than us knows already.
https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2

[2016-07-08 07:57] aunts opened #5533 "Create New Order fails with Interface Locale German/Germany"
## Steps to reproduce
1. Magento ver. 2.0.7
2. Create new User with Interface Locale = German/Germany
3. Login in with new User
4. Umsatz -> Bestellungen -> Neue Bestellung erstellen
5. Click on "Neuen Kunden hinzufügen" or on existing customer directly
6. Nothing is happening

Expected result
Step 6, new page to create new order is opened

Actual result
Nothing is happening

I can reproduce the p

[2016-07-08 07:59] oserediuk commented on #5168
Hi @Talisa85 ! The special button like 'Insert Widget' is absent in WYSIWYG Editor on product detail page in native magento functionality. You can create widget, add CMS block to it and assign widget to products.

[2016-07-08 08:00] Styopchik commented on #2456
I'm on Windows 10 x64 with OpenServer. Permissions are set to 777 to entire magento folder. (it's development mashine). Still no /pub/media/styles.css :(

[2016-07-08 08:04] oserediuk commented on #5301
@bondimedical3 I don't see any product on your home page)

[2016-07-08 08:05] maderlock commented on #4785
@s00071609 Please could you raise this as a separate ticket? This ticket should remain just for the missing invoice bug.

[2016-07-08 08:07] oserediuk commented on #5208
Hi, @arvind07! Did you resolve your issue?

[2016-07-08 08:08] antboiko commented on #5525
Hello @blizam , you can easily remove this template by navigating Stores > Configuration > Catalog > Product Fields Auto-Generation section. http://docs.magento.com/m2/ce/user_guide/catalog/product-fields-autogenerated.html

I'm closing this one as it's not a technical issue. Please feel free to reopen if you have any additional questions.

Thanks,
Anton.

[2016-07-08 08:08] #5525 closed, assigned to nobody

[2016-07-08 08:08] webspeaks commented on #5208
@oserediuk Yes. Upgrade works through command line but not through web wizard.

[2016-07-08 08:16] oserediuk commented on #5208
Could you provide your some error logs, your timeout and memory limits? Seems that this configuration issue

[2016-07-08 08:18] webspeaks commented on #5208
I changed my memory limit to -1.
Then I used following commands:

[code]

[2016-07-08 08:19] antboiko commented on #5527
Hello @blizam . Could you please provide detailed steps to reproduce the issue? As for now, I cannot reproduce it using your description.
Scope selector is not present during product creation and it's a correct behavior. Regarding "Product in Website" section, I could easily select another website by ticking an appropriate checkbox near its label.

Thanks,
Anton.

[2016-07-08 08:23] bartoszkubicki commented on #3209
Same here, attribute shows when attribute is set `Filterable (no results)` but not when `with results`.
The problem apperas both in non-root categories and their subcategories.

[2016-07-08 08:29] Vinai commented on #3202
It is the intended behavior. A block with `cachable="false"` will make the whole page uncached.
There are two options for adding dynamic "holepunched" blocks to a page:
- You can use the `ttl="300"` attribute, but that only works with the varnish cache backend (not the builtin PHP version) as it uses ESI
- You can set the `isPrivateScope` property of a block to true (can't be done using layout XML

[2016-07-08 08:30] Vinai commented on #3202
Since this isn't a bug, I'll be closing the issue. If you don't consider it properly handled please feel free to reopen.

[2016-07-08 08:30] #3202 closed, assigned to kandy

[2016-07-08 08:34] kelsonzhao commented on #4795
hostep's fix solution works

[2016-07-08 08:34] kelsonzhao commented on #4795
Thank you

[2016-07-08 08:42] acharrex opened #5534 "[2.1] Invalid block type "Magento\Braintree\Block\Paypal\Button""
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add a product to the cart
3. Go to the shopping cart
## Expected result
1. Shopping cart page shown without any error
## Actual result
1. Error message appears: "Invalid block type: Magento\Braintree\Block\Paypal\Button"

[2016-07-08 08:42] acharrex commented on #5534
Fix:
Rename the folder "vendor/magento/module-braintree/Block/**PayPal**" by "vendor/magento/module-braintree/Block/**Paypal**".

[2016-07-08 08:48] acharrex opened #5535 "[2.1] Invalid block type "Magento\Braintree\Block\Adminhtml\Form\Field\CountryCreditCard""
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to the Magento admin panel
3. Go to the menu "Stores > Configuration > Sales > Payment Methods"
## Expected result
1. Page shown without any error
## Actual result
1. Error message appears: "Invalid block type "Magento\Braintree\Block\Adminhtml\Form\Field\CountryCreditCard"

[2016-07-08 08:50] acharrex commented on #5535
Fix:

Rename "vendor/magento/module-braintree/Block/Adminhtml/Form/Field/**Countrycreditcard.php**" by "vendor/magento/module-braintree/Block/Adminhtml/Form/Field/**CountryCreditCard.php**"

The same for "vendor/magento/module-braintree/Block/Adminhtml/Form/Field/**Cctypes.php**" to rename by "vendor/magento/module-braintree/Block/Adminhtml/Form/Field/**CcTypes.php**"

[2016-07-08 09:01] adragus-inviqa commented on #3202
And there's another options: ajaxifying the block entirely.

Btw, if you're using `isPrivateScope = true`, the block's content will be cached in the browser, so the next fetch is instant. Not _that_ bad of a UX.

[2016-07-08 09:10] yuklia commented on #5345
`priceFormat()` method set currency  either from `base_currency_code` column or from base currency in system (`core_config_data` table) in case of @webartistse is USD.
Since grid gets results from `sales_creditmemo_grid` table there are no such column.

[2016-07-08 09:18] LittleCamel opened #5536 "Catalog Category Link Widget issue"
When adding "Catalog Category Link" widget if you leave empty "Anchor Custom Text" it should use category name but it don't. It just display empty span inside anchor on fronted ( link to category is there but category name is not).

[2016-07-08 09:41] jamescowie commented on #3148
Morning @palamar Initially this was a problem on `Beta8` But we are not on Magento `2.0.7` and experiencing the same issue. Looking at the file @chicgeek posted as containing the issue https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/view/frontend/web/js/model/shipping-rates-validator.js#L37 the bug is still present in newer versions.

Do you know if there is an internal

[2016-07-08 09:58] tkacheva commented on #4170
@liquidia has you already updated with the fix?

[2016-07-08 10:06] katmoon commented on #5213
Does anybody know how to fix this issue? I also experience it.

[2016-07-08 10:08] tkacheva commented on #5364
@stevekem thanks, we are working on this issue already.

[2016-07-08 10:21] stamster commented on #5507
@lgarridoj try to `var_dump` contents of that check, it will return false perhaps?

[2016-07-08 10:22] hostep commented on #5507
@lgarridoj: my guess is that your php-cli version is 7.0.8, but the version which your webserver uses is probably still 5.5.9. Maybe it's best to contact your hosting company about this. This doesn't seem to be a bug in Magento itself.

[2016-07-08 10:23] SerhiyShkolyarenko commented on #4170
@Ctucker9233 that PR is already merged.

[2016-07-08 10:25] philipburrell opened #5538 "Backorders Magento 2.1"
With inventory qty =0
and Backorders = Allow qty Below 0 and Notify customer

If stock status - Out of stock - Then the product does not appear on the front end.
If stock status - In stock - The product is available to buy but the customer is not notified/warned.

[2016-07-08 10:29] tkacheva commented on #5423
Issue MAGETWO-55189.

[2016-07-08 10:38] ClaudiuCreanga commented on #5529
Works fine for me on all browsers with default theme. It is either some custom code your side or you just need to regenerate your files.

[2016-07-08 10:54] tkacheva commented on #5151
@LiamFielding Please report the issue with all the details about magento version and your environment.
I didn't manage to reproduce it on 2.1
![swatch_catalog](https://cloud.githubusercontent.com/assets/5603216/16685377/71e2a976-4513-11e6-95a8-6bbb2de3f88b.png)

[2016-07-08 10:58] kubjnit opened #5539 "Layout catalog_category_view can't call children block or container in template"
<referenceBlock name="category.products.list">
            <container name="test">
            <block class="Magento\Catalog\Block\Product\ListProduct\Test" name="product.info.test" as="product.info.test" template="Module_Test::product/view/test.phtml"/>
            </container>
        </referenceBlock>

[2016-07-08 11:01] tkacheva commented on #1931
@philippsander issue is waiting to be merged

[2016-07-08 11:09] tkacheva commented on #5536
@LittleCamel Please add more details about magento version and environment you are using. Works correct on 2.1

![cat_link2](https://cloud.githubusercontent.com/assets/5603216/16685712/933e7968-4515-11e6-83e2-a6c7dd434d98.png)
![cat_link1](https://cloud.githubusercontent.com/assets/5603216/16685713/933e6b94-4515-11e6-985c-0e7fe45cb44e.png)

[2016-07-08 11:13] tkacheva commented on #5168
@Talisa85 MAgento doesn't support widgets on Product page yet.

[2016-07-08 11:13] #5168 closed, assigned to nobody

[2016-07-08 11:24] eug123 commented on #5315
@grasdaggel, please check [client-side less compilation](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css-preprocess.html#less_modes), or more advanced workflow - compiling your less files [with nodejs](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html#css_debug_server).

[2016-07-08 11:26] enriquetarazona opened #5540 "I can´t import product in magento 2.1. Always says "General system exception happened""
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a csv file with the template columns.
3. Get a "General system exception happened"
4. Export sample template and import it.
5. Get a "General system exception happened"
## Expected result
1. Import Succesfully
## Actual result
1. Error message appears: General system exception happened".

[2016-07-08 11:29] basselalaraaj opened #5541 "invoice/order/creditmemo adjusting increment id length issue"
When creating a order/invoice/creditmemo, the increment id length is always: prefix + 9 numbers.

The default pattern is now always used, when creating a order/invoice/creditmemo in
vendor/magento/module-sales-sequence/Model/Sequence.php::19
`const DEFAULT_PATTERN  = "%s%'.09d%s";`

When adjusting the 'increment_pad_length' column value in the table 'eav_entity_type' to 6, i expected the increment

[2016-07-08 11:41] stamster commented on #5531
We have exact same setup, and switch does work, i.e. language choice is respected until user switches again.
Do you use Varnish and Apache? We only use nginx.

[2016-07-08 11:44] djahnsag commented on #5531
It's a WAMP setup on my local dev machine and LAMP on our QA server. Both have the same problem.

[2016-07-08 12:09] vipin-eglobeits opened #5542 ""Request does not match any route error" at Shipping method selection"
##  **Steps to reproduce:**

Please note: This issue is not there always, it happens frequently but in most of the cases I wasn't able to recreate that twice in a row.
1. Install Magento 2.1.
2. Enable Shipping methods UPS, USPS and Fedex with live mode.
3. Go to shipping method selection area in checkout page.
4. Add address information
5. Choose any shipping method
6. Press "Next"
7. If you don'

[2016-07-08 12:22] katmoon commented on #5213
`$ mysql -u root -e "SET GLOBAL FOREIGN_KEY_CHECKS=0;` fixes it

[2016-07-08 12:29] LittleCamel commented on #5536
Hi @tkacheva ,

I am actually having this problem with widget added through wysiswyg.

![magento-admin](https://cloud.githubusercontent.com/assets/10742480/16687260/c38b6c14-4517-11e6-9a27-d80a1b898880.png)

Sorry for confusion.

[2016-07-08 12:39] antboiko commented on #5538
Hi @philipburrell , I cannot reproduce the issue. When I click "View and Edit Cart" I see the message saying "We don't have as many "Test Product" as you requested, but we'll back order the remaining 1."
Please Flush the Cache and let me know if you still have this issue appearing.

Thanks,
Anton.

[2016-07-08 12:41] bartoszkubicki opened #5543 "Layered Navigation - setting `filterable (no results)` programatically doesn't work"
This case is connected with that one:
https://github.com/magento/magento2/issues/3209

1) I am working on Magento 2.1
2) I add attribute and its options - it's multiselect.
If I set `filterable => 2` it value doesn't change - it is ok because I add some options later.
3) After adding options I want to update attribute programatically and set it `filterable (no results)`, so I next version of modul

[2016-07-08 12:41] cscd98 commented on #5309
Same issue here. Clean install of 2.1.0. Use data migration tool 2.1.0.

Setting 86400 above worked for me

[2016-07-08 12:44] philipburrell commented on #5538
The problem is if you add the item to the cart and go straight to checkout, you do not see this.
You will only see this if you go to view edit cart first.

[2016-07-08 13:26] antboiko commented on #5487
@grasdaggel , I cannot reproduce this issue.

You could disable all third party extensions, update your version of Magento (2.0.7 ). Do composer install/update. Clear Magento cache.
If scenario will be reproducing again please let me know.

Thanks,
Anton.

[2016-07-08 13:27] enochrod commented on #3451
I have 2.0.7 and I am experiencing the same problem that flnative has reported.  I see the same error in Chrome Developer tools.  The backup button does nothing and the backups page does not show a list of backups that are in the var/backups folder.

[2016-07-08 13:34] YevSent commented on #5535
Hi @acharrex, looks like a problem in your vendor directory because Magento repo contains correct files: https://github.com/magento/magento2/tree/develop/app/code/Magento/Braintree/Block/Adminhtml/Form/Field also for 2.1 composer package, that files are also have correct names.

[2016-07-08 13:34] #5535 closed, assigned to nobody

[2016-07-08 13:35] Asitis commented on #5373
Well this is getting very weird then. The server in question is shop.webber.nl - it's a new VPS set up by our hosting party and never hold any configuration before..

[2016-07-08 13:39] YevSent commented on #5534
The same problem as in #5535.
The Magento repo contains the correct folder name https://github.com/magento/magento2/tree/develop/app/code/Magento/Braintree/Block. Try to clear your vendor directory and composer cache, and run compose update again.

[2016-07-08 13:39] #5534 closed, assigned to nobody

[2016-07-08 13:47] kfaer commented on #5529
what type of hosting do you use? i'm using plesk 12.5 is it the issue?

[2016-07-08 13:49] 5zymon opened #5544 "M2.1 API salesOrderRepositoryV1 can't create shpping address"
Hello, I am not sure if this is Magento issue or lack of documentation, but I just stuck for a longer while and I just can't find anything wrong on my end.

I am importing orders using  salesOrderRepositoryV1 and REST API. I am providing shipping details in extension attributes

public 'extension_attributes' =>
    object(stdClass)[590]
      public 'shipping_assignments' =>
        array (size=1)

[2016-07-08 14:26] ghost opened #5545 "memory_get_peak_usage() with Magento 2"
How to use memory_get_peak_usage() with Magento 2 queries or is there other ways for debugging?

**For example:**
            $attributeSet = $this->scopeConfig->getValue('..');
            $attributes = $this->_objectManager->create('Magento\Eav\Api\AttributeManagementInterface')->getAttributes($attributeSet);

Issue in stackexchange.com: http://magento.stackexchange.com/questions/124781/magento-

[2016-07-08 14:34] mbrinton01 commented on #3727
I have created internal issue MAGETWO-55211 to research this.  I can confirm that the call works with JSON, are you able to format the body as JSON?

[2016-07-08 14:54] tkn98 commented on #5488
And just a short note: `setup:di:compile` performs checks on your di configuration. I guess this is useful in development mode, too from time to time.

[2016-07-08 14:55] davidalger commented on #5545
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-07-08 14:55] #5545 closed, assigned to nobody

[2016-07-08 15:09] geeta-randev commented on #5491
Hi there - just wondered if there was any update to this bug? Are you able to replicate it?

Many thanks,
Geet

[2016-07-08 15:45] amanuni commented on #5421
Guys still having this this issue and grids are not working can someone tell me the proper fix i have tried in each browser also in icognitio mode also but still getting same error.

`knockout.js:2908 Uncaught Error: You cannot apply bindings multiple times to the same element.`

[2016-07-08 15:55] tkacheva commented on #5530
@taylordipentino I can't reproduce on 2.1. Message disappears upon page reload

[2016-07-08 15:58] hostep commented on #5316
Any updates on this?

@guz-anton, @okorshenko, @piotrekkaminski: since you guys were involved in another html minification issue, I'm including you in this conversation.

[2016-07-08 16:00] taylordipentino commented on #5530
Hmm. Strangely I cannot seem to reproduce it on 2.0.7 now either, which is where I originally discovered the issue. I guess it's not a real issue, then.

[2016-07-08 16:04] blizam commented on #3209
seems better/fixed in 2.1.0 -- I haven't tested thoroughly but Layered Navigation seems much better in 2.1.0

[2016-07-08 16:05] mcspronko commented on #2917
Any progress on this issue? At least internal ticket number :).
Thanks

[2016-07-08 16:06] Jacob-Affinity opened #5546 "Cannot create invoices after upgrading"
## Steps to reproduce
1. Install Magento 2.0.0.
2. Upgrade to Magento 2.1.0
3. Try to create a new invoice in admin via sales > Orders > [order] > Invoice > Submit Invoice
## Expected result
1. A new invoice to be created
## Actual result
1. Error saying "We can't save the invoice right now."
   ![magento2_missing_columns_pretty](https://cloud.githubusercontent.com/assets/17255597/16693250/3d8cc81

[2016-07-08 16:07] tkacheva commented on #5536
@LittleCamel Still works for me:
![cat_link3](https://cloud.githubusercontent.com/assets/5603216/16693718/30ec28bc-453f-11e6-9643-9e80241c1d53.png)
![cat_link4](https://cloud.githubusercontent.com/assets/5603216/16693720/30ed0b92-453f-11e6-9d89-8cdcface5ef6.png)

[2016-07-08 16:22] hostep commented on #5546
This has been reported at least 3 times before, please first try searching for an issue before creating a new one :)

Duplicate: https://github.com/magento/magento2/issues/4785

[2016-07-08 16:27] shazul opened #5547 "Magento 2.1: Configurable product wrongly imported if sku is an integer"
## Steps to reproduce
1. Magento 2.1: Import via csv a configurable product with its children. The parent SKU contains only digits, the children digits and letters.

Children products' SKUs:
310001BKL
310001BKM

Configurable product SKU:
310001

(It used to work in Magento 2.0.7)
## Expected result

Configurable product and its children displayed correctly.
![magento2-bug-expected-result](https://

[2016-07-08 18:30] Windmagez commented on #3123
Indeed M2 is very slow on localhost, I have manage to lessen the sluggishness by increasing php memory limit, for test site it's recommended to set it into 2G from .htaccess file

[2016-07-08 18:32] mauromm commented on #5546
Hi @Jacob-Affinity, I solved it here: https://github.com/magento/magento2/issues/5324

[2016-07-08 18:43] blizam commented on #5527
I'm unable to reproduce this currently... it was happening consistently yesterday when I was trying to create a bunch of products... but I can't get it to do it today

[2016-07-08 18:46] blizam commented on #5527
never mind, I got it... it's because I wasn't setting any categories

[2016-07-08 18:49] blizam commented on #5527
Add Product

Fill out: Name, SKU, Price, Quantity

Set Parent > Sub categories from Second Website

Enter description

Add image

Products in Websites > untick default Website, tick my 2nd Website

Save

Error: URL key for specified store already exists.

[2016-07-08 19:00] didineedthis commented on #5454
yes issue is now resolved thanks to wert2all . I did install and upgraded in a subfolder and once everything was ok i then moved to a live store,  and crons are running 100%
Thanks again for taking the time to help me resolve my issue.
Regards

[2016-07-08 19:00] #5454 closed, assigned to nobody

[2016-07-08 19:45] mbrinton01 commented on #5330
Many of the services have been protected for security reasons.  Please review the updated documentation here: http://devdocs.magento.com/guides/v2.1/get-started/soap/soap-web-api-calls.html

_See the Authentication section_

[2016-07-08 20:17] Sanfam opened #5549 "Swatch names and values can disappear with an uncorrectable error after "Saving" from another config tab"
When an admin attempts to create a new visual swatch, they need to ensure that the "Admin" column has all of the necessary values entered.  If the necessary data is absent, the user will be prompted to correct this discrepancy.  If, however, they leave one or more admin fields absent while clicking "Save Attribute" from within another tab (for example, the "Storefront Properties" option set), they

[2016-07-08 20:27] Sanfam opened #5550 "Incorrect language on swatch error"
While attempting to add a new swatch, I received the following error:

This is a bit odd and should instead read

[2016-07-08 20:41] springimport commented on #5198
@mbrinton01 The same for different options.

[2016-07-08 20:45] developer-lindner commented on #5236
@Protazy21 I've got the same issue and tried to find this attribute_id as you mentioned above
but couldn't find any entry?!

Any idea how to fix it?
The exception looks like that:
Notice: Undefined offset: 63 in /vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php on line 166

Btw how comes that it worked in 2.0.7 and now it's not?

[2016-07-08 20:48] kfaer commented on #4449
same issue also in chrome and i've noticed that the welcome msg is not showing also minicart is always empty. v2.1.0

[2016-07-08 21:19] developer-lindner commented on #5414
Now after i've fixed the visibility of products in frontend (catalog search index didn't pass probably, changed mysql settings) the "CouldNotSave" exception from above is gone.

Instead i get this now:

[code]

Which means the code above creates a huge data set which is not chunked and therefore way too large for mysql to handle it, right?

Any ideas how to get around?

[2016-07-08 21:21] ideirj commented on #5532
put this lines in your translate file:
"Simple Product","Simple Product",module,Magento_Catalog
"Configurable Product","Configurable Product",module,Magento_Catalog
"Grouped Product","Grouped Product",module,Magento_Catalog
"Virtual Product","Virtual Product",module,Magento_Catalog
"Bundle Product","Bundle Product",module,Magento_Catalog
"Downloadable Product","Downloadable Product",module,Magento

[2016-07-08 21:25] jorbope opened #5552 "How can I set the telephone attribute as not required in the customer form (Backend)?"
I want to set the telephone attribute as not required...

[2016-07-08 21:28] nickmarx12345678 opened #5553 "REST routing precedence"
Would like some clarification with regards to how URL matching on the rest API occurs on URL's that developers create in their routes.xml

For example if:
route1 = `GET /V1/myResource/:customerId`
route2 = `GET /V1/myResource/:customerId/subResource`

It's not clear if requesting the url `/V1/myResource/12345/subResource` will map to route1 with a customerId parameter of `12345/subResource` or if

[2016-07-08 21:31] mbrinton01 commented on #5198
Thank you @springimport. I cannot replicate this bug but have created MAGETWO-55228 for our teams to look at the issue.

[2016-07-08 21:35] nickmarx12345678 commented on #5553
Alternatively, it would be very helpful to add some sort of debug logging indicating what method is being routed to for a given rest request url

[2016-07-08 21:44] kfaer opened #5554 "Minicart is always empty with luma theme"
bought items added to cart but it is not showing in the minicart, how i can trust M2 to sell my products to my customers with such issue.
@antboiko
![m2-minicart](https://cloud.githubusercontent.com/assets/8407530/16702186/779d494a-4575-11e6-91cb-6c94327ce664.PNG)

[2016-07-08 22:34] dthampy commented on #5550
MAGETWO-55230 has been created

[2016-07-08 22:49] dthampy commented on #5549
Thank you for your detailed bug report and screenshots. An Internal jira ticket(MAGETWO-55231) has been created for this issue.

[2016-07-08 23:05] Modoperator opened #5555 "After upgrade to 2.1, unable to save edited configurable products"
## Steps to reproduce
1. Upgrade from 2.07 to 2.10 using composer (edit - this happens with fresh install as well, see update below)
2. Create or view a configurable product
3. Edit the product.
## Expected result
1. Product would update as expected
## Actual result
1. Error in browser console appears - URL posted to via AJAX (ex.  `/admin/catalog/product/validate/id/269/type/configurable/store/0/

[2016-07-09 00:27] ghost opened #5556 "Magento 2 Attribute set return empty array"
In [magento.stackexchange.com/ ](http://magento.stackexchange.com/questions/124781/magento-2-attribute-set-return-empty-array)is an a issue where DB query of attribute set attributes gets back only attribute_id and empty array what might be causing it in Magento 2.0.7 and 2.1.0?

[2016-07-09 01:51] s00071609 commented on #4785
@maderlock  @alena-marchenko I havent reported anything regarding missing invoice bug but concern about paypal express checkout that provides no option for customers to create account.

Later if they do create an account, the order does not appear in account. Strange that orders are not associated by customer email. These are some of the basic must-have features in ecommerce.

Most surprising is t

[2016-07-09 04:54] maityutpal commented on #3727
yes it is working in JSON format but XML is not working.

[2016-07-09 05:40] commcad commented on #4785
@s00071609 hmmm I think what @maderlock meant is your issue is irrelevant to this schema bug and may confuse developers & merchants shall you persist posting here. Your issue has nothing to do with MAGETWO-54787, bud.

I've kindy posted a few links a few posts above to help you better follow-up on your issue. If you are convinced that it is a bug, and not a feature, the general advice is to create

[2016-07-09 05:41] epadmin opened #5557 "Admin Timeout"
## Steps to reproduce

While working on adding categories in the admin panel, Magento times out without notification or giving ability to extend.  When saving new categories after adding all the information, the login page comes up and none of the information is saved.
## Expected result

Expect a notification prior to timing out while updating/adding information.  If you are logged in and try to

[2016-07-09 06:09] commcad commented on #5554
Are you 'freely' complaining mate!? M2 is new and still in dev - if you can't fix it or make it better/faster than Magento Inc then by all means buy yourself a mature ecommerce platform. Lucky you; those retail more or less $100k~$500k.

Note that I've had that same issue on M2.1.0 RC3 to find out that my permissions weren't set properly on my /root when I've initially installed it.

[2016-07-09 06:20] kfaer commented on #5554
OK.. so do you think it is still too early to use M2.1 in production?

[2016-07-09 06:31] commcad commented on #5554
Happily in prod with M2.1.0GA here bud. Just make sure you install it correctly with properly set and maintained permissions. The only true "operational" issue I came across was the dB schema (https://github.com/magento/magento2/issues/4785) and (less operational related) some email templates that weren't loading correctly (https://github.com/magento/magento2/issues/5101).

Both offering quick fix

[2016-07-09 06:38] kfaer commented on #5554
ok.. can you test my site from your side and check if you can add a product/s to cart? herara.com

[2016-07-09 06:44] commcad commented on #5554
Run below first and I'll give it a try:

(replace: _m2user_ as in your login account and _www-data_ as your nginx/apache group)

cd /your m2 root/

sudo usermod -g www-data _m2user_
sudo chown -R _m2user_:www-data .
find var vendor pub/static pub/media app/etc -type f -exec chmod g+w {} \;
find var vendor pub/static pub/media app/etc -type d -exec chmod g+ws {} \;
chown -R :www-data .
chmod u+x bi

[2016-07-09 06:49] kfaer commented on #5554
I'm using centos 7 with plesk

[2016-07-09 06:51] commcad commented on #5554
Just adjust so centos doesn't complain. Should be the same or similar.

Tried your site and you are correct, minicart does not increment :/

[2016-07-09 06:54] kfaer commented on #5554
it will increment if you visit the checkout/cart page then wait for the summary to load (i do not know why it takes time to load) only at that time the minicart works....!

[2016-07-09 07:29] PierAlex opened #5558 "Magento 2.1 Swatches on catalog and product page do not disable when out of stock and more..."
Fresh 2.1 installation
More than one issue:

Steps to reproduce
Configure a product with swatch attributs e.g size and color
Set some quantity to 0, or leave it empty, for child products. (Is it correct that they are automatically saved as virtual product instead simple ones?)
![image](https://cloud.githubusercontent.com/assets/17165819/16706602/05716ba6-45b3-11e6-9e6c-0ccde832f08c.png)

**First I

[2016-07-09 09:00] webspeaks commented on #3102
Any solution for this?
I am facing same issue in 2.0.7.

[2016-07-09 10:02] refaelgold commented on #4921
any alternative way to fix it? i cant finish developing my gateway because of this

[2016-07-09 10:14] ln8711 commented on #5462
@Nerogee Paypal works for me, no issue with it.
@joni-jones look like the issue from the server, I reinstalled the OS and it works now, sorry for this problem, I'm closing this issue. Thanks for you help

[2016-07-09 10:14] #5462 closed, assigned to alena-marchenko

[2016-07-09 11:21] hostep commented on #5552
Duplicate - https://github.com/magento/magento2/issues/1691

Short answer: you can't currently, unfortunately.

[2016-07-09 14:06] Ctucker9233 commented on #5423
@acidreian666 I've never changed the magento mode as far as I know. I only use a straight forward static cache, nothing more. When I say that I've flushed the caches, I've manually deleted the folders within pub/static/frontend, var/cache and var/page_cache. Siteground also has it's own button to flush static cache files so I do that too just to make sure it's all clean.

@JDavidVR I'll be darned.

[2016-07-09 14:57] johanDev19 opened #5559 "can`t login into magento admin"
hi,

i cant login into magento admin after install magento 2.1... can someone help me?
not error show.. the login admin page just reload and ask me for username and password over and over again

[2016-07-09 15:11] commcad commented on #5559
Try: close your browser and restart it. The session should kill itself doing that.

I had the same problem a few days ago when I've set "Use Web Server Rewrites" to yes. Problem goes away once you've restarted the browser (in my case anyway). If not then have a look at your rewrite code. Wild guess mate, not Magento Inc affiliated here

e.g. Use Web Server Rewrites in: M2 Admin > Stores > Configur

[2016-07-09 15:42] klein0r commented on #5239
@RUjmiak I've tried to recompile php within MAMP 3 with updated OpenSSL (1.0.2h) but it is quite hard and not that easy (since you need to add the sources, ...). I think you should use a workaround like I've described, try MAMP beta (which expires after some time and is not that fun to use for daily development) or wait until MAMP 4 is released (like @realchriswells said).

[2016-07-09 15:45] andidhouse commented on #1691
@ilol the first is really important to have an option here in the backend to 1. show the telephone number yes/no and 2. to have it as a required field yes/no - so anyone can decide.

I think it is a must must have (look at hundreds of posts in forums regarding this on magento1 and 2 now. :-/. The hole checkout is in my view very very hard to customize and takes ages to load especially on mobile de

[2016-07-09 17:16] ghost opened #5560 "Disable minicart popup"
I didn't want to ask this hear as its technically not an issue that needs addressing, but after waiting for someone to chime in on stackexchange I figured there was nothing to lose.
~
Is there any documentation or known methods to disable the popup you recieve when clicking mini cart link? I just need a way that still allows the cart to be updated when adding a product via ajax, but on click sends

[2016-07-09 20:36] rossluk opened #5561 "Strange Page Cache logic"
Hi,
I've faced the problem with full cache clean when you save product or category and decided to investigate it more detail. In the process of the investigation I found a strange cache logic. I think all of us understand that most cpu resources is used for generate layout blocks. All magento blocks eventually inherited from "Magento\Framework\View\Element\AbstractBlock" which has method for save

[2016-07-09 21:09] ahofstetter commented on #5535
I have this exact same issue/error. Updated from 2.0.7 to 2.1.0 using composer. Guess I will  download the files from the repo and add them manually. Thanks

[2016-07-09 21:16] Ctucker9233 commented on #5539
@kubjnit I had a similar issue where the template couldn't call the catalog navigation. Given that you haven't describe the issue in detail, what magento version are you using? Did you upgrade from a previous version?

[2016-07-09 22:51] ovekeryk commented on #5535
I have the same issue too.

[2016-07-10 01:09] stevekem commented on #5554
https://github.com/magento/magento2/issues/5144#issuecomment-228456034

[2016-07-10 01:15] stevekem commented on #5554
Might be a different issue than what your having, but thought I would share.

[2016-07-10 02:16] grasdaggel commented on #5487
The problem was a fault in my CSS. :/

Sorry for wasting your time.

[2016-07-10 02:16] #5487 closed, assigned to nobody

[2016-07-10 02:39] grasdaggel opened #5562 "Tax Calculation seems buggy"
We are using Magento 2.0.6. We have all prices incl. tax, and so do we create them.

**Our settings in the backend.**
<img width="847" alt="bildschirmfoto 2016-07-10 um 04 15 38" src="https://cloud.githubusercontent.com/assets/13021579/16711324/9626ac0e-4655-11e6-8367-d385f69a1f99.png">

**This is a example product in the backend.**
<img width="768" alt="bildschirmfoto 2016-07-10 um 04 16 12" src=

[2016-07-10 02:42] grasdaggel commented on #5556
Maybe you link the thread here?

[2016-07-10 03:30] wallabit opened #5563 "Error to open design Theme: Content-->Design-->Configuration"
## Steps to reproduce
1. I have upgrade from version 2.1 rc3 to 2.1
2. Navidate to: Content-->Design-->Configuration
3. Click on Edit (screen 1)
4. Open an erron page (screen 2)
5. Log 1046770404185 attached

a:4:{i:0;s:107:"Can't create directory /var/www/html/magento/var/generation/Magento/Theme/Model/Design/Backend/Exceptions/.";i:1;s:11461:"#0 /var/www/html/magento/vendor/magento/framework/Cod

[2016-07-10 03:47] serge20 opened #5564 "Import product csv not adding quantity for product even though it's in the csv."
N/A

[2016-07-10 04:13] atIOCrON opened #5565 "Magento 2.1 Product Filter fails to load after product import"
## Steps to reproduce
1. Install Magento CE 2.1 with sample data.
2. System > Import - Import this CSV file http://www.sharecsv.com/s/03019e6bb511194c0f148764b81708db/m2_import_test_demo.csv
3. Products > Catalog - filter for sku "test-01"
## Expected result
1. Filter loads with filtered product test-01
## Actual result
1. Filter fails to load and shows message "Attention - Something went wrong."

[2016-07-10 04:33] ghost commented on #5560
Found the option to disable right in the configuration. Was over thinking this.

[2016-07-10 04:33] #5560 closed, assigned to nobody

[2016-07-10 04:44] atIOCrON opened #5566 "Magento 2 admin Sales sidebar breaks with 13 links in two sections"
## Steps to reproduce
1. Install Magento 2.1
2. Add 13 links to Sales menu under two sections (in my case they came from Amasty and Mirasvit extensions.
3. In admin click Sales to display meny
## Expected result
1. 12 links appear first column, 1 link appears in second column
## Actual result
1. First column is blank, 13 links appear in second column

![screen shot 2016-07-10 at 2 42 23 pm](https:

[2016-07-10 05:04] #5564 closed, assigned to nobody

[2016-07-10 05:07] atIOCrON commented on #1146
I too hoped this would be resolved in 2.1... we need a robots.txt file accessible on the frontend urgently and don't want to mess around with the hacks suggested above.

[2016-07-10 10:13] RG-1 opened #5567 "Slow backup restore [Magento 2.1.0]"
## Steps to reproduce
1. Magento 2.1.0
2. Make a backup of db: `bin/magento setup:backup --db`
3. Import a lot of data or generate it: `bin/magento setup:performance:generate-fixtures <your Magento install dir>/setup/performance-toolkit/profiles/ce/large.xml`
4. Restore the backup: `bin/magento setup:rollback --db-file <your backup name>_db.sql`
## Expected result
1. Backup restoring should be pre

[2016-07-10 11:46] cizgidekiadam commented on #5235
@andimov
I have no success to upgrade. So made a clean install.
But at new install, problem still exists. Can not access Web Setup Wizard in 2.1

[2016-07-10 11:49] cizgidekiadam commented on #5234
@oserediuk I did self-update at v 2.0.7 before trying upgrade. Problem may be current composer version (1.1.2) greater than 2.1 upgrade dependent composer version (1.0.0-beta1)

[2016-07-10 13:05] ghost commented on #5235
Is your docroot `pub`? If so, then this is expected behavior. `pub` and `setup` are on the same level so that no one can run the Web Setup Wizard in production. (We recommend you set your Magento docroot to `pub` in production.)

To work around it, set your docroot to the Magento install dir and the wizard should work.

[2016-07-10 13:14] cizgidekiadam commented on #5235
Docroot is not /pub.

Also if it is, in 2.1, "The Web Setup Wizard now works when Magento is installed in /pub. [GITHUB-4159](https://github.com/magento/magento2/issues/4159)"

[2016-07-10 13:38] hostep commented on #1146
@piotrekkaminski: maybe you should change the label from **improvement** to **bug**. I assume it will get picked up earlier if this is tagged as a bug, which it clearly is :)
Also I don't see a MAGETWO- reference number, so this isn't tracked in your internal Jira issues?
I do see a `MAGETWO-47607` in https://github.com/magento/magento2/issues/2802 which is related to this issue.

[2016-07-10 16:54] YevSent commented on #5535
Try to remove this package from vendor directory, clear composer cache and update.

[2016-07-10 17:50] abdulsofts opened #5568 "Backup fails with no error while upgrading from Magento CE 2.0.7 to Magento CE 2.1"
## Steps to reproduce
1. Install magento CE version 2.0.7
2. Go to System-->System Upgrade
3. Select Magento 2.1 (Latest) version
4. Go through readiness check as it is the second step in the upgrade process
5. After readiness check is successful, go to the next step to Create Backup
6. Click on 'Create Backup'
7. All the checks are passed except the 'Backup'
## Expected result
1. 'Backup' process

[2016-07-10 20:29] kfaer commented on #5554
@stevekem  thank you, I think that solve the issue, testing , @commcad could you please test it, thank you

[2016-07-10 20:37] Tellfjord commented on #5508
Managed to get the latest orders to show up under Sales - Orders by changing the Asynchronous indexing from Enable to Disable under Stores - Advanced - Developer. Now I can see the orders in the list (finaly). But the problem with Order Mail Not sent is still there. Anyone else with this problem?

[2016-07-10 20:51] kfaer opened #5569 "M2.1 "This is a required field" wrong position"
the position of "This is a required field." message in configurable product is in wrong place
![this-is-required](https://cloud.githubusercontent.com/assets/8407530/16716021/8eb068b4-4701-11e6-846e-83f183e4d13a.PNG)

[2016-07-10 20:52] dthampy commented on #5547
Internal jira ticket MAGETWO-55237 has been created.

[2016-07-10 20:57] kfaer commented on #5144
It is bug sirs, there is an Ajax issue in M2.1, when adding an item to the cart "Adding.." sign is not showing in the box of add to cart

[2016-07-10 22:24] ghost commented on #5235
Sorry, I didn't know that. What web server are you using?
Is the `setup` directory readable by the web server user?

[2016-07-10 23:44] commcad commented on #5554
No, not working. If not perms related then it looks as if you have 'session' issues. Does not checkin nor increment your minicart and the green banner trails for a few pages.

I see that you have tried to reinstall everything. How are you managing your sessions? use M2's cache, Opcache, memcache, others? redis?

[2016-07-10 23:50] JDavidVR commented on #5569
having same problem, weird in early version it was working well

[2016-07-11 01:00] markalston opened #5570 "Products with Qty Uses Decimal and Min Quantity < 1 broken."
Trying to add products to cart which have "Qty Uses Decimals" = Yes and  "Minimum Qty Allowed in Shopping Cart" < 1  with quantity less than one from the products page fails.  They can however be added with quantity one and then edited down to the desired quantity on the /checkout/cart page.

The issue seems to be due to the data-validate settings in the input field.

On the product page and the m

[2016-07-11 03:22] taylordipentino commented on #5530
Just figured out what was causing the issue. Having Admin->Stores->Configuration->General->Web->Default Cookie Settings->Cookie Restriction Mode set to "No" seemed to be why it was occurring. I noticed that when the issue would occur, the only way I could make the notice go away was by deleting my browser's cookies. Changing this setting to "Yes" seemed to have made it stop happening. This is on M

[2016-07-11 05:00] pboisvert commented on #5569
closing as this is a duplicate of #5428

[2016-07-11 05:00] #5569 closed, assigned to nobody

[2016-07-11 05:58] klarlichter opened #5571 "map folder composer issue with non app folder"
<P>Hello,</P><P>i had a question for using composer.json.</P><P>&nbsp;</P><P>Example:</P><P>&nbsp;</P><P>&nbsp;</P><PRE>{
  "name": "testauthor/testextension",
  "description": "Test for Magento 2",
  "type": "magento2-module",
  "version": "1.0.0.4-stable",
  "license": [
        "proprietary"
    ],
  "require": {
    "php": "~5.5.0|~5.6.0|~7.0.0",
    "magento/magento-composer-installer": "*"

[2016-07-11 06:29] kfaer commented on #5428
that is good, but when will get it resolved? so I need to stop using M2.1 in production because of this issue.

[2016-07-11 06:45] sonnguyen089 opened #5572 "How can i select theme?"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-07-11 06:47] sonnguyen089 commented on #5572
I just install 2.2-dev version. There is Search Engine Robots in Design tab only.

[2016-07-11 06:56] bijalbhavsar commented on #4934
I also having same issue, we have verified this feature in Magento CE 2.0.7 but it is specified in Magento user guide for Magento Community Edition, 2.1 - http://docs.magento.com/m2/ce/user_guide/catalog/settings-advanced-advanced-pricing.html.

It is not showing in Magento CE 2.1 version also.

[2016-07-11 07:04] grasdaggel commented on #5572
Shop -> Config -> Web -> Theme

Sorry, was wrong. Its Shop -> Config -> Design -> Theme

[2016-07-11 07:13] sonnguyen089 commented on #5572
There is not theme tab in magento 2.2.

[2016-07-11 07:15] sonnguyen089 commented on #5572
I go to Stores->Configuration->General->Design
![2016-07-11_141512](https://cloud.githubusercontent.com/assets/20393194/16722610/f8ed4056-4771-11e6-9718-c1d5c25f571f.jpg)

[2016-07-11 07:17] bartoszkubicki commented on #3209
No it is not - as I pointed out higher. Attribute assigned `Filterable (with results)` shows randomly or don't appear at all. It doesn't happen when `Filterable (no results)` is set, but it doesn't work when I set it programatically, only works set from adminhtml.

[2016-07-11 07:21] grasdaggel commented on #5572
Your Screenshot is showing:
Shop -> Config -> Design

Please go to:
Shop -> Config -> Web -> Theme

[2016-07-11 07:28] sonnguyen089 commented on #5572
Pls check. i am using magento 2.07, the theme tab bellow config->design
![web](https://cloud.githubusercontent.com/assets/20393194/16722846/99530d2c-4773-11e6-8998-9e1fdc650352.jpg)

[2016-07-11 07:31] NadiyaS commented on #4785
Hi,
Bug with base_grand_total was fixed and delivered to develop branch.
Issue is closed as resolved.

[2016-07-11 07:31] #4785 closed, assigned to alena-marchenko

[2016-07-11 07:42] kfaer commented on #5554
I'm using M2's cache but php opcashe is enabled

[2016-07-11 07:47] antboiko commented on #5487
Hi @grasdaggel , thanks for the update, I'm glad the issue is solved.

Best,
Anton.

[2016-07-11 07:48] Nerogee opened #5573 "Fail to import custom options"
## Steps to reproduce
1. Install magento2.1 from composer
2. Add configured product A
3. Add custom options C1 and C2 for A
4. Add configured product B
5. Import custom option from A to B
## Expected result
1. Product B has custom option C1 and C2
## Actual result
1. Fail to load the custom option from product A after click import
   ![customoptions](https://cloud.githubusercontent.com/assets/1284

[2016-07-11 08:03] antboiko commented on #5570
Hi @markalston , thanks for reporting this issue. We've created internal ticket MAGETWO-55238.

Best,
Anton.

[2016-07-11 08:13] antboiko commented on #5572
Hi @sonnguyen089 , in 2.1 this was moved to Content > Design > Configuration.

Best,
Anton.

[2016-07-11 08:20] sonnguyen089 commented on #5572
I got it.
Thank you very much.
Is there any tutorial for magento 2.2?

[2016-07-11 08:25] ktruehl opened #5574 "quotes not escaped for translations of "Not you?" message in persistent header"
## Steps to reproduce
1. Install Magento 2.1.
2. Install the French translation package by Imaginaerum (https://github.com/Imaginaerum/magento2-language-fr-fr).
3. Set up to stores, the first with the default locale (`en_US`), the second with the locale `fr_FR`.
4. Do whatever you have to do (activate the persistent shopping cart in the settings, make sure the settings are correct, create a custom

[2016-07-11 08:39] LittleCamel commented on #5536
Hi @tkacheva ,

I have just downloaded new instance of magento2 to check this one more time.
Magento version is 2.1.0 and I download it via composer.

I still have this problem even on this clean instance.
My php version is PHP 5.6.11-1ubuntu3.4, maybe this will help.

Do you need some more info?

[2016-07-11 08:42] AlexShaban commented on #5502
Try "Advanced Breadcrumbs" for Magento 2! Just follow the link
https://www.magestyapps.com/magento-2-extensions/

[2016-07-11 08:49] ktruehl commented on #5502
@AlexShaban If I wanted an extended (or better) breadcrumb functionality, I would Google for it. Instead I want Magento to fix this, that's why I posted on Github. Please don't use Github for advertisements.

[2016-07-11 08:51] leechilli commented on #5181
Hi @veloraven
Can confirm this is an issue still present for ver 2.1.0.
Using only table rate shipping.

If required to help yourselves debug the issue, I'm happy to provide files being used for the magento 2 site

[2016-07-11 08:55] oserediuk commented on #5234
@rbostan , so can we close this issue?

[2016-07-11 08:59] yuklia opened #5575 "magento 2.0.7 don't change exchange rate after changing base currency"
## Steps to reproduce
1. Change base currency from admin panel. Stores > Configuration > General > Currency setup
2. indexer:reindex
## Expected result
1. All prices were converted due to new currency
## Actual result
1. Only currency sign was changed.
2. Price was calculated by old exchange rate

[2016-07-11 09:29] #5571 closed, assigned to nobody

[2016-07-11 09:51] liquidia commented on #4170
@tkacheva what fix?

[2016-07-11 10:04] Caprico85 commented on #5368
Data Migration Tool for 2.1 is available since a few days. Please try again.

[2016-07-11 10:09] antboiko commented on #5572
@sonnguyen089
Not yet, User Guide is going to be updated for 2.1.

Best,
Anton.

[2016-07-11 10:15] anton-huz commented on #2698
Dear @webkul, please fill free to comment if you still faced with issue. It would be handy if you point Magento version and a little bit more info about environment.

Currently issue not actual any more due to rework of Product edit page in Admin area. I close issue.

[2016-07-11 10:15] #2698 closed, assigned to vzabaznov

[2016-07-11 10:16] sonnguyen089 commented on #5572
Some extension work good with version 2.0, but it does not work with version 2.1 or 2.2
What is the diffirent?

[2016-07-11 10:24] qwerty7869 commented on #5404
@oserediuk Yes I confirm to report it as a future request.

[2016-07-11 10:27] qwerty7869 commented on #5404
@mbrinton01 Yes requesting that will it be possible from Cart Api call. If it is possible than please help me how to add that functionality in my project.

[2016-07-11 10:31] veloraven commented on #5573
@Nerogee , thank you for your report.

But could you please provide more detailed steps? Like custom options types, parameters of the product, exact steps during import, etc.
As I was not able to reproduce this issue. I successfully imported custom options from one configurable product to another.

[2016-07-11 10:34] slorenx opened #5576 "Cart checkout: Free shipping doesn't work anymore."
**Magento 1.9.xx  + Webkul multivendor extension + 2 plugins to manage shipping rates**
I have a problem to my multivendor marketplace. The support of plugins developper fixed an issue to their module and since that an other issue came and they are not able to fix it. ( i mean they can restore the old code, but doing that, new issue disappear and old one come back)
Problem is:
in a cart we can hav

[2016-07-11 10:41] antboiko commented on #5527
Hi @blizam , thanks for the steps. However, I still cannot reproduce the issue, all works well.

Check the name which you're filing there whether it already exists or not. By default, URL key is generated using a product name.

Please provide more preconditions to reproduce this step.

Thanks,
Anton.

[2016-07-11 11:09] Nerogee commented on #5573
Two options are dropDown type. The configured product has two custom attributes. one is **racket color** and another is **grip size** . These two custom attributes are **Text Swatch**. The steps are simple as already mentioned above.
1. Create configured A and **saved**.
2. Go to Product A admin page and created **Two** custom options (both are Drop Down type)
3. Save
4. Created configured B and s

[2016-07-11 11:13] Nerogee commented on #5573
I just checked and found there are JS error
1. too much recursion (registry.js (line 413, col 13))
2. TypeError: path.split is not a function (objects.js (line 115, col 27))

thank you.

[2016-07-11 12:15] qwerty7869 commented on #5513
@veloraven Thanks for the reply.
I tried with website id 1 and that problem is resolved but now not getting which value to feed in Template variable of api. Kindly help for this issue.

[2016-07-11 12:28] atIOCrON commented on #5565
@antboiko thanks for the tags. Any reason the bug tag wasn't added?

[2016-07-11 12:29] antboiko commented on #5572
@sonnguyen089 please create a separate ticket for another issue and provide detailed steps.

I'm closing this one. Please feel free to reopen if you have any additional questions about theme selection.

Thanks,
Anton.

[2016-07-11 12:29] #5572 closed, assigned to nobody

[2016-07-11 12:55] mwr commented on #4795
Ran into the same issue.
Adding the area code using di.xml solved the problem.

[2016-07-11 12:58] ClaudiuCreanga commented on #2797
Can someone update the documentation and explain what are virtual and staging theme types and when to use them? Can't find anything about it. Thanks!

[2016-07-11 13:19] qwerty7869 commented on #2991
@ishakhsuvarov Please tell me how to extend model Repository.php from core file to my project. I tried extending the model but than add to product api is giving error as below.

message": "Source class \"%1\" for \"%2\" generation does not exist.",
  "parameters": [
    "\project\ExtendQuote\Model\Quote\ItemInterface",
    "project\ExtendQuote\Model\Quote\Item\Repository"

[2016-07-11 13:27] Pigau commented on #5427
I have a similar bug in Magento 2.0.7.
The products are actually added to the comparator, but the sidebar works only if you have a product in your cart.

To reproduce :
- Clear your session
- Be unlogged or with a new customer
- From result page add a product to comparator
- Reload the page -> no product in comparator sidebar
- Add a product to your cart
- Reload the page -> one product in compara

[2016-07-11 13:31] pboisvert commented on #5576
@slorenx seems like you are reporting an issue against Magento 1.x. If so then this Github location is the wrong place to do so as this is dedicated to reporting Magento 2 issues only. Even if this was Magento 2 it sounds like the issue is not with the core code but rather with incompatibility of extensions.

[2016-07-11 13:31] #5576 closed, assigned to nobody

[2016-07-11 13:52] choukalos commented on #5553
Please move your question to the Forum or Stack Exchange.

@piotrekkaminski suggestion to improve debugging.

[2016-07-11 13:53] choukalos commented on #5529
Hi @kfaer Did you upgrade via the GUI or via CLI?

If you upgraded via CLI please try redeploying static assets and see if that helps

[2016-07-11 13:59] andimov commented on #3063
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 13:59] andimov commented on #2743
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 13:59] #2743 closed, assigned to andimov

[2016-07-11 13:59] #3063 closed, assigned to andimov

[2016-07-11 14:00] andimov commented on #2493
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:00] #2493 closed, assigned to andimov

[2016-07-11 14:00] andimov commented on #4503
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:00] #4503 closed, assigned to andimov

[2016-07-11 14:02] andimov commented on #4169
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:02] #4169 closed, assigned to nobody

[2016-07-11 14:03] andimov commented on #4810
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:03] #4810 closed, assigned to wert2all

[2016-07-11 14:04] andimov commented on #5224
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:04] #5224 closed, assigned to andimov

[2016-07-11 14:04] andimov commented on #4466
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.

[2016-07-11 14:04] #4466 closed, assigned to nobody

[2016-07-11 14:05] andimov commented on #4310
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:06] andimov commented on #4041
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:06] nmallepally commented on #5336
Thank you :+1:  i'm using php 7.0.7 and its working good with 2.0.7 as well.

[2016-07-11 14:08] andimov commented on #4493
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:08] #4493 closed, assigned to mbrinton01

[2016-07-11 14:09] andimov commented on #5268
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-07-11 14:09] #5268 closed, assigned to antboiko

[2016-07-11 14:10] NisaKH opened #5577 "Class VaultPaymentValueHandlerPool does not exist in /magento/vendor/magento/framework/Webapi/ErrorProcessor.php:195"
## Steps to reproduce

call api {{host}}/rest/V1/carts/{{cart_id}}/shipping-information
## Expected result

API return available payment method
## Actual result

Next Exception: Report ID: webapi-5783a7c0c96e8; Message: Class VaultPaymentValueHandlerPool does not exist in /magento/vendor/magento/framework/Webapi/ErrorProcessor.php:195
Stack trace:
#0 /magento/vendor/magento/framework/Webapi/ErrorP

[2016-07-11 14:11] andimov commented on #5215
@mekiran16  Please, provide description according to the template: https://github.com/magento/magento2/issues/new

[2016-07-11 14:16] choukalos commented on #5562
What's your Store/Config/Sales/Tax/Default Tax Destination Calculation set to?  What's the customer's address set to in your example?

[2016-07-11 14:17] andimov commented on #5179
@tinxit Please, provide description according to the template: https://github.com/magento/magento2/issues/new

[2016-07-11 14:21] tzyganu commented on #405
Should this still be open if the tendency is to move to UI components for admin forms?

[2016-07-11 14:21] wardcapp commented on #5459
This issue was indeed not resolved with release 2.1 (as stated in your previous tickets). Seems like it is caused by some changes made to the admin frontend without taking the consequences to the bulk attribute update feature into account.

The following changes should address the problem:

[code]

Download / patch: [5459_multiselect_bulk_update_patch.txt](https://github.com/magento/magento2/files

[2016-07-11 14:29] SerhiyShkolyarenko commented on #5289
@caesarcxiv @mcspronko could you please add some details? We cannot reproduce wrong country_id setting.

[2016-07-11 14:47] lucscu commented on #5236
DELETE FROM catalog_product_entity_varchar WHERE attribute_id = 63 ;

[2016-07-11 14:50] grasdaggel commented on #5562
Only Tax rules we have are 19% and 7%, both for Germany. Since we do not have any user infos on those pages it can't really matter, since Magento is told to calculate a tax which is included to the price configured, or am I wrong here? Anyway, all customers are in Germany.

If proceeded in the checkout, taxes are pressed upon the configured price, which should include them.

Example product has co

[2016-07-11 14:55] loomdecor opened #5578 "Can't open images from the Product Details"
## Steps to reproduce
1. Go to products and select a product
2. Click on Product Details (if not already there)
3. Go to Images & Videos Section
4. Try to click on an image - you can't get the details to show up
5. The only way to get the details of an image to show up / enter details is to go to the Images & Videos link on the left.  This is not intuitive -- every time I try to do this I try to c

[2016-07-11 15:05] piotrekkaminski commented on #3937
Closing as fixed in 2.1.

[2016-07-11 15:05] #3937 closed, assigned to piotrekkaminski

[2016-07-11 15:05] sdzhepa commented on #5134
@springimport Hello
It seems value for "postcode" is missed. This field is required for UPS.

Payload Example with "postcode":

[code]

**Additional information**
 "shippingCarrierCode" and "shippingMethodCode" we can get using service:

Payload:

[code]

Response Example:

[code]

@springimport did it help You to resolve the issue?

[2016-07-11 15:07] developer-lindner commented on #5236
@LucScu there is no entry with attribute_id 63 ?!

[2016-07-11 15:15] piotrekkaminski commented on #3630
We were not able to reproduce on 2.1.

[2016-07-11 15:15] #3630 closed, assigned to voleye, vzabaznov

[2016-07-11 15:21] antboiko commented on #5565
Hello @atIOCrON , it will be added once it's reproduced and validated.

Best,
Anton.

[2016-07-11 15:22] YevSent commented on #5577
Hi, @NisaKH, please, specify the version of Magento, request body and the list of enabled payments methods.
**UPD:** On the latest develop branch this API request works correctly.

[2016-07-11 15:22] ghost commented on #5445
It looks like this can be fixed by having string values instead of integers in the source. So ['value' => 1, ...] becomes ['value' => '1'].

I would say that this is still a bug, though.

[2016-07-11 15:29] lucscu commented on #5236
try to check others catalog_product_entity_\* in base of which type of attribute is your eav 63

[2016-07-11 15:31] developer-lindner commented on #5236
@LucScu i already did, and that's the fun part... i couldn't find anything where attribute_id is 63 ?!

[2016-07-11 15:33] mktudock opened #5579 "Magento's DI ignores the Preference when using Plugins."
## Steps to reproduce

**_A:**_
1. Override a class via DI preference

[code]
2. Create a plugin for this type (in our case another module added a plugin for all blocks like this:)

[code]
3. Run setup:di:compile

**_B:**_
1. Do all steps from A and delete the var/di folder
## Expected result

**_A/B:**_
1. I open the page on which the block is placed on
2. I see the output that results of the ori

[2016-07-11 15:34] Protazy21 commented on #5236
@developer-lindner have you got phpmyadmin? search all tables in phpmyadmin for exact value 63, if you have a lot of products with this attribute it will be the table with most results. If not open each table where you get results and see if there is column attribute_id with value 63. In search set find as Exact phrase, inside table - select all click go

 i already did, and that's the fun part...

[2016-07-11 15:43] davidbilly commented on #5426
Thanks @BigBri41 This solve my 2) Back-end : Go invoice show Notice: Undefined index: base_grand_total in /vendor/magento/module-sales/Ui/Component/Listing/Column/Price.php on line 55
problem!

[2016-07-11 15:44] developer-lindner commented on #5236
@Protazy21 I've deleted var/cache, var/page_cache, var/generation, couldn't find any entry in any table.
I don't get it what's going on... Any help / hint highly appreciated!

[2016-07-11 15:46] Protazy21 commented on #5236
@developer-lindner  how about about log file? does it complain about any other attribute_id which hasn't been deleted yet?

[2016-07-11 15:47] magnetic5355 commented on #5289
@SerhiyShkolyarenko
1. While not logged in on /checkout/ change ship to country to a different country than USA. Notice no AJAX request is made.
2. Change zip code - an ajax request is made to /rest/us/V1/guest-carts/8ec0a1dd6ec6b137b20e8f95f54e8dd5/estimate-shipping-methods with the following parameters.
   {address: {region_id: "0", country_id: "US", postcode: "444444"}}

Notice the country_id i

[2016-07-11 15:52] developer-lindner commented on #5236
@Protazy21 just getting this report:

[code]

[2016-07-11 15:55] davidbilly commented on #5426
I faced another one issue :
<img width="1393" alt="screen shot 2016-07-11 at 11 49 07 pm" src="https://cloud.githubusercontent.com/assets/3938103/16737135/846a66fe-47c2-11e6-8f51-7b2483b71129.png">

After i place order,the top right mini cart is show empty. But when i go to https://domain.com/checkout/cart/ i can see all of my order.

<img width="1908" alt="screen shot 2016-07-27 at 9 08 32 pm" sr

[2016-07-11 16:00] blizam commented on #5527
I've tried it manually setting a unique key... and yeah, my Product Names are all unique as well

For my 2nd Website I have:

Root Category
+Shop
++Category 1
+++Sub-Cat A
+++Sub-Cat B
++Category 2
+++Sub-Cat A
+++Sub-Cat B

The Categories I added when creating my Products were:

Shop, Category 2, Sub-Cat B (the one underneath Category 2)

[2016-07-11 16:11] svines opened #5580 "Cannot add multiple options to configurable product via REST API"
## Steps to reproduce
1. Create a new configurable product
2. Use the REST API to add a new option to the new product (this works):
   URL: http://[base url]/rest/V1/configurable-products/basecap/options
   POST BODY:
   {
   "option" :
   {
       "attribute_id": "font_type",
       "label": "font type",
       "position": 0,
       "values": [
           {
               "value_index": 216

[2016-07-11 16:12] svines commented on #5580
I also notice that the associated unit test only tests the creation of a single option, so it would miss this.

[2016-07-11 16:15] SerhiyShkolyarenko commented on #5289
@caesarcxiv on the first step i do have an AJAX request.

[2016-07-11 16:16] SerhiyShkolyarenko commented on #5289
Changed country from United States to Thailand

[2016-07-11 16:17] mcspronko commented on #5289
@SerhiyShkolyarenko it won't work if you just change country and select shipping method. Old Shipping Address will be used (one which was loaded during page load). In case you refresh page, yes, you will get your new Country ID.

[2016-07-11 16:44] kfaer commented on #5529
actually this old upgrade, i've reinstalled successfully M2.1 using plesk application pool using GUI, you can check this issue : herara.com

[2016-07-11 16:52] joshuaswarren commented on #4310
@andimov - I'm not sure why this issue was closed? Someone from Creatuity replied on May 12th with more information about the version we were able to reproduce this on, and we didn't hear back from anyone at Magento.

Was no one else able to reproduce this on EE 2.0.4 or after running an import on newer versions of Enterprise Edition?

[2016-07-11 17:00] Protazy21 commented on #5236
@developer-lindner
Do following
1. bin/magento cache:clean
2. bin/magento indexer:reindex
3. Class Magento\Eav\Model\ResourceModel\ReadHandler

line 161

$unionSelect = new \Magento\Framework\DB\Sql\UnionExpression(
                $selects,
                \Magento\Framework\DB\Select::SQL_UNION_ALL
            );

$selects consists of 5 tables
1. catalog_product_entity_varchar
2. catalog_product

[2016-07-11 17:29] nickmarx12345678 commented on #5553
@choukalos -- where would be the correct place to request improvements to the official documentation?

[2016-07-11 18:02] veloraven commented on #5192
Was not able to reproduce on fresh install without sample data

[2016-07-11 18:16] mbrinton01 commented on #5544
Created internal issue MAGETWO-55291 to investigate.

[2016-07-11 18:31] developer-lindner commented on #5236
@Protazy21 Thank you!

There seem to be a lot more problematic attributes, but in the end it was just the 63 one... this is the var_dump:

[code]

[2016-07-11 18:37] developer-lindner commented on #5236
@Protazy21 well, obviously it's in the catalog_category_entity_\* tables... makes sense if the error occurs when entering the category management in the backend.

I can access the category management now, but don't see any products in frontend anymore -.-
Last time i've managed to fix by updating every product (update attribute), but mass action seems to have an issue too (Allowed memory size....

[2016-07-11 18:38] aianus commented on #4785
Which release will this fix be part of? @NadiyaS

[2016-07-11 18:44] adragus-inviqa commented on #5579
Slightly counter-intuitive, yes, but I don't think this is a bug. It's documented: http://devdocs.magento.com/guides/v2.0/extension-dev-guide/code-generation.html.

Tbh, I would always prefer to empty the var/di folder and compile before every release. Otherwise, M2 will have to lookup DI stuff _dynamically, on production_, which would considerably slow it down. Why is that far from optimal?

[2016-07-11 19:18] PieterCappelle commented on #5308
@tkacheva: any ideas when this will be fixed?

[2016-07-11 19:27] dsikkema-magento commented on #5355
Internal ticket: MAGETWO-55294

[2016-07-11 19:59] piotrekkaminski commented on #1146
I expanded scope of MAGETWO-47607 to include also robots issue.

[2016-07-11 20:12] mackelito opened #5581 "Why the bad selectors in css?"
I have been looking at the blank theme and find lots of selectors of plain elements eg h-tags, p-tags, ul/li, a etc etc..

Normally I would just rant on how this is a really bad practice but.. I´m assuming that there is a good reason for this!(?).

[2016-07-11 20:15] plentyhappy commented on #5517
We have the same problem on 2.0.7.  Had this problem since 2.0.  Just asked my hosting company for help.  They were able to fix on their end and said this:

## SID issue should be resolved now. If you clear your browser cache (or use private/incognito browsing) going to xxxxxxx.com should redirect to www.xxxxxxx.com without any SID. We added a 301 redirect to the pub/.htaccess file:

RewriteCond %

[2016-07-11 20:31] davidalger commented on #5581
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-07-11 20:31] #5581 closed, assigned to nobody

[2016-07-11 20:50] springimport opened #5582 "How add custom attributes in "Sale Order" REST API?"
## Steps to reproduce
1. Install Magento (2.0.7).
2. Enable my module with adding attributes:
   `$salesSetup->addAttribute(Order::ENTITY, 'date', ...`
3. Write a Di:

[code]

_OrderInterface_:

[code]

_Order_

[code]
## Expected result
1. **date** property in API response:

[code]
## Actual result
1. The date is not visible.

Could you help me with it, what is wrong?

[2016-07-11 21:08] Ctucker9233 commented on #5423
@veloraven @tkacheva Thanks for your responsiveness! Is there a way I can follow this internal ticket? Any ideas when a permanent fix will be released? I know you're all working on a million other things so I appreciate any updates you can give me.

[2016-07-11 21:19] DevXeni opened #5583 "Multiple JS errors in the backend"
Hi,
I have a fresh installation of Magento 2.1, got with composer (create-project), was installed via CLI command, was switched to developer mode. Nginx(1.10.0)+php-fpm(7.0.8), correct filesystem permissions.

But in the backend (admin) on all pages, excluding dashboard,  the multiple js errors occuring permanently. In production mode (and setup:static-content:deploy), in developer mode - errors s

[2016-07-11 22:10] orbitrod opened #5584 "Unable to change product attribute set, unless user has full resource access"
## Steps to reproduce
1. Login as user with role that has custom resource access to Products --> Inventory --> Catalog
2. Edit product in admin
3. Attempt to change attribute set of product
## Expected result
1. Attribute AJAX menu will "popup" and display list of attribute sets that user can choose from.
## Actual result
1. Attribute AJAX menu does not "popup".
## More information

I also attempt

[2016-07-11 22:25] Daniel-Gherard commented on #5131
I have a similar problem. But the version I'm using is 7.0.9, I think it's the latest.
The requirement says it supports 7.0.6 or later. But, it's not working.

[2016-07-11 22:50] crantron commented on #5583
@DevXeni have to deployed static content?

[2016-07-12 03:49] pen65978 opened #5585 "product/edit showing blank "Invalid argument supplied for foreach()""
product details not showing in admin panel product/edit and on front ned in product page, i have the following in my error log:

[2016-07-12 02:38:40] main.CRITICAL: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'synonym_for' in 'where clause', query was: (SELECT `search_query`.\* FROM `search_query` WHERE (query_text = '') AND (store_id = '1') LIMIT 1) UNION ALL (SELECT `search_query`.\*

[2016-07-12 06:04] PierAlex opened #5586 "Magento 2.1 Customer custom attribute not present in Customer address edit and registration form"
Adding a customer custom attribute and assigning it to the forms:
['adminhtml_customer_address', 'customer_address_edit', 'customer_register_address']

The new attribute is visible and runs for admin, onepagecheckout (both shipping and biling address) and this is ok.

When a customer edit his address from his profile or add a new address, form related to the file magento_customer/view/frontend/tem

[2016-07-12 06:23] rikterbeek opened #5587 "Why is assignData(..) in Adapter only accessible through observer ?"
The new way of using a payment methods is using the Adapter Facade class. Why do you need to add an observer to assignData instead of using Dependency Injection to do this like all other calls in this class ?

[2016-07-12 06:41] #5510 closed, assigned to nobody

[2016-07-12 06:44] Protazy21 commented on #5236
@developer-lindner
Have you made the changes described above?

If you did, then have no clue. Your case is a bit different than I had.

[2016-07-12 06:46] YevSent commented on #5587
Hi, @rikterbeek, can you clarify your question? All payment methods, which extends payment Adapter can replace or extend the `assignData` method. The order management system "directly" calls this method to set payment data.
How do you want to use DI to call this `assignData` method?

[2016-07-12 06:52] mackelito commented on #5581
AH.. you are correct my best sir! :)
Sorry if this sounded like just negative complaints.. I was just a bit frustrated and.. well .. you know!.. ;)

Will take a look at the other places!

Cheers!
/Markus

[2016-07-12 06:59] mktudock commented on #5579
I **would** compile before going to production, but that's exactly the problem I can't,because the compilation tool acts different from Magento doing DI on runtime.

Again, when using di:compile Magento loads the interceptor class of the original class when plugins are defined, which is not what I want. What I want, and what I expect to happen, is what happens when clearing the var/di folder: Mage

[2016-07-12 07:31] Umfi commented on #5586
I have the same problem with Magento 2.0.4.

I created custom EAV Attributes, added them to the edit.phtml.

on submit of the form, i got the response that the custom-field is required.
if i check the network section of my browser, i see that the value is posted correctly, but when the error message appears the field is empty.

[2016-07-12 07:39] PierAlex commented on #5586
@Umfi:
Is this correct to add the Attribute to the edit phtml? I expected it was already present because of use_in_forms.
However, how do you added the EAV Attribute to the form? I don't know how to get and set data. Can you pls. post your code as an example?

[2016-07-12 07:42] CodeGlitcher commented on #5580
I think you are trying to add the same attribute twice to a product.
`{"option":{"attribute_id":"194","label":"color2","position":0,"is_use_default":true,"values":[{"value_index":91},{"value_index":92},{"value_index":93}]}}`
i only get an error when executing this request twice. I think you need to look ad updating an existing option.
Also it looks like that the values are only saved if there are

[2016-07-12 07:46] rikterbeek commented on #5587
@joni-jones,

In the new way you define the payment methods in the di.xml file. I would expect that I can define my assignData logic class in this di.xml file instead of creating a events.xml file. In this file I need to define an observer to set my variables in the additionalData of the payment method received from the front-end. It is much easier to keep the flow that is used for all other metho

[2016-07-12 07:47] Umfi commented on #5586
@PierAlex

I think you have to override the phtml in your theme or module.
This works for me for customer edit form:

`
        <div class="field">
            <label for="custom_attribute" class="label"><span><?php /* @escapeNotVerified */ echo __('custom_attribute') ?></span></label>
            <div class="control">
                <input type="text" name="custom_attribute" id="custom_attribute

[2016-07-12 08:06] DevXeni commented on #5583
Yes.

[2016-07-12 08:09] YevSent commented on #5587
The current behaviour for `assignData` method is based on Magento events, as you can see this method uses event manager and that's why you need to describe observers in `events.xml` file. This allows extending payments methods by some specific data and base payment module doesn't know about any specific implementations.
As I understand, your purpose to move `assignData` method into separated class

[2016-07-12 08:10] lucscu commented on #5236
which EAV is attribute_id = 63?
post your entire record from eav_attribute table.

[2016-07-12 08:16] slavvka commented on #4441
@davissuperman, the issue has been fixed. Please see 0be746b, 6258496, 3fb5616, c43fc5e and 6fc4dd3.

[2016-07-12 08:16] #4441 closed, assigned to slavvka

[2016-07-12 08:16] slavvka commented on #4786
@FoxtrotOscar2, the issue has been fixed. Please see 0be746b, 6258496, 3fb5616, c43fc5e and 6fc4dd3.

[2016-07-12 08:17] #4786 closed, assigned to slavvka

[2016-07-12 08:19] slavvka commented on #5050
Hi @Vinai, the issue has been fixed and delivered to mainline. Please see 4c03aad and 491a101

[2016-07-12 08:19] #5050 closed, assigned to antonkril

[2016-07-12 08:22] slavvka commented on #5256
The issue has been fixed and delivered to the mainline. Please see 55f4138, 5a28491, dcc73dd, 43676a5 and bdf2d49.

[2016-07-12 08:22] vipin-eglobeits commented on #4242
Please refer the above issue in detail:
[https://github.com/magento/magento2/issues/5542](https://github.com/magento/magento2/issues/5542)

[2016-07-12 08:24] antboiko commented on #5578
Hi @loomdecor , thanks for your feedback and suggestion.
This behavior has been already improved in 2.1.

Please check and let me know if this is what you expect.

Best,
Anton.

[2016-07-12 08:30] SerhiyShkolyarenko commented on #5289
@mcspronko could you please write detailed step-by-step instruction how to reproduce it?

[2016-07-12 08:40] NadiyaS commented on #2902
The issue is closed since there is no response from reporter more than 2 weeks.
Feel free to reopen the issue if you still have this problem and do not forget to provide Magento version and all details to reproduce it

[2016-07-12 08:40] #2902 closed, assigned to NadiyaS

[2016-07-12 08:41] NadiyaS commented on #3289
The issue is closed since there is no response from reporter more than 2 weeks.

[2016-07-12 08:41] #3289 closed, assigned to NadiyaS

[2016-07-12 08:42] NadiyaS commented on #4521
the issue is closed since there is no response from reporter more than 2 weeks.

[2016-07-12 08:42] #4521 closed, assigned to NadiyaS

[2016-07-12 08:49] CodeGlitcher opened #5588 "Getting attribute by group (REST api)"
You can get all attributes in a attribute set with
http://{baseurl}/index.php/rest/V1/products/attribute-sets/{attribute_set_id}/attributes
This works, but i would like to know to which group the attributes belongs to.

Something like:
http://{baseurl}/index.php/rest/V1/products/attribute-sets/groups/7/attributes
This would then return all the attributes in group 7

Or is there already an other op

[2016-07-12 08:50] NadiyaS commented on #5014
Hi @snswap828 ,
Seems like you have installed external extensions. Have you disabled all of them?
if you don't have any please provide us more details to reproduce this bug. All steps from the beginning. which setting did you change and so on.

[2016-07-12 08:53] Igloczek commented on #5521
Remember that everything related to RequireJS works asynchronously, so probably you miss that and depending on load times everything might load in proper order or not.

BTW. Also you may be able to try get DOM elements, before DOM is ready - be aware it's common issue within devs new in async world 😉

[2016-07-12 08:55] hgpit commented on #5554
@commcad. How can M2.1 still be officially considered "in dev" when they're offering it in the official downloads area for corporate/enterprise customers and charging ~£18k/year for the privilege?
There are ZERO "beta"/"in dev" disclaimers via the corporate portal and whenever I have contacted their corporate support regarding M2.x they've never told me to go back to M1. Simply go to https://magen

[2016-07-12 09:01] bh-ref commented on #5459
@wardcapp thank you for the patch!

[2016-07-12 09:05] rikterbeek commented on #5587
@joni-jones,

Observers have a downside that you don't have a clear view who is observing this call. I don't understand why assignData() is using observers and all other methods in this class are using dependency injection to declare the behaviour. I found it much more logical if it uses the executeCommand instead. I can extend the Adapter class and change this function but rather be consistent wi

[2016-07-12 09:34] DevXeni commented on #5583
Today, I've done all steps, as in docs (there http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-static-view.html and http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-mode.html)
nothing helped - js errors still there. On dashboard page also appeared!
![screenshot from 2016-07-12 12-33-09](https://cloud.githubusercontent.com/assets/6112347/1

[2016-07-12 09:34] aelmizeb commented on #5131
Any idea by when the fix for the composer installation (for php 7.0.4) will be published?
Thanks in advance.

[2016-07-12 09:43] grasdaggel commented on #5562
Any updates on this already?

[2016-07-12 10:02] grasdaggel commented on #5562
We fixed it on our own. The problem was that the shop has the basic setting that the Shipping Origin is located in America. We changed it and now the outputted prices are correctly outputted.

Thanks anyway. This could be a little easier to fix, to be honest. :/

[2016-07-12 10:02] #5562 closed, assigned to choukalos

[2016-07-12 10:24] sunilit42 opened #5589 "Magento 2 Wrong base grand total and grand total response of save shipping info"
Hello,
When i go from step1 to step2 in checkout before saveshipping response is :
{"payment_methods":[{"code":"test","title":"test"},{"code":"free","title":"No Payment Information Required"}],"totals":{"grand_total":31,"base_grand_total":33.17,"subtotal":31,"base_subtotal":31,"discount_amount":0,"base_discount_amount":0,"subtotal_with_discount":31,"base_subtotal_with_discount":31,"shipping_amount

[2016-07-12 10:25] ednacool opened #5590 "Magento 2 Multi Word Search"
Search is working weird as it is not giving the proper result by matching whole word for e.g if i search for
Radiant Tee it is giving other results too. You can check it out in given link

http://magento2demo.firebearstudio.com/catalogsearch/result/?q=Radiant+Tee+

Seems to be search feature needs fixing

[2016-07-12 10:29] ednacool opened #5591 "Configurable Products swatch"
Configurable product visual swatch not showing out of stock swatch it is only showing swatches of product which are in stock it has to be like and cross line or anything else at least show some difference

[2016-07-12 10:51] commcad commented on #5554
Always had in mind that open source meant WIP. Regardless of the little adds and fancy pics (and all that CSS Three point Ohh)

Broader view; would you agree that modern technologies as a whole are a train wreck on its own? Investing in those sectors is pretty similar to gambling my friend, last time I’ve checked (looking at it from a board member’s perspective, mind you). Magento aside; there is

[2016-07-12 11:17] DevXeni commented on #5583
Sometimes, some of js files randomly not found -
"NetworkError: 404 Not Found - http://magento-2.local/static/adminhtml/Magento/backend/en_US/Magento_Ui/js/lib/knockout/extender/i18n.js"
i18n.js
"NetworkError: 404 Not Found - http://magento-2.local/static/adminhtml/Magento/backend/en_US/Magento_Ui/js/lib/knockout/extender/scope.js"
scope.js
"NetworkError: 404 Not Found - http://magento-2.local/sta

[2016-07-12 11:19] developer-lindner commented on #5236
@Protazy21 unfortunately this doesn't helps me. Frontend still shows "We can't find products matching the selection."

In 2.0.7 they were shown... wtf changed in 2.1.0? :/

@LucScu
The table -> https://www.dropbox.com/s/6jqs81hfqcm6cwk/eav_attribute.sql?dl=0

@andimov Any idea what i can do?

[2016-07-12 11:21] DevXeni commented on #5583
Very strange. This is my nginx conf. maybe problem is there
`server {
    listen 80;

[code]

}

server {

[code]

}`

[2016-07-12 11:22] dkvashninbay commented on #5587
@rikterbeek Hi,

### Introduction

When we were implementing current behaviour for _assignData()_ method, the main idea was to move away from assignData at all, as method implementation depends on a concrete client(_Checkout/Quote_) implementation and data structure used to perform a transaction.

So the easiest way to substitute _assignData()_ call (which actually means _assignDataFromWebCheckout

[2016-07-12 11:25] sunny-brevity opened #5592 "Re-Index link or button not available"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to Index Management page
3. There not available re-index button or link
## Expected result
1. In Index Management page should be available re-index option
## Actual result
1. In Index Management page no any re-index option available

![screenshot-localhost 2016-07-12 16-54-13](https://cloud.githubusercontent.com/assets/20418548/

[2016-07-12 11:35] #5429 closed, assigned to nobody

[2016-07-12 11:54] salelsol opened #5593 "Issue in multistore with subdomain"
Issue afther migrating a multistore with multidomain from M2.07 to M2.1  we can´t access to english store website subdomain in en.salelsol.eu [http://en.salelsol.eu] because always redirect to a PHPsession SID like: http://wwwsalelsol.com/?SID=oc8puthrk2v203n7usnmrtea64 [http://wwwsalelsol.com/?SID=oc8puthrk2v203n7usnmrtea64] this link running in M2.07 and works fine whe go to english store websit

[2016-07-12 12:19] MomotenkoNatalia commented on #5460
@kalpeshchavada Yes please, it would be helpful!

[2016-07-12 12:26] hitumca opened #5594 "After enable full page cache customer session data not found."
## Steps to reproduce
1. Magento 210
2. Magento Backend System-> Cache Management -> enable all cache type enable.
## Expected result
1. if($customerSession->isLoggedIn()) {
    echo "logged in Customer";
   }else
   {
      echo "Not Logged In Customer";
   }
   After enable cache every time if condition not true .
2. ...
## Actual result
1.  It should be return true in customer logged in case.

[2016-07-12 13:06] bramvanderholst opened #5595 "Broken mobile menu when initializing multiple mage.menu widgets"
## Steps to reproduce
1. Initialize a new mage.menu in a .phtml `<ul data-mage-init='{"menu":{"responsive":false, "expanded":true, "delay":0, "position":{"my":"left top","at":"left bottom"}}}'>`
   (I wanted to split mobile and desktop navigation into 2 templates)
2. View website in < 768px browser
3. Open and close default mobile menu.
## Problem

Menu will close, but opens again right after.
##

[2016-07-12 13:22] antboiko commented on #5591
Hi @ednacool , thanks for reporting this issue, we already have internal ticket MAGETWO-54361 to fix it.

Thanks,
Anton.

[2016-07-12 13:39] antboiko commented on #5584
Hi @orbitrod , what Magento version are you using?

Thanks,
Anton.

[2016-07-12 14:02] AntonEvers commented on #4237
@wert2all friendly reminder

[2016-07-12 14:13] svines commented on #5580
I was adding "font type" and "font color."  I did not try associating the children with the parent before creating the parent options, though, so I'll give that a shot and report back.

[2016-07-12 14:29] CodeGlitcher commented on #5580
1 thing you may run into is that you cannot add a child to a product with:
/V1/configurable-products/:sku/child on this moment
see: https://github.com/magento/magento2/issues/5243

[2016-07-12 14:36] plentyhappy commented on #5301
I use productlist widget on home page

[2016-07-12 14:37] svines commented on #5243
Have you tried it with Virtual children instead of simple ones?  This route works for me in 2.0.7 and 2.1 using Virtual children.

[2016-07-12 14:38] svines commented on #5243
No dice.  This time I associated the children first and ran the steps above, but I still get the same error when adding the second option to the parent.  Also, if I had been adding a duplicate option it would have been a different error ("product already has this option").

[2016-07-12 14:39] svines commented on #5580
No dice. This time I associated the children first and ran the steps above, but I still get the same error when adding the second option to the parent. Also, if I had been adding a duplicate option it would have been a different error ("product already has this option").

[2016-07-12 14:45] plentyhappy commented on #5301
Here's a similar thread:

https://github.com/magento/magento2/issues/5530

someone said that saying yes to cookie restriction mode fixed the problem but it did not work for me

[2016-07-12 14:46] plentyhappy commented on #5530
Cookie restriction mode did not work for me.  Even if the problem was solved, the cookie message might scare away customers (in my opinion).

Here's a similar thread:

https://github.com/magento/magento2/issues/5301#issuecomment-232067439

[2016-07-12 15:12] Windmagez commented on #4119
I have the same error i have opened the datapost.js on dev tool and this is the content

[code]

The error simple means that the Function definition of **$.widget** function cannot be found. And i don't have any idea where to find such missing resource.

Preconditions:
1.I included bootstrap css and js files on my default_head_blocks.xml
2. A theme that i am customizing is using uses owl.carousel

[2016-07-12 15:13] kllee824 commented on #4671
Same issue on my development, I would like add block, floor, building on billing and shipping address book. any Magento 2 EE version be fixed this issue?

[2016-07-12 15:15] davefarthing opened #5596 "Google Universal Analytics does not track when Cookie Restriction is enabled"
## Steps to reproduce
1. Install Magento v2.1 from `composer`.
2. Configure the Admin Panel with a **valid Google analytics ID** and set mode to _'Universal Analytics' under 'Stores => Configuration => Sales => Google Api => Google Analytics'_
3. Set cookie restriction mode to '**yes**' under '_Stores => Configuration => General => Web => Default Cookie Settings => Cookie Restriction Mode_.
4. Cle

[2016-07-12 15:19] orbitrod commented on #5584
I am using Community Edition 2.0.7

[2016-07-12 15:23] giacmir commented on #4119
We had this too while developing a custom theme,
the problem is that if you add javascripts directly to default_head_blocks.xml instead of using requirejs-config you will be likely subject to this kind of issues.

E.g if you add jquery via xml you cannot tell if the jquery used is the requirejs provided one or the xml one, and the two jqueries are not the same in terms of included plugins and exte

[2016-07-12 15:32] eug123 commented on #5052
@thdoan
Thank you for submitting an issue.
But this is a 3d party theme and all additional files like `.sql` or `pub/media` contents are provided for example/sample purpose and are not required for the theme to be applied and functioning.

[2016-07-12 15:34] paulespino commented on #5191
Hi,

Yes, the process was to create a child product via this endpoint: /V1/products

Once the child product was create, I can see it on the admin side. Then, I create the configurable product with the same endpoint (/v1/product). Once this is created, I add the child product to the configurable with this endpoint: /V1/configurable-products/{configurable_sku}/child

This last call to add the child

[2016-07-12 15:34] Jacob-Affinity commented on #5546
What's the rationale for putting upgrade tasks in InstallShema in the first place?

[2016-07-12 15:43] antboiko commented on #5584
@orbitrod  thanks. We already have internal ticket MAGETWO-53557 to fix this issue.

Best,
Anton.

[2016-07-12 15:43] nmallepally commented on #4181
Hello Thanks for the updates, but the error messages on website and some check out steps like shipping and review payments are still in English does not translate. attaching images for reference
![checkout english](https://cloud.githubusercontent.com/assets/19605497/16773415/c83f968c-484f-11e6-9dd0-07dbef89c677.png)
![password not good enought](https://cloud.githubusercontent.com/assets/19605497/1

[2016-07-12 15:53] nmallepally opened #5597 "static content deployment"
Hello guys,

I have magento 2.0.7 and php 7.0.8 running on my website.
im unable to run php magento static:content-content:deploy command. everytime it gives me an error.
Despite all the folders have 755 permission and files 644. Can you give me some insight.
attaching an image for ref.
![error_static_file](https://cloud.githubusercontent.com/assets/19605497/16773785/2d0e77bc-4851-11e6-8822-d08307

[2016-07-12 16:02] PierAlex commented on #5586
@Umfi
just to understand, does it works for you in edit.phtml form also for reading and saving data?
Because for me
<?php if (!empty($block->getCustomer()->getCustomAttribute("my_attribute"))) { echo $block->getCustomer()->getCustomAttribute("my_attribute")->getValue(); } ?>
does not return anything.

[2016-07-12 16:11] nmallepally opened #5598 "sql state error on magento 2.0.7"
Hi,

After i updated to 2.0.7 successfully,  it started giving me a few errors, one of them is after a customer logs in and then places a order , he gets an sql state error. only for that customer, rest dont see this error.
Can you give some advise on this. attached a ref image
![error_sales_order_key](https://cloud.githubusercontent.com/assets/19605497/16774409/b552748c-4853-11e6-8ee6-9415e5e92b3

[2016-07-12 16:13] king-themes commented on #5089
The same with me on v2.1.0. Any way to fix it?

Thanks

[2016-07-12 16:18] quienti commented on #5597
There is an error in theme "Emthemes", it is not an error from Magento

[2016-07-12 16:19] Choufourax commented on #5008
Same bug here with single store mode on.

[2016-07-12 16:22] quienti commented on #5597
There is an error in theme "Emthemes", it is not an error from Magento

[2016-07-12 16:24] Ctucker9233 commented on #5592
This is not a bug it is the behavior of Magento 2. It is designed to re-index by cron jobs only. Though I do wish they would bring the reindex button back (it's there in Magento 1).

[2016-07-12 16:38] davidalger commented on #5597
The issue reported appears to be with a 3rd-party component. Please work with the vendor (where applicable) to resolve the issue. Alternatively, please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical assistance. In your case, the [programming questions forum](https://community.magento.com/t5/Programmin

[2016-07-12 16:38] #5597 closed, assigned to nobody

[2016-07-12 16:42] davidalger commented on #5521
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-07-12 16:42] #5521 closed, assigned to nobody

[2016-07-12 16:42] vil11 commented on #1940
This issue isn't reproduced in the latest versions.

##

:sunny: dvilchynskyi, M2 QA

[2016-07-12 16:45] MomotenkoNatalia commented on #1940
@mage2pro Please let us know if you still have an issue.

[2016-07-12 16:45] #1940 closed

[2016-07-12 16:53] amarroni opened #5599 "Products Custom Option as Required issue."
I was working with some virtual, bundlle products and configure some custom options. Please review the sptes of the issue. I could reproduce the issue in 2 differents instnaces of M2
## Steps to reproduce
1. Create a test product
2. Add different custom options as drop-down with some option values
3. select as required option
4. [save]
5. change to no-required option
6. [save]
## Expected result
1

[2016-07-12 17:53] Ctucker9233 opened #5600 "Feature Request: Debug Log should not report cache_invalidate"
## Steps to reproduce
1. Install Magento 2.1
2. Setup cron jobs as per official documentation.
## Expected result

Working installation with running cron jobs and no errors in debug log
## Actual result

Working installation with running cron job, but every time the jobs are run, a main.DEBUG: cache_invalidate: is thrown.

The way I see it, there are two ways to fix it. Code it in a way so that "n

[2016-07-12 18:02] wert2all commented on #4237
@ajpevers as I see above the internal task MAGETWO-54382 was created about this issue.

[2016-07-12 18:03] Umfi commented on #5586
@PierAlex

it does work for me for customer attribute (example registration form) but not for attributes on "customer_address"

for "customer_address" i do have the same problems

looks like somebody has the same problem here: http://magento.stackexchange.com/questions/125194/magento-2-1-how-to-add-a-customer-custom-attribute-in-the-customer-address-edit

[2016-07-12 18:24] kcsf commented on #4575
we are having the same problem on 2.07 - and can't upgrade to 2.1 yet, as the unify extension we need isn't yet compatible.  if there isn't a patch for 2.0x - can you at least show us where the problem is in core, so we can patch it ourselves??

[2016-07-12 18:37] Asitis opened #5601 "Grunt watches correctly, changes don't show anyway"
## Steps to reproduce

Follow [these steps](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/css-guide/css_quick_guide_mode.html#server-side-grunt) from the doc exactly (Magento 2.1)
- Create Theme
- Configure Grunt for theme (etc.)
- Run `grunt exec:theme`
- Run `grunt less:theme`
- Run `grunt watch`
## Expected result
1. Make a css-change
2. Grunt watch picks up on change and works it's

[2016-07-12 19:18] Asitis commented on #5601
Nope! Just me :)
I got it to work after consulting [this article](https://www.integer-net.com/magento-2-frontend-workflow-step-by-step/). I'm pretty sure the key was that I hadn't set `'css/styles-m'` and `'css/styles-l'` too in my Grunt themes.js config file.
The style I added to my theme was `_extend.less` which, I figured, since grunt watch did pick up on the changes would merge anyway. Guess i

[2016-07-12 19:18] #5601 closed, assigned to nobody

[2016-07-12 19:22] developer-lindner commented on #5236
Okay guys @Protazy21 @LucScu my issue was that the Catalog Search index didn't went through probably. I've tweaked my mysql settings (my.cnf) to have it pass through.

Now i see products again. Didn't thought that this Index would be necessary to show products,
but it is...

Does anyone of you have an idea for this issue #5414 maybe?
Or an idea how to do it better?

mysql settings:

[code]

And ho

[2016-07-12 20:18] regularlabs commented on #4190
Seems this is still an issue.
A solution could be to simply place the tooltip div before the field, so:

[code]

[2016-07-12 20:36] maderlock commented on #4974
This is still a problem in 2.1. Please re-open, and I will test with extension disabled.

[2016-07-12 20:47] maderlock commented on #5546
@hostep, sadly it'll probably continue to be reported until it's patched. 2.1.1 anyone?

[2016-07-12 20:53] maderlock commented on #4974
I've now reproduced this using the same steps as the original poster on a clean installation of 2.1.0 with just the fix to add the base_grand_total column to the sales_invoice_grid.

The mass-action in the order view -> invoice grid works. Print from the invoice view page works. It's the mass action in the order grid that is not working.

[2016-07-12 21:11] azeemism commented on #3507
Still persists in version 2.1

**Production Mode:** Looks good

**Developer Mode:** Refreshed the home page once
var/log/systemlog

[code]

debug.log

[code]

Other links on the home page have the same issue.

Note: Varnish is setup on 127.0.0.1:6018

[2016-07-12 21:17] trasek commented on #5593
We got the same problem like this.

[2016-07-12 21:25] salelsol commented on #5593
- Hi, this .htacces code works fine in Magento 2.0.7 but not in Magento 2.1

  RewriteCond %{HTTP_HOST} en.salelsol.eu [NC]
  RewriteRule .\* - [E=MAGE_RUN_CODE:english]
  RewriteCond %{HTTP_HOST} en.salelsol.eu [NC]
  RewriteRule .\* - [E=MAGE_RUN_TYPE:website]

I´m triyng with second method:
Method 1: Separate directories for each store using secondary domains

Verify your desired domain name po

[2016-07-12 22:37] dthampy commented on #5530
An internal ticket MAGETWO-54866 has already been created by Support and In Progress for the same issue from a different gitHub ticket

[2016-07-12 22:56] choukalos commented on #5590
Hello @ednacool this is by design.  We've change our search in Magento 2 to use a full text algorithm.  So what its doing is running that algorithm against the words in the search query.  You'll notice that 'Radiant Tee' is the first hit as it has the highest relevance - both words match, then the other results are coming up because the engine is finding Tee in those products as well (lower releva

[2016-07-13 01:14] thdoan commented on #5052
@MomotenkoNatalia Thanks for the info -- closing ticket...

[2016-07-13 01:14] #5052 closed, assigned to tkacheva, eug123

[2016-07-13 01:56] Nerogee commented on #5573
@veloraven , Do you have any updates for me? Yesterday I installed again magento2.1 via composer. The issue is confirmed to be there and easy to reproduce. Please update me thanks

[2016-07-13 02:01] chong1227 commented on #4325
me too .... same issue~

[2016-07-13 02:33] pboisvert commented on #4325
@chong1227 @bonsdawende this issue is closed. If you are having this issue please reopen and provide full information regarding version (clean install or upgrade) and steps to reproduce.

[2016-07-13 04:00] QuangAn opened #5602 "Add new product showing error “Required parameter 'theme_dir' was not passed” magento 2.1"
Add new product with images showing error “Required parameter 'theme_dir' was not passed”
Screenshot : http://prntscr.com/bs8ev8

[2016-07-13 04:29] #5602 closed, assigned to nobody

[2016-07-13 05:03] sunny-brevity commented on #5592
Thank you for the update. I don't know what is the reason behind it. If it possible then please tell me what is the reason.

[2016-07-13 06:31] pantaoran commented on #3997
@ksz2013 that sounds a lot like what's been discussed in #3572

[2016-07-13 06:35] pantaoran commented on #4010
I think these issues are the same as the big discussion in #3572

[2016-07-13 06:38] rugirl commented on #4728
Hi @NadiyaS, @ruby10, @JaggedJax,
Do you have an update about this issue yet?

[2016-07-13 06:56] nntoan commented on #5068
Any updates? @yaronish @MomotenkoNatalia

[2016-07-13 07:20] ednacool commented on #5590
Hi choukalos,

Thanks for getting me back but is this possible you guys can add any method like full word search at least we have any configuration in backhand which allow to search the full word as some merchants don't won't search to give the additional results because sometimes it is confusing on client side for e.g if they are searching for Natural Oil and search result also show Natural Cream

[2016-07-13 07:23] ednacool commented on #5591
Hi antboiko,

Is this possible we can check status of Internal ticket so we can give some time frame to our merchants or anything which is help full for company as well as clients

[2016-07-13 07:29] ednacool commented on #5521
May be i am unable to explain properly that is the issue i am referencing which i am getting on fronthand sometimes JS loads sometime returns error. If possible i will also try to reference you my nginix configuration but it seems to be the same configuration in my website

#5583

[2016-07-13 07:36] thdoan opened #5603 "Magento_SendFriend still shows Email link on product page when disabled"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to Admin / Stores / Configuration / Advanced
3. Set `Magento_SendFriend` to "Disable" and save config
## Expected result
1. There should be no traces of the "send to friend" functionality on the front end.
## Actual result
1. The "Email" link remains on the product page.
2. When you click on it, it goes to a blank page (probably

[2016-07-13 07:46] wendydek opened #5604 "Bundle product customization won't update if product has just one option."
## Steps to reproduce
1. Open a bundle product (example product: sprite-yoga-companion-kit)
2. Click on "Customize and Add to Cart"
3. Change the quantity of a bundle product with one option
## Expected result
1. The quantity should update in the "Your Customization" column.
## Actual result
1. The quantity does not update
2. https://cloud.githubusercontent.com/assets/6807650/16795608/9557ed20-48d

[2016-07-13 08:00] NadiyaS commented on #4329
Hi ,
internal ticked MAGETWO-55337 was created to track the problem about autogenerated fields for Credit Memo.

[2016-07-13 08:04] grasdaggel opened #5606 "Can't change product suffix - SQL error"
When trying to change the product suffix in Magento 2.0.6 we get an SQL error.

Reproduce:

In Magento 2.0.6. login in to backend and move to
Shop -> Configure -> Catalog -> Catalog -> SEO Settings

**Change the suffixes here (just delete the input forms content)**
![bildschirmfoto 2016-07-13 um 10 02 28](https://cloud.githubusercontent.com/assets/13021579/16796078/060ba88e-48e1-11e6-8d68-7b7e6944

[2016-07-13 08:10] tdgroot commented on #2502
I have had this issue as well, having the deploy mode set to `developer`. Turns out I got this error because I used `--no-dev` when installing the application.

[2016-07-13 08:10] grasdaggel commented on #5589
I have had the same issue. Can you check if $_product->getPrice() gives you back the "correct" price?

[2016-07-13 08:34] sdzhepa commented on #3102
Hello, @rkhoury82, @quienti, @chamalC, @AndreasSundstrom, @ozgeekmum, @Krapulat, @friizu, @klarlichter, @heldchen, @peec, @kanduvisla,
@vektor-dev, @tristannederhoff, @JamboMedia, @arvind07

Initial problem described in the second post by @rkhoury82  was **fixed** and **contributed** with **latest release 2.1**. We verified it in several conditions and workarounds and it cannot be reproduce for **

[2016-07-13 08:34] Igloczek commented on #5583
Are you 100% sure that this files exist in `/pub/static/...`?
Did you chceck files permissions?

[2016-07-13 08:42] developer-lindner commented on #5414
I've tweaked the wait_timeout setting in my mysql config which "fixed" the exception "Error while sending QUERY packet". Now it's

[code]

again...

[2016-07-13 08:49] quienti commented on #3102
@sdzhepa Apparently, work fine on Magento 2.1.0, thanks !

[2016-07-13 08:56] thdoan opened #5607 ""Gift Card" link still shows in My Account when Magento_GiftCard disabled"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to Admin / Stores / Configuration / Advanced
3. Set `Magento_GiftCard` to "Disable" and save config
## Expected result
1. There should be no traces of the gift card functionality on the front end. For example, when you set Magento_GiftRegistry to "Disable", the "Gift Registry" link is no longer displayed in My Account.
## Actual

[2016-07-13 08:58] thdoan commented on #5607
Never mind, I realized you also have to disable `Magento_GiftCardAccount`.

[2016-07-13 08:58] #5607 closed, assigned to nobody

[2016-07-13 09:06] leechilli opened #5608 "Shipping Address is being ignored for flat rate Shipping, showing nothing"
## Steps to reproduce
1. Navigate to Admin -> Stores -> Configuration -> Sales -> Shipping Method
2. Setup Flat Rate Shipping
3. Use UK Full Postcodes in the Postcode fields(PO2 2PD)
4. Set Applicable Countries to "United Kingdon"
5. Save Configuration
6. Navigate to Frontend
7. Add any Simple of Configurable product to a shopping
8. Click "Prodceed to Checkout" Button from mini shopping cart
9. F

[2016-07-13 09:15] thdoan opened #5609 ""Store Credit" link still displayed after disabling functionality"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Go to Admin / Stores / Configuration / Customers / Customer Configuration.
3. Set Store Credit Options / Enable Store Credit Functionality to "No" and save.
## Expected result
1. There should be no traces of the store credit functionality on the front end.
## Actual result
1. The "Store Credit" link is still displayed in My Account

[2016-07-13 09:21] sdzhepa commented on #5106
Hello @jldmn
Seems this issue was fixed on 2.1 release also it works on current develop branch.

Probably there are some other steps or preconditions that were not described in the ticket.
Could You pls confirm is it resolved for You or not?

[2016-07-13 09:35] jsakars opened #5611 "Order comment history shows current date & time"
## Steps to reproduce
1. Install Magento 2.0.7
2. Place an order
3. Add some comments to the order
## Expected result
1. Order comment history shows date & time when comment was added
## Actual result
1. Order comment history shows **current** date & time
2. Screenshots below
- http://screencast.com/t/awvM3AGMLr4
- http://screencast.com/t/xsfWR49KC

[2016-07-13 09:35] mengento opened #5612 "Shopping cart product options missing"
## Steps to reproduce
1. Install Magento 2.1
2. Add Customizable Options .
3. Add  Product to Shopping cart.
4. Not change any attributes(Customizable Options ), save the product again,
5. Refresh Shopping cart ,
## Expected result
1. Shopping car product options normal
## Actual result
1. Shopping car product options missing
2. Product page Options Id Change

![20160713172524](https://cloud.githu

[2016-07-13 09:38] rikterbeek commented on #5587
Hi @dkvashninbay,

Thanks for this detailed information. I hope it can be moved soon to the DI file so you have a clear overview what files the payment method is using during the checkout process.

Regards,
Rik
Adyen

[2016-07-13 09:48] YevSent commented on #5587
@rikterbeek, I'm thinking Dmitry posted an exhaustive answer to your question, so I'm close this issue. If you have, any questions, please, fill free to reopen it.
_UPD_ you can use [Magento2 PHPStorm](https://plugins.jetbrains.com/plugin/8024?pr=phpStorm) plugin, which allows navigating for all event observers.

[2016-07-13 09:48] #5587 closed, assigned to alena-marchenko

[2016-07-13 09:51] rikterbeek opened #5613 "getInfoInstance() deprecated in MethodInterface"
Hi Magento,

I see in the code that the getInfoInstance() is deprecated in the MethodInterface.
This is used in many core code of magento. I am using Magento\Payment\Model\Method\Adapter class for the payment method. I use getInfoInstance() to retrieve the order to set the parameter setCanSendNewEmailFlag to false, how can I do this if this is not going to be possible in the next release of magent

[2016-07-13 10:09] ClaudiuCreanga commented on #3692
Just to be aware that is not an issue just with capistrano, but it is affecting a lot of deployment tools (i.e deploybot and others). A PR would be nice because it is hard to debug your deployment with all those dots.

[2016-07-13 10:12] olysenko commented on #4974
Hi @maderlock,
we can not reproduce this bug on a clean installation of 2.1.0. Can you try this action in  incognito/anonymous browser mode?

[2016-07-13 10:50] jsakars opened #5614 ""Area code not set" when running console command"
## Steps to reproduce
1. Install Magento 2.1
2. Have custom module which has console command to import products from 3rd party providers
3. Run console command
## Expected result
1. Products are stored
## Actual result
1. Error occurs - `Area code not set: Area code must be set before starting a session.`

If I set `$state->setAreaCode('adminhtml');` - product import goes fine but then `setup:di:c

[2016-07-13 11:02] NadiyaS commented on #3485
Hi @ruby10 ,
as @Mulderua said in current implementation you need to create shippment first and only then create comment to it by additional call.
Issue is closed as not a bug.

[2016-07-13 11:02] #3485 closed, assigned to NadiyaS

[2016-07-13 11:17] antonkril commented on #5054
Load/save/delete were deprecated on model in 2.1

[2016-07-13 11:18] antonkril commented on #5054
Feel free to reopen issue if you still have questions/concerns

[2016-07-13 11:18] #5054 closed, assigned to maghamed

[2016-07-13 11:19] jameshalsall commented on #4359
@piotrekkaminski when? where is the product roadmap?

[2016-07-13 11:20] antonkril commented on #4524
How did you override the class? Extend from it and substitute with preference? Proxy of original class will not contain your methods. Only Proxy of your class will. You have to configure your class proxy everywhere the proxy of original class is requested/configured.

[2016-07-13 11:27] jsakars opened #5615 "CMS page edit - "Reset" button does nothing"
## Steps to reproduce
1. Install Magento 2.1
2. Open CMS page in admin
3. Click `Reset` button
## Expected result
1. Page is reloaded
## Actual result
1. Nothing happens

[2016-07-13 11:30] olysenko commented on #3506
Hi @Fel1xx ,
thank you for reporting this issue, internal ticket was created MAGETWO-55342

[2016-07-13 11:38] quienti commented on #5611
Already fixed here : https://github.com/magento/magento2/commit/87f27afb8e581f47292303ac16c4685ca12e7f14

[2016-07-13 12:05] ghost opened #5616 "Minicart uses module-weee template instead of module-tax"
https://github.com/magento/magento2/blob/2.1/app/code/Magento/Tax/Plugin/Checkout/CustomerData/Cart.php#L69

When prices are set to show both excl. and incl. VAT the template used is:
`$this->itemPriceRenderer->setTemplate('checkout/cart/item/price/sidebar.phtml');`

It uses the template from the WEEE module although I don't have WEEE enabled in the backend. They both share the same path and filen

[2016-07-13 12:16] koenner01 commented on #5339
This also has something to do with the mode in which Magento is running.
I'm having the same issue when running in developer mode, but in production mode this is not an issue

[2016-07-13 12:36] ghost commented on #5247
Are there any updates on this issue? Is it a confirmed known issue?

[2016-07-13 12:38] DevXeni commented on #5583
Hi!
Permissions - OK!
As I wrote earlier:

Deploy static content  - OK

**/pub/static:**

By path /var/www/html/magento2/pub/static/adminhtml/Magento/backend/en_US/Magento_Ui/js/lib/knockout/extender/ have only bound-nodes.js  and observable_array.js
Nothing more. (Why? I've done setup:static-content:deploy without errors!)

By path /var/www/html/magento2/pub/static/adminhtml/Magento/backend/en_US

[2016-07-13 12:44] DevXeni commented on #5583
Where are the missing files js - location? They can be copied to the proper locations, and maybe it would solve the problem.
However, I do not understand why it all happened.  If that files need for magento, why they could not created automatically during setup:static-content:deploy process?

[2016-07-13 12:44] vipin-eglobeits commented on #4242
Hi @dkvashninbay,
Could you please take a look at the issue #5542.

[2016-07-13 12:50] jsakars opened #5617 "Version 2.1 is backwards-incompatible"
[Versioning policy overview](http://devdocs.magento.com/guides/v2.0/architecture/versioning.html) clearly states that `"Magento software versioning complies with Semantic Versioning 2.0.0"`.

Recently version 2.1.0 was released. Based on [Semantic Versioning 2.0.0](http://semver.org/) it was supposed to be `"version when you add functionality in a backwards-compatible manner"`.

To customize defau

[2016-07-13 12:53] vipin-eglobeits commented on #4057
Hi,
I got an issue which is very similar to this in magento 2.1.
Could you please take a look at #5542.

[2016-07-13 12:53] JangriX opened #5618 "Setting SKU mask as empty crashes product Javascript in backend"
## Steps to reproduce

In magneto backend( Version 2.1), go to Catalog -> Catalog -> Product Fields Auto-Generation
Set 'Mask for SKU' to empty.
Try adding new product
## Expected result

Page to add new product appears
## Actual result

Product add page gets stuck in loading.
Javascript crashes in import-handler.js due to mask being NULL, see screenshot attached.
![screenshot from 2016-07-13 15-5

[2016-07-13 13:07] anton-huz commented on #5044
Just a notice: internal ticket MAGETWO-55344 has been created.

[2016-07-13 13:14] Igloczek commented on #5583
`vendor/magento/module-ui/view/base/web/js/lib` - here you should have source files.

[2016-07-13 13:18] antboiko commented on #5618
Hello @Jangri , thanks for reporting. We've created internal ticket MAGETWO-55346 to track this issue.

Best,
Anton.

[2016-07-13 13:19] anton-huz commented on #4697
Just a notice: internal ticket MAGETWO-55345 has been created.

[2016-07-13 13:20] anton-huz commented on #4930
Just a notice: internal ticket MAGETWO-55345 has been created.

[2016-07-13 13:32] eug123 commented on #5393
@Bakhtawar7
You don't need to run `setup:static-content:deploy` command in developer or default modes after cleaning the cache and contents of the `pub/static/` folder. All static resources for the particular page will be published automatically as [symlinks](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css_debug.html#css_debug_client).

What exact errors do you get?

[2016-07-13 13:35] DevXeni commented on #5583
Thank you

[2016-07-13 13:40] anton-huz commented on #4449
Hi guys,
We created an issue for investigation. MAGETWO-55348
We are going to retest and review different combinations with upgrade.

Please stay in touch.

[2016-07-13 13:45] anton-huz commented on #3037
Hi @ezequielalba
We'll do investigation under internal ticket MAGETWO-53822.

Thanks.

[2016-07-13 13:46] DevXeni commented on #5583
In /var/www/html/magento2/vendor/magento/module-ui/view/base/web/js/lib/registry only registry.js is. No others.
in /var/www/html/magento2/vendor/magento/module-ui/view/base/web/js/lib/knockout/extender/ only bound-nodes.js  and observable_array.js. No others.

Well.
As I understand the missing files does not downloaded by composer from repository. Sad. Will download archive from official website.

[2016-07-13 13:49] Igloczek commented on #5583
It's your instance problem - I just end creating project via `composer create` and everything is in place.

[2016-07-13 13:52] anton-huz commented on #2194
Hi Dmitriy,
We decide to make improvement in this area. We'll do some investigation under MAGETWO-55352.

[2016-07-13 13:53] DevXeni commented on #5583
Just now, I've  downloaded  the archive from official website, I've checked locations of missing files, there are no required js files. Well... very strange.

[2016-07-13 13:54] Igloczek commented on #5583
Did you get this errors on some view or just globally? My panel works fine and I don't have these files too.

[2016-07-13 13:58] DevXeni commented on #5583
On backend, also on frontend -  everywhere js errors. Different but still there.
Admin panel does not work properly, on frontend - I have no sample data there but in firebug I see errors.

[2016-07-13 14:00] lucscu commented on #4321
Same issue on 2.1
Anyone?

[2016-07-13 14:02] Tjitse-E commented on #4321
@LucScu my issue was solved when I upgraded to 2.1.

Did you test this issue on a new 2.1 installation?

[2016-07-13 14:02] Igloczek commented on #5583
Do you have names of this files mentioned somewhere inside`pub/static/_requirejs/`? (without `.js` suffix)

[2016-07-13 14:05] DevXeni commented on #5583
/var/www/html/magento2/pub/static/_requirejs/adminhtml/Magento/backend/en_US
requirejs-config.js
only.

[2016-07-13 14:07] pareshe opened #5619 "Product view page refresh when Click "Add to Cart" button in magento 2.1.0 ,before that not refresh in magento 2.0.X."
Go To product view page and click on button "Add to Cart".

[2016-07-13 14:08] Igloczek commented on #5583
As far as I understand how JS is working in M2, you shouldn't have it here.
I'm out, It's too weird for me 😉

[2016-07-13 14:08] anton-huz commented on #5316
Hi @hostep ,
We are going to find solution under MAGETWO-55356.

[2016-07-13 14:09] choukalos commented on #5590
Hi @ednacool the algorithm in both MySQL and Elasticsearch should return products containing 'Natural Oil' with a higher relevancy then products that only contain one of those words.  So you should see Natural Oil on the 1st page right at the top with Natural Cream or Natural Aloevera lower in the search results.  Note that our search algorithm looks at several product fields and has a weighting o

[2016-07-13 14:09] #5590 closed, assigned to nobody

[2016-07-13 14:13] lucscu commented on #4321
I upgraded from 2.0.7 to 2.1 and issue still continue.
Have i to do something to make it works?

[2016-07-13 14:14] borishuseincehajic commented on #4755
HI,

Having similar issue with the braintree payment extension but the problem is that the payment is not appearing at all on the checkout page. Just saying no payment methods available.

I tried merge, unmerge js, tried moving braintree.js and utils to the footer (some said it cannot target container because it didn't rendered yet) with no success. Currencies are the same in sandbox and shop, I c

[2016-07-13 14:14] buskamuza commented on #5112
Similar internal ticket MAGETWO-46318

[2016-07-13 14:16] ghost commented on #5247
I don't think so. I have installed CE and EE 2.1 recently and am able to use the Setup Wizard. Hopefully someone from engineering will respond. Sorry for the trouble.

[2016-07-13 14:19] YevSent commented on #4755
Hi, @borishuseincehajic, this Github repo only for Magento 2. The Magento 2.1 uses new implementation of Braintree, which has full reworked frontend and backend code.

[2016-07-13 14:20] borishuseincehajic commented on #4755
Ahh got it. Sorry about that. Thnx for the info.

[2016-07-13 14:27] piotrekkaminski commented on #4159
@astorm @KrystynaKabannyk @tanya-soroka @xcomSteveJohnson  i'm reopening this issue as it was not fixed. The only change is that there is no longer link to setup wizard in menu if Magento is installed in /pub but proper solution is scheduled for next version and tracked as MAGETWO-52799. It turned out it is harder to fix than expected and it was not merged into 2.1.

[2016-07-13 14:29] piotrekkaminski commented on #5247
The release notes are incorrect here @tanberry. The issue was not fixed due to unexpected challenges and is scheduled for next version, tracked internally as MAGETWO-52799. You can find more information https://github.com/magento/magento2/issues/4159.

[2016-07-13 14:35] anton-huz commented on #1981
Just a notice: internal ticket MAGETWO-55345 has been created.

[2016-07-13 14:44] davidalger commented on #5579
@mktudock So others on the core team can try and reproduce, what version of Magento and PHP are you using?

[2016-07-13 14:45] anton-huz commented on #2003
Hi Dmitrii,
Described issue is not only the _loader_ problem. It touches all client side app. Because as you found _dictionary_ is loaded in async way.

In 2.1 we improved loading dictionary in browser. But it still is faw from ideal. And we are looking for improvement.

Current issue has limited scope and fixed in 2.1. I close the issue.

But if you has any ideas for translation improvements — yo

[2016-07-13 14:45] #2003 closed

[2016-07-13 14:45] #5106 closed, assigned to sdzhepa

[2016-07-13 14:50] amanuni commented on #4449
Hi,

Thanks for update i am getting same same issue with magento admin product, order and customer grids also please take a look also.

![image](https://cloud.githubusercontent.com/assets/2352740/16807718/5c4871a4-48ce-11e6-8e91-cb24361d59c9.png)

[2016-07-13 15:02] mktudock commented on #5579
I'm sorry, we were still using a RC of 2.1.0. Yesterday we upgraded to 2.1.0, and I just tested di:compile again, and the issue seems to be resolved.
setup:di:compile now sets the correct interceptor classes.

I don't know if the update itself fixed the issue, or if something else was the reason, but I'm happy it's working now. :)

[2016-07-13 15:02] #5579 closed, assigned to nobody

[2016-07-13 15:07] DevXeni commented on #5583
Ok,
Right now. I open same magento on  laptop (ubuntu 14, without updates after installation. firefox 31!) and wow all is OK! On my RedHat7 desktop (with latest updates and newest firefox) I've got errors. I use the exact same virtual machine on laptop and desktop. WOW, Magento team  - this js solution is very unsuitable!

[2016-07-13 15:07] #5583 closed, assigned to nobody

[2016-07-13 15:10] DevXeni commented on #5583
Thank you,  Igloczek and crantron, for your replies and time.

[2016-07-13 15:10] slavvka commented on #3787
Hi all. This is not a bug since such a behavior is standard for all Magento collection.

[2016-07-13 15:10] #3787 closed, assigned to okorshenko

[2016-07-13 15:28] nmallepally opened #5621 "mini cart does not clear after placing an order - magento 2.0.7"
Hello,

After i have completed the purchase or placing an order the cart still shows the items and does not remove itself untill any new products added again. it is misleading. can any one give some insight on this?. do i need to upgrade 2.1 to fix or is there any alternative solution.

Thanks,
Navya

[2016-07-13 15:35] alcantera commented on #4849
i got the same problems and i like to now where i can find the sollution?

[2016-07-13 15:38] quickshiftin opened #5622 "Invalid sort passed to applySorting() on Content -> Configuration page"
## Steps to reproduce
1. Install Magento 2.1.
2. In the admin interface, navigate to Content -> Configuration
## Expected result
1. Page loads without error
## Actual result
1. Error dialog appears "Something went wrong"

In the file _vendor/magento/module-ui/Component/Listing/Columns/Column.php_ the `applySorting` function sets the `$sorting` variable to

`array(2) { ["field"]=> string(14) "theme

[2016-07-13 15:39] sdzhepa commented on #5490
Hello @andidhouse

We tried to reproduce the issue using next test case:

### Test Preconditions
- Magento 2  CE version 2.1 is downloaded and installed with default settings(changed only: DB name, DB user, admin account information)
- No changes in Store>Configuration expect described in this case all in default condition as after install
-  Simple product is created with price = 10
- Table Rate

[2016-07-13 15:41] alcantera opened #5623 "No incl tax when not logged in"
## Steps to reproduce
1. did set alle tax rates and groups and so on. working als retailer,wholesale and general

only NOT LOGGED IN is not changeble
## Expected result
1. See the incl tax (119 euro ) and excl tax ( 100 euro ) when not logged in
## Actual result
1. Excl tax is show as incl en excl price.
2. ![tax](https://cloud.githubusercontent.com/assets/20442513/16809535/f7f3ffe0-4920-11e6-8739

[2016-07-13 15:44] Valentyn-Kubrak commented on #5212
Hello Team! It's real priority issue, Wysiwyg does not work correctly on all magento versions.

[2016-07-13 15:46] andidhouse commented on #5490
hi @sdzhepa

i think there are two problems:
1. "and click outside the Country dropdown" - a user does not know this to click outside the dropdown. normal is to have the value switched when clicking the value IN the dropdown. I think this should auto update
2. The correct value in the shipping section is only shown if the "zip" number is entered in the field. This is bad practice as for example in

[2016-07-13 15:49] tanghia commented on #4671
I'm not sure about magento 2 EE, however, magento 2.1 CE still has this issue !

[2016-07-13 16:26] eug123 commented on #5401
@Bartlomiejsz,
While related ticket (MAGETWO-45264) is still not resolved. Please, try to set
`Use Static URLs for Media Content in WYSIWYG for Catalog` value to `yes` (_Stores->Configuration->General->Content Management->WYSIWYG Options_) and update your attribute content.

Thank you

[2016-07-13 16:35] Bartlomiejsz commented on #5401
@pboisvert observed on 2.0.7. This bug isn't connected with one image, all transparent .png files loaded this way are showing exactly same.

@eug123 thank you for answer, hope you will be able to fix it soon, static url option is something I wanted to avoid.

[2016-07-13 16:44] jernejh opened #5624 "Cannot read property 'options' of undefined"
## Steps to reproduce
1. Install Magento 2.1.0 with CLI
2. Programatically add required attributes with values
3. Import CSV file with configurable products, which worked with version 2.0.4 - 2.0.7
## Expected result
1. Configurable products will be populated with product options (such as colors, size etc).
## Actual result
1. Configurable Product Options not populating dropdown, with _Cannot read

[2016-07-13 17:27] acharrex opened #5626 "Products displayed in a random order when a filter is active"
## Steps to reproduce
1. Install Magento from `develop` branch
2. Install sample data (easy way) or create products, one category and one filterable attribute
3. Go to a product category (by example "Women > Tops")
4. Select a filter (by example "Climate > Indoor")
5. Sort products by position
## Expected result
- Products position should stay the same across page loads
## Actual result
- Products

[2016-07-13 17:33] hostep commented on #5617
@werdlv: semver applies to the module versions, not to the big Magento versions which are being used for marketing purposes (imagine that for this change they had to release Magento 3.0, would be a bit silly)

Anyway, they applied semver correctly in this case, see:
[magento/module-cms in Magento 2.0.x](https://github.com/magento/magento2/blob/2.0/app/code/Magento/Cms/composer.json#L21) vs [magent

[2016-07-13 17:35] POLYPERFORMANCE commented on #5008
same bug but in multi store mode

[2016-07-13 18:01] azeemism opened #5627 "main.CRITICAL: Broken reference (Magento CE v2.1)"
The following system.log entries appear in Developer Mode

@piotrekkaminski unfortunately this does not seem to be fixed in CE 2.1 per #3507 (which has been closed), so I have created a new issue.

Installation following devdocs instructions for composer and cli install. vcl for varnish 4 generated through Magento Admin. Following install 'php bin/magento indexer:reindex' was run.

Developer Mode

[2016-07-13 18:43] davidalger commented on #5579
@mktudock Sounds great, thanks for the update! Let us know if the issue comes back.

[2016-07-13 18:57] developer-lindner commented on #5393
@eug123 Got also trouble deploying static content. Will be the same issue... seems like another bug introduced with 2.1.0 release.

[code]

grunt exec:theme_name
grunt less:theme_name

"works" although i don't see the styles applied in frontend.
If you're using a copy of the luma theme you ll have to apply this as well:
http://magento.stackexchange.com/questions/107375/lib-popup-button-close-icon-

[2016-07-13 18:59] razoyodev opened #5628 "data-order-config values not properly escaped in admin panel"
This was noticed when attempted to edit an order to add a coupon code. The issue is that the key value pairs are not being properly escaped to be placed within the content of an html attribute on an element.
## Steps to reproduce
1. Create a customer from the admin panel. Add an address to this customer. Use a company name with an apostrophe in it such as Marcia's Flight Of Fancy. (Other fields wi

[2016-07-13 19:16] jsakars commented on #5617
@hostep as a technical user (developer) You don't care about version for each specific Magento module as You don't depend on them directly - Magento CE does. Normally user is only concerned with `"magento/product-community-edition"` dependency.

Also it's seems very strange that [Upgrade to Magento version 2.1](http://devdocs.magento.com/guides/v2.0/release-notes/tech_bull_21-upgrade.html) (which

[2016-07-13 19:38] #5624 closed, assigned to nobody

[2016-07-13 19:39] jernejh commented on #5624
i had to delete all products in the catalog and import them again and it works now...

[2016-07-13 19:42] springimport commented on #5557
For temporary solution, increase the Admin Session Lifetime.

[2016-07-13 20:51] adragus-inviqa commented on #5617
I get your frustration. Had it, too. But...

They cannot maintain BC. Simple. Not at this stage. There's too much to update (M1 cruft). They're trying _really_ hard from what I can tell, but they can't always keep BC _and_ modernise M2 codebase, both at the same time.

Even if they stood by semver (which they don't), semver itself is not a guarantee, merely a _pursuit_.

PS: I could be completely

[2016-07-13 20:53] developer-lindner commented on #4725
Almost similiar to #5393. @OgreMHDW missed to configure themes.js

[2016-07-13 20:57] vrann commented on #3787
@vanderlee There are couple of options on what to do if page is larger than number of pages available -- Magento just selected default one used in Collections assuming this would be the most familiar way for developers. Are there any situations where this causes problems? Client can always decide to ignore the response. Also it doesn't look to make sense to iterate through search results "while no

[2016-07-13 21:12] tanberry commented on #5247
@rbostan and @crtsl  apologies that this issue is listed is Fixed in Rel Notes. As @piotrekkaminski explains above it was a last minute realization, and we failed to reflect final decision.

[2016-07-13 21:20] adragus-inviqa opened #5629 "M2.1: "setup:di:compile" doesn't work with the "::class" keyword"
The same problem as https://github.com/magento/magento2/issues/1722.
## Steps to reproduce
1. Install Magento 2.1
2. Create a module, somewhere having something like `$objectManager->get(\My\Class::class)`.
3. run `php bin/magento setup:di:compile -vvv`
## Expected result
1. A success message.
## Actual result
1. Exception (below).
2. Realised that maybe this is the reason core devs are not using

[2016-07-13 22:00] hostep commented on #5617
@werdlv: sorry I wholeheartedly have to disagree here. As a developer, you actually _should_ care about specific modules and their versions, since your custom code is most likely depending on one or multiple of those modules. Your custom module is built for a specific version of those modules. So whenever one of these Magento modules gets a backwards-incompatible update, you are forced to review y

[2016-07-14 00:33] ismaeljhon commented on #5592
that's why every time I re-index it's on CLI ...

[2016-07-14 01:16] flecxie commented on #5222
Same problem here after upgrading from Magento 2.0.7 to 2.1.0, note that my Magento 2.0.7 had products imported from a 1.7.0.2 database using data-migration-tool.

After following steps below all my products show as 'out of stock' and don't show up in categories:

[code]

I have MySQL 5.6.3 running on localhost.

I can still see the products when I visit product pages directly but can't order thes