[2018-06-16 09:56] okorshenko commented on #15620
Hi @kkrieger85 thank you for your research and investigation the issue

[2018-06-16 09:58] nic02381 opened #16186 "Uncaught Type Error in magento 2, JS not loaded properly"
I am integrating a new theme in magento 2.2. Also I used some third party JS like bootstrap select menu, owl carousel and wow js for animation.

Preconditions
1.  My Magento version is 2.2 CE

Steps to reproduce
1. I use all my third party js inside require js with a custom module.
2. Also I edit the js with define([
    'jquery'
], function () {
<js content>
});

Expected result

1. I want to cle

[2018-06-16 10:03] okorshenko commented on #16186
@magento-engcom-team give me 2.2.4 instance

[2018-06-16 10:03] magento-engcom-team commented on #16186
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-16 10:04] magento-engcom-team commented on #16186
Hi @okorshenko, here is your [Magento instance](https://i-16186-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16186-2-2-4.engcom.dev.magento.com/admin](https://i-16186-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-16 10:04] okorshenko commented on #16186
Hi @nic02381 could you reproduce the issue on vanilla Magento installation?
Try https://i-16186-2-2-4.engcom.dev.magento.com/admin

[2018-06-16 10:06] okorshenko commented on #16185
Configure your cron jobs, please
Here is some documentation https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-cron.html

[2018-06-16 10:06] #16185 closed, assigned to nobody

[2018-06-16 10:10] nic02381 commented on #16186
Hi @okorshenko
I didn't try with vanilla Magento installation. What's this?
what I do with this [](https://i-16186-2-2-4.engcom.dev.magento.com/admin) link.

[2018-06-16 10:13] xpoback commented on #16158
@jitendra-cedcoss I could reproduce the issue in 2.1.x but not in 2.2.x

[2018-06-16 10:15] okorshenko commented on #16163
@magento-engcom-team give me 2.2.4 instance

[2018-06-16 10:15] magento-engcom-team commented on #16163
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-16 10:16] magento-engcom-team commented on #16163
Hi @okorshenko, here is your [Magento instance](https://i-16163-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16163-2-2-4.engcom.dev.magento.com/admin](https://i-16163-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-16 10:19] okorshenko commented on #16163
Hi @DanielRuf

Sorry for confusing. I can explain why it does not work:
1. use used the command `@magento-engcom-team give me 2.2.4 instance` in the issue description, but it should be in the **comment**. That's why it didn't work

2. use used the command `@magento-engcom-team give me 2.3 instance` in the issue comment which is correct, but we don't have 2.3 release available yet (it is not releas

[2018-06-16 10:19] magento-engcom-team commented on #16163
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-16 10:20] magento-engcom-team commented on #16163
Hi @okorshenko, here is your [Magento instance](https://i-16163-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16163-2-2-4.engcom.dev.magento.com/admin](https://i-16163-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-16 10:20] #16163 closed, assigned to sdzhepa

[2018-06-16 10:41] pascalckunz commented on #14056
@magento-engcom-team give me 2.3-develop instance

[2018-06-16 10:41] magento-engcom-team commented on #14056
Hi @pascalckunz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-06-16 10:41] magento-engcom-team commented on #14056
Hi @pascalckunz, here is your [Magento instance](https://i-14056-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-14056-2-3-develop.engcom.dev.magento.com/admin](https://i-14056-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-16 10:46] xpoback commented on #15640
Guys, this is no Stack Overflow. This a place where ISSUES and BUGS should be reported.

If you have some "how to" questions, please go to:
https://magento.stackexchange.com/
https://devdocs.magento.com/

[2018-06-16 10:46] #15640 closed, assigned to xpoback

[2018-06-16 11:07] marco7319 commented on #5863
same problem with magento 2.2.3 - I have 7500 products

[2018-06-16 11:13] DanielRuf commented on #16163
Makes sense. Can we make this a bit more clear for the bot that it can not be directly used in new issues but as comments on issues and PRs?

[2018-06-16 11:15] DanielRuf commented on #16163
@magento-engcom-team give me 2.3-develop instance

[2018-06-16 11:15] magento-engcom-team commented on #16163
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-06-16 11:15] DanielRuf commented on #16163
Awesome =)

[2018-06-16 11:15] magento-engcom-team commented on #16163
Hi @DanielRuf, here is your [Magento instance](https://i-16163-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-16163-2-3-develop.engcom.dev.magento.com/admin](https://i-16163-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-16 11:31] xpoback commented on #15434
@dankhrapiyush I can confirm that the bug is reproducable. I'll create another issue for that

[2018-06-16 11:41] xpoback opened #16188 "Multiple refresh on checkout page removes items from cart"
### Preconditions

1. Magento 2.2.3
2. PHP 7.1

### Steps to reproduce

1. Add a product to cart
2. Go to checkout
3. Quickly refresh the page a couple of times, not waiting until everything is loaded

### Expected result

1. The page is refreshed

### Actual result

1. User redirected to cart page
2. Cart is empty (no items in quote)
3. Minicart is still cached and shows the previous state

This

[2018-06-16 12:45] kkrieger85 commented on #14879
@syedsaleem086 I tried to add your example attributes via install script. In my 2.2.6-dev vanilla magento abn_acn and payment_terms was visible in backend. (Customer-Tab, add new customer).

commenced_business was not shown at all - but was added to database.

Is commenced_business shown in your backend?

[2018-06-16 13:48] xpoback commented on #16188
There appears to be a [fix](https://github.com/magento/magento2/commit/a6f146cd9302fbbb6305df9613c7ce3eea7a05ae) for this issue, but has not been released yet. Let's just wait for it.

[2018-06-16 13:48] #16188 closed, assigned to xpoback

[2018-06-16 14:13] mhauri commented on #14052
Can reproduce it on 2.2-develop and 2.3-develop.

[2018-06-16 14:17] kkrieger85 commented on #14879
To reproduce you can make this field visible in backend with editing `Magento/Customer/view/base/ui_component/customer_form.xml` and add this snippet at around line 260.

[code]

I can now reproduce this behavior in magento 2.2.6-dev

[2018-06-16 15:07] therouv commented on #15599
Hi @etcik1 thank your for raising this issue. I tried to reproduce this issue but it seems to be no bug but a configuration error on your store.

In the system configuration in the currency setup group you can specify a "base currency" for the website. If you forget to change this setting on website level to currency B as well, then Magento will always use the base currency for display in the Mage

[2018-06-16 15:07] #15599 closed, assigned to therouv

[2018-06-16 15:11] therouv commented on #15599
#mhlej18

[2018-06-16 15:16] kkrieger85 commented on #14879
You could use following files to reproduce this issue: https://gist.github.com/kkrieger85/a00bb91ef9171d06c04c49ef46e779d8

[2018-06-16 15:28] thomas-blackbird commented on #13346
It seems that the issue has been resolced in #14874
I'm closing the issue.

[2018-06-16 15:28] #13346 closed, assigned to nobody

[2018-06-16 16:03] therouv commented on #13648
@magento-engcom-team give me 2.3-develop instance

[2018-06-16 16:03] magento-engcom-team commented on #13648
Hi @therouv. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-06-16 16:04] magento-engcom-team commented on #13648
Hi @therouv, here is your [Magento instance](https://i-13648-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-13648-2-3-develop.engcom.dev.magento.com/admin](https://i-13648-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-16 16:14] therouv commented on #13648
Issue is not reproducible on vanilla 2.2-develop and 2.3-develop since the attribute is generally not shown anymore.

![tc_1_config](https://user-images.githubusercontent.com/393419/41500415-05c785de-7191-11e8-90eb-8f4efa3e6c1f.jpg)

![tc_1](https://user-images.githubusercontent.com/393419/41500401-d2f2d816-7190-11e8-92a9-45339883fe58.jpg)

[2018-06-16 16:14] #13648 closed, assigned to therouv

[2018-06-16 19:16] skynixukraine commented on #7215
On Magento 2.2.2 EE the issue still exists, dynamic urls do not work with:

1. Product
2. Category
3. Content Banner

[2018-06-17 03:59] SaintLuticriss opened #16191 "Failed to set ini option "session.save_handler" to value "files"."
### Error Message

### Steps to reproduce
1. Install a fresh copy of Magento 2.2.4 via GoDaddy's cPanel Installatron.
2. Go to the installed Magento location. Weep at the error message.

### Expected result
1. Not see an error message. Perhaps a homepage, or a login screen.

### Actual result
1. See the error message, no matter where on the Magento site you go.

### Environment
- **Magento 2.2.4**

[2018-06-17 09:14] Aranjan21 commented on #16174
I installed magento2 using this code on virtual box but my url is not opening . I have given correct permission to file as well still its not loading

[2018-06-17 09:20] xpoback commented on #16184
@Jakhotiya other methods like capture(), authorize(), refund() are not in the interface as well, so this is either deliberate or just not done yet. The actual problem should now be fixed in the PR above.

[2018-06-17 09:35] therouv commented on #13690
#mhlej18

[2018-06-17 09:36] therouv commented on #13690
@magento-engcom-team give me 2.2-develop instance

[2018-06-17 09:36] magento-engcom-team commented on #13690
Hi @therouv. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-06-17 09:36] magento-engcom-team commented on #13690
Hi @therouv, here is your [Magento instance](https://i-13690-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-13690-2-2-develop.engcom.dev.magento.com/admin](https://i-13690-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-17 09:37] kkrieger85 commented on #16101
@forwells What does your email look like?

Magento uses default php function 'filter_var' to validate email.
Maybe you can test your used email with this snippet:

[code]

[2018-06-17 09:47] DanielRuf commented on #16101
Which PHP version do you use?

[2018-06-17 09:56] JulianBour commented on #14116
#mhlej18

[2018-06-17 09:56] magento-engcom-team commented on #14116
@JulianBour thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-17 09:59] LuckAlexander commented on #14116
#mhlej18

[2018-06-17 09:59] magento-engcom-team commented on #14116
@LuckAlexander thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-17 10:08] tonytrinh206 commented on #12527
@sohrobraja & @pieal86,

I have changed Magento source code to solve the problem.
Open file in vendor/magento/framework/Locale/Format.php

Line 93: You will see this function

[code]
Basically, if the locale code = VN then just replace the dot with comma.
@sohrobraja, you localeCode should be ja_JP, so you code should be
[code]

Remember to clear cache after edit the file.

[2018-06-17 10:10] therouv commented on #13690
I can't reproduce this issue on a vanilla 2.2-develop instance with the described steps. Seems to be fixed in the latest version.

I enabled guest checkout and persistent shopping cart in store configuration:
![13690_conf1](https://user-images.githubusercontent.com/393419/41506797-e412f970-7224-11e8-8b59-0fc2794e16f8.jpg)
![13690_conf2](https://user-images.githubusercontent.com/393419/41506798-e42

[2018-06-17 12:19] vincent2090311 opened #16198 "Category image remain after deleted"
### Preconditions

1. Magento 2.2.4 with sample data
2. nginx 1.8, mysql 5.7, php 7.0

### Steps to reproduce

1. Go to Admin > Catalog > Categories
2. Upload image via field Category Image under Content section > Save
3. Click on trash icon to remove image > Save

### Expected result

1. Image disappeared in category management + Image under pub\media\catalog\category should be removed

### Actua

[2018-06-17 13:16] pascalckunz opened #16199 "Coupon API not working correctly"
### Preconditions
1. Magento Version: 2.2.6 (developer at this time)

### Steps to reproduce
1. Create additional Website/Store/Storeview
2. Create coupon, that is only active on one Website.
3. API create new cart:
POST /rest/V1/guest-carts
Accept: */*
Cache-Control: no-cache
Authorization: Bearer xxs
4. API fill cart with a product:
POST /rest/V1/guest-carts/{cartId}/items
Accept: */*
Cache-Cont

[2018-06-17 14:27] salelsol commented on #14964
@kamranmalikawan; any solution works for me. Any more solution ??

[2018-06-17 15:35] vasilii-b commented on #13401
For the admin panel, I've found responsible method `joinGroupAndStore` from `Magento\Store\Model\ResourceModel\Website\Collection`.

https://github.com/magento/magento2/blob/cc85cbe1a1220225905440b4b71e144df2540d58/app/code/Magento/Store/Model/ResourceModel/Website/Collection.php#L125-L134

But I do not understand why there is the need to sort by Group Name, Store View Name and Store View Order.
C

[2018-06-17 15:54] Orstio opened #16201 "PNG with transparency resized to completely transparent image"
### Preconditions

1. Upload a PNG image with a transparency. (Original image attached)
![americana steel front](https://user-images.githubusercontent.com/6753949/41509580-eaedb388-721b-11e8-966b-fffb529b2ea9.png)

2. All of the resized images are blank, completely filled with transparency. (resized image attached, YES there is an image there.)
![americana-steel-front_1_9](https://user-images.gith

[2018-06-17 15:58] hostep opened #16202 "Moving category in hierarchy causes url_path to be incorrect when using different url keys in multiple storeviews"
Hi!

This is yet another issue in the seemingly endless catalog of Magento2 url bugs with categories and products when using multiple storeviews.

### Preconditions

1. Tested with Magento 2.2.4 & Magento 2.3-develop branch (commit: 2910d8b03e8), and most likely also all Magento 2.1.x and 2.0.x releases are affected (untested)
2. PHP 7.1.18
3. Updates on Dec 23, 2020:  Issue still actual for 2.4.x

[2018-06-17 16:43] orlangur commented on #16163
@okorshenko thanks for comprehensive explanation, some response from bot like "no 2.3 released yet, you may use 2.3-develop" or "invalid release specified, available releases: 2.1.15, 2.2.4, 2.3-develop" would not hurt though.

[2018-06-17 17:06] orlangur commented on #16198
@vincent2090311 looks like a duplicate of https://github.com/magento/magento2/issues/13289, isn't it?

[2018-06-17 17:14] vincent2090311 commented on #16198
@orlangur
#13289 is talking about file in tmp folder. Im talking about images under pub\media\catalog\category (that mean category already saved, image already moved from tmp to pub\media\catalog\category). The issue is when you delete category or remove category image, the image still exist under pub\media\catalog\category

[2018-06-17 17:33] hostep commented on #16202
This is just a proof of concept (it's really dirty code I think), but applying this patch resolves the issues with the `catalog_category_entity_varchar` table, but it leaves one incorrect url rewrite case (which might not be directly related to this issue).

After applying this patch, the url's on the frontend become almost correct, except for one case:

### Expected:

| Category name | Category u

[2018-06-17 18:21] ramindas commented on #14952
Same issue here,from address blank in sales email and SMTP server is allowing to relay.

Sales email blank from address

Please help to fix the issue

Thanks

[2018-06-17 19:26] bnymn opened #16203 "New order notification is not sent to the admin"
When a customer places an order, (s)he receives an order confirmation email but admin does not receive any notification.

I have traced back the error to this file (**vendor/magento/module-sales/Model/Order/Email/Sender.php:84**)

![screenshot from 2018-06-17 16-24-56](https://user-images.githubusercontent.com/3506402/41511324-070b3c3c-724b-11e8-9e03-a151806aa053.png)

It throws an exception with

[2018-06-17 19:29] bnymn commented on #16203
I think the following issue is related with this one. #16165

[2018-06-17 23:07] syedsaleem086 commented on #14879
Hi, @kkrieger85
Is commenced_business shown in your backend?
Yes, It is showing.

[2018-06-18 04:42] navneetbhardwaj commented on #15481
I am facing the Same Issue.
when I am trying to link association using REST API. Configurable product loses Image Roles.

[2018-06-18 05:37] kervin commented on #5664
Ok. In 2.2.4 you need to set the default role model in your di.xml. Below is the code to login the user.

use Magento\Framework\App\State;
use Magento\User\Model\UserFactory;

 public function __construct(
        State $state,
        UserFactory $userFactory,
    ) {
        $this->state = $state;
        $this->userFactory = $userFactory;
        $this->loginAdminUser();

        return $this;

[2018-06-18 06:27] shachiarkatkar opened #16205 "Category Condition in cart price rule not working"
When we setup a cart price rule with category condition in product sub-selection, all categories are not shown in category tree and even after selecting any of the visible category coupon is invalid
### Preconditions

1. Magento 2.2.4
2. PHP 7.0.27
3. Mysql 5.7.21
4. Nginx

### Steps to reproduce

1. Navigate to Cart price rule tab and create a cart price rule
2. Add condition of category
3. Apply

[2018-06-18 06:31] springerin commented on #16171
I think you misunderstood the issue and your answer doesn't really relate to the bug since is something wrong with the cli command and not with the frontend. Plus modifying the index.php as in the guide you're referencing to says, isn't the only way to go.

[2018-06-18 06:57] tejabhagavankollepara opened #16207 "User registration is not working"
I have installed fresh Magento-2.2.2 in my local server. In this, Registration is not working. I have entered the first name, last name, email id for login and password then hit on the submit button. After entered this is just loading and be at same page but registration is not working . Please check once. Thank you.

[2018-06-18 07:00] hostep commented on #16205
@shachiarkatkar: this sounds like a duplicate of https://github.com/magento/magento2/issues/15121, for not being able to see all categories, although I don't know if the fix mentioned in that thread (https://github.com/magento/magento2/commit/d9dc66cfc5e1988bd8673c2cfdd1de2b85f0a3c6), will also fix the fact that the coupon is invalid.

Feel free to close this issue, if you believe this is a duplic

[2018-06-18 07:35] Jakhotiya commented on #16184
Thanks @xpoback . But I'm wondering why you passed response object to void method? More importantly how  did you figure out that you have to pass response received by payment gateway.

[2018-06-18 08:22] VladimirZaets commented on #15832
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16036 by @chirag-wagento in 2.3-develop branch
Related commit(s):
 - [d7e77e617e54d586a162ef0d63d74eba33d0efdb](https://github.com/magento/magento2/commit/d7e77e617e54d586a162ef0d63d74eba33d0efdb)
 - [c4de267a7bf32adf50d188531689de9cf75f0f11](https://github.com/magento/magento2/commit/c4de267a7bf32adf50d18853168

[2018-06-18 08:22] VladimirZaets commented on #15308
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#15975 by @chirag-wagento in 2.3-develop branch
Related commit(s):
 - [eee2e7ccd7aef585e973df28719b25941e7e401e](https://github.com/magento/magento2/commit/eee2e7ccd7aef585e973df28719b25941e7e401e)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-18 08:22] VladimirZaets commented on #1350
Hi @Zaylril. Thank you for your report.
The issue has been fixed in magento/magento2#15982 by @slackerzz in 2.3-develop branch
Related commit(s):
 - [9e5757df2e1ebfc75e93c9d793473662ec0e761e](https://github.com/magento/magento2/commit/9e5757df2e1ebfc75e93c9d793473662ec0e761e)
 - [1555b967b865b6a31f21b68461a8516254627d6f](https://github.com/magento/magento2/commit/1555b967b865b6a31f21b68461a8516254

[2018-06-18 08:22] VladimirZaets commented on #680
Hi @bubach. Thank you for your report.
The issue has been fixed in magento/magento2#16006 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [0501e1794641116c99c2e69d6adf383ce26d9adb](https://github.com/magento/magento2/commit/0501e1794641116c99c2e69d6adf383ce26d9adb)
 - [731b58f10925f9fa88e9541db91d8706f8ddcb63](https://github.com/magento/magento2/commit/731b58f10925f9fa88e9541db91d8706f8

[2018-06-18 08:22] VladimirZaets commented on #1221
Hi @risingravi. Thank you for your report.
The issue has been fixed in magento/magento2#15685 by @phoenix128 in 2.3-develop branch
Related commit(s):
 - [7259c4bc329c3b9b9541d3113bb46f3ba2f131d3](https://github.com/magento/magento2/commit/7259c4bc329c3b9b9541d3113bb46f3ba2f131d3)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-18 08:45] shachiarkatkar commented on #16205
@hostep its not a duplicate, I am facing two issue the category tree not loading properly and coupon code invalid even after . I can see some categories in tree but not all of them there is no error in console. The coupon code is invalid even after applying visible categories as shown in screenshot.

[2018-06-18 08:46] slackerzz commented on #1350
Hi @VladimirZaets, how could i have fixed this issue by fixing a test?

[2018-06-18 09:46] webspeaks commented on #16129
Having same issue on Magento Cloud v 2.2.4

[2018-06-18 09:54] simonmaass commented on #16129
@quisse workaround worked for me aswell - if u dont use klarna...

[2018-06-18 09:55] archonkulis commented on #5929
@hypershopbv Yep noticed that as well. Will try to fix it sometime this or next week and will keep you updated.

[2018-06-18 10:00] hypershopbv commented on #5929
@archonkulis, you will find a fix here:
https://github.com/magento/magento2/issues/13240

Has been fixed in 2.2.4, but cannot be used since there is a bug in 2.2.4 for multistores.

It seems the Magento core team finds it more important to include third party extensions (which do not work properly, like Klarna destroying the editor in backend) instead of fixing core bugs...

[2018-06-18 10:19] DanielRuf commented on #5929
Sorry but this is not true. The team consists of many contributors and volunteers who invest their free time in improving Magento. There are many issues and many people work on them.

Regressions happen and extensions can affect other things too.

[2018-06-18 10:27] karangar commented on #15201
Same problem in magneto 2.2.4
Please Check below screen shot.
![screenshot-192 168 10 217-2018 06 18-15-50-12](https://user-images.githubusercontent.com/34768419/41531208-3fe2460c-7310-11e8-8c9f-460a02446cde.png)
![screenshot-192 168 10 217-2018 06 18-15-48-30](https://user-images.githubusercontent.com/34768419/41531209-400b5b8c-7310-11e8-98de-e85d039aeb18.png)

Please help me how to resolve this

[2018-06-18 10:42] efimov-ivan commented on #7171
Confirm that error still happening in Magento 2.2.4

[2018-06-18 10:48] federicovecchiato opened #16208 "r"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-18 10:50] #16208 closed, assigned to nobody

[2018-06-18 10:55] BezV8 commented on #9020
I am seeing this issue still in 2.2.1, though sometimes it will take several refreshes for it to become apparent. I see that this is marked as being done in 2.3 develop, but can't see the changed files. Does anyone know what files were changed so it could be manually patched?

[2018-06-18 10:59] koseduhemak commented on #15771
Fixed it myself - like many other bugs in magento 2.1.9.

See here for more information: https://github.com/koseduhemak/MagentoBugFixes

[2018-06-18 10:59] #15771 closed, assigned to nobody

[2018-06-18 11:04] karangar opened #16209 "quantity_and_stock_status display result is wrong in product listing(Grid)."
### Preconditions
I have added product attribute(quantity_and_stock_status) column in catalog product admin grid for the filtering the "In Stock" and "Out of Stock" products list.

1.Magento 2.2.4

### Steps to reproduce

1. Go to Magento 2 admin => Stores => Attributes => Product => Search attribute code "quantity_and_stock_status".
2. Change "Advanced Attribute Properties" settings Scope => "Sto

[2018-06-18 11:06] karangar commented on #16209
This issue is already generated in https://github.com/magento/magento2/issues/15201

[2018-06-18 11:30] DanielRuf commented on #5929
Not sure, did anyone who found a solution / fix also provide a PR?

[2018-06-18 11:43] NiteshKuyate commented on #14827
any updates?

[2018-06-18 11:48] PrajaktaKalyankar-GSLab opened #16210 "Unable to get oauth_verifier for Magento2.0"
I am trying to do authentication using oauth 1 for Magento 2.0

I am unable to get oauth_verifier for Magento2.0 which is needed to get the access_token

I am trying to get the access token using POST /oauth/token/access which requires oauth_vefirier as one of the parameter.

I am refereeing [this](https://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-oauth.html) doc

[2018-06-18 12:08] LouNik1984 commented on #16134
Just to add:
- after saving the product manually with the procedure described above, the default store view shows the url correctly but the second store does not. So after saving the product, the default store view shows the url correctly (www.domain.com/url-of-the-product.html) while the second store view shows the url wrong (www.domain.com/catalog/product/view/id/1713/s/product-url-key/category/

[2018-06-18 12:27] AlbiIT opened #16212 "Second level Category page Layered Navigation not rendered when subcategory is added to category."
Magento 2.2.2

When I create a New Category and add products to it via the Category Products tab then the category layered navigation renders on the front end for that Category.

As soon as I add one subcategory, assign it some products, and save then Layered Navigation disappears from Parent category page.  Everything is work fine excepts layered navigation is missing on only second level categor

[2018-06-18 12:49] swayoleg commented on #11427
@magento-engcom-team  can you please share commit link or a fix as alternative?

[2018-06-18 12:50] 0m3r commented on #8222
The error also reproduces on 2.2.4
[code]
![2018-06-18 15-40-10](https://user-images.githubusercontent.com/412612/41536307-ef8fefa8-730d-11e8-810b-f0683e84dbc4.png)

the error was reproduced if window.location.pathname has two or more dots (for example /index.php/push-it-messenger-bag.html)

[code]

https://github.com/magento/magento2/blob/1cd82577beaceb11e2fe00faf7544e2888b939cf/lib/web/mage/coll

[2018-06-18 12:53] Patelcc commented on #16107
@ishakhsuvarov Yes i know `<esi:include>` is only processed by Varnish cache server, and not magento but magneto give default setting to select Varnish cache and also Magento Cloud Enterprise Edition need to must compatible with varnish cache.

[2018-06-18 13:15] itaymesh commented on #11427
This is the relevant commit
https://github.com/magento/magento2/commit/8c9f80bc6d2a2c83719b3eedbd519cbe73fcf168?diff=unified

I will need to add also some classes the above commit is relying on from other PRs.

Below is a complete patch tested on 2.2.3 (no guarantee it will work for you).

Good luck.

[Exclude_out_of_stock_products_from_configurable_index_final_price.patch.txt](https://github.com/

[2018-06-18 13:19] springimport commented on #16172
@orlangur Just check [same issue](https://github.com/magento/magento2/issues/14424).

[2018-06-18 13:35] TreyTaylor1997 commented on #16013
Hey,

any progress on this? :)

Thanks,

[2018-06-18 13:39] mhaack opened #16214 "Updating a cart item via REST API with quantity 0 should remove the cart item"
Updating a cart item via REST API with quantity 0 should remove the item from the quote. But instead it is always set to 1?

### Preconditions

1. Magento 2.2 CE

### Steps to reproduce

1. Create quote for guess user via REST API
2. Add product with quantity > 1
3. Update cart item with `PUT /rest/V1/guest-carts/CART_ID/items/ITEM_ID` and use `"qty": 0` as part of body.

### Expected result

1. C

[2018-06-18 13:45] lano-vargas commented on #14626
@Darvex  it didn't work for me, however the second_store_view_code only exist in the second website which is **http://test.co.uk** and changing the **xmlns:ns1** url works in the xml call only I've changed the main url like so:
`<?xml version="1.0" encoding="UTF-8"?>
<env:Envelope xmlns:env="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:ns1="http://tes

[2018-06-18 14:01] gitgiangalbe commented on #15481
only way to solve issue is to update Magento to 2.2.4.
Since i updated solved my problems. Unfortunately there isn't different solution.

[2018-06-18 14:03] orlangur commented on #16172
@springimport why do we need two issues then? Thanks for clarification, closing as duplicate.

[2018-06-18 14:03] #16172 closed, assigned to nobody

[2018-06-18 14:05] orlangur commented on #14424
@springimport there is no mistake here, just don't mix legacy models with new approach sticked to repositories.

You are not supposed to get order with extension attributes like `$invoice->getOrder()`, such approach violates Law of Demeter. Simply obtain order model via order repository.

[2018-06-18 14:05] #14424 closed, assigned to nobody

[2018-06-18 14:44] orlangur commented on #5929
@archonkulis @hypershopbv repeating my question, are you able to reproduce an issue on a vanilla Magento 2.2 installation?

There was another bug report related to `url_path` recently, https://github.com/magento/magento2/issues/16202. Is it the same problem? Looks like @hostep suggestion

would solve this issue as well.

[2018-06-18 14:57] nikidexa commented on #16207
check the log file...maybe some extension create this issue

[2018-06-18 15:43] tiagosampaio commented on #16174
@Aranjan21 what Magento's version are you using for this test?

[2018-06-18 17:47] MCReynolds73 opened #16218 "Abandoned cart page not opening in magento"
When i click on Abandoned Carts under the Reports tab I get an error message that the page isn't working. The error message states: This page isn’t working
www.americanflags.com is currently unable to handle this request.
HTTP ERROR 500
Please advise on how to fix. Thank you.

### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

##

[2018-06-18 18:17] bansavage commented on #16161
I am facing this same issue in _2.1.7_

The known current work around is, after global product creation, to unassign it from websites via command `DELETE /V1/products/{sku}/websites/{websiteId} ` and then reassign the product to websites using
`PUT /V1/products/{sku}/websites body { "productWebsiteLink": { "sku": "string", "website_id": 0 } }`

[2018-06-18 18:19] atsareva opened #16219 "Call to a member function getRates() using multishipping checkout"
Hi guys,

I've got error on multishipping checkout using default magento with sample data.

### Preconditions
1. Magento 2.2.3 / 2.2.4 (with sample data)
2. Ubuntu 16.04 lts
3. PHP 7.0.30
4. mysql  Ver 14.14 Distrib 5.7.22
5. apache

### Steps to reproduce
1. Login to customer account from sample data (roni_cost@example.com / roni_cost@example.com1)
2. Added product to the cart
3. Go to multishipp

[2018-06-18 18:20] axovel commented on #13736
Any updates on this ? I am also getting the same issue

[2018-06-18 18:23] kkrieger85 commented on #14879
@syedsaleem086 but it wasn't shown with default. You had to update ui_component. This was an information that was not in your issue description.

[2018-06-18 18:43] Jakhotiya commented on #16049
A theme is converted to virtual theme when a "theme record" EXISTS in the database but theme files are not found in app/design/frontend/VendorName/theme. So this can happen if you have a migrated database from m1. You set up an m2 instance with it and request a page before having your theme files in place. In any scenario where DB records exist but files aren't in place (or in some situations not

[2018-06-18 19:32] hostep commented on #5929
@orlangur: this thread is about the `url_path` of Products, #16202 is about url_path of Categories, these are completely different things.

But, there is indeed a problem with the `url_path` of Product, namely: it should always be empty. If you create a Product in the admin of Magento, it will never fill in the `url_path`.
But if both a `url_path` & `url_key` exist for a product, the url rewrite m

[2018-06-18 19:50] AdminLinenStore opened #16221 "Tax on Shipping when only Non-Taxable items in Cart and Flatrate Shipping"
### issue
We sell both taxable and non-taxable items from NY location so NY based shipping destination is required a sales tax charged based on item. We set up shipping to display separately and taxable (by default because there is no cart based method to choose from) and we cannot add tax to shipping price. In a simple explanation, shipping should only be charged sales tax if that order has 1 or

[2018-06-18 20:13] kgillis-atmosol commented on #10992
I am also seeing this issue on 2.2.0. Specifically, it happens for us when you select the Show By: Month option - the Show By: Days works fine. Both the csv export and the Excel export show only the column headers, no data.

[2018-06-18 21:01] LiamKarlMitchell commented on #4567
Still happening. Magento 2.2.0
Trying to cancel a Processing order. (Same if it's Held).
User does have cancel permission.

[2018-06-18 21:35] magento-engcom-team commented on #16079
Hi @mageho. Thank you for your report.
The issue has been fixed in magento/magento2#16190 by @Karlasa in 2.2-develop branch
Related commit(s):
 - [d468dba73f952522f3c6f9bca074c1a591562ca0](https://github.com/magento/magento2/commit/d468dba73f952522f3c6f9bca074c1a591562ca0)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-18 21:35] #16079 closed, assigned to Karlasa

[2018-06-18 21:35] magento-engcom-team commented on #15220
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16082 by @tejash-wagento in 2.2-develop branch
Related commit(s):
 - [3e4421c6beab94a1b30af1e9ab4c6123b76c253b](https://github.com/magento/magento2/commit/3e4421c6beab94a1b30af1e9ab4c6123b76c253b)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-18 21:35] #15220 closed, assigned to tejash-wagento

[2018-06-18 23:06] Zyles opened #16223 "GUI for shipping table rates"
Is it too much to ask for a simple table for table rate shipping management?

It is really a hassle exporting and import CSV every time you want to change a destinations shipping cost.

[2018-06-19 01:23] #16223 closed, assigned to nobody

[2018-06-19 01:50] forwells commented on #16101
@kkrieger85
This happens in a payment extension. When I click on the place order button as a visitor, the personal information I include in the payment form, including address information, is not stored in the quote table. I'm not sure what caused this.

[2018-06-19 01:50] forwells commented on #16101
@DanielRuf

[2018-06-19 04:43] DanielRuf commented on #16101
Can you test the code snippet against the problematic email address on 3v4l.org?

[2018-06-19 04:44] nic02381 commented on #16186
@okorshenko I got an answer.

[2018-06-19 04:44] #16186 closed, assigned to nobody

[2018-06-19 05:48] ravikiranpullela opened #16227 "Adding product in category in product->categories page in admin side is not working"
Issue:
1) when I am going to product->categories and trying to add product in that category,it is adding and after i click save button it is throwing error
Something went wrong while saving the category.SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`dilmahlive_uat`.`catalog_category_product`, CONSTRAINT `CAT_CTGR_PRD_PRD_ID_

[2018-06-19 06:38] forwells commented on #7665
@carylewis  Is there any new progress in the issue of email not being saved?

[2018-06-19 06:56] forwells commented on #16101
@DanielRuf
This problem is not an issue with the format of the e-mail. Instead, when the place order button is clicked, the quote table cannot save the e-mail address that the visitor fills in the first step of the shopping cart with the click. . .

[2018-06-19 07:59] Sharmilasrini95 commented on #6710
Still error  issue exists in Magento2.2.3

[2018-06-19 08:09] A-1A commented on #6253
I Found Solution after R&D On Magento database.
Login In your phpmyadmin
Go to your website database
Open "eav_attribute" table
Find Your "attribute_id"
Edit Row
If "backend_model" Column blank then paste this **Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend**
And Also Please check this
https://magento.stackexchange.com/questions/224621/warning-array-filter-expects-parameter-1-to-be-array

[2018-06-19 08:12] wangzhi0417 opened #16231 "Order confirmation & shipment mail not send on 2.2.4"
Preconditions
magento 2.2.4
magento2-gmailsmtpapp

Steps to reproduce
1) Upgrade magento to 2.2.4
2) Check Stores-> Advanced -> System -> Gmail/Google Apps SMTP Pro, all configurations are ok.
3) Click "Send test email", can receive test mail correctly.
4) Can send mail when a new user is registered.
5) After user placing an order, no confirmation mail, after ship the order, no shipment mail.

Ple

[2018-06-19 08:16] A-1A commented on #13520
I Found Solution after R&D On Magento database.
Login In your phpmyadmin
Go to your website database
Open "eav_attribute" table
Find Your "attribute_id"
Edit Row
If "backend_model" Column blank then paste this **Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend**
And Also Please check this
https://magento.stackexchange.com/questions/224621/warning-array-filter-expects-parameter-1-to-be-array

[2018-06-19 08:18] A-1A commented on #10540
I Found Solution after R&D On Magento database.
Login In your phpmyadmin
Go to your website database
Open "eav_attribute" table
Find Your multiselect "attribute_id"
Edit Row
If "backend_model" Column blank then paste this **Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend**
And Also Please check this
https://magento.stackexchange.com/questions/224621/warning-array-filter-expects-parameter-1

[2018-06-19 08:18] A-1A commented on #4545
I Found Solution after R&D On Magento database.
Login In your phpmyadmin
Go to your website database
Open "eav_attribute" table
Find Your multiselect "attribute_id"
Edit Row
If "backend_model" Column blank then paste this **Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend**
And Also Please check this
https://magento.stackexchange.com/questions/224621/warning-array-filter-expects-parameter-1

[2018-06-19 08:21] A-1A commented on #6281
I Found Solution after R&D On Magento database.
Login In your phpmyadmin
Go to your website database
Open "eav_attribute" table
Find Your multiselect "attribute_id"
Edit Row
If "backend_model" Column blank then paste this **Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend**
And Also Please check this
https://magento.stackexchange.com/questions/224621/warning-array-filter-expects-parameter-1

[2018-06-19 08:33] A-1A commented on #4822
I Found Solution after R&D On Magento database.
Login In your phpmyadmin
Go to your website database
Open "eav_attribute" table
Find Your multiselect "attribute_id"
Edit Row
If "backend_model" Column blank then paste this
**Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend**
And Please check this Url
https://magento.stackexchange.com/questions/224621/warning-array-filter-expects-parameter-1-

[2018-06-19 08:36] A-1A commented on #13177
I Found Solution after R&D On Magento database.
Login In your phpmyadmin
Go to your website database
Open "eav_attribute" table
Find Your multiselect "attribute_id"
Edit Row
If "backend_model" Column blank then paste this **Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend**
And also please check
https://magento.stackexchange.com/questions/224621/warning-array-filter-expects-parameter-1-to-b

[2018-06-19 09:21] sidolov commented on #1163
Hi @zivendesign. Thank you for your report.
The issue has been fixed in magento/magento2#16170 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [f53c620ec58f6854446369e935b9eede69eda60f](https://github.com/magento/magento2/commit/f53c620ec58f6854446369e935b9eede69eda60f)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-19 09:21] sidolov commented on #1190
Hi @sivajik34. Thank you for your report.
The issue has been fixed in magento/magento2#16153 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [2b8b9d57bc556639614dc27d8346b7743ab34dd1](https://github.com/magento/magento2/commit/2b8b9d57bc556639614dc27d8346b7743ab34dd1)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-19 09:21] sidolov commented on #14747
Hi @tohann. Thank you for your report.
The issue has been fixed in magento/magento2#15861 by @rahul-kachhadiya in 2.3-develop branch
Related commit(s):
 - [75516bf8ee74cbf115b1c2519cd412dc3cd63e20](https://github.com/magento/magento2/commit/75516bf8ee74cbf115b1c2519cd412dc3cd63e20)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-19 09:21] sidolov commented on #16047
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16097 by @DanielRuf in 2.3-develop branch
Related commit(s):
 - [204b4ac07b8eabd7b46f52492bc3094ce5420d17](https://github.com/magento/magento2/commit/204b4ac07b8eabd7b46f52492bc3094ce5420d17)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-19 09:21] sidolov commented on #15565
Hi @EliasKotlyar. Thank you for your report.
The issue has been fixed in magento/magento2#15759 by @vgelani in 2.3-develop branch
Related commit(s):
 - [61856f5e6d5ed69c810183c95ad15b571f308a4d](https://github.com/magento/magento2/commit/61856f5e6d5ed69c810183c95ad15b571f308a4d)
 - [4c77dff976361e70fc190c40b1fa5515cd136ce2](https://github.com/magento/magento2/commit/4c77dff976361e70fc190c40b1fa551

[2018-06-19 09:32] indefinitedevil commented on #12073
@nlwstein  Did rather throw it together in a hurry then replaced it with the patch from support. Thanks for the patch though

[2018-06-19 09:34] ryangerber1990 commented on #8410
This wasn't fixed

[2018-06-19 09:39] craigcarnell commented on #16049
@Jakhotiya The theme files are in place before setup, before migration from m1.

[2018-06-19 09:54] molovo opened #16234 "Unable to enter `+` character in widget content"
### Preconditions

1. Magento version: 2.2.3 (I haven't yet tested other versions)

### Steps to reproduce

1. Create a widget with a parameter of `xsi:type="text"` or `xsi:type="block"` with a textarea block
2. Add the widget to the content of a CMS page
3. Enter a string containing a `+` character into the text field of the widget

### Expected result

1. The `+` character appears on the rendere

[2018-06-19 09:58] orlangur commented on #16231
@wangzhi0417, which extension are you referring to? This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2018-06-19 09:59] cyildirim opened #16235 "Not able to run benchmark with jmeter on Magento 2.2.4"
I have followed performance toolkit document and run the below command. Not able to run benchmark with jmeter on Magento 2.2.4

[code]

### Preconditions

1. Magneto 2.2.4
2. Followed performance toolkit document
3. Created fixture in small & reindexed

### Steps to reproduce

1. Run below command after applied fixture and reindex
[code]

### Expected result
Expect works and give results

### Actu

[2018-06-19 10:34] cyildirim commented on #16235
solved with . Thanks

[code]

[2018-06-19 10:34] #16235 closed, assigned to nobody

[2018-06-19 10:54] avi88 opened #16236 "Product Image is not showing on detail page ? XML error"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-19 10:56] Rann1 commented on #10454
We currently have multiple clients who would love this feature, I hope it will be included/fixed soon...

[2018-06-19 11:30] maximgubar commented on #12073
@RomaKis if this issue was solved already, could you please properly link it and close it ?

[2018-06-19 11:37] reviskar opened #16237 "REST WEBAPI malforms parameters in v2.2.4 when decoding"
###  Background
We recently updated our system from 2.1.9 to 2.2.4.
A following critical error was introduced, using the built in REST API's as described here: https://devdocs.magento.com/guides/v2.2/rest/performing-searches.html

### Preconditions

1. Magento 2.2.4
2. PHP 7.0

### Steps to reproduce

1. Query products from `/rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=nam

[2018-06-19 11:37] PrajaktaKalyankar-GSLab opened #16238 "Unable to get access_token for Magento2.0"
I am doing **OAuth1 authentication for Magento2.0**. I am referring this doc: https://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-oauth.html.

I am trying to do this using Postman. I have followed steps mentioned in : [Magento 2: Where does the oAuth verifier token come from
](https://magento.stackexchange.com/questions/110026/magento-2-where-does-the-oauth-verifie

[2018-06-19 11:45] samuel27m opened #16239 "Change log tables (*_cl) getting auto_increment resetted when MySQL server is restarted"
### Preconditions

1. Magento 2.2.x
2. PHP 7.0
3. MySQL 5.7.22

### Steps to reproduce

1. Insert records in table "catalog_product_attribute_cl".
2. See the table auto_increment key grow higher.
3. When records are processed, cron "indexer_clean_all_changelogs" cleans all logs and leaves this table empty.
4. Restart MySQL

### Expected result

1. Table "catalog_product_attribute_cl" has the same

[2018-06-19 11:46] rbuta commented on #15910
Hello, I have this problem also. Any ideas?

[2018-06-19 11:51] CPGupta commented on #14968
I am facing same issue. Seems like new bug in 2.2.4 version.

[2018-06-19 12:13] quisse opened #16242 "booleans defined in JsLayoutDataProvider and xml files get merged into array"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Create a uiComponent xml in which you disable/enable a component as follows:
`checkout_cart_sidebar_item_price_renderers.xml`
[code]
2. Create a jsLayoutDataProvider in which you disable/enable the same component as follows:
`HidePricesJsLayoutDataProvider`
[code]
3. enable the JsLayoutDataProvider in di
`frontend/di.xml`
[code]
### E

[2018-06-19 12:13] evktalo opened #16243 "Integration test ProcessCronQueueObserverTest.php succeeds regardless of magento config fixture"
### Preconditions

1. Magento 2.2.3 installation
2. Integration test database set up

### Steps to reproduce

1. Remove config fixture from ProcessCronQueueObserverTest::testDispatchScheduled
2. In dev/tests/integration run
``../../../vendor/bin/phpunit testsuite/Magento/Cron/Observer/ProcessCronQueueObserverTest.php``

### Expected result

1. testDispatchScheduled fails

### Actual result

1. tes

[2018-06-19 12:48] samuel27m commented on #16239
Nevermind, duplicate of [#14465](https://github.com/magento/magento2/issues/14465)

[2018-06-19 12:48] #16239 closed, assigned to nobody

[2018-06-19 12:51] nafisa-kazma commented on #12779
http://trophykart.geekscube.com/default/test-product11.html

admin==http://trophykart.geekscube.com/admin_wpvtqv/
username--trophykart

Password---Nopass123

o can't upload customise option upload image.

Please tell me how to resolved this issue.

Thanks & Regards,

Nafisa Yasmin

[2018-06-19 13:09] DanielRuf commented on #14968
It will be solved in 2.2.5

[2018-06-19 13:10] DanielRuf commented on #14968
See https://github.com/magento/magento2/issues/14968#issuecomment-393551202

[2018-06-19 13:13] PieterCappelle commented on #10660
This should be backported to 2.1 branch. Fix is working.

[2018-06-19 13:23] CPGupta commented on #14968
Thanks DanielRuf..

[2018-06-19 13:27] quisse commented on #12371
Still willing to create a PR, if someone can push me in the right direction?

[2018-06-19 13:29] olgamukovoz commented on #15910
$(document).ready(function () {
    $('#mini_container').hover(function () {
        $(this).children('.minicart-wrapper,.action showcart').addClass("active");
        $(this).children('.ui-dialog ui-widget ui-widget-content ui-corner-all ui-front mage-dropdown-dialog').show();
        console.log('fsdfsdfsfsf __________');

    }, function () {
        $(this).children('.minicart-wrapper,.action

[2018-06-19 13:40] jigar48 commented on #6682
Any update on this ?

I have same issue also when scrolling down then top menu not showing.
http://prntscr.com/jwqszr

[2018-06-19 13:54] tweetyx commented on #11262
Hi,
do you find a solution for wysiwyg ?
Can i have your code for this module ?

Thanks

[2018-06-19 14:00] rogyar commented on #15057
Try checking QTY of the duplicated product. It might be simply out of stock

[2018-06-19 14:14] danemacmillan commented on #6367
Any update on this?

[2018-06-19 14:17] kisroman commented on #12073
@maximgubar, no, this issue wasn't fixed. My PR was closed.

[2018-06-19 14:24] philippsander commented on #15935
Probalby not worth another issue, but I had the same problem in the customer grid

[2018-06-19 14:28] denteblu commented on #15935
In PR #15985 we have fixed the same issue in Customer, Page, CMS Block, and Search Synonyms Grids.

[2018-06-19 14:34] tomasfejfar commented on #9059
We're experiencing this on 2.1.8, but we're reluctant to go through with the whole update pipeline unless we know that the bug is fixed. Has there been any development? Would failing test help?

[2018-06-19 15:01] drew7721 opened #16249 "Page title not showing on product page."
### Preconditions
1. Magento 2.2.4
2. PHP 7.1.17
3. Mysql 5.6.39-83.1
4. Nginx

### Steps to reproduce
1.  Fresh install 2.2.4 (tag)
2. Install sample data
3. Edit any product, delete meta title.
4. Go to a product page and note that there is not page title. In the header, the `<title>` element is empty.

### Expected result
1. The product name should be set as the page title and be displayed.
<im

[2018-06-19 15:09] kkrieger85 commented on #16101
@forwells Can you please update the **Steps to reproduce** section? Please describe in detail how someone can reproduce your issue. I tested with your current steps and can not reproduce this issue.

[2018-06-19 15:14] kkrieger85 commented on #16249
@drew7721 Please add **PHP Version, MySQL version, Web Server** to your **preconditions**

Does this issue also occur on vanilla magento without sample data?

[2018-06-19 15:17] drew7721 commented on #16249
yes. It's not the sample data. It has to do with the latest commits in the https://github.com/magento/magento2/commits/2.2.4/app/code/Magento/Catalog/Block/Product/View.php class. I think the product initialization is not done as it should.

[2018-06-19 15:18] kkrieger85 commented on #16243
Hi @evktalo please pay attention to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-template)

[2018-06-19 15:19] kkrieger85 commented on #16238
Hi @PrajaktaKalyankar-GSLab please pay attention to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-template)

[2018-06-19 15:21] drew7721 commented on #16249
I guess moving the contents of the `_prepareLayout()` method into a helper as an optimization was the intention but stuff seems to have been broken doing so.. 😞

[2018-06-19 15:25] kkrieger85 commented on #16207
Hi @TejaBhagavan please pay attention to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-template)

[2018-06-19 15:25] kkrieger85 commented on #16210
Hi @PrajaktaKalyankar-GSLab please pay attention to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-template)

[2018-06-19 15:25] kkrieger85 commented on #16210
@PrajaktaKalyankar-GSLab Is this issue related to #16238 ?

[2018-06-19 15:26] kkrieger85 commented on #16212
Hi @AlbiIT please pay attention to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-template)

[2018-06-19 15:27] kkrieger85 commented on #16214
Hi @mhaack please pay attention to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-template)

Please add section **Precondition** to issue description.

[2018-06-19 15:30] PrajaktaKalyankar-GSLab commented on #16210
No. I could get the oauth_verifier but not able to get access_token. I referred this: https://magento.stackexchange.com/questions/110026/magento-2-where-does-the-oauth-verifier-token-come-from?rq=1

Getting above mentioned errors.

[2018-06-19 15:30] kkrieger85 commented on #16096
I reopened #7801 to close this issue.

@DePalmo Maybe you could add more information to #7801

[2018-06-19 15:30] #16096 closed, assigned to nobody

[2018-06-19 15:31] kkrieger85 commented on #7801
Reopen due to new activity in #16096

[2018-06-19 15:33] kkrieger85 commented on #16236
Closed as this is an empty issue template

[2018-06-19 15:33] #16236 closed, assigned to nobody

[2018-06-19 15:38] kkrieger85 commented on #16218
@MCReynolds73 please pay attention to [Issue reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and [Issue Template](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#issue-template)

[2018-06-19 15:40] joemstar commented on #12426
Has anyone found a resolution to this? I am experiencing the same problem.

[2018-06-19 16:03] JoshuaFlood commented on #15957
The issue is also mentioned [here](https://github.com/magento/magento2/issues/12915), albeit with  errors about different paths.

[2018-06-19 16:44] Jefnull commented on #8141
+1

[2018-06-19 17:15] oleksii-lisovyi commented on #15579
Hi guys. Any updates on it?

[2018-06-19 17:32] piotrekkaminski commented on #16235
cc @okobchenko - is it the right solution?

[2018-06-19 19:01] maximgubar commented on #12073
@magento-engcom-team is this issue not yet fixed ?

[2018-06-19 19:16] rhoerr commented on #12073
This appears to be addressed on 2.3-develop by casting SKUs to lower. cf. https://github.com/magento/magento2/commit/45da02260c989f088b4645307e4af42d9b944b00

[2018-06-19 19:16] ephost commented on #14620
I wanted to know if you were ever able to get PayFlowPro going on Magento 2. I am having the exact same issue here.

[2018-06-19 19:21] mvaisberg commented on #14620
Hi,

No, I changed to Braintree.

I could not get it work

El mar., 19 jun. 2018 4:17 p. m., Joe Rebis <notifications@github.com>
escribió:

[2018-06-19 19:23] ephost commented on #14620
Thank you for the fast follow-up

[2018-06-19 19:36] graffxdesign commented on #14953
Same issue, following.

[2018-06-19 19:53] danemacmillan commented on #1619
This is still an issue. I'm on `2.2.4` and `grunt exec` absolutely does not create symlinks.

[2018-06-19 22:12] treestonemedia commented on #14968
Silly issues like this one is what makes working with Magento2 really frustrating - 4 years into this project and these pesty bugs (that did not exist in M1) still come up 👎

[2018-06-19 22:22] ywsw commented on #14423
Solved:
I ran the commands `find . -type d -exec chmod 775 {} \;` and `find . -type f -exec chmod 664 {} \;` and then `chown -R www-data:www-data .` all as SUDO and then flushed the cache and most of the readiness checks were solved except for three supposed .sample files in the main directory which did not even exist. I created these files and ran the codes above again and now the readiness check

[2018-06-19 23:31] neutronixx commented on #5594
If you have a custom template just put: cacheable="false" in ypur block declaration in layout: example:

`<block class="Custom\Theme\Block\Customheader" name="custom_header" as="custom_header" 	template="Magento_Theme::html/customheader.phtml"  before="-"  cacheable="false" />`

[2018-06-20 00:44] forwells commented on #16101
@kkrieger85
This is where the problem occurs，

[2018-06-20 02:46] buituanbg commented on #14953
Hi @graffxdesign
My issue it related to redis cache. I disable redis it work properly so I switch from redis to memcache to fix this issue. Let me know if it not working.

[2018-06-20 03:18] kingyond commented on #16231
I also in trouble with this issue for 2.2.4. I found that it’s missing sender informations. I test on 2.2.5 branch , it works. I use mageplaze smtp extension. Just setup x
debug yesterday. Will try to get why it doesn’t get correct sender information today.

[2018-06-20 04:05] ywsw commented on #14423
I have just upgraded to 2.2.4 hoping to see this solved but it does not seem to be fixed for me. The configurable product options which are out of stock are not showing the red line.

Please advise

[2018-06-20 04:07] ywsw commented on #12317
I have just upgraded to 2.2.4 hoping to see this fixed (as apparent from above) but it does not seem to be fixed. The configurable options which are out of stock still show as the others without any indication of them being disabled. I have tried reindexing and flushing the cache but it did not help.

Please advise

[2018-06-20 04:20] archonkulis commented on #5929
@hypershopbv You said: "Has been fixed in 2.2.4, but cannot be used since there is a bug in 2.2.4 for multistores." - do you know what kind of bugs there are for multistores? Just trying to figure out whether I should advise upgrading from 2.2.1 to 2.2.4 to fix this issue or better wait for the fix the the multistores.

[2018-06-20 04:46] DanielRuf commented on #14968
@treestonemedia sorry but here we changed very old code to fix it in 2.2.5. So everything is fine.

[2018-06-20 04:46] DanielRuf commented on #14968
In the meantime you can use composer patches.

[2018-06-20 05:06] thomashery commented on #12524
Hi @okobchenko , looking at one of the file part of @shyamranpara pull request, I cannot see any merge in the commit history:
https://github.com/magento/magento2/commits/2.2-develop/app/code/Magento/Checkout/Model/DefaultConfigProvider.php
Can you please clarify if this was actually fixed?

[2018-06-20 06:12] pemann commented on #16249
This is pretty critical.

[2018-06-20 06:14] ottosschweiz commented on #10982
Hello,

Has something happened since this issue was reported?
Or is there a known workaround to fix this problem?

It's just a really bad thing when those amounts are not correct on online credit memos.

Thank you

[2018-06-20 06:47] chirag-wagento commented on #16249
I am working on this PR.

[2018-06-20 07:19] cyildirim commented on #16235
Also, I used benchmark.jmx file on `2.2-develop` branch.

[2018-06-20 07:34] d4ve46 opened #16258 "categories section spinner loads forever"
Please i just installed Magento 2.2.4 and i'm facing problems with the spinner that loads the page section.
When i go to catalog->categories, the page loads but then the spinner icon spins forever. Doesn't load the form fields to create new categories.

Please help!! I really need to submit this project by the end of the week.

[2018-06-20 07:52] pradeeprcs commented on #12211
Hi All,

i also face a same issue when i  enable the ups method  only  that is

1. select valid address and navigate to Payment block
2. go to home page
3. go to checkout page again
4. in shipping step of checkout page , shipping  address is valid one  but it show error

"This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us. "

afte

[2018-06-20 07:57] DanielRuf commented on #16258
Please check if there are any errors in the browser console. And test in an incognito browser instance.

[2018-06-20 08:29] Paulsky commented on #14297
So at this moment, there is no way to develop any kind of AJAX module for the backend? Except when you hardcode the admin credentials? Or use some kind of form where admins have to put in their credentials over and over again?

[2018-06-20 08:40] peterjaap commented on #6350
@magento-engcom-team ?

[2018-06-20 08:57] downforce80 opened #16259 "vat id"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-20 08:58] crtl commented on #4737
Ive recently updated to Magento 2.2.4 and I still have the issue.
Installed version of `pelago/emogrifier` is `v2.0.0`.

Exception is:
`
[2018-06-20 08:29:16] main.ERROR: DOMXPath::query():
Invalid expression in selector >> 100% << in /path/to/magento/vendor/pelago/emogrifier/Classes/Emogrifier.php on line 372
{"exception":"[object] (InvalidArgumentException(code: 1509279985):
DOMXPath::query(): I

[2018-06-20 09:16] vivekaris commented on #15164
@Alex1844 i am also facing this issue. it may be issue in Magento 2.2.4.

[2018-06-20 09:35] useapp commented on #10662
I also have this BUG, in IE loader is not removed after page load
how to fix this in magento 2.1.11 ?

[2018-06-20 09:39] d4ve46 commented on #16258
There are errors in the browser console.

[2018-06-20 09:46] ersansan opened #16262 "Magento 2 API PUT Method Returns 404 Error"
- Preconditions

Magento 2.2.4

- Steps to reproduce

This is my rest api code to update the stock qty.

[code]

I tried every API url; such as:

https://www.example.com/index.php/rest/V1/products/10001007/stockItems/1?store_id=1
https://www.example.com/rest/all/V1/products/10001007/stockItems/1?store_id=1
https://www.example.com/rest/stockitems/10001001
https://www.example.com/api/rest/stockitems

[2018-06-20 09:48] navinbhudiya commented on #6350
@okorshenko  I can confirm that it still does not work in 2.2.3. Should we reopen the issue?

[2018-06-20 09:51] DanielRuf commented on #16258
Can you show them to us or paste them here?

[2018-06-20 10:07] d4ve46 commented on #16258
I just re-installed magento and created new database and now it loads everything well but quite slow.

[2018-06-20 10:17] d4ve46 commented on #16258
Sorry but i deleted the old one with the console errors. But this one is slow in loading. Probably slow network.
I'm really thankful for the immediate response. I never expected it.

[2018-06-20 10:22] anglerthulasiram commented on #6331
Hello,

After adding video, there is showing preview image and not video in front end. Magento version as 2.1.2

[2018-06-20 10:30] digvijay2017 commented on #3373
@chicgeek  componentDisabled is not working. In your case, you just remove the component.
I have used this, But it,s not working:
        <referenceBlock name="checkout.root">
            <arguments>
                <argument name="jsLayout" xsi:type="array">
                    <item name="components" xsi:type="array">
                        <item name="checkout" xsi:type="array">

[2018-06-20 10:31] d4ve46 commented on #16258
I have a system message at the backend which says: "One or more indexers are invalid. Make sure your Magento cron job is running".

[2018-06-20 10:41] albertoedigital opened #16265 "Magento 2.2.4 Customer registration in frontend is not working"
### Preconditions
I am using Latest version of Magento 2.2.4

### Steps to reproduce
After upgrade from Magento 2.1.5 to Magento 2.2.4
Customer registration on Magento frontend is not working

### Expected result
Clicking the Create Account Button and filled all the required fields.
After filling all the required fields, I clicked submit but the page not simply load.

### Actual result
1. When I f

[2018-06-20 11:02] k4emic commented on #16020
Update: Our internal QA did not find any problems after the patch was applied

[2018-06-20 11:09] czettnersandor commented on #6221
I found this issue when I realised our deployment process is reverting my changes on index.php when it's running composer install.

Please check the first 16 lines of this file:
[code]

It's suggesting to set these variables in index.php. I would remark that this was the common practice in Magento 1 as well and there's no any other easy way to do this (other than setting environmental variables in

[2018-06-20 11:15] sumitvgupta commented on #6710
@Sharmilasrini95 @ywsw
Can you please give me the credential so can check that if you don't mind or You can give the Video.
I had checked it in my local in with 2.2.4 and 2.2.3 it's working fine.

Thank you.

[2018-06-20 11:25] denistrator opened #16267 "Incorrect #rrggbbaa hex color notation after compiling css on server side"
### Preconditions
1. Magento 2.2.3

### Steps to reproduce
1. Add css style with color in "#rrggbbaa hex color notation"
`.test-element {
        background: #00000020;
    }`
2. Run `bin/magento setup:static-content:deploy` to compile css
3. Open Magento site, create element `.test-element`

### Expected result
1. `.test-element` has `background: #00000020;`

### Actual result
1. `.test-element`

[2018-06-20 11:45] gobyweb2 commented on #13745
Something went wrong while saving the new password.

[2018-06-20 11:46] gobyweb2 opened #16269 "Something went wrong while saving the new password"
### Preconditions

1.
2.

### Steps to reproduce

1. Siteground Server
2. Magento 2.2.4
3. Custom Theme

### Expected result

1. Should login

### Actual result

1. [Screenshots, logs or description]
![image](https://user-images.githubusercontent.com/40428621/41656590-24dc08a8-74ae-11e8-8de0-42aaa125e4b5.png)

[2018-06-20 11:47] gobyweb2 commented on #16269
![image](https://user-images.githubusercontent.com/40428621/41656486-c1c08dfc-74ad-11e8-959d-52d923aa502a.png)

[2018-06-20 11:48] gobyweb2 commented on #16269
After clicking reset password from customer email > entering new pass and above error coming. And SSH command to fix ?

[2018-06-20 11:57] sidolov commented on #14747
Hi @tohann. Thank you for your report.
The issue has been fixed in magento/magento2#15860 by @rahul-kachhadiya in 2.1-develop branch
Related commit(s):
 - [1839f97c1852d19477b92baf868ce22dcf0da041](https://github.com/magento/magento2/commit/1839f97c1852d19477b92baf868ce22dcf0da041)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-20 12:45] alexvandervegt commented on #13396
We have this issue also

[2018-06-20 12:52] retailinsights commented on #12402
Facing the same issue in 2.2.1

[2018-06-20 13:18] jayankaghosh commented on #15384
Any updates on this?

[2018-06-20 13:31] judaschwartz commented on #14968
@DanielRuf thanks for the help I didn't install through composer, how do i get the patch? (sorry for the Noob question)

[2018-06-20 13:58] DanielRuf commented on #16258
This is normal.

[2018-06-20 14:11] lano-vargas commented on #10071
Hello, Am i late for the magento weirdness finding I out of the blue I start having this issue but on one user only that was admin user but other users with admin access didn't have this issue.

So moleculech  finding did not work for me, what worked was reseting password in the end but I first had also run  php bin/magento indexer:reindex && php bin/magento setup:di:compile && php bin/magento cac

[2018-06-20 14:13] lano-vargas commented on #14725
@reillo check this out https://github.com/magento/magento2/issues/10071

[2018-06-20 14:28] vasudevsundar commented on #16063
Hi,
I am too facing add to cart issue, like adding product twice for second time onwards.

Once disabled Amazon module, works fine, is there any other solutions without disabling module for Magento 2.2.4 .

[2018-06-20 14:37] snoroozi commented on #10071
Honestly, these are all bs solutions that don't get to the error at hand.

On Wed, Jun 20, 2018, 10:13 AM Juliano Vargas <notifications@github.com>
wrote:

[2018-06-20 14:48] gawpo50 opened #16272 "Unable to edit customer in backend"
### Preconditions

1.
2.

### Steps to reproduce

1. Go to Customers > All Customers
2. Choose any customer and click edit
3. Returns error...Page can not be found

### Expected result

1. Expect to have what I had before the upgrade to 2.2.4 which is to be able to edit any customer

### Actual result

1. When picking any customer and click the edit button...get error returned....Cannot find page

[2018-06-20 14:55] orlangur commented on #14968
@judaschwartz you can get apply a patch from pull request straightaway then: https://github.com/magento/magento2/pull/15137.patch

Note that normally you should install Magento via Composer.

[2018-06-20 15:22] springimport commented on #14424
@orlangur Ok, what should I to do?
[code]

[2018-06-20 15:25] adampmoss opened #16273 "Method $product->getUrlInStore() returning extremely long URLs, could be a bug"
I feel like there may be a bug in the following file because the output of `$product->getUrlInStore()` is not what I'd expect. Query params related to the store are added to the URL in the following file:

https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9dbf8c6/app/code/Magento/Store/Url/Plugin/RouteParamsResolver.php#L66

By setting an entire object (`$subject->getScope(

[2018-06-20 15:50] SiiMPT opened #16274 "DHL This shipping method is currently unavailable."
### Preconditions
1. Magento ver. 2.2.4
2. PHP 7.1.18
3. 10.2.15-MariaDB
4. Linux version 3.10.0-862.3.3.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-28)

### Steps to reproduce
1.  DHL configuration
![image](https://beta.piranhatattoosupplies.com/for_github/DHL_config_1.PNG)
![image](https://beta.piranhatattoosupplies.com/for_github/DHL_config_2.PNG)
![i

[2018-06-20 16:03] treii28 commented on #3650
also interested in this. We are using a custom theme and the comments about production pull-down to re-deploy static content applies here also. (I also wondered why it can't do it into a separate filespace to avoid going into maintenance mode)

[2018-06-20 17:24] SiiMPT commented on #16274
It's already solved. It was missing the configuration of the website only had default configuration.

[2018-06-20 17:24] #16274 closed, assigned to nobody

[2018-06-20 17:41] Axel29 opened #16276 "Default store view value used and broken category sort order when using MariaDB"
### Preconditions
1. Magento 2.2.3
2. PHP 7.1
3. MariaDB 10.1.33
4. InnoDB between 5.6.28-76.1 and 5.7.21 (not tested on other versions)
5. Multi website / store view instance

### Steps to reproduce
1. Create at least two websites with multiple stores on each website
2. Create a custom varchar category attribute
3. Go to Catalog > Categories
3. Create at least two categories
3. Set a value on def

[2018-06-20 17:51] ephost commented on #14620
So, embarrassingly, I never read the instructions. There is a lot of prep work needed having to do with Hosted Pages which seems counterintuitive.

https://docs.magento.com/m2/ee/user_guide/payment/paypal-payflow-pro.html

It seems to work now.

[2018-06-20 18:13] vasilii-b commented on #12914
@alexbogias working on the PR travis issues... I believe in the next month it's gonna be merged for sure.

[2018-06-20 18:44] alexbogias commented on #12914
Thanks for letting us now @vasilii-b

[2018-06-20 18:52] PieterCappelle commented on #11107
Can confirm this. This should be fixed...

[2018-06-20 19:00] benneca commented on #9696
has a resolution for this issue been found?

[2018-06-20 19:33] jonshipman commented on #6793
@kervin I believe that might fix it for exact matches - but in my instance I need to match partial skus. Example: I have several SKUs: ABC-VIL, ABC-BEC, ABC-TE2. The 100% matching doesn't work if the search query is "ABC". If there's a name with ABC-VIL but the sku is 34932, it can show up second. That's with SKU with a search weight of 1 and name/description with a weight of 10. This happens comm

[2018-06-20 20:45] orlangur commented on #14424
@springimport yep, code like this should do the trick.

[2018-06-20 21:17] will-b commented on #16173
@FreekVandeursen Think a proxy should be used instead of the product repository interface to avoid a dependency trying to read the 'website' table.
https://devdocs.magento.com/guides/v2.2/extension-dev-guide/proxies.html
Will see if I can find an example tomorrow.

[2018-06-20 23:05] sashas777 commented on #9171
Hi guys,

I made composer module based on a solution at https://github.com/magento-engcom/import-export-improvements/pull/94/ and it seems works for our store.
It is only for the version from 2.2.4 and less than 2.3 where the assumption that it would be fixed in the 2.3.0 release. If it won't be then I will update composer dependencies.

Feel free to use it it would help your stores: https://githu

[2018-06-21 01:07] LongDono commented on #6325
This really needs to be corrected.  It is frustrating as a new customer to try to select your State/Province only to find the list is for the US or other country, and then have to illogically go further down to change the Country and then go back up to select their State/Province.

[2018-06-21 03:59] Karanp13 opened #16282 "Multi currencies is not display"
STORES > CURRENCY RATE. Import from yahoo exchange.*
STORES > CONFIGURATION > Currency Setup choose Allowed Currencies
when save then show me this errors

Selected allowed currency "Bolivian Boliviano" is not available in installed currencies.
Selected allowed currency "Colombian Peso" is not available in installed currencies.
Selected allowed currency "Peruvian Nuevo Sol" is not available in inst

[2018-06-21 05:43] ericpronk84 commented on #16008
Same issue here (production mode)

[2018-06-21 05:48] wangzhi0417 commented on #16231
@kingyond Thanks, do you know when 2.2.5 will be released?

[2018-06-21 05:49] wangzhi0417 commented on #16231
@orlangur I am using mageplaze smtp extension, thanks for the reminder, but I cannot find a place to discuss that extension.

[2018-06-21 06:24] archonkulis opened #16284 "Inline ( database ) translations not populating js-translations.json with translations"
### Preconditions
1. Magento 2.2.4

### Steps to reproduce

1. Add new store with e.g. spanish language
2. Create some inline translations in the checkout with developer mode for the spanish store
3. bin/magento s:s:d --theme="Your/theme" es_ES

### Expected result

1. `pub/static/frontend/Your/theme/es_ES/js-translation.json` should be filled with translations

### Actual result

1. `pub/static/f

[2018-06-21 06:41] PieterCappelle commented on #16129
Can confirm this issue, having the same problem when trying to install 2.2.4.

[2018-06-21 06:54] FreekVandeursen commented on #16173
@will-b I agree with you that there are ways of working around this problem. I wonder though if the current behaviour is intended. I think there are 2 ways of looking at this:
1. Should just including a repository in a constructor lead to a exception on a system which is not installed yet?
2. Why does the setup ObjectManager try to generate classes for all CLI commands, even those who are not yet

[2018-06-21 07:12] ghost opened #16285 "Problems While Creating Product Attribute With InstallData"
### Preconditions

1. PHP version: 7.1.16 ,Apache/2.4.23
2. Magento CE Fresh 2.2.4

### Steps to reproduce

1.  Preapare InstallData for Product Attribute.
[code]

### Expected result

1.  After Execute `setup:upgrade` module registered both attribute created but only `used_in_product_listing` set to true for both.  `is_used_for_promo_rules` is not set.

### Actual result

1. `is_used_for_promo_ru

[2018-06-21 07:44] kingyond commented on #16231
@wangzhi0417 I don't know when 2.2.5 will release. I were in trouble for a month with version 2.2.3 and 2.2.4 release. Look like 2.2.x release cannot using as live commerce site. There are many bugs for these versions.

[2018-06-21 07:49] kingyond commented on #16231
@wangzhi0417 Also, i confirm this bug cause by 2.2.4 itself. But not cause by mageplaze smtp extension. I am waiting 2.2.5 release. But had to consider using version 2.1.x . Really wasting time for 2.2.3 and 2.2.4. I think that should not be set flag as release version. Really not friend to new magento user. It's jump into trap after using version 2.2.3 and 2.2.4.

[2018-06-21 07:51] glwstor commented on #15952
This issue was also found from other people.
Please have a look at the following link: https://github.com/pixiemediaweb/module-swatches

[2018-06-21 08:21] fromero98 commented on #15147
Upping this, as I'm getting a very similar error (my order does not lock up, but I can't create shipment and invoice at the same time).

[2018-06-21 08:36] phwtoo commented on #16125
Nevermind.  Mea culpa.  I accidentally checked the "Exclude" button for the "Name" column before exporting.  Problem fixed.  Sorry for the false alarm.

[2018-06-21 08:36] #16125 closed, assigned to nobody

[2018-06-21 08:51] Fredwak commented on #14232
same problem with magento v2.2.4.
is there any update ?

[2018-06-21 09:03] lennartbee commented on #12119
@sambolek we are having the same issue and we are using the Mirasvit Rewards module. The only controller_action_predispatch event I can find in the Mirasvit Module is in checkout_onepage_success. Could you please specify which file you edited?

[2018-06-21 09:50] rtplvaibhav opened #16288 "Bundle product goes out of stock after migrating from 2.1.9 to 2.2.4 (multi-store website)"
After updating Magento from 2.1.9 to 2.2.4 products are going out of stock even though they are in stock. Happens with all types of product i think.

PHP 7.1.11 and 7.1.18
MYSQL = 5.6.39

Steps to reproduce:
Update Magento from composer and do reindexing.

**Possible reason:**
catalogInventory_stock reindexing is actually deleting entries from table cataloginventory_stock_status for all all websit

[2018-06-21 10:12] stephyswe commented on #14968
How do I apply the Github Patch? Im installing from GoDaddy so Composer is no-no.

Do I put it in magento/app/design/frontend/Custom/theme-custom-less [my custom theme]
?

[2018-06-21 10:16] stephyswe commented on #14968
Also which files do I need to modify to change.. ?
   public function setForcedArea($templateId)
    {
        if (!isset($this->area)) {
           $this->area = $this->emailConfig->getTemplateArea($templateId);
        }
        return $this;
    }

[2018-06-21 10:19] EBotha1 opened #16289 "Unable to add swatch options to attribute, soap Magento"
### Preconditions

1. Magento 2.2
2. Soap

### Steps to reproduce

![request](https://user-images.githubusercontent.com/40459630/41713558-c3b80496-754d-11e8-8065-d29c3e596c36.png)

### Expected result

1. The swatch attribute 'Test' should have an option 'Test1'
2. I am not sure if the wrong method is being used, but when adding an option to an dropdown/option attribute, it works fine. Or if i am

[2018-06-21 10:21] ekiba opened #16290 "Problem with the translations from javascript in Magento 2.2.2"
Hi! I'm developing a project on _Magento 2.2.2_ and I don't know if it's a new bug or I'm not doing well the correct steps when I try to do a translation from javascript and it works if I do it from a static text...

The problem comes if I try to translate using a variable. In that case the translation is not done correctly and it does not look for the associated translation that is generated in t

[2018-06-21 10:22] BenSpace48 commented on #15062
Yes I can replicate on 2.2.1, once you click on reload captcha it works.

[2018-06-21 10:35] paul-blundell commented on #8700
When is this going to be resolved? Looks like 2 people attempted it but gave up.

[2018-06-21 10:43] springerin commented on #16176
Duplicated or Related to https://github.com/magento/magento2/issues/16171

[2018-06-21 10:44] vasilii-b commented on #16273
This can be reproduced on Magento 2.3-develop as well.

[2018-06-21 10:54] dmanners commented on #14968
Hi @stephyswe,

How do you deploy to godaddy? You could still build a release on another machine via composer and then export the resulting build to godaddy. This way allowing you to use the preferred approach for Integrators of composer.

[2018-06-21 11:02] VladimirZaets commented on #8222
Hi @Dart18. Thank you for your report.
The issue has been fixed in magento/magento2#16213 by @0m3r in 2.2-develop branch
Related commit(s):
 - [4952d50030bc8821eb9a85a0c8d6bb5e77e80cce](https://github.com/magento/magento2/commit/4952d50030bc8821eb9a85a0c8d6bb5e77e80cce)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-21 11:02] VladimirZaets commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#16192 by @dankhrapiyush in 2.2-develop branch
Related commit(s):
 - [3cf1d74ee38f31a053963a797033cfa73290d9e8](https://github.com/magento/magento2/commit/3cf1d74ee38f31a053963a797033cfa73290d9e8)
 - [bd7d3b4bedf9db467018d068bf8d71869dadef33](https://github.com/magento/magento2/commit/bd7d3b4bedf9db467018d068bf8d718

[2018-06-21 11:02] VladimirZaets commented on #16184
Hi @Jakhotiya. Thank you for your report.
The issue has been fixed in magento/magento2#16194 by @xpoback in 2.2-develop branch
Related commit(s):
 - [a7839e29562e7bb3a3afd57caa8bc9f7cd9b9144](https://github.com/magento/magento2/commit/a7839e29562e7bb3a3afd57caa8bc9f7cd9b9144)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-21 11:02] #16184 closed, assigned to xpoback

[2018-06-21 11:39] PeteZero1 commented on #11899
@orlangur we are still hitting this with every client install due to the size of the config json being stored. (As per the comment made by @giacmir ).

[2018-06-21 11:39] EliasKotlyar commented on #14952
Encountered this issue as well in a 2.2.4. Fixxed with the solution from @gwharton .

[2018-06-21 11:43] EliasKotlyar commented on #12180
Encountered a similar issue in the "Vertex_Tax" Module. There are some classes which are breaking down on PHP7.0 when using setup:upgrade:
Vertex\Tax\Model\Request

They are using the same
"use Magento\Quote\Model\Quote\Address;" statements

[2018-06-21 11:46] EliasKotlyar commented on #15463
@elvinristi : Thanks for your trick to avoid having these modules. I just wanted to add, that the "Vertex" Module is not compatible with PHP7.0.

Refer here for details:
https://github.com/magento/magento2/issues/12180#issuecomment-372574834

[2018-06-21 11:55] lennartbee commented on #12119
I found it already, in our case it wasn't caused by the Mirasvit module. https://github.com/magento/magento2/commit/f82a17507acfa821e2bea543a99f072e1de1252f fixed it for us.

[2018-06-21 12:17] lennartbee commented on #6817
@elvinristi thank you I got it to work after using your patch for both customer-data.js and checkout-data.js

[2018-06-21 12:19] mtbottens opened #16295 "Attribute group "description" breaks product edit page in Magento admin"
### Preconditions

1. Magento 2.2.4 / PHP 7.1

### Steps to reproduce

1. Navigate to magento admin
2. Go to the edit page of default attribute set
3. Create a new attribute group named "description"
4. Move the 'description' attribute into the new 'description' attribute group
5. Save changes
6. Navigate to any product edit page that uses the default attribute set
7. Open up chrome dev tools and

[2018-06-21 12:56] 0m3r commented on #14593
reproduced on magento 2.2.4

 Preconditions: Magento version 2.2.4 with luma theme

Step to reproduce:
 - Open chrome developer console
 - Add a product in the cart.
 - From the mini cart in the upper right click the trash icon.
 - A confirmation modal will open.
 - Press Esc button

Expected result
 - Close the confirm

Actual result
  - js error

https://github.com/magento/magento2/blob/2.2-deve

[2018-06-21 13:32] 0m3r commented on #14593
Proposal fix

https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Checkout/view/frontend/web/js/sidebar.js#L96

[code]

[2018-06-21 13:59] jyotirhizonex opened #16299 "Having problem in color swatch layer navigation"
Hello,

I have problem with smile elasticsuite.For this elastic search module color swatch values are not getting rendered in category page layernavigaion.

         Please any one look on it.Thank you in advance for any help.

[2018-06-21 14:53] harleen-mann commented on #7801
I have same issue in 2.2.4 as well

[2018-06-21 14:56] jacobsenj commented on #13152
A fix would be appreciated

[2018-06-21 15:20] magento-engcom-team commented on #15822
Hi @Radio. Thank you for your report.
The issue has been fixed in magento/magento2#15842 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [0f23ed75e6aeac411ff51d70bbd421d47fefd919](https://github.com/magento/magento2/commit/0f23ed75e6aeac411ff51d70bbd421d47fefd919)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-21 15:20] magento-engcom-team commented on #15564
Hi @krukas. Thank you for your report.
The issue has been fixed in magento/magento2#15744 by @vijay-wagento in 2.3-develop branch
Related commit(s):
 - [7f34b221d692f9bda0b3d6c9d17c76bd65cad30a](https://github.com/magento/magento2/commit/7f34b221d692f9bda0b3d6c9d17c76bd65cad30a)
 - [349d178ee84de6b458d8783c16cf30bb25d51dc5](https://github.com/magento/magento2/commit/349d178ee84de6b458d8783c16cf30b

[2018-06-21 15:20] magento-engcom-team commented on #12601
Hi @wd7080. Thank you for your report.
The issue has been fixed in magento/magento2#15726 by @sanjay-wagento in 2.3-develop branch
Related commit(s):
 - [ce176d2ab2ae16790f84c7d6836afb51b4d9060a](https://github.com/magento/magento2/commit/ce176d2ab2ae16790f84c7d6836afb51b4d9060a)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-21 15:20] magento-engcom-team commented on #15255
Hi @tizzyguy87. Thank you for your report.
The issue has been fixed in magento/magento2#16256 by @vgelani in 2.3-develop branch
Related commit(s):
 - [a10823350e8aadf038cbec60acb3b61311a3193c](https://github.com/magento/magento2/commit/a10823350e8aadf038cbec60acb3b61311a3193c)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-21 15:50] Fredwak commented on #15420
the issue is reproducable. (v2.2.4 - clean install).
but the more important issue is that when you update the order (create a invoice/credit/shipment, or simply change the status) the "instructions" of the method will be replaced with the configuration values of the DEFAULT STORE, on each save request on the product.

e.g:
**Paymentmethod configuration:**
StoreView UK:
- method title: Banktransfer

[2018-06-21 15:53] okorshenko commented on #16299
Hi @jyotirhizonex thank you for your report. This repository is designed for Magento 2 framework issues only. Please contact the support team of `smile elasticsuite` for the assistance

[2018-06-21 15:53] #16299 closed, assigned to nobody

[2018-06-21 15:55] okorshenko opened #16301 "Test issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-21 15:55] magento-engcom-team commented on #16301
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-21 15:56] BenGlassAtlas opened #16302 "JS files located outside the web/js directory"
### Summary

Some JS files are direct children of `web` rather than `web/js`. This does not follow instructions from the [dev docs](https://devdocs.magento.com/guides/v2.2/javascript-dev-guide/javascript/custom_js.html) thus is confusing.

There are more instances of this:

- `vendor/magento/module-payment/view/frontend/web/transparent.js`
- `vendor/magento/module-payment/view/frontend/web/cc-type

[2018-06-21 15:56] magento-engcom-team commented on #16302
Hi @BenSpace48. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-21 15:57] #16301 closed, assigned to nobody

[2018-06-21 16:02] infocurci opened #16303 "Unable to add color through rest API"
### Preconditions
Magento 2.2.3 / Php 7.0.20-1 / Mysql  5.6.30

### Steps to reproduce

1.  I launch this file, with two examples: one for add a color, one for add a brand.
//get token
$ch = curl_init();
$data = array("username" => 'my username', "password" => 'my password');
$data_string = json_encode($data);
$ch = curl_init('https://my site/index.php/rest/V1/integration/admin/token');
curl_setop

[2018-06-21 16:02] magento-engcom-team commented on #16303
Hi @infocurci. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-21 16:09] okorshenko opened #16304 "Test"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-21 16:10] magento-engcom-team commented on #16304
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-21 16:12] drbservices commented on #14046
Any update please? this is really a big issue, not possible to add products to basket,
would really appreciate some help here, especially that this was already fixed - just its impossible to find the relevant commit without some guideance
Many Thanks

[2018-06-21 16:21] danmentzer commented on #10992
I am also seeing this as well
Preconditions
Magento Commerce ver. 2.2.3
PHP 7 / MySQL 5.6
Steps to reproduce
Go to Reports > Products > Ordered
Choose Range and Show By: Month or Year
Hit Export to: CSV (or XML)
Expected result
A CSV (or XML) with data similar to what is shown on the web version of the report should be downloaded
Actual result
A CSV (or XML) file with column headers only and no da

[2018-06-21 16:29] #16304 closed, assigned to nobody

[2018-06-21 16:35] zetlen commented on #13685
If jQuery can be upgraded to the 3.x release stream without significant regression, then we could do it. But we can't set a precedent where we keep all of the core `lib/` support libraries up to date. A lot of working software may be reliant on behaviors that are peculiar to those versions. Semantic versioning can only protect us so much from this.

I sympathize with @leoquijano in being forced to

[2018-06-21 18:48] vasilii-b commented on #16273
According to the file `/app/code/Magento/Store/Url/Plugin/RouteParamsResolver.php` this issue is reproducible on `Magento 2.2-develop` and `Magento 2.1-develop`.

[2018-06-21 19:03] sidolov commented on #15255
Hi @tizzyguy87. Thank you for your report.
The issue has been fixed in magento/magento2#16255 by @vgelani in 2.1-develop branch
Related commit(s):
 - [be0f9bcacec24c78955d5773886ab942722f1c20](https://github.com/magento/magento2/commit/be0f9bcacec24c78955d5773886ab942722f1c20)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-21 19:03] sidolov commented on #12601
Hi @wd7080. Thank you for your report.
The issue has been fixed in magento/magento2#15727 by @sanjay-wagento in 2.1-develop branch
Related commit(s):
 - [5e6abd502f500d50cdde91af6c97dfc6f6dc861f](https://github.com/magento/magento2/commit/5e6abd502f500d50cdde91af6c97dfc6f6dc861f)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-21 20:56] leoquijano commented on #13685
@zetlen, I would be more concerned about what jQuery version is expected by the other libraries, and not by the global use base. If we were concerned by that metric, we wouldn't be using [PHP 7](https://w3techs.com/technologies/details/pl-php/all/all) either, with 82.7% currently at v5.x.

Since jQuery is such a critical library, having an old version of it is probably blocking upgrades to the oth

[2018-06-21 21:05] bordeo commented on #10992
I proposed a fix with this pull request #12909 but I don’t have much time to investigate if it breaks something else.
If someone want to deeply test my fix I’ll really appreciate.

[2018-06-21 22:55] parity-c commented on #12271
I have the same issue in 2.2.4.  Also tried everything I have read on this page i.e. folder renaming. Files do exist in the location and there is _theme.less in source too
`/var/www/html/magento2/app/design/frontend/parity/lapsi/web/css$ ls
source  styles.css  styles-l.less  styles-m.less`

Grunt config local-themes.js below (tried with standard themes.js - no change)

[code]

`sudo grunt exec:lap

[2018-06-22 01:55] gawpo50 commented on #15969
all working now...this issue can be closed

[2018-06-22 01:55] #15969 closed, assigned to nobody

[2018-06-22 03:08] hxm7094 opened #16312 "Magento 2.2.4 Free Shipping Enable “Show Method” do not show"
**Preconditions**

Magento 2.2.4 / Php 7.0.20-1 / Mysql 5.6.30

**Steps to reproduce**
1.Enable ”Free shipping” Method
2.Set "Minimum Order Amount" price which is bigger than the price in my shopping cart.
3.Enable "Show Method if Not Applicable".

**Expected result**
The "Free Shipping Method" will show with not applicable notice.

**Actual result**
The "Free Shipping Method" never show

![image]

[2018-06-22 03:08] magento-engcom-team commented on #16312
Hi @hxm7094. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-22 03:12] hxm7094 commented on #16312
NO. Please help me check this issue.

[2018-06-22 04:53] angika opened #16313 "When add product to cart receiving unserialize error in additional_options"
### Preconditions

1.  Magento version 2.2.4
2.  Receiving this error after upgrading magento from 2.1.8 to 2.2.4

### Steps to reproduce

1.  Add product to cart receiving unserialize error message
2.             $additionalOp[$productid][] = [
                        'label' => 'category',
                        'value' => $categoryName['category'],
                    ];
                    $p

[2018-06-22 04:53] magento-engcom-team commented on #16313
Hi @angika. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-06-22 05:18] hitesh-wagento commented on #16302
@magento-engcom-team give me {Magento 2.2.0} instance

[2018-06-22 05:22] Zyles opened #16314 "Not possible to override styles.css"
### Preconditions

LAMP
Magento 2.2.4

### Steps to reproduce

Install Magento, add custom CSS.

### Expected result

Override contact form CSS.

### Actual result

I can not override styles.css sheet because my custom CSS loads first.

This makes me unable to customize the contact form CSS for example because styles.css loads last and overrides my custom CSS.

[code]
Please advice.

[2018-06-22 05:22] magento-engcom-team commented on #16314
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-06-22 06:45] mvenghaus opened #16315 "Product save with onthefly index ignores website assignments"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1

### Steps to reproduce

1. create multiple stores
2. enable "onthefly" index mode & flat tables
3. remove all website assignments from a product
4. save the product

### Expected result

1. product should not show in any flat table

### Actual result

1. product is found in all flat tables

[2018-06-22 06:45] magento-engcom-team commented on #16315
Hi @mvenghaus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-22 07:26] jalogut opened #16316 "constant"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-22 07:26] #16316 closed, assigned to nobody

[2018-06-22 07:57] kingyond commented on #16231
@wangzhi0417 I found a solution how to fix this bug.
open this file
`vendor/amzn/amazon-pay-and-login-magento-2-module/src/Payment/etc/di.xml`
find this line #63
`<type name="Magento\Framework\Mail\MessageInterface" shared="false" />`
remove the shared string
`<type name="Magento\Framework\Mail\MessageInterface" />`
save it.
after that, remove generated data and compile the di again. this should f

[2018-06-22 08:17] jalogut commented on #15686
Hi @FreekVandeursen

I faced the same issue an another one if the default store has a name different than "default".

I created a PR. Maybe it helps you

- https://github.com/magento/magento2/pull/16317

[2018-06-22 08:41] novikor commented on #14879
#kiev-cd

[2018-06-22 08:45] lisovyievhenii commented on #13929
#kiev-cd

[2018-06-22 08:45] magento-engcom-team commented on #13929
@lisovyievhenii thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-22 08:55] orlangur commented on #16231
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

[2018-06-22 08:55] #16231 closed, assigned to nobody

[2018-06-22 09:01] #15632 closed, assigned to VitaliyBoyko

[2018-06-22 09:41] DanielKarr87 opened #16324 "Improvement: REST-API - Add List of Order Status Node"
According to: [https://magento.stackexchange.com/questions/150492/magento-2-how-to-get-all-order-status](url) there isn't a possibility to get all Order Status that were available inside the Shop.

For ERP Systems which would change the status from "open" to "complete" or a custom status it is necessary to know how the internal name of the status is setup inside the Shop to update an order from st

[2018-06-22 09:42] magento-engcom-team commented on #16324
Hi @DanielKarr87. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-06-22 10:06] sidolov commented on #15627
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#15629 by @dverkade in 2.2-develop branch
Related commit(s):
 - [8981225996e92af97671c67727be35af42591e94](https://github.com/magento/magento2/commit/8981225996e92af97671c67727be35af42591e94)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-22 10:06] #15627 closed, assigned to nobody

[2018-06-22 10:06] sidolov commented on #15501
Hi @Naturegreen. Thank you for your report.
The issue has been fixed in magento/magento2#15532 by @phoenix128 in 2.2-develop branch
Related commit(s):
 - [0a38b845508577e38d79280288a4fc716f2d1108](https://github.com/magento/magento2/commit/0a38b845508577e38d79280288a4fc716f2d1108)
 - [85ac3be16708f9b7084481e522d29320e4a315e3](https://github.com/magento/magento2/commit/85ac3be16708f9b7084481e522d29

[2018-06-22 10:06] #15501 closed, assigned to phoenix128

[2018-06-22 10:36] lisovyievhenii commented on #5316
#kiev-cd

[2018-06-22 10:52] sergeynezbritskiy commented on #13707
Actually this looks like a feature. Please check this
https://github.com/magento/magento2/commit/d91e96b529e70dcec55d3b5336b471791dc42d54

[2018-06-22 11:02] sergeynezbritskiy commented on #13707
#kiev-cd

[2018-06-22 11:02] magento-engcom-team commented on #13707
@sergeynezbritskiy thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-22 11:02] sergeynezbritskiy commented on #13707
#kiev-cd

[2018-06-22 11:02] magento-engcom-team commented on #13707
@sergeynezbritskiy thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-22 11:13] sergeynezbritskiy commented on #13707
@hi-rafa This is actually a feature. This behavior and was added by this commit https://github.com/magento/magento2/commit/d91e96b529e70dcec55d3b5336b471791dc42d54, please check.
so I'm closing this issue

[2018-06-22 11:13] #13707 closed, assigned to sergiynezbritskiy, milindsingh

[2018-06-22 11:46] eugene-shab commented on #12695
This issue related to the - https://github.com/magento/magento2/pull/12771
Waiting for merge.

[2018-06-22 11:57] novikor commented on #14879
Hi, @syedsaleem086 .

## Research results:

Well, **it is not a bug**: you have created the attribute 'commenced_business' with type 'static'. Static attributes are attributes which are stored in an entity table, - in our case, 'customer_entity'.

To solve the problem, you should to add a 'commenced_business' column to 'customer_entity', - you can use 'dob' attribute creation as example: https://g

[2018-06-22 12:28] novikor commented on #14020
#kiev-cd

[2018-06-22 12:32] ashishdiff opened #16327 "Product detail is not shown when fetch bulk product in Magento2"
I had filled all details of the products such tier_prices, product_links , when i had fetched single product  with SKU  its shows all detail of the detail but when i fetched bulk of product with single API call its show blanks in the output of extension_attribute,product_links, tier_prices. the output of bulk product is extension_attribute:[ ] product_links:[ ] tier_prices:[ ].
How to get this fie

[2018-06-22 12:32] magento-engcom-team commented on #16327
Hi @ashishdiff. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-22 12:41] ashishdiff opened #16328 "How to do bulk update of PRICE in shopify REST API"
Update of single product  price can be update with VARIANT ID.
I had used this URL for single product update-
urlData="https://"+apikey+":"+password+"@"+storename+".myshopify.com/admin/variants/"+{{variantId}}+".json".
How can i do bulk update of PRICE using REST API.
Provide us the procedure to do BULK update of PRICE using  shopify REST API.

[2018-06-22 12:42] magento-engcom-team commented on #16328
Hi @ashishdiff. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-22 13:01] ashishdiff opened #16330 "Bulk detail of the product is shown when fetch in bulk in MAGENTO2 REST API"
Preconditions
Magento 2
PHP 7
Steps to reproduce-
when i fetch the product with sku detail of extension_attribute is shown,
when i fetch in bulk detail is showing NULL in extension_attribute :[ ]

Expected result-
product should not show in detail of extension_attribute[ ],tier_price [ ]

Actual result-
product of the field is shown null for few field
extension_attribute[ ],tier_price[ ]

Provide

[2018-06-22 13:01] magento-engcom-team commented on #16330
Hi @ashishdiff. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-22 13:18] kandy commented on #5730
I do not think that this improvement has a business case. Can you provide use case?

[2018-06-22 14:06] krisdante opened #16336 "Version with disabled cookie layer gets cached on Varnish for all users"
If the first request to the server will be from somebody who already accepted the layer then varnish will cache the page variant without cookie layer. Subsequent visits from new users will not show the cookie layer for that page.

### Preconditions

1. Magento 2.2.4
2. Varnish Server
3. Cookie Restriction Mode enabled.

### Steps to reproduce

1.  Open Magento page that will be cached by Varnish
2

[2018-06-22 14:06] magento-engcom-team commented on #16336
Hi @krisdante. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-22 14:06] turbobasti commented on #14785
has someone a solution? I have the same issue. In Production and Developer Mode, also with price rules and no price rules

[2018-06-22 14:16] Goeny commented on #14952
@sashas777 Great job on the little plugin. Only problem is: Mageplaza PDF invoices  breaks after installing the fix.. :-(

[2018-06-22 14:56] chrischerrett commented on #9002
Is there a work around available until this is released?

[2018-06-22 15:28] novakivskiy commented on #16249
solution like hotfix
In the [/app/code/Magento/Catalog/Helper/Product/View.php](https://github.com/magento/magento2/blob/2.2.4/app/code/Magento/Catalog/Helper/Product/View.php#L119)

replace
[code]

[code]

[2018-06-22 16:26] bansavage opened #16345 "Getting a product via REST API using a custom attribute as a filter field does NOT return all product data!"
### Summary
Getting a product via REST API using a custom attribute as a filter field does **NOT** return all product data, including category ids. Getting the same product via SKU returns **ALL** of the product's data.

### Preconditions
1. Magento 2.1.7
2. PHP 7.0

### Steps to reproduce
1. Get a product via a custom attribute as a filter field
2. Get a product via SKU
3. Notice how much more da

[2018-06-22 16:37] nacho2706 opened #16346 "Unable to create a customer account from the backend after Website Restriction is enabled. Bug in EE 2.2.4"
After enable the Website Restriction module I am unable to create a customer account from the backend. This functionality is working properly in the frontend but I guess as an Administrator user I should be able to create customer accounts.

### Preconditions
1. Magento Commerce 2.2.4
2. PHP 7.1.13

### Steps to reproduce

1. Go to Stores -> Configuration -> B2B Features
2. Set "Enable Company" to

[2018-06-22 16:38] magento-engcom-team commented on #16346
Hi @nacho2706. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-22 17:04] nacho2706 commented on #16346
Yes, I do. I was able to reproduce it on vanilla Magento instance.
Let me know if you need anything else.

[2018-06-22 17:58] yongred opened #16349 "ProductRepository Save with Associated Product Ids bug."
When use $product->setAssociatedProductIds($ids), and then use ProductRepository->save($product);   An exception occurs after save.

### Preconditions

1. Magento 2.3
2. PHP 7.2

### Steps to reproduce

1. Direct Inject Magento\Catalog\Api\ProductRepositoryInterface in constructor
2. create an Magento\Catalog\Model\Product object
3. $productObj->setAssociatedProductIds($ids);
4.  $this->productRep

[2018-06-22 17:58] magento-engcom-team commented on #16349
Hi @yongred. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-22 19:21] eyalbrik commented on #12789
Same here, not working at all. No one was able to find a solution?

[2018-06-22 22:03] sashas777 commented on #14952
@Goeny
What error does it give?

[2018-06-23 00:12] Brengineer commented on #1652
I was having this same issue inexplicably, so I tried changing the name of the image file and (temporarily) changing \Magento\Email\Model\AbstractTemplate::DEFAULT_LOGO_FILE_ID to match, and then it worked. So **it appears that my email client was caching the image**.

[2018-06-23 06:19] versdivers opened #16355 "Magento 2.2.4 not sending from sales sender"
### Preconditions
1.  Magento 2.2.4
2.  PhP 7.1
3.  Apache

### Steps to reproduce
1.  Set general store email addresses
2.  Set store specific email senders in Sales Emails
3. Send order/shipment/creditnota/invoice mail to customer

### Expected result
Email is sent from store email address

### Actual result
It sends from the mail server default mailadress

### Why

In vendor **\magento\module-s

[2018-06-23 06:19] magento-engcom-team commented on #16355
Hi @versdivers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-23 06:22] versdivers commented on #16355
@magento-engcom-team  yes

[2018-06-23 06:35] versdivers commented on #16355
It seems that TransportBuilder and transportBuilderByStore work in different instances of the messageinterface

[2018-06-23 07:06] Goeny commented on #14952
@sashas777
It doesnt give an error. It simply does not send the PDF's along with the mail anymore. Can't see any error's in logs anywhere.

[2018-06-23 07:06] versdivers commented on #16355
i also do not get why transportBuilderByStore  as been created. I see this just as bad coding tbh. We are back to creating new classes for simple adjustments.

Fix:
**vendor/magento/module-sales/Model/Order/Email/SenderBuilder.php**

replace
[code]

with

`$this->transportBuilder->setFrom($this->identityContainer->getEmailIdentity(), $this->identityContainer->getStore()->getId());
`
**vendor/magen

[2018-06-23 10:30] sidolov commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#16297 by @dankhrapiyush in 2.1-develop branch
Related commit(s):
 - [96af9cfe69ee2d0ecb558e5205621e2cc4902f01](https://github.com/magento/magento2/commit/96af9cfe69ee2d0ecb558e5205621e2cc4902f01)
 - [5e58bacfe85e0af80620417c27d8dbd2294319bd](https://github.com/magento/magento2/commit/5e58bacfe85e0af80620417c27d8dbd

[2018-06-23 10:30] sidolov commented on #13415
Hi @angelo983. Thank you for your report.
The issue has been fixed in magento/magento2#16264 by @chirag-wagento in 2.1-develop branch
Related commit(s):
 - [c9e5239a2786b1169f6f06f61f9589b8078c0865](https://github.com/magento/magento2/commit/c9e5239a2786b1169f6f06f61f9589b8078c0865)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-23 10:30] sidolov commented on #15352
Hi @NamrataChangani. Thank you for your report.
The issue has been fixed in magento/magento2#16270 by @vgelani in 2.1-develop branch
Related commit(s):
 - [67a9e13ae7472a66cafb84b5614cfd511aee2b8c](https://github.com/magento/magento2/commit/67a9e13ae7472a66cafb84b5614cfd511aee2b8c)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-23 10:30] sidolov commented on #13793
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#16281 by @vgelani in 2.1-develop branch
Related commit(s):
 - [5064cb838fe3173299bd9e3086657f2e3c7e2179](https://github.com/magento/magento2/commit/5064cb838fe3173299bd9e3086657f2e3c7e2179)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-23 11:29] kingyond commented on #16355
@versdivers this issue same as #16231.
The bug cause by amazon payment module. It disable Magento\Framework\Mail\MessageInterface as singleton object.  And the make TransportBuilderByStore create a new MessageInterface which different from the on create by TransportBuilder.
open this file
vendor/amzn/amazon-pay-and-login-magento-2-module/src/Payment/etc/di.xml
find this line #63
<type name="Magent

[2018-06-23 11:39] syedsaleem086 commented on #14879
@novikor It is working thanks :)

[2018-06-23 11:40] #14879 closed, assigned to nobody

[2018-06-23 13:45] bobemoe opened #16358 "Translations stop working from CE 2.2.3 -> 2.2.4"
### Preconditions
Linux dev 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64 GNU/Linux

nginx version: nginx/1.12.2

PHP 7.0.30-1-dotdeb+8.1 (cli) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.30-1-dotdeb+8.1, Copyright (c) 1999-2017, by Zend Technologies

mysql  Ver 15.1 Distrib 10.0.32-Maria

[2018-06-23 13:46] magento-engcom-team commented on #16358
Hi @bobemoe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-23 14:36] bobemoe commented on #16358
Unable to reproduce on vanilla install. I will check my extensions/configuration and reopen if it turns out to be core.

[2018-06-23 14:36] #16358 closed, assigned to nobody

[2018-06-23 14:37] mazenelmasry opened #16360 "i can't add special price to configurable products magneto 2"
### Preconditions

1. Magento CE 2.2.2 with Sample Data
2. PHP 7.0

### Steps to reproduce

1. Create configurable product
2. Make configurable product with multi size but same price

### Expected result

1. special Price for configurable product should be displayed

### Actual result

1. By default in Magento 1 shows the price before the reduction and the original price in all sizes offered but i

[2018-06-23 14:38] magento-engcom-team commented on #16360
Hi @mazenelmasry. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-06-23 17:41] jissereitsma commented on #15196
This issue actually leads to a bigger issue. Within the `phpunit.xml.dist` configuration, there is the suggestion for using `TESTS_GLOBAL_CONFIG_FILE` which allows you to add new configuration options to your testing environment. However, the default options in the supplied `config-global.php.dist` file are never merged into the sandbox environment. Either, the whole mentioning of `TESTS_GLOBAL_CO

[2018-06-23 18:15] Ananth747 commented on #16360
@mazenelmasry Hi,
We also found that we can't added price in Configuration product. So we gone through Magento 2 code base and found that any child product with lowest price will be default price for configurable product.

So then we added special price to child product and it shows in configurable product. Because configurable products are dependent on other child products for price, inventory ma

[2018-06-23 18:16] minhluan259 opened #16362 "Layered Navigation Url not rewrite on home page"
### Preconditions

1. Magento 2.4-develop
2.  PHP 7.3

Have 2 simple products assigned to a category (Id = 3 in my case);
### Steps to reproduce

1.  Go to STORES > Configuration > General > Web > Default Pages and set **Default Web URL** to `catalog/category/view/id/3`
2. Reindex data, flush cache;
3. Go to frontend -> Homepage;

### Expected result

Category showing on home page.
Layered Navigat

[2018-06-23 18:16] magento-engcom-team commented on #16362
Hi @minhluan259. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-23 18:18] Ananth747 commented on #16349
It could be product ids 23 & 26 respective attribute's values are same or can you run reindex.

[2018-06-23 18:42] hostep commented on #3650
@treii28: regarding deploy time, if you have a recent Magento version, you can choose to only deploy your own custom theme and the admin theme, so you avoid deploying themes which you don't use (Magento/blank, Magento/luma), something like this should work:
[code]

It has the added benefit of only deploying languages you want to use for those themes (for example: we only allow English in the backe

[2018-06-23 18:53] hostep commented on #6221
@czettnersandor: I've been meaning to test the following, but haven't found the time yet: apparently you can define a php file in your `composer.json` file, in [the autoload files section](https://getcomposer.org/doc/04-schema.md#files), and that file is then getting included for every request before the `index.php` file is being executed, so you could - in theory - define your environment variabl

[2018-06-23 22:02] orlangur commented on #16346
@nacho2706,

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2018-06-23 22:02] #16346 closed, assigned to nobody

[2018-06-24 02:46] gawpo50 commented on #16272
Does anybody have any solutions to this problem?

[2018-06-24 06:29] pniel-cohen opened #16367 "Filter category/product collection by new custom attribute returns 0 results"
### Summary of the issue
I created a bool (int) attribute with a default value of 0 for both category & product entities.
I reindexed, cleared cache, etc...
Now, no matter what I do, I can't filter the collection using this attribute. It always returns 0 results, no matter if the value is 0/1/null.
Also, when I tried to debug the issue I found out that my custom attributes are missing from catalog

[2018-06-24 06:30] magento-engcom-team commented on #16367
Hi @pini-girit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-24 07:07] matin73 opened #16368 "Error message: Please check the shipping address information. Invalid value of "95" provided for the regionId field."
### Preconditions

1. Magento 2.2.3 and upgrade to Magento 2.2.4
2. PHP 7.0.30
3. MySQL libmysql - mysqlnd 5.0.12-dev and also 10.0.32-MariaDB-0+deb8u1

### Steps to reproduce
1. Install Magento 2.2.3 and install Firegento 2 via composer. then upgrade to Magento 2.2.4
2. Set configuration for "Province/Region" to "not necessary"; Allowed countries Austria and Germany; Default country Austria (also

[2018-06-24 07:07] magento-engcom-team commented on #16368
Hi @matin73. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-24 07:14] matin73 commented on #16368
@matin73 do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?
•	[x ] yes
•	[ ] no

[2018-06-24 07:33] #16258 closed, assigned to nobody

[2018-06-24 07:36] matin73 commented on #16368
The following code was added in vendor/magento/module-customer/Model/Address/AbstractAddress.php in Magento 2.2.4 in and causes issue - if I rename path value from tax/defaults/region to tax/defaults/rxegion it works. so magento is somehow fetching value because of name "region" in the path value ...:
`$countryId = $this->getCountryId();
        if (!\Zend_Validate::is($countryId, 'NotEmpty')) {

[2018-06-24 08:31] pini-girit commented on #16367
@magento-engcom-team give me 2.2.4 instance

[2018-06-24 08:31] magento-engcom-team commented on #16367
Hi @pini-girit. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-24 08:32] hostep commented on #16231
@orlangur: that amazon module is now part of Magento 2.2.4 by default, so Magento has some kind of responsibility to deal with bugs introduced by those modules I think (even if it is only passing the information around that bug on to that particular vendor).

But luckily, for this particular module, there is an open source repository to report these issues: https://github.com/amzn/amazon-payments-

[2018-06-24 08:32] magento-engcom-team commented on #16367
Hi @pini-girit, here is your [Magento instance](https://i-16367-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16367-2-2-4.engcom.dev.magento.com/admin](https://i-16367-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-24 08:43] hostep commented on #14952
@gwharton:

Have you by any chance disabled the Amazon Payment module in 2.2.4? There is [a report](https://github.com/magento/magento2/issues/16231#issuecomment-399356440) which claims that the amazon module causes this problem.

[2018-06-24 09:05] hostep commented on #16358
@bobemoe: if you are using multiple websites, you might run against a new bug in 2.2.4 indeed, it was already reported before in https://github.com/magento/magento2/issues/15205, so let's leave this one closed.

[2018-06-24 10:57] phoenix128 commented on #15828
Thank you @Flowlance , I am investigating on it trying to reproduce the issue.

[2018-06-24 13:38] chequille commented on #14952
I really wonder why reverting to 2.2.3 and upgrade to 2.2.4 worked.
Not on my site.
Disabling Amazon Payment is causing an error, therefore cannot be the case why it is working.

[2018-06-24 15:15] sidolov commented on #15213
Hi @cnviradiya. Thank you for your report.
The issue has been fixed in magento/magento2#16287 by @chirag-wagento in 2.1-develop branch
Related commit(s):
 - [c601b844777251ce08f402c1cc0d6ebf67f14428](https://github.com/magento/magento2/commit/c601b844777251ce08f402c1cc0d6ebf67f14428)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-24 15:17] sidolov commented on #15205
Hi @callumstar. Thank you for your report.
The issue has been fixed in magento/magento2#15929 by @fmarangi in 2.2-develop branch
Related commit(s):
 - [d23c198b4a7e9f5237d19e999cb160ac4059e61e](https://github.com/magento/magento2/commit/d23c198b4a7e9f5237d19e999cb160ac4059e61e)
 - [b0b82d0025d0556e0a05951c54c997f45623015a](https://github.com/magento/magento2/commit/b0b82d0025d0556e0a05951c54c997f4

[2018-06-24 15:17] #15205 closed, assigned to nobody

[2018-06-24 15:17] sidolov commented on #15245
Hi @jokeputs. Thank you for your report.
The issue has been fixed in magento/magento2#15929 by @fmarangi in 2.2-develop branch
Related commit(s):
 - [d23c198b4a7e9f5237d19e999cb160ac4059e61e](https://github.com/magento/magento2/commit/d23c198b4a7e9f5237d19e999cb160ac4059e61e)
 - [b0b82d0025d0556e0a05951c54c997f45623015a](https://github.com/magento/magento2/commit/b0b82d0025d0556e0a05951c54c997f456

[2018-06-24 15:17] #15245 closed, assigned to nobody

[2018-06-24 15:17] sidolov commented on #14895
Hi @cnviradiya. Thank you for your report.
The issue has been fixed in magento/magento2#15774 by @sanjay-wagento in 2.2-develop branch
Related commit(s):
 - [b2cc966da3a6bcc925035e12a950e636847326f8](https://github.com/magento/magento2/commit/b2cc966da3a6bcc925035e12a950e636847326f8)
 - [cfe58e16b5159f97fbf8b1246a6e5d75caaaf9e0](https://github.com/magento/magento2/commit/cfe58e16b5159f97fbf8b1246a

[2018-06-24 15:17] #14895 closed, assigned to phoenix128

[2018-06-24 15:17] sidolov commented on #9307
Hi @vishveskrish. Thank you for your report.
The issue has been fixed in magento/magento2#12771 by @eugene-shab in 2.2-develop branch
Related commit(s):
 - [39b1ef3a5b5a4741a0c664135b13944c4e7c7b61](https://github.com/magento/magento2/commit/39b1ef3a5b5a4741a0c664135b13944c4e7c7b61)
 - [94539b755992f120927a4760c06c624a0ced07c7](https://github.com/magento/magento2/commit/94539b755992f120927a4760c06

[2018-06-24 15:17] sidolov commented on #9923
Hi @roseofgold. Thank you for your report.
The issue has been fixed in magento/magento2#12771 by @eugene-shab in 2.2-develop branch
Related commit(s):
 - [39b1ef3a5b5a4741a0c664135b13944c4e7c7b61](https://github.com/magento/magento2/commit/39b1ef3a5b5a4741a0c664135b13944c4e7c7b61)
 - [94539b755992f120927a4760c06c624a0ced07c7](https://github.com/magento/magento2/commit/94539b755992f120927a4760c06c6

[2018-06-24 15:17] sidolov commented on #11403
Hi @rbur0425. Thank you for your report.
The issue has been fixed in magento/magento2#12771 by @eugene-shab in 2.2-develop branch
Related commit(s):
 - [39b1ef3a5b5a4741a0c664135b13944c4e7c7b61](https://github.com/magento/magento2/commit/39b1ef3a5b5a4741a0c664135b13944c4e7c7b61)
 - [94539b755992f120927a4760c06c624a0ced07c7](https://github.com/magento/magento2/commit/94539b755992f120927a4760c06c624

[2018-06-24 15:17] sidolov commented on #11703
Hi @expgabe. Thank you for your report.
The issue has been fixed in magento/magento2#12771 by @eugene-shab in 2.2-develop branch
Related commit(s):
 - [39b1ef3a5b5a4741a0c664135b13944c4e7c7b61](https://github.com/magento/magento2/commit/39b1ef3a5b5a4741a0c664135b13944c4e7c7b61)
 - [94539b755992f120927a4760c06c624a0ced07c7](https://github.com/magento/magento2/commit/94539b755992f120927a4760c06c624a

[2018-06-24 15:17] sidolov commented on #12695
Hi @alena-marchenko. Thank you for your report.
The issue has been fixed in magento/magento2#12771 by @eugene-shab in 2.2-develop branch
Related commit(s):
 - [39b1ef3a5b5a4741a0c664135b13944c4e7c7b61](https://github.com/magento/magento2/commit/39b1ef3a5b5a4741a0c664135b13944c4e7c7b61)
 - [94539b755992f120927a4760c06c624a0ced07c7](https://github.com/magento/magento2/commit/94539b755992f120927a4760

[2018-06-24 15:17] #12695 closed, assigned to eugene-shab

[2018-06-24 15:37] hostep commented on #14952
@chequille: I just tested this myself, and you are right, only disabling `Amazon_Payment` causes a problem, because the `Amazon_Login` module, also references the payment module in its [`config.xml` file](https://github.com/amzn/amazon-payments-magento-2-plugin/blob/a754d63/src/Login/etc/config.xml#L21-L23).

So then I tried the same with disabling both: `Amazon_Payment` & `Amazon_Login` as follow

[2018-06-24 15:41] hostep commented on #16231
@kingyond: I can confirm, disabling Amazon_Payment & Amazon_Login fixes the problem:
[code]

<img width="958" alt="screen shot 2018-06-24 at 17 29 04" src="https://user-images.githubusercontent.com/85479/41820657-a7e97fbc-77d5-11e8-8af8-0df95f788a93.png">

But not sure if this was the same issue as was initially reported by @wangzhi0417, but it feels like it is strongly related.

[2018-06-24 16:00] Dave4777 opened #16369 "Cannot Return from One Page Checkout URGENT"
I presumed that activating a one page checkout meant the feature was built into Magento 2.2.2
Now that I realize you need to purchase a $200 module to make this happen and currently cannot afford to do this, (SHOULD BE A WARNING !) All purchases I attempt to make are coming up "Cannot add to the shopping cart right now"

I am freaking out, I have turned feature back to NO for one page checkout, cl

[2018-06-24 16:00] magento-engcom-team commented on #16369
Hi @Dave4777. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-24 16:02] Dave4777 commented on #16369
YES it happens to anyone

[2018-06-24 16:12] gwharton commented on #14952
This does make sense come to think of it. I recently moved from composer install to github install. When installing via github, you don't seem to get any of the amazon modules by default in 2.2.4 which explains why I can no longer reproduce this issue.

[2018-06-24 16:52] ngocvon commented on #2996
I like you. Can you help fix error no load file default.xml

[2018-06-24 17:06] chequille commented on #14952
Hi Again,
disballed Payment and Login and as expected: it is working again correct.
So, question is now, Where is the bug, in Magento or Amazon ?

[2018-06-24 17:41] phoenix128 commented on #15828
@Flowlance ,
how did you configure the multiwebsite? Did you configure your NGINX or you created multiple path endpoints?

[2018-06-24 17:58] gwharton commented on #16355
@versdivers Your comment above should have been the right solution in my opinion. But was turned down on review as it meant making a change to a class marked as an API.

Instead we have the bodged solution that is currently in place, which still has bugs, e.g you can no longer send multiple emails at the same time, only the first will succeed, the rest will exception and fail.

[2018-06-24 18:02] gwharton commented on #11740
https://github.com/magento/magento2/issues/16203

[2018-06-24 18:03] gwharton commented on #16203
This is where the issue was first created. https://github.com/magento/magento2/issues/11740

[2018-06-24 18:10] gwharton commented on #14952
The poorly implemented fix in #11740 exposed the bug in the Amazon module.

[2018-06-24 18:20] phoenix128 commented on #15483
@BezV8 , this PR should fix it https://github.com/magento/magento2/pull/11434 .

[2018-06-24 18:22] phoenix128 commented on #15286
Hello @jcolas15 ,
you should open this to EE support.
I will check it anyway if this affects the OpenSource Edition as well.

[2018-06-24 18:29] #15286 closed, assigned to phoenix128

[2018-06-24 18:29] phoenix128 commented on #14858
Closed due to inactivity.

[2018-06-24 18:29] #14858 closed, assigned to phoenix128

[2018-06-24 19:29] johnmpasq commented on #9988
Yes an extension was developed I have installed it and it works perfectly
http://www.ibnab.com/en/blog/magento-2/magento-2-get-one-search-result-by-sku

On Wed, Jun 20, 2018 at 7:25 AM, robgt <notifications@github.com> wrote:

[2018-06-24 19:32] versdivers commented on #16355
I will keep my solution in place. On update i hope Magento found a way to remove all the bugs with this but for those who run into this problem i can comfirm that this solution is working great on a live website with multistore.

[2018-06-24 20:55] salelsol commented on #11110
- Need help with this issue, Magento 2.2.4 with Porto Theme.

1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'move': This element is not expected.
Line: 307

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'move': This element is not expected.
Line: 307

#0 /home/182587.cloudwaysapps.com/ghzznzswbg/public_html/vendor/magento/framew

[2018-06-25 03:45] dv-denda commented on #6126
@smagic39 Thankyou , it works for me

[2018-06-25 06:03] Kanasagra-Jaydip commented on #10461
I think its issue on Magento 2.2.3 or below version
**Open root/app/code/Magento/Catalog/Model/ProductRepository.php**

protected function processMediaGallery(ProductInterface $product, $mediaGalleryEntries)
{
	**find : if (isset($entry['value_id'])  // near line no : 499**
	TO
	**if (isset($entry['value_id']) && $entry['value_id'] != '') {**
}

**I have make this change and its working for me.**

[2018-06-25 06:08] Kanasagra-Jaydip commented on #10687
I think its issue on Magento 2.2.3 or below version

**Open root/app/code/Magento/Catalog/Model/ProductRepository.php**

protected function processMediaGallery(ProductInterface $product, $mediaGalleryEntries)
{
**find : if (isset($entry['value_id']) // near line no : 499**
TO
**if (isset($entry['value_id']) && $entry['value_id'] != '') {**
}

I have make this patched and its working for me.( See :

[2018-06-25 06:35] arunu commented on #16129
Getting the same issue on Magento Cloud v 2.2.4

[2018-06-25 07:07] quisse commented on #16129
Have you tried flushing the composer cache?

[2018-06-25 07:28] sidolov commented on #7379
Hi @atihomirov. Thank you for your report.
The issue has been fixed in magento/magento2#16278 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [54e1a715be3ef0bdfdb45b6fde99912d6e19fca6](https://github.com/magento/magento2/commit/54e1a715be3ef0bdfdb45b6fde99912d6e19fca6)
 - [e874ff0cb963bdb2a700c35c74b6051318705a5b](https://github.com/magento/magento2/commit/e874ff0cb963bdb2a700c35c74b6051

[2018-06-25 07:28] sidolov commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#16293 by @dankhrapiyush in 2.3-develop branch
Related commit(s):
 - [89ca28f7ef9bde89d0a903513123db37e506dd1e](https://github.com/magento/magento2/commit/89ca28f7ef9bde89d0a903513123db37e506dd1e)
 - [5c1e8f770bca02fd3a3db78ce96def3843cfc50e](https://github.com/magento/magento2/commit/5c1e8f770bca02fd3a3db78ce96def3

[2018-06-25 07:28] sidolov commented on #14351
Hi @simpleadm. Thank you for your report.
The issue has been fixed in magento/magento2#14352 by @simpleadm in 2.3-develop branch
Related commit(s):
 - [1268692cd2037f3d5df7f458bd91934c4272978a](https://github.com/magento/magento2/commit/1268692cd2037f3d5df7f458bd91934c4272978a)
 - [16b8b2c206e06945f2aa884e454bf2a4d832ee68](https://github.com/magento/magento2/commit/16b8b2c206e06945f2aa884e454bf2a4

[2018-06-25 07:57] Flowlance commented on #15828
@phoenix128 thanks for your reply.

I also find it weird that this cookie is being set. See the attached screenshot of our current cache configuration:
![screen shot 2018-06-25 at 09 45 04](https://user-images.githubusercontent.com/3727974/41837159-013ebe9c-785d-11e8-87cf-270fb5bbaf09.png)

We have set specific url's per store. Also note in my nginx config we have this:

[code]

Unless it matches

[2018-06-25 08:22] ronin1310 commented on #4737
Same situation here. Magento 2.2.4, pelago/emogrifier in version 2.0.0.
Issue is still valid.

[2018-06-25 08:52] orlangur commented on #16231
@hostep,

Definitely yes. Such responsibility does not mean bugs in such modules should be reported in this repo IMO. It's like making Magento responsible for bug in Symfony framework if such bug is breaking something in your custom code.

However, it's a responsibility of a vendor to test extension with new Magento version like `2.2.4`. Without such testing any third-party extension should not be

[2018-06-25 09:11] TreyTaylor1997 commented on #16013
Would it help if I post my vhost / htaccess conf files?

[2018-06-25 09:36] crtl commented on #16062
Same issue on 2.1.11.
Steps:
1. Filter by date from/to (on Order Page)
2. Visit another admin page
3. Go back to order page, one of the dates or both are now Invalid Date.

The problem is the filter stays active. Applying the filter in some conditions can lead to an infinite loader.
Then I have to hide the loader in dev tools to be able to reset the loader.

[2018-06-25 09:50] ccasciotti commented on #16129
I can confirm that issue is back again without composer cache, the only working solution is in the comment made by @quisse

[2018-06-25 09:57] SivakumarTNS commented on #2958
@amenk I have installed the extension which is allow to upload SVG on product images [https://github.com/iMi-digital/magento2-module-svg-product-images](url) as per your suggestion. Also I installed Imagemagick on my Xampp but still can't upload SVG images.

Please comment.

[2018-06-25 10:02] esw-michael opened #16374 "Currency caching issue on Luma homepage Magento 2.2.4"
**Summary of the issue**
Currency selection does not work correctly on Luma homepage due to caching issues. If caching is disabled the issue does not exist. The issue also does not exist on product page.

**Preconditions**
Magento Open Source 2.2.4

**Steps to reproduce**
1. Install Magento with Luma store
2. Set base currency as EUR
3. Stores>Configuration>CurrencySetup>Add "Allowed Currencies":

[2018-06-25 10:02] magento-engcom-team commented on #16374
Hi @esw-michael. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-25 10:06] Shimon2 opened #16375 "Magento Cache Grows Uncontrollably"
The Magento cache on our site keeps growing.

We Flush the Magento Cache.  This brings disk usage to about 30.88GB (29%)
We warm the page cache with a utility that goes through the entire sitemap and warms the cache.  This is done to improve the responsiveness of the site.  This brings disk usage to about 50.7 GB (48)%.
The disk usage continues to climb at about 12 GB (10%) / day.

This means that

[2018-06-25 10:06] magento-engcom-team commented on #16375
Hi @Shimon2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-25 10:25] etcik1 opened #16377 "Store scope Widget cannot be added"
### Preconditions
1. Magento 2.2
2. Having two websites with two store views (e.g website1 with stores store1 and store2 and website2 with stores store3 and store4)
3. Different websites use same categories.

### Steps to reproduce

1. In Admin go to Catalog -> Categories
2. Choose some category (LEVEL 1)
3. Change storefront from default to some specific one
4. Add menu widget (static block)

###

[2018-06-25 10:36] hostep commented on #16231
Problem is that most of these modules are *not* on Github or some place else (luckily Amazon's module is), I've opened a devdocs issue for contact information for all these CBE's: https://github.com/magento/devdocs/issues/1961

Installing a clean 2.2.4 from scratch enables all modules.
Also updating from 2.2.3 to 2.2.4 enables all newly introduced modules. And yes, you can see those popping up in

[2018-06-25 11:11] mohitka opened #16378 "Wrong placeholder for password field in the checkout page"
### Summary of the issue: Wrong placeholder for password field in the checkout page

### Preconditions
1. **Magento version:** 2.2.3 and 2.2.4
2. **Edition:** Community Edition (Open Source Edition)

### Steps to reproduce
1. Add a product to cart and go to checkout page.
2. Enter any registered email so that the password field appears.
3. The password field shows the placeholder **Optional**, but

[2018-06-25 11:11] magento-engcom-team commented on #16378
Hi @mohitka. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-25 11:19] mughalsexpress commented on #4687
i am using Magento ver. 2.2.4

and i try my best but unable to fix the issue please help thank you

Welcome to Magento Admin, your online store headquarters.
To use the Magento setup wizard sign into your Admin account and navigate to System => Tools => Web Setup Wizard

[2018-06-25 11:51] mohitka commented on #16378
No @hitesh-wagento I was just working on a project and found this issue. I thought it should be reported for the sake of the good experience of Magento.

[2018-06-25 11:55] hitesh-wagento commented on #16378
Hi @mohitka

Yes, I will fix this issue and fixed in next release.

The issue is placeholder text **Optional** is wrong, Right ?

[2018-06-25 12:00] mohitka commented on #16378
Yes @hiren-wagento

[2018-06-25 12:03] hitesh-wagento commented on #16378
I am working on this

[2018-06-25 12:06] lano-vargas commented on #5596
@ NickyBass Can you tell if magento 2.2.2 this file: `vendor/magento/module-google-analytics/view/frontend/templates/ga.phtml` has this if statement as I have 2.2.2 and this file is as bellow:

[code]

Also if you look at magento core file here : https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/GoogleAnalytics/view/frontend/templates/ga.phtml

The if statement doesn't exist.

[2018-06-25 12:06] mohitka commented on #16378
Okay, thanks. So, should I expect the changes in the next release of Magento?

[2018-06-25 12:19] hitesh-wagento commented on #16378
Yes, sure

[2018-06-25 12:28] orlangur commented on #16375
@Shimon2 please find out on your side which caches are growing. Also, 29-48-80% are not any useful numbers, always operate MB values.

Why not use Varnish? Using filesystem Full Page Cache is not a recommended approach for production and obviously there is no mechanism which would control the total size of stored cache.

[2018-06-25 12:30] orlangur commented on #16369
@Dave4777,

Are you sure you can reproduce this issue on a vanilla Magento 2 installation?

[2018-06-25 12:32] hostep commented on #15205
Let's quote from the PR to provide more accurate info:

[2018-06-25 12:32] hostep commented on #15245
Let's quote from the PR to provide more accurate info:

[2018-06-25 12:33] hostep commented on #15873
Let's quote from the PR to provide info when this issue will be fixed:

[2018-06-25 12:33] #15873 closed, assigned to nobody

[2018-06-25 12:34] vaso123 opened #16380 "Force to show billing address form"
### Preconditions
1.  Magento 2.2.x

### Steps to reproduce
1. Add a js file to the checkout page
2. Add subscription on billingaddress
3. Try to rewrite the isAddressDetailsVisible to return false

### Expected result
1. Next page the billing address should shown.

### Actual result
1. The billing-address.js is always overwrite this isAddressDetailsVisible to true, no conditions for this.canUseSh

[2018-06-25 12:34] magento-engcom-team commented on #16380
Hi @vaso123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-25 12:35] orlangur commented on #16231
I see...

Such expectation is correct and I'm pretty sure testing with all modules enabled is performed as a part of release activities. However, testing for compatibility with "mageplaze smtp extension" or any other third-party extension is not performed and SHOULD NOT be performed. This is a responsibility of those extensions respective vendors.

[2018-06-25 12:37] hostep commented on #16231
Correct, I was talking about those Amazon modules :) Which most likely triggered the problem with the mageplaze smtp extension. Anyway, this is probably not the correct thread for such discussions :)

[2018-06-25 12:43] esw-michael commented on #16374
@magento-engcom-team give me 2.2.4 instance

[2018-06-25 12:43] magento-engcom-team commented on #16374
Hi @esw-michael. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-25 12:44] magento-engcom-team commented on #16374
Hi @esw-michael, here is your [Magento instance](https://i-16374-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16374-2-2-4.engcom.dev.magento.com/admin](https://i-16374-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-25 12:54] pemacviper commented on #11262
Hi,

Appologies for the late response!

Unfortunately, I could not solve the problem. I am still lokking for a way to make it work.

Concerning the code, I am not allowed to share the code by contract. This is an implementation for a customer where the whole IP is handed over to the client. Sorry about this!!

Best regards

Peter

Am 19. Juni 2018 um 15:55 schrieb tweetyx <notifications@github.com

[2018-06-25 13:07] esw-michael commented on #16374
I can confirm I was able to reproduce the issue on vanilla Magento instance.

I created a simple product and added to homepage (Content>Pages>Homepage>edit>Content>Insert Widget>Widget Type>Catalog Products List)

After this I followed my original steps to reproduce error:

![image](https://user-images.githubusercontent.com/40562272/41851803-02501bfe-7881-11e8-9768-df467b574de9.png)

[2018-06-25 13:16] MonsieurLeSuisse commented on #3500
Magento sucks! How can they still require mcrypt? Magento is outdated tech

[2018-06-25 13:31] VincentMarmiesse opened #16382 "Product resource getAttributeRawValue function does not return anything if there is no default value"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1.17

### Steps to reproduce
1. Create a storeview EN
2. Create a storeview FR
3. Create a dropdown attribute with some values
4. Change this attribute value on EN view
5. Use `getAttributeRawValue()` to retrieve it, ie
[code]

### Expected result

1. Value is returned

### Actual result

1. No value is returned because there is no value in default stor

[2018-06-25 13:31] magento-engcom-team commented on #16382
Hi @VincentMarmiesse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-06-25 13:48] Scqualo71 opened #16383 "Quantity Increments in Configurable Products Not Works"
### Summary of the issue
Quantity increments condition of Magento2 not works, I see its in configurable products with associate many simple products. I tried setting the conditions in both configurable and simple products.

### Preconditions
1. Magento 2.2.3
2. PHP 7.0

### Steps to reproduce
1. Configurable product with associate simple products. Simple products have different quantity increments

[2018-06-25 13:48] magento-engcom-team commented on #16383
Hi @Scqualo71. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-25 13:55] karangar commented on #16209
Any update ?

[2018-06-25 14:11] jitendra-cedcoss commented on #16158
@magento-team any update ?

[2018-06-25 14:12] amitcedcoss commented on #13952
@magento-engcom-team any update regarding our issue?

[2018-06-25 14:28] chappish opened #16384 "Magento2 404 Error Admin"
Hi there,

I just manually installed Magento2 CE on Ubuntu server 18.04 with LAMP via composer, the install went ok and all checks were on green however the link given after installation to access the magento admin page is giving error 404.

To resolve this a few people say it should work by changing from the config:

sudo nano /etc/apache2/apache2.conf

From:

<Directory /var/www/>
     Options I

[2018-06-25 14:28] magento-engcom-team commented on #16384
Hi @chappish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-25 14:37] samuel20miglia opened #16385 "Checkout Onepage from Mac not work?"
Json error on onepage checkout if i try to by from mobile device and safari

### Preconditions
1. php
2. v.2.1.4

### Steps to reproduce
1. put anything in cart
2. go to checkout
3. try from mac the loading still in page with an error unterminated string

### Expected result
1. finish the checkout

### Actual result
1. error unterminated string error checkout

[2018-06-25 14:37] magento-engcom-team commented on #16385
Hi @samuel20miglia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-06-25 14:41] samuel20miglia commented on #16385
@magento-engcom-team give me 2.1.4 instance

[2018-06-25 14:41] magento-engcom-team commented on #16385
Hi @samuel20miglia. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2018-06-25 14:41] samuel20miglia commented on #16385
ok

[2018-06-25 15:10] graemel commented on #15270
Sorry, I'm still thoroughly confused by this. Why is the default behaviour to not use the previous billing address.

Surely the normal use case for a saved card is, customer places an order with billing address X. Next time they place an order, they might ship somewhere different, but why would their billing address have changed? I mean, they might have moved house, but surely that's the exception

[2018-06-25 15:17] VincentMarmiesse commented on #16382
@magento-engcom-team give me 2.2.4 instance

[2018-06-25 15:17] tweetyx commented on #11262
Ok no prob, i disable wysiwyg so.
But now i am blocked by dataprovider on dynamic rows.
I can save the elements in db table but :
How we can load the elements in the table when page is loaded ?

i try by load element like this in my Dataprovider, but it doesn't work :

`<?php

namespace Matritix\AdvanceCmsFieds\Model\Cms\Page;

use Magento\Cms\Model\ResourceModel\Page\CollectionFactory;
use Magent

[2018-06-25 15:18] magento-engcom-team commented on #16382
Hi @VincentMarmiesse. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-25 15:18] magento-engcom-team commented on #16382
Hi @VincentMarmiesse, here is your [Magento instance](https://i-16382-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16382-2-2-4.engcom.dev.magento.com/admin](https://i-16382-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-25 15:21] quisse opened #16388 "Free shipping cart price rule not applied."
When creating a "Cart Price Rule" which has to give free shipping, the free shipping never gets applied on the flatrate method. This is because the first code fragment turned into the 2nd fragment. The tablerates also don't seem to give free shipping at first sight.
I wanted to create this on a test env but it seems that the cron's aren't running?

https://github.com/magento/magento2/blob/44791d5a

[2018-06-25 15:21] magento-engcom-team commented on #16388
Hi @quisse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-06-25 15:22] quisse commented on #16388
@magento-engcom-team give me 2.2.4 instance

[2018-06-25 15:22] magento-engcom-team commented on #16388
Hi @quisse. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-25 15:22] magento-engcom-team commented on #16388
Hi @quisse, here is your [Magento instance](https://i-16388-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16388-2-2-4.engcom.dev.magento.com/admin](https://i-16388-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-25 15:25] VincentMarmiesse commented on #16382
I can't confirm with this instance because I have to write some code and call the function `getAttributeRawValue`.
Can I do it with your instance?

[2018-06-25 15:29] quisse commented on #16388
#14657 & #14722 seem related, only they think that the "Free Shipping" method should be enabled which I think it don't.

[2018-06-25 15:53] springerin commented on #11538
Same here with version 2.2.3, I am going try to do it on a clean installation.

[2018-06-25 16:23] beard86 commented on #6710
This Issue still occurring in 2.1.13 also.

[2018-06-25 16:37] beard86 commented on #6710
@sumitvgupta your code fixed the issue for me in 2.1.13.

[2018-06-25 18:37] yongred commented on #16349
Hi, @Ananth747 no, they don't have duplicated attributes that causes that error. If I use $product->save(); no error will occur.

[2018-06-25 18:45] Ananth747 commented on #16013
Can you check Network tab in Firefox? Do you see http to https or https to http redirects?
Rename .htaccess & check what happens?

[2018-06-25 18:52] jmlaing commented on #7265
Just in case someone stumbles in here, this might save you some time - if you've checked everything above, check your sandbox account's "Response/Receipt URLs" under Settings. It's a whitelist as to where the sandbox will accept requests from...make sure you've whitelisted your current testing site.

[2018-06-25 18:53] Ananth747 commented on #16349
What is the value of attribute id 23 % 26?

[2018-06-25 19:02] SimonAnguish commented on #10591
I am still seeing this bug on 2.2.3. The index in question is catalog_category_product, rather than catalogsearch_fulltext, so the reference above (#6754) is not the correct solution. I am investigating the use of the useTempTable = true flag, but for at least \Magento\Catalog\Model\Indexer\Category\Product\Action\Row, it does not look like that will be an acceptable answer, as there is no other s

[2018-06-25 19:08] Ananth747 commented on #16349
Debug the code:
Class: Magento\ConfigurableProduct\Model\Plugin\ProductRepositorySave
Function: validateProductLinks
Line: 110

`print_r` variable $valueMap and check whats the value. You should find duplicate value in this variable.

[code]

[2018-06-25 20:50] yongred commented on #16349
actually, its due to $valueKey being always ''
`private function validateProductLinks(array $attributeCodes, array $linkIds)
    {
        $valueMap = [];

        foreach ($linkIds as $productId) {
            $variation = $this->productFactory->create()->load($productId);
            $valueKey = '';`

because the $extensionAttributes->getConfigurableProductOptions(); is returning empty.

`public

[2018-06-26 05:34] vaso123 commented on #13260
Does not matter the country, I did not fill anything and it is still allows me to place order. In 2.2.4

[2018-06-26 06:30] mhauri commented on #16384
Hi @chappish maybe have a look here: https://devdocs.magento.com/guides/v2.2/install-gde/prereq/apache.html

But as a wild guess your `<Directory /var/www/>` directive should be `<Directory /var/www/html/magento/pub>` make sure you have the original .htaccess file in your pub directory.

[2018-06-26 07:05] orlangur commented on #11110
@salelsol you need to find and fix improper `<move` elements in your layout XML files. Was Porto Theme upgraded for 2.2 by its developer?

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions. Also, googling observed error is usually helpful.

[2018-06-26 07:37] osrecio commented on #14743
Solved and solution referenced

[2018-06-26 07:37] #14743 closed, assigned to nobody

[2018-06-26 07:39] flipflap opened #16394 "After "Save & Dublicate" Article Image Thumbs not changing"
### Preconditions

1. Magento 2.1.11

### Steps to reproduce

1. Open a Config Article and click "Save & Dublicate"
2. Upload new images
3. Check first image as "Buse, Small and Thumbnail"

### Expected result

1. New image should be shown in product overview and in Magento backend

### Actual result

1. In Catalog view link still goes to old image same as the original article and shows the old im

[2018-06-26 07:39] magento-engcom-team commented on #16394
Hi @flipflap. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-26 07:49] phoenix128 commented on #15828
Thank you @Flowlance ,
I think it should be enough. I am still trying to reproduce it locally.

[2018-06-26 07:50] orlangur commented on #16384
Hi @chappish,

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2018-06-26 07:50] #16384 closed, assigned to nobody

[2018-06-26 07:52] orlangur commented on #16383
@Scqualo71,

Are you saying that even if you set Qty Increments on configurable product it is ignored?

[2018-06-26 08:05] Scqualo71 commented on #16383
Yes, I can set Qty Increments in configurable product or/and in simple product but the condition is even ignored.

[2018-06-26 08:12] TBSMage commented on #14116
#mhlfj18

[2018-06-26 08:15] flipflap commented on #16394
Sorry, I am not able to get vanilla Magento instance to work at all.

[2018-06-26 08:19] TBSMage commented on #16394
@magento-engcom-team , I would like to work on this issue. #mmei18

[2018-06-26 08:23] LouNik1984 commented on #16388
I'm on magento 2.2.2 and I have the same issue: free shipping cart rule is enabled  but doesn't show up. I have flat rate as the only shipping method enabled. What I did:

- switch index mode to on save
- enable flat rate as shipping method
- create cart rule with following conditions:
![cattura](https://user-images.githubusercontent.com/6501073/41898364-226d7dd8-792a-11e8-90c9-030fe274d4b5.JPG)
-

[2018-06-26 08:40] adamlavery commented on #12983
Could @magento_encom_team investigate this further? Why does this patch to a core JS file fix the issue? What needs to change in the core to address this permanently?

[2018-06-26 08:45] kanduvisla commented on #6388
I think I bumped into this issue today in M2.2.3.

There was a product in a saved quote of a logged in customer that had been disabled in the meantime. This caused the minicart to break (checkout button did not work anymore) and a lot of errors where thrown in the console due to the minicart being saved in the local storage I guess.

[2018-06-26 08:48] flipflap commented on #16394
I found the solution. You can close this.

I changed the image on "All store view" and it didn't  change them in my sub store views with languages. What is missing for product images is the "Use default value" function as other attribute have. Often people use stores for languages and mostly the images don't contain words so they can be same for all languages.

[2018-06-26 08:49] LouNik1984 commented on #16388
edit to add: if I change from "shipment with matching items" to "matching items only" then the rule works as expected. In my case, the two options can be used both it doesn't influence the result (I have subtotal as condition) but there are cases in which I need the other option. Eg: give free shipping on the entire cart if one or more products are from X manufacturer. In this case, using "matcing

[2018-06-26 08:54] magento-engcom-team commented on #15627
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#16343 by @dverkade in 2.3-develop branch
Related commit(s):
 - [7d2636538ecdcc314312689062f799103d86e22a](https://github.com/magento/magento2/commit/7d2636538ecdcc314312689062f799103d86e22a)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-26 08:54] magento-engcom-team commented on #5316
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#16332 by @lisovyievhenii in 2.3-develop branch
Related commit(s):
 - [544c7b66b9ae43279cf6da5e8f5420228e24e0ff](https://github.com/magento/magento2/commit/544c7b66b9ae43279cf6da5e8f5420228e24e0ff)
 - [9804cb10e0212a19a02135de072f28b78d18a2a4](https://github.com/magento/magento2/commit/9804cb10e0212a19a02135de072f28

[2018-06-26 08:54] magento-engcom-team commented on #15037
Hi @brian-labelle. Thank you for your report.
The issue has been fixed in magento/magento2#16148 by @jignesh-baldha in 2.3-develop branch
Related commit(s):
 - [e9fa7b69611152dae7e4c13838ba9701178c5602](https://github.com/magento/magento2/commit/e9fa7b69611152dae7e4c13838ba9701178c5602)
 - [388b58700be8b4ff3f9c2457f0766cae57ced289](https://github.com/magento/magento2/commit/388b58700be8b4ff3f9c245

[2018-06-26 08:54] magento-engcom-team commented on #1164
Hi @stevieyu. Thank you for your report.
The issue has been fixed in magento/magento2#16164 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [25b364917705d6507bff2162cdee379a8eaa02bd](https://github.com/magento/magento2/commit/25b364917705d6507bff2162cdee379a8eaa02bd)
 - [6be8f8c0c18b4bee69e87b7c48c0253edcd88d07](https://github.com/magento/magento2/commit/6be8f8c0c18b4bee69e87b7c48c0253e

[2018-06-26 08:56] quisse commented on #16388
@LouNik1984 see code fragments i've embedded, they are the source of your issue.

[2018-06-26 08:59] evktalo commented on #14685
@darinda If you comment out line 115 or so in Magento\Cron\Model\Schedule:

`$time = $this->timezoneConverter->date($time)->format('Y-m-d H:i');`

do the crons run? We are experiencing the same bug and it looks like the particular environment is supplying the date in an unexpected format during cron runs. Best guesses are that there is either a setting problem on the server or Magento is not able

[2018-06-26 09:09] orlangur commented on #16383
@Scqualo71, ok! Just that Qty Increments of simple products must be ignored when they are added to configurable/bundle products AFAIR, but Qty Increments for configurable should work.

[2018-06-26 09:14] thanhdble commented on #12486
Same issue in magenot 2.2.3

[2018-06-26 09:15] orlangur commented on #16382
@VincentMarmiesse is it a duplicate of https://github.com/magento/magento2/issues/15205 maybe? Please check if corresponding PR worked for you.

[2018-06-26 09:21] VincentMarmiesse commented on #16382
@orlangur no it's not. It's not related to the session or translation, the SQL request done by `getAttributeRawValue` is assuming there is a value for the store 0, but it's not always the case.

[2018-06-26 09:34] Scqualo71 commented on #16383
What you say is a possible solution but I think it's better that minimum order and quantity increments must work the same way.
So if it's right that the minimum order of the simple product "wins" on that of the configurable product, I think it must be so also for the quantity increments.
In my store I have this case:
- product configurable is the product model (image, shape, materials,...)
- produ

[2018-06-26 09:35] rddwh commented on #5013
Any update on this issue?

[2018-06-26 09:53] NickyBass commented on #5596
@lano-vargas The fix i wrote was good for 2.1.x actually i don't have a solution for 2.2.2 i think the problem is varnish or the cache.

[2018-06-26 09:54] tejasshyani commented on #15008
Facing same issue.. :(

[2018-06-26 10:01] OvalMedia opened #16397 "Topmenu impossible to override constructor"
It is impossible to override the constructor of the Topmenu class as the class members $nodeFactory and $treeFactory are private.

I need a custom helper inside this class and the magento 2 way to inject helpers is to do it in the constructor of objects instead of using the object manager.

[2018-06-26 10:02] magento-engcom-team commented on #16397
Hi @OvalMedia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-26 10:05] Pesely opened #16398 "404 on Admin after Data Migration"
I have migrate my magento to a new server.
http://www.pesemall.com

The front end works fine, but i am not able to find my admin panel:
http://www.pesemall.com/admin

vale of web/secure/use_in_adminhtml is 0
and
this is some lines from my local.xml:
`            <adminhtml>
                <args>
                    <frontName><![CDATA[admin]]></frontName>
                </args>
            </adm

[2018-06-26 10:05] magento-engcom-team commented on #16398
Hi @Pesely. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-06-26 10:07] #16397 closed, assigned to nobody

[2018-06-26 10:36] Sathishkumar8731 opened #16399 "CMS Page - URL key issue in Magento 2"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result
Need to show the header section all type of Page url

[2018-06-26 10:36] magento-engcom-team commented on #16399
Hi @Sathishkumar8731. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-06-26 10:36] Sathishkumar8731 opened #16400 "CMS Page URLkey issue on Magento 2"
### Preconditions

Using Latest Magento version 2.2.4
PHP 7.1.8
MYSQL
Linux OS

### Steps to reproduce

   1) Go to admin -> Content -> Pages -> Create a new Page.
   2) Need to enter the title as single word like "returns", so that the URL key is created as "returns".
   3)  Go to the blocks and add the page to the link

<li><a href="{{store url ='returns'}}">Report Piracy</a></li>
4) When we cli

[2018-06-26 10:36] magento-engcom-team commented on #16400
Hi @Sathishkumar8731. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-06-26 10:38] Sathishkumar8731 commented on #16400
### Preconditions

Using Latest Magento version 2.2.4
PHP 7.1.8
MYSQL
Linux OS

### Steps to reproduce

   1) Go to admin -> Content -> Pages -> Create a new Page.
   2) Need to enter the title as single word like "returns", so that the URL key is created as "returns".
   3)  Go to the blocks and add the page to the link

<li><a href="{{store url ='returns'}}">Report Piracy</a></li>
4) When we cli

[2018-06-26 10:39] orlangur commented on #16383
Minimum order currently working the way you described, right? So, you can specify arbitrary value for any simple and it will be effective even when you buy simple as a variation of configurable product.

[2018-06-26 10:40] iindranil commented on #10992
I am having this issue, Same product showing multiple times in a same date. It must be show one time with total ordered qty.  Checkout the screen-shot.

![2575f41cfd345394e0085a07404556d3](https://user-images.githubusercontent.com/39942912/41906157-c7c0eec0-795a-11e8-945b-f7f6a534e4cf.png)

[2018-06-26 10:47] quisse commented on #16388
@LouNik1984 My quick & dirty fix is to create an around method on the AbstractCarrierInterface which calls the `collectRates` method and if the `$rateRequest->getFreeShipping()` method returns true, I reset all prices to 0.

[2018-06-26 11:02] faisalmirza commented on #10363
Hi was wondering if is there is an update on this?

[2018-06-26 11:21] ERajkumar opened #16402 "Magento 2 Create Order Programatically, Not working via cron job"
### Preconditions

1.  PHP 7.0
2. Mysql 5.6
3. Ubuntu 16.04
4. Magento 2.1

### Steps to reproduce

1.  Order Programmatically via cron

I am working on the subscription-based module, I need to put order based on subscription. so I write a code to create order.  If run this cron using [n98-magerun2.phar](https://github.com/netz98/n98-magerun2) plugin its works fine. But Once I configured cron job

[2018-06-26 11:21] magento-engcom-team commented on #16402
Hi @ERajkumar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-06-26 11:30] torreytsui commented on #10533
Although this issue is closed already, I came across it and know that there is a workaround, so want to share it here.

Layout is cached by Magento. We can debug the layout by inspecting the layout cache.

To use this workaround:
- Make sure you're using filesystem cache (so, disable caches like redis cache)
- Load the page you want to debug with layout cache enabled
- In `var/cache/`, search for

[2018-06-26 12:06] magento-wise commented on #12413
same issu here also :-(

[2018-06-26 12:36] Meadows-VisionSharp opened #16404 "ar"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-26 12:36] magento-engcom-team commented on #16404
Hi @Meadows-VisionSharp. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-06-26 12:47] #16404 closed, assigned to nobody

[2018-06-26 12:49] ep-safegear commented on #12413
Hello! our problem was solved by a developer (which I'm not), I don't understand that much from his instructions, but I hope that this is going to help some of you. The following are his instructions:

Accordingly, the scripts of other sites in which the timeout is smaller, clean all sessions according to the set timeout, which by default is equal to 30 minutes.
That is, when a garbage collector i

[2018-06-26 13:53] fsw commented on #12355
Actually 3b50751 is just fixing 50% cases. cacheProduct is still clearing half the cache AFTER setting the product so there is 50% chance that the product we just set will be deleted just after and cause this error. I think 1270ab9cd514f189a1c05d4ee1f90bed95f5bdf8 is fixing this permanently by changing get() method flow.

[2018-06-26 13:58] kanduvisla opened #16406 "M2.2.4 : Extension attributes can not be used for product attributes"
I'm trying to add extension attributes to product attributes, but I'm getting the error:

[code]

### Preconditions

1. Magento 2.2.4

### Steps to reproduce

I declare my extension attributes in `etc/extension_attributes.xml`:

[code]

I use the `catalog_entity_attribute_save_after`-event to set extension attributes:

[code]

Please note that for some reason, the `ProductAttributeInterface` does

[2018-06-26 13:58] magento-engcom-team commented on #16406
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-26 14:24] mhauri commented on #16402
Hi @ERajkumar

GitHub is intended for bug reports only, as you already opened the same question on [Magento Stack Exchange](https://magento.stackexchange.com/questions/231363/create-order-programatically-not-working-via-cron) it's not necessaryto ask the same question here.

[2018-06-26 14:24] #16402 closed, assigned to nobody

[2018-06-26 14:26] #16399 closed, assigned to nobody

[2018-06-26 14:29] mhauri commented on #16398
Hi @Pesely

GitHub is intended for bug reports only, please use [Magento Stack Exchange](https://magento.stackexchange.com/) for questions.

Thank you

[2018-06-26 14:29] #16398 closed, assigned to nobody

[2018-06-26 14:41] nevinsm opened #16407 "REST API get cart totals performing additional calculation"
### Preconditions
1. PHP 7.1.15, MySQL 5.7.20
2. Magento 2.2.4

### Steps to reproduce
1. Add a product to the cart
2. Make an ajax request to the endpoint returned by vendor/magento/module-checkout/view/frontend/web/js/model/resource-url-manager.js getUrlForCartTotals(quote), where quote is the object returned by vendor/magento/module-checkout/view/frontend/web/js/model/quote.js

### Expected res

[2018-06-26 14:41] magento-engcom-team commented on #16407
Hi @nevinsm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-06-26 15:43] joshdavenport commented on #7231
Am I living in a bubble or is nobody else other than those already partaking in this issue experiencing this?

I have what seems to be a reproducable case, and am happy to pass on some details if anybody is open to working on this.

[2018-06-26 16:11] orlangur commented on #7231
Hi @joshdavenport, of course providing a simple test case will simplify the investigation to whoever will work on this.

Note that

Magento is not doing LESS compilation by itself, in case of bug most likely we will have to patch `lessphp` library.

[2018-06-26 20:04] ishakhsuvarov commented on #10992
Reopening based on additional reports.

[2018-06-26 21:03] denistrator opened #16409 "Product page gallery doesn't update product images"
### Summary
Product page gallery doesn't update product images after selecting swatch which relates to simple product¹ which has the same² first³ image as first image of its configurable product
¹ the simple product has 1 or more unique image
² has the same path in `/pub/media`
³ first in order of images in admin (image "Role" does not matter)

### Preconditions

1. Magento 2.2.4

### Steps to rep

[2018-06-26 21:03] magento-engcom-team commented on #16409
Hi @denistrator. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-26 21:14] denistrator commented on #16409
@magento-engcom-team give me 2.2.4 instance

[2018-06-26 21:14] magento-engcom-team commented on #16409
Hi @denistrator. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-26 21:14] magento-engcom-team commented on #16409
Hi @denistrator, here is your [Magento instance](https://i-16409-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16409-2-2-4.engcom.dev.magento.com/admin](https://i-16409-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-27 01:04] orlangur commented on #16406
@kanduvisla https://devdocs.magento.com/guides/v2.2/extension-dev-guide/extension_attributes/adding-attributes.html looks like a working example of adding extension attributes to product entity.

[2018-06-27 01:13] orlangur commented on #16407
Looks like in https://github.com/magento/magento2/commit/2c9dd450490840841b237656522a7cd1364723f3 this logic became applied to not just ExclTax GrandTotal. @irenelagno thoughts?

[2018-06-27 01:53] loibv5989 opened #16415 "Wrong email format sales order"
**Preconditions**
Magento version 2.2.4

**Steps to reproduce**
I updated version 2.1.1 to 2.2.4. I have an error with the email sales order.
Email config sales in my admin is sales@croftonline.co.uk, When the customer sends the order, the server sends the email they receive the email with the ip address and host name as the attachment. (I only get errors with sales order emails).

**Expected resu

[2018-06-27 01:53] magento-engcom-team commented on #16415
Hi @dv-denda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-27 05:18] Trilokkumarts opened #16417 "MAGENTO 2 : HOW TO CREATE A NEW TAB IN ORDER VIEW PAGE"
### Preconditions

1. iam trying to create a new tab in order view page , for image upload for each order in admin panel. iam not able to do please help me out on this

2. from last few days Thanks in advance.....
### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-27 05:18] magento-engcom-team commented on #16417
Hi @Trilokkumarts. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-06-27 06:04] kkert opened #16418 "product attribute property text area is not supporting {{media url =""}} image path"
Image not showing at fronted side when we uploaded it through media url in text area property

Its only supported the static image path.

I want that its have to support the media url same as description of product

Can this is possible??

### Preconditions

1. magento version 2.2.2

### Steps to reproduce

1. go to admin and create one product attribute with "text area" type, set "Enable WYSIWYG"

[2018-06-27 06:04] magento-engcom-team commented on #16418
Hi @kkert. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-06-27 06:42] wintermute-84 opened #16419 "Vimeo with froogaloop2.min.js cdn results in 504"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Add vimeo video to product
2. See the product page

### Expected result

1. Video playing

### Actual result

1. Video is not loading in every browser except safari on mac os (for unknown reason)
The issue is actually in https://secure-a.vimeocdn.com/js/froogaloop2.min.js that results in 504 gateway timeout

Also looks like vimeo has

[2018-06-27 06:42] magento-engcom-team commented on #16419
Hi @wintermute-84. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-06-27 06:53] wintermute-84 commented on #16419
@magento-engcom-team give me 2.2.4 instance

[2018-06-27 06:53] magento-engcom-team commented on #16419
Hi @wintermute-84. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-27 06:54] magento-engcom-team commented on #16419
Hi @wintermute-84, here is your [Magento instance](https://i-16419-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16419-2-2-4.engcom.dev.magento.com/admin](https://i-16419-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-27 07:04] luoxulx commented on #16419
@magento-engcom-team  Cloud you tell the difference between the next 2.2-develop and 2.3-develop versions? Which is more stable and better performance?Thanks!

[2018-06-27 07:06] wintermute-84 commented on #16419
@magento-engcom-team the deployed vanilla instance is useless as it is not possible to upload any media
(file not found in temp folder)

[2018-06-27 07:08] kanduvisla commented on #16406
@orlangur : that's right, and the example is about add extension attributes to the **product entity**. But in my case I want to add extension attributes to the **product attribute entity**. It's a different kind of entity. And at the moment there does not seem to be a way to do this in M2.2.4.

However, I see that the `getExtensionAttributes()`-method [is added to the 2.3-develop branch](https://g

[2018-06-27 07:15] wintermute-84 commented on #16419
added a link to the vanilla m2 page where video problem can be seeing
http://46.101.28.242/fusion-backpack.html

[2018-06-27 07:17] versdivers commented on #10605
This is still an issue in Magento 2.2.4 and therefor the editors are not working like @Taral-Patoliya  explained

[2018-06-27 07:17] Scqualo71 commented on #16383
yes, but it is not always possible to use it: it doesn't work if you have to manage packs of products.
Example:
Packs 1 = 10 pcs you have to configure simple product 1 with minimun order = 10 and qty increments = 10
Packs 2 = 20 pcs you have to configure simple product 1 with minimun order = 20 and qty increments = 20
So you can have a configurable product with associate simpe product 1 and 2 but

[2018-06-27 07:33] justinwong617 opened #16420 "Product description missing in all product"
- Summary of the issue,
   I just found that all the description on all product are missing.

### Preconditions
1. Magento ver. 2.2.2
2.

### Steps to reproduce
1. Create new product/ Edit product.
2. Type description and short description.
3. Save product.
4. Open Product page on storefront.

### Expected result
1. Product description should shows under product photo.

### Actual result

1.  Even

[2018-06-27 07:38] daveyx commented on #11740
updated from 2.2.3 to 2.2.4 and now i have also this issue
(i have only one store)

[2018-06-27 07:48] splendidinternet commented on #7441
@magento-team

sorting bug will be fixed with 2.2.5 or do we have to wait for 2.3 ?

[2018-06-27 08:02] vberthet commented on #13721
I got a similar problem :

[2018-06-27 07:42:15] main.CRITICAL: Exception message: Impossible d’initialiser Express Checkout.
Trace: #0 /home/.../releases/14/vendor/magento/module-paypal/Controller/Express/GetToken.php(126): Magento\Paypal\Controller\Express\AbstractExpress->_initCheckout()
#1 /home/.../releases/14/vendor/magento/module-paypal/Controller/Express/AbstractExpress/Start.php(24): Mage

[2018-06-27 08:14] yyevgenii commented on #16129
The klarna/module-ordermanagement package was re-uploaded to the Marketplace (the package contents is the same, but file meta data differs, that's why the checksum has been changed). Magento has identified an issue and prevent it from happening this in the future, but now to solve it you have to run:
* `composer clearcache`
* `rm -rf vendor/klarna/module-ordermanagement`
* `composer update`

You c

[2018-06-27 08:18] yyevgenii commented on #16129
@magento-engcom-team could you please mark this issue as solved? Thanks!

[2018-06-27 09:00] ArdjanShero commented on #15024
The same sentence shows up on the front end also on all the account dashboard [ages
https://shero.d.pr/Et3woc
https://shero.d.pr/0vroq8

[2018-06-27 09:01] Sathishkumar8731 commented on #16400
Hi Team,

Could you please confirm whether the below issue is open or closed? If it is closed, please let me know the reason.

CMS Page URLkey issue on Magento 2 #16400

[2018-06-27 09:06] gwharton commented on #15024
I dont think it helps that github installs (where most, if not all testing is done) does not have the amazon payment module installed by default, hence why this was never picked up in testing.

[2018-06-27 09:14] marcinfr commented on #12602
Hi,
Issue is because of some of cron schedule groups are running as separate process, each of this process execute method to generate schedules for all of groups, so each job schedule is created few times.

I have found 2 solutions:

1. in cofiguration (stores->configuration->advanced->system->cron) set "Use Separate Process" to NO for all of cron groups.

2. in code, i have found that there is al

[2018-06-27 09:23] #16417 closed, assigned to nobody

[2018-06-27 09:34] orlangur commented on #16383
This is totally fine, it means that you need to have a custom implementation in-place.

[2018-06-27 09:35] orlangur commented on #7441
@splendidinternet from commit mentioned in https://github.com/magento/magento2/issues/7441#issuecomment-355542437 you can that it is already fixed in 2.2.4.

[2018-06-27 09:48] TBSMage commented on #16419
@magento-engcom-team , I can confirm this issue, Check Below URL for vanilla Magento CE Instance Provided by you.

https://i-16419-2-2-4.engcom.dev.magento.com/test-simple.html

[2018-06-27 09:57] skast96 commented on #3411
You name it @vincentwinkel. This little issue would be fixed within minutes, but nobody cares. :(

[2018-06-27 10:00] mcyrulik commented on #13553
Our update from 2.1.0 to 2.2.4 has so far taken over three hours on just the Magento_Catalog module data upgrade.

We have 1 store, and ~140,000 products. We don't have that many attributes that it needs to go through, but this feels like it should not take THIS long to accomplish a task like this.

[2018-06-27 10:01] vutrankien commented on #7056
@daim2k5 you can coppy code to your custom extension, Example : app/code/Brand/CustomModule/etc/di.xml
So if upgraded Magento this solution still works

[2018-06-27 10:06] orlangur commented on #13553
Other modules upgrades are negligible compared to Catalog anyway in this update.

[2018-06-27 10:22] ThakurPradeep commented on #11119
If only one module create this issue like : "db schema version: defined in codebase - 1.0.1, currently
installed - 1.0.2" so you open the database and "SELECT * FROM `setup_module` " check the module version and edit the module.xml file
EX : <module name="WilliamsCommerce_CustomerAttribute" setup_version="1.0.2" />
Set the both version same then run the command  = > php bin/magento setup:upgrade
I

[2018-06-27 10:25] likemusic opened #16423 "Why some keys set only when $storeId == Store::DEFAULT_STORE_ID ?"
https://github.com/magento/magento2/blob/e758b7f79a9f08f37d58cbb5b93257044a92db9a/app/code/Magento/CatalogImportExport/Model/Export/Product.php#L1182

Why some keys set only when $storeId == Store::DEFAULT_STORE_ID ?
Is it possible to run exports not for default store id without 3rd-patry extensions?

[2018-06-27 10:48] dv-denda commented on #16415
I have fixed it

[2018-06-27 10:48] #16415 closed, assigned to nobody

[2018-06-27 10:48] DanielRuf commented on #16415
Please let us know how you fixed it.

[2018-06-27 11:18] reinisziedins commented on #12916
@NagamaniNaresh Naw really, drop the beans, man.

[2018-06-27 11:47] gouravsyscraft commented on #7617
I also facing same issue, and its happenig for all user roll.

Please tell me, if any have fix this issue.

[2018-06-27 11:53] BabliDey opened #16424 "Product display according to position not working for sub categories"
### Preconditions

1. PHP Version 7.1.17
2. Mysql: Server version: 10.0.32-MariaDB-0
3. Magento 2.2.3

### Steps to reproduce

1. Add a category name suppose Garments under default category and sub category Like Tops, Shirts etc under Garments category.
2.  Add some products like "Shirt style top 1",  "Shirt style top 2",  "Shirt style top 3"and many other. Assign these three product in both Top a

[2018-06-27 11:53] magento-engcom-team commented on #16424
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-27 12:06] dwaynebartels commented on #16161
Hi Bansavage,

I read your method as follow.
I create a product. Seeing its assigned to ALL websites. Then I unassign all websites and then assign them to websites I want.
I tested your method in 2.1.7 and found out that your work around can be more efficient to just unassign the websites that you do not want since its already assigned to all websites.

Furthermore, because the POST response has n

[2018-06-27 12:12] dwaynebartels commented on #16161
This work around doesn't work in all versions of C.E. Magento2.
For people reading in to this. I've tested the unassign workaround in 2.2.2, 2.2.4 and 2.1.7. This method works for 2.2.4 and 2.1.7. But unassinging the default website is impossible in 2.2.2.

[2018-06-27 12:32] hostep commented on #12266
@vadimjustus: out of curiosity: why did you close this ticket? Have you found a solution?

We run against this problem as well, on the Magento Cloud environment with Magento 2.2.2, I can see the same error as you reported in the cron_schedule table. (but cronjobs on the Magento Cloud environment are very unstable at the moment, so that might be a cause of the problem).

[2018-06-27 13:01] cappecar opened #16425 "OR Condition in searchCriteria (REST API) dosn't work"
Magento 2.4-develop

### Preconditions

I need to find all product in categories so I user a "searchCriteria" with a unique "filterGroups" and one "filter" foreach categories wanted call  /V1/products resource (rest api).
In the old server with Magento 2.0 it works great, now we upgrade server and Magento if i search by more categories (or conditions) doesn't work.

### Steps to reproduce

1. Crea

[2018-06-27 13:01] JoshuaFlood commented on #3421
Hi @gcampedelli . Thanks for the solution! Unfortunately, my settings are much more basic than yours and I can't figure out which parts are important. I am having the same problem when connecting to only http, with SSL de-activated in the magento settings.

Which were the lines that fixed it for you?

Thanks.

[2018-06-27 13:02] magento-engcom-team commented on #16425
Hi @cappecar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-27 13:07] 0m3r commented on #14211
The js mixin for a quick fix

[code]

[2018-06-27 13:17] lani2013 opened #16426 "magento2 module update"
magento2 version 2.1.13
php version  7.0.27

Hello Guys,
module version its inside composer.json but the question is how can check to last update for my module and how can update it if need it? thanks

[2018-06-27 13:17] magento-engcom-team commented on #16426
Hi @lani2013. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-06-27 13:18] AndreKlang opened #16427 "admin/url/custom cause media directives to break"
### Summary
If admin use a custom domain, different from the default website, the wysiwyg image-selector will return malformed media directives, causing broken links to images.

Expected directive: {{media url="wysiwyg/image.jpg"}}
Returned directive: {{media url="http://backend.dev/media/wysiwyg/image.jpg"}}

This started when this was done: https://github.com/magento/magento2/issues/12147

### P

[2018-06-27 13:18] magento-engcom-team commented on #16427
Hi @AndreKlang. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-06-27 13:21] gcampedelli commented on #3421
It is hard to help if I don't know your settings. But I had to change varnish and Apache 2 configuration as written above.
This lines - RequestHeader set X-Forwarded-Proto "https"

Include /etc/letsencrypt/options-ssl-apache.conf
ProxyPreserveHost On
ProxyPass / http://127.0.0.1:80/ retry=1 acquire=3000 timeout=600 Keepalive=On
ProxyPassReverse / http://127.0.0.1:80/
SSLCertificateFile /etc/letsen

[2018-06-27 13:33] cappecar commented on #16425
@magento-engcom-team give me 2.2.4 instance

[2018-06-27 13:33] magento-engcom-team commented on #16425
Hi @cappecar. Thank you for your request. I'm working on Magento 2.2.4 instance for you