[2019-02-20 18:47] magento-engcom-team commented on #13537
Hi @AleksLi. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-20 18:48] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (252/250 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:48] dipti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (250/250 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:48] magento-engcom-team commented on #13537
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:48] magento-engcom-team commented on #13537
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:48] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (251/250 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:48] nainesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (253/250 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:48] nilesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (254/250 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 18:48] magento-engcom-team commented on #13537
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:48] magento-engcom-team commented on #13537
Hi @nainesh2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:48] magento-engcom-team commented on #13537
Hi @nilesh2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] dipti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (265/250 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] nainesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (268/250 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] ajay2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (263/250 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] nilesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (266/250 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 18:50] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (267/250 (106%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (269/250 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (264/250 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] ajay2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (270/250 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (272/250 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] nilesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (273/250 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 18:50] nainesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (278/250 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (275/250 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] nainesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (276/250 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] dipti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (271/250 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (274/250 (109%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (277/250 (110%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (279/250 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] ajay2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (281/250 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (280/250 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] nilesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (284/250 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 18:50] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (291/250 (116%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] nilesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (292/250 (116%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 18:50] dipti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (283/250 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] dipti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (289/250 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (285/250 (113%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (282/250 (112%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] nainesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (290/250 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] nainesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (286/250 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (288/250 (115%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] ajay2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (287/250 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (296/250 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (293/250 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] dipti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (300/250 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (297/250 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] ajay2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (295/250 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (299/250 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @prakash2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] nainesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (294/250 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (298/250 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] dipti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (302/250 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] nilesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (307/250 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 18:50] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (301/250 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] prakash2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (308/250 (123%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @ajay2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @prakash2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @nainesh2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] ajay2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (309/250 (123%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] amol2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (311/250 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-20 18:50] nilesh2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nilesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (311/250 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2019-02-20 18:50] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (310/250 (124%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @nilesh2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @prakash2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @nilesh2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:50] magento-engcom-team commented on #13537
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2019-02-20 18:51] magento-engcom-team commented on #14788
Hi @AleksLi. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-20 18:56] magento-engcom-team commented on #12396
Hi @AleksLi. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-20 18:58] magento-engcom-team commented on #13191
Hi @AleksLi. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-20 19:25] magento-engcom-team commented on #20299
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#21243 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [4b07a5c8806a22758c46d17d4493de2c3c362044](https://github.com/magento/magento2/commit/4b07a5c8806a22758c46d17d4493de2c3c362044)
 - [ef4cdb62bc1044e2f2fcb402465f7f8b5b92f52a](https://github.com/magento/magento2/commit/ef4cdb62bc1044e2f2fcb402

[2019-02-20 19:28] magento-engcom-team commented on #21365
Hi @Usuario001. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-02-20 20:23] magento-engcom-team commented on #2228
Hi @denisflosi1. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-20 20:23] denisflosi1 commented on #2228
@magento-engcom-team give me 2.1-develop instance

[2019-02-20 20:23] magento-engcom-team commented on #2228
Hi @denisflosi1. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2019-02-20 20:24] denisflosi1 commented on #2228
* @magento-engcom-team give me 2.2-develop instance

[2019-02-20 20:24] magento-engcom-team commented on #2228
Hi @denisflosi1. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-20 20:24] magento-engcom-team commented on #2228
Hi @denisflosi1, here is your [Magento instance](https://i-2228-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-2228-2-2-develop.instances.magento-community.engineering/admin](https://i-2228-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-20 20:40] dnsv opened #21370 "Admin session gets regenerated on user login when SessionManager is added as a dependency in certain classes"
### Preconditions

1. Magento 2.3-develop with sample data
2. Magento 2.2.x with sample data

### Steps to reproduce

1. Enable developer mode
2. Add `Magento\Framework\Session\SessionManager` as a dependency to `Magento\Theme\Model\Theme`
3. Run `php bin/magento setup:upgrade && php bin/magento setup:di:compile`
4. Navigate to the admin login page
5. Login
6. Refresh the dashboard page after a su

[2019-02-20 20:40] magento-engcom-team commented on #21370
Hi @dnsv. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2019-02-20 21:52] Stoyvo opened #21372 "Admin Search Suggestions Toggle Not Working"
### Preconditions (*)
1. Magento 2.2.5

### Steps to reproduce (*)
1. In admin, navigate to Store -> Configuration -> Catalog -> Catalog Search
2. Set "Search Recommendations" and "Search Suggestions" both to "No"
3. On frontend, type a search term and press enter
4. On frontend, start typing the same search term

### Expected result (*)
1. No search query should run and no results

### Actual res

[2019-02-20 21:52] magento-engcom-team commented on #21372
Hi @Stoyvo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-20 21:54] Stoyvo commented on #21372
@magento-engcom-team
Yes.

[2019-02-20 22:05] zipnfc commented on #8933
We have experienced this today running 2.2.6 on 7.1 PHP.  We truncated the cron_schedule table as suggested above and seems to have stopped the errors for now....

[Magento\Framework\DB\Adapter\DeadlockException]
 SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: DELETE FROM `cron_schedule` WHERE (status = 'error') AND (job_

[2019-02-20 22:09] shughes-las commented on #9762
We just hit this issue as well in migrating to M2. Is this still not fixed?

[2019-02-20 22:16] mrbig commented on #11726
Hello @sdzhepa ,
I was able to reproduce this issue with Magento 2.2.5.
I realized that the cause is that in the default .htaccess there is commented line that adds User-Agent to Vary header: https://github.com/magento/magento2/blob/310648c7f2d1280502f0b92e3dcc28894f7faf86/.htaccess#L112
Some time ago someone thought those line could be useful, and enabled it - that messed up the varnish cache.

M

[2019-02-20 22:17] floorz commented on #16368
Having this same issue/error on Magento Cloud (Commerce) v2.2.4. The way I was able to reproduce the problem was by doing the following:

1. Use fresh account with no addresses associated
2. Add an item to cart
3. Proceed to checkout
4. On Shipping step, fill out new shipping address form using a country that has regions available (country has regions available if region shows up as select box)
5.

[2019-02-20 22:32] HitsiLent opened #21373 "js.authorize.net/v1/Accept.min.js"
when checkout via authorize.net AcceptJS it will include https://js.authorize.net/v1/Accept.min.js, this return 404, it should include https://js.authorize.net/v1/Accept.js instead

[2019-02-20 22:32] magento-engcom-team commented on #21373
Hi @HitsiLent. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-20 23:42] facetimer commented on #13983
@keyuremipro Do you know how to resolve this problem ?

Thank you!!!!

[2019-02-21 00:30] Usuario001 commented on #21372
@magento-engcom-team give me 2.3-develop instance

[2019-02-21 00:30] magento-engcom-team commented on #21372
Hi @Usuario001. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-21 00:30] magento-engcom-team commented on #21372
Hi @Usuario001, here is your [Magento instance](https://i-21372-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21372-2-3-develop.instances.magento-community.engineering/admin](https://i-21372-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 02:05] Stoyvo commented on #21372
@magento-engcom-team give me 2.3 instance

[2019-02-21 02:18] magento-engcom-team commented on #19858
Hi @Rus0. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Details

[2019-02-21 02:28] Stoyvo commented on #21372
Can confirm this appears on the instance @Usuario001 requested

[2019-02-21 02:49] erfanimani opened #21374 "Dot is not allowed when editing CMS block in-line"
### Preconditions (*)

1. Can reproduce on both Magento 2.3.0 clean installation and on the 2.3-develop branch

### Steps to reproduce (*)

1. Log into admin
2. Add CMS block and enter an identifier `product.content` along with some other content. Hit Save & Close so you're back on the CMS block grid.
3. Try to edit the newly created CMS block in-line and hit Save

### Expected result (*)

1. CMS

[2019-02-21 02:49] magento-engcom-team commented on #21374
Hi @erfanimani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-21 03:07] magento-engcom-team commented on #21374
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-21 03:08] magento-engcom-team commented on #21372
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-21 03:33] Stoyvo commented on #21372
FWIW, It looks like the handy tool to build these instances fails to build elasticsearch and all attempts to search will render 503 error page with generated report number.

To circumvent this, change search engine to MYSQL in the new instances admin

[2019-02-21 04:43] ananth-iyer commented on #21373
@HitsiLent Did you enabled JavaScript minify?

[2019-02-21 04:52] ameshca commented on #21362
Actually this issue is only in 2.2.6 version and not coming all the time. We have reproduced this issue in default magento installation also.
Also there was a magento issue #21355 that minicart total showing 0. We think that these are related issues, because at the time when the minicart total 0 showing issue happens and if any coupon was applied then that will not be shown. We have checked the da

[2019-02-21 04:56] shikhamis11 commented on #21362
Ok I will recheck

[2019-02-21 05:20] krishprakash opened #21375 "Same product quantity not increment when added with guest user."
Preconditions (*)
1. Magento 2.2.x
2. Magento 2.3.x

Steps to reproduce (*)
1. Login >>Add product X to the cart from **Listing** page
2. Logout
3. Add product X to the cart from  **product detail page** as guest user
4.  Login using same account.
5. Review the cart

Expected result (*)

Product Qty should be incremented not added separately after login if same product is already added into cart.

[2019-02-21 05:20] magento-engcom-team commented on #21375
Hi @krishprakash. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-21 05:21] magento-engcom-team commented on #21374
Hi @niravkrish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-02-21 05:21] niravkrish commented on #21374
@magento-engcom-team give me 2.3-develop instance

[2019-02-21 05:21] magento-engcom-team commented on #21374
Hi @niravkrish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-21 05:22] magento-engcom-team commented on #21374
Hi @niravkrish, here is your [Magento instance](https://i-21374-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21374-2-3-develop.instances.magento-community.engineering/admin](https://i-21374-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 05:29] magento-engcom-team commented on #21374
:white_check_mark: Confirmed by @niravkrish
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-21 05:29] niravkrish commented on #21374
@magento-engcom-team give me 2.2-develop instance

[2019-02-21 05:30] magento-engcom-team commented on #21374
Hi @niravkrish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-21 05:54] tarunatbasics commented on #15192
As key-dev said, I have changed 181 line of Module.php but the problem is still there, can anyone have a solution to this problem?

[2019-02-21 06:25] HitsiLent commented on #21373
Yes, When I was Disable the minify this problem solved, but another 404 , cant not find /pub/static/frontend/[author]/[theme]/[lang]/acceptjs.js  all the time when i click checkout

[2019-02-21 06:41] Jitheesh commented on #21375
Hi @krishprakash

I can replicate this issue on Magento 2.3 develop instance on following scenario.

1. Login, Add product X to basket from **Listing** page
2. Logout
3. Add product X to basket from  **product view** page as guest user
4. Login using same account.
5. Review basket, Basket will contains same product as two item

This issue is because of additional buy request parameters while we ad

[2019-02-21 06:41] magento-engcom-team commented on #21374
Hi @niravkrish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-02-21 07:04] pratikkamani commented on #19542
It looks like an issue with database backup.
Create View on the database.
In my case. I have used this query at PHPMyAdmin
`CREATE ALGORITHM=UNDEFINED DEFINER=`mustperf`@`localhost` SQL SECURITY INVOKER VIEW `inventory_stock_1` AS SELECT DISTINCT `legacy_stock_status`.`product_id` AS `product_id`,`legacy_stock_status`.`website_id` AS `website_id`,`legacy_stock_status`.`stock_id` AS `stock_id`,`leg

[2019-02-21 07:12] shikhamis11 commented on #21372
@magento-engcom-team give me 2.2-develop instance

[2019-02-21 07:12] magento-engcom-team commented on #21372
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-21 07:13] magento-engcom-team commented on #21372
Hi @shikhamis11, here is your [Magento instance](https://i-21372-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21372-2-2-develop.instances.magento-community.engineering/admin](https://i-21372-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 07:20] dipti2jcommerce commented on #21375
@magento-engcom-team give me 2.3-develop instance

[2019-02-21 07:20] magento-engcom-team commented on #21375
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-21 07:21] magento-engcom-team commented on #21375
Hi @dipti2jcommerce, here is your [Magento instance](https://i-21375-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21375-2-3-develop.instances.magento-community.engineering/admin](https://i-21375-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 07:33] shikhamis11 commented on #21375
@magento-engcom-team give me 2.2-develop instance

[2019-02-21 07:33] magento-engcom-team commented on #21375
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-21 07:34] magento-engcom-team commented on #21375
Hi @shikhamis11, here is your [Magento instance](https://i-21375-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21375-2-2-develop.instances.magento-community.engineering/admin](https://i-21375-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 07:36] magento-engcom-team commented on #21364
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 07:37] magento-engcom-team commented on #21373
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 07:38] engcom-backlog-nazar commented on #21373
Hi @HitsiLent
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-21 07:38] #21373 closed, assigned to nobody

[2019-02-21 07:44] magento-engcom-team commented on #21375
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-21 07:44] shikhamis11 commented on #21375
@Jitheesh yes you are right I am able to reproduce the issue with your provided step
@krishprakash  it will be better if you update Steps to reproduce (*) as it is not reproducable in all scenarios

[2019-02-21 07:44] magento-engcom-team commented on #21370
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 07:45] magento-engcom-team commented on #21375
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98355`, `MAGETWO-98356` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-21 07:48] magento-engcom-team commented on #21367
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 07:51] engcom-backlog-nazar commented on #21367
Hi @verdde thank you for your report, sorry for delay, can you add translation to this file vendor\theme\i18n\en_Us.csv or in your case ro_RO.csv
`"This is a required field.",  "This is a required field translated"`

[2019-02-21 08:53] ghost opened #21379 "Fresh 2.2 install, mcrypt_module_open is deprecated"
M2 v 2.2
PHP 7.1.26

Fresh install via

[code]

Inside a Vagrant VM, running Debian Jessie.

After running the following

[code]

When I navigate to http://demo.local, I get `An error has happened during application run. See exception log for details. Could not write error message to log. Please use developer mode to see the message.`

So I check the logs (as well as enable developer mode) and I g

[2019-02-21 08:53] magento-engcom-team commented on #21379
Hi @paul-gene. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-21 09:15] magento-engcom-team commented on #21379
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 09:16] engcom-backlog-nazar commented on #21367
@verdde i'm closing this as this is non issue.

[2019-02-21 09:16] #21367 closed, assigned to nobody

[2019-02-21 09:40] verdde commented on #21367
Hi @engcom-backlog-nazar, that is like the first option i've tried and the most easiest that will actually not work at all since you will also have to mention the 4 columns data.

[2019-02-21 09:43] engcom-backlog-nazar commented on #21367
@verdde please verify again `"This is a required field.","This is required field translated 2 times"` and dont forget for static-content:deploy

[2019-02-21 09:53] Tajveez commented on #10176
Hi,

I'm having the same issue. I have the product names like ' 18" X 6" some_text ' and some names with characters like '®'. I have searched for this problem but couldn't found any solution for it. is there any fix for it?

[2019-02-21 09:55] engcom-backlog-nazar commented on #21379
Hi @paul-gene thank you for you report, this issue has already fixed in 2.3-develop branch and 2.2-develop branch and will be available on 2.3.1 release and 2.2.8 release

[2019-02-21 09:55] #21379 closed, assigned to nobody

[2019-02-21 10:06] paul-gene commented on #21379
@engcom-backlog-nazar so the only current way to fix the issue is to suppress the error?

[2019-02-21 10:08] udovicic opened #21380 "Cron schedule is being duplicated"
### Preconditions (*)

1. Create empty Magento project using `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition:2.2.7 .`
2. Install with something like following: `php bin/magento setup:install --base-url="http://www.example.com/" --db-host="db" --db-name="..." --db-user="..." --db-password="..." --admin-firstname="Admin" --admin-lastname="Admin"

[2019-02-21 10:08] magento-engcom-team commented on #21380
Hi @udovicic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-21 10:08] engcom-backlog-nazar commented on #21379
@paul-gene i don't have an error like you have, but this class really deprecated and on develop branches this was fixed, but i'm really not understand why you get this error.

[2019-02-21 10:09] magento-engcom-team commented on #21380
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 10:11] engcom-backlog-nazar commented on #21380
Hi @udovicic this is expected behavior, if you have a job that runs every time like * * * * *, magento create a few rows for this job. this is not publicated rows.

[2019-02-21 10:15] magentopits opened #21381 "Applied coupon getting disappeared after login in Magento 2.2.6"
### Preconditions
1. Magento 2.2.6
2. PHP 7.1.9
3. MySQL 5.7.19
4. Ubuntu 16.04.5 LTS

### Steps to reproduce
1. Login as customer.
2. Clear everything from cart.
3. Logout customer.
4. Add a product to the cart.
5. Go to checkout/cart.
6. Apply a discount coupon.
7. Login as customer.
8. Go to checkout/cart.

### Expected result
1. Coupon is applied and totals are shown with discount.

### Actual

[2019-02-21 10:15] magento-engcom-team commented on #21381
Hi @magentopits. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-21 10:18] udovicic commented on #21380
Hi @engcom-backlog-nazar ,

If you repeat steps 1. - 4. few times, more duplicated rows appear, for an example:

count | job_codeJob Code | scheduled_at
--- | --- | ---
2 | indexer_update_all_views | 2019-02-21 10:02:00
2 | sales_send_order_invoice_emails | 2019-02-21 10:02:00
2 | sales_grid_order_invoice_async_insert | 2019-02-21 10:02:00
2 | catalog_product_outdated_price_values_cleanup | 2019-0

[2019-02-21 10:19] paul-gene commented on #21379
@engcom-backlog-nazar How was it fixed on the develop branch / in 2.2.8 ?

[2019-02-21 10:42] engcom-backlog-nazar commented on #21380
@udovicic on you screen you have 2 defferent job starting at the same time waths wrong here ?

[2019-02-21 10:45] udovicic commented on #21380
@engcom-backlog-nazar That is not correct, if you check the SQL from description, you will notice that first column shows number of occurrences. Meaning that there is only one job `magento_newrelicreporting_cron` scheduled for `2019-02-21 10:08:00`, but for `2019-02-21 10:02:00` it is scheduled two times.

[2019-02-21 10:56] magento-engcom-team commented on #21380
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98358`, `MAGETWO-98359` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-21 10:56] magento-engcom-team commented on #21381
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 11:04] engcom-backlog-nazar commented on #21379
@paul-gene https://github.com/magento/magento2/issues/5880

[2019-02-21 11:10] erlisdhima opened #21382 "Attribute 'setup_version' missing for some core modules in Magento 2.3.0"
On Magento 2.3.0, when running `n98-magerun2.phar sys:setup:compare-versions` , I get the following output:
[code]

Indeed when going to module.xml it has no setup_version, e.g. Magento_Wishlist:

[code]

Was the setup version removed for some reason?

[2019-02-21 11:10] magento-engcom-team commented on #21382
Hi @erlisdhima. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-21 11:11] magento-engcom-team commented on #21382
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 11:14] engcom-backlog-nazar commented on #21382
Hi @erlisdhima thank you for your report, yes setup_version removed on 2.3-dev branch please refer tohttps://devdocs.magento.com/guides/v2.3/extension-dev-guide/declarative-schema/migration-commands.html

[2019-02-21 11:14] #21382 closed, assigned to nobody

[2019-02-21 11:18] Tajveez commented on #10355
Hi, @magento-engcom-team I'm facing a similar issue, with numbers and quotations marks i.e. ' 18" X 6" ' and also with special characters like '®'. Is there any imediate fix for this?

[2019-02-21 11:19] erlisdhima commented on #21382
Thanks for the feedback!

[2019-02-21 11:34] paul-gene commented on #21379
@engcom-backlog-nazar the link to https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Encryption/Crypt.php#L59 does not work, so i cannot see the solution.

Other than that, there is no mention in that issue on how to fix this other than suppressing the error.

[2019-02-21 12:02] engcom-backlog-nazar commented on #21381
Hi @magentopits thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2019-02-21 12:02] #21381 closed, assigned to nobody

[2019-02-21 12:20] magentopits commented on #21381
Hi,

Is there a patch or commit available for this, so that i can fix the issue.

[2019-02-21 12:21] devchris79 opened #21383 "As low as displays incorrect pricing on category page, tax appears to be added twice"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Add a new item with some tier pricing
2. Set Stores->Configuration->Sales->Tax->Price Display Settings->Display Product Prices In Catalog to "Including and Excluding Tax".

### Expected result (*)

1. As low as price to be correct, even if displayed without tax only.
2.

### Actual result (*)

1. As low as price appears to hav

[2019-02-21 12:21] magento-engcom-team commented on #21383
Hi @devchris79. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-21 12:53] magento-engcom-team commented on #21383
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-21 12:55] krishprakash commented on #21383
@magento-engcom-team give me 2.2-develop instance

[2019-02-21 12:55] magento-engcom-team commented on #21383
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-21 12:56] magento-engcom-team commented on #21383
Hi @krishprakash, here is your [Magento instance](https://i-21383-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21383-2-2-develop.instances.magento-community.engineering/admin](https://i-21383-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 12:59] nainesh2jcommerce commented on #21366
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (252/250 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-21 13:25] DanielRuf opened #21384 "JS minify field is not disabled in developer configuration"
### Preconditions (*)

1. Magento 2.2.7
2.

### Steps to reproduce (*)

1. Go to the stores - configuration - advanced - developer
2. See the dropdown which is not disabled

### Expected result (*)

1. The field should be also disabled
2.

### Actual result (*)

1. ![bildschirmfoto 2019-02-21 um 14 23 34](https://user-images.githubusercontent.com/827205/53171944-75ff6c00-35e4-11e9-9696-2c0d4f0557b

[2019-02-21 13:25] magento-engcom-team commented on #21384
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-21 13:28] LiamKarlMitchell commented on #6411
Customer address book template is hard coded right?
Not built dynamically using the Knockout template/code that's used in the checkout.

[2019-02-21 13:47] priti2jcommerce commented on #13537
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  priti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (261/250 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-21 13:48] amol2jcommerce commented on #21380
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  amol@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (257/250 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-21 13:50] dipti2jcommerce commented on #21380
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dipti@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (298/250 (119%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2019-02-21 13:50] prakash2jcommerce commented on #21380
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  prakash@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (300/250 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-21 13:50] nainesh2jcommerce commented on #21380
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  nainesh@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (305/250 (122%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2019-02-21 13:50] ajay2jcommerce commented on #21380
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  ajay@twojay.in
    Domain 2jcommerce.in has exceeded the max emails per hour (301/250 (120%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includin

[2019-02-21 14:53] TimQSO opened #21385 "Magento FPC get flushed completely when changing category or adding a new product."
**Preconditions (*)**

1. Magento 2.2.7
2. Redis Cache Enabled
3. Built-In FPC Enabled

**Steps to reproduce (*)**

1. Warm all pages into the cache, for example with a cache warmer
2. Check if pages are warmed on the frontend
3. Optionally check how many Redis keys you have in Database 1 (In my case it will be 23.000+)
4. Add a new product and add the product to a category too
5. Save the product

[2019-02-21 14:54] magento-engcom-team commented on #21385
Hi @GuiltyNL. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-21 14:57] magento-engcom-team commented on #21364
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98363`, `MAGETWO-98364` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-21 14:57] magento-engcom-team commented on #21385
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-21 15:14] gavinlimely opened #21386 "Unable to unset attribute values for store view scope"
### Preconditions (*)

1. Magento 2.3
2. Multiple websites / stores configured.

### Steps to reproduce (*)

1. Create a product, save it under the default scope. Save with a special price for the purpose of this example.
2. Switch scope to another store view.
3. Try and set the special price to empty (this store doesn't have a special price).
4. Hit save

### Expected result (*)

1. I'd expect to

[2019-02-21 15:14] magento-engcom-team commented on #21386
Hi @gavinlimely. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-21 15:27] gavinlimely commented on #21386
Yes this can be reproduced on a Vanilla instance.

[2019-02-21 15:43] ankit-sf opened #21387 "[2.3] CSV Product Import - Import a external URL image"
### Preconditions (*)
Magento 2.3.x

### Steps to reproduce (*)

1. import csv file with external url in images like https://s3-ap-southeast-1.amazonaws.com/cdn.uvdesk.com/website/1/buddha.jpg

### Expected result (*)

1. Image should be imported just like magento 2.2.4
2. no error/waning should be shown2.

### Actual result (*)

1.<strong>Following Error(s) has been occurred during importing proc

[2019-02-21 15:43] magento-engcom-team commented on #21387
Hi @ankit-sf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-21 15:45] ankit-sf commented on #21387
example csv content:
it's just sample data provided by magento with a image field added

`sku,store_view_code,attribute_set_code,product_type,categories,product_websites,name,description,short_description,weight,product_online,tax_class_name,visibility,price,special_price,special_price_from_date,special_price_to_date,url_key,meta_title,meta_keywords,meta_description,created_at,updated_at,new_from_

[2019-02-21 15:45] ankit-sf commented on #21387
@magento-engcom-team give me 2.3-develop instance

[2019-02-21 15:46] magento-engcom-team commented on #21387
Hi @ankit-sf. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-21 15:46] magento-engcom-team commented on #21387
Hi @ankit-sf, here is your [Magento instance](https://i-21387-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21387-2-3-develop.instances.magento-community.engineering/admin](https://i-21387-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 15:47] ankit-sf commented on #21387
possible related https://github.com/magento/magento2/pull/20761
but not finding resolved even after making changes in given pull manually for Magento 2.3

[2019-02-21 15:50] ankit-sf commented on #21387
@magento-engcom-team give me 2.3 instance

[2019-02-21 15:52] 0-Sony commented on #7153
@sandeep570 Hi, do you mean that the images which are set before are deleted ? what about the video ? did the video upload well ?

[2019-02-21 15:58] ankit-sf commented on #21387
can't reproduce on 2.3-develop instance but can reproduce on 2.3.0 branch on local

[2019-02-21 15:59] ankit-sf commented on #21387
what should do in order to update my local and live 2.3.0 to latest version

[2019-02-21 16:42] magento-engcom-team commented on #21374
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98367` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-21 16:42] shikhamis11 commented on #21374
@magento-engcom-team give me 2.2-develop instance

[2019-02-21 16:42] magento-engcom-team commented on #21374
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-21 16:43] magento-engcom-team commented on #21374
Hi @shikhamis11, here is your [Magento instance](https://i-21374-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21374-2-2-develop.instances.magento-community.engineering/admin](https://i-21374-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 17:02] isydorenko opened #21388 "shipment serialilize"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-02-21 17:02] magento-engcom-team commented on #21388
Hi @isydorenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-21 17:03] #21388 closed, assigned to nobody

[2019-02-21 17:06] AltayAkkus commented on #21383
@magento-engcom-team Give me 2.2.6-develop instance

[2019-02-21 17:06] magento-engcom-team commented on #21383
Hi @AltayAkkus. Thank you for your request. I'm working on Magento 2.2.6-develop instance for you

[2019-02-21 17:14] AltayAkkus commented on #21383
@magento-engcom-team Give me 2.2-develop instance

[2019-02-21 17:14] magento-engcom-team commented on #21383
Hi @AltayAkkus. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-21 17:15] magento-engcom-team commented on #21383
Hi @AltayAkkus, here is your [Magento instance](https://i-21383-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21383-2-2-develop.instances.magento-community.engineering/admin](https://i-21383-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 18:17] isydorenko opened #21390 "sales_shipment.packages data is broken after sending running sales_send_order_shipment_emails cron job"
### Preconditions (*)

1. Magento 2.3.0
2. `Store > Configration > Sales > Sales Emails > General Settings > Asynchronous sending` is enabled

### Steps to reproduce (*)

1. Place an order
2. Create a shipment for this order
3. Wait for an email sent by sales_send_order_shipment_emails cron job

### Expected result (*)

1. sales_shipment.packages = []
2. Ability to open shipment item page in admin

[2019-02-21 18:18] magento-engcom-team commented on #21390
Hi @isydorenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-21 18:18] isydorenko commented on #21390
@magento-engcom-team give me 2.3-develop instance

[2019-02-21 18:18] magento-engcom-team commented on #21390
Hi @isydorenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-21 18:19] magento-engcom-team commented on #21390
Hi @isydorenko, here is your [Magento instance](https://i-21390-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21390-2-3-develop.instances.magento-community.engineering/admin](https://i-21390-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-21 18:20] JosephLeedy commented on #15196
@mage2pratik's patch seems to be somewhat broken. It copies the config file successfully, but the `defaults-extra.cnf` file does not generate correctly because the test runner seems to no longer get the database credentials from `install-config-mysql.php` when generating it. If I put the MySQL credentials into `config-global.php`, it works correctly. It's worth noting that the database is actually

[2019-02-21 18:29] isydorenko commented on #21390
@magento-engcom-team seems it's impossible to reproduce the issue on the provided environment because email haven't been sent by cron.

[2019-02-21 19:43] magento-engcom-team commented on #14664
Hi @AleksLi. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-21 23:17] verdde commented on #21367
@engcom-backlog-nazar  @magento-engcom-team

I just tested again just because you asked, still doesn't work, you keep closing the tickets but this is not working as it is not working even for Magento Enterprise customers. You also closed their ticket.

I just installed new Magento 2.3 stable on another server made the translation and nothing. And i did the upgrade, deploy, clean and flush.

[2019-02-22 03:56] bscbodyscience commented on #14541
Are there a fix for this?

[2019-02-22 04:43] LiamKarlMitchell commented on #8508
Appears to be missing in 2.3.0

[2019-02-22 05:03] LiamKarlMitchell commented on #9073
A problem in 2.3 it seems.

[2019-02-22 05:07] LiamKarlMitchell commented on #7862
Still a problem in 2.3 installed from composer create project can someone please give an example of what the contents of the js-translation.json file looks like as mine is just ```json
[]```

[2019-02-22 05:09] LiamKarlMitchell commented on #4067
Duplicate of #4067

[2019-02-22 05:43] magento-engcom-team commented on #3795
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-02-22 05:46] ravi-chandra3197 commented on #3795
@magento-engcom-team give me 2.3-develop instance

[2019-02-22 05:47] magento-engcom-team commented on #3795
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-22 05:48] magento-engcom-team commented on #3795
Hi @ravi-chandra3197, here is your [Magento instance](https://i-3795-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-3795-2-3-develop.instances.magento-community.engineering/admin](https://i-3795-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 05:51] niravkrish opened #21396 "[Frontend] Additional addresses DataTable Pagination count displaying wrong."
### Description (*)
My Account > My addresses > additional address DataTable Pagination count displaying wrong.

### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Go to My account >> Address book
2. Add more than 2 additional address.
3. Select different Shipping and Billing Address.
4. Review Additional Address Data Table pagination count.

### Expected result (*)

1. https:

[2019-02-22 05:52] magento-engcom-team commented on #21396
Hi @niravkrish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-22 05:52] magento-engcom-team commented on #21396
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-22 05:54] krishprakash commented on #21396
@magento-engcom-team give me 2.3-develop instance

[2019-02-22 05:55] magento-engcom-team commented on #21396
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-22 05:55] magento-engcom-team commented on #21396
Hi @krishprakash, here is your [Magento instance](https://i-21396-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21396-2-3-develop.instances.magento-community.engineering/admin](https://i-21396-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 05:56] sarfarazbheda commented on #7718
Hello,
Still facing the issue on 2.2 branch.
@magento-engcom-team give me 2.3.0 instance
Want to test in detail or provide me any git commit reference.

Thanks.

[2019-02-22 05:56] magento-engcom-team commented on #7718
Hi @sarfarazbheda. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-22 05:57] magento-engcom-team commented on #7718
Hi @sarfarazbheda, here is your [Magento instance](https://i-7718-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-7718-2-3-0.instances.magento-community.engineering/admin](https://i-7718-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 06:06] mageprince opened #21398 "Doesn't show any error message when customer click on Add to cart button without selecting atleast one product from recently orderred list"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1) Login into customer account.
2) Add preferred product to cart and place order.
3) Navigate to My Account Dashboard/Product listing apge.
4) Click on "Add to cart" button in Recently ordered block on left side.

### Expected result (*)

Show error message when customer click on Add to cart button without selecting atleast one p

[2019-02-22 06:06] magento-engcom-team commented on #21398
Hi @mageprince. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-22 06:07] magento-engcom-team commented on #21396
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-22 06:08] magento-engcom-team commented on #21398
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-22 06:14] krishprakash commented on #21398
@magento-engcom-team give me 2.3-develop instance

[2019-02-22 06:14] magento-engcom-team commented on #21398
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-22 06:15] magento-engcom-team commented on #21398
Hi @krishprakash, here is your [Magento instance](https://i-21398-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21398-2-3-develop.instances.magento-community.engineering/admin](https://i-21398-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 06:17] magento-engcom-team commented on #21396
Hi @Dharmeshvaja91. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-22 06:22] krishprakash commented on #21398
@magento-engcom-team give me 2.2-develop instance

[2019-02-22 06:23] magento-engcom-team commented on #21398
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-22 06:24] magento-engcom-team commented on #21398
Hi @krishprakash, here is your [Magento instance](https://i-21398-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21398-2-2-develop.instances.magento-community.engineering/admin](https://i-21398-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 06:32] krishprakash commented on #21398
This issue is also reproduce on 2.2.x.

[2019-02-22 07:38] magento-engcom-team commented on #21387
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-22 07:39] imark73 opened #21402 "Specials widget displaying all products if logged in as a wholesale customer"
### Preconditions
Magento 2.2.5

### Steps to reproduce
1. Create customer group with wholesale prices, i.e. prices that are less than the "not logged in" prices.
2. Set "special price" on some products.
3. On the CMS Home page, display widget: "Featured Products" > "Sales Products".

### Expected result
1. The widget should only show products that have a "Special Price" set.

### Actual result
1.

[2019-02-22 07:39] magento-engcom-team commented on #21402
Hi @imark73. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-22 07:39] engcom-backlog-nazar commented on #21387
Hi @ankit-sf thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/2666

[2019-02-22 07:39] #21387 closed, assigned to nobody

[2019-02-22 07:40] magento-engcom-team commented on #21402
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-22 07:41] magento-engcom-team commented on #21390
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-22 07:44] engcom-backlog-nazar commented on #21305
Hi  @DanielRuf  thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-22 07:44] #21305 closed, assigned to nobody

[2019-02-22 07:45] magento-engcom-team commented on #21386
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-22 07:47] magento-engcom-team commented on #21384
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-22 07:51] magento-engcom-team commented on #21384
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98373` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-22 07:55] engcom-backlog-nazar commented on #21367
@verdde But why i'm able to translate and you  not ?

[2019-02-22 07:56] DanielRuf opened #21403 "Resolve Node.js warnings (dependencies)"
### Preconditions (*)

1. in magento root/ rename package.json.example to  package.json
2. npm install

### Steps to reproduce (*)

1. Install the depencies with Yarn / npm
2. npm audit

### Expected result (*)

1. [No outdated / insecure dependencies.

### Actual result (*)

[code]

[code]

[2019-02-22 07:56] magento-engcom-team commented on #21403
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-22 08:00] magento-engcom-team commented on #21361
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98374`, `MAGETWO-98375` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-22 08:16] engcom-backlog-nazar commented on #21390
HI @isydorenko thank you for you report i'm not able to reproduce following steps you described.
![deepinscreenshot_select-area_20190222101511](https://user-images.githubusercontent.com/40756439/53228793-f5477b00-368a-11e9-8e1b-a77bfd311a18.png)
![deepinscreenshot_select-area_20190222101516](https://user-images.githubusercontent.com/40756439/53228794-f5477b00-368a-11e9-8623-c2a59fcbb42e.png)

[2019-02-22 08:16] #21390 closed, assigned to nobody

[2019-02-22 08:31] engcom-backlog-nazar commented on #21402
HI @imark73 thank you for you report, i;m not able to reproduce following steps you described on a clean magento 2.3-develop and 2.2-develop instance. seems like this already fixed in develop branches.

[2019-02-22 08:31] #21402 closed, assigned to nobody

[2019-02-22 08:34] hostep commented on #7862
@LiamKarlMitchell: I'm pretty sure you are running against another bug. This bug here is around the `js-translation.json` file containing data, but incorrect data (wrong translations).

Even though I'm like 99% sure this was [fixed in Magento 2.2.2 and higher](https://github.com/magento/magento2/issues/10673#issuecomment-354468935) the labels added by @engcom-backlog-nazar seem to contradict this.

[2019-02-22 08:53] engcom-backlog-nazar commented on #21339
Hi @ralbin   GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-02-22 08:53] #21339 closed, assigned to mahesh-rajawat

[2019-02-22 08:58] magento-engcom-team commented on #21403
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-22 09:02] engcom-backlog-nazar commented on #21403
HI @DanielRuf thank you for you report, Can someone solve it here? I'm afraid that this ticket may hang here for a long time

[2019-02-22 09:14] isydorenko commented on #21390
Hi @engcom-backlog-nazar,

Thanks for checking, but for reproducing this issue shipment confirmation email should be sent by  sales_send_order_shipment_emails cron job. In your example even order confirmation email hasn't been sent.

The problem is that  \Magento\Sales\Model\EmailSenderHandler::sendEmails() loads shipment collection, sets email_sent => true and saves a shipment item. However, \Mag

[2019-02-22 09:22] engcom-backlog-nazar commented on #21390
@isydorenko i'm clearly understand and i have also email confirmation and email send by async
![deepinscreenshot_select-area_20190222112145](https://user-images.githubusercontent.com/40756439/53232599-12cd1280-3694-11e9-9d6e-f9b5612fb015.png)
![deepinscreenshot_select-area_20190222112156](https://user-images.githubusercontent.com/40756439/53232600-1365a900-3694-11e9-8514-d7d798e58081.png)

[2019-02-22 09:32] isydorenko commented on #21390
@engcom-backlog-nazar oh, the fix is already there https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Sales/Model/ResourceModel/Order/Shipment/Collection.php, but not included to the last stable release. Sorry for taking your time.

[2019-02-22 09:34] engcom-backlog-nazar commented on #21390
@isydorenko perfectly :+1:

[2019-02-22 09:41] engcom-backlog-nazar commented on #21385
Hi @GuiltyNL thank you for you report, i;m not able to reproduce following steps you described on clean 2.3-develop instance.
![deepin-screen-recorder_select area_20190222113837](https://user-images.githubusercontent.com/40756439/53233678-a3a4ed80-3696-11e9-9a8f-a09d7e619600.gif)

[2019-02-22 09:41] #21385 closed, assigned to nobody

[2019-02-22 09:42] devchris79 commented on #21383
The fix suggested by Jitheesh appears to work for me 👍

[2019-02-22 09:45] engcom-backlog-nazar commented on #21367
@verdde your version magento is enterprise version ?

[2019-02-22 09:45] peterjaap commented on #7114
@magento-engcom-team give me 2.2.5 instance

[2019-02-22 09:45] magento-engcom-team commented on #7114
Hi @peterjaap. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-02-22 09:46] magento-engcom-team commented on #7114
Hi @peterjaap, here is your [Magento instance](https://i-7114-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-7114-2-2-5.instances.magento-community.engineering/admin](https://i-7114-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 10:10] DanielRuf commented on #21403
@magento-engcom-team give me 2.2-develop instance

[2019-02-22 10:10] magento-engcom-team commented on #21403
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-22 10:10] DanielRuf commented on #21403
@magento-engcom-team give me 2.2.7 instance

[2019-02-22 10:10] magento-engcom-team commented on #21403
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-02-22 10:11] magento-engcom-team commented on #21403
Hi @DanielRuf, here is your [Magento instance](https://i-21403-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21403-2-2-develop.instances.magento-community.engineering/admin](https://i-21403-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 10:52] mklooss commented on #12273
could fix the php7.2 issues with:

- https://github.com/cweagans/composer-patches
- https://github.com/phpseclib/mcrypt_compat
- https://mage2.pro/t/topic/5215

just for search folks ;-)

[2019-02-22 11:00] GuiltyNL commented on #12273
@renttek What is free? I pay > € 100.000 per year to fix bugs and add features to our Magento store. It is a very lucrative business model for a lot of parties.

Magento isn't free, it is just another way of making money.

@mklooss sure, you could fix it yourself.

[2019-02-22 11:06] magento-engcom-team commented on #16786
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-22 11:08] magento-engcom-team commented on #21372
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-22 11:27] devamitbera commented on #13072
@magento-engcom-team ,is mail server not working at test instance?

Is there any way to access SSh of that server?

Note:Even,don't get customer new creation mail.

[2019-02-22 11:53] DanielRuf opened #21406 "remove jQuery Migrate"
### Preconditions (*)
jQuery Migrate should never be used in production as this is just meant to migrate from an older version to the used one (for which the Migrate version is).

https://github.com/magento/magento2/blob/2.3-develop/lib/web/jquery/jquery-migrate.js

See https://github.com/jquery/jquery-migrate/tree/1.x-stable#readme

The same applies to underscore, moment.js and other unnecessary

[2019-02-22 11:54] magento-engcom-team commented on #21406
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-22 11:58] hivikas opened #21407 "Magento 2.2.6."No such entity." in admin customer grid. Missing validation when delete website"
### Preconditions (*)
 Getting error "No Such entity "on admin customer gird if website id is in double digits.

Version
 Magento version 2.2.6.

### Steps to reproduce (*)
 Create 10 new stores and websites from magento admin and delete all stores and websites. Now create new store and website , new stores and website id's must be in double digits for example 11.
Or you can reproduce that issue i

[2019-02-22 11:58] magento-engcom-team commented on #21407
Hi @hivikas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-22 12:06] magento-engcom-team commented on #21407
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-22 12:21] engcom-backlog-nazar commented on #21407
Hi @hivikas did you delete default store view ?

[2019-02-22 12:26] hivikas commented on #21407
Hi @engcom-backlog-nazar , No. I deleted other stores.

[2019-02-22 12:45] engcom-backlog-nazar commented on #21407
@magento-engcom-team give me 2.3-develop instance

[2019-02-22 12:45] magento-engcom-team commented on #21407
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-22 12:45] magento-engcom-team commented on #21407
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21407-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21407-2-3-develop.instances.magento-community.engineering/admin](https://i-21407-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 12:55] renttek commented on #12273
@GuiltyNL I just stated that Magneto (as in Magento Community Edition) comes free of charge and is open source.
If you are an enterprise/commerce customer, than maybe you got a direct contact at Magento Inc.

[2019-02-22 13:24] gujjwal00 commented on #13228
Any update on this?
Seems to be caused by https://github.com/magento/magento2/commit/8078623d0874b229c6a6d015cb4ecb644fc41dfd

[2019-02-22 13:41] magento-engcom-team commented on #21403
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98382`, `MAGETWO-98383` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-22 13:47] asim-vax commented on #21326
@engcom-backlog-nazar have you been able to replicate this? As it should be fairly easy to replicate

[2019-02-22 13:49] engcom-backlog-nazar commented on #21326
@asim-vax yes this is very easy to replicate on macbook :) but i'm not have an safari browser

[2019-02-22 13:50] engcom-backlog-nazar commented on #21326
@asim-vax maybe on next 2 days i will be able to recheck on safari.

[2019-02-22 13:54] deb00t commented on #9609
Still causing problems in latest 5.7, fyi

[2019-02-22 14:43] engcom-backlog-nazar commented on #21407
HI @hivikas this is non issue `Deleting a website will not delete the information associated with the website (e.g. categories, products, etc.), but the website will not be able to be restored. It is suggested that you create a database backup before deleting the website.`

[2019-02-22 14:43] #21407 closed, assigned to nobody

[2019-02-22 14:44] magento-engcom-team commented on #21386
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98384` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-22 14:45] magento-engcom-team commented on #21089
Hi @scottsb. Thank you for your report.
The issue has been fixed in magento/magento2#21206 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [f40d13914fae5a44b056d2cd1ef8dd7964020b78](https://github.com/magento/magento2/commit/f40d13914fae5a44b056d2cd1ef8dd7964020b78)
 - [4a0dc53116e94291e4a466241853383ea1eb9b77](https://github.com/magento/magento2/commit/4a0dc53116e94291e4a4662418533

[2019-02-22 14:45] magento-engcom-team commented on #19891
Hi @Surabhi-Cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#21208 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [474cc79c77289c596466f8ab95422b94edc61786](https://github.com/magento/magento2/commit/474cc79c77289c596466f8ab95422b94edc61786)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-22 14:45] magento-engcom-team commented on #20919
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#21241 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [512430af08837ba1ef8d8d4a598a98db90b47636](https://github.com/magento/magento2/commit/512430af08837ba1ef8d8d4a598a98db90b47636)
 - [c1057381bcde28433edfafe62d339405facd7139](https://github.com/magento/magento2/commit/c1057381bcde28433edfafe62d

[2019-02-22 14:46] fabianaromagnoli commented on #21349
Hi, and thanks for your feedback.
Could you please indicate which is the commit that fixes this issue?
Thanks in advance.

[2019-02-22 14:54] sandeep570 commented on #7153
@0-Sony Hi, yes the images which were set before are deleted, I have created image roles and assigned the roles to particular images. When I use the Magento API to import video then sometimes videos are not assigning and for the product, images were deleted i mean particular roles were unassigned and in frontend we are missing those images for display purpose. I don't know why the video assignment

[2019-02-22 15:33] hmphu commented on #8933
The issue is happening for me in Magento 2.3.0 CE and RDS MySQL 5.7

[2019-02-22 15:40] zipnfc commented on #8933
We have changed our cron from * to 5 minutes as saw this suggestion somewhere and we have not had the deadlock since - might be a fluke but seems OK.  Apart from this waiting an extra few minutes to process can anyone see an issue with this? Or is this more normal than * on a production system?

[2019-02-22 15:43] hmphu commented on #8933
Thanks @zipnfc I also updated my cron to */5 a few minutes ago. Im waiting and check for deadlock

[2019-02-22 15:48] hypershopbv commented on #14251
What is the status for this issue? We experience this on every import.

[2019-02-22 16:06] magento-engcom-team commented on #21386
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-22 16:16] magento-engcom-team commented on #21396
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-22 16:18] shikhamis11 commented on #21396
@magento-engcom-team give me 2.3-develop instance

[2019-02-22 16:18] magento-engcom-team commented on #21396
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-22 16:18] magento-engcom-team commented on #21396
Hi @shikhamis11, here is your [Magento instance](https://i-21396-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21396-2-3-develop.instances.magento-community.engineering/admin](https://i-21396-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-22 16:32] magento-engcom-team commented on #21396
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98385` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-22 16:38] magento-engcom-team commented on #21398
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-22 16:39] magento-engcom-team commented on #21398
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98386`, `MAGETWO-98387` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-22 19:10] engcom-backlog-nazar commented on #21370
Hi, @dnsv  I close this issue.  as this is not reproducible on clean 2.3-develop, and is present only on your PR, so this issue should be solved in your PR

[2019-02-22 21:23] dnsv commented on #21370
Hi @engcom-backlog-nazar. Could you please take a look at my branch [issue-21370/sessionmanager](https://github.com/dnsv/magento2/tree/issue-21370/sessionmanager). It contains the latest 2.3-develop + one commit which adds `SessionManager` as a dependency to `Magento\Theme\Model\Theme`. The bug should be reproducible on this branch.

[2019-02-22 22:23] abrittis commented on #8897
Still seeing this issue in 2.1.16.  Any updates?

Also - there is sample code above by @versdivers using EnvironmentEmulation.  Does this work and is there documentation anywhere that describes how EnvironmentEmulation works?

[2019-02-22 23:34] Ctucker9233 commented on #7519
@magento-engcom-team I had the same issue as @onepack. Can you take another look at this?

[2019-02-23 00:20] Rus0 commented on #19858
This behaviour has the result as expected, since the catalog price rule acts like a special price, it does not makes discount in the cart.

[2019-02-23 03:05] Zyles opened #21412 "Multiple rich snippets issues"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1
3. Luma theme

### Steps to reproduce (*)

1. Install Magento 2.3.0 with Luma and sample data
2. Use rich snippet testing tool at https://search.google.com/structured-data/testing-tool

### Expected result (*)

Complete and functional rich snippet data

### Actual result (*)

Broken and missing rich snippet data with warnings making this feature u

[2019-02-23 03:05] magento-engcom-team commented on #21412
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-23 05:17] CompactCodeEU commented on #8897
@abrittis I can confirm that it works since we use it for a very big synchronization module with Exact Online for our customers. But except from some forums i did not find any documentation on it no

[2019-02-23 06:23] ananth-iyer commented on #21406
@DanielRuf I see there is the production version of jQuery Migrate. On production mode, shouldn't it load production version jQuery Migrate?

[2019-02-23 06:32] ananth-iyer commented on #21384
* @magento-engcom-team give me 2.2-develop instance

[2019-02-23 06:32] magento-engcom-team commented on #21384
Hi @ananth-iyer. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-23 06:32] magento-engcom-team commented on #21384
Hi @ananth-iyer, here is your [Magento instance](https://i-21384-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21384-2-2-develop.instances.magento-community.engineering/admin](https://i-21384-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-23 07:04] keyurk-emipro opened #21413 "Minify not working properly in production mode"
### Preconditions (*)

1. Magento 2.3-develop
2. PHP 7.1
3. Apache 2.4.18

### Steps to reproduce (*)

1. Minify HTML -> Yes
2. Minify JS -> Yes
3. Merge JS -> Yes
4. Minify CSS -> Yes
5. Merge Css -> Yes
6. After that Move to Production Mode

### Expected result (*)

1. Go to Homepage, View Page Source All Code including (HTML and Scripts) should be Minified.
2.

### Actual result (*)

1.  Some S

[2019-02-23 07:07] magento-engcom-team commented on #21413
Hi @nimitaemipro. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-23 07:08] nimitaemipro commented on #21413
@magento-engcom-team  give me an instance of 2.3-develop

[2019-02-23 07:34] nimitaemipro commented on #21413
@magento-engcom-team give me 2.3-develop instance

[2019-02-23 07:34] magento-engcom-team commented on #21413
Hi @nimitaemipro. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-23 07:35] magento-engcom-team commented on #21413
Hi @nimitaemipro, here is your [Magento instance](https://i-21413-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21413-2-3-develop.instances.magento-community.engineering/admin](https://i-21413-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-23 08:04] magento-engcom-team commented on #21384
Hi @ananth-iyer. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-23 08:07] DanielRuf commented on #21406
I'm not sure if I conpletely understand your comment.

Why do we even need jQuery migrate? It is not meant to be used in websites in production. Also this and other libs are not the minified versions.

[2019-02-23 08:34] magento-engcom-team commented on #21383
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98410` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-23 09:06] deloenzien commented on #8833
### on magento 2.3 this is till a issue.

![schermafdruk 2019-02-23 10 03 18](https://user-images.githubusercontent.com/44753322/53284292-92b9b200-3752-11e9-9c2b-93373bdbc238.png)
![schermafdruk 2019-02-23 10 03 25](https://user-images.githubusercontent.com/44753322/53284298-99e0c000-3752-11e9-8566-1cb5689cd909.png)

[2019-02-23 09:25] engcom-backlog-nazar commented on #21370
@dnsv @dnsv but as i can see you add as dependency EmulationInterface ?
https://github.com/magento/magento2/blob/491f7ed0071982de8f423f07116fb20d5bd51ef1/app/code/Magento/Theme/Model/Theme.php#L111

[2019-02-23 12:09] dpdesignthatfits commented on #5863
If you could send me this that would be really appreciated.

[2019-02-23 12:25] hostep commented on #5863
@vrcodem, @dpdesignthatfits: he refers to his extension on the marketplace: https://marketplace.magento.com/thlassche-regeneraterewrites.html
We've used it in a few cases and it was able to fix most of the problems we ran into with url rewrites on certain projects.

[2019-02-23 17:09] swapnilkene commented on #5873
@ziaur1 & @nowsathyasar can you please provide more details on what solution it is as its difficult to understand by your comments above.

[2019-02-23 17:32] sreenulanka commented on #10666
Magento 2 Cloud throwing error while trying to install b2b modules.

Error:
composer require  magento/extension-b2b
Using version ^1.1 for magento/extension-b2b
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Can only in

[2019-02-23 20:08] abhi-ranosys opened #21414 "Customer's prefix dropdown option not storing any value"
### Preconditions (*)

1. Magento 2.3.0 Open Source

### Steps to reproduce (*)

1. Go to Magento admin side. Stores-> Configuration -> Customers -> Customers Configuration -> Name and Address option
2. Now, select "Show Prefix" option as "Optional/ Required". Also fill values in "Prefix Drop down Option" like "Mr.;Ms;".
3. Click on "Save Config". Now when you come back on this page, then you will

[2019-02-23 20:08] magento-engcom-team commented on #21414
Hi @abhi-ranosys. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-23 20:08] #21414 closed, assigned to nobody

[2019-02-23 20:12] Ketika opened #21415 "Customer's prefix dropdown option not storing any value"
### Preconditions (*)

1. Magento 2.3.0 Open Source

### Steps to reproduce (*)

1. Go to Magento admin side. Stores-> Configuration -> Customers -> Customers Configuration -> Name and Address option
2. Now, select "Show Prefix" option as "Optional/ Required". Also fill values in "Prefix Drop down Option" like "Mr.;Ms;".
3. Click on "Save Config". Now when you come back on this page, then you will

[2019-02-23 20:12] magento-engcom-team commented on #21415
Hi @Ketika. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-23 20:15] Ketika commented on #21415
@magento-engcom-team give me 2.3-develop instance

[2019-02-23 20:15] magento-engcom-team commented on #21415
Hi @Ketika. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-23 20:16] magento-engcom-team commented on #21415
Hi @Ketika, here is your [Magento instance](https://i-21415-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21415-2-3-develop.instances.magento-community.engineering/admin](https://i-21415-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-23 20:20] Ketika commented on #21415
Hi @magento-engcom-team this is working fine on provided vanila Magento instance.

[2019-02-23 21:47] engcom-backlog-nazar commented on #21415
Hi @Ketika . Thank you for your report.
The issue has been fixed in magento/magento2#20896 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [8ff4aa55e320cb9facba7149ca71bca3b5ecebea](https://github.com/magento/magento2/commit/8ff4aa55e320cb9facba7149ca71bca3b5ecebea)
 - [fa72ee7f925963020ec5f5af558abff09fa4795b](https://github.com/magento/magento2/commit/fa72ee7f925963020ec5f5af558abff0

[2019-02-23 21:47] #21415 closed, assigned to nobody

[2019-02-23 23:44] magento-engcom-team commented on #19274
Hi @dyuk1987. Thank you for your report.
The issue has been fixed in magento/magento2#21357 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [f5df1a8e4e4a97ee5ce6b7f1fdd0e5f90a41c679](https://github.com/magento/magento2/commit/f5df1a8e4e4a97ee5ce6b7f1fdd0e5f90a41c679)
 - [737a79eb5aae8b7b3bb7065707f7e643aa750ede](https://github.com/magento/magento2/commit/737a79eb5aae8b7b3bb7065707f7e64

[2019-02-23 23:44] magento-engcom-team commented on #20010
Hi @jcourtei. Thank you for your report.
The issue has been fixed in magento/magento2#21202 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [85cdc9d41bb027aca3ce5b4412f67e8af634c141](https://github.com/magento/magento2/commit/85cdc9d41bb027aca3ce5b4412f67e8af634c141)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-23 23:44] magento-engcom-team commented on #20518
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20743 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [f0032eef4ddebeec30caafac764c1c5262ee4ec3](https://github.com/magento/magento2/commit/f0032eef4ddebeec30caafac764c1c5262ee4ec3)
 - [1a05beb053d2f36f9df194834d655d68787629d4](https://github.com/magento/magento2/commit/1a05beb053d2f36f9df19

[2019-02-24 00:04] nutmix opened #21416 "cant create any categories or sub categories: 1. Call to a member function setActive() on boolean in vendor/magento/module-backend/Model/View/Result/Page.php"
### Preconditions (*)

1. 2.3.0
2. installed by ISB (TSOHOST) on linux hosting.
3. PHP 7.1

### Steps to reproduce (*)

1. click on "new root category" or "add subcategory".

### Expected result (*)

1. the new category dialog to show.

### Actual result (*)

1. [Screenshots, logs or description]
Fatal error: Uncaught Error: Call to a member function setActive() on boolean in /var/sites/xxx.store/

[2019-02-24 00:04] magento-engcom-team commented on #21416
Hi @nutmix. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-24 00:07] nutmix commented on #21416
Hi, I dont see the relevance of if I can reproduce on vanila or not.  Its a bug either way. I have installed no plugins or made any code changes.

[2019-02-24 07:10] duffner commented on #18248
The best way when this happens are composer aliases, no application is perfect, especially Magento when it comes to included third-party extensions as Magento doesn't test them.

`        "amzn/amazon-pay-and-login-with-amazon-core-module": "2.2.10 as 2.1.2",
        "amzn/amazon-pay-module": "2.2.10 as 2.1.2",
        "amzn/login-with-amazon-module": "2.2.10 as 2.1.2"`

Where you put the version

[2019-02-24 09:06] deloenzien commented on #8833
to solve the problem in magento 2.3.0 i changed
Magento_Catalog/templates/product/price/final_price.phtml

I added text to tell there is % when buy more 'by more and get %'
then I marked out the render of tier price.
So, no tier price is shown, only some replace text with link to product page where tiere prices are correct.

` <a href="<?= /* @escapeNotVerified */ $block->getSaleableItem()->getPro

[2019-02-24 13:11] magento-engcom-team commented on #21417
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-24 13:12] gwharton commented on #21417
In addition, the same thing happens when setting header logo and favicon images.

[2019-02-24 13:14] gwharton opened #21417 "[2.3] Database Media Storage not saving media to database"
### Preconditions (*)
1. magento 2.3-develop
or
2. magento 2.2-develop

### Steps to reproduce (*)
1. Fresh install
2. Change media storage to database and Synchronise
3. Clear cache
4. Create new product with image

### Expected result (*)
1. Verify that image exists on filesystem
2. Verify that image exists in media_storage_file_storage table

### Actual result (*)
1. File exists on filesystem
2

[2019-02-24 13:19] gwharton commented on #21417
Unable to use engcom test instances as need backend database access. Reproduced locally on 2.3-develop and 2.2-develop vanilla installs.

[2019-02-24 15:37] swnsma commented on #21011
Fixed in #19781.

[2019-02-24 15:38] swnsma commented on #21011
Fixed in 2.2: #19760.

[2019-02-24 15:38] #21011 closed, assigned to ilnytskyi

[2019-02-24 18:05] magento-engcom-team commented on #21296
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#21298 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [9d4f13cc80d711fd9ac279f18cc6aa5b3576b178](https://github.com/magento/magento2/commit/9d4f13cc80d711fd9ac279f18cc6aa5b3576b178)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-24 18:05] #21296 closed, assigned to krishprakash

[2019-02-24 18:05] magento-engcom-team commented on #20855
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20856 by @dipti2jcommerce in 2.3-develop branch
Related commit(s):
 - [4bb06ef6bccb10c881d7803350060a177bfd60b9](https://github.com/magento/magento2/commit/4bb06ef6bccb10c881d7803350060a177bfd60b9)
 - [92d4ffadeb479344c01ad35d8fb5149cb545d7c0](https://github.com/magento/magento2/commit/92d4ffadeb479344c01a

[2019-02-24 18:05] #20855 closed, assigned to nobody

[2019-02-24 18:05] magento-engcom-team commented on #17784
Hi @GovindaSharma. Thank you for your report.
The issue has been fixed in magento/magento2#19395 by @Valant13 in 2.3-develop branch
Related commit(s):
 - [ea9f3598a400878d8e1daeb7ef5a07410ebd242a](https://github.com/magento/magento2/commit/ea9f3598a400878d8e1daeb7ef5a07410ebd242a)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-24 18:05] #17784 closed, assigned to Valant13

[2019-02-24 18:05] magento-engcom-team commented on #19786
Hi @Yuwei9291. Thank you for your report.
The issue has been fixed in magento/magento2#19395 by @Valant13 in 2.3-develop branch
Related commit(s):
 - [ea9f3598a400878d8e1daeb7ef5a07410ebd242a](https://github.com/magento/magento2/commit/ea9f3598a400878d8e1daeb7ef5a07410ebd242a)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-24 18:05] #19786 closed, assigned to Nazar65, developerarun

[2019-02-24 18:05] magento-engcom-team commented on #18374
Hi @milindsingh. Thank you for your report.
The issue has been fixed in magento/magento2#20071 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [825fa30f043cdee014dcb6602eed50616a2f601c](https://github.com/magento/magento2/commit/825fa30f043cdee014dcb6602eed50616a2f601c)
 - [fd52e94b69f2ec44552fb1ff21a3897d114f620a](https://github.com/magento/magento2/commit/fd52e94b69f2ec44552fb1ff21a3

[2019-02-24 19:07] nutmix commented on #21416
Hi, how do I confirm these things? I cant edit the form to tick the boxes.

[2019-02-24 20:22] Den4ik opened #21419 "Wishlist is missing review summary"
### Preconditions (*)
1. magento 2.3
2. magento 2.2

### Steps to reproduce (*)

1. Login to customer account
2. Add product with review to wishlist

### Expected result (*)

![s1ogw_2019_02_24_22_54_15](https://user-images.githubusercontent.com/1129623/53304796-92bccd80-388a-11e9-9659-a3b809eab1e6.jpg)

### Actual result (*)

![rp9mp_2019_02_24_22_53_38](https://user-images.githubusercontent.com/

[2019-02-24 20:22] magento-engcom-team commented on #21419
Hi @Den4ik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-24 21:40] magento-engcom-team commented on #8479
Hi @scottsb. Thank you for your report.
The issue has been fixed in magento/magento2#21020 by @ajardin in 2.3-develop branch
Related commit(s):
 - [7b9c6058e8462165dd975ab9d005f671d29a5492](https://github.com/magento/magento2/commit/7b9c6058e8462165dd975ab9d005f671d29a5492)
 - [78916b3f987d47febbdf443b8839baca780e9c02](https://github.com/magento/magento2/commit/78916b3f987d47febbdf443b8839baca780e

[2019-02-24 21:40] magento-engcom-team commented on #16116
Hi @comdiler. Thank you for your report.
The issue has been fixed in magento/magento2#21020 by @ajardin in 2.3-develop branch
Related commit(s):
 - [7b9c6058e8462165dd975ab9d005f671d29a5492](https://github.com/magento/magento2/commit/7b9c6058e8462165dd975ab9d005f671d29a5492)
 - [78916b3f987d47febbdf443b8839baca780e9c02](https://github.com/magento/magento2/commit/78916b3f987d47febbdf443b8839baca780

[2019-02-24 21:40] #16116 closed, assigned to nobody

[2019-02-24 21:40] magento-engcom-team commented on #8086
Hi @wintermute-84. Thank you for your report.
The issue has been fixed in magento/magento2#20371 by @vivekkumarcedcoss in 2.3-develop branch
Related commit(s):
 - [ddb1137b96ff0ae93c2e78dff62e02da31f9a02a](https://github.com/magento/magento2/commit/ddb1137b96ff0ae93c2e78dff62e02da31f9a02a)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-24 21:40] #8086 closed, assigned to nobody

[2019-02-24 21:40] magento-engcom-team commented on #18115
Hi @escopecz. Thank you for your report.
The issue has been fixed in magento/magento2#20371 by @vivekkumarcedcoss in 2.3-develop branch
Related commit(s):
 - [ddb1137b96ff0ae93c2e78dff62e02da31f9a02a](https://github.com/magento/magento2/commit/ddb1137b96ff0ae93c2e78dff62e02da31f9a02a)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-24 22:01] nikhil6867 commented on #13478
@goivvy  hey is this issue solved..? I am also facing same problem with magento enterprise v2.2.2. Can someone help me out

[2019-02-25 03:02] mrtuvn opened #21425 "Date design change show not correctly value in backend"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1.17

### Steps to reproduce (*)

1. Go to Admin
2. Content > Design > Schedule
3. Add new design change
4. Fill form with date pick to year 21xx
5. Go back to edit one more, click on date icon to see issue

### Expected result (*)

1. Show correctly date Ex: 02/04/2100

### Actual result (*)

1. Currently date show 2/4/00
This happen in interface U

[2019-02-25 03:02] magento-engcom-team commented on #21425
Hi @mrtuvn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-25 03:04] mrtuvn commented on #21425
@magento-engcom-team give me 2.3-develop instance

[2019-02-25 03:04] magento-engcom-team commented on #21425
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-25 03:05] magento-engcom-team commented on #21425
Hi @mrtuvn, here is your [Magento instance](https://i-21425-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21425-2-3-develop.instances.magento-community.engineering/admin](https://i-21425-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-25 03:09] mrtuvn commented on #21425
@magento-engcom-team  yes i can reproduce issue in develop test enviroment

See my image attachment

![screenshot from 2019-02-25 10-08-49](https://user-images.githubusercontent.com/1908873/53311907-726e2c80-38e5-11e9-8c17-44d6a27576d7.png)

[2019-02-25 03:24] magento-engcom-team commented on #21419
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-25 04:04] geerlingguy commented on #21277
@engcom-backlog-nazar - Thanks, I've opened ticket https://github.com/magento/community-features/issues/141, we'll see if the third time's a charm.

[2019-02-25 04:18] sluggishlance commented on #19865
I'm also running on 2.3. Encountered this issue today. What I did was create a product, set product to Out of Stock, add configurations, then Save. After that I just change it to In Stock. Hope this helps you guys.

[2019-02-25 04:36] magento-engcom-team commented on #21425
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-25 04:38] krishprakash commented on #21425
@magento-engcom-team give me 2.3-develop instance

[2019-02-25 04:38] magento-engcom-team commented on #21425
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-25 04:38] magento-engcom-team commented on #21425
Hi @krishprakash, here is your [Magento instance](https://i-21425-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21425-2-3-develop.instances.magento-community.engineering/admin](https://i-21425-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-25 04:39] magento-engcom-team commented on #21419
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-25 04:40] krishprakash commented on #21419
@magento-engcom-team give me 2.3-develop instance

[2019-02-25 04:40] magento-engcom-team commented on #21419
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-25 04:40] magento-engcom-team commented on #21419
Hi @krishprakash, here is your [Magento instance](https://i-21419-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21419-2-3-develop.instances.magento-community.engineering/admin](https://i-21419-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-25 05:05] magento-engcom-team commented on #21425
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-25 06:17] Zyles opened #21427 "Integrity and crossorigin with external stylesheets not working"
### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.1

### Steps to reproduce (*)
1. Edit `app/design/frontend/<Vendor>/<theme>/Magento_Theme/layout/default_head_blocks.xml`
2. Try to include a CDN CSS or JS like Bootstrap for example: `<link rel="stylesheet" src_type="url" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ78

[2019-02-25 06:17] magento-engcom-team commented on #21427
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-25 06:18] sanjay-github opened #21428 "Fatal error on catalog comparison list page."
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1.Add two products in comparison list and leave the description field of one of the product empty.
2.Now observe the catalog comparison list.

### Expected result (*)

1. Catalog comparison list should be displayed without breaking even if description not added in a product.
2.

### Actual result (*)

1.Catalog comparison list t

[2019-02-25 06:18] magento-engcom-team commented on #21428
Hi @sanjay-github. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-25 06:23] sanjay-github commented on #21428
Update:
Please leave the description field empty of one of the product  before adding product to comparison list.

[2019-02-25 06:29] magento-engcom-team commented on #21428
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-25 06:46] krishprakash commented on #21428
@magento-engcom-team give me 2.3-develop instance

[2019-02-25 06:46] magento-engcom-team commented on #21428
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-25 07:36] magento-engcom-team commented on #21428
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 07:36] magento-engcom-team commented on #21427
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 07:36] magento-engcom-team commented on #21425
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 07:37] magento-engcom-team commented on #21417
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 07:37] magento-engcom-team commented on #21416
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 07:37] magento-engcom-team commented on #21412
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 07:38] pietervanuhm commented on #14541
Here the same issue, after some composer updates i get this same thing. Is there a manual fix for 2.2.3 ?

[2019-02-25 07:55] mupamupa commented on #19109
Same here. It happens when adding an image to a product.

[2019-02-25 07:56] engcom-backlog-nazar commented on #21427
Hi  @Zyles   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-25 07:56] #21427 closed, assigned to nobody

[2019-02-25 07:57] engcom-backlog-nazar commented on #21416
Hi @nutmix thank you for you report, i'm not able to reproduce following steps you described, please provide more information about steps to reproduce.

[2019-02-25 07:57] #21416 closed, assigned to nobody

[2019-02-25 08:04] engcom-backlog-nazar commented on #21417
Hi @gwharton  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-02-25 08:05] engcom-backlog-nazar commented on #21417
@gwharton https://docs.magento.com/m2/ee/user_guide/system/media-storage-database.html

[2019-02-25 08:23] mupamupa commented on #7917
Any progress with this issue?

[2019-02-25 08:27] magento-engcom-team commented on #21425
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98412`, `MAGETWO-98413` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-25 08:31] gwharton commented on #21417
This is an open source issue. I followed the instructions you posted and it does not work.

[2019-02-25 08:32] engcom-backlog-nazar commented on #21417
@gwharton how you can configure this on CE version ?

[2019-02-25 08:34] dverkade commented on #19858
I'm reopening this issue, because this issue has not been resolved. The issue has been reproduced and is acknowledged, so this behaviour is not as expected.

Also, it doesn't matter whether the discount is applied with a catalog price rule or a cart price rule. Both are discounts and you want to register to the total amount of discount given. In the current situation you can't see the original pri

[2019-02-25 08:34] engcom-backlog-nazar commented on #21417
@gwharton ok nevermind, found, just not found that this  feature available on ce.

[2019-02-25 08:37] nutmix commented on #21416
Thanks for trying.  Basically, I have a virgin install from about 2 weeks ago,I have hadded no plugins or themes, or touched any php or settings on the server other than using the m2 admin web.  I did try creating a second shop, site and view, which threw an error (as does most operations in m2), but it did it anyway (i.e. created the shop, site and view). Since about then, I cant add any categori

[2019-02-25 08:40] pietervanuhm commented on #14541
@[bscbodyscience](/bscbodyscience), After some google if found this commit and you can fix this issue with this.
[](https://github.com/ekuusela/magento2/commit/aa535ea5d4bf78915bddd4387a9d3c4b39943eea)

[2019-02-25 08:55] engcom-backlog-nazar commented on #21417
@gwharton in my case file exist in database, but image not appear
![deepinscreenshot_select-area_20190225105410](https://user-images.githubusercontent.com/40756439/53325336-c67c0f80-38eb-11e9-82bb-c0300d732126.png)
![deepinscreenshot_select-area_20190225105506](https://user-images.githubusercontent.com/40756439/53325358-d267d180-38eb-11e9-8205-4f0de5395091.png)

[2019-02-25 09:06] engcom-backlog-nazar commented on #21428
Hi @sanjay-github thank you for your report, i'm not able to reproduce following steps you described, please provide more information about steps to reproduce. thank you

[2019-02-25 09:06] #21428 closed, assigned to krishprakash

[2019-02-25 09:35] magento-engcom-team commented on #21417
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98415`, `MAGETWO-98416` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-25 09:36] magento-engcom-team commented on #21406
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 09:53] erfanimani commented on #14456
Wow.. just spent an entire afternoon wondering why my attribute wouldn't show up :'(

Interestingly enough, it did show up when trying to edit the customer row inline in the admin grid.

[2019-02-25 09:53] magento-engcom-team commented on #21413
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 10:30] orlangur commented on #21413
@keyuremipro,

Such expectation is wrong.

This is not a recommended setting, see https://devdocs.magento.com/guides/v2.3/performance-best-practices/configuration.html

[2019-02-25 10:30] #21413 closed, assigned to nimitaemipro

[2019-02-25 10:33] dooblem commented on #10292
I've been able to reproduce, but with a permission problem.
The composer install ends fine, but I think it should fail. as suggested by @hostep  can you reopen it ?

Steps to reproduce:
[code]

Then, If you look on what is deployed: bin/magento is there, vendor too, but all files after '`pub/media/.htaccess`', declared in '`vendor/magento/magento2-base/composer.json`' , are missing (`vendor/.htacc

[2019-02-25 10:46] magento-engcom-team commented on #21365
Hi @klierik. Thank you for your report.
The issue has been fixed in magento/magento2#21368 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [f669a4d2982579d768cb9c09fecceb720e3582e4](https://github.com/magento/magento2/commit/f669a4d2982579d768cb9c09fecceb720e3582e4)
 - [ac8b808af95bea422c58b1b936a5ed1fc613c07e](https://github.com/magento/magento2/commit/ac8b808af95bea422c58b1b936a5e

[2019-02-25 10:46] #21365 closed, assigned to nobody

[2019-02-25 10:46] magento-engcom-team commented on #21359
Hi @mageprince. Thank you for your report.
The issue has been fixed in magento/magento2#21360 by @mageprince in 2.3-develop branch
Related commit(s):
 - [b63123e693fe7f950318ed6550d71494661fea89](https://github.com/magento/magento2/commit/b63123e693fe7f950318ed6550d71494661fea89)
 - [1236770b10b14969a69ac81725a6bab781011ffd](https://github.com/magento/magento2/commit/1236770b10b14969a69ac81725a6ba

[2019-02-25 10:46] #21359 closed, assigned to krishprakash

[2019-02-25 10:46] magento-engcom-team commented on #21322
Hi @k4emic. Thank you for your report.
The issue has been fixed in magento/magento2#21328 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [b179e544a9c05eb0d5347028d4095755d019e304](https://github.com/magento/magento2/commit/b179e544a9c05eb0d5347028d4095755d019e304)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-25 10:46] #21322 closed, assigned to nobody

[2019-02-25 10:46] magento-engcom-team commented on #15059
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#21335 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [3e832846dac8640fed86f8e0f0984f027c2f8b04](https://github.com/magento/magento2/commit/3e832846dac8640fed86f8e0f0984f027c2f8b04)
 - [124b0e03bd3004b04f2efe3ecac4d758fc4891c5](https://github.com/magento/magento2/commit/124b0e03bd3004b04f2efe3eca

[2019-02-25 10:46] #15059 closed, assigned to shikhamis11

[2019-02-25 10:46] magento-engcom-team commented on #19983
Hi @cygnetampatel. Thank you for your report.
The issue has been fixed in magento/magento2#19988 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [6d5ee6380cd9038fc1ef3403031e550f44440524](https://github.com/magento/magento2/commit/6d5ee6380cd9038fc1ef3403031e550f44440524)
 - [188a3e66e7d9604942d7c36cfaec7dc5bae32710](https://github.com/magento/magento2/commit/188a3e66e7d9604942d7c36cfaec7d

[2019-02-25 10:46] #19983 closed, assigned to Nazar65, shikhamis11

[2019-02-25 10:46] magento-engcom-team commented on #20773
Hi @sidolov. Thank you for your report.
The issue has been fixed in magento/magento2#20950 by @Vinai in 2.3-develop branch
Related commit(s):
 - [cab38a21087525b72add16910b6eccf7eb7e1b63](https://github.com/magento/magento2/commit/cab38a21087525b72add16910b6eccf7eb7e1b63)
 - [cfbf8c9e7422134f3419eaf719f4b0178075c844](https://github.com/magento/magento2/commit/cfbf8c9e7422134f3419eaf719f4b0178075c8

[2019-02-25 10:46] #20773 closed, assigned to Vinai

[2019-02-25 10:47] magento-engcom-team commented on #13982
Hi @matthew-muscat. Thank you for your report.
The issue has been fixed in magento/magento2#20583 by @lisovyievhenii in 2.3-develop branch
Related commit(s):
 - [122e5c2f61bd29fa6a329af2f23f4441a64b1ea9](https://github.com/magento/magento2/commit/122e5c2f61bd29fa6a329af2f23f4441a64b1ea9)
 - [93f1caa3623e711b6699107bb3dcb24e982eb750](https://github.com/magento/magento2/commit/93f1caa3623e711b669910

[2019-02-25 10:47] #13982 closed, assigned to Frodigo, lisovyievhenii

[2019-02-25 10:47] magento-engcom-team commented on #20305
Hi @mohammadzakir. Thank you for your report.
The issue has been fixed in magento/magento2#20307 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [99d6e43098dbc33dcfbd922521e685eaa791837f](https://github.com/magento/magento2/commit/99d6e43098dbc33dcfbd922521e685eaa791837f)
 - [da46b6ac353d1cbd9e58686516d31a9025110db1](https://github.com/magento/magento2/commit/da46b6ac353d1cbd9e586865

[2019-02-25 10:47] #20305 closed, assigned to GovindaSharma

[2019-02-25 10:47] magento-engcom-team commented on #14412
Hi @bramulous. Thank you for your report.
The issue has been fixed in magento/magento2#18503 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [96687ac49b311ababf2d3eb7054b07cf9627883d](https://github.com/magento/magento2/commit/96687ac49b311ababf2d3eb7054b07cf9627883d)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-25 10:47] #14412 closed, assigned to nobody

[2019-02-25 10:57] magento-engcom-team commented on #21406
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98417`, `MAGETWO-98418` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-25 12:30] magentoguyssageone opened #21438 "Bundle Product price is required when dynamic price enabled after data migration from magento1 to magento2"
### Preconditions (*)

1. Install Fresh Magento version 2.2.7
2. Install Data Migration tool
3. Complete Data Migration from Magento1(Magento versie 1.9.3.2) to Magento2

### Steps to reproduce (*)

1. After Complete Data migration go to Magento2 admin and Edit any migrated bundle product
2. Bunle Product has Dynamic Price set to Yes : http://prntscr.com/mptl6t
3. Try to Save Bundle Product but un

[2019-02-25 12:31] magento-engcom-team commented on #21438
Hi @magentoguyssageone. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-02-25 12:32] magentoguyssageone commented on #21438
Hi,

I have already submitted issue according to proper steps so please review my issue.

Thanks

[2019-02-25 12:33] magento-engcom-team commented on #21438
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-25 12:34] engcom-backlog-nazar commented on #21438
Hi @magentoguyssageone , problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-02-25 12:34] #21438 closed, assigned to nobody

[2019-02-25 12:38] magentoguyssageone commented on #21438
Hi,

OK I will also report this issue on data-migration-tool repository but I want to make sure its not related to Magento2 also.

Thanks

[2019-02-25 12:40] engcom-backlog-nazar commented on #21438
@magentoguyssageone i'm will recheck.

[2019-02-25 12:46] sts-ryan-holton commented on #5863
@thlassche Could you please send the cron to me please

[2019-02-25 12:57] gwharton commented on #21417
OK, ive just redeployed both of my 2.2 and 2.3 test instances from scratch in vanilla form to retest this issue.

Now my 2.2-develop instance created the image in database and processed the image into all cache'd variants, all also in the database

In my 2.3-develop instance the image was cerated in the database, but the cached variants were not created.

[2019-02-25 13:05] engcom-backlog-nazar commented on #21417
@gwharton updated my 2.2-dev branch and files now located in `catalog/product/cache/e908639258c73f6e87464e14b0d2acd7/d/e` and issue not apear
but on 2.3-dev path for directory in `tmp/catalog/product/a/b`

[2019-02-25 13:10] gwharton commented on #21417
When you upload the image it is created with the path tmp/catalog/product/t/e/test.jpg, and when you save the product it is moved to catalog/product/t/e/test.jpg.

So, add the image to the product, database should have /tmp/catalog/product/t/e/test.jpg and then when you save the product, you should get /catalog/product/t/e/test.jpg and all cached variants.

[2019-02-25 13:18] gwharton commented on #21417
To add to this, it is also broken when you duplicate a product.

Create new product and assign image. Check in database that primary image and cached images exist.

Now "Save and duplicate" the image. The primary image is duplicated in the database, now /catalog/product/t/e/test_1.jpg, but none of the cached variants of the new image are created. This causes the product page to report 0 size and f

[2019-02-25 13:29] dandelionred commented on #7917
@mupamupa

Have you tried raising the memory limit to 2G?

[2019-02-25 13:34] sergi-omit commented on #8700
To fix this problem I have developed an extension with a plugin which add the stock_item on product list inside extension_attributes:

Replace [your vendor] in all appearances.

[your vendor]/FixStockProductListApi/registration.php
[code]

[your vendor]/FixStockProductListApi/etc/di.xml
[code]

[your vendor]/FixStockProductListApi/etc/module.xml
[code]

[your vendor]/FixStockProductListApi/Model/P

[2019-02-25 13:57] fcmoto commented on #19865
Same here...I´ve got the same error

[2019-02-25 14:31] cdiacon commented on #12472
@magento-engcom-team @sshymko any update guys on this issue, any workarounds available?

Thanks.

[2019-02-25 14:53] engcom-backlog-nazar commented on #21417
@gwharton upload images to category give me link to image `http://base.url/image.png `on 2.2-develop `http://base.url/pub/media/catalog/category/image.png`  seems like issue must be in "relative path" to files.

[2019-02-25 15:01] Zyles opened #32509 "Integrity and crossorigin with external stylesheets not working"
### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.1

### Steps to reproduce (*)
1. Edit `app/design/frontend/<Vendor>/<theme>/Magento_Theme/layout/default_head_blocks.xml`
2. Try to include a CDN CSS or JS like Bootstrap for example: `<link rel="stylesheet" src_type="url" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ78

[2019-02-25 15:52] wbdeedcoin opened #21440 "Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in /var/www/public/vendor/magento/framework/Filesystem/Directory/Write.php on line 35"
### Preconditions (*)

1. Magento 2.3
2. PHP7.2
3. Apache/2.4.18
4. Ubuntu 16.04
5.  MySQL 5.7.24

### Steps to reproduce (*)

1. New install on PHP 7.0 then upgrade to PHP7.2.15

### Expected result (*)
1. Expected to be able to install Magento.

### Actual result (*)
1. Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in /var/www/public/vendor/magento/framework/Filesyst

[2019-02-25 15:52] magento-engcom-team commented on #21440
Hi @wbdeedcoin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-25 16:16] magento-engcom-team commented on #21419
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98422`, `MAGETWO-98423` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-25 16:17] magento-engcom-team commented on #21440
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-25 16:27] Zyles opened #21441 "Magento swatches fails to deploy"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1

### Steps to reproduce (*)

1. Magento 2.3.0 Luma theme
2. php bin/magento setup:static-content:deploy sv_SE -f

### Expected result (*)

No errors in Chrome console.

### Actual result (*)

I had this issue for over a week now. This file refuses to deploy on many occasions and I don't know why. I have not touched it.

Error in chrome console whe

[2019-02-25 16:28] magento-engcom-team commented on #21441
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-25 16:41] Zyles opened #21442 "Cronjob eating CPU for over 5 hours"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1

### Steps to reproduce (*)

1. Install Magento 2.3.0
2. Do development for a week
3. Suddenly realize the site is slow and breaking because cronjob is eating 80% CPU
4. Debug for 2 hours
5. Go into SQL table cron_schedule only to find 100+ rows with "get_amazon_capture_updates" with pending status
6. Ask yourself WTF is going on, because you don'

[2019-02-25 16:41] magento-engcom-team commented on #21442
Hi @Zyles. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-25 16:55] travis5491811 commented on #6948
@okobchenko anyway to get this working in 2.2.x? I have 2.2.7

[2019-02-25 17:16] magento-engcom-team commented on #21375
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-25 18:30] Zyles commented on #17634
Yep discovered this today after 2 hours of "WTF is going on" with performance.

[2019-02-25 18:37] mgomma commented on #13952
Any update on that issue .. it happens when create order from custom code .. not happen when place order regularly.

[2019-02-25 18:40] JamesRoper opened #21445 "Enhanced E-Commerce Tracking"
Hi,

Google have enabled enhanced e-commerce tracking on analytics for our website however they are not getting implemented, apparently Google are unable to implement it from their end and it must be done by Magento.  Could you please implement this on your end and confirm that it has been done.

Kind Regards James

[2019-02-25 18:40] magento-engcom-team commented on #21445
Hi @JamesRoper. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-25 18:41] ananth-iyer commented on #21441
@Zyles I think so Yes because it could be returning 404 page

Did you run deploy command for sv_SE language?

If not then run the above command & check in Private/Incognito Window

[2019-02-25 18:48] sshymko commented on #12472
@cdiacon
We've implemented a workaround, but are still waiting for the core fix.

Our fix as a custom extension is below.

`app/code/Regent/PaypalFix/Plugin/Model/Express/Checkout.php`
[code]

`app/code/Regent/PaypalFix/etc/di.xml`
[code]

[2019-02-25 19:25] hoangnm89 commented on #8740
hi @LeonidTomashevskyAmasty, you're right. Issue is fixed on 2.2.7.
ref: https://github.com/magento/magento2/commit/09cf555

[2019-02-25 19:41] magento-engcom-team commented on #21147
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98426`, `MAGETWO-98427` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-25 19:45] hostep commented on #6948
@travis5491811 : you can try to patch https://github.com/magento/magento2/pull/11801 into your installation using [this guide](https://support.magento.com/hc/en-us/articles/360005484154-Create-a-patch-for-a-Magento-2-Composer-installation-from-a-GitHub-commit) (at the moment of writing, this link doesn't appear to work due to some Magento/Zendesk server being down, but hopefully it will work again

[2019-02-25 19:53] Zyles commented on #21441
Yes of course.

[2019-02-25 20:03] Zyles commented on #21441
Oh and the JS dir for Magento_Swatches is deployed. But not the CSS.

I can find these files:
[code]
In category view the swatches in Magento sample data, color size etc. show up.

[2019-02-25 20:08] hostep commented on #10292
Thanks @dooblem, I can reproduce as well.

It looks like there were already some PR's submitted with a possible fix, but I don't think they are very good:
- https://github.com/magento/magento-composer-installer/pull/20
- https://github.com/magento/magento-composer-installer/pull/23

The result of the copy/mkdir function calls should probably be checked in the [Copy DeployStrategy](https://github.c

[2019-02-25 20:10] clockworkgeek opened #21446 "Community themes contain resources for Commerce edition modules"
### Summary (*)

The three standard themes have several folders which reference modules that do not exist in Community edition.  They mostly contain `_module.less` files and this leads to unused style rules in the deployed CSS.  Also it's a little bit annoying.

### Examples (*)

The following folders are superfluous:

    adminhtml/Magento/backend/Magento_AdvancedCheckout
    adminhtml/Magento/ba

[2019-02-25 20:10] magento-engcom-team commented on #21446
Hi @clockworkgeek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-25 20:34] facetimer commented on #13774
I am looking for a solution.

Any news about that ?

Thank you

[2019-02-25 21:51] alkrenawizid commented on #19542
The CREATE ALGORITHM statement requires elevated MySQL access.
It is likely that the server you are working on does not have this and will halt the import process.

This line needs to come out of the SQL being migrated.

Instead run the following to create the view

[code]

[2019-02-25 21:59] david-fuehr commented on #21334
Hi @kandy,

since the 2.1.14 update we experienced a massive network traffic increase in our redis node. After some investigation we could identify these changes as root cause.

As the effects are bigger than expected, I will provide you some data:
1. with active and warmed caches the store configuration read from redis is about 33% bigger than without encryption
1. in our AWS setup the _network i

[2019-02-25 22:01] magento-engcom-team commented on #21334
Hi @buskamuza. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-25 22:13] dnsv commented on #21370
@engcom-backlog-nazar `EmulationInterface` doesn't yet exist on 2.3-develop, but we can use `Magento\Store\Model\App\Emulation` there, to reproduce the bug. `Emulation` through its dependencies* initializes `SessionManager`, which causes the bug, so it's enough to just inject `SessionManager` into `Theme`.

I can see from your screenshot that you've tried reproducing the bug using `Magento\Theme\M

[2019-02-25 22:14] travis5491811 commented on #6948
@hostep thanks for the heads up about the article and what to do. I'm trying to proceed without `test` files. I edited the `composer.json` that was in the root directory of project as specified in the guide. This is my first time trying to patch. I followed the article and when I run `composer -v install`, i get the following error it can't find the files.

`ls` shows the file i created is at `/va

[2019-02-25 23:10] magento-engcom-team commented on #20380
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#20866 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [c495f31900cc2250bb63bcd57242d518aa894d92](https://github.com/magento/magento2/commit/c495f31900cc2250bb63bcd57242d518aa894d92)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-26 00:35] vero2k2 commented on #21289
hi,
I have the same error,can you tell me that I modify please

Thank you

[2019-02-26 01:27] scottsb opened #21447 "Cart is not accessible to VoiceOver in base styles"
### Preconditions (*)
All versions from 2.0.0 to 2.3.0

### Steps to reproduce (*)
1. Add two items to cart.
2. Use VoiceOver on Mac to navigate through cart using "next item" keyboard shortcut or gesture.

### Expected result (*)
VoiceOver navigates through each cell in sequence.

### Actual result (*)
1. VoiceOver skips the first cell containing the item name, meaning that a visually impaired us

[2019-02-26 01:27] magento-engcom-team commented on #21447
Hi @scottsb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-26 03:00] estack-co opened #21448 "Megento Support for php 7.3.4"
### Preconditions (*)

I'm Running Magento 2.3-develop branch. As I tried to install magento, I got an error during readiness check saying "Your PHP version is 7.3.2. The required PHP version is ~7.1.3||~7.2.0."

### Steps to reproduce (*)

### Expected result (*)

### Actual result (*)

Uploaded the screenshot for reference.
![screenshot 22](https://user-images.githubusercontent.com/45296518/5338

[2019-02-26 03:00] magento-engcom-team commented on #21448
Hi @estack-co. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-26 06:19] Ridik123 opened #21449 "Advance reporting is not working for magento 2?"
I have followed all the steps as per the Magento guideline.

but the advance reporting is still not working any help?
My Magento version is 2.2.5

[2019-02-26 06:19] magento-engcom-team commented on #21449
Hi @Ridik123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-26 06:35] krishprakash commented on #21449
Hi @Ridik123. Thank you for your report.
Can you please explain in proper issue format so we can review as per steps for reproduce.

[2019-02-26 06:35] #21449 closed, assigned to nobody

[2019-02-26 06:41] Ridik123 commented on #21449
I have followed all instruction given on Magento guideline.
URL: https://docs.magento.com/m2/ce/user_guide/reports/advanced-reporting.html
https://nimb.ws/5G31mD
https://nimb.ws/5XiUAr
the andvance reporting status is changed from pending to enabled
https://nimb.ws/mXhLG2

I have reauthorized the analytic user
https://nimb.ws/0rkEPl

waited for 2-3 days but the advance reporting leads to 404 page

[2019-02-26 06:42] Ridik123 commented on #21449
why are you closing this

[2019-02-26 06:50] manishgoswamig opened #21450 "Magento 2.3 adding attributes value in url if onestep checkout is enable."
### Preconditions (*)

1.Magento 2.3

### Steps to reproduce (*)

1.Enable **After Adding a Product Redirect to Shopping Cart** setting from store >> configuration >> sales >> checkout >> Shoping Cart >> After Adding a Product Redirect to Shopping Cart .

2.Add any configurable product from product detail page.

3.After adding product it will redirect to checkout/cart page and url will be generate

[2019-02-26 06:50] magento-engcom-team commented on #21450
Hi @manishgoswamij. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-26 06:50] Jitheesh commented on #21447
@magento-engcom-team give me 2.3-develop instance

[2019-02-26 06:50] magento-engcom-team commented on #21447
Hi @Jitheesh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-26 06:51] magento-engcom-team commented on #21447
Hi @Jitheesh, here is your [Magento instance](https://i-21447-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21447-2-3-develop.instances.magento-community.engineering/admin](https://i-21447-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-26 07:05] Ridik123 opened #21451 "Magento 2 Advance reporting"
I have followed all instruction given on Magento guideline.
URL: https://docs.magento.com/m2/ce/user_guide/reports/advanced-reporting.html
https://nimb.ws/5G31mD
https://nimb.ws/5XiUAr
the andvance reporting status is changed from pending to enabled
https://nimb.ws/mXhLG2

I have reauthorized the analytic user
https://nimb.ws/0rkEPl

waited for 2-3 days but the advance reporting leads to 404 page

[2019-02-26 07:05] magento-engcom-team commented on #21451
Hi @Ridik123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-26 07:38] magento-engcom-team commented on #21451
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 07:39] engcom-backlog-nazar commented on #21451
Hi @Ridik123
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-26 07:39] #21451 closed, assigned to nobody

[2019-02-26 07:39] engcom-backlog-nazar commented on #21445
Hi @JamesRoper
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-26 07:39] #21445 closed, assigned to nobody

[2019-02-26 07:41] magento-engcom-team commented on #21440
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 07:43] engcom-backlog-nazar commented on #21440
HI @wbdeedcoin thank you for your report, please recheck your settings, this error appear only if you not correctly switch from php7.0 to php7.2

[2019-02-26 07:43] #21440 closed, assigned to shikhamis11

[2019-02-26 07:44] magento-engcom-team commented on #21441
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 07:44] magento-engcom-team commented on #21442
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 07:46] engcom-backlog-nazar commented on #21448
Hi  @estack-co    thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-26 07:46] #21448 closed, assigned to nobody

[2019-02-26 07:47] magento-engcom-team commented on #21446
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 07:48] magento-engcom-team commented on #21450
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 07:48] engcom-backlog-nazar commented on #21412
Hi @Zyles
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-26 07:48] #21412 closed, assigned to nobody

[2019-02-26 07:56] engcom-backlog-nazar commented on #21446
Hi @clockworkgeek thank you for you report, this modules not deployed to frontend or adminhtml, if you recheck `pub/static` folder this files not exists.
![deepinscreenshot_select-area_20190226095518](https://user-images.githubusercontent.com/40756439/53396262-b4ae7100-39ac-11e9-8717-86500ab26896.png)
![deepinscreenshot_select-area_20190226095546](https://user-images.githubusercontent.com/40756439

[2019-02-26 08:09] Ridik123 opened #21452 "Advance reporting is not working for Magento 2"
I have followed all instruction given on Magento guideline.
URL: https://docs.magento.com/m2/ce/user_guide/reports/advanced-reporting.html
https://nimb.ws/5G31mD
https://nimb.ws/5XiUAr
the advance reporting status is changed from pending to enabled
https://nimb.ws/mXhLG2

I have reauthorized the analytic user
https://nimb.ws/0rkEPl

waited for 2-3 days but the advance reporting leads to 404 page
h

[2019-02-26 08:09] magento-engcom-team commented on #21452
Hi @Ridik123. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-26 08:21] engcom-backlog-nazar commented on #21452
HI @Ridik123  what the reason open new issue ?

[2019-02-26 08:22] Ridik123 commented on #21452
as i am unable to subit ticket into magento??? how can i reach them

[2019-02-26 08:23] engcom-backlog-nazar commented on #21452
@Ridik123 i was leave a comment on previous ticket that this must be reported on forums, because on clean 2.3-dev on my environment everything work as expected

[2019-02-26 08:25] Ridik123 commented on #21452
I have written there as well but getting no support

[2019-02-26 08:26] engcom-backlog-nazar commented on #21452
@Ridik123 but this is github issue tracker but not support :)

[2019-02-26 08:27] hostep commented on #6948
Hi @travis5491811

Sorry, I'm a bit busy at the moment, maybe I'll find some time later today to help you figure this out, but no promises.

Regarding your last comment, about missing files, that can't be, because they are there in 2.2.7:
- https://github.com/magento/magento2/blob/2.2.7/app/code/Magento/CatalogImportExport/Model/Export/Product.php
- https://github.com/magento/magento2/tree/2.2.7/a

[2019-02-26 08:32] Ridik123 commented on #21452
can't anyone help me in this issue? or guide me

[2019-02-26 08:34] engcom-backlog-nazar commented on #21452
@Ridik123 please verify that your site have this options

  | The website must run on a public web server.
-- | --
  | The domain must have a valid security (SSL) certificate.
  | Magento must have been installed or upgraded successfully without error.
  | In the Magento configuration, the Base URL (Secure) setting for the store view must point to the secure URL. For example https://yourdomain.com

[2019-02-26 08:34] #21452 closed, assigned to nobody

[2019-02-26 08:35] AymericJoubert opened #21453 "Display store config"
### Summary (*)

Store config is not simply available in phtml templates.

### Examples (*)

I want to display some store config in my phtml template. With M1 I just had to write Mage::getStoreConfig('*********').
In M2 I have to create a block, get ScopeConfigInterface object from context and add a method to return wanted config.

### Proposed solution

Add a getter in Magento\Framework\View\Elem

[2019-02-26 08:35] magento-engcom-team commented on #21453
Hi @AymericJoubert. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-26 08:35] magento-engcom-team commented on #21453
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 08:36] engcom-backlog-nazar commented on #21453
Hi @AymericJoubert
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-26 08:36] #21453 closed, assigned to nobody

[2019-02-26 08:36] Ridik123 commented on #21452
Hi have already rechecked these steps and all are good but still, the reporting is not working

[2019-02-26 08:37] engcom-backlog-nazar commented on #21452
@Ridik123 did you check if cron runs the job ?

[2019-02-26 08:37] Ridik123 commented on #21452
yes crons are runnig fine as well

[2019-02-26 08:38] lisovyievhenii commented on #11699
Hello @milansimek ,

When some method calls `parent::doSomething`, it says to the PHP interpreter to call the parent method (without any possibility to catch this call).
So to do what you want (Interceptor should wrap `parent::doSomething`), you need to rewrite PHP interpreter.
I guess this feature will never be in Magento.

But seriously, if you need to do some changes in methods, which are calle

[2019-02-26 08:39] engcom-backlog-nazar commented on #21452
@Ridik123 wich your magento version ?

[2019-02-26 08:41] Ridik123 commented on #21452
magento 2.2.5

[2019-02-26 08:42] engcom-backlog-nazar commented on #21452
@Ridik123 If you get a 404 “Page Not Found” message, verify that your store meets the requirements for Advanced Reporting. Then, follow the instructions to verify that the integration is installed.
you have some missing setiings -> https://github.com/magento/magento2/issues/21452#issuecomment-467346195

[2019-02-26 08:42] AymericJoubert commented on #21453
I think it's a Magento Core technical issue

[2019-02-26 08:43] Ridik123 commented on #21452
As I said the status for advanced reporting is changed from pending to enabled.

[2019-02-26 08:44] Ridik123 commented on #21452
I have cross checked all the points twice

[2019-02-26 08:45] engcom-backlog-nazar commented on #21453
@AymericJoubert is not a problem since m1 is completely different from m2

[2019-02-26 08:47] engcom-backlog-nazar commented on #21452
@Ridik123 contact your hosting provider,  issue must be in your environment

[2019-02-26 08:48] Ridik123 commented on #21452
what king of issue would it be

as i have checked the logs and found that one the cron has this
setup-cron.ERROR: Your current PHP memory limit is 512M. Magento 2 requires it to be set to 756M or more. As a user with root privileges, edit your php.ini file to increase memory_limit. (The command php --ini tells you where it is located.) After that, restart your web server and try again.

[2019-02-26 08:56] engcom-backlog-nazar commented on #21452
@Ridik123 so you need yo add more memory_limit `Increase the PHP memory limit to at least 768MB for normal operation or 2GB for testing.`

[2019-02-26 08:59] Jitheesh opened #21454 "Infinite redirects in Magento admin"
### Preconditions (*)

1. Magento 2.3, 2.3-dev
2. PHP version7.1.3+

### Steps to reproduce (*)

1.  Navigate to Stores > Configuration > Advanced > Admin > Security. > Add Secret Key to URLs > Yes
2. Login to Magento Admin panel
3. After login admin user will redirected to start-up page. ex: http://shop.dev.magento.com/admin/admin/dashboard/index/key/0edc1d2ff54b4e7e3f7f71e880cee6543870c355f876fd

[2019-02-26 08:59] magento-engcom-team commented on #21454
Hi @Jitheesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-26 09:00] Ridik123 commented on #21452
will that thing gonna resolve this

[2019-02-26 09:00] magento-engcom-team commented on #21454
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 09:01] Ridik123 commented on #21452
Increased limit now no-error in logs but still it leads to 404

[2019-02-26 09:04] engcom-backlog-nazar commented on #21442
Hi @Zyles, thank you for you report, for development process this is expected behavior

[2019-02-26 09:04] #21442 closed, assigned to nobody

[2019-02-26 09:05] engcom-backlog-nazar commented on #21370
@dnsv but I'm injected on Theme class not Design, still no have an issue
* Enable developer mode
* Add `Magento\Framework\Session\SessionManager` as a dependency to `Magento\Theme\Model\Theme`
* Run `php bin/magento setup:upgrade && php bin/magento setup:di:compile`
* Navigate to the admin login page
* Login
* Refresh the dashboard page after a successful login
![deepin-screen-recorder_select area

[2019-02-26 09:10] JamesRoper commented on #21445
Hi,

Summary of issue:

Google have enabled enhanced e-commerce tracking on analytics for our
website however they are not getting implemented, apparently Google are
unable to implement it from their end and it must be done by Magento. Could
you please implement this on your end and confirm that it has been done.

Information on your environment

I am not sure how to answer this exactly, please ca

[2019-02-26 09:10] magento-engcom-team commented on #21454
:white_check_mark: Confirmed by @engcom-backlog-nazar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-26 09:10] magento-engcom-team commented on #21445
Hi @JamesRoper. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-26 09:10] magento-engcom-team commented on #21445
Hi @JamesRoper, here is your [Magento instance](https://i-21445-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21445-2-3-develop.instances.magento-community.engineering/admin](https://i-21445-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-26 09:11] adarshkhatri commented on #21447
@magento-engcom-team give me 2.3.0 instance

[2019-02-26 09:11] magento-engcom-team commented on #21447
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-26 09:12] magento-engcom-team commented on #21447
Hi @adarshkhatri, here is your [Magento instance](https://i-21447-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21447-2-3-0.instances.magento-community.engineering/admin](https://i-21447-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-26 09:15] engcom-backlog-nazar commented on #21445
@JamesRoper this feature available only on EE versionhttps://docs.magento.com/m2/ee/user_guide/marketing/google-enhanced-ecommerce.html

[2019-02-26 09:20] pierzakp opened #21456 "Wrong shipping tax calculation after discount"
### Preconditions (*)

1. Project Magento 2.2.6 EE, also clean Magento 2.2.6 EE, no sample data (Magento Cloud)
2. Tax class for products and shipping method with 22% rate
3. Product price is configured to be with excluded tax, displayed with included tax in catalog
4. Shipping price is configured to be with included tax, displayed with included tax in catalog
5. Cart price rule discount -50% whic

[2019-02-26 09:20] magento-engcom-team commented on #21456
Hi @pierzakp. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-26 09:21] engcom-backlog-nazar commented on #21452
@Ridik123 https://community.magento.com/t5/Magento-2-x-Technical-Issues/Problem-with-Advanced-Reporting/m-p/115099

[2019-02-26 09:21] psavary commented on #16202
Hi @hostep. Thank you for taking the time to work this issue!
I've tested [1f5d415](https://github.com/magento/magento2/commit/1f5d41519b82bc5e24acc89795ea8b6d607a1c7b)
This doesn't work as intended, only new, non existing catalog categories for store views will be generated, the existing ones aren't updated.
This might be an issue (from what I gather) with [this line](https://github.com/magento/m

[2019-02-26 09:24] magento-engcom-team commented on #21456
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-26 09:24] Ridik123 commented on #21452
ya I have checked this before posting this issue but the solution didn't work

[2019-02-26 09:29] JamesRoper commented on #21445
Hi, can you explain what you mean by only available on EE version?  We are
on Magento 2, do we not have the EE version?  I spoke to Google and they
were helping implement this and they were saying they have done everything
there end but its not working, so it needs to be implemented by Magento on
there end, can you help with this or is there someone else I can contact, a
phone number? Its an urgen

[2019-02-26 09:51] pierzakp commented on #21456
Hi, I have created vanilla Magento 2.2.6 EE instance on Magento Cloud and after configuring all preconditions I am able to reproduce this issue.

[2019-02-26 09:53] engcom-backlog-nazar commented on #21456
Hi @pierzakp can you reproduce this on CE version ?

[2019-02-26 09:55] pierzakp commented on #21456
Please share 2.2.6 CE instance.

[2019-02-26 09:55] engcom-backlog-nazar commented on #21456
@magento-engcom-team give me 2.2.6 instance

[2019-02-26 09:55] magento-engcom-team commented on #21456
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-02-26 09:56] magento-engcom-team commented on #21456
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21456-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-21456-2-2-6.instances.magento-community.engineering/admin](https://i-21456-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-26 10:05] dipti2jcommerce commented on #21456
@magento-engcom-team give me 2.3-develop instance

[2019-02-26 10:05] magento-engcom-team commented on #21456
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-26 10:06] magento-engcom-team commented on #21456
Hi @dipti2jcommerce, here is your [Magento instance](https://i-21456-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21456-2-3-develop.instances.magento-community.engineering/admin](https://i-21456-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-26 10:07] pierzakp commented on #21456
Thank you for sharing the instance. Issue has been reproduced with the same wrong values as output in order.

[2019-02-26 10:15] clockworkgeek commented on #21446
That's because LESS files are not static so will not be deployed to `pub/static`.  They are copied to `var/view_preprocessed` and then compiled into `styles.css`, `styles-m.css`, and `styles-l.css`.

[2019-02-26 10:17] bentideswell opened #21457 "tinytext MySQL field not supported in Magento 2.3"
### Preconditions (*)

1. Magento 2.3 installed
2. A table in the same DB as Magento uses a tinytext field (eg. WordPress)

### Steps to reproduce (*)

1. Install Magento 2.3
2. In the same DB, create a new DB table with a tinytext field
3. Run php bin/magento setup:upgrade

### Expected result (*)

1. The upgrade process should complete as normal

### Actual result (*)

1. An error stating "Canno

[2019-02-26 10:17] magento-engcom-team commented on #21457
Hi @bentideswell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent