[2020-02-04 14:37] devchris79 commented on #26675
Hi @edenduong

Why have you closed this issue? Its been seen by myself, @anvanza  and @engcom-Delta

Here is our locale options:

![locale](https://user-images.githubusercontent.com/43850303/73754130-cf13d180-475b-11ea-8dae-e9bee8af584c.jpg)

[2020-02-04 14:40] edenduong commented on #26675
@devchris79 : sorry for my mistake. I didn’t mean that. I reopened it.

[2020-02-04 14:43] devchris79 commented on #26675
@edenduong No problem :-) Maybe the issue is related to the locale option giving the strange results. It seems @engcom-Delta and @anvanza believe this to be pertinent.

[2020-02-04 14:44] MarcusWolschon commented on #23645
The automatic text block fails to mention if this ticket will be updated with status (fixed, wontfix, notreproducable,closed,...) information as well as release-information when MV-31077 gets status updates (such as when it gets closed as fixed and assigned to a release).

[2020-02-04 14:46] engcom-Delta commented on #26675
@magento give me 2.4-develop instance

[2020-02-04 14:46] magento-engcom-team commented on #26675
Hi @engcom-Delta. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-04 14:46] edenduong commented on #26675
I reproduce the issue in my local. Thank you @devchris79  :)

[2020-02-04 14:47] kerlama opened #26698 "Paypal issue with region on 2.3.4"
### Preconditions (*)

1. Magento 2.3.4 & 2.4-develop
2. Clean version, vanilla, with sample data only
3. PHP 7.2.26
4. Paypal Express Checkout

### Steps to reproduce (*)

1. Enable paypal w/o review (haven't tried with review)
2. Add product to cart as guest or logged in (doesn't matter)
3. Go to checkout
4. Enter your shipping address to be in UK for example and enter some state, I used Notting

[2020-02-04 14:47] magento-engcom-team commented on #26675
Hi @engcom-Delta, here is your [Magento instance](https://i-26675-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26675-2-4-develop.instances.magento-community.engineering/admin_583c](https://i-26675-2-4-develop.instances.magento-community.engineering/admin_583c)
Login: `8d54cec2` Password: `2a124ed93fd9`
Instance will be terminated in up to 3 hours.

[2020-02-04 14:47] engcom-Delta commented on #26675
@devchris79 This [case](https://github.com/magento/magento2/issues/26675#issuecomment-581939462) is not reproducible for me

[2020-02-04 14:58] edenduong commented on #26675
@devchris79: Change source code to :
[code]

will solve this problem. I will make PR.

[2020-02-04 15:09] devchris79 commented on #26675
@edenduong Thanks for the fix, I have applied this and can confirm it works a treat.

[2020-02-04 15:40] mrtuvn opened #26700 "Can't create new customer account from frontend with required DOB field"
### Preconditions (*)

1. 2.4-develop
2. php7.3
3. Default English locale

### Steps to reproduce (*)

1. Enable DOB field from customer configuration (Show required)
2. Go to create new customer page

### Expected result (*)

1. Form register customer should pass with valid dob

### Actual result (*)

1. Form still show date of birth invalid and not allow to submit
![Screenshot from 2020-02-04 22

[2020-02-04 15:41] mrtuvn commented on #26700
@magento give me 2.4-develop instance

[2020-02-04 15:42] magento-engcom-team commented on #26700
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-04 15:42] magento-engcom-team commented on #26700
Hi @mrtuvn, here is your [Magento instance](https://i-26700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26700-2-4-develop.instances.magento-community.engineering/admin_9e67](https://i-26700-2-4-develop.instances.magento-community.engineering/admin_9e67)
Login: `4dbca955` Password: `82415b898f5a`
Instance will be terminated in up to 3 hours.

[2020-02-04 15:46] mrtuvn commented on #26700
yes i have able to reproduced the issue on vanilla Magento instance following steps to reproduce

[2020-02-04 16:17] gwharton commented on #26675
Confirmed fix working on 2.3.4 with en_GB system locale.

[2020-02-04 16:25] edenduong commented on #26675
I just created Pull Request. Thank you.

[2020-02-04 16:35] NathMorgan commented on #26682
Currently working on a fix

[2020-02-04 17:14] vahir2016 opened #26702 "StockState.php Are theses comment a feature or a forget ?"
Hello,

If instructions are commented, is it a feature or a forget from the last commit? I have got issues with MSI stocks. Please remove useless comments if needed.

### Preconditions (*)

1. 2.4

### Steps to reproduce (*)

1. Open app/code/Magento/CatalogInventory/Model/StockState.php

### Expected Result (*)
No comments in the code

### Actual Result (*)
There are several not needed comments i

[2020-02-04 19:06] blacktek commented on #26484
I've the same issue on 2.3.3; after creating a product it's enough to send the empty payload {"product":{}} in PUT to /en/index.php/rest/<shop_code>/V1/products/<sku> in order to uncheck all the "Use Default Value" attributes having scope "website"

could you please double check?

[2020-02-04 19:29] pmblissRDi commented on #19710
This appeared to work for me on a 2.3.1 after clearing cache

[2020-02-04 22:22] jproffer commented on #5542
I am also experiencing this issue.  Magento 2.3.3 CE

[2020-02-05 00:31] LiamKarlMitchell commented on #19934
Still a problem.

[2020-02-05 04:36] krishprakash commented on #26700
@magento give me 2.4-develop instance

[2020-02-05 04:36] magento-engcom-team commented on #26700
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-05 04:36] magento-engcom-team commented on #26700
Hi @krishprakash, here is your [Magento instance](https://i-26700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26700-2-4-develop.instances.magento-community.engineering/admin_5e87](https://i-26700-2-4-develop.instances.magento-community.engineering/admin_5e87)
Login: `66996247` Password: `aeded9ca1339`
Instance will be terminated in up to 3 hours.

[2020-02-05 04:43] magento-engcom-team commented on #26700
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31117` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-05 05:04] darshankhatri16 commented on #26687
@santosh-ks153
I did some research on this issue and found that you have installed some custom module and in that custom module, you will find a code where area code has been set. Could you please verify in your custom module?
This is usually due to some other bit of code setting the areaCode before the core is trying to set it. Usually, because it is trying to be set in __construct() somewhere. W

[2020-02-05 05:07] adarshkhatri commented on #22491
I am having this issue in M2.3.3 EE

[2020-02-05 05:36] nagel1217 opened #26705 "Wrong api"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-02-05 06:15] krishprakash commented on #26705
Hi @nagel1217. Please update all the details Precondition,Steps to reproduce,expected and actual result for the issue
Thanks.

[2020-02-05 06:43] jsdupuis commented on #25927
@sdzhepa @MagentoChannels Could you please give us the courtesy of an update on this issue?

[2020-02-05 07:01] #26686 closed, assigned to nobody

[2020-02-05 07:10] adarshkhatri commented on #22491
I am having this issue in M2.3.3

[2020-02-05 07:16] vtransy commented on #23802
Yes @vrajeshkpatel but it doesn't show message issue. This is terrible. I debug and found this:

https://mrvts.wordpress.com/2020/02/05/save-button-on-product-page-does-not-work-in-magento-2-admin/

[2020-02-05 07:19] sudheers-kensium commented on #26700
@magento give me 2.4-develop instance

[2020-02-05 07:19] magento-engcom-team commented on #26700
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-05 07:20] magento-engcom-team commented on #26700
Hi @sudheers-kensium, here is your [Magento instance](https://i-26700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26700-2-4-develop.instances.magento-community.engineering/admin_7579](https://i-26700-2-4-develop.instances.magento-community.engineering/admin_7579)
Login: `2cba6bf0` Password: `ba9a4fd2ed5b`
Instance will be terminated in up to 3 hours.

[2020-02-05 07:30] magento-engcom-team commented on #26484
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31118` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-05 08:11] juharintanen commented on #4567
![image](https://user-images.githubusercontent.com/16240211/73822906-d5f42000-47ff-11ea-8975-69644e9d7205.png)

Mage 2.3.4

[2020-02-05 08:12] juharintanen commented on #16779
![image](https://user-images.githubusercontent.com/16240211/73822998-063bbe80-4800-11ea-8aa4-fe4bcf08fa1d.png)
Mage 2.3.4

[2020-02-05 08:17] jellesiderius commented on #19710
We haven't found a solution to this yet...

[2020-02-05 08:24] ericmorand opened #26706 "Installing magento from composer install all the whole github repository"
Hi guys,

When using the recommended syntax to install magento, the whole github repository is downloaded and installed locally:

`composer create-project --repository=https://repo.magento.com/ magento/project-community-edition [...]`

This means that we get not needed and not requested files in our environments: dev, build and deploy scripts, less sources, documentations, github templates, README

[2020-02-05 08:27] engcom-Bravo commented on #26678
Hello @digitalbricklayer

Thank you for your report.

We had this issue opened earlier and closed it as _"not an issue"_
Wysiwyg will cut all empty HTML.

Please see the related issue and comments to it
https://github.com/magento/magento2/issues/21602

We have to close this.

If you'll ever experience any issues with Magento, please fill free to create new ticket according to the [Issue reporting

[2020-02-05 08:27] #26678 closed, assigned to engcom-Bravo

[2020-02-05 08:32] magento-engcom-team commented on #13048
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-02-05 08:33] magento-engcom-team commented on #13048
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31120` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-05 09:15] krishprakash commented on #26705
Hi @nagel1217.
Feel Free to reopen after update all the details.
Thanks.

[2020-02-05 09:15] #26705 closed, assigned to nobody

[2020-02-05 09:40] filiprozenek commented on #26304
@magento give me 2.3.3 instance

[2020-02-05 09:40] magento-engcom-team commented on #26304
Hi @filiprozenek. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-05 09:41] magento-engcom-team commented on #26304
Hi @filiprozenek, here is your [Magento instance](https://i-26304-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26304-2-3-3.instances.magento-community.engineering/admin_db43](https://i-26304-2-3-3.instances.magento-community.engineering/admin_db43)
Login: `6d889987` Password: `b59f3165b5ff`
Instance will be terminated in up to 3 hours.

[2020-02-05 09:41] Usik2203 opened #26708 "ORDER BY has two similar conditions"
### Preconditions (*)

Magento 2.4-develop

### Steps to reproduce (*)

1. We have products in category
2. Go to app/code/Magento/Catalog/Block/Product/ListProduct.php and add
<img width="1045" alt="Screenshot 2020-02-05 at 11 20 52" src="https://user-images.githubusercontent.com/13517181/73828488-fcb75400-4809-11ea-9768-9498a9beff4e.png">
3. Go to page on category

### Expected result (*)

1.   c

[2020-02-05 09:42] harperruss commented on #10737
@diazwatson It looks like this has been fixed in 2.3.4

https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-4-open-source.html#swatches

[2020-02-05 09:48] aashan10 opened #26709 "Product video doesn't play when it is not placed first in the sort order."
### Preconditions (*)

- Magento Version : [2.2.9](https://github.com/magento/magento2/releases/tag/2.2.9)

 - PHP 7.1.32
 - MySQL  Ver 14.14 Distrib 5.7.28, for Linux (x86_64) using  EditLine wrapper

- Sample data is used.

### Steps to reproduce

1. Edit the simple product of a configurable product and add a product video. ( In our case, we have used Chaz Kangeroo Hoodie as Configurable Product

[2020-02-05 09:57] PedroFaria99 commented on #14735
This has been fixed in version 2.3.4

[2020-02-05 10:06] filiprozenek commented on #26304
@magento give me 2.4-develop instance

[2020-02-05 10:07] magento-engcom-team commented on #26304
Hi @filiprozenek. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-05 10:07] magento-engcom-team commented on #26304
Hi @filiprozenek, here is your [Magento instance](https://i-26304-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26304-2-4-develop.instances.magento-community.engineering/admin_2508](https://i-26304-2-4-develop.instances.magento-community.engineering/admin_2508)
Login: `0020c45d` Password: `b182ab3a00ce`
Instance will be terminated in up to 3 hours.

[2020-02-05 10:16] DavaGordon commented on #23511
If you are using PHP 7.2 to fix this id recommend you do the following. this has been tested on multiple instances of Magento and running on a server with multiple instances of php installed

Step 1.
In the command line run
`sudo apt remove php-libsodium`

Step 2.
In phpMyAdmin or another DB client run
`UPDATE admin_user SET password = CONCAT(SHA2('xxxxxxxxNewPassword', 256), ':xxxxxxxx:1') WHERE

[2020-02-05 10:27] diazwatson commented on #10737
@harperruss it looks like, although it does not mention the commit where this was fixed, so we cannot see what was the actual fix. Is it possible for you to test in 2.3.4?

[2020-02-05 10:27] filiprozenek commented on #26304
I couldn't reproduce this bug on both _m.2.3.3_ & _m.2.4-develop_.

Regarding the issue's description: 
1. I have created NL & DE Store Views
2. I have set Locale to NL
3. I have created Simple, Confugurable & Bundle Products
4. I have edited above products for DE Store View

In all 3 cases I was given a proper/expected behaviour.

![a1](https://user-images.githubusercontent.com/60395699/73833433-

[2020-02-05 10:27] #26304 closed, assigned to shikhamis11, filiprozenek

[2020-02-05 10:44] Tezus commented on #26578
We also fetch the same issue on my development site.  after upgrade 2.3.4 when I open the category list page display all products or when I open second-page use pagination link. second-page display the same products. I think Magento gets the wrong collection.

[2020-02-05 11:06] 36serg6 commented on #24941
I found another solution. In file:
`\Magento\CatalogImportExport\Model\Import\Uploader::_setUploadFile`

`try {
            $fullPath = $this->_directory->getAbsolutePath($filePath);
            if ($this->getTmpDir()) {
                $tmpDir = $this->fileSystem->getDirectoryReadByPath(
                    $this->_directory->getAbsolutePath($this->getTmpDir())
                );
            } el

[2020-02-05 11:21] ajijshekh123 commented on #26709
Give me @magento give me 2.4-develop instance

[2020-02-05 11:21] magento-engcom-team commented on #26709
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-05 11:21] magento-engcom-team commented on #26709
Hi @ajijshekh123, here is your [Magento instance](https://i-26709-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26709-2-4-develop.instances.magento-community.engineering/admin_723b](https://i-26709-2-4-develop.instances.magento-community.engineering/admin_723b)
Login: `d5dd5377` Password: `0ad3122db139`
Instance will be terminated in up to 3 hours.

[2020-02-05 11:42] lamasfoker commented on #15047
The bug is still present, please reopen the issue.

[2020-02-05 12:37] sumitCueBlocks commented on #5929
@twoatechguy This will work when you saved a new product or edit and save an existing one. I'm using this code on one of my site and it is working fine for me.

[2020-02-05 12:38] ajwalks commented on #26675
Hi, 2.3.4 with same issue.
Where to put this fix please.
Is it addition or change existing code?

[2020-02-05 12:45] magento-engcom-team commented on #8971
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-02-05 12:46] magento-engcom-team commented on #8971
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31127` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-05 12:47] devchris79 commented on #26675
Hi @ajwalks,

You need to change timezone.php, its at path:
/vendor/magento/framework/Stdlib/DateTime/Timezone.php

Update with the changes from @edenduong and recompile.

[2020-02-05 12:49] ajijshekh123 commented on #26709
Hello @aashan10,
After clicking on a video, Youtube video is played properly.
See attached the video and Let me know which points are missing in my end or is it working fine.

![Issue](https://user-images.githubusercontent.com/24711761/73843116-fe057280-4843-11ea-9121-e8f35e3ee553.gif)

Thanks.

[2020-02-05 12:50] gwharton commented on #26675
If you havent done so already, look into one of the composer patch management packages, then download the pull request as a diff, and apply via your main composer file. I think applying patches like this is preferred to editing core.

[2020-02-05 12:53] devchris79 commented on #26675
It looks like the pull request has issues and has not currently passed the checks, I assume that method would only work on the pull requests that are complete?

[2020-02-05 12:54] ajwalks commented on #26675
@devchris79, thank you, ace.
@gwharton, will look into this thanks. A new process for me to get my head around that so like most things magento would take me the rest of the day!

[2020-02-05 12:57] gwharton commented on #26675
The errors in the Pull request seem like an issue with the testing framework at the moment. They seem to be occurring randomly on other PR's too. If they are re-run, they will probably pass on the second run. I'll trigger a re-run.

[2020-02-05 13:02] ajwalks commented on #26675
Fix worked a treat, thank you to all involved.

[2020-02-05 14:36] magento-engcom-team commented on #23180
Hi @lbajsarowicz, @ilnytskyi, @engcom-Delta.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23835` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of

[2020-02-05 14:36] #23180 closed, assigned to ilnytskyi, engcom-Delta

[2020-02-05 15:12] magento-engcom-team commented on #26702
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31131` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-05 15:12] dyuk1987 commented on #24942
I'm having the same problems when I upgraded the Magento from 2.2.7 to 2.2.10

[2020-02-05 16:34] LusienGG commented on #22554
Whats the resolution? Mentioned POST req worked for updates before 2.3... whats the point of changing it ?

[2020-02-05 17:07] twoatechguy commented on #5929
@sumitCueBlocks Thanks for following up, I created the module again and this time was successful in my tests on 2.3.3.

[2020-02-05 17:08] mustafa-taheri opened #26716 "Unable to send newsletter subscription emails Magento 2.3.0"
I am facing an issue while sending newsletter subscription emails to the customer. Using Magento 2.3.0 with PHP 7.1. all other emails are working (i.e. Subscription Confirmation and Unsubscribed). Please help

[2020-02-05 17:59] luciaebizmarts opened #26717 "Error on message error when perform an oauth/token/request"
### Preconditions (*)
1. Magento 2.3.x and Magento 2.2.x

### Steps to reproduce (*)
1. Set on Magento any language different to english.
2. Perform a post request to this endpoint oauth/token/request.
3. Be sure that the request returns error code 400.

### Expected result (*)
1. We should be able to see the error message on the returns.

### Actual result (*)
1. On the returns we see the next er

[2020-02-05 18:10] 1ci commented on #17429
I'm having this issue on Magento 2.3.4

Middle click scroll works on the pages that are linked in the footer (Search Terms, Contact Us, Orders and Returns) **and on a product page**.

But it **doesn't** work on the home page and catalog (product listing)

I'm using:
- Varnish 6.2.2
- Redis 5.0.7
- Elasticsearch 6.8.6
- RabbitMQ 3.8.2
- MariaDB 10.2.31
- nginx 1.16.1
- php 7.2.11

[2020-02-05 18:13] nadroj467 commented on #26351
@ashikp resolution solved the problem for us replacing with files suggested. This seems to be a core bug

[2020-02-05 18:58] Solunsky commented on #19491
Magento 2.3.4 Not fixed this problem....

[2020-02-05 19:12] Zyles commented on #23540
Same problem. Our server died because old consumers were running and spiked CPU load after we moved to a new release.

Is consumers supposed to be running 24/7? "ps aux | grep consumers" have 4 consumers running at all times.

[2020-02-05 19:33] hostep commented on #23540
@Zyles: yes, that's how it was designed, if you don't need the functionality provided by those consumers, you can disable all or some of them, see [docs](https://devdocs.magento.com/guides/v2.3/config-guide/mq/manage-message-queues.html#configuration).

Magento 2.3.4 came with a new option `consumers-wait-for-messages`, which will kill the consumer process just after it got started up and noticed

[2020-02-05 19:36] friendscottn opened #26718 "Admin Product Edit Screen: Unable to load theme by specified key: ''"
### Preconditions (*)

1. 2.3.4
2. PHP 7.3

### Steps to reproduce (*)

1. Install a custom Admin theme using the steps from [devdocs](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/admin_theme_apply.html#specify_di)
2. The important part is to attempt to use the admin specific di.xml file

### Expected result (*)

1. Load an admin product page without an exception

### Actual r

[2020-02-05 19:36] Zyles commented on #26484
This has caused massive problems for us.

When we update our product prices using the API, every single product has unchecked the "Use default" values.

So that means everytime we edit a product, disable it etc. We have to do it on multiple storefronts because the values are no longer shared.

[2020-02-05 19:42] jakwinkler opened #26719 "Wrong customer group assigned to an order."
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create 2 new customer groups
2. Create new customer, assign it to Customer Group 1
3. Create an order
4. Edit created customer and change it's customer group to Customer Group 2
5. Create another order using "Reorder" feature in admin panel.

### Expected result (*)

1. Newly created order should have a new customer group assi

[2020-02-05 19:42] hostep commented on #26484
This is a duplicate of https://github.com/magento/magento2/issues/9186 btw
The official response from the Magento Enterprise support can be found [here](https://github.com/magento/magento2/issues/9186) (more then 6 months have passed since then, it looks like nothing happened, yay!)

[2020-02-05 19:50] Zyles commented on #9186
This needs to be fixed.

Re-produced on 2.4-develop and has cause MASSIVE problems for us.

The rest API is unusable. We can't update anything because it messes up attributes on every single product.

If we disable one product we have to disable it on multiple storefronts.

If we change one attribute value we have to change it on multiple storefronts.

Makes the scoping and sharing of attribute da

[2020-02-05 19:50] hostep commented on #26706
It's expected because a lot of people like to have all those development requirements.

What is not expected is that a bunch of those development requirements are also getting installed when providing the `--no-dev` flag.
But we already have issues for that:
- https://github.com/magento/magento2/issues/5262
- https://github.com/magento/magento2/issues/8971
- https://github.com/magento/magento2/iss

[2020-02-05 19:50] #26706 closed, assigned to nobody

[2020-02-05 20:48] pickard87 opened #26721 "Add to cart button does not work in google chrome"
I am having an issue with magento 2.2.11 where the add to cart button does not add products to cart, it just refreshes the page. I have upgraded from 2.2.7 to 2.2.11 and the issue is still occuring.
I am using the porto theme.
The problem only occurs in the google chrome web browser, other browsers work ok.
I have cleared all caches and reuploaded various files to no avail.
I am really stumped wit

[2020-02-05 21:26] #26721 closed, assigned to nobody

[2020-02-05 21:31] aliomattux commented on #6426
I have Magento 2.3.3 and same issue.

When in production mode only
Using commands grunt clean or grunt exec delete the file deployed_version.txt and then complains it can't find the vesrion. To me this definitely seems like a bug.

[2020-02-05 23:28] sedonik commented on #26109
Hi @TomashKhamlai

I've added method validateStockItem wich checks OUT_OF_STOCK parameter of the item.
Could you check is it work for you?

Thanks.

[2020-02-05 23:48] felly commented on #26295
Hello @engcom-Hotel

I have to disagree with you and in my opinion this is still a valid issue - reproduced on my side on 2.2.x and 2.3.x

When you apply *ThemeC* on a product, then only the (extended) layout of *ThemeB* will be taken in the following scenario:

[code]

I don't know if there is any difference when all themes are by the same vendor, but at least this is my setup.
Even tough above s

[2020-02-06 02:23] Zyles commented on #26484
Good to see they are working on a 3 year old bug that affects thousands of store... Oh wait.

[2020-02-06 03:24] lalvesoliveira commented on #26680
@magento give me 2.4-develop instance

[2020-02-06 03:24] magento-engcom-team commented on #26680
Hi @lalvesoliveira. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 03:25] magento-engcom-team commented on #26680
Hi @lalvesoliveira, here is your [Magento instance](https://i-26680-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26680-2-4-develop.instances.magento-community.engineering/admin_1d4a](https://i-26680-2-4-develop.instances.magento-community.engineering/admin_1d4a)
Login: `21211e71` Password: `6dbc4e8b69f9`
Instance will be terminated in up to 3 hours.

[2020-02-06 04:32] ajijshekh123 commented on #26719
Give me @magento give me 2.4-develop instance

[2020-02-06 04:32] magento-engcom-team commented on #26719
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 04:32] magento-engcom-team commented on #26719
Hi @ajijshekh123, here is your [Magento instance](https://i-26719-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26719-2-4-develop.instances.magento-community.engineering/admin_a4bc](https://i-26719-2-4-develop.instances.magento-community.engineering/admin_a4bc)
Login: `bf2e4cf2` Password: `96e47e752a8b`
Instance will be terminated in up to 3 hours.

[2020-02-06 04:49] ajijshekh123 commented on #26719
The issue is verified as per your scenario and steps.
If the admin wants to change the customer group on the reordering section, Admin can update it.
"Group 2" should be there on the Order block if the admin has already changed the customer group.

Thanks.

[2020-02-06 04:50] magento-engcom-team commented on #26719
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31169` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 05:55] drpayyne commented on #26718
Hi @friendscottn, thanks for reporting this issue. Is it possibly related to https://github.com/magento/magento2/issues/21193?

[2020-02-06 06:25] drpayyne commented on #25040
Closing this issue based on https://github.com/magento/magento2/pull/25181#issuecomment-562770104.

[2020-02-06 06:25] #25040 closed, assigned to nobody

[2020-02-06 06:46] drpayyne commented on #25679
Hi @magento-engcom-team, how does one proceed on this since 2.3.4 is already released?
Related:
- https://github.com/magento/magento2/commit/3a90a0f61e953c8b943b8242525e77477cee8455#diff-fe7166a7e0c547acb18a774c9ddc9fe1
- https://github.com/magento/magento2/commit/e14296f8fc3fbf22d4de6af35e3c72f8678c5841
- https://github.com/magento/magento2/commit/e14296f8fc3fbf22d4de6af35e3c72f8678c5841#r3710688

[2020-02-06 06:52] drpayyne commented on #25404
Hi @engcom-Echo, were you able to reproduce this after https://github.com/magento/magento2/issues/25404#issuecomment-558660542?

[2020-02-06 06:57] ihor-sviziev commented on #6426
@aliomattux,
What you mentioned looks like separate issue. We didn't have this issue since magento 2.2.x.
Could you report separate issue with exact steps to reproduce?

Thank you!

[2020-02-06 07:13] webkul-dhananjay opened #26723 "Discount is not applying on Shipping Amount for the rule 'Buy X get Y free (discount amount is Y)'."
### Preconditions (*)
Magento version:2.3.4
Php version 7.2.14

### Steps to reproduce (*)
1. Create a rule for  'Buy X get Y free (discount amount is Y)
2.  Apply to Shipping Amount set to yes.

### Expected result (*)
Shipping amount should be $10
as discount should apply on shipping amount of 1 qty of item.

### Actual result (*)
Discount is not applying on Shipping Amount of 1 qty of item.

--

[2020-02-06 08:24] inkobject commented on #25430
Just throwing my hat in the ring: I have seen this problem on 2.3.4. after disabling Temando_Shipping. I reenabled it and the problem went away.

[2020-02-06 08:24] engcom-Echo commented on #25404
Hi, @drpayyne. It is not reproduced on the 2.4-develop.

[2020-02-06 08:31] drpayyne commented on #25404
@engcom-Echo, I think we can close this, then.

[2020-02-06 08:44] ajijshekh123 commented on #26723
Give me @magento give me 2.4-develop instance

[2020-02-06 08:44] magento-engcom-team commented on #26723
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 08:44] magento-engcom-team commented on #26723
Hi @ajijshekh123, here is your [Magento instance](https://i-26723-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26723-2-4-develop.instances.magento-community.engineering/admin_662e](https://i-26723-2-4-develop.instances.magento-community.engineering/admin_662e)
Login: `13d5fb0a` Password: `9e1d0074f746`
Instance will be terminated in up to 3 hours.

[2020-02-06 08:49] bruvinsky opened #26724 "Unable add category to cart price rule by clicking on checkbox"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2.22

### Steps to reproduce (*)

1. Marketing > Cart Price Rules > Add New Rule
2. Add conditions to Actions: choose "category", click on the ellipsis, see the input field, click "Open chooser", see the category tree
3. Try to add category by clicking checkbox

### Expected result (*)

1. Category ID will appear in the input

### Actual result (*)

[2020-02-06 08:54] bruvinsky commented on #26724
Looks like a bug long known
https://github.com/magento/magento2/issues/23582

[2020-02-06 08:57] engcom-Hotel commented on #26539
Hello @Zyles
"Store View Specific Labels" option renaming a name of attribute for some store view.

[2020-02-06 09:05] krishprakash commented on #26724
@magento give me 2.4-develop instance

[2020-02-06 09:05] magento-engcom-team commented on #26724
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 09:06] magento-engcom-team commented on #26724
Hi @krishprakash, here is your [Magento instance](https://i-26724-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26724-2-4-develop.instances.magento-community.engineering/admin_a8a3](https://i-26724-2-4-develop.instances.magento-community.engineering/admin_a8a3)
Login: `74108f4d` Password: `a7edde8c05e8`
Instance will be terminated in up to 3 hours.

[2020-02-06 09:12] magento-engcom-team commented on #26724
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31172` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 09:33] engcom-Hotel commented on #23569
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-02-06 09:33] #23569 closed, assigned to engcom-Hotel

[2020-02-06 09:41] blacktek commented on #26484
indeed it's very strange; it's a very severe bug leading to data corruption. At the moment we're stuck with a quite big project due to this bug

[2020-02-06 09:48] ajijshekh123 commented on #26723
Hello @webkul-dhananjay,
The discount amount is not displayed when product qty is 1.
Thanks.

[2020-02-06 09:50] magento-engcom-team commented on #26723
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31173` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 09:57] ericmorand commented on #26706
@hostep , thanks a lot for the heads-up. Good to see that the issue is known and considered. :)

[2020-02-06 10:14] Seb33300 opened #26725 "Roundung issue with catalog price rule"
### Preconditions (*)

I am currently using Magento ver. 2.3.2-p2

### Steps to reproduce (*)

1. Create a new product with price `41.67 €`
2. Apply 20% VAT on this product => final price is now `50.00 €`
3. Create a catalog price rule to apply a 20% discount on this product => discounted price displayed on the shop is `40.01 €`

### Expected result (*)

The discounted price should be `40.00 €`.

[2020-02-06 10:33] rikwillems opened #26726 "Qty decimals allowed on configurable product even when setting set to 'no'"
### Preconditions (*)

1. Magento CE 2.2.10 (actual for `2.4-develop`)

### Steps to reproduce (*)

1. Add simple product having 'Qty Uses Decimals' = 'No' (default)
2. Add configurable product having 'Qty Uses Decimals' = 'No' (default)
3. Link simple to configurable
4. Go to PDP and add '1.x' (ie 1.5) to cart

### Expected result (*)

1. Behaviour like simple products - floored qty is added to c

[2020-02-06 10:59] engcom-Hotel commented on #26295
Hello @felly , thanks for contributing!
I was able to reproduce this issue on the latest Magento 2.4-develop with your theme configuration.

[2020-02-06 11:05] magento-engcom-team commented on #26295
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31174` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 11:08] amitmaurya191 commented on #11754
I am also facing same issue on mobile view. Have you get any fix @satishmv26 ?

[2020-02-06 11:20] mrtuvn commented on #26700
After workaround this i found problem seem related with dateformat + momenjs validate

var test = moment("09/12/1911", "M/d/Y");
invalid

var test =  moment("09/12/1911", "M/D/Y"); <= Work
valid

[2020-02-06 11:24] justStanislav commented on #26698
Same problem

[2020-02-06 11:24] Seb33300 commented on #26725
I just found a workaround: if I edit the product and set the price to `41.667 €`.
After saving, magneto will display `41.67 €` but `41.667 €` was really saved and the rounding issue doesn't appear anymore on the frontoffice.

Any way to configure Magento to display prices with 3 decimals in backoffice only?

[2020-02-06 11:34] medigeek commented on #26698
happens to us too after a manual upgrade of enterprise edition. @kerlama @justStanislav are you using enterprise edition of magento2?

[2020-02-06 11:35] kerlama commented on #26698
@medigeek no, I am on open source one.

[2020-02-06 11:38] justStanislav commented on #26698
@medigeek no, community.

[2020-02-06 11:48] medigeek commented on #26698
@kerlama @justStanislav did you use manual upgrade or composer upgrade?
@fascinosum could you have a look at this please? some changes were introduced in Nvp.php ( https://github.com/magento/magento2/commit/42c26724382bcafe0ccdc84cc9fe53427891aadd ) that affect the paypal module, instead of a success page we end up with http error 500 and the error kerlama mentioned in the logs.

[2020-02-06 11:49] kerlama commented on #26698
@medigeek composer upgrade from 2.3.3.

[2020-02-06 11:51] justStanislav commented on #26698
@medigeek same way like @kerlama

[2020-02-06 11:55] magento-engcom-team commented on #26708
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31175` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 11:56] medigeek commented on #26698
Thank you both. :) @kerlama I see you have already tested this on a vanilla installation as you have originally posted. I'm not sure if you can reply to the @magento bot "yes" or tick it, don't know how this github bots work heh.
Let's wait on @fascinosum or someone else to check this out.

[2020-02-06 11:58] kerlama commented on #26698
@magento give me 2.4-develop instance

[2020-02-06 11:58] magento-engcom-team commented on #26698
Hi @kerlama. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 11:58] noeli-eshopguru commented on #26698
Hello
I upgraded Enterprise Edition 2.3.3 to 2.3.4 manually. Then I got the same error.
HTTP Error 500
Also I can see an error in Nvp.php:1524.

[2020-02-06 11:59] magento-engcom-team commented on #26698
Hi @kerlama, here is your [Magento instance](https://i-26698-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26698-2-4-develop.instances.magento-community.engineering/admin_8452](https://i-26698-2-4-develop.instances.magento-community.engineering/admin_8452)
Login: `5d6faf61` Password: `c38757c25a07`
Instance will be terminated in up to 3 hours.

[2020-02-06 11:59] kerlama commented on #26698
@magento give me 2.3.4 instance

[2020-02-06 11:59] magento-engcom-team commented on #26698
Hi @kerlama. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-06 12:00] magento-engcom-team commented on #26698
Hi @kerlama, here is your [Magento instance](https://i-26698-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26698-2-3-4.instances.magento-community.engineering/admin_352b](https://i-26698-2-3-4.instances.magento-community.engineering/admin_352b)
Login: `45be4a03` Password: `9a705053948c`
Instance will be terminated in up to 3 hours.

[2020-02-06 12:02] engcom-Hotel commented on #26689
Hello @ninarosemary
I am not able to reproduce this issue with Composer v.1.9.0

**Testing scenario:**
1.Create a new Magento 2.3.4 project

**Result:**
Composer downloaded all the packages and I installed Magento 2.3.4:
![image](https://user-images.githubusercontent.com/51681618/73935340-fc41ba80-48e8-11ea-87b1-1ce9cb00a018.png)

So i have to close this issue.

Thanks for your report!

[2020-02-06 12:02] #26689 closed, assigned to engcom-Hotel

[2020-02-06 12:03] iamsophiesk opened #26728 "When upgrading to 2.3.4 with encrypted drive, seeing "File name too long" error"
### Preconditions
Issue when upgrading from Magento 2.3.3 -> 2.3.4.
Using Ubuntu 16.04 (possibly 18.04?) with encrypted home directory, and Magento installed in home directory (eg in `~/projects/magento`)

### Steps to reproduce
Perform upgrade from Magento 2.3.3 -> 2.3.4 and run commands as outlined on https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

### Expected result
The

[2020-02-06 12:09] noeli-eshopguru commented on #26698
Hi, I replaced some codes in function _applyStreetAndRegionWorkarounds(DataObject $address) to ones of 2.3.3.
            - $regionItems = $regions->getItems();
            - $region = array_shift($regionItems);
            - $address->setRegionId($region->getId());
            - $address->setExportedKeys(array_merge($address->getExportedKeys(), ['region_id']));

            + foreach ($regions as

[2020-02-06 12:10] kerlama commented on #26698
@noeli-eshopguru  code from 2.3.3 works fine for me (_applyStreetAndRegionWorkarounds).

[2020-02-06 12:12] kerlama commented on #26698
@magento-engcom-team I was able to reproduce the issue on clean instance you gave me.

![Screenshot_15](https://user-images.githubusercontent.com/4161312/73936105-5be89780-48e2-11ea-9a34-dfd3ba453e75.png)

[2020-02-06 12:12] noeli-eshopguru commented on #26698
Hi @kerlama but why am I getting the error on the order review page?
And I have already enabled the review page skip option on the paypal settings.
Are you moving to the order success page correctly?

[2020-02-06 12:13] Tawreh commented on #26728
It looks like this has been reported on StackOverflow but with no resolution: https://magento.stackexchange.com/questions/302528/magento-2-3-4-composer-update-file-name-too-long

Maybe it's worth noting that we are using Docker/Docksal for our development, but this seems to be an issue with the host computer rather than Docksal, as my colleague was able to get it working in a directory outside of

[2020-02-06 12:14] kerlama commented on #26698
@noeli-eshopguru yes, for me its working fine, payment is charged and I am redirected to success page.

[2020-02-06 12:15] noeli-eshopguru commented on #26698
Hi @kerlama, do you have any idea with my error?

[2020-02-06 12:17] devchris79 commented on #26725
I think this is related to #26599. There is a fix and pull request in there.

[2020-02-06 12:19] kerlama commented on #26698
@noeli-eshopguru not sure, there are few places where this exception is thrown, see at which one it fails and then check if you have any custom observer which might affect on it.

[2020-02-06 12:35] ajijshekh123 commented on #26726
Give me @magento give me 2.4-develop instance

[2020-02-06 12:35] magento-engcom-team commented on #26726
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 12:35] magento-engcom-team commented on #26726
Hi @ajijshekh123, here is your [Magento instance](https://i-26726-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26726-2-4-develop.instances.magento-community.engineering/admin_d5d4](https://i-26726-2-4-develop.instances.magento-community.engineering/admin_d5d4)
Login: `54f0b3f4` Password: `1745dcecef57`
Instance will be terminated in up to 3 hours.

[2020-02-06 12:36] DlennartD commented on #25119
Just tested on Magento 2.3.3, the issue still appears.

[2020-02-06 12:41] devendra-m opened #26730 "Language Switcher gives 404 error on product page"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. We have 2 stores for fi for finnish and en for english.
2. We have set url key for en as mission-workshop-the-rummy-vx-messenger-bag and for fi as mission-workshop-the-rummy-vx-messenger-laukku
3. On product page https://www.urbankitsupply.com/fi/mission-workshop-the-rummy-messenger-laukku.html when language is changed to engl

[2020-02-06 12:47] SamJUK opened #26731 "Magento 2 not supporting BCRYPT passwords introduced in SUPEE-11219"
### Preconditions (*)

1. Magento 2.3.4
2. Magento 1.9.3.9 (Patched with SUPEE-11219_CE_1939)

### Steps to reproduce (*)

1. Create a user account on a Magento 1 store with SUPEE-11219 Applied
2. Migrate data to Magento 2 using data migration tool
3. Try to login with the user details

### Expected result (*)

1. Customer who set their password after SUPEE-11219 was applied can log into account w

[2020-02-06 12:47] DavaGordon commented on #22094
This still seems to be an issue when elasticsearch is not active on the environment especially local environments. duplicated this on 2.3.3 and 2.3.4 recommended fix would be to unset the predefined variables in the env.php and allow the default to be MySql thus giving people the option to use it also it will prevent this error going forward

[2020-02-06 12:53] brian-ebizmarts opened #26732 "Cannot restore config value from store view scope using "Use website" checkbox."
### Preconditions (*)

1. Magento >=2.2

### Steps to reproduce (*)

1. Uncheck "Use website" and set specific setting at store view level, save config.
2. Check "Use website" and save config.

### Expected result (*)

1. delete value from table core_config_data

### Actual result (*)

1. Cannot inherit values from parent scopes.

### Additional information

I found in xdebug that the function **g

[2020-02-06 12:54] ajijshekh123 commented on #26726
@rikwillems - I didn't properly get to exact issue. Can you please update me on what exactly you want?

[2020-02-06 13:05] ioweb-gr opened #26733 "included js via layout update in cms pages is broken"
### Preconditions (*)
Magento 2.3.4

### Steps to reproduce (*)
1. Create a simple CMS page
2. In your module add a js file app\code\Ioweb\Customizer\view\frontend\web\js\myfile.js

[code]

3. In a CMS page include in the layout update section the following
[code]
Open the cms page and you get an error `TypeError: require is not a function`

If you do add the same rule in layout `default.xml` for

[2020-02-06 13:16] rikwillems commented on #26726
@ajijshekh123 - If the setting 'Qty Uses Decimals' on a configurable product is set to 'no' you should not be able to add a qty with decimals to cart. You can do this now by adding 1.5 of a certain configurable to the cart.

[2020-02-06 13:21] ajijshekh123 commented on #26726
Yes, @rikwillems. The issue reproduced on Magento 2.4 Instance.

[2020-02-06 13:22] magento-engcom-team commented on #26726
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31176` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 13:37] satishmv26 commented on #11754
Hello @amitmaurya191, I just replaced the gallary.css file with core file

[2020-02-06 13:58] magento-engcom-team commented on #26553
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31177` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 14:01] sedonik commented on #26109
Hi @swnsma ,
Could you check the solution?
Thakns.

[2020-02-06 14:07] jakwinkler opened #26734 "Category image gets nulled after second save"
### Preconditions (*)

1. Magento Open Source
2. Versions: 2.2.10, 2.3.2, 2.3.3

### Steps to reproduce (*)

1. Create a category
2. Add an image to category image attribute
3. Save category
4. Images is stored
5. Save categroy again

### Expected result (*)

1. attributes gets updated or nothing is changed (it depends on changes)

### Actual result (*)

1. Category image gets removed

#### Note
T

[2020-02-06 14:08] hostep commented on #25119
@viniciusfabri: it looks like issues can be reported again on https://github.com/wikimedia/less.php, so @viniciusfabri or @DlennartD I'd advise you to report it over there. Because if we leave it here in Magento it will never be looked at.

Thanks! 🙂

[2020-02-06 14:12] hostep commented on #26734
Thanks for the report @qsolutions-pl, but this has been reported already a few times before, please use the search functionality of Github before submitting a new issue so that we can prevent having multiple tickets for the same issue, thanks!

Closing as duplicate of https://github.com/magento/magento2/issues/25099

[2020-02-06 14:12] #26734 closed, assigned to nobody

[2020-02-06 14:22] diazwatson commented on #12271
Confirmed in :

- Node: v13.8.0
- NPM: 6.13.7
- Magento 2.3.4

[2020-02-06 14:27] magento-engcom-team commented on #26613
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31181` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 14:37] DavaGordon commented on #12271
This issue is due to when you are setting the child theme you have previously set it incorrectly e.g incorrect casing of parent my issue was I had used a lower case M in the name of the parent theme so it did not link correctly to the parent theme 'Magento/blank' once I had done this and removed the theme and reinstalled it the grunt:exec command worked fine.

Issue
Parent Column: set to 0 due to

[2020-02-06 14:38] hws47a commented on #26724
Can confirm the issue on multiple projects on 2.3.4

[2020-02-06 14:43] magento-engcom-team commented on #23833
Hi @swnsma, @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [68170c1a4a7b8b849e3a19d40ffe37ae3ae06292](https://github.com/magento/magento2/commit/68170c1a4a7b8b849e3a19d40ffe37ae3ae06292)

The fix will be available with the upcoming `2.4.0` release.

[2020-02-06 14:43] #23833 closed, assigned to sdzhepa

[2020-02-06 15:12] magento-engcom-team commented on #26698
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31196` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-06 15:19] bubasuma commented on #24822
Internal Magento team is working on this issue right now.

[2020-02-06 15:42] Fidelity88 commented on #26669
I'm having the same issue. The weird thing is, the password hash seems to be changed for recent customers.

As in: old customers (can't pinpoint exactly what "old" means, could be months, could be weeks) have a password hash that **ends with** **":1"** or **":0"**. But more recent customers, so customer that either recently purchased something OR recently updated/reset their password have a hash t

[2020-02-06 16:25] mzenner1 opened #26735 "Backorders still active when switching product to manage_stock no"
Magento 2.3.4

When converting a product back to manage stock = no, the options present when stock was on still take effect.  Specifically, backorders.

1. Set a product to manage stock
2. Set stock amount to zero
3. Uncheck the "use config settings" box for backorders and set a value
4. Save the product
5. On reload turn stock off for the product

### Expected result (*)
1. Stock would no longer

[2020-02-06 17:08] drpayyne commented on #7852
Closing issue since fix has already been submitted: https://github.com/magento/magento2/commit/91a4ba542cdfb99da5501468126744d23841d26d.

CC: @krzksz

[2020-02-06 17:08] #7852 closed, assigned to nobody

[2020-02-06 17:16] TonyMerlin commented on #26377
Any news on this as yet as we've got cookies failing to load from multiple sources now on 2.3.4

[2020-02-06 18:13] 0x15f commented on #13524
Facing the same issue on 2.2.7 EE

[2020-02-06 18:29] j0um opened #26737 "Entity/Attribute/OptionManagement::getItems() performance problems."
### Preconditions (*)
1. 7.1.23
2. Magento 2.3.3

### Steps to reproduce (*)
1. Instantiate OptionManagement
2. Create a loop in which you will repeatedly load the options of a specific attribute with lots of options.

### Expected result (*)
1. During the first iteration, all options are loaded.
2. During the following iterations, the options are fetched from the option cache.

### Actual result

[2020-02-06 18:32] friendscottn commented on #26718
Yeah that must be the same issue. Thank you for pointing that out.

[2020-02-06 18:32] #26718 closed, assigned to nobody

[2020-02-06 18:58] Zyles commented on #26539
@engcom-Hotel

No this is not on an attribute, this is on ORDER STATUS.

Again, what is the point of this if it is not used?

[2020-02-06 19:24] inkobject commented on #26573
At the very least offer the option disable the packages prior to deployment, if not default to new/improved 3rd party packages being disabled altogether.

I ran into this problem and had to determine what was breaking. Nearly all of my upgrade/update pains in 2.3.* have come from bundled modules. I'm looking at you temando #25979

[2020-02-06 19:53] ghost opened #26738 "Catalog price rules are not included in CartItemPrices"
### Preconditions (*)

1. v2.3.4

### Steps to reproduce (*)

1. Create a catalog price rule (e.g. 20% off of gear)
2. Add an applicable item to cart
3. Do a graphql query
[code]

### Expected result (*)

1. Receive price values that include catalog price discount

### Actual result (*)

1. Receive price values that don't include discount

### Additional info from engcom
We have created a product

[2020-02-06 19:59] onepack commented on #26573
@inkobject Yes, Temando has been a real pain...

[2020-02-06 20:15] gauravagarwal1001 commented on #26732
@magento give me 2.4-develop instance

[2020-02-06 20:15] magento-engcom-team commented on #26732
Hi @gauravagarwal1001. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 20:15] magento-engcom-team commented on #26732
Hi @gauravagarwal1001, here is your [Magento instance](https://i-26732-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26732-2-4-develop.instances.magento-community.engineering/admin_e554](https://i-26732-2-4-develop.instances.magento-community.engineering/admin_e554)
Login: `5c1a94c8` Password: `01f7f3143cb0`
Instance will be terminated in up to 3 hours.

[2020-02-06 21:34] alepane21 opened #26739 "Configurable product disabled after being added to the cart make cart unusable"
### Preconditions (*)

1. Magento 2.2, 2.3 and 2.4

### Steps to reproduce (*)

1. add a configurable product and another simple product to cart;
2. disable the configurable product but not simple product.

### Expected result (*)

1. the product should be deleted by the cart.

### Actual result (*)

1. the cart will be set as not checkout-able, but no product will be shown.

[2020-02-06 21:36] alepane21 commented on #26739
@magento give me 2.4-develop instance

[2020-02-06 21:36] magento-engcom-team commented on #26739
Hi @alepane21. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-06 21:37] magento-engcom-team commented on #26739
Hi @alepane21, here is your [Magento instance](https://i-26739-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26739-2-4-develop.instances.magento-community.engineering/admin_34a9](https://i-26739-2-4-develop.instances.magento-community.engineering/admin_34a9)
Login: `e332d0df` Password: `30cbd5372058`
Instance will be terminated in up to 3 hours.

[2020-02-06 21:48] alepane21 commented on #26739
@magento give me 2.3 instance

[2020-02-06 21:49] noeli-eshopguru opened #26740 "Shipping address renderer is not loading customAttributes in Magento EE 2.3.4"
### Preconditions (*)

1. Magento EE 2.3.4
2. Checkout

### Steps to reproduce (*)

1. Add a product to cart as logged in customer with the default shipping & billing address.
2. Go to checkout.
3. Move to the payment step and try to select the payment methods.
4. Come back to the shipping step.
5. Move to the payment step again.

### Expected result (*)

1. You can select the payment methods with

[2020-02-06 21:53] milindsingh opened #26741 "Shipment create via API salesShipmentRepositoryV1 throw Fatal error"
### Preconditions (*)

1. Magento 2.3.1 with MSI enabled
2. Single Default Source for Inventory
3. The order created from Admin Panel

### Steps to reproduce (*)

1.  Create an order created from Admin Panel
2. Create Shipment via API:

[code]

### Expected result (*)

1. Shipment is created in Admin

### Actual result (*)

1. Fatal Error on API Response
[code]

Note: **Works after disabling the M

[2020-02-06 21:59] alepane21 commented on #26739
@magento give me 2.3.4 instance

[2020-02-06 22:00] magento-engcom-team commented on #26739
Hi @alepane21. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-06 22:00] magento-engcom-team commented on #26739
Hi @alepane21, here is your [Magento instance](https://i-26739-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26739-2-3-4.instances.magento-community.engineering/admin_9fac](https://i-26739-2-3-4.instances.magento-community.engineering/admin_9fac)
Login: `df630ed6` Password: `df369bc1d031`
Instance will be terminated in up to 3 hours.

[2020-02-06 22:04] alepane21 commented on #26739
Lol, fixed in https://github.com/magento/magento2/commit/41565f0f7b702136668189eb5a2ecfa1d6b82d69

[2020-02-06 22:04] #26739 closed, assigned to nobody

[2020-02-06 23:07] wbfiretoss commented on #4432
You have to get the store code. I had default sample data on Luma theme and my store code was "default"

[2020-02-07 03:00] shikhamis11 commented on #26730
@magento give me 2.4-develop instance

[2020-02-07 03:00] magento-engcom-team commented on #26730
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-07 03:01] magento-engcom-team commented on #26730
Hi @shikhamis11, here is your [Magento instance](https://i-26730-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26730-2-4-develop.instances.magento-community.engineering/admin_b8a3](https://i-26730-2-4-develop.instances.magento-community.engineering/admin_b8a3)
Login: `ada4bcb5` Password: `cdd34c32b3e2`
Instance will be terminated in up to 3 hours.

[2020-02-07 03:09] michaeldyl520 opened #26742 "graphql mutation setShippingMethodsOnCart get wrong data in available_shipping_methods."
### Preconditions (*)

1.magento 2.4-develop
2.php7.2
3.mariadb 10.1.37

### Steps to reproduce (*)

See my screenshot. The same shopping cart has different shipping methods through web pages and graphql.
![深度截图_选择区域_20200207110227](https://user-images.githubusercontent.com/4518013/73997524-b5f86400-4999-11ea-92fc-fc79ca1c94c8.png)

### Expected result (*)

available_shipping_methods should contai

[2020-02-07 03:21] magento-engcom-team commented on #26730
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31248` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-07 03:28] shinoamakusa commented on #26124
Got tired of waiting and just created a view in db called cataloginventory_stock_item and set it to select * from mg2e_cataloginventory_stock_itemand it works (mg2e is our table prefix)

[2020-02-07 03:57] shikhamis11 commented on #26735
hi @mzenner1
I checked this issue is not reproducible at magento 2.4-develop instance
It seems this issue is already fixed ..
let me know if you are still able to reproduce this issue at 2.3-develop instance also please share screenshots

[2020-02-07 03:57] #26735 closed, assigned to shikhamis11

[2020-02-07 03:59] shikhamis11 commented on #26716
hi @mustafa-taheri
are you still able to reproduce this issue at 2.4-develop instance ?
Please confirm

[2020-02-07 04:07] shikhamis11 commented on #26732
Hi @brian-ebizmarts
I checked this issue is not reproducible at 2.4-develop instance .. let me know if it requires any additional steps to reproduce this issue .. also please share video or screenshots if you are able to reproduce this issue .

[2020-02-07 04:31] mrtuvn commented on #26733
Add js in cms in not best practice you should avoid that
In fact in next update magento introduce new way to update layout via cms
You can take a look here
@ioweb-gr you can take a look at this
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-manage.html#create-cms-pageproductcategory-specific-layouts

[2020-02-07 04:37] monotheist commented on #24353
@HOSTED-POWER I have same setup. I am not seeing 503 errors but I am experiencing frequent invalidations. https://github.com/magento/magento2/issues/26341
TTL is set to 1 week.

[2020-02-07 05:09] ioweb-gr commented on #26733
@mrtuvn I see your point. However including a script in all pages when you only need it for a specific one is not good either. For now I have to add it in default.xml and then inside the javascript check if I'm in the correct page.

I do like the new options you pointed out and will try them out when we update the eshop.

However I still think that if the option is provided to store a layout updat

[2020-02-07 06:40] amitmaurya191 commented on #11754
Where did you find the gallery.css

[2020-02-07 06:47] satishmv26 commented on #11754
For your reference take a look at this how-to override the gallery.less file

https://magento.stackexchange.com/questions/147633/magento-2-how-to-override-gallery-css?rq=1

[2020-02-07 07:29] ihor-sviziev commented on #24731
Hi @rafaelstz @shikhamis11,
I've just looked on instance from 2.4-develop - this field was fully removed due to security reasons.
![image](https://user-images.githubusercontent.com/1873745/74009374-b4c03a80-498b-11ea-9747-11251d49d065.png)

https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-4-open-source.html?itm_source=devdocs&itm_medium=quick_search&itm_campaign=federated_se

[2020-02-07 07:33] ihor-sviziev commented on #4641
@engcom-Charlie
I see this issue was created in 2016, was confirmed on 2.1, 2.2, 2.3 and on 2.4.
I just tried to understand what's actually the issue is, how important it is - and it's quite hard for me to understand priority of it.

Could you add some screenshots? I think visually will be much easier to understand this issue.

[2020-02-07 08:31] krzksz commented on #22909
Closing as fixed via https://github.com/magento/magento2/pull/23313

[2020-02-07 08:31] #22909 closed, assigned to johnhughes1984

[2020-02-07 08:49] gsomoza commented on #26567
@Medic84 have you considered whether Plugins (Interceptors) can help you do what you want in this case? You could consider creating a Plugin for `PageRepository::save()` in this case, which would probably cover your use-case and would not require updating the core.

In M2, Plugins are generally preferable over Observers for several reasons (performance and flexibility). Events are specifically use

[2020-02-07 09:00] Medic84 commented on #26567
I need an event to understand where the model was saved from. User-side or programmatically save.

[2020-02-07 09:27] mrtuvn commented on #26733
Magento only introduce new way but i don't see how to migrate old data custom layout yet
If you have alot of category and each category have layout updates. It's will a lot of works to migrate in new 2.3.4

[2020-02-07 09:29] engcom-Charlie commented on #4641
Hi, @afavata I can't reproduce this issue by following steps:
1. Go to the default color attribute and add some colors(e.g. Red Blue Black Green)
![image](https://user-images.githubusercontent.com/51680850/74017083-3b7d1380-499c-11ea-8598-3fa6429ba237.png)
2. Change their position by drugging one by one to the desired position in the list
![image](https://user-images.githubusercontent.com/51680850

[2020-02-07 09:47] antoninobonumore opened #26745 "OrderPaymentInterface is missing setAdditionalInformation()"
### Summary
OrderPaymentInterface misses a setter for additional_information: this is an inconsistency between its schema declaration and the real properties accepted.

### Examples
If you declare an API interface that accepts as a parameter an object of the type OrderPaymentInterface, additional_information property should be accepted.
 The result is this error:
```Property "AdditionalInformation

[2020-02-07 09:56] ioweb-gr commented on #26733
For all my older websites I loaded the scripts globally unfortunately and now they handle it based on whether they found the needed element in the current page. Obviously this was not the best way so in this new website I wanted to try this option.

Still for some use cases, the end user is not necessarily allowed to use FTP to upload new files but there's a very good way in the layout updates fro

[2020-02-07 10:52] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-02-07 10:52] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-07 10:52] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_488e](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_488e)
Login: `3b091aab` Password: `98541245b9b8`
Instance will be terminated in up to 3 hours.

[2020-02-07 11:20] tranhoangthien1990 opened #26749 "Product flat table - Incorrect data"
We're current facing an issue that the product data has been inserted to an incorrect flat table.

### Preconditions (*)
1. Magento version 2.3.3 with Sample Data
2. Enable Catalog Product Flat.
3. Index mode for Catalog Product Flat: Update on save

### Steps to reproduce (*)
1. Create 2 new websites, for each website, create one store view (let say the store view id for website 1 is 2, store vie

[2020-02-07 11:37] ci2014 commented on #16453
This issue is still valid for 2.3.3

[2020-02-07 11:38] engcom-Alfa commented on #26725
Duplicate of #26599

[2020-02-07 11:38] #26725 closed, assigned to engcom-Alfa

[2020-02-07 11:44] Seb33300 commented on #26725
The other issue is related to shipping.

This issue is not related to shipping.

[2020-02-07 11:50] srsathish92 commented on #26730
@magento give me 2.4-develop instance

[2020-02-07 11:51] magento-engcom-team commented on #26730
Hi @srsathish92. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-07 11:51] magento-engcom-team commented on #26730
Hi @srsathish92, here is your [Magento instance](https://i-26730-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26730-2-4-develop.instances.magento-community.engineering/admin_b7d3](https://i-26730-2-4-develop.instances.magento-community.engineering/admin_b7d3)
Login: `4f8bc267` Password: `f5a51b349e47`
Instance will be terminated in up to 3 hours.

[2020-02-07 12:01] engcom-Delta commented on #26696
Hi @adrianalin89 , thank you for your report. I am not able to reproduce issue by steps you described on clean 2.4-develop.

**Steps to reproduce:**

- Create dropdown attribute and add it to Default Attribute set
![image](https://user-images.githubusercontent.com/51681379/74027127-3d50d200-49b0-11ea-8e7e-2db20e880192.png)

- Create simple product and set some value for dropdown attribute
[exporte

[2020-02-07 12:01] #26696 closed, assigned to engcom-Delta

[2020-02-07 12:48] brian-ebizmarts commented on #26732
Hi @shikhamis11, here is a video in Magento EE 2.3.2 instance:
[https://drive.google.com/file/d/1UUa1HlARvJ83NOH1FgLY_AlcsMZ3XCvG/view?usp=sharing](https://drive.google.com/file/d/1UUa1HlARvJ83NOH1FgLY_AlcsMZ3XCvG/view?usp=sharing)

Let me know if you need anything else.

[2020-02-07 12:56] devchris79 commented on #26725
They are the same issue, the taxation functions are the source of the issue. You have seen this in the item taxation and the other post showed the issue in shipping.

[2020-02-07 13:02] gsomoza commented on #26567
You can still use a Plugin for that:

1. The plugin would only exist in the adminhtml area (etc/adminhtml/di.xml)
2. Your logic would only execute if the request is a web request, you can even check the request type  and the module name it was routed to. To do that, you can inject `Magento\Framework\App\RequestInterface` into the plugin to make some basic checks and check if it's an instance of `M

[2020-02-07 13:08] devchris79 commented on #26675
Closing as @edenduong fix and pull request has sorted the issue.

[2020-02-07 13:44] magento-engcom-team commented on #26742
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31277` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-07 14:03] gwharton commented on #26675
After several reruns, all tests on the PR now pass.

[2020-02-07 14:07] ikslavok opened #26752 "Magento translation on crowdin uses wrong country code"
I banged my head about this for day until I figured out that locale code for Serbia sr_CS is no longer valid as it is now sr_Latn_RS. So I think someone should change filenames for new php locales.

[2020-02-07 14:33] magento-engcom-team commented on #26597
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31282` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-07 14:48] brian-ebizmarts commented on #26732
Hi @shikhamis11, this issue is reproducible with multiples sections in the System.xml:

[code]
I've to mention that only in the first section id(pos_general) the checkbox "Use website" works as expected and delete the entry in core_config_data table. In the other sections pos_payment, pos_shipping, pos_cron, pos_backup is not working.

If I replace this line:
https://github.com/magento/magento2/bl

[2020-02-07 14:53] ghost opened #26753 "Cart Event Observers have no effect when item quantity is not changed."
A customer Observer for the event "checkout_cart_update_items_after" is having seemingly no affect when I click "Update Shopping Cart" on the main cart page, unless I change the item quantity.

I have exposed some new select inputs on the cart item rows, and this data is successfully passed via POST which I can pick up in the Observer without issue.

If I click the button after having only changed

[2020-02-07 15:00] AndyJAllen commented on #18027
Still experiencing this on 2.3.3; despite the existence of this line in Total.php:
`$amount = is_float($amount) ? round($amount, 4) : $amount;`

[2020-02-07 15:13] ApacheThank commented on #25608
Change your local language to English, sign out and reconnect and try now.
It's work for me on magento 2.3.3

[2020-02-07 15:33] hostep commented on #26675
@devchris79: please don't close issues when the PR has not been merged yet (if for some reason the PR gets declined and closed, we wouldn't have an open issue anymore to track this bug).

Thanks!

[2020-02-07 16:40] sivasdescalzo commented on #2380
Still happening in Magento 2.3.3

[2020-02-07 16:44] Vigneshmuthusamy commented on #7283
The issue still persists in Magento version 2.3.4.

[2020-02-07 16:50] Vigneshmuthusamy commented on #7283
Ideally, we could remove the sorting option here. There won't be a scenario for a user to sort here. They will search if they want to which is already there.

[2020-02-07 17:01] ihor-sviziev commented on #19469
@slackerzz we have a progress! Internal team started working on this issue!
https://github.com/magento/magento2/pull/26163#issuecomment-583422293

[2020-02-07 17:02] srsathish92 commented on #7283
@magento give me 2.4-develop instance

[2020-02-07 17:03] magento-engcom-team commented on #7283
Hi @srsathish92. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-07 17:03] magento-engcom-team commented on #7283
Hi @srsathish92, here is your [Magento instance](https://i-7283-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-7283-2-4-develop.instances.magento-community.engineering/admin_4c42](https://i-7283-2-4-develop.instances.magento-community.engineering/admin_4c42)
Login: `b77b42f3` Password: `4b89a2fedd9b`
Instance will be terminated in up to 3 hours.

[2020-02-07 17:16] srsathish92 commented on #7283
@magento-engcom-team I can able to reproduce in given instance.

here is the proof:
![screen1](https://user-images.githubusercontent.com/18184256/74050164-85e1ad00-49fb-11ea-9a32-d9d1df10fb6b.png)

====================================

![screen2](https://user-images.githubusercontent.com/18184256/74050168-88dc9d80-49fb-11ea-81b0-a52a8bf209dc.png)

[2020-02-07 17:17] magento-engcom-team commented on #7283
@srsathish92 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/mag

[2020-02-07 17:30] mustafa-taheri commented on #26716
No, I have not updated my Magento on 2.4 it's still on 2.3.0. How can I fix
this issue in 2.3.0?

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
02/07/20,
10:58:40 PM

On Fri, Feb 7, 2020 at 9:29 AM Shikha Mishr

[2020-02-07 19:04] riteshvg opened #26756 "Adobe Launch extension creating Mismatch anonymous define on magento"
Hi,

We are using Adobe Launch to trigger Adobe Analytics on Magento 2 shopping pages. But due to certain extensions, we are facing a 'Mismatch anonymous define" in requirejs.min.js. This is causing Magento code to break and functionality being broken.

The format of the code that is causing the issue is described as:

`"function" == typeof define && define.amd ? define([], t) : "object" == typeof

[2020-02-07 19:07] Zyles opened #26757 "Product images in category not updating, showing placeholder/wrong image"
Sometimes the store gets stuck on the images and deleting an image does not remove the product category thumbnail version, so you can have two completely different product images in category and product page. And uploading a new product image does not generate a new one leaving the product category image version with a placeholder.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (

[2020-02-07 20:01] onevn-top commented on #13504
This issue still happens to me :( - Windows is not supported... How Badly ECOS...

[2020-02-07 20:35] Tripuls-Magento opened #26758 "cms-page-specific layouts are not applied if FullActionName differs from page_view"
### Preconditions (*)
1.  magento 2.3.4
2. create cms-specificlayout file in your module/theme for home

### Steps to reproduce (*)
1.  Add a cms_page_view_selectable_home_somechanges.xml as described in https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-manage.html
2. Edit the home page in the backend to use the specifc Layout (CMS->Pages->home>edit->design->select "somechange

[2020-02-07 20:38] antoinekociuba opened #26759 "Sorting by Websites column breaks products grid pagination"
When sorting by _Websites_ column from admin area products grid, the pagination is broken (1 record found only, only one page, even if more products available).

### Preconditions (*)
- Magento Version : CE 2.3.4 or CE 2.3.3 or CE 2.3.2
- PHP version : PHP 7.3.14-6+ubuntu16.04.1+deb.sury.org+1 or 7.2.
- MySQL version : mysql Ver 14.14 Distrib 5.7.29

### Steps to reproduce (*)
1. Go on admin area

[2020-02-07 21:05] minhluan259 opened #26760 "Validate html error when enable critical css"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Enable Critial CSS
2. Validate html https://validator.w3.org/

### Expected result (*)

1. Validate html without error

### Actual result (*)

1. Validate html error
https://prnt.sc/qz5dz9

https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/Theme/Controller/Result/AsyncCssPlugin.

[2020-02-07 21:18] antoinekociuba commented on #26759
@magento give me 2.4-develop instance

[2020-02-07 21:18] magento-engcom-team commented on #26759
Hi @antoinekociuba. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-07 21:18] magento-engcom-team commented on #26759
Hi @antoinekociuba, here is your [Magento instance](https://i-26759-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26759-2-4-develop.instances.magento-community.engineering/admin_ba50](https://i-26759-2-4-develop.instances.magento-community.engineering/admin_ba50)
Login: `56f7d0df` Password: `331f1704921a`
Instance will be terminated in up to 3 hours.

[2020-02-07 21:28] DanielRuf opened #26762 "undefined index db-ssl-verify"
### Preconditions (*)

1. current 2.4-develop
2. ddev setup

### Steps to reproduce (*)

Follow the install instructions at https://ddev.readthedocs.io/en/latest/users/cli-usage/#magento-2-quickstart and then try to change the backend frontend name using the ssh container.
[code]

### Expected result (*)

1. Result with no errors

### Actual result (*)

1.
![screen](https://user-images.githubuserc

[2020-02-07 21:33] DanielRuf commented on #26762
I'm working on it.

[2020-02-07 22:13] antoinekociuba commented on #26759
Actually, it is fixed on 2.4-develop branch. I managed to find corresponding fix, if it can help someone: https://github.com/magento/magento2/commit/3056027889eb89fb63341af79217d9ff34af17ec

[2020-02-07 22:13] #26759 closed, assigned to nobody

[2020-02-07 22:16] gcampedelli commented on #26762
Hi, I had the same problem while configuring Redis using Magento Dev Docs as a guide.
Turns out thar by declaring these values in command line I could go further.

 `bin/magento setup:config:set --page-cache=redis --page-cache-redis-server=127.0.0.1 --page-cache-redis-db=1`
is the proposed command by Magento Dev Docs
I wrote it like this
 `bin/magento setup:config:set --page-cache=redis --page-cac

[2020-02-07 22:20] DanielRuf commented on #26762
I don't think that my ddev setup uses redis. So your issue might be a different one.

[2020-02-07 22:23] gcampedelli commented on #26573
I had the same problem with Temando and something with DotMailer version blocking composer from upgrading. Had to manually edit composer to achieve upgrade. I don't use nor Temando or DotMailer.

[2020-02-07 22:48] atwixfirster opened #26766 "GraphQL. Query: categoryList. Returns wrong category image URL"
### Preconditions (*)

1. Create a new category on the back-end side
2. Upload an image for this category. Use the next image name - `Screen_Shot_2019-09-08_at_1.11.46_PM.png`

### Steps to reproduce (*)

1. Open any GraphQl tool
2. Run the next query to retrieve a category image:

[code]
### Expected result (*)

1. Category image URL is correct:

<img width="1021" alt="expected" src="https://user

[2020-02-07 22:49] gcampedelli commented on #26762
Have you tried to declare those index in setup? I had to do that as well for each command line I used. The only difference is that I made the setup using wizard. You can also try to declare in env.php like this:

[code]
Otherwise, you can declare in your config:setup (any of them) . --db . flags for each of those indexes (1007, 1008, 1009 and 1014)

[2020-02-07 22:51] DanielRuf commented on #26762
I mean a very specific feild which fails in a standard setup (ddev). I did nothing special. And not sure what these numbers are for. I have already opened a PR with a bugfix for such cases.

[2020-02-07 22:53] DanielRuf commented on #26762
I mean a very specific field which fails in a standard setup (ddev). I did nothing special. And not sure what these numbers are for. I have already opened a PR with a bugfix for such cases.

[2020-02-07 22:55] gcampedelli commented on #26762
I don't this is a bug. 1007, 1008, 1009 and 1014 each one correspond to --db-ssl-verify --db-cert-verify, the problem which your are facing while configuring setup. So, after configuring setup, db-ssl-verify turns out to be 1007 in driver options inside your env.php file.

[2020-02-07 22:56] DanielRuf commented on #26762
This seems to be already set in the generated file. Normal setup and so on worked but not the specific command which shoudl nothing have to do with the field (just change one setting).

The change in the PR prevents this error.

[2020-02-07 22:59] DanielRuf commented on #26762
Please follow the described steps. Not sure if you are part of the Magento or Adobe teams or a contributor as I see no additional information.

<img width="242" alt="Bildschirmfoto 2020-02-07 um 23 58 54" src="https://user-images.githubusercontent.com/827205/74072022-d231ea80-4a05-11ea-98c4-9aa23e050815.png">

[2020-02-07 23:09] gcampedelli commented on #26762
I'm not from Magento team, I'm just sharing with you how I solved a similar error calling config:setup. I did some research on that new feature and I didn't open an issue. I just said for you to try to declare those index while using config:setup. The same values that are declared in your env.php. I just think it is missing in Dev Docs files. So, you PR is relevant if you think so, but then it is

[2020-02-07 23:13] #10518 closed, assigned to krzksz

[2020-02-07 23:13] slavvka commented on #26612
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26614 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [c13b83fd26c3368c8536995caf918f4372e56b52](https://github.com/magento/magento2/commit/c13b83fd26c3368c8536995caf918f4372e56b52)

The fix will be available with the upcoming 2.4.0 release.

[2020-02-07 23:13] #26612 closed, assigned to lbajsarowicz

[2020-02-07 23:13] slavvka commented on #18012
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#26435 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [819c3f255224d7e2d04e90bcd47bb410a2eee23b](https://github.com/magento/magento2/commit/819c3f255224d7e2d04e90bcd47bb410a2eee23b)
 - [064ee0ef6d59ca3fb27802d74609377b4816e869](https://github.com/magento/magento2/commit/064ee0ef6d59ca3fb27802d74609377b4

[2020-02-07 23:13] #18012 closed, assigned to sergiy-v

[2020-02-07 23:13] slavvka commented on #25162
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#26455 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [690f791cc76e435d15da1c3eb5f8a4e4f63200ea](https://github.com/magento/magento2/commit/690f791cc76e435d15da1c3eb5f8a4e4f63200ea)
 - [141ca96b1ac0973ac1c46f8a225f4e69291c01fd](https://github.com/magento/magento2/commit/141ca96b1ac0973ac1c46f8a225f4e692

[2020-02-07 23:13] slavvka commented on #26065
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#26071 by @ilnytskyi in 2.4-develop branch
Related commit(s):
 - [ad5c3e4c76f0bed775e614d38b2c3b3688918a9d](https://github.com/magento/magento2/commit/ad5c3e4c76f0bed775e614d38b2c3b3688918a9d)
 - [87842d3d34e74f6102ec5f39c62fe6e23aa5761e](https://github.com/magento/magento2/commit/87842d3d34e74f6102ec5f39c62fe6e2

[2020-02-07 23:13] #26065 closed, assigned to ilnytskyi

[2020-02-07 23:13] slavvka commented on #26479
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26480 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [ab1b1de0294314503af16d5b346e5e2536542210](https://github.com/magento/magento2/commit/ab1b1de0294314503af16d5b346e5e2536542210)
 - [61bc535bc277a340fd43bf9722c331b2a08f5712](https://github.com/magento/magento2/commit/61bc535bc277a340fd43bf9722

[2020-02-07 23:13] #26479 closed, assigned to lbajsarowicz

[2020-02-07 23:13] slavvka commented on #25761
Hi @vseager. Thank you for your report.
The issue has been fixed in magento/magento2#26445 by @deepaksnair in 2.4-develop branch
Related commit(s):
 - [3bffb4cc8d16dcb5a4fa5358accd3b3bcedfcd02](https://github.com/magento/magento2/commit/3bffb4cc8d16dcb5a4fa5358accd3b3bcedfcd02)
 - [57b8f53c447a8b07f521a677678921364891b3b6](https://github.com/magento/magento2/commit/57b8f53c447a8b07f521a67767892136

[2020-02-07 23:13] #25761 closed, assigned to deepaksnair

[2020-02-07 23:13] slavvka commented on #26437
Hi @mustdobetter. Thank you for your report.
The issue has been fixed in magento/magento2#26489 by @rav-redchamps in 2.4-develop branch
Related commit(s):
 - [2312289f29c2dbc84e2ab23c745cfc3c9e30cd42](https://github.com/magento/magento2/commit/2312289f29c2dbc84e2ab23c745cfc3c9e30cd42)
 - [e9cb0431fce4ac00ae8c97b5c80f11348f832c3d](https://github.com/magento/magento2/commit/e9cb0431fce4ac00ae8c97b5c

[2020-02-07 23:13] #26437 closed, assigned to rav-redchamps

[2020-02-07 23:13] slavvka commented on #25300
Hi @rahulwebkul. Thank you for your report.
The issue has been fixed in magento/magento2#26381 by @akartavtsev in 2.4-develop branch
Related commit(s):
 - [bf580e444c1da52f09bdde5932e914800a7a4721](https://github.com/magento/magento2/commit/bf580e444c1da52f09bdde5932e914800a7a4721)
 - [68ea88dded09735b0417390ed231a9125d093cd3](https://github.com/magento/magento2/commit/68ea88dded09735b0417390ed231

[2020-02-07 23:13] #25300 closed, assigned to akartavtsev

[2020-02-07 23:13] slavvka commented on #26275
Hi @tejash-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26285 by @DanielRuf in 2.4-develop branch
Related commit(s):
 - [d9a4bca7a289ea6c024d02989a6a29db54b1e5de](https://github.com/magento/magento2/commit/d9a4bca7a289ea6c024d02989a6a29db54b1e5de)
 - [51f4964bf339e7b233e09797cd8762208b974bf2](https://github.com/magento/magento2/commit/51f4964bf339e7b233e09797cd8

[2020-02-07 23:13] slavvka commented on #10518
Hi @bondimedical3. Thank you for your report.
The issue has been fixed in magento/magento2#25385 by @krzksz in 2.4-develop branch
Related commit(s):
 - [0b278c84278cb42f03083a4115763d3ed5c7dd52](https://github.com/magento/magento2/commit/0b278c84278cb42f03083a4115763d3ed5c7dd52)
 - [d74f73c7272887c68d595fafd25d997c815758e1](https://github.com/magento/magento2/commit/d74f73c7272887c68d595fafd25d997

[2020-02-07 23:13] slavvka commented on #21717
Hi @xiaolinwuu. Thank you for your report.
The issue has been fixed in magento/magento2#25385 by @krzksz in 2.4-develop branch
Related commit(s):
 - [0b278c84278cb42f03083a4115763d3ed5c7dd52](https://github.com/magento/magento2/commit/0b278c84278cb42f03083a4115763d3ed5c7dd52)
 - [d74f73c7272887c68d595fafd25d997c815758e1](https://github.com/magento/magento2/commit/d74f73c7272887c68d595fafd25d997c81

[2020-02-07 23:13] slavvka commented on #21014
Hi @mplunkett5. Thank you for your report.
The issue has been fixed in magento/magento2#25839 by @iGerchak in 2.4-develop branch
Related commit(s):
 - [3e57f87910bdfb82ea3ed1ade93e371439b6780b](https://github.com/magento/magento2/commit/3e57f87910bdfb82ea3ed1ade93e371439b6780b)
 - [42a02d5458d49a076cfb8f89daa1a9a23b2199d0](https://github.com/magento/magento2/commit/42a02d5458d49a076cfb8f89daa1a9a2

[2020-02-07 23:13] #21014 closed, assigned to iGerchak

[2020-02-07 23:14] #26513 closed, assigned to vikalps4

[2020-02-07 23:14] lbajsarowicz commented on #26612
Thanks @slavvka for closing that :-)

[2020-02-07 23:16] DanielRuf commented on #26762
Your issue is a different one as my config:setup worked (part of the magento 2 setup with ddev). Just the config:set command caused this error in my case ;-)

[2020-02-08 00:00] alex-vk commented on #26465
@nik4152 , your solution helped, thanks a lot.
Next the installation process may generate additional errors. In my case it was something like "You do not have the SUPER privilege and binary logging is enabled", so, the best solution is to downgrade mysql version.

[2020-02-08 02:06] krishprakash commented on #26757
Hi @Zyles.
Issue is duplicate to #25099
Issue is fixed in next 2.3.4 release
You can review the feedback from above given issue link.
Thanks.

[2020-02-08 03:41] moloughlin commented on #26597
@engcom-Bravo - Sorry I should have been clear in my previous comment, I've already submitted a PR to fix this issue as well (I just raised the issue so I could document the problem + steps to reproduce). So "Ready for Work" might not be the right status.

Fix: https://github.com/magento/magento2/pull/26598

I will look into the failing tests ASAP.

[2020-02-08 16:50] shikhamis11 commented on #24731
@magento give me 2.3-develop instance

[2020-02-08 16:51] magento-engcom-team commented on #24731
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-08 17:04] shikhamis11 commented on #24731
Hi @ihor-sviziev
thanks for update .. yes based on recent changes of magento 2.3.4 it seems this is no longer an issue .

[2020-02-08 17:05] #24731 closed, assigned to nobody

[2020-02-08 17:14] magento-engcom-team commented on #26766
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31300` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-08 17:34] slavvka commented on #25962
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#25966 by @hitesh-wagento in 2.4-develop branch
Related commit(s):
 - [e9b92e5bfe75159a68c8db2d2cca72567c7408a2](https://github.com/magento/magento2/commit/e9b92e5bfe75159a68c8db2d2cca72567c7408a2)
 - [6d7f34ee9d1cb4de6347ef041acab7f875c74aea](https://github.com/magento/magento2/commit/6d7f34ee9d1cb4de6347ef

[2020-02-08 17:34] #25962 closed, assigned to hitesh-wagento

[2020-02-08 17:34] slavvka commented on #17125
Hi @kshaa. Thank you for your report.
The issue has been fixed in magento/magento2#25764 by @krzksz in 2.4-develop branch
Related commit(s):
 - [976302de9187d12d9ed0b54e06de3ca8a6f37b24](https://github.com/magento/magento2/commit/976302de9187d12d9ed0b54e06de3ca8a6f37b24)
 - [5be754b7d3de102cb9ec6ef2f43dbdbcb797540a](https://github.com/magento/magento2/commit/5be754b7d3de102cb9ec6ef2f43dbdbcb797540

[2020-02-08 17:34] #17125 closed, assigned to krzksz

[2020-02-08 17:34] slavvka commented on #9466
Hi @qbixx. Thank you for your report.
The issue has been fixed in magento/magento2#25875 by @JeroenVanLeusden in 2.4-develop branch
Related commit(s):
 - [8e2959de1740f78ba9a57aa0e21e23ecca79dcc6](https://github.com/magento/magento2/commit/8e2959de1740f78ba9a57aa0e21e23ecca79dcc6)
 - [a027e87a3d0393bc0639033e2e0ecf14d51f44a9](https://github.com/magento/magento2/commit/a027e87a3d0393bc0639033e2e0ec

[2020-02-08 17:34] #9466 closed, assigned to Jeroenll

[2020-02-08 18:07] ajithkumar-maragathavel opened #26773 "StorefrontFreeShippingDisplayWithInclTaxOptionTest MFTF Test failed in CLI."
### Preconditions (*)

1. Setup Magento 2.3.4 develop branch in a local environment.
2. Configure the MFTF test environment.

### Steps to reproduce (*)

After configuring the MFTF test environment.
1. Run the below command:
vendor/bin/mftf run:test StorefrontFreeShippingDisplayWithInclTaxOptionTest --remove
2. The test result is getting failed. below is the reference screenshot.

![mftf-issue](ht

[2020-02-08 18:29] jackrevate opened #26774 "Magento 2.3.4 - infinite loop on checkout buttons"
### Preconditions (*)

1. 2.3.4
2. checkout

### Steps to reproduce (*)

1. click Continue to Paypal
2. click Place Order

### Expected result (*)

1. Checkout successfully.

### Actual result (*)

1. Error Message: "INTERNAL ERROR. DETAILS ARE AVAILABLE IN MAGENTO LOG FILE. REPORT ID: WEBAPI-5E3EFDD394AD"
2. [2020-02-08 13:11:36] main.CRITICAL: Report ID: webapi-5e3eb38834d5a; Message: Infinite l

[2020-02-08 18:30] jackrevate commented on #26774
@magento give me 2.4-develop instance

[2020-02-08 18:30] magento-engcom-team commented on #26774
Hi @jackrevate. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-08 18:31] magento-engcom-team commented on #26774
Hi @jackrevate, here is your [Magento instance](https://i-26774-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26774-2-4-develop.instances.magento-community.engineering/admin_aa12](https://i-26774-2-4-develop.instances.magento-community.engineering/admin_aa12)
Login: `9a17d919` Password: `112d090a93fa`
Instance will be terminated in up to 3 hours.

[2020-02-08 18:41] fascinosum commented on #26698
@kerlama, @medigeek, thank you
@odubovyk, you may have more information as the author of these changes. Could you have a look at this issue?

[2020-02-08 19:02] Zyles commented on #26757
It is not a duplicate.

This is for PRODUCT IMAGES in a category.

Not the category image itself.

[2020-02-08 19:30] Zyles commented on #26757
Re-open please.

[2020-02-08 19:56] slavvka commented on #26610
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#26611 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [b29cdcd238ded56050308d54aa22df3bc7672a43](https://github.com/magento/magento2/commit/b29cdcd238ded56050308d54aa22df3bc7672a43)

The fix will be available with the upcoming 2.4.0 release.

[2020-02-08 19:56] #26610 closed, assigned to lbajsarowicz

[2020-02-08 19:56] slavvka commented on #26240
Hi @sergiy-v. Thank you for your report.
The issue has been fixed in magento/magento2#26241 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [2d2f1e05625ee4eb83dbabb78f09c667b863e554](https://github.com/magento/magento2/commit/2d2f1e05625ee4eb83dbabb78f09c667b863e554)
 - [2f04078af6761a8a54b9f7b007b6d611b44529f9](https://github.com/magento/magento2/commit/2f04078af6761a8a54b9f7b007b6d611b4

[2020-02-08 19:56] #26240 closed, assigned to sergiy-v

[2020-02-08 21:14] Zyles opened #26777 "Wrong credit memo total sum when order is split into multiple invoices"
When you create a credit memo the wrong total sum is incorrect if the order has 2 or more invoices.

It is adding some random sum upon the already included tax price. The Grand Total is incorrect. And so is the tax.

### Preconditions (*)

1. Magento 2.3.3
2. Taxes included in price in all settings

### Steps to reproduce (*)

1. Create order with at least 2 products
1. Capture the order for 1 pro

[2020-02-08 22:43] VVNPradeep commented on #26774
Hi There,

You can reproduce the issue with COD Payment method as well. Its been effected on all the payment method.

[2020-02-09 00:20] slavvka commented on #17847
Hi @sskulkarni. Thank you for your report.
The issue has been fixed in magento/magento2#26569 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [e3c203ad5fb0693c55cd3abc383ef6baa43e8b10](https://github.com/magento/magento2/commit/e3c203ad5fb0693c55cd3abc383ef6baa43e8b10)
 - [4e94687ae0c753d9d8d936b9917a8bd65aad001a](https://github.com/magento/magento2/commit/4e94687ae0c753d9d8d936b9917a8bd6

[2020-02-09 00:20] #17847 closed, assigned to Usik2203

[2020-02-09 00:20] slavvka commented on #26332
Hi @bernd-reindl. Thank you for your report.
The issue has been fixed in magento/magento2#26399 by @karyna-tsymbal-atwix in 2.4-develop branch
Related commit(s):
 - [364b51a08021abd491e89f9ec838e78476420ab0](https://github.com/magento/magento2/commit/364b51a08021abd491e89f9ec838e78476420ab0)

The fix will be available with the upcoming 2.4.0 release.

[2020-02-09 00:20] #26332 closed, assigned to karyna-t

[2020-02-09 00:20] slavvka commented on #25591
Hi @m1k3lm. Thank you for your report.
The issue has been fixed in magento/magento2#26007 by @KaushikChavda in 2.4-develop branch
Related commit(s):
 - [b3e6049c96a607087ec1c9de14e0cc79b280ac71](https://github.com/magento/magento2/commit/b3e6049c96a607087ec1c9de14e0cc79b280ac71)
 - [29d6a0f1e77fd6861872aa70f5d016c7cac8f72d](https://github.com/magento/magento2/commit/29d6a0f1e77fd6861872aa70f5d016c

[2020-02-09 00:20] #25591 closed, assigned to KaushikChavda

[2020-02-09 00:21] slavvka commented on #13865
Hi @krzksz. Thank you for your report.
The issue has been fixed in magento/magento2#25324 by @raulvOnestic91 in 2.4-develop branch
Related commit(s):
 - [b6bd937a8276924191c8bf753889941636cecd2d](https://github.com/magento/magento2/commit/b6bd937a8276924191c8bf753889941636cecd2d)
 - [7e527d8706a4590075219fb10080e009d8da3422](https://github.com/magento/magento2/commit/7e527d8706a4590075219fb10080e0

[2020-02-09 00:21] #13865 closed, assigned to raulvOnestic91

[2020-02-09 00:21] slavvka commented on #21555
Hi @oskar1233. Thank you for your report.
The issue has been fixed in magento/magento2#26533 by @joni-jones in 2.4-develop branch
Related commit(s):
 - [fd3f2a22b8e5b2cffaf17daccc29f461c26c5f51](https://github.com/magento/magento2/commit/fd3f2a22b8e5b2cffaf17daccc29f461c26c5f51)
 - [136d5592244d05509ad0b3b9117505d8f833ddfa](https://github.com/magento/magento2/commit/136d5592244d05509ad0b3b9117505d

[2020-02-09 00:21] slavvka commented on #26532
Hi @joni-jones. Thank you for your report.
The issue has been fixed in magento/magento2#26533 by @joni-jones in 2.4-develop branch
Related commit(s):
 - [fd3f2a22b8e5b2cffaf17daccc29f461c26c5f51](https://github.com/magento/magento2/commit/fd3f2a22b8e5b2cffaf17daccc29f461c26c5f51)
 - [136d5592244d05509ad0b3b9117505d8f833ddfa](https://github.com/magento/magento2/commit/136d5592244d05509ad0b3b9117505

[2020-02-09 00:21] #26532 closed, assigned to YevSent

[2020-02-09 07:45] anil90 commented on #26507
hi @devchris79 we are also facing same issue with Magento 2.3.2 Could you please let us know your changes. Thank you

[2020-02-09 10:19] ioweb-gr opened #26783 "confusing and inconsistent behaviour for \Magento\Eav\Model\Entity\Attribute\OptionManagement::add"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Try to create an attribute option programmatically.

[code]

#### Case 1

[code]
In this case it returns

- $optionId: `id_new_option`
- $optionId2: `null`
![image](https://user-images.githubusercontent.com/20220341/74100253-723a6180-4b35-11ea-8384-f716fdf773b8.png)

#### Case 2

[code]
In this case it returns

- $optionId: `id_

[2020-02-09 10:19] ioweb-gr commented on #26783
Unfortunately I cannot reproduce on the demo instance because it requires FTP access

[2020-02-09 11:40] AnnoyingTechnology commented on #17112
Another person had an extremely similar issue here https://github.com/magento/magento2/issues/25685 and found a way to fix it

[2020-02-09 12:03] slavvka commented on #26375
Hi @chris-pook. Thank you for your report.
The issue has been fixed in magento/magento2#26378 by @chris-pook in 2.4-develop branch
Related commit(s):
 - [4ea41d058503bb8d9671224c87fc0d022f2873f3](https://github.com/magento/magento2/commit/4ea41d058503bb8d9671224c87fc0d022f2873f3)
 - [ee3f8e345a34b463bd8a9f305166157cf68ed323](https://github.com/magento/magento2/commit/ee3f8e345a34b463bd8a9f30516615

[2020-02-09 12:03] #26375 closed, assigned to chris-pook

[2020-02-09 12:03] slavvka commented on #25032
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#25641 by @ptylek in 2.4-develop branch
Related commit(s):
 - [a5a2cbcf7fe26964971667747aa09e8a58c9cb8e](https://github.com/magento/magento2/commit/a5a2cbcf7fe26964971667747aa09e8a58c9cb8e)
 - [5415e99c0525dc3a505ef035a11e283bb446b026](https://github.com/magento/magento2/commit/5415e99c0525dc3a505ef035a11e283bb44

[2020-02-09 12:03] #25032 closed, assigned to ptylek

[2020-02-09 13:06] hostep commented on #26393
I'm closing this as a duplicate of https://github.com/magento/magento2/issues/11615
Fix is being worked on in https://github.com/magento/magento2/pull/26784

Thanks for the report!

[2020-02-09 13:06] #26393 closed, assigned to hostep, GovindaSharma, vimal-ranosys

[2020-02-09 16:49] slavvka commented on #25195
Hi @keyurshah070. Thank you for your report.
The issue has been fixed in magento/magento2#26162 by @ravi-chandra3197 in 2.4-develop branch
Related commit(s):
 - [ffab78e0cb1c2a73ffbded3cda0c75cd0ff9542d](https://github.com/magento/magento2/commit/ffab78e0cb1c2a73ffbded3cda0c75cd0ff9542d)
 - [ee152fcab0a5913d21d79ed4ced54a65c96f76bc](https://github.com/magento/magento2/commit/ee152fcab0a5913d21d79e

[2020-02-09 16:49] #25195 closed, assigned to ravi-chandra3197

[2020-02-09 16:49] slavvka commented on #8691
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#26420 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [8ce08227b0cc10f16c3d59a25c432a615cb1864b](https://github.com/magento/magento2/commit/8ce08227b0cc10f16c3d59a25c432a615cb1864b)
 - [51ddad31d70e27df288c37fd566e628eadacf45f](https://github.com/magento/magento2/commit/51ddad31d70e27df288c37fd566e628ea

[2020-02-09 16:49] #8691 closed, assigned to sergiy-v

[2020-02-09 17:18] shikhamis11 commented on #26783
Hi @ioweb-gr , can you share a extension with your code here ?

[2020-02-09 17:43] shikhamis11 commented on #26774
Hi @jackrevate
I am not able to reproduce this issue on magento 2.4 instance. also @VVNPradeep Please share the steps to reproduce this issue with Cash On Delivery

[2020-02-09 17:45] shikhamis11 commented on #26738
@magento give me 2.4-develop instance

[2020-02-09 17:45] magento-engcom-team commented on #26738
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-09 17:45] magento-engcom-team commented on #26738
Hi @shikhamis11, here is your [Magento instance](https://i-26738-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26738-2-4-develop.instances.magento-community.engineering/admin_dd0e](https://i-26738-2-4-develop.instances.magento-community.engineering/admin_dd0e)
Login: `00734d83` Password: `64d8dddad96c`
Instance will be terminated in up to 3 hours.

[2020-02-09 20:18] slavvka commented on #26622
Hi @aligent-lturner. Thank you for your report.
The issue has been fixed in magento/magento2#26623 by @aligent-lturner in 2.4-develop branch
Related commit(s):
 - [e943bda91d0b03a0fc67fb78b82254986796396c](https://github.com/magento/magento2/commit/e943bda91d0b03a0fc67fb78b82254986796396c)
 - [199afbff8651b267ba52a3536784e22cc37979f6](https://github.com/magento/magento2/commit/199afbff8651b267ba52

[2020-02-09 20:18] #26622 closed, assigned to shikhamis11, aligent-lturner

[2020-02-09 20:18] slavvka commented on #25268
Hi @qsolutions-pl. Thank you for your report.
The issue has been fixed in magento/magento2#26423 by @sertlab in 2.4-develop branch
Related commit(s):
 - [92816ab04db61666741ae9ab0986175068c46bee](https://github.com/magento/magento2/commit/92816ab04db61666741ae9ab0986175068c46bee)
 - [427a4ad298210ed5287044cd49c51391daa0af65](https://github.com/magento/magento2/commit/427a4ad298210ed5287044cd49c513

[2020-02-09 20:18] #25268 closed, assigned to sertlab

[2020-02-09 20:18] slavvka commented on #26338
Hi @tejash-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26339 by @tejash-wagento in 2.4-develop branch
Related commit(s):
 - [065353971c4dd2e835723d2702f391000cddb219](https://github.com/magento/magento2/commit/065353971c4dd2e835723d2702f391000cddb219)
 - [399fe8eb8f463bf85702e10e0c81c8cfe99a2abf](https://github.com/magento/magento2/commit/399fe8eb8f463bf85702e1

[2020-02-09 20:18] slavvka commented on #26543
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26546 by @hitesh-wagento in 2.4-develop branch
Related commit(s):
 - [55e2e64e98583cab40b79f97e9c515c439efbe28](https://github.com/magento/magento2/commit/55e2e64e98583cab40b79f97e9c515c439efbe28)
 - [6fbdbbed12051bc306174e1f4f828c3e00ac2e05](https://github.com/magento/magento2/commit/6fbdbbed12051bc306174e

[2020-02-09 20:18] #26543 closed, assigned to hitesh-wagento

[2020-02-09 21:25] GuiltyNL commented on #26692
When you enable the profiler, you can see where the processing time goes to:

bin/magento dev:profiler:enable

[2020-02-09 21:27] GuiltyNL commented on #26730
This is a duplicate. Ther is a commit for that works:

https://github.com/magento/magento2/commit/f19c780fb7e31db89bfd9965e177d52ad03dacd7

I can confirm the above commit works.

[2020-02-09 23:39] Zyles opened #26785 "Order status labels serve no purpose"
The store view labels for order statuses serve no purpose.

According to https://github.com/magento/magento2/issues/26539 you need to translate order statuses using a language file.

So might as well remove the GUI fields if they are useless.

### Preconditions (*)

Magento 2.3.3

### Steps to reproduce (*)

1. Create a second store view
1. Create new order status
1. Translate order statuses using

[2020-02-09 23:48] adarshkhatri commented on #26670
@magento give me 2.3.3 instance

[2020-02-09 23:48] magento-engcom-team commented on #26670
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-09 23:50] magento-engcom-team commented on #26670
Hi @adarshkhatri, here is your [Magento instance](https://i-26670-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26670-2-3-3.instances.magento-community.engineering/admin_eb68](https://i-26670-2-3-3.instances.magento-community.engineering/admin_eb68)
Login: `1c578f91` Password: `15039cbaba2c`
Instance will be terminated in up to 3 hours.

[2020-02-10 00:57] jackrevate commented on #26774
False flag.

Stripe was the issue, a third party extension.

Hope this helps others, sorry for not testing properly.

[2020-02-10 00:57] #26774 closed, assigned to shikhamis11

[2020-02-10 03:58] devendra-m commented on #26730
@GuiltyNL that commit says to prevent changing the target URL. We have different product url keys for finnish and english stores. So when switching from english to finnish store, product url should change. Which is not working.

[2020-02-10 05:24] pascal-boisselier commented on #26283
@rammohan-krish any idea ?
Did you find something to help us ?

[2020-02-10 05:27] ioweb-gr commented on #26783
OK I'll try and create one on github as soon as possible.

[2020-02-10 06:26] GuiltyNL commented on #26730
I know, we have the same. This fix works. Try it.

[2020-02-10 06:37] devendra-m commented on #26730
@GuiltyNL I have tried that fix but it doesn't work

[2020-02-10 06:44] GuiltyNL commented on #26730
Strange, here it works. Try it:

https://www.neptunestore.eu/nld/neptune-systems-1000-ph-kalibratievloeistof.html

[2020-02-10 06:45] nazimwibsoft opened #26786 "Magento 2.3.4 Checkout Infinite loop detected"
### Preconditions (*)

1. Add product to cart and go to checkout page
2. Select any payment method and try to checkout

### Steps to reproduce (*)

1. Add product to cart and go to checkout page
2. Select any payment method and try to checkout
3. Web Browser console will show 500 Internal Server Error

### Expected result (*)

1. Order placed successful

### Actual result (*)

1. Error received: m

[2020-02-10 07:16] devendra-m commented on #26730
@GuiltyNL which magento version are you using ? we are using magento 2.3.1

[2020-02-10 07:53] GuiltyNL commented on #26730
We are using 2.3.3. Without the fix we had your issue. It did change the storeview code, but it did not change the URL. But this problem only occured while being logged in. As a guest visitor the store switcher did work.

[2020-02-10 07:59] ninarosemary commented on #26689
Hello @engcom-Hotel ,

As mentioned in the preconditions, a composer version is required **above** 1.9.0. Anything below this version does work with the packages.json.

Could you please try to reproduce this issue again?

[2020-02-10 08:29] subineseller opened #26787 "Shopping Cart issue when creating customer through backend magento 2"
### Preconditions (*)

1. Magento Version 2.3.3

### Steps to reproduce (*)

1. Create a Customer Account via Magento 2 Admin
2. Navigate to that customer's shopping cart from backend.
3. It will load all the data's of the quote_items table.

### Expected result (*)

1. Expected to be blank when creating new customer

### Actual result (*)

1. New customer created from backend -> https://prnt.sc/r

[2020-02-10 08:30] devendra-m commented on #26730
I added this line
 <item name="hashGenerator" xsi:type="object" sortOrder="1000">Magento\Store\Model\StoreSwitcher\HashGenerator</item>

which was missing in di.xml and also created HashGenerator.php which was also missing. But still not woriking https://www.urbankitsupply.com/en/mission-workshop-the-rummy-messenger-bag.html  Could this be version issue ?

[2020-02-10 08:31] subineseller commented on #26787
@magento give me 2.3.3-develop instance

[2020-02-10 08:31] magento-engcom-team commented on #26787
Hi @subineseller. Thank you for your request. I'm working on Magento 2.3.3-develop instance for you

[2020-02-10 08:35] krishprakash commented on #26786
@magento give me 2.4-develop instance

[2020-02-10 08:35] magento-engcom-team commented on #26786
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-10 08:36] magento-engcom-team commented on #26786
Hi @krishprakash, here is your [Magento instance](https://i-26786-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26786-2-4-develop.instances.magento-community.engineering/admin_bb50](https://i-26786-2-4-develop.instances.magento-community.engineering/admin_bb50)
Login: `57631fc1` Password: `234686a4fc9c`
Instance will be terminated in up to 3 hours.

[2020-02-10 08:38] GuiltyNL commented on #26730
Hmm, it those were missing, it could be a version issue. In my installation it already existed, I only had to change the existing files.

[2020-02-10 08:53] krishprakash commented on #26786
Hi @nazimwibsoft.
Not able to reproduce the issue as provided steps by you. Please review below link for reference:
https://nimb.ws/JYGxjv
Please provide more detail to reproduce this issue
Thanks.

[2020-02-10 09:02] krishprakash commented on #26787
Hi @subineseller. Not able to reproduce the issue as provided steps by you.
Click [this link](https://nimb.ws/7AMQ6K) for reference
Please provide more detail to reproduce this issue
Thanks.

[2020-02-10 09:09] subineseller commented on #26787
Hi Can you check this on 2.3.3.
if the already created customers have the shopping cart items.
then the newly created customer shopping cart will load that data from quote_item table.
 i have checked the 2 installation with version 2.3.3 both have the same issue.
if you want i can take a screencast for you.

[2020-02-10 09:24] krishprakash commented on #26787
@magento give me 2.4-develop instance

[2020-02-10 09:24] magento-engcom-team commented on #26787
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-10 09:25] magento-engcom-team commented on #26787
Hi @krishprakash, here is your [Magento instance](https://i-26787-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26787-2-4-develop.instances.magento-community.engineering/admin_65a4](https://i-26787-2-4-develop.instances.magento-community.engineering/admin_65a4)
Login: `b7c8cbee` Password: `b34965ad2e5c`
Instance will be terminated in up to 3 hours.

[2020-02-10 09:33] subineseller commented on #26787
@magento give me 2.3.3-develop instance

[2020-02-10 09:33] magento-engcom-team commented on #26787
Hi @subineseller. Thank you for your request. I'm working on Magento 2.3.3-develop instance for you

[2020-02-10 09:40] krishprakash commented on #26787
Issue is already fixed in latest magento 2.3.4
Related issue: #26437
Review the fixes at related PR: 26489
So closing this ticket
Thank you for your report !

[2020-02-10 09:40] #26787 closed, assigned to krishprakash

[2020-02-10 09:41] subineseller commented on #26787
Ok.. Thanks for the update. i will update the version to 2.3.4

[2020-02-10 09:51] sathyaraj819 opened #26788 "Design configuration"
favicon adding issue

Content->Configuration under Design-> show no record found

[2020-02-10 09:52] #26788 closed, assigned to nobody

[2020-02-10 09:59] engcom-Bravo commented on #26740
Hello @noeli-eshopguru

Thank you for your report

We are not able to reproduce this on 2.4-develop instance with a custom **Product attribute**, and  with an added **Customer attribute**
![customer_attribute](https://user-images.githubusercontent.com/51680745/74139480-1d155300-4bfc-11ea-81c7-410df64e066f.png)

Tried with several payment methods
![payment_method](https://user-images.githubusercont

[2020-02-10 10:15] devchris79 commented on #26507
Hi @anil90 we are still seeing the issues. I think the timing is a red herring.

[2020-02-10 10:19] simonrl opened #26789 "`sales_order_state_change_before` Event should give access to order object"
### Summary
When placing an observer on `sales_order_state_change_before`, it's not possible to get any data from the actual order object.

### Examples
see `\Magento\Sales\Model\Service\OrderService->setState()`:

Current code is:
`$this->eventManager->dispatch(
            'sales_order_state_change_before',
            ['order' => $this, 'transport' => $transport]
        );`

Because `$this` is

[2020-02-10 11:03] kurtdeserter commented on #26692
I can confirm performance issues with 2.3.4 and cache enabled.

[2020-02-10 11:19] krishprakash commented on #26786
Hi @nazimwibsoft. It should be 3rd party module issue.
Please review the issue #26774
Please provide the video if this is default issue and please confirm on provided automated instance.

[2020-02-10 11:19] #26786 closed, assigned to krishprakash

[2020-02-10 11:29] blacktek opened #26792 "category list API return some null values"
Hello,
 when doing GET to /V1/categories?rootCategoryId=1 I've null fields in **is_active** (but the structure is correct)

[code]

This problems happens only with search filter "rootCategoryId=1" that I use to get ALL the category trees. If I use "CategoryId=2" it works, But I need a way to get all category trees across all websites with one call.

### Preconditions (*)
magento 2.3.2 and magento

[2020-02-10 11:32] nazimwibsoft commented on #26786
@krishprakash Thanks for the update and prompt response on this, we have Paypal, and Stripe Payment methods installed on the site which were working fine with 2.3.3 , and after upgrade to 2.3.4 it started this issue of infinite loop message

[2020-02-10 11:41] davids123 commented on #25650
I also have the same issue. The order is not showing decimal qty.

[2020-02-10 11:47] azambon commented on #25659
When I made the PR to fix this issue I targeted Magento 2.3 since at the time 2.4 had not been announced yet.
When 2.4 was announced I was confident that the PR would be backported to 2.3 as well. However version 2.3.4 has been released and the fix is not in there (see: https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Sales/Model/Order/Payment/State/RegisterCaptureNotificationComman

[2020-02-10 12:09] magento-engcom-team commented on #7283
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31309` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-10 12:10] noeli-eshopguru commented on #26740
Hi @engcom-Bravo

- The issue occurred on Magento EE 2.3.4.
- It's not for the product custom attribute. It's for the customer custom attributes from module-customer-custom-attributes. I have already showed the cases on the top. Please read again.

Thanks.

[2020-02-10 12:18] ioweb-gr commented on #26783
One quick question, I see that the whole AttributeOption code is pretty much not using the standard Magento 2 way. There's no interface, no repository to handle saving and not anything.
It seems in Magento 2's way they're only accessible via the attributes and they're not really editable. You can only delete or add new ones.

Is it work in progress?

Regarding the many issues I'm currently seeing

[2020-02-10 12:28] ihor-sviziev commented on #25679
@buskamuza I saw your commits in 2.3.4 that probably wanted to improve backward compatibility.
Could you add some info?

[2020-02-10 13:04] engcom-Bravo commented on #26792
Hello @blacktek

We have rechecked this in Magento 2.4-develop

We used swagger and the following query ```/rest/all/V1/categories```
The Response body is
![cat_response_body](https://user-images.githubusercontent.com/51680745/74151812-a2f1c800-4c15-11ea-9cd8-71bf4696e492.png)

[code]
As you can see there are values for **name** and **product_count**

However, the **is_active** still returns _null

[2020-02-10 13:07] ioweb-gr commented on #26783
There it is

https://github.com/ioweb-gr/magento2_issue26783

[2020-02-10 13:32] kernstmediarox commented on #25650
The mentioned rewrite worked for me in 2.3.3.
I have overwritten the template in the sales module, so that magento does not cast all to int but float
/vendor/magento/module-sales/view/adminhtml/templates/items/column/qty.phtml Line 11, 17, 24 ,31, 38

[2020-02-10 13:43] davids123 commented on #25650
This has fixed for an ordered item but after generating invoice it shows 1
for Invoice qty and price also calculate based on 1 int qty.

<goog_1950612232>
https://prnt.sc/r07dt9

On Mon, 10 Feb 2020 at 19:02, kernstmediarox <notifications@github.com>
wrote:

--
David Singh

Client Success Manager

Mitash Digital | eCommerce Growth Experts
+61 3 9040 2318 <+61+3+9040+2318>
davids@mitash.com
www.mit

[2020-02-10 13:54] davids123 commented on #25650
Refer this screenshot also
https://prnt.sc/r07krt

[2020-02-10 13:55] blacktek commented on #26792
Hello,
  good that an issue still exists on 2.4-develop too.

Unfortunately I'm unable to install a Magento 2.4-develop; this is something usually done by our sysadmins that have not enough time now.

Is this mandatory to proceed? it seems that some issue exist. Thank you

[2020-02-10 14:03] vahir2016 opened #26794 "Archive order not working with Async grid order"
Hello,

I enable "Archiving" of orders, invoices, shipments and credit memos. It seems to work because items from "sales_order_grid" are moved to "magento_sales_order_grid_archive".

But I have also "dev/grid/async_indexing" enabled (also on production and I don't know if it's really required) which leads to a problem because "async_indexing" rebuild sales_order_grid with orders already archived.

[2020-02-10 14:07] alex9434 opened #26795 "Magento very slow after upgrade to 2.3.4 community"
### Preconditions (*)

1. Magento 2.3.4 community (upgrade from 2.3.3
2. PHP 7.3, nginx, varnish, redis on Devuan Ascii

### Steps to reproduce (*)

1. Upgrade magento from 2.3.3 according to https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html
2. Website extremely slow (google lighthouse times out). CLI also very slow, e.g. magento cache:clean takes 5 min

### Expected result (*)

[2020-02-10 14:25] engcom-Bravo commented on #26792
Thank you for your quick response,

We will update the description and confirm the issue

[2020-02-10 14:31] magento-engcom-team commented on #26792
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31314` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-10 14:43] bahramdavodi commented on #26795
@alex9434, you can check with blackfire or some tool. maybe you installed some extension or ...
also check your magento cache status.

[2020-02-10 15:03] AndyJAllen commented on #9602
I receive this issue on 2.3.3 when clicking check data. Can't import products.

Nothing pertinent in exception or system log files. Network monitor shows 500 Internal Server Error on /admin/import/validate/key/***/?form_key=***

[2020-02-10 15:04] kernstmediarox commented on #25650
@davids123 i cast all values to float not only the ordered items

[2020-02-10 15:39] engcom-Bravo commented on #26728
Hello @Tawreh

Thank you for your report.

This is a valid issue, but not for this repository.
The mentioned test file is a part of the Magento Inventory. Please open an issue in this repository https://github.com/magento/inventory/issues

We have to close this issue.

Thank you for collaboration

[2020-02-10 15:39] #26728 closed, assigned to engcom-Bravo

[2020-02-10 15:50] hostep opened #26796 "Running 'bin/magento catalog:images:resize' doesn't check if an image was already resized before, therefore it is superslow as it always resizes all images"
I'm pretty sure in Magento 2.1 (and maybe 2.2) when you ran `bin/magento catalog:images:resize`, it only resized images which weren't already resized before.

This no longer seems to be the case in Magento 2.3.
I think this behavior got introduced by https://github.com/magento/magento2/commit/498879059b400f8785ee63ba371798ffec33ae53 (not verified yet)

### Preconditions (*)
1. Magento 2.3.3
2. PHP

[2020-02-10 15:53] hostep commented on #8145
It looks like the issues brought up in here have been resolved more or less in Magento 2.3.x, so that's good, but I found another huge problem, for which I've created https://github.com/magento/magento2/issues/26796

[2020-02-10 16:36] Quazz commented on #26795
There was a bug (that should be fixed in 2.3.4) that disabled your caches when you updated certain things.

So re-enable your caches.

[2020-02-10 16:43] g-anedda opened #26797 "Checkout loader mask remains indefinitely if terms and conditions box is unchecked"
### Preconditions (*)

1. Magento 2.3.3-p1
2. Use Braintree payment method
3. Have terms and conditions on payment page, with manual option to check

### Steps to reproduce (*)

1. Have 3D Secure enabled on Braintree payment method
2. Fill all data for shipping and billing, leaving the Terms and Conditions checkbox **unchecked**
3. Try to place the order

### Expected result (*)

1. The loader mas

[2020-02-10 16:43] ganedda-softfobia commented on #26797
@magento give me 2.4-develop instance

[2020-02-10 16:43] magento-engcom-team commented on #26797
Hi @ganedda-softfobia. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-10 16:44] magento-engcom-team commented on #26797
Hi @ganedda-softfobia, here is your [Magento instance](https://i-26797-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26797-2-4-develop.instances.magento-community.engineering/admin_a70b](https://i-26797-2-4-develop.instances.magento-community.engineering/admin_a70b)
Login: `75d1ea64` Password: `b62541446c9c`
Instance will be terminated in up to 3 hours.

[2020-02-10 16:52] darinda commented on #26740
I can confirm that problem, we have it too after upgradng von v2.3.3 to v2.3.4. The problem can indeed be tracked down to the method mentioned by @noeli-eshopguru, the `getCustomAttributeLabel` [method](https://github.com/magento/magento2/commit/22c4ee1413212f4b55cff5014d48966c26582fe5#diff-58918a1c0b2e0806d4ed1c4ff74c9b1fR247) that was introduced by https://github.com/magento/magento2/commit/22c4

[2020-02-10 17:04] ganedda-softfobia commented on #26797
I am able to reproduce issue on magento vanilla instance.

[2020-02-10 17:09] andkirby commented on #500
Any updates about that?

[2020-02-10 17:27] xmav commented on #26740
Appears to be fixed in https://github.com/magento/magento2/commit/4ef5d3939ee7498f1d0af1257b603e55fb5ff162

[2020-02-10 18:50] magento-engcom-team commented on #26796
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31322` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-10 19:16] andrew-boehm opened #26799 "Infinite loop detected, review the trace for the looping path - Magento 2.3.4 Payment Method"
### Preconditions (*)

1. 2.3.4
2. checkout

### Steps to reproduce (*)

1. Click Place Order button or Continue to Paypal button

### Expected result (*)

1. Checkout successfully

### Actual result (*)

1. http://prntscr.com/r0cxc5

[2020-02-10 19:42] erikhansen commented on #21614
@magento-engcom-team I'm running on Magento Open Source 2.3.3-p1 and I'm still able to reproduce this issue. Can you post a link to the commit where this was purportedly fixed?

[2020-02-10 19:56] hostep commented on #26796
Thanks @shikhamis11 for verifying!

I just tested some more on different clean Magento installations:
- 2.1.18: images which were resized before aren't being saved again => **good**
- 2.2.11: images which were resized before are being saved again => **not good**
- 2.3.4: images which were resized before are being saved again => **not good**

[2020-02-10 20:19] angelobono opened #26800 "Undefined variable $type in Product-Link Management"
Undefined variable $type in Product-Link Management

### Preconditions (*)
1. Magento Community Version 2.3.2 and current branch 2.4-develop

### Steps to reproduce (*)
1. Create two products, for example with SKU 1234 and SKU 5678
2. Create a product link 1234 to 5678 with Magento\Catalog\Model\ProductLink\Management->setProductLinks
3. Create a product link 5678 to 1234 with Magento\Catalog\Mode

[2020-02-10 21:03] Nikkumawat commented on #19604
on putty command use after show error magento supports PHP 7.1.3 or later. Please read https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

please help me

[2020-02-10 21:11] matthewhaworth commented on #25484
@rparsi-boxycharm Magento said to me that it wouldn't be possible to backport a fix to 2.2.6

[2020-02-10 21:12] nbennett25 opened #26802 "Authorize.net module not visible on front end"
It does not appear that the frontend of 2.3.4 recognizes Authorize.net as a Payment Method.

### Preconditions (*)
1. Magento 2.3.4
2. Magento 2 Authorize.net Marketplace module installed

### Steps to reproduce (*)

1. Enable Authorize.net module in admin
2. Enable 'Credit Card' payment method within Authorize.net

### Expected result (*)
1. User can see 'Credit Card' payment method in checkout,

[2020-02-10 21:13] nbennett25 commented on #26802
@magento give me 2.3.4 instance

[2020-02-10 21:13] magento-engcom-team commented on #26802
Hi @nbennett25. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-10 21:13] magento-engcom-team commented on #26802
Hi @nbennett25, here is your [Magento instance](https://i-26802-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26802-2-3-4.instances.magento-community.engineering/admin_3459](https://i-26802-2-3-4.instances.magento-community.engineering/admin_3459)
Login: `a817cdd3` Password: `aab50d118eef`
Instance will be terminated in up to 3 hours.

[2020-02-10 21:17] nbennett25 commented on #26802
@magento unable to install authnet module.

[2020-02-10 21:20] rparsi-boxycharm commented on #25484
@matthewhaworth I'm using 2.3.3 with the security only patch 2.3.4-p1.  Can you ask for the commit urls that fixes this issue in 2.3.5?
I don't get why they don't just tell us, I'm fine with back porting it myself.

[2020-02-10 21:24] nbennett25 commented on #26376
It looks like Magento 2.3.4 has officially deprecated _all_ core Auth.net payment methods, and requests that users install the Auth.net provided module (`composer require authorizenet/magento-module-authorizenet`), however this looks like it has [issues](https://github.com/magento/magento2/issues/26802) as well.

[2020-02-10 21:36] bubasuma commented on #25484
Sorry guys for the delay,
Here is the commit 41565f0f7b702136668189eb5a2ecfa1d6b82d69 that fixes the issue.

[2020-02-10 21:43] rparsi-boxycharm commented on #25484
@bubasuma Thank you.  Out of curiosity, why isn't it standard procedure to include commit urls whenever some says `blah` issue is fixed in `blah` magento version?  It's annoying having to play conversation tag asking for this info each time, and frequently it takes months for the answer to be finally provided.

[2020-02-10 22:15] Swahjak commented on #26682
This seems to be specifically caused by https://github.com/magento/magento2/commit/6900c38941850706d9bff3aae76a428afae1343c#diff-0dba08a1fa5d66da0b3c252c4949907eR106 which populates the extension attribute. Then when it passes through https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Quote/Model/ShippingMethodManagement.php#L312 it will be converted to array by the `\Magento\Fr

[2020-02-10 22:48] engcom-tester commented on #24426
@magento I am working on it

[2020-02-10 22:55] Git987886 commented on #26718
I had the exact same issue yesterday with a custom frontend theme after updating from 2.3.1 to 2.3.4. I fixed the issue by changing the settings in Content/Design/Configuration. I only had the last line "Default Store View" pointing the custom theme. The first lines "Global" and "Main Website" were blank, with no theme selected. Assigning themes to the 3 options fixed the issue.

<img width="1031"

[2020-02-11 00:16] irving0mar commented on #25059
@magento give me 2.3-develop instance

[2020-02-11 00:16] magento-engcom-team commented on #25059
Hi @irving0mar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-11 00:17] stu583 commented on #26698
Also experiencing on 2.3.4 CE. Composer upgrade from 2.3.3 on 10 Feb.

Order success as expected when using Safari, IE, Edge.  However we are receiving a 500 Error when using the chrome browser across Windows/OSX/IOS platforms. Browser history’s/cookies cleared, Magento cache cleared/flushed but bug persists.

Debug currently switched on and will continue looking tomorrow and will update if I find

[2020-02-11 03:42] davids123 commented on #25650
How can I share access to Magento so you can check?

On Mon, 10 Feb 2020 at 20:34, kernstmediarox <notifications@github.com>
wrote:

--
David Singh

Client Success Manager

Mitash Digital | eCommerce Growth Experts
+61 3 9040 2318 <+61+3+9040+2318>
davids@mitash.com
www.mitash.com
AU, UK, US, NZ, IN
[image: facebook] <https://www.facebook.com/pg/ecommercegrowthexperts/>
[image: linkedin] <https://

[2020-02-11 03:51] shikhamis11 commented on #26802
@magento give me 2.3.4 instance

[2020-02-11 03:51] magento-engcom-team commented on #26802
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-11 03:51] magento-engcom-team commented on #26802
Hi @shikhamis11, here is your [Magento instance](https://i-26802-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26802-2-3-4.instances.magento-community.engineering/admin_bf88](https://i-26802-2-3-4.instances.magento-community.engineering/admin_bf88)
Login: `e4e306c2` Password: `94e3721466e9`
Instance will be terminated in up to 3 hours.

[2020-02-11 04:07] shikhamis11 commented on #26802
hi @nbennett25
I am not able to reproduce this issue at magento 2.4 instance
I enabled `Authorize.net` from magento backend payment method the filled required details
and  `Credit Card (Authorize.Net) ` is displaying at frontend
![Screenshot from 2020-02-11 09-30-07](https://user-images.githubusercontent.com/25526037/74210422-b5214400-4cb1-11ea-8c49-75735731a16a.png)

[2020-02-11 04:07] #26802 closed, assigned to shikhamis11

[2020-02-11 04:08] shahrukhkhan-web-designer opened #26805 "Unable to see theme in my installtions"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-02-11 04:14] shahrukh1998 commented on #26805
NOt showing them in admin panel
when click on theme configuration it shows blank page or sometime err-response time
Unable to do find theme in content theme

[2020-02-11 06:28] FANSELY opened #26806 "error if i want to upgrade"
# php bin/magento setup:upgrade
PHP Fatal error:  Allowed memory size of 2097152 bytes exhausted (tried to alloc
ate 32768 bytes) in C:\xampp\htdocs\MagentoEbenezer\vendor\donatj\phpuseragentpa
rser\src\UserAgentParser.php on line 128

Fatal error: Allowed memory size of 2097152 bytes exhausted (tried to allocate 3
2768 bytes) in C:\xampp\htdocs\MagentoEbenezer\vendor\donatj\phpuseragentparser\
sr

[2020-02-11 07:31] davids123 commented on #25650
Do you have sample magento 2.3.3 installed?

[2020-02-11 07:53] blacktek commented on #26792
Hello,
  will be provided a fix for the 2.3.3 and 2.3.4 releases too?

Thank you

[2020-02-11 07:53] darinda commented on #26740
@xmav, confirmed. Thank you, the problem is fixed by the mentioned commit.

[2020-02-11 08:28] oefterdal opened #26807 "Magento 2 API Categories return null values"
### Preconditions (*)

### Steps to reproduce (*)

### Expected result (*)

`{
  "id": 2,
  "parent_id": 1,
  "name": Name of category,
  "is_active": null,
  "position": 1,
  "level": 1,
  "product_count": null,
  "children_data": [
    {
      "id": 3,
      "parent_id": 2,
      "name": Name of category,
      "is_active": null,
      "position": 1,
      "level": 2,
      "product_count": null

[2020-02-11 08:28] oefterdal commented on #26807
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-11 08:28] magento-engcom-team commented on #26807
Hi @oefterdal. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-11 08:29] magento-engcom-team commented on #26807
Hi @oefterdal, here is your [Magento instance](https://i-26807-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26807-2-4-develop.instances.magento-community.engineering/admin_690f](https://i-26807-2-4-develop.instances.magento-community.engineering/admin_690f)
Login: `88ef7d8e` Password: `a25c4d0487a7`
Instance will be terminated in up to 3 hours.

[2020-02-11 08:29] venture-travels opened #26808 "Upgrade to 2.3.4 problem: yotpo conflict in composer after version 2.3"
@magento give me 2.4-develop instance - upcoming 2.4.x release

Upgrading to version 2.3.4 is giving a conflicht with yotpo.
Since yotpo is standard part of M2 somewhere after version 2.3, actually it has become a module instead of an extension.
When yotpo was installed as an extension before, it is in the composer file and in the extension-list in the 'system - web setup wizzard' of backend. From

[2020-02-11 09:01] SamJUK commented on #26799
This is a duplicate of the following issues #26774 and #26786 Both those issues had issues with a 3rd party stripe module.

I had an issue with Miravist's GiftRegistry module which was caused by a custom `Magento\Authorization\Model\CompositeUserContext` context they added

[2020-02-11 09:02] palviggi-flagbit commented on #24942
We updated our store to 2.3.4, the problem persists when changing back to the store where the user is logged in

[2020-02-11 09:24] sudheers-kensium commented on #26806
@FANSELY You need to increate the memory_limit in php.ini  OR run below command

php -dmemory_limit=-1 bin/magento setup:upgrade

This is not magento issue,  so I am closing this issue

[2020-02-11 09:24] #26806 closed, assigned to nobody

[2020-02-11 09:35] bobemoe opened #26809 "Cron using too many resources."
### Preconditions (*)

1. Magento CE 2.3.4
2. PHP 7.2

### Steps to reproduce (*)

1. Upgrade existing store from 2.2.9 to 2.3.4

### Expected result (*)

1. Site and server continue to function as prior to upgrading
### Actual result (*)

1. Huge increase in CPU and RAM usage.

You can clearly see the increased load on our system graphs here. It has forced the server to start using swap. Graphs s

[2020-02-11 09:35] avoelkl commented on #21602
Is there any update or workarund to this?
We just encountered this issue with one of our merchants.

`` updates the `<i>` element to `<em>` as mention in the comment above...

[2020-02-11 09:44] dharmendrak2019 commented on #15205
Package zendframework/zend-stdlib is abandoned, you should avoid using it. Use laminas/laminas-stdlib instead.
Package zendframework/zend-mime is abandoned, you should avoid using it. Use laminas/laminas-mime instead.
Package container-interop/container-interop is abandoned, you should avoid using it. Use psr/container instead.
Package zendframework/zend-validator is abandoned, you should avoid us

[2020-02-11 09:48] devchris79 commented on #26809
Are you seeing cron jobs stuck in the running status?

[2020-02-11 09:51] #26807 closed, assigned to nobody

[2020-02-11 09:59] iamsteve commented on #25927
I can report the same issue - it's not a great workaround but you can stop the onboarding process after the GMC account creation and simply log into the GMC account, manually link it to a new google ads account and set up your own shopping campaigns with the products imported. In an ideal world, you'd want to manage the ads via Magento but at this point in time having any product available to serv

[2020-02-11 10:08] zkliouel commented on #26616
HI @magento-engcom-team  and @m2-assistant
On a vanilla Magento instantce i can reproduce this issue

Best regard

[2020-02-11 10:10] Swahjak commented on #26809
Just a heads up (not sure if that's the issue, but it might have been overlooked); Since Magento 2.3.3 the cron spawns several consumer processes (about 5). Each of these processes uses resources (~200Mb in RAM, not sure on the cpu but it's more than nothing). In our case it will also occasionally leave `queue:consumers:start async.operations.all` processes running while starting new ones (resulti

[2020-02-11 10:13] Swahjak commented on #26795
This might be a duplicate of #26692 (#26809 also complaining about higher resource usage, but might be contained to cron).

[2020-02-11 10:32] GuiltyNL commented on #24942
But did you apply the fix?

[2020-02-11 10:33] cjelger opened #26811 "Extend CategoryFilterInput with url_path field"
### Description (*)
The `categoryList` field introduced in 2.3.4 should be extended to support the fetching of categories by `url_path`. Typically a website would indeed have the `url_path` of the category in the URL, so it would be straightforward to be able to use this field to fetch the corresponding Magento category.

### Expected behavior (*)
`CategoryFilterInput` has an extra `url_path` fiel

[2020-02-11 10:37] bobemoe commented on #26809
@devchris79 nothing in running status, quite a few missed though:
[code]
I did empty the cron_schedule table soon after upgrading and it only made a slight improvement.

@Swahjak that could well be the issue here and would explain the increase in MEM usage. I think the increase in CPU is a knock on effect form the MEM (IO Wait from the swapping)

Is there any way to limit the number of these consu

[2020-02-11 10:41] web4exposure-org commented on #21144
@wouter-toppy
This is not a fix for me, it does make it possible to change the customer group from the backend, but it will also disallow a guest customer to order with a certain (VAT-determined) customer group from the frontend.

I assume an override of the Mage classes will be required to fix both these cases.

[2020-02-11 10:44] devchris79 commented on #26507
The issue #26809 contains a post that highlights the extra ram usage in the cron processes from Magento 2.3.3.

Our site currently has no jobs stuck in the running state for over a day, and I have only made two changes:

1, Truncated the cron log as it was getting very large
2, We were seeing errors in the system log relating to aqmp not being configured. We don't use RabbitMQ so I just added the

[2020-02-11 10:49] devchris79 commented on #26809
We have been seeing stuck processes, but maybe its an effect of running out of ram resources on the VPS. Although I have made two changes that have so far seemed to improve things:

1, Truncated the cron log as it was getting very large
2, We were seeing errors in the system log relating to aqmp not being configured. We don't use RabbitMQ so I just added the code below to env.php:

[code]
The stuc

[2020-02-11 11:00] Swahjak commented on #26809
We've also disabled the `cron_consumers_runner/cron_run = false` but also added `queue/consumers_wait_for_messages = 0` (both in env.php). This makes the processes stop when the're not receiving any messages. We're now running each individual process as a separate cron process. The enables you to control how often the process spawns (Magento will just spawn it on each cron run). For example the `p

[2020-02-11 11:25] r32rf opened #26813 "migrate data causes invalid config filename error"
running `php -dmemory_limit=152216212154213T bin/magento migrate:data`

causes ```Invalid config filename: /var/www/html/vendor/magento/data-migration-too
  l/etc/config.xml                                                          ```
pls fix

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1

[2020-02-11 11:26] r32rf commented on #26813
it always cause issue as this. never does good!
pls fix

[2020-02-11 11:36] suwubee commented on #24353
donot work, with latest vcl at magento v2.3.4, still error

--  VCL_return     restart
--  VCL_Error      Too many restarts

[2020-02-11 11:40] r32rf commented on #26813
i have done a good fix by colleague who know magento good yes yes.
 but now integrity check failed help im losing money i only make minimum wage and i need pay for kids help

[2020-02-11 11:47] monotheist commented on #24353
@suwubee both the VCLs are same. There is no difference.

[2020-02-11 11:49] magento-engcom-team commented on #26758
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31374` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-11 11:53] haijerome commented on #26813
@r32rf  you can use -a flag to force the data migration, even in case if integrity check errors occur.

`bin/magento migrate:data -r -a /var/www/html/vendor/magento/data-migration-tool/etc/config.xml`

[Read this for more information](https://devdocs.magento.com/guides/v2.3/migration/migration-migrate-data.html#migrate-data-cmd)

[2020-02-11 11:57] suwubee commented on #24353
first the menu will display 503, after few hours, all website will 503

--  ReqHeader      Accept-Encoding: gzip
--  VCL_call       RECV
--  ReqUnset       grace: none
--  ReqHeader      grace: none
--  ReqURL         /page_cache/block/esi/blocks/%5B%22catalog.topnav%22%5D/handles/WyJkZWZhdWx0IiwiY21zX2luZGV4X2luZGV4IiwiY21zX3BhZ2VfdmlldyJd/
--  ReqUnset       Accept-Encoding: gzip
--  ReqHeader

[2020-02-11 12:22] magento-engcom-team commented on #26760
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31378` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-11 12:43] avoelkl commented on #8198
Too bad this was closed. We are having the same issue with singapore dollars too.

[2020-02-11 13:08] bjorn-vdc opened #26815 "heartbeats and keepalives in Stream.io not used - rabbitmq connection broken"
@nuzil
Looks like that Magento implementation of amqp does not use heartbeats and keepalives, so I we see this quite often;

In StreamIO.php line 228:

 Broken pipe or closed connection

In system.log
 report.ERROR: Broken pipe or closed connection
#0 /php-amqplib/php-amqplib/PhpAmqpLib/Connection/AbstractConnection.php(369): PhpAmqpLib\Wire\IO\StreamIO->write(‘\x01\x00\x01\x00\x00\x00\r\x00<\x00Z

[2020-02-11 13:14] Swahjak commented on #26682
Dug in a little deeper and in my opinion the solution / problem is this line https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Quote/Model/ShippingMethodManagement.php#L312

I think there are two solutions to the problem:
1. Since 'extraAddressData' uses the `\Magento\Framework\Reflection\DataObjectProcessor` it would make sense to restore the data using the `Magento\Framework\

[2020-02-11 14:02] engcom-Alfa commented on #26606
Hi @Amiyo-Ghosh. Thank you for your report.
 Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop and  2.3.4 instances.
Everything works correctly.
So, we have to close it.
Probably you are using Redis and need to clear the cache `redis-cli flushall`.
Hope this helps you.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](h

[2020-02-11 14:02] #26606 closed, assigned to engcom-Alfa

[2020-02-11 14:23] nbennett25 commented on #26802
Thx @shikhamis11  - is this with the auth.net provided module, or the deprecated Magento core Auth.net module? Can you reproduce it with 2.3.4?

[2020-02-11 14:32] espressobytes commented on #18329
@hugodeaguiar Thanks very much. I created a patch-file for this issue, which is a bug in my eyes.

[framework_ui_component_data_provider_fix.patch.zip](https://github.com/magento/magento2/files/4186164/framework_ui_component_data_provider_fix.patch.zip)

To apply this patch via composer:

- create a new directory in your Magento-root, for instance: patches/composer/ and drop the file framework_ui_

[2020-02-11 15:20] ihor-sviziev commented on #8198
@avoelkl @johnny-longneck @olivercastro
Similar issue with Canadian Dollar we were fixing by setting en_CA locale. In your case you should probably define locale en_SG

[2020-02-11 15:35] Hexmage opened #26817 "Position sort does not work in GraphQl."
### Preconditions (*)

1. Magento 2.3.4 Open Source

### Steps to reproduce (*)

1. Install demo data
2. Assign positions to all products in the Watches category (id: 6)
![Screenshot from 2020-02-11 16-31-53](https://user-images.githubusercontent.com/22170051/74251394-5dec9500-4cec-11ea-9738-f5d9c0ad1fb7.png)
3. Run the following GraphQl Query.
[code]

### Expected result (*)

[code]

### Actual r

[2020-02-11 15:38] Hexmage commented on #26817
It looks like the issue is caused by the products collection not having been joined with the catalog_category_position table. Because it can't find the category position it falls back onto entity_id.

[2020-02-11 15:39] Hexmage commented on #26817
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-11 15:39] magento-engcom-team commented on #26817
Hi @Hexmage. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-11 15:40] magento-engcom-team commented on #26817
Hi @Hexmage, here is your [Magento instance](https://i-26817-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26817-2-4-develop.instances.magento-community.engineering/admin_fcea](https://i-26817-2-4-develop.instances.magento-community.engineering/admin_fcea)
Login: `138cdecc` Password: `3b27a7255b44`
Instance will be terminated in up to 3 hours.

[2020-02-11 15:42] flancer64 commented on #26762
I install Magento 2.3.4 using composer:
[code]

then I run `./bin/magento setup:install` to connect to existing DB (I upgrade my Mage instance):
[code]

after that I have absolutely fresh installation and newly created `./app/etc/env.php` with:
[code]

Then I have this warning:
[code]
every time I run
[code]
even w/o options.

[2020-02-11 15:47] nbennett25 commented on #15065
Any updates here @mateuszkwik?

[2020-02-11 15:48] Hexmage commented on #26817
Confirmed to not work on 2.4-develop

[2020-02-11 15:52] engcom-Bravo commented on #26731
@sdzhepa The issue is reproducible if migrate to Magento 2.4-develop

Rechecked with:
Magento 1.9.3.9 and SUPEE-11219_CE_1939
Data Migration tool [`2.3.4`](https://github.com/magento/data-migration-tool)
Magento 2.4-develop

### Actual Result:
After migrating, the customers appeared in Magento 2.4- develop  _Customers - All Customers_ grid
But Sign In to Storefront fails
The customer is still able

[2020-02-11 15:52] wolfautoparts commented on #26799
Mirasvit Rewards module causing this issue for me.

[2020-02-11 16:02] itmsenior opened #26819 "Timeout after amending price of product in cart"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Add product to cart
2. Amend price of product in Magento admin
3. Refresh cart

### Expected result (*)

1. Cart loads and product price is updated

### Actual result (*)

1. Nginx timeout due to SQL query loop

[2020-02-11 16:02] itwebdev2 commented on #26819
@magento give me 2.4-develop instance

[2020-02-11 16:02] magento-engcom-team commented on #26819
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-11 16:03] magento-engcom-team commented on #26819
Hi @itwebdev2, here is your [Magento instance](https://i-26819-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26819-2-4-develop.instances.magento-community.engineering/admin_3049](https://i-26819-2-4-develop.instances.magento-community.engineering/admin_3049)
Login: `d9e1c299` Password: `140aa0f9ce75`
Instance will be terminated in up to 3 hours.

[2020-02-11 16:09] ruheadshot commented on #24120
@Naberdz, this commit resolves issue https://github.com/magento/magento2/commit/103c28be56300b235582504bbeb7a1325ef95eb7#diff-fb2eb8215c1aa379e33f45d400c579e0

[2020-02-11 16:09] itwebdev2 commented on #26819
@magento give me 2.3.3 instance

[2020-02-11 16:09] magento-engcom-team commented on #26819
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-11 16:11] magento-engcom-team commented on #26819
Hi @itwebdev2, here is your [Magento instance](https://i-26819-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26819-2-3-3.instances.magento-community.engineering/admin_7465](https://i-26819-2-3-3.instances.magento-community.engineering/admin_7465)
Login: `12d3181c` Password: `bbea82326b03`
Instance will be terminated in up to 3 hours.

[2020-02-11 16:14] itwebdev2 commented on #26819
Closing issue - unable to replicate because this repo doesn't have MSI.
Will log on MSI repo.

[2020-02-11 16:26] Swahjak commented on #26809
After checking our staging server (we haven't deployed the solution to production yet, we're currently watching a number of performance related issues for 2.3.4 before deploying). It runs on limited resources, but funny enough the drop in RAM expected from the solution above is clearly visible but the CPU clearly increases. This _might_ be related to the fact that the processes require more resour

[2020-02-11 16:30] joe-vortex commented on #26596
I'm also experiencing this issue with a fresh install of commerce 2.3.4 - this should remain open and be investigated.

[2020-02-11 16:56] DanielRuf commented on #26762
Both PRs will make it more stable and prevent such cases or errors that are not catched and cause issues in a later step.

[2020-02-11 17:24] ajwalks commented on #26698
Upgraded from 2.3.3 > 2.3.4 via composer and similar issue.
At first I thought it was JS Bundling that I had enabled.
Im using Paypal Standard.
When returning from Paypal to site get blank page with url of /paypal/express/return/?token=XXXXXXXXXX&PayerID=XXXXXXXXXX

Error log shows:
`[11-Feb-2020 16:36:10 UTC] PHP Fatal error:  Uncaught Error: Call to a member function getId() on null in /home/pub

[2020-02-11 19:30] magento-engcom-team commented on #26731
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31414` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-11 20:50] gwharton commented on #26796
Please make sure any mods to this area also work in database media storage mode. It is often overlooked.

[2020-02-11 20:55] hostep commented on #26796
@gwharton: I was aware of your recent changes in that area regarding the database storage, so I tried to take that into account in https://github.com/magento/magento2/pull/26801, but haven't actually tested it for real yet.

[2020-02-11 20:55] drew7721 opened #26824 "Deleting a configurable child breaks cart and checkout pages that contained it."
### Preconditions (*)

1. Magento 2.3.4 | 2.3.3 | 2.2.10 (reproduces on these versions)
2. PHP 7.2.27
3. MySQL 5.7

### Steps to reproduce (*)

1. Fresh install of Magento 2 (with sample data if needed)
2. Add a configurable product to the cart ( the simple child product will be added https://i.imgur.com/vBVqHNY.png )
3. Go to the Admin panel and **delete** the child product that you added to the

[2020-02-11 21:01] gwharton commented on #26796
Ahh yes. I should have spotted that in the PR before commenting. Changes look good, although also untested here.

[2020-02-12 01:49] jackrevate commented on #26698
Having the same issue, causing a lot of website sales to go!

Anyone found a fix? need it asap!

I don't get how Magento release something that's so dam buggy!

[2020-02-12 01:57] jackrevate commented on #23411
Still appearing on on 2.3.4 - jesus - nothing but bugs.

[2020-02-12 02:41] Zyles opened #26825 "Adding/updating image using API will not create thumbnail for admin products grid"
Updating or adding a new image to a product will not create a thumbnail in the admin products grid. The admin products grid will have a placeholder.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create product
2. Upload image to product using the rest API
3. Visit the products grid in backend

### Expected result (*)

A thumbnail for the product should be rendered in the

[2020-02-12 02:53] niku0911 opened #26826 "Category Product List issue 2.3.4"
I have 14 Product in category ,
and i have setiing Per page 12, but it's showing all products

### Summary (*)
shwing all products in list,
![image](https://user-images.githubusercontent.com/50168477/74298804-ce3cfa00-4d70-11ea-837d-a859c5b1d9b7.png)

is only bug in 2.3.4 or something else

[2020-02-12 03:05] niku0911 commented on #26826
Preconditions (*)
Magento 2.3.4
PHP 7.2.27
MySQL 5.7

Steps to reproduce (*)
1) Fresh Install Magento 2.3.4
2) add category and add 14 Product assign to that category,
3) Frontside go and check that category product list showing all 14 products

![image](https://user-images.githubusercontent.com/50168477/74299402-86b76d80-4d72-11ea-99fd-66f5568c3653.png)

[2020-02-12 03:57] shikhamis11 commented on #26826
@magento give me 2.4 instance

[2020-02-12 04:01] shikhamis11 commented on #26826
@magento give me 2.4-develop instance

[2020-02-12 04:01] magento-engcom-team commented on #26826
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 04:01] magento-engcom-team commented on #26826
Hi @shikhamis11, here is your [Magento instance](https://i-26826-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26826-2-4-develop.instances.magento-community.engineering/admin_08dc](https://i-26826-2-4-develop.instances.magento-community.engineering/admin_08dc)
Login: `cde3bfb6` Password: `c3e14502bf4c`
Instance will be terminated in up to 3 hours.

[2020-02-12 04:03] shikhamis11 commented on #26826
@magento give me 2.4 instance

[2020-02-12 04:03] shikhamis11 commented on #26826
@magento give me 2.3.4 instance

[2020-02-12 04:03] magento-engcom-team commented on #26826
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-12 04:04] magento-engcom-team commented on #26826
Hi @shikhamis11, here is your [Magento instance](https://i-26826-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26826-2-3-4.instances.magento-community.engineering/admin_772d](https://i-26826-2-3-4.instances.magento-community.engineering/admin_772d)
Login: `9c909719` Password: `35c98248cb4c`
Instance will be terminated in up to 3 hours.

[2020-02-12 04:16] shikhamis11 commented on #26826
hi @niku0911
I checked the issue at 2.4 instance I am not able to reproduce this issue ..
by default It is 12 products per page on category pages and It is working correctly on 2.4 instance
. It seems this issue is at your end may be due to some additional customizations or setting changes .
![Screenshot from 2020-02-12 09-43-17](https://user-images.githubusercontent.com/25526037/74302402-6d1b2380

[2020-02-12 04:16] #26826 closed, assigned to shikhamis11

[2020-02-12 04:52] vincentteyssier opened #26827 "500 when creating new product after adding attribute via API and assigning to attribute set via UI"
### Preconditions (*)
Magento 2.3.4
PHP 7.3

### Steps to reproduce (*)
1. Create new attribute using API

[code]

2. Log in to Admin panel, go to Stores/Attributes/Attributes Set
3. Add the newly created attrbute to the default attribute set
4. Go to product page and click ADD PRODUCT

### Expected result (*)
Product creation page should display normally

### Actual result (*)
Error 500
Nginx log

[2020-02-12 04:55] vincentteyssier commented on #26827
Additional comment: if I go to the test attribute page and save it without modifying anything the 500 does not occur anymore

[2020-02-12 04:55] niku0911 commented on #26826
Thanks for review ,

but i changed nothing in customizastion, i changed 12 to 9 now its working perfect.

[2020-02-12 05:17] monotheist commented on #24353
@ihor-sviziev Are we supposed to remove reference of `pub` from `line 67,102,206` of VCL like we remove from line 13 if the Magento root directory is pub? Kindly advise.

[2020-02-12 05:36] robolmos commented on #24353
@monotheist That's the way I've been doing it since I couldn't find an option to remove the pub path. For single-server setups I've been excluding the health probe as well.

[2020-02-12 05:43] robolmos commented on #26341
@monotheist Out of curiosity, how did you override the default TTL?

[2020-02-12 05:48] monotheist commented on #24353
@robolmos Thanks for responding. Can you kindly confirm below is how line 102 and 206 should look like? I have removed `(pub/)?`

[code]

[2020-02-12 05:53] monotheist commented on #26341
@robolmos From the magento admin. See below please.
![Screenshot 2020-02-12 at 11 23 29 AM](https://user-images.githubusercontent.com/16968205/74306969-20d6e000-4d8a-11ea-885d-3a9e9beee1b5.jpg)

[2020-02-12 06:12] ihor-sviziev commented on #24353
Sorry, could you give a link to a file in special commit that you’re talking about? File content might be different across different commits/branches/releases

[2020-02-12 06:16] monotheist commented on #24353
Here it is. I think VCL hasn't changed since 2.3.3.
https://github.com/magento/magento2/commit/882379061809b806fc5580729a6c9c78d782f84d#diff-2f64f6171deecba61bea147539cf72ec

[2020-02-12 07:08] nickpiro opened #26828 "Product Image Watermarks Not Displaying 2.3.0"
We just upgraded from 2.2.8 to 2.3.0 and product image watermarks have disappeared!

### Preconditions (*)

1. Magento 2.3.0
2.

### Steps to reproduce (*)

1. Magento 2.3.0
2. Add product watermark

### Expected result (*)

1. Prouduct image watermark.

### Actual result (*)

1. No product image watermark!

[2020-02-12 07:16] engcom-Alfa commented on #26795
Duplicate of #26692

[2020-02-12 07:16] #26795 closed, assigned to engcom-Alfa

[2020-02-12 07:30] ihor-sviziev commented on #26583
@magento give me test instance

[2020-02-12 07:31] ihor-sviziev commented on #26583
@magento give me 2.4-develop instance

[2020-02-12 07:31] magento-engcom-team commented on #26583
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 07:31] magento-engcom-team commented on #26583
Hi @ihor-sviziev, here is your [Magento instance](https://i-26583-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26583-2-4-develop.instances.magento-community.engineering/admin_2fac](https://i-26583-2-4-develop.instances.magento-community.engineering/admin_2fac)
Login: `26678bd9` Password: `08ff719378b5`
Instance will be terminated in up to 3 hours.

[2020-02-12 07:32] hostep commented on #23411
@jackrevate: as mentioned above, the fix should get included in Magento 2.3.5: https://github.com/magento/magento2/issues/23411#issuecomment-554132357

@sangthieu: if you are able to list steps to reproduce the issue after applying [the patch](https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/25307.diff), that would be awesome!

[2020-02-12 07:40] kerlama commented on #26698
Revert back the function **_applyStreetAndRegionWorkarounds** from 2.3.3 in vendor/magento/module-paypal/Model/Api/Nvp.php

[2020-02-12 08:03] engcom-Alfa commented on #26799
Hi @andrew-boehm. Thank you for your report.
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop and 2.3.4 version.
So, we have to close it.
This question seems to be connected with a 3rd party stripe module.
Please review issue #26774

[2020-02-12 08:03] #26799 closed, assigned to engcom-Alfa

[2020-02-12 08:06] andrew-boehm commented on #26799
So you are saying it’s the stripe integrations

And

Not your exstention?

But is the stripe code inside your exstention?

On Wed, Feb 12, 2020 at 2:04 AM Oleksii Stasiv <notifications@github.com>
wrote:

[2020-02-12 08:18] mbrioski opened #26829 "Fatal error on integration tests execution"
### Preconditions (*)
* Magento 2.3.3 | 2.3.4
* PHP 7.3>=
* PHPUnit 8.5.2

### Steps to reproduce (*)
Execute `vendor/bin/phpunit /app/dev/tests/integration/phpunit.xml.dist`

### Expected result (*)
Integration tests runs like expected

### Actual result (*)
[code]

[2020-02-12 08:22] vishalbaytech commented on #11828
How do I show swatchvisual color in admin section as well?
![screenshot-74 208 252 21-2020 02 11-17_14_38](https://user-images.githubusercontent.com/48333434/74316114-e3c91880-4d9e-11ea-8745-6a821a8f91b4.png)

[2020-02-12 08:23] engcom-Alfa commented on #26805
Hi, @shahrukh1998. Thank you for your report.

Unfortunately, we are not able to reproduce the issue described in your [comment](https://github.com/magento/magento2/issues/26805#issuecomment-584471555) on clean 2.4-develop and 2.3.4 version. All works correctly.

**Actual Result:**
![screen2](https://user-images.githubusercontent.com/51679138/74316074-765abf00-4d81-11ea-831c-56f3b48a2a8c.gif)

So,

[2020-02-12 08:23] #26805 closed, assigned to engcom-Alfa

[2020-02-12 08:34] andrew-boehm commented on #26799
There was an issue on one of extension.
Thanks,

[2020-02-12 08:42] Hexmage commented on #26817
This used to work on 2.3.3, if you manually added position to the graphql.schema for ProductSortInput, but it looks like the new filter/ search system has broken this.

[2020-02-12 08:43] stu583 commented on #26698
@jackrevate

I can confirm that @joridos fix is working for us.

He has been unable to merge due to an error but it appears the error is at line 1618 which was already part of 3.2.4 core and he hasn't even touched!

[2020-02-12 09:00] Hexmage opened #26830 "GraphQl Cart Errors not retreivable"
If the cart has an error, (eg. because of too low stock), you can't retrieve this error through GraphQl. The error is thrown when you try to place an order through GraphQl. But this is to late in the process.

### Preconditions (*)

1. Magento 2.3.4 Open Source

### Steps to reproduce (*)

1. Add a product to your cart through GraphQl
2. Lower stock of product to below the amount in cart or set pr

[2020-02-12 09:03] engcom-Bravo commented on #26740
@noeli-eshopguru

The issue is fixed on Magento 2.4-develop with the commit mentioned above https://github.com/magento/magento2/commit/4ef5d3939ee7498f1d0af1257b603e55fb5ff162

So we have to close this issue
If you'll ever face any issues with Magento, please feel free to create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidel

[2020-02-12 09:03] #26740 closed, assigned to engcom-Bravo

[2020-02-12 09:08] noeli-eshopguru commented on #26740
@engcom-Bravo
Yes, right.
Thanks for your help.

[2020-02-12 09:11] vincentteyssier commented on #26827
I digged a bit into the code and can see that what gives NULL in argumentsResolver('test_api', NULL) comes from $rawComponentData = $this->definitionData->get($name) and $name is 'swatch_text' as we can see in the create instruction.
However I can't find anywhere allowed values for this. I guess this is the frontend_input parameter in the API call. I've seen a few examples with this value so I ass

[2020-02-12 09:20] pipe-devnull commented on #26731
Hi,

I have this issue migrating from 1.9.4.X to  2.3.4.  I just found this issue while partway through a migration and now have thousands of accounts with passwords that will not work on the M2.3.4 site.   Do you have a workaround?

[2020-02-12 09:27] ihor-sviziev commented on #26583
We had discussion with @Nazar65 about fixing this issue.

There were two options:

1. Fix the calculated percentage on the product page on top of existing behavior in the admin + document it

2. Change calculation of tier prices to be working with special prices.

During discussion we found that 2nd option will affect too many magento installations that working with tier prices, so decided to go w

[2020-02-12 09:28] irshad-iflair opened #26831 "Tax with Country store dropdown option not auto select actual tax rule calculation."
**Summary of the issue**
**I need, Multiple stores have a common country (i.e. united states and country states* should be all) then different tax rules for all stores**.

### Preconditions (*)

Magento 2.3.2: I create Two different stores **US and US1** for the **common country (i.e. united states)** https://i.stack.imgur.com/S3X1I.png. Then create **two different tax rules (i.e. US-tax rule and

[2020-02-12 09:31] leeroybrun commented on #22391
Do you have an idea when this will be fixed/merged?

[2020-02-12 09:34] ihor-sviziev commented on #26587
Hi @Mathanagopal97 and @engcom-Alfa,
Why do you think it's an issue?

According to calculations - we have two tier prices:
1. 2 and more products - fixed price - $40
2. 3 and more products - discount 36% from regular price: $100 - $36 (36% from %100)= $64.

According to prices that we got above - the lowest price was taken ($40), that's looks quite logical for me.

Don't you think so?

Related to

[2020-02-12 09:43] irshad-iflair commented on #26831
yes want to produce on vanilla Magento instance

[2020-02-12 09:54] SamJUK commented on #26731
We got the client to just get customers to reset their password until a offical mage fix, since its around 5% of the userbase affected.

If you wanted to implement a fix, although i haven't tried it, you could do something along the lines of modifying the `isValidHash` method of  `\Magento\Framework\Encryption\Encryptor`. Where you chec the first 4 characters and if they match the start of a bcryp

[2020-02-12 09:57] krishprakash commented on #26828
@magento give me 2.4-develop instance

[2020-02-12 09:57] magento-engcom-team commented on #26828
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 09:57] magento-engcom-team commented on #26828
Hi @krishprakash, here is your [Magento instance](https://i-26828-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26828-2-4-develop.instances.magento-community.engineering/admin_c6b5](https://i-26828-2-4-develop.instances.magento-community.engineering/admin_c6b5)
Login: `5f77da96` Password: `289f2143c0ff`
Instance will be terminated in up to 3 hours.

[2020-02-12 10:12] r32rf opened #26832 "lib flder"
hello i a,m supposed to comit lib folder in git ????????? i no having of a clue. in commit any i make it always has done big show of making big change and i do not want 99999999999999999 terragigglebytes in my server for repository. how do fix if i want make have do my comit and work ??????

tank you of the very much!
### Summary (*)

### Examples (*)

### Proposed solution

[2020-02-12 10:17] nazimwibsoft commented on #26786
The issue was with the Stripe Payment Integration extension, after updating that to latest 1.5.2 resolved the issue for me. Thanks.

We can install the latest version from here: https://stripe.com/docs/plugins/magento/install

[2020-02-12 10:18] engcom-Alfa commented on #26752
HI @MrKovalski. Thank you for your report.
Could you please clarify what file names do you have in mind?
In Locale Options, we have Serbian Cyrillic (sr_Cyrl_RS) and Serbian Latin (sr_Latn_RS) locales.
These changes were made by PR #22293
Thanks!

[2020-02-12 10:18] nazimwibsoft commented on #26799
The issue was with the Stripe Payment Integration extension, after updating that to latest 1.5.2 resolved the issue for me. Thanks.

We can install the latest version from here: https://stripe.com/docs/plugins/magento/install

[2020-02-12 10:18] Hexmage commented on #26830
Still the case in 2.4

[2020-02-12 10:21] irshad-iflair commented on #26831
YES

[2020-02-12 10:29] Neusta-Hartwig commented on #14735
fyi: Same Problem in Magento 2.2.11. To fix this, revert Uploader to Version 2.2.9

[2020-02-12 10:44] pipe-devnull commented on #26731
Thanks for  your comment @SamJUK -  I've just implemented almost the same patch myself in that class since posting my question:

`
          if (stripos($hash, "$2Y$10") > === 0 && function_exists('password_hash')) {
                return password_verify($password, $hash);
            }
`
It's important to us because a lot of those customers affected will be new/active customers.

[2020-02-12 10:46] monotheist opened #26834 "Error while logging out"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.3
3. Varnish
4. Redis
5. SSL enabled

### Steps to reproduce (*)

1. Go to store frontend and Login and logout.

### Expected result (*)

1. No errors

### Actual result (*)

1. ```
2020/02/12 16:07:06 [error] 1871#1871: *68511 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught TypeError: strpos() expects parameter 1 to be string, null

[2020-02-12 10:54] vincentteyssier commented on #26827
Interestingly the indexer is failing to reindex tables:

**SELECT `e`.`entity_id`, `e`.`type_id`, `e`.`sku`, **`e`.`test_api`** FROM `catalog_product_entity` AS `e`

INNER JOIN `catalog_product_website` AS `website` ON website.product_id = e.entity_id AND website.website_id = 1

INNER JOIN `catalog_product_entity_int` AS `visibility_default` ON visibility_default.entity_id= e.entity_id AND visibil

[2020-02-12 11:01] karlsminton commented on #23773
How is this closed when the issue is to disable core mail functionality?

[2020-02-12 11:30] vincentteyssier commented on #26827
Also notice the reindexer is failing, even when I set searchable fields to false:

[code]

[2020-02-12 11:34] engcom-Bravo commented on #26749
Hello @tranhoangthien1990

We confirm that this is reproducible on Magento 2.4-develop
And we also confirm that after running ```php bin/magento indexer:reindex catalog_product_flat```, the data from the table _catalog_product_flat_3_ is removed

Thank you for your report

[2020-02-12 11:36] magento-engcom-team commented on #26749
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31436` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-12 11:40] vincentteyssier opened #26836 "Attributes API returns wrong options values for swatch texts attributes"
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Create a swatch text attribute in admin ui
![swatch](https://user-images.githubusercontent.com/16136533/74331704-87f99200-4d94-11ea-9f56-b2e7bca4416a.PNG)

2. Retrieve this attribute details via API:
/index.php/rest/default/V1/products/attributes/shipsfrom

[code]
### Expected result (*)
Options would show the swatch value

[2020-02-12 11:47] monotheist opened #26837 "Sign-In Sign-Out problem"
### Preconditions (*)

1. Magento 2.3.3
2. Varnish 6
3. Redis
4. SSL enabled

### Steps to reproduce (*)

1. Header Sign-in link doesn't change into Sign-out after Sign-in to the store and navigating to category pages.
2. See this video to reproduce. [https://youtu.be/X1jqpPMOSVg](url)

### Expected result (*)

1. After sign-in, the link should remain displaying sign-out till the user logs off.

#

[2020-02-12 11:53] magento-engcom-team commented on #26800
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-02-12 11:53] magento-engcom-team commented on #26800
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31437` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-12 11:55] Zyles opened #26838 "Low stock report showing disabled products"
The low stock report becomes pretty useless pretty fast unless you delete products. We store disabled product for history and the chance that they may come back in stock.

There is no way to do a report and filter out the disabled products.

This means you have to go through A LOT of non-active products in the low stock report which makes it completely unusable.

### Preconditions (*)

1. Magento

[2020-02-12 11:56] shikhamis11 commented on #26837
@monotheist are you able to reproduce this issue on 2.4-dev instance ?

[2020-02-12 12:15] shikhamis11 commented on #26836
@magento give me 2.4-develop instance

[2020-02-12 12:15] magento-engcom-team commented on #26836
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 12:15] magento-engcom-team commented on #26836
Hi @shikhamis11, here is your [Magento instance](https://i-26836-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26836-2-4-develop.instances.magento-community.engineering/admin_d2c7](https://i-26836-2-4-develop.instances.magento-community.engineering/admin_d2c7)
Login: `0e29a6fc` Password: `a162e962de9b`
Instance will be terminated in up to 3 hours.

[2020-02-12 12:25] iversa commented on #13604
I'm dealing with the same issue. I have over 30,000 SKU and there are products in different categories with the same name

[2020-02-12 12:35] engcom-Alfa commented on #26773
Hi @ajithkumar-maragathavel.
Unfortunately, we are not able to reproduce this issue on the fresh 2.4-develop instance.

**Actual Result:**
The test passed successfully
![screen](https://user-images.githubusercontent.com/51679138/74335304-93ed5000-4da4-11ea-95a5-53101e07c365.png)
So, we have to close it.
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guid

[2020-02-12 12:35] #26773 closed, assigned to engcom-Alfa

[2020-02-12 12:43] irshad-iflair commented on #10347
@jreinke:  I am struggling for **how can I display separate tax rates on the product on selected stores** please refer to this. https://magento.stackexchange.com/questions/303861/magento-2-3-x-how-can-customise-tax-rules-for-different-stores-for-common-count
https://github.com/magento/magento2/issues/26831

[2020-02-12 13:05] Flowlance commented on #26815
I see the same issue.
Running this command
`/usr/bin/php bin/magento queue:consumers:start async.operations.all --batch-size 100`

results in

[code]

From the rabbitmq side, I see the following error

[code]

The connection is broken at exactly 30 seconds every time.

[2020-02-12 13:12] engcom-Bravo commented on #26830
Hello @Hexmage

This is indeed an issue because when the Cart query is performed in GraphQL, there is no error
[code]

But if try to **View and Edit Cart** from Storefront, error messages appear about _Product out of stock_
![out_of_stock](https://user-images.githubusercontent.com/51680745/74337917-e67d3b00-4da9-11ea-96d4-5530e430b3c1.png)

[2020-02-12 13:20] magento-engcom-team commented on #26830
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31440` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-12 13:20] sjb9774 opened #26840 "PayflowPro Checkout Broken with SameSite Cookie Changes from Chrome"
## Summary
[Chrome will soon be introducing a new default functionality for cookies that don't explicitly set their "SameSite" property](https://www.chromestatus.com/feature/5088147346030592) (this article states that stable Chrome 80 should have this functionality but it appears that the cookie changes won't actually be enforced by default until the 17th of this month per https://www.chromium.org

[2020-02-12 13:22] devchris79 commented on #26837
Its a caching issue, we saw the same thing so I disabled the cache and the issue went away!

Seems like this has been doing the rounds for a while:
#9156
#20571

[2020-02-12 13:24] sjb9774 commented on #26840
@magento give me 2.4-develop instance

[2020-02-12 13:24] magento-engcom-team commented on #26840
Hi @sjb9774. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 13:24] magento-engcom-team commented on #26840
Hi @sjb9774, here is your [Magento instance](https://i-26840-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26840-2-4-develop.instances.magento-community.engineering/admin_a9f4](https://i-26840-2-4-develop.instances.magento-community.engineering/admin_a9f4)
Login: `b598bea6` Password: `2cfbfba2fea6`
Instance will be terminated in up to 3 hours.

[2020-02-12 13:29] engcom-Alfa commented on #26669
Duplicate of #26731

[2020-02-12 13:29] #26669 closed, assigned to engcom-Alfa

[2020-02-12 13:31] CeligoLabs commented on #26249
Our issue was not resolved, reopen the ticket.

[2020-02-12 13:31] sjb9774 commented on #26840
This is readily reproducible on a fresh 2.4-develop instance as well
![image](https://user-images.githubusercontent.com/6181127/74339433-ad24db00-4d69-11ea-99f6-04964067b286.png)

[2020-02-12 13:33] sjb9774 commented on #26377
It appears this new behavior breaks Payflow Pro credit card processing: https://github.com/magento/magento2/issues/26840

[2020-02-12 13:37] sjb9774 commented on #26377
Also valuable to note per https://www.chromium.org/updates/same-site this SameSite functionality will not become the default behavior even on Chrome 80 until the 17th (and even then it seems it will be limited in scope).

[2020-02-12 13:37] Fidelity88 commented on #26731
Is it just me, or does the function password_hash and/or password_verify does not exist in Encryptor.php on Magento 2.3.3?

[2020-02-12 13:44] diazwatson commented on #26377
I guess it is due to all the issue it cause. But it will be done sooner or later so better to be prepared.

[2020-02-12 13:47] SamJUK commented on #26731
Both `password_hash` and `password_verify` should be available on Magento 2 since they are native PHP functions added in PHP 5.5 according to the PHP docs.

[2020-02-12 13:53] ghost opened #26841 "Leading Spaces on CSV export"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.24
3. Ubuntu 16.04.1

### Steps to reproduce (*)

1. Export all products with all columns as a CSV
2. Don't change any filters
3. Open CSV file
4. See extra spaces at start of CSV. My first column is SKU.

### Expected result (*)

1. Expected result is the first column name to have no leading spaces

### Actual result (*)
1. First Column has 2 lea

[2020-02-12 13:56] Resurgem commented on #26841
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-12 13:56] magento-engcom-team commented on #26841
Hi @Resurgem. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 13:57] magento-engcom-team commented on #26841
Hi @Resurgem, here is your [Magento instance](https://i-26841-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26841-2-4-develop.instances.magento-community.engineering/admin_2662](https://i-26841-2-4-develop.instances.magento-community.engineering/admin_2662)
Login: `2c88e609` Password: `4e1d0f4f4416`
Instance will be terminated in up to 3 hours.

[2020-02-12 14:04] ajijshekh123 commented on #26841
Give me @magento give me 2.4-develop instance

[2020-02-12 14:04] magento-engcom-team commented on #26841
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 14:05] magento-engcom-team commented on #26841
Hi @ajijshekh123, here is your [Magento instance](https://i-26841-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26841-2-4-develop.instances.magento-community.engineering/admin_b10b](https://i-26841-2-4-develop.instances.magento-community.engineering/admin_b10b)
Login: `c0b75c3e` Password: `d0d7a6a0ef29`
Instance will be terminated in up to 3 hours.

[2020-02-12 14:07] vishal-7037 commented on #24953
@ilnytskyi Hi,

I've faced the same issue after data migration. After data migration performed successfully, I've run `php bin/magento indexer:reindex` command. I've noticed that `min_price` saved as a negative value in `catalog_product_index_price` table and not indexed properly.

During the tracing process, I noticed that in `catalog_product_entity_decimal` table, price exists for a **configurab

[2020-02-12 14:13] karthi6116 opened #26843 "es_US Spanish (United States ) Locale is not supported in Magento 2.3.4"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1.Create a language pack for the spanish united states with locale as es_US
2. Now run Static-content deploy for the es_US localization with
 php bin/magento setup:static-content:deploy -f --theme="Magento/blank" es_US
3. We are getting an error
es_US argument has invalid value, please run info:language:list for list of available

[2020-02-12 14:13] Resurgem commented on #26841
Cron not working on test instance, Magento won't export the CSV file. Can't reproduce because of this

[2020-02-12 14:20] ajijshekh123 commented on #26841
Yes @Resurgem, I will reproduce this issue tomorrow.
Thanks for the update :)

[2020-02-12 14:25] sudheers-kensium commented on #26834
@magento give me 2.4-develop instance

[2020-02-12 14:25] magento-engcom-team commented on #26834
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 14:26] magento-engcom-team commented on #26834
Hi @sudheers-kensium, here is your [Magento instance](https://i-26834-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26834-2-4-develop.instances.magento-community.engineering/admin_fad9](https://i-26834-2-4-develop.instances.magento-community.engineering/admin_fad9)
Login: `1e6589dd` Password: `c50c74ce8461`
Instance will be terminated in up to 3 hours.

[2020-02-12 14:27] Resurgem commented on #26841
Not able to reproduce on [sample instance](http://magento2demo.firebearstudio.com/index.php) on Magento 2.3.1
![notepad++_XPeN3VgZnr](https://user-images.githubusercontent.com/33052213/74343969-d06c7c00-4da3-11ea-8be2-7abfc866ea4a.png)

[2020-02-12 14:29] monotheist commented on #26834
How are you going to reproduce using above instance? You need the setup I mentioned.

[2020-02-12 14:30] sudheers-kensium commented on #26834
@monotheist I am not able to reproduced in Magento 2.4-develop instance

[2020-02-12 14:35] Jens-Bourgeois commented on #8640
I'm having the same issue in the "Recently Viewed Products" widget.

[2020-02-12 14:36] Resurgem commented on #26841
No leading spaces on file before downloading using the admin panel.
Downloaded file has leading spaces.
Image is of file in var/export
![firefox_Fst08iNoBk](https://user-images.githubusercontent.com/33052213/74344788-03633f80-4da5-11ea-977f-e1d1a99c128d.png)

[2020-02-12 14:39] monotheist commented on #26837
@devchris79 Is there a solution to this issue? I can't afford to disable cache.

[2020-02-12 14:43] monotheist commented on #24353
Can someone please confirm above is correct?

[2020-02-12 14:50] infinityredux commented on #25221
Above fix by @arnoutvreugdenhil solved the problem for us as well.

Worth noting though, this only happened for orders where there was a custom value for the carrier. (Mentioning this because the tests to confirm the issue above specifically reference using named carriers.)

[2020-02-12 14:55] engcom-Bravo commented on #26825
Reproducible on Magento 2.4-develop

When the product image is from Admin, the **Image Roles** are displayed. Base, Small, Thumbnail, Swatch
![base_small](https://user-images.githubusercontent.com/51680745/74345584-fa7b6980-4db6-11ea-8d51-8bf9b15b9354.png)

![image_detail](https://user-images.githubusercontent.com/51680745/74345830-5a721000-4db7-11ea-8d47-45e8777a5e26.png)

If the product image is

[2020-02-12 14:57] ihor-sviziev commented on #24353
@monotheist in theory - it should e correct, but not sure if it's causing listed above issue

[2020-02-12 14:59] magento-engcom-team commented on #26825
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31442` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-12 15:05] tylerssn commented on #8088
@sergei-sss - do you recall how you eventually resolved this?

[2020-02-12 15:09] NathMorgan commented on #26682
@Swahjak Sadly the 2nd method is not as simple due to the fact that the `$address` param can be multiple diferent class types (That contain there own type of extension attributes). I've currently pushing up a change that was done to "fix" this (Only sets data if both the $address and the $shippingAddress extension attributes match)

[2020-02-12 15:12] Hexmage commented on #26830
@engcom-Bravo I have confirmed that the Error exists on the cartItem object that graphQl uses.

[2020-02-12 15:21] devchris79 commented on #26837
As I understand it there was supposed to be a fix to load headers that were not cached last year, unfortunately this doesn't appear to work for you. I don't know if this is down to Magento core functionality or your theme (Ultimo) implementation of the sign in link.

[2020-02-12 15:51] chris-pook commented on #9186
This also applies to the product image data. When saving a product via API the image data such as position and hidden status in catalog_product_entity_media_gallery_value is also duplicated to the storeview level, one additional row per image. Admin users now need to make any future image changes in store view context and the "all store views" position/hidden status become redundant. Very frustrat

[2020-02-12 16:36] vijay-prevaj opened #26845 "Bundle Product Issue"
### Preconditions (*)

1. On vanilla magento instance the magento CollectionFactory doesn't list bundle product after update the bundle product via default magento import in csv format. (Only show newly added product).

### Steps to reproduce (*)

1. Create new bundle product and assign to some categories. The Product listed in the CollectionFactory correctly.
2. After that i export the product sh

[2020-02-12 16:41] joridos commented on #26698
@stu583 yes, the only one error is on a method that I haven't changed

[2020-02-12 17:04] stu583 commented on #26698
@joridos

Yes I had a look and its very odd. I agree that it's not anywhere near the the method you edited. Maybe already buggy, shouldn't have passed previously and never have made the 2.3.4? I don't know.

Like I said its working perfectly for us. We are taking PayPal payments, in production, with no problems since applying your fix. Thanks for the contribution. 🙂

[2020-02-12 17:06] ajwalks commented on #26698
Yes @joridos fix works for us also. Thank you

[2020-02-12 17:24] Zyles opened #26847 "Hitting enter on create folder in media gallery refreshes the page"
When creating a new folder in the media gallery, if you hit enter after naming instead of using mouse to click on "Ok", the page will refresh, all changes during the editing process will be lost because it was not saved.

Bad UX and bad intent.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Open the media gallery by inserting an image
2. Click on a directory and click "Cr

[2020-02-12 17:42] ghost opened #26848 "Fatal error sending ship after deleted product."
How to reproduce.
Place an order
Delete the product of the order
Send ship in back end.

Magento 2.3.4.

[2020-02-12 17:46] tylerssn commented on #16406
@kanduvisla - do you have a record of the solution you put in place to get around this in 2.2?

[2020-02-12 18:07] shikhamis11 commented on #26848
Hi @Thumper85
You can reproduce this issue while generating shipment through api ..
Also please correct the issue reporting format
Please check [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines )

[2020-02-12 18:28] shikhamis11 commented on #26847
@magento give me 2.4-develop instance

[2020-02-12 18:28] magento-engcom-team commented on #26847
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 18:28] magento-engcom-team commented on #26847
Hi @shikhamis11, here is your [Magento instance](https://i-26847-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26847-2-4-develop.instances.magento-community.engineering/admin_fed0](https://i-26847-2-4-develop.instances.magento-community.engineering/admin_fed0)
Login: `baf777b9` Password: `a6d8c60620b0`
Instance will be terminated in up to 3 hours.

[2020-02-12 18:33] magento-engcom-team commented on #26847
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31455` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-12 19:13] sjb9774 commented on #26377
@dyushkin Do you have any insight into the related task https://github.com/magento/magento2/issues/26840? It seems like a pretty serious issue

[2020-02-12 19:33] xtremevision commented on #25338
Hi,

We have the same problem, and applying the patch + upgrading to 2.3.4 fixed email sending. However, the new account registration email is not being sent still.

Any ideas?

Thanks,
Michael Mussulis

[2020-02-12 20:04] novikor commented on #24985
Hi, @itwebdev2. Thank you for your collaboration.

The issue is not relevant and should be closed.

The API you referenced is a part of Magento Service Layer and it is not responsible for formatting dates in its output, - it's relevant to the presentation layer logic.
Moreover, even if we assume it is acceptable, it is not really safe to do that because existing integrations do not expect such cha

[2020-02-12 20:04] #24985 closed, assigned to nobody

[2020-02-12 20:18] DanielRuf commented on #25338
Please open a new issue so we can check this in detail.

[2020-02-12 20:25] xtremevision opened #26849 "New account registration email not sent v2.3.1, 2.3.3, 2.3.4"
Hi,

We've recently upgraded our store in staging from 2.3.1 to 2.3.4 and experienced problems with transactional emails not being sent (order confirmation, etc). We fixed this by applying the patch mentioned in ticket https://github.com/magento/magento2/issues/25338 and then upgrading to 2.3.4.

However, we discovered new account registration emails are not being sent still (no welcome emails). W

[2020-02-12 20:26] xtremevision commented on #26849
@magento give me 2.4-develop instance

[2020-02-12 20:27] magento-engcom-team commented on #26849
Hi @xtremevision. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-12 20:27] magento-engcom-team commented on #26849
Hi @xtremevision, here is your [Magento instance](https://i-26849-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26849-2-4-develop.instances.magento-community.engineering/admin_83a7](https://i-26849-2-4-develop.instances.magento-community.engineering/admin_83a7)
Login: `cb172599` Password: `a21a38e72074`
Instance will be terminated in up to 3 hours.

[2020-02-12 20:37] novikor commented on #26520
@ramesh-durairajaram, please [check my reply to your PR ](https://github.com/magento/magento2/pull/26803#issuecomment-585403680). Thank you for your collaboration.

[2020-02-12 20:41] ilnytskyi opened #26850 "Performance problem on listings and widgets with Price box"
### Preconditions (*)

1. 2.4-develop or any previous version
2.

Usage of `\Magento\Catalog\Block\Product\ListProduct::getProductPrice`
in `app/code/Magento/Catalog/view/frontend/templates/product/list.phtml` or product boxes in widgets affects listing performance.
It calculates price for products again even if the values received from collection.
On the screenshot you can see that product items

[2020-02-12 20:45] xtremevision commented on #26849
I tried reproducing the issue on 2.4-dev, and I'm not getting any emails. I tried playing around with the backend settings, but I don't know if I it's a problem in 2.4-dev or your instance is not setup to send emails, or my smtp is rejecting them due spf/dmarc rules. I tried gmail and still nothing.

[2020-02-12 20:48] xtremevision commented on #26849
Steps to reproduce:

- Click on Create Account link
- Fill out the form and submit
- Wait for the welcome email

[2020-02-13 01:05] HirokazuNishi commented on #26377
Guys, I published quick & dirty fix module for this issue.

https://github.com/Veriteworks/CookieFix

We tested it against 3DS payment and worked fine.

[2020-02-13 02:03] jackrevate commented on #26698
Sorry guys, I'm not as clued up as others are.

I can't work out the exact line or code you're editing. Could someone break it down by each line/code I need to replace from 2.3.3 - sorry for being stupid, I'm not clued up on this but would really appreciate someones help/time to write up what needs to be changed in the files as I really would like paypal to work again.

Many thanks.

[2020-02-13 02:16] jackrevate commented on #26698
I've made the following changes, it works - but would like someone to confirm I've done the correct changes please! :)
`	    protected function _applyStreetAndRegionWorkarounds(DataObject $address)`

to this:

`    protected function _applyStreetAndRegionWorkarounds(\Magento\Framework\DataObject $address)`

Along with changing this:
`	            $regionItems = $regions->getItems();
            $r

[2020-02-13 02:19] jackrevate commented on #26698
I've made the following changes, did a test order and it worked so I assume I've made the correct changes from the 2.3.3 file - but would like someone to confirm I've done the correct changes please!

My code is below, assuming nothing else needed changed!

`
	    protected function _applyStreetAndRegionWorkarounds(\Magento\Framework\DataObject $address)
    {
        // merge street addresses int

[2020-02-13 04:20] vishaltajpara opened #26852 "PayPal via Braintree payment order invoice generate Authorize to capture Issue"
### Preconditions (*)
Magento Ver. 2.3.3.
Magento 2.3.5 p1

### Steps to reproduce (*)
1. Go to Admin and set Braintree payment method as Sandbox mode with setting Payment Action as Authorize.
![braintree_001](https://user-images.githubusercontent.com/29942583/74401022-f77b8a00-4e45-11ea-889b-d42882595be8.png)
2. Go to front end and place order one order using Braintree Payment Gateway.
3. When yo