[2019-04-03 17:31] shikhamis11 commented on #22137
@magento-engcom-team give me 2.3-develop instance

[2019-04-03 17:31] magento-engcom-team commented on #22137
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-03 17:32] magento-engcom-team commented on #22137
Hi @shikhamis11, here is your [Magento instance](https://i-22137-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22137-2-3-develop.instances.magento-community.engineering/admin](https://i-22137-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-03 17:57] aario opened #22144 "Custom Customer attribute with input type multiselect is not saved in database Magento2.3.1"
### Preconditions (*)
1. Magento 2.3.1
2. PHP 7.2

### Steps to reproduce (*)
1. Create a customer custom attribute with input type multiselect int
2. Go to the backend and try to save some data to created attribute

### Expected result (*)
All attributes should save

### Actual result (*)
1. The new attribute appears in the form.
2. The row is created in `customer_form_attribute` table
3. Attribu

[2019-04-03 18:17] Abwizbio opened #22146 "Error filtering template: Warning: Illegal offset type in /home/abwizbio/public_html/wp/wp-includes/l10n.php on line 1099"
### Summary (*)
<Error filtering template: Warning: Illegal offset type in /home/abwizbio/public_html/wp/wp-includes/l10n.php on line 1099>

### Examples (*)
<Error filtering template: Warning: Illegal offset type in /home/abwizbio/public_html/wp/wp-includes/l10n.php on line 1099>

### Proposed solution

[2019-04-03 18:18] Abwizbio commented on #22146
Error filtering template: Warning: Illegal offset type in /home/abwizbio/public_html/wp/wp-includes/l10n.php on line 1099

[2019-04-03 18:18] Abwizbio commented on #22146
Error filtering template: Warning: Illegal offset type in /home/abwizbio/public_html/wp/wp-includes/l10n.php on line 1099

[2019-04-03 18:19] Abwizbio commented on #22146
Magento system could not send the e-mail. Receiver always received Error filtering template: Warning: Illegal offset type in /home/abwizbio/public_html/wp/wp-includes/l10n.php on line 1099

[2019-04-03 18:56] shikhamis11 commented on #22146
@Abwizbio with your issue description
Magento system could not send the e-mail. Receiver always received Error filtering template: Warning: Illegal offset type in /home/abwizbio/public_html/wp/wp-includes/l10n.php on line 1099

this is not coming from magento files Please check at your end.

[2019-04-03 18:56] #22146 closed, assigned to nobody

[2019-04-03 19:05] matheuscamarques opened #22148 "Fatal error Installação"
Autoload error
Vendor autoload is not found. Please run 'composer install' under application root directory.

[2019-04-03 20:26] irenelagno commented on #6507
The fix for this issue has been delivered in the scope of 60e3a73

[2019-04-03 21:13] sdzhepa commented on #6507
Hello @LordHansolo and @milindsingh

The issue was fixed and delivered by Magento team.

Details can be find here https://github.com/magento/magento2/commit/60e3a73c937ea50d8ad8bee230c002df61d1fe5e

The issue can be closed

[2019-04-03 21:13] #6507 closed, assigned to milindsingh

[2019-04-03 22:12] orlangur commented on #22148
@matheuscamarques well, you need to run `composer install`, you know.

[2019-04-03 22:12] #22148 closed, assigned to nobody

[2019-04-03 23:21] orlangur commented on #20906
Still not fixed properly. Currently merged PRs must be reverted.

Proper fix does require changing columns displayed in grid by default and will also cover https://github.com/magento/magento2/issues/20472 and https://github.com/magento/magento2/issues/21910.

[2019-04-03 23:43] OhHeyAlan commented on #20843
Reproduced on 2.3.1 when Magento_Swatches module is disabled. On the backend the "Save Attribute" button does not work.

`Uncaught TypeError: panel.removeClass is not a function`

`    at checkOptionsPanelVisibility (<anonymous>:43:19)
    at bindAttributeInputType (<anonymous>:50:5)
    at HTMLDocument.<anonymous> (<anonymous>:303:5)`

[2019-04-04 03:31] rvinothraj opened #22150 "Mail function not working after upgrade to Magento 2.3 Zend_Mail_Transport_Abstract::send()"
Fatal error: Uncaught TypeError: Argument 1 passed to Zend_Mail_Transport_Abstract::send() must be an instance of Zend_Mail, instance of Magento\Framework\Mail\Message given, called in /home/gcadmin/gc_m2/app/code/MagePal/GmailSmtpApp/Plugin/Mail/TransportPlugin.php on line 92 and defined in /home/gcadmin/gc_m2/vendor/magento/zendframework1/library/Zend/Mail/Transport/Abstract.php:305 Stack trace:

[2019-04-04 04:01] djixas commented on #12844
@FrancYescO

I did, will stay with v1.9 for foreseeable future and the migrate to a store that does not take 20 seconds to load without 50 cache modules enabled

[2019-04-04 04:05] Bartlomiejsz commented on #16173
@FreekVandeursen @engcom-backlog-nazar possible that it was duplicated in #21752 which is closed due to #21693

[2019-04-04 05:18] shansari25 commented on #13627
@ywsw - sorry for late reply - my bad and limited knowledge on this - sorry have not understood how disable passing pound to accept https url's.

can you pls provide where to make changes to rectify this issue.

[2019-04-04 05:31] shansari25 commented on #8618
dear @nilesh2jcommerce , @JamelleG , @mcspronko , @okorshenko -

how did you fix this issue, we are also facing the same problem in magento 2.2.4 version.

[2019-04-04 05:42] Dharmeshvaja91 opened #22152 "Click on search icon it does not working"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Admin >> Go to Orders,Customers and Products grid.
2. Scroll down the page
3. On sticky top bar click on search icon" Search field should active when click on search icon.

### Expected result (*)

1 . When user click on search icon its should be navigate to search box.

### Actual result (*)

![magento23_issue_video](https://

[2019-04-04 05:46] krishprakash commented on #22152
@magento-engcom-team give me 2.3-develop instance

[2019-04-04 05:46] magento-engcom-team commented on #22152
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-04 05:47] magento-engcom-team commented on #22152
Hi @krishprakash, here is your [Magento instance](https://i-22152-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22152-2-3-develop.instances.magento-community.engineering/admin](https://i-22152-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-04 05:53] LucianMihalache opened #22153 "Order cancel -> payment adapter cancel"
### Summary (*) + Examples (*)

I've created a custom payment method with it doing some stuff.
The payment method is using the recommended way of implementing using the adapter (Magento\Payment\Model\Method\Adapter) all good and nice, using some Commands (Magento\Payment\Gateway\CommandInterface), placing (order) and refund (refund) payment actions are working good. The only thing I need more is t

[2019-04-04 06:35] krishprakash commented on #22152
@magento-engcom-team give me 2.2-develop instance

[2019-04-04 06:35] magento-engcom-team commented on #22152
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-04 06:36] magento-engcom-team commented on #22152
Hi @krishprakash, here is your [Magento instance](https://i-22152-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22152-2-2-develop.instances.magento-community.engineering/admin](https://i-22152-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-04 06:38] engcom-backlog-nazar commented on #22150
Hi @rvinothraj
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-04 06:38] #22150 closed, assigned to nobody

[2019-04-04 06:45] mageprashant commented on #13307
Hi @magento-engcom-team
Same issue here with Magento 2.2.6 version - https://www.screencast.com/t/XVpEB42MGixU

Please, any update?

[2019-04-04 06:49] mageprashant commented on #17436
Hi @magento-engcom-team
I have the issue with bundle options Delete

1. Create a bundle product with more options to get pagination.
2. Select the First page of bundle options.
3. Delete any one of the bundle options.

https://www.screencast.com/t/XVpEB42MGixU

Kindly guide me to fix the issue
Thanks

[2019-04-04 06:50] engcom-backlog-nazar commented on #19379
Hi @suryakant-krish thank you for your report, i'm closing this as this was already fixed in 2.3-develop branch.

[2019-04-04 06:50] #19379 closed, assigned to suryakant-krish

[2019-04-04 06:52] engcom-backlog-nazar commented on #19380
HI @jignesh26 thank you for you report, i'm closing this, as this issue has already fixed in 2.3-develop branch.

[2019-04-04 06:52] #19380 closed, assigned to SyntaxKay

[2019-04-04 06:56] engcom-backlog-nazar commented on #20513
Hi @DenisSaltanahmedov thank you for you report, this issue has already fixed in 2.3-develop branch, so i'm closing this.

[2019-04-04 06:56] #20513 closed, assigned to DenisSaltanahmedov

[2019-04-04 07:07] engcom-backlog-nazar commented on #6300
Hi @dnadle thank you for you report, this issue has already fixed in 2.3-develop branch. https://github.com/magento/magento2/pull/19108

[2019-04-04 07:07] #6300 closed, assigned to nobody

[2019-04-04 07:11] engcom-backlog-nazar commented on #22153
Hi @LucianMihalache thank you for you report, this is real interesting, but can you propose the pr directly and explain, steps to have an issue here, seems like this an good improvement, feel free to propose Pull request with all details, thanks for collaboration :+1:

[2019-04-04 07:11] #22153 closed, assigned to nobody

[2019-04-04 07:14] shikhamis11 commented on #22152
@magento-engcom-team give me 2.3-develop instance

[2019-04-04 07:14] magento-engcom-team commented on #22152
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-04 07:15] magento-engcom-team commented on #22152
Hi @shikhamis11, here is your [Magento instance](https://i-22152-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22152-2-3-develop.instances.magento-community.engineering/admin](https://i-22152-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-04 07:16] engcom-backlog-nazar commented on #22144
Hi @aario  Thank you for your report.
The issue has been fixed in magento/magento2#20371 by @vivekkumarcedcoss in 2.3-develop branch
Related commit(s):
 - [ddb1137b96ff0ae93c2e78dff62e02da31f9a02a](https://github.com/magento/magento2/commit/ddb1137b96ff0ae93c2e78dff62e02da31f9a02a)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-04 07:25] magento-engcom-team commented on #22152
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99037`, `MAGETWO-99038` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 07:29] engcom-backlog-nazar commented on #22142
Hi @leahaense thank you for you report, i'm not able to reproduce following steps you described on clean magento 2.3-develop, seems like problem related to your configuration , or wrong data in csv file.

[2019-04-04 07:29] #22142 closed, assigned to nobody

[2019-04-04 07:41] magento-engcom-team commented on #19544
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99039` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 07:42] magento-engcom-team commented on #20778
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99040` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 07:46] leahaense commented on #22142
Hi @engcom-backlog-nazar, definitely not the csv file, since I was able to import it after changing the configuration in website scope, as described in the issue. I was thinking that maybe it was caused due to something going wrong during the upgrade from version 2.2.6, or due to the `app:config:dump`, `app:config:import` messing something up. If I have time I will try to reproduce it with a clean

[2019-04-04 07:46] magento-engcom-team commented on #21688
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99041`, `MAGETWO-99042` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 07:54] engcom-backlog-nazar commented on #22142
@leahaense i think this related to `app:config:dump, app:config:import` error that you have, says that `condition_name_short` is the key of value but we need value, so i think this related to wrong config data array.

[2019-04-04 07:57] engcom-backlog-nazar commented on #22142
@leahaense found! you have `condition_name_short:  `  must  be `condition_name_short`

[2019-04-04 07:58] magento-engcom-team commented on #22119
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99043` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 07:59] dmanners commented on #21885
Thank you for the information @tnsezer

[2019-04-04 08:03] leahaense commented on #22142
@engcom-backlog-nazar the `:` is just in the exception error message coming from the file mentioned in the comment, which is Magento core. The issue seems to be, that it does not find the condition name in the config when fetching it from the default config scope here: https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/app/code/Magento/OfflineShipping/Model/ResourceM

[2019-04-04 08:06] engcom-backlog-nazar commented on #22142
@leahaense hmm...  this may be related to `app:config:import`

[2019-04-04 08:07] aario commented on #22144
Please don't rush to close the issue. It's not multiline field. It's multiselect field here!
I manually applied fixed #20371 and it didn't fix the problem.
The problem happens in:
```vendor/magento/framework/Api/AbstractExtensibleObject.php:setCustomAttribute```
When it calls:
```vendor/magento/framework/Api/AbstractExtensibleObject.php:getCustomAttributesCodes```
And the new attribute is not amon

[2019-04-04 08:12] engcom-backlog-nazar commented on #22144
@aario, Sorry, I didn't see what it was multiselect, i'm will recheck, :+1:

[2019-04-04 08:24] engcom-backlog-nazar commented on #13651
Hi @priti-rathee thank you for you report, the issue was tested and we can confirm that is already fixed in 2.3-develop branch and available on 2.3.1 release. thanks for collaboration.

[2019-04-04 08:24] #13651 closed, assigned to irajneeshgupta

[2019-04-04 08:39] ekalinak opened #22155 "Category scope Name cached incorrectly on product edit"
### Preconditions
1. Magento 2.3-develop GitHub branch ( Also reproducible on 2.2.5 )
2. Make sure you have enabled all caches

### Steps to reproduce
On clean Magento 2.-3 installation

*Create new store view:*
1. Go to `Stores > Settings > All Stores`
2. Click on `Create Store View`
3. Fill "New store view" form correctly
4. Click on `Save Store View`

*Create new category:*
1. Go to `Catalog >

[2019-04-04 08:49] SikailoISM commented on #22155
@magento-engcom-team give me 2.3-develop instance

[2019-04-04 08:49] magento-engcom-team commented on #22155
Hi @SikailoISM. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-04 08:49] magento-engcom-team commented on #22155
Hi @SikailoISM, here is your [Magento instance](https://i-22155-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22155-2-3-develop.instances.magento-community.engineering/admin](https://i-22155-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-04 08:53] rvinothraj commented on #20033
Hi All,
    I am also facing same issue, mail functionality is not working, so i tried debug but cannot able to get respective error expect the following return message.

**{"result":false,"message":"Error sending email. We can't process your request right now.","data":"Unable to send mail: Unknown error"}**

 Before 2.3 upgrade everything was working fine, but after upgrade only got issue because

[2019-04-04 08:56] nussjustin commented on #22124
@orlangur The backend_model for media_gallery is NULL for this customer.

Creating an empty class Media that extends AbstractBackend worked, thanks. The backend_model is still NULL in the eav_attribute table, but everything works.

[2019-04-04 08:57] engcom-backlog-nazar commented on #22130
HI @EChandresh thank you for you report, this is confirmed issue please refer to -> https://github.com/magento/magento2/issues/20004

[2019-04-04 08:57] #22130 closed, assigned to nobody

[2019-04-04 09:01] magento-engcom-team commented on #22155
:white_check_mark: Confirmed by @SikailoISM
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-04-04 09:02] magento-engcom-team commented on #22155
:white_check_mark: Confirmed by @SikailoISM
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-04-04 09:02] magento-engcom-team commented on #22121
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99044`, `MAGETWO-99045` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 09:06] kvydiuk opened #22157 "Magento\CustomerCustomAttributes\Helper\Data class problem"
### Summary (*)

Hi team,
Magento 2.3.1 EE, php7.2, nginx
The creation of the plugin for the Magento\CustomAttributeManagement\Helper\Data class generates Fatal Error:
`[04-Apr-2019 08:42:35 UTC] PHP Fatal error:  Uncaught Error: Cannot access  property Magento\CustomerCustomAttributes\Helper\Data\Interceptor::$allowLengthValidationTypes in /var/www/src/vendor/magento/module-customer-custom-attrib

[2019-04-04 09:10] hamplr commented on #22083
I have the same problem and I think I found the problem. In magento/module-target-rule/Model/Rule/Condition/Product/Attributes/SqlBuilder.php changed the functionality and the check, which operator is used is refactored in a separate method.

In case of the operator "is" in the rule, the code checks, if the operator is '!{}'. In this case is '!()' the value that will be returned. In every other ca

[2019-04-04 09:15] engcom-backlog-nazar commented on #22144
@aario why your type is 'type' => 'int', ? and would be great if you add a you source class

[2019-04-04 09:18] EChandresh commented on #22130
@engcom-backlog-nazar May I know when it will be resolved?

[2019-04-04 09:22] tig-daanvandenbergh commented on #19590
I just wanted to let you guys know, I ran into this issue while running integration tests for M2.3.1. @abdulkaderptp's comment inspired me to find out the mocked database configuration. This can be found in `/dev/tests/integration/etc/install-config-mysql.php`. The fix is to include the crypt-key, like this:

[code]

[2019-04-04 09:29] engcom-backlog-nazar commented on #22144
@aario i'm not able to reproduce because you have wrong install script, you use int, type which is wrong, please use this example.
[code]

![deepin-screen-recorder_Select area_20190404122803](https://user-images.githubusercontent.com/40756439/55545097-288f1800-56d5-11e9-88be-1e6f59f10aa1.gif)

[2019-04-04 09:29] #22144 closed, assigned to nobody

[2019-04-04 09:33] aario commented on #22144
But I am able to use a multiselect attribute as int. It has name and value. Name is string, value is the id of the option which source model returns. Therefore these IDs which are of type in will be saved in database. I was able to trace the code further:
The problem happens in:
```	vendor/magento/framework/Api/AbstractExtensibleObject.php:setCustomAttribute```
When it calls:
```	vendor/magento/fr

[2019-04-04 09:40] PiroozMB commented on #12428
Please put a fix for magento 2.2.3 here. It's very annoying that you always put a fix for the latest version of magento. People cannot upgrade their whole webshop for each bug or problem they encounter. You must have a better service for all your versions.

[2019-04-04 09:42] engcom-backlog-nazar commented on #22144
@aario maybe you whant to use select attribute ?
![DeepinScreenshot_select-area_20190404124155](https://user-images.githubusercontent.com/40756439/55545987-0dbda300-56d7-11e9-9c26-05d24460661d.png)

[code]
[code]

[2019-04-04 09:50] engcom-backlog-nazar commented on #13228
Hi @YuanXiong thank you for you report, this issue has already fixed by this commit -> https://github.com/magento/magento2/pull/13081

[2019-04-04 09:50] #13228 closed, assigned to GovindaSharma

[2019-04-04 10:13] bijalbhavsar commented on #21916
This error occurs after upgrading 2.3.1 and it is bug in Magento 2.3.1. If we see https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Elasticsearch6/etc/di.xml it is showing below code:

` <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\ProductFieldMapperProxy">
        <arguments>
            <argument name="productFieldMappers" xsi:type="array">

[2019-04-04 10:24] hostep commented on #21916
@bijalbhavsar : `Magento\Elasticsearch6\Model\Adapter\FieldMapper\ProductFieldMapper` exists as a virtual type, see: in https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/Elasticsearch6/etc/di.xml#L158

[2019-04-04 10:24] yaroslav-zenin commented on #13252
why it is still not  merged?

[2019-04-04 10:42] engcom-backlog-nazar commented on #13589
Hi @testmagento2 thank you for you report, this issue has already fixed in 2.3-develop branch and available on 2.3.1 release.

[2019-04-04 10:42] #13589 closed, assigned to nobody

[2019-04-04 10:56] aario commented on #22144
# Solution
[code]

# Details
## Attributes are by default system!
Attributes are by default marked as system in magento core in:
[code]
Where:
[code]
checks if in the  `system` exists in the array from the install script, otherwise assumes it as 1! This might be a bug. Later as the attribute is neither a system attribute nor considered as a custom one, none of core components of Magento takes care

[2019-04-04 11:04] laykinx opened #22158 "Magento 2.0 nothing updating"
Hello,

### Preconditions (*)
New installation.
Magento ver. 2.0.0
Plesk Panel
PHP version 7.0.33

### Steps to reproduce (*)
1. Go to Store > Configuration > Design
2. Select my design theme
3. And Save Config
4. "Please Wait..." but nothing happens

i install today magento, and when i update the panel nothing updating.

### Actual result (*)
it still like this : https://imgur.com/LM62y69

### Ex

[2019-04-04 11:15] francescorm opened #22159 "Uploading images using API set "use default value" unchecked"
### Preconditions (*)
1. Magento 2.3

### Steps to reproduce (*)
Updating image using API REST default attribute checkbox became unchecked.

### Expected result (*)
attributes has the default store view checked

### Actual result (*)
"Use default value" is unchecked

1. [Screenshots, logs or description]

[2019-04-04 11:50] hostep commented on #18519
Reopening for further investigation.

We ran against the same problem, because for some reason the configuration `dev/translate_inline/active` was activated on a production shop of ours (but not on staging of course ...).
We just finished upgrading the shop from 2.1.12 to 2.1.16 today and deployed it to production today, and it broke the `js-translation.json` file just like reported above.

Disabl

[2019-04-04 12:14] itsazzad commented on #20843
What is the solution?
We are also getting the same error.

[2019-04-04 12:17] OhHeyAlan commented on #20843
Enable Swatches module then recompile and deploy.

[2019-04-04 12:30] magento-engcom-team commented on #21805
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#22069 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [d6c12e5ea2ea391221231bbee8cf6d5094b793f6](https://github.com/magento/magento2/commit/d6c12e5ea2ea391221231bbee8cf6d5094b793f6)
 - [646200a14003f75e8be34772b9826df4b395b993](https://github.com/magento/magento2/commit/646200a14003f75e8be34772b9826d

[2019-04-04 12:30] magento-engcom-team commented on #21734
Hi @avgust1111. Thank you for your report.
The issue has been fixed in magento/magento2#21813 by @kisroman in 2.2-develop branch
Related commit(s):
 - [6bb24ef4cccf52d56ee5c8ef43c9365509075d8a](https://github.com/magento/magento2/commit/6bb24ef4cccf52d56ee5c8ef43c9365509075d8a)
 - [0add8b722cb1591a3a2b8fe74e20d492431f5b18](https://github.com/magento/magento2/commit/0add8b722cb1591a3a2b8fe74e20d492

[2019-04-04 12:30] magento-engcom-team commented on #20790
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#21118 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [b24df575092f94e94688cbb93f2efe0e49b7ba57](https://github.com/magento/magento2/commit/b24df575092f94e94688cbb93f2efe0e49b7ba57)
 - [a3535662fafb1d4355e7db851a46c60d21f08ae3](https://github.com/magento/magento2/commit/a3535662fafb1d4355e7db8

[2019-04-04 12:30] magento-engcom-team commented on #20809
Hi @amol2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21892 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [67b732c00de7a3720d342d945099ede93b600ef7](https://github.com/magento/magento2/commit/67b732c00de7a3720d342d945099ede93b600ef7)
 - [af75c5abe40b169dea6f798b081ef00d3007b7a3](https://github.com/magento/magento2/commit/af75c5abe40b169dea6f79

[2019-04-04 12:30] magento-engcom-team commented on #19485
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#19488 by @gwharton in 2.2-develop branch
Related commit(s):
 - [e6b279b815b80065fdb7a70ed0fea16d26960425](https://github.com/magento/magento2/commit/e6b279b815b80065fdb7a70ed0fea16d26960425)
 - [ce7b5602466b47777cfa9de1cec31fa9f02ac644](https://github.com/magento/magento2/commit/ce7b5602466b47777cfa9de1cec31fa9f0

[2019-04-04 13:07] francescorm commented on #22159
@magento-engcom-team give me 2.3-develop instance

[2019-04-04 13:07] magento-engcom-team commented on #22159
Hi @francescorm. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-04 13:08] magento-engcom-team commented on #22159
Hi @francescorm, here is your [Magento instance](https://i-22159-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22159-2-3-develop.instances.magento-community.engineering/admin](https://i-22159-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-04 13:24] jbrada opened #22161 "[2.2.7, 2.2.8] - Indexer Schedule - backlog with product import"
If I import a product using the CSV import function, index changes are written to the backlog of:

- Product rule catalog
- Catalog Search
- Product price

even though the value has not changed (imported values are same as Magento 2 values).

This behavior did not affect either 2.2.5 or 2.2.6. This behavior occurs in versions 2.2.7 and 2.2.8.

### Preconditions (*)
1. Magento 2.2.7 or Magento 2.2.

[2019-04-04 14:41] swnsma opened #22162 "Extension Attributes Join Directive is not optimized for MySQL left join"
### Summary (*)
When you use multiple extension attributes from the same table, `left join` will be generated for each case.
Issue has been faced during 'In Store Pickup' feature implementation in PR: https://github.com/magento-engcom/msi/pull/2125.

### Examples (*)
1. Create simple table via `db_schema.xml`
[code]
And `db_schema_whitelist.json`
[code]
2. Create extension attribute in `extension_

[2019-04-04 15:13] deloenzien commented on #22068
I did the test:
**TEST1**
tab 'description' sort order 10
tab 'more information' sort order 40
tab 'custom1' sort order 30
tab 'custom2' sort order 40

the last tab overrides the previous tab.
result: tab 'description'  /  tab 'cutom1'  /  tab 'custom2'

TEST2
tab 'description' sort order 10
tab 'more information' sort order 10
tab 'custom1' sort order 10
tab 'custom2' sort order 10

the last tab

[2019-04-04 15:26] hostep commented on #22159
This is probably a duplicate of https://github.com/magento/magento2/issues/9186 ?

[2019-04-04 15:26] francescorm commented on #22159
The problem still persist and i think it's a bug on Magento2.3.
How to recreate:
1) Create a multistore

![Schermata del 2019-04-04 17-22-03](https://user-images.githubusercontent.com/47854158/55567552-30af7d80-56fe-11e9-8e11-b79b86f91f08.png)

2) Create a product

![Schermata del 2019-04-04 17-22-49](https://user-images.githubusercontent.com/47854158/55567601-4a50c500-56fe-11e9-97d8-fd5085ec177b.

[2019-04-04 15:30] AymericJoubert commented on #4792
Similar issue here upgrading from 2.3.0 to 2.3.1, resolved by @bap14 comment

[2019-04-04 15:35] francescorm commented on #9186
Is dangerous to delete single tuple of the database of the specific store view?
deleting the attributes tuple should use the default value. no?

[2019-04-04 15:50] magento-engcom-team commented on #22155
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99050`, `MAGETWO-99051` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 16:06] magento-engcom-team commented on #22127
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99052` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 16:09] craigcarnell commented on #20571
Answered my own question, https://github.com/magento/magento2/commit/f3bd0c2f16e038f687ba40ed2a575b04698ccd76 is included in 2.3.1

Is this issue resolved or not?

[2019-04-04 16:41] magento-engcom-team commented on #13411
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-04-04 16:45] magento-engcom-team commented on #13411
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99053`, `MAGETWO-99054` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 16:46] Tiberriver256 opened #22164 "Upgrade from 2.2.7 to 2.3.1 breaks Authorize.Net Direct Post configuration - "Unable to serialize value""
### Preconditions (*)

Magento 2.2.7 installation with Authorize.Net configuration settings filled in (i.e. api key, etc.)

### Steps to reproduce (*)

1. Upgrade to 2.3.1
2. Attempt to checkout an order

### Expected result (*)

Checkout page should load

### Actual result (*)

Receive an error "Unable to serialize value". Clearing the authorize.net settings from the database and re-entering them

[2019-04-04 17:39] francescorm commented on #22159
Is dangerous to delete single tuple of the database of the specific store view?
Can i delete tuple inside 'catalog_product_entity_int'  without any problem?
i could create a script that delete value inside this table and the problem could be managed.
What do you think about it?

[2019-04-04 17:48] geerlingguy commented on #17951
Is there any update on this? We are trying to run Magento crons using `CronJobs` in Kubernetes, but once workers are spawned (and literally _never_ die unless they work on the number of messages defined in `max-messages`), the Kubernetes `CronJob` will never exit.

We are also able to replicate this running `docker exec` and `kubectl exec` when running magento crons.

[2019-04-04 17:49] CajuCLC commented on #17951
Is there any update on this? We are seeing same issues with Kubernetes. Instead of just exiting the consumer if there is no message, Magento waits for messages. So in theory you might have a consumer running forever on a dev environment even if you set `max-messages` to `1`.
And if the consumer is running when the cron runs, it hangs there forever.

[2019-04-04 18:14] a7medeeuae opened #22165 "i have a issue when i want to login to admin panel"
hi

issue when i want to login to admin panel

i have opencart 3.0.1 on my hosting on godaddy the main domain
Is it possible that the reason that for the erorr ??

i install magento 2.3.1 on my hosting on godaddy on sub domain :-

 admin panel:-
Fatal error: Magento\Backend\Model\Locale\Manager::getUserInterfaceLocale(): The script tried to execute a method or access a property of an incomplete ob

[2019-04-04 18:32] sdzhepa opened #22166 "Information and link in README.md file related to Security issue reporting should be updated"
### Preconditions (*)

1. the Readme on https://github.com/magento/magento2 still says to create Bugcrowd reports for security vulns. Since the program is taken down the link 404's
2. Now in use HackerOne for these purposes

### Steps to reproduce (*)

1. Go to https://github.com/magento/magento2/blob/2.3-develop/README.md
2. Scroll to "Reporting Security Issues" section

### Expected result (*)

[2019-04-04 18:32] magento-engcom-team commented on #22166
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is add

[2019-04-04 18:32] magento-engcom-team commented on #22166
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is add

[2019-04-04 18:33] magento-engcom-team commented on #22166
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-04 18:34] magento-engcom-team commented on #22166
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99059` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-04 18:41] ryanandersonLCI opened #22167 "Magento 2 Product Attributes Not Allowing New Additions"
Magento 2 Version 2.2.0

Stores --> Attributes --> Product

Product attribute values will not update on the admin panel when added. Once a value is added, and save attribute is clicked on the newly added value is no longer present, and not saved.

Steps to reproduce:

Stores --> Attributes --> Product:
Add a new value to your attribute and click save. Expected result is the value gets saved to the

[2019-04-04 20:05] tomvoss opened #22168 "--no-interaction and -n parameters do not work with the setup:config:set CLI subcommand"
### Preconditions (*)

1. Magento CE 2.3.0
2. Previously migrated from Magento CE 1.8.0.0

### Steps to reproduce (*)

1. Run the command:

                             --cache-backend-redis-server='redis1.example.com' \\
                             --cache-backend-redis-db=0 \\
                             --cache-backend-redis-port=6379 \\
                             --page-cache='redis' \\

[2019-04-04 20:05] orlangur commented on #18302
@navarr,

Why we cannot revert such changes in backward-compatible manner?

[2019-04-04 20:09] tomvoss commented on #22168
@magento-engcom-team give me 2.3-develop instance

[2019-04-04 20:09] magento-engcom-team commented on #22168
Hi @tomvoss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-04 20:10] magento-engcom-team commented on #22168
Hi @tomvoss, here is your [Magento instance](https://i-22168-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22168-2-3-develop.instances.magento-community.engineering/admin](https://i-22168-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-04 20:11] navarr commented on #18302
@orlangur Regarding the claim of 2.2.5; the 2.2.5 branch shows that magento/module-review is a requirement of magento/module-customer; so it should not have been disable-able.  I've not run any testing on that scenario, but if it was disable-able it would have been a mistake.

These changes cannot be made in a backward compatible manner due to the removal of an `@api` annotated class (a block) fro

[2019-04-04 20:21] tomvoss commented on #22168
I am unable to attempt to reproduce this issue according to Magento guidelines because I cannot access the command line. Is SSH access available? Is there another method I can use to run a single bin/magento subcommand then check the contents of app/etc/env.php?

[2019-04-04 20:33] orlangur commented on #18302
Thanks @navarr, so

statement is not true in fact.

If it was true, problematic changes could be reverted: no new `@api` annotated class could be added in a patch release.

So, there is no bug but mentioned change is useful from modularity perspective.

[2019-04-04 20:43] waldok commented on #7557
@richardgrey-netxtra, we have the same issue after upgrading to 2.2.8 from 2.2.7 (there was no issue on 2.2.7). Do you think this is caused by Magento bug or any 3rd party extension or theme? We have not tested yet on vanilla 2.2.8
Are you using WeltPixel Theme or any extensions from Mirasvit or Amasty?

[2019-04-04 21:35] geerlingguy commented on #21852
I get this error here and there when doing updates; note that my static content is in an NFS filesystem in production, so it is a little slow to read/write during static content deploy and setup:update. Just putting this out there, as I see it pop up in logs here and there, for no rhyme or reason. Usually the commands where I see it appear still work fine and complete though.

[2019-04-04 22:22] orlangur commented on #22153
@engcom-backlog-nazar your message does not make any sense to me :(

[2019-04-04 22:25] geerlingguy commented on #19597
It looks like this is still happening in Magento 2.3.1. It means that any time I deploy code using our automation, the deploy takes waaay longer than it needs to because it's always running `setup:upgrade` even when it's not needed.

[2019-04-04 23:27] CajuCLC commented on #19597
This is happening on a brand new installation:
[code]

It looks like a PR was created, but then the label was removed. Any update?

[2019-04-04 23:48] Adel-Magebinary commented on #6167
It's still slow in 2.3. 22835 products is taking 10 hours to save and locking up frontend.

[2019-04-05 03:43] vuongggggg commented on #20571
I just put here to show the way solving problem for anyone has the same case.

## My case-problem

I customized the routes for login flow because we use a third-party service instead the Magento login, then `customer-data` couldn't be loaded by default sections.

[code]

My customized route looks like:

[code]

I mean my problem not came from the header. IMO, the problem that I was not follow the

[2019-04-05 03:59] bastianhilton commented on #4617
this is far from resolved but as usual it works for some but for others it doesn't but the community closes the issue. Is there a fix to this or at least provide us with a upload option for extensions through the install

[2019-04-05 04:14] iamlolz commented on #22143
I am also experiencing this issue with a fresh install using
Magento 2.3.1
PHP 7.2.16
Centos 7.6.1810
Nginx 1.15.2
MySQL 5.6.43

[2019-04-05 06:13] nadeefit6 commented on #10704
Issue is still reproducing in 2.2.7.

[2019-04-05 06:34] rafaelcalero commented on #10704
+1

[2019-04-05 06:41] engcom-backlog-nazar commented on #22168
Hi @tomvoss thank you for oyu report, i'm not able to reproduce following steps you described.
![DeepinScreenshot_select-area_20190405093917](https://user-images.githubusercontent.com/40756439/55608310-da3a5180-5786-11e9-8653-08a48966e564.png)
![DeepinScreenshot_select-area_20190405093943](https://user-images.githubusercontent.com/40756439/55608311-dad2e800-5786-11e9-8bd8-2a522a90818c.png)

proble

[2019-04-05 06:41] #22168 closed, assigned to nobody

[2019-04-05 06:43] engcom-backlog-nazar commented on #22167
Hi @ryanandersonLCI
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-05 06:43] #22167 closed, assigned to nobody

[2019-04-05 06:46] engcom-backlog-nazar commented on #22165
Hi @a7medeeuae
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-05 06:46] #22165 closed, assigned to nobody

[2019-04-05 06:51] engcom-backlog-nazar commented on #11380
Hi @cbend thank you for you report, the issue was tested and we can confirm that it's already fixed in 2.3-develop branch and available on 2.3.1 release -> https://github.com/magento/magento2/pull/11683

[2019-04-05 06:51] #11380 closed, assigned to serhii-balko

[2019-04-05 06:56] engcom-backlog-nazar commented on #7917
Hi folks, i'm closing this as this now not reproducing at 2.3-develop branch, have only issue with -> https://github.com/magento/magento2/issues/20684 , feel free to reopen if issue still exist.

[2019-04-05 06:56] #7917 closed, assigned to nobody

[2019-04-05 07:03] engcom-backlog-nazar commented on #13191
Hi @danbuchal thank you for you report, this issue has already been fixed by this commit 95d17ee6a5ec5375dd2ef7934d1b4f501ba29080

[2019-04-05 07:03] #13191 closed, assigned to AleksLi

[2019-04-05 07:07] EChandresh commented on #20004
Is it resolved?

[2019-04-05 07:11] engcom-backlog-nazar commented on #12910
HI @Detzler thank you for your report, you cannot cancel invoiced order, only do the credit memo, wich is available
**No possibility to create a creditmemo which closes the order automatically**
![DeepinScreenshot_select-area_20190405100841](https://user-images.githubusercontent.com/40756439/55610086-df999b00-578a-11e9-9dc3-a1e47f2d5a81.png)

[2019-04-05 07:11] #12910 closed, assigned to nobody

[2019-04-05 07:13] engcom-backlog-nazar commented on #22097
HI @williambize please describe issue in correct way, and after you do this  please reopen, thank you.

[2019-04-05 07:13] #22097 closed, assigned to nobody

[2019-04-05 07:14] dandelionred commented on #7917
@engcom-backlog-nazar I explained the whole problem behind the issue in https://github.com/magento/magento2/issues/7917#issuecomment-453583809, https://github.com/magento/magento2/issues/7917#issuecomment-453658759 and https://github.com/magento/magento2/issues/7917#issuecomment-453690781

Nothing has changed on the 2.3-develop branch:
- .htaccess still has
  `php_value memory_limit 756M`
- nginx.

[2019-04-05 07:15] Detzler commented on #12910
Which order status do you see after creating a credit memo with a full refund?

[2019-04-05 07:22] dandelionred commented on #20684
@kalalruturaj Have you tried raising memory_limit for php? In my case the 756M stock memory limit in the stock magento configs (both apache and nginx ones) was the problem. Try raising it to 2G as the docs recommend for setup tasks.

https://github.com/magento/magento2/issues/7917#issuecomment-453658759

[2019-04-05 07:28] engcom-backlog-nazar commented on #12910
@Detzler after create the "credit memo", you cannot   do anything  with order. https://github.com/magento/magento2/issues/18509#issuecomment-442742113

[2019-04-05 07:29] mohith-ecommerce opened #22169 "Typo issue:Magento admin store configuration general web Base url place holder comment spelling mistake"
There are typo errors found on the Magento admin panel. Please review Base url (secure) . You will find typo error for the place holder comment. In the Base url, the comment should be
Specify URL or placeholder  instead of Specify URL or , or  placeholder.

### Preconditions (*)
1. Magento 2.2.x
2. Magento 2.3.x

### Steps to reproduce (*)
1. Login to Magento admin
2. stores > configuration > gene

[2019-04-05 07:32] engcom-backlog-nazar commented on #22158
HI @laykinx thank you for you report, this issue is not reproducing on latest 2.3.1 version and on 2.2.8. please try upgrading.

[2019-04-05 07:32] #22158 closed, assigned to nobody

[2019-04-05 07:38] magento-engcom-team commented on #22169
@amjadm61 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-05 07:38] amenk commented on #14952
Not fixed in 2.2.8 - in 2.2.6 it was working I think

[2019-04-05 07:38] magento-engcom-team commented on #22169
:white_check_mark: Confirmed by @amjadm61
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-04-05 07:39] Detzler commented on #12910
@engcom-backlog-nazar, at the time I created this github issue (2017-12), magento worked like this:

- create an order
- create a full invoice
- create a full credit memo
- the orders status is not complete nor closed. It had order status "in processing", which is incorrect to me. The order should be in status "closed", "complete" or even a new one "refunded", but not in "processing".

Now it's ye

[2019-04-05 07:43] engcom-backlog-nazar commented on #13689
Still reproducing at 2.3-develop branch.
![DeepinScreenshot_select-area_20190405104325](https://user-images.githubusercontent.com/40756439/55611935-a7e12200-578f-11e9-8d23-c9e64b175cbc.png)

[2019-04-05 07:47] engcom-backlog-nazar commented on #12910
@Detzler in 2.3-develop branch status closed.
![DeepinScreenshot_select-area_20190405104648](https://user-images.githubusercontent.com/40756439/55612112-2a69e180-5790-11e9-8f51-9ae60ee4a4dc.png)

[2019-04-05 07:50] gwharton commented on #14952
I say again. This fix is scheduled for 2.2.9. In the meantime manually apply #18472.

[2019-04-05 07:59] ovidiucaramida commented on #15849
There is a module that can help you a lot when creating/editing products with swatches by showing you the colors and images in the product edit form

https://marketplace.magento.com/webpanda-product-form-swatches.html

[2019-04-05 08:16] nadeefit6 commented on #10704
Any update on a fix?

[2019-04-05 08:31] engcom-backlog-nazar commented on #14232
Hi @leoquijano thank you for you report, this issue has already fixed by this commit -> https://github.com/magento/magento2/commit/e22304a11d19cacc43a9df689eff9ce4f16a3c89 in 2.3-develop branch.

[2019-04-05 08:31] #14232 closed, assigned to nobody

[2019-04-05 08:58] Userr017 commented on #22045
It is there any temporary solution to hide product page paypal buttons?

[2019-04-05 09:03] anasmansuri1989 commented on #13594
@maximehuran  - Not working. I'm using magento2.2.3
`"message":"Carrier with such method not found: %1, %2","parameters":["matrixrate","matrixrate_57395"],"trace":"#0 [internal function]: Magento\\Checkout\\Model\\ShippingInformationManagement->saveAddressInformation(18678, Object(Magento\\Checkout\\Model\\ShippingInformation))\n#1 \/home\/apps2\/public_html\/vendor\/magento\/module-webapi\/Contro

[2019-04-05 09:15] tillemann98 commented on #6073
This issue is still not fixed.
Magento 2.3.1

[2019-04-05 09:19] OlehWolf commented on #13224
This issue appears only when you first time go to System section and without saving reload the page.
Its because Magento\PageCache\Model\System\Config\Backend\Varnish in method _afterLoad it saves default values if values wasn't saved before.
`$data = $this->_getDefaultValues();
        $currentValue = $this->getValue();
        if (!$currentValue) {
            foreach ($data as $field => $value)

[2019-04-05 09:27] Bravarg opened #22172 "Configuration -> Advanced -> System ERROR"
### Preconditions (*)

1. Magento 2.2-develop

### Steps to reproduce (*)

1. Install magento
2. Go to admin -> stores -> configurations -> advanced -> system
3. Reload page WITHOUT SAVING configurations.

### Expected result (*)

1. Page reloads without errors and with content

### Actual result (*)

1. Page content empty because of errors, that appears in developer mode:
4 exception(s):
Exceptio

[2019-04-05 09:35] sumeetmobiwebtech commented on #14952
i am getting this issue on magento 2.2.5 version
please help
how to solve that issues ?
please.

[2019-04-05 10:00] gwharton opened #22173 "dd/mm mm/yy Sales order grid Date Filters not working in en_GB locale"
### Preconditions (*)

1. Magento 2.2-develop or 2.3-develop
2. Deploy using locale en_GB
3. Change admin locale to en_GB

### Steps to reproduce (*)
1. Create test product and create test order
2. View Sales order grid
3. Set a date filter to include the order date in From and To

### Expected result (*)
1. Order should be visible

### Actual result (*)
1. Order is not visible

In my test case, 5

[2019-04-05 10:00] gwharton commented on #22173
Confirmed on vanilla 2.2-develop and 2.3-develop

[2019-04-05 10:02] gwharton commented on #22173
On my production store which has many many orders, if I enter the dates 01/04/2019 to 31/04/2019, I was expecting to see all April's orders. Instead I see orders from 4th January to 4th May (well actually, 4th of the current month!).

This confirms a mm/dd dd/mm issue.

[2019-04-05 10:09] xsanza9 commented on #11283
Hello,

Maybe a  hint, We had this same exact problem after upgrading from PHP 7.1.25 to PHP 7.1.27

Thank you

[2019-04-05 10:09] gwharton commented on #22173
Also bump for #10663 which remains unresolved a year and a half after opening and may be related, infact, could be the underlying cause for all of the timezone issues, that have had hacks added to make work.

[2019-04-05 10:12] magento-engcom-team commented on #22169
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99065`, `MAGETWO-99066` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-05 10:14] gwharton commented on #17691
Confirm still broken in 2.2.8...... yawn!

[2019-04-05 10:17] shikhamis11 commented on #22172
@magento-engcom-team give me 2.3-develop instance

[2019-04-05 10:17] magento-engcom-team commented on #22172
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-05 10:18] magento-engcom-team commented on #22172
Hi @shikhamis11, here is your [Magento instance](https://i-22172-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22172-2-3-develop.instances.magento-community.engineering/admin](https://i-22172-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-05 10:18] aliasifmse commented on #6655
how about configuring nginx documentroot to server without pub , if url contains setup ?

[2019-04-05 10:24] swnsma commented on #22162
Double checked:
In case of 1-1 relation, MySQL is optimized enough to handle multiple number of left joins without performance degradation.
Other cases is not relevant for extension attributes join directive.

[2019-04-05 10:24] #22162 closed, assigned to nobody

[2019-04-05 10:26] engcom-backlog-nazar commented on #22172
Hi @OlehWolf hi @shikhamis11 i'm also facing this issue with varnish configuration, but this is random.

[2019-04-05 10:27] shikhamis11 commented on #22172
@OlehWolf this issue is not reproducible at current magento 2.3-develop instance . Please check if you are able to reproduce it or not ? Also check if you need to change the issue summary to update the steps to reproduce the issue

[2019-04-05 10:29] shikhamis11 commented on #22172
@engcom-backlog-nazar Thanks for the information

[2019-04-05 10:30] OlehWolf commented on #22172
@magento-engcom-team give me 2.3-develop instance

[2019-04-05 10:30] magento-engcom-team commented on #22172
Hi @OlehWolf. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-05 10:30] magento-engcom-team commented on #22172
Hi @OlehWolf, here is your [Magento instance](https://i-22172-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22172-2-3-develop.instances.magento-community.engineering/admin](https://i-22172-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-05 10:42] magento-engcom-team commented on #22084
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99067`, `MAGETWO-99068` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-05 10:56] OlehWolf commented on #22172
@magento-engcom-team give me 2.2-develop instance

[2019-04-05 10:56] magento-engcom-team commented on #22172
Hi @OlehWolf. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-05 10:57] magento-engcom-team commented on #22172
Hi @OlehWolf, here is your [Magento instance](https://i-22172-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22172-2-2-develop.instances.magento-community.engineering/admin](https://i-22172-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-05 10:59] OlehWolf commented on #22172
@shikhamis11 Sorry, in newest 2.3-develop I wasn't able to reproduce, but in 2.2-develop issue still exists.

[2019-04-05 11:03] sumeetmobiwebtech commented on #14952
@msawyers Thank you so much

[2019-04-05 11:11] wsajosh opened #22175 "Reorder configurable product adds 2nd invalid simple product to shipping request"
### Preconditions (*)
Reproduced on Magento 2.2.8 and 2.3-develop

Enable UPS XML (or any other live rate carrier) and set a debug point in the collectRates function. E.g: app/code/Magento/Ups/Model/Carrier.php::collectRates() around line 215. The goal of this is to inspect the $request variable. This won't affect UPS but is the simplest way to highlight the issue. It will affect any module which

[2019-04-05 11:17] mapescador-integramedia opened #22176 "Offline Payment Methods not decrease Stock on Place Order"
### Preconditions (*)

1. Magento 2.1.16 (possible others)
2. Stores->Configuration->Catalog->Inventory->Stock Options->display Out of Stock Products=Yes

### Steps to reproduce (*)

1. Place an Order with offline payment method (Bank Transfer, Cash on delivery)

### Expected result (*)

1. Stock of products decrease.

### Actual result (*)
1. Stock not decrease

### Posible Cause
Event Observer M

[2019-04-05 11:21] magento-engcom-team commented on #22067
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99069` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-05 11:34] engcom-backlog-nazar commented on #22176
Hi @mapescador-integramedia thank you for you report, We no longer accept pull requests to the v2.1 or v2.0 release lines to focus all development efforts on v2.3 and v2.2.
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html
Thanks for collaboration, This issue will help people who discovered this issue on 2.1 version

[2019-04-05 11:34] #22176 closed, assigned to nobody

[2019-04-05 12:02] engcom-backlog-nazar commented on #18410
Hi @RishabhRkRai thank you for you report, this issue was retested and we can confirm that issue has already fixed in 2.3-develop branch and available on 2.3.1 release.
![deepin-screen-recorder_Select area_20190405145943](https://user-images.githubusercontent.com/40756439/55626276-c0633380-57b3-11e9-83fc-40a551299e17.gif)

[2019-04-05 12:02] #18410 closed, assigned to nobody

[2019-04-05 12:09] orlangur commented on #22175
@wsajosh is there only `$request->getAllItems()`? There is no something like `$request->getAllVisibleItems()`?

[2019-04-05 12:15] jwilliamson1098 commented on #21997
@magento-engcom-team Yes I was able to reproduce it on 2.3.x

[2019-04-05 12:38] rogyar commented on #18548
@magento-engcom-team give me 2.2-develop instance

[2019-04-05 12:38] magento-engcom-team commented on #18548
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-05 12:38] magento-engcom-team commented on #18548
Hi @rogyar, here is your [Magento instance](https://i-18548-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-18548-2-2-develop.instances.magento-community.engineering/admin](https://i-18548-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-05 12:39] magento-engcom-team commented on #22172
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99070` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-05 12:46] magento-engcom-team commented on #18548
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99072` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-05 14:04] magento-engcom-team commented on #21134
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#22086 by @wojtekn in 2.2-develop branch
Related commit(s):
 - [a1d6ed616b6d59c5238f102281fb36482a41acfd](https://github.com/magento/magento2/commit/a1d6ed616b6d59c5238f102281fb36482a41acfd)
 - [a7511e0bff4355b71bc21438ab333fcb04672e17](https://github.com/magento/magento2/commit/a7511e0bff4355b71bc21438ab333fcb0467

[2019-04-05 14:04] magento-engcom-team commented on #21499
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#21512 by @lfluvisotto in 2.2-develop branch
Related commit(s):
 - [5a736409eef6c7841f4a6fc8f3a7a8a8affd2a32](https://github.com/magento/magento2/commit/5a736409eef6c7841f4a6fc8f3a7a8a8affd2a32)
 - [f4a83f6344c6fc11400fcd0e8d206ec206c9f37c](https://github.com/magento/magento2/commit/f4a83f6344c6fc11400fcd0e8d206ec2

[2019-04-05 14:04] magento-engcom-team commented on #14926
Hi @Poonika. Thank you for your report.
The issue has been fixed in magento/magento2#22037 by @larsroettig in 2.2-develop branch
Related commit(s):
 - [d91acbe552375ce794e97894644afe7851ca201f](https://github.com/magento/magento2/commit/d91acbe552375ce794e97894644afe7851ca201f)
 - [91410778d09b45bd2582683b88ff6169ac7898eb](https://github.com/magento/magento2/commit/91410778d09b45bd2582683b88ff6169

[2019-04-05 14:04] magento-engcom-team commented on #18752
Hi @adammprost. Thank you for your report.
The issue has been fixed in magento/magento2#22037 by @larsroettig in 2.2-develop branch
Related commit(s):
 - [d91acbe552375ce794e97894644afe7851ca201f](https://github.com/magento/magento2/commit/d91acbe552375ce794e97894644afe7851ca201f)
 - [91410778d09b45bd2582683b88ff6169ac7898eb](https://github.com/magento/magento2/commit/91410778d09b45bd2582683b88ff6

[2019-04-05 14:38] orlangur commented on #12354
Similar to https://github.com/magento/magento2/issues/3147 and https://github.com/magento/magento2/issues/12502 this is a `non-issue`.

[2019-04-05 14:38] #12354 closed, assigned to rav-redchamps

[2019-04-05 15:20] magento-engcom-team commented on #13951
Hi @Kasoi-free. Thank you for your report.
The issue has been fixed in magento/magento2#18386 by @Thundar in 2.3-develop branch
Related commit(s):
 - [bd224a503ed8497fde59eb40175d5a603e771b35](https://github.com/magento/magento2/commit/bd224a503ed8497fde59eb40175d5a603e771b35)
 - [34fdfec0938b2305a3164f3360e931d3486d6515](https://github.com/magento/magento2/commit/34fdfec0938b2305a3164f3360e931d34

[2019-04-05 15:20] magento-engcom-team commented on #21755
Hi @bnymn. Thank you for your report.
The issue has been fixed in magento/magento2#21767 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [c3e4f07b3d377dce75c3968d2d9ced1c3d31538f](https://github.com/magento/magento2/commit/c3e4f07b3d377dce75c3968d2d9ced1c3d31538f)
 - [2e0a846b0b0d3bdcac0786ed7e91eaf96c0d501e](https://github.com/magento/magento2/commit/2e0a846b0b0d3bdcac0786ed7e91eaf96c0d50

[2019-04-05 15:20] #21755 closed, assigned to Nazar65

[2019-04-05 15:20] magento-engcom-team commented on #19761
Hi @jaimin-ktpl. Thank you for your report.
The issue has been fixed in magento/magento2#19765 by @jaimin-ktpl in 2.3-develop branch
Related commit(s):
 - [6b9aa47cc9bb2574360858802444e546b091dbf9](https://github.com/magento/magento2/commit/6b9aa47cc9bb2574360858802444e546b091dbf9)
 - [939b665d3b2b8e0f717c61a8c746b6a602156724](https://github.com/magento/magento2/commit/939b665d3b2b8e0f717c61a8c746

[2019-04-05 15:20] #19761 closed, assigned to jaimin-ktpl

[2019-04-05 16:31] fabis94 commented on #2540
Can confirm that this STILL happens on 2.3 when calling multiple 'Get a request token' requests in succession during development...

[2019-04-05 17:41] magento-engcom-team commented on #22119
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-05 17:41] magento-engcom-team commented on #22119
Hi @jayankaghosh, here is your [Magento instance](https://i-22119-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22119-2-3-develop.instances.magento-community.engineering/admin](https://i-22119-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-05 17:58] nickpiro commented on #22121
I can confirm this issue is also happening on 2.2.8

[2019-04-05 19:01] lfluvisotto commented on #22090
@magento-engcom-team give me 2.3.1 instance

[2019-04-05 19:01] magento-engcom-team commented on #22090
Hi @lfluvisotto. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-05 19:02] magento-engcom-team commented on #22090
Hi @lfluvisotto, here is your [Magento instance](https://i-22090-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22090-2-3-1.instances.magento-community.engineering/admin](https://i-22090-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-05 19:14] durexlovesex commented on #12312
@atsareva
Magento PageCache module changes private_content_version cookie here:
```vendor/magento/module-page-cache/Model/App/FrontController/BuiltinPlugin.php```

[2019-04-05 19:19] durexlovesex commented on #12312
Hello,
Magento Page Cache module changes privat content version cookie each post request.
So make a plugin for this place and add your check:
```http/vendor/magento/framework/App/PageCache/Version.php```

[2019-04-05 19:38] hostep commented on #22169
Expected result is incorrect. This is the expected result (taken from a Magento 2.1.17 installation):

<img width="1226" alt="Screenshot 2019-04-05 at 21 36 33" src="https://user-images.githubusercontent.com/85479/55652182-16070280-57eb-11e9-9ffc-1ad46cc34489.png">

[2019-04-05 22:34] bman0147 commented on #4617
Ok I just got this working, same issue, I just decided to delete the auth.json file and then I was prompted for the user name and password "Authkeys" and it worked

[2019-04-05 23:01] bastianhilton commented on #4617
i fixed my issue as well, once i connected my install to the marketplace with my keys it worked like a charm when attempting to install extensions via the command line.

[2019-04-06 05:47] neeta-wagento commented on #22173
@gwharton : This will work when both the timezones are equal Server's time and Magento's timezone!

[2019-04-06 07:35] gwharton commented on #22173
My server timezone, php.ini timezone, magento timezone are the same. This is new behaviour since the 2.2.8 update.

[2019-04-06 07:39] Hailong opened #22183 "Empty LESS source file causes setup:static-content:deploy command fail"
### Preconditions (*)

1. 3.2-develop

### Steps to reproduce (*)

1. Clone the latest code from 3.2-develop branch.
2. Setup a new site.
3. Add an empty LESS file (or with some comments in it) to `app/design/frontend/Magento/blank/web/css/test-empty.less`
4. Edit `app/design/frontend/Magento/blank/Magento_Theme/layout/default_head_blocks.xml` file to include it with `<css src="css/test-empty.css"

[2019-04-06 08:15] orlangur commented on #22169
Thanks @hostep, I've edited description.

[2019-04-06 09:53] himanshu-limbani commented on #20004
Not yet

[2019-04-06 09:59] afavata commented on #22045
@Nazar65 Hi... may you figure out how to disable temporary the buttons modifing codes?
Purchasers are leaving the website as the cannot finalized payment.

Thanks

[2019-04-06 11:26] riyajalijunakiya commented on #10175
Downgrade php to 7.0 from 7.1 its solve issue for me.

[2019-04-06 12:13] dmanners commented on #14081
Hi @maximehuran was this issue fixed with the pull request https://github.com/magento/magento2/pull/14314 I see a comment on you pull request linking to this one.

[2019-04-06 13:18] nickpiro commented on #12028
This step:
If product price for Downloadable Product is 0
Go to Stores > Sales > Payment Methods > Other Payment Methods > Zero Subtotal Checkout
New Order Status > Choose Processing
Automatically Invoice All Items > Choose Yes

Doesn't work if you put real world orders through as $0 dollars sometimes, let's say for promotions etc that a sales rep would put an order in for $0.

Invoicing an order

[2019-04-06 13:40] Nazar65 commented on #22045
Hi @afavata, currently i'm working on this, i will leave a temporary fix here as soon as possible.

[2019-04-06 13:44] afavata commented on #22045
Thanks Indeed!!!

[2019-04-06 13:56] orlangur commented on #14081
@dmanners did you read comments in PR? It seems to be reverted afterwards.

[2019-04-06 14:42] dmanners commented on #14081
Hi @orlangur nope I did not ready all the comments at the end. GitHub does not do a great job of showing reverted PRs that have not been reverted via github itself

[2019-04-06 14:47] nittn commented on #7917
Solved the same issue
local php values in .htaccess and .user.ini were overriding master php values in php.ini

increased php local memory_limit in .htaccess and .user.ini were 756M and increased to 2G
php master memory_limit was already 2G

hope this helps someone.

[2019-04-06 15:38] KhaledJoulani opened #22187 "Magento 2.3.1, Invalid URL key when saving category for store view"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2.15-0ubuntu0.18.04.2
3. nginx version: nginx/1.14.0

### Steps to reproduce (*)

You must have a second store view.
1. Create a category with an English name and save.
2. Select the category you just created and switch to the second store view.
3. Un-check Use Default Value for category name and rename the category using Arabic letters and save.
4.

[2019-04-06 15:42] KhaledJoulani commented on #22187
@magento-engcom-team give me 2.3.1-develop instance

[2019-04-06 15:42] magento-engcom-team commented on #22187
Hi @KhaledJoulani. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-04-06 16:00] KhaledJoulani commented on #22187
@magento-engcom-team give me 2.3-develop instance

[2019-04-06 16:00] magento-engcom-team commented on #22187
Hi @KhaledJoulani. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-06 16:01] magento-engcom-team commented on #22187
Hi @KhaledJoulani, here is your [Magento instance](https://i-22187-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22187-2-3-develop.instances.magento-community.engineering/admin](https://i-22187-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-06 16:15] Ctucker9233 commented on #21297
@chipbizz @engcom-backlog-nazar This issue was confirmed and fixed. It looks to be scheduled for 2.2.9 see #18954

[2019-04-06 16:17] KhaledJoulani commented on #22187
I confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce.
How do i actually confirm this ? the checkbox is disabled

[2019-04-06 17:12] Ctucker9233 commented on #16499
@TomashKhamlai Where's the PR for 2.2?

[2019-04-06 18:08] Ctucker9233 commented on #10790
Backport to 2.2 created #22188

[2019-04-06 18:20] shikhamis11 commented on #22187
@magento-engcom-team give me 2.3-develop instance

[2019-04-06 18:20] magento-engcom-team commented on #22187
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-06 18:20] magento-engcom-team commented on #22187
Hi @shikhamis11, here is your [Magento instance](https://i-22187-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22187-2-3-develop.instances.magento-community.engineering/admin](https://i-22187-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-06 18:21] Hailong commented on #22183
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-06 18:21] magento-engcom-team commented on #22183
Hi @Hailong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-06 18:22] magento-engcom-team commented on #22183
Hi @Hailong, here is your [Magento instance](https://i-22183-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22183-2-3-develop.instances.magento-community.engineering/admin](https://i-22183-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-06 18:28] Ctucker9233 commented on #15541
@TomashKhamlai Is this issue valid for backport to 2.2?

[2019-04-06 21:05] Ctucker9233 commented on #21696
@engcom-backlog-nazar that PR link goes to a 404 page. Can you fix the link and i'll attempt to backport.

[2019-04-06 21:13] orlangur commented on #14081
@dmanners yep, just fyi, I didn't even check whether it was really reverted.

[2019-04-07 01:38] benyang2015 opened #22189 "magento2.3.1 php bin/magento setup:upgrade error"
### Preconditions (*)

1.magento2.3.1
2.php7.2.16

### Steps to reproduce (*)

1.install new magento2.3.1  project
2.install completed,run php bin/magento setup:upgrade error
3.don't have any other plugin

### Expected result (*)

1. [Screenshots, logs or description]
2.PHP Fatal error:  Uncaught Error: Cannot instantiate interface Magento\Framework\HTTP\ClientInterface in public_html/vendor/magen

[2019-04-07 01:51] lfluvisotto opened #22190 "Exception (BadMethodCallException): Missing required argument $msrpPriceCalculators of Magento\Msrp\Pricing\MsrpPriceCalculator."
### Preconditions (*)
1. branch 2.3-develop
2. nginx 1.14.3
3. php 7.2.16
4. mysql 5.7.25

### Steps to reproduce (*)
1. fresh installation of branch 2.3-develop
2. disable the modules Magento_MsrpConfigurableProduct and Magento_MsrpGroupedProduct
3. create any simple product
4. create any category
5. add the created simple product to the created category
6. open the home page
7. try to open the c

[2019-04-07 01:54] lfluvisotto commented on #22190
In vanilla Magento instance is possible to simulate the issue if it's possible to disable the modules Magento_MsrpConfigurableProduct and Magento_MsrpGroupedProduct

[2019-04-07 03:09] vipin12117 commented on #21696
Currently we solved this problem by returned true in isValidHash function.

[2019-04-07 03:31] monotheist opened #22192 "Trailing slash on layered navigation filter pages results in 404 page not found"
### Preconditions (*)

1.Magento 2.3.1
2.

### Steps to reproduce (*)

1.Create a category
2.Create a product
3.Create attribute of any color and assign for example lets say blue color to the product
4.Go to the created category and select blue color to filter the product.
5.Go to browser URL and add trailing slash to the end of this URL

### Expected result (*)

1. Layered navigation filter page

[2019-04-07 03:32] ethniccode commented on #22192
@magento-engcom-team give me 2.3-develop instance

[2019-04-07 03:32] magento-engcom-team commented on #22192
Hi @ethniccode. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-07 03:32] magento-engcom-team commented on #22192
Hi @ethniccode, here is your [Magento instance](https://i-22192-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22192-2-3-develop.instances.magento-community.engineering/admin](https://i-22192-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-07 05:03] ethniccode commented on #22192
Closed. Not reproducible.

[2019-04-07 05:03] #22192 closed, assigned to nobody

[2019-04-07 05:56] nittn opened #22193 "2.3 to 2.3.1 System Upgrade Status: update application is running from 12 hours"
### Preconditions (*)

1. Magento 2.3 to Magento 2.3.1 system upgrade started - Apache Centos 7, php 7.2.15
![Screen Shot 2019-04-07 at 11 22 10 AM](https://user-images.githubusercontent.com/48263579/55679345-92066500-5927-11e9-9dc7-1e518528b56f.png)

### Steps to reproduce (*)

1. Login to magento admin >> system upgrade

### Expected result (*)

1. started at 20:42 UTC time
[Screenshots, logs or

[2019-04-07 05:59] #22193 closed, assigned to nobody

[2019-04-07 05:59] magento-engcom-team commented on #22193
Hi @nittn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-07 06:00] magento-engcom-team commented on #22193
Hi @nittn, here is your [Magento instance](https://i-22193-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22193-2-3-develop.instances.magento-community.engineering/admin](https://i-22193-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-07 06:01] magento-engcom-team commented on #22193
Hi @nittn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-07 06:01] magento-engcom-team commented on #22193
Hi @nittn, here is your [Magento instance](https://i-22193-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22193-2-3-develop.instances.magento-community.engineering/admin](https://i-22193-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-07 07:30] hostep commented on #18519
Confirmed on latest 2.3-develop branch (used commit 5791131b556)

### Steps to reproduce
- Setup vanilla Magento installation
- Run `bin/magento config:set dev/translate_inline/active 1` (activates the inline translation feature)
- Run `bin/magento config:set dev/restrict/allow_ips 1.2.3.4` (use an IP which is not your own, so you don't see the inline translation active on the frontend)
- Put Mage

[2019-04-07 07:51] hostep commented on #22090
@williankeller: you might want to follow https://github.com/magento/magento2/issues/22190 & possible solution: https://github.com/magento/magento2/pull/22191

[2019-04-07 10:53] magento-engcom-team commented on #22187
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99081` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-07 11:00] shikhamis11 commented on #22187
@magento-engcom-team give me 2.2-develop instance

[2019-04-07 11:00] magento-engcom-team commented on #22187
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-07 11:01] magento-engcom-team commented on #22187
Hi @shikhamis11, here is your [Magento instance](https://i-22187-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22187-2-2-develop.instances.magento-community.engineering/admin](https://i-22187-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-07 12:39] magento-engcom-team commented on #22190
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99082` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-07 12:47] davidverholen commented on #19581
already fixed in 2.2 and 2.3
see https://github.com/magento/magento2/issues/18688

[2019-04-07 12:47] #19581 closed, assigned to nobody

[2019-04-07 16:10] shikhamis11 commented on #22187
it's may be related to #13689

[2019-04-07 16:15] KhaledJoulani commented on #22187
Wow it's been a year on the related issue you linked, no one fixed it ?

[2019-04-07 16:32] hostep commented on #22187
And probably also related to https://github.com/magento/magento2/issues/20879
Magento is working on adding Japanese support for url's in https://github.com/magento/magento2-jp/pull/77, and this solution will probably be generalised for other languages later on I'm guessing.
Maybe @vkublytskyi can help out here?

[2019-04-07 17:10] JuKaCo commented on #9173
u are an id!ot

[2019-04-07 18:03] evagabond commented on #19590
Yes for me too it was due to similar issue viz. key mismatch.

I was trying to create a local copy of my remote site. I copied all the files from the remote site, but tried to use the old 'env.php' file that existed in the local site. Once I used the 'env.php' file of the remote site, this error has gone!

[2019-04-07 23:19] c-doug opened #22196 "200 Response Code When Exception is Thrown During Bootstrap"
### Preconditions (*)

1. Version 2.4-develop
2. PHP 7.2

### Steps to reproduce (*)

1. Force any exception to be thrown during the bootstrapping process so that Magento\Framework\App\Bootstrap calls its terminate() function.

For example:
In `\Magento\Catalog\Controller\Category\View::__construct`
add new line:
`throw new \Throwable('New exception');`

2. Send GET request to http://{base_url}/ca

[2019-04-08 02:42] lfluvisotto commented on #22090
@williankeller @hostep

My pull request https://github.com/magento/magento2/pull/22191 is wrong, it's generating > Circular sequence reference > after I double check it

If you're experiencing the issue in some server, make sure at least that MsrpConfigurableProduct and MsrpGroupedProduct are enabled.

[2019-04-08 04:28] mahanmp commented on #4281
this happens even not using HHVM with magento 2.3.1

I followed the instructions here https://devdocs.magento.com/guides/v2.3/install-gde/composer.html

and I am currently using PHP 7.2.16-1+ubuntu18.04.1+deb.sury.org+1 (cli) (built: Mar  7 2019 20:23:29) ( NTS )

here's my flags

[code]

my php PDO Setup is
pdo_mysql.default_socket | /var/run/mysqld/mysqld.sock | /var/run/mysqld/mysqld.sock

[2019-04-08 04:34] netorica opened #22198 "Magento 2.3 Command line installation issue : Connection "default" is not defined"
### Preconditions (*)

1. Magento 2.3.1
2. Ubuntu 18.04 LTS
3. PHP 7.2.16-1+ubuntu18.04.1+deb.sury.org+1 (cli) (built: Mar 7 2019 20:23:29) ( NTS )
4. MySQL 5.6.43-84.3 Percona Server (GPL), Release 84.3, Revision 71967c9
5. Composer 1.9-dev (using composer.phar)
6. /var/run/mysqld/mysqld.sock exist
7. PDO config pdo_mysql.default_socket points to /var/run/mysqld/mysqld.sock (reference to this iss

[2019-04-08 04:37] wexo-team opened #22199 "A bug with health_check.php"
### Preconditions (*)
1. Magento 2.2.8
2. Varnish set up with a health_check.php script for the backend

### Steps to reproduce (*)
1. Flush or disable the cache on the installation.
2. Visit health_check.php script. It should respond with 500 since the shutdown handler gets called and get_last_error in it returns a deprecation warning from the mcrypt functions.

### Expected result (*)

1. health

[2019-04-08 06:50] TomashKhamlai commented on #15541
@Ctucker9233, yes, but I am not sure that this is easy task.

[2019-04-08 07:02] TomashKhamlai commented on #16499
@Ctucker9233, maybe this one #17515

[2019-04-08 07:13] engcom-backlog-nazar commented on #22198
HI @mahanmp thank you for you report, this issue related to your configuration, please verify all your settings, and try again, i believe that you are missed something in your environment config.

[2019-04-08 07:13] #22198 closed, assigned to nobody

[2019-04-08 08:01] engcom-backlog-nazar commented on #22189
Hi @benyang2015 thank you for you report, this issue related to your, configuration , please verify that you have correct permission on folders, also try to clear generated folder, I'm closing this as this is not reproducible.

[2019-04-08 08:01] #22189 closed, assigned to nobody

[2019-04-08 08:22] mahanmp commented on #22198
Can you lead me to a possible config that i missed with this kind of error?
I tried to put incorrect database credentials and it seems to show a different error which is mysql error.

[2019-04-08 08:27] engcom-backlog-nazar commented on #22198
@mahanmp  **Composer 1.9-dev (using composer.phar)** can you try with non dev version ?

[2019-04-08 08:30] magento-engcom-team commented on #22065
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99083`, `MAGETWO-99084` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-08 08:41] dmanners commented on #22187
In my view this is a duplicate of https://github.com/magento/magento2/issues/22187 so I will close this. I know that we have a module in the Japanese localization project that is aiming at URLRewrites https://github.com/magento/magento2-jp/tree/2.3-develop/JapaneseUrlRewrite and I think this would be a good module or fixes to have in the main repository as well.

Thank you for raising this issue p

[2019-04-08 08:41] #22187 closed, assigned to nobody

[2019-04-08 09:02] devchris79 opened #22209 "Concern with Elasticsearch migration"
I have concerns with the SQL search being depreciated and replaced with Elasticsearch, our cloud server hosted by Siteground doesn't support Java Development Kit that is required and they also say that there is quite a resource requirement if they were able to support. Unless we upgrade to a very expensive dedicated server plan the latest Magento versions going forward may not work without 3rd par

[2019-04-08 09:06] engcom-backlog-nazar commented on #21696
@Ctucker9233 this link to private repository, this already fixed in 2.2-dev branch. thanks for collaboration :+1:

[2019-04-08 09:06] #21696 closed, assigned to nobody

[2019-04-08 09:14] engcom-backlog-nazar commented on #22209
Hi @devchris79
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-08 09:14] #22209 closed, assigned to nobody

[2019-04-08 09:26] mahanmp commented on #22198
I tried to use the latest snapshot now https://getcomposer.org/download/1.8.4/composer.phar which is Composer version 1.8.4 2019-02-11 10:52:10
And i still get the same issue.

I would suggest that you try the same Preconditions that I did above as that it's an acceptable as a normal conditions in most of the configurations.

[2019-04-08 09:35] engcom-backlog-nazar commented on #22196
HI @c-doug thank you for you report, but such changes is not applicable, we don't need to change system behavior, as this may be broke the 3th party extension.

[2019-04-08 10:06] ahentea commented on #21957
Clearing redis cache ( `redis-cli flushall` ) resolved the issue for me.

[2019-04-08 10:10] magento-engcom-team commented on #22164
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99086` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-08 10:42] engcom-backlog-nazar commented on #22159
Hi @francescorm thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/9186

[2019-04-08 10:42] #22159 closed, assigned to nobody

[2019-04-08 11:10] mahanmp commented on #22198
I captured the issue, the issue was the opcache.enable_cli was enabled. Is this intentional?

[2019-04-08 11:36] magento-engcom-team commented on #20140
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21948 by @shrinet in 2.3-develop branch
Related commit(s):
 - [120a8c06ab4b5d12a0e56ce93590870e1b752fe1](https://github.com/magento/magento2/commit/120a8c06ab4b5d12a0e56ce93590870e1b752fe1)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-08 11:36] magento-engcom-team commented on #21244
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#21948 by @shrinet in 2.3-develop branch
Related commit(s):
 - [120a8c06ab4b5d12a0e56ce93590870e1b752fe1](https://github.com/magento/magento2/commit/120a8c06ab4b5d12a0e56ce93590870e1b752fe1)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-08 11:36] magento-engcom-team commented on #21926
Hi @likemusic. Thank you for your report.
The issue has been fixed in magento/magento2#21928 by @likemusic in 2.3-develop branch
Related commit(s):
 - [d073b0c6367c492637ce1aa8f007b5310a72825a](https://github.com/magento/magento2/commit/d073b0c6367c492637ce1aa8f007b5310a72825a)
 - [b82503ae50f324ce9fb5add2b5e21159567b2412](https://github.com/magento/magento2/commit/b82503ae50f324ce9fb5add2b5e21159

[2019-04-08 11:36] #21926 closed, assigned to likemusic

[2019-04-08 11:36] magento-engcom-team commented on #19909
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#21008 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [fa22418f6f0fd629b440c171e883d6242c0f32bb](https://github.com/magento/magento2/commit/fa22418f6f0fd629b440c171e883d6242c0f32bb)
 - [f35392661962f824a474a260618a9bb8ec41549e](https://github.com/magento/magento2/commit/f35392661962f824a474a260618a9bb8e

[2019-04-08 11:36] #19909 closed, assigned to eduard13

[2019-04-08 12:25] drinkingsouls commented on #15638
I also have this problem in fresh install. Disabled Klarna but the issue persists.

[2019-04-08 13:05] drazulay commented on #19603
I can't believe there's been no response. This raises concerns for us who are diligent to update our stores!

[2019-04-08 13:26] Darkwolf81 opened #22215 "2.3.1 REST-API: order: custom product price not accepted"
### Preconditions (*)

1. Magento 2.3.0 / 2.3.1
2. At least 1 product / customer

### Steps to reproduce (*)

1. Create an order with rest api
2. Set custom price in cart_item

### Expected result (*)

1. The given price is used for this product

### Actual result (*)

1. price is ignored / overridden with the original price

I used the same logic in Magento 1, there the custom price is used in th

[2019-04-08 13:36] Darkwolf81 commented on #22215
@magento-engcom-team give me 2.3-develop instance

[2019-04-08 13:36] magento-engcom-team commented on #22215
Hi @Darkwolf81. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-08 13:37] magento-engcom-team commented on #22215
Hi @Darkwolf81, here is your [Magento instance](https://i-22215-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22215-2-3-develop.instances.magento-community.engineering/admin](https://i-22215-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-08 13:55] Darkwolf81 commented on #22215
I could reproduct the issue in vanilla magento. Product price is 17 $, API custom price was 9 $, order is still 17 $.

[2019-04-08 14:00] hostep commented on #15638
@drinkingsouls: it might help if you read the entire thread of https://github.com/magento/magento2/issues/11577, there are some useful comments there which might steer you in the right direction. Good luck! :)

[2019-04-08 14:00] c-doug commented on #22196
@engcom-backlog-nazar What 3rd party extension are you referring to? Could you provide more detail? A critical exception in the bootstrap returning a 200 response code is not logical.

[2019-04-08 14:18] Stoyvo commented on #22196
@engcom-backlog-nazar

Please explain under what circumstances is this code NOT a 500 error?
[code]
`vendor/magento/framework/App/Bootstrap.php`

[2019-04-08 14:19] slackerzz commented on #19694
This somehow depends from system locale, we had the same problem after upgrading from PHP 7.0.x to 7.1.x.
Setting the system locale to en_US.utf8 (it was it_IT.utf8) fixed the issue

[2019-04-08 15:05] MarinaBonbonRose commented on #12483
Hello, same problem for me. Migrated from m1.7 to m2-2.2.6.
I'm not sure to turn off this cron, is there any other consequence ?
Any other solutions?

[2019-04-08 15:31] TonyRutherford1 commented on #13952
Also having this issue with 2.3.0 randomly. Any fix or workaround?

[2019-04-08 15:44] phoenix128 commented on #21916
My PR (https://github.com/magento/magento2/pull/22046/files) is in WIP status, but I am almost there to fix it. Seems like the issue is divided in two different aspects and now I fixed just one of them

[2019-04-08 15:50] ulukai-ork commented on #10697
Magento 2.3.1 still buggy :(

[2019-04-08 15:58] QuentinFarizonAfrimarket commented on #14166
Using benchmark.jmx from Magento EE 2.2.8, and Jmeter 3.1, issue is not solved, I'm getting the same error :
[code]

[2019-04-08 16:01] ulukai-ork commented on #10697
Magento 2.3.1 still buggy :(

[2019-04-08 16:43] nbennett25 opened #22221 "Ability to delete a Content Staging event"
### Preconditions (*)
Magento Commerce 2.3.0 / 2.3.1
At least 1 scheduled content update

### Steps to reproduce (*)
Create an scheduled content update

### Description (*)
Add ability to delete a scheduled content update.

### Expected behavior (*)
'Delete' button on Staging > Update > Edit screen, and/or Delete from row in grid view

### Benefits
Would allow removal of scheduled content changes

[2019-04-08 16:49] lucasvm opened #22222 "Magento 2.3 not saving image category"
### Summary (*)
When creating a new category or editing an existing one, we are not able to save a new image category or icon.

The image is being uploaded but not saved , so it will still show the old image, we can see the new image on server, but not saved.

### Examples (*)
We are using Magento 2.3.

### Proposed solution
Not sure whats the problem, we can updated the category icon or main imag

[2019-04-08 16:57] seyuf opened #22223 "Missing/Wrong data display on downloadable report table reports>downloads in BO"
### Preconditions (*)

1. At least Magento 2.1.11 to 2.3.1  are concerned

### Steps to reproduce (*)

1.Create 22 downloadable products
2.Order the 22 downloadable products
3. Complete the order in BO
3.Visit the downloadable links to download bought products (from frontend customer account)
4 Go go downloads reports table in the backoffice at *reports>downloads*

### Expected result (*)

1. Shou

[2019-04-08 16:59] seyuf commented on #22223
@magento-engcom-team give me 2.3-develop instance

[2019-04-08 16:59] magento-engcom-team commented on #22223
Hi @seyuf. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-08 17:13] phoenix128 commented on #21916
Update:
Pull request https://github.com/magento/magento2/pull/22046 seems to fix the issue.

[2019-04-08 17:23] magento-engcom-team commented on #19603
@tylerssn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow

[2019-04-08 17:24] magento-engcom-team commented on #19603
@tylerssn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow

[2019-04-08 17:25] magento-engcom-team commented on #19603
@tylerssn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once

[2019-04-08 17:31] magento-engcom-team commented on #19603
@tylerssn Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-08 17:31] mahesh-rajawat opened #22224 "Can not delete Attribute Set from Backend"
### Preconditions (*)

1. Magento 2.3.x
2.

### Steps to reproduce (*)

1. Create a new attribute or edit existing one.
2. Try to delete it.

### Expected result (*)

1.
![Screenshot](https://user-images.githubusercontent.com/32479280/55744171-ec9be000-5a51-11e9-8a24-c91d1aac325f.png)

2.

### Actual result (*)

1. It gives 404.
2.
![Screenshot](https://user-images.githubusercontent.com/32479280/5

[2019-04-08 17:32] magento-engcom-team commented on #19603
:white_check_mark: Confirmed by @tylerssn
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-04-08 17:37] magento-engcom-team commented on #22224
:white_check_mark: Confirmed by @maheshWebkul721
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-04-08 17:51] magento-engcom-team commented on #22224
:white_check_mark: Confirmed by @maheshWebkul721
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-04-08 18:33] orlangur commented on #22221
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2019-04-08 18:33] #22221 closed, assigned to nobody

[2019-04-08 18:50] davidalger commented on #15090
Run into this over here as well. Used this patch to workaround the issue for now (I may submit a PR if I can find the time this week but want to share here in case I don't):

[code]

I'm applying this to the site we ran into it on using this atm: https://github.com/cweagans/composer-patches

[2019-04-08 18:59] magento-engcom-team commented on #21952
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99095`, `MAGETWO-99096` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-08 19:01] ananth-iyer commented on #22222
@magento-engcom-team give me 2.3-develop instance

[2019-04-08 19:01] magento-engcom-team commented on #22222
Hi @ananth-iyer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-08 19:02] magento-engcom-team commented on #22222
Hi @ananth-iyer, here is your [Magento instance](https://i-22222-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22222-2-3-develop.instances.magento-community.engineering/admin](https://i-22222-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-08 19:02] magento-engcom-team commented on #22224
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99097` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-08 19:06] orlangur commented on #22157
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2019-04-08 19:06] #22157 closed, assigned to nobody

[2019-04-08 19:12] lucasvm commented on #22222
Thank you, just to clarify, for example the title is being saved ... But not the image or icon ... And the image is being uploaded to server...

[2019-04-08 19:32] magento-engcom-team commented on #22223
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99098` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-08 19:37] senders commented on #7000
I can confirm it.

[2019-04-08 19:44] ananth-iyer commented on #22222
@lucasvm Did you perform migration to Magento 2.3?

[2019-04-08 19:46] lucasvm commented on #22222
Hello Sir

 No, i have just made a clean instalation from Git, just done:
 git clone..

[2019-04-08 19:51] ananth-iyer commented on #22222
@lucasvm Please try it on the below fresh Magento 2.3 instance and let us know if the issue still exists.

[2019-04-08 19:56] lucasvm commented on #22222
Looks good on demo site, whats the files involved on this?

[2019-04-08 20:08] ananth-iyer commented on #22222
@lucasvm demo site is a fresh instance which is generated by Magento bot for testing purposes and reproduce the issue reported.
I will try tomorrow with git clone because it takes long time to setup.
Please let me know your server configuration also.

[2019-04-08 21:58] justinharris1986 opened #22229 "IE11 cannot checkout on 2.2.8"
### Preconditions
1. Magento 2.2.8 (It did not manifest itself on 2.2.7)
2. PHP 7.1.27 (In our case - may or may not be a factor - we are running in php-fpm)
3. MariaDB 10.3.13-1.el7.centos (In our case - may or may not be a factor)
4. Windows 7 with IE 11 *OR* Windows 10 with IE11 (I have heard rumors this also affects IE10, but I cannot confirm this) - Edge does not seem to be a problem

### Ste

[2019-04-08 21:59] justinharris1986 commented on #22229
@magento-engcom-team give me 2.2-develop instance

[2019-04-08 21:59] magento-engcom-team commented on #22229
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-08 22:00] magento-engcom-team commented on #22229
Hi @justinharris1986, here is your [Magento instance](https://i-22229-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22229-2-2-develop.instances.magento-community.engineering/admin](https://i-22229-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-08 22:02] justinharris1986 commented on #22229
@magento-engcom-team give me 2.2.8 instance

[2019-04-08 22:02] magento-engcom-team commented on #22229
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-04-08 22:03] magento-engcom-team commented on #22229
Hi @justinharris1986, here is your [Magento instance](https://i-22229-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-22229-2-2-8.instances.magento-community.engineering/admin](https://i-22229-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-08 22:04] justinharris1986 commented on #22229
@magento-engcom-team give me 2.2 instance

[2019-04-08 22:06] justinharris1986 commented on #22229
ugh I cannot reproduce it in your instances. I'll go back to my dev and see whats up.

[2019-04-08 22:06] #22229 closed, assigned to nobody

[2019-04-09 04:23] pushpendra07 opened #22231 "Payment Method Not Showing Admin Sales Grid only check method showing."
**Payment Method showing blank always except check method**

### Preconditions (*)

1. Magento version 2.3.1

### Steps to reproduce (*)

1. Create a simple order with bank transfer or COD.
2. Check Admin Sales order grid

### Expected result (*)

1. Show Payment method in grid

### Actual result (*)

1.Only Check method showing in the list ![checkout1](https://user-images.githubusercontent.com/80

[2019-04-09 04:47] krishprakash commented on #22231
@magento-engcom-team give me 2.3-develop instance

[2019-04-09 04:47] magento-engcom-team commented on #22231
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-09 04:48] magento-engcom-team commented on #22231
Hi @krishprakash, here is your [Magento instance](https://i-22231-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22231-2-3-develop.instances.magento-community.engineering/admin](https://i-22231-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 05:02] krishprakash commented on #22231
![payment method grid](https://user-images.githubusercontent.com/46617848/55774451-c6f2f300-5ab2-11e9-813e-f51d0fd692ce.png)

[2019-04-09 05:08] krishprakash commented on #22231
@magento-engcom-team give me 2.2-develop instance

[2019-04-09 05:09] magento-engcom-team commented on #22231
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-09 05:09] magento-engcom-team commented on #22231
Hi @krishprakash, here is your [Magento instance](https://i-22231-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22231-2-2-develop.instances.magento-community.engineering/admin](https://i-22231-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 05:20] krishprakash commented on #22231
![2 2 x payment grid](https://user-images.githubusercontent.com/46617848/55775038-39fd6900-5ab5-11e9-85d0-5bdaa321ec51.png)

[2019-04-09 06:30] efiiskandar commented on #16016
Why is this rule condition removed? Will this be added again?

[2019-04-09 06:46] neeta-wagento commented on #22222
@magento-engcom-team give me 2.3-develop instance

[2019-04-09 06:46] magento-engcom-team commented on #22222
Hi @neeta-wagento. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-09 06:46] magento-engcom-team commented on #22222
Hi @neeta-wagento, here is your [Magento instance](https://i-22222-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22222-2-3-develop.instances.magento-community.engineering/admin](https://i-22222-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 06:53] neeta-wagento commented on #22222
@magento-engcom-team give me 2.2-develop instance

[2019-04-09 06:53] magento-engcom-team commented on #22222
Hi @neeta-wagento. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-09 06:54] magento-engcom-team commented on #22222
Hi @neeta-wagento, here is your [Magento instance](https://i-22222-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22222-2-2-develop.instances.magento-community.engineering/admin](https://i-22222-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 07:02] neeta-wagento commented on #22222
Hello .

I have verified the issue in 2.2 and 2.3 develop instance

I cannot reproduce the issue in 2.3-develop and 2.2-develop
Here is attached screenshots!
![Screenshot from 2019-04-09 12-25-49](https://user-images.githubusercontent.com/33098216/55779465-1f31f100-5ac3-11e9-92ef-acbb222fc5db.png)

[2019-04-09 07:02] magento-engcom-team commented on #22143
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99102`, `MAGETWO-99103` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-09 07:03] #22222 closed, assigned to neeta-wagento

[2019-04-09 07:04] magento-engcom-team commented on #22196
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99104`, `MAGETWO-99105` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-09 07:25] engcom-backlog-nazar commented on #22215
Hi @Darkwolf81, thank you for you report, you can use many ways to set custom price, one of this is observer and plugin.
[code]

[code]
Thanks for collaboration.

[2019-04-09 07:51] engcom-backlog-nazar commented on #19842
Hi @johnny-longneck this issue was tested and we can confirm that this already fixed in 2.3-develop branch and available on 2.3.1 release

[2019-04-09 07:51] #19842 closed, assigned to nobody

[2019-04-09 07:59] hammockvienna commented on #22141
@nickpiro i face the same issue.
We upgraded from 2.2.3 to 2.2.8
When i check the database the apply_to value is nearly everywhere NULL. Even when i add manually simple,virtual,bundle,downloadable,configurable
it does not work.
I have reindexed everything + and i have rebuild the EAV cache.

[2019-04-09 07:59] vpodorozh commented on #21952
@magento-engcom-team give me 2.3.1-develop instance

[2019-04-09 07:59] magento-engcom-team commented on #21952
Hi @vpodorozh. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-04-09 08:02] robbertstevens commented on #13720
@ChintanKaneriya havent noticed any side effects

[2019-04-09 08:14] vpodorozh commented on #21952
@magento-engcom-team give me 2.3.1-develop instance

[2019-04-09 08:14] magento-engcom-team commented on #21952
Hi @vpodorozh. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-04-09 08:40] mrtuvn opened #22236 "Price currency symbol show not correctly in product form when switch store view"
### Preconditions (*)

1. Magento 2.3.1 and 2.3.0
2. Linux Ubuntu Server
3. Chrome browser

### Steps to reproduce (*)

1. Create Secondary store view. Ex: UK Store
2. Catalog Price scope default set to Global
3. Stores > Configuration > General > Currency Setup > Currency Options
set **Allowed Currencies** Euro
set **Base Currency** to  US Dollar
set **Default Display Currency** to US Dollar
4. S

[2019-04-09 08:44] andrewbgittus opened #22237 "Magento 2.2.7 - Unable to add tier price with 0 value via API"
### Preconditions (*)

1. Magento version 2.2.7

### Steps to reproduce (*)

1. Send an API request with a tier price value of 0.

POST http://xxx.xxxx.com/magentov2/index.php/rest/V1/products/TEST/group-prices/1/tiers/20/price/0 HTTP/1.1
Authorization: Bearer xx0xxx0x0xx0xx00xxx00xx0x0xxxx0x
Accept: application/json, text/json, text/x-json, text/javascript
User-Agent: RestSharp/100.0.0.0
Host: de

[2019-04-09 08:47] mrtuvn commented on #22236
@magento-engcom-team give me 2.3-develop instance

[2019-04-09 08:47] magento-engcom-team commented on #22236
Hi @mrtuvn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-09 08:48] magento-engcom-team commented on #22236
Hi @mrtuvn, here is your [Magento instance](https://i-22236-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22236-2-3-develop.instances.magento-community.engineering/admin](https://i-22236-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 08:51] yutv opened #22238 "Backward-incompatible change between 2.2.7 and 2.2.8"
### Preconditions (*)

1. Magento 2.2.7 and Magento 2.2.8
2. PHP 7.1.10

### Steps to reproduce (*)
1. Create a custom module in Magento 2.2.7 with the following class:
**app/code/Vendor/Module/Block/Product/View/Options/Type/Swatch.php**

        <?php

        namespace Vendor\Module\Block\Product\View\Options\Type;

        use Magento\Catalog\Block\Product\View\Options\Type\Select;

        cl

[2019-04-09 09:07] mrtuvn commented on #22236
Component: CurrencySymbol

[2019-04-09 09:08] engcom-backlog-nazar commented on #22236
Hi @mrtuvn thank you for you report, i'm not able to reproduce following steps you described on clean magento 2.3-develop instance
![DeepinScreenshot_select-area_20190409120756](https://user-images.githubusercontent.com/40756439/55787998-33c0ba00-5ac0-11e9-954e-70c49383d191.png)

[2019-04-09 09:10] engcom-backlog-nazar commented on #22236
@mrtuvn also` Default Display Currency` used in frontend, instead you need to set base currency .

[2019-04-09 09:10] #22236 closed, assigned to nobody

[2019-04-09 09:18] mrtuvn commented on #22236
@engcom-backlog-nazar frontend work fine but in admin i can't make symbol correctly follow store view. Default symbol of base currency always used. In my case magento always show us dollar
So this possible not issue but i think should be change symbol right after  magento switched store view

[2019-04-09 09:19] webspeaks commented on #7932
I am getting this issue on localhost, no redis is configured. Its simple filesystem caching. Any idea?

[2019-04-09 09:19] asebille commented on #15545
HI,

We faced the same issue with query like:

[code]

The most process burning part of this query type was the sub-query:
[code]

This sub-query is build in

/vendor/magento/module-catalog-search/Model/Adapter/Mysql/Filter/Preprocessor.php (line 162 to 192)

[code]
In our case, we were importing all attributes and in a short timelpase some of them where in `frontend_type=text`. Thoses attributes

[2019-04-09 09:32] amenk opened #22240 "Running cron jobs fails if database name is too long"
### Preconditions (*)

Database is called
 shop_test_com_testing_foo_de

You have crontab.xml

    <?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Cron:etc/crontab.xsd">
        <group id="update_virtual_attributes">

### Steps to reproduce (*)
1. bin/magento cron:run -v

### Expected result (*)
w

[2019-04-09 09:42] ArpitGupta-shoptimize opened #22241 "Normal price Display Issue for Configurable Product"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)
1. Create a Configurable product with at least 2 different swatch attributes (say Color and Size).
2. Give the Configurable product a price, say x.
3. For one of the simple products (except for the one with lowest product ID), change the Price to y and special price to z such that y,z>x.

### Expected result (*)
On frontend, when

[2019-04-09 09:46] ArpitGupta-shoptimize commented on #22241
@magento-engcom-team give me 2.3.0 instance

[2019-04-09 09:46] magento-engcom-team commented on #22241
Hi @ArpitGupta-shoptimize. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-04-09 09:47] magento-engcom-team commented on #22241
Hi @ArpitGupta-shoptimize, here is your [Magento instance](https://i-22241-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-22241-2-3-0.instances.magento-community.engineering/admin](https://i-22241-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 09:52] engcom-backlog-nazar commented on #22237
Hi @andrewbgittus . Thank you for your report.
The issue has been fixed in magento/magento2#18604 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [8084aa985c10208c1ee5bfd14ab31014bd4edfd4](https://github.com/magento/magento2/commit/8084aa985c10208c1ee5bfd14ab31014bd4edfd4)
 - [8296637b258a9d03f81304bf00724cee553da029](https://github.com/magento/magento2/commit/8296637b258a9d03f8130

[2019-04-09 09:52] #22237 closed, assigned to nobody

[2019-04-09 09:55] engcom-backlog-nazar commented on #22240
Hi @amenk thank you for you report, this is expected behavior, please refer to -> https://dev.mysql.com/doc/refman/5.7/en/locking-functions.html

[2019-04-09 09:55] #22240 closed, assigned to nobody

[2019-04-09 09:56] engcom-backlog-nazar commented on #22240
@amenk `MySQL 5.7 and later enforces a maximum length on lock names of 64 characters. Previously, no limit was enforced.`

[2019-04-09 10:10] amenk commented on #22240
Thanks for the info --- but can't we then just create the lock name in another way? For example by hashing it ? What is the maximum table name length? then we should enforce a shorter cron group name or so ...

[2019-04-09 10:10] Den4ik commented on #22241
@magento-engcom-team give me 2.3-develop instance

[2019-04-09 10:10] magento-engcom-team commented on #22241
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-09 10:10] magento-engcom-team commented on #22241
Hi @ArpitGupta-shoptimize. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-09 10:10] magento-engcom-team commented on #22241
Hi @Den4ik, here is your [Magento instance](https://i-22241-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22241-2-3-develop.instances.magento-community.engineering/admin](https://i-22241-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 10:13] engcom-backlog-nazar commented on #22241
Hi @ArpitGupta-shoptimize i'm not able to reproduce following steps you described.
![DeepinScreenshot_select-area_20190409131234](https://user-images.githubusercontent.com/40756439/55792403-383da080-5ac9-11e9-9cf7-9a6661090462.png)

[2019-04-09 10:15] ArpitGupta-shoptimize commented on #22241
@engcom-backlog-nazar  Please make 2 attributes which are of type swatch, as mentioned in the steps

[2019-04-09 10:48] lupoiuAlinN commented on #21964
https://magento.stackexchange.com/questions/269349/magento-2-3-1-mftf-is-not-generated-test-core

[2019-04-09 10:57] engcom-backlog-nazar commented on #22241
@ArpitGupta-shoptimize this issue has already fixed in 2.3-develop branch and available on 2.3.1 release.
![DeepinScreenshot_select-area_20190409135647](https://user-images.githubusercontent.com/40756439/55794981-67571080-5acf-11e9-95d8-82a17ef177b9.png)

[2019-04-09 10:57] #22241 closed, assigned to nobody

[2019-04-09 11:10] allanpaiste commented on #12603
There's nothing that he's mentioning about using this in production. Being community contributors member and just going and thumb-downing solutions that others provide does not really shine true to what one would expect from someone who should be encouraging contributors to be more active.

[2019-04-09 11:11] ArpitGupta-shoptimize commented on #22241
@engcom-backlog-nazar According to the description I provided the normal price and special price of the simple product has to be greater than the normal price of the configurable product. I checked the issue on the develop instance provided and the issue still exists.

[2019-04-09 11:16] SzabKel commented on #22224
Isn't this issue fixed as of 2.3.1? I had this too on 2.3.0 but not after patching to 2.3.1.

[2019-04-09 11:46] jbonot commented on #7932
I am also getting this issue while trying to update from 2.2.7 to 2.3.1.  Any insight would be much appreciated.

[2019-04-09 11:55] engcom-backlog-nazar commented on #22241
@magento-engcom-team give me 2.3-develop instance

[2019-04-09 11:55] magento-engcom-team commented on #22241
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-09 11:56] magento-engcom-team commented on #22241
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-22241-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22241-2-3-develop.instances.magento-community.engineering/admin](https://i-22241-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-09 12:44] domeglic commented on #6958
Looks like this has been fixed in [2.3](https://github.com/magento/magento2/commits/2.3-develop/app/code/Magento/Eav/Model/ResourceModel/ReadHandler.php). Commit message mentions sorting. (MAGETWO-95827)

[2019-04-09 13:03] jbonot commented on #7932
I managed to solve the problem after comparing my root composer.json file to a new Magento 2.3.1 project.  I made sure I had the following:
[code]

The last item was missing from the project I was updating.  After adding it, I was able to run bin/mage again.

[2019-04-09 13:14] Nazar65 commented on #22045
@afavata temporary fix is to comment this line to disable this buttons`app/code/Magento/Paypal/view/frontend/web/js/in-context/product-express-checkout.js
`
`line 27 //this.renderPayPalButtons(element);`
i'm will provide a pr soon

[2019-04-09 13:36] Julen10 opened #22243 "Enable PayPal Credit option not avaible"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Stores > Config > Sales > Payment Methods
2. PayPal Express Checkout > Configure

### Expected result (*)

As in version 2.3.0, it should appear Enable PayPal Credit [YES/NO]

### Actual result (*)

After Merchant Account ID, it doesn´t appear the option.

I have tried this without any results: https://github.com/magento/magen

[2019-04-09 15:19] #14667 closed, assigned to nobody

[2019-04-09 15:59] jonathan-may opened #22245 "REST API Cart totals calculation error"
### Preconditions (*)

1. Magento Commerce 2.3.0

### Steps to reproduce (*)

1. Obtain customer token (/rest/V1/integration/customer/token)
2. Create cart (/rest/default/V1/carts/mine)
3. Add item to cart (/rest/default/V1/carts/mine/items)
4. Check cart totals (/rest/default/V1/carts/mine/totals)
 - This returns the correct total amounts
5. Delete item from cart (/rest/default/V1/carts/mine/item

[2019-04-09 16:09] Webroju commented on #9863
I have the same problem after migration from Magento1 to Magento2. In Magento 1 it works as expected, but in Magento 2.2.7 I have in the same category in one product list row: products with no category path, products with a category path only the first level and products with a deeper category path it is very strange

[2019-04-09 16:15] magento-engcom-team commented on #20186
Hi @ipascual. Thank you for your report.
The issue has been fixed in magento/magento2#22081 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [223d8efc62bed0ec5b42e027bb94bacfa38087c4](https://github.com/magento/magento2/commit/223d8efc62bed0ec5b42e027bb94bacfa38087c4)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-09 16:15] magento-engcom-team commented on #21993
Hi @ochnygosch. Thank you for your report.
The issue has been fixed in magento/magento2#22012 by @ochnygosch in 2.3-develop branch
Related commit(s):
 - [f826017acfb81d549d5eaada07a0081ddc2498c5](https://github.com/magento/magento2/commit/f826017acfb81d549d5eaada07a0081ddc2498c5)
 - [d53690cbfe4aeac02d05c2078424698ce1fb7d3f](https://github.com/magento/magento2/commit/d53690cbfe4aeac02d05c207842469

[2019-04-09 16:15] #21993 closed, assigned to ochnygosch

[2019-04-09 16:15] magento-engcom-team commented on #21998
Hi @kisroman. Thank you for your report.
The issue has been fixed in magento/magento2#21999 by @kisroman in 2.3-develop branch
Related commit(s):
 - [1fe977a11c238b19e6f79342bed637bc7941bea8](https://github.com/magento/magento2/commit/1fe977a11c238b19e6f79342bed637bc7941bea8)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-09 16:15] magento-engcom-team commented on #21789
Hi @Den4ik. Thank you for your report.
The issue has been fixed in magento/magento2#21790 by @Den4ik in 2.3-develop branch
Related commit(s):
 - [9b324e804c58ed2b05c9646bcd7c781ecf113edc](https://github.com/magento/magento2/commit/9b324e804c58ed2b05c9646bcd7c781ecf113edc)
 - [55d5daa97fa37fa9276ecd90536da1a1929c0e5a](https://github.com/magento/magento2/commit/55d5daa97fa37fa9276ecd90536da1a1929c0e

[2019-04-09 16:15] #21998 closed, assigned to kisroman

[2019-04-09 16:15] #21789 closed, assigned to Den4ik

[2019-04-09 16:53] Beowulf891 commented on #5847
Also running into this with a single store setup. cartId error every time I try to check out. Persists after upgrading to 2.2.8. Is there any kind of solution for this?

[2019-04-09 16:57] snez commented on #5847
@Beowulf891 you can clear the site data from the browser's web inspector, which will delete your session, cookies and reset the cart

[2019-04-09 17:00] Beowulf891 commented on #5847
Will that fix it? I get it with brand new browser sessions every time.

[2019-04-09 17:00] ryanpalmerweb opened #22246 "Programatically created invoices miss items when both simple products and bundled products are mixed in an order"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)
1. Create an order containing both a bundled product and a simple product
2. Check out with a payment method which does not automatically create an invoice
3. Programatically get an instance of the order, and then run the following code

[code]

### Expected result (*)
1. All of the items in the invoice should be ordered

### Actu

[2019-04-09 17:08] snez commented on #5847
@Beowulf891 it wont fix it permanently, if you get this with new browser sessions then you are stuck. It fixed it in my case and the issue didn't come back.

[2019-04-09 17:23] ryanpalmerweb commented on #22246
<img width="546" alt="Screen Shot 2019-04-09 at 15 10 25" src="https://user-images.githubusercontent.com/7669058/55821066-81efb080-5af4-11e9-8204-d0e5b6201cf7.png">
<img width="458" alt="Screen Shot 2019-04-09 at 18 22 19" src="https://user-images.githubusercontent.com/7669058/55821067-81efb080-5af4-11e9-81f2-a4f8345e1664.png">

[2019-04-09 17:25] Jupagar77 opened #22247 "Upload several optimized images to media"
We have 90 optimized images that we need to upload to our production server hosted in Magento Cloud, the problem is that Magento Cloud just provides read-access only.

Is there a proper fast way to do this process without having to upload the images one by one on the admin?

[2019-04-09 17:29] hostep commented on #14667
In case anyone's curious (as I was) about what the fix from Magento is. It looks like it was this PR: https://github.com/nickolasburr/magento2/pull/58 which got merged in this merge commit: https://github.com/magento/magento2/commit/56e56ceee884a830e93b953ba34de348484ce5c0

Thanks @vzabaznov!

[2019-04-09 17:36] mzenner1 commented on #7413
Why was this issue closed? I'm still seeing the bug in 2.3.1

[2019-04-09 18:10] magento-engcom-team commented on #22231
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99111`, `MAGETWO-99112` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-09 18:16] afavata commented on #22045
@Nazar65 Thank you indeed for the fix.

I do make note that for some (like me) the right path to product-express-checkout.js file is:

_vendor/magento/module-paypal/view/frontend/web/js/in-context/product-express-checkout.js_

This dipend on how Magento was installed.

[2019-04-09 18:42] sjb9774 opened #22249 "Configurable Product Gallery Images Out of Order when More than 10 images"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Create a configurable product or use one from SampleData
2. Set up an attribute for use with the configurable product as a swatch
![color : Product Attributes : Attributes : Stores : Magento Admin 2019-04-10 10-22-46](https://user-images.githubusercontent.com/6181127/55892247-962ac080-5b7b-11e9-88ef-d358e8cc788a.png)
3. Edit o

[2019-04-09 18:42] vignates commented on #2904
@lewisje  Did the extension worked for you?

[2019-04-09 18:57] Beowulf891 commented on #5847
Unfortunately, that didn't work for me and I need to fix this.

[2019-04-09 19:24] AndyJAllen commented on #5835
is there any reason why we shouldn't do this for all external url addresses? Just see if domain name <> your websites domain

[2019-04-09 20:24] trucatchtraps commented on #16867
Do you have any updates on this topic? Been almost a year since the issue was started

[2019-04-09 20:40] magento-engcom-team commented on #10893
Hi @TomFranssen. Thank you for your report.
The issue has been fixed in magento/magento2#22070 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [3e37244e8d1c6c529cfa5132b848b01fab6faf91](https://github.com/magento/magento2/commit/3e37244e8d1c6c529cfa5132b848b01fab6faf91)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-09 21:08] trucatchtraps opened #22251 "Admin Order - Email is Now Required - Magento 2.2.6"
### Important information after discussion with Product Departmen

This issue has been discussed with Magento Product Manager(PO).

Please see for more details: https://github.com/magento/magento2/pull/22648#issuecomment-490253069

But after a couple of additional meetings with PO was found compromise and solution how it can be fixed/implemented to be approved. Details and requirements here: https

[2019-04-09 21:09] sjb9774 commented on #7874
Reopening as I have recently seen this happen on 2.2.7. There are a number of problems involved, one of them being that `\Magento\UrlRewrite\Model\Storage\DbStorage::deleteOldUrls` does not properly remove existing rewrites and allows clashes. It assumes that if there is not `entity_id` conflict in `url_rewrite` then there will be no conflict on the table but that's not always true (as evidenced b

[2019-04-09 22:00] magento-engcom-team commented on #21916
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-09 22:01] magento-engcom-team commented on #21916
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99115` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-09 22:45] Beowulf891 commented on #5847
I did finally fix it by disabling the Dotdigitalgroup_Email module since the client doesn't use it.

[2019-04-09 23:42] InternetMedicineMan opened #22252 "Wholesale Pricing not sticking on orders placed in Admin"
### Preconditions (*)
1. Magento 2.2.8 (upgraded from 2.2.7)
2. Multiple groups and group pricing assigned to customer levels

### Steps to reproduce (*)
1. From the admin create an order for wholesale user on wholesale website
2. Enter in products all pricing at price levels show up properly while creating
3. Save the order

### Expected result (*)
1. Expect the wholesale order to have the pricin

[2019-04-10 00:29] lewisje commented on #2904
It didn't at the time, and we went ahead and purchased the extension by Paradox Labs; the extension has not been updated since I tried it out, so I doubt it will actually work now.

[2019-04-10 01:25] ghatamehta commented on #19565
@ask694  Did you find any solution?

[2019-04-10 02:43] cmacdonald-au opened #22253 "Magento installation process disregards cache id_prefix settings defined in env.php (without specify settings via installer options)"
### Preconditions (*)

1. A copy of Magento, (either installed, or not) >= 2.3.1
2. An `app/etc/env.php` file that contains cache settings, (example attached, specifically an `id_prefix` not based on path must be set).
3. Execute `./bin/magento setup:install` or `./bin/magento setup:install --cleanup-database` (with no other parameters specified).

This behaviour appears to be a side effect of the

[2019-04-10 03:44] mjf10 commented on #2904
I could not get the extension to work. I switched from Authorize.net <http://authorize.net/> to Braintree and have not had the problem again.

Mike

[2019-04-10 05:22] magenizr commented on #22173
We experienced similar issues in older versions ( e.g 2.2.6 ) when _Admin > My Account > Interface Locale_ was set to en_AU or en_GB.  If you set it back to en_US you should be able to filter your sales order grid table normally. This will affect your admin account settings only, not the global locate settings. Just a temporary solution which requires further investigation.

[2019-04-10 06:55] engcom-backlog-nazar commented on #22251
@magento-engcom-team give me 2.2.3 instance

[2019-04-10 06:55] magento-engcom-team commented on #22251
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2019-04-10 06:56] magento-engcom-team commented on #22251
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-22251-2-2-3.instances.magento-community.engineering).
Admin access: [https://i-22251-2-2-3.instances.magento-community.engineering/admin](https://i-22251-2-2-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 07:22] engcom-backlog-nazar commented on #22251
HI @trucatchtraps thank you for you report, this is the "big issue" to have a not required email, and this was included in CHANGELOG.md, so there is a issue in older version where this field was not required.
![DeepinScreenshot_select-area_20190410100110](https://user-images.githubusercontent.com/40756439/55858218-ca03e700-5b77-11e9-98d1-1155f5d099f8.png)

[2019-04-10 07:23] engcom-backlog-nazar commented on #22247
Hi @Jupagar77
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-10 07:23] #22247 closed, assigned to nobody

[2019-04-10 07:27] AntonEvers commented on #11295
In M2.3.1:
[code]

[2019-04-10 07:27] #11295 closed, assigned to AntonEvers

[2019-04-10 07:32] engcom-backlog-nazar commented on #22243
HI @Julen10 thank you for you report, this is expected behavior,` MC-11034: Enable Paypal Credit option should be disabled/greyed out when a non-US merchant is chosen - Fixed review comments` fixed in this commit.

[2019-04-10 07:32] #22243 closed, assigned to nobody

[2019-04-10 07:33] magento-engcom-team commented on #22238
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-10 07:37] engcom-backlog-nazar commented on #21900
@fgmonad we are closing this issue due inactivity. Feel free to reopen this one, if issue still exists.

[2019-04-10 07:37] #21900 closed, assigned to nobody

[2019-04-10 07:37] engcom-backlog-nazar commented on #19245
@lano-vargas we are closing this issue due inactivity. Feel free to reopen this one, if issue still exists.

[2019-04-10 07:37] #19245 closed, assigned to nobody

[2019-04-10 07:40] engcom-backlog-nazar commented on #21990
Hi @jigar48 thank you for you report, this is non issue, please use this settings to have correct result
![notabug](https://user-images.githubusercontent.com/40756439/55860505-0f76e300-5b7d-11e9-9158-7e7b9322b930.png)
thanks for collaboration :+1:

[2019-04-10 07:43] magento-engcom-team commented on #6287
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99119` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-10 07:45] arptg opened #22257 "Old Price Not visible when one child product has both price higher than configurable product"
### Preconditions (*)

1. Magento 2.3.0 & 2.3-develop

### Steps to reproduce (*)
1. Create a Configurable product with attributes color swatch and text swatch.
2. Set the price of the configurable product.
3. Create simple products with price same as the configurable product.
4. Change the price of one simple product (except the one with lowest product ID) to be greater than all other products.
5

[2019-04-10 07:45] magento-engcom-team commented on #22257
Hi @TheGreatWhites. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 07:46] magento-engcom-team commented on #22257
Hi @TheGreatWhites, here is your [Magento instance](https://i-22257-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22257-2-3-develop.instances.magento-community.engineering/admin](https://i-22257-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 07:53] engcom-backlog-nazar commented on #22249
Hi @sjb9774 thank you for you report, i'm not able to reproduce following steps you described, this issue may be related to your cache, please flush cache and try again. thank you for collaboration.
![deepin-screen-recorder_Select area_20190410105033](https://user-images.githubusercontent.com/40756439/55861351-e2c3cb00-5b7e-11e9-89b6-7de39d7f871a.gif)

[2019-04-10 07:54] MartinaB90 commented on #5835
Hi guys, I solved the issue (in 2.3) excluding the full web address of Vimeo external resource. It is working now. I think this is the correct solution since you'll be able to manage the exclusion in your module and not changing Config.php.

`    <default>
        <dev>
            <js>
                <minify_exclude>
                    <vimeo>https://player.vimeo.com/api/player.js</vimeo>

[2019-04-10 08:08] engcom-backlog-nazar commented on #22257
hi @TheGreatWhites `Change the special price of the same products to be greater than the normal price of all other products ` how can be special price be greater then normal ? you mean i sell you product by special price 20$ but my product is 19$ ?

[2019-04-10 08:08] ThijsVanDenWollenberg commented on #9186
Any update on this?
Can someone confirm this is still an issue in 2.3.1 ?

[2019-04-10 08:13] engcom-backlog-nazar commented on #7874
Hi @hostep Hi @sjb9774  this may be fixed by this commit -> https://github.com/magento/magento2/commit/83204d24e6911c605d40a4021035d85b22d07b1f

[2019-04-10 08:20] magento-engcom-team commented on #22085
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99120`, `MAGETWO-99121` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-10 08:31] TheGreatWhites commented on #22257
@engcom-backlog-nazar No, just one product which has a price greater than the other configurable options.

[2019-04-10 08:36] jigar48 commented on #21990
@engcom-backlog-nazar

The result should be correct in both cases, either it is Including Tax Or Excluding Tax.
You need to follow up on this issue.

[2019-04-10 08:43] Julen10 commented on #22243
I´ve download and used that code and still not being able to set Enable Paypal Credit to NO. I have the banner on the website.

[2019-04-10 09:18] bloodbool opened #22261 "M2.3.1 Open source - can't delete all selected products"
### Preconditions (*)

1. Magento 2.3.1
2. I noticed an error in the admin panel, when selecting in the list, all products and clicking on the "Delete" button, only those elements that fit on page 1 are deleted.

### Steps to reproduce (*)

1. Catalog -> Products
2. Select All products
3. Click Delete in action
4. Click Ok (Delete all products)
http://prntscr.com/n9yl33
### Expected result (*)

1.

[2019-04-10 09:25] magento-engcom-team commented on #22261
Hi @bloodbool. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 09:25] engcom-backlog-nazar commented on #22261
hi @bloodbool thank you for you report, this issue already confirmed, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/22004

[2019-04-10 09:25] #22261 closed, assigned to nobody

[2019-04-10 09:25] magento-engcom-team commented on #22261
Hi @bloodbool, here is your [Magento instance](https://i-22261-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22261-2-3-develop.instances.magento-community.engineering/admin](https://i-22261-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 09:30] treybake opened #22262 "Magento 2.3.1 PHP7.2"
### Preconditions (*)

1. 2.3.1
2. centos7
3. php7.2.17

### Steps to reproduce (*)

1. $ composer require magento/product-community-edition=2.3.1

### Expected result (*)

1. installation of Magento

### Actual result (*)

./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to

[2019-04-10 09:32] fritzmg commented on #17310
We are still getting this issue even after increasing the `max_concurrency` to `18`. We have set it now to `54` and are observing if this issue still occurs.

However - I still do not quite get whe the native session fallback does not work. If I disable Redis for sessions, sessions with the native session storage work fine. But why does the fallback not work, when using Redis as the session storag

[2019-04-10 09:39] Hanhan1989 opened #22264 "Problems with catalog entity id in Magento 2.3.1 with Elasticsearch 6.7.1"
### Preconditions (*)

1. Magento 2.3.1
2. Elasticsearch 6.7.1

### Steps to reproduce (*)

1. bin/magento setup:di:compile
2. bin/magento cache:clean
3. bin/magento indexer:reindex
1. Enter words in the search box and click search

### Expected result (*)

1. The searched products must appear

### Actual result (*)

1. Error:

[code]

[2019-04-10 09:53] Nazar65 commented on #22045
@afavata i'm made a PR with proper fix for this.

[2019-04-10 10:20] Hanhan1989 commented on #22264
I found a solution for this error by now. The solution is disable and enable again the fields

* flat catalog category
* flat catalog product

![image](https://user-images.githubusercontent.com/11807165/55871359-c29a0900-5b8a-11e9-8ac6-5d7eb14b8eac.png)

Is this a bug of 2.3.1 ?

[2019-04-10 11:10] engcom-backlog-nazar commented on #22262
HI @treybake thank you for you report, you need to upgrade your version of magento/framework
`magento/product-community-edition 2.3.1 requires magento/framework 102.0.0 `

[2019-04-10 11:10] #22262 closed, assigned to nobody

[2019-04-10 11:11] treybake commented on #22262
@engcom-backlog-nazar  I just followed upgrade instructions for Magento2.3 ... surely this should be mentioned in the docs?

[2019-04-10 11:14] engcom-backlog-nazar commented on #22262
@treybake this is very strange that version of magento framework not updated, from which magento version you try to upgrade ?

[2019-04-10 11:14] treybake commented on #22262
@engcom-backlog-nazar 2.2.5

[2019-04-10 12:42] magento-engcom-team commented on #22257
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99125` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-10 12:43] magento-engcom-team commented on #22161
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99126`, `MAGETWO-99127` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-10 13:29] ilnytskyi opened #22266 "Product Alert after login shows 404 page"
### Preconditions (*)

Since 2.3.1 When customer is logged out and click subscribe to price or stock notification (on product page) then after login, gets redirected to the 404 page.

### Steps to reproduce (*)

1. Click subscribe for stock alert on product page
2. Log in
3. See 404 page

### Expected result (*)

1. Customer moved to correct page and subscribed to notification succesfully

### Act

[2019-04-10 13:31] jonathan-may commented on #22245
@magento-engcom-team give me 2.3.0 instance

[2019-04-10 13:31] magento-engcom-team commented on #22245
Hi @jonathan-may. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-04-10 13:31] magento-engcom-team commented on #22245
Hi @jonathan-may, here is your [Magento instance](https://i-22245-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-22245-2-3-0.instances.magento-community.engineering/admin](https://i-22245-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 13:45] staywithabhi commented on #22243
worst thing about the issue is there is no option in admin to enable or disable but it is showing on frontend product page.Can not disable it permanantly

[2019-04-10 14:03] TheGreatWhites commented on #22257
@magento-engcom-team give me 2.3-develop instance

[2019-04-10 14:03] magento-engcom-team commented on #22257
Hi @TheGreatWhites. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 14:04] magento-engcom-team commented on #22257
Hi @TheGreatWhites, here is your [Magento instance](https://i-22257-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22257-2-3-develop.instances.magento-community.engineering/admin](https://i-22257-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 14:16] jonathan-may commented on #22245
@magento-engcom-team

I was able to reproduce this bug using the Magento instance /i-22245-2-3-0.instances.magento-community.engineering.

Here are more detailed steps that I used to reproduce it.

1) Logged in the admin and created a new simple product using TEST as the SKU.
2) Created a new customer account in the frontend.

The following steps were completed using the Postman application.
3) Ob

[2019-04-10 14:16] magento-engcom-team commented on #22245
Hi @jonathan-may. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-10 14:17] magento-engcom-team commented on #22245
Hi @jonathan-may, here is your [Magento instance](https://i-22245-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22245-2-3-1.instances.magento-community.engineering/admin](https://i-22245-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 14:22] haelbichalex opened #22269 "Special price displays always the lowest price from both Default and Current Store"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Create new Website, Store, Store View
2. Set Base Currency and Default Display Currency to 'Euro' in Default Config
3. Set Base Currency and Default Display Currency to 'Polish Zloty' in New Store
4. Setup Currency Rates
5. Set 'Catalog Price Scope' to Website in Configuration -> Catalog -> Catalog -> Price
6. Create new produ

[2019-04-10 14:23] haelbichalex commented on #22269
@magento-engcom-team give me 2.3-develop instance

[2019-04-10 14:23] magento-engcom-team commented on #22269
Hi @haelbichalex. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 14:24] magento-engcom-team commented on #22269
Hi @haelbichalex, here is your [Magento instance](https://i-22269-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22269-2-3-develop.instances.magento-community.engineering/admin](https://i-22269-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 14:25] jonathan-may commented on #22245
@magento-engcom-team
Using the steps outline in my previous comment, I was also able to reproduce this bug in the 2.3.1 instance.

[2019-04-10 14:26] magento-engcom-team commented on #22238
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99129` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-10 14:26] danielpfarmer opened #22270 "2.2.8 Configurable product option dropdown - price difference incorrect when catalog prices are entered excluding tax"
After upgrading to 2.2.8 we have noticed that configurable products that have only have one configurable attribute display a price increase in the dropdown of the tax amount. This seems to be only affecting stores when prices are entered excluding tax and configurable products with only one configurable attribute.

### Preconditions (*)

1. Magento 2.2.8
2. Catalog Prices are EXCLUDING TAX (Stores

[2019-04-10 14:42] haelbichalex commented on #22269
@magento-engcom-team give me 2.3.1 instance

[2019-04-10 14:42] magento-engcom-team commented on #22269
Hi @haelbichalex. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-10 14:42] magento-engcom-team commented on #22269
Hi @haelbichalex, here is your [Magento instance](https://i-22269-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22269-2-3-1.instances.magento-community.engineering/admin](https://i-22269-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 14:44] sjb9774 commented on #22249
@magento-engcom-team give me 2.3-develop instance

[2019-04-10 14:44] magento-engcom-team commented on #22249
Hi @sjb9774. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 14:44] magento-engcom-team commented on #22249
Hi @sjb9774, here is your [Magento instance](https://i-22249-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22249-2-3-develop.instances.magento-community.engineering/admin](https://i-22249-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 14:47] peterjaap opened #22271 "Replace deprecated jQuery-Storage-API with js-storage"
### Description (*)

Replace deprecated jQuery-Storage-API with js-storage;

### Expected behavior (*)

An uptodate and maintained library to set cookies

### Benefits

Uptodate code

### Additional information

[2019-04-10 14:56] peterjaap opened #22272 "Frontend cookies are not set with secure flag on https"
### Preconditions (*)

1. Every Magento 2 version
2.

### Steps to reproduce (*)

1. Open a page on a Magento 2 shop
2.

### Expected result (*)

1. Secure cookies to show up in the Cookie panel

### Actual result (*)

1. Only one cookie is set to secure;

![image](https://user-images.githubusercontent.com/431360/55889184-f851e880-5bb0-11e9-83d2-fe2a4fc54694.png)

This is because Magento uses the

[2019-04-10 15:02] trucatchtraps commented on #22251
That field has never been required in all my time working with Magento. Why is there now an issue with the email not required? And this is for backend orders. I just don't understand why it needs to be required for backend orders. Do you have a commit for the changes? I would like to override them.

[2019-04-10 15:05] haelbichalex commented on #22269
I **could** reproduce this on the 2.3.1 instance, but **not** on the 2.3-develop. What commit is responsible for this?

[2019-04-10 15:06] treybake commented on #22262
@engcom-backlog-nazar

Ok, so managed to get it almost there. I'm not on this step:

`$ composer update`

However, this now generates this error:

[2019-04-10 15:14] danielpfarmer commented on #22270
Yes I can and just have replicated this on a vanilla instance of Magento 2.2.8 with sample data.

![image](https://user-images.githubusercontent.com/29124855/55890571-deada280-5baa-11e9-850e-74f2d4794389.png)

Steps to reproduce:

1. Install Magento 2.2.8 with sample data
2. Set stores > config > Sales > Shipping Settings > Origin = United Kindgom
3. Set stores > config > Sales > Tax > Calculation

[2019-04-10 15:20] treybake commented on #22262
now fixed

[2019-04-10 15:27] dan-ding commented on #19710
hows about just get rid of using the hash altogether?

[2019-04-10 15:28] sjb9774 commented on #22249
@magento-engcom-team Thanks for the GIF, I missed that the attribute your product variation is based on needs to be setup as a swatch. There are also some scenarios where the positions are 0-indexed instead of 1-indexed as I had locally so you could need to add 11 images total. I've reproduced this issue again on a 2.3-develop instance.
![color : Product Attributes : Attributes : Stores : Magento

[2019-04-10 15:31] sjb9774 commented on #22249
I've update the issue description to indicate the attribute needs to be setup as a swatch.

[2019-04-10 16:27] afavata commented on #22045
@Nazar65 Well done Nazar... I have tested the updated code and now button is shown or hidden depending on  backend configuration setting. Thanks indeed.

Anyway there is a wrong bahaviour still to be resolved related to this opened issue  #22045:
if button is enabled and paypal express well configured, clicking on the button.. the item is correctly added to the cart, a paypal windows popup on the

[2019-04-10 16:32] heyepic commented on #21705
I also have a HUGE database full of catalogrule_product__temp tables. I cloned my live site and deleted these tables via phpmyadmin on my clone and everything seems fine. Question is - why are these not wiping after a catalog/cart rule is over / not active? Are these safe to delete?

![Capture](https://user-images.githubusercontent.com/12517908/55896586-413f7800-5b84-11e9-966d-f4cec88c2b23.JPG)

[2019-04-10 16:33] Nazar65 commented on #22045
@afavata ok, i'm will retest and try to fix this.

[2019-04-10 16:36] heyepic opened #22273 "M2 catalogrule_product__temp Tables"
### Preconditions (*)

1. Magento 2.3.1
2. MySQL 5.7 / PHP 7.2

### Steps to reproduce (*)

1. Look at database in phpmyadmin

### Expected result (*)

1. These tables should delete after cart/catalog price rule is disabled/expired/inactive.

### Actual result (*)
1. These tables are not removed after rules are over. Database stays inflated but thankfully doesn't use the rule prices/actions.
![Cap

[2019-04-10 16:46] sjb9774 commented on #7874
@engcom-backlog-nazar that commit does look promising, at least as far as not regenerating rewrites for products that don't need them regenerated. Thank you for adding that information here.  It also looks like it was ported into 2.2.8. I will try generating a patch for this and testing.

[2019-04-10 18:01] shikhamis11 commented on #22245
@magento-engcom-team give me 2.3-develop instance

[2019-04-10 18:01] magento-engcom-team commented on #22245
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 18:02] magento-engcom-team commented on #22245
Hi @shikhamis11, here is your [Magento instance](https://i-22245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22245-2-3-develop.instances.magento-community.engineering/admin](https://i-22245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 18:17] cizario commented on #2504
@iget-esoares thx a lot for that line, it was really tricky to fix this error.
Centos 7.6
nginx 1.15.10
Mysql 5.7.25
Magento 2.3.1
My question is : why the Magento's team didn't merge this fix with the official build ?

[2019-04-10 18:18] Bashev commented on #21888
This is the solution: #21269

[2019-04-10 18:36] Ctucker9233 opened #22274 "Magento 2.2.8 Can't save products after updating"
After updating to 2.2.8 I can't save a product after updating it. Clicking the save and close button appears to do nothing. No error messages appear.

### Preconditions (*)
Magento 2.2.8
Some third party extensions installed although they have all confirmed for me that it has nothing to do with their extensions.

### Steps to reproduce (*)

1. Make a required field in advanced inventory
2. Open a

[2019-04-10 18:41] Ctucker9233 commented on #22274
@magento-engcom-team Give me 2.2-develop instance with sample data

[2019-04-10 18:41] magento-engcom-team commented on #22274
Hi @Ctucker9233. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-10 18:41] magento-engcom-team commented on #22274
Hi @Ctucker9233, here is your [Magento instance](https://i-22274-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22274-2-2-develop.instances.magento-community.engineering/admin](https://i-22274-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 18:44] Ctucker9233 commented on #22274
@magento-engcom-team how can I get some sample data in this instance? Without it, I can't confirm. Adding new products and then later editing those works just fine. It is only products that existed prior to 2.2.8 that are affected.

[2019-04-10 18:45] Lealopez95PSF opened #22277 "Payflow Pro does not show errors on checkout"
### Preconditions (*)

1. Magento C.E. 2.2.8

### Steps to reproduce (*)

1. Have Payflow pro sandbox configured.
2. Add a products to shopping cart with an amount greater than $2001.
3. Fill shipping form and Credit card info with test cards.
4. Place Order.

### Expected result (*)

1. See an error with at least a generic description on the checkout page.

### Actual result (*)

1. Loader stops

[2019-04-10 18:52] Lealopez95PSF commented on #22277
@magento-engcom-team give me 2.3-develop instance

[2019-04-10 18:53] magento-engcom-team commented on #22277
Hi @Lealopez95PSF. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 18:53] magento-engcom-team commented on #22277
Hi @Lealopez95PSF, here is your [Magento instance](https://i-22277-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22277-2-3-develop.instances.magento-community.engineering/admin](https://i-22277-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 19:05] Lealopez95PSF commented on #22277
@magento-engcom-team I could not reproduce it on Vainilla Magento instance. It showed the error.

[2019-04-10 19:06] magento-engcom-team commented on #22277
Hi @Lealopez95PSF. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 19:07] magento-engcom-team commented on #22277
Hi @Lealopez95PSF, here is your [Magento instance](https://i-22277-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22277-2-3-develop.instances.magento-community.engineering/admin](https://i-22277-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 19:08] jakwinkler opened #22278 "Can't disable store views in admin panel."
Ok, I don't know if it's a bug or a feature :-) Basically we have a multistore setup, a lot of extensions and we would like to disable few store_views in admin panel so they are not usable in configuration scopes in backend.

### Preconditions (*)

1. Magento EE 2.2.x
2. Multistore setup: 5 website, each 1 store, each store 1 store view

### Steps to reproduce (*)

1. Simply create multistore setu

[2019-04-10 19:18] shikhamis11 commented on #22266
@magento-engcom-team give me 2.2-develop instance

[2019-04-10 19:18] magento-engcom-team commented on #22266
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-10 19:18] magento-engcom-team commented on #22266
Hi @shikhamis11, here is your [Magento instance](https://i-22266-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22266-2-2-develop.instances.magento-community.engineering/admin](https://i-22266-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 19:19] djamps commented on #18323
This change breaks download links for all orders, not just guests.   Links are never set to available so they cannot be downloaded whether logged in or not.   We had to create a new module to override this change.

[2019-04-10 19:27] shikhamis11 commented on #22266
@magento-engcom-team give me 2.3-develop instance

[2019-04-10 19:27] magento-engcom-team commented on #22266
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-10 19:28] magento-engcom-team commented on #22266
Hi @shikhamis11, here is your [Magento instance](https://i-22266-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22266-2-3-develop.instances.magento-community.engineering/admin](https://i-22266-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-10 19:39] willboudle opened #22279 "Using a Wildcard in front of integer on product query through REST API turns into html entity"
When searching for a product through the api and using conditional statements. If you use LIKE and % at the beginning of a sku search, when the sku is integers, the percent sign transforms into a html entity.

https://api.site.com/rest/V1/products?searchCriteria[filterGroups][0][filters][0][field]=sku&searchCriteria[filterGroups][0][filters][0][value]=%130748%&searchCriteria[filterGroups][0][filte

[2019-04-10 19:45] swnsma commented on #18323
@djamps
You always can contribute your bugfix to Magento 2.
For now it look like that solution for your issue will be delivered in PR #21971

[2019-04-10 19:50] shikhamis11 commented on #22266
strange this issue is coming only on 2.3-develop instance not on 2.2-develop instance

[2019-04-10 19:50] magento-engcom-team commented on #22266
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99134` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-10 19:56] Fredwak commented on #5657
Magento Community v2.3.1

i have a similar problem - not related to the wishlist.
a lot of messages from all over the site will appear on any site. sometimes some messages does disappear - a few page later they appear again ... very confusing ...

[2019-04-10 19:58] djamps commented on #18323
Thank you for the reply, for now our solution is to roll back this commit as none of our sites allow checkout as guest.   Hopefully PR [#21971](https://github.com/magento/magento2/pull/21971) fixes the guest problem without causing additional issues.

[2019-04-10 20:03] ericvhileman commented on #6415
The actual limit is determined from whichever of the values of tmp_table_size and max_heap_table_size is smaller. **If an in-memory temporary table exceeds the limit, MySQL automatically converts it to an on-disk temporary table.**

[2019-04-10 20:09] Darkwolf81 commented on #22215
Thanks for this. I tried the code, but it dont work in the rest api, event is not fired.
And i dont understand why this is not a bug. It is possible to tell a price value in the rest order product call. But it is ignored / overridden by the original price.
That worked in Magento 1, and we use this for long time, then it should work in Magento 2, too.

[2019-04-10 20:19] lucasvm commented on #22222
Hello Sir, ok, i have done a fresh install and it works, but with my db not, so, i assume its a db issue, can you please tell me witch tables are involved on this? so i can truncate them...i think its catalog_eav_entity maybe?

[2019-04-10 20:43] Julen10 commented on #22243
@staywithabhi that's the key, how to disable something that isn't there? Even if changing the merchant to US I'm not able to view it

[2019-04-10 22:30] sean-cognella commented on #22266
to confirm, we were not able to replicate this on 2.3.0, but are able to replicate on 2.3.1

[2019-04-11 02:40] staywithabhi commented on #22243
@Julen10 yes..and paypal credit option is there on product page which is also not working properly and needed to be disabled but there is no option in admin to disable it

[2019-04-11 02:50] qlhu opened #22283 "Invoice order with only 1 configurable product is not treated as last invoice [CE 2.2.3]"
### Preconditions (*)
1. Magento CE 2.2.3

### Steps to reproduce (*)
1. Add a configurable product to cart
2. Complete the order with any payment method allowed to invoice
3. Invoice the order from Admin and debug this action

### Expected result (*)
1. The invoice is treated as last invoice and Magento\Sales\Model\Order\Invoice\Total\Tax::collect() line 94 - 97 is executed.

### Actual result (*

[2019-04-11 04:43] krishprakash commented on #21558
@magento-engcom-team give me 2.3-develop instance

[2019-04-11 04:44] magento-engcom-team commented on #21558
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-11 04:44] magento-engcom-team commented on #21558
Hi @krishprakash, here is your [Magento instance](https://i-21558-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21558-2-3-develop.instances.magento-community.engineering/admin](https://i-21558-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-11 05:57] erfanimani commented on #21885
Duplicate of #14398

See PR here: https://github.com/magento/magento2/pull/21146

[2019-04-11 06:13] erfanimani commented on #21885
Actually, there's a better PR here, based on mine but it also deals with image deletion: https://github.com/magento/magento2/pull/21855

[2019-04-11 07:08] engcom-backlog-nazar commented on #22279
Hi @willboudle
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-11 07:08] #22279 closed, assigned to nobody

[2019-04-11 07:10] NiklasBr commented on #21817
@engcom-backlog-nazar we are also experiencing this, can it be re-opened?

We are running Magento 2.3.1 (Enterprise Edition) in a Docker container and get this in our logs:

[code]

[2019-04-11 07:12] engcom-backlog-nazar commented on #22249
@sjb9774 thanks now clear :+1:

[2019-04-11 07:16] engcom-backlog-nazar commented on #21817
Hi @NiklasBr  please use command cron:install to have correct cron tab settings
![DeepinScreenshot_select-area_20190411101548](https://user-images.githubusercontent.com/40756439/55937951-e6208a80-5c42-11e9-8179-25f698b51513.png)

[2019-04-11 07:19] magento-engcom-team commented on #22249
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99138` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-11 07:20] NiklasBr commented on #21817
Gets me this:

[code]

[2019-04-11 07:23] engcom-backlog-nazar commented on #21817
@NiklasBr as i'm mentioned above i'm not able to reproduce followings steps, this may be related to your configurations, however maybe someone else can reproduce this on clean install, and prease if you reopen this issue please describe detail steps to reproduce. thanks.

[2019-04-11 07:26] engcom-backlog-nazar commented on #21817
@NiklasBr did you have vendor folder on update ?

[2019-04-11 07:28] NiklasBr commented on #21817
Not sure what kind of configurations would that be. We just got started with Magento 2.3.1 with an entire new environment, there is no vendor folder in the update one, it is missing it seems.

[2019-04-11 07:33] engcom-backlog-nazar commented on #21817
@NiklasBr so in my case i'm have vendor folder, please try to run composer update.

[2019-04-11 07:38] Nazar65 commented on #22045
Hi @afavata i'm not able to reproduce second scenario.
![deepin-screen-recorder_Select area_20190411103724](https://user-images.githubusercontent.com/2481206/55939232-f128ea00-5c45-11e9-806a-7fceedf646a7.gif)

[2019-04-11 07:38] NiklasBr commented on #21817
Didn't help unfortunately:

[code]

[2019-04-11 07:58] engcom-backlog-nazar commented on #21817
@NiklasBr have you this file  ?

[2019-04-11 08:00] engcom-backlog-nazar commented on #22277
Hi @Lealopez95PSF thank you for you report, i;m not able to reproduce following steps you described, this may be related to your custom modules or wrong configuration.

[2019-04-11 08:00] #22277 closed, assigned to nobody

[2019-04-11 08:02] emastyle commented on #12584
Same issue seems still present on Magento 2.3.

[2019-04-11 08:07] engcom-backlog-nazar commented on #22278
HI @qsolutions-pl thank you for your report, to be able to disable store view, be sure that you have 2 store view per store.
![DeepinScreenshot_select-area_20190411110619](https://user-images.githubusercontent.com/40756439/55940984-ebcd9e80-5c49-11e9-98b8-bc73d4b08ec3.png)

[2019-04-11 08:07] NiklasBr commented on #21817
[code]

[code]

[2019-04-11 08:12] engcom-backlog-nazar commented on #21817
@NiklasBr can you show output ?
 `php -r "define('UPDATER_BP', realpath(__DIR__ . '/../')); echo UPDATER_BP;"`

[2019-04-11 08:14] NiklasBr commented on #21817
[code]

[2019-04-11 08:18] engcom-backlog-nazar commented on #21817
@NiklasBr ok, you have a point here.
![DeepinScreenshot_select-area_20190411111741](https://user-images.githubusercontent.com/40756439/55941720-795dbe00-5c4b-11e9-9097-74e89ac6efcf.png)

[2019-04-11 08:23] engcom-backlog-nazar commented on #21817
@NiklasBr seems like you have no path here -

[2019-04-11 08:25] NiklasBr commented on #21817
Please elaborate, that directory exists...

[2019-04-11 08:26] engcom-backlog-nazar commented on #21817
@NiklasBr file php ? did  you have /usr/local/lib/php ? ` ls -l /usr/local/lib/php`

[2019-04-11 08:27] NiklasBr commented on #21817
[code]

[2019-04-11 08:30] engcom-backlog-nazar commented on #21817
@NiklasBr did you have vendor/autoload.php in core derectory ?

[2019-04-11 08:33] NiklasBr commented on #21817
@engcom-backlog-nazar [I believe so](#issuecomment-482012931) (if I understand your question correctly).

[2019-04-11 08:35] engcom-backlog-nazar commented on #21817
@NiklasBr oh,, and what about autoload in update folder ?

[2019-04-11 08:36] NiklasBr commented on #21817
No:

[code]

[2019-04-11 08:37] engcom-backlog-nazar commented on #21817
@NiklasBr so this is core issue, run composer install on update folder

[2019-04-11 08:41] NiklasBr commented on #21817
Didn't help :(
Still no autoload in that folder

[2019-04-11 08:41] engcom-backlog-nazar commented on #21817
@NiklasBr you must have update/vendor/autoload.php

[2019-04-11 08:49] engcom-backlog-nazar commented on #22283
hi @qlhu thank you for you report, this issue has already fixed in 2.3-develop branch, but i think this may be related to your custom modules.
![deepin-screen-recorder_Select area_20190411114642](https://user-images.githubusercontent.com/40756439/55943639-a01df380-5c4f-11e9-8343-90fb38d48f50.gif)
![DeepinScreenshot_select-area_20190411114926](https://user-images.githubusercontent.com/40756439/5594

[2019-04-11 08:49] #22283 closed, assigned to nobody

[2019-04-11 08:57] engcom-backlog-nazar commented on #22269
Hi @haelbichalex thank you for you report, i'm also not able to reproduce this on 2.3-develop branch, and this may be fixed by this commit -> https://github.com/magento/magento2/commit/d07e18450b17c3d92e6c88542b52e3c64d4d9cc3

[2019-04-11 08:57] #22269 closed, assigned to nobody

[2019-04-11 08:59] engcom-backlog-nazar commented on #21817
@NiklasBr so did you have

?

[2019-04-11 09:08] haelbichalex commented on #22269
@engcom-backlog-nazar Thanks for your answer. This commit though is already included in 2.3.1 and doesn't fix this, as it's reproducible there.

[2019-04-11 09:15] NiklasBr commented on #21817
No, no autoload.php in that folder before or after running the install command.

[2019-04-11 09:19] engcom-backlog-nazar commented on #21817
@NiklasBr that's very strange, in my case composer create project 2.3.1 and i' have .
![DeepinScreenshot_select-area_20190411121856](https://user-images.githubusercontent.com/40756439/55945708-fdb43f00-5c53-11e9-8ea1-fa05cf8383cf.png)

[2019-04-11 09:19] mad-develop commented on #22274
@Ctucker9233 i expierience the same problem. For me there where settings in the "Advanced Inventory" ("Maximum Qty Allowed in Shopping Cart" was 0 so the form validation failed.) Cost me several hours to figure this out. Maybe its the same for you.

[2019-04-11 09:38] syno-ght commented on #10067
Hello guys,

Any update on this issue ?

We need a fix for one of our clients.

Cross border trade is not an option in my case, I want the tax automatically deducted from the price.

Thanks,

[2019-04-11 09:41] visahardik commented on #19710
I have same problem while upgrading 2.2.6 to 2.3.1 with custom theme. how to resolve this ?
I tried @pauldonnelly solution but not worked.

[2019-04-11 09:58] Interghost commented on #21495
where is the htmlRemoveTags option?

[2019-04-11 10:02] Siyadev9 opened #22286 "Magento 2.2.7 Order comments not saved"
### Preconditions (*)

1. Magento 2.2.7
2. Upgraded from magento 1.9.4

### Steps to reproduce (*)

1. Place an order and view order on the admin panel.
2. Add a comment to the order and click submit button.

### Expected result (*)

1. [Screenshots, logs or description]
2. What I expected was the comment to be saved and visible in the comments tab, and at the
    bottom of the order

### Actual r

[2019-04-11 10:54] AaronONeill commented on #22095
We're experiencing the same issue since upgrading a site from 2.2.7 to 2.2.8. We have also found that removing the Special Price (% value) from the bundled product and saving allows us to successfully navigate to the cart/checkout page. When this field has a value, the cart/checkout process is broken entirely.

I have done some digging based on the files @Jitheesh provided. What we can see is that

[2019-04-11 11:39] ArpitGupta-shoptimize commented on #22241
@magento-engcom-team give me 2.3-develop instance

[2019-04-11 11:39] magento-engcom-team commented on #22241
Hi @ArpitGupta-shoptimize. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-11 11:40] magento-engcom-team commented on #22241
Hi @ArpitGupta-shoptimize, here is your [Magento instance](https://i-22241-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22241-2-3-develop.instances.magento-community.engineering/admin](https://i-22241-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-11 11:43] engcom-backlog-nazar commented on #22286
Hi @Siyadev9 , problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-04-11 11:43] #22286 closed, assigned to nobody

[2019-04-11 11:49] engcom-backlog-nazar commented on #22273
Hi @heyepic thank you for your report can you please, verify if your user have permission to create or drop table ?

[2019-04-11 11:57] nadeefit6 commented on #22274
This is probably a missing required product attribute or field in a different tab.
Other than that this issue cannot be reproduced in 2.2.7.

[2019-04-11 11:58] magento-engcom-team commented on #1146
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-11 11:59] magento-engcom-team commented on #1146
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99141`, `MAGETWO-99142` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-11 11:59] csmith-fm commented on #9700
This is by far not the clearest way of reporting faults, as such issues you're expecting a separate file to be generated within the "var/report" folder, with any API calls being in the api directory. For any errors with "webapi" at the beginning however, this is not the case.

If you head over to vendor/magento/framework/Webapi/ErrorProcessor.php, go down to approximately line 200, and you will se

[2019-04-11 12:02] engcom-backlog-nazar commented on #1146
HI @ihor-sviziev adding this lines to app/etc/env.php solve the problem

[2019-04-11 12:05] nadeefit6 commented on #22278
If you have more than 2 store-views per website,enable/disable of the non-default store-view is possible.
If you have only one store-view, it becomes the default one,so it cannot be enabled/disabled.
Its the default behavior.

[2019-04-11 12:06] engcom-backlog-nazar commented on #22278
@qsolutions-pl It will be processed faster if you move this to https://github.com/magento/community-features

[2019-04-11 12:06] #22278 closed, assigned to nobody

[2019-04-11 12:07] magento-engcom-team commented on #22264
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99143` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-11 12:15] NiklasBr commented on #21817
After re-installing from scratch it seems that file disappears when we run the command `php bin/magento cron:install`

[2019-04-11 12:16] Prasad2706 commented on #2958
getting error for upload image from static block
![error-image-upload](https://user-images.githubusercontent.com/46341163/55956465-a4630480-5c81-11e9-898c-554657991b94.png)
Magento Version 2.3.0

[2019-04-11 12:17] engcom-backlog-nazar commented on #21817
@NiklasBr that very interesting, i'm  will retest

[2019-04-11 12:38] Prasad2706 commented on #21284
have you get solution for this issue ?

[2019-04-11 12:39] hostep commented on #1146
Maybe Magento's installation procedure should ask if you host from pub or not and then write that config setting to the `env.php` file? That might be a nice solution here (which only then works for new shops, not for existing shops).

That flag should also be documented somewhere, currently I can't find it on the devdocs site...

[2019-04-11 12:39] steinkopffp commented on #22274
I faced a similar issue is which was caused by a change on the attribute **Maximum Qty Allowed in Shopping Cart**. Push the save button and look in modals like **Advanced Inventory** and search for an error inside modals.

[2019-04-11 12:42] nadeefit6 commented on #22172
This issue cannot be reproduced in 2.2.7.

[2019-04-11 13:10] Prasad2706 commented on #19549
solution not work for me :(

[2019-04-11 13:11] simonmaass commented on #19549
this is fixed in 2.3.1...

[2019-04-11 13:26] engcom-backlog-nazar commented on #21817
@NiklasBr tested several times but not found where command "install" can remove this path.

[2019-04-11 13:30] magento-engcom-team commented on #6659
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99144`, `MAGETWO-99145` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-11 13:43] jonathan-may commented on #22245
@shikhamis11, Were you able to reproduce this?

[2019-04-11 13:48] dmanners commented on #21885
@erfanimani thanks for the update. Are the issues duplicated or the PRs?

[2019-04-11 13:59] ipascual commented on #21852
Same issue happens randomly on Magento Cloud

`[RuntimeException]
Error while waiting for package deployed: 19104; Status: 0`

which I know they have a network hard drive for pub/static

[2019-04-11 14:08] mbnsc commented on #22273
Yes, I do. I deleted all of the cart/catalog rules in M2 admin and those tables still exist.

![Capture](https://user-images.githubusercontent.com/47368163/55963933-4c081480-5c39-11e9-9a7c-720eb94243a4.PNG)

Are those tables safe to drop?

[2019-04-11 14:10] engcom-backlog-nazar commented on #22273
@heyepic this tables may be automatically drops after reindex.

[2019-04-11 14:12] mbnsc commented on #22273
I've re-indexed and they do not remove - so it is safe to drop via phpmyadmin?

[2019-04-11 14:16] engcom-backlog-nazar commented on #22273
@heyepic yes, but be careful to not drop other tables.

[2019-04-11 14:19] mbnsc commented on #22273
Thanks for the support. Keep rocking it guys.

[2019-04-11 14:38] engcom-backlog-nazar commented on #19034
HI @navarr I'm closing this one as this issue no longer reproducible, if you heva additional steps to reproduce this one, please describe steps to reproduce, and reopen issue, if you have another issue please open new one.

[2019-04-11 14:38] #19034 closed, assigned to nobody

[2019-04-11 14:40] navarr commented on #19034
@engcom-backlog-nazar What steps are being used?  I ran through the outlined steps in 2.3.1 when I reopened the ticket and my observer was not called.

[2019-04-11 14:43] engcom-backlog-nazar commented on #19034
@navarr ok give me 5 minutes i'm will retest if observer not called i'm reopen. or you trying to say that this observer calls only for guest checkout ?

[2019-04-11 14:47] navarr commented on #19034
Any observer for the event `sales_order_save_commit_after` is not called during guest checkout.

The related change #19036 works around the issue as it affects the Downloadable module, but does not resolve the criteria in this ticket

[2019-04-11 14:52] engcom-backlog-nazar commented on #19034
@navarr ok i agree with can you open new issue so we be able to set new fix for this ? and link this issue and PR where issue comes from. thank you.

[2019-04-11 14:54] navarr commented on #19034
@engcom-backlog-nazar Understood.  Will add to my todo list and get it done a little later, thanks 👍

[2019-04-11 14:55] erfanimani commented on #21885
@dmanners Both actually — this issue is a duplicate of  #14398

But then there are two open PRs (I referenced them both in case someone wants to create a patch for it):
- #21855
- #21146

[2019-04-11 15:50] xpoback commented on #14952
I wonder why this issue is closed it's reproducible and has not been actually been fixed in any release.
Thanks to @sashas777, there is a fix https://github.com/sashas777/bug-from-email

But even with it there is no sender name in 2.2.8.

[2019-04-11 16:06] DanielRuf commented on #14952
It is fixed in the develop branches.

[2019-04-11 16:07] gwharton commented on #14952
@xpoback Just read 3 comments back from your comment. It is scheduled for release in 2.2.9.

[2019-04-11 16:07] caramidaovidiu commented on #3679
You can rebuild URL rewrites from admin area using this extension. It also allows you to customize the URLs and generate unique URLs by adding for ex the SKU in the URL

https://marketplace.magento.com/webpanda-catalog-url-rewrites.html

[2019-04-11 16:10] magento-engcom-team commented on #15972
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#22140 by @hostep in 2.2-develop branch
Related commit(s):
 - [0b0fc92a7e650dec0c94d56e01f7106304a4f67c](https://github.com/magento/magento2/commit/0b0fc92a7e650dec0c94d56e01f7106304a4f67c)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-11 17:11] jrenouard commented on #12271
@riconeitzel I had the same v10 vs v8 issue, it looks like removing `--force` in grunt/configs/combo.js is working but I'm worried it could mess something else.
Do you see any reason to keep the `--force` option?

[2019-04-11 17:21] tylerssn opened #22290 "Require progress to be output on Magento Cli command methods that will take more than a minute to execute"
### Description (*)
As a developer, I'd like to see progress output for any step of a Magento Cli command that can potentially run longer than one minute.

### Expected behavior (*)
A standard should be in place requiring any command to output progress for a method that will take longer than one minute to execute.

For example: `bin/magento setup:upgrade` @ `Installing data...` should update progr

[2019-04-11 17:30] caramidaovidiu commented on #5863
This extension can solve the duplicate URL issues by adding any attribute you want in the product URL structure and make it unique(for ex the SKU). It will then generate the URLs automatically on product save or import. You can also regenerate the URL rewrites from admin product listing.

https://marketplace.magento.com/webpanda-catalog-url-rewrites.html

[2019-04-11 17:56] ihor-sviziev commented on #1146
Hi @hostep,
Good idea for asking for document root during setup process!
I also reported issue for documenting this flag https://github.com/magento/devdocs/issues/4093

[2019-04-11 17:59] shikhamis11 commented on #21817
@NiklasBr @engcom-backlog-nazar I am checking this on 2.3.1 version with php 7.2 not getting any issue while cron setup

[2019-04-11 18:04] shikhamis11 commented on #22137
@akimo I am not able to reproduce this issue based on provided steps on current magento 2.3-develop instance let me know if it requires any additional step to reproduce the issue

[2019-04-11 18:36] akimo commented on #22137
This issue is new in 2.3.1 and not present in 2.3.0 (I don't know which version "2.3-develop" is  based on). You need to press the return key while the cursor is still in the quantity field.

[2019-04-11 19:15] magento-engcom-team commented on #22001
Hi @vishal-7037. Thank you for your report.
The issue has been fixed in magento/magento2#22002 by @vishal-7037 in 2.3-develop branch
Related commit(s):
 - [9e6f56bee5b354981a7a45bac26620f598d9cd72](https://github.com/magento/magento2/commit/9e6f56bee5b354981a7a45bac26620f598d9cd72)
 - [8a98f208245d381d3fff0bb22c47f757b89f6e07](https://github.com/magento/magento2/commit/8a98f208245d381d3fff0bb22c47

[2019-04-11 19:15] #22001 closed, assigned to vishal-7037

[2019-04-11 19:15] magento-engcom-team commented on #20366
Hi @usamahabib786. Thank you for your report.
The issue has been fixed in magento/magento2#21083 by @pedrosousa13 in 2.3-develop branch
Related commit(s):
 - [b3b6c90480942d7b56a398e33d1ce0a357358997](https://github.com/magento/magento2/commit/b3b6c90480942d7b56a398e33d1ce0a357358997)
 - [a7f03dd4f2ec0927e913c753a9b178394b5cd542](https://github.com/magento/magento2/commit/a7f03dd4f2ec0927e913c753a

[2019-04-11 19:15] #20366 closed, assigned to nobody

[2019-04-11 19:24] francescorm commented on #9186
Yes, it's still an issue. No way to update products using API if you need a multistore.
I'm studying some plugin but i'm always waiting information about my question on deleting tuple from 'catalo_product_entity_int'

[2019-04-11 19:29] fascinosum commented on #6367
@TomashKhamlai you must execute `grunt exec:blank` so that you can see frontend theme files in the list

[2019-04-11 19:52] fascinosum commented on #6367
@amenk according to [Client-side LESS compilation](https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/css-topics/css-preprocess.html#client-side), this is the expected behavior.
`@magento_import` directive is processed and the result code differs from the original .less file.
`//@magento_import 'module/_collapsible_navigation.less';` in the process file will be
`@import 'module/_collapsibl

[2019-04-11 19:52] #6367 closed, assigned to nobody

[2019-04-11 20:15] genyuk commented on #22095
Same issue on Magento 2.2.8 CE, MariaDB, Nginx
After trying to add a bundle product to the cart - site will crash after a few minutes on "waiting ...." and the issue will remain for any other (even simple) products. Restarting server and clearing browser cache on the client does help until the next try with bundle product .

Removing Special price does not help in our case.

Any tip on how to patc

[2019-04-11 20:20] sjb9774 commented on #15939
@matthew-muscat do you have a suggested fix for this issue? I'm currently running into this on 2.2.6

[2019-04-11 20:29] aario commented on #13152
Bump! Any updates?

[2019-04-11 20:59] Ctucker9233 commented on #22274
@mad-develop at @steinkopffp I will look at that right now. Thank you!

[2019-04-11 21:02] Ctucker9233 commented on #22274
@mad-develop @steinkopffp that was it! Now all we need is for @magento-engcom-team to add an error message that validates advanced inventory so that more people like me don't spend hours banging their heads against a wall.

[2019-04-11 21:51] github-Rach opened #22292 "Cannot export shipper hq dimensional shipping"
### Preconditions (*)

1. mag 2.2.7
2. cannot export Catalog > Product > Dimensional Shipping > Product Dimensions

### Steps to reproduce (*)

1. Export >  Catalog > Product > Dimensional Shipping > Product Dimensions
2. Dimension Length and Dimension Height and Dimension Width
![dim-shipping-mag](https://user-images.githubusercontent.com/48331509/55995354-2135b480-5c69-11e9-8f6b-07c7f4884812.jpg

[2019-04-11 22:23] Jackcar commented on #3457
Any update on this? I am still facing the same issue on version 2.2.4

[2019-04-12 00:00] SAN1TAR1UM commented on #13229
Any update on this? Anyone built an M2 extension?

[2019-04-12 00:21] Ctucker9233 commented on #8933
@magento-engcom-team What's going on here?

[2019-04-12 02:13] qlhu commented on #22283
Hi @engcom-backlog-nazar,
Thanks for quick response. Could you confirm it executes line 102 - 105 of `Magento\Sales\Model\Order\Invoice\Total\Tax::collect() `instead the line 107 - 113 when you did debugging? By reviewing 2.3-develop branch, thought the line 107 - 113 would to be executed.
Please let me share what I figured out with Magento CE 2.2.3. The configurable child item is treated as dummy

[2019-04-12 03:41] matthew-muscat commented on #15939
@sjb9774 — we changed the index mode for stock to "update on save" — which works around the issue, since it's only the "update on schedule" mode that is affected here.

[2019-04-12 06:36] comaxxdevelopment commented on #22095
For our projects we fixed this bug as followed:

Make an override for vendor/magento/module-catalog/Model/Product/Attribute/Backend/Tierprice.php line 171. Change it from:

`if ($specialPrice && ($object->getPrice() > $object->getFinalPrice())) {`
to
`if ($specialPrice && ($object->getPrice() > $specialPrice)) {`

Tested using bundles containing customer group prices and special price and correct

[2019-04-12 06:38] vineetagarwal1981 opened #22297 "Elastic search issue over Secure Connection"
### Preconditions (*)
1. Magento Version 2.3
2. We are facing an issue while testing the connection of Elastic search over SSL without enable HTTP Auth. We are getting the response as Connection failed!.

### Steps to reproduce (*)

1. Magento Version 2.3
2. We have configuring AWS Elastic search with SSL.
3. We set the Elastic search detail in the backend Store > Configuration > Catalog > Catalog

[2019-04-12 06:44] stephansteiner commented on #9186
I do regular cleanup in the database by running some queries and doing some reindex afterwards.
Example: delete all global/website attribute values (like product status) from store-views:

`delete from catalog_product_entity_int where attribute_id in (select ea.attribute_id from eav_attribute ea, catalog_eav_attribute cea where ea.attribute_id = cea.attribute_id and cea.is_global in (1,2)) and sto

[2019-04-12 06:53] ssmadsen commented on #6167
I can confirm. Not fixed in 2.3

Saving a configurable product with 4 associated products takes 3 minutes.

[2019-04-12 06:56] Prasad2706 commented on #19549
but we need to work on 2.3 cant upgrade to 2.3.1

[2019-04-12 07:11] engcom-backlog-nazar commented on #21817
Hi @NiklasBr  i'm closing this issue as this not related to magento codebase, and tor reproducible, if you have some additional steps to reprodcue, feel free to reopen the issue if this one still exists, thanks for collaboration :+1:

[2019-04-12 07:11] #21817 closed, assigned to shikhamis11

[2019-04-12 07:16] engcom-backlog-nazar commented on #20957
HI @yashwant2jcommerce thank you for you report, i'm closing this as this is non-issue. thanks for collaboration.

[2019-04-12 07:16] #20957 closed, assigned to nobody

[2019-04-12 07:25] santibm commented on #21705
We are having this issue with magento 2.2.6 too, for the moment we deleted all the temp tables

[2019-04-12 07:50] engcom-backlog-nazar commented on #21891
hI @gianisimone thank you for you report, this issue has already fixed in 2.3.1 release. thanks for collaboration :+1:
![DeepinScreenshot_select-area_20190412104926](https://user-images.githubusercontent.com/40756439/56020843-c5bf0180-5d10-11e9-988d-57f89e93912a.png)

[2019-04-12 07:50] #21891 closed, assigned to nobody

[2019-04-12 07:58] engcom-backlog-nazar commented on #10303
Hi @orlangur this actualy duplicate to this -> https://github.com/magento/magento2/issues/22257 wich have more information isn't it ?

[2019-04-12 08:20] magento-engcom-team commented on #22297
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99154`, `MAGETWO-99155` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-12 08:23] engcom-backlog-nazar commented on #22273
@heyepic i'm closing this as i'm not able to reproduce, and seems like thish may be related to configuration with your  environment, feel free to reopen, with additional information if issue still exists.

[2019-04-12 08:25] tzyganu opened #22299 "Cms block cache key does not contain the store id"
### Preconditions (*)
1. Magento version 2.2.6
2. create one block that contains a `{{trans}}` directive. Or 2 blocks with the same identifier but each one available on a different store view
3. Block cache must be enabled.

### Steps to reproduce (*)
1. Add the block in the layout and specify a cache lifetime

[code]

### Expected result (*)

1. Loading the pages that contain this block on 2 diff

[2019-04-12 08:27] Al3ks73 commented on #22266
@magento-engcom-team give me 2.3-develop instance