[2019-12-09 22:54] #7514 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #10725
@kanduvisla, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-12-09 22:54] #10725 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #10396
@klakovsky, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-09 22:54] #10396 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #3727
@utpalmaity, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-12-09 22:54] #3727 closed, assigned to nobody

[2019-12-09 23:26] magento-engcom-team commented on #6014
@ludwig-gramberg, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acc

[2019-12-09 23:26] #6014 closed, assigned to nobody

[2019-12-09 23:33] zlr35 opened #25961 "REST API Ignores User Role Scope"
# Preconditions (*)
1. Magento 2.2.10
2. Multi-site installation (min 2 store views)
3. Orders placed against multiple store views

### Steps to reproduce (*)
1. Create a new admin user role in a multi-site setup
2. Assign the user role's scope to 1 store view
3. Create a new admin user and attach the previously created role to the new user
4. Create an admin token via a REST call using the newly

[2019-12-09 23:48] sdzhepa commented on #12053
Closed as fixed.
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Search/Adapter/Mysql/Query/Builder/Match.php#L33

[2019-12-09 23:48] #12053 closed, assigned to nobody

[2019-12-10 00:25] sdzhepa commented on #13210
Hello @davidverholen

Could you please create PR with fix for this issue to `2.4-develop`?

Thank you in advance!

[2019-12-10 00:40] sdzhepa commented on #12494
Duplicate of #23938

[2019-12-10 00:40] #12494 closed, assigned to nobody

[2019-12-10 00:50] magento-engcom-team commented on #25731
Hi @domeglic. Thank you for your report.
The issue has been fixed in magento/magento2#25952 by @edenduong in 2.4-develop branch
Related commit(s):
 - [fe935a668044bf02852b5b2ddcb01834090132a7](https://github.com/magento/magento2/commit/fe935a668044bf02852b5b2ddcb01834090132a7)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-10 00:50] #25731 closed, assigned to edenduong

[2019-12-10 00:50] magento-engcom-team commented on #25931
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#25932 by @edenduong in 2.4-develop branch
Related commit(s):
 - [b92aef02958c7820d2d4e9456eb22f3cebba107d](https://github.com/magento/magento2/commit/b92aef02958c7820d2d4e9456eb22f3cebba107d)
 - [f33199f77fe16beb22478dd9773035185b576a0d](https://github.com/magento/magento2/commit/f33199f77fe16beb22478dd977303518

[2019-12-10 00:50] #25931 closed, assigned to edenduong

[2019-12-10 00:50] magento-engcom-team commented on #25911
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#25912 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [706826899aa6c9452938d8d241b51106caa51633](https://github.com/magento/magento2/commit/706826899aa6c9452938d8d241b51106caa51633)
 - [414105e20221688f94e45b0563f1b38f9e9ea258](https://github.com/magento/magento2/commit/414105e20221688f94e45b0563

[2019-12-10 00:50] #25911 closed, assigned to ihor-sviziev

[2019-12-10 00:50] magento-engcom-team commented on #25935
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#25942 by @edenduong in 2.4-develop branch
Related commit(s):
 - [183dd645b733a65d57b3bf6ad42daef6da75923a](https://github.com/magento/magento2/commit/183dd645b733a65d57b3bf6ad42daef6da75923a)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-10 00:50] #25935 closed, assigned to edenduong

[2019-12-10 00:50] magento-engcom-team commented on #25925
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#25926 by @edenduong in 2.4-develop branch
Related commit(s):
 - [fa2ed5347963585c3f8c8f639511fdf25a28df24](https://github.com/magento/magento2/commit/fa2ed5347963585c3f8c8f639511fdf25a28df24)
 - [1a285eac193762b3c11123ac9600d22ec1ac300a](https://github.com/magento/magento2/commit/1a285eac193762b3c11123ac9600d22e

[2019-12-10 00:50] #25925 closed, assigned to edenduong

[2019-12-10 00:50] magento-engcom-team commented on #25917
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#25918 by @eduard13 in 2.4-develop branch
Related commit(s):
 - [67c55ec5b8bd00ad78355df34362e1a754980bf7](https://github.com/magento/magento2/commit/67c55ec5b8bd00ad78355df34362e1a754980bf7)
 - [18281bbb12f323c20764a5128f962912782b852a](https://github.com/magento/magento2/commit/18281bbb12f323c20764a5128f96291278

[2019-12-10 00:50] #25917 closed, assigned to eduard13

[2019-12-10 01:05] sdzhepa commented on #13087
Closed.
Such changes are contradicting the Magento Backward Compatible guide.

For more details see: https://devdocs.magento.com/guides/v2.3/contributor-guide/backward-compatible-development/index.html#introduction-of-a-method-to-a-class-or-interface

[2019-12-10 01:05] #13087 closed, assigned to nobody

[2019-12-10 01:28] sdzhepa commented on #11508
Closed as fixed
related commit:
- https://github.com/magento/magento2/commit/573f74764a23877866ae7627fc43884164668899

[2019-12-10 01:28] #11508 closed, assigned to nobody

[2019-12-10 01:38] #13968 closed, assigned to nobody

[2019-12-10 04:00] dattruongthe commented on #417
Hi @magento-engcom-team

Seem this works for multi-select attribute only, Does this work for select attribute also?

[2019-12-10 05:01] hitesh-wagento opened #25962 "Radio alignment issue"
### Summary

Radio alignment issue

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Add any product in Cart.
2. Go to Checkout Page.

### Expected result

1. Radio should be aligned.
![expected](https://user-images.githubusercontent.com/23443991/50557911-9c550980-0d0f-11e9-9a06-2ce63be823fa.jpg)

### Actual result

1. Radio little bit up.
![actual]

[2019-12-10 05:22] hitesh-wagento commented on #25962
@magento give me 2.4-develop instance

[2019-12-10 05:22] magento-engcom-team commented on #25962
Hi @hitesh-wagento. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-10 05:22] magento-engcom-team commented on #25962
Hi @hitesh-wagento, here is your [Magento instance](https://i-25962-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25962-2-4-develop.instances.magento-community.engineering/admin](https://i-25962-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-10 05:39] koushikch7 opened #25963 "Grid Export rendered data is not reflecting in the exported File, Displayed ID instead of Rendered Label"
### Preconditions
[Verified](https://chkoushik.com/) in Magento 2.3.2 and 2.3.3 and found that the data displayed in the grid by rendering columns is not reflecting in the Exported file, Instead, we are getting Id of the data rather than grid value.
Verified in the environments,
1. Magento 2.3.2 and Magento 2.3.3 & 2.4-develop
2. Apache and Nginx
3. Mysql and MongoDB

### Steps to reproduce
1. Log

[2019-12-10 06:17] magento-engcom-team commented on #25962
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29607` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-10 07:26] #25586 closed, assigned to krzksz

[2019-12-10 08:53] tuyennn commented on #25963
@magento give me 2.4-develop instance

[2019-12-10 08:53] magento-engcom-team commented on #25963
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-10 08:54] magento-engcom-team commented on #25963
Hi @tuyennn, here is your [Magento instance](https://i-25963-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25963-2-4-develop.instances.magento-community.engineering/admin](https://i-25963-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-10 09:17] magento-engcom-team commented on #4641
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29609` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-10 09:42] ajithkumar-maragathavel commented on #25906
@magento give me 2.2 instance

[2019-12-10 09:50] tuyennn opened #25967 "Notice: Array to string conversion Magento/CatalogSearch/Model/Layer/Filter/Attribute.php in catalog by filter by boolean option"
### Preconditions (*)

1. Magento 2.4-dev

### Steps to reproduce (*)

1. Go to frontend -> Men -> Tops -> Hoodies & Sweatshirts
2. Choose Sales from Nav filter -> Yes

### Expected result (*)

1. Will be found products that being in sale(attribute value = 1, sales)

### Actual result (*)

1. exception Notice: Array to string conversion in /app/code/Magento/CatalogSearch/Model/Layer/Filter/Attribu

[2019-12-10 10:00] ghost opened #25968 "`getPrice()` returns a string when setting custom price in admin order"
### Preconditions
M 2.3.3
### Steps to reproduce
1. The method `getPrice()` from `/vendor/magento/module-sales/Model/Order/Item.php`

[code]

### Expected result
Clearly states it should return a float, or null.
### Actual result
However, when creating a MOTO order, and you set a custom price for a product, when you call `getPrice()` for the order items, the returned value will be a string, not a

[2019-12-10 10:19] engcom-Charlie commented on #13797
Hello @rzinnatullin
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

**Testing scenario:**

1. Enable 'Check/Money' payment method
2. Enable 'Payflow Pro' payment method. Note that 'Hosted Checkout Pages' feature should be disabled for the Payflow Pro account you use.
3. Also set the following for the 'Payfl

[2019-12-10 10:19] #13797 closed, assigned to engcom-Charlie

[2019-12-10 10:25] edenduong opened #25970 ""Layered Navigation Price Step" in Category Form display wrong currency"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to backend
2. Set default currency to Euro

![image](https://user-images.githubusercontent.com/8234209/70512701-b378ba00-1b62-11ea-8d5e-d21f168ba422.png)

3. Go to Catalog->Categories
4. Edit one category, scroll to Display Settings
5. See:

![image](https://user-images.githubusercontent.com/8234209/70513008-5af5ec80-

[2019-12-10 10:30] engcom-Charlie commented on #10085
Hello @spyrule
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

**Testing scenario:**

1. Import a LARGE amount of products into Magento catalog with images (100,000+ products)
2. PHP is set to allow x GB in memory (my host max is 2GB for php).
![image](https://user-images.githubusercontent.com/51680850/7052

[2019-12-10 10:30] #10085 closed, assigned to engcom-Charlie

[2019-12-10 10:33] ajijshekh123 commented on #25970
Give me @magento give me 2.4-develop instance

[2019-12-10 10:34] magento-engcom-team commented on #25970
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-10 10:34] magento-engcom-team commented on #25970
Hi @ajijshekh123, here is your [Magento instance](https://i-25970-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25970-2-4-develop.instances.magento-community.engineering/admin](https://i-25970-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-10 10:36] engcom-Echo commented on #25953
Hello @scne

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.
**Steps to reproduce:**
1. Update product via REST API with a PUT request. `domain.com/rest/default/async/V1/products/Product_sku`
2. Run the PUT request with this body
[code]
**Result**
Updating of stock item related to product sku via PUT request with min_sale_qty and qty_increments set up correctly.

[2019-12-10 10:37] giacmir commented on #4331
This is still happening with 2.3, I'm reopening this.

[2019-12-10 10:41] magento-engcom-team commented on #25970
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29611` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-10 10:45] magento-engcom-team commented on #12074
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29612` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-10 10:51] mertgokceimam commented on #5847
This issue still existing on Magento 2 Enterprise after 3 years of original report date is unacceptable

[2019-12-10 10:56] vivek-kumar-sm commented on #7932
Did someone manage to solve the issue for people without redis?

[2019-12-10 11:01] hitesh-wagento opened #25972 "Not required spacing in submenu on hover desktop"
### Summary

No space required in sub menu top and bottom .

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
Go to the Home page and hover menu.

### Expected result

1. No space required in sub menu top and bottom .
![expected](https://user-images.githubusercontent.com/23443991/70523884-f5f1c500-1b69-11ea-83fb-c025e96a8aea.png)

### Actual result

1.

[2019-12-10 11:17] dev-Z-Apx commented on #25073
@gaiterjones  I am not using this I actually need product attributes but I have customers who might be using Temando_Shipping.
I have tried to disable it but the problem still persists.

[2019-12-10 11:27] krishprakash commented on #25972
@magento give me 2.4-develop instance

[2019-12-10 11:27] magento-engcom-team commented on #25972
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-10 11:28] magento-engcom-team commented on #25972
Hi @krishprakash, here is your [Magento instance](https://i-25972-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25972-2-4-develop.instances.magento-community.engineering/admin](https://i-25972-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-10 11:32] magento-engcom-team commented on #25972
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-10 11:32] magento-engcom-team commented on #25972
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29613` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-10 12:02] hans-vereyken opened #25974 "Amount of characters on a 'Area' Customizable Option counted differently on backend/frontend"
### Preconditions (*)

1. Vagrant box, Debian 9
2. Magento 2.2.9
3. Chrome 78
4. Create a virtual product with Customizable Options:
- Option Title: Message
- Option Type: Area
- Max Characters: 20
- Don't forget to add a price and stock

### Steps to reproduce (*)

1. Try to put this product in your basket with a message 'Is twenty characters' => OK on front and can add to cart.
2. Try to put thi

[2019-12-10 12:33] askmikeyd commented on #25399
I was having the same issue and I don't think the proposed solution is the way to go. This only solves it for Paypal but this issue exists when using other payment methods as a guest. A better solution needs to be done in the Magento Core. My fix for it was to set "Enable Automatic Assignment to Customer Group" to "Yes" at the website level as that is where my customer is created and set it to "No

[2019-12-10 12:47] paul-gene commented on #24782
This needs to be re-opened. @engcom-Charlie got the steps in the wrong order. You need to select PayPal, then apply the coupon.

The issue is that when you select PayPal and it initialises the payment method, it sets the amount. After applying a coupon, the new amount is never updated.

[2019-12-10 13:19] engcom-Echo commented on #4331
Hello All

Magento 2.4-develop.
Set "Change Password" from "Forced" to "Recommended" and increase the "Password Expiration Date" in the admin panel to avoid this problem.
(Stores -> Configuration -> Admin -> Security section)
![Screenshot_7](https://user-images.githubusercontent.com/51681435/70532172-2e3fd600-1b5f-11ea-9afc-51d59f59ac40.png)
So I have to close it.
Thank you!

[2019-12-10 13:19] #4331 closed, assigned to engcom-Echo

[2019-12-10 13:25] giacmir commented on #4331
Hi @engcom-Echo,

your solution is a workaround, what is described here is that, even if the admin changes password, the change request is always present and can't be dismissed. I don't think this should be closed.

[2019-12-10 13:26] sandip5678 opened #25976 "'magento' adding in the URL when Use Web Server Rewrites set to NO using Console Command"
### Summary (*)

This is a Developer experience issue. I have created one simple console file that will generate product name, URL etc.

1. Magento 2.3.x with sample data
2. Use Web Server Rewrites field set to No
3. Clear cache if prompted

### Examples (*)

1. app/code/Custom/Pro/etc/di.xml

[code]

2. app/code/Custom/Pro/Console/Command/ProductURLFetch.php

[code]

Execute below console.
`php b

[2019-12-10 14:24] spyrule commented on #10085
I should mention, I no longer work for the company that had this huge catalog. They got fed up with Magento's broken product management, and dropped Magento completely.  I now work for a company that has a tiny catalog by comparison, and have not experienced this issue since.

[2019-12-10 14:36] magento-engcom-team commented on #12836
@versdivers, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-12-10 14:36] #12836 closed, assigned to nobody

[2019-12-10 14:36] magento-engcom-team commented on #12980
@mveldhuizen, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-12-10 14:36] #12980 closed, assigned to nobody

[2019-12-10 14:36] magento-engcom-team commented on #12152
@ghost, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-10 14:37] #12152 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13249
@avinashsamala, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accor

[2019-12-10 14:37] #13249 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13876
@roura356a, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-10 14:37] #13876 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #10201
@parksddd, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-10 14:37] #10201 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13418
@danijelkusic, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-12-10 14:37] #13418 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #12489
@joebordo, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-10 14:37] #12489 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13564
@glwstor, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-10 14:37] #13564 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #10847
@kanduvisla, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-12-10 14:37] #10847 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #12211
@leoncito73, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-12-10 14:37] #12211 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13317
@experius-nl, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-12-10 14:37] #13317 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #12615
@fwolfst, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-10 14:37] magento-engcom-team commented on #12740
@a-dite, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-10 14:37] #12740 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13222
@koenner01, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-10 14:37] #13222 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #12090
@heldchen, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-10 14:37] #12090 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #12286
@navarr, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-10 14:37] #12286 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13129
@avgust1111, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-12-10 14:37] #13129 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13111
@careys7, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-10 14:37] #13111 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13998
@Pigau, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-10 14:37] #13998 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #13684
@vshijiav, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-10 14:37] #13684 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #11478
@adrian-martinez-interactiv4, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create ne

[2019-12-10 14:37] #11478 closed, assigned to nobody

[2019-12-10 14:37] magento-engcom-team commented on #10207
@stephan-cream, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accor

[2019-12-10 15:05] tristankappel commented on #24782
@paul-gene exactly (y)

[2019-12-10 15:14] engcom-Echo commented on #13392
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

1. Choose "Including Tax" setting for Display Shipping Prices and Display Shipping Amount.
2. Create a (guest) cart
3. Call `/rest/V1/guest-carts/<the_id_here>/totals-information` for the cart

**Result**
The `value` property for shipping segment in `responseData.total_segments` in

[2019-12-10 15:14] #13392 closed, assigned to engcom-Echo

[2019-12-10 15:16] vietanh1606 commented on #24191
[mcfeelys.zip](https://github.com/magento/magento2/files/3945560/mcfeelys.zip)
This is module for fix this issue

[2019-12-10 15:31] RaphaelBronsveld commented on #25182
Hi all,

We are also experiencing the same issue (M2.3.3), but it seems to be a general date input issue, not specifically related to the special price management.

Our customer also reported the issue for the following module: https://github.com/magefan/module-blog (published date field).

[2019-12-10 15:41] iickoo commented on #8084
Hi, problem has not been fixed on version 2.3.3, after save 2k associated products to configurable product:
Warning: DOMDocumentFragment::appendXML(): Entity: line 1: parser error : internal error: Huge input lookup in .../vendor/magento/framework/View/TemplateEngine/Xhtml/Template.php on line 60

[2019-12-10 15:46] jamie-selesti commented on #23970
Do we know when an official fix will be released?

[2019-12-10 16:14] Bartlomiejsz commented on #25970
@magento-engcom-team @ajijshekh123 @edenduong this is duplicate of https://github.com/magento/magento2/issues/21684

[2019-12-10 16:18] derappelt commented on #23863
It is **NOT** fixed in 2.3.3
Took me hours to find out since I believed you and looked for the error elsewhere.
The [1acde36b19b177b58af916557a3d41dfe0612cc0](https://github.com/magento/magento2/commit/1acde36b19b177b58af916557a3d41dfe0612cc0) solves the issue but it's not in 2.3.3 so this issue is still open

[2019-12-10 16:31] edenduong commented on #25970
Hi @Bartlomiejsz : I don't know that. Thank you!

[2019-12-10 16:42] ngreimel-lt opened #25977 "Failure of Success Criterion 1.3.1 due to inserting non-decorative content by using :before and :after pseudo-elements and the 'content' property in CSS"
### Preconditions (*)

1. Magento 2.3.2 & 2.4-develop

### Steps to reproduce (*)

1. Run an accessibility scan of stock Magento 2.3.2 using PowerMapper > SortSite
2. Set Accessibility options to WCAG 2.1 AA, Section 508 Refresh (2017)
3. Run the report
4. Observe report results for styles.css

### Expected result (*)

1. Clean SortSite report, no accessibility issues with core Magento

### Actual

[2019-12-10 16:42] ngreimel-lt commented on #25977
@magento give me 2.3-develop instance

[2019-12-10 16:42] magento-engcom-team commented on #25977
Hi @ngreimel-lt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-10 16:56] yumicom commented on #25927
I have the same problem on magento 2.3.2-p2.
I have several times created a new google merchant account and every time I lost access to it after linking to the Google ads account.
To be able to start all over again, clear the "Unique ID" field in Stores-Configuration-Services-Channels

[2019-12-10 17:34] ngreimel-lt commented on #25977
@magento give me 2.3-develop instance

[2019-12-10 17:34] magento-engcom-team commented on #25977
Hi @ngreimel-lt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-10 17:40] okorshenko commented on #25977
@magento give me 2.4-develop instance

[2019-12-10 17:40] magento-engcom-team commented on #25977
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-10 17:40] magento-engcom-team commented on #25977
Hi @okorshenko, here is your [Magento instance](https://i-25977-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25977-2-4-develop.instances.magento-community.engineering/admin](https://i-25977-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-10 17:50] jg-development commented on #14881
still on 2.3.3
I got into this problem yesterday for the first time.
So from my side this is a +1

[2019-12-10 17:54] ngreimel-lt commented on #25977
Confirmed present in vanilla Magento 2.4-develop

Content inserted with CSS is not read by some screen readers, and not available to people who turn off style sheets. | WCAG 2.0 A F87Section 508 (2017) A F87 | 1 pages
-- | -- | --
  | Move the content from CSS to the HTML page so that all users can see it. Impact on users:NVDA 2018.4 IE11 Windows 10 Reading: Text inserted by CSS content property n

[2019-12-10 19:40] lewisje commented on #18256
Apparently you changed your username, so the gist is now at https://gist.githubusercontent.com/maartenwolfsen/b8e41e15f8a0597cf510a84be56b65c5/raw/cdf2be8cfcdf6b08c884d7b751b1c21e5a7078d7/AccountManagement.php.patch with more information at https://gist.github.com/maartenwolfsen/b8e41e15f8a0597cf510a84be56b65c5/ and composer-patch code

    "magento/module-customer": {
        "18256": "https://gi

[2019-12-10 19:43] peterjaap commented on #18256
@lewisje might be better to use https://github.com/magento/magento2/commit/bc8d3d5d0ead9779cb22d19201cd731719a79b0c.patch

[2019-12-10 20:30] ilnytskyi commented on #15427
Found out that if any module intercepts this method
`\Magento\Sales\Model\Order\Payment\State\CommandInterface::execute` and when that plugin failed then order is not placed in magento.
What interesting that, `$order->getId()` in that method returns `null` that's why some 3rd extensions can fail can cause this issue.
For some reason 3rd module can intercept any of this class instead of the interfa

[2019-12-10 21:12] george-vlahakis opened #25979 "Temando breaking functionality in 2.3.3"
There are multiple reports on the web about Temando throwing and error when you try to edit a product:

temando.CRITICAL: "accountId" is required. Enter and try again.

### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Stock install try to edit a product

### Expected result (*)
1. No error

### Actual result (*)
1. Error
`temando.CRITICAL: "accountId" is required. Enter and tr

[2019-12-10 21:16] georgios-2317 commented on #25979
Yes my dear bot, I have stated it above that the error is in "vanilla" Magento. 😉

[2019-12-10 21:16] magento-engcom-team commented on #25979
Hi @georgios-2317. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-10 21:17] magento-engcom-team commented on #25979
Hi @georgios-2317, here is your [Magento instance](https://i-25979-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25979-2-4-develop.instances.magento-community.engineering/admin](https://i-25979-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-10 21:17] georgios-2317 commented on #25979
No my dear bot... I want a working 2.3.3 Magento instance... (is this nuts or what)?

[2019-12-10 21:19] georgios-2317 commented on #25979
Temando is not part of dev 2.2.4 ... hence there is no error. (ridiculous)

[2019-12-10 21:38] magento-engcom-team commented on #25068
Hi @ihor-sviziev, @arnobsh.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

[2019-12-10 21:40] magento-engcom-team commented on #25182
Hi @WalterSmulders.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

[2019-12-10 21:56] zap263 commented on #21364
See post by @unicoder88

[2019-12-10 22:15] aliomattux commented on #9255
I don't understand the explanation for why this isn't an issue and it's intended behavior. As is, how is a developer supposed to know that the results are the last page or they are on a page that has no results. From my tests, you can requests infinitely a number of pages and the application will always return the results from the last page. The api response does not indicate also the total number

[2019-12-11 00:19] arnoudhgz commented on #25068
@magento-engcom-team where is the fix?

[2019-12-11 01:18] theloveofcode commented on #19407
Same exact issue on 2.3.2-p2 enterprise as well.

[2019-12-11 02:13] not-art opened #25981 "copyFieldsetToTarget not working after upgrading from M2.3.1 to M2.3.3"
### Preconditions (*)

1. Have Magento 2.3.1 installed
2. Add some custom fields to database tables quote and sales_order (lets say "custom1", custom2", and custom3"); ensure their names are the same & their types are varchar(255)
3. Follow this devdocs guide to copy custom1, custom2, and custom3 from quote to sales_order when creating an order: https://devdocs.magento.com/guides/v2.3/ext-best-pra

[2019-12-11 04:36] ajijshekh123 commented on #25970
Thanks for the update @Bartlomiejsz,
@edenduong - Let me close this issue.

Thanks.

[2019-12-11 04:36] #25970 closed, assigned to edenduong, ajijshekh123

[2019-12-11 05:04] ajijshekh123 commented on #25974
Give me @magento give me 2.4-develop instance

[2019-12-11 05:04] magento-engcom-team commented on #25974
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-11 05:04] magento-engcom-team commented on #25974
Hi @ajijshekh123, here is your [Magento instance](https://i-25974-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25974-2-4-develop.instances.magento-community.engineering/admin](https://i-25974-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-11 05:23] ajijshekh123 commented on #25974
The issue verified after following the same steps.
See attached the video:

![1](https://user-images.githubusercontent.com/24711761/70593806-6816e800-1c04-11ea-8770-44d678a44c94.gif)

[2019-12-11 05:23] magento-engcom-team commented on #25974
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29644` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-11 06:42] WalterSmulders commented on #25182
Is there a pull request / link to the changes made?

[2019-12-11 07:51] engcom-Echo commented on #25736
Hello @JamesFX2
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-11 07:51] #25736 closed, assigned to engcom-Echo

[2019-12-11 07:52] hackrat commented on #6793
@engcom-Charlie , I think as per this scenario "skirt slim fit" should come first! So in case there are about 1000+ products in search result actual product which matches with product title are not coming first based on their weight.

[2019-12-11 08:03] magento-engcom-team commented on #25968
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29645` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-11 08:16] dverkade commented on #10207
@magento-engcom-team You can't just close reproduced and validated issues!

[2019-12-11 08:22] multipasko commented on #15427
can be related ? https://github.com/magento/magento2/issues/25862

[2019-12-11 08:25] magento-engcom-team commented on #13298
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29646` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-11 08:37] hostep commented on #24942
What's the status of this ticket? We're also seeing this after upgrading a shop from Magento 2.1.16 to 2.3.3.
If it was fixed on `2.3-develop`/`2.4-develop`, does somebody have a commit which points to the fix? Thanks!

[2019-12-11 08:46] RaphaelBronsveld commented on #17951
Is there any update on this?

When we have the consumers enabled, our cron jobs stop working entirely. Anyone else have the same issue? (Magento 2.3.3)

Currently using
`'cron_consumers_runner' => [
        'cron_run' => false
    ]`
as a temporary "fix". We'll manually run the consumers when we need them.

[2019-12-11 09:18] ioweb-gr opened #25986 "Synchronous XMLHttpRequest on the main thread is deprecated on google-shopping-ads"
### Preconditions (*)
1. Magento 2.3.1, 2.3.2
2. Install magento google shopping ads channel

### Steps to reproduce (*)
1. Install magento/google-shopping-ads
2. Navigate to the Marketing -> Google Shopping Ads section
3. Use google chrome
4. Open console.log
5. The following error appears
[code]

I can't seem to replicate on firefox although it has happened there a few times with the following e

[2019-12-11 09:22] toanthree commented on #15545
@erikhansen I applied the patch that you suggested on a Magento 2.3.2 instance, but I can't filter because of this [issue](https://screencast.com/t/tJdAorZj4jU)

I was able to fix that issue by adding the source_id field [here](https://screencast.com/t/kuaTuIJZyhbu)

I'm adding my patch here in case someone needs it.
https://gist.github.com/toanthree/26273f83c1ccb786c311ae21dabf566c

[2019-12-11 09:28] ilnytskyi commented on #17951
We added a patch, if there is no 10 messages then stop the job
Additionally we modified crontab to run consumers separately from magento cron
it helps till better solution invented :)
[code]

[2019-12-11 09:50] maartenwolfsen commented on #18256
Thank you for noticing, I´ve also changes the link

[2019-12-11 09:51] ilnytskyi opened #25987 "Many cron processes can wait locks and consume resources"
### Preconditions (*)

magento 2.3.x

1. Cron observer uses locks (db, cache, file or zookeper)
2. The job is locked after `cron:run` is sent to shell
see this method
`\Magento\Cron\Observer\ProcessCronQueueObserver::execute`

The problem, I suppose, that magetno uses the same method to run all groups or one group
in \Magento\Cron\Observer\ProcessCronQueueObserver::execute
it creates commands in s

[2019-12-11 09:57] engcom-Echo commented on #25986
Hello @ioweb-gr

Issue is already open
You can review the conversation at
I am closing this issue as a duplicate of #[25506](https://github.com/magento/magento2/issues/25506), because i prefer to confirm 25506(this issue includes more clear description).

[2019-12-11 10:01] engcom-Echo commented on #25986
Hello @ioweb-gr

Thank you for your report and collaboration!
Issue is already open
You can review the conversation at #[25506](https://github.com/magento/magento2/issues/25506)

[2019-12-11 10:01] #25986 closed, assigned to engcom-Echo

[2019-12-11 10:02] ioweb-gr commented on #25986
Great. I'm happy that the issue is known. I just couldn't find it via search because all the messages were in screenshots.

[2019-12-11 10:14] ajwalks commented on #19710
After 7 hours of trying to resolve this problem - I found this page thankfully.
Many users have Magento image issues and have requested support for their problems online, so was difficult to find a solution to what was happening with my store.
My Category List pages were showing placeholders after flushing out the Image cache.
All images were in the system and correctly listed as BASE/THUMBNAIL et

[2019-12-11 10:52] guru-shirishproductions opened #25988 "502 error while installing magento2 at Web Configuration page"
### Preconditions (*)

1. Magento 2.3.3
2. PHP version 7.2.25
3. MariaDB 10.2
4. ubuntu 16.04.1

### Steps to reproduce (*)

1. git clone https://github.com/magento/magento2.git
2. composer install.
3. Config nginx virtual host
4. In browser open https://magento.xxx.com/setup/
5. Will see the issue on step 3 i.e. on Web Configuration page.
6. The error is visible on the console and not allowing to

[2019-12-11 11:26] Charanjet opened #25990 "Description Content is trimming after some content"
### Preconditions (*)

I am facing issue in the product content editor. When I am writing content in the Description but when save the product. Content is trimming and showing broken html.

### Steps to reproduce (*)
1. Open any product or category
2. Fill more then 66k symbols in description
3. Save changes

### Expected result (*)
Description saved, trimmed by 65532 symbols with message about it

[2019-12-11 11:59] hackrat commented on #6793
In my case, Mageplaza_LayeredNavigation module creating issue with search relavance based on weight.

[2019-12-11 12:10] engcom-Charlie commented on #6793
@hackrat The GitHub issue tracker is intended for Magento Core technical issues only(Mageplaza is not).

[2019-12-11 12:29] engcom-Charlie commented on #24782
Hello @paul-gene  @tristankappel
I am still can't reproduce this issue on Magento 2.4-develop.

**New testing scenario:**
1. Add product to basket
2. Fill shipping information and go to payment step
3. Select Braintree PayPal payment method
![1](https://user-images.githubusercontent.com/51680850/70621489-665c1d00-1c22-11ea-8c8d-60109db15143.png)

4. Apply valid coupon code
![2](https://user-images

[2019-12-11 12:31] engcom-Charlie commented on #12512
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-11 12:31] #12512 closed, assigned to engcom-Charlie

[2019-12-11 13:04] magento-engcom-team commented on #12225
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29654` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-11 13:14] JeroenVanLeusden commented on #25182
@magento-engcom-team Please post the commit references where this is fixed.

[2019-12-11 13:23] engcom-Echo commented on #25644
Hello All

I am not able to reproduce this issue on the 2.3.3 branch by provided steps.
**Testing scenario:**

**Preconditions:**

1. Upgrade Magento from 2.3.1 to 2.3.3 via Command Line as described [here](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html)
2. Create a new Attribute Set

**Steps to reproduce:**

1. Add new product
2. Change Attribute Set to previously created

[2019-12-11 13:23] #25644 closed, assigned to sdzhepa, ajijshekh123, engcom-Echo

[2019-12-11 13:34] engcom-Echo commented on #25990
Hello @Charanjet

Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento.

[2019-12-11 14:02] magento-engcom-team commented on #25968
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-12-11 14:03] paul-gene commented on #25968
@magento-engcom-team Are you serious?

I opened this ticket yesterday....

[2019-12-11 14:05] AndreyChorniy commented on #25968
@paul-gene This is mistake. I am going to working on this ticket.

[2019-12-11 14:29] domeglic commented on #18668
@magento-engcom-team give me 2.4-develop instance

[2019-12-11 14:30] magento-engcom-team commented on #18668
Hi @domeglic. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-11 14:30] magento-engcom-team commented on #18668
Hi @domeglic, here is your [Magento instance](https://i-18668-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-18668-2-4-develop.instances.magento-community.engineering/admin](https://i-18668-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-11 14:40] paul-gene commented on #25968
@AndreyChorniy please just give up adding labels. If "good first issue" is in relation to me, then it's certainly not true, I've reported other issues in the past.

You're fighting a losing battle with the bots here.

[2019-12-11 14:57] underser commented on #19710
Hi @ajwalks
did you try solution from [https://github.com/magento/magento2/issues/19710#issuecomment-554323952](https://github.com/magento/magento2/issues/19710#issuecomment-554323952) ?

[2019-12-11 15:04] ajithkumar-maragathavel commented on #25906
@magento give me 2.4-develop instance

[2019-12-11 15:04] magento-engcom-team commented on #25906
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-11 15:05] magento-engcom-team commented on #25906
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-25906-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25906-2-4-develop.instances.magento-community.engineering/admin](https://i-25906-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-11 15:11] engcom-Charlie commented on #25961
Hello @zlr35  @sdzhepa !
This issue is specific for the Magento 2 EE because `Assign the user role's to the scope(store)` functional exist only in EE modules.

I can confirm this behavior on the Magento 2.3 EE.
@sdzhepa could you transfer this issue to the Magento 2 EE repository?

[2019-12-11 15:17] BruceTranForix commented on #25430
nice solution, it helped me to save a lot of time.
I found another solution: we can only set NULL for source_model instead of deleting attributes.

[2019-12-11 15:22] FerihumF commented on #17195
Same issue on 2.2.7.

[2019-12-11 15:25] MyZeD opened #25996 "Temporary tables as engine = MEMORY ?"
### Summary (*)
How we all know is the magento 2 shopsystem not the fastest on the market.
Every minutes is running the index or something else and creates, renames, drop temporary tables.
This is not an overkill, but use to capacity the HDD/SSD.

### Examples (*)
CREATE TABLE IF NOT EXISTS `catalogsearch_fulltext_scope2` [...]
CREATE TABLE IF NOT EXISTS `catalogsearch_fulltext_scope5` [...]
INSER

[2019-12-11 16:02] engcom-Echo commented on #4331
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**
1. Log into admin
2. Change the date in the database
(if it’s now 12/21/2019, then change it to 06/21/2019)
`UPDATE admin_passwords SET last_updated = <some time stamp here> WHERE user_id = 1;`
3. Log out and log in to the admin
4. See "It's time to change y

[2019-12-11 16:04] erikhansen commented on #15545
@toanthree Thanks for sharing. I noticed the `Amasty_Shopby` extension in the backtrace of your first screenshot. That may have had something to do with why you had to edit your patch? Regardless, I'm glad you got it working.

[2019-12-11 16:28] gcampedelli commented on #25166
I want to reopen issue because I don't accept your answer as valid. It is not a matter of Magento2 version. So I upgraded to version 2.3.3 and Cancel Button is right there for invoice in pending state. So again, I reproduced the matter of cancelling the invoice and order goes to processing status.

[2019-12-11 16:31] gcampedelli commented on #25166
Cancel button does not exist when order is status processing
<img width="1278" alt="image" src="https://user-images.githubusercontent.com/7084395/70640262-75d76800-1c1a-11ea-9a5e-46cbad202499.png">
For order status cancelled there is a button to cancel invoice. If we use that, then order goes back to processing.

[2019-12-11 16:43] engcom-Charlie commented on #10207
Hello @dverkade
I can't reproduce this issue on the latest Magento 2.4-develop
Used customer data:
![info](https://user-images.githubusercontent.com/51680850/70641285-14c58980-1c46-11ea-884d-22d12fa335da.png)
Code(not all):
![quote](https://user-images.githubusercontent.com/51680850/70641315-1ee78800-1c46-11ea-934e-db30baa3562d.png)
**Result:**
![test](https://user-images.githubusercontent.com/516

[2019-12-11 16:49] gcampedelli opened #25999 "Cancelling Invoice make order goes back to processing status"
Preconditions
1. Magento version 2.3.3 - Nginx, Varnish, Redis, Php7.2
2. Add product to cart, go to checkout, place order and reach Sucess Page. Order has been placed
3. Open Dev Docs ==>> https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-create-invoice.html?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=invoice
4- Read the page until the end an

[2019-12-11 16:52] gcampedelli commented on #25999
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2019-12-11 16:52] magento-engcom-team commented on #25999
Hi @gcampedelli. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-11 16:53] magento-engcom-team commented on #25999
Hi @gcampedelli, here is your [Magento instance](https://i-25999-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25999-2-4-develop.instances.magento-community.engineering/admin](https://i-25999-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-11 17:09] gcampedelli commented on #25999
Hi, I figured out the issue by creating and order. The problem is in the fact that Magento creates an invoice in sucessfull payment gateway reponse, which does not exactly mean that the amount has been paid by the customer. It just mean that the payment gateway has receive an intention of payment. Then it goes back to Magento and the magento system automatically create the invoice because it has a

[2019-12-11 17:11] gcampedelli commented on #25999
You can also check this discussion here - https://github.com/mollie/magento2/issues/48
The ideal scenario is that should be a way to not create the invoice on sucessful response but on status change.

[2019-12-11 17:25] ihor-sviziev commented on #25268
It wasn't fixed and AFAIK major IDEs are not supporting this syntax.

[2019-12-11 17:50] durexlovesex commented on #19429
@magento-engcom-team
I'm pretty sure the field `base_shipping_discount_tax_compensation_amnt` will never have value instead of null inside `quote_address` table.

At first, take a look at this WONDERFUL phpdoc:
`\Magento\Quote\Model\Quote\Address` at line 84-85.
`setBaseShippingDiscountTaxCompensation**Amnt**`

Please, follow this trace:
`\Magento\Quote\Model\Quote\TotalsCollector::collect` - line

[2019-12-11 17:56] nkajic commented on #25701
@magento give me 2.3-develop instance

[2019-12-11 17:56] magento-engcom-team commented on #25701
Hi @nkajic. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-11 18:46] ajithkumar-maragathavel commented on #25906
@magento give me 2.4-develop instance

[2019-12-11 18:46] magento-engcom-team commented on #25906
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-11 18:46] magento-engcom-team commented on #25906
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-25906-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25906-2-4-develop.instances.magento-community.engineering/admin](https://i-25906-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-11 18:58] magento-engcom-team commented on #25968
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29670` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-11 19:03] nkajic commented on #25701
Confirming that this does not work on 2.3.3 from composer
but it seems to be working on 2.4-develop branch from github.
![ScreenRecording2019-12-11at19594](https://user-images.githubusercontent.com/3989412/70651492-3a0bc500-1c51-11ea-8d7e-918d836458d9.gif)

[2019-12-11 19:04] sdzhepa commented on #25968
Hello @paul-gene

Thank you for contribution and collaboration!

Sorry for  https://github.com/magento/magento2/issues/25968#issuecomment-564555318 and https://github.com/magento/magento2/issues/25968#issuecomment-564556030 bot closed this issue accidentally by mistake due to delays and queues through all integration logic between GitHub and internal Jira...

I have returned the Confirmation label

[2019-12-11 19:14] ajithkumar-maragathavel commented on #25906
Closing this issue, since It is not reproducible in 2.4-develop branch.
I can able to place order using Paypal through Braintree using a Virtual product.

I have attached screenshot for reference
![SS-1](https://user-images.githubusercontent.com/47966038/70652254-53743780-1c78-11ea-8c29-99e1f33bb5ba.png)
![SS-2](https://user-images.githubusercontent.com/47966038/70652285-5ec76300-1c78-11ea-8894-5f

[2019-12-11 19:14] #25906 closed, assigned to ajithkumar-maragathavel

[2019-12-11 22:06] matheusgontijo commented on #25028
Hey @markshust, thank you so much for the quick workaround. That helped me a lot! But just a quick heads up. [You can't sed replace the same file.](https://stackoverflow.com/a/5171935/962814) You need to have at least to. Otherwise that would trunk the file. So the snippet code would be:

`sed -e 's/5f5929ef9f2ec4ca048a2add261d22c92807630f/ce31e720d60451784b9fdb3769e43e149f50d436/' composer.lock.b

[2019-12-11 22:20] kotamreddy opened #26002 "When category selected from top level navigation, attributes populated from module-catalog-search instead of module-catalog"
### Preconditions (*)

1. Magento ver 2.3.3
2. PHP  7.2.24-0
3. Ubuntu 18.04.1

### Steps to reproduce (*)

1. Install Magento
2. Add a log entry in /var/www/html/magento23/vendor/magento/module-catalog-search/Model/Layer/Filter/Attribute.php near line 81 (first line in _getItemsData() method
3. In the default LUMA store select Men -> Tops -> Jackets

### Expected result (*)

1. I expect the code

[2019-12-11 22:38] sdouma commented on #24057
@engcom-Bravo
We get the same error. I have not been able to recreate the issue but regardless \Magento\CatalogPermissions\Model\Indexer\AbstractAction::getPermissionColumn seems like the queries should be wrapper in `new \Zend_Db_Expr($value)`.

[2019-12-11 22:39] benmahowald commented on #19710
@syno-bvo what was the change made according to your comment:

"there is something missing in the .htaccess files (or nginx conf).
I could solve the issue in my case by asking the Magento Cloud support to adjust the Nginx conf."

I migrated 1.9 => 2.3.3. Randomly frontend product detail images are replaced by improperly hashed image sources. It's been a couple days of researching and trying everyt

[2019-12-12 06:14] atulcodex commented on #14735
same issue here not solved yet, WTF Magento community :(

[2019-12-12 06:21] atulcodex commented on #2666
### this idea not worked for me

[2019-12-12 06:30] VladimirZaets commented on #25896
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#25904 by @edenduong in 2.4-develop branch
Related commit(s):
 - [a4d57b99f4163ca929433f20d56630e99f234a54](https://github.com/magento/magento2/commit/a4d57b99f4163ca929433f20d56630e99f234a54)
 - [721f8cedc063e405074c0ceaea200f0c44f905eb](https://github.com/magento/magento2/commit/721f8cedc063e405074c0ceaea20

[2019-12-12 06:30] #25896 closed, assigned to edenduong

[2019-12-12 06:30] VladimirZaets commented on #25893
Hi @chalov-anton. Thank you for your report.
The issue has been fixed in magento/magento2#25924 by @edenduong in 2.4-develop branch
Related commit(s):
 - [37a9929ad036fd8e8309111d87f8ce7f1e0e35cc](https://github.com/magento/magento2/commit/37a9929ad036fd8e8309111d87f8ce7f1e0e35cc)
 - [66bf8d18bf6d5f88ffd5dc674106c52a8fd066a2](https://github.com/magento/magento2/commit/66bf8d18bf6d5f88ffd5dc674106c

[2019-12-12 06:30] #25893 closed, assigned to edenduong, andrewbess

[2019-12-12 06:30] VladimirZaets commented on #19805
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#25699 by @alexey-rakitin in 2.4-develop branch
Related commit(s):
 - [95eea5245b97a8c6f62d435dbfe32c2f3ddcb4c8](https://github.com/magento/magento2/commit/95eea5245b97a8c6f62d435dbfe32c2f3ddcb4c8)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-12 06:30] #19805 closed, assigned to alexey-rakitin

[2019-12-12 06:30] VladimirZaets commented on #23481
Hi @Kush2507. Thank you for your report.
The issue has been fixed in magento/magento2#25699 by @alexey-rakitin in 2.4-develop branch
Related commit(s):
 - [95eea5245b97a8c6f62d435dbfe32c2f3ddcb4c8](https://github.com/magento/magento2/commit/95eea5245b97a8c6f62d435dbfe32c2f3ddcb4c8)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-12 06:30] VladimirZaets commented on #24713
Hi @volanar. Thank you for your report.
The issue has been fixed in magento/magento2#25723 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [9348fb818ae587d87e71d485a95592d105117e97](https://github.com/magento/magento2/commit/9348fb818ae587d87e71d485a95592d105117e97)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-12 06:30] #24713 closed, assigned to Bartlomiejsz

[2019-12-12 06:33] GuruLatukar commented on #25988
It was a permission issue on the server, also updated the php version to 7.3. Now its working fine.

[2019-12-12 06:33] #25988 closed, assigned to nobody

[2019-12-12 07:34] Abhinav-Cloudinfra commented on #10176
There are a few things that you can try out if Magento's search is not working as expected. Read this article for details:
https://blog.expertrec.com/magento-search-not-working/

[2019-12-12 08:48] Naberdz opened #26005 "Tax calculation incorrect round up"
### Preconditions (*)

1.Magento 2.3.2
2.PHP 7.2

### Steps to reproduce (*)

1.Create an order with tax
2.

### Expected result (*)

1. tax applied to Subtotal should be correct
2.

### Actual result (*)

1. tax calculation is incorrect
2. we have order: with subtotal 80.64 apply 21% tax = 16.9344 ( rounded it should be 16.93) Magento gives us 16.94 this gives us 0.01 difference
3. this one is co

[2019-12-12 09:21] engcom-Echo commented on #13230
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**
**Preconditions:**

1. The "Locale" is changed to Serbian.
2. The "Currency" is changed to EURO

**Steps to reproduce:**

1. Go to frontend
**Result**
The price has not changed
![Screenshot_10](https://user-images.githubusercontent.com/51681435/70699143-594a3700-1cd1-11ea-9772-e7ed1

[2019-12-12 09:21] #13230 closed, assigned to engcom-Echo

[2019-12-12 10:09] engcom-Charlie commented on #19407
Hello @gavinlimely
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

**Testing scenario:**

1. Check configurable product data in `catalog_product_index_price ` table
![1](https://user-images.githubusercontent.com/51680850/70703047-f5773c80-1cd7-11ea-9f97-58e5f77d4b6a.png)

2. Create a new catalog product pri

[2019-12-12 10:09] #19407 closed, assigned to engcom-Charlie

[2019-12-12 10:10] cristienache opened #26008 "Magento 2 CLI returns 3 errors"
This morning the website was broken, with no access to admin dashboard. php bin/magento list returns the following:

[code]
Magento 2.3.0 running on Lightsail.

Steps to reproduce:
Magento 2.3.0 installation on a 1 year old website.

Expected and actual results:
I have removed the cache folders contents, and tried other commands like composer install, setup:upgrade.
The error still appear.

Any he

[2019-12-12 10:17] pbh-stu commented on #25887
Same issue here after upgrading to Magento 2.3.3 PHP 7.2.25

[2019-12-12 10:37] engcom-Echo commented on #26005
Hello @Naberdz

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**

1. Tax rule created.
2. Cart price rule with coupon created.

**Steps to reproduce:**

1. Create an order with tax

**Result**
The tax applied to the Subtotal is correct
![Screenshot_12](https://user-images.githu

[2019-12-12 10:37] #26005 closed, assigned to engcom-Echo

[2019-12-12 10:37] nkajic commented on #25404
Hi @Khushbu-Webkul-QA
It seems that this is fixed in 2.4-develop from github, but I can't track exact PR involved in this. I found serval duplicate tickets but not PR that fixed this (I want it for patch).

[2019-12-12 10:41] engcom-Echo commented on #26008
Hello @cristienache

Could you provide more details for reproduce this issue?
Please add steps to reproduce.

[2019-12-12 10:45] Naberdz commented on #26005
really strange.. where is that 0.01 comes from then..
<img width="1111" alt="Schermafbeelding 2019-12-12 om 11 43 02" src="https://user-images.githubusercontent.com/37579149/70705616-a24fba80-1cd4-11ea-9658-3e4d11d050d4.png">

or was this bug only before 2.3.4 ?

can't update it to newer version due template restriction.

[2019-12-12 10:56] alex-james opened #26010 "Magento 2.3.3. Customer Reorder throws 500 error"
### Preconditions (*)

1. 2.3.3
2.

### Steps to reproduce (*)

1. Create an order containing at least one simple product with no product options
2. Browse to the My Account area in the frontend, locate the order and click the "Reorder" button

### Expected result (*)

1. Magento should add the items from the order to the basket and redirect you to the basket page
2.

### Actual result (*)

1. Mag

[2019-12-12 11:35] lemaryn commented on #6734
Hello guys!
Issue is replicable in
Magento ver. 2.2.10 / PHP Version 7.2.25
this code
`<?php
$getAllTotalAmounts = [
    "subtotal"                           => 108.29,
    "tax"                                => 0,
    "discount_tax_compensation"          => 21.66,
    "weee"                               => 0,
    "shipping"                           => 0,
    "shipping_discount_tax_compensation

[2019-12-12 11:51] jevgenijmokrousov commented on #19909
As an option change Magento\Widget\Model\Widget\Instance.php: 607 to
`
if ($name == 'conditions') {
                $name = 'conditions_encoded';
                $value = $this->conditionsHelper->encode($value);
            } elseif(count($value) !== count($value, COUNT_RECURSIVE)) { // multidimensional array
                $value = $this->conditionsHelper->encode($value);
            } elseif (i

[2019-12-12 12:09] engcom-Charlie commented on #25987
Hello @ilnytskyi
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.
![1](https://user-images.githubusercontent.com/51680850/70710418-cff22f00-1ce7-11ea-8da9-13a3f3a7629b.png)
![3](https://user-images.githubusercontent.com/51680850/70710492-f87a2900-1ce7-11ea-9d6f-904a8d55b3be.png)

**Result:**
- `cron:run group

[2019-12-12 12:24] yanncharlou commented on #14735
There's no way to import product images by url under Magento 2.3.3.
This bug is caused by Magento\CatalogImportExport\Model\Import\Uploader who download image to tmp directory then concatenate path with var/import/images directory giving a non existent path.

As emergency workaround, I've downloaded all images manually to the server with `wget -i images_list` to the var/import/images directory. Th

[2019-12-12 12:47] lemaryn opened #26012 "Wrong grand_total in vendor/magento/module-quote/Model/Quote/Address/Total/Grand.php"
Hello guys!

The same issue is https://github.com/magento/magento2/issues/6734 but you closed it.
### Preconditions (*)
Magento ver. 2.2.10, 2.4-develop / PHP Version 7.2.25

php function array_sum calculate wrong amount in
vendor/magento/module-quote/Model/Quote/Address/Total/Grand.php
Line 26 $totals = array_sum($total->getAllTotalAmounts());
Line 27 $baseTotals = array_sum($total->getAllBaseTot

[2019-12-12 13:20] zw1111 commented on #7266
I call BS on the response to this issue.  This is an obvious security vulnerability in Magento, which has been reported over 3 years ago!  This security vulnerability has been exploited by spammers for years now.

The consequences of this security vulnerability are ecommerce stores can have their IP blacklisted for sending legitimate emails to customers because spammers are using the _nosecret vul

[2019-12-12 13:32] Faradey commented on #23582
Hi @Nazar65 ,
how did you solve this problem?

[2019-12-12 13:35] magento-engcom-team commented on #26012
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29726` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-12 13:54] terrybakshi commented on #7266
They don't have time to fix all the known bug and issues, They only have time to keep on introducing new versions every couple of months. No point in updating when no bugs and known issues aren't been fixed yet.

[2019-12-12 14:12] magento-engcom-team commented on #25977
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29728` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-12 14:17] dattruongthe opened #26014 "Price and Group Price display incorrectly in product view and are not applied customer group tax"
### Preconditions (*)

1. Magento 2.3.3
2. Installed via Composer

### Steps to reproduce (*)

1. Setup 2 Tax rates: **19%** and **0%**
2. Create 2 customer groups: **General** and **Retailer**
3. Create 1 product tax class: **Product 19%**
4. Setup 2 Tax rules:
4.1 Rule 1: **Product 19%** - Group: **General** - Rate: **19%**
4.2 Rule 2: **Product 19%** - Group: **Retailer** - Rate: **0%**
<img wi

[2019-12-12 14:24] dattruongthe commented on #26014
@magento give me 2.4-develop instance

[2019-12-12 14:24] magento-engcom-team commented on #26014
Hi @dattruongthe. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-12 14:25] magento-engcom-team commented on #26014
Hi @dattruongthe, here is your [Magento instance](https://i-26014-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26014-2-4-develop.instances.magento-community.engineering/admin](https://i-26014-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-12 14:29] sdzhepa commented on #25961
Hello @zlr35

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento

[2019-12-12 14:43] dattruongthe commented on #26014
Confirm issue is fixed on magento 2.4 instance

[2019-12-12 14:43] dattruongthe commented on #26014
@magento give me 2.3-develop instance

[2019-12-12 14:43] magento-engcom-team commented on #26014
Hi @dattruongthe. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-12 14:55] dattruongthe commented on #26014
@magento give me 2.3-develop instance

[2019-12-12 14:55] magento-engcom-team commented on #26014
Hi @dattruongthe. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-12 15:06] diazwatson commented on #6401
I can confirm that this issue is still happening in 2.3.2.
Maybe we could rescue the work done in https://github.com/magento/magento2/pull/12831 and apply the changes suggested by @ishakhsuvarov to have this finally fixed?

[2019-12-12 15:30] engcom-Echo commented on #26002
Hello @kotamreddy

Thank you for your report and collaboration!
Could you please create a Pull Request for this issue?

Thank you!

[2019-12-12 15:32] magento-engcom-team commented on #26002
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29733` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-12 15:35] danemacmillan commented on #25276
@VladimirZaets Thanks!

[2019-12-12 15:39] engcom-Charlie commented on #26012
Hello @lemaryn
Could you create a PR for this issue?

[2019-12-12 15:59] magento-engcom-team commented on #25963
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29734` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-12 16:02] lemaryn commented on #26012
Hello engcom-Charlie  !
Yes I'm preparing it.

[2019-12-12 16:09] engcom-Charlie commented on #26012
@lemaryn so you can assign this ticket : )

[2019-12-12 16:18] lemaryn commented on #26012
@engcom-Charlie  Ha ha , was crazy issue for replicate , but thank you :)

[2019-12-12 16:41] dbartelmus commented on #23808
Same problem, different theme, solution @hmphu doesn't work

[2019-12-12 17:12] atwixfirster opened #26018 "Quote totals calculation looping"
### Preconditions (*)

**1.** Create a `TestCoupon` on the back-end side

<img width="886" alt="26018" src="https://user-images.githubusercontent.com/13585327/70733684-769ff500-1d13-11ea-85de-c9f097906e00.png">

### Steps to reproduce (*)

**1.** Login as registered Magento customer on the front-end side
**2.** Add any product into shopping cart (in further = `Product A`)
**3.** Go to Shopping Car

[2019-12-12 17:21] shikhamis11 commented on #25779
Hi @rafaelstz
I check this issue but not able to reproduce this issue on latest develop instance . let me know If you still able to reproduce this issue

[2019-12-12 17:21] #25779 closed, assigned to shikhamis11

[2019-12-12 17:41] ilnytskyi commented on #25987
@engcom-Charlie
Yes sure
just run a few commands in background
`php bin/magento cron:run & php bin/magento cron:run & php bin/magento cron:run & php bin/magento cron:run & php bin/magento cron:run & php bin/magento cron:run &`

![cron-lock](https://user-images.githubusercontent.com/3192770/70735378-6fc2b380-1d0e-11ea-8675-e7d09f9322a0.gif)

You can see it on gif. Although on local fresh installati

[2019-12-12 18:37] monotheist commented on #22995
Tan

Thank you. Which plugins from these should be used to achieve smartheader, stickyheader and expandingsearch functionalities? Any help would be highly appreciated.

[2019-12-12 18:54] rutgerrademaker commented on #24941
Ran into this issue too on Magento Commerce 2.3.3
Dug a little deeper and think I found the root cause of this issue.

Not sure if I fixed it in the correct way, but this POC patch might help anyone trying to fix this.

[external-image-upload.patch.txt](https://github.com/magento/magento2/files/3957361/external-image-upload.patch.txt)

[2019-12-12 19:28] ABARAUJOMGA commented on #25927
Tried deleting the UNIQUE ID and creating.

Same problem happened. New account was in Magento Panel, and all of a suden i was disconnected from my GMC account. When i reconnected, the new acount was missing.

They create this account, and then cut you off.

Thanks
Lucas

[2019-12-12 19:42] carloricci84 opened #26020 "Flushing specific cache with redis flush all caches"
### Summary

When we try to flush a specific cache type all redis database is flushed

### Preconditions (*)

1. Use Magento 2.3.3(2.4-develop) installed (Previous version have the same problem)
2. Use cm_backend_cache_redis
[code]

### Steps to reproduce (*)

1. Flush all caches
2. Load the homepage
3. Run **redis-cli --bigkeys** or any method that will give you the number of keys in your redis c

[2019-12-12 19:53] stoya42 commented on #19710
@syno-bvo I would like to know as well regarding this change in nginx.conf. Im having a similar issue, looking for more details on solution.

"there is something missing in the .htaccess files (or nginx conf).
I could solve the issue in my case by asking the Magento Cloud support to adjust the Nginx conf."

[2019-12-12 19:56] magento-engcom-team commented on #25182
Hi @WalterSmulders.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [b804ffa4a6dfcf50068504b0cdc2e047d87c1d86](https://github.com/magento/magento2/commit/b804ffa4a6dfcf50068504b0cdc2e047d87c1d86)
 - [7bde3dc5311b6085a489962180d5c0bcdf3624c9](https://github.com/magento/mag

[2019-12-12 20:06] magento-engcom-team commented on #25068
Hi @ihor-sviziev, @arnobsh.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [30cdbd21cc368263de5cb6259c158c6a60bc63a6](https://github.com/magento/magento2/commit/30cdbd21cc368263de5cb6259c158c6a60bc63a6)

The fix will be available with the upcoming `2.3.5` release.

[2019-12-13 01:55] dattruongthe commented on #26014
@magento give me 2.3-develop instance

[2019-12-13 01:55] magento-engcom-team commented on #26014
Hi @dattruongthe. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-13 04:35] krishprakash commented on #26018
@magento give me 2.4-develop instance

[2019-12-13 04:35] magento-engcom-team commented on #26018
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 04:36] magento-engcom-team commented on #26018
Hi @krishprakash, here is your [Magento instance](https://i-26018-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26018-2-4-develop.instances.magento-community.engineering/admin](https://i-26018-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 04:59] krishprakash commented on #26018
Hi @atwixfirster.
I'm not able to reproduce the issue as provided steps by you.
Please review below screencast for same
https://www.screencast.com/t/kN6U6QQBr
Kindly provide more information to reproduce this issue.
Thanks

[2019-12-13 04:59] krishprakash commented on #26014
Hi @dattruongthe. Thank you for your report.
Not able to reproduce the issue on latest 2.4 develop instance
So closing this issue
Thanks.

[2019-12-13 04:59] #26014 closed, assigned to krishprakash

[2019-12-13 05:03] krishprakash commented on #26010
Hi @alex-james. Thank you for your report.
Not able to reproduce the issue in latest magento instance.

[2019-12-13 05:03] #26010 closed, assigned to krishprakash

[2019-12-13 05:19] deepakk-webkul opened #26021 "when we add a product attribute as a Media Image type. I created the attribute successfully through the backend.But it is not displaying in the Add Product page in the back end."
Preconditions (*)
Magento CE 2.3.3
PHP 7.2.24

Steps to reproduce (*)
1.  Create a Media Image type attribute
2.  Add this attribute in a related product attribute set.
3.  Observe that in product this attribute is not added.

Expected result (*)
1. Custom Media Image type attribute should be displayed on the product details page.

Actual result (*)
1. Custom Media Image type attribute does not di

[2019-12-13 05:23] jsdupuis commented on #25927
@ABARAUJOMGA @yumicom
Maybe we can try to help the developer assigned to this task by finding a pattern within our 3 cases. I'm sure there's more people affected by this bug, but let's try answering these questions:

1. Did you have an existing GMC account before going through the onboarding process?
2. Did you have a Google Ads account before going through the onboarding process?
3. Was your webs

[2019-12-13 06:53] ajijshekh123 commented on #26021
Give me @magento give me 2.4-develop instance

[2019-12-13 06:54] magento-engcom-team commented on #26021
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 06:54] magento-engcom-team commented on #26021
Hi @ajijshekh123, here is your [Magento instance](https://i-26021-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26021-2-4-develop.instances.magento-community.engineering/admin](https://i-26021-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 07:59] francescopis commented on #15187
Same here on Magento commerce 2.2.8. any updates?

[2019-12-13 08:03] apaolino commented on #25608
How did you fixed?

[2019-12-13 08:44] engcom-Echo commented on #25849
Hello @baljinderimpinge

We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-13 08:44] #25849 closed, assigned to engcom-Echo

[2019-12-13 09:15] Marineimpulseo commented on #25927
Hi @engcom-Echo , @m2-assistant,

I'm also in the same situation.

GMC account created on Magento 2.3.3 on Monday, 09th, then well connected to my Merchant Center and Google Adwords. But yesterday, so on the 12th, the account disappears from my Merchant Center.
The Google adwords account is still existing.

Regarding your previous questions :
1/ Yes I already have a GMC account
2/ Yes as well
3/ Y

[2019-12-13 09:17] SyntaxKay opened #26022 "Admin attributes Advanced Attribute Properties icon doesn't change while collapsing block"
### Preconditions (*)

1.Magento 2.3.3

### Steps to reproduce (*)

1.Login to admin
2.Store -> Attributes -> products -> properties -> Advanced attribute properties
3.check the icon of  Advanced attribute properties block

### Expected result (*)

1. ![expected](https://user-images.githubusercontent.com/33230237/70788686-6b9ea080-1db7-11ea-98ef-ee33705c05f9.png)

### Actual result (*)

1. ![actua

[2019-12-13 09:22] magento-engcom-team commented on #26022
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29751` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 09:28] engcom-Charlie commented on #25987
@ilnytskyi
Thank you for contribution and collaboration!
i just reproduced with your updates.
Now i can confirm this issue.
![image](https://user-images.githubusercontent.com/51680850/70789451-bc080500-1d9b-11ea-83cf-8f9c73190b82.png)

[2019-12-13 09:29] magento-engcom-team commented on #25987
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29752` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 09:39] rakeshdonga commented on #22978
@archonkulis
i have same issue facing during magento 2.2,6 to magento 2.3.3 upgrade duration
how can solve this?

[2019-12-13 09:46] hilbertknl commented on #25438
Any update? We're having the same problem.

[2019-12-13 09:58] devchris79 commented on #25999
We use Ebizmarts Sage Pay Suite Pro and transactions will remain in the pending state until payment has been made or if a timed period has elapsed it will become cancelled (with no invoices set against it). Once payment is made it will move to the processing state.
An order can be closed by setting a credit against it from the invoice screen under "credit memo" this can also be made offline to not

[2019-12-13 10:12] magento-engcom-team commented on #25976
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29753` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 10:34] engcom-Charlie commented on #10398
Hello @hostep
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.
**Result:**

1. No error while `Magento_Sales` installing
![1](https://user-images.githubusercontent.com/51680850/70793826-e0b4aa80-1da4-11ea-91fe-d32bf970bf23.png)

2. Magento installation complete
![2](https://user-images.githubusercontent.com/5

[2019-12-13 10:34] #10398 closed, assigned to nobody

[2019-12-13 10:43] magento-engcom-team commented on #8504
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29754` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 10:50] mrtuvn opened #26025 "qty advanced inventory not reflect change in admin when add new product"
### Preconditions (*)

1. CE 2.2.8
2.

### Steps to reproduce (*)

1. Add new product
2. Instead add qty > Go to advanced inventory
In new advanced inventory modal
Manager Stock : Yes
Qty: Add qty
Click Done

### Expected result (*)

1. [Screenshots, logs or description]
2. After modal advanced inventory done update  qty field outside in product form must update value

### Actual result (*)

1. [S

[2019-12-13 10:50] pratikhmehta commented on #13346
[code]

[code]
Best solution, It works for me.

Thanks

[2019-12-13 10:50] mrtuvn commented on #26025
@magento give me 2.2 instance

[2019-12-13 10:52] mrtuvn commented on #26025
@magento can you deploy for me exactly 2.2.8 version

[2019-12-13 10:53] swaibar commented on #16349
I can confirm I came across this today.  It is very frustrating as my script to update products does not throw exceptions and keep going.  It fatal errors and stops for each one making a script impossible unless I hack the core code to change this to an exception.

[2019-12-13 10:53] pratikhmehta commented on #12828
This is the actual solution and it works for me.

Please check this link https://github.com/magento/magento2/issues/13346#issuecomment-565395712

Thanks

[2019-12-13 10:55] pratikhmehta commented on #12428
Thank You So Much

[2019-12-13 11:14] magento-engcom-team commented on #6401
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

On

[2019-12-13 11:25] magento-engcom-team commented on #6401
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-12-13 11:26] cundd opened #26026 "JsFooterPlugin sets Http Response content empty if PCRE limit reached"
### Preconditions (*)
1. Magento 2.3.2-p2
2. PHP 7.1
3. pcre.backtrack_limit = 1000000 (Default)
4. pcre.recursion_limit = 1000000 (Default)
5. dev/js/move_script_to_bottom=enabled

### Steps to reproduce (*)
1. Build a huge HTML output (e.g. shopping cart with a lot of complex products)

### Expected result (*)
1. Output should be turned or error should be thrown

### Actual result (*)
1. A HTTP

[2019-12-13 11:27] pbh-stu commented on #25887
As a workaround we have managed to get the older magento-paypal "100.2.7" working on magento 2.3.3 simply by overwriting the vendor/magento/module-paypal folder with a folder from a magento 2.2.9 installation. Not ideal and not 100% tested but seems to address the issue at hand while a true fix is developed.

[2019-12-13 11:29] cundd commented on #26026
@magento give me 2.4-develop instance

[2019-12-13 11:30] magento-engcom-team commented on #26026
Hi @cundd. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 11:30] magento-engcom-team commented on #6401
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29755` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 11:31] ABARAUJOMGA commented on #25927
Answering your questions:

Did you have an existing GMC account before going through the onboarding process?
Did you have a Google Ads account before going through the onboarding process?
Was your website URL claimed by another GMC account before?
In Stores --> Configuration --> Sales --> Google API --> Google Adwords, were you already using Conversion ID feature?
My own answers are 'yes' to all 4

[2019-12-13 11:31] magento-engcom-team commented on #26026
Hi @cundd, here is your [Magento instance](https://i-26026-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26026-2-4-develop.instances.magento-community.engineering/admin](https://i-26026-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 11:59] gcampedelli commented on #25999
I don't use Mollie. I use another payment gateway that acts like this. It creates invoice and it remain pending until gateway send that customer have payed the bill. If it is a credit card and it does not have declined it sends automatically and it goes back to processing. But sometimes, for testing purposes we want it to be canceled and it cancel the order status. But we can't cancel the invoice,

[2019-12-13 12:03] magento-engcom-team commented on #26021
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29756` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 12:14] usuyukiso commented on #25534
For me was also reproduced with Magento 2.3.2 OS, 2.3.3 Commerce.

[2019-12-13 12:19] wibbel opened #26027 "Mini cart loading issue for configurable product add to cart from listing on luma theme from iPad on 2.3.3"
I've only tested this on Safari on an iPad as its the only tablet I have. It was reported by a customer. The error behaviour is not observed on a desktop or iPhone. I haven't tested any other theme or iPad browser.

### Preconditions (*)
1. Magento 2.3.3 standard installation with sample data
2. Luma Theme
3. iPad using standard Safari browser

### Steps to reproduce (*)
1. View any product catego

[2019-12-13 12:31] falconmedia commented on #25028
I had same in 2.3.3 but the above sed replace is giving a empty file for me. The snippet code for me is:
`sed -i 's/5f5929ef9f2ec4ca048a2add261d22c92807630f/ce31e720d60451784b9fdb3769e43e149f50d436/g' composer.lock`

[2019-12-13 12:57] cundd commented on #26026
I couldn't manage to reproduce it with the admin access only, but fixing this would more be a general improvement to the Magento framework, rather than an immediate fix for a bug.

[2019-12-13 13:01] magento-engcom-team commented on #26027
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29757` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 13:07] kevinvhengst commented on #25735
@magento give me 2.3-develop instance

[2019-12-13 13:07] magento-engcom-team commented on #25735
Hi @kevinvhengst. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-13 13:11] engcom-Echo commented on #9509
Hello All,

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions**
1. Create a sales_order_grid.xml in any module

[code]
**Steps to reproduce:**

1. Open the Sales Order Grid.
2. Move some columns around.
3. Save as bookmark.
4. Reload the page

**Result**
The column is in the bookmarked order.
![Peek 2019-12-13 14-58](https://

[2019-12-13 13:11] #9509 closed, assigned to engcom-Echo

[2019-12-13 14:04] stereoscope commented on #23728
I stumbled over the same issue by using the soap-api in Magento v2.3.3

[2019-12-13 14:15] MarcusWolschon commented on #15504
Firefox clearly behaves the same.  (Magento 2.3.3)
I'm annoyed by this ever since I switched from Magento 1.9 to Magento 2.2 (and later 2.3).

[2019-12-13 14:30] magento-engcom-team commented on #23934
Hi @eermolaev.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [f9a510a10ed9cf8a3c8a1f0f4ffd374b59333f82](https://github.com/magento/magento2/commit/f9a510a10ed9cf8a3c8a1f0f4ffd374b59333f82)

The fix will be available with the upcoming `2.4.0` release.

[2019-12-13 14:30] #23934 closed, assigned to nobody

[2019-12-13 15:03] ajijshekh123 commented on #26025
Give me @magento give me 2.4-develop instance

[2019-12-13 15:03] magento-engcom-team commented on #26025
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 15:03] magento-engcom-team commented on #26025
Hi @ajijshekh123, here is your [Magento instance](https://i-26025-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26025-2-4-develop.instances.magento-community.engineering/admin](https://i-26025-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 15:11] ajijshekh123 commented on #26025
Hello @mrtuvn,
I have verified your issue in the latest Magento 2.4 instance. It is working fine on our end.
The product is saved with the Advance Inventory.
If you face issues on your end please add a video or screenshot.

Thanks.

[2019-12-13 15:24] mrtuvn commented on #26025
@ajijshekh123 2.3.x will work fine
But my problem happen in 2.2.8 (I'm not sure this problem fixed in 2.2.9 or not)

[2019-12-13 15:26] navarr commented on #25502
Please find a patch addressing this issue here: https://gist.github.com/navarr/2ec2f22f71a769d8438fb237f58eabd4

[2019-12-13 15:27] an4rei commented on #19173
I have about 95k indexed links not submitted by my sitemap, 80% of them are simple /login/referer/*random_string*  links.

Any fix for this stuff?

Thanks

[2019-12-13 15:35] ptylek commented on #26027
@magento give me 2.4-develop instance

[2019-12-13 15:35] magento-engcom-team commented on #26027
Hi @ptylek. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 15:36] magento-engcom-team commented on #26027
Hi @ptylek, here is your [Magento instance](https://i-26027-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26027-2-4-develop.instances.magento-community.engineering/admin](https://i-26027-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 15:39] magento-engcom-team commented on #26026
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29768` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-13 15:40] Leone commented on #13205
@magento give me 2.4-develop instance

[2019-12-13 15:40] magento-engcom-team commented on #13205
Hi @Leone. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 15:41] magento-engcom-team commented on #13205
Hi @Leone, here is your [Magento instance](https://i-13205-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-13205-2-4-develop.instances.magento-community.engineering/admin](https://i-13205-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 15:54] drabikowy commented on #14024
@magento give me 2.4-develop instance

[2019-12-13 15:54] magento-engcom-team commented on #14024
Hi @drabikowy. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 15:54] magento-engcom-team commented on #14024
Hi @drabikowy, here is your [Magento instance](https://i-14024-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-14024-2-4-develop.instances.magento-community.engineering/admin](https://i-14024-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 15:54] Leone commented on #13205
This issue is not reproducible on 2.4-develop branch.

[2019-12-13 15:54] #13205 closed, assigned to Leone

[2019-12-13 16:19] LouNik1984 opened #26030 "magento 2.3.2 wrong title translation on custom option when saving product via code"
### Preconditions (*)
Magento 2.3.2 with nginx and php 7.2 and multi store views

### Steps to reproduce (*)
1. create one customizable option on simple product via code below. The option title must be different for each store view

[code]
At this point, I can see the option is saved correctly on backend with the right titles but the option doesn't appear on frontend. In order to have the option a

[2019-12-13 16:47] krzksz commented on #24045
Issue is still reproducible on `2.4-develop` branch:
https://share.getcloudapp.com/jkunKL0q

[2019-12-13 16:52] ajijshekh123 commented on #26025
@mrtuvn - I don't have a link but if you are migrating your Magento version. It will automatically be fixed your issue.

[2019-12-13 16:58] molovo opened #26031 "Unable to view/edit grouped product in admin"
### Preconditions (*)

1. Magento EE 2.3.3
2. PHP 7.2.25

### Steps to reproduce (*)

1. Create a grouped product
2. Edit grouped product in back end

### Expected result (*)

1. Product edit form is shown

### Actual result (*)

1. The following error appears:
[code]

[2019-12-13 17:00] Usik2203 commented on #25581
I have investigated this issue and it is backed issue

When You add product which has custom option with type Field to cart, value of this option will be saved into  table `quote_item_option`

After changing custom option type to Date and going to cart

Is expected to value in Date format.

Actually  we have such flow

1. Add product
http://i.imgur.com/ZbgSMfU.png

2. Option was saved in db
http:/

[2019-12-13 17:05] maqlec commented on #13165
@gwharton this alternative is not so good because when Im inheriting Magento/blank in my theme Im counting on updates from newest version of Magento without need to look every single file after update whats changed

@mautz-et-tong I think it is not right. Thats why we have a source themes and deploy step. Deploy command should decide from which theme should get the source file and which theme is t

[2019-12-13 17:14] atwixfirster commented on #26018
@magento give me 2.4-develop instance

[2019-12-13 17:15] magento-engcom-team commented on #26018
Hi @atwixfirster. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 17:15] magento-engcom-team commented on #26018
Hi @atwixfirster, here is your [Magento instance](https://i-26018-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26018-2-4-develop.instances.magento-community.engineering/admin](https://i-26018-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 17:16] ajijshekh123 commented on #26031
Give me @magento give me 2.4-develop instance

[2019-12-13 17:16] magento-engcom-team commented on #26031
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-13 17:17] magento-engcom-team commented on #26031
Hi @ajijshekh123, here is your [Magento instance](https://i-26031-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26031-2-4-develop.instances.magento-community.engineering/admin](https://i-26031-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-13 17:21] maqlec commented on #7213
Dear @magento-team, you have merged something wrong because this fix is in 2.2 but in 2.3 and later is not.

[2019-12-13 17:27] ajijshekh123 commented on #26031
@molovo - It is proper working on Default Magento 2.4 Verison.
If you face an issue on your end. Please upload the video or screenshot.

Thanks.

[2019-12-13 17:28] atwixfirster commented on #26018
@magento give me 2.3-develop instance

[2019-12-13 17:28] magento-engcom-team commented on #26018
Hi @atwixfirster. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-13 17:33] krzksz commented on #25795
I am unable to reproduce the issue:

![ezgif-4-90b2fa4ff3c9](https://user-images.githubusercontent.com/829189/70819642-05c21100-1dd7-11ea-9385-8b5223f51201.gif)

[2019-12-13 17:33] #25795 closed, assigned to krzksz

[2019-12-13 17:33] ptylek commented on #26027
Couldn't reproduce.
![simpleipad](https://user-images.githubusercontent.com/34317830/70819667-13779680-1dd7-11ea-92d9-45c83e19c8df.gif)
![configipad](https://user-images.githubusercontent.com/34317830/70819663-107ca600-1dd7-11ea-9001-e4aae4cb4d75.gif)

[2019-12-13 17:33] #26027 closed, assigned to ptylek

[2019-12-13 17:58] atwixfirster commented on #26018
@krishprakash thank you for the verification. Now, I am also unable to reproduce this issue in current 2.3-develop and 2.4-develop branches.

However, I was able to reproduce this bug in clear Magento Commerce Edition v2.3.2.

Let's close this issue since it's not actual.

[2019-12-13 19:26] krzksz commented on #23832
This issue is no longer reproducible on `2.4-develop` branch:
![ezgif-4-5fa63dc84a00](https://user-images.githubusercontent.com/829189/70826311-dadfb900-1de6-11ea-8351-5ec5926f6e65.gif)

[2019-12-13 19:26] #23832 closed, assigned to nobody

[2019-12-13 19:59] abdulrafaywaqar commented on #25608
Yes one of my module having issues in acl. The issue was existed in Uber
theme base module.

On Fri, 13 Dec 2019, 1:03 pm Alessandro Paolino, <notifications@github.com>
wrote:

[2019-12-13 20:06] krisdante commented on #17323
This is currently super hard to fix. The amount of side effects is big.

Here is an explanation of why:
As per modern RFC https://tools.ietf.org/html/rfc6265#section-4.1.2.3 trailing dot in the domain is ignored. Whenever the domain for the cookie is defined - it is visible also to subdomains.

Magento\Framework\Stdlib\Cookie\PhpCookieManager always adds a domain, either from settings or from a sh

[2019-12-13 20:57] krzksz commented on #13845
This issue is no longer reproducible on `2.4-develop` branch:
![ezgif-4-1b1e83bbf121](https://user-images.githubusercontent.com/829189/70831675-7b3bda80-1df3-11ea-957d-bd521a8efe26.gif)

[2019-12-13 20:57] #13845 closed, assigned to nobody

[2019-12-13 21:03] krisdante commented on #17323
Forget what I wrote. I fixed that. The approach is described in pull request

[2019-12-13 21:13] apaolino commented on #25608
And how did you understand which module was the cause?

[2019-12-13 21:37] navarr commented on #25502
This issue has been fixed as of Vertex 3.3.0 and will be included with Magento 2.3.4

[2019-12-13 21:38] AlexanderSk commented on #25068
hello guys, i just faced this issue one 2.3.3 and searched for this ticket and that it hopefully will be fine on 2.3.5.

i would only like to note that i did try to copy paste the jsuery.min.js to jquery.js and i get an error: Uncaught SyntaxError: Unexpected end of input for jquery.js

the actual file is this one if you would like to have a look.
https://tyanabelle.com/pub/static/version157622020

[2019-12-13 23:36] magento-engcom-team commented on #23180
Hi @lbajsarowicz, @ilnytskyi.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-18170` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

[2019-12-13 23:46] StratumWeb opened #26038 "Salable quantity does not decrement when using OrderCreate API"
When calling the OrderCreate API to add an order into Magento2, the Salable quantity does not get decremented. This is the API call we are using:

- https://devdocs.magento.com/redoc/2.3/admin-rest-api.html#tag/orderscreate

Is Salable inventory just not implemented via this API call? I am assuming that Magento2 would auto handle all inventory deductions based on the settings for the site. So if d

[2019-12-14 01:11] gfigliolia commented on #25608
Dovresti disabilitare tutti i moduli di terze parti e abilitarli, verificandoli ad uno alla volta

[2019-12-14 03:49] #26018 closed, assigned to krishprakash

[2019-12-14 06:57] Aravindh468 opened #26039 "Magento 2.3.3 Recently viewed widget in category page sidebar, product image issue when currency is switched"
Hi guys,

 **Preconditions (*)**
1. Magento ver 2.3.3
2. PHP 7.2+

**Steps to reproduce (*)**

1. In single website, with one store view setup a Multiple currency with Minimum 3 currencies.

2. Create a recently viewed widget using following configuration,
**Content->widgets->Add widget**
Select Type as Recently viewed Product  and Design theme as Magento Blank and click continue
Click Add Layout

[2019-12-14 08:20] Aravindh468 commented on #26039
@magento give me 2.3-develop instance

[2019-12-14 08:20] magento-engcom-team commented on #26039
Hi @Aravindh468. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-14 09:09] dattruongthe commented on #26014
Hi @krishprakash , Thanks for your checking.
This issue just happens on Magento version <= 2.3.3 and was fixed for Magento 2.4. For those who are getting the same issue, you can fix by update this file: `Magento/Tax/Model/Config.php`

[code]

[2019-12-14 09:24] dvyaschts commented on #3356
This issue still exist.

<referenceBlock name="product.info.addtocart">
            <arguments>
                <argument name="template" xsi:type="string">Yoma_Dipen::addtocart.phtml</argument>
            </arguments>
        </referenceBlock>

I tried this code in my customer module's catalog_product_view.xml

it's not working.

[2019-12-14 10:45] navneetkumar-pim-webkul opened #26040 "If import external image url using csv showing Warning: Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s):"
### Preconditions (*)
1. Magento 2.3.3
2. PHP 7.2.24

### Steps to reproduce (*)
1. Create Product CSV with the public Images URL.
2. Login Magento Admin => System => Import feature => Upload
2.  Showing Warning: Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s):

### Expected result (*)
1. will import the CSV successfully with

[2019-12-14 10:46] navneetbhardwaj commented on #26040
@magento give me 2.4-develop instance

[2019-12-14 10:46] magento-engcom-team commented on #26040
Hi @navneetbhardwaj. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-14 10:47] magento-engcom-team commented on #26040
Hi @navneetbhardwaj, here is your [Magento instance](https://i-26040-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26040-2-4-develop.instances.magento-community.engineering/admin](https://i-26040-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-14 10:47] Vigneshmuthusamy opened #26041 "Reward points balance history UI overlap in luma"
### Preconditions (*)

1. M2EE 2.3.3
2. Luma theme

### Steps to reproduce (*)

1. As a customer, login into your account in frontend
2. Goto Reward points section from My account sidebar.
3. In the Balance History section we should have atleast 2 pages

### Expected result (*)

1. ![Reward Points-expected](https://user-images.githubusercontent.com/11820699/70847689-1f259480-1e8d-11ea-89e5-891b453

[2019-12-14 10:55] navneetbhardwaj commented on #26040
@magento give me 2.3.3

[2019-12-14 10:55] navneetbhardwaj commented on #26040
@magento give me 2.3.3 instance

[2019-12-14 10:56] magento-engcom-team commented on #26040
Hi @navneetbhardwaj. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-14 10:57] magento-engcom-team commented on #26040
Hi @navneetbhardwaj, here is your [Magento instance](https://i-26040-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26040-2-3-3.instances.magento-community.engineering/admin](https://i-26040-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-14 10:59] navneetbhardwaj commented on #26040
@navneetbhardwaj do you confirm that you were able to reproduce the issue on vanilla Magento instance following steps to reproduce?
Yes
over Magento 2.3.3 issue is persist

[2019-12-14 11:00] navneetbhardwaj commented on #26040
But Not found 2.4-develop

[2019-12-14 11:04] navneetbhardwaj commented on #26040
@magento Yes, I confirmed that I was able to reproduce the issue on vanilla Magento instance version 2.3.3

[2019-12-14 12:29] maisonlam90 commented on #25927
same issue, GMA disappeared when create google ads account

[2019-12-14 13:18] mugua commented on #25620
Hi Lordhansolo
Have you fixed this issue now?

[2019-12-14 14:05] LordHansolo commented on #25620
Thank You @sdzhepa.
Hello @mugua.
Yes I fixed it.
I will provide You part of code and places where they should appear.
In my module I created block that extends Magento\PageBuilder\Block\Adminhtml\Stage\Render and added two additional methods. For example this block class is named Fix\PageBuilder\Block\Adminhtml\Stage\Render
`/**
     * Check that js minification is enabled
     *
     * @return b

[2019-12-14 14:11] mugua commented on #25620
@LordHansolo, Could you add my Skype: john.lou@msn.com or offer yours, Thanks.
I have a little confuse about this, Thanks.

[2019-12-14 14:20] LordHansolo commented on #25620
@mugua Wait a moment. Something is broken and I can not paste my code to have proper format.

[2019-12-14 14:28] pmsteil commented on #5847
Here is a suggestion for Magento developers to get to the bottom of this.  Make the error message better!

No such entity is not a good error message.  It provides no context or detail or suggestion on what could be wrong.  Please make this error message better to help all of us!

thanks

[2019-12-14 15:08] shweta2014 commented on #7795
Hello,
Any update on this issue, I am facing the same issue. I want to apply the rule as Buy 2 Item and get 3rd Item free, which will be of the lowest price.
Magento Version 2.2.7
PHP 7.0

[2019-12-14 15:28] abdulrafaywaqar commented on #25608
I have printed the JSON which print the resource tree it was breaking from
a specific module in Uber theme base module then I have debug and fixed the
acl.xml file.

On Sat, 14 Dec 2019, 2:13 am Alessandro Paolino, <notifications@github.com>
wrote:

[2019-12-14 17:19] Elamurugan-Nallathambi opened #26047 "Notification Js file case sensitive reference error"
### Preconditions (*)
1. Setup default 2.3.3 Magento Commerce in an Ubuntu environment
2. Deploy frontend/backend theme

### Steps to reproduce (*)
1. Login/Open into magento admin
2. Try click any menus or go to system config directly via URL and try expand system config tabs

### Expected result (*)
1. Menu should be functional/clickable

### Actual result (*)
1. Getting this error in console an

[2019-12-15 03:45] alexgayshunewave commented on #19597
Same for me on 2.3.3.

[2019-12-15 07:51] ky2vell commented on #25078
Instead of:
/vendor/magento/module-paypal/Model/AbstractConfig.php
replace:
'payment/paypal_express/disable_funding_options',
with:
'paypal/style/disable_funding_options'

[2019-12-15 08:26] gujjwal00 commented on #25979
It was triggered by the command in quoted text.

PS: Your name has been added to 'The List' of Skynet 👽 for being hostile towards a fellow bot . 😋

[2019-12-15 08:57] serzhik commented on #25708
It’s related to https://github.com/magento/magento2/issues/25862

[2019-12-15 10:52] Zyles opened #26052 "Path "/var/www/html/var" cannot be used with directory "/var/www/html/var""
I figured out it was a permission issue after a bunch of Googling, but I mean come on. This stuff should be fixed.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Install Magento 2.3.3
2. Have permission problems
3. Do something

### Expected result (*)

Useful error message about what directory is not writeable.

### Actual result (*)

Useless error message.
The problem i

[2019-12-15 10:57] Zyles opened #26053 "REST API "The product can't be saved""
Another case of bad error message feedback.

No logs other than the REST API giving terrible error message and a whole bunch of Googling has to be done.

In my case I tried to upload an image through the rest API using POST to `/rest/V1/products/<sku>/media`

The issue has to do with products having required fields that are not filled in. This could arise after changing attribute sets and not goin

[2019-12-15 11:12] Zyles opened #26054 "Do not duplicate SEO meta data when duplicating a product"
## Description (*)

When you duplicate a product in the database a new product is created with the SEO data being the same.

99.9999999999999999999999999999999% of the time when you duplicate a product you do it because you want to use the same attributes for the next product, since it is usually a similar product.

What you do **not want** (usually) when duplicating is the same product name, the

[2019-12-15 14:46] shikhamis11 commented on #26040
@magento give me 2.4-develop instance

[2019-12-15 14:46] magento-engcom-team commented on #26040
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-15 14:47] magento-engcom-team commented on #26040
Hi @shikhamis11, here is your [Magento instance](https://i-26040-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26040-2-4-develop.instances.magento-community.engineering/admin](https://i-26040-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-15 15:18] shikhamis11 commented on #26040
hi @navneetbhardwaj
thank you for reporting this issue .. it seems this issue is already is already fixed in 2.4-develop branch.

[2019-12-15 15:23] shikhamis11 commented on #26038
hi @StratumWeb , Please correct the format of issue reporting . you can take help from [here](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
apart from it .. did you check the quantity decrement issue just after order place ? or after order is completed ?

[2019-12-15 15:32] rav-redchamps commented on #25708
Nope, it’s not specifically related to that issue.

This issue describes a general problem that in magento 2 core order is saved after payment processing. So, any scenario that breaks the order save call will cause this problem.

There can be thousands of such scenarios which can break the order save call and referenced issue only describes only one of the case.

[2019-12-15 16:54] blazendic commented on #18841
Same for me on 2.3.3. It happens on customer account creation. I've increased max_input_vars as some suggestions here and there but it did not help. Only once my account creation succeeded and I don't know how (from 50-100 tries). Fresh installation.

[2019-12-15 17:25] cristienache commented on #26008
The error appeared on our live website. So basically it was a 1 year old Magento 2.3 website fully functional with a catalogue of 100+ products.

[2019-12-15 19:48] jhart-efaktory commented on #25610
@gfigliolia , I stumbled on the same problem as you. The problem I found is that my admin was in french and a single quote in the translation "Registre d'actions" was transformed to a double quote.

I see your back-end is in spanish so maybe you have the same problem. To debug, it's quite easy:

1. Open your Dev Tools
2. Put a JS debugger in the Sources panel on Line 52 of file `adminhtml/Magento/

[2019-12-15 20:55] ioweb-gr commented on #25506
I can confirm that I'm having the same behaviour on firefox as @elfeffe mentions. You get to do one more step but hten blank screen as in chrome.

[2019-12-15 22:04] wushu06 commented on #20033
@manucorra solution worked for me... thanks

[2019-12-16 04:03] mrtuvn commented on #26025
Solved my problem

[2019-12-16 04:06] shikhamis11 commented on #26039
@magento give me 2.4-develop instance

[2019-12-16 04:06] magento-engcom-team commented on #26039
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-16 04:07] magento-engcom-team commented on #26039
Hi @shikhamis11, here is your [Magento instance](https://i-26039-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26039-2-4-develop.instances.magento-community.engineering/admin](https://i-26039-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-16 04:35] shikhamis11 commented on #26039
hi @Aravindh468 , thank you for reporting this issue
I checked the issue at 2.4-develop instance .. not able to reproduce this issue at develop instance.
please update the description if it requires any additional steps to reproduce this issue . also If you still able to reproduce this then also share screenshots

[2019-12-16 04:35] #26039 closed, assigned to shikhamis11

[2019-12-16 04:50] Aravindh468 commented on #26039
@shikhamis11 I have reproduced this issue in magento 2.3.3. But i couldn't reproduce in Magento 2.3.4 instance provided by you. Is this issue fixed in 2.3.4?

[2019-12-16 05:02] ajijshekh123 commented on #26025
Okay @mrtuvn

[2019-12-16 05:02] #26025 closed, assigned to nobody

[2019-12-16 05:02] krishprakash commented on #26027
Hi @ptylek
You can see the issue in provided below attachment by you in 2nd video.
https://github.com/magento/magento2/issues/26027#issuecomment-565533365\
Without select any product option click on Add to cart from iPad it loads the mini cart.
Mini cart should not be load as product not adds into cart.
It works fine in 2.3.2
Let me know if you have any concern
Thanks.

[2019-12-16 05:06] shikhamis11 commented on #26039
hi @Aravindh468 , It seems it is fixed in 2.4-dev instance

[2019-12-16 05:22] magento-engcom-team commented on #26054
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-16 05:22] magento-engcom-team commented on #26054
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29793` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-16 05:32] Aravindh468 commented on #26039
@shikhamis11 Thank you.. I have checked the code changes related to the file and it seems to be updated in Magneto 2.3.4 instance..

[2019-12-16 07:05] magento-engcom-team commented on #25972
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#25973 by @hitesh-wagento in 2.4-develop branch
Related commit(s):
 - [200f51853bf8b5b10090d6ecd9abc46269ca364b](https://github.com/magento/magento2/commit/200f51853bf8b5b10090d6ecd9abc46269ca364b)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-16 07:05] #25972 closed, assigned to hitesh-wagento

[2019-12-16 07:09] michaeldyl520 commented on #18802
The data written to elasticsearch is incorrect.
See file with namespace
Magento\Elasticsearch\Model\Adapter\BatchDataMapper\ProductDataMapper
replace
[code]
to
[code]

[2019-12-16 07:28] magento-engcom-team commented on #25068
Hi @ihor-sviziev, @arnobsh.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [e8eb43a84cb861cedda424aaf8be83aa1c6c1c29](https://github.com/magento/magento2/commit/e8eb43a84cb861cedda424aaf8be83aa1c6c1c29)

The fix will be available with the upcoming `2.4.0` release.

[2019-12-16 07:28] #25068 closed, assigned to arnobsh

[2019-12-16 07:30] magento-engcom-team commented on #25182
Hi @WalterSmulders.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.0` release.

[2019-12-16 07:57] JeroenVanLeusden commented on #25182
@magento-engcom-team Commits show a 404 page. Are they already merged?

[2019-12-16 08:09] engcom-Echo commented on #26008
Hello @cristienache

Try to check if module.xml is present on the file system.
Please also check your r/w permission.
`/var/www/html/magento2/vendor/magento/module-catalog/etc/module.xml`

[2019-12-16 08:15] LouNik1984 commented on #26030
I cannot ask for a vanilla instance since the issue happens when I update the product via code

[2019-12-16 08:54] stephan-cream commented on #10207
**Preconditions**
Any version of Magento 2 up to 2.3.2

**Steps to reproduce**
- Programmatically save a quote with an invalid email address.
- Catch the error, try another save of the quote with a still invalid email address.

In other words:

`
try { // First attempt
    $this->quoteRepository->save($quote);
} catch (\Exception $exception) {
    try { // Second attempt
        $this->quoteReposi

[2019-12-16 08:58] trebb0r commented on #26039
Hello @Aravindh468, I experience this exact same issue! Can you tell me what the code changes are in which file(s) compared from 2.3.3 to 2.3.4 that fixed this issue?

[2019-12-16 09:00] cristienache commented on #26008
Hi @engcom-Echo many thanks for your reply! The file is present in the system and the permissions are as follows: -rw-r--r--+

Kind regards,
Cristi Enache

[2019-12-16 09:18] #26008 closed, assigned to engcom-Echo

[2019-12-16 09:19] engcom-Charlie commented on #10207
Hello @stephan-cream
This issue is reproducible on the Magento 2.3-develop(closed), but not on the 2.4-develop
I still can't reproduce this issue with your update:

[code]
**Result:**
![image](https://user-images.githubusercontent.com/51680850/70894405-9e35dc80-1ff5-11ea-8ffa-3718428b2b87.png)

[2019-12-16 09:34] engcom-Echo commented on #26052
Hello @Zyles

Please also check your r/w permission.

[2019-12-16 09:49] dhiraj-danode opened #26061 "Product import issue with images from external resource"
### Preconditions (*)

1. Magento Enterprise 2.3.3
2.

### Steps to reproduce (*)

1. While product import from admin -> System -> Import I am getting following error.
	**Imported resource (image) could not be downloaded from an external resource due to timeout or access permissions in row(s): 1, 2**
[products.zip](https://github.com/magento/magento2/files/3967275/products.zip)
![Error](https://us

[2019-12-16 09:53] frostblogNet commented on #24462
I can confirm that this issue is fixed in 2.3.3.

[2019-12-16 09:53] dhiraj-danode commented on #26061
Hello Support team

Yes, I am facing issue in default 2.3.3 enterprise version.
Attached the issue screenshot and file I am trying to import.

Thanks
Dhiraj

[2019-12-16 09:54] molovo commented on #26031
@ajijshekh123 here's a screenshot of the error received when visiting the admin detail page.

![Screenshot 2019-12-16 at 09 53 34](https://user-images.githubusercontent.com/2746289/70897146-f961d200-1fe9-11ea-99f4-71552bf36d1c.jpg)

The code used to generate the product is as follows:

[code]

[2019-12-16 09:58] michel334 commented on #9466
So after 2 years this is still an issue. A client of mine just got wrecked by this. What a joke.

[2019-12-16 10:00] atwixfirster opened #26062 "Magento does not track the amount of free shipping discount activated via coupon"
### Preconditions (*)

1. Create a new cart price rule:
| Option | Value |
| Rule Information > Coupon | Specific coupon |
| Rule Information > Coupon Code | test10 |
| Rule Information > Uses per Coupon | 100 |
| Rule Information > Uses per Customer | 1 |
| Conditions > Apply the rule only if the following conditions are met | Subtotal  equals or greater than  25  |
| Actions >  Free Shipping | F

[2019-12-16 10:01] engcom-Charlie commented on #10207
@stephan-cream
![image](https://user-images.githubusercontent.com/51680850/70897690-caecf280-1ffb-11ea-9ddb-08db82a4e8c9.png)

[2019-12-16 10:23] stephan-cream commented on #10207
It is fine if it is fixed in 2.4.0 but we have no idea when this will be released.
My bug report was not only placed on 2017 but also refers to Magento versions up to 2.3.2.
If there has been a fix released for this but it won't be released for current released versions, we would at least like to know what that fix is so we can implement a patch for this until 2.4.0 is released.

Furthermore your

[2019-12-16 10:44] engcom-Charlie commented on #10207
@stephan-cream
Is your `quoteRepository` using `CartRepositoryInterface`?

I tried again with your new update and result is same as before:
![image](https://user-images.githubusercontent.com/51680850/70900532-b6abf400-2001-11ea-895e-2479fc6f6738.png)

[code]

[2019-12-16 10:53] krzksz commented on #26041
@magento give me 2.4-develop instance

[2019-12-16 10:53] magento-engcom-team commented on #26041
Hi @krzksz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-16 10:53] magento-engcom-team commented on #26041
Hi @krzksz, here is your [Magento instance](https://i-26041-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26041-2-4-develop.instances.magento-community.engineering/admin](https://i-26041-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-16 11:03] jorgb90 commented on #25110
Apparently not?

[2019-12-16 11:05] jorgb90 commented on #25979
Really **** extension that should be removed.

[2019-12-16 11:13] krzksz commented on #26041
Hello @Vigneshmuthusamy, thanks for you contribution. Unfortunately, because of the fact that this is the EE feature and it is not reproducible here I'm going to close it.

Worry not, I'm going to pass this issue and try to fix it for EE version and get back to you once it is fixed there.

[2019-12-16 11:13] #26041 closed, assigned to krzksz

[2019-12-16 11:15] engcom-Echo commented on #26061
Hello @dhiraj-danode

Thank you for contribution and collaboration!
@sdzhepa Could you move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/iss

[2019-12-16 11:42] ajijshekh123 commented on #26031
Hi @molovo,
This issue may be related to your customization code or Third-party integration.
Thanks.

[2019-12-16 11:49] kilis commented on #25487
Same is also on Magento version 2.1.7. Did install only that fix, but nothing has really changed.

[2019-12-16 12:13] Usik2203 commented on #25910
Give me @magento give me 2.4-develop instance

[2019-12-16 12:13] magento-engcom-team commented on #25910
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-16 12:14] magento-engcom-team commented on #25910
Hi @Usik2203, here is your [Magento instance](https://i-25910-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25910-2-4-develop.instances.magento-community.engineering/admin](https://i-25910-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-16 12:23] molovo commented on #26031
@ajijshekh123 the only custom code above is the `ConfigurationInterface` object used to retrieve values. Everything else (to create the project) is methods from within Magento core

[2019-12-16 12:27] molovo commented on #26031
Judging by the error message, it looks as though something to do with the design configuration isn't being set when the product model is created

[2019-12-16 12:42] ajijshekh123 commented on #26031
Yes @molovo, This issue may be happening.

[2019-12-16 12:43] itsPranith commented on #25577
@magento give me 2.4-develop instance

[2019-12-16 12:43] magento-engcom-team commented on #25577
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-16 12:44] magento-engcom-team commented on #25577
Hi @itsPranith, here is your [Magento instance](https://i-25577-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25577-2-4-develop.instances.magento-community.engineering/admin](https://i-25577-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-16 12:47] michel334 commented on #5929
About 3 years, so good luck

[2019-12-16 12:50] Aravindh468 commented on #26039
@trebb0r there is a slight modification in

**$this->design->setDesignTheme($currentTheme);**

Above line should be moved before foreach in Collect method.

[2019-12-16 12:51] magento-engcom-team commented on #25981
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29799` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-16 12:58] engcom-Echo commented on #26031
Hello @molovo

Thank you for contribution and collaboration!
@sdzhepa Could you move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) ai

[2019-12-16 13:04] muthukumaranbk5 commented on #25933
@magento-engcom-team I am working on this issue. Please assign this to me

[2019-12-16 13:26] muthu-ziffity commented on #25933
@magento-engcom-team  I am working on this issue. Please assign this to me

[2019-12-16 13:47] linardskrumins commented on #25068
Hey @magento-engcom-team

Were these commits deleted? The commit page for both commits is not found

[2019-12-16 13:59] YuliyaLabudova commented on #26012
Hi @engcom-Charlie, I can take the bug to me, but I don't have access to it. Could you, please, assign the ticket to me?

[2019-12-16 14:04] lemaryn commented on #26012
Hello guys!
As I see this issue was fixed in 2.4
        $grandTotal = $this->priceRounder->roundPrice($total->getGrandTotal() + $totals, 4);
        $baseGrandTotal = $this->priceRounder->roundPrice($total->getBaseGrandTotal() + $baseTotals, 4);

It $this->priceRounder->roundPrice fixed issue. But in 2.2.10 issue is still replication .

Regards,
Serhii

[2019-12-16 14:06] kunzi commented on #21144
I'm still having this issue in Magento 2.3.3. Is there a way to fix this?

[2019-12-16 14:21] engcom-Charlie commented on #26012
@lemaryn so we can close this ticket.
@YuliyaLabudova sorry, but this issue is not relevant now

[2019-12-16 14:21] #26012 closed, assigned to nobody

[2019-12-16 14:29] engcom-Echo commented on #24426
@magento give me 2.4-develop instance

[2019-12-16 14:29] magento-engcom-team commented on #24426
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-16 14:30] magento-engcom-team commented on #24426
Hi @engcom-Echo, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-16 14:43] itsPranith commented on #25577
Hi,

I'm able to replicate this issue on CE-2.4
Please find the video recording for the same - https://www.screencast.com/t/km8B1Orv

Thank You,
Pranith

[2019-12-16 14:45] magento-engcom-team commented on #25577
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-25247` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-16 14:54] divyajyothi5321 opened #26064 "Incorrect Error Message While Sharing Wish list more than Specified Email Address Value in Admin Configuration"
### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Go to frontend and login as Cutomer.
2. Add any product to wish list.
3. Go to My account dashboard -> My Wish list
4. Enter arround 20 to 30 email addresses and share wish list.
5. The Error Message is Showed incorrect.

### Expected result (*)

1. Error Message Should be Similar to error shown in the below image
2.
 ![wishlist

[2019-12-16 14:56] itsPranith commented on #26064
@magento give me 2.4-develop instance

[2019-12-16 14:56] magento-engcom-team commented on #26064
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-16 14:57] magento-engcom-team commented on #26064
Hi @itsPranith, here is your [Magento instance](https://i-26064-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26064-2-4-develop.instances.magento-community.engineering/admin](https://i-26064-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-16 15:11] itsPranith commented on #26064
![wishlist](https://user-images.githubusercontent.com/56586384/70918018-630eca00-2044-11ea-907c-ae795128b99a.PNG)
Able to replicate in CE:2.4 instance

[2019-12-16 15:12] magento-engcom-team commented on #26064
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29801` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-16 15:20] ilnytskyi opened #26065 "Performance of isSalable method check on configurable product"
Magneto 2.3.x
### Preconditions (*)

1. Render product listing
2.
Proposal to optimize or replace `getUsedProductCollection` in call
`\Magento\ConfigurableProduct\Model\Product\Type\Configurable::isSalable` since it can affect performance
e.g. create alias for `getUsedProductCollection` -> `getLinkedProductCollection` and use this method in `isSalable` additionally store its result to prevent mult

[2019-12-16 16:10] Zyles commented on #26052
I think you missed the point of this issue.

[2019-12-16 16:14] Parakoopa commented on #25620
@mugua @LordHansolo If you have an active Magento Commerce subscription you can just ask the Commerce support and they'll send you a patch.

[2019-12-16 16:40] AndyJAllen commented on #25274
@engcom-Charlie when you did this test did you put the ampersand in the name field of both the ship to and bill to addresses? Did you do express check out or use the built-in credit card form? We use the built-in credit card form.

[2019-12-16 17:02] mykhailo-superiorseating commented on #19590
Have this error on 2.3.1.

I'm doing the migration from m1 to m2. I have configured <crypt_key></crypt_key> in data-migration-tool/.../config.xml from m1. Should I use `--key` in install command or no?

[2019-12-16 17:35] AndyJAllen commented on #25274
The Paypal field 'shiptofirstname' cannot accept an ampersand in the payment API; however the Magento Paypal module allows ampersands to be passed in that field as well as the Ship to last name field. This needs fixed. I'm going to try to find where i can add in a str_replace() as a work around in the meantime.

[2019-12-16 17:50] AndyJAllen commented on #25274
Workaround:
Modify file:
\vendor\magento\module-paypal\Model\Payflowpro.php

replace function:
`/**
     * Set shipping address
     *
     * @param DataObject $request
     * @param DataObject $shipping
     *
     * @return Object
     */
    public function setShipping($request, $shipping)
    {
        $request->setShiptofirstname(
            $shipping->getFirstname()
        )->setShiptolast

[2019-12-16 19:33] MichelSchade opened #26072 "Admin UI Not Working"
Hey Magento Community,

I have a fresh Install of Magento CE-2.3.3 on nginx Server hosted by Timme Hosting and the UI Elements in the backend are not showing. Themes, Products,

Has someone else had this issue?

### Preconditions (*)
PHP: laut Timme Hosting Server 7.3.1
MySQL:
nginx/1.14.0
Datenbank-Client Version: libmysql - 10.2.17
PHP-Erweiterung: mysqliDokumentation curlDokumentation mbstringD

[2019-12-16 20:21] Zyles commented on #18717
This is a major issue.

Our pagination stopped working. Applying `/category/?p=2` to the URL to paginate, it does a 301 redirect to `/category/` so we can't paginate to the next page.

[2019-12-17 00:26] fredden commented on #24635
Upstream have released version 1.3.1, which includes this fix: https://github.com/allure-framework/allure-phpunit/pull/44#issuecomment-563175882
It looks like there's a dependency chain preventing this upgrade however:
* `allure-framework/allure-phpunit 1.3.1` requires `phpunit/phpunit >=7.0.0`
* `codeception/phpunit-wrapper 6.7.0` requires `phpunit/phpunit >=6.5.13 <7.0`
* `codeception/codeceptio

[2019-12-17 04:13] ihor-sviziev commented on #18717
Very strange as we're having slash as url suffix for categories and we don’t have this issue on Magento 2.3.2-p2. Could you add steps to reproduce in clear magento installation?

[2019-12-17 04:27] shikhamis11 commented on #26072
hi @MichelSchade
This issue seems to be not exist in magento .. It is probably at your server only ..
try running below commands
`php bin/magento setup:static-content:deploy`
`php bin/magento setup:di:compile`
`php bin/magento cache:flush`

also Please check your php version [here](https://devdocs.magento.com/guides/v2.3/install-gde/prereq/php-settings.html)

[2019-12-17 04:27] #26072 closed, assigned to shikhamis11

[2019-12-17 05:27] Rijisha opened #26074 "Web Setup Wizard - 401 un authorized access -"
### Preconditions (*)

1. Magento 2.3.2
2. php 7.2

### Steps to reproduce (*)

1. System->tool->Web Setup Wizard
2. https://domainname/setup/index.php/session/unlogin
3. Already set Store->General ->Web ->Base URLs (Secure) ->
Use Secure URLs on Storefront	- Yes
Use Secure URLs in Admin - Yes
Enable HTTP Strict Transport Security (HSTS)	- Yes
Upgrade Insecure Requests- Yes
![image](https://user-i

[2019-12-17 08:24] jayankaghosh commented on #26062
@magento-engcom-team give me 2.3.3 instance

[2019-12-17 08:24] magento-engcom-team commented on #26062
Hi @jayankaghosh. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-17 08:36] engcom-Echo commented on #25855
Hello @joergmaertin

We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-17 08:36] #25855 closed, assigned to engcom-Echo

[2019-12-17 08:43] engcom-Echo commented on #26052
Hello @Zyles

Could you provide more details for reproduce this issue?
Please add a screenshot with an error.

Thank you!

[2019-12-17 09:18] engcom-Charlie commented on #25274
@AndyJAllen I can't reproduce this issue on the Magento 2.4-develop:
![1](https://user-images.githubusercontent.com/51680850/70981887-b0c81880-20be-11ea-96bc-e453c41b5e85.png)
[code]

[2019-12-17 10:35] devchris79 opened #26078 "Recaptcha on newsletter creates error"
### Preconditions (*)

1. Magento 2.3.3
2.

### Steps to reproduce (*)

1. Enable Google recaptcha on the frontend from Configuiration -> Security -> Google reCaptcha and make sure the newsletter option is enabled
2.

### Expected result (*)

1. reCaptcha enabled with no errors
2.

### Actual result (*)

1. Chrome console reports a nodename undefined error
![error](https://user-images.githubuserco

[2019-12-17 10:42] shikhamis11 commented on #26078
@magento give me 2.4-develop instance

[2019-12-17 10:42] magento-engcom-team commented on #26078
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 10:48] deiserh commented on #21255
Now with Magento 2.3.2 the checkboxes are moved to the left.

![Selection_290](https://user-images.githubusercontent.com/16748061/70989008-246c2480-20c3-11ea-9fd7-50947d0c35c3.png)

[2019-12-17 10:49] krzksz commented on #12390
@magento give me 2.4-develop instance

[2019-12-17 10:50] magento-engcom-team commented on #12390
Hi @krzksz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 10:57] krishprakash commented on #21255
@magento give me 2.4-develop instance

[2019-12-17 10:58] magento-engcom-team commented on #21255
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 11:38] AnnaShepa commented on #25990
Hi @Charanjet thank you for the report. I edited it a bit, please take a look and use https://github.com/magento/magento2/wiki/Issue-reporting-guidelines for your next issue reports.

[2019-12-17 11:39] AnnaShepa commented on #25990
@magento give me 2.4-develop instance

[2019-12-17 11:40] magento-engcom-team commented on #25990
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 11:57] selvathangam commented on #26061
Hello Support team

Yes, I am facing issue in default 2.3.3 community version.

Thanks
Thangadurai.S

[2019-12-17 12:11] wjpbill commented on #8181
I'm getting this in Magento 2.3.3

Every time I create an order in the admin, it duplicates the customers address in their address book

Did this get fixed?

[2019-12-17 12:29] Ravindrasinh commented on #4737
CSS inlining error: DOMXPath::query(): Invalid expression in selector >> @-webkit-keyframes bounceIn << in /var/www/html/vendor/pelago/emogrifier/src/Emogrifier.php on line 530

Getting this error Load Email template and check preview.

And currently my Pelago version ""pelago/emogrifier": "^2.0.0","

But nothing work
Please anyone here,i need help.

I am using magento 2.3.2 version.

[2019-12-17 12:32] krzksz commented on #12390
@magento give me 2.4-develop instance

[2019-12-17 12:32] magento-engcom-team commented on #12390
Hi @krzksz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 12:44] RishiRanjan21 commented on #23511
Try this

if you are using localhost go to php.ini file and remove ; from below extension

`;extension=sodium`

or if you are using any server enable sodium extension on it

[2019-12-17 12:46] engcom-Echo commented on #24426
@magento give me 2.4-develop instance

[2019-12-17 12:46] magento-engcom-team commented on #24426
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 13:09] rav-redchamps opened #26079 "Checkout not working if order email copy contains multiple emails and copy method is Separate Email"
### Preconditions (*)

1. Magento version 2.3.3
2. Setting Store > Configuration > Sales > Sales Emails > General Settings > Asynchronous sending set to "**Disable**"
3. Setting Store > Configuration > Sales > Sales Emails > Order > Send Order Email Copy To contains **multiple emails** like "john@yopmail.com,max@yopmail.com"
4. Setting Store > Configuration > Sales > Sales Emails > Order > Send Or

[2019-12-17 13:16] magento-engcom-team commented on #8181
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29856` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-17 13:19] Ravindrasinh commented on #4737
CSS inlining error: DOMXPath::query(): Invalid expression in selector >> @-webkit-keyframes bounceIn << in /var/www/html/vendor/pelago/emogrifier/src/Emogrifier.php on line 530

Getting this error Load Email template and check preview.

And currently my Pelago version ""pelago/emogrifier": "^2.0.0","

But nothing work
Please anyone here,i need help.

I am using magento 2.3.2 version.

[2019-12-17 13:24] AnnaShepa commented on #25990
@magento give me 2.4-develop instance

[2019-12-17 13:24] magento-engcom-team commented on #25990
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 14:01] korostii opened #26080 "[2.4-develop] Cannot instantiate Magento\Framework\MessageQueue\ConfigInterface if optional module Magento_MessageQueue is disabled"
### Summary (*)

Steps:
1. Try to install 2.4-develop
2. When prompted by the web setup, uncheck the optional Magento_MessageQueue module so that it would be disabled
Expected result: Magento installed okay.
Actual result (web setup): dies silently, progress stopped at Magento_Amqp installation
Actual result (via php bin/magento setup:install): Error during installation
[code]

### Examples (*)
Co

[2019-12-17 14:16] AndyJAllen commented on #25274
@engcom-Charlie this is very strange; because even your debug results do not meet the requirements for paypal's API... if an ampersand is present; then the length of the field must be transmitted for it to work. Their test integration mode might not be accounting for this situation?

 See below:
![image](https://user-images.githubusercontent.com/19735797/71002765-f6301a00-20ad-11ea-89be-a0ba98f866

[2019-12-17 14:47] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2019-12-17 14:47] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 14:50] sdzhepa commented on #24426
@magento give me 2.3.3 instance

[2019-12-17 14:50] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-17 14:59] ihor-sviziev commented on #25068
@linardskrumins now this link available https://github.com/magento/magento2/commit/e8eb43a84cb861cedda424aaf8be83aa1c6c1c29

[2019-12-17 15:02] sdzhepa commented on #26061
Hello @engcom-Echo

Could you please provide more details about why this issue is Enterprise specific and why it cannot be reproduced in CE(Open Source) edition?

[2019-12-17 15:06] sdzhepa commented on #26031
Hello @engcom-Echo

Did you try to reproduce it on the both EE(Enterprise) and CE(Open Source) editions and can confirm this is Enterprise specific?

[2019-12-17 15:10] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2019-12-17 15:10] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 15:10] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-17 15:11] sdzhepa commented on #21255
@magento give me 2.4-develop instance

[2019-12-17 15:11] magento-engcom-team commented on #21255
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-17 15:12] magento-engcom-team commented on #21255
Hi @sdzhepa, here is your [Magento instance](https://i-21255-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-21255-2-4-develop.instances.magento-community.engineering/admin](https://i-21255-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-17 16:16] angelflo commented on #11740
still got the pb with magento 2.2.10 ? can someone explain me clearly what to do to fix this ?

[2019-12-17 16:43] 0x15f commented on #19597
Can confirm on 2.3.3 EE hosted on Magento Cloud, it's causing our deployments to take forever.

[2019-12-17 16:46] jwundrak commented on #19597
@0x15f  : Main issue with EE is, that there are some modifications after Schema-Update, like `entity_id` to `row_id`. This is executed after SchemaDiff, but `setup:db:status` checks only, if SchemaDiff is empty.

[2019-12-17 16:56] engcom-Echo commented on #26061
Hello @sdzhepa @dhiraj-danode

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.
Tested on the both EE(Enterprise) and CE(Open Source) editions.

**Testing scenario:**

**Preconditions:**
Product Import File [products.zip](https://github.com/magento/magento2/files/3967275/products.zip)

**Steps to reproduce:**

1. Go to System -> Import
2. Import Settings:
3. ![Scr

[2019-12-17 16:56] #26061 closed, assigned to sdzhepa, engcom-Echo

[2019-12-17 17:06] heldchen commented on #19597
@jwundrak - not really, this works fine on EE after applying the patches mentioned in this thread. none of them really insolve the row_id vs entity_id problem.

[2019-12-17 17:26] goivvy commented on #7932
Try replacing app/etc/di.xml with the default M2.3.3 one.

[2019-12-17 17:55] marcoaacoliveira opened #26083 "Problem when trying to unset additional data in payment method."
### Preconditions (*)
1. Magento 2.3.2 & PHP 7.2.21

### Steps to reproduce (*)
1. You must use \Magento\Payment\Model\Info::setAdditionalInformation to add an additional information to a payment method;
2. Try to use \Magento\Payment\Model\Info::unsAdditionalInformation to remove the inserted additional data.

### Expected result (*)
1. \Magento\Payment\Model\Info::unsAdditionalInformation should

[2019-12-17 18:28] nitishsigma commented on #15545
Can anyone know how to apply this fix in Magento 2.1.8 EE version? Because I have checked the above patch but those files are not available in 2.1.8 EE version.

Thanks in advance.

[2019-12-17 19:33] krzksz commented on #14024
It seems like the issue was already fixed as I am not able to reproduce it using `2.4-develop` branch:
![ezgif-5-c3bf110a4968](https://user-images.githubusercontent.com/829189/71027914-8309c080-210c-11ea-9bf0-697e5f78e3c4.gif)

[2019-12-17 19:33] #14024 closed, assigned to krzksz

[2019-12-17 19:36] krzksz commented on #8854
I'm going to close this ticket as this is a matter of local development environment configuration and multiple workarounds were already provided.

[2019-12-17 19:36] #8854 closed, assigned to nobody

[2019-12-17 23:28] wbfiretoss commented on #16859
Facing the same issue not sure why this issue is closed.

[2019-12-18 02:49] VladimirZaets commented on #100
Hi @dicgf8. Thank you for your report.
The issue has been fixed in magento/magento2#25940 by @sedonik in 2.4-develop branch
Related commit(s):
 - [dc8821dc2e297c1b73064ea49c1c4e7253b7e84f](https://github.com/magento/magento2/commit/dc8821dc2e297c1b73064ea49c1c4e7253b7e84f)
 - [f305a84472fc0222147844ffa83542c01cd1c023](https://github.com/magento/magento2/commit/f305a84472fc0222147844ffa83542c01cd1c

[2019-12-18 02:49] VladimirZaets commented on #24357
Hi @tnsezer. Thank you for your report.
The issue has been fixed in magento/magento2#24360 by @tnsezer in 2.4-develop branch
Related commit(s):
 - [459c596a74c209b001b1afcfcde8717f46132fec](https://github.com/magento/magento2/commit/459c596a74c209b001b1afcfcde8717f46132fec)
 - [a047aca104cb76d743bb318887f6ff7530175d5d](https://github.com/magento/magento2/commit/a047aca104cb76d743bb318887f6ff753017

[2019-12-18 02:49] #24357 closed, assigned to tnsezer

[2019-12-18 02:49] VladimirZaets commented on #20379
Hi @irajneeshgupta. Thank you for your report.
The issue has been fixed in magento/magento2#26063 by @eduard13 in 2.4-develop branch
Related commit(s):
 - [218c3ff32418c9dacb4da0ed812b226f81e8400a](https://github.com/magento/magento2/commit/218c3ff32418c9dacb4da0ed812b226f81e8400a)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-18 02:49] VladimirZaets commented on #18687
Hi @jigar48. Thank you for your report.
The issue has been fixed in magento/magento2#26034 by @ptylek in 2.4-develop branch
Related commit(s):
 - [f59c1ca61e034a7973e0ac08ab765cbe4060ed84](https://github.com/magento/magento2/commit/f59c1ca61e034a7973e0ac08ab765cbe4060ed84)
 - [7a2bc8fe52e570cfec0201fa36c7118eaf26f6a4](https://github.com/magento/magento2/commit/7a2bc8fe52e570cfec0201fa36c7118eaf26f

[2019-12-18 02:49] #18687 closed, assigned to ptylek

[2019-12-18 02:49] VladimirZaets commented on #24025
Hi @beberlei. Thank you for your report.
The issue has been fixed in magento/magento2#26001 by @luklewluk in 2.4-develop branch
Related commit(s):
 - [16ab63b347dd4628ed1cc1947929ff44b6bad90c](https://github.com/magento/magento2/commit/16ab63b347dd4628ed1cc1947929ff44b6bad90c)
 - [ab6cabd682ae18a48aaf1429232047d90e4e881c](https://github.com/magento/magento2/commit/ab6cabd682ae18a48aaf1429232047d90

[2019-12-18 04:29] shikhamis11 commented on #26078
@magento give me 2.4-develop instance

[2019-12-18 04:29] magento-engcom-team commented on #26078
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 04:29] magento-engcom-team commented on #26078
Hi @shikhamis11, here is your [Magento instance](https://i-26078-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26078-2-4-develop.instances.magento-community.engineering/admin](https://i-26078-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 04:34] monotheist opened #26085 "Varnish stripping PHPSESSID from header"
### Preconditions (*)

1. Magento 2.3.3
2. Varnish 6
3. PHP 7.3

### Steps to reproduce (*)

1. Enable Varnish 6 with Magento 2.3.3.
2. Use VCL generated by Magento

### Expected result (*)

1. Headers with PHPSESSID
2.

### Actual result (*)

1. PHPSESSID missing in headers.
2.

[2019-12-18 04:38] krishprakash commented on #21255
@magento give me 2.4-develop instance

[2019-12-18 04:38] magento-engcom-team commented on #21255
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 04:38] magento-engcom-team commented on #21255
Hi @krishprakash, here is your [Magento instance](https://i-21255-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-21255-2-4-develop.instances.magento-community.engineering/admin](https://i-21255-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 04:45] krishprakash commented on #21255
@deiserh It works fine in latest magento instance so no need to open this issue.
That fix will be included in Magento 2.3.4 .
You can review it at #25773
Review the PR #25443

![image](https://user-images.githubusercontent.com/46617848/71056377-17147000-217f-11ea-9e11-7daa8b7fc845.png)

![image](https://user-images.githubusercontent.com/46617848/71056402-24c9f580-217f-11ea-81da-897041778909.png)

[2019-12-18 04:45] #21255 closed, assigned to krishprakash

[2019-12-18 04:47] monotheist commented on #26085
This is how the curl request look like.  PHPSESSID seems to appear in non-www headers but not the www headers. Is this varnish issue or nginx configuration issue?

[code]

[2019-12-18 04:48] jsdupuis commented on #25927
@sdzhepa what is the next step now? I'm not familiar with the github process.

[2019-12-18 05:06] krishprakash commented on #26079
Hi @rav-redchamps. Thank you for your report.
I'm not able to reproduce the issue on latest magento instance as provided steps by you.
Kindly provide more information
Please review the below screencast and let me know if I'm missing any step.
https://www.screencast.com/t/HEaEzhSa
Thanks

[2019-12-18 06:00] #26079 closed, assigned to krishprakash

[2019-12-18 06:23] wagento-bhavin commented on #25748
I've tested above script in 2.4-develop branch. It is working fine there. I also verified it in "customer_entity_int" table, the value is reflecting as per the option selected in admin customer edit form.

[2019-12-18 07:05] sudheer-gajjala opened #26086 "Page Should be scrolled towards the message area after product is added to cart."
### Preconditions (*)

1. Magento Version 2.4

### Steps to reproduce (*)

1. Go Product Listing Page and add product to cart from there.
2. After the ajax action customer does not know whether the product is added cart or not. Since the "success/error/notice" is rendered on the top of page.
3. He needs to scroll to the top and see the response of ajax action.

### Expected result (*)

1. Page sho

[2019-12-18 07:18] atulcodex commented on #2666
THanks, problem solved

[2019-12-18 07:39] ihor-sviziev commented on #26085
@monotheist why do you think PHPSESSID header should be there?
Varnish is Full Page cache, so result from one request is cached for many people. Such result should NOT contains any identifiable information, as session ID.

[2019-12-18 07:57] monotheist commented on #26085
@ihor-sviziev Yes. You are absolutely correct. I am seeing PHPSESSID on cart page, login and my account.

[2019-12-18 08:21] engcom-Echo commented on #24426
@magento give me 2.4-develop instance

[2019-12-18 08:22] magento-engcom-team commented on #24426
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 08:22] magento-engcom-team commented on #24426
Hi @engcom-Echo, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 08:48] ihor-sviziev commented on #26085
@monotheist thank you for confirming, so I’m closing this issue as it’s not an issue

[2019-12-18 08:48] #26085 closed, assigned to ihor-sviziev

[2019-12-18 08:55] andrewkett opened #26087 "Cannot call GET rest/V1/carts/search when a coupon is applied and item in cart is disabled"
### Preconditions
- Magento 2.3.3
- PHP 7.2

### Steps to reproduce
1. Create a clean Magento install
2. Add a single product
3. Create a single sales rule with a coupon targeting previously created product
3. Add the product to cart and apply sales rule with coupon
4. Disable the product in admin
5. Make GET request to rest/V1/carts/search

### Expected result
Magento returns a list of quotes con

[2019-12-18 08:56] andrewkett commented on #26087
@magento give me 2.4-develop instance

[2019-12-18 08:56] magento-engcom-team commented on #26087
Hi @andrewkett. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 08:57] magento-engcom-team commented on #26087
Hi @andrewkett, here is your [Magento instance](https://i-26087-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26087-2-4-develop.instances.magento-community.engineering/admin](https://i-26087-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 09:08] magento-engcom-team commented on #26080
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29880` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 09:14] andrewkett commented on #26087
@magento give me 2.3-develop instance

[2019-12-18 09:14] magento-engcom-team commented on #26087
Hi @andrewkett. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-18 09:21] cebesoft opened #26089 "Customer Sharing Options not respected in REST API"
### Preconditions (*)
1. PHP 7.3.12
2. Magento 2.4-develop

### Steps to reproduce (*)
1. Create multiple websites and store views. For example website1 with storeview1 and website2 with storeview2;
![Screenshot from 2020-06-15 15-33-37](https://user-images.githubusercontent.com/51679138/84657874-a081e080-af1d-11ea-8739-7508a247800d.png)

2. Go to Admin->Stores->Configuration->Customers->Customer

[2019-12-18 09:22] cebesoft commented on #26089
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2019-12-18 09:22] magento-engcom-team commented on #26089
Hi @cebesoft. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 09:23] magento-engcom-team commented on #26089
Hi @cebesoft, here is your [Magento instance](https://i-26089-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26089-2-4-develop.instances.magento-community.engineering/admin](https://i-26089-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 09:25] engcom-Charlie commented on #25274
@AndyJAllen i have no idea. Could you test it on the 2.4-develop with Payflwo pro live account?

[2019-12-18 09:37] karthickannan commented on #4400
@magento-engcom-team How can I reopen this issue? The problem is still there in Magento Open Source 2.3.3.

[2019-12-18 09:47] andrewkett commented on #26087
I just found https://github.com/magento/magento2/issues/25776 which looks to be the same issue. I've also tracked this down to Magento\SalesRule\Observer\CouponCodeValidation.

[2019-12-18 09:49] andrewkett commented on #26087
I can't replicate this on 2.4-develop, I'm still waiting for my 2.3-develop environment to be built to try and replicate it there

[2019-12-18 09:50] engcom-Charlie commented on #24185
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-18 09:50] #24185 closed, assigned to engcom-Charlie

[2019-12-18 09:52] engcom-Charlie commented on #25916
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-18 09:52] #25916 closed, assigned to engcom-Charlie

[2019-12-18 09:52] cebesoft commented on #26089
This problem can be reproduced in the upcoming 2.4.x release.

[2019-12-18 09:57] salmanazeez786 commented on #25486
This issue persists in 2.3.3 and it occurs when we have upgraded from 2.1.x to 2.3.3 also along with mcom-connector installed.

Indeed adding $stockStatusCriteria->setScopeFilter($storeId); after $stockStatusCriteria->setProductsFilter($productIds); will solve the issue

@alex-james

[2019-12-18 10:07] lyusya-nnn opened #26091 "Wrong price calculation for products with custom options"
### Preconditions (*)

1.Magento 2.3.1 | `2.4-develop`

### Steps to reproduce (*)

1. Create a configurable products with price $52 for each option
2. Make Simple Products visible on frontend
3. Add custom option for the simple product that is not required and cost $2
4. On frontend go to configurable product and add it to the cart, check shopping cart
5. Open simple product that was just added t

[2019-12-18 10:18] devchris79 commented on #26078
@magento give me 2.4-develop instance

[2019-12-18 10:18] magento-engcom-team commented on #26078
Hi @devchris79. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 10:19] magento-engcom-team commented on #26078
Hi @devchris79, here is your [Magento instance](https://i-26078-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26078-2-4-develop.instances.magento-community.engineering/admin](https://i-26078-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 10:21] alex-james commented on #25486
Thanks @salmanazeez786 it didn't stop the issue being closed without being properly looked at though <sigh>

[2019-12-18 10:24] devchris79 commented on #26078
@engcom-Charlie Can you please verify this one, the develop instances don't allow a security configuration, but you verified the other bug with ReCaptcha #25735.

[2019-12-18 10:49] bogdan-iwd commented on #24057
The issue still actual in 2.3.3. It can be reproduce after enable catalog permissions and select 30 or more customer groups in any configuration multi-select. For example:
![Screenshot at Dec 18 12-22-27](https://user-images.githubusercontent.com/14113116/71078037-4633dd00-2191-11ea-94cc-1195d02ead34.png)
The faster way for reproduce it is run reindex for permission: "php bin/magento index:reindex

[2019-12-18 11:16] kaushalsutharoc commented on #25486
I'm also getting the same error with Magento 2.3.3

`report.CRITICAL: Item (Magento\CatalogInventory\Model\Stock\Status) with the same ID "371335" already exists. {"exception":"[object] (Exception(code: 0): Item (Magento\\CatalogInventory\\Model\\Stock\\Status) with the same ID \"371335\" already exists. at /vendor/magento/framework/Data/AbstractSearchResult.php:269)"} []`

`SELECT * FROM `catalog

[2019-12-18 11:18] alex-james commented on #25486
Thanks @kaushalsutharoc it's a real shame it wasn't properly investigated when I raised it <sigh>

[2019-12-18 11:22] salehawal opened #26092 "Cant get Customer Store Credit"
### Preconditions (*)

1. Screen-recording (https://drive.google.com/file/d/1Xlz9Qoot06d7KNjHBh0SrU2s2Vce0JzI/view?usp=sharing) to get customer store credit .. no value

### Expected result (*)

1. Get Customer Store Credit : (https://user-images.githubusercontent.com/3238761/71081431-d7a64d80-2197-11ea-904f-9ba9f50aed32.jpeg)

### Actual result (*)

1. Empty Response

[2019-12-18 11:26] jg-development commented on #14398
@agorbulin
Is there any updates on this issue?

[2019-12-18 11:30] agorbulin commented on #14398
Hello.
I do not check the issue. Is it still actual?

[2019-12-18 11:37] magento-engcom-team commented on #25766
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29882` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 11:40] multipasko commented on #6106
the same problem as above

[2019-12-18 11:45] jg-development commented on #21885
@simonworkhouse
Can you please share the code with me?

[2019-12-18 11:48] viniciusfabri opened #26093 "urlInput component doesn't work with JsonEncoded backend_model"
### Preconditions (*)
1. Magento 2.3.3 & 2.4-develop
2. Add a varchar EAV "my_new_field" to a category with a _backend_ model "Magento\Eav\Model\Entity\Attribute\Backend\JsonEncoded::class":
[code]

3. Add this new field to the category form as a urlInput:
[code]

### Steps to reproduce (*)
1. Edit a category, set a link in your new field, and save the form

### Expected result (*)
1. The link is

[2019-12-18 11:49] multipasko commented on #24837
Set env MAGE_PROFILER=2 .... after that you won't be able to even run bin/magento without exceptions ... this is no docker issue but general issue

[2019-12-18 12:14] salmanazeez786 commented on #25486
@alex-james

As the scope filter is setting website_id , I have updated the code as below :

`
    /**
     * Filter out of stock options for configurable product.
     *
     * @param DataProvider $dataProvider
     * @param array $indexData
     * @param array $productData
     * @param int $storeId
     * @return array
     * @SuppressWarnings(PHPMD.UnusedFormalParameter)
     */
    public fun

[2019-12-18 12:16] engcom-Echo commented on #26087
Hello @andrewkett

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Create a clean Magento install
2. Add a single product
3. Create a single sales rule with a coupon targeting previously created product
4. Add the product to cart and apply sales rule with coupon
5. Di

[2019-12-18 12:16] #26087 closed, assigned to engcom-Echo

[2019-12-18 12:18] krishprakash commented on #26086
Hi @sudheer-gajjala.
This is not an issue.
This is default magento behavior since magento 2.2.

[2019-12-18 12:18] #26086 closed, assigned to krishprakash, sudheer-gajjala

[2019-12-18 12:33] DlennartD commented on #26093
I'm having exactly the same problem, whatever I try, no value is getting saved in the database.

Also, when I put a value in the database by hand, it's not getting retrieved aswel. :(

[2019-12-18 12:35] sudheer-gajjala commented on #26086
@krishprakash Yes, but the user cannot understand what happened after he click on add to cart. So, in order to acknowledge him we can add some patch to scroll towards the message.

[2019-12-18 12:40] krishprakash commented on #26086
@sudheer-gajjala you can add this at [feature request repository](https://github.com/magento/community-features/issues)

[2019-12-18 12:54] dhanus07 opened #26095 "Salable Quantity Greater than Quantity"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Create multiple orders with the same products.
2. Complete the few orders.
3. Create a credit memo.

### Expected result (*)

1. [Screenshots, logs or description]
![Screenshot (6)](https://user-images.githubusercontent.com/48516084/71088045-92981080-21c3-11ea-9234-d5c500826b33.png)

### Actual result (*)

1. [Screenshots, log

[2019-12-18 13:12] engcom-Echo commented on #26031
Hello @molovo @sdzhepa

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.
Tested on the both EE(Enterprise) and CE(Open Source) editions.

**Testing scenario:**

**Steps to reproduce:**

1. Create a grouped product
2. Edit grouped product in back end

**Result:**
Product edit form is shown. No errors.
![Screenshot_16](https://user-images.githubusercontent.com/51681

[2019-12-18 13:12] #26031 closed, assigned to sdzhepa, engcom-Echo

[2019-12-18 13:17] molovo commented on #26031
@engcom-Echo as I have outlined above, this issue only occurs when creating the product programatically, not when creating it through the admin area.

[2019-12-18 13:43] MarcusWolschon commented on #15504
"Assignees: No one assigned" after 1.5 years?

[2019-12-18 13:56] sudheer-gajjala commented on #26086
@krishprakash thanks for the update, I will try to put this in feature request and wait for the approval.

[2019-12-18 14:03] sudheer-gajjala opened #26098 "Page Should be scrolled towards the message area after product is added to cart"
### Description (*)

Page Should be scrolled towards the message area after product is added to cart. So that the user can be acknowledged with the response message.

### Expected behavior (*)

Currently the page is not scrolled towards the messages section so, he will be missing out the specific information.

### Benefits

User can understand the event after he adds the product to cart.

### Addi

[2019-12-18 14:07] magento-engcom-team commented on #26098
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29883` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 14:16] engcom-Charlie commented on #26078
Hello @devchris79
I can't do it, because @shikhamis11 is testing your issue now.

[2019-12-18 14:28] AnnaShepa commented on #25990
@magento give me 2.4-develop instance

[2019-12-18 14:28] magento-engcom-team commented on #25990
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 14:28] magento-engcom-team commented on #25990
Hi @AnnaShepa, here is your [Magento instance](https://i-25990-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25990-2-4-develop.instances.magento-community.engineering/admin](https://i-25990-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 14:33] magento-engcom-team commented on #25990
@AnnaShepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magen

[2019-12-18 14:33] magento-engcom-team commented on #25990
@AnnaShepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
T

[2019-12-18 15:20] engcom-Echo commented on #26031
Hello @molovo

This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions/themes their respective vendors should be contacted instead.

[2019-12-18 15:20] arnoutvreugdenhil commented on #25221
This is probably caused by customized e-mail templates based on previous versions.

If you have customized e-mail templates inserting track.phtml this way:
`{{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='MyParcelNL_Magento::email/shipment/track.phtml' shipment=$shipment order=$order}}`

Try changing that to this so it uses the layout XML:
`{{layout handle="sa

[2019-12-18 15:26] molovo commented on #26031
@engcom-Echo I am aware of this. As I also have stated above, the error is occuring within the Magento core modules, when creating a product using the code above.

[2019-12-18 15:26] magento-engcom-team commented on #25990
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29885` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 15:35] orbitrod commented on #15504
@MarcusWolschon Glad to see you on this issue.  If we can get more people to confirm this problem, we might be able to get the attention of the developers to issue a fix.

[2019-12-18 15:39] shikhamis11 commented on #26078
Hi @devchris79, I checked the issue on my local but it seems captcha keys not working on local .. I will check it on server and update the status of the issue soon

[2019-12-18 15:45] NetStorm84 opened #26101 "Customizable Options Price"
There is an issue when creating a backend order, with a product that has Customizable Options. Moving the product to the Wishlist or Cart does not keep the price of the selected options. Although the correct price is shown for the customer in the Frontend, the sidebar shows the incorrect price.

### Preconditions (*)
1. Magento 2.3
2. Product with 1 or more Customizable Options with a fixed or per

[2019-12-18 15:46] NetStorm84 commented on #26101
@magento give me 2.4-develop instance

[2019-12-18 15:46] magento-engcom-team commented on #26101
Hi @NetStorm84. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-18 15:47] magento-engcom-team commented on #26101
Hi @NetStorm84, here is your [Magento instance](https://i-26101-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26101-2-4-develop.instances.magento-community.engineering/admin](https://i-26101-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-18 16:02] lupoiuAlinN commented on #22137
If you still have this issue you have to know that on a html form the first element witch has type submit on it will be called when "enter" is hit. So in magento the first element on the form with type submit is the clear button. To solve this issue you can modify the order of the buttons in Magento_Checkout/templates/cart/form.phtml  ( put update button before clear button)

[2019-12-18 16:23] devchris79 commented on #26078
@shikhamis11 Thanks for the update.

[2019-12-18 16:50] squeegy06 opened #26102 "2.2.8 Visitor session ID is not updated on login."
Magento does not update the visitor session_id after regernerateId() is called in the SessionManager.  This allows a user to login to an account, and as long as they don't make any POST action, and are within the session lifetime, they can avoid losing the session from actions that close open session such as a password reset and maintain access to the account.

### Preconditions (*)

1.  Magento 2

[2019-12-18 17:18] sdouma commented on #24057
@bogdan-iwd
Thanks for your post. Hopefully this issue can be reopened.

[2019-12-18 17:48] sdouma commented on #24057
I verify that @bogdan-iwd's patch works. I would like to note we have this error but not quite as many category permissions.

[2019-12-18 17:57] jalung commented on #21885
[Product.txt](https://github.com/magento/magento2/files/3979797/Product.txt)

Atttached is the patch that is used to fix the issue in our use case. Magento import is expecting images to have the dynamic paths it created on export. However, the CSV is hand crafted and the image names are plain; "blablabla.jpg" as opposed to "/b/l/a/blablabla_60.jpg". This patch works repeatedly because the CSV file

[2019-12-18 18:10] monotheist opened #26103 "Sitemap.xml is not accessible with varnish 6 enabled"
### Preconditions (*)

1. Magento 2.4
2. Varnish 6
3. Nginx

### Steps to reproduce (*)

1. Make sure varnish 6 is configured with the VCL generated by Magento 2.3.3 admin
2. Access sitemap.xml and you will be able to access it.
3. Access after 5 or 10 minutes. You will see Error 503 Service Unavailable. Guru Meditation: XID: 1245816
4. Problem disappears after cache flush

### Expected result (*)

[2019-12-18 18:45] Zyles commented on #26052
I forgot exactly which directory it was. It is a permission error and I already fixed it.

The problem is here:

[code]

Please update the message to something meaningful.

Maybe:

'Can't write to directory "%1". Please check web server permissions.'

Or similar.

[2019-12-18 19:27] sdzhepa commented on #24526
Hello @rasmuswikman and @zhartaunik

This issue was closed by mistake. I will reopen it and assign to @zhartaunik as the author of proposed PR with fix https://github.com/magento/magento2/pull/24921

Sorry for inconveniences

[2019-12-18 19:51] andrewkett commented on #26087
@magento give me 2.3-develop instance

[2019-12-18 19:51] magento-engcom-team commented on #26087
Hi @andrewkett. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-18 20:00] Zyles opened #26104 "Custom SMTP"
## Description (*)

Add custom SMTP option in core.

It is RIDICULOUS that we can't configure an external e-mail service provider in 2020.

Instead I have to resort to installing some custom SMTP extension that breaks on updates and no longer maintained, and our customers can't get any order e-mails.

So we have to ask ourselves:

1. Do we update Magento because of this latest security issue, and

[2019-12-18 20:08] davidverholen commented on #13210
at the time I created this issue the validation was implemented in several places  (instead of one central class for that responsibility).

Tbh I'm not sure if this is still an Issue, but if so, it should be fixed.
Unfortunately, currently I do not have the time to investigate further.

So it would be nice if someone could fix that

[2019-12-18 20:31] anromeo commented on #25221
@arnoutvreugdenhil I saw that was the issue as well. Thanks for providing that layout XML. It was the solution to my issue, and you posted five hours right before! This was meant to be. Haha!

[2019-12-18 21:19] magento-engcom-team commented on #26105
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2019-12-18 21:20] magento-engcom-team commented on #26105
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29903` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 21:23] magento-engcom-team commented on #26106
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29904` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 21:23] magento-engcom-team commented on #26107
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29905` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 21:24] magento-engcom-team commented on #26108
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29906` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 21:26] magento-engcom-team commented on #26109
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29907` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 21:26] magento-engcom-team commented on #26110
:white_check_mark: Confirmed by @lenaorobei
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29908` were created

**Issue Available**: @lenaorobei, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-18 21:28] tushhan commented on #9486
The issue persist on Magento 2.3.3
![Screenshot 2019-12-18 at 21 28 33](https://user-images.githubusercontent.com/746774/71124720-5f627b00-21dd-11ea-8c23-1ec844737392.png)

[2019-12-18 21:31] tushhan commented on #9486
The issue persist on Magento 2.3.3
![Screenshot 2019-12-18 at 21 28 33](https://user-images.githubusercontent.com/746774/71124893-bbc59a80-21dd-11ea-9a40-77793310ed6a.png)

[2019-12-18 21:39] tushhan commented on #10424
We are using latest magento version (2.3.3) but the problem persist and a few products still have the same issue. Despite ticking all boxes, Magento does not save it and boxes remain unticked. Is there anyone has resolved the issue?

![Screenshot 2019-12-18 at 21 28 33](https://user-images.githubusercontent.com/746774/71125195-72297f80-21de-11ea-9914-401a39047ffe.png)

[2019-12-18 21:46] janmyszkier commented on #24930
@navarr , @vkublytskyi , @davidalger
Yes this is not the definitive solution, but would definitely make them aware filename case is important since they would face it daily and have problems when not following the rules. That was the main idea behind the switch all along.

@vkublytskyi
I'm happy to hear this will be forced now. Will there be post-update composer hook to enforce app/code and vendor

[2019-12-18 21:47] TomashKhamlai opened #26116 "Add frontend_labels|default_frontend_label (attribute name) to type CustomAttributeMetadata.items"
### Preconditions (*)

Currently, it is not possible to show the name of the attribute.

Add `label: String` to `type Attribute` to extend existing schema:

#### Proposed schema
[code]

Merchant can set this information in
![image](https://user-images.githubusercontent.com/11827230/62550626-3915f180-b873-11e9-9ddd-ffba146fe9e3.png)

It is visible in the Layered Navigation, on the Product Page and

[2019-12-18 21:57] pettersone commented on #22589
yeah I just fired up new install of magento via composer and when I run upgrade I get this same error...

[code]

[2019-12-18 22:05] jalung commented on #25338
I suspect the issue behaves differently depending on the platform being used. Mail is **not** being sent as described by the submitter (from the order review screen and when an order is placed).

In tracking this down:

It is related to the "**-f**" argument that is sent to sendmail via PHP.

Magento supplies 'john@example.com' to Zend Sendmail.php (with the quotes).
Zend prepends **-f** resulting

[2019-12-18 22:08] pmclain opened #26120 "Compiled Schema Stored In Config Cache"
The compiled schema is currently stored with the `CONFIG` cache tag. This mean a store admin clearing the cache would require the schema stitcher to rebuild the schema from the filesystem. This is fine during development, but would cause a similar lag following cache flush as the interception cache prior to 2.3.0 see magento/magento2#17680 (fixed in magento/magento2#18648). I would propose compili

[2019-12-18 22:51] andrewkett commented on #26087
Hi @engcom-Echo I tested on 2.4-develop and wasn't able to replicate this problem either. I have however tested locally on clean 2.3.3 and been able to replicate it. It is very similar to https://github.com/magento/magento2/issues/25776 so obviously I am not the only person seeing this in 2.3. I've been trying to spin up a 2.3 instance to verify if it still exists there, so far unsuccessfully.

[2019-12-18 22:55] magento-engcom-team commented on #26119
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-12-18 22:56] sdzhepa commented on #26121
Hi @TomashKhamlai

Could you please help us with additional details about this issue?
- Actual/Expected results
- Example of query

[2019-12-18 22:58] sdzhepa commented on #26115
Hi @TomashKhamlai

Could you please help us with additional details about this issue?
- Actual/Expected results
- Steps to reproduce
- Magento version and Installation type (git or composer based)
- Example of query

[2019-12-18 23:25] sedonik commented on #26110
Hi @lenaorobei,

I've created [PR #26122](https://github.com/magento/magento2/pull/26122)
Could you check is it implemented correctly?

Thanks.

[2019-12-19 00:53] macguydvd commented on #13229
@tig-daanvandenbergh thanks for the extension. I have loaded it in my M2.3.3 instance, but I am not seeing the TIG section under Stores > Configuration. There are no new sections and I do have the customer persistent cart enabled. Thanks!

[2019-12-19 01:24] Zyles opened #26123 "Support webp"
### Description (*)

Add support for webp.

Because once you go webp, you don't go back.

A PNG file of 344 KB can be compressed down to 31 KB using webp without any visual loss.

### Expected behavior (*)

Able to upload and use webp images in WYSIWYG editor.

### Benefits

1. Faster store
1. Better pagerank score
1. Better mobile experience
1. Better third world internet experience
1. Better SEO

[2019-12-19 01:44] vDeggial opened #26124 "Unable to sort categories on front end by Quantity"
### Preconditions (*)

1. Magento 2.4-develop, 2.3.2-p2
2. PHP 7.2
3. MariaDB 10.3

### Steps to reproduce (*)

1. Update "Quantity" product attribute to be used in frontend sorting
![image](https://user-images.githubusercontent.com/51681379/71349526-e9149e80-2577-11ea-9abb-563b4ef5eee3.png)
2. Reindex and flush cache
3. Go into a category and try sorting by Quantity

### Expected result (*)

Cate

[2019-12-19 01:47] shinoamakusa commented on #26124
@magento give me 2.3.2-p2 instance

[2019-12-19 01:47] magento-engcom-team commented on #26124
Hi @shinoamakusa. Thank you for your request. I'm working on Magento 2.3.2-p2 instance for you

[2019-12-19 01:47] magento-engcom-team commented on #26124
Hi @shinoamakusa, here is your [Magento instance](https://i-26124-2-3-2-p2.instances.magento-community.engineering).
Admin access: [https://i-26124-2-3-2-p2.instances.magento-community.engineering/admin](https://i-26124-2-3-2-p2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-19 03:44] VladimirZaets commented on #25930
Hi @divyajyothi5321. Thank you for your report.
The issue has been fixed in magento/magento2#26011 by @divyajyothi5321 in 2.4-develop branch
Related commit(s):
 - [70b199cd3660b9e581c618f27ac7adc7db3c4114](https://github.com/magento/magento2/commit/70b199cd3660b9e581c618f27ac7adc7db3c4114)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-19 03:44] #25930 closed, assigned to divyajyothi5321

[2019-12-19 03:47] VladimirZaets commented on #25433
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#25759 by @Ashna-Jahan in 2.4-develop branch
Related commit(s):
 - [841bb75dfbb59a8971b0897b55a234923a2c30e5](https://github.com/magento/magento2/commit/841bb75dfbb59a8971b0897b55a234923a2c30e5)
 - [e2d6d58983a8a19d020dde8b2884c489d7939aef](https://github.com/magento/magento2/commit/e2d6d58983a8a19d020dde8b2884c4

[2019-12-19 03:47] #25433 closed, assigned to Ashna-Jahan

[2019-12-19 04:15] tuyennn commented on #8018
The fix of this was not port to magento 2.1.x.
For anyone who want to take a look on how they fixed it on magento 2.2 2.3x
e4b02a3c03927ee8d2c6e051d261ebdde25a94c9

[2019-12-19 04:15] shinoamakusa commented on #26124
The issue is not there on vanilla. I contacted theme devs and they said not a theme issue ... I also disabled extensions we have one by one and no effect on the error

One thing I am thinking of ... originally the store was magento 2.2.5 then slowly upgraded to 2.3.2-p2  patch after patch almost ... the difference i can think of is that our client's store has new 2.3 magento inventory plugins disa