[2018-10-27 10:17] sidolov commented on #12300
Hi @ShaileshChauhan92. Thank you for your report.
The issue has been fixed in magento/magento2#18019 by @bartoszkubicki in 2.3-develop branch
Related commit(s):
 - [6c168dd9ced1f3eb141b01dc8091319b474811a6](https://github.com/magento/magento2/commit/6c168dd9ced1f3eb141b01dc8091319b474811a6)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:17] sidolov commented on #16572
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#18019 by @bartoszkubicki in 2.3-develop branch
Related commit(s):
 - [6c168dd9ced1f3eb141b01dc8091319b474811a6](https://github.com/magento/magento2/commit/6c168dd9ced1f3eb141b01dc8091319b474811a6)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-27 10:19] #18357 closed, assigned to nobody

[2018-10-27 10:19] #13083 closed, assigned to nobody

[2018-10-27 10:19] #17485 closed, assigned to pmclain

[2018-10-27 10:42] magento-engcom-team commented on #18458
Hi @Shubham-Webkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-27 10:43] Shubham-Webkul commented on #18458
#SQUASHTOBERFEST

[2018-10-27 10:45] magento-engcom-team commented on #18812
@ayazwebkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informatio

[2018-10-27 10:47] magento-engcom-team commented on #18812
@ayazwebkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-10-27 10:49] magento-engcom-team commented on #18812
@ayazwebkul Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95948` were created

[2018-10-27 11:36] magento-engcom-team commented on #18823
@hardik-krish Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informat

[2018-10-27 12:28] abrarpathan19 opened #18887 "Magento backend Notifications counter round icon small cut from right side"
### Preconditions (*)

1.Magento 2.2

### Steps to reproduce (*)

1. Login into admin check notifications counters from the top right side.

### Expected result (*)

1. Please review screenshot http://prntscr.com/lb35lz

### Actual result (*)

1. https://prnt.sc/lb340w

[2018-10-27 12:28] magento-engcom-team commented on #18887
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-27 12:52] speedy008 commented on #18887
Hi abrarpathan19
I have reproduce this issue and i am working on it

[2018-10-27 13:15] webkul-ratnesh commented on #18348
I would be willing to take on this issue! #SQUASHTOBERFEST

[2018-10-27 13:15] magento-engcom-team commented on #18348
@webkul-ratnesh thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-27 13:56] magento-engcom-team commented on #18812
Hi @ketan-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-10-27 15:35] webkul-ratnesh commented on #18794
I would be willing to take on this issue! #SQUASHTOBERFEST

[2018-10-27 15:35] vpodorozh commented on #18387
@gwharton - you were totally right! Bug is present in 2.2-develop branch and the reason in `\Magento\Framework\DB\Query\BatchRangeIterator`.
This issue #12624 has fixed this problem in `2.3-develop` branch, however, backport to `2.2-develop` branch was not made. So I've made it in the scope of current PR https://github.com/magento/magento2/pull/18809 - you can check the fix here https://github.com

[2018-10-27 15:36] magento-engcom-team commented on #18794
Hi @webkul-ratnesh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-27 16:49] davegog commented on #18688
What more information do you need to confirm the issue when all information has been provided,  "Update issue content to follow format required by Issue Reporting Guidelines", well people don't have the time to follow your guidelines. Either you accept that there is an issue and open a ticket internally or you can be very pedantic and ignore the issue.
Your choice version 2.2.6 doesn't have the sa

[2018-10-27 19:34] magento-engcom-team commented on #18724
Hi @Shubham-Webkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-27 19:35] Shubham-Webkul commented on #18724
magento-engcom-team give me 2.2-develop instance

[2018-10-27 19:35] yaroslav-zenin commented on #18329
I can confirm that behavior
That's happen because
[code]
Any suggestions how to make a nice fix here?

[2018-10-27 19:47] Shubham-Webkul commented on #18841
#SQUASHTOBERFEST

[2018-10-27 19:52] magento-engcom-team commented on #18841
Hi @Shubham-Webkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-27 19:53] Shubham-Webkul commented on #18841
@magento-engcom-team give me 2.3-develop instance

[2018-10-27 19:53] magento-engcom-team commented on #18841
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-27 19:54] magento-engcom-team commented on #18841
Hi @Shubham-Webkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18841-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18841-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18841-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-27 19:57] wiardvanrij commented on #18688
@davegog
I understand your "frustration" but it would be easier if you did not remove the mandatory guidelines for writing an issue. I personally updated your issue with the "guidelines" as an example. I also made the fix yesterday (see PR).

I hope you understand that when dealing with a huge community there is some automation in place which focuses on formatting for easy management.  It is not p

[2018-10-27 19:59] magento-engcom-team commented on #18688
@wiardvanrij Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95949` were created

[2018-10-27 20:04] yaroslav-zenin commented on #18304
That's strange because I've checked code on 2.2.6 tag and there are present condition
[code]

[2018-10-27 20:05] Shubham-Webkul commented on #18841
@magento-engcom-team yes, I am able to reproduce issue on vanilla Magento instance following steps to reproduce.
1-Add configurable product.
2-Goto product page and select option of this configurable product.
3-Click Add to wishlist.
![screencapture-ec2-34-228-235-121-compute-1-amazonaws-i-18841-2-3-develop-test-config-html-2018-10-28-01_34_33](https://user-images.githubusercontent.com/35595582/47

[2018-10-27 20:09] Shubham-Webkul commented on #18841
Issue: Confirmed

[2018-10-27 20:10] magento-engcom-team commented on #18841
@Shubham-Webkul Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95950` were created

[2018-10-27 20:11] Rorando commented on #18304
@yaroslav-zenin

It does have an isLoaded() check, but the loadByStore function does not set the collection as loaded.
The isLoaded() check should also be store.specific then instead of how it is now

[2018-10-28 01:04] techzilla commented on #8268
I'm sorry did you guys not comprehend something correctly?

The Magento 2 swagger spec, doesn't describe the data received.  The error we're having has to do with auto-generating functions based off the spec.

[2018-10-28 01:57] gwharton commented on #18686
I ended up buying Amasty's module. With a few customisations I now have it working beautifully.

[2018-10-28 04:53] albrt06 commented on #18050
@engcom-backlog-nazar Hi ~ how about for 2.2.5 ?

[2018-10-28 09:32] kazimnoorani8704 commented on #14725
**SOLVED**

Please try this things. Visit below link.
https://tutes.club/solved-magento-2-error-a-technical-problem-with-the-server-created-an-error-try-again-to-continue-what-you-were-doing-if-the-problem-persists-try-again-later/

[2018-10-28 09:35] webkul-ratnesh commented on #18838
I would be willing to take on this issue! #SQUASHTOBERFEST

[2018-10-28 10:25] webkul-ratnesh opened #18901 "Forgot password form should not available while customer is logged in."
### Preconditions (*)

1. Issue is reproducible in all magento 2.2.x versions.

### Steps to reproduce (*)

1. From  customer login page, click on forgot password link.
2. After landing on forgot password page again click on customer login link.
3. Provide correct customer credentials to login for customer.

### Expected result (*)

1. When some one even intentionally hit your-magento-instance.com

[2018-10-28 10:29] rahulwebkul commented on #18779
#SQUASHTOBERFEST

[2018-10-28 10:50] dmytro-ch opened #18904 "Missing asterisk for admin required fields"
There is a missing asterisk for admin required fields.
The issue has been already fixed for Magento 2.3.

### Preconditions (*)
1. Magento v.2.2.7

### Steps to reproduce (*)
1. Check the admin form with required fields. (E.g. Admin login page, admin order create page etc.)

### Expected result (*)

1. The asterisk is shown for the required foelds.
<img width="365" alt="screen shot 2018-10-28 at 1

[2018-10-28 10:50] magento-engcom-team commented on #18904
Hi @dmytro-ch. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-28 11:04] webkul-ratnesh commented on #18838
I am unable to reproduce the issue on vanilla magento 2.2.5 and 2.2.6

[2018-10-28 11:05] dmytro-ch commented on #18346
The error message should be generated by the `\Magento\Security\Model\AdminSessionsManager::getLogoutReasonMessageByStatus` method.
However, it seems not to be called in an expected way.

[2018-10-28 11:26] ghost opened #18907 "Unable to select payment method according to country of the address at checkout time"
### Preconditions (*)

1. Issue present in 2.2.6
2. Issue present in 2.3

### Steps to reproduce (*)

1. Allow 2 payment methods from backend. like Bank Transfer and Purchase Order
2. Allow Bank Transfer method only for United States.
3. Allow Purchase Order method only for India
4. In frontend, login with customer account.
5. Add 2 address in customer account. one address with country India and o

[2018-10-28 13:12] akki20000 opened #18910 "not able to add new category"
i  have entered category name then also it throw validation error ie name is required .
![image](https://user-images.githubusercontent.com/22708048/47616311-1afbb380-dae1-11e8-8c33-e59e415d7726.png)

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2018-10-28 13:12] magento-engcom-team commented on #18910
Hi @akki20000. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-28 13:17] akki20000 commented on #18910
my php version is 7.0.3 and i am using linux ( ubuntu 16 )

[2018-10-28 14:50] magento-engcom-team commented on #18910
Hi @navarr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-28 14:50] navarr commented on #18910
#squashtoberfest

[2018-10-28 14:53] navarr commented on #18910
Hi @akki20000,

Magento 2.1 is End-of-Life and is no longer developed.  Can you recreate this issue on the latest version of 2.2 or 2.3?

[2018-10-28 14:54] magento-engcom-team commented on #18842
Hi @navarr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-28 14:56] magento-engcom-team commented on #18842
@navarr Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-10-28 14:57] magento-engcom-team commented on #18842
@navarr Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95951` were created

[2018-10-28 15:02] navarr commented on #18842
Hi @davidalger,

This was an issue introduced with Vertex 2.2.1-beta2, and is fixed in Vertex 2.2.1-beta3.

Until that is available, you can work around it by modifying the Vertex registration.php file to be

[code]

[2018-10-28 15:02] #18842 closed, assigned to navarr

[2018-10-28 15:04] magento-engcom-team commented on #18845
Hi @navarr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-28 15:04] navarr commented on #18845
#squashtoberfest

[2018-10-28 15:04] navarr commented on #18845
@Mor10Mort: Please update the description following the provided template

[2018-10-28 15:05] magento-engcom-team commented on #18811
Hi @navarr. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-28 15:06] navarr commented on #18811
#squashtoberfest

[2018-10-28 15:07] navarr commented on #18811
Hi @fingertips-solutions,

Before I can verify this ticket I need more information on what you're seeing and what you're expecting to see - as well as the steps you take to get there - as well as the Magento version you are working against.

[2018-10-28 15:09] navarr commented on #18799
@skdude If this is an issue with the enterprise edition, you should probably try contacting Magento support instead of creating a github issue

[2018-10-28 16:46] MsEngineer commented on #18302
@navarr
Thank you for this @navarr. I am happy to help in using your patch but I am not sure how to apply it. Could you help, please?

[2018-10-28 21:00] magento-engcom-team commented on #18839
@rahulwebkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-10-28 21:01] magento-engcom-team commented on #18839
@rahulwebkul Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95956`, `MAGETWO-95957` were created

[2018-10-28 21:03] rahulwebkul commented on #18907
@magento-engcom-team give me 2.2.6 instance

[2018-10-28 21:04] magento-engcom-team commented on #18907
Hi @rahulwebkul. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-28 21:04] magento-engcom-team commented on #18907
Hi @rahulwebkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18907-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18907-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18907-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-28 21:04] magento-engcom-team commented on #18907
@rahulwebkul Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95958`, `MAGETWO-95959` were created

[2018-10-28 21:08] evagabond opened #18911 "Unable to Unset Previously Set Top Desitinations"
### Preconditions (*)

1. Tested on a clean install of Magento 2.2.6
2. PHP 7.0.30

### Steps to reproduce (*)

1. Go to Stores -> Configuration -> General -> Country Options -> Top destinations
2. Select any Country and Save.
3. Now Unset the Country you selected in Step 2 and Save.

### Expected result (*)

1. Country selected in Top destination should unset.

### Actual result (*)

1.  Once a c

[2018-10-28 21:08] magento-engcom-team commented on #18911
Hi @evagabond. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-28 21:11] evagabond commented on #18911
@magento-engcom-team give me 2.2.6 instance

[2018-10-28 21:12] magento-engcom-team commented on #18911
Hi @evagabond. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-28 21:12] rahulwebkul commented on #18907
@magento-engcom-team give me 2.3 instance

[2018-10-28 21:12] magento-engcom-team commented on #18911
Hi @evagabond, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18911-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18911-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18911-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-28 21:15] rahulwebkul commented on #18907
Yes i am able to reproduce this issue on vanilla Magento instance 2.2.6

[2018-10-29 02:46] akki20000 commented on #18910
hi navarr,
i have now installed  magento 2.2.5 and also php version  is 7.1    .   then also i am receiving same error .
what is your suggestion . which version of php and mageto2 should i install .

[2018-10-29 07:33] magento-engcom-team commented on #18786
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 07:41] magento-engcom-team commented on #18313
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 07:46] engcom-backlog-nazar commented on #18313
Hi @ACGAshwin thank you for you report, this is acknowledged issue ,and this is duplicate for this -> https://github.com/magento/magento2/issues/8800, -> https://github.com/magento/magento2/issues/17556
I'm closing this as duplicate.

[2018-10-29 07:46] #18313 closed, assigned to nobody

[2018-10-29 08:07] magento-engcom-team commented on #18765
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95961`, `MAGETWO-95962` were created

[2018-10-29 08:12] engcom-backlog-nazar commented on #18786
Hi @webdeveloperpnkj, thank you for you report,  i'm not able to reproduce following steps your described, please provide more information about steps to reproduce,
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results.

I'm closing  this

[2018-10-29 08:12] #18786 closed, assigned to nobody

[2018-10-29 08:32] magento-engcom-team commented on #18901
@webkul-ratnesh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95967` were created

[2018-10-29 08:34] TMMeilleur commented on #13152
Hello, even with this workaround my advanced search result page doesn't display correctly. Is there any news about the issue? Thanks.

[2018-10-29 08:35] SyntaxKay opened #18913 "Global-search icon misaligned"
### Preconditions (*)

1.Global search

### Steps to reproduce (*)

1.Login to admin panel
2.click on global search

### Expected result (*)

1. ![expacted_result](https://user-images.githubusercontent.com/33230237/47638056-85653000-db83-11e8-9276-6d334a9e4c91.png)

### Actual result (*)

1. ![actual_result](https://user-images.githubusercontent.com/33230237/47637964-3e773a80-db83-11e8-8024-2d6c69

[2018-10-29 08:35] magento-engcom-team commented on #18913
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-29 09:01] Smilefounder commented on #8964
Hello Magento team, any fix patch that able to apply on 2.2.5?

Best regards.

[2018-10-29 09:02] taimaiduc opened #18916 "[Bundle product] Duplicated bundle product -> remove bundle Items saving error"
### Preconditions (*)

1. Magento 2.2.6
2. Mysql 5.7
3. Php 7.1

### Steps to reproduce (*)

1. Create bundle product
2. Add bundle item
3. Save
4. Open product just create
5. Press Save & Duplicate
6. Remove bundle item
7. Save => Get error

### Expected result (*)

Product can not save
Notice: Undefined index: product_id in project-magento2/vendor/magento/module-bundle/Controller/Adminhtml/Produ

[2018-10-29 09:02] magento-engcom-team commented on #18916
Hi @t-perm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-29 09:04] suryakant-krish opened #18918 "Asterisk sign display twice"
### Preconditions (*)

1. Asterisk sign display twice
2. Magento 2.2.5

### Steps to reproduce (*)

1. Login into admin panel > Click on cagalog > Choose display Settings

### Expected result (*)

1. http://prntscr.com/lbpcto

### Actual result (*)

1. http://prntscr.com/lbpcl6

[2018-10-29 09:07] krnshah opened #18919 "Magento catalog product page gallery hide magnifier when mouse leave."
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Enable magnifier from app/design/frontend/YOUR_VENDOR/YoUR_THEME/etc/view.xml
2. Go to product detail page and set mouse hover on product image.

### Expected result (*)

1. When we leave mouse hover from product image magnifier should be hide.

### Actual result (*)

1. Please review this link : https://drive.google.com/file/

[2018-10-29 09:07] magento-engcom-team commented on #18919
Hi @krnshah. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-29 09:14] prdptom commented on #10676
Im facing the same issue again. I have a theme that is customized from Alpaca theme and in my configurable product page, the lowest price is shown and whenever a different size is selected by clicking the swatch, the price does not change.

[2018-10-29 09:19] maheshWebkul721 commented on #18617
#SQUASHTOBERFEST

[2018-10-29 09:20] magento-engcom-team commented on #18617
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-10-29 09:20] magento-engcom-team commented on #18617
@maheshWebkul721 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-10-29 09:22] magento-engcom-team commented on #18617
@maheshWebkul721 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95970` were created

[2018-10-29 09:23] maheshWebkul721 commented on #18683
#SQUASHTOBERFEST

[2018-10-29 09:43] engcom-backlog-nazar commented on #18048
Hi @kamilszewczyk I'm not able to reproduce this on clean instance, seems like this issue related only to custom module. Can we close issue ? and in future if someone found this we can reopen.

[2018-10-29 09:49] magento-engcom-team commented on #18483
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 09:51] engcom-backlog-nazar commented on #18483
Hi @chrom  thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

Best regards!

[2018-10-29 09:51] #18483 closed, assigned to nobody

[2018-10-29 09:54] magento-engcom-team commented on #18421
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 10:02] cscd98 opened #18923 "Add to basket issue with Varnish"
I've discovered an issue with add to basket and Varnish. When I view a product page for the first time and add the product to the basket, this works as normal.

If I go into chrome developer tools, and delete my Magento cookies by clicking on 'clear storage', then navigate to the same product page, the add to basket no longer functions - it's not possible to add it to the basket.

If I then view a

[2018-10-29 10:02] magento-engcom-team commented on #18923
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-29 10:02] engcom-backlog-nazar commented on #18421
Hi @biancatde thank you for you report, the fix for this issue has already available in 2.2.6 release.

[2018-10-29 10:02] #18421 closed, assigned to nobody

[2018-10-29 10:06] magento-engcom-team commented on #18805
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 10:08] anujwebkul commented on #17167
@magento-engcom-team  give me 2.2.6 instance

[2018-10-29 10:09] ayazwebkul commented on #18805
#SQUASHTOBERFEST

[2018-10-29 10:10] ayazwebkul commented on #18805
fixed in PR: https://github.com/magento/magento2/pull/18637

[2018-10-29 10:29] ulftietze commented on #2991
Hey @dmanners, @benmarks,

we talked about this at the MageUC :)
Thanks for listen to me here!

Greetz,
Ulf

[2018-10-29 10:31] magento-engcom-team commented on #18630
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 10:55] engcom-backlog-nazar commented on #18630
HI @dverkade thank you for your report, i'm confusing with your issue, why zip code must be not required ? after you chose tax/default/postcode ? because this field is required -> Settings can be found in: Admin Panel > Stores > Settings > Configuration > General > General > Country options > Zip/Postal Code is Optional for .
So if you chose all you dont have this error validation. And why taxes

[2018-10-29 11:04] engcom-backlog-nazar commented on #18630
@dverkade Ok, i'm understand that if page load, then this validate the zop code filed, but in my case  i have no validation, see attachments.
![zip](https://user-images.githubusercontent.com/40756439/47645981-30252080-db7b-11e8-808e-56d8096c8278.gif)

[2018-10-29 11:10] engcom-backlog-nazar commented on #18318
@allumanatu I'm closing this issue as this not related to magento, if you like to update this please reopen the issue.

[2018-10-29 11:10] #18318 closed, assigned to nobody

[2018-10-29 11:12] magento-engcom-team commented on #18629
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 11:20] engcom-backlog-nazar commented on #18629
Hi @hausert , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sourc

[2018-10-29 11:20] #18629 closed, assigned to nobody

[2018-10-29 11:30] magento-engcom-team commented on #17638
Hi @Stassy. Thank you for your report.
The issue has been fixed in magento/magento2#17971 by @magently in 2.2-develop branch
Related commit(s):
 - [c63d1e636629a0035e23f54cdaa8b0f087f3802b](https://github.com/magento/magento2/commit/c63d1e636629a0035e23f54cdaa8b0f087f3802b)
 - [36570de1c7c7045d4a6a89e3b589412da0ff6bb6](https://github.com/magento/magento2/commit/36570de1c7c7045d4a6a89e3b589412da0ff

[2018-10-29 11:30] #17638 closed, assigned to nobody

[2018-10-29 12:08] matin73 opened #18924 ""Old Price" not showing when cheapest configurable article has no special price"
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.0.32

### Steps to reproduce (*)

1. Install fresh Magento 2.2.6
2. Add some configrable products with different rates for child products. F.e. T-Shirt S € 5.00 and T-Shirt XXL € 10.00
3. Add "Special Price" only for T-Shirt XXL -> special price € 8.00 (regular price 10.00)
4. Go to shop product detail page and select option "T-Shirt XXL"

### Expec

[2018-10-29 12:08] matin73 commented on #18924
@matin73 do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

X yes
no

[2018-10-29 12:12] engcom-backlog-nazar commented on #18630
@dverkade the same on 2.2-develop and 2.2.6 instance, i'm do exactly what you mentioned on steps to reproduce.

[2018-10-29 12:27] #18628 closed, assigned to nobody

[2018-10-29 12:33] magento-engcom-team commented on #18615
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 12:47] anujwebkul commented on #18924
@magento-engcom-team give me 2.2.6 instance

[2018-10-29 12:47] magento-engcom-team commented on #18924
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-29 12:48] magento-engcom-team commented on #18924
Hi @anujwebkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18924-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18924-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18924-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-29 12:52] engcom-backlog-nazar commented on #18630
@dverkade Can you reproduce this on vanilla instance ?

[2018-10-29 12:57] anujwebkul commented on #18924
#SQUASHTOBERFEST

[2018-10-29 12:59] anujwebkul commented on #18924
@magento-engcom-team presently, I am not able to reproduce the issue which is described above on Magento instance and my local system as well.
It's working fine on both the instances.

[2018-10-29 13:02] magento-engcom-team commented on #18924
Hi @anujwebkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-29 13:04] magento-engcom-team commented on #18911
Hi @anujwebkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-29 13:15] magento-engcom-team commented on #18615
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95975`, `MAGETWO-95976` were created

[2018-10-29 13:21] magento-engcom-team commented on #18542
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 13:22] engcom-backlog-nazar commented on #18542
Hi @mjohns34  thank you for you report i'm closing this as duplicate for this -> https://github.com/magento/magento2/issues/15219

[2018-10-29 13:22] #18542 closed, assigned to nobody

[2018-10-29 13:28] maheshWebkul721 commented on #18655
#SQUASHTOBERFEST

[2018-10-29 13:29] magento-engcom-team commented on #18655
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-10-29 13:29] magento-engcom-team commented on #18655
@maheshWebkul721 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-10-29 13:32] magento-engcom-team commented on #18655
@maheshWebkul721 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95977` were created

[2018-10-29 13:33] davidalger commented on #18842
Thanks @navarr!

[2018-10-29 13:35] magento-engcom-team commented on #18511
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 13:43] salmanjaved commented on #7546
@magento-engcom-team - Guys I am facing the exact same issue. Step to reproduce are:

Add item to cart.
checkout using any payment gateway other than COD.
Set product to out of stock from admin.

When returning from payment gateway on successful transaction order is not placed. Not only this simple product gets deleted from the quote_item table.

Can you please have a look into it?

[2018-10-29 13:44] engcom-backlog-nazar commented on #18511
Hi @rstylenl seems like problem may be related  to your enviroument, i'm not able to reproduce the following steps you described, please provide more information about steps to reproduce, and let me know, if you like to update please reopen the issue.

[2018-10-29 13:44] #18511 closed, assigned to nobody

[2018-10-29 13:52] magento-engcom-team commented on #18523
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 13:55] dkorpar opened #18926 "Product image placeholders cannot be configured from admin"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)

1. Install Magento 2.2.6
2. Go to Stores / Configuration / Catalog / Catalog / Product Image Placeholders
3. Choose any placeholder (e.g. Small), choose a file and save configuration

### Expected result (*)

1. Image preview available below the 'Choose file' button
2. Image uploaded
3. `core_config_data` has a row with path `cat

[2018-10-29 13:55] magento-engcom-team commented on #18926
Hi @dkorpar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-29 14:07] webusat commented on #14206
@magento-engcom-team Is there an update on this?

[2018-10-29 14:08] matin73 commented on #18924
... maybe try to upgrade vom 2.2.5 (here it works) to 2.2.6

[2018-10-29 14:09] magento-engcom-team commented on #18924
@denispapec Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95978`, `MAGETWO-95979` were created

[2018-10-29 14:17] engcom-backlog-nazar commented on #18523
Hi @mohsinahmed22 thank you for you report,  i'm not able to reproduce following steps you described, please provide more information about steps to reproduce, and  let me know , if you like to update please reopen the issue.

[2018-10-29 14:17] #18523 closed, assigned to nobody

[2018-10-29 14:18] magento-engcom-team commented on #18926
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 14:20] engcom-backlog-nazar commented on #18926
Hi @dkorpar thank you for you report, this issue has already fixed by this commit https://github.com/magento/magento2/pull/18160.

[2018-10-29 14:20] #18926 closed, assigned to nobody

[2018-10-29 14:36] py4762013 commented on #12638
Magento\Framework\View\Asset\Repository

  |   | +    public function updateDesignParams(array &$params)
  |   | +    {
  |   | +        // Set area
  |   | +        if (empty($params['area'])) {
  |   | +            $params['area'] = $this->getDefaultParameter('area');
  |   | +        }
  |   | +
  |   | +        // Set themeModel
  |   | +        $theme = null;
  |   | +        $area = $params[

[2018-10-29 14:39] py4762013 commented on #12638
fixed
\Magento\Framework\View\Asset\Repository
  /**
     * Update required parameters with default values if custom not specified
     *
     * @param array &$params
     * @throws \UnexpectedValueException
     * @return $this
     *
     * @SuppressWarnings(PHPMD.CyclomaticComplexity)
     */
    public function updateDesignParams(array &$params)
    {
        // Set area
        if (empty($par

[2018-10-29 14:44] JosephMaxwell commented on #17195
We are running into this on a customer's website. Has anyone come up with a decent interim solution?

[2018-10-29 15:02] magento-engcom-team commented on #18799
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-29 15:02] engcom-backlog-nazar commented on #18799
Hi @skdude , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-10-29 15:02] #18799 closed, assigned to nobody

[2018-10-29 15:39] navarr commented on #18842
@davidalger no thanks needed, I introduced the bug 😅

Gotcha: if you have a non-realpath as your module's registered path, object manager can't properly match the test directory pattern and you get this issue

[2018-10-29 16:01] jhruehl opened #18927 "Magento 2.3.0-beta18: values in sequence_table column in sales_sequence_meta table get cut-off an cause unique constraint violation on setup:upgrade"
### Preconditions (*)
1. Magento 2.3.0-alpha to beta 36
2. Payment Extension with an EntityPool item name, which has a minimum of 22 characters (generated sequence table name must be longer than 32 characters).

### Steps to reproduce (*)
1. Run setup:upgrade with

### Expected result (*)
1. setup:upgrade process runs without any problems

### Actual result (*)
1. Unique constraint violation excep

[2018-10-29 16:01] magento-engcom-team commented on #18927
Hi @jhruehl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-29 16:10] jhruehl commented on #18927
So I already created a pull request during the 2.3.0-alpha release:
https://github.com/magento/magento2/pull/17387

This doesn't apply anymore, but the fix is more or less the same. The pull request was rejected, because @orlangur wanted the "getTableName" functionality to be used as a fix. Because neither him, especially not me (because the effort in this particular case was in no comparison to t

[2018-10-29 17:18] Rickertje commented on #14667
Same here. Dev team please give us an update.

[2018-10-29 17:20] magento-engcom-team commented on #18913
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#18917 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [3cbc2555af0fda5af46a9c1e619d2ba090c826d2](https://github.com/magento/magento2/commit/3cbc2555af0fda5af46a9c1e619d2ba090c826d2)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-29 17:20] #18913 closed, assigned to SyntaxKay

[2018-10-29 17:20] magento-engcom-team commented on #17865
Hi @LouNik1984. Thank you for your report.
The issue has been fixed in magento/magento2#18591 by @ravi-chandra3197 in 2.2-develop branch
Related commit(s):
 - [e59dee011c199ec0f0fad819ca6be981db4778f1](https://github.com/magento/magento2/commit/e59dee011c199ec0f0fad819ca6be981db4778f1)
 - [a10f0749d9be91695cf3f3558f60744a23d9e12c](https://github.com/magento/magento2/commit/a10f0749d9be91695cf3f355

[2018-10-29 17:20] #17865 closed, assigned to nobody

[2018-10-29 17:20] magento-engcom-team commented on #12300
Hi @ShaileshChauhan92. Thank you for your report.
The issue has been fixed in magento/magento2#18862 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [109a27eb8bd2e5b8f37fcb84ef4c0d19490a5e16](https://github.com/magento/magento2/commit/109a27eb8bd2e5b8f37fcb84ef4c0d19490a5e16)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-29 17:20] magento-engcom-team commented on #16572
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#18862 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [109a27eb8bd2e5b8f37fcb84ef4c0d19490a5e16](https://github.com/magento/magento2/commit/109a27eb8bd2e5b8f37fcb84ef4c0d19490a5e16)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-29 17:20] #16572 closed, assigned to AnshuMishra17, bartoszkubicki, wstnbrg

[2018-10-29 17:20] #18458 closed, assigned to Shubham0492

[2018-10-29 17:20] magento-engcom-team commented on #18779
Hi @Franzld. Thank you for your report.
The issue has been fixed in magento/magento2#18886 by @rahulwebkul in 2.2-develop branch
Related commit(s):
 - [443e681a41dfcd9c3a446c8c9c7b6c240c52857e](https://github.com/magento/magento2/commit/443e681a41dfcd9c3a446c8c9c7b6c240c52857e)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-29 17:23] arnoudhgz opened #18931 "Product added to shopping cart / comparison list message not translated by default"
Currently the message that you have added something to your cart is not available in the i18n translation file.

### Preconditions (*)
1. Magento 2.2.6
2. Non English store
3. Any environment

### Steps to reproduce (*)
1. Add product to cart
2. See "You added %1 to your <a href="%2">shopping cart</a>."
3. Add product to comparison list
4. See "You added product %1 to the <a href="%2">comparison l

[2018-10-29 17:52] Zyles commented on #16572
Good, thank you.

[2018-10-29 18:21] Shubham-Webkul commented on #18458
@magento-engcom-team give me 2.3-develop instance

[2018-10-29 18:21] magento-engcom-team commented on #18458
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-29 18:21] magento-engcom-team commented on #18458
Hi @Shubham-Webkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18458-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18458-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18458-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-29 18:35] gwharton commented on #18919
Already fixed

2.3
https://github.com/magento/magento2/pull/18702

2.2
https://github.com/magento/magento2/commit/c55480ef23b6eb9902053a59d421c29c5eeebc4f#diff-a3d63022f922ef08dd75e31dddb0025a

[2018-10-29 18:35] #18919 closed, assigned to krnshah

[2018-10-29 20:36] Shubham0492 opened #18934 "Magento version dev-2.3-develop Alert widget gets close when click anywhere on screen"
### Preconditions (*)

1.Magento version dev-2.3-develop

### Steps to reproduce (*)

1.Add product to cart
2.Click on the cart icon at right top of screen
3.Click on delete icon
4.Now click any where on screen the alert widget will close

### Expected result (*)

1. The alert widget should not close until user click cancel button

### Actual result (*)

1. Alert widget gets close when click any w

[2018-10-29 20:36] magento-engcom-team commented on #18934
Hi @Shubham-Webkul. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-29 20:36] Shubham-Webkul commented on #18934
#SQUASHTOBERFEST

[2018-10-29 20:59] Shubham-Webkul commented on #18934
@magento-engcom-team give me 2.3-develop instance

[2018-10-29 20:59] magento-engcom-team commented on #18934
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-29 20:59] magento-engcom-team commented on #18934
Hi @Shubham-Webkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18934-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18934-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18934-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-29 20:59] nikonratm commented on #13478
@timbaker1991 Thank you so much for this fix, worked for me!

I can't believe this issue is just roaming around the wild unaddressed, seems like a major issue and still present in CE 2.2.6

[2018-10-29 21:08] magento-engcom-team commented on #18934
@Shubham-Webkul Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required inform

[2018-10-29 22:05] ichinna opened #18936 "OAuth1 request is always failing with all proper creds"
## Summary
HI Team,

I was working on an integration.  So, I need to implement your Oauth1 based authentication.  But unfortunately, I am having issues with the `/oauth/token/request`.

I have tried all possible ways to figure it out, but couldn't solve the issue.  Please take a look at the bold text to see the error response.

**oauth_problem=Consumer+key+has+expired** . and its of course **401**

[2018-10-29 22:05] magento-engcom-team commented on #18936
Hi @ChinnaBabuSadam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-10-29 22:06] orlangur commented on #18927
@jhruehl,

Nope, we should use intended mechanisms instead of hacky solutions here and there.

This is irrelevant and does not justify poor implementation.

Looks like the problem resides in third-party extension, isn't it? Anyway, putting `getTableName` in a proper place should not require too much efforts.

[2018-10-29 22:09] magento-engcom-team commented on #18195
Hi @slavvka. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-29 22:11] orlangur commented on #18923
@craigcarnell just a quick guess - maybe it's related to `form_key` cookie? What if you remove just this one?

In such case I believe observed system behavior is correct. This is a protection mechanism against CSRF attack.

[2018-10-29 22:47] onepack commented on #7519
I added two Terms and conditions. One for each store-view in it's own language but after adding one and saving the condition it won't be visible anymore in the admin. I only see a button where I can add a new condition.
PHP 7.1.23
Magento 2.2.6
It's a fresh install for a dev environment with sample data.

[2018-10-29 22:58] onepack commented on #7822
My error is a bit different from the one posted by @RedEnzian.
I get a database error but the end result is the same. No option to edit an agreement document.

Magento 2.2.6
PHP 7.1.23
Sample data installed.
Single-store mode is off.
[agreement_bug.txt](https://github.com/magento/magento2/files/2527366/agreement_bug.txt)

[2018-10-29 23:13] gwharton commented on #7822
@onepack, have you had a look at your database to check that table.

[code]

What happens if you run

`use database_name; describe checkout_agreement_store;`

[2018-10-30 03:01] tzy1992 commented on #3625
@magento-engcom-team @ishakhsuvarov

Any update on this issue? It happens when we run the reindex:catalog_product_flat and the product is disabled. The cart page showed the original price instead of the special price.

When we re-enabled the product and saved it will run the reindexRow but the special_price column are null from what I check, it will only generate after I run the reindex:catalog_pr

[2018-10-30 04:52] khanhduytbtbtb opened #18937 "i upgrade version 2.2.5 and it required to change pass.then i logged in with web interface but i could not get admin token. it always give me "You did not sign in correctly or your account is temporarily disabled.".Pls assistant me.Thanks"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2018-10-30 04:52] magento-engcom-team commented on #18937
Hi @khanhduytbtbtb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-10-30 05:20] anujwebkul commented on #18911
@magento-engcom-team  give me 2.2-develop instance

[2018-10-30 05:28] anujwebkul commented on #18911
@magento-engcom-team Issue has been fixed in 2.2-develop and 2.3-develop branch.

[2018-10-30 05:30] magento-engcom-team commented on #18931
Hi @ayazwebkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-30 05:35] ayazwebkul commented on #18931
#SQUASHTOBERFEST

[2018-10-30 05:37] anujwebkul commented on #18916
@magento-engcom-team  give me 2.2-develop instance

[2018-10-30 05:45] rajeev-k-tomy opened #18939 ""Not yet calculated" for the tax in the summary section in the checkout is not translatable"
### Preconditions (*)

1. 2.2.3 (still present in 2.3-beta)
2. Those sites which uses more than 1 stores (languages).

### Steps to reproduce (*)

1. Setup a two-store site where the default store uses "en_Us" as the language and the second store uses "es_ES" (Spanish ).
2. Add Spanish translation for the text: "Not yet calculated" through the design section. i.e, in the file: `app/design/frontend

[2018-10-30 05:45] magento-engcom-team commented on #18939
Hi @progammer-rkt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-30 06:15] evagabond commented on #18911
@anujwebkul - Can you plz point me to the solution?

[2018-10-30 06:17] anujwebkul commented on #18911
@evagabond please check the solution which is already fixed in the develop branch of 2.2 & 2.3.
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Backend/etc/adminhtml/system.xml#L221

[2018-10-30 06:38] Swati4gupta commented on #9255
I met this problem today and resolved it by using this:
$coll->setCurPage($page)->setPageSize($pageSize);
if(($coll->getSize()+$pageSize) >= ($page*$pageSize))
				{
					$info= $coll->getData();
				}
				else
				{
					$info= [];
				}

[2018-10-30 06:46] magento-engcom-team commented on #18939
Hi @anujwebkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-30 06:56] magento-engcom-team commented on #18918
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 06:57] magento-engcom-team commented on #18937
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 06:59] engcom-backlog-nazar commented on #18937
Hi @khanhduytbtbtb  , thank you for you report, Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-30 06:59] #18937 closed, assigned to nobody

[2018-10-30 07:02] magento-engcom-team commented on #18936
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 07:04] engcom-backlog-nazar commented on #18936
Hi @ChinnaBabuSadam thank you for you report, i'm closin this as duplicate -> https://github.com/magento/magento2/issues/12032 and this -> https://github.com/magento/magento2/issues/13961

[2018-10-30 07:04] #18936 closed, assigned to nobody

[2018-10-30 07:05] khanhduytbtbtb commented on #18937
Hi @engcom-backlog-nazar engcom-backlog-nazar.Thanks

[2018-10-30 07:09] magento-engcom-team commented on #18829
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 07:13] engcom-backlog-nazar commented on #18829
Hi @DaimPiek  , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sou

[2018-10-30 07:13] #18829 closed, assigned to nobody

[2018-10-30 07:18] jhruehl commented on #18927
@orlangur I don't think this to be a hacky solution, because it actually doesn't change anything of the behaviour given. If you look closer it is actually just an increase of a parameter, which was obviously chosen to have a to low value.

Furthermore the extension causing the problem works perfectly fine in Magento 2.2.6 and I'm not sure how many other payment extensions will cause the problem on

[2018-10-30 07:18] magento-engcom-team commented on #18825
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 07:27] #18825 closed, assigned to nobody

[2018-10-30 07:37] engcom-backlog-nazar commented on #18918
Hi @suryakant-krish thank you for you report this issue has already fixed in 2.2-develop and 2.3-develop branches.
![selection_180](https://user-images.githubusercontent.com/40756439/47702964-47214c80-dc27-11e8-9a92-cda6da619479.png)

[2018-10-30 07:37] #18918 closed, assigned to suryakant-krish

[2018-10-30 07:46] magento-engcom-team commented on #18763
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 07:48] engcom-backlog-nazar commented on #18763
HI @jorgb90 thank you for you report, i'm closing this issue as this is not core magento issue and you solved this.
Best regards.

[2018-10-30 07:48] #18763 closed, assigned to nobody

[2018-10-30 08:04] LucaGallinari opened #18941 "Calling getCurrentUrl on Store will wrongly add "___store" parameter"
### Summary (*)
I have the config "store code in URL" set to "yes" but when i use the method "getCurrentUrl" on a Store type variable i get the current URL but with the parameter "___store=[code]" in it, if the current store is not the one requested in the URL.
I want to use the getCurrentUrl method in order to redirect the user to the correct store based on some custom logic (like the browser lan

[2018-10-30 08:04] magento-engcom-team commented on #18941
Hi @LucaGallinari. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-30 08:18] magento-engcom-team commented on #18941
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 08:34] magento-engcom-team commented on #18941
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-95999`, `MAGETWO-96000` were created

[2018-10-30 08:37] magento-engcom-team commented on #18698
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 09:24] #18601 closed, assigned to nobody

[2018-10-30 09:33] engcom-backlog-nazar commented on #18313
@ACGAshwin They have one problem no matter if you have 2 or 1 servers, the problem is one, and if another 2 issues will be fixed, your issue also will be fixed.

[2018-10-30 09:36] engcom-backlog-nazar commented on #18313
@ACGAshwin `After setup i updated the secure and unsecure URLs (config ID 3 and 2 in the core_config_data) table to hold the DNS of the load balancer as mentioned in step 3 above`
this is core problem, using this config fields .

[2018-10-30 09:50] FerihumF opened #18943 "[M2.2.6] Product Sold Report not aggregating products"
### Preconditions (*)

1. Fresh Magento 2.2.6 install

### Steps to reproduce (*)

1. Create a product (e.g. name "Test", sku "1234", etc.)
2. Create an order with one product (1xTest)
3. Create a second order with another product (1xTest)
4. Update report statistics
5. Go to Reports > Products > Ordered and request report for today.

### Expected result (*)

1. Only one report entry with product

[2018-10-30 09:50] magento-engcom-team commented on #18943
Hi @FerihumF. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-30 09:55] supportnubix opened #18944 "Unable to open URL for downloadable product in 2.2.6"
### Preconditions (*)

1. Magento V2.2.6 Clean Install.
2. PHP 7.0.28
3. No special caching is present.

### Steps to reproduce (*)

1. Create downloadable product.
2. Add a link to this product, for example https://google.com
3. Save product.
4. Order product in front-end.
5. After order status complete navigate to your downloadable products in front-end.
6. Click the button to open the URL set i

[2018-10-30 09:56] magento-engcom-team commented on #18944
Hi @supportnubix. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-10-30 09:57] magento-engcom-team commented on #18944
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 09:58] FerihumF commented on #18943
Yes, I confirm the issue can be reproduced on a clean 2.2.6 instance

[2018-10-30 10:01] supportnubix commented on #18944
The issue was reproducable on a clean 2.2.6 install.

@magento-engcom-team give me 2.2.6 instance

[2018-10-30 10:01] magento-engcom-team commented on #18944
Hi @supportnubix. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-30 10:02] magento-engcom-team commented on #18944
Hi @supportnubix, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18944-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18944-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18944-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-30 10:17] onepack commented on #7822
@gwharton,
Thank you for your reply! Really appreciated.

I have the exact same outcome as above.
After googling a bit I found a stackexchange post with the same issue.
https://magento.stackexchange.com/questions/244961/checkout-agreement-store-doesnt-exist
I will have a look at that now.

[2018-10-30 10:28] magento-engcom-team commented on #18944
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96005`, `MAGETWO-96006` were created

[2018-10-30 10:29] gwharton commented on #7822
Ahh right. Seems like something to do with database table prefixes. Does your test case have table prefixes. If so, please raise a new issue with steps to reproduce from a fresh magento install.

[2018-10-30 10:31] supportnubix commented on #18944
There is no more information needed from my side?

I noticed it did work on product page sample with google.com, but other domains like https://www.nubix.nl/ etc don't work.

Thanks for looking into it.

[2018-10-30 10:35] magento-engcom-team commented on #18519
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 10:36] onepack commented on #7822
Yes, I use prefixes for security purposes. I will check if this is indeed the source of this issue.

[2018-10-30 10:37] engcom-backlog-nazar commented on #18519
Hi @sezio   thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

Best Regards

[2018-10-30 10:44] magento-engcom-team commented on #18838
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 10:44] SathishDreamorbit commented on #18260
@Magento team,

Let me know the status of the issue.

@dklapan  I have tried the steps. However, I didn't get the respective font files for Chinese language.  Could you please share the font files if you have.

[2018-10-30 10:44] engcom-backlog-nazar commented on #18838
Hi @squeegy06 thank you for you report, this issue has already fixed by this commit -> https://github.com/magento/magento2/pull/15094

[2018-10-30 10:44] #18838 closed, assigned to nobody

[2018-10-30 10:47] engcom-backlog-nazar commented on #18260
Hi @SathishDreamorbit You don't need this files just copy paste this -> `蔣介石蔣介石蔣介石蔣介石蔣介石蔣介石蔣介石蔣介石蔣介石蔣介石`

[2018-10-30 10:49] onepack commented on #7822
I deployed the suggested change from stackexchange to the dev environment and this solved the bug. I can even see the added condition now in the grid that was not visible before. So yes this seems to be a prefix issue.

[2018-10-30 11:19] gwharton commented on #7822
@onepack.

Here is your issue https://github.com/magento/magento2/issues/18357

Here is the 2.3 PR https://github.com/magento/magento2/pull/18412

Here is the 2.2 PR https://github.com/magento/magento2/pull/18866

The 2.2 change has yet to be merged.

[2018-10-30 11:21] magento-engcom-team commented on #18515
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 11:23] #18515 closed, assigned to nobody

[2018-10-30 11:56] engcom-backlog-nazar commented on #18048
@kamilszewczyk  I'm closing this issue, If someone have the same issue, so in future we can reopen this.
Thank you.

[2018-10-30 11:56] #18048 closed, assigned to nobody

[2018-10-30 12:04] Neusta-Hartwig commented on #13929
This error is fixed in 2.2.6

[2018-10-30 12:09] magento-engcom-team commented on #18625
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 12:27] #18625 closed, assigned to nobody

[2018-10-30 12:27] SathishDreamorbit opened #18948 "Placeholder values showing twice in dropdown in Layout/Theme option While creating Custom theme/Custom Layout"
### Preconditions (*)

1. Magento version 2.1.X
2. MYSQL 5.6
3. PHP 7.0.32

### Steps to reproduce (*)
1. In Magento 2.1.9.  Create any custom theme/ custom layout.
2.  Then Go to admin backend, select "Content"  -> Configuration -> Default Theme -> Applied Theme.
3. In drop down option is showing twice of " --No Theme--"

### Expected result (*)
1. Need to show the list without duplication.

###

[2018-10-30 12:29] magento-engcom-team commented on #18948
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-30 12:33] indefinitedevil commented on #13743
@magento-engcom-team Have just reproduced this error message on Magento Commerce Cloud 2.2.6 when trying to edit an existing integration.

[2018-10-30 12:37] engcom-backlog-nazar commented on #18948
Hi @SathishDreamorbit thank you for you report this issue has already fixed in 2.2-develop and 2.3-develop branches.
![selection_181](https://user-images.githubusercontent.com/40756439/47718521-4e5d5000-dc51-11e8-9975-121489aa8f25.png)

[2018-10-30 12:37] #18948 closed, assigned to nobody

[2018-10-30 12:39] SathishDreamorbit commented on #18260
@engcom-backlog-nazar
Could you please explain the steps in detail?

[2018-10-30 12:40] fingertips-solutions commented on #16531
installing PHP extension php_fileinfo fixed the issue.

[2018-10-30 12:41] SathishDreamorbit commented on #18948
@engcom-backlog-nazar

Yes, I noticed the issue is fixed in Magento 2.2 & Magento 2.3 version. Whereas no patches for Magento 2.1.X.

Could you please confirm whether any patches available for Magento 2.1.X?

[2018-10-30 12:45] magento-engcom-team commented on #4154
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-10-30 12:48] engcom-backlog-nazar commented on #18260
@SathishDreamorbit oh.. sorry i'm confusing a little bit, I thought you need steps to reproduce :)
[code]

[2018-10-30 12:52] navarr commented on #18302
@MsEngineer I have not tested this, however you should be able to load it using [cweagans/composer-patches](https://github.com/cweagans/composer-patches)

You would specify in composer.json:

[code]

[2018-10-30 12:54] engcom-backlog-nazar commented on #18948
@SathishDreamorbit seems like no, i tried to search some commits, but no found.

[2018-10-30 12:58] SathishDreamorbit commented on #18948
@engcom-backlog-nazar

Then, how can we include the patches for Magento 2.1.9 version website. Kindly open this issue and
 provide the patches

[2018-10-30 13:01] SathishDreamorbit commented on #18260
@engcom-backlog-nazar

Yes, I have tried the solution. But we are unable to get the supported Chinese Characters font files. In Google, we did not receive any Chinese Font file with .ttf format. If we convert and upload it, then its not readable one and throwing an error in ZendFramework.

For Existing Magento 2 website, we cannot override framework.

[2018-10-30 13:03] iget-master opened #18949 "dev/tools/grunt/configs/themes.js gets replaced after update magento"
### Summary (*)
Magento docs suggests adding theme to `dev/tools/grunt/configs/themes.js` file in order to allow using grunt to process less, watch and more.

The problem is that this file gets replaced always that I upgarde the magento installation.

.gitignore file contains following line:

https://github.com/magento/magento2/blob/77af5d65ef4fb986e62d9d1bcc230828c7c07f1b/.gitignore#L36

Pointing

[2018-10-30 13:03] magento-engcom-team commented on #18949
Hi @iget-master. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-30 13:29] navarr commented on #18402
@manishmittalm We have updated this wording and have it targeted for release in the 2.3.x line.  You should see this change in 2.3.1

[2018-10-30 13:49] magento-engcom-team commented on #6803
Hi @progreg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-30 14:02] magento-engcom-team commented on #18553
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96011`, `MAGETWO-96012` were created

[2018-10-30 14:03] GNUXDAR commented on #2228
Hi
Is there any information regards this bug as I am experiencing the same issue on version 2.2.6
I need add new customize google fonts
Thanks

[2018-10-30 14:37] snoroozi commented on #4688
I'm also facing this on 2.2.5 - does anyone have a solution. It's maddening.

[2018-10-30 15:01] snoroozi commented on #4688
I wonder if this has anything to do with having root category set to anchor, in that it ends up clearing all?

[2018-10-30 15:01] craigcarnell commented on #18923
@orlangur That's exactly what I think it is - however, why isn't a new form key generated?

[2018-10-30 15:08] ilievski commented on #16101
HI @zestbeauty ...
we didn't managed to find  general solution for the problem, but we did found the cause and temporarily solved it.
Basically the problem was with the customer session data, where in some cases the information for email, or even billing or shipping address was getting overwritten or  deleted when customer login on checkout.
We never figured out why this was happening, however a t

[2018-10-30 15:49] snoroozi commented on #4688
I see in our case it is happening right after price index finishes running after a product save.

[2018-10-30 15:59] t-perm commented on #18916
@anujwebkul Do you have the same issue with me ?

[2018-10-30 16:04] pmclain opened #18953 "Integration Test AMQP Helper Hardcoded Host"
### Preconditions (*)
1. Magento 2.3-beta
2. Do not install AMQP on localhost

### Steps to reproduce (*)
1. Attempt execution of any test utilizing the AMQP Helper such as https://github.com/magento/magento2/blob/77af5d65ef4fb986e62d9d1bcc230828c7c07f1b/dev/tests/integration/testsuite/Magento/Framework/MessageQueue/TopologyTest.php

### Expected result (*)
1. The AMQP Helper should use the same h

[2018-10-30 16:04] magento-engcom-team commented on #18953
Hi @pmclain. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-30 16:08] magento-engcom-team commented on #18904
Hi @rogyar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-10-30 16:16] rogyar commented on #18904
@magento-engcom-team give me 2.3-develop instance

[2018-10-30 16:16] magento-engcom-team commented on #18904
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-30 16:16] rogyar commented on #18904
@magento-engcom-team give me 2.2-develop instance

[2018-10-30 16:16] magento-engcom-team commented on #18904
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-30 16:17] magento-engcom-team commented on #18904
Hi @rogyar, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18904-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18904-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18904-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-30 16:22] magento-engcom-team commented on #18904
@rogyar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96014` were created

[2018-10-30 16:40] magento-engcom-team commented on #4468
Hi @kandrejevs. Thank you for your report.
The issue has been fixed in magento/magento2#18874 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [3f17772611af437165443aa2d4ac9c3a27945225](https://github.com/magento/magento2/commit/3f17772611af437165443aa2d4ac9c3a27945225)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-30 16:40] #4468 closed, assigned to vasilii-b

[2018-10-30 16:40] magento-engcom-team commented on #17488
Hi @paul-blundell. Thank you for your report.
The issue has been fixed in magento/magento2#17978 by @prakashpatel07 in 2.2-develop branch
Related commit(s):
 - [d73e84f2cf860ea62fae20a9c6714d5f4dcafca0](https://github.com/magento/magento2/commit/d73e84f2cf860ea62fae20a9c6714d5f4dcafca0)
 - [9a4f260d33ea4603e34b112a4d72d934700de3de](https://github.com/magento/magento2/commit/9a4f260d33ea4603e34b112

[2018-10-30 16:40] #17488 closed, assigned to prakashpatel07

[2018-10-30 16:54] Ctucker9233 opened #18954 "Magento 2.2.6 Terms and Conditions are Not visible in Admin"
### Preconditions (*)
Magento 2.2.6 fresh install

### Steps to reproduce (*)
1. Go to admin
2. Go to Store -> Terms and Conditions.
3. Add a New Condition
4. Save Condition

### Expected result (*)
1. New Condition should show up in the list of terms and conditions.

### Actual result (*)
1. No conditions, old or new, show up on the list.

[2018-10-30 16:54] magento-engcom-team commented on #18954
Hi @Ctucker9233. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-30 16:54] Ctucker9233 commented on #18954
@magento-engcom-team give me 2.2.6 instance

[2018-10-30 16:55] magento-engcom-team commented on #18954
Hi @Ctucker9233. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-30 16:55] magento-engcom-team commented on #18954
Hi @Ctucker9233, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18954-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18954-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18954-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-30 17:29] vtimonin commented on #12074
It seems `CreditmemoFactory::canRefundItem` method has an unnecessary `$qtys[$child->getId()] > 0` condition, probably copy-pasted from `InvoiceService::_canInvoiceItem` method - I don't see why it is needed there.

[2018-10-30 18:17] jlfguthrie commented on #8227
I am experiencing this on 2.2.4. Can anyone confirm if this issue has been resolved in a later release?
Any other workarounds in the meantime?

[2018-10-30 18:18] magento-engcom-team commented on #18954
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-10-30 18:21] Alex-Lunkov commented on #18954
@magento-engcom-team give me 2.3-develop instance

[2018-10-30 18:21] magento-engcom-team commented on #18954
Hi @Alex-Lunkov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-30 18:22] magento-engcom-team commented on #18954
Hi @Alex-Lunkov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18954-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18954-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18954-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-30 18:30] ayazwebkul commented on #18954
working fine at  my end also.
![terms and conditions settings stores magento admin](https://user-images.githubusercontent.com/32056137/47741280-e6822600-dc9f-11e8-8fa5-b10de8f76fd2.png)

[2018-10-30 18:38] orlangur commented on #18923
@craigcarnell oh, agree, it should happen on "9. Navigate back to the same product page."

[2018-10-30 19:11] magento-engcom-team commented on #18183
Hi @Shubham-Webkul. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2018-10-30 19:13] Shubham-Webkul commented on #18183
#SQUASHTOBERFEST

[2018-10-30 19:13] Shubham-Webkul commented on #18183
@magento-engcom-team give me 2.2-develop instance

[2018-10-30 19:13] magento-engcom-team commented on #18183
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-10-30 19:14] magento-engcom-team commented on #18183
Hi @Shubham-Webkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18183-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18183-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18183-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-30 19:30] Shubham-Webkul commented on #18183
I am able to reproduce this error in vanila magento.
![screencapture-ec2-34-228-235-121-compute-1-amazonaws-i-18183-2-2-develop-admin-sales_rule-promo_quote-edit-id-1-2018-10-31-00_56_31](https://user-images.githubusercontent.com/35595582/47744754-20efc100-dca8-11e8-9bf7-09c68d9e0029.png)
![screencapture-ec2-34-228-235-121-compute-1-amazonaws-i-18183-2-2-develop-checkout-cart-2018-10-31-00_57_01](

[2018-10-30 19:51] larsroettig opened #18956 "Import of RootCategoryId should be possbile (Magento/Store/Model/Config/Importer/Processor/Create.php)"
### Description (*)

Currently is not possible to define the **root_category_id** in the Project ` config.php`

### Repro
- Create a config.php like
- Run` bin/magento -n app:config:import`

[code]

### Expected behavior (*)
- Import of  **root_category_id** is successfully

### Benefits
- Simple Store setup for Projects

### Additional information
In the import Class will the root category set ha

[2018-10-30 19:51] magento-engcom-team commented on #18956
Hi @larsroettig. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-10-30 19:51] ashutoshwebkul commented on #18944
@supportnubix I cheked the issue it is really not an issue because the url you have entered https://google.com is not correct actually google redirects it to https://www.google.com so the when you enter this url https://google.com or any other url which redirects to another url it gives status 301 or 302 in that case you get something went wrong error, if you will enter this url https://www.google

[2018-10-30 20:55] squeegy06 commented on #18838
Sorry if I bothered anyone.  I did finally narrow down the module causing the issue and for the sake of anyone else struggling with this and searching around...

We previously had issues (still present in 2.2.5) with confirmation emails missing the FROM, see bug #14952, and as a result we applied this little module https://github.com/pfortin-expertime/MageFix-Misc which had worked nicely until thi

[2018-10-30 21:01] apple4ever commented on #15605
We have run into this as well... though I'm not sure if its exactly the same as above. But its possible, as we have a decent amount of attributes.

[2018-10-30 21:07] ayazwebkul commented on #18841
@magento-engcom-team give me 2.3-develop instance

[2018-10-30 21:07] magento-engcom-team commented on #18841
Hi @ayazwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-30 21:07] magento-engcom-team commented on #18841
Hi @ayazwebkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18841-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18841-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18841-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-30 21:16] magento-engcom-team commented on #18949
Hi @torhoehn. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-10-30 21:21] magento-engcom-team commented on #18939
@torhoehn Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96019`, `MAGETWO-96020` were created

[2018-10-30 22:31] iget-master commented on #18949
@torhoehn Also the `local-themes.js` is not loaded on the provided .gruntfile.sample, requiring that developers understand the layout of the gruntfile instead of just running `grunt`.

[2018-10-30 22:38] torhoehn commented on #18949
@iget-master But it's in `grunt-config.json.sample` and it's part of the devdocs to copy it to `grunt-config.json`.

[2018-10-31 01:06] LiamKarlMitchell commented on #8145
On Magento 2.2.5 a lot of duplicates. (28 or so per product with 1 image only)

Check for your self like this.
[code]

I should note, this is not from running the "bin/magento catalog:image:resize" command it just seems to happen over time after deleting the cache directory.

[2018-10-31 02:35] cyberkiller6 commented on #2991
@ulftietze
Have you found any solutions to this problem?

[2018-10-31 04:18] webkul-ratnesh commented on #18555
@paco44 I dont think this is an issue, because the same feature in propagating from magento 1 era, we can add this as a feature enhancement.

[2018-10-31 04:46] pyyick commented on #12124
Any update for this?

[2018-10-31 05:48] DanielRuf commented on #2228
In regards of performance and privacy it is generally recommended to host these fonts yourself.

[2018-10-31 05:51] techzilla commented on #11477
Can also Confirm the issue is very much unfixed.

[2018-10-31 06:57] SathishDreamorbit commented on #18948
@engcom-backlog-nazar

Can you re-open this issue?

[2018-10-31 07:16] webkul-ratnesh commented on #18555
@paco44 I tried replicate the issue at my end and got to know that it is just caching issue. If you clear cache it will work correctly.

[2018-10-31 07:17] peterjaap commented on #2228
@danielruf regardless of whether that is true, that's not the point of this issue.

[2018-10-31 07:31] supportnubix commented on #18944
@ashutoshwebkul  You're on to something there, I'm sure they can use that info but;
The URL's didn't change, and the way this was set up worked before updating, so to my opinion it should be considered an issue nontheless.
Thanks for that info.

[2018-10-31 07:37] DanielRuf commented on #2228
Sure. Did anyone come up with a PR so far or find solutions? Because this is an opensource project which lives from contributions.

[2018-10-31 07:50] chicgeek commented on #2228
@GNUXDAR Not a fix, but a temporary workaround is indicated in @PingusPepan's [first comment](https://github.com/magento/magento2/issues/2228#issuecomment-196812158).

[2018-10-31 07:55] engcom-backlog-nazar commented on #18948
@SathishDreamorbit No i can't, because this issue has already fixed, i'm try to find where is this has been fixed, and i will give you link to commit.

[2018-10-31 07:57] magento-engcom-team commented on #18467
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 08:06] SathishDreamorbit commented on #18948
@engcom-backlog-nazar

For your information, I do have solution for this issue. I will override the Js files and fix it. But, it is related with Magento core files issue. If the solution is provided with the patches for Magento 2.1.X version then the customer who using Magento version 2.1.X in their website could get benefit.

For fixing the Magento issue in custom website by overriding the files.

[2018-10-31 08:27] #18467 closed, assigned to nobody

[2018-10-31 08:31] magento-engcom-team commented on #18555
Hi @webkul-ratnesh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-31 08:32] magento-engcom-team commented on #18555
@webkul-ratnesh Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-10-31 08:34] ayazwebkul commented on #18954
I was able to reproduce this issue. Issue comes when the prefix is added in table name. Reopening the issue.

[2018-10-31 08:36] magento-engcom-team commented on #18954
Hi @ayazwebkul. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-31 08:36] ayazwebkul commented on #18954
#squashtoberfest

[2018-10-31 08:36] magento-engcom-team commented on #18954
@ayazwebkul Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96023` were created

[2018-10-31 08:48] engcom-backlog-nazar commented on #18453
Hi @lovelysetia1992 thank you for you report this issue has already fixed in 2.3-develop branch.
![selection_182](https://user-images.githubusercontent.com/40756439/47776207-8a002480-dcfa-11e8-8ff4-389414d55053.png)

[2018-10-31 08:48] #18453 closed, assigned to nobody

[2018-10-31 08:49] magento-engcom-team commented on #18469
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 08:49] engcom-backlog-nazar commented on #18469
Hi @goranhorvathr  , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Ope

[2018-10-31 08:49] #18469 closed, assigned to nobody

[2018-10-31 08:51] magento-engcom-team commented on #18342
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 09:12] nahidacm commented on #18256
Updating PHP version from 7.0 to 7.1 fixed the issue for me.

[2018-10-31 09:15] engcom-backlog-nazar commented on #18342
Hi @BabliDey thank you for you report, this is expected behavior, if you don't have customer id in storage it will return null.
![selection_184](https://user-images.githubusercontent.com/40756439/47777786-2d066d80-dcfe-11e8-92a6-290a05ad63b5.png)

[2018-10-31 09:15] #18342 closed, assigned to nobody

[2018-10-31 09:18] magento-engcom-team commented on #18409
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 09:26] aheadWorks opened #18965 "2.3-beta32: DB credentials are not updated in non-interactive mode by bin/magento setup:config:set"
### Preconditions (*)

1. Magento 2.3 beta32
2. PHP 7.2

### Steps to reproduce (*)

1. Try to update db settings with CLI in non-interactive mode(-n flag):
`bin/magento setup:config:set -n --db-host=$MYSQL_HOST --db-name=$MYSQL_DATABASE --db-user=$MYSQL_USER --db-password=$MYSQL_PASSWORD`

### Expected result (*)

1. DB credentials are updated at app/etc/env.php

### Actual result (*)

1. DB cred

[2018-10-31 09:27] #18409 closed, assigned to nobody

[2018-10-31 09:30] aheadWorks commented on #18965
yes

[2018-10-31 09:33] magento-engcom-team commented on #18371
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 09:37] magento-engcom-team commented on #18555
@webkul-ratnesh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96025` were created

[2018-10-31 09:38] BabliDey opened #18966 "Bestseller collection is empty"
### Preconditions (*)

1. Magento 2.2.3
2. 10.1.13-MariaDB

### Steps to reproduce (*)

1. Have placed order from front end in last one month.

### Expected result (*)

1. No data in sales_bestsellers_aggregated_daily or sales_bestsellers_aggregated_monthly or sales_bestsellers_aggregated_table.
2. Admin dashboard bestseller section is also empty

### Actual result (*)

1. Should have data in sale

[2018-10-31 09:38] magento-engcom-team commented on #18966
Hi @BabliDey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-31 09:43] engcom-backlog-nazar commented on #18371
Hi @ankurverma5540  , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Op

[2018-10-31 09:43] #18371 closed, assigned to nobody

[2018-10-31 09:47] magento-engcom-team commented on #18966
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 09:47] engcom-backlog-nazar commented on #18966
Hi @BabliDey
Sales module has a cronjob defined in magento/module-sales/etc/crontab.xml:
[code]
So you have to configure your Magento's cron to be running properly and bestsellers tables are going to be populated at 00:00 on your store time.

[2018-10-31 09:53] #18966 closed, assigned to nobody

[2018-10-31 09:55] engcom-backlog-nazar commented on #18966
@BabliDey And in admin, go to reports refresh statistics and you will get data to you tables.

[2018-10-31 10:00] magento-engcom-team commented on #18965
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 10:00] magento-engcom-team commented on #18965
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96028` were created

[2018-10-31 10:03] magento-engcom-team commented on #18785
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 10:41] chefbuitenhuis commented on #18263
Any updates on this? We are able to reproduce this on both CE and EE 2.2.6 as well.

[2018-10-31 10:55] jorgb90 opened #18969 "The "dev/debug/debug_logging" path does not exist"
### Preconditions (*)
Magento 2.2.6 (Developer mode)

### Steps to reproduce (*)
We want to turn production mode on for our Magento install, but it returns "The "dev/debug/debug_logging" path does not exist".

[code]

[code]

[code]

### Expected result (*)
I expect it to go into production mode.

### Actual result (*)
It stays in developer mode and outputs "The "dev/debug/debug_logging" path does

[2018-10-31 10:55] magento-engcom-team commented on #18969
Hi @jorgb90. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-10-31 11:00] forwells opened #18971 "How can the price of the product details page be changed according to the change in the number of inputs?"
### Summary (*)

My website hopes to do two things on the details page:
1, the price of the product can vary with the number of products entered
2, when I re-select the property, the price will be recalculated and written to price-box
Ps: I use simple products

evn:
1.php 7.0.28 nts 64
2.mysql5.7.3

I have tried it, but unfortunately, I am not very clear about the price calculation principle of th

[2018-10-31 11:01] magento-engcom-team commented on #18971
Hi @forwells. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-31 11:06] magento-engcom-team commented on #18971
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 11:08] engcom-backlog-nazar commented on #18971
Hi @forwells  Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-10-31 11:08] #18971 closed, assigned to nobody

[2018-10-31 11:09] magento-engcom-team commented on #18969
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 11:09] sundflux commented on #18248
So how to fix this?

Updating versions in db is not a solution as for example Klarna db schemas don't then get updated as someone pointed out.

[2018-10-31 11:16] magicaner opened #18972 "Empty cart loads too slow in big store due to crosssell product collection does not uses limit directive"
### Preconditions (*)

1. version 2.2.5, 2.2.6
2. Bug happens there:
vendor/magento/module-target-rule/Block/Checkout/Cart/Crosssell.php:443
the logic of _getLinkProducts method does not add `limit` directive, as a result collection will load all products to memory. But this is unnecesary at this point.

### Steps to reproduce (*)

1. store has ~140000 products
2. go to cart page, clear all items

[2018-10-31 11:16] magento-engcom-team commented on #18972
Hi @magicaner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-31 11:21] engcom-backlog-nazar commented on #18969
HI @jorgb90 this issue may be related to you configuration, i did  on fresh 2.2.6 install.
![selection_185](https://user-images.githubusercontent.com/40756439/47784939-e0c42900-dd0f-11e8-9f03-1eb3cd7fc9ad.png)

[2018-10-31 11:31] jorgb90 commented on #18969
@engcom-backlog-nazar  If so any idea what could cause this? Database path is there in core_config_data table..

![schermafbeelding 2018-10-31 om 12 31 12](https://user-images.githubusercontent.com/7294081/47785410-f08c3f00-dd08-11e8-8f27-45570781ef0c.png)

[2018-10-31 11:35] magento-engcom-team commented on #18355
Hi @MTheProgrammer. Thank you for your report.
The issue has been fixed in magento/magento2#18372 by @neeta-wagento in 2.2-develop branch
Related commit(s):
 - [5937495fca6903d999896657bc36f698225cb454](https://github.com/magento/magento2/commit/5937495fca6903d999896657bc36f698225cb454)
 - [e8781055d6a6ad183a09c45b8b3bf788d5615cc6](https://github.com/magento/magento2/commit/e8781055d6a6ad183a09c45

[2018-10-31 11:35] #18355 closed, assigned to neeta-wagento

[2018-10-31 11:35] magento-engcom-team commented on #17744
Hi @navarr. Thank you for your report.
The issue has been fixed in magento/magento2#18863 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [b57ae0188bdf5522a2d56693d386e54348c368e5](https://github.com/magento/magento2/commit/b57ae0188bdf5522a2d56693d386e54348c368e5)
 - [f7a8160bb2d759644de61012cb5b3bdb0b8e2770](https://github.com/magento/magento2/commit/f7a8160bb2d759644de61012cb5b3bdb

[2018-10-31 11:35] #17744 closed, assigned to tsn-Aleksey

[2018-10-31 11:35] magento-engcom-team commented on #5021
Hi @vphat28. Thank you for your report.
The issue has been fixed in magento/magento2#18870 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [70cebbd672615f12541653156a412b7714aa08e2](https://github.com/magento/magento2/commit/70cebbd672615f12541653156a412b7714aa08e2)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-31 11:35] #5021 closed, assigned to nobody

[2018-10-31 11:35] magento-engcom-team commented on #17485
Hi @wittyvishwas. Thank you for your report.
The issue has been fixed in magento/magento2#18872 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [fdf855c7b134d489b40585134ec7d41d46d93add](https://github.com/magento/magento2/commit/fdf855c7b134d489b40585134ec7d41d46d93add)

The fix will be available with the upcoming 2.2.8 release.

[2018-10-31 12:08] engcom-backlog-nazar commented on #18969
@jorgb90 Try to verify the path in core_config_data, there must not be spaces

[2018-10-31 12:08] #18969 closed, assigned to nobody

[2018-10-31 12:11] BabliDey commented on #18966
Hello @engcom-backlog-nazar ,
Thank you for your reply. I have run the corn run command with command line
php bin/magento cron:run [--group="<default>"].
and then checked admin > reports > refresh statistic section.
But still there is no data in the tables

[2018-10-31 12:16] engcom-backlog-nazar commented on #18966
@BabliDey Did you do the refresh statistics ? not check
![selection_186](https://user-images.githubusercontent.com/40756439/47787428-8d55d900-dd17-11e8-88d5-f1614d85f530.png)
.

[2018-10-31 12:20] magento-engcom-team commented on #18489
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 12:22] engcom-backlog-nazar commented on #18489
HI @brian-labelle, thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/11657

[2018-10-31 12:22] #18489 closed, assigned to nobody

[2018-10-31 12:27] #18533 closed, assigned to nobody

[2018-10-31 12:33] Zaedred commented on #16419
It seems like just today Vimeo has resolved the 504 error on the CDN: https://secure-a.vimeocdn.com/js/froogaloop2.min.js

This link works now seemingly and Vimeo videos now work on Magento.

[2018-10-31 12:37] jorgb90 commented on #18969
@engcom-backlog-nazar There are no spaces. Really clueless..

[2018-10-31 12:40] BabliDey commented on #18966
Hello @engcom-backlog-nazar ,
After refreshing it 2 to 3 times now there is data in the tables

[2018-10-31 12:47] engcom-backlog-nazar commented on #18969
@jorgb90 hm.. this error shows only if in the core_config_data have no this path.
![selection_187](https://user-images.githubusercontent.com/40756439/47788962-ed4e7e80-dd1b-11e8-83cd-50bdc904febb.png)

[2018-10-31 12:49] magento-engcom-team commented on #18943
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 12:51] engcom-backlog-nazar commented on #18943
Hi @FerihumF this is not a bug, you have 2 order with 1 product. This is expected behavior

[2018-10-31 12:51] #18943 closed, assigned to nobody

[2018-10-31 13:06] magento-engcom-team commented on #18382
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 13:19] engcom-backlog-nazar commented on #18382
Hi @Dan547  i'm no able to reproduce following steps you described, please verify that type of attribute you created have correct value. e.g text have "text" e.g int have 1,2,3.

[2018-10-31 13:19] #18382 closed, assigned to nobody

[2018-10-31 13:22] magento-engcom-team commented on #18356
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 13:36] magento-engcom-team commented on #18972
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 13:41] engcom-backlog-nazar commented on #18969
@jorgb90 maybe change value to 1 ? in production mode it set to 0 in developer to 1, so if you in dev. mode, you need this value set to 1.

[2018-10-31 13:56] zipnfc commented on #16419
Just tried it but sill waits for ages and eventually comes back with an error:

An error occurred while processing your request.
Reference #97.99e86768.1540994119.41d4cdb

[2018-10-31 14:02] engcom-backlog-nazar commented on #18972
Hi @magicaner module "module-target-rule" available only on ee version.Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report o

[2018-10-31 14:02] #18972 closed, assigned to nobody

[2018-10-31 14:27] engcom-backlog-nazar commented on #18785
Hi @tdgroot thank you for you report, this issue has already fixed in 2.3-develop branch.
![field](https://user-images.githubusercontent.com/40756439/47782196-54623800-dd08-11e8-8893-230323371f4e.gif)

[2018-10-31 14:42] tejasvyas1988 opened #18974 "Magento 2.3 Beta version : Elastic search V 6.0 issue"
### Preconditions (*)
1.Magento 2.3 beta version
2.Elastic Search 6.4

### Steps to reproduce (*)
1.Install the Elastic Version 6.4
2.Select the option Elastic Search 5+ from admin Configuration
3. Perform Magento reindexing

### Expected result (*)

1. Getting the below error message in elastic Search log:
Enabling [_all] is disabled in 6.0. As a replacement, you can use [copy_to] on mapping fiel

[2018-10-31 14:42] magento-engcom-team commented on #18974
Hi @tejasvyas1988. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-10-31 14:44] jorgb90 commented on #18969
@engcom-backlog-nazar Thanks for your help for so far, but changing the value to 1 unfortunately doesn't make a difference :(

I do find another occurence of it in 'flag' column, but I don't think it can do harm?

![schermafbeelding 2018-10-31 om 15 43 15](https://user-images.githubusercontent.com/7294081/47795978-b714fd00-dd23-11e8-8088-9d96c67d1c3c.png)

[2018-10-31 15:00] mhenkel1 commented on #8004
Problem still exists, it does not matter if the ID is smaller. You simply can not update the types property with the rest api.
It does nothing, you currently have to delete the image and reupload it...

[2018-10-31 15:01] tdgroot commented on #18785
@engcom-backlog-nazar strange.. since I updated my local 2.3-develop environment, the problem seems to be solved. I can't reproduce it anymore as well.

Thanks for checking the issue and my apologies for the inconvenience.

[2018-10-31 15:01] #18785 closed, assigned to nobody

[2018-10-31 15:14] ShawnAbramson commented on #18765
#mm18nyc I wanna tackle this issue please :-)

[2018-10-31 15:14] magento-engcom-team commented on #18765
@ShawnAbramson thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-31 15:18] mhenkel1 opened #18976 "REST API Product Images PUT request not saving "types""
**Problem description:**
When you try to update product images via the Magento REST API, the field "Types" is not saved.
For example you have not added the type "thumbnail" during the POST request, and want to add it later on. Currently you have to DELETE the image and add it again with another POST.

**Preconditions**
Magento 2
Version: 2.2.x (tested on 2.2.5 and 2.2.6)
PHP v7.1.17
Mysql 5.7
This

[2018-10-31 15:18] magento-engcom-team commented on #18976
Hi @mhenkel1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-10-31 15:20] dewayneholden commented on #15427
I have confirmed that this is happening on Magento 2.2.6. A small number of orders have captured funds, but the order has not been created. I get the following in exception.log:

`[2018-10-26 11:56:00] report.CRITICAL: Wrong order ID: "XXXXXXXXXX". {"exception":"[object] (Exception(code: 0): Wrong order ID: \"XXXXXXXXXX\". at /path/to/vendor/magento/module-paypal/Model/Ipn.php:140)"} []`

[2018-10-31 15:29] magento-engcom-team commented on #18976
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-10-31 15:30] magento-engcom-team commented on #18765
Hi @ShawnAbramson. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-10-31 15:48] slavvka commented on #18263
@chefbuitenhuis the fix was delivered to 2.3-develop 7 days ago and also backported to be delivered as a part of 2.2.7

[2018-10-31 15:52] Zaedred commented on #16419
Weird it was working this morning... now it's only partially working maybe half the time or not at all.

[2018-10-31 15:55] ibecmattb commented on #6710
This is still happening in 2.2.6

[2018-10-31 16:14] Eudemon commented on #18941
#mm18nyc please give me access to the issue

[2018-10-31 16:14] magento-engcom-team commented on #18941
@Eudemon thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-31 16:16] magento-engcom-team commented on #18941
Hi @Eudemon. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-10-31 16:16] jorgb90 commented on #18969
@engcom-backlog-nazar Mm to make it even stranger when I set the value to 1 and run "php bin/magento deploy:mode:set production" it sets it to 0 :S

[2018-10-31 16:19] zipnfc commented on #16419
I seem to remember seeing something about it being cached so depends on where you get bounced as to whether you get it or not.

I think we need Magento to use the new library or use YouTube. Unfortunately our business has everything on Vimeo !!

[2018-10-31 16:50] magento-engcom-team commented on #18819
Hi @ShawnAbramson. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-31 16:57] magento-engcom-team commented on #18819
@ShawnAbramson Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96036`, `MAGETWO-96037` were created

[2018-10-31 17:38] ayazwebkul commented on #18841
working fine on fresh installation of Magento 2.3.*-beta.
@paco44 if you face this issue again, please reopen the issue and provide more details of your environment.

[2018-10-31 17:38] #18841 closed, assigned to Shubham0492

[2018-10-31 17:39] ayazwebkul commented on #18841
#SQUASHTOBERFEST

[2018-10-31 17:52] Zaedred commented on #16419
Having the same problem right now everything is on Vimeo. We are trying to work to have everything moved to Youtube due to this problem.

[2018-10-31 18:00] ayazwebkul commented on #18562
@magento-engcom-team give me 2.2.6 instance

[2018-10-31 18:00] magento-engcom-team commented on #18562
Hi @ayazwebkul. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-10-31 18:01] ayazwebkul commented on #18562
#SQUASHTOBERFEST

[2018-10-31 18:01] magento-engcom-team commented on #18562
Hi @ayazwebkul, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18562-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18562-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18562-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-31 18:11] ayazwebkul commented on #18562
i tried to login to admin panel on Edge and IE 11 but was unsuccessful. :(
unable to check issue.

[2018-10-31 18:21] magento-engcom-team commented on #18580
Hi @denispapec. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-10-31 18:30] amenk commented on #18562
Seems to be an additional bug? Which kind of error did you get?

[2018-10-31 18:53] aartea opened #18977 "Truncation of '+' character in Managing Options for Product Attributes"
### Preconditions (*)

1. Magento ver. 2.2.6.
2. Server database: MariaDB 10.3.10
3. OS: Ubuntu 18.04 LTS

### Steps to reproduce (*)

1. From my Admin Panel, I go to "Stores > Attributes > Product".
2.  On the "Properties" tab under "Attribute Information", I navigate to the option "Catalog Input Type for Store Owner", I use the "Dropdown" option.
3. When I add values for the table "Manage Option

[2018-10-31 18:53] magento-engcom-team commented on #18977
Hi @aartea. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-10-31 18:55] sundarcreosen commented on #18931
#mm18nyc

[2018-10-31 18:55] magento-engcom-team commented on #18931
@sundarcreosen thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-10-31 18:56] magento-engcom-team commented on #18931
Hi @sundarcreosen. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-10-31 19:00] sundarcreosen commented on #18931
@magento-engcom-team give me 2.3-develop instance

[2018-10-31 19:00] magento-engcom-team commented on #18931
Hi @sundarcreosen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-10-31 19:00] magento-engcom-team commented on #18931
Hi @sundarcreosen, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18931-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18931-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18931-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-10-31 20:02] nthurston opened #18979 "API: Bundle Product Option Repository Delete method removes incorrect option"
### Preconditions (*)

1. Magento version 2.2.6
2. REST API

### Steps to reproduce (*)

1. Create Bundle Product with 2 or more options
2. Call /V1/bundle-products/{sku}/options/{optionId} with any option id other than first option

### Expected result (*)

1. Option with OptionId specified in request removed

### Actual result (*)

1. First option always removed, regardless of optionId specified

[2018-10-31 20:02] magento-engcom-team commented on #18979
Hi @nthurston. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-10-31 20:08] okorshenko commented on #18854
Hi @saphaljha. Thank you for your report.
The issue has been fixed in magento/magento2#18856 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [7401795d5133c74d3f6273c9a3bc72b7ce2c48cf](https://github.com/magento/magento2/commit/7401795d5133c74d3f6273c9a3bc72b7ce2c48cf)
 - [cd97592752a02a6b3dcda3494f18557dcb93b6d3](https://github.com/magento/magento2/commit/cd97592752a02a6b3dcda3494f18557d

[2018-10-31 20:08] okorshenko commented on #18779
Hi @Franzld. Thank you for your report.
The issue has been fixed in magento/magento2#18889 by @rahulwebkul in 2.3-develop branch
Related commit(s):
 - [008fe5d2bec2167e29d45001a674de8249e393e7](https://github.com/magento/magento2/commit/008fe5d2bec2167e29d45001a674de8249e393e7)
 - [7db2cc9fbac6adc17e43be576aa149b7e7965b8a](https://github.com/magento/magento2/commit/7db2cc9fbac6adc17e43be576aa149b7

[2018-10-31 20:08] okorshenko commented on #18688
Hi @davegog. Thank you for your report.
The issue has been fixed in magento/magento2#18851 by @wiardvanrij in 2.3-develop branch
Related commit(s):
 - [ba69bfec127bed8c39c7d9e7b73d10b54449b158](https://github.com/magento/magento2/commit/ba69bfec127bed8c39c7d9e7b73d10b54449b158)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-31 20:08] okorshenko commented on #6731
Hi @lsv. Thank you for your report.
The issue has been fixed in magento/magento2#18844 by @Rus0 in 2.3-develop branch
Related commit(s):
 - [dfa2f25534e05050fde25d2b4b960f5ecfa173bd](https://github.com/magento/magento2/commit/dfa2f25534e05050fde25d2b4b960f5ecfa173bd)
 - [4cf4884343010b2c0dc770ed3af6afb558b0d19b](https://github.com/magento/magento2/commit/4cf4884343010b2c0dc770ed3af6afb558b0d19b)

[2018-10-31 20:08] okorshenko commented on #18840
Hi @okorshenko. Thank you for your report.
The issue has been fixed in magento/magento2#18846 by @okorshenko in 2.3-develop branch
Related commit(s):
 - [0f0f64de5c2ece4a0d3ec9ed54f65df3c30284e9](https://github.com/magento/magento2/commit/0f0f64de5c2ece4a0d3ec9ed54f65df3c30284e9)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-31 20:08] okorshenko commented on #2618
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#18798 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [069195ce52b458f6ec9dbcc2907c27722e0f7990](https://github.com/magento/magento2/commit/069195ce52b458f6ec9dbcc2907c27722e0f7990)

The fix will be available with the upcoming 2.3.1 release.

[2018-10-31 20:08] okorshenko commented on #18585
Hi @luukschakenraad. Thank you for your report.
The issue has been fixed in magento/magento2#18590 by @luukschakenraad in 2.3-develop branch
Related commit(s):
 - [96507df2629a67616931f8aa404b5b2cf6f5440a](https://github.com/magento/magento2/commit/96507df2629a67616931f8aa404b5b2cf6f5440a)
 - [623a6b01330545582c3337813d803691faefef87](https://github.com/magento/magento2/commit/623a6b01330545582c33

[2018-10-31 20:08] okorshenko commented on #12399
Hi @Drakas. Thank you for your report.
The issue has been fixed in magento/magento2#18419 by @Mardl in 2.3-develop branch
Related commit(s):
 - [8f36157cae89483469d567710aaba1d728328dd1](https://github.com/magento/magento2/commit/8f36157cae89483469d567710aaba1d728328dd1)
 - [0d97a1600e3ccb3b3cf5c024a971b6f7b3597a3e](https://github.com/magento/magento2/commit/0d97a1600e3ccb3b3cf5c024a971b6f7b3597a3

[2018-10-31 20:36] drew7721 commented on #16074
Ok, this will sound crazy but the issue comes from the block `product_viewed_counter`.

If we remove that block from the catalog_product_view.xml layout it will not have this issue.

A deeper look and we see that the issue comes from the **Ui** module. Not surprised... 🤣

The guilty class/method is `Magento\Catalog\Ui\DataProvider\Product\Listing\Collector\Image`->`emulateImageCreating`. Still not

[2018-10-31 21:01] magento-engcom-team commented on #18580
@denispapec Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96042`, `MAGETWO-96043` were created

[2018-10-31 21:23] #18954 closed, assigned to nobody

[2018-10-31 21:33] tanolalano commented on #16203
Same issue on magento 2.2.6
php 7.1.22
MySQL 5.7.22

[2018-10-31 21:36] denispapec commented on #18580
Hi,
fixes for both 2.2 and 2.3 release lines are ready for review.

[2018-10-31 21:46] gwharton commented on #16203
PR #18472 is the fix. Just waiting to be merged.

[2018-10-31 21:52] geerlingguy commented on #18974
Note that in 2.2, it seems that connections to Elasticsearch silently fail when you click the 'Test Connection' button, and there's no indication that only 2.x and 5.x are officially supported.

Just noting here that Elasticsearch 2.x was EOL almost a year ago (Feb 2018) and Elasticsearch 5.x will be EOL in March 2019 (when 7.0.0 is released); see: https://www.elastic.co/support/eol

It would be n

[2018-11-01 02:07] pmclain commented on #18974
ElasticSearch docs regarding changes to the `_all` meta field in v6 for reference https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-6.0.html#_the_literal__all_literal_meta_field_is_now_disabled_by_default

[2018-11-01 06:44] shachiarkatkar opened #18983 "Select all orders selecting orders which are not visible in order grid."
### Preconditions (*)
1. Magento 2.2.5
2. Php 7.0

### Steps to reproduce (*)
1. Go to order grid
2. Select all orders on that page
3. Place an order
4. Without  refreshing page move all orders to hold or any other status
5. Check updated order status for new order

### Expected result (*)
1. Only the order selected should be updated

### Actual result (*)
1. All orders including those which are n

[2018-11-01 06:44] magento-engcom-team commented on #18983
Hi @shachiarkatkar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-01 06:47] shachiarkatkar commented on #18983
@magento-engcom-team give me 2.2.5 instance

[2018-11-01 06:47] magento-engcom-team commented on #18983
Hi @shachiarkatkar. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-11-01 06:47] magento-engcom-team commented on #18983
Hi @shachiarkatkar, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18983-2-2-5/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18983-2-2-5//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18983-2-2-5//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-01 06:58] shachiarkatkar commented on #18983
@magento-engcom-team the error replicated on vanilla instance

[2018-11-01 07:10] magento-engcom-team commented on #18977
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-01 07:13] engcom-backlog-nazar commented on #18977
Hi @aartea thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/18493

[2018-11-01 07:13] #18977 closed, assigned to nobody

[2018-11-01 07:14] magento-engcom-team commented on #18983
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-01 07:31] engcom-backlog-nazar commented on #18983
Hi @shachiarkatkar thank you for you report, this issue has already fixed in 2.2-develop and 2.3-develop
![selection_188](https://user-images.githubusercontent.com/40756439/47838726-e9bd0500-ddb8-11e8-8ea3-9c6ebcd6bf27.png)
 branch

[2018-11-01 07:33] engcom-backlog-nazar commented on #16008
Hi @webkul-ratnesh did you reproduce this on 2.2-develop branch ?

[2018-11-01 07:49] webkul-ratnesh commented on #16008
I did in fresh 2.2.6 CE edition.

[2018-11-01 07:50] webkul-ratnesh commented on #16008
@magento-engcom-team give me $2.2-develop instance

[2018-11-01 07:56] engcom-backlog-nazar commented on #16008
@magento-engcom-team give me 2.2-develop instance

[2018-11-01 07:56] magento-engcom-team commented on #16008
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-01 07:57] magento-engcom-team commented on #16008
Hi @engcom-backlog-nazar, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16008-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16008-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16008-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-01 08:00] magento-engcom-team commented on #18976
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96045`, `MAGETWO-96046` were created

[2018-11-01 08:01] webkul-ratnesh commented on #16008
@engcom-backlog-nazar Issue only occur in production mode, and i have not option to enable production mode in you test instance.

[2018-11-01 08:06] engcom-backlog-nazar commented on #16008
@webkul-ratnesh ok, i'm try to check this in my local environment on 2.2dev branch.

[2018-11-01 08:19] magento-engcom-team commented on #18979
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96048`, `MAGETWO-96049` were created

[2018-11-01 08:22] #18356 closed, assigned to nobody

[2018-11-01 08:35] shachiarkatkar commented on #18983
@engcom-backlog-nazar can you give commit number here please

[2018-11-01 08:42] engcom-backlog-nazar commented on #18983
@shachiarkatkar might be this commit -> https://github.com/magento/magento2/pull/18377/files

[2018-11-01 08:45] engcom-backlog-nazar commented on #18983
@shachiarkatkar https://github.com/magento/magento2/pull/14629

[2018-11-01 08:46] engcom-backlog-nazar commented on #18270
Hi @rdjinternet  Thank you for you report, I'm not able to reproduce following steps your described.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-11-01 08:46] #18270 closed, assigned to nobody

[2018-11-01 09:49] engcom-backlog-nazar commented on #16008
@webkul-ratnesh I'm not able to reproduce this on 2.2-dev branch, have correctly signed in admin dashboard
![captcha](https://user-images.githubusercontent.com/40756439/47844817-0dd61180-ddcc-11e8-9db7-30ac68dfccfb.gif)

[2018-11-01 09:59] DanieliMi opened #18990 "Shipping address is not validated in checkout when proceeding step as logged in user with default shipping address"
### Summary
The shipping address is not beeing validated (correctly?) for logged in users with addresses. If you already have customers in your shop and make changes to your address settings for your store this can lead to bad usability experience for your customers because they need to leave the checkout make change sin address book and then go back to checkout.

### Preconditions (*)

1. v.2.2.6

[2018-11-01 09:59] magento-engcom-team commented on #18990
Hi @DanieliMi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-01 09:59] mklooss commented on #6426
got this issue on M2.2 also.

Fixed it by adding: "static_content_on_demand_in_production" in the app/etc/env.php
source: https://devdocs.magento.com/guides/v2.2/cloud/env/variables-intro.html

Code: https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/lib/internal/Magento/Framework/App/View/Deployment/Version.php#L82-L91

[2018-11-01 10:04] DanieliMi commented on #18990
I confirm i can reproduce the issue on vanilla Magento 2.2.6

[2018-11-01 10:36] webkul-ratnesh commented on #16008
@engcom-backlog-nazar The issue not that we can not login using captcha, the issue is that we can not regerate new captcha as it is showing error in console, give me few time i will try once in 2.2-dev if i will succeed i will close this issue by myself.

[2018-11-01 10:37] engcom-backlog-nazar commented on #16008
@webkul-ratnesh ok

[2018-11-01 10:38] magento-engcom-team commented on #18990
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-01 10:39] leelawcpd commented on #12662
For me I couldn't replicate the issue above on 2.2.6, but I landed here by replicating (and then treating) the symptoms described.

The setting "Stores > Configuration > Catalog > Catalog > Search Engine Optimization > Use Categories Path for Product URLs" only generates aliases for Categories of which the product is directly assigned to, and will not generate aliases for products that are only me

[2018-11-01 10:40] leelawcpd commented on #9863
For me I couldn't replicate the issue above on 2.2.6, but I landed here by replicating (and then treating) the symptoms described.

The setting "Stores > Configuration > Catalog > Catalog > Search Engine Optimization > Use Categories Path for Product URLs" only generates aliases for Categories of which the product is directly assigned to, and will not generate aliases for products that are only me

[2018-11-01 11:20] magento-engcom-team commented on #18990
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96059`, `MAGETWO-96060` were created

[2018-11-01 11:21] magento-engcom-team commented on #18338
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-01 11:57] engcom-backlog-nazar commented on #18338
Hi @qsolutions-pl , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2018-11-01 11:57] #18338 closed, assigned to nobody

[2018-11-01 11:59] ameshca commented on #15049
Any solution got for this issue? this issue is still present in 2.2.6

[2018-11-01 12:00] magento-engcom-team commented on #18738
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-01 12:07] tejasvyas1988 commented on #18974
I was checking in this file vendor\magento\module-elasticsearch\Elasticsearch5\Model\Client\Elasticsearch.php and find the below code in addFieldsMapping function:
                  '_all' => $this->prepareFieldInfo([
                        'enabled' => true,
                        'type' => 'text',
                    ]),
Should it be there as it is depricated in 5+?

[2018-11-01 12:11] rstylenl commented on #17933
@engcom-backlog-nazar @prakashpatel07

I have just tested this on a Vanilla Magento 2.2.3 installation and the payment information was as expected so it did not change it back to the default store. In the email that is send to the 'client' the Payment information Title is reset to the default store, but the Instructions are from the store the client order at. See screenshots below (i removed my pe

[2018-11-01 12:15] magento-engcom-team commented on #18555
Hi @kirtinariya1. Thank you for your report.
The issue has been fixed in magento/magento2#18967 by @webkul-ratnesh in 2.2-develop branch
Related commit(s):
 - [2bb03296773ab56a8cc5ff46fb46dfad27c3270f](https://github.com/magento/magento2/commit/2bb03296773ab56a8cc5ff46fb46dfad27c3270f)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-01 12:15] #18555 closed, assigned to webkul-ratnesh, paco44

[2018-11-01 12:15] magento-engcom-team commented on #13083
Hi @rzinnatullin. Thank you for your report.
The issue has been fixed in magento/magento2#18873 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [06ca13a554082ed8fcbe7852d765aa2916b48fb1](https://github.com/magento/magento2/commit/06ca13a554082ed8fcbe7852d765aa2916b48fb1)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-01 12:15] magento-engcom-team commented on #18729
Hi @dmytro-ch. Thank you for your report.
The issue has been fixed in magento/magento2#18875 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [999e79f85c81fb49d5c90732bc275afda36f854a](https://github.com/magento/magento2/commit/999e79f85c81fb49d5c90732bc275afda36f854a)
 - [5333810773c2d8160b6c234ac27f8e09edb1382c](https://github.com/magento/magento2/commit/5333810773c2d8160b6c234ac27f8

[2018-11-01 12:15] #18729 closed, assigned to dmytro-ch

[2018-11-01 12:37] zipnfc commented on #16419
As I am new to the process on here so can someone explain how the backlog is prioritised / actioned? Is there a candidate list for the next release?

Cheers.

[2018-11-01 13:05] SathishDreamorbit opened #18996 "Where <depends> does not working properly while using after_element_html in fieldsets"
### Preconditions (*)
1. Magento 2.1.9

### Steps to reproduce (*)
1.  Create a dependency fields in the admin grid

[code]

       $test1 = $fieldset->addField(
            'test1',
            'text',
            [
                'name' => 'test1',
                 'disabled' => $isElementDisabled,
                'after_element_html' => '<label></label>'
            ]
        );

      $refere

[2018-11-01 13:05] magento-engcom-team commented on #18996
Hi @SathishDreamorbit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-01 13:13] altravista commented on #11754
I have same problem using Bootstrap 4.1.0.

[2018-11-01 13:21] engcom-backlog-nazar commented on #18738
Hi @harrigo, thank you for you report, this is not a bug, you can set different addresses for customer only in admin area.

[2018-11-01 13:21] #18738 closed, assigned to nobody

[2018-11-01 13:28] magento-engcom-team commented on #18996
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-01 14:04] jasonevans1 commented on #14793
I have created a PR to the devdocs to add documentation for the addAttribute method and the available options. https://github.com/magento/devdocs/pull/3221

The addAttribute does not support assigning an attribute to an attribute set. This stack overflow post has an answer showing how to add an attribute and then add it to a set. https://stackoverflow.com/questions/47975673/magetno-2-custom-attrib

[2018-11-01 14:42] bdenham commented on #4454
@djpaoloc, can you provide an example of how you are using <body> as a layout instruction to update your <layout> file? I would like to add this to the docs that I'm working on updating. Thanks!

[2018-11-01 14:43] DrewML commented on #14667
The 2.3.0 release branch is also closed off and going through regression, so this will not be addressed in 2.3.0 unfortunately, but is tentatively planned for 2.3.1 (cannot give a 100% guarantee, but that's the current plan). The issue will be addressed when we [swap out Fotorama](https://github.com/magento/architecture/pull/33).

For the time being, several folks in this thread have mentioned htt

[2018-11-01 14:43] bdenham commented on #4454
@jove4015, did you ever figure out or confirm what was happening in version 2.2.5?

[2018-11-01 15:18] snoroozi commented on #14667
jesus christ

On Thu, Nov 1, 2018 at 11:03 AM Andrew Levine <notifications@github.com>
wrote:

--
Scott Noroozi

[2018-11-01 15:45] CristiLodor commented on #14667
Because non of the solutions worked for me I installed https://www.magictoolbox.com/magiczoomplus/ (hope will not be interpreted as ad).
Now the product page image appears in about 1-2 seconds which is very much improvement.
Really can't understand why this was not fixed by now and isn't included in a strict plan.

[2018-11-01 15:47] siliconalchemy commented on #14667
@DrewML Honestly, Magento/Adobe is doing your flagship product a long-lasting harm in not addressing this in a major release.  Any sane development/management team should see this as a critical UX bug.  The fact it is not being addressed in the first major release in over a year is embarrassing.

[2018-11-01 15:51] Koen028 commented on #18735
@magento-engcom-team I can confirm this is an issue on Magento 2.3 beta32
I used the following query:
[code]

[2018-11-01 16:45] AndrewPenry opened #18999 "2.2.6 CE Updating product quantity via REST API does not clean product cache"
### Preconditions
1. Magneto 2.2.6 with Sample Data in production mode
2. PHP 7.0

### Steps to reproduce
1. View the product page for Chaz Kangeroo Hoodie (/chaz-kangeroo-hoodie.html)
2. Update the stock for Chaz Kangeroo Hoodie-XS-Orange via the REST API, setting it to 0:

   PUT http://example.com/rest/V1/products/MH01-XS-Orange/stockItems/54

[code]

3. Refresh the product page for Chaz Kanger

[2018-11-01 16:46] magento-engcom-team commented on #18999
Hi @AndrewPenry. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-01 16:46] tuyennn commented on #11343
@magento-engcom-team any update on this bug?

[2018-11-01 16:48] harrigo commented on #14667
Although i'm not a massive fan of fotorama the problem fotorama for a lot of people here i believe. I completely ripped it out and still had massive problems with my pages when product data storage overloaded. See the fix here. Modify the 2 files as per https://github.com/magento/magento2/issues/17813 and drop them in a theme. Your product pages will drop to 1-2 seconds and everything will be fine

[2018-11-01 16:58] zipnfc commented on #16419
I have managed to get this working with the following changes - seems fine and tested on various browsers, but not 100% convinced it is the correct approach:

copied and changed two files:

1: vendor/magento/catalog_product_video/view/frontend/web/js/fotorama-add-video-events.js

Changed line 454 - element.src from

`element.src = 'https://secure-a.vimeocdn.com/js/froogaloop2.min.js';`
to
 `elemen

[2018-11-01 17:01] AndrewPenry commented on #18999
@magento-engcom-team give me 2.2.6 instance

[2018-11-01 17:01] magento-engcom-team commented on #18999
Hi @AndrewPenry. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-01 17:02] maximecarey opened #19000 "Cannot edit customer when file field attribute is present"
### Preconditions (*)

1. Magento 2.2.6
2. PHP 7.1.17

### Steps to reproduce (*)

1. Add a file field attribute to the customer (either using code or an extension)
2. Create a customer account
3. Try to edit the customer account in the backend

### Expected result (*)

1. The customer account edit screen is displayed

### Actual result (*)

1. An 500 error with the following trace logged:
`Error:

[2018-11-01 17:02] magento-engcom-team commented on #19000
Hi @werfu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-01 17:02] magento-engcom-team commented on #18999
Hi @AndrewPenry, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18999-2-2-6//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-01 17:05] Mehran91z commented on #11263
I had this problem with saving new attributes on Magento 2.1.11 and 2.2.5 too.

I found that we need to fill **Admin Description Field** for each swatch as well as admin swatch field! even the description field isn't required.

Hope this will help...

[2018-11-01 18:29] AndrewPenry commented on #18999
It's easier to start with the sample data, but I don't think the Assisant will let me. So here are instructions starting from vanilla without sample data:

### Steps to reproduce from vanilla
1. Create a new product (TEST) with 2 configurations (RED and BLUE). Give both of these simple products a positivew quantity.
2. View the product page for the new product.
3. Update the stock for one of the s

[2018-11-01 19:22] HannesJa commented on #9002
This helped us. I modified the code in pull request https://github.com/magento/magento2/pull/14320 so it only modifies the internals of the functions, and doesn't add any parameters to the protected methods. But the idea is exactly the same as @drashmk wrote in the pull request. Here's the diff:

[code]

[2018-11-01 21:36] nthurston opened #19003 "salesInvoiceOrder REST API does not make downloadable products available"
### Preconditions (*)

1. Magento version 2.2.6
2. REST API salesOrderInvoice

### Steps to reproduce (*)

1. Create Downloadable product
2. Place order for product
3. POST to /V1/order/{orderId}/invoice to invoice the order/item

### Expected result (*)

1. Downloadable product should be available

### Actual result (*)

1. Downloadable product is still pending

[2018-11-01 21:36] magento-engcom-team commented on #19003
Hi @nthurston. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-01 22:44] saadattravele commented on #16447
Moving to a new platform should be done with much planning.
The short version
Map your current website pages
Duplicate the pages to the new platform
Launch new website
Use redirects to map old pages full addresses to new pages
Keep track of new/old website in Google Search Console
I could guide so much in this area that I hope it works
For more information on the [iran incoming tour operator](http

[2018-11-02 01:49] orlangur commented on #18735
@raivisdejus issues with GraphQL should be reported in dedicated fork, I don't see this exact issue reported there https://github.com/magento/graphql-ce/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+category yet.

[2018-11-02 01:49] #18735 closed, assigned to nobody

[2018-11-02 02:08] asadyar commented on #17813
@DrewML Thanks for posting a fix for this issue. Can you please also copy your version of these 3 modified files, Which can be use on production M2.2.6 website. Once again thanks for the fix.

Just to add my experience, I tested same website clone on NGINX and Apache servers. Product image loading time on Apache server is faster than NGINX (Almost half).

Excited to try @DrewML solution on both se

[2018-11-02 02:53] jlfguthrie commented on #5863
Any know fixes available? 2.2.6 still an issue.
Mixed success with: https://github.com/olegkoval/magento2-regenerate_url_rewrites

[2018-11-02 03:34] magento-engcom-team commented on #19003
Hi @pmclain. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-02 03:47] eInyzant commented on #15427
Same issue here. As I imported old command with home made script from magento1 instance is there any possibility that this is related to a bad increment id sequence ? Because orders from magento1 don't have the same store id and the increment_id pattern does not correspond to the new magento2 website. But for other payment method I do not have any issues.

Also can it be related to guest order ?

[2018-11-02 04:04] webkul-ratnesh commented on #16008
@engcom-backlog-nazar
Issue is confirmed on 2.2-dev branch.
Steps to reproduce:
Step 1 : Merge and minify js from admin end.
Step 2 :  Set Magento on production mode.
Step 3 : Logout from Magento admin and try many time with wrong credentials to login.
Step 4 : Eventually Magento will challenge user authentication with Captcha.
There in terminal you can see error.
Check screenshot for reference.

[2018-11-02 04:50] magento-engcom-team commented on #19003
@pmclain Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-02 05:31] pmclain commented on #19003
The link statuses are updated using an [observer](https://github.com/magento/magento2/blob/da1a96c32eb105606453e89a5ff70b550b4f20f7/app/code/Magento/Downloadable/etc/events.xml#L12-L14), but the event does not fire when creating an invoice with the REST endpoint.
The `InvoiceOrderInterface` implementation for the endpoint calls [`beginTransaction`](https://github.com/magento/magento2/blob/a31f4a35

[2018-11-02 05:35] magento-engcom-team commented on #19003
@pmclain Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96071`, `MAGETWO-96072` were created

[2018-11-02 06:51] spellmen commented on #10071
Thanks a lot.  I also fixed this issue, but I followed a different approach.

On Thu, Oct 25, 2018 at 12:27 PM Digvijay <notifications@github.com> wrote:

[2018-11-02 07:31] shachiarkatkar commented on #18983
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 07:31] magento-engcom-team commented on #18983
Hi @shachiarkatkar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 07:31] magento-engcom-team commented on #18983
Hi @shachiarkatkar, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18983-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18983-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18983-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 08:17] mattyl commented on #18148
is there any comment from @magento-engcom-team or this new adobe policy to ignore this sort of dicsussion?

[2018-11-02 08:20] albsa commented on #18148
As there is still no solution for this, we will inform at Magento support through Enterprise. I will report the outcome if there is still no fix in the meantime.

[2018-11-02 08:44] magento-engcom-team commented on #13258
Hi @novikor. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-02 08:47] novikor commented on #13258
@magento-engcom-team give me 2.3 instance

[2018-11-02 08:49] novikor commented on #13258
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 08:49] magento-engcom-team commented on #13258
Hi @novikor. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 08:49] magento-engcom-team commented on #18256
Hi @p-bystritsky. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-02 08:49] magento-engcom-team commented on #13258
Hi @novikor, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-13258-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-13258-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-13258-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 08:52] magento-engcom-team commented on #18651
Hi @SikailoISM. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-02 09:03] neilcarpenter007 commented on #18148
Upgraded to 2.2.6 and having the same issue.
Paypal Website Payment Pro orders staying in the pending_payment state and not gettin sent through to processing. @magento-engcom-team what you syaing?

[2018-11-02 09:04] magento-engcom-team commented on #18990
Hi @StasKozar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 09:07] pusachev commented on #18655
#mageconf

[2018-11-02 09:08] Nazar65 commented on #18392
#mageconf

[2018-11-02 09:08] magento-engcom-team commented on #18392
@Nazar65 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-11-02 09:09] magento-engcom-team commented on #18392
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-11-02 09:09] magento-engcom-team commented on #12240
Hi @novakivskiy. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-11-02 09:13] ulftietze commented on #2991
@cyberkiller6
nah not really, found a workaround which may breaks tons of stuff :D
You may disable the plugin which is responsible to delete the address from quote:
`<type name="Magento\Quote\Model\Quote">
        <plugin name="clear_addresses_after_product_delete" disabled="true" />
</type>`

Problem here is, that this does not fix the issue with the initialize adding a product directly after cre

[2018-11-02 09:14] ghost opened #19006 "Custom option price is not updated in preview of Scheduled Changes"
After creating schedule changes for custom option, on preview,if user selects custom option for "fixed price" type, price is not updated & for "percentage price" type, price changes to zero.
### Preconditions (*)

1. Magento  Enterprise Edition V2.2.6 with sample data
2. PHP 7.0

### Steps to reproduce (*)

1. Catalog > Product > Edit Product. (in my case “Simple Product”)
2. Click on Schedule New

[2018-11-02 09:14] magento-engcom-team commented on #19006
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-02 09:15] magento-engcom-team commented on #17833
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 09:15] madbounce commented on #18616
#mageconf

[2018-11-02 09:29] affirmative-pl commented on #6436
I can recommend a module that helps control this and other email notifications:
https://magery-themes.com/disable-email-notifications-magento2.html

[2018-11-02 09:32] dimasalamatov commented on #17583
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 09:32] magento-engcom-team commented on #17583
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 09:33] magento-engcom-team commented on #17583
Hi @dimasalamatov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17583-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17583-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-17583-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 09:36] shachiarkatkar commented on #18983
@magento-engcom-team

I am able to replicate the issue on the Magento instance you have given.

I had selected 4 orders to change the status, but during that time another order is placed via frontend or backend

. But this new order is not there in the grid list.

I put those orders to hold, but the 5th order is also moved to hold but that order is not there in my selected orders.

[2018-11-02 09:49] magento-engcom-team commented on #16420
Hi @dimasalamatov. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-02 09:55] dimasalamatov commented on #16420
@magento-engcom-team give me 2.2-develop instance

[2018-11-02 09:55] magento-engcom-team commented on #16420
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-02 09:56] magento-engcom-team commented on #16420
Hi @dimasalamatov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16420-2-2-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16420-2-2-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-16420-2-2-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 10:09] bobmotor commented on #14754
#mageconf

[2018-11-02 10:10] magento-engcom-team commented on #14754
Hi @bobmotor. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-11-02 10:15] magento-engcom-team commented on #14825
Hi @dimasalamatov. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-02 10:15] dimasalamatov commented on #14825
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 10:15] magento-engcom-team commented on #14825
Hi @dimasalamatov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 10:16] magento-engcom-team commented on #14825
Hi @dimasalamatov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14825-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14825-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-14825-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 10:21] kirillvidyuk commented on #17323
#mageconf

[2018-11-02 10:34] dmitrijivanenko commented on #5013
#mageconf

[2018-11-02 10:34] magento-engcom-team commented on #5013
@dmitrijivanenko thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-11-02 10:35] magento-engcom-team commented on #5013
Hi @dmitrijivanenko. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2018-11-02 10:35] magento-engcom-team commented on #13957
Hi @mishanino. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 10:43] Ilchuk commented on #7906
#mageconf

[2018-11-02 10:44] magento-engcom-team commented on #7906
@Ilchuk thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-11-02 10:50] tanolalano commented on #18148
I try @Sharpy310 solution but not working!!!
I' cant export my order to currier because of this state, it doesn't accept pending_payment.
I'm struggling. Please give as a solution

[2018-11-02 10:51] zdmvk commented on #8189
My solution after migrated from 1.8 to 2.2.6.
The categories displayed the status "We can't find products matching the selection."
Made Export csv, corrected the number of goods, then made Import csv.

[2018-11-02 10:54] magento-engcom-team commented on #18916
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-11-02 10:55] Alex-Lunkov commented on #18916
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 10:55] magento-engcom-team commented on #18916
Hi @Alex-Lunkov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 10:56] magento-engcom-team commented on #18916
Hi @Alex-Lunkov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18916-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18916-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18916-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 10:58] mattyl commented on #18148
@Sharpy310 solution will only work for pay pal pro - if you are not getting IPN Completed or Transaction ID in your order comment history, they you need to adjust the sql to match your circumstances. You want to be sure you are getting paid and and the IPN is working, otherwise your issue is different to this thread.

[2018-11-02 10:58] magento-engcom-team commented on #13317
Hi @mishanino. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 11:02] nik4152 commented on #17759
#mageconf

[2018-11-02 11:02] magento-engcom-team commented on #17759
@nik4152 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-11-02 11:06] Alex-Lunkov commented on #18916
I can't reproduce the issue following steps to reproduce in Magento 2.3-develop. Closing this task.

[2018-11-02 11:06] #18916 closed, assigned to Alex-Lunkov

[2018-11-02 11:06] sidolov commented on #19000
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 11:07] magento-engcom-team commented on #19000
Hi @sidolov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 11:07] magento-engcom-team commented on #19000
Hi @sidolov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-19000-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-19000-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-19000-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 11:09] Kisten-DL commented on #18924
#mageconf

[2018-11-02 11:09] magento-engcom-team commented on #18924
@Kisten-DL thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-11-02 11:12] magento-engcom-team commented on #18924
Hi @Kisten-DL. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 11:13] vpodorozh commented on #17833
#mageconf

[2018-11-02 11:15] tanolalano commented on #18148
I'm using Paypal pro hosted solution.
Order is payed
Here a screenshot of an order marked as pending

![ipn](https://user-images.githubusercontent.com/4384863/47912445-02045100-de99-11e8-883d-1ab097254e9a.png)

[2018-11-02 11:17] novikor commented on #13258
The issue is already fixed in 2.2 and 2.3, so can be closed

[2018-11-02 11:17] #13258 closed, assigned to nobody

[2018-11-02 11:20] mattyl commented on #18148
whats the order history look like?

[2018-11-02 11:29] magento-engcom-team commented on #18944
Hi @anxietyz. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2018-11-02 11:30] mattyl commented on #18148
try the following sql query - @Sharpy310 solution was for english - becareful of the " around completed if you are putting the query into something else - if you need other help please pm as this isn't really relevent to the main thread

UPDATE sales_order JOIN sales_order_status_history ON sales_order.entity_id = sales_order_status_history.parent_id JOIN sales_order_grid ON sales_order.entity_id

[2018-11-02 11:32] RostislavS commented on #18348
#mageconf

[2018-11-02 11:35] hayatbiralem commented on #12916
Hi guys,

I had the same problem and I just fixed by deleting some sequence definitions in my own custom extensions' module.xml

It seems we should pay more attention to that sequence/dependency definitions.

[2018-11-02 11:36] tanolalano commented on #18148
Thanks mattyl,
in the meantime I also noticed that there were no quotes in @Sharpy310 query.

thank you so much mattyl

[2018-11-02 11:37] hayatbiralem commented on #15569
Hi guys,

I had the same problem and I just fixed by deleting some sequence definitions in my own custom extensions' module.xml

It seems we should pay more attention to that sequence/dependency definitions.

[2018-11-02 11:37] Nazar65 opened #19013 "overwrite for 'MAGE DIRS'"
In the pub/index.php file MAGE_DIRS coming from $_SERVER are completely overwritten. This prevent someone to set a different directory (for example a different cache directory) when using the pub directory as document root.

### Preconditions (*)
1. Add a simple PHP script named test.php with the following content to the Magento's root directory:
[code]
2. Add it to the Composer's autoloader:

[co

[2018-11-02 11:37] magento-engcom-team commented on #19013
Hi @Nazar65. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-02 11:42] magento-engcom-team commented on #18652
Hi @Alex-Lunkov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2018-11-02 11:43] chrom opened #19016 "Double extension point of product conversion service."
### Information on your environment
magento 2.2.6

### Summary
The main class are responsible for this.
[Magento\Catalog\Model\Product\TypeTransitionManager](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Product/TypeTransitionManager.php)

### Examples (*)
but when creating a configurable product through a product generator
http://prntscr.com/l3zjzw
another me

[2018-11-02 11:43] magento-engcom-team commented on #19016
Hi @chrom. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-02 11:44] vpodorozh commented on #17833
This commit `cf313ba` was made with incorrect author git config - that is why Anton Evers was added as an author. I've removed this branch and will re-create my commit with correct author config.

[2018-11-02 11:45] chrom commented on #19016
chrom:#mageconf

[2018-11-02 11:46] magento-engcom-team commented on #18323
Hi @swnsma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-11-02 11:50] bobmotor commented on #14754
Only form elements with a name attribute will have their values passed when submitting a form.
`jquery.validate.js` plugin try to find checkable inputs (checkbox, radio) by `name`. As a result, we have an error when checkbox hasn't `name` attribute.

[2018-11-02 11:50] #14754 closed, assigned to bobmotor

[2018-11-02 11:52] novikor opened #19019 "Newsletter - multistore bugs"
### Preconditions

1. Magento ver. 2.2.7-dev
2. PHP 7.0.32
3. Ver 15.1 Distrib 10.1.34-MariaDB

#### Magento configuration
1. 2 stores: let's call them` first` and `second`
2. Bo -> Stores -> Configuration -> Customer Configuration -> Share Customer Accounts is set to 'Global'
### Short description
When customer creates an account with existing subscriptions, rows in `newsletter_subcsriber` table

[2018-11-02 11:52] magento-engcom-team commented on #19019
Hi @novikor. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-02 11:54] nik2loiko commented on #18248
@sundflux, instead of updating versions directly in db just try to delete completely those rows from db and run `bin/magento setup:upgrade`

it will run upgrade scripts of those modules if needed and put correct versions into db

[2018-11-02 11:56] preetam31 opened #19021 "Product URL Suffix set blank than .html url not redirecting to without .html url"
Hi
Version Magento 2.1.7
If we change the products url to non .html from Product URL Suffix set blank than .html url not redirecting to without .html url

Suppose Product A has url "/product-a.html" and Product URL Suffix set as .html
When we set Product URL Suffix as blank than Product A has the new url which is "/product-a" but when hitting "/product-a.html" than its not redirected to "/product-

[2018-11-02 11:57] magento-engcom-team commented on #19021
Hi @preetam31. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-02 12:00] magento-engcom-team commented on #18979
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 12:00] Alex-Lunkov commented on #18652
@magento-engcom-team give me 2.3-develop instance

[2018-11-02 12:00] magento-engcom-team commented on #18652
Hi @Alex-Lunkov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-02 12:01] magento-engcom-team commented on #18652
Hi @Alex-Lunkov, here is your [Magento instance](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18652-2-3-develop/).
Admin access: [http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18652-2-3-develop//admin](http://ec2-34-228-235-121.compute-1.amazonaws.com/i-18652-2-3-develop//admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-02 12:04] ameshca commented on #13720
After i have added this fix in my Magento2.2.6 version, i cannot properly sort the related products from backend. Cannot move the products some time.

[2018-11-02 12:13] magento-engcom-team commented on #18652
@Alex-Lunkov Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96099` were created

[2018-11-02 12:29] Nazar65 commented on #19013
#mageconf

[2018-11-02 12:39] navarr commented on #18248
@sundflux The most future proof way is: https://github.com/magento/magento2/issues/18248#issuecomment-427362136

Or, skip 2.2.6 and go to 2.3 once it's released

[2018-11-02 12:44] magento-engcom-team commented on #14007
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 12:50] sundflux commented on #18248
_Needed_ 2.2.6 for another blocker bugfix unfortunately..

[2018-11-02 13:00] omiroshnichenko commented on #15156
Issue already fixed in 2.3
https://github.com/magento/magento2/commit/86fdea32b19df148a4eeaad0f81bd0db68dc0cef#diff-f20d0f384ca4b6aeab9458e178935ecb and would available in 2.2-develop after 2.2.7 release.

[2018-11-02 13:00] #15156 closed, assigned to nobody

[2018-11-02 13:04] magento-engcom-team commented on #17429
Hi @andrewbess. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-02 13:09] gabrieljadeau commented on #12362
hi @saxsax1995  : your patch isn't working for m2.2.5. Do you have link for this one ?

Best,

[2018-11-02 13:14] magento-engcom-team commented on #17759
Hi @nik4152. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-02 13:15] agorbulin commented on #18901
#mageconf

[2018-11-02 13:15] magento-engcom-team commented on #18901
@agorbulin thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-11-02 13:31] andrewbess commented on #17429
Hello @tuushay
I cannot reproduce this bug on Magento 2.2 using Linux Ubuntu and Firefox 63.0.
Please specify your operating system.

[2018-11-02 13:35] magento-engcom-team commented on #14377
Hi @p-bystritsky. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2018-11-02 13:51] magento-engcom-team commented on #18976
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-02 13:54] jorgb90 commented on #4737
@tehtea Probably your _theme.less file is causing the css problem for the transactional emails, so by including de email-inline.less and email.less into your theme you are overwriting it and by commenting @importing _theme.less you fix the error :)

[2018-11-02 13:59] magento-engcom-team commented on #17926
Hi @andrewbess. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>