[2020-06-18 22:54] VladimirZaets commented on #28775
@magento export issue to JIRA

[2020-06-18 22:54] magento-engcom-team commented on #28775
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35266.

[2020-06-18 22:55] VladimirZaets commented on #28791
@magento export issue to JIRA

[2020-06-18 22:55] magento-engcom-team commented on #28791
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35282.

[2020-06-18 22:55] #28775 closed, assigned to nobody

[2020-06-18 22:55] VladimirZaets opened #28806 "TEST 27"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 22:56] VladimirZaets commented on #28806
@magento export issue to JIRA

[2020-06-18 22:56] magento-engcom-team commented on #28806
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-35310) is successfully created for this issue.

[2020-06-19 00:13] rendyep commented on #26582
@textarea could you please make sure that the value is NULL, not empty string?

[2020-06-19 01:53] lewisje commented on #11332
To be clear, @jmonrova, customers could still register without entering a DoB, as long as that field is not made mandatory (which it isn't by default).

[2020-06-19 02:09] LiamKarlMitchell commented on #8897
So saving has been bugged since at least 2016 or earlier?
How can we get an update on the status of MAGETWO-81741 fix?

[2020-06-19 02:21] LiamKarlMitchell commented on #28274
Maybe related, but not 100% sure it is as it is to do with the options getting deleted and re-created it should keep the same id for unchanged options.

[2020-06-19 02:21] LiamKarlMitchell commented on #28274
@magento give me 2.4-develop instance

[2020-06-19 02:21] magento-engcom-team commented on #28274
Hi @LiamKarlMitchell. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-19 02:23] magento-engcom-team commented on #28274
Hi @LiamKarlMitchell, here is your [Magento instance](https://i-28274-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28274-2-4-develop.instances.magento-community.engineering/admin_512c](https://i-28274-2-4-develop.instances.magento-community.engineering/admin_512c)
Login: `86f1899f` Password: `92e6f6f1d7b5`
Instance will be terminated in up to 3 hours.

[2020-06-19 02:50] LiamKarlMitchell commented on #28274
Made and activated integration for Access Token key.

Consumer Key
aorfd12o7nijo3gqdjhcvkzfkv5dwpyk
Consumer Secret
mo8jkk43zkj6n5irvh1lo67qks1noq3b
Access Token
qovcyf4155fekaxoolmflbinksintbgj
Access Token Secret
lz4918cxb5nebv0oic07uicbjrf1hig1

Rest API Endpoint:
https://i-28274-2-4-develop.instances.magento-community.engineering/rest/V1

Will test Manual via Admin interface on Simple Product

[2020-06-19 03:25] magento-engcom-team commented on #28568
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#28647 by @gallyamov in 2.4-develop branch
Related commit(s):
 - [5294b5d63f673a7ac26c24fd47a2181e2f1dd499](https://github.com/magento/magento2/commit/5294b5d63f673a7ac26c24fd47a2181e2f1dd499)
 - [9d99f172221e2939ccc42378387fd9e1ba2d85f5](https://github.com/magento/magento2/commit/9d99f172221e2939ccc423

[2020-06-19 03:25] #28568 closed, assigned to gallyamov

[2020-06-19 03:25] magento-engcom-team commented on #28572
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#28647 by @gallyamov in 2.4-develop branch
Related commit(s):
 - [5294b5d63f673a7ac26c24fd47a2181e2f1dd499](https://github.com/magento/magento2/commit/5294b5d63f673a7ac26c24fd47a2181e2f1dd499)
 - [9d99f172221e2939ccc42378387fd9e1ba2d85f5](https://github.com/magento/magento2/commit/9d99f172221e2939ccc423

[2020-06-19 03:25] #28572 closed, assigned to gallyamov

[2020-06-19 03:27] #28564 closed, assigned to pmarjan

[2020-06-19 03:27] #28577 closed, assigned to sasha19957099

[2020-06-19 03:33] swathishs commented on #28793
@magento give me 2.4-develop instance

[2020-06-19 03:33] magento-engcom-team commented on #28793
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-19 03:35] magento-engcom-team commented on #28793
Hi @swathishs, here is your [Magento instance](https://i-28793-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28793-2-4-develop.instances.magento-community.engineering/admin_637e](https://i-28793-2-4-develop.instances.magento-community.engineering/admin_637e)
Login: `e437b8e4` Password: `cc755d2b6a1d`
Instance will be terminated in up to 3 hours.

[2020-06-19 03:53] VladimirZaets commented on #28806
@magento confirm issue

[2020-06-19 03:53] VladimirZaets commented on #28806
@magento export issue to JIRA

[2020-06-19 03:53] magento-engcom-team commented on #28806
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35310.

[2020-06-19 04:06] VladimirZaets commented on #28806
@magento confirm issue

[2020-06-19 04:10] swathishs commented on #28793
@boseasha : The issue is not reproducible in 2.4-develop instance. I tried using the above step. Please find the attachment below:

1.  New order creation via admin billing address and shipping address different
![image](https://user-images.githubusercontent.com/58288685/85095961-922f0f80-b210-11ea-9b11-d3ccac89d91f.png)

2. After the creation of order:
![image](https://user-images.githubuserconte

[2020-06-19 04:18] swathishs commented on #28801
@magento give me 2.4-develop instance

[2020-06-19 04:18] magento-engcom-team commented on #28801
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-19 04:19] magento-engcom-team commented on #28801
Hi @swathishs, here is your [Magento instance](https://i-28801-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28801-2-4-develop.instances.magento-community.engineering/admin_a908](https://i-28801-2-4-develop.instances.magento-community.engineering/admin_a908)
Login: `0edf8afe` Password: `7702edfca0b7`
Instance will be terminated in up to 3 hours.

[2020-06-19 04:46] swathishs commented on #28801
@DanielRiezebos: The issue is reproducible on Magento 2.4 develop instance.
Step to change non-English locale:
1. Go to admin
2. Click on Account Settings from the dropdown in the right coroner
![image](https://user-images.githubusercontent.com/58288685/85097649-c9ec8600-b215-11ea-8806-d382da54e745.png)
3. Scroll to Interface Locale
4. Change to Arabic (Morocco)

Please find the attachment.
1. non

[2020-06-19 04:52] magento-engcom-team commented on #28801
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35312` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-19 05:16] swathishs commented on #28804
@magento give me 2.4-develop instance

[2020-06-19 05:16] magento-engcom-team commented on #28804
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-19 05:18] magento-engcom-team commented on #28804
Hi @swathishs, here is your [Magento instance](https://i-28804-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28804-2-4-develop.instances.magento-community.engineering/admin_ef33](https://i-28804-2-4-develop.instances.magento-community.engineering/admin_ef33)
Login: `660145c2` Password: `19ac19771dc1`
Instance will be terminated in up to 3 hours.

[2020-06-19 05:20] magento-engcom-team commented on #28744
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28635 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [a26e7615361fbec5e4adf265288e91d438b68faa](https://github.com/magento/magento2/commit/a26e7615361fbec5e4adf265288e91d438b68faa)
 - [0b7656ff32b539da40a02a9269be7bb9e26df294](https://github.com/magento/magento2/commit/0b7656ff32b539da40a0

[2020-06-19 05:20] #28744 closed, assigned to DmitryTsymbal

[2020-06-19 05:20] magento-engcom-team commented on #28721
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28632 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [6f824a9af6ca66aba45ebb7a1672fb1220abe0b8](https://github.com/magento/magento2/commit/6f824a9af6ca66aba45ebb7a1672fb1220abe0b8)
 - [de3b17b9f9c8fbba15ea8062ef5989fa79034d2d](https://github.com/magento/magento2/commit/de3b17b9f9c8fbba15ea

[2020-06-19 05:20] #28721 closed, assigned to DmitryTsymbal

[2020-06-19 05:20] magento-engcom-team commented on #28720
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28641 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [7096d82b80b96e522b4043d15ff825b8227b7f84](https://github.com/magento/magento2/commit/7096d82b80b96e522b4043d15ff825b8227b7f84)
 - [98384cee7165405696234f302693eaf2d256b147](https://github.com/magento/magento2/commit/98384cee716540569623

[2020-06-19 05:20] #28720 closed, assigned to DmitryTsymbal

[2020-06-19 06:39] DanielRiezebos commented on #28801
@swathishs thank you for taking the time to investigate this. :)

[2020-06-19 06:44] swathishs commented on #28748
@magento give me 2.4-develop instance

[2020-06-19 06:44] magento-engcom-team commented on #28748
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-19 06:45] magento-engcom-team commented on #28748
Hi @swathishs, here is your [Magento instance](https://i-28748-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28748-2-4-develop.instances.magento-community.engineering/admin_0584](https://i-28748-2-4-develop.instances.magento-community.engineering/admin_0584)
Login: `9f3b5a29` Password: `4f2612edb22d`
Instance will be terminated in up to 3 hours.

[2020-06-19 06:57] botansatoh commented on #25637
@magento give me 2.3-develop instance

[2020-06-19 06:57] magento-engcom-team commented on #25637
Hi @botansatoh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-06-19 07:00] ihor-sviziev commented on #24718
@tzyganu this is backward incompatible change in terms that some DBs could have duplicated data, and adding unique key might potentially fail.

[2020-06-19 07:20] m2-assistant[bot] opened #28807 "[Issue] Load appropriate slider widget on demand to improve performance"
This issue is automatically created based on existing pull request: magento/magento2#27616: Load appropriate slider widget on demand to improve performance

---------

### Description (*)
This PR is a part of my effort to improve Magento 2 frontend performance.

Because of the fact that all Knockout bindings are registered on every load, there are many dependencies requested no matter if such bind

[2020-06-19 07:25] swathishs commented on #28748
@NicholasRoge : This issue occurs only when we add simple products and virtual products to the cart.
The issue is reproduced in Magento 2.4 and Magento 2.3.5p1.

Step to reproduce:

1. On the Admin sidebar, click Stores.
2. In the Settings section, choose Configuration.
3. In the Sales section on the left, choose Shipping Methods.
4. Expand the FedEx section. ...
5.Set Enabled for Checkout to Yes.

[2020-06-19 07:32] magento-engcom-team commented on #28748
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35315` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-19 08:05] textarea commented on #26582
@rendyep yes I'm sure

[2020-06-19 08:13] amenk commented on #28395
We try to make a failing test case.
Approach:

Extend or Copy `\Magento\Catalog\Api\CategoryRepositoryTest::testCreate`   plus this fixture
`dev/tests/integration/testsuite/Magento/Store/_files/core_second_third_fixturestore.php`

[2020-06-19 08:21] stkrelax commented on #27265
Also reproduced on magento 2.3.5-p1. Same Problem here. No account create possible...

[2020-06-19 08:27] stkrelax commented on #27265
@Axel29 there is also a validation in vendor/magento/module-ui/view/base/web/js/lib/validation/rules.js where it is used

[2020-06-19 09:21] boseasha commented on #28793
@swathishs  Thanks for checking the issue.But i believe the issue is not fixed in magento 2.3.5 too.

My issue that in the database table ,the customer_address_id is missing....All the data are saved .
Please reconfirm

[2020-06-19 09:22] engcom-Echo commented on #23841
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-06-19 09:22] #23841 closed, assigned to nobody

[2020-06-19 09:32] boseasha commented on #28793
I can also explain a scenario in which i come up with this issue in magento default.

I have some custom customer address attributes,So after the order placing from backend admin side,i need to update them as well.In such a case where we dont have the customer_address_id for the sales orders can come up with a question like this.
Hope u can understand what I am referring to....  If we have the cus

[2020-06-19 09:47] cba-records opened #28808 "Magento Upgrade Issue"
### Preconditions (*)

1. PHP 7
2. Magento 2

### Steps to reproduce (*)

Upgrade issue:

An abstract factory could not create an instance of magentoframeworkappdeploymentconfig(alias: Magento\Framework\App\DeploymentConfig).

### Expected result (*)

1. Upgrade through CLI

### Actual result (*)

1. Error message detailed above

[2020-06-19 09:49] siliconalchemy commented on #10304
@sdzhepa  - the PO/Magento has misunderstood what BackOrder means then.  Back Orders allow customers to order a product even if it is *out of stock*.  Falsely marking a product as In Stock when it has zero or negative quantity is nonsensical, and doing so breaks other functionality/logic (Eg. In Stock filters).
The whole point of Back Order is to allow products to be marked Out of Stock.  In resea

[2020-06-19 10:05] balwant20 commented on #22753
@karlgram @huykon @gewaechshaus @abbaseg : Hi there, I am also getting the same error Fatal error: **Uncaught Error: Cannot instantiate interface Magento\InventorySalesApi\Api\GetProductSalableQtyInterface in** when I try to place order form frontend & backend. I also disabled MSI modules for my store. I am using Magento 2.3.5-p1. No clue about this issue.

Please help me If you got the solution o

[2020-06-19 10:06] tdgroot commented on #22375
@krisdante I covered it with unit tests, see #28809.

[2020-06-19 10:18] magento-engcom-team commented on #28807
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35317` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-19 10:48] m2-assistant[bot] opened #28811 "[Issue] Cleanup base theme JavaScript modules"
This issue is automatically created based on existing pull request: magento/magento2#27617: Cleanup base theme JavaScript modules

---------

### Description (*)
Magento 2.4-develop
This PR is a part of my effort to improve Magento 2 frontend performance.

Here I went file by file through the network tab and cleaned-up files that are always loaded by a theme. Changes in this PR include:
* `respons

[2020-06-19 10:53] magento-engcom-team commented on #28811
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-06-19 10:55] magento-engcom-team commented on #28811
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35319` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-19 12:10] rommelfreddy commented on #24144
Hello ! is there an update for this ticket?
is this ticket already in development?

[2020-06-19 12:33] alexandrosk commented on #10013
@abdulmoizbaig Hey Abdul, did you remember what you did to fix this? I'm having the exact same issue. Thanks!

[2020-06-19 12:37] rommelfreddy commented on #24144
i digged a little bit more into this issue and figured out, that it isn't a bug, just a misconfiguration of the paypal module.
I guess that the configuration of the Context-Setting is by default in the default-website set to "Yes".
So you just must change the scope of the configuration to the default website (if you have a single store) and check the checkbox behind the field to "use default" (in

[2020-06-19 12:39] DanieliMi commented on #28395
@magento I am working on this

[2020-06-19 13:20] hannes011 opened #28813 "Customer is asked for password of not existing account after browser refresh in Guest Checkout"
In certain conditions a guest customer may be confused by mandatory password field in checkout: they will be requested for a password of a account which does not exist after refreshing browser.

The bug was created by commit https://github.com/magento/magento2/commit/0861a3077135f40d9728dc1e6cfec3ab7387f3a3

### Preconditions (*)

1. Issue was introduced in 2.3.x https://github.com/magento/magento

[2020-06-19 13:23] frostblogNet commented on #28318
Preconditions (*)

Magento v2.3.5 p1

Steps to reproduce (*)

- Set a product to out of stock
- Enable Product allerts for back in stock
- Log in  to a frontend account
- go to the page of the product whith is out of stock
- click the link for product alerts
- run cron job catalog_product_alert
- open the product alert e-mail
- click on the unsubscribe link

Expected result (*)

- being unsubscrib

[2020-06-19 13:39] andrei-vdc commented on #28111
You can enable the security by setting the report_only to false in a config.xml file:

    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>
    </default>

However,

[2020-06-19 13:41] swathishs commented on #28813
@magento give me 2.4-develop instance

[2020-06-19 13:41] magento-engcom-team commented on #28813
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-19 13:43] magento-engcom-team commented on #28813
Hi @swathishs, here is your [Magento instance](https://i-28813-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28813-2-4-develop.instances.magento-community.engineering/admin_9f23](https://i-28813-2-4-develop.instances.magento-community.engineering/admin_9f23)
Login: `732d6949` Password: `0e51bd97a159`
Instance will be terminated in up to 3 hours.

[2020-06-19 13:58] hannahnida opened #28814 "Minimum Advertised Price "show on Gesture" does not work for CMS pages other than Homepage and when the same product appears twice on a page"
When "Catalog Products List" widget (or others with products) contains a product set to show MAP option "on Gesture" and is set to show up on CMS Page other than Homepage
the MAP modal/tooltip does not work when clicking on "Click for price".

Also when a page (for example Homepage/Catalog Category Page) has two containers with Product Listing in which the same product with MAP setting "on Gesture

[2020-06-19 14:10] krishprakash commented on #28813
Hi @hannes011. Thank you for your report.
Seems similar issue is added here #26903 and already open.
So closing this ticket.

[2020-06-19 14:12] #28813 closed, assigned to nobody

[2020-06-19 14:15] krishprakash commented on #28813
@swathishs Kindly do not reopen the issue as it already duplicated.
Thank you !!

[2020-06-19 14:18] swathishs commented on #28813
@krishprakash  :  I am not reopening the ticket. If someone assigns the ticket for testing .Please don't come and close the ticket

[2020-06-19 14:20] krishprakash commented on #28813
@swathishs As I already verified the same kind of issue previously that's why I'm closing the ticket.
Hope you understand :)
Thank you !!

[2020-06-19 14:28] amenk commented on #28395
TL;DR when using /rest/V1/categories the first store is assumed; when using /rest/all/V1/categories instead it works

with @DanieliMi we found out that in In
app/code/Magento/CatalogUrlRewrite/Model/CategoryUrlRewriteGenerator.php:104 the store ID is 1, when pushing via API. When using the Admin backend it's 0 (global) and all URL keys are generated.

Workarkound is to push to /rest/**all**/V1/cat

[2020-06-19 14:32] DanieliMi commented on #28395
From the docs: https://devdocs.magento.com/guides/v2.4/get-started/gs-web-api-request.html#endpoints

[2020-06-19 15:25] fgagne commented on #28395
Seems to me that creating a category should always create the url rewrites for all store views, whether "all" store code is passed or not. It seems Magento assume the url rewrite are created for all store views because when updating a store view with /rest/STORE_CODE/V1/categories/ with the same url key, no url rewrite is created.

In fact, updating a category should check if the url rewrite is pr

[2020-06-19 15:50] Dnd-Mafer commented on #28221
I had the same issue 100% of the time : `customer/online_customers/section_data_lifetime` configuration was set to "" in database ...

[2020-06-19 16:01] amenk commented on #28395
Wondering what happens if someone creates a Category in the backend, while a specific Store-View is selected in the drop down?

[2020-06-19 16:12] RegsonDR opened #28815 "Issue when setting both Default Billing and Default Shipping addresses"
There seems to be an issue when trying to update a contact and set their default billing and default shipping in a single request with the Magento 2's Admin API.

### Preconditions (*)
1.Magento ver. 2.2.5

### Steps to reproduce (*)
1. In the parameters, I have set the addresses and used default_billing & default_shipping which have been set to True, but in the api response only one of these defa

[2020-06-19 19:24] mohamedalichelbi opened #28817 "a validation rule for Qty uses decimal should be added"
### Preconditions (*)

1. Magento ver. 2.3.5-p1

### Steps to reproduce (*)

1. set Qty uses decimal to "no" for some product
2. go to the product's page and give a decimal value in the qty input field
3. click on add to cart

### Expected result (*)

1. an error should pop up on the screen, just like errors given when choosing 0 for the quantity or a number that's bigger than max Quantity// less

[2020-06-20 03:59] jorge-rollpix commented on #14912
Could you put the full path of each file please?

[2020-06-20 10:37] n2diving-dgx commented on #28614
I'm not clear on what the objection seems to be for to a well implemented captcha in the checkout flow.  Using the 'invisible' recaptcha which doesn't require an interaction (i.e. no puzzle to solve) with the user has not caused any abandonment or loss in our case.   Checkout friction is essentially non existent.   It did turn out to be a challenge to find a correctly implemented version, eventual

[2020-06-20 15:24] visualwebs commented on #24683
No.
I have a store with 7000 attributes created by a service called icecat that autofills product data.
In Magento 2.3.5-p1 a product edit page in the backend, takes around 15-20 seconds to be available. This happens with early 2.2.x, 2.3.x versions, too.
If I delete those secondary attributes and leave only around 500 main attributes, the page takes around 5-8 seconds to be ready. So the amount o

[2020-06-20 18:52] astleyclarke opened #28819 "Return to the previous URL after logging in to the admin panel"
### Description (*)
After logging in to the admin panel, the user should be taken to the previously-requested URL instead of being taken to the default (dashboard) page.

### Expected behavior (*)
1. Log out from your existing admin session, if required
2. Visit an admin panel URL (e.g. `https://www.example.com/admin/example/catalog_product/`)
3. You will be redirected to the log in form and requi

[2020-06-20 19:30] sportmma commented on #4432
Ręczne czyszczenie tabeli oauth_token_request_log naprawił mój problem

[2020-06-21 04:50] rajab12 opened #28820 "Install button not coming up"
### Summary (*)
Trying to setup the Magento 2 in the XAMPP of my windows machines. Got the source code from the Github here. Tried to launch after pasting the source code folder in htdocs of XAMPP.

The install button is not coming up. Added the version number in composer.json, verified the php.ini, restarted the Apache. But the Install button is not coming.

Tried downloading through composer. Sa

[2020-06-21 08:59] kaktusAtAdvox commented on #28801
@magento I am working on this

[2020-06-21 10:08] swathishs commented on #28820
@rajab12 :
Thank you for your report.
GitHub issue tracker is intended for Magento core technical issues only
Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

[2020-06-21 10:08] #28820 closed, assigned to swathishs

[2020-06-21 10:10] swathishs commented on #28819
@magento give me 2.4-develop instance

[2020-06-21 10:10] magento-engcom-team commented on #28819
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-21 10:11] magento-engcom-team commented on #28819
Hi @swathishs, here is your [Magento instance](https://i-28819-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28819-2-4-develop.instances.magento-community.engineering/admin_2188](https://i-28819-2-4-develop.instances.magento-community.engineering/admin_2188)
Login: `1b45a61c` Password: `c4d58c9c4187`
Instance will be terminated in up to 3 hours.

[2020-06-21 10:39] swathishs commented on #28819
@astleyclarke.
Thank you for reporting this issue. As per the step given above tested in Magneto 2.4 develop instance the user been taken to the default (dashboard) page rather than previously-requested URL.
I think your issue can be approved only like a feature request. Please transfer this issue to  [Magento Feature request](https://github.com/magento/community-features) repository.
Thanks

[2020-06-21 10:40] #28819 closed, assigned to swathishs

[2020-06-21 16:47] rajab12 commented on #28820
@swathishs Sure will reach out to the Community group. Stack exchange didn't help much.

[2020-06-21 18:49] grichards commented on #28221
I am experiencing the same issue in 2.3.4.

As a logged in user who already has a saved address, if I attempt to add a new address, the State / Region does not save.

[2020-06-22 04:33] swathishs commented on #28815
@magento give me 2.4-develop instance

[2020-06-22 04:33] magento-engcom-team commented on #28815
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-22 04:34] magento-engcom-team commented on #28815
Hi @swathishs, here is your [Magento instance](https://i-28815-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28815-2-4-develop.instances.magento-community.engineering/admin_1ba6](https://i-28815-2-4-develop.instances.magento-community.engineering/admin_1ba6)
Login: `16fe534e` Password: `df886882b4d0`
Instance will be terminated in up to 3 hours.

[2020-06-22 04:38] swathishs commented on #28611
@subash-natarajan: Issue is not reproducible in Magento 2.4-develop instance

Please find the attachment below:
![image](https://user-images.githubusercontent.com/58288685/85249028-437fb080-b470-11ea-9490-3310fdb8f240.png)

Hence closing the issue

[2020-06-22 04:38] #28611 closed, assigned to swathishs

[2020-06-22 04:48] krishprakash commented on #28593
Hi @pedroohsolucoes.
Feel free to reopen once you update all the details
Thank you !!

[2020-06-22 04:48] #28593 closed, assigned to krishprakash

[2020-06-22 06:13] krishprakash commented on #28817
@magento give me 2.4-develop instance

[2020-06-22 06:13] magento-engcom-team commented on #28817
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-22 06:14] magento-engcom-team commented on #28817
Hi @krishprakash, here is your [Magento instance](https://i-28817-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28817-2-4-develop.instances.magento-community.engineering/admin_a0ad](https://i-28817-2-4-develop.instances.magento-community.engineering/admin_a0ad)
Login: `3c6c5afc` Password: `f317915364da`
Instance will be terminated in up to 3 hours.

[2020-06-22 06:52] swathishs commented on #28815
@RegsonDR : The issue is not reproducible in Magento 2.4 develop instance.

Step to reproduce:
1. Create an admin token via rest API
2. Post -{Baseurl}/rest/{Storecode}/V1/customers
3. Authorization - Bearer Token - Token -{Amin token }

Request;
{ "customer":
    {
        "lastname" : "s",
      "firstname" : "swathish",
      "email" : "swathish0@ziffity.com",
      "store_id": 1,
      "websit

[2020-06-22 07:07] tzyganu commented on #24718
@ihor-sviziev Thanks for the explanation. You are right... from the abstract code point of view.
But if there are duplicate values nothing works. You will get errors when retrieving attribute options. You can try it and see. I think it is completely safe to fix this.

[2020-06-22 07:22] hannes011 commented on #26903
is there any solution for this issue yet?

[2020-06-22 07:24] ProkopovVitaliy commented on #26903
You can try https://github.com/magento/magento2/pull/27691.

[2020-06-22 07:25] zmaster94 commented on #2630
@paliarush
### Specific case
- Magento version:
  `2.3.4 Community edition`
- Php version:
  `7.2`
- Phrase:
  `Item in Cart`
- Location:
  `vendor/magento/module-checkout/view/frontend/web/template/minicart/content.html`
[code]
Using _i18n:collect-phrases -m_, the phrase does not appear in results (while being present in its original translation file: _vendor/magento/module-checkout/i18n/en_US.cs

[2020-06-22 08:15] ihor-sviziev commented on #24718
@tzyganu anyway, I created PR with the same changes, so we'll see when someone from maintainers will approve / reject it.

[2020-06-22 08:17] premier-web-design commented on #28808
@magento I am working on this

[2020-06-22 08:21] RegsonDR commented on #28815
@swathishs
Sorry, I just tested this again, this issue only happens when updating a Customer.

Request Method: PUT
Request URL: {Baseurl}/rest/default}/V1/customers/:id
Headers:  {"Content-Type":"application/json","Authorization":"Bearer <TOKEN HERE>"}

[2020-06-22 08:42] swathishs commented on #28815
@RegsonDR : Have tested using the above scenario also. The default shipping address and default billing address are updated correctly on Magento 2.4 develop instance.
1. Api:
![image](https://user-images.githubusercontent.com/58288685/85266809-075d4780-b492-11ea-824d-a5e619f2f27c.png)
2. Admin:
![image](https://user-images.githubusercontent.com/58288685/85266841-13490980-b492-11ea-97d9-5a56ff9a96f

[2020-06-22 08:43] swathishs commented on #28815
Can you try to put body like this :
{ "customer":
    {
        "lastname" : "s",
      "firstname" : "swathish",
      "email" : "swathish0@ziffity.com",
      "store_id": 1,
      "website_id": 1,
       "addresses": [
            {
                "defaultBilling": true,
                "firstname": "swathi",
                "lastname": "s",
                "company": "ziff",
                "s

[2020-06-22 09:00] TOIVI291 commented on #25182
I've edited and added the files in the commit that @ericclaeren shared, but it doesn't change anything. Magento version: 2.2.10

[2020-06-22 09:15] RegsonDR commented on #28815
@swathishs

The first time I execute this, I get this response:
`{
   "id":4796,
   "group_id":1,
   "created_at":"2020-06-22 08:20:09",
   "updated_at":"2020-06-22 09:12:25",
   "created_in":"CW Store View",
   "email":"lan-testing-5@a2zcloud.eu.com",
   "firstname":"swathish",
   "lastname":"s",
   "store_id":1,
   "website_id":1,
   "addresses":[
      {
         "id":8706,
         "customer_i

[2020-06-22 09:36] m2-assistant[bot] opened #28823 "[Issue] Don't load datepicker module until it is actually needed"
###### (i) This ticket is created automatically based on a verified GitHub issue.
{panel}
***If you are starting to work on this Jira ticket, please notify issue reporter and authors of related community pull requests (if any) that you are going to work on this issue:***
 1. *Assign [#28823](https://github.com/magento/magento2/issues/28823) issue to yourself on Magento GitHub*
 2. *Add comment "In

[2020-06-22 09:45] swathishs commented on #28815
@magento give me 2.4-develop instance

[2020-06-22 09:45] magento-engcom-team commented on #28815
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-22 09:46] magento-engcom-team commented on #28815
Hi @swathishs, here is your [Magento instance](https://i-28815-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28815-2-4-develop.instances.magento-community.engineering/admin_8265](https://i-28815-2-4-develop.instances.magento-community.engineering/admin_8265)
Login: `7986de5b` Password: `6c264568f11b`
Instance will be terminated in up to 3 hours.

[2020-06-22 09:47] swathishs commented on #28815
@RegsonDR : Check-in this 2.4 develop instance displayed above

[2020-06-22 09:55] magento-engcom-team commented on #28823
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35332` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-22 10:22] RegsonDR commented on #28815
Hi @swathishs, I've just checked this on the above instance and there are no issues. We are using Magento ver. 2.2.5, is there a way for me to do the same test on another 2.2.5 instance?

[2020-06-22 10:36] VigneshVenkatesan154 commented on #27922
Closing this issue as no inputs from @ABDUL-RAQEEB

[2020-06-22 10:36] #27922 closed, assigned to VigneshVenkatesan154

[2020-06-22 11:02] swathishs commented on #28815
Hi @RegsonDR : Since the Magento is focusing development efforts on v2.4 development instance. And we are guided to test in 2.4 develop instance and confirm the issue.
If you want you can ask  2.2.5 instances to Magento for testing.

[2020-06-22 11:03] swathishs commented on #28815
@magento give me 2.2.5 instance

[2020-06-22 11:03] magento-engcom-team commented on #28815
Hi @swathishs. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` and `2.4` release line

[2020-06-22 11:05] swathishs commented on #28815
I think you can get only a 2.3.5-p1 instance and 2.4 instances in this.

Hi @RegsonDR , thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
Hence closing the issue

[2020-06-22 11:22] regatta-arshia commented on #10875
I got this error when I selected production instead of sandbox mistakenly

[2020-06-22 11:28] #28815 closed, assigned to swathishs

[2020-06-22 11:40] seansan opened #28824 "BUg with Backorder processing and warnings icw MSI"
### Preconditions (*)
1. M2.3.5, php72
2. Enable "Allow Qty Below 0 and Notify Customer" using default config in system settings
3. create 1 simple product with qty = 1 for MSI source and 'Out-of-Stock Threshold' = - 5
4. check in grid, salable qty should now be 6

### Steps to reproduce (*)
1. Goto frontend and order qty 1, success, stay on product page
2. Order another qty =1 (2 total)
_Unexpect

[2020-06-22 11:43] rahmanQaiser opened #28825 "Magento 2.3.5 empty notification"
Im getting empty notifications on the fronted. Can you please point out what is wrong with this.
![image](https://user-images.githubusercontent.com/8874475/85283822-7002ef00-b4a7-11ea-8ca6-1050c8d422c6.png)

Thank you!

[2020-06-22 12:05] swathishs commented on #28793
@boseasha: The issue is reproducible in Magento 2.4 develop instance.

Please find the attachment below:

1. Create default billing address and shipping address as same than in customer page after placing order default shipping address not set
![image](https://user-images.githubusercontent.com/58288685/85285296-4b5e4580-b4ae-11ea-8c6e-a09d05dd25b1.png)

2. Order page:
![image](https://user-images.

[2020-06-22 12:07] rahmanQaiser commented on #28692
Any solution so far. I'm also getting same error

[2020-06-22 12:14] swathishs commented on #28793
1. Different address for billing and shipping address
![image](https://user-images.githubusercontent.com/58288685/85286189-c6742b80-b4af-11ea-9375-9910a04f6c87.png)

 2.Order page:
![image](https://user-images.githubusercontent.com/58288685/85286241-e4419080-b4af-11ea-9de5-cc791215f24d.png)

3. sales_order_address:
![image](https://user-images.githubusercontent.com/58288685/85286326-0d622100-b4b0-

[2020-06-22 12:16] magento-engcom-team commented on #28793
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35344` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-22 12:19] swathishs commented on #28824
Hi @seansan , All issue specific for MSI should be reported in the MSI repo

fyi: @sidolov @smoskaluk @sdzhepa

It seems this issue MSI specific and should be fixed in the MSI repository.

EngCom team, please confirm and transfer this issue to the https://github.com/magento/inventory/issues

Closing this issue

[2020-06-22 12:26] seansan opened #28827 "Duplicate a product then duplicate it again SKU is TST.PROD.2.SIMPLE-1-1 instead of TST.PROD.2.SIMPLE-2"
### Preconditions (*)
1. Magento 2.3.5

### Steps to reproduce (*)
1. Create product with SKU 123
2. Duplicate it to 123-1 (dash 1 gets added)
3. Duplicate 123-1 again

### Expected result (*)
1. 3rd created product has SKU 123-2

### Actual result (*)
1. 3rd created product has SKU 123-1-1

[ X] Severity: **S4** _- Affects aesthetics, professional look and feel, “quality” or “usability”._

[2020-06-22 12:26] swathishs commented on #28825
@rahmanQaiser :
Thank you for your report.
GitHub issue tracker is intended for Magento core technical issues only
Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

[2020-06-22 12:31] seansan commented on #28824
Is this MSI? I would expect backorder logic ...

!!!! As long as this issue does not gets lost, lost in translation or overly discussed (in the end the users need a fix ;)

[2020-06-22 12:34] lawsann commented on #21548
Hello. I'm a new programmer in Magento 2, but I want to give my contribution to the post. Maybe I'm not providing the best solution, but could help someone.

The data stored by the customerData js feature could be updated asynchronously and explicitly registering a subscriber solve the problem pointed by AymericJoubert. Using the code that he posted, add the following:

[code]
So, that way, when t

[2020-06-22 12:36] swathishs commented on #28824
@seansan: Since the issue can be recreated by enabling the MSI module right?. Don't worry the issue will be transferred to the MSI repository

[2020-06-22 12:44] swathishs commented on #28825
@rahmanQaiser : Can you please add the details so that I can recreate the issue
1. Summary of the issue
2. Information on your environment
3. Steps to reproduce
4. Expected and actual results

[2020-06-22 12:52] pgrimaud opened #28829 "Typos on code"
### Preconditions (*)

1. 2.4-develop (and before I guess)

### Steps to reproduce (*)

1. Just read the method here : https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/ResourceModel/Address/Grid/Collection.php#L260

### Expected result (*)

1. Method should be named `getRegionNameExpression`

### Actual result (*)

1. Method is named `getRegionNameExpresion`

Mu

[2020-06-22 12:52] pgrimaud commented on #28829
@magento I am working on this

Gonna check if I could find other typos 😄

[2020-06-22 12:53] seansan commented on #28824
maybe to occurs also without MSI ? (this I cannot test)

On Mon, Jun 22, 2020 at 2:37 PM swathish s <notifications@github.com> wrote:

[2020-06-22 12:56] swathishs commented on #28824
@magento give me 2.4-develop instance

[2020-06-22 12:56] magento-engcom-team commented on #28824
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-22 12:58] magento-engcom-team commented on #28824
Hi @swathishs, here is your [Magento instance](https://i-28824-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28824-2-4-develop.instances.magento-community.engineering/admin_4a8d](https://i-28824-2-4-develop.instances.magento-community.engineering/admin_4a8d)
Login: `e0ab881a` Password: `d7c03da39c9c`
Instance will be terminated in up to 3 hours.

[2020-06-22 13:05] wwwinicius opened #28830 "Campo quantidade na exibição dos produtos antes de adicionar ao carrinho."
Como criar botões de + e - selecionando a quantidade do produto no list.phtml?
Muito útil para quem vende por quantidade.

[2020-06-22 13:06] kestraly commented on #27942
+1 on this issue fresh install

[2020-06-22 13:26] seansan commented on #28824
**Error 1** confirmed on vanilla (qty = 3, Out-of-Stock Threshold = -5, salable qty =8)

1. add 3 to cart, success
2. add 1 to cart (total = 4) : expected warning on screen + on minicart "We don't have as many quantity as you requested, but we'll back order the remaining 1."

**Error 2** confirmed on vanilla (qty = 3, Out-of-Stock Threshold = -5, salable qty =8)
1. add 8 to cart, success (but with

[2020-06-22 13:33] swathishs commented on #28824
@seansan : You can check-in 2.4 develop an instance  above
Where should we set salable quantity in admin?
Then we can't set Out-of-Stock Threshold = -5 (Negative value)
It will be more clear by putting the screenshot

[2020-06-22 13:34] Serializator commented on #28830
Hi @wwwinicius,

Could you translate the description of your issue to English so that it is more easily understandable for people from other countries, without using Google Translate, thanks!

[2020-06-22 13:39] navarr commented on #28742
An internal ticket, BUNDLE-2583 exists for this issue.  If needed, you can use the patch here: [BUNDLE-2583.patch](https://gist.githubusercontent.com/navarr/0bd8377996c65a1a7ad72b4d8962956a/raw/314e67ef8850b5b5b3aa4adacdb41d0d4ae088b7/BUNDLE-2583.patch)

[2020-06-22 13:43] navarr commented on #28763
Hi @PromInc, thank you for your report.  I'm sorry you experienced this issue.

Internal Ticket: BUNDLE-2660

[2020-06-22 14:16] danielrenaud commented on #28571
Not an issue

[2020-06-22 14:16] #28571 closed, assigned to sasha19957099

[2020-06-22 14:18] swathishs commented on #28825
@rahmanQaiser : Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

[2020-06-22 14:24] danielrenaud commented on #26830
Fixed in https://github.com/magento/magento2/pull/27015

[2020-06-22 14:24] #26830 closed, assigned to sasha19957099

[2020-06-22 14:50] pmarjan opened #28833 "GraphQL Rewards Points :: Monolith Implementation - Cart query"
As a Headless Commerce Magento Merchant, I want to offer a reward points feature in my Cart query.

Acceptance Criteria

- Cart query returns applied_reward_points too.

Schema

https://github.com/magento/architecture/blob/e1e39e869595aeed0f7decedd72602d0c148f6be/design-documents/graph-ql/coverage/reward-points.graphqls

[2020-06-22 14:55] pmarjan opened #28834 "GraphQL Rewards Points :: Monolith Implementation - Apply and Remove reward points from cart"
As a Headless Commerce Magento Merchant,

I want to be able to apply and remove reward points to and from the cart.

Acceptance Criteria

Reward points can be applied to cart, so that new total adding discount is available.
Reward points can be removed from the cart, assuming they were previously applied.
Reward points are always applied all, there is NO partial redemption available.

Schema

http

[2020-06-22 14:59] pmarjan opened #28835 "GraphQL Rewards Points :: Monolith Implementation - Store Configuration"
The store config query should be able to return configuration from the magento_reward general and points sections.

**Acceptance Criteria**

When querying for the config, additional configuration for the magento_reward is available in the response

**Schema**

https://github.com/magento/architecture/blob/e1e39e869595aeed0f7decedd72602d0c148f6be/design-documents/graph-ql/coverage/reward-points.grap

[2020-06-22 15:06] adamzero1 commented on #20034
For anybody still experiencing this issue on fresh installs please see: https://magento.stackexchange.com/questions/315644/unable-to-apply-patch-magento-inventorysales-setup-patch-schema-initializewebsit/315645#315645

[2020-06-22 16:02] #28808 closed, assigned to nobody

[2020-06-22 16:03] sdzhepa commented on #27848
Reverified on the lates `2.4-develop`

Not able to reproduce it now

Report: **Cart Price Rule = Any**
![2020-06-22_11-00-34](https://user-images.githubusercontent.com/3409584/85309161-cce6b100-b477-11ea-9b22-1cb8110cafec.jpg)

Report: **Cart Price Rule = Specified**
![2020-06-22_11-01-04](https://user-images.githubusercontent.com/3409584/85309171-d243fb80-b477-11ea-872e-add5217f882b.jpg)

[2020-06-22 16:03] #27848 closed, assigned to nobody

[2020-06-22 16:07] sdzhepa commented on #27507
Reverified on the latest `2.4-develop`

Not able to repro this issue
![2020-06-22_11-06-58](https://user-images.githubusercontent.com/3409584/85309711-9c534700-b478-11ea-86e9-53433d95481f.jpg)

[2020-06-22 16:07] #27507 closed, assigned to nobody

[2020-06-22 16:16] sdzhepa commented on #27329
Based on https://github.com/magento/magento2/issues/27329#issuecomment-609008844

It s not possible to reproduce this issue on the latest `2.4-develop`
Probably issue was already fixed

[2020-06-22 16:16] #27329 closed, assigned to XxXgeoXxX

[2020-06-22 16:28] ghost opened #28837 "Cart Rule for Payment Methods - Stored Card Braintree broken in 2.3.5"
### Preconditions (*)

1. Magento 2.3.5 EE
2. Customer account with 1 or more stored cards
3. Cart Rule enabled for "Payment Method  is  Stored Cards (Braintree)", coupon code is optional

### Steps to reproduce (*)

1. Login to customer account
2. Add item to cart
3. Go to checkout
4. Enter shipping address and select shipping, continue to payment
5. Select a stored card
6. (Optionally add the co

[2020-06-22 19:38] sdzhepa commented on #26551
Hello @honzakadlec
fyi: @dasharath-wagento @krishprakash

The issue has been reviewed and triaged with Magento Product Manager.
Was decided to reject/close this issue because Magento stops supporting IE11
- [Supported browsers](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements_browsers.html)

[2020-06-22 19:38] #26551 closed, assigned to dasharath-wagento

[2020-06-22 20:41] odubovyk commented on #26676
Add comment "Internal Magento team is working on this issue right now.

[2020-06-22 21:23] eurobeautiful commented on #28614
I appreciate all the comments, but it looks like the conversation got derailed into an unrelated topic.

The question is about whether Magento has a security vulnerability because it allows for a single session / cart to receive HTTP requests from multiple IP addresses.

This seems to be a very basic security validation that isn't happening. I wish I was a more experienced with Magento to look at

[2020-06-22 22:33] eraq opened #28841 "module-catalog_Model_ProductLink_Data_ListCriteria::__construct error on sku of all integers"
### Preconditions (*)

1. 2.3.5
2.

### Steps to reproduce (*)

1. to produce create a configurable product with sku '5751',
2. attempt to pragmatically get then save this product with no changes

### Expected result (*)

1. product save successfully
2.

### Actual result (*)

1. type enforcement error occurs, error pasted below
2.
"messages": {
        "error": [
            {
                "co

[2020-06-23 04:04] dekiakbar commented on #26159
@Dragonisser @krausenspb did you solve this issue ? I got this issue after migration from Magento 1.9 to Magento 2.3, still got no luck for this issue

[2020-06-23 05:28] dekiakbar commented on #26159
@Dragonisser @krausenspb I have fix it for my end,  you can chech it on this link https://stackoverflow.com/questions/59453442/magento-2-3-3-customer-shipping-address-firstname-trouble-firstname-is-requir/62527887#62527887

[2020-06-23 05:31] WinstonN commented on #25835
I am using valet plus and I am unable to get past this error

When I set
[code]
Within Magento 2 inside the class `src/vendor/magento/framework/File/Uploader.php`
the value of `sys_get_temp_dir()` is `/var/tmp`

Inside of a simple php file, I get the right value as set inside my ini file `/private/var/tmp`
I even tried setting TMPDIR in my env

[code]

For me this is a big issue, as I cannot uploa

[2020-06-23 05:41] swathishs commented on #28814
@magento give me 2.4-develop instance

[2020-06-23 05:41] magento-engcom-team commented on #28814
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-23 05:42] magento-engcom-team commented on #28814
Hi @swathishs, here is your [Magento instance](https://i-28814-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28814-2-4-develop.instances.magento-community.engineering/admin_9b74](https://i-28814-2-4-develop.instances.magento-community.engineering/admin_9b74)
Login: `dcd5a685` Password: `fbed81fe0cca`
Instance will be terminated in up to 3 hours.

[2020-06-23 06:19] r32rf opened #28843 "fix undefined index path when using dev server php 7.3"
### Summary (*)

change `phpserver/router.php:48`
`$route = parse_url(substr($_SERVER["REQUEST_URI"], 1), PHP_URL_PATH);`

### Examples (*)

### Expected result (*)

`$route = parse_url(substr($_SERVER["REQUEST_URI"], 1), PHP_URL_PATH);`

### Actual result (*)

1. `$route = parse_url(substr($_SERVER["REQUEST_URI"], 1))["path"];`

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.

[2020-06-23 07:03] engcom-Delta commented on #26518
Hi @webkul-ajaysaini . Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.4-develop
![#26518issue](https://user-images.githubusercontent.com/51681379/85371333-b81e2200-b538-11ea-8ece-5326c05294fd.gif)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelin

[2020-06-23 07:03] #26518 closed, assigned to GovindaSharma, engcom-Delta

[2020-06-23 07:45] seansan opened #28844 "Product Edit: Make Save and Close the default action"
### Description (*)
Product Edit: Make Save and Close the default action

### Expected behavior (*)
https://magento.stackexchange.com/questions/315487/how-can-i-make-save-close-the-default-action-instead-of-save

### Benefits
Make Save and CLose the default action everywhere. It is just not logical to just save? and stay on the page

### Additional information
Explained in full here https://magent

[2020-06-23 07:45] swathishs commented on #28814
@hannahnida : Issue is reproducible in Magento 2.4 develop instance.

Step to reproduce:
1. On the Admin sidebar, go to Stores > Settings > Configuration.
2. In the left panel, expand Sales and choose Sales underneath.
3. Expand the Minimum Advertised Price section.
4. Set Enable MAP to Yes.
5. Go to any product and click on edit
6. Click on advance pricing
7. Enter MAP
8. Display actual price - G

[2020-06-23 07:48] laurnts commented on #28698
This is because <i> somehow not an entirely recognized html tag by tinymce. And tinymce also remove an empty html tag because it's "empty".

At this moment I am using <em class="fa">&nbsp;</em> this should work just fine.

[2020-06-23 07:59] engcom-Foxtrot opened #29116 "Deprecated records should be removed from login_as_table by cron."
Deprecated records should be removed from login_as_table by cron.

[2020-06-23 08:03] seansan opened #28845 "Change Purchase Point to allow for 1 line option"
### Description (*)
The order grids where purchase points are show are always using 300% of necessary space. This is something we always changed in M1. Why would you use 3 lines of data for 1 line of orders? It is just ridiculous. And makes finding orders difficult and you can show less.

Is this just code inheritance of something made in 2008?

### Expected behavior (*)
Add option to show _only_

[2020-06-23 08:24] bst2002git commented on #25483
Hello this is the answer i get from Braintree-Support:

The error you are receiving, **94350 - Billing surname format is invalid​**, is generally thrown when diacritics are included. ​The accepted characters to pass in these parameters are ASCII printable characters. This limitation is set by our MPI provider Cardinal Commerce as it is an EMVco standard.

Thus far, there are two solutions:

1. You

[2020-06-23 08:45] magento-engcom-team commented on #28814
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35371` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-23 08:52] magento-engcom-team commented on #28843
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2020-06-23 08:55] magento-engcom-team commented on #28843
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-06-23 08:57] magento-engcom-team commented on #28843
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35372` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-23 09:28] zaietsv commented on #28482
Thank you! It really works!
PS: Magento team BOOO...

[2020-06-23 09:42] robertbaum opened #28846 "Magento2 - Product PNG Image is resizing as Transparent due to which it's showing as blank on Product/Category/Product Admin Grid Page"
### Preconditions (*)

1. Magento 2.3.3
2. upload a PNG image to the product

### Steps to reproduce (*)

1. upload a PNG image to any product with any size
2. you will see that the product image at the cache directory blank (transparent)

### Expected result (*)

1. [Screenshots, logs or description]
![image](https://user-images.githubusercontent.com/46323639/85388317-a182c580-b54e-11ea-98be-62f9

[2020-06-23 10:06] swathishs commented on #28846
@magento give me 2.4-develop instance

[2020-06-23 10:07] magento-engcom-team commented on #28846
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-23 10:08] magento-engcom-team commented on #28846
Hi @swathishs, here is your [Magento instance](https://i-28846-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28846-2-4-develop.instances.magento-community.engineering/admin_44e5](https://i-28846-2-4-develop.instances.magento-community.engineering/admin_44e5)
Login: `0893f334` Password: `3bde234fda5c`
Instance will be terminated in up to 3 hours.

[2020-06-23 10:09] kishorenagalingam commented on #27987
@magento i'm working on this

[2020-06-23 10:18] seansan commented on #10079
For sake of completeness, cross posted

Whats the status on this? Has this seriously been an open issue since 2019? And is the original issue from 2017? https://github.com/magento/magento2/issues/10079

Or: maybe is the whole backorder_qty field no longer used due to MSI and reservations?

I can confirm on m2.3.5
- there is no field backorder_qty in the quote_item table
- it does exist in order_it

[2020-06-23 10:20] swathishs commented on #28846
@robertbaum : Issue is not reproducinle in magento 2.4 devlop instance

Please find the attachments:

1. Product admin:
![image](https://user-images.githubusercontent.com/58288685/85392164-c8e68c00-b568-11ea-9a90-795c6911cc63.png)

2. Product grid:
![image](https://user-images.githubusercontent.com/58288685/85392491-398da880-b569-11ea-9df5-508fb79fd78e.png)

[2020-06-23 10:20] AlivreL opened #28848 "Footer social icons always become too big on page regardless of editing"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-06-23 10:22] seansan commented on #10057
Is this fix available or not? It should be available in 2.2 then in 2.3 ..... but I think it is still not solved and now an issue almost 3 years old

Also see here where a similar issues has existed for 3 years going on 4: https://github.com/magento/magento2/issues/10079

[2020-06-23 10:24] swathishs commented on #28846
Hi @robertbaum , thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
If you'd like to update the issue, please reopen it.

[2020-06-23 10:24] #28846 closed, assigned to swathishs

[2020-06-23 10:29] swathishs commented on #28848
@AlivreL: Could you please update the issue please make sure that you provided the following information to recreate the issue :
Summary of the issue
Information on your environment
Steps to reproduce
Expected and actual results

[2020-06-23 10:48] robertbaum commented on #28846
but the issue happened on some m2.3.3 not all, how can I check the reason

[2020-06-23 10:49] seansan opened #28849 "Admin Menu in M2, should hover not be enough? Why the extra click to open a menu"
### Description (*)
Admin Menu in M2, should hover not be enough to open a menu? Why the extra click to open a menu

### Expected behavior (*)
On hover open menu

### Benefits
Work faster, reduce clicks

### Additional information

![image](https://user-images.githubusercontent.com/652395/85395140-f541de80-b54f-11ea-967f-8b7bb85c6b3a.png)

[2020-06-23 10:55] grizwako commented on #10079
Hey @seansan , I am not working with Magento anymore.

Anyway, for shops that used this functionality fix was not too hard, I don't remember exactly what was needed, but most of the fix was standard "configuration overhead", and a very little real logic.

Run code with debugger a couple of times to get familiar with the flow and you will see the issue clearly (at least it was like that when I last

[2020-06-23 10:59] swathishs commented on #28846
@robertbaum : We can check in 2.3.5 -p1 develop instance in this Github. Since this GitHub concentrate only on 2.4 develop instance

[2020-06-23 11:00] robertbaum commented on #28846
ok thanks

[2020-06-23 11:43] m2-assistant[bot] opened #28850 "[Issue] MFTF: Remove risky test that does not have implementation"
This issue is automatically created based on existing pull request: magento/magento2#28605: MFTF: Remove risky test that does not have implementation

---------
### Description (*)
I am removing test that does not have implementation.
That kind of tests are considered Risky as these does not test anything, but give false assumption that feature is covered with tests.

### Expected behavior (*)

##

[2020-06-23 11:43] seansan commented on #10079
See https://github.com/magento/inventory/pull/2452 would this also fix the issue by OP?

[2020-06-23 11:47] magento-engcom-team commented on #28850
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35380` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-23 12:19] Vinai commented on #25835
@WinstonN Strange - I am using php 7.3 with valet+ currently, and when I edit `/usr/local/etc/valet-php/7.3/php.ini` and set `sys_temp_dir = '/private/tmp' or `sys_temp_dir = '/private/var/tmp' and then run
[code]
It outputs the value I set in the `.ini` file. Sorry to ask the obvious, but this is what I would check in your shoes...

* did I restart php-fpm after changing the file?
* did I change

[2020-06-23 12:48] jonathanlubkepeter opened #28851 "Buy 1 Get 3 -> Problem"
**Preconditions**

1. Magento 2.3.2
2. Magento 2.3.3
3. Magento 2.4-develop

**Steps to reproduce**

1.  Create new cart price rules with the following configuration

![image](https://user-images.githubusercontent.com/61063285/85404303-610e5200-b524-11ea-9f5e-171cd66bd403.png)

2. Add 3 products to cart with has price = $100

![image](https://user-images.githubusercontent.com/61063285/85404707-fad

[2020-06-23 13:38] ajijshekh123 commented on #28760
Hello @marciommm,
Now, Let me close this issue. After added proper details you can reopen this issue again.
Thanks.

[2020-06-23 13:38] #28760 closed, assigned to ajijshekh123

[2020-06-23 13:39] ajijshekh123 commented on #28700
@magento give me 2.4-develop instance

[2020-06-23 13:39] magento-engcom-team commented on #28700
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-23 13:40] jamie-selesti opened #28853 "Order payment not received - Paypal Express"
### Preconditions (*)

1. Using Magento 2.3.5-p1
2. Using PHP 7.3
3. PayPal Express Checkout enabled and setip

### Steps to reproduce (*)

1. Place an order using Paypal Express

### Expected result (*)

1. Receive payment for the order

### Actual result (*)

1. We had an order whereby Magento told us the order was paid but looking in our Paypal account we don't have the money.
![image](https://

[2020-06-23 13:40] magento-engcom-team commented on #28700
Hi @ajijshekh123, here is your [Magento instance](https://i-28700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28700-2-4-develop.instances.magento-community.engineering/admin_ff21](https://i-28700-2-4-develop.instances.magento-community.engineering/admin_ff21)
Login: `ca2d1dac` Password: `2a4f9371c1fb`
Instance will be terminated in up to 3 hours.

[2020-06-23 14:00] bubasuma commented on #27865
Hi @bjornmeat.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into magento/magento2:2.4-develop branch(es).
Related commit(s):
60df223978e203a31811e626f983df5ae045aa9c

The fix will be available with the upcoming 2.4.1 release.

[2020-06-23 14:02] #27865 closed, assigned to nuzil, bubasuma

[2020-06-23 14:18] ajijshekh123 commented on #28700
Hello @Yuwei9291,
I have verified this issue as per steps to be reproduced, actual result and expected result.
I think you are right, Discount should be calculated on checkout as per select the payment not in the Cart page.

**Cart image (Default Bank Transfer) Payment Method:**
![cart](https://user-images.githubusercontent.com/24711761/85414849-41117980-b58a-11ea-8d39-b77daa00b2c9.png)

**Select

[2020-06-23 14:20] magento-engcom-team commented on #28700
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35386` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-23 15:01] engcom-Delta opened #29117 "[EE] Endless loader when admin is logged as customer on restricted website (Restriction Mode=Website Closed)"
### Update on June 24 2020
After triaging and discussion with Product Manager all cases from
- One WebSite but several stores: https://github.com/magento/magento2-login-as-customer/issues/58#issuecomment-645346480
- Several Websites: https://github.com/magento/magento2-login-as-customer/issues/58#issuecomment-645436814

Were defined new requirements that should help to fix and clarify expected res

[2020-06-23 16:24] mrtuvn commented on #28302
Seem we have some people got same problem here not only mine. Possible real problem
Can we reopen this ? @engcom-Echo

[2020-06-23 16:26] mrtuvn commented on #28302
Noted in have to temporary comment oneline in codebase (setup script) inorder to pass through cli installation without get any exception

[2020-06-23 18:18] realadityayadav commented on #11800
https://community.magento.com/t5/Magento-2-x-Admin-Configuration/Admin-Changing-Theme-Content-Design-Configuration-Help-Need/m-p/74196#M1681

This is related to the Mod Security module for someone who comes up hunting for solution.

[2020-06-23 18:27] danielrenaud commented on #28769
Pull Request: https://github.com/magento/partners-magento2ee/pull/277

[2020-06-23 18:35] danielrenaud commented on #28573
Currently the parent configurable product is returned as the cart item, and that is why the thumbnail seems incorrect.
To resolve this issue, we can add the configured_variant field to the ConfigurableCartItem type so it is possible to get information about the simple product that represents the configured configurable product.
See schema: https://github.com/magento/partners-magento2ee/pull/277

[2020-06-23 20:26] sdzhepa commented on #26469
Hello @iGerchak

This issue has been reviewed and discussed on the Triage meeting with Magento Product Managers.

And  as a result, this issue was rejected as not a bug.
quote:

[2020-06-23 20:26] #26469 closed, assigned to engcom-Charlie

[2020-06-23 20:49] cpartica commented on #28561
@michalderlatka  can you correct that URL for " CORS standard " ? it doesn't really work

[2020-06-23 22:08] VladimirZaets commented on #28806
@magento export issue to JIRA

[2020-06-23 22:08] magento-engcom-team commented on #28806
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35310.

[2020-06-23 22:08] VladimirZaets commented on #28806
@magento confirm issue

[2020-06-23 22:08] magento-engcom-team commented on #28806
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35310.

[2020-06-23 22:08] VladimirZaets commented on #28806
@magento confirm issue

[2020-06-23 22:09] magento-engcom-team commented on #28806
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35310.

[2020-06-23 22:09] VladimirZaets commented on #28806
@magento export issue to JIRA

[2020-06-23 22:09] magento-engcom-team commented on #28806
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35310.

[2020-06-23 22:10] VladimirZaets commented on #28806
@magento confirm issue

[2020-06-23 22:10] magento-engcom-team commented on #28806
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35310.

[2020-06-23 22:10] #28806 closed, assigned to nobody

[2020-06-23 22:10] magento-engcom-team commented on #28806
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35310.

[2020-06-23 22:11] VladimirZaets opened #28857 "TEST 30"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-23 22:11] VladimirZaets commented on #28857
@magento confirm issue

[2020-06-23 22:13] VladimirZaets commented on #28857
@magento import issue to JIRA

[2020-06-23 22:14] VladimirZaets commented on #28857
@magento export issue to JIRA

[2020-06-23 22:14] magento-engcom-team commented on #28857
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-35406) is successfully created for this issue.

[2020-06-23 22:15] VladimirZaets commented on #28857
@magento confirm issue

[2020-06-23 22:15] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-23 22:15] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-23 22:17] VladimirZaets opened #28858 "TEST 31"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-23 22:17] VladimirZaets commented on #28858
@magento confirm issue

[2020-06-23 22:41] eraq commented on #28841
as a follow up, the issue only occurs if you use the new suggested save via ProductRepositoryInterface..
so `$product->save();` works fine, but `$this->$_productRepositoryInterface->save($product);` fails.

[2020-06-23 23:05] magento-engcom-team commented on #246
Hi @barbazul. Thank you for your report.
The issue has been fixed in magento/magento2#28072 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [034af404deaa448c6ae660166912b0c40dfc7b12](https://github.com/magento/magento2/commit/034af404deaa448c6ae660166912b0c40dfc7b12)
 - [7e6e0239c9895982b4bb1577412b0018beef1361](https://github.com/magento/magento2/commit/7e6e0239c9895982b4bb1577412b0018be

[2020-06-23 23:05] magento-engcom-team commented on #253
Hi @ScreamingDev. Thank you for your report.
The issue has been fixed in magento/magento2#28072 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [034af404deaa448c6ae660166912b0c40dfc7b12](https://github.com/magento/magento2/commit/034af404deaa448c6ae660166912b0c40dfc7b12)
 - [7e6e0239c9895982b4bb1577412b0018beef1361](https://github.com/magento/magento2/commit/7e6e0239c9895982b4bb1577412b00

[2020-06-23 23:05] magento-engcom-team commented on #28519
Hi @nrkapoor. Thank you for your report.
The issue has been fixed in magento/magento2#28072 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [034af404deaa448c6ae660166912b0c40dfc7b12](https://github.com/magento/magento2/commit/034af404deaa448c6ae660166912b0c40dfc7b12)
 - [7e6e0239c9895982b4bb1577412b0018beef1361](https://github.com/magento/magento2/commit/7e6e0239c9895982b4bb1577412b0018be

[2020-06-23 23:05] #28519 closed, assigned to Usik2203

[2020-06-23 23:07] #28551 closed, assigned to eduard13

[2020-06-24 00:36] VladimirZaets commented on #28858
@magento confirm issue

[2020-06-24 00:43] VladimirZaets commented on #28857
@magento confirm issue

[2020-06-24 00:43] VladimirZaets commented on #28857
@magento confirm issue

[2020-06-24 00:43] VladimirZaets commented on #28857
@magento export issue to JIRA

[2020-06-24 00:43] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 00:43] VladimirZaets commented on #28857
@magento confirm issue

[2020-06-24 00:44] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 00:44] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 01:00] VladimirZaets commented on #28857
@magento export issue to JIRA

[2020-06-24 01:00] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 01:00] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 01:01] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 01:04] VladimirZaets commented on #28857
@magento export issue to JIRA

[2020-06-24 01:04] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 01:05] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 01:05] magento-engcom-team commented on #28857
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35406.

[2020-06-24 03:01] magento-engcom-team commented on #27969
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#28044 by @ProkopovVitaliy in 2.4-develop branch
Related commit(s):
 - [0dfd146b819b9bfd0ca0cd72e41e8c56c3debcae](https://github.com/magento/magento2/commit/0dfd146b819b9bfd0ca0cd72e41e8c56c3debcae)
 - [0fea657d349e9f509ee980cc2e1eabcdc41c7f84](https://github.com/magento/magento2/commit/0fea657d349e9f509ee980cc2e1e

[2020-06-24 03:01] #27969 closed, assigned to ProkopovVitaliy

[2020-06-24 03:01] magento-engcom-team commented on #28807
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27616 by @krzksz in 2.4-develop branch
Related commit(s):
 - [2a90e762729951cf92aba632769a8e31a6bec851](https://github.com/magento/magento2/commit/2a90e762729951cf92aba632769a8e31a6bec851)
 - [f799baa4e3f487d6f10d763baa647bf65a99ec60](https://github.com/magento/magento2/commit/f799baa4e3f487d6f10d763baa6

[2020-06-24 03:01] #28807 closed, assigned to krzksz

[2020-06-24 03:01] magento-engcom-team commented on #27063
Hi @nntoan. Thank you for your report.
The issue has been fixed in magento/magento2#27064 by @nntoan in 2.4-develop branch
Related commit(s):
 - [fdec82c179e1e3de4505d2ad62321ce303e56ff3](https://github.com/magento/magento2/commit/fdec82c179e1e3de4505d2ad62321ce303e56ff3)
 - [9a7d68d176e1300dea2d52f41357cf79d71bec4c](https://github.com/magento/magento2/commit/9a7d68d176e1300dea2d52f41357cf79d71bec

[2020-06-24 03:01] #27063 closed, assigned to nntoan

[2020-06-24 04:21] prabhakaran777 opened #28860 "Magento 2.3.4 graphql Notice: Undefined index: option_value in /var/www/html/mg234/vendor/magento/module-configurable-product-graph-ql/Model/Resolver/ConfigurableCartItemOptions.php on line 62"
### Preconditions (*)

1. Magento 2.3.4
2. Config product with custom options

### Steps to reproduce (*)

1. Create config product with custom options
2. Add product to cart (addConfigurableProductsToCart) using this mutation

[code]

### Expected result (*)

1. Configurable product will add to cart

### Actual result (*)

1.
[code]

[2020-06-24 05:37] dwightc commented on #28419
I have experienced this issue also in 2.3.5p1. The store is configured to require customer email confirmation. If a customer chooses to subscribe to the newsletter during registration, they receive the "Newsletter unsubscription success" email at the same time they receive the confirmation email and end up unsubscribed even after they confirm their email.

I looked into it and I believe the proble

[2020-06-24 06:37] KineoMichaelT commented on #25177
Still an issue in 2-5, so adding the details from my investigation to see if it's helpful.

@j-robin-hunter The check location for the hotfix should resolve the issue, but it's the opposite of your concern.  It's the documented workflow that is currently broken.  Ultimately, the error is coming from Magento/Sales/Order::canCreditmemoForZeroTotal in which it determines if the amount refunded = amou

[2020-06-24 06:45] magento-engcom-team commented on #1474
Hi @sanuj. Thank you for your report.
The issue has been fixed in magento/magento2#28798 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [a2d51131606d59e3124919f120243cfd69d998f3](https://github.com/magento/magento2/commit/a2d51131606d59e3124919f120243cfd69d998f3)
 - [3bc82395fede9a07a51464ff21c7b467befbdd2e](https://github.com/magento/magento2/commit/3bc82395fede9a07a51464ff21c7b467befbdd

[2020-06-24 06:45] magento-engcom-team commented on #26089
Hi @cebesoft. Thank you for your report.
The issue has been fixed in magento/magento2#28213 by @p-bystritsky in 2.4-develop branch
Related commit(s):
 - [ddee80419bf117ba64a73ae5a1e4e872e9cbe925](https://github.com/magento/magento2/commit/ddee80419bf117ba64a73ae5a1e4e872e9cbe925)
 - [c17449a4b835b9a2b3f63bd14d22a7294049e8c5](https://github.com/magento/magento2/commit/c17449a4b835b9a2b3f63bd14d22a7

[2020-06-24 06:45] #26089 closed, assigned to shikhamis11

[2020-06-24 06:45] magento-engcom-team commented on #28850
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28605 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [f27bf4419a6176e71d75ffa72b81be5ea0e0d86e](https://github.com/magento/magento2/commit/f27bf4419a6176e71d75ffa72b81be5ea0e0d86e)

The fix will be available with the upcoming 2.4.1 release.

[2020-06-24 06:45] #28850 closed, assigned to lbajsarowicz

[2020-06-24 06:45] magento-engcom-team commented on #27985
Hi @RHapani. Thank you for your report.
The issue has been fixed in magento/magento2#28004 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [d5cc8cb120da0072dee54c7cc850241319b9c2c1](https://github.com/magento/magento2/commit/d5cc8cb120da0072dee54c7cc850241319b9c2c1)
 - [331ce388f1cf5f24d8667081e37641928d0c159e](https://github.com/magento/magento2/commit/331ce388f1cf5f24d8667081e3764192

[2020-06-24 06:45] #27985 closed, assigned to srsathish92, RHapani

[2020-06-24 06:45] magento-engcom-team commented on #28823
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27860 by @krzksz in 2.4-develop branch
Related commit(s):
 - [4c21e460d180de2d76810cddd6a53d256113656c](https://github.com/magento/magento2/commit/4c21e460d180de2d76810cddd6a53d256113656c)
 - [20c5b5c1b5963485b2b02ed66a89b74e2b3965fe](https://github.com/magento/magento2/commit/20c5b5c1b5963485b2b02ed66a8

[2020-06-24 06:45] #28823 closed, assigned to krzksz

[2020-06-24 07:22] themystery404 opened #28861 "Null order in Print All Shipments guest page (Magento\Sales\Block\Order\PrintShipment.php)"
### Preconditions (*)

1. Magento v2.3.4

### Steps to reproduce (*)

1. Place an order as guest user and create shipment for it.
2. Go to http://example.com/sales/guest/shipment/order_id/123456/
3. Change tab on "Order Shipment".
4. Click on "Print All Shipment" link

### Expected result (*)

1.  All the shipments are printed without any errors

### Actual result (*)

1. All the shipments are pri

[2020-06-24 07:41] Robdebert opened #28862 "MessageManager should not use Javascript ( and perhaps also not cookies) to output messages."
### Summary (*)
Magneto2 is storing all notifications and messages in a cookie and uses JavaScript to display these messages. That makes problems for codeception automatic-testings of login-functionality (when we cannot use JavaScript) and also sometimes we have more messages then a cookie allows (max size of cookies is 4kb). See also https://magento.stackexchange.com/questions/267104/messagemanag

[2020-06-24 07:56] p06pratibha-verma opened #28863 "Magneto2 storing all messages in the cookie and uses JavaScript to display these messages. That makes problems for codeception-automatic testings of login-functionality"
### Preconditions (*)
Magento 2.x

### Steps to reproduce (*)

### Expected result (*)

### Actual result (*)

**Issue :** Magneto2 storing all messages in the cookie and uses JavaScript to display these messages. That makes problems for codeception-automatic testings of login-functionality (which cannot use JavaScript) and also sometimes we have more messages then a cookie allows (max size of coo

[2020-06-24 08:27] pixiemediaweb commented on #28270
I cant reopen it because you closed it.  I provided the complete cause and the solution in my original post, can you reopen please

[2020-06-24 08:33] chequille commented on #28092
Hi Guys,
it is coming to a very important state, because my customer is forcing me to go online with the new shop latest 1 July 2020.
As a matter of facts, I do need a solution for this.

What I found is, that it seems to be a browser issue, because I tried as well with Chrome and the error message does not occur.
On Firefox, the error is in costumer-data.js of the Magento_Customer module.
Maybe t

[2020-06-24 08:55] plastikschnitzer commented on #28092
Its a true nightmare for those who have to migrate and are faced with such a bug.

As I said above, I migrated a while ago and hided the error message by css – a very quick and dirty fix as Paypal still works in my case and the error message is useless here. I think with my code you still see a red box, so just change the background color of that box or find the correct class to hide all of that.

[2020-06-24 09:30] magento-engcom-team commented on #28376
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28351 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [fcc3e27f5c55d2eaa5b896bb73488c0e3a0139d8](https://github.com/magento/magento2/commit/fcc3e27f5c55d2eaa5b896bb73488c0e3a0139d8)
 - [3f87a5b2db68c341b49d5e907ab1d9ff1bdc9a38](https://github.com/magento/magento2/commit/3f87a5b2db68c341b49d5e9

[2020-06-24 09:30] #28376 closed, assigned to lbajsarowicz

[2020-06-24 09:30] magento-engcom-team commented on #28306
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27429 by @quangdo-aligent in 2.4-develop branch
Related commit(s):
 - [54a11eb67d5ad3b0f2ca0160dcfa936d50b44d33](https://github.com/magento/magento2/commit/54a11eb67d5ad3b0f2ca0160dcfa936d50b44d33)
 - [f1c8ad56edcad49fd51288e3a0dbf2df74505df5](https://github.com/magento/magento2/commit/f1c8ad56edcad49fd512

[2020-06-24 09:30] #28306 closed, assigned to quangdo-aligent

[2020-06-24 09:30] magento-engcom-team commented on #27091
Hi @RHapani. Thank you for your report.
The issue has been fixed in magento/magento2#27567 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [d95a65adde03f8a573b0b1dd15d0c5a247d8d99d](https://github.com/magento/magento2/commit/d95a65adde03f8a573b0b1dd15d0c5a247d8d99d)
 - [981df7bdc533a1209253976b2677b8af03f2df08](https://github.com/magento/magento2/commit/981df7bdc533a1209253976b2677b8af

[2020-06-24 09:30] #27091 closed, assigned to srsathish92, nirmalraval18

[2020-06-24 09:30] magento-engcom-team commented on #28795
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28515 by @litsher in 2.4-develop branch
Related commit(s):
 - [8901baa21943a9caf7fe9ea2de1f4fb5e2c82daa](https://github.com/magento/magento2/commit/8901baa21943a9caf7fe9ea2de1f4fb5e2c82daa)
 - [4418a950dbcf5975946ae6a135eb49aef5713ff6](https://github.com/magento/magento2/commit/4418a950dbcf5975946ae6a135

[2020-06-24 09:30] #28795 closed, assigned to nobody

[2020-06-24 09:30] magento-engcom-team commented on #28420
Hi @mischabraam. Thank you for your report.
The issue has been fixed in magento/magento2#28460 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [d4d8ef48391fdff05c9fce5d1cf013dff40d724d](https://github.com/magento/magento2/commit/d4d8ef48391fdff05c9fce5d1cf013dff40d724d)
 - [597d65f0721e3de11d2e3f2c2a39e6490f90eb8b](https://github.com/magento/magento2/commit/597d65f0721e3de11d2e3f2c2

[2020-06-24 09:30] #28420 closed, assigned to engcom-Charlie

[2020-06-24 09:30] magento-engcom-team commented on #28357
Hi @stupachenko. Thank you for your report.
The issue has been fixed in magento/magento2#28421 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [035aaf08f8a5e5253a09bf5a7e618acf9d3e32f7](https://github.com/magento/magento2/commit/035aaf08f8a5e5253a09bf5a7e618acf9d3e32f7)
 - [f1d14503b3dd05743ce00eef444d7d248a78f6b6](https://github.com/magento/magento2/commit/f1d14503b3dd05743ce00eef4

[2020-06-24 09:30] #28357 closed, assigned to engcom-Charlie

[2020-06-24 09:30] magento-engcom-team commented on #27962
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27965 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [d938e7bcab3f4620d5d0facb23a05ab81304e988](https://github.com/magento/magento2/commit/d938e7bcab3f4620d5d0facb23a05ab81304e988)
 - [ae58f560edad58b8c9b6fd01f9460b7c37fd2895](https://github.com/magento/magento2/commit/ae58f560edad58b8c9b6fd01f9

[2020-06-24 09:30] #27962 closed, assigned to maghamed

[2020-06-24 09:50] Serializator commented on #28863
Hi @p06pratibha-verma, this issue seems to be a duplicate of #28862, can you confirm?

[2020-06-24 10:09] nrkapoor opened #28866 "B2B Company Queries"
As a Magento Developer,

I want to expose B2B company storefront functionality via GraphQL

So that customers can use a more flexible and performant API technology.

**Acceptance Criteria**

**Scope**
All B2B Company queries as per the schema https://github.com/magento/architecture/blob/master/design-documents/graph-ql/coverage/company.md

[2020-06-24 10:12] nrkapoor opened #28867 "B2B Company Mutations"
As a Magento Developer,

I want to expose B2B company storefront functionality via GraphQL

So that

customers can use a more flexible and performant API technology.

### Sub tickets
- Create and Update Company (https://github.com/magento/magento2/issues/29074)
- Create, Update and Delete Company User (https://github.com/magento/magento2/issues/29093)
- Create, Update and Delete Company Role (http

[2020-06-24 10:14] p06pratibha-verma commented on #28863
Yes it exactly same.

[2020-06-24 10:15] nrkapoor opened #28868 "B2B Company Credit Mutations"
As a Magento Developer,

I want to expose B2B company credit storefront functionality via GraphQL

So that

customers can use a more flexible and performant API technology.

### Acceptance Criteria
GraphQL exposes only storefront B2B company credit  functionality
GraphQL respects user permissions for all storefront operations.
WebAPI test coverage
All builds are green

### Approved Schema
https://

[2020-06-24 10:17] engcom-Charlie commented on #9205
Hi @hezide,
We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

Please could you take a look?

[2020-06-24 10:22] azdeveloping commented on #25427
This worked for me but going to http://magento2.local/ had error finding IP address
so I changed /etc/hosts file to 127.0.0.1 magento2.local

[2020-06-24 10:31] hezide commented on #9205
Hello,
For me the issue is not relevant anymore.
If no one else encounters it, you can close.

[2020-06-24 10:38] engcom-Charlie commented on #9205
Thank you for fast answer. So i've to close it.

[2020-06-24 10:38] #9205 closed, assigned to nobody

[2020-06-24 11:10] michael-bouvy opened #28870 "Allow handling POSIX signals (ie. SIGTERM for graceful termination)"
### Description (*)

Magento is currently not able to handle POSIX signals, for instance `SIGTERM` that may be received from a controller (ie. within Kubernetes cluster).

Therefore, those signals can not be handled gracefully, and the process may be killed with a `SIGKILL` signal, causing an immediate stop, without calling `__destruct` methods for instance.

### Expected behavior (*)

Since PHP 7

[2020-06-24 11:28] swathishs commented on #28851
@magento give me 2.4-develop instance

[2020-06-24 11:28] magento-engcom-team commented on #28851
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-24 11:30] magento-engcom-team commented on #28851
Hi @swathishs, here is your [Magento instance](https://i-28851-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28851-2-4-develop.instances.magento-community.engineering/admin_adef](https://i-28851-2-4-develop.instances.magento-community.engineering/admin_adef)
Login: `ba20fa16` Password: `4893d9704f3d`
Instance will be terminated in up to 3 hours.

[2020-06-24 11:34] duckchip commented on #26333
@magento-encom-team When can this ticket be picked up?

[2020-06-24 11:46] duckchip commented on #28344
duplicate of https://github.com/magento/magento2/issues/26333

[2020-06-24 12:42] TheRealHunzik opened #28871 "Unable to Filter Order Grid Collection for Different Layouts in magento 2"
### Summary (*)

I am using `sales_order_grid` in two layouts
`sales_order_index` and `custom_order_index`

I want to filter collection for both grid based on a custom attribute in `sales_order_grid` table its name is `archived`

### Examples (*)

I added a plugin in di.xml
[code]

in my FilterOrderCollection.php

use Magento\Framework\UrlInterface;
use Magento\Sales\Model\ResourceModel\Order\Grid

[2020-06-24 13:10] swathishs commented on #28861
@magento give me 2.4-develop instance

[2020-06-24 13:10] magento-engcom-team commented on #28861
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-24 13:11] magento-engcom-team commented on #28861
Hi @swathishs, here is your [Magento instance](https://i-28861-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28861-2-4-develop.instances.magento-community.engineering/admin_2b00](https://i-28861-2-4-develop.instances.magento-community.engineering/admin_2b00)
Login: `1a890239` Password: `c00b075abafb`
Instance will be terminated in up to 3 hours.

[2020-06-24 13:18] engcom-Charlie commented on #21076
Hi @michi-p,
We are not able to reproduce issue by the following steps:

1. Go to Store -> Configuration -> Catalog -> Catalog -> Storefront.
2. Set `Remember Category Pagination` to `Yes`.
3. Open a category in your shop.
4. Change the sort order (e. g. from 'position' to 'name').
5. Switch to another category.

**AR**: The products of the category should be shown sorted by their names.

Please c

[2020-06-24 13:27] swathishs commented on #28861
Hi, @themystery404 : Could you please let me know how to recreate the issue. So that I can able to recreate the issue.

I tried to recreate with these steps:
1. Place an order as a guest user
2.  Go to admin
3. Click on sales- order
4. In order to click on the shipment
5. Sales- shipment
6. Click on print.

Attachments:

1. Shipment:
![image](https://user-images.githubusercontent.com/58288685/8556

[2020-06-24 13:29] swathishs commented on #28861
Refer this ticket - [https://github.com/magento/magento2/issues/9830](url)

[2020-06-24 13:32] swathishs commented on #28861
Duplicate of #https://github.com/magento/magento2/issues/9830

[2020-06-24 13:50] swathishs commented on #28270
@pixiemediaweb : Could you please provide extra steps to reproduce the issue  and it will be helpful if you put the screenshot

[2020-06-24 13:57] pixiemediaweb commented on #28270
Hi @swathishs - no problem, might be easier if you could resurrect a demo instance with a configurable swatch product so I can show you how M2 natively supports pre-selecting of configurable options by their option and value IDs

[2020-06-24 13:58] swathishs commented on #28270
@magento give me 2.4-develop instance

[2020-06-24 13:58] magento-engcom-team commented on #28270
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-24 14:00] magento-engcom-team commented on #28270
Hi @swathishs, here is your [Magento instance](https://i-28270-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28270-2-4-develop.instances.magento-community.engineering/admin_de9e](https://i-28270-2-4-develop.instances.magento-community.engineering/admin_de9e)
Login: `27b16d64` Password: `41d56df9d1bf`
Instance will be terminated in up to 3 hours.

[2020-06-24 14:02] swathishs commented on #28270
@pixiemediaweb : You can use the above instance.

[2020-06-24 14:05] bp612 opened #28873 "File Path Too Long"
### Summary (*)

The following file path is exceptionally long and causes errors in my Windows environment:
app/code/Magento/UrlRewrite/Test/Mftf/Test/AdminCheckUrlRewritesCorrectlyGeneratedForMultipleStoreviewsDuringProductImportTest/AdminUrlRewriteMultipleStoreviewsProductImportWithConfigTurnedOffTest.xml

### Examples (*)

### Proposed solution

Please review the naming and consider shortening

[2020-06-24 14:10] swathishs commented on #28873
@brianpittvps : Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

[2020-06-24 14:14] pixiemediaweb commented on #28270
Here you go;

Config swatch product:
https://i-28270-2-4-develop.instances.magento-community.engineering/testconfig.html

Choose the blue swatch - that has qty breaks and they show.

Now try this:
https://i-28270-2-4-develop.instances.magento-community.engineering/testconfig.html#194=280

^^ that's how you preset the chosen swatch.  The price breaks dont show.

Exactly the same problem if you sele

[2020-06-24 14:16] pixiemediaweb commented on #28270
![image](https://user-images.githubusercontent.com/6330277/85573323-b1bda200-b62d-11ea-9de1-440d76de0540.png)

[2020-06-24 14:16] pixiemediaweb commented on #28270
should show;
![image](https://user-images.githubusercontent.com/6330277/85573372-bda96400-b62d-11ea-940a-d94fd16e8ce0.png)

[2020-06-24 14:17] sdzhepa commented on #27283
Hello @lbajsarowicz @okolesnyk @naydav

Guys, could you please summarize the final agreement about naming and other things in the description as clear requirements(expected result)?

It will really help to triage and prioritize this issue

Thank you in advance!

[2020-06-24 14:25] Serializator commented on #28871
Hi @TheRealHunzik,

I'm kinda in doubt whether this is an issue or more of a question which would be better suited on Stack Overflow.

Are your customisations not working because Magento is handling (for example) the `->where('archived = ?', ...)` incorrectly, and if so, do you have a way to reproduce the issue with the minimal steps necessary to do so?

Or are you trying to accomplish something t

[2020-06-24 14:26] sdzhepa commented on #26422
Hello @arsalanworld

Could you please clarify
- What value you have for [Account Sharing Options](https://docs.magento.com/user-guide/customers/account-scope.html)
- what exact Expected result should be? what does mean correct store
- why current behavior is incorrect?

Share Customer Accounts
--

Share Customer Accounts
--

[2020-06-24 14:41] pmarjan commented on #28834
PR: https://github.com/magento/partners-magento2ee/pull/285

[2020-06-24 15:00] sdzhepa commented on #28843
Hello @r32rf  and @engcom-Echo

Could you please provide more details about the issue?
- what the reason of such changes in steps to reproduce?
- How it impacts product or functionality?
- What functional flows are broken due to this issue?
- what is the business value?
- why expected result should be different?

[2020-06-24 15:00] Quinten opened #28875 "Youtube videos on simple products of configurable products cannot be played"
### Preconditions (*)

Magento Version 2.3.3
with Magento Blank Theme

### Steps to reproduce (*)

1. Create a configurable product with swatches.
2. Add a youtube video to at least 2 of the simple products derived from the configurable product.
3. Go to the product detail page of the configurable product.
4. Click on the first swatch. This adds a video thumb to the gallery.
5. Click the thumb and

[2020-06-24 15:21] arsalanworld commented on #26422
@sdzhepa sure:
**1**. What value you have for Account Sharing Options --> **Per Website**
**2**. what exact Expected result should be?  --> The store view should stay same after login, it should not change back to default store view. For instance there are 2 stores on a website en(default store view) and fr. At login page customer changes from en store view to FR. and enters credentials and try lo

[2020-06-24 15:29] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:30] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:30] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:31] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:32] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:32] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:33] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:33] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:34] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:34] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:35] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:35] magento-engcom-team commented on #28748
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35315).

[2020-06-24 15:46] pmarjan commented on #26114
@0-Sony can you please add steps to reproduce the [mgz_pagebuilder] case?

It seems to me, that having a pagebuilder of a certain kind, yes it is adding custom shortcodes, but, I get to see the correct content in the graphql response.

Eg. if content is added in backend like
`<p>&lt;p&gt;[mgz_pagebuilder]content[/mgz_pagebuilder]&lt;/p&gt;</p>`

exactly the same content is what I see in the respon

[2020-06-24 15:53] mrtuvn commented on #28849
actually this case we should use click instead hover
Change to hover can do with a few change in css/js Hover is possible but i don't see better benefits than click approach
In mobile first hover is no need because user will need touch anyway

Menus should open when the user has made a clear decision to open it

[2020-06-24 16:03] swathishs commented on #28270
@pixiemediaweb : The issue is reproducible in Magento 2.4 develop instance. Can you let me know which scenario ur getting this URL?
I got one scenario after adding that blue product to the cart and click on edit from cart page its redirect to update pdp page. The tier price is not shown.
![image](https://user-images.githubusercontent.com/58288685/85590696-3fb38000-b662-11ea-8a15-f3c2768b0239.png)

[2020-06-24 16:09] pixiemediaweb commented on #28270
We use it to improve configurable product usability, carrying the selected option in a list to the product page.   But it's functionality that already exists in the native file;

/vendor/magento/module-swatches/view/base/web/js/swatch-renderer.js

Look for function _getSelectedAttributes: function () { .... }

I believe the same functionality is being used when returning to the product from the ca

[2020-06-24 16:13] swathishs commented on #28270
Can we change the title to "Configurable product with swatches, doesn't show tier pricing when we redirect to update product page via edit button from cartpage "

[2020-06-24 16:32] seansan commented on #28849
Reduce clicks where possible. And this case is about desktop. Hover to show
content why else would you point the mouse to left nav?

On Wed, 24 Jun 2020 at 17:53, Tu Nguyen <notifications@github.com> wrote:

[2020-06-24 16:36] swathishs commented on #28270
The issue is reproducible in Magento 2.4 develop instance

Please find the attachment below:

1. Product detail page with tier price product:
![pdp](https://user-images.githubusercontent.com/58288685/85593185-6f638780-b664-11ea-81ec-b3180de03945.png)

2. Mini cart:
![mini](https://user-images.githubusercontent.com/58288685/85593402-a0dc5300-b664-11ea-9124-ea83b82cfd3a.png)

3. Update product detai

[2020-06-24 16:49] navarr commented on #28763
@PromInc: I also encourage opening a support ticket with Vertex directly if possible.  They like to track these issues and it'll help ensure it gets properly prioritized.

[2020-06-24 16:51] PromInc commented on #28763
@navarr I appreciate the suggestion.  Do you have a recommendation as to how/where I open a ticket with them?  Through my client admin or do they have a repo/support channel for the Magento portion?

[2020-06-24 16:52] maynard321 commented on #25177
New to this, so forgive me if I'm barking up the wrong tree.
It seems that that error comes in the logic of checking **!$order->canShip()**  - this whole section is asking "is something wrong", and "it can't ship" is being thought of as "yes, something is wrong". However, the test **"isVirtual"** is included in the **canShip** testing, and while every other part of **canShip** is "something is wro

[2020-06-24 16:55] rani-priya opened #28878 "Not getting correct attribute code, label value of price type attribute in aggregations data of products GraphQl response"
### Preconditions (*)

1. Magento version: 2.3.5 -p1
2. Php version: 7.3.19

### Steps to reproduce (*)

1. create a price type product attribute at backend and set "Use in Layered Navigation" as "Filterable (with results)"
2. assign newly created attribute to attribute set
3. Fill newly created attribute for some products
4. Then check products query response aggregations data in graphql

### Exp

[2020-06-24 17:02] magento-engcom-team commented on #28270
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35432` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-24 17:04] PromInc commented on #28763
Also of note, I tested with a 2nd customer who has one saved address in California - a non-taxed state for our Vertex configuration.  That customer did not have issues.

In this block of code:
[code]

_Customer 1_ Billing Address is a **non**-taxable state:
[code]

_Customer 2_ Billing Address is a taxable state:
[code]

Change Billing Address for _Customer 2_ to a **non**-taxable state:
[code]

[2020-06-24 17:09] sdzhepa commented on #28484
Hello @renard123 and @krishprakash

I just checked this issue on the lates **2.3.5-p2** code - this version will be released and public available soon.

This issue is not reproduced and seems was fixed.
Please confirm it after release **2.3.5-p2** or reopen this issue

[2020-06-24 17:09] #28484 closed, assigned to nobody

[2020-06-24 17:09] magento-engcom-team commented on #28484
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34826).

[2020-06-24 17:10] magento-engcom-team commented on #28484
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34826).

[2020-06-24 17:10] magento-engcom-team commented on #28484
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34826).

[2020-06-24 17:11] magento-engcom-team commented on #28484
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34826).

[2020-06-24 17:11] magento-engcom-team commented on #28484
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34826).

[2020-06-24 17:12] magento-engcom-team commented on #28484
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34826).

[2020-06-24 17:12] srsathish92 commented on #28270
@magento I am working on this

[2020-06-24 17:12] sdzhepa commented on #28256
Hello @pointia and @ajijshekh123

I can confirm that issue has been fixed and ported to 2.3.5
The fix will be available with the next release of 2.3.5-p2 version

[2020-06-24 17:12] #28256 closed, assigned to nobody

[2020-06-24 17:12] magento-engcom-team commented on #28256
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34406).

[2020-06-24 17:13] magento-engcom-team commented on #28256
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34406).

[2020-06-24 17:13] magento-engcom-team commented on #28256
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34406).

[2020-06-24 17:14] magento-engcom-team commented on #28256
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34406).

[2020-06-24 17:14] magento-engcom-team commented on #28256
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34406).

[2020-06-24 17:15] magento-engcom-team commented on #28256
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34406).

[2020-06-24 17:31] navarr commented on #28763
@PromInc:

Please send as much detail as possible to cloudsupport@vertexinc.com; include your company name (the Vertex customer) and contact information.

Thank you for that additional detail.  It looks like somehow we're not setting baseAppliedTaxes when we should be.  Is your Magento configuration setup to charge tax based on the original price or the custom price?

[2020-06-24 17:49] PromInc commented on #28763
Thank you for the support contact info.

I am configured for **Custom price if available**

[code]

![image](https://user-images.githubusercontent.com/7319505/85606699-073b8400-b619-11ea-8127-228f05a2561b.png)

[2020-06-24 19:13] Serializator commented on #28860
@magento give me 2.4-develop instance

[2020-06-24 19:13] magento-engcom-team commented on #28860
Hi @Serializator. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-24 19:15] magento-engcom-team commented on #28860
Hi @Serializator, here is your [Magento instance](https://i-28860-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28860-2-4-develop.instances.magento-community.engineering/admin_766c](https://i-28860-2-4-develop.instances.magento-community.engineering/admin_766c)
Login: `e3f87154` Password: `55ea7d3052fb`
Instance will be terminated in up to 3 hours.

[2020-06-24 19:42] Serializator commented on #28860
I was able to successfully reproduce thisin the 2.4-develop branch.

@magento I am working on this

[2020-06-24 20:15] Serializator commented on #28860
I seem to be able to reproduce this without any customisable options as well, simply with the configurable options.

[2020-06-24 21:31] VladimirZaets commented on #28858
@magento confirm issue

[2020-06-24 21:35] VladimirZaets commented on #28858
@magento confirm issue

[2020-06-24 21:36] magento-engcom-team commented on #28858
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-35438) is successfully created for this issue.

[2020-06-24 21:37] magento-engcom-team commented on #28858
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35438.

[2020-06-24 21:43] VladimirZaets commented on #28858
@magento confirm issue

[2020-06-24 21:43] VladimirZaets commented on #28858
@magento confirm issue

[2020-06-24 21:44] magento-engcom-team commented on #28858
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35438.

[2020-06-24 21:44] magento-engcom-team commented on #28858
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35438.

[2020-06-24 21:45] maynard321 commented on #27590
The file \vendor\magento\module-downloadable\Observer\SetLinkStatusObserver.php has the correct logic to do this
in 2.3.5:
[code]
But there is a problem: $item=>getId() returns null, and so the logic fails because the $downloadableItemsStatuses array is useless

[2020-06-24 21:49] #28858 closed, assigned to nobody

[2020-06-24 21:49] VladimirZaets opened #28880 "TEST 32"
`dsdsdsdsd`

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Con

[2020-06-24 21:49] VladimirZaets commented on #28880
@magento confirm issue

[2020-06-24 21:50] magento-engcom-team commented on #28880
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-35439) is successfully created for this issue.

[2020-06-24 21:53] VladimirZaets commented on #28880
@magento confirm issue

[2020-06-24 21:54] magento-engcom-team commented on #28880
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35439.

[2020-06-24 22:00] VladimirZaets commented on #28880
@magento export issue to JIRA

[2020-06-24 22:05] VladimirZaets commented on #28880
@magento confirm issue

[2020-06-24 22:07] magento-engcom-team commented on #28880
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35439.

[2020-06-24 22:22] VladimirZaets commented on #28880
@magento export issue to JIRA

[2020-06-24 22:23] magento-engcom-team commented on #28880
:x: Cannot export the issue. This issue is already linked to Jira issue(s): https://jira.corp.magento.com/browse/MC-35439.

[2020-06-25 00:00] magento-engcom-team commented on #27051
Hi @MLucaciu. Thank you for your report.
The issue has been fixed in magento/magento2#27369 by @jiten-patel in 2.4-develop branch
Related commit(s):
 - [b06db1f34b6799255a1cc7f596e21190ebaec7f2](https://github.com/magento/magento2/commit/b06db1f34b6799255a1cc7f596e21190ebaec7f2)
 - [aaa7054cd1e679bcba32c2311a3e547a52c2d590](https://github.com/magento/magento2/commit/aaa7054cd1e679bcba32c2311a3e547

[2020-06-25 00:00] #27051 closed, assigned to nobody

[2020-06-25 02:30] cpartica commented on #28835
please link the PR as this is PR In Progress  status

[2020-06-25 02:30] cpartica commented on #28833
please link the PR as this is PR In Progress status

[2020-06-25 02:36] cpartica commented on #28769
we need to find a unique way to link EE PRs

[2020-06-25 03:51] #28880 closed, assigned to nobody

[2020-06-25 03:51] VladimirZaets opened #28881 "TEST 33"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-25 03:52] VladimirZaets commented on #28881
@magento confirm issue

[2020-06-25 03:52] magento-engcom-team commented on #28881
:white_check_mark: Confirmed by @VladimirZaets
Thank you for verifying the issue. Based on the provided information internaltickets MC-35445 were created

'**Issue Available**: @%s, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._'

[2020-06-25 04:20] magento-engcom-team commented on #22431
Hi @aschrammel. Thank you for your report.
The issue has been fixed in magento/magento2#28483 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [a922551cedec33ab3f831590fa5c5a97ff90d470](https://github.com/magento/magento2/commit/a922551cedec33ab3f831590fa5c5a97ff90d470)
 - [beb41d03ca35b6a423f546f31149df57124475bb](https://github.com/magento/magento2/commit/beb41d03ca35b6a423f546f311

[2020-06-25 04:20] #22431 closed, assigned to engcom-Charlie

[2020-06-25 05:34] bhupendravgroup commented on #15131
I am getting the same issue.please let me know if anyone has fixed it.

[2020-06-25 05:48] VadimLugovoy commented on #8522
I don`t know is it fixed or no yet, but on 2.3.4-p2 version this bug still happens.
I see that there is no even any check for control visibility (active/disable) of this button - https://prnt.sc/t61fc7
in file vendor/magento/module-vault/view/frontend/web/template/payment/form.html

[2020-06-25 06:07] NickeGilbert commented on #4325
Hi!

Have anyone found a solution to this problem?
I tried the "Disable Email Communications" to yes in Magento 2 ( Stores > Configuration > Advanced > System > Mail Sending Settings > Disable Email Communications). But without success.

I'm sending my bug report. Hope that anyone can find a solution to this.

`
Trace: <pre>#1 Magento\Newsletter\Model\Subscriber\Interceptor->subscribe('niklas.john

[2020-06-25 06:22] LiamKarlMitchell commented on #7877
Fix it fix it fix it fix it.

[2020-06-25 06:23] LiamKarlMitchell commented on #28274
So I think there should only be 1 store view.
How can I get rid of default/admin and just have 1 for both?

[2020-06-25 06:28] ghost opened #28882 "Magneto 2.3 unable to subscribe to newsletter"
I'm using Ubuntu 18.04 using php 7.3.15 and my Magneto 2 version is 2.3.3

Users that try to subscribe to our newsletter get the error: "Something went wrong while saving your subscription." Same error occurs for both logged in users and not logged in users.

The wierd thing is that I can add them from the Admin Panel.

I have tried disabling all modules and our custom theme but it stil gives the

[2020-06-25 06:28] r32rf commented on #28843
@sdzhepa please read title of issue.

[2020-06-25 06:48] engcom-Delta commented on #23631
@deepjoshi94 , @TaniRay123  I'm not able to reproduce issue on clean 2.4-develop.
![Peek 2020-06-25 09-44](https://user-images.githubusercontent.com/51681379/85669549-9fdd0d00-b6c8-11ea-8239-75e35068f0bf.gif)
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still fa

[2020-06-25 06:48] #23631 closed, assigned to pradeep-wagento, engcom-Delta

[2020-06-25 06:56] swathishs commented on #28873
@brianpittvps : Thank you for your report. For GitHub issue tracker is for Magento core technical issues only
Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

Hence closing the issue

[2020-06-25 06:56] #28873 closed, assigned to swathishs

[2020-06-25 06:58] swathishs commented on #28825
@rahmanQaiser : Thank you for your report. For GitHub issue tracker is for Magento core technical issues only
Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

Hence closing the ticket

[2020-06-25 06:58] #28825 closed, assigned to swathishs

[2020-06-25 06:58] LiamKarlMitchell commented on #22094
How do we fix this?
```The stock item was unable to be saved. Please try again.```
Is there a table I need to clear out in Magento?

[2020-06-25 06:58] swathishs commented on #28875
@magento give me 2.4-develop instance

[2020-06-25 07:00] magento-engcom-team commented on #28875
Hi @swathishs, here is your [Magento instance](https://i-28875-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28875-2-4-develop.instances.magento-community.engineering/admin_bbfc](https://i-28875-2-4-develop.instances.magento-community.engineering/admin_bbfc)
Login: `b59ad243` Password: `7091ca18a39e`
Instance will be terminated in up to 3 hours.

[2020-06-25 07:12] djixas commented on #22094
Migrate from Magento 2 to something that works :) we're not using this buggy 3-year old still buggy and slow trash

[2020-06-25 07:28] swathishs commented on #28875
@Quinten : The issue is not reproducible in Magento 2.4 develop instance. Please find the attachment below:
![2diX5p7Jrv](https://user-images.githubusercontent.com/58288685/85675028-fc4d2600-b6e2-11ea-8259-1b940889b35a.gif)

[2020-06-25 07:31] frostblogNet commented on #28318
@mageto @magento-engcom-team  please review again

[2020-06-25 07:34] Quinten commented on #28875
@swathishs Thank you!

I will have to look further then...

[2020-06-25 07:47] ericmorand opened #28883 "How can we document factories to enforce code quality"
Hi Magento 2 community.

I can't find a way to provide documentation for factories in Magento 2. They are generated classed, which mean that at source-level, we can use them reliably since we don't know what they implements, what they returns and how they are named.

Is there a way to document them? In their current state, they are unusable since they can't be tested as part of a code quality proc

[2020-06-25 08:00] swathishs commented on #28883
@ericmorand : Thank you for your report .For GitHub issue tracker is for Magento core technical issues only
Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

[2020-06-25 08:12] insaneCreations commented on #6826
We still have this issue on 2.3.4, and in our case the customer have the problem as well.. so if you Autofill the fields and afterwards want to change the country, the system echo's that country is required.. which is strange because it has value..

![Schermafbeelding-2020-06-25-om-09 59 58](https://user-images.githubusercontent.com/25158886/85681359-7ffb1880-b6cb-11ea-881a-4c53adbc5063.jpg)

We a

[2020-06-25 08:37] #28883 closed, assigned to swathishs

[2020-06-25 08:49] maynard321 commented on #27590
Ignore that, SetLinkStatusObserver is called in the purchase process but does nothing because the items have not been saved.
SaveDownloadableOrderItemObserver is where the fix lies.
Changing:
[code]
to
[code]
seems to work.
An order will only be PROCESSING when it has been invoiced, so it makes sense to allow the download. $orderStatusToEnableItem can only be PENDING or PROCESSING.

[2020-06-25 08:54] chesuch-smarte opened #28884 "Product update via Rest Bulk Endpoint - unsets prices"
### Summary (*)

I have built several scripts that perform the following tasks in this order via scheduled cron jobs:

1. Import new products, update existing products
    uses bulk endpoint and "default" store (http://host-url/rest/**default**/async/bulk/V1/products)
2. Import products prices
    uses base-price and special price rest api
3. Import products stocks
    uses inventory/source-items

[2020-06-25 09:53] Eddcapone opened #28885 "Add new filter "product type" to section where we can add products to a category"
### Description (*)
Magento 2.4
I just added a new category and now I have to add products to it.
The products I need to add to the category, are configurable products and start with the name "Spannrahmen".

**Problem**: There are also thousands of simple products starting with "Spannrahmen", and so I can't find the configurable product fast enough, and it is extremly laborious task, because of al

[2020-06-25 10:09] ericmorand commented on #28883
@swathishs , this is a dev experience issue.

And the issue is deeply linked to the Magento framework, not some good practice.

The question remains: how can we ensure code quality with classes that you recommend to use and that don't exist?

[2020-06-25 10:11] seansan commented on #24816
This is an enormously important issue. How great that you are also on this track. We are curently working out a complete closed-loop diagram to finalize the backorder process.

One of the elements is a "can I ship it now" process that check if MSI contains enough stock to ship. When an order enters the system with 1 item from MSI and 1 item in backorder, then
- the order should receive a flag cont

[2020-06-25 10:11] seansan commented on #24816
Backorders really needs some attention from the M2 team! There are some bugs in 2.3.5 + because of MSI some things have changed

[2020-06-25 10:11] themystery404 commented on #28861
@swathishs it's not duplicate - it's the same issue, but for not registered user in the guest page  http://example.com/sales/guest/shipment/order_id/123456/

Shipment is printing, but in your logs you can see an error PHP Fatal.

Try to print your shipment for not registered user from storefront

[2020-06-25 10:22] #28875 closed, assigned to swathishs

[2020-06-25 10:37] swathishs commented on #28861
@magento give me 2.4-develop instance

[2020-06-25 10:37] magento-engcom-team commented on #28861
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-25 10:38] magento-engcom-team commented on #28861
Hi @swathishs, here is your [Magento instance](https://i-28861-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28861-2-4-develop.instances.magento-community.engineering/admin_d7cc](https://i-28861-2-4-develop.instances.magento-community.engineering/admin_d7cc)
Login: `c9cf5d5b` Password: `03c4fa23c05e`
Instance will be terminated in up to 3 hours.

[2020-06-25 10:41] magento-engcom-team commented on #23601
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35452` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-25 11:15] engcom-Charlie commented on #20846
Hello @paul-blundell @sdzhepa
This issue looks like a feature request.
@sdzhepa could you transfer this issue to the Feature requests repository?
Thanks for your collaboration!

[2020-06-25 11:21] girishanand commented on #28161
Since this ticket is still open so I comment here.
There is still an issue since on selecting the payment method on checkout the Api will still be fired which is okay for payment methods like **Cash on Delivery**, **Check / Money order** which does not require any input but for Payment method like  **Purchase Order** or Custom payment method Credit Card api call will throw 400 error as they requir

[2020-06-25 11:34] seansan opened #28886 "Add new order atrtibute contains_bo to list orders that do or dont contain at least 1 backordered item"
### Description (*)
Backorders did not work correctly in 2.3.x versions related to this issue https://github.com/magento/inventory/pull/2452. As a result backorder items (inside an order) are not distinguisable. As a further result orders that do or dont contain backorders cannot be filtered in the order grid. Orders that do and do-bot contain backorder items are treated *differently* in any ecomm

[2020-06-25 11:46] krishprakash commented on #28882
@magento give me 2.4-develop instance

[2020-06-25 11:46] magento-engcom-team commented on #28882
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-25 11:48] magento-engcom-team commented on #28882
Hi @krishprakash, here is your [Magento instance](https://i-28882-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28882-2-4-develop.instances.magento-community.engineering/admin_46c1](https://i-28882-2-4-develop.instances.magento-community.engineering/admin_46c1)
Login: `ebe9cb49` Password: `7605fb2824c5`
Instance will be terminated in up to 3 hours.

[2020-06-25 12:04] alexmtch opened #28887 "EE - Company Address validation wrong process on region_id validation"
### Preconditions (*)

1. Magento EE 2.3.4-p2
2. Enable B2B features and Company registrations

### Steps to reproduce (*)

1. Create a company account without set the region (as the region field is not required)

### Expected result (*)

1. The account is created

### Actual result (*)

1. This error is printed : Invalid value of "" provided for the region_id field.

### How to fix
In the file ve

[2020-06-25 12:10] krishprakash commented on #28882
Hi @NickeGilbert. Thank you for your report.
Not able to reproduce the issue as you mentioned, It should be any of your custom module issue.
GitHub issue tracker only intended for magento core technical issues only, Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) to general discuss about this.

[2020-06-25 12:10] #28882 closed, assigned to krishprakash

[2020-06-25 12:17] magento-engcom-team commented on #23638
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35455` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-25 12:30] swathishs commented on #28887
Hi @alexmtch . Since we should enable  B2B features is available in Magento EE.So all issue specific for Magento EE should be reported in the EE repo

@sdzhepa - It seems this issue specific for Magento EE and should be fixed in the EE repository.

EngCom team, please confirm and transfer this issue too-
https://github.com/magento/partners-magento2ee/issues

Closing this issue

[2020-06-25 12:30] #28887 closed

[2020-06-25 13:06] gwharton opened #28889 "JS Checkout - Shipping information not updated in quote object when method changed"
In one page checkout, step 1 shipping, when you change the shipping method, the quote object is not updated with updated shipping amounts. It is only updated when you move to step 2.

### Preconditions (*)
1. deploy 2.4-develop

### Steps to reproduce (*)
Backend
=======
[code]
Frontend
=======
Browse to test product
Add product to cart
Go to Checkout
Open developer tools -> Sources
Find and open

[2020-06-25 13:14] gwharton commented on #28889
I suspect this is by design as totals are only updated at the payment stage of the checkout, but it would be nice if the quote could reflect accurate information in step 1.

[2020-06-25 13:40] swathishs commented on #12707
@magento give me 2.4-develop instance

[2020-06-25 13:40] magento-engcom-team commented on #12707
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-25 13:41] magento-engcom-team commented on #12707
Hi @swathishs, here is your [Magento instance](https://i-12707-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-12707-2-4-develop.instances.magento-community.engineering/admin_9743](https://i-12707-2-4-develop.instances.magento-community.engineering/admin_9743)
Login: `824624c5` Password: `62b095d82f50`
Instance will be terminated in up to 3 hours.

[2020-06-25 14:07] swathishs commented on #28883
@ericmorand : Hi, for any discussion. Magento development/process improvement please use the Forum link https://github.com/magento/magento2/wiki/Issue-reporting-guidelines. I'm sorry this is the best I could do and your ticket cannot be addressed in here.

Please refer to the [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](https://magento.stackexchange.com/) for tech

[2020-06-25 14:13] sdzhepa commented on #28887
Hello @alexmtch

Thank you for your contribution and collaboration!

I moved this issue into  [Magento Commerce(b2b) private repository](https://github.com/magento/partners-magento2b2b/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aim

[2020-06-25 14:15] engcom-Echo commented on #27592
I'm closing this Issue because the decision already exists - https://github.com/magento/magento2/search?q=MC-33843&type=Commits

[2020-06-25 14:15] #27592 closed, assigned to nobody

[2020-06-25 14:15] engcom-Echo commented on #27587
I'm closing this Issue because the decision already exists - https://github.com/magento/magento2/search?q=MC-33843&type=Commits

[2020-06-25 14:15] #27587 closed, assigned to nobody

[2020-06-25 14:19] koushikch7 commented on #5820
Issue persistent with Magento 2.3.0 as well
The registration page and customer login page validation messages are not translating.

[2020-06-25 14:43] gwharton commented on #28889
I can resolve it with the following override

app/code/vendor/module/view/frontend/requirejs-config.js
[code]

app/code/vendor/module/view/frontend/js/shipping-method
[code]

It calls setShippingInformationAction after the shipping method change has been applied. It does however result in an ajax call back home everytime the shipping method is changed. It would be nice to be able to do it without

[2020-06-25 14:50] magento-engcom-team commented on #26587
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35477` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-25 14:52] swathishs commented on #12707
@magento give me 2.3.5-p1 instance

[2020-06-25 14:52] magento-engcom-team commented on #12707
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-25 14:53] magento-engcom-team commented on #12707
Hi @swathishs, here is your [Magento instance](https://i-12707-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-12707-2-3-5-p1.instances.magento-community.engineering/admin_0cc5](https://i-12707-2-3-5-p1.instances.magento-community.engineering/admin_0cc5)
Login: `3f5dd38a` Password: `2f94e78cc687`
Instance will be terminated in up to 3 hours.

[2020-06-25 14:55] sskharate commented on #27681
For anyone to come across this issue, here is the quick code to copy. Thanks to @Arsalanulhaq
[code]

[2020-06-25 15:01] gwharton commented on #28889
I'm gonna close this as it isnt required for core, and thats a pretty neat workaround for me above.

[2020-06-25 15:01] #28889 closed, assigned to nobody

[2020-06-25 15:38] rigroweb commented on #8786
This is definetely still an issue and can be easily reproduced. please reopen.

[2020-06-25 16:14] DrewML commented on #28257
Thanks for opening this up @paales! @cpartica and I were talking on Slack a bit about this earlier, because the question of nullability has come up _a lot_ lately in PR reviews between myself and @paliarush.

I've been meaning to throw up a document for review with some rough guidelines for us to follow moving forward - at least as a starting place. This issue pushed me to finally get that going

[2020-06-25 16:15] hostep commented on #8786
@rigroweb: it might be better to open a new issue detailing exact steps to reproduce, commenting on old already-closed issues usually has no effect (especially since most contributors - like myself - no longer have the rights to re-open issues for some reason)

[2020-06-25 16:17] rigroweb commented on #8786
Thank you. I will do exactly that.

On Thu, Jun 25, 2020 at 12:15 PM Pieter Hoste <notifications@github.com>
wrote:

[2020-06-25 16:18] munkhulzii commented on #28566
With this ticket it will be implemented GraphQl for Related, UpSell and CrossSell Products from Marketing Rule.

[2020-06-25 16:38] cpartica commented on #28257
While I did not actually worked on this, but Git said I was, found this interesting comment that explains some situations why we should not add mandatory non nullable to anything [FixedProductTax!] or [Website!]!
Also good for extensibility
https://github.com/magento/architecture/pull/381#discussion_r431408317

[2020-06-25 16:51] VadimLugovoy commented on #8522
@joni-jones , let me know please, does it fixed in any version?

[2020-06-25 17:06] forfin opened #28892 "Disable product that relate to another product make graphql break when query."
### Preconditions (*)

1. Magento Open Source 2.4-develop,  2.3.5-p1 fresh install

### Steps to reproduce (*)

1. Create first product (name: test-01).
2. Create another product (name: test-02). + Add test-01 as related products
3. Disable product test-01
4. Send graphql request to get relate product
[code]
* Graphql format
[code]

### Expected result (*)

1. json response with no error
[code]

#

[2020-06-25 17:43] marciomaciel commented on #28253
@nrkapoor Are you also creating the backport for 2.3 or just the fix for 2.4?

[2020-06-25 18:13] sdzhepa commented on #26133
![2020-06-25_13-10-19](https://user-images.githubusercontent.com/3409584/85775730-ac239300-b6e5-11ea-8700-7f1a510ae61e.jpg)
---

![2020-06-25_13-10-59](https://user-images.githubusercontent.com/3409584/85775767-b47bce00-b6e5-11ea-8252-f4c1187e8dcf.jpg)

[2020-06-25 18:17] Nicerova7 commented on #2241
Hello,

Any update about this topic ?

[2020-06-25 18:30] sdzhepa commented on #26021
Based on the latest comments, it seems this issue is not reproducible anymore.

[2020-06-25 18:30] #26021 closed, assigned to nobody

[2020-06-25 19:05] WilliejanB commented on #20352
Hi, I use Magento ver. 2.3.5-p1 and this issue still excists. Please let me know how I can solve this!

[2020-06-25 19:38] sdzhepa commented on #28861
@magento give me 2.4-develop instance

[2020-06-25 19:38] magento-engcom-team commented on #28861
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-25 19:40] magento-engcom-team commented on #28861
Hi @sdzhepa, here is your [Magento instance](https://i-28861-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28861-2-4-develop.instances.magento-community.engineering/admin_40d3](https://i-28861-2-4-develop.instances.magento-community.engineering/admin_40d3)
Login: `7c77698e` Password: `d8a5f62c9535`
Instance will be terminated in up to 3 hours.

[2020-06-25 19:59] sdzhepa commented on #28861
Hello @themystery404
fyi: @swnsma

I am also not able to reproduce this on the lates `2.4-develop` code.
It seems the issue was already fixed and we can close this report and related PR

### Precondition
- create simple product
- place order with this simple product on Storefront as Guest Customer(e.g. Order id 000000001)
- Go to Admin Panel and create Shippment for this order

### Steps
1. Go to

[2020-06-25 19:59] #28861 closed, assigned to themystery404, swathishs

[2020-06-25 20:04] amjadmapparel commented on #28871
@magento give me 2.3.5 instance

[2020-06-25 20:05] magento-engcom-team commented on #28871
Hi @amjadmapparel. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-06-25 20:06] magento-engcom-team commented on #28871
Hi @amjadmapparel, here is your [Magento instance](https://i-28871-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-28871-2-3-5.instances.magento-community.engineering/admin_96b0](https://i-28871-2-3-5.instances.magento-community.engineering/admin_96b0)
Login: `2f812fb2` Password: `4bc34c6acaf9`
Instance will be terminated in up to 3 hours.

[2020-06-25 20:56] sdzhepa commented on #26432
Verified this issue on the lates `2.4-develop`

### Steps
1. Create a Simple product for test with base price 100 and custom option 50%

![2020-06-25_15-47-23](https://user-images.githubusercontent.com/3409584/85794327-0d566100-b6fc-11ea-8fbd-328f9ea1cb58.jpg)

2. Enable additional currency e.g. Euro

![2020-06-25_15-49-14](https://user-images.githubusercontent.com/3409584/85794381-25c67b80-b6fc-1

[2020-06-25 21:04] sdzhepa commented on #26324
Issue cannot be reproduced and seems it was fixed and delivered in https://github.com/magento/magento2/pull/26185

[2020-06-25 21:04] #26324 closed, assigned to gulshanchitransh

[2020-06-25 21:19] sdzhepa commented on #25801
Looks like as
Duplicate of #24060

[2020-06-25 21:29] sdzhepa commented on #25735
Hello @devchris79

This issue was completely fixed and will be available in the next 2.4.0 release

Google reCapctha functionality was moved into new [security-package ](https://github.com/magento/security-package)
And was significantly refactored and partially reworked.
Now we have separate input fields per each reCAPCTCHA types and a different set of settings for Admin and Storefront

![2020-06-

[2020-06-25 21:29] #25735 closed, assigned to nobody

[2020-06-25 21:50] sdzhepa commented on #25595
Still actual on latest `2.4-develop`

![issue_25595](https://user-images.githubusercontent.com/3409584/85798919-f74c9e80-b703-11ea-9d82-c7cf66346476.gif)

[2020-06-26 01:30] ashishsaxena84 commented on #26178
@salehawal
I got the same issue
My magento version is 2.3.4 and also my theme is Sm/etrostore
Did you find the solution yet

[2020-06-26 04:53] LiamKarlMitchell commented on #26949
Is there a fix for this?

[2020-06-26 06:29] swathishs commented on #26616
Hello @zkliouel,
Thank you for your report.
This issue is duplicate to #https://github.com/magento/magento2/issues/25687 and already discussed many times.
You can track the conversation from the above issue id.
The issue  will be transferred to the feature requests repository- [(Comment)](  https://github.com/magento/magento2/issues/25687#issuecomment-558106200)

[2020-06-26 06:29] #26616 closed, assigned to swathishs

[2020-06-26 07:09] swathishs commented on #27280
Hello @lbajsarowicz,
Thank you for your report.
This issue is duplicate to #https://github.com/magento/magento2/issues/28793 and already in rev for dev stage

Hence closing the issue

[2020-06-26 07:09] #27280 closed, assigned to swathishs

[2020-06-26 07:10] rvitaliy opened #28897 "Support for PHP 8.0"
Hi, PHP 8.0 is planned for release in november 2020. It would be nice to see Magento 2.4 support it on release date.
Today the alpha1 is already available, so we can start to test it in CI tests.

https://wiki.php.net/todo/php80
https://twitter.com/official_php/status/1276198231714783232?s=20

[2020-06-26 07:21] TheRealHunzik commented on #28871
Hello @Serializator  I have tried the same thing with using layout condition

    public function afterSearch($subject, $collection)
    {
        if($collection instanceof OrderCollection) {

                $collection->getSelect()->where('archived = ?', 0);
                $collection->clear()->load();
          }
          return $collection;
        }

By this code i can Filter Order Grid per

[2020-06-26 07:26] gallyamov commented on #28833
PR: https://github.com/magento/partners-magento2ee/pull/281

[2020-06-26 07:27] gallyamov commented on #28835
PR: https://github.com/magento/partners-magento2ee/pull/284

[2020-06-26 07:57] swathishs commented on #28344
Hello @VZeroCool ,
Thank you for your report.
This issue is duplicate to #https://github.com/magento/magento2/issues/26333 and already in ready for dev stage

Hence closing the issue

[2020-06-26 07:57] #28344 closed, assigned to swathishs

[2020-06-26 08:12] swathishs commented on #28897
@rvitaliy : Thank you for your report. For GitHub issue tracker is for Magento core technical issues only
Kindly refer to Community [Forums](https://community.magento.com/ )  or [Magento Stack Exchange](https://magento.stackexchange.com/) for technical questions, feature requests, etc.

[2020-06-26 08:43] magento-engcom-team commented on #23414
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35495` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-26 08:44] engcom-Echo commented on #28700
@magento give me 2.4-develop instance

[2020-06-26 08:44] magento-engcom-team commented on #28700
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-26 08:45] magento-engcom-team commented on #28700
Hi @engcom-Echo, here is your [Magento instance](https://i-28700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28700-2-4-develop.instances.magento-community.engineering/admin_5fae](https://i-28700-2-4-develop.instances.magento-community.engineering/admin_5fae)
Login: `cc5a9e29` Password: `b56db6a71227`
Instance will be terminated in up to 3 hours.

[2020-06-26 08:51] magento-engcom-team commented on #28482
Hi @Ankush-Webkul, @chandu-pinpoint.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-34824` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other t

[2020-06-26 09:05] walterbak commented on #26786
@rahulthakral38 check in your custom code if there is at least one observer on a quote load event (in my case 'payment_method_is_active') that try to load quote from \Magento\Checkout\Model\Session (i.e. in __construct function). In this case the __constructor of your custom observer try to load quote inside ->getQuote session function, and generate this infinite loop error. So try to load quote f

[2020-06-26 09:13] sello30 commented on #4313
Hello, could you please help me, how I can bulk change on woocommerce all products to virtual products?

I did not find the weight "yes / no" button.

Thanks in advance.

[2020-06-26 09:25] engcom-Echo commented on #28700
Hi,  @ajijshekh123 @Yuwei9291. Unfortunately, I'm can't reproduce this issue, please provide more detailed steps to reproduce an issue.
I get the next result as per steps to be reproduced :
1) Generate a cart rule
2) Use offline payment available, for instance, Bank transfer or(and)
Another available payment method, such as paypal.

![Peek 2020-06-26 12-23](https://user-images.githubusercontent.co

[2020-06-26 09:32] speedupmate commented on #28161
Can core team just agree that it is a bad practice to do another ajax call after some ajax call is finished , effectively this is what this mixin does . And instead of this mixin create a plugin or observer for backend code to append it to existing results on the ajax call it tries to depend on.

[2020-06-26 09:39] Jamiebullock87 commented on #26882
This worked on magento 2.3.5 with the default magento email templates for anyone else waiting on 2.4 release

[2020-06-26 10:59] miguelaeh opened #28899 "Separation between logic and data to persist"
### Summary (*)

Hi,
I am a bitnami developer and I would like to know a bit more about the data directories. This is not actually an application issue, but a design question.
Some time ago we found some issues in our docker image because of the use of symlinks to persist some directories like the themes. Looking to the docs we didn't find references about the separation between the logic and the

[2020-06-26 12:09] swathishs commented on #27278
@magento give me 2.4-develop instance

[2020-06-26 12:09] magento-engcom-team commented on #27278
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-26 12:11] magento-engcom-team commented on #27278
Hi @swathishs, here is your [Magento instance](https://i-27278-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27278-2-4-develop.instances.magento-community.engineering/admin_35a0](https://i-27278-2-4-develop.instances.magento-community.engineering/admin_35a0)
Login: `fe4fc531` Password: `aea2172b975f`
Instance will be terminated in up to 3 hours.

[2020-06-26 12:25] magento-engcom-team commented on #28482
Hi @Ankush-Webkul, @chandu-pinpoint.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-34824` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other t

[2020-06-26 12:43] swathishs commented on #27278
@ioweb-gr : Since the issue described is like a feature request because in production mode Inline translation is hidden.
Please refer the doc:  [Magento  user guide](https://docs.magento.com/user-guide/system/translate-inline.html)
Production mode:
![image](https://user-images.githubusercontent.com/58288685/85858033-85925480-b7d8-11ea-863f-d36af0e350bf.png)

Hello @sdzhepa:
This issue looks like a

[2020-06-26 12:55] m2-assistant[bot] opened #28900 "[Issue] Move localstorage polyfill to frontend"
This issue is automatically created based on existing pull request: magento/magento2#28749: Move localstorage polyfill to frontend

---------
### Description (*)
Magento 2.4-develop
This PR moves localstorage polyfill from base to frontend area, based on the following feedback https://github.com/magento/magento2/pull/27619#issuecomment-642121163

/CC @krzksz @omiroshnichenko

### Expected behavior

[2020-06-26 13:01] magento-engcom-team commented on #28900
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35500` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-26 13:11] rvitaliy commented on #28897
This is a technical problem, in November we could not use the new version of PHP because your platform will be obsolete again.

I see that time passes but your bad habits don't change. see https://github.com/magento/magento2/issues/27227
If this is your approach to troubleshooting, I can't wait to stop using Magento.

Good job, bya!

[2020-06-26 13:19] engcom-Lima opened #29119 "Admin cannot login as customer in two different customers account"
### Preconditions (*)

1. Magento 2.4 CE
2. Login as Customer enabled
3. Two customers are created

### Steps to reproduce (*)

1. Go to Magento Admin -> Customers -> All Customers and open the first customer`s account to edit
2. Click on Login as Customer (twice)
3. Admin redirected to store view and login as the customer
4. Go to Magento Admin -> Customers -> All Customers and open the second cu

[2020-06-26 13:33] sdzhepa commented on #26388
@magento give me 2.4-develop instance

[2020-06-26 13:34] magento-engcom-team commented on #26388
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-26 13:35] magento-engcom-team commented on #26388
Hi @sdzhepa, here is your [Magento instance](https://i-26388-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26388-2-4-develop.instances.magento-community.engineering/admin_214a](https://i-26388-2-4-develop.instances.magento-community.engineering/admin_214a)
Login: `32045e15` Password: `d81241453877`
Instance will be terminated in up to 3 hours.

[2020-06-26 13:36] medialoungeml opened #28901 "Sitemap in robots.txt not store specific"
### Preconditions (*)

1. Magento CE 2.3.3
Magento 2.4 and 2.3.5-p1

### Steps to reproduce (*)

1. Create Second Web Site, Store and Store View
2. Go to Stores -> Configuration -> General -> Web
3. Set "Add Store Code to Urls" = "Yes" -> Save
4. Go to Stores -> Configuration -> Catalog -> XML Sitemap
5. Expand "Generation Settings" section
6. Set "Enabled" = "Yes"
7. Expand "Search Engine Submiss

[2020-06-26 13:37] magento-engcom-team commented on #27098
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35510` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-26 13:45] magento-engcom-team commented on #28811
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27617 by @krzksz in 2.4-develop branch
Related commit(s):
 - [4dc11772390da80b27fb04bad61afec11a3958ca](https://github.com/magento/magento2/commit/4dc11772390da80b27fb04bad61afec11a3958ca)
 - [a4eeff0d442f774e89a28e8cf4d3a896bdbe57e3](https://github.com/magento/magento2/commit/a4eeff0d442f774e89a28e8cf4d

[2020-06-26 13:45] #28811 closed, assigned to krzksz

[2020-06-26 13:55] sdzhepa commented on #26388
Hello @zexperto

I am not able to reproduce this bug now on the lates `2.4-develop` code
Probably it was already fixed.

### Steps
1. A simple product is created
2. Free shipping is enabled Configuration>SALES>Shipping Methods > Free Shipping
3. Two Stores are created with one website
![2020-06-26_8-40-46](https://user-images.githubusercontent.com/3409584/85864601-59e87d80-b78a-11ea-8e24-8de6e3f02

[2020-06-26 13:55] #26388 closed, assigned to mallikaverma, madhurajawat

[2020-06-26 14:00] alex-james commented on #28901
For anyone who encounters this issue, the workaround I have used is here: https://github.com/cogensoft-uk/magento-siite-specific-sitemap/tree/master/Cogensoft/Sitemap

[2020-06-26 15:38] magento-engcom-team commented on #28829
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35522` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-26 16:26] janvonquaeldich commented on #4299
The problem still persists in magento 2.3.5-p1

1. Navigate to Products -> Catalog
2. 953 products found, lots of configurable products with size
3. Change products per page to 200
4. above behaviour and no chance to reset the view other than the database glitch from @Lucky03

[2020-06-26 16:37] sdzhepa commented on #28897
Hello @rvitaliy

Thank you for your question!

Let me please provide some clarification.

For now, I have not heard during internal meetings and discuss any future plans for PHP 8.0 support.

But I am sure as soon as Magneto will have any roadmap/plans for this track, it will be announced through public media channels.

This public GitHub issue tracker is aimed at issues/bugs/improvements that rea

[2020-06-26 17:31] sdzhepa commented on #26091
![Issue_26091_gif](https://user-images.githubusercontent.com/3409584/85884785-cb372900-b7a8-11ea-8fb5-4e5c44bcc421.gif)

[2020-06-26 18:59] ajithkumar-maragathavel commented on #24571
@magento give me 2.3.4 instance

[2020-06-26 18:59] magento-engcom-team commented on #24571
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-06-26 19:01] magento-engcom-team commented on #24571
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-24571-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-24571-2-3-4.instances.magento-community.engineering/admin_4e69](https://i-24571-2-3-4.instances.magento-community.engineering/admin_4e69)
Login: `d85cf5c1` Password: `5dff328627f7`
Instance will be terminated in up to 3 hours.

[2020-06-26 19:48] DrewML commented on #26830
@danielrenaud Are you sure this issue is fixed? The OP mentioned:

Possible I'm reading it wrong, but it _looks_ like #27015 would only make this information available when you're adding an item _after_ it goes out of stock.

[2020-06-26 20:34] lumnn opened #28907 "Reduce usage of jQuery"
### Description (*)
jQuery was a standard across many websites. It's understandable why Magento is depending on this library.

However, the jQuery "lost" it's power due to browser supporting many of the jQuery functionalities out of the box with the standard DOM API.

Other issue, is that this large dependency on jQuery causes a difficulties with upgrading jQuery. Magento 2.4 uses a version (1.12.

[2020-06-27 03:20] magento-engcom-team commented on #27098
Hi @ajaykumar03. Thank you for your report.
The issue has been fixed in magento/magento2#28822 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [a209c510716a054efd8eab17374e85cb84f8a2e0](https://github.com/magento/magento2/commit/a209c510716a054efd8eab17374e85cb84f8a2e0)

The fix will be available with the upcoming 2.4.1 release.

[2020-06-27 03:20] #27098 closed, assigned to krishprakash, engcom-Charlie

[2020-06-27 06:04] Acmeel opened #28908 "Coupon code not working on mobile"
### Summary (*)

I have set up a coupon code for free shipping which works on Chrome and Edge. When I try on from an ipad or mobile device, it doesn't work. There is a blank error message and the code is not applied. Using Magento 2.3.1.
### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assess

[2020-06-27 06:13] #27568 closed, assigned to ajijshekh123

[2020-06-27 07:18] swathishs commented on #28908
@Acmeel : Could you please give some more details to recreate the issue

please make sure that you provided the following information:
Summary of the issue
Information on your environment
Steps to reproduce
Expected and actual results

[2020-06-27 10:40] francescorm commented on #15420
I have the same problem on  Magento versione 2.3.4. can you check or give us the solution?

[2020-06-27 11:09] lano-vargas opened #28909 "Reset Password Throw 404 (cms_noroute_index)"
### Preconditions (*)

* Magento2.3.5 instance.

### Steps to reproduce (*)

* Create a Customer login and logout.
* At login page  Click Forgot Your Password will take to .../customer/account/forgotpassword/
* Fill required details click Reset My Password. Will take to  .../customer/account/forgotpasswordpost/

### Expected result (*)
Success message !

### Actual result (*)
 Gives 404.

Loading

[2020-06-27 11:42] Serializator commented on #28909
@magento give me 2.4-develop instance

[2020-06-27 11:42] magento-engcom-team commented on #28909
Hi @Serializator. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-27 11:44] magento-engcom-team commented on #28909
Hi @Serializator, here is your [Magento instance](https://i-28909-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28909-2-4-develop.instances.magento-community.engineering/admin_c6cf](https://i-28909-2-4-develop.instances.magento-community.engineering/admin_c6cf)
Login: `aba47f49` Password: `b8d729bb74d5`
Instance will be terminated in up to 3 hours.

[2020-06-27 11:48] Serializator commented on #28909
@magento give me 2.3.5-p1 instance

[2020-06-27 11:48] magento-engcom-team commented on #28909
Hi @Serializator. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-27 11:50] magento-engcom-team commented on #28909
Hi @Serializator, here is your [Magento instance](https://i-28909-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28909-2-3-5-p1.instances.magento-community.engineering/admin_4533](https://i-28909-2-3-5-p1.instances.magento-community.engineering/admin_4533)
Login: `a4c7fecf` Password: `e4fb55c47e14`
Instance will be terminated in up to 3 hours.

[2020-06-27 11:52] lano-vargas commented on #28909
Thank you  @Serializator! @magento-engcom-team  Here is the result
![Screen Shot 2020-06-27 at 12 51 16](https://user-images.githubusercontent.com/3495481/85921558-f424f000-b874-11ea-8a58-f304a92a8687.png)

[2020-06-27 11:56] Serializator commented on #28909
Hi @lano-vargas, weirdly enough I wasn't able to reproduce the issue on either the 2.4-develop nor the 2.3.5-p1 instance. What exact steps do you take to reproduce this?

**What I tried**
- Create an account like you described in your first step to reproduce the issue
- Logout
- Navigate to the "Forgot Your Password" page
- Enter the e-mail I used and captcha
    - Submitted the form by clicking o

[2020-06-27 12:19] lano-vargas commented on #28909
@Serializator  Then your step should have taken you to https://i-28909-2-3-5-p1.instances.magento-community.engineering/customer/account/forgotpasswordpost/  which gives 404.

[2020-06-27 12:31] lano-vargas commented on #28909
hmmm I've just double check on my localhost instance 2.2.2 when I load the post url directly in the url ../customer/account/forgotpasswordpost/ it redirects to customer/account/forgotpassword/  as it's empty but on my 2.3.5 it just give a 404 instead of redirecting, but is this another should it redirect ?

[2020-06-27 12:56] Serializator commented on #28909
@lano-vargas, I think this is because `Magento\Customer\Controller\Account\ForgotPasswordPost` implements `Magento\Framework\App\Action\HttpPostActionInterface` and not `Magento\Framework\App\Action\HttpGetActionInterface` which is the request method your browser uses when navigating to a page.

`Magento\Framework\App\Action\HttpPostActionInterface` was (it seems) introduced in Magento 2.3 through

[2020-06-27 13:48] SewHappy58 commented on #26515
It also happens on Magento 2.3.5-p  It's very random and you have to clear cache to get it to go away.  It didn't happen on 2.3

[2020-06-27 14:04] lano-vargas commented on #28909
@Serializator I think  I've got a little bit confused with the 404 on the 2.3 in my case and I may not have explained the issue properly😅 . And Thanks for the info good to know. I am closing this as it's the expected behaviour. 👍

Thank you!

[2020-06-27 14:04] #28909 closed, assigned to nobody

[2020-06-27 15:30] swathishs commented on #28907
@lumnn : Thank you for your report. For GitHub issue tracker is for Magento core technical issues only
Kindly refer to Community Forums or Magento Stack Exchange for technical questions, feature requests, etc.

[2020-06-27 15:32] #28907 closed, assigned to swathishs

[2020-06-27 17:45] seansan opened #28910 "Massively improve Magento2 Admin UI / Use of space and screen, reduce # clicks for actions, remove useless headers - focus on data that is really needed by the admin"
### Description (*)
The Magento 2 admin theme looks a lot more modern, but OMG does it eat your screen pixels. Also some actions just take too many clicks to reach. It would also be great to have a omni-search menu where you enter the menu item you are looking for and it finds it instead of clicking through the whole menu. Why would a customer on the frontend have a search option to find a product

[2020-06-27 17:45] seansan opened #28911 "Massively improve Magento2 Admin UI / Use of space and screen, reduce # clicks for actions, remove useless headers - focus on data that is really needed by the admin"
### Description (*)
The Magento 2 admin theme looks a lot more modern, but OMG does it eat your screen pixels. Also some actions just take too many clicks to reach. It would also be great to have a omni-search menu where you enter the menu item you are looking for and it finds it instead of clicking through the whole menu. Why would a customer on the frontend have a search option to find a product

[2020-06-27 17:50] #27952 closed, assigned to sasha19957099

[2020-06-27 17:50] #28628 closed, assigned to gallyamov

[2020-06-27 17:50] #28580 closed, assigned to pmarjan

[2020-06-27 17:50] #28561 closed, assigned to michalderlatka

[2020-06-27 17:50] #28584 closed, assigned to munkhulzii

[2020-06-27 17:50] #28481 closed, assigned to atwixfirster

[2020-06-27 17:51] #28262 closed, assigned to atwixfirster

[2020-06-27 17:51] #28427 closed, assigned to atwixfirster

[2020-06-28 01:45] PsmIndia commented on #3650
Still same issue, when we add product it create unnecessary copy of product images in cache because of that its create disk space.

[2020-06-28 07:14] swathishs commented on #28911
@seansan : Thank you for the report. Since this issue has been created two times. Hence closing this ticket[ ID](https://github.com/magento/magento2/issues/28910).

[2020-06-28 07:14] #28911 closed, assigned to swathishs

[2020-06-28 07:17] andy17612 commented on #24696
@engcom-Charlie Do you have a solution? Thanks

[2020-06-28 10:11] atIOCrON commented on #10304
We have the same complaint. This is so annoying. We should be able to set out of stock AND still allow backorders because right now, if we enable backorders, our products must be shown in stock and then also syndicated to Google and other places as in stock when they're not.

[2020-06-28 14:27] gwharton commented on #28910
Totally agree with amount of wasted header space.

[2020-06-28 15:00] plastikschnitzer commented on #23627
Is this fixed in Magento 2.3.5-p1? For me its not working there, middle name is showing up in the customer administration only, not in the order overview, order detail page or the transactional email.

[2020-06-28 20:24] ryanfern86goa opened #28912 "Customer entity custom attribute website scope properties (customer_eav_attribute_website) not working as expected"
### Preconditions (*)

1. Magento version 2.3.4-p2

### Steps to reproduce (*)

1. Create 2 websites with one store each eg ( website A with store A and website B with store B)
2. Create a custom customer entity attribute (eg: id_card_number)
3. In website A with store A mark **id_card_number** with **is_visible** to **true**
4. In website B with store B mark **id_card_number** with **is_visible**

[2020-06-28 20:41] matthewhaworth commented on #7769
I'm also experiencing this exact issue in 2.3.5. It's particularly strange because it is removing the tax amount but this code has been here for five years... was it previously working by chance and another bug fix elsewhere has brought it to light?

[2020-06-28 21:15] matthewhaworth commented on #7769
@magento give me 2.4-develop instance

[2020-06-28 21:15] magento-engcom-team commented on #7769
Hi @matthewhaworth. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-28 21:17] magento-engcom-team commented on #7769
Hi @matthewhaworth, here is your [Magento instance](https://i-7769-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-7769-2-4-develop.instances.magento-community.engineering/admin_c448](https://i-7769-2-4-develop.instances.magento-community.engineering/admin_c448)
Login: `30cf1f06` Password: `eaf28056dfb6`
Instance will be terminated in up to 3 hours.

[2020-06-28 23:20] 4DallasC commented on #7769
I just gave up reporting bugs like this and just got used to fixing these bugs directly. I suggest you do the same.

[2020-06-29 02:20] Leland commented on #28910
Whitespace is important for user interfaces to feel fluent and digestible. Removing every scrap of whitespace until the layout is totally taut typically results in a display that is dense to the point of losing its hierarchy. Saying "this view fits X more rows" is not necessarily the best metric on which to base admin UX success IMO.

That being said, the whitespace use here – particularly the pad

[2020-06-29 03:12] Leland opened #28913 "Critical CSS blocks interactivity, shows broken image, causes jank in Luma"
### Preconditions (*)
Magento >2.3.4
Magento 2.4-develop

### Steps to reproduce (*)
1. With Luma active on Magento >2.3.4, [enable Critical CSS](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-topics/css-critical-path.html):
    `bin/magento config:set dev/css/use_css_critical_path 1`

### Expected result (*)
* Inlined styles produces believable reproduction of site until full styl

[2020-06-29 04:39] suneth2 commented on #11116
I'm getting this because of  theme have `<script>jQuery.noConflict();</script>` on `\app\design\frontend\xxxx\xxxxx\Magento_Theme\layout\default_head_blocks.xml`
There is no way to remove this or use src on it becoz theme functions depend on this and need to load extract current location on head,
i already fixed by remove validations of DOM xml, is that way good or is there have another way to add

[2020-06-29 06:29] vtransy commented on #18717
Thank @maaarghk confirmed that your note helps me resolve the issue in 2.3.3. Magento 2.3.3 stops working on infinity loading cause by param issue. Added your extension fixed the issue.

[2020-06-29 06:44] hostep commented on #28907
@swathishs: the correct links for feature requests and architectural decisions should be https://github.com/magento/community-features/issues & https://github.com/magento/architecture/pulls.
I'm pretty sure these type of discussions will not be monitored by Magento core devs on the community forums or on stack exchange (but I might be wrong?)

[2020-06-29 06:51] hostep commented on #3650
@PsmIndia: product images have nothing to do with the static content deployment procedure, right?

Also: what Magento version are you using? I'm pretty conviced that on the latest versions, Magento no longer generates resized product images for themes you don't use.

[2020-06-29 07:22] Vishrootways commented on #26840
Hello All, we are using Magento 2.3.5-p1 and PayPal Pro is not working.  The loader keep loading when trying to generate the order from the checkout page. I checked and found that the URL https://www.xyz.com/paypal/transparent/redirect/ is 404!!!! I checked and found that this controller and all the patch files are there but then also getting 404 in "Network" tab in the browser and PayPal pro is n

[2020-06-29 08:22] Perzonallica commented on #28038
@Hanhan1989 Hi!

Unfortunately this issue is still present in version **2.3.5-p1**. I have the _"Magento_Email/js/variables"_ line in the "edit.phtml", but doesn't seems to be helpful.

What is more interesting, that if I run a setup:upgrade, di:compile and I reload the email template admin page, then on **first try**, the variables are there, with no problem. After that, I go back to Dashboard an

[2020-06-29 08:53] michalderlatka commented on #28253
@nrkapoor I'm not able to reproduce this issue on 2.4-develop.
If country has defined regions, createCustomerAddress fails when no region_id is passed
If country has no regions, it is possible to pass empty region

setShippingAddressesOnCart works properly on both scenarios

[2020-06-29 09:02] lionalex commented on #28211
So, is there a solution?

[2020-06-29 09:06] Eddcapone opened #28914 "Add whitelist field to Magento_CSP module's backend configuration."
### Description (*)

If you want to add a domain to the CSP whitelist, then you have to program a custom module, even though there is a CSP module which is useless at the moment, because it does not provide a whitelist field in the backend. There should be a whitelist field!

### Expected behavior (*)

Add a whitelist field to allow adding domains to the CSP whitelist.

### Benefits

The Magento_C

[2020-06-29 11:21] bharanikonda opened #28916 ""PayPal Express Checkout Token does not exist" but order created"
### Preconditions (*)

1. Magento 2.3.1
2. Enable PayPal Express checkout

### Steps to reproduce (*)

1. Try placing an order with PayPal express checkout
2. Sometimes it throws "PayPal Express Checkout Token does not exist" error, the order is getting created.

### Expected result (*)

1. If there is any token issue, then the order should not be created.
2.

### Actual result (*)

1. Customer is

[2020-06-29 11:24] PsmIndia commented on #3650
i using magento 2.3.4[updated, move from m1], i have 50K products, when i try to do duplicate a products its take in infinite loop, until server crash, also its increase disk space, try to find solution but i am not, so setup it my local system and and i deleted all products, only keep 500 products, also i deleted all images too, now i try to make duplicate its successful, so now i add a product i

[2020-06-29 11:38] hostep commented on #3650
For the duplicate issue, you are probably running into https://github.com/magento/magento2/issues/9466 which is supposed to get fixed in Magento 2.4.0

You can ignore those lines in your log file, they have to do with cache invalidation which is expected and not a problem.

The 18 or 19 resized images you are noticing probably come from the `etc/view.xml` file of your custom theme, here's an examp

[2020-06-29 12:02] goutam1github commented on #21885
Hello,
I was trying to install the patch but getting errors. Magento unable to apply this patch.

Any one please advise. Attaching the screenshot.
![Screenshot from 2020-06-29 17-30-26](https://user-images.githubusercontent.com/61541767/86002776-74db1c00-ba2e-11ea-8af9-f96a273b8e0d.png)

[2020-06-29 12:05] seansan opened #28918 "Change Magentp Backorder Threshold when approaching 0"
### Description (*)
Assume 2 products
- Product A: MSI stock: 2 & BO Min Qty THreshold = -1 (thus salable qty = 3)
- Product B: MSI stock: 2 & BO Min Qty THreshold = 0 (thus salable qty = 2)

If we now buy 3 product A then product A goes out of stock

If we now buy 2 product B then product B _does not!_ goes out of stock

### Expected behavior (*)
There should be some way that product B goes out o

[2020-06-29 12:21] seansan commented on #28918
Issue format is valid

[2020-06-29 12:23] HenKun commented on #21885
See https://github.com/magento/magento2/issues/21885#issuecomment-644777537 for detailed instructions how to apply the patch

[2020-06-29 12:29] 06romix opened #28919 "$collection->getMaxPrice() returns wrong result with Elasticsearch"
### Preconditions (*)

1. Magento ver. 2.3.5-p1
2. Elasticsearch 6.0+ (6.8.9)

### Steps to reproduce (*)
1. Select Elasticsearch 6.0+ as Search Engine
2. Print $collection->getMaxPrice() or $collection->getMinPrice() from \Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection on category page with products
3. Go to next page

### Expected result (*)
1. Method getMaxPrice () returns the pr

[2020-06-29 12:58] codercv commented on #27564
I have same issue on 2.3.3-p1 migrated from 1.9.3.1. Thank you @xtremevision for you quick fix.

[2020-06-29 13:01] Yonn-Trimoreau commented on #21885
Try removing the PATCH [2/4] part entirely, and the last part about tests.

[2020-06-29 13:01] MilanFrajt opened #28921 "Apply shopping cart rule to a single bundle item"
### Preconditions (*)
Magento ver. 2.3.5-p1

### Steps to reproduce (*)
1. Create a bundle product with two option each contain two product in it
2. Create one option as main as the title with two simple product (a&b) - (Dropdown)
3. Create the second option as a sub as the title with two simple product(c&d)- (Checkbox)
4. Create a shopping cart rule
5. Select a "percent of product price discount"

[2020-06-29 13:15] swathishs commented on #28921
@magento give me 2.4-develop instance

[2020-06-29 13:15] magento-engcom-team commented on #28921
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-29 13:17] magento-engcom-team commented on #28921
Hi @swathishs, here is your [Magento instance](https://i-28921-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28921-2-4-develop.instances.magento-community.engineering/admin_9c53](https://i-28921-2-4-develop.instances.magento-community.engineering/admin_9c53)
Login: `76702ff3` Password: `9a2130d75bea`
Instance will be terminated in up to 3 hours.

[2020-06-29 13:52] MilanFrajt commented on #28921
Tested on https://i-28921-2-4-develop.instances.magento-community.engineering/, working exactly same way as described in issue:

Created BUNDLE product ID: 1201 with 4 simples under 2 option_groups https://i-28921-2-4-develop.instances.magento-community.engineering/test-bundle.html
MainOption (SKUs: product_dynamic_6, product_dynamic_8)
SubOption (SKUs: product_dynamic_1, product_dynamic_2)
![TEST

[2020-06-29 14:19] sethsnel commented on #27067
@Rus0 Sorry for my late response. But I'm doing a backend (admin) redirect action. So not frontend. My action redirects from an admin to page to an external domain.

[2020-06-29 14:30] swathishs commented on #28921
Issue is reproducible in Magento 2.4 develop instance

Please find the attachment below:

1.  Two option for bundle product:
    (Main & Sub option)
![image](https://user-images.githubusercontent.com/58288685/86018113-829a9c80-ba42-11ea-924d-1022c7a17a98.png)

2. Rule ( Applicable only for the main simple product):
![image](https://user-images.githubusercontent.com/58288685/86018176-980fc680-ba42-

[2020-06-29 14:41] goutam1github commented on #21885
Hi Yonn,

Its a very long file. Could you please help me telling which line to which line.
Thanks.

[2020-06-29 14:44] swathishs commented on #28921
Issue is reproducible in Magento 2.4 develop instance

Please find the attachment below:

Two option for bundle product:
(Main & Sub option)
![image](https://user-images.githubusercontent.com/58288685/86019806-b37bd100-ba44-11ea-9cc9-12a5243f6390.png)

Rule ( Applicable only for the main simple product):
![image](https://user-images.githubusercontent.com/58288685/86019861-c8586480-ba44-11ea-9d3e-a

[2020-06-29 15:04] magento-engcom-team commented on #28921
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35548` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-29 17:27] tavatir opened #28924 "Sort by quantity does not work with elasticsearch"
### Preconditions (*)

1. Magento 2.4-develop
2. Magento version 2.3.3
3. ElasticSearch 6.8.10

### Steps to reproduce (*)

1. Set "Display Out of Stock Products" to yes.
2. Set "Used for Sorting in Product Listing" to yes for Quantity attribute.
3. Set elasticsearch as search engine.
4. Check if products ordered by stock availability on a category or search page.

### Expected result (*)

1. Prod

[2020-06-29 17:45] zaximus84 commented on #27590
@maynard321
I have a [PR for this issue](https://github.com/magento/magento2/pull/28378). I modified the same area you did, but I removed the reference to order state and replaced it with a check of the item state. This should be a lot more reliable than trying to identify valid order states, especially if there are future core changes or customizations around order state.

[2020-06-29 18:25] rommelfreddy commented on #26757
i found a similar issue. I am not sure, if it is the same issue.
After you add an image (or multiple) to a product, and the product page got NOT requested, the product image got not replaced on the category page.
After you have requested the product page the image will appear on the category page (if you activated full_page cache: clear full_page cache)

[2020-06-29 18:56] celorodovalho commented on #27432
I'm facing the same error! Any solution?

[2020-06-29 19:32] lazyguru commented on #25092
Since I did a bunch of research on this trying to track down the cause for other reasons, here's what I've found (along with sources where applicable):

- The `ts_dimension_*` attributes were provided by the Temando_Shipping module (which makes sense now `ts_`) [Reference](https://magento.stackexchange.com/questions/231697/product-dimensions-in-magento-2-2-5-update)
- Magento Shipping from Temando

[2020-06-29 23:10] Episodio1 commented on #19710
Having this issue with 2.3.5-p1 fresh install (Ubuntu 18, Nginx, Php 7.3, Mysql 5.7)) and then installing "sampledata:deploy".
Error in browser's Developer Tools for every product image is:

"catalog:images:resize" fixes the issue but I think this is a workaround.

[2020-06-30 06:05] aqdennis opened #28929 "Cannot open minicart on iPad"
### Preconditions (*)

1. Magento 2.3.2
2. iPad with Opera or Firefox

### Steps to reproduce (*)

1. Add product to cart -> minicart icon shows amount of products
2. Click on minicart to open it

### Expected result (*)

1. Would expect the minicart to open and show summary of products and buttons to go to cart or checkout

### Actual result (*)

1. Nothing happens. Minicart doesn't open. Custome

[2020-06-30 06:46] swathishs commented on #28924
@magento give me 2.4-develop instance

[2020-06-30 06:46] magento-engcom-team commented on #28924
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-30 06:47] magento-engcom-team commented on #28924
Hi @swathishs, here is your [Magento instance](https://i-28924-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28924-2-4-develop.instances.magento-community.engineering/admin_d2f8](https://i-28924-2-4-develop.instances.magento-community.engineering/admin_d2f8)
Login: `986c2a5e` Password: `60d2bf07ae7d`
Instance will be terminated in up to 3 hours.

[2020-06-30 06:57] andy17612 commented on #11995
Issue coming in 2.3.5-p1, every one can help? thank you~

[2020-06-30 07:13] engcom-Lima commented on #28863
@p06pratibha-verma Closed as duplicate of [#28862](https://github.com/magento/magento2/issues/28862)

[2020-06-30 07:13] #28863 closed, assigned to nobody

[2020-06-30 08:20] r32rf commented on #28843
please close issue if you not interested in fix.

[2020-06-30 08:31] magento-engcom-team commented on #21811
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35555` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-30 08:37] fahu commented on #28132
With which commit / issue has this been fixed?

[2020-06-30 08:39] ryanfern86goa commented on #28912
Hi @swathishs

Any update on this ?

[2020-06-30 08:50] rpajalunga opened #28931 "FPT not applied on configurable products (children) in checkout summary"
### Preconditions (*)

1. Fresh installation of Magento 2.3.5-p1
2. Updated installation up to 2.3.5-p1
3. also repro on `2.4-develop`

### Steps to reproduce (*)

1. Enable FPT - Stores - sales -tax- Enable fixed product tax
2. Create a new attribute (code: dynamic_weight_rate / type: fixed product tax)
3. Create a new "attribute set" and assign an attribute to it
4. Assign attribute set to a con

[2020-06-30 08:51] engcom-Lima commented on #28759
Hello @Ibensh
Thank you for contribution and collaboration!
This is related with third party theme which not included in magento by default.
Try to regenerate static content using
`bin/magento setup:static-content:deploy`
More information can be found [here](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-static-view.html#config-cli-subcommands-staticview)
Thank you

[2020-06-30 09:12] srani95 commented on #6658
Resource temporarily unavailable during import in magento2

[2020-06-30 09:20] rpajalunga commented on #28931
@magento give me 2.4-develop instance

[2020-06-30 09:20] magento-engcom-team commented on #28931
Hi @rpajalunga. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-30 09:21] magento-engcom-team commented on #28931
Hi @rpajalunga, here is your [Magento instance](https://i-28931-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28931-2-4-develop.instances.magento-community.engineering/admin_7a9a](https://i-28931-2-4-develop.instances.magento-community.engineering/admin_7a9a)
Login: `765ee2ae` Password: `46a87cec1194`
Instance will be terminated in up to 3 hours.

[2020-06-30 09:33] magulin commented on #8126
Can this line just be removed? Is there any known drawback or side effect of this?

[2020-06-30 09:38] naveedabbas commented on #26840
Hi All,
I have upgraded my Magento version from 2.2.8 to 2.3.4 and applied the patch successfully. But the PayFlow too almost 23 seconds from Place Order to the Confirmation page. Anyone have an idea about that or it works in this way?

[2020-06-30 09:39] engcom-Lima commented on #28071
@magento give me 2.4-develop instance

[2020-06-30 09:39] magento-engcom-team commented on #28071
Hi @engcom-Lima. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-30 09:41] magento-engcom-team commented on #28071
Hi @engcom-Lima, here is your [Magento instance](https://i-28071-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28071-2-4-develop.instances.magento-community.engineering/admin_85c6](https://i-28071-2-4-develop.instances.magento-community.engineering/admin_85c6)
Login: `2756835f` Password: `93c28135c334`
Instance will be terminated in up to 3 hours.

[2020-06-30 10:08] PsmIndia commented on #9466
Need Urgent Help, magento setup version is 2.3.4[upgraded m1], we have "29542 records found" products, i am facing duplicate product issue, try to fix using available patch but its not fix.

Today i remove all products images in test environment, there no image for a single product, now i add product image for a single product, i save it, working cool, but when i try to do duplicate this product,

[2020-06-30 10:08] stkrelax opened #28933 "Elastic Search Suggestion Score Sorting inverted 2.3.5-p1"
### Preconditions (*)
1. magento 2.3.5-p1
2. elasticsearch6 as searchadapter
3. enabled suggestions to be displayed on search site

### Steps to reproduce (*)
1. search for like "bambuss" instead of "bambus"
2. Debug the Result from ES in Class

```Magento\Elasticsearch\Model\DataProvider\Base\Suggestions```

at method
```private function getSuggestions(QueryInterface $query)```

### Expected resu

[2020-06-30 10:08] PsmIndia commented on #15656
Need Urgent Help, magento setup version is 2.3.4[upgraded m1], we have "29542 records found" products, i am facing duplicate product issue, try to fix using available patch but its not fix.

Today i remove all products images in test environment, there no image for a single product, now i add product image for a single product, i save it, working cool, but when i try to do duplicate this product,

[2020-06-30 10:08] michi-p commented on #21076
I'm not using Magento's default category functionality anymore and updated to Magento 2.3 in the meantime. So, can you provide a Magento 2.2.6 instance where I can check if the issue is still reproducible?

[2020-06-30 10:22] rpajalunga commented on #28931
I was able to reproduce the issue on a vanilla Magento instance;

FPT Sum
Expected (0.10+0.20+0.30+0.40)=1.00
Real 0.40 (0.10 per item i suppose)

![20200630-Frontend-Cart](https://user-images.githubusercontent.com/58708812/86114817-61ca5980-bacb-11ea-8271-a232fdc89430.png)
![20200630-Product-Child-FPT-100gr](https://user-images.githubusercontent.com/58708812/86114819-6262f000-bacb-11ea-9be0-cf6d4

[2020-06-30 10:23] rpajalunga commented on #28931
@magento Reproduced in 2.4.x

[2020-06-30 10:28] rpajalunga commented on #28931
@magento I am working on this

[2020-06-30 11:01] magento-engcom-team commented on #23290
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35564` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-30 11:16] magento-engcom-team commented on #28143
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35565` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-30 11:23] rpajalunga commented on #28931
@magento add to contributors team

[2020-06-30 11:31] engcom-Lima commented on #28071
@magento give me 2.3.5-develop instance

[2020-06-30 11:31] magento-engcom-team commented on #28071
Hi @engcom-Lima. Thank you for your request. I'm working on Magento 2.3.5-develop instance for you

[2020-06-30 11:36] rpajalunga commented on #28931
I'm unable to assign labels... could i use bot to assign them?

[2020-06-30 11:37] engcom-Charlie commented on #21076
Hi @michi-p,
Can You please verify on latest 2.4-develop?
You can get instance by typing comment with text `@magento give me 2.4-develop instance`

[2020-06-30 11:37] magento-engcom-team commented on #21076
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-30 11:38] magento-engcom-team commented on #21076
Hi @engcom-Charlie, here is your [Magento instance](https://i-21076-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-21076-2-4-develop.instances.magento-community.engineering/admin_6fbd](https://i-21076-2-4-develop.instances.magento-community.engineering/admin_6fbd)
Login: `4a11a3c1` Password: `f8b28e1c6262`
Instance will be terminated in up to 3 hours.

[2020-06-30 11:38] realadityayadav commented on #28143
@engcom-Delta Shall I port my pull request to 2.4 develop branch to resolve this issue?

[2020-06-30 12:45] michi-p commented on #21076
Hi @engcom-Charlie,
just tested on 2.4-develop instance and it's not reproducible anymore. When `Remember Category Pagination` is set to `Yes`, the sorting of the product list remains the same.

[2020-06-30 12:54] engcom-Charlie commented on #21076
Nice, then I'll close the issue.

[2020-06-30 12:54] #21076 closed, assigned to nobody

[2020-06-30 13:00] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:01] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:01] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:02] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:02] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:03] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:15] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:15] seansan opened #28936 "Magento Out-of-Stock Threshold setting to 0"
There is some confusion on the design of the setting Out-of-Stock Threshold (related to backorders) especially around this setting having the value of zero. Backorders are enabled. There are 3 references to this setting and the value of zero.

Our assumption is that the 1st statement below should always be true when backorders are enabled. If the Out-of-Stock Threshold reaches 0 or is 0 or was set

[2020-06-30 13:15] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:16] magento-engcom-team commented on #28071
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-33934).

[2020-06-30 13:16] Cna59 commented on #12124
I just asked Google why cloud SQL does not support CREATE TEMPORARY TABLE statement.

The Google support create a public issue and ask me to "leaving a comment explaining how this affects your use case, as this will increase its visibility to the Product Team."

If you are interested too, maybe you could add a comment

https://issuetracker.google.com/issues/160213115

[2020-06-30 13:24] dani97 commented on #28910
@seansan may be this can help you  https://github.com/magespices/mage2nostalgia

[2020-06-30 13:39] seansan commented on #28910
Thanks ;) I had seen this one ... but their README is exactly what drives
them to spend a full night of coding on this.

It really is time to start doing something about this ... for instance also
make it ready for mobile

More examples exist

http://cloudberry.co/land-of-coder-admin-theme-free-for-magento-2.html
https://nwdthemes.com/magento-2-extensions/admin-theme/

The Magento 2 team and there

[2020-06-30 14:04] swathishs commented on #28848
Hi @AlivreL
Feel free to reopen once you update all the details with reproducible steps
Thanks !!

[2020-06-30 14:04] #28848 closed, assigned to swathishs

[2020-06-30 14:16] magento-engcom-team commented on #28885
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35567` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-30 14:30] swathishs commented on #28912
@magento give me 2.4-develop instance

[2020-06-30 14:30] magento-engcom-team commented on #28912
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-30 14:31] magento-engcom-team commented on #28912
Hi @swathishs, here is your [Magento instance](https://i-28912-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28912-2-4-develop.instances.magento-community.engineering/admin_1022](https://i-28912-2-4-develop.instances.magento-community.engineering/admin_1022)
Login: `8d9cd3cd` Password: `7ba2d89d4176`
Instance will be terminated in up to 3 hours.

[2020-06-30 14:44] engcom-Lima commented on #27525
@Jesper-nordico,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-06-30 14:44] #27525 closed, assigned to nobody

[2020-06-30 15:26] andy17612 commented on #25099
@alex-james may i ask in vendor which path please?

[2020-06-30 15:30] alex-james commented on #25099
Sorry @andy17612 Not sure I understand the question , if you are referring to the fix I posted you can keep the Vendor name the same or use your own, up to you.

[2020-06-30 15:34] rani-priya opened #28937 "NOT READY Extend an existing GraphQL schema not working for product dropdown type attributes"
### Summary (*)

By using this documentation I have extended product attributes value in **products** query. but it's not working if I change "Use in Layered Navigation "  value to "Filterable (with results)"

But getting **"message": "Field \"color\" of type \"Int\" must not have a sub selection.",** error

### Examples (*)

My Code for schema.graphqls file is as below
interface ProductInterface

[2020-06-30 15:37] rani-webkul commented on #28937
@ihor-sviziev could you please help me to fix this issue?

[2020-06-30 15:37] andy17612 commented on #25099
@alex-james Do you know how to fix it like:
https://magento.stackexchange.com/questions/309329/magento-2-category-image-url-showing-two-paths
https://github.com/magento/magento2/issues/11995
thank you

[2020-06-30 16:22] donatopirolo commented on #26498
I have encountered the same problem with magento 2.3.5. Has anyone managed to solve it?

[2020-06-30 16:24] swathishs commented on #28931
@rpajalunga : Tested the issue in 2.4 develop instance.
Testproduct: FPT-0.5
![image](https://user-images.githubusercontent.com/58288685/86150420-00ca7200-bb1b-11ea-9f55-9908b727f4e9.png)

1. Test product-test1 : FPT-0.10
![image](https://user-images.githubusercontent.com/58288685/86150098-8863b100-bb1a-11ea-8180-21e2ff429777.png)

2. Testproduct-test2: FPT-0.20
![image](https://user-images.github

[2020-06-30 16:25] BreezeMaxWeb-NS commented on #5709
I just updated from Magento 2.3.4 to 2.3.5-p1 and now I started getting this.

It happens every time I use the Edit Configuration on a simple product and try to either add images or adjust products assigned to the configurable product.

[2020-06-30 16:36] davidwindell commented on #26498
@donatopirolo  there's already a working merge request linked to this issue

[2020-06-30 16:37] magento-engcom-team commented on #28931
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35572` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-30 17:23] rvitaliy opened #28939 "Upgrade vendors to latest versions for magento 2.4 release"
### Description (*)
The current state of branch `2.4-develop` has some obsolete versions of vendors.
This is output of what composer report after run command: `composer update && composer outdated` (PHP v7.4.5)

[code]
### Expected behavior (*)
ideally: no major release vendors to upgrade or much less

### Benefits
use latest versions of vendors guarantee more stable ecosystem.
example:
`container

[2020-06-30 18:13] molinainat commented on #2642
Does this have a solution? Can ship bundle -> separetely help to display the items when creating a return?

[2020-06-30 18:40] SmooreMB opened #28940 "Payment Transaction Failed Notification - Spam?"
### Preconditions (*)

1. Magento 2.3
2.

### Steps to reproduce (*)

1. Received email notification of customer payment transactions failing
2. Google mail suspects it may be spam
3.

### Expected result (*)

1. Not sure if notifications are valid, or if customers are receiving errors during transactions

### Actual result (*)

1. [Screenshots, logs or description]
![image](https://user-images.gi

[2020-06-30 18:56] #28253 closed, assigned to michalderlatka

[2020-06-30 19:12] gwharton commented on #28940
Probably more likely due to bad from address, bad reply to address, bad dkim signature, bad SPF setup.

[2020-06-30 19:29] gwharton commented on #28918
Then turn backorders off for product B and out will go out of stock when 2 are sold. Setting threshold to zero enables unlimited backorders for product B

[2020-06-30 19:31] gwharton commented on #28918
Product A goes out of stock because you have limited it to sell only 1 backordered item, whereas product B will never go out of stock as threshold is zero.

[2020-06-30 19:34] gwharton commented on #28886
There is bug where orders containing backordered items are not marked as such in the sales order screen. It should say "backordered" instead of invoiced in order screen. It is fixed in 2.4 develop. Don't know if it's possible to have it in grid. Would be a very easy mod to make.

[2020-06-30 19:36] gwharton commented on #28824
Fixed in 2.4-develop

[2020-06-30 20:02] davidalger commented on #28729
cc// @magento/magento-beta

[2020-06-30 20:06] seansan commented on #28824
@gwharton are you sure?

There are three different warnings. And they should display on 3 locations.

"**There are 3 kinds of messages to be displayed in the frontend.

The messages need to be visible on each! page: the productpage, the minicart and the cart. These are:

1. ""Only [salable qty] left"" should be displayed when qty reaches the minimal qty.

2. ""The requested qty is not available""

[2020-06-30 20:09] seansan commented on #28886
Is your suggestion a new state? Or a new status?

Even then. The situation should be re evaluated every time
- on new order
- on new order then a part crest memo
- on new order and another part credit memo
With and without msi

Out main use case is as described: backorder orders follow a different
business process.

It starts with the order time knowing it is a backorder but the order
should also

[2020-06-30 20:12] seansan commented on #28918
It is clear how to resolve this manually on a 1 product basis

Not if you manage 100.00+ items

It is a strange design concept. Zero is zero when it reaches zero by
orders. Not if you set it yourself. Also the whole in stock and out of
stock flags are rather obsolete since the new definition and introduction
of salable qty

There should be a different app at to set backorders to unlimited. Think :

[2020-06-30 20:31] pocallaghan opened #28943 "Custom Admin Domain and Internal Redirects"
The logic that checks if a redirect is "internal" is broken in the admin panel when using a custom admin domain, which causes a wide variety of admin redirects to redirect you to the homepage of the default store.

The issue is due to `Magento\Store\App\Response\Redirect::_isUrlInternal` using the default stores base url. When in the adminhtml area, this method should respect the config options `a

[2020-06-30 21:42] gvillaverde-pk commented on #5906
damn,  **i feel you bro!**