[2018-09-05 12:16] hitesh-wagento commented on #15060
Hi @DanielRuf,

Where have you find `.lib-layout-width()`. Can you please more explain.

Thanks.

[2018-09-05 12:24] developer-vtnetzwelt opened #17931 "Custom session unset after upgrade to 2.2.5 from 2.2.4"
### Summary
I have set some session values and that I am using after sending an email. Up to version 2.2.4 it was working fine, but as I upgrade Magento to 2.2.5 then I am not getting session values after sending email.

As I tried to debug the issue. In my email's footer I applied a cms static block using code-

`{{block class="Magento\\Cms\\Block\\Block" area='frontend' block_id="email_footer"}}

[2018-09-05 12:26] developer-vtnetzwelt commented on #17931
@magento-engcom-team give me {2.2.5} instance

[2018-09-05 12:40] DanielRuf commented on #15060
Bare/Luma

[2018-09-05 12:40] AurelienLavorel commented on #17916
I got it on that branch on a customer project, I'll check why. Sorry for the lost time.

[2018-09-05 12:40] #17916 closed, assigned to nobody

[2018-09-05 12:40] engcom-backlog-pb commented on #15620
This issue is not reproducible on a clean Magento installation.

[2018-09-05 12:43] engcom-backlog-pb commented on #16793
Closing as solved.

[2018-09-05 12:43] #16793 closed, assigned to nobody

[2018-09-05 12:47] engcom-backlog-nazar commented on #17931
Hi @developer-vtnetzwelt Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2018-09-05 12:48] engcom-backlog-nazar commented on #17931
@developer-vtnetzwelt You need to -> "give me 2.2.5 instance"

[2018-09-05 12:48] mohit724 opened #17932 "Magento 2.2 Placeholder translation issue on Registration page."
### Preconditions

Magento Version: 2.2.0
Php version: 7.0.3

### Steps to reproduce

1. Created two stores with different languages. One for English and One for Arabic.
2. Now we have added translation's in theme for strings and all working fine except the Placeholder's on registration page. Like "Firstname , lastname , password , confirm password , email". Label's are translating but placeholder

[2018-09-05 12:48] magento-engcom-team commented on #17932
Hi @mohit724. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-05 12:52] navarr commented on #17884
To clarify, the test located at https://github.com/magento/magento2/blob/2.2-develop/dev/tests/integration/testsuite/Magento/Ui/Component/ConfigurationTest.php

[2018-09-05 12:53] xpoback commented on #15620
@engcom-backlog-pb

It **is reproducible** on Magento installed through _composer_.

Surprisingly, Magento team only tests the version that is in this GitHub repository. This version does not contain Dotmailer, Amazon, Temando etc third part extensions, which cause tons of problems, because they don't get tested, but these modules come with default Magento.

Please, test the product you _actually_

[2018-09-05 13:13] engcom-backlog-nazar commented on #17918
Hi @FerihumF Can you please  show full exception message ?

[2018-09-05 13:16] engcom-backlog-nazar commented on #17918
@FerihumF  First of all, we need to add ‘meta id’ to ‘sales_sequence_meta’ table.
![screenshot_1](https://user-images.githubusercontent.com/40756439/45095507-e265dc00-b126-11e8-9f2a-14f177a122fc.png)
After adding ‘meta id’ to ‘sales_sequence_meta’ table, you need to add those ‘meta id’ to ‘profile id’ into existing ‘sales_sequence_profile’ table and additionally, we have to add more entry in ‘pref

[2018-09-05 13:17] engcom-backlog-pb commented on #9186
@hostep, thank you for your update.
We've acknowledged the issue and added to our backlog.

[2018-09-05 13:19] engcom-backlog-nazar commented on #17884
@navarr I'm understand but the test fails only with vertex/module-tax, with other modules everything is ok

[2018-09-05 13:27] rstylenl opened #17933 "Bank Transer Payment Instuctions switch back to default"
### Summary (*)
The default Magento 2 Bank Transfer Payment has an issue when you have multiple stores.
If you create an order and select Bank Transfer Payment as payment method. Then go look at the just created order the title doesn't reflect the one we have setup in the store configuration. (Says: Bank Transfer Payment instead of "Überweisung (per Bank)"

The instructions are fine. But if you cl

[2018-09-05 13:28] magento-engcom-team commented on #17933
Hi @rstylenl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-05 13:29] engcom-backlog-nazar commented on #17930
Hi @qsolutions-pl  i'm have no issue with  MariaDB 10.0.36. Can you reproduce this on clean magento instance ?

[2018-09-05 13:31] orlangur commented on #13028
@aliomattux feel free to report a new issue if you able to reproduce it on a clean Magento 2 installation.

[2018-09-05 13:46] engcom-backlog-pb commented on #17932
@mohit724, thank you for your report.
Please try to reproduce this issue on a clean Magento 2 installation and reopen the issue if you succeed.

[2018-09-05 13:46] #17932 closed, assigned to nobody

[2018-09-05 13:48] sunil-gcet commented on #17828
hi @magento-engcom-team any information on this ticket please.

Regards
Sunil

[2018-09-05 13:52] navarr commented on #17884
@engcom-backlog-nazar I believe this test will fail under the following conditions:

* Magento cloned from repository
* Third party module installed through composer
* Third party module contains a ui component XML file

[2018-09-05 13:52] engcom-backlog-nazar commented on #17933
Hi @rstylenl , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-05 13:53] zack6849 opened #17934 "Onepage Checkout getSerializedCheckoutConfig fails silently if json_encode fails"
### Preconditions

1. Magento 2.2.x, 2.3.x, 2.4-develop

### Steps to reproduce

1. Have secure data that won't decrypt properly with the crypt key in `env.php`
2. Visit the checkout page
3. Change crypt key in `env.php`
4. Try to go to the payment step

### Expected result

1. An error message of some sort telling me that something went wrong

### Actual result

1. Javascript Syntax error that br

[2018-09-05 13:53] magento-engcom-team commented on #17934
Hi @zack6849. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-05 13:54] zack6849 commented on #17934
@magento-engcom-team give me 2.2.3 instance

[2018-09-05 13:54] magento-engcom-team commented on #17934
Hi @zack6849. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-09-05 13:55] magento-engcom-team commented on #17934
Hi @zack6849, here is your [Magento instance](https://i-17934-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17934-2-2-3.engcom.dev.magento.com/admin](https://i-17934-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-05 13:57] zack6849 commented on #17934
As I don't have direct db access to that instance, nor file access, I can't reproduce, I will mark yes to keep the bot from tagging the issue as invalid.

[2018-09-05 13:57] orlangur commented on #14238
@AykutCevik vulnerability in jQuery UI by itself does not mean Magento is vulnerable. Security issues shall neither be reported nor discussed in GitHub.

[2018-09-05 14:00] qsolutions-pl commented on #17930
I'm actually working fully on clean Magento 2.2.5 installation.
I've created customized script to import customers (it works fine in another project).
After that I jump to shell and try reindex process
```php bin/magento index:reindex```
and I see above error
import script does truncate the **customer_grid_flat** table
can that be related?

[2018-09-05 14:00] engcom-backlog-nazar commented on #17925
@Rickertje i'm see this behavior on 2.2-develop instance and in 2.2.5 release, but in comment https://github.com/magento/magento2/issues/12184#issuecomment-357009062 says that it is ok.  as you can see from referenced issue its reproduced on 2.2 - 2.3 branch

[2018-09-05 14:02] orlangur commented on #17931
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-09-05 14:02] #17931 closed, assigned to nobody

[2018-09-05 14:04] engcom-backlog-nazar commented on #17930
@qsolutions-pl seems like yes, its not problem in maria DB version because i'm really have long time ago to use 10.0.36 and have no errors

[2018-09-05 14:13] jakwinkler opened #17935 "Configurable product & hidden, required custom option: price not added to product price on page load."
### Summary

This is more UX issue but it causing some problems on production site.
You need create a configurable product to replicate the issue, or use any of configurable products from sample data. Add a custom option to confiurable product but make sure that option is **hidden** , **required** and it adds **+10$ to the price.**

When a customer visits product page, the price they see is a simp

[2018-09-05 14:13] magento-engcom-team commented on #17935
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-05 14:14] EliasKotlyar commented on #13530
Hello everyone,

I am also encountering the bug which is described on the first post(Something went wrong while saving this configuration: Template file 'header.html' is not found.)

We are running a M2 EE 2.2.4.

I was able to fix it with the following modifications:
1.  Changed getDesignParams() from Magento\Email\Model\AbstractTemplate to the version described from @gundamkid
[code]
2. Changed

[2018-09-05 14:28] engcom-backlog-pb commented on #17935
@qsolutions-pl, thank you for your report.
Please clarify, how can I and a ***hidden*** option to the product?

[2018-09-05 14:29] Vinai commented on #15620
Since the module is included in the core distribution, it is part of a "clean" Magento installation. Pretending otherwise is just not dealing with reality.

[2018-09-05 14:37] sidolov commented on #17851
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#17912 by @hitesh-wagento in 2.1-develop branch
Related commit(s):
 - [9cc84815051f2f58b51bd78f7b4bcb97bbb5a936](https://github.com/magento/magento2/commit/9cc84815051f2f58b51bd78f7b4bcb97bbb5a936)

The fix will be available with the upcoming 2.1.16 release.

[2018-09-05 15:10] IIxauII opened #17937 "2.2.5 - View Order -Exception occured during order load"
### Preconditions
1. Magento Version: 2.2.5
2. PHP Version: 7.1.20
3. Nginx Version: 1.14.0

### Steps to reproduce
1. "Sales" → "Orders"
2. click "view" on Magento2 order with different billing address then shipping address

### Expected result
1. Overview of clicked order

### Actual result
1. Order page reloads → Error Message appears: "Exception occurred during order load"
2. Exception.log sho

[2018-09-05 15:10] magento-engcom-team commented on #17937
Hi @IIxauII. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-05 15:19] kshaa commented on #17125
In the project where this issue appeared it seemed like it was caused because of such a flow:
1. customer-data.js initialises and requires section-config.js
2. section-config.js loads (by require), but still doesn't have its internal data loaded (from vendor/magento/module-customer/view/frontend/templates/js/section-config.phtml)
3. Some 3rd party script or anything really fires a POST request
4.

[2018-09-05 15:33] #13530 closed, assigned to AngelBS

[2018-09-05 15:33] DanielRuf commented on #13530
This is fixed in Magento 2.2.6+. Please see the previous comments.

[2018-09-05 15:34] DanielRuf commented on #13530
This is an API change and not allowed in 2.2.

[2018-09-05 15:41] magento-engcom-team commented on #17789
Hi @lucasjor-summa. Thank you for your report.
The issue has been fixed in magento/magento2#17870 by @ronak2ram in 2.2-develop branch
Related commit(s):
 - [964d4ef8763df82c7e47860acda7ab855d819b35](https://github.com/magento/magento2/commit/964d4ef8763df82c7e47860acda7ab855d819b35)
 - [4150ad1ffd1061e342167fea15cabb3a51178c81](https://github.com/magento/magento2/commit/4150ad1ffd1061e342167fea15c

[2018-09-05 15:41] #17789 closed, assigned to nobody

[2018-09-05 17:01] webspeaks opened #17939 "Non existing product in quote"
### Preconditions

1. Magento 2.2.5
2. PHP 7.1

### Steps to reproduce

1. Login and Add a product X to cart
2. Delete the product X from Magento using admin panel
3. Login again and go to cart page

### Expected result

1. You should see the cart page with no item in cart

### Actual result

1. You see white screen with no errors

### Analysis
The Magento Quote module calls a function `removeItem

[2018-09-05 17:01] magento-engcom-team commented on #17939
Hi @webspeaks. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-05 18:15] DanielRuf commented on #13530
At least it is changed in the current dev branches.

[2018-09-05 19:08] qsolutions-pl commented on #17935
My bad, what I refer to is a checkbox field, that is both **required** and **hidden**

[2018-09-05 19:10] qsolutions-pl commented on #17935
Ok, we can close the issue, Client send me "clean" magento files... with modified CORE :/

[2018-09-05 19:11] #17935 closed, assigned to nobody

[2018-09-05 19:12] navarr commented on #17884
The issue with the test is that it does not account for mixed content roots - it allows for modules in vendor/ or in app/code but not both.

When you have both, the error I posted above occurs.  (The Vertex module should result in totally different errors)

[2018-09-05 19:13] prayagr commented on #14952
The issue affects 2.2.4 and 2.2.5 - we have resolved it for 2.2.6 and later versions. Fix: https://github.com/amzn/amazon-payments-magento-2-plugin/pull/288

[2018-09-05 19:14] navarr commented on #17884
The reason this error exists may be because the exception being thrown is undocumented on the API annotated interface - so the test writer's IDE did not alert him to the need to catch it.  If it were translated to a documented exception or accounted for in the test writing, the test would proceed properly

[2018-09-05 20:15] bhagdave commented on #15427
We are seeing a similar issue but no order id in the logs.
[2018-09-05 20:13:12] report.CRITICAL: Wrong order ID: "". {"exception":"[object] (Exception(code: 0): Wrong order ID: \"\". at vendor/magento/module-paypal/Model/Ipn.php:140)"} []

[2018-09-05 20:29] bobemoe opened #17944 "Wrong price shown on configurable item and added to product total"
### Preconditions
PHP 7.0.30-1-dotdeb+8.1 (cli) ( NTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
    with Zend OPcache v7.0.30-1-dotdeb+8.1, Copyright (c) 1999-2017, by Zend Technologies

nginx version: nginx/1.12.2

Linux dev 3.16.0-6-amd64 #1 SMP Debian 3.16.57-2 (2018-07-14) x86_64 GNU/Linux

mysql  Ver 15.1 Distrib 10.0.36-MariaDB, for

[2018-09-05 20:30] magento-engcom-team commented on #17944
Hi @bobemoe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-05 20:39] bobemoe commented on #17944
@magento-engcom-team I've reproduced this on a vanilla install on our dev env, do I need to also do this on yours too?

[2018-09-05 20:39] jove4015 commented on #4454
I'm just installing version 2.2.5 and this issue still appears to be there.  I double checked and I am positive I am on 2.2.5.   Has this possibly regressed since 2.2.4?

[2018-09-05 21:40] Rickertje commented on #17925
I'm not sure what you mean with 'this behavior'
When the billing addres does not equal the shipping address the checkbox should be unchecked at all times - which it is not the actual result of Part A.

[2018-09-05 22:22] betooliveirame opened #17947 "Error when you double-click the remove cart items button."
### Preconditions

1.version 2.2.5 enterprise edition
2.Theme Luma
3. PHP 7.1

### Steps to reproduce

1.Add any product to the cart
2.Go to the cart and double-click  the remove cart items button
3. Get error: **Fatal error: Uncaught Error: Call to a member function getQty() on boolean in /src/vendor/magento/module-google-tag-manager/Model/Plugin/Quote/SetGoogleAnalyticsOnCartRemove.php on line 4

[2018-09-05 22:59] betooliveira79 commented on #17947
Sorry this is for enterprise.

[2018-09-05 22:59] #17947 closed, assigned to nobody

[2018-09-05 23:15] pmoreno1980 commented on #17436
I have the same problem after upgrade to 2.2.5, i have this problem because magento generate skus with more than 64 characters, maybe if i can cut the skus in 64 characters i don't have to face this problem.

[2018-09-05 23:44] LiamKarlMitchell commented on #17061
Yeah it did fix it thanks.

[2018-09-06 02:31] prayagr commented on #14952
Hi @inkobject , I am not sure of the exact release date, but to implement this change for your current setup, you only have to make a minor change as seen here: https://github.com/amzn/amazon-payments-magento-2-plugin/pull/288/files

[2018-09-06 05:57] engcom-backlog-nazar commented on #17925
@Rickertje  on 2.2-develop branch, When the billing addres does not equal the shipping address checkbox unchecked.

[2018-09-06 06:07] hitesh-wagento commented on #15060
Hi @DanielRuf

I can see `.lib-layout-width()` in only one file like below code.
`lib/web/css/source/lib/_layout.less`

//  Page Width mixin
.lib-layout-width(
    @_layout__min-width: @layout__min-width,
    @_layout__max-width: @layout__max-width,
    @_layout__indent: @layout-indent__width
) when not (@responsive = true) {
    ._lib-layout-width(@_layout__min-width, @_layout__max-width);
    .l

[2018-09-06 06:22] Melint opened #17948 "Attribute not updated if it has more than 2000 options"
### Preconditions

1. Magento 2.25
2. AWS 2 core, 8GB
3. PHP7

### Steps to reproduce

1. on the admin page **attribute** - **part_number** which has more than 2000 options
2. Use in Layered Navigation - changed from **No** to **filterable**(with results)
3. save

### Expected result

1. shows **saved** and Use in Layered Navigation - changed from **No** to **filterable**(with results)

### Actual

[2018-09-06 06:22] sskulkarni opened #17949 ""Name Prefix" can not be stored, if it is required and stored earlier without prefix"
"Name Prefix" can not be stored, if it is required and stored earlier without prefix

### Preconditions

1.php 7.0
2.Magento 2.2.5, 2.2.6-dev

### Steps to reproduce

1.Go to "Stores" > "Configuration" > "Customers" > "Customer Configuration" > "Name and Address Options" and set "Show Prefix" to "No" First.
2.Store any address in account.
3. Remove any prefix if stored in Customer or Address.
4.No

[2018-09-06 06:27] matthew-muscat commented on #15984
Actually.. sorry, re-opening..

@engcom-backlog-nazar  — is this something we could backport to affected versions?

[2018-09-06 06:28] matthew-muscat commented on #15939
This looks to have been fixed in release v2.2.5 - the change can be found in https://github.com/magento/magento2/issues/12205

@engcom-backlog-nazar - this appears to be a duplicate of https://github.com/magento/magento2/issues/15984 —  is it assumed merchants need to update to v2.2.5 to get the fix?

[2018-09-06 06:29] sskulkarni commented on #17949
Yes, Can be Reproduced in vanila instance.

[2018-09-06 06:32] engcom-backlog-nazar commented on #15984
@matthew-muscat  Close this is as duplicate to  https://github.com/magento/magento2/issues/15939

[2018-09-06 06:34] engcom-backlog-nazar commented on #15939
@erikhansen This commit, doesn't fix the issue.

[2018-09-06 06:46] engcom-backlog-andrii commented on #17764
@HanakJakub , thank for you update.
We were not able to reproduce this issue by following the steps you provided on edit order page too. Admin can change shipping or billing address.
See screenshots

![customer_adress_storefront](https://user-images.githubusercontent.com/41946904/45139742-77191a00-b1b9-11e8-843e-6a6ee9ed8510.png)

![order_create](https://user-images.githubusercontent.com/41946904/

[2018-09-06 07:02] engcom-backlog-nazar commented on #17939
Hi @webspeaks I'm not able to reproduce following steps your described, i'm have an empty shopping cart.

[2018-09-06 07:03] hostep commented on #17948
@Melint, you probably just need to increase the [php configuration value `max_input_vars`](http://php.net/manual/en/info.configuration.php#ini.max-input-vars) to a higher value (default is 1000).

This isn't really a Magento bug, but a problem in the environment.
If you agree and this fixes the problem, could you close this ticket?

Thanks!

[2018-09-06 07:11] engcom-backlog-nazar commented on #17937
Hi @IIxauII  I'm not able to reproduce following steps your described ,  If you'd like to update it, please reopen the issue.

[2018-09-06 07:11] #17937 closed, assigned to nobody

[2018-09-06 07:15] engcom-backlog-nazar commented on #17930
@qsolutions-pl Can i close issue? as this  not related to magento .

[2018-09-06 07:16] hitesh-wagento commented on #15060
I think we can't remove this code because it's used in backend css `/var/www/html/magento2PR/app/design/adminhtml/Magento/backend/web/mui/styles/_vars.less`

`@layout__min-width: 960px;`

[2018-09-06 07:16] anilios commented on #7997
Hi,
I have 2 different product class. When I have created new product, tax calculation working while after editing old product and change product class to none its still showing taxes in cart.
Can someone help me?
Thanks in advance.

[2018-09-06 07:18] engcom-backlog-nazar commented on #14489
@iuwqyir  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-06 07:18] #14489 closed, assigned to nobody

[2018-09-06 07:26] lombokindustries opened #17950 "Missing Customer Register Mag 2.2.5"
Customer Register's missing after upgrading from 2.1.10 to 2.2.5.

[2018-09-06 07:26] magento-engcom-team commented on #17950
Hi @lombokindustries. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-09-06 07:32] HanakJakub commented on #17764
@engcom-backlog-andrii thanks for reply.
It looks like it is working for logged in user. Try create order as guest and follow the steps again.

[2018-09-06 07:42] hitesh-wagento commented on #15060
This variable called in lib/web/css/source/lib/_layout.less

    .lib-layout-width(
    @_layout__min-width: @layout__min-width,
    @_layout__max-width: @layout__max-width,
    @_layout__indent: @layout-indent__width
    )

[2018-09-06 07:50] Melint commented on #17948
sure I will close IT tomorrow...Sent from my Huawei Mobile-------- Original Message --------Subject: Re: [magento/magento2] Attribute not updated if it has more than 2000 options (#17948)From: Pieter Hoste To: magento/magento2 CC: Melint ,Mention @Melint, you probably just need to increase the php configuration value max_input_vars to a higher value (default is 1000).
This isn't really a Magento b

[2018-09-06 08:06] matthew-muscat commented on #15939
@engcom-backlog-nazar yep, looks like #12205 does not actually fix this particular issue... apologies.

Upon investigating this one further - this looks to be due to an omission in the way the stock indexer changelog is triggered on INSERT / UPDATES / DELETES...

For example...
1) Updating a product's details relating to inventory (ie: qty or stock status), will result in the item being scheduled

[2018-09-06 08:15] matthew-muscat commented on #15939
Locating the triggers in place for the Stock Index changelog can be found using the following query...

`SHOW TRIGGERS WHERE `Statement` LIKE '%cataloginventory_stock_cl%';`

For me, this results in only the following triggers being present...

Trigger | Table | Action
------- | ----- | ------
trg_cataloginventory_stock_item_after_insert | cataloginventory_stock_item | INSERT
trg_cataloginventory_

[2018-09-06 08:32] deefco opened #17951 "Message queue consumer never exiting when --max-messages specified."
### Preconditions

1. Magento version 2.3.x & 2.4-develop
### Steps to reproduce

1. Create new consumer, subscribe it to empty topic
2. Start consumer using bin/magento queue:consumers:start ConsumerName --max-messages 1

### Expected result

1. Consumer tries to get 1 message from empty queue, exits.

### Actual result

1. Consumer keeps listening forever, never exits.

-------------------------

[2018-09-06 08:32] magento-engcom-team commented on #17951
Hi @deefco. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-06 08:52] webspeaks commented on #17939
@engcom-backlog-nazar Did you try to add new products to cart before after deleting the existing product  from database?

[2018-09-06 08:57] saxsax1995 commented on #7056
@dziulius nice, thanks :) but i pass that long time ago :)

[2018-09-06 08:58] engcom-backlog-andrii commented on #17950
@lombokindustries ,  we were not able to reproduce this issue. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

I  have taken the following steps:

1. Install Magento 2.1.10.
2. Have made an upgrade to version 2.2.5.
Actual Result: User registration works well, no problems or errors detected.

[2018-09-06 09:15] engcom-backlog-nazar commented on #17948
Hi @Melint  Closing this issue, on yours comment https://github.com/magento/magento2/issues/17948#issuecomment-418999380

[2018-09-06 09:15] #17948 closed, assigned to nobody

[2018-09-06 09:17] engcom-backlog-pb commented on #17949
@sskulkarni, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-06 09:26] engcom-backlog-nazar commented on #17939
@webspeaks yes how you can add product to cart if it deleted ? seems problem related to your custom code or another module. Can you reproduce this on vanilla instance ?

[2018-09-06 09:36] DanielRuf commented on #15060
That doesn't matter. It is about the removal / cleanup of the mixin `.lib-layout-width()`.

[2018-09-06 09:42] hitesh-wagento commented on #15060
So do you want I will remove `@layout__min-width: 960px;` from `app/design/adminhtml/Magento/backend/web/mui/styles/_vars.less` and from `lib/web/css/source/lib/_layout.less` below code ?

    .lib-layout-width(
    @_layout__min-width: @layout__min-width,
    @_layout__max-width: @layout__max-width,
    @_layout__indent: @layout-indent__width
    )

[2018-09-06 09:42] MLucaciu commented on #4567
Still happening on Magento 2.2.5

[2018-09-06 09:54] engcom-backlog-nazar commented on #17944
Hi @bobemoe  On this step  ->Click the configuration dropdown and see that the item "B" is shown including tax at £12.
I'm have item "B" Excluding tax. Can you verify it on vanilla instance ?

[2018-09-06 09:59] engcom-backlog-nazar commented on #17918
Hi @FerihumF Did You have any module with have Sequence on module.xml file ?

[2018-09-06 09:59] sheldmandu commented on #17845
@dmytro-ch Neither Braintree nor PayPal Express Checkout have the New Order Status config option available so that's not really a solution.

[2018-09-06 10:04] engcom-backlog-nazar commented on #17918
@FerihumF Did you migrate from 1.* version of magento ?

[2018-09-06 10:38] sheldmandu opened #17952 "No control over invoice generation"
### Summary
Magento currently automatically creates Invoices associated with Sales Orders when a payment for a sales order is received.  This is incorrect and this is currently the case for Braintree, PayPal and other payment methods developed by the magento core team.

The fundamental problem with this is that there is no control over it and not all merchants should have an Invoice automatically

[2018-09-06 10:38] magento-engcom-team commented on #17952
Hi @sheldmandu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-06 10:39] sheldmandu commented on #17952
I can confirm that the issues is reproduced on 2.2.5.

[2018-09-06 10:39] ncarpo commented on #4313
Although you can change the weight value on multiple virtual products, the option "This product has weight no weight" remains the same when really it should be converted to a simple product and "This product has weight" should be set.

Keeping it as a virtual product means that it's weight value isn't taking into consideration hen shipping costs are calculated.

[2018-09-06 10:47] engcom-backlog-nazar commented on #17952
Hi @sheldmandu , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-06 10:55] bobemoe commented on #17944
@magento-engcom-team give me 2.2.5 instance

[2018-09-06 10:55] magento-engcom-team commented on #17944
Hi @bobemoe. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-06 10:56] magento-engcom-team commented on #17944
Hi @bobemoe, here is your [Magento instance](https://i-17944-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17944-2-2-5.engcom.dev.magento.com/admin](https://i-17944-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-06 10:56] VincentMarmiesse commented on #5309
FYI, I still have the issue on a clean 2.2.5 install.
It works after settings the session lifetime as described [here](https://github.com/magento/magento2/issues/5309#issuecomment-290691442)

[2018-09-06 11:04] webspeaks commented on #17939
@engcom-backlog-nazar
1. Add product X  to cart
2. Remove product X from database
3. Add product Y to cart
4. Go to cart page

You should see the error. However I will also try to replicate it on Vanilla magento instance.

[2018-09-06 11:07] bobemoe commented on #17944
Confirmed the issue on your vanilla instance.
Here you can see B is at $12 where it should be $10
https://i-17944-2-2-5.engcom.dev.magento.com/test.html

The only additional step I missed out from my steps to reproduce was clearing the cache when prompted after changing config. I have updated this now.

[2018-09-06 11:10] bobemoe commented on #17944
Also, I have just noticed, on initial page display but while still loading it says $10, but it changes, while looking at the dropdown to $12 just before the page finished loading. Must be updated with JS or something?

[2018-09-06 11:12] bobemoe commented on #17944
Additionally the workaround we have found is to set this back to default values: (not it was changed in my preconditions)

Stores->Config->Sales->Tax->Shoping cart display settings->Display Prices

Or to set all the other display settings to inc and exc tax.

[2018-09-06 11:29] engcom-backlog-nazar commented on #17944
@bobemoe the fix for this issue has already available in 2.2-develop branch.

[2018-09-06 11:34] engcom-backlog-pb commented on #17951
@deefco, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-06 11:35] #17944 closed, assigned to nobody

[2018-09-06 11:46] engcom-backlog-nickolas commented on #7644
@kanduvisla, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-06 11:46] #7644 closed, assigned to nobody

[2018-09-06 11:46] engcom-backlog-pb commented on #17934
@zack6849, thank you for your report.
Please clarify the 1st step.

[2018-09-06 11:47] bobemoe commented on #17944
OK cool.  Got link to the related issue?

[2018-09-06 11:47] Rickertje commented on #17925
Ok .. but:
a) Did you reproduce this problem on 2.2.5? So that I know that M2 out-of-the-box is the problem and not my payment module f.e.
b) What about the problem with the empty form (PART C) - is this solved as well in 2-2-dev ?
c) Should I create a request for changing the standard behavior I decribed in the note?

[2018-09-06 11:49] engcom-backlog-nazar commented on #17939
@webspeaks  I'm still not able to reproduce
![cart](https://user-images.githubusercontent.com/40756439/45155534-00dddd00-b1e4-11e8-8661-e376e7f0287b.gif)

[2018-09-06 11:54] engcom-backlog-pb commented on #16101
@AndyJAllen @Aaron-Lewis @ilievski @forwells
We cannot reproduce this issue. Can anyone reproduce it on the ***clean*** Magento 2 installation and provide updated steps?

[2018-09-06 12:03] engcom-backlog-nazar commented on #17925
@Rickertje Yes on 2.2.5 still exist this problem.
b) yes empty field present on 2.2-develop but is may be empty, because you may enter a new address not edit.

[2018-09-06 12:12] devqualwebs commented on #3616
@chaluvadiswamy any solution for this? Even I'm facing this issue. Rest API taking too much time.

[2018-09-06 12:31] matin73 opened #17954 "Customer get unsubscribe to newsletter on password reset email request with Newsletter Need to Confirm Set to Yes on admin settings"
### Preconditions

1. Magento 2.2.4 and 2.2.5
2. PHP 7.0
3.Open Admin Stores > Configuration > Customers > Newsletter > Need to Confirm Set to Yes and save.

### Steps to reproduce

1. Go to Storefront.
2. Create customer account and "Sign in".
3. Go to "Newsletter Subscription" in account page.
4. Activate checkbox  "General Subscription" , a confirmation request has been sent on email with link,

[2018-09-06 12:31] magento-engcom-team commented on #17954
Hi @matin73. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-06 12:32] matin73 commented on #17954
@matin73 do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

 x   yes
    no

[2018-09-06 12:47] Usman1493 commented on #5350
Yes @vkhandelwal1993 is right. I migrated the data from magento 1.9.3.7 to magento 2.2.5. When I click the add product button it showed me the same error. The way I resolved it was to go Admin->Store->Attribute Set. And edited the Default and Migration_Default Attributes Set. Initially the Migration_Default Attribute had the attribute sets but the Default was empty. I added the attributes to the D

[2018-09-06 12:53] engcom-backlog-pb commented on #16728
@sashas777, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-06 13:22] #13433 closed, assigned to nobody

[2018-09-06 13:32] Usman1493 commented on #7652
I migrated the data from magento 1.9.3.7 to magento 2.2.5 using the data migration tool. When I click the add product button through admin panle, it showed me the same error. The way I resolved it was to go to `Admin->Store->Attribute Set`. And edited the` Default` and `Migration_Default` Attributes Set. Initially the Migration_Default Attribute had the attribute sets but the Default was empty. I

[2018-09-06 13:39] engcom-backlog-pb commented on #15620
@xpoback First of all, there is no mentioning of _Composer_ in the issue report. And, secondary, we are not able to fix any bug that comes from the bundled extensions. Please contact developers of specific third-party modules.
@Vinai you always can disable any module you want.

[2018-09-06 13:54] engcom-backlog-andrii commented on #17954
@matin73 ,  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

Only 3 letter on email box is present and customer is not unsubscription.
See scrennshots

![letter_on_email](https://user-images.githubusercontent.com/41946904

[2018-09-06 13:58] engcom-backlog-pb commented on #17760
@Gagandeepwander, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-06 13:58] #17760 closed, assigned to nobody

[2018-09-06 14:10] pioneerathletics opened #17955 "Vimeo Video Gateway Problem - Will Not Play on Product Page"
### Preconditions

1. Magento 2.1.14
2.

### Steps to reproduce

1. Tried to play product video in the image gallery on a product page.
2.

### Expected result

1. Expect video to play.
2.

### Actual result

1. Video does not play, just spins infinitely
2. Problem is with Vimeo gateway (see attached) froogaloop2.min.js is not loading from https://secure-a.vimeocdn.com/js/froogaloop2.min.js
3. Saw

[2018-09-06 14:11] magento-engcom-team commented on #17955
Hi @pioneerathletics. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-09-06 14:12] pioneerathletics commented on #17955
@magento-engcom-team give me {2.1.14} instance

[2018-09-06 14:26] matin73 commented on #17954
maybe it depends on some configuration. here is my setup
![grafik](https://user-images.githubusercontent.com/3177275/45163880-93d14400-b1f1-11e8-807c-6ae5a4328842.png)

![grafik](https://user-images.githubusercontent.com/3177275/45163870-903dbd00-b1f1-11e8-98f6-c8e6a18927ac.png)

![grafik](https://user-images.githubusercontent.com/3177275/45163861-8d42cc80-b1f1-11e8-8c91-77861ab6f6bc.png)

[2018-09-06 14:30] matin73 commented on #17954
And maybe you have to make at least 1 order (at both systems customer made at least 1 order)

[2018-09-06 14:43] tr33m4n commented on #7253
@mcspronko Did you manage to get anywhere sorting out which commits from #9413 were relevant to this ticket?

[2018-09-06 14:44] matin73 commented on #17954
I think unsubscribe email is sent, if customer has not confirmed newsletter subscription yet ...!?

[2018-09-06 14:57] mathieuimbert commented on #8725
Issue still exists in Magento 2.2.5

[2018-09-06 15:05] engcom-backlog-pb commented on #5402
@chris-pook, thank you for the update.
We've acknowledged the issue and added to our backlog.

[2018-09-06 15:07] engcom-backlog-nazar commented on #17955
Hi @pioneerathletics  you need to "give me 2.1.14 instance"

[2018-09-06 15:14] pioneerathletics commented on #17955
I don't understand what you mean by I need to "give you 2.1.14 instance"

[2018-09-06 15:31] pioneerathletics commented on #17955
@magento-engcom-team  "give me 2.2.5 instance"

[2018-09-06 16:26] zack6849 commented on #17934
You need to have something that is a secured value stored in the magento checkout window.checkoutConfig, for example payment information, that is encrypted, but you have the wrong crypt key

For example, change your crypt key to something different and then try the onepage checkout with a payment prodvider configured (eg: authorize.net or something) and see what happens

[2018-09-06 16:50] erikhansen commented on #17023
For the record, I applied PR #17882 as a composer patch to a 2.2.5 Commerce installation and it fixed this issue for me. The merchant had a custom text field attribute and the url_key value was getting deleted when they uploaded a CSV that contained that column.

[2018-09-06 18:14] FerihumF commented on #17918
No, there is no third party module.xml with a sequence to Magento_SalesSequence. I never had a Magento 1.*, this update was from 2.1.11 to 2.2.5

I have looked in all log files, no clue either.

[2018-09-06 18:15] hostep commented on #15620
@engcom-backlog-pb: sorry, please don't take this personal. And yes I realise this is not the right place to discuss this, but we already tried to start up a discussion about this on Slack yesterday, which was greeted by a lot of silence, so yeah ...

Anyway, you're making the wrong assumption here. Magento recommends people to install Magento using composer. Not by cloning the git repo. So your a

[2018-09-06 18:37] jatinkumar09 commented on #5127
Hi
I am facing same issue installed magento 2.2.5 using php 7.1.19

[2018-09-06 19:09] misha-kotov commented on #3616
@devqualwebs please open a new issue and add repro steps, specify your Magento version, and whether this is reproducible on a clean instance. If not, add your enabled shipping methods and shipping configuration.

[2018-09-06 19:19] chandlerbing016 commented on #2525
@Vinai's solution solves the problem. Now, it's `generated/code` directory that you have to add your sticky bit for `Magento 2.2 and above`

[2018-09-06 19:20] qsolutions-pl commented on #17930
Found out the problem, not MySQLrelated, closing this issue. thanks for help

[2018-09-06 19:20] #17930 closed, assigned to nobody

[2018-09-06 20:12] HARoonMIND opened #17958 "Magento Backned Not give customized Phtml for self desgin Dashboard from company -required"
### Description

Magento Backned Not give customized Phtml for self desgin Dashboard from company -required
I am seeking for area but only an Iframe is a solution for it that not a require thing

[2018-09-06 20:13] magento-engcom-team commented on #17958
Hi @HARoonMIND. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-06 20:18] HARoonMIND opened #17959 "New Automate Dev Environment for mangento 2"
### Description

If I want to change any module ,
what I need to just write dev  command with module name ,then mangeto copy the whole module and shift to development folder while the web live work that module ,
then Magneto give me the dev link where whole website so similer but the module come from dev folder  as well as database  ,where I can see change and no need to run cache ,upgrade or stat

[2018-09-06 20:18] magento-engcom-team commented on #17959
Hi @HARoonMIND. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-06 23:52] tomekjordan commented on #17952
This bevahior is present in any magento versions. M1 and M2. the funny thing is that Paypal can automatically create credit memo when order is refunded in Paypal, merchant cannot control this process. I agree, this behavior should be changed. moreover, any online payments block qty change for invoice, that block partial invoicing. even when you capture payment offline, you cannot change qty for su

[2018-09-06 23:57] oralunal commented on #13504
"The same issue on windows + wamp after installing first extension. Removing global.php file fixed it."

Solved my problem too

[2018-09-07 05:18] davidduong90 opened #17962 "Minimum Order Amount for Free Shipping doesn't work."
### Preconditions
1. Magento 2.2.5 with sample data

### Steps to reproduce
1. STORES > Settings > Configuration > Sales > Shipping Methods > Free Shipping > Enabled > select Yes > Minimum Order Amount > enter 69 > Save Config

### Expected result

1. Free Shipping must don't show when Subtotal less 69.

### Actual result
Free Shipping still show when Subtotal is less 69(57).
http://prntscr.com/kr

[2018-09-07 05:44] engcom-backlog-nazar commented on #17959
Hi @HARoonMIND , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-07 05:44] #17959 closed, assigned to nobody

[2018-09-07 05:45] engcom-backlog-nazar commented on #17958
Hi @HARoonMIND  , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-07 05:45] #17958 closed, assigned to nobody

[2018-09-07 06:12] Sharmilasrini95 commented on #1365
Hi @sivajik34

Have you  got the fix?

[2018-09-07 06:12] zgetro commented on #13839
@msliman I could manage to find the issue and resolve quick patch.
**, strictly speaking,** this is not the solution, but you can use this patch while @magento-engcom-team  will resolve this issue.

https://magento.stackexchange.com/questions/212210/your-password-reset-link-has-expired-magento-2#answer-241235

[2018-09-07 06:28] chiragc-itpath commented on #16587
@engcom-backlog-nickolas  you can fix this issue via following a link
https://github.com/magento/magento2/issues/13839#issuecomment-419333917

#13839 has a similar issue.

[2018-09-07 06:32] zgetro commented on #16587
@engcom-backlog-nickolas  you can fix this issue via following a link
https://github.com/magento/magento2/issues/13839#issuecomment-419333917

#13839 has a similar issue.

@damien-lechopier please open this issue. to resolve this bug from great software.
:smiley:

[2018-09-07 06:38] matin73 commented on #17954
I have testet in now once again. Steps to reproduce:
1) Intall Magento
2) Create customer account. Sign in and go to "Newsletter Subscription" in account.
3) Activate checkbox for newsletter subscription " General Subscription"
4) Now email "Newsletter subscription confirmation" is sent. Now do not click activation link in email.
5) Log out from account and click "Forgot you passwort" link and ent

[2018-09-07 06:42] Usman1493 opened #17963 "Customer Registration is not working on Front end and Backend after Data Migration from Magento 1.9.3.7 to Magento 2.2.5"
### Summary

I have a fresh installation of `Magento 2.2.5` with Template Monster theme and I have migrated the data from `Magento 1.9.3.7` to `Magento 2.2.5` using data migration tool. Now when I try to create an account by entering all the fields and click the create button, It reloads the same registration page showing an error message that " `"" is a required Field`". I have checked the `app/d

[2018-09-07 06:42] magento-engcom-team commented on #17963
Hi @Usman1493. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-07 06:44] engcom-backlog-nazar commented on #17955
Hi @pioneerathletics I'm not able to reproduce following steps your described. Have no 504 error
@magento-engcom-team give me 2.2.5 instance

[2018-09-07 06:44] magento-engcom-team commented on #17955
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-07 06:44] magento-engcom-team commented on #17955
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-17955-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17955-2-2-5.engcom.dev.magento.com/admin](https://i-17955-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-07 06:49] engcom-backlog-nazar commented on #17963
Hi @Usman1493, problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2018-09-07 06:49] #17963 closed, assigned to nobody

[2018-09-07 07:02] Jakhotiya opened #17964 "Backend Order creation Authorizenet: If invalid credit card number is entered the loader keeps spinning forever without any error message"
### Preconditions

1. Magento 2.2-develop branch
2. Enable Authorizenet payment gateway

### Steps to reproduce

1. Go to Admin-> Sales -> Order->Create new Order
2. Add items to card and choose shipping method
3. Select Authorizenet Credit Card as payment method.
4. Input an invalid credit card number, like just enter 10 digits credit card number
5. Hit submit Order, loader shows up and keeps spi

[2018-09-07 07:02] magento-engcom-team commented on #17964
Hi @Jakhotiya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-07 07:04] Jakhotiya commented on #17964
@magento-engcom-team give me 2.2-develop instance

[2018-09-07 07:04] magento-engcom-team commented on #17964
Hi @Jakhotiya. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-07 07:04] magento-engcom-team commented on #17964
Hi @Jakhotiya, here is your [Magento instance](https://i-17964-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17964-2-2-develop.engcom.dev.magento.com/admin](https://i-17964-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-07 07:12] Jakhotiya commented on #17964
@magento-engcom-team Yes I was able to reproduce the issue.
![screen shot 2018-09-07 at 12 41 23 pm](https://user-images.githubusercontent.com/9327315/45203974-7eb0ef80-b29b-11e8-97b0-6d5fa2629c3d.png)

[2018-09-07 07:18] engcom-backlog-nazar commented on #17964
Hi @Jakhotiya  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-07 07:37] sparxbpoit commented on #7083
easy method to enabling SSL on your magento 2 store, Go then to Stores>Configuration from the admin panel and unfold the Base URLs (Secure) section then changing http to https after Yes for Use Secure URLs on Storefront and Use Secure URLs in Admin fields. Do the same for the Admin also.

Source - https://www.sparxbpo.com/blog/enable-ssl-magento-2-store.html

[2018-09-07 08:02] matin73 commented on #11498
same issue on 2.2.5

[2018-09-07 08:08] xpoback commented on #15620
@engcom-backlog-pb Installation through composer is on of the ways described in [Magento 2 Docs](https://devdocs.magento.com/guides/v2.2/install-gde/composer.html) and even mentioned as recommended.
I already contacted the authors almost two month ago and created an issue in their repository and even gave the exact place in code where the bug appears.
This is not just about this issue, it's a gene

[2018-09-07 08:14] KulwinderKohli commented on #10967
Hi, I am getting the same issue. Do magento have any solution now?

[2018-09-07 08:35] engcom-backlog-andrii commented on #17962
@davidduong90, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-07 08:38] engcom-backlog-pb commented on #12212
@king-themes, Microsoft SQL Server is not officially supported. Please see [Magento 2 documentation](https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html).

[2018-09-07 08:38] #12212 closed, assigned to nobody

[2018-09-07 08:38] engcom-backlog-nazar commented on #7977
Hi @HongMarketingInc , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-07 08:39] davidduong90 commented on #17962
Ok, Hope hear fix it soon. Good job.

[2018-09-07 08:48] bibiseb commented on #15956
Hello,

Same issue on **Magento ver. 2.2.4**

In fact the roles are saved on the first store view but not globally. Do I do something wrong ?

[2018-09-07 08:57] amanuni commented on #7977
Thank you @engcom-backlog-nazar for labeling this issue looking forward for the fix soon.

[2018-09-07 09:47] engcom-backlog-nazar commented on #17955
@pioneerathletics I'm not able to reproduce on vanilla instance. can i close issue ?

[2018-09-07 09:48] engcom-backlog-nazar commented on #17939
@webspeaks  Can you still  reproduce this issue?

[2018-09-07 10:00] webspeaks commented on #17939
@engcom-backlog-nazar Sorry I forgot to tell you that I am on Magento Commerce Cloud 2.2.5. So it might be an issue in cloud version.

[2018-09-07 10:06] engcom-backlog-nazar commented on #17939
@webspeaks You have CE version or EE ?

[2018-09-07 10:19] nainesh2jcommerce commented on #17861
I am currently working with Magento version 2.1.9 and facing same issue.

[2018-09-07 10:37] HARoonMIND commented on #17959
Hi @engcom-backlog-nazar  it is for Magento Core technical  Feature request  , I am intended to submit that idea

[2018-09-07 10:44] Rickertje commented on #12889
I am on 2.2.5 and this is still not solved (be it tablerates in my case)
We are now 6 months after this was labeled 'Fixed in 2.2.x'
Can someone tell me what the status is? Thx.

[2018-09-07 10:51] engcom-backlog-nazar commented on #17959
@HARoonMIND Then please open new issue with this template ->
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2018-09-07 11:06] CelaenoBV commented on #8674
Since the "user defined" option for checkbox is not visible, by design, we still needed an option for our customers to let the quantity be up to the user.

I made a module where it's possible to change the quantity (for checkbox options).
https://github.com/Itonomy/magento2-bundle-products-change-qty

[2018-09-07 11:13] engcom-backlog-andrii commented on #17954
@matin73 , thanks for you audate.
We've acknowledged the issue and added to our backlog.

[2018-09-07 11:26] matin73 commented on #17952
Same problem for me. Shops have ERP system connected. This can also cause problem with tax office because of 2 invoices (the invoice genereted by magento is not taken in accounting)

[2018-09-07 11:40] HARoonMIND commented on #17959
Alright thanks , I will work on it and then I will update it issue properly

[2018-09-07 11:49] magento-engcom-team commented on #3496
@moraryou, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-09-07 11:49] #3496 closed, assigned to nobody

[2018-09-07 11:50] magento-engcom-team commented on #4569
@matt-bailey, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-09-07 11:50] #4569 closed, assigned to nobody

[2018-09-07 11:50] magento-engcom-team commented on #4684
@micheese, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-09-07 11:50] #4684 closed, assigned to nobody

[2018-09-07 11:51] magento-engcom-team commented on #5077
@werdlv, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-09-07 11:51] #5077 closed, assigned to tolyantrain

[2018-09-07 11:51] DanielRuf commented on #15631
It's not in 2.2.5.

[2018-09-07 11:52] magento-engcom-team commented on #5417
Hi @rodrigowebjump
Unfortunately, we do not have any updates regarding this ticket.

[2018-09-07 11:53] magento-engcom-team commented on #5542
@vipin-eglobeits, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [lin

[2018-09-07 11:53] #5542 closed, assigned to nobody

[2018-09-07 11:53] magento-engcom-team commented on #5665
@ErikPel, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-09-07 11:53] #5665 closed, assigned to nobody

[2018-09-07 11:57] magento-engcom-team commented on #5992
@schmengler, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-09-07 11:58] magento-engcom-team commented on #6043
@DwayneH, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-09-07 11:58] #6043 closed, assigned to nobody

[2018-09-07 11:59] magento-engcom-team commented on #7070
@Styopchik, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-09-07 11:59] #7070 closed, assigned to nobody

[2018-09-07 11:59] magento-engcom-team commented on #7080
@qbo-tech, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-09-07 11:59] #7080 closed, assigned to nobody

[2018-09-07 12:01] magento-engcom-team commented on #7348
@Januszpl, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-09-07 12:01] #7348 closed, assigned to nobody

[2018-09-07 12:02] magento-engcom-team commented on #7493
@minhluan259, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-09-07 12:02] #7493 closed, assigned to nobody

[2018-09-07 12:03] magento-engcom-team commented on #8198
Hi @Bartlomiejsz

This is not the idea behind this. Intent is to close only inactive issues.

[2018-09-07 12:03] magento-engcom-team commented on #8286
@mattwellss, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-09-07 12:03] #8286 closed, assigned to nobody

[2018-09-07 12:03] magento-engcom-team commented on #8201
@OZZlE, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-09-07 12:03] #8201 closed, assigned to nobody

[2018-09-07 12:04] magento-engcom-team commented on #8849
@jgodart, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-09-07 12:04] #8849 closed, assigned to nobody

[2018-09-07 12:05] magento-engcom-team commented on #8984
@alexpoletaev, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](

[2018-09-07 12:05] #8984 closed, assigned to nobody

[2018-09-07 12:05] magento-engcom-team commented on #9817
@oroskodias, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-09-07 12:05] #9817 closed, assigned to nobody

[2018-09-07 12:06] magento-engcom-team commented on #10003
Hi @Bartlomiejsz

It's not being closed, as now it's apparent that somebody is still interested in it. Thank you for the feedback.

[2018-09-07 12:06] magento-engcom-team commented on #10013
@abdulmoizbaig, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link]

[2018-09-07 12:06] #10013 closed, assigned to Fuzzzzy

[2018-09-07 12:07] magento-engcom-team commented on #10402
@alessandroniciforo, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [

[2018-09-07 12:07] #10402 closed, assigned to nobody

[2018-09-07 12:07] magento-engcom-team commented on #12088
@The-Krang, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-09-07 12:07] #12088 closed, assigned to nobody

[2018-09-07 12:07] magento-engcom-team commented on #10450
@DigitalStartupUK, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [li

[2018-09-07 12:13] DigitalStartupUK commented on #10450
wow... I guess UK stores  won't ever be able to offer PayPal Credit

[2018-09-07 12:15] pioneerathletics commented on #17955
@magento-engcom-team I noticed that it is working again. Here's the thing, last week it had the same problem connecting to the gateway, then resolved itself, only to have the same problem this week.
Should I reopen if it happens again?

[2018-09-07 12:18] deepakkn85 commented on #16101
I got the same issue while trying to place an order using REST API. I tried in Magento 2.2.5. Any updates on this issue?

[2018-09-07 12:20] #17955 closed, assigned to nobody

[2018-09-07 12:29] DanielRuf commented on #15631
See https://github.com/magento/magento2/commit/213e11d576d72a3d6bd2efd1a2f309f91d200d5d#diff-3f348dd219394a12da6df66aa9410956

[2018-09-07 12:31] DanielRuf commented on #15631
And also https://github.com/magento/magento2/blob/40e267223e25b64d93e4e2faeec5ce86767eb7bf/app/code/Magento/Catalog/ViewModel/Product/Breadcrumbs.php#L111

[2018-09-07 12:31] DanielRuf commented on #15631
So there is a regression.

[2018-09-07 12:36] MartinAarts opened #17967 "Using a " in product title causes jquery error"
Preconditions:
Magento 2.2.5

Steps to reproduce:
Use a " in a product title

Expected result:
" being displayed.

Actual result:
Page javascript not loaded correctly, because " is not being escaped.

![schermafbeelding 2018-09-07 om 14 34 55](https://user-images.githubusercontent.com/22233203/45219465-50d3a700-b2ab-11e8-9c00-3512dcd8b535.png)

[2018-09-07 12:36] magento-engcom-team commented on #17967
Hi @MartinAarts. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-07 12:37] MartinAarts commented on #17967
@magento-engcom-team give me 2.2.5 instance

[2018-09-07 12:37] magento-engcom-team commented on #17967
Hi @MartinAarts. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-07 12:37] magento-engcom-team commented on #17967
Hi @MartinAarts, here is your [Magento instance](https://i-17967-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17967-2-2-5.engcom.dev.magento.com/admin](https://i-17967-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-07 12:42] MartinAarts commented on #17967
I'm able to reproduce the issue in the given instance. See attached screenshots. Now visible at this url:
https://i-17967-2-2-5.engcom.dev.magento.com/test-product.html

For example, image keeps loading, JS gives error.
![schermafbeelding 2018-09-07 om 14 41 19](https://user-images.githubusercontent.com/22233203/45219765-4ebe1800-b2ac-11e8-8f77-eeaa770372a9.png)
![schermafbeelding 2018-09-07 om 14

[2018-09-07 12:46] engcom-backlog-nazar commented on #8815
Hi @erikhansen  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-07 13:14] engcom-backlog-nazar commented on #17918
@FerihumF I'm tested it 2 times migrate from 2.1.11 to 2.2.5 but doesn't have no errors. problem may be related to your data.

[2018-09-07 13:43] AndrewPenry commented on #13720
I think the problem here is that the import behavior will only add related skus, never remove them.

Let's start with 2 related skus already in the database:

SKU | Position
------------ | -------------
OLD-1 | 1
OLD-2 | 2

If I upload this:

    sku,related_skus,related_position
    MYSKU,"NEW-1,NEW-2","1,2"

I expect that the new skus would overwrite the old skus in their positions, like:

SKU |

[2018-09-07 13:45] convenient commented on #17195
If a customer ends up with 50 or more cookies for whatever reason then they're basically locked out until they clear their browser cookies correct?

If the above is correct then I'm toying with the idea whether it would it be sensible to automatically wipe all the customers cookies when this error occurs and the exception is thrown

- Either way the customer won't get browsing until they clear the

[2018-09-07 13:54] magento-engcom-team commented on #5445
@sma09sjb @tuyennn

Fix for this issue is going to be available with the upcoming 2.2.6 release.
Meanwhile, you may use the following commits as the reference: https://github.com/search?q=MAGETWO-90576&type=Commits

Thank you

[2018-09-07 13:54] #5445 closed, assigned to nobody

[2018-09-07 13:57] magento-engcom-team commented on #5907
Hi @rbostan

Fix for this issue is expected to be delivered with the patch 2.2.6. Meanwhile this commit may be sued as a reference: 3845d9d34636c3c2604887e103e2034d082bdc50

Thank you

[2018-09-07 13:57] #5907 closed, assigned to nobody

[2018-09-07 13:59] magento-engcom-team commented on #7204
Hi @tinxit
This issue seems to be fixed now, as we could not reproduce it with 2.2.5.

Please reopen if the issue persists. Thank you.

[2018-09-07 13:59] #7204 closed, assigned to nobody

[2018-09-07 14:01] magento-engcom-team commented on #7333
Hi @WaterSlide

This issue is now fixed and it's expected to be delivered with the upcoming 2.2.6 release. Meanwhile, you may use this commit as a reference 8d4124cc4125e81d4a41ae71aca12c8e12f297a6

Thanks

[2018-09-07 14:01] #7333 closed

[2018-09-07 14:03] magento-engcom-team commented on #7967
Closing. Thank you

[2018-09-07 14:03] #7967 closed, assigned to nobody

[2018-09-07 14:07] sissy0584 commented on #13993
Any fix but upgrading to 2.2? I'm still experiencing this issue

[2018-09-07 14:07] magento-engcom-team commented on #8969
Hi @sabarivenkatesankrish
This issue seems to be fixed in 2.2.x already. You may use the following commits as a reference: b66b35c34c31caacb1fbd51579f0ecfb96b07e4b 10e739aa387d91caa1214b397a360900b09202d2

Thank you

[2018-09-07 14:07] #8969 closed, assigned to nobody

[2018-09-07 14:29] magento-engcom-team commented on #9830
@ihor-sviziev Internal ticket reopened. Thanks for investigation.

[2018-09-07 14:31] magento-engcom-team commented on #10485
Hi

This issue seems to be fixed in 2.2.5. Please use the following commit as a reference: 010a6469ea252e865f6f50fd769ff6abeb9376be

More commits may be found with this search: https://github.com/magento/magento2/search?q=MAGETWO-71936&unscoped_q=MAGETWO-71936&type=Commits

Thank you

[2018-09-07 14:31] #10485 closed, assigned to nobody

[2018-09-07 14:36] Yonn-Trimoreau commented on #9287
Still present in 2.2.5

[2018-09-07 14:38] magento-engcom-team commented on #10693
Hi @romainruaud

This issue seems to be already fixed in 2.2.

You may use commit be34d52943b1ad60f90df9c2922e362997dbd536 as a reference.

Thank you

[2018-09-07 14:38] #10693 closed, assigned to nobody

[2018-09-07 14:39] magento-engcom-team commented on #11453
Hi @selusi

This issue seems to be fixed already. Please use https://github.com/magento/magento2/pull/11337 as a reference.

Thank you.

[2018-09-07 14:39] #11453 closed, assigned to sbaixauli

[2018-09-07 14:42] magento-engcom-team commented on #11517
Hi @apedicdev

This issue is already fixed and is targeted to be delivered with the upcoming patch 2.2.6

For now you may use these commits as a reference: https://github.com/magento/magento2/search?q=MAGETWO-82116&unscoped_q=MAGETWO-82116&type=Commits

Thank you

[2018-09-07 14:42] #11517 closed, assigned to nobody

[2018-09-07 14:42] Thundar commented on #12479
As a workaround, you can create an observer on `customer_save_before`, with code:

[code]

[2018-09-07 14:50] magento-engcom-team commented on #12573
Hi @pmoreno1980
This issue is already fixed and is expected to be patched with the upcoming 2.2.6 release.

For now, you may use the following commit as a reference: 83ecea76cd9d7394ef4b4985307068d4e3ff0d37

Thank you

[2018-09-07 14:50] #12573 closed, assigned to RostislavS

[2018-09-07 14:54] magento-engcom-team commented on #15403
Hi @tristanisginger
This issue does not seem to be reproducible anymore with 2.2.5. Please reopen if it's incorrect.

Thank you

[2018-09-07 14:54] #15403 closed, assigned to nobody

[2018-09-07 14:57] magento-engcom-team commented on #16109
Hi @santoshsupport3

While trying to fix the issue we were unable to reproduce it with 2.2.5 anymore. Please reopen if problem still persists for you.

Thanks

[2018-09-07 14:57] #16109 closed, assigned to nobody

[2018-09-07 15:05] magento-engcom-team commented on #16360
Hi @mazenelmasry

This seems to be the correct behavior for Magento 2. It may be different from magento 1.

Closing ticket now. Thank you

[2018-09-07 15:05] #16360 closed, assigned to nobody

[2018-09-07 15:07] magento-engcom-team commented on #16525
Hi @praveen-chelumalla

Fix for this issue is now expected to be delivered with the upcoming patch 2.2.6.
For now you may use the following commits for reference: https://github.com/magento/magento2/search?q=MAGETWO-93668&type=Commits

Thanks

[2018-09-07 15:07] #16525 closed, assigned to nobody

[2018-09-07 15:29] ishakhsuvarov commented on #17788
Hi @matin73
Please refer to the https://magento.com/security resource if you believe that you have found a security issue. There is a different reporting process for this kind of issues.

Thank you

[2018-09-07 15:29] #17788 closed, assigned to nobody

[2018-09-07 16:22] bamboekeizer opened #17972 "Adding product to bundled product option fails"
### Preconditions
Magento 2.2.5
1. Simple product exists
2. Bundled product exists with no options (products)

### Steps to reproduce
1. Add an option to the bundled product
2. Add products to option

### Expected result

1. add product windows opens and retrieved products are displayed to select them for the bundle option

### Actual result

1. The add products window opens, no products are retri

[2018-09-07 16:40] magento-engcom-team commented on #14584
Closing, per @orlangur comment.

Thanks for collaboration.

[2018-09-07 16:40] #14584 closed, assigned to nobody

[2018-09-07 16:43] bamboekeizer commented on #17972
I cannot reproduce on the vanilla Magento instance.
I started magento 2 on an earlier release and had a few products. After upgrade to version 2.2.5 I started to add a bundled product and this failure occurred.

[2018-09-07 16:44] magento-engcom-team commented on #17952
Hi @sheldmandu. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/81

[2018-09-07 16:44] #17952 closed, assigned to nobody

[2018-09-07 16:44] magento-engcom-team commented on #17303
Hi @woutersamaey. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/82

[2018-09-07 16:45] #17303 closed, assigned to nobody

[2018-09-07 16:45] magento-engcom-team commented on #17433
Hi @DanielRuf. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/83

[2018-09-07 16:45] #17433 closed, assigned to DanielRuf

[2018-09-07 16:45] magento-engcom-team commented on #14543
Hi @karthickannan. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/84

[2018-09-07 16:45] #14543 closed, assigned to nobody

[2018-09-07 16:45] magento-engcom-team commented on #13354
Hi @VincentMarmiesse. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento/community-features/issues/85

[2018-09-07 16:45] #13354 closed, assigned to nobody

[2018-09-07 16:46] magento-engcom-team commented on #17950
Hi @lombokindustries

Unfortunately we can not provide any help for the reports not containing all required information. Please update the report and reopen if the issue persists.

[2018-09-07 16:46] #17950 closed, assigned to nobody

[2018-09-07 16:48] magento-engcom-team commented on #17778
Hi @bentintoshape

Unfortunately we can not provide any help with the report not containing all required information. Please update it and reopen if the issue persists.

[2018-09-07 16:48] #17778 closed, assigned to nobody

[2018-09-07 16:48] bamboekeizer commented on #17972
I installed a fresh 2.2.5 install and the problem cannot be reproduced, so it works properly on the vanilla version.
I used the fresh 2.2.5 install and used my existing database. Then the problem reproduced.

[2018-09-07 18:14] hostep commented on #15631
In case anyone's interested, here's the patch we use to get it working on Magento 2.2.5.

Apply it to the Magento_Catalog module: [ENGCOM-1703-Catalog.diff.txt](https://github.com/magento/magento2/files/2362043/ENGCOM-1703-Catalog.diff.txt)

Fix is already in 2.2-develop branch as @DanielRuf noticed, by this PR: https://github.com/magento/magento2/pull/15521

The patch isn't an exact implementatio

[2018-09-07 18:17] DanielRuf commented on #15631
We use 2.2.5 and it is not fixed. The article name is not escaped. We had to overwrite the ViewModel.

[2018-09-07 18:18] DanielRuf commented on #15631
`getProductName` and `"product": "<?= $block->escapeHtml($block->escapeJs($viewModel->getProductName())); ?>"` are not the fixed version.

[2018-09-07 18:19] hostep commented on #15631
I know, have you checked the patch or the PR? ;)

[2018-09-07 18:20] DanielRuf commented on #15631
@magento-engcom-team give me 2.2.5 instance

[2018-09-07 18:20] magento-engcom-team commented on #15631
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-07 18:20] hostep commented on #17967
This is a known problem and is already fixed on the `2.2-develop` branch.
Let's close it as a duplicate of https://github.com/magento/magento2/issues/15631 & https://github.com/magento/magento2/issues/15037 & https://github.com/magento/magento2/issues/15491 & probably some others.

[2018-09-07 18:20] #17967 closed, assigned to nobody

[2018-09-07 18:26] hostep commented on #15631
Yes, it's like those other fixes that were supposed to go in 2.2.5, the cut of point/date was incorrectly made and so a bunch of fixes that were supposed to go in 2.2.5 didn't make it. Like the other one you fixed for the area code, remember ;). It's the same thing for this fix, it didn't make it in 2.2.5, so it will probably be in 2.2.6

[2018-09-07 18:32] DanielRuf commented on #15631
https://i-15631-2-2-5.engcom.dev.magento.com/test-1-product.html

[2018-09-07 18:32] DanielRuf commented on #15631
@magento-engcom-team give me 2.2-develop instance

[2018-09-07 18:32] magento-engcom-team commented on #15631
Hi @DanielRuf. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-07 18:33] magento-engcom-team commented on #15631
Hi @DanielRuf, here is your [Magento instance](https://i-15631-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-15631-2-2-develop.engcom.dev.magento.com/admin](https://i-15631-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-07 18:39] DanielRuf commented on #15631
As I said ;-)

![image](https://user-images.githubusercontent.com/827205/45237142-28b16b80-b2de-11e8-8872-9a5eb4842cab.png)

![image](https://user-images.githubusercontent.com/827205/45237123-1cc5a980-b2de-11e8-97d3-2977648ebab9.png)

[2018-09-07 18:40] DanielRuf commented on #15631
Obviously not, except it is in an unmerged PR.

[2018-09-07 18:41] hostep commented on #15631
Can you please show me the page of the 2.2-develop instance, your screenshot is from the 2.2.5 instance.

The fix is definitely here though: https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/view/frontend/templates/product/breadcrumbs.phtml

[2018-09-07 18:43] DanielRuf commented on #15631
Weird, the one from the dev branch does not load the page, wait a moment.

[2018-09-07 18:45] DanielRuf commented on #15631
See https://i-15631-2-2-develop.engcom.dev.magento.com/catalogsearch/result/?q=product

https://i-15631-2-2-develop.engcom.dev.magento.com/test-1-product.html

![image](https://user-images.githubusercontent.com/827205/45237429-f3f1e400-b2de-11e8-9c7c-244a9ecd1a2b.png)

[2018-09-07 18:49] hostep commented on #15631
Weird, maybe some other new bug, or some caching problem maybe, dunno.

Anyways, I've tested the patch I've refered to above a couple of weeks ago on a 2.2.5 instance, and it solved the issue with the incorrectly escaped characters (`"` was one of those), so I'm pretty confident the patch works.

The patch is the sum of the last 4 commits in the history of that file: https://github.com/magento/mag

[2018-09-07 18:50] DanielRuf commented on #15631
This works: https://i-15631-2-2-develop.engcom.dev.magento.com/test-2-product.html

But imho it is not underatandable why the move was needed and why different methods are used and not these values internally escaped for all view and consumers. It feels "hacky". And it also feels bad to still read that it will be in a specific release and it will not be there (this is a critical issue for producti

[2018-09-07 18:53] hostep commented on #15631
I agree, some PR's were accepted too fast without a decent review.

But I like the end result, instead of having to escape every single value of that json structure one by one in the phtml (which was done incorrectly), they've chosen to "simplify" it with a single `json_encode` call in the ViewModel.

[2018-09-07 18:58] DanielRuf commented on #15631
Which is bad for Magento and its reputation and expectations of fixes.
In this case every PR / change which did not land in 2.2.5 should be available as official patch as this one would be critical for big stores which use parts with inch / " in the article name. Just my two cents about this as this is not the first time and the second time that the change was not in the expected release.

[2018-09-07 19:00] DanielRuf commented on #15631
Definitely. But shouldn' we do this then in much more modules? And can this not be done in the phtml too? What does the ViewModel provide here what the phtml can not (availability of helper methods).

[2018-09-07 19:04] hostep commented on #15631
Welcome to Magento :)
Where the stability for every new release is a big question mark and where there are a lot of inconsistencies.
I guess that's what happens when you have sooo many developers working on the same product.

I can't really answer about ViewModel vs Block vs phtml, I don't know the right answer to that.

[2018-09-08 06:42] jaimin-ktpl commented on #17962
Hello @davidduong90,

I have checked for the suggested issue. The results you are getting is not related to any bug in the code.

Magento sample data comes with some of the 'Cart price rules' created by default.
There is one rule with Magento sample data which allows free shipping for total above $50.
Go to
Admin panel > Marketing > Cart Price Rules
Open rule '**Spend $50 or more - shipping is fre

[2018-09-08 07:41] matin73 opened #17973 "Cart gets automatically emptied on none cached paged"
### Preconditions

1. Magento 2.2.x, 2.3.x, 2.4-develop
2. PHP 7.0, 7.2

### Steps to reproduce

1. Install fresh Magento
2. Disable `Magento_Persistent` module

3. Go to shop and add first product to cart -> works correct. Then go to next product (important: product page/category page must not be in page cache). Now cart ist automatically emptied - no product in cart. Same behaviour if you have s

[2018-09-08 07:41] magento-engcom-team commented on #17973
Hi @matin73. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-08 07:42] matin73 commented on #17973
@matin73 do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

 x  yes
    no

[2018-09-08 07:42] tsn-Aleksey commented on #17363
#khcd2018

[2018-09-08 07:43] magento-engcom-team commented on #17363
@tsn-Aleksey thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-08 08:43] davidduong90 commented on #17962
Great. Thanks you.

[2018-09-08 08:53] SavchenkoVladimir commented on #17323
#khcd2018

[2018-09-08 08:53] magento-engcom-team commented on #17323
@SavchenkoVladimir thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-08 08:59] SavchenkoVladimir commented on #17833
#khcd2018

[2018-09-08 08:59] magento-engcom-team commented on #17833
@SavchenkoVladimir thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-08 10:01] vaibhavahalpara opened #17977 "Show Method if Not Applicable for Free Shipping doesn't work."
### Preconditions

1. Magento 2.2.5 with sample data

### Steps to reproduce

1. STORES > Settings > Configuration > Sales > Shipping Methods > Free Shipping > Enabled > select Yes > > Minimum Order Amount > Enter 50 > Show Method if Not Applicable > Select Yes > Save Config

### Expected result

1. It should display error message defined in Admin Free Shipping > Displayed Error Message

### Actua

[2018-09-08 10:01] magento-engcom-team commented on #17977
Hi @vaibhavahalpara. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-08 10:12] OlgaBurtyka commented on #17711
![minimum](https://user-images.githubusercontent.com/4771407/45253028-dec19780-b368-11e8-8b52-2bc997077295.png)

[2018-09-08 10:44] max-a-mdmitriev commented on #17582
#khcd2018

[2018-09-08 10:44] magento-engcom-team commented on #17582
@max-a-mdmitriev thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-08 10:57] passtet commented on #10440
#khcd2018

[2018-09-08 10:57] magento-engcom-team commented on #10440
@passtet thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-08 11:13] pemann commented on #14667
Actually that storage problem I described is related to recently viewed products. If I have a lots of them, browser will freeze because of intensive storage writing and reading.

[2018-09-08 11:39] tsn-Aleksey commented on #17363
I can't to reproduce this bug in 2.2.5. But I found a duplicate of the current task (#17062)

[2018-09-08 11:39] jaiminparikh commented on #17949
@sskulkarni and @engcom-backlog-pb I have checked for this issue and found while customer saves Account Information, Magento saves customer data and also customer address. Here there is no need to save customer address but as per customer model /app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php its saves all customer data and address.

[2018-09-08 12:19] #17363 closed, assigned to tsn-Aleksey

[2018-09-08 12:33] #17962 closed, assigned to jaimin-ktpl

[2018-09-08 13:30] passtet commented on #17964
@magento-engcom-team give me 2.2-develop instance

[2018-09-08 13:30] magento-engcom-team commented on #17964
Hi @passtet. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-08 13:31] magento-engcom-team commented on #17964
Hi @passtet, here is your [Magento instance](https://i-17964-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17964-2-2-develop.engcom.dev.magento.com/admin](https://i-17964-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-08 14:28] okorshenko commented on #5402
@magento-engcom-team give me 2.2.5 instance

[2018-09-08 14:28] magento-engcom-team commented on #5402
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-08 14:28] magento-engcom-team commented on #5402
Hi @okorshenko, here is your [Magento instance](https://i-5402-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-5402-2-2-5.engcom.dev.magento.com/admin](https://i-5402-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-08 14:48] colombinis commented on #17711
#mm18ar

[2018-09-08 14:48] magento-engcom-team commented on #17711
@colombinis thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-08 14:55] federicosoich commented on #16539
#mm18ar

[2018-09-08 14:55] magento-engcom-team commented on #16539
@federicosoich thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-08 14:57] colombinis commented on #17711
@magento-engcom-team give me 2.2.5 instance

[2018-09-08 14:57] magento-engcom-team commented on #17711
Hi @colombinis. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-08 14:57] magento-engcom-team commented on #17711
Hi @colombinis, here is your [Magento instance](https://i-17711-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17711-2-2-5.engcom.dev.magento.com/admin](https://i-17711-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-08 15:07] federicosoich commented on #16539
@magento-engcom-team give me 2.2.5 instance

[2018-09-08 15:07] magento-engcom-team commented on #16539
Hi @federicosoich. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-08 15:07] magento-engcom-team commented on #16539
Hi @federicosoich, here is your [Magento instance](https://i-16539-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16539-2-2-5.engcom.dev.magento.com/admin](https://i-16539-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-08 15:12] khaledsawwaf commented on #9646
Still in Magento 2.2.3 clear installation

[2018-09-08 15:32] Santiagoebizmarts commented on #5730
@magento-engcom-team give me 2.3-develop instance

[2018-09-08 15:32] magento-engcom-team commented on #5730
Hi @Santiagoebizmarts. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-08 15:33] magento-engcom-team commented on #5730
Hi @Santiagoebizmarts, here is your [Magento instance](https://i-5730-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-5730-2-3-develop.engcom.dev.magento.com/admin](https://i-5730-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-08 16:05] AlexandrKozyr commented on #13254
the issue has been started on Kharkiv Contribution Day.
Its planned as the solution  - to create json object for configurable_attributes_data on the lient side a send it to the server side instead of multiple amounts of arguments.

[2018-09-08 16:28] emanuelarcos commented on #5402
@magento-engcom-team give me 2.2-develop instance

[2018-09-08 16:28] magento-engcom-team commented on #5402
Hi @emanuelarcos. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-08 16:29] magento-engcom-team commented on #5402
Hi @emanuelarcos, here is your [Magento instance](https://i-5402-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-5402-2-2-develop.engcom.dev.magento.com/admin](https://i-5402-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-08 17:29] dharake commented on #7623
Wow, created this 2 years ago and still so confusing. Please help instead of just closing the issue. There is no solution still. And this issue is duplicated all over the place, and keeps getting closed. Started in 2.1.2, and still the same thing in 2.2.5!

Just installed Magento 2.2.5, fresh through composer.
Ubuntu 18.04
Nginx
Varnish
SSL
Redis
No modifications made to any files

mage root doesn

[2018-09-08 17:58] krisdante commented on #13475
I can reproduce this. This is strange.
When I go via Varnish it works, when I access web server directly, navbar is missing.
I am using pure luma. Magento 2.2.5.

[2018-09-09 06:50] matin73 commented on #17954
How can I fix this? I do not need newsletter at all. I tried to disable module by:
php bin/magento module:disable --clear-static-content Magento_Newsletter
php bin/magento setup:upgrade

But I get error:
Unable to change status of modules because of the following constraints:
Cannot disable Magento_Newsletter because modules depend on it:
Magento_Store: Magento_Store->Magento_Catalog->Magento_Cust

[2018-09-09 09:30] schmengler commented on #5992
Please review once more

[2018-09-09 09:46] DanielRuf commented on #16497
Probably not. So before this it was a block and now it is a container?

This would be a breaking change which affects all who overwrite default.xml (which is the case when you create a custom theme or extend theme files).

[2018-09-09 10:05] eamontaylor commented on #16497
@DanielRuf Thank. I think the default theme has changed, i,ve inherited a project, and updated from 2.1.8 to 2.2.5 do you know what is the fix is for this?

[2018-09-09 10:33] DanielRuf commented on #16497
The fix for us who have a custom or other theme based on Blank / Luma have to port the changes to the overwritten / changed files. Good to know, will have to check this also for one of our projects.

[2018-09-09 10:33] DanielRuf commented on #16497
Basically doing a div (changing block to container).

[2018-09-09 10:34] DanielRuf commented on #16497
Basically doing a diff (changing block to container).

[2018-09-09 10:34] DanielRuf commented on #16497
We have to check here if 2.2.5 or a previous release introduced this change.

[2018-09-09 10:54] Yupik commented on #17436
I would like to work on this issue #mm18pl

[2018-09-09 10:54] magento-engcom-team commented on #17436
@Yupik thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-09 10:56] mtsmtyuta commented on #5730
#mm18pl
I'd like to work on this issue:)

[2018-09-09 10:56] magento-engcom-team commented on #5730
@mtsmtyuta thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-09 11:01] mkostrzycki commented on #17436
I would like to work on this issue with Yupik #mm18pl

[2018-09-09 11:01] magento-engcom-team commented on #17436
@mkostrzycki thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-09 11:11] keyurshah070 commented on #17582
I am working on #mm18pl

[2018-09-09 11:12] magento-engcom-team commented on #17582
@keyurshah070 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-09 11:34] mateuszkoscielniak commented on #17323
Starting investigation #mm18pl

[2018-09-09 11:35] magento-engcom-team commented on #17323
@mateuszkoscielniak thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-09 13:03] kolczu commented on #17868
#mm18pl

[2018-09-09 13:03] magento-engcom-team commented on #17868
@kolczu thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-09-09 13:16] ilnytskyi commented on #17868
#mm18pl

[2018-09-09 14:27] qsolutions-pl commented on #12299
Any update on this? :-)

[2018-09-09 20:54] oviliz commented on #11498
This is ridiculous if true... :(

[2018-09-10 04:08] praveen-chelumalla commented on #16525
@magento-engcom-team Thank you so much to fixing the issue.

[2018-09-10 04:47] Jakhotiya commented on #17964
Hi @passtet, are you working on this issue, if not I'll start working on it. Let me know.

[2018-09-10 05:27] nntoan opened #17999 "Sitemap grid display incorrect base URL in the grid if using multiple stores"
### Preconditions

1. Magento 2.2.5 (should be reproducible in any version of 2.1 or 2.3)
2. PHP 7.1

### Steps to reproduce

1. Setup multiple websites/stores with different base URL. For e.g
 - `www.example-nz.localhost` for New Zealand website
 - `www.example-au.localhost` for Australia website
 - `www.example-uk.localhost` for United Kingdom website
 - `www.example-us.localhost` for United Sta

[2018-09-10 05:27] magento-engcom-team commented on #17999
Hi @nntoan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-10 06:04] ihor-sviziev commented on #17195
Hi @convenient,
I investigated this issue deeper and found that in https://github.com/magento/magento2/commit/1598c0fa816be99cef010721792755fc7506eced#diff-69abf748a729353f99cd623615fecd9dR206 throwing an exception was changed to logging, but message was not updated. Magento CAN set more than 50 cookies, but just writing quite big list of messages "Unable to send the cookie. Maximum number of cook

[2018-09-10 06:27] engcom-backlog-nazar commented on #17972
Hi @bamboekeizer GitHub is intended for bug reports, please use Magento Stack Exchange for questions on how particular customization can be implemented.
The problem not related to magento, I'm note able to reproduce this with migrated 2.2.3 to 2.2.5 versions

[2018-09-10 06:27] #17972 closed, assigned to nobody

[2018-09-10 06:48] convenient commented on #17195
Interesting. Should magento be allowing that many cookies to be set? It's getting very close to the max limit for some browsers which could result in undefined behaviour.

<img width="644" alt="cookie-support-browsers" src="https://user-images.githubusercontent.com/600190/45280812-c5862b80-b4cd-11e8-8070-7c4ea91406ab.png">

[2018-09-10 06:58] engcom-backlog-nazar commented on #15631
Hi @DanielRuf I was reproduce this issue, with this error in console log
![selection_068](https://user-images.githubusercontent.com/40756439/45281302-13a42a80-b4e0-11e8-8bfa-eb8490a8f896.png)

[2018-09-10 07:47] Thundar commented on #17780
@hostep I can confirm that the option `--no-update-with-dependencies` works as desidered.

[2018-09-10 08:07] engcom-backlog-nazar commented on #17973
Hi @matin73  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-10 08:19] itonomycompany commented on #6873
For anyone looking for a temp solution: https://github.com/Itonomy/magento2-bundle-products-change-qty

[2018-09-10 08:42] engcom-backlog-nazar commented on #17999
Hi @nntoan , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-10 09:14] RDXSportsCom commented on #10664
Having same issue on Magento 2.2.2 Enterprise Edition.

[2018-09-10 10:51] engcom-backlog-nazar commented on #12669
HI @schmengler , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-10 11:26] juharintanen commented on #15935
Is it possible that this is still active for 2.2.5 ? This has happened total of 3 times already in 2 different stores and I can't figure out the reason why..

[2018-09-10 12:15] engcom-backlog-nazar commented on #16497
Hi @DanielRuf  seem this issue was fixed in 2.2.5 but if you have a custom theme you need  overwrite odefault.xml to origin luma or blank file ?
Hi @eamontaylor Did you solve your problem ?

[2018-09-10 12:27] engcom-backlog-nazar commented on #16497
@eamontaylor this is right path -> app/design/frontend/-THEME VENDOR-/-THEME NAME-/Magento_GoogleAnalytics/layout/override/base/default.xml

[2018-09-10 12:35] eamontaylor commented on #16497
@engcom-backlog-nazar nope this doesn't work for me.

[2018-09-10 12:37] engcom-backlog-nazar commented on #16497
@eamontaylor  did you clear pub static files?

[2018-09-10 12:37] WalterSmulders commented on #16497
@eamontaylor If you correctly override the XML it will work, I have this fix in place in several live Magento installs

[2018-09-10 12:37] Vossie1975 commented on #15461
any idea when this bug wil be fixed (again)?

[2018-09-10 12:39] Vossie1975 commented on #8121
problem was reported fixed but problem stil exsist. Hope it wil be fixed soon becouse is a major problem with multiple stores with there own products.

[2018-09-10 12:45] engcom-backlog-nazar commented on #16497
@eamontaylor  you may  do something wrong, i do this with custom theme and it  works perfectly.

[2018-09-10 12:54] zepgram commented on #2924
I made this vagrant which allow you to customize mount options and has great performance:
- nfs mount or regular mount
- directory mount `/var/www/magento/app` or whole project `/var/www/magento`

https://github.com/zepgram/magento2-fast-vm

You can work on a fast magento installation and adapt parameters depending on your work practice and your host machine perf.

For example, if your host machin

[2018-09-10 13:00] eduard13 commented on #17910
Hi @php4umagento , looks like this is a duplicate of https://github.com/magento/magento2/issues/13747, and a such feature has been already added in 2.2.
Thank you.

[2018-09-10 13:02] engcom-backlog-nazar commented on #16497
@DanielRuf  Can i close issue ? or leave open, until somebody  change name from container to  block ?

[2018-09-10 13:06] gitfredrik commented on #17818
This is my first report and I see all these labels. Do they men that this is an issue that will be fixed in a future update? We have a client that would really benefit from being able to set customizable option in only one store view. It´s a country where they have to charge an extra fee on some specific products but they don´t need to in other countries. That´s why we need it only in one store vi

[2018-09-10 13:14] Rickertje commented on #12889
@magento-engcom-team cab you please answer this question? Thank you.

[2018-09-10 13:48] engcom-backlog-nazar commented on #16497
@eamontaylor yes but seems it's not solve your problem.

[2018-09-10 13:53] rstylenl commented on #17933
Small update - Even when you cancel the order the payment information will revert to the default config info.

[2018-09-10 14:01] JigSays commented on #17902
I see the country was able to change but we're still have the issue with address 1, address 2, City, State & Zip for newly created customers who then make purchases - I believe all of our business is within the same country.

[2018-09-10 14:14] eamontaylor commented on #16497
@engcom-backlog-nazar Thanks, i've tried everything you've suggested but still no joy.

[2018-09-10 14:37] webusat commented on #16221
Hi @engcom-backlog-nazar, I have the same issue.

I need to tax the shipping only if there is a taxable item in the cart.  If there is no taxable item in the cart then no tax is added to the shipping cost.

[2018-09-10 14:50] philippsander commented on #15935
@juharintanen look at the tags and versions mentioned in the comment-scetion I sume it's not fixed in 2.2.5

2.2.5 was published on July 1, 2018.

This fix will probably go live with 2.2.6

[2018-09-10 15:30] kolonuk opened #18005 "Category field value changes for "all" stores not working using JSON API"
### Preconditions

1. Magento 2.2.5, fresh install.

### Steps to reproduce

1. Fresh install, generated API keys.
2. Create store1.
3. Create store2.
4. Call API category endpoint to create new category, POST https://{{url}}/index.php/rest/all/V1/categories/.
5. Call API category endpoint to change category name PUT.

### Expected result

1. Category name changed in "default", "store1" and "store

[2018-09-10 15:31] magento-engcom-team commented on #18005
Hi @kolonuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-10 15:35] chernenm commented on #17973
Hello everyone,

We have investigated the root cause of the issue and came to conclusion that actual result is a by design behavior. If custom attribute is set as a required one than it must be configured to be shown on storefront and to be shown in all the forms.
If merchant wants a custom attribute to be required only on some certain forms, then an extension attribute should be used instead. Ext

[2018-09-10 16:06] jamesryanbell opened #18006 "Can't re-order from the admin area when the order contains configurable products"
### Preconditions

1. 2.2.2
2. Admin area

### Steps to reproduce

1. Within the admin area choose an order that contains configurable items
2. Press reorder

### Expected result

1. A new order should be created containing the items of the selected order

### Actual result

1. Message(s) appear at the top of the page stating "Product "XXXX" not found. This product is no longer available.

[2018-09-10 16:06] magento-engcom-team commented on #18006
Hi @jamesryanbell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-10 16:14] DanielRuf commented on #16497
Did you clear all caches?

[2018-09-10 17:05] webusat opened #18007 "Tax on Shipping when only Taxable items in Cart"
This is kind of a duplicate issue:
Tax on Shipping when only Non-Taxable items in Cart and Flatrate Shipping #16221
https://github.com/magento/magento2/issues/16221

**Preconditions**
Magento 2.2.0
PHP 7.0
MySQL 5.7

**Expected Result**
If there is a taxable item in the cart then apply a separate tax to the shipping charge.  If there is not a taxable item in the cert then do not tax shipping.

I n

[2018-09-10 17:27] eamontaylor commented on #16497
@DanielRuf Yep cleared the caches again and that seems to of sorted it thanks everyone.

[2018-09-10 17:32] rparsi commented on #17954
@matin73 You can prevent the sending of newsletter emails by overriding (DI mechanism)
class `Magento\Newsletter\Model\Subscriber`, sample code below:

[code]

Make sure your `app/code/MyVendor/Newsletter/etc/di.xml` has
[code]

[2018-09-10 17:38] hostep commented on #18005
This sounds like a duplicate of https://github.com/magento/magento2/issues/17186 ?

[2018-09-10 17:41] matin73 commented on #17954
@rparsi thanks. but to complicated

[2018-09-10 17:46] heyqule opened #18008 "Product status is not updating properly in admin's product listing page when there are unused storeview data."
Product status is not updated properly in product grid.  This is caused by product status value in a disabled storeview.

This may be also be the cause of https://github.com/magento/magento2/issues/8795

### Preconditions
1. Magento 2.1.4

### Steps to reproduce
1. Create an enanbled product.
2. Enable it for multiple storeviews (e.g Store A and Store B), copy data from default.
3. Make sure store

[2018-09-10 17:46] magento-engcom-team commented on #18008
Hi @heyqule. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-10 17:51] hostep commented on #16497
I believe @WalterSmulders has a point here.

1) `head.additional` is created [as a `Block`](https://github.com/magento/magento2/blob/7474def/app/code/Magento/Catalog/view/frontend/layout/default.xml#L65)
2) Is being referenced **correctly** in [the catalog module](https://github.com/magento/magento2/blob/7474def/app/code/Magento/Catalog/view/frontend/layout/catalog_product_opengraph.xml#L13)
3) Is

[2018-09-10 17:56] heyqule commented on #18008
@magento-engcom-team give me 2.2.5 instance

[2018-09-10 17:56] magento-engcom-team commented on #18008
Hi @heyqule. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-10 17:57] magento-engcom-team commented on #18008
Hi @heyqule, here is your [Magento instance](https://i-18008-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18008-2-2-5.engcom.dev.magento.com/admin](https://i-18008-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-10 18:18] heyqule commented on #18008
Do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

The original issue seems fixed in 2.2.5.  However, I found another bug.  The enabled value looks like depend on the storeview of default website.

I played around with the product status value of default, Default Store, Store A and Store B.    If I set status to disable in "Default St

[2018-09-10 18:44] Microguru commented on #11292
This error is still their in magento 2.5.5
Cart product count is not getting updated ,when cart item is remove  programmatically .

[2018-09-10 19:59] oroskodias commented on #14968
Confirm in 2.2.5

[2018-09-10 20:11] hostep commented on #14968
@oroskodias: it will be fixed in 2.2.6 (rumours say 18 September), please read the entire thread it has been mentioned many times.

[2018-09-10 20:11] #14968 closed, assigned to nobody

[2018-09-10 20:23] #15827 closed, assigned to nobody

[2018-09-10 21:15] cesaroctaviods commented on #15115
Hi, is this bug fixed?

[2018-09-10 21:59] fcastrogiovani commented on #7056
I have this error, tried flushing cache and full folder also but it didn't work.

PHP Fatal error:  Uncaught Error: Cannot instantiate interface Magento\Customer\
Api\GroupManagementInterface in C:\xampp\htdocs\brementools\vendor\magento\frame
work\ObjectManager\Factory\Dynamic\Developer.php:50
Stack trace:
#0 C:\xampp\htdocs\brementools\vendor\magento\framework\ObjectManager\ObjectMana
ger.php(70

[2018-09-10 23:31] nntoan commented on #17999
@engcom-backlog-nazar @p-bystritsky I also opened a PR for it.

[2018-09-10 23:47] LiamKarlMitchell commented on #7171
Can confirm, work around by pmsteil resolves this.

Not sure if it the call to escape should have multiple argument types in same function?

[code]

Word quotes seem to get lost in saving/editing however.
I'm not sure if that is related to this or the way the string is stored/processed.

```“Test”```
Gets returned in this encoding.
```âTestâ```

[2018-09-11 00:48] LiamKarlMitchell commented on #13415
Also a problem with #customer-email

[2018-09-11 01:26] magento-engcom-team commented on #18006
Hi @adarshkhatri, here is your [Magento instance](https://i-18006-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-18006-2-2-4.engcom.dev.magento.com/admin](https://i-18006-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-11 01:48] adarshkhatri commented on #18006
I am having same issue on my Magento ver. 2.2.4 EE. It's fresh install with sample data in it.

**Summary of the issue**
Can't re-order from the admin area when the order contains configurable products

**Preconditions**

1. 2.2.2
2. Admin area

**Steps to reproduce**
Within the admin area choose an order that contains configurable items
Press reorder

**Expected result**
It should take me to the

[2018-09-11 05:32] engcom-backlog-nazar commented on #16497
@WalterSmulders  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-11 05:32] jagdishdots commented on #2904
I am using magento latest version 2.2.5 and configured the Authorize.net direct post method as payment method. when I tried to placed an order it saves the order in admin with pending status but after placed the order didn't redirect to success or failure page please any one can advice on this issue.

{success: true, authorizenet_directpost: {,…}}
authorizenet_directpost: {,…}
fields: {x_version:

[2018-09-11 05:34] jagdishdots commented on #5642
I am using magento latest version 2.2.5 and configured the Authorize.net direct post method as payment method. when I tried to placed an order it saves the order in admin with pending status but after placed the order didn't redirect to success or failure page please any one can advice on this issue.

{success: true, authorizenet_directpost: {,…}}
authorizenet_directpost: {,…}
fields: {x_version:

[2018-09-11 05:36] sidm opened #18009 "Cannot create a numeric value attribute option using the REST API"
### Preconditions

Magento ver. 2.2.5 using the REST API.

### Steps to reproduce

1. Make a POST call to http://winninge.nextmp.net/rest/V1/products/attributes/<attribute_name>/options i.e., http://winninge.nextmp.net/rest/V1/products/attributes/Size/options setting the label and value to be a **numeric** string, for example
`{
	"option": {
		"label": "30",
		"value": "30",
		"sort_order": 0,
		"

[2018-09-11 05:36] magento-engcom-team commented on #18009
Hi @sidm. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2018-09-11 05:39] sidm commented on #18009
@magento-engcom-team give me 2.2.5 instance

[2018-09-11 05:39] magento-engcom-team commented on #18009
Hi @sidm. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-11 05:39] magento-engcom-team commented on #18009
Hi @sidm, here is your [Magento instance](https://i-18009-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18009-2-2-5.engcom.dev.magento.com/admin](https://i-18009-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-11 05:45] WalterSmulders commented on #16497
@engcom-backlog-nazar happy to hear the bug is acknowledged and it will be fixed

[2018-09-11 05:48] engcom-backlog-nazar commented on #18005
Hi @kolonuk close this issue as duplicate to https://github.com/magento/magento2/issues/17186

[2018-09-11 05:48] #18005 closed, assigned to nobody

[2018-09-11 05:56] sidm commented on #18009
Yes, I was able to reproduce this on the vanilla instance.

### Reproduction of Issue on the Vanilla 2.2.5 instance
Steps:
1. I created an attribute named Size
![image](https://user-images.githubusercontent.com/728604/45340642-522ff880-b565-11e8-932c-adfed8d00a23.png)
2. I added it to the default attribute set
![image](https://user-images.githubusercontent.com/728604/45340300-17799080-b564-11e8-82

[2018-09-11 06:00] elamurugan opened #18010 "Authorize.net Directpost Production Integration with Magento 2.2.5 haveing issue"
Checked multiple tickets here and in stackexchange - none of that works for me though the same system works ok with sandbox account, using production account not working. Changed transaction key and hash key multiple times between test mode enable/disable and currently below setting also not working.

**Preconditions**

- Magento 2.2.5
- PHP7
- Authorize.net production account with public accessib

[2018-09-11 06:00] magento-engcom-team commented on #18010
Hi @elamurugan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-11 06:37] FerihumF commented on #17918
@engcom-backlog-nazar thanks for investigating. I now found a third party plugin extending SalesSequence\Model\ResourceModel\Meta which caused the problem. Consider issue closed.

[2018-09-11 06:37] #17918 closed, assigned to nobody

[2018-09-11 06:54] engcom-backlog-nazar commented on #18009
Hi @sidm  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-11 07:09] snowcore commented on #17134
Checked on 2.2.5 - logging doesn't work.

[2018-09-11 07:12] engcom-backlog-nazar commented on #18006
Hi @jamesryanbell i'm not able to reproduce following steps your described. did you check if that product exist?

[2018-09-11 07:38] jamesryanbell commented on #18006
Hi, yes we have checked the products do exists. We have done a number of test orders and this occurs for each configurable product. When I do the reorder from the user front end in my account area the re-ordering works correctly.

These products were all added via the standard product importing if that helps at all.

Thanks,
James

[2018-09-11 07:40] engcom-backlog-nazar commented on #18008
Hi @heyqule this issue has already fixed in 2.2.5 release, The product grid list show products with default store view.

[2018-09-11 07:40] #18008 closed, assigned to nobody

[2018-09-11 07:41] gulshan-streammarket commented on #11107
Same issue here but i solved this by inserting a new record to table 'authorization_role'.
So executed below query to insert record

`INSERT INTO `<DB_NAME>`.`authorization_role` (`role_id`, `parent_id`, `tree_level`, `sort_order`, `role_type`, `user_id`, `user_type`, `role_name`) VALUES (NULL, '0', '1', '0', 'U', '7', '1', '17');`

Here 7 is the ID of integration. Every-time you run setup:upgrade

[2018-09-11 07:42] engcom-backlog-nazar commented on #18006
@jamesryanbell  this problem related to you import csv file, can you provide more information about this ?

[2018-09-11 07:54] jamesryanbell commented on #18006
Hi @magento-engcom-team we have formatted our CSV in the Magento format. It sounds like @adarshkhatri was able to reproduce this error on the latest version based on his post above so it sounds like a wider issue.

Thanks,
James

[2018-09-11 08:04] engcom-backlog-nazar commented on #18006
@jamesryanbell  @adarshkhatri  used enterprise version .
![reorder](https://user-images.githubusercontent.com/40756439/45346641-6a7a3480-b5b2-11e8-873b-2191537b6439.gif)

[2018-09-11 08:09] arendarenko opened #18011 "Incorret filtering by price while using product with required custom options"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Create product "Ring" in existing category with two custom options: "Metal type" and "Gem" (they both should be required).
2. Add two values to Metal Type option: Silver ($0) and Gold ($50)
3. Add two values to Gem: Garnet($10) and Diamond ($100)
4. Set price to product: $10000
5. Make sure that there is another products in this categor

[2018-09-11 08:09] magento-engcom-team commented on #18011
Hi @alexeya-ven. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-11 08:10] alexeya-ven commented on #18011
@magento-engcom-team give me 2.2.5 instance

[2018-09-11 08:11] magento-engcom-team commented on #18011
Hi @alexeya-ven. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-11 08:11] magento-engcom-team commented on #18011
Hi @alexeya-ven, here is your [Magento instance](https://i-18011-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18011-2-2-5.engcom.dev.magento.com/admin](https://i-18011-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-11 08:13] DanielRuf opened #18012 "Can not add string to underscore template using knockout"
### Preconditions

1. Magento 2.4-develop

### Steps to reproduce

1. create custom theme based on Luma
2. extend Magento_Theme/frontend/web/templates/breadcrumbs.html
3. add string to breadcrumbs.html using knockout

[code]

### Expected result

1. the string "You are here:"
![image](https://user-images.githubusercontent.com/51680850/71517608-8b55be80-28b7-11ea-9f7b-6df06542dd70.png)

### Actual

[2018-09-11 08:13] magento-engcom-team commented on #18012
Hi @DanielRuf. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-11 08:13] jamesryanbell commented on #18006
Apologises I should have stated, we also using the Enterprise Edition. Would you like a screen share similar to yours of the issue I'm seeing?

[2018-09-11 08:26] engcom-backlog-nazar commented on #18006
@jamesryanbell , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open So

[2018-09-11 08:26] #18006 closed, assigned to nobody

[2018-09-11 08:33] DanielRuf commented on #18012
It seems only `<%= jQuery.mage.__('You are here:') %>` works. `<%= $.mage.__('You are here:') %>` does not.

[2018-09-11 08:44] engcom-backlog-nazar commented on #18010
Hi @elamurugan I'm not able to reproduce following steps you described, please try reproduce this on vanilla instance.

[2018-09-11 08:47] aayushivadhva commented on #9032
I am also facing the same issue that catalog rule is working fine for simple products but its not working for configurable product. I have used magento version 2.2.5

[2018-09-11 08:57] Knight017 commented on #16419
Hi,@magento-engcom-team any update on this.

[2018-09-11 09:13] engcom-backlog-nazar commented on #18011
Hi @alexeya-ven thank you for you report, the fix for this issue has already in 2.2-develop branch

[2018-09-11 09:39] LordHansolo opened #18013 "Unable to edit customer via admin panel for various websites."
### Preconditions

1. Magento 2.2.5

### Steps to reproduce

1. Create multi website multi store
2. Restrict available countries for every website Stores->Settings->Configuration->General->General->Allow Countries. Make sure for every website are available different countries.
3. Create customer for every website with billing address and shipping address appropriate for website that he is assigned

[2018-09-11 09:39] magento-engcom-team commented on #18013
Hi @LordHansolo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-11 09:50] alexeya-ven commented on #18011
Hi @engcom-backlog-nazar,
Can you give me link for that issue? It would be nice to apply those fixes locally on my project.

[2018-09-11 09:59] chernenm commented on #7753
Hello everyone,

We have investigated the root cause of the issue and came to conclusion that actual result is a by design behavior.
If custom attribute is set as a required one than it must be configured to be shown on storefront and to be shown in all the forms.
If merchant wants a custom attribute to be required only on some certain forms, then an extension attribute should be used instead.
Ext

[2018-09-11 10:02] magento-engcom-team commented on #7753
Hi @Nehace40 Thank you for reporting.

We are now closing this ticket, as it looks like this is not a Magento technical issue, as described above.

[2018-09-11 10:02] #7753 closed, assigned to nobody

[2018-09-11 10:09] topranavp commented on #10210
@magento-engcom-team , issue still persists in Magento 2.2.4. have tried to append value to $transport['payment_html'] variable in extended class but still it is not allowing to alter.

[2018-09-11 10:16] engcom-backlog-nazar commented on #18012
Hi @DanielRuf I'm not able to reproduce by following steps you described, in my case i ovveride
breadcrumbs.phtml with this code
[code]

![selection_072](https://user-images.githubusercontent.com/40756439/45353907-eaa99580-b5c4-11e8-8836-de29b3929af9.png)

[2018-09-11 10:18] ishakhsuvarov commented on #17789
Hi @lucasjor-summa. Thank you for your report.
The issue has been fixed in magento/magento2#17874 by @ronak2ram in 2.3-develop branch
Related commit(s):
 - [92c1aa48165ffe73ca4b8c0257f77dcf5b573c6f](https://github.com/magento/magento2/commit/92c1aa48165ffe73ca4b8c0257f77dcf5b573c6f)
 - [a2993a5f9444147c2275549decf9ef0ecc52b336](https://github.com/magento/magento2/commit/a2993a5f9444147c2275549decf

[2018-09-11 10:18] ishakhsuvarov commented on #17851
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#17911 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [f0b5ecc17cbfde45f37d7a09a285d99653740d05](https://github.com/magento/magento2/commit/f0b5ecc17cbfde45f37d7a09a285d99653740d05)

The fix will be available with the upcoming 2.3.0 release.

[2018-09-11 10:18] ishakhsuvarov commented on #1821
Hi @chicgeek. Thank you for your report.
The issue has been fixed in magento/magento2#17829 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [d3e24edf30644a892861481dfc722b570f6e070d](https://github.com/magento/magento2/commit/d3e24edf30644a892861481dfc722b570f6e070d)
 - [fe6c96f53a2d14b2671ccfd784598e534a995870](https://github.com/magento/magento2/commit/fe6c96f53a2d14b2671ccfd784598e53

[2018-09-11 10:18] ishakhsuvarov commented on #9307
Hi @vishveskrish. Thank you for your report.
The issue has been fixed in magento/magento2#17750 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [0f28b61565c3108281ef24c5f846ba2034e9ba9c](https://github.com/magento/magento2/commit/0f28b61565c3108281ef24c5f846ba2034e9ba9c)
 - [d159921f79c68e9aec489192c223ce5535ff47d9](https://github.com/magento/magento2/commit/d159921f79c68e9aec489192c223

[2018-09-11 10:18] ishakhsuvarov commented on #11403
Hi @rbur0425. Thank you for your report.
The issue has been fixed in magento/magento2#17750 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [0f28b61565c3108281ef24c5f846ba2034e9ba9c](https://github.com/magento/magento2/commit/0f28b61565c3108281ef24c5f846ba2034e9ba9c)
 - [d159921f79c68e9aec489192c223ce5535ff47d9](https://github.com/magento/magento2/commit/d159921f79c68e9aec489192c223ce55

[2018-09-11 10:18] ishakhsuvarov commented on #11703
Hi @expgabe. Thank you for your report.
The issue has been fixed in magento/magento2#17750 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [0f28b61565c3108281ef24c5f846ba2034e9ba9c](https://github.com/magento/magento2/commit/0f28b61565c3108281ef24c5f846ba2034e9ba9c)
 - [d159921f79c68e9aec489192c223ce5535ff47d9](https://github.com/magento/magento2/commit/d159921f79c68e9aec489192c223ce553

[2018-09-11 10:18] ishakhsuvarov commented on #12695
Hi @alena-marchenko. Thank you for your report.
The issue has been fixed in magento/magento2#17750 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [0f28b61565c3108281ef24c5f846ba2034e9ba9c](https://github.com/magento/magento2/commit/0f28b61565c3108281ef24c5f846ba2034e9ba9c)
 - [d159921f79c68e9aec489192c223ce5535ff47d9](https://github.com/magento/magento2/commit/d159921f79c68e9aec489192c

[2018-09-11 10:19] ishakhsuvarov commented on #7557
Hi @AlexandreKhayrullin. Thank you for your report.
The issue has been fixed in magento/magento2#17650 by @lfolco in 2.3-develop branch
Related commit(s):
 - [2662dfaa3e6cf6c0131a6eea098631099e7683bc](https://github.com/magento/magento2/commit/2662dfaa3e6cf6c0131a6eea098631099e7683bc)
 - [a0dfb6de5ea98d7586a30cfebdbfd4d78c0e104b](https://github.com/magento/magento2/commit/a0dfb6de5ea98d7586a30cfeb

[2018-09-11 10:36] fooman commented on #17939
@engcom-backlog-nazar Commerce would be EE

[2018-09-11 11:02] engcom-backlog-nazar commented on #18012
@DanielRuf  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-11 11:08] engcom-backlog-nazar commented on #17939
@webspeaks , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-09-11 11:08] #17939 closed, assigned to nobody

[2018-09-11 11:10] svenleemaier opened #18014 "Unable to save a customer for the second website in the backend with an allowed country in the address, which is not allowed for the first website"
### Preconditions

1. Magento 2.2.5
2. PHP 7.0.16
3. MySQL 5.7.18
4. Just updated from 2.1.7 to 2.2.5

### Steps to reproduce

1. Create 2 Websites with 1 Store and 1 Store view each
2. Configure the first Website with 1 allowed country (eg. DE for Germany)
3. Configure the second Website with other allowed countries (eg. FR for France)
4. Use the `Share Customer Accounts`: `Per Website` in the `A

[2018-09-11 11:10] magento-engcom-team commented on #18014
Hi @svenleemaier. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-11 11:12] engcom-backlog-nazar commented on #18014
Hi @svenleemaier this is duplicate for https://github.com/magento/magento2/issues/18013

[2018-09-11 11:12] #18014 closed, assigned to nobody

[2018-09-11 11:17] svenleemaier commented on #18014
Hi @engcom-backlog-nazar,
yes I have seen the duplicated bug report directly after I have commited mine - as I started to write this bug report the duplicate #18013 wasn't there - I'm such a lucky one ;-)

Greetings,
Lee

[2018-09-11 11:20] kunzi opened #18015 "Inline translation tool stays turned on in production mode"
The installation is Magento 2.2.3.

- Turned on development mode to get developer section to configurations in admin
- Turned on inline translation tool for front end
- Turned production mode on

Result was that inline translation tool is still enabled in front end and you can't disable it in admin settings in production mode. You have to turn developer mode on and disable it and then change to pr

[2018-09-11 11:39] sabl0r commented on #8970
Still happens to me with magento 2.2.5

[2018-09-11 11:45] engcom-backlog-nazar commented on #18011
@alexeya-ven I'm can't find commit or PR, but i'm not able to reproduce this on 2.2-develop branch.

[2018-09-11 12:00] kolonuk commented on #9136
Year and a half later, still not working in a main release...  Still in 2.2.5...

[2018-09-11 12:02] isitnikov commented on #12114
Will be fixed in scope of internal ticket MAGETWO-94916.

[2018-09-11 13:48] p-bystritsky commented on #18009
Created PRs for 2.2 and 2.3.

[2018-09-11 14:07] NerminPh commented on #4442
Still my configurable products read special price and main price(with the same amount hover I didn't add special price in some of the Childs) when another child products has special price, please advice

[2018-09-11 14:07] fcastrogiovani commented on #7056
@dziulius yes, i did. After running composer update i run all this commands.

composer update

rm -rf var/di var/generation
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex

[2018-09-11 14:47] p-bystritsky commented on #17320
Seems like the issue is caused by some kind of memory leak:
`Allowed memory size of 2147483648 bytes exhausted (tried to allocate 4096 bytes)`

[2018-09-11 14:49] p-bystritsky commented on #15950
Created PRs for 2.2 and 2.3.

[2018-09-11 14:49] p-bystritsky commented on #15775
Created PRs for 2.2 and 2.3.

[2018-09-11 14:53] Tereta commented on #6173
My fix:
requirejs-config.js file:
`
var config = {
    config: {
        mixins: {
            'Magento_Ui/js/lib/core/element/element': {
                'MyCompany_Catalog/js/element-mixin': true
            }
        }
    }
};
`

app/code/MyCompany/Catalog/view/adminhtml/web/js/element-mixin.js
`
define([
    'mageUtils'
], function (utils) {
    'use strict';

    var mixin = {
        /**

[2018-09-11 15:01] engcom-backlog-nazar commented on #18011
@alexeya-ven i'm need more information about how you reproduce this on vanilla instance ? because i'm was have wrong representation of actual result.

[2018-09-11 15:07] prashant-techindustan opened #18016 "magento extension not working"
I have installed an multistore extension (https://landofcoder.com/magento-2-currency-auto-switcher.html)
but it is not working in the frontend , the stores and currency are not switching automatically , I have to change them manually then they are working.

I have run these commands ::
uploaded unzip folders in magento respective subfolders
sudo php bin/magento setup:upgrade
sudo php bin/magento s

[2018-09-11 15:07] magento-engcom-team commented on #18016
Hi @prashant-techindustan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanil

[2018-09-11 15:11] sanderjongsma commented on #10661
Looks like this bug is re-introduced in version 2.2.5, can anyone confirm this?

[2018-09-11 15:12] engcom-backlog-nazar commented on #18016
Hi @prashant-techindustan, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-11 15:12] #18016 closed, assigned to nobody

[2018-09-11 16:15] Anju2006 commented on #16722
Trying to integrate Magento ver 2.2.2  with Facebook. Ends up here . What could be the issue?
![screenshot 2018-09-11 21 39 01](https://user-images.githubusercontent.com/43180698/45372958-d6d55200-b60b-11e8-8675-c8ef1a2e3555.png)
![screenshot 2018-09-11 21 39 50](https://user-images.githubusercontent.com/43180698/45372959-d6d55200-b60b-11e8-8804-7cd4ebff4819.png)

[2018-09-11 17:09] leoquijano opened #18017 "URL pre-selection of configurable product swatches with associated product images throws JavaScript error"
### Summary

When pre-selecting a configurable product swatch that has an image, Magento will try to load that image in the product gallery before it is initialized, throwing a JavaScript error.

This issue was already reported in #12517, but that bug is closed. I think that the fix I propose below is a better one, since it uses an event name that seems to be created for a similar purpose.

### Pr

[2018-09-11 17:09] magento-engcom-team commented on #18017
Hi @leoquijano. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-11 17:13] leoquijano commented on #12517
I created #18017 since this bug report is closed and I can't reopen it. I'm seeing this in 2.2.5 as well.

I think that the fix I propose there might be a better one, since it re-uses a custom event (```emulateClick```) that seems to be already created for this purpose. No need to add a custom check in ```updateBaseImage```. Here's copy of that fix in case anyone needs it:

[2018-09-11 17:19] hostep commented on #16722
I've seen signs that the Shopial Facebook integration is more or less dead.
- Marketplace url no longer works: https://marketplace.magento.com/shopialfb-facebook-module.html
- https certificate is no longer valid: https://www.shopial.com/
- In the accidentally leaked upcoming version of Magento 2.2.6 yesterday, the module was completely removed

So I would just start looking for some other way to

[2018-09-11 17:39] georgios-2317 commented on #15005
Thank you @mslabko .. will do with first opportunity (cant promise it will be soon as I see there's a few changes there we need to check for compatibility)

[2018-09-11 17:59] leoquijano commented on #18017
Hi @magento-engcom-team

Yes, I was able to reproduce it on vanilla Magento instance. See screenshots below:

1. Configurable product loaded with no options selected (default).

   ![1 configurable-product-no-options](https://user-images.githubusercontent.com/7789514/45377945-55ed6a80-b5b9-11e8-85ce-4a5ba8bdd836.png)

2. Configurable product with the "Gray" option selected using the usual method (

[2018-09-11 18:34] Jakhotiya commented on #17973
Hi @chernenm Can you please clarify your last comment and it's relevance in this issue? What do you mean by "shown in all the forms"? What forms are we talking about here? And when you say "actual result is a by design behavior" are you saying this issue does not need a fix ie. this is not an issue?

[2018-09-11 18:39] Jakhotiya commented on #17973
@magento-engcom-team give me {2.2.5} instance

[2018-09-11 18:40] Jakhotiya commented on #17973
@magento-engcom-team give me 2.2.5 instance

[2018-09-11 18:40] magento-engcom-team commented on #17973
Hi @Jakhotiya. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-11 18:40] magento-engcom-team commented on #17973
Hi @Jakhotiya, here is your [Magento instance](https://i-17973-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17973-2-2-5.engcom.dev.magento.com/admin](https://i-17973-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-11 18:51] Jakhotiya commented on #17973
Hi @matin73 I was not able to reproduce this issue on clean test instance of magento 2.2.5 given by @magento-engcom-team
One thing I could not do is disable those modules that you listed in steps. On my end I'll try to get that version setup but can you send us some screenshots. Or you can enable all modules and then try to reproduce the issue. That way we can be sure, disabling a module isn't cau

[2018-09-11 19:37] MsEngineer commented on #14242
I have the same problem.

[2018-09-12 02:14] developerlicw commented on #7734
Anyone still on this??
I have exactly the same problem.

I am using elasticsearch(ES) with magento2. As you know ES can set its own order, like order by name or id or something else. Now I am working to get my search results in a better order, which is already realized using ES, but magento2 will never give me the correct order, because in this "Magento\CatalogSearch\Model\ResourceModel\Fulltext\C

[2018-09-12 02:55] UnDeAdYeTii commented on #16095
Reproducible on my system.

Why is it referencing a column that doesn't exist though?

[2018-09-12 04:01] erfanimani commented on #10555
Another thread here: https://github.com/magento/magento2/issues/7930

[2018-09-12 04:26] ankurverma5540 opened #18021 "Issue on Adding Custom Grid in Custom Form Tabs in Admin"
I am trying to add custom grid on custom tabs in admin. This is my file that is under Tab folder that is causing issue.
namespace Vendor\Warranty\Block\Adminhtml\Warrantydetails\Edit\Tab;
use Magento\Backend\Block\Widget\Tab\TabInterface;

class Warrantyrule extends \Magento\Backend\Block\Widget\Grid\Container implements TabInterface
{
    protected function _construct()
    {
        $this->_cont

[2018-09-12 04:26] magento-engcom-team commented on #18021
Hi @ankurverma5540. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-09-12 04:27] adityag186 opened #18022 "Magento Luma Default Footer Not Showing"
Magento Version: Magento community 2.2.5

Issue Summary -
Magento Luma default theme footer is no longer visible on our website.

Possible Cause -
1. In Admin->Content->Design->Configuration, html code was added to footer section for Magento Luma theme from admin panel.

Once, that code was removed the original footer did not restore.

Please advise how we can get original footer back.

Thanks
Adi

[2018-09-12 04:27] magento-engcom-team commented on #18022
Hi @adityag186. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-12 04:29] adityag186 commented on #18022
Summary of the issue
 Magento Luma default theme footer is no longer visible on our website.
Information on your environment
Version : Community edition 2.2.5
Steps to reproduce
1. add Custom html code to Admin->Content->Design->Configuration, html code was added to footer section for Magento Luma theme from admin panel.
2. Remove the custom html code
Expected and actual results
Expected
Magento 2

[2018-09-12 04:37] DanielRuf commented on #18022
Did you clear all caches?

[2018-09-12 05:09] Patelcc commented on #1238
@Vinai your code is working fine but while export customer getting error

[2018-09-12 05:26] deepakkale opened #18024 "Region_ID is mandatory when we select shipping address from India"
We are trying to place order using API. Whenever we pass any address of India as Shipping address, it throws back error "region_id is Mandatory"

### Preconditions

1. Magento 2.2.5
2. Products created.
3. Enable Guest checkout.
4.Create Order as Guest through API.

### Steps to reproduce
1. Create cart through API.
2. Add products through API.
3. Add shipping Address from India. (we tried address

[2018-09-12 05:26] magento-engcom-team commented on #18024
Hi @deepakkale. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-12 05:39] engcom-backlog-nazar commented on #17973
@Jakhotiya Try disable following modules, then add to cart product, and refresh page, cart will be empty

[2018-09-12 05:47] Jakhotiya commented on #17973
@engcom-backlog-nazar Is there a way to disable modules on instance given by @magento-engcom-team

[2018-09-12 05:53] adityag186 commented on #18022
Hi,

Yes, I cleared all caches. Also, purged everything from cloudfare cdn and supercacher on cpanel.

Would adding code in miscellaneous html in tab have any affect in standard luma footer? Because, for us the standard footer just disappeared. We have not made any changes to any other code anywhere.

[2018-09-12 05:59] engcom-backlog-nazar commented on #17973
@Jakhotiya no seems there no able to do this, you can only reproduce on your own local instance.

[2018-09-12 06:06] engcom-backlog-nazar commented on #18022
Hi @adityag186  I'm not able to reproduce following steps your described, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-12 06:06] #18022 closed, assigned to nobody

[2018-09-12 06:09] parag2cool commented on #12366
@AirmanAJK  Can you please share the code for display the error message in the popup? It will really help us.

[2018-09-12 06:15] engcom-backlog-nazar commented on #18021
Hi @ankurverma5540 I'm not able to reproduce following steps your describes. which version of magento you used ?

[2018-09-12 06:37] engcom-backlog-nazar commented on #18013
Hi @LordHansolo The fix for this issue already available on 2.2-develop branch. but i'm able to find commit or PR of this fix.

[2018-09-12 06:37] #18013 closed, assigned to nobody

[2018-09-12 06:44] pemann commented on #17813
I can confirm this on 2.2.3. This is very annoying and will drop conversion and sales.
Does anyone have any patch for this?

[2018-09-12 06:51] pemann commented on #14667
Might be related to https://github.com/magento/magento2/issues/17813

[2018-09-12 06:53] mlindholm opened #18025 "Rounding problem on prices when adding tax to display prices"
### Preconditions

1. Magento 2.2.x, 2.3.x & 2.4-develop
2. PHP 7.1.9 & 7.2
3. MySql 5.6.37

### Steps to reproduce
1.  Set _Configuration > Tax > Calculation Settings_ to following:
![tax_calculation_settings](https://user-images.githubusercontent.com/5977769/45406384-682dde00-b677-11e8-85ec-e1400d2bc6ec.png)
2. Set  _Configuration > Tax > Price Display Settings_ to _Including Tax_

### Expected

[2018-09-12 06:53] magento-engcom-team commented on #18025
Hi @Tuuhea. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-12 07:08] sanjumagneto commented on #7367
Please check  https://github.com/manojind/Magento2.2.5-multi-store-tier-price-per-website-Wrong-tier-price-indexed

[2018-09-12 07:10] engcom-backlog-nazar commented on #18017
Hi @leoquijano , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-12 09:02] engcom-backlog-nazar commented on #18024
Hi @deepakkale The region id is required field you need to get this id.
Yo can get it on Database on table directory_country_region

[2018-09-12 09:02] #18024 closed, assigned to nobody

[2018-09-12 09:12] deepakkale commented on #18024
How do I get region_ID through API? I'm just using Magento API's and not actual Magento UI.

[2018-09-12 09:28] engcom-backlog-nazar commented on #18024
@deepakkale get data from this request -> rest/all/V1/directory/countries

[2018-09-12 09:33] engcom-backlog-nazar commented on #18024
@deepakkale As i can understand, recently the region id for india is set as required .

[2018-09-12 09:48] miguelbalparda commented on #14968
Hi @oroskodias why did you delete @hostep comment?

[2018-09-12 09:50] SannePetersNL commented on #12524
The info is gone in 2.2.3 but the line breaks are still there for the custom attributes which results in a lot of empty space.

[2018-09-12 10:02] engcom-backlog-nazar commented on #18025
Hi @Tuuhea, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-12 10:02] ghost opened #18026 "Di compile displays success message , if compilation throws an error"
Install an extension with the compallation issue and then fire “php bin/magento setup:di:compile” command. The process shows an error but at the end of process it shows the success message.
### Preconditions

1. Magento Version 2.1.14 with sample data
2. PHP 7.0

### Steps to reproduce

1. Install an extension with compilation issue
2. Login with root user in terminal and switch to Magento root di

[2018-09-12 10:02] magento-engcom-team commented on #18026
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-12 10:09] hostep commented on #14968
He deleted his own comment as well, don't worry, it wasn't adding anything new to the discussion :)

[2018-09-12 10:17] ishakhsuvarov commented on #16302
Hi @BenSpace48. Thank you for your report.
The issue has been fixed in magento/magento2#16708 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [0ce439b1ecc2906dd840f37989c7c8ccf84dc6bf](https://github.com/magento/magento2/commit/0ce439b1ecc2906dd840f37989c7c8ccf84dc6bf)
 - [83a2966916faf1a5007870269fb2402cfa449da3](https://github.com/magento/magento2/commit/83a2966916faf1a5007870269f

[2018-09-12 10:17] ishakhsuvarov commented on #12362
Hi @minlare. Thank you for your report.
The issue has been fixed in magento/magento2#17608 by @jignesh-baldha in 2.3-develop branch
Related commit(s):
 - [eee587bc647c053d9bd4eb18c699b00a19535b61](https://github.com/magento/magento2/commit/eee587bc647c053d9bd4eb18c699b00a19535b61)
 - [3828ac51d0185419c0463cda40734c19d50f186b](https://github.com/magento/magento2/commit/3828ac51d0185419c0463cda40734

[2018-09-12 10:17] ishakhsuvarov commented on #16544
Hi @VitaliyBoyko. Thank you for your report.
The issue has been fixed in magento/magento2#17724 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [63c3198d277289ee8b9c56360d8da811f0d0a944](https://github.com/magento/magento2/commit/63c3198d277289ee8b9c56360d8da811f0d0a944)
 - [e7eba956761d894675b0b20fc89dc544c9144e2b](https://github.com/magento/magento2/commit/e7eba956761d894675b0b20fc89d

[2018-09-12 10:17] ishakhsuvarov commented on #14966
Hi @ktruehl. Thank you for your report.
The issue has been fixed in magento/magento2#16791 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [68b6e67383b1e31a335b4b5331357ba7e5ad54a1](https://github.com/magento/magento2/commit/68b6e67383b1e31a335b4b5331357ba7e5ad54a1)
 - [673a935ed7dd66769c871df2607431a582ad2e91](https://github.com/magento/magento2/commit/673a935ed7dd66769c871df2607431a

[2018-09-12 10:20] engcom-backlog-nazar commented on #18026
Hi @emiprotech What did you mean -> Install an extension with compilation issue, because i'm have only error message, In my case i write wrong path to plugin in di.xml

[2018-09-12 10:40] emiprotech commented on #18026
@engcom-backlog-nazar ,
I meant that if di:compile has an error in any case at that time only errors lines would be displayed in terminal but now in this version if di: compile is not success then error lines and end of the line success message is displayed. where 'Generated code and dependency injection configuration successfully' is the success message of the di: compile. but it is also visible

[2018-09-12 11:08] pietervanuhm commented on #14964
@gtlt
To check all email fields on special characters or other symbols, i did this.
Because I got 'Invalid email format' and searched my ass off when i treid to setup:upgrade

I used the update query to update rows with multiple the same issues
`
SELECT * FROM `quote_address` WHERE `email` NOT REGEXP '^[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$';
SELECT * FROM `sales_order_address` WHERE `email` NOT R

[2018-09-12 11:11] rauberdaniel opened #18027 "Cart Total is NaN in some circumstances"
### Preconditions

1.  Magento 2.2.5
2. PHP 7.1
3. MySQL 5.6.27

### Steps to reproduce

1. Put two items in the cart, in our case this is one product at 59,80€ incl. Tax and one product at 9,49€ incl. Tax, Shipping is free
2. Apply a coupon code (cart price rule) with 100% discount

Or in comment -> https://github.com/magento/magento2/issues/18027#issuecomment-439338846

### Expected result

1. C

[2018-09-12 11:11] magento-engcom-team commented on #18027
Hi @rauberdaniel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-12 11:16] rauberdaniel commented on #18027
@magento-engcom-team give me 2.2.5 instance

[2018-09-12 11:16] magento-engcom-team commented on #18027
Hi @rauberdaniel. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-12 11:17] magento-engcom-team commented on #18027
Hi @rauberdaniel, here is your [Magento instance](https://i-18027-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18027-2-2-5.engcom.dev.magento.com/admin](https://i-18027-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-12 11:34] engcom-backlog-nazar commented on #18026
@emiprotech This not be have an error because this message in try catch block
![selection_076](https://user-images.githubusercontent.com/40756439/45422461-ea7aca00-b698-11e8-91fc-d49557a5b8f1.png)

[2018-09-12 11:56] emilshamloo opened #18028 "Confiusing at the guest checkout"
### Expected behavior
I expect to have this "email adress" in the " Billing information" section.
### Benefits
This will let customers not to be confiused.

[2018-09-12 11:56] magento-engcom-team commented on #18028
Hi @emilshamloo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-12 12:00] engcom-backlog-nazar commented on #18027
Hi @rauberdaniel I'm not able to reproduce following steps your described.
![selection_077](https://user-images.githubusercontent.com/40756439/45423622-9540b780-b69c-11e8-83b6-6babbabbb6a4.png)

[2018-09-12 12:02] engcom-backlog-nazar commented on #18028
Hi @emilshamloo   I'm not able to reproduce following steps your described, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-12 12:02] #18028 closed, assigned to nobody

[2018-09-12 12:05] rauberdaniel commented on #18027
This only appears in conditions where floating point calculations are not accurate. I assume it has to do with taxes (7% in my case).

I tried reproducing in the magento instance you offered me, but that instance does not update its index automatically (I assume no cronjob running) and therefore does not allow to create any products (refresh index on save doesn’t seem to work either and manual rei

[2018-09-12 12:47] engcom-backlog-nazar commented on #18027
@rauberdaniel  I try several times but same result, tax 7% and do reindex, cron run cache clean, but not have an NaN
![selection_078](https://user-images.githubusercontent.com/40756439/45425804-169b4880-b6a3-11e8-9fea-7521f6295e05.png)

[2018-09-12 12:48] emiprotech commented on #18026
ok let's check again from our side and let you know.

[2018-09-12 12:48] #18026 closed, assigned to nobody

[2018-09-12 12:48] Shellanza commented on #15192
Hi there, I can confirm same issue still with 2.2.5 here.

[2018-09-12 12:50] engcom-backlog-nazar commented on #18026
@emiprotech ok.

[2018-09-12 12:50] Johan-Trp commented on #14667
Thanks for the comprehensive front-end dev perspective analysis. As above pemann found out, this problem gets worse when the client side cache starts building up. To get this into the complete picture, can you please analyse this part as well? Why is it that the already poor performance degrades when the browser cache fills up? The answer might affect your otherwise sound proposals.

For me, the P

[2018-09-12 12:57] dodiya-divyarajsinh commented on #7350
I have same issue in Magento 2.2.5 @magento-engcom-team

[2018-09-12 12:58] Shellanza commented on #16439
I can confirm that the same fix if applied into Magento 2.2.5 it will work. Thanks to all community member about that.

[2018-09-12 13:28] rauberdaniel commented on #18027
Guess I need to set up a vanilla Magento 2.2.5 instance to reproduce this, as the one offered above is not working correctly. However, I don’t currently have time for that. Might also have to do something with tax and discount calculation (post or pre tax). Will let you know as soon as I had time for it. Thank you!

[2018-09-12 13:38] engcom-backlog-nazar commented on #18027
@rauberdaniel ok somehow i'm get this result but not in grand total
![selection_080](https://user-images.githubusercontent.com/40756439/45428610-41d56600-b6aa-11e8-8a13-6768e31e9941.png)

[2018-09-12 13:44] engcom-backlog-nazar commented on #18027
@rauberdaniel yes finally i'm reproduce this :)
![selection_081](https://user-images.githubusercontent.com/40756439/45429052-2dde3400-b6ab-11e8-8df3-d32c8d714b94.png)

[2018-09-12 13:48] rauberdaniel commented on #18027
Great to hear, thank you very much for the help! This is a critical issue for us, as it prevents going past the payment method step in checkout, as no payment methods are available for a `NaN` price.

[2018-09-12 13:52] ghost opened #18029 "User role issue with cache management menu"
After creating the user role with cache management,Amazon log menu items are also display with that.
### Preconditions

1.Magento Version 2.2.5 with sample data
2.PHP 7.0

### Steps to reproduce

1.System > Permission > User Roles
2.Create a role under "Roles Resources" for the “cache Management” access (Role only for Cache Management).
3.Then create a user with the above-specified user role.
4.Lo

[2018-09-12 13:52] magento-engcom-team commented on #18029
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-12 14:06] ilan121 opened #18030 "When i import products with .csv file and is successfull, the sidebar is broken and i cant see all options."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-12 14:06] magento-engcom-team commented on #18030
Hi @ilan121. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-12 14:28] engcom-backlog-nazar commented on #18027
@rauberdaniel, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-12 14:38] engcom-backlog-nazar commented on #18029
Hi @emiprotech the fix for this issue has alredy avaible in 2.2-develop branch
2.2.5
![selection_083](https://user-images.githubusercontent.com/40756439/45432468-9aa8fc80-b6b2-11e8-89bd-97c7cdb76d4b.png)
2.2-develop
![selection_082](https://user-images.githubusercontent.com/40756439/45432481-a09edd80-b6b2-11e8-9114-b55c0f4f6e2f.png)

[2018-09-12 14:38] #18029 closed, assigned to nobody

[2018-09-12 14:40] simonmaass commented on #7350
why is this still closed?

[2018-09-12 14:41] engcom-backlog-nazar commented on #18030
Hi @ilan121    I'm not able to reproduce following steps your described, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-12 14:41] #18030 closed, assigned to nobody

[2018-09-12 16:02] contusprabakar0595 opened #18031 "Could not save option while update bundle product after upgrading the version from 2.1.7 - 2.2.5"
### Preconditions

1.  version 2.2.5
2.

### Steps to reproduce

1. Upgrade magento from 2.1.7 to 2.2.5
2. Update the existing bundle product
3. Click on save ,will get the Error "Could not save Option"

### Expected result

1.
![image](https://user-images.githubusercontent.com/43214197/45437582-b58b6900-b6d2-11e8-9f88-42fd866fcbff.png)

### Actual result

1.[2018-09-12 15:43:56] report.CRITICAL:

[2018-09-12 16:02] magento-engcom-team commented on #18031
Hi @contusprabakar0595. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-09-12 16:03] kolonuk opened #18032 "Multi store product images via JSON API"
When using JSON to add product images to each store for the same item, images appear in each store multiple times on both the front and back end.

### Preconditions

1. Magento 2.2.5, fresh install
2. Setup integration API
3. Create some categories

### Steps to reproduce

1. Load a product using JSON API
2. Load the image for each store, either `rest/all/V1/products/{{SKU}}/media` or `rest/{{STOR

[2018-09-12 16:03] magento-engcom-team commented on #18032
Hi @kolonuk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-12 16:39] alvarogrillet opened #18033 "Magento 2.2.1 - Search show no result when looking for a product wich contain a - or /"
### Preconditions

1. Magento version 2.2.1

### Steps to reproduce

1. Set a product with a - or / in its name, save and reindex
2. Look for that product name or part of it but with the - in the search query

### Expected result

1. Lsit of the products with similar name or the extac product

### Actual result

1. No products in the search

When i search for part of that product without the - it

[2018-09-12 16:39] magento-engcom-team commented on #18033
Hi @alvarogrillet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-12 16:58] alvarogrillet commented on #10355
Same happens to me but with - or / if its on the product name. No results, but if i search for part of that name without the - the product appears in the search result.

[2018-09-12 17:10] aeu commented on #8059
I am also seeing this in 2.2.5

[2018-09-12 17:33] aeu commented on #8059
@inkobject I have the same problem as you, we sell products that are measured in feet and inches.  I was able to work around this by using the Prime and Double Prime Symbols in my product names.

https://en.wikipedia.org/wiki/Prime_(symbol)

Kind of ridiculous that I had to do this, but on the other hand using the Prime symbols is typographically more correct.

[2018-09-12 17:50] Jupagar77 commented on #9116
Hi @Cristiano81 @syntheticlab we are also getting exactly the same issue, but only on production we cant replicate it locally, did you get to know what was causing it?

[2018-09-12 18:56] rparsi commented on #17954
@matin73 How is the solution complicated?  I gave you all the necessary code, just change `MyVendor` to something appropriate for your application.
Your only other option is to find an off the shelf 3rd party extension that manages transactional emails.

[2018-09-12 19:04] hostep commented on #8059
For the people reporting the issue in Magento 2.2.4 and 2.2.5, it's not the exact same issue as the original issue. Maybe better to watch these issues: https://github.com/magento/magento2/issues/15037 &
https://github.com/magento/magento2/issues/15268 & https://github.com/magento/magento2/issues/15491 & https://github.com/magento/magento2/issues/15631 & https://github.com/magento/magento2/issues/1

[2018-09-12 19:28] aeu commented on #15268
I am seeing this in 2.2.5.

As a workaround you can use https://en.wikipedia.org/wiki/Prime_(symbol) instead of double quotes, which is more typographically correct anyway.

[2018-09-12 19:29] aeu commented on #15491
I am seeing this in 2.2.5.

As a workaround you can use https://en.wikipedia.org/wiki/Prime_(symbol) instead of double quotes, which is more typographically correct anyway.

[2018-09-12 19:35] lano-vargas commented on #5589
Same issue here 2.2.2 Customer complains about amount charged form their bank account differs from what they see in their order history and with all the right reasons have a look at this order screen shoot :
![screen shot 2018-09-12 at 20 26 31](https://user-images.githubusercontent.com/3495481/45448520-7822dd80-b6ca-11e8-9e36-f9b17ad1aa3c.png)

Customer used voucher code for £ 150.00 Credit so £1

[2018-09-12 22:57] DePalmo commented on #12776
Workaround: ignore the default_head_blocks.xml and go to Magento's Backend > Content > Design > Configuration > (select your theme) Edit > HTML Head > Scripts and Style Sheets  and paste your content. That one is not validated and works.

[2018-09-12 22:59] leoquijano commented on #18017
Thanks @engcom-backlog-nazar.

Why is the issue marked as a feature request? It's actually a bug.

[2018-09-13 02:39] m0ver commented on #6688
I'm wondering what's the root cause?

[2018-09-13 03:29] xceed-will commented on #13415
worked for us jorisssss

[2018-09-13 05:06] ipascual opened #18036 "Product import - configurable limit of configurable_variations"
### Preconditions
1. Create attributes and values before importing

### Steps to reproduce
1. Try to import the attach file (change to .csv)
[configurable.txt](https://github.com/magento/magento2/files/2377743/configurable.txt)

### Expected result
1. Import the configurable product with all variations

### Actual result
1. Error: Invalid option value for attribute: xxx

When I was debugging the c

[2018-09-13 05:08] magento-engcom-team commented on #18036
Hi @ipascual. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-13 05:35] pyyick commented on #4677
Still present on Magento 2.2.5

[2018-09-13 06:35] DanielRuf commented on #4544
Also you can always download the binaries for the server OS and put it in the PATH and use it on demand. It also works on managed hosting.

[2018-09-13 06:36] DanielRuf commented on #4544
So a compile step to run webpack build is not that hard.
CMS? Magento is a ecommerce solution (I would never call it CMS).

[2018-09-13 06:37] DanielRuf commented on #4544
Also see https://github.com/niutech/node.php

[2018-09-13 06:47] engcom-backlog-nazar commented on #18032
Hi @kolonuk , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-13 06:56] engcom-backlog-nazar commented on #18033
Hi @alvarogrillet thank you for you report, the fix for this issue has already available in 2.2.-develop branch
![selection_084](https://user-images.githubusercontent.com/40756439/45471905-31210080-b73b-11e8-87f2-2a3892d14a7b.png)

[2018-09-13 06:56] #18033 closed, assigned to nobody

[2018-09-13 07:08] Thundar commented on #15898
Duplicates issue https://github.com/magento/magento2/issues/12479

[2018-09-13 07:19] SvanteAvenla opened #18037 "Product Customizable Options Value, can't save SKU value"
### Preconditions
1. Magento CE 2.2.3
2. PHP 7.0.30

### Steps to reproduce
1. Create a new Simple product.
2. Add a new *Customizable Option* ('Option Title' => 'Radio', 'Option Type' => 'Select - Radio Buttons').
3. Add two *Option Values* with these values:
    ['title' => 'One', 'Price' => '10', 'Price Type' => 'Fixed', 'SKU' => '#123'],
    ['title' => 'Two', 'Price' => '20', 'Price Type' =>

[2018-09-13 07:19] magento-engcom-team commented on #18037
Hi @SvanteAvenla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-13 07:27] SvanteAvenla commented on #18037
I was able to reproduce the issues on the vanilla Magento instance you provided me with.

[2018-09-13 07:44] engcom-backlog-nazar commented on #18017
@leoquijano Actually magento not have functional to change swates from links, in any version if you click on swatches url not changes, so i think it's a feature. however.
Unfortunately, setting a configurable product's options via the URL is absent in functionality of Magento CE

[2018-09-13 07:53] engcom-backlog-nazar commented on #18037
Hi @SvanteAvenla The fix for this issue has already available in 2.2-develop branch.

[2018-09-13 07:53] #18037 closed, assigned to nobody

[2018-09-13 07:58] engcom-backlog-nazar commented on #18037
![selection_085](https://user-images.githubusercontent.com/40756439/45475082-fe2f3a80-b743-11e8-94d7-0a9771c83402.png)

[2018-09-13 08:01] SvanteAvenla commented on #18037
Whewre is the commit fixing this issues? I would like to see how the fix is done?

[2018-09-13 08:04] engcom-backlog-nazar commented on #18037
@SvanteAvenla i'm can't find commit or PR , but i'm tested it on 2.2-develop branch and have no issue any more.

[2018-09-13 08:04] manojind commented on #5745
We found a duplicate website, tier price, customer group and quantity magento 2

SOLVED :
https://gist.github.com/manojind/49479d60a2592acb70da5db10dd4a476

Just edit the product -> Tier price -> remove the duplicate tier price option ( Customer group , Website and qty ) ,
Like   .
You set site1 -> QTY 10 -> Customer group retailer -> price $10

Now next price :-> You set site1 -> QTY 10 -> Custom

[2018-09-13 08:07] SvanteAvenla commented on #18037
@magento-engcom-team give me 2.2-develop instance

[2018-09-13 08:07] magento-engcom-team commented on #18037
Hi @SvanteAvenla. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-13 08:08] magento-engcom-team commented on #18037
Hi @SvanteAvenla, here is your [Magento instance](https://i-18037-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-18037-2-2-develop.engcom.dev.magento.com/admin](https://i-18037-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-13 08:09] engcom-backlog-nazar commented on #17302
@AbdulKadir-Agoliya , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-13 08:09] #17302 closed, assigned to nobody

[2018-09-13 08:12] SvanteAvenla commented on #18037
Seems you are right. I can't reproduce the issue in the 2.2-develop either. If you find the commit and remembers me please port the commit id here. I'm curious.

Thank you for your time!

[2018-09-13 08:13] engcom-backlog-nazar commented on #18037
@SvanteAvenla ok.

[2018-09-13 08:24] jakwinkler opened #18038 "Add a custom layout handle when there are no search results"
### Description

This is something frontend developers struggle with. When there are no search results, it would be nice to have a customized layout handle to add some custom blocks when there are no search results.

### Expected behavior

- unique layout update when there are no search results found, it can be a blank file but it needs to be processed when layout is being loaded.
- ability to cha

[2018-09-13 08:32] Arkotech123 commented on #12479
I have same issue, when i try to save customer data it reset custom attributes values. Issue is same for both core and custom

[2018-09-13 08:38] kolonuk commented on #18032
Just to add, it also looks like the `types` field is only stored against a single image, and the JSON image delete when using the `all` storeid in the url doesn't delete all images - you need to list all the images, and then guess which image relates to which store and issue a delete (also #9136 doesn't help in this case!)

Looks like product images are broken in more ways than I first thought...

[2018-09-13 09:18] engcom-backlog-nazar commented on #18031
Hi @contusprabakar0595 i'm not able to reproduce following steps you describe, problem may be related to you custom modules.

[2018-09-13 09:39] magento2dev opened #18040 "Products backorder remains In Stock"
### Preconditions

1. Magento 2.2.3
2. Set backorders configuration (Catalog -> Inventory -> Backorders) equal to "Allow Qty Below 0"

### Steps to reproduce

1. Place an order containing a product with qty = 1 and stock status = In Stock

### Expected result

1. The product quantity should be equals to 0
2. The products stock status should be set to Out of Stock

### Actual result

1. Only the pr

[2018-09-13 09:39] magento-engcom-team commented on #18040
Hi @magento2dev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-13 09:58] ghost opened #18041 "Text swatch translation"
### Preconditions
1. Magento CE 2.2.5

### Steps to reproduce
1. Create multiple store views
2. Add text swatch attribute
3. Add different values for the label/description pairs of the admin scope and the store views.
4. Create configurable product with given attribute

### Expected result
1. Swatches for configurable product are rendered with the translated label

### Actual result
1. Swatches fo

[2018-09-13 09:58] magento-engcom-team commented on #18041
Hi @Culth. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-09-13 10:05] engcom-backlog-nazar commented on #18041
Hi @Culth this is duplicate for this ->https://github.com/magento/magento2/issues/17890

[2018-09-13 10:05] #18041 closed, assigned to nobody

[2018-09-13 10:06] Culth commented on #18041
Ah thanks, couldn't find it. Have a nice day.

[2018-09-13 10:13] engcom-backlog-nazar commented on #18041
@Culth you too.

[2018-09-13 10:29] Danatran opened #18042 "Product Attribute Values"
Hi there,

We are using Magento version 2.2.5. We encounter an issue with duplicate Product Attribute Values:

Backend -> Add new Config product -> Choose attributes -> You can add more values here. At this step, the Magento system has not check if the value is unique, so you can add as many values as you can. The bug came from this way.

[2018-09-13 10:29] magento-engcom-team commented on #18042
Hi @Danatran. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-13 10:52] engcom-backlog-nazar commented on #18042
Hi @Danatran I'm not able to reproduce following steps your described, in the step when magento saves config product, automatically adds numbers to values that are unique

[2018-09-13 10:52] #18042 closed, assigned to nobody

[2018-09-13 11:14] Danatran commented on #18042
Please see the attached about the issue:

![image](https://user-images.githubusercontent.com/43237158/45485105-964b1500-b780-11e8-8848-bd650299b9ca.png)

![image](https://user-images.githubusercontent.com/43237158/45485177-dca07400-b780-11e8-90f8-f28811ea744a.png)

![image](https://user-images.githubusercontent.com/43237158/45485127-a82cb800-b780-11e8-92ba-7cfc5286d8ea.png)

[2018-09-13 11:59] alvarogrillet commented on #18033
Hi @engcom-backlog-nazar

Thanks fo your quick reply.

Im sorry but how can i get that solution for my store?

Thanks and best regards

El jue., 13 sept. 2018 a las 8:57, engcom-backlog-nazar (<
notifications@github.com>) escribió:

[2018-09-13 12:16] p-bystritsky commented on #16198
PR created.

[2018-09-13 12:27] pini-girit commented on #10469
Having the same issue & resaving the product seems to solve that.
Any idea what's the cause? How to prevent that? How to fix that for all products without resaving them all?

[2018-09-13 12:32] magento-engcom-team commented on #5664
@magento-engcom-team Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add "Component: " label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/

[2018-09-13 12:41] LovelySetia commented on #11408
How to create partial invoice in magento-2.1.12?

[2018-09-13 12:56] engcom-backlog-pb commented on #18040
@magento2dev, thank you for your report.
This is an expected behavior.

[2018-09-13 12:56] #18040 closed, assigned to nobody

[2018-09-13 12:56] Neusta-Hartwig commented on #5665
I found out, that this is not a bug, it's a magento feature.

Magentos bundle module has an observer (frontend/events.xml) who listenes to the event called 'catalog_product_upsell'. See here:

`<event name="catalog_product_upsell">
        <observer name="bundle_observer" instance="Magento\Bundle\Observer\AppendUpsellProductsObserver"/>
    </event>`

The observer (magento/module-bundle/Observer/A

[2018-09-13 13:02] magento-engcom-team commented on #5664
@magento-engcom-team Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-94984`, `MAGETWO-94983` were created

[2018-09-13 13:12] engcom-backlog-pb commented on #3280
@magento2dev, we were not able to reproduce this issue.
![1](https://user-images.githubusercontent.com/40756187/45490439-bfaf7500-b76f-11e8-8a03-315a51a075f8.gif)

[2018-09-13 13:12] #3280 closed, assigned to nobody

[2018-09-13 13:22] kanduvisla opened #18044 "M2.2 : Integration tests throw error if any given module in the vendor-folder uses older version of PHPUnit"
I want to run integration tests on my custom code in `app/code/Vendor/*/Test/Integration`, but I also have an older Magento module installed in my `vendor`-folder that uses an older version of PHPUnit (this module was built on Magento 2.1, but still works on 2.2).

My integration tests extend `\PHPUnit\Framework\TestCase` whereas the module in my `vendor`-module extends the older `PHPUnit_Framewor

[2018-09-13 13:48] ipascual commented on #18036
- Summary of the issue
We have a configurable product with 343 simple product variations. It also have 4 different attributes of dropdown.

It only imports up to 100 variations.

- Information on your environment
Magento Cloud environment - integration and staging servers

- Steps to reproduce
Upload the CSV attached using System > Import > Products

- Expected and actual results
Magento Admin UI

[2018-09-13 14:03] leoquijano commented on #18017
@engcom-backlog-nazar, it seems they had the same discussion in #12517, about whether it was a feature or not.

However, if you go back in time to #2746, it seems this functionality was present in M1 and that it has been present in M2 for some years now. An issue was fixed there so I guess it's already part of the feature set.

If it's unofficial, then it might be a good idea to make it official,

[2018-09-13 14:17] engcom-backlog-pb commented on #3356
@cescopag, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-13 14:21] engcom-backlog-pb commented on #6817
We are closing this issue due to inactivity. If anyone wants to update it, please reopen the issue.

[2018-09-13 14:21] #6817 closed, assigned to nobody

[2018-09-13 14:22] #7801 closed, assigned to nobody

[2018-09-13 14:32] engcom-backlog-pb commented on #17862
@rogyar

[2018-09-13 14:38] engcom-backlog-pb commented on #17902
@JigSays it's because I have changed only country to verify the address can be changed. But anyway no such problem exists on the latest Magento 2.2 version.
![default](https://user-images.githubusercontent.com/40756187/45495306-b0362900-b77b-11e8-8c39-51a52f943397.png)

[2018-09-13 14:40] syntheticlab commented on #9116
Hi everyone, for our customer's website the problem was caused by an
empty mandatory field (region)

Il 12/09/2018 19:51, Jupagar77 ha scritto:

[2018-09-13 15:22] okorshenko opened #18046 "Test Issue"
### Preconditions

1.
2.

### Steps to reproduce

### Expected result

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-13 15:28] magento-engcom-team commented on #18046
@ishakhsuvarov Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-94992` were created

[2018-09-13 16:23] kamilszewczyk opened #18048 "Static content deployment breaking template files in vendor"
### Preconditions

1. Magento 2.2.5

### Steps to reproduce

1. A module installed in vendor with a template file with a content
`<script src="//test.js/<?php echo $block->getParam() ?>/<?php echo $block->getParam() ?>"></script><script>runFunction(1, 2);</script>`
2. Run setup:static-content:deploy command
3. Check content of the phtml file

### Expected result

1. A correct phtml file (not modif

[2018-09-13 17:02] okorshenko commented on #18046
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, could you please go through this checklist:
- [ ] Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**). If the issue has a valid description, the label "G1 Passed" will be added to

[2018-09-13 17:02] magento-engcom-team commented on #18046
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance` to deploy test instance for you

[2018-09-13 17:41] hostep commented on #18048
@kamilszewczyk : I assume it only happens when html minification is enabled?
It sounds a bit like https://github.com/magento/magento2/issues/5316 (which should get fixed in 2.2.6), since you also have something which looks a bit like a comment: `//test.js` (I assume this is just a placeholder for an actual domain name?). Does changing that to `https://test.js` fixes the issue as well?

[2018-09-13 19:18] okorshenko commented on #18046
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instraction:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).

<details>
If the issue has a valid description, the label "G1 Passed

[2018-09-13 19:18] magento-engcom-team commented on #18046
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance` <br/> to deploy test instance for you

[2018-09-13 20:55] magento-engcom-team commented on #14819
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#17628 by @jignesh-baldha in 2.3-develop branch
Related commit(s):
 - [c5b5efd8c27d1812c8de0e6cc1a788cf2fe6e6db](https://github.com/magento/magento2/commit/c5b5efd8c27d1812c8de0e6cc1a788cf2fe6e6db)

The fix will be available with the upcoming 2.3.0 release.

[2018-09-13 20:55] magento-engcom-team commented on #14248
Hi @jb-dg. Thank you for your report.
The issue has been fixed in magento/magento2#17857 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [ead882db36d57ce1bffb31e441481bec2d93d14d](https://github.com/magento/magento2/commit/ead882db36d57ce1bffb31e441481bec2d93d14d)

The fix will be available with the upcoming 2.3.0 release.

[2018-09-13 20:55] magento-engcom-team commented on #13747
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#17826 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [88e26f2b958d6835f877d0feea8759418326a7f5](https://github.com/magento/magento2/commit/88e26f2b958d6835f877d0feea8759418326a7f5)
 - [44102727d7671b999daef0059de5a859a9d81d2f](https://github.com/magento/magento2/commit/44102727d7671b999daef0059de5a859a

[2018-09-13 20:55] magento-engcom-team commented on #6585
Hi @springimport. Thank you for your report.
The issue has been fixed in magento/magento2#17670 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [fa3ed73176359bb03917a7f487d00410f250bb7c](https://github.com/magento/magento2/commit/fa3ed73176359bb03917a7f487d00410f250bb7c)
 - [55753f155a4d6580a0b78e84a2d79ee9b276ef4e](https://github.com/magento/magento2/commit/55753f155a4d6580a0b78e84a2d

[2018-09-13 20:55] magento-engcom-team commented on #15501
Hi @Naturegreen. Thank you for your report.
The issue has been fixed in magento/magento2#17771 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [fba597ed6cd8031855844da6b3faa1f311d1341f](https://github.com/magento/magento2/commit/fba597ed6cd8031855844da6b3faa1f311d1341f)
 - [79b0b41780a8b8562302b97a23bcfea24f25ff9b](https://github.com/magento/magento2/commit/79b0b41780a8b8562302b97a23bcf

[2018-09-13 20:55] magento-engcom-team commented on #17492
Hi @krzksz. Thank you for your report.
The issue has been fixed in magento/magento2#17697 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [667e276ffcb41927bb07648f5e0e01ad8a733e5e](https://github.com/magento/magento2/commit/667e276ffcb41927bb07648f5e0e01ad8a733e5e)
 - [d85dd69d40acdcc4934a9f0f2fc3ebbbb9f8eb40](https://github.com/magento/magento2/commit/d85dd69d40acdcc4934a9f0f2fc3ebbb

[2018-09-13 20:55] magento-engcom-team commented on #16929
Hi @chizhov13. Thank you for your report.
The issue has been fixed in magento/magento2#17623 by @ronak2ram in 2.3-develop branch
Related commit(s):
 - [686406a87fdf04c4924ca2e50d5fb85ba61360cd](https://github.com/magento/magento2/commit/686406a87fdf04c4924ca2e50d5fb85ba61360cd)

The fix will be available with the upcoming 2.3.0 release.

[2018-09-13 20:55] magento-engcom-team commented on #13480
Hi @VincentMarmiesse. Thank you for your report.
The issue has been fixed in magento/magento2#17477 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [ad610f674d5d37e781556686408c8bbaeb28c956](https://github.com/magento/magento2/commit/ad610f674d5d37e781556686408c8bbaeb28c956)
 - [e967eb984065348ad3df0db39d1fe287e9927d2b](https://github.com/magento/magento2/commit/e967eb984065348ad3df0db

[2018-09-13 21:15] benhtn commented on #15037
Since @magento-engcom-team  have not implemented this in 2.5.5, could someone please describe how to implement the fix described by @brian-labelle in a theme please, so it overrides the default app/code/Magento/Catalog/view/frontend/templates/product/breadcrumbs.phtml?
Thanks

[2018-09-13 22:03] magento-engcom-team commented on #18046
Hi okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-09-13 22:04] magento-engcom-team commented on #18046
Hi ishakhsuvarov. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-09-13 22:05] okorshenko commented on #18046
@magento-engcom-team give me 2.2-develop instance

[2018-09-13 22:05] magento-engcom-team commented on #18046
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-13 22:05] magento-engcom-team commented on #18046
Hi @okorshenko, here is your [Magento instance](https://i-18046-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-18046-2-2-develop.engcom.dev.magento.com/admin](https://i-18046-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-13 22:06] okorshenko commented on #18046
@magento-engcom-team give me 2.3-develop instance

[2018-09-13 22:06] magento-engcom-team commented on #18046
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-09-13 22:06] magento-engcom-team commented on #18046
Hi @okorshenko, here is your [Magento instance](https://i-18046-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-18046-2-3-develop.engcom.dev.magento.com/admin](https://i-18046-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-13 22:10] magento-engcom-team commented on #18046
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-09-13 22:10] #18046 closed, assigned to okorshenko

[2018-09-13 22:13] ghost opened #18050 "REST Api SearchCriteria encoding error with %25 'like' requests"
**Summary of the issue**
When searching "like" results into products repository through REST API, values starting with % or %25 followed by some characters (e.g. "e" or "a") will give bad results, not as expected and described at "Logical OR search" section here: https://devdocs.magento.com/guides/v2.2/rest/performing-searches.html

### Preconditions
Environment: LAMP (Apache 2.4.6, php 7.1.0)
Mag

[2018-09-13 22:14] magento-engcom-team commented on #18050
Hi @LucaTerzaghi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-13 22:16] LucaTerzaghi commented on #18050
@magento-engcom-team give me 2.2.5 instance

[2018-09-13 22:17] magento-engcom-team commented on #18050
Hi @LucaTerzaghi. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-13 22:17] magento-engcom-team commented on #18050
Hi @LucaTerzaghi, here is your [Magento instance](https://i-18050-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-18050-2-2-5.engcom.dev.magento.com/admin](https://i-18050-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.