[2018-11-28 07:08] magento-engcom-team commented on #18359
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-28 07:08] magento-engcom-team commented on #18353
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-28 07:10] magento-engcom-team commented on #18335
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-28 07:23] #18335 closed, assigned to nobody

[2018-11-28 07:32] engcom-backlog-nazar commented on #18353
Hi @BabliDey thank you for you report, i'm closing this, as this is not a bug. Please read the @pocallaghan  comment.

[2018-11-28 07:32] #18353 closed, assigned to nobody

[2018-11-28 07:34] magento-engcom-team commented on #19209
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-28 07:34] vasilii-b commented on #19209
I'll grab this one since already involved in the topic. Thank you!

[2018-11-28 07:42] engcom-backlog-nazar commented on #18668
Hi @domeglic thank you for you report, please try to use inserface instand of appConfig class -> `Magento\Framework\App\ConfigScopeConfigInterface`

[2018-11-28 07:46] magento-engcom-team commented on #18304
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-28 07:49] domeglic commented on #18668
As I said that didn't make a difference.

[2018-11-28 07:52] magento-engcom-team commented on #18296
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-28 07:54] magento-engcom-team commented on #18337
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-28 07:54] engcom-backlog-nazar commented on #18668
@domeglic ok, wait one second, i'm will recheck.

[2018-11-28 08:00] engcom-backlog-nazar commented on #18668
@magento-engcom-team give me 2.3-develop instance

[2018-11-28 08:00] magento-engcom-team commented on #18668
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-28 08:00] magento-engcom-team commented on #18668
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-18668-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18668-2-3-develop.instances.magento-community.engineering/admin](https://i-18668-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-28 08:13] engcom-backlog-andrii commented on #18337
@magento-engcom-team give me 2.2-develop instance

[2018-11-28 08:13] magento-engcom-team commented on #18337
Hi @engcom-backlog-andrii. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-28 08:14] magento-engcom-team commented on #18337
Hi @engcom-backlog-andrii, here is your [Magento instance](https://i-18337-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-18337-2-2-develop.instances.magento-community.engineering/admin](https://i-18337-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-28 08:20] magento-engcom-team commented on #18337
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96698`, `MAGETWO-96699` were created

[2018-11-28 08:20] magento-engcom-team commented on #18668
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96700`, `MAGETWO-96701` were created

[2018-11-28 08:39] engcom-backlog-nazar commented on #19225
hi @ksz2013 thank you for you report, this cannot be reverted, this commite fixes another issue -> https://github.com/magento/magento2/issues/10645

[2018-11-28 08:39] #19225 closed, assigned to nobody

[2018-11-28 09:41] teoteo commented on #14674
It works for me but not for static pages. Thanks, I’ll make some other tests then I’ll apply this quick fix as override in app/code

[2018-11-28 09:46] dheesbeen commented on #14674
@teoteo

Yes this is only for routes that uses the url rewrites system / module. 'Static' urls and amasty modules are next on my list.

[2018-11-28 10:00] wescey commented on #17813
Will this be fixed in 2.3? Can't wait for it...

[2018-11-28 10:04] MuneebMagenticians commented on #8663
Maybe you are doing something wrong in writing custom instructions. You can check this guide that can help you to understand in a more better way: [Configure Magento 2 Robots.txt](https://magenticians.com/configure-magento-robots-txt/)

Hope it will help you and also others.

[2018-11-28 10:09] kevingimbel commented on #11759
Hello @magento-admin / @magento-engcom-team / @magento-devops / whoever,

this issue is still a thing in Magento 2.2.6. for me.

From what I can tell it seems to affect the JavaScript translations. In the screenshot below you can see that "Proceed to Checkout" was translated to "Weiter zur Anfrage" in the cart view but not in the JavaScript based minicart.

![screen shot 2018-11-28 at 11 07 48](ht

[2018-11-28 10:16] jegan1986 commented on #16383
Associated product decimal quantity increment in magento 2 is not working. It only taking parent product quantity increment setting. When we select the associated product its quantity increment is not updated in quantity field of product view page.

[2018-11-28 10:21] orlangur commented on #16383
@jegan1986,

This is intended system behavior. Parent product setting takes precedence over child product one.

[2018-11-28 10:37] srilathakln commented on #17947
We are also getting the same error for Magento Enterprise 2.2.5. any update on this issue?

[2018-11-28 10:39] orlangur commented on #16383
@jegan1986 only by customizing core implementation, as far as I remember there is an option to take an image from child product only.

[2018-11-28 10:41] kevingimbel commented on #11759
Alright. It seems the original error is actually fixed!

Working with translations (and developer mode) is still a bit weird tho because I manually have to delete the `js-translation.json` file and clear caches after making changes to the translations.

[2018-11-28 11:05] niravkrish commented on #17878
Hello @karangar,
**This issue is resolved in 2.2.6.**

[2018-11-28 11:05] #17878 closed, assigned to nobody

[2018-11-28 11:47] datasolution75 opened #19429 "Exception during creation of Credit Memo when tax and discount applies to shipping price"
### Preconditions (*)

1. Magento 2 2.2.6

### Steps to reproduce (*)

1.  Make an Order with shipping cost and VAT on the shipping. (in my exemple 7.9€ with a 20% VAT rate)
2. Use a discount fixed on cart with an amount that can apply to shipping also (in my exemple 5€)

![image](https://user-images.githubusercontent.com/39830829/49149374-350bfa00-f30a-11e8-9d3e-019c1a05b5a4.png)

3. Invoice and

[2018-11-28 11:47] magento-engcom-team commented on #19429
Hi @datasolution75. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-28 11:52] magento-engcom-team commented on #19429
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-28 11:59] magento-engcom-team commented on #18304
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96707`, `MAGETWO-96708` were created

[2018-11-28 12:00] magento-engcom-team commented on #18451
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96709` were created

[2018-11-28 12:19] flancer64 commented on #19283
Cannot find `vertex/sdk` package on project deploy:
[code]

May be [this idea](https://github.com/magento/magento2/issues/19283#issuecomment-440680930) is right: "_Probably there is some procedure (manual or automatic) that is failing._"

[2018-11-28 13:17] orlangur commented on #19429
@datasolution75 for suggesting code changes it is better to create a PR 😉

[2018-11-28 13:18] ansari-krish commented on #19344
@magento-engcom-team give me 2.3-develop instance

[2018-11-28 13:18] magento-engcom-team commented on #19344
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-28 13:18] magento-engcom-team commented on #19344
Hi @ansari-krish, here is your [Magento instance](https://i-19344-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19344-2-3-develop.instances.magento-community.engineering/admin](https://i-19344-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-28 13:29] ansari-krish commented on #19344
@magento-engcom-team give me 2.2-develop instance

[2018-11-28 13:29] magento-engcom-team commented on #19344
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-11-28 13:30] magento-engcom-team commented on #19344
Hi @ansari-krish, here is your [Magento instance](https://i-19344-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19344-2-2-develop.instances.magento-community.engineering/admin](https://i-19344-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-28 13:34] superkgy commented on #4883
Ok guys, here's what worked for me:

function () { return $.mage.__('Please enter a valid email address (Ex: johndoe@domain.com).'); }

[validation.js.txt](https://github.com/magento/magento2/files/2624739/validation.js.txt)

[2018-11-28 13:38] datasolution75 commented on #19429
Sorry i'm new to this, what is a PR ?
And where can i create one ?

[2018-11-28 14:20] magento-engcom-team commented on #18509
Hi @SikailoISM. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-11-28 14:41] andkirby commented on #19283
the same...
I've decided to create archive as workaround.
1) archive vendor/vertex/sdk into ZIP file
2) put it into some path like `modules/archives`
3) add this path as artifact in `composer.json`
4) run `composer update vertex/sdk` to update your `composer.lock` file

[2018-11-28 14:41] domeglic commented on #9695
I have the same problem. I don't know if it is possible to change this but Varnish will call **vcl_hash** only once, right after **vcl_recv**.
When a request comes back from the webserver it will not call **vcl_hash** and will be saved under the same hash data.
If X-Magento-Vary has changed then it should always set ttl=0, otherwise it is possible to cache pages under wrong conditions.

Magento v2

[2018-11-28 14:44] ste88 commented on #11963
Hi, I've created a backport for magento 2.1
[Patch-Magento_Catalog-MAGETWO-83549-11963-Magento-2.1-language-switching.patch](https://github.com/Hevelop/magento2-patches/blob/master/Patch-Magento_Catalog-MAGETWO-83549-11963-Magento-2.1-language-switching-not-working-on-catalog-and-Product-Pages.patch)

[2018-11-28 14:47] andkirby commented on #19283
@MichaelThessel, there is a bit easier way to update your `composer.lock` file -- just run:
[code]

[2018-11-28 15:02] engcom-backlog-andrii commented on #19429
Hi @datasolution75. Thanks for the report. I was not able to reproduce this issue by following the steps you provided. My Grand Total (Excl tax.) is 41,94. I got this result:
![item](https://user-images.githubusercontent.com/41946904/49160064-95149780-f32e-11e8-8816-c1584870a39d.png)

[2018-11-28 15:06] stephan-cream opened #19432 "Customer group auto-assign prevents data from being saved"
### Preconditions (*)
1. Any Magento 2.2.* version. **EDIT**: This was also tested on 2.3.0
2. Auto-assign of customer group based on an (in)valid VAT ID is enabled and configured.
3. PHP 7.0 (and tested with PHP 7.1 as well).
4. Clean install of Magento.

### Steps to reproduce (*)
1. Log into the backoffice and go to "Stores => Configuration => Customers => Customer Configuration.
2. Enable Auto

[2018-11-28 15:06] magento-engcom-team commented on #19432
Hi @stephan-cream. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-11-28 15:22] datasolution75 commented on #19429
Hi, i see that you don't have exacty the same prices, and i think the shippings you set are not taxed.

All the products and the shipping method have a 20% tax rate. The prices are all including tax in the BO.
Here is the Tax config :

![image](https://user-images.githubusercontent.com/39830829/49161673-9e4f3580-f329-11e8-8cad-07443e0ef556.png)

![image](https://user-images.githubusercontent.com/3

[2018-11-28 15:32] sebastianrothbucher commented on #18248
I could not fully reconstruct the reason for this flakiness (that some composer installs pull another vertex/module-tax for M 2.2.5) but I did fixate on the newer version with an explicit entry in composer.json
At least for me, it took deleting the local composer cache to go through, but it's a stable solution finally that does not do guesswork on upgrades / downgrades
Maybe this is helpful for so

[2018-11-28 15:47] milleniumstartup opened #19434 "CAN'T BACKUP ANYTHING FROM MAGENTO 2.2.2"
Guys good evening, I have some problems on Magento 2.2.2 that I'm not able to do backup from SYSTEM, MEDIA/SYSTEM and also Database. Please check the error below:

![magento issue](https://user-images.githubusercontent.com/45430507/49163104-5b975880-f33d-11e8-907e-159132b658ba.PNG)

I would like to know if there is some one to help with this issue, I don't have idea why I'm not able to bkp from Ma

[2018-11-28 15:47] magento-engcom-team commented on #19434
Hi @milleniumstartup. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-11-28 16:18] vsandrewuk commented on #8426
I had this issue also on Magento 2.2.4. Fairly sure i've narrowed the problem down (at least for the one I was having). Due to no Tier Prices already existing on the given product, just trying to insert an array with the Tier Price values has the wrong formatting. I'm in the process currently of making sure the 'tier_price' attribute has the same format as a product already with preset Tier Prices

[2018-11-28 16:48] Krielkip commented on #9011
When using grunt less, and in themes.js the ` sourceMap: true,` is set.
Looking in the inspector i see a map, but link to the less file is not found (404)

Now the possible problem is that the magento2 public link is in /pub/ and the magento files  in /.
The link of the _[filename].less is going to /pub/static/ instead of /static/
So removing in the url the /pub/ part, shows the good less file.

I

[2018-11-28 16:56] magento-engcom-team commented on #19432
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-28 17:02] flancer64 commented on #19283
Magento 2.3.0 is here:
[code]

no more `vertex/sdk ^1.0.0` failure for now.

[2018-11-28 17:23] orlangur commented on #19429
@datasolution75 please check https://github.com/magento/magento2/blob/2.3-develop/.github/CONTRIBUTING.md on how to propose some changes.

[2018-11-28 17:34] orlangur commented on #18509
@engcom-backlog-nazar are you sure paid invoice is supposed to be cancellable?

[2018-11-28 18:12] zexperto opened #19436 "Attribute Option with zero at the bigining does not work if there is already option with the same number without the zero (REST API))"
### Preconditions (*)
Magento 2 All Versions.

### Steps to reproduce (*)
1. Create an attribute (select or multiselect) from the backend (example: attribute_code = brand_number)
2. add new Option to this attribute from the backend (12345)
3. Add new Option to this attribute by the REST API (endpoint : /V1/products/attributes/brand_number/options), json = {"option":{"label":"012345"}}

### Expecte

[2018-11-28 18:12] magento-engcom-team commented on #19436
Hi @zexperto. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-28 19:03] larsroettig commented on #19417
@addinm any news it still reproducible?

[2018-11-28 19:05] larsroettig commented on #19327
@omiroshnichenko  can you check this pls thank you

[2018-11-28 19:08] magento-engcom-team commented on #19285
Hi @magento-engcom-team. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details>

[2018-11-28 19:22] omiroshnichenko commented on #19327
Hi @DanielRuf, this test is correct. This test was written for tabs widget that defined in https://github.com/magento/magento2/blob/2.3-develop/lib/web/mage/tabs.js#L14. You could search in log for `mage/tabs`

[2018-11-28 20:00] saphaljha commented on #19436
@magento-engcom-team give me $VERSION instance

[2018-11-28 20:01] saphaljha commented on #19436
@magento-engcom-team give me 2.3-develop instance

[2018-11-28 20:01] magento-engcom-team commented on #19436
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-11-28 20:08] magento-engcom-team commented on #19436
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2018-11-28 20:56] DanielRuf commented on #19327
Yes but how does this initialize `collapsible`?

[2018-11-28 20:57] slacka1 commented on #9798
In 2.2.3 when you save OptionInterface it throws no errors and seems to clear the values() member. I believe it's save routine comes from: vendor/magento/framework/Model/AbstractModel.php.  The comments above the save routine say it's depreciated. Maybe this is also causing issues with the REST api, assuming it saves using this routine.

[2018-11-28 21:18] omiroshnichenko commented on #19327
@DanielRuf There are no collapsible, this test works with tabs widget. Where did you see initialization of collapsible?

[2018-11-28 21:58] DanielRuf commented on #19327
See the description of the test.

[2018-11-28 21:59] DanielRuf commented on #19327
Another file with this comment has different code.

[2018-11-28 22:58] evodus opened #19440 "Duplicate key name 'AMAZON_QUOTE_QUOTE_ID' - Magento 2.3.0-beta32 upgrade to Magento 2.3.0"
### Preconditions (*)

1. 2.3.0-beta32
2. Ubuntu 18 + nginx + php7.1 + fpm + percona5.7

### Steps to reproduce (*)

1. Exist magento 2.3-beta32 clean install
2. composer require magento/product-community-edition=2.3.0 --no-update
3. composer update
4. Cleared caches
5. php bin/magento setup:upgrade

### Expected result (*)

1. Magento must upgrade database

### Actual result (*)

1.  SQLSTATE[420

[2018-11-28 22:58] magento-engcom-team commented on #19440
Hi @evodus. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-28 23:05] omiroshnichenko commented on #19327
tabs widget is a wrapper over collapsible widget from jQueryUI library. Inside tabs widget you can find initialization of collapsible https://github.com/magento/magento2/blob/2.3-develop/lib/web/mage/tabs.js#L159. So `Check tabs collapsible inited` checks that when you creating tabs widget collapsible widget will initialized on some elements https://github.com/magento/magento2/blob/0eb8677b0b4e356

[2018-11-28 23:20] DanielRuf commented on #19327
Ok, so `tabs()` in general is just a bit unclear.

[2018-11-28 23:20] #19327 closed, assigned to nobody

[2018-11-28 23:39] ryanreeves-taxjar opened #19441 "ZendClient breaks when receiving an HTTP/2 response"
### Preconditions (*)
1. Magento version 2.2.6
2. a version of Curl that supports HTTP/2 (v 7.43.0 or above)
3. (optional) CentOS operating system

### Steps to reproduce (*)
1.  Make an api request using ZendClient and the Curl adapter to an API endpoint that returns an HTTP/2 response
2. Receive the error "Invalid header line detected"

### Expected result (*)
1.  The api response to be returned

[2018-11-28 23:39] magento-engcom-team commented on #19441
Hi @ryanreeves-taxjar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-28 23:47] ryanreeves-taxjar opened #19442 "Magento/Framework/HTTP/Adapter/Curl.php doesn't allow setting HTTP version"
### Preconditions (*)
1.  Magento version 2.2.6

### Steps to reproduce (*)
1.  Create new ZendClient $client
2.  Set HTTP version $client->setConfig(['httpversion' => CURL_HTTP_VERSION_1_1])
3.  Make a request $client->request()

### Expected result (*)
1.  CURLOPT_HTTP_VERSION should be set to the supplied config value

### Actual result (*)
1. Magento/Framework/HTTP/Adapter/Curl.php, function `

[2018-11-28 23:47] magento-engcom-team commented on #19442
Hi @ryanreeves-taxjar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-11-29 00:50] magento-engcom-team commented on #18949
Hi @iget-master. Thank you for your report.
The issue has been fixed in magento/magento2#19350 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [adb97a3efda543e0985a178b91b1fc6d9e1efa71](https://github.com/magento/magento2/commit/adb97a3efda543e0985a178b91b1fc6d9e1efa71)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-29 00:50] magento-engcom-team commented on #19315
Hi @jcourtei. Thank you for your report.
The issue has been fixed in magento/magento2#19322 by @gelanivishal in 2.3-develop branch
Related commit(s):
 - [ada1c5f1387d0dc504a6c4f9e7ce7cd836a44504](https://github.com/magento/magento2/commit/ada1c5f1387d0dc504a6c4f9e7ce7cd836a44504)
 - [8b1afea641b2ac327a16ed948c18b31f23c9ab18](https://github.com/magento/magento2/commit/8b1afea641b2ac327a16ed948c18b3

[2018-11-29 00:50] #19315 closed, assigned to gelanivishal

[2018-11-29 00:50] magento-engcom-team commented on #16434
Hi @robertkent. Thank you for your report.
The issue has been fixed in magento/magento2#19318 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [7e78060c166672fbbd069875812856856d6815f8](https://github.com/magento/magento2/commit/7e78060c166672fbbd069875812856856d6815f8)

The fix will be available with the upcoming 2.3.1 release.

[2018-11-29 00:50] magento-engcom-team commented on #19286
Hi @gujjwal00. Thank you for your report.
The issue has been fixed in magento/magento2#19298 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [ded5c49b392b341ff764d77e5031bba46e775eab](https://github.com/magento/magento2/commit/ded5c49b392b341ff764d77e5031bba46e775eab)
 - [2f60707cc599d69adb522d7a00c47c06fe9101ff](https://github.com/magento/magento2/commit/2f60707cc599d69adb522d7a00c47c06

[2018-11-29 00:50] magento-engcom-team commented on #15931
Hi @nopenopenope. Thank you for your report.
The issue has been fixed in magento/magento2#19146 by @lisovyievhenii in 2.3-develop branch
Related commit(s):
 - [16f2e0dd0b83e2d4135a384d3fb19a9e2db5c32c](https://github.com/magento/magento2/commit/16f2e0dd0b83e2d4135a384d3fb19a9e2db5c32c)
 - [7ae271e7768c713e7ad83e8631e7308ac5b22193](https://github.com/magento/magento2/commit/7ae271e7768c713e7ad83e86

[2018-11-29 00:50] #15931 closed, assigned to lisovyievhenii

[2018-11-29 00:59] slacka1 opened #19443 "CE 2.2.3 ConfigurableProducts API OptionRepositoryInterface not saving Option Values"
please delete

[2018-11-29 00:59] magento-engcom-team commented on #19443
Hi @slacka1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-29 02:53] tuongnv-ub opened #19444 "CE 2.3.0 And CE 2.2.7 - Issue can't install via Xampp - Window 10"
### Preconditions (*)
1. Magento CE 2.2.7
2. Magento CE 2.3.0
3. Window 10 OS
4. PHP Version 7.1.22

### Steps to reproduce (*)
1. Install from Localhost using Xampp Latest support Magento 2.3

### Expected result (*)
1. Front-end and backend to show.

### Actual result (*)
1. Front-end not show
2. Backend not show
3. I check the log and see the issue from JS.
[Screenshot] https://www.dropbox.com/

[2018-11-29 02:53] magento-engcom-team commented on #19444
Hi @tuongnv-ub. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-29 04:44] deanpeterson commented on #7624
What fix did you find for the bug created by the joebordo fix? I'm on 2.2.3 and I get the old price to flash for a second and then it is replaced with the sale price. So the sale price is displayed and the Original Price, also displays the sale price.

[2018-11-29 05:37] minhluan259 commented on #19444
Same issue.

[2018-11-29 07:14] magento-engcom-team commented on #19441
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-29 07:14] magento-engcom-team commented on #19442
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-29 07:16] engcom-backlog-nazar commented on #19441
Hi @ryanreeves-taxjar  thank you for you report, please look -> https://github.com/magento/magento2/pull/19143

[2018-11-29 07:20] magento-engcom-team commented on #19434
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-29 07:20] engcom-backlog-nazar commented on #19434
Hi @milleniumstartup   thank you for you report, i'm not able to reproduce following steps you described in clean magento 2.2.5 instance.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about th

[2018-11-29 07:20] #19434 closed, assigned to nobody

[2018-11-29 07:21] magento-engcom-team commented on #19444
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-29 07:37] badi238 commented on #10896
I am stuck with same issue
having 1.1 million products
and 600+ categories
Any solution about this issue ??
Getting this error
ERROR 1146 (42S02): Table 'aeroshop_live.temp_catalog_category_tree_index_a8f211ee' doesn't exist
Adding new category or product is taking more than 30 minutes and some time 504 timeout..

[2018-11-29 07:43] Thundar commented on #18941
I can confirm both the issue and the analysis. The bug has been introduced in Magento 2.2.6 by this commit https://github.com/magento/magento2/commit/1115b3f6e39f9b4406ada0a6dae7ac60ea333da3#diff-4fbd3d4201dcd6192396c81a56a4a850
and was meant to solve this issue: https://github.com/magento/magento2/issues/16273

Actually I see no reason why the exclamation mark had to be removed: there is no reaso

[2018-11-29 07:45] magento-engcom-team commented on #19442
Hi @SikailoISM. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-11-29 07:45] engcom-backlog-andrii commented on #19432
Hi @stephan-cream. Thanks for the report. I'm not able to reproduce following steps your described, but I get the following results:
1. Customer group is **_not_** changed accordingly to Retailer.
2. VAT ID is properly updated.
3. Other customer data is properly updated.

[2018-11-29 08:04] abcpremium opened #19446 "Magento upgrade from 2.2.6 to 2.3.0 fails with composer"
I was trying to upgrade my Magento shop from 2.2.6 to 2.3.0 via composer. The installation failed with the message "**Your requirements could not be resolved to an installable set of packages.**". The problem seems to be the symfony/console component?

### Preconditions (*)

1. Magento version 2.2.6
2. PHP version 7.1.9
3. Memory limit 768M
4. Max execution time 18000

### Steps to reproduce (*)

[2018-11-29 08:04] magento-engcom-team commented on #19446
Hi @abcpremium. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-29 08:06] abcpremium commented on #19446
@magento-engcom-team give me 2.3.0 instance

[2018-11-29 08:06] magento-engcom-team commented on #19446
Hi @abcpremium. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-11-29 08:06] engcom-backlog-nazar commented on #18509
Hi @omaxmo, @orlangur  you can't cancel invoice if state == paid, If state == paid, you can do the credit memo.

`When you create an invoice and realise that it needs to be cancelled, be aware that there are some legal restrictions involved. Technically, you should never delete an issued invoice but instead use a credit note to cancel the invoice.`

When you cancel an invoice:

1. Any invoiced lin

[2018-11-29 08:06] #18509 closed, assigned to nobody

[2018-11-29 08:07] magento-engcom-team commented on #19446
Hi @abcpremium, here is your [Magento instance](https://i-19446-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19446-2-3-0.instances.magento-community.engineering/admin](https://i-19446-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-29 08:08] abcpremium commented on #19446
@magento-engcom-team give me 2.2.6 instance

[2018-11-29 08:08] magento-engcom-team commented on #19446
Hi @abcpremium. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-11-29 08:09] magento-engcom-team commented on #19446
Hi @abcpremium, here is your [Magento instance](https://i-19446-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19446-2-2-6.instances.magento-community.engineering/admin](https://i-19446-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-29 08:10] DanielRuf commented on #19446
Unfortunately you can not test on the CLI using composer with these instances and there is only the update / upgrade wizard (which probably works).

[2018-11-29 08:11] abcpremium commented on #19446
Hey @DanielRuf thank you, I realized this right now.

[2018-11-29 08:19] engcom-backlog-nazar commented on #19444
Hi @tuongnv-ub    thank you for you report, i'm not able to reproduce following steps you described
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-29 08:19] #19444 closed, assigned to nobody

[2018-11-29 08:21] jcodo commented on #19446
👍 Also experiencing this issue.

[2018-11-29 08:27] #19443 closed, assigned to nobody

[2018-11-29 08:32] magento-engcom-team commented on #19442
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96726`, `MAGETWO-96727` were created

[2018-11-29 08:42] magento-engcom-team commented on #19446
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-29 08:50] magento-engcom-team commented on #19172
Hi @bbmxxc. Thank you for your report.
The issue has been fixed in magento/magento2#19426 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [b8fc2023e6b65604e1ffe73a2fb85a333176abc3](https://github.com/magento/magento2/commit/b8fc2023e6b65604e1ffe73a2fb85a333176abc3)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-29 08:50] magento-engcom-team commented on #15505
Hi @jsamhall. Thank you for your report.
The issue has been fixed in magento/magento2#19398 by @swnsma in 2.2-develop branch
Related commit(s):
 - [8b900d4131daedc5daf46d9974d83ff59b02100a](https://github.com/magento/magento2/commit/8b900d4131daedc5daf46d9974d83ff59b02100a)
 - [f674badeadb1032a5b29e152de1503a55049b893](https://github.com/magento/magento2/commit/f674badeadb1032a5b29e152de1503a55049

[2018-11-29 08:50] magento-engcom-team commented on #17813
Hi @krzksz. Thank you for your report.
The issue has been fixed in magento/magento2#19014 by @omiroshnichenko in 2.2-develop branch
Related commit(s):
 - [57a85b8cbe42a51381083daf4a3a1f2d97ccdd83](https://github.com/magento/magento2/commit/57a85b8cbe42a51381083daf4a3a1f2d97ccdd83)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-29 08:50] #17813 closed, assigned to yagator

[2018-11-29 08:56] aditiaparatama opened #19448 "Admin page blank after install magento 2.1.16 with xampp"
**Preconditions**
Magento ver 2.1.16
php: 7.0.32
Server Software: Apache/2.4.34 (Win32) OpenSSL/1.0.2o PHP/7.0.32

**Steps to reproduce**
install process
access admin page but blank page
[localhost/development/magento2/admin_backend/](localhost/development/magento2/admin_backend/)

**Expected result**
show admin panel
show index

Hello everyone, I want to ask, I have installed magento 2.1.16 with

[2018-11-29 08:56] magento-engcom-team commented on #19448
Hi @aditiaparatama. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-29 08:57] minhducnho commented on #14232
same problem with magento v2.2.7 and 2.3.0
is there any update ?

[2018-11-29 08:58] AlexanderHuyghebaert commented on #8970
Issue still persisting 2.2.4

[2018-11-29 08:59] wojtekn commented on #19172
@magento-engcom-team  @eduard13 is it a proper fix? I didn't test it, but I see it sets current store on customer object. What if getById is used by CRON/CLI?

[2018-11-29 09:05] aditiaparatama commented on #19448
Hello everyone, I want to ask, I have installed magento2 (2.1.16) with xampp and php 7.0.32
and the installation process was successful but when I access the admin page the page is blank only backround is black, and
mod_rewrite is on, AllowOverride All, thanks in advance
![adminpage](https://user-images.githubusercontent.com/43600474/49210758-7f67a680-f3f0-11e8-84b3-29859d41cee9.png)

[2018-11-29 09:05] sydekumf commented on #6455
We still experience that in 2.2.6 with normal Magento cache (no varnish). Why?

[2018-11-29 09:12] suryakant-krish opened #19449 "Import History table alignment issue."
### Preconditions (*)

1. Magento 2.2.3

### Steps to reproduce (*)

1. Login into admin panel > System > import history > Import file "Download" alignment issue.

### Expected result (*)

1. ![expected-result-1](https://user-images.githubusercontent.com/43638601/49211105-cc458000-f3e4-11e8-9a77-5874d6ceeca9.png)

### Actual result (*)

1. ![actual-result-1](https://user-images.githubusercontent.c

[2018-11-29 09:12] magento-engcom-team commented on #19449
Hi @suryakant-krish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-11-29 09:13] magento-engcom-team commented on #19448
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-29 09:13] engcom-backlog-nazar commented on #19448
Hi @aditiaparatama
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-29 09:13] #19448 closed, assigned to nobody

[2018-11-29 09:13] magento-engcom-team commented on #19436
Hi @SikailoISM. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-11-29 10:05] magento-engcom-team commented on #19446
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96731` were created

[2018-11-29 10:19] woliu opened #19452 "Make State/Province required field in checkout view"
### Preconditions (*)

1.Magento 2.2.6
### Steps to reproduce (*)

1.I have specified "State" field as mandatory for customer address for my Country (United States) from Admin.
Stores > Setting Configuration > General > General > Country Options > State Options > State is Required for.
2.when I visit the url(http:://klipsch.com/checkout/cart),I find the State/Province is not required.
3.I try to a

[2018-11-29 10:19] magento-engcom-team commented on #19452
Hi @woliu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-29 10:21] magento-engcom-team commented on #19452
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-29 10:35] fballiano commented on #17285
same error for me with M2.3.0 on php 7.0.25

[2018-11-29 10:36] jcodo commented on #19446
Have you tried updating using the pre_composer_update script?
https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

[2018-11-29 10:40] fballiano commented on #17285
I see now that M2.3 is not compatible with 7.0, but when I first started the installation I got this message:

![schermata 2018-11-29 alle 10 39 03](https://user-images.githubusercontent.com/909743/49216481-1b7ab900-f3c3-11e8-9a58-dac94a7b01a1.jpg)

with the link to the 2.2 documentation (should be 2.3) and the wrong php version showed.

[2018-11-29 10:57] DanielRuf commented on #17285
See https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html. You get there from https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements2.html and https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements.html

[2018-11-29 10:58] DanielRuf commented on #17285
![bildschirmfoto 2018-11-29 um 11 57 40](https://user-images.githubusercontent.com/827205/49217511-09eade80-f3ce-11e8-9143-d25e3993b80d.png)

[2018-11-29 11:01] fballiano commented on #17285
yes, I'll create a PR to change that message in app/bootstrap.php

[2018-11-29 11:04] fballiano opened #19453 "wrong php version in app/bootstrap.php"
### Summary (*)
By mistake I was trying to run M2.3.0 on a PHP5, and the system told me "Magento supports PHP 7.0.2, 7.0.4, and 7.0.6 or later. Please read Magento System Requirements." which is wrong because minimum php version for 2.3 is 7.1.3 https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

### Examples (*)
"Magento supports PHP 7.0.2, 7.0.4, and 7.0.6 or later

[2018-11-29 11:04] magento-engcom-team commented on #19453
Hi @fballiano. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-29 11:04] engcom-backlog-andrii commented on #19452
Hi @woliu. Thanks for the report. This page does not provide such validation. Validation must be on the shipping page. This can be a feature request, It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-29 11:04] #19452 closed, assigned to nobody

[2018-11-29 11:05] magento-engcom-team commented on #19452
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-29 11:08] woliu commented on #19452
if i want to add validation in checkout page, what can i do?

[2018-11-29 11:14] DeepPopat commented on #14750
Hello @engcom-backlog-nazar
I am facing the same issue in my site, and need solution for it. So can you please tell me from were I could get the final solution or code.

[2018-11-29 11:50] mahendra1988 opened #19456 "Admin Sub-Menu Navigation Feature"
### Description (*)
Admin backend menus does not showing any direction or navigation icos as magento provide in frontend.

### Expected behavior (*)
Show the navigation icos as its show in frontend.

### Benefits
Admin will easily get an idea that this Menu have  sub-menus or not so he will have idea about sub-menus.

### Additional information

[2018-11-29 11:50] magento-engcom-team commented on #19456
Hi @mahendra1988. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-29 11:58] magento-engcom-team commented on #19456
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-29 12:00] SikailoISM commented on #5070
Need add local git config email to github account (git config --global user.email)

[2018-11-29 12:10] engcom-backlog-andrii commented on #18630
I'm able to reproduced this issue by following steps on 2.2-develop and 2.3-develop:
1. Use system value to : Stores > Settings > Configuration > General > General > Country options > Zip/Postal Code is Optional for
2. Add products to cart as guest
3. Proceed to checkout

[2018-11-29 12:11] magento-engcom-team commented on #18630
@engcom-backlog-andrii Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-11-29 12:12] magento-engcom-team commented on #18630
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96736`, `MAGETWO-96737` were created

[2018-11-29 12:24] #19456 closed, assigned to nobody

[2018-11-29 12:26] sneha-panchal opened #19457 "Bundle Items not displaying in admin product edit section"
Bundle items not displaying in Admin Product edit.
### Preconditions (*)

1. Magento 2.3.0
2. sample data

### Steps to reproduce (*)

1. Open and edit this product Sprite Yoga Companion Kit (SKU : 24-WG080) (Bundle Product) on its own

### Expected result (*)

1. All associated Bundle Items need to disaply

### Actual result (*)

1. Bundle Items tab is not displaying

![sprite yoga companion kit

[2018-11-29 12:30] magento-engcom-team commented on #19457
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-29 12:39] sawebvisum commented on #17273
Hi @engcom-backlog-nazar. Can you please provide the patch? Where can i find pr/mr?

[2018-11-29 12:44] engcom-backlog-andrii commented on #19457
Hi @sneha-panchal. Thanks for the report. i'm not able to reproduce following steps you described. Bundle Items tab is displaying. My result:
![bundle](https://user-images.githubusercontent.com/41946904/49222665-234b5500-f3e5-11e8-93eb-9c9cdcac2e0a.png)

[2018-11-29 13:55] magento-engcom-team commented on #19429
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96738` were created

[2018-11-29 14:02] magento-engcom-team commented on #18775
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96739` were created

[2018-11-29 14:08] bobmats commented on #15828
Same problem on magento 2.2.5 when fpc is activated some pages have 1 tot 1.5 seconds to first byte.
How can this be solved

[2018-11-29 14:10] abcpremium commented on #19446
@jcodo I tried it right now yes, but it didn't work either. Executing the script as explained on the site (`php -f pre_composer_update_2.3.php -- --root='<path/to/magento/install/dir>'`) throws the following fatal error:

[code]

[2018-11-29 14:20] carylewis commented on #15828
Magento has a patch, but it broke PayPal. We had to patch their patch.

[2018-11-29 14:22] MicheleAlice opened #19460 "2.2.6 Newsletter subscription management generates blank page"
<! ---
Consult our guidelines before adding a new problem: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Fields marked with * are mandatory. Please do not remove the model.
->

### Preconditions (*)
<! ---
The magento version is 2.2.6
->
1.
2.

### Steps to Reproduce (*)
<! ---
The bug, so defined by the theme support, is located at the link https://www.coccinella.bio/newslet

[2018-11-29 14:22] magento-engcom-team commented on #19460
Hi @MicheleAlice. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-29 14:22] magento-engcom-team commented on #19460
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-29 14:34] valuead commented on #18052
Please send me your file vlad @ valuead.com and I will help you. Could be multiple things

From: Ankit yadav <notifications@github.com>
Sent: Thursday, November 22, 2018 8:56 AM
To: magento/magento2 <magento2@noreply.github.com>
Cc: ValueAd <vlad@valuead.com>; Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] Import data 2.2.5 Value for 'product_type' attribute contains incorrec

[2018-11-29 14:40] ankit-sf commented on #18052
hello @valuead ,
i tried with import after downloading sample file present at import page in magento2 admin after
 trying steps given at https://github.com/magento/magento2/issues/19346 and you can reproduce it easily.
thanks

[2018-11-29 14:46] peterjaap commented on #18256
@nuwaus @tonycr7 the recommended way is to make a composer patch file to use with for example https://github.com/cweagans/composer-patches

[2018-11-29 14:52] bobmats commented on #15828
@carylewis where can I find the patch and patch to fix the patch ?

[2018-11-29 14:58] navidnadali commented on #3406
@magento-engcom-team please can you update in RE to this bug? We have multiple customers affected by it

[2018-11-29 14:59] engcom-backlog-nazar commented on #19460
Hi @MicheleAlice
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-29 14:59] #19460 closed, assigned to nobody

[2018-11-29 15:13] textarea opened #19463 "Error "Undefined index: search_query" upgrade to 2.3 release"
### Preconditions (*)

1. Magento version: 2.2.7
2. Some modules disabled (like Magento_Search)

### Steps to reproduce (*)

1. Upgraded composer packages
2. run php bin/magento setup:upgrade

### Expected result (*)

1. Setup upgraded with success

### Actual result (*)

1. Error: Notice: Undefined index: search_query in /vendor/magento/framework/Setup/Declaration/Schema/Declaration/SchemaBuilder

[2018-11-29 15:13] magento-engcom-team commented on #19463
Hi @textarea. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-29 15:15] textarea commented on #19463
@magento-engcom-team give me 2.2.7 instance

[2018-11-29 15:15] magento-engcom-team commented on #19463
Hi @textarea. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-11-29 15:15] magento-engcom-team commented on #19463
Hi @textarea, here is your [Magento instance](https://i-19463-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-19463-2-2-7.instances.magento-community.engineering/admin](https://i-19463-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-29 15:18] textarea commented on #19463
I need ssh access to disable some modules and run upgrade

[2018-11-29 15:23] claudioxu commented on #19452
@woliu

The validation already exists in checkout page, need not do anything.

[2018-11-29 15:58] 80Cube commented on #18148
We applied Numan201's fix, looks to be working OK (PayPal Hosted Pro).

Doesn't look like it's fixed in 2.3 according to release notes &  line 38 of `vendor/magento/module-sales/Model/Order/Payment/State/RegisterCaptureNotificationCommand.php` is the same as 2.2.6

[2018-11-29 16:24] adaudenthun commented on #19440
I have the same issue

[2018-11-29 16:31] ryanreeves-taxjar commented on #19441
Please reconsider closing this.  This is a separate issue with the class Zend_Http_Response and the change in #19143 does not fix it.

[2018-11-29 16:34] treestonemedia commented on #19446
👍 same issue

[2018-11-29 16:36] markoshust commented on #17830
@peterjaap just noticed this, thanks for raising this issue. definitely needed in certain circumstances or just to give the developer the flexibility to choose the implementation they wish to use.

looks like all merged in, so going to close this one out.

[2018-11-29 16:36] #17830 closed, assigned to jignesh-baldha

[2018-11-29 16:39] treestonemedia opened #19464 "Cannot upgrade from 2.2.6 to 2.3.0 with sample data"
### Preconditions

1. Currently on Magento 2.2.6
2. Installed via composer
3. Using the sample data module

### Steps to reproduce

1. Ran through the steps outlined in [Magento dev docs for command line upgrade](https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html)
2. run `composer update`

### Expected result

1.  composer successfully updates

### Actual result

	Loading compos

[2018-11-29 16:39] magento-engcom-team commented on #19464
Hi @treestonemedia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-29 16:47] treestonemedia commented on #19464
@magento-engcom-team

- The summary of the issue is that I cannot upgrade
- My environment is a clean vanilla Magento 2.2.6 running on PHP 7.1 that was installed via composer and using the sample data module.
- I provided clear steps to reproduce.
- I provided expected and actual results.

I confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce

[2018-11-29 17:01] Schrank opened #19465 "duplicate on (multi)select attribute breaks validation"
### Preconditions (*)
Demo build on the demo store of basecom: https://www.basecom.de/magento2/demo
Magento Ver.-2.2.6

On (multi)select attributes it is possible to save duplicates. The validation is correct, but for some reason the list of options is hidden after validation and not validated again due to that.

### Steps to reproduce (*)
1. Open product attribute "activity"
2. add new option "Ur

[2018-11-29 17:01] magento-engcom-team commented on #19465
Hi @Schrank. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-11-29 17:38] larsroettig commented on #19464
@treestonemedia duplicated by #19446

[2018-11-29 17:38] #19464 closed, assigned to nobody

[2018-11-29 17:40] larsroettig commented on #19463
@textarea is not possible to get ssh access

[2018-11-29 17:41] treestonemedia commented on #19464
@larsroettig it's actually not a duplicate - my issue is because of sample data

[2018-11-29 17:50] dribblecastle commented on #12129
Which Amasty module @seanscott49 and @bmzero?  I have a few installed and run into this issue every few weeks out of the blue.

[2018-11-29 17:54] treestonemedia commented on #19464
The issue was the sample data - if you have sample data installed then first run `php bin/magento sampledata:remove`

Thanks to Alan Storm!

[2018-11-29 18:06] bmzero commented on #12129
It was actually Amasty Base, but related to Shipping Rules.

[2018-11-29 18:20] GrahamROR opened #19466 "Issues pushing a new product from magento to Etsy."
### Summary (*)

### Examples (*)

### Proposed solution

[2018-11-29 18:20] magento-engcom-team commented on #19466
Hi @GrahamROR. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-29 18:29] dribblecastle commented on #12129
Thanks for the quick response.  Do you recall if your problem was consistent with this error message or did it go away when you did a Flush of the Magento cache?  For me, it occurs at random and the cache flush fixes it.

[2018-11-29 18:54] eltonmota commented on #10550
Nice!!! @philipvandebriel, thank you!

[2018-11-29 19:04] magento-engcom-team commented on #19449
@dmytro-ch Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96741`, `MAGETWO-96742` were created

[2018-11-29 19:04] magento-engcom-team commented on #19449
Hi @dmytro-ch. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2018-11-29 19:10] LSchonewille opened #19468 "Making payment not possible after upgrading 2.2.5 to 2.2.6"
### Preconditions (*)
1. We've got two shops, one started as installation on 2.2.6, the other one started as 2.2.5. We've upgraded one shop from 2.2.5 to 2.2.6. The first store (started on 2.2.6) payments are going great. The second store; in configuration and extension use exactly the same as the first store, all payments fail with error "An error occurred on the server. Please try to place the o

[2018-11-29 19:10] magento-engcom-team commented on #19468
Hi @LSchonewille. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-29 19:33] dmytro-ch commented on #19465
Hello @Schrank, thank you for the report.
I've reproduced the issue for latest Magento 2.2 version.
It also looks like the issue has been allready fixed for Magento 2.3.

[2018-11-29 19:41] slacka1 commented on #19443
@magento-engcom-team give me 2.2.3 instance

[2018-11-29 19:41] magento-engcom-team commented on #19443
Hi @slacka1. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-11-29 19:42] magento-engcom-team commented on #19443
Hi @slacka1, here is your [Magento instance](https://i-19443-2-2-3.instances.magento-community.engineering).
Admin access: [https://i-19443-2-2-3.instances.magento-community.engineering/admin](https://i-19443-2-2-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-11-29 19:55] qsolutions-pl commented on #13152
Any update on this? :-)

[2018-11-29 20:32] vbuck opened #19469 "2.3 Customer module Recurring setup script performance problems."
When running `bin/magento setup:upgrade` for a Magento CE 2.3.x installation(or just use Magento Open source), there is an unexpected delay in the recurring setup script execution on the `Magento_Customer` module(every time when you run `bin/magento setup:upgrade`) . This is more pronounced on a large data set (>500K customers).

### References
- MAGETWO-85326
- https://github.com/magento/magento2

[2018-11-29 20:32] magento-engcom-team commented on #19469
Hi @vbuck. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-29 20:49] Schrank commented on #19465
Good to read, thanks @dmytro-ch

[2018-11-29 21:20] rdwaugaman commented on #4351
The same problem exists in 2.1.14 after upgrading the site from 2.1.9. Same question as above.

[2018-11-29 22:03] dan-ding commented on #18802
seems to happen with 2.2.6 EE for the curious

[2018-11-30 00:11] kirmorozov opened #19470 "Debugging of JS issues is painful, upgrade to use Promise-based requirejs replacement"
### Summary (*)
We are experiencing long and painful traces within javascript AMD modules.
Lots of ticks going forever, so painful to find out root cause.

### Examples (*)
[code]

### Proposed solution
Switch to Promise-based requirejs implementation.
Adopt https://github.com/requirejs/alameda-prim or https://github.com/requirejs/alameda as drip-in replacement of regular requirejs.

[2018-11-30 00:11] kirmorozov opened #33193 "Debugging of JS issues is painful, upgrade to Promise-based requirejs"
### Summary (*)
We are experiencing long and painful traces within javascript AMD modules.
Lots of ticks going forever, so painful to find out root cause.

### Examples (*)
[code]

### Proposed solution
Switch to Promise-based requirejs implementation.
Adopt https://github.com/requirejs/alameda-prim or https://github.com/requirejs/alameda as drop-in replacement of regular requirejs.
Side effect of

[2018-11-30 00:12] magento-engcom-team commented on #19470
Hi @kirmorozov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-30 01:40] fastdivision commented on #19441
@engcom-backlog-nazar Could you please re-open this issue? This issue is not resolved by #19143 because it affects Zend_Http_Client via cURL adapter, not cURL client. Thank you!

[2018-11-30 03:24] tuongnv-ub opened #19471 "Show issue when turn on Developer Mode - CE 2.3.0"
### Preconditions (*)

1. Magento Version: CE 2.3.0
2.  PHP Version 7.1.22
3. XamPP Server Localhost
4. Window 10
5. Developer Mode
6. Show error mode

### Steps to reproduce (*)

1. Setup Magento Core CE 2.3.0
2. See Front-end

### Expected result (*)

1. Show front-end without any issue.

### Actual result (*)

1. Show error issue https://www.dropbox.com/s/tm0h1w58nil7j83/2018-11-30_10-23-09.png

[2018-11-30 05:20] magento-engcom-team commented on #12855
Hi @niravkrish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2018-11-30 05:50] Dharmeshvaja91 commented on #19415
Hello, @mageprashant @magento-engcom-team i am not able to reproduce this issue on 2.2.6 instance.

[2018-11-30 05:51] ramindas commented on #19446
Same Issue here....

[2018-11-30 06:01] SyntaxKay opened #19472 "Advance Pricing - Customer Group Price , Select box and Text box alignment issue"
### Preconditions (*)

1.Magento 2.3-Develop

### Steps to reproduce (*)

1.Open  Catalog > Product > Add/Edit Product
2. Open Advance Pricing

### Expected result (*)

 ![expected](https://user-images.githubusercontent.com/33230237/49271375-51876e00-f493-11e8-96f9-91590b6b1db6.jpg)

### Actual result (*)

![actual](https://user-images.githubusercontent.com/33230237/49271387-66fc9800-f493-11e8-8cd

[2018-11-30 06:01] magento-engcom-team commented on #19472
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-11-30 06:38] vetshopdeveloper commented on #13478
@magento-engcom-team this has been confirmed since the 7th of Feb, please advise when a fix will be available

[2018-11-30 06:45] wd7080 commented on #19446
Same issue!
Check Component Dependency
We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

Problem 1
- magento/product-community-edition 2.3.0 requires magento/magento2-base 2.3.0 -> satisfiab

[2018-11-30 07:03] ankurverma5540 commented on #16203
I am facing the issue. What need to done to fix this issue.

[2018-11-30 07:14] phuongnd commented on #19471
issue confirmed. We get the same issue.

[2018-11-30 07:16] DanielRuf commented on #19446
Saying "I have this problem too" and posting a long log output is not very helpful. Does anyone have a working solution / workaround for a PR?

[2018-11-30 07:17] magento-engcom-team commented on #19466
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 07:18] DanielRuf commented on #19446
Please upvote the initial issue comment.

[2018-11-30 07:19] engcom-backlog-nazar commented on #19466
Hi @GrahamROR
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-11-30 07:19] #19466 closed, assigned to nobody

[2018-11-30 07:24] #19440 closed, assigned to nobody

[2018-11-30 07:31] magento-engcom-team commented on #19471
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 07:32] magento-engcom-team commented on #19469
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 07:41] engcom-backlog-nazar commented on #19469
@vbuck , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source onl

[2018-11-30 07:44] engcom-backlog-nazar commented on #19465
Hi @dmytro-ch Will you create the pr to 2.2-dev ? or we can close as this was fixed in 2.3-develop ?

[2018-11-30 07:46] engcom-backlog-nazar commented on #19441
@fastdivision ok, i'm will retest

[2018-11-30 07:50] Schrank commented on #19465
I opt for option 1 :-)

If you have any indication (internal ticket number, external ticket number, ...) about the commit(s) which fixed the problem? Then I'm happy to send a PR (or fix it only in our install)

[2018-11-30 07:59] iccen opened #19474 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Preconditions (*)

1. Magento 2.3-Develop

### Steps to reproduce (*)

1.content -> design->Design Configuration->header
2. upload  Logo Image

### Expected result (*)

1.  upload  Logo Image

### Actual result (*)

1.  get error: A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

[2018-11-30 07:59] magento-engcom-team commented on #19474
Hi @iccen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-11-30 08:00] magento-engcom-team commented on #19474
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-30 08:03] jcodo commented on #19446
@abcpremium I found that this is actually due to the repositories being labelled with "0", "1", "2" in composer.json. My only work arround currently, until this is fixed, is to rename these repos with names containing other characters (i.e. magento, etc.)

[2018-11-30 08:05] magento-engcom-team commented on #18508
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96805`, `MAGETWO-96806` were created

[2018-11-30 08:18] iccen commented on #19474
https://tutes.club/solved-magento-2-error-a-technical-problem-with-the-server-created-an-error-try-again-to-continue-what-you-were-doing-if-the-problem-persists-try-again-later/

i try this ,but it not work for me .

[2018-11-30 08:31] magento-engcom-team commented on #19474
Hi @SikailoISM. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2018-11-30 08:31] magento-engcom-team commented on #19474
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-30 08:31] engcom-backlog-nazar commented on #19474
Hi @iccen i'm not able to reproduce following steps you described, seems like problem related to your environment.

[2018-11-30 08:31] #19474 closed, assigned to nobody

[2018-11-30 08:32] magento-engcom-team commented on #19474
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 08:34] engcom-backlog-andrii commented on #19474
Hi @iccen. I'm not able to reproduce following steps you described.
![logo](https://user-images.githubusercontent.com/41946904/49277787-7a0b6a00-f48b-11e8-9ae7-3473573c6b9e.png)

[2018-11-30 08:37] milindsingh opened #19475 "Addition of PUT, DELETE methods in Client Curl Class"
### Summary (*)

The framework provides support for object-oriented curl requests, but it lags some basic HTTP request methods i.e `PUT & DELETE `.
Also, lacks the ability to upload a file via client curl class:  `\Magento\Framework\HTTP\Client\Curl`

### Examples (*)
Available request types:

- get($uri)
- post($uri, $params)

### Proposed solution
Need 2 more basic types:

- put($uri, $params)
-

[2018-11-30 08:37] magento-engcom-team commented on #19475
Hi @milindsingh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-11-30 08:41] magento-engcom-team commented on #19475
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 08:43] engcom-backlog-nazar commented on #19475
Hi @milindsingh . Thanks for the report, this can be a feature request. It will be processed faster if you move this to https://github.com/magento/community-features

[2018-11-30 08:43] #19475 closed, assigned to nobody

[2018-11-30 08:45] magento-engcom-team commented on #19370
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 08:46] engcom-backlog-nazar commented on #19370
Hi @milindsingh, thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 08:46] #19370 closed, assigned to nobody

[2018-11-30 08:46] DanielRuf commented on #19446
Recommended for PHP projects in general when something was changed in composer.json. So this alone with `rm -rf vendor` or just these 2 fixes your issue?

[2018-11-30 08:48] engcom-backlog-nazar commented on #18854
Hi @saphaljha , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 08:48] #18854 closed, assigned to nobody

[2018-11-30 08:49] engcom-backlog-nazar commented on #18775
Hi @saphaljha , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 08:49] #18775 closed, assigned to nobody

[2018-11-30 08:49] engcom-backlog-nazar commented on #18688
Hi @davegog , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 08:49] #18688 closed, assigned to wiardvanrij

[2018-11-30 08:50] tomzolka commented on #19446
Sorry, I am not competent, I just found here the same issue.
https://community.magento.com/t5/Magento-2-x-Version-Upgrades/Issue-2-2-6-update-to-2-3/td-p/113754

[2018-11-30 08:50] engcom-backlog-nazar commented on #18605
Hi @larsroettig , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 08:50] #18605 closed, assigned to nobody

[2018-11-30 08:58] engcom-backlog-nazar commented on #18387
Hi @gwharton , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 08:58] #18387 closed, assigned to Fazzke

[2018-11-30 08:59] engcom-backlog-nazar commented on #18158
Hi @Cristiano81 , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 08:59] #18158 closed, assigned to nobody

[2018-11-30 09:00] engcom-backlog-nazar commented on #17616
Hi @simonworkhouse , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 09:00] #17616 closed, assigned to amatanovic

[2018-11-30 09:01] engcom-backlog-nazar commented on #15601
Hi @sanjay-wagento , thank you for you report, this issue has already fixed in 2.3-develop branch, and available on 2.3.0 release.

[2018-11-30 09:01] #15601 closed, assigned to sanjay-wagento

[2018-11-30 09:02] engcom-backlog-nazar commented on #15035
Hi @gwharton , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 09:02] #15035 closed, assigned to nobody

[2018-11-30 09:05] engcom-backlog-nazar commented on #13685
Hi @kirmorozov, thank you for you report, this issue has already fixed in 2.3-develop branch, and  available on 2.3.0 release.

[2018-11-30 09:05] #13685 closed, assigned to kirmorozov

[2018-11-30 09:06] engcom-backlog-nazar commented on #6731
Hi @lsv , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 09:06] #6731 closed, assigned to Rus0

[2018-11-30 09:08] engcom-backlog-nazar commented on #10205
Hi @sazzle2611 , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 09:08] #10205 closed, assigned to engcom-backlog-nickolas

[2018-11-30 09:13] engcom-backlog-nazar commented on #17754
Hi @milossh , thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.1 release.

[2018-11-30 09:13] #17754 closed, assigned to aman3103

[2018-11-30 09:16] ytterdal commented on #17285
I use UnoEuro as webhost and faced same problem.
Their documentation recommended adding following line to the .htaccess file:

AddType application/x-httpd-php-latest .php

After adding this line, i got my installation working.

[2018-11-30 09:46] magento-engcom-team commented on #18508
Hi @larsroettig. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2018-11-30 09:47] larsroettig commented on #18508
I will try fix this today in the evening

[2018-11-30 09:55] dverkade opened #19477 "Compatibility issues between Magento 2.3.0 & Magento Marketplace EQP"
### Preconditions
1. Magento 2.3.0 installed with composer
2. Require Marketplace EQP version 1.0.4 or later

### Steps to reproduce
1. Have a clean installation of Magento 2.3.0.
2. Add the Marketplace EQP requirement to the "require-dev" for "marketplace-eqp" version 1.0.4 or higher. I have included my composer.json file below.
3. Run the command: `composer update`

[code]

### Expected result
1

[2018-11-30 09:55] magento-engcom-team commented on #19477
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-30 09:57] Celoain commented on #9884
Just for anyone coming across this problem, you can create a Plugin:
[code]

Please note that this is not the best solution and just a quick fix.

[2018-11-30 10:07] ashokbhati180 commented on #13594
thanks for support @maximehuran  i Have Resolved the issue

[2018-11-30 10:16] orlangur commented on #19477
Hi @dverkade, you need to use 2.0.0 version of MEQP which looks like should be released pretty soon: https://github.com/magento/marketplace-eqp/pull/99/files

@lenaorobei any idea when 2.0.0 tag will become available?

[2018-11-30 10:17] orlangur commented on #19471
@tuongnv-ub,

This is not a valid environment, please check https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2018-11-30 10:17] #19471 closed, assigned to nobody

[2018-11-30 10:19] ashokbhati180 commented on #18682
Thanks for your help, much appreciated.

[2018-11-30 10:40] bobmats commented on #15828
Have done some further testing magento 2.2.5 CE with FPC on.
The main domain used in installation is fast. time to first byte 100-200 ms
We also have multistore, several other websites/shops.
All of these have time to first byte between 1.2 and 1.5 seconds.

[2018-11-30 11:01] Kumartychons opened #19478 "Issue with Admin menu scroll"
### Preconditions (*)

1.  Magento 2.2.6 community edition , PHP 7.x , My SQL - 5.6
2. No extension installed. No custom module developed

### Steps to reproduce (*)

1. Admin >  system > Import > Import product.
2. After the import process is complete, scroll the menu below.
3.  Click Catalog
4. Product sub menu is not showing in the sub menu. even if the page scroll is up.
5. The sub menu looks

[2018-11-30 11:01] magento-engcom-team commented on #19478
Hi @Kumartychons. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-30 11:01] magento-engcom-team commented on #19478
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-30 11:06] cscd98 opened #19479 "Magento 2.2.6 to 2.3.0 upgrade error - Cannot process definition to array for type enum"
### Preconditions (*)
1. Magento 2.2.6 EE to
2. Magento 2.3.0 EE

### Steps to reproduce (*)
1. bin/magento setup:upgrade

### Expected result (*)
1. Upgrade to complete

### Actual result (*)
1. Error generated:

bin/magento setup:upgrade
[code]

[2018-11-30 11:06] magento-engcom-team commented on #19479
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-11-30 11:09] magento-engcom-team commented on #19479
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-30 11:12] addinm commented on #19417
@larsroettig Yes, the issue still exists.

[2018-11-30 11:17] sskharate commented on #14667
Thanks @dankoz51 your solution have worked for me on 2.2.5 and image loading is much faster.
I had to merge your logic in theme overridden gallery.phtml.

[2018-11-30 11:39] magento-engcom-team commented on #18651
Hi @novikor. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2018-11-30 11:52] 00110000 commented on #19471
@orlangur But a LOT of people do their development work on windows.

This change is not deliberate; it's an error introduced by Magento and their Vagrant-only development ritual.

magento\framework\View\Element\Template\File\Validator.php
[code]

`$realPath` was added in 2.3.0 and does not return the expected slashes.

`$realPath = 'C:\Server\Apache24\htdocs\magento-2.3\vendor\magento\module-theme

[2018-11-30 12:02] orlangur commented on #19471
@00110000,

It means nothing but they do their development wrong and at their own risk. There are a lot of options nowadays, like Docker, Vagrant or other virtualization technics available for Windows.

Windows is not supported, was never supported and always led to some bugs. Patches for Windows compatibility are not acceptable in this repo.

The only thing Magento lacks here is proper environmen

[2018-11-30 12:06] orlangur commented on #19479
[code]

@craigcarnell does not look like you have a vanilla Magento 2 instance :)

I doubt "Cannot process definition to array for type enum" is enough information for investigation, can you provide an isolated case for a clean Magento installation maybe?

[2018-11-30 12:11] vincent-bosche opened #19480 "Windows separator fix on Magento 2.3"
### Preconditions (*)

1. Magento 2.3.0 (fresh installation from composer)
2. Windows only

### Steps to reproduce (*)

1. Open any URL in frontend or backend

### Expected result (*)

1. The correct output

### Actual result (*)

[code]

2. `Magento\Framework\View\Element\Template\File\Validator` `function isPathInDirectories`: Windows uses "\\" as separator, the array "directories" contains entr

[2018-11-30 12:12] magento-engcom-team commented on #19480
Hi @vincent-bosche. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-11-30 12:14] craigcarnell commented on #19479
@orlangur Perhaps the error reporting in Magento logs should be improved?

[2018-11-30 12:16] engcom-backlog-andrii commented on #19478
Hi @Kumartychons. I'm not able to reproduce following steps you described.
Thanks for the report.

[2018-11-30 12:16] #19478 closed, assigned to nobody

[2018-11-30 12:17] magento-engcom-team commented on #19480
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 12:18] engcom-backlog-nazar commented on #19480
HI @vincent-bosche
[code]
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2018-11-30 12:18] #19480 closed, assigned to nobody

[2018-11-30 12:29] 00110000 commented on #19471
Yeah, my bad I forgot PHP was Linux only, you guys are the geniuses who do development RIGHT.

![image](https://user-images.githubusercontent.com/16885744/49289304-4a645e00-f49b-11e8-9361-d2d4bf5d0cb0.png)

These virtualisation "technics" are great for making contributions to Magento's core codebase, but fall short and make development tedious when creating multiple stores using Magento.

These ar

[2018-11-30 12:52] engcom-backlog-andrii commented on #19479
Hi @craigcarnell. I'm not able to reproduce following steps you described.
Thanks for the report.

[2018-11-30 12:52] #19479 closed, assigned to nobody

[2018-11-30 12:54] engcom-backlog-nazar commented on #19471
@tuongnv-ub  @00110000 -> https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/

[2018-11-30 12:56] DanielRuf commented on #19446
https://github.com/magento/magento2/blob/2.3-develop/dev/tools/UpgradeScripts/pre_composer_update_2.3.php#L151

Yes, this seems to be the issue. Was this different before?

[2018-11-30 12:56] LSchonewille commented on #19468
Issue can be closed. It's caused by een certificate issue from an third-party extension. With all the credits to the M2 contributors that have helped me out on this one.

[2018-11-30 12:56] #19468 closed, assigned to nobody

[2018-11-30 12:58] 00110000 commented on #19471
Yeah, I'm working on setting up Magento 2 via WSL right now.

I'm hoping it doesn't have the same permission issues when mounting to a Windows drive as Vagrant and Docker did (e.g. executable permissions in bin/magento)

[2018-11-30 13:01] engcom-backlog-nazar commented on #19468
@LSchonewille ok thanks.

[2018-11-30 13:03] engcom-backlog-nazar commented on #19471
@00110000 i'm know a guy, who works with WSl a long time, and have no issue with it. so this may be a good solution

[2018-11-30 13:09] engcom-backlog-nazar commented on #19463
Hi @textarea i'm not able to reproduce following steps you described. this may be related to you custom modules.

[2018-11-30 13:09] #19463 closed, assigned to nobody

[2018-11-30 13:34] orlangur commented on #19479
@craigcarnell probably yes. Did you post the full log? So, it does not say in which extension the problem occurs?

Did you bother to update all third-party extensions to 2.3.x compatible version or disabled them?

[2018-11-30 13:40] dverkade opened #19481 "Magento 2.3.0: After composer installation sampledata can't be installed from command line"
### Preconditions
1. Magento 2.3.0
2. Install Magento with composer
3. Remove the version number from the composer.json file in the root of the project.

### Steps to reproduce
1. Install Magento with composer using the following command `composer create-project --repository=https://repo.magento.com/ magento/project-community-edition <install-directory-name>`
2. After successful installation and s

[2018-11-30 13:40] magento-engcom-team commented on #19481
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-30 13:41] magento-engcom-team commented on #19481
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-30 13:46] orlangur commented on #19481
@dverkade what is not clear here? :) Such installation is really not a Composer-based but something similar to `git clone`.

[2018-11-30 13:50] dverkade commented on #19481
@orlangur Look at the DevDocs here: https://devdocs.magento.com/guides/v2.3/install-gde/composer.html

It clearly states that you are installing with composer. Then when you install the sample data it says that it's installed with GIT. So totally not clear and sampledata should be able to install when you follow the steps from the DevDocs documentation.

[2018-11-30 13:57] iGerchak opened #19482 "Increase product quantity with disabled Manage Stock when place order is failed"
After failed order, Magento increase product quantity, make reindex for this product and flush cache while in the product Manage Stock in disabled

### Preconditions
1. Magento 2.2.6
2. PayPal Express payment method

### Steps to reproduce
1. In the admin panel set for a product **Manage Stock: No** and **Quantity: 100**
2. Place an order with this product via PayPal, **but with a card that does n

[2018-11-30 13:57] magento-engcom-team commented on #19482
Hi @iGerchak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-30 13:58] magento-engcom-team commented on #19482
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-11-30 14:08] magento-engcom-team commented on #16496
Hi @ssp58bleuciel. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-11-30 14:15] orlangur commented on #19481
@dverkade sorry, you're right, I misread the installation command. `magento/project-community-edition` is a right package for Composer-based installation.

[2018-11-30 14:31] ihor-sviziev commented on #17813
The issue has been fixed in by @omiroshnichenko in 2.3-develop branch and was included to 2.3.0 release.

Related commit(s):
- f0b1e02fb4cd9bc8be17a05469f3d10749d2b423
- 33bda6c97d29ff0d3aa4ceb9acfc575ab085aed3
- ed6995c7dfa5d35d57ec4f4df5a39b45b734b3bf

[2018-11-30 14:31] wd7080 opened #19483 "Magento 2.2.6 update to Magento 2.3 Failed"
<b>Preconditions</b>
Magento 2.2.6
Current PHP Version: PHP 7.1.22
<b>Steps to reproduce</b>
1. Go to System > Web Setup Wizard
2. Click on system upgrades
3. Start the update process.

The update process will stop at step 2 with the below error message:
Check Component Dependency
We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with

[2018-11-30 14:31] magento-engcom-team commented on #19483
Hi @wd7080. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-30 14:34] engcom-backlog-nazar commented on #19483
Hi @wd7080  please look -> https://github.com/magento/magento2/issues/19446

[2018-11-30 14:34] #19483 closed, assigned to nobody

[2018-11-30 14:35] wescey commented on #17813
@ihor-sviziev but the 2.3.0 release is only for Commerce edition right?

[2018-11-30 14:36] MartinAarts commented on #17813
No, 2.3 is for both Commerce and Open Source.

[2018-11-30 14:38] engcom-backlog-andrii commented on #19481
Hi @dverkade. Thanks for the report.  I'm not able to reproduce following steps you described. Please see attachment of screen:
![composer-sd](https://user-images.githubusercontent.com/41946904/49295374-4e55a780-f4be-11e8-8235-3aecb43a8843.png)

[2018-11-30 14:39] wescey commented on #17813
@MartinAarts where do you find that information?

[2018-11-30 14:40] ihor-sviziev commented on #17813
@wescey
https://devdocs.magento.com/guides/v2.3/release-notes/bk-release-notes.html
https://github.com/magento/magento2/releases

[2018-11-30 14:46] wescey commented on #17813
Cool, but i can't find any issues related to this in the release notes.. Can you guys point it out where it is stated?

[2018-11-30 14:49] ihor-sviziev commented on #17813
Hi,
Release notes showing high level changes, there are a lot not listed
improvements 😉

On Fri, Nov 30, 2018 at 16:46 wescey <notifications@github.com> wrote:

[2018-11-30 14:53] chakravarthykalyan90 commented on #16580
We upgraded from 2.2.4 to 2.2.7 this change is not there. Still same old issue we are facing.

[2018-11-30 14:58] wd7080 opened #19484 "I cannot run the developer mode command line"
<b>Summary of the issue</b>
I cannot run the developer mode after I've done the steps below to upgrade to Magento 2.3. The upgrade process ended up with: Service Temporarily Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

<b>Preconditions</b>
1. Magento 2.2.6
2. Current PHP Version: PHP 7.1.22

<b>Steps

[2018-11-30 14:58] magento-engcom-team commented on #19484
Hi @wd7080. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-11-30 14:59] craigcarnell commented on #19479
@orlangur

This is what i've debugged so far:

[code]

[2018-11-30 15:02] magento-engcom-team commented on #19477
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-30 15:03] orlangur commented on #13685
@engcom-backlog-nazar are you sure? https://github.com/magento/magento2/blob/2.3-develop/lib/web/jquery.js#L2

[2018-11-30 15:04] magento-engcom-team commented on #19477
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96814` were created

[2018-11-30 15:05] chakravarthykalyan90 commented on #10661
We are facing similar issue in 2.2.7. Gif image transparent background is changed to black.

[2018-11-30 15:08] orlangur commented on #19479
@craigcarnell cannot look into the code at the moment.

As this is a definition aggregator, you need to find out which particular definition is causing trouble. Each definition comes from a concrete extension.

[2018-11-30 15:09] magento-engcom-team commented on #19484
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-11-30 15:12] lenaorobei commented on #19477
@dverkade we are preparing new MEQP `2.0.0` release now and updating our internal tools. At the beginning of next week all should be done. It will fix your issue.

[2018-11-30 15:13] craigcarnell commented on #19479
@orlangur I've now disabled all our own custom modules and all those we have supplied by external companies in config.php. Cleared cache. Same issue.

[2018-11-30 15:15] engcom-backlog-nazar commented on #13685
@orlangur hmm.., but this comment -> https://github.com/magento/magento2/issues/13685#issuecomment-373909529

[2018-11-30 15:28] craigcarnell commented on #19479
https://github.com/bazaarvoice/magento2-extension/issues/45

[2018-11-30 15:31] 00110000 commented on #19471
@engcom-backlog-nazar WSL is great! None of the limitations we experienced with vagrant and docker are here.

[2018-11-30 15:39] vbuck commented on #19469
@engcom-backlog-nazar Understood. Admittedly this issue may be a bit misdirected. However, my reason for starting a discussion in the Open Source forums was two-fold:

- I found origin of this issue in the 2.3-develop branch, so it affects Open Source
- I thought there might be better traction here from the community

That said, you may keep this issue closed and I will forward to the partner port

[2018-11-30 15:40] magento-engcom-team commented on #19344
Hi @ansari-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19431 by @ansari-krish in 2.2-develop branch
Related commit(s):
 - [eed84854506e46f96a866a1a396d2737b0488cd1](https://github.com/magento/magento2/commit/eed84854506e46f96a866a1a396d2737b0488cd1)
 - [99dbb540300e888d2e04d46ec17e23edb00fa619](https://github.com/magento/magento2/commit/99dbb540300e888d2e04d46ec1

[2018-11-30 15:40] #19344 closed, assigned to ansari-krish

[2018-11-30 15:40] magento-engcom-team commented on #19127
Hi @terrybakshi. Thank you for your report.
The issue has been fixed in magento/magento2#19239 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [ebe4af7f2b210b33cba727b10f6321746a071956](https://github.com/magento/magento2/commit/ebe4af7f2b210b33cba727b10f6321746a071956)

The fix will be available with the upcoming 2.2.8 release.

[2018-11-30 15:40] magento-engcom-team commented on #18918
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#18922 by @suryakant-krish in 2.2-develop branch
Related commit(s):
 - [9fbf41a5738af980a26c0bec43c8b1f4a2c60ed4](https://github.com/magento/magento2/commit/9fbf41a5738af980a26c0bec43c8b1f4a2c60ed4)
 - [fd9a4234ca7cbb5d8c00898c936686dd2deadd7a](https://github.com/magento/magento2/commit/fd9a4234ca7cbb5d8c00

[2018-11-30 15:49] gwharton opened #19485 "DHL Shipping Quotes fail for Domestic Shipments when Content Mode is "Non Documents""
### Preconditions (*)
1. Magento 2.2-develop or 2.3-develop

### Steps to reproduce (*)
1. Setup DHL module to obtain quotes via XML
2. Setup store as ship from address SW1 1AA, GB
3. Set DHL Content Type to Non Documents
4. Attempt to obtain shipping quote for destination SW1 1AA, GB

### Expected result (*)
1. A quote is obtained

### Actual result (*)
1. No quote is obtained.

Investigation sho

[2018-11-30 15:49] magento-engcom-team commented on #19485
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-11-30 17:26] jurpro opened #19486 "Magento 2.3 Unable to Open Admin Panel for Design Configuration to Upload Logo"
After upgrade from Magento 2.2.7 to Magento 2.3.0, I unable open Global Design Configuration.
### Preconditions (*)
I was upgraded my site from Magento Community Edition 2.2.7 to 2.3.0. It was succesfull and fine. But unfortunately, cannot open Global Design Configuration.

### Steps to reproduce (*)
1. Open Admin Panel.
2. Chose "Content"
3. Chose "Design" ==> "Configuration"
4. After Design Conf

[2018-11-30 17:29] importwholesales commented on #19440
SQLSTATE[42000]: Syntax error or access violation: 1061 Duplicate key name 'AMAZON_QUOTE_QUOTE_ID', query was: ALTER TABLE `amazon_quote` ADD CONSTRAINT `AMAZON_QUOTE_QUOTE_ID` UNIQUE K                                  EY (`quote_id`)

SQLSTATE[42000]: Syntax error or access violation: 1061 Duplicate key name 'AMAZON_SALES_ORDER_ORDER_ID', query was: ALTER TABLE `amazon_sales_order` ADD CONSTRAINT

[2018-11-30 17:30] weblips commented on #13139
Same Issue for en_AU (2.2.5)

[2018-11-30 17:36] misha-kotov commented on #18451
We will look to add support for these column types in the future

[2018-11-30 17:36] #18451 closed, assigned to nobody

[2018-11-30 17:55] DrewML commented on #19291
Thanks for the report @rbayet! I have to assume the missing BC path in `2.3.0` was a mistake. Would be happy to accept a PR from you or @romainruaud with the fix.

[2018-11-30 19:39] dan-ding commented on #9032
as @devendra1991 points out -- if you can't set the rule status to "active", then the admin UI has a problem and the rule isn't applying because it's *not* active by default.

why the rule status option is hidden ... ?

[2018-11-30 21:31] gwharton commented on #19485
PR #19487 @ PR #19488 fixes ready.

[2018-12-01 00:13] Magentococo commented on #5247
I am on Magento 2.3. I have the same issue. @tlc033 fix does not work for me. Did a genius managed to fix that? A step by step would be much appreciated!

[2018-12-01 01:02] 3615helloworld opened #19491 "Magento 2.3. | Can't Access Web Setup Wizard | Welcome to Magento Admin, your online store headquarters. To use the Magento setup wizard sign into your Admin account and navigate to System => Tools => Web Setup Wizard"
## Preconditions
Magento 2.3

## Steps to reproduce

1. Try to access Web Setup Wizard

## Expected result
Access to Web Setup Wizard

## Actual result
1. `?app=setup`  Response 302
2. `setup`            Response 301
3. `setup/`           Response 302
4. `setup/index.php/session/unlogin`     Response 401

Welcome to Magento Admin, your online store headquarters. To use the Magento setup wizard sig

[2018-12-01 01:03] magento-engcom-team commented on #19491
Hi @3615helloworld. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-01 02:35] gfxguru commented on #19480
I've run Magento on Windows servers for years without any issues. The fix for me was replacing
$realPath = $this->fileDriver->getRealPath($path);
with
$realPath = str_replace('\\', '/', $this->fileDriver->getRealPath($path));

[2018-12-01 06:03] SyntaxKay opened #19492 "Catalog Product - Customizable Options label alignment issue"
### Preconditions (*)

1.Magento 2.3-develop

### Steps to reproduce (*)

1.Open Catalog > Product >  Customizable Options from backend
2.Add option > label alignment

### Expected result (*)

![expected](https://user-images.githubusercontent.com/33230237/49324840-2ddc2a80-f55c-11e8-8a07-0c6106f6f5b2.png)

### Actual result (*)

![actual_result](https://user-images.githubusercontent.com/33230237/4

[2018-12-01 06:03] magento-engcom-team commented on #19492
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-01 06:42] devqualwebs opened #19494 "Tax Calculation is going wrong after applying coupon code in magento 2?"
### Preconditions (*)

1. Installed Magento v 2.1.7

### Steps to reproduce (*)

1. Created a Tax Class and Tax rule and applied it for a single country.
2. Selected this Tax Class in all products.
3. Put product price incl. tax for all products, and selected "Including Tax" in Configuration > Tax > Calculation Settings > Catalog Prices, and "Excluding Tax" in Configuration > Tax > Calculation Set

[2018-12-01 06:42] magento-engcom-team commented on #19494
Hi @devqualwebs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-01 06:45] devqualwebs commented on #19494
**Yes I'm able to reproduce the issue.**

[2018-12-01 06:53] orlangur commented on #19494
@devqualwebs,

Note that it is too late to report 2.1.x issues.

[2018-12-01 07:06] ghost opened #19497 "Address update issue when using VAT id and automatic assignment to customer group."
### Preconditions (*)

1. Magento CE 2.3.0
2. PHP 7.2.12

### Steps to reproduce (*)

**Change Magento settings:**

1. Change Magento settings:
2. Customers > Customer Configuration > Create New Account Options
3. Enable Automatic Assignment to Customer Group > yes
4. Tax Calculation Based On > Billing Address
5. Default Group > General
6. Group for Valid VAT ID - Domestic > Wholesale
7. Group for

[2018-12-01 07:07] magento-engcom-team commented on #19497
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-01 07:18] maheshWebkul721 commented on #19486
@magento-engcom-team give me 2.3.0 instance

[2018-12-01 07:18] magento-engcom-team commented on #19486
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-01 07:18] magento-engcom-team commented on #19486
Hi @maheshWebkul721, here is your [Magento instance](https://i-19486-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19486-2-3-0.instances.magento-community.engineering/admin](https://i-19486-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-01 07:40] infowind opened #19498 "unable to update products after adding another store"
### Summary (*)

I am getting issue while updating products in magento2.2.5 after adding store 2 admin behavior is unexpected. I am getting error while updating previously added products.
### Examples (*)

### Proposed solution

[2018-12-01 07:40] magento-engcom-team commented on #19498
Hi @infowind. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-01 07:43] abrarpathan19 opened #19499 "Catalog bundle product Bundle Items quantity textbox width"
### Description (*)

Catalog bundle product Bundle Items quantity textbox width set
Currently, quantity textbox width is very large it should be small as per other quantity boxes.
Please review link : http://prntscr.com/lp9jpw

### Expected behavior (*)

Quantity textbox width should be small as per other quantity boxes.
http://prntscr.com/lp9kdz

### Benefits

Quantity textbox width should be sma

[2018-12-01 07:43] magento-engcom-team commented on #19499
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-01 07:59] speedy008 commented on #19499
Hi @abrarpathan19
I have Reproduced issue.

[2018-12-01 10:32] drdreamm commented on #19446
Is there a solution to this issue ?  I have the same issue upgrading from CE 2.2.4

[2018-12-01 10:45] DanielRuf commented on #19446
@drdreamm it was already mentioned, see https://github.com/magento/magento2/issues/19446#issuecomment-443134140

[2018-12-01 10:54] abrarpathan19 opened #19501 "Sales order Bundle product item alignment issue"
### Preconditions (*)

1. Magento 2.3 - Develop

### Steps to reproduce (*)

1. Admin -> Sales -> Order -> Create New Order
2. Select Customer -> Add Product
3. Choose Bundle Product -> Configure

### Expected result (*)

1. https://prnt.sc/lpavw8

### Actual result (*)

1. https://prnt.sc/lpaxe9

[2018-12-01 10:54] magento-engcom-team commented on #19501
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-01 10:56] Dharmeshvaja91 commented on #18794
@magento-engcom-team  can i submit my solution on this issue??

[2018-12-01 12:22] amanuni opened #19506 "Multiselect attribute is not saving with plus(+) in value"
### Preconditions (*)

1. Magento 2.2.6
2. MariaDB 10.2.19-MariaDB - MariaDB Server
3. Linux

### Steps to reproduce (*)

1. Add a multi-select attribute for product from Store->Attribute->Product->Add New Attribute
2. Add a option value with plus symbol e.g. (+300)

### Expected result (*)

1. Expected option value will save with plus symbol e.g. (+300) but it saved as ( 300)

### Actual result (

[2018-12-01 12:39] amanuni commented on #19506
@magento-engcom-team issue is confirmed i have tested on provided on above instance and it same its not saving + symbol in value. I have tested by creating a attribute name "Test Multiselect" and added two option value one is "-100" and another is "+200" first value saved correctly and and displaying "-100" after save however 2nd value "+200" is displaying "200" after save.

[2018-12-01 12:46] SyntaxKay opened #19507 "Frontend Minicart dropdown alignment issue"
### Preconditions (*)

1.Magento 2.3-develop

### Steps to reproduce (*)

1.Open Minicart Dropdown in frontend

### Expected result (*)

![expected](https://user-images.githubusercontent.com/33230237/49328328-bbd40780-f594-11e8-9a26-03a809604ad5.png)

### Actual result (*)

![actual](https://user-images.githubusercontent.com/33230237/49328331-c4c4d900-f594-11e8-86ac-04de61d37cff.png)

[2018-12-01 12:46] magento-engcom-team commented on #19507
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-01 13:04] magento-engcom-team commented on #16852
Hi @otsmyh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2018-12-01 13:14] abrarpathan19 opened #19509 "Catalog bundle product Bundle Items inconsistent box border"
### Preconditions (*)

1. Magento 2.3 Develop

### Steps to reproduce (*)

1. Admin -> Catalog -> Product -> add/edit (Bundle product)
2. Bundle Items -> add options -> adding product
3. Collapsible title box border top  inconsistent

### Expected result (*)

1. Collapsible title box border should be equal width from all side.
2. Please find attached review : http://prntscr.com/lpcb1f

### Actual

[2018-12-01 13:15] magento-engcom-team commented on #19509
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-01 13:17] jurpro commented on #19486
what do you mean? why this is closed without answer? I cannot open the Global Design Configuration to upload logo etc and then you closed this issue? what....

[2018-12-01 13:46] dmytro-ch commented on #19465
I've briefly checked the changes.

Here is the commits history for the `app/code/Magento/Catalog/view/adminhtml/web/js/options.js` file.
https://github.com/magento/magento2/commits/2.3-develop/app/code/Magento/Catalog/view/adminhtml/web/js/options.js

Most likely, the issue has been fixed in the scope of the `MAGETWO-94819` and `MAGETWO-94962` internal tickets. There are a lot of changes done to m

[2018-12-01 13:46] dmitry-fedyuk commented on #11176
My fix for Magento < 2.3: https://mage2.pro/t/5753/3

[2018-12-01 14:01] maheshWebkul721 commented on #19486
@jurpo i am reopening this issue, please check the same issue in 2.3-develop instance.  You can ask @magento-engcom-team to provide you the Magento 2.3 instance.

[2018-12-01 14:31] jurpro commented on #19486
it seems theme bug. I will tell to my dev theme. Thanks

[2018-12-01 15:07] maheshWebkul721 commented on #19486
@jurpro Thanks to cross check it. I am closing this issue now.

[2018-12-01 15:07] #19486 closed, assigned to mahesh-rajawat

[2018-12-01 15:31] ghost opened #19512 "Can't edit account admin in backend Magento 2.2.6 and 2.2.7"
### Preconditions (*)

1. Bug on Magento 2.2.6 and 2.2.7

### Steps to reproduce (*)

1. Go to admin Magento -> SYSTEM -> All Users -> Click to edit any account -> Bug

### Expected result (*)

1. Screenshots: https://prnt.sc/lpdmxw

### Actual result (*)

1. Screenshots: https://prnt.sc/lpdlt6

[2018-12-01 15:31] magento-engcom-team commented on #19512
Hi @tuanhy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-12-01 15:45] VaporFan commented on #3650
composer update
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for magento/product-community-edition 2.3.0 -> satisfiable by magento/product-community-edition[2.3.0].
    - magento/product-community-edition 2.3.0 requires magento/m

[2018-12-01 16:13] rshadab25 opened #19513 "On Cart page module-shipping throwing error"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.Added Bundle product in cart
2.And go to the cart page

### Expected result (*)

2.Should open cart page

### Actual result (*)

1. Showing error
2.Exception #0 (Exception): Warning: array_keys() expects parameter 1 to be array, null given in /var/www/html/devproject/vendor/magento/module-shipping/Model/Config.php on line 68

[2018-12-01 16:13] magento-engcom-team commented on #19513
Hi @rshadab25. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-01 19:11] tuanhy commented on #19512
Hi guys,

I have accessed and saw it works normally. Maybe the problem only met on my
local. I will recheck on local.

Thanks.

Vào CN, 2 thg 12, 2018 vào lúc 00:25 Magento Community Engineering <
notifications@github.com> đã viết:

--

*Best Regards*

*Bui Van Tuan*

*Mobile: 0975.321.852 - **Skype: tuanhy2488*

[2018-12-01 20:10] magento-engcom-team commented on #19506
Hi @omaxmo. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid d

[2018-12-01 20:13] omaxmo commented on #19506
@magento-engcom-team give me 2.3-develop instance

[2018-12-01 20:13] magento-engcom-team commented on #19506
Hi @omaxmo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-01 20:14] magento-engcom-team commented on #19506
Hi @omaxmo, here is your [Magento instance](https://i-19506-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19506-2-3-develop.instances.magento-community.engineering/admin](https://i-19506-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-01 20:32] #19512 closed, assigned to nobody

[2018-12-01 20:36] justinharris1986 opened #19515 "Create new order from backend saves the credit card when it is told not to"
### Preconditions
1. Magento 2.2.6
2. PHP 7.1.24
3. Apache 2.4.6-80.el7.centos.1
4. Paypal Payflow Pro

### Steps to reproduce
1. Stores -> Configuration, Sales -> Payment Methods
2. Configure an account - Most notibly Partner, User, Vendor, Password must all be configured.  Enable this solution, Enable paypal credit, and vault enabled must all be set to yes. For testing purposes, Test mode must b

[2018-12-01 20:36] magento-engcom-team commented on #19515
Hi @justinharris1986. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-12-01 20:38] omaxmo commented on #19506
issue is not reproducible on 2.2.7
issue is not reproducible on 2.3

[2018-12-01 20:38] justinharris1986 commented on #19515
@magento-engcom-team give me 2.2.6 instance

[2018-12-01 20:38] magento-engcom-team commented on #19515
Hi @justinharris1986. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2018-12-01 20:38] magento-engcom-team commented on #19515
Hi @justinharris1986, here is your [Magento instance](https://i-19515-2-2-6.instances.magento-community.engineering).
Admin access: [https://i-19515-2-2-6.instances.magento-community.engineering/admin](https://i-19515-2-2-6.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-01 20:44] amanuni commented on #19506
@omaxmo thank you it would be great if i am able to know which files are updated for fixing this issue.

[2018-12-01 21:11] justinharris1986 commented on #19515
Confirmed in vanilla install - I forgot to mention:
- you have to have a product to add to the order first!
- Merchant Country must be set when setting up Payflow Pro (I set to United States)
- I created a new user from the front end. I could not get the password reset email when i created the user from the back end. I dont think there is any difference though.
- I removed my test credentials from

[2018-12-01 21:56] omaxmo commented on #19506
#18263 #18493 https://github.com/magento/magento2/pull/18293#issuecomment-425209668

[2018-12-01 21:57] #19506 closed, assigned to omaxmo

[2018-12-01 22:03] giuseppemorelli opened #19516 "Magento 2.3.0 cannot install with "short" secret key (at first time)"
### Preconditions (*)
1. Magento 2.3.0 - download via composer, no installation made
2. Environment:
- OS: debian 9
- PHP 7.2
- Apache2
- MySQL 5.7

### Steps to reproduce (*)
1. After download magento 2.3.0 via composer open browser to get setup wizard page
2. When asked in setup wizard insert a custom secret key with at least 10 chars (ex. mykeytest)

![image](https://user-images.githubuserconte

[2018-12-01 22:03] magento-engcom-team commented on #19516
Hi @giuseppemorelli. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-12-01 22:10] giuseppemorelli commented on #19516
Hi @magento-engcom-team ,
I think all the informations are ok.

The issue is on installation, so is not necessary to deploy a new vanilla instance.

[2018-12-02 03:00] 3615helloworld commented on #19491
@happydownload33 Thanks for your help! Unfortunately it is on files

[2018-12-02 03:33] 3615helloworld commented on #19491
Ok you can close the issue. I fixed it. Solution for me was:
Solution for me was:
Base URLs (Secure)
-> Use Secure URLs on Storefront -> Yes
-> Use Secure URLs in Admin -> Yes
-> Enable HTTP Strict Transport Security (HSTS) -> Yes
-> Upgrade Insecure Requests -> Yes
php bin/magento cache:clean + **php bin/magento cache:flush**. If you do not do both or setup:upgrade instead, it will not work. Also

[2018-12-02 07:51] maheshWebkul721 commented on #19513
@rshadab25 please specify the Magento version.

[2018-12-02 09:56] rshadab25 commented on #19513
*Magento 2.2.6*

Thanks& Regards
Shadab Reza

On Sun, Dec 2, 2018 at 1:22 PM Mahesh Singh <notifications@github.com>
wrote:

[2018-12-02 14:05] salehawal commented on #17856
i think we know what is the real cause behind this bug, our data entry found out that whenever they press the update link more than once, it creates a new request and affect the entire products records rather than the selected ones

the solution would be somehow blocking this scenario of happening

https://drive.google.com/file/d/1IcscMjAMQRVnxTE4S99wJpSO6axIxQSU/view

[2018-12-02 15:05] gwharton opened #19518 "Enabling "Merge Javascript Files" and "JS Bundling" increases size of page by 2-3 times."
### Preconditions (*)
1. Magento 2.2-develop or Magento 2.3-develop

### Steps to reproduce (*)
1. deploy vanilla instance
2. change to production mode
3. Use Web page analysis tool to give you size of web page
4. Enable Minify Javascript Files - php -f bin/magento config:set dev/js/minify_files 1
5. Use Web page analysis tool to give you size of web page
6. Enable JS Bundling - php -f bin/magento

[2018-12-02 15:05] magento-engcom-team commented on #19518
Hi @gwharton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-02 15:45] GoogleYY opened #19519 "Bug of adding image slider to recently viewed products"
### Preconditions

1.Deploy vanilla instance
2. Win 7 / CentOS Linux release 7.4.1708
3. PHP Version 7.0.28
4.Magento ver. 2.2.6
5.Luma blank theme without sample data

### Steps to reproduce

1. Go to Admin backend->Content->Widgets->Add Widget. Select Catalog Product View(Any) under the Page label, select Main Content Area under the Container label, select Viewed Products Grid Template under the

[2018-12-02 15:45] magento-engcom-team commented on #19519
Hi @GoogleYY. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-02 17:02] GoogleYY commented on #19519
Yes ,I confirm that I was able to reproduce the issue on vanilla Magento instance following steps to reproduce

[2018-12-02 17:15] maheshWebkul721 commented on #19513
@rshadab25 i have checked on 2.2-develop instance issue not reproducible. please check it.

[2018-12-02 17:15] magento-engcom-team commented on #19513
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2018-12-02 18:50] maheshWebkul721 commented on #13181
@densen45 this issue has been fixed with the PRs #19437 and #19260 .

[2018-12-02 21:12] gwharton commented on #14357
Adding this to the exclude list in view.xml gets rid of moment-timezone-with-data.min.js

<item type="file">Lib::moment-timezone-with-data.js</item>

but I cant get rid of zxcvbn.min.js even though it is listed to be excluded.

[2018-12-02 22:17] elioermini commented on #7488
@magento-engcom-team could you please check the status of MAGETWO-84526 ? Thanks

[2018-12-03 04:51] shyam100379 commented on #14750
Is there any patch available for us to use in older versions? Please get back.

[2018-12-03 05:18] ankurverma5540 opened #19520 "Order Notification not sending to Admin in Multistores"
### Preconditions (*)

1. Crate Two Store views and Stores
2. Place an order from any stores. user will get order notification email but admin will not get any email

### Steps to reproduce (*)

1. Crate Two Store views and Stores
2.Place an order from any stores. user will get order notification email but admin will get any email

### Expected result (*)

1. We an order is placed, user and admin

[2018-12-03 05:18] magento-engcom-team commented on #19520
Hi @ankurverma5540. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-03 05:19] ankurverma5540 commented on #19520
yes

[2018-12-03 05:59] #13181 closed, assigned to mahesh-rajawat

[2018-12-03 06:01] vtransy commented on #14818
You get headers already sent by message because you are printing something before rendering page.
https://magento.stackexchange.com/questions/161804/magento-2-headers-already-sent-error-in-my-controller?answertab=active#tab-top

[2018-12-03 07:10] ankurverma5540 opened #19521 "UPS Issue with shipping label and signature required option"
### Preconditions (*)

1. Place an order using ups shipping method.
2. Open Order in backed. Click on ship.  Under Shipping Option check create shipping Label. Now Click on Submit Shipment.
3. Choose products, Choose type Customer Packaging, enter weight, length, width and height. Signature should be required. Click on add products to package.
4. Now Click on Save.
5. It will not save and error is

[2018-12-03 07:10] magento-engcom-team commented on #19521
Hi @ankurverma5540. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-03 07:11] abcpremium commented on #19446
So remove the vendor directory and using `composer install` & `composer update` should work? I'll test that one out as soon as possible.

[2018-12-03 07:11] magento-engcom-team commented on #19520
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-03 07:13] ankurverma5540 commented on #19521
Yes

[2018-12-03 07:25] #19491 closed, assigned to Nazar65

[2018-12-03 07:39] magento-engcom-team commented on #19498
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-12-03 07:45] Nazar65 commented on #19498
Hi @infowind i'm not able to reproduce following steps you described, on clean magento 2.2.6 instance.The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site.

[2018-12-03 07:45] #19498 closed, assigned to Nazar65

[2018-12-03 07:47] magento-engcom-team commented on #19521
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-03 07:48] magento-engcom-team commented on #19521
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96854`, `MAGETWO-96855` were created

[2018-12-03 07:56] Nazar65 commented on #19513
Hi @rshadab25 it looks like you have removed all carriers, so this may be related to your custom modules, this is not possible in clean 2.2-develop instance. look ->
![selection_007](https://user-images.githubusercontent.com/2481206/49360390-b20bea80-f6e1-11e8-8a4d-274b9447f1d4.png)

[2018-12-03 07:56] #19513 closed, assigned to mahesh-rajawat

[2018-12-03 07:57] magento-engcom-team commented on #19497
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-03 08:03] altafhussain10 commented on #19494
@devqualwebs this is a known issue in magento 2.1.x and and until 2.2.6 and I am not sure about version after that. I was facing this issue for a very long time and was not sure why it is happening.
After some more research and digging into quote tables and tax calculations, I found two reasons for this issue. Both issues are coming from `\Magento\Tax\Model\Calculation\UnitBaseCalculator` in the m

[2018-12-03 08:15] shubhjay opened #19522 "i want to create a dynamic meta tag in megento 2 for all pages like meta keyword or description"
### Summary (*)

### Examples (*)

### Proposed solution

[2018-12-03 08:15] magento-engcom-team commented on #19522
Hi @shubhjay. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-03 08:34] engcom-backlog-andrii commented on #19522
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-03 08:34] #19522 closed, assigned to nobody

[2018-12-03 08:37] orlangur commented on #19471
@engcom-backlog-nazar would be great to have such setup described somewhere in DevDocs for Windows guys. It would be much more friendly than just pointing to system requirements: https://github.com/magento/magento2/blob/2.3-develop/app/bootstrap.php#L17

[2018-12-03 08:41] magento-engcom-team commented on #19509
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-03 08:54] engcom-backlog-andrii commented on #19432
Please look -> #19497

[2018-12-03 08:58] gwharton commented on #19520
Looks like a duplicate of #16203

[2018-12-03 08:59] magento-engcom-team commented on #19497
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96856`, `MAGETWO-96857` were created

[2018-12-03 09:11] sergei-sss commented on #13440
Note: this bug didn't fix in 2.3.0.

[2018-12-03 09:19] ankurverma5540 commented on #19520
There is no solution in that thread

[2018-12-03 09:21] jignesh26 commented on #19521
@ankurverma5540 Can you able to post the developer UPS account details her token id and all the required details?

[2018-12-03 09:27] #19520 closed, assigned to nobody

[2018-12-03 09:31] ankurverma5540 commented on #19520
according to this commit
[9a7c9e5#diff-dfb3ee5a7f863458afea75f5524cd2e5](https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5#diff-dfb3ee5a7f863458afea75f5524cd2e5)

Change in app/code/Magento/Newsletter/Test/Unit/Model/Queue/TransportBuilderTest.php
Magento/Framework/Mail/Template/TransportBuilder.php
and in this  file
Magento/Framework/Mail/Test/Unit/Template/Trans

[2018-12-03 09:44] gwharton commented on #19520
Those paths are for github installs, for composer installs the paths would be

/vendor/magento/newsletter/Test/Unit/Model/Queue/TransportBuilderTest.php
/vendor/magento/framework/Mail/Template/TransportBuilder.php
/vendor/magento/framework/Mail/Test/Unit/Template/TransportBuilderTest.php

[2018-12-03 09:56] wescey commented on #17813
It's more interesting @ihor-sviziev  that the release notes for Open Source & Commerce edition are exactly the same..

[2018-12-03 10:07] taqvi commented on #17285
Same issue with php 7.0.2 and Magento 2.3.0

[2018-12-03 10:12] DanielRuf commented on #17285
Please try upgrading PHP.

[2018-12-03 10:14] stefanfr commented on #6120
Issue still in 2.3 release
`{
    "message": "Error occurred during \"custom_attributes\" processing. Attribute \"ec_label\" has invalid value. The \"array\" value's type is invalid. The \"string\" type was expected. Verify and try again.",
    "trace": null
}`

[2018-12-03 10:16] taqvi commented on #17285
Hi DanielRuf, Can you share link to download? I have spent a pretty good time in searching 7.1.3

[2018-12-03 10:32] abcpremium commented on #19446
Apparently this didn't work either for me. Even removing the composer.lock file from the Magento root directory and doing a fresh `composer install` with `magento/product-community-edition 2.3.0` required in composer.json didn't work. The console output is the same as in my issue description.

[2018-12-03 11:02] ghost opened #19523 "In product listing page there are more white space in right side instead of product."
### Preconditions (*)

1. Magento 2.3-develop
2.

### Steps to reproduce (*)

1. In product listing page there are more space at right side.
2. There would be 4 products instead of 3 products per row. also same issue in other responsive screen. Tablet would be 3 and moblile would be 2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs

[2018-12-03 11:03] magento-engcom-team commented on #19523
Hi @emiprotech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-03 11:03] magento-engcom-team commented on #19523
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-12-03 11:06] magento-engcom-team commented on #19523
Hi @nimitaemipro. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2018-12-03 11:06] Nazar65 commented on #19523
Hi @emiprotech this is duplicate to this -> https://github.com/magento/magento2/issues/19312

[2018-12-03 11:06] #19523 closed, assigned to Nazar65, nimitaemipro

[2018-12-03 11:07] Nazar65 commented on #19523
@emiprotech https://github.com/magento/magento2/pull/19335

[2018-12-03 11:19] orlangur commented on #19518
@gwharton yeah. As far as I remember it collects all JS files added to `<head>` via layout.

Are you opening a home page or which one bu the way?

[2018-12-03 11:22] orlangur commented on #19518
@gwharton also, please check https://devdocs.magento.com/guides/v2.2/performance-best-practices/configuration.html#bundling-tips. It is not recommended to use merging.

[2018-12-03 11:34] ankurverma5540 commented on #19520
If i made changes to
/vendor/magento/newsletter/Test/Unit/Model/Queue/TransportBuilderTest.php
then, email not coming to admin but also admin login is working.

[2018-12-03 11:39] kamal2717 commented on #6483
Its working for me when i choosed to 2nd option, KUDOS!

[2018-12-03 11:44] gwharton commented on #19518
Yeah, I've turned off bundling for now.

On my production store, with many addons/modules, without bundling a load of the home page has 220 requests at about 1.5MB in size or 38 requests at 6MB in size with bundling.

I do support HTTP/2.0 so 220 requests isn't worrying me too much, but does feel a little excessive for a single webpage. I can't stomach 6MB per page as alot of my visitors are mobil

[2018-12-03 12:07] magento-engcom-team commented on #19499
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-03 12:08] magento-engcom-team commented on #19499
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96863`, `MAGETWO-96864` were created

[2018-12-03 12:18] orlangur commented on #19518
@gwharton,

It was announced during MageConf month ago that JS team is currently working on determining such set and splitting everything else into few bundles (like "catalog", "checkout" and so on).

So, for now I would recommend using whatever out-of-the-box option works better for your site and do not invest efforts into investigation which duplicates core team work.

Assume this issue can be c

[2018-12-03 12:20] DanielRuf commented on #17285
Download for what? It depends on your hosting provider how you can upgrade PHP.

[2018-12-03 12:21] DanielRuf commented on #17285
PHP 7.1.24 is the latest 7.1.x release.

[2018-12-03 12:22] engcom-backlog-andrii commented on #19484
Hi @wd7080. Thanks for the report. Please look -> #15441

[2018-12-03 12:22] #19484 closed, assigned to nobody

[2018-12-03 12:30] gwharton commented on #19518
Thats great news that this is being considered and worked on elsewhere. I will eagerly await any updates.

[2018-12-03 12:30] #19518 closed, assigned to nobody

[2018-12-03 12:31] fritzmg commented on #8933
Same problem here too. While we also run custom import scripts, the error occurs with the `cron_schedule` table. And that's what I don't understand: why would this table get into a deadlock?

[2018-12-03 12:39] magento-engcom-team commented on #19501
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-03 12:48] bobmats commented on #15828
What I found so far is only the domain used during installation gets the PHPSESSID cookie set.
All other domains within this installation get the X-Magento-Vary which causes an extra delay between 1.2 and 1.5 seconds.

So far I have been unable to find a fix for this, if there is any fix. I read som e links in this thread but as far as I understand this is for a new installation ? and only in mage

[2018-12-03 12:52] carylewis commented on #15828
The fix has to do with the store id not being set correctly, and therefore magento can’t use the cache.

[2018-12-03 12:54] Gagan557 opened #19525 "Checkout page not work after add CCAvenue Payment Gateway"
Checkout page not work after add CCAvenue Payment Gateway in Magento 2.25
show error in checkout page -
![screenshot 14](https://user-images.githubusercontent.com/35591297/49374874-b0b1e080-f728-11e8-8a3b-a149a4b65959.png)

[2018-12-03 12:55] magento-engcom-team commented on #19525
Hi @Gagan557. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-12-03 12:59] GoogleYY commented on #19519
Resolved by my self. I add the override codes to the required-js in my custom theme. Everything works well.

[2018-12-03 12:59] bobmats commented on #15828
Ok, question still remains how this can be fixed. Know you were on EE I am on CE. Have not been able to find something.

[2018-12-03 13:12] GoogleYY commented on #19519
After a deep review to the core code of magento 2.2.6, I found that it was not a bug. Please neglect this issue. The reason why I didn't delete this post was that I found there were some threads alike also posted at stackoverflow , I hope this could help the people those needed.

[2018-12-03 13:12] #19519 closed, assigned to nobody

[2018-12-03 13:25] #19516 closed, assigned to nobody

[2018-12-03 13:34] orlangur commented on #19525
@Gagan557, this GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions/themes their respective vendors should be contacted instead.

[2018-12-03 13:34] #19525 closed, assigned to orlangur

[2018-12-03 13:38] magento-engcom-team commented on #19525
Hi @orlangur. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2018-12-03 13:56] hans-vereyken opened #19528 "Autogenerated url-rewrite with empty request_path"
### Preconditions (*)

Magento 2.2.5

### Steps to reproduce (*)

1. Go to 'Content' -> 'Elements' -> 'Pages'
2. Click 'Add New Page'
3. Fill in a title: '*' or '$' (any title without characters usable for the 'URL Key')
4. Leave the 'URL Key' empty
5. Click 'Save Page'
6. Clear 'Full Page Cache'
7. Load the Home page

### Expected result (*)

Home page

### Actual result (*)

Newly created CMS pa

[2018-12-03 13:56] magento-engcom-team commented on #19528
Hi @hans-vereyken. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-03 14:00] taqvi commented on #17285
I am working on local server. So I am looking for xampp with php 7.1.3. It will be supporting if you correct.

[2018-12-03 14:02] magento-engcom-team commented on #19501
@engcom-backlog-andrii Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96871`, `MAGETWO-96872` were created

[2018-12-03 14:07] magento-engcom-team commented on #19528
Hi @engcom-backlog-andrii. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issu

[2018-12-03 14:36] CelaenoBV commented on #14357
Based on the https://devdocs.magento.com/guides/v2.2/performance-best-practices/configuration.html#bundling-tips documentation, I disabled merging. Only minify + bundling is enabled.

The zxcvbn (with min) worked for me. The timezone data without did not. I included .min in the exclude and it worked.

Same with `<item type="file">Lib::jquery/jquery-ui-1.9.2.js</item>`, this doesn't work for me, bu

[2018-12-03 14:38] DanielRuf commented on #17285
See https://www.apachefriends.org/de/download.html (7.1.24).

[2018-12-03 14:38] agorbulin commented on #18154
@magento-engcom-team give me 2.2.7 instance

[2018-12-03 14:39] magento-engcom-team commented on #18154
Hi @agorbulin. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2018-12-03 14:39] magento-engcom-team commented on #18154
Hi @agorbulin, here is your [Magento instance](https://i-18154-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-18154-2-2-7.instances.magento-community.engineering/admin](https://i-18154-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-03 15:23] fritzmg opened #19529 "magento/community-edition requires composer/composer 1.4.1"
### Summary
Currently, the [magento/community-edition](https://packagist.org/packages/magento/community-edition) requires `composer/composer` in version `1.4.1`. This causes problems when you want to install certain packages, since the `composer/composer` depedency is locked to a specific version and likewise its dependencies are then restricted the a specific version set.

Is there any specific r

[2018-12-03 16:00] apptrian commented on #16958
Hello,
This is present in Magento 2.2.7 also. Bug is related to strict type and the method Magento\Sales\Block\Adminhtml\Items\Column\Name::truncateString()
For me error appears for Downloadable products in phtml file:
vendor/magento/module-downloadable/view/adminhtml/templates/sales/items/column/downloadable/name.phtml

So override the file in your theme and just above:

<?= $block->truncateStrin

[2018-12-03 16:17] cpartica commented on #19446
can you send us your composer lock and json file?
manual upgrade process in https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html
should solve this problem..

[2018-12-03 16:39] nbennett25 commented on #15935
Also able to reproduce this on 2.2.5

[2018-12-03 16:41] nbennett25 opened #19531 "Mass delete deletes unselected products"
_Originally posted by @nbennett25 in https://github.com/magento/magento2/issue_comments#issuecomment-443777390_

[2018-12-03 16:41] magento-engcom-team commented on #19531
Hi @nbennett25. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-03 16:50] phagens commented on #19178
I have exactly the same issue in Magento 2.2.6

How was this solved?

[2018-12-03 17:19] pdohogne-magento commented on #19446
@DanielRuf @drdreamm @abcpremium Can you try running `pre_composer_update_2.3.php` with the additional option `--repo=https://repo.magento.com/` and see if that solves your issue?  Thanks

[2018-12-03 17:23] fritzmg commented on #19529
Ah I see, I did not notice that this was already changed in `2.3`. It's not a huge issue for us and we will move on to `2.3` anyway.

[2018-12-03 17:30] slavvka commented on #12095
Hey @tonycr7,

[2018-12-03 17:59] nbennett25 opened #19533 "All products deleted after mass action request"
_Originally posted by @nbennett25 in https://github.com/magento/magento2/issues/15935#issuecomment-443777390_

The bug described in https://github.com/magento/magento2/issues/15935 still exists in v2.2.5.

Env:
Magento 2.2.5, PHP 7.0, 5.6.40 MySQL

Steps to reproduce:
1 Download clean Magento 2.2.5 CE, configure site, install sample data
2 Go to Catalog > Products
3 Select 3 products in the grid
4

[2018-12-03 18:00] magento-engcom-team commented on #19533
Hi @nbennett25. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-03 18:02] ruthgeridema commented on #18156
@magento-engcom-team give me 2.3.0 instance

[2018-12-03 18:03] magento-engcom-team commented on #18156
Hi @ruthgeridema. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-03 18:03] PathToLife commented on #19480
Can reproduce, fresh install of magento 2.3 on development wamp server is totally borked.

PLEASE INSTALL NEW RELEASES ON WINDOWS AT LEAST ONCE =P

[code]

gfguru thanks for the fix!
in: `www\vendor\magento\framework\View\Element\Template\File\Validator.php`

[2018-12-03 18:03] magento-engcom-team commented on #18156
Hi @ruthgeridema, here is your [Magento instance](https://i-18156-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-18156-2-3-0.instances.magento-community.engineering/admin](https://i-18156-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-03 18:08] ruthgeridema opened #19534 "GraphQL not working with GET"
### Preconditions (*)
1. Magento 2.3.0
2. Headers (accept + content-type) set to JSON
3. GET request

### Steps to reproduce (*)
1. Visit $url/graphql with GraphiQL or Postman

### Expected result (*)
1. Get Graphql response

### Actual result (*)
1. Internal server error

[2018-12-03 18:08] magento-engcom-team commented on #19534
Hi @ruthgeridema. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-12-03 18:09] ruthgeridema commented on #19534
@magento-engcom-team give me 2.3.0 instance

[2018-12-03 18:09] magento-engcom-team commented on #19534
Hi @ruthgeridema. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-03 18:09] ruthgeridema commented on #19534
@magento-engcom-team give me 2.3-develop instance

[2018-12-03 18:09] magento-engcom-team commented on #19534
Hi @ruthgeridema. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-12-03 18:09] magento-engcom-team commented on #19534
Hi @ruthgeridema, here is your [Magento instance](https://i-19534-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19534-2-3-0.instances.magento-community.engineering/admin](https://i-19534-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-03 18:14] ruthgeridema commented on #19534
Works with POST. Only GET not working.

[2018-12-03 18:33] #19531 closed, assigned to nobody

[2018-12-03 18:41] hostep commented on #15935
@nbennett25 an all others, it looks like the fix made it in 2.2.6, like was [previously already mentioned](https://github.com/magento/magento2/issues/15935#issuecomment-403922901), no idea where you got 2.2.5 from to be honest ...

[2018-12-03 18:42] hostep commented on #19533
Closing as duplicate of #15935, please continue discussion in there, looks like the fix made it in 2.2.6.

[2018-12-03 18:42] #19533 closed, assigned to nobody

[2018-12-03 18:59] nbennett25 commented on #19533
Thanks @hostep  - can you point me to the commit that fixed the issue? Also from #15935 it looks like it's reproduceable in 2.3.

[2018-12-03 19:01] nbennett25 commented on #15935
Thx @hostep  - I'll download and test with 2.2.6. You can download v2.2.5 (and others) from Magento under 'Release archive.'

[2018-12-03 19:06] hostep commented on #19533
It looks like it was fixed with reference to Magento's internal jira issue: `MAGETWO-91411`, if I look through the git history I can find this merge commit: https://github.com/magento/magento2/commit/7028b311c05 (which consists of a892d87bc3b & 70cbd3cf8b4)

[2018-12-03 23:38] rey8a commented on #8614
I am experiencing a similiar issue as nickpiro. I am using FedEx as my shipping merchant. I would like to only offer free shipping to the continental United States. I have enabled free shipping from Stores > Configuration >> Shipping Methods and created the Cart Rule

If ALL  of these conditions are TRUE
Shipping Country is United States
Shipping State/Province is not Alaska
Shipping State/Provinc

[2018-12-04 05:24] yatintheoctopustech opened #19536 "Exception #0 (Magento\Framework\Exception\NoSuchEntityException): No such entity with cartId ="
I am getting issue Exception #0 (Magento\Framework\Exception\NoSuchEntityException): No such entity with cartId =

i am getting this issue on my cart page only when cart page is blank otherwise it works fine.
And i am using only one default store.
My magento version is 2.2.3.

There are also same issues created related to this but no one seems to solve my problem

![capture](https://user-images.gi

[2018-12-04 06:36] kervin commented on #7367
Hello,

This works for me on 2.2.6. Change this line and reindex price for the configurable products and the simple products associated with it.

https://github.com/magento/magento2/commit/36a3c26bd7492f4638fe02085156d2510687a34a

[2018-12-04 07:14] magento-engcom-team commented on #19536
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 07:15] magento-engcom-team commented on #19534
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 07:27] #19536 closed, assigned to nobody

[2018-12-04 07:30] ruthgeridema commented on #19534
5. Verify that the issue is reproducible on 2.2-develop branch.

Can't tick this one since GraphQL is new in 2.3.x

[2018-12-04 07:31] engcom-backlog-nazar commented on #19534
@ruthgeridema i'm verifyng this issue.

[2018-12-04 07:31] magento-engcom-team commented on #19534
@ruthgeridema Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96884` were created

[2018-12-04 07:35] engcom-backlog-nazar commented on #19534
@ruthgeridema thank you for you report please open issue on -> https://github.com/magento/graphql-ce/issues

[2018-12-04 07:35] #19534 closed, assigned to nobody

[2018-12-04 07:36] magento-engcom-team commented on #19515
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 07:40] engcom-backlog-nazar commented on #19529
Hi @fritzmg can close this one as this was fixed on 2.3 ?

[2018-12-04 07:40] magento-engcom-team commented on #19528
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 07:42] fritzmg commented on #19529
Well, I left it open in case you want to actually change it in the 2.2 branch as well.

Btw. - why does magento require `composer/composer` anyway? Shouldn't this be a dev dependency instead (`"require-dev"`)?

[2018-12-04 07:45] engcom-backlog-nazar commented on #19528
Hi @hans-vereyken thank you for you report, this issue has already fixed on 2.3.0 release.
![selection_222](https://user-images.githubusercontent.com/40756439/49426467-54db6c00-f7a9-11e8-844c-9a26c8eb58f0.png)

[2018-12-04 07:45] #19528 closed, assigned to nobody

[2018-12-04 07:48] kanhaiya5590 commented on #19082
Thanks for update,

Any update for magento 2.3 because issue still there in 2.3

[2018-12-04 07:55] magento-engcom-team commented on #19494
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 08:32] jaromirmuller opened #19539 "Custom option styles are broken in product administraction"
### Preconditions (*)

1. Magento ver. 2.3.0

### Steps to reproduce (*)

1. In administraction go to Catalog > Products and edit any simple product or create new one.
2. Go to Customizable Options
3. Add a dropdown option and add few values, no matter how many.

### Expected result (*)

1. I would expect that form fields Title, Price, Price Type and SKU are aligned in one row. see attached screen

[2018-12-04 08:32] magento-engcom-team commented on #19539
Hi @jaromirmuller. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-12-04 08:34] jaromirmuller commented on #19539
@magento-engcom-team give me 2.3.0 instance

[2018-12-04 08:35] magento-engcom-team commented on #19539
Hi @jaromirmuller. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2018-12-04 08:35] magento-engcom-team commented on #19539
Hi @jaromirmuller, here is your [Magento instance](https://i-19539-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19539-2-3-0.instances.magento-community.engineering/admin](https://i-19539-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-12-04 08:38] jaromirmuller commented on #19539
Yes, I can confirm the issue in 2.3.0 vanilla instance.

[2018-12-04 08:39] jaromirmuller commented on #19539
See attached:
![snimek obrazovky 2018-12-04 v 9 39 05](https://user-images.githubusercontent.com/194480/49429306-78ea7d80-f7a8-11e8-8a15-deed0598abc2.png)

[2018-12-04 08:44] magento-engcom-team commented on #19539
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 08:46] thakurakhilesh opened #19540 "Magento 2.1.6 to 2.3.0 upgrade error - Cannot process definition to array for type enum"
Preconditions (*)

    Magento 2.1.6 community to  Magento 2.3.0 community
PHP  7.2.12
Steps to reproduce (*)
I disabled all extensions that I installled:Please find below list of enable and disable list of modules:
List of enabled modules:
Magento_Store
Magento_AdminNotification
Magento_Directory
Magento_Theme
Magento_Backend
Magento_Eav
Magento_Indexer
Magento_Variable
Magento_Customer
Magento_C

[2018-12-04 08:47] magento-engcom-team commented on #19540
Hi @thakurakhilesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-12-04 08:48] engcom-backlog-nazar commented on #19539
Hi @jaromirmuller thank you for you report, this issue already fixed in 2.3-develop and will be available in 2.3.1-release.

[2018-12-04 08:48] #19539 closed, assigned to nobody

[2018-12-04 08:48] magento-engcom-team commented on #19540
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 08:52] craigcarnell commented on #19540
https://github.com/magento/magento2/issues/19479

[2018-12-04 08:58] engcom-backlog-nazar commented on #19540
Hi @thakurakhilesh i'm closing this ticket as this not related to core magento modules. Also please look one comment higher

[2018-12-04 08:58] #19540 closed, assigned to nobody

[2018-12-04 09:05] dwaynebartels commented on #16854
Reopened issue because the bug still remains that you cant add new addresses that are default billing and or shipping. You have to override the existing address. We would like to have full control through API.

[2018-12-04 09:15] dwaynebartels commented on #16910
Please do not close this issue because of inactivity.
We want to see this fixed.

[2018-12-04 09:31] magento-engcom-team commented on #19515
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96887`, `MAGETWO-96888` were created

[2018-12-04 09:51] ishakhsuvarov commented on #19469
Reopening, to verify with vanilla CE instance and 500k customer accounts.

[2018-12-04 10:06] Userr017 commented on #19446
Can you tell me full command what you use for this?

[2018-12-04 10:10] xpoback commented on #14952
Has this been fixed in 2.2.7?

[2018-12-04 10:18] devqualwebs commented on #19494
@altafhussain10 can you please let me know how can I set "discount_compensation_tax_amount" to 0 for every quote?

[2018-12-04 10:18] maderlock commented on #18243
Is this fixed in 2.2.7 then?

[2018-12-04 10:29] engcom-backlog-nazar commented on #14592
Hi @salmanazeez786 i'm trying to reproduce this, i have expired credit cart, but this cart not appear in list when i whant to pay. And i try to do another way. -> https://developer.paypal.com/docs/classic/api/errors/?mark=api%20error%20codes#10500-to-10599
so i also have no duplicated orders. How else i can reproduce this ?

[2018-12-04 11:11] Jilco commented on #18243
Rob,

Just safe the settings again and the problem is gone.
________________________________
Van: Rob Egginton <notifications@github.com>
Verzonden: dinsdag 4 december 2018 11:19
Aan: magento/magento2
CC: Jilco; Mention
Onderwerp: Re: [magento/magento2] After 2.2.6 upgrade reports generates enormous .tar file in tmp/analytics folder in root (#18243)

Is this fixed in 2.2.7 then?

—
You are receivi

[2018-12-04 12:16] TomashKhamlai commented on #19221
@rikwillems, thank you for reporting this issue. This is an information from PO:

but currently the behavior is to display the price value in the grid from the Default Store View instead of All Store Views.

Checked on the latest 2.3-develop.

[2018-12-04 12:18] magento-engcom-team commented on #19221
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96897` were created

[2018-12-04 12:32] mareckigit commented on #8809
I have the same problem. I tested in on clear Magento 2.2.6 installation with Sample Data. I can't use different addresses for bundle items.

[2018-12-04 12:33] kunj1988 commented on #19509
@magento-engcom-team can you assign me, so I can try to resolve it.

[2018-12-04 12:36] abrarpathan19 commented on #19509
@kunj1988
The issue already resolved.

[2018-12-04 12:39] gavinlimely commented on #7367
Hi @kervin, I've tried that already. It doesn't actually work for me.

Somebody has detailed the problem I'm having in this post: https://magento.stackexchange.com/questions/242801/magento-2-2-6-possible-problems#answer-244821

Cheers

[2018-12-04 12:41] kunj1988 commented on #19509
@abrarpathan19, thank you for information.

[2018-12-04 12:45] RIFF-Noorul commented on #844
Removed vendor folder after composer install, againcomposer install -vvv and it applied all folders and files.

[2018-12-04 12:46] magento-engcom-team commented on #18359
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96899`, `MAGETWO-96900` were created

[2018-12-04 12:46] in-session opened #19542 "Database backup missing table information "inventory_stock_1""
Database backup cannot be restored within the same version of Magento in a blank database.

Magento 2.3.0
PHP 7.2.10
MySQL 5.7

[code]

I think the following part is missing in the sql backup file:

[code]

[2018-12-04 12:46] magento-engcom-team commented on #19542
Hi @in-session. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-04 12:47] magento-engcom-team commented on #19542
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 12:49] sskharate commented on #8426
Had this same issue on 2.2.5 Enterprise.
Thanks @sduif for your steps.

[2018-12-04 12:53] kervin commented on #7367
@gavinlimely

1. Did you try to reindex the products? $ids of simple and configurable?

Magento\Framework\Indexer\CacheContext\Price:executeList($ids)

2. At some point I saw that the price in catalog_product_index_price was not good...

You can try to replace final_price in the indexer by price.

vendor/magento/module-configurable-product/Model/ResourceModel/Product/Indexer/Price/Configurable.php

[2018-12-04 12:59] emilshamloo opened #19543 "Express Checkout Vipps dose not work"
Hi, I have installed Vipps extension. It works but, I have problem with EXPRESS CHECKOUT. in my site: https://www.delikatematgaver.no

### Preconditions (*)
Magento 2.2.2

### Steps to reproduce (*)
From the back-end, in the Configuration/sales/payment methods/Vipps/ express checkout, I enable it. please, look at the picture attached.
![payment-method](https://user-images.githubusercontent.com/290

[2018-12-04 12:59] magento-engcom-team commented on #19543
Hi @emilshamloo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-04 13:07] kunj1988 commented on #14112
@magento-engcom-team Is this merged on Magento 2.2 and 2.3?

[2018-12-04 13:10] pooshok opened #19544 "Grunt watch triggers entire page reload"
### Preconditions

1. Magento 2.3.0
2. Compiling less with grunt and livereload

### Steps to reproduce

1. grunt exec:`<theme>`
2. grunt less:`<theme>`
3. grunt watch

### Expected result
less changes triggers styles refresh

### Actual result
livereload triggers twice: first - refresh styles, second - reload entire page

### Proposed solution

Revert back this https://github.com/magento/magento2

[2018-12-04 13:11] magento-engcom-team commented on #19544
Hi @pooshok. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-04 13:18] magento-engcom-team commented on #19543
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 13:19] engcom-backlog-nazar commented on #19543
Hi @emilshamloo The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2018-12-04 13:19] #19543 closed, assigned to nobody

[2018-12-04 13:20] agorbulin opened #19545 "Restore CouponCode After Order Cancellation"
### Description (*)
**Problem:** when customer places order using personal (one time) coupon code
and order will be cancelled by PSP or manually, customer can not use it again.
**Magento ver.:** Reproduced on 2.2.* and 2.3.*

### Expected behavior (*)
Coupon code should be restored for re-use, if order cancelled

### Benefits
We have request from our Commerce customer for this feature and I've fou

[2018-12-04 13:20] magento-engcom-team commented on #19545
Hi @agorbulin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-04 13:25] #19542 closed, assigned to nobody

[2018-12-04 13:42] kunj1988 commented on #19545
I just reproduce the issue in Magento 2.3

[2018-12-04 13:59] magento-engcom-team commented on #19507
@TomashKhamlai Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2018-12-04 14:00] magento-engcom-team commented on #19507
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-04 14:01] magento-engcom-team commented on #19507
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96901`, `MAGETWO-96902` were created

[2018-12-04 14:14] magento-engcom-team commented on #19492
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-04 14:15] magento-engcom-team commented on #19492
@TomashKhamlai Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-96903`, `MAGETWO-96904` were created

[2018-12-04 14:15] magento-engcom-team commented on #19492
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-04 14:16] manojpal29 commented on #18138
Hi @adammada
I have same issue on magento 2.3 issue with WYSIWYG editor with special characters in URL

<img src="{{media url=&quot;504928.jpg&quot;}}" alt="" />

[2018-12-04 14:22] nbennett25 opened #19547 "Admin Secret Key breaking UI Grid component"
### Preconditions (*)

1. Magento 2.2.7, PHP 7.0, Mysql 5.6
2. Install sample Data

### Steps to reproduce (*)
1. Download and install Magento 2.2.7 and Sample Data
2. Log into the Admin
3. Go to Catalog > Products

### Expected result (*)
1. Product grid shows with products listed

### Actual result (*)
1. Something went wrong error
<img width="1333" alt="something_went_wrong" src="https://user-i

[2018-12-04 14:22] magento-engcom-team commented on #19547
Hi @nbennett25. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-12-04 14:22] magento-engcom-team commented on #18452
Hi @TomashKhamlai. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2018-12-04 14:39] magento-engcom-team commented on #3423
Hi @TomashKhamlai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2018-12-04 14:39] dudzio12 opened #19548 "No authorization for SOAP API using OAuth 1.0"
### Preconditions (*)
1. Tested on Magento 2.2.6 and 2.3.0

### Steps to reproduce (*)
1. Create new integration.
2. Allow all resources for it.
3. Generate access token and token secret using consumer data.
4. Make SOAP Api call using OAuth method (ex. storeWebsiteRepositoryV1 resource):
http://example.com/soap?wsdl&services=storeWebsiteRepositoryV1
5. Same OAuth authorization is working for REST

[2018-12-04 14:46] orlangur commented on #19545
@magento-engcom-team please evaluate such system behavior change. Should it be switchable preserving old behavior by default?

Removing labels so that issue can be processed properly.

[2018-12-04 15:19] magento-engcom-team commented on #19547
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2018-12-04 15:39] orlangur commented on #19545
@kunj1988 what do you mean? There is a PR with fix provided already.

[2018-12-04 16:59] andy17612 opened #19549 "magento 2.3 Design Configuration > Global page keep loading"
### Preconditions (*)

1. magento 2.3.0
2. php 71
3. mysql 5.7

### Steps to reproduce (*)

1. Open Admin Panel.
2. Chose "Content"
3. Chose "Design" ==> "Configuration"
4. After Design Configuration page loaded, then choose "Global" and click "Edit"

### Expected result (*)

1. Ussually on Global Design Configuration, we can upload Logo, email logo, and icon for homepage.

### Actual result (*)

[2018-12-04 16:59] magento-engcom-team commented on #19549
Hi @andy17612. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-04 17:00] ityetti opened #19550 "Variable @button-primary__font-family is undefined"
Hi. After upgrade Magento from v2.2.3 to v2.2.7 I faced with strange error when try to change Magento mode to production.

### Preconditions (*)

1. 2.2.7
2. Bug reproduce on different system (MacOS apache, Centos, Windows XAMPP)
3. PHP 7.0.*

### Steps to reproduce (*)

1. Upgrade Magento from v2.2.3 to v2.2.7
2. Run command **php bin/magento deploy:mode:set production -vvv**

### Expected result

[2018-12-04 17:00] magento-engcom-team commented on #19550
Hi @ityetti. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-04 17:06] andy17612 commented on #19486
@jurpro Are you sure is theme bug? i am getting same issue,thank you

[2018-12-04 17:40] sebastianrothbucher commented on #10821
to throw in some more pieces of clarity (after long debugging - thanks for the pointers above): the problem seems to occur when the include_path contains directories that are not in open_basedir - so adjusting either (or leaving out open_basedir) would work

[2018-12-04 18:02] omiroshnichenko commented on #19534
Hi @ruthgeridema, Could you please provide use case for GET request on $url/graphql endpoint?

[2018-12-04 18:34] ejaz-alam opened #19553 "Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "38" already exists"
### Preconditions (*)

1. Magento 2.2.6
2. Ubuntu 16.04

### Steps to reproduce (*)

1. Go to review module.
2. Enter the random page number and apply the filter

### Expected result (*)

1. http://i.imgur.com/wxzhlXx.png

2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2018-12-04 18:35] magento-engcom-team commented on #19553
Hi @aliejaz55. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-12-04 19:03] lenaorobei commented on #19477
@deefco `magento/marketplace-eqp 2.0.0` release is [available now on GitHub](https://github.com/magento/marketplace-eqp/releases/tag/2.0.0) as well as on repo.magento.com.
Please try `composer require magento/marketplace-eqp --dev`.

[2018-12-04 21:52] slavvka commented on #14586
Closing as not a bug. The settings `Set Sales -> Checkout -> My Cart Link` relates only to the number of items shown in the box near `LOGIN` link, i.e. the link which opens the cart

[2018-12-04 21:52] #14586 closed, assigned to yuliantoadi

[2018-12-05 00:19] jurpro commented on #19486
@andy17612 I don't know. My dev theme still help without solved. They told me it is very strange because they didn't change any core files.
If you got the same error, then this is a bug from 2.3.0 for migrating from 2.2.7

I don't understand what and how to use Magento vanilla. Ussually if I ask in github, the solution is from team or other users not using vanilla.

[2018-12-05 01:31] gfxguru opened #19555 "Blank admin page after new install 2.2.7"
### Preconditions (*)

Magento 2.2.7 and 2.3

Windows 2012 R2 New Magento install, Apache 2.4, php 7.1.24 for Magento 2.2.7 and 7.2 for Magento 2.3
1.  Trying to login to admin backend produces a blank page for admin.
2.  same results for both versions 2.2.7 and 2.3 on this machine

### Expected result (*)
see login page

### Actual result (*)

1. see https://github.com/magento/magento2/issues/194

[2018-12-05 01:31] magento-engcom-team commented on #19555
Hi @gfxguru. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-12-05 01:45] Accurno commented on #7265
For anyone using Google's PageSpeed, try disabling it first see if it'll fix the issue. The JS defer was causing the issue in my case and the Magento asset files was mistakenly being loaded relatively to authorize.net

https://secure.authorize.net/static/version1543968498/frontend/CTG/custom/en_US/css/styles-l.css

Instead of

https://mydomain.com/static/version1543968498/frontend/custom_template/

[2018-12-05 02:45] magento-engcom-team commented on #19418
Hi @vasilii-b. Thank you for your report.
The issue has been fixed in magento/magento2#19419 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [5937d865c4d6f358ac6ff66cc6217275f293e416](https://github.com/magento/magento2/commit/5937d865c4d6f358ac6ff66cc6217275f293e416)

The fix will be available with the upcoming 2.3.1 release.

[2018-12-05 02:45] #19418 closed, assigned to nobody

[2018-12-05 02:45] magento-engcom-team commented on #17753
Hi @vbuck. Thank you for your report.
The issue has been fixed in magento/magento2#18849 by @Rus0 in 2.3-develop branch
Related commit(s):
 - [2054fab1731a63728a6b4e573cefbbf3e64d6c85](https://github.com/magento/magento2/commit/2054fab1731a63728a6b4e573cefbbf3e64d6c85)

The fix will be available with the upcoming 2.3.1 release.